[2019-11-06 13:55] gsmet commented on #5254
[code]

Looks like we are missing a reflection registration. This should be an easy fix, the hardest part will be to verify it works.

[2019-11-06 13:56] gsmet commented on #5247
@Ravisankar-Challa can you try @jaikiran 's PR mentioned above?

Get the code from the PR, build with `mvn clean install -DskipTests -DskipITs` then use `999-SNAPSHOT` as a version.

Thanks

[2019-11-06 13:59] gsmet commented on #5252
@mkouba could you have a look at that one? There might be something fishy in how Jandex handles repeatable annotations but we really need to figure it out as most of our code is not prepared for having them handled a different way than usual annotations.

[2019-11-06 14:04] ebullient commented on #1888
Thank you, Sanne!

[2019-11-06 14:20] aguibert commented on #5251
sure, I can have a look at this one today

[2019-11-06 14:23] gastaldi commented on #5252
Definitely a bug. I managed to reproduce it in this testcase:

[code]

[2019-11-06 14:29] gsmet commented on #5249
@aguibert and while fiddling with Kotlin, you might want to have a look at that one too. I think we used to do it at some point.

There might be useful info in the Kotlin guide.

[2019-11-06 14:35] mkouba commented on #5252
@lkrzyzanek Yes, that's expected - for repeatable annotations you get the "container" annotation.

@gastaldi Thanks for the reproducer!

[2019-11-06 14:35] gsmet commented on #5249
Ah, in fact, it looks as if we have a PR for it there: https://github.com/quarkusio/quarkus/pull/5032 .

[2019-11-06 14:46] gsmet commented on #5252
@mkouba what bothers me a bit with this is that there's a good chance some of our code does not deal with this properly. I would have expected to get the inner annotations when trying to get them.

[2019-11-06 14:47] gastaldi commented on #5252
I have a fix for this, let me send a PR. Feel free to reject or accept it :)

[2019-11-06 14:49] gsmet commented on #5252
Is it a general fix or a localized one? I'm really not comfortable having everyone to think about this every time they want to get annotations.

[2019-11-06 14:50] gastaldi commented on #5252
A localized one, the general fix would involve changing Jandex AFAIK

[2019-11-06 14:51] agoncal commented on #1724
I've just hit the same issue (Quarkus version 0.28.1). Basically I have a `Book` Panache entity:

[code]

Manipulated by a transactional service :

[code]

And the Quarkus test injects the service:

[code]

The test fails and Quarkus complains about the `findById` method (I do not have any `@BeforeAll`):

[code]

[2019-11-06 14:53] mkouba commented on #5252
There is. On the other hand, any repeatable annotation processed by a build step should have a test. I know we implemented this for  `io.quarkus.vertx.web.Route` and `io.quarkus.scheduler.Scheduled`.

Well, repeatable annotations are compiled into the container annotations.

We can't change the behavior of `IndexView#getAnnotation()` as it could break existing code. Reflection API also has specifi

[2019-11-06 14:57] FroMage commented on #1724
Yeah, don't declare your service as a field: look it up with the programmatic API. That's the workaround, sorry :(

[2019-11-06 14:58] gastaldi commented on #5252
Since this issue is assigned to @mkouba (just realized after opening the PR) I closed mine in favor of his :wink:

[2019-11-06 14:59] mkouba commented on #5252
See my comment above...

[2019-11-06 15:13] gsmet commented on #5252
@mkouba I get your point... but... how do I deal with it on HV for instance? I have a ton of constraint annotations, some of them are repeatable, not all of them and users can also define their own with their own container.

Is there a way to handle that without it becoming overly complicated? For me, it's the work of the index to manage this for me. I shouldn't have to go for the containers and u

[2019-11-06 15:58] bvarner commented on #5219
I have worked on _many_ hibernate projects over the years where the ability to customize the SQL connection context and state before it was handed off to the ORM provider was necessary.

Specifically, (in my experience) I've used it (and seen it used) to enable data-base level auditing that maps back to the Principal in use at the application level, or to enhance the instrumentation connection usa

[2019-11-06 15:59] oztimpower commented on #5249
+ @geoand

[2019-11-06 16:06] FroMage opened #5257 "Custom error page text for known errors"
If we forget to configure the database for the Hibernate ORM extension, we get a nice exception page in dev mode, but we should be able to not even show the exception and display specific info such as link to the guide, config and show sample configuration options the user can use to fix the issue. With an option to show the stack trace if required.

So we need a way to tie error page content to s

[2019-11-06 16:06] FroMage commented on #5257
Wanted this after seeing @emmanuelbernard 's demo

[2019-11-06 16:47] Sanne commented on #5219
That's awesome feedback, thanks!

Agreed then let's make sure all use cases can be covered - and yes let's skip multi-tenancy at this point as that's a complex one which will need a series of dedicated issues.

Agroal supports listeners; I'm not sure if they are flexible enough for all cases you describe, and we're not exposing any way of registering them, but that's certainly a reasonable request

[2019-11-06 17:22] agoncal opened #5259 "Persisting a @ElementCollection List<String> doesn't seem to work on a Panache Entity"
**Describe the bug**

You can find the entire code here : https://github.com/agoncal/agoncal-sample-quarkus/tree/master/05-PanacheEntities

I have a `Book` Panache entity with a `@ElementCollection List<String>`. After persisting a book with a list of tags, I retrieve the book but the tag list is empty.

The Book Panache entity

[code]

The entity is manipulated by a transactional service (not a P

[2019-11-06 17:55] belyaev-andrey opened #5261 "Entities hierarchy are not supported by Spring JPA repositories in Quarkus"
**Describe the bug**
If you have entities hierarchy in your application:
[code]
and a JPA repository that uses an attribute from the parent entity:
[code]

Then Quarkus application does not start with an error:
[code]

**Expected behavior**
The application should start properly and the method should search by name.

**To Reproduce**
Steps to reproduce the behavior:
1. Check out sample application

[2019-11-06 18:25] gsmet commented on #5261
/cc @geoand

[2019-11-06 18:35] codecr opened #5262 "Problem creating native image (CR1) Error: Unsupported features in 3 methods"
**Image generation failed with simple Rest**
If you create a simple app with Quarkus CR1 and add the extensions hibernate-orm,mariadb,resteasy-jsonb,openapi you will get an error building the native image:

Error: Unsupported features in 3 [methods]
[error.txt](https://github.com/quarkusio/quarkus/files/3816145/error.txt)
[error.txt](https://github.com/quarkusio/quarkus/files/3816146/error.txt)

C

[2019-11-06 18:35] codecr commented on #5262
[error.txt](https://github.com/quarkusio/quarkus/files/3816151/error.txt)

[2019-11-06 18:55] sberyozkin opened #5264 "Update to smallrye-jwt-2.0.10"
**Description**
`smallrye-jwt-2.0.10` is in Maven Central now

[2019-11-06 19:09] Ravisankar-Challa commented on #5196
Have you tested using amazon api gateway? Because I am seeing base64 encoded response form api gateway as well.
Please have a look at the screen shot body is base64 encoded.

![image](https://user-images.githubusercontent.com/11788842/68329364-17890800-00f7-11ea-9d3d-2de4fee8e7ea.png)

[2019-11-06 19:10] jkbrock commented on #4560
New images have been posted to the website and the master slide deck has been updated. It should be OK to resolve.

[2019-11-06 19:14] Ravisankar-Challa commented on #5247
Tested with 999-SNAPSHOT now I am getting a proper response. Thanks for fixing.

[2019-11-06 19:17] machi1990 commented on #5247
Re-opening as the PR #5250 is not yet merged.

[2019-11-06 19:37] geoand commented on #5261
@iocanel are perhaps interested in this one?

[2019-11-06 19:46] geoand commented on #5249
@oztimpower I'll be looking at this first thing next week! Sorry for not being able to review sooner :)

[2019-11-06 19:52] radcortez commented on #1724
@agoncal try to wrap your service into another (can use Lombok Delegate). It does work if the injection is indirect by another service.

[2019-11-06 22:11] michalszynkiewicz commented on #4826
Some further debugging shows that if a bean is created before the retry operation, it is propagated to retry properly. It seems it's the back propagation that fails only.

It's normal that a request-scoped bean is initialized when it's used and not before, isn't it?

[2019-11-06 22:57] emmanuelbernard opened #5267 "Offer a Quarkus asciiart banner"
It should be displayed once per Quarkus dev run. And probably not in tests.
And be overridable for the usâmes like Keycloak with a small powered by Quarkus subline.

CC @cescoffier

[2019-11-06 23:03] stuartwdouglas commented on #641
Let's just close it for now, there are no current plans to implement this.

[2019-11-06 23:03] #641 closed

[2019-11-07 00:43] johnaohara opened #5269 "Timezone mappings missing for Mysql JDBC driver in native mode"
**Describe the bug**
MySQL jdbc driver fails to create connection as timezone mapping in missing in native image. New connection fails with `com.mysql.cj.exceptions.WrongArgumentException: No timezone mapping entry for 'Etc/GMT'`

**Expected behavior**
Database connection to be created

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project using `quarkus

[2019-11-07 02:48] stuartwdouglas commented on #5267
Can we do this on project creation instead of on every startup?

You see the asciiart once you might think its cool, you see it multiple times a day every day then it is basically just noise, and reducing logging noise was one of the design goals.

[2019-11-07 06:07] maxandersen commented on #5267
I don’t believe it will be noise. It will be a useful visual marker to know when/where quarkus started and make it instantly recognizable.

I agree it should be as small as possible but more than just one line :)

[2019-11-07 07:07] emmanuelbernard commented on #5267
I don't think project creation is enough but +1 for an option to hide for allergic folks.

[2019-11-07 08:20] mkouba commented on #5252
@gsmet I understand. We will need to add something similar to `java.lang.reflect.AnnotatedElement.getAnnotationsByType(Class<T>)` to the `IndexView`. I've created https://github.com/wildfly/jandex/issues/67.

[2019-11-07 08:27] FroMage commented on #4826
OK, that's very helpful. We had a long discussion about this with @manovotn and @mkouba and the takeaway point is that ArC should actually propagate a mutable request context, so forward and backward propagation is supported (it's the same underlying storage). For Weld, this is not the case and it's a copied request context with no backward propagation.

So, in theory it should work here, because

[2019-11-07 08:41] mkouba commented on #4826
@manovotn ^ WDYT?

[2019-11-07 09:12] jaikiran commented on #5269
It looks like the database server is responding with a timezone string `Etc/GMT` which the driver isn't able to translate back to `GMT` for some reason. One workaround you can do to get past this is to include `serverTimezone=GMT` in the JDBC URL string as a key/value property.

Is this reproducible only in native mode?

[2019-11-07 09:15] loicmathieu commented on #5223
OK , closed this one and link the documentation PR to #4512

[2019-11-07 09:15] #5223 closed

[2019-11-07 09:33] nelsongraca opened #5274 "Bug in PanacheJpaRepositoryEnhancer"
**Describe the bug**
When implementing `PanacheRepositoryBase` on an abstract class so I can extend from it on my repositories when running the jar I get the following error:
Caused by: java.lang.ClassFormatError: Duplicate method name "findById" with signature "(Ljava.lang.Object;)Ljava.lang.Object;" in class file com/flowkode/panache/TestEntityRepository

**To Reproduce**
Steps to reproduce the

[2019-11-07 09:37] jaikiran commented on #5269
Having said that, I do see that there probably is a bug in here. I'll take a more detailed look in a while.

[2019-11-07 09:38] johnaohara commented on #5269
Yes, works fine in JVM mode.  Probably a class/method has been dce'd during native image compilation

[2019-11-07 09:58] FroMage commented on #5259
I can only reproduce this in a test class. This code works when invoked in a REST endpoint. So this is a SNEAKY duplicate of #1724. I'll leave it open to make sure we add a test for it when we fix #1724.

[2019-11-07 10:14] HeavyTobi opened #5275 "Generating OpenAPI as JSON or YAML file on build"
**Description**
Currently, as far as I know, it is only possible to generate the OpenAPI file when configuring it using the application.properties and the openapi plugin. I need to generate the file in a Gradle task as I want to get the OpenAPI file in a Jenkins pipeline.

**Implementation ideas**
Maybe it is possible to add a gradle and maven task to the openapi extension, which generates the Ope

[2019-11-07 10:47] sberyozkin commented on #4482
@CSTDev thanks for this information

[2019-11-07 10:57] sberyozkin opened #5277 "Sending clientId/clientSecret as form params during a code flow does not work with Okta"
**Description**
Aaron Anderson linked to [this Vertx OAuth2 issue](https://github.com/vert-x3/vertx-auth/issues/319) which is about the adapter duplicating the OIDC client authentication in the Authorization header by sending the same clientId and clientSecret info as the form parameters which some OIDC providers such as Okta don't like.

**Implementation ideas**
Introduce a configuration property

[2019-11-07 11:05] manovotn commented on #4826
Yes, we have lazy bean creation.

It could be; that or something inside Arc `RequestContext` implementation? From what I know, it should be like Stephane says - we specifically changed Arc to propagate whole map of instances so this won't be an issue.
The propagation looks ok but we did some changes to req. context impl....I'll start there.

[2019-11-07 11:15] manovotn commented on #4826
Problem was likely introduced when we changed req. context state representation to [`InstanceHandlesContextState`](https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/InstanceHandlesContextState.java) because then we use `toConcurrentMap()` which creates new map that we then set.

I think that could be it?
Here is what we do now: http

[2019-11-07 11:36] mkouba commented on #4826
Yes, that's very likely the problem. We should 1. fix it, 2. add a test that validates this specific way of context propagation for `RequestContext`.

[2019-11-07 11:41] marcinczeczko commented on #5115
I found that if extension is just added to the project, during the validation phase the https://github.com/quarkusio/quarkus/blob/fc510298c26703115d0482a1b2a4cb1a1f1e48bf/extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java#L179 method gets beans from validationPhase build item. Among all the beans there is

[2019-11-07 11:44] #4493 closed

[2019-11-07 11:44] #5264 closed

[2019-11-07 11:53] marcinczeczko commented on #5115
Looks like the `SmallRyeFaultToleranceProcessor` in the runtime causes all other extensions to run recorders even if extension is not used.
E.g. if `quarkus-oidc` extension added I see
[code]
I'm not sure, but maybe it's an expected behaviour....

[2019-11-07 12:06] blsouthr commented on #5209
@mkouba Apparently, Weld did the optimization to solve the leak problem if
there is no @PreDestroy callback so its not needed keeping the references
https://issues.jboss.org/browse/WELD-1076
source: https://github.com/weld/core/blob/master/impl/src/main/java/org/jboss/weld/contexts/unbound/DependentContextImpl.java#L88

Would it make sense to do the same enhancement in quarkus?

[2019-11-07 12:13] gastaldi commented on #5275
Maybe https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator-maven-plugin can help?

[2019-11-07 12:13] marcinczeczko commented on #5115
Ignore my previous thinking :) Actually it helped me to find out what's wrong. See the PR#5280

[2019-11-07 12:31] mkouba opened #5281 "ArC - optimize CreationalContext"
Do not store dependent instances that have no `@PreDestroy`/disposal method and no transitive dependency with `@PreDestroy`/disposal method.

See https://github.com/weld/core/blob/master/impl/src/main/java/org/jboss/weld/contexts/unbound/DependentContextImpl.java#L80-L109 and https://issues.jboss.org/browse/WELD-1076.

[2019-11-07 12:31] mkouba commented on #5209
@blsouthr Good catch! Yes, I think that we could try to implement a similar optimization in quarkus. I've created https://github.com/quarkusio/quarkus/issues/5281.

[2019-11-07 12:37] johnoliver commented on #4254
for future reference for anyone who may stumble across this issue when deploying to openshift, I had to set `-Dvertx.cacheDirBase=/tmp/vertx` by creating an environment variable called `JAVA_OPTS` set to that value. Setting `-Djava.io.tmpdir=/tmp` alone did not seem to be sufficient.

[2019-11-07 12:42] machi1990 commented on #4254
Thanks for the tip. Maybe we can add it in the doc, WDYT? @gsmet @cescoffier

[2019-11-07 12:49] geoand commented on #4254
That would seem like a valuable addition to the vertx guide

[2019-11-07 12:50] mmusgrov opened #5282 "narayana-jta extension: Improve the way narayana properties are handled"
The extension has some issues around how the Narayana transaction manger properties are initialised:

1. It records the default properties at build time - Narayana normally sets config properties using reflective access to setters on various beans. Version 5.10.0.Final of Narayana adds a method for directly passing pre-configured beans (and this will avoid the need for reflective access code).
2.

[2019-11-07 12:51] machi1990 commented on #4254
@johnoliver would you like to contribute the tip here https://github.com/quarkusio/quarkus/blob/9eb5164f24a2c3bc6b4015bc4e399a7ef955704c/docs/src/main/asciidoc/vertx.adoc ?

[2019-11-07 12:56] dfranssen commented on #4120
@gsmet is there missing some information in order to get it assigned to a release?

[2019-11-07 13:36] sberyozkin opened #5284 "Default realm is always returned with HTTP 401"
**Describe the bug**
Andrey has reported that a default `Quarkus` realm is returned with 401 even when a property such as `quarkus.security.users.file.realm-name=MyRealm` is set.

**Expected behavior**
`WebAuthenticate` needs to have a custom realm name set.

[2019-11-07 13:37] sberyozkin commented on #3685
I've created #5284 to confirm and fix if needed

[2019-11-07 13:37] #3685 closed

[2019-11-07 13:44] alexander-dammeier commented on #3598
@Ladicek Thank you, I corrected it. Now CORS works correctly for me with Quarkus 1.0.0.CR1 (Wow, third release this week, you are ultra fast).
Can you please add a comment to the origins property in your documentation, that the default value allows all origins, maybe to the default value section?

Thank you very much for your help.

[2019-11-07 13:52] Ladicek commented on #3598
@alexander-dammeier Well the documentation already says that, in the "Description" column.

[2019-11-07 14:06] #5115 closed

[2019-11-07 14:12] sean-scott-lr commented on #820
I have noticed that 1.0-RC1 has been released.  However, it appears that there is still no support for GRPC.  Does this mean that HTTP/2 has also not been stabilized?

When is support for these features planned on the roadmap?  ( Note, I know this is an open source project... and thank you for your efforts! But, we are wrapping up technology selection phase, and GRPC support is a requirement for u

[2019-11-07 14:19] dmlloyd opened #5286 "DynamoDB processor accesses run time config"
**Describe the bug**
The `io.quarkus.dynamodb.deployment.DynamodbProcessor` class accesses `io.quarkus.dynamodb.runtime.DynamodbConfig` from non-recorder steps.  The run time configuration is not normally available during build and this functionality will fail in upcoming releases.  Run time configuration must be checked at run time only.  Build time configuration must be defined as a build time c

[2019-11-07 14:21] johnoliver commented on #4254
@machi1990 https://github.com/quarkusio/quarkus/pull/5287

[2019-11-07 14:22] sberyozkin commented on #3598
Let me close it then :-)

[2019-11-07 14:23] #3598 closed

[2019-11-07 14:27] sberyozkin opened #5288 "Access Token is not available to the OIDC 'web-app' applications"
**Description**
They only see `IdToken`, but if they need to do the outbound calls with the access tokens then no `AccessTokenCredential` will be available, and attempting to inject it as `JsonWebToken` will throw an exception

**Implementation ideas**
Make the access token returned as part of the code grant exchange available as `AccessTokenCredential` and also attach to it a refresh token if it

[2019-11-07 14:28] sberyozkin commented on #5001
This issue depends on #5288

[2019-11-07 14:30] mbecca opened #5289 "OWASP Dependency-check gradle plugin don´t work anymore"
Hi,

After upgrade from 0.22.0 to 1.0.0.CR1:

./gradlew quarkusBuild -s :

org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':quarkusBuild'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter$3.accept(ExecuteActionsTaskExecuter.java:151)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter$3.accept(ExecuteActionsTaskExecuter

[2019-11-07 14:32] nelsongraca commented on #5274
Being fixed in #5276

[2019-11-07 14:51] Karm opened #5291 "Quarkus maven plugin seems to ignore my mainClass setting"
It seems that at some point between versions 0.22.0 and 1.0.0.CR1, Quarkus maven plugin stopped recognizing settings such as:

[code]

## Platform
* graalvm-ce-19.1.1 Linux x86_64
* Apache Maven 3.6.0
* OpenJDK 11

## Steps to reproduce:

 * clone https://github.com/Karm/qjf.git
 * mvn clean package -Pnative
 * get some json file and let it format it:
 * curl https://starter.karms.biz/api/supportM

[2019-11-07 15:06] hpehl commented on #820
@sean-scott-lr FYI: There's a discussion on the forum [1] how to bring gRPC support to Quarkus.

[1] https://groups.google.com/d/msg/quarkus-dev/FpPN5Bei6-0/2YtEXSxoDgAJ

[2019-11-07 15:25] #5288 closed

[2019-11-07 15:32] belyaev-andrey commented on #5284
It looks like this is it and you're aware of this issue.

```io.quarkus.vertx.http.runtime.security.HttpAuthenticator```
lines 43 - 48
[code]

[2019-11-07 15:40] Xnyle opened #5293 "NPE while :quarkusBuild gradle task when @ServletSecurity annotation not present on servlet"
Trying to build a runnable jar with quarkus gradle plugin (versions tested 0.26 and CR1), i'm getting (line numbers from CR1):

Caused by: java.lang.NullPointerException
at io.quarkus.undertow.deployment.UndertowBuildStep.build(UndertowBuildStep.java:349)

Corresponding code is:

`ssmd.getEmptyRoleSemantic() == EmptyRoleSemanticType.DENY ? DENY : PERMIT);`

ssmd from webMetaData.getAnnotations().g

[2019-11-07 15:48] Xnyle commented on #5293
Just confirmed, after adding an empty @ServletSecurity annotation to all my servlets NPS disappears.

[2019-11-07 15:51] geoand commented on #5293
@Xnyle any change you can provide a small reproducer?

[2019-11-07 15:54] Xnyle commented on #5293
Just throw in an empty class annotated with only @WebServlet(urlPatterns = {"/something/*"})
**without** @ServletSecurity annotation.

or just change `ssmd.getEmptyRoleSemantic() == EmptyRoleSemanticType.DENY ? DENY : PERMIT)` to `ssmd == null ? PERMIT : ssmd.getEmptyRoleSemantic() == EmptyRoleSemanticType.DENY ? DENY : PERMIT)`

[2019-11-07 15:55] geoand commented on #5293
I'll give it a try

[2019-11-07 15:55] Sanne opened #5296 "Dependency on io.sundr:sundr-codegen imports system dependency"
**Describe the bug**
The `io.sundrbuilder-annotations` used by the Kubernetes extension is depending transitively on `io.sundr:sundr-codegen`, whose pom includes this section:

    <profile>
      <id>jdk9</id>
      <dependencies>
        <dependency>
          <groupId>com.sun</groupId>
          <artifactId>tools</artifactId>
          <version>1.7</version>
          <scope>system</scope>

[2019-11-07 15:55] Xnyle commented on #5293
And ofc add quarkus-undertow dependency

[2019-11-07 16:02] geoand commented on #5293
@Xnyle what is `ofc`?

[2019-11-07 16:13] geoand commented on #5293
I haven't been able to reproduce this yet

[2019-11-07 16:29] hantsy commented on #1997
Like RSocket support in Spring, I think there are a few things need to be done if considering RSocket as an alternative of REST.
1. Standalone lightweight Netty based embedded RSocket server via TCP/Websocket, or add Rsocket Support to an existing Netty server(serves Rest over HTTP, and TCP/Websocket for Rsocket at the same time).
2. RSocket client and server-side programming abstraction and commu

[2019-11-07 16:30] ppalaga commented on #305
This needs to get addressed. Due Secrets and ConfigMaps usage not being documented properly, we loose in comparisons against Micronaut - see https://speakerdeck.com/fbascheper/2020-a-space-odyssey-with-micronaut-and-quarkus?slide=29

[2019-11-07 16:35] fdelbrayelle opened #5297 "Unable to load the config property type: [Ljava.lang.String through native image"
The application is running in error when launching a native image of an application getting a config property as a String[] :

[code]

This bug is not reproduced when launching the application without the native image with `mvn clean compile quarkus:dev`.

application.properties :

```partners.available=ABC,DEF```

PartnerService.java :

[code]

Updating the availablePartners from String[] to List

[2019-11-07 16:35] Xnyle commented on #5293
"Of couse".

That's very strange. Have you looked at the source code? There is supposed to be a list of Annotations, but there is no list In my case, just null. I didn't look at where that list is coming from but I'm pretty sure you always get null at that point if there is not a single @ServletSecurity annotation in your test case.
Mit freundlichen Grüßen
Björn Schmidt

Am 7. November 2019 17:13:

[2019-11-07 16:39] ppalaga opened #5298 "Document how to discover services on Kubernetes"
Not having this documented misleads users to think that Quarkus does not support the service discovery. This also makes us loose in comparison with other frameworks - see https://speakerdeck.com/fbascheper/2020-a-space-odyssey-with-micronaut-and-quarkus?slide=29

[2019-11-07 16:43] geoand commented on #5293
I'll give it another shot soon

[2019-11-07 16:54] sberyozkin commented on #5001
There are 2 RefreshToken classes in the source :-). So another clean up PR is on the way :-). Just copying what I said in the closed #5920.

[code]

[2019-11-07 16:59] geoand commented on #5293
I tried again and still can't reproduce. I also looked at the source code and I didn't see anything fishy.
Can you please create a small reproducer that I can test, since I must be missing something :)

[2019-11-07 17:12] geoand commented on #5296
@iocanel has already fixed this in the upstream dekorate library so we'll need an update to pick it up.

@iocanel would you like to take care of that?

[2019-11-07 17:13] metacosm commented on #284
I'm interested in helping with this… been in the go "dark" side for a while and have to admit that creating CLIs with things like [cobra](https://github.com/spf13/cobra) is quite pleasant and fast compared to what I've seen in the Java world last time I looked.

[2019-11-07 17:16] epif4nio opened #5299 "Error when using "quarkus-hibernate-orm" dependency on Google App Engine standard"
Just by adding the **quarkus-hibernate-orm** dependency to a project and trying to run it on Google App Engine standard, I get this error:

`2019-11-07 16:58:30,265 WARN [com.arj.ats.common] (main) ARJUNA048006: cannot create new instance of com.arjuna.ats.internal.arjuna.objectstore.ShadowNoFileLockStore: java.lang.reflect.InvocationTargetException
...
Caused by: com.arjuna.ats.arjuna.exceptions.

[2019-11-07 17:18] geoand commented on #5297
@fdelbrayelle you are using a fairly old (in the supersonic Quarkus sense :)).

I tried this this with the latest Quarkus version and couldn't reproduce it and therefore I'm going to close this.
Feel free to reopen with more information if you try the latest version and find the problem again and can provide more info.

Thanks

[2019-11-07 17:20] geoand commented on #5261
Or perhaps @ebullient ?

[2019-11-07 18:00] ebullient commented on #5261
I can try next if no one beats me to it. I think I finally have my brain wrapped around the other one.

[2019-11-07 18:01] geoand commented on #5261
Cool, let me know if you need any sort of help 😎

[2019-11-07 18:03] jamesfalkner opened #5300 "Kafka configuration using configuration profiles doesn't work"
**Describe the bug**
When I use configuration profile prefixes in my `application.properties` like `%prod` to prefix Kafka settings it doesn't seem to pick it up when run as a fat JAR in a container, even though Quarkus claims at starting that it's running with the `prod` profile. Depending on which Kafka settings I prefix with `%prod` my application never initializes mediators during startup with

[2019-11-07 18:22] sberyozkin opened #5301 "JsonWebToken raw_token claim is not set in the OIDC flows"
**Describe the bug**
MP JWT `JsonWebToken` has a `getRawToken()` method which should return an original token; could be useful in scope of OIDC `web-app` applications which need to use AT to do the outbound calls (though both `IdTokenCredential` and `AccessTokenCredential` are also of help)

**Expected behavior**
`JsonWebToken.getRawToken()` should return an original id or access token

[2019-11-07 18:24] Xnyle commented on #5293
I'll try to strip my usecase down tomorrow.
Mit freundlichen Grüßen
Björn Schmidt

Am 7. November 2019 17:59:44 MEZ schrieb Georgios Andrianakis <notifications@github.com>:

[2019-11-07 18:25] geoand commented on #5293
Thanks!

On Thu, Nov 7, 2019, 19:24 Xnyle <notifications@github.com> wrote:

[2019-11-07 18:25] geoand commented on #5293
Thanks!

[2019-11-07 18:47] sberyozkin opened #5303 "Support the injection of AccessTokenCredential and IdTokenCredential"
**Description**
Let users do
[code]
instead of
[code]

and the same for `IdTokenCredential`.

A bit simpler when nothing else is required from `SecurityIdentity`.
(Based on Pedro's idea to inject refresh tokens as token creds)

**Implementation ideas**
Add a simple producer

[2019-11-07 19:29] bvarner commented on #5219
Thanks for the feedback.
Before you'd responded, I already had a fork that was working, so I've gone ahead and submitted a PR for _this_ issue.

It looks like there could be some work to do yet around wiring up agroal datasources with hibernate (especially in the cases there is or may be more than one agroal datasource defined), and I think that all bleeds a bit into this topic.

Before opening th

[2019-11-07 19:37] michalszynkiewicz commented on #4826
fixed

[2019-11-07 19:37] #4826 closed

[2019-11-07 19:39] lgarin opened #5305 "ClassNotFoundException with quarkus.hibernate-search.elasticsearch.analysis.configurer"
**Describe the bug**
Starting with Quarkus **0.28**, the Quarkus augmentation phase fails with a `ClassNotFoundException` as soon as a value is configured using the property `quarkus.hibernate-search.elasticsearch.analysis.configurer`.

**Expected behavior**
With Quarkus version **0.27**, the same class can be loaded without issue.

**Actual behavior**
Quarkus statup fails with the following stack

[2019-11-07 20:25] kenfinnigan commented on #4516
@dmlloyd `ConfigProviderTest.testInjectedConfigSerializable` fails because `Expression` isn't serializable.

Does it make sense to make it serializable in SmallRye Common and switch Quarkus to use that instead of WF common? Are the two "identical" enough to do that?

[2019-11-07 20:41] dmlloyd commented on #4516
It might be easier to make the `ExpandingConfigSource` properly serializable by way of `writeReplace`/`readResolve` to reconstruct an empty cache.  We don't really want to serialize the cache in any event.

[2019-11-07 20:46] kenfinnigan commented on #2657
Verified fixed with 1.0

[2019-11-07 20:46] #2657 closed

[2019-11-07 20:47] aguibert commented on #5251
Issue also happens when Scala selected (i.e. any non-default SourceType)

[2019-11-07 20:48] kenfinnigan commented on #4804
Is this related to REST Client or more generally JAX-RS endpoints?

[2019-11-07 21:02] Sanne commented on #5219
sorry @bvarner I really need to be careful in not exposing such configuration properties. I've closed your PR, we can always find it back in case there's no better solution.

Please help me with a more concrete example of what you need from Agroal; even if you just use non-compiling pseudo-code for a prototype it's fine, it would still be an important milestone and then I can ask someone else to h

[2019-11-07 21:21] #4765 closed

[2019-11-07 21:21] aaronanderson opened #5307 "Exempt MicroProfile Health paths from security authorization"
**Description**
Currently the OIDC extension and possibly other security extensions are intercepting requests to the /health/ready and /health/live paths. This is causing a problem for  simple HTTP health checks initiated from loadbalancers without sophisticated authentication or redirect handling capabilities.

**Implementation ideas**
Several ideas were discussed on the [Quarkus Dev group](https

[2019-11-07 21:26] kenfinnigan commented on #4404
The issue is that https://github.com/quarkusio/quarkus/blob/master/extensions/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/IncomingHeadersProvider.java#L28 returns `null` because the context data is held in a `ThreadLocal`.

With a sync call, we're on the same thread, a worker thread, but when using `CompletionStage` we're on a separate thread which is why it's empty.

@FroMage

[2019-11-07 21:31] Sanne commented on #5299
thanks @tfve , good to know!

@tomjenkinson we'll need a suggestion here. Do you think we could ship Narayana with a different default?

[2019-11-07 21:32] Sanne commented on #5305
@yrodiere you think you could have a look?

[2019-11-07 21:38] Sanne commented on #455
@mkouba @dmlloyd I take it this could be closed?

[2019-11-07 21:39] Sanne commented on #418
@maxandersen ^

[2019-11-07 21:43] Sanne commented on #5269
Interesting; the ms-sql driver had a similar problem, but with charsets rather than timezones.

SubstrateVM attempts to not include all charsets to save some space - unless explicitly asked to add them. I would suspect it's attempting to do something similar with timezones.

[2019-11-07 21:45] Sanne commented on #5257
Next, we'll have clippy popup and ask "do you want me to add the DB configuration?"

[2019-11-07 21:45] #5274 closed

[2019-11-07 21:47] dmlloyd commented on #455
My opinion hasn't changed, only my authority :)  If you guys still disagree with me, go ahead and close.

[2019-11-07 21:51] Sanne commented on #5244
See also #5269 : timezones

[2019-11-07 21:52] Sanne commented on #4791
Fixed by #5292

[2019-11-07 21:52] #4791 closed

[2019-11-07 21:54] Sanne commented on #4630
I didn't find these in the guides anymore. Safe to close this?

[2019-11-07 21:54] Sanne commented on #4557
@gunnarmorling Could you have a look, or otherwise make sure this is taken care of? Thanks!

[2019-11-07 21:59] Sanne commented on #4510
ok that gmail requires an "app password". But why is there no error, and why was it necessary to set `quarkus.mailer.mock=false` ? Doesn't seem right; is someone looking to get to the bottom of that?

[2019-11-07 22:06] Sanne commented on #4528
This is kinda expected, there's no support for commons-logging, while there's explicit code to allow SLF4J support: the idea was to support SLF4J as it's very common.

@dmlloyd should we treat commons-logging the same as slf4j?

[2019-11-07 22:21] jamesfalkner commented on #5116
Not sure if relevant, but the same whitespace corrupts the values for JWT issuer values. e.g.

mp.jwt.verify.issuer=some_issuer[whitespace]

causes the whitespace to be part of the expected issuer values when validating tokens.

[2019-11-07 22:23] dmlloyd commented on #4528
Yes.  We could use `org.jboss.logmanager:commons-logging-jboss-logmanager` for this purpose.

[2019-11-07 22:24] dmlloyd commented on #5116
That would be expected behavior per the specification.

[2019-11-07 22:31] geoand commented on #5251
So one stone - two birds :) ?

[2019-11-07 22:32] Sanne commented on #455
TBH I had no voice in this matter, staying out of it as it's far from my area of experience :)

Just reminding that whatever you all decide, the title here "**Make scheduler ready for final**" implies something is being decided soon... either by action or inaction, so we might as well close this unless someone manages to squeeze in a happy ending.

So what's the status, are we based on Quartz and

[2019-11-07 22:37] sberyozkin commented on #5307
@aaronanderson Thanks, both mechanisms can be supported, the former for the simpler cases (Stuart may prefer to fix at the policy level directly), the latter - well, it is tricky, but may be we can just add a Label `Requires Stuart` to have it fixed too :-)

[2019-11-07 22:38] stuartwdouglas commented on #455
Would it be possible just to translate the standard style into Quartz style? Maybe with an option for the user to pick which one the prefer?

Based on our experience with EAP EJB timers I am very much against us writing our own scheduler.

I guess in an ideal world I would prefer:

- A generic scheduler extension that uses standard cron syntax, and uses quartz on the backend by translating the cro

[2019-11-07 22:45] dmlloyd commented on #455
I never advocated writing our own scheduler.  IIRC the cron-utils library allows parsing and deparsing of cron strings in a variety of formats, plus all the common extensions.  It handles all the ugly scheduling math that we continually got wrong in EJB, and it does so using modern JSR-310 APIs.  It really only needs the addition of a scheduled thread pool and some glue to make it all work, and it

[2019-11-07 23:40] gastaldi commented on #3779
@chaminnk are you still hitting this error? I tried in a sample project and it works. Here is my `application.properties`:

[code]

[2019-11-07 23:43] geoand commented on #3779
I used H2 in TCP mode extensively this week and never ran into any problems

[2019-11-07 23:47] gastaldi commented on #351
One solution I can see is to introduce a `common` module for the jdbc extensions and define a `JDBCDriverBuildItem` that would be produced by each `quarkus-jdbc-<DB>`module. Then Agroal could consume this item or use what's defined in `quarkus.datasource.driver` (which should take precedence).

Does that make sense?

[2019-11-08 00:00] lordofthejars opened #5310 "Disabling starting Quarkus in QuarkusTests"
**Description**

Ok I know it might some weird at the beginning and your quick answer will be, don't annotate test with QuarkusTest annotation, but today I have done a talk about Quarkus and one attendee raised the next use case.

I am running continuos testing tool like https://infinitest.github.io/
Then I want to start at dev mode the quarkus application, do a change, this change is reflected to

[2019-11-08 00:03] gsmet commented on #351
Yes, I plan to push that to some new contributors.  Don't act on it please.

[2019-11-08 00:05] gsmet commented on #958
This has been done a loooong time ago.

[2019-11-08 00:05] #958 closed

[2019-11-08 00:08] gsmet commented on #891
We need to check first if it's still an issue and see if we still have to improve the error message to include the field name.

[2019-11-08 00:10] gsmet commented on #1257
I don't think so, otherwise the release process fails.

The few versions we have are replaced during the release process (we have some in the Amazon Lambda archetypes typically).

[2019-11-08 00:10] #1257 closed

[2019-11-08 00:11] gsmet commented on #713
I'm closing this one. It's so low priority that we will never come to it.

[2019-11-08 00:11] #713 closed

[2019-11-08 00:12] gsmet commented on #891
@dmlloyd I don't know if it's still a problem. I will refrain from launching a new contributor on it as you probably have a ton of changes in your config patch.

[2019-11-08 00:14] gsmet commented on #975
@dmlloyd I suppose it works now, no?

[2019-11-08 00:15] #999 closed

[2019-11-08 00:16] gsmet commented on #1003
@emmanuelbernard should we close this one now? Either we act on it or we close it but it's counter productive to keep it open indefinitely.

[2019-11-08 00:17] gsmet commented on #1013
I'm closing this one. Let's open a PR instead of maintaining a list that will be outdated in a month if we still think it's an issue and someone has the cycles to do it.

[2019-11-08 00:17] #1013 closed

[2019-11-08 00:17] #1018 closed

[2019-11-08 00:18] gsmet commented on #1049
@stuartwdouglas I don't think we plan to do anything about this? Can we close?

[2019-11-08 00:18] #1123 closed

[2019-11-08 00:19] gsmet commented on #1120
@FroMage I think this one should be taken care of sooner rather than later.

[2019-11-08 00:19] #1049 closed

[2019-11-08 00:21] gsmet commented on #1166
@stuartwdouglas isn't this the agent you developed?

[2019-11-08 00:22] #1214 closed

[2019-11-08 00:26] #1388 closed

[2019-11-08 00:27] gsmet commented on #1387
@johnaohara could you check if it has been done and do it if not? Looks like an easy issue to close.

[2019-11-08 00:27] stuartwdouglas commented on #1166
Yea, but the agent definitely needs some love, as it has been neglected since the initial contribution, and is not really documented. It's also fairly difficult to write tests for. Improving it is fairly low on my priority list though, so it is unlikely to happen until I actually need it to get something working on native.

The problem with the native Graal one is that it will report way too many

[2019-11-08 00:27] gsmet commented on #1378
@rsvoboda has this been fixed? I remember some work on it.

[2019-11-08 00:29] gsmet commented on #1371
@mkouba could you check if this has been properly documented and close it with the out-of-date label if so. If not, it should be an easy issue to fix and close.

[2019-11-08 00:30] gsmet commented on #1335
Let's close it for now.

[2019-11-08 00:30] #1335 closed

[2019-11-08 00:32] gsmet commented on #1310
@kenfinnigan what's the status of this? I don't see Quarkus in the runtime choices.

[2019-11-08 00:32] #1290 closed

[2019-11-08 00:33] aguibert commented on #5251
indeed! PRs are ready for review now:
code fix: https://github.com/quarkusio/quarkus/pull/5311
tests added: https://github.com/quarkusio/code.quarkus.io/pull/226

[2019-11-08 00:50] gsmet commented on #5251
It's not a bad idea to have tests in code.quarkus.io but it's a bit too late in the process. We need tests in the main tree.

[2019-11-08 01:04] gastaldi commented on #3779
Closing as the error is caused because the H2 Database is not started in TCP mode during the Docker build and couldn't reproduce the problem with the memory mode.

Please reopen if necessary.

[2019-11-08 01:04] #3779 closed

[2019-11-08 01:08] gastaldi commented on #4944
@ia3andy not sure what you mean in this issue, can you elaborate?

[2019-11-08 01:11] gastaldi commented on #4872
https://infinitest.github.io/ is a good plugin that does a similar job

[2019-11-08 01:26] gastaldi commented on #4372
Closing this ticket in favor of #4597 as asked in https://github.com/quarkusio/quarkus/issues/4372#issuecomment-542518341

[2019-11-08 01:26] #4372 closed

[2019-11-08 01:28] gsmet commented on #4218
@gwenneg would you be interested in leading this effort? @cstancu provided some interesting feedback and patches. We would need to integrate it and check we can build Quarkus/run the tests with the current master of GraalVM.

[2019-11-08 01:29] gastaldi commented on #4705
Fixed in 1.0.0.CR1. Closing.

[2019-11-08 01:29] #4705 closed

[2019-11-08 01:34] gastaldi commented on #4281
@sberyozkin it looks like the links in the issue description are broken (probably the quickstarts changed since you opened this issue). Can you update them?

[2019-11-08 01:52] gastaldi commented on #4190
@gsmet I couldn't reproduce the issue with 1.0.0.CR1. I ran `mvn integration-test -Dnative` in https://github.com/quarkusio/quarkus-quickstarts/tree/1.0.0.CR1/websockets-quickstart and the `ChatITCase` passed.

Can you verify if this is still reproducible in your environment?

[2019-11-08 01:55] jaikiran commented on #4510
@Sanne I haven't had time to get to this and given that this involves having to use a gmail id, I probably won't be able to get to this any soon.

[2019-11-08 02:40] gastaldi commented on #5016
Related to https://github.com/quarkusio/quarkus/issues/1842

[2019-11-08 02:42] remkop commented on #284
@metacosm Slightly off-topic, but if you have any tips on improving picocli based on your experience with cobra I am always interested!

[2019-11-08 02:47] #5301 closed

[2019-11-08 02:54] gastaldi commented on #3855
Your class is defined as `abstract`. Remove that and it should work.

Closing as not a bug

[2019-11-08 02:54] #3855 closed

[2019-11-08 04:16] hantsy opened #5314 "Subresouce init resource failed when using `ResourceContext.getResource`"
I have created a post about the sub resource issue on StackOverflow before, https://stackoverflow.com/questions/57820428/jax-rs-subresource-issue-in-quarkus
It seems [Quarkus issue#3919](https://github.com/quarkusio/quarkus/issues/3919) has been resolved in the latest 1.0.0.CR1.

When I tried to remove the workaround annotations(`@Unremovable`, `@RegisterForReflection `), it failed, there are stil

[2019-11-08 05:07] #1289 closed

[2019-11-08 05:16] jaikiran commented on #5293
Hello @geoand, @Xnyle,

I was able to reproduce this issue in a test case. I've submitted https://github.com/quarkusio/quarkus/pull/5316 to fix this.

[2019-11-08 06:14] hantsy opened #5317 "Exception when using a custom interface in Spring Data JPA"
Mentioned in #4104,  the issue is still in 1.0.0.CR1.

Repository codes https://github.com/hantsy/quarkus-sandbox/blob/master/spring-post-service/src/main/java/com/example/PostRepository.java#L6

[code]

[2019-11-08 06:22] michael-schnell commented on #4888
@sberyozkin Sounds good, I think the admin stuff is indeed not a primary focus.
@vsevel I saw you've already started implementing it with #5147 Cool!

[2019-11-08 06:31] gwenneg commented on #4218
@gsmet Yes, I'll take care of it.

[2019-11-08 06:32] jaikiran commented on #5269
We are seeing more and more of these issues in native-image. I looked around in the code of substratevm and there's really no way (even an hacky one) where we can override, in Quarkus, the timezones that are included in the native-image. So I decided to give it a try adding this as a feature within graal itself. I've raised a enhancement PR https://github.com/oracle/graal/pull/1819 with the initia

[2019-11-08 06:44] gastaldi commented on #3607
I suppose this issue can be closed or is there something missing?

[2019-11-08 06:45] #5150 closed

[2019-11-08 06:46] #5293 closed

[2019-11-08 06:49] jaikiran commented on #5016
I've raised a graal PR https://github.com/oracle/graal/pull/1819 to see if we can have timezone support enhanced to allow more fine grained control on how users or Quarkus can configure the available timezones in native-image.

[2019-11-08 06:52] geoand commented on #5293
Excellent!

[2019-11-08 07:35] mkouba commented on #1371
Well, there is a tip in the getting-started guide: https://quarkus.io/guides/getting-started#the-jax-rs-resources. But it does not mention the [quarkus.resteasy.singleton-resources](https://quarkus.io/guides/all-config#quarkus-resteasy-server-common_quarkus.resteasy.singleton-resources). Also we don't explain the justification...

@gsmet @kenfinnigan what's the best place to add this info? Writing

[2019-11-08 07:43] Xnyle commented on #5293
[npequarkus.tbz2.this.is.not.a.zip](https://github.com/quarkusio/quarkus/files/3823423/npequarkus.tbz2.this.is.not.a.zip)

[2019-11-08 07:46] gastaldi commented on #5291
I don't think that `mainClass` will ever get back to the plugin, but I'd rather let @stuartwdouglas confirm this

[2019-11-08 07:58] simongun commented on #4528
My use case: commons-logging is used int the Apache HTTP client, which itself is used in AWS' S3 Client.

[2019-11-08 08:00] simongun commented on #4528
Also, the [Quarkus documentation](https://quarkus.io/guides/logging#supported-logging-apis) lists commons logging as one of the supported APIs.

[2019-11-08 08:24] Sanne commented on #5269
I suspect a valid alternative could be to "grab" the timezone instances you need at build time; but them in a constant Map, retrieve them as needed at runtime.

In case of the JDBC driver, perhaps it would be possible to go one step further and skip the map: inject the instances by semi-initializing the driver during build.

The simples solution for the above issue is probably to have a substituti

[2019-11-08 08:29] johnaohara commented on #5269
In this instance, how would you know what TZ's you need at build time? The error is coming from `com.mysql.cj.jdbc.ConnectionImpl.initializePropsFromServer()` so would need to have all TZ's that the server might return. What if you are running in public cloud, and a the db server is migrated to a different TZ?

[2019-11-08 08:31] jaikiran commented on #5269
That's what the current `TimeZone` substitution in graal does[1]. It tries to find the requested timezone and when it doesn't find it (because the requested one isn't initialized into the native image), it defaults to `GMT`.  In this specific MySQL issue, the MySQL driver has a (smart) check[2] to verify that the JDK doesn't do such "fallbacks" and when it finds cases like these, it raises this er

[2019-11-08 08:31] Sanne commented on #4510
thanks @jaikiran , and sure didn't mean to rush anyone :)  Just checking that we agree there's something to be done here, anyone could look to improve this.

Adding the "good first issue" as I think it might not be too hard. I hope I'm not wrong :)

[2019-11-08 08:33] jaikiran commented on #5269
If/when the proposed enhancement to timezone support in graal is introduced, I think one way we (Quarkus) can use that is to have build step(s) which know certain timezones must be part of the target native image (at least the various variants of the `GMT` like `Etc/GMT`) and auto-include them when native-image is being created. That way users don't have to bother about adding it themselves, unles

[2019-11-08 08:35] jmartisk opened #5318 "Unexpected behavior of path matching for configuration-based security policies"
If I have a permission for a path like
`quarkus.http.auth.permission.mypermission.paths=/a/*`
Then requests to `/a/anything` should be matched to it, but they are not.

If I change it to
`quarkus.http.auth.permission.mypermission.paths=/a*`
Only then requests to `/a/anything` will start getting authorization checks.

This is contradictory to what is described in the documentation https://quarkus.i

[2019-11-08 08:35] #3607 closed

[2019-11-08 08:38] fdelbrayelle commented on #5297
@geoand In fact I've made a typo in the original issue. The code to reproduce it is:

[code]

And not:

[code]

Reproduced in version **1.0.0.CR1** as well.

[2019-11-08 08:38] johnaohara commented on #5269
I think we also need uesrs to be able to overwrite the list of included timezones, esp in the case where the user knows which timezone their DB is in, otherwise, we are at risk of increasing native image size with unnecessary extra classes

[2019-11-08 08:40] Sanne commented on #5269
Yes I understand. It really is the same issue (conceptually) as I had with character sets: I don't know which charsets the DB will use, so we introduced a build item which registers them all.

That gives the best dev experience, but at cost of more bloat. An alternative would be to include them all by default (when an extension like this is included), but allow fine-tuning by having a configuratio

[2019-11-08 08:41] jmartisk commented on #5318
Not sure who's the right person to look into it, maybe @sberyozkin ?

[2019-11-08 08:41] fdelbrayelle commented on #5297
As you closed the issue I'm not allowed to re-open it. Feel free to do it if you want :)

[2019-11-08 08:42] Sanne commented on #5269
I'd suggest indeed to include `GMT` by default. It's going to be commonly used as it's often the recommended default - we could postpone the better solution to tune for the others.

[2019-11-08 08:43] yrodiere commented on #5305
This looks a lot like `org.acme.AnalysisConfigurer` just doesn't exist in your project.

I created this reproducer, and it works as expected: https://github.com/yrodiere/quarkus-i5305

Tested on Fedora and Windows.

Please check your setup or provide a reproducer.

[2019-11-08 08:45] Sanne commented on #5269
FYI anothing thing you might want to keep in mind: Hibernate ORM usually postpones building of its internal metamodel until after the first connection was established, so to gather metadata from the server. This metadata might include details such as these, but also details such as micro version of the DB to apply potentially needed workarounds.

This behaviour was disabled in Quarkus, as we need

[2019-11-08 08:46] geoand commented on #5297
I'll reopen and check it out soon

[2019-11-08 08:47] geoand commented on #5297
I think I know what the issue is just by looking at the array, but I'm traveling so won't be able to fix for a few hours (or maybe over the weekend)

[2019-11-08 08:47] johnaohara commented on #5269
I did wonder about that. IIRC I switched from postgres to mysql and then needed to provide a Dialect. Is there a default assumption made about Postgres dialect?

[2019-11-08 08:48] rsvoboda commented on #1378
Out of the box experience is still the same

You can tweak it with `quarkus.log.console.darken` which is not documented.

![Screenshot 2019-11-08 at 09 46 35](https://user-images.githubusercontent.com/925259/68462375-b2273b00-020c-11ea-9965-52d149dca253.png)

[2019-11-08 09:18] FroMage commented on #5257
![clippy](https://user-images.githubusercontent.com/179265/68464522-0df3c300-0211-11ea-9a8c-3b76f43c5fe6.jpeg)

[2019-11-08 09:21] FroMage commented on #4404
The headers of what? I thought client calls had no context _at all_. The spec says:

So `HttpRequest` is server-side and should not be visible in clients and if they are visible it's by accident and they point to the server's request (when the client is running in a jax-rs server endpoint).

[2019-11-08 09:39] marcinczeczko commented on #5286
@dmlloyd - see PR #5319

Re pt. 3 - Is there are PR already for those changes that I can take a look early ?

[2019-11-08 09:48] tomjenkinson commented on #5299
Setting it to the tmp folder must not be done. The D in ACID is for durability which I do not believe the tmp folder meets the bar for.

Please can someone open a discussion on the google group and put the URL of the discussion here?

I am not an expert in google app engine environment, where is it's persistent data stored and does it meet all the criteria expected for transaction log storage (ful

[2019-11-08 09:53] mkouba commented on #455
@dmlloyd Your authority hasn't changed at all! ;-)

So I believe that...

from user POV we should provide the following:
- `quarkus-scheduler` - for simple use cases; `@Scheduled` API + config property to switch the syntax (CRON, quartz, etc.), users don't care about the implementation
- `quarkus-quartz` for power users relying on some quartz-specific APIs/features; builds on top of `quarkus-sched

[2019-11-08 10:15] jaikiran commented on #5305
Hello @lgarin, @yrodiere,

Notice that the `ClassNotFoundException` message has a trailing whitespace after the class name, so that's a sign that the property value of `quarkus.hibernate-search.elasticsearch.analysis.configurer` is having a trailing whitespace.

Perhaps this is relevant to the recent change done in trimming property values https://github.com/quarkusio/quarkus/pull/5050?

[2019-11-08 10:30] geoand commented on #5297
Fixed (hopefully :)) by #5321.

[2019-11-08 10:33] machi1990 commented on #455
@mkouba I'll be interested to contribute in fixing some of these issues. Tag me along :-)

[2019-11-08 10:36] mkouba commented on #455
@machi1990 I will ;-).

[2019-11-08 10:38] yrodiere commented on #5305
@jaikiran Spot on, thanks for the heads up. Adding a trailing space does reproduce the issue.

So this is a problem with the configuration extension rather than Hibernate Search: class names are not trimmed properly before Quarkus attempts to convert them to a `Class`.

@dmlloyd, I'm not familiar with anything else than the Hibernate Search extension. Should we fix this by adding some trimming spe

[2019-11-08 10:48] niedch opened #5322 "Environment property is not used in ContainerRequestFilter"
**Describe the bug**
I want to use a Configuration Property in my Request Interceptor but when i try to overwrite it with an environmental variable it still uses the one from the application.properties.
This behavior only appears when i am running it as a native image.

In this repository you can find the code.
https://github.com/niedch/quarkus-env-property

*Running in dev mode (mvn compile quark

[2019-11-08 10:52] piotrgwiazda opened #5323 "Quarkus tries to use client_credentials grant type when calling for JWT token to Keycloak, while it should use authorization_code."
**Describe the bug**
Quarkus tries to use client_credentials grant type when calling for JWT token to Keycloak, while it should use authorization_code.
**Expected behavior**
Quarkus should follow the Authorization Code Grant flow to authorize the user using OAuth 2.0

**Actual behavior**

- I access http://localhost:8080/
- I'm redirected to Keycloak (url looks good with scope=openid+email&respons

[2019-11-08 10:54] Sanne commented on #2482
I might have a solution soon for this, was working on #5262 and it turns out it might be a duplicate.

[2019-11-08 11:00] jorsol opened #5324 "quarkus.native.enable-code-size-reporting not work in GraalVM 19.2.1"
**Describe the bug**
Set property: `quarkus.native.enable-code-size-reporting` activates `-H:+PrintCodeSizeReport` in GraalVM native image parameters.

**Expected behavior**
The option/property should be probably removed since is not supported in GraalVM.

**Actual behavior**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: Linux 5.0.0-32-gener

[2019-11-08 11:36] machi1990 commented on #5324
I'll have a look.

[2019-11-08 11:49] gastaldi commented on #5322
@mkouba is this something ArC related?

[2019-11-08 12:02] metacosm commented on #284
@remkop sure, I'd need to take another look at picocli, first, though as it's been a while! 😄

[2019-11-08 12:20] jmartisk commented on #5318
I'll look into it myself, think I know what to do

[2019-11-08 12:23] gastaldi commented on #5322
Weird, I see an exception when using 1.0.0.CR1 and 999-SNAPSHOT in your code:

[code]

[2019-11-08 12:26] mkouba commented on #5322
It could be also docker-related. Did you try to run the native image directly?

[2019-11-08 12:34] gastaldi commented on #5322
The NPE looks like to be a known bug in Resteasy; https://github.com/quarkusio/quarkus/pull/2897/files#diff-9e5254b805bbc8bfcb28f957cb36efb1R244

[2019-11-08 12:38] Xnyle opened #5326 "IllegalAccessError trying to run UberJar when public class C extends public class B extends package class A"
My class inheritance looks like this:

class Apackage.A
public class Apackage.B extends A
public class Bpackage.C extends B

This has been working up to now with Wildfly/Thorntail, etc.
When trying to run an UberJar quarkus built, I'm getting:

java.lang.IllegalAccessError: tried to access class A from class C_Bean

I couldn't find any good documentation on transitive class access though, so maybe

[2019-11-08 12:52] rafaelkloss commented on #4377
Hi guys, any update on this ?

[2019-11-08 12:54] gastaldi commented on #5322
Here is a fix for the NPE above: https://github.com/resteasy/Resteasy/pull/2211

[2019-11-08 13:16] fdelbrayelle commented on #5297
Thank you! Why this issue is only with the native image?

[2019-11-08 13:22] kenfinnigan commented on #5305
MP Config spec dictates that config values are not trimmed.

So either we break the spec, or find a way to warn users about extraneous spaces

[2019-11-08 13:28] kenfinnigan commented on #4404
When it's used on its own, then yes.

When REST Client is used inside a JAX-RS endpoint, it's possible for the headers to be propagated from that incoming request to the REST Client call

[2019-11-08 13:28] kenfinnigan commented on #1310
We can't add ourselves to that list until we're Final

[2019-11-08 13:30] kenfinnigan commented on #1371
Certainly Writing JSON REST Services, but I'm wondering if we need a more general doc with a list of "what's different from current Jakarta EE development" that outlines things like default JAX-RS Resource scope, no need for `Application` class, etc?

[2019-11-08 13:31] gastaldi commented on #5322
@mkouba I tested the native image directly and I can see the bug described above.

[2019-11-08 13:34] yrodiere commented on #5305
@kenfinnigan Fair enough, but we are not talking about extraction of string values here, we are talking about extraction of `Class` values.

The problem is that I have a `@ConfigItem` of type `Class` in the Hibernate Search extension, and Quarkus doesn't trim the string before it tries to convert the property value to a `Class`.

Surely the spec doesn't mandate that we keep the trailing spaces and

[2019-11-08 13:34] Sanne commented on #5305
@kenfinnigan I don't think that's reasonable for _classnames_ : the spec doesn't have our converters.

Let's agree that the spec should be applied on String types - for other things we should be more pragmatic.

[2019-11-08 13:35] kenfinnigan commented on #5305
But everything is a string type to start with

[2019-11-08 13:36] Sanne commented on #5305
sure, everything is a string to begin with. But the spec shouldn't say what we do _within the implementation_ with those strings: it's not reasonable to not trim classnames.

So I'd say this has nothing to do with spec compliance.

[2019-11-08 13:36] yrodiere commented on #5305
I found this in `io.smallrye.config.Converters`:

[code]

What if we added a `trim()` in there? Would it break the spec?

[2019-11-08 13:37] Sanne commented on #5305
@yrodiere +1 to patch there.

[2019-11-08 13:42] kenfinnigan commented on #5305
There doesn't appear to be any TCK tests that verify good or bad, behavior based on a value having trailing spaces for any converter.

There's also https://github.com/quarkusio/quarkus/issues/5116, so should all non String converters do a similar trim?

Thoughts @dmlloyd @jmesnil ?

[2019-11-08 13:46] emmanuelbernard commented on #5305
Whatever is taking the String and converting it to a class should do the trimming. That does seem like clean DevX improvement and I can’t see any drawback. I can’t imagine the TCK testing that a trailing space should fail a class load.

[2019-11-08 13:47] emmanuelbernard commented on #5305
Meaning even if we only do it on known converters like integers and classes etc. That’s already progress.

[2019-11-08 13:55] gastaldi commented on #5322
The lookup works if the programatic approach is used:
[code]

So it seems to be something in the Resteasy integration that doesn't let @ConfigProperty to be evaluated in run-time in @Provider classes

[2019-11-08 13:56] michalszynkiewicz commented on #4774
it seems there's some infinite retry loop there for some reason, will continue to debug it.

[2019-11-08 13:58] hantsy opened #5330 "Global exception handler for interal exceptions"
Currently, when I access REST APIs by `curl`, and if there is an exception thrown,  it will return HTML error content in the response.

It is not friendly.

1. If possible provides a Spring `ExceptionTranslater` like helper to translate the internal exceptions to JAX-RS aware exceptions?
2. Provides a global exception handler (`ExceptionMapper` in Jaxrs) to produce the exceptions in JSON or XML ac

[2019-11-08 14:00] dmlloyd commented on #5305
I believe that `Class` is a spec-covered converter.

That said - for specific converters, I think we're nearly always "TCK-safe" if we accept values that are rejected by specification.  The risk is that the spec is improved in such a way that it begins to accept values which were previously rejected *and* the result of conversion of such values differs from what our improvements resulted in.  This

[2019-11-08 14:01] mkouba commented on #5322
Hm, the question is WHEN are the provider instances created. If it's STATIC_INIT then it makes sense that it can't see the env property.

[2019-11-08 14:09] geoand commented on #5297
It's because Class.forName needs to have reflection enabled on the "target" class for it to work in native mode.

[2019-11-08 14:10] yrodiere commented on #5305
I'm working on a pull request. Let me know if I have to add a warning.

[2019-11-08 14:12] patriot1burke commented on #5322
I need to look, just starting my day now, but, this was refactored so that there were no hard servlet dependencies in resteasy.

[2019-11-08 14:13] dmlloyd commented on #5305
Please hold off on any config-related changes for the next couple of days.  I'm rebasing a way-too-large config fix branch and it's already very painful...

[2019-11-08 14:24] dmlloyd opened #5332 "Remove config customizer"
We should probably remove config customizer.  It's better to produce a config source instead, and simplifies the native image stuff and the config handling code (not to mention all the APIs in between).

[2019-11-08 14:31] FroMage commented on #4404
OK, so you're intentionally propagating server request headers to the client request headers. Fine. Then if you want to capture the headers I suggest you do it when you still have access to them, at the time you do the request, and not when you get the answer on another thread.

I'm not sure if you want to propagate the contexts inside the client, so that any users of the async pipeline will get t

[2019-11-08 14:33] kenfinnigan commented on #4404
It does capture them on the initial thread, but it stores them into RESTEasy Context which then stores them in a `ThreadLocal`.

So it's a question of what's the best approach to propagating it between threads

[2019-11-08 14:34] FroMage commented on #4404
Huh. If this is RESTEasy client stuff then I'd say perhaps. If it's MP client stuff I'd say no: just store it and associate it with the request. You don't need to store/retreive it from the context once it's captured.

[2019-11-08 14:36] kenfinnigan commented on #4404
It's the MP Client impl in RESTEasy.

I'm being dense here, but what do you mean by "store it and associate it with the request"? I'm not connecting the dots as to how it gets on the worker pool thread for the REST Client call?

[2019-11-08 14:42] FroMage commented on #4404
Damnit, it has two clients, I never noticed that.

[2019-11-08 14:45] FroMage commented on #4404
So that resteasy-client-microprofile doesn't mention context _at all_, which is even worse than resteasy-client, which uses the server context by accident. But since it depends on resteasy-client, it's probably affected as well. That's nasty.

[2019-11-08 14:47] kenfinnigan commented on #4404
So I'm not totally crazy then?

So you're saying this is also related to the RESTEasy issue you raised the other day? Initially, I thought it was, but then for some reason decided it wasn't

[2019-11-08 14:50] gastaldi commented on #5322
I can confirm that it works if you add the following to the interceptor:

[code]

And then read the result using `testProperty.get()`

[2019-11-08 14:58] FroMage commented on #4404
Well, here you're apparently not getting a context at all, which is different to the issue I saw where it reuses the server context.

[2019-11-08 14:59] kenfinnigan commented on #4404
right, because it's not present on the new thread.

Ok will raise a separate issue

[2019-11-08 15:00] paulrobinson commented on #4617
@emmanuelbernard, @gsmet: Will we need to do all of these again for the 1.0.0.Final release?

[2019-11-08 15:01] sberyozkin commented on #5323
@piotrgwiazda AFAIK, no Keycloak specific API is used by `quarkus-oidc`, where is a message with `org.keycloak.authorization.client....` is displayed, in the Quarkus log ? Or is it reported back from KC server ?

[2019-11-08 15:01] FroMage commented on #4404
But generally, here you're relying on having a context during `getIncomingHeaders` and I wonder which thread this runs on and who created it. If it's RESTEasy who created the thread, then it's probably its responsability to propagate the context. If it's MP, then it's MP's fault ;)

[2019-11-08 15:03] kenfinnigan commented on #4404
From the debugging I did, it's called on the Vert.x event loop, then the REST Client call is farmed out to a worker thread because it uses `CompletionStage`.

So it's kind of straddling Quarkus and RESTEasy/MP worlds

[2019-11-08 15:05] FroMage commented on #4404
farmed out to a worker thread?

[2019-11-08 15:06] FroMage commented on #4404
that doesn't make any sense, it's far more likely that CS/async calls can run on the IO thread

[2019-11-08 15:06] yrodiere commented on #5305
@dmlloyd Sorry I saw your message too late, I was already almost done. Feel free to ignore my PR until you are done: I will rebase mine when yours is merged.
PR: https://github.com/smallrye/smallrye-config/pull/181

[2019-11-08 15:06] FroMage commented on #4404
It's non-CS/async that can never run on the IO thread and need to run on workers

[2019-11-08 15:06] kenfinnigan commented on #4404
That's not what I saw when debugging the reproducer, at least from what I recall yesterday afternoon

[2019-11-08 15:07] FroMage commented on #4404
so who farms it out? What source file should I be looking at?

[2019-11-08 15:08] kenfinnigan commented on #4404
I think it's "farmed out" by the async invoker in RESTEasy MP Client, as it specifies an Executor, but I presume our RESTEasy integration means it's getting threads from the underlying Vert.x worker pool for it.

I may need to retry the reproducer and dig deeper

[2019-11-08 15:09] kenfinnigan commented on #4404
All the MP REST Async bits are in: https://github.com/resteasy/Resteasy/tree/master/resteasy-client-microprofile/src/main/java/org/jboss/resteasy/microprofile/client/async

[2019-11-08 15:09] Sanne commented on #5299
@tomjenkinson rather than the quarkus group, shouldn't this be addressed by a discussion on the Narayana's team forums?

What is your recommendation for containers and Kubernetes? AFAIK even in that case, when a node is killed you don't get to see its logs - they might as well have been written on `/tmp`

More specifically about GAE, don't you have other users running on GAE? Is there any recommen

[2019-11-08 15:11] FroMage commented on #4404
huh, looks to me like AsyncInvocationInterceptor/prepareContext could deal with context propagation ;)

[2019-11-08 15:12] FroMage commented on #4404
But in any case if you expect to be able to run things on executors and those things should have access to server contexts, such as resteasy/cdi/transaction, then you will just need to use MP-CP.

[2019-11-08 15:13] FroMage commented on #4404
I mean: is `IncomingHeadersProvider.java` a special case or can we have more filter/interceptor/providers that get invoked on this thread which will expect resteasy/cdi/transaction/servlet contexts to be set up?

[2019-11-08 15:15] emmanuelbernard commented on #4617
I’m thinking we need a blog announcing 1.0 final and focusing on the
roadmap. And the usual tweet etc.

On Fri 8 Nov 2019 at 16:00, Paul Robinson <notifications@github.com> wrote:

[2019-11-08 15:18] paulrobinson opened #5333 "Release Activities for 1.0.0.Final"
In addition to making the required code changes (covered by other Epics), there are several other tasks that need to be competed for the 1.0.0.Final release. These are as follows:

- [x] Prepare Blog post for 1.0 @jclingan @tqvarnst @emmanuelbernard
- [x] Prepare announcement tweet @emmanuelbernard
- [x] Prepare email to quarkus-dev @emmanuelbernard
- [x] Prepare updated website homepage @jkbrock

[2019-11-08 15:19] paulrobinson commented on #4617
OK. I've cloned to #5333 as it's really a new set of tasks.

[2019-11-08 15:19] #4617 closed

[2019-11-08 15:21] paulrobinson commented on #4616
@maxandersen, @emmanuelbernard Is this done enough for 1.0.0.Final, or is there still more to do?

Doing a final review before we call this Epic done.

[2019-11-08 15:24] FroMage commented on #4404
Generally we need to figure out who is responsible for setting up those contexts. Probably an issue needs to be opened and a meeting needs to be had. But in any case, if we end up fixing this for the RESTEasy context, we won't get cdi/transaction/servlet contexts for free without MP-CP.

[2019-11-08 15:27] galderz opened #5335 "URLClassPath substitutions not working with Java 11"
[code]

PR on its way

[2019-11-08 15:46] galderz opened #5337 "Apple keychain store not working with Java 11"
Apple security keychain store not working with Java 11

[code]

[2019-11-08 15:47] galderz commented on #5337
`NettyProcessor` checks the existence of a certain class and enables JNI depending on that. A similar thing might work, but we'd only want to happen with Java 11.

[2019-11-08 15:53] sberyozkin commented on #4281
@gastaldi thanks, 1 sec

[2019-11-08 15:57] sberyozkin commented on #4281
Just noticed #5314, but not sure it is related

[2019-11-08 16:01] kenfinnigan commented on #4404
In theory, it's possible that there is an expectation that the various contexts are available for injection/use.

I agree we need to figure this out. Will open a Quarkus issue, and try to set up a meeting.

[2019-11-08 16:02] FroMage commented on #4404
Thanks. Will need Alessio and Bill and whoever wrote the SR rest client (you?).

[2019-11-08 16:03] kenfinnigan commented on #4404
I think Michal did the async bits, but it's going to need several people for sure

[2019-11-08 16:05] kenfinnigan opened #5338 "Propagation of contexts"
We need to define how, and who propagates any contexts between threads. Contexts could include RESTEasy, CDI, Transaction, Servlet, or anything else.

This is the cause of #4404, and possibly others, but we want to ensure we're propagating in a consistent manner.

[2019-11-08 16:06] tomjenkinson commented on #5299
For OpenShift we say JDBC store: https://access.redhat.com/documentation/en-us/red_hat_jboss_enterprise_application_platform/7.2/html/getting_started_with_jboss_eap_for_openshift_container_platform/reference_information#transaction_recovery_jdbc_object_store

Regarding GAE we don't have specific advice for that deployment environment.

I just suggested the Quarkus group as the issue was reported h

[2019-11-08 16:16] FroMage commented on #5338
For Quarkus I vote that it should be automatic, and use MP-CP whenever anything is responsible for creating new threads on which user (or lib) code can run, especially if that code expects contexts to be available.

[2019-11-08 16:18] kenfinnigan commented on #5338
+1, we don't want users needing to remember to propagate things

[2019-11-08 16:18] FroMage commented on #5338
Note that in Quarkus we already have an `ExecutorService` (typed `ManagedExecutor`) provided via CDI, that uses the Quarkus worker pool, but has context propagation turned on. So if you have lib code that spawns threads that require context, they should probably use that service rather than the naked Quarkus worker pool.

[2019-11-08 16:19] kenfinnigan commented on #5338
So maybe we just need hooks in RESTEasy to set that?

[2019-11-08 16:23] FroMage commented on #5338
Maybe, but the fact that `AsyncInvocationInterceptor.prepareContext` exists at all leads me to think that perhaps SR-rest-client is supposed to handle context propagation itself. And the fact that resteasy-client-microprofile has facility to run things async also leads me to think it should _at the very least_ be self-sufficient and propagate at least its own context. We need to discuss those issu

[2019-11-08 16:35] sberyozkin commented on #5323
@piotrgwiazda FYI, I've confirmed the tests work [without KC specific APIs](https://github.com/quarkusio/quarkus-quickstarts/pull/362/files) being on the classpath, so can you create a reproducer ? For example, using that quickstart as a base ?

[2019-11-08 16:57] loicmathieu commented on #5310
I'm not sure it will ends up with the same implementation but I would also love to have a way to bootstrap Quarkus but not the application, to be able to have unit test and not integration test with Quarkus.

Today, when we want unit testing one componenent, we will either use a mock framework and not Quarkus test support or use the Quarkus test support to be able to inject the component we want t

[2019-11-08 17:27] johnaohara opened #5339 "swagger-ui does not discover paths defined by spring-web annotations"
**Describe the bug**
If the quarkus-smallrye-openapi extensions is included in a project that is using the quarkus-spring-web extension, swagger-ui does not discover and describe rest endpoints defined by spring web annotations in the application

**Expected behavior**
![swagger-ui-expected](https://user-images.githubusercontent.com/959822/68497453-80ce5f80-024c-11ea-9583-0b7bde8305fc.png)

**Actu

[2019-11-08 18:03] piotrgwiazda commented on #5323
Based on some tutorial I had
quarkus.keycloak.policy-enforcer.enable=true
Maybe thst is the root cause. Let me retest my sample.

[2019-11-08 18:12] dmlloyd commented on #4528
If you include the artifact I referenced, that should enable you to work around the problem.  You might have to manually add exclusions for `commons-logging:commons-logging-api` though.

[2019-11-08 18:16] kdnakt opened #5340 "Runtime failed to start: fork/exec /var/task/bootstrap: exec format error <nil>"
**Describe the bug**
I created a maven project according to this guide:
https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/amazon-lambda.adoc

And got an error when I tried `bash ./invoke-native.sh`

**Expected behavior**
`out` file is like following when I created the function with `invoke.sh`.
[code]

**Actual behavior**
`out` file is:
[code]

**To Reproduce**
Steps to repro

[2019-11-08 18:18] dmlloyd commented on #5286
No PR yet, I'm just cleaning up the gruesome remains after a rebase.  Things are working though; I hope to file the PR early next week.

[2019-11-08 18:23] sberyozkin opened #5341 "quarkus-smallrye-jwt should provide JWT creation API"
**Description**
The users should use `smallrye-jwt` API to easily create JWTs to test or use when self-issued tokens are acceptable

**Implementation ideas**
`smallrye-jwt` will provide it, see https://github.com/smallrye/smallrye-jwt/issues/137

[2019-11-08 18:25] bvarner commented on #5219
Ok. I can get behind Quarkus being opinionated about what configuration it exposes.

For my specific use-case, I need to setup local SQL connection 'variables' (settings) and remove them when a connection goes in and out of the pool. The stuff that needs to be passed down to the database is accessible from CDI contexts, and I've seen this accomplished through customized data sources at the contain

[2019-11-08 18:28] sberyozkin opened #5342 "quarkus-oidc does not work in the native mode without quarkus-jackson"
**Description**
I had to add `quatkus-jackson` in a few cases as a test dependency (VertX JSONObject depends on Jackson I believe). in `extension/oidc/runtime` for example.

**Implementation ideas**
Add it as a strong dependency to avoid asking the users to add it; it should not interfere with JSONB JAX_RS providers for example

[2019-11-08 18:48] Sanne commented on #5219
Yes I like your proposal, that would be a really nice improvement.

Keep in mind one complexity: there might be multiple datasources defined, we'll need a way to let people choose to which connections their listeners are applied.

Maybe a convention with named beans to match datasource name in some way? I don't know much about CDI, feel free to experiment what would look best in your opinion.

Tha

[2019-11-08 19:02] #5286 closed

[2019-11-08 19:45] Sanne commented on #2482
sent a PR :)

[2019-11-08 19:46] Sanne commented on #5262
Many thanks @codecr ! That was super useful. I've sent a pull request with a fix, this should be solved in the next release.

[2019-11-08 20:18] bvarner commented on #5219
Yes. I was planning to use a qualifier that takes the datasource name to apply the listener to. In the case that the beans don't have an annotation, they'd be applied to all the data sources defined.

[2019-11-08 20:46] michalszynkiewicz commented on #5338
I still don't know much about how MP CP works but I agree that it should be possible to create an `AsyncInvocationInterceptor` to pass the context.

(SR-rest-client is now archived and all the development is done in resteasy-client-microprofile now)

[2019-11-08 22:50] codecr commented on #5262
Thank you @Sanne

[2019-11-09 02:56] jaikiran commented on #5247
Closing now since the PR got merged.

[2019-11-09 02:56] #5247 closed

[2019-11-09 03:57] jaikiran commented on #3782
I'm pretty sure this has something to do with the "localhost" host mapping entries. I have had similar issues (not just with Quarkus but with Java apps in general on my spare MacBook) and I had to sort out my `/etc/hosts` entries to get past it. Can you show us your `/etc/hosts` entries and also the output of the following command, both from your MacBook pro:

[code]

[2019-11-09 07:10] #5201 closed

[2019-11-09 08:44] iocanel opened #5345 "Kubernetes exension should configure RBAC when kubernetes-client extension is present."
**Description**
When someone uses both `kubernetes` and `kubernetes-client` extensions, it's obvious that the intention is to use the `kubernetes-client` from a pod deployed on kubernetes. In this case, RBAC needs to be configured so that we ensure that the pod serviceAccount has all the required permission that the `kubernetes-client` can at least perform simple read operations.

**Implementation

[2019-11-09 08:51] goranopacic commented on #5340
+1

[2019-11-09 09:32] geoand commented on #5339
I'm going to close this as a duplication of #4693. Does that make sense @johnaohara ?

[2019-11-09 09:32] #5339 closed

[2019-11-09 09:34] geoand commented on #5326
Hello,

Any change you could create a very small reproducer? It does sounds like a bug we should address

[2019-11-09 09:35] johnaohara commented on #5339
Sure, I did a search before opening this issue and didn't find that issue, but yes is a duplicate

[2019-11-09 09:41] geoand commented on #5317
Thanks for reporting!

[2019-11-09 10:11] geoand commented on #5317
#5347 takes care of the issue. I verified with your reproducer (which I should add, was very useful)

[2019-11-09 10:20] Karm commented on #5291
@gastaldi  @stuartwdouglas What is the reason for the removal? My motivation was simple: Use the power of prepared Quarkus machinery to generate GraalVM configs for me, but then use my own entry point...
I realize this is a niche thing, but then again, why shouldn't it be possible?

[2019-11-09 13:42] #5317 closed

[2019-11-09 14:16] dmlloyd commented on #5326
I would be more interested in an example of this working. You cannot extend a class in a different package if it is package-private.

[2019-11-09 14:44] jesperpedersen opened #5348 "SpringJPA: @Query(nativeQuery) support"
**Description**
The current spring-data-jpa module (1.0.0.CR1) doesn't support the 'nativeQuery' attribute of `org.springframework.data.jpa.repository.Query`

@geoand WDYT ?

[2019-11-09 14:53] geoand commented on #5348
That is indeed true.

I consiously chose not to implement this at all since we don't have anything analogous in Panache.
@emmanuelbernard is there any "native" jdbc support on the radar?
What is your take on this?

[2019-11-09 14:55] jesperpedersen commented on #5348
@geoand Thanks

Example: https://github.com/My-Wine-Cellar/winecellar-webapp/blob/master/src/main/java/com/cellar/wine/repositories/CountryRepository.java

[2019-11-09 14:56] geoand commented on #5348
Yeah, that is undeniably useful!

If we add native query support to Panache, then transfering it to the Spring Data JPA module should be easy.

[2019-11-09 15:01] jesperpedersen commented on #5348
Question is if it can be transformed into a `@NamedNativeQuery` (https://docs.oracle.com/javaee/7/api/javax/persistence/NamedNativeQuery.html)

[2019-11-09 15:09] geoand commented on #5348
Sure it could. There would probably be a few more things involved, but I don't anticipate there being many problems.

[2019-11-09 15:09] geoand commented on #5348
Sure it could. There would probably be a few more things involved, but I don't anticipate there being many problems.

[2019-11-09 18:40] #5318 closed

[2019-11-09 18:51] sberyozkin commented on #5323
@piotrgwiazda might be related. Note, you don't need `quarkus-keycloak-authorization` if all you do is configuring the "web-app"/code flow, but `quarkus-keycloak-authorization` has to be able to co-exist with the "web-app"/code flow, without the client credential grant being issued under the hood, so please double check, if you can help with showing which configuration caused this side-effect then

[2019-11-09 18:55] Xnyle commented on #5326
Which it isn't.. I'm extending a class that is public but extending a class that is package private and in the same package.

[2019-11-09 19:02] geoand commented on #5326
If we could have both a working and the non working Quarkus equivalent, that would be great

[2019-11-09 20:47] dmlloyd commented on #5326
Ah okay I misread it, sorry.

[2019-11-10 00:29] brunoabdon opened #5354 "java.lang.LinkageError from quarkus:dev but not from java -jar"
**Describe the bug**
Quarkus startup fails with `java.lang.LinkageError` from a specific seemingly unharmful combination of facts:

* The app has a JAX `@Path` resource that extends a super from "_dependency-b_"
* This JAX resource overrides a method from its super that returns a `ReturnType` from "_dependency-a_"
* "_dependency-a_" has a class annotated with [`@MappedSuperClass`](https://javaee.g

[2019-11-10 02:40] hantsy commented on #5317
Great work, if the snapshot is avaible, I can help to verify it in my sample.

[2019-11-10 05:51] bdesemb opened #5359 "Simplest generated project fails with quarkus:dev with JDK 13 on Windows 10"
**Describe the bug**
Generated project doesn't run with `quarkus:dev` on Windows 10. The same project run seamlessly on macOS Catalina.

**Expected behavior**
Runs without any error.

**Actual behavior**
Fails at run with error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Generate the simplest app on code.quarkus.io (whithout extensions)
2. Run `mvn compile quarkus:dev`

*

[2019-11-10 08:03] Ravisankar-Challa opened #5355 "AWS Systems Manager Paramters through MicroProfileConfig"
Hi Team,

Could you please provide an extension to load the AWS systems manager parameters through microprofile config.

Thanks,
Ravi

[2019-11-10 08:04] Ravisankar-Challa commented on #5355
@marcinczeczko

[2019-11-10 09:15] geoand commented on #5317
I am afraid that you will have to build Quarkus locally to verify it.

We do have snapshots somewhere, but I can't remember where 🙃

[2019-11-10 09:34] geoand commented on #5296
@iocanel does version `0.9.9` take care of the problem or do you have to do a release?

[2019-11-10 10:44] piotrgwiazda commented on #5323
@sberyozkin I've followed this tutorial https://quarkus.io/guides/security-keycloak-authorization then I've changed the application type to "web-app" to try another approach.

My dependencies are
[code]

When I removed
[code]
and removed `quarkus.keycloak.policy-enforcer.enable=true` the authentication with Keycloak works.

Also, using this tutorial seems to be a better idea in my case : https://q

[2019-11-10 11:14] Elegie opened #5360 "Fail to build native function with -Dnative-image.docker-build"
**Describe the bug**
Running `mvn package -Pnative -Dnative-image.docker-build=true` on the code generated by `quarkus-amazon-lambda-archetype` fails with:

 `docker: Error response from daemon: invalid volume specification: 'C:\Users\Elegie\springyme_quarkus\lambdatest\target\lambdatest-1.0-SNAPSHOT-native-image-source-jar:/project:z'.`

**Expected behavior**
The packaging works and a `function.z

[2019-11-10 12:08] niedch commented on #5322
I can also verify that lazy loading helps to resolve that issue, but its an workaround.
Thank you anyways.

[2019-11-10 12:25] machi1990 commented on #5360
Hi @Elegie thanks for reporting this. I do not have a windows PC with me, so I'll like your help on this figuring out what's going on.

Can you make sure that the `C` drive is shared on your Docker Toolbox and try running this command
[code]

from your project dir?

[2019-11-10 13:07] Elegie commented on #5360
Hi @machi1990, thank you for your answer. Unfortunately it yields the same result.

[code]

Just so that you can be sure, I have attached a screenshot of the virtualbox configuration (https://imgur.com/a/yQa5Qda). By default, the directory was already shared (it is located in my user directory for that very reason), but I have added the sharing on the C drive, re-started the VM and re-done the tes

[2019-11-10 15:11] dmlloyd opened #5361 "Duplicated classes in commons-logging dependencies"
**Describe the bug**
Apache commons logging dependency is sometimes being included in the build output along with our `commons-logging-jboss-logging` artifact, causing unpredictable issues with logging.

[code]

**Additional context**
Relates to #4528

[2019-11-10 16:17] dodalovic opened #5362 "Improve rendering of html code snippets in the docs"
In https://quarkus.io/guides/vertx#streaming-using-server-sent-events, the following snippet not highlighted:

![image](https://user-images.githubusercontent.com/6358061/68547126-f9185a80-03dd-11ea-97f6-1efd5f2a9475.png)

[2019-11-10 17:03] sberyozkin commented on #5323
@piotrgwiazda thanks, I'll keep it open as the policy enforcer should either work with the id tokens in this case or if it only works with `service` apps - then probably fail the application startup or log a warning. Thanks

Hi Pedro @pedroigor - what do you think - I guess the simplest approach is probably add a check if the application type is `web-app` and if not - fail. Or should it just check

[2019-11-10 17:30] gwenneg commented on #5362
Hi @dodalovic. All HTML snippets look like this one in the Quarkus documentation.

Is there a problem with this specific snippet or are you suggesting the HTML highlighting could be improved globally?

[2019-11-10 17:32] dodalovic commented on #5362
Globally, since other languages are indeed highlighted, I'm not sure if `html` is the only one causing issues

[2019-11-10 17:43] gwenneg commented on #5362
I agree we could do a better HTML highlighting (and check the highlighting for other types of sources) in the Quarkus doc. Thanks for suggesting this!

[2019-11-10 19:49] Sanne commented on #5269
I see there's also `-H:±IncludeAllTimeZones`, as menioned by @jaikiran  oracle/graal#1819 - so while we can't make a fine-grained choice, there's a solution at least.

Should we include it by default when e.g. the MySQL feature is activated? With such use cases, we can't safely know at build time actually which timezones should be included.

In such cases there's some tension between being nice an

[2019-11-10 20:02] 4ntoine commented on #3917
@geoand any updates on this?

[2019-11-10 20:07] geoand commented on #3917
@stuartwdouglas is probably going to look into a more permanent solution to such problems.
I has a temporary solution but it was too risky and was just a band-aid.

[2019-11-10 20:18] 4ntoine commented on #3917
@geoand Thanks for quick reply!

[2019-11-10 21:34] iocanel commented on #5296
We need a new release.

On Sun, Nov 10, 2019, 11:34 Georgios Andrianakis <notifications@github.com>
wrote:

[2019-11-10 22:10] majonga88 opened #5363 "Cannot do docker build with gradle based on native image"
Hi folks.

I would like to know how we can do a docker build with gradle based on native build.

I read this doc : https://quarkus.io/guides/gradle-tooling

I build a native image with this command : `./gradlew buildNative --docker-build=true`, it works.

But when i see the DockerFile.native, i would like to build my docker image with this command :
`docker build -f src/main/docker/Dockerfile.nati

[2019-11-10 22:50] machi1990 commented on #5360
Hi @Elegie thanks for reporting back. I honestly do not have further ideas as I suspect it a docker related problem. Just out of curiosity, you mentioned restarting a VM, what kind of setup do you have ? are you using the [Docker Desktop for windows](https://hub.docker.com/editions/community/docker-ce-desktop-windows) ?

[2019-11-10 23:04] stuartwdouglas commented on #5291
The problem with MainClass is that it does not really work with dev mode, and anything that happens in the main class happens before CDI has started etc, so nothing Quarkus provided is available.

Is there any reason why we can't just observe the StartupEvent?

[2019-11-10 23:16] stuartwdouglas commented on #5291
Also you should be able to still do this via quarkus.package.main-class in application.properties.

[2019-11-10 23:58] Elegie commented on #5360
Hi @machi1990, thanks for your comment! [Docker Desktop for Windows](https://hub.docker.com/editions/community/docker-ce-desktop-windows) only works for Windows Professional or Enterprise editions, not the other personal Windows editions, like the one I own. I have to use the legacy [Docker Toolbox](https://docs.docker.com/toolbox/overview/), which installs and uses Oracle Virtualbox.

I've create

[2019-11-11 00:29] machi1990 commented on #5360
Interesting...

Yes, I initially thought it is the paths issue.

So we have already tried the command below without success,
[code]

Does changing the above command so that the mounted path corresponds to use one of the suggested ways from the article you shared solves anything? If so, maybe it is something that can be fixed in the plugin or a behaviour that we can document in the guides.

Thanks

[2019-11-11 02:05] gastaldi commented on #5363
@majonga88 that's because the `.dockerignore` is ignoring it. Try deleting this file and run the command again.

@geoand any idea why this file exists?

[2019-11-11 02:07] gastaldi commented on #5363
Ah the `.dockerignore` for gradle needs to reference the `build/` directory instead of `target/`, I'll submit a PR

[2019-11-11 03:36] jaikiran commented on #5359
Hello @bdesemb, does this only happen with Java 13?
Can you try with Java 8 and see if it works? Also, can you post the output of the directory listing of the "target" directory when this fails against Java 13? If its easier, you can just zip/tar the contents of your target dir and upload it as an attachment to this issue.

[2019-11-11 04:03] jaikiran commented on #5340
@kdnakt, Does it work if you use Java 8 instead of Java 11?

[2019-11-11 04:35] stuartwdouglas commented on #5361
We really need the ability for extensions to 'filter' out bogus artifacts.

[2019-11-11 04:44] stuartwdouglas commented on #5326
Is it dev mode where you have the problem or when running the built uberjar?

[2019-11-11 04:48] stuartwdouglas commented on #5307
This should be fixed by https://github.com/quarkusio/quarkus/pull/5315, in that you can now just exclude /health using your config.

[2019-11-11 04:48] #5307 closed

[2019-11-11 06:23] geoand commented on #5249
#5032 was just merged

[2019-11-11 06:56] Elegie commented on #5360
Hi @machi1990, thank you for your answer. The new syntax works:

[code]

There is a catch though. The mounted path must be `/c/` in lowercase, and not uppercase. I had tried the uppercase version yesterday (in my first comment), but it failed with a NoSuchFileException and I didn't ponder why at the time. Here are the two commands I ran this morning (the first one fails, the second one succeeds):

[2019-11-11 07:40] #5363 closed

[2019-11-11 07:50] enbohm commented on #4572
Using Envoy and Quarkus is now working for me. I tried with various settings in Quarkus such as connect timeout and idle timeout but could still see that a few requests did fail (=503). Finally I managed to effectively disable keep alive in Envoy for all upstream connections towards Quarkus applications by setting ```max_requests_per_connection``` to 1  (see https://www.envoyproxy.io/docs/envoy/la

[2019-11-11 08:19] Xnyle commented on #5326
When running the uberjar.
I'm currently a bit busy so no time to create a test-case.
My actual inheritance looks like this, if that helps:

org.yaml.snakeyaml.representer.BaseRepresenter (package private)
org.yaml.snakeyaml.representer.Representer (public)
org.mypackage.MyRepresenter (public, no context annotation)
org.mypackage.MyActualRepresenter (public, @Dependent)

Error occurs when trying to

[2019-11-11 08:44] #2482 closed

[2019-11-11 08:44] #5262 closed

[2019-11-11 09:03] Sanne commented on #5348
`@NamedNativeQuery` should work as Hibernate ORM supports it; were you expecting Panache to add something to it?

[2019-11-11 09:06] geoand commented on #5348
I didn't really want to add things to Spring Data JPA that Panache doesn't support.
That said I see no good rule how to do this (since one could argue that the Spring Data JPA support already does have some things that Panache doesn't), so I'm obviously open to suggestions here :)

[2019-11-11 09:14] Sanne commented on #5348
That's wise but Panache is building _additional_ helpers on top of Hibernate ORM. I don't expect it would need to also re-export features which ORM already provides?

Spring Data JPA could definitely use any feature that ORM has, and combine them with the additional stuff Panache adds.

That said, what's the semantics of `spring.datasource.data=*scripts*` ? Is the order of execution of such script

[2019-11-11 09:17] Sanne commented on #5348
Existing similar feature:
 - https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.sql-load-script

[2019-11-11 09:19] geoand commented on #5348
Another thing to take into account here is that for the Spring compatiblity we haven't so far utilized any Spring configuration - it's all Quarkus specific.
We could support Spring native configuration, but we would need to be careful. If we do that, then the next step might have to be to support Spring's Java configuration DSLs which could be a real trap....

[2019-11-11 09:50] Sanne commented on #5348
Agreed, I don't think supporting all details of Spring is a wise goal, especially with configuration there's things which conceptually can't be mapped.

The goal of the "spring like" APIs should be to make it easy and familiar for people with a Spring background, no more.

So, up to you... maybe I'm missing something about the flexibility of such scripts; if so let's improve our flexibility as wel

[2019-11-11 09:53] geoand commented on #5348
Good idea!

@aureamunoz do you want to perhaps look into `spring.datasource.data` based on what @Sanne mentions above?

[2019-11-11 09:55] aureamunoz commented on #5348
Yes! sure!! @geoand

[2019-11-11 09:56] geoand commented on #5348
Thanks!

[2019-11-11 10:08] Sanne opened #5368 "Run native-image tests for quarkus-integration-test-jpa-without-entity on CI"
Follow up to #5343 : I introduced a new integration test which requires to be run in native-image, but forgot to edit the pipelines to enable this.

@machi1990 volunteered :1st_place_medal: Thanks!

[2019-11-11 10:14] johnaohara opened #5370 "Support spring-web wildcard syntax in @RequestMapping"
**Describe the bug**
Spring-web RequestMapping allows for wildcard definitions within paths that have a different syntax from valid jax-rs paths.

In order to facilitate support of spring-web applications without developers having to re-define path mappings, quarkus should fully support the spring-web syntax in @RequestMapping definitions.

**Expected behavior**
e.g `@GetMapping("/wildcard/*/{name

[2019-11-11 10:16] geoand commented on #5370
@asoldano @patriot1burke @FroMage does JAX-RS not support expressions like `@PATH("/wildcard/*/{name}")`?

[2019-11-11 12:04] maxandersen commented on #4616
from my usecase of getting markers for what is preview and not for platform/code.quarkus.io I think we are good.

I can't right now think of more we need to do right now. If anyhthing that would be follow up issues/epics.

[2019-11-11 12:10] gengraphael commented on #4841
I now started again from scratch....

**_Dockerfile with:_**
FROM mcr.microsoft.com/windows/servercore:1903
FROM mcr.microsoft.com/powershell:preview
LABEL vendor="Bizerba SE & Co. KG"
LABEL version="1.0"
LABEL maintainer="raphael.geng@bizerba.com"
LABEL discription="Creates an image with  vs_buildtools2017"
LABEL release-date="2018-11-11"
LABEL modified-date="2018-11-11" `

_**Powershell to setup

[2019-11-11 12:13] geoand commented on #4841
Can you please try with version `1.0.0.CR1`?

[2019-11-11 12:20] gengraphael commented on #4841
Which component do you mean?
Thanks for your help!

[2019-11-11 12:25] geoand commented on #4841
@gengraphael the Quarkus version. I see that `0.28.0` is being used.

[2019-11-11 12:39] jesperpedersen opened #5371 "SpringJPA: Support spring.datasource.data"
**Description**
The `spring.datasource.data` property allow you to set a file pattern that will used for a data source import.

Like
[code]

**Implementation ideas**
The file pattern should be implicit merged into an `import.sql` file and deployed.

@geoand

[2019-11-11 12:42] jesperpedersen commented on #5348
@geoand  @aureamunoz Raised [#5371] for `spring.datasource.data` as it is separate from this.

[2019-11-11 12:42] geoand commented on #5348
Thanks @jesperpedersen!

[2019-11-11 12:45] gengraphael commented on #4841
Thanks!

I made the change but the result is the same!

Can i generate more output? The org.postgresql.postgresql-42.2.6.jar with the org.postgresql.sspi.ISSPIClient inside is definitly inside of `module-native-image-source-jar\lib`

[2019-11-11 12:54] geoand commented on #4841
You can try adding `-X` to the `mvn ...` command.

[2019-11-11 12:58] rafaelkloss commented on #4377
Hi guys, i'm really preoccupied with this issue. What more i can do to solve this ?
Thanks for understanding

[2019-11-11 13:08] asoldano commented on #5370
@geoand see https://docs.jboss.org/resteasy/docs/4.4.0.Final/userguide/html/Using_Path.html#_Path_and_regular_expression_mappings

[2019-11-11 13:14] geoand commented on #5370
Excellent, thanks @asoldano!

[2019-11-11 13:23] hantsy commented on #4042
@geoand  Just verify this again in my application.

I have NOT changed my codes.
[code]

Now I got an exception like this.

[code]

[2019-11-11 13:32] goranopacic commented on #5340
@jaikiran  I have the same problem with Java 8:
% java -version
openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-b09)
Eclipse OpenJ9 VM (build openj9-0.17.0, JRE 1.8.0 Mac OS X amd64-64-Bit Compressed References 20191017_369 (JIT enabled, AOT enabled)
OpenJ9   - 77c1cf708
OMR      - 20db4fbc
JCL      - 97b5ec8f383 based on jdk8u232-b09)

[2019-11-11 13:32] geoand commented on #4042
@hantsy I will take a look

[2019-11-11 13:36] #5303 closed

[2019-11-11 13:41] hantsy commented on #4042
I added a Jackson `ObjectMapper` bean in the [AppConfig](https://github.com/hantsy/quarkus-sandbox/blob/master/spring-post-service/src/main/java/com/example/AppConfig.java#L16-L21) to customize the JSON format. But I am not sure if this affected it.  Obviously it indicated it is a serialization issue.

[2019-11-11 13:43] Xnyle opened #5373 "@InterceptorBinding no longer recognized/fired when they have additional fields"
This interceptor binding is working fine, if there is an interceptor (having @Priority annotation or not, @AroundInvoke gets fired wherever @StorageThreadSession is annotated):

[code]

adding a field to the binding definition, @AroundInvoke stops working, it seems the interceptor binding is not recognized at all in this case:

[code]

I can split up my annotation but I don't think that this is th

[2019-11-11 13:51] jaikiran commented on #5299
For future reference - @tfve has created a discussion in the developer.jboss.org forums here https://developer.jboss.org/thread/280777

[2019-11-11 13:58] tfve commented on #5299
Update on this issue:
I am now using Quarkus 1.0.0-CR1 and the issue is gone. Previously I was using 0.25.0.
Now I'm curious: what has changed between these versions? Is JTA not being used by default, now?

[2019-11-11 14:07] geoand commented on #4042
@hantsy I figured out the problem, very interesting!

Thanks for spotting. I'll open a new issue.

[2019-11-11 14:08] Sanne commented on #4377
hey @rafaelkloss , I'm sorry for the delay - we had several complex issues to analyse and it's a small team :)

I've been tempted to disable dirty  tracking by default, but it would have been only a temporary workaround - and it would have had consequences on other features - so decided to not do that, but rather we should get to the bottom of this.

We'll get back to this soon.

[2019-11-11 14:10] geoand opened #5374 "ClassCastException in Spring Web when both a controller method and an advice method return ResponseEntity"
When a Spring controller is something like:

[code]

and the controller advice looks like:

[code]

then a ClassCastException is thrown when the controller method is used with an "illegal" ID.
Something like:

[code]

Originally reported [here](https://github.com/quarkusio/quarkus/issues/4042#issuecomment-552443998).

[2019-11-11 14:11] johnaohara opened #5375 "Spring-web integration does not support mapping multiple resource to same path root"
**Describe the bug**
spring-web supports mapping of multiple Resources to the same path root.  For example, the following ResourceMappings definitions are valid in a spring-web application;

[code]

[code]

From the class definitions above the following urls should be valid;

`/pets/1`
`/owners/pets/1`
`/owners/1`

Currently, url `/owners/pets/1` returns a HTTP 404 error

**Expected behavior**

`/

[2019-11-11 14:15] Sanne commented on #5299
JTA still is the default, but we both updated Narayana and tuned the configuration a bit; I didn't know it would fix this specific issue though, good to know :)

But I suspect it's just a lucky coincidence, I think we should still figure out what's the appropriate approach to use when the configuration is changed.

[2019-11-11 14:22] jaikiran commented on #5340
Having looked around a bit, it looks like in this case, either or both of you are building this native image on MacOS and then running it on Linux VM perhaps?

Can one you try using this command to build the native image locally:

[code]
This should generate the native image within a container and you can then use the `create-native.sh` and `invoke-native.sh` as usual to try out the AWS function.

[2019-11-11 14:24] Sanne commented on #4377
@rafaelkloss there's a PR for your issue here: https://github.com/hibernate/hibernate-orm/pull/3092

It's going to need careful reviewing though. @dreab8 added your use case among the integration tests, but if you'd like to have a look anyway feel free to experiment with it!

[2019-11-11 14:27] dreab8 commented on #4377
@rafaelkloss https://github.com/hibernate/hibernate-orm/pull/3092/files#diff-53443eae565c48423e6bacc6ea9f3b0e is based on you reproducer

[2019-11-11 14:28] tfve commented on #5299
Yes @Sanne, I agree.
We have to make sure it is working flawless. I'm planning on doing some transactional tests soon. I'll let you know if something funny happens.

[2019-11-11 14:29] geoand commented on #5374
Once https://github.com/resteasy/Resteasy/pull/2212 is merged and a new RESTEasy release is out, I will add new test that will catch this in the future

[2019-11-11 14:37] AmauryOrtega commented on #4093
@gsmet @anamarija I'm quite a noob when it comes to dependency inversion and injection, specially when it comes to CDI. Could you recommend some sources where I could read about it? Really curious what is going on here.

[2019-11-11 14:52] seseso opened #5376 "Build fails with OpenAPI and Optional QueryParam"
**Describe the bug**
Using OpenAPI extension, project fails to build if a resource is defined with an Optional QueryParam. Ex.
`
@GET
@Produces(MediaType.TEXT_PLAIN)
public String helloName(@QueryParam("name") Optional<String> name) {
    return "hello " + name.orElse("Quarkus!");
}
`
The exception is:
Failed to execute goal io.quarkus:quarkus-maven-plugin:1.0.0.CR1:build (default) on project code

[2019-11-11 15:11] rboei opened #5378 "Implicit serving of a welcome page"
Hey,
as requested by Sergey Beryozkin in this zulip topic: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/implizit.20redirect.20to.20index.2Ehtml/near/180420334
a new feature request:
Add an option to enable automatic redirects to a welcome page.
e.g. a user requests http://server/a/ und gets served http://server/a/index.html if the option is enabled.

Kind regards,
Rene

[2019-11-11 15:14] evanchooly commented on #5037
I'm not quite sure I understand what you're asking here.  Apart from the gradle request.  I can talk to the guy doing the gradle integration for the most appropriate route there.

[2019-11-11 15:17] oztimpower commented on #5037
Primary request is to auto-template the sam.jvm.yaml and sam.native.yaml similar to the amazon-lambda-http extension, which is what I'm describing in the amazon-lambda guide (as per your feedback).

Gradle request was secondary.

[2019-11-11 15:32] evanchooly commented on #5037
oh, right, because `amazon-lambda` isn't currently set up for those templates where `amazon-lambda-http` is.  Got it.

[2019-11-11 15:33] jaikiran commented on #5326
@Xnyle, thank you for those details. I was able to reproduce this based on what you provided.

@stuartwdouglas, this now looks like an Arc issue rather than classloading or uber jar related. I've a simple testcase which reproduces this against upstream master. The test case is here https://github.com/jaikiran/quarkus/commit/6da288cfbdaa2b65acae9619446e4b47fb6a028f.

This test fails:
[code]
I ended

[2019-11-11 15:45] goranopacic commented on #5340
thanks @jaikiran - it works now!

[2019-11-11 15:53] jaikiran commented on #5340
@goranopacic Thank you for confirming. I'll close this now.

[2019-11-11 15:53] #5340 closed

[2019-11-11 16:06] machi1990 commented on #5376
This looks like a bug in smallrye-openapi happens when we try to deduce the schema from the Optional type. Shouldn't the schema be deduced from the wrapped type in this case?  I am also unsure that should be handled at the spec level.
/cc @kenfinnigan maybe you could have better insight?

@seseso  To work around the issue, you can add the schema as below
[code]

[2019-11-11 16:07] kenfinnigan commented on #5376
@EricWittmann ^^

[2019-11-11 16:10] #5368 closed

[2019-11-11 16:16] EricWittmann commented on #5376
I've opened: https://github.com/smallrye/smallrye-open-api/issues/210

[2019-11-11 16:17] machi1990 commented on #5376
Thanks @EricWittmann @kenfinnigan

[2019-11-11 16:18] dmlloyd opened #5380 "Maven integration tests should detect process failure"
**Description**
If the subprocess execution fails for any reason in the Maven integration tests, the test just hangs.  You have to manually go in to figure out what failed and why.

The test should fail immediately if the subprocess exits with a non-zero exit code.  The test should also fail if the test condition succeeded (e.g. the REST request was OK) but the subprocess then subsequently exits w

[2019-11-11 16:36] johnaohara commented on #5269
Tested building with `quarkus.native.additional-build-args=-H:+IncludeAllTimeZones` that native image succesfully connects to the mysql database

[2019-11-11 16:41] bvarner opened #5381 "Allow addition of AgroalDataSourceListener implementations during run-time production of DataSources."
**Description**
Allow CDI @ApplicationScoped AgroalDataSourceListeners to be registered, prioritized, and applied to appropriate data sources during production of an AgroalDataSource.

**Implementation ideas**
Per discussion on #5219, [a CDI implementation](https://github.com/quarkusio/quarkus/issues/5219#issuecomment-551938067) may be an elegant way to handle this.

[2019-11-11 16:45] bvarner commented on #5219
@Sanne - I'm going to close this, as I've logged #5381 to replace the original intent.

[2019-11-11 16:45] #5219 closed

[2019-11-11 16:50] rafaelkloss commented on #4377
Thanks :)

[2019-11-11 16:52] kdnakt commented on #5340
@jaikiran Thanks for your advice, I just confirmed it worked with Java11 following your advice!

Also, thank you for @goranopacic trying with Java8.

[2019-11-11 18:15] machi1990 commented on #5360
Good to hear.

@Elegie Good to hear and thanks for being of much help along the way. When fixing this in our side, we have to make sure that the propose command syntax also works when using Docker Desktop for Windows. Having said that, would you like to contribute the fix? It should be here https://github.com/quarkusio/quarkus/blob/d3bedb554ee7a7def9f0c342052219d0bfa4dfcd/core/deployment/src/main/

[2019-11-11 18:28] romatthe opened #5382 "smallrye-reactive-messaging-mqtt-server support"
**Describe the extension**
Using Smallrye Reactive Messaging already seems to have support for MQTT in preview, but it seems this is currently only for the `smallrye-mqtt` connector, and not for the `smallrye-mqtt-server` connectors (which is used for ingesting MQTT messages directly). Using the `smallrye-mqtt-server` connector currently simply throws a `IllegalArgumentException: Unknown connector

[2019-11-11 18:29] gwenneg commented on #5373
Hi @Xnyle! Depending on how you want the interceptor to be activated, you might need to add the [@NonBinding](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#interceptor_resolution) annotation to the `qualifier` member of your interceptor.

[2019-11-11 18:46] sean-scott-lr commented on #820
@cescoffier is the Http/2 stabilization being tracked on a particular issue that I can follow?

thanks!

[2019-11-11 19:21] geoand commented on #5375
@asoldano is this feature supported in JAX-RS?

[2019-11-11 19:22] machi1990 opened #5384 "CI native test for jackson, jsonb, jgit, kogito and kubernetes-client timeout failures"
**Describe the bug**
The native tests for the mentioned modules takes more than the attributed 25 mins causing a timeout failure

**Expected behavior**
CI to pass

**Actual behavior**
The job is cancelled after timing out.
An extract message from the runner: `The job running on agent expand034 ran longer than the maximum time of 25 minutes.`

I have noticed the failure in:
1. https://dev.azure.com

[2019-11-11 20:21] dmlloyd commented on #975
Yep I think this is solved.

[2019-11-11 20:21] #975 closed

[2019-11-11 20:22] dmlloyd commented on #784
This is complete.

[2019-11-11 20:22] #784 closed

[2019-11-11 20:23] dmlloyd commented on #891
This is fixed for run time configuration in the upcoming patch.  It is not fixed for build time configuration which will still just produce an exception for the first problem found, but it may be fixable by a new contributor with some small amount of guidance once that patch is in.

[2019-11-11 20:58] Elegie commented on #5360
Hi @machi1990, thanks for your kind comment. Unfortunately, contributing a working fix for the issue is probably beyond my capabilities.

Translating the absolute path is fine I suppose (see a proposal below). However, I don't know if `Docker for Windows` would be able to interpret such a path, as I only own a Windows with `Docker Toolbox`. If it does, then the simple path translation should indee

[2019-11-11 21:41] Elegie commented on #5360
Hi again @machi1990. To give you more feedback, I have pulled the sources, made the change, recompiled, ran the tests, installed and tried the updated plugin, and this time it worked and generated a `function.zip` file. I cannot deploy the function to verify whether it works, though (I haven't properly set up my AWS account yet).

Towards the end, the console still prints an error, I don't know if

[2019-11-11 22:01] Sanne commented on #5269
We try to infer the Dialect from the driver. Both driver and Dialect being build-time only options, so if you change them you'll need to rebuild the app: remember the dialect has an impact on the ORM metadata and the SQL statements we generate as part of the metadata, and such metadata is prepared at build time.

[2019-11-11 22:42] machi1990 commented on #5360
Hi @Elegie thanks for the efforts and really good progress. At this point I'd say the hardest part is done, you can feel free to open a PR (or even a draft one) with your working solution. It will be easier for the team to have a look at it and providing valuable feedbacks - including running the tests for Docker Desktop for Windows (I would have done so if I had a Windows machine).

Again thanks

[2019-11-11 22:50] dmlloyd opened #5388 "Easy Config-related cleanups"
**Description**
After #5387, there are several configuration constructs that can be cleaned up in core and extensions.

- [x] Any `@ConfigItem` which has a primitive type like `int` or `boolean` that has an explicit default value of `0` or `false` can have the default value removed.
- [x] Any `@ConfigItem` with a primitive wrapper type like `Integer` or `Boolean` with an explicit default value of

[2019-11-11 22:50] Elegie commented on #5360
Hi @machi1990, thanks for your comment. I'll be opening a PR by the end of the week then, if that's alright. Cheers.

[2019-11-11 22:51] machi1990 commented on #5384
Fixed by #5386

[2019-11-11 22:51] #5384 closed

[2019-11-11 22:55] machi1990 commented on #5360
You are welcome. Yeah sure, that's totally fine, thanks.

[2019-11-11 23:25] bdesemb commented on #5359
Hi @jaikiran, I tested with Java 11 and Java 8 and both are working well.

Here is all the generated files in target with Java 13
[code]

FYI, `mvn package` passes in Java 13. It builds the 'runner' jar that I can run and see the result on http://localhost:8080

[2019-11-11 23:25] Sergey80 commented on #2483
same here.
graalvm                  19.2.1              GraalVM Core
native-image             19.2.1              Native Image        github.com

<quarkus.version>1.0.0.CR1</quarkus.version>

[2019-11-11 23:40] stuartwdouglas commented on #3917
The proper solution to this will be for us to use isolated class loaders to prevent leakage from Gradle, but in this case we should be able to just exclude the dependency.

Surely gradle has some way to exclude this cdi-api:1.0 dependency, or at least force it to be a more recent version? This artifact is actually ecluded in the maven poms that this is being derived from, so I don't really underst

[2019-11-12 07:24] bframke opened #5390 "Adding a reflection configuration file fails when building native using Docker"
We are currently trying to update an old 0.21.2 Quarkus Project to 0.28.1. In this project we used a reflect-config.json to keep classes from being deleted. With 0.21.2 we could successfully build a native image and a docker container, but now we can't.

We already changed to quarkus.native.additional-build-args in the application.properties file with these parameters:
[code]

Trying to execute th

[2019-11-12 07:33] Xnyle commented on #5373
Ok, learned something new, while @NonBinding might solve my problem, shouldn't any interceptor annotation used without any parameters still match all the default values defined in the binding definition?

Which it does on Wildfly/Thorntail but not on Quarkus.

Although I haven't tested it, I think you can reuse https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/tests/src/tes

[2019-11-12 07:54] hantsy opened #5392 "void return type in Spring `@ExceptionHandler` should work without a @ResponseStatus annotation"
I played more examples of exception handling except the ones mentioned in #4042 .

The following exception handling should work.

[code]

But in the startup stage, Quarkus will complain it should be used with a `@ResponseStatus`.

[2019-11-12 08:01] hantsy opened #5393 "Follow the Spring ComponentScan rule to create beans"
I created a  `AppConfig` to setup some configurations for Spring application.

[code]

But if I removed `@Configuration` annotation, this class is still active, and the Jackson ObjectMapper format rule is applied.

I have created a `beans.xml` and set attribute  `bean-discovery-mode="annotated"` in the root element.

[2019-11-12 08:07] 4ntoine commented on #5101
It would be great to have Maven/Gradle switch for configuration too

[2019-11-12 08:09] hantsy commented on #5392
I have added more [exception handlers](https://github.com/hantsy/quarkus-sandbox/blob/master/spring-post-service/src/main/java/com/example/PostExceptionHandler.java#L31) in my example codes, hope they work when building a real-world Spring application with Quarkus.

[2019-11-12 08:18] edewit opened #5394 "Conditionally use @Mock"
**Description**
Testing my rest endpoint I like the way I can create a mock for my service and only test how my parameter are parsed and passed to the service. But I also have a test that tests the service, in that case I want the real service not the mock. It would be great if there was a way to use the mock conditionally.

[2019-11-12 08:32] ia3andy commented on #5394
Having a way to manage how mocks are used from a test  is a must have IMHO

[2019-11-12 08:36] gwenneg commented on #5373
If it works with Wildfly and Thorntail but not with Quarkus, then it's worth asking @mkouba for his opinion.

[2019-11-12 08:44] mkouba commented on #5373
Yes, I think that default values should be used for both the bean and the interceptor. In other words, the interceptor should be bound to a bean annotated with the binding that has the same annotation member value.

It's probably a bug. I'll look into the relevant parts of ArC.

[2019-11-12 09:03] #5297 closed

[2019-11-12 09:15] geoand commented on #5392
I'll fix this (hopefully) for `1.0.0.Final`.

[2019-11-12 09:20] geoand commented on #5393
Thanks for reporting this.

`beans.xml` is not used at all

[2019-11-12 09:20] maxandersen commented on #5101
@4ntoine can you elaborate a bit on what you are looking for ?

[2019-11-12 09:34] geoand commented on #5392
#5395 should take care of this

[2019-11-12 09:41] 4ntoine commented on #5101
@maxandersen Sure, i'd like to have a switcher maven/gradle(groove/kotlin) in build configuration files, like follows (see my link):
[code]
in most cases the transition is pretty straight-forward, like:
[code]
can be achieved with Gradle's:
[code]
However there can be more complicated usage examples.

It just removed the barriers for the newcomers (especially from Android world who mostly use Grad

[2019-11-12 10:17] bframke commented on #5390
We now found one way to do it. With the Property: quarkus.native.container-runtime-options=-v,/home/bfr/git/minical-multi/minical/build/:/project/build:z

Is that a preferred way or just a workaround for it?

[2019-11-12 11:21] geoand commented on #5370
RESTEasy PR opened to address these cases. Once it's been merged and released I can update Quarkus to add some tests cases for this

[2019-11-12 11:23] ppalaga commented on #4037
Two people recently asked me about Spring Security on Quarkus on a Java developer conference. (And I got no questions about other missing Spring components).

[2019-11-12 11:23] Sanne commented on #5219
great, thanks

[2019-11-12 11:23] geoand commented on #4037
@ppalaga thanks for the info!

[2019-11-12 11:26] Sanne commented on #5381
hi @barreiro could you have a look here please from an Agroal perspective? Also see the linked previous discussion on #5219 to get some context

@mkouba and we'll need you for the CDI aspects :)

[2019-11-12 11:34] rsvoboda opened #5397 "security-openid-connect-web-authentication.adoc is out of sync with current code base and related quickstart"
security-openid-connect-web-authentication.adoc is out of sync with current code base and related quickstart

There were several adjustments to the codebase and security-openid-connect-web-authentication-quickstart was updated too
https://github.com/quarkusio/quarkus-quickstarts/commits/development/security-openid-connect-web-authentication-quickstart

security-openid-connect-web-authentication.ad

[2019-11-12 11:43] loicmathieu commented on #3385
@sberyozkin now that keycloack is based on the OIDC extension and that OIDC extension provides an `enabled` property this should be close right ?

[2019-11-12 11:46] loicmathieu commented on #3107
@emmanuelbernard now that the extension health check mechanism is implemented and some health check are on there way thanks to #5073 and #4793 can we close this one ?

[2019-11-12 11:48] dabloem opened #5399 "java.util.jar.JarInputStream.getManifest() returns null for quarkus-runner.jar"
**Describe the bug**
JarInputStream.getManifest() returns **null** for quarkus-runner.jar

**Expected behavior**
Return non-null Manifest.class

**Actual behavior**
Returns null

**To Reproduce**
Steps to reproduce the behavior:
1. create quarkus-runner.jar (which includes META-INF/MANIFEST.MF)
2. execute the following code
[code]
3. Verify NullPointerException

**Environment (please complete the

[2019-11-12 11:54] geoand commented on #5390
@aguibert did you face a similar problem or do I not recall correctly?

[2019-11-12 12:00] maxandersen commented on #5101
ah you mean you don't like the use of enforced-platform/bom in our gradle file, but prefer the quarkus plugin to do the scaffolding ?

Yes, that is something I want too - just trying to figure out how we do it best reusing the dep set from the bom's the best way.

[2019-11-12 12:09] 4ntoine commented on #5101
@maxandersen Sorry for being not clear enough. I've meant "provide configuration with Gradle everywhere where you can see configuration with Maven".

[2019-11-12 12:15] jaikiran commented on #5359
@bdesemb, thank you for these additional details. So it looks like this is specific to Java 13 on Windows. I'll try and find a Windows machine later this week to see what's going on.

[2019-11-12 12:20] maxandersen commented on #5101
aaaaah! have our documentation include both maven and gradle snippets for needed config. Gotcha!

And I fully agree-  I would prefer we get the actual gradle configuration simplified before go update all the docs - but yes, agreed.

[2019-11-12 12:26] geoand commented on #5375
@asoldano it seems like JAX-RS doesn't allow a scenario like @johnaohara describes (assuming JAX-RS annotations instead of Spring Web ones).
Is there some other alternative perhaps or any clues to where to look to support such a case and how difficult it would be?

[2019-11-12 12:53] sberyozkin commented on #5397
@rsvoboda Not sure it should be marked as a bug, since there was no code presented there. My understanding the code was not added there because the demo is not really about the code but the login, though may be that code can be copied.... But I'd consider it be an enhancement request :-) CC @pedroigor

[2019-11-12 13:08] mkouba opened #5400 "ArC - verify occurences of BytecodeCreator.loadClass()"
This is a follow-up of https://github.com/quarkusio/quarkus/pull/5385. We should verify each occurence of  `BytecodeCreator.loadClass()` in ArC and decide whether it should be replaced with TCCL + `Class.forName()` in order to support more complex class hierarchies with package-private classes.

[2019-11-12 13:12] #5326 closed

[2019-11-12 13:19] geoand commented on #5393
So the problem is that even if `@Configuration` is removed, the Jackson bean is still registered?

[2019-11-12 13:30] zeljkot opened #5401 "Dependency cannot read from resource directory"
**Describe the bug**
Main project has dependency on another project. Dependency tries to load resource bundle using `ResourceBundle.getBundle("messages");`, but fails. It seems that dependency uses different classloader, which does not see files from the main project.

**Expected behavior**
Dependency should be able to read configuration from the main project.

**Actual behavior**
Dependency gets

[2019-11-12 13:36] tobad357 commented on #5101
@maxandersen I'll chime in with that it seems quarkusBuild doesn't work well with org.gradle.caching=true and Up To Date check.

I've tested by
* add "org.gradle.caching=true" to gradle.properties
* ./gradlew build --scan
* ./gradlew build --scan

quarkusBuild and test show as being rebuilt while by right they should be up to date as I did no changes to the project between builds

[2019-11-12 13:51] pedroigor commented on #5397
@sberyozkin I think I agree. The guide is only about protecting a web app serving pages that can only be accessed after the user is authenticated.

@rsvoboda Do you mean we should update guide to describe in more detail the `TokenResource` ?

[2019-11-12 13:54] Karm commented on #5291
@stuartwdouglas
Ad

I can confirm it works with Quarkus 1.0.0 RC1: [application.properties](https://github.com/Karm/qjf/blob/master/src/main/resources/application.properties)  :+1:    Thank you for the hint.

Ad

I took a look at [AppLifecycleBean.java](https://github.com/quarkusio/quarkus-quickstarts/blob/master/lifecycle-quickstart/src/main/java/org/acme/events/AppLifecycleBean.java) but I don't

[2019-11-12 13:55] MossabTN opened #5403 "Problem with native build: Vertx SockJS"
I got a problem when building my quarkus microservice using Vertx SockJS when I want to add the mothod sockJSHandler.bridge :

This is my java class :

[code]
and I got an error just when I add this piece of code of SockJSHandler.bridge :

[code]

I got this error :

[code]

How can I deal with this error please

[2019-11-12 13:58] Karm commented on #5291
/me looking at https://github.com/quarkusio/quarkus/pull/2866

[2019-11-12 14:01] rsvoboda commented on #5397
I meant differences like

https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc#configuring-using-the-applicationproperties-file
[code]

https://github.com/quarkusio/quarkus-quickstarts/blob/adb7a530264249d02ede94474a6822bf605e1afd/security-openid-connect-web-authentication-quickstart/src/main/resources/application.properties#L1-L6

[2019-11-12 14:02] emmanuelbernard opened #5404 "Process how to track breaking changes"
DO NOT BREAK THINGS

You can break things but :

- You must be preview and discuss it on quarkus-dev (or explain your really good reason)
- Set a label in GitHub
- Write migration document before you commit it in master
- Test your changes against the quickstart

[2019-11-12 14:06] schulzp commented on #1850
Hi @Sanne & @klearchos,

I'd like to make `NativeImageLauncher` more configurable, too. Using `mvn -Pnative quarkus:native-image io.fabric8.docker:build` allows to create a native docker image (that is not host OS specific). However, `NativeImageLauncher` tries to launch the `target/*-runner` binary, which is **not working on the host OS** (macos, in my case).

I worked around this using a script,

[2019-11-12 14:24] geoand commented on #5399
This seems related to: https://bugs.openjdk.java.net/browse/JDK-8031748

So basically for `JarInputStream` the manifest needs to be the first entry in the jar

[2019-11-12 14:28] MossabTN opened #5406 "Spring data Jpa extension : sort with Pageable does not work"
When I use the extension of spring data Jpa, the sort with Pageable does not work.

This is my exp:

[code]

the method sort does not work as if it does not exist

[2019-11-12 14:28] sberyozkin commented on #5397
Thanks @rsvoboda for pointing to it. We can probably avoid adding the `htmlunit` log category to the docs, it is really related to minimizing the noise during the test.

[2019-11-12 14:33] rsvoboda commented on #5397
a bit confused about `quarkus.oidc.client-type=web-app` vs `quarkus.oidc.application-type=web-app` difference

Seems `quarkus.http.auth.permission.authenticated.paths=/*` and `quarkus.http.auth.permission.authenticated.policy=authenticated` were necessary to pass tests.

[2019-11-12 14:46] oztimpower commented on #5360
@Elegie the Amazon Lambda docs have been updated in #5377 to show you how to test local with the SAM CLI which runs in Docker (given your comment about not having an AWS Account)

I use Gradle so have to hand construct the function.zip, so I am curious if this will work for you, and yes also on Mac :)

[2019-11-12 14:50] oztimpower commented on #5249
@zulq given the merge of #5032 can you please close this issue?

[2019-11-12 14:58] bvarner commented on #5381
Sorry for the confusing stuff on here. I've squashed my commits and rebased with a new PR.

[2019-11-12 15:00] pedroigor commented on #5323
The `quarkus-keycloak-authorization` extension should also work with `web-app` applications. The difference here is that to use the extension your client must be a confidential client and have a secret (for now Quarkus only supports client_id/client_secret for client authentication).

However, we only advertize in guides and cover in our testsuite the bearer token scenario, typical for `service` t

[2019-11-12 15:15] misl commented on #5234
Same not only happens to AMQP messages but also when using the MQTT connector.

This however is not only a technical question/bug. On the functional side, what should the behaviour be for messages that result into errors. Right now there is no ACK so the message might stay in the queue. When restarting the server the same message is delivered again most probably resulting in the same error.

It is

[2019-11-12 15:24] geoand commented on #5399
#5409 should take care of this

[2019-11-12 15:31] #1888 closed

[2019-11-12 15:38] sberyozkin commented on #5323
@pedroigor thanks; @piotrgwiazda had `quarkus-keycloak-authorization` activated (from the earlier tutorial) which caused the exception, see the error description.

What do you mean it has to be a confidential client, the web-app is a confidential client, right ? The configuration reported by the user has it all set up, `quarkus.oidc.credentials.secret=ca21b304-XXX-XXX-XXX-51d38ef5da02`. Is it real

[2019-11-12 15:46] sberyozkin commented on #5397
@rsvoboda a user has just reported this issue on Zulip :-)

[2019-11-12 15:47] aguibert commented on #5390
yes I did face a similar problem where it appeared the base dir of the native image build happened up a dir from where it did before. We had doc that pointed to files similar to this:
`-H:ResourceConfigurationFiles=resources/main/resource-config.json`
but I got an error on native image build indicating the file could not be found. To fix it, I had to prepend a `../` to the path like this:
`-H:Reso

[2019-11-12 15:49] geoand commented on #5390
Something we need to fix then :)

[2019-11-12 16:00] sberyozkin commented on #5397
@rsvoboda Hmm, not sure now why those permission properties had to be added, @stuartwdouglas, can you please clarify ? I'm not seeing which changes at https://github.com/quarkusio/quarkus/pull/5315 might've caused it. If all the users need is to is to login with OIDC code flow, should they be required to configure the permissions ?

[2019-11-12 16:48] ia3andy opened #5413 "Rest Client extension seems to have problem with kotlin"
**Describe the bug**
I've tried to reproduce the doc tutorial using a kotlin environment https://quarkus.io/guides/rest-client. It won't instanciate the rest client:
[code]

**Expected behavior**
It should instanciate it and work

**Actual behavior**
We get an exception

**To Reproduce**
Steps to reproduce the behavior:
1. https://code.quarkus.io/api/download?g=org.acme&a=code-with-quarkus&v=1.0.0

[2019-11-12 17:01] ia3andy commented on #5413
The solution is there:
https://stackoverflow.com/questions/55458873/error-to-inject-some-dependency-with-kotlin-quarkus

[2019-11-12 17:09] sberyozkin commented on #5397
Started with #5414. I'd still like to discuss with Stuart if we need to ask the users to configure both the permissions in the application.properties and add `@Authenticated` to the code in addition to enabling the OIDC adapter.

[2019-11-12 17:15] akochnev commented on #4510
I ran into this same issue with quarkus 1.0.0.CR1
FWIW, the solution specified in https://github.com/vert-x3/vertx-mail-client/issues/118 does work and allow the injected mailer approach to be used in quarkus, e.g. :

.. (in application.properties) ...
# note - XOAUTH2 is removed from the list
quarkus.mailer.auth-methods=DIGEST-MD5 CRAM-SHA256 CRAM-SHA1 CRAM-MD5 PLAIN LOGIN
....

... in quarkus ap

[2019-11-12 17:34] geoand commented on #5406
#5415 should take care of this

[2019-11-12 18:18] pedroigor commented on #5323
Yes, the client in Keycloak should be configured to enable `Authorization Services` as per https://www.keycloak.org/docs/latest/authorization_services/index.html#_getting_started_hello_world_enabling_authz_services.

You have a good point in regards to the token the extension should use. It should use access token (although the token endpoint also allow using ID Tokens).

Based on what I mentioned

[2019-11-12 18:26] Sergey80 opened #5416 "when().get("/hello/greeting/{name}") pass null to GreetingResource if run from IntelliJ Idea"
**Describe the bug**

Maybe IDE bug.. not sure.

From @QuarusTest test:

        String uuid = UUID.randomUUID().toString();
        given()
                .pathParam("name", uuid)
                .when().get("/hello/greeting/{name}")
                .then()
                .statusCode(200)
                .body(is("hello " + uuid));

**Expected behavior**
pass name should not be null but generat

[2019-11-12 18:40] 4ntoine opened #5417 ""Failed to run" with no exception reported"
**Describe the bug**
I'm trying to run quarkus in dev mode for https://github.com/4ntoine/NotesServerApp/tree/issue-5-quarkus and `./gradlew :app-quarkus:quarkusDev` fails with no exception reported.

**Expected behavior**
Build error reported (most likely as use case impls are not configured (injection)) or app is runing in jvm mode.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduc

[2019-11-12 18:41] 4ntoine commented on #5417
`./gradlew .. --debug` file:
[build.txt.zip](https://github.com/quarkusio/quarkus/files/3837671/build.txt.zip)

[2019-11-12 18:42] 4ntoine commented on #5417
i haven't found any clue in `./gradlew --info` file

[2019-11-12 18:46] sberyozkin opened #5419 "smallrye-jwt can not be used with JAX-RS and smallrye-open-tracing"
**Describe the bug**
See https://github.com/quarkusio/quarkus-quickstarts/issues/369

**Expected behavior**
Excluding `quarkus-undertow` should be enough. (it should probably be excluded from `quarkus-smallrye-opentracing`)

**Actual behavior**
Adding
[code]
to https://github.com/quarkusio/quarkus-quickstarts/blob/development/security-jwt-quickstart/pom.xml

cause the test failure with
[code]

[2019-11-12 19:32] rmh78 commented on #3895
+1

[2019-11-12 20:00] Sergey80 opened #5420 "Not consistent json serialisation between native and not"
**Describe the bug**

https://stackoverflow.com/questions/58825073/quarkus-resteasy-jackson-empty-json-result-for-native

**Expected behaviour**
when run not native, hit localhost:8080/init, we got json response filled with data
while nattily, json comes empty {}

**Actual behaviour**
json response should be the same: native or not

**To Reproduce**
Steps to reproduce the behaviour:
1. based on ge

[2019-11-12 20:24] sean-scott-lr commented on #5419
Thank you @sberyozkin

[2019-11-12 21:28] Postremus opened #5422 "quarkus.http.cors.origins=* should be supported"
**Describe the bug**
When I read the documentation about configuring cors for the first time, I tought that leaving "quarkus.http.cors.origins" as empty would be the same as "Access-Control-Allow-Origin: *".
The * wildcard allows any origin to access ressources.

Furthermore, a value of "*" is currently not supported. See CORSFilter.java#L93.
`boolean allowsOrigin = corsConfig.origins.isEmpty() ||

[2019-11-12 22:45] sberyozkin commented on #5422
@Postremus so what happens when you do not set the origins property at all ?

[2019-11-12 22:53] sberyozkin commented on #5323
@pedroigor Hey Pedro, but I wonder if we should leave it as for the moment as keep `quarkus-keycloak-authorization` to support the `service` applications only. `AccessToken` is not really targeting the `web-app` application, it is there for `web-app` to do the outbound calls with it if it wants to.
I propose to only update `quarkus-keycloak-authorization` to ensure if it is enabled then it ignores

[2019-11-12 22:59] dmlloyd opened #5424 "NotFoundExceptionMapperTestCase fails on some environments"
**Describe the bug**
The two tests in `io.quarkus.resteasy.test.NotFoundExceptionMapperTestCase` added by @machi1990 which replace resources and expect to see the changed resources fail in some environments and not in others.

@kenfinnigan added some sleeps to these tests which seemed to fix the problems sometimes, yet the problem is still not consistently fixed.

The problem may be due to inadequ

[2019-11-13 00:02] hantsy commented on #5393
@geoand  I found the Jackson ObjectMapper in `AppConfig` still affected the json when I remove `@Configuration` .

[2019-11-13 01:27] stuartwdouglas commented on #5397
You need to say which parts of the app need permissions. If you are only going to public pages it will not ask you to log in, only if you attempt to access a protected resource.

If you are using REST endpoints this can just be via annotations, or you can use the application.properties approach.

[2019-11-13 06:23] jmartisk commented on #5416
I can't reproduce this with IDEA 2019.2.3 Ultimate.
![image](https://user-images.githubusercontent.com/937315/68738167-e1132780-05e5-11ea-86cc-8466b512f024.png)
![image](https://user-images.githubusercontent.com/937315/68738196-f12b0700-05e5-11ea-9411-75fce7e249ad.png)

The test passes when I run it from Maven as well as in the IDE using ctrl+shift+F10 when my typing cursor is inside the test. Did

[2019-11-13 06:29] machi1990 commented on #5424
Thanks @dmlloyd @kenfinnigan  for the analysis and good detective work. I was away most of yesterday so I was not able to properly follow the discussion. I'll have a look at this.

[2019-11-13 07:00] geoand commented on #5393
Thanks for the confirmation @hantsy

[2019-11-13 07:10] bframke commented on #5390
Regarding that, the ResourceConfigurationFiles are not the Problem. Only ReflectionConfigurationFiles. Also tried your solution but does not work:
Error: Invalid Path entry ../resources/main/reflect-config.json
Caused by: java.nio.file.NoSuchFileException: /resources/main/reflect-config.json

[2019-11-13 07:28] Postremus commented on #5422
@sberyozkin When I do not set the origins property at all, I can access my resources from any origin.
Other cors settings, like the list of allowed headers, still get applied.

This is also the behavior I would expect from setting origin to "*".

[2019-11-13 07:34] cescoffier commented on #5404
+1, I've created the `breaking-change` label.

[2019-11-13 07:35] cescoffier commented on #5404
**IMPORTANT**: changing config is also a breaking change.

[2019-11-13 07:35] geoand commented on #5393
#5431 should take care of the issue

[2019-11-13 07:35] cescoffier commented on #5404
I'm going to open a PR against the `contributing.md` file.

[2019-11-13 07:41] EfraimLA commented on #4644
Temporally... Could it be fixed with hibernate.enable_lazy_load_no_trans=true? Also i suppose it's necessary configuration with persistence.xml as the quarkus property doesn't exist

When will be fixed? Approximately?

[2019-11-13 07:48] #5051 closed

[2019-11-13 08:00] tpenakov commented on #2052
The Quarkus Based Eureka Client is rewritten as a library now: [otaibe-commons-quarkus project](https://github.com/tpenakov/otaibe-commons-quarkus)
I will continue to support and the [Standalone Quarkus Based Eureka Client](https://github.com/tpenakov/org-otaibe-eureka-client)

[2019-11-13 08:27] geoand commented on #3992
This has already been implemented

[2019-11-13 08:27] #3992 closed

[2019-11-13 08:30] blsouthr opened #5432 "Please implement graceful shutdown"
Currently, all clients connected to quarkus application will be disconnected and not receive any response when the application is killed for restart or deploy of a new version. Please, consider adding support for graceful shutdown allowing all request to complete while not accepting the new once

[2019-11-13 08:42] gwenneg commented on #3904
Let's keep it open!

[2019-11-13 08:51] geoand commented on #5420
Can you please provide the JAX-RS resource you are using to serve `/init`?

My guess is that you returning `Response` and in that case `@RegisterForReflection` is necessary.

[2019-11-13 08:55] geoand commented on #5416
I can't reproduce this either. I am tried with IntelliJ `2019.3` (Beta) and everything worked as expected.

[2019-11-13 09:00] #5416 closed

[2019-11-13 09:01] loicmathieu commented on #4394
This also occurs inside the MongoDB with Panache extension for it's entity based DAO.

[2019-11-13 09:09] loicmathieu commented on #5413
@ia3andy maybe we can raise this issue on the MP RestClient side ? As I understand it, adding an `@Target` on the `@RestClient` annotation may help Kotlin.

[2019-11-13 09:11] loicmathieu commented on #5420
@geoand this issue is so frequent, maybe we can do something inside the resteasy extension? Can't we detect this thanks to Yandex and register for reflection automatically ... or at least log a warning ?

[2019-11-13 09:16] loicmathieu opened #5433 "Be more explicit in case of provided id and usage of PanacheMongoEntity"
**Description**
`PanacheMongoEntity` should be used when a user don't want to handle itself the MongoDB `_id` field. If the user wants to handle the field itself, he should use the `PanacheMongoEntityBase` instead.

When a user misuse the `PanacgeMongoEntity` and specify it's own `_id` with a `@BsonId` annotation, this generates a cryptic error : `readObjectId can only be called when CurrentBSONTy

[2019-11-13 09:17] geoand commented on #5420
@loicmathieu you are correct that the issue is very frequent and frustrating.

There is basically only one proper way that I can think of to solve this issue:

In all JAX-RS methods that return `Response` (which remember has no generic type therefore we can't know just by the method signature what type it returns), we would need to have an ASM visitor that visits the method and tries to determine

[2019-11-13 09:24] hantsy commented on #3968
@FroMage  I think it is useful, in Spring, it can be run in another thread, see [my Spring example](https://github.com/hantsy/spring-reactive-sample/blob/master/java8/src/main/java/com/example/demo/PostRepository.java#L19). In Quarkus, this can align with Async support in Jaxrs.

[2019-11-13 09:25] ia3andy commented on #5413
@loicmathieu yeah, that would be great. I don't see why a developer should have to do something special to make it work.

[2019-11-13 09:29] gsmet commented on #4009
Closing. Please reopen if it's still an issue with the latest versions.

[2019-11-13 09:29] #4009 closed

[2019-11-13 09:30] gsmet commented on #2835
This one should still be open.

[2019-11-13 09:31] gsmet commented on #3637
David has this one on his radar, it's not stale.

[2019-11-13 09:32] gsmet commented on #4215
I think this one is OK now. If there are missing things, let's open more focused issues.

[2019-11-13 09:32] #4215 closed

[2019-11-13 09:32] hantsy opened #5434 "Serialize Java 8 Stream in Jaxrs response"
Quarkus Hibernate Panache supports  Java 8 `Stream` as a return type.

I am trying to write Stream into response via a Jaxrs `MessageBodyWriter`, but it seems it depends on the transaction context.

My [StreamBodyWriter](https://github.com/hantsy/quarkus-sandbox/blob/master/post-service/src/main/java/com/example/StreamBodyWriter.java)(which does not work), hope there is an official solution for it

[2019-11-13 09:33] gsmet commented on #3670
PR still open.

[2019-11-13 09:35] gsmet commented on #4059
@anamarija can you have at @geoandri 's comment? I think it should be an easy fix but we would need to be adding the category there fixes the issue.

[2019-11-13 09:35] gsmet commented on #4059
BTW, `quarkus-http` is in another repo there: https://github.com/quarkusio/quarkus-http/

[2019-11-13 09:36] FroMage commented on #3968
I can't think of a use-case where it's useful, though. Why would you want it to run in another thread? This is not at all reactive-programming where we use async IO, which requires a non-blocking driver (see reactive clients: https://quarkus.io/guides/reactive-sql-clients) but this is not supported yet in Panache.

[2019-11-13 09:37] gsmet commented on #4257
@machi1990 do you still reproduce this one?

[2019-11-13 09:37] #4219 closed

[2019-11-13 09:38] gsmet commented on #4267
I think this has been merged here: https://github.com/quarkusio/quarkus/pull/4268 .

[2019-11-13 09:38] #4267 closed

[2019-11-13 09:39] jorsol opened #5435 "Template support for server side rendering"
**Description**
One thing missing in Quarkus is some template support for server side rendering, some applications can take advantage of template support, to render UI from server (yes, old school) or email templates.

**Implementation ideas**
Vert.x includes some support for the following template engines out of the box:

- Handlebars
- Jade
- MVEL
- Thymeleaf
- Apache FreeMarker
- Pebble
- Rocke

[2019-11-13 09:41] loicmathieu commented on #5420
@geoand the ASM solution seems overkill for Quarkus ...
So this is an issue with JAX-RS that should have defined `Response` as a generic type, nothing that we really fix on our side :(

[2019-11-13 09:41] FroMage commented on #4551
I don't think we should close this, right @aloubyansky ?

[2019-11-13 09:42] cescoffier commented on #4293
It was fixed.

[2019-11-13 09:42] #4293 closed

[2019-11-13 09:42] FroMage commented on #3297
Let's pretend it fixed the issue. Feel free to reopen if not.

[2019-11-13 09:42] #3297 closed

[2019-11-13 09:43] geoand commented on #5420
@loicmathieu I agree, it would be too much work for too little gain.

[2019-11-13 09:43] #5406 closed

[2019-11-13 09:46] cescoffier commented on #3084
@patriot1burke @kenfinnigan What's the status of this one? Is it non-blocking now? If so, @kenfinnigan how did we get the TCK to pass as it was clearly anti-non-blocking.

[2019-11-13 09:46] cescoffier commented on #3084
@patriot1burke @kenfinnigan What's the status of this one? Is it non-blocking now? If so, @kenfinnigan how did we get the TCK to pass as it was clearly anti-non-blocking.

[2019-11-13 09:50] geoand commented on #5435
#3106 is a relevant issue

[2019-11-13 09:50] anamarija commented on #4059
ok. Just I can do it later tonight :)

[2019-11-13 09:51] geoand commented on #5434
cc @FroMage

[2019-11-13 09:52] aloubyansky commented on #4551
I think it surely can be implemented. I'll leave it to you as the author of the issue to evaluate its worthiness :)
At this point, if no extra info is provided, the `name` will derived from the `pom.xml` or the artifactId https://github.com/quarkusio/quarkus/blob/master/independent-projects/bootstrap/maven-plugin/src/main/java/io/quarkus/maven/ExtensionDescriptorMojo.java#L156
The description is a

[2019-11-13 09:53] loicmathieu commented on #3870
Still  needed this functionality.

[2019-11-13 09:54] jorsol commented on #5435
Missed that one, closing this to avoid duplicates (and move this info to that issue).
Thanks!

[2019-11-13 09:54] #5435 closed

[2019-11-13 09:55] geoand commented on #5435
You are welcome!

[2019-11-13 10:03] anamarija commented on #4093
[https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#introduction](https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#introduction)

[2019-11-13 10:03] FroMage commented on #5434
Yeah, your transaction will be closed by the time you're serialising. This is probably a question to ask @Sanne
For reactive types I think this will work because the request won't be over until we've collected all the elements.
As for the reactive types supported, RESTEasy supports RxJava2 and Reactor types. I don't think it supports Java 9 Flow types but I also don't think anyone provides them ye

[2019-11-13 10:15] michalszynkiewicz commented on #4774
In an async FT invocation, the interceptor chain created by the Rest Client is proceeded asynchronously and bringing back the old position value https://github.com/resteasy/Resteasy/blob/05c0caec0af0c2fc889ddf3e018b8e2cdb72467c/resteasy-client-microprofile/src/main/java/org/jboss/resteasy/microprofile/client/InvocationContextImpl.java#L67 causes the FT interceptor to be invoked inifintely.

[2019-11-13 10:27] jorsol commented on #3106
Vert.x includes some support for the following template engines out of the box:

- Handlebars
- Jade
- MVEL
- Thymeleaf
- Apache FreeMarker
- Pebble
- Rocker

But probably some don't support all the features required for Quarkus.

[2019-11-13 10:31] Ladicek commented on #4774
Wouldn't that be fixed by inverting the interceptor order? That is, first the FT interceptor, and only after that the RestClient interceptor? (I'm not 100% sure what's the correct order...)

[2019-11-13 10:35] michalszynkiewicz commented on #4774
interceptors for Rest Client are done somewhat manually. Maybe one could filter out interceptors with some priority values from the chain constructed there...

[2019-11-13 10:36] gsmet commented on #4093
I'm closing this one as @dmlloyd opened a more focused one here: https://github.com/quarkusio/quarkus/issues/5361 .

[2019-11-13 10:36] #4093 closed

[2019-11-13 10:39] gsmet commented on #4551
I don't think we want to support several ways of doing the same thing.

We should decide and settle on one approach. TBH, I'm not a big fan of the extraction of the description of the pom.xml, I would have put all the metadata in the yaml file.

I think we should close this one and open another issue if at some point we decide on another approach.

[2019-11-13 10:40] maxandersen commented on #2720
This is definitely something we want to keep around as a "really like to have". marking as pinned.

[2019-11-13 10:43] maxandersen commented on #4542
should still be investigated/cleared up

[2019-11-13 10:46] sberyozkin commented on #5422
@Postremus I'm not sure why it was not supported from the start but it is really not a bug, and it doc-ed that leaving this property is equivalent of to supporting all the origins which also implies less configuration.
However, some users have also tried to set to a wildcard before so it appears it would help if that boolean check is extended to check a `*`.
Would you like to do a small PR ? It sh

[2019-11-13 11:01] sberyozkin commented on #5397
@stuartwdouglas right, but can we get it by default: one should be authenticated to access anything in the URI space of the application if we have an non-anonymous `SecurityIdentity` available ?
IMHO we will not be too strict here, if some users need a semi-secured endpoint then let them do this extra configuration in application.properties or add `@Authenticated. In this case it feels like a user

[2019-11-13 11:01] geoand commented on #3890
This will need to be done sometime soon

[2019-11-13 11:13] johnaohara commented on #2263
Still would be a nice feature to have

[2019-11-13 11:13] #3871 closed

[2019-11-13 11:15] johnaohara commented on #2238
@lburgazzoli can we close this now? AFAIK, the camel extensions have been moved from quarkus repo. Should we close this and open an issue in the camel extensions repo if this is still an issue?

[2019-11-13 11:16] #2238 closed

[2019-11-13 11:21] geoand commented on #3890
I'm doing this one now and will open a PR soon

[2019-11-13 11:25] Postremus commented on #5422
@sberyozkin I will try to create one this evening (CET).

[2019-11-13 11:50] pedroigor commented on #5323
@sberyozkin It works for me too. Let's wait for any demand from the community. It does make sense though, as you may want to externalize authorization from your web app. The fact that the client should be confidential is perfectly fine since web-apps are server-side apps that can securely store credentials.

I'm going to prepare a PR to include checks for the `service` type.

[2019-11-13 11:54] jmartisk commented on #4289
This is still an issue.
Probably closely related: https://github.com/quarkusio/quarkus/issues/3834

[2019-11-13 11:57] machi1990 commented on #4257
Let me run a full build to see if the issue is still present. If not, we can close this one. Thanks

[2019-11-13 11:59] gsmet commented on #4289
@aloubyansky you aware of that one?

[2019-11-13 12:02] machi1990 commented on #3128
PR #3394 is still open.

[2019-11-13 12:04] machi1990 commented on #2760
@dmlloyd  patch should fix this. Let's keep this open till the patch is merged. For info, I tested this manually using the patch and it worked.

[2019-11-13 12:04] Arcnor commented on #4414
I don't think this issue should be closed, as it's still affecting users (like me).

I'm also having other situations where the compiler seems to do strange things when using Kotlin in dev mode (like `Compilation failed Tuple.newInstance(io.vertx.sqlclient.Tuple.of(myVar1, *myOtherTuple.toTypedArray()))`) but I'm not sure if it's still related to #4397 like @geoand mentioned.

[2019-11-13 12:04] tandraschko commented on #3606
Still up to date 😁

[2019-11-13 12:05] gsmet commented on #3585
@machi1990 @gwenneg this one looks like a quick win? Would one of you be interested in tackling this so we can close the issue?

[2019-11-13 12:11] michalszynkiewicz commented on #4774
so we need the decrementation to handle re-proceeding after initial failure of an interceptor. I'll implement one context per invocation as is done in Quarkus.

[2019-11-13 12:20] gastaldi commented on #3676
@stuartwdouglas is this something interesting to have or can we let the stale not close it?

[2019-11-13 12:21] machi1990 commented on #4257
Closing, could not reproduce this with latest master 52ee9d0b2322dc509158c8a6f2395f71534968c5

[2019-11-13 12:21] #4257 closed

[2019-11-13 12:21] #5392 closed

[2019-11-13 12:22] machi1990 commented on #3585
Let me have a look.

[2019-11-13 12:26] aloubyansky commented on #4289
i've recall the profiles-related issue but not the dev mode with the property.

[2019-11-13 12:56] geoand commented on #3454
This would also be interesting for the Spring Data JPA stuff in the form of Spring Data REST

[2019-11-13 12:57] tandraschko commented on #2378
not out-of-date ;)

[2019-11-13 12:57] geoand commented on #1218
I assume that this is covered by your latest config work @dmlloyd ?

[2019-11-13 13:01] dmlloyd commented on #1218
No, not yet.  The groundwork is there but we really need to get command mode sorted out first, since setting the config file location probably warrants a command line option.  We do of course support a config file in a fixed location on the file system for now.

[2019-11-13 13:01] gastaldi commented on #3676
I think this is still useful

[2019-11-13 13:01] geoand commented on #1218
Thanks for the update

[2019-11-13 13:01] pedroigor commented on #5397
Considered that security is now layered so that the security extension provides the base for any other security extension, I think the way it works is correct.

It is easy to explain and tell our security story. In a regular application, you need to provide the rules that should initiate authentication. For OIDC the behavior should be the same, the fact that you are enabling the extension does not

[2019-11-13 13:08] rvansa opened #5439 "Limited scaling of REST application"
**Describe the bug**
According to our testing, hitting simple REST endpoint in Quarkus, the application not scale to more that 10-12 cores.

**Expected behavior**
Application should scale almost linearly with number of cores.

**Actual behavior**
CPU is not fully utilized but the throughput is capped. Strangely, starting more instances of Quarkus on the same application (on different ports) does n

[2019-11-13 13:09] rvansa commented on #5439
@johnaohara FYI.

[2019-11-13 13:20] michalszynkiewicz commented on #4774
Fix: https://github.com/resteasy/Resteasy/pull/2216

[2019-11-13 13:37] loicmathieu commented on #3347
I still think that we should provides live reload for all reactive messaging implementation: AMQP, MQTT and Kafka.

[2019-11-13 13:41] loicmathieu commented on #2611
Can someone from the core Quarkus team can declare the Quarkus artifact inside the NVD database ?
Here is the up-to-date suppression dependency file that I use:

[code]

[2019-11-13 13:42] dmlloyd commented on #3888
Relax, stalebot.

[2019-11-13 13:46] gwenneg commented on #3306
That's still in progress.

[2019-11-13 13:49] #5373 closed

[2019-11-13 13:55] geoand commented on #3330
We need to see how the command line mode things are going to play out before moving on this

[2019-11-13 13:58] dmlloyd commented on #4479
Ignore stalebot.

I think the real issue here is a doc issue.  The recorder needs to be optional when producing overridable build items, and the docs should be enhanced accordingly.

[2019-11-13 14:01] mswiderski commented on #3217
I'd say this is still very relevant to have a complete store on developer workflow when using reactive messaging.

[2019-11-13 14:02] mswiderski commented on #3702
would be still good to allow running quarkus tests with maven profiles in my opinion

[2019-11-13 14:05] loicmathieu commented on #3258
@Sanne do you think we should keep this one open or we should close it ?

[2019-11-13 14:07] michalszynkiewicz commented on #3285
I'd like to keep this issue

[2019-11-13 14:07] michalszynkiewicz commented on #3044
please keep it

[2019-11-13 14:08] FroMage commented on #3292
Sorry I missed this. It seems nice, but should be measured. I'm not sure I can measure that myself.

[2019-11-13 14:09] FroMage commented on #3380
Well, we can always wait until someone asks for this.

[2019-11-13 14:09] #3380 closed

[2019-11-13 14:11] tiagodolphine opened #5440 "Link to Infinispan Query DSL is broken on the documentation"
**Describe the bug**
Link to Infinispan Query DSL is broken on the documentation.

**Expected behavior**
Click on the link and open the proper documentation on the Infinispan guide.

**Actual behavior**
It opens an error page on the Infinispan website.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the link

**Screenshots**
![image](https://user-images.githubusercontent.com/7445313

[2019-11-13 14:14] gsmet commented on #5440
@karesti @wburns could you fix that before the end of the week, please?

[2019-11-13 14:18] gsmet commented on #3387
@cescoffier see my question above.

[2019-11-13 14:20] kenfinnigan commented on #3084
I don't believe it's been done yet

[2019-11-13 14:21] gsmet commented on #3311
@mkouba should we improve the removal algorithm to deal with this case?

[2019-11-13 14:23] gsmet commented on #3305
I think this issue can be closed.

[2019-11-13 14:23] #3305 closed

[2019-11-13 14:24] kenfinnigan commented on #5413
Raised https://github.com/eclipse/microprofile-rest-client/issues/232

[2019-11-13 14:25] gsmet commented on #3296
@hwellmann can you confirm it is still an issue?

[2019-11-13 14:26] gsmet commented on #2290
I think we at least need to improve the documentation and probably think a bit more about how to deal with health and security. We already had some discussion about that.

[2019-11-13 14:28] gsmet commented on #2949
@anderson-marques could you check if it's still an issue with latest master?

[2019-11-13 14:28] tiagodolphine commented on #5440
@gsmet @karesti @wburns I sent a PR https://github.com/quarkusio/quarkus/pull/5442 with the fix.

[2019-11-13 14:29] gsmet commented on #3240
Closing as we didn't have any answer for a while.

[2019-11-13 14:29] #3240 closed

[2019-11-13 14:32] #5324 closed

[2019-11-13 14:32] gsmet commented on #3279
We should probably have the option to use Vault for that. @vsevel ?

[2019-11-13 14:34] binout commented on #5192
Works until quarkus 0.19.1 😭

[2019-11-13 14:38] yuhaibohotmail opened #5443 "Thread locked after stress test"
**Describe the bug**
(Describe the problem clearly and concisely.)

I did a simple stress test，then the program keeps giving alarm log.
[code]
After the test ,All requests are unresponsive .
jstack log:
[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to reproduce

[2019-11-13 14:40] gsmet commented on #5440
Cool, thanks!

[2019-11-13 14:46] gsmet commented on #3223
@cescoffier can you have a look at this one and see if it's normal or not?

[2019-11-13 14:47] gsmet commented on #3227
@sberyozkin what's the status of this one? Does it still make sense?

[2019-11-13 15:06] mkouba commented on #3311
@dkellenb We do keep those beans but there's probably a bug with matching a parameterized type with a wildcard. I'm going to verify this particular use case.

[2019-11-13 15:14] geoand commented on #5443
@johnaohara have you seen anything similar?

[2019-11-13 15:20] loicmathieu opened #5446 "Reactive MongoDB with Panache"
**Describe the extension**
A reactive version of MongoDB with Panache based on the existing `ReactiveMongoClient` provided by the `quarkus-mongodb-client` extension.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
The configuration should be the same as the one from MongoDB with Panache.

**Additional context**
The API sh

[2019-11-13 15:25] mkouba commented on #3311
Yep, it's a bug. I'll send a PR with a fix shortly.

[2019-11-13 15:36] Sanne commented on #3258
Let's keep it please. I'm sorry I couldn't _really_ look at it, but the premise is concerning enough.

FYI in Hibernate's design principles, any DB related operation out of transaction is a severe mistake. Panache "works around" this by auto-opening transactions on demand, but I'm not convinced yet that this is a good idea.

Also if we came to the conclusion that this is actually a desireable feat

[2019-11-13 15:55] FroMage commented on #5446
You will want to copy the API of https://github.com/quarkusio/quarkus/issues/2198, though probably I should extract the enhancers into panache-common, like we did for orm/mongo enhancers, because I assume they will be very similar.

[2019-11-13 16:09] Sanne commented on #5434
Hi,
it's really not a good idea to serialize detached entities.

In fact, I'd say it even stronger: it's really not a good idea to work with detached entities - in any context. Make sure a transaction is started _first_ then load the entities you want to work with, do the work, wrap up the transaction and forget about the entities.

That said, I do understand that it's "popular" to want to send en

[2019-11-13 16:30] Sanne commented on #4644
That might help you pass some tests, but you're still open to exceptions in case of a concurrent transaction making a conflicting change on the db.

N.B. the main issue is that Jackson's Hibernate5Module is not integrated with Quarkus, and also when I checked its code we noticed it hasn't been updated to support the latest proxy types that Hibernate ORM now uses.. it's fixable but I had never hear

[2019-11-13 16:55] cescoffier opened #5448 "Hide vertx graphql extension until it becomes native compliant"
The extension is not yet native-compliant.

Until that, it needs to be marked as hidden and the guide not linked from the guide list).
Remove the native ITs as they are not passing.

[2019-11-13 16:56] garrettahines1 opened #5449 "Reactive Message Error Receiving Message"
**Describe the bug**
I'm on Quarkus 0.28.1. I am using smallrye-amqp to listen to messages over artemis mq. From a node js service I am sending a text message using the STOMP protocol. Get the following error when receiving the message in my quarkus application.

[code]

Here is my method:

[code]

**Expected behavior**
Accept message.

**Actual behavior**
Throws error

**To Reproduce**
Steps to r

[2019-11-13 17:00] aloubyansky commented on #4289
Looks like I have a fix for the dev mode at least.

[2019-11-13 17:04] dkellenb commented on #3311
Great, looking forward to the fix.

[2019-11-13 17:08] johnaohara commented on #5443
@geoand looks similar to #4173

[2019-11-13 17:10] geoand commented on #5443
Which was fixed however

[2019-11-13 17:10] johnaohara commented on #5443
@geoand Does your reproducer fail for master now? (https://github.com/geoand/quarkus-vertx-threads-blocked)

[2019-11-13 17:12] geoand commented on #5443
Let me check

[2019-11-13 17:13] johnaohara commented on #5443
Have just re-run against 1.0.0.CR1 and is working as expected

[2019-11-13 17:15] geoand commented on #5443
I just ran it my reproducer against master and it worked just fine.

[2019-11-13 17:17] Sanne commented on #5440
Fix was merged.

[2019-11-13 17:17] #5440 closed

[2019-11-13 17:36] sberyozkin commented on #5397
@pedroigor sure; you are probably referring to a regular Java EE application :-) ? The reason we enable OIDC is because we want to authenticate the users. If, as a user, I don't want a semi-secured application, having to tell Quarkus with more configuration (as in the quickstart example where a wildcard authentication policy is applied) is like having to repeat my intent twice. IMHO it does not he

[2019-11-13 17:37] EfraimLA commented on #4644
so don't wait fixes for now... is there some way to avoid the json serialization of those fields with lazy loading? i tried with @JsonIgnore and others annotations/properties but didn't work, i'm using resteasy-jsonb

[2019-11-13 17:55] sean-scott-lr commented on #5419
Some other datapoints...

the quarkus:dev maven extension apparently pulls in some dependencies that the application doesnt need.  Which causes it to pull in a servlet implementation and undertow.  When not using the quarkus:dev plugin, you dont get the ClassNotFoundException above.  Only when running "test" do you see that error.

[2019-11-13 18:17] radcortez commented on #1525
+1

[2019-11-13 18:48] edeandrea commented on #5300
We should fix this sooner than later.

[2019-11-13 18:55] #1410 closed

[2019-11-13 18:56] gsmet commented on #1394
This has been fixed by the big Jakarta move.

[2019-11-13 18:58] gsmet commented on #1371
@mkouba please add it to the JSON REST services doc for now (at the end of it). We will move that out as soon as we have a reference guide.

[2019-11-13 19:00] gsmet commented on #1349
@hpehl do you plan to do it or should I close it?

[2019-11-13 19:01] gsmet commented on #1310
@kenfinnigan can you take care of that once we are Final?

That would be one less issue to manage.

[2019-11-13 19:02] kenfinnigan commented on #1310
It will be when we claim compatibility, which now looks like 1.1

[2019-11-13 19:02] gsmet commented on #1267
Let's close this one. Please open a PR with improvements if you think some are needed.

[2019-11-13 19:02] #1267 closed

[2019-11-13 19:05] sean-scott-lr commented on #5419
Also, simply adding the opentracing extension to my pom file, COMPLETELY changes the execution of the webservice.  I added 'new Throwable().printStackTrace()` to the `hello` method. Then executed it with and without the opentracing dependency.

without opentracing:
[code]

With opentracing
[code]

[2019-11-13 19:09] gsmet commented on #5419
@stuartwdouglas looks like we missed OpenTracing when working on the new HTTP layer and it still depends on Undertow.

Is it something we should fix before Final?

[2019-11-13 19:11] gsmet commented on #5419
BTW, apart from that, shouldn't the smallrye-jwt extension work with Undertow anyway? I think we have 2 different issues here.

[2019-11-13 19:12] 4ntoine commented on #5417
All of this ^ related to revision https://github.com/4ntoine/NotesServerApp/commit/38713d86916191f2c6c7b26a645239ed3f5dabf1

I was able to fix it by comparing with demo app and migrating Gradle's Groovy DSL to Kotlin DSL, so https://github.com/4ntoine/NotesServerApp/commit/0614a963f7622728ba4e9fe61e287f3ce48d3aaa works.

However it picks only compiled classes (controllers) from current module and

[2019-11-13 19:13] gsmet commented on #1669
@mkouba do you still plan to do it? If so, maybe add the `pinned` label.

[2019-11-13 19:14] #1647 closed

[2019-11-13 19:16] gsmet commented on #1632
@mkouba do we plan to do something about that or should we close?

[2019-11-13 19:17] gsmet commented on #1623
Closing this one as duplicate.

[2019-11-13 19:17] #1623 closed

[2019-11-13 19:18] machi1990 commented on #5192
We have a config PR that should fix this issue. We'll update this space once that is merged. Thanks

[2019-11-13 19:19] gsmet commented on #1620
@johnaohara do we plan to write something about this? Or should we close?

[2019-11-13 19:22] gsmet commented on #1591
Not really, you need to include them inside your Docker build and tune things yourself unfortunately.

[2019-11-13 19:22] #1591 closed

[2019-11-13 19:24] gsmet commented on #1584
We are making improvements to the Gradle support in other issues. I think this one will be fixed.

[2019-11-13 19:24] #1584 closed

[2019-11-13 19:26] gsmet commented on #1577
I'm closing this. If we think it's necessary, open a PR directly, not an issue stalling for months.

[2019-11-13 19:26] #1577 closed

[2019-11-13 19:27] gsmet commented on #1525
@mkouba ?

[2019-11-13 19:29] mkouba commented on #1632
-1 from me.

[2019-11-13 19:31] gsmet commented on #1499
@jkbrock any chance we could try to tackle this soon?

[2019-11-13 19:31] gsmet commented on #1487
I think this has been fixed already.

[2019-11-13 19:31] #1487 closed

[2019-11-13 19:32] aguibert commented on #5390
are you able to provide the full stack trace for that error @bframke ?

[2019-11-13 19:34] gsmet commented on #1460
I'm inclined to close that one. We will need some GraalVM support for it and until then, I don't think it's worth managing the issue again and again. Feel free to reopen if you disagree.

[2019-11-13 19:34] #1460 closed

[2019-11-13 19:35] gsmet commented on #1460
(I subscribed to the GraalVM issue to be notified if something new happens on that front)

[2019-11-13 19:36] gsmet commented on #1449
I'm closing this one for now, feel free to reopen if it's still an issue with newer releases.

[2019-11-13 19:36] #1449 closed

[2019-11-13 19:40] #1698 closed

[2019-11-13 19:41] gsmet commented on #1706
It's an independent project now but still released as part of the main repo.

I'm closing this one. Changing this will be a coordinated effort we will decide later (and create appropriate issues).

[2019-11-13 19:41] #1706 closed

[2019-11-13 19:42] gsmet commented on #1710
@mkouba @sberyozkin if this is still an issue, I think we should throw an exception on build.

[2019-11-13 19:42] #1716 closed

[2019-11-13 19:43] gsmet commented on #1720
@stuartwdouglas looks like an issue we could close easily?

[2019-11-13 19:45] gsmet commented on #1729
@cescoffier what's the status of this? Was this addressed somehow?

[2019-11-13 19:47] gsmet commented on #1754
Closing, reopen if still an issue.

[2019-11-13 19:47] #1754 closed

[2019-11-13 19:49] gsmet commented on #1773
This hasn't been an issue for a while.

[2019-11-13 19:49] #1773 closed

[2019-11-13 19:50] #1779 closed

[2019-11-13 19:50] gsmet commented on #1819
I will have a look and see if it's an easy fix.

[2019-11-13 19:53] gsmet commented on #1842
Closing this one as a duplicate in favor of https://github.com/quarkusio/quarkus/issues/5016 which has a lot more information.

[2019-11-13 19:53] #1842 closed

[2019-11-13 19:55] johnaohara commented on #5443
I looks like there is a race condition in  `request.response().drainHandler()`. I have opened a pr #5451.

[2019-11-13 19:56] gsmet commented on #1882
To be more precise, the issue is that as soon as we do XML, we enable `DocumentProvider`, even if we don't deal with `Document` at all.

[2019-11-13 19:57] gsmet commented on #1882
I'm closing this one for now. If someone encounters the issue, please open a new issue and we will deal with it.

[2019-11-13 19:57] #1882 closed

[2019-11-13 19:58] gsmet commented on #1910
It has been documented here: https://quarkus.io/guides/http-reference#servlet-config .

[2019-11-13 19:58] #1910 closed

[2019-11-13 19:58] #1911 closed

[2019-11-13 20:06] gsmet commented on #1930
We changed how the Gradle project tests are organized.

[2019-11-13 20:06] #1930 closed

[2019-11-13 20:08] gsmet commented on #2079
Closing this as it's an old discussions and things have changed dramatically since then.

[2019-11-13 20:08] #2079 closed

[2019-11-13 20:08] Xendar opened #5453 "Native image build error on Win10"
**Describe the bug**
I am running on a Win10 laptop, and tried to build a native image using GraalVM CE 19.2.1 after creating a basic project from https://code.quarkus.io/ (version 1.0.0.RC1) and I get an "augmentation" error.
I tried from the Windows command line and from a Git Bash, both result in the same error.

**Expected behavior**
Well, getting a native image generated ;)

**Actual behavior

[2019-11-13 20:09] johnaohara commented on #1620
I think this is still valid, and we need to document this

[2019-11-13 20:11] gsmet commented on #2069
Closing

[2019-11-13 20:11] #2069 closed

[2019-11-13 20:13] gsmet commented on #2067
Closing as out of date.

[2019-11-13 20:13] #2067 closed

[2019-11-13 20:14] gsmet commented on #2037
This has been fixed or is no longer an issue.

[2019-11-13 20:14] #2037 closed

[2019-11-13 20:17] gsmet commented on #1942
@FroMage could you either create a PR or close this one? I don't think it's worth keeping it open for months.

Thanks.

[2019-11-13 20:18] #1949 closed

[2019-11-13 20:19] gsmet commented on #1947
This has been documented here: https://quarkus.io/guides/http-reference#supporting-secure-connections-with-ssl .

[2019-11-13 20:19] #1947 closed

[2019-11-13 20:20] pedroigor commented on #5397
@sberyozkin I understand your point and it makes sense. But if you take the behavior we have today when using a `web.xml` you also need to set `security-constraint` to explicitly define the resources that should be protected.

I think this approach is good also because the user is telling us the intent instead of figuring out automatically and protecting everything. It also makes more clear what a

[2019-11-13 20:21] gsmet commented on #1967
The link to the UBI is dead. Please open a new issue with updated information if it's still an issue.

[2019-11-13 20:21] #1967 closed

[2019-11-13 20:23] gsmet commented on #1971
I'm closing as we don't have enough information to understand what the issue is.

If you encounter the issue yourself, please open a new issue with the description of what the problem you're trying to solve is.

[2019-11-13 20:23] #1971 closed

[2019-11-13 20:24] gsmet commented on #1992
The PR was closed so closing this issue too. Please reopen a new one with a reproducer if you encounter this issue.

[2019-11-13 20:24] #1992 closed

[2019-11-13 20:25] pedroigor commented on #5397
One possible solution to make everyone happy could be to decide whether or not to enforce authentication to any path based on the existence of permissions in `application.properties`? If no permission set, then protect any.

[2019-11-13 20:26] #2012 closed

[2019-11-13 20:26] #2014 closed

[2019-11-13 20:27] gsmet commented on #2004
This is included in the doc now.

[2019-11-13 20:27] #2004 closed

[2019-11-13 20:27] #2016 closed

[2019-11-13 20:28] gsmet commented on #2019
@cescoffier what should we do about this one?

[2019-11-13 20:29] gsmet commented on #2027
@cescoffier this one looks like a good issue for beginners but we would need more pointers.

[2019-11-13 20:29] #2036 closed

[2019-11-13 20:31] gsmet commented on #2080
This has apparently been fixed in RESTEasy 4.4.0.Final.

[2019-11-13 20:31] #2080 closed

[2019-11-13 20:32] gsmet commented on #2081
@dmlloyd do you know if they added support for `javax.imageio` in GraalVM?

[2019-11-13 20:35] #2093 closed

[2019-11-13 20:35] #2094 closed

[2019-11-13 20:35] ia3andy commented on #5453
Issue moved from code.quarkus.io to quarkus

[2019-11-13 20:37] gsmet commented on #2107
@sberyozkin has this one been fixed? If not, can we fix it and be done with it?

[2019-11-13 20:37] #2115 closed

[2019-11-13 20:39] gsmet commented on #2124
@aloubyansky has it been done? I think it would be necessary if we want to update our internal Maven dependencies to 3.6 (which is required by another issue)

[2019-11-13 20:40] dufoli opened #5454 "Native config of dependent jar is not accessible"
A bug block the Mongo refactoring for cluster #4529.
Mongo Operations. Java in panache Mongo module try to load config quarkus.mongodb.database.
But it fail on native. Whereas it is in application.properties and work well in regular mode.
If I add application.properties to NativeImageResourceBuildItem it work but it is not an expected behavior.
BTW, it is odd to use database property because, it c

[2019-11-13 20:41] gsmet commented on #2125
Maybe let's try to properly document that one.

[2019-11-13 20:43] gsmet commented on #2128
@jaikiran do you know if this is still an issue?

[2019-11-13 20:44] gsmet commented on #2140
We have some JMS support with the `artemis-jms` extension.

[2019-11-13 20:44] #2140 closed

[2019-11-13 20:45] gsmet commented on #2142
Nobody reported it as an issue so I suppose they were able to translate the examples.

[2019-11-13 20:45] #2142 closed

[2019-11-13 20:45] #2149 closed

[2019-11-13 20:46] gsmet commented on #2152
@dmlloyd do we still consider this an issue?

[2019-11-13 20:47] #2158 closed

[2019-11-13 20:47] #2168 closed

[2019-11-13 20:48] gsmet commented on #2170
@lburgazzoli I let you move that one to the Camel issue tracker if you wish.

Closing.

[2019-11-13 20:48] #2170 closed

[2019-11-13 20:49] geoand commented on #5449
Can you please try version `1.0.0.CR1` and see if you still have the issue?

[2019-11-13 20:58] heri333 commented on #2811
I'm still very interested in a fix.

[2019-11-13 21:07] geoand commented on #5453
Can you please check if `C:\Users\vleon\Downloads\quarkus-coding-dojo\graalvm-ce-19.2.1\bin\native-image.cmd` is valid executable?

[2019-11-13 21:08] gsmet commented on #2375
I will take care of this one soon.

[2019-11-13 21:10] aloubyansky commented on #2124
There was no PR. I referenced the change it could be based upon, as an idea.

[2019-11-13 21:10] gsmet commented on #2335
Closing for now. Let's wait for users complaints with a real use case and decide from that.

[2019-11-13 21:10] #2335 closed

[2019-11-13 21:11] gsmet commented on #2320
Doesn't look really popular. I'm closing it.

[2019-11-13 21:11] #2320 closed

[2019-11-13 21:12] gsmet commented on #2299
@FroMage care to provide a PR? It would be nice to close all these issues that are fixable in one hour instead of having them piling up.

Thanks.

[2019-11-13 21:13] #2293 closed

[2019-11-13 21:13] gsmet commented on #2290
/cc @sberyozkin

[2019-11-13 21:14] gsmet commented on #2283
Closing this.

If we want it, let's do it as a PR instead of creating a stalling issue.

[2019-11-13 21:14] #2283 closed

[2019-11-13 21:15] gsmet commented on #2282
@gastaldi is it still an issue?

[2019-11-13 21:15] gsmet commented on #1964
Closing as duplicate of https://github.com/quarkusio/quarkus/issues/2277 .

[2019-11-13 21:15] #1964 closed

[2019-11-13 21:16] #2249 closed

[2019-11-13 21:18] gsmet commented on #2231
@sberyozkin @pedroigor @sebastienblanc so what's the status of this? Should it be closed? Is there still some work required? If so, what?

[2019-11-13 21:19] gsmet commented on #2229
Closing as out of date. Please reopen with clear instructions on how to reproduce it if it still happens.

[2019-11-13 21:19] #2229 closed

[2019-11-13 21:20] gsmet commented on #2225
I think this has probably been solved by now. If not, please reopen.

[2019-11-13 21:20] #2225 closed

[2019-11-13 21:20] vsevel commented on #3279
hello @gsmet
I see a few possible options:
 - support configuring a `credentials-provider` for the mailer extension. this requires a modification to the extension itself, similar to what I did for [agroal](https://github.com/quarkusio/quarkus/blob/master/extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AbstractDataSourceProducer.java#L140-L155)
 - make progress on property indirec

[2019-11-13 21:23] #2222 closed

[2019-11-13 21:25] Xendar commented on #5453
It seems to be:
[code]

[2019-11-13 21:25] gsmet commented on #2219
@jaikiran so I was wondering if we could push them automatically to the Maven wrapper installation process if a proxy is set at the Maven level?

[2019-11-13 21:26] #2209 closed

[2019-11-13 21:26] gsmet commented on #2208
@lburgazzoli feel free to move it to the Camel issue tracker, closing it now.

[2019-11-13 21:26] #2208 closed

[2019-11-13 21:27] famod commented on #2149
I have just re-checked with 1.0.0.CR1. The problem is the leadng slash!
Works: `-Dpath="hello"`
Doesn't work: `-Dpath='/hello'`

[2019-11-13 21:27] geoand commented on #5453
Looks good indeed.

Could you also try and run the native-image command printed in the output manually and see what you get?

[2019-11-13 21:29] sberyozkin commented on #5397
Hey Pedro, @pedroigor, thanks. I think we can open a new issue and discuss what can be optimized, I'll do it a bit later. If we can find a way to avoid adding some extra configuration then it would be backward compatible I guess...
Thanks @pedroigor @stuartwdouglas

[2019-11-13 21:29] gsmet commented on #2383
@sberyozkin is this still something that needs to be done?

[2019-11-13 21:30] gsmet commented on #2384
Closing as it seems we won't get to it.

[2019-11-13 21:30] #2384 closed

[2019-11-13 21:33] gsmet commented on #2414
Closing for now. Let's revisit if somebody else encounters the issue in recent versions.

[2019-11-13 21:33] #2414 closed

[2019-11-13 21:33] #2425 closed

[2019-11-13 21:33] Xendar commented on #5453
Surprisingly it worked :O
I got the runner jar generated and was able to execute it !

[2019-11-13 21:34] gsmet commented on #2425
I think this is well under way with the platform effort. We don't need an issue for that.

[2019-11-13 21:34] #2440 closed

[2019-11-13 21:36] gsmet commented on #2442
@rsvoboda @cescoffier looks like it's still an issue in here: https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/deploying-to-openshift-s2i.adoc#building-a-minimal-runtime-container

I'm not familiar with this at all. Is it easily fixable?

[2019-11-13 21:36] geoand commented on #5453
I didn't expect that to be honest...

And unfortunately I don't have a Windows machine to test and reproduce this. I am sure that someone with such a machine will give it a go soon 😉

[2019-11-13 21:39] gsmet commented on #2461
@marcinczeczko is there something that make sense to add to your AWS services extensions?

[2019-11-13 21:40] #2502 closed

[2019-11-13 21:40] #2503 closed

[2019-11-13 21:40] famod commented on #2149
This is actually a _feature_ of MinGW: [Posix path conversion](http://www.mingw.org/wiki/Posix_path_conversion)
See the
[code]
example which becomes:
[code]

@gsmet how about adding a note to https://quarkus.io/guides/getting-started?

[2019-11-13 21:40] sberyozkin commented on #5397
@rsvoboda Hi Rostislav, FYI, in
[code]
the last line setting up the log category is not essential for the fix, so only
[code]

have to be added to the guide

[2019-11-13 21:42] gsmet commented on #2545
I think we will push towards using a given version of the platform bom so it will be an aggregated view of all the supported extensions.

Closing this for now.

[2019-11-13 21:42] #2545 closed

[2019-11-13 21:42] #2591 closed

[2019-11-13 21:44] gsmet commented on #2611
@n1hility @emmanuelbernard do we have someone that could help with this?

[2019-11-13 21:48] gsmet commented on #2646
I'm not entirely sure this is valuable and won't be a pain to maintain. We want things to be flexible and I don't see a lot of value to it. Adding the extensions you want is not hard IMHO.

[2019-11-13 21:51] gsmet commented on #2648
See https://github.com/eclipse/microprofile-config/issues/451 or https://github.com/quarkusio/quarkus/issues/3937 or https://github.com/quarkusio/quarkus/issues/3279

[2019-11-13 21:51] marcinczeczko commented on #2461
@gsmet - Alexa sdk is a different SDK. I didn't consider it, but it's worth to look at at some point in the future

[2019-11-13 21:52] Elegie commented on #5360
Hi @oztimpower, thank you for for updating the doc! The local invocation worked right out of the box.
[code]

[2019-11-13 21:54] sean-scott-lr opened #5457 "opentracing can not be disabled with runtime config."
**Describe the bug**
Setting the property `-Dquarkus.jaeger.enabled=false` when executing the jar produced by running [my-package]-runner.jar, or via native-image, does not disable jaeger.

**Expected behavior**
jaeger is disabled

**Actual behavior**
The value contained with application.properties is used.

**To Reproduce**
create a quarkus project
add the opentracing extension
build the executab

[2019-11-13 21:56] gsmet commented on #2750
@lburgazzoli is it still an issue?

[2019-11-13 21:57] famod commented on #2219
@jaikiran

Confirmed! Setting this and `-Dhttps.proxyPort` did it. Thanks!
Sometimes you just don't see the obvious solution...

A hint regardings proxy settings in the guide would be nice.

[2019-11-13 21:59] gsmet commented on #2718
I think we have optional substitutions now with `onlyWith` so it might be doable.

[2019-11-13 21:59] famod commented on #2219
@gsmet

That would be very user friendly! I mean I *do/did* have the `HTTPS_PROXY` environment variable set properly and I do also have a https proxy set in my `settings.xml`.
HTTPS_PROXY

[2019-11-13 22:00] gsmet commented on #2709
Closing in favor of https://github.com/quarkusio/quarkus/issues/3217 .

[2019-11-13 22:00] #2709 closed

[2019-11-13 22:00] gsmet commented on #3217
See also https://github.com/quarkusio/quarkus/issues/2709 .

[2019-11-13 22:02] #2762 closed

[2019-11-13 22:03] #2764 closed

[2019-11-13 22:04] machi1990 commented on #2219
@famod sure, this will be useful in the [maven tooling guide](https://quarkus.io/guides/maven-tooling). Would you like to take a stab at this? It will have to be added in this guide https://github.com/quarkusio/quarkus/blob/9eb5164f24a2c3bc6b4015bc4e399a7ef955704c/docs/src/main/asciidoc/maven-tooling.adoc

[2019-11-13 22:04] gsmet commented on #2765
@dmlloyd what's the status of the discussion in MP Config regarding this one?

[2019-11-13 22:05] sean-scott-lr commented on #5457
I am just getting started digging into how quarkus works... but it kind of appears that the check of the config item is done during "augmentation" vs at runtime.

https://github.com/quarkusio/quarkus/commit/c597314127501d8f6fcab5f4c97be497f6da0f1b

[2019-11-13 22:08] gsmet commented on #2815
Please open another issue with a full reproducer if you end up having one.

[2019-11-13 22:11] machi1990 commented on #5457
Yes, the enablement / disabling is done during build time. It should be noted too that with https://github.com/quarkusio/quarkus/pull/5387 the property is moved from [RUNTIME config phase to BUILD_AND_RUNTIME_FIXED phase](https://github.com/quarkusio/quarkus/blob/9391f3e7431fc95a490d8e910de28741a83d3b47/extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerBuildTimeConfig.java).

[2019-11-13 22:11] gsmet commented on #5360
@Elegie so can we consider this issue resolved for you?

[2019-11-13 22:13] gsmet commented on #2827
I'm not entirely sure if we have a way to do that now with the new stuff @stuartwdouglas worked on for the native image build.

@stuartwdouglas do you know off the top of your head if there is a way to do that now?

[2019-11-13 22:14] #2834 closed

[2019-11-13 22:15] sean-scott-lr commented on #5457
https://github.com/quarkusio/quarkus/issues/3995

[2019-11-13 22:16] sean-scott-lr commented on #5457
Why wouldnt I just remove the dependency on opentracing if this is build-time configuration?

[2019-11-13 22:16] gsmet commented on #3013
@dmlloyd hasn't this been addressed by Stuart's latest work on the subject?

[2019-11-13 22:17] gsmet commented on #3021
@rmpestano is it still an issue?

[2019-11-13 22:18] stuartwdouglas commented on #2827
You can inject io.quarkus.deployment.pkg.NativeConfig and look at the containerBuild field

[2019-11-13 22:18] gsmet commented on #3023
@machi1990 would you be interested in working on this?

[2019-11-13 22:20] gsmet commented on #3018
I think this is a duplicate of https://github.com/quarkusio/quarkus/issues/3886 for which we have an in-progress PR.

[2019-11-13 22:20] #3018 closed

[2019-11-13 22:21] stuartwdouglas commented on #2827
https://github.com/quarkusio/quarkus/pull/5459 shows how this can be done

[2019-11-13 22:21] #2827 closed

[2019-11-13 22:21] gsmet commented on #3046
@cescoffier is it still a valid one?

[2019-11-13 22:24] Elegie commented on #5360
@gsmet @machi1990 Hi, I've provided a pull request for the fix.

Unfortunately I could only test on Windows 10 Home Edition with Docker Toolbox, as I don't have any other environments available. Additional regression testing might therefore be necessary, for other target environments (Windows 10 with Docker For Windows, Mac/Linux).

Running `mvn clean package -Dnative=true -Dnative-image.docker-bu

[2019-11-13 22:24] #2863 closed

[2019-11-13 22:27] gsmet commented on #2885
This is a duplicate of https://github.com/quarkusio/quarkus/issues/372 .

[2019-11-13 22:27] #2885 closed

[2019-11-13 22:33] gsmet commented on #2985
@kenfinnigan do you know what the status of that one is with the switch to RESTEasy for the client?

[2019-11-13 22:35] gwenneg commented on #4218
@cescoffier Does it seem reasonnable to upgrade netty to `4.1.43.Final` for the GraalVM `19.3.0` compatibility or should we try to port (assuming that's possible) [this patch](https://github.com/netty/netty/pull/9631/files) into Quarkus?

[2019-11-13 22:39] gsmet commented on #3083
@stuartwdouglas @cescoffier has this been fixed as part of the new HTTP layer optimizations?

[2019-11-13 22:40] gsmet commented on #3089
@dmlloyd I added this one to your config project.

[2019-11-13 22:40] #3097 closed

[2019-11-13 22:41] gsmet commented on #3098
I think this is well in progress with the platform effort. I don't think we need an issue for it anymore.

[2019-11-13 22:41] #3098 closed

[2019-11-13 22:43] gsmet commented on #3109
Closing this one. Vault has been integrated and has a few follow-up issues. Better create new issues and link them in a project.

[2019-11-13 22:43] #3109 closed

[2019-11-13 22:44] gsmet commented on #3112
@cescoffier has the `artemis-jms` extension solve this issue or is it still a valid one?

[2019-11-13 22:44] #3116 closed

[2019-11-13 22:46] gsmet commented on #3131
@masini if this is still an issue, can you provide a proper reproducer? Looks like a lot of unnecessary backs and forths.

Thanks!

[2019-11-13 22:47] gsmet commented on #3138
@snoopdave can you provide a reproducer? That would be helpful.

[2019-11-13 22:48] gsmet commented on #3140
@stuartwdouglas any idea on that one?

[2019-11-13 22:50] gsmet commented on #3164
The properties in the new OIDC extension are now runtime overridable. This should fix this issue.

[2019-11-13 22:50] #3164 closed

[2019-11-13 22:52] gsmet commented on #3179
The issue has been fixed in Yasson 1.0.5 which is the version we use.

[2019-11-13 22:52] #3179 closed

[2019-11-13 22:54] #3204 closed

[2019-11-13 22:54] #3212 closed

[2019-11-13 22:54] gsmet commented on #3212
Done in the platform.

[2019-11-13 22:56] gsmet commented on #3228
Duplicate of https://github.com/quarkusio/quarkus/issues/2128 .

[2019-11-13 22:56] #3228 closed

[2019-11-13 22:57] gsmet commented on #3241
@mkouba could you have a look? Should this be supported?

[2019-11-13 22:58] #3249 closed

[2019-11-13 22:58] gsmet commented on #3249
Closing as per Gunnar's comment.

[2019-11-13 23:00] gsmet commented on #3262
@kenfinnigan any thought about that one?

[2019-11-13 23:02] gsmet commented on #3298
@objectiser any thought on that? I'm not sure we want to keep it.

[2019-11-13 23:04] gsmet commented on #3300
@lburgazzoli can you check if this one is still an issue with the current GraalVM version?

[2019-11-13 23:04] gsmet commented on #3303
@lburgazzoli I'm closing this one. Feel free to transfer it to the Camel issue tracker.

[2019-11-13 23:04] #3303 closed

[2019-11-13 23:06] gsmet commented on #3128
Closing this in favor of https://github.com/quarkusio/quarkus/issues/3306 . No need for 2 issues.

[2019-11-13 23:06] #3128 closed

[2019-11-13 23:17] dmlloyd commented on #5457
I only moved it because the implementation was already treating it as a build time property.  I'm definitely not opposed to having it be a run time configuration and working at run time, but the extension needs some fixing in this case.

[2019-11-13 23:46] dmlloyd commented on #3089
Thanks, I've incorporated it in to the Big PR.

[2019-11-14 00:56] stuartwdouglas commented on #3083
Not as such, there is still a vert.x blocking pool and a 'core' executor pool. At the moment AFAIK there is no way to tell vert.x to use our pool

[2019-11-14 01:03] stuartwdouglas commented on #5397
The issue with the 'no defined permissions in application.properties' approach is that the constraints could be specified by annotations.

I would be very resistant to changing the current behaviour, forcing the application to be authenticated by default is not what developers are used to IMHO.

[2019-11-14 01:05] gastaldi commented on #2282
@gsmet unfortunately yes. I updated the description to the new option names

[2019-11-14 01:08] stuartwdouglas commented on #1720
IMHO this is already done "
This allows you to develop in the same environment you will actually run your app in, and with access to the same services.
"

[2019-11-14 01:37] stuartwdouglas commented on #3140
We should address this (and access logging) at the vert.x level.

[2019-11-14 02:11] gastaldi opened #5461 "Generated Resteasy endpoint path in Windows is exposed in a weird path"
**Describe the bug**
I am using Windows 10. I created a sample project using:

[code]

Now doing a `mvn compile quarkus:dev`, I open the browser to http://localhost:8080/hello and the following error page is displayed:

![Screenshot from 2019-11-13 23-02-32](https://user-images.githubusercontent.com/54133/68820331-b36fc200-0669-11ea-894f-ffa2f5b95b2b.png)

Yes, the endpoint is available at `http:/