[2020-07-14 11:44] gavinking commented on #10665
Hibernate Reactive doesn't support schema update, I don't think. I mean, if you add a JDBC driver, *perhaps* it would work (I've never tried), but if you're using just the vert.x client, there is nothing like JDBC metadata available.

[2020-07-14 11:47] geoand commented on #10716
Interesting. Do you have a small reproducer showing this problem?

[2020-07-14 11:59] geoand commented on #10716
Actually, this doesn't seem like a bug to me... Flyway requires that a blocking driver be present and the Hibernate Reactive Quickstart doesn't use one.

[2020-07-14 12:12] burmanm commented on #10716
The reproducer is the quickstart steps. So its a design choice to limit Hibernate Reactive from using Flyway? Even if Hibernate Reactive doesn't use it, what prevents it from just ignoring that blocking one (and let just Flyway use it) ?

Kinda defeats the point of quarkus-flyway if it doesn't work with any async db extensions.

[2020-07-14 12:18] geoand commented on #10716
`quarkus-flyway` needs a blocking driver because Flyway needs a blocking driver - it's not a Quarkus limitation.

As for using `quarkus-flyway` along with `hibernate-reactive`, did you try adding a blocking driver and configuring the jdbc URL? The Hibernate-Reactive quickstart doesn't do that obviously since the blocking driver isn't needed.

[2020-07-14 12:29] burmanm commented on #10716
Yes, I had a working flyway installation in my own project. I tried adding hibernate-reactive to it but that started the issues, the quickstart modification was just a reproducer.

[2020-07-14 12:33] geoand commented on #10716
OK, but the way you mention to reproduce the issue doesn't surface that concern.

Let me try something else and get back to you

[2020-07-14 12:42] geoand commented on #10716
Okay, my bad. I see that just adding `quarkus-flyway` and `quarkus-postgresql` and configuring a JDBC URL does indeed exhibit the behavior you said.

So yeah, it's definitely an issue, quarkus-hibernate-reactive shouldn't be blocked from starting just by the presence of `quarkus-flyway` (`quarkus-postgresql` on it's own doesn't cause a problem).

[2020-07-14 12:50] wmacibnc commented on #10704
OK! Thanks!

[2020-07-14 13:03] jaikiran commented on #10682
I've opened https://github.com/oracle/graal/pull/2673 to have this fixed long term in Graal VM.

[2020-07-14 13:13] loicmathieu commented on #10702
You can do it

[2020-07-14 13:14] geoand commented on #10716
@Sanne, @aguibert @gsmet  this ultimately comes down to the fact that `HibernateOrmProcessor.defineTypeOfImpliedPU` defines a PU when `quarkus-flyway ` is thrown into the mix (because it results in `AgroalProcessor` being run which is normally excluded by the hibernate-reactive extension).
That leads to 2 `PersistenceUnitDescriptorBuildItem` being created and `HibernateOrmProcessor` not registerin

[2020-07-14 13:25] akoufa commented on #10665
@gavinking Is this planned to be supported in the future ?

[2020-07-14 13:29] henrikengelbrink commented on #10041
Sorry for the late answer!

I've created a simple [project](https://github.com/henrikengelbrink/quarkus-flyway-debug) with the same settings/dependencies.

If you run `mvn clean test` on this repo it will fail, because the SQL scripts in `db/test_data` are not executed though it is configured in the `application.properties`. If I change quarkus-flyway version explicit back to `1.4.2.Final` it is w

[2020-07-14 13:38] sberyozkin commented on #9251
@stuartwdouglas yes, I'll resolve it with the update to smallrye-jwt `2.2.0`, working on it now

[2020-07-14 13:39] EfraimLA commented on #10437
@loicmathieu hi, have some advance of this?

[2020-07-14 13:39] MarcusSchilling opened #10717 "quarkus-oidc NullPointerException"
**Describe the bug**
When you send an incorrect Token for example an refresh token then a NullPointerException appears.

**Expected behavior**
There should be an 403 Forbidden Response.

**Actual behavior**
500 Internal Server Error with a NullPointerException

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize a project with the quarkus-oicd extension
2. make an protected endpoint
3.

[2020-07-14 13:44] sberyozkin commented on #9251
@FroMage Hi Stephane, so `smallrye-jwt-2.2.0` does trim the location properties, and it also loads the classpath/file resources early, so the exception will be reported on the very startup. Re the logging property, both `MpJwtValidator` logs the exceptions in the debug mode, in general we try to avoid raising the level to avoid potential DOS attacks as recommended by @stuartwdouglas. But I promise

[2020-07-14 13:48] sberyozkin commented on #10717
@MarcusSchilling Hi, I think this has been fixed on the master branch, can you please try a SNAPSHOT build ?

[2020-07-14 13:49] sberyozkin commented on #10717
It will be `401` since at this point we are not enforcing RBAC yet

[2020-07-14 13:54] Sanne commented on #10665
I suppose we'll need the Hibernate Reactive extension in Quarkus to check for the configuration to not have set "generation=update" and throw a more explicit error.

[2020-07-14 13:57] geoand commented on #10041
Thanks @henrikengelbrink.

https://github.com/quarkusio/quarkus/pull/10718 fixes the issue

[2020-07-14 13:58] sberyozkin commented on #10717
@MarcusSchilling So this is a `service` application, and `Keycloak` ?

[2020-07-14 13:59] henrikengelbrink commented on #10041
Thank you @geoand

[2020-07-14 14:28] aguibert commented on #10665
@gavinking I added a DB metadata API in Vertx which should be available in version 3.9.2, so next time we upgrade Vertx we could in theory support this use case

[2020-07-14 15:11] survivant opened #10720 "@Liveness probe doesn't work with @Path"
Quarkus 1.6.0.FINAL

the health probe annoted with @Liveness and @Path   won't be returned when we call http://localhost:8080/health/

I took the example : quarkus-quickstarts\microprofile-health-quickstart

and when I do

mvn quarkus:dev
http://localhost:8080/health/

the output is :

[code]

but if I add @Path in a class : SimpleHealthCheck that have @Liveness, the output became

[code]

[2020-07-14 15:47] Postremus commented on #9001
I am closing this issue. WIth the latest improvements in 1.6.0.Final, the project now start in around 13 seconds in devmode - good enough for now. :)

[2020-07-14 15:47] #9001 closed

[2020-07-14 16:00] Postremus opened #10722 "Hibernate does not load lazy onetone entity attributes with activated batching"
**Describe the bug**
My entity has a lazy onetoone relationship to a child entity.
Attributes of the child entity are not read. They are kept null.
Eager onetoone work as expected.

After some debugging, I figured out that batching is the problem.
I removed `quarkus.hibernate-orm.batch-fetch-size=100` from my configuration, and my child is loaded correctly.

**Expected behavior**
Attributes of my

[2020-07-14 16:11] privatejava commented on #10628
Hi @oztimpower ,

Yes you were right, I removed aws logs  dependency and the codes and now there is another exception: Now the exception is coming from resteasy which seems odd: `org.jboss.resteasy.core.ContextParameterInjector$GenericDelegatingProxy.invoke(ContextParameterInjector.java:122)`

[code]

[2020-07-14 16:49] radcortez commented on #10643
Pushed a fix to SmallRye Config and Quarkus update here: https://github.com/quarkusio/quarkus/pull/10615

[2020-07-14 17:11] sebthom commented on #9505
@aloubyansky

I want to run single test cases from within Eclipse via "Run As -> JUnit Test" but with a custom settings.xml containing HTTP proxy information and a different local repo path. On the command line I have an alias for mvn like this: `alias mvn=mvn --settings path/to/my/settings.xml`. This allows me to switch between different Maven version by just changing the `PATH` variable to point

[2020-07-14 17:25] leandro-rouberte opened #10724 "Kakfa-Streams dependency injection issue"
**Describe the bug**
I'm attempting to inject a KafkaStreams object using Quarkus CDI by having a Topology provider method.
I then use this injected KafkaStreams to iterate through some Kafka-Streams metrics. Sometimes the application run, sometimes it throws a NPE when trying to access the injected KafkaStreams object.

**Expected behavior**
The KafkaStreams object would be built before being ref

[2020-07-14 17:27] pcasaes commented on #10724
It seems that the cause is order the order of instantiating ApplicationScope beans during start up. Sometimes the producer for the Stream will be started first, sometimes not.

[2020-07-14 17:28] sberyozkin commented on #9252
See https://github.com/quarkusio/quarkus-quickstarts/pull/619

[2020-07-14 17:44] MastanaGuru opened #10727 "Accessing a RestClient from graphQL gives RESTEASY004655: Unable to invoke request: javax.net.ssl.SSLHandshakeException error"
I have a quarkus-graphql, quarkus-restservice and a openliberty restservice running in openshift in different namespaces.  Quarkus-graphql is accessing the restservices using RestClient. In all the applications tls.key and tls.crt are created by the penshift Service resource annotation `service.alpha.openshift.io/serving-cert-secret-name: app-certs` and added to the container as a volume. All apps

[2020-07-14 18:27] #10041 closed

[2020-07-14 18:31] gavinking commented on #10665
That's great but even so it would still likely be quite a lot of work to implement.

[2020-07-14 18:53] privatejava opened #10729 "Cannot natively compile when using jackson ObjectMapperCustomizer in AWS Lambda"
**Describe the bug**
I am not able to customize the objectmapper of Jackson when I tried to compile it natively for AWS. I used the guide from https://quarkus.io/guides/rest-json#jackson

**Expected behavior**
Normally it should compile correctly .  If I changed the code to something like this it compiles.
[code]

**Actual behavior**
If I compile a project with that customizer it show error like t

[2020-07-14 19:11] #10617 closed

[2020-07-14 19:17] survivant commented on #9832
I have the problem with Quarkus 1.6.0.Final using @QuarkusTest when launching the tests from Intellij.

java.lang.RuntimeException: java.lang.RuntimeException: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
	[error]: Build step io.quarkus.smallrye.health.deployment.SmallRyeHealthProcessor#build threw an exception: java.lang.IllegalArgumentException: Unsupported api 52

[2020-07-14 20:22] yahmed153 commented on #6896
Will do thanks

[2020-07-14 22:32] max-grigoriev opened #10733 "fast-jar (v1.6.0) doesn't work with Alexa skill"
**Describe the bug**
Alexa skill can't be invoked.

**Expected behavior**
Alexa skill should be invoked without any errors.

**Actual behavior**
The exception is thrown:
[code]

**To Reproduce**
Create a simple Alexa skill and enable `fast-jar` feature.

**Configuration**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:  Darwin Maksyms-MacBook-

[2020-07-15 00:08] famod commented on #9424
#1204 seems to cover this already.

[2020-07-15 00:08] #9424 closed

[2020-07-15 00:09] famod commented on #1204
I closed my issue #9424 since this seems more or less the same.

FTR:

[2020-07-15 01:37] gastaldi commented on #10702
I tested locally and indeed this flag fails the build when the generation fails. I opened #10734 :wink:

[2020-07-15 01:53] stuartwdouglas commented on #10705
This idea seems fine to me. I think we also want a way to load test extensions parent first though, as for a lot of them this is all that is required to make it work.

[2020-07-15 04:51] aksth opened #10735 "@ConfigProperties does not work in @QuarkusTest environment"
I have a class that uses @ConfigProperties as shown below:

[code]
I also tried with @Inject @ConfigProperty, as it is related to this issue: [#2061](https://github.com/quarkusio/quarkus/issues/2061)
[code]

I have injected it following way to use those configs:

[code]

It works as it should in the normal run, but in the test environment, I'm getting the injected oidcProperties as null.

In my ap

[2020-07-15 04:53] aksth commented on #10735
This issue is should have been solved by the #2061, but maybe isn't.

[2020-07-15 05:18] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/169584444

[2020-07-15 05:22] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/169583915

[2020-07-15 05:57] geoand commented on #10735
Interesting, I'll take a look

[2020-07-15 05:59] geoand commented on #10729
Hi,

Would it be possible to upload a github project that reproduces the issue? It should be fairly easy to fix as long as we can reproduce it.

[2020-07-15 06:32] tcollignon commented on #10682
Hi @rsvoboda

I have only test on RHEL on Linux Side, and on Windows it works fine (I have GraalVM 20.2-dev and windows 10)

With prior version of QUarkus/GraalVM it was working fine on other project that I have and now it doesn't working with same error

[2020-07-15 06:33] tcollignon commented on #10682
Thx @jaikiran for the PR in GraalVM

[2020-07-15 06:38] geoand commented on #10735
I couldn't reproduce the problem.

I tried

[code]

and then test:

[code]

and everything worked as expected when I set the properties:

[code]

[2020-07-15 06:40] UnvirtualHH opened #10737 "Kubernetes - Use existing resources not working for Ingress"
I want to use an existing kubernetes.yml to give a template for ingress. This is not working cause the values in Ingress part of the yaml will never been overwritten from quarkus. If I add expose=true a second Ingress will be copied to the generated kubernetes.yml instead of overwriting the existing one.

So, if expose=true check if an Ingress Template exists and modify this one instead of generat

[2020-07-15 06:45] #10055 closed

[2020-07-15 06:46] geoand commented on #10055
@haraldatbmw mind giving this another go?

Thanks

[2020-07-15 06:47] geoand commented on #10737
@iocanel seems like one for you. I am wondering if this is a duplicate of https://github.com/quarkusio/quarkus/issues/10641 (which has already been fixed)

[2020-07-15 06:50] UnvirtualHH commented on #10737
Well, I'm not sure if it is fixed with this bug, because it seems that the behaviour is a little bit more weird for Ingress. For deployment etc. it works ok for me, just for Ingress it is not replacing the stuff I want or generating a new Ingress when exposed true.

[2020-07-15 06:53] UnvirtualHH commented on #10737
Well, to overwork my comment. Some params are overwritten in the ingress part, something like name. But, most important part, LABELS with Version are not set. This is the only really big problem, because without labels it is unusable.

[2020-07-15 07:02] geoand commented on #10737
Gotcha.

Would you be willing to try the current Quarkus from `master` and see if it fixes your problem?

All you need to do is:

* Checkout the repo
* Build with `mvn -Dquickly -DskipDocs`
* Use `quarkus-bom` instead of `quarkus-universe-bom` and also change your application to use version `999-SNAPSHOT` for the quarkus plugin and dependencies.

[2020-07-15 07:04] UnvirtualHH commented on #10737
Sure, I'll give it a try.

[2020-07-15 07:20] cescoffier commented on #10184
We have done some improvements in Mutiny. The context-propagation issue is still valid I guess.

[2020-07-15 07:22] michalszynkiewicz opened #10738 "Make grpc dev mode use verticles"
(low priority)

At the moment, verticles other than WebDeploymentVerticles are undeployed on reload.

This task is to extend this mechanism to skip undeployment of the grpc server verticle and remove the workaround of starting the grpc server differently in dev mode.

[2020-07-15 07:26] UnvirtualHH commented on #10737
Well, maybe I'm too stupid in the moment but getting following error:

[ERROR] Plugin org.apache.maven.plugins:maven-compiler-plugin:3.8.0-jboss-2 or one of its dependencies could not be resolved: Failure to find org.apache.maven.plugins:maven-compiler-plugin:jar:3.8.0-jboss-2 in https://repo.maven.apache.org/maven2 was cached in the local repository, resolution will not be reattempted until the u

[2020-07-15 07:29] geoand commented on #10737
Hm.. I have seen people encounter that from time to time...

Can you try adding `--settings .github/mvn-settings.xml` to the mvn command line execution?

[2020-07-15 07:35] UnvirtualHH commented on #10737
Well, didn't helped directly, I added https://repository.jboss.org/nexus/content/repositories/thirdparty-releases/ to my settings.xml

The compiler plugin you use is only in a thirdparty repo available.

[2020-07-15 08:05] UnvirtualHH commented on #10737
Ok, Build really needed a time.

Feedback:

The duplicate generation of the Ingress is gone, even when expose=true

So this is really a good way forward. But:

For the Ingress part there is still no replace of the variables. Wether something like port nor the labels are set correctly. And with this it is unusable, cause I really need the current version generated into the kubernetes.yml

[2020-07-15 08:09] gsmet commented on #10677
/cc @evanchooly for the Kotlin issue.

Could you try to get more info via https://github.com/quarkusio/quarkus/blob/master/TROUBLESHOOTING.md#profiling-application-dev-mode-with-async-profiler ?

[2020-07-15 08:09] rvansa commented on #9464
So I've been playing with Liquibase a bit and it's nice, however it does not work well in dev setup - Hibernate's drop & create policy. All Liquibase changes are applied before Hibernate kicks in (which makes sense), however as the tables are dropped we lose triggers in the tables (defined by Liquibase).

Is it possible to define auxiliary database objects for Hibernate in Quarkus?

Since the trig

[2020-07-15 08:11] gsmet commented on #10696
Makes sense.

[2020-07-15 08:12] geoand commented on #10737
Thanks for the info! I am sure it will be very valuable to @iocanel

[2020-07-15 08:13] iocanel commented on #10737
For Ingress, Routes, Service etc we may need to provide a more fine-grained control on how we apply things on existing resources. I will work on that early next week.

[2020-07-15 08:13] tcollignon commented on #10682
I try toadd theses things in my project, but now I run into this problem : https://github.com/quarkusio/quarkus/issues/10498

[code]
[code]

import com.oracle.svm.core.annotate.AutomaticFeature;
import com.oracle.svm.core.jni.JNIRuntimeAccess;
import org.graalvm.nativeimage.hosted.Feature;

[code]

[2020-07-15 08:20] UnvirtualHH commented on #10737
Ok, perfect. When you are already going to touch this part, it would be great if we would be able to add env vars/specs to the ingress part. Then we wouldn't need a template. For us we add something like:

tls:
  - hosts:
    - service.tld.com
    secretName: tls-secret

So, if you would extend the Ingress generation options, it would be even better than increasing the templating ;)

[2020-07-15 08:23] gsmet commented on #10716
@Sanne @aguibert I think we should enable Hibernate Reactive if the Hibernate Reactive extension is around and a default reactive datasource is configured. I wouldn't take the presence of Agroal into consideration.

[2020-07-15 08:24] sberyozkin opened #10740 "OpenApiHandler sets Access-Control-Allow-Credentials to true by default"
**Describe the bug**
See this comment from @ia3andy [here](https://github.com/quarkusio/quarkus/issues/10447#issuecomment-653435485)

`Access-Control-Allow-Origin` is also not reflecting the request origin

[2020-07-15 08:29] #10570 closed

[2020-07-15 08:30] Sanne commented on #9464
Why would you let Hibernate drop the tables if you're using Liquibase?

The way I see it, the Hibernate schema tooling is meant for either:

- validating the schema is matching the ORM expectations
- quick prototyping of model changes, e.g. while you're tuning your domain objects and want it to "suggest" how the schema is going to be affected
- the import.sql is useful when testing the newly crete

[2020-07-15 08:39] gsmet commented on #10733
@max-grigoriev could you create a simple reproducer? That would be helpful.

/cc @oztimpower

[2020-07-15 08:40] gsmet commented on #10733
I'm not entirely sure we support anything else than uberjar though but I will let @oztimpower confirm.

[2020-07-15 08:46] youngplugins commented on #5810
I second this one. Can it be taken care of? Seems no problem making ComputingCache serializable.

[2020-07-15 08:46] mkouba commented on #10695
Hey @sberyozkin, +0 from me. It could work. Anyway, it's more a question for @FroMage who designed our qute/jax-rs integration...

[2020-07-15 09:25] rvansa commented on #9464
There's difference between dev and production: In dev, I'd use Liquibase to define the auxiliary objects (tables and triggers that populate these tables based on the primary model). Drop&create is useful (and mandated by some team members) to quickly prototype changes. Once the feature is completed, the developer would check out the model and update Liquibase changelog so that it's in sync in prod

[2020-07-15 09:30] Sanne commented on #9464
Ok, thanks! Let's try to implement this then.

Do you need this urgently?  It's not complex but it requires changes across multiple projects.

[2020-07-15 09:39] rvansa commented on #9464
No, it's not urgent at all. Thank you!

[2020-07-15 09:49] aloubyansky commented on #9505
That is partly true. See my previous comments.

True. With `maven.home` you are customizing the _global maven settings_, i.e. equivalent to the `-gs` Maven CLI argument, not `-s`.

I'm not sure what you mean here, tbh.

There is a trap. Quarkus creates a classpath cache for the tests which is created on the first launch, so the subsequent test launches can start faster. The cache is checking the t

[2020-07-15 09:51] jaikiran commented on #10682
That specific code path in the exception is only applicable for Linux systems. So it's understandable why it won't show up in Windows. Having said that, a call to `new FileInputStream` is such a common occurence that I am surprised this hasn't shown up previously and I'm wondering if there's something more going on here. On the RHEL setup where you are running into this issue, can you tell us what

[2020-07-15 09:58] pilhuhn opened #10742 "Jandex warning at boot time about JsonString"
**Describe the bug**

At system start, the following warning is printed:

[code]

Code looks like

[code]

`JsonString` is pulled into Quarkus via

* io.quarkus:quarkus-resteasy-jsonb:1.6.0.Final
** org.jboss.resteasy:resteasy-json-binding-provider:4.5.5.Final
*** org.glassfish:jakarta.json:1.1.6

so I would expect that this is already registered in Quarkus by default.
This warning was not printed

[2020-07-15 09:59] aloubyansky commented on #9505
Renamed it to `maven.settings`.

[2020-07-15 10:02] xstefank opened #10743 "Dependabot pull requests in quarkus forks"
**Dependabot pull requests in quarkus forks**
I don't know whether this is intended but after I rebased my fork (xstefank/quarkus) master today I started to get dependabot update PRs into my fork for which I don't see the reasoning.

https://github.com/xstefank/quarkus/pulls

![2020-07-15-1594807102_1726x643](https://user-images.githubusercontent.com/9353101/87532079-ebb11f80-c692-11ea-9aff-598636

[2020-07-15 10:16] adutra commented on #9183
Well, Mutiny 0.6.0 just introduced a breaking change in a minor version :-/; they added one more method:

https://smallrye.io/smallrye-mutiny/apidocs/io/smallrye/mutiny/Multi.html#onSubscribe--

The change was introduced by https://github.com/smallrye/smallrye-mutiny/pull/195.

I think we don't have any choice. The build will keep failing until they release a new Quarkus version with Mutiny 0.6.0,

[2020-07-15 10:20] #10510 closed

[2020-07-15 10:22] mkouba commented on #8648
I think that we can close this issue now. It's documented in this PR: https://github.com/quarkusio/quarkus/pull/10721

[2020-07-15 10:22] #8648 closed

[2020-07-15 10:27] iocanel opened #10744 "Kubernetes resource generation should optionally work in dev mode"
**Description**
A user that is experimenting with the `quarkus-kubernetes` would greatly benefit from being able to tinker the `application.properties` and see how it affects the generated manifests without havving to recompile all the time.

[2020-07-15 10:33] geoand commented on #10744
As discussed with @iocanel this needs some further investigation because currently the build step that generates the resources doesn't even get executed.

[2020-07-15 10:46] loicmathieu commented on #10437
@EfraimLA you need to use a constructor expression, something like

[code]

I'll try to use your reproducer to forge an example when I find some time.

[2020-07-15 10:49] EfraimLA commented on #10437
K so isn't the same? Hmm what's the difference from what I'm using?

[2020-07-15 10:59] loicmathieu commented on #10623
To add more concern about this choice, I too have a JUnit extension that didn't work anymore since Quarkus 1.3. I didn't create an issue because I couldn't create a simple reproducer (and didn't have time to work on a more complex reproducer).

This is a complex extension so I will try to give a high level explaination of what it is doing: we have a custom JDBC driver that register query execution

[2020-07-15 11:03] geoand commented on #10623
Like I have said above, I completely agree that in an ideal world all extensions would just work.
However with the current state of JUnit, that just isn't possible... Also undoing the classloader change to QuarkusTest is not an option either as it would break testing of a host of features.

[2020-07-15 11:03] Sanne commented on #10716
I agree, that's what I had in mind to do. I suppose I got confused with things while working on the previous fix.

[2020-07-15 11:05] #10691 closed

[2020-07-15 11:07] loicmathieu commented on #10437
You are not using a DTO projection via a constructor expression, thats' why Hibernate generates an `IllegalArgumentException`.

[2020-07-15 11:09] EfraimLA commented on #10437
I understand, so I must use some api or what?

[2020-07-15 11:13] Sanne commented on #10722
@dreab8 could you check this out please?

[2020-07-15 11:14] famod commented on #10743
Maybe related to #10681?

/cc @gastaldi

PS: What I also find irritating is that once I push to `master` of my fork, the entire CI-chain is triggered.

[2020-07-15 11:30] dreab8 commented on #10722
@Sanne sure

[2020-07-15 11:52] mkouba commented on #10742
It seems that we produce the fi`ReflectiveHierarchyBuildItem` twice. One backed by the `CombinedIndexBuildItem` and the other one backed by the `BeanArchiveIndexBuildItem`. And the one backed by `CombinedIndexBuildItem` results in the warning. I'll send a PR to fix this particular issue but the overall "reflection registration strategy" would probably deserve some refactoring...

[2020-07-15 11:54] survivant opened #10746 "io.quarkus.deployment.dev.RuntimeUpdatesProcessor doScan INFO: Hot replace total time: %ss"
I got that error with Quarkus 1.6.0.Final

juill. 10, 2020 8:04:42 A.M. io.quarkus.deployment.dev.RuntimeUpdatesProcessor doScan INFO: Hot replace total time: %ss

the bug it's that the value wasn't replace in the output %ss

I was running the quickstaart with Keycloak

mvn quarkus:dev

and I commented out all that

#quarkus.oidc.auth-server-url=http://localhost:8180/auth/realms/quarkus
#quarkus.o

[2020-07-15 11:57] gastaldi commented on #10743
Thanks for reporting this, I'll investigate

[2020-07-15 11:57] iocanel opened #10747 "Updates are not being picked up when using minkube and jib extension together"
**Describe the bug**

Changes made to the app when using jib and minikube extension are not reflected in the deployed application.
It's possible that due to the nature of jib (dockerless?) that the image never reaches the minikube docker daemon.

**Steps to reproduce**

1. create a quarkus app

[code]
2. add minikube extension

[code]
3. add jib extension
[code]

4. deploy

[code]

5. Change the m

[2020-07-15 12:01] gastaldi commented on #10743
In https://docs.github.com/en/github/administering-a-repository/enabling-and-disabling-version-updates#enabling-version-updates-on-forks it says that

But I wonder if this is only valid for new forks. In this case can you try recreating your fork to see if that works?

[2020-07-15 12:04] survivant commented on #10746
https://github.com/quarkusio/quarkus/pull/10748  and https://github.com/quarkusio/quarkus/pull/10749 to fix the issue

[2020-07-15 12:06] gastaldi commented on #10743
@famod Ah yes, AFAIK this is a GitHub actions feature. You can disable it by removing the `.github/workflows` directory from your master branch

[2020-07-15 12:11] famod commented on #10743
@gastaldi Ah, good to know. But wouldn't I then get merge conflicts each time something changes in that file?

[2020-07-15 12:14] gastaldi commented on #10743
I rarely push to my master branch in my fork so I don't really have this problem TBH :smile: Just make sure to keep your cloned master branch synch'ed with the original master :wink:

[2020-07-15 12:14] mkouba commented on #10720
Hm, I wonder what is the use case for annotating a health check with `@javax.ws.rs.Path`? Anyway, you're right. I've been able to reproduce the issue locally.

[2020-07-15 12:17] survivant commented on #10720
my usecase is that I have a variable that I used to set the return as UP and DOWN.  Mostly for testing or disabling a probe.  I use the endpoint to change that value

[2020-07-15 12:21] mkouba commented on #10720
Anyway, I found the problem - JAX-RS root resources are automatically annotated with `@javax.enterprise.inject.Typed(RootResource.class)` to workaround some problems with JAX-RS sub-resource locators. And so the `org.eclipse.microprofile.health.HealthCheck` is removed from its set of bean types.

You'll need to use a separate bean for the healh check, inject the bean in the resource and change its

[2020-07-15 12:26] #10447 closed

[2020-07-15 12:29] kekbur opened #10750 "Colon in resource @Path does not work"
**Describe the bug**
REST resources that use the colon character (`:`) in their `@Path` cannot be requested. This issue is present on Windows when running the application and on Windows and Linux when running a JUnit test.

**Expected behavior**
REST resources that use the colon character can be requested in tests and when running the application.

**Actual behavior**
When running a JUnit test (Wi

[2020-07-15 12:41] itboy87 commented on #7440
@angrymango thanks I tried it build successfully but build native image failed. Can you please check it https://github.com/angrymango/quarkus-ext-jooq/issues/1

[2020-07-15 12:47] xstefank commented on #10743
yes, reforking worked. Thanks!

[2020-07-15 12:47] #10743 closed

[2020-07-15 12:53] survivant commented on #10746
I created a project https://github.com/survivant/quarkus-keycloak-demo  but I found the issue playing with the config in application.properties.

I ran the application using mvn quarkus:dev    and when I put # in all the param in the config, I had that issue.

[2020-07-15 13:01] UnvirtualHH opened #10753 "Set quarkus.container-image.username to env property"
I want to user following config:

[code]

GitLab CI Build runs fine, but when the pod will start I get following exception:

[code]

I think it should be possible to set username and password to dynamic values...or not? I don't understand why those properties will be needed on runtime, cause I supposed container-image is just used to build time.

There is one more warning:

`{"timestamp":"2020-07-

[2020-07-15 13:13] tcollignon commented on #10682
Hi @jaikiran

this is the output :

[code]

[2020-07-15 13:19] jaikiran commented on #10682
Well, that rules out the case that the code might be going into a "not so common" code path where the file isn't existent. I can't really think of why this issue hasn't shown up previously and why no one else seems to be running into this.

[2020-07-15 13:21] geoand commented on #10753
Are the `CI_REGISTRY_USER` and `CI_REGISTRY_PASSWORD` env vars properly set?

[2020-07-15 13:22] jaikiran commented on #10589
I've opened a discussion about this in the Quarkus dev mailing list https://groups.google.com/forum/#!topic/quarkus-dev/_jc6h9AASoM. Although the workaround helped get past the issue, we will have to understand why it takes that long in the first place.

[2020-07-15 13:24] UnvirtualHH commented on #10753
Well, I think they are set automatically by gitlab, cause gitlab build and container creation incl. push to gitlab registry works.

[2020-07-15 13:24] jaikiran opened #10756 "Quarkus classloader doesn't support multi-release jars"
As noted in a recent Quarkus dev mail discussion[1], the `JarClassPathElement` used by the Quarkus classloading infrastructure doesn't currently support multi-release jar files.

[1] https://groups.google.com/d/msg/quarkus-dev/nnKFDiTBlR4/uRksUDDpCAAJ

[2020-07-15 13:24] UnvirtualHH commented on #10753
Or do I have to set they any other way?

[2020-07-15 13:29] geoand commented on #10753
I propose you try it with some env vars you control and see how it behaves. It should work - I would be very surprised if it didn't

[2020-07-15 13:30] sberyozkin commented on #10717
@pedroigor Hey Pedro, we may have an 'exciting' issue here :-). If SPA sends a valid refresh token to Quarkus `service` application, then if OIDC server verifies it via the introspection response, there is nothing we can do to detect it is not an access token, right ? This is probably all right, since RT is like a big access token since it can renew the ATs...
If RT is JWT then we can add a proper

[2020-07-15 13:31] Mahaswami opened #10757 "Custom Hibernate Types using reflection not working in native image"
**Describe the bug**
Using custom hibernate type "JsonBinaryType"  from com.vladmihalcea:hibernate-types-52 library for jsonb column. Since this library is using reflection internally registered the class for reflection in reflection-config.json.

@TypeDefs({
        @TypeDef(name = "jsonb", typeClass = JsonBinaryType.class)
})
@Entity
public class Fruit {
    @Type(type = "jsonb")
    @Column(col

[2020-07-15 13:36] geoand commented on #10757
cc @Sanne @gsmet

[2020-07-15 13:44] wmacibnc opened #10758 "Metrics are not being presented"
**Describe the bug**
We are creating metrics programmatically, but they are not being presented in url /metrics.

**Expected behavior**
When we create metrics programmatically they are not being presented.

**Actual behavior**
Metrics populated programmatically in url /metrics are not being presented

**To Reproduce**
Steps to reproduce the behavior:
1. Create métricas programmatically, method not

[2020-07-15 13:47] geoand commented on #10753
I just checked that `config-yaml` **does** resolve the env vars if they exist. And the message you are seeing is consistent with the env vars not being available.

I will close this issue for now, but if you have come up with more info from your testing, feel free to comment and / or reopen the issue

[2020-07-15 13:47] #10753 closed

[2020-07-15 13:49] geoand commented on #10758
cc @jmartisk

[2020-07-15 13:49] UnvirtualHH commented on #10753
Thanks for your help, looks like I already get it up running. I've added those vars to the kubernetes env vars now so they are given to the deployment. Looks like it solved the problem.

[2020-07-15 13:49] geoand commented on #10753
Cool!

[2020-07-15 13:59] gastaldi commented on #10756
I created https://github.com/smallrye/smallrye-common/pull/36 to include @Ladicek's `JarFiles` in Smallrye Commons

[2020-07-15 14:02] ppalaga commented on #9911
I thought this issue might have disappeared after the elimination of the deployment BOM, but I can still reproduce it with the current master (bb25b7a) of quarkus-platform.

To be able to compare the classpath of native and JVM, `quarkus-maven-plugin`'s `build` mojo needs to be added to the debezium test module: https://github.com/ppalaga/quarkus-platform/commit/2d9bfb16d78c3cf855b1eef227e90cae3df

[2020-07-15 14:04] ppalaga commented on #9911
I forgot to note that I consider the JVM directory content to be the right one.

[2020-07-15 14:11] famod commented on #10746
Apart from getting `io.quarkus.oidc.OIDCException: OIDC server is not available at the 'quarkus.oidc.auth-server-url' URL.` I can confirm that logging format is odd in that reproducer:
[code]

[2020-07-15 14:26] famod commented on #10743
@gastaldi Maybe this should be pinned for a while so that other contributors see this directly? (I mean the GH pinning feature, not the label).

[2020-07-15 14:26] phillip-kruger commented on #10670
Hi @cescoffier. I can look at this if no one else is.

[2020-07-15 14:27] #10112 closed

[2020-07-15 14:28] gastaldi commented on #10743
@famod good idea, just did that. Let's see if it helps

[2020-07-15 14:28] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/170095019

[2020-07-15 14:36] famod commented on #10746
Huh?!
- clone
- `mvn clean verify -DskipTests`
- `mvn quarkus:dev` -> odd formatting
- `mvn quarkus:dev` -> odd formatting (even with yet another `mvn clean verify -DskipTests`)
- modify `pom.xml` to move `quarkus-smallrye-openapi` & `quarkus-resteasy-qute` _before_ the test dependencies
- `mvn clean verify -DskipTests`
- `mvn quarkus:dev` -> still odd formatting
- `mvn clean verify -DskipTests`
-

[2020-07-15 14:48] andreas-eberle commented on #10559
Furthermore, it would be interesting to have a Java 14 version as well. If I understand correctly, Quarkus should run on Java 14, am I right? Unfortunately, I wasn't able to figure out how to install Java 14 with microdnf. Simply updating the `java-11-openjdk-headless` to `java-14-openjdk-headless` does not work.

[2020-07-15 15:01] famod commented on #10743
@gastaldi ...and @sberyozkin unpinned it - maybe you guys should talk. 😆

[2020-07-15 15:05] famod commented on #10746
It is getting even weirder, I am not getting reproducible results.
I'll continue with this later and I hope until then the space-time rift has closed or someone else was able to make sense of it.

[2020-07-15 15:40] maeh2k commented on #10724
I believe I just ran into the same issue trying to follow this tutorial for Streams metrics: https://quarkus.io/blog/kafka-streams-applications-with-quarkus-and-microprofile/

Great bug report, Leandro.

[2020-07-15 15:50] Sanne commented on #10757
We're currently not supporting the Hibernate Types project as there isn't an extension yet - so I wouldn't classify this as a bug.

Would you agree it's a duplicate of #9861 ?

[2020-07-15 16:06] Sanne commented on #10722
Apparently the bug is triggered when combining Enhanced Proxies with the `PADDED` or `DYNAMIC` batch strategies. Quarkus uses the `PADDED` strategy, while Hibernate ORM upstream by default is using `LEGACY` for backwards compatibility.

Unfortunately Enhanced Proxies had only been tested in combination with the ORM default, we'll fix this in Hibernate.

[2020-07-15 16:13] Sanne commented on #10722
https://hibernate.atlassian.net/browse/HHH-14108

[2020-07-15 17:03] #6297 closed

[2020-07-15 17:51] itboy87 opened #10765 "Crashing at start when version updated from 1.5.2 to 1.6.0"
**Describe the bug**
Crashing at start After upgrading from 1.5.2 to 1.6.0. It works fine when running as quarkusDev but when I deploy it by pushing registry with jib and run on Kubernetes. I'm getting this crash on start of container.
[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**

[2020-07-15 18:07] gsmet commented on #10765
I would bet on either a partially updated Quarkus (i.e. you still have some dependencies using the old version) or that a good old `clean` is required.

[2020-07-15 18:14] sladyn98 commented on #6531
@gsmet This is listed as a good first issue, I could give this a shot, maybe add the configuration template to the repo

[2020-07-15 18:15] sladyn98 commented on #4890
@gastaldi @geoand This has an open PR ? is it still being worked on @38leinaD or can I take this up and complete it ?

[2020-07-15 18:24] #10633 closed

[2020-07-15 18:44] gastaldi commented on #4890
@sladyn98 I believe this is resolved in https://github.com/quarkusio/quarkus/pull/4947 but the PR needs to be rebased and reviewed

[2020-07-15 18:54] cescoffier commented on #10670
Great @phillip-kruger! It's yours!

[2020-07-15 19:14] famod commented on #4890
#4947 only addresses devmode which is a good start but I think the regular mode should be addressed as well.

[2020-07-15 19:22] geoand commented on #4890
I personally have no idea what the status of the PR is so suggest you sort it out amongst the two of you :)

[2020-07-15 19:34] geoand commented on #10765
I assume you are mixing Quarkus versions - please make you have **only** Quarkus 1.6 and no traces of 1.5

[2020-07-15 20:18] sberyozkin commented on #10695
Hi @mkouba, @FroMage Sure, since we provide an explicit binding, providing an implicit one could be a feature since the view creation is moved out of the code , but yeah,  if t would feel less `qute` :-) then don't hesitate to drop this issue, thanks

[2020-07-15 20:39] brunohorta82 commented on #10616
I confirm this bug

[2020-07-15 23:01] hbelmiro commented on #8656
@gastaldi I updated the PR. I couldn't find a way to display the request body because it isn't available when the attributes are read.

[2020-07-16 01:28] #10623 closed

[2020-07-16 02:00] JapoDeveloper commented on #10658
Using version 1.6.0.Final work for me. Thanks!

[2020-07-16 02:04] stuartwdouglas commented on #10623
Maybe https://github.com/quarkusio/quarkus/compare/master...stuartwdouglas:test-parent-first is a solution we could consider. Basically if an artifact is "test" scoped then we will always load it parent first, so there will only every be one copy of the extension.

[2020-07-16 03:25] jaikiran commented on #10746
My guess is that it's picking up a different logging implementation which doesn't support this construct. The reason why it might be flaky might have to do with some classloading aspects. I'll see if I can find some time on this, to investigate.

[2020-07-16 05:18] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/170896379

[2020-07-16 05:35] uberto commented on #10677
I realized I was using J9 for these tests, going back to OpenJdk 14 gave me better timings.

the first hot-replace is still quite slow (1.5 s.) but next call is 0.5s and then progressively faster until it stabilizes on 320 ms.

I generated the svg file from the profile agent (btw nice improvement on old way to have flamegraphs).
Is there anything specific I should look at it?

Btw about the launch

[2020-07-16 06:27] itboy87 commented on #10765
@gsmet `clean` worked for me thanks.

[2020-07-16 06:27] #10765 closed

[2020-07-16 06:33] geoand commented on #10623
That's indeed an interesting approach!

[2020-07-16 06:56] haraldatbmw commented on #10055
@geoand Now it looks better. Deployment to Openshift works. But two additional findings.
1. Massiv log-output from the kubernetes extension
2. I think the generated trigger inside the deployment-config causes double deployment (If i call `mvn clean package -Dquarkus.kubernetes.deploy=true` then the deployment-counter in openshift increments by two)

[2020-07-16 06:57] geoand commented on #10055
Thanks for checking!

That has since been fixed

@iocanel ^

[2020-07-16 07:09] loicmathieu commented on #10623
This will only works if the Quarkus extension is loaded before the other one right ?

[2020-07-16 07:22] burmanm opened #10768 "Postgres timestamptz not working with Hibernate reactive?"
**Describe the bug**
I have a column in the Postgres with type of "timestamptz". However, trying to use these fields in the Hibernate always result in:

``io.vertx.core.impl.NoStackTraceThrowable: Parameter at position[0] with class = [java.time.LocalDateTime] and value = [2020-07-16T10:10:24.378] can not be coerced to the expected class = [java.time.OffsetDateTime] for encoding.``

It does not se

[2020-07-16 07:27] phillip-kruger commented on #10670
#8435 is a duplicate.

[2020-07-16 07:32] geoand commented on #10623
Not sure TBH... We'd need to check it out

[2020-07-16 07:51] geoand commented on #10705
@stuartwdouglas maybe open a PR and we ask people to try it out with the extensions they are using?
My guess is that it will improve things (basically eliminate the problem of method arguments from the wrong CL), but won't cover other cases (hopefully I'm wrong on this).

As for this issue, I'll probably take a look at it next week.

[2020-07-16 07:52] toubacol commented on #1996
Hello @geoand ,
What if we really wanted to keep those two services as "@ApplicationScoped"?
Or does it mean it is not possible to inject an "@ApplicationScoped" inside another "@ApplicationScoped"?

Thank you.

[2020-07-16 07:54] geoand commented on #1996
Hi,

It is possible, Your best best it just use constructor injection

[2020-07-16 08:18] geoand commented on #10735
Also, I saw you are using an old version of Quarkus, can you try with `1.6.0.Final`?

[2020-07-16 08:19] geoand commented on #10733
If we don't support anything other than uber-jar for the alexa skill, we should fail the build with the appropriate warning

[2020-07-16 08:21] geoand commented on #10729
Are you perhaps trying to use Jackson's afterburner module?

[2020-07-16 08:29] toubacol commented on #1996
Thanks for your quick reply.

I tried with this:
`@ApplicationScoped
class GreetingService constructor(val greetingService2: GreetingService2){

    fun hello() = greetingService2.hello() // greetingService2 is null (not injected)
}`

where GreetingService2 is also annotated @ApplicationScoped.

Any idea ?

[2020-07-16 08:32] geoand commented on #1996
How is `GreetingService` being used?

[2020-07-16 08:39] toubacol commented on #1996
GreetingService is also injected inside the entry point class which is also annotated @ApplicationScoped like this:

[code]

[2020-07-16 08:42] geoand commented on #1996
Which then begs the question, how is `Entry` used? You see where I'm going at :)

[2020-07-16 08:49] toubacol commented on #1996
Yes I see, `Entry` declares a `@Produces` method which is invoked directly at start up

[code]
but in the next level, `GreetingService2 `is not injected inside `GreetingService`

Cannot where I am doing wrong.

Thanks.

[2020-07-16 08:54] geoand commented on #1996
How about writing Entry like so:

[code]

and GreetingService like so:

[code]

and

[code]

[2020-07-16 09:06] famod commented on #10677
That NPE is already fixed in `master` (will be included in 1.6.1).

[2020-07-16 09:09] oztimpower commented on #10733
Amazon Lambda requires an uber-jar, and Alexa is merely a form of this. Does the fast-jar option not provide all dependencies in an uber-jar?

[2020-07-16 09:11] geoand commented on #10733
It does not. It's closer in layout to regular Quarkus runner jar than the uber-jar.

[2020-07-16 09:11] toubacol commented on #1996
Not better, `GreetingService2 ` still not injected inside `GreetingService`.

By the way, if the two services are annotated `@Singleton`, it works perfectly. But then it becomes hard to mock them for unit testing since you cannot use `@InjectMock` and the power of Mockito.
The only way for mocking is to use the old fashion way (subclass the service, annotate it as `@Mock` override the methods). Bu

[2020-07-16 09:13] oztimpower commented on #10733
Ok... @patriot1burke had changed the Amazon Lambda extension to force an uber-jar by default via the deployment package.  I would agree then that fast-jar should not be an option in this case.

[2020-07-16 09:17] geoand commented on #1996
Go ahead and open an issue please with the project that exhibits the problem and we'll take a look

[2020-07-16 09:29] geoand commented on #10750
@asoldano is adding a colon even allowed by the JAX-RS spec?

[2020-07-16 09:34] #10217 closed

[2020-07-16 09:38] geoand commented on #10697
Looking at the source of the client, I don't see a way of not taking system props or env vars into account, but I may be missing something.

[2020-07-16 09:44] toubacol opened #10771 "Cannot inject ApplicationScoped inside ApplicationScoped with Kotlin"
**Describe the bug**
Let's say we have three beans (Entry, GreetingService and GreetingService2) all annotated with `@ApplicationScoped`
[code]
[code]
[code]
`GreetingService2` is injected inside `GreetingService`, and `GreetingService` is injected inside `Entry`.
`Entry `declares a `@Produces` method which is invoked directly at start up.

 `GreetingService` is well injected but not `GreetingServ

[2020-07-16 09:44] Sanne commented on #10768
Thanks @burmanm , we'll look into this. I suspect a mismatch in type support of the underling database driver, we might need to have Hibernate Reactive adjust to the supported types.

https://github.com/hibernate/hibernate-reactive/issues/285

[2020-07-16 09:47] toubacol commented on #1996
[issue 10771](https://github.com/quarkusio/quarkus/issues/10771) is now created.

Thanks for you help.

[2020-07-16 09:51] geoand commented on #10771
Thanks for reporting.

Please upload the test project to github so we can make sure we check the same thing you are using to reproduce the issue

[2020-07-16 09:56] geoand commented on #10635
Hi,

This the expected behavior:

https://github.com/quarkusio/quarkus/blob/7da2dce5b602b4c27bfda431d39a0898a95eb33c/extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/NotFoundExceptionMapper.java

is only registered in dev mode: https://github.com/quarkusio/quarkus/blob/770dbae2a93876bee33d52fb3c275c5549bc6aab/extensions/resteasy/deployment/src/main/java/io/quarkus/resteasy/dep

[2020-07-16 09:56] #10635 closed

[2020-07-16 10:00] #10742 closed

[2020-07-16 10:19] geoand commented on #10720
Perhaps we just want to log a warning when `@Path` is used together with `@Liveness` or `@Readiness`?

[2020-07-16 10:33] geoand commented on #10509
I just tried it and the breakpoint worked perfectly

[2020-07-16 10:33] #10509 closed

[2020-07-16 10:51] geoand commented on #10467
Instead of using `Resources.getResource("/templates/pageNotFound.html")`, `Resources.getResource("templates/pageNotFound.html")` will work.

A more general comment however is to use `Thread.currentThread().getContextClassLoader().getResource("templates/pageNotFound.html");` to obtain a URL.
That is guaranteed to work in all Quarkus modes.

[2020-07-16 10:51] #10467 closed

[2020-07-16 10:52] famod commented on #10757
@Mahaswami You could try https://github.com/lorislab/quarkus-hibernate-types

[2020-07-16 10:53] privatejava commented on #10729
I will publish a github project this weekend. Actually I do not use afterburner but only Jackson module which invokes `registerModules`

[2020-07-16 10:57] sladyn98 commented on #4890
Okay Ill just pick up another issue https://github.com/quarkusio/quarkus/issues/6531

[2020-07-16 11:19] jmartisk commented on #10758
I can't reproduce this.
While I haven't tested metrics in `@QuarkusMain` mode before, I tried it now and everything worked to my expectations - a programmatically added metric is present in the `/metrics/application` output. Could you share a runnable reproducer or some more details?

[2020-07-16 11:21] jmartisk commented on #10758
I basically tried a runnable main method like this
[code]
that creates a metric and then makes the application sleep so I can check the `/metrics` output. The metric was there. Does your application do something fundamentally different?

[2020-07-16 11:31] gsmet commented on #6531
@sladyn98 sure!

[2020-07-16 11:39] Mahaswami opened #10775 "In native mode, creating eclipse paho mqttclient instance gives IllegalArgumentException: no NetworkModule installed for scheme "tcp" of URI"
**Describe the bug**
Native build runtime exception **Failed to start application: java.lang.IllegalArgumentException: no NetworkModule installed for scheme "tcp" of URI "tcp://192.168.0.125:1883"** while creating Eclipse Paho MqttClient object.

[code]

The problem seems to be related to the class loader in the eclipse paho mqtt client library
[code]
Tried registerting the NetworkModuleService cl

[2020-07-16 11:43] #10747 closed

[2020-07-16 11:47] sberyozkin opened #10776 "Investigate how to enable Pen Testing against OIDC/etc secured endpoints as part of CI"
It would be good to be able to activate the pen testing as part of the CI security builds against specially prepared OIDC/smallrye-jwt,/etc secured test endpoints, for example, using a plugin like this one https://blog.ripstech.com/2019/maven-gradle-security-testing-plugin/

[2020-07-16 12:13] pedroigor commented on #10717
Yeah, RTs are supposed to be opaque. In Keycloak we do set the type to explicitly set the JWT as a refresh token. But we can guarantee others to the same if they are also doing JWTs for RTs.

I think the best we can do is just handle this case properly and avoid a NPE, as you mentioned?

[2020-07-16 12:35] aloubyansky commented on #10713
I suspect you rebased the local branch but didn't `clean install` it? I can't reproduce it.

[2020-07-16 12:46] jaikiran commented on #10775
For registering the service provider, in addition to marking the provider classes for reflection, you will have to add the `META-INF/services/<that-service-provider-interface>` as a "resource" in the native image. See the section on `-H:ResourceConfigurationFiles` in this document https://github.com/oracle/graal/blob/master/substratevm/RESOURCES.md

Having said that, it looks like Quarkus has a MQ

[2020-07-16 13:12] jaikiran commented on #10750
Hello @geoand, I think this still is a bug in the classloading code of Quarkus which deals with resource resolutions. I've opened https://github.com/quarkusio/quarkus/pull/10777/ with a potential fix and explaining why I think it's a bug.

[2020-07-16 13:14] geoand commented on #10750
Yeah, I agree, I just wanted to know what the JAX-RS spec said before doing anything :)

[2020-07-16 13:19] aksth commented on #10735
@geoand Hey thanks. Yes, it does work in the scenario that you provided above. I think everything's fine with Aquarius. It may be due to mistake from my side. I have replicated my scenario here. Could you have a look at it? [https://github.com/aksth/quarkus-configproperty-test/blob/master/src/test/java/org/acme/ExampleResourceTest.java] Why does the second test fail here?

[2020-07-16 13:24] michalszynkiewicz commented on #9328
done in https://github.com/quarkusio/quarkus/pull/9917

[2020-07-16 13:24] #9328 closed

[2020-07-16 13:24] michalszynkiewicz commented on #9327
done in https://github.com/quarkusio/quarkus/pull/9917

[2020-07-16 13:24] #9327 closed

[2020-07-16 13:49] geoand commented on #10735
Did you try with Quarkus `1.6.0.Final`? Even if there is a bug with 1.4.x, we don't support it anymore :)

[2020-07-16 13:50] sberyozkin commented on #10776
I'll reopen when some investigation is done

[2020-07-16 13:50] #10776 closed

[2020-07-16 13:51] sberyozkin commented on #5996
Will reopen later on

[2020-07-16 13:51] #5996 closed

[2020-07-16 13:53] chinnaxs commented on #10735
Same problem here:
openjdk version 11.0.04"
Quarkus version: 1.6.Final
Maven 3.6.3

[2020-07-16 13:55] sberyozkin commented on #10717
@pedroigor What that NPE implies (it has been fixed on the master) is that Vertx has successfully verified the token but it has not been decoded into JSON. So yeah if it is an opaque token in the `service` application then I'm not sure what we can do, I'll look into it

[2020-07-16 14:00] geoand commented on #10735
The problem with your code :

[code]

is that `private final TestProperty test = new TestProperty(oidcProperties);` is executed before Quarkus injects the value into `oidcProperties`.

To best populate the field in a JUnit `@BeforeEach` method

[2020-07-16 14:00] #10735 closed

[2020-07-16 14:11] kenfinnigan commented on #9449
Just an FYI, to have this make a 1.7 release I don't think it will have an aligned OpenTelemetry extension for Quarkus as well, it might require adding OT dependencies directly by user "to work".

Will have to see

[2020-07-16 14:26] #10589 closed

[2020-07-16 14:35] aloubyansky commented on #9911
It's because it's built with the native-image goal which is configured to build an image for
`<appArtifact>org.apache.camel.quarkus:camel-quarkus-integration-test-debezium:${camel-quarkus.version}</appArtifact>`
while the `build` goal is building the current project.

[2020-07-16 14:37] aloubyansky commented on #9911
You are not supposed to be adding extra dependencies to the pom. The test jar is imported is supposed to be complete.

[2020-07-16 14:40] ppalaga commented on #9911
Thanks, at least we know what happens :)

[2020-07-16 14:47] #9997 closed

[2020-07-16 14:57] jaikiran commented on #10743
Hello @famod, this can be disabled in your fork settings. Go to Settings -> Actions and then select the "Disable actions for this repository" radio button.

[2020-07-16 15:00] Serkan80 opened #10783 "Override properties during testing made easier"
I saw that in Quarkus 1.6.0 QuarkusTestProfile was added to override properties and more. But this is quite cumbersome for situations when you only need to change 1 property.

**Description**
So we have the following in src/test/resources/application.properties:

  - appId=tOpS3cretId290380
  - %fake.appId=1234

And this gets injected in MyService via @ConfigPropert(name="appId").

**Implementatio

[2020-07-16 15:27] famod commented on #10743
@jaikiran Thanks, but that would disable actions for all branches, not just `master`, wouldn't it?

[2020-07-16 15:38] aloubyansky commented on #10690
It did work with the current master for me.

[2020-07-16 16:37] MarcusSchilling commented on #10717
How am I able to try a snapshot build do i have to change the pom accordingly?

[2020-07-16 16:38] MarcusSchilling commented on #10717
Oh yes you are right 401 Unauthorized makes much more sense

[2020-07-16 17:36] sladyn98 commented on #6531
As suggested earlier
[code]

[2020-07-16 18:26] lurumbo opened #10785 "Quarkus + Vertx not performing as well as Vertx alone"
Hi Quarkus team!

I have 2 projects that retrieve data from the same postgres DB, running in a docker container, obtained from [Docker Hub](https://hub.docker.com/_/postgres)

1 - Full Vertx
[https://github.com/lurumbo/vertx-demo](https://github.com/lurumbo/vertx-demo)

2 - Quarkus + Vertx (it is actually the Vertx project, plus some adjustments to make it work with Quarkus)
[https://github.com/lu

[2020-07-16 18:34] chengfang commented on #1505
In JBeret, it's used to clone certain objects. One is as Jan pointed out, to clone a job, which may contain property expressions that resolve to different values in each job executio. The other is to clone job execution and step execution objects in concurrent partitioned executions, as the spec requires each partition to have its own copy of job execution and step execution.  And also as Roberto

[2020-07-16 18:59] #9251 closed

[2020-07-16 18:59] #10569 closed

[2020-07-16 18:59] #9252 closed

[2020-07-16 19:00] #10597 closed

[2020-07-16 19:02] #10750 closed

[2020-07-16 19:10] cpoels opened #10789 "ClassNotFoundException at Hibernate ORM ProxyBuildingHelper"
**Describe the bug**
Hello everyone,

I have a Maven multi-module project where Module A declares an "AbstractEntity" and in the Quarkus app an entity extending it. Module A has the Jandex plugin configured and AbstractEntity is annotated. During the Maven build the Quarkus plugin is throwing an ClassNotFoundException for the entity on Hibernate ProxyBuildingHelper.

[INFO] Scanning for projects..

[2020-07-16 19:21] famod commented on #10789
Hm, `<packaging>war</packaging>` is a bit uncommon for a Quarkus application.
Can you try without packaging (=jar)?

[2020-07-16 19:42] lordofthejars commented on #10783
This is already supported in some way (not directly as you mention) look at https://quarkus.io/blog/quarkus-test-profiles/

[2020-07-16 19:48] lordofthejars opened #10790 "Add declarative Timer support"
**Description**

Currently Quarkus supports `@Schedule` annotations which let you program in a declarative way a periodic task. But sometimes what you want is to execute some method after some delayed time and just one time.

**Implementation ideas**

Something like:

[source, java]
----
@TimeTask(value=10, unit = TimeUnit.SECONDS)
public void execute() {
  sysout("I am executed after 10 seconds")

[2020-07-16 20:48] cpoels commented on #10789
```<packaging>jar</packaging>``` fixed it. Thanks a lot.

I feel a little bit uncomfortable now that I bothered you with this issue, because I could have compared it with the Quarkus Quickstarts ...
But maybe can you explain why it's uncommon? Okay, it's obsolete to build it because it's not used anyway, but is there any other reason than this?

[2020-07-16 21:16] famod commented on #10789
Excellent! Thanks for your feedback.

No worries! That's what the community is for.

Well, it is simply unnecessary/misleading since the Quarkus build plugin is creating its own custom jar which _has_ to be used to run the Quarkus application.
You wouldn't be able to use the `war`-file in a common appserver or servlet container anyway.

Maybe @aloubyansky can add some details why it fails like thi

[2020-07-16 21:16] #10789 closed

[2020-07-16 23:05] radcortez commented on #1505
I don't know if we had this issue before. Maybe @geoand remembers something?

As a simple way to state it, they generate the byte code associated with the runtime logic during deployment and then invoked at runtime. The key aspect here is that the recorded objects may require a no args contractor (we could override and use something else that is public as long as we have the data to call it) and p

[2020-07-16 23:35] ronsigal commented on #10750
Hi, I've looked into this a bit.

TL:DR: It should be fine relative to the spec, and it works in RESTEasy. I would be interested in where it doesn't work in Quarkus.

More information:

1. From https://tools.ietf.org/html/rfc1738 "Uniform Resource Locators (URL)",

    httpurl        = "http://" hostport [ "/" hpath [ "?" search ]]
    hpath          = hsegment *[ "/" hsegment ]
    hsegment

[2020-07-17 00:59] arielcarrera opened #10793 "Arc container does not work with Producer methods and Qualifiers"
**Describe the bug**
When you have a producer method with @Produces and a qualifier (@MyQualifier)... Quarkus registers a bean with @Default and @Any qualifiers instead.

**Expected behavior**
A bean registered with MyQualifier

**Actual behavior**
A bean is registered with @Default and @Any

**To Reproduce**
Steps to reproduce the behavior:
1. Write a Producer like this:
[code]

2.  Write a Quali

[2020-07-17 01:34] stuartwdouglas commented on #10705
Looking at CI there are some issues with that approach, I will need to investigate further.

[2020-07-17 02:41] chengfang commented on #1505
@radcortez I also feel directly modify the current model will be eaiser and IMO should be the preferred approach.

[2020-07-17 03:50] aksth commented on #10735
@geoand Thank you very much.

[2020-07-17 05:33] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/172258802

[2020-07-17 05:33] AdamBien opened #10795 "HTTP/2 push fails"
HTTP/2 push causes a HTTP status 500.

Steps to reproduce the behavior:

1.

[code]
2. Open the page in a browser.

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help explain your problem.)

**Environment (please complete the following information):**
- openjdk version "11.0.7" and openjdk version "14.0.1"
 - Quarkus version or git rev: 1.6.0
 - Build tool: apache-ma

[2020-07-17 05:51] klboke opened #10796 "Simple and fast log expansion"
Just like the configsource interface, is it possible to provide custom log output interface expansion function?

[2020-07-17 05:52] huangli812 opened #10797 "Cannot package with quarkus-hibernate-orm-panache extension"
**Describe the bug**
(Describe the problem clearly and concisely.)
I can not package with quarkus-hibernate-orm-panache extension in pom.xml, after i remove quarkus-hibernate-orm-panache from pom.xml, i can package with ./mvnw package or compile with ./mvnw package -Pnative. It's ok with only quarkus-hibernate-orm in pom.xml.
**Expected behavior**
(Describe the expected behavior clearly and concis

[2020-07-17 05:56] jmartisk commented on #1505
AFAIK no Quarkus extension depends on JBoss Marshalling. The typical use case of it is serializing objects for sending across the network, and Quarkus is HTTP&JSON focused so it's not really necessary.
If we need to clone objects, I think we should implement our own cloning mechanism.

[2020-07-17 06:01] jaikiran commented on #10795
As per the RFC-7540 section 8.1.2[1], only lower case HTTP header names are allowed in the request. So it looks like the Undertow `PushBuilderImpl` needs to convert them to lower case before "pushing". The `PushBuilderImpl` is the one which adds this `Referer` header here[3]. Bit surprised this hasn't shown up before. Perhaps @stuartwdouglas would know more?

[1] https://tools.ietf.org/html/rfc754

[2020-07-17 06:10] stuartwdouglas commented on #10795
I don't think push is widely used, which is why this has not shown up before. It looks like Vert.x automatically handles this for normal headers, but not for server push.

https://github.com/quarkusio/quarkus-http/pull/39

Should fix it.

[2020-07-17 06:40] geoand commented on #10735
You are welcome

[2020-07-17 06:42] rquinio commented on #10594
In fact Quarkus build can only be aware of the properties declared statically in https://github.com/quarkusio/quarkus/blob/master/extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsRuntimeConfig.java#L12
and properties which are "passed through" from kafka-streams.* and quarkus.kafka-streams.* are only known at runtime.

I remember reading in https://github

[2020-07-17 06:43] geoand commented on #10750
Thanks a lot @ronsigal !

[2020-07-17 06:52] rquinio commented on #9869
In a shared library you need to put the config inside the jar `META-INF/microprofile-config.properties`

It's an information that seems missing in the guide https://quarkus.io/guides/config (though it's a microprofile-config standard thing and not Quarkus specific).

[2020-07-17 06:57] geoand commented on #1505
As @jmartisk says, we don't use JBoss Marshalling anywhere in Quarkus

[2020-07-17 06:59] gunnarmorling commented on #10594
Ah, that's weird. So when I look now, I _do_ see the props we've declared, whereas when I was logging this issue, there was not a single property whatsoever.

Agreeing on the pass-through part; if anyone would be up for declaring all those props, that'd be very nice. It'll be some sort of catch-up game, though, if new properties are added in future Kafka versions. I.e. the generic pass-through fac

[2020-07-17 07:04] mkouba commented on #10790
Hm, so this is basically "asynchronous execution with a delay". I.e. something similar to `@org.eclipse.microprofile.faulttolerance.Asynchronous`. @Ladicek @michalszynkiewicz would it make sense to add such a feature to `smallrye-fault-tolerance`?

[2020-07-17 07:04] geoand commented on #10797
I couldn't reproduce this. Is there any chance you can upload the project that is causing problems to Github?

[2020-07-17 07:05] geoand commented on #10785
cc @johnaohara

[2020-07-17 07:07] geoand commented on #10793
cc @mkouba @manovotn

[2020-07-17 07:09] machi1990 commented on #10594
It was probably a deployment issue (@gsmet  would know more), I took a look and all the configuration properties are there - https://quarkus.io/guides/kafka-streams#configuration-reference.

I think we can close this one.

[2020-07-17 07:09] #10594 closed

[2020-07-17 07:17] Serkan80 commented on #10783
Yes I know that. But my suggestion is to make it simpler without writing any code and just using an annotation on the test method.

[2020-07-17 07:18] Ladicek commented on #10790
I think so, yes.

I need to do an internal refactoring to fix some annoying issues (https://github.com/smallrye/smallrye-fault-tolerance/issues/209, https://github.com/smallrye/smallrye-fault-tolerance/issues/210), and this refactoring would probably enable this feature pretty easily.

[2020-07-17 07:25] Serkan80 commented on #10785
And here is a similar test (non reactive way) testing/comparing the same functionality with Quarkus, Micronaut & Spring Boot:

https://youtu.be/rJFgdFIs_k8

I have done a similar test as in the video with Quarkus 1.6 and Spring Boot 2.1.x and what I notice is that the througput of both is almost the same without significant differences. Even the memory consumption is almost similar.

And one thing

[2020-07-17 07:25] mkouba commented on #10793
Hi @arielcarrera, it would be really helpful if you could share your extension code. My guess is that `@MyQualifier` is not part of the bean archive index and so it's not recognized as a qualifier. To fix this just produce an `AdditionalBeanBuildItem` for the `MyQualifier` class. You probably already register `MyProducer` via this build item anyway, so you can just add the qualifier class to the e

[2020-07-17 07:27] mkouba commented on #10790
Hm, I think you could introduce a new annotation like `@Delayed` so that users can still use the spec version of `@Asynchronous` annotation.

[2020-07-17 07:34] gsmet opened #10798 "Upgrade Quarkus HTTP to 3.0.12.Final"

[2020-07-17 07:54] lordofthejars commented on #10783
:+1: sorry then :)

[2020-07-17 07:56] arielcarrera commented on #10793
Oh!, thank you @mkouba. It works.
I thought that registering the producer class in that build item would be enough.
On the other hand, if the producer class is annotated with a scope qualifier, I understand that it should not be needed to add it to the build item... right?
If there is a rule ... what do you think it would be to determine which classes to put in that index?

[2020-07-17 08:02] geoand commented on #10783
One reason we went with `@TestProfile` is that it makes it very easy for users to know to API.
I would really like to avoid a situation (as occurs in other frameworks) where you could have a host of different annotations contributing to the test environment, thus making it hard for a user to know which annotation to use in which case.

[2020-07-17 08:08] lordofthejars commented on #10783
fair point too.

[2020-07-17 08:09] johnaohara commented on #10785
@lurumbo Thanks for the sharing your results and demo apps. This is not a scenario that we have run load tests for, so will take a look at what is causing the differences.
One question, is there a reason why the quarkus version is serializing the getUsers() response to a JsonArray and not in the vert.x version?

[2020-07-17 08:11] mkouba commented on #10793
Hm, actually it should be enough. We do attempt to index all annotations declared on a class registered with an `AdditionalBeanBuildItem`. Could you try to build an app with your extension with `mvn install -X` and see if there are some debug log messages like `Could not index annotation: org.acme.Foo (missing class or dependency)`?

Built-in scope annotations are added automatically by Quarkus.

[2020-07-17 08:15] johnaohara commented on #10785
@Serkan80 This use case covered in the linked video is a different use case to this reported issue.  That test was influenced by the dispatch cost to a thread pool in the Quarkus case, we explain the flawed assumptions in this post: https://quarkus.io/blog/io-thread-benchmark/

Please could you share examples of tests that you have run wrt throughput in a new issue, so that we can objectively eval

[2020-07-17 08:15] johnaohara commented on #10785
@Serkan80 This use case covered in the linked video is a different use case to this reported issue.  That test was influenced by the dispatch cost to a thread pool in the Quarkus case, we explain the flawed assumptions in this post: https://quarkus.io/blog/io-thread-benchmark/

Please could you share examples of tests that you have run wrt throughput in a new issue, so that we can objectively eval

[2020-07-17 08:43] pilhuhn opened #10801 "RestEasy throws a NPE on a bad uri"
**Describe the bug**

I have some JAX-RS code that listens on `GET /api/policies/v1.0/policies/{id}`

    public Response getPolicy(@PathParam("id") UUID policyId)

Now when I pass a bad `id` of  `"123"`, RestEasy throws a NPE (which is logged) and Quarkus returns a 500 error (see below) code with the usual http stack trace, which is annoying to clients that expect Json encoded bodies.

I am tryin

[2020-07-17 09:05] askalee90 opened #10802 "Failed to native package"
**Describe the bug**
mvn -f /usr/src/app/pom.xml -s /usr/src/app/settings.xml -Pnative package
Added --initialize-at-run-time=com.mongodb.client.internal.Crypt and still failed.

Error: Unsupported features in 12 methods
Detailed message:
Error: Detected a started Thread in the image heap. Threads running in the image generator are no longer running at image run time.  Object has been initialized

[2020-07-17 09:05] Ladicek commented on #10790
I intend to create my own annotation, tentatively called `@ThreadOffload`, because `@Asynchronous` is too ambiguous. In any case, delaying would be a separate annotation for sure, and `@Delayed` sounds good.

[2020-07-17 09:12] huangli812 commented on #10797
[phm-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/4936743/phm-with-quarkus.zip)
@geoand
Maybe this problem is OS related. I use Clear OS linux offered by Intel, the JDK package comes from system repository.
I tried with a Mac mojave with brew install openJDK 11, it packaged normally.
I want to borrow a ubuntu server to test now.

[2020-07-17 09:15] geoand commented on #10797
I use Ubuntu and it works perfectly, so seriously doubt this is a Quarkus issue.

@rsvoboda do you or anyone you know have any ClearOS experience?

[2020-07-17 09:18] Serkan80 commented on #10785
@johnaohara if my understanding is correct, other frameworks use the IO thread by default and to achieve the same performance in Quarkus you need to rewrite your whole application with Reactive Routes (RR) ? That’s quite annoying and in most cases inapplicable, because RR has serious functional limitations like no out-of-the-box: Bean Validation, Swagger, Security, etc, support. Imho, not very wel

[2020-07-17 09:18] huangli812 commented on #10797
May be this is just a problem with the Clear OS offered JDK, sorry to bother you.
Just wonder if this output can give us some clue.

[code]

[2020-07-17 09:24] geoand commented on #10797
No bother.

What you say makes sense, it's just that I don't see how we could provide any meaningful output information in Quarkus as this looks to be a deep JDK / FS issue

[2020-07-17 09:24] pilhuhn opened #10803 "Warning about reflective access of Yasson"
I get the following warning

[code]

Yasson is pulled in by quarkus-resteasy-jsonb , so I would expect that this is properly registered inside Quarkus (-resteasy-jsonb) and would not emit the warning

* io.quarkus:quarkus-resteasy-jsonb:1.6.0.Final
** org.jboss.resteasy:resteasy-json-binding-provider:4.5.5.Final
*** org.eclipse:yasson:1.0.7

[2020-07-17 09:25] #10797 closed

[2020-07-17 09:28] machi1990 commented on #10803
This seems like a duplicate of https://github.com/quarkusio/quarkus/issues/10273

/cc @emmanuelbernard @gsmet

[2020-07-17 09:31] radcortez commented on #1505
Great, let's go with that approach.

[2020-07-17 09:37] johnaohara commented on #10785
@Serkan80 This reported issue relates to a very specific use case.  If you have a specific performance issue, please open a new issue. Or, if you would like to discuss different paradigms, and what Quarkus could improve on, please start a discussion on the community mailing list.

[2020-07-17 09:40] Sanne commented on #10797
hi! While I agree this could possibly be a JDK issue, you could also just have a corrupt jar file.

If you could figure out which jar it was attempting to open, try verifying the file with a simple zip verification tool, or just rebuild it / redownload it.

[2020-07-17 09:49] pilhuhn opened #10804 "Quarkus Cache ( Caffeine ) cache too noisy"
I have the following code:

[code]

Now when the call via MP-RestClient `rbac.getRbacInfo()` times out, the following long stuff is written to the log.
This should not happen, but the application (my calling code) should do the logging.

If I catch the exception inside `getRBacInfo()` and do not let it bubble up, then I would need to e.g. return a marker result (e.g. `null`), which the cache would

[2020-07-17 10:17] crissi98 commented on #10616
Closing this as it is fixed by #10774

[2020-07-17 10:17] #10616 closed

[2020-07-17 10:17] mkouba commented on #10790
Hm, I don't think `@ThreadOffload` is very intuitive ;-) ... but I agree that `@Asynchronous` is not good either. Maybe something like `@ExecuteOnWokerThread`... ok, it's not very intuitive either...

[2020-07-17 10:23] gsmet commented on #10804
/cc @ben-manes for advice

[2020-07-17 10:24] gsmet commented on #10801
@jaikiran isn't it something you fixed in Vert.x? I recall some discussions about something similar.

[2020-07-17 10:26] geoand commented on #10803
Yeah, it's a duplicate. Let's keep the other issue open.

[2020-07-17 10:26] #10803 closed

[2020-07-17 10:27] kekbur commented on #10750
Thanks for looking into this guys.

I thought using colons in paths was not unusual. Google's API design guide [recommends using a colon for implementing actions not covered by the basic 5 HTTP verbs](https://cloud.google.com/apis/design/custom_methods).

`POST /files/a/long/file/name:undelete`

[2020-07-17 10:27] jaikiran commented on #10801
@gsmet, It's still open in vertx https://github.com/vert-x3/vertx-web/issues/1654 (I just noticed that comment from pmlopes in that issue, I will respond to it later today)

[2020-07-17 10:28] geoand commented on #10802
It seems like you are trying to make Mongo Spark (https://github.com/mongodb/mongo-spark) work in native.
There is no supporting extension for that, so it's no surprise that it doesn't work in native mode.

[2020-07-17 10:31] gsmet opened #10806 "Duplicate classes in @Startup observer generation"
When working with this commit:
https://github.com/quarkusio/quarkus/pull/10726/commits/efd15d3dcd7397a3159df5e5b454be0bff0aa1e0

And specifically when building the kafka-streams integration tests with `-Dnative`, I end up with the following exception:
[code]

Funnily enough, I don't have the issue when not building in native.

I think this is due to the `@Startup` annotations being used twice in t

[2020-07-17 10:33] gsmet commented on #10803
Hint: please add the label when closing :).

[2020-07-17 10:33] Sanne opened #10807 "Improve errors on attempt to run a Quarkus application packaged as a WAR type"
**Description**
Following up on user's troubles reported on #10789

Could we raise a nicer, more explicit error message? Question for @stuartwdouglas / @aloubyansky

[2020-07-17 10:35] Sanne commented on #10789
nice catch @famod , and thanks @cpoels for reporting this.
Opened #10807 as a possible follow-up

[2020-07-17 10:35] geoand commented on #10803
:+1:

[2020-07-17 11:30] #10702 closed

[2020-07-17 11:46] huangli812 commented on #10797
Thanks for your great thinking! With your help, I finally confirmed that this is a problem between my libz.so.1 and my JDK. After I put another libz.so.1 from another OS into JAVA_HOME/lib/, the problem solved. I will send a email to Clear linux developers, if i can find more useful information about their optimized libraries and jdk.

[2020-07-17 11:52] cescoffier commented on #10114
cc @tsegismont

[2020-07-17 12:20] Mahaswami commented on #10757
@famod Thank you for referring to this extension. Tried and its working fine.

@Sanne yes, its a duplicate of #9861.. didn't notice this one before.

[2020-07-17 12:20] #10757 closed

[2020-07-17 13:12] sberyozkin commented on #10717
@MarcusSchilling thanks, so yes, the actual NPE has been fixed, but the fix is also on the way to make sure 401 is returned

[2020-07-17 13:33] zhfeng commented on #10501
@362228416 can you share how did you change the applicaion.properties ? I met the same issue with the mysql connection.

[2020-07-17 13:42] ekans opened #10812 "Can't use MongoDB with Panache with multiple clients on the same instance"
**Describe the bug**
I have a MongoDB instance and several databases.
I don't manage to use MongoDB with Panache for several entities on different databases.

Here a simplified version of my Kotlin code :

[code]

My application.properties:
[code]
I have the following error:
[code]
I was expected that the database name was retrieved from quarkus.mongodb.db1.database.
Am I missing something?

**To

[2020-07-17 13:53] #8881 closed

[2020-07-17 13:55] sberyozkin commented on #5479
Hi Georgios, this one has already been fixed, right ?

[2020-07-17 13:58] sberyozkin commented on #3434
Closing it as a duplicate

[2020-07-17 13:58] #3434 closed

[2020-07-17 13:59] geoand commented on #5479
Hey @sberyozkin

I don't think it has, at least not to my knowledge

[2020-07-17 14:03] sberyozkin commented on #3049
This is already supported with Quarkus security

[2020-07-17 14:03] #3049 closed

[2020-07-17 14:08] michalszynkiewicz commented on #10790
technically it makes sense but delaying doesn't have much in common with fault tolerance ;)

[2020-07-17 14:23] tsegismont commented on #10114
I'll look into it

Le ven. 17 juil. 2020 à 13:53, Clement Escoffier <notifications@github.com>
a écrit :

[2020-07-17 14:26] Ladicek commented on #10790
There are some [more or less] valid arguments against putting `@Asynchronous` into Fault Tolerance in the first place, but the fact of life is that all fault tolerance libraries have means to execute code on an extra thread. In which case, I'd argue it's quite natural to support 1. some rudimentary scheduling, and 2. "fire and forget" scenarios (return type of `void`).

[2020-07-17 14:27] mkouba commented on #10790
What are the "valid" arguments? I see none ;-)

[2020-07-17 14:49] sberyozkin commented on #5255
Hi @stuartwdouglas What do you think about this one ?

[2020-07-17 14:51] sberyozkin commented on #5255
If the token contain some role names, the way they've been set up in Keycloak Admin console, etc, then it can be useful to map them to the deployment specific roles, ex, `admin` -> `Administrator`, etc

[2020-07-17 15:14] pilhuhn opened #10813 "resource not closed warning with rest client"
This is a bit hard to reproduce for me. Like in #10804 I am doing remote calls via the MP Rest Client

[code]

And I get (not always) the following in the logs:

`2020-07-17 16:58:30,999 WARN  [org.jbo.res.cli.jax.i18n] (Finalizer) RESTEASY004687: Closing a class org.jboss.resteasy.client.jaxrs.engines.ApacheHttpClient43Engine instance for you. Please close clients yourself.
`

Locally I could rep

[2020-07-17 15:30] ben-manes commented on #10804
If you trust your code to handle failures properly, then set that logger’s level to disable these methods. This is a one line configuration in your log settings.

This is logged because users do forget to handle when a future fails, causing the error to be swallowed. That led to frustration that the cache was not working with no indication as to why. The cache’s logging is a safety net to help whe

[2020-07-17 18:19] 2er0 opened #10815 "Podman Support"
**Add podman for image building**

Podman would be a nice alternative to docker for building container images.

Currently, only docker is supported by checking if the docker executable/service is available and if the server version is available.
Podman and other container runtimes should further be supported.

[2020-07-17 20:54] michalszynkiewicz commented on #10790
Trolling aside, :+1:  on adding it to SR FT.
Would be great to have a separate spec for it if it were to move to MP at some point.

[2020-07-17 21:00] nfrankel commented on #10566
Given that the code is executed at AOT-build, I inferred that execution paths that may depend on system properties will be evaluated depending on those system properties at build time.

I inferred that modules would likewise be checked at compile time.

But in all honesty, that's what I expect, I've no guarantee of that as I'm not a GraalVM expert.

[2020-07-17 21:43] arielcarrera commented on #10793
There is no message `Could not index annotation` ... but I can see the messages `Stale source detected` and `Deleting file`.
So my problem is that as you said I don't have all interceptor, producer and annotation classes registered with an `AdditionalBeanBuildItem` and quarkus removed them ... Thanks.

[2020-07-17 21:43] #10793 closed

[2020-07-17 22:08] pjverity opened #10821 "Qute guide shows examples that do not compile"
**Describe the bug**
The Qute Guide shows an example of [Type-safe templates](https://quarkus.io/guides/qute#type-safe-templates), with the code:

[code]

However, non-static inner classes can not have static methods, therefore the code will not compile. The class should be defined as `static` also:

[code]

**Expected behavior**
The code should compile

**Actual behavior**
The code does not compi

[2020-07-18 03:49] jaikiran commented on #10815
Hello @2er0, you can use `-Dquarkus.native.container-runtime=podman` when launching your native image build through Quarkus.

[2020-07-18 04:07] jclingan opened #10822 "Remote Development AccessDeniedException"
**Describe the bug**
Trying out remote development on 999-SNAPSHOT but I am getting AccessDeniedException(s). Looks like the userid of the process does not have sufficient permissions in the container.

Reproducer:
[Here](https://github.com/jclingan/quarkus-remote-dev). Requires minikube, and I am using the default project. Follow instructions section. Should take 60 seconds to duplicate once mini

[2020-07-18 07:03] johnaohara commented on #10785
Have taken a look at the benchmark you shared and I have a number of observations that means the results are not comparable, and there are issues with the methodology which will skew measurements;

1.  The implementations differ slightly in their implementation, the vert.x implementation is returning an ArrayList.toString() in reply across the event bus, and the Quarkus version is returning a Json

[2020-07-18 07:21] iocanel opened #10823 "Redeploying knative resources fails"
**Describe the bug**
Knative adds annotations to the deployed service. The action of redeploying is triggering an update, that is removing these labels. Knative doesn't accept that because these labels are considered immutable.

So, we should delete and redeploy instead.

[2020-07-18 07:40] richiethom opened #10825 "Maven Archetype generates hard-coded path"
**Describe the bug**
The `quarkus-amazon-lambda-http-archetype` archetype generates a hard-coded path to `maven.home` in the `maven-surefire-plugin` plugin declaration:

[code]

**Expected behavior**
`maven.home` probably shouldn't be declared at all.

**Actual behavior**
The following declaration is generated:

`<maven.home>/opt/apache-maven</maven.home>`

**To Reproduce**
Steps to reproduce the

[2020-07-18 07:52] richiethom opened #10826 "Maven Add Extension command fails with error about BOM"
**Describe the bug**
Running the Add Extension command fails with the following message:

[code]

**Expected behavior**
The extension is added correctly.

**Actual behavior**
The extension isn't added as the command fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the [Amazon Lambda HTTP guide](https://quarkus.io/guides/amazon-lambda-http) to generate a project using the artefact `

[2020-07-18 08:52] cpoels commented on #10807
As the original reporter of the issue I want to make a proposal for such a explicit error message:

When building a normal (non-Quarkus) WAR Maven will fail the build when no web.xml is provided and you can disable this behaviour via the ```<failOnMissingWebXml>``` property.
Maybe the Quarkus plugin can implement something similar: Failing the build if packaing type is not default or set to someth

[2020-07-18 08:57] cpoels commented on #10789
You are welcome.
I also gave my two cents to your follow-up issue. Could be one way I can imagine.

[2020-07-18 10:03] oztimpower commented on #10733
On my own Amazon Alexa project I tried to set the fast-jar property and did get a build exception as below, which I would expect, with 999-SNAPSHOT.  Everything looks ok to me?

[code]

[2020-07-18 11:54] geoand commented on #10733
That error looks good to me

[2020-07-18 12:15] famod commented on #10825
Thanks for reporting this.

First quick feedback: `maven.home` **is** supposed to be there, but the placeholder should not be replaced (must happen at runtime instead).

[2020-07-18 12:19] famod commented on #10826
Thanks for reporting this.

Can you check whether there is a `quarkus-universe-bom` or `quarkus-bom` dependency in `dependencyManagement`? (I'm on my phone right now)
Thanks!

[2020-07-18 12:45] 2er0 commented on #10815
Hi @jaikiran, nice to know.
Is this somewhere in the documentation? (Could not find it)

[2020-07-18 13:22] #10795 closed

[2020-07-18 13:22] #10798 closed

[2020-07-18 13:32] #10806 closed

[2020-07-18 13:49] #10231 closed

[2020-07-18 14:12] famod commented on #10825
Confirmed locally. I'll try to find out why this is happening...

[2020-07-18 14:13] famod commented on #10826
Confirmed locally.

[2020-07-18 14:33] famod commented on #10826
@richiethom Do you also get something like this:
[code]
when running:
[code]
?

[2020-07-18 14:55] gsmet commented on #8795
This one has been solved in 1.6.0.CR1.

[2020-07-18 14:55] #8795 closed

[2020-07-18 15:48] ravirajb opened #10827 "Unable to create project"
**Describe the bug**
mvn  io.quarkus:quarkus-maven-plugin:1.0.1.Final:create fails

**Expected behavior**
Should create the project ideally.

**Actual behavior**
With jdk14, I am unable to build the project.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the java to jdk14
2. Execute the command:  mvn io.quarkus:quarkus-maven-plugin:1.0.1.Final:create     -DprojectGroupId=org.acme     -D

[2020-07-18 16:31] famod commented on #10826
Also happens with `quarkus-azure-functions-http-archetype`.

[2020-07-18 16:35] famod commented on #10827
Seems like a duplicate of #10658.
Any reason why you are using such an "ancient" version of `quarkus-maven-plugin`? The most recent one is 1.6.0.Final.

[2020-07-18 17:52] ravirajb commented on #10827
Thanks for pointing that out.
I was following an old tutorial, didn't see this.

It's working now.

Thanks

[2020-07-18 17:52] #10827 closed

[2020-07-18 18:37] vishalgoel1988 commented on #2835
We also really want this, quite crucial for us.

[2020-07-18 19:03] vishalgoel1988 opened #10832 "quarkus-reactive-pg-client maven dependency not working in Quarkus 1.6"
**Describe the bug**
quarkus-reactive-pg-client maven dependency not working in Quarkus 1.6. Adding below to pom throws error:
[code]
[code]

**Expected behavior**
Dependency should be pulled correctly and application should be started.

**Actual behavior**
Error in application bootstrap

**To Reproduce**
Steps to reproduce the behavior:
1. Add quarkus-reactive-pg-client dependency in pom with Qua

[2020-07-18 21:59] panchitoboy commented on #9931
Hi, i know that this thread is closed but my problem is very very similar:

Context: Im using Mongo Panache Reactive (quarkus 1.6).

I have an entity with a composeKey. One field is a localDate  (i will call it localDate in the example)

`Entity.list("_id.localDate=?1", localDateValue)
`

I see in the logs;

[io.qua.mon.pan.rea.run.ReactiveMongoOperations] (executor-thread-1) {'_id.localDate':ISOD

[2020-07-19 05:02] jaikiran commented on #10501
Hello @zhfeng, this really shouldn't be happening against 20.1.0 GraalVM. But if it is indeed happening then you can set `quarkus.native.includeAllTimeZones` to `true`. This is the config property https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java#L56

[2020-07-19 07:01] Postremus opened #10833 "Annotation processors not run for hot reload of multi module maven project"
**Describe the bug**
I have a multi module maven project with the following structure:

project:
- web (quarkus project)
- service (jar packaging)

The service modul has a provided dependency to an annotation processor - hibernate-jpamodelgen to be exact.
During a normal "mvn compile", the annotation processor is run, and the static metamodel gets generated.

Now, i started dev mode.
If I change o

[2020-07-19 08:40] 38leinaD commented on #4890
I have tried rebase with the latest Quarkus master code, but exception seems now to be caught before DevModeMain; so my old code does not work anymore. I now identified this spot where i can check for the BindException: https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java#L128
Unfortunately, here i am not able to read out

[2020-07-19 10:20] aloubyansky commented on #10832
That looks like environment or configuration issue.
[code]
Are you launching the build from an IDE or command line? My first suggestion would be to check again the Maven version to make sure it actually is 3.6.3. Otherwise, we'd need to check your dependencies to make sure the required dependency is not excluded.

[2020-07-19 10:49] vishalgoel1988 commented on #10832
Thanks @aloubyansky Yes, it seems to be IDE issue. I did mvnw lean package from CMD and it worked. Not sure, why was it an issue with IDE. CLosing this.

[2020-07-19 10:49] #10832 closed

[2020-07-19 11:26] alexander-dammeier opened #10834 "Build failing with newly generated Optaplanner App"
**Describe the bug**
I generated a Quarkus app with your start coding tool. Look [here](https://code.quarkus.io/?g=de.dammeier&a=course-timetabling&v=0.0.1&b=GRADLE&c=de.dammeier.ctt.ExampleResource&s=pV1.CPa.ARC.FBQ.qiu.HNL.PHF.bapn&cn=code.quarkus.io) for my configuration.

**Expected behavior**
New app can be built and tested.

**Actual behavior**
Optaplanner fails while testing.
[code]

**To R

[2020-07-19 12:17] Panagiss commented on #10147
Same here but i get that Exception:

`./mvnw quarkus:dev

Exception in thread "main" java.lang.reflect.InvocationTargetException
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
        at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.in

[2020-07-19 14:18] famod commented on #10826
#10836 should fix this.

**Workaround**( until the fix is released):
- add these properties to `pom.xml`:
[code]
- change `quarkus-bom` dependencyManagement entry to:
[code]

PS: You can also use `quarkus-bom` instead of `quarkus-universe-bom`.

[2020-07-19 14:30] famod commented on #10833
@Postremus Thanks for reporting this!

Unfortunately, this is a long standing (unresolved) issue: #1502
So I'll have to close this as a duplicate.

[2020-07-19 14:47] famod commented on #10833
Sorry, I just realized that you are already using the `provided` workaround that was mentioned here: https://github.com/quarkusio/quarkus/issues/1502#issuecomment-473527113
Btw, I ran into #1502 with `hibernate-jpamodelgen` myself but I did not want to add it as a dependency since it brings in jaxb which has a specific Quarkus-module that shall be used instead and I wanted to avoid conflicts.

I'l

[2020-07-19 14:47] Sanne opened #10838 "Remove support for GraalVM 19.3"
**Description**
As discussed on the mailinglist, it's now a good time to fully embrace GraalVM 20.x only.

This will imply:

- warning users who still are running the older GraalVM
- be able to use GraalVM 20 specific features

Optimistically scheduled for 1.7

[2020-07-19 14:56] famod commented on #10796
@klboke Can you please eloborate a bit more what you are expecting from such a feature?
A small pseudo code example would be helpful. Thanks!

[2020-07-19 14:59] famod commented on #10815
Hi @2er0

https://quarkus.io/guides/building-native-image#creating-a-container (it is in the first "Tip" box).

[2020-07-19 14:59] #10815 closed

[2020-07-19 15:04] Sanne commented on #9795
This might be simpler to do now as we're moving to no longer suppor GraalVM 19. See #10838

[2020-07-19 15:06] famod commented on #10825
#10829 should fix this.

**Workaround**: Replace with `<maven.home>${maven.home}</maven.home>` (exactly like that, placeholder will be resolved at runtime)

[2020-07-20 04:42] zhfeng commented on #10501
Hi @jaikiran I took a look into the Mysql java connector deeply. The exception throws with the [NativeProtocol.java]( https://github.com/mysql/mysql-connector-j/blob/33f65445a1bcc544eb0120491926484da168f199/src/main/protocol-impl/java/com/mysql/cj/protocol/a/NativeProtocol.java#L2134)
[code]

The cannoicalTimeZone is retired from the mysql server which is "CST"
[code]

I wrote a simple reproducer

[2020-07-20 05:12] Mahaswami commented on #10775
Thank you for pointing to the extension. Used the Camel Paho - Quarkus extension for mqtt and that works successfully in native mode.

[2020-07-20 05:12] #10775 closed

[2020-07-20 05:30] geoand commented on #4890
@38leinaD have you tried obtaining the config before the TCCL is changed at https://github.com/quarkusio/quarkus/blob/f47484f8af41704d41ec9bc897d582e31e33de5d/core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java#L117 ?

[2020-07-20 05:36] geoand commented on #8593
@ppalaga does the error:

[code]

mean anything to you?

A flaky test perhaps?

[2020-07-20 05:38] geoand commented on #10834
cc @ge0ffrey

[2020-07-20 05:46] jaikiran commented on #10501
That looks wrong (at the Graal VM level). Any chance you can try this against Java 11 variant of 20.1.0 of Graal VM?

[2020-07-20 05:51] geoand commented on #10566
Thanks @nfrankel.

@jaikiran do you know if the native-image generation honors `JAVA_OPTS`? My guess is that it does not

[2020-07-20 05:55] geoand commented on #10822
Thanks for reporting @jclingan.

Is there any chance you can a larger part of the stacktrace here?

[2020-07-20 05:59] 2er0 commented on #10815
Sorry - my fail - was searching for it in the wrong documentation, since I wanted to have a JVM image/container build
https://quarkus.io/guides/container-image

[2020-07-20 06:26] RotBolt commented on #10713
I pulled up from latest master, and ran clean install on `integration-tests/maven` now getting
[code]

[2020-07-20 06:30] aloubyansky commented on #10713
Did you run a full build first?

[2020-07-20 06:31] aloubyansky commented on #10713
if quarkus-funqy-google-cloud-functions hasn't been built before then clean install from integration-tests/maven is not going to build it.

[2020-07-20 07:24] zhfeng commented on #10501
yeah, the result is the same.
[code]

[2020-07-20 07:40] loicmathieu commented on #9931
@panchitoboy better open a new issue with a reproducer. This looks different to the original issue which was an error on the API usage.

[2020-07-20 07:52] mkouba commented on #10821
@pjverity You're right. Thanks for spotting this!

[2020-07-20 08:35] geoand commented on #10822
I tried the attached project and wasn't able to reproduce the problem.

[2020-07-20 09:13] pilhuhn commented on #10804
@ben-manes What is the exact logger name to disable?

Also my experience is that it does indeed cache `null` values, as if I catch the exception from the remote call within the `@CacheResult` annotated method and return null, a subsequent call to that method with the same parameter does not result in the method execution, but by directly returning null.

[2020-07-20 09:22] ben-manes commented on #10804
If you are familiar with log configurations (e.g. log4j, jul, logback) then using the fully qualified class name is idiomatic. You can raise the log level for the caffeine package or the class in your log statement.

Caffeine does not cache nulls. It may be that Quarkus does as an enhancement to the backing provider(s).

[2020-07-20 09:26] pilhuhn commented on #10804
If you look at the quarkus message

    11:40:14,722 WARNING [com.git.ben.caf.cac.LocalAsyncCache] (ForkJoinPool.commonPool-worker-3) Exception

then you see that your reply is correct, but does not help me :)

It may be that the Quarkus extension caches the nulls. @gsmet any idea?

[2020-07-20 09:36] pilhuhn opened #10846 "MP RestClient timeouts not honoured in Quarkus 1.6"
**Describe the bug**

I am using the MP RestClient for some remote calls

I have set timeouts in application.properties for connection and then the remote read:

[code]

With Quarkus 1.5.1.Final, those are (more or less) honored:

[code]

Quarkus 1.6 does not abort the call after the expected 2s (2*1000ms) as 1.5 does, but seems to have a different timeout impl:

[code]

Code is like in #10804

[c

[2020-07-20 09:39] geoand commented on #4890
And if all else fails, you might want to look into `ConfigInstantiator`

[2020-07-20 09:58] Rutzzzz opened #10848 "Bean validation in class annotated with ConfigProperties doesn't work"
I was following the guide for Quarkus configuration - https://quarkus.io/guides/config#using-configproperties. The example with bean validation using class annotated with ConfigProperties doesn't seem to work as no errors are thrown when property violates bean validation annotations.

**Expected behavior**
An error is displayed when a property in application.properties has value violating bean val

[2020-07-20 10:01] aloubyansky commented on #10826
@ia3andy it looks like properties are now used to determine the version of the platform. This isn't right.

[2020-07-20 10:05] ia3andy commented on #10826
@aloubyansky I did not change that behavior (at least not consciously at least), only the check..

[2020-07-20 10:07] aloubyansky commented on #10826
It works in 1.5.0.Final. Look at MavenBuildFile line 81

[2020-07-20 10:08] aloubyansky commented on #10826
it should be matching boms to the one from the platform descriptor instead of assuming the value is a property name.

[2020-07-20 10:13] aloubyansky commented on #10826
Why are the arguments in `protected boolean containsBOM(String groupId, String artifactId) throws IOException {` ignored?

[2020-07-20 10:13] ia3andy commented on #10826
@aloubyansky https://github.com/quarkusio/quarkus/blob/1.5/independent-projects/tools/common/src/main/java/io/quarkus/cli/commands/file/MavenBuildFile.java#L85

I took the existing code for the check, but you are right, this is wrong :)

[2020-07-20 10:13] tsegismont commented on #10114
@Biratus can you please add to the reproducer README the commands to run in order to:

- start the DB with Docker and insert test data
- compile, package and run the app
- send a request to generate the failure

Thank you

[2020-07-20 10:14] aloubyansky commented on #10826
Let's fix it asap for 1.6.1.Final.

[2020-07-20 10:15] ia3andy commented on #10826
I am on it.. aw if you look I even provided the right arguments:
`return containsBOM(platformDescriptor.getBomGroupId(), platformDescriptor.getBomArtifactId());`

[2020-07-20 10:17] aloubyansky commented on #10826
Exactly. Thanks. If that fixes the issue the user reported originally then let's for now keep it that way, w/o the universe bom, imo. And look into adding support for lambda and others in the next versions.

[2020-07-20 10:17] ia3andy commented on #10826
this should fix the bug there too right: https://github.com/quarkusio/quarkus/pull/10836#issuecomment-660922048?

[2020-07-20 10:19] aloubyansky commented on #10826
Yes, I actually thought I was commenting on the PR, sorry.

[2020-07-20 10:38] #10724 closed

[2020-07-20 10:53] #10838 closed

[2020-07-20 11:24] ge0ffrey commented on #10834
Looking at this. cc @triceo in case this spills over to next week when I am on PTO already.

[2020-07-20 11:29] ge0ffrey commented on #10834
Probably, that's an open issue (see https://issues.redhat.com/browse/PLANNER-1957 ). The IllegalStateException occurs if you add the optaplanner extension but don't add any domain etc in the current version.
That being said, it's a big pita - and I presumed gsmet we 'd fix it. It just got pushed out a few times.

[2020-07-20 12:00] FloGa opened #10852 "Docker multistage build still necessary for native image?"
In https://quarkus.io/guides/building-native-image, there are the sections "Creating a container" and "Creating a container with a multi-stage Docker build". As it is written, one could assume, that in the first section, with

    ./mvnw package -Pnative -Dquarkus.native.container-build=true

you can build a native image for containers on your local machine, so that GraalVM needs to be installed l

[2020-07-20 12:15] pratikmallya commented on #3905
This would be really nice to have! I was able to use the [JAX-RS resteasy code generator](https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/JavaJaxRS) to get an interface, and use that to build a quarkus web service. However, a code generator that would spin up a quarkus service directly would be very useful, and contribute to the adoption o

[2020-07-20 12:26] pratikmallya commented on #3905
Yes, the _generation_ itself may require those dependencies, but the _generated_ Quarkus code would not! The way this works is that the openapi definitions may be centralized somewhere, and the openapi-generator is used to create server stubs for multiple frameworks.

[2020-07-20 12:37] mkouba opened #10853 "Dev mode - list reactive routes in the "404 - Resource Not Found" document"
Currently, only JAX-RS resources, static resources and additional endpoints are listed.

[2020-07-20 12:52] geoand commented on #10853
We also add the Spring Controllers, so there is some infrastructure in place to make this kind of thing happen.

[2020-07-20 13:02] jaikiran commented on #10501
@zhfeng Thank you for trying that out. This indeed looks like an issue in Graal VM itself. I have opened https://github.com/oracle/graal/issues/2692 for getting their inputs.

[2020-07-20 13:02] vietk commented on #3905
Hello, we are using the approach described by @emmanuelbernard using the openapi-generator-maven-plugin.
However the generator is not compatible with asynchronous operation, so we are still defining our async endpoint "by hand"

For reference : https://github.com/OpenAPITools/openapi-generator/issues/4832

Regards

[2020-07-20 13:07] geoand commented on #10848
Hi,

This turns out to be a docs problem. You need to add the `quarkus-hibernate-validator` extension to make it work. I opened #10854 to fix the docs.

[2020-07-20 13:22] geoand commented on #10852
What the multi-stage build does, is in **addition** to building the native binary without needing GraalVM, it created a **new** container image based on the generated binary.

It's not redundant, although one could argue that building the container is a lot easier to do using using `quarkus-container-image-docker` or `quarkus-container-image-jib` - see [this](https://quarkus.io/guides/container-im

[2020-07-20 13:22] #10852 closed

[2020-07-20 13:22] marcuspaulo opened #10855 "Bcrypt method to check password"
Hi mates,

CC: @FroMage

I’ve a doubt, what’s the best way to check password encrypted with Bcrypt (Quarkus)? (**I’m not using annotation: @UserDefinition**)

When I need to save in database:

[code]

But doesn’t have, e.g.
[code]

https://quarkus.io/guides/security-jpa#password-storage-and-hashing

**Implementation ideas**
Create a method to compare password in database with password from Request

[2020-07-20 13:30] #10821 closed

[2020-07-20 13:45] #10848 closed

[2020-07-20 13:57] gsmet commented on #10825
Fixed in https://github.com/quarkusio/quarkus/pull/10845 .

[2020-07-20 13:57] #10825 closed

[2020-07-20 14:00] sberyozkin opened #10856 "Doc that JAX-RS filters with custom SecurityContexts have to be Pre-Matching"

[2020-07-20 14:00] #10823 closed

[2020-07-20 14:03] mkouba opened #10858 "Reactive routes - io.vertx.ext.web.RoutingContext.getBodyAsJson() may return null"

[2020-07-20 14:14] geoand commented on #10846
Thanks for reporting.

Questions, does this same erroneous behavior happen with `1.5.2.Final` as well?

[2020-07-20 14:14] FroMage commented on #10855
So we can either add the method to the util class, or move everything into CDI. @geoand and @sberyozkin  were in favour of using CDI. I prefer static methods.

[2020-07-20 14:16] geoand commented on #10855
I prefer CDI, but I honestly don't mind

[2020-07-20 14:18] geoand commented on #10846
Moreover, does the erroneous behavior in 1.6 persist if you set a system property called `org.jboss.resteasy.microprofile.defaultToURLConnectionHttpClient` to `true`?

[2020-07-20 14:25] FroMage commented on #10812
Can you give us a full stack trace please?

[2020-07-20 14:29] FroMage commented on #10695
I like this, it could work, but it would only work with single-parameter templates, which is very limiting, and in my experience almost never happens.

[2020-07-20 14:31] FroMage commented on #9251
OK great, thanks!

[2020-07-20 14:38] michalszynkiewicz opened #10859 "Parallel build fails with invalid order of building"
Code Gen needs deployment modules of Quarkus extensions to be available during generate-sources phase of maven build of integration tests.
This dependency is not know to maven and a parallel build can fail with:
[code]

With skipped test, It doesn't happen with the usual quarkus-maven-plugin run because setting skipTests sets `quarkus.build.skip` to true.

Setting `quarkus.prepare.skip` to true in

[2020-07-20 14:42] jclingan commented on #10822
Entire stack trace below. Note, it may not have been clear that this occurs on the server side. To view, before running "curl" on the client side, follow remote logs:

[code]

---

2020-07-20 14:37:32,118 INFO  [io.quarkus] (Quarkus Main Thread) devmode 1.0-SNAPSHOT on JVM (powered by Quarkus 999-SNAPSHOT) started in 2.458s. Listening on: http://0.0.0.0:8080
2020-07-20 14:37:32,139 INFO  [io.quark

[2020-07-20 14:46] geoand commented on #10822
Thanks @jclingan.

I did try your project a couple times and couldn't reproduce the problem at all.
The dockerfile does seem to use the proper permissions for the `/deployments` directory, so I'm not really sure what's going on.

@stuartwdouglas have you by any chance encountered this?

[2020-07-20 14:55] jclingan commented on #10822
I  am going to blow away minikube,  update it (new version available), and try it with a clean image.

[2020-07-20 15:32] #10717 closed

[2020-07-20 15:38] ekans commented on #10812
I [discussed on zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/One.20mongo.20instance.20with.20multi.20databases) with @loicmathieu about this issue.
I proposed my help to fix this issue but I'm currently stuck on running tests.
Btw is it better to discuss here or on zulip?

To get back to your request here is the full stack trace:
[code]

[2020-07-20 15:49] GregJohnStewart commented on #10540
Looks like it's an issue when it is.... serializing the data into xml? I don't know the workings of how this works, but seems an odd choice to me

[2020-07-20 15:55] #10826 closed

[2020-07-20 16:02] jclingan commented on #10822
OK,  same problem after I blew away the image to start fresh. More data so we can compare:

- minikube 1.11.0, default-storageclass  and storage-provisioner addons  installed
- Kubernetes 1.18.3
- docker 19.03.8 (Kube docker version)
- /deployments/lib/deployments directory (and structure) uid and gid set to root.
- Java process user id is 1001 (app return value is now  'whoami' output). No user i

[2020-07-20 16:19] GregJohnStewart commented on #10540
Ah I gotcha. This object happens to do a deep clone with `clone()`, but that of course isn't always the case. Is there a way to use the same serialization methods that the rest endpoints use, potentially?

[2020-07-20 16:30] pilhuhn commented on #10846
I could not reproduce the bad behaviour with 1.5.2.Final. And setting the property to true seems to help.
I have just tried to mock the remote with a mock-server (for test containers) and there the timeout seems to be ok, so my guess is that it is the connect-timeout that is problematic and not the read-timeout.

[2020-07-20 16:34] geoand commented on #10846
Thanks for the information. It seems to be a problem in RESTEasy, I'll have to take a closer look

[2020-07-20 16:39] ravirajb opened #10861 "Native app won't come up"
**Describe the bug**
The native app won't start the application

**Expected behavior**
The web app should be reachable

**To Reproduce**
1. Take a spring boot app.
2 Add the Quarkus dependencies
3. Build the native image
4. Run the runner.
5. It starts the app, but unable to reach the URL.

Log:
_```
Ravis-MacBook-Pro:ysn-proj ravi$ target/ysn-core-api-0.0.1-SNAPSHOT-runner
__  ____  __  _____   _

[2020-07-20 17:56] haraldatbmw commented on #10055
@geoand Should I open a new issue for the double-deployment thing?

[2020-07-20 18:06] tnmtechnologies opened #10862 "Typo error in INFO message when @Alternative bean is ignored"
**Describe the bug**
When an Alternative bean is going to be ignored, the INFO message contains the word AlernativePriority instead of AlternativePriority.

**Expected behavior**
[INFO] [io.quarkus.arc.processor.Beans] Ignoring bean defined via _fully-qualified class name_ - declared as an \@Alternative but not selected by \@Priority, \@AlternativePriority or quarkus.arc.selected-alternatives

**A

[2020-07-20 18:20] geoand commented on #10055
Yes please

[2020-07-20 18:26] ravirajb commented on #10861
Possibly because currently we don't support reflection in Java? Not sure.

I really don't wish to refactor the spring-boot project.

Is there an easier way to port the boot project to quarkus?

[2020-07-20 18:39] survivant commented on #10705
I found that you have added QuarkusTestResourceLifecycleManager  and use it instead of of using @BeforeAll and @AfterAll

Do you plan to add @BeforeEach ?

I thought that I could use QuarkusTestResourceLifecycleManager   to replace the Junit annotation and be able to reuse the QuarkusTestResourceLifecycleManager  in other tests

I think if could be useful to have that method in QuarkusTestResource

[2020-07-20 18:46] cescoffier commented on #10253
Fixed by #10779

[2020-07-20 18:46] #10253 closed

[2020-07-20 18:48] cescoffier commented on #3113
Fixed by #10779

[2020-07-20 18:48] #3113 closed

[2020-07-20 18:48] cescoffier commented on #10858
Do you have the body handler?

[2020-07-20 19:59] ebullient commented on #2027
Jan, you'll want to emulate what I did for the micrometer metrics extension (to that end, it should stay w/in the smallrye metrics extension as an MP-metrics-specific thing): https://github.com/ebullient/quarkus-micrometer-extension/tree/master/runtime/src/main/java/dev/ebullient/micrometer/runtime/binder/vertx

I haven't added support for all MetricsOptions types, but I think we can both do this

[2020-07-20 20:06] gsmet commented on #10862
Looks like you're ready to provide a PR? :)

[2020-07-20 20:48] Sanne commented on #10861
You shouldn't expect that just adding the Quarkus dependencies to an existing Spring project will make it a Quarkus project.

Many APIs are very similar, but even when you use the Spring APIs in Quarkus, these are meant only as a facilitator: they are meant to make it easy for you to write a new application if you have Spring experience, they are not meant to port an existing application without a

[2020-07-20 20:48] #10861 closed

[2020-07-20 22:48] famod commented on #10859
Ongoing discussion: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/parallel.20build.20problem.20in.20integration-test-grpc-*

[2020-07-20 22:51] famod commented on #10859
Not sure about the `area/housekeeping` but since this is not a user-facing bug I felt I had to add something...

[2020-07-21 05:26] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/176622216

[2020-07-21 06:02] mkouba commented on #10858
This is meant for cases where a client deliberately sends a request with empty body and the server uses `@Body`...

[2020-07-21 06:08] cescoffier commented on #10858
ah ok! Nevermind!

[2020-07-21 06:11] cescoffier commented on #2027
That would be awesome @ebullient !

[2020-07-21 06:39] lferna opened #10870 "Provide support for composite primary key in Spring Data JPA"
**Describe the bug**
Composite primary key with @Id and @EmbeddedId annotation are not allowed because there is an error about the mandatory use of an @Id annotation.

[code]
And:

[code]
[code]
**Expected behavior**
The use of composite primary key through annotation @EmbeddedId.
**Actual behavior**
This is the console error:
Caused by: java.lang.IllegalArgumentException: Currently only Entities

[2020-07-21 07:31] #10643 closed

[2020-07-21 07:37] loicmathieu opened #10873 "Yasson is unable to deserialize an Optional<String> in native"
**Describe the bug**
Yasson is unable to deserialize a POJO with an  `Optional<String>` attribute in native mode.
There is no issue in JVM mode.

There is no stacktrace, only the following SEVER log:
[code]

**Expected behavior**
Deserializing an `Optional<String>` works in both native and JVM mode.

**To Reproduce**
Running the mongodb-client integration test from the following branch: https://gi

[2020-07-21 07:39] loicmathieu commented on #10873
/cc @aguibert

[2020-07-21 07:41] tnmtechnologies commented on #10862
I will provide the PR.

[2020-07-21 07:56] michalszynkiewicz commented on #10214
for me a space in the path is enough to cause the failure

[2020-07-21 08:03] geoand commented on #10846
I looked into this and it seems that it comes down to the fact that the Apache HTTP Client will try all the IP addresses that DNS returns for the specified host when a connection timeout occurs, whereas URLConnection will only use the first one.

There doesn't seem there is anything we can do on the Quarkus side of things.

@pilhuhn can you try using an IP address instead of a hostnmame in order t

[2020-07-21 08:06] kekbur opened #10874 "Quarkus detects modified file in Maven sibling module, fails to restart"
**Describe the bug**
Quarkus detects file modification in a Maven sibling module and fails to restart under the following conditions:

* There is a multi module Maven project `parent` with children `child1` and `child2`.
* Neither child has the other as a dependency.
* Both children are launched using Eclipse Java main method launch configuration: `Quarkus.run(args)`.
* Both children are running s

[2020-07-21 08:42] geoand commented on #10822
I tried the project again following the instructions to the letter and could not reproduce the problem.

I used

[code]

without any additional addones on Ubuntu.

[2020-07-21 08:51] haraldatbmw opened #10875 "Redeployment via kubernetes extension to Openshift causes double deployment"
**Describe the bug**
Using the **quarkus-container-image-docker** and **quarkus-kubernetes** extensions for deployment to Openshift.
The first deployment with `mvn package -Dquarkus.kubernetes.deploy=true` works fine.
The second deployment with the same maven call causes **two deployments** in Openshift.
One is triggered by the changed image-stream, the second is triggered with den new applied dep

[2020-07-21 08:52] haraldatbmw commented on #10055
Just created https://github.com/quarkusio/quarkus/issues/10875

[2020-07-21 08:57] geoand commented on #10875
cc @iocanel

[2020-07-21 09:15] jmartisk commented on #2027
@ebullient very cool, thanks. I'll put this back on the TODO list and hopefully get round to this soon

[2020-07-21 09:21] antonwiens opened #10877 "Rest-Client TrustStore Configuration no longer possible via properties in native (regression)"
**Describe the bug**
Quarkus Version: 1.6.0
Configuring a trustStore for a mp-rest client via config.properties is no longer possible in native mode.

I think the problem is related to
extensions/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/graal/ClientHttpEngineBuilder43Replacement.java

If no sslcontext is provided, the default context is used, which does not respect trustStor

[2020-07-21 09:37] antonwiens commented on #10877
Actually this might also affect keyStore configuration

[2020-07-21 11:15] geoand commented on #10877
Thanks for reporting this.

https://github.com/quarkusio/quarkus/pull/10883 fixes the issue

[2020-07-21 11:47] #10756 closed

[2020-07-21 11:59] ebullient commented on #2027
let me know if you have questions about what I did...it ended up being pretty straightforward (I think?)

@cescoffier, I wanted to check with you at some point to see what else would be needed for reactive work. As mentioned, I only emit Http server metrics right now (in a format that integrates seamlessly with http dimensional data gathered by spring and micronaut). I suppose a conversation about

[2020-07-21 13:03] gytis commented on #9261
@gsmet this has been resolved.

[2020-07-21 13:05] gsmet commented on #9261
Yeah right! Thanks!

[2020-07-21 13:05] #9261 closed

[2020-07-21 13:18] jaikiran commented on #10566
Hello @geoand, the `native-image` command has the `-J` option which allows users to pass along any JVM specific options to the native image builder Java process:

[code]
So from what I understand of this use case, @nfrankel doesn't really need to set the `JAVA_OPTS` environment variable.
@nfrankel, in Quarkus application to pass the `-J` option to native image generator, you can use something like

[2020-07-21 13:19] gytis opened #10884 "Implement sorting functionality for REST Data Panache"
Implement sorting functionality for REST Data Panache. In a mailing list discussion there were two design suggestions for a query param:

1. `?sort=field1,-field2`
1. `?sort=field1:asc,field2:desc`

Personally I prefer the first option suggested by Ladislav. But if anybody has a good argument agains it, I wouldn't mind the other one either.

In any case the query parameter would be converted to a

[2020-07-21 13:19] gytis commented on #10884
Would be great if somebody could assign this to me.

[2020-07-21 13:31] loicmathieu commented on #10884
@gytis I assigned it to you

[2020-07-21 13:32] geoand commented on #10566
Thanks @jaikiran.

That's what I thought, although I had never tested `-J` for anything other than passing system properties to the image generation process.

[2020-07-21 13:41] #10858 closed

[2020-07-21 13:50] famod commented on #10859
@michalszynkiewicz In case no objections are raised on zulip (or here): Do you want to introduce those `deployment` dependecies or can/shall I do it?

[2020-07-21 13:51] cescoffier commented on #2027
@ebullient We would need to expose the metrics of every Vert.x client (NetClient (TCP), Web Client, database client). I would also add event bus metrics.

[2020-07-21 13:58] #10877 closed

[2020-07-21 14:10] #8656 closed

[2020-07-21 14:12] gastaldi commented on #10862
Fixed in https://github.com/quarkusio/quarkus/commit/5486b569c195d567ef0814288da7a718899be1be

[2020-07-21 14:12] #10862 closed

[2020-07-21 14:13] EfraimLA commented on #10437
Hi, Did you find some?

[2020-07-21 14:15] maschoene opened #10885 "No logs on exception in QuarkusTestResourceLifecycleManager.start"
**Describe the bug**
Imagine having a QuarkusTestResourceLifecycleManager, which might throw an exception, if you have got a bug in your manager or haven't properly prepared your environment. If this manager throws an exception in the start method, no logs except the thrown exception are outputted on console.

**Expected behavior**
All logs, including already logged messages and the stack trace of

[2020-07-21 14:15] maschoene commented on #10885
@famod @geoand

[2020-07-21 14:20] mejlholm commented on #5905
@gsmet with the release of Quarkus 1.6.1.Final, I assume we can close this issue?

[2020-07-21 14:25] famod commented on #10885
Two more observations:
- I wonder if we could also flatten that `InvocationTargetException` a bit (by catching it in `QuarkusTestExtension` and only using its `cause`)?
- `TestResourceManager` is not closed in this case.

[2020-07-21 14:37] gsmet commented on #5905
@mejlholm  yes, thanks!

[2020-07-21 14:37] #5905 closed

[2020-07-21 14:39] geoand commented on #10885
I can't reproduce this.

Here is what I got:

[code]

[2020-07-21 14:40] geoand commented on #10885
This not true, see: https://github.com/quarkusio/quarkus/blob/728e5859671d512d4afc73a9f3aacd06fe4d365f/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java#L245

[2020-07-21 14:41] aloubyansky commented on #10833
Yes, it's a good one. We need to properly setup the classpath for each module.

[2020-07-21 14:41] famod commented on #10885
Ah, sorry - missed that block somehow.

[2020-07-21 14:43] geoand commented on #10885
Np :)

[2020-07-21 15:00] geoand commented on #10885
Logging doesn't work properly in this context.

So if you need more information, you need to add it to the exception you throw.

I'll close this, as it does work as expected. If you feel otherwise, feel free to comment and/or reopen.

[2020-07-21 15:05] sberyozkin commented on #10185
@tomsontom FYI, #10651

[2020-07-21 15:56] antonwiens opened #10888 "AWS/S3 Transport TrustStore configuration"
**Description**
Currently you can only configure the KeyStore for the AWS/S3 Client. But i would also like to configure the TrustStore in the same way.

[2020-07-21 16:02] juazugas opened #10889 "Application start crashes when creating a infinispan cluster in 1.6.X"
**Describe the bug**

Creating a clustered app (we need the eventbus to communicate and add some shared lock between different instances), choosing Infinispan as cluster manager (adding the dependency  io.vertx:vertx-infinispan).

When the application starts, it throws a `NoSuchMethodError` trying to parse the default infinispan config file and the quarkus start crashes.

The dependency version is

[2020-07-21 16:28] gsmet commented on #10889
Which version of Quarkus are you using?

Current 1.6.1.Final is using Vert.x 3.9.1.

My guess would be that Vert.x Infinispan is using an older version of the Infinispan client that we are using in Quarkus (10.1.5.Final).

[2020-07-21 16:29] gsmet commented on #10889
@karesti @wburns @vietj should you update the Infinispan used in Vert.x Infinispan?

[2020-07-21 16:32] famod commented on #10297
I was just thinking that it would be nice if a `TestProfile` class could be annotated with `@QuarkusTestResource` but I guess this ticket contains a more thorough approach...?

/cc @geoand

[2020-07-21 16:38] juazugas commented on #10889
@gsmet I've detected it in 1.6.0.Final and checked that in 1.6.1.Final is also happening.

Yes, the problem is the universe-bom is forcing the newer dependency.

[2020-07-21 17:06] famod commented on #10885
@geoand
At the very least, we should document this (e.g. in JavaDoc). Which I can also do myself.
I might even take a stab at the root cause but the fact that you closed this ticket like that has me worrying that a fix is rather complex...?

[2020-07-21 17:16] geoand commented on #10885
If you take a look at the code of the Quarkus JUnit extension, you'll see no place where we log information and for good reason 😉.

As for the javadoc, I agree, it would be nice to have, so if you want to do it, it will be a nice addition

[2020-07-21 17:18] geoand commented on #10297
Yeah, we probably need to think of this more. But I doubt I will be doing that for 1.7, because I'll be taking some time off soon.

[2020-07-21 17:37] famod commented on #10885
I hope if you don't mind when I reopen this and assign it to me for the JavaDoc adjustment.

[2020-07-21 17:52] geoand commented on #10885
Not at all!

[2020-07-21 19:19] michalszynkiewicz commented on #10859
@famod if you have time for it, I'd be grateful :)

[2020-07-21 20:00] nfrankel commented on #10566
Thanks @geoand!

I am currently on vacations, I'll try it when I get back.

[2020-07-21 20:42] geoand commented on #10566
Have fun 😎

[2020-07-21 21:01] #10185 closed

[2020-07-21 23:28] #9593 closed

[2020-07-22 00:25] yrostov opened #10891 "Getting ClassCastException in native mode when using Apache POI"
**Describe the bug**
Code is using org.apache.poi / poi-ooxml libraries and running as AWS Lambda native executable. When code executes Workbook workbook = new XSSFWorkbook() line it gets ClassCastException exception

**Expected behavior**
Expect to be able to create object of Workbook class

**Actual behavior**
Getting java.lang.ClassCastException: org.apache.xmlbeans.impl.values.XmlComplexConten

[2020-07-22 03:28] stuartwdouglas commented on #5255
We can do this using a SecurityIdentityAugmentor, which gives complete freedom in mapping as you do it programatically. I don't know if we want a config based option or not.

[2020-07-22 05:15] stuartwdouglas commented on #10822
I also followed the instructions and it worked for me.

[2020-07-22 05:44] stuartwdouglas commented on #10822
Actually I am not sure why this worked for me, it should fail. Your dockerfile is different to the current one that should be generated with 1.6.1, it needs to copy with the --chown=1001 .

I am not sure why this sometimes works and sometimes doesn't, but the chown will fix it.

[2020-07-22 06:05] cescoffier opened #10893 "Reactive Routes result are not registered for reflection"
When a reactive route returns:

* any non-string, non-buffer, non-Uni, non-Multi return type - the class must be registered for reflection
* any Uni or Multi of non-string, non-buffer - the class must be registered for reflection (`T` in `Uni<T>`

[2020-07-22 06:36] uberto opened #10894 "Quarkus multi module project in Kotlin with Gradle not working"
**Describe the bug**
(Describe the problem clearly and concisely.)
I created a simple project example using gradle multi-module and kotlin.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
launching it with
` ./gradlew launcher:quarkusDev`
should start the dev mode

**Actual behavior**
(Describe the actual behavior clearly and concisely.)
I've got the following except

[2020-07-22 07:00] Sridhar-1987 commented on #9300
Same issue here as well.

@daniel-alonso-sanchez
Can you elaborate the fix (or pom exclusion), so that others can also benefit

[2020-07-22 07:32] joewhite101 commented on #10480
PR got merged but ticket didn't get linked. I think this can be closed.
https://github.com/quarkusio/quarkus/pull/10537

[2020-07-22 07:56] gsmet commented on #10480
Ah, yes, thanks for the followup!

[2020-07-22 07:56] #10480 closed

[2020-07-22 08:06] #10744 closed

[2020-07-22 08:45] geoand commented on #10894
Also cc @glefloch

[2020-07-22 08:50] glefloch commented on #10894
Thanks @geoand, I'm going to have a look.

[2020-07-22 08:52] geoand commented on #10894
Thanks @glefloch!

[2020-07-22 08:54] RotBolt commented on #10713
I had to run `mvn clean install` after that it started to work. Thanks

[2020-07-22 08:54] #10713 closed

[2020-07-22 08:57] geoand commented on #10891
This isn't really a Quarkus bug, as there is no Quarkus extension supporting Apache POI.

Furthermore, not having the sources (https://repo1.maven.org/maven2/org/apache/poi/poi-ooxml-schemas/4.0.1/) does not make it really easy for us to help

[2020-07-22 09:01] loicmathieu commented on #9956
@evanchooly can you give your advise on this one ?

There is multiple ways to fix it and I'm not sure which one is the best.

[2020-07-22 09:07] AndreiYu commented on #1850
Hi,
are there any enhancements of how to add additional parameters (except -D parameter options) to NativeImageLauncher executable?

[2020-07-22 09:07] stefanwendelmann opened #10897 "Add RSS Feed Support with resteasy-atom-provider"
**Description**
Is it possible to add resteasy-atom-provider like quarkus-resteasy-jaxb ?
I tired to add org.jboss.resteasy:resteasy-atom-provider in different versions the it in my pom.xml but got different errors.

[2020-07-22 09:25] gavinking commented on #10768
As commented on that issue, I don't think this has anything to do with Hibernate Reactive.

[2020-07-22 09:43] joewhite101 opened #10898 "Misleading error messaging from quarkus-rest-client when missing an annotation"
**Describe the bug**
in the `quarkus-rest-client` if you forget to include the `@RestClient` you get a very misleading error message. A partial example stack trace is below.

**Expected behavior**
A better error message and/or stack trace indicating the problem. Or a compile time error indicating the missing value.

**Actual behavior**
this is the stack you get back (partial)
[code]

**To Reproduc

[2020-07-22 09:46] geoand commented on #10898
@mkouba @manovotn do you think that we could improve the error message when there is an `UnsatisfiedResolutionException`?

Basically I am thinking that when that exception does occur, we could check and if there are any beans of that type with any other qualifier and alert the user to the option of using the qualifier.

WDYT?

[2020-07-22 10:10] mkouba commented on #10898
+1. AFAIK we have something similar in Weld too.

[2020-07-22 10:11] geoand commented on #10898
Cool, I'll take a look later on this week if you don't mind or beat me to it.

[2020-07-22 11:02] ShqiprimBunjaku commented on #10563
@loicmathieu  any update on this?

[2020-07-22 11:03] geoand commented on #10898
Turned out to be easier than I thought it would be :)

[2020-07-22 11:12] manovotn commented on #10898
Coming a bit late but I can confirm that Weld does a similar thing and it's very useful indeed, so +1

[2020-07-22 11:13] geoand commented on #10898
Good to know, thanks!

[2020-07-22 11:29] chirdeeptomar opened #10901 "Support for ObjectProvider<T> from Spring"
**Description**

I have the following Spring bean that use ObjectProvider in one of the gradle modules, I have Quarkus as the web layer. Quarkus is unable to resolve ObjectProvider dependency. I have set up beans.xml, everything works until I add the AppConfig as below.

[code]

CustomerBuilder.java

[code]

Quarkus Graphql module

[code]

## Error

`Caused by: javax.enterprise.inject.UnsatisfiedR

[2020-07-22 12:02] loicmathieu commented on #10563
@ShqiprimBunjaku I'm very surprised that different discriminator hierarchies with the same value will be an issue.
As I understand it, a discriminator will be used to defines, based on a docment property, wich classes of a hierarchy will be choosed to instanciate the result object.

Mayeb there is something I dont' understand in your use case, so please can you provide an example project with the

[2020-07-22 12:41] loicmathieu commented on #10437
Hibernate generates the following query for your constructor expression :
[code]

As you can see, it generates inner joins, so if a ticket has no issuer or no admin it will not be selected.

[2020-07-22 12:43] michalszynkiewicz commented on #9324
Looks like vertx-grpc will support compression from 4.0.0: https://github.com/vert-x3/vertx-grpc/issues/63 , can we wait for it?

[2020-07-22 12:49] loicmathieu opened #10903 "Create Lucene substitutions to avoid having to many dependencies inside elasticsearch high level extension"
**Description**
The Elasticsearch high level extension depends on the higlevel REST client that have dependencies on a lot of Lucene libraries.
Some are only needed to allow building a native application.

Create Lucene substitutions to avoid having to many dependencies inside elasticsearch high level extension. At least the following libraries could be avoided if we have proper native substitutio

[2020-07-22 12:54] loicmathieu opened #10905 "Support named Elasticsearch client (multi-tenant)"
**Description**
Support defining multiple connections to different Elasticsearch cluster.
A user should be able to configure multiple Elasticsearch client, and at the injection point uses a CDI qualifier to specify which client it wants to inject.

**Implementation ideas**
Provides the same kind of multiple client support that already exist for Agroal and MongoDB.

[2020-07-22 12:55] yrodiere commented on #10903
Related: https://github.com/elastic/elasticsearch/issues/29184

[2020-07-22 13:17] sberyozkin opened #10907 "Make RoutingContext available in SecurityIdentityAugmentor"
**Description**
A user reported there was no way to access `RoutingContext` in `SecurityContextAugmentor`.

**Implementation ideas**
Make `RoutingContext` (or `ServletContext` if on the Undertow path) available as `SecurityIdentity` attributes.
@stuartwdouglas Hi Stuart, does it make sense or is it already possible ? Thanks

[2020-07-22 13:17] ia3andy commented on #8392
I need to get to it, it's still in my TODO list, let me know it that becomes urgent..

[2020-07-22 13:39] michalszynkiewicz commented on #9329
@cescoffier could you add some pointers for this task?

[2020-07-22 13:49] yrostov commented on #10891
I understand.  The only reason I filed this as a bug is because the same code runs as native when I compile it directly with GraalVM via its Maven plugin and without any Quarkus dependencies (attached as txt file). It also runs with no issue in JVM.

If I understand correctly, this issue can be resolved via reflection-config.json. If it is, can you suggest what I need to put in this file to resolv

[2020-07-22 13:51] geoand commented on #10461
@gsmet is there something you want me to look at for this one?

[2020-07-22 13:51] geoand commented on #10410
Is this still an issue?

[2020-07-22 13:52] geoand commented on #10407
Doesn't look like there is any update from the GraalVM folks...

[2020-07-22 13:52] geoand commented on #10400
@maxandersen did you get any information on this? Is this something we want soon?

[2020-07-22 13:56] maxandersen commented on #10400
No, no additional info besides what you saw that it would be nice to have in.

[2020-07-22 13:56] survivant commented on #10410
I still have the problem sometime.  I found a workaround.  I don't use the Quarkus plugin right now.  When I have the error, I have to delete manually the folder .m2\repository\org\graalvm   relaunch the tests.. I don't know how Intellij create the classpath.  The problem came from them for sure.

[2020-07-22 13:57] geoand commented on #10891
It's very hard to tell without having the actual sources.

[2020-07-22 13:58] geoand commented on #10410
Yeah, there must be something funky going on in how IntelliJ is creating the classpath. I'll close this for now but feel free to comment and/or reopen if you have more information

[2020-07-22 13:58] #10410 closed

[2020-07-22 14:00] geoand commented on #10400
The question then becomes, what sort of priority are we thinking about this one? Because uf we want it in 1.7, then I'd probably have to bump this to the top in order to get it in time due to various time constraints.

[2020-07-22 14:04] tsegismont commented on #10114
So without precise instructions for reproducing I went ahead with:

[code]

My `native-image` version:

[code]

I first started the program in JVM mode with `mvn clean quarkus:dev`
Then browsed to `localhost:8080/mysql` and got the list of rows in the console.

I couldn't compile to native so I had to modify the POM:

[code]

Then ran the generated `runner` program.
When I browsed to `localhost:80

[2020-07-22 14:11] #10898 closed

[2020-07-22 14:36] sberyozkin commented on #8011
It has been fixed here: https://github.com/quarkusio/quarkus/pull/8426

[2020-07-22 14:36] #8011 closed

[2020-07-22 15:02] ShqiprimBunjaku commented on #10563
@loicmathieu Here you have a snippet code from mongodb driver class that handles this:

[code]
As you can see DiscriminatorValue and Class pair is saved on Map and one instance of DiscriminatorLookup is used through all collections. If more than one class share the same DiscriminatorValue the latest one will be registered in Map.

For `ReadPreferences `  I will open a new issue.

[2020-07-22 15:07] cescoffier commented on #10114
Thanks @tsegismont!

@Biratus please provide the instructions. Your bug may have been fixed in between, so please check if it's still valid on the last Quarkus version (1.6.1).

[2020-07-22 15:09] cescoffier commented on #9329
The best explanation I can found is there: https://github.com/salesforce/reactive-grpc#understanding-reactive-grpc-flow-control.

Basically, we need to bridge the gRPC flow control mechanism with the reactive streams flow control used by Mutiny.

[2020-07-22 15:10] cescoffier commented on #9324
The integration of Vert.x 4.x is planned for the end of the year (guestimate). So, I believe it can wait. I don't believe it's a frequently used feature.

[2020-07-22 15:14] ShqiprimBunjaku opened #10909 "MongoDB ReadPreferences Configuration per collection"
MongoDB official driver offers the ability to specify _ReadPreferences_ per collection. It would be helpful to have this option in Quarkus Driver for MongoDB too.

[2020-07-22 15:24] loicmathieu commented on #10563
@ShqiprimBunjaku I would say this is a limitation of how discriminator is used, they are intended to be unique across all classes defined inside a single PojoCodec instance.
Usually, the value of the discriminator is the name of the class so it should be unique.
I don't see what we can do about it, the PojoCodec is registered at the client level.

Now, you can always access the collection from the

[2020-07-22 15:26] loicmathieu commented on #10909
You can already define it at the client level inside the `quarkus-mongodb-client` extension configuration.

If you mean, to have a way to configure it by collection via MongoDB with Panache, I agree this is a good enhancement.

[2020-07-22 15:34] yrostov commented on #10891
Does this help [https://stackoverflow.com/questions/16358701/i-can-not-find-for-the-source-code-repository-for-poi-ooxml-schemas](url) ?

[2020-07-22 15:38] geoand commented on #10891
I guess, although I personally don't have the time currently to go through the various hoops of trying to figure it out, sorry.

Maybe someone else has an idea of how to quickly fox it? @sberyozkin perhaps you have an answer of the top of your head?

[2020-07-22 15:40] yrostov commented on #10891
I can help if you outline course of actions for issues of this kind.

[2020-07-22 15:56] geoand commented on #10891
I am not sure what is causing it, so I don't have any specific recommendations.
You'd typically need to look at source code and try and imagine how the CCE would occur given the fact that GraalVM can remove a lot of code.

[2020-07-22 16:07] yrostov commented on #10891
Something to keep in mind, from what I mentioned above. I was able compile this code to native executable and run it using GraalVM Maven plugin in the POM I provided. I can zip and provide the whole project, if this will help. Thanks

<groupId>com.oracle.substratevm</groupId>
<artifactId>native-image-maven-plugin</artifactId>
<version>1.0.0-rc14</version>

[2020-07-22 16:51] jclingan commented on #10822
@stuartwdouglas The Dockerfile was generated off of  999-SNAPSHOT based on a  separate comment about 1.6.1 fixing some remote dev issues. Now that 1.6.1 is available, I'll try it out.

[2020-07-22 17:51] famod opened #10916 "Regression: Various YAML configuration issues in 1.6.1.Final"
Please allow me to skip the issue-template for this since it has already been taken care of in `smallrye-config` 1.8.5 which Quarkus should update to ASAP when that version is released.
See:
- https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/1.2E6.2E1.3A.20config.20yaml.20problems
- https://github.com/smallrye/smallrye-config/pull/360
- https://github.com/smallrye/smallrye-config/

[2020-07-22 17:51] geoand commented on #10891
I understand that, thanks.

The thing is that the more classes are on the classpath can alter the native image behavior.

Also, are you sure you used the same GraalVM version as Quarkus is using?

[2020-07-22 17:58] #10677 closed

[2020-07-22 18:29] yrostov commented on #10891
This is from command line for working build.

Executing: /home/yury/graalvm-ce-java11-20.1.0/bin/native-image -cp /home/yury/.m2/repository/org/apache/poi/poi-ooxml/4.1.2/poi-ooxml-4.1.2.jar:/home/yury/.m2/repository/org/apache/poi/poi/4.1.2/poi-4.1.2.jar:/home/yury/.m2/repository/commons-codec/commons-codec/1.13/commons-codec-1.13.jar:/home/yury/.m2/repository/org/apache/commons/commons-collectio

[2020-07-22 18:30] jclingan commented on #10822
I'm closing this issue.  1.6.1 fixed the issue with the --chown=1001.

Thanks for the help.

[2020-07-22 18:30] #10822 closed

[2020-07-22 18:52] marcoblos commented on #8136
I've been reading a little about how dynamic queries/filters works on Panache, here and on google groups, I also have some experience with spring data and the way that I see, something similar to the code below solve a lot of problems, at least for me:

[code]

I just wrote all this code to say that it's important to have some flexibility, and a combination of JPQL/HQL + custom `WHERE` clause cove

[2020-07-22 19:23] #9458 closed

[2020-07-22 20:17] geoand commented on #10916
@radcortez are you planning on looking into this or should I?

[2020-07-22 20:24] famod commented on #9895
I just did that: https://github.com/quarkusio/quarkus/issues/9895 Thanks again!

[2020-07-22 20:27] halber commented on #4394
I thing you are refering to:  io.quarkus:quarkus-hibernate-orm-panache-kotlin
But this only solves the problem for hibernate. Is there something similar for quarkus-mongodb-panache?

[2020-07-22 20:34] evanchooly commented on #4394
I am actually in the final stages of adding support there.  I hope to have a PR submitted this week.

[2020-07-22 22:27] maxandersen opened #10921 "Investigate @vietj release-maven-plugin to get potential 10-100x faster mvn release"
**Description**
Following todays conversations I recalled @vietj mentioned he did something for vertx to do faster bulk releases.

That thing is https://github.com/vietj/releaser-maven-plugin

Below is chat where julien explains how it works - but in short: it works as a proxy, thus no tooling need to change; when deployed to it uses optimizations to get " one hour deploy time to a few minutes" +

[2020-07-22 22:58] vietk commented on #10901
Quarkus Spring DI support merely transforms Spring annotations into CDI annotations, here it's more about providing an alternative implementation of Spring DI itself, which can be tedious if you one want to fill all the gaps.

Maybe you have to consider switching to CDI for some part of your code, i.e: mixing CDI and SpringDI code ?

[2020-07-22 23:13] radcortez commented on #10916
@geoand already did.

These issues are localised only in the YAML Config Source, so it is easy to workaround by downgrading to the last dependency like stated by @famod without affecting the configuration core.

All the reported issues are already fixed in SmallRye Config and just require a release and minor bump in the Quarkus dependency.

@famod Thank you for all the help and report!

[2020-07-23 00:56] hantsy commented on #6490
@zhfeng If possible, move this extension to your own repo as a community support extension. I do not think there are lots of developers outside of China who use MyBatis in daily work. Personally, I have not used Batis for the past 10 years, never used MyBatis.

[2020-07-23 01:19] #10885 closed

[2020-07-23 01:53] gastaldi opened #10922 "Create new Project should use the Extension Registry API"
**Description**
`quarkus:list-extensions` and `quarkus:add-extension` already use the Extension Registry API. It would be nice if the `quarkus:create` also used it.

**Implementation ideas**

This part is basically what needs to be revisited:

https://github.com/quarkusio/quarkus/blob/103498de0a55364cd07533c4c78613c569405d2e/independent-projects/tools/devtools-common/src/main/java/io/quarkus/devto

[2020-07-23 01:59] #10631 closed

[2020-07-23 02:09] klboke commented on #10796
`
@Dependent
public class LoggerConfig extends ConsoleHandler {

    @Override
    public void publish(LogRecord record) {
        System.out.println(record.getMessage());
        super.publish(record);
    }
}
`
For example, the above code, I want to process the log output of the console, how can I make it effective?

[2020-07-23 02:11] klboke commented on #10796
Or, are there any ways to easily obtain the log content of the console?

[2020-07-23 03:20] jaikiran commented on #10407
The past few months the responses/interactions to PRs and issues in Graal repo has slowed down and isn't the same as what it used to be maybe back until December last year during the 19.2.x days.

I think they are just busy. I say that because, everytime as a last resort, when I have personally mentioned someone in the PR/issue, they have come back and responded to the issue at hand. But yes, IMO,

[2020-07-23 06:15] geoand commented on #10916
Excellent, thanks @radcortez

[2020-07-23 06:21] mkouba opened #10923 "Container-managed concurrency for beans"
* introduce a new interceptor binding annotation `io.quarkus.arc.Lock`
  * functionally similar to `javax.ejb.Lock`
  * implement an interceptor with `java.util.concurrent.locks.ReadWriteLock`

See also https://www.knitelius.com/2016/01/25/concurrency-control-for-cdi/

[2020-07-23 06:22] geoand commented on #8593
@ppalaga @lburgazzoli the build is failing, can you please take a look?

[2020-07-23 06:23] jamesnetherton commented on #8593
@geoand I just (hopefully) fixed the problem.

[2020-07-23 06:26] geoand commented on #8593
That's great, thanks @jamesnetherton!

[2020-07-23 06:51] sdaschner opened #10924 "OIDC refresh token lost if not resent by provider"
**Describe the bug**
When using Google OpenID Connect as Quarkus OIDC provider, the application receives both an access and refresh token, when `access_type=offline` is sent to Google.

It work that Quarkus uses this refresh token under the hood to refresh the expired access token, however, Google sends the refresh token only for the very first time (and never again), when a token is requested.

`

[2020-07-23 06:51] geoand opened #10925 "Kubernetes extension doesn't properly populate env vars for Minikube"
From @jclingan:

[code]

[2020-07-23 07:19] joewhite101 opened #10927 "Panache docs should have a full REST resource before the advance query section"
**Describe the bug**

In reviewing the getting started docs for panache at (https://quarkus.io/guides/hibernate-orm-panache) there are a couple of common errors that users might make and some opportunities to reorder some of the sections for simpler getting started and new users.

## H2 in mem url for simple getting started
The one thing that I would think about adding for getting started is a ref

[2020-07-23 07:39] rmanibus opened #10928 "Hot reload : Failed to start quarkus, Already a default codec registered for class class java.util.UUID"
**Describe the bug**
(Describe the problem clearly and concisely.)
Whenever the hot reload is triggered, it fails to restart the app after upgrade to Quarkus 1.6.1
**Expected behavior**
The application is reloaded when the code is updated
**Actual behavior**
[code]

[2020-07-23 07:44] geoand commented on #10928
Thanks for reporting,

Two things:

* I gather that this worked in a previous version of Quarkus, right?
* Do you have a sample application we could use to reproduce the problem?

[2020-07-23 07:48] geoand commented on #10804
It does cache `nulls`. See

* https://github.com/quarkusio/quarkus/blob/b7d8ef57d5b2b1b64191dfc6c50e3c50cb89942b/extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/NullValueConverter.java#L7
* https://github.com/quarkusio/quarkus/blob/b7d8ef57d5b2b1b64191dfc6c50e3c50cb89942b/extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/NullKeyOrValueCacheTest.java#L45

[2020-07-23 07:51] FroMage opened #10929 "Logging with Panache"
ATM this is how everyone must set up logging:

[code]

Which has the same problem as CDI in terms of requiring you to get out of your method, go up to find where to define statics, remember the magic incantation, and then figure out where you wanted to call it. It ruins the movie.

But unlike CDI injection, logging is something that happens super extra often. This is why a lot of people go for `Sy

[2020-07-23 07:52] rmanibus commented on #10928
Yes this was working with 1.6.0 and before.

I guess it's linked to my Panache Entities which use UUID.

all my entities are extending the following:
[code]
I will try to produce a reproducer

[2020-07-23 07:53] jamesnetherton commented on #8593
PR here https://github.com/quarkusio/quarkus-platform/pull/100.

[2020-07-23 08:17] famod commented on #10916
You're welcome! We also have to thank @tkalmar for his support.
And thank you for reacting so quickly!

[2020-07-23 08:20] rmanibus commented on #10928
In fact it's because of an event consummer.

the code producing the bug is:
[code]

[2020-07-23 08:21] rmanibus commented on #10928
reproducer is here:
https://github.com/rmanibus/reproducer

[2020-07-23 08:22] geoand commented on #9980
So it breaks with `maven-compiler-plugin` `3.8.1` and works with `3.8.0`?

[2020-07-23 08:22] geoand commented on #9981
Please give `1.6.1.Final` a try so we can close this if it has been fixed

[2020-07-23 08:23] geoand commented on #9892
Is this still a problem or has it been fixed?

[2020-07-23 08:24] rmanibus commented on #10928
just try to add some dummy code and call the rest endpoint again, the hot reload will fail.

[2020-07-23 08:27] geoand commented on #9854
When using `@QuarkusTestResource`, it's used for all Quarkus tests that don't specify a `@TestProfile`.

In Quarkus `1.7`, you will have the ability to specify `QuarkusTestResourceLifecycleManager` per `@TestProfile` (the code has already been merged in master and you can see an example at: https://github.com/quarkusio/quarkus/blob/34200ce171aabd73a4d8c71fb1c87b3c3eab7a66/integration-tests/main/sr

[2020-07-23 08:27] #9854 closed

[2020-07-23 08:28] geoand commented on #9832
@xmlking does this still happen in `1.6.1.Final`?

[2020-07-23 08:28] geoand commented on #10928
Thanks a lot @rmanibus

[2020-07-23 08:29] geoand commented on #9880
Is this still an issue?

[2020-07-23 08:32] glefloch commented on #9892
I don't think they released the fix provided by @Ladicek, so I would say that it still a problem..

[2020-07-23 08:32] geoand commented on #9671
We had someone else report this as well. @liweinan were you able to look into this one?

[2020-07-23 08:33] geoand commented on #9510
@gytis has your RESTEasy fix been included in the latest release that was merged in Quarkus?

[2020-07-23 09:03] gytis commented on #9510
Seems that it wasn't. I think it will be part of 4.6.0. It would have failed the Quarkus extension test, because the API exposed by RESTEasy changed.

[2020-07-23 09:05] geoand commented on #9510
Understood, thanks

[2020-07-23 09:06] geoand commented on #10928
@stuartwdouglas @cescoffier this seems to happen because `CodecManager` is not reloaded (as opposed to what happened in `1.6.0.Final`). Looking at th commits, I can't really tell which one caused this.

Do you mind taking a look?

[2020-07-23 09:11] Ladicek commented on #9892
Just for the record, because I noticed that it is not linked from here, the fix is this: https://github.com/google/protobuf-gradle-plugin/pull/399

[2020-07-23 09:28] ShqiprimBunjaku commented on #10563
Since Quarks Driver has the similar interfaces for database and collection with Mongo's Driver, and they are more like adapters to use Mutiny, it would be good to adapt or implement other methods that are in Mongo's Driver interfaces for collections and database. This would also be helpful when migrating to Quarks from other frameworks that use Mongo's official Driver.

[2020-07-23 09:41] sberyozkin commented on #10924
@sdaschner Hi, thanks for spotting it, definitely, please provide a PR, if the refresh token grant succeeds but IDP chooses not to recycle RT then indeed we need to keep the current one.
Can you open a PR today please ? I'm on PTO from next week so I'd like to fix it by the end of the week. thanks

[2020-07-23 09:42] glefloch commented on #10894
The `sourceSet` does not contains any output, I try hacking it to add the kotlin `classes` dir without success but I keep having a look.
The good point is that this sample multi module kotlin project in test is passing (https://github.com/quarkusio/quarkus/tree/master/integration-tests/gradle/src/test/resources/multi-module-kotlin-project)

[2020-07-23 10:01] #4629 closed

[2020-07-23 10:01] #5789 closed

[2020-07-23 10:01] #9667 closed

[2020-07-23 11:04] #10720 closed

[2020-07-23 11:13] sdaschner commented on #10924
Sure, happy to do so (just couldn't comment on any other use case, have only tested the one I have with Google OIDC)

#10931

[2020-07-23 11:17] sberyozkin commented on #10924
@sdaschner Thanks; we test against Keycloak which prefers to recycle RTs, but I think in this case it is nearly an NPE fix, so a simple PR you have provided is OK

[2020-07-23 11:18] aloubyansky commented on #9490
With Quarkus 1.6.0.Final unifying quarkus-bom and quarkus-bom-deployment and https://github.com/quarkusio/quarkus-platform/pull/98 this issue is going to be fixed in the platform 1.7.0.Final release.

[2020-07-23 11:18] #9490 closed

[2020-07-23 11:50] TMBD commented on #9300
I had the same issue.
After further research in my dependencies by using the maven dependency tree tool I saw that the issue was due to the stax-api dependency. This dependency was transitively included in my project. Since then it was difficult to solve the problem because it was not directly included in my poms thus not visible. What I did was just to exclude that stax-api dependency from my pom

[2020-07-23 12:00] cescoffier commented on #10928
That's a side effect of the "fix" of Vert.x reload. We are keeping the same instance around as without we ended up with multiple vert.x instances and context issues.

[2020-07-23 12:00] DevOlly-debug opened #10933 "starters of @AppScoped only work on level DEBUG"
**Describe the bug**
 pre: JVM mode
 public methods annotated with @Observes, @PostConstruct, or @Schedule of
 a public @ApplicationScoped class
 only called (by (main)) on application start when quarkus.log.level=DEBUG

**Expected behavior**
 called on any quarkus.log.level; should be unrelated to log.level

**Actual behavior**
 (Describe the actual behavior clearly and concisely.)

**To Reproduc

[2020-07-23 12:02] geoand commented on #10928
So should we then be clearing out the codecs on reload?

[2020-07-23 12:02] geoand commented on #10928
BTW, which commit brough that in?

[2020-07-23 12:34] DevOlly-debug commented on #10933
Excuse me. Forget about this, I am confused.

[2020-07-23 12:34] #10933 closed

[2020-07-23 12:35] DevOlly-debug commented on #10933
Of course I can't see the println, when using log.debug("my message")
..

[2020-07-23 13:14] geoand commented on #10928
#10935 should take care of this

[2020-07-23 13:14] #10925 closed

[2020-07-23 13:28] sebthom commented on #10928
Experiencing the same issue. In my case the message is `Hot reload : Failed to start quarkus, Already a default codec registered for class class java.lang.Object`

[2020-07-23 13:35] loicmathieu commented on #10563
@ShqiprimBunjaku I didn't understand your last comment. If you don't use MongoDB with Panache, you can inject a MongoClient  or a Reactive variant.
The MongoClient comes from the MongoDB official driver without any customization, but the Reactive variant is a Mutiny based wrapper on top of the `com.mongodb.reactivestreams.client.MongoClient` there is an `unwrap()` method to access it so I don't un

[2020-07-23 13:36] loicmathieu commented on #10563
The reactive variant also wrap the reactive `MongoDatabase` and `MongoCollection`, again with `unwrap()` method to accessing the underlying ones.

[2020-07-23 13:53] binoysankar commented on #5348
Hello Team,

Is there any update on the nativeQuery support. I am migrating springboot to quarkus and got stuck with native query. I am using hibernate spatial queries for postgres posgis extension. I was using a query as below.

Currently there are 2 issues
1) I need to write "SELECT s FROM" not any specific fields like "SELECT s.name, s.title FROM"
2) nativeQuery support

@Query(value = "SELECT

[2020-07-23 13:53] codeJack opened #10938 "configuration docs : quarkus.application.name property overridable at runtime"
**Describe the bug**
`quarkus.application.name` seems overridable at runtime whereas it is flagged as *fixed at build time* within [the docs](https://quarkus.io/guides/all-config#quarkus-core_quarkus.application.name)

**Expected behavior**
The doc to reflect the fact that `quarkus.application.name` config property can be overridden at runtime

**Actual behavior**
The doc flags the `quarkus.applic

[2020-07-23 13:55] geoand commented on #5348
We haven't got around to this unfortunately

[2020-07-23 14:10] #10214 closed

[2020-07-23 14:12] geoand commented on #10938
This is interesting for sure :)

Given the way you are using it in this specific use case, you will see the updated value.
However, that doesn't mean it's a runtime property, due the fact that the extensions that actually use this value (the `spring-cloud-config` extension for example), will not use the runtime value, but the build time one.

That is what is meant by the fact that the property is

[2020-07-23 14:12] #10938 closed

[2020-07-23 14:15] codeJack commented on #10938
OK thanks for clarifying

[2020-07-23 14:27] geoand commented on #10938
YW!

[2020-07-23 15:21] maxandersen commented on #10921
/cc @gsmet this looks straightforward to try even just locally. could we do it for next CR and see if it works ?

[2020-07-23 15:28] sberyozkin commented on #10427
@ejba Hi, I was planning to add this example to the open PR (to do with repurposing `security.adoc`) but I'm not sure
what is `AuthorizationController`, @stuartwdouglas, can you clarify please ? I can't see it Quarkus workspace...

[2020-07-23 15:42] mmarquezv commented on #7451
I'm exactly at the same point.

The slf4j bindings are loaded twice and I can't get only one logger dependency to work independently

[2020-07-23 16:11] #10928 closed

[2020-07-23 16:18] #10807 closed

[2020-07-23 16:38] uberto commented on #10894
I suppose that sample multi module kotlin project is passing because it has a src folder and a main in the parent module, which is not the usual set-up.

[2020-07-23 17:07] rmanibus opened #10941 "cannot find by UUID field in PanacheMongoEntity"
When using the following PanacheMongoEntity:

[code]
The following request always return 0, even if some data is present:
[code]

My connection String is :
[code]
In an other entity, I use UUID as primary ID and I can find them with findById(UUID).

Replacing UUID by String make this working.

I'm using Quarkus 1.6.1

[2020-07-23 17:18] tnmtechnologies opened #10942 "[jsonb] enum collection serialization with an enum value starting with _"
**Describe the bug**
An enum value name starts with an underscore charater (eg _4TEST("4test") ).
4test is the string we want in the json payload.
A JsonbTypeAdapter is defined in order to translate values from and to json.
Translation works fine for an enum type attribute :
- enum value _4TEST is translated to json 4test
- 4test json value is translated to enum value _4TEST

Unfortunately, it doe

[2020-07-23 17:21] famod commented on #9275
Another user just stumbled upon this: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/quarkus.2Ehibernate-orm.2Edatabase.2Egeneration

@nelsongraca Have you made any progress? Do you need help?

[2020-07-23 17:35] nelsongraca commented on #9275
@famod Not much progress yet, my first implementation although it passed my tests I was removing too much information from metadata, it is not exactly easy to write tests for it, I'm validating by examining Strings in memory, and have a few points identified, but did not manage yet to move them to runtime, I have been avoiding it but probably will have to do some tweaks to hibernate itself.

[2020-07-23 17:36] nielsbasjes opened #10943 "Spring PathMatchingResourcePatternResolver does not return the subdirectory of a URL resource."
**Describe the bug**
I use `org.springframework.core.io.support.PathMatchingResourcePatternResolver` to find resources packaged inside a jar which are in a subdirectory.

When I do this in a normal Java application the resource that is found correctly looks like this:

    URL [jar:file:/home/nbasjes/.m2/repository/org/acme/resourcelib/1.0-SNAPSHOT/resourcelib-1.0-SNAPSHOT.jar!/Content/world.txt]

[2020-07-23 17:36] nielsbasjes commented on #10943
I am unsure if this problem is a SpringFramework, a Quarkus or perhaps  in the combination of the two.
So I have submitted this problem to both projects:
- https://github.com/quarkusio/quarkus/issues/10943
- https://github.com/spring-projects/spring-framework/issues/25465

[2020-07-23 17:50] jeffhubLR commented on #9980
Correct.

[2020-07-23 17:51] geoand commented on #9980
That sounds like a maven compiler plugin

[2020-07-23 17:58] ejba commented on #10427
Is this one? `import io.quarkus.security.spi.runtime.AuthorizationController;`

[2020-07-23 18:19] geoand commented on #10943
I would need to look into the source of that specific Spring class to see what it does, but in general this is not one of the classes we support / test.

One more question, in what mode does this happen? When running the application via `java -jar ...` or via `mvn quarkus:dev`?

[2020-07-23 18:24] ivangreene commented on #10147
Found this to be a problem for me too, but the project was able to be run with either `java -jar` on the `-runner.jar` or using `mvn quarkus:dev`

[2020-07-23 18:50] nielsbasjes commented on #10943
This problem happens when doing:
- mvn test
- mvn quarkus:dev
  and then going to http://0.0.0.0:8080/hello

It finds `URL [jar:file:/home/nbasjes/.m2/repository/org/acme/resourcelib/1.0-SNAPSHOT/resourcelib-1.0-SNAPSHOT.jar!/hello.txt]` in those two.

It works as intended when doing:
- mvn clean package -DskipTests=true
  java -jar target/getting-started-1.0-SNAPSHOT-runner.jar
  and then going t

[2020-07-23 19:30] mjurc opened #10946 "Random private final static UUID set at native compile time in native-image"
**Describe the bug**
In native image, it is currently impossible to use random UUID set as `private final static UUID = UUID.randomUUID();` in a class to identify an instance as the result of `UUID.randomUUID()` in the class's static initialization are set at native compile time.

**Expected behavior**
Same behaviour as when running Quarkus on JVM - the UUID is different for each launched process

[2020-07-23 19:49] mthmulders opened #10947 "Update Protocol Buffer library"
**Description**
The Quarkus Universe BOM declares version 3.6.1 of the `com.google.protobuf:protobuf-java` artifact. This version uses illegal reflective access, which causes warnings in Java 9 and up. According to https://github.com/protocolbuffers/protobuf/issues/3781, fixed in January 2019.

**Implementation ideas**
Update the version declaration of `com.google.protobuf:protobuf-java` to the mo

[2020-07-23 19:53] mthmulders commented on #10947
Maybe a duplicate of #10214 since that already upgrades Protocol Buffers to 3.11.x...

[2020-07-23 20:34] mjurc opened #10948 "Mounted configMaps not accessible from native-image on OCP"
**Describe the bug**
Properties in mounted `configMap` are not propagated to native-image application layered on `ubi-quarkus-native-s2i:19.3.1-java11` deployed on OCP.

**Expected behavior**
Properties in mounted `configMap` are properly propagated and usable in native-image application.

**Actual behavior**
Properties in mounted `configMap` are not available in native-image application.

**To Re

[2020-07-24 00:09] stuartwdouglas commented on #10427
https://github.com/quarkusio/quarkus/blob/fa6cede0b8fc295e040b766831c066130be04054/extensions/security/runtime-spi/src/main/java/io/quarkus/security/spi/runtime/AuthorizationController.java#L9

[2020-07-24 02:02] jaikiran commented on #10946
Hello @mjurc, which Graal VM version are you using? This was fixed a few months back in Graal VM itself https://github.com/oracle/graal/issues/2265

[2020-07-24 02:04] jaikiran commented on #10946
Actually, you mention you are using Linux. So I'm not sure if this is the same issue. I will have to take a look at the reproducer to see if I can reproduce the issue.

[2020-07-24 04:05] jaikiran commented on #10147
Hello @Panagiss, your exception seems to be unrelated to launching from IDE. You are running quarkus:dev command from the command line. If you are still running into that issue (against 1.6.1.Final of Quarkus), could you open a new issue with all the relevant details and if possible a reproducible application shared as a github repo?

[2020-07-24 04:07] jaikiran commented on #10147
Hello @ivangreene, would it be possible for you to share a simple application (preferably as a github repo) which reproduces this issue? I know @lburgazzoli already mentioned the quarkus-camel repo as an example, but looking at that repo, it's going to take me a long while to do a maven build, so I won't be able to get to it today. A smaller application will make it easier to check this quickly.

[2020-07-24 04:11] jaikiran commented on #10947
Perhaps @michalszynkiewicz would know if we should move to 3.12.x of this library?

[2020-07-24 04:28] jaikiran commented on #10682
@tcollignon, I gave this a try on a RHEL7 setup, JDK 11.0.7 with a simple application like you noted. I haven't been able to reproduce this issue. Are you still running into this issue? If so, any chance you can share the actual application as a github repo perhaps?

[2020-07-24 04:36] jaikiran commented on #10592
The PR improving this documentation has been merged recently https://github.com/quarkusio/quarkus/pull/10693. Closing this issue. Please re-open or create a new one if there's still some confusion around the usage.

[2020-07-24 04:36] #10592 closed

[2020-07-24 04:43] jaikiran commented on #10371
Hello @gsmet, OK to close this one? Given that the issue has been sorted out by reverting the commit?

[2020-07-24 05:26] geoand commented on #10943
I'll take a look, it might be some subtle misbehavior of the Quarkus Classloader

[2020-07-24 05:39] geoand commented on #8593
@Mobe91 it seems like `quarkus-universe-integration-tests-blaze-persistence` is failing with:

[code]

Can you please take a look?

[2020-07-24 05:45] michalszynkiewicz commented on #10947
updating all grpc-related things is on my todo list, I am testing an update to 3.12.2/3.12.3, will do a PR if it works

[2020-07-24 05:45] geoand commented on #10943
@stuartwdouglas it seems like the Quarkus ClassLoader behaves differently than the URLClassLoader on `getResources()` when the path ends with `/` - basically the Quarkus CL strips the slash and the returned URLs that don't contain it - which then trips `PathMatchingResourcePatternResolver`.

Do you remember why `sanitizeName` strips the slash?

I am not really worried about `PathMatchingResourcePa

[2020-07-24 06:23] geoand commented on #10948
@mjurc is there an openshift cluster I can use to test this?

[2020-07-24 06:40] pivovarit commented on #9877
Vert.x 4.x.x will open a way for the integration with Hazelcast to happen since it will be compatible with Hazelcast 4.0.x

[2020-07-24 06:43] geoand commented on #10948
Furthermore, I can't seem to build the test project, I am getting all sorts of errors

[2020-07-24 06:53] geoand commented on #10948
This isn't a bug.

Since you changed `quarkus.s2i.base-jvm-image` to `quay.io/quarkus/ubi-quarkus-native-binary-s2i` (from `registry.access.redhat.com/openjdk/openjdk-11-rhel7`), you also need to update `quarkus.openshift.mounts.app-config.path` to the path where the application jar is copied (and run from) for that specific S2I image (which I think is `/home/quarkus` for the image you are using).

[2020-07-24 06:53] #10948 closed

[2020-07-24 07:07] geoand commented on #10946
cc @galderz

[2020-07-24 07:08] tcollignon commented on #10682
Hi @jaikiran

Yes I still running this issue, I wait for https://github.com/quarkusio/quarkus/issues/10498 (If anyone knows if there is maven snapshot dependency of org.graalvm.nativeimage:svm ? )

I can share the code if you want, but it's a quarkus basic hello world

[2020-07-24 07:12] geoand commented on #10946
I can confirm the problem on Linux

[2020-07-24 07:15] jaikiran commented on #10682
Yes, please. Given that I couldn't reproduce this with a simple Quarkus application, I would like to rule out any other possibilities.

[2020-07-24 07:28] loicmathieu commented on #10941
@rmanibus How are your UUID fields rendered inside the MongoDB collection? Are they String ? Did you persist your entity via the same code ?

Can you please try with the following code:

[code]

MongoDB with Panache uses the MongoDB typed mongo collection, and MongoDB provides a `UuidCodec` so we may do something special to support UUID as a query parameter.

[2020-07-24 07:30] geoand commented on #10942
cc @aguibert

[2020-07-24 07:41] tcollignon commented on #10682
I have add this here : https://github.com/tcollignon/example-quarkus-10682

[2020-07-24 07:43] rmanibus commented on #10941
They are not stored as String, when I changed it to String I got a incompatible type error because of the data that was previously stored, looking at the error message, It seems they where stored as binary.

Yes I persisted the data with panache ( .persist() )

What do you mean by try the following code ? it's exactly what I tried already :)

[2020-07-24 07:45] rmanibus commented on #10941
you mean doing a toString() on the UUID ?

[2020-07-24 07:48] loicmathieu commented on #10941
Yes I hit send too quickly ;)

Yes, I what the UuidCodec does and it do store them as binay. We will need to implements special treatment for UUID inside MongoDB with Panache to make this works.

[2020-07-24 07:57] rmanibus commented on #10941
toString() is not working either (it is consistant with the fact that UUID are stored as binary)

[2020-07-24 07:58] jaikiran commented on #10946
I tried this on both Linux (RHEL 7) and a MacOS:

and I don't see this behaviour. Every time I build a new native image out of this application it generates a new UUID that is displayed when I access the /scaling endpoint:

First built image:
[code]
Second built image:
[code]
I'm on Linux:
[code]
and Graal VM version:
[code]
Of course, repeatedly invoking the endpoint /scaling against the same nat

[2020-07-24 08:00] nielsbasjes commented on #10943
I updated my reproduction project: I move the resources one directory level deeper.
`/Content/world.txt` --> `/Content/deeper/world.txt`

Now the Java test shows
`URL [jar:file:/home/nbasjes/.m2/repository/org/acme/resourcelib/1.0-SNAPSHOT/resourcelib-1.0-SNAPSHOT.jar!/Content/deeper/world.txt]`

Which contains the correct **/Content/deeper/world.txt**

The Quarkus variant shows

`URL [jar:file:/h

[2020-07-24 08:04] geoand commented on #10943
Pretty much yeah

[2020-07-24 08:05] geoand commented on #10946
@jaikiran I am getting a different UUID for each native build, but I am getting the same UUID when running the application.

I didn't really see that the application code used a `static final`, so this does indeed look like a user-code issue - sorry I didn't look at this more closely.

[2020-07-24 08:07] geoand commented on #10946
@mjurc essentially if you remove `static`, then the UUID doesn't get baked into the native image, and then on each run of the native binary you'll get a different UUID.

[2020-07-24 08:10] geoand commented on #10946
I propose we close the issue as this is expected GraalVM behavior, WDYT @jaikiran ?

[2020-07-24 08:16] jaikiran commented on #10946
Agree. This works as advertised (static init runs at build time).

[2020-07-24 08:20] #10946 closed

[2020-07-24 08:23] jaikiran commented on #10946
@mjurc, for reference here's the class initialization documentation which explains about these semantics https://github.com/oracle/graal/blob/master/substratevm/CLASS-INITIALIZATION.md

[2020-07-24 09:18] ineednousername commented on #9854
@geoand thank you, looking forward to 1.7 release :-)

[2020-07-24 09:23] #10924 closed

[2020-07-24 09:36] sberyozkin commented on #10427
@ejba @stuartwdouglas thanks :-), not sure why I'm not seeing it, may be because I have Eclipse workspace bugs. OK, So I'll push the update the proposed `security-customization.adoc`

[2020-07-24 09:39] PieterjanDeconinck commented on #7885
The error messages can be resolved by updating your configuration to disable anonymous sender:
```mp.messaging.outgoing.{channel-name}.use-anonymous-sender=false```

However, this results in all messages being sent to the default AMQP exchange on RabbitMQ.
The target exchange (address) is completely ignored, which makes it unusable in my case.
Is there any way around this, @cescoffier? Or do you h

[2020-07-24 10:38] zakkak opened #10953 "Absolute paths in pom.xml"
**Description**
In https://github.com/quarkusio/quarkus/blob/master/integration-tests/maven/src/test/resources/projects/project-with-extension/runner/pom.xml there are 3 instances of absolute paths.

https://github.com/quarkusio/quarkus/blob/42dbdd05cd20ef1e82ad62e6617a48e8ea9100c8/integration-tests/maven/src/test/resources/projects/project-with-extension/runner/pom.xml#L52

https://github.com/qua

[2020-07-24 10:45] pilhuhn commented on #10813
We saw that issue in our project first on June 18th when we bumped Quarkus from 1.3.2 to 1.5.1

[2020-07-24 11:06] wjglerum commented on #10916
Thanks for reporting and finding the underlying issue, we were also encountering the same behaviour after upgrading to 1.6.1

[2020-07-24 11:18] radcortez commented on #10916
@famod @tkalmar @wjglerum did any of you find anything else? If not, I can push a release of SmallRye Config.

[2020-07-24 11:24] rsvoboda commented on #10690
@aloubyansky interesting, tried c0a2352113 based master and it works for me too now.

Closing this issues as the problem got resolved.

[2020-07-24 11:24] #10690 closed

[2020-07-24 11:24] famod commented on #10916
@radcortez not on my side, but we updated just yesterday. I am not "at work" today so I don't know whether anything new popped up.
Since there is a workaround and @gsmet assigned it to 1.7.0 (and not flagged it with `backport?`), I personally could wait until next week or so.

[2020-07-24 11:49] sberyozkin opened #10954 "Document how to use OpenShift/Kubernetes security with Quarkus"
**Description**
Provide a `security-kubernetes.adoc` which will describe all the security options related to securing Quarkus in OpenShift/Kubernetes and then we can link to it from a central `security.adoc` as well as other Kubernetes guides.

CC @geoand @Ladicek @iocanel and other OpenShift experts

[2020-07-24 11:56] radcortez commented on #10916
Ok :)

[2020-07-24 12:04] cescoffier commented on #7885
Yes, if you disable the anonymous sender you cannot change the target.

[2020-07-24 12:04] cescoffier commented on #7885
I would say that for such kind of advanced usage, you would need a connector for RabbitMQ (and not using the AMQP 1.0 connector). Wrapping the Vert.x RabbitMQ client would be a good start.

[2020-07-24 12:06] #10947 closed

[2020-07-24 12:07] cescoffier commented on #9877
@tsegismont Are we using the HZ client in the Vert.x cluster manager?

[2020-07-24 12:12] geoand commented on #10953
@aloubyansky seems like an oversight :)

[2020-07-24 12:13] pivovarit commented on #9877
source: https://vertx.io/docs/vertx-hazelcast/java/

[2020-07-24 12:24] PieterjanDeconinck commented on #7885
Thanks for the clarification, @cescoffier. Creating a dedicated RabbitMQ extension for AMQP 0.9.1 might indeed make more sense.

[2020-07-24 12:31] aloubyansky commented on #10953
omg

[2020-07-24 12:54] sberyozkin commented on #10362
Hi @MarcusBiel Can you clarify again please what exactly was misleading here ?
`@PermitAllRoles` or `@PermitAllExistingRoles` interpretation look identical to me :-), this is a standard annotation which has been around forever, I never really use it, but I guess it means: `whatever roles, if any, the identity has will be sufficient for the @PermitAll annotated method be invoked`, not really what Q

[2020-07-24 13:13] gastaldi opened #10955 "Reuse artifacts produced by reactor build in quarkus-platform-descriptor-json-plugin"
**Description**

Every morning when I build the project with `mvn -Dquickly`, I see the following output (which takes a while to complete):

[code]

**Implementation ideas**

- In theory this resolution could run in offline mode. It could fail to resolve a bunch of dependencies but it should be ok for quarkus-bom

[2020-07-24 13:33] ivangreene commented on #10147
@jaikiran here is a simple project generated with the Quarkus Maven plugin that I converted to multi-module, which has the Main class failing with the exception mentioned in the first comment of this issue: https://github.com/ivangreene/quarkus-starter

[2020-07-24 13:44] tsegismont commented on #9877
@cescoffier `vertx-hazelcast` does not support Hazelcast client, see https://vertx.io/docs/vertx-hazelcast/java/#_using_an_existing_hazelcast_cluster

[2020-07-24 13:49] sberyozkin commented on #10361
@MarcusBiel It will be fixed as part of #10937

[2020-07-24 13:52] mthmulders commented on #10947
Amazing, thanks a lot!

[2020-07-24 13:54] pivovarit commented on #9877
Hmm, why is that? In theory, it should be more/less transparent which implementation of `HazelcastInstance` is in use

[2020-07-24 13:57] tsegismont commented on #9877
IIRC it's because we rely on some events that are not conveyed to HZ clients, just members.

[2020-07-24 14:00] pivovarit commented on #9877
Ok, thanks for clarification :)

[2020-07-24 14:22] MastanaGuru commented on #10727
Our Openshift team had added a new certificate, once I added this cert to the calling app, issue was fixed.

[2020-07-24 14:22] #10727 closed

[2020-07-24 15:16] gsmet commented on #10916
Yeah, unless something critical with no workaround comes up, I won't do an 1.6.2.

[2020-07-24 15:17] #8435 closed

[2020-07-24 15:17] #10670 closed

[2020-07-24 16:07] sberyozkin commented on #10361
@MarcusBiel I've added this section to https://github.com/quarkusio/quarkus/pull/10937/files#diff-689b1c7c00fe208f51cb51c79d6a8949R86

[2020-07-24 16:17] aloubyansky commented on #10955
Simply using offline mode does not work well. The generated json is not complete. Needs more research.

[2020-07-24 16:22] aloubyansky commented on #8737
Should be fixed with https://github.com/quarkusio/quarkus/pull/10459

[2020-07-24 16:22] #8737 closed

[2020-07-24 16:22] aloubyansky commented on #9738
Should be fixed with https://github.com/quarkusio/quarkus/pull/10459

[2020-07-24 16:22] #9738 closed

[2020-07-24 16:23] aloubyansky commented on #8950
Should be fixed with https://github.com/quarkusio/quarkus/pull/10459

[2020-07-24 16:23] #8950 closed

[2020-07-24 16:23] aloubyansky commented on #10602
Should be fixed with https://github.com/quarkusio/quarkus/pull/10459

[2020-07-24 16:24] aloubyansky commented on #10123
Should be fixed with https://github.com/quarkusio/quarkus/pull/10459

[2020-07-24 16:24] #10123 closed

[2020-07-24 16:44] jponge opened #10960 "Produced MIME type declaration not honoured in reactive routes"
With Quarkus 1.6.1.Final and the following reactive routes code:

[code]

then the produced MIME content is not honoured (the `Content-Type` header is missing), see:

[code]

and:

[code]

[2020-07-24 17:32] juanmbellini opened #10961 "Running a project with a main class from IntelliJ when project is built using gradle fails"
**Describe the bug**
(Describe the problem clearly and concisely.)

After downloading a generated project from the quarkus website (https://code.quarkus.io/), using gradle as build tool, and adding a "main" class according to https://quarkus.io/guides/lifecycle#the-main-method, and trying to run from IntelliJ (just clicking the "play" button next to the main method), makes the application startup

[2020-07-24 17:56] famod commented on #10955
Shouldn't that be only a matter of the `updatePolicy` for the respective repo?
This is usuallly `daily` by default and could be set to `never`.

[2020-07-24 18:09] machi1990 opened #10962 "add a way to configure "plugins" and "listeners" for the quartz scheduler"
**Description**

Quartz has two concepts of listeners and plugins which I think can be useful to add things like Logging, Tracking job execution history in an event store, database etc:

Example of the common used plugin is the [LoggingHistoryPlugin](https://github.com/quartz-scheduler/quartz/blob/d42fb7770f287afbf91f6629d90e7698761ad7d8/quartz-plugins/src/main/java/org/quartz/plugins/history/Logg

[2020-07-24 18:16] aloubyansky commented on #10955
It is, yes

[2020-07-24 18:19] aloubyansky commented on #10961
Is there a chance you could try current quarkus master branch? I merged a pr that should fix it a couple of hours ago.

[2020-07-24 19:15] juanmbellini commented on #10961
Is master built? I have cloned the repo but it's taking too much time to build. 30 minutes already have passed and still not even reached half of the process.

[2020-07-24 19:29] erickgr2 commented on #4005
is this extension already available for usage? I have been exploring Quarkus as a serious option for migrating an old Java EE application and everything is great with Quarkus, but unfortunately I need to keep using SOAP. This extension would be indeed helpful.

[2020-07-24 19:36] famod commented on #4005
@erickgr2

I don't think so.

We are using CXF as a client via `STSClient` and `JaxWsProxyFactoryBean`  (some time later we'll also need to provide SOAP endpoints) in JVM mode (not native) and that works without such an extension.
Having said that, me and my team are also looking forward to a proper extension.

[2020-07-24 19:43] AmsterdamFilho commented on #4005
My team and I are also looking forward to this extension, although it does work in JVM mode.

[2020-07-24 19:46] erickgr2 commented on #4005
Actually I would think on using the JVM mode in the application that I would be migrating. @AmsterdamFilho have you been able to expose SOAP services by some means in Quarkus?

[2020-07-24 19:47] juanmbellini commented on #10961
@aloubyansky Ok, It has finished and it works but there are some issues:

- Everything in the `main` method runs twice (in order to test, I have tried printing some stuff before calling `Quarkus#run`, and it was printed twice)
- The application is taking too much time to start (from when `Quarkus#run` starts running till the banner is printed and the app is ready to listen for requests). This does

[2020-07-24 19:48] juanmbellini commented on #10961
It seems that after running `Quarkus.run`,  the main method is invoked again, as "Starting............." is printed twice.

[2020-07-24 19:52] AmsterdamFilho commented on #4005
No, I am just consuming.

[2020-07-24 19:58] erickgr2 commented on #4005
Thank you for clarifying @AmsterdamFilho and @famod. Let's see if some extension comes out soon.

[2020-07-24 20:09] juanmbellini commented on #10961
Another issue is that after stopping the app (from the IDE), there are some times in which the app does not really stops (address and port remain in use). Don't know if this has something to be with your PR though.

[2020-07-24 21:14] kjm789 commented on #7451
+ 1

[2020-07-24 21:19] parkee opened #10963 "Can't inject ManagedExecutor since quarkus 1.6.0"
**Describe the bug**
I'm trying to inject a ManagedExecutor (using Kotlin and injecting into `@Singleton` bean that extends `MutinyExampleServiceGrpc.ExampleServiceImplBase` if that matters) and get
[code]
I tried both constructor injection as well as field injection via `lateinit var`

**Expected behavior**
ManagedExecutor is injected

**Actual behavior**
ManagedExecutor is not injected to my bea

[2020-07-24 21:19] aloubyansky commented on #10961
@juanmbellini thanks a lot for giving it a try and providing the fast feedback.
Just in case, the PR I mentioned is https://github.com/quarkusio/quarkus/pull/10459 This is the first attempt to support IDE integration for Gradle.
I'll have a look next week into this.
FYI @glefloch

[2020-07-24 21:21] aloubyansky commented on #10961
I guess the slow start relates to "connecting to the project". We'll need to investigate how we can do it more efficiently.

[2020-07-24 21:24] shumonsharif commented on #4005
I took a stab at making this available as an extension just a few days ago.  I am able to both expose and consume SOAP services in JVM mode, though having some (hopefully minor) issues with native mode that I'm trying to work through.

Would greatly appreciate any help; please feel free to open issues, and/or submit PRs: https://github.com/shumonsharif/quarkus-cxf

[2020-07-24 21:29] famod commented on #4005
@shumonsharif Great news, I will definitely have a look at your extension!

[2020-07-24 21:43] glefloch commented on #10961
@juanmbellini thanks for these test.
How slow it is? I think @aloubyansky  is right, when running from the IDE, we need to create a connection to Gradle, whereas when running from Gradle we don't need too.

[2020-07-24 23:34] juanmbellini commented on #10961
@glefloch With my computer (a Macbook Pro 15" 2018, 6-core i9, with 32GiB):

- Running from the IDE pressing the "play" button takes more or less 15~20 secs (including all the gradle tasks, as for example `compileJava`)

- Instead, running using [this](https://plugins.jetbrains.com/plugin/14242-quarkus-integration) plugin, takes about 10 secs (also including all the gradle tasks). It seems that th

[2020-07-25 07:30] rmanibus commented on #10941
Looking at my data in mongo client I have:

{ "_id" : ObjectId("5f1a93cce9e05f30736a88fd"), "createdAt" : ISODate("2020-07-24T09:54:52.156Z"), "userId" : UUID("7f000101-7339-15ad-8173-3946066b0001"), "videoId" : UUID("7f000101-7370-1f68-8173-70afa71b0000") }

[2020-07-25 08:43] rmanibus commented on #10941
Well, it's better, with the PR the request sent to the db is:

[code]
so the UUID is correctly transformed to binary but I still get a 0 count

[2020-07-25 09:02] rmanibus commented on #10941
That's because it is parsed as a legacy UUID.
[code]

[2020-07-25 09:22] rmanibus commented on #10941
it look's like BsonDocument.parse()

[code]
    public BsonDocumentCodec() {
        this(DEFAULT_REGISTRY);
    }

[code]

[2020-07-25 09:47] rmanibus commented on #10941
It's because the subType is applied in BsonDocument.parse() which does not now of our drivers configuration.
[code]
I think we need to pass a custom codecRegistry before parsing.

[2020-07-25 10:13] rmanibus commented on #10941
There is this weird function in org.bson.json.JsonReader:

[code]
which is passed the value "UUID" but the condition make it always return UUID_LEGACY

[2020-07-25 11:44] sekaijin commented on #8335
Yes I only saw the problem on windows.

closing the connection frees the client's resources (java)
but also on the server side.

when the processe is killed without closing the connection, on the client side the memory is emptied so there is no problem.
But the server side resources are still there.
The server maintains information about the client its connection, current transactions etc.
these r

[2020-07-25 13:21] panchitoboy opened #10966 "[container-image-docker] Add additional params to docker build command"
**Description**

It would be helpfull to have the option to configure the build command.

In my enteprise, we use gitlab. And for benefit from the docker layer cache we need to call the command docker build with --cache-from

https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#making-docker-in-docker-builds-faster-with-docker-layer-caching

**Implementation ideas**

I think that would be

[2020-07-25 13:22] famod commented on #10796
None that I am aware of, but this whole topic might be better assessed by @dmlloyd.

[2020-07-26 02:55] jclingan opened #10969 "Remote development does not resync on application.properties change"
**Describe the bug**
`mvn quarkus:remote-dev` does not recognize when only an application.properties file changes (and no other changes). Therefore, no code sync happens. However, if I change source code and application.properties, the property file does get synced.

JDK 11, Quarkus 1.6.1.Final

**Expected behavior**
When I change an application.properties file and hit the REST endpoint, I expect

[2020-07-26 11:04] r-uu commented on #3785
Hi,

the empty META-INF/beans.xml (really empty) and the maven plugin (version 1.0.8) options both do not work with quarkus 1.6.1.final and 1.6.0.final. The configuration in application.properties succeeded for me with quarkus 1.6.1.final.

[2020-07-26 11:17] geoand commented on #3785
@r-uu do you have an example of that?

[2020-07-26 14:32] r-uu commented on #3785
Yes, I prepared an extremely simple example, see attached file. It contains a maven multi module project with one module (User.java) using a type (BaseEntity.java) from another module as base class for an entity. If you start the server in dev mode and send a trivial request quarkus complains:

[code]
You can see that there is a completely empty META-INF/beans.xml but no target/classes/META-INF/ja

[2020-07-26 21:36] glefloch commented on #10961
Yes, I think we could have quite better performance, for example we are creating the model two times, with a new project connection for each one.

BTW, I have multiple sample project on my machine (including one with a CLI application) and I re run some tests today, I wasn't able to get the run method executed twice. Are you running some Gradle command before executing the main method?

[2020-07-26 23:24] #10923 closed

[2020-07-26 23:29] juanmbellini commented on #10961
Nope, just calling run from my main method, and running the application from intelliJ just pressing the "play" button as any java project with a main method.

However, some gradle tasks are run before (`compileJava` for instance).

But once `Main.main()` starts, following the execution with the debugger, I could realize that the main method is executed twice (the first time when the application st

[2020-07-27 00:18] parkee commented on #9264
I noticed currently grpc calls don't propagate tracing context (jaeger or b3 headers).
I suppose that also should be added to the list of improvements.

Is there a way to work around that at this time and manually add support for tracing?

[2020-07-27 00:38] danilomeneghel commented on #10467
That's right, thanks @geoand !

[2020-07-27 01:01] juanmbellini opened #10971 "Add lombok to the bom"
**Description**
Add lombok as a managed dependency in quarkus-bom. This allows using lombok in a quarkus project without specifying its version.

**Implementation ideas**
Just add a version and the dependency in https://github.com/quarkusio/quarkus/blob/master/bom/application/pom.xml, similar to what spring boot does in https://github.com/spring-projects/spring-boot/blob/2.2.x/spring-boot-project/

[2020-07-27 01:06] gastaldi opened #10972 "io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1 when refreshing a page"
**Describe the bug**
When refreshing a page that is already processing something, the following error appears in the logs:

[code]
**Expected behavior**
No error in the logs

**Actual behavior**
Error (although harmless) appears in the logs

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/gastaldi/quarkus-backports/tree/graphql
2. Go to http://localhost:8080/backports

[2020-07-27 01:06] gastaldi commented on #10972
@stuartwdouglas any clue?

[2020-07-27 01:20] stuartwdouglas commented on #10943
@geoand it looks like at some point we added this explicitly for file system directories: https://github.com/quarkusio/quarkus/commit/4e58a7d08aa7e7fd168f5f63775ed22554ddfd7e (although the message for that commit seems to be the opposite to what the commit actually does).

I checked UrlClassLoader and the presence or absence of a '/' seems to depend on what is passed in, if the resource name has a

[2020-07-27 01:59] stuartwdouglas commented on #10963
Does your project depend on quarkus-smallrye-context-propagation? I think there were some fixes around this where previously is may have been accidentally included as a transitive dep in 1.5.

[2020-07-27 03:41] stuartwdouglas opened #10975 "Generating Kube manifests in dev mode breaks remote dev"
The recent change to generate Kubernets manifests in dev mode breaks remote dev, as there is no Maven project to read the metadata from, so the build fails creating the Project.

[2020-07-27 03:42] l2dy opened #10976 "Offer a Redis extension based on Lettuce"
**Describe the extension**
Offer a Redis extension based on [Lettuce](https://github.com/lettuce-io/lettuce-core), which has official support for GraalVM Native Images since v[5.3.2](https://github.com/lettuce-io/lettuce-core/releases/tag/5.3.2.RELEASE).

Lettuce development started earlier and I think it's more mature than the Vert.x Redis client.

Interested in this extension, please +1 via the

[2020-07-27 03:53] stuartwdouglas commented on #10969
I could not reproduce this reliably, but I think it may be a manifestation of the pre scan step being registered multiple times.

[2020-07-27 04:36] stuartwdouglas commented on #10813
What scope is the client?

[2020-07-27 04:39] geoand commented on #10467
YW!

[2020-07-27 04:51] geoand commented on #10943
Thanks @stuartwdouglas

[2020-07-27 05:36] geoand commented on #10966
#10978 adds support for `--cache-from`.

I prefer to add explicit support for flags because it makes it a lot easier for users to see the available options and not end up with an invalid `docker build` command.

[2020-07-27 05:39] geoand commented on #6717
One more reason to drop Java 8 support, maintaining this cron job :+1:

Here is the latest error we got:

[code]

[2020-07-27 05:53] geoand commented on #6717
@dmlloyd @galderz @gsmet have you seen this before or do you have any ideas off the top your heads? If not, I'll just look into it

[2020-07-27 06:06] vishalgoel1988 commented on #8152
Hi, Any update on this please? I also got the same issue. Is it possible to enhance quarkus to use gzip for aysnc also?

[2020-07-27 06:07] geoand commented on #3785
@r-uu you need to move the jandex plugin configuration to `quarkus.security.jpa-used.module`.

[2020-07-27 06:44] mkouba commented on #10962
I think that programmatic registration during application startup would make more sense, i.e. something like:

[code]
BTW no registration for reflection should be needed if registering listeners this way.

[2020-07-27 07:24] machi1990 commented on #10962
I think this can be achieved even now, but having it done via the our configuration system is a plus too for users not looking to interact directly with the quartz  `Scheduler`.

Agreed.

[2020-07-27 07:36] mkouba commented on #10962
Yes, this snippet should work fine.

My point is that the "config way" is more error-prone, requires reflection registration, and possibly some validation whether a class implements the expected interface would be needed. And since there exists a "programmatic way" that covers all required use cases (profiles, additional config properties, etc.) I don't see a big value in adding more quartz-specif