[2020-04-21 01:01] ronsigal commented on #8650
So, we have ... three solutions?

1. https://github.com/Ladicek/Resteasy/commit/a5d56b8669
2. https://github.com/resteasy/Resteasy/pull/2359
3. https://github.com/smallrye/smallrye-fault-tolerance/pull/218

Note that @kabir has been working on getting context propagation to work in Wildfly, including in RESTEasy, which would involve porting the resteasy-context-progagation module from RESTEasy 4.x

[2020-04-21 01:14] gastaldi commented on #8669
Closing as clarified in https://github.com/quarkusio/quarkus/issues/8669#issuecomment-615951025. Thanks!

[2020-04-21 01:14] #8669 closed

[2020-04-21 04:24] xmlking commented on #8404
will test and let you know.

[2020-04-21 05:02] #8711 closed

[2020-04-21 05:57] jmartisk commented on #8702
While I agree this is a bug and I will see what can be done to fix inferring the metric type, `LambdaGauge` is in the `.runtime` package so it's not intended as a public API, so I'd very much recommend against using it in an application.
If you need to register a gauge based on a lambda expression, I'd suggest simply casting a lambda expression to a `Gauge`:
[code]

[2020-04-21 06:04] Ladicek commented on #8650
1. https://github.com/Ladicek/Resteasy/commit/a5d56b8669 is a worse idea than https://github.com/resteasy/Resteasy/pull/2359 and I fully support getting https://github.com/resteasy/Resteasy/pull/2359 merged.
2. https://github.com/smallrye/smallrye-fault-tolerance/pull/218 is sort of orthogonal, and if I make the RestClient method `@Asynchronous` (which is arguably a bad idea, but current MP Fault

[2020-04-21 06:08] geoand commented on #6588
@sberyozkin It seems like CI is failing when testing the development branch of the Quickstarts. The failure is:

[code]

Can you please take a look?

Thanks!

[2020-04-21 06:12] geoand commented on #6717
Still the same issue with the Vault tests:

[code]

[2020-04-21 06:17] k33g commented on #6531
👋hello - about Docker, you don't need "dind", you can use Kaniko: https://docs.gitlab.com/ee/ci/docker/using_kaniko.html

[2020-04-21 06:42] Ladicek commented on #8710
I think I even looked into the `TracingDriver` code and it doesn't support MSSQL, which is unfortunate. (I'm not sure why they need to parse the JDBC URL, but there's probably a reason :-) )

[2020-04-21 07:06] #8661 closed

[2020-04-21 07:12] geoand commented on #8708
I can reproduce the reported problem.

[2020-04-21 07:23] geoand commented on #8708
The problem seems to in the Kotlin version, if you update to `1.3.71` or `1.3.72` the problem goes away.

[2020-04-21 07:44] wjsgzcn opened #8719 "Cannot get roles with oidc on web application"
**Describe the bug**
following the guide of https://quarkus.io/guides/security-openid-connect-web-authentication, and I find there is no role based permission control here like https://quarkus.io/guides/security-openid-connect, so I just add @RolesAllowed to some methods and visit, then I get a "Forbidden" text response, but the user logged in is in the role. then I print the roles by "identity.ge

[2020-04-21 07:57] timounet commented on #8708
1. I have updated kotlin version `<kotlin.version>1.3.72</kotlin.version>` in pom project>properties.
2. run `mvnw quarkus:dev` open http://localhost:8080/api/test > "hello world" is correctly displayed
3. Change back in code main/kotlin/com/acme/test/MyResource "hello world" message by "hello" and go back to http://localhost:8080/api/test. RunTimeExceptions still occurs in the browser. Same messa

[2020-04-21 08:08] sberyozkin commented on #8719
@wjsgzcn Which token claim contains the roles info ?

[2020-04-21 08:22] geoand commented on #8708
Actually there seems to be some incompatibility between the Kotlin compiler and Tika. If you removed the tika extension things should work.

[2020-04-21 08:31] #8627 closed

[2020-04-21 08:37] sberyozkin commented on #8719
@wjsgzcn This is how the KC roles are checked: https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java#L71

We can add more checks if needed (CC @pedroigor, hi Pedro, I recall you were mentioning KC could have the roles in some other claim ? )

[2020-04-21 08:42] aloubyansky commented on #7932
Unfortunately, I don't see any hook for us to pick up the eclipse's run config. What you could do is to add "-s path_to_your_settings.xml" to the arguments.

[2020-04-21 08:44] #8709 closed

[2020-04-21 08:45] #8697 closed

[2020-04-21 08:59] gsmet commented on #8612
The workaround would be to force the versions of the quarkus-http artifacts to 3.0.6.Final in your projects.

But 1.4 is coming with the fix really soon as we target Thursday for it.

[2020-04-21 09:01] wjsgzcn commented on #8719
I don't know which claim, but the same code and same keycloak realm for service application works well.

[2020-04-21 09:13] timounet commented on #8708
correct

[2020-04-21 09:24] sberyozkin commented on #8719
@wjsgzcn It is interesting. So in the `web-app` we check `id token`, in the `service` - `access token`.
@pedroigor Can Keycloak be configured to set the same roles in the id token ?

[2020-04-21 10:03] #8662 closed

[2020-04-21 10:09] KeesKoffeman opened #8722 "MDC is empty after a Jaeger sub span is closed."
**Describe the bug**
After a subspan closes MDC is empty.

**Expected behavior**
MDC context should contain traceId, spanId and sample of parent span.

**Actual behavior**
The MDC context is wiped on MDCScope.close() without restoring the MDC info the parent span.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Trace A
2. Within Trace A create Trace B
3. Within Trace A inspect MDC aft

[2020-04-21 10:21] galderz commented on #8593
I've came across this issue too: https://github.com/apache/camel-quarkus/issues/1115

[2020-04-21 10:28] gsmet commented on #8722
@KeesKoffeman any chance you could create a reproducer?

/cc @objectiser

[2020-04-21 10:30] loicmathieu opened #8723 "Investiguate possible improvement of extension's deployment modules dependency collections"
**Description**
When using dev mode or when packaging the application using the quarkus Maven plugin, for each extension, its deployement module and the deployment module transitive dependencies are collected via `MavenArtifactResolver.collectManagedDependencies`.

On dev mode, a cache exist so if you didn't use `mvn clean` this collection of dependencies is done onces (but a lot of people always

[2020-04-21 10:30] loicmathieu commented on #8723
/cc @aloubyansky

[2020-04-21 10:36] sberyozkin commented on #8719
One thing which I suggested earlier did not get to yet is that in the code flow, we let the users to nominate the AT be used for the rbac/principal; AT in the code flow is for the client application itself to invoke some API on behalf of a user, but if the application is not interested in it and AT is used to represent the user, then I guess we can allow for such a variation too

[2020-04-21 11:18] bcluap commented on #8709
Thanks guys. Confirmed working with latest source. Brilliant - this would have been a real blocker for us on an app we migrating to Quarkus.

[2020-04-21 11:19] gsmet commented on #8709
Thanks for the confirmation. I backported it to the 1.4 branch so it will be part of 1.4.0.Final.

[2020-04-21 11:20] #8713 closed

[2020-04-21 11:38] Ladicek commented on #8722
I wonder if this could be caused by one thing I noticed in https://github.com/quarkusio/quarkus/blob/master/extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/MDCScopeManager.java: the `activate` method returns `MDCScope` (wrapping the underlying scope), but the `active` method doesn't (no wrapping occurs there).

CC @pavolloffay

[2020-04-21 11:42] zeljkot commented on #6531
Currently, I am using JIB without neither; it works faster than "dind" and does not require an image with Docker CLI.
[code]

[2020-04-21 11:53] #7979 closed

[2020-04-21 11:53] #8059 closed

[2020-04-21 11:53] #8061 closed

[2020-04-21 12:30] KeesKoffeman commented on #8722
[code]

[2020-04-21 12:45] KeesKoffeman commented on #8722
I stumbled upon this while implementing `quarkus-logging-gelf` in combination with `quarkus-smallrye-opentracing`. Due to this issue I ended up with log entries which are missing the correlation to their trace.

[2020-04-21 14:33] fabiomrch commented on #8668
I have some problems while building my project with 'mvn clean install' that I'm trying to solve. I have just run it using 'mvn compile quarkus:dev' and everything works fine! Your fix actually disables checks in Hibernate Validator!

[2020-04-21 14:49] codemwnci commented on #3954
I need to do a little more testing.
I wondered if it was because you had extracted the data classes out into their own files, rather than inside of the GreetingResource.kt file itself, so I tested with my previous 1.1.1.Final code. This still failed.

I need to upgrade Graal to test with 1.3.2, so this will take me a little longer. Will report back when I can.

[2020-04-21 14:52] geoand commented on #3954
@codemwnci Thanks. Feel free to ping me when you have results :)

[2020-04-21 17:13] schulzp commented on #8168
@cescoffier, we ran into the same problem and work around it with a custom [`SaslClientCallbackHandler`](https://gist.github.com/schulzp/479ab2c85d9ca30bf8d5f505bd493097) which considers the native case where `AccessController.getContext() == null`

[2020-04-21 17:48] cescoffier commented on #8168
Amazing @schulzp ! We should definitely provide this class and document it.

[2020-04-21 18:49] jamesfalkner opened #8730 "Unable to set custom app.openshift.io/runtime label when deploying with OpenShift extension"
**Describe the bug**
When using the OpenShift extension, if I provide a label for the runtime icon, it gets overwritten with `quarkus`.

**Expected behavior**
The label I set with `-Dquarkus.openshift.labels.app.openshift.io/runtime=java` should be set on the resulting `DeploymentConfig`

**Actual behavior**
The label is set to `app.openshift.io/runtime=quarkus`

**To Reproduce**
Steps to reproduc

[2020-04-21 19:03] machi1990 commented on #8730
/cc @geoand @iocanel

[2020-04-21 19:05] geoand commented on #8730
Does the same occur if you use:

[code]

?

[2020-04-21 19:31] heike2718 commented on #7932
OK, thanks. Nice hint with the -s option.

At my work it is not possible to use the m2e defaults because user home is linked to a network drive with limited storage capacity and we are not allowed to use it for local maven storage.

So the -s option is a good workaround.

[2020-04-21 20:03] jamesfalkner commented on #8730
Nope, didn't work. I suspect the problem is with the dots, because:

`-Dquarkus.openshift.labels.foo.bar=java` does not work (no label at all is set)
`-Dquarkus.openshift.labels."foo.bar"=java` does not work (no label at all is set)
`-Dquarkus.openshift.labels.foo=java` works as expected

[2020-04-21 20:06] geoand commented on #8730
OK, I'll check it out tomorrow and let you know

[2020-04-21 20:38] jorsol opened #8733 "Kubernetes probes not added when using container-image.name"
**Describe the bug**
`livenessProbe` and `readinessProbe` are not added to the final Kubernetes Deployment file when the `quarkus.container-image.name` property is set

**Expected behavior**
Probes added to the Deployment:
[code]

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create project with -Dextensions="kubernetes, jib, smallrye-health"
2. `mvn clean packag

[2020-04-21 20:53] gsmet commented on #8733
/cc @geoand

[2020-04-21 21:11] #8668 closed

[2020-04-21 21:24] sberyozkin commented on #8719
@wjsgzcn We have a test where id token has the roles checked but I'm not sure how it is set in Keycloak.
I believe if you enable an MP JWT feature somehow then it will work, please check

[2020-04-21 22:59] jphautin commented on #8713
thanks for the quick fix

[2020-04-22 05:20] stuartwdouglas commented on #8723
Another option would be a cache in ~/.quarkus/ that is not affected by cleans.

[2020-04-22 05:30] geoand commented on #6588
@pedroigor @sberyozkin a couple of the openid quickstarts are still failing:

[code]

can you please take a look?

[2020-04-22 05:37] aloubyansky commented on #8723
Interestingly, we did all that. Originally, we stored them in `~/.quarkus` then we decided it'd be a better user experience to keep them right in the build dir to respect `clean`.

About storing the deps in the deployment JAR. First, the way we are resolving the complete build classpath, dependencies of each deployment artifact would have to be stored as a graph, not a simple list (we did this too

[2020-04-22 05:44] geoand commented on #8730
@jamesfalkner if you add `quarkus.openshift.labels."foo.bar"=java` to `application.properties` it works as is.

If however you are passing a system property (which appears to be the case), you need to escape the the quote (this is shell thing, not anything to do with Quarkus). In that case doing `-Dquarkus.openshift.labels.\"foo.bar\"=java` works.

I'll go ahead and close this issue. If you try an

[2020-04-22 05:44] #8730 closed

[2020-04-22 05:50] davsclaus commented on #1610
Sorry for being silent for a couple of days. Had too many meetings and monday was also my birthday so there was more family stuff that day.

I will get back to this and try to build a standalone sample project with instructions that can better be used to reproduce and go over this and see where we can improve things for end users.

[2020-04-22 05:53] geoand commented on #8733
I can reproduce the bug. I'll look into it.

[2020-04-22 07:47] asodja opened #8737 "Add support for running Unit Tests in Gradle project with IntelliJ builder/runner"
**Description**
Currently it seems that if you want to run Gradle project with IntelliJ runner this does not work. So if I setup Gradle project with `Build and run using IntelliJ` and `Run tests using IntelliJ` (reference https://www.jetbrains.com/help/idea/work-with-tests-in-gradle.html#configure_gradle_test_runner) I get an exception like:
[code]
This was tested with example Gradle project (http

[2020-04-22 07:48] schulzp opened #8738 "Update to kafka 2.5.0"
I updated kafka and [fixed the health check](8736) to work with version 2.5.0, which it currently [does not](https://github.com/quarkusio/quarkus/tree/dependabot/maven/kafka2.version-2.5.0).

[2020-04-22 07:56] schulzp commented on #8168
@cescoffier are you on it or shall I create a pull request?

[2020-04-22 08:34] #8733 closed

[2020-04-22 08:43] cescoffier commented on #8168
@schulzp If you can open one, it would be great!

Basically, you need:

* to provide the class in the kafka/runtime module
* document the usage in the documentation module
* in the KafkaProcessor register this class for reflection

[2020-04-22 08:49] #6261 closed

[2020-04-22 09:11] blsouthr opened #8742 "Named handlers attached to a category in gelf"
**Describe the bug**
According to quarkus documentation, named handlers can be added and attached to categories:
https://quarkus.io/guides/logging#category-example

It is not supported with gelf however.

**Expected behavior**
custom handlers should be supported with their own configs like additional fields.

**Actual behavior**
Configuration produces a warning at startup

Unrecognized configurati

[2020-04-22 09:24] codemwnci commented on #3954
I have tried a number of different configurations (slow testing cycle due to the 15minute native compile!). Upgrading to Quarkus 1.3.2, and GraalVM 20.x, did not initially make any difference. I then changed the POM to reflect your POM and it worked.
I then individually started removing the POM configurations back to my original and the key (single) element that has made this work is in the Kotlin

[2020-04-22 09:27] geoand commented on #3954
Thanks a lot for the thorough check @codemwnci!

Indeed the project generation now includes  `<javaParameters>true</javaParameters>`  : https://github.com/quarkusio/quarkus/blob/1.4.0.CR1/devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/kotlin/pom.xml-template.ftl#L109

I'll close this issue as per both our findings

[2020-04-22 09:27] #3954 closed

[2020-04-22 09:54] schulzp commented on #8168
@cescoffier, sure, will do that.

How can I run my application (which already uses native JAAS/SASL) against a locally build of `quarkus:999-SNAPSHOT`? If I just run `clean install` and add it as a dependency I and up with the following maven build error: `Non-resolvable import POM: Failure to find io.quarkus:quarkus-universe-bom:pom:999-SNAPSHOT`. How does that `quarkus-universe-bom` come into ex

[2020-04-22 10:11] cescoffier commented on #8168
Exactly, replace the universe bom with the quarkus bom

[2020-04-22 10:21] tfve commented on #8168
I added the @schulzp 's SaslClientCallbackHandler class to my project, registered it for reflection and set the "*.sasl.client.callback.handler.class" property. Now I'm getting this error:
[code]

[2020-04-22 10:37] cescoffier commented on #8168
@tfve See the first post on this issue, it gives you the necessary changes.

[2020-04-22 11:44] jmartisk opened #8744 "Recording broken for Optionals containing custom classes"
Recording a non-empty `Optional` containing a custom class causes a NPE during runtime, because the object contained in the `Optional` is lost along the way:

[code]

[2020-04-22 11:51] #8738 closed

[2020-04-22 11:51] gsmet commented on #8742
/cc @loicmathieu

[2020-04-22 11:52] gsmet commented on #8722
@pavolloffay @Ladicek any chance we could have a fix for that today? It would be great to have it fixed in 1.4.

[2020-04-22 11:56] sberyozkin commented on #7882
Each tenant connection (at least with Keycloak) has its own unique JWK set which is good so I'm closing this issue

[2020-04-22 11:56] #7882 closed

[2020-04-22 12:30] loicmathieu commented on #8742
Named handlers are supported on standard handlers (the one incuded in the core quarkus library) but not in the `logging-gelf` extension.

So this is a feature request not a bug, be careful that behind each GELF handler there is a socket to write to a server so I'm not sure it's a good idead to create multiple ones ...

[2020-04-22 12:33] #4982 closed

[2020-04-22 12:41] schulzp commented on #8168
Thanks, @cescoffier. In which extension should the `NativeSaslClientCallbackHandler` reside? `kafka-client`? If so, should it set the `sasl.client.callback.handler.class` property by default (how?) or just document, that in case of native builds this has to be set, either for consumer/producer in case of `quarkus-smallrye-reactive-messaging` or in general for `quarkus-kafka-streams`.

[2020-04-22 12:49] Ladicek commented on #8722
I have a fix in #8746, but I'd really appreciate some OpenTracing expert to review. Apparently the MDC scope thing was created by @pavolloffay, so if he could review, that would be great :-)

[2020-04-22 13:02] #8558 closed

[2020-04-22 13:16] blsouthr commented on #8742
Agree. Was not clear from documentation. I'm aware of separate sockets, but how else could we overwrite additional fields per category?

[2020-04-22 14:06] #4847 closed

[2020-04-22 14:07] tfve commented on #8168
Thanks, it worked!
Are those changes to KafkaProcessor going to be merged into master?

[2020-04-22 14:10] gsmet commented on #8168
@schulzp I'm totally not aware of what you're doing but couldn't we replace the default handler code via a GraalVM substitution automatically?

I don't know if it's just a small code update or something fundamentally different.

[2020-04-22 14:11] gsmet commented on #8168
That would be nicer as you wouldn't need any configuration at all.

[2020-04-22 14:21] FroMage opened #8749 "Qute: consider renaming one form of `with` to `let`"
This is a `with`:

[code]

It changes the default scope.

This form, however, should be called `let`:

[code]

There's no equivalent to this form in JS or VB, both of which support `with`. Perhaps we could event support the following form?

[code]

[2020-04-22 14:23] schulzp commented on #8168
@gsmet, sure, I can do that (already suspected that this was the preferred way to go). Currently I'm extending the default `SaslClientCallbackHandler`, so if I replace that class, I would have to copy the original code (that is still used while running on a JVM) into my replacement class.

[2020-04-22 14:24] cescoffier commented on #8168
So, I was thinking about the substitution. I would do it in a second step once we have this in. We need to see where we need to `replace` and how much collateral damage need to be adjusted. (let's avoid the "Dexter" mode for once ;-) )

[2020-04-22 14:26] FroMage opened #8750 "Qute: consider composition syntax"
Currently, composition is done using this syntax:

`base.html` (declaration):

[code]

`index.html` (usage):

[code]

Perhaps we could consider a shorter syntax:

`base.html` (declaration):

[code]

`index.html` (usage):

[code]

Where `#insert` with no name would default to whatever content is specified after `#extend`?

[2020-04-22 14:28] gsmet commented on #8168
@schulzp you can substitute only specific methods via GraalVM substitutions so you don't have to copy the whole class.

@cescoffier not sure I understand what you're saying. But I agree we need to make it work before thinking about changing it to substitutions. But I would like to have the final solution substitution-based if possible.

[2020-04-22 14:30] FroMage opened #8751 "Qute: `this` usage in `each`"
https://quarkus.io/guides/qute-reference#user_tags says:

[code]

I disagree that `this` is meaningful in this context. We already have a default name for the iterated item and it's `it`. We should be passing `it` and not resolve something arbitrary for `this`.

[2020-04-22 14:31] cescoffier commented on #8168
I agree the goal is a substitution. My concerns are that substitutions are not easy to be "right" and create a dependency on upstream code that may change over time. Unfortunately, I'm not sure we can come up with a good test for it. So, we need to make to implement a substitution very carefully.
This is why I would like to see this in first, and then, let's work on a substitution.

[2020-04-22 14:32] FroMage opened #8752 "Qute: documentation bug"
https://quarkus.io/guides/qute-reference#variant-templates says:

[code]

I don't think `Rendering` exists.

[2020-04-22 14:35] FroMage opened #8753 "Qute: remove whitespace around type declarations"
If I declare parameter types in my template:

[code]

Then the output is `\n\n\nHere is my email` because whitespace isn't stripped between the type declarations and the first content. Note that this is mostly an issue for email and plaintext, but still.

Now, perhaps it's important to allow whitespace before the first content, but even in this case, we should strip whitespace before/between type

[2020-04-22 14:38] FroMage opened #8754 "Qute: why `VariantTemplate`?"
I don't understand why we have two separate types depending on whether the user provided more than one template variant. Surely it's enough to detect more than one of them?

If there's only `error.txt` then it's the only one, and if there's `error.txt` and `error.html` then it's something to be negociated. I don't see what we gain with the requirement of changing the injected template type?

[2020-04-22 14:44] FroMage opened #8755 "Qute: validation questions"
https://quarkus.io/guides/qute-reference#parameter-declarations says that unknown variables are not validated. While that's a fine option, is there a way to turn it off?

IMO if the user added a parameter declaration he will want to know if any variable is not declared because it's likely an error.

I understand some users want no validation, but as soon as you add a parameter declaration, I doubt

[2020-04-22 14:46] FroMage opened #8756 "Qute: nice error page"
When a template has an error (validation or parsing), the error is not super nice.

We should improve the error page to look like our 404 page (in DEV mode) and include the template source and the error message hilighted on the source code.

[2020-04-22 15:29] geoand commented on #6588
@cescoffier CI is reporting an issue with Kafka:

[code]

[2020-04-22 15:57] #5221 closed

[2020-04-22 16:21] asodja commented on #8737
Ok. I played around a bit and it seems there are two problems:

1. QuarkusTest expects that compiled classes are in `build/classes/java/main` and `build/classes/java/test` as this is Gradle output folder. Although IntelliJ runner outputs everything to `out` folder.

**Solution:** I changed project output folder to `build/classes/java/main` and `build/classes/java/test`:
File -> Project Structure -

[2020-04-22 16:34] gastaldi opened #8758 "Support @RequestScoped beans in command line mode"
**Description**
Having
[code]

And the main class for a command line application:

[code]

When I run `mvn quarkus:dev`, I get the following exception:

[code]

A workaround is to call `Arc.container().requestContext().activate();` in the `MainApplication#run` method (and deactivate when it's done).

**Implementation ideas**
Change the core implementation that calls my Main method to initialize th

[2020-04-22 16:37] maxandersen commented on #8758
yeah would be great to be able to put *Scopes on the main class to simplify writing of the class.

[2020-04-22 17:32] gastaldi commented on #5935
This is already implemented as a config option. Closing

[2020-04-22 17:32] #5935 closed

[2020-04-22 17:38] nimo23 opened #8763 "Qute: provide method executions in templates from cdi beans"
**Description**
One of the main benefits in JSF is that one can execute methods of CDI beans within the jsf pages. In combination with JSF Ajax or JSF Websockets users can build dynamic (reactive) front ends.

_I don't know if this is possible:_
Qute can use the RSocket Protocol (https://github.com/quarkusio/quarkus/issues/1997) **to communicate bidirectional** between CDI beans and front end (qut

[2020-04-22 17:38] dependabot-preview[bot] opened #8764 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-04-22 17:48] #8722 closed

[2020-04-22 18:08] #8764 closed

[2020-04-22 18:39] aloubyansky commented on #8737
Yes, we need to do proper discovery using gradle api in this case.

[2020-04-22 21:11] maxandersen opened #8768 "command dev:mode should print arguments and allow to enter new ones"
**Description**
today if I do this:

```mvn quarkus:dev  -Dquarkus.package.main-class=todo -Dquarkus.profile=cli -Dquarkus.args="Visit"```

you get:

[code]

It suggest it should be:

[code]

and then Enter gives you same, non-empty whitespace gives you blank/nothing and "something else -D xys" gives you arg array ...

need to have some handling of quotes etc.

**Implementation ideas**
(If you hav

[2020-04-22 21:29] KaiHawai opened #8769 "Hibernate Envers Extension"
Hey Quarkus Team, we are trying to get Hibernate Envers running on Quarkus. So far so good. In Hibernate Envers you can configure the Audit Strategy. We want to use the ValidityStrategy, therefore the following Configuration must be set in a persistence.xml.
(org.hibernate.envers.audit_strategy=org.hibernate.envers.strategy.ValidityAuditStrategy)
We dont have a persistence.xml and dont want to mai

[2020-04-22 22:28] #8575 closed

[2020-04-22 22:31] #8364 closed

[2020-04-23 00:17] stuartwdouglas commented on #8508
@pedroigor can I leave this with you? It is possible to do this with keycloak at the moment but we need to document how.

[2020-04-23 00:20] #8744 closed

[2020-04-23 00:22] pedroigor commented on #8508
Sure. I'm going to also check how Elytron can help here without forcing users to have an external authentication service.

[2020-04-23 01:46] #8437 closed

[2020-04-23 06:24] mkouba commented on #8749
Well, we don't need an equivalent in JS or VB and IMO it reads ok.

I would introduce a new tag called `let` that would allow users to specify a map, i.e. something like `{#let myParent=item.parent count=item.count}`. WDYT?

[2020-04-23 06:28] mkouba commented on #8751
That's a bug in docs. We use `it` in the loop section. See also https://quarkus.io/guides/qute-reference#loop-section.

[2020-04-23 06:28] mkouba commented on #8752
You're right. Good catch!

[2020-04-23 06:35] mkouba commented on #8753
Hm, parameter declarations can be defined anywhere in the template...

Yes, this is something we should add to our TODO list. IIRC it's called "removing standalone lines" and it's required by some other templating engines (like mustache).

[2020-04-23 06:54] jmartisk commented on #8702
Fixed for SmallRye Metrics 3.0 and 2.4.2. Unless someone really wants it in quick, I'd wait with releasing 2.4.2 until there's a bit more to include.

The `MetricRegistry` was confused because the gauge's impl class contains the word `Lambda`, so it was mistakenly considered to be a lambda expression. I improved the logic and this should not happen anymore.

[2020-04-23 07:20] loicmathieu commented on #8742
@blsouthr another solution would be to use MDC fields (https://logging.paluch.biz/mdc.html) but these are not currently exposed inside the `logging-gelf` extension.

[2020-04-23 07:24] mkouba commented on #8749
Ah, we actually already have the `SetSectionHelper` but it's not mentioned in the docs. I'll add the 'let' alias:
[code]

[2020-04-23 07:48] blsouthr commented on #8742
@loicmathieu Maybe some kind of filtering could be applied, so that filter given the log category could add/override additional fields. Something like:

`quarkus.log.handler.gelf.filter."com.company.SomeClass".additional-field.addfield.fieldname=fieldvalue`

that way no extra appender/socket would be needed

[2020-04-23 08:02] galderz opened #8776 "Reactive PG client native test NPE with latest masters and jdk11u-dev"
Environment:
Master branches for Quarkus and SVM, jdk11u-dev based JDK (not labs JDK)

Error building native for `reactive-pg-client` test:
[code]

[Longer output](https://gist.github.com/galderz/4426cc2285588286710331b4ddeca1ee)

[2020-04-23 08:09] galderz commented on #8776
Note: I used a rebased branch of #8651 here, in case that fix is indirectly causing this... I'll dig into this today

[2020-04-23 08:32] Ladicek commented on #8758
CC @mkouba @manovotn

[2020-04-23 08:44] manovotn commented on #8758
Well, req. context (de)activation is bound to HTTP request. You can activate it manually either the way you noted, or you can use `@ActivateRequestContext` method annotation (interceptor in fact) that will activate the scope for the given method and shut it down afterwards.

If you activate request context for the whole main method, it means it will be active from app start to its shutdown. That k

[2020-04-23 08:47] mkouba commented on #8758
I believe that the intention is to support `@RequestScoped` beans during "quarkus command execution". And the request context is not necessarlly bound to an HTTP request. There are few exceptions in the spec and we have few more in Quarkus. In this case, the command execution is a "request".

Yes, `@ActivateRequestContext` should work.

[2020-04-23 08:52] FroMage commented on #8749
Err… OK, but I'm confused as to the syntax here. In the case of `with` we have `as` and here it's `=`. Why the difference? Also, aren't parameters separated with commas?

[2020-04-23 08:54] FroMage commented on #8751
Well, given the footnote of "this is resolved to an iteration element and can be referenced using the it key in the tag template." I thought this was intentional.

But OK, great, thanks.

[2020-04-23 08:56] FroMage commented on #8753
Why? What's the use-case?

I think it's a bit different, because whitespace may be important for plain text templates, but not around parameter declarations.

[2020-04-23 08:58] manovotn commented on #8758
Yea, I am aware of the exceptions.

Ok, that makes some sense :)
So I guess we could use annotations transformer and just slam `@ActivateRequestContext` on those `run` methods?

[2020-04-23 09:09] galderz opened #8782 "Error building documentation"
[code]

[Longer output](https://gist.github.com/galderz/1b0dadd2420466c0be3fd84f6175b5c5)

[2020-04-23 09:12] galderz commented on #8782
Appears to be caused by https://github.com/quarkusio/quarkus/commit/0bf802291655b1293aa49776e9ab59d6ff8f7c73 @aloubyansky?

[2020-04-23 09:14] aloubyansky commented on #8782
Looking.

[2020-04-23 09:15] mkouba commented on #8758
Sounds too complicated ;-). I'd rather just activate the context.

[2020-04-23 09:19] cescoffier commented on #8782
I've submitted a PR

[2020-04-23 09:20] cescoffier commented on #8782
Ah, I just understood the lost callouts...

[2020-04-23 09:20] galderz commented on #7340
@sberyozkin An earlier test run of the issue at hand failed with a 401: https://github.com/quarkusio/quarkus/pull/8696#issuecomment-618250862

[2020-04-23 09:21] galderz commented on #7340
Shall I create a new issue for this flaky test? Or reopen this one?

[2020-04-23 09:26] glefloch commented on #8643
I'm interesting into working on this!

[2020-04-23 09:29] pplr opened #8785 "quarkus-hibernate and quarkus-mongodb-client incompatibility"
**Describe the bug**
Application with `quarkus-hibernate` and `quarkus-mongodb-client` extensions fails to native build.

**Expected behavior**
Native build should succeed.

**Actual behavior**
Native build fails:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start a quarkus project
2. Add following extensions: `quarkus-resteasy`, `quarkus-hibernate-orm`, `quarkus-jdbc-mariadb`, `qu

[2020-04-23 09:31] mkouba commented on #8753
No particular use case at the moment. But in theory, you could override the param declaration locally. This could be useful. The main reason is that it was more straightforward to implement.

Well, it means that if a tag is alone on a line, the line should be removed completely, i.e.

[code]

[2020-04-23 09:36] FroMage commented on #8753
Doesn't sound very useful to me.

This is fine, but unless you make it the default, it won't help people with parameter declarations.

[2020-04-23 09:38] geoand commented on #8785
Same thing happens with `1.4.0.CR1`

[2020-04-23 09:49] geoand commented on #8785
Seems very similar to: https://github.com/oracle/graal/issues/2076

[2020-04-23 10:12] #8782 closed

[2020-04-23 10:14] haraldatbmw commented on #8297
I have the same warning on my Windows10 machine if I call ``mvn quarkus:dev`` in a command-prompt without administrator rights. If I open a command-prompt with admin rights Quarkus starts without warnings.

[code]

[2020-04-23 10:50] haraldatbmw commented on #8297
Per default my windows user has not the permission to create symbolic links.
To overcome this restriction i had to follow these steps:
- Run secpol.msc
- Go to Security Settings|Local Policies|User Rights Assignment|Create symbolic links
- Add your user name
- Restart your windows session

But I don't think this is a good way to go. Preventing the usage of symbolic links would be better!

[2020-04-23 11:05] Legion2 commented on #8297
@haraldatbmw You could also just enable Windows Developer Mode https://blogs.windows.com/windowsdeveloper/2016/12/02/symlinks-windows-10/

[2020-04-23 11:19] Sanne commented on #8769
thanks @KaiHawai !

[2020-04-23 11:23] gorshkov-leonid commented on #2124
Hello, I am newby at  quarkus. What I did is just `mvn io.quarkus:quarkus-maven-plugin:1.3.2.Final:create -DprojectGroupId=com.corp -DprojectArtifactId=quarkus-test -DclassName="mapackage.TestResource" -Dpath="/hello"`. As result I do not know how to run my first example. I don't understand the root cause of this problem. Could you hint me how to runt it. Will the downgrade help me? Or maybe I sho

[2020-04-23 11:28] gorshkov-leonid commented on #2124
ouch, Apache Maven 3.6.2. Sorry fo bother

[2020-04-23 11:38] questionaut commented on #3044
Does it mean Quarkus does not support reactive websockets similar to Spring WebFlux/Websockets?

[2020-04-23 11:50] cescoffier commented on #3044
It does, it's just not integrated with Reactive Messaging yet.

[2020-04-23 12:53] cescoffier commented on #8776
@galderz Anything that needs to be fixed in the extension?

[2020-04-23 12:59] FroMage opened #8790 "Qute: document `this`"
As seen in #8775, `this` is an implicit binding in Qute templates, and it initially refers to either the context object (if there is a single one), or the `Map` of context parameters.

Apparently some tags alter it, such as `with` which changes it to point to its argument. This makes sense.

We should document what it points to initially, and which tags change it.

[2020-04-23 13:06] galderz commented on #8776
@cescoffier I've not been able to reproduce it again in the different envs I have (with the same code), so it might be a race condition of some sort. I don't think this is anything Quarkus related at this stage, so I'll probably close this issue later today and open one in oracle/graal.

[2020-04-23 13:54] fmcejudo commented on #2052
sure @rsvoboda , I will take a look and happy to share it in quarkus ecosystem. I will contact you if I have any problem, can I?
Thanks.

[2020-04-23 14:11] geoand commented on #2052
@fmcejudo feel free to ping me if you have any problems with ecosystem-ci

[2020-04-23 15:09] geoand commented on #6588
Seems like the vert-x quickstart no longer compiles:

[code]

[2020-04-23 15:18] arielcarrera commented on #4644
It is a pity that this module does not work. Maybe a temporary workaround can be work with DTOs and some mapper tool at compile time like MapStruct.

[2020-04-23 15:18] pipinet opened #8791 "rsocket protocol extension"

[2020-04-23 15:26] metacosm opened #8792 "Kubernetes: simplify env-vars injection"
**Description**
Currently, injecting environment variables into containers is possible using several mechanisms (see https://quarkus.io/guides/kubernetes#environment-variables). However, the way this is performed is less than ideal in particular when wanting to inject all values from a Secret or ConfigMap as the syntax `quarkus.kubernetes.env-vars.my-env-var.secret=my-secret` needs to be used. Not

[2020-04-23 15:53] iocanel commented on #8792
I am not sure if the first suggestion is technically possible. As in some cases `env-vars` would map to a `Map<String, String>` and in some other cases to a `Map<String, Map<String, String>>`.

Maybe @dmlloyd has an idea on if and how it can be done.

I like the second suggestion though. It's a little more verbose, but it looks neat.

cc @geoand

[2020-04-23 16:06] geoand commented on #8792
I agree entirely with @iocanel. Options 2 seems interesting because Option 1 is pretty much off the table (AFAIK)

[2020-04-23 16:17] dmlloyd commented on #8792
I think it's possible to have a `Map<String, String>` alongside a `Map<String, Map<String, String>>`.  I don't know if I specifically tested that but the system should be able to accommodate it: the matcher would essentially consider the number of segments to be significant and realise that the `Map<String,String>` cannot match if more property name segments exist.

[2020-04-23 16:35] semisft opened #8793 "Eclipse Debug looses Quarkus connection"
**Description**
Eclipse debugging attached to quarkus:dev session is lost after a few restarts of quarkus.

**Implementation ideas**
Quarkus may obtain the Eclipse debug endpoint and keep between restarts.

[2020-04-23 17:02] bpechiney commented on #6067
I'm seeing similar problems with `1.4.0.CR1`. My company proxies our dependency requests through an artifactory, yet many of the Quarkus dependencies cannot be retrieved:

[code]

[2020-04-23 17:27] roysjosh opened #8795 "RestClient & Multi emitter splat: maximum forwards exceeded"
**Describe the bug**
Using Quarkus 1.3.2, a FooResource returning a Multi and using an emitter gets a splat after making a certain number of RestClient calls to an external REST API.

javax.ws.rs.BadRequestException: RESTEASY003315: You have exceeded your maximum forwards ResteasyProviderFactory allows.

**Expected behavior**
There should not be a limitation on number of calls an injected RestClie

[2020-04-23 17:47] nimo23 commented on #8791
you can close this issue, we already have this: https://github.com/quarkusio/quarkus/issues/1997

[2020-04-23 18:23] rsvoboda commented on #6588
There is https://github.com/quarkusio/quarkus-quickstarts/pull/535

[2020-04-23 18:34] metacosm commented on #8792
I will look into it to see what's feasible…

[2020-04-23 19:36] metacosm opened #8797 "Kubernetes: add description for configuration options"
**Description**
Current documentation doesn't provide much detail on the configuration options and what they're used for. Adding a description for each of them in their listing table would help.

[2020-04-23 19:39] metacosm commented on #8797
Also, it would be helpful to have cross-references to non-standard property types (e.g. `quarkus.kubernetes.pvc-volumes` of type `Map<String, PersistentVolumeClaimVolume>` would be generated with `PersistentVolumeClaimVolume` as a link to the `PersistentVolumeClaimVolume` type description below).

[2020-04-23 19:49] metacosm opened #8798 "Kubernetes: remove useless and potentially confusing dekorate output"
**Description**
When using the Kubernetes extension, one will see the following (or similar output) during build:
[code]
This not only doesn't provide any useful information but is potentially confusing, in particular when neither openshift nor s2i extensions are enabled.

[2020-04-23 19:54] #8785 closed

[2020-04-23 19:55] #8749 closed

[2020-04-23 19:55] #8751 closed

[2020-04-23 19:55] #8752 closed

[2020-04-23 20:29] gsmet commented on #8798
I agree this should be debug.

@geoand WDYT?

[2020-04-23 20:31] gsmet commented on #8795
/cc @cescoffier @FroMage @asoldano

[2020-04-23 20:34] geoand commented on #8798
Yeah, these outputs make no sense most of the time and should be debug logging

[2020-04-23 23:58] HonoluluHenk opened #8802 "build fail with --enable-preview and hibernate-orm"
**Describe the bug**
Build fails as soon as --enable-preview is passed to the maven-compiler-plugin compilerArgs

Affected quarkus versions (at least):
1.3.2.Final
1.4.0.Final

**Expected behavior**
Build without fail

**Actual behavior**
Build failed or at least maven stacktrace + missing .class files

**To Reproduce**
Steps to reproduce the behavior:
1. Check out https://github.com/HonoluluHenk/

[2020-04-24 00:01] HonoluluHenk commented on #8802
Addendum: fails with all JDK versions that support the --enable-preview flag (tested JDK11,13,14).
I chose JDK13 at random.

[2020-04-24 00:03] HonoluluHenk commented on #8802
Might be related to #8670

[2020-04-24 00:09] yuhaibohotmail opened #8803 "Windows synchronizes files to Linux incorrectly in Remote Development Mode"
**Describe the bug**
Windows synchronizes files to Linux incorrectly in Remote Development Mode.
Remote host will create the file  with window directory name :
org\acme\MessageResource.java
![1587687073(1)](https://user-images.githubusercontent.com/48646226/80161533-375bac00-8603-11ea-808d-89b176ee960f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. On Linux remote host run:
mvn compile

[2020-04-24 00:49] #8626 closed

[2020-04-24 01:06] flatlanderer opened #8805 "Quarkus websockets should be reactive"
The Quarkus websockets implementation is not reactive/async compared to Spring WebFlux/Websockets

Here's a detailed description:
https://stackoverflow.com/questions/61384810/quarkus-websockets-does-not-seem-to-be-async-or-just-slow

Reference:
https://quarkus.io/guides/websockets

[2020-04-24 04:55] adamu commented on #4632
I am using Gradle with Kotlin (and was trying to follow the [rest client guide](https://quarkus.io/guides/rest-client)), and I was able to resolve the warning by using passing the `-java-parameters` Kotlin compiler option:

[code]

Also, make sure you are using `org.jboss.resteasy.annotations.jaxrs.PathParam` and **not** `javax.ws.rs.PathParam`.

[2020-04-24 05:21] maxandersen commented on #8758
@mkouba you mean users should be required to put `Arc.container().requestContext().activate();` in every cli or that you think the context should just always be activated ?

btw. if alternative contexts makes sense i'm fine requiring users to put an annotation to be specific - but it would be nice if in the run method there would be something available by default as the whole purpose of the run is

[2020-04-24 05:24] maxandersen commented on #8758
hmm - just tried just adding `@ActivateRequestContext` and it seem to just work.

[code]

I think I'm actually fine with that if there is a downside on having it activated always ? cc @stuartwdouglas

[2020-04-24 05:41] mariofusco commented on #8694
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/86399026

[2020-04-24 05:45] maxandersen commented on #8758
did a PR to docs at #8809 to highlight the need.

[2020-04-24 05:52] emmanuelbernard opened #8810 "Inconsistent handling of Instant between RESTEasy and SmallRye OpenAPI"
When returning an Instant property in a JSON serialized type of an API, things are treated inconsistently.

See a detailed report here https://stackoverflow.com/questions/61394407/synchronizing-openapi-and-json-b-config-using-quarkus

Let’s see how we can fix that inconsistency

@FroMage @asoldano @kenfinnigan

[2020-04-24 06:13] #8791 closed

[2020-04-24 06:16] geoand commented on #8798
@metacosm do you plan on working on this?

It looks like it might need some changed in dekorate as well, since these messages come from an internal dekorate implementation (which I assume was done to get past problems with logging and annotation processors).

[2020-04-24 06:18] metacosm commented on #8798
Planning on working on #8792 first, though I might work on this at the same time.

[2020-04-24 06:21] geoand commented on #8798
Cool

[2020-04-24 06:23] emmanuelbernard opened #8811 "Uni and Multi should not be represented in OpenAPI schema"
When using

[code]

The schema is

[code]

Which is wrong. Uni and Multi should not be in the open api contract.

See https://stackoverflow.com/questions/61394139/openapi-spec-for-reactive-rest-service-using-quarkus

@cescoffier @kenfinnigan

[2020-04-24 06:26] geoand commented on #8798
I'll do this one real quick then :)

[2020-04-24 06:34] geoand commented on #8797
The kubernetes extension could definitely use your attention and expertise :wink:

[2020-04-24 07:34] mkouba commented on #8758
Nope. We should either activate it automatically or encourage users to use `  @ActivateRequestContext`.

[2020-04-24 07:36] Nillkki opened #8812 ".env file at project root replaced with symbolic link pointing back to the same location"
**Describe the bug**
When running Quarkus with `mvn quarkus:dev`, `.env` file at project root gets replace with symbolic link pointing to that same location. The behaviour seems to be related to having `workingDir`set in pom.xml.

**Expected behavior**
While running Quarkus in dev mode `.env` should be read from project root.

**Actual behavior**
`.env` file at project root gets replaced with symb

[2020-04-24 07:51] miron4dev opened #8814 "Could not mock CDI bean created via @Produces method"
**Describe the bug**
When I create a bean via `@Produces` method I expect to mock it and inject into `@QuarkusTest`, but I get

[code]

**Expected behavior**
A bean should be mocked and injected successfully.

**Actual behavior**
See the stack trace above.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a config class with a `@Produces` method, e.g.
[code]
2. Inject the mocked client

[2020-04-24 07:53] gsmet commented on #8814
/cc @geoand

[2020-04-24 07:57] gsmet commented on #8802
/cc @geoand I remember you made some changes in this area?

[2020-04-24 07:57] mkouba commented on #8755
We don't have such an option ATM. We just log a debug message. It should be straigthforward to implement though. However, I'm not so sure we will be always able to validate everything. For example generics. We need to explore this area...

Interesting idea.

Yes, we do validate methods for some time.

[2020-04-24 07:57] gsmet commented on #8803
/cc @stuartwdouglas

[2020-04-24 08:03] geoand commented on #8802
The change I had made was to make dev-mode preview aware (https://github.com/quarkusio/quarkus/pull/8279). We probably need to do additional work to make it work everywhere

[2020-04-24 08:05] geoand commented on #8814
I don't think this is a bug, but has to do with the scope of the produced CDI bean (as mentioned in the error message).

Can you try doing the following please:

[code]

[2020-04-24 08:17] miron4dev commented on #8814
@geoand you're right. As I didn't define any scope, I produced a default `@Dependent` bean.
I added `@ApplicationScoped` for the `@Produces` method and now it works as expected.
The issue can be closed. Thank you @geoand

[2020-04-24 08:17] #8814 closed

[2020-04-24 08:24] geoand commented on #8814
You are welcome!

[2020-04-24 08:32] mkouba commented on #8754
Not really. `VariantTemplate` is a kind of a facade that delegates to a _real template instance_ based on the selected variant. I.e. the injected `VariantTemplate` does not represent a concrete template but a group of templates and if you create an instance (aka render the template) one of the template is selected and used.

But I agree that from user POV there's no difference. Maybe we could reim

[2020-04-24 08:54] sdaschner commented on #8530
Huge +1 from me on this issue, having OGM would be nice.

Managed to get Quarkus working with OGM (manually, with only `@Inject Driver driver` being provided) and I run into the same problem as @fiorenzino, doesn't find my classes (Neo `DomainInfo#create` to be precise), it works in production JVM mode.

[2020-04-24 09:00] geoand commented on #8812
Thanks for reporting and figuring out that it's `workingDir` that causes the issue.

[2020-04-24 09:03] FroMage commented on #8795
Could you give me a reproducer? This looks like I have to guess what to put in the method body.

[2020-04-24 09:17] haraldatbmw commented on #8297
@Legion2 Windows Developer Mode did not work for me.

[2020-04-24 09:28] schulzp commented on #8168
@gsmet got it to work with GraalVM substitution. I'm not sure if my way of implementing the runtime configuration meets your standards. This was the only way to get a dynamic set of properties in there. Maybe this approach would work for/could be reused in #4961?

[2020-04-24 09:54] hantsy commented on #8530
Why not use Hibernate OGM instead?

If you are familiar with Hibernate ORM and JPA, it is more friendly for developers.

[2020-04-24 09:59] bwoester commented on #8811
Out of the box support for `Uni` and `Multi` would be great.

I'm wondering though if this could be made configurable (with the out of the box behavior being default configuration). From the top of my head, I can see another similar use cases where I might like to tweak the generated OpenAPI schema, but there might be many more:

No matter whether my API returns a `Set<Fruit>` or a `List<Fruit>` o

[2020-04-24 10:07] michael-simons commented on #8530
@hantsy We try to be as friendly as possible :)

Not finding things in dev mode has luckily nothing todo with Graal Native:

@sdaschner @fiorenzino Would you please raise this as an issue with @lukehutch from https://github.com/classgraph/classgraph/? It seems we're playing through all the class loaders out there.

You can basically copy my reproducer from OpenLiberty from that issue: https://gith

[2020-04-24 10:09] sdaschner commented on #8530
@fiorenzino @michael-simons Updating Neo4J OGM to `3.2.11` solved the dev mode issue for me, you might want to try that. However, you have to add the Neo4J driver `4.0.1` dependency (Quarkus includes `4.0.0`):

[code]

@hantsy Seems that there is currently no plan to support Hibernate OGM: #6514

[2020-04-24 10:10] bwoester commented on #8810
I noticed the same inconsistency also applies to the example about [using `Response`](https://quarkus.io/guides/rest-json#using-response).

While JSON-B serialization works once `Legume` has been registered for serialization, `quarkus-smallrye-openapi` isn't aware of it. As a result, no schema can be generated and linked to the route.

I think if you manage to synchronize serialization and schema

[2020-04-24 10:11] michael-simons commented on #8530
There's an open issue https://github.com/quarkusio/quarkus/pull/6265 I can bump the version number there…

[2020-04-24 10:16] FroMage commented on #8810
Well, given that the only sane default representation for an instant is indeed an ISO 8601 string, I think it's openapi that's to blame and we should make it default to treating instants as strings.

We might want to validate that Jackson also defaults to this representation. And verify other time API types.

[2020-04-24 10:17] FroMage commented on #8795
This looks like the client is pushing too many contexts and not popping them.

[2020-04-24 10:17] FroMage commented on #8795
I could try with subsequent 20 calls.

[2020-04-24 10:33] haraldatbmw opened #8819 "Uppercase quarkus.container-image.group causes docker error"
**Describe the bug**
Quarkus extension **quarkus-container-image-docker** fails with uppercase repository name.

[code]

**Expected behavior**
Docker image gets built.

**Actual behavior**
Docker error because of uppercase repository name.
Without setting the container-image.group my windows username is used instead,
which is uppercase too and causes the same error.

**To Reproduce**
Steps to repr

[2020-04-24 10:44] cescoffier commented on #8811
Yes: Multi would be an array, and Uni just the item type (Fruit)

[2020-04-24 10:49] #5433 closed

[2020-04-24 10:53] geoand commented on #8819
I'll check it out

[2020-04-24 11:03] gsmet commented on #8530
The version is already upgraded.

[2020-04-24 11:05] geoand commented on #8819
This isn't actually a bug, using uppercase values seems not be allowed by Jib either: https://github.com/GoogleContainerTools/jib/blob/master/jib-core/src/main/java/com/google/cloud/tools/jib/api/ImageReference.java#L64

[2020-04-24 11:23] bwoester commented on #8810
I agree about the default.

But even if the default was changed, how would I modify the default if I wanted different behavior?

To be honest, I'm a bit lost with the responsibilities. My current understanding is:

- I added a dependency to `quarkus-smallrye-openapi`
  - `quarkus-smallrye-openapi` depends on `smallrye-openapi`
    - `smallrye-openapi` depends on `microprofile-openapi-api`

- `micr

[2020-04-24 11:36] emmanuelbernard commented on #8810
@bwoester your description of the various responsibilities is pretty good, you're hired ;)

I wanted to comment on the `Legume` `Response` case. In this situation, MP OpenAPI cannot guess that you are returning Legume because that's not int he method signature, rather in the method.
That's where explicit annotations from the OpenAPI spec are useful.
According to this https://openliberty.io/guides/

[2020-04-24 11:38] mkouba commented on #8754
In fact, even the regular injected `Template` is delegating to the real instance so I've unified the APIs and removed the `VariantTemplate`. A PR will land shortly...

[2020-04-24 11:49] haraldatbmw commented on #8819
Without setting the container-image.group my windows username is used instead per default,
which is uppercase too and causes the same error.

So shouldn't be an automatic toLowercase inside the code?

[2020-04-24 11:53] gsmet commented on #8819
Yeah, if it takes the username by default, we certainly need to lowercase it if uppercase is not allowed.

[2020-04-24 11:55] geoand commented on #8819
OK yeah, I see your point

[2020-04-24 12:04] eye0fra opened #8820 "External Configuration Enhancement"
**Description**
Currently, the external configuration is provided under the `config/` directory.

This feature request is to provide a way to override the default external location with a custom directory or a list of directories.
It will provide much more flexibility when application working directory is different.
One example is the working directory between JVM and Native images.

- jvm `redhat

[2020-04-24 12:04] gsmet opened #8821 "Handle validation of Mutiny Uni/Multi types"
Handling method validation should be doable if we can adjust the Uni/Multi in the interceptor.

/cc @cescoffier

[2020-04-24 12:05] FroMage commented on #8754
This is great news!

[2020-04-24 12:12] emmanuelbernard opened #8822 "Disable warning about slow localhost lookup for container and serverless deployments"
**Description**

When deploying Quarkus on serverless (but I suppose slow container engines too), the localhost lookup warning is triggered. This is a warning that is here to help for development mode particularly.

But in cloud environment, people cannot do much about it (though it will slow down their startup time unnecessarily).

https://stackoverflow.com/questions/61241906/quarkus-startup-warn

[2020-04-24 12:13] cescoffier commented on #8811
There is an SPI to implement:
https://github.com/smallrye/smallrye-open-api/tree/16ed0464e2f67018c31fc621b44e5eb4ea2c41fb/core/src/main/java/io/smallrye/openapi/runtime/scanner/spi

[2020-04-24 12:16] kenfinnigan commented on #8811
/cc @phillip-kruger

Do we need to add support for these types explicitly in SmallRye OpenAPI?

[2020-04-24 12:18] kenfinnigan commented on #8810
/cc @phillip-kruger

[2020-04-24 12:19] ssenechal5 commented on #8785
when can we hope for 1.4.1.Final ?

[2020-04-24 12:20] geoand commented on #8785
Soon :)

[2020-04-24 12:22] geoand commented on #8819
#8823 should take care of it

[2020-04-24 12:23] ssenechal5 commented on #8785
7 minutes ago
thanks

[2020-04-24 12:46] #8812 closed

[2020-04-24 12:48] #3957 closed

[2020-04-24 12:48] #8025 closed

[2020-04-24 12:49] #8166 closed

[2020-04-24 12:59] FroMage commented on #8795
I can't reproduce it, even with 400 calls. Perhaps it's due to the `Multi` use, where each call is on the stack and we end up making a client call within the context of another client call?

It'd be easier if you could give me a reproducer.

@cescoffier opinions?

[2020-04-24 13:03] jmoteka opened #8825 "Kafka streams properties are not overwritten when working with OpenShift"
**Setup**
Deployment to OpenShift: Deployment Configuration is setting hard coded default values for Kafka streams application.
application.properties has default values

**Describe the bug**
Basic properties like quarkus.kafka-streams.bootstrap-servers can be changed by OpenShift Configuration.
Other properties like: kafka-streams.ssl.truststore.location, kafka-streams.ssl.truststore.password
wil

[2020-04-24 13:21] FroMage commented on #8795
Looking at the stack trace it seems highly impossible.

[2020-04-24 13:31] overthetop opened #8826 "CredentialsProvider should be part of the datasource extension"
Quarkus: 1.3.2.Final

I'm trying to implement a custom credentials provider and as @gsmet has suggested on stackoverflow (https://stackoverflow.com/questions/61407783/quarkus-data-source-custom-credentials-provider) the CredentialsProvider interface is part of the Vault extension and that should be moved to the datasource extension.

I still haven't managed to implement a working custom credential

[2020-04-24 13:35] machi1990 commented on #8826
/cc @vsevel

[2020-04-24 13:37] knutwannheden commented on #6948
That is also what my testing confirms.

Indeed. In native mode `@EntityListeners` doesn't work at all. The only thing which apparently works is if your entity class itself has methods annotated with `@PrePersist`, etc.

[2020-04-24 13:43] cescoffier commented on #8821
Can you give more context so I can understand?

Do you mean?

[code]

If that's the case, why not just using:

[code]

AFAIK, validation is synchronous.

Or do you mean having the possibility to validate Uni/Multi as:

[code]

[2020-04-24 13:54] gsmet commented on #8821
I think for now the idea would be to have a way to validate return value from CDI methods.

[2020-04-24 14:03] geoand commented on #8820
I like this idea.

[2020-04-24 14:06] akoufa commented on #8194
Hello to all and thank you for the great work on Quarkus. Do you have any news regarding the focus of the Quarkus team on improving the experience for Quarkus Kotlin projects? Will this be in the roadmap for the next month?

[2020-04-24 14:17] roysjosh commented on #8795
Cheesed, I mean pleased, to digitally meet you.  Thanks for taking a look.

https://github.com/roysjosh/quarkus-restclient-multi-splat

[code]

[2020-04-24 14:47] sberyozkin commented on #8826
@overthetop This interface is part of the Vault SPI, it does not need to be moved

[2020-04-24 14:48] gsmet opened #8828 "CredentialsProvider beans should be made unremovable"

[2020-04-24 14:50] gsmet commented on #8826
It was me asking @overthetop to create this issue.

If this SPI has nothing to do with Vault and can be more generally used, it shouldn't be in a Vault SPI module. It should be somewhere in the datasource implementation.

[2020-04-24 15:00] sberyozkin commented on #8826
@gsmet IMHO it would not be a good idea. Even though that interface is used by Agroal right now it does not belong to Agroal alone. Some other module may need it.
I haven't said it has nothing to do with `Vault` - its goal is to let the modules which may need a Vault functionality integrate with any Vault, not only HashiCorp.
There is absolutely no need IMHO to move that module out of vault-spi -

[2020-04-24 15:03] sberyozkin commented on #8826
Perhaps `Agroal` needs a dedicated interface if the credentials have to be pulled in from something other than (HashiCorp) vault

[2020-04-24 15:03] sberyozkin commented on #8826
Sorry, pressed closed by accident

[2020-04-24 15:10] gsmet commented on #8826
Ah, yeah, I could see how it could be useful for others too.

But typically, it's very useful even without Vault so maybe we just need to rename the module to make it totally agnostic of any technology.

Not high priority though.

[2020-04-24 15:19] pschyma opened #8829 "1.4.0.Final and 1.4.1.Final break Gradle multi module build with java-platform module"
**Describe the bug**
I'm using a Quarkus in a Gradle multi module build which uses a `java-platform` module. After todays update any task I try to run fails because Quarkus plugin seems to scan for `jar` task in every module which is obviously not present in the platform module.

**Expected behavior**
Gradle executes tasks without errors like with previous versions of Quarkus.

**Actual behavior**

[2020-04-24 15:20] nweike opened #8830 "Vert.x JSON wrapped in a Multi is not working as expected"
**Describe the bug**
(Describe the problem clearly and concisely.)
When the JSON content is wrapped in a 'Multi', it is not recognised as a Quarkus web resource, instead it embeds the entire json object in a new object called 'map'.

Here is the code:
[code]
when I access  this end point:
localhost:82/users/v1/all/uni
I
it returns a nicely formated json like this:
[code]

however, when i access  l

[2020-04-24 15:24] gsmet commented on #8829
Could you prepare a reproducer?

[2020-04-24 15:32] lukehutch commented on #8530
Correct, the Quarkus classloader is supported by ClassGraph, however ClassGraph cannot work with Quarkus in native mode, because there is no traditional classfile to read. However, there is some advice on the ClassGraph wiki on [how to implement build-time scanning](https://github.com/classgraph/classgraph/wiki/Build-Time-Scanning). Presumably the Neo4J-OGM plugin could do something like this, per

[2020-04-24 15:36] gsmet commented on #8830
/cc @cescoffier

[2020-04-24 15:36] pschyma commented on #8829
@gsmet Yes. I've updated my old reproducer project [1].

Switching back to Quarkus plugin 1.4.0.CR1 does not trigger the failure.

[1] https://github.com/pschyma/quarkus-gradle-multi-project

[2020-04-24 15:39] #8819 closed

[2020-04-24 16:11] gastaldi commented on #8829
That is a debug output and shouldn't impact the build:

https://github.com/quarkusio/quarkus/blob/fe876409fdc04ced6996504021d10177ed142e85/devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPlugin.java#L192

[2020-04-24 16:13] sberyozkin commented on #8826
Interesting idea. And then we can several credential providers loaded at the same time, etc... Thanks

[2020-04-24 16:22] machi1990 commented on #8828
Is this issue related to https://github.com/quarkusio/quarkus/issues/8826?

[2020-04-24 16:25] pschyma commented on #8829
@gastaldi thanks for this information. Seems like with `--debug` I missed the another exception, which is shown using `--stacktrace`. I've updated original description to.

[2020-04-24 16:27] machi1990 commented on #8828
Asking because this seems to already being done in this build step https://github.com/quarkusio/quarkus/blob/master/extensions/vault/deployment/src/main/java/io/quarkus/vault/VaultProcessor.java#L59 but only for the vault extension. With the discussion you have on the other issue maybe the two can be done together by just having this build step in the deployment module of the new thingy ?

[2020-04-24 16:36] gastaldi commented on #8829
@pschyma can you give it a try with https://github.com/quarkusio/quarkus/pull/8831?

[2020-04-24 16:43] vsevel commented on #8826
I agree with the last 2 comments. It should not be in either agroal or vault.
there should be a notion of credentials consumer (agroal being one of those) and credentials provider (vault being one of those).
anybody should be able to consume credentials.
and anybody should be able to produce credentials.

[2020-04-24 16:44] gastaldi commented on #8829
Don't forget to add the following to your settings.gradle.kts:

[code]

so it ends up like this:

[code]

[2020-04-24 16:49] vsevel commented on #8826
@overthetop check https://github.com/quarkusio/quarkus/issues/6896#issuecomment-581014674. tell us if it works for you.

@gsmet @sberyozkin
if those needs start to pop up (and that is the second one with https://github.com/quarkusio/quarkus/issues/6896), we should rename vault-spi to credentials-spi and make it a public documented module on its own.

[2020-04-24 16:53] pschyma commented on #8829
@gastaldi I've tested the change on my original project. The tasks are executed again. But `quarkusDev` fails with the following:
[code]

[2020-04-24 16:54] machi1990 commented on #8826
+1 for this renaming. If we could also take care of #8828 in one go will be awesome.

[2020-04-24 17:05] famod opened #8832 "Dev mode fails when using "Maven CI Friendly Versions" and Quarkus version override via -D"
**Describe the bug**
(Warning: This is a rather strange edge-case.)

When using [Maven CI Friendly Versions](https://maven.apache.org/maven-ci-friendly.html) (e.g. `<version>${revision}</version>`), dev mode seems run into an inconsistent state when the Quarkus version is overridden via `-D...` (e.g. root pom defines 1.3.2.Final and you want to test 1.4.0.Final or 1.4.1.Final) and a submodule `dis

[2020-04-24 17:08] pschyma commented on #8829
@gastaldi Okay... the last error was an end user problem. I only updated plugin version to 999-SNAPSHOT; with platform version also set to 999-SNAPSHOT everything works again. (This looks a bit weird to me because, I could downgrade plugin version to 1.4.0.CR1 and keep platform version at 1.4.1.Final in the other case.)

[2020-04-24 17:13] gastaldi commented on #8829
My PR was closed by @aloubyansky, so I am assuming he will provide a better one. Stay tuned :wink:

[2020-04-24 17:20] gsmet commented on #8826
I provided a working example to @overthetop on SO.

[2020-04-24 17:42] sorin-costea commented on #7699
Maybe the whole Windows is having problems? My maven tests work, but running the Lambda code.quarkus.io generated application with:
`sam local start-api --template sam.jvm.yaml`
Gives the following output - most of the time being spent in decompressing, also a bit mounting:
`Invoking io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler::handleRequest (java8)`
`Decompressing C:\Users\scostea\git\l

[2020-04-24 18:06] fmcejudo opened #8834 "[CI] - Eureka extension + Quarkus Snapshots"
This issue will be open and closed dependent on the state of https://github.com/fmcejudo/quarkus-eureka building against Quarkus master snapshot.

If you have interest in being notified of this subscribe to the issue.

[2020-04-24 18:40] vsevel commented on #8826
@gsmet this looks nice and concise.
one alternative is to keep the username in the ds config, and only return the password from the provider:

[code]

[code]

choice depends on personal preference, and whether or not you store username beside passwords in your custom vault.

the 2 other things that are worth considering:
 - provider configuration using the `credentialsProviderName`, such as in [he

[2020-04-24 20:25] aloubyansky commented on #8574
Fixed by #8594

[2020-04-24 20:25] #8574 closed

[2020-04-24 20:55] machi1990 opened #8836 "Vault ITs unstable"
**Describe the bug**
Vault IT test is highly unstable and I have seen it failing for some PR one of them being https://github.com/quarkusio/quarkus/pull/8833

**Expected behavior**

The test to pass.

**Actual behavior**
[code]

[2020-04-24 21:14] famod opened #8837 "Dev mode fails if jvmArgs contain unresolvable placeholder"
**Describe the bug**
Given following configuration for `quarkus-maven-plugin`:
[code]
makes the dev mode fail with:
- Quarkus 1.3.1 & 1.3.2:
[code]
- Quarkus 1.4.1 (haven't checked 1.4.0):
[code]
    Instead of `BannerRuntimeConfig` I have also seen `ThreadPoolConfig` and others.

**Expected behavior**
Dev mode should not fail. Maybe it could print a warning?

**Actual behavior**
Dev mode fails wi

[2020-04-24 21:32] Temdegon opened #8838 "maven build fails on 1.4.0.Final when quarkus-maven-plugin buildDir is specified as ../../"
**Describe the bug**
Quarkus 1.4.0.Final with quarkus-amazon-lambda.
The plugin is configured as following:

[code]

build fails
[code]
Looks like the bug is related to "New Lambda packaging"
https://github.com/quarkusio/quarkus/pull/8317

io.quarkus.amazon.lambda.deployment.FunctionZipProcessor#findMainSourcesRoot
doesn't expect the buildDir to be on the upper level than the sources root.
It is l

[2020-04-24 22:24] sberyozkin commented on #8826
@vsevel FYI, there was a query about getting the credentials from Azure KeyVault: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/datasource.20credentials.20from.20Azure.20KeyVault

[2020-04-24 23:05] danieloh30 opened #8842 "Bootstrapping the project via quarkus-maven-plugin is broken"
**Describe the bug**
When a Quarkus Bootstrapping project(1.3.2.Final) is created via quarkus-maven-plugin, the project can't be built. The error logs seem to bump 1.4.1.Final version.

**Expected behavior**
Build Success

**Actual behavior**
[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.4.1.Final:build (default) on project getting-started: Failed to build quarkus application: F

[2020-04-24 23:59] maxandersen commented on #8822
even in serverless/cloud >1 second for resolving localhost is a concern is it not ?

I assume at best we can have a option to disable it

[2020-04-25 07:11] cescoffier commented on #8830
When returning a Multi<JsonObject>, RestEasy accumulates the items in an ArrayList. This ArrayList is then serialised using the ArrayList serialiser which is JSON-B. Items included in the list are also serialised using JSON-B.
So, we would need a JSON-B “serialised” for the Vert.x JSONObject.

So it's more a Resteasy issue.

[2020-04-25 08:24] questionaut commented on #8805
Here's a test application to showcase the issue:
https://github.com/questionaut/quarkus-websockets-streamer

[2020-04-25 09:37] fiorenzino commented on #8530
OK: i can confirm, using latest version of neo4j libraries in quarkus 1.3.2.Final,
`./mvnw quarkus:dev `
works fine.

`<quarkus.platform.version>1.3.2.Final</quarkus.platform.version>
<neo4j-ogm-core.version>3.2.11</neo4j-ogm-core.version>
 <neo4j-ogm-bolt-driver.version>3.2.11</neo4j-ogm-bolt-driver.version>
<neo4j-java-driver.version>4.0.1</neo4j-java-driver.version>
   `
i will create a simple

[2020-04-25 10:40] #8829 closed

[2020-04-25 10:53] #8754 closed

[2020-04-25 10:58] gsmet commented on #8829
@pschyma thanks for reporting. I republished the 1.4.1.Final Gradle plugin with a fix for this issue.

[2020-04-25 11:22] gsmet commented on #8842
This fails:
[code]

This works:
[code]
i.e. with `/pom.xml` added at the end.

From the Maven help, the former is supposed to work too.

[code]

[2020-04-25 11:23] gsmet commented on #8842
/cc @aloubyansky

[2020-04-25 11:45] marc-christian-schulze opened #8845 "SmallRyeConfig picks up application.properties from src/main/resources during testing instead of src/test/resources"
**Describe the bug**
Quarkus is picking up the `application.properties` file from `src/main/resources` during testing instead of `src/test/resources`.

**Expected behavior**
`./gradlew build --info` passes

**Actual behavior**
`./gradlew build --info` fails with:
[code]

**To Reproduce**
Steps to reproduce the behavior:
`./gradlew build --info`

[Reproducer available here.](https://github.com/marc

[2020-04-25 11:51] gsmet commented on #8845
/cc @quarkusio/devtools

[2020-04-25 12:18] evacchi commented on #6025
I am interested in this as what we are doing in Kogito may fit well. we generate endpoints automatically from user resource assets but we want to allow customization.

[2020-04-25 13:07] cescoffier commented on #8830
See https://github.com/quarkusio/quarkus/pull/8848

[2020-04-25 13:50] danieloh30 commented on #8842
@gsmet Is this changed recently to enforce a file name(pom.xml)? Because it worked in the past(actually 1 week ago).

[2020-04-25 13:56] gsmet commented on #8842
No, it's a bug. @aloubyansky worked on a fix here: https://github.com/quarkusio/quarkus/pull/8846

[2020-04-25 13:57] #8842 closed

[2020-04-25 14:01] danieloh30 commented on #8842
Got it. Wondering when we can expect to release 1.5.0? In the meantime, we need to append a pom.xml in the command.

[2020-04-25 14:05] gsmet commented on #8842
There's a good chance I will release a 1.4.2 in about a week or so. If so, it will include this fix.

[2020-04-25 14:07] danieloh30 commented on #8842
1.4.2. would be good to me.

[2020-04-25 14:17] PieterjanDeconinck opened #8849 "RESTEasy: generic type argument class not registered in native image"
**Describe the bug**
When using RESTEasy, generic type argument classes are not registered automatically for native image compilation.

Example - class MyData does not get registered:

**Expected behavior**
Generic type argument classes get registered in native image automatically.
Use case is for example a Pagination DTO with a generic type argument, meaning that all the classes that are using it

[2020-04-25 15:53] Mobe91 opened #8850 "Support uber jar for native image source jar"
**Description**
Currently, quarkus-maven-plugin ignores the `uberJar` option for native image builds. However, using an uber jar as native image source jar can be used as a workaround for a current GraalVM [limitation ](https://github.com/oracle/graal/issues/2387) on Windows.

**Implementation ideas**
Reuse the existing uber jar creation logic in the quarkus-maven-plugin for native image source ja

[2020-04-25 16:41] michael-schnell opened #8851 "ODIC 'auth-server-url' and 'client-id' or alternatively 'public-key' should not be mandatory for case "Custom TenantConfigResolver""
**Describe the bug**
For security-openid-connect extensions, the properties 'auth-server-url' and 'client-id' or alternatively 'public-key' are always mandatory, even if they are not required in case of using a TenantConfigResolver.

The following exception is thrown on startup if they are not configured:
[code]

**Expected behavior**
In case that a [TenantConfigResolver](https://github.com/quarku

[2020-04-25 17:04] survivant opened #8854 "RegisterRestClient possible to add validations to detect duplicates in path"
Quarkus RestClient should check at runtime if there are multiple Paths that have the same mapping and report an error

example

[code]

my source code

https://github.com/survivant/quarkus-k8s-hello

the actual behavior is that in my case it called the mapping that return a String, but the proxy was in the list method so it was trying to unmarshal a String into a List<String>

[2020-04-25 18:41] xtermi2 opened #8855 "quarkus-logging-json not working with native images"
**Describe the bug**
When adding `quarkus-logging-json` dependency, building a native image is still working, but when starting the native image I get this exception and the application exits:
[code]

**Expected behavior**
native application starts without errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project and add `quarkus-logging-json` e.g. this [zip](https://code.quar

[2020-04-25 19:27] angelozerr commented on #8854
I think we could do this validation on toolings context with microprofile ls. What fonyou think? If you like the idea please create an issue on quarkus-ls. Thanks

[2020-04-25 20:01] famod commented on #7932
@heike2718 You could still use that network home to put your `settings.xml` there and add `localRepository` with a path that points to a local folder on your hard drive.

That being said, I ususually don't put anything in my user home `settings.xml` apart from the `server` entries.
Everything else goes in the `<maven-home>/conf/settings.xml`, including `localRepository`.
I have multiple Maven inst

[2020-04-25 22:36] aloubyansky commented on #8832
1) System properties aren't propagated to the dev mode process;
2) Certain fixes are necessary in the model interpolation.
I've created a branch for fixing this https://github.com/aloubyansky/quarkus/tree/revision-version-devmode
I did come up with a simpler project that would fail. The branch referenced above fixes it. But not yet the reproducer from the original description.

[2020-04-25 22:42] machi1990 commented on #8855
@xtermi2 thanks for reporting. I'll have a look, might be an easy fix.

[2020-04-26 02:35] stgiaf opened #8858 "SeeEventSink.isClosed always false"
Hello,
I am facing exactly the issue described in the following github Issue https://github.com/oracle/helidon/issues/806.

So there are two points:
1. When a client disconnects , the sseEventSink.isClosed remains always false
2. The sseEventSink.send().exceptionally() is never called

Since there is no way to catch the exception , the application breaks whenever a client disconnects . Luckily eno

[2020-04-26 04:27] questionaut opened #8859 "Error during WebSocket handshake: Sent non-empty 'Sec-WebSocket-Protocol' header but no response was received"
When JS client tried to connect to Quarkus websocket handler it throws :

`Error during WebSocket handshake: Sent non-empty 'Sec-WebSocket-Protocol' header but no response was received
`

Here's a demo showcasing the bug:
https://github.com/questionaut/quarkus-jsclient-websocket-connect-bug

[2020-04-26 09:49] 38leinaD commented on #8256
This issue can be closed. I think i did a mistake. See explaination here: https://groups.google.com/forum/#!topic/quarkus-dev/kC3vhDyuNuQ

[2020-04-26 09:49] #8256 closed

[2020-04-26 12:35] jaikiran commented on #8803
I don't have a Windows OS to test it out, but I've issued a PR which I think should fix this issue https://github.com/quarkusio/quarkus/pull/8862.

Would it be possible for you to try that change?

[2020-04-26 16:08] sberyozkin commented on #8851
Hi @michael-schnell
I believe you refer to the default tenant (the regular) configuration in the `application.properties`.
The way to resolve it is to set `quarkus.oidc.tenant-enabled=false`.
We have it enabled by default because `TenantConfigResolver` may return `null` - which that it wants a fallback to the default configuration.
So can you please try `quarkus.oidc.tenant-enabled=false` ?
If it

[2020-04-26 16:58] michael-schnell commented on #8851
Actually I'm using ODIC multitenancy, so I guess it has to be enabled, or not? But I don't need that default as the TenantConfigResolver I implemented always returns something useful (non-null).

By the way:  I just implemented [multitenancy for Hibernate](https://github.com/quarkusio/quarkus/pull/8545). Hibernate does not allow a null value for a tenantId and so the interface there will never all

[2020-04-27 02:35] stuartwdouglas commented on #8758
Maybe just document `@ActivateRequestContext`. The down side to automatically activating it is that users can't control it manually if they actually want a more limited scope.

[2020-04-27 06:03] xtermi2 commented on #8855
Thx. I can confirm that adding
[code]
will fix the issue - as a workaround until the dependency is delivered transitively.

[2020-04-27 06:44] jmoteka commented on #8825
Duplicate of: https://github.com/quarkusio/quarkus/issues/4961

[2020-04-27 06:44] #8825 closed

[2020-04-27 06:46] machi1990 commented on #8855
Great thanks for checking.

You can also temporarily fix the issue by adding:
[code]

as you don't need to add the `deployment` module in your app (unless otherwise it is compile only scope).

[2020-04-27 07:15] #8803 closed

[2020-04-27 07:19] #8855 closed

[2020-04-27 07:21] mkouba commented on #8758
Yes, that's what we agreed on as the automatic activation turns `@RequestScoped` beans into `@ApplicationScoped` beans and that's probably not always desirable.

[2020-04-27 08:02] maxandersen commented on #8758
yeah, we agreed request mode should be explicitly requested as other @injects just work and you do want to be able to have multiple request scopes available to you.

thus closing this one as wont-fix and documenting at https://github.com/quarkusio/quarkus/pull/8809

[2020-04-27 08:02] #8758 closed

[2020-04-27 08:05] Postremus opened #8868 "ConcurrentModificationException when using EntityManager from async scheduler tasks"
**Describe the bug**
We currently have an production application running on wildfly 10.
I created a POC a while back for the same application running in quarkus. The poc was based on quarkus 1.3.0.CR2, and never updated.

We need to run some tasks asynchron, like handling of our recalculation queues.

Basicly, this is what I do in my code:
StuffImporterScheduler.java
[code]

StuffImporterScheduler

[2020-04-27 08:16] bobbyphilip opened #8869 "Typo in Quarkus 1.4 migration guide"
**In the section Hibernate Search + Elasticsearch (Preview)**
The newly renamed parameter should be quarkus.hibernate-search.elasticsearch.index-defaults.schema-management.required-status and not quarkus.hibernate-search.elasticsearch.index_defaults.schema_management.required_status .
(Underscore replaced by hyphens)
The other parameters which have also been renamed might have to be changed as wel

[2020-04-27 08:21] machi1990 commented on #8868
@Postremus can you try https://github.com/quarkusio/quarkus/pull/8870 ?

[2020-04-27 08:22] maxandersen opened #8871 "Allow for layered profiles to simplify use of command mode and "dev" deployments"
**Description**
With command mode and openshift/kubernetes deployment extension I'm starting to think it would be useful to have a notion of layered profiles.

Usecase is as follows for command mode:
Today when adding a `@QuarkusMain` into a project that also has a http end point things gets messy.

For now I'm adding a `cli` profile to my `application.properties` with the following content:

[cod

[2020-04-27 08:49] Meemaw opened #8872 "Provider io.smallrye.mutiny.context.ContextPropagationUniInterceptor could not be instantiated"
**Describe the bug**
Running tests using gradle in a multi module project is causing a initializationError:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/Meemaw/insight quarkus-test-initialization-bug
2. cd quarkus-test-initialization-bug/backend
3. ./gradlew beacon:api:test

**Screenshots**
(If applicable, add screenshots to help explain your problem.)

[2020-04-27 09:00] gsmet commented on #8868
An important information is missing: how do you get your EntityManager?

[2020-04-27 09:05] gsmet commented on #8869
Thanks! It's fixed!

[2020-04-27 09:05] #8869 closed

[2020-04-27 09:08] Postremus commented on #8868
@gsmet
[code]

I updated the issue description with a more complete example.

[2020-04-27 09:11] gsmet commented on #8872
Maybe I missed something but I don't see `    implementation enforcedPlatform("${quarkusPlatformGroupId}:${quarkusPlatformArtifactId}:${quarkusPlatformVersion}")` in the dependencies of your project.

[2020-04-27 09:16] Meemaw commented on #8872
The [module in question](https://github.com/Meemaw/Insight/blob/master/backend/beacon/api/build.gradle#L11) is inheriting it from [shared module](https://github.com/Meemaw/Insight/blob/master/backend/shared/rest-api/build.gradle#L7).

[2020-04-27 09:22] overthetop commented on #8826
@gsmet Thank you for the working example. Now I see why this is not working in my case. I'm using the reactive postgres driver and the custom credentials provider is never called. I've created a PR for the example repo so that you can see what I got. The whole project is reactive and I can't switch to the jdbc driver :(
https://github.com/gsmet/quarkus-credentials-provider/pull/1
Is there a way to

[2020-04-27 09:24] emmanuelbernard commented on #8822
Yes it is a concern but what can you do when AWS gets it slow? I thought about properties but it’s for the weak, I’d prefer something smarter.

[2020-04-27 09:28] emmanuelbernard commented on #6025
@evacchi interesting. This issue is about the initial project generation. Not an ongoing scaffolding (if I recall). You would need the later I suppose for your use case.

[2020-04-27 09:38] gsmet commented on #8872
It looks a lot like a version mismatch in the dependency tree though. Could you check the dependency tree of this module?

[2020-04-27 09:44] sigmunau commented on #7893
In addition to the security aspect, exposing metrics to the world when the application is horizontally scaled, just doesn't make sense, unless you can pin requests to specific nodes hosting the application.
When it comes to implementation, you don't necessarily need to have completely separate httpservers with completely different configurations. You could have one server listening on multiple por

[2020-04-27 09:52] andreas-eberle commented on #8274
@cescoffier: It seems this didn't make it into 1.4.1.Final, am I right? I still see the same problem.

[2020-04-27 09:53] sberyozkin commented on #8851
@michael-schnell This is not related to Hibernate.
In `quarkus-oidc` we need to be able to fallback if either `TenantResolver` or `TenantConfigResolver` can not resolve a tenant id from the current request, and hence in case of `TenantConfigResolver` - return an initialized `OidcTenantConfig`.  If in your case it is not going to happen then the default tenant can be disabled.
What happens when you

[2020-04-27 09:58] SoftMeng commented on #6948
[code]

I use `JsonWebToken context = CDI.current().select(JsonWebToken.class).get();`

[2020-04-27 10:01] mariofusco opened #8873 "Quarkus 1.4.0.Final broke kogito hot reload"
With Quarkus 1.4.0.Final, Kogito hot reload tests started failing with this error https://pastebin.com/3C8SF7nx

The same tests work correctly with 1.4.0.CR1.

To reproduce the problem use this pull request https://github.com/kiegroup/kogito-runtimes/pull/478 and run any test in folder kogito-runtimes/kogito-quarkus-extension/integration-test-hot-reload

[2020-04-27 10:06] maxandersen commented on #6025
@evacchi I saw your blog on https://evacchi.github.io/compilers/kogito/2020/04/23/kogito-codegen-design.html on this and yours are in the category of "Continous scaffolding" / "Continous scaffolding with external service"

We do have thoughts on enabling that by extensions and make that a proper okey thing for extensions to do (we kinda already do it with kubernetes-extension but that is for `targ

[2020-04-27 10:08] maxandersen commented on #8822
when AWS gets it slow ? today you can be aware and if you don't care you turn the warning off.
If we make it smarter it won't show up and we wouldn't know if there actually is a problem.

Do we know it *always* takes >1s for this in amazon ?

[2020-04-27 10:47] gsmet commented on #8872
@glefloch could you help on this one?

[2020-04-27 10:58] geoand commented on #6717
Should be fixed by: https://github.com/quarkusio/quarkus/pull/8840

[2020-04-27 10:59] geoand commented on #6588
@sberyozkin can you take a look at the latest failure:

[code]

Thanks

[2020-04-27 10:59] Meemaw commented on #8872
Anything specific you want me to run?

I've also tried inlining the `implementation enforcedPlatform("${quarkusPlatformGroupId}:${quarkusPlatformArtifactId}:${quarkusPlatformVersion}")` inside the module in question and I still get the same error.

[2020-04-27 11:04] gsmet commented on #8872
I'm not a Gradle guy but the equivalent of `mvn dependency:tree` :)

[2020-04-27 11:04] Postremus commented on #8868
@machi1990
I tested with your PR.
Still geht the same error message.

[2020-04-27 11:13] machi1990 commented on #8868
Yes, @gsmet @stuartwdouglas suggested that it is something deep that's need further checking. I'll do that later today. Sorry for the noise :-)

[2020-04-27 11:26] glefloch commented on #8872
I cloned the project. I reproduce the error.
Here is the compile classpath dependencies (`./gradlew :beacon:api:dependencies`)

[code]

[2020-04-27 11:33] cescoffier commented on #8274
I need to check, but I don't believe this was backported.

[2020-04-27 11:39] vsevel commented on #8826
the logic in the [reactive pg client](https://github.com/quarkusio/quarkus/blob/master/extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolRecorder.java#L86-L92) is not shared with agroal.

it might be just a matter of adding this [block of code](https://github.com/quarkusio/quarkus/blob/master/extensions/agroal/runtime/src/main/java/io/quarkus/agroal/ru

[2020-04-27 11:45] gsmet commented on #8872
Looks fine from a quick glance. @aloubyansky any pointer on how we could debug this sort of issues?

[2020-04-27 11:48] glefloch commented on #8872
that's weird, tests are ok when I run them directly in IntelliJ

[2020-04-27 11:48] gsmet commented on #8859
@stuartwdouglas does it ring a bell?

[2020-04-27 11:49] gsmet commented on #8858
Could you prepare a simple Maven reproducer so that we can have a look? Thanks!

[2020-04-27 11:55] Meemaw commented on #8872
@glefloch They probably passed because you've ran them before (perhaps through gradle). Make sure you delete the `build` folder and try again.

[2020-04-27 12:23] machi1990 commented on #8868
@Postremus d you think it is possible to strip out some things from your application and prepare a simple reproducer? Thanks.

[2020-04-27 12:33] cyberquarks commented on #1997
Hi, is there a plan to support rsocket with Quarkus?

[2020-04-27 12:40] jmartisk commented on #7893
@sigmunau, I'm not that familiar with Vert.x, but is that really possible? Looking at the javadoc at https://vertx.io/docs/apidocs/io/vertx/core/http/HttpServer.html I don't see anything suggesting that one `HttpServer` can be listening on multiple ports. Or what else did you mean by that?

[2020-04-27 12:54] michael-schnell commented on #8851
So to sum it up, the flag "quarkus.oidc.tenant-enabled" should have been better named "quarkus.oidc.default-tenant-enabled" !?

I will try it and give you feedback.

[2020-04-27 13:05] aloubyansky commented on #8872
Interesting
[code]

[2020-04-27 13:08] gsmet commented on #8274
@cescoffier what's the PR?

[2020-04-27 13:09] mariofusco commented on #8873
I modified the linked pull request with a second commit that fixes the problem or at least its effects. The hot reload module has 2 tests, one for rules (drools) and one for process (jbpm). Both tests ran against a project created with shrinkwrap, but while the drools one was using ONLY files in shrinkwrap, the jbpm was using both files in shrikwrap and other classes and processes in the module so

[2020-04-27 13:12] #8259 closed

[2020-04-27 13:14] Postremus commented on #8868
@machi1990 I had no luck creating a reproducer the first time I saw this error - about a month ago.
I will try to create a reproducer, but I might not have any luck in this endeavor.

[2020-04-27 13:19] cescoffier commented on #8274
it's more when the reactive messaging 2.0 was integrated.

[2020-04-27 13:32] gsmet commented on #8274
Yeah, this wasn't included in 1.4.

[2020-04-27 13:32] gsmet commented on #8274
Hmmm, let me correct that. It was included. So there's something else going on.

[2020-04-27 13:32] glefloch commented on #8872
I just update this line

https://github.com/quarkusio/quarkus/blob/d9bd80ab4974758d6ccb46de3e9bafb53299797c/core/deployment/src/main/java/io/quarkus/runner/bootstrap/RunningQuarkusApplicationImpl.java#L60

as the method `getPropertyNames(String, Class)` does not exists in `org.eclipse.microprofile.config.Config` interface as indicated in the stack trace.

Then running test with that update seems t

[2020-04-27 13:42] gsmet commented on #8872
Hmmm. Good catch. Looks like a copy/pasto.

I think it should be `return (Iterable<String>) getConfig.getReturnType().getMethod("getPropertyNames").invoke(config);`

But it's still weird how this can be reproduced by some of us but not all as it looks plain wrong.

[2020-04-27 13:48] glefloch commented on #8872
Yes I used the exact same line. I'm running all tests to check if it's ok.
But yes.. I'm not sure it is related to this issue.

[2020-04-27 13:52] andreas-eberle opened #8876 "Quarkus 1.4.1.Final includes kotlin versions 1.3.72 and 1.3.61 at the same time"
**Describe the bug**
Quarkus 1.4.1.Final universe bom includes two kotlin versions.

Part of `./gradlew dependencies` for a quarkus project:
[code]

**Expected behavior**
Only a single consistent kotlin version should be used.

**Actual behavior**
Mixed kotlin versions seem to be used.

**Environment (please complete the following information):**
 - Windows 10
- gradle
- java 11
- Quarkus 1.4.1.Fi

[2020-04-27 13:59] mkouba opened #8877 "Synthetic and framework beans may cause troubles in the dev mode"
The problem is that once a bean metadata class (i.e. `InjectableBean<>`) is loaded by a ClassLoader it's used until the app is restarted.

* the bean metadata class contains wired injections - these could potentially hold stale information
* if it represents a synthetic bean, change of an attribute/`create()` method may not be reflected

We should probably detect such problematic changes and force

[2020-04-27 14:02] geoand commented on #8876
Let me check this

[2020-04-27 14:05] gsmet opened #8878 "Support the CredentialsProvider for reactive datasources"
Right now the `CredentialsProvider` is only supported for JDBC datasources.

We should support it also for reactive datasources.

[2020-04-27 14:09] loicmathieu opened #8879 "Performance regression of security handling code"
**Describe the bug**
On current master, the security handling have a performance regression compare to what I measure last week after the fix to DefaultRoleDecoder.

It appears that security now uses context-propagation, and the cost of context propagation is huge.
Based on the profiles I have, the cost to perform authentication double with context-propagation.

I attached both cpu and allocation

[2020-04-27 14:10] loicmathieu commented on #8879
/cc @stuartwdouglas @gsmet

[2020-04-27 14:16] geoand commented on #8876
It seems to be caused by Camel Quarkus using its own version for Kotlin.

@lburgazzoli @aloubyansky anything we can do about that?

[2020-04-27 14:17] gsmet commented on #8876
We don't override `kotlin-stdlib` in our BOM?

[2020-04-27 14:17] sberyozkin opened #8881 "quarkus-smallrye-jwt fails to load RSA key factory in Native mode with Java8 u252"
**Describe the bug**
The following smallrye-jwt quickstart [failure](https://github.com/quarkusio/quarkus/issues/6588#issuecomment-619906774) is caused by:
[code]

See also https://github.com/mandrel/graal/issues/12

[2020-04-27 14:18] geoand commented on #8873
I did check this and it turns out that https://github.com/quarkusio/quarkus/pull/8284 changed the Quarkus behavior, in a correct way that just happened to break Kogito due to the non-standard use of the `QuarkusDevModeTest`.

[2020-04-27 14:18] gsmet commented on #8876
Yeah so one way to fix that is to define `kotlin-stdlib` in the Quarkus bom. I see it's not defined.

And then it's user's responsibility to avoid conflicts.

That being said, Camel Quarkus should probably use the JDK8 version too, as long as we still support JDK 8.

[2020-04-27 14:19] gsmet commented on #8876
@andreas-eberle which extensions do you use in your project? Because the BOM is one thing but do you have both dependencies in your classpath? If so, which components bring them?

[2020-04-27 14:24] andreas-eberle commented on #8876
@gsmet: The `kotlin-sdtlib-jdk8` should definetly be used because it makes use of the jdk8 features. The `kotlin-stdlib` is to be used when you still want to support jdk6.

[2020-04-27 14:31] #8873 closed

[2020-04-27 14:33] andreas-eberle commented on #8876
This is the result when I use the `quarkus-universe-bom`

[code]

E.g. `org.jetbrains.kotlin:kotlin-reflect` uses the kotlin-stdlib, which seems to be downgraded with the `quarkus-universe-bom`. When I use the `quarkus-bom`, the version `1.3.72` is used.

[2020-04-27 14:34] andreas-eberle commented on #8876
@gsmet: Is that part enough? Or do you need another configuration?

[2020-04-27 14:35] cescoffier commented on #8274
Yes... most probably be a bug.

[2020-04-27 14:36] gsmet commented on #8876
Looks enough to me. I think we need to define a lot more things in our Quarkus BOM for it to work properly.

[2020-04-27 14:36] cescoffier commented on #8274
(Assigned to myself so I won't forget to look)

[2020-04-27 14:36] geoand commented on #8876
Yeah, that makes sense

[2020-04-27 14:36] geoand commented on #8876
I'll take care of it

[2020-04-27 14:48] emmanuelbernard commented on #8822
When moving from 512 to 1024MB of RAM for the function, the warning disappeared for the user https://stackoverflow.com/questions/61241906/quarkus-startup-warning. So it's comorbid to the amount of CPU available (RAM and CPU are joint in AWS)

[2020-04-27 14:57] sberyozkin commented on #8881
smallrye-jwt quickstart native build will have to be re-enabled once this issue is fixed

[2020-04-27 15:58] aguibert opened #8883 "Add Hibernate Reactive extension (beta)"
**Describe the extension**
Currently there is ongoing work in [HibernateRX](https://github.com/hibernate/hibernate-rx) to offer a reactive form of Hibernate ORM. Since both Hibernate and reactive technologies exist in Quarkus today, it would make sense to have an extension that combines the two.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Confi

[2020-04-27 15:59] aguibert commented on #8883
I plan on working on this issue so please assign to me

[2020-04-27 16:25] stgiaf commented on #8858
I have created a demo application, how can I share it with you?
Sorry for the dummy question, but I am new to this process.

[2020-04-27 16:32] sberyozkin commented on #8851
No. Because this property applies to any tenant

[2020-04-27 16:49] vsevel commented on #8826
where should it go?
vault-spi is not an extension in itself.
all spi modules seem to be associated with an extension today.
should we move th sole interface `CredentialsProvider` to `core/runtime` in package `io.quarkus.runtime.security.credentials` for instance?
somewhere else?

[2020-04-27 17:44] Trinorae opened #8886 "NoSuchFileException for function.zip in amazon-lambda"
**Describe the bug**
When using the quarkus-amazon-lambda dependency for a native lambda function, when doing a `mvn package -Pnative` for the first time, the process fails with a NoSuchFileException on the function.zip. The weird thing is that it is trying to delete the file, while it should be creating it.

**Expected behavior**
The process executes without errors and has created all the necessa

[2020-04-27 18:07] heike2718 commented on #7932
@famod

Thanks, good point. That's esier than using the -f option :)

[2020-04-27 18:12] ShubhamRwt commented on #5388
@machi1990 I went through the code base but seems like the second part is already resolved. Actually I was stuck with job work lately thats why this didn't got time for the rest over part but I will get it done and sorry for the delay.

[2020-04-27 18:13] ShubhamRwt commented on #5388
I will be proceeding with the 3rd pointer mentioned above tomorrow.

[2020-04-27 18:23] apat59 opened #8887 "@QuarkusTest @InjectMock @RestClient with @Scheduled looks broken"
**Describe the bug**
attached is the simplified testcase.
Basic idea, we have a @Scheduled job which uses a @RestClient.

For tests, we want to mock the RestClient @TestClient.
The really first job execution is not mocked.
It seems mocking happens too late, within ms late, next job executions are fine.

    @InjectMock
    @RestClient
    SomeRestClient mockedClient;

    @Inject
    DummySchedule

[2020-04-27 18:45] heike2718 opened #8888 "Defining the http root path broken starting with Quarkus version 1.4.0.Final"
**Describe the bug**
With Quarkus <= 1.3.2.Final it was possible to define the http root in two ways:

- define quarkus.http.root-path in application.properties
- add a subclass of javax.ws.rs.core.Application and annotating it with javax.ws.rs.ApplicationPath

Using either of these posibilities the application fails to startup with 1.4.1.Final or later. See [reproducer](https://github.com/heike27

[2020-04-27 19:44] rmpestano opened #8891 "Native mode not working in 1.4.1.Final"
**Describe the bug**
As discussed in [zulip chat](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Native.20mode.20not.20working.20in.201.2E4.2E1.2EFinal) I'm not able to run my application in `native mode` after migrating to quarkus 1.4.1.Final.

The native binary is generated but when I run the application, nothing happens.

**Expected behavior**
The application should start and

[2020-04-27 20:42] mklueh commented on #8097
Running into the same issue now with 1.4.1.Final :(

[2020-04-27 20:44] adrianfiedler commented on #8753
Hi @FroMage
I prepared a PR for this issue: https://github.com/quarkusio/quarkus/pull/8892.
After every parameter declaration, the first following newline is ignored. So for example:
[code]
will become
[code]

[2020-04-27 20:55] pivovarit opened #8893 "[CI] - Hazelcast Client extension + Quarkus Snapshots"
This issue will be open and closed dependent on the state of http://github.com/hazelcast/quarkus-hazelcast-client building against Quarkus master snapshot.

If you have interest in being notified of this subscribe to the issue.

[2020-04-27 22:06] ebullient opened #8895 "NPE Comparing alternative priorities"
**Describe the bug**
`Beans.compareAlternativeBeans` always prefers the value of the declaring bean, even if the declaring bean doesn't have an alternative priority and the bean itself does. This leads to an NPE when comparing alternate priorities.

**Expected behavior**
I expect something like this to work be resolvable (not sure this exactly reproduces.. I'm working on it)

[code]

**Actual beha

[2020-04-28 00:27] stuartwdouglas commented on #8822
the simplest way to disable it is to change the log level for that category. It's really not great that this is an issue though, that is basically adding a second to our startup time.

[2020-04-28 01:29] stuartwdouglas commented on #8859
Why do you think this will work? You are sending 'null' as a protocol and have not configured the server to understand this 'null' protocol.

[2020-04-28 01:53] ebullient commented on #8895
To test the fix (in addition to UT).

1. Build all the Quarkus things
2. Extract the 8895 branch of the quarkus micrometer extension:
    https://github.com/ebullient/quarkus-micrometer-extension/tree/8895
3. Build and run one of the tests which will fail with the above NPE without the fix:
    `mvn test "-Dtest=AlternativePriorityAnnotationTest" -DfailIfNoTests=false test`

[2020-04-28 03:57] jeffhubLR opened #8899 "Maven regression in 1.4.1.Final vs 1.3.2.Final - ${revision} and custom repository defined in settings.xml"
**Describe the bug**
In Quarkus 1.4.1.Final, test dependencies resolved during Quarkus test execution are always retrieved from "central", ignoring custom repository, if ${revision} placeholder is used for version as defined [in Maven documentation](https://maven.apache.org/maven-ci-friendly.html) and a custom repository is defined in `settings.xml` as defined [in Maven documentation](http://maven

[2020-04-28 04:44] jeffhubLR commented on #8899
May be related to #6067 but as it was working in 1.3.2 and stopped working in 1.4.1, and I had a more specific replication case, I chose to create a new issue.

[2020-04-28 05:03] fmcejudo commented on #8834
Build fixed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/89794933

[2020-04-28 05:03] geoand commented on #8097
@mklueh do you have a reproducer?

[2020-04-28 05:21] #8876 closed

[2020-04-28 05:37] aloubyansky commented on #8899
Thanks a lot for the the detailed report and the reproducer. This issue is fixed in #8864.

[2020-04-28 05:45] apat59 commented on #8887
Stuart Douglas answered and this is the expected behaviour.
https://groups.google.com/forum/#!msg/quarkus-dev/ZjDgCRMFP9Y/wh7gDJ9oAwAJ

Sorry for false entry

[2020-04-28 05:45] geoand commented on #8887
As explained by @stuartwdouglas on the mailing list, this happens because the mock comes into play only for the duration of the test, so if the scheduler runs outside of the test run, you don't get a mock, but the regular bean

[2020-04-28 05:45] #8887 closed

[2020-04-28 05:47] geoand commented on #8886
Fixed by: #8884

[2020-04-28 05:47] #8886 closed

[2020-04-28 07:06] stuartwdouglas commented on #8887
Maybe we need some kind of scheduler test framework, so they can be enabled/disabled on a per test basis.

[2020-04-28 07:09] geoand commented on #8887
I could see that being useful

[2020-04-28 07:11] pschyma opened #8901 "Test DataSource not used in 1.4.1.Final"
**Describe the bug**
Tests use only the DataSource configured in main resources instead of the one in test resources.

**Expected behavior**
The in-memory DataSource configured in the test resources is used like in 1.4.0.CR1 and before.

**Actual behavior**
The in-memory test resource H2 database is started but agroal is configured to use main resources PostgreSQL DataSource.

**To Reproduce**
Ste

[2020-04-28 07:17] geoand commented on #8901
TBH, I don't think we ever consciously supported using `src/test/resources/application.properties`.
I am pretty sure that what you are seeing is a result of  https://github.com/quarkusio/quarkus/pull/8284 (which made things a lot more sensible).

cc @gsmet @aloubyansky

[2020-04-28 07:25] geoand commented on #8891
@rmpestano Once again I was not able to reproduce your error :)

[2020-04-28 08:01] rmpestano commented on #8891
Also if you [rollback to quarkus 1.3.2](https://github.com/apache/myfaces/commit/e21f7ac5fbbf5a1f99b166bd9d4a23d9e4221712) you'll see that the native binary will work

[2020-04-28 08:04] geoand commented on #8891
Will take a look, thanks

[2020-04-28 08:08] 38leinaD opened #8905 "Allow to Veto/Ignore dependent Jars in regards to Arc/CDI"
**Description**
My Auarkus application depends on an external JAR-file (from the customer) that contains some POJOs i need to reference in my application. The JAR-file also contains CDI beans and a beans.xml. I do not use the CDI beans in my application but because Arc resolves the DI during build-time, I get errors about "Unsatisfied dependency" from Arc during the build. This is because the CDI

[2020-04-28 08:09] crissi98 opened #8906 "ConfigSourceProvider not working with uber-jar in 1.4.1.Final"
**Describe the bug**
The Quarkus Build (mvn package) fails when the project is using a ConfigSourceProvider. This only happens when quarkus.package.uber-jar is set to true.

**Expected behavior**
The build should be successful, as in 1.3.2.Final or older

**Actual behavior**
This build fails with the following error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Qua

[2020-04-28 08:22] gsmet commented on #8901
We used to support it and we got several complaints of it not working so I would be in favor of having it working again.

[2020-04-28 08:25] gsmet commented on #8906
@jaikiran any chance you could have a look at that one?

[2020-04-28 08:50] evacchi commented on #6025
@maxandersen @emmanuelbernard
I would definitely love to share some thoughts together. Maybe we could come up with a joint proposal for the mechanism to adopt. Sorry for hijacking the thread, I lacked some context. We may continue on the ML :)

[2020-04-28 09:23] loicmathieu opened #8908 "Dev mode no more working due to Flyway after migrating to 1.4"
**Describe the bug**
After migrating my project to 1.4.1.Final (or current master) from 1.3.1.Final dev mode didn't work anymore due to Flyway config issue.

Building and running the jar works fine.

**Expected behavior**
`mvn clean quarkus:dev` works fine.

**Actual behavior**
`mvn clean quarkus:dev`  generates the following error and fails to start:

[code]

**To Reproduce**
I was unable to repr

[2020-04-28 09:30] gsmet commented on #8908
/cc @stuartwdouglas @mkouba does it ring a bell?

[2020-04-28 09:44] gsmet commented on #8901
See https://github.com/quarkusio/quarkus/issues/8845 for another report.

[2020-04-28 09:44] pschyma commented on #8901
@geoand this is not so clear when following the data source guide [1] where the prefix is not mentioned.

Also I prefer to separate test related configuration from the main configuration where I use different profiles for different flavors of the application. So I'd vote to introduce this again as supported feature.

[1] https://quarkus.io/guides/datasource#in-memory-databases

[2020-04-28 09:48] gsmet commented on #8888
@heike2718 you need to upgrade the platform to 1.4.1.Final too:
https://github.com/heike2718/quarkus-eclipse-reproducer/blob/master/quarkus-hello/pom.xml#L20

[2020-04-28 09:50] gsmet commented on #8906
@crissi98 could you create a simple Maven project reproducing the issue and either attach the zip on GH or point to a GH repository? Thanks!

[2020-04-28 09:53] metacosm commented on #8792
From @iocanel:

[code]

[2020-04-28 09:57] metacosm commented on #8792
I agree with the suggestion. However, what should be the conflict resolution procedure in case an `application.properties` mixes new and older versions? Should we assume that if an env variable is defined in both styles, the newer should replace the older one?

Meaning if we had this situation:
[code]
Quarkus would generate only one env var with the `newValue` as its value?

[2020-04-28 10:17] geoand commented on #8792
I agree that the newer one should take precedence. That is what we did IIRC when we moved the Kubernetes configuration under the Quarkus Config system.

We could also add logging that the old properties are now deprecated when we detect that they are being used.

[2020-04-28 10:29] stuartwdouglas commented on #8908
Should be fixed by https://github.com/quarkusio/quarkus/pull/8806

I did not realise the config bean changes had made it into 1.4, for some reason I thought they were in 1.5.

[2020-04-28 10:40] crissi98 commented on #8906
@gsmet No Problem
[config-service.zip](https://github.com/quarkusio/quarkus/files/4545097/config-service.zip)

[2020-04-28 10:41] rquinio opened #8909 "Determine quarkus.kafka-streams.topics automatically"
**Description**

Today the mandatory property `quarkus.kafka-streams.topics` must be manually kept in sync in case topic names are overridden at runtime (which we do to ensure multi-tenancy when the same broker is shared across namespaces and/or deploying the same microservice multiple times but working on different topics).
But in most common streaming microservice case (1 input & 1 output topics

[2020-04-28 10:42] j-be commented on #8769
I'm also affected - in my case its `org.hibernate.envers.store_data_at_delete`.

@KaiHawai did you find a workaround not involving `persistence.xml`?

[2020-04-28 10:44] geoand commented on #8906
I was not able to reproduce this on Linux

[2020-04-28 10:52] KaiHawai commented on #8769
Hey, no so far we use hibernate envers as it is...

[2020-04-28 10:53] crissi98 commented on #8906
I also tried it on Mac again and did not get the same error, so it seems to be a Windows specific problem

[2020-04-28 11:22] Postremus commented on #8769
@KaiHawai Out of curiosity, can you configure hibernate envers using a "hibernate.properties" file?

[2020-04-28 11:29] KaiHawai commented on #8769
Goog question, not tried so far.

[2020-04-28 11:43] Sanne commented on #8769
No, sorry I've recently disabled the support for `hibernate.properties`. It might have worked in the first Quarkus versions but we're working towards centralizing all configuration.

[2020-04-28 12:20] vietk commented on #4961
Hello, in @alesj 's PR : does it allow prefixing runtime properties to have whatever KafkaStream properties overridable at runtime,  as suggested by @sander-su. Or it's just limited to the SASL and SSL properties?

[2020-04-28 12:37] loicmathieu commented on #8908
Yes, #8806 fixed this.

[2020-04-28 12:43] cescoffier commented on #8274
Damned! Found the issue... Fixing it. Unfortunately, it's upstream.

[2020-04-28 12:43] alesj commented on #4961
@vietk hmmm, good q ... I think you should be able to add anything ... just not in a type-safe way ...
Check/test and let us know :-)

[2020-04-28 12:45] mkouba commented on #8895
Thanks for spotting this!

I think that the fix is not entirely correct. `Beans.compareAlternativeBeans()`should prefer the priority value of the producer method.

[2020-04-28 12:56] #8830 closed

[2020-04-28 12:57] aloubyansky commented on #8901
Is this a regression in 1.4.1? Do you guys want me to look into it?

[2020-04-28 12:58] loicmathieu opened #8912 "Check Quarkus producer beans for missing scope on produced beans."
**Description**
Lately, several performance improvements has been made by adding scope to beans created via a Producer bean.
The default scope of a produced bean is `Dependent` meaning it will basically be created each time it is requested (if not cached locally by the provider bean).

We heavily rely on producer bean to integrate beans inside CDI in Quarkus, if we forget to add a scope to them it

[2020-04-28 13:01] yvespp commented on #6766
I'm trying to use the Azure Application Insights Java agent with quarkus which writes all it's logs to stderr.
I can't get it to work and can't see any errors from it because quarkus ignores them.

Please add a way to see what gets logged to stdout and stderr.

[2020-04-28 13:03] geoand commented on #8901
I guess it is a regression, although from my POV I don't think we ever advertised this way of doing things - but I might just have missed it.

[2020-04-28 13:10] #8891 closed

[2020-04-28 13:12] mkouba opened #8913 "Scheduler - add config property to disable the scheduler completely"
This could be useful for running tests.

[2020-04-28 13:22] geoand commented on #8913
:+1

[2020-04-28 13:22] geoand commented on #8913
@mkouba perhaps a good first issue?

[2020-04-28 13:24] a74nh opened #8914 "Native Image failure building Kafka"
As mentioned here: https://github.com/oracle/graal/issues/2379#issuecomment-619921028

Building Quarkus using NI, where graal has been built with JDK8, Kaftka fails to build as native image

Machine: Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-142-generic x86_64)
Quarkus: a527712
Graal: b47aaf4
OpenJDK: openjdk1.8.0_242-jvmci-20.0-b02

$ mvn install -Dnative   -Dquarkus.native.additional-build-args=-H:Gen

[2020-04-28 13:24] cescoffier commented on #8274
https://github.com/smallrye/smallrye-reactive-messaging/pull/527 fixes it.

[2020-04-28 13:41] vietk commented on #4961
Tested, it works

~> mvn quarkus:dev -Dquarkus.kafka-streams.max.poll.records=12345
![image](https://user-images.githubusercontent.com/1568850/80494048-7e7cd080-8966-11ea-8a12-3b72e6409b11.png)

However I have a nice warning :
![image](https://user-images.githubusercontent.com/1568850/80493998-6f961e00-8966-11ea-9cf2-0ff183fa970c.png)

Which is missleading as the property has been taken into accou

[2020-04-28 13:49] paulkmoore opened #8915 "Injection of JWT available in OIDC implementation"
**Description**
When using the OIDC for Services for the first time, I was unaware that the JsonWebToken could be injected and used (per the JWT for RBAC documentation).

**Implementation ideas**
I suggest that a section is added to the documentation at `quarkus/docs/src/main/asciidoc/security-openid-connect.adoc` to include clarification that `@Inject JsonWebToken jwt;` can be relied upon to prov

[2020-04-28 13:58] aaron-rogers82 opened #8916 "Vert.x MessageCodec not being called when it is used to switch data types"
**Describe the bug**
When trying to use a MessageCodec to convert from two different types, the message codec does not appear to be called.
I created a repo that will reproduce this issue: https://github.com/aaron-rogers82/QuarkusTest
In there I am trying to convert from a String to a Custom POJO inside of the Codec. When Quarkus starts up, it registers the Codec, but then I get the following exce

[2020-04-28 14:02] geoand opened #8917 "Allow @ConfigProperties annotated classes to have a super class (other than Object)"
**Description**
It can be very useful for configuration classes using `@ConfigProperties` to be able to extend other classes in order for multiple such configuration classes to share common functionality.

[2020-04-28 14:08] xulis commented on #2219
[code]

[2020-04-28 14:23] mkouba commented on #8753
I think that it should be enabled by default and configurable.

@adrianfiedler Thanks for your contribution! However, I believe that we should think a little more about this issue ;-). I'll try to draft some proposal (i.e. describe what it should do) later this week.

[2020-04-28 14:37] benneq opened #8918 "JsonbSerializer doesn't work with extended generic class"
**Describe the bug**
When extending a class that implements `JsonbSerializer` I get a `java.lang.ClassCastException`:
[code]
But when also adding `implements JsonbSerializer` it works as expected. (Example Code below)

**Expected behavior**
Should work without having to add an additional `implements JsonbSerializer`, because the super class already has it.

**Actual behavior**
I get a `java.lang.C

[2020-04-28 14:45] fjsventura opened #8919 "Banner with default_banner.txt not working"
**Describe the bug**
With a file named default_banner.txt in the classpath, if I run in dev mode the banner is overrided as expected but if I run with java -jar it is not.

**Expected behavior**
The custom banner should appear both in dev mode and java -jar.

**Actual behavior**
Running the jar only shows the default banner, unless I set the property quarkus.banner.path to another name.

**To Repr

[2020-04-28 14:54] marc-christian-schulze commented on #8901
@geoand I'm quiet sure someone advertised it.. ;)
https://stackoverflow.com/questions/55063778/how-can-use-an-in-memory-h2-database-when-testing-my-quarkus-application

[2020-04-28 14:56] geoand commented on #8901
That's what I get for answering questions on SO... :facepalm: :facepalm: :facepalm:

Better keep my mouth shut next time :)

[2020-04-28 14:57] radcortez commented on #7442
We just added support for this in SmallRye Config: https://github.com/smallrye/smallrye-config/issues/269

Not released yet, but once done I'll integrate it in Quarkus.

[2020-04-28 14:58] nimo23 commented on #8912
Related to https://github.com/quarkusio/quarkus/issues/6028

Btw, which one should be preferred for those cases where a bean should only produced once? `@ApplicationScoped` (creates proxy) or `@Singleton`?

[2020-04-28 14:58] andreas-eberle commented on #8274
Will this make it into 1.4.2.Final?

[2020-04-28 15:03] gsmet commented on #8274
@andreas-eberle can you confirm it fixes your problem?

[2020-04-28 15:20] yvespp commented on #6766
Never mind, I can see them in the console log when I increase the Application Insights log level.

[2020-04-28 15:25] andreas-eberle commented on #8274
Is it in the quarkus repo already? Or do you have to manually update it before I build quarkus?

[2020-04-28 15:26] debae opened #8920 "Exception when using a custom registered microprofile converter"
**Describe the bug**
It is possible to have configuration in application.properties / application.yaml that you don't want to convert to a String but a object of some type. Via org.eclipse.microprofile.config.spi.Converter it is possible to register such a Converter.

If we now run the test annotated with @QuarkusTest we get an exception.

**Expected behavior**
No exception should occur and the pr

[2020-04-28 15:28] adrianfiedler commented on #8753
@mkouba sorry. I was a little too fast. But it was fun to play around with Qute rendering 🙂

[2020-04-28 15:33] rquinio opened #8922 "Kafka Streams states and health checks"
**Description**

Reference: [diagram of Kafka Streams states](https://javadoc.io/static/org.apache.kafka/kafka-streams/2.5.0/org/apache/kafka/streams/KafkaStreams.State.html).

In quarkus-kafka-streams 1.4 the check linked to KafkaStreams state is:
* liveness <=> state is RUNNING or REBALANCING (`State#isRunning` method)

On master, following https://github.com/quarkusio/quarkus/pull/8736 it's now

[2020-04-28 15:38] vietk opened #8923 "Possibility to set KafkaClientSupplier + State(Restore)Listener in KafkaStreams extension"
**Description**
Hello it would be possible to inject/set into the KafkaStream instance other instances of interfaces that are commonly used to customize kafkastream user needs.
- [KafkaClientSupplier](https://kafka.apache.org/20/javadoc/org/apache/kafka/streams/KafkaClientSupplier.html) allow to override Producer/Consumer factories
- [StateListener](https://kafka.apache.org/20/javadoc/org/apache/k

[2020-04-28 15:50] geoand commented on #8919
@aloubyansky if you haven't started working on this, I can look into it

[2020-04-28 15:56] geoand commented on #8918
@aguibert want to take a look at this?

[2020-04-28 16:05] gsmet commented on #8920
@debae I don't see a link to the reproducer?

[2020-04-28 16:20] aloubyansky commented on #8919
Sure, I'll working on later tonight.

[2020-04-28 16:21] aloubyansky commented on #8919
I just wanted to collect regressions to make sure I don't miss any of those.

[2020-04-28 16:23] aloubyansky commented on #8919
It could be the order of the jars on the CP

[2020-04-28 16:25] aloubyansky commented on #8919
Although, there is a prioritizing logic, affair.

[2020-04-28 16:26] geoand commented on #8919
Okay, I'll check it out later on.

[2020-04-28 16:29] sberyozkin commented on #8915
@paulkmoore I agree, I thought there was an updated example there, along the lines of the `web-app` application quickstart, https://github.com/quarkusio/quarkus-quickstarts/blob/master/security-openid-connect-web-authentication-quickstart/src/main/java/org/acme/security/openid/connect/web/authentication/TokenResource.java.

But for simple cases dealing with `SecurityIdentity` is enough.

Can you p

[2020-04-28 16:33] jeffhubLR commented on #8899
@aloubyansky I tested your PR and it did not resolve this issue. Artifacts resolved during Quarkus test execution are not pulled from the Maven repository configured in ~/.m2/settings.xml.

[2020-04-28 16:33] gsmet commented on #8274
You would need to build SmallRye Reactive Messaging, update the Quarkus bom and then build Quarkus.

[2020-04-28 16:52] loicmathieu commented on #8912
I did a realy quick check on the Quarkus producers bean and spotted the following one that have no scope (I didn't report the one that specify `@Dependent` as I thought it was on purpose) :

- io.quarkus.arc.runtime.CommandLineArgumentsProducer
- io.quarkus.extest.runtime.beans.PublicKeyProducer
- io.quarkus.infinispan.client.runtime.InfinispanClientProducer
- io.quarkus.hibernate.validator.runtim

[2020-04-28 16:54] debae commented on #8920
I've made the reproducer project : https://github.com/debae/quarkus-issue-8920
If you execute `./gradlew test` you can see the stacktrace.

[2020-04-28 17:00] aloubyansky commented on #8899
Interesting, I did try your reproducer on that branch.

[2020-04-28 17:00] aloubyansky commented on #8899
i didn't copy the settings.xml to the repo location though but used `-s` instead. I'll try again.

[2020-04-28 17:03] sberyozkin commented on #8851
@michael-schnell FYI, I've opened PR which will resolve this issue. Please reopen if needed. Thank you.

[2020-04-28 17:06] jeffhubLR commented on #8899
I'm re-verifying as well.

[2020-04-28 17:09] heike2718 commented on #8888
@gsmet

Thanks and sorry for wasting your time.

[2020-04-28 17:09] #8888 closed

[2020-04-28 17:12] gsmet commented on #8920
I confirm I can reproduce the issue.

@stuartwdouglas it looks like a class loading issue to me. Could you have a look?

[2020-04-28 17:15] gsmet commented on #8888
No worries! Thanks for the feedback!

[2020-04-28 17:16] jeffhubLR commented on #8899
Verified as not resolving this issue:
[code]
Note the lines where svm dependency is downloaded from central. That should say "from get-all-from-here".

I also verified it failing when executing `mvn test -s setup/settings.xml`

In order to not nuke the compiled quarkus, you can use this `rm` command to ensure a dependency will need to be downloaded:

`rm -Rf ~/.m2/repository/org/graalvm/nativeimag

[2020-04-28 17:20] Legion2 commented on #6427
SmallRye reactive messaging 2.0.1 was release and I tried https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/testing/testing.html with quarkus 1.4.1. But I get the exception:
[code]

[2020-04-28 17:28] benneq opened #8925 "JsonbSerializer order priority when using inheritance / polymorphism"
**Describe the bug**
When adding multiple JsonbSerializers of the same class hierarchy, the executed serializer is chosen randomly (can change with each application restart).

**Expected behavior**
Have a JsonbSerializer hierarchy which prioritizes the most precise matching class. So if we have a `FooSerializer` for `Foo` and a `BarSerializer` for `Bar extends Foo`, then serializing `Bar` should a

[2020-04-28 17:28] geoand commented on #8919
This does seem to have broken because of the ordering of the CP, but frankly the implementation should be made better to not depend on it - or at least not depend on the order of the quarkus jar that contains the default banner. I'm guilty of making that the case.

I'll update the implementation to be more robust and provide a PR.

[2020-04-28 17:29] aloubyansky commented on #8919
Excellent. Thanks!

[2020-04-28 17:30] gsmet commented on #8925
@aguibert how are the priorities supposed to be managed?

[2020-04-28 17:42] geoand commented on #8919
#8926 should take care of it

[2020-04-28 18:07] cescoffier commented on #6427
You are right, some recent change broke it. I will fix it before next release.

[2020-04-28 18:15] Postremus opened #8927 "Debug Port does not reopen after Pom change"
**Describe the bug**
After a pom change, the debug port is closed. I can not debug anything.
After the second pom change, the debug port is opened again.

**Expected behavior**
The debug port is reopened after any pom change.

**Actual behavior**
The debug port is not reopened again. I can not attach my debugger. Only after the second pom change, I can attach my debugger.
[code]

**To Reproduce**

[2020-04-28 18:29] maxandersen commented on #8927
You write second change is needed - it doesn't fix it self before that second change by waiting ?

Just to know if issue of timing or unclosed connection

[2020-04-28 18:48] Postremus commented on #8927
Exactly, it does not fix itself.
Waiting does not help.

[2020-04-28 18:50] aguibert commented on #8918
@geoand yep I can look into this one, go ahead and assign to me

[2020-04-28 19:10] geoand commented on #8918
Done

[2020-04-28 19:13] #8919 closed

[2020-04-28 19:26] gsmet commented on #8922
I think a good first step would be to restore the previous behavior for liveness. Then we could add a readiness check.

/cc @gunnarmorling

[2020-04-28 19:47] adrianfiedler commented on #8913
Hi @geoand. I would like to take a look on this.
Should this config be fixed at build time? Or should it be overridable at runtime? For me it's not clear if the config should just intercept invocations, or really prevent them from being created.

[2020-04-28 19:51] geoand commented on #8913
I haven't look at the implementation much, but ideally it should remove as much trace of scheduler as possible.

As for build-time vs runtime, ideally it would be runtime, but if that's not easy to do, I think we could live with build time.

[2020-04-28 20:14] aloubyansky commented on #8899
Here is what I'm seeing running
[code]
[code]

[2020-04-28 20:18] aloubyansky commented on #8899
BTW, I'm not removing my default repo, I added
[code]
to your settings.xml. I only copy `io/quarkus/**` artifacts in there. The rest is downloaded by the Maven build and Quarkus tests.

[2020-04-28 20:18] pedroigor commented on #8508
@stuartwdouglas @Ladicek Please, let me know what you think
 https://github.com/quarkusio/quarkus/pull/8929.

[2020-04-28 20:22] aloubyansky commented on #8899
What is `git log` reporting as the last commit on the branch of Quarkus you tested?

[2020-04-28 20:23] pedroigor commented on #8508
@Ladicek Regarding RBAC. You could use a https://github.com/quarkusio/quarkus/blob/master/extensions/elytron-security-jdbc/deployment/src/test/java/io/quarkus/elytron/security/jdbc/CustomRoleDecoder.java.

Another option is to use an IdP (e.g.: Keycloak [1]), manage roles there, and use `quarkus-oidc` extension in your application.

[1] https://www.keycloak.org/docs/6.0/server_admin/#adding-x-509-

[2020-04-28 20:52] ebullient commented on #8895
As discussed, I preserved the original behavior, which I thought was wonky, too. It's all fixed now. ;)

[2020-04-28 20:59] jeffhubLR commented on #8899
@aloubyansky I need to apologize to you. I cloned your repo, but failed to switch to the appropriate branch. 😊

You will be happy to know that you were correct. **The proposed PR resolves this issue.**
Thank you so much for this, and I'm sorry for any time I took in you re-testing due to my mistake.

[2020-04-28 21:00] aguibert commented on #8925
The spec doesn't say anything about a priority, but it should certainly be deterministic regardless of priorities. I agree with @benneq that the most specific serializer makes sense.

@gsmet go ahead and assign to me and I can investigate further

[2020-04-28 21:04] famod commented on #8899
Good to know that there are others using Quakus in combination with `${revision}`! 😁

[2020-04-28 21:06] aloubyansky commented on #8899
No problem. With this amount of details and the quality reproducer, verifying it was really easy. So thanks for all that and confirming it's worked for you.

[2020-04-28 21:20] famod commented on #8901
FWIW, I'd just like to throw in a bit fat +1 for @pschyma's statement:

[2020-04-28 21:30] famod commented on #8912
FWIW, this could be checked automatically with ArchUnit: https://www.archunit.org/getting-started

[2020-04-28 21:35] aloubyansky commented on #8901
This is a Gradle-only issue, AFAICT.

[2020-04-28 22:10] mklueh commented on #8097
@geoand No I don´t have any reproducer, but I´ve used it the way it is supposed to be used according to the the testcontainers documentation https://www.testcontainers.org/modules/vault/

I´ve now wrapped everything into QuarkusTestResourceLifecycleManager and what I´ve tested so far is working. Will there be an attempt to make it work normally or is it not possible?

[2020-04-28 22:37] aloubyansky commented on #8901
I think it's the same issue as #8845

[2020-04-28 22:45] cemnura commented on #8097
I have had experience with testcontainers in the past with quarkus in a service I developed. Are you developing a test for quarkus? If it is your own project/demo is there a specific reason why you are using `QuarkusTestResourceLifecycleManager`?

I may be in the wrong by not using `QuarkusTestResourceLifecycleManager` in the project. I simply used the annotations documented at `testcontainer` doc

[2020-04-28 23:50] jrongs opened #8932 "Access to public field returns null for Hibernate entity lazy-loaded from polymorphic toOne association"
**Describe the bug**
Since release 1.3.2.Final, I noticed hibernate lazy load is no long working properly in my project.  here is the hierarchy of the entities:

[code]

c.b.a is null, because c.b is a hibernate proxy and it is not getting lazy loaded.   everything worked fine before 1.3.2.Final.

**Expected behavior**
Hibernate lazy load works for all entities.

**Actual behavior**
Hibernate lazy

[2020-04-29 01:16] jrongs commented on #8932
looks like lazy load is not getting triggered when the entity is annotated with:
`@Inheritance(strategy = InheritanceType.JOINED)`

[2020-04-29 05:12] geoand commented on #8097
We might if we have per test application launch

[2020-04-29 05:32] michael-schnell opened #8936 "Support jib "extra directories" feature"
There should be support for the [extra directory](https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#can-i-add-a-custom-directory-to-the-image) feature of jib.

It is often necessary to have some extra files in the container image that are not part of the Java application. An example could be some kind of "wait" script or utility that allows the Quarkus app to wait for a database

[2020-04-29 05:43] michael-schnell opened #8937 "Support jib "container.entrypoint" configuration parameter"
### Description
There should be support for the [container.entrypoint](https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#can-i-define-a-custom-entrypoint-at-runtime) configuration parameter of jib.

Beyond the simple parameter support, it would be nice to have a way to re-use the standard Quarkus entry point as a variable.

Example:
`quarkus.jib.container.entrypoint=/foo/bar/wait

[2020-04-29 05:45] geoand commented on #8936
I think it makes sense. I'll check it out soon.

[2020-04-29 05:57] michael-schnell commented on #8851
Works fine. Tnx.

[2020-04-29 06:15] BastianSperrhacke-Otto opened #8938 "Custom Credential Provider for multistaged apps"
**Description**
Hi guys. First of all: You are doing a good job, I like quarkus and the idea behind.
That's why I am currently playing with it and consider it as a new Techstack for out Microservices.

As I took one of our Java EE Apps and tried to migrate to quarkus I stumpled in a problem:
Currently it seems to be that the jpa connections and connection pools are configured with the application.

[2020-04-29 06:31] geoand commented on #8938
Hi,

Actually it's pretty easy to create your own "credentials provider" (or a more general "configuration provider"), but it does require you writing an extension (which however for what you need to do should be rather simple).

Here are two examples of such extensions:

https://github.com/quarkusio/quarkus/blob/77ce7dc8547b4279805956d8c886c5915a44c185/extensions/spring-cloud-config-client/pom.xm

[2020-04-29 06:48] martinformanko opened #8940 "IntelliJ hangs when debugging quarkus quickstart project"
**Describe the bug**
When I create debug running configuration for maven goal `quarkus:dev` in IntelliJ for the project microprofile-metrics-quickstart and run it, it hangs when trying to close it. Breakpoints seem to be also ignored. I am not sure if this is really quarkus related, I just wanted to ask, if anybody can reproduce. It may be, this started to occur after IntelliJ update to 2020.1

[c

[2020-04-29 06:53] marceloverdijk opened #8941 "Using Java 14 Record causes quarkusDev to hang"
As discussed on the forum it seems when using a Java 14 Record the app hangs during startup.

[code]

When I remove the Java Record it work again.

I encountered this initially using Gradle, but even adding Maven setup to the project I see the same issue.

Attached is a reproducer.

[quarkus-java-record-issue.zip](https://github.com/quarkusio/quarkus/files/4550196/quarkus-java-record-issue.zip)

[2020-04-29 07:00] geoand commented on #8936
Actually I think it makes sense to wait for a new `jib-core` release before adding this. The reason is that the API seems to have a change a bit, so better just use the newest stuff once it's released.

[2020-04-29 07:06] geoand commented on #8941
Thanks for reporting.

Did you perhaps miss something in the reproducer, because it doesn't compile:

[code]

[2020-04-29 07:09] danielpetisme opened #8942 "Liquibase performance improvment"
**Description**
As for now, liquibase is significantly impacting startup and dev mode performance

Based on: https://github.com/danielpetisme/sample-jhipster-quarkus-liquibase
Starup time(dev profile): ~6-7 seconds
Dev mode reload: 3 seconds

My concerns is that liquibase is compromising Quarkus speed promise. Considering a dev using Quarkus for the first time,  he/she won't understand why the dif

[2020-04-29 07:10] marceloverdijk commented on #8941
Ah, forgot to delete the Test. You can delete it safely.

[2020-04-29 07:15] marceloverdijk commented on #8941
I've updated the zip as well.

[2020-04-29 07:16] maxandersen commented on #8927
@stuartwdouglas you asked in zulip if he used Windows 10...he does - is this an issue of windows not agressively closing open connections of sudden killed processes or similar ?

[2020-04-29 07:37] geoand commented on #8941
I can indeed reproduce the problem.

[2020-04-29 07:44] geoand commented on #8940
Hi,

What you are trying to do won't actually work becase `mvn quarkus:dev` launches another different java process for the application (and this is the process you want to connect a debugger to - this is a similar situation to what happens when the Maven surefire plugin is executed).
So you don't want to debug Maven, but instead the java process that the Quarkus Maven plugin launches.
To do that

[2020-04-29 07:44] #8940 closed

[2020-04-29 07:58] geoand commented on #8941
The problem is the old ASM version. We need to get https://github.com/quarkusio/gizmo/pull/36 in order for records to work properly

[2020-04-29 08:09] enesusta opened #8944 "Spring MVC @RequestParam annotation throws NullPointerException on startup"
@RequestParam annotation not working as expected.

If I change any line of code, after hot-reload it is working as expected.But, as you know it isn't possible on production.

I'm using W10 with WSL 1.

Here is my request

[code]

Here is my code

[code]

**Expected behavior**

[code]

**Actual behavior**
[code]

**Configuration**
[code]

**Screenshots**

- On Startup
![Screenshot_32](https://user-

[2020-04-29 08:13] marceloverdijk commented on #8941
Thx, for now I can skip using Records and just create an immutable class with an args constructor.
That way I can move to Records later without much impact.

[2020-04-29 08:14] geoand commented on #8944
Can you please try adding the following maven parameter and giving it a shot?

[code]

[2020-04-29 08:19] geoand commented on #8941
Sounds like a plan.

FWIW, the reason why we haven't merged the PR above is that we are waiting for ByteBuddy to do a new release with ASM 8 support (ByteBuddy is used at build time with Hibernate, so we need to have same ASM version used everywhere).

[2020-04-29 08:19] enesusta commented on #8944
Unfortunately i'm still getting NullPointerException

[2020-04-29 08:20] geoand commented on #8944
Can you please provide a reproducer project that we can use to check?

[2020-04-29 08:23] geoand commented on #8944
Nevermind, I can reproduce this

[2020-04-29 08:25] geoand commented on #8944
For the time being, a workaround would be to use `@RequestParam(name = "name")`

[2020-04-29 08:36] enesusta commented on #8944
Thanks a lot. It works.

[2020-04-29 08:38] geoand commented on #8944
I still want to see why this fail however. I will update this ticket when I have more information.

[2020-04-29 08:44] gsmet commented on #8932
@jrongs could you prepare a simple Maven project reproducing the issue?

/cc @Sanne @dreab8

[2020-04-29 08:47] enesusta commented on #8944
I'd like to know what causes this error. Because we dont need explicit name attribute declaration in traditional spring. Spring declares name attribute of @RequestParam what its actual variable name is.

[2020-04-29 08:47] gsmet commented on #8944
Let's keep it open then. I want to have it on my radar :).

[2020-04-29 08:54] geoand commented on #8944
There must be something wrong in your `pom.xml`, because on a newly generated project

[code]

`@RequestParam` works just fine without having to specify the name.

I was also able to "fix" the issue in the project I was reproducing it by just using the `pom.xml` content that I got from the generated application resulting from the code above.

[2020-04-29 08:54] #8944 closed

[2020-04-29 08:58] gsmet commented on #8944
Maybe an old version of the `maven-compiler-plugin`? `maven.compiler.parameters` is a recent addition.

[2020-04-29 09:02] geoand commented on #8944
Yeah, most likely. In the project I was had reproduced the problem the compiler plugin wasn't even using a version, so it was probably using a very old version.

[2020-04-29 09:10] metacosm commented on #8792
Another question: what should happen in this situation?
[code]

The new style defines an env var coming from a field whereas we still have an old-style definition, defining an env var coming from a direct value with the **same name**. This seems to indicate some user error: re-defining an env variable with the same name in a different way. Should that be raised as an error?

[2020-04-29 09:12] geoand commented on #8792
I believe we should raise an error. Best to be clear and provide actionable information than to end up in a confusing state, especially when mixing old and new style configurations.

[2020-04-29 09:15] metacosm commented on #8792
To be clear, I think that should also be an error when using only one style.

[2020-04-29 09:17] geoand commented on #8792
I don't get that, WDYM?

[2020-04-29 09:20] metacosm commented on #8792
If you do something like (so only using the new style):
[code]
an error should also be raised, which I don't think is the case at the moment, regardless of which style you use.

[2020-04-29 09:21] iocanel commented on #8792
Our goal is to guarantee forward compatibility. So throwing an error feels a little bit off for me.

My preference is the following:

- priority to new style over the old style.
- mixing both styles should be feasible.

which is also the approach we followed for old-style vs new style.

[2020-04-29 09:23] metacosm commented on #8792
I'd argue that the goal should be to improve usability, regardless of how it's achieved. In this case, regardless of which style is used, I believe an error should be thrown when a user redefines an env variable name instead of silently erasing one.

[2020-04-29 09:29] geoand commented on #8792
Here is my take:

* Mixing old and new when it doesn't make sense should throw an error - that way users can migrate quickly to the new config
* Adding seemingly incompatible fields should probably just result in a warning

[2020-04-29 09:35] alesj commented on #4961
I think we add both options/ways -- so we don't make too much assumptions,
one with the prefix and one w/o the prefix.
What you see is the one with prefix -- which is of course not understood by Kafka.

[2020-04-29 09:41] Meemaw commented on #8872
Was this fixed @glefloch ? In that case this could be closed.

Any plan to backport this to 1.4.1 Final @gsmet ?

[2020-04-29 09:59] maxandersen opened #8946 "support/warn if KUBECONFIG has multiple paths"
**Describe the bug**
when having KUBECONFIG like:

[code]

kubernetes client related operations fails siliently and you get "Unknown host kubernetes.default.svc: nodename nor servname provided, or not known"

**Expected behavior**
read the working KUBECONFIG or at least warn.

**Actual behavior**

[2020-04-29 10:02] iocanel opened #8947 "S2i build and self signed certificates"
**Describe the bug**

Performing an s2i build using `mvn clean install -Dquarkus.container-image.build=true` can result is certificate related exceptions, when the server has a self signed certificate.

**Expected behavior**
Build to be triggered or display a warning on how to trust the certificates.

**Actual behavior**

[code]

*Note* We have something similar in the deploy process: https://gith

[2020-04-29 10:08] BastianSperrhacke-Otto commented on #8938
Ok, looks promising. With these config sources (Microprofile, as it seems) it is also possible to inject at startup the correct jdbc connection parameters, right? I#ll give it a try next week.
Thank you.

[2020-04-29 10:10] geoand commented on #8938
Yes, any runtime configuration you could normally inject with `application.properties` (or env vars or java system props), you can inject using this method.

[2020-04-29 10:19] metacosm commented on #8792
Why would we treat differently both cases? In both cases, it doesn't make sense and I'd argue it's even more an error when not dealing with backwards compatibility because you don't have the excuse of having leftover configuration that you haven't migrated yet… :)

[2020-04-29 10:23] geoand commented on #8792
Fair point, but then my take becomes that it should be a warning, not an error.

[2020-04-29 10:33] #8494 closed

[2020-04-29 10:42] Meemaw opened #8949 "kafka.bootstrap.servers not properly propagated?"
**Describe the bug**
It seems that `kafka.bootstrap.servers` is not properly propagated to the underlying systems? I'm trying to configure it through `application.properties`. On service startup I can see a log confirming that this is happening (`kafka:9092`):

[code]

However later I can see logs like this (`localhost/127.0.0.1:9092`). Those start appearing after trying to send messages to `@Chan

[2020-04-29 10:44] geoand commented on #8798
This also requires: https://github.com/dekorateio/dekorate/pull/488

I should have fixed that in the first place... Oh well

[2020-04-29 10:52] geoand commented on #8946
@iocanel are there any utilities in the Kubernetes Client that deal with this or should we just roll something up in Quarkus?

[2020-04-29 10:55] iocanel commented on #8946
No, this is a limitation of the client and needs to be fixed there I am afraid.

[2020-04-29 10:56] mkouba commented on #8753
@adrianfiedler No problem at all. I'm looking forward to your future contributions! :-).

[2020-04-29 10:58] geoand commented on #8946
Are you going to take care of it, or should we engadge the DevTools folks?

[2020-04-29 11:02] #8895 closed

[2020-04-29 11:04] geoand commented on #8947
@iocanel the exceptions should have been handled: https://github.com/quarkusio/quarkus/blob/f3f85159afe3cffccb8637f6591a791cc945644c/extensions/kubernetes-client/deployment-internal/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientErrorHanlder.java

So obviously there is some kind of issue there :)

[2020-04-29 11:07] iocanel commented on #8946
Let's ask Rohan or Marc if the can take care of it.

[2020-04-29 11:07] sberyozkin commented on #8938
If it is for Agroal then it is likely has to be an extension. This issue is probably a duplicate of  the combination of #8826 and #6896 (see comment from Vincent at https://github.com/quarkusio/quarkus/issues/6896#issuecomment-581014674)

[2020-04-29 11:09] geoand commented on #8946
@rohanKanojia can you take a look please?

[2020-04-29 11:09] #8590 closed

[2020-04-29 11:17] mkouba commented on #8913
So first of all I think that it should a _runtime_ config property. Speaking of the functionality we have two options: (1) boolean flag to indicate wheter the scheduler should be started or not, (2) property to delay the start of the scheduler with no delay by default (this would be more flexible but probably not very intuitive).

Therefore, I'd go with a _simple boolean runtime config property_.

[2020-04-29 11:18] metacosm commented on #8792
What's the reasoning behind using a warning and not an error? Genuinely asking because it seems to me that this will result in something that is most definitively not something the user intended. Shouldn't this fails the build so that the error can be fixed instead of risking the warning being ignored and the user realizing at runtime that the configuration is not what they expected? Seems to me t

[2020-04-29 11:19] geoand commented on #8913
+1

[2020-04-29 11:19] rohanKanojia commented on #8946
We will take care of it. Thanks for letting us know

[2020-04-29 11:22] geoand commented on #8792
It just seems wrong to me to hard fail because of such a misconfiguration.
In my view, if the user wants to do something wrong **despite** being told that it probably won't work, then so be it.

If users want to ignore a warning then it's their fault.

Also, let's turn this on its head: If we were to make this an error, what sort of case would you classify as being worthy of a warning?

[2020-04-29 11:22] geoand commented on #8946
Great, thanks

[2020-04-29 11:23] oscarfh opened #8950 "Quarkus should be able to run tests in different folders than the "preset" ones"
**Description**
This issue comes from: [here](https://stackoverflow.com/questions/61299474/how-do-i-configure-quarkus-to-run-tests-in-folders-other-than-test-and-native-te)
I want to separate my unit tests from my integration tests for multiple reasons. To do that, I can add a set sourceSet (in gradle) or similar in maven, but when running the tests, I get this message:

It should be possible to r

[2020-04-29 11:26] machi1990 commented on #8913
Should the QuartzScheduler be created at least? Since it is a bean and can actually be injected?

[2020-04-29 11:32] mkouba commented on #8913
@machi1990 The `QuartzScheduler` bean itself will exist. However, an injection point for `org.quartz.Scheduler` will be `null`.

[2020-04-29 11:33] manusa commented on #8946
What would the preferred behavior be?

As of now I see a couple of corner cases to "read the working KUBECONFIG":
- More than one configuration works
- None works

Maybe pick the first one and show a WARNING like "Detected several configurations in KUBECONFIG environment, using ${firstConfiguration}"

[2020-04-29 11:35] geoand commented on #8946
I think that is a reasonable way to move forward. Also perhaps a message on how users can get rid of the multiple configurations would be nice.

[2020-04-29 11:46] metacosm commented on #8792
That doesn't sound right at all. Developer joy is about being proactive. Not letting people do dumb stuff we know won't work.

Let me ask you the same question: what would be worthy of being an error then? :)

To me, warnings should be reserved to things that **might** be wrong but might also be intended. I don't have such case in mind here.

In the particular case we're discussing, though, this i

[2020-04-29 11:50] #8942 closed

[2020-04-29 11:50] sberyozkin commented on #8915
Hi @paulkmoore I'll a similar section to the OIDC `web-app` page. Perhaps for simplicity, lets cover only `JsonWebToken`

[2020-04-29 11:50] metacosm commented on #8792
To nuance this a bit, I could see it being a warning when a new version replaces an old version (so the migration case) but not when you create a new configuration that has conflicts.

[2020-04-29 11:51] geoand commented on #8792
In my book, a worthy error is something that doesn't let me run my application.

[2020-04-29 11:51] glefloch commented on #8872
@Meemaw, yes I pushed a fix and on my computer the `initalizationError` does not appear anymore. But I'm not sure this fix was actually related to your issue.

[2020-04-29 11:52] geoand commented on #8792
Also from experience so far, users **do** pay attention to warnings

[2020-04-29 12:02] gsmet commented on #8872
The fix will be in 1.4.2.Final for sure.

@Meemaw if you have some time, you can build master with `mvn clean install -DskipTests -DskipITs` and switch to 999-SNAPSHOT. That would be reassuring.

[2020-04-29 12:22] ia3andy opened #8951 "Make it possible to open Quarkus generated app with Eclipse Che"
**Description**
Currently, when opening a raw Quarkus app with Eclipse Che ([hosted](che.openshift.io)), it doesn't detect the type of the project and you can't run anything.

To make it work, either we need to add a [devfile](https://redhat-developer.github.io/devfile/) in the project or they need to add an auto-detection system.

I am creating this issue so we can keep track of it.

I know they

[2020-04-29 12:28] l0rd commented on #8951
@ia3andy I think you are looking for [this Che issue](https://github.com/eclipse/che/issues/15868)

[2020-04-29 12:30] ia3andy commented on #8951
If that's not enough, we could also have an extension for it containing the devfile, once https://github.com/quarkusio/quarkus/issues/8134 is done.

[2020-04-29 12:52] smoell opened #8952 "Error: the trustAnchors parameter must be non-empty"
**Describe the bug**
My Lambda based [example](https://github.com/aws-samples/aws-quarkus-demo/tree/master/lambda) works fine using Quarkus 1.2.1, but after switching to 1.4.1, I receive the error the trustAnchors parameter must be non-empty

**Expected behavior**
Working example without the trustAnchors parameter must be non-empty error

**Actual behavior**

START RequestId: 40cd7978-18ce-41d9-8e

[2020-04-29 13:00] machi1990 commented on #8913
Gotcha, just wanted to be sure if we want it to be `null`.

[2020-04-29 13:11] metacosm commented on #8792
Wouldn't a wrong set of environment variables qualify then? If your app expects some env vars to be set but they're not, your app won't run and might not even deploy. Would you rather wait for the app to be on the cluster to see it fail or fail at build time where you can fix it quickly instead of having to hunt down the cause of the error looking at your pods' logs?

[2020-04-29 13:27] gsmet commented on #8952
@oztimpower would you have some time to look at this one this week? We plan to release 1.4.2 early next week.

[2020-04-29 13:33] geoand commented on #8792
Let's put it this way, currently if I do:

[code]

I won't get an error. I messed up the config and it will clearly never work, but I don't get an error. And I would argue that it's a much more severe error.

So yeah, if we were being super strict about evething then throwing an error would make sense. Given the current state, I think a warning is more than enough.

[2020-04-29 13:47] michael-schnell commented on #8851
Unfortunately I realized that it does not work...

Given I have:
`quarkus.oidc.tenant-enabled=false`

Then I get an exception:
[code]

The problem seems to be related to this method in "DefaultTenantConfigResolver":
[code]

My tenant resolver returns correctly a "newTenantConfig" (it's non-null):
`OidcTenantConfig newTenantConfig = this.tenantConfigResolver.get().resolve(context);`

But the follow

[2020-04-29 13:50] mkouba commented on #8913
@machi1990 So we should probably throw an ISE instead.

@aalmiray ^ another impl note ;-).

[2020-04-29 13:52] metacosm commented on #8792
I beg to differ as I see this is as an opportunity to improve, i.e. because something doesn't fail elsewhere when it probably should, shouldn't cause everything else to follow the same pattern, in my opinion. Otherwise, you're just lowering the bar everywhere.

That said, if folks think a warning is enough, warning it will be! :)

[2020-04-29 14:05] sberyozkin opened #8956 "Support OIDC post logout cookie"
**Description**
When PR initiated logout flow starts and the user is returned to the application specific `quarkus.oidc.logout.post-logout-page` which is not protected by `quarkus-oidc`, the user application should have an option to assert the logout has been started by `quarkus-oidc`.

**Implementation ideas**
Introduce a `q_post_logout` cookie, set a `state` parameter and recommend in the docs t

[2020-04-29 14:09] gsmet opened #8957 "Release Quarkus HTTP 3.0.7.Final and update to it"

[2020-04-29 14:14] maxandersen commented on #8792
about warning and error I follow @metacosm 's concerns and I'm struggling to see why one wouldn't want a hard error (i.e. not see kubernetes extensions try deploy/configuration) in case of duplicate configured variablres.

My only concern is to be sure in devmode it will still survive edits to these.

[2020-04-29 14:14] oztimpower commented on #8952
Yep, I have a few queued up to look at. I’ll prioritise this one tomorrow.

[2020-04-29 14:18] sberyozkin commented on #8915
@paulkmoore That is fine, I believe it is sufficient, I've personally have not seen other contexts used. (These are the 2 contexts which MP JWT 1.2 will formally support so should be enough)

[2020-04-29 14:23] sberyozkin commented on #8915
@paulkmoore FYI, here is what I've added to the `web-app` page, #8955 (see the section about the claims). I don't we have mentioned the contexts before, so lets start it with your PR :-). Please add a small code fragment as is done in #8955 (show the injected jwt token and have some method returning the value of some claim).

Thanks

[2020-04-29 14:31] andreas-eberle opened #8958 "Reintroduce native build configuration via gradle"
**Description**
Before Quarkus 1.4, it was possible to configure certain native build parameters via the gradle build files. E.g.

[code]

This was an important feature for us. We have a monorepo containing several quarkus services. They should all use the same native build configuration (e.g. all should run docker builds and have the http url handler). With Quarkus 1.3 and before, we were able to

[2020-04-29 14:45] miron4dev opened #8960 "An application scoped bean instantiated twice"
**Describe the bug**
I want to create a bean only once during the application lifetime.
I have the next configuration
[code]
and inject `JedisPool` somewhere else.

**Expected behavior**
`JedisPool` constructor is called only once. So, I can guarantee that nobody instantiates this class except this call. Weld (at least `weld-se`) provides exactly the same behavior.

**Actual behavior**
`JedisPool`

[2020-04-29 15:25] ppalaga opened #8961 "quarkus-extension.yaml reference"
It would be nice to have a doc page describing the attributes of quarkus-extension.yaml
Followup https://groups.google.com/forum/#!topic/quarkus-dev/uc3N_cQzG1g

[2020-04-29 15:59] jrongs commented on #8932
@gsmet   thanks for the quick reply.  I have attached a simple maven project to demonstrate the issue.

download, extract, and run the project:
./mvnw quarkus:dev

then run the curl:
curl -v -w "\n" localhost:8080/hello

you'll get the following message:
name: null

in the quarkus console, you'll notice that lazy load never triggered on the "Content" entity:

[code]
working as expected if I remove

[2020-04-29 16:04] metacosm commented on #8792
I've implemented a version that throws an error at the moment, pending a decision.

[2020-04-29 16:06] geoand commented on #8792
I'm not gonna debate this any more, I've been wore down...

Whatever you folks think is best I'll roll with

[2020-04-29 16:07] geoand commented on #8792
@iocanel would you like to do a first review of this?

[2020-04-29 16:27] geoand commented on #8960
I think this is expected due to the creation of a proxy - @mkouba or @manovotn can confirm or deny.

You can use `@Singleton` if you want to not create a proxy at all.

[2020-04-29 16:33] luis-martinez-herrera opened #8962 "Error with Google Firestore client after upgrading to 1.4.1"
**Describe the bug**
After upgrading to version 1.4.1, the Firestore client throws an error.

**Expected behavior**
The Firestore client should work as in version 1.3.2.

**Actual behavior**
Calling the Firestore API throws an error and cancels the request.

**Additional context**
This error occurs at runtime, when executing the query in Firestore.
Version 1.3.2 does not display warning messages.

[2020-04-29 16:35] gsmet commented on #8962
I would bet on a version mismatch between the protobuf version we impose in your pom and the version your component uses.

[2020-04-29 17:14] geoand commented on #8962
Yeah this almost certainly isn't a bug in Quarkus, not least because we don't do anything with `Firestore`

[2020-04-29 17:15] chrigiansen commented on #7293
Hello, I would like to know if there is any roadmap regarding a fix to this issue or if there is any viable workaround

[2020-04-29 17:38] bsamartins opened #8964 "Quarkus AWS attempts resolve dependencies on abstract class"
**Describe the bug**
Quarkus attempts to resolve dependencies on an abstract RequestHandler.

**Expected behavior**
I would expect that dependency resolution would only apply to concrete classes.

**Actual behavior**
Quarkus attempts to resolve dependencies on abstract even if there's no implementation for it.
[code]

**To Reproduce**
Sample code
[code]
[code]

**Environment (please complete the f

[2020-04-29 19:00] pedroigor commented on #8508
@stuartwdouglas I started to integrate Vert.X mTLS into Quarkus security layer.

In addition to a mechanism to obtain the authenticated peer, I also need an identity provider so that we can actually build the identity from the peer's certificate.

A generic implementation of an identity provider would basically build a security identity using the certificate. I understand that users can always mod

[2020-04-29 19:31] luis-martinez-herrera commented on #8962
@gsmet I think you're right, they use an old version in the build.

[2020-04-29 19:31] #8962 closed

[2020-04-29 20:16] #8956 closed

[2020-04-29 20:17] sberyozkin commented on #8851
@michael-schnell Oh sorry, I'll take care of it tomorrow, thanks

[2020-04-29 20:22] marceloverdijk commented on #8941
Just read ByteBuddy did a new release today 💪

[2020-04-29 21:02] debae commented on #8886
If someone else also stumbles upon this issue, I added the following workaround in our project :

[code]

This will copy the empty function.zip that we put in the root of the project in the build folder, and this is where the FunctionZipProcessor will look for the file.
It's silly, but at least you can use the latest version 1.4.1.Final of Quarkus.

[2020-04-29 21:09] mkouba commented on #8960
@geoand is right. For a normal scoped bean a client proxy is always created when obtaining an injectable reference. This behavior is defined by the CDI spec.

AFAIK in `weld-se` (or at least in some versions) the [relaxed construction](https://docs.jboss.org/weld/reference/latest/en-US/html/configure.html#relaxedConstruction) is enabled by default. And it's implemented using `sun.misc.Unsafe#alloc

[2020-04-29 21:11] mklueh opened #8966 "ConfigurationException: URL is not defined for datasource <default> in multi-module Gradle project"
**Describe the bug**
Can´t run @QuarkusTest annotated tests and running into

all the time. The application runs in dev mode without any problems and the datasources are defined. The project is a multi-module Gradle project.

**Stacktrace**

[code]

**Configuration**

main application.properties in my application module. I don´t have any application.properties file in the application test resource

[2020-04-29 21:32] pedroigor commented on #8508
@stuartwdouglas https://github.com/pedroigor/quarkus/tree/issue-8508-mtls.

Please, let me know what you think.

There are some points like:

* In `quarkus-security` we have a `TrustedAuthenticationRequest`. It expects a `String` as a principal. Can't we change to use a `Principal` instead? Or is it fine to just create a specific one that expects a `Principal`?

* Regarding the `IdentityProvider`.

[2020-04-29 21:42] mklueh commented on #8097
Wow, thanks for that hint. I did not know that the order plays a role with annotations. It helped me indeed to go beyond that exception, although I now run into another issue 😄

[2020-04-29 22:20] gsmet commented on #8966
Could you prepare a small reproducer? I think we will need one.

By the way (but I don't think it's related), your config should be migrated to:
[code]

[2020-04-29 22:22] cemnura commented on #8097
Glad I could help 🙂I was amazed as well when the order played a role 👍

[2020-04-29 22:38] gwenneg commented on #8166
@daniel-alonso-sanchez: This issue should be fixed with Quarkus `1.5.0`. You will need to add `quarkus-smallrye-context-propagation` to your project dependencies to enable the context propagation into the cache extension.

[2020-04-29 23:19] manovotn commented on #8960
I agree. This is standard behavior and Weld w/o relaxed construction should give you the same result.

Some of the above suggestions should do the trick.

[2020-04-29 23:54] stuartwdouglas commented on #8508
IMHO It makes more sense to have CertificateAuthenticationRequest as a seperate type, as I am not 100% sure if TrustedAuthenticationRequest is a great design anyway. The idea is to allow an already authenticated user to be loaded from a store, but it has some drawbacks.

I think we should maybe provide an @DefaultBean IdentityProvider, so a user can easily override it. IMHO this is likely to be si

[2020-04-30 02:16] bbcjunior opened #8969 "SSLProtocolException in RestClient invocation when migrating from version 1.2.1.Final to 1.3.0.Final using Proxy"
I have a simple RestClient interface (CDI) called from my resource class that connects to an HTTPS endpoint and it was working fine using proxy connection on quarkus version 1.2.1.Final.

Migrating my app from 1.2.1.Final to 1.3.0.Final (or 1.3.1, 1.3.2 and 1.4), running in Dev mode behind a proxy (working office), starting quarkus locally using:

 -> mvn compile quarkus:dev -Dhttps.proxyHost=mypr

[2020-04-30 02:28] stuartwdouglas opened #8970 "Investigate build time removal of lambdas"
In general lambdas a fairly expensive, each lambda will use at least 1k of memory due to the way they are implemented.

We could look at using bytecode transformers to remove lambdas at build time, so you get the nice syntax without the overhead, the retrolambdas project may be a good place to start with this: https://github.com/luontola/retrolambda/tree/master/retrolambda/src/main/java/net/orfjac

[2020-04-30 04:40] michael-schnell commented on #8851
Just another question: Why is the block with "dynamicTenantsConfig" synchronized? I've seen "dynamicTenantsConfig" is already a "ConcurrentHashMap", so it should be thread safe.

[2020-04-30 04:58] stuartwdouglas commented on #8960
You can probably just use @Singleton instead of @ApplicationScoped.

[2020-04-30 04:58] #8960 closed

[2020-04-30 05:02] michael-schnell commented on #2143
I guess this is solved now and can be closed, as there is now a possibility to create a "main" method:
https://quarkus.io/guides/lifecycle

[2020-04-30 05:36] geoand commented on #8941
Yup, saw that too, so I'll probably be checking it out soon.

[2020-04-30 06:06] geoand commented on #8941
@gsmet I assume we first need I hibernate release to pick up the ByteBuddy change?

[2020-04-30 06:58] serrodcal opened #8974 "Error starting native application container in distroless docker image"
**Describe the bug**
I have an [application](https://github.com/serrodcal/quarkus-architecture/tree/master/quarkus-employee) which I want to build in a distroless Docker image. I follow this [README](https://github.com/quarkusio/quarkus-images/tree/master/distroless#using-the-image) and the container doesn't start.

**Expected behavior**
The container should start fine.

**Actual behavior**
The co

[2020-04-30 07:47] metacosm commented on #8792
Identified a case where a warning make sense (adding several times the same configmap/secret source for example since doing so is idempotent and therefore not liable to cause future issues) so modified the implementation to support this.

[2020-04-30 07:57] crissi98 commented on #8906
I did some research and I was able to solve the issue.

In #8284 you moved the Jar renaming logic from the JarResultBuildStep to the BuildMojo. I was able to fix the issue by moving it back to the JarResultBuildStep. Here are the changes I made: https://github.com/crissi98/quarkus/tree/windows-uber-jar-lock

Could you have a look at this? I don`t know if you want to use this fix since the intentio

[2020-04-30 07:57] machi1990 commented on #5388
@ShubhamRwt thanks for the update. No rush, and take your time.

[2020-04-30 08:01] loicmathieu commented on #8879
I debug this a little more.
In my application, I'm using embedded authentication in dev mode and OAuth2 in production (I assume a lot of people should do the same).
So I have multiple security providers.
And OAuth2 is using an augmentor.

With all this, I discover that Unis are created at each level of the authentication:

- Inside the `HttpSecurityRecorder`
- Inside the `QuarkusIdentityProviderMa

[2020-04-30 08:03] loicmathieu commented on #8586
Fixed as per #8601

[2020-04-30 08:03] #8586 closed

[2020-04-30 08:22] emmanuelbernard commented on #6588
Is that still the security test failing ? We have decided to disable it temporarily.

[2020-04-30 08:33] geoand commented on #6588
The latest failure is because of limited disk space. https://github.com/quarkusio/quarkus-quickstarts/pull/549 should take care of it

[2020-04-30 08:33] maxandersen opened #8975 "have a global default flag for trusting certificates"
**Description**
Today we (so far) have the following properties to indicate if a certain extension should trust-all extension.

[code]

That feels maddening :)

Suggestion is two-fold:

1) have one global property that all of these uses as default.
2) deprecate the above names and use the basename, i.e. "trust-all"  so when searching you can find all the places you can tweak if you want to.

[2020-04-30 08:44] oztimpower commented on #8952
@gsmet To update you, I have been working with @smoell via internal AWS channels. I've spent a few hours going through the example.

The main difference between Quarkus v.1.2.1 and 1.4.1 for the sample project is the different GraalVM, from 19.2.1 to 19.3.1, and as you know 19.3 has SSL related improvement. I'm working with @smoell to get the project more in line with the Quarkus documentation, si

[2020-04-30 09:15] galderz commented on #8651
Issue fixed in GraalVM, so no need for a PR and we can close this issue now.

[2020-04-30 09:15] #8651 closed

[2020-04-30 09:28] famod commented on #8899
Just wanted to mention that I am also affected by this problem. I suppose the PR will also fix it for me/my setup.

Offtopic: @jeffhubLR & @bpechiney in case you also use `flatten-maven-plugin`, this issue _might_ be of interest for you: ["Sporadic dependency errors when building in parallel (mvn -T ...)"](https://github.com/mojohaus/flatten-maven-plugin/issues/143)

[2020-04-30 09:57] #8915 closed

[2020-04-30 09:59] sberyozkin commented on #8719
@wjsgzcn Did you get a chance to enable MP JWT in Keycloak and retry ? Thanks

[2020-04-30 09:59] andreas-eberle opened #8976 "GraalVM 20 native docker build fails for starter project"
**Describe the bug**
I created a new project from code.quarkus.io with gradle and Quarkus 1.4.1.Final. When I run the native docker build with the default GraalVM verison 19.3.1 it works. When I use GraalVM20 it fails very quickly.

See reproducer below.

Exception in log:
[code]

**Expected behavior**
Native docker build should work.

**Actual behavior**
Native docker build with GraalVM 20 fails.

[2020-04-30 10:08] andreas-eberle commented on #8976
I found out that I copied the wrong image name. Sorry for that, was my fault. The correct native builder image obviously is `quay.io/quarkus/ubi-quarkus-native-image:20.0.0-java11`.

[2020-04-30 10:08] #8976 closed

[2020-04-30 10:41] rsvoboda opened #8977 "Quarkus master can't handle space in path for native mode, 1.4.1.Final can"
Quarkus master can't handle space in path for native mode, 1.4.1.Final can handle space in path

Build generates native app but it is not working and immediatelly ends with exit code 1.

Reproducer:
[code]

[code]

[2020-04-30 10:54] tgippi opened #8978 "ClassCastException when using pact-jvm Jupiter extension and @QuarkusTest"
**Describe the bug**
We're using [Pact-JVM](https://github.com/DiUS/pact-jvm) to specify and test consumer driven contracts.
We implement those tests by running Junit Jupiter tests with a combination of `@QuarkusTest` and Pact-JVM Jupiter extensions.

Unfortunately since Quarkus `1.3.0.Final` those tests will fail because of `ClassCastException`.
After a short research I've seen that those excepti

[2020-04-30 11:15] sigmunau commented on #7893
@jmartisk I guess I was a bit optimistic. It's unclear to me whether or not you can call listen() multiple times, but the fact that it has an `actualPort()` method suggests that you can't. So just disregard my implementation suggestion.

[2020-04-30 11:15] geoand commented on #8906
cc @aloubyansky

[2020-04-30 11:24] mkouba commented on #8960
@stuartwdouglas The problem is that @miron4dev would like to use `QuarkusMock` which only works with normal scopes and proxies ;-).

[2020-04-30 11:42] gsmet commented on #8960
And there's absolutely no chance we could implement mocking for singletons?

[2020-04-30 11:44] #8920 closed

[2020-04-30 11:44] geoand commented on #8977
This must have been caused by: https://github.com/quarkusio/quarkus/pull/8907

[2020-04-30 11:48] mkouba commented on #8960
Not with the current test app lifecycle (one app for all tests).

[2020-04-30 11:53] sberyozkin commented on #8975
`trust-all` sounds good. Though it is only a leaf property, I suppose we should encourage OIDC users to do `quarkus.oidc.tls.trust-all` as `trust-all` only makes sense in scope of TLS and there will be more TLS specific properties. Proposal is to have `tls.trust-all` for all the extensions.

[2020-04-30 12:39] davsclaus opened #8980 "quarkus-core - Log in the INFO log (powered by Quarkus) if running in JVM or Native mode"
**Description**
(Describe the feature here.)

When you startup Quarkus it logs when its started and its time it took to startup. This log message is the same whether its JVM vs native mode. It would be good if we could log which mode it runs as, or at least for native log this.

**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design ch

[2020-04-30 12:39] michalszynkiewicz opened #8981 "Pull out gradle wrapper from platform-descriptor-json"
Currently, the `platform-descriptor-json` contains gradle wrapper.
The wrapper does not seem to belong to this jar.

We should pull it out to a separate jar or find a different mechanism to get it

[2020-04-30 12:49] marcinczeczko opened #8982 "vertx-http deployment tests failing on my macOS"
**Describe the bug**
Any unit test using `@TestHTTPResource` annotation that provides an url to be called by Restassured fails with connection timeout.
I investigated the issue for a while and here's what I found:
- With the mentioned annotation HTTP client of rest assured is doing calls agains https://0.0.0.0:8444 or http://0.0.0.0:8081  (depending on test) as it's shown when enabled DEBUG log
[c

[2020-04-30 12:51] #8908 closed

[2020-04-30 13:11] AwesomeIbex commented on #8400
I think this is still an issue, we've updated to 1.4.1 and still having duplicate changelogs.

[2020-04-30 13:17] geoand commented on #8974
cc @cescoffier

[2020-04-30 13:20] miron4dev opened #8983 "Support mocking of @Singleton beans"
**Description**
As a developer, I want to mock `@Singleton` beans.
Sometimes, it's not possible to annotate a bean by `@ApplicationScoped`, e.g. in the case described here https://github.com/quarkusio/quarkus/issues/8960

[2020-04-30 13:23] AwesomeIbex opened #8984 "Liquibase still detects multiple changelogs despite upgrade to 1.4.1"
**Describe the bug**
Copied from previous ticket #8400 :
During startup of quarkus dev mode, Liquibase tries to parse the configured (yaml) file containing the changeLog, this fails due to 2 such files being found in the classpath. This error does not occur in normal mode (running the runner jar).

**Expected behavior**
Liquibase only finds one changeLog file and parses it.

**Actual behavior**
[c

[2020-04-30 13:38] gsmet commented on #8984
@AwesomeIbex AFAICS it's fixed in master. At least with the master I have deployed currently on my laptop.

Will try to test it again with latest master then once I have backported everything we want to backport for 1.4.2.Final and see how it goes.

[2020-04-30 13:40] gsmet commented on #8872
Closing, please reopen if not fixed.

[2020-04-30 13:40] #8872 closed

[2020-04-30 13:41] loicmathieu opened #8985 "mongodb+srv protocol no more working on dev mode since Quarkus 1.3 with Java 11"
**Describe the bug**
SInce Quarkus 1.3, using a MongoDB connection String with `mongodb+srv` didn't work anymore on dev mode.
This work fine when launching the JAR file (native mode didn't works for `mongo+srv`).
This work fine with Quarkus 1.2.
This is a Java 11 and later only issue on dev mode.

Adding the right export to the JVM do the trick but we normally didn't need to as using the JAR file

[2020-04-30 13:44] loicmathieu commented on #8985
/cc @gsmet @stuartwdouglas I fear this is a tricky class loader issue as it works in 1.2 and no more on 1.3, it's a dev mode only issue, and the exception is around not finding some class ...

[2020-04-30 13:50] AwesomeIbex commented on #8984
@gsmet awesome, i'll wait for 1.4.2 :)

[2020-04-30 13:59] #8917 closed

[2020-04-30 14:11] pedroigor commented on #8508
@stuartwdouglas Except for the @DefaultBean, everything is OK.

Do you mean having this default bean specific for certificates or a more generic identity provider implementation?

[2020-04-30 14:11] oztimpower commented on #8964
Do you have a concrete implementation of this abstract class?
"Quarkus attempts to resolve dependencies on abstract even if there's no implementation for it"

Goes without saying it won't work? :)

There is a way to pick this up as part of the build where is scans the classes looking for an implementation of RequestHandler<I, O>, it could also check that the implementing class is not abstract. The

[2020-04-30 14:15] oztimpower commented on #8970
That would be very cool.

Kotlin has functionality to do this I believe, via the "inline" keyword.
https://kotlinlang.org/docs/reference/inline-functions.html

[2020-04-30 14:16] kenfinnigan commented on #8811
For endpoints defined as:

[code]

I've got OpenAPI definition of:

[code]

Is that correct?

[2020-04-30 14:25] smoell commented on #8952
A quick update: I should have spent more time reading the updated documentation :) Thank you @oztimpower , that was really helpful!

[2020-04-30 14:25] #8952 closed

[2020-04-30 15:06] gsmet commented on #8977
@geoand I let you try to fix that one for 1.4.2 as the other fix is planned for backport.

If not in time, I will drop the other commit from 1.4.2.

[2020-04-30 15:14] geoand commented on #8977
I'll take care of it no matter what :wink:

[2020-04-30 15:20] sberyozkin commented on #814
Hi Stephane,

`URI uri1 = uriInfo.getBaseUriBuilder().path(TestEndpoint.class).path(TestEndpoint.class, "testRouter").build();`

can be done as

`URI uri1 = uriInfo.RequestUriBuilder().build();` ?

[2020-04-30 15:24] gsmet commented on #3374
@beikov the extension needs to have a proper `quarkus-extension.yaml` and be added to the platform here: https://github.com/quarkusio/quarkus-platform .

See the already existing ones and also how they integrate their IT into the platform with rpkg.

Also it needs to be part of the Quarkus ecosystem CI so that you and the Quarkus team are notified if master breaks your extension: https://github.co

[2020-04-30 15:24] FroMage commented on #814
Well that's a special case where you make a URI to the current endpoint, and you don't need to change its parameters. But that never happens.

[2020-04-30 15:24] gsmet commented on #3374
It might also be cool to add a guide and a quickstart but this can be done later.

[2020-04-30 15:24] loicmathieu commented on #8985
This is a reproducer that can be used instead of the integration test (this is the integration test with the properties file already updated)
[mongodb-client.zip](https://github.com/quarkusio/quarkus/files/4559267/mongodb-client.zip)

[2020-04-30 15:33] geoand commented on #3374
Sure thing.  @beikov feel to reach out to me for anything you need about ecosystem-ci or Quarkus platform

[2020-04-30 15:42] sberyozkin commented on #814
It is not a special case, I'd've added more paths to the request URI if example a new resource is created, `/resources` -> `/resources/a`, etc.
So you'd like to replace something in say `https://localhost:8080/webapp/router/a`, for example, have `https://localhost:8080/webapp/router/b` instead ?
One way to do it if you know which segment(s) will be replaced, is to do
[code]
This should produce wha

[2020-04-30 15:48] FroMage commented on #814
Well this proposal does away with using paths or classes or methods, and just uses method references: `Router.getURI(Controller::method, "params")` this way you don't have to know what paths the method is using, it will just work. That's much more ergonomic.

[2020-04-30 16:23] gsmet commented on #8985
@stuartwdouglas we had two reports in the last 48 hours so if it's a quick fix, it might be a cool one for 1.4.2.

[2020-04-30 17:22] gsmet commented on #8984
OK, well, the bad news is that it doesn't look fixed in master and it got even worse. I'll let you know how it goes.

[2020-04-30 17:25] gsmet opened #8990 "Gradle build failing with java.lang.ClassNotFoundException: io.quarkus.runtime.generated.Config"
When you take this project https://github.com/gastaldi/liquibase-gradle-bug and try to run `./gradlew quarkusDev` with latest master, you get:

[code]

I got to this when trying to see if https://github.com/quarkusio/quarkus/issues/8984 was still an issue with master but wasn't able to check.

[2020-04-30 17:25] gsmet commented on #8990
@stuartwdouglas @aloubyansky this looks like an important regression and probably something we need to figure out before 1.4.2.Final as it might be related to something we plan to backport.

[2020-04-30 17:35] gsmet commented on #8984
/cc @geoand

[2020-04-30 17:53] geoand commented on #8978
Seems like another manifestation of #8251

[2020-04-30 17:58] ToWipf commented on #6498
My way to stop the application:
[code]

[2020-04-30 18:33] mklueh commented on #8966
Hi @gsmet ,

thank you, I could reproduce the root cause of that issue with your hint. Let me describe:

I was indeed not aware of the changes of the property schema, as you told me I´ve updated my application.properties of my application module. However the error did not go away, as I´m including a shared library with models that has an application.properties file itself with still the legacy sch

[2020-04-30 19:02] #8811 closed

[2020-04-30 19:41] machi1990 opened #8993 "hibernate search auto-indexing strategy not rendered perfectly in generated config doc"
**Description**

Doc generator does not know how to render html table to asciidoc table which makes the rendered output of https://quarkus.io/guides/hibernate-search-elasticsearch#quarkus-hibernate-search-elasticsearch_quarkus.hibernate-search.automatic-indexing.synchronization.strategy

**Implementation ideas**
use the `@ascidoclet` tag with the expected output instead here https://github.com/qua

[2020-04-30 19:44] radcortez commented on #7358
I did find the same issue, until I've realized that Hibernate only runs the import file if the `database.generation` is set to `create`. Not sure if this is the issue of the @kolorobot, but maybe it is.

[2020-04-30 19:46] maxandersen commented on #8981
Why don't we just download it as done before. We can avoid dependnecy of wrapper by just downloading the boot strap when needed.

[2020-04-30 19:59] machi1990 commented on #8836
Fixed by https://github.com/quarkusio/quarkus/pull/8880 we can safely close this one for now.

[2020-04-30 19:59] #8836 closed

[2020-04-30 20:01] famod commented on #8981
Btw, this step in `platform-descriptor-json` failed (and probably still fails) when building Quarkus behind a proxy.

[2020-04-30 20:42] aloubyansky commented on #8981
FYI, it was introduced in https://github.com/quarkusio/quarkus/pull/8706

I think there is a chance to configure the maven plugin downloading the gradle wrapper with the proxy parameters.

[2020-04-30 20:57] gpor0 commented on #6515
+1

It would be useful if we can Inject SSE (SseEventSink) as a bean property and as a method parameter.

[2020-04-30 21:17] gsmet commented on #8274
I'm reopening this one until we have upgraded Reactive Messaging so that we don't forget about it.

[2020-04-30 22:02] michalszynkiewicz commented on #8981
@famod Failure behind proxy is what made me aware of this change.
This Github comment has the solution for it: https://github.com/gradle/gradle/issues/5052#issuecomment-517580162
For now we are working around it by changing the gradle.propertie (as described ^)

However, I don't think gradle wrapper belongs to platform-descriptor-json jar. If we need to have it in our jar, I think we should do it

[2020-04-30 22:02] sberyozkin commented on #8851
@michael-schnell Originally there was a `HashMap` but even after ConcurrentHashMap was introduced we kept the sync block to avoid the redundant connection requests under a high load.

[2020-04-30 22:14] sberyozkin commented on #8851
@michael-schnell I've reproduced. There is a test which checks this flag is effective for the default configuration, but without the multi-tenancy, all the multi-tenancy tests have the enabled default configuration.

[2020-04-30 22:49] aloubyansky commented on #8906
Yes, your changes will lead to JAR locking on Windows. I've verified it again on our TS. I am not yet sure why you didn't see it actually. I'll have a look into your reproducer.

[2020-05-01 00:17] stuartwdouglas commented on #8960
You could do it via a bytecode transformer, basically just add that same client proxy mocking code into all @Singleton beans.

[2020-05-01 02:02] stuartwdouglas commented on #8879
At the moment anything can block, but you need the flexibility of the async API's to enable full async support. The big problem here is that these are supposed to be cheap to create, but including context propagation changes this.

[2020-05-01 02:08] stephane-mori opened #8996 "Quarkus Native Jackson InvalidDefinitionException Cannot find a (Map) Key deserializer for type [simple type, class java.math.BigDecimal]"
Hello,

I tried to use Quarkus to develop a Rest API to generate a PDF from datas from POST payload only. And I have the following exception only when the app run in **native** mode :

[code]

My datas look like this :

[code]

The problem is only when i try to deserialize BigDecimal in the Map.
The problem don't exists in development mode.

How I make my deserialization :

[code]

JSON payload ex

[2020-05-01 02:37] jaikiran commented on #8906
Hello @aloubyansky, I'm just curious - from the linked commit:

Do you know which tools those are and does that concern still hold? Maybe we can just get rid of this whole renaming of jar files during the build process, if those concerns can be ignored?

[2020-05-01 03:04] jaikiran commented on #8982
Taking a quick look at the code, it looks like this value is inferred from the `quarkus.http.host`. If that's not set, it defaults to `localhost`. Within your setup, is `quarkus.http.host` being configured to some value (perhaps `0.0.0.0`)?

[2020-05-01 03:05] stuartwdouglas commented on #8996
Ah, I did not notice that you were returning a Response rather than the object itself.

Can you put an @RegisterForReflection on Invoice, and see if this works?

If you return an Invoice from the controller we will recognise that this needs to be registered for reflection, and we will automatically handle it, if you use response we can't figure this out for you so you need to use RegisterForReflec

[2020-05-01 03:06] jaikiran commented on #8969
Hello @bbcjunior, can you pass along the JVM system property `javax.net.debug` and set it to `all`[1] and get the generated verbose logs? That might help us understand what's going on.
[1] https://docs.oracle.com/javase/8/docs/technotes/guides/security/jsse/ReadDebug.html

[2020-05-01 03:10] jaikiran commented on #8858
Hello @stgiaf, you can create a github repo (under your account) for this reproducer application and point us to that github repo.

[2020-05-01 03:23] stuartwdouglas commented on #8985
So we can't really fix this at the moment until we fix all the broken class loading in Eclipse Microprofile and Smallrye.

Since JDK 9 service loaders in the JDK now no longer follow the delegation model, instead the services in the platform module are directly exposed, which means you need a direct getParent() relationship to the system CL for these to work. If getParent returns null these can't

[2020-05-01 03:53] stuartwdouglas commented on #8985
I might have come up with another workaround, which is to use the platform CL as the parent.

[2020-05-01 04:06] stephane-mori commented on #8996
@RegisterForReflection don't work.

Moreover, I dirty tried to modify my controller :
[code]

I'll create a project with minimum code to reproduce this problem and share it through GitHub.

[2020-05-01 04:15] stuartwdouglas commented on #8996
thanks, I just tried to add a BigDecimal to one of our existing integration tests and it appeared to work, which is why I thought it might just be RegisterForReflection.

[2020-05-01 04:24] stuartwdouglas commented on #8990
Had you built with https://github.com/quarkusio/quarkus/pull/8806 merged? It should have fixed this, running it locally I see the issue reported in #8984, and not this one.

[2020-05-01 04:50] geoand commented on #8906
The renaming is done in order to make Openshift s2i work OOTB

[2020-05-01 05:14] #8845 closed

[2020-05-01 05:14] #8901 closed

[2020-05-01 05:18] geoand commented on #8996
That would be great, thanks.

[2020-05-01 05:29] stephane-mori commented on #8996
I just create a project with minimum code and I reproduce the undesired behavior.
In the example, if we replace BigDecimal by String, all is ok.

https://github.com/stephane-mori/QuarkusJacksonMapBigDecimalKey

[2020-05-01 05:52] stephane-mori commented on #8996
Of course, I tried @RegisterForReflection but it still not work.

[2020-05-01 06:21] stephane-mori commented on #8996
Environment :

Output of uname -a or ver:
Darwin MBP-de-Stephane 19.4.0 Darwin Kernel Version 19.4.0: Wed Mar  4 22:28:40 PST 2020; root:xnu-6153.101.6~15/RELEASE_X86_64 x86_64

Output of java -version:
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment GraalVM CE 19.3.1 (build 11.0.6+9-jvmci-19.3-b07)
OpenJDK 64-Bit Server VM GraalVM CE 19.3.1 (build 11.0.6+9-jvmci-19.3-b07, mixed mo

[2020-05-01 06:55] mklueh opened #8999 ""DeploymentException: No config value of type [java.lang.String] exists for" in multi-module Gradle project"
**Describe the bug**

I was wondering why I never was getting the ConfigProperties and ConfigProperty annotations working in my multi module project, now I found out that ConfigProperty fields cannot be loaded when the child/sub module has an application.properties file itself. It seems to collide or override the values of the application.properties file of the main application module.

**Version*

[2020-05-01 06:56] mklueh commented on #8999
There could also be a relation to this issue https://github.com/quarkusio/quarkus/issues/8966

[2020-05-01 07:00] geoand commented on #8999
Would you be willing to build Quarkus from `master` and try?
There were some changes done (I am thinking of https://github.com/quarkusio/quarkus/pull/8930) that could potentially fix the issue.

[2020-05-01 07:02] geoand commented on #8990
I just tried with the latest master and as Stuart does, I see #8984 not this issue, so I think we can safely close.

[2020-05-01 07:02] #8990 closed

[2020-05-01 07:03] stuartwdouglas commented on #8996
Using `@RegisterForReflection(targets = {Payload.class, BigDecimal.class})` will fix it.

@geoand At the moment RegisterForReflection does not register the heirachy, just the class. Maybe we need a RegisterForSerialization or something that just registers everything.

[2020-05-01 07:04] geoand commented on #8984
I'll take a look.

[2020-05-01 07:09] geoand commented on #8996
I am surprised we don't have something like that exposed TBH - since we do have the backing code to take care of that in https://github.com/quarkusio/quarkus/blob/d86275e89dcea1d8aab7fd6eaaff85f69a873665/core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveHierarchyBuildItem.java (I haven't tried it for this case, but I hope it's smart enough to work out the generics

[2020-05-01 07:12] mklueh commented on #8999
@geoand I´ll try that. What is the best way to proceed after building it? Using the local maven repository or do I have to copy jar files around? What happens with all the other Quarkus dependencies?

[2020-05-01 07:13] stuartwdouglas commented on #8996
That seems like I good idea. I am really surprised this has not come up before.

[2020-05-01 07:14] geoand commented on #8999
Once you build Quarkus from `master` all Quarkus dependencies should be built into your local maven repository.
Then simple use `999-SNAPSHOT` as the quarkus version and `quarkus-bom` instead of `quarkus-universe-bom`.

This assumes you aren't using anything from the Quarkus platform (like Came; Quarkus).

[2020-05-01 07:15] geoand commented on #8996
Indeed yes. I'll take care of it later on today, I need to look at the liquibase issue first.

[2020-05-01 07:17] geoand commented on #8996
Just looking at the code, it seems like generics should be handled properly as well, so I think it should be a super simple change.
I'll do that later and add a test similar to the reproducer.

[2020-05-01 07:19] mklueh commented on #8999
Cool, thanks. I´d assume this is the right config then?

[2020-05-01 07:23] geoand commented on #8999
Best use `quarkusPlatformVersion=999-SNAPSHOT` as well

[2020-05-01 07:26] mklueh commented on #8999
Alright. Maybe this should be part of the contribution guide?

[2020-05-01 07:28] geoand commented on #8999
That's a good idea!

Would you like to submit a Pull Request adding that information?

[2020-05-01 07:28] stephane-mori commented on #8996
Thank you very much :)

[2020-05-01 07:37] machi1990 commented on #8996
This is what I thought also, could it be because `java.` classes are ignored ?
https://github.com/quarkusio/quarkus/blob/d86275e89dcea1d8aab7fd6eaaff85f69a873665/core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveHierarchyBuildItem.java#L71 and https://github.com/quarkusio/quarkus/blob/a3ee2d89c27b041683e1413258be67a82ae999cc/core/deployment/src/main/java/io/quarku

[2020-05-01 07:41] geoand commented on #8996
That's probably an additional thing to deal, however the basic issue is that `@RegisterForReflection` doesn't involve the hierarchy at all: https://github.com/quarkusio/quarkus/blob/5257fd855f44d1389e110bfc74303d835d0a3c05/core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterForReflectionBuildStep.java#L30

Adding the property we discussed about above is the first order of business. T

[2020-05-01 07:43] geoand commented on #8984
Problem seems to be more general, Liquibase is just running into it. See attached screenshot from the debugger:

![Screenshot from 2020-05-01 10-42-48](https://user-images.githubusercontent.com/4374975/80790849-9c317c00-8b98-11ea-93c9-a477086512b7.png)

[2020-05-01 07:45] machi1990 commented on #8996
I agree with you here.

Also, another interesting thing, using the `quarkus-resteasy-jsonb` extension instead of `quarkus-resteasy-jackson` seems to work fine without the need for `@RegisterForReflection`.

[2020-05-01 07:56] geoand commented on #8996
For the same application you mean? That is very odd.

[2020-05-01 08:08] mklueh commented on #8999
@geoand I would, but it´s not working for me.

The Quarkus build was successful but I´m running into this when running the tests after I´ve dropped a lot of dependencies out of my project that weren´t found as well

     Required by:
         project :common-base

     Required by:
         project :common-base

All of these dependencies are not found anymore now

[code]

I´ve also changed the ord

[2020-05-01 08:13] geoand commented on #8999
Here is what I am using in a test gradle project:

`setting.gralde`:

[code]

`build.gradle` (not complete):

[code]

`gradle.properties`:

[code]

[2020-05-01 08:24] mklueh commented on #8999
Thanks, I was missing the mavenLocal() in the build.gradle and it´s starting now, but the "No config value exists" issue is still there.

[2020-05-01 08:26] geoand commented on #8999
cc @aloubyansky

[2020-05-01 08:43] Postremus opened #9001 "Slow Dev Mode Startup"
**Description**
I am currently trying to migrate a rather large wildfly 10 application to quarkus.
* The app consist of  more than 50 jpa entities.
* About 400 ApplicationScoped beans.
* It is a multi-module project. About 87 modules of my 150 modules are used inside the application.
* Overall, I have about 2200 java files in my project. Some of them are automaticly generated using jpamodelgen, or

[2020-05-01 08:47] Postremus commented on #9001
Relates to this discussion in the mailing-list: https://groups.google.com/forum/#!topic/quarkus-dev/Lz7SvD0ANrQ

Relates to this zulip chat: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Slow.20Dev.20Mode.20startup

[2020-05-01 09:02] geoand commented on #8984
I looked into this and the problem seems to be a combination of:

* `RuntimeUpdatesProcessor.checkForFileChange` copying resources into the classes output (build/classes/java/main/)
* `Quarkus Runtime Classloader` obviously loads the resource from that location, but we have `Quarkus Base Runtime Classloader` which also loads the resource from `build/resources/main/db/changeLog.xml`.

I don't know

[2020-05-01 09:05] loicmathieu commented on #8879
@stuartwdouglas when digging an allocation profile, I saw that a lot of allocations are done loading the transaction manager inside context propagation, I can count multiple hundreds on them.
And it's not allocation free.
Maybe we can do something for this ?
See the attached part of the profile.
![context-propagation-tm](https://user-images.githubusercontent.com/1819009/80795024-aacd6280-8b9b-11ea

[2020-05-01 09:22] akoufa opened #9003 "Resteasy and Kotlinx Serialization"
**Description**

Hello to all. If I am not mistaken, currently the only way to automatically serialise and deserialise objects that we receive/send in the Resteasy HTTP endpoints is using either JsonB or Jackson. I would therefore kindly ask if the default Kotlin serialisation way of using [kotlinx.serialization](https://github.com/Kotlin/kotlinx.serialization) is planned to be supported by Quarku