[2020-02-28 12:31] rsvoboda commented on #5556
@cescoffier / @pmlopes is there any progress with this issue ?

[2020-02-28 12:34] mkouba commented on #7472
Now I'm really confused ;-). A template doesn't have to be located in `templates/tags/` in order to be used for template inheritance. However, if you want to extend a template located in a nested directory (and it's not a tag) you'll have to use the path relative to `templates/`, ie. `myIncludes/base` if the `base.html` is located in `templates/myIncludes/base.html`.

It would be super helpful if

[2020-02-28 12:35] rsvoboda commented on #6458
@Sanne, did you have chance to look into this area ?

[2020-02-28 12:38] emmanuelbernard commented on #7462
Also was mentioned that versioned entities were forcing version changes even if no change was actually real.

[2020-02-28 12:47] sberyozkin commented on #7481
@Karm

OK, makes sense

[2020-02-28 13:03] sberyozkin commented on #7414
@DorianMaliszewski thanks, it makes sense. But if we can offer some OOB support for associating such custom tickets with the channel then it would simplify things a bit, the developers would only be concerned then with checking the actual ticket (which can be the original bearer token after all :-)) but I don't know much about the mechanics of how `ws:` is supported right now, lets wait for Stuart

[2020-02-28 13:59] pedroigor commented on #7414
That is an interesting discussion :)

I would say that the approach @DorianMaliszewski is proposing is pretty much based on the concept of a CSRF token. Where I think CSRF is the main type of attack you may want to protect your application against (e.g.: cookies as mentioned before, are vulnerable).

As such, by issuing this intermediary token you are basically giving to your clients a unique and

[2020-02-28 14:32] DorianMaliszewski commented on #7414
@pedroigor
Thank you to take part of this discussion. So IYO it's better to authenticate/authorize a user through basic authentication when initializing the ws ?

[2020-02-28 14:33] mkouba commented on #7472
Draft PR https://github.com/quarkusio/quarkus/pull/7476 updated - removed the inconsistency.

[2020-02-28 14:40] fishb6nes commented on #7472
[reproduce-quarkus-7472.zip](https://github.com/quarkusio/quarkus/files/4267529/reproduce-quarkus-7472.zip)
The reproducer was created with the default settings from https://code.quarkus.io/, all I added was the Qute dependency.
Running the project via `mvnw quarkus:dev` and accessing `localhost:8080/tagsDetail` it works fine, but accessing `localhost:8080/detail` (which depends on a base template

[2020-02-28 14:40] mkouba commented on #7472
Thanks! I'll take a look asap.

[2020-02-28 14:48] fjuma commented on #7481
@Karm Elytron's ACME client SPI is provided by the `org.wildfly.security.wildfly-elytron-x500-cert-acme` artifact. The `AcmeClientSpi` class can be found here:

https://github.com/wildfly-security/wildfly-elytron/blob/1.x/x500/cert/acme/src/main/java/org/wildfly/security/x500/cert/acme/AcmeClientSpi.java

Notice that there are two abstract methods in the above class: `proveIdentifierControl` and `

[2020-02-28 14:53] pedroigor commented on #7414
If it works, I would say is better than having the token as a query param.

[2020-02-28 15:12] mkouba commented on #7472
So I can confirm that your reproducer fails with quarkus 1.2.1 and I've identified the problem - you're right and even the `IncludeTest` was wrong ;-). The problem should be fixed in my PR. It would be great if you could review/test it too.

Note that after this change the only way to use a tag as the base template would be to use the path relative to `templates/`, ie. something like `{#include ta

[2020-02-28 15:22] geoand commented on #6588
RSS tripped again...

[2020-02-28 15:24] galderz commented on #7422
The eagerness of points to analysis means that every possible `PriviledgedAction.run()` calls are inspected and that's leading to some paths that do not seem to happen at runtime. Graal team is looking to avoid this. This [PR](https://github.com/oracle/graal/pull/2194) contains a fix I considered but even though it's not the correct fix, the Quarkus native testsuite passes. So, if you need a tempo

[2020-02-28 15:24] johnaohara commented on #6588
@geoand just seen these messages, looking at the history, 25MB was as a high water threshold based on testing in our lab.  I will make the rss more robust by constraining the number of threads etc as that has an impact om RSS size, and we don't know the underlying architecture of the CI machines

[2020-02-28 15:26] geoand commented on #6588
Thanks @johnaohara !

[2020-02-28 15:53] emmanuelbernard commented on #7462
I tried a minimal project to reproduce what you saw especially the version bump.
But I cannot reproduce https://github.com/emmanuelbernard/quarkus-issue-7462

[2020-02-28 16:01] maehld opened #7491 "Cannot disable Keycloak policy enforcement for root path"
**Describe the bug**
I want to implement a Quarkus application that hosts its SPA at / and its API at /api. I also want to use Keycloak for controlling API access. When I create an application.properties file like this, it ignores the root path configuration. It is working perfectly for the specific paths. Removing the * does not help. It seems as if specifing a root path is not working.

quarkus.

[2020-02-28 16:08] sberyozkin commented on #7491
@pedroigor Hi Pedro, do we need a path selection algorithm/property here when multiple paths are overlapping ?

[2020-02-28 16:46] jaikiran commented on #7469
The `org.jboss.logmanager.formatters.JsonFormatter` which is used in the recorder of `quarkus-logging-json` extension, is a class that's part of the `org.jboss.logmanager:jboss-logmanager-embedded` artifact/jar. It so happens that this specific artifact is marked as "parentFirst" here[1]. So when Quarkus runtime classloader tries to load the `JsonFormatter` it gives preference to the parent classl

[2020-02-28 16:49] fishb6nes commented on #7472
Awesome! I should be able to take a look tonight.

[2020-02-28 16:50] gsmet commented on #7469
/cc @stuartwdouglas

[2020-02-28 16:59] azzazzel opened #7492 "JDBC resources leaked when using `PanacheQuery<Entity>.stream()`"
### Describe the bug
I have a method like this one:

[code]

When executed, the following warning is printed in the logs:

[code]

If I change the method code to look like this:

[code]

then there is no warning in the logs.

Judging from the above, **it seams to me that the implementation of `stream()` method of `PanacheQuery<Entity>` does not handle DB resources properly**. According to https://

[2020-02-28 17:30] #7472 closed

[2020-02-28 18:11] dmlloyd opened #7493 "SO_REUSEPORT is not handled correctly"
**Describe the bug**
The Quarkus Vert.x configuration is mishandling `SO_REUSEPORT`.  It is being treated as if it were just a switch you can throw on a socket and get some effect, but this is not the case.  This option requires correct handling, and furthermore we should always be enabling it because it can substantially impact performance.

**Expected behavior**
When `SO_REUSEPORT` is active (wh

[2020-02-28 18:15] oztimpower commented on #6041
Please see my unit tests in the repository below.

https://github.com/oztimpower/kotlin-lambda.git

Where it fails is where I've leveraged the Quarkus Lambda integration test, LambdaClient.invoke.

[2020-02-28 18:17] #7365 closed

[2020-02-28 18:32] gsmet commented on #5640
I think it would be nice to expose an option for that. @fhmwong any chance you could have a look?

[2020-02-28 18:39] gsmet commented on #5675
@fmhwong if you have access to a Windows machine, it would be nice to test a couple of examples on Windows with GraalVM 20 and see how it goes.

[2020-02-28 18:40] fmhwong commented on #5640
sure

[2020-02-28 18:41] fmhwong commented on #5675
I have access to Windows machines and I can take a look.

[2020-02-28 19:28] AceHack commented on #7175
Where can we see a real techempower benchmark?

[2020-02-28 20:14] mklueh commented on #7365
@aloubyansky No problem, thanks for helping that quickly. I'm looking forward to the next release :)

[2020-02-28 20:30] sberyozkin commented on #7414
Hi Pedro, thanks for the feedback :-). Speaking of that, a smallrye-jwt user has opened a discussion about DPoP :-). Looks like we agree there should be a way of associating the ticket with the ws channel (so that it can really start acting as CSRF token, that was a helpful analogy)...

[2020-02-28 20:39] aloubyansky commented on #7426
Looking more into this I think we'll need some more refactoring. So I'll postpone it a bit.

[2020-02-28 20:44] sberyozkin commented on #6105
@stuartwdouglas Well, I don't know how this can be done without those constraints. For example, if we try to check the custom `SecurityContext` at the end of the pre-match chain then we'll miss the filter shown above by @wfrank2509 as it runs in the post match chain. And there would always be a risk, without the priority constraints, that some custom filter will run just in front of our filter.
If

[2020-02-28 21:05] pedroigor commented on #7414
@sberyozkin Nice to hear. We should also start looking at that in Keycloak.

[2020-02-28 21:44] famod commented on #5675
GraalVM 20.0.0 seems to have fixed this issue!

I am now getting past that point, but running into https://github.com/oracle/graal/issues/1160:
[code]

[2020-02-29 01:25] gdoenlen commented on #5675
I can confirm that it still does not work on windows with Graal 20.0 and Quarkus 1.2.1.Final with the default project generated from quarkus.io.

[code]

[2020-02-29 04:00] KaenDagger commented on #5267
Tag line `:: Quarkus:: 1.3.0.Final` was inspired from spring banner.

Regarding banner text `:: Quarkus >>`  originally I wanted rocket in which qurakus is written .
So banner idea According to me was a `rocket with Quarkus written inside it`. Rocket represented speed and powerful.

But I was unable to make that ASCII art properly

[2020-02-29 04:05] KaenDagger commented on #5267
@emmanuelbernard
I suppose original concerns are addressed.
- Banner text could be overriden.
- Below banner , a line `:: Quarkus :: ${project.version}` is there .

[2020-02-29 06:50] csotiriou commented on #6522
Hello,
If https://github.com/resteasy/Resteasy/pull/2268 is contained in Resteasy 4.5.1, then yes, probably it will be fixed.

[2020-02-29 07:09] maxandersen commented on #5267
@KaenDagger  the ask is to make the label "Powered by Quarkus {version}"

Ignore my suggestion on putting appname and tagname overrides in.

[2020-02-29 12:43] CrystalMethod opened #7495 "Constructor Injection in secured JAX-RS resources leads to exception"
**Describe the bug**
Constructor Injection in secured (`@Authenticated`) JAX-RS resources leads to exception.

**Expected behavior**
Constructor Injection should also work for secured JAX-RS Resources.

**Actual behavior**
[code]

**To Reproduce**

[code]

[code]

But Field Injection works as expected for secured resources:

[code]

**And Constructor Injection even works as expected for unsecured

[2020-02-29 12:56] CrystalMethod commented on #7495
relating to #6722?

[2020-02-29 14:50] Frintrop opened #7496 "dekorate will not generate kubernetes/knative resource without quarkus-resteasy dependency"
if  you inlude

[code]
without
[code]

dekorate will not be registered and no kubernetes/knative resources will be generated.

[2020-02-29 21:23] garethahealy commented on #6531
@andreas-eberle ; hopefully this helps:

install-graal.sh
`
#!/usr/bin/env bash

echo "Downloading GraalVM"
wget -q https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-19.3.1/graalvm-ce-java8-linux-amd64-19.3.1.tar.gz
tar zxf graalvm-ce-java8-linux-amd64-19.3.1.tar.gz

echo "Installing GraalVM via gu"

${CI_PROJECT_DIR}/graalvm-ce-java8-19.3.1/bin/gu install native-image
`

.gitlab-c

[2020-02-29 21:25] garethahealy commented on #6531
@gsmet ; happy to raise a PR if you can suggest where it should live.

[2020-03-01 08:24] SR-Lut3t1um opened #7499 "Remove usage of deprecated funtions"
I ran a build and saved the log into a file. Searching through the file I founf 938 uses of deprecated functions. We sould start fixing these usages, to ensure a more futureproof codebase.

[2020-03-01 08:25] SR-Lut3t1um commented on #7499
Buildlog:

https://gist.githubusercontent.com/SR-Lut3t1um/9e1e4ffe55586186f0a03f0e6f0689d3/raw/c2367fd65fcacfdbfe338a14775d899f73f12b35/gistfile1.txt

[2020-03-01 08:28] geoand commented on #6588
The Hibernate Search Quickstart is failing:

[code]

I'll take a look eitheri tonight or tomorrow morning if no one beats me to it

[2020-03-01 11:29] masini commented on #7462
It tooks me hours to clean as much as I could from the original project with many submodules and classes, now it has only 70 classes and tests to reproduce the problems.

[test-case-jpa.zip](https://github.com/quarkusio/quarkus/files/4271708/test-case-jpa.zip)

To reproduce unzip the attached "reproducer" and from project dir:

`./mvnw test`

This should run two tests:

- TestBarLayoutService.test

[2020-03-01 11:30] masini commented on #7462
Added a reproducer to the issue.

Hope this helps.

Il giorno ven 28 feb 2020 alle ore 16:53 Emmanuel Bernard <
notifications@github.com> ha scritto:

--
****************************************
http://www.lucamasini.net
http://twitter.com/lmasini
http://www.linkedin.com/pub/luca-masini/7/10/2b9
****************************************

[2020-03-01 11:34] chrisgleissner commented on #2835
This is currently a blocker for us. Is any work planned on this?

[2020-03-01 11:38] chrisgleissner commented on #2759
This would be a crucial feature for us to love away from Wildfly.

[2020-03-01 11:49] chrisgleissner commented on #5118
You may want to have a look at Lombok which means you can simply add an @SLF4J annotation to your class and a log field will be automatically created during compilation. This is even easier and requires less boiler plate than the suggested approach. I have been using this for a few years now across various frameworks and it works just fine with Quarkus. Plus, no additional library is required at r

[2020-03-01 12:55] dmlloyd commented on #5118
The amount of boilerplate is quite small; it's usually recommended to create a static final field for your logger. Is there some use case that cannot be solved this way?

[2020-03-01 13:12] geoand commented on #7496
Quarkus only generates Kubernetes resources for http based services. If you don't include `quarkus-resteasy` but include `quarkus-vertx.web` it will still generate them.

This is by design. When the ability to run simple command line applications lands in Quarkus, we should revisit this

[2020-03-01 13:12] #7496 closed

[2020-03-01 13:12] geoand commented on #7496
cc @iocanel

[2020-03-01 14:15] BigFatDog opened #7500 "Best Practice for writing reactive rest endpoint"
I'm writing a reactive rest endpoint that gets data from `mongodb`.

I have read related tutorial and sample code from `Quarkus`. I'm still confused and want to know if my understandings are correct:

The code below is slightly modified from `quarkus quickstart`:

[code]
1. Both `@Path` and `@Route` work for reactive rest endpoint, the difference is `@Route` implicitly indicates the implementation

[2020-03-01 16:54] jorsol opened #7502 "Invalid JWT token is not mapped to UnauthorizedException"
**Describe the bug**
Using smallrye-jwt extension and configure the validation of JAX-RS endpoints with the annotation `@Authenticated`.

I want to use custom error messages for all the errors in JAX-RS, so I implement a Provider for `ExceptionMapper<UnauthorizedException>`, this mapper return a JSON response.

Sending a request without the Authorization token header returns correctly the JSON rep

[2020-03-01 17:19] Sanne commented on #2835
yes, of course we'll implement this. Sorry it's taking some time: several other issues are pre-requisites to be able to do this.

[2020-03-01 17:33] shvyrev commented on #7120
@manovotn Yes. U a right. For using Hibernate/Panache u have to use SQL storage. Like Postgre, or MySQL.
In Quarkus U can use application properties for it. Pls see this [link](https://github.com/shvyrev/quarkus-tutorial-bugfix/blob/master/src/main/resources/application.properties#L4-L9)

[2020-03-01 17:36] shvyrev commented on #7120
@FroMage Tell me please, are you still busy?
We need your help.

[2020-03-01 17:48] shvyrev commented on #7120
@manovotn
First of all, I recommend to read messages history. Errors remained the same.
After you finish connecting to database, please check requests ["${HOST}/hello/v1/people"](https://github.com/shvyrev/quarkus-tutorial-bugfix/blob/a877999a0540834bfe4441d8f13dd066b0f17fe5/src/main/java/org/acme/ExampleResource.java#L54)  and ["${HOST}/hello/v2/people"](https://github.com/shvyrev/quarkus-tutoria

[2020-03-01 18:00] shvyrev commented on #7120
@gastaldi

Good evening.

I see that PR is 20 days old.
Maybe of course I'm doing something wrong. I'm just a man, I tend to make mistakes. But code was copied from [tutorial](https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/context-propagation.adoc#usage-example-for-completionstage). I'm sorry, but I have't enough skills to resolve PR myself.

Just write please, what else c

[2020-03-01 19:29] sberyozkin commented on #7502
@jorsol Thanks, we have a number of issues related to the fact the security layer operates before the JAX-RS chain has even started. One idea would be to have an option for the security layer to start as a JAX-RS filter

[2020-03-01 19:31] sberyozkin commented on #6747
I'm going to look at the workaround in Quarkus itself

[2020-03-01 22:38] stuartwdouglas commented on #7481
Something to bear in mind is that there are challenges around this with container based/cloud native scenarios. In particular you need to be sure that the same node handles the challenge, and you need some way of updating the cert in a persistent way for all instances. Really what this means is some kind of shared persistent store to store the certificates and challenge info.

[2020-03-01 22:45] gwenneg commented on #7269
I tried building Quarkus with GraalVM `20.0.0` and both Visual Studio Community 2017 and 2019 (including all C++ components) but never got past an error about a missing `unistd.h`. There are several GraalVM issues (some are open, others are closed) that mention this issue but I couldn't find any solution so far...

Do you have an idea about what could be the problem on my Windows environment? This

[2020-03-02 00:42] banshay commented on #7158
For me, the same thing happens without minikube installed. Just setting up a project and running `mvn package -Pnative -Dquarkus.native.container-build=true` fails with the exception
`Caused by: java.nio.file.NoSuchFileException: /project/PROJECT_NAME_VERSION.jar`

[2020-03-02 01:18] iwangxiaodong commented on #7269
@gwenneg

Write text file can fix missing unistd.h :

C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\14.16.27023\include\unistd.h

#ifndef _UNISTD_H
#define _UNISTD_H
#include <io.h>
#include <process.h>
#endif /* _UNISTD_H */

[2020-03-02 03:51] AmsterdamFilho opened #7503 "ConversationScoped in Quarkus"
**Description**
It would be nice to get ConversationScoped working in Quarkus. Suppose I want to get the token from a request in my rest endpoint by implementing ContainerRequestFilter, create a permission object from it, and then create a producer so that any service class can inject it. The producer could simply be annotated with ConversationScoped. The permission object could be accessed anywhe

[2020-03-02 07:12] geoand commented on #6588
The broken Hibernate Search quickstart should be fixed by #7504

[2020-03-02 07:22] geoand commented on #6041
Thanks, I'll take a look

[2020-03-02 07:27] ia3andy commented on #7158
@geoand any thoughts?

[2020-03-02 07:29] geoand commented on #7158
Building a native image with any docker daemon other than the localhost daemon will fail because the jar is built locally, not on whatever host the daemon is running

[2020-03-02 07:31] ia3andy commented on #7158
Ok then, should we close this as a "wont fix"? (or is this something we should cover)?

[2020-03-02 07:32] geoand commented on #7158
We should probably close since it's a duplicate of https://github.com/quarkusio/quarkus/issues/1610

[2020-03-02 07:37] #7158 closed

[2020-03-02 07:46] stuartwdouglas commented on #6105
Actually it looks like this can only be set in pre-match, so your approach should work fine. I was thinking we could just do some RESTEasy magic to update the current security identity when it was set your filter approach is likely a lot simpler and does not require and changes to RESTEasy.

[2020-03-02 07:57] ppalaga opened #7505 "Enforce dependencyConvergence in quarkus-bootstrap-core"
The dependency tree of `quarkus-bootstrap-core` contains several versions of `wagon-provider-api` which pops us in Camel Quarkus because we enforce dependencyConvergence:

[code]

The simplest fix that solves our problem is to replace

[code]

with

[code]

in `independent-projects/bootstrap/core/pom.xml` see https://github.com/quarkusio/quarkus/pull/7506 .

Should we not introduce `dependencyConv

[2020-03-02 08:11] mkouba opened #7507 "ArC - register client proxies and subclasses for reflection if needed"
Currently, client proxies and subclasses are not registered for reflection. However, sometimes it could be useful to be able to pass a client proxy/subclass of a bean into a third-party library that makes use of reflection at runtime, e.g. to serialize a bean instance to XML/JSON/etc.

The simplest possible implementation would be to register the generated classes if the bean class declares `@Regi

[2020-03-02 08:12] mkouba commented on #7507
FYI @manovotn

[2020-03-02 08:12] mkouba commented on #7507
https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Native.20reflection

[2020-03-02 09:09] emmanuelbernard commented on #5267
Right and figuring out how we can make this on by default.

[2020-03-02 09:14] geoand commented on #6041
@oztimpower would you like to take a look at: https://github.com/quarkusio/quarkus/pull/7508 ?

With that change and this diff:

[code]

The tests pass

[2020-03-02 09:19] andreas-eberle commented on #6531
@garethahealy: I was actually able to use the `image: oracle/graalvm-ce:19.3.1-java11`, which has graalvm installed and configured.

Unfortunately, I still haven't found an good way to run the native build as dockerbuild inside gitlab. However, this might also have to do with our Gitlab instance making this a bit tricky. So I cannot really judge that.

[2020-03-02 09:35] loicmathieu commented on #7500
In the upcomming 1.3 release, a reactive MongoDB with Panache will be integrated, it will be a lot easier to develop application accessing MongoDB with it.

With the current version, you should use the `ReactiveMongoClient` to be fully reactive.

For the question `@Route` versus `@Path`, as I understand it `@Path` is for REST service via Resteasy and `@Route` is for reactive route via Vert.X so it

[2020-03-02 09:43] loicmathieu commented on #7492
@azzazzel the WARN log is new to 1.0.0.CR1 (new version of Agroal) but the root cause is that the `stream()` method needs a transaction.

If you manage the transaction by yourself, maybe there is something wrong at this level, cannot say anything without the full source code but if it's on a separate thread you may need some sort of context propagation.

If possible, the best is to do transaction

[2020-03-02 09:55] manovotn commented on #7507
That's good starting point, but it's not 100% (not that I would know how to make it always work apart from always having reflection access which defeats the purpose).

Also, this is fine for proxies, how about interceptor subclasses? For something like intercepted dependent bean, we will need to register the subclass as well. However, a subclass consumed only by proxied beans wouldn't need it, rig

[2020-03-02 10:01] mkouba commented on #7507
Sure it's not. It's the "simplest" solution...

An intercepted dependent bean does not have a client proxy. That's why we need to register the generated subclass as well. Also a user can obtain a subclass instance directly from the context (or via `ClientProxy#arc_contextualInstance()`).

[2020-03-02 10:05] manovotn commented on #7507
Yeah, that's what I said. My point was, if we were able to say that some subclass is only used for normal-scoped (e.g. proxied) beans, you needn't register that for reflection. But I am probably overthinking it.

[2020-03-02 10:08] mkouba commented on #7507
You need to, because a user can "unwrap" the proxy.

[2020-03-02 10:26] azzazzel commented on #7492
Thanks @loicmathieu  for your quick response.

I understand that `stream()` method needs a transaction. The problem is there is one. I changed my code to this:

[code]
And I see this in my logs:
[code]

As far as I can tell
 - there is a transaction in place and it is ACTIVE
 - both my code and `stream()` are executed by the same thread

Am I missing something obvious here?

[2020-03-02 10:30] jamesnetherton opened #7509 "Undertow websockets extension does not register service provider for javax.websocket.server.ServerEndpointConfig.Configurator"
In native mode, when connecting to web socket endpoints that were configured programmatically (E.g a class that extends `javax.websocket.Endpoint`). I get the following exception:

[code]

It seems that the service provider for `javax.websocket.server.ServerEndpointConfig$Configurator` is not available.

If I hack the following build step into the `undertow-websockets` extension, the problem seems

[2020-03-02 10:58] geoand commented on #7495
Thanks for reporting!

This is not related to  #6722, it's different. I'll take a look.

[2020-03-02 11:02] azzazzel commented on #7492
Easy way to reproduce:

1) get the [hibernate-orm-panache-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-orm-panache-quickstart)
2) add the following to `FruitResource`

[code]

3) run dev mode and go to `localhost:8080/fruits/called/a`

I personally see no reason why such code should result in warning. But as I said I may be missing something obvious here.

[2020-03-02 11:32] pedroigor commented on #7491
The policy enforcer has its own path matcher algorithm. I might be an issue there, I'll check it out.

[2020-03-02 11:54] geoand commented on #7484
We could also make `ContainerImageResultBuildItem` a `MultiBuildItem` and handle things ourselves. How does that sound?

[2020-03-02 12:30] emmanuelbernard commented on #7462
Thanks @masini I've spent a few hours looking at your test.

You are using Lombok which making the debugging of collection mutation much harder (not that it's simple initially).

First off "org.hibernate.HibernateException: A collection with cascade="all-delete-orphan" was no longer referenced by the owning entity instance" can come from a few areas:

1. in your code you set `piattoOrdinato`  / us

[2020-03-02 12:35] manovotn commented on #7507
Well, there is a always a way to shoot yourself in the foot :-D

[2020-03-02 12:38] BiggA94 commented on #3461
I would also love to see this feature.

For example: Jest allows adding watchPlugins where you can specify, which tests should run. [see here](https://jestjs.io/docs/en/watch-plugins).
This allows running only those tests, that are affected since the last commit via plugin.

[2020-03-02 13:20] geoand commented on #7505
Was this fixed by #7506 ?

[2020-03-02 13:23] sberyozkin opened #7512 "Consider ignoring OIDC connection-delay when TenantConfigResolver is used"
**Description**
Right now we may have a situation where, with the Quarkus application already running, `TenantConfigResolver` dynamically creates a new `OidcTenantConfig` with a `connection-delay` property set, which, if no OIDC connection is available immediately, may lead to a user waiting for whatever number of seconds this property is set to, example, 30 secs.

Proposal is to only handle this

[2020-03-02 13:29] gastaldi commented on #7120
@shvyrev hi!

I can confirm that the snippet in the tutorial is definitely wrong, I'll provide a PR fixing it.

About your application, I see the following when hitting http://localhost:8080/hello/v1/people:

[code]

I also changed to H2 since I didn't want to boot up a PostgreSQL server before testing it.

Since my context propagation know-how is not so good, I'd prefer if @FroMage or someone mor

[2020-03-02 14:46] ppalaga commented on #7505
It depends, what you guys think about enforcing `dependencyConvergence` in quarkus-bootstrap

[2020-03-02 15:05] gsmet commented on #7505
dependencyConvergence should be enable everywhere.

[2020-03-02 15:14] loicmathieu commented on #3483
@nimo23 for named entity graph they can be used via a query Hint `javax.persistence.fetchgraph`.
Hints are already supported via `find(query).withHint()`

[2020-03-02 15:54] FroMage commented on #7120
Hah. That's new.

[2020-03-02 15:54] FroMage commented on #7120
I guess you have to do the JPA calls on worker threads now. You can get there by using `ManagedExecutor` to capture the contexts and use the `*Async` methods to get executed on the Quarkus worker thread pool.

[2020-03-02 15:56] cescoffier commented on #7120
Yes,

Use:

[code]

[2020-03-02 15:57] FroMage commented on #7120
Don't need to pass the executor. It has methods for wrapping CS and it sets the default executor to the quarkus one.

[2020-03-02 15:59] shvyrev commented on #7120
@FroMage What about this [one](https://github.com/shvyrev/quarkus-tutorial-bugfix/blob/master/src/main/java/org/acme/ExampleResource.java#L92-L103) ?

[2020-03-02 16:02] shvyrev commented on #7120
Specially made two methods with [threadContext](https://github.com/shvyrev/quarkus-tutorial-bugfix/blob/master/src/main/java/org/acme/ExampleResource.java#L64-L77) and with [managedExecutor](https://github.com/shvyrev/quarkus-tutorial-bugfix/blob/master/src/main/java/org/acme/ExampleResource.java#L92-L103).
Both return different errors.

[2020-03-02 16:03] shvyrev commented on #7120
@cescoffier Thank you. I'll try this solution.

[2020-03-02 16:13] shvyrev commented on #7120
Update code with
 `@Inject ManagedExecutor executor;

//...
   .thenApplyAsync(..., executor);`
Updated [code](https://github.com/shvyrev/quarkus-tutorial-bugfix/blob/master/src/main/java/org/acme/ExampleResource.java#L92-L103).

But getting ContextNotActiveException: interface javax.enterprise.context.RequestScoped [error](https://gist.github.com/shvyrev/b265f476c321cfb40a5a27e23e99e088)

Add `@A

[2020-03-02 16:18] FroMage commented on #7120
Try:

[code]

[2020-03-02 16:20] gastaldi commented on #7120
Also add the following dependency to avoid JAX-RS errors with ArrayList:

[code]

[2020-03-02 16:44] Kropik123 opened #7516 "SSL - keystore password different from key password"
**Description**
Referencing to https://quarkus.io/guides/http-reference#setting-the-password it is shown that to for the configuration you have to set the keystore password with the property-key "quarkus.http.ssl.certificate.key-store-password". But I do not find a possiblity to set the key-password.
If these 2 passwords would be different, I do not know how to handle it currently.

Therefore here

[2020-03-02 17:07] gastaldi commented on #7120
I fixed the tutorial in https://github.com/quarkusio/quarkus/pull/7517, I'd appreciate any feedback.

Thanks!

[2020-03-02 17:09] chrisgleissner commented on #5118
@dmlloyd @alexander-dammeier Yes, that is exactly what the @Slf4j annotation does that I mentioned. It adds a static final logger field. I have seen this approach used extensively in many projects and a Logger instance is typically considered too light-weight to make it part of the DI wiring.

There may have an ever so small performance hit of this approach compared with using a single Logger inst

[2020-03-02 17:18] #7120 closed

[2020-03-02 18:21] dufoli commented on #7507
My initial through was if interface used for proxy is registered for reflection all implementation must be registered too. Just my 2 cents

[2020-03-02 18:39] alexander-dammeier commented on #5118
@chrisgleissner Thanks for mentioning the @slf4j annotation! I think that is a good way to reduce the boilerplate code. Its even fewer code than with injection.
@dmlloyd No, there is no use case where i cannot solve it with a static reference. The only reason I created this issue is to enjoy Quarkus even more with fewer boilerplate code.

In my situation it does not matter if there is a little per

[2020-03-02 20:29] lordofthejars opened #7519 ".env file copy to target in dev mode"
**Description**

When you are at dev mode and you have a file at the root of the project a `.env` file, the file is not loaded as the root directory at runtime is at `target/`.

A possible workaround is to use:

[code]

But we could integrate this on dev mode so if there is a `.env` the file then we copy directly to `target` (I don't know if this is possible).

I know that the purpose of a `.env`

[2020-03-02 20:55] dev-whiteflag commented on #2835
Porting a project to Quarkus, really need this. +1

[2020-03-02 21:28] pedroigor commented on #7491
Created https://issues.redhat.com/browse/KEYCLOAK-13175. We could fix in Quarkus, but better is just return the path configuration defined in the application configuration.

The problem here is that the policy enforcer is trying to fetch the resource/path from Keycloak even though the path is already defined in the application configuration. When doing that, the enforcer mode is list is set to `EN

[2020-03-02 22:02] johnaohara commented on #6588
@geoand @emmanuelbernard I have opened a PR for the RSS regression test: https://github.com/quarkusio/quarkus-quickstarts/pull/477

This PR stores the pmap output between builds, in an IBM cloud storage bucket (GH does not provide an api to retrieve artefacts from previous builds).  It fails if the RSS has grown by more than 10% (we can revisit this if there is too much variance), or if it is over

[2020-03-02 22:03] gwenneg commented on #7269
Thanks @iwangxiaodong! I was finally able to build Quarkus with GraalVM 20.0 on Windows.

I can see the error you had with `io.quarkus.runtime.graal.DiagnosticPrinter$Target_PosixJavaThreads`, but also another one:

[code]

I'm now trying trying to fix these. Adding `Platform.WINDOWS.class` does not help unfortunately.

[2020-03-03 00:36] fmhwong commented on #5675
I ran into the same problem reported in https://github.com/quarkusio/quarkus/issues/7269

[2020-03-03 00:58] KaenDagger commented on #5267
Label could be easily changed. But currently I have got the idea of new banner. Could I change the label with new banner.txt PR ?
Also this week I would be busy for my college exams. So would be able to work from next week

[2020-03-03 02:09] BigFatDog commented on #7500
Thank you, `Reactive Mongo Panache` is what I'm looking for. For now I think the best strategy for me is to use `Mongo Panache` directly, because migrating from `Mongo Panache` to `Reactive Mongo Panache` should be easier than from `Reactive Mongo Client`.

I understand your explanation on `@Route` and `@Path`.  My confusion is: when I use `CompletableFuture` to accomplish reactive rest endpoint,

[2020-03-03 02:30] iwangxiaodong commented on #7269
@gwenneg

Click "**x64 Native Tools Command Prompt for VS 2017**"
In Prompt Console execute: gradle --configure-on-demand -x check buildNative
Maybe can fix：No instances of sun.nio.ch.Iocp are allowed

Good luck.

[2020-03-03 05:42] CellycoMobiles commented on #7120
@gastaldi Thank you, so much!

[2020-03-03 05:43] shvyrev commented on #7120
@gastaldi Thank you, so much!

[2020-03-03 06:30] rbraeunlich commented on #7434
Hi @loicmathieu
the entity looked like this:
[code]
where Evaluation is another data class. So as you said, the id field wasn't part of the constructor.

[2020-03-03 06:52] gwenneg commented on #7269
The issue comes from the following Quarkus code which is only compatible with Linux for now:

https://github.com/quarkusio/quarkus/blob/3fbdbc399f4c274054bed23d70061c028e7a59c7/core/runtime/src/main/java/io/quarkus/runtime/graal/DiagnosticPrinter.java#L46-L50

I tried a few things without success yesterday, I'll try again tonight.

[2020-03-03 07:27] iustinov commented on #6133
@hartimcwildfly, thank you! It works for me!

[2020-03-03 08:02] geoand commented on #7519
Question: Why not have the `.env` file in `src/main/resources`? Then it would be picked up automatically, no?

[2020-03-03 08:04] jmartisk opened #7525 "Metrics for default Agroal data source are broken"
After https://github.com/quarkusio/quarkus/commit/0d64d8596242d1900b1f62334e2d89c6fbeaa3aa the metrics for Agroal default data source broke, because `AgroalCounter` and `AgroalGauge` expect `null` to be passed as the data source name when referring to the default DS. Now, instead of `null`, we pass them the name `<default>`, so the metric classes are unable to locate the correct data source.

This

[2020-03-03 08:05] jmartisk commented on #7525
And yeah, sounds like a good reason to add a test to prevent this from happening again...

[2020-03-03 08:11] RogerGMartins commented on #7451
I was able to use Logback with the logstash encoder, just by adding the dependencies and removing the dependency for slf4j jboss logging.

However this breaks on dev-mode, i cant remove the dependency in there and the application starts with 2 slf4j bindings.

The freedom that logback+logstash encoder gives is amazing. I was able to have custom json logging but i had to hook into mdc to push a jso

[2020-03-03 08:14] yuhaibohotmail commented on #7175
@AceHack https://tfb-status.techempower.com/

[2020-03-03 08:20] lordofthejars commented on #7519
I think these files are not copied in target dir but inside an special dir
which is added to classpath.

El mar., 3 mar. 2020 9:02, Georgios Andrianakis <notifications@github.com>
escribió:

[2020-03-03 08:22] geoand commented on #7519
Anything in `src/main/resources` should automatically be added to `target` without the user having to do anything.

So `mvn compile quarkus:dev` would automatically update the `target` directory with the latest "source" version of `src/main/resources/.env`

[2020-03-03 08:24] #7469 closed

[2020-03-03 08:31] loicmathieu commented on #7434
@rbraeunlich can you try that by extending PanacheMongoEntityBase and adding an id field it works fine ? I'll update the guide accordingly.

This should be something like this:
[code]

[2020-03-03 09:10] Postremus opened #7528 "JsonNode missing in Index"
**Describe the bug**
I get a log output about missing `com.fasterxml.jackson.databind.JsonNode` in the jandex index.
That class comes from jackson.

**Expected behavior**
No warn log output about missing classes in the index.

**Actual behavior**
I get the following output:
[code]

**To Reproduce**
Have JsonNode as part of a request body.

**Environment (please complete the following information):

[2020-03-03 09:12] lordofthejars commented on #7519
No, it seems  it is not in this way, I have tried now, I copied `.env` to `src/main/resources` and the file is placed at `target/classes` so it can be picked up as classpath resource.

[2020-03-03 09:20] #7495 closed

[2020-03-03 09:21] geoand commented on #7519
So all good?

[2020-03-03 09:22] lordofthejars commented on #7519
Nope. The `.env` should be at `target/` because of the `.env` file is loaded by using `Paths.get(System.getProperty("user.dir", "."), ".env")`

[2020-03-03 09:23] geoand commented on #7519
Oh yes, sorry, I see what you are saying

[2020-03-03 09:39] maxandersen commented on #5267
Agreed that we should move this extension to core.

Do we remove quarkus-extension from 1.3 to not have anything overlapping ?

[2020-03-03 09:42] lordofthejars commented on #7519
Humm it is really strange, I am not sure if there is a bug or not. Look I share with you the project in case you see something different:

https://github.com/lordofthejars/quarkusenv

I have debugged and in the `ConfigUtils DotEnvConfig` thing I see the value correctly inserted in the map, but when the app is started I see:

[code]

So it seems that the value does not end up injected correctly.

[2020-03-03 09:48] geoand commented on #5267
I'll update my banner PR to move it to the core in a few minutes

[2020-03-03 11:29] rsvoboda opened #7529 "Fix @Fallback issues of smallrye-fault-tolerance for Quarkus"
Fix `@Fallback` issues of smallrye-fault-tolerance for Quarkus, these issues were noticed with https://github.com/jboss-eap-qe/eap-microprofile-test-suite/ TS. @Ladicek I can't set you as assignee :/

 - https://github.com/smallrye/smallrye-fault-tolerance/issues/197
 - https://github.com/smallrye/smallrye-fault-tolerance/issues/198

Also some CDI extension changes were mentioned in https://quarku

[2020-03-03 11:34] loicmathieu commented on #7500
Well, if you plan to go to Reactive MongoDB with Panache, 1.3.0.CR1 will be released in a few days so you will be able to refactor you code with it.

Regarding your questions around expressjs, I was not aware this is multiple event loops (I would expect a single one as with nodejs), anyway, Quarkus event loop is based on Vert.X so if you want to understand it more you should have a look at the Ver

[2020-03-03 11:35] machi1990 commented on #7461
Fixed by #7463

[2020-03-03 11:35] #7461 closed

[2020-03-03 11:50] geoand commented on #7519
The config issue should be solved by #7530

[2020-03-03 11:50] machi1990 commented on #7243
Closing then! Thanks all.

[2020-03-03 11:50] #7243 closed

[2020-03-03 11:55] sassko commented on #5752
From my perspective this issue is still present. Even if I upgrade the project from [here](https://github.com/marcinczeczko/quarkus-rest-providers-reproducer) to 1.2.1.Final all injected beans are still "null"

[2020-03-03 11:58] machi1990 commented on #7150
@sherl0cks ping

[2020-03-03 12:01] gsmet commented on #5752
@sassko can you open a new issue with your reproducer linked? Thanks!

[2020-03-03 12:09] sassko opened #7531 "Microprofile rest client - Can't inject config/beans to providers also in 1.2.1.Final"
**Describe the bug**
As already described in #5752, it is not possible to inject CDI beans into any kind of providers that are registered by @RegisterProvider or @RegisterClientHeaders. The upgrade of quarkus to 1.2.1.Final and resteasy 4.4.2 seems not to solve this issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone project from marcinczeczko from [here](https://github.com/marcincz

[2020-03-03 12:10] BigFatDog commented on #7500
Thank you.  `expressjs` is single thread event loop. I should have mentioned clearly.

Your answer is good enough to me. Thank you again for your reply.
I'd close this issue immediately since question has been answered.

[2020-03-03 12:10] #7500 closed

[2020-03-03 12:14] nimo23 commented on #7528
Relates to https://github.com/quarkusio/quarkus/issues/5871. That's the jandex problem:)

[2020-03-03 12:22] ppalaga opened #7532 "Introduce NativeConfig.includeAllTimeZones"
Could we please introduce a config switch for passing `-H:+IncludeAllTimeZones` to the native-image?

The feature would allow users to enable all time zones in the native mode via `application.propreties`:

[code]

This could work in the very same way as `quarkus-core_quarkus.native.add-all-charsets` https://quarkus.io/guides/all-config#quarkus-core_quarkus.native.add-all-charsets

I can prepare a

[2020-03-03 12:26] pedroigor commented on #7491
@maehld Could you please try removing the `URI` from the `Root` resource (in Keycloak)? That should make the policy enforcer to not resolve the root resource from Keycloak based on the path and use the configuration you defined in your configuration.

[2020-03-03 12:31] gsmet commented on #7528
@nimo23 please stop linking to your issue everywhere. I'll answer in your issue.

@Postremus yeah, looks like we need to ignore it. I'll add it together with another one.

[2020-03-03 12:33] gsmet commented on #5871
Your issue is that you try to serialize things that shouldn't be serialized like the EntityManager, loggers, and other fun things that you include in the objects you return from your REST resources.

In fact the warning you have is good because it certainly shows you that you shouldn't do what you're doing.

[2020-03-03 12:34] ppalaga commented on #7532
The fix turns out to be very simple. I have sent a PR.

[2020-03-03 12:36] gsmet commented on #7532
@ppalaga btw, you know that you can trigger this on a per-extension basis if your extension requires it? We have a build item for it. (just checking)

[2020-03-03 12:36] #7525 closed

[2020-03-03 12:38] machi1990 commented on #7148
@gastaldi +1, I can prepare a PR for this.

cc @Sanne

[2020-03-03 12:40] nimo23 commented on #7528
@gsmet ok, I only wanted to tell that this issue seems to be a duplicate because it has the same log message.

[2020-03-03 12:41] nimo23 commented on #7528
I think in general, before creating always a new issue it is best to search for similar one.

[2020-03-03 12:44] ppalaga commented on #7532
@gsmet yes, thanks for the hint, I know that option. We have adopted the policy in Camel Quarkus that our extensions will not do that by themselves unless there is a 100% certainty that those additional resources are needed. In cases where we know that an extension may need non-default charsets or non-default time zones, we just document it and let the user enable it when needed.

[2020-03-03 12:48] nimo23 commented on #5871
And how can I exclude those properties from serializing? I tried it with `@Transient`, `@JsonbTransient`, `transient`.

[2020-03-03 12:50] pedroigor commented on #7491
@sberyozkin I've sent https://github.com/quarkusio/quarkus/pull/7534. This one tries includes a test for this scenario as well as a minor change to the configuration (making a property optional).

One we have KEYCLOAK-13175 merged, we can update tests accordingly.

Right now, tests are checking if the workaround I proposed in my last comment works (removing the URI from the resource).

[2020-03-03 12:51] nimo23 commented on #5871
Jsonb knows about `@JsonbTransient`, so it will not serialize those funny properties, but jandex seems to ignore that and logs the warnings..

[2020-03-03 12:59] nimo23 commented on #5871
For example having this in a class:

[code]

indicates that I do not try to serialize the em and indeed it will not be serialized by JsonB. But Jandex wrongly thinks that I want to serialize it and prints the warning..

[2020-03-03 13:07] nimo23 commented on #7528
@gsmet is there a chance that the user can add a jandex-ignore manually? For example, within "application.properties", for example:

`jandex.ignore = "com.fasterxml.jackson.databind.JsonNode"`

There is a chance that some issue will come in future again..if user can add an jandex-ignore-list, would be fine.

[2020-03-03 14:30] #7491 closed

[2020-03-03 15:09] oztimpower opened #7535 "io.quarkus.test.common.NativeImageLauncher.guessPath() needs to support > Java 9"
The NativeImageLauncher.guessPath() is a method described as a hack to work in IDEs.  The code uses URLClassLoader, which has changed to jdk.internal.loader.ClassLoaders$AppClassLoader if using Java11 for example.

(jdk.internal.loader.ClassLoaders$AppClassLoader cannot be cast to class java.net.URLClassLoader (jdk.internal.loader.ClassLoaders$AppClassLoader and java.net.URLClassLoader are in modu

[2020-03-03 15:43] gsmet commented on #7509
/cc @stuartwdouglas have you seen that one?

[2020-03-03 15:44] gsmet commented on #7516
/cc @stuartwdouglas

[2020-03-03 15:44] danielpetisme opened #7536 "Quarkus code coverage with failsafe"
Not sure if it's a bug or a question so feel free to route me.

I followd the guide explaining how to compute a code coverage with Quarkus
https://quarkus.io/guides/tests-with-coverage

Normally, surefire is used for unit test only where failsafe is the proper plugin for integration testing. So I tried to update the test with failsafe and... it does not work

Here you have a reproducer
https://git

[2020-03-03 15:48] gsmet commented on #7528
Addressed here: https://github.com/quarkusio/quarkus/pull/7537

[2020-03-03 15:49] gsmet commented on #7531
@mkouba any chance you could have a look to that one?

[2020-03-03 15:49] gsmet commented on #7535
/cc @jaikiran @stuartwdouglas

[2020-03-03 15:50] gsmet commented on #7505
@ppalaga do you think you would have the time to enable the dependency convergence in all the independent projects if not already done?

[2020-03-03 18:32] #7528 closed

[2020-03-03 19:19] bnjns opened #7541 "Retrieving dependencies from CDI in tests that implement interface throws java.lang.IllegalStateException if code defined outside JUnit test"
**Describe the bug**
When attempting to inject a dependency that implements an interface, if you use the class rather than the interface it throws a `java.lang.IllegalStateException` whereas using the interface is fine.

This only seems to be an issue if you try to make a "helper" method that lives outside of a `@Test` function.

This is also not a problem if you're injecting a class that doesn't

[2020-03-03 20:18] geoand commented on #6588
The neo4j quickstart is now failing:

[code]

[2020-03-03 20:33] geoand commented on #6588
The issue seems to have to do with some changes in the quickstart itself (its test code), not Quarkus itself. PR to revert the changes is [here](https://github.com/quarkusio/quarkus-quickstarts/pull/480)

[2020-03-03 20:45] geoand commented on #7541
Thanks for reporting!

This one looks like a lot of fun :)
We would definitely need a reproducer for this, so when you get some time, it would be wonderful if you could create one and add it to the description

[2020-03-03 21:15] stuartwdouglas commented on #7516
@vietj is this possible to do with the vert.x config?

[2020-03-03 21:28] sberyozkin opened #7543 "Quarkus OIDC and HTTPS improvements"
**Description**
We've agreed with Pedro that it is worth investing more time into testing and documenting that the code grants/introspection requests can go via HTTPS, and also possibly support a custom trust/key stores for the 2-way TLS. This follows a user query how to get Keycloak CA verified.

CC @pedroigor

[2020-03-03 21:31] sberyozkin opened #7544 "Better integration between Quarkus Security and JAX-RS"
### Description
Will do a bit later based on our discussions with Stuart and a few pending issues (custom security contexts, catching security exceptions with the mappers, starting Quarkus security in JAX-RS chain for something like MP RestClient header propagation to work, etc)

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks
- [ ]

[2020-03-03 21:33] bnjns commented on #7541
@geoand I do like to make your lives interesting! And I must admit it took me a while to track it down to the class/interface issue so looks like it might be a bit of a challenge 😂

Here's a reproducer, which I've added to the description: https://github.com/bnjns/quarkus-bug-7541

[2020-03-03 22:06] gwenneg commented on #7269
I may have a solution for the `DiagnosticPrinter` issue. The Quarkus CI is currently running on my fork, I'll submit a PR here if it is successful.

[2020-03-03 22:30] adam-tylr commented on #7289
I had the same issue and that was the cause. I had to make sure all the versions matched:
`<quarkus.version>1.2.1.Final</quarkus.version>`
`<quarkus-plugin.version>1.2.1.Final</quarkus-plugin.version>`
`<quarkus.platform.version>1.2.1.Final</quarkus.platform.version>`

[2020-03-03 23:16] valadan opened #7545 "Invalid Http Method: Patch"
This bug report/feature request is directly related to this issue:

https://github.com/eclipse/microprofile-rest-client/issues/154

Since the Quarkus RestClient feature uses Eclipse Microprofile, we are unable to create Patch requests using a Quarkus Rest Client.

What are the suggested workarounds for this issue?

[2020-03-03 23:29] gwenneg commented on #7269
I have an idea of a possible fix for the `vertx` issue mentioned above. I'll try to submit a PR about it tomorrow.

[2020-03-03 23:29] iwangxiaodong commented on #7269
@gwenneg

Congratulations!

[2020-03-04 01:34] sherl0cks commented on #7150
Thanks for the reminder @machi1990. I got my code back to a place where I can reproduce this bug on 1.1.1.Final, but I cannot resolve the quarkus-universe-bom for 1.3.0.Alpha2 to test the new release. Looked around all over for it but to no avail. My build is set up around that bom and I dont have the cycles to sort out the dependency tree otherwise.

Where can I find that bom?

[2020-03-04 01:37] sherl0cks commented on #7150
Also tried switching to `quarkus-bom` but then my build fails with the below, which feels like a dependency issue:
[code]

[2020-03-04 01:53] #7447 closed

[2020-03-04 04:29] stuartwdouglas commented on #7545
Is this actually an issue in Quarkus? The bug that you linked to is a problem with a particular (non Quarkus) implementation, not with the specification itself.

[2020-03-04 05:26] stuartwdouglas commented on #7403
I was thinking this may have been caused by my local changes, but it is an issue, to reproduce you also need:

    @Inject
    String[] args;

[2020-03-04 05:53] dubilyer opened #7548 "DeadLock when using CacheResult with Spring Data"
**Describe the bug**
When using CacheResult annotation on method performing several calls to SpringData repository the program is stuck.

**Expected behavior**
Everything works smoothly

**Actual behavior**
All threads are in Waiting state ([dump](https://docs.google.com/document/d/1uoLv6ko_UUVNX6mihpS532_xC9S0mddrKnw6s2jW0-U/edit?usp=sharing))

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-03-04 06:30] rbraeunlich opened #7549 "Gradle plugin: output Docker logs when doing buildNative/testNative"
**Description**
When building of my Quarkus native image with Gradle fail I have no chance to see the actual error output from the Docker image. `./gradlew testNative` e.g. only fails with
[code]
In that case everything has to be repeated and I manually have to do `docker logs -f` on the build image to see what's actually wrong.  Appending --stacktrace or --debug didn't help.
It would be great to

[2020-03-04 06:38] Markus-Schwer commented on #7404
Any updates on this?

[2020-03-04 06:41] geoand commented on #7541
Thanks a lot!

[2020-03-04 07:06] mkouba commented on #7403
I see. In this case, it's about injection point validation...

[2020-03-04 07:36] rbraeunlich commented on #7434
@loicmathieu Yes, that works. One can even simplify it a little by annotation the id field with `@BsonId`, like this:
[code]

[2020-03-04 08:06] geoand commented on #7548
Thanks for reporting this.

I was not able to reproduce the problem unfortunately. Would you be able to supply a minimal reproducer containing only the Spring Data JPA and cache stuff that exhibits the problematic behavior?

[2020-03-04 08:15] ge0ffrey commented on #4723
I think most projects don't warrant the use of a parent pom for users, as there can only be one parent. But **if Quakus is truly the basis of the RH portfolio, then it is the exception and it should offer a parent pom.**
But ideally, the code.quakus.io website allows choosing between "parent pom" and "bom" (with "parent pom" as the default as that generates a pom with half as many lines.)

[2020-03-04 08:18] mkouba commented on #7531
So it seems that only the RESTEasy part was fixed within #5752. We also need to register the classes used in `@RegisterProvider` as beans.

[2020-03-04 08:19] maxandersen commented on #4723
to be clear - code.quarkus.io is just a fancy UI into the quarkus project creator (accessible with mvn too)

Adding a parent bom and bom here would of course technically be possible but I think such option will lead to confusion worse than either doing one or the other.

So we'll need to figure out if there is value enough to have a parent pom.

[2020-03-04 08:21] dubilyer commented on #7548
I will try.

[2020-03-04 08:34] loicmathieu commented on #7434
@rbraeunlich thanks for your feedback

`@BsonId` should not be necessary because using the name `id` for the variable is enought. But as using `@BsonCreator` on a constructor mandates using `@BsonProperty` on all fields this should be why.

And also, initializing it to `ObjectId()` should not be needed.

Can you try that the following works ?

[code]

[2020-03-04 08:55] bluemonk3y commented on #6701
I should add, that I presume 'native' will work due to a being a different runtime classloader mechanism. It was only on sam-local and seems like an issue with docker-toolkit and not docker desktop.

[2020-03-04 08:59] machi1990 commented on #7095
I gave it a go here https://github.com/machi1990/quarkus/commit/02f2ad5f9416bf353a7aa9e5fdfddaaf393f7440 but seems like the TCK is broken. Is this the way to go? @EricWittmann

[2020-03-04 09:00] thejibz commented on #7269
@gwenneg
I was also struggling with this exact same issue ! Tried some hacky patch in the .class ... Thank you for your PR, hope it will be accepted soon !

[2020-03-04 09:07] SchulteMarkus opened #7551 "QUARKUS_PROFLE=test not applied when testing native image"
**Affected components**
Quarkus supports testing of a [produced native image](https://quarkus.io/guides/building-native-image#testing-the-native-executable).

    ./mvnw verify -Pnative
    ...

Further more, when Quarkus is running tests, the QUARKUS_PROFILE=test is being applied, as described on https://quarkus.io/guides/config#configuration-profiles.

**Expected behavior**
When running the nati

[2020-03-04 09:21] geoand commented on #7541
So I took a look at this and you can easily get past the problem by changing `getService` to:

[code]

in `TestingUsingImplementationWithHelperMethod`.

I am not absolutely sure what the problem is, but my guess is that it has to do with Kotlin's non-nullable types.

Since the workaround is so easy I don't think it warrants any further exploration and I'll go ahead and close this issue. Feel free

[2020-03-04 09:25] bnjns commented on #7541
Hmm, I see what you mean - making sure you explicitly state the return type as the interface rather than letting Kotlin infer the type as the implementation?

For me, I don't think this workaround does work. My particular use case was possible wanting to test a "helper" method on the implementation that isn't declared on the interface - so you need to inject the implementation and use that as the

[2020-03-04 09:42] geoand commented on #7541
I'll reopen since the issue probably goes deeper than I originally posted.

The even weirder thing is that a subsequent `./gradlew test` (after the first one) passes... Also the tests seem to pass when run from the IDE.

Since this has a lot of moving parts and there are workarounds, I probably won't spend any time on it unless / until I get some downtime.
In the meantime, anyone else if free to t

[2020-03-04 09:46] bnjns commented on #7541
Yep, we've had this problem so many times 😂

I'm happy using a workaround for now, but would be grand if this could get tackled at some point 🙂

[2020-03-04 09:49] ge0ffrey opened #7556 "Generated pom.xml file should HTTPS instead of HTTP to fetch XSD"
The generated maven pom contains:

[code]

but it should contain this instead:

[code]

[2020-03-04 09:51] geoand commented on #7551
Hi,

As mentioned [here](https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/building-native-image.adoc#testing-the-native-executable), if you want to set the profile for testing the native image, you need to set the `quarkus.test.native-image-profile` property (to `test` in your case)

[2020-03-04 09:51] #7551 closed

[2020-03-04 09:55] SchulteMarkus commented on #7551
Thanks for explanation.
At least I am surprised by this behavior.

[2020-03-04 09:58] geoand commented on #7551
I can understand that. However one thing that everyone needs to bear in mind is that testing the native image is more of a blackbox testing type thing. So it's meant to test the final application that is meant to be run in production

[2020-03-04 10:01] haraldatbmw opened #7554 "Bind Container Image extension to Maven deploy phase"
**Description**
The current **container image** extension (e.g. docker build, docker push) is currently executed at Mavens package phase. I think maven deploy phase would be the better choice.

In my last Quarkus test-project I introduced integration-tests based on docker-compose  (https://github.com/rmh78/quarkus-verify) and bound them to the Maven integration-test phase which is after packaging.

[2020-03-04 10:02] #7509 closed

[2020-03-04 10:02] geoand commented on #7554
cc @maxandersen

[2020-03-04 10:05] gsmet commented on #7548
/cc @gwenneg

[2020-03-04 10:08] gsmet commented on #7554
I agree `package` is too early for that. Now I'm not sure about `install` or `deploy`.

[2020-03-04 10:10] geoand commented on #7554
Sure, but we can't do much for `1.3` since the whole feature was built on Quarkus' ability to do everything during the normal build.
We would need to rethink this and possible expand the scope to include other types of deployments as well (lambda has been suggested as well)

[2020-03-04 10:11] SchulteMarkus commented on #7551
I see, this is the right way thinking of the purpose of the Maven verify phase.
In my opinion, the examples for the \@io.quarkus.test.junit.NativeImageTest should not extend the "normal" application tests, as for example in https://github.com/quarkusio/quarkus-quickstarts/blob/master/getting-started/src/test/java/org/acme/quickstart/NativeGreetingResourceIT.java as (in this case) GreetingResourceT

[2020-03-04 10:12] geoand commented on #7551
That I agree with as well :)

cc @gsmet

[2020-03-04 10:13] #7535 closed

[2020-03-04 10:13] SchulteMarkus commented on #7551
:-)

[2020-03-04 10:34] sirf commented on #7492
If you close the stream the warning message will go away:

[code]

[2020-03-04 10:38] ia3andy commented on #7556
@ge0ffrey codegen is done by quarkus core

[2020-03-04 10:48] emmanuelbernard opened #7557 "Homogenise the extension descriptions"
Some extension descriptions are all over the place, the idea is to bring some form of consistency. Don't ask me for the rules.

[2020-03-04 10:56] loicmathieu commented on #7492
@sirf is right, steams that perform I/O operations should be closed in order to properly release resources. It's on the Stream JavaDoc: https://docs.oracle.com/javase/8/docs/api/java/util/stream/Stream.html

In Hibernate with Panache, `stream()` performs I/O operations so it should be closed manually via `close()` or via a try-with-resource construct to properly close the underlying ResultSet/Stat

[2020-03-04 11:00] johnaohara opened #7558 "Max throughput regression after unifying Executors"
Unifying the blocking executors [1] resulted in a regression in maximum throughput (req/sec) for cases where;
- There are a lot of client connections (000s-0000s)
- Constantly hitting rest endpoints that are effectively no-ops

There is an upstream issue in jboss-threads [2]

1 - https://github.com/quarkusio/quarkus/commit/6845309a90f35c32a41af6b262c1f4b554b153db
2 - https://issues.redhat.com/brow

[2020-03-04 11:33] #7531 closed

[2020-03-04 11:37] rbraeunlich commented on #7434
@loicmathieu It passes all my tests ;)

[2020-03-04 12:12] azzazzel commented on #7492
"You live, you learn" ;)

Thanks for the explanation! Indeed explicitly closing the stream, does not result in warning.
Perhaps this should be added (and even highlighted) in the documentation. AFACT explicitly closing streams is not widely popular practice.

Also, (asking out of curiosity) is there any reason not to close the Resultset/Statement on terminal operations on the stream?

[2020-03-04 12:22] hartimcwildfly commented on #6133
I managed to write an extension which wraps my custom loghandler. But it requires some changes in quarkus core : a new BuildItem, as well as the LoggingSetupRecorder has to be adjusted. I did the changes from a branch forking the v1.2.1.Final. I will adapt them to the current master and open a PR.

[2020-03-04 12:23] EricWittmann commented on #7095
I think ultimately the logic for pushing the custom root path into the OpenAPI document may be a bit more complex than what you have in that commit, @machi1990 but I think that's the spirit.  Can you describe how the TCK fails?  I'd have to think a little bit on all the implications of doing this - but certainly the TCK isn't designed to be run against a custom context root.  I'm just not sure wha

[2020-03-04 12:26] rsvoboda opened #7561 "NPE on OidcAuthenticationMechanism.isWebApp with elytron-security,keycloak-authorization extensions"
Getting `NullPointerException` from io.quarkus.oidc.runtime.OidcAuthenticationMechanism. isWebApp [OidcAuthenticationMechanism.java:36](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcAuthenticationMechanism.java#L36) when running the tests for generated app with elytron-security,keycloak-authorization extensions.

I think there ar

[2020-03-04 12:27] #7403 closed

[2020-03-04 12:33] geoand commented on #7556
@ia3andy or @ge0ffrey would you like to provide a fix?

[2020-03-04 12:50] hartimcwildfly opened #7564 "JDK language specific tests"
When checking out the current master branch and do a build,
some tests fail because the expected error message is in english but my system is not in english so the actual error message does not match.

Example:
`[ERROR] Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 5.375 s <<< FAILURE! - in io.quarkus.reactive.pg.client.ReactivePgReloadTest
[ERROR] testHotReplacement  Time elapse

[2020-03-04 12:58] mkouba opened #7565 "Qute type-safe templates - validate iterable passed to a loop section"
And fail fast if the type is not considered "iterable" (as defined by `LoopSectionHelper`).

[2020-03-04 13:13] #7401 closed

[2020-03-04 13:14] jefrog1844 commented on #7401
I will reset the sequences in the load script or assign uuid in code as I do not believe this is a quarkus issue.

[2020-03-04 13:15] computerlove commented on #2931
Um, my incentive to do this task just went away.
The main code is in my commit, the hurdle is making tests for it.

[2020-03-04 13:25] geoand commented on #7564
Hi, it would be great to have a list of such tests that fail for you

[2020-03-04 13:41] loicmathieu commented on #7492
I suspect this should be done by the JDBC driver ... so we cannot do anything about it.

I'll try to update the guide with some insight

[2020-03-04 13:58] bnjns commented on #7541
I've found that this issue seems to go even further - if you have a class that uses a combination of dependencies that are classes or interfaces you get the same problem.

So say you have `DepA` and `DepB` and `DepA` is a class, `DepB` is an interface for which there is an implementation `DepBImpl`. If you create something that uses these, `ConsumerImpl` and depend on `DepA` and `DepB` you get the

[2020-03-04 13:59] azzazzel commented on #7492
Thank you all for your help!

I'm not sure if you want to keep this issue open until the docs are updated so I'm not closing it yet. Please close it whenever you find it appropriate.

[2020-03-04 14:12] #7434 closed

[2020-03-04 14:21] hartimcwildfly commented on #7564
io.quarkus.reactive.pg.client.ReactivePgReloadTest.testHotReplacement()
io.quarkus.reactive.pg.client.LegacyReactivePgReloadTest.testHotReplacement()

[2020-03-04 14:30] geoand commented on #7564
Would you also like to provide a Pull Request that updates the tests accordingly?

[2020-03-04 14:36] oztimpower commented on #4254
I'm experiencing the same problem as @ctron-te with head (999-SNAPSHOT).

Kotlin AWS Lambda project that can reproduce it. Project is a Kotlin version of the Java AWS Lambda template, i.e. InputObject, OutputObject, ProcessingService.

1. git clone https://github.com/oztimpower/kotlin-lambda.git
2. mvn package -Dnative -Dquarkus.native.container-build=true
3. ./manage.sh native create
4. ./manage.

[2020-03-04 14:44] hartimcwildfly commented on #6133
See PR #7568

[2020-03-04 15:01] oztimpower commented on #4254
I should add it works fine with Java source Native executable.  Issue is with Kotlin.

[2020-03-04 15:14] oztimpower opened #7574 "@NativeImageTest Jackson ObjectMapper update required"
**Description**
Per #7508 the Jackson ObjectMapper was enhanced to keep the Arc configuration for Kotlin, i.e. use the Kotlin ObjectMapper.

Request the same for the NativeImage, when used in conjunction with @NativeImageTest.  When the native image is deployed with SAM or on AWS, it works ok - Kotlin data class is able serialize.

**Implementation ideas**
Only affects @NativeImageTest.  test pack

[2020-03-04 15:18] geoand commented on #7574
Yeah... I was sort of afraid this would happen...

Actually for the native test we can't pull of the same trick, because there isn't a JVM running from which we can use CDI to pull the bean.

@stuartwdouglas I have been meaning to discusss with you about similar issues. Basically how we can launch a JVM version of the application for the sole purpose of pulling beans out of Arc and injecting them

[2020-03-04 15:19] kunal-kushwaha commented on #6607
@mesejo : Hi, are you still working on this issue?

[2020-03-04 15:20] kunal-kushwaha commented on #3251
@geoandri : Hi, are you currently working on this?

[2020-03-04 15:20] hartimcwildfly commented on #7564
I found a solution for UNIX systems: set the ENV_VAR:  LC_ALL=en_US.UTF-8
The question is how do we integrate it into the maven project.

[2020-03-04 15:31] machi1990 commented on #7095
@EricWittmann Thank you for checking my initial commit.

The TCK were failing to something you already described:
[code]

I was leaning toward documenting the behaviour (asking users to set `servers.url`) if root path is set.   Not sure what others think?

/cc @gsmet @troosan

[2020-03-04 16:13] lburgazzoli opened #7576 "NettyProcessor marks http2 related classes for runtime initialization even if they are not on the classpath"
**Describe the bug**
The NettyProcessor performs some checks to determine what classes should be initialized at runtime :

https://github.com/quarkusio/quarkus/blob/0ecb901c14242e2d31ab44e2480f66931671d84c/extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java#L82-L95

but this code is flawed as http and http2 classes are provided by different artefacts so in cas

[2020-03-04 16:24] darren-bell-nanthealth commented on #6355
I too am really struggling with an uninformative error, as above. I too would like to know if the issue is with the gradle plugin or graalvm. I'm on windows 10, but using wsl. Ive also tried a multistage build with docker. The error message is the same in them all. So I suspect it is Gradle

[2020-03-04 16:27] Ladicek commented on #7529
The issues mentioned here, together with https://github.com/smallrye/smallrye-fault-tolerance/issues/199, are fixed in SmallRye Fault Tolerance 4.1.1. The changes in the CDI extension were actually only in the interceptor code, so no changes in the Quarkus extension are needed. I'll submit a PR soon, waiting for the CI runs to finish on my fork.

[2020-03-04 16:35] brunoborges commented on #2931
What incentive do you need that we can give? :-)

[2020-03-04 16:48] kunal-kushwaha commented on #5555
@ge0ffrey : I am unable to reproduce this error, has this issue already been fixed? Thanks.

[2020-03-04 17:03] sudhirtumati commented on #6463
With Spring (and of course SpringBoot), `@Transactional` works this way. Just annotating the test class with this annotation makes all tests run in separate transactions and all changes are rolled back after test is complete. I find this behavior very convenient.

PS: I am sure this is the behavior with `MockMvc`. I can try and see if it is the same case with `RestAssured`

[2020-03-04 17:23] darren-bell-nanthealth commented on #6355
I tried with 1.3.0.Alpha2 and Gradle 6.2. With the same unhelpful error:

[code]

[2020-03-04 17:30] fabricepipart1a commented on #3862
Is there any news on this topic? I have the impression that I am facing the exact same issue (with Quarkus 1.2.1).
Is there any known workaround?

[2020-03-04 17:44] #7576 closed

[2020-03-04 17:54] #7532 closed

[2020-03-04 18:33] geoandri commented on #3251
No , didn't have the availability.

On Wed, Mar 4, 2020, 17:20 Kunal Kushwaha <notifications@github.com> wrote:

[2020-03-04 19:03] maehld commented on #7491
@pedroigor Maybe I'm not getting Keycloak just yet. I had no Root Resource in Keycloak. But even creating one and not setting an URI did not help. I can post you the Keycloak config tomorrow if you would like to take a look at it.

[2020-03-04 19:40] nderwin opened #7580 "AMQP and random message buffering"
**Describe the bug**
After a random number of messages, the io.vertx.amqp.impl.AmqpReceiverImpl class gets into a paused state, and all further messages are buffered.

**Expected behavior**
Messages are processed without having to be buffered, or provide a means to start sending the messages again without having to restart the Quarkus process.

**Actual behavior**
After a large-ish number of messa

[2020-03-04 20:04] gsmet commented on #7580
/cc @cescoffier

[2020-03-04 20:22] emmanuelbernard opened #7581 "Tests fail after quarkus:dev run"
When running mvn package (no clean) after quarkus:dev, 1. tests fail 2. with a weird inlined exception in the console.

[code]

If `./mvnw clean package` is run, then no failure occurs.

[2020-03-04 20:22] emmanuelbernard commented on #7581
@gastaldi do you mind looking at it.
If you can't @stuartwdouglas can you check it out. Looks like a classloader related issue.

[2020-03-04 20:37] maxandersen commented on #7581
this does look like a blocker to me btw.

[2020-03-04 20:48] gsmet commented on #7581
/cc @dmlloyd

[2020-03-04 20:49] geoand commented on #7564
You can set env vars during command execution (simply by prepending the command with the something like NAME=VALUE mvn clean install)

[2020-03-04 20:53] hartimcwildfly commented on #7564
Yup. But it would be cool to integrate into maven pom.

[2020-03-04 20:55] gastaldi commented on #7581
@aloubyansky this looks similar to the error wehad in Gradle, no?

[2020-03-04 21:17] gastaldi commented on #7581
@stuartwdouglas assigning it to you, as I got zero cycles today :(

[2020-03-04 21:25] #7557 closed

[2020-03-04 21:45] aloubyansky commented on #7581
This is due to the classpath caching. Both `quarkus:dev` and `test` create the deployment classpath cache unless it already exists in the target dir. Except that it appears to be different for the dev and test. So if the dev ran first it will be missing the test deps. I guess it's a regression. I may be wrong but I think the deployment classpath previously shouldn't have contained the test deps.

[2020-03-04 21:47] aloubyansky commented on #7581
Ah, of course, it's because now the hole app model is persisted instead of the deployment only part. The file name `deployment.cp` didn't change though.

[2020-03-04 21:52] aloubyansky commented on #7581
I wouldn't classify this as a blocker for the CR though.

[2020-03-04 21:59] emmanuelbernard commented on #7581
So we could either find a way to unify the work or segregate the cache for the two use cases (or three if we consider packaging as one).

[2020-03-04 22:16] aloubyansky commented on #7581
Actually, changing the file name by appending the launch mode to it would be a one line fix. Let me see if I can do that now.

[2020-03-04 22:30] emmanuelbernard opened #7585 "quarkus master build fails if no docker daemon is running"
With the addition of the container image for Jib and friends, the quarkus build no longer run if no docker daemon is present.
These tests should only be run if the docker profile is in use.

[2020-03-04 22:39] geoand commented on #7585
I'll take this one up tomorrow if no one beats me to it

[2020-03-04 22:48] jglick commented on #3862
For my part I just ran into enough issues with custom context paths that I ceased to use this feature and began interpreting the full URI directly in my resources.

[2020-03-05 00:02] #7581 closed

[2020-03-05 00:03] gastaldi commented on #7581
@aloubyansky hero! Fix merged.

[2020-03-05 05:48] sherl0cks commented on #7150
@machi1990 @gwenneg any info on how I can resolve the artifacts so I can test?

[2020-03-05 07:16] cescoffier commented on #7580
How are you sending the messages?

I have tried with:
[code]

and it worked.

[2020-03-05 07:44] tehMalone commented on #6940
@carlitorendon's solution worked for me too!

[2020-03-05 08:03] machi1990 commented on #7150
Hey sorry for the late reply, updating to quarkus-bom should be enough.  Did you update the maven plugin to 1.3.0.Alpha2 too?

[2020-03-05 08:24] ppalaga commented on #7505
Let me do that in quarkus-bootstrap-core at least.

[2020-03-05 08:31] ia3andy commented on #7556
@ge0ffrey I guess this is yours :-)

[2020-03-05 08:57] geniusit opened #7589 "Error with native image on AWS LAmbda"
**Describe the bug**
Impossible to run a native image on AWS Lambda

**Expected behavior**
No error should arise

**Actual behavior**
The custom runtine seems not to be supported by AWS Lambda. It works well on classic EC2

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the https://quarkus.io/guides/amazon-lambda guilde (native)
2. Update your function.zip as custom runtine on AWS
3.

[2020-03-05 09:24] alexander-dammeier opened #7591 "SQL import - commented out lines not ignored"
**Describe the bug**
I use a sql file to load my test data into my database(H2). For test purposes I comment out some datasets but then Hibernate cannot load the sql-file correctly. There are linebreaks in my queries to make them readable, so they are not in one line of text. for this reason I need to comment out multiple rows.

**Expected behavior**
Any line starting with the comment string "--"

[2020-03-05 09:27] #5593 closed

[2020-03-05 09:50] mkouba opened #7592 "Qute - support nested expressions/virtual methods as virtual methods parameters"
Currently, it's not possible to use/validate nested expressions/virtual methods such as: `foo.call(bar.name)`, `{foo.call(bar.ping())}`, `{item.getDiscountedPrice(item.getDiscountValue(discount))}`.

[2020-03-05 10:08] #7492 closed

[2020-03-05 10:22] #7484 closed

[2020-03-05 10:24] gsmet commented on #7284
/cc @stuartwdouglas

[2020-03-05 10:26] gsmet commented on #7248
@gastaldi can we have a clear status on that one? I understand the culprit is not Quarkus but RESTEasy? If so, we need to involve @asoldano .

[2020-03-05 10:27] gsmet commented on #7156
@GregJohnStewart can you share the final project using current master and the exact steps to reproduce your issue? Thanks!

[2020-03-05 10:28] #7076 closed

[2020-03-05 10:31] #7066 closed

[2020-03-05 10:34] gsmet commented on #6285
Should this one still be considered for 1.3?

[2020-03-05 10:43] #7589 closed

[2020-03-05 10:43] geniusit commented on #7589
https://github.com/quarkusio/quarkus/issues/4262 resolve it

[2020-03-05 11:09] brunobat opened #7594 "Cannot override "quarkus.swagger-ui.always-include" property"
**Describe the bug**
Havving quarkus.swagger-ui.always-include=false will not load swagger-ui, if you try to override the property at runtime, the swagger-ui address replies with HTTP 500 at:
http://localhost:8080/swagger-ui/index.html#/

        at org.jboss.resteasy.core.registry.ClassNode.match(ClassNode.java:70)
        at org.jboss.resteasy.core.registry.RootClassNode.match(RootClassNode.java

[2020-03-05 11:11] jmartisk commented on #6285
I have the changes on the SmallRye side implemented locally (not the changes on Quarkus side), but I'm a bit afraid to go through with it as it kinda changes the architecture of SmallRye Metrics, so there is a danger of regressions or backward incompatibilities. I'd suggest to not hurry with this.
This issue only affects potential extensions that might want to add metrics through annotation transf

[2020-03-05 11:31] gastaldi commented on #7248
@gsmet yes, AFAIR RESTEasy handles the exception and returns that unencoded error message.

IMHO RESTEasy's error messages containing input values should always be encoded, no matter if `@Encoded` is specified or not.

I'll create a ticket in RESTEasy to track that.

Cc @asoldano

[2020-03-05 11:32] gsmet commented on #7248
OK, thanks.

[2020-03-05 11:57] #7505 closed

[2020-03-05 12:10] gastaldi commented on #7248
Ticket created in https://issues.redhat.com/browse/RESTEASY-2519

[2020-03-05 12:14] patriot1burke commented on #7589
--environment Variables={DISABLE_SIGNAL_HANDLERS=true}

[2020-03-05 12:19] patriot1burke commented on #7589
@gsmet The docs used to go over the function creation scripts and important flags passed, but, against my wishes the current version of the docs removed this.  I guess I have to go update the docs to describe the important flags to pass again.

[2020-03-05 12:40] #7482 closed

[2020-03-05 12:45] johnaohara opened #7598 "Config option quarkus.thread-pool.core-threads is ignored"
setting quarkus.thread-pool.core-threads has no effect on the core number of executor threads. The application is aways started with the default number of executor threads (1).

**Expected behavior**
Number of executor threads equal to the property quarkus.thread-pool.core-threads

**Actual behavior**
Only 1 executor thread is ever started at startup

[2020-03-05 12:51] machi1990 commented on #7594
The swagger ui configuration is build time only and it is not runtime overridable.
You can enable or disable swagger ui on profile basis as shown here https://quarkus.io/guides/config#configuration-profiles

[2020-03-05 13:29] geniusit commented on #7589
This documentation : https://quarkus.io/guides/amazon-lambda shoud be update according to that documentation : https://quarkus.io/guides/amazon-lambda-http

With :

Finally, there’s an environment variable that must be set for native GraalVM deployments. If you look at sam.native.yaml you’ll see this:

        Environment:
          Variables:
            DISABLE_SIGNAL_HANDLERS: true
This environ

[2020-03-05 13:34] nderwin commented on #7580
I've been sending them directly to the queue with the ActiveMQ web console, pasting in the JSON text into the message body.

In standard use, there will be a separate application connecting to the ActiveMQ instance through JMS posting a JSON payload text message to a specially named virtual topic that fans out to specially named queues, but it should still act the same whether it's programmaticall

[2020-03-05 13:41] tqvarnst opened #7601 "The openshift extension causes performance issues in dev mode"
**Describe the bug**
When adding the quarkus-openshift extension startup times for quarkus in dev mode go from 0.6 sec to more than 6 sec.

**Expected behavior**
Approx the same startup time in dev mode as before we added the quarkus-openshift extension

**Actual behavior**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Quarkus project without quarkus-openshift extension
2. Start i

[2020-03-05 13:44] iocanel commented on #7601
@geoand: you are not looking into it, are you?

[2020-03-05 13:44] patriot1burke commented on #7589
@geniusit See above, there's a command line switch you can pass when you create the lambda:
--environment Variables={DISABLE_SIGNAL_HANDLERS=true}

[2020-03-05 13:46] geoand commented on #7601
Nope, I'm not at the moment. Feel free to address it if you are already working in that area

[2020-03-05 13:52] nderwin commented on #7580
Removing the thread sleep caused an exception because the stream was closed...  hrm.  Also, if you reduce the sleep time from 100 to 10, then you get all 300 messages delivered, but over 200 of them not processed.

[2020-03-05 13:56] geniusit commented on #7589
Yes, it works with that env variable. Thank you!

[2020-03-05 14:02] #7585 closed

[2020-03-05 14:51] #7454 closed

[2020-03-05 14:51] oztimpower opened #7605 "Kotlin Amazon Lambda native image vertx tmp dir failure"
**Describe the bug**

As detailed in #4254, the vertx cache folder for Kotlin defaults to **/var/tmp** instead of /tmp for Amazon Lambda which results in a startup failure as this is read-only on AWS.  This issue previously existed for Java, yet is now fixed.

[code]
The prior shell script **bootstrap**, added an environment variable to overcome this issue, which was subsequently removed due to co

[2020-03-05 15:20] #7529 closed

[2020-03-05 15:25] blxbrgld opened #7607 "@ConfigProperty not resolved in native mode"
Hello,

a property injected via `org.eclipse.microprofile.config.inject.ConfigProperty` in a filter like the one of the following example is not resolving when the application is running in native mode. Things are working normally if the value is introduced via `org.eclipse.microprofile.config.ConfigProvider.getConfig()` or injected using a Quarkus configuration object annotated with `io.quarkus.a

[2020-03-05 15:26] #7598 closed

[2020-03-05 15:36] aguibert opened #7609 "Kafka bootstrap property documented incorrectly"
**Describe the bug**
According to the config doc page, we the primary property for configuring Quarkus with Kafka is [`quarkus.kafka.bootstrap-servers`](https://quarkus.io/guides/all-config#quarkus-kafka-client_quarkus.kafka.bootstrap-servers). However, when I set this property it is ignored and the default value (`localhost:9092`) is still used by the Kafka Client in Quarkus.

**Expected behavior

[2020-03-05 15:37] cescoffier commented on #7609
@aguibert asked me to assign him to the issue.

[2020-03-05 15:39] geoand commented on #7607
Hi,

Would you be able to provide a simple reproducer for us?

Thanks

[2020-03-05 15:55] gsmet commented on #7609
It's already fixed in master AFAIK.

I reverted the commit introducing this config property that was only used for Health.

See https://github.com/quarkusio/quarkus/pull/7032 .

[2020-03-05 16:00] cescoffier opened #7611 "Improvement required to the generated README file"
**Describe the bug**
When creating a new project from https://code.quarkus.io, a README file is generated. The content of this file is not totally clear:

[code]

Wondering about `packageable`. What about _can be packaged_.

[code]

Wondering about the usage of _executable_ here. I believe it can be removed, as the next sentence explains how to run it.

[code]

It's not clear why you need Docker h

[2020-03-05 16:01] MrTyre2 opened #7612 "Gelf logging not working with Graylog 3.2.2"
Hi everyone

**Describe the bug**
(Describe the problem clearly and concisely.)
I tried the quarkus-logging-gelf extension on my company app and it worked well with Graylog central management in version 2.1.2. The Graylog version was updated to 3.2.2 earlier this week, but now I don't see my application logs being uploaded to Graylog. I tried udp and tcp protocols, but the messages seems to be com

[2020-03-05 16:06] gsmet commented on #7612
/cc @loicmathieu

[2020-03-05 16:15] #7611 closed

[2020-03-05 16:36] aguibert commented on #7609
thanks for pointing that out @gsmet, I had just done a local build of the doc and saw the property was gone. I see the guide explicitly refers to the old prop so I'll go ahead and remove it from there too.

[2020-03-05 16:38] aguibert commented on #7609
never mind -- guide has been updated too. Will go ahead and close out this issue as a duplicate of #7032

[2020-03-05 16:38] #7609 closed

[2020-03-05 18:18] antoniomacri opened #7618 "JWT groups as string causes 401"
**Describe the bug**
A JWT with a string in the "groups" claim causes the authentication to fail. Es:
[code]

**Expected behavior**
The authentication completes successfully (as on Quarkus v0.23.0).

**Actual behavior**
A 401 is returned because of this exception:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout the following reproducer: https://github.com/antoniomacri/quarkus

[2020-03-05 19:20] sherl0cks commented on #7150
That was it. I can confirm that the build issue is resolved with 1.3.0.Alpha2!

I am unable to deploy and test this app right now for other reasons, but given the patch and the nature of the issue, I think we are good to close this.

[2020-03-05 19:21] #7150 closed

[2020-03-05 19:36] machi1990 commented on #7150
@sherl0cks thanks for the update.

[2020-03-05 20:47] nonconceptual commented on #7172
@fmhwong This may not be what you're looking for, but it appears that all of the config params start in [HttpConfiguration](https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java)

[2020-03-05 21:12] geoand commented on #6588
RSS check tripped

[2020-03-05 21:29] stuartwdouglas commented on #7284
I would be tempted to just say that we don't support split packages (the same package split between multiple jars).

This is just a bad practice generally, and when you have them loaded by different class loaders it will just cause confusion, in dev and test, even though it would work in production mode.

[2020-03-05 21:57] cpmoore commented on #2765
Personally I think empty values should be allowed as it may be an intended value.

[2020-03-05 23:49] troosan commented on #7095
Personally, I find using the servers.url is kind of a hack. I works but I don't think that's the intended use.
Of course it's better than nothing ...

[2020-03-06 00:38] patriot1burke commented on #7605
@oztimpower Can you try this out?

https://github.com/patriot1burke/quarkus/tree/lambda-tmpdir

A few people have complained about this issue but I've been unable to reproduce it in my AWS account.  I don't know if its because I'm in a different region or what.

[2020-03-06 00:47] patriot1burke commented on #4254
This PR might help.  https://github.com/quarkusio/quarkus/pull/7619

[2020-03-06 01:15] dmlloyd commented on #2765
If you want to allow empty values, use `Optional`, which works for all types (not just strings or lists).

[2020-03-06 02:12] kenfinnigan opened #7620 "MP REST Client 1.4 TCK not being executed"
https://github.com/quarkusio/quarkus/blob/master/build-parent/pom.xml#L66 still points at MP REST Client 1.3.4

Needs to be updated to ensure we're passing the right TCK

[2020-03-06 04:20] oztimpower commented on #4254
I confirm that #7619, resolves the issue with my Kotlin Amazon Lambda project.  i.e., forcing the tmp dirs in AmazonLambdaProcessor.java works.

[2020-03-06 04:21] oztimpower commented on #7605
I confirm that #7619, resolves the issue with my Kotlin Amazon Lambda project.  i.e., forcing the tmp dirs in AmazonLambdaProcessor.java works.

Many thanks!  Closing this issue per resolution under #7619.

[2020-03-06 04:21] #7605 closed

[2020-03-06 06:44] phillip-kruger commented on #7620
@kenfinnigan - Should we try and get all version in one place ? So remove the versions from build parent and get it from the BOM ? Then we only need to change in one place ?
(not for now, but maybe as another task)

[2020-03-06 07:05] AmsterdamFilho commented on #2835
Currently migrating 40 Microservices from Thorntail to Quarkus. Really need this too. +1

[2020-03-06 07:09] oztimpower commented on #6701
Oops seems the answer on my side was as simple as by default Amazon Lambda only builds a thin jar, which is why it works for native image as it brings in all classes used.

[code]

It would be nice if the Amazon Lambda extension by default forced this.

[2020-03-06 07:09] tqvarnst commented on #7601
Cannot reproduce after PR #7606. Closing this issue

[2020-03-06 07:09] #7601 closed

[2020-03-06 07:10] geoand commented on #7601
Thanks for checking @tqvarnst

[2020-03-06 07:20] phillip-kruger commented on #7620
@asoldano I get this TCK failure when I update to 1.4.0

[code]

Any suggestions ?

[2020-03-06 07:33] pschyma opened #7624 "[1.3.0.CR1] Gradle build breaks with local non-jar project dependencies"
**Describe the bug**
The feature introduced in #7441 seems too naive. It seems to scan every `project` dependency for a `jar` task without checking if there is one at all.

**Expected behavior**
Gradle builds a multi project build where a sub project with the Quarkus plugins depends on another sub project without a `jar` task (e.g. a `java-platform` project) without any issues.

**Actual behavior*

[2020-03-06 07:58] maxandersen opened #7626 "caching of hardcoded paths can cause issues"
**Describe the bug**
recently something changed in caching so if you have a change in your ~/.m2 settings/location between builds the build fails with errors like:

[code]

**Expected behavior**
in this case its due to doing a build on windows and then afterwards on linux - both have a functioning ~/.m2 folder but since we now store absolute paths things goes wrong.

similar could happen if you cl

[2020-03-06 08:05] johnaohara commented on #6588
Looked at the RSS trip.  Master is using the old workflow, not the new check.  What we need to do is patch the master branch with the new workflow.  Although the test checks out the development branch, it runs the workflow from the master branch. What is the process for updating master? or we need to see if we can configure just workflow to run from the development branch

[2020-03-06 08:16] geoand commented on #6588
We can just cherry pick the RSS commit from development to master. I don't think I have the karma to push to master on the quickstarts, so @cescoffier can you please do that?

[2020-03-06 08:19] mkouba commented on #7284
I agree with Stuart. In fact, I missed the fact that the reproducer app is using split packages.

AFAIK it's not only bad practice but it's also unsupported by JPMS (JDK9+).

[2020-03-06 08:25] geoand commented on #7284
Should we have that in the docs somewhere? The problem is where... CDI docs maybe?

[2020-03-06 08:27] mkouba commented on #7607
AFAIK the JAX-RS providers are instantiated during the [STATIC_INIT](https://quarkus.io/guides/writing-extensions#bootstrap-three-phases) bootstrap phase, i.e. when a native image is built. This means that a config property passed as a system property or an ENV variable may not be reflected.

You can workaround this known issue by accessing the property lazily:
[code]
`Provider<String>` could be a

[2020-03-06 08:37] geoand commented on #7607
@mkouba Thanks! I believe we should have a good warning message about this use case. Would you like to add it or should I?

[2020-03-06 08:46] mkouba commented on #7284
I don't think it's a CDI-specific problem... Maybe we should test a package-private method access first?

[2020-03-06 08:50] mkouba commented on #7607
Sounds good. Note that it could be applied to other components as well. Basically any CDI bean that is known to be instantiated during STATIC_INIT.

Go ahead! ;-)

[2020-03-06 08:52] geoand commented on #7607
Indeed, but at the moment I don't have anything else in mind, so I'll start with this :)

+1

[2020-03-06 09:06] rsvoboda opened #7631 "Graceful shutdown failed with Quarkus 1.3.0.CR1 - No bean found for required type [ShutdownReadinessCheck] and qualifiers [Readiness]"
I see `Graceful shutdown failed: javax.enterprise.inject.UnsatisfiedResolutionException` in the log of tests. Tests run is not failed because Quarkus shutdown error is just logged by Quarkus.

Message continues with `No bean found for required type [class io.quarkus.smallrye.health.runtime.ShutdownReadinessCheck] and qualifiers [[@org.eclipse.microprofile.health.Readiness()]]`.

Reproducer: https:

[2020-03-06 09:06] phillip-kruger commented on #7620
What I have so far (maybe it helps anyone else looking at this)

The  `org.eclipse.microprofile.rest.client.tck.cditests.CDIClientHeadersFactoryTest` test fails because
`org.eclipse.microprofile.rest.client.tck.ext.CdiCustomClientHeadersFactory` has an `@Inject Counter` that does not gets injected.

However if I do `this.counter = CDI.current().select(Counter.class).get();` that works.

[2020-03-06 09:12] rsvoboda opened #7632 "Bootstrap application - fail with 1.3.0.CR1 in native - substitution target for io.quarkus.vertx.core.runtime.graal.Target_sun_nio_ch_Iocp is not loaded"
I see fail with simple bootstrap application based on Quarkus 1.3.0.CR1 in native - substitution target for io.quarkus.vertx.core.runtime.graal.Target_sun_nio_ch_Iocp is not loaded

Using GraalVM CE 19.3.1 JDK11 based one.

[code]

[code]

[2020-03-06 09:16] rsvoboda commented on #7632
Just tried the sample app with JDK8 based GraalVM and it passes ...

[code]

[2020-03-06 09:29] rsvoboda opened #7633 "MacOS native terminal - banner looks odd - terminal width 80"
Quarkus banner looks odd on MacOS native terminal. It's due to the default terminal width 80.
banner looks ok when the terminal width is increased.

Maybe the banner should count with default of 80 characters.

![Screenshot 2020-03-06 at 10 23 02](https://user-images.githubusercontent.com/925259/76070414-c7cb2800-5f94-11ea-9913-98e70c7ccbf3.png)
![Screenshot 2020-03-06 at 10 28 37](https://user-im

[2020-03-06 09:48] gemmellr commented on #7632
I just came to raise the same issue:

I am seeing the error in the native build for a JDK 11 CI job for an extension. The CI jobs run on ubuntu-18.04, and it was using GraalVM 19.3.1 Java 11 via container build with quay.io/quarkus/ubi-quarkus-native-image:19.3.1-java11

It started failing with a nightly build last night against Quarkus master:
https://github.com/amqphub/quarkus-qpid-jms/runs/4892

[2020-03-06 09:58] geoand commented on #7632
cc @gwenneg

[2020-03-06 10:22] loicmathieu commented on #7612
@MrTyre2 GELF UDP is compressed via GZIP (it's no clearly documented in the site of the library we usehttps://logging.paluch.biz/) and it's supported by Graylog.

GELF TCP is not compressed.

You can turn off the compression using `?compression=false` on the URL of your Graylog server.

I assume the issue here is because you have something between your application and Graylog, as it's not very com

[2020-03-06 10:27] vikas326 opened #7635 "Getting Build Failure with following error while running quarkus project"
[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.2.0.Final:build (default) on project helloworld: Failed to build a runnable JAR: Failed to augment application classes: Build failure: Build failed due to errors
[ERROR] 	[error]: Build step io.quarkus.arc.deployment.configproperties.ConfigPropertiesBuildStep#setup threw an exception: java.lang.NullPointerException
[ERROR] 	at io.qua

[2020-03-06 10:34] cescoffier commented on #7633
On mine, it's just not readable.

![image](https://user-images.githubusercontent.com/402301/76076083-7031ba00-5f9e-11ea-80f6-b97739136930.png)

[2020-03-06 10:38] vikas326 commented on #7635
I am trying to convert a jhipster generated project to quarkus. The above error is coming while running the command "mvn clean install -X". The same NullPointerException also comes when I try to run the project with command "mvn compile quarkus:dev".

[2020-03-06 10:42] gemmellr commented on #7632
Just for completeness, the same occurs locally with Graal 20.0.0 native container based builds - works with 8, fails with 11 (via quay.io/quarkus/ubi-quarkus-native-image:20.0.0-java11)

[2020-03-06 10:44] SR-Lut3t1um commented on #7632
Same issue with gradle:
[code]

[2020-03-06 10:46] asoldano commented on #7620
I believe this would have to do with the way RESTEasy is integrated in Quarkus, given the mp rest client tck is part of resteasy build process, so it's passing.
Perhaps this might have to do with the different CDI implementation?

[2020-03-06 10:51] cescoffier commented on #7632
These classes are only available on Windows, the `onlyIf` must be adapted.

[2020-03-06 10:56] jaikiran commented on #7632
I've a fix coming up for this one.

[2020-03-06 10:57] SR-Lut3t1um commented on #7635
Sounds like you hav a config issue, whats inside your application.propperties?

[2020-03-06 11:01] cescoffier commented on #7632
Me too :-)

[2020-03-06 11:02] cescoffier commented on #7632
@jaikiran ping me when you have your PR, so we can compare.

[2020-03-06 11:04] jaikiran commented on #7632
Hello @cescoffier, I've this:

[code]
Of course testing is still in progress (build takes a while).

[2020-03-06 11:05] cescoffier commented on #7632
I didn't know Platforms ! Much better. And yes, testing is going to take a while as we would need feedback on the 3 OS.

[2020-03-06 11:17] jaikiran commented on #7632
I've opened https://github.com/quarkusio/quarkus/pull/7636. My local (basic) testing went fine with this change (I was seeing the same failure as noted in this issue on my *nix system without this change).

[2020-03-06 11:46] aloubyansky commented on #7624
Thanks for reporting this. We should definitely be checking whether the jar task is present. It does seem to fix your project build.
About reliance on the jar task presence in general, is there a way in Gradle to figure out which task produces a jar (or jars) if it's not `JavaPlugin.JAR_TASK_NAME`?

[2020-03-06 11:48] Ladicek opened #7637 "the `container-image-s2i` extension runs `oc version` without reason"
**Describe the bug**

I added the `container-image-s2i` extension so that I can customize the base S2I image in generated OpenShift resources. (When the extension is not present, the base S2I image is always `fabric8/s2i-java`, even though I added the `quarkus.s2i.base-jvm-image` config property. I personally consider the `fabric8/s2i-java` image long deprecated and dangerous to use, as it clearly

[2020-03-06 11:49] Ladicek commented on #7637
Suggestion: why doesn't `S2iBuild.getAsBoolean` simply `return true`, just like `JibBuild`?

CC @iocanel @geoand

[2020-03-06 11:50] aloubyansky commented on #7624
In the mean time, I opened https://github.com/quarkusio/quarkus/pull/7638

[2020-03-06 11:51] geoand commented on #7637
I'll leave this to @iocanel  since I haven't played with s2i at all

[2020-03-06 11:58] crissi98 opened #7640 "Wrong logging format when using -javaagent or -agentpath"
**Describe the bug**
When a Java-Agent is attached to quarkus running in jvm-Mode, the Log-Format specified by default from quarkus or the one specified in the application.properties is not used to format Log-Messages anymore. This only happens, when the Java-Agent is producing Log-Messages as well.

**Expected behavior**
Logs should look like this:
[code]

**Actual behavior**
Logs do look like th

[2020-03-06 11:58] sberyozkin commented on #7561
@rsvoboda The problem is that at the moment we simply return a null `oidcTenantConfig` if the `auth-server-url` is null, that was done to distinguish between available or unavailable tenant configurations, which causes the side-effects. I think we need to introduce a per-tenant specifc 'enabled' property, need to think about it

[2020-03-06 11:59] Ladicek opened #7641 "the `container-image-s2i` extension logs a warning when I change the base S2I image"
**Describe the bug**
I added the `container-image-s2i` extension so that I can customize the base S2I image in generated OpenShift resources. But when I do so (after overcoming all the obstacles described in #7637), I get a warning:

[code]

That is uncalled for. The config property is there for a reason. I don't think even an INFO level would be appropriate -- I don't need a message that a config

[2020-03-06 11:59] Ladicek commented on #7641
CC @iocanel -- would you be fine with just removing the log message? I can submit a PR if you agree.

[2020-03-06 12:13] jamesfalkner opened #7642 "Ability to remove extensions via maven/gradle plugin"
**Description**
Currently I can add extensions via maven or gradle plugin. This request is to be able to remove them as well.

[2020-03-06 12:13] geoand commented on #6084
This keeps on coming up on chat. I propose that we implement a special handling for this one case now since it's the most common one and would go a long way to make users feel more in control

[2020-03-06 12:17] pschyma commented on #7624
The jar task is present if the `java` plugin is applied. But there may be additional tasks, which may create additional jars like shadowed jars [1]. I'm not sure if such a case applies to Quarkus based projects.

[1] https://www.baeldung.com/gradle-fat-jar

[2020-03-06 12:21] gsmet opened #7643 "Transient dev mode error on Windows"
We often have this error on Windows:
[code]

[2020-03-06 12:22] gsmet commented on #7643
@stuartwdouglas does it ring a bell. I remember having seen this type of error a long time ago but I thought you had fixed them.

[2020-03-06 12:22] gsmet commented on #7643
@jaikiran might be an interesting puzzle for you too :).

[2020-03-06 12:23] gsmet commented on #7641
/cc @geoand

[2020-03-06 12:24] Frintrop commented on #6508
can we support. we are new to mongo-spring and quarkus ...

[2020-03-06 12:25] rsvoboda commented on #7633
@cescoffier I see the same as you when using iTerm2 ++ native image

But when using dev mode the banner looks ok :/
@maxandersen fyi

![Screenshot 2020-03-06 at 13 23 37](https://user-images.githubusercontent.com/925259/76083361-b8a4a400-5fad-11ea-9519-3893826e422c.png)

[2020-03-06 12:25] Frintrop commented on #6508
if there is a documentation how to make mongo-spring-data a plugin for quarkus

[2020-03-06 12:25] gsmet commented on #7640
/cc @dmlloyd

Not sure we can do anything about it though.

[2020-03-06 12:29] geoand commented on #6508
Hi,

If you would like to engadge in this work, then I suggest first reading https://quarkus.io/guides/writing-extensions. Then looking (and following along with a debugger) the code of the spring-data-jpa extension would make most sense

[2020-03-06 12:31] geoand commented on #7641
I agree with @Ladicek

[2020-03-06 12:44] aloubyansky commented on #7624
Ok, there seems to be a way to analyze the output of every project task. So, I could catch all the tasks producing JARs. In your project, for example, I see tasks like `javadocJar` and `sourcesJar` besides the `jar` task. So, those should definitely be filtered out. Do you happen to know other "known" JAR producing tasks that should be filtered out?

[2020-03-06 12:45] aloubyansky commented on #7624
That could quickly lead to other kind of undesired consequences though.

[2020-03-06 12:45] aloubyansky commented on #7624
So I'm wondering whether we should stick to `JavaPlugin.JAR_TASK_NAME`.

[2020-03-06 12:52] #7626 closed

[2020-03-06 12:57] aloubyansky commented on #7624
Sorry, I missed that. Yes, definitely. Attention @gsmet

[2020-03-06 13:03] sirAlexanderT commented on #6847
@fcracker79 out of interest, how did you solve your issue?

[2020-03-06 13:03] Ladicek commented on #7641
Submitted https://github.com/quarkusio/quarkus/pull/7644.

[2020-03-06 13:09] geoand commented on #6084
I did a quick dirty check with: https://github.com/quarkusio/quarkus/pull/7645

I believe it's way better than nothing having anything at this point since I have lost count of how many times we have answered this question in chat

[2020-03-06 13:14] cristianokbc opened #7646 "Quarkus hangs when clients disconnect after sending incomplete POST requests"
**Describe the bug**

When a client disconnects after sending an incomplete POST request, Quarkus keepks trying to read the input, blocking the thread indefinitely. Eventually, when all threads become blocked, Quarkus is unable to handle any requests.

It looks that VertxInputStream.VertxBlockingInput should add an exception handler to the request.

**Expected behavior**
Quarkus should throw an ex

[2020-03-06 13:19] gsmet commented on #7635
Are you using the exact same version for the Quarkus Maven plugin and the Quarkus BOM?

It looks like the type of error you have when the 2 versions don't match.

[2020-03-06 13:26] jaikiran commented on #7643
Yeah, I just noticed this one during my PR run and was planning to take a look :) I'll find a Windows system and see what's going on.

[2020-03-06 13:30] phillip-kruger commented on #7620
@stuartwdouglas has a fix for this in the Quarkus extension, however this is a "hack". I will open an issue on RESTEasy to fix there and then once that release gets included in Quarkus, to remove the "hack".

[2020-03-06 13:44] mszpiler commented on #6701
I have the same problem like @kolorobot

[2020-03-06 13:48] pedroigor commented on #7561
Or maybe just add some validations?

[2020-03-06 13:58] #7632 closed

[2020-03-06 14:13] #7624 closed

[2020-03-06 14:13] #7607 closed

[2020-03-06 14:20] kenfinnigan commented on #7620
The build-parent versions are what feeds the TCK runs.

I think MP versions were then added to the BOM because some dependencies were explicitly declared in some places, but not for all MP specs.

I don't believe they're included in any way, which is why there's duplication

[2020-03-06 14:20] FroMage opened #7649 "Qute: programmatic injection fails"
Just tried:

[code]

And I got:

[code]

Apparently, the qualifier is used at first, but then when we get the list of selected beans, they only have the qualifiers that are on the producer method, and the requested qualifier is gone and cannot be passed properly to the producer method to get the requested template.

[2020-03-06 14:21] asoldano commented on #7620
Thanks @stuartwdouglas !
@phillip-kruger , would you be able to create a PR against RESTEasy for fixing this in a way that allow removing the Quarkus hack?

[2020-03-06 14:29] FroMage commented on #7649
FTR, this works: `Arc.container().instance(Engine.class).get().getTemplate("hello")`, so I'm not sure this issue really requires a fix.

[2020-03-06 14:30] iwangxiaodong commented on #7269
@gwenneg

**quarkus 1.3.0.CR1 and GraalVM 20.0.0 on Windows**

  c = (HttpURLConnection) new URL(url).openConnection();
  get response code ...  **Runtime**

--------------------------------------------------------------------------------
Caused by: java.lang.NoSuchMethodError: java.lang.String.getBytes()[B
        at com.oracle.svm.jni.functions.JNIFunctions$Support.getMethodID(JNIFunctions.java:

[2020-03-06 14:39] phillip-kruger commented on #7620
Yes @asoldano . Just testing on localhost, then I'll do a PR. Will add @stuartwdouglas to review.

[2020-03-06 14:40] FroMage commented on #7649
Closing then, there's a better way to do this.

[2020-03-06 14:40] #7649 closed

[2020-03-06 14:41] phillip-kruger commented on #7620
@kenfinnigan would it not be a good idea to have all MP version in the BOM, so when users use the bom the correct MP api pulls in ?

[2020-03-06 14:42] kenfinnigan commented on #7620
To date that's happened transitively, and been fine.

The bigger issue is having the version duplicated across poms

[2020-03-06 14:43] the-bug commented on #6906
PR was merged.
@rsvoboda Can we close this issue?

[2020-03-06 14:45] machi1990 commented on #6906
Thanks for the heads up @the-bug

Fixed by #6942.
Closing!

[2020-03-06 14:45] #6906 closed

[2020-03-06 14:52] dmlloyd commented on #7640
Once we make the move to Java 11, we might be able to solve this kind of problem.

[2020-03-06 14:52] emmanuelbernard commented on #6271
I'd recommend to work on a MicroProfile Reactive Messaging connector for pulsar. Whether it should be alongside native APIs or in lieu of, I don't know.

[2020-03-06 14:56] Ladicek opened #7650 "quarkus.{kubernetes,openshift}.expose=true doesn't work"
**Describe the bug**

I tried to migrate from the legacy `kubernetes.expose=true` / `openshift.expose=true` properties to the new `quarkus.kubernetes.expose=true` / `quarkus.openshift.expose=true` properties, but no `Ingress` / `Route` is being generated.

Also the `KubernetesConfig` / `OpenshiftConfig` classes don't have an `expose` field, so this looks like an important omission.

**Expected beh

[2020-03-06 14:56] Ladicek commented on #7650
CC @iocanel @geoand

[2020-03-06 14:58] geoand commented on #7650
I'll check it out, thanks for reporting

[2020-03-06 14:58] Ladicek commented on #7650
I looked at how easy/hard this would be to fix, and found `AddIngressDecorator` / `AddRouteDecorator` in Dekorate. However, their constructors accept weird objects that I don't know how to obtain. Also these 2 classes seem to be quite different in how they handle labels, which is strange.

[2020-03-06 14:59] PHameete commented on #4961
Hi all. Thank you for your work on this! If I understand correctly, this is going to add support for all the currently missing Kafka Streams configuration properties, and not just SASL?

If desired, I can help with testing these changes.

[2020-03-06 15:13] gwenneg commented on #7269
Thanks for reporting this new issue @iwangxiaodong. I'll take a look at it in a few hours.

[2020-03-06 15:17] ge0ffrey commented on #7556
626 usages of the http version of that xsd. Mostly in poms, better wait until 1.3.0 is out for such a massive change.

[2020-03-06 15:19] geoand commented on #7650
@iocanel do you have any better solution in mind other than adding some hard-coded support in `KubernetesConfigUtil`?

[2020-03-06 15:24] emmanuelbernard commented on #7646
I am not sure who is best to work on this?
@stuartwdouglas @FroMage or @cescoffier ?

For info @gastaldi reproduced on master

[2020-03-06 15:26] SR-Lut3t1um opened #7651 "Move from Javax to Jakarta"
When using quarkus currently javax is used when writing apllications on top of quarkus. This feels outdated and is a  unnesesary breaking change coming in the future. I think the switch should be made as soon as possible, to prevent breaking changes in the future.

[2020-03-06 15:28] gsmet commented on #7651
What are you talking about exactly? Because we are using the Jakarta artifacts.

As far as the `javax.*` -> `jakarta.*` package change, it's still ongoing and is still not in a final state.

[2020-03-06 15:28] gastaldi commented on #7646
FYI trying to kill the application with SIGINT (Ctrl + C) won't work after performing the first request with

`echo "POST /hello HTTP/1.1\r\nContent-Length: 1\r\n" | nc localhost 8080`

[2020-03-06 15:29] #7641 closed

[2020-03-06 15:30] SR-Lut3t1um commented on #7651
I'm talking about the package change. Where is the progressdocumented? Is there any issue to get more information about this topic?

[2020-03-06 15:35] gsmet commented on #7651
Well you can follow the discussion on the Jakarta side.

But right now, there are still a lot to do. Once every reference implementation has a stable release, we will be able to switch. But we will need to think about how we want to make the switch as it will be brutal.

In any case, I'm closing this issue for now as it's really not something we can do for the time being and we have that under rad

[2020-03-06 15:35] #7651 closed

[2020-03-06 15:39] #6084 closed

[2020-03-06 16:14] svilenvul commented on #7451
@RogerGMartins  you are right this is an option. Unfortunately after migrating some of the code to native images this is not possible anymore (compilation fails). There are a lot of fields that we want to remove from the logging message (`hostName`, `processName`,`processId`).

[2020-03-06 16:16] iabughosh commented on #5471
Is there a possibility to implement [OpenTracing Instrumentation for Kafka Clients](https://github.com/opentracing-contrib/java-kafka-client): both Streams & Reactive-messaging?

[2020-03-06 16:16] geoand commented on #5471
@pavolloffay ^

[2020-03-06 16:25] MrTyre2 commented on #7612
Hey @loicmathieu, indeed the issue seems to come from the additional layer, I heard the TCP protocol is not yet activated but we'll work on it to make it work. Got your explanations right though, thanks for that !

[2020-03-06 16:37] ge0ffrey opened #7653 "Native run of hibernate with enum in entity throws "MappingException: Could not create DynamicParameterizedType for type: org.hibernate.type.EnumType""
I have this class:

[code]

which runs fine in hotspot, but not in graal:

[code]

**Reproduce recipe**

1. Grab quarkus-quickstarts, branch development
2. cd optaplanner-quickstart
3. remove this line from the application.properties:
`quarkus.native.additional-build-args =-H:ReflectionConfigurationFiles=reflection-config.json`
https://github.com/quarkusio/quarkus-quickstarts/blob/development/opta

[2020-03-06 16:49] #7631 closed

[2020-03-06 16:59] galderz commented on #7422
To be clear, what svm is trying to block now is that serialization is not used to create new classes at runtime (see [longer explanation](https://github.com/oracle/graal/commit/eab7e93b585febf7c2c68948af70157732767963)). So, serialization per-se is not being banned, but serialization that can lead to creating classes that are not pre-defined.

[2020-03-06 17:02] EricWittmann commented on #7095
Why do you find it a hack?  You think the context-path should be part of each path item?

[2020-03-06 17:06] #6491 closed

[2020-03-06 17:22] troosan commented on #7095
I checked the documentation a bit (https://swagger.io/docs/specification/api-host-and-base-path/).
And indeed, it seems it is not a hack and can be used to specify a relative path (https://swagger.io/docs/specification/api-host-and-base-path/#relative-urls)

[2020-03-06 17:26] gsmet commented on #7633
@maxandersen FYI I consider this a blocker for 1.3.0.Final.

[2020-03-06 17:27] gsmet commented on #7633
/cc @emmanuelbernard

[2020-03-06 17:39] masini commented on #7462
Hi Emmanuel, thank you for your deep analisys.

I think that the setPiattoordinato is done during deserialization. The collection and the owner are also using @JsonManagedReference and @JsonBackReference, so that is Jackson that during deserialization take care of settings correctly the pointer around of the data coming from the client.

And debugging I can see that this is done correctly.

Maybe

[2020-03-06 17:42] masini commented on #7462
Now short answers to some of your questions:
1) ordiniResourceDelegate.salvaOrdine(ordineAperto) make the REST call to the service using restassured
2) To debug Lombok you can use Idea Plugin, is very good, or delombok using Maven plugin, you choice
3) The faulty equals/hashCode is from Ordine, where we consider that an Order is equals to another if they have the same barcode. This is wrong and wi

[2020-03-06 18:13] sberyozkin commented on #7545
RestEasy uses Apache HttpClient so it should work ?

[2020-03-06 18:14] geniusit commented on #6707
+1

[2020-03-06 18:22] gsmet commented on #6707
Can one of you provide a reproducer?

/cc @patriot1burke @evanchooly

[2020-03-06 18:50] lfmunoz commented on #5101
https://quarkus.io/guides/gradle-tooling  documentation should mention which gradle version you are supporting. Does not work with gradle 4.6 but it did work with 5.6.4

[2020-03-06 20:00] #7545 closed

[2020-03-06 20:40] patriot1burke commented on #6707
No need for a producer.  I understand the problem.  WE don't support stream handler.

[2020-03-06 20:40] patriot1burke commented on #6707
This is a feature request, not a bug.

[2020-03-06 21:07] maxandersen commented on #7633
which part - the 80 character width ? or that character handling in native image is basically random until we apply https://github.com/quarkusio/quarkus/pull/7610 ?

@cescoffier can you try using the fix in #7610 to see if it fixes your situation ?

[2020-03-06 21:15] geoand commented on #7646
Interestingly enough I wasn't able to reproduce on master

[2020-03-06 21:16] gastaldi commented on #5101
@lfmunoz good catch. Mind providing a PR? It should be 6.2

[2020-03-06 21:24] ctomc commented on #7269
the `unistd.h` issue when building on windows is fixed by upgrading to wildfly-common 1.5.4.Final-format-001 that was just released by @dmlloyd

[2020-03-06 21:54] Sanne commented on #7653
interesting, thanks!

[2020-03-06 22:38] hartimcwildfly commented on #7160
The jconn4 SAP ASE driver is not available as maven dependency. I think there could be some licensing problems as SAP is not providing it for downloading without registering. An alternative could be the jtds driver (https://mvnrepository.com/artifact/net.sourceforge.jtds/jtds).

[2020-03-06 23:59] fmhwong commented on #7172
@nonconceptual I can add a new config param in `HttpConfiguration` but it isn't trivial how to pass the value to `Handshake` class.

[2020-03-07 04:49] GregJohnStewart commented on #7156
Sure thing.
I am running `quarkusDev` and `test`, and am seeing the following results:

| Version      | `test`                                                                          | `dev` |
| 1.2.1.Final | `IllegalStateException: No template found` server init error |  Tries to run, but the template object is null |

I can't seem to get latest to work for me, I get an enforcer error when I tr

[2020-03-07 05:11] jaikiran commented on #7156
Hello @GregJohnStewart,

Can you please create a new issue for this one and add all relevant details including the exception stacktrace? We need issues like these to be reported along with details to help us stabilize the product.

[2020-03-07 07:15] esteveavi opened #7665 "Add support for i18n to Qute templating engine"
**Description**
Add support for i18n to Qute templating engine

**Implementation ideas**
Use different localized files to inject i18n texts in the rendering engine:
qute_i18n_en-GB.properties
qute_i18n_es-ES.properties

In the template: {i18n.subject}

Call:
		return appointmentConfirmationMail
				.to(to)
				.subject(subject)
				// the template looks like: Hello {name}!
				.data("branchName",

[2020-03-07 14:09] geniusit opened #7670 "quarkus-amazon-lambda fails with S3Event with native image"
**Describe the bug**
I'm trying to process a binary file in a AWS Lambda function. The lambda is triggered by a PUT / POST of the binary file in S3 (S3Event).

Everything works well on JVM Hot Spot. However it fails with native image with the following error :

`
2020-03-07 01:33:50,132 ERROR [io.qua.ama.lam.run.AmazonLambdaRecorder] (Lambda Thread) Failed to run lambda: com.fasterxml.jackson.data

[2020-03-07 15:07] chrisgleissner commented on #5118
@alexander-dammeier Thanks for pointing out immutables.org. Unlike Lombok, it also supports Java 7. Very useful.

[2020-03-07 15:23] chrisgleissner commented on #2835
We plan on breaking up a JBoss 4 monolith into microservice and would be really keen to use Quarkus instead of Spring Boot. This feature is the only problem that would currently percent us from using Quarkus. Really hope it can be implemented soon, or maybe there is a workaround to manually create EntityManager instances from Datasource instances as Quarkus already supports multiple Datasources?

[2020-03-07 15:39] #7650 closed

[2020-03-07 17:02] geniusit commented on #6707
Unfortunately, the S3Event object doesn't work with native image .
I ve open an issue for it :https://github.com/quarkusio/quarkus/issues/7670
How to retrieve bucket + key informations with the native image ?

[2020-03-07 20:11] geniusit commented on #7670
I'd precise that the constructor of the S3Event class is annotated by `@JsonCreator` as you can see here :
[code]

I suspect that the problem comes from there ...

[2020-03-07 22:15] Guisi commented on #7019
While there isn't a way to do this similar to Spring Boot, you can achieve that with this workaround.

Create a class that implements javax.sql.DataSource, just like below:

`@ApplicationScoped
public class CustomDataSource extends OracleDataSource {

	private static final long serialVersionUID = 1L;

	public CustomDataSource() throws SQLException {
		super();
	}

	@Override
	public Connection get

[2020-03-07 22:27] gwenneg commented on #7269
@iwangxiaodong I can't reproduce locally the `HttpURLConnection` issue you posted above. Could you please give us more details about it or even better provide us with a minimal reproducer?

[2020-03-07 22:55] rsvoboda opened #7672 "Banner full of ??? when running tests against Windows native binary, using cmd"
Banner full of ??? when running tests against Windows native binary, using cmd

But when running the final .exe on my own the banner is ok

![Screenshot 2020-03-07 23 50 07](https://user-images.githubusercontent.com/925259/76153611-99516800-60ce-11ea-89ce-331421076925.png)

![ESil83PXgAAkJO8](https://user-images.githubusercontent.com/925259/76153616-bc7c1780-60ce-11ea-9c51-0b13654e44cb.png)

[2020-03-08 00:58] lfmunoz commented on #5101
@gastaldi Will do this week

[2020-03-08 01:13] brunotitata opened #7673 "camel-quarkus-aws-sns failing to compile image-native"
**Describe the bug**
I am trying to compile an SMS sending project using the `camel-quarkus-aws-sns` dependencies, but when I compile the project for image-native using the quarkus command `./mvnw clean package: dev -Pnative`, some WARNING messages about `java-sdk`. Removing the dependency on `camel-quarkus-aws-sns`, the project was successfully compiled!

I am using Java 11 with GraalVM CE 20.0.6

[2020-03-08 03:49] iwangxiaodong commented on #7269
@gwenneg

Only used quarkus-resteasy.

buildNative - Build time is Successful, runtime is Internal Server Error:
  Caused by: java.lang.NoSuchMethodError: java.lang.String.getBytes()[B

Source code - [example.zip](https://github.com/iwangxiaodong/temporary-thing/raw/master/anything/quarkus-example.zip)

Visit url     **http://localhost:8080/demo**

[2020-03-08 04:43] #7646 closed

[2020-03-08 07:24] fcracker79 commented on #6847
@sirAlexanderT I have used the Quarkus client.
Recently I have had to implement a Graphql client and using that Quarkus REST client was not that comfortable. Here it is how I have implemented the Graphql client
https://github.com/fcracker79/alexa-home-skill/blob/master/skill/src/main/java/io/mirko/impl/repository/GraphqlClient.java

[2020-03-08 07:40] bjornhilstad commented on #7160
I tried both the Sybase/SAP Jconnect driver and the JTDS driver when I made the issue. Both worked fine in JVM mode, but as expected they failed when building to native.
Would Sybase/SAP have to be involved if using their driver or is it possible to make it work in native mode without access to the source code?
The JTDS driver is just JDBC 3, but that would probably do for most cases and that is o

[2020-03-08 09:12] marcelhanser opened #7675 "Quarkus quarkusDev mode not working in a gradle multimodule project - but the runable jar does."
**Describe the bug**
I have following modules in my gradle project:
- common (common stuff, just jee-spec dependencies)
- common-integration (implementations for stuff in common, quarkus dependencies (incl. plugin))
- domain (domain stuff uses interfaces of common, just jee-spec dependencies)
- domain-integration (quarkus dependencies (incl. plugin), generates the final deployable)

Thats the depe

[2020-03-08 12:07] gastaldi commented on #7675
@marcelhanser can you try it with 1.3.0.CR1 or the latest master (999-SNAPSHOT)?

[2020-03-08 12:09] gastaldi commented on #7675
This looks similar to https://github.com/quarkusio/quarkus/issues/6561

[2020-03-08 15:13] marcelhanser commented on #7675
@gastaldi just checked with 1.3.0.CR1
Now i get tones of javax.enterprise.inject.AmbiguousResolutionException's during startup. Seems like every bean is twice in the container.

[2020-03-08 15:40] rsvoboda opened #7678 "Quarkus boot fails when vertx-cache temporary directory exists"
Quarkus boot fails when vertx-cache temporary directory exists.
Running on Windows, using GraalVM 20 JDK 11 based, native image

[code]

First I thought the problem is in the file path which mixes Windows and Linux path separators, but that is not the problem.
The problem is that `file-cache-9cf306ad-0c1b-4d8f-8468-f6d148da5859` directory exists and Quarkus native binary boot fails due to that fac

[2020-03-08 22:00] gwenneg commented on #7673
Hi @brunotitata.

Is it me or is there a problem with the first image you uploaded? It's not loading correctly on my computer.

Regarding the second image with an `exit status 137`, this status means your friend ran out of memory while generating the native image. We will display a clearer error message in Quarkus `1.3` when this happens thanks to https://github.com/quarkusio/quarkus/pull/7645.

[2020-03-08 23:42] brunotitata commented on #7673
@gwenneg loaded here normally ... but I'll post the link here again print ...

[https://camo.githubusercontent.com/f486c85eac2c1cfa355e73e77a730db29a3ca514/68747470733a2f2f692e6962622e636f2f4a4842776248522f30353861336536632d366662312d343363322d623934352d3862656463653630653862642e6a7067](url)

[2020-03-09 01:14] #4455 closed

[2020-03-09 03:50] jaikiran commented on #7678
Looking at the code in vert.x[1], it always uses a call to `UUID.randomUUID()` for the directory name. Do you mean the same UUID is being generated across multiple runs of the build process? What Windows OS?

[1] https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/file/impl/FileResolver.java#L325

[2020-03-09 03:52] stuartwdouglas commented on #7640
If you start it with -Djava.util.logging.manager=org.jboss.logmanager.LogManager then I think it should work.

[2020-03-09 06:29] Xabin commented on #7269
@iwangxiaodong
I was able to both build and run your example without issues.

However, during build I got an error which marked the build as failed, even though it produced a correctly working executable:

Execution failed for task ':buildNative'.

        [error]: Build step io.quarkus.deployment.pkg.steps.NativeImageBuildStep#build threw an exception: java.lang.RuntimeException: Failed to build

[2020-03-09 07:11] cescoffier commented on #7678
I was wondering the same. While the base dir is fixed the actually name is generated at runtime.

[2020-03-09 07:29] #7564 closed

[2020-03-09 07:43] andreas-eberle opened #7683 "Kubernetes Client Watcher Crash"
**Describe the bug**
I'm not sure if this is a bug of the quarkus extension or the client itself.

When my application starts, it registers a watcher for Kubernetes Jobs like this

[code]

All runs fine (I receive job updates as expected) on Azure k8s service for a while. But then suddenly, the log is spammed with exceptions like this

[code]

This message is repeated continously and my service do

[2020-03-09 07:45] rsvoboda commented on #7678
I'm talking about native image on Windows 10.

In JVM mode different directory gets used with every run, with native image binary the directory is always the same (for that one binary).

[2020-03-09 07:49] rsvoboda commented on #7678
True for JVM mode, not in native mode.

Native mode will make our heads hairless:)

[2020-03-09 07:52] andreas-eberle commented on #7683
I found this issue https://github.com/fabric8io/kubernetes-client/issues/1429 with a similar error message (it regards `v1#List` instead of `v1#Status'. Could it be that the native build does not include some required resource files?

[2020-03-09 07:56] geoand commented on #5424
Unfortunately this still comes up from time to to time in CI ([this](https://github.com/quarkusio/quarkus/pull/7676) is the last I saw it) - only on Windows and only for Java 8.

[2020-03-09 08:15] crissi98 commented on #7640
@stuartwdouglas It does work. Thank you!

[2020-03-09 08:16] gintsgints commented on #4253
Yes. This is solved now.

[2020-03-09 08:19] emmanuelbernard commented on #7462
only `orphanRemoval=true` leads to Hibernate checking that you are not derefencing the collection. Because we rely on it to implement the orphanRemoval behavior. That's why you only see this problem here. Other collections have this dereference problem most likely but Hibernate can recover.

I tried to use the IntelliJ IDEA plugin indeed but it did not help me on the debug side. I am probably not

[2020-03-09 08:23] mkouba commented on #7665
I think that the i18n support should be build on top `java.util.ResourceBundle`, if possible.

Currently, the simplest solution (at least in the JVM mode) would be to pass an instance of `ResourceBundle` created by `java.util.ResourceBundle.getBundle(String, Locale)` and access the localized messages through `{bundle.getString('my.message')}`. We would need some tweaks for native image though.

Al

[2020-03-09 08:30] rquinio commented on #7140
cc @gsmet - any chance of this regression being looked at for 1.3.0 ?

[2020-03-09 08:39] ctomc commented on #7269
This looks like same issue maven plugin had.
On windows resulting executable has .exe suffix while code that is coping resulting exe to final destination is trying to copy it without suffix  and Doesn't find it.

[2020-03-09 08:42] SchulteMarkus opened #7684 "[Quarkus 1.3.0.CR1 regression] Building native image fails"
Quarkus 1.3.0.CR1 was being released. I have given it a try. Using Quarkus 1.3.0.CR1, building the native image via docker fails. There is not an issue when using Quarkus 1.2.1.Final.

[code]

**Environment**
$ uname -a
Linux markus-Aspire-VN7-592G 5.3.0-40-generic #32~18.04.1-Ubuntu SMP Mon Feb 3 14:05:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

$ java -version
openjdk version "11.0.6" 2020-01-14

[2020-03-09 08:47] Xabin commented on #7269
@ctomc Ah, I see you already fixed that. Good job :) https://github.com/quarkusio/quarkus/pull/7663

[2020-03-09 08:52] iwangxiaodong commented on #7269
@Xabin @ctomc

Build time is Successful, **runtime** is Internal Server Error

Visit url http://localhost:8080/demo     Caused by: java.lang.NoSuchMethodError: java.lang.String.getBytes()[B

[2020-03-09 08:53] ctomc commented on #7269
For same code that that works under jvm?

[2020-03-09 08:54] iwangxiaodong commented on #7269
@ctomc yes!

jvm is Successful

[2020-03-09 09:05] yanxuehe opened #7685 "Flyway multiple datasource migration does not work on native"
The below is the application.properties

it works on jdk 8.
not on graalvm 19.3.1
the error is
[code]

if i change the sql files with different versions.
then all the sql files will be executed for all the data sources

[code]

[2020-03-09 09:09] restalion opened #7686 "Jakarta Bean Validators not working in native mode for CloudEvents api"
Hi All,
I'm working in a quarkus project using [sdk-java api](https://github.com/cloudevents/sdk-java/blob/master/api/pom.xml) to create and receive events into a kubernetes cluster. If we execute the project using the JVM it is working fine, but when I launch it as a native image I see the error below:

`javax.validation.NoProviderFoundException: Unable to create a Configuration, because no Jakar

[2020-03-09 09:17] andreas-eberle opened #7687 "Quarkus 1.3.0.CR1: Cannot use @RestClient in constructor injection"
**Describe the bug**
With Quarkus 1.2.1, I was able to inject Rest clients via constructor injection. With Quarkus 1.3.0.CR1, this is no longer possible. It seems the `@RestClient` annotation is no longer allowed for parameters.

Code sample:

[code]

**Expected behavior**
I should be able to use the rest client with constructor injection

**Actual behavior**
Cannot inject a rest client via constr

[2020-03-09 09:19] andreas-eberle commented on #7687
Related issue: https://github.com/eclipse/microprofile-rest-client/issues/257

[2020-03-09 09:35] brunobat commented on #7594
Thanks @machi1990 but it's not what the documentation says:
![image](https://user-images.githubusercontent.com/2318030/76200304-4b7d5280-61e9-11ea-9957-1a0191635bd9.png)
Either the code or the documentation are wrong.

[2020-03-09 09:56] pavolloffay commented on #5471
I haven't found a way in Quarkus to automatically pull in OT instrumentation for Kafka client. Even if we do that it will not be a full solution. There will be spans for each receive/send operation but the traces will be likely broken due to fact that reactive messaging does not propagate context in the message - see https://github.com/eclipse/microprofile-reactive-messaging/issues/72. First we ne

[2020-03-09 09:57] cescoffier commented on #7678
Just to be sure, it only happens on windows?

[2020-03-09 09:59] gsmet commented on #7172
@stuartwdouglas could you guide @fmhwong . See his question here: https://github.com/quarkusio/quarkus/issues/7172#issuecomment-590393234 .

[2020-03-09 10:01] Frintrop commented on #6508
mhh i saw this extension. but u think my experience is too low for that..

[2020-03-09 10:07] geniusit commented on #7670
@patriot1burke Please could you take a look on it ? Thank you

[2020-03-09 10:12] geoand commented on #6508
Perhaps first takling some easier Quarkus issues to gain some experience would make sense?

[2020-03-09 10:13] gsmet commented on #7665
If we do that, please let's make the properties UTF-8 encoded. Otherwise, this quickly is a nightmare.

[2020-03-09 10:14] gsmet commented on #7685
Could you provide a small reproducer? Thanks!

[2020-03-09 10:15] sberyozkin commented on #7446
@moksamedia Can you please test 1.3.0.CR1 ? By the way, with your configuration, `quarkus-oidc` will try to restore the original request URI which involves another redirect under the hood (adding `restore-path-after-redirect=false` will always return the user to the `redirect-path` itself). So having a `cookie-path` set to `/` may make sense in this case.

[2020-03-09 10:20] gsmet commented on #7686
CloudEvent is not able to build the `ValidatorFactory` as it requires a specific bootstrap for native images.

Quarkus initializes a `ValidatorFactory` itself and you should use it everywhere.

What you can do is to inject the `Validator` via CDI where you initialize the CloudEvent and use this method https://github.com/cloudevents/sdk-java/blob/master/api/src/main/java/io/cloudevents/v03/CloudEve

[2020-03-09 10:29] emmanuelbernard commented on #7633
@maxandersen it's the 80 char width. 82 is fine. 81 and below is not.
So we could remove one column left and one column right of the Quarkus term.

But 80 is fairly arbitrary to be honest. A nice option would be for the text to not overflow. I don't know how one can do that though. CC @dmlloyd

[2020-03-09 10:40] gsmet commented on #7678
Maybe the boot failing is happening only on Windows but I would bet the hardcoded temp directory is a global issue if the directory name is generated at static init.

[2020-03-09 10:46] cescoffier commented on #7678
The directory name is computed at runtime and is not stored in a static field (the File Resolver is created in the VertxImpl constructor). Also, the directory should be clearer on shutdown (at least it's what the code is trying to do...).

[2020-03-09 10:49] ppalaga opened #7689 "FileSystemAlreadyExistsException when recordBanner is run in parallel"
Some of us use [mvnd](https://github.com/gnodet/mvnd) to build Camel Quarkus. Mvnd builds the modules in parallel by default. The recently added `BannerProcessor.recordBanner()` does not seem to be prepared for that because it throws the following exception when an application is built with mvnd:

[code]

Steps to reproduce:

1. clone, build and add mvnd to PATH as described on https://github.com/

[2020-03-09 10:51] ppalaga commented on #7689
@geoand I wonder whether we could find out isQuarkusCoreBanner without opening the JAR? E.g. by matching the URL string against a RegExp?

[2020-03-09 10:56] geoand commented on #7689
So, there is no good (as in "won't break if things are refactored") way of knowing if the banner is the default or not without opening the JAR. On the other hand, in most cases I don't think we really care, so we could just ignore the error and return false.

@maxandersen WDYT?

[2020-03-09 11:03] emmanuelbernard commented on #7633
A generic solution at the terminal level is https://apple.stackexchange.com/a/210666/20624

`tput rmam` to remove wrapping of all lines.
`tput smam` to set it back.

Apparently Lanterna has code to use this ansi logic https://stackoverflow.com/a/53267802/200911

[2020-03-09 11:04] ppalaga commented on #7689
If you really need to read the JAR, `java.util.jar.JarFile` could be a solution.

[2020-03-09 11:05] ppalaga commented on #7689
Some locking and caching of the default URL could help too https://github.com/ppalaga/quarkus/commit/196a6ddb12bb4476424726fef14fe8d84eeb9b87

[2020-03-09 11:06] geoand commented on #7689
TBH, I really don't want to go to all that complexity just to support parallel builds...

[2020-03-09 11:07] geoand commented on #7689
But you can go ahead and create a PR with your change, I won't block it :)

[2020-03-09 11:09] machi1990 commented on #7594
@brunobat thanks for the feedback.

The documentation just means that if you want to activate the swagger ui in prod you have to always include it by setting the appropriate property to `true`.

Since the swagger-ui configurations are not overridable in runtime i.e (the configs are only used during application build time), you can still activate them via build system props during app packaging as

[2020-03-09 11:11] lburgazzoli commented on #5656
We need this also in camel-k to support delegating scheduling to the platform (k8s)

[2020-03-09 11:14] ppalaga commented on #7689
Reducing the build times to 1/3 is a strong motivation.

[2020-03-09 11:20] gsmet commented on #7689
Yeah, we should seriously consider doing something. We are breaking some people's workflow to display a banner. So maybe we can fix that and keep those people happy?

If knowing if it's the default is only used to display the `Powered by Quarkus` that is displayed just a line below, maybe we can just drop it?

Does someone really thing it's a compelling enough reason to break someone's workflow?

[2020-03-09 11:21] PieterjanDeconinck commented on #1610
I'm currently stuck on this issue as well. All our builds are running on Jenkins inside a Docker container to ensure consistent artifacts. However this approach does not allow creating native images in an easy way. DooD (Docker outside of Docker) does not work because of the volume mapping issue.

As far as I see, there are two options:
1. configure & build a custom Docker image to use in Jenkins

[2020-03-09 11:23] geoand commented on #7689
I already mentioned above that we can display it and be done with it instead of adding caching / synchronization code

[2020-03-09 11:25] alexander-dammeier opened #7690 "cannot call rest api in JUnit5 @BeforeAll method"
**Describe the bug**
I want to create test data for my tests. For this reason i tried to call my rest api with RestAssured in a beforeAll method in JUnit5.
My goal is to stop using SQL files with test data because it is a mess to edit it and to create new datasets with correct references. Therefore i created a little rest client with rest assured that creates randomized data over the rest api.

**

[2020-03-09 11:27] alexander-dammeier commented on #7690
I tried to reproduce it with 1.3.0.CR1 but i cannot load it from [maven central](https://mvnrepository.com/artifact/io.quarkus/quarkus-universe-bom). It is not there :/
How can i use 1.3.0.CR1? Do i need another repo?

[2020-03-09 11:28] gsmet commented on #7689
Why don't we just check if the path has been changed in the config?

Agreed, it's not as accurate but it would be far simpler and less convoluted and would work most of the time.

[2020-03-09 11:30] geoand commented on #7689
That was the initial implementation. It was changed because a user could add their own banner that uses the same name - and in this case we do want to show the `Powered by` line.

As everything in life, it depends. If you want it to always be correct, you need to do what has been done here.
But I completely agree that we can just display the line if the a `FileSystemAlreadyExists` exception is thr

[2020-03-09 11:38] gsmet commented on #7689
I think it's perfectly acceptable. It's not as if it was critical. You have `Power by Quarkus` displayed one line below...

That simplifies things a lot and avoids this issue.

[2020-03-09 11:40] geoand commented on #7689
Sure, but them someone else will come back and ask for the feature. So we need a final decision on this.

To be clear, my proposal is to the logic as is and just return `false` when `FileSystemAlreadyExists` is thrown

[2020-03-09 11:42] SR-Lut3t1um commented on #7672
I also get the same issue in intellij when starting quarkusDev

[2020-03-09 11:47] dmlloyd commented on #7633
[Here is a list](http://www.cse.psu.edu/~kxc104/class/cmpen472/11f/hw/hw7/vt100ansi.htm) of ANSI codes. `<ESC>[7l` will disable line wrapping, and `<ESC>[7h` will enable it.

[2020-03-09 11:48] rsvoboda commented on #7678
I've seen it on Windows only, maybe it's because Windows are more strict when it comes to filesystem and locks on files.

Sure, but that didn't happen with `mvn clean install -Dnative`, vertx-cache directory was left there and `target\getting-started-1.0-SNAPSHOT-runner.exe` (after maven command) failed because the directory existed.

[2020-03-09 11:51] nimo23 commented on #7690
yes, see https://github.com/quarkusio/quarkus/issues/6171

Use the `quarkus-bom` instead of the `quarkus-universe-bom` for candidate releases:

mvn io.quarkus:quarkus-maven-plugin:1.3.0.CR1:create -DplatformVersion=1.3.0.CR1 -DplatformArtifactId=quarkus-bom

[2020-03-09 11:57] yanxuehe commented on #7685
plz refer this, thanks!
https://github.com/quarkus-reproducers/flyway-issue-7685

[2020-03-09 11:59] restalion commented on #7686
Thanks a lot Guillaume! It's working fine now. The code is updated in github but I add here the changes  for future references:

I have injected the Validator in EventService class:
`    @Inject
    Validator validator;`

And add a `withValidator(validator)` to the CloudEvent builder:

[code]

[2020-03-09 11:59] #7686 closed

[2020-03-09 12:03] geoand commented on #7689
Give me a couple minutes to open a PR that @ppalaga can check

[2020-03-09 12:06] rsvoboda commented on #7678
So I tried on macOS and the tmp folder name is unique on every run of native app.
On macOS I'm using 19.3.1, on Windows machine I used GraalVM 20 as suggested in PR for Windows native by Tomaz.

3x execution of native binary with Installed features: [cdi, resteasy]
[code]

[2020-03-09 12:10] rsvoboda commented on #7672
@maxandersen / @gsmet dev experience in IDE

[2020-03-09 12:10] gastaldi commented on #7683
@andreas-eberle it's hard to say without a reproducer project, but your theory of missing resource files during the native build makes sense. Try in JVM mode and see if it the problem remains

[2020-03-09 12:19] geoand commented on #7689
@ppalaga can you try https://github.com/quarkusio/quarkus/pull/7693 please?

[2020-03-09 12:20] gsmet commented on #7670
@geniusit could you try this PR: https://github.com/quarkusio/quarkus/pull/7694 ?

Get the code, then run `mvn clean install -DskipTests -DskipITs` then use `999-SNAPSHOT` as the version (and be sure to use `quarkus-bom` as the bom).

If it works for you, let's make a deal: you provide me a simple Jackson test case that is failing in native mode that I can include in the test suite.

[2020-03-09 12:33] #7561 closed

[2020-03-09 12:47] brunobat commented on #7594
Nice! thanks @machi1990 That makes more sense.
Now I think that should probably be clearer in the documentation.

[2020-03-09 12:58] bcluap opened #7695 "JDBC Opentracing Regression on 1.3.0.CR1"
**Describe the bug**
"Unable to acquire JDBC Connection" when turning on JDBC opentracing

**Expected behavior**
JDBC can connect and tracing events are sent

**Actual behavior**
Errors are thrown and JPA fails completely:

: javax.persistence.PersistenceException: org.hibernate.exception.GenericJDBCException: Unable to acquire JDBC Connection
	at org.hibernate.internal.ExceptionConverterImpl.conv

[2020-03-09 13:08] smil2k opened #7696 "JBoss.Logging in junit tests"
**Describe the bug**
In case I would like to use JUnit for the purpose it was conceived (testing methods within small confined test scenarios without starting quarkus) and would like to use SLF4J for logging, then JBoss Logging gets into the way. It is virtually impossible to configure jboss logging by dropping some file on classpath like logback-test.xml or whatnot.

Additionally the logging is d

[2020-03-09 13:13] esteveavi commented on #7665
Martin,

Tried your approach:

 ResourceBundle bundle = ResourceBundle.getBundle("i18n.messages", new
Locale("es", "ES"));

return appointmentConfirmationMail
.to(to)
.subject(subject)
.data("appointmentCode", "CODE")
.data("branchName", branchName)
.data("serviceName", serviceName)
.data("appointmentDatetime",
appointmentDatetime.format(DateTimeFormatter.ISO_LOCAL_DATE_TIME))
.data("bundle", bund

[2020-03-09 13:23] maxandersen commented on #7672
I don't understand the difference between your two examples ?

It looks like you are running tests in a docker built binary hence the ?'s are expected unless you are using latest master having #7662 applied ?

[2020-03-09 13:23] maxandersen commented on #7672
can you please give exact steps on what you are doing ?

[2020-03-09 13:25] maxandersen commented on #7633
@emmanuelbernard @cescoffier screenshot shows weird ascii characters - not just caused by 80 chars afaics.

current banner is  now max 80 char.

[2020-03-09 13:28] alexander-dammeier commented on #7690
Thank you very much! Now my team and i will develop and test with your candidate releases :)
But as expected with 1.3.0.CR1 there is the same problem again.

[2020-03-09 13:34] nderwin commented on #7580
@cescoffier ping?  Any ideas on this one?

[2020-03-09 13:38] jaikiran commented on #7695
Hello @bcluap,
Which Java version is this? Can you show us your application.properties? Or better still can you share a reproducer (preferably as a github repo) which reproduces this issue? We had fixed this in 1.3.0.Alpha2 https://github.com/quarkusio/quarkus/pull/7089 but in your case it looks like it started failing in CR1, so we will need a few more details.

[2020-03-09 13:44] loicmathieu opened #7698 "Add more tests to MongoDB with Panache"
**Description**
MongoDB with Panache provides _functional_ integration tests, that test the main functionality of MongoDB with Panache based on functional REST endpoints.

This is not exhaustive and the extension test coverage is not good.

**Implementation ideas**
Add a technical endpoint that test the various methods of MongoDB with Panache API that are not covered by the current integration tes

[2020-03-09 13:49] maxandersen commented on #1610
what is it you would override it to instead ?

fyi, the full command done to run docker is printed to console so you can copy that command line and do the build manually with any changes you want. If you find something that works we can look at adding some support for it.

[2020-03-09 13:51] geoand commented on #7695
cc @gsmet (in case it could be config related) and @pavolloffay

[2020-03-09 13:51] Raphael889 opened #7699 "QuarkusTest failed with error 'Connection timed out' since Quarkus version 1.1.0 on Windows OS"
**Describe the bug**
Annotated tests with QuarkusTest no longer pass after version 1.0.1.Final of Quarkus.
* All tests pass with Quarkus version 1.0.1 on Windows (same code).
* All tests pass in Gitalb-ci job (Linux image) with all Quarkus version.

**Expected behavior**
All tests pass without error 'Connection timed out' in all Quarkus version on Windows OS.

**Actual behavior**
All tests annotat

[2020-03-09 13:54] geoand commented on #7690
Just curious: Why do you believe that `@BeforeAll` should be called after the Quarkus application has started? Have you seen something in the documentation mentioning that?

[2020-03-09 13:59] mlsdeveloper commented on #2835
Currently migranting my projects from spring boot to Quarkus. Realy need this too. +1

[2020-03-09 14:05] geoand commented on #7690
Actually, the problem is the following:

Your `beforeAll` method **does** get executed after Quarkus has started, however `RestAssured` has not been configured at that point to use the test port (`8081`) and default to `8080`.
This is done by design, we don't want the Quarkus extension to mess with rest assured globally, but only on a test is executed.

There is an easy workaround however which yo

[2020-03-09 14:05] #7690 closed

[2020-03-09 14:06] SR-Lut3t1um commented on #7672
Using:

[code]

And:

`Powershell 7: Terminal`

[2020-03-09 14:12] geoand commented on #7699
@rsvoboda have you experienced this?

[2020-03-09 14:15] bcluap commented on #7695
git clone https://github.com/bcluap/quarkus.git
cd quarkus/getting-started/
mvn -DskipTests install

Then:
java -jar ./target/getting-started-1.0-SNAPSHOT-runner.jar
You will get "Communications link failure" which is fine as you won't have a DB running.

Then:
java -Dquarkus.datasource.driver=io.opentracing.contrib.jdbc.TracingDriver -Dquarkus.datasource.url=jdbc:tracing:mysql://127.0.0.1/xx -jar

[2020-03-09 14:16] #7689 closed

[2020-03-09 14:19] loicmathieu commented on #7698
The following functionalities needs more testing:

- [ ] Pagination
- [ ] Range (not yet merged)
- [ ] Query: native and PanacheQL with all sort of parameters
- [ ] Delete: native and PanacheQL with all sort of parameters
- [ ] Update: native and PanacheQL with all sort of parameters

[2020-03-09 14:20] jmartisk commented on #6196
I suppose we've covered the basic extensions, more will be coming as appropriate, for example Vert.x.
SmallRye Reactive Messaging will have metrics soon too.
Let's close this one.

[2020-03-09 14:20] #6196 closed

[2020-03-09 14:37] Sanne opened #7700 "Minor mistake in azure-mvn-settings.xml"
**Description**
Looks like we made a mistake in https://github.com/quarkusio/quarkus/commit/3c1c59d875aef0609bf002d34bb439e45fb0e13d , which I've only hit today as I was using the settings file to setup a clean machine.

AFAIK the intention of that patch was to replace the `public-jboss` group with a reference to the repository - so to avoid the "grouping" feature of Nexus which is not very fast.

[2020-03-09 14:51] emmanuelbernard commented on #7633
[code]
in https://github.com/quarkusio/quarkus/blob/b20a74764d99ac383d006c6b5675ae3f28fcedde/core/deployment/src/main/java/io/quarkus/deployment/steps/BannerProcessor.java#L71

did not do it @dmlloyd

I'm on iterm2 on macOS under Tmux. Maybe that's not ANSI compliant.

[2020-03-09 15:24] SR-Lut3t1um opened #7702 "What is the recommended way handling TypeScript"
As quarkus also serves normal web files, it's handy to develop Typescripts using the quarkus dev command. However having a diffrend config for TypeScript aswell as Quarkus is quiete inconvienient. IMO it would be nice to be able to handle configs in one place.

[2020-03-09 15:27] maxandersen commented on #7633
[code]

gives you this if run widht small width and then resize it...

![2020-03-09_16-26-32](https://user-images.githubusercontent.com/54129/76229648-d464b000-6222-11ea-9a08-64f8a7a1690f.png)

[2020-03-09 15:28] SR-Lut3t1um commented on #7684
It's likely linked to this [issue](https://github.com/quarkusio/quarkus/issues/7632)

[2020-03-09 15:29] SR-Lut3t1um commented on #7684
Mind trying it with JDK8 or building quarkus from source?

[2020-03-09 15:31] SchulteMarkus commented on #7684
I can test JDK8 tomorrow (CET).

[2020-03-09 15:32] PieterjanDeconinck commented on #1610
Hmm, good question @maxandersen... I thought it would be possible to inject the corresponding working directory, but no success yet when running the command manually. Will keep you posted if I find a possible solution to this problem.
Other suggestions are of course also welcome.

[2020-03-09 15:32] gsmet commented on #7684
I don't know. It could also be some sort of escaping issue with `com.oracle.svm.core.genscavenge.CollectionPolicy$BySpaceAndTime` but I don't think we have changed something related to that.

[2020-03-09 15:32] OlofSandell opened #7703 "Smallrye-open-api needs update"
**Describe the bug**
I'm porting a project to Quarkus from Wildfly.
I didn't build. I identified the problem to be somewhere in io.smallrye.smallrye-open-api.
Updated from 1.1.20 to latest 1.2.1. Now everything works as expected.
Using quarkus 1.2.1.Final
I haven't got time to make an more in depth analyze than that. Sorry.

**Expected behavior**
Expect the project to build

**Actual behavior**
Ge

[2020-03-09 15:32] geoand commented on #7702
@ia3andy are you using typescript for `code.quarkus.io`?

[2020-03-09 15:37] ia3andy commented on #7702
@geoand I am using typescript as part of a react application.

@SR-Lut3t1um what do you mean by "it's handy to develop Typescripts using the quarkus dev command" do we support that?

[2020-03-09 15:40] n1hility commented on #7702
@ia3andy we support live updating of static resources, so from that perspective it would work. I'm not sure what a shared config would look like @SR-Lut3t1um did you want to propose a conceptual idea?

[2020-03-09 15:45] ia3andy commented on #7702
The way I use it, Typescript needs to be transpiled to be served in a browser.. so the `quarkus:dev` command is not enough for my use case at least. When developing I use a Makefile command which start both the quarkus and the web dev servers:
https://github.com/quarkusio/code.quarkus.io/blob/master/Makefile#L7

[2020-03-09 15:45] #6747 closed

[2020-03-09 15:45] mkouba commented on #7665
@esteveavi JVM mode or native image? I have to admit that I did not test this yet. Is the correct `ResourceBundle` instance found?

[2020-03-09 15:48] gsmet commented on #7703
Master is using 1.2.1: https://github.com/quarkusio/quarkus/blob/master/bom/runtime/pom.xml#L38 .

It's the version that we will use in the soon to be released 1.3.0.

[2020-03-09 15:48] #7703 closed

[2020-03-09 15:50] SR-Lut3t1um commented on #7702
Ah I see, Intellij handles that for me, but wouldn't it make sense if the buildscript would also transpile TypeScript eg. is there any way to silmply add these steps to the quakusDev and Build target.

[2020-03-09 15:56] maxandersen commented on #1610
btw. now i grok a little better what you are doing - isn't the only thing you need to do is to have a graalvm available for your jenkins to use ?

[2020-03-09 16:03] masini commented on #7462
The original object deserialised by Jackson is:

<img width="1016" alt="after_jackson_deserialization" src="https://user-images.githubusercontent.com/2060870/76232865-9f0e9100-6227-11ea-98d6-743e482ab2f5.png">

The abbinamenti collection is somewhere transformed to a PersistentBag but in a way I don’t fully understand, there must be still some enhancement magic under the hood because the setter me

[2020-03-09 16:10] PieterjanDeconinck commented on #1610
Yes, that is indeed the first option I mentioned and what I'm currently using (which is working).
But it would be nice to use the container linked to the plugin, since that would ensure compatibility with the Quarkus version used in the POM file :)

[2020-03-09 16:21] emmanuelbernard commented on #7462
Right we are getting to the core of the problem.
How come a JSON file leads to the use of a `PersistentBag` for the `List` implementation? Only Hibernate should do that work but Hibernate is not invoved on the JSON deserialization. Unless Jackson comes with magical Hibernate binding that are screwing us in this case?

[2020-03-09 16:35] masini commented on #7462
Hi @emmanuelbernard, the object deserialized by Jackson has only ArrayList (picture number 1), the PersistentBag come when we enter inside the EntityManager#merge method (picture number 2), why do you think the opposite ?

[2020-03-09 16:40] maxandersen commented on #1610
Understood - but I would say for now you are better of using this manual install as it actually works now and will continue to do so ;)

Better (semi)automatic alignment of quarkus and graalvm native-image is something we'll work on but it’s a bit out in the future on how this would work.

[2020-03-09 16:52] nimo23 commented on #7702
There is a general discussion in https://github.com/quarkusio/quarkus/issues/588.

[2020-03-09 16:55] iocanel opened #7708 "S2i container builds may hung in some cases"
**Describe the bug**

The s2i container build, does stream the logs from the s2i build. It's possible that the process hungs even when the build is actually over.

**Expected behavior**
The s2i container build should not hung.

**Actual behavior**
The s2i container build hungs.

**To Reproduce**
The issue is extremely hard to reproduce.
The one time I've seen it happen, the steps were:

1. Add the

[2020-03-09 17:00] ia3andy commented on #588
btw we have a related blog article: https://quarkus.io/blog/quarkus-and-web-ui-development-mode/

[2020-03-09 17:06] ia3andy commented on #588
For code.quarkus.io, we have a react frontend:
https://github.com/quarkusio/code.quarkus.io

1. The frontend is located in `src/main/frontend` as a standalone react app
2. We use the frontend maven plugin for the production build which is configured to copy the build to the quarkus static directory in the target folder (no watch): https://github.com/quarkusio/code.quarkus.io/blob/master/src/main/f

[2020-03-09 17:11] moksamedia commented on #7446
@sberyozkin I tried it this weekend with my older mac running High Sierra 10.13 and Java 11 and 1.3.0.A1 and 1.3.0.CR1 both worked. I'll ask my coworker with his more recent mac to try CR1.

[2020-03-09 17:38] emmanuelbernard commented on #7633
ah so it works here too. Yes that's what I expected. I don't know how to make it retrace upon size change.

[2020-03-09 17:39] sekaijin commented on #2835
I have hundreds of camel routes, some of which have three or even four different data sources.
Going from servicemix where these datasources are defined once for all routes, to microservices where they have to be defined as many times as there is use is already a major operating constraint. when a connection parameter changes for a source it is necessary to review all the routes which use it. But

[2020-03-09 17:46] ebullient commented on #6261
Yeah.. that was fun. I will admit to being quite pleased to get it working. ;)

[2020-03-09 17:56] ChFlick opened #7710 "NoSuchMethodError 'void <init>()' when Testing an injected Kotlin class with Provider Injection using the QuarkusTestExtension"
I've got a simple test to test a class in a Quarkus application (using Kotlin and Gradle), which fails when directly injecting the class being tested, but succeeds when instantiating it.

The weird thing is that it only happens in the CI, or when debugging it in the IDE (Intellij) - not when executing it via ./gradlew check, nor when running it without debugging in the IDE.

As I'm quite new to Ko

[2020-03-09 18:09] aloubyansky commented on #6067
Unfortunately, I haven't been able to reproduce it yet. Here is how I tried to do that.
* Setup a local Nexus server
* Enable Rut Auth capability (HTTP Header name: auth-user)
* Deployed a basic JAR `org.acme.quarkus.sample:my-lib:1.0-SNAPSHOT` to the Nexus repo
* In my Quarkus app I added
[code]
and
[code]
* Copied my `settings.xml` to the Quarkus app project dir and added
[code]
* Ran tests with

[2020-03-09 18:54] Ladicek opened #7712 "presence of `quarkus-container-image-s2i` extension causes wrong `java -jar` argument in pod spec"
**Describe the bug**

I use the `quarkus-container-image-s2i` extension to be able to customize the S2I base image for my application. I then `oc apply -f target/kubernetes/openshift.yml` and `oc start-build <app name> --from-dir=target` to deploy my application, which is the usual S2I binary build flow.

However, the mere presence of this extension causes a significant difference in how the Kuber

[2020-03-09 18:55] Ladicek commented on #7712
CC @iocanel @geoand

[2020-03-09 19:32] rsvoboda commented on #7699
I can't replicate the issue.

[code]

[code]

[2020-03-09 20:04] geoand commented on #7712
I don't really know much about what has been for s2i TBH and what the requirements were

[2020-03-09 20:33] gwenneg commented on #7684
This looks like a duplicate of #2414.

[2020-03-09 20:37] esteveavi commented on #7665
Jvm. ResourceBundle resolves successfully.

On Mon, 9 Mar 2020 at 16:45, Martin Kouba <notifications@github.com> wrote:

--
Esteve Avilés

[2020-03-09 20:48] iocanel commented on #7712
@Ladicek: The artifcat that is uploaded is always renamed to "application-${quarkus.package.runner-suffix}.jar". So, the cmd uses the intended value. The `JAR_APP_JAR` is outdated, not used and should be removed.

**Why do we create a custom command and not use JAVA_APP_JAR?**
`JAVA_APP_JAR` is an environment variable used by the fabric8 images. There is no guarantee that it will work if the user

[2020-03-09 20:50] geoand commented on #7710
Hi,

Am I correct to assume that doing:

[code]

works?

[2020-03-09 21:49] lfmunoz commented on #7549
I have the same problem when I do **./gradlew buildNative**  it doesn't show why it is failing the build. Even with --debug and --stacktrace. You basically get a useless generic error that the build failed.

[code]

A workaround is to do ./gradlew buildNative --docker-build=true  and then inspect what the docker image is doing to build and see what errors are happening there.

[2020-03-09 21:51] lfmunoz commented on #7055
Similar to https://github.com/quarkusio/quarkus/issues/7549

[2020-03-09 21:53] maxandersen commented on #7712
@iocanel any particular reason why jar-path doesn't reflect the app name and version? just se don't have to parameterise that everywhere else or ?

[2020-03-09 21:54] maxandersen commented on #7702
See https://quarkus.io/blog/quarkus-and-web-ui-development-mode/ a bit old blog but I believe  i should still hold up.

[2020-03-09 21:55] maxandersen commented on #7672
@SR-Lut3t1um no, I mean what you acttually do in intellij that makes you end up with garbled banner?

[2020-03-09 21:59] maxandersen opened #7717 "have our build plugin dump out the "hidden" dependencies for other tools to use"
**Description**
quarkus has its "shadow" dependencies to deployment that are not captured as maven dependencies hence tools like https://github.com/gnodet/mvnd and https://github.com/vackosar/gitflow-incremental-builder can't really figure out the most effective way to build quarkus extensions.

Idea is to have our maven plugin dump out the extra dependencies in a file or property.

i.e. on how mv

[2020-03-09 22:07] maxandersen commented on #7633
you can't - its a terminal not a fluent graphical UI :)

[2020-03-09 22:56] famod commented on #7717
As long as the required `*-deployment` modules are _not_ somehow part of the reactor, GIB (`gitflow-incremental-builder`) won't work. Currently, GIB does not add new `MavenProject` instances to the `MavenSession`, it just modifies the existing projects/modules (the ones form the Maven reactor).
Extending GIB to parse and add entirely "new" projects to the reactor seems a bit out of scope. But mayb

[2020-03-09 23:00] #7687 closed

[2020-03-09 23:01] gsmet commented on #7695
It's probably due to the new datasource config. I'll have a look tomorrow.

[2020-03-09 23:09] remkop commented on #5656
Quarkus team, would it be possible to provide a regular status update? From the outside it looks like there is nothing happening...

[2020-03-09 23:25] maxandersen commented on #5656
PR #7681 is on its way.

[2020-03-10 03:30] jaikiran commented on #2414
This appears to be an issue in GraalVM's native-image generation itself, where it doesn't report the original cause. I've opened https://github.com/oracle/graal/pull/2241 to improve that.

[2020-03-10 05:55] Jitender46559 opened #7718 "Add support to quarkus to publish the code to maven using gradle"
**Description**
@KaenDagger I want to add the functionality in quarkus to publish the java code as a library to maven repository using gradle command as ./gradlew publishtomaven and I also noticed that their is no command to print the stack trace during ./gradlew test. So I want to add this functionality too for this coming GSoc 2020. If you want any changes please let me know.

1) With the help o

[2020-03-10 06:54] iocanel commented on #7712
Convenience mostly.

- It feels simpler for the user to configure, without having to take into consideration the various parameters that need to be combined to get the artifact name .
- Some s2i builder images strip those anyway (see our native base image for example)
- It was much simpler for us to get all involved parts aligned.

[2020-03-10 07:23] Ladicek commented on #7712
This only happens if I let the S2I extension start the S2I build. If I use `oc start-build`, that obviously _doesn't_ happen. `oc start-build` is a normal thing to do in my opinion.

If I don't use the S2I extension, I get all the S2I binary build resources generated, and the deployment/deploymentconfig don't include the full `java -jar ...` invocation, so it works as expected. (Except I can't con

[2020-03-10 07:35] Itoriem commented on #7699
For me:
`
λ mvnw test
[INFO] Scanning for projects...
[INFO]
[INFO] ---------------------< org.acme:code-with-quarkus >---------------------
[INFO] Building code-with-quarkus 1.0.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ code-with-quarkus ---
[INFO] Using 'UTF-8' encoding t

[2020-03-10 07:52] geoand commented on #7717
No class from any of these `*-deployment` modules is ever allowed to be on the runtime classpath

[2020-03-10 07:55] SR-Lut3t1um commented on #7684
You might also try CR2

[2020-03-10 08:19] vietj commented on #7493
server socket sharing is a feature of Vert.x component model (verticles) for enabling load balancing based on the number of verticles which gives control over the number of cores you want to use for a server.

`SO_REUSEPORT` was added later as a side effect of handling Netty native transports mainly.

We did not consider using it to achieve the same on os-able and JDK-able systems. I believe for V

[2020-03-10 08:20] andreas-eberle commented on #7683
OK, thanks. Since the problem only occurs after a random time of sometimes days, it is hard to debug. But I will come back when I have some updates.

[2020-03-10 08:24] emmanuelbernard commented on #7462
@masini Ah I did not know it was in the merge. You said the original object was and right there was the cast to PersistentBag.

[2020-03-10 08:54] aloubyansky commented on #6067
I was able to reproduce it by creating my own Quarkus extension and deploying to Maven. That way, its runtime artifact is resolved by the original Maven process and is cached in my local repo. But its deployment artifact has to be resolved by the Quarkus bootstrap resolver during the tests. And it indeed failed. However, there was a bug that I fixed yesterday and it also fixes the use-case that I

[2020-03-10 09:06] emmanuelbernard commented on #7462
In the second TestMergeOrdine.testCreateAndMergeOrdine "salvaOrdine" call, I see that inside HasSaveOrUpdate.saveOrUpdateInternal (from OrdiniService), then the ordine entity is merge returning a different Ordine instance as expected but it still contains reference to the ArrayList and not the PersistentBag. As if the merge operation did not cascade to the abbinamenti instance. The other copllecti

[2020-03-10 09:11] emmanuelbernard commented on #7462
Oh and importantly, during the merge I do see the PersistentBag creation of the abbinamenti instances, so it's as if hibernate was not setting the values of these collections.

[2020-03-10 09:18] marziman commented on #5627
Hello Quarkus-Maintainers,

we are currently working on bringing Quarkus into production.
The missing support for gRPC is outruling many of our services to be used with Quarkus & GraalVM.

Can you please give it a priority?  As many folks will do microservices with gRPC, I believe beside us many will be thankful and push Quarkus mission forward.

Also: Big Thank you, guys. You re awesome! Quarkus

[2020-03-10 09:21] SchulteMarkus commented on #7684
Issue resolved using CR2.

[2020-03-10 09:21] #7684 closed

[2020-03-10 09:28] geoand commented on #7683
I seriously doubt the problem is in Quarkus, but like @gastaldi said, a reproducer would be great :)

[2020-03-10 09:29] SR-Lut3t1um commented on #5488
@KaenDagger How far are you? Is there any way I can help? What are you working on right now?

Kind regards

[2020-03-10 09:34] geoand commented on #7672
@SR-Lut3t1um is this happening only on IntelliJ's terminal, or the system terminal as well?

[2020-03-10 09:38] SR-Lut3t1um commented on #7672
@geoand it happens in both terminals. I use gradle and run the quarkusDev task.

[2020-03-10 09:38] suchwerk opened #7721 "Unable to build Hibernate SessionFactory due NPE"
**Describe the bug**

Failed to start Quarkus:
Unable to build Hibernate SessionFactory due NPE  for a simple entity with a set(ter) method and a declaration level initialization of the member var.

    @OneToMany(fetch = FetchType.EAGER, cascade = CascadeType.ALL, orphanRemoval = true)
    @JoinColumn(name = "customer", unique = false, nullable = true)
    public Set<Product> products = new HashS

[2020-03-10 09:39] geoand commented on #7672
Does the problem occur in `1.3.0.CR2` (which was released today)?

[2020-03-10 09:39] SR-Lut3t1um commented on #7672
Yes

[2020-03-10 09:40] simonedavico commented on #6067
Sure I can :) it should be enough to bump my `quarkus.platform.version` to `1.3.0.CR2`, correct?

[2020-03-10 09:43] geoand commented on #7672
@SR-Lut3t1um last question: Does this also happens if you produce a jar and run it with `java -jar ...`?

[2020-03-10 09:44] geoand commented on #7718
I don't really understand this. Can you please add some info to the description @Jitender46559 ?

[2020-03-10 09:45] SR-Lut3t1um commented on #7672
No this works, so gradle is the issue?

[2020-03-10 09:46] geniusit commented on #7670
@gsmet I finally succeed to make my code work.
First I successfully tested your PR but nothing has changed and still got the error.

Then I read this post : https://stackoverflow.com/questions/36730266/aws-lambda-s3event-deserialization
And that's the trick. Do not use S3Event but use S3EventNotofication in the signature.

Like this :

[code]

So I removed my resources-config.json and reflection-c

[2020-03-10 09:46] Jitender46559 commented on #7718
@geoand yeah sure

[2020-03-10 09:47] aloubyansky commented on #6067
And `<quarkus.platform.artifact-id>quarkus-bom</quarkus.platform.artifact-id>`. Also `<quarkus-plugin.version>1.3.0.CR2</quarkus-plugin.version>`, just in case.

[2020-03-10 09:47] aloubyansky commented on #6067
Unless you are using Camel extensions...

[2020-03-10 09:48] ge0ffrey commented on #7653
@Sanne This affects the optaplanner-quickstart, but the workaround works. I am going to record a video on how to build the optaplanner-quickstart from scratch, later this week. Any idea when the work on this issue is planned - would it be worth it for me to wait for the fix to record the video?

[2020-03-10 09:48] geoand commented on #7672
Most likely, can you please try adding `--console=plain` to your `./gradlew` invocation?

[2020-03-10 09:50] SR-Lut3t1um commented on #7672
This does'n work still questionmarks.

[2020-03-10 09:54] geoand commented on #7672
@rsvoboda can you check and see if `quarkusDev` is giving you odd behavior?

[2020-03-10 09:59] gsmet commented on #7683
Asking a stupid question: do we renew the connections from time to time?

On Tue, Mar 10, 2020 at 10:28 AM Georgios Andrianakis <
notifications@github.com> wrote:

[2020-03-10 10:02] gsmet commented on #7670
So do you need my PR in or not?

I'm surprised you need Joda to be indexed. What's the reason for that? The S3 jar uses it in serialized objects?

I think we might improve the experience by indexing these things automatically if they are needed in a lot of Lambda use cases.

[2020-03-10 10:02] geoand commented on #7683
We do not do anything explicitly, it's all up to the client (which is why I am pinging the expert @iocanel
 :wink: )

[2020-03-10 10:03] gsmet commented on #7653
It's weird, I'm pretty sure we already had a report for something of this sort and we fixed it.

Let me search in the existing issues.

[2020-03-10 10:04] gsmet commented on #7653
It was this one: https://github.com/vsevel/quarkus/commit/e63a1c2a441025e0442c279fc8e8e0ffd254a4bd .

So it's only slightly related.

[2020-03-10 10:05] geoand commented on #7519
@dmlloyd @sherl0cks since you were the ones that had the initial conversation around .dotenv, what do you think about this one?
I personally think it makes sense

[2020-03-10 10:08] maxandersen commented on #7712
@Ladicek just want to be sure you are not conflating s2i source and s2i binary behaviours ?
s2i-extension is doing a s2i binary build.

[2020-03-10 10:09] maxandersen commented on #7712
ah - you are saying if you call oc start-build manually things works differently - good point.

[2020-03-10 10:14] gsmet commented on #7683
Yeah, asking that because, from our experience with Azure Pipelines, I wouldn't say Azure is well known for its network stability. So it might be worth checking we can recover from a network issue.

[2020-03-10 10:15] Ladicek opened #7722 "defaultMode of a ConfigMap volume is 600 (decimal!) by default"
**Describe the bug**

When I specify a ConfigMap volume using the Quarkus Kubernetes extension configuration properties, the volume has by default a `defaultMode` of `600`:

[code]

This is a decimal number, because it doesn't begin with `0`.

The Fabric8 Kubernetes client even warns about that: `Invalid value: 600: must be a number between 0 and 0777 (octal), both inclusive`.

The documentation s

[2020-03-10 10:16] geoand commented on #7722
Nice catch!

[2020-03-10 10:17] Ladicek commented on #7722
One option (that is pretty easy to implement) is to treat the config as always decimal. We could make `@ConfigItem(defaultValue = "384")` and mention in the docs that it should be decimal number. If you agree, I can submit a PR with that.

[2020-03-10 10:19] gsmet commented on #7722
I would rather make it a string and use `0600`. Conversion to decimal is not that obvious.

This needs to be fixed for 1.3.

[2020-03-10 10:20] geoand commented on #7722
I am also in favor of making it a String (since the unix permissions are well understood). @Ladicek do you want to take care of that or should I look into it?

[2020-03-10 10:20] gsmet commented on #7718
But aren't they standard Gradle features? I don't know Gradle very well so that's an honest question.

I'm surprised we need to add anything to be able to support that.

[2020-03-10 10:22] Ladicek commented on #7722
Dekorate unfortunately expects an `int`. It should be easy to make the type a `String` in the `*Config` classes and convert to an `int` when calling the Dekorate API. Or would we change that in Dekorate as well? (I'll take a stab at the first option, and if we think it's not enough, I'll pass it over to you :-) )

[2020-03-10 10:23] geoand commented on #7722
I would say that given our time constraints for `1.3.0.Final`, let's just make the change in Quarkus for now.

[2020-03-10 10:26] Jitender46559 commented on #7718
@gsmet I am using gradlew command to publish code to maven repository and while searching this dependency in quarkus it's not their actually. And same for to print the stacktrace for testing logs.

[2020-03-10 10:31] geniusit commented on #7670
I dont need your PR because I solved my problem by changing the signature from S3Event to S3EventNotification.

For Joda indexation :

First I need this maven dependency in order to work with the S3EventNotification object :
[code]

As soon as I add this dependency I must add these two lines as explained in my previous response :

quarkus.index-dependency.s3.group-id = com.amazonaws
quarkus.index-

[2020-03-10 10:33] emmanuelbernard commented on #7633
You can. After all vim, tmux etc all are capable of doing that. But likely
not worth doing it.

[2020-03-10 10:36] Ladicek commented on #7722
OK, I have a fix, will submit a PR shortly.

[2020-03-10 10:38] gsmet commented on #7722
Thanks @Ladicek . And amazing work finding all these small issues!

[2020-03-10 10:48] andreas-eberle commented on #7675
I see the same issue with the AmbigousResolutionExceptions in my project. This also happens with version 1.3.0.CR2.

[2020-03-10 10:49] aloubyansky commented on #3687
@NorthFuture I just tried your reproducer with the recently released 1.3.0.CR2 and it worked.
@InfoSec812 I tried yours as well and got a different error then what you reported (see below). Perhaps I did something wrong. Could you please try 1.3.0.CR2 yourself and if it still doesn't work open another issue?
Thanks a lot both of you for providing reproducers.
[code]

[2020-03-10 10:50] #3687 closed

[2020-03-10 10:50] phillip-kruger commented on #7620
This is fixed in Quarkus for now (#7639) and also in RESTEasy (https://github.com/resteasy/Resteasy/pull/2318) that will be part of the [4.6.0.Final](https://issues.redhat.com/browse/RESTEASY-2520?jql=project%20%3D%20RESTEASY%20AND%20fixVersion%20%3D%204.6.0.Final) release of RESTEasy. When we pull that version into Quarkus we should revert #7639.

[2020-03-10 10:59] gastaldi commented on #7718
Hi @Jitender46559, here are my thoughts about this issue:

1) I am not sure Quarkus Gradle users will want to publish their projects in Maven, sounds like something that should be added manually after the project is created if the developer needs it.

2) About `--stacktrace` in the tests I think that belong in another issue?

[2020-03-10 10:59] Ladicek commented on #7722
Submitted #7724.

[2020-03-10 11:04] gsmet commented on #7695
I just had a closer look at that one. The driver has always been a build time config: you cannot override it at runtime.

I don't know how it was working before, I find it surprising, but that's the expected behavior.

[2020-03-10 11:05] Jitender46559 commented on #7718
@gastaldi sir,
1) If i am using quarkus gradle, as a developer point of view i definitely want that feature in quarkus because this is really easy for a developer to write a command and post the same code in maven also. Why, Someone needs to do it manually ?

2) For --stacktrace, I have seen some of the issues regarding gradle test but i haven't find for stacktrace.

[2020-03-10 11:06] gsmet commented on #7695
Just to be sure: does it work properly if you define the driver at build time?

[2020-03-10 11:16] gastaldi commented on #7718
A Quarkus Maven project might also need some manual tweaks in order to be added to a Maven repository too ( add `<scm>`, <distributionManagement>`, etc) so my point is that we don't really have this information beforehand when creating the project :smiley:

I am supposing this is also the case with Gradle projects, but I may be wrong.

[2020-03-10 11:19] rsvoboda commented on #7699
You might be running into the similar as mentioned in https://github.com/quarkusio/quarkus/issues/3663#issuecomment-525295498 issue

Can you take a look at your hosts file? Expected location is `C:\Windows\System32\Drivers\etc\hosts` Check if you have there entry for `127.0.0.1   localhost` and `::1         localhost`

[2020-03-10 11:20] Jitender46559 commented on #7718
@gastaldi sir, I think it's a good issue to work on for GSoc2020. Or suggest me something else because it's a challenging issue.

[2020-03-10 11:20] iocanel commented on #7712
Yeah, I'll work on that.

On Tue, Mar 10, 2020, 12:09 Max Rydahl Andersen <notifications@github.com>
wrote:

[2020-03-10 11:33] masini commented on #7462
Correct @emmanuelbernard, the created PersistentBag then raise the Exception.

I want to debug again, may be I can notice something, but I'm pessimistic since you haven't seen it....

@Sanne help us :)

[2020-03-10 11:35] gastaldi commented on #7718
@Jitender46559 Hello,

I just looked at https://docs.gradle.org/current/userguide/publishing_maven.html and seems to be really trivial to enable this plugin in a Gradle project (enable the plugin and add the URL to the target repo among other necessary parameters).

The problem with adding extra plugins to a generated Gradle project is that people expect it to work without any changes, which for t

[2020-03-10 11:41] ChFlick commented on #7710
Hi @geoand,
thanks for your response.

The behavior with your snippet is the same as with my test, it works "sometimes".
I just executed it and now even a different test fails that is not even related to the `InfluxVehicleRepository`.

[code]

Here are two tests executions, the first worked fine (even though with an error), on the second one the NoSuchMethodError occured:
[code]

[2020-03-10 11:42] Jitender46559 commented on #7718
@gastaldi sir, How about adding ./gradlew test --stacktrace dependency to quarkus.

[2020-03-10 11:42] geoand commented on #7710
Thanks @ChFlick. Would it be possible to provide a reproducer project for this problem?

[2020-03-10 11:45] gastaldi commented on #7718
I haven't fully tested yet, but something like https://medium.com/@wasyl/pretty-tests-summary-in-gradle-744804dd676c might be enough to print stacktraces on failed tests, can you give it a try and let me know?

[2020-03-10 11:48] tosix1988 opened #7726 "CDI Inheritance: scope annotation of superclass ignored on subclass"
First of all, thanks a lot guys for Quarkus, it's really awesome :). However, I came across a following issue and I need your help:

**Describe the bug**
When extending a class that is annotated with CDI scope anntation, such as `@Dependent` or `@RequestScoped`, the scope is not inherited from the superclass. Note the relevant section of CDI specification: https://docs.jboss.org/cdi/spec/2.0/cdi-s

[2020-03-10 12:00] gsmet commented on #7726
/cc @mkouba

[2020-03-10 12:00] geoand commented on #7726
cc @manovotn @mkouba

[2020-03-10 12:02] Jitender46559 commented on #7718
@gastaldi sir, It's working.

[2020-03-10 12:06] Ladicek commented on #7712
Yea, I'm not doing S2I source builds in any way, this is all about S2I binary builds.

[2020-03-10 12:07] mkouba commented on #7665
@esteveavi Ah, sorry. This could not work out of the box because we only use reflection fallback resolver to access properties. For a method with params you would either have to add an extension method similar to the one from my previous comment or add  `@TemplateData(target=java.util.ResourceBundle.class,properties=false)` to some application class.

[2020-03-10 12:14] sean-scott-lr commented on #5627
We are using https://github.com/hpehl/quarkus-grpc-extension.

We have written a couple interceptors that tie the grpc-server into jwt-RBAC, tracing, metrics, and hibernate-validator...

The only problem we have now is that grpc-client breaks our native image compilation. If someone that understands quarkus extensions and graalvm could finish that up, or if you don't need the client then you are s

[2020-03-10 12:17] #7722 closed

[2020-03-10 12:19] mkouba commented on #7726
@tosix1988 Scope annotations are inherited. However, `SubClass` must be annotated with a bean defining annotation in order to be discovered because Quarkus only supports `bean-discovery-mode=annotated` as described in [the docs](https://quarkus.io/guides/cdi-reference#bean_discovery).

The set of bean defining annotations includes all scopes, stereotypes, `@Interceptor` and `@Decorator`. In Quarku

[2020-03-10 12:33] gastaldi commented on #7718
Awesome! Thanks!

I'll close this issue for now due the reasons above. Feel free to reopen if you think it's still necessary.

Also I'll ping you if I find another challenging issue for GSoC.

[2020-03-10 12:33] #7718 closed

[2020-03-10 12:33] mkouba commented on #7726
Closing - works as designed.

[2020-03-10 12:33] #7726 closed

[2020-03-10 12:39] dmlloyd commented on #7722
We have an issue in the MP Config spec for supporting octal constants as integers.  I'll make a note to follow up here once that's solved.

[2020-03-10 12:40] InfoSec812 commented on #3687
@aloubyansky I'll try to get a look at it tonight.

[2020-03-10 12:49] andreas-eberle opened #7729 "Quarkus 1.3.0.CR2: Dependency of gradle library submodule not included"
**Describe the bug**
I have a gradle project with multiple modules. The library module (gradle plugin `java-library`) contains some common code shared between several modules.
The library module also includes a dependency (e.g. `io.quarkus:quarkus-kubernetes-client`) as `api` dependency. Therefore it should be included as transitive dependency in the application module including the library module

[2020-03-10 13:07] dmlloyd commented on #7519
Since we're looking in `user.dir` for `.env`, I think it makes sense to make an extra effort to copy it for dev mode operation.

[2020-03-10 13:09] dmlloyd opened #7730 "Print deprecation warning when Java 8 is in use"
**Description**
As per #5691, we should make the deprecation of Java 8 official by printing a (preferably large) warning when Java 8 is used for application augmentation.

[2020-03-10 13:26] geoand commented on #3670
What is the standard location that we expect users to place this file in? Asking because of #7519

[2020-03-10 13:27] dmlloyd commented on #3670
There is no standard location because it is read from the current working directory, so wherever you are is where it goes.

[2020-03-10 13:30] geoand commented on #3670
Hm... I am really wondering in other runtimes that support the feature, where are users expected to place the file so they have use it during the development cycle? The root of the project seems to make sense to me, but I have no experience with it...

[2020-03-10 13:31] famod commented on #7717
I see.

For a integration-test module like the one above for `camel-quarkus` there _might_ be another approach:
- add "regular" `*-deployment` dependencies, maybe even with `*` exclusions
- add [classpathDependencyExcludes](https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#classpathDependencyExcludes) to prevent the `*-deployment` dependencies from being added to the test runt

[2020-03-10 13:32] geoand commented on #3670
Reading [this](https://laravel.com/docs/6.x/configuration#environment-configuration) I think it's expected to be in the root directory and not be added to source control

[2020-03-10 13:33] krisraich commented on #7609
i encountered the same problem.
please update the documentation: https://quarkus.io/guides/kafka#kafka-health-check
it should be "kafka.bootstrap.servers"

[2020-03-10 13:36] machi1990 commented on #3670
Yes, they are not meant to be committed and especially not meant to be used in production environment.

[2020-03-10 13:36] gsmet commented on #7609
@krisraich the documentation is already updated in master. It will be fixed when we release the next version.

[2020-03-10 13:39] #5785 closed

[2020-03-10 13:42] mkouba opened #7732 "Support repeatable qualifier annotations"
https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#repeating_qualifiers

[2020-03-10 14:01] manovotn commented on #7732
I'll take a look at this.

[2020-03-10 14:12] killboard commented on #4960
Any update on this? Still warning when build native images
`javax.enterprise:cdi-api should be replaced by jakarta.enterprise:jakarta.enterprise.cdi-api`

[2020-03-10 14:17] mkouba commented on #7541
This gradle/kotlin combo is really "nutritious". I'm not a kotlin expert but I noticed few details. First of all your `@ApplicationScoped` services do not declare a no-args constructor and so quarkus has to enhance the bytecode to overcome a limitation of CDI client proxies as described in [the docs](https://quarkus.io/guides/cdi-reference#simplified-constructor-injection). And so if we see `NoSuc

[2020-03-10 14:23] andreas-eberle opened #7735 "CDI IllegalAccessError when accessing injected bean"
**Describe the bug**
1. I have the following setup (gradle, Quarkus 1.2.1.Final as well as 1.3.0.CR2): `ExampleResource` injects `BeanA` injects `InnerBeanA`. When I run the following code in the `ExampleResource`, I get the results noted in the comments:

[code]

Why are the results different? Both accesses are legal java code and I would expect them to give the exact same results.

2. I extend t

[2020-03-10 14:35] bnjns commented on #7541
Interesting. I guess we really should be using the [noarg plugin](https://plugins.gradle.org/plugin/org.jetbrains.kotlin.plugin.noarg) to do that during build automatically for things like `@ApplicationScoped` services.

I'll give that a try and see if it makes a difference.

[2020-03-10 14:44] iocanel opened #7736 "Generated resources for knative do not take quarkus.container-image.group into consideration"
**Describe the bug**

From @lordofthejars:

Adding the `kubernetes` extension with the following config:

[code]

Results in the following container generated:

[code]

[2020-03-10 14:52] emmanuelbernard commented on #7462
I tried to reproduce with a simpler Foo ->orphanDlete=true -> Bar but this one works perfectly.

[2020-03-10 15:07] maxandersen commented on #7633
vim/tmux can do that because the characters are still there to reflow/retrace :)

By enabling that line wrapping is turned off then to not trigger line wrapping the text gets simply truncated.

[2020-03-10 15:13] geoand commented on #7735
I am pretty sure this is a duplicate of #7284.

cc @mkouba @manovotn

[2020-03-10 15:22] mkouba commented on #7735
First of all, `SomeBean` is `@ApplicationScoped` and so a client proxy is always injected. However, the client proxy does not save any state but instead delegates all invocations to the underlying contextual instance. In other words, you should _never access fields of a normal scoped bean through its client proxy_. This is a know limitation of CDI proxies.

WRT `IllegalAccessError` - yes, looks li

[2020-03-10 15:24] stefnotch commented on #2231
One still outstanding issue [is that this tutorial](https://quarkus.io/guides/security#standard-security-annotations) says

This does seem to imply that **anonymous** access should work with the `@PermitAll` annotation

However, in practice, this doesn't seems to work for anonymous access
- [Demo project based on the tutorials](https://github.com/1920-5bhif-nvs/05-assignment-quarkus-jwt-stefnotch/

[2020-03-10 15:27] andreas-eberle commented on #7735
@mkouba: I would do that, surely. I just stumbled over this while I was trying to build a reproducer for something else and thought it might be worth reporting. Is this limitation documented somewhere? If not, might it be worth doing this?

And yes, the `IllegalAccessError` looks like #7284.

[2020-03-10 15:28] Ladicek opened #7740 "Kubernetes extension generates environment variables twice"
**Describe the bug**

I use the Kubernetes extension configuration properties to add environment variables to the `Deployment` / `DeploymentConfig`, and I'm getting the same piece of YAML generated twice.

This happens at least for generating env var from a ConfigMap and from a secret, both in the "one env var for specific key" and "env vars for all keys" scenarios.

For example, I have this confi

[2020-03-10 15:28] Ladicek commented on #7740
CC @geoand @iocanel

[2020-03-10 15:29] geoand commented on #7740
@iocanel a dekorate bug perhaps?

[2020-03-10 15:33] mkouba commented on #7735
Well, I'd say it's implied ;-). I mean it's a well-known limitation of CDI proxies but it's not even explained/mentioned in the spec. Would you care to to send a PR and modify https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/cdi-reference.adoc?

[2020-03-10 15:37] iocanel commented on #7740
Possibly, I'll have a look.

[2020-03-10 15:40] maxandersen commented on #7672
@SR-Lut3t1um could you try running:

`jbang https://github.com/maxandersen/jbang/blob/master/examples/lang.java`

in the terminal you have issues and show the output ? (you can also just download that file and do `javac lang.java & java lang`

[2020-03-10 15:48] SR-Lut3t1um commented on #7672
[code]

[2020-03-10 15:59] #7592 closed

[2020-03-10 16:00] maxandersen commented on #7672
did you download the file  and save as lang.java ?

[code]
works for me.

[2020-03-10 16:04] Sanne commented on #7462
hi all, looks like I need to catch up on a lot of reading :) TBH I also need to finish some other PR reviews first.

But at first glance, I see being mentioned this is about a merge and with Jackson .. which raises some red flags as there are other open issues related to that; what Jackson does as "optimisations" are very tricky to spot changes in how default fields of classes are being initialize

[2020-03-10 16:06] maxandersen commented on #7672
btw. i've reproduced it on windows gradle.

mac/linux is fine.

[2020-03-10 16:09] geoand opened #7743 "Auto-generated docs for JibConfig not working properly"
Same for S2iConfig and DockerConfig.

Basically although a file `quarkus-jib-jib-config.adoc` gets generated, there is no `quarkus-jib-config.adoc`

[2020-03-10 16:09] geoand commented on #7743
cc @gsmet

[2020-03-10 16:11] maxandersen commented on #7672
![2020-03-10_17-10-56](https://user-images.githubusercontent.com/54129/76333562-1f99c400-62f2-11ea-9ce8-da734a970c6c.png)

and this is just on plain project created using:

[code]

[2020-03-10 16:12] maxandersen commented on #7672
marked as blocker for now - at least until figure out what is the cause of this.

[2020-03-10 16:15] SR-Lut3t1um commented on #7672
Yes I did, it worked the 2.nd time I ran it. 1.st error was prob. beacause of the &

[2020-03-10 16:19] manovotn commented on #7735
It is implied, looking at [5.4 Client proxies section](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#client_proxies):

And further down the next paragraphs it all talks about method delegation. From impl PoV it also makes more sense as a stateless proxy can be shared between injection points saving you some resources.

[2020-03-10 16:19] gsmet commented on #7743
So the `quarkus-jib-jib-config.adoc` should be generated. What I don't understand is why `quarkus-jib.adoc` is not.

@machi1990 could you have a look at that one?

[2020-03-10 16:32] manovotn commented on #7735
And checking on the reproducer, it does look very similar to the already mentioned issue. The issue there was cased by a split package problem (if I understood it correctly). That is a bad practice in general, and a complete no-no with JDK 9+ JPMS taken into account; I'd suggest you avoid that.

[2020-03-10 16:37] mejlholm commented on #3670
+1 for root folder.

Don't forget to add the file to a .gitignore file as well.

[2020-03-10 16:39] geoand commented on #3670
That would probably be up to the developer to do since we won't generate a `.env` file by default

[2020-03-10 16:41] SchulteMarkus commented on #7551
Related #4371

[2020-03-10 16:44] #7670 closed

[2020-03-10 16:52] SR-Lut3t1um commented on #7672
Maybe this is a encoding issue the implementation of the Jboss logger has?

[2020-03-10 16:55] aloubyansky commented on #7729
It just doesn't get to the point of building the lib for some reason. I can see kubernetes-client among the application deps on the classpath.

[2020-03-10 16:58] gsmet opened #7745 "Datasource JDBC configuration documentation generation issue"
For the datasource JDBC configuration, I have two separate files:
[code]
And the properties are not properly merged in a file I can use.

I can live with a separate file but I would need them to be properly grouped.

[2020-03-10 16:59] mraible commented on #7129
I'm still having an issue getting the OIDC client to work with Okta. I'm using 1.3.0.CR2. I created an app using the following command:

[code]

Then I created a "Web" app on Okta and set the login redirect URI to be `http://localhost:8080`. I copy/pasted the settings into `application.properties`:

[code]

It redirects me to log in successfully, but when it comes back to the app, it gives me a 40

[2020-03-10 17:02] gsmet opened #7746 "Avoid including the deprecated configuration properties in the generated doc"
The datasource config is a good example of that: I have several deprecated properties and they appear in `quarkus-datasource.adoc`.

I would prefer them to not be included.

A good example of that is `quarkus.datasource.url`.