[2022-01-24 09:29] geoand commented on #23129
Ah, thanks!

I am closing this as invalid as I was not able to reproduce it (after building Quarkus with `-Prelocations`) and because the `.m2` explanation makes sense.

It's needed if you are using extensions that have been moved outside of the Quarkus Core to the Quarkiverse (as Consul in this case)

[2022-01-24 09:29] #23129 closed

[2022-01-24 09:33] geoand commented on #23117
@ThoSap would you be interested in carrying out an experiment to see what saving are obtained by using `docker-slim` for your images?

[2022-01-24 09:34] gsmet commented on #23129
@kshpak it should be used as a transition but you should point to the new extensions from now on so it shouldn't be necessary in the long run.

See https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.6#extensions-moved-to-the-quarkiverse-hub for all the background of this change.

[2022-01-24 09:43] bhushanshinde07 opened #23131 "How can I prevent Slowloris attacks in quarkus?"
### Discussed in https://github.com/quarkusio/quarkus/discussions/23130

<div type='discussions-op-text'>

<sup>Originally posted by **bhushanshinde07** January 24, 2022</sup>
I am trying to protect my quarkus application from Slowloris attacks so Is there any configuration setting or way available in the quarkus?</div>

[2022-01-24 09:46] maxandersen commented on #22723
okey, so if you upgrade to latest jbang 0.87 or higher the `app install` will verify the script meaning you will be asked about if you are okey running from the various URL locations during install and not when running.

If you don't like that built-in extra safety then sdkman and brew are options for quarkus cli too - that is just more commands to run.

[2022-01-24 09:49] maxandersen commented on #22723
btw. i just noticed steps to reproduce require installing java - that is NOT the case for installing quarkus with jbang. It is for everything else though (sdkman, brew etc.). That is the main reason we have the jbang option there - it requires less steps - but yes; we do ask users to agree they are okey installing things. I think that is a Good thing :) (simpler and with verification for some high

[2022-01-24 09:51] maxandersen commented on #22723
hmm - just found a bug in verifying this. it won't ask properly as when using curl install you can't answer the question. let me revert that asap.

[2022-01-24 09:54] geoand commented on #23131
As this is a question, let's close this in favor of the discussion

[2022-01-24 09:54] #23131 closed

[2022-01-24 09:55] #23046 closed

[2022-01-24 09:58] geoand commented on #22958
This is not a Quarkus issue, so I'll close it

[2022-01-24 09:58] #22958 closed

[2022-01-24 09:59] cescoffier commented on #21175
I've found the issue.

In `org.jboss.resteasy.microprofile.client.ExceptionMapping.HandlerException` the `mapException` method checks the exception declared in the method signature. While in imperative it works, as the method signature must declare the exception as part of the signature, it's not the case in the async world (exception, aka failures, are always expected).

To get the example workin

[2022-01-24 10:26] cescoffier commented on #22991
Sounds like a substitution issue. Adding @radcortez.

[2022-01-24 10:30] maxandersen commented on #22723
okey, figured out why I missed the  actual issue - I had a ~/.jbang/trusted-sources.json when running it thus I did not see those issue of getting the message but no wait as originally reported. Sorry for missing that!

So I've submitted https://github.com/quarkusio/quarkus/pull/23134 and https://github.com/quarkusio/quarkusio.github.io/pull/1307 to have the docs document the needed trust call.

I

[2022-01-24 10:57] geoand commented on #22959
This is actually a very interesting use case, but I am not sure I'd classify it as a bug...

What happens here is that because your whole pipeline is reactive, the Uni chain is being processed outside of the boundaries where the request scope is active.

You basically need to rewrite your `MyBuggyService` like so:

[code]

[2022-01-24 10:57] #22959 closed

[2022-01-24 11:14] #19539 closed

[2022-01-24 11:18] geoand commented on #22949
`ExceptionMapper` does work with supertypes.

Can you attach a sample application exhibiting the problematic behavior?

[2022-01-24 11:20] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/1739312167

[2022-01-24 11:20] geoand commented on #22914
As this is a question, it's best suited for `Discussions`

[2022-01-24 11:20] #22914 closed

[2022-01-24 11:21] #22757 closed

[2022-01-24 11:23] gavinking commented on #19539
I don't see how this problem could possibly be the fault of Hibernate Reactive.

IIRC SQL Server is a NationalizedCharacterSupport.EXPLICIT database, so if you're using the schema export tool you might need to  set the config property that enables use of NVARCHAR.

But I'm not sure because not at my desk right now.

[2022-01-24 11:23] #22254 closed

[2022-01-24 11:24] geoand commented on #22408
Fixed in #23004

[2022-01-24 11:24] #22408 closed

[2022-01-24 11:24] agelbess commented on #22959
Thanks George for taking the time to take a look.
As you said, changing the order of the method invocations (first the httpServerRequest.getHeader and then the wwwClient.get) solves the issue, but still, there should be a way to inform the developer (pre-execution) that what she is doing will produce errors.
One way or another, we are aware of the issue and know how to handle it.
BTW, is there a s

[2022-01-24 11:25] geoand commented on #22309
Closing as we did not receive feedback

[2022-01-24 11:25] #22309 closed

[2022-01-24 11:28] PvlPech commented on #17280
Can't we just use io.vertx.core.Future processing to resolve the initial issue? So, in @KyriacosP's example it's possible to add something like
`Future<Buffer> body = request.body();
        body.onComplete(ar -> {
            if (ar.failed()) {
                /*...*/
            } else {
                logger.info("Request body: " + ar.result());
            }
        });`

[2022-01-24 11:30] ebullient commented on #23051
I am not sure I would go with `quarkus deploy` (or if we did, it should be an optional plugin to the CLI, not built-in) precisely because of that variation (and dependence on optional extensions.

Even an `image` command has a lot of variations to narrow so it doesn't end up being a mess as big as the current set of Java properties (and again, available options here varies based on enabled extensi

[2022-01-24 11:30] geoand commented on #22959
Ideally yes, but this would require scanning the bytecode of method implementations, which is something we have purposly stayed away from, as it's extremely error prone and performance heavy...

I have no idea what that does TBH

[2022-01-24 11:36] geoand commented on #22119
Closing as we did not get feedback.

[2022-01-24 11:38] iocanel commented on #23051
What's wrong with specialized subcommands?

[code]

[2022-01-24 11:41] DavideD commented on #19539
Interesting, I didn't know that.
The problem is that setting:
[code]

Causes UnsupportedOperationException in Hibernate Reactive. I will create an issue

[2022-01-24 11:42] DavideD commented on #19539
@gavinking I think that's what you meant? Isn't it?

[2022-01-24 11:43] geoand commented on #21952
Closing as we did not receive feedback

[2022-01-24 11:43] #21952 closed

[2022-01-24 11:43] gavinking commented on #19539
Yes, that's what I meant.

[2022-01-24 11:49] geoand commented on #21767
This seems to have since been fixed.

[2022-01-24 11:49] #21767 closed

[2022-01-24 11:52] #23036 closed

[2022-01-24 11:54] #22969 closed

[2022-01-24 11:55] #23110 closed

[2022-01-24 11:58] loicmathieu commented on #16785
@kenyee the Kotlin version provide an idiomatic Kotlin API but you can use the Java version.

For coroutines you need to use  reactive Resteasy, however to help you we will need some reproducer project to understand what you're trying to do.

[2022-01-24 12:00] kucharzyk commented on #22949
I will prepare sample application today

[2022-01-24 12:04] #23078 closed

[2022-01-24 12:04] #22552 closed

[2022-01-24 12:24] gavinking commented on #19539
Oh, I see: we didn't implement `setNString()`.

So that setting has two effects:

1. it makes schema export use `NVARCHAR` by default, and
2. it _unnecessarily_, I believe, but _reasonably_, makes Hibernate use `setNString()` instead of `setString()`.

But because we never turned it on before we had no reason to implement `setNString()`.

Anyway, that's really trivial to fix, I suppose.

[2022-01-24 12:25] gavinking commented on #19539
So this is the right workaround for now, until we fix the bug that @DavideD found.

[2022-01-24 12:27] KrystianBalwierzJorsek commented on #12324
I found that having
` <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-google-cloud-functions-http</artifactId>
    </dependency>`
pushes build to use uber-jar always

[2022-01-24 12:27] fwippe commented on #22832
Any chance of bumping SmallRye Fault-Tolerance to 5.2.2 for Quarkus 2.7 to use that feature?

[2022-01-24 12:50] Ladicek commented on #22832
There's no release yet. It will be soon, but it won't make it into 2.7.

[2022-01-24 13:02] radcortez commented on #22595
Hi @amitkumar7566,

My recommendation is to just build Quarkus locally to test the fix. Do the following:

[code]

On the reproducer, change the following properties to:

[code]

And change the bom for amazon-services:

[code]

If you reload your IDE configuration, you should be able to see if the `io.quarkus.amazon.lambda.runtime.AbstractLambdaPollLoop` is coming from the `999-SNAPSHOT` jar, and

[2022-01-24 13:05] Markus-Schwer opened #23138 "Ability to access all roles of multiple keycloak clients in a OpenID token"
### Description

This might be a niche use-case, but I need to check if a user has a specific role from another client.
As an example, suppose I have a keycloak OpenID token with two roles from two clients:
[code]
My oidc config in my `application.properties` looks something like this:
[code]
In my application code I need to check if the user/token has both `role1` and `role2`. Currently this does

[2022-01-24 13:07] ebullient commented on #23051
We've been talking about separated / "plugin" subcommands, and "deploy" belongs in that bucket. So lets make a separate issue for deploy (separate from image).
I think image also gets interesting (because it depends on enabled/installed extensions).. so we'll have to think about how that should work in a sensible way. Otherwise, I totally agree that the properties are a mess.

[2022-01-24 13:21] radcortez commented on #22991
Hi @celsomarques, can you please provide a reproducer? Thank you!

[2022-01-24 13:22] amitkumar7566 commented on #22595
@radcortez
In which directory/folder/place do you want me to perform the below steps:
`#clone Quarkus
git clone git@github.com:quarkusio/quarkus.git
cd quarkus
# build
export MAVEN_OPTS="-Xmx4g"
./mvnw install -DskipTests=true -Dquickly -T 6`

[2022-01-24 13:26] iocanel commented on #23051
The image extensions may be indirectly added via `forcedDependencies`. Given that both the container image and the kubernetes related extensions are build only extension, this approach is perfectly valid.

[2022-01-24 13:50] geoand commented on #20201
Closing as we did not get feedback

[2022-01-24 13:50] #20201 closed

[2022-01-24 13:53] geoand commented on #19868
I think we can close this now as there have been multiple fixes in Quarkus and the upcoming Kogito version

[2022-01-24 13:53] #19868 closed

[2022-01-24 13:55] geoand commented on #19761
Given how much bad publicity log4j has got over the past few weeks, I'd say that our insistence on only supporting JBoss LogManager has paid off even more.

[2022-01-24 13:55] #19761 closed

[2022-01-24 13:56] mmizera commented on #22251
Was this fixed ? I still have (probably) same issue

2022-01-24 14:44:00,064 ERROR [io.sma.rea.mes.provider] (vert.x-eventloop-thread-14) SRMSG00201: Error caught while processing a message: java.lang.IllegalStateException: The current thread cannot be blocked: vert.x-eventloop-thread-14
        at io.smallrye.mutiny.operators.uni.UniBlockingAwait.await(UniBlockingAwait.java:30)
        at io.smal

[2022-01-24 13:57] geoand commented on #19683
Closing as we did not get a reproducer

[2022-01-24 13:57] #19683 closed

[2022-01-24 13:59] geoand commented on #19342
Closing as we did not get feeback

[2022-01-24 13:59] #19342 closed

[2022-01-24 14:00] #19311 closed

[2022-01-24 14:02] markusdlugi opened #23144 "OpenTelemetry Vert.x integration doesn't create spans for Event Bus or SQL"
### Describe the bug

Since Quarkus 2.6 (I guess since the refactoring in https://github.com/quarkusio/quarkus/pull/21583 or the fix in https://github.com/quarkusio/quarkus/pull/22615), the OpenTelemetry Vert.x integration only creates spans for REST calls and nothing else. I tested both Event Bus and Hibernate Reactive (i.e. Vert.x SQL client), but no spans are automatically created for any of th

[2022-01-24 14:09] radcortez commented on #22595
You can choose where you want to do it. The `git clone` command will create a `quarkus` folder.

[2022-01-24 14:11] gsmet commented on #19761
And for Logback adapters, there is now https://github.com/quarkiverse/quarkus-logging-logback .

[2022-01-24 14:12] gwenneg commented on #22251
@mmizera Could you please show me the signature of the method annotated with `@CacheInvalidate`?

[2022-01-24 14:15] ylepikhov commented on #12943
Any news?

[2022-01-24 14:16] gwenneg commented on #22251
https://github.com/quarkusio/quarkus/pull/22683 may fix your issue but it will only be available with Quarkus `2.7.0` which is currently a release candidate (CR1).

[2022-01-24 14:21] mmizera commented on #22251
Ok, It was probably "false-positive". I reviewed my code again and problem was in cache method signature. I used generic response type T, so it was blocking. I modified it to <T extends Uni> and it works. There is if in CacheResultInterceptor for this, so with generic result it ends in blocking block of source code.

[2022-01-24 14:21] cescoffier commented on #23071
Thanks @evacchi !

Closing this one.

[2022-01-24 14:21] #23071 closed

[2022-01-24 14:47] gavinking commented on #19539
Oh, Steve just reminded me that `@Nationalized` is an even better way to do this

[2022-01-24 15:42] kenyee commented on #16785
Attached a the small sample here:
https://github.com/quarkusio/quarkus/discussions/23122

In ProjectResource.kt, just change the "fun" to "suspend fun".  My expectation was that it would run as a coroutine on the computation threads and then I could do a withContext(Dispatchers.io) to run the non-reactive hibernate code on the IO thread (not on a Vertx I/O thread, but a Kotlin I/O thread).

Ideall

[2022-01-24 15:46] gsmet commented on #22773
So what is the value of having this codestart? What does it do and how does it make things better for the user? If someone can summarize what this codestart do, we can take an educated decision.

Because again, if it's just a random entity created, I don't see the value of it given all the nice guides we have.

[2022-01-24 15:51] elrob commented on #21133
I hit the same issue. Same solution.
`quarkus-resteasy-reactive` works fine in JVM mode but native mode required switching to `quarkus-resteasy-reactive-jackson`

[2022-01-24 16:09] DmitryErmolchik commented on #21133
@elrob Hi,
You need to use the right combination of Quarkus modules:
`
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-resteasy-reactive-jackson</artifactId>
    </dependency>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-rest-client-reactive-jackson</artifactId>
    </dependency>
`

[2022-01-24 16:31] loicmathieu commented on #22773
It's an example entity with a comment explaining how to use it so people will have some code sample.

I wanted to have the code example in a test case or something else but the decision was taken to add it inside a comment. The entity is a JPA entity when only Hibernate is selected and a Panache entity when both Hibernate and Panache are selected.

A lot of discussions was done at the time with An

[2022-01-24 16:34] sberyozkin commented on #22477
@lthasle Hi, missed your comment, reopened. I don't else what else can be done - can you please create a specific reproducer, with a test similar to the one I added in my PR ? (The client calls the frontend endpoint, this endpoint, in turn, from a Runnable task calls the downstream endpoint).
For example, in your reproducer you have
[code]

But it can't really work - the downstream target and OIDC

[2022-01-24 17:12] Karm opened #23148 "TS failure: quarkus-integration-test-rest-client-reactive-kotlin-serialization: Unresolved class: interface java.util.List"
### Describe the bug

Hello,

The TS needs debug & fix:

[code]

### Expected behavior

Test passes Native or is excluded in Native if it is not meant to pass.

### Actual behavior

_No response_

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

Java Version 11.0.14+9-LTS

### GraalVM version (if different from Java)

native-image 21.3

[2022-01-24 17:23] Karm opened #23149 "TS failure: io.quarkus.grpc.examples.hello.HelloWorld*Tls* fail: Algorithm constraints check failed SHA1withRSA"
### Describe the bug

These tests ` io.quarkus.grpc.examples.hello.HelloWorld*Tls*` pass on RHEL 8 while they fail on RHEL 9, with the same Quarkus and Mandrel (Java) version used.  NSS version / crypto policy thing likely? We might need to ditch SHA1wthRSA as dated... @sberyozkin  WDYT?

While using Mandrel, this is not native specific.

### Expected behavior

These tests pass the same way as the

[2022-01-24 17:41] gsmet commented on #22773
Well, why not if it doesn't end up causing problems.

But, IMHO, given it's causing problems, I see very little value in having an example entity if we end up with a broken project.

YMMV I suppose.

I'll let @Sanne and @yrodiere decide on this one.

[2022-01-24 18:07] #23034 closed

[2022-01-24 18:20] gsmet commented on #22773
FWIW, my main problem is that having a just generated project that doesn't build might have the users think that something is broken and it might be bad PR for Quarkus given how widespread the ORM extension is.

[2022-01-24 18:29] lthasle commented on #22477
@sberyozkin

Is there a guide which shows how I can setup my environment to run your test?
I guess I need something in my settings.xml?

`
Quarkus - Documentation ............................ SKIPPED
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:

[2022-01-24 18:41] gsmet opened #23152 ""NullPointerException at IntegrationTestUtil.java:103" running NativeIntegrationTest with H2 database?"
### Discussed in https://github.com/quarkusio/quarkus/discussions/23122

<div type='discussions-op-text'>

<sup>Originally posted by **kenyee** January 24, 2022</sup>
This test runs fine in a normal test, but fails when run as a @NativeImageTest.  It's in Kotlin, but it shouldn't matter.
[code]

The normal JVM test it inherits from is:
[code]

and h2 is pulled in by doing this:
[code]

I couldn't

[2022-01-24 18:42] gsmet commented on #23152
Ah I was hoping it would transfer the discussion to an issue but it doesn't work that way :)

[2022-01-24 18:42] #23152 closed

[2022-01-24 18:43] sberyozkin commented on #23149
Perhaps the keys used by these tests should be regenerated using `SHA256withRSA` ?

[2022-01-24 18:43] famod commented on #18228
Has anyone tried a `ThreadContextProvider` to propagate the MDC as suggested here? https://stackoverflow.com/questions/65039035/manual-context-propagation-in-quarkus-native-mode/65040601#65040601

[2022-01-24 19:17] hguerrero commented on #22976
@cescoffier what is the current command?

[2022-01-24 19:45] kenyee commented on #16785
@MartinX3 oops...thanks...forgot to add that.  It's a new project so I haven't hooked in the DB all the way yet...

[2022-01-24 20:22] amitkumar7566 commented on #22595
@radcortez
If I clone in one directory and my project is in another directory, is it still okay?
I mean kist thinking how and what the connection happens to test the fixes.

[2022-01-24 20:25] sberyozkin commented on #22477
@lthasle Did you checkout the main branch and built it, see https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md ? CC @gsmet

[2022-01-24 20:26] sberyozkin commented on #22477
Looks like you did, sorry

[2022-01-24 20:34] sberyozkin commented on #22178
@sandronm Hi, I missed this issue completely. `register-filter` is a global property - all the clients get this filter in this case. So, the propagation filter expects a token be available, so if none is coming it is failing. What else can it do, letting the call go if the token is not available may not be the right approach either.

I believe you should have two REST client interfaces, the one us

[2022-01-24 20:35] sberyozkin commented on #16840
Let me close this issue as the discussion has moved to #22540

[2022-01-24 20:35] #16840 closed

[2022-01-24 20:37] sandronm commented on #22178
Yes this sounds logical. I will have to test it but yes indeed have 2 differents clients doesn't seem impossible

[2022-01-24 20:46] radcortez commented on #22595
Yes, it is ok.

Maven will build Quarkus in your local repository with the `999-SNAPSHOT` version. When you update your project to use that version, Maven will look for it in your local repository, so that is how the connection happens.

[2022-01-24 20:47] radcortez commented on #23144
I'll have a look.

[2022-01-24 21:04] kucharzyk commented on #22949
@geoand I've prepared sample applicartion with this behaviour

https://github.com/kucharzyk/quarkus-22949/tree/main/src/main/java/org/acme

I have 3 endpoints:
- /test/a throws UnauthorizedException
- /test/b throws ForbiddenException
- /test/c throws NotFoundException

I have ExceptionMappers for this three exceptions and they works.

Try to comment them.  have three others exception mappers:
- f

[2022-01-24 22:18] #19634 closed

[2022-01-24 22:49] stuartwdouglas commented on #22949
Quarkus provides built in exception mappers for these types:

- io.quarkus.resteasy.reactive.server.runtime.exceptionmappers.ForbiddenExceptionMapper
- io.quarkus.resteasy.reactive.server.runtime.exceptionmappers.UnauthorizedExceptionMapper
- io.quarkus.resteasy.runtime.NotFoundExceptionMapper (dev mode only)

If you have overridden them then your custom mapper will take effect, but otherwise thes

[2022-01-24 23:00] jogueber commented on #22945
Not a 100% but I think the above solution didn't work either @kdubb
I will verify it though!

[2022-01-24 23:52] stuartwdouglas commented on #22477
You just need to add an `@ActivateRequestContext` to `org.my.QConsumer#run`.

Note that if you run the test you will still see a different exception as Quarkus will shutdown before the startup task is complete (once the test is run quarkus shuts down, but the run method is async).

I think this can be closed.

[2022-01-25 00:54] stuartwdouglas commented on #23149
That does not sound like the algorithm is missing though, CertPathValidatorException sounds like the self signed cert cannot be validated.

[2022-01-25 04:48] nicolas-vivot commented on #6531
Using JIB or Kaniko to build docker images and publish to a registry without docker is the way to go.

But how do you just run a quarkus build when dev services are in use for tests and therefore a docker runtime become a requirement ?

[2022-01-25 05:39] geoand commented on #22949
I agree with Stuart.

[2022-01-25 05:40] #22949 closed

[2022-01-25 06:01] #23055 closed

[2022-01-25 06:07] #20987 closed

[2022-01-25 06:12] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1743703315

[2022-01-25 06:55] #23075 closed

[2022-01-25 07:14] lthasle commented on #22477
@sberyozkin @stuartwdouglas THANKS! It works with @ActivateRequestContext

[2022-01-25 07:14] #22477 closed

[2022-01-25 07:20] Postremus opened #23164 "Hot reload does not build multi module project in correct order"
### Describe the bug

I have a multi module project, where I get exceptions on hot reload.
If I inly change one module at a time (and hot reload), no exception is thrown.

If i change multiple modules at the same time, I get the exception from below.
In module "service", I add a new method which I use in my rest resources in "web".
This new method is not found on hot reload.

I believe that the we

[2022-01-25 07:25] Postremus commented on #23164
/cc @stuartwdouglas

[2022-01-25 07:38] geoand commented on #13114
@ctron is this still an issue?

[2022-01-25 07:39] geoand commented on #15771
Closing as we did not receive feedback

[2022-01-25 07:39] #15771 closed

[2022-01-25 07:43] geoand commented on #15509
Is this still an issue?

[2022-01-25 07:45] geoand commented on #21722
Closing as we never got feedback

[2022-01-25 07:45] #21722 closed

[2022-01-25 07:57] #19379 closed

[2022-01-25 08:03] mklueh commented on #13425
I'm running into the same issue after trying to migrate to reactive dependencies. I do not know why this issue occurs. Not using Kotlin.

[code]

[2022-01-25 08:25] geoand commented on #19251
@TomasHofman would you be interested in this one?

[2022-01-25 08:29] geoand commented on #18973
If anyone can supply me with a small reproducer that exhibits the problematic behavior, I can take a look

[2022-01-25 08:42] Postremus opened #23167 "LinkageError when hot reloading project using classes in external dependencies"
### Describe the bug

I have following structure in my reproducer project:

External dependency:
* A class called Configuration. This is a simple pojo, no cdi bean
* META-INF/beans.xml file

Quarkus project:
* ConfigurationProducer - a cdi producer, creating an applicationscoped instance of the Configuration
* ConfigurationValidator - Startup bean, which validates the produced Configuration in an

[2022-01-25 08:42] Postremus commented on #23167
/cc @aloubyansky

[2022-01-25 08:55] amitkumar7566 commented on #22595
@radcortez I cloned the quarkus git (took almost 1 hr 15 mins) and rebuilt my project.
But guess what, it still doesn't work. I tries to log the Trace Id but it comes as null.

![image](https://user-images.githubusercontent.com/54850956/150944241-860b78b1-af5b-46ea-9c8c-c2ad762f132c.png)

[2022-01-25 09:05] neon-dev commented on #15509
I've just tested the reproducer with Quarkus 2.6.3.Final and it still behaves the same. Question is, whether the current or old behavior of quarkus-smallrye-jwt is the expected one.

[2022-01-25 09:19] TomasHofman commented on #19251
@geoand sure, will look at it during this week. Thanks!

[2022-01-25 09:23] geoand commented on #19251
Great, thanks a lot!

[2022-01-25 09:34] sberyozkin commented on #23149
Yeah, it is not missing but it may be now disabled as the policy level as Karm suggested, similar error is dicussed at https://stackoverflow.com/questions/21218217/ssl-handshake-exception-algorithm-constraints-check-failed-md5withrsa

[2022-01-25 09:43] geoand commented on #18725
https://github.com/quarkusio/quarkus/pull/23168 will make that possible

[2022-01-25 09:49] geoand commented on #18381
This has now been resolved

[2022-01-25 09:49] #18381 closed

[2022-01-25 09:51] geoand commented on #18205
Closing as we already have a solution for this and this is also sort of a duplicate of https://github.com/quarkusio/quarkus/issues/18725

[2022-01-25 09:51] #18205 closed

[2022-01-25 10:12] sberyozkin commented on #22477
@stuartwdouglas Thanks Stuart, I've learned something new :-)
@lthasle Glad it works for you now :-)

[2022-01-25 10:21] sberyozkin commented on #22178
@sandronm Sure, something like
[code]
should do

[2022-01-25 10:38] gsmet commented on #22777
I wonder if we should have a mechanism that disables the wrapping simply if the exception is already of the right type? By extending this exception for the ones for which you don't want wrapping, you could very easily disable the wrapping for a specific class of errors.

Not sure if it makes sense?

[2022-01-25 10:58] geoand commented on #17568
This is actually a duplicate of https://github.com/quarkusio/quarkus/issues/12889 which will be handled by https://github.com/quarkusio/quarkus/pull/23147

[2022-01-25 10:58] #17568 closed

[2022-01-25 11:14] geoand commented on #16524
Closing this as the test is no longer flaky.

[2022-01-25 11:14] #16524 closed

[2022-01-25 11:19] gavinking commented on #19539
And for completeness I should mention that if you set SQL Server to use the `_utf8` collation, you won't run into this issue at all. Now, that's not the default, but I assume without evidence that it's what most sane people do in practice.

[2022-01-25 11:21] geoand commented on #16217
Is this still a problem with the latest versions of Quarkus?

[2022-01-25 11:23] geoand commented on #16118
@michalszynkiewicz is this something we have considered?

[2022-01-25 11:26] geoand commented on #15776
Closing in favor of https://github.com/quarkusio/quarkus/issues/22967 which is essentially the same issue but has more details

[2022-01-25 11:44] sberyozkin commented on #22188
Hey @FroMage

It has to be, otherwise `quarkus-oidc` won't be even called, it is a general Quarkus security design, the authentication mechanisms are called if the authentication is required so the redirect back to the Quarkus endpoint is not even seen by `quarkus-oidc` - Quarkus secutiy which orchestrates does not know this `GET` is in fact completing the code flow, all it knows it is targeting a

[2022-01-25 11:44] #22188 closed

[2022-01-25 11:50] bvahdat commented on #23113
@Sanne / @gsmet can you maybe think of any workaround for now to make it work somehow?

[2022-01-25 11:51] EnvyIT commented on #14682
Any progress on this issue? Feels pretty odd coming from Spring and experiencing such issues from the very beginning :(

[2022-01-25 11:51] EnvyIT commented on #10716
@Sanne Any progress on this issue? Feels pretty odd coming from Spring and experiencing such issues from the very beginning :(

[2022-01-25 12:13] Ladicek opened #23174 "ArC doesn't fail on an initializer method marked @Produces"
### Describe the bug

The `produce` method in the following bean is invalid per the CDI specification, but ArC doesn't fail:

[code]

Specifically, the problem is that it's an initializer method and a producer method at the same time. This is forbidden by the CDI spec: https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#declaring_initializer

### Expected behavior

ArC should fail.

### Actual behav

[2022-01-25 12:27] #23148 closed

[2022-01-25 12:30] Sanne commented on #23113
Thanks, I'll have a look.

Sorry I can't think of a workaround now, but if I figure out one I'll let you know here.

[2022-01-25 12:35] aloubyansky commented on #18725
That would be group and name in Gradle.

[2022-01-25 12:39] sberyozkin commented on #22178
@sandronm I've been thinking if may be I should add a property to this filter to let the request go without the tokens but then I decided it was not worth it - this filter is about propagating the tokens and not be reused between secure and non-secure clients.
Creating 2 clients as discussed or creating a simple custom filter should do, thanks

[2022-01-25 12:39] #22178 closed

[2022-01-25 12:52] loicmathieu commented on #9355
Hi @arvidvillen the new version of `logstash-gelf` has been integrated in Quarkus and support HTTP authentication.

Will you still willing to implement this for Quarkus ?

[2022-01-25 12:55] lgtti opened #23175 "Unit Testing in a multi-module environment"
### Describe the bug

I want to add some unit tests to my Quarkus maven project.
I'm working on a multi-module project structured as:
- parent
- - persistence (2 profiles [postgres, oracle])
- - business (depends on persistence module)
- - resource (depends on business module)
- - deploy-rest (with quarkus maven plugin)
- - deploy-lambda (with quarkus maven plugin)

The test is very simple (empty

[2022-01-25 13:35] Karm commented on #23149
I will generate new ones and see how the rest of the toolchain down the rabbit hole likes it.

[2022-01-25 14:09] sberyozkin commented on #23138
#23139 Fixes it

[2022-01-25 14:09] #23138 closed

[2022-01-25 14:10] patriot1burke commented on #22595
@amitkumar7566  Did you test tracing?  Or did you just look at the output of your example program?

I'm pretty sure custom lambda runtime (binary lambdas) do not set the _X_AMZN_TRACE_ID environment variable.   The system property *com.amazonaws.xray.traceHeader* is set by the quarkus lambda integration and should be picked up by xray library.  Your example code prints out this env var, but not th

[2022-01-25 14:13] markusdlugi commented on #10716
@Sanne, @DavideD, @geoand

I wanted to bring up some additional points to further stress the importance of this issue. It's not just about Flyway, Quartz or whatever other extension might also depend on a JDBC datasource. These extensions not working when Hibernate Reactive is active is just a side-effect of a more severe problem in my opinion. The primary problem surfacing in this issue is that y

[2022-01-25 14:23] #23113 closed

[2022-01-25 14:24] #23067 closed

[2022-01-25 14:24] #18129 closed

[2022-01-25 14:29] kenyee commented on #13425
I'd guess that quarkus-hibernate-envers is not reactive @mklueh.  Have you tried removing it?

[2022-01-25 14:33] kenyee commented on #16785
FWIW, I looked over the code in https://github.com/quarkusio/quarkus/tree/main/extensions/panache/hibernate-orm-panache-kotlin
and don't see anything special about it... you can probably get rid of it and annotate the Java version of these with @Nullable and @NotNull and it'll work fine w/ Kotlin.  There are hard nullability kotlin declarations with Kotlin code, but this isn't strictly needed beca

[2022-01-25 14:40] OleKsimov commented on #11443
Hi guys!
Is there a chance you could consider implementing such a great functionality?

[2022-01-25 14:57] aloubyansky commented on #23167
This issue is caused by https://github.com/quarkusio/quarkus/pull/22828 (and its follow up https://github.com/quarkusio/quarkus/pull/22893)
If I backport these to 2.6, it breaks it.

[2022-01-25 14:59] aloubyansky commented on #23167
@mkouba fyi

[2022-01-25 15:28] andlinger commented on #22808
@Karm Any news on this? Is there anything I can help you with?

[2022-01-25 15:29] andlinger commented on #23073
Can anyone help me here?

[2022-01-25 15:29] patrice-conil commented on #12417
Hi @DanHeidinga, @stevefan1999-personal ,
I had the same problem that I solved with the removal of my ~/.kube directory.
Hope this helps.
Patrice

[2022-01-25 15:29] andlinger commented on #22658
Is there a decision on this?

[2022-01-25 15:30] mkouba commented on #23167
You can add `quarkus.class-loading.reloadable-artifacts=org.acme:spi` in the `application.properties` config file as a workaround.

[2022-01-25 15:59] mklueh commented on #13425
@kenyee yes I did, nothing changed.
I haven't tried the hibernate validation dependency, but I'd guess those basic things should work with reactive as well

[2022-01-25 16:20] cescoffier commented on #23149
@Karm there are REDMEs with the instruction to regenerate the files. From what I can see, it just uses the default algorithm (nothing odd), but maybe the default when I generated them was not right.

[2022-01-25 16:26] TomasHofman commented on #19251
After reading the description properly, I think we already have this partly implemented (it was implemented after this issue was created).

The configuration attributes that we already added are:

[code]
and these are equivalents of the `connection-pool.evict-after` and `connection-pool.max-size` suggestions. These are IMO the two important ones, that should satisfy most use cases.

The remaining

[2022-01-25 16:29] geoand commented on #19251
Yeah I agree.

Thanks for looking into it!

[2022-01-25 16:29] #19251 closed

[2022-01-25 16:31] jonathanvila opened #23188 "When generating Kubernetes files (minikube,openshift,kubernetes) add "common.yml""
### Description

Now when generating the yaml files for Kubernetes , we need to put the fragments to be added on the final generated file ( target/kubernetes/{deployment-target}.yml)

This leads to have duplicated fragments in 3 files.

### Implementation ideas

Consider a 4th file : common.yml that contains fragments that will be added in every target-deployment yaml.

kubernetes.yml = common.yml

[2022-01-25 16:36] jonathanvila opened #23189 "When renerating kubernetes deployment files, only generate the selected deployment-target"
### Describe the bug

When we package a kubernetes application, now apparently it is generating always 6 files : kubernetes.{yml | json} , minikube.{yml | json } , openshift.{yml | json} even when we specify the target : -Dquarkus.kubernetes.deployment-target=kubernetes

### Expected behavior

Only generate the files for the deployment-target specified ( or fallback to kubernetes )

### Actual beh

[2022-01-25 17:22] patriot1burke commented on #23051
Quarkus has verbs:  build  dev, test, etc.  IMO, no reason it can't have
another verb "deploy" which extensions use however they want.  Imagine
something like Funqy, that can be deployed to Lambda, Azure, or
Kubernetes.  Swap out a maven dependency (funqy lambda for azure) and just
do "quarkus deploy" again.  Any crazy options can be handled by
application.properties or any config files the extens

[2022-01-25 18:03] famod commented on #23175
I have no real solution for you, but this how we do it:

We have a `core` module which looks a bit like your `persistence` module but in our case it's also home to all "core services", so it's more a merge of your `persistence` and `business` modules.
All other modules depend on `core`.
We have all the respective Quarkus dependencies we need for persistence DB etc. in `core` _and also the config f

[2022-01-25 18:04] iocanel commented on #23051
FWIW I have a working PR. Will polish and finalize it tomorrow!

[2022-01-25 18:07] kenyee commented on #13425
you could try dumping dependencies... e.g. "./gradlew dependencies" to see what pulls in the non-reactive hibernate...

[2022-01-25 18:13] mklueh commented on #13425
@kenyee thanks, I'll try that. Does it have to be a non-reactive Hibernate dependency or could it also be something else?

[2022-01-25 18:40] geoand commented on #23188
I like the idea!

[2022-01-25 18:41] geoand commented on #23189
I don't think we really need to fix this one, as it doesn't really affect anything

[2022-01-25 18:41] #23189 closed

[2022-01-25 19:02] kenyee commented on #13425
@mklueh mixing isn't allowed...so remove the thing that's pulling in the non-reactive version...

[2022-01-25 19:05] lgtti commented on #23175
Thanks for the response!
Your structure is indeed similar to mine and your advice is very useful. My test now works correctly with this configuration (may be useful for others):

persistence/pom.xml
[code]

persistence/.../resources/application.properties
[code]

[code]

My only doubt is the procedure: why do I need a database set up to run unit tests? Quarkus solution is more similar to an integr

[2022-01-25 19:20] #23174 closed

[2022-01-25 20:13] #23167 closed

[2022-01-25 20:14] gsmet commented on #22815
The fix needs more work. It won't be included in 2.7.0.Final.

[2022-01-25 20:18] #22967 closed

[2022-01-25 20:32] mklueh commented on #13425
@kenyee This is the only thing I've found
[code]

hibernate-orm is a transitive dependency of hibernate reactive

[2022-01-25 20:36] kenyee commented on #13425
sounds like you're ok then...can you post your full stack trace?

[2022-01-25 20:48] mklueh commented on #13425
I've excluded the validator dependency too test-wise, without any effect. This is the full stacktrace:

[code]

[2022-01-25 21:44] kenyee commented on #13425
hmm...this still makes it look like you're mixing them:
"Caused by: java.lang.IllegalStateException: Booting an Hibernate Reactive serviceregistry on a non-reactive RecordedState!
	at io.quarkus.hibernate.reactive.runtime.boot.registry.PreconfiguredReactiveServiceRegistryBuilder.checkIsReactive(PreconfiguredReactiveServiceRegistryBuilder.java:77)"

Can you look at the dependencies on all the other

[2022-01-25 21:50] aloubyansky commented on #23083
I actually don't see how `parentFirst` (or the absence of it) plays a role in this case.
What I had in mind investigating is adding a "prepare-test" goal in, e.g. `process-test-classes` phase, that would be added to the default lifecycle of the `quarkus-maven-plugin` (and so wouldn't need to be explicitly configured in applications) in which we could do all sorts of classpath preparations (includi

[2022-01-25 21:55] famod commented on #23175
You have a point there. IIRC, being able to kinda "exclude" features (similar to test slices) was asked for a while ago.
The advantage of the current solution (especially with [Dev Services](https://quarkus.io/guides/dev-services)) is to quickly get to a point where you can test rather close to your actual app.

What you could do if you really want plain unit tests is to omit `@QuarkusTest` and se

[2022-01-25 21:57] famod commented on #23175
@geoand @stuartwdouglas maybe it's time to revist #12512.

[2022-01-25 22:12] nikosk686 opened #23195 "Qaurkus Camel bean-validator throws javax.enterprise.context.ContextNotActiveException when quarkus-resteasy-reactive-jackson is present"
### Describe the bug

Using camel bean-validator throws `ContextNotActiveException` when `quarkus-resteasy-reactive-jackson` dependency is also present and the provided bean is invalid based on the validation annotations.
Also with `quarkus-resteasy-reactive-jackson` the bean validator exception is of type `javax.validation.ValidationException`
while without this dependency the associated exceptio

[2022-01-25 22:13] aloubyansky commented on #23083
That doesn't seem to work launching tests from an IDE though, of course.

[2022-01-25 22:26] aloubyansky commented on #23083
Otherwise, it works from the command line
[code]

[2022-01-26 02:12] gastaldi commented on #15653
Duplicate of #16225

[2022-01-26 02:12] #15653 closed

[2022-01-26 06:02] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1749174669

[2022-01-26 06:55] geoand commented on #23195
Hi,

I just executed the tests of the reproducer in the `problem` branch and everything passed.
Is there something the reproducer is missing?

[2022-01-26 07:05] amitkumar7566 commented on #22595
@patriot1burke   I checked in AWS Xray but could not find any sub-segment traces.

![image](https://user-images.githubusercontent.com/54850956/151116598-dc1fb729-d6be-4f7c-a340-cba8b10deef0.png)

However, I got the TraceId in logs when I pulled it from System property:

![image](https://user-images.githubusercontent.com/54850956/151116774-94dfeab2-d637-4e67-b4de-44de87600a98.png)

Also, we are get

[2022-01-26 07:08] mklueh commented on #13425
@kenyee I ran it on the application level, which includes all sub modules and I've searched through the whole dependency tree.

The hibernate dependencies are included in the root build.gradle and not in the modules directly, so I don't have to change every build.gradle.

Is there a chance to see the specific cause I'm the logs when changing the log level?

[2022-01-26 07:09] nikosk686 commented on #23195
Hello @geoand
the test is passing in both branches as the assertion is trivial.
You can identfy the issue by examining the produced logs after each execution though, as I explained above.
thnx

[2022-01-26 07:36] kdubb commented on #22762
I realize JAX-RS already requires sending the status, etc. after the request method returns but I wanted to point out something I saw mentioned in the html spec at https://html.spec.whatwg.org/multipage/server-sent-events.html#server-sent-events.

So it seems 204 has a very special meaning after all and the request method should probably be the code returns it; and it should do so for a specific r

[2022-01-26 07:39] geoand commented on #23195
https://github.com/quarkusio/quarkus/pull/23201 takes care of the issue

[2022-01-26 07:46] cescoffier commented on #22762
Which is typically translated by a completion event on the stream (nothing to consume). As 204 cannot be sent after the headers have been sent in the response, to implement that behavior we need to wait for the subscription event and a potential completion event (which means waiting for the first item).

That being said, all these strategies are really opinions about how SSE should be implemented.

[2022-01-26 07:46] geoand commented on #22762
I very much agree with this

[2022-01-26 07:54] geoand commented on #23188
This would need a change in Decorate, right @iocanel ?

[2022-01-26 07:56] geoand commented on #15706
Is this still an issue or can we close it?

[2022-01-26 07:58] geoand commented on #15664
I am going to close this as we have reverted to not using instrumentation unless explicitly requested by the user.

[2022-01-26 07:58] #15664 closed

[2022-01-26 08:00] geoand commented on #15364
@mmusgrov any update on this?

[2022-01-26 08:03] kdubb commented on #22762
The biggest problem I have with the current implementation is it triggers a timeout. With no status until first message the client is essentially waiting for HTTP connection establishment to finish and sees the server as busy or hung. The Timeout triggers a reconnect but that defeats a lot of the purpose of SSE in the first place. It's essentially polling until it receives a message.

I'm all for

[2022-01-26 08:08] kdubb commented on #22762
One more note about the timeout... using a long timeout to overcome this issue is really a non-starter. If we increase the timeout then we will not reconnect in a timely fashion when a server/connection really is hung.

[2022-01-26 08:10] geoand commented on #15209
I totally agree that provider registration for the REST Client is very cumbersome and error prone...

What exact use case are you looking to be addressed with this @cortex93 ?

[2022-01-26 08:14] geoand commented on #15056
Indeed, let's close this

[2022-01-26 08:14] #15056 closed

[2022-01-26 08:16] #14910 closed

[2022-01-26 08:18] geoand commented on #14709
Is this still a problem with the latest Quarkus?

[2022-01-26 08:19] lgtti commented on #23175
You are correct, I have tried to test using bare junit5 solution but how can I inject beans in my services?
Don't misunderstand me, I'm not a purist of unit testing but my work pipeline doesn't permit running a docker container in the build phase (to set up a database, for example).
So, I need to build and run unit tests without any other runtime dependency

The workaround using the h2 database wo

[2022-01-26 08:19] iocanel opened #23203 "Irrelevant warning about mismatch between groups and projects"
### Describe the bug

[code]
The warning above should only appear when the following conditions are met:

- Mismatch between container image group and target namespace
- Target deployment target is openshift
- In cluster build that produces an ImageStreamTag is used (s2i binary, docker build strategy)

However, I can reproduce it even when the last two conditions are not meet.

### Expected behavi

[2022-01-26 08:22] cescoffier commented on #22762
That's not how it works. Yes, you subscribe, no you are not subscribed. You are subscribed when the stream gives you a Subscription object. This is async.

Returning a status + headers when you subscribe and not when you are subscribed means that you will not be able to return anything else than 200.

[2022-01-26 08:23] cescoffier commented on #22762
Testing a few more frameworks (outside of the Java space). It seems like most do like we are doing today.

[2022-01-26 08:31] kdubb commented on #22762
Exactly... and RR should never send anything except 200.  If a resource method needs to send something else they are free to throw an exception and return any status code they like; this is how authentication issues are handled currently.

[2022-01-26 08:47] cescoffier commented on #22762
Yes and No. Authentication happens _before_. Here, I refer to the stream itself. If the stream sends a failure, you can't do anything (except serialize the failure into the SSE which is somewhat tricky and uncovered by any spec) and close the connection. The current approach does not cover everything, but at least immediate (by immediate I mean the first event it's still async), failure or complet

[2022-01-26 09:00] ctron commented on #13114
I am not sure, didn't test for a while. I will try to see if I can reproduce that.

[2022-01-26 09:06] zakkak commented on #15706
@rsvoboda FYI with the new native-image output it's even easier to find major differences between two compilations. See https://github.com/oracle/graal/blob/master/docs/reference-manual/native-image/BuildOutput.md

[2022-01-26 09:18] ctron commented on #13114
Looks like:

[code]

[2022-01-26 09:30] #21250 closed

[2022-01-26 09:36] aloubyansky opened #23205 "Improve Quarkus bootstrap Maven workspace discovery"
### Description

The current default workspace discovery is based on processing raw POM models, discovering local parent modules and processing their modules. It has its limitations. For example it does not support Maven profiles or not discover all the modules in case of tricky POM hierarchy (e.g. parent POM referencing modules, whose parent POMs are different and/or not found in the current work

[2022-01-26 09:43] ctron commented on #13114
I would still expect that the following override fixes the issue. However, it does not:

[code]

[2022-01-26 10:49] sberyozkin opened #23209 "Reactive Rest Client reports `401` as `Unknown Error`"
### Describe the bug

Minor issue, I have a test where the client gets `401` and the following is logged:

[code]

### Expected behavior

If possible make it read `Unauthorized, status code 401`, etc for other well-known error codes

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No respons

[2022-01-26 10:54] isacandrei commented on #22008
We are also running on Quarkus 2.0+ currently and would like to benefit from some fixes implemented in Quarkus 2.3 and 2.6. However running the `cyclonedxBom` task from the CycloneDX plugin is mandatory for us.

Do you have any update on this?

[2022-01-26 10:59] rkraneis commented on #23175
If you want to use CDI in unit tests without `@QuarkusTest`, you are on your own ;-). The ideas in https://dzone.com/articles/writing-tests-with-junit-5-and-cdi-20 may help, though. One more thing to be aware of: you will not see any log output in tests that are not mananged by Quarkus. This should be resolved in 2.7.0.

[2022-01-26 11:01] ashwinair commented on #21905
Thank you @maxandersen :)

[2022-01-26 11:06] sberyozkin commented on #22216
Oops, I was actually looking for this issue number to open a PR, so apologies I did not reply earlier. I've no idea why I'm keeping missing so many notifications.

[2022-01-26 11:14] lgtti commented on #23175
I don't want to reinvent the wheel. I only think that quarkus must split integration tests and unit tests,
otherwise, a note in the official documentation should be added indicating that quarkus doesn't support classic unit tests.
This is a very huge technical limitation, in my opinion, because not all build pipelines support running temp Docker containers (as in my case).

[2022-01-26 11:18] Sanne commented on #13425
If you could share a reproducer I'd like to have a look.  To be clear, mixing is still not expected to work, but it looks like we should at very least improve the error messages or the diagnosticts to figure out what's happening in this case.

[2022-01-26 11:37] Sanne commented on #10716
Hi @markusdlugi ,
I don't disagree with you about this issue being important, and appreciate the honest feedback.

Still, I can't work on this now, and wouldn't suggest someone else to do so either: we're "full-steam" ahead in making Hibernate ORM v6 happen: when that's done this will unlock huge benefits for everyone, and will also require to make significant changes to the Hibernate Reactive cod

[2022-01-26 11:46] gsmet commented on #23045
@cescoffier I think this one can be closed? But we probably need to open a new one to use more appropriate images when we can.

[2022-01-26 11:50] #23045 closed

[2022-01-26 12:36] albert0815 opened #23211 "Keycloak policy enforcer returns 403 in case an error occurred while retrieving resource from Keycloak"
### Describe the bug

Currently the Keycloak policy enforcement returns a 403 return code in case a request is sent to the Quarkus endpoint and the token of the user is not known in Keycloak. This could happen if Keycloak was restarted in the meantime. Returning a 403 in this case seems wrong because that means "permission denied".

### Expected behavior

 I would think that returning 401 (unautho

[2022-01-26 12:42] sberyozkin commented on #23211
Hi @albert0815
IMHO this issue is invalid, `quarkus-keycloak-authorization` only deals with authorizing the token which has already been verified by `quarkus-oidc`. If, the authorization decision can not be completed, for whatever reasons, it is only `403` at this stage. Perhaps `500` even more appropriate, but I'd stick with `403`.

@pedroigor do you agree ?

[2022-01-26 12:55] albert0815 commented on #23211
I can see your point. The token validation in Quarkus was successful. But obviously the token validation failed in Keycloak:

[code]

I was also thinking that maybe 500 would be a good return code in this case.

The reason why I am raising this as a bug and suggesting a 401: The only way to get out of this situation is to reauthenticate. So the client actually can solve this situation by receiving

[2022-01-26 13:21] sberyozkin commented on #23211
@albert0815 Sure, but that validation failure because the token does not align with the current restarted Keycloak state, and it is as part of the authorization decision process. Token signature is valid, the keys fetched from the Keycloak are used to verify.
I don't think it is even technically possible, how can Quarkus `KeycloakPolicyEnforcerAuthorizer` know what is the reason behind `PERMISSION

[2022-01-26 13:23] patriot1burke commented on #22595
Have to exclude th jackson-module-afterburner artifact.  Let me look into how to do that.

[2022-01-26 13:37] patriot1burke commented on #22595
So, let me explain what's happening.  Afterburner is an addon for json serialization that XRAY is using.  It creates classes dynamically at runtime.  You cannot do this with Graal/native binaries.  What I think will work is to exclude the afterburner module.  Change this:

`<dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-amazon-lambda-rest</artifactId>
    </dependency>`

[2022-01-26 14:56] albert0815 commented on #23211
I think `KeycloakPolicyEnforcerAuthorizer` could be able to identify this situation. This is the exception which seems to lead to the situation:

[code]

So for me it seems that the response which Keycloak returns to the PolicyEnforcer contains the information that this is now an error situation which actually means that this is not a 403 (and maybe would be a hint to return a 500).

Anyhow I can

[2022-01-26 15:09] markusdlugi commented on #10716
Hi @Sanne, thanks a lot for taking the time to explain the situation, that definitely helps. Much appreciated!

[2022-01-26 15:14] geoand commented on #23209
Hey @sberyozkin

Which version does this affect?

[2022-01-26 15:50] sberyozkin commented on #23209
Hey @geoand, I've noticed it while preparing #23210, on `main`

[2022-01-26 15:57] geoand commented on #23209
Gotcha, thanks

[2022-01-26 16:00] Karm commented on #22808
@andlinger No news. I shall circle back to it shortly and post an update :+1:

[2022-01-26 16:18] sberyozkin commented on #23211
@albert0815 I see, well even if I disagree (though now I'm hesitating :-) ), I'd let Pedro make a decision. All that code you pasted is not done at the Quarkus level, I've looked at the code, my understanding that the only way to intercept it at the Quarkus level is to extend `protected KeycloakAdapterPolicyEnforcer.handleAccessDenied` (as we control the instantiation of `KeycloakAdapterPolicyEnfo

[2022-01-26 16:20] sberyozkin commented on #23211
@pedroigor Hey Pedro, by the way, I think we need to extend that code anyway and return `403`, I believe we don't want `302` in scope of the quarkus endpoint, I can open a PR if you agree ?
thanks

[2022-01-26 16:47] #18725 closed

[2022-01-26 16:57] sberyozkin commented on #23211
@pedroigor Or if  `handleAccessDenied` is called only in case of the `"error":"unauthorized_client"` error, then we can just return `401`.

[2022-01-26 16:57] mkouba commented on #14709
It's still a "problem". I can confirm that Sanne's [solution](https://github.com/quarkusio/quarkus/issues/14709#issuecomment-894243543) works perfectly but it's not very obvious for beginners (like me ;-) and the error message is completely useless.

[2022-01-26 17:12] PierreBtz opened #23217 "Dev mode captures console input destined to the application"
### Describe the bug

Running an interactive CLI (Quarkus command mode) in Quarkus dev mode (`mvn quarkus:dev`), Quarkus dev mode partially captures the keystrokes.

### Expected behavior

I would expect the dev mode to capture the keystrokes only if the application didn't consume them before. Or if this is not possible, then I would expect a way to configure a modifier key to access the dev mode

[2022-01-26 17:15] hernael commented on #14709
Hi @geoand, yes this is still a problem.
Although if we add @ReactiveTransactional annotation to the method then it already works correctly.
However I think that this "trick" should not be done, since there are two "SELECT" queries and there is no transaction.

[2022-01-26 17:20] geoand commented on #14709
Thanks for the info folks

[2022-01-26 18:21] stephan-strate commented on #10126
@knutwannheden How did you ultimately solve this problem? The TestProfiles need the config properties at build time, right? But the Pact mockserver url is only available at runtime. Thats why I would love to see the `RestClientTestSupport` implementation: https://github.com/geoand/quarkus/commit/888a36f7e2cd3b02d183bf004901a05a1039d4d8#diff-a1f19a532def9abaf3e8cfbc57a80b5bf20309dc4c584db1d1b2bd3fe

[2022-01-26 19:22] mklueh commented on #13425
It turned out I had removed the Hibernate dependencies, but kept the JDBC dependency

[code]

I was also running into this

[code]

as Quarkus seems to be still sensitive to the non-reactive properties and I had the db kind set `quarkus.datasource.db-kind=postgresql`.

I didn't know that the jdbc dependencies would also not be allowed together with Hibernate Reactive.

Thanks for your help.

[2022-01-26 19:31] kenyee commented on #13425
@mklueh did you have to remove that property to fix that error?
I tried converting to reactive-hibernate and reverted because I hit that error and couldn't find out why Agroal was complaining about it despite not having a non-reactive JDBC driver...

[2022-01-26 19:34] tqvarnst opened #23218 "Native compilation fails with unresolved type during parsing"
### Describe the bug

I have a CLI project that is using the following extensions:

- quarkus-picocli
- quarkus-qute
- quarkus-rest-client-reactive-jackson

It also depends on:
- quarkus-arc
- quarkus-devtools-registry-client

When I'm compiling the project to native using `mvn package -Dnative` it fails.

### Expected behavior

Native compilation should work.

### Actual behavior

Build fails wit

[2022-01-26 19:37] mklueh commented on #13425
@kenyee yes, this helps, but also setting `quarkus.datasource.jdbc=false`.

This means (pls correct me if I'm wrong), when you can't use JDBC together with reactive libraries, you cannot use the EntityManager, as it relies on JDBC. Meaning I have to migrate my EntityManager-based queries now to something else, that is provided by reactive libraries, ex.: `io.quarkus:quarkus-reactive-pg-client`

[2022-01-26 20:09] tqvarnst commented on #23218
It seem that the reason that it doesn't work is that I'm missing some important substitutions are only available in `quarkus-vertx-http`. Since my project does not use any reactive servers (it only uses the `quarkus-rest-client-reactive-jackson`). Adding `quarkus-vertx-http`  to the dependencies and the native compilation started working again.

Thanks @cescoffier for the finding the issue.

[2022-01-26 20:14] tqvarnst commented on #23218
Since `quarkus-vertx-http` will start a HTTP server adding it is only a temporary workaround.

[2022-01-26 21:11] shawkins commented on #18973
@geoand Sorry, this is not a simple reproducer, but it does show the issue - https://github.com/shawkins/mk-agent/commit/c32b0d605ef85380a6d8cd9f1569ed926de71a61

Possibly related.  Here's another change that exhibits similar behavior - the introduction of another application bean cause build errors: https://github.com/bf2fc6cc711aee1a0c2a/kas-fleetshard/pull/643

[2022-01-26 21:13] gastaldi commented on #23073
Can you add a reproducer here?

[2022-01-26 22:07] stephanecottin opened #23224 "Build native error with liquibase & multidatabase"
### Describe the bug

With Quarkus last version (2.6.3) and liquibase, I have a very strange behaviour.
I have in my config:

[code]

and 3 database:

[code]

When I run on JDK, no problem.
When I want to build on native, I have the error:

`[ERROR] 	[error]: Build step io.quarkus.liquibase.deployment.LiquibaseProcessor#nativeImageConfiguration threw an exception: java.lang.IllegalStateException:

[2022-01-26 22:11] gsmet commented on #23224
Can you prepare a small reproducer? Preferably with Maven and an H2 database?

[2022-01-26 22:15] stephanecottin commented on #23224
I'll try tomorrow

[2022-01-26 23:03] kenyee commented on #13425
I don't think you can do that w/o creating two microservices....the JDBC and reactive libraries seem to conflict.  That means no EntityManager as well...

[2022-01-27 00:37] #23218 closed

[2022-01-27 01:53] stuartwdouglas commented on #23175
The big question with this is what is considered unit vs what is considered integration, e.g. some people will still want the database connection but not the HTTP server, while others will only want CDI. Basically for every extension we would need to go through and make an arbitrary decision on what is actually started in unit tests, and it will never really be 100% right.

Something we could pote

[2022-01-27 02:41] snowe2010 commented on #21282
@patriot1burke so how are you 'supposed' to be using kogito then? It's built to run on AWS lambda is it not? And I'm glad to see that I wasn't crazy when I was seeing the same issues with [OIDC](https://github.com/quarkusio/quarkus/issues/21523). Is this all a consequence of the devmode http handler so that you can hit lambdas locally?

[2022-01-27 05:48] #23195 closed

[2022-01-27 06:50] geoand commented on #18973
Anything I need to know about building / running the tests?

[2022-01-27 07:42] geoand commented on #23209
https://github.com/quarkusio/quarkus/pull/23231 takes care of it

[2022-01-27 07:57] amitkumar7566 commented on #22595
@patriot1burke When I excluded Afterburner like mentioned above, here is what I get as error:

![image](https://user-images.githubusercontent.com/54850956/151315630-e2d63909-9679-4e9c-b65e-4b02b7ea0a9d.png)

[2022-01-27 08:01] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1754539282

[2022-01-27 08:03] lgtti commented on #23175
Yes, I agree with this concept. As I said earlier,  I'm not a purist or Taleban of unit testing. If anyone wants to use a DB in unit testing it's ok for me. No problem.
But I want to use my concept, a unit test without a database.
I try to recap the situation simulating a new project for an enterprise factory:

**Assumption**: I want to add unit testing to my code. Great!
To add unit testing to qu

[2022-01-27 08:11] gwenneg commented on #22433
This may not be entirely fixed. We just had the same exception on our stage environment with Quarkus 2.6.3.Final.

I'll try to reproduce it later today.

[2022-01-27 08:17] evacchi commented on #21282
we were requiring undertow to serve static resources, this should be no longer the case for 1.15.0. We also automatically generate rest endpoints, which may conflict with AWS. You should be able to opt-out from automated rest generation setting to your properties:

[code]

then you should be able to try the new experimental public API https://blog.kie.org/2021/11/the-road-towards-a-kogito-public-a

[2022-01-27 08:22] geoand commented on #23175
I totally agree with this and IMHO we should not be trying to make such guesses.

Yeah, that sounds reasonable

[2022-01-27 08:55] evacchi commented on #12486
after this fix to the ci https://github.com/kiegroup/kogito-runtimes/pull/1940 I can confirm that the current issues are the same we are seeing on our own nightly native builds:

[code]

/cc @radtriste @fjtirado @elguardian @tiagodolphine

[2022-01-27 09:09] FroMage commented on #14709
Pfff, to get back to @Sanne's issue, which is:

Without a transaction, if we obtain two `Uni` executing an operation, and execute them without chaining them, something gets broken in HR.

I mean, correct me if I'm wrong, but this seems to be a problem entirely unrelated with Quarkus or Panache.

In any case, to get back to the drawing board, I recall that Julien Viet and @cescoffier told me that w

[2022-01-27 09:23] andlinger commented on #23073
@gastaldi No problem. Here you go: https://github.com/andlinger/quarkus-reproducer/tree/quarkus-23073

Additional instructions in README.MD

This reproducer works with Quarkus 2.3.1.Final or 2.3.0.Final and returns "Success" on endpoint /websocket

[2022-01-27 09:38] #23209 closed

[2022-01-27 10:15] Sanne commented on #14709
This is most likely relating with the ordering of events. When using the Transaction to wrap all operations, the beginning of the transaction enforces opening of a connection and at that point HR will enforce that such connection-opening work and all subsequent operations are executed within the same vertx. context.

It relates to Quarkus as it should ensure different tasks are not re-ordered or d

[2022-01-27 12:17] ctron opened #23234 "Kafka security config params not being picked up from env vars (channel config)"
### Describe the bug

Kafka configuration on the channel does not get picked up when using environment variables.

This seems to be a variant of https://github.com/quarkusio/quarkus/issues/9947

When using channel specific configuration (e.g. `MP_MESSAGING_INCOMING_<channel>_SASL_JAAS_CONFIG`) it doesn't get picked up. But it works when using e.g. the YAML file.

### Expected behavior

Should work

[2022-01-27 13:04] shawkins commented on #18973
No, "maven install" should do it.

[2022-01-27 13:06] rsvoboda opened #23235 "jvmTarget for kotlin-maven-plugin set to 11 even if project is generated with Java 17"
### Describe the bug

jvmTarget for kotlin-maven-plugin set to 11 even if project is generated with Java 17

jvmTarget 11 is hardcoded in templates for Kotlin, it even has some logic for Java 8 which should be gone

[code]

Changes similar to https://github.com/quarkusio/quarkus/pull/20849 should be done to kontlin templates

### Expected behavior

`<jvmTarget>17</jvmTarget>` in the config of kotl

[2022-01-27 13:20] patriot1burke commented on #22595
Excluding afterburner won't work (obviously :) )  I have another incoming PR that will hopefully fix the problem.

The issue is that quarkus-amazon-rest depends on aws-serverless artifact.  There is a static block that registers afterburner and code substitutions don't run until after static initialization (static initialization happens at build time with our Graal integration).  I'm removing the

[2022-01-27 13:22] patriot1burke commented on #22595
Ok, merge is in, try it now (you don't need the excludes anymore FYI).

[2022-01-27 13:24] robotmrv opened #23236 "Unsafe ResteasyContext propagation"
### Describe the bug

I've noticed that `ResteasyContext` could share mutable state in multiple `Thread`s that could lead to `java.util.ConcurrentModificationException` or unpredictable behavior

### Expected behavior

`ResteasyContext` mutation in parent `Thread` change values in propagated context

### Actual behavior

`ResteasyContext` mutation in parent `Thread` change values in propagated con

[2022-01-27 13:24] patriot1burke commented on #21282
@evacchi Yeah, Kogito was pulling in quarkus-vertx-http and thus starting an HTTP endpoint.

[2022-01-27 13:26] patriot1burke commented on #21282
@snowe2010 Its more that this devmode change uncovered the fact that there are a few extensions that SHOULD NOT be booting up an http server

[2022-01-27 13:27] evacchi commented on #21282
so I think this has been addressed with https://github.com/kiegroup/kogito-runtimes/pull/1757

[2022-01-27 13:30] robotmrv commented on #23236
While there is an issue in `io.quarkus.resteasy.common.runtime.ResteasyContextProvider#currentContext` since it does not make defensive copy of the context `Map` I have is a question:
Is it acceptable to interact with `ResteasyContext` in user code to add own values etc?

[2022-01-27 13:30] patriot1burke commented on #21282
@evacchi I don't know... grep for 'quarkus-vertx-http' or `quarkus-vertx-http-deployment` in your poms.  Last time I looked it was still pulling this in.

[2022-01-27 13:34] evacchi commented on #21282
currently this is all I am finding:

[code]

which should be safe

[2022-01-27 13:35] patriot1burke commented on #22082
@sberyozkin I still see that oidc-common-deployment pulls in quarkus-vertx-http-deployment.  The fact that oidc-client-deployment pulls in this dependency will cause an http server to be started which will screw up AWS Lambda + OIDC client testing.

https://github.com/quarkusio/quarkus/blob/main/extensions/oidc-common/deployment/pom.xml#L31

[2022-01-27 13:36] geoand commented on #21282
:+1

[2022-01-27 13:37] #21282 closed

[2022-01-27 13:37] ThoSap commented on #23117
Of course, let me try it.

[2022-01-27 13:45] geoand commented on #18973
I can reproduce the issue, thanks.

Is there any chance you can bump the project to the latest Quarkus version (I tried and something doesn't compile) so we can then start experimenting with possible fixes (to what appears to be a CL leak)?

[2022-01-27 13:55] amitkumar7566 commented on #22595
@patriot1burke I tried as instructed above.. No luck !!

[2022-01-27 13:56] shawkins commented on #18973
That's usually an involved process - we need to keep the quarkus / fabric8 / operator sdk versions in lock step.  I can try updating to the latest operator sdk in another branch to give you a better starting point.

[2022-01-27 13:56] ctron commented on #13114
Yes. I think that is necessary. On the documentation of the `@Substitute` I think I read that if you put it on the class level, it replaces whole class. Which should also drop the static init section?!

Anyway, I did try to add `@Delete` to the `allocator` field. Which didn't work either:

[code]

I had to drop the `final` as the build complained that this was useless.

[2022-01-27 13:56] geoand commented on #18973
Thanks

[2022-01-27 14:02] geoand commented on #13114
For reference, the initial class looks like this:

[code]

Can you try:

[code]

please?

[2022-01-27 14:16] DavideD commented on #14709
It's also not possible to use `CompletableFuture.allOf(  )` or `Uni.combine().all()` with Hibernate Reactive. That's because the order of the operations using the same session is not guaranteed. Maybe it works in this case but it's something one should not rely on.

That's why the first solution proposed by @Sanne works.
I would also expect the second example to work. I need to check what's going

[2022-01-27 14:21] JiriOndrusek commented on #23083
Hi @aloubyansky, if I understand correctly your comment, the quickstart `spring-data-jpa-quickstart` works for you from cmd.
I tested it again and it fails. Here is the description of my steps.

1. I built quarkus from the `main` branch, revision `0c7f8ba48a51d29ae8efbd728d74d00ca12c7db5`
2. I built `spring-data-jpa-quickstart` from the branch `development` (revision `0ed819fe75aafe879f5481eddcebf

[2022-01-27 14:45] cescoffier commented on #23234
Hum, I don't see why it would not work. It is likely a bug in how we read the config in the kafka connector.

[2022-01-27 14:45] aecant opened #23237 "Kotlinx.serialization not working in multi module project with native executable"
### Describe the bug

Hello, I'm having troubles making quarkus-resteasy-reactive-kotlin-serialization work with native executable, when the serializable class is in a different module than the app.

While on normal JVM it works fine, when using the native executable I get this exception
[code]

I'm not sure whether it is a bug or a misconfiguration on my side.

### Expected behavior

_No response

[2022-01-27 14:50] sberyozkin commented on #21521
@FroMage Sounds very good

[2022-01-27 14:51] cescoffier commented on #22976
@hguerrero See https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesProcessor.java#L294-L305. It's just a few env variables.

[2022-01-27 14:56] aloubyansky commented on #23083
No @JiriOndrusek I was testing the idea I described in my comment above and it worked against my local branch from the command line. But it wouldn't work from an IDE, because IDEs, usually, don't follow Maven lifecycle configs when launching tests.

[2022-01-27 15:30] hernael commented on #14709
Please remember that if you first execute another simple method to establishes connection and then call the complex method with `Uni.combine().all()` (doesn't matter @ReactiveTransactional annotation) everything works OK

[2022-01-27 15:31] shawkins commented on #18973
@geoand https://github.com/shawkins/mk-agent/tree/withtestserver has been updated to 2.6.2.Final via the 2.0.3 quarkus operation sdk.  It looks like there may be some other test failures introduced, but this still causes the original problem to happen.

There is a 3.0.2 quarkuas operator sdk, which I can look at upgrading to if needed.

[2022-01-27 15:36] geoand commented on #23237
You should add the following:

[code]

to the `lib` module of your project.

See https://quarkus.io/guides/maven-tooling#multi-module-maven for details

[2022-01-27 15:51] JiriOndrusek commented on #23083
@aloubyansky thanks for explanation.

[2022-01-27 16:18] sberyozkin commented on #22082
Hi Bill @patriot1burke I see, thanks for spotting it, a copy and paste issue likely, I guess it should also depend on `vert-core` please open a PR :-)

[2022-01-27 16:49] geoand commented on #23237
YW!

[2022-01-27 16:55] galderz commented on #22919
@geoand You meant to ping someone else? Guillaume?

[2022-01-27 17:00] ctron commented on #13114
I had to drop the `final`, as there was no value assigned. However, this didn't make a difference.

[2022-01-27 17:02] geoand commented on #13114
How about with the final but set to null?

[2022-01-27 17:03] geoand commented on #22919
Nope, I meant you 😃. I thought you use podman

[2022-01-27 17:42] amsterdam-superchat commented on #10768
@DavideD Any updates? I guess Quarkus depend on a fix from hibernate reactive right?

[2022-01-27 19:04] liuzqt opened #23242 "Not able to get request body from request context"
### Description

I'm trying to get the body from request context

- **what I've tried**

inject `CurrentVertxRequest` context and then get body from there

[code]
but the `getBodyAsString()` gives null value, with a warning:

[code]

- **another try:**

inject standard JaxRS `HttpServletRequest` context
[code]
will get this error:
[code]
I guess it's because quarkus uses vertx under the hood so in

[2022-01-27 19:05] josephearl commented on #22724
Forgive my ignorance but is a handle to the underlying map necessary for back-propagation? Given thread 1 -> 2 -> 1, is it not possible to set the context map (with `MDC.setContextMap`) on returning to thread 1 with a copy retrieved from thread 2?

If it is then probably the only implementation that would support it is logback:

[code]

[2022-01-27 19:25] #22668 closed

[2022-01-27 19:25] #22670 closed

[2022-01-27 19:48] DavideD commented on #10768
It's been some time since I've looked at this issue but I don't think we can solve it in Hibernate Reactive as discussed [here](https://github.com/hibernate/hibernate-reactive/issues/285).

The reason is that the type of the entity field is a `Date` and we expect to pass it to the vert.x client as a `LocalDate`.
This would normally work because the column on the table would be a compatible type.

[2022-01-27 20:23] patriot1burke commented on #22082
@sberyozkin I brought it up because you said Stuart fixed it.  I thought maybe he did something funky or something and you could elaborate.

[2022-01-27 20:24] patriot1burke commented on #22595
Same error?

[2022-01-27 21:15] renegrob commented on #22724
@josephearl A handle to the underlying map would make things more lightweight and easier, but it is not necessary. However, if we are looking only at the lowest common denominator then we'll not come up with a great solution. Often things get possible if you try and convince others (e.g. to adjust their API). Reactive programming does not only exist in Quarkus and I believe that these requirements

[2022-01-27 21:40] Karm commented on #22808
[code]
Registers LocaleData service loader providers and makes it work as expected. Yet it's a crude hammer. I would like to have something fine grained to just bake in those that are needed...so WIP.

[2022-01-28 01:21] #979 closed

[2022-01-28 05:23] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1759939722

[2022-01-28 05:23] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1759941771

[2022-01-28 05:29] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1759958254

[2022-01-28 07:27] geoand commented on #23242
Closing this as it's a question (that has already been asked on StackOverflow now less)

[2022-01-28 07:27] #23242 closed

[2022-01-28 07:48] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1759941339

[2022-01-28 07:58] zakkak commented on #14089
@AndreiYu as you said:

[According to Christian Wimmer](https://github.com/oracle/graal/issues/4238#issuecomment-1023537496), this is the intended behavior. So I think we can close this issue if you agree.

Could you please point me to the documentation stating that:

if there is no such documentation it would probably be worth adding :)

[2022-01-28 08:02] ctron commented on #13114
No, that doesn't work either.

I also tried:

[code]
Trying to explicitly add a static init section.

[2022-01-28 08:08] geoand commented on #13114
@zakkak any tips on this?

[2022-01-28 08:20] geoand commented on #18973
I had a quick look with Yourkit and I can't be sure, but it looks like the is a ClassLoader leak in `okio.AsyncTimeout`.
The reason is that `okio.AsyncTimeout$Watchdog` is a daemon thread (that obviously holds on to the TCCL) and never goes away, meaning that the Quarkus ClassLoader (which is the captured as the TCCL of the thread) cannot be GCed.

[2022-01-28 08:21] iocanel opened #23250 "Push should be automatically performed when using docker/jib with Openshift"
### Describe the bug

When performing a build using:

[code]

A push should be performed automatically, in the same spirit that it does when using kubernetes as a deployment target.

### Expected behavior

Push should be automatically triggered.

### Actual behavior

Push is not triggered automatically for `DeploymentConfig` it only happens for `Deployment`.

### How to Reproduce?

_No response_

[2022-01-28 08:23] geoand commented on #23250
So if I understand correctly, this should not apply for the s2i flow, right?

[2022-01-28 08:54] AndreiYu commented on #14089
@zakkak
What the workaround mentioned above resolves - just places `Environment variables `(500) above `System properties` (400) in Quarkus.
Isolates read Environment variables by calling native code and retrieving them from underlying OS each time they are needed, so env variables can be changed at runtime even for Isolates (as opposed to System properties which are handled by Isolates at build t

[2022-01-28 08:58] amitkumar7566 commented on #22595
@patriot1burke  No error at build time...
There is not X-ray trace.. Not sure if **quarkus-amazon-lambda-rest** dependency is functioning correctly or not in the snapshot.

[2022-01-28 09:10] geoand commented on #23236
I would argue that `ResteasyContext` is not part of the public API and if you do use it, you are doing so at your own risk.

What is your actual use case that requires you to use `ResteasyContext` ?

[2022-01-28 09:13] aloubyansky commented on #11563
@rsynek this is due to removal of the assertj form the quarkus-bom. It was removed to avoid binary incompatibility with other platform members. We've run into those a few times now.

[2022-01-28 09:22] robotmrv commented on #23236
hi @geoand
we want to propagate among `Thread`s our business context, so we have options
- use `ResteasyContext` - less code and automatic integration with microprofile context propagation
- create own context and integration with microprofile context propagation

[2022-01-28 09:24] flupec commented on #23236
@geoand We are using it for request-time objects like userId and so on. In case of using Mutiny framework we suffer from sharing those objects between threads.

We found that for request-time objects ResteasyContext is used, for example, by RequestDispatcher.

If ResteasyContext is not supposed to be used by clients, then what we should use?

[2022-01-28 09:24] geoand commented on #23236
From a Quarkus perspective, this is the way to go.

[2022-01-28 09:24] #23236 closed

[2022-01-28 09:55] XSAM commented on #22864
Adding `@QuarkusTest` annotation to the test case could fix this latest issue.

[2022-01-28 10:10] knutwannheden opened #23254 "New property to allow disabling authorization"
### Description

As discussed on Zulip there is currently already a config property to allow disabling authentication (which is `quarkus.smallrye-jwt.enabled=false` when using the smallrye-jwt extension), but there is no property to disable authorization. There is this [section in the documentation](https://quarkus.io/guides/security-customization#disabling-authorization) which describes how it ca

[2022-01-28 10:23] knutwannheden opened #23257 "smallrye-openapi should allow specifying name of security header to be used"
### Description

The `smallrye-openapi` currently defines a set of config properties to control the generation of the `components.securitySchemes` object. E.g. `quarkus.smallrye-openapi.security-scheme-name`, `quarkus.smallrye-openapi.jwt-security-scheme-value`, and `quarkus.smallrye-openapi.jwt-bearer-format`.

I could however not find any property to allow controlling the header name. What I mea

[2022-01-28 10:27] zakkak commented on #13114
I am having a hard time getting over this with substitutions just like you :/ . I will try to create a reproducer and see what's going on. In the meantime you can work around the issue with:

[code]

[2022-01-28 10:28] bvahdat commented on #22711
@gsmet @barreiro

[Now that the oracle extension works](https://github.com/quarkusio/quarkus/issues/23113) I gave it a try and now I am stuck in a similar error we used to have with DB2 by this ticket.

Similar to the DB2 setup [above](https://github.com/quarkusio/quarkus/issues/22711#issue-1095958960) following my setup for Oracle:

[code]

[code]

With this setup I get:

[code]

I looked into th

[2022-01-28 10:29] Felk opened #23258 "Cannot launch with zero-config postgres devservice database: "configured datasource <default> not found""
Quarkus fails to boot with a "zero config setup" for datasources as described in the [datasource guide](https://quarkus.io/guides/datasource#dev-services), which states:

Instead, it asks me to configure the default data source.

## reproduce

1. Go to [code.quarkus.io](https://code.quarkus.io/?e=hibernate-orm&e=jdbc-postgresql)
2. Select hibernate ORM and JDBC-PostgreSQL
3. download the project a

[2022-01-28 10:31] bvahdat commented on #22711
@gsmet @barreiro
Ah and just to be precise, it all works in JVM-mode. The problem here is native mode.

[2022-01-28 10:34] Kasokaso commented on #6427
Hi all, Is there any real test with InMemoryConnector? It seems it doesn't work for me.
I've tried to implement a test using this example:https://quarkus.io/guides/kafka#testing-without-a-broker
and getting the error:

Caused by: javax.enterprise.inject.UnsatisfiedResolutionException: Unsatisfied dependency for type io.smallrye.reactive.messaging.providers.connectors.InMemoryConnector and qualifie

[2022-01-28 10:39] rsynek commented on #11563
Thanks @aloubyansky, I figured this one out. PR adding the version to optaplanner is on the way.

[2022-01-28 10:48] DavideD commented on #10768
I've created an issue for Vert.x to see what they think about it: https://github.com/eclipse-vertx/vertx-sql-client/issues/1122

[2022-01-28 10:53] ozkanpakdil commented on #22910
I am getting this error at 2.7.0 at https://github.com/ozkanpakdil/test-microservice-frameworks here is the action https://github.com/ozkanpakdil/test-microservice-frameworks/runs/4979164692?check_suite_focus=true just FYI

[2022-01-28 10:58] cescoffier commented on #6427
You are probably missing the @Any annotation when injecting the in-memory connector

[2022-01-28 11:15] MikkelVestergaard commented on #19359
any update on this?
I tried upgrading to 2.6.3 (running on AWS EKS cluster) but the issue still exist.
I also upgraded from Java 11 to Java 17, but that did also not solve the issue.

[2022-01-28 11:20] gsmet commented on #19359
@johnaohara ^

[2022-01-28 11:24] rsynek commented on #11563
Should be fixed by https://github.com/kiegroup/optaplanner/pull/1813.

[2022-01-28 11:28] andlinger commented on #22808
Thanks for the info. So there is currently no way to register specific service loaders manually?

[2022-01-28 11:47] gsmet commented on #22910
@ozkanpakdil see https://github.com/ozkanpakdil/test-microservice-frameworks/pull/352

[2022-01-28 11:58] ctron commented on #13114
That still fails with:

[code]

[2022-01-28 12:37] zakkak commented on #13114
@ctron are you sure you don't have any local changes in your working directory?

[code]

Works for me

[2022-01-28 12:47] Kasokaso commented on #6427
@cescoffier  Thanks, it works now :)

[2022-01-28 12:48] csotiriou opened #23263 "RESTEasy Reactive: Reactive filter hangs the request when reading the body"
### Describe the bug

When using RESTEasy Reactive with a Reactive filter, if we try to read the request body inside the filter, the filter is not terminating at all, so the request never returns a response.

Note that this happens even when paying attention to making the stream read in the Quarkus worker thread, and then returning back to the vert.x thread, so it should not have problems there.

[2022-01-28 12:53] Karm commented on #22808
@andlinger It is, programmatically, on the Quarkus side. Not via config/user app code to my best knowledge though. I will keep tinkering with it to have a such switch for Locales.

[2022-01-28 12:55] knutwannheden commented on #23257
We have noticed now that the referenced `name` field only applies to the `type` is set to `apiKey`. So it appears like OpenAPI doesn't really offer any solution for a custom HTTP header for the JWT token.

[2022-01-28 12:55] #23257 closed

[2022-01-28 13:04] hguerrero commented on #22976
Yes, I can confirm those values work.

I just noticed that the console is not exposed (based on the code you share) besides that, it should work.

[2022-01-28 13:13] glefloch opened #23264 "Quarkus maven plugin overwrite `quarkus.package.type`"
### Describe the bug

If I set `quarkus.package.type=uber-jar` in my `application.properties` file, the property will be ignored. If I set that property in my `pom.xml` then the packaging will be ok

### Expected behavior

`quarkus.package.type` property should be not be overwrite by the maven plugin (if not explicitly requested)

### Actual behavior

The plugin always overwrite the property event

[2022-01-28 13:16] rsvoboda opened #23265 "quarkus-spring-web codestart can't be used with quarkus-resteasy-reactive"
### Describe the bug

quarkus-spring-web codestart can't be used with quarkus-resteasy-reactive

[code]

quarkus-spring-web codestart Forces RESTEasy Classic - https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/codestart.yml#L19

### Expected behavior

quarkus-spring-web codestart

[2022-01-28 13:51] shawkins commented on #18973
That doesn't sound promising.  We're stuck with okhttp for a while - even once it's eliminated as a dependency for the fabric8 client, it's still used as the basis for the fabric8 mock server.

[2022-01-28 13:57] rsvoboda commented on #8506
`quarkus-qpid-jms` has better initial experience now, no extra config needed for generated project

[2022-01-28 13:59] fedinskiy opened #23268 "DevServices for Keycloak fails to start on RHEL with enabled FIPS mode"
### Describe the bug

Method KeycloakDevServicesProcessor.startKeycloakContainer fails, when running on FIPS-enabled machine.

### Expected behavior

DevServices for Keycloak should work on FIPS-enabled machine

### Actual behavior

_No response_

### How to Reproduce?

1. Verify, that machine uses FIPS.
[code]
2. Clone Quarkus quickstarts: `git@github.com:quarkusio/quarkus-quickstarts.git`
3. Ent

[2022-01-28 14:02] geoand commented on #18973
Maybe there it has a way for the timeout feature to be disabled?

[2022-01-28 14:24] gwenneg opened #23269 "Hibernate Reactive Session/EntityManager is closed"
### Describe the bug

This may look similar to #22433 (which was fixed in `2.6.3.Final`) but this time the reproducer includes a resteasy-reactive request filter (see `RequestFilter` in the reproducer).

Here's the exception which is thrown randomly when the app is processing concurrent requests:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduc

[2022-01-28 14:26] gwenneg commented on #23269
In case you have an issue with the enclosed zip file, here's the JMeter configuration I used:

![146910332-5e2d863d-f617-4310-b9ac-c84bcb78f581](https://user-images.githubusercontent.com/10584698/151563722-82037cd8-abe2-42d1-a7a6-d1137e7ebbbc.png)

![146910433-234300b3-88a2-4e1f-b436-2d3f207f139e](https://user-images.githubusercontent.com/10584698/151563730-0abf51ae-560b-4b19-9d72-6cdf819e133c.png

[2022-01-28 14:27] gwenneg commented on #23269
@geoand I'm not sure whether this bug is caused by hibernate-reactive or resteasy-reactive as it's only happening when a request filter is involved, so I'm tagging you as well 😄

[2022-01-28 14:31] geoand commented on #23269
I don't really see how it could be caused by RESTEasy Reactive, but I'll try and take a look next week

[2022-01-28 14:35] sberyozkin commented on #23268
@fedinskiy Thanks for creating this issue. Interesting.

Can you please experiment a bit more with the latest `Quarkus 2.7.0.Final` release, which uses `Keycloak-X 16.1.0` ?

If you'd like you can switch to the WildFly distro with

`quarkus.keycloak.devservices.image-name=quay.io/keycloak/keycloak:16.1.0`

and similarly you can try the docker hub:

`quarkus.keycloak.devservices.image-name=jboss/ke

[2022-01-28 14:52] geoand commented on #22213
I came up with a patch in Vert.x (I also have something in Quarkus) to allow us to capture Vert.x based HTTP Server and Client traffic in a pcap file that can be opened with Wireshark and looks something like this:
![Screenshot from 2022-01-28 16-51-38](https://user-images.githubusercontent.com/4374975/151568244-34754ab1-5742-4c88-b1ce-2d63c0e48d63.png)

[2022-01-28 15:02] shawkins commented on #18973
I'll see what is creating the timeouts.  There are several system/env properties that can configure the timeouts explicitly used by the fabric8 client, but nothing that I'm aware of for configuring any timeout that may be used under the covers by the mock server.

[2022-01-28 15:16] shawkins commented on #18973
@geoand the short answer is that there isn't an easy way to disable okhttp timeouts via configuration.  If you try adding things like:
[code]
The fabric8 ok http configation will ignore the value as it will only allow non-zero positive values:
https://github.com/fabric8io/kubernetes-client/blob/26c08847d1251b2e840ce5833bbe05e43ee77fa6/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/ut

[2022-01-28 15:19] geoand commented on #18973
:(

[2022-01-28 15:24] fedinskiy commented on #23268
1. Newest Quarkus(`mvn clean verify -Dquarkus.platform.version=2.7.0.Final`):
[code]

[2022-01-28 15:25] fedinskiy commented on #23268
WildFly distro(`mvn clean verify -Dquarkus.keycloak.devservices.image-name=quay.io/keycloak/keycloak:16.1.`):
[code]

[2022-01-28 15:44] fedinskiy commented on #23268
Dockerhub keycloak(`mvn clean verify -Dquarkus.keycloak.devservices.image-name=jboss/keycloak:16.1.0`):

[code]

[2022-01-28 15:45] fedinskiy commented on #23268
Dockerhub keycloak-X(`mvn clean verify -Dquarkus.keycloak.devservices.image-name=jboss/keycloak-x:16.1.0`):

[code]

[2022-01-28 15:49] fedinskiy commented on #23268
@sberyozkin I think, that's all. Basically, both keycloak images fail due to lack of PBKDF2 algorithm, keycloak-x on quay can not  generate keys and  keycloak-x on docker hub doesn't exist.

[2022-01-28 16:21] cescoffier commented on #22976
Do we need to expose the console?

BTW do you have the coordinate of the image you want to use?

[2022-01-28 16:25] sberyozkin commented on #23268
@fedinskiy Thanks for these tests.
Can you please do one more test, given that `docker run jboss/keycloak:15.0.2` worked for you, can you try

`mvn clean verify -Dquarkus.keycloak.devservices.image-name=jboss/keycloak:15.0.2` with Quarkus 2.7.0.Final ?

I think this is the issue with the image but this test should confirm that using `testcontainers` is not a problem

[2022-01-28 17:02] sberyozkin commented on #22082
@patriot1burke I just saw #22929 and by merging it I closed this issue, but I haven't verified that it was not compete, sorry.
I think we should add a test confirming  `OidcClient` can be used with AWS lambda. I can do it, probably adding a new integration tests module is warranted in this case, `aws-lambda-oidc-client`, but if you are interested, would you like to test it ?

I've looked, we proba

[2022-01-28 17:53] bnazare commented on #21226
@gsmet I encountered the same issue and I think I managed to create a minimal reproducer here: https://github.com/bnazare/quarkus-21226-reproducer

To make a long story short, it seems the issue occurs when you have a quarkus module in a multi-module project and said quarkus module depends on a second module which in turn depends on `junit-jupiter-engine`.

As for the reproducer, it's a very basic

[2022-01-28 17:58] gsmet commented on #21226
@geoand could you have a look at the reproducer? ^

[2022-01-28 18:14] patriot1burke commented on #22082
@sberyozkin I can do the test too.  No worries.  I had already started this work before, but moved on as I thought it was fixed.

[2022-01-28 18:20] sberyozkin commented on #22082
@patriot1burke Sounds good :-), thanks.

[2022-01-28 18:24] lorienpatt commented on #6424
Any updates on this?  the original issue : the "connection is already closed" issue.

[2022-01-28 18:35] geoand commented on #21226
I'll try and have a look on Monday

[2022-01-28 19:03] sberyozkin commented on #21888
Hey @xstefank @stuartwdouglas Sorry, I did not look at it yet, Martin, if you can help with the PR then it would nice, thanks

[2022-01-28 19:24] rsvoboda commented on #19083
`rm -rf app-generated-skeleton && mvn io.quarkus:quarkus-maven-plugin:2.6.3.Final:create -DprojectGroupId=my-groupId -DprojectArtifactId=app-generated-skeleton -DprojectVersion=1.0.0-SNAPSHOT -DpackageName=org.my.group -DplatformVersion=2.6.3.Final -Dextensions=quarkus-infinispan-client` works fine, closing

[2022-01-28 19:24] #19083 closed

[2022-01-28 20:56] mweber03 opened #23276 "selected-alternatives YAML List"
### Description

When using the `application.yaml`, it would be nicer organizationally to support the `quarkus.arc.selected-alternatives` as a list. When adding many alternatives the line becomes very hard to read when common separated.

Current:
[code]

Proposed:
[code]

`quarkus.arc.excluded-types` is another good contender for this treatment.

### Implementation ideas

_No response_

[2022-01-28 21:39] gastaldi commented on #23073
@stuartwdouglas any ideas? I wonder if those might have been caused by the (not so recent) changes in the WebSockets integration in quarkus-http?

[2022-01-28 22:12] iLem0n opened #23277 "Mutiny Service Interface cannot be injected"
### Describe the bug

Basic implementation of gRPC communication throws:
[code]

The classes generated from *.proto-files (see project in reproduce steps) contains `SessionServiceInterface`, which is in fact a MutinyService-interface.
The Error itself says that 'only Mutiny service interfaces [...] can be injected via @GrpcClient' but throws when injecting it.

I have reduced my project to the bar

[2022-01-28 22:52] mklueh opened #23278 "Persisting entity with Hibernate Reactive Panache inside Smallrye Reactive Messaging consumer has no effect"
### Describe the bug

After migrating to reactive, I'm running into an issue where persisting inside my consumer does literally nothing.
Nothing is inserted and I don't see any logs

I tried both, the reactive Panache.withTransaction way and the `@Transactional` annotation
[code]

[code]

Is something wrong with my implementation?

[2022-01-28 23:00] Sanne commented on #23278
Using `Panache.withTransaction` is the right approach, but you need to register something on its return type: no event is being fired. (It's returning an `Uni`, you need to chain something to it )

Careful, that annotation is the JTA one `javax.transaction.Transactional`. Hibernate Reactive isn't binding to JTA transactions so this won't have any effect.

[2022-01-28 23:00] #23278 closed

[2022-01-28 23:12] Sanne commented on #23258
It's assuming that you have docker or podman installed and ready to use: a PosgreSQL container instance will be started and configured automatically.

But if you don't have a container engine, then it will require you to configure a datasource explicitly.

I'll keep the bug open as I agree either the documentation should be clarified, or at least the error message should make this more intuitive.

[2022-01-28 23:19] Sanne commented on #23235
@rsvoboda why is this a problem?

[2022-01-29 01:43] gastaldi commented on #23073
I have created an integration test that reproduces the error reported here: https://github.com/gastaldi/quarkus/commit/8dfadd8628b10dd74923bd3c174b89928a168cb5

[2022-01-29 08:30] einarjohnson commented on #6531
@nicolas-vivot , i have tried using the centos-quarkus-maven image without any luck either. does anyone have any suggestions on how to get this working inside Gitlab?

[2022-01-29 09:47] mklueh commented on #23278
@Sanne thanks, I now see something

[code]

after changing my code to

[code]

Thanks for the hint with `@Transactional`. I was kind of aware of it but tried it anyway, as I was stuck on this for hours now just decided to give it a try.

I've tried to create a simple endpoint to test if inserting works from there directly with the repository and the REST call is pending forever.

[code]

produces

[2022-01-29 09:57] goafabric opened #23281 "ARM 64 Docker Image Builds broken since 2.6x"
### Describe the bug

While Quarkus is sadly still missing,
support for building ARM64 Images.
This could be relatively simply fixed by suppling your own builder image, e.g.:

<quarkus.native.builder-image>goafabric/quarkus-build-aarch64:java11-21.3.0</quarkus.native.builder-image>

While this worked perfectly fine until 2.5.3,
it's now broken since 2.6x.

The build process puts out a warning that

[2022-01-29 13:12] geoand commented on #23281
cc @zakkak @cescoffier

[2022-01-29 13:16] famod commented on #23276
I suppose you have actually tried setting it like that and it didn't work?
That's surprising because it's defined as a list already: https://github.com/quarkusio/quarkus/blob/39e2e8b7eb47668b6b90e0fac8749b4e20984f1a/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcConfig.java#L104-L105

/cc @mkouba @radcortez

[2022-01-29 13:22] famod commented on #23264
Have you tried `mvn clean package -DskipTests`?
The thing is that `BuildMojo` is _not_ cherry-pickign any plugin executions (like e.g. `DevMojo`).
So with just `mvn clean quarkus:build` there will be no execution of `maven-resources-plugin`, hence no `application.properties` in `target/classes`.

[2022-01-29 17:38] LegendL3n opened #23282 "Quarkus @ApplicationScoped working in dev run, but not in prod"
### Describe the bug

I have an abstract class, which has an implementation with @ApplicationScoped.

This works without an issue in `quarkusDev`, but when running the built app, it complains of a function that I have implemented in the abstract class.

`java.lang.VerifyError: class me.l3n.[...].GoodReadsCrawlerService_ClientProxy overrides final method me.l3n.bot.[...].CrawlerService .parseHtml(L

[2022-01-30 07:35] weir2010 opened #23283 "Hibernate Reactive with Panache error"
### Describe the bug

code:

[code]
log error:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

11

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

2.6.3

### Build tool (ie. output of `mvnw --version`

[2022-01-30 08:54] goafabric commented on #23281
@cescoffier
This builder image is handled by me, it follows the standard process of applying a custom builder image,
because quarkus does unfortunately still not support ARM64 builds.
But the problem is not the BUILDER Image, this works perfectly fine until 2.5.3.
But the BASEIMAGE that Quarkus applies to the final output.
It seems that this was multiarch until 2.5.x and now seems to be AMD64 only

[2022-01-30 09:11] goafabric commented on #23281
also just found this issue for 2.7, maybe it's related ...
https://github.com/quarkusio/quarkus/pull/22617

[2022-01-30 09:46] mklueh commented on #23278
The freezes were caused by how I used the sequence generator.

[code]

Instead I'm creating the sequence generator now in my import.sql script

[code]

and use that with

[code]

or even the PanacheEntity instead of the PanacheEntityBase again.

I would still appreciate anyone to explain the exception

`This method should exclusively be invoked from a Vert.x EventLoop thread; currently running on

[2022-01-30 11:03] cescoffier commented on #23281
We had to change the base image because of the missing run-java script in the runtime images we were using. This caused several regression, and requires the users to customize the java command to tune the GC and memory limits to works well in containers.

The rollback is temporary. We are working on getting the run-java script in the runtime image, but we don't have an ETA (March/April are the tar

[2022-01-30 13:15] cescoffier commented on #23277
I guess it's because the proto file is not included in the FlinkSessionReconciler project. Did you try adding it?
We are working on easing the distribution of proto files.

[2022-01-30 16:37] cescoffier commented on #23126
Closing. Workaround given and POC with scopes have been stopped due to the large performance hit.
Note that we still want to improve metadata injection.

[2022-01-30 16:37] #23126 closed

[2022-01-30 16:39] cescoffier commented on #23234
@ctron you mentioned env file in the title. Does it happen with env files or with env variables?

[2022-01-30 16:52] cescoffier commented on #19266
When trying to compile the project with the Java 17 support of GraalVM, I get:
[code]

It is different from the reported issue, which I believe was fixed.

[2022-01-30 17:05] jeanphibaconnais commented on #6531
Hi @nicolas-vivot , according to your dev services, you can try to use GitLab Services.

[2022-01-30 17:22] lucashilles commented on #19175
Did you found any workaround ?

[2022-01-30 18:10] cescoffier commented on #23281
@goafabric I just looked at the image we currently use:

- ubi8/openjdk-17 : https://catalog.redhat.com/software/containers/ubi8/openjdk-17/618bdbf34ae3739687568813
- ubi/openjdk-11: https://catalog.redhat.com/software/containers/ubi8/openjdk-11/5dd6a4b45a13461646f677f4

I inspected their manifests and they are both multi-architectures:

- amd64
- arm64
- ppc64le
- s390x

So, it should not be a pr

[2022-01-30 18:13] cescoffier commented on #23281
Reading other comments, it's `quay.io/quarkus/quarkus-micro-image` which is not multi-arch. We can (must) definitely fix this.

[2022-01-30 18:27] ivlcic opened #23284 "Dev build profile test run fail when using Maven multi module project and dependency with its own unit tests."
### Describe the bug

When using Maven multi module project for instance:
**multi_proj**:
+- **A_lib** (has JUnit test scope dep)
+- **B_quarkus** (has dependency on **A_lib**)

And when running in **B_quarkus** project:
`./mvnw quarkus:dev`
if pressing [r] tests fail with:

[code]

If **B_quarkus** project is isloated from multi module then everything works as it should.
Running tests with maven

[2022-01-30 21:34] kucharzyk opened #23285 "Qute: user defined tags not working with .qute.html extension"
### Describe the bug

Qute is using by convention extension .qute.html for templates

For example we have admin template ```/src/main/resources/templates/Admin/admin.qute.html``` and it works out of the box.

We can't do the same with user defined tags.

### Expected behavior

Adding template ```/src/main/resources/templates/tags/validation.qute.html``` should register tag ```validation```

### Ac

[2022-01-30 21:41] kucharzyk opened #23286 "Qute: Incorrect behaviour with complex expressions"
### Describe the bug

I've created bean Validation for validation purposes

[code]

I've tried to use method getViolations in my tag

[code]

And I've got the following exception:

[code]

It works only with small workaround (define local variable using let)

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname

[2022-01-30 21:45] kucharzyk opened #23287 "Qute: InteliJ breaks qute templates syntax"
### Describe the bug

This tag works in Qute

```{#validation field='username'}{/validation}```

After reformat with InteliJ it looks like this:

```{#validation field = 'username'}{/validation}```

Now Qute gives me two errors:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

[2022-01-30 21:48] kucharzyk opened #23288 "Qute: No error for not existing tag"
### Describe the bug

``` {#thisTagDoesNotExists}{/thisTagDoesNotExists}```

It works with qute and renders nothing. It should throw an exception.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

[2022-01-30 21:54] kucharzyk opened #23289 "Qute: type-safe expressions doesn't work with tags"
### Describe the bug

My tag looks like this

[code]

I can pass any type of value and Qute doesn't report error

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quark

[2022-01-30 21:58] kucharzyk opened #23290 "Qute: Self-closing tag does nothing"
### Describe the bug

This tag works

```{#validation field='general'}{/validation}```

If I try using self-closing tag like this it does nothing

[code]

Nothing is rendered. No error reported by qute

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No

[2022-01-30 22:06] kucharzyk opened #23291 "Qute: Default values for tags"
### Description

It would be great if Qute supports default values for tag parameters

Syntax like this would allow use tags like real components like in angular or react

[code]

Now we have to pass all params for each usage.

### Implementation ideas

_No response_

[2022-01-30 22:18] kucharzyk opened #23292 "Qute: Consistent behaviour for tags and include"
### Description

We can include another template using ```#include``` syntax.

[code]

 for tags syntax is quite different

[code]

 It would be great if tag ```{xxx limit=10}{/xxx}``` would be only a shorter syntax for ```{#include foo limit=10/}

 ```#include``` offers now more features than tags for example "transclusion" with ```#insert``` syntax.

 What do you think about unifying tag and inc

[2022-01-30 23:12] kucharzyk commented on #23285
@mkouba

[code]

Shouldn't that be ``` tagName.indexOf('.')``` instead of ``` tagName.lastIndexOf('.')```?

[2022-01-31 00:42] stuartwdouglas commented on #23284
Duplicate of #21226, should be fixed by the linked PR.

[2022-01-31 00:42] #23284 closed

[2022-01-31 01:08] stuartwdouglas commented on #23073
Fix is here: https://github.com/quarkusio/quarkus-http/pull/94

[2022-01-31 01:26] gastaldi commented on #23073
I can confirm that fixes the issue. I'll prepare a PR with the dependency bump + the test

[2022-01-31 01:34] stuartwdouglas commented on #23073
I don't think we want that test, we don't want to bring in random docker images into the build to test something this simple.

Instead I have updated the Undertow behavior to also reject: https://github.com/quarkusio/quarkus-http/pull/95

This means that all the websocket tests now test this scenario.

[2022-01-31 01:45] gastaldi commented on #23073
That's fine, it may be simple but it saved me from having to manually reproduce it locally :)
With your new PR the test still passed, so I'm good 😉

[2022-01-31 04:03] stuartwdouglas commented on #23282
@mkouba Could this be because of the additional interceptors that are applied in dev mode?

[2022-01-31 04:48] nicolas-vivot commented on #6531
@einarjohnson
As i mentioned [here](https://github.com/quarkusio/quarkus-images/issues/169), somebody need to add the podman-docker package to the image + a few configuration so that it works.

I don't have the time right now to do it so if any of you can submit a PR on that topic you're welcome.

[2022-01-31 05:22] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1770919896

[2022-01-31 05:22] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1770917279

[2022-01-31 05:26] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1770937239

[2022-01-31 07:15] geoand commented on #23269
I don't see anything wrong from a RESTEasy Reactive perspective.

Just for completeness sake I'll mention that the filter **does** run a Vert.x event-loop thread as expected.

[2022-01-31 07:15] mkouba commented on #23288
This definitely results in an error at runtime ([test](https://github.com/quarkusio/quarkus/blob/main/independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java#L45-L49)). You should get an error like: `Parser error in template [hello.html] on line 9: no section helper found for {#thisTagDoesNotExists}`. We don't validate this at build time because a section helper could be poten

[2022-01-31 07:17] mkouba commented on #23287
I don't know why InteliJ does this kind of reformatting but it's definitely not a supported syntax in qute.

[2022-01-31 07:17] #23287 closed

[2022-01-31 07:17] geoand commented on #21226
Looks like Stuart already took care of it :)

[2022-01-31 07:23] mkouba commented on #23290
Hm, both variants should work and are tested. We'll need a reproducer or more information...

[2022-01-31 07:25] rsvoboda commented on #23235
This issue is about inconsistency, when using Java 17 I expect to have all defaults set to 17, now I have `<maven.compiler.release>17</maven.compiler.release>` property set, but `<jvmTarget>11</jvmTarget>` for kotlin-maven-plugin

[2022-01-31 07:26] mkouba commented on #23291
https://github.com/quarkusio/quarkus/issues/21859 mentions default values as well.

[2022-01-31 07:27] geoand commented on #23263
Juggling threads like that isn't really supported to be honest.

The point of returning `Uni` from a server request filter, is to allow RESTEasy Reactive is to not block the current thread serving the request. RESTEasy Reactive is the one that will decide where to proceed when the `Uni` is complete.

@cescoffier I don't support we have a way of printing a warning (or even failing) when `emitOn` is

[2022-01-31 07:29] mkouba commented on #23292
It's actually `{#foo limit=10 /}`

Duplicates https://github.com/quarkusio/quarkus/issues/22657.

[2022-01-31 07:35] #21905 closed

[2022-01-31 07:37] mkouba commented on #23285
Well, Qute does not care about this convention but it's very useful for IDEs.

Yes, it seems to be the case. Would you care to send a PR with a test? ;-)

[2022-01-31 07:41] mkouba commented on #23289
Duplicates https://github.com/quarkusio/quarkus/issues/21859. Yes, that's expected, the call-sites are not validated ATM.

BTW the `{field}` output expression requires no validation either. And even if you add `{field.toLowerCase}` then no validation error would be thrown at build time because it's the runtime value that is problematic.

[2022-01-31 07:41] #23289 closed

[2022-01-31 08:03] yrodiere commented on #19175
If you use schema-based multi-tenancy, then the "default schema" (read: the schema to use for tables/sequences that don't have an explicit schema defined) is determined by the current tenant.

So, honestly I think applications probably shouldn't use both `quarkus.hibernate-orm.database.default-schema` and schema-based multi-tenancy in the same persistence unit. I'm inclined to think that solving t

[2022-01-31 08:07] gwenneg commented on #23269
Thanks for checking!

[2022-01-31 08:08] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1770919232

[2022-01-31 08:10] cescoffier commented on #23263
@geoand no, we don't. `emitOn` is a valid operator that sometimes makes sense. That being said, when used in such a context, you need to go back to the I/O thread. Once you are done with the part of the code, that must be executed on another thread.

I gave an example of such a code in https://stackoverflow.com/questions/70802959/bring-uni-event-back-to-the-caller-thread.

[2022-01-31 08:12] ctron commented on #23234
Hm, indeed I experiences this with env-vars. Not sure about env-files. Will correct the title.

[2022-01-31 08:14] mkouba commented on #23282
I don't think so.

`@Singleton` works because we don't ceate a client proxy at all.

So from CDI POV a normal scoped bean may not declare `final` methods (a type with a final method is not proxyable). In Quarkus, we try to relax this requirement and remove the `final` modifier if needed (and if `quarkus.arc.transform-unproxyable-classes=true`).

@stuartwdouglas Could it be that quarkus transformat

[2022-01-31 08:22] glefloch commented on #23264
You are right @famod running `mvn package` works as expected, closing this issue.

[2022-01-31 08:22] #23264 closed

[2022-01-31 08:25] ctron commented on #13114
Indeed I had. Mainly the upgrade to Quarkus 2.x.

I also was using the `quarkus.native.additional-build-args` from the `pom.xml` instead of command line arguments. Which caused me a few headaches, especially when the IDE re-formats the XML file, and adds line breaks to the property.

I pushed the changes now. But using command line arguments of properties, doesn't seem to make a difference.

[2022-01-31 08:26] KyriacosP opened #23300 "Hibernate caching issues with Quarkus 2.2.5.Final"
### Describe the bug

We have a Kafka consumer method which is annotated with `@Blocking`. Every time this method receives an event it executes a "list" query using entity manager like `select entity from Foo entity` and after that it creates a DTO for each one of the returned entities. The first time we receive an event after startup we can see the hibernate sql logs for the "list" query and ever

[2022-01-31 08:43] mkouba commented on #23276
@mweber03 @famod I've tried to use an `application.yaml` file as proposed in the description and it seems to work just fine.

[2022-01-31 09:07] mkouba commented on #23286
@kucharzyk [this PR](https://github.com/quarkusio/quarkus/pull/23301) should fix the problem.

[2022-01-31 09:28] Sanne commented on #23300
Is it possible that each of your events are reusing the same Hibernate Session?

A reproducer would help.

[2022-01-31 09:35] Sanne commented on #23235
Ok sure that makes sense, I wondered if there was a functionality problem being caused by this. Thanks for clarifying.

[2022-01-31 09:35] paulrobinson commented on #22963
This works for me, using the reproducer command. But I notice that Quarkus 2.6.3.Final is being provided. Maybe you could try again, as it could be fixed in that release?

Here's my output:

[code]

I can also visit http://localhost:8080/hello without error.

If it's still failing, can you provide the output of your boot log? It would be interesting to see if/how it differs to mine.

[2022-01-31 09:40] Sanne commented on #22711
hi @bvahdat , could you open a new issue for the Oracle XA problem and attach a reproducer please? Ideally one without Camel as that would help me a lot :)
Thanks

[2022-01-31 09:44] KyriacosP commented on #23300
How can we figure that out? And if so how can we avoid it?

I will try to create one but I'm not very familiar with dev services for kafka and postgresql.

[2022-01-31 10:00] Sanne commented on #23300
Just checking the reference to the Session to be different would be a good first step.

Better even is to get the internal Session Identifier:

[code]

Then log those sessionIdentifier; they need to be different for each event.

That depends on how you're getting your `Session` or `EntityManager` instances. If you're using CDI injection, bear in mind the default scope is request context.

You coul

[2022-01-31 10:03] mmusgrov commented on #15364
@geoand we have all the bits that we need so we just need to pull them together on the narayana side and then we can start work on providing a quarkus extension. Is there any particular priority level for doing this work?

[2022-01-31 10:05] geoand commented on #15364
Thanks for the info.

I personally am not aware of any specific priority for this

[2022-01-31 10:06] mmusgrov commented on #15364
Ok but it is definitely something that we wish to provide.

[2022-01-31 10:22] #22833 closed

[2022-01-31 10:27] gsmet opened #23304 "Release Quarkus HTTP and upgrade it"
@gastaldi I created this one so that we don't forget before releasing 2.7.1.Final.

[2022-01-31 10:38] gsmet commented on #22711
@Sanne from what I have seen, I think we will need adapters to properly instantiate the XA datasources.

[2022-01-31 10:42] zakkak commented on #13114
OK, so now it's failing due to guava's `LocalCache`. Like you initially did for `BufferUtil` you would need to find what's causing this initializations and possibly substitute it or request it to be runtime initialized. @geoand it looks like guava is supported in Quarkus though, so maybe this should be fixed on the Quarkus side instead?

[2022-01-31 10:57] geoand commented on #13114
Guava is most definitely **not** supported :).

What gived you the impressions it is?

[2022-01-31 11:10] csotiriou commented on #23263
@cescoffier what you have mentioned is indeed what we are doing here in the attached sample code.

Based on this, then is this issue still valid @cescoffier ?

[2022-01-31 11:12] cescoffier commented on #23263
I would need to check. Is the body handler already set at that point (@geoand)?

[2022-01-31 11:18] geoand commented on #23263
It is not ready, no

[2022-01-31 11:24] fedinskiy commented on #23268
Old dockerhub image and new Quarkus(`mvn clean verify -Dquarkus.platform.version=2.7.0.Final -Dquarkus.keycloak.devservices.image-name=jboss/keycloak:15.0.2`):
[code]

If I am not mistaken, it's the only combination, where container started successfully.

[2022-01-31 11:27] sberyozkin commented on #18604
@albert0815 Hi, we haven't looked into it recently, but it is useful to know there is some concrete user interest.

I think this issue is different to #17501, there it is about verifying this token, while here it is about producing it.

Can you please type here how such a producer interceptor can be implemented ? We can then doc it and resolve this issue, I know it won't solve #17501 but at least

[2022-01-31 12:09] galderz commented on #22919
Hmmm, don't think I've ever used podman on macos before. IIRC Jason/Stuart did some experiments on that combo but don't know what came out of that.

[2022-01-31 12:14] geoand commented on #23276
Tried it as well and it works

[2022-01-31 12:14] #23276 closed

[2022-01-31 12:24] KyriacosP commented on #23300
We have logged the session identifiers and they are the same on both events which means that the same session is used between events. We use CDI injection for the `EntityManager` and also we use the `@ActivateRequestContext` annotation on the class that receives the kafka events which if I understand correctly should manages sessions automatically.

We tested the same code using Quarkus 1.11.2.Fin

[2022-01-31 12:27] jkalex-git opened #23306 "Opentracing logging not working with log4j2"
### Describe the bug

Opentracing logging values are not logged when log4j2 logger is used.
I have tested with jboss logging, log4j2 and slf4j.
Issue is limited to log4j2 logging only.
All the tracing details(traceId, spanId, etc.) is coming empty in logs.

### Expected behavior

**Example logs:**
13:13:32 INFO  traceId=c42e07e99c316a07, spanId=c42e07e99c316a07, sampled=true [or.ac.op.TracedResour

[2022-01-31 12:29] zakkak commented on #13114
Hmmm, interesting. I was sure I saw it listed under https://github.com/quarkusio/quarkus/blob/main/bom/application/pom.xml, but it is not :confused:. Sorry for the confusion.

[2022-01-31 12:30] geoand commented on #13114
No problem :)

[2022-01-31 12:31] sberyozkin commented on #12856
Prioritizing on it asap

[2022-01-31 12:45] jkalex-git opened #23307 "Tracing additional methods in OpenTelemetry"
### Description

Possibility to trace additional methods other than REST calls.
Lack of this functionality prohibits from migrating to open telemetry from open tracing(which is deprecated).

### Implementation ideas

Functionality similar to
https://quarkus.io/guides/opentracing#tracing-additional-methods

[2022-01-31 12:58] gsmet opened #23308 "Improve config doc reference generation"
See `quarkus.log.level` in the Logging guide for some `@link` example that need fixing.

[2022-01-31 13:20] hjozinovic opened #23309 "@Convert not working in dev mode"
### Describe the bug

In Entity bean when Enum is using custom converter, it does not work in dev mode.

[code]

And in Entity

[code]

It is started with command
`mvn quarkus:dev`

In dev it will not start. This is an error. Any ideas on how to solve this.

[code]

Tested on Quarkus 2.2.2.Final and Quarkus 2.6.3.Final

### Expected behavior

To start quarkus in dev mode

### Actual behavior

Cann

[2022-01-31 13:28] geoand commented on #14758
Closing as we never got feedback

[2022-01-31 13:28] #14758 closed

[2022-01-31 13:33] vsevel commented on #7507
hello, do you think this point may progress, as this seems to be a prerequisite for a clean solution for https://github.com/quarkiverse/quarkus-cxf/issues/346?

[2022-01-31 13:52] radcortez commented on #23307
This is already possible using the OTel `@WithSpan` annotation.

[2022-01-31 14:17] sberyozkin commented on #23268
@fedinskiy Thanks very much, it helps to isolate. Let me find where exactly in Keycloak the issue should be created and I'll link to it here once it is done

[2022-01-31 14:28] serahl opened #23311 "Dev Mode Continuous Testing: Arc fails in Maven Multi-Module project with "TestHelper" module."
### Describe the bug

We use Quarkus in a multi-module Maven project setup.
When we introduced a module thats only used in the test Scope (as a Util/Helper module), we noticed that our Continuous Testing broke.
I simplified the setup in an example-project to recreate the error (see attached .zip or [Repo](https://github.com/serahl/quarkus-cont-testing-arc-error-example))

We have the following mod

[2022-01-31 14:30] #23286 closed

[2022-01-31 14:40] vsevel commented on #20396
FYI, oracle support says: _The development team has fixed the issue and they are working on the next steps to release the fix._

[2022-01-31 14:43] famod commented on #23311
Thanks for reporting. This is fixed in 2.7.0.Final, most likely via some extensive change by @aloubyansky.

Full platform release will be on February 2nd. If you don't want to wait for that you can use
[code]
instead of
[code]
PS: I noticed that you are using `jandex-maven-plugin`. Make sure to align it with what's in the BOM: https://github.com/quarkusio/quarkus/blob/main/bom/application/pom.xml#

[2022-01-31 14:43] #23311 closed

[2022-01-31 14:46] serahl opened #23313 "OpenApi: Config quarkus.smallrye-openapi.additional-docs-directory casues error if directory does not exist"
### Describe the bug

Configure `quarkus.smallrye-openapi.additional-docs-directory` to point to a directory which does not exist (e.g. `META-INF/foldernamethatdoesnotexist` .
Then run Quarkus in dev mode or try running a @QuarkusTest with `mvn clean test`.

### Expected behavior

Quarkus should ignore the missing directory and not load any additional docs.

### Actual behavior

Quarkus throws an

[2022-01-31 14:48] serahl commented on #23311
Looking forward to it!

[2022-01-31 15:18] loicmathieu commented on #9801
Liquibase MongoDB has been delived via #18573
You can find the documentation here: https://quarkus.io/guides/liquibase-mongodb

[2022-01-31 15:18] #9801 closed

[2022-01-31 15:20] ozangunalp commented on #23234
@ctron I could not trivially reproduce it. I tried different channel names and expression evaluation and it also works with those scenarios.

Could you give an example of the config you are trying to set via env var?

[2022-01-31 15:22] loicmathieu commented on #9476
Fixed by #22944

[2022-01-31 15:22] #9476 closed

[2022-01-31 15:33] Dosexe opened #23315 "Gradle Task quarkusRemoteDev not working with version 2.6.3"
### Describe the bug

`./gradlew quarkusRemoteDev` not working on Quarkus version 2.6.3 (also same on 2.6.1 and 2.6.2)

### Expected behavior

`./gradlew quarkusRemoteDev` runs quarkus in remote dev mode

### Actual behavior

[code]

### How to Reproduce?

Steps to reproduce the behaviour:

1. Download and unpack empty project with gradle from code.quarkus.io
2. Run `./gradlew quarkusRemoteDev` in

[2022-01-31 15:44] cescoffier commented on #23234
Also, Ozan and I tried JVM mode only. Are you using native?

[2022-01-31 16:23] evanchooly commented on #9801
fwiw, there's also [quarkiverse/quarkus-morphia](https://github.com/quarkiverse/quarkus-morphia) now.  it's early days for the integration but so far so good.  I'm waiting for the next 2.7.0 release to push another quarkus-morphia release (mostly testing related) but it should be usable for you now even using 0.1.0. I need to write some aggregation tests to run under native but everything else has

[2022-01-31 16:26] glefloch commented on #23315
Thanks for reporting this @Dosexe, I will push a fix.

[2022-01-31 16:26] alesj opened #23318 "A @Disposes @Named method doesn't work / is not invoked"
### Describe the bug

With this simple configuration

[code]

The `stopInput` method is never invoked when the app is stopped.

### Expected behavior

The `stopInput` method should be invoked when the app / test is stopped.

### Actual behavior

The `stopInput` method is NOT invoked when the app / test is stopped.

### How to Reproduce?

Run this repo's SimpleTest from IDE
* https://github.com/ale

[2022-01-31 16:32] Sanne commented on #20396
Awesome, many thanks @vsevel for making that happen!

[2022-01-31 16:45] KyriacosP commented on #23300
[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/7972533/code-with-quarkus.zip)

I created a small reproducer just call the /test/event endpoint to fire a kafka event. You will see that the session id is the same between events

[2022-01-31 16:52] Sanne commented on #23300
@mkouba | @manovotn | @Ladicek could one of you ArC experts have a look please?

The problem seems to be that the `EntityManager` isn't being scoped as expected (I couldn't look at the reproducer yet so perhaps it's trivial, sorry for the wide net ping)

[2022-01-31 16:56] loicmathieu commented on #21436
@cescoffier this would be very interesting.

However, how do you forsee such integration ? AKHQ (or other solution) has a backend (written in micronaut) and needs configuration to access the cluster. Maybe a devservices like solution using a container ?

Speaking of AKHQ, we actualy use it on my team but may move to something else as it has some issues and the main developer seems to loose interes

[2022-01-31 16:59] cescoffier commented on #21436
That's a question for @ozangunalp, but we may implement something on our own. We have plans to align the dev ui UI to have a single look and feel (that should be handled by @phillip-kruger).

[2022-01-31 16:59] cescoffier commented on #21436
And by default it would connect to the configured bootstrap.servers (dev service or your own)

[2022-01-31 17:03] #23073 closed

[2022-01-31 17:03] #23304 closed

[2022-01-31 17:11] arvidvillen commented on #13048
We also have the use case described above:
We need one Quartz scheduler (one node should run the job at the time) e.g. send email.
And another job ("regular" @Scheduled) that should run independently on the instances e.g. refresh instance cache.
As I understand it `quarkus.scheduler.cron-type` is global.
It would be great if that could be moved to a per @Scheduled.identity basis.

[2022-01-31 17:15] loicmathieu commented on #19444
Hi,
We currently didn't use Kafka devservices because it's redpanda so we cannot use it OOTB with schema registry for eg (didn't remember why).

We use the `confluentinc/cp-kafka` container with testcontainer's `KafkaContainer` support with embedded Zookeeper, not ideal but not that bad.

[2022-01-31 18:12] cescoffier commented on #19444
We are working on an alternative using Kraft. It should land soon.

[2022-01-31 20:11] mklueh opened #23324 "Error under load "Detected use of the reactive Session from a different Thread than the one which was used to open the reactive Session - this suggests an invalid integration; original thread: 'vert.x-eventloop-thread-13' current Thread: 'vert.x-eventloop-thread-3'""
### Describe the bug

I'm using the reactive dependencies and I'm running into a use case, where I need to store events asynchronously when my REST endpoint gets hit, without blocking the REST call and delaying the response.

I thought, well, that's easy. Just use SmallRye Emitter, fire an event and the consumer should handle the storing, while the REST call returns the response. Easier said than

[2022-01-31 20:39] #23315 closed

[2022-01-31 20:44] kucharzyk commented on #23285
@mkouba I'll try to prepare PR with fix and test

[2022-01-31 20:44] kucharzyk commented on #23288
I'll check this test and try to reproduce my error

[2022-01-31 23:26] kucharzyk commented on #23285
@mkouba  It's harder change that I thought.

https://github.com/quarkusio/quarkus/pull/23330

Templates with .qute.html extension can be registered after this change but it braeks tests

[code]

Original test works without problems.

Test with different file extensions has parser errors

[code]

``` Parser error in template [foo.txt] on line 1: section block end tag [item] does not match the start

[2022-01-31 23:43] kucharzyk commented on #23285
[code]

I've found duplicated logic in EngineProducer

[2022-02-01 02:48] #22082 closed

[2022-02-01 03:15] shawkins commented on #18973
Updating the amount of test memory from 256m to 512m works around the issue for us on bf2fc6cc711aee1a0c2a/kas-fleetshard#643 - I'll confirm that it works for the WithKubernetesTestServer annotation as well.

Is there anything that needs in captured in fabric8 related to this?

[2022-02-01 03:48] paradoxrevolver commented on #22157
i've just encountered this exact same error (in Quarkus 2.6.2 Final) but for Panache Repositories. the conditions that cause the error are identical to what's described here, so i'm unsure if i should write a new issue. let me know if one is wanted for proper record keeping.

for a similar rough example of what causes the error:

[code]

[2022-02-01 05:28] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1776534316

[2022-02-01 05:29] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1776512490

[2022-02-01 05:48] geoand commented on #18973
Not sure I understand the question here

[2022-02-01 06:00] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1776514857

[2022-02-01 07:00] geoand commented on #23283
The error message says it all.

Hibernate Reactive can **not**  be used with RESTEasy Classic, you need to use RESTEasy Reactive or pure Vert.x

[2022-02-01 07:00] #23283 closed

[2022-02-01 07:09] wicksim commented on #21367
We have the same problem here and I have the same opinion as @HelvetiaAppDev: It would feel natural to have a new request for every consumed record.

So for the moment, is the recommended workaround to terminate and reactivate the request scoped context at every record-consumation with `Arc.container().requestContext().terminate()` and `Arc.container().requestContext().activate()`?

[2022-02-01 07:18] geoand commented on #23059
See https://github.com/quarkusio/quarkus/issues/22658#issuecomment-1017523516

[2022-02-01 07:20] ctron commented on #23234
No, didn't try native. But I can definitely reproduce it. The following config change brings it back to live (the opposite breaks it):

![image](https://user-images.githubusercontent.com/202474/151927571-2996e279-a73d-4b32-97da-ed6efb71a3ae.png)

https://github.com/drogue-iot/ditto-reconciler/commit/6dc1f7361bcbdc21fae93cfe431d7c81da1cb48a

[2022-02-01 07:57] nuty456 opened #23331 "Reactive Messaging (RabbitMQ) - too many connection"
### Describe the bug

smallrye-reactive-messaging-rabbitmq create as many connections to rabbit server as @Channel and @Incoming are used in application.

### Expected behavior

Expected to use some pool or less connections 1-2 for application.

### Actual behavior

smallrye-reactive-messaging-rabbitmq create as many connections to rabbit server as @Channel and @Incoming are used in application.

[2022-02-01 08:32] mkouba commented on #7507
Do you need the proxies or intercepted subclasses to be registered? I think that we should probably register all subclasses by default because a subclass is the "contextual instance" (the instance stored in the context) if interceptors are used.

[2022-02-01 08:35] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1776514271

[2022-02-01 10:25] josephearl opened #23335 "Gradle source directory for quarkusDev configuration"
### Description

I would like to be able to put resources or code that is used only in dev mode into a source folder that is only added to the classpath for dev mode, ie `src/quarkusDev` (`src/quarkusDev/java`, `src/quarkusDev/resources` etc)

At the moment I am able to add dependencies specifically for dev mode, but it seems not code or resources.

### Implementation ideas

_No response_

[2022-02-01 10:34] josephearl commented on #23335
I'm using Gradle so that's what I care about personally - but I think this should be implemented the same across build tools

[2022-02-01 10:43] goranopacic commented on #14513
new version, V4, of Events library is coming https://github.com/aws/aws-lambda-java-libs/issues/282

[2022-02-01 10:53] glefloch commented on #23335
Thanks for reporting this @josephearl. Have you some examples of code you would put there?
 @aloubyansky, @stuartwdouglas what do you think of that?

[2022-02-01 11:01] Ladicek commented on #22157
@paradoxrevolver I'm afraid I can't reproduce that. If you have a standalone (ideally minimal) reproducer somewhere, I'd love to take a look.

[2022-02-01 11:16] Karm opened #23338 "[Native] Locales bundles, ServiceLoader flow for JDK; e.g. Frankreich vs. France"
### Describe the bug

This is a followup on: :lady_beetle:  #22808 **Including resource bundles for different languages doesn't work**

# The problem
Unless `quarkus.native.auto-service-loader-registration=true` is used, i.e. `-H:+UseServiceLoaderFeature`, to trigger [ServiceLoaderFeature](https://github.com/oracle/graal/blob/release/graal-vm/22.0/substratevm/src/com.oracle.svm.hosted/src/com/orac

[2022-02-01 11:17] josephearl commented on #23335
Flyway migrations would be one example - I’d like to have a DB populated with some useful data for devs to play around with the service, but don’t need these migrations for production.

Another example would be overriding certain beans with different implementations suitable for a local dev environment - there’s no need for this code to be bundled into the production application.

[2022-02-01 12:09] Sanne commented on #23338
Would it be possible to automatically register the required Locals (and only the required ones) by triggering registration of the individual resources based on e.g. `Locale.FRANCE` being reachable?

[2022-02-01 12:10] shawkins commented on #18973
Does fabric8 need to work towards removing okhttp for the mock/test server as well, or at the least disable any timeouts that may cause this?

[2022-02-01 12:14] geoand commented on #18973
I can't know for sure as I didn't look into all the details, but from what I saw, having the client not create threads that check for timeouts, should do the trick.
But there is no telling if some other leak will appear once that one is gone...

[2022-02-01 12:57] geoand commented on #23335
Sounds like an interesting feature!

[2022-02-01 13:19] jcunliffe1 commented on #12286
https://stackoverflow.com/questions/62524302/quarkus-could-not-find-writer-for-content-type-multipart-form-data-rest-client

[2022-02-01 13:20] gsmet commented on #23338
Note that I created `quarkus.locales` and `quarkus.default-locale` a long time ago for the needs of HV.

See `LocalesBuildTimeConfig`.

But it looks like we have a more important issue than that :).

[2022-02-01 13:27] aloubyansky commented on #23335
Can't you do this configuring custom source directories in Gradle for the quarkusDev task?
And using profiles in Maven? E.g. `-Dqdev` that would a dependency on a module that contains the sources/resources you need?
Or are you after a better user experience? Could you clarify the details?
FYI @famod

[2022-02-01 13:37] glefloch commented on #23335
From a gradle point of view, I think we can easily allow that creating source set instead of a configuration for ˋquarkusDev`

[2022-02-01 13:45] #23203 closed

[2022-02-01 13:50] bvahdat opened #23341 "Oracle JDBC extension in native mode doesn´t work with XA"
### Describe the bug

Using the provided reproducer below with enabled XA [on this line](https://github.com/bvahdat/code-with-quarkus3/blob/master/src/main/resources/application.properties#L2) I get the following error when accessing http://localhost:8080/hello:

[code]
And without XA (although `-H:+AddAllCharsets` per default is set):

[code]

### Expected behavior

I expect this extension to wor

[2022-02-01 13:53] bvahdat commented on #22711
Hi @Sanne thanks for your _great_ support, really appreciating. You can find the reproducer [here](https://github.com/quarkusio/quarkus/issues/23341).

[2022-02-01 14:48] amsterdam-superchat opened #23342 "Error parsing Kotlin data class"
### Describe the bug

When using a simple Kotlin data class like this one

[code]

In a resteasy reactive resource like this

[code]

A 500 error is thrown, with any error message.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Reproducer created here https://github.com/amsterdam-superchat/quarkus-kotlin-payload-error

### Output of `uname -a` or

[2022-02-01 15:06] aloubyansky commented on #23335
@josephearl I haven't actually experimented with it and it might not work. It was just a question. I was thinking it could potentially be done defining an extra named source set, similar to what you sketched above.
Could the name of a sourceSet serve as an artifact classifier? Having that in place, could you add a dependency on `project(":myapp:quarkusDev")`? We have `quarkusDev` configuration whe

[2022-02-01 15:12] vsevel commented on #7507
hello @mkouba. only proxies subclasses it seems. do you confirm @shumonsharif?
/cc @odellamaggiore

[2022-02-01 15:27] AmsterdamFilho opened #23343 "Error generating hibernate query using Panache and Kotlin"
### Describe the bug

When generating a query like this

class DirectMemberDao : PanacheRepositoryBase<DirectMemberRecord, String> {
    fun findByMember(members: List<String>): Uni<List<DirectMemberRecord>> {
        return find("member in ?1", members).list()
     }
}

for this entity

@Entity
@Table(name = "direct_member")
open class DirectMemberRecord(

    @Id
    @Column(name = "id")
    ope

[2022-02-01 15:40] Sanne commented on #23300
oh, nice catch. It wasn't trivial then :)

[2022-02-01 15:46] Sanne commented on #23300
I suspect #23324 might relate as well

[2022-02-01 15:47] Sanne commented on #23324
Thanks for the report! We'll have a look. I didn't check the details but I suspect it might relate to #23300 - let's fix that one first, then verify.

[2022-02-01 15:51] sberyozkin commented on #23268
@fedinskiy FYI, please watch https://github.com/keycloak/keycloak-containers/issues/354

[2022-02-01 16:09] #23307 closed

[2022-02-01 16:12] geoand commented on #23342
https://github.com/quarkusio/quarkus/pull/23345 will fix the logging issue.

As for the the actual problem, the issue is you are missing the `com.fasterxml.jackson.module:jackson-module-kotlin` dependency

[2022-02-01 16:12] #23342 closed

[2022-02-01 16:13] geoand commented on #18409
https://github.com/quarkusio/quarkus/issues/23342 is another manifestation of this.

I wonder if I should add a `quarkus-resteasy-reactive-jackson-kotlin` extension that will get enabled automatically if `quarkus-resteasy-reactive-jackson` and `quarkus-kotlin` are present...

[2022-02-01 16:37] m4rchetto opened #23346 "mongodb devservices"
### Describe the bug

Quarkus with dev profile or test profile not consider this property
`quarkus.mongodb.devservices.enabled=true`

Running @QuarkusTest with property `quarkus.mongodb.connection-string unset`, the docker image is not installed on docker.

Running test we have:

[code]

On the other hand property quarkus.datasource.devservices seems to work properly

### Expected behavior

_No re

[2022-02-01 16:40] cescoffier commented on #23234
The "kafka." properties are extracted and used as the "default" Kafka configuration. So, they are not read the same way. I would recommend "kafka." for auth as, in general, it applies to all the channels.

That being said, I would need a reproducer as my simple tests did work smoothly.

[2022-02-01 16:44] cescoffier commented on #21367
We have tried to use "context", they lead to terrible effects, especially in performance. We recommend using Message metadata, as they are propagated along the pipeline.

[2022-02-01 17:12] geoand commented on #23269
This should not be the case... When a `Uni` is being returned, then the request pipeline is suspended and only resumed when the result of the `Uni` comes back.

Not sure what you mean here. As I explained above, the reactive return type of the filter should result in suspending request (I will make sure there isn't some kind of bug here).

[2022-02-01 17:18] Sanne commented on #23269
It's clearly being interleaved in this case.

I'm referring to the points described on:
 https://github.com/quarkusio/quarkus/blob/65f0a3ddeb55c0b3b3c50df53c8994baf36bd71b/independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/ServerRequestFilter.java#L53-L74

Most likely I'm just confused, but it seems to suggest that Uni responses should be used fo

[2022-02-01 17:23] geoand commented on #23269
I'll take a closer look.

I agree it's not phrased well. I'll fix it.

[2022-02-01 17:24] Sanne commented on #23269
thanks @geoand !

[2022-02-01 17:28] shumonsharif commented on #7507
Hi @mkouba @vsevel I'm not familiar enough with the internals of the security annotations, eg. `@RolesAllowed`.  Is there some way to easily confirm whether the subclasses are proxies or intercepted; the issue only happens with security annotations?  Either way, seems like all subclasses would need to be registered?

[2022-02-01 17:48] geoand commented on #23269
I am going to stand by my position that there is nothing wrong in the filter handling in RESTEasy Reactive.

I verified this by taking the reproducer and changing it in the following way:

[code]

Note that inside the `Uni` I am adding a test HTTP header.

Then I made changed the JAX-RS method to:

[code]

Now when I hit this with a lot traffic, I do get

[code]

but nowhere do I see `RR is severi

[2022-02-01 19:46] iLem0n commented on #23277
Hello sorry for the late reply.
Yes when I include the proto-files in both projects it works.

So actually it's necessary to copy them around? Feels a little bit odd, but as far as I googled that's a common problem out there.

Ok Anyway. Thanks for investigation.

[2022-02-01 19:47] #23277 closed

[2022-02-01 19:53] #12889 closed

[2022-02-01 20:15] bengunter opened #23351 "Data corruption when mixing `@FormParam` and `MultivaluedMap`"
### Describe the bug

A RestEasy Reactive handler method such as the one shown below which consumes `application/x-www-form-urlencoded`, declares at least one `@FormParam` method parameter, and declares a `MultivaluedMap<String, String>` method parameter to receive all the form parameters as a map corrupts the value of the last form parameter in the request body by appending two `-1` bytes to it.

[2022-02-01 20:16] Sanne commented on #23269
I don't think you can test it in this way: the HR issue is only manifesting sporadically and with high load, and it's helped by the fact that the *span* of events being covered is quite long: we do need to send two operations to the RDBMS, and then wait for results for these.

But thanks for the idea, I will play with some variations of that. Worst case I will learn how wrong I am :)

[2022-02-01 20:21] michalszynkiewicz commented on #23277
I should have a pull request to add the support for proto files in dependencies this week

[2022-02-01 20:51] kucharzyk commented on #23290
@mkouba I've created a reproducer. From tests everything works ok.

https://github.com/kucharzyk/self-closing-tag/blob/main/src/main/resources/templates/page.qute.html

There is a problem when tag is used in include section

[code]

It is rendered without errors as ```A) STARTEND```

If you comment section A and uncomment section B you got only ```B) START``` - some of content is missing

But when

[2022-02-01 20:56] kucharzyk commented on #23285
@mkouba PR is ready: https://github.com/quarkusio/quarkus/pull/23330

[2022-02-01 20:57] kucharzyk commented on #23288
@mkouba I think it is duplicate of #23290

[2022-02-01 21:00] LegendL3n commented on #23282
It doesn't. (neither in dev nor prod modes)

[2022-02-01 23:02] stuartwdouglas commented on #23282
Do you have a reproducer that does not require a discord account?

[2022-02-02 00:11] famod opened #23355 "Run ArchUnit tests using extended support for JUnit 5 in continuous testing"
### Description

ArchUnit tests written in the following manner are not picked up by continuous testing:
[code]
(taken from https://www.archunit.org/userguide/html/000_Index.html#_junit_support)

[q_ct-archunit.zip](https://github.com/quarkusio/quarkus/files/7982708/q_ct-archunit.zip) contains a single AU test and continous testing displays: "No tests found". `mvn test` does execute the test (and

[2022-02-02 02:25] gastaldi commented on #23351
@bengunter looks like you have already investigated and found a fix. Are you interested in submitting a Pull Request?

[2022-02-02 05:22] wicksim commented on #21367
Sorry, I don't get what you mean by

. My use case is: The Kafka-consumer calls our business-logic. In this business-logic, some values are read from a `@RequestScoped`-bean. I need to extract this info from the header of the Kafka-record and fill it to this bean. It's a "generic mechanism" and I don't want to pass the info as a parameter.

Maybe you could explain your solution a little bit more?

[2022-02-02 05:28] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1782229247

[2022-02-02 05:51] geoand commented on #23269
I'm very interested in what you find!

Let me know so I can dig into this more if needed

[2022-02-02 06:08] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1782227736

[2022-02-02 06:19] #23318 closed

[2022-02-02 06:21] geoand commented on #12486
There seems to be a compilation failure:

[code]

[2022-02-02 06:26] geoand commented on #23346
Can you please try and clarify a bit? Unfortunately I wasn't able to understand from the description what is going on

[2022-02-02 07:00] geoand commented on #8593
Camel seems to have failed @ppalaga:

[code]

[2022-02-02 07:24] cescoffier commented on #21367
What you do won't work, because you get the request context from the very beginning of the app (and that's a bug/leak that we need to fix).

Message metadata are objects associated with a message (see https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.13/concepts.html). They are propagated during the processing (if you do not break the chain).

[2022-02-02 07:29] #19907 closed

[2022-02-02 07:37] cescoffier commented on #23263
So, that's the issue. You cannot wait for the body to be read if there is no body handler yet.

[2022-02-02 07:38] MarcoBaesso commented on #23346
The property quarkus.mongodb.devservices.enabled=true is not working in our quarkus application (2.6.3.Final)

The docker mongo container is not running
https://quarkus.io/guides/mongodb#running-a-mongodb-database

if we run the command: docker run -ti --rm -p 27017:27017 mongo:4.0
the docker image is created,
but the documentation writes that with devservices enabled that command is not necessary

[2022-02-02 07:39] geoand commented on #23263
Indeed. This would require https://github.com/quarkusio/quarkus/issues/17280

[2022-02-02 07:45] geoand commented on #23346
I just tried the [mongodb quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/mongodb-quickstart) changed to use DevServices (by removing `quarkus.mongodb.connection-string`) and playing with the different values of `quarkus.mongodb.devservices.enabled` and it worked just fine.

[2022-02-02 07:45] #23346 closed

[2022-02-02 07:48] csotiriou commented on #23263
Thank you for your answers, I'm not quite sure there is a definitive solution given in #17280, unless I miss something

From what I see in #17280 there are some possible recommendations:
- use @stuartwdouglas' recommendation of injecting `org.jboss.resteasy.reactive.server.spi.ServerHttpRequest` and read the body. I would assume that this is asynchronous, so if we put this inside the filter, the c

[2022-02-02 08:07] evacchi commented on #12486
probably drools SNAPSHOT out of sync /cc @mariofusco

[2022-02-02 08:16] radtriste commented on #12486
Drools was not updated during the night due to Nexus issues ...

[2022-02-02 08:22] radtriste commented on #12486
just realizing that drools is installed as part of the [ci-prerequisites](https://github.com/kiegroup/kogito-runtimes/blob/main/.github/ci-prerequisites.sh) file ... so there should be no Nexus implied in there ...

[2022-02-02 08:32] rolintoucour opened #23360 ""Request has already been read" using vertx + auth"
### Describe the bug

When I use a vertx Verticle route + jdbc authent, I got an error `java.lang.IllegalStateException: Request has already been read`.

I repeated the issue in a minimalist project that sets up a Verticle + JDBC authent.

When I comment the line  `quarkus.http.auth.permission.roles1.paths=/*` then the error disappears.

My interpretation is that BodyHandler must be attached at fi

[2022-02-02 08:33] radtriste commented on #12486
ok got it: `.github/ci-prerequisites.sh: line 14: cd: ../drools: No such file or directory`

[2022-02-02 08:36] radtriste commented on #12486
That should do it I guess ? https://github.com/kiegroup/kogito-runtimes/pull/1968 cc @evacchi @geoand

[2022-02-02 08:46] radtriste commented on #12486
In fact just noticed the drools repo was checked out only for `quarkus-lts` job.
All corrected and merged

[2022-02-02 08:54] mkouba commented on #23290
@kucharzyk What does the `base` template look like? It seems that there is a conflict between an insert section and your tag.

[2022-02-02 08:58] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1782245559

[2022-02-02 09:03] #23288 closed

[2022-02-02 09:45] PierreBtz opened #23361 "Parent console log handler handles log despite use-parent-handlers set to false in child"
### Describe the bug

After configuring a specific handler for a package that should not send its output to its parent:

[code]

I notice that the log appears twice in the console:

[code]

See full reproduction in https://github.com/PierreBtz/quarkus-logger-handler-bug

Steps to reproduce:

* `mvn quarkus:dev`, then observe the output:

[code]

### Expected behavior

When setting `use-parent-hand

[2022-02-02 09:59] mkouba commented on #7507
Just to make it clear - ArC can generate two kinds of classes for a bean:
- client proxy; implements `io.quarkus.arc.ClientProxy`
  - basically an object that delegates all method invocations to a target bean instance
  - every normal scoped bean has a client proxy
  - client proxies are injected as dependencies
- intercepted subclass; implements `io.quarkus.arc.Subclass`
  -  extends the bean cla

[2022-02-02 10:05] #22216 closed

[2022-02-02 10:43] loicmathieu commented on #22686
After migrating to Quarkus 2.6.2 the issue disapear.

[2022-02-02 10:43] #22686 closed

[2022-02-02 11:18] sberyozkin commented on #23360
CC @stuartwdouglas

[2022-02-02 11:21] Dennis-Nilsson opened #23364 "Current H2 version contains vulnerability"
https://github.com/quarkusio/quarkus/blob/ebf059cc701fb63eb8e667246f91691faeea2c14/bom/application/pom.xml#L118

Current H2 version contains vulnerability. Should be updated to 2.1.210.

See release notes for more information: https://github.com/h2database/h2database/releases/tag/version-2.1.210

[2022-02-02 11:36] Dennis-Nilsson opened #23366 "Current version of graal-sdk contains several vulnerabilities"
https://github.com/quarkusio/quarkus/blob/3e61beaf61737e72ee748bb086506009adf00175/bom/application/pom.xml#L86

org.graalvm.sdk:graal-sdk@21.3.0 contains several vulnerabilities:
![bild](https://user-images.githubusercontent.com/79633588/152146036-11c09ff9-7cb0-47ae-a089-7945eee6e0c7.png)

io.quarkus:quarkus-arc@2.6.3.Final > io.quarkus:quarkus-core@2.6.3.Final > org.graalvm.sdk:graal-sdk@21.3.0

[2022-02-02 11:39] gsmet commented on #23366
We already upgraded to 21.3.1 for Quarkus 2.7.1.Final (that we will release next week) and 22.0.0.2 for `main`.

[2022-02-02 11:39] #23366 closed

[2022-02-02 11:58] kucharzyk commented on #23290
@mkouba You have this base template in repository

https://github.com/kucharzyk/self-closing-tag/blob/main/src/main/resources/templates/base.html

[2022-02-02 12:15] manovotn commented on #7507
From this discussion and the linked issue it seems to me that the only thing we need to register for reflection are intercepted subclasses. Or am I missing something?

[2022-02-02 12:18] mkouba commented on #23290
Ok, let me check the reproducer...

[2022-02-02 12:28] Ladicek commented on #7507
I'm probably just being stupid here, but I can always get hold both of the client proxy and the bean instance (which may be the subclass if the bean is intercepted or decorated). Right? So if we want to enable calling the bean's methods reflectively, both the client proxy and the subclass should be registered for reflection (if they exist).

[2022-02-02 12:30] aloubyansky commented on #23335
@glefloch @josephearl did I make any sense? I was just trying to figure out what options are currently available. Otherwise, I think it'd be a good idea to look into it.

[2022-02-02 12:34] mkouba commented on #7507
The thing is that you can easily obtain the original bean instance (be it a subclass or not) from a client proxy.

[2022-02-02 12:38] Ladicek commented on #7507
Sure I can, but why should I? The entire point of the client proxy is that I can just call its methods and everything works.

[2022-02-02 12:40] radcortez commented on #22815
Everything looks ok to me. Are you able to check if the OTel data is correct using Jaeger for instance?

[2022-02-02 12:41] radcortez commented on #22815
What is missing?

[2022-02-02 12:55] mkouba commented on #23290
So the reason why it does not report an error is that `{#include}` treats all unknown sections as extending blocks. And multiple extending blocks of the same name result in `Multiple blocks define the content`. We don't validate the included template (`base.html`) because it does not have to exist yet - it's included at runtime.

[2022-02-02 12:57] mkouba commented on #23290
We should definitely improve the validation and fail the template initialization if an `{#insert}` section conflicts with an existing section/tag. But that won't help with this particular case.

[2022-02-02 13:04] famod commented on #23364
Related: #9354

/cc @Sanne @gsmet
PS: I wasn't able to test it yet

[2022-02-02 13:08] mkouba commented on #7507
My point is that registering subclasses is the bare minimum (like I mentioned above) because there's no workaround for them. For client proxies you can apply a workaround e.g. in a json serializer lib. And to be clear - I'm talking about the bare minimum because we're talking about global registration of all subclasses/client proxies and I think that we should keep the number of registered classes

[2022-02-02 13:20] geoand commented on #23364
Let's close this as a duplicate of #9354

[2022-02-02 13:20] #23364 closed

[2022-02-02 13:25] Ladicek commented on #7507
Oh if you're talking about registering it _globally_, for all existing beans, then that's a different question. In the first comment in this issue, you suggest that we'd only register the generated classes for reflection if the bean class is itself annotated `@RegisterForReflection`. Which makes sense, if you ask me.

[2022-02-02 13:46] geoand commented on #23361
In your configuration you have:

[code]

That is wrong. It needs to be:

[code]

[2022-02-02 13:46] #23361 closed

[2022-02-02 13:51] PierreBtz commented on #23361
Arf... sorry about that, I must have starred at this configuration for an hour without spotting this...

Thanks for the help!

[2022-02-02 13:52] mkouba commented on #7507
Yup, I've changed my mind in https://github.com/quarkusio/quarkus/issues/7507#issuecomment-1026591737 ;-). Anyway, scanning `@RegisterForReflection` might make sense but what about complex hierarchies? Are we going to only scan the _bean class_?

[2022-02-02 13:52] geoand commented on #23361
YW

[2022-02-02 14:05] Karm commented on #23338
I am going to implement suggestions from Zulip chat and give it another go.

[2022-02-02 14:09] GregJohnStewart opened #23371 "Could not find snakeyaml-1.30-android.jar in Quarkus 2.7.0.Final"
### Describe the bug

Get the following error when trying to run with Quarkus `2.7.0.Final`:

[code]

Following the link, seems to not exist in Maven

gradle.properties:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Assuming it is a dependency of the yaml config extension, and happens on build.

### Output of `uname -a` or `ver`

_No resp

[2022-02-02 14:24] sberyozkin opened #23373 "Quarkus OIDC session cookie encryption support"
### Discussed in https://github.com/quarkusio/quarkus/discussions/23365

<div type='discussions-op-text'>

<sup>Originally posted by **debu999** February  2, 2022</sup>
While using Quarkus-OIDC it seems raw access token and id token is stored in browser cookies. Can that be encrypted to make it more secured. We usually are discouraged to have raw token exposed to the client or store in browser.
Is

[2022-02-02 14:30] Ladicek commented on #7507
I'm pretty sure registering all subclasses of all beans for reflection, unconditionally, is going to blow up the size of the native image. Needlessly, I'd say, because for how many of those beans will reflection access actually ever happen?

When it comes to class hierarchies, IDK, I'd probably follow what we do elsewhere for `@RegisterForReflection`?

[2022-02-02 14:31] Ladicek commented on #7507
Additionally, we could/should probably expose a build item for extensions to express an interest in reflective access to specific beans?

[2022-02-02 14:32] #22777 closed

[2022-02-02 14:33] sberyozkin opened #23375 "Add OIDC authentication access-token-issuer and prompt properties"
### Description

Some providers like ADFS can set different issuer claims for ID and Access token returned in the code flow. In such cases setting `quarkus.token.access-token-issuer` can be better than setting only `quarkus.token.issuer=any` to cover both ID and access tokens with the different issuers.

Additionally, while discussing #23053, I thought I'd help users to do `quarkus.oidc.authentica

[2022-02-02 14:34] mkouba commented on #7507
They should IMO just use `ReflectiveHierarchyBuildItem` and friends...

[2022-02-02 14:37] mkouba commented on #7507
+1 if they know which classes should be accessed via reflection ;-).

[2022-02-02 14:40] michalszynkiewicz commented on #22603
I ended up with a solution specific to gRPC but implementing it for other providers shouldn't be that hard now

[2022-02-02 14:51] brunobastosg commented on #9360
I also have the same problem using Quarkus 2.5.4.

@julio-rocha-coderoad-com 's solution works, though.

[2022-02-02 15:04] shumonsharif commented on #7507
Does `ReflectiveHierarchyBuildItem` discover classes both 'up' and 'down' the hierarchy?  I'm certainly happy to try it, but looking at the docs, it appears it only goes up the hierarchy - ie. superclasses are registered, but not necessarily subclasses?

[2022-02-02 15:08] geoand commented on #23371
What extensions are you using?

IIRC, you had this problem in the past and I could never reproduce it, correct?

[2022-02-02 15:15] g-apparence commented on #5348
Any news on this?

I'm considering quarkus for a new project but without native query I'm not sure anymore.

[2022-02-02 15:17] GregJohnStewart commented on #23371
I actually was able to figure out how to reproduce that similar error, outlined here: https://github.com/quarkusio/quarkus/issues/22842

But I believe this to be a separate issue; in this case the jar isn't even on Maven Central

Extensions:

[code]

[2022-02-02 15:19] geoand commented on #5348
One can use native queries with our Panache layer without much hassle. It's the Spring Data JPA layer that doesn't have support for them currently

[2022-02-02 15:22] g-apparence commented on #5348
Oh, that would be perfect.
Thank you answering so fast. Is there any example / documentation on this? Didn't found any.

[2022-02-02 15:25] geoand commented on #23371
A sample Gradle application with those dependencies worked for me.

[2022-02-02 15:28] geoand commented on #5348
There isn't anything in the documentation that I am aware of, but you could certainly do something like this:

[code]

[2022-02-02 15:30] GregJohnStewart commented on #23371
Odd.... and my usual fix of nuking maven local isn't working either.. What does your `repositories` section look like?

[2022-02-02 15:30] gsmet commented on #23371
@GregJohnStewart it would be easier for us if you could create a small reproducer.

[2022-02-02 15:32] geoand commented on #23371
Just what code.quarkus.io populates, I didn't make any changes other than adding the deps you mention.

[2022-02-02 15:33] geoand commented on #23371
something tells me that we won't be able to reproduce it in any case :)

[2022-02-02 15:35] g-apparence commented on #5348
Ok, I'm not blinded then.
Seems logic if effectively I have access to the EntityManager.
Thank you, will make a small POC using this.

[2022-02-02 15:36] #22740 closed

[2022-02-02 15:45] GregJohnStewart commented on #23371
Alright, found the culprit.....

When I include JavaFaker, that triggers the error:

`testImplementation group: 'com.github.javafaker', name: 'javafaker', version: '1.0.2'`

[2022-02-02 15:47] geoand commented on #23371
Gotcha.

Closing this as that is not something we support

[2022-02-02 15:47] #23371 closed

[2022-02-02 15:47] GregJohnStewart commented on #23371
Reproducer: https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/plugins/open-qm-plugin-demo

[2022-02-02 15:53] GregJohnStewart commented on #23371
For others might having a similar issue, apparently JavaFaker is a dead project; using DataFaker is a maintained fork:

https://github.com/datafaker-net/datafaker

[2022-02-02 15:54] beatrizacbs commented on #15410
Does this already contains the sugestion to also export eventbus metrics? If not, I would also add that. I believe that many people need this metric.

[2022-02-02 16:00] evanchooly commented on #7999
It looks like this one can be closed then?

[2022-02-02 16:06] geoand commented on #7999
Let's close for now.

If the issue persists, comments are welcome

[2022-02-02 16:06] #7999 closed

[2022-02-02 16:10] Sanne commented on #23269
Complex discussion followed up:
 - https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Vertx.20Local.20context

In short, I believe RestEasy Reactive should isolate the vertx context, but others aren't convinced of this; it might take some time.

In that case @gwenneg you won't be able to use context-bound objects, which are implicitly relied on if you use `withSession` or `withTransac

[2022-02-02 16:11] Sanne commented on #23269
Also: I've adapted the reproducer to verify our requirements without using Hibernate Reactive:
 - https://github.com/Sanne/quarkus-resteasy-reactive-vertx-context

It also fails only under load, but it might be a little simpler to understand why.

[2022-02-02 16:19] geoand commented on #23269
The reproducer is excellent in showing what the thorny issue is.

TL;DR: Hibernate Reactive expects `Vertx.currentContext().getLocal()` and `Vertx.currentContext().putLocal()` to work on a per-request basis. This does seem reasonable, but it appears like Hibernate Reactive was the only system that has this expectation.

[2022-02-02 16:46] johnoliver opened #23379 "ResteasyReactiveScanner.scanForApplicationClass does not seem to handle excludes correctly"
### Describe the bug

I may be incorrect on my understanding of what should be correct behaviour here, however, the logic of `ResteasyReactiveScanner.scanForApplicationClass` seems to mean that if there are multiple Application classes, the method will exit at:

[code]

however the `excludedClasses` list does not seem to be examined, meaning if you have multiple Application classes on your classpa

[2022-02-02 17:03] celsomarques commented on #22991
Hi @radcortez, sorry for my late response but I was trying to create a repository with Kafka (Scram SSL). However I was not able to do it.
So the easiest way is to clone [this](https://github.com/celsomarques/quarkus-native-app/tree/scram_ssl) and deploy to AWS/MSK in order to get the issue.

Or if you can point me to the right direction I can try to evaluate this

[2022-02-02 17:21] bengunter commented on #23351
Pull request #23381 opened

[2022-02-02 17:46] rsvoboda opened #23382 "kafka-client extension - Jandex index warning"
### Describe the bug

kafka-client extension - Jandex index warning

[code]

### Expected behavior

No warning

### Actual behavior

Warning about classes not included in the Jandex

### How to Reproduce?

 - download app with kafka-client -  https://code.quarkus.io/?extension-search=origin:platform%20kafka%20client
 - run `mvn clean package`
 - check log

### Output of `uname -a` or `ver`

_No re

[2022-02-02 18:01] ozangunalp commented on #23382
This is fixed with #23270

[2022-02-02 19:06] #23382 closed

[2022-02-02 19:14] rsvoboda opened #23383 "Invalid channel configuration when using SmallRye Reactive Messaging - Kafka Connector ++ AMQP Connector"
### Describe the bug

Invalid channel configuration error when using SmallRye Reactive Messaging - Kafka Connector ++ AMQP Connector
`Caused by: javax.enterprise.inject.spi.DeploymentException: java.lang.IllegalArgumentException: SRMSG00071: Invalid channel configuration -  the `connector` attribute must be set for channel `words-in``

Both SmallRye Reactive Messaging - AMQP Connector and SmallRye

[2022-02-02 19:37] rdifrango opened #23386 "Add ability to configure common tags in the Micrometer extension via configuration properties."
### Description

I would like the ability to add ability to configure [common tags](https://micrometer.io/docs/concepts#_common_tags) in the Micrometer extension via configuration properties.

### Implementation ideas

the proposal would be to add a property with a name like `quarkus.micrometer.tags` that is a collection of Key/Value pairs that then get added to the registry something like:

[code

[2022-02-02 19:38] evanchooly commented on #8479
Found the [fix](https://github.com/oracle/graal/issues/2306).  just need to integrate it.

[2022-02-02 19:41] ebullient commented on #23386
I've refrained from doing this via configuration for a number of reasons. You can define a Producer of MeterFilter that will add common tags as you wish, including reading from configuration attributes or being selectively enabled based on profile, etc.

[2022-02-02 19:49] ozangunalp commented on #23383
Reactive messaging codestarts do not support multiple connectors like Kafka + AMQP. To fix it you will need to set the connector you want on every inbound and outbound channel such as
`mp.messaging.incoming.word-in.connector=smallrye-kafka`

[2022-02-02 19:52] otonielsilva commented on #14044
@hantsy I still have the same error.
In my scenario, I'd like to create some custom cache at application startup time.

I used your code, but if removing the line  `this.posts.deleteAll()` from **DataInitializer**, the same error occurs again.

[2022-02-02 19:54] cescoffier commented on #23383
As @ozangunalp said, if you have multiple connectors, reactive messaging cannot deduce the one to use. Unfortunately codestarts do not have the flexibility we need to handle this case.

[2022-02-02 20:05] rdifrango commented on #23386
For me, this is a departure from what I get with Spring Boot as I can configure `tags` via configuration.

I'd be curious to know what those reasons are?

[2022-02-02 20:15] rsvoboda opened #23387 "reactive-messaging-kafka + config-yaml - warning about unknown '"auto.offset.reset"' config"
### Describe the bug

reactive-messaging-kafka + config-yaml - warning about unknown '"auto.offset.reset"' config

[code]

Generated `src/main/resources/application.yml` looks like this:
[code]

But should look like this:
[code]

### Expected behavior

No warning

### Actual behavior

Warning about unknown config entry

### How to Reproduce?

 - Download app https://code.quarkus.io/?e=smallrye-rea

[2022-02-02 20:30] ebullient commented on #23386
Spring Boot describes (in getting started), how to configure common tags using a MeterFilter:
https://docs.spring.io/spring-boot/docs/2.5.6/reference/html/actuator.html#actuator.metrics.getting-started

While Spring Boot Actuator does have a configuration shortcut for common tags (https://docs.spring.io/spring-boot/docs/2.5.6/reference/html/actuator.html#actuator.metrics.customizing.common-tags),

[2022-02-02 20:39] mklueh opened #23391 "Improve stacktrace of Hibernate Reactive / PGClient Exceptions to reveal the origin"
### Description

I'm getting an exception using reactive APIs and I have no clue where it is thrown in my chain of transforms and database operation calls. Is there any chance to see an improved stacktrace in future, that is more telling and at least reveals the class where the error is thrown? In my case, it is **not** the RegistrationResource but somewhere else.

Besides that, the hibernate_sequ

[2022-02-02 20:44] #23285 closed

[2022-02-02 23:13] DavideD commented on #23391
Is the SQL log enabled?
[code]

[2022-02-02 23:15] Karm commented on #23338
I have a fix in core. I am refactoring it to use the currently existing `quarkus.locales` as an indication the user is interested in non-English locales. I need to test what Hibernate Validator does with it so as there are no surprises....

[2022-02-02 23:20] #23351 closed

[2022-02-03 00:22] manofthepeace opened #23396 "@ClientExceptionMapper not working reliably"
### Describe the bug

I was trying the new `@ClientExceptionMapper` in quarkus 2.7.0. I have another ExceptionMapper with a lower priority than the `@ClientExceptionMapper`.

When I use mvn quarkus:dev and force the exception. Sometimes it goes through the ClientExceptionMapper, sometimes it goes to the other ExceptionMapper with a lower priority.

Seems like sometimes the app starts "right" so it

[2022-02-03 00:46] sunildparte commented on #23324
I am facing exact same issue when load testing my quarkus application. My application is very similar to this quickstart project - https://github.com/quarkusio/quarkus-quickstarts/tree/main/hibernate-reactive-panache-quickstart. Is there any workaround until https://github.com/quarkusio/quarkus/issues/23300 is fixed?

[2022-02-03 02:06] paradoxrevolver commented on #22157
@Ladicek thank you for such a quick response! you're right, i was also unable to reproduce it starting with https://github.com/quarkusio/quarkus-quickstarts/tree/main/hibernate-orm-panache-quickstart. i suspect i'll encounter this error again as i work on this project. when i do, i'll create a new issue with more information and make a reproducer for it (if there's any formal process to making a r

[2022-02-03 04:16] kdubb opened #23399 "`quarkus-kubernetes` fails when using Git submodules."
### Describe the bug

Any use of Git submodules causes a build crash when using `quarkus-kubernetes`; to which there is no workaround.

The cause is a parsing bug in Dekorate. I've filed a PR to fix the issue in the Dekorate repository (https://github.com/dekorateio/dekorate/pull/852).

This issue is to document the bug and track it's fix when a fixed dekorate is released.

### Expected behavior

[2022-02-03 04:32] phillip-kruger commented on #23313
@serahl - I can not recreate this. Do you have a small reproducer I can look at ? It might be Windows specific.

[2022-02-03 06:21] cdhermann opened #23400 "Log format is ignored in uber-jar if there is a custom main method"
### Describe the bug

Console log format is set to `%d{yyyy-MM-dd HH:mm:ss} %-5p [%c] %s%e%n` in
`application.properties` but the log output on the console looks like this:

[code]

Packaging a fast-jar and running the application does all the pretty-printing:

[code]

This seems to happen only if there is a custom main method.

The behavior is the same on Linux, Mac and Windows.

### Expected beh

[2022-02-03 06:45] mkouba commented on #7507
Well, if you're aware of `Foo` then you can find all subclasses in the index via `IndexView.getKnownDirectSubclasses()` and `IndexView.getAllKnownSubclasses()`...

[2022-02-03 06:48] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1787765760

[2022-02-03 06:53] geoand commented on #23396
https://github.com/quarkusio/quarkus/pull/23401 fixes the issue

[2022-02-03 07:45] geoand commented on #23379
You are absolutely right!

I opened https://github.com/quarkusio/quarkus/pull/23402 to fix this

[2022-02-03 07:47] mklueh opened #23403 "java.lang.UnsupportedOperationException com.vladmihalcea.hibernate.type.json.internal.JsonSqlTypeDescriptor with Hibernate Reactive"
### Describe the bug

I'm trying to use `implementation 'com.vladmihalcea:hibernate-types-52:2.14.0'` from https://github.com/vladmihalcea/hibernate-types in my application, which previously worked with the non-reactive dependencies.

[code]

[code]

Are there any plans to support those types or is it rather something that has to be done on Vlad Mihalcea's side?

[2022-02-03 07:53] iocanel commented on #23399
I will look into it ASAP

[2022-02-03 07:59] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1787747379

[2022-02-03 08:01] geoand commented on #23399
There already is a PR upstream

[2022-02-03 08:16] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1787747379

[2022-02-03 08:39] Ladicek commented on #22157
@paradoxrevolver Nothing formal, any repo on GitHub (or a .zip attachment in this issue) will do. Thanks!

[2022-02-03 08:42] Ladicek commented on #7507
If `ReflectiveHierarchyBuildItem` only traverses up, I guess I'm back to the suggestion that we should have a dedicated build item to express interest in reflective access to a given bean class. (Which would result in registering the bean class, the subclass, and the client proxy, in my opinion.) That seems best to me, because it's a lot more declarative.

[2022-02-03 09:22] eAybars opened #23404 "Kafka Streams app on native build fails to read json process file"
### Describe the bug

When running a Kafka Streams native image app second time with an existing state directory, it fails to read the process file with the following exception:

Failed to read json process file: com.fasterxml.jackson.databind.exc.InvalidDefinitionException: Cannot construct instance of `org.apache.kafka.streams.processor.internals.StateDirectory$StateDirectoryProcessFile` (no Cre

[2022-02-03 10:24] stefanwendelmann opened #23405 "MongoHealthCheck doesn't work"
### Describe the bug

MongoDB connection health check always UP

Quarkus Version: `2.6.3.Final`

### Expected behavior

`"status": "DOWN"` when MongoDB is not reachable

### Actual behavior

`"status": "UP"` when MongoDB is not reachable

### How to Reproduce?

## Sources

pom.xml
[code]

`src/main/java/com/acme/MyLivenessCheck.java`

[code]

## Build

Native Build
[code]

And run in a Docker Envi

[2022-02-03 10:29] phillip-kruger commented on #23313
@serahl - I could not recreate the issue on Linux and do not currently have a Windows Environment. This might fix it: https://github.com/phillip-kruger/quarkus/tree/additional-docs-fix but it would be great if you can test it. let me know. Thanks

[2022-02-03 10:31] KyriacosP commented on #23300
Do we have any time frame on this being fixed?

[2022-02-03 10:58] paulrobinson commented on #22740
Thanks @radcortez!

[2022-02-03 11:04] #23396 closed

[2022-02-03 11:12] mschorsch opened #23406 "quarkus-config-yaml: Regression since Quarkus 2.7.0.Final"
### Describe the bug

Since Quarkus 2.7.0.Final the following `application.yaml` produces a failure:

[code]

### Expected behavior

_No response_

### Actual behavior

[code]

### How to Reproduce?

[reproducer.zip](https://github.com/quarkusio/quarkus/files/7993960/reproducer.zip)

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

Java 11

### GraalVM version (if d

[2022-02-03 11:17] gsmet commented on #23406
@radcortez could you have a look?

[2022-02-03 11:23] radcortez commented on #23406
Sure.

[2022-02-03 11:54] serahl commented on #23313
@phillip-kruger I created a simple reproducer from the Quarkus Code Generator:
[openapi-folder-error.zip](https://github.com/quarkusio/quarkus/files/7994211/openapi-folder-error.zip)

Sadly I don't know when I'll have the time to check out, build and test your fix in the branch.

[2022-02-03 12:05] josephearl opened #23407 "Structured Access Logs"
### Description

As an SRE
I would like the access logs to emit structured information when using quarkus-logging-json
So that I can filter logs more efficiently

At the moment when using Quarkus access logging with something like Splunk or Kibana, information like status code, request URI, response size etc is only available in the message

These should be available as separate JSON properties on

[2022-02-03 12:09] shumonsharif commented on #7507
Yes, agreed.  That's one way to address the issue, as is the workaround we already currently have in place.

However, I also agree with @Ladicek's comment about having a more declarative and cleaner way of doing this.  Given the CXF extension doesn't generate the subclasses, my thought was that the onus for registering those for reflective access should really fall on the subclass creator - just s

[2022-02-03 12:20] tassadar81 commented on #4481
Hello @pedroigor is there any backchannel logout support implemented? Reading this issue i can't find a clue nor i can find in the quakus documentation. I guess that if supported a logout consumer is published by the quarkus oidc extension. Is that right?
Thanks

[2022-02-03 12:21] Sanne commented on #23300
I'm sure Martin will figure out something to improve things, but generally speaking I would recommend to not inject an EntityManager (whose scope should be limited to a single transaction) into a long-lived component such as an event stream consumer.

Such components are very long lived, and you will necessarily need to split your Database operations into smaller transactions; inject the `EntityMa

[2022-02-03 12:24] Sanne commented on #23403
Sorry, you can't use this extension with Hibernate Reactive, as it's not based on JDBC.

I'll close this for now; perhaps there is something we will be able to do, but if we're to develop a new solution in this area, it should be based on Hibernate ORM 6, so it might be similar but not based on the current hibernate types project.

[2022-02-03 12:24] #23403 closed

[2022-02-03 12:26] Sanne commented on #23324
I've described the "workaround" for that issue on it:
 - https://github.com/quarkusio/quarkus/issues/23300#issuecomment-1028935528

[2022-02-03 12:45] mklueh commented on #23403
@Sanne got it. Is there any other recommended way on how to deal with JSON types?

[2022-02-03 12:49] serahl commented on #23313
@phillip-kruger I managed to try out your fix. TL;DR: I don't think it's working :(

I built your branch with `./mvnw -Dquickly`.
After that, I changed the Maven properties of my example reproducer to `<quarkus.platform.group-id>io.quarkus</quarkus.platform.group-id>` and `<quarkus.platform.version>999-SNAPSHOT</quarkus.platform.version>`.

When running `mvn clean package` in the sample project, I

[2022-02-03 12:51] mklueh commented on #23300
Is the entity manager even supposed to be working with reactive dependencies and hibernate reactive? I was under the impression that the EntityManager is based on JDBC and the reactive dependencies use vertx drivers instead and can't work together with JDBC

[2022-02-03 13:05] manovotn commented on #23300
The cause of this issue is being discussed in https://github.com/quarkusio/quarkus/discussions/23363, so take a look there if you're interested.
In shot, the core problem is that within reactive a CDI request context is captured and "endlessly propagated" and the entity manager is `@RequestScoped` so it just keep returning the same instance. So this problems spans beyond just Entity Manager.

We h

[2022-02-03 13:17] viniciusfcf opened #23409 "Infinispan continuous Query does not work"
### Describe the bug

Continuous query does not work on Quarkus.

### Expected behavior

Consume events and call the java methods

### Actual behavior

Throw "unexpected error consuming event".

Tested with Quarkus 2.7.0 and 2.6.3

### How to Reproduce?

Steps:

1. git clone https://github.com/viniciusfcf/quarkus-issues
2. cd infinispan-continuous-query
3. mvn quarkus:dev (with docker running)
4.

[2022-02-03 13:18] cescoffier commented on #23300
Not mutiny, but reactive messaging. The idea is to avoid capturing the request context before creating the messaging streams. Before implementing that idea (which is relatively straightforward), I want to check if I can reuse @manovotn's one.

[2022-02-03 13:20] cescoffier commented on #23404
My guess is that `org.apache.kafka.streams.processor.internals.StateDirectory$StateDirectoryProcessFile` is not registered for reflection.

[2022-02-03 13:23] cescoffier commented on #23387
The beauty of yaml and kafka. `.` is an object separator.
So you need to wrap the key between quotes:

[code]

[2022-02-03 13:38] eAybars commented on #23404
Hi, thanks for quick response.

Since `org.apache.kafka.streams.processor.internals.StateDirectory$StateDirectoryProcessFile` has only package access (i.e. no access modifier), it is not visible and cannot be registered as
[code]
and neither the following solved the issue for some reason:
[code]

but, the following works:
[code]

As a suggestion, as it is done in so many cases, Quarkus can automat

[2022-02-03 13:38] serahl commented on #23313
Quick note: The reproducer also fails on Debian under WSL, with the same error/exception:

...
Caused by: java.nio.file.NoSuchFileException: /mnt/c/Users/.../openapi-folder-error/target/classes/META-INF/foldernamethatdoesnotexist

[2022-02-03 13:39] Sanne commented on #23300
Right, sorry I forgot you were using Hibernate Reactive but it's the same principle.

If you're using Hibernate Reactive inject the `org.hibernate.reactive.mutiny.Mutiny.SessionFactory`  - if you're using JPA / blocking Hibernate then inject the `javax.persistence.EntityManagerFactory`.

Conceptually both are the same: you shouldn't use a single Session (or EntityManager) for such a long span, but

[2022-02-03 13:40] gsmet commented on #23404
FWIW, the syntax for a nested class is: `org.apache.kafka.streams.processor.internals.StateDirectory$StateDirectoryProcessFile`

[2022-02-03 13:43] gsmet commented on #23404
@eAybars could you create a PR with a test? It looks like you have it all figured out and it should be easy enough.

The test has to be there: https://github.com/quarkusio/quarkus/tree/main/integration-tests/kafka-streams to be tested with native.

[2022-02-03 13:47] geoand commented on #11438
This was brought to my attention again by @rvansa.

Maybe we could have some arcane system property that disables `DotEnvConfigSourceProvider`? @radcortez  WDYT?

[2022-02-03 14:00] zakkak opened #23411 "Kafka OAUTH Keycloak integration test failing with GraalVM / Mandrel 22.1-dev"
### Describe the bug

$title

### Expected behavior

Test should pass

### Actual behavior

Test fails with:

[code]

See https://github.com/graalvm/mandrel/runs/5046248182?check_suite_focus=true#step:11:1932

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

GH runner

### Output of `java -version`

11.0.14 and 17.0.2

### GraalVM version (if different from Java)

22.1.0-de

[2022-02-03 14:07] evacchi commented on #12486
- kogito-addons-quarkus-explainability

- kogito-addons-quarkus-mail

2022-02-03T06:41:23.3541952Z java.lang.LinkageError: loader constraint violation: loader io.quarkus.bootstrap.classloading.QuarkusClassLoader @1efac5b9 wants to load class org.kie.kogito.services.event.impl.UserTaskDeadlineEventBody. A different class with the same name was previously loaded by io.quarkus.bootstrap.classloading.

[2022-02-03 14:08] sberyozkin commented on #23411
@ozangunalp, Hi, FYI, I ended up using Keycloak-X in the OIDC MTLS test: https://github.com/quarkusio/quarkus/blob/main/integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/KeycloakXTestResourceLifecycleManager.java

[2022-02-03 14:08] DavideD commented on #23403
You can map Json using `io.vertx.core.json.JsonObject`.
You can check [one of our tests](https://github.com/hibernate/hibernate-reactive/blob/a94960a0628ab6e6fdb7a76c882d493c5514df07/hibernate-reactive-core/src/test/java/org/hibernate/reactive/types/JsonTypeTest.java#L94) for an example:
[code]

Or you can create a `UserType`. Here's [an example taken from our tests](https://github.com/hibernate/h

[2022-02-03 14:09] aloubyansky commented on #12486
I'll look into these.

[2022-02-03 14:15] aloubyansky commented on #12486
BTW, before I begin, @evacchi could you please confirm `-Dquarkus.bootstrap.effective-model-builder` is set in the CI?

[2022-02-03 14:18] evacchi commented on #12486
@radtriste knows the answer better than me. Looks like it is not https://github.com/kiegroup/kogito-runtimes/blob/main/.github/quarkus-ecosystem-test maybe we have only set that per-module?

[2022-02-03 14:20] radtriste commented on #12486
Indeed it should be added there

[2022-02-03 15:10] sdaschner opened #23413 "Terminal mode test should include --help"
### Describe the bug

The dev mode terminal (`:`) doesn't include a help for the `test` command:

[code]

Related to #23036 and #22345

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No respon

[2022-02-03 16:17] DavideD commented on #21313
`hibernate-types` sometimes requires a JDBC connection so not everything in it is compatible.
That said, I've tried to run the project associated to the issue and it seems to work as expected (I don't see any error).
Is this still an issue?

[2022-02-03 16:18] loicmathieu commented on #23405
Yes, if no request has been done, by design the MongoDB client will not be created (it is created lazily) so the health check will be OK.
If it's the case here, it's a duplicate of #22934

[2022-02-03 16:21] radcortez commented on #23406
In this particular case, due to the indexed properties support, the square brackets are reserved to represent collections, but because of  https://github.com/smallrye/smallrye-config/pull/682, it kinda worked.

My recommendation is to avoid using square brackets in the property's name, although I'm preparing a PR to support them in key map names.

[2022-02-03 16:21] geoand commented on #23405
Thanks

[2022-02-03 16:21] #23405 closed

[2022-02-03 16:22] DavideD commented on #21313
I'm going to close this issue. The project works because they've already switch to the right approach that it's to map the Json field using a JsonObject

[2022-02-03 16:22] #21313 closed

[2022-02-03 16:25] DavideD commented on #23403
On second thought, an attribute converter is an easier approach in this case: http://hibernate.org/reactive/documentation/1.1/reference/html_single/#_attribute_converters

[2022-02-03 16:35] mklueh commented on #23403
Thanks alot for your help @DavideD

So JsonObject should be the target type and String the source type of the JSON column when using the converter approach?

Can the PostgreSQL column still be of type JSON/JSONB or do they have to be of type varchar/text then?

[2022-02-03 16:40] radcortez commented on #11438
Not sure if this is a good idea. I understand the frustration, but this may happen in other scenarios (for instance `application.properties` in the `config` folder).  Unless we define a specific rule for test mode, we may end up with some inconsistency.

My recommendation is to just use specific profile `env` files (`env-prod`, `env-dev`, etc).

[2022-02-03 16:42] israelst11 opened #23416 "2.7 Migration guide should include a new jaxb related requirement"
### Description

we migrated from 2.6.2 to 2.7.0 and suddenly lost our javax.xml.bind.* dependencies.
We then realized we needed to add the quarkus-jaxb dependency.

This can be added to the [migration guide](https://github.com/quarkusio/quarkus/wiki/Migration-Guides).

### Implementation ideas

_No response_

[2022-02-03 16:44] edeandrea opened #23417 "Regression since 2.6.3.Final in OpenShift extension"
### Describe the bug

Seems when the openshift extension generates the resources its no longer generating the `ImageStream` resource properly.

See https://github.com/quarkusio/quarkus-super-heroes/blob/5a805fadaeff91572345777775a943d5324c67be/rest-fights/deploy/k8s/native-java17-openshift.yml#L83-L91 (generated with the openshift extension on Quarkus `2.7.0.Final`) vs https://github.com/quarkusio

[2022-02-03 16:49] DavideD commented on #23403
Not necessarly a String. If you want a map, something like this should work:
[code]

But you can use a String if you prefer.

Hibernate Reactive maps a field of type `JsonObject` to a column of type `json` as the default for Postgres

[2022-02-03 16:52] geoand commented on #23417
@iocanel has this already been fixed?

[2022-02-03 16:56] andlinger opened #23418 "Resteasy Reactive serializes objects differently than Resteasy"
### Describe the bug

I have the following object which I return via a resource and serialize with Jackson.

With Resteasy the following JSON is generated:

[code]

But when I use Resteasy Reactive, the object is generated as follows:
[code]

### Expected behavior

The JSON generated by Resteasy Reactive should look exactly like the one generated by Resteasy

### Actual behavior

_No response_

##

[2022-02-03 16:57] iocanel commented on #23417
What we fixed was adding the missing `ImageStream`. In this particular case, the `ImageStream` is there but is missing the `metadata.name`.

[2022-02-03 17:01] edeandrea commented on #23417
It doesn't seem though like the labels on it are correct. The `name: fights-db` under `labels` isn't correct either (both in the 2.6.3 & 2.7.0 version. I'm not sure where it is pulling that label from? Shouldn't it be `name: rest-fights`?

[2022-02-03 17:03] iocanel commented on #23417
The missing `metadata.name` should be fixed by: https://github.com/quarkusio/quarkus/commit/ffc5957cd863c44f8e6a9cf94b415011ac109c37#diff-2f7f8b1e6f4a44f6f156a44d9a60ec9f4a233e7874e8059fb0c627771a505fc4R271

[2022-02-03 17:06] iocanel commented on #23417
I can't tell about the labels, unless I see the configuration. Let me have a look at your project....

[2022-02-03 17:08] geoand commented on #23418
This should simply be a matter of registering the money module with the Jackson ObjectMapper.

I guess RESTEasy Classic is doing it automatically...

[2022-02-03 17:09] gsmet commented on #23416
I'm not sure what's going on there but this extension is there since forever.

My guess is that you had a dependency somehow requiring the JAXB dependency and now it doesn't depend on it. If you want to know which one, compare the dependency trees.

[2022-02-03 17:09] #23416 closed

[2022-02-03 17:13] edeandrea commented on #23417
The `application.properties` file is at https://github.com/quarkusio/quarkus-super-heroes/blob/main/rest-fights/src/main/resources/application.properties and the command used to generate would be

[code]

https://github.com/quarkusio/quarkus-super-heroes/runs/5054787642?check_suite_focus=true#step:4:11282

[2022-02-03 17:16] iocanel commented on #23417
The labels thing must be a bug triggered by the fact that there are multiple `Deployment` resources in the final manifest. This is something that we should do a better job at handling. I'll work on it ASAP.

The missing `metadata.name` should be fixed in the main branch already. Let me checkout your project to verify.

[2022-02-03 17:19] edeandrea commented on #23417
Yeah if in `src/main/kubernetes/openshift.yml` it seems that whatever labels/annotations are on the last `Deployment` in there are carried forward. They shouldn't be.

I would think they should only be carried forward if the `Deployment.metadata.name` (or `DeploymentConfig.metadata.name`) matches the name of any of the generated resources.

[2022-02-03 17:20] manovotn commented on #23300
Apparently, I was wrong - during debugging inside the reproducer I can see that the `EntityManager` bean is actually `@ApplicationScoped`, is that intended @Sanne? Where are CDI beans for EM created?

[2022-02-03 17:22] iocanel commented on #23417
The missing `metadata.name` is already fixed on master. And the labels are indeed broken, as it seems to pickup the labels from your postgres deployment, instead of the app.

[2022-02-03 17:23] brunobastosg commented on #21313
@DavideD it is working because of [PR #1](https://github.com/brunobastosg/hibernate-reactive-jsonb-column/pull/1), which implements an `AttributeConverter` to map the column. But without it, it doesn't work. You can checkout the [first commit](https://github.com/brunobastosg/hibernate-reactive-jsonb-column/commit/d5405b6c8bb3ad4c1f562d0b3dccf884d894d291) to see the original error.