[2021-08-13 04:23] mweber03 opened #19386 "Gradle error finding subproject dependency version"
### Describe the bug

I have a top-level `build.gradle` that specifies the version of all dependencies for the subprojects. When upgrading to 2.1, the version for a dependency in a subproject can no longer be found when a classifier is specified. See the reproducer section for details.

### Expected behavior

Successful build

### Actual behavior

[code]

### How to Reproduce?

top level `build.gr

[2021-08-13 04:32] mweber03 opened #19387 "Error reading ConfigMapping in constructor injection"
### Describe the bug

I want to specify a `@ConfigMapping` on a parameter in the injection constructor, such that it is used then thrown away. This causes an unsatisfied dependency error on build. This may be unsupported behavior, in which case feel free to retag this as an enhancement.

### Expected behavior

The ability to read config mappings in an injection constructor.

### Actual behavior

[

[2021-08-13 04:32] mweber03 commented on #19387
/cc @radcortez

[2021-08-13 04:56] mweber03 opened #19388 "Service attempts to find a config value for an unused bean"
### Describe the bug

I have a library with multiple beans in it, each containing config values. I also have a service that only injects one of those beans. But at runtime there is an error attempting to find the config value for the bean that is not used in the service.

Note: I'd like to not use default config values so that anyone actually injecting the bean is required to add it to the config.

[2021-08-13 05:53] glefloch commented on #19383
@DaveO-Home could you give the exception? You can run your command with the following flag to get the stack trace `-S`

[2021-08-13 07:10] glefloch commented on #19386
Thanks for reporting this @mweber03. I will work on that ASAP.

[2021-08-13 07:18] geoand commented on #19385
@iocanel does Dekorate have support for this?

[2021-08-13 07:34] holledauer commented on #19359
I added a minimal app that reproduces the cpu issue.

It is built with `./gradlew build -x test -Dquarkus.package.type=native  -Dquarkus.container-image.build=true `

[quarkuscpu.zip](https://github.com/quarkusio/quarkus/files/6980650/quarkuscpu.zip)

[2021-08-13 07:40] holledauer commented on #19359
Here you can see what happens when I deploy this small sample app on k8s (compared to the full blown app with Quarkus 2.0 )
![image](https://user-images.githubusercontent.com/804646/129322001-baad36ff-a3af-4ead-afc8-f92291500a51.png)

[2021-08-13 07:46] Sgitario commented on #19365
Using `@ConfigurationProperties` is what Spring users would do to start using Quarkus. Indeed, this is what the `quarkus-spring-boot-properties` extension is meant to.

[2021-08-13 08:31] mbrembilla opened #19389 "Code generation: Support reading build-time config properties"
### Describe the bug

The problem is already be discussed a little in #19276 , but since it regards another topic and has been closed I thought to create this to track specifically the problem related to avro codegen properties.

Briefly, up to know the properties to configure avro codegen mechanism must be inserted in pom.xml, but it would be nice to have the possibility to put them in applicatio

[2021-08-13 08:42] mbrembilla commented on #19350
Sorry, for the dalay. Issue #19389 opened.

Can I ask you another thing?
Prior Quarkus 2 in my Kafka Stream application I used to import Confluent's `kafka-streams-avro-serde` dependency to serialize and deserialize Avro messages created with custom schemas with the SpecificAvroSerde.
WIth the new changes in Quarkus do I still need that dependency or can I obtain the same result in other ways? I d

[2021-08-13 08:50] Postremus opened #19390 "Warning SRCFG01005 when using quarkus.config.locations"
### Describe the bug

I use quarkus.config.locations in all my projects to specifiy a custom configuration file in dev mode.

Since the update to quarkus 2.1, i get the following warning on dev mode start. The abc in the second line is the configuration value inside the custom-configuration-file.properties.

This is only a warning, and all configuration values are still read from the file.

[code]

[2021-08-13 08:50] Postremus commented on #19390
/cc @radcortez

[2021-08-13 08:52] johnaohara commented on #19359
Thanks for sharing, the application is very similar to the app that I tested locally. Are you deploying the application to a vanilla K8's environment? do you know what container runtime is used in the cluster you are using? thanks

[2021-08-13 08:53] bboyz269 commented on #16717
The label `kind/enhancement` is kind of misleading because it actually causes a interruptive error if in the scenario of multiple thread try to open separated hibernate sessions.
Take my case for example: tenant-wise data access (resource request) > identity resolving > tenant resolving > data access + another tenant-wise data access.

Since this didn't get any attention for quite sometime, I clos

[2021-08-13 08:53] #16717 closed

[2021-08-13 08:59] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1126513291

[2021-08-13 09:10] holledauer commented on #19359
AWS EKS with docker-shim and dockerd

[2021-08-13 09:17] #19337 closed

[2021-08-13 09:17] hieunc278 commented on #19337
Fixed it already

[2021-08-13 09:34] timovandeput opened #19391 "No (mock) injection when using @Nested JUnit tests"
### Describe the bug

Mock injection is not performed before execution of unit tests inside nested test classes.

### Expected behavior

Attributes of the top level class annotated with `@InjectMock` are injected before the tests of `@Nested` test classes are executed.

### Actual behavior

Attributes annotated with `@InjectMock` are `null`.

### How to Reproduce?

A test like this fails because t

[2021-08-13 09:57] sebthom commented on #9834
Just hit this issue too, it is still present in the latest Quarkus release.

![image](https://user-images.githubusercontent.com/426959/129340010-3c1e4da3-7bbc-4f13-a863-54d1f5f80f02.png)

We have the banDuplicateClasses enforcer rule globally activated.

[2021-08-13 10:09] radcortez commented on #19367
Ok, let me see what I can do. Can you also provide me an example of your kt configuration? Thanks!

[2021-08-13 10:12] radcortez commented on #19390
I'll have a look.

[2021-08-13 10:14] radcortez commented on #19387
Hum... it should work. Let me have a look.

[2021-08-13 10:27] radcortez commented on #19365
Unfortunately, that is not possible, because as you know, `@ConfigMapping` is intended for interfaces only, while Spring `@ConfigurationProperties` applies to classes. We could bridge between the two, and use the Spring annotation instead, but you still require an interface, and I don't think that is what you expect.

At this point, we probably need to consider deprecating Quarkus support for Spri

[2021-08-13 10:31] QuarkusQE commented on #19125
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1126513588

[2021-08-13 10:33] geoand commented on #19365
I don't think we can remove the extension as it is part of the product

[2021-08-13 10:49] radcortez commented on #19365
Yes, I was not suggesting to remove it now, it would still need to go through a deprecation cycle.

[2021-08-13 11:12] dirkweil opened #19392 "Dev mode freezes when quitting and console log colors are switched off"
### Describe the bug

That is a very strange bug and I'm not sure, if I got it right:

If you
- disable console log colors with `quarkus.log.console.color=false`,
- start the application in dev mode,
- wait for Quarkus to come up,
- press `q` for termination the application,
- then the application hangs/freezes: The shell does not return to the promt and cpu usage rises.

### Expected behavior

Af

[2021-08-13 11:15] Postremus opened #19393 "Remove dependency to weld"
### Description

quarkus-rest-client transitivly pulls in weld.

This causes some annotations to be present multiple times, from different packages (e.g. javax.enterprise.context.control.ActivateRequestContext and org.jboss.weld.context.activator.ActivateRequestContext)

Can the dependency to weld please be removed?
[code]

### Implementation ideas

_No response_

[2021-08-13 11:16] Postremus commented on #19393
/cc @jamezp fyi.

[2021-08-13 11:20] #19350 closed

[2021-08-13 11:30] #16874 closed

[2021-08-13 11:39] Sgitario commented on #19365
:D I would never use the Spring extension to play with Quarkus, so I would have used the `@ConfigMapping` approach from the beginning.

But my duty was to check the Spring Properties Quarkus extension and see what users of Quarkus can expect of it. So, adding a note in the documentation or improve the exception handling to prevent this work for me.

[2021-08-13 11:52] radcortez commented on #19365
Great. Thanks. I'll improve the documentation.

[2021-08-13 11:59] anthonydahanne commented on #19385
Hello! Thanks for your answers.
Could you please give me some pointers, I could try to contribute the missing decorators? (Unless it's really trivial for you to add)
Thanks

[2021-08-13 12:01] phillip-kruger commented on #19374
@vgallet - I can not seem to recreate this, it looks ok on my env. Can you share more details ? Is there anything in the browsers console ?

![image](https://user-images.githubusercontent.com/6836179/129354177-a4efb098-fcde-4645-8ded-d1b6806808e1.png)

[2021-08-13 12:03] phillip-kruger commented on #19374
@vgallet also maybe open the log in and see if that is styled correctly:

![image](https://user-images.githubusercontent.com/6836179/129354369-bbe9dc9c-743b-41b0-b6cd-ef79a4964128.png)

[2021-08-13 12:25] anthonydahanne commented on #19385
ah, seems to be happening there: https://github.com/quarkusio/quarkus/blob/main/extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/ContainerConfig.java

[2021-08-13 12:32] maxandersen commented on #19132
@edeandrea don't try and squeeze this into a k8 based IDEs today - it is a fundemental limitation of how k8s and especially openshift works.

one 'hack' is that testcontainters can work with any docker compatible api so you can kinda get this level of devservices in k8s its just not something that wont be permitted in most clusters.

[2021-08-13 12:33] anthonydahanne commented on #19385
and indeed dekorate does not support this feature as of today: https://github.com/dekorateio/dekorate/blob/master/assets/config.md

[2021-08-13 12:35] edeandrea commented on #19132
@maxandersen I can somewhat agree with what you're saying. The problem is that every workshop we put together, every learning scenario (think Katacodas on learn.openshift.com) all run on a k8s environment and use a cloud-based IDE. Our Quarkus workshop for instance - we can no show nor demonstrate any of these dev services features.

[2021-08-13 13:01] jdang67 opened #19395 "The application stuck when see this -- Tests paused Press [r] to resume testing, [o] Toggle test output, [h] for more options>"
### Describe the bug

1. Start the  app in debug mode:   ./mvnw compile quarkus:dev
2. Stop the application: Ctrl+C
Sometimes, the app does not stop but show
"Press [r] to resume testing, [o] Toggle test output, [h] for more options>"
try r, o, h or Ctrl+C nothing works. The only option is to restart the IDE

### Expected behavior

The app should stop and return the control to the developer

### A

[2021-08-13 13:15] gsmet commented on #19395
Could you run a `kill -3 <pid>` when it's stuck so that we get a stack dump?

[2021-08-13 13:27] geoand commented on #19391
Pinging @geoand to put this on my radar

[2021-08-13 13:40] jdang67 commented on #19395
Thanks for your help. However, the dump file is too big to send by email.

[2021-08-13 14:37] DaveO-Home commented on #19383
* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':listExtensions'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.lambda$executeIfValid$3(ExecuteActionsTaskExecuter.java:186)
        at org.gradle.internal.Try$Failure.ifSuccessfulOrElse(Try.java:268)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.e

[2021-08-13 18:40] edeandrea opened #19397 "Dev Services for Redis should print out the connect string"
### Description

When Dev Services for Redis starts a redis container it should print out the connection string (i.e. `redis://localhost:55043`). This would be very helpful if I want to manually connect the redis cli to the cluster. Right now to get this I have to go into the config editor through the Dev UI to find it.

The dev services for Kafka does this, which is really nice:
[code]

### Imple

[2021-08-13 19:08] radcortez commented on #19387
@mweber03 you are missing the `@ConfigMapping` annotation in your config interface.

I also added a test to Quarkus and it does work as expected.

[2021-08-13 20:10] radcortez commented on #19390
Will be fixed with https://github.com/smallrye/smallrye-config/pull/632.

[2021-08-13 21:29] ozzioma commented on #12340
@wtrocki Olingo v4 does not have direct support for JPA.
This presents a challenge and limits it's usefulness for practical purposes.
I've seen the SAP implementation and it's cool, along with others based on Spring Boot.

Been working on a read-only OData endpoint implementation for now and I'm looking at using JPA 2 Criteria queries.
Any tips or ideas on how to go about implementing a Quarkus na

[2021-08-13 22:04] maxandersen commented on #19132
fyi, it works in gitpod.io and github codeworkspaces

try https://gitpod.io#https://github.com/maxandersen/quarkus-devservice

run `jbang -Dquarkus.dev qdevservice.java` and it just works.

this example is using jbang but it doesn't do anything special. will work with gradle and maven too.

the example just shows docker devservices starts - it needs more setup to actually *do* something so just a

[2021-08-14 09:20] kshpak commented on #19250
`quarkus-maven-plugin` ignores the version and resolve the platform to the latest available
cc @geoand @stuartwdouglas @gsmet

[2021-08-14 11:45] famod commented on #19393
/cc @mkouba @manovotn (because of the CDI relevance, just in case)

PS: I wonder whether we should ban weld dependencies globally.

[2021-08-14 12:24] jaikiran commented on #19392
Hello @dirkweil, I couldn't reproduce this on a Linux setup. When this happens on your setup, could you get a thread dump of the Java process corresponding to this dev run and attach that thread dump to this issue? That might have some hints on what's going on.

[2021-08-14 12:39] jaikiran commented on #19381
Hello @CoryHagerman, thank you for the detailed analysis and the proposed fix. I have opened a PR https://github.com/quarkusio/quarkus/pull/19400 with this change.

[2021-08-14 13:47] jaikiran commented on #19342
Hello @ahamed-k,

Does this happen every time on your Windows setup?

It should work fine without issues on Linux. I gave it a try with the getting started. What command do you use to launch the app (uber jar) on Linux? If you are still running into issues related to usage of uber jar on Linux, please create a separate issue for that so that it's easier to discuss and fix any potential problems th

[2021-08-14 13:58] jaikiran commented on #18782
Hello @digven,

Please use `quarkus.package.type=uber-jar` as noted in the documentation here https://quarkus.io/guides/maven-tooling#uber-jar-maven

[2021-08-14 14:43] robp94 opened #19401 "Can't use Kotlin from java"
### Describe the bug

With the maven config from [quarkus](https://code.quarkus.io/) with the kotlin extension, it is not possible to use kotlin classes in java classes. If you do and build the project with `mvn package,` you get a `cannot find symbol` error.

If you run tests via intellij it is working, or you need to first run `mvn kotlin:compile`. Probably the config for the compiler plugins is

[2021-08-14 15:29] evanchooly commented on #19401
did you configure the kotlin plugin correctly?  https://kotlinlang.org/docs/maven.html

[2021-08-14 15:55] robp94 commented on #19401
I did not change the provided config. I did the changes described here https://kotlinlang.org/docs/maven.html#compile-kotlin-and-java-sources resulting in this pom
[pom.zip](https://github.com/quarkusio/quarkus/files/6986761/pom.zip)
 which results in the same error.

 Extract from the pom file with the build config:

[code]

[2021-08-14 16:05] robp94 commented on #19401
I see the order of the plugins is wrong. If you switch the two plugins it works. Is there a point why the order is like it is in the generated config?

[2021-08-14 16:15] robp94 commented on #19401
Could the configuration for the kotlin extension be adapted accordingly so that it works with java by default?

[2021-08-15 00:01] hieunc278 commented on #19397
Dear @machi1990,
Could I update for this ?

[2021-08-15 00:07] hieunc278 opened #19402 "[CI] - Failed to build Quarkus-maven-plugin on 2.1.1.Final tag"
Currently, when I tried to build quarkus-maven-plugin on 2.1.1.Final tag, I saw the error message as below

APPLEs-MacBook-Pro:maven apple$ mvn -U clean install -e
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------< io.quarkus:quarkus-maven-plugin >-------------------
[INFO] Building Quarkus - Maven Plugin 2.1.1.Final
[INFO] -------------------

[2021-08-15 00:17] #19384 closed

[2021-08-15 07:18] jaikiran commented on #19392
I wasn't able to consistently reproduce this issue, but on one occasion, I did see this "hang". I took a thread dump and here's what it looks like:

[code]

[2021-08-15 07:21] jaikiran commented on #19392
I've raised https://github.com/quarkusio/quarkus/pull/19403 with a potential fix. I haven't been able to consistently reproduce this, so I don't know if we will need anything more to fix this.

[2021-08-15 07:34] jaikiran commented on #19395
Which operating system are you on? Is it possible you are hitting the same issue as https://github.com/quarkusio/quarkus/issues/19392? Does the thread dump that you captured look similar to what is pasted in the comments in that issue?

[2021-08-15 10:10] machi1990 commented on #19397
Yes, it is free for grabs. Thanks for taking up on this @hieunc278

[2021-08-15 11:20] jsmrcka opened #19404 "RESTEasy Reactive build failure with MULTIPART_FORM_DATA"
### Describe the bug

Using `quarkus-resteasy-reactive` extension, I'm trying to do this:
[code]
which should be fine (works for non-reactive `quarkus-resteasy`).
But when I invoke `mvn package`, I get an exception:
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

[resteasy-reactive-multipart-reproducer.zip](https://github.com/quarkusio/quark

[2021-08-15 17:18] GavinRay97 opened #19405 "Can Scala 2 and Scala 2 Jackson be moved out of the BOM and into a Scala 2 Quarkiverse? (Scala is not ABI compatible)"
### Description

The short way of explaining this is that, unlike Java and Kotlin which are generally ABI compatible between versions, Scala's ABI compatibility story is a bit of a mess.

The short of it is that:
- Scala 3 is backwards compatible with Scala `2.13.x` ONLY

But to complicate matters further, here's an example:
- Scala 3 Compiler `3.0.1` pulls in
- Scala 3 Library 3 `3.0.1` which the

[2021-08-15 17:20] GavinRay97 commented on #19405
Wow bot, you tagged a LOT of the wrong people.

Sorry Justin, who I _definitely_ know this has nothing to do with 😅

[2021-08-15 17:32] GavinRay97 commented on #19101
Sorry for slow reply @zakkak

This is fair question, let me ask some of the folks that worked on this area of Espresso specifically. I'm not that knowledgeable either, to be honest.

My understanding was that:
- "Normal" Java/JVM langs already have HotSwap capabilities
- These HotSwap capabiltiies have many limitations due to the nature of JVM (how much code can you really change in a process whil

[2021-08-15 18:45] #19381 closed

[2021-08-15 19:43] GavinRay97 opened #19406 "Leave a note about setting Gradle's console mode to `plain` when using `quarkusDev` or `quarkusTest`"
### Description

The `progress` bar at the bottom of gradle can mess up the formatting of output when in continual dev/test mode.

A simple fix is just to set the console mode to be `plain`, which doesn't have the "progress" bar but maintains all other formatting and color from Quarkus:

In `gradle.properties` it can be set:
[code]
On a per-command basis, by:
[code]

Example of "plain" output:

![

[2021-08-15 19:55] maxandersen commented on #19405
Scala isn't something I've seen used much so I'm not that concerned about "breaking" current user base.

Moving scala to quarkiverse wether it's version 2 or 3 makes sense to me.

[2021-08-15 20:00] aloubyansky commented on #19405
+1

[2021-08-15 20:09] gastaldi commented on #19405
+1, we should rename the quarkiverse/quarkus-scala3 repo to quarkus-scala too

[2021-08-15 22:28] GavinRay97 commented on #19405
So then in that case, I think the remaining questions are roughly something like:

[code]

1. Is removing this from BOM going to break all of Quarkus' Kafka stuff? 😬
	- If so, a quick + easy fix would be to just change Scala version to `2.13.5`, which is what Kafka 2.8 uses:
		- https://mvnrepository.com/artifact/org.apache.kafka/kafka_2.13/2.8.0
	- Then Scala `3.x` _should_ work with all Quarkus

[2021-08-15 22:45] gastaldi commented on #19405
@GavinRay97 you  can have a multimodule project containing quarkus-scala2 and scala3 extensions. Sure, you can also version in different branches if you want

[2021-08-16 02:04] stuartwdouglas commented on #19299
Actually you are completely right, I was thinking about how our implementation was working rather than properly reading the spec (unfortunately the algorithm as described in the spec is super slow, so you can't just implement it directly).

https://github.com/quarkusio/quarkus/pull/19355 will actually take care of this one as well.

[2021-08-16 03:47] GavinRay97 commented on #19405
Ahh a "multi-module" -- sounds solid to me 👍

[2021-08-16 06:21] QuarkusQE commented on #19125
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1134301902

[2021-08-16 06:50] glefloch commented on #19383
@DaveO-Home I just tested it a sample project and the command is ok.

@aloubyansky have you an idea of what could go wrong here?

[2021-08-16 06:55] #19317 closed

[2021-08-16 07:04] sfrank-mc commented on #15628
yasson @geoand bug was fixed. When do you think would that fix be reflected in Quarkus?

[2021-08-16 07:05] Ladicek commented on #19276
Thanks @mbrembilla for filing #19389, let's move the conversation there.

[2021-08-16 07:06] Ladicek commented on #19389
Hmm perhaps that's intentional then -- perhaps codegen in principle can't have access to `application.properties` config. In which case, this really should be documented.

I also took the liberty to assign this to @michalszynkiewicz -- hope you don't mind Michal :-)

[2021-08-16 07:07] geoand commented on #15628
What version of Yasson contains the fix?

[2021-08-16 07:14] aloubyansky commented on #19383
I can reproduce it running `listExtensions` on a project based on the 2.1.1.Final.

[2021-08-16 07:22] andreas-eberle commented on #19317
Thanks @stuartwdouglas !

[2021-08-16 07:26] sfrank-mc commented on #15628
Fix was committed here: https://github.com/eclipse-ee4j/yasson/pull/510
I would imagine next release would contain that. Any way to flag an update for the dependency?

[2021-08-16 07:34] geoand commented on #15628
Not really

[2021-08-16 07:39] sfrank-mc commented on #15628
Perhaps in that case this issue could be left open so that it can be tracked until an update can be made?

[2021-08-16 07:47] sdaschner opened #19412 "Neo4J Quarkus can't be configured for SSL"
### Describe the bug

Using a database URI with encryption makes the application startup fail:

[code]

The issue is caused by a default "change" in the configuration in the `quarkus-neo4j` code in `Neo4jDriverRecorder#configureSsl`, which causes the code in `org.neo4j.driver.internal.SecuritySettings` to override the defaults, regardless of what we put into our Quarkus properties file.

### Expec

[2021-08-16 07:48] geoand commented on #15628
I don't think that will help much to be honest

[2021-08-16 07:52] michael-simons commented on #19412
Yep I did notice that too.

I run it like this

[code]

and don't use the `+s`, `+ssc` protocol additions, that are connivence methods anyway for everything that you can configure explicitly.

[2021-08-16 07:57] MarcusBiel opened #19413 "Simplify / improve / allow to handle exceptions centrally"
### Description

Generally, Error handling in Quarkus is still subpar.

1) Besides the Exception mapping with RestEasy, there is no way to centrally log all exceptions
2) There is no way to handle exceptions individually / Resource or Resouce method.
3) Bad Request exceptions are not properly flagged / handled, my log is full of spammers trying to access php / wordpress, robots.txt, http instead o

[2021-08-16 07:58] MarcusBiel commented on #10154
This issue is over one year old now. Stil quarkus does not offer a decent way to handle exceptions :(

[2021-08-16 07:59] MarcusBiel commented on #10988
This issue is over one year old now. Still no updates? :(

[2021-08-16 07:59] ThoSap commented on #18469
@geoand could we include the netty [`4.1.66`](https://github.com/netty/netty/milestone/241?closed=1) or even better [`4.1.67` ](https://github.com/netty/netty/milestone/242?closed=1)update in Quarkus **2.2.0** as this includes @stuartwdouglas awesome fix for this issue? 😏

[2021-08-16 08:00] MarcusBiel commented on #12219
The issue is now over one year old (taking into account the original ticket I used to report it). Still no update?

[2021-08-16 08:12] sdaschner commented on #19412
Thanks for the quick response! 👍

However, that doesn't work for me:

[code]

I've used:

[code]

Now, is this an Aura Free issue or another Quarkus configuration?

[2021-08-16 08:15] michael-simons commented on #19412
Very welcome :)

You are most likely not passing the driver instance created by Quarkus via the properties to Neo4j-OGM.

Make sure you have an application scoped producer of a session factory like this:
https://github.com/michael-simons/neo4j-from-the-jvm-ecosystem/blob/master/quarkus-ogm/src/main/java/org/neo4j/examples/jvm/quarkus/ogm/support/Neo4jOGMConfig.java#L37

OGM will only use `initiali

[2021-08-16 08:17] geoand commented on #18469
That's up to @cescoffier

[2021-08-16 08:18] michael-simons commented on #19412
Oh wait, it's a bit worrying though…

@injectives what could be the cause of:

[code]

Driver incompatibility? And if so, we doesn't it affect my setup?

[2021-08-16 08:23] sdaschner commented on #19412
Interesting 🤔

Well, kind of, I have a CDI producer that emits a `SessionFactory`, but I used the `Configuration` manually (with injected config values) instead of the available driver:

java
[code]

Switching to injecting the `Driver` worked! But yes, would be interesting to know. If I use above code in a manual test (without Quarkus) it also fails with the same exception...

[2021-08-16 08:26] michael-simons commented on #19412
The quarkus provided driver does not call `verifyConnectivity()`  and I guess if it would, it would fail too.

So do I understand correctly: You use quarkus properties injected into OGM properties? Not that it doesn't change anything here, I am just curious

[2021-08-16 08:29] sdaschner commented on #19412
I've injected the `@ConfigProperty` values to access the Quarkus properties in my producer. The class was:

[code]

Btw, IDK if the native types might produce another issue if we just use the Quarkus-provided driver? :)

[2021-08-16 08:32] michael-simons commented on #19412
Config makes sense.
No, the types should not make a difference. "Native" here means date and time types native to Neo4j, and not string based properties.

[2021-08-16 08:44] #19392 closed

[2021-08-16 08:48] Ladicek commented on #19350
Thanks @mbrembilla! Autodetection of serializer/deserializer class only applies to SmallRye Reactive Messaging, so that doesn't help in Kafka Streams applications.

[2021-08-16 08:51] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1134301539

[2021-08-16 08:53] michalszynkiewicz commented on #19389
To be consistent, it would be nice if we allowed setting these properties in `application.properties`.
When/if I have a while I'll take a look how easy it would be to implement it.

[2021-08-16 09:00] #19341 closed

[2021-08-16 09:16] michalszynkiewicz commented on #19321
With `@Transactional`, I'm guessing the transaction is started prior to `GreeterGrpcService#sayHello`.
Therefore, the fact that you do `emitOn` in the method doesn't matter.
What you need here is to add `@Blocking` on your method.

[2021-08-16 09:21] michalszynkiewicz commented on #17153
@casmeiron are you sure `handles` returns true in your exception mapper?
Also, does your mapper have a higher priority than the default exception mapper?

[2021-08-16 09:42] jaikiran commented on #19082
This exact error was previously once raised in https://github.com/quarkusio/quarkus/issues/10682#issuecomment-729064863. With the useful additional details you added in this new issue, it helped understand what might be going on. This looks like an issue in GraalVM itself. So I've opened https://github.com/oracle/graal/pull/3680 with a potential fix.

[2021-08-16 09:44] jaikiran commented on #10682
This one should now be fixed by this PR https://github.com/oracle/graal/pull/3680

[2021-08-16 10:09] michalszynkiewicz opened #19415 "Rest Client Reactive: Exceptions from ResponseExceptionMapper are wrapped in ProcessingException"
### Describe the bug

reproducer: https://github.com/mkonzal/quarkus-reactive-response-exception-mapper.git

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or

[2021-08-16 10:45] gsmet commented on #19393
Yeah, this is tricky. `resteasy-cdi` depends on Weld-specific API AFAICS so I have no idea how it could work with ArC. @michalszynkiewicz could you have a closer look to this? My guess is that we should probably drop the dependency to `resteasy-cdi` and have our own ArC based implementation.

[2021-08-16 10:45] galderz commented on #18360
I've been doing some benchmarking of Quarkus getting started app (the HTTP REST one) with different GraalVM versions, including latest master commits, and while I was away graalvm master appears to have made considerably improvements to memory consumption:

21.3-dev looks like this today:
![Screen Shot 2021-08-16 at 12 31 21](https://user-images.githubusercontent.com/50187/129551680-56a8daf1-9b0f-

[2021-08-16 10:48] galderz commented on #18360
One more detail from the screenshots above: my testing corroborates the big regression found by @vsevel above with 21.1.0, which is the slowest version of the ones I compared.

[2021-08-16 10:53] Ladicek commented on #19098
I realized we didn't post an update here for a while. The TLDR is that a fix has been merged to SmallRye Reactive Messaging (https://github.com/smallrye/smallrye-reactive-messaging/pull/1339) and will be available in a 3.9.0 release, which will be available in time for Quarkus 2.2.

I'll share my personal take on this, but @ozangunalp did most of the work, so I'll let him share his view, if so des

[2021-08-16 10:58] gsmet commented on #9834
Yeah, it's not so easy to use `banDuplicateClasses` in our case as there are a ton of issues that are not fixable by us directly. Typically like the REST Assured issue.

That being said, I'll have a look at what @sebthom is showing as I wouldn't expect it to break on our own dependencies.

[2021-08-16 11:43] loicmathieu commented on #19098
Many thanks @Ladicek for the detailed explaination.
And a big THANK YOU to you and @ozangunalp for working on this and making it performs so well.

I'll post final performance tests results here with new profiles then close it as now the performance issue is fixed.

[2021-08-16 12:21] galderz commented on #4919
Hmmmm, I've added https://github.com/oracle/graal/pull/3179 (part of 21.1 onwards), which allows graalvm to exclude the configuration from certain resources within jars. However, I'm not sure if this is exactly what @emmanuelbernard was asking when talking about `MANIFEST`.

[2021-08-16 12:38] casmeiron commented on #17153
Yes, handles returns true, higher priority etc... I've changed to reactive version, now it works like it should.

[2021-08-16 12:49] #19335 closed

[2021-08-16 12:52] sdaschner commented on #19412
Btw are there some plans to fix this (the original issue with `neo4j+s`)? I could come up with a PR, but I probably don't have all the scenarios & permutations to test this.

[2021-08-16 12:52] tsegismont commented on #19271
I tried to reproduce without success.

I created a new project with `mvn io.quarkus:quarkus-maven-plugin:2.1.2.Final:create`
Then when asked which extensions to add, I typed `picocli,reactive-mysql-client`.

Here's the generated POM:

[code]

I modified the generated command like this:

[code]

Then ran:

[code]

The output is:

[code]

Please provider a reproducer.

[2021-08-16 12:58] cescoffier commented on #18745
@fjtirado should we close this issue as both tickets have been marked as resolved?

[2021-08-16 13:12] #19313 closed

[2021-08-16 13:49] Shpota opened #19420 "Panache fails with NoSuchMethodError in Kotlin projects after updating Quarkus from 2.0.1 to 2.1.2"
### Describe the bug

After updating Quarkus from 2.0.1 to 2.1.2, calling `PanacheCompanionBase.list()` fails with NoSuchMethodError:
[code]

### How to Reproduce?

1. Generate a Quarkus 2.1.2 project with Gradle, Kotlin, Panache (`quarkus-hibernate-orm-panache-kotlin`)
2. Create the following class:
[code]
3. Add a test:
[code]
5. Execute the test and get `NoSuchMethodError`

### Output of `java

[2021-08-16 14:00] Shpota commented on #19321
Thank you @michalszynkiewicz. This code used to work before Quarkus 2.1.0 without `@Blocking`, do you know why it stopped working? Is it an expected behavior?

[2021-08-16 14:11] jaikiran commented on #19356
Furthermore, I see that GraalVM itself has certain registrations it does for JNI for this specific `sun.java2d.cmm.lcms.LCMS` here https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/jdk/JNIRegistrationAwt.java#L71. Should GraalVM itself be then doing any substitutions required for this class and perhaps Quarkus can completely remove these su

[2021-08-16 14:13] zakkak commented on #19338
FWIW one of the issues turns out to be the move of `SerializationRegistry` from `com.oracle.svm.core.jdk.serialize` to `com.oracle.svm.reflect.serialize`. As the fix is trivial I went for it in https://github.com/zakkak/quarkus/commit/b6e498bcabdc2ffccb45193ae685447b279b98c2 without success.

I have also tried invoking the new `RuntimeSerialization.register` when using GraalVM 21.3 without success

[2021-08-16 14:25] glefloch commented on #19386
@mweber03, in your top level gradle file, did you set the `dependencies` block in the `allproject{}` or `subprojects{}` block ?

[2021-08-16 14:33] cescoffier commented on #19318
Just to answer @ozangunalp question, the 'enabled' channel is not part of the spec. This is smallrye specific.

[2021-08-16 14:48] jaikiran commented on #11841
Outdated

[2021-08-16 14:48] #11841 closed

[2021-08-16 14:49] #19133 closed

[2021-08-16 14:51] #18542 closed

[2021-08-16 14:51] #19299 closed

[2021-08-16 14:57] jamezp commented on #19393
It looks like there's only one place where Weld is explicitly used in resteasy-cdi. I've filed https://issues.redhat.com/browse/RESTEASY-2986 to have a look at that. I would hope it could be removed.

[2021-08-16 15:00] gsmet commented on #19393
Tbh, I have no idea if we need `resteasy-cdi` around, I hope @mkouba or @michalszynkiewicz will shed some light on this.

[2021-08-16 15:07] jamezp commented on #19393
I would kind of expect you don't. Not to distract too much, but maybe @mkouba could let me know if there is a way around [this](https://github.com/resteasy/Resteasy/blob/7f718a8955eba609f9a0bbef3bc460d5c39fc673/resteasy-cdi/src/main/java/org/jboss/resteasy/cdi/CdiPropertyInjector.java#L61-L65) with just the API :)

[2021-08-16 15:20] gsmet commented on #9834
I pushed a PR that should this one issue: https://github.com/quarkusio/quarkus/pull/19422 .

[2021-08-16 16:04] nastra commented on #15057
+1 on adding this to the gRPC guide. I ran into this problem and found this issue here and it can be fixed by https://github.com/quarkusio/quarkus/issues/15057#issuecomment-780506852

[2021-08-16 16:21] cescoffier commented on #8371
I just opened a PR.

[2021-08-16 16:23] cescoffier commented on #18975
It reports that the configuration is incorrect. You reference a connector that is not available (`kubernetes-api`), so the channel is invalid.
You can disable the channel using `mp.messaging.incoming.cleanupjob-in.enabled=false`

[2021-08-16 16:24] cescoffier commented on #18975
Closing - please reopen if I missed something.

[2021-08-16 16:24] #18975 closed

[2021-08-16 16:26] cescoffier commented on #18998
Yes, would be nice to have an extension extracting this. However, there are other oauth supports, so we need to think how we want to articulate this.

[2021-08-16 16:30] cescoffier commented on #5432
This has been fixed in Reactive Messaging.

[2021-08-16 16:30] #5432 closed

[2021-08-16 16:31] cescoffier commented on #19059
@chris-asl Yes! That would be awesome!

[2021-08-16 16:36] cescoffier commented on #9448
Still something I want. We never had the time to look into that seriously.

[2021-08-16 16:40] cescoffier commented on #16390
It looks like you are accessing the database from an I/O thread.

[2021-08-16 16:44] cescoffier commented on #19277
I would stay away from running it in Java because of port conflicts and classloading issues. The lack of a slim and supported image is annoying. Doing one ourselves would require a non-meaningless maintenance cost.

[2021-08-16 16:58] cescoffier commented on #18469
We can try with Netty 4.1.67. However, updating netty is never a peaceful journey. I will open a PR tomorrow to see how far it goes.

[2021-08-16 17:07] sberyozkin commented on #19141
Hi @solsson thanks for the feedback,
I think at the very least we can document how to use the `keycloak-x` images. Red Hat builds of Keycloak are still WildFly based as far as I know and this is what QE is testing against so I guess it is better to keep it in sync at the dev services level by default as well for now at least. I'll experiment with the `-x` images in the next few days, thanks
CC @st

[2021-08-16 17:18] sberyozkin commented on #19177
@lwitkowski Hi, I'm surprised it even works at the JAX-RS level given that the parameter class is `private static`; can you please try the latest Quarkus release ?
@stuartwdouglas - does it ring any bell to you why a RolesAllowed check is skipped for a method like this one, https://github.com/lwitkowski/quarkus-role-bug/blob/main/src/main/java/quarkus/HelloResource.java#L19 ?

[2021-08-16 17:23] sberyozkin commented on #19190
Hi Rostislav, @rsvoboda, sorry, but it is not a bug - it is by design that combining conflicting methods is expected to fail (CC @stuartwdouglas) - the fact it was working in `2.1.0.Final` was in fact a regression which I introduced after adding an `authenticationScheme` property to HTTP credential transport - there was an issue recently where the user forgot to remove `smallrye-jwt` while working

[2021-08-16 17:23] #19190 closed

[2021-08-16 18:44] michalszynkiewicz commented on #19321
I'm not sure, it seems like some additional checks for running blocking code on the event loop have been added.

[2021-08-16 18:48] #19321 closed

[2021-08-16 18:58] gsmet commented on #19321
@stuartwdouglas didn't you make things automatically blocking when using @Transactional for RESTEasy Reactive? I remember you talked about it, I don't remember if it was done. If so, would it make sense to do the same for gRPC?

[2021-08-16 19:31] MarcusBiel opened #19428 "Jackson extension should provide configuration for serializing null or empty values"
### Description

I wrote a ObjectMapperCustomizer to configure jackson, since it is not possible to do that through the config, as stated here:

https://quarkus.io/guides/all-config#quarkus-jackson_quarkus-jackson-jackson
At this point it offers:
qarkus.jackson.fail-on-unknown-properties
quarkus.jackson.fail-on-empty-beans
quarkus.jackson.write-dates-as-timestamps
quarkus.jackson.accept-case-insen

[2021-08-16 20:10] #19397 closed

[2021-08-16 20:15] stuartwdouglas commented on #19321
I did, IMHO it does, @Transactional is inherently blocking as it uses the blocking JTA API's.

[2021-08-16 20:17] stuartwdouglas commented on #19141
Dev Services is about developer experience, and is not really a 'supported' feature (in that you don't use it in production). IMHO it is fine to use Keycloak-x, we already do something similar with Kafka (use a smaller non-supported image for a better dev experience).

[2021-08-16 20:26] gastaldi commented on #19428
/cc @gsmet @geoand

[2021-08-16 20:33] famod commented on #19428
Good suggestion! 👍 But it only makes sense to set _one_ inclusion, not multiple ones, right? That's how I understood the api docs.

[2021-08-16 20:36] gastaldi commented on #19428
Something like `quarkus.jackson.serialization-inclusion=always` accepting the `com.fasterxml.jackson.annotation.JsonInclude.Include` enum would be nice

[2021-08-16 20:38] famod commented on #19413
Where would you want exceptions to be logged "centrally"? On "service level"?
IMO it would be nice if Quarkus would provide a general purpose exception logging CDI interceptor but I'm less that sure that Quarkus can/should try to guess which beans are to be covered.

[2021-08-16 20:46] famod commented on #19402
Seems like this `test-jar` dependency has never ever been deployed to sonatype/central and given it only includes classes for "internal" test use, I think this makes sense. /cc @gsmet

"Workaorund": Build `independent-projects/bootstrap/core`.

Why are you building something that has already been deployed to central in the first place?

[2021-08-16 20:48] famod commented on #19388
/cc @radcortez

[2021-08-16 22:01] famod commented on #8218
Ok thanks, I'm now seeing (in getting-started quickstart):
[code]
This is very useful! I'm just wondering whether a more "compact" output could be added? E.g. in properties format? Or even YAML (additionally)?

[2021-08-16 22:17] famod commented on #19362
If this is implemented, there should be an opt in or out.
Why? My current project consists of 7 modules and we can dev mode in most of them, but we only build the actual final app in a single module.
With this setup, it would not make much sense to run all tests, also because we have QuarkusTests (partially with TestProfiles) all over the place.

[2021-08-16 22:31] famod commented on #19373
Most likely related to #18653.

[2021-08-16 22:59] gastaldi commented on #8218
Some emoticons would be nice too, like ❌ for missing properties and ✔️ for existing ones

[2021-08-16 23:00] gastaldi commented on #8218
But IMHO showing only what's set should be enough, given the amount of properties

[2021-08-16 23:09] stuartwdouglas commented on #19362
Each module will have its own class path setup and run in an isolated manner. It might surprise you how well it actually works.

That said, there will definitely be the option to limit the tested modules.

[2021-08-16 23:57] kjq opened #19434 "Setting quarkus.resteasy.path not reflected in OpenAPI or Swagger"
### Describe the bug

When I set the "quarkus.resteast.path" it works making API calls directly but does not get reflected in the OpenAPI or Swagger.

Using @ApplicationPath and setting eash @Path looks to work.

### Expected behavior

OpenAPI and Swagger reflect the path set in the application properties.

### Actual behavior

RESTful calls works but OpenAPI and Swagger do not reflect the path.

[2021-08-17 04:48] stuartwdouglas opened #19438 "BUILD_AND_RUN_TIME_FIXED configuration is not actually fixed"
### Describe the bug

At runtime these classes are not initialized with the build time value. You get a warning but they are initialized from the runtime config.

'Specified build/runtime' values also currently have lower priority than the packaged application.properties, so building with system properties to override config only works if the confg is not present in application.properties.

### Ex

[2021-08-17 05:53] ozangunalp commented on #19098
👍 I've written my resume of the fix in the PR.
We went along with a lot of false assumptions but I'm glad that we made the backpressure work without a performance drop. I think the key was to test the issue with "hard-working" consumers (via `consumeCPU` etc.).
@loicmathieu let us know if your other tests are looking good, then we need to wire it in Quarkus and close this issue.

[2021-08-17 06:46] phillip-kruger commented on #19434
Do you perhaps have a small reproducer ?

[2021-08-17 06:49] phillip-kruger commented on #19434
We have these 2 test cases testing this scenario:

https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiWithResteasyPathHttpRootDefaultPathTestCase.java

https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-openapi/deployment/src/test/java/io/quarkus/smallrye/openapi/test/jaxrs/OpenApiWithRes

[2021-08-17 06:52] nastra commented on #15057
@michalszynkiewicz I opened https://github.com/quarkusio/quarkus/pull/19441 that updates the gRPC guide. Do you have some free cycles to review it?

[2021-08-17 07:05] cescoffier opened #19442 "Cannot deploy "pure" messaging application to Kubernetes"
### Describe the bug

If you have an application that does not run an HTTP server, the OpenShift/Kubernetes metadata generation fails with:
[code]

It does not fail the build, just do not generate the descriptors and skip the deployment.

Not having an HTTP server is very likely for pure messaging applications that do not expose an HTTP endpoint.

### Expected behavior

It should still generate th

[2021-08-17 07:09] cescoffier commented on #19442
**Workaround:**

Add the resteasy reactive extension and a dummy resource:

[code]

[2021-08-17 07:17] Ladicek commented on #19277
Also the Confluent Schema Registry code, except of the client libraries, is licensed under Confluent Community License, which doesn't seem to be an open source license. So there's a risk there, in my opinion (which doesn't weigh much, as I'm not a lawyer :-) ).

[2021-08-17 07:20] #8371 closed

[2021-08-17 08:08] geoand commented on #19442
This is a known limitation that we should lift at some point

[2021-08-17 08:27] #19428 closed

[2021-08-17 08:35] michalszynkiewicz commented on #17153
@casmeiron what do you mean by changing to reactive version?

[2021-08-17 08:37] gunnarmorling opened #19444 "Move to Apache Kafka container image for testing"
### Description

The currently used Red Panda image isn't ideal in terms of similarity of tech used for dev/testing and prod for most people. As discussed with @cescoffier, I've created a container image that runs both Apache Kafka and ZooKeeper, starts reasonably fast and can be used with the Kafka dev service in Quarkus. I'll be happy to follow through with the actual contribution here, provided

[2021-08-17 08:38] gunnarmorling commented on #19444
@cescoffier, how should I proceed to move an image into Quarkus' quay.io org?

[2021-08-17 08:38] joyrex2001 opened #19445 "Redpanda container use"
In the kafka dev services implementation, the redpanda container is used. In there, the default entrypoint.sh is replaced with a custom script (see [here](https://github.com/quarkusio/quarkus/blob/61ef9b8a2881918b240baa017643bf871a429d32/extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevServicesKafkaProcessor.java#L331)). Is there any specific reason for this?

[2021-08-17 08:54] sberyozkin commented on #19263
@javiertoja Hi, the values set in `RolesAllowed` are not logged, i.e, for ex, there would be no message like "Token contains a,b,c roles while RolesAllowed only contains d and e". When 403 occurs it is always the case that the token has no roles at all or has no matching roles so given that roles are set in KC and also in `RolesAllowed` it is easy enough to check why 403 occurs. Logging the specif

[2021-08-17 09:07] sberyozkin commented on #19141
Grand, I'll need to check all the provided options (grant types, custom ream imports) work with it and then can switch

[2021-08-17 09:17] sberyozkin commented on #19177
@lwitkowski The logs in your tests show:
[code]

The returned key value is `0` - which implies that something is going wrong at the deserialization level - as the value of `1` is expected. As I said I'm not sure it is a valid JAX-RS setup

[2021-08-17 09:18] injectives commented on #19412
Failure to acquire a working connection towards a routing server. More details here: https://github.com/neo4j/neo4j-java-driver/issues/986#issuecomment-900129906

[2021-08-17 09:22] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1138026359

[2021-08-17 09:51] michalszynkiewicz commented on #15057
@nastra thanks a lot :)

[2021-08-17 10:05] lwitkowski commented on #19177
Thanks for looking into this @sberyozkin, you're right about log message showing 0 instead of 1, it was caused by package private modifier for `key` field, but it doesn't change anything regarding RolesAllowed check.

I've just committed some fixes: https://github.com/lwitkowski/quarkus-role-bug/commit/b3d6cb486656925b87c4757e8bea221f7c0fc0c6

1. Test run with the latest quarkus (2.1.2.Final) - st

[2021-08-17 10:15] gsmet commented on #7293
I'm closing this given I was unable to reproduce the problem.

Please reopen with a reproducer if you have one.

[2021-08-17 10:15] #7293 closed

[2021-08-17 10:18] loicmathieu commented on #19420
Hi,
I can reproduce the error, it may be linked to recent changes on internal method signature, I'll have a look.

[2021-08-17 10:25] zakkak opened #19446 "InlineBeforeAnalysis enabled by default in coming GraalVM 21.3 release"
### Description

In 21.0 GraalVM introduced a new compiler flag `-H:+InlineBeforeAnalysis` (see https://github.com/oracle/graal/issues/2594) and quarkus introduced a new build item for it (see https://github.com/quarkusio/quarkus/pull/16134).

In 21.3-dev (latest GraalVM master) this flag has been turned on by default (see https://github.com/oracle/graal/pull/3628/files) making the builditem intro

[2021-08-17 10:26] casmeiron commented on #17153
@michael-schnell Changed to  -Dextensions="resteasy-reactive-jackson,rest-client-reactive-jackson" fixed the issue for me.

[2021-08-17 10:29] aloubyansky commented on #19250
That is actually expected. I am still not sure whether it's a good thing though given that the plugin is released along with the Quarkus core.
Now all the devtools pull in the recommended Quarkus (platform) version from the registry.quarkus.io.

[2021-08-17 10:41] kshpak commented on #19250
It presents ambiguity for the users, why then they should specify the version!?

[2021-08-17 10:43] Eng-Fouad opened #19447 "JDBI Extension"
### Description

Quoted from [documentation](https://jdbi.org/):

Some usage examples:

[code]

[code]

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

### Configuration suggestion

_No response_

### Additional context

[jdbi/jdbi#1890: Support for Quarkus and native image](https://github.com/jdbi/jdbi/issues/1890)

[2021-08-17 10:48] aloubyansky commented on #19250
The fact that the `platformVersion` seems to be ignore is definitely a bug.

[2021-08-17 10:56] QuarkusQE commented on #19125
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1138026842

[2021-08-17 11:28] #19383 closed

[2021-08-17 11:46] cescoffier commented on #19444
@gunnarmorling The images are built with CEKit and the modules and assembly are hosted on https://github.com/quarkusio/quarkus-images.

I'm wondering if we don't need another repo for the Kafka one. Maintaining the quarkus-images is already not "easy". Having weekly deployment and graalvm based updates are irrelevant for Kafka.

[2021-08-17 12:14] Sgitario opened #19448 "Arc: Regression issue when mapping `@ConfigMapping` using a custom ConfigSource implementation"
### Describe the bug

This issue affects all users that provide a custom config source (org.eclipse.microprofile.config.spi.ConfigSource). For example:

[code]

Where `configsource.properties` is:

[code]

When mapping:

[code]

It does not work any longer by failing with the following exception:
[code]

The root cause of this issue is this commit https://github.com/quarkusio/quarkus/commit/fd4b30

[2021-08-17 12:23] cescoffier commented on #18450
I looked into it a bit more. The reproducer sends a message that is processed asynchronously. Messages sent using an emitter are always handled asynchronously - see https://quarkus.io/blog/reactive-messaging-emitter/. However, the transaction ends at the end of the method so, **before** the message being processed. This is not correct and the error message is telling that the object is touched out

[2021-08-17 12:23] #18450 closed

[2021-08-17 12:25] gsmet commented on #19444
I think we need a separate repo. We also need to decide who is going to maintain these images long term.

Because right now, we aren't maintaining them ourselves.

[2021-08-17 12:26] cescoffier commented on #19165
That's the same problem as https://github.com/quarkusio/quarkus/issues/18450.
The transaction may have already been committed when the message gets processed. You need to make sure the transaction is still active. I've detailed a solution in #18450.

[2021-08-17 12:26] #19165 closed

[2021-08-17 12:26] Sgitario commented on #19448
/cc @radcortez

[2021-08-17 12:30] gsmet commented on #19165
@cescoffier  Should this be documented if it's a common question?

[2021-08-17 12:33] gsmet commented on #19401
Can we have a config that would work in all cases e.g. Kotlin calling Java or Java calling Kotlin? If not then I suppose we should choose the most common usage and document the other.

[2021-08-17 12:35] aloubyansky commented on #18771
This one was fixed in one of the previous 2.x versions. If a registry isn't available and its catalogs haven't been cached yet it will fail with an error like
[code]

[2021-08-17 12:35] #18771 closed

[2021-08-17 12:35] gilles-duboscq commented on #19101
To clarify on what espresso offers exactly there: it is possible to embed espresso into any native-image and use it to load and run bytecodes. It works in the same way that it's possible to embed the [GraalVM JavaScript](https://github.com/oracle/graaljs) implementation into any native image.

The result is that you have 2 JVM environments in the same process: "host Java" that runs in HotSpot or p

[2021-08-17 12:48] #9834 closed

[2021-08-17 12:52] evanshortiss opened #19450 "adding optional environment variable example"
### Description

I ran into this issue today. My application has a properties like so:

[code]

I wanted to make the `security.header.value` optional, i.e default to `null` if not found. The issue was that I received `Could not expand value SECRET_HEADER_VALUE in property security.header.value`. If no default value is given.

Eventually I found that adding a colon achieved my desired behaviour `se

[2021-08-17 12:52] #19387 closed

[2021-08-17 12:54] cescoffier commented on #19165
I agree... the question is: where.
Maybe we can add a section in the kafka reference guide (even if it's not kafka specific). @ozangunalp WDYT?

[2021-08-17 12:55] dthommes opened #19451 "Support native execution of JUnit tests via Graal's NativeImageJUnitLauncher"
### Description

The Graal Team has announced support for running JUnit 5 tests natively in June:

https://medium.com/graalvm/gradle-and-maven-plugins-for-native-image-with-initial-junit-testing-support-dde00a8caf0b

In short, it works like this:

- A native-image feature (`JUnitPlatformFeature`) collects information about the JUnit tests in the classpath at build time.
- A native image executable

[2021-08-17 13:02] kjq opened #19452 "Kubernetes Config fails on EKS/K8S 1.21 with Service Account Error"
### Describe the bug

We see these errors when deploying our native service using the latest Quarkus and the "kubernetes-config" extension:
WARN: Error reading service account token from: [/var/run/secrets/kubernetes.io/serviceaccount/token]. Ignoring

ERROR: Failed to start application (with profile my-release) io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: GET at: htt

[2021-08-17 13:04] gunnarmorling commented on #19444
That's interesting, who is maintaining e.g. the Quarkus builder image currently?

To clarify what this is about, here's the image I've created: https://github.com/gunnarmorling/kafka-testing. I expect effort for this to be really low: it's based on UBI, and once there's support for Java 17 (LTS), the only thing needing updating every now and then would be the Kafka version itself. The image should

[2021-08-17 13:19] #19045 closed

[2021-08-17 13:30] rymurr commented on #18131
@kenfinnigan I believe this is related to #17634

We have a lot of noise in our logs now as the jaeger endpoint being set doesn't exist.

[2021-08-17 13:32] kjq commented on #19434
I tried to build a small reproducer but I am not sure if it is valid or not.

For whatever reason, it seems when I use "quarkus.resteasy.path" it does not get recognized but using "rest.path" does.  I've now managed to confused myself.  Either way, if this is valid, the SwaggerUI does not reflect the path set in the application.yaml.

I will look into it a little more later today but maybe for sta

[2021-08-17 13:34] ozangunalp commented on #19165
I find that in general, using reactive messaging streams in integration with other reactive APIs is not that obvious. We need a place to document these "common integration patterns". Here's a couple that comes to my mind :
- Persisting Kafka messages with hibernate-reactive,
- Writing messages to Kafka in hibernate transactions,
- Exposing Kafka topics using server-side events and resteasy-reactiv

[2021-08-17 13:40] kenfinnigan commented on #18131
@rymurr it's not related as the change in the PR you referenced deals with Jaeger exporter for OpenTelemetry.

It did not impact OpenTracing integration with Jaeger in any way

[2021-08-17 13:41] phillip-kruger commented on #19434
Maybe a yaml issue ? Have you tried with application.properties ? (that is how the test cases work)

[2021-08-17 13:56] kjq commented on #19434
Hmm, just tried with application.properties (just replaced the yaml with an application.properties) and it did the same thing.

As a side note, using the @ApplicationPath "seemed" to work as expected - both OAS and Swagger reflected the path.

[2021-08-17 13:59] phillip-kruger commented on #19434
Maybe look at the tests I have referenced, and see if you can configure a test so that it replicate your setup ?

[2021-08-17 14:01] evanchooly commented on #19401
The kotlin documentation explicitly [says](https://kotlinlang.org/docs/maven.html#compile-kotlin-and-java-sources) to invoke the kotlin compiler first.  So this definitely feels like a bug in the project generator (is that @aloubyansky responsible for those bits?).  I believe this is because the kotlin compiler can compile the java sources and so properly resolve cross references.

[2021-08-17 14:20] gsmet commented on #19401
So the problem is that we merge:
https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/base/pom.tpl.qute.xml
with
https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/kotlin/pom.tpl.qute.xml
when generating a Kotlin pro

[2021-08-17 14:23] ia3andy commented on #19401
@gsmet at codestart level, yes we need to put it in the /java only directory (https://github.com/quarkusio/quarkus/tree/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/java) if it's only needed for java.

[2021-08-17 14:33] kjq commented on #19434
The "should_have_v1" test give me the error using either the yaml/properties file.  The "should_not_have_v1" passes.

[ERROR] Failures:
[ERROR]   OpenApiTest.should_have_v1_in_path:19 1 expectation failed.
JSON path paths doesn't match.
Expected: map containing ["/v1/ping/me"->ANYTHING]
  Actual: <{/ping/me={get={responses={200={description=OK, content={application/json={schema={type=boolean}}}}}}

[2021-08-17 14:37] evanchooly commented on #19401
That sounds right.  For kotlin, we'd still need the maven-compiler-plugin but primarily to remove the phases from different goals so they don't execute.

[2021-08-17 14:40] geoand commented on #19448
This is odd, as we have an integration test that tests the extension in native mode

[2021-08-17 14:42] gsmet commented on #19401
@evanchooly If you can put together a small project showing how it should be, we can probably take it from there.

[2021-08-17 14:43] ebullient commented on #19434
Yes, should be `quarkus.rest.path`

This may also help:

https://quarkus.io/blog/path-resolution-in-quarkus/

Note that as of 2.x, the redirect behavior has been removed, but the rest is accurate.

[2021-08-17 14:49] kjq commented on #19434
quarkus.*rest*.path or quarkus.*resteasy*.path?  I am totally confused
now.  The test case I mirrored used *resteasy*.

From the test case...
@RegisterExtension
static QuarkusUnitTest runner = new QuarkusUnitTest()
        .setArchiveProducer(() -> ShrinkWrap.create(JavaArchive.class)
                .addClasses(OpenApiResource.class, ResourceBean.class)
                .addAsResource(new StringAs

[2021-08-17 14:51] wabrit commented on #18713
The existing Hibernate annotations `@CreationTimestamp` and `@UpdateTimestamp` can be already be used on entity class properties.

Implementing e.g. `@CreationPrincipalName` and `@UpdatePrincipalName` as additional Hibernate generated value annotations should be reasonably straightforward if they are backed by a value generator that uses e.g. `CDI.current().select(SecurityIdentity.class)` to extra

[2021-08-17 14:52] kjq commented on #19434
Just confirmed, using my reproducer with a mirrored test case (details on
https://github.com/quarkusio/quarkus/issues/19434) using either "rest" or
"resteasy" gives me the same results.  Using the @ApplicationPath seems to
work.

On Tue, Aug 17, 2021 at 10:48 AM KimJohn Quinn ***@***.***> wrote:

[2021-08-17 15:02] Sgitario commented on #19448
Yes, see the reproducer section.

It must be caused to a very recent change as I was using a build (of Quarkus upstream) from the last week and it was working fine.

[2021-08-17 15:03] geoand commented on #19448
Interesting... I've been on PTO (and will continue for a few more days) for that time so I have no idea what could have changed

[2021-08-17 15:08] evanchooly commented on #19401
Probably any of the kotlin panache integration tests would suffice.  or the pom shown on the kotlin docs link above

[2021-08-17 15:09] Sgitario commented on #19448
I'm checking the integration test in Quarkus upstream and It's using the `@ConfigProperty` annotation which works fine. This issue happens only when using the `@ConfigMapping` annotation.

I will review the commit history from last week to today by tomorrow morning to try to spot what could cause this issue.

[2021-08-17 15:17] m-brophy opened #19456 "mp-rest config settings from application.properties are ignored when using test-profile"
### Describe the bug

I'm trying to load a file and validate some of the contents using data retrieved from a  remote rest endpoint (TagService is my class to do this with @RegisterRestClient here). To set this up I've configured connection details in application.properties using mp-rest for TagService. This works fine.

In my unit  tests I initially mocked out the operation of TagService succesfu

[2021-08-17 15:26] cescoffier commented on #19444
We are maintaining the Quarkus builder image. We even have a few tests verifying the behavior. But it still requires some maintenance work (GraalVM updates, dependency changes, base image update...).

For the Kafka image, I believe that a weekly rebuild (pulling the latest ubi image) would be enough. Do you use ubi-java or ubi and install java yourselves? In the later case, we would need to also v

[2021-08-17 15:27] cescoffier commented on #19444
Forgot one important part. For this image, no need to switch to Cekit. There is no module to reuse.

[2021-08-17 15:48] joyrex2001 commented on #19445
Found out why; the reason is because it needs to advertise the mapped port with `--advertise-kafka-addr` and it doesn't have a port mapped until the container is started.

The actual reason why I was asking, is that I am trying to run the tests in a pipeline that uses [kubedock](https://github.com/joyrex2001/kubedock) to orchestrate the containers in k8s and not being dependant on docker-in-docker

[2021-08-17 16:06] sberyozkin commented on #19141
@solsson Hi, unfortunately importing the custom realms does not seem to work, have you tried it with your image ? Thanks

[2021-08-17 16:17] mweber03 commented on #19386
@glefloch It's in the `subprojects` block. Which is where we've always had it.

[2021-08-17 16:25] csotiriou commented on #16592
Issue persists in Quarkus 2.1.1.Final

[2021-08-17 16:29] javiertoja commented on #19263
@sberyozkin Hello, thanks for your time and look into this.

I didn't know that the 403 could happen only in this case, I thought that maybe there where more scenarios where this error could happen. I see your point.

When I submitted the issue I wasn't looking for such a detailed message, with information about specific roles, rather than something more generic like "Token roles do not satisfy th

[2021-08-17 16:42] gunnarmorling commented on #19444
+1

I need to correct myself, currently it's not using UBI but Fedora. [I'm installing](https://github.com/gunnarmorling/kafka-testing/blob/main/src/main/docker/Dockerfile.jvm-cds#L27) the java-16-openjdk-headless package there. I don't think UBI has Java 16 yet, and I wanted to use it to benefit from fast start-up thanks to CDS.

[2021-08-17 17:11] vchrisb opened #19460 ""Separating Java and native image compilation" docs different to actual behaviour"
### Describe the bug

The docs for ["Separating Java and native image compilation"](https://quarkus.io/guides/building-native-image#separating-java-and-native-image-compilation) are different than the actual behaviour.

### Expected behavior

It is expected that `./mvnw clean package -Dquarkus.package.type=native-sources` will generate two files:
[code]
These can be used to build the native image

[2021-08-17 17:50] lostiniceland commented on #19165
I do not agree that the issue is solved with the remarks done in #18450
First, there is an SQLException thrown at the end of the exception (not a Kafka-Exception), which doesnt show up when using Quarkus 1.3.x. So there is something wrong with 2.x
Sure, the example is plain wrong in general, because Kafka does not take part in a JTA transaction, so you should not do this dual-write. You might end

[2021-08-17 18:35] cescoffier commented on #18745
Ok - closing as it's kogito related.
Please re-open if the issue remains.

[2021-08-17 18:35] #18745 closed

[2021-08-17 18:40] cescoffier commented on #19248
It would be great if you could provide a simple reproducer.

[2021-08-17 18:42] cescoffier commented on #16571
Closing - looks outdated. Please reopen if the problem remains.

[2021-08-17 18:42] #16571 closed

[2021-08-17 19:48] phillip-kruger commented on #19434
@kjq thanks for the test cases, looking at this now.

[2021-08-17 20:27] phillip-kruger commented on #19434
@ebullient - Are you sure about this ? The test case use `quarkus.resteasy.path`
And the guide also still shows `quarkus.resteasy.path` (see https://quarkus.io/guides/all-config#quarkus-resteasy-server-common_quarkus.resteasy.path) default to `/`

[2021-08-18 02:04] ramirogm opened #19467 "Hibernate Multitenant project with a @RequestScoped TenantResolver throws javax.enterprise.context.ContextNotActiveException"
### Describe the bug

I'm using the `SCHEMA` hibernate multitenant option, implementing a `TenantResolver` that is `@RequestScoped` so that I can use an `@Inject`ed `JsonWebToken`

At startup, the app logs a warning when trying to call the `getDefaultTenantId` method to get the connection metadata ( see below ). This happens in 2.1.*, and didn't happen in 1.1.*, so it seems a regression.

More sev

[2021-08-18 02:19] tamht298 opened #19468 "ContainerResponseFilter setEntity() did not work properly in native"
I use setEntity() for set custom object when the response status is 404. In dev mode, it works ok, the response has custom data that I set before, but with native mode, nothing data response

[2021-08-18 02:26] ramirogm commented on #19467
[multitenant-2.1.2-migrate.zip](https://github.com/quarkusio/quarkus/files/7004078/multitenant-2.1.2-migrate.zip)

[2021-08-18 02:30] stuartwdouglas commented on #10988
So what would you actually want here?

Something like:

`@RequiresPermission(value=MyPermission.class, params = {"my", "permission", "ctor", "params"})`

Then SecurityIdentity.checkPermission would be invoked with the specified permission, and it is up to the user to provide permission checkers through SecurityIdentityAugmentor?

[2021-08-18 04:29] stuartwdouglas commented on #19468
We need more details, can you provide a reproducer.

[2021-08-18 04:36] stuartwdouglas commented on #19406
This is already here: https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/gradle-tooling.adoc#development-mode

Also the 'quarkus dev' CLI command works even better.

[2021-08-18 04:36] #19406 closed

[2021-08-18 04:46] n1hility opened #19469 "Update JBoss Servlet API to JBoss Jakarta 2.x"
### Description

We need to update all API deps to reference Jakarta derived artifacts. It appears the last remaining is servlet.

The jakarta version is available here:
https://github.com/jboss/jboss-jakarta-servlet-api_spec

### Implementation ideas

_No response_

[2021-08-18 05:32] solsson commented on #19141
@sberyozkin Yes, the `quarkus` realm is there and Alice can log in. The initial requests to keycloak look like this:

[code]

Where 301 is redirects https://github.com/Yolean/kubernetes-keycloakx/blob/master/quarkus-dev/docker-entrypoint-with-proxy.sh#L59, but there's also rewrites that aren't explicit in access logs. I don't know that the Keycloak project's strategy for these URL differences is,

[2021-08-18 06:14] Postremus opened #19470 "Mark an external dependency as reloadable artifact using a marker file inside the dependency"
### Description

I have the need to mark an internal company wide common artifact as an reloadable artifact, so that state is cleared on hot reload.
Currently, this can only be achieved by specifying quarkus.class-loading.reloadable-artifacts in each consuming project. This becomes cumbersome for 10+ projects.

For more background, see the zulip:
https://quarkusio.zulipchat.com/#narrow/stream/1870

[2021-08-18 06:38] #19386 closed

[2021-08-18 06:41] Sgitario commented on #19448
I've updated the issue to state that it's failing on JVM and Native.
This commit is the root cause: https://github.com/quarkusio/quarkus/commit/fd4b3028afbfff649c6e92e8bb51a65a47fa6bef
cc @radcortez

[2021-08-18 06:52] phillip-kruger commented on #19434
@kjq ok @ebullient confirmed that the `quarkus.resteasy.path` is relative to `rootpath` so the tests are correct. I'll dive a bit deeper today to see if I can recreate your issue.

[2021-08-18 06:59] Sgitario commented on #19448
Also, I've confirmed that this affects all users that provide a custom config source (org.eclipse.microprofile.config.spi.ConfigSource).

For example:

[code]

Where `configsource.properties` is:

[code]

When mapping:

[code]

It does not work any longer.

I've updated the issue title and description with the new information.

[2021-08-18 07:23] tamht298 commented on #19468
I try to declare a class for body response:
``
@RegisterForReflection
@Data
@Builder
public class CustomError {
 private String message;
 private String state;
}
``
and the class for handle response:
``
@Provider
public class CustomFilter implements ContainerResponseFilter {
   @Override
  public void filter(ContainerRequestContext requestContext, ContainerResponseContext responseContext) throws I

[2021-08-18 07:41] gsmet opened #19471 "SimpleQuarkusRestTestCase#testFormMap sometimes fails with NPE"
See the run for this PR: https://github.com/quarkusio/quarkus/pull/19463

[code]

[2021-08-18 07:44] #19098 closed

[2021-08-18 07:44] #19318 closed

[2021-08-18 08:19] #583 closed

[2021-08-18 08:19] #19303 closed

[2021-08-18 08:33] sberyozkin commented on #19141
@solsson Thanks, what I meant was to check if a realm can be imported from a realm file, like [this one](https://github.com/quarkusio/quarkus-quickstarts/blob/main/security-openid-connect-quickstart/config/quarkus-realm.json). Indeed I have also verified that the default realm is created and the default users (`alice`, `bob`) can sign in. But we expect the users work with the more complex set ups

[2021-08-18 08:52] loicmathieu commented on #19420
Hi @evanchooly I may need your help on this one as it's more complex that what I first thought ;)
Using a companion object on a Kotlin Panache Entity object leads to the following error : `java.lang.NoSuchMethodError: 'java.util.List io.quarkus.hibernate.orm.panache.kotlin.runtime.KotlinJpaOperations.list(java.lang.Class, java.lang.Object, java.lang.Object[])'
`
What is strange is that the missing

[2021-08-18 08:58] phillip-kruger commented on #19434
@kjq @ebullient I can confirm this is a bug. See attached your original reproducer, that is not working for normal requests (as you described) but the value in the openapi document is wrong. I'll prepare a PR to fix a.s.a.p.

If you use resteasy reactive, you need to use `quarkus.resteasy-reactive.path` and not `quarkus.resteasy.path`
[openapi.zip](https://github.com/quarkusio/quarkus/files/700591

[2021-08-18 08:59] gsmet opened #19474 "security-jpa-quickstart failing in native"
The native build of the security-jpa-quickstart is failing with the following errors.

Example of a build failing: https://github.com/quarkusio/quarkus-quickstarts/runs/3356862727?check_suite_focus=true .

We need this fixed before the 2.2.0.Final release.

[code]

[2021-08-18 09:11] gsmet commented on #19469
Are you sure? Because we are not using JBoss Servlet API in Quarkus proper (it was used in Quarkus HTTP but we adjust the dependencies in Quarkus itself and we use the Jakarta one).

BUT... we use 2 JBoss API jars in Quarkus:
[code]
And the reason we decided to keep these two is because they are used all over the place by RESTEasy so including any additional RESTEasy provider would bring these two

[2021-08-18 09:26] gaetancollaud commented on #11438
This didn't work for me.

The actual syntax is `_DEV_HELLO_VALUE`. See documentation here: https://quarkus.io/guides/config-reference#profile-in-the-property-name

[2021-08-18 09:40] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1141890578

[2021-08-18 09:55] sberyozkin commented on #19177
@lwitkowski Thanks, sure, it is just that the 3rd party message body readers/writers need to access this private static class - Jackson-based ones can drill into it, others can't (such as jsonb ones for ex - and there is no requirement for them to be able to do so).
My guess at this stage is that the roles allowed checks are skipped now due similarly due to the visibility problems of such classes.

[2021-08-18 10:01] mkonzal opened #19476 "Reactive rest client custom exception mapper is invoked twice"
### Describe the bug

When I register my custom exception mapper to a client wit `@RegisterProvider` then the both methods of `ResponseExceptionMapper<T>` are invoked twice.

### Expected behavior

The invocation is done just once.

### Actual behavior

_No response_

### How to Reproduce?

Reproducer: https://github.com/mkonzal/quarkus-reactive-response-exception-mapper.git

Step to reproduce GET

[2021-08-18 10:44] lwitkowski commented on #19177
@sberyozkin Yes, I also suspect some `try {} catch() { //nothing to be done here }` somewhere in role-checking code, but I think we both agree it would be better to return http 500 in this case, than to allow executing potentially dangerous operation and returning http 2XX?

[2021-08-18 11:44] sberyozkin commented on #19141
More than one command is not supported at the same time:
https://github.com/keycloak/keycloak/blob/master/quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java

Looks like a dockerfile needs to be created for the self-signed certificates to be created as it does not start without `start-dev` or `--http-enabled=true` or may be it should be pushed into `keycloak.properties`

[2021-08-18 12:11] evacchi commented on #18745
@cescoffier : @fjtirado is confirming this can be closed. Thanks for the ping

[2021-08-18 12:31] Postremus opened #19480 "Warning about deprecated `quarkus.resteasy.metrics.enabled` is printed even when replacement setting is already used"
### Describe the bug

On every dev mode start of my application, I get this warning:
[code]

This warning is not right, my configuration specifies only the new property:
[code]

### Expected behavior

No warning should be printed in this case, since I already use the new setting.

### Actual behavior

Listening for transport dt_socket at address: 5005
2021-08-18 14:26:23,873 WARN  [io.qua.sma.met.

[2021-08-18 12:47] ebullient commented on #19434
When we worked on the path support, `quarkus.rest.path` was used. That has since been deprecated (I didn't notice), and replaced with `quarkus.resteasy.path` and `quarkus.resteasy-reactive.path`.. so you're correct. I was remembering old things.

[2021-08-18 12:51] phillip-kruger commented on #19434
Ok cool ! Thanks for confirming :)

[2021-08-18 13:16] hieunc278 commented on #19248
Dear Mr. @cescoffier,

Thanks for your supports. And now I could inject and use RedisClient properly. So I would like to close this issue as well.

[2021-08-18 13:21] #19248 closed

[2021-08-18 13:26] hieunc278 commented on #19402
Dear @famod ,

Thanks for your supports.

I did workaround as you shared, and it worked properly. So I would like to close this issue as well.

[2021-08-18 13:29] hieunc278 commented on #19248
Thanks @gsmet for your supports always.

[2021-08-18 13:42] #19402 closed

[2021-08-18 13:52] antoniomacri opened #19482 "Classloader issue with JUnit TestInfo"
### Describe the bug

In order to make some configurations, I'm reading annotations on tests using JUnit `TestInfo`.

However I'm facing a problem on Quarkus 2 since `TestInfo` is loaded with a different classloader than my test, so looking for annotations using `testInfo.getTestMethod()...getAnnotationsByType` does not return anything.

Consider:

    @QuarkusTest
    public class AnnotatedTest {

[2021-08-18 14:15] rymurr commented on #18131
Ah, doh. Now I see it. Thanks @kenfinnigan for the fast response! Will continue looking for the commit that caused this.

[2021-08-18 14:28] evanchooly commented on #19420
This looks familiar to a fix i made a while back, actually.  i'll dig in to it and see.  i'm going on PTO after today so i'll do my best to get it done quickly.

[2021-08-18 14:34] heike2718 commented on #1762
Hi,

I was just facing an error with a similar message when running my application inside docker. (stacktrace below). In development mode the application was running fine.

I am using quarkus-apache-tika and apache-poi and apache-poi-ooxml

The error occured, when I changed the apache-poi / poi-ooxml dependencies from 4.1.2 to 5.0.0. Maybe this is helpful in some way?

Probably this is not a quark

[2021-08-18 15:11] sberyozkin commented on #19141
I've had some progress with generating the self-signed certificates in a custom image and I could see the file being imported - it still fails to start - but I don't really want to continue exploring this path - it complicates things significantly and slows down a start up.
The approach where one can read the custom realm file into `RealmRepresentation` and post it with the admin API is not promis

[2021-08-18 15:54] radcortez commented on #19388
@mweber03  There is no `service4` branch or `service4` folder in the project structure.

[2021-08-18 16:37] radcortez commented on #8218
This can be really verbose, especially because Quarkus deals with a huge number of configurations. Also, because we start two instances of `Config` (one for static and another one for runtime) it may duplicate some of the lookups. I don't see too much to reduce, except for the profile lookup and combine it into a single log entry.

Regarding a properties format or yaml, I think that is a different

[2021-08-18 16:41] famod commented on #8218
Primarily, yes. But I also do see the benefit of getting more details of the "why" in some cases.

[2021-08-18 17:56] pjgg opened #19485 "keycloak DevService doesnt follow the same logs patterns as other devServices"
### Describe the bug

I am missing the following Log in keycloak devService:

[code]

As other devServices do, for example:

Amqp (follow this pattern):
[code]

RedPanda:

[code]

But Keycloak follow this pattern:

[code]

Looks like the same but I think that is important to follow the same pattern and also explicitly says that DevService Keycloak was started (because maybe by some "random reasons

[2021-08-18 19:31] famod commented on #19482
You need those annotation values inside your test methods, right?
Otherwise you might want to have a look at `QuarkusTestBeforeEachCallback` as a workaround.

[2021-08-18 20:06] MartinX3 commented on #15961
Still an issue with Quarkus 2.1
Create works.
Update doesn't save the change in the database.

[2021-08-18 20:12] antoniomacri commented on #19482
Yes, I need to read annotations from test methods or before each callback, but different test classes may perform different actions on a given annotation.

[2021-08-18 20:32] stuartwdouglas commented on #19177
I think we should probably explicitly disallow this. AFAIK interceptors can't be applied to these methods, as they basically have the same semantics as private methods.

Even if we solve this issue it will likely just cause other problems down the road (e.g. things like @Transactional likely won't work, as interceptors can't be applied).

[2021-08-18 20:44] GavinRay97 opened #19488 "Either RESTEasy Reactive/REST Client Reactive swallow errors in some scenarios, very difficult to debug"
### Describe the bug

The actual error being throw under the hood was:

[code]

But between the fact that Quarkus generates a lot of code, and the reactive/multithreaded bit, debugging this and trying to navigate the source + callstack was somewhat of a nightmare because:
- For a lot of the source, there's no file it would show in the IDE for the relevant code bits
- The chain of calls/indirection

[2021-08-18 21:08] DelusionalLogic commented on #18988
I'm seeing the same Behavior. The easiest way to reproduce is to define a bean with 2 constructs, one of them being annotated with Inject. When CDI calls the inject constructor this error will be thrown, as a metric was only registered for the no-args constructor.

[2021-08-18 21:25] GavinRay97 commented on #19488
The solution to making the actual ENDPOINT work?
- https://stackoverflow.com/a/58544375

[code]

I blame Jackson for the terrible error message, for starters... 😅

[2021-08-18 21:38] b---c commented on #18833
FWIW https://bitbucket.org/b_c/jose4j/issues/189 has been fixed with v0.7.9 https://bitbucket.org/b_c/jose4j/wiki/Release%20Notes#!jose4j-079-august-18-2021

[2021-08-19 04:06] #19415 closed

[2021-08-19 04:59] mweber03 commented on #19388
@radcortez Forgot to push, my bad. It's there now.

[2021-08-19 05:48] gunnarmorling commented on #19444
@cescoffier, so how should we move forward here? Are you going to create a new repo? Or, if not, should I create a PR against the existing one?

[2021-08-19 05:57] #19471 closed

[2021-08-19 06:09] cescoffier commented on #19444
@gunnarmorling https://github.com/quarkusio/quarkus-kafka-broker-image and you got invited :-D

[2021-08-19 06:19] wmeints opened #19491 "Crash during mvn io.quarkus-maven-plugin:2.1.2.Final:create"
### Describe the bug

The maven plugin crashes in Windows Powershell when I try to create a new project.

### Expected behavior

_No response_

### Actual behavior

The maven process crashes with the following exception:

[code]

### How to Reproduce?

Open up a Powershell instance.
Then execute the following command:

[code]

### Output of `uname -a` or `ver`

Microsoft Windows [Version 10.0.1904

[2021-08-19 06:32] michalszynkiewicz commented on #19476
The problem is in the fact that client response filters are invoked in the abort chain. I think we need to have a different abort chain, without them, if the filters execution has started. I'll try to create a PR for it

[2021-08-19 06:45] #19434 closed

[2021-08-19 07:05] brentcrammond opened #19492 "Static Content with quarkus.http-root-context"
### Describe the bug

If I set the quarkus.http-root-context static content does not always work.

I have a Vue front end that is included from the src/main/ui directory.

When I run it from the command line

java -jar target/quarkus-app/quarkus-run.jar

The jax-rs call works but the static content does not.

### Expected behavior

quarkus.http-root-context = /testing/

Working:
http://127.0.0.1:8

[2021-08-19 08:25] gsmet opened #19494 "Flaky Keycloak tests potentially related to CL issue"
Some of the Keycloak tests (typically `io.quarkus.it.keycloak.BearerOpaqueTokenAuthorizationTest.testSecureAccessSuccessPreferredUsername`) sometimes fail with:

[code]

Example of failing run: https://github.com/quarkusio/quarkus/pull/19472#issuecomment-901380138 .

/cc @stuartwdouglas

[2021-08-19 08:27] gsmet opened #19495 "Create triage rule for Keycloak"
@sberyozkin could you tell me the GitHub handles I should ping for Keycloak-related issues? I'll add a rule to the triage rules.

Thanks!

[2021-08-19 08:38] gsmet commented on #19480
Will work on this, I need easy stuff while the release is going.

[2021-08-19 09:01] gsmet commented on #19480
https://github.com/quarkusio/quarkus/pull/19496

[2021-08-19 09:02] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1145724215

[2021-08-19 09:02] gsmet commented on #19482
/cc @stuartwdouglas

[2021-08-19 09:04] knutwannheden opened #19497 "Extend `CurateOutcomeBuildItem`'s `AppModel` to list all present extensions"
### Description

I would like to implement an extension which verifies the setup of an application. One part of this verification is to make sure that certain extensions are present or not present. Currently there is no such mechanism offered by Quarkus. There are build items to access the list of capabilities and features, but not for extensions.

### Implementation ideas

I propose to add a mult

[2021-08-19 09:05] gsmet commented on #19491
I can't reproduce it on Linux so it might be Windows specific. @jaikiran do you still have your Windows box around?

[2021-08-19 09:07] ydalekorey commented on #10988
I think string values for permission will be enough.
Something like this:
@RequiresPermissions({"users:add", "users:edit"})

But maybe it will be even better to some more general purpose word like "authority" because "permission" is too specific and some systems have notion of permissions and some ones have not. So it would be perfect to  have SecurityIdentity.checkAuthority and SecurityIdentity.g

[2021-08-19 09:12] aloubyansky commented on #19497
I would suggest adding this information to the AppModel instead provided by the CurateOutcomeBuildItem.

[2021-08-19 09:13] lucas-deangelis opened #19499 "Qute description doesn't mention HTML templating"
### Description

The current description of Qute is "Offer templating support for web, email, etc in a build time, type-safe way". These descriptions are pulled to be used on code.quarkus.io. This means that Qute doesn't appear when you search "HTML templating" or just "HTML".

From what I understand, Qute is the recommended way to do HTML templating with Quarkus, so I think it should appear in th

[2021-08-19 09:16] gsmet commented on #19492
There is something fishy. For the record, the OP is talking about `quarkus.http.root-path`.

AFAICS, things are working in dev mode, I can get the index page by going to http://localhost:8080/testing/ but it's not working in prod mode when running the jar, RESTEasy takes the precedence somehow and is trying (and fails) to serve the resource.

@stuartwdouglas does it ring a bell?

[2021-08-19 09:21] brentcrammond commented on #19492
Yes in dev mode it is picking up the one in Meta_inf/resources which is
similar but without the !!! in the test ( sorry should have made it more
obvious), as the index.html from UI has not been built into the project.  I
normally run devServer in VueJS directly from ui directory and reverse
proxy to the main server during testing.  Then build the VueJS and use the
plugin to pull it into the produc

[2021-08-19 09:22] brentcrammond commented on #19492
Also if you build it without the quarkus.http.root-path it works fine, in
production.

Kind Regards
---
Brent Crammond
*MBA, BSc(Comp. Sci.)*
email:     ***@***.*** ***@***.***>
*mobile:*   +64 21 228 5366

*“Live as if you were to die tomorrow. Learn as if you were to live
forever”* - *Gandhi*

On Thu, Aug 19, 2021 at 9:16 PM Guillaume Smet ***@***.***>
wrote:

[2021-08-19 09:23] knutwannheden commented on #19497
That sounds like a good idea. That way there is no confusion regarding a "read-only" build item.

[2021-08-19 09:26] gsmet commented on #19492
Well, in any case, even if not serving the exact same file, serving the static file is working in dev mode but not in prod mode.

[2021-08-19 09:28] gsmet commented on #19497
In any way, it shouldn't be a MultiBuildItem but a simple one providing the list of GA of the extensions.

@aloubyansky AFAICS the AppModel is not exposed in a consumable build item, do we really want to expose it completely?

[2021-08-19 09:29] stuartwdouglas commented on #19494
This might be the same as the issue @famod  had. Can we close this and reopen if it persists after my pr is merged?

[2021-08-19 09:30] brentcrammond commented on #19492
One possibility is does the normal build create the static content into
code, it didn't look like it.  I have followed this pattern quite a few
times but this is the first time I have tried to change the
quarkus.http.root-path.

Kind Regards
---
Brent Crammond
*MBA, BSc(Comp. Sci.)*
email:     ***@***.*** ***@***.***>
*mobile:*   +64 21 228 5366

*“Live as if you were to die tomorrow. Learn as if

[2021-08-19 09:34] QuarkusQE opened #19500 "[CI] - Quarkus QE Test Suite + Quarkus main"
This issue will be open and closed dependent on the state of https://github.com/quarkus-qe/quarkus-test-suite building against Quarkus main snapshot.

If you have interest in being notified of this subscribe to the issue.

[2021-08-19 09:34] #19125 closed

[2021-08-19 09:34] gsmet commented on #19492
It works if you remove the final slash of your root path:
[code]
I'll have a closer look at what is happening...

[2021-08-19 09:41] sberyozkin commented on #19495
I guess these are the same ones as for OIDC related issues, Pedro and myself

[2021-08-19 09:55] gsmet commented on #19492
https://github.com/quarkusio/quarkus/pull/19501 will hopefully fix it.

[2021-08-19 10:11] brentcrammond commented on #19492
I just noticed that it is throwing an error when I take the / off the end of the configuration

was
quarkus.http.root-path=/testing/

changed too

quarkus.http.root-path=/testing

2021-08-19 22:05:45,432 ERROR [io.ver.ext.web.RoutingContext] (vert.x-eventloop-thread-9) Unhandled exception in router: java.lang.StringIndexOutOfBoundsException: String index out of range: -1
	at java.base/java.lang.St

[2021-08-19 10:13] solsson commented on #19141
I suppose that assistance from the Keycloak project could be necessary here. I've failed to assess the status of the "preview" such as if it's feature complete or not. However the principle of configuration at build time is a great improvement over the regular keycloak image. Some of the documented env:s there cause an additional appserver start and teardown from the entrypoint, which can delay re

[2021-08-19 10:15] sberyozkin commented on #19485
@pjgg Hi,
I don't mind adding a log message `Dev Services for Keycloak started` - `Container quay.io/keycloak/keycloak:14.0.0 started` is still informative though given that this image name is referred to in the logs and it is logged by `TestContainers`.

I looked at `KafkaClient` - I don't see it `hiding` somehow a 'Container vectorized/redpanda started` message.
But it uses a different, label ba

[2021-08-19 10:35] gsmet commented on #19492
Weird I don't have that with the `main` branch. I'll dig a bit further.

[2021-08-19 10:40] jaikiran commented on #19491
Hello @gsmet, I had a quick look and this indeed is reproducible on Windows (at least with powershell, I didn't try the usual command prompt way).

What's happening here is that, the Maven tool is trying to instantiate and inject into `io.quarkus.maven.CreateProjectMojo`. One of the injections into it is the `io.quarkus.maven.components.Prompter`[1]. So the Maven framework code goes and tries to i

[2021-08-19 10:41] jaikiran commented on #19491
For the sake of reference for others, here's the actual stacktrace it generates:

[code]

[2021-08-19 10:44] jaikiran commented on #19491
The reason why it might not be reproducible on Linux is probably because of classloading order, where on Windows, for whatever reason the jansi jar from Maven installation gets loaded very early during some other code path, unlike Linux.

[2021-08-19 10:56] gsmet commented on #19492
Ok, I don't know why it's working with `main` and not with the version you are using but I slightly adjusted the logic in my PR given your feedback.

[2021-08-19 11:17] knutwannheden commented on #19497
@aloubyansky Can you provide me with some hints on how to implement this? I've tried to understand the code and my guess would have been that I need to extend `BootstrapAppModelResolver#doResolveModel()` to collect all the extensions using the `DeploymentInjectingDependencyVisitor` and then pass them to the `AppModel.Builder`. To achieve this I would probably have extended `DeploymentInjectingDepe

[2021-08-19 11:31] galderz commented on #19456
Removing the mandrel tag.

[2021-08-19 11:43] aloubyansky commented on #19497
Pretty much. The `DeploymentInjectingDependencyVisitor` can add the extension dependencies to the `AppModel.Builder` directly.

[2021-08-19 11:45] knutwannheden commented on #19497
Thanks. I will set up my local Quarkus workspace and try to work on this.

[2021-08-19 11:45] aloubyansky commented on #19497
There is also the Gradle side of it, which should be added to the `QuarkusModelBuilder`. FYI @glefloch

[2021-08-19 11:56] sberyozkin commented on #18642
@SLedunois @kliebhart Can you please type the example code which depends on a BC provider ? The native test in Quarkus is still running OK.

[2021-08-19 12:00] rdehuyss opened #19504 "Using Quarkus Gradle extension: error"
### Describe the bug

I'm the author of [JobRunr](https://www.jobrunr.io)  and I'm trying to create a Quarkus extension with the Gradle . You can find the branch here: https://github.com/jobrunr/jobrunr/tree/quarkus.

I want to write a test but whenever I run a gradle task, I get the following exception when I use the Quarkus Gradle plugin:
`Execution failed for task ':framework-support:jobrunr-qu

[2021-08-19 12:00] michalszynkiewicz commented on #19218
There's one more thing that's wrong, the name of the streaming bean is the name of the generated class instead of the user's class. I will try to fix it too.

[2021-08-19 12:01] sberyozkin commented on #17046
Hi @zakkak np, I've just got back from PTO as well :-)

I haven't looked into the it since the time of my last comment; but this index even if it is made available to the build code it would have to be wrapped in `RuntimeValue` which can only be passed to the recorder again, so not sure it works

[2021-08-19 12:03] galderz commented on #17482
@geoand No, that's not something I'm looking into.

[2021-08-19 12:04] #19474 closed

[2021-08-19 12:04] #18548 closed

[2021-08-19 12:04] #19240 closed

[2021-08-19 12:05] #19495 closed

[2021-08-19 12:08] famod commented on #18833
Thanks for the pointer @b---c!

/cc @sberyozkin but I suppose you're already aware.

[2021-08-19 12:12] sberyozkin commented on #19263
HI @javiertoja the code which makes the authorization decision does not know if `SecurityIdentity` with the roles has been created from JWT or for ex Basic Auth, so it can't be very specific, and indeed the option you considered can also cause `403`

[2021-08-19 12:16] glefloch commented on #19504
@rdehuyss the plugin should not be enabled in the extension, it is only necessary for application. In the future their will be a specific gradle plugin for extension that will be in charge of generating `META-INF/quarkus-extension.*` files and running validation.

[2021-08-19 12:18] rdehuyss commented on #19504
Hi @glefloch , thanks for getting back at me. @aloubyansky suggested to enable the gradle plugin and create this bug. How do I then run tests for Quarkus? See also https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/quarkus.20gradle.20extension.

[2021-08-19 12:22] aloubyansky commented on #19504
The issue is that to be able to run Quarkus tests in the deployment module, we need the preparation performed currently by the Quarkus Gradle plugin.

[2021-08-19 12:26] glefloch commented on #19504
oh ok, I will have a deeper look.

[2021-08-19 12:40] sberyozkin commented on #18833
Thanks @b---c :-)

@famod, indeed I saw a fix from Brian.

Here is a smallrye-jwt update:
https://github.com/smallrye/smallrye-jwt/pull/491

I'll update Quarkus once it is released

[2021-08-19 12:58] gunnarmorling commented on #19444
Thanks, accepted; will send a PR for the initial contents in a bit.

[2021-08-19 13:17] zakkak commented on #19338
FWIW [here](https://github.com/zakkak/issue-reproducers/tree/serialization-registration) you can find an example replicating the logic of CoreSerializationInGraalITCase outside of Quarkus using the new API to register the classes for serialization and it appears to work as expected.

[2021-08-19 13:41] jaikiran commented on #19491
@gsmet, I don't think there's a easy way out here. I see that https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/utils/Prompter.java uses JLine 2.x which has been EOLed long back. Moving to JLine 3.x should solve this issue since JLine 3.x uses a very closer version of Jansi to what Maven ships with. I am not too familiar wit

[2021-08-19 13:42] gsmet commented on #19469
The JBoss servlet thing was just a false alarm: it was just an unused property. I remove it here: https://github.com/quarkusio/quarkus/pull/19506 .

As for JAXB and JAX-RS, I confirm they are forks from the Jakarta artifacts so we are good.

There's one thing I want us to check though: it is the provenance of the JAX-RS TCK we are using. I'll discuss with @FroMage and @geoand when they are back.

[2021-08-19 13:43] gsmet commented on #19469
@FroMage @geoand affecting you so that we can discuss the provenance of the JAX-RS TCK when you're back.

[2021-08-19 13:48] #19480 closed

[2021-08-19 13:52] avilio opened #19508 "QUARKUS - USING SECURITY WITH AN LDAP REALM"
in https://quarkus.io/guides/security-ldap#quarkus-elytron-security-ldap_quarkus.security.ldap.identity-mapping.rdn-identifier there is a link to github that not exists (https://github.com/quarkusio/quarkus-quickstarts/tree/main/security-ldap-quickstart).
Could you guys update it? Trying to migrate the company projecto to a quarkus microservices and we use LDAP and JWT for authorizations, it would

[2021-08-19 13:52] gastaldi commented on #19491
It looks like the groupId changed in JLine 3.x: https://mvnrepository.com/artifact/org.jline/jline/3.20.0

[2021-08-19 13:54] loetscher commented on #19491
A downgrade of the used maven version worked for me.
This setup is working:

_Apache Maven **3.6.3** (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: C:\develop\tools\apache-maven\bin\..
Java version: 11.0.8, vendor: AdoptOpenJDK, runtime: C:\Program Files\AdoptOpenJDK\jdk-11.0.8.10-hotspot
Default locale: de_CH, platform encoding: Cp1252
OS name: "windows 10", version: "10.0", arch: "amd64"

[2021-08-19 13:58] jaikiran commented on #19491
I had a quick look, that version of Maven ships with Jansi 1.x (specifically 1.17.1) which is the version that JLine 2.14.6 works fine with.

For a project like Quarkus which heavily relies on Maven for some of its core stuff, I wouldn't recommend downgrading the Maven version.  It might have solved this specific issue but it's highly likely you might run into various other issues in the applicati

[2021-08-19 14:02] pjgg commented on #19485
I think that is a good idea to print an explicit log saying that Dev Service started. Especially for newcomers.
`Dev Services for Keycloak started - Container quay.io/keycloak/keycloak:14.0.0 started`, is good to me.

On Kafka dev service ("RedPanda") We got the following log trace:

[code]

Note that "Dev Services for Kafka started."  Is at the end.

[2021-08-19 14:06] loetscher commented on #19491
I absolutely agree. The downgrade was only made for "Bootstrapping the project" so I could continue with the Getting Started tutorial.

[2021-08-19 14:12] zakkak commented on #17672
I [removed the `-H:-ParseOnce` option](https://github.com/zakkak/quarkus/tree/enable-parseonce) and did some tests with [GraalVM CE](https://github.com/zakkak/quarkus/runs/3371447400?check_suite_focus=true) and [Mandrel](https://github.com/graalvm/mandrel/actions/runs/1146954848) 21.2, as well as with [Mandrel 21.3-dev](https://github.com/graalvm/mandrel/actions/runs/1147027008).

The issue seems

[2021-08-19 14:12] #17672 closed

[2021-08-19 14:19] gsmet commented on #19491
I'd say let's try to move to JLine 3 and see how it goes.

[2021-08-19 14:22] gastaldi commented on #19491
TBH I am not sure JLine is necessary at all in `Prompter`. @jaikiran are you looking into this already? Otherwise I can have a look

[2021-08-19 14:24] jaikiran commented on #19491
I'll open a PR shortly and we can decide how to go about it.

[2021-08-19 14:25] fedinskiy opened #19509 "Unpredictable "Shutdown in progress" exception for code in dev mode"
### Describe the bug

We found, that sometimes our test runs fail with "java.lang.IllegalStateException: Shutdown in progress" exceptions. It appears randomly([1],[2],[3]) but it looks like more demanding tasks tend to provoke this behaviour more often.

[1] https://github.com/quarkus-qe/quarkus-startstop/pull/102/checks?check_run_id=3220458632
[2] https://github.com/quarkus-qe/quarkus-startstop/r

[2021-08-19 14:32] jaikiran commented on #19491
@gastaldi FYI - https://github.com/quarkusio/quarkus/pull/19510

[2021-08-19 14:41] gsmet commented on #19499
I think HTML was implied in `web`. @mkouba maybe it's worth adding a couple more keywords to the extension metadata? I suppose they are taken into account in the search? @ia3andy can you confirm?

[2021-08-19 14:43] ia3andy commented on #19499
yes they are

[2021-08-19 14:54] stevefavez opened #19512 "Unable to get Otel Current Context in debug Mode with opentelemetry"
### Describe the bug

Hi,
My issue is the following : when running a simple restfull helloworld jax-rs "helloworld" service using opentelemetry, if I'm trying to access the currentspan / current otel context in Debug mode, I can't access the one created by VertxTracingAdapter. It sounds like LazyStorage is using QuarkusContextStorage Instance, so, VertxTracingAdapter is storing the Span and Contex

[2021-08-19 14:56] jaikiran commented on #19491
@wmeints @loetscher, till we sort out this issue properly, a more reliable workaround/fix is to use Maven 3.8.1. This is the version that Quarkus CI uses to test/build the project and we haven't seen issue in this version. It looks like it's only the latest released Maven 3.8.2 which is impacted. See my comment here for details https://github.com/quarkusio/quarkus/pull/19510#issuecomment-901982879

[2021-08-19 15:00] gastaldi commented on #19491
I can confirm that this does not occur with 3.8.1. This only occurs when Maven 3.8.2 is used

[2021-08-19 15:02] sberyozkin commented on #19508
@avilio Hmm, it is strange. The quickstart would contain the code and configuration shown in the documentation - I'll try to add this quickstart asap. Can you please just copy the code directly from the docs for now.

[2021-08-19 15:06] jaikiran commented on #19491
Thank you both for testing.

[2021-08-19 15:17] m-brophy commented on #19456
I've discovered that removing the /controls/tag part of the url from the mp-rest definition and putting *that* part in the @Path annotation makes this work in test profile also.

It still doesn't seem right that the original url set up in the mp-rest config works in prod profile but not in test profile though.

[2021-08-19 16:17] kenfinnigan commented on #19512
@stuartwdouglas does `quarkus:dev` result in different threads being used, or some change in behavior that could cause this?

[2021-08-19 16:38] wmeints commented on #19491
Thanks for testing this, I'm going to revert to maven 3.8.1

[2021-08-19 17:03] radcortez commented on #19448
In https://github.com/quarkusio/quarkus/commit/fd4b3028afbfff649c6e92e8bb51a65a47fa6bef, we also added support for `@ConfigMapping` during static init (before, it was only available during runtime init).

Now, static init has some limitations regarding custom users config sources. We don't automatically add them, because there is no way to tell if they are static init safe or not. For instance, if

[2021-08-19 17:39] krisgerhard commented on #19308
@stuartwdouglas I started looking into the Logback extension. How would you inject bugsnag api key without committing it into repository?

logback.xml
[code]

[2021-08-19 18:59] michalszynkiewicz commented on #19218
all the things but the service name are fixed, I'll leave the issue open to handle the service name as a part of it, if you don't mind

[2021-08-19 19:30] krezchikov42 opened #19516 "Quarkus Native Image Isn't Working on Lambda"
### Describe the bug

When I try to deploy a native image lambda while following this tutorial I keep getting this error.  https://quarkus.io/guides/amazon-lambda-http

[code]
Here are my java version
![quarkus-lambda-rest-orig — konstantin@TEAL-C02F44B2MD6P — -zsh — 156×33 2021-08-19 at 3 20 56 PM](https://user-images.githubusercontent.com/31769496/130131178-e667369d-c939-471f-8e22-3523b2c44b53.j

[2021-08-19 20:24] stuartwdouglas commented on #19308
You should be able to use `${my-key}`, which would get picked up from standard Quarkus config (e.g. a `MY_KEY` env var, or `-Dmy-key=` system prop).

[2021-08-19 20:40] stuartwdouglas commented on #10988
If it is just a string how is it different to a role (I know conceptually you can say they are different, but from an implementation point of view)?

In my approach above `MyPermission` is an instance of `java.security.Permission`, and permission checks would be done via `implies` which allows you to use custom logic.

We could also support method parameters in the permission constructor, so you c

[2021-08-19 21:49] drsarutobi8 commented on #7810
Hi, I have the sample question. Is there any way to do this?

[2021-08-19 22:24] hanzhenliang opened #19519 "BlockingOperationNotAllowedException is thrown when access database with panache in TenantConfigResolver"
### Describe the bug

The tenant configs are saved in database which will be loaded dynamically with `Panache` by `TenantConfigResolver`, but `resolve` is running in `IO thread` and `EntityManager` of `Panache` is expected to run in `worker thread` to not block the `IO` one. Thus the `BlockingOperationNotAllowedException` is thrown. Here is the stacktrace:

[code]

### Expected behavior

Reading t

[2021-08-20 00:46] stuartwdouglas commented on #19468
Is this with resteasy reactive or resteasy classic?

It's also a lot easier for us to work on this if you provide a complete reproducer, so we don't have to attempt to reproduce it ourselves.

[2021-08-20 00:50] tamht298 commented on #19468
I'm using rest easy classic

[2021-08-20 02:56] stuartwdouglas commented on #19469
It is the Jakarta one (you can see from the git history and license headers).

[2021-08-20 02:57] stuartwdouglas commented on #19469
I have also updated quarkus-http to use the jakarta artifacts.

[2021-08-20 04:29] oztimpower opened #19524 "New Blog post using Quarkus"
### Description

Hi, how do I get a blog post added to the Quarkus blog page.

My AWS official blog in the Security channel used Quarkus for the solution with various Quarkus extensions: OIDC, Kotlin, Kubernetes, Jib.

https://aws.amazon.com/blogs/security/access-token-security-for-microservice-apis-on-amazon-eks/

### Implementation ideas

_No response_

[2021-08-20 04:41] weir2010 opened #19525 "run error for qute templating and quarkus 2.2.0.CR1"
### Describe the bug

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Applications/SpringToolSuite4.app/Contents/Eclipse/plugins/org.eclipse.m2e.maven.runtime.slf4j.simple_1.18.0.20210618-2246/jars/slf4j-simple-1.7.5.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [file:/Applications/SpringToolSuite4.app/Contents/Eclipse/configuration/or

[2021-08-20 05:29] geoand commented on #19524
Nice!

@gsmet should have all the details

[2021-08-20 06:08] wmeints commented on #19491
I've found another workaround for people who run into this issue: If you have WSL2 on Windows 10, you can create your project in WSL2 on the Windows filesystem. As a bonus, if you're using the latest version of IntelliJ you can create it on the Linux filesystem and edit it too.

[2021-08-20 06:54] glefloch commented on #19504
@aloubyansky should we use the `quarkus-junit5-internal` module and make sure the app model is generated? something like in this: https://github.com/quarkusio/quarkus/blob/main/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java#L306 but for the `internal` module ?
FYI @rdehuyss here an example usage of `quarkus-junit5-internal` https://quarkus.io/guides/writing-ext

[2021-08-20 07:06] rdehuyss commented on #19504
Hi @glefloch , I also already tried with the `quarkus-junit5-internal` lib following the guide in writing extensions. See https://github.com/jobrunr/jobrunr/blob/fc0d234cf18121a149220a0db4a6e2f7973c4b0e/framework-support/jobrunr-quarkus-extension/deployment/src/test/java/org/jobrunr/quarkus/extension/deployment/DefaultConfigurationTest.java. However, I had another exception back then and I was adv

[2021-08-20 07:17] nunomarks commented on #8710
Hello @gsmet,
Is this still needed ? I would like to take this up as a first contribution to Quarkus repository.

[2021-08-20 07:19] Sgitario commented on #19448
Adding the `@StaticInitSafe` helped to bind the `@ConfigMapping` properties, but there are still some issues related to the same commit:
- If one property is not set in the `application.properties`, but It's only configured in a remote config source (for ex: consul or Spring Cloud Server), the application will fail to start because this property is missing (which is not as it's in the remote confi

[2021-08-20 07:39] gsmet commented on #19469
OK, so I think we can close this one. Thanks!

[2021-08-20 07:39] #19469 closed

[2021-08-20 07:44] avilio commented on #19508
I already try it still think is missing something on the LDAP to make it work... No ldif to check for roles/groups... I think is missing more to the guide

[2021-08-20 07:45] aloubyansky commented on #19504
Yes, this is what this issue is about. It should support the Gradle AppModel.

[2021-08-20 08:26] JHahnHRO opened #19526 "Arc: @Default qualifier on Config class gets dropped"
### Description
When a @ConfigProperties annotated bean is declared that also has the @Default qualifier, Arc seems to drop the @Default qualifier resulting in UnsatisfiedResolutionException

### How to reproduce

- define a bean aggregating config properties with `@ConfigProperties` AND `@Default` qualifier
[code]
- inject that bean somewhere without any qualifiers
[code]

### Expected behaviour

[2021-08-20 08:39] #19482 closed

[2021-08-20 08:39] #19512 closed

[2021-08-20 08:40] #19509 closed

[2021-08-20 08:45] jsmrcka opened #19527 "RESTEasy Reactive multipart - way to override default charset and content type"
### Description

Multipart support in `quarkus-resteasy-reactive` is missing a way to override default charset for multipart body, similar to the `quarkus.resteasy.multipart.input-part.default-charset` property in `quarkus-resteasy-multipart`.
There is also no equivalent of another property, `quarkus.resteasy.multipart.input-part.default-content-type`.
See https://quarkus.io/guides/rest-json#multi

[2021-08-20 08:57] mmuzikar opened #19528 "Documentation is unclear about how to mount a PVC on Openshift"
### Description

If a user wants to attach a volume to their app they might be confused by the docs mentioning specifically secret and configmap volumes as if they were the only ones supported.

### Implementation ideas

Just as
ConfigMap volumes

quarkus.openshift.config-map-volumes.my-volume.config-map-name=my-secret

is in the docs the same can be for
Persistent Volume Claims

quarkus.openshift

[2021-08-20 08:58] geoand commented on #19528
cc @metacosm

[2021-08-20 09:34] #19528 closed

[2021-08-20 09:45] Sgitario opened #19533 "Missing Kubernetes Client change in Migration Guide for 2.1 and 2.2"
### Description

As users might use this library independently, we should add the upgrades in the migration guide.
This is done in Quarkus 2.0 when we upgraded to Kubernetes Client:5.4: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.0#kubernetes-client

But not in:
- Quarkus 2.1 when we upgraded from 5.4 to 5.6.
- Quarkus 2.2 when we upgraded from 5.6 to 5.7 (see related commit https:

[2021-08-20 09:49] stefanorg commented on #19467
+1 same here

[2021-08-20 09:51] stefanorg commented on #19467
also i noticed that in v 2.1.x quarkus raise a warning but the application work.
In version 2.2.0.CR1 i get also a null pointer exception
[code]

[2021-08-20 10:01] geoand commented on #19533
Added https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.1#kubernetes-client and https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.2#kubernetes-client to address this.

Thanks

[2021-08-20 10:01] #19533 closed

[2021-08-20 10:05] rsvoboda commented on #19298
CC @radcortez

[2021-08-20 10:11] gsmet commented on #19533
Frankly, we shouldn't do it except if there are known migration issues, which was the case for the one we put in the migration guide.

We upgrade a ton of components in each release and we don't add them to the migration guide. For me it's the responsibility of the Kubernetes Client team to ask us to add something to the migration guide if necessary.

[2021-08-20 10:12] sberyozkin commented on #19508
@avilio thanks, it was contributed by the community - looks like it needs some care. If you have a good experience with LDAP then please consider fixing this guide (I'll take care of adding the actual missing code).

[2021-08-20 10:20] MarcusBiel commented on #10988
I am fully with @ydalekorey

[2021-08-20 10:24] gsmet commented on #19356
I worked on https://github.com/quarkusio/quarkus/pull/19534 last week but forgot to push it.

I think we should probably reconsider if these substitutions are even useful but it's gonna need some cautious work as we need to make sure our images don't become significantly larger for whatever reason.

So for now, I would be in favor of fixing the issue quickly so that we can benefit again from the G

[2021-08-20 10:24] geoand commented on #19533
There are minor breaking changes in each of these releases and it appears that they broke some actual applications QE used. I would say that warrants an entry

[2021-08-20 10:25] gsmet commented on #19356
BTW, there are more changes than just the one mentioned here. I tried to catch them all but wasn't able to test things. I hope @zakkak will be able to help on this.

[2021-08-20 10:26] gsmet commented on #19412
Not sure if the Quarkus team can do anything here? @michael-simons maybe some adjustments in the doc are needed?

I'll let you judge of that but if we can't do anything on our side, I would be in favor of closing the issue.

[2021-08-20 10:51] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1149533802

[2021-08-20 11:01] jaikiran commented on #19356
Yes, that sounds fine to me.

[2021-08-20 11:18] stuartwdouglas commented on #10988
So if you just defined your permissions as roles namespaced as permission: (e.g permission:user:add) what is the difference between a role and a permission?

[2021-08-20 11:19] #19229 closed

[2021-08-20 11:25] sberyozkin commented on #19141
@solsson There is a good chance Keycloak experts will help with improving it - as soon as I can get a custom realm import working with `http` only I'll go ahead and finalize the PR such that it works for both WildFly and Keycloak-X containers; in meantime please keep stressing the initial DevServices/UI for Keycloak and let us know what you think (with issues, etc) - thanks

[2021-08-20 11:26] jsmrcka opened #19535 "RESTEasy Reactive broken text on Windows"
### Describe the bug

In a Windows environment, RESTEasy Reactive endpoints do not preserve text charset between request and response.
[code]
[code]
Response:
[code]

The same goes for an endpoint accepting multipart data (see attached reproducer).

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

[resteasy-reactive-encoding-reproducer.zip](https://g

[2021-08-20 12:42] #17081 closed

[2021-08-20 12:42] #19256 closed

[2021-08-20 13:02] fedinskiy opened #19539 "Broken encoding of data retrieved from MS SQL via reactive hibernate"
### Describe the bug

If data was put into a mssql database via direct sql query(e.g. by using vertx pool or file in quarkus.hibernate-orm.sql-load-script system property) and was retrieved via hibernate reactive session, then all non-ASCII symbols in it will be replaced by either corresponding ASCII symbols("Č"->"C") or with some garbage.

### Expected behavior

Any data should be retrieved the s

[2021-08-20 13:19] ennishol opened #19540 "Internal Server Error at /q/dev/ 3"
### Describe the bug

the application fails to load dev ui, when using some custom extension with descriptor:
[code]
[code]

### Expected behavior

dev ui should work

### Actual behavior

dev ui doesn't work

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Linux qkvm20 5.11.0-27-generic #29~20.04.1-Ubuntu

### Output of `java -version`

openjdk version "11.0.11" 2021-04-2

[2021-08-20 13:23] gsmet commented on #17093
@michalszynkiewicz any chance you could have a look at this one when you have some time? It would be nice to have everything working with JDK 16+

[2021-08-20 13:26] gastaldi commented on #19540
Do you have a `<description>` in your extensions' `runtime/pom.xml`?

[2021-08-20 13:30] ennishol commented on #19540
@gastaldi  No, I don't have the `<description>`

[2021-08-20 13:32] ennishol commented on #19540
@gastaldi  I added the `<description>` to all poms in extension and it solved the problem

[2021-08-20 13:37] gastaldi commented on #19540
Great, now we only need to fix this use case in the codebase 👍🏻

[2021-08-20 14:40] sberyozkin commented on #19494
@gsmet Looks like PR builds are stable now after @stuartwdouglas 's fix went in, so let me indeed close it, please reopen if you spot another failure

[2021-08-20 14:40] #19494 closed

[2021-08-20 14:52] sberyozkin commented on #19485
@pjgg

Sure, I don't think I can intercept it as you suggested,
but indeed following up
[code]
with
[code]

would be fine

[2021-08-20 16:08] michalszynkiewicz commented on #17093
If nothing more urgent pops up, I'll take a look at it on Monday

[2021-08-20 16:52] jamesfalkner opened #19549 "Quarkus CLI finds and uses rogue application.properties files and crashes"
### Describe the bug

I recently installed the Quarkus CLI and upon first execution of `quarkus version` it spit out tons of warnings and I had no idea why (I was not in any project directory, rather was in my home directory where I never put projects). Turns out I had a rogue `application.properties` in the directory (with no other project-related files) and it loaded and parsed it as part of the

[2021-08-20 19:31] dhoffer commented on #19265
I am having a hard time getting more details as I debug this.  Here is the full stack trace.

2021-08-19 15:34:14,891 ERROR [io.qua.run.Application] (main) Failed to start application (with profile prod): java.lang.NoClassDefFoundError: Could not initialize class javax.crypto.JceSecurity
        at java.base/javax.crypto.Cipher.getInstance(Cipher.java:540)
        at com.bs.util.encryption.AESEncr

[2021-08-20 19:38] #19540 closed

[2021-08-20 23:00] maxandersen opened #19554 "Qute prints Optional<String> as Optional[value]"
### Describe the bug

when having a List of items where on item is a title of Optional<String> and you do:

[code]

the output is:

[code]

should Qute not by default be smart enough to have Optional<String> become the string value rather than otional<value>?

### Expected behavior

Qute resolves the optional<string> to the actual string

### Actual behavior

_No response_

### How to Reproduce?

[2021-08-20 23:11] maxandersen commented on #19554
tried to add workaround:

[code]

but to no effect. What am I missing?

[2021-08-20 23:20] maxandersen opened #19555 "Qute standalone - format functions for java.time.ZonedDateTime"
### Description

docs at https://quarkus.io/guides/qute-reference#built-in-template-extension says `format` exits for ZonedDateTime but when calling it i get:

[code]

note: i'm using qute standalone if that matters

### Implementation ideas

_No response_

[2021-08-20 23:23] maxandersen commented on #19555
reproducer:

update.java:
[code]

and `template.adoc.qute`:

[code]

`jbang update.java`

[2021-08-20 23:29] maxandersen commented on #19555
hmm - even time: namespace are not available.

Is this a case of quarkus configures qute to have these but they are not available in the standalone setup ?

[2021-08-21 00:29] maxandersen opened #19556 "better/more informative error than "Not a REST client interface: interface update$PlaylistService""
### Description

Given:

[code]

in a class I get:

[code]

despite all the types and annotations matches what is in resteasy reactive client docs.

Could this error message  be a bit more explicit on what makes this not a REST client interface?

### Implementation ideas

_No response_

[2021-08-21 00:30] maxandersen commented on #19556
in this case it seem to be that `@javax.ws.rs.Path("/youtube/v3/playlistItems") was missing.
`

[2021-08-21 00:33] maxandersen opened #19557 "resteasy-reactive client complains about server components missing"
### Describe the bug

I have a command mode app which when run tells me:

[code]

why are resteasy reactive server side parts required to do resteasy reactive client operations ?

reproducer:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No re

[2021-08-21 01:25] gastaldi commented on #5931
Agreed, this can now be closed in favor of the quarkus-operator-sdk extension. Thanks!

[2021-08-21 01:25] #5931 closed

[2021-08-21 01:28] gastaldi commented on #19447
@Eng-Fouad are you interested in leading the development of this extension? I can setup a Quarkiverse repository for you 😉

[2021-08-21 01:32] gastaldi commented on #19413
Seam 3 Catch (https://docs.jboss.org/seam/3/catch/3.0.0.Alpha1/reference/en-US/html_single/) was a nice piece of work on handling exceptions, maybe we can "borrow" this idea in Quarkus core? 😉

[2021-08-21 01:42] weir2010 commented on #19525
There is a problem with CSS code in HTML    I tried to extract the CSS code
`blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul,img{
		margin: 0;
		padding: 0;
		}
	   body{background:black;overflow:hidden}
	   ul{list-style:none}
	   .clearfix:after{display: block; content: "\20"; height: 0; clear: both; overflow:

[2021-08-21 01:42] #19525 closed

[2021-08-21 05:47] geoand commented on #19557
cc @michalszynkiewicz

[2021-08-21 06:13] gastaldi commented on #19556
Yeah the error message could be more descriptive, like ` interface update$PlaylistService is not a valid REST Client interface. The @javax.ws.rs.Path annotation is missing`

[2021-08-21 06:15] gastaldi commented on #19555
AFAIK you need to  add a ValueResolver to your `Engine`. I faced something similar while trying to use the `inject` namespace in the dev UI qute template 😝

[2021-08-21 06:43] luminecs opened #19558 "Crash during mvn io.quarkus-maven-plugin:2.1.3.Final:create"
### Describe the bug

Crash during mvn io.quarkus-maven-plugin:2.1.3.Final:create

OS version: WSL Ubuntu 20.04

Maven version: 3.8.2

Java version: jdk-16

Quarkus version: 2.1.3

The follow command (from https://quarkus.io/guides/getting-started) does not work
[code]

### Expected behavior

_No response_

### Actual behavior

root@DESKTOP-JJTFEFQ:/mnt/c/data/repo/learn/quarkus-guides# mvn io.qua

[2021-08-21 06:46] jaikiran commented on #17093
Hello @michalszynkiewicz, @gsmet, this PR https://github.com/quarkusio/quarkus/pull/19559 should fix the Timeout* test case failures in Java 16+.

[2021-08-21 07:48] maxandersen commented on #19555
yes thats fine but then imo the docs should not say its there by default and preferably say what resolver to add to get it....in this case though its hidden inside the quarkus extension not  in qute itself.

[2021-08-21 10:19] arjenzhou opened #19560 "quarkus does not support automatic module in gradle"
### Describe the bug

**Environment:**
- macOS 11.5.2
- Java 11
- Gradle 7.2
- Intellij IDEA 2021.2 CE

**Behavior**
In `module-info.java`, requires quarkus but get `module not found` after building.

For any automatic module, there should be a `Automatic-Module-Name` in `MANIFEST.MF` or,
adding a `module-info.java` in source root.

### Expected behavior

_No response_

### Actual behavior

_No re

[2021-08-21 11:41] MikeEdgar commented on #18468
PR smallrye/smallrye-open-api#883 opened upstream for this. Anyone interested in this issue and more familiar with Kotlin, please feel free to chime in and review the proposed changes!

[2021-08-21 12:35] #19491 closed

[2021-08-21 21:24] navkast opened #19562 "Two `@Incoming` via smallrye-reactive-messaging causes build errors."
## Describe the bug

I'm trying this experimental feature: https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/advanced/incomings.html using the `smallrye-kafka` connector.

I consistently get this failure when building the application:

[code]

### Expected behavior

It should work [as described in the documentation](https://smallrye.io/smallrye-reactive-messaging/smallr

[2021-08-22 00:41] joaomarcosribeiroc commented on #6346
It didn't work using hibernate.physical_naming_strategy=<naming strategy class>. It should be used quarkus.hibernate-orm.physical-naming-strategy=<naming strategy class> instead. According to https://github.com/quarkusio/quarkus/pull/6451/files#diff-535c697010dc8616f3b55956441f96e485455d1eb8dadd9e936df6b2b366df25R7

[2021-08-22 08:05] hanzhenliang opened #19563 "StackOverflowException is thrown when read database config in `TenantConnectionResolver`"
### Describe the bug

I have a default datasource which stores tenant configurations including database config, and store other data per tenant per database. I tried to read database config in `TenantConnectionResolver`, but got StackOverflowException at the end.

[code]

### Expected behavior

`StackOverflowException` is thrown.

### Actual behavior

The `PanacheRepository` injected in `TenantCon

[2021-08-22 12:47] wjglerum opened #19564 "Qute can't find all fields defined on parent interfaces with strict rendering enabled"
### Describe the bug

Looks like Qute can't find certain fields when you use a nested class hierarchy.

For example, in our project we extensively use [Immutables](https://immutables.github.io/) for our domain objects. And we use wrappers around primitives, see https://immutables.github.io/immutable.html#wrapper-types

When we use this in combination with checked templates and strict rendering it

[2021-08-22 12:50] wjglerum commented on #19564
I noticed this especially after trying the `2.2.0.CR1` release, where expressions in includes and user tags are also checked, see https://github.com/quarkusio/quarkus/pull/18930

[2021-08-22 12:58] cescoffier commented on #19562
@navkast Quarkus didn't support @Incomings. I just opened a PR to add support for it.

[2021-08-22 17:11] #17691 closed

[2021-08-22 17:15] cescoffier commented on #19271
@kulame Do you have a reproducer?

See @tsegismont 's comment, it seems to work.

However, I'm wondering what should happen when no data sources are configured.

[2021-08-22 17:18] cescoffier commented on #7810
I documented this in #19544:

[code]

[2021-08-22 17:18] #7810 closed

[2021-08-22 22:45] maxandersen commented on #19549
we'll have to mock around with the config sources and their levels.

No idea if feasible but if we could just have it ignore application.properties and just use quarkus-cli.properties (or similar) instead and there wouldn't be conflicts.

[2021-08-22 22:50] stuartwdouglas commented on #19265
It looks like the static init block has the following:

[code]

Can you set a breakpoint for SecurityException, and try and figure out what the underlying exception is?

Also what mode is this, is it prod, dev or both? If it is prod using fast-jar is it still a problem with legacy-jar or uber-jar?

[2021-08-22 23:24] stuartwdouglas commented on #10988
But from a functionality standpoint I could just copy/paste the @RolesAllowed code and re-name it @PermissionsAllowed, add a `hasPermission(String)` method to `SecurityIdentity`. I.e. the functionality is exactly the same, you are just calling them permissions instead of roles?

If so you can totally make this work at the moment, e.g. define a permission as a role that starts with `permission:`, a

[2021-08-23 03:54] stuartwdouglas commented on #19556
Should we really required the path? If it is missing but `@RegisterRestClient` is present we should just default it to '/' IMHO.

[2021-08-23 04:40] navkast commented on #19562
@cescoffier Thank you for looking and for the prompt reply / resolution!

[2021-08-23 05:09] geoand commented on #19373
This is a duplicate of https://github.com/quarkusio/quarkus/issues/18914 and has been fixed from Quarkus `2.2.0.CR1` onward

[2021-08-23 05:09] #19373 closed

[2021-08-23 05:17] stuartwdouglas commented on #13594
This appears to be out of date

[2021-08-23 05:17] #13594 closed

[2021-08-23 05:28] geoand commented on #19448
This is indeed pretty problematic because it means that when `@ConfigMapping` is being used, all the configuration properties need to be known before hand, which is certainly not the case for properties coming from custom config sources.

@radcortez Why do we try to perform the mappings in static init? I mean, is there ever a need to have to have the `@ConfigMapping` mappings populated in that pha

[2021-08-23 05:51] geoand commented on #19364
Actually, we don't even include `@ConstructorBinding` in the jar we ship, so users can't add this anyway.

I'm going to close this as won't fix, because no one has ever complained about us not supporting the annotation.

[2021-08-23 05:51] #19364 closed

[2021-08-23 06:06] stuartwdouglas commented on #19535
This is actually a Restassured issue, if you extract the body as a byte array and compare the bytes the response is correct. For some reason Restassured is not respecting the content type when converting it to a string.

[2021-08-23 06:16] #19557 closed

[2021-08-23 06:38] michalszynkiewicz commented on #19556
The interface @maxandersen posted should work.
This should pick it up: https://github.com/quarkusio/quarkus/blob/45d7dbb238d89a3d565828e0915a23f2e6b01917/independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java#L208-L221

What we currently do is we find all the interfaces that have `@Path` either on the

[2021-08-23 06:44] maxandersen commented on #19556
Could it be one of the dreaded "code assumes every class is in a package" kinda thing ?

[2021-08-23 06:51] stuartwdouglas commented on #19556
It happens when you have no @Path, but you do have an @RegisterRestClient .

[2021-08-23 06:58] antoniomacri commented on #16390
I was doing:

    @Incoming("mychannel")
    @Acknowledgment(Acknowledgment.Strategy.PRE_PROCESSING)
    public CompletionStage<Void> incomingData(KafkaRecord<GiornataNegozio, CountValue> counter) {
        return managedExecutor.runAsync(threadContext.contextualRunnable(() -> {
            blockingRepo.save(counter);
        }));
    }

Now it is:

    @Blocking
    @Incoming("mychannel")
    @Ac

[2021-08-23 07:39] michalszynkiewicz commented on #19556
https://github.com/quarkusio/quarkus/pull/19572 should fix this

[2021-08-23 07:40] #19218 closed

[2021-08-23 07:52] manovotn commented on #19393
@jamezp looks like you are using Weld API to check if the `delegate` is an object you want to inject into, or just a proxy that you first need to "unwrap". In that case, there is no CDI API solution to unwrapping so you cannot easily remove the dep :-/

[2021-08-23 08:00] #19519 closed

[2021-08-23 08:07] antonwiens commented on #19268
Sorry, i was away the last two weeks. I meant keypairs / private keys.
It should not contain keys, but it used to work with keys, now its no longer working.

[2021-08-23 08:17] tsegismont commented on #19271
@cescoffier I tried with an empty config file, a datasource is created with default values.

[2021-08-23 08:47] #17093 closed

[2021-08-23 08:52] pjgg opened #19573 "DataSources DevService doesnt follow the same logs patterns as other devServices"
### Describe the bug

I am missing the following Log in postgresql | mysql | mariadb | Mssql devService:

[code]

As other devServices do, for example:

Amqp (follow this pattern):
[code]

RedPanda:

[code]

But Postgres follow this pattern:

[code]

I think that is important to have a unified log and also explicitly says that DevService <DATABASE_KIND> was started

### Expected behavior

Dev Serv

[2021-08-23 09:03] gsmet commented on #19573
I will have a look at this one and the other one https://github.com/quarkusio/quarkus/issues/19485

[2021-08-23 09:29] michalszynkiewicz commented on #17093
thanks for handling this @jaikiran

[2021-08-23 09:35] gsmet commented on #19573
See https://github.com/quarkusio/quarkus/pull/19575

[2021-08-23 09:35] gsmet commented on #19485
See https://github.com/quarkusio/quarkus/pull/19575

[2021-08-23 09:37] geoand commented on #19286
Can you expand a little on what exactly you would like to see?

[2021-08-23 09:48] #19556 closed

[2021-08-23 10:52] gsmet commented on #19558
@aloubyansky could you have a look at this one?

[2021-08-23 10:55] gsmet commented on #19499
https://github.com/quarkusio/quarkus/pull/19576

[2021-08-23 10:56] gsmet commented on #19524
Blog posts are there: https://github.com/quarkusio/quarkusio.github.io/tree/develop/_posts

You also need to add yourself as an author here: https://github.com/quarkusio/quarkusio.github.io/blob/develop/_data/authors.yaml

[2021-08-23 10:56] #19524 closed

[2021-08-23 11:02] aloubyansky commented on #19558
Is there a Maven mirror in the settings or the pom.xml?

[2021-08-23 11:04] aloubyansky commented on #19558
This may help https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/extension-registry-user.adoc#maven-repository-mirrors-and-proxies

[2021-08-23 11:14] gsmet commented on #19516
The doc was incorrect. You need to use `-Dquarkus.native.container-build=true`.

I created a PR to fix it here: https://github.com/quarkusio/quarkus/pull/19577 .

[2021-08-23 11:20] cescoffier commented on #19271
@tsegismont makes sense! Thanks!

[2021-08-23 11:43] gsmet commented on #19558
@aloubyansky but why does it try to resolve a snapshot version of something `io.quarkus.registry:quarkus-registry-descriptor:json:1.0-SNAPSHOT`?

[2021-08-23 11:53] sberyozkin commented on #18642
@SLedunois @kliebhart Here is a [link to the test endpoint code](https://github.com/quarkusio/quarkus/blob/main/integration-tests/bouncycastle/src/main/java/io/quarkus/it/bouncycastle/BouncyCastleEndpoint.java#L24) - a signature algorithm known to be supported by BC is explicitly requested from `BC`.

But I have also reproduced a stacktrace in the description and specifically seeing`org.bouncycast

[2021-08-23 11:53] rsynek commented on #11563
Hi @gsmet, have there been any changes to removing unused beans recently? The CI fails due to a missing `SolverFactory` bean, which has been removed due to being detected as unused:
[code]

Adding the `@Unremovable` annotation on the producer fixes the problem, however, since the bean was missing, it should not have been removed in the first place. Could be the detection of unused beans failed due

[2021-08-23 12:01] aloubyansky commented on #19558
All the `io.quarkus.registry` artifacts are snapshots. It allows to have static coordinates for the dynamic content. The `quarkus-registry-descriptor` isn't actually expected to be changing often but that catalogs are.

[2021-08-23 12:03] aloubyansky commented on #19558
The fact that the plugin fails w/o suggesting a workaround is an issue though.

[2021-08-23 12:04] geoand commented on #19488
Yeah, it's sometimes hard to understand where the Jackson errors actually mean in practice.
That said, we could likely add some intelligence in Quarkus (perhaps only in dev-mode) to help users, but it would probably be very fragile...

[2021-08-23 12:07] #19516 closed

[2021-08-23 12:12] #19368 closed

[2021-08-23 12:14] michalszynkiewicz opened #19580 "Treat `@Transactional` as `@Blocking` for gRPC"
### Description

Treat `@Transactional` as `@Blocking` for gRPC

### Implementation ideas

_No response_

[2021-08-23 12:28] gsmet commented on #11563
Hi @rsynek . Yes if you only access a bean programmatically, ArC is not able to understand it's getting used. Now I don't know exactly if something changed on our side, I saw some work with the interceptors but that's pretty much it I think.

Marking it as `@Unremovable` is the way to go if you only access it programmatically... but we probably need to understand what changed.

/cc @mkouba

[2021-08-23 12:53] sfrank-mc commented on #6262
Is there any plan to tackle this?
We are now considering switching all logs out of Quarkus because of this issue.
Before we go with this endeavor we want to understand if a solution would be provided by the framework in the near future.

[2021-08-23 13:00] #19485 closed

[2021-08-23 13:00] #19573 closed

[2021-08-23 13:07] edeandrea commented on #19132
So in that example gitpod _must_ be exposing the underlying container runtime to the workspace pod, something Eclipse Che/CodeReady Workspaces does not do.

[2021-08-23 13:47] jsmrcka commented on #19535
@stuartwdouglas

I think the issue is that RESTEasy Reactive is not sending charset info in the response content type.
Using the attached reproducer, I can do:
[code]
Compare it to the same application modified to use classic RESTEasy (notice the charset in the response content type):
[code]
REST Assured probably uses some kind of default when it does not receive the charset in the response.
Sure,

[2021-08-23 14:22] jamezp commented on #19393
Excellent, thanks @manovotn. I suspected we could not remove the dependency, but thought there was maybe some API I wasn't aware of :)

[2021-08-23 14:29] gsmet commented on #19393
@manovotn but are we using `resteasy-cdi` in Quarkus? It looks like a CDI extension and we don't support them AFAIK so I suspect the CDI integration in the REST Client relies on something else.

Maybe @michalszynkiewicz would know?

[2021-08-23 14:31] michalszynkiewicz commented on #19268
Rest Client Reactive uses Vert.x HTTP client underneath and is handling the certificate entirely differently than the classic Rest Client.
This sounds like it worked by accident for the classic variant, I don't think we should add support for it in the reactive one.

[2021-08-23 14:32] michalszynkiewicz commented on #19393
I don't know. I can try to investigate it

[2021-08-23 14:38] geoand commented on #14927
Well, we can likely have a configuration property for that.
I don't think it's high on anyone's agenda, but perhaps someone creating a draft PR and then starting a thread on quarkus-dev mailing list will get things going

[2021-08-23 14:41] manovotn commented on #19393
@gsmet good point, I don't know from the top of my head and you're right that the module contains a classic CDI portable extension which just doesn't work with Quarkus.
It looks like we don't need that module at all for Quarkus...

[2021-08-23 15:33] cescoffier commented on #16390
The error you are seing means that while because by on a worker thread, the operation is taken a LOT of time and so report this abnormal operation. For very long operation, I would recommend using a dedicated thread pool.

[2021-08-23 15:44] antoniomacri commented on #16390
Hi Clement, but the error I see is on Agroal datasource health check, all the blocked threads are stuck there.

[2021-08-23 16:25] gastaldi commented on #19563
@hanzhenliang can you provide a sample on how you are reading the database from your `TenantConnectionResolver` ? I believe you need to avoid using the Panache API in this layer, preferably using the DataSource directly.

[2021-08-23 16:31] gavinking commented on #19580
Assuming that this is the same thing that was discussed previously for RER, I'm still against it. It seems to me that it muddies that semantics of `@Transactional` and is something we will regret later.

[2021-08-23 16:31] #19499 closed

[2021-08-23 16:38] GauthierHacout opened #19586 "Kafka consumer not working inside a Docker container"
### Describe the bug

I have a Quarkus app which is basically a Kafka consumer, when I run my app locally (by using `mvn compile quarkus:dev` for example) everything works fine & as expected !

But when I run the same app, with the same configuration (same application.properties file) inside a Docker container by using a simple Dockerfile:
[code]

The app doesn't work as expected anymore:

- The K

[2021-08-23 16:41] cescoffier commented on #16390
Yes, I can't help around Agroal, but from what I can see, if can't get a connection, meaning that all connections are used.

[2021-08-23 16:43] cescoffier commented on #19586
How is served your Kafka broker and ZK instance? How is the advertisement configured? Kafka is metadata and it is possible that it can't consume your topic because it can't access it.

[2021-08-23 16:45] cescoffier commented on #19586
I would recommend running your broker and app in containers on the same container network.

[2021-08-23 16:47] GauthierHacout commented on #19586
My Kafka broker & ZK instance are AWS managed, aka it's an MSK. I'm using the same Kafka broker in the two cases (both local & Docker) it only doesn't work when I'm using Docker.

I believe access to Kafka is not the issue as my app can register normally in both case producing theses logs:
[code]

I can see using tools like AKHQ that my app is indeed registered as a member of the consumer group, w

[2021-08-23 16:55] maxandersen commented on #19132
no, it does not mean they expose the underlying container runtime - just that they have a docker remote deamon running which could be running in full isolation from anything else.

[2021-08-23 16:57] edeandrea commented on #19132
Maybe thats what I meant to say. You just worded it better than me :)

They've been able to have a docker daemon exposed to the pod running the workspace. Something Che/CRW does not do.

[2021-08-23 17:05] #18642 closed

[2021-08-23 18:54] GavinRay97 commented on #19488
@geoand The main issue here was that the error mistakenly (I think) seemed to be "swallowed" -- no RESTeasy exception is ever thrown and it fails to "bubble up":

![image](https://user-images.githubusercontent.com/26604994/130501888-035f47e6-09ce-4367-8cec-402df34647b6.png)

No exception/error message -- the rest of the function just fails to execute

And the page response, empty:

![image](https:

[2021-08-23 18:59] cescoffier commented on #19586
That is going to be hard to reproduce for me. I have apps running in containers and connecting to managed instances of Kafka without any issue.

Are you in JVM or native mode?

[2021-08-23 19:00] hanzhenliang commented on #19563
@gastaldi I just injected the panache repository in my custom `TenantConnectionResolver`.
Here is my configs:
[code]

[2021-08-23 19:25] gastaldi commented on #19563
Right, so what happens if you `@Inject DataSource` instead? I don't think you are allowed to use any Panache features inside this impl, we should probably detect that during build time and fail the build

[2021-08-23 19:41] ambition-consulting commented on #19420
Same problem, my IDE is going crazy also. only rebuilding completely helps.

[2021-08-23 19:43] hanzhenliang commented on #19563
I don't have `StackOverflow` exception any more with injecting `DataSource`.  But got an error in build time:
[code]

[2021-08-23 19:47] hanzhenliang commented on #19563
I should have explain what I'm doing a little bit earlier. I'm building a multiple tenant application which will have a default `DataSource` to store all tenant configurations, and each tenant will have an isolated database to store their data.

Every time the `TenantConnectionResolver` resolves, I need to query the default `DataSource` to get the tenant configurations, which means I will need to

[2021-08-23 19:59] michalszynkiewicz commented on #19393
I tried and handling `@ClientHeaderParam` fails without it, I'll see if I can work around it.

[2021-08-23 20:41] ccarv opened #19592 "Hibernate ORM properties are not configurable after the application has been compiled"
### Describe the bug

Quarkus will not allow reconfiguring the PU's default schema under the `hibernate-orm` once the applictaion has been compiled. Configuration that is defined in `./config/application.yaml` is ignored (only for `hibernate-orm`) entirely. Environment variables will not be evaluated and or expanded for those properties.

Under `./src/main/resources/application.yaml`:
[code]

Unde

[2021-08-23 21:03] ccarv commented on #19592
I just stumbled across [this issue](https://github.com/quarkusio/quarkus/issues/2933). I wish I saw this 4 days ago!

[2021-08-23 21:05] #19592 closed

[2021-08-23 21:19] gastaldi commented on #19563
Right, so you can't use the Panache API in there because using it would require triggering the same `TenantConnectionResolver` and that would give you this error. I am not sure how you implemented your `ai.bidwise.backend.account.resolver.MultiTenantResolver` class, can you share it?

[2021-08-23 21:31] gastaldi commented on #19560
Can you elaborate on what you're trying to do here? Quarkus does not support JPMS, so you can't use Quarkus as a module anyway

[2021-08-23 21:36] gastaldi commented on #19563
This error looks similar to https://github.com/quarkusio/quarkus/issues/19467

[2021-08-23 21:47] gastaldi commented on #19467
@stefanorg how do I reproduce the error you mentioned in https://github.com/quarkusio/quarkus/issues/19467#issuecomment-902576463? Can you provide a sample app?

[2021-08-23 21:50] gastaldi opened #19593 "NullPointerException in FastBootHibernatePersistenceProvider"
also i noticed that in v 2.1.x quarkus raise a warning but the application work.
In version 2.2.0.CR1 i get also a null pointer exception
[code]

_Originally posted by @stefanorg in https://github.com/quarkusio/quarkus/issues/19467#issuecomment-902576463_

[2021-08-23 21:53] gastaldi commented on #19467
@stefanorg I created https://github.com/quarkusio/quarkus/issues/19593 and provided a potential fix, can you test and let me know if that works for you?

[2021-08-23 23:04] stuartwdouglas commented on #19488
Do you have a simple GH repo that reproduces the logging issue?

I could setup a new project and copy paste the classes above but a reproduce repo would make things a lot easier (It's not uncommon with these copy/paste reproducers for something to be missing so you spend the time setting it up and then it does not work anyway).

[2021-08-23 23:16] patriot1burke opened #19596 "Cannot toggle back to test mode after pause"
### Describe the bug

In dev mode, you cannot toggle back to test mode after pausing tests.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

// some of this is pseudo code
1. cli create app resteasy (from 999-SNAPSHOT bom)
2. mvn quarkus:dev
3. Press "r" to start test mode
4. Press "p" to pause test mode
5. Press "r" to restart test mode

"r" option

[2021-08-23 23:18] stuartwdouglas commented on #19535
I swear when I looked in wireshark there was a content type in the response, although this may have been after I made some changes (I added the charset manually to the producer method).

@geoand it looks like we don't default to UTF-8 and RESTEasy does (I think it is configurable). We should probably look at adding this.

[2021-08-24 01:09] arjenzhou commented on #19560
Sad to hear that. I am writing code under JPMS, is there any plan to support it?

[2021-08-24 01:41] gastaldi commented on #19560
Not really, how are you using Quarkus? You shouldn't need JPMS while writing a Quarkus app

[2021-08-24 02:13] luminecs commented on #19558
Hi aloubyansky, the following is maven's `conf/settings.xml` (the comments have been deleted).

The aliyunmaven mirror is an alternative version of the maven central repository and is widely used in China. There is also the same error while I used the maven central repository.

Are there any other configurations that need to be add to the `conf/settings.xml`? What I mean is that I can create a new

[2021-08-24 02:25] malkochoglu opened #19599 "Setting quarkus.redis.devservices.enabled to false does not work"
### Describe the bug

Hi,
Although I set quarkus.redis.devservices.enabled to false, looks like still redis database is tried to be started using docker and start up time goes up to 100 secs in a hello world application. Though, this does not prevent redis client connect to configured database on localhost.

application.properties
`quarkus.redis.devservices.enabled=false`

console log
`Unable to c

[2021-08-24 04:21] geoand commented on #19535
I'll have a look

[2021-08-24 04:28] arjenzhou commented on #19560
I `requires` Quarkus (quarkus.core etc.) in `module-info.java`, which is necessary for importing Quarkus lib. Is there any inaccuracy？

[2021-08-24 04:33] gastaldi commented on #19560
That's not how you are supposed to develop with Quarkus. Take a look at the getting started example: https://github.com/quarkusio/quarkus-quickstarts/tree/main/getting-started and the guide in https://quarkus.io/get-started/

[2021-08-24 05:09] #15935 closed

[2021-08-24 05:09] #16897 closed

[2021-08-24 05:22] arjenzhou commented on #19560
Alright, I had checked the example. It seems hard to migrate a JPMS app to Quarkus. Writing an unnamed module is something strange to me.

[2021-08-24 05:46] geoand commented on #19535
I don't see any configuration in Quarkus that controls this for RESTEasy. Futhermore after testing around a bit, I see that RESTEasy only adds the UTF-8 charset when the response is `text/plain`.
So I'll do the simplest thing for now, which is just to turn `text/plain` into `text/plain;charset=UTF-8`

[2021-08-24 05:52] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1161299470

[2021-08-24 06:05] #19527 closed

[2021-08-24 06:14] hanzhenliang commented on #19563
Here is the `MultiTenantResolver`:

[code]

[2021-08-24 06:16] hanzhenliang commented on #19563
The same issue.

[2021-08-24 06:31] geoand commented on #16547
@iocanel this is now something we need to get done because Service Binding is becoming important in Quarkus

[2021-08-24 06:40] aloubyansky commented on #19558
@luminecs `aliyunmaven` is a mirror of which repositories? The config implies it is a mirror of all the Maven repositories. It's very unlikely that it is.

[2021-08-24 06:52] #19562 closed

[2021-08-24 07:12] machi1990 commented on #19599
Thank you for reporting the issue. I'd imagine you do not have docker running, correct? Hence the 100s startup time.

@stuartwdouglas the check is done on the build step: https://github.com/quarkusio/quarkus/blob/main/extensions/redis-client/deployment/src/main/java/io/quarkus/redis/client/deployment/DevServicesRedisProcessor.java#L59 I wondering if it will make more sense to perform the check her

[2021-08-24 07:19] stefanorg commented on #19467
ok @gastaldi, thank you. I'll build the PR and let you know.

[2021-08-24 07:25] #19593 closed

[2021-08-24 07:38] iocanel commented on #16547
Yeah, we get that a lot, so we need to do this asap

[2021-08-24 07:41] #19596 closed

[2021-08-24 07:49] michalszynkiewicz commented on #19580
TBH, I'm not a huge fan of this either. For users, it won't be clear that `@Transactional` implies `@Blocking`.

OTOH, `@Transactional` without `@Blocking` does not make sense. And we already have it done for RER, so this is just aligning with RER.

[2021-08-24 07:55] cescoffier commented on #19586
Looking at
![image](https://user-images.githubusercontent.com/402301/130578838-d1942560-6c3b-4a29-80d1-46d7be1ff8bf.png)

There is a very good chance that your container lives is a different network. Yes, some interactions works, but some would not. I would recommend trying to run kafka tools in your container to see if the problem comes from the network configuration or from quarkus.

[2021-08-24 08:12] luminecs commented on #19558
The `https://maven.aliyun.com/repository/public` is the union of `https://repo1.maven.org/maven2/` and `
http://jcenter.bintray.com/`. Does the Quarkus have it own repository, and how to configure is? Or can I refer to your configuration？

If the expression is wrong,  please criticize and give advice. I have been learning to improve my English. Thanks.

[2021-08-24 08:21] aloubyansky commented on #19558
Yes, that's what I meant, using `*` means the mirror should be capable of providing artifacts from all the possible repositories., see https://maven.apache.org/guides/mini/guide-mirror-settings.html#using-a-single-repository.
If you know that `aliyunmaven` is a mirror of only those two repos, you should have the following config instead:

[code]

There is a Quarkus extension registry Maven reposit

[2021-08-24 08:21] stefanorg commented on #19467
@gastaldi i confirm that your PR fixes the NPE.
The `ContextNotActive` still persist, any hint?

[2021-08-24 08:22] GauthierHacout commented on #19586
Hello,

The app is run in JVM, not Native mode. I understand that it can be hard to reproduce, I'll try to create an minimal app that reproduce my issue for you to test.

Although I have trouble understanding why network would be the issue here because it works perfectly when I run the app directly on my machine. It only doesn't work when I run the app (on the same machine) inside a Docker contain

[2021-08-24 08:27] #19391 closed

[2021-08-24 08:34] Ladicek opened #19606 "RestClient Reactive + Fault Tolerance doesn't work"
### Describe the bug

When I use the RestClient coming from classic RESTEasy together with Fault Tolerance, everything works just fine. When I use RestClient from RESTEasy Reactive, application build fails with

[code]

This is because the SmallRye Fault Tolerance extension loads classes of all beans that use some fault tolerance annotation from the deployment classloader. That works fine, until o

[2021-08-24 08:56] geoand commented on #17482
Thanks for the info @galderz.

I assume that at some point this is something we would want to have in Quarkus

[2021-08-24 09:13] geoand commented on #19452
@manusa do you know if in Kubernetes `1.21` a user needs additional permissions to read a config map from the API server?

[2021-08-24 09:23] sberyozkin opened #19608 "DevServices for Keycloak should be able to discover the container started by KeycloakTestResourceLifecycleManager"
### Description

[KeycloakTestResourceLifecycleManager](https://quarkus.io/guides/security-openid-connect#integration-testing-keycloak) starts a Keycloak container but it is not discovered when Dev Services for Keycloak launches its own container.

### Implementation ideas

Update Dev Services for Keycloak to discover the container running with a matching label and `KeycloakTestResourceLifecycleMa

[2021-08-24 09:37] manovotn commented on #19526
@JHahnHRO Quickly looking at what's happening under the hood, it looks like Quarkus is automatically adding a qualifier for each config and turning it into a bean. The code is here - https://github.com/quarkusio/quarkus/blob/main/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java#L265-L269

This makes sense because from CDI perspective you need to differentiate

[2021-08-24 09:41] #19526 closed

[2021-08-24 10:16] GauthierHacout commented on #19586
FYI I fixed my issue by using another Docker image for run time.

I went from `adoptopenjdk/openjdk16:alpine-slim` to `openjdk:16` at my problem got resolved. The app is now working the same way whereas I use Docker or not. I believe it's more of a Java alpine image issue than a Quarkus issue then.

[2021-08-24 10:16] geoand commented on #19488
As Stuart mentions, if you have a small project we can use to reproduce what you are seeing, that would be great

[2021-08-24 10:21] michalszynkiewicz commented on #19393
Dropping resteasy-cdi altogether is doable but requires copying some classes to Quarkus. Simple exclusion on weld-api is what I think is the best in this scenario. https://github.com/quarkusio/quarkus/pull/19611 does that

[2021-08-24 10:26] geoand commented on #17482
@Sanne this is something you wanted as well, right?

[2021-08-24 10:37] geoand commented on #19468
If this is still a  problem, please attach a small project that exhibits the problematic behavior.
A quick and dirty check I did worked just fine

[2021-08-24 10:53] #19476 closed

[2021-08-24 11:13] cescoffier commented on #19586
Oh thanks for the feedback!
Probably related to musl (the libc used in alpine).

If I understand correctly you were able to connect to AMK from your own machine? I failed, I add to use an ec2 instance running on the same VPC. That leads me to the network issue I was mentioning.

[2021-08-24 11:14] #19492 closed

[2021-08-24 11:15] #19356 closed

[2021-08-24 11:28] #19393 closed

[2021-08-24 11:31] geoand commented on #19460
Thanks for reporting.

https://github.com/quarkusio/quarkus/pull/19610 will fix the issue and will part of the `2.2.0.Final` docs

[2021-08-24 11:39] #19460 closed

[2021-08-24 11:43] Postremus opened #19612 "maven-plugin create downloads a io.quarkus.registry:quarkus-registry-descriptor:json:1.0-SNAPSHOT"
### Describe the bug

I was trying to follow along the json rest guide: https://quarkus.io/guides/rest-json

During project creation, I was asked to execute this command:
[code]

This tries to download `io.quarkus.registry:quarkus-registry-descriptor:json:1.0-SNAPSHOT` from our corporate nexus proxy, which fails.
AFAIK, we only proxy releases from maven central, and not snapshot from ossrh.

This

[2021-08-24 11:44] #19338 closed

[2021-08-24 11:57] #19366 closed

[2021-08-24 12:05] Sanne commented on #17482
Right! We have an immediate need in the case of the Oracle JDBC driver, and I totally expect more libraries in the future to occasionally include some mistakes, which we would only be able to work around when we have this.

[2021-08-24 12:07] geoand commented on #17482
@galderz how would one access this programmatically from a Feature?

[2021-08-24 12:13] vladykin opened #19613 "ConfigMapping does not handle java.nio.file.Path by default"
### Describe the bug

When I have a property with type `java.nio.file.Path` in ConfigMapping like this
[code]

I get build error
[code]

Looks like Quarkus is scanning java.nio.file.Path interface and trying to create a synthetic class implementing this interface.

This does not happen when I explicitly specify Converter:
[code]

### Expected behavior

I'd love Quarkus to support java.nio.file.Pat

[2021-08-24 12:46] galderz commented on #17482
@geoand I don't think doing this a Feature is possible. The code that excludes jars/resources works in the 1st stage of native-image, the driver phase. This phase constructs a java invocation for the second phase and hence we exclude things to being passed on to the 2nd phase, where Feature instances and others come into play.

I would expect that each extension would define 0..N `exclude-config`

[2021-08-24 12:49] geoand commented on #17482
Gotcha. I'll look into it hopefully sometime soon

[2021-08-24 12:59] geoand commented on #19442
So if we want to generate the Kubernetes manifests for application that don't listen to HTTP, we just need to generate a `Deployment` without ports and no `Service`.
Right?

[2021-08-24 13:04] cescoffier commented on #19442
Not HTTP (on the main HTTP interface) ones.

[2021-08-24 13:09] ambition-consulting commented on #6276
Apparently Pact tests can at least get executed again with Quarkus 2: https://github.com/skattela/pact-workshop-jvm-quarkus

[2021-08-24 13:15] Sanne commented on #17482
Features should be able to change the flags which we feed into the `native-image` process

[2021-08-24 13:16] sberyozkin opened #19614 "DevUI is affected when the same Quarkus application is started twice with quarkus:dev"
### Describe the bug

Starting the same Quarkus application with `quarkus:dev` twice affects DevUI.

I've noticed it when experimenting with a label based container discovery for Keycloak, but confirmed it is not related to it.

### Expected behavior

Going to http://localhost:8080/q/dev/ should work as if only a single application has started

### Actual behavior

Go to http://localhost:8080/q/de

[2021-08-24 13:35] GavinRay97 commented on #19488
Here you go @geoand @stuartwdouglas:

[quarkus-reactive-jackson-repro.zip](https://github.com/quarkusio/quarkus/files/7039528/quarkus-reactive-jackson-repro.zip)

It runs on port `8081`, only thing to note.
Run a `gradle quarkusDev` and then visit

- http://localhost:8081/weather/broken?city=Miami

For example, and watch the log output

Important pieces of the code (only 2 areas) have been tagged

[2021-08-24 14:03] foal commented on #19612
I have a very similar issue - try to add `container-image-jib` by the following command `mvnw quarkus:add-extension -Dextensions="container-image-jib"` and see the
[code]
If I check this artifact in my Nexus (http://localhost:8081/repository/registry.quarkus.io/io/quarkus/registry/quarkus-registry-descriptor/1.0-SNAPSHOT/maven-metadata.xml) I see
[code]
If I check this artifact on your side (https

[2021-08-24 14:04] dmlloyd commented on #5332
It was referring to anything which depends on `io.quarkus.deployment.QuarkusAugmentor#configCustomizer`.

[2021-08-24 14:07] foal commented on #19558
See https://github.com/quarkusio/quarkus/issues/19612#issuecomment-904671430

[2021-08-24 14:13] aloubyansky commented on #19612
Starting from 2.1.0.Final, the Quarkus dev tools now use their own Maven snapshot repository to pull in extension catalogs https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/extension-registry-user.adoc

[2021-08-24 14:15] aloubyansky commented on #19612
@gastaldi could you please check the missing version issue mentioned above? Thanks.

[2021-08-24 14:35] gastaldi commented on #19467
@stefanorg thanks for testing it! Can you share your `it.argosoft.remotelogin.orm.tenant.ArgoDbTenantResolver` code?

[2021-08-24 14:42] gastaldi commented on #19612
@aloubyansky @foal it's fixed now, can you confirm?

[2021-08-24 14:55] alessandroAmedei commented on #9493
Even with jvm mode we get the issue. Why do you have to choose the profile at build time ? I would like to build just one single docker image of my application, and then run multiple instances of that specifying a quarkus profile. Isn't that possible?

[2021-08-24 14:59] alessandroAmedei commented on #10041
So if i want to have multiple enviroment i have to package multiple times specifying the quarkus profile for each one?

[2021-08-24 15:02] alessandroAmedei commented on #15072
I agree, this means that if I have multiple enviroments with different datasources, I have to build the project multiple times.

[2021-08-24 15:12] SLedunois opened #19617 "Qute - Bean instance for localized interface not found"
### Describe the bug

Using github action or maven docker, the `@MessageBundle` is not packaged and throw an exception :
[code]

### Expected behavior

`@MessageBundle` should always packaged.

### Actual behavior

`@MessageBundle` is not bundled except with using the `quarkus cli tool` and `mvnw`.

### How to Reproduce?

Using the default github action: https://github.com/SLedunois/uptimr/runs/34

[2021-08-24 15:27] gastaldi commented on #19467
@stefanorg no need to share it, I can reproduce this issue with the following TenantResolver:
[code]

And this is my application.properties:
[code]

[2021-08-24 15:29] gastaldi commented on #19563
We'll close this issue and track in https://github.com/quarkusio/quarkus/issues/19467. Thanks for your feedback!

[2021-08-24 15:29] #19563 closed

[2021-08-24 15:54] GauthierHacout commented on #19586
Yes maybe I should have been a little more precise, I'm using a VPN to connect to AWS managed services (MySQL, Kafka, whatever I need...) from my machine. This is why I'm able to consume Kafka topics even though my app is not inside AWS network directly.

But since my problem was purely Docker related I didn't elaborate on the MSK part.

The fix is nice & easy but it was hard to debug this issue,

[2021-08-24 16:20] stefanorg commented on #19467
Sorry for  late response, yes nothing fancy on my side, only request scoped resolver with custom tenant resolver logic that depends on static configuration.

[2021-08-24 16:43] gastaldi commented on #19467
@stefanorg can you build https://github.com/quarkusio/quarkus/pull/19618 and let me know if that works for you?

[2021-08-24 16:45] #19442 closed

[2021-08-24 16:54] MM87037 opened #19621 "Response head already sent Exception"
### Describe the bug

When using lazy JWT authentication with http permissions observing below exceptions if JWT token in the request is expired.

[code]

**Quarkus Extensions used:** cdi, security, smallrye-context-propagation, smallrye-jwt, smallrye-openapi, swagger-ui, vertx, vertx-web

Config used:

[code]

### Expected behavior

No Runtime exceptions

### Actual behavior

Observing below exce

[2021-08-24 17:20] irawlinson commented on #7232
Have there been any updates on this feature?

[2021-08-24 17:39] dufoli commented on #1605
hello,

I have try to list all option, that I found in release note of graal:
seems missing:
- FlightRecorder
- StartFlightRecording
- FlightRecorderOptions
- FlightRecorderLogging
- DefaultLocale
- IncludeLocales
- IncludeAllLocales
- DeleteLocalSymbols
- ActiveProcessorCount
- StaticExecutableWithDynamicLibC : build native image staticly except libC (docker optimization)

Seems not needed:
- Inl

[2021-08-24 17:48] dhoffer commented on #19265
Its not throwing in the static block, all good there.  We are running in prod using an uber-jar.

[2021-08-24 17:59] sberyozkin commented on #19608
I've edited it too early but I won't re-editing again. It can work both ways:
- if I run a dev mode test in `main` (ex, as part of `quarkus-oidc/deployment` tests) then it is `KeycloakTestResourceLifecycleManager` which is launched first, followed by `DevServices for Keycloak`.
- if I start a quickstart with `quarkus:dev` and press `r` to run the tests I have `DevServices for Keycloak` starting fi

[2021-08-24 18:10] sberyozkin opened #19622 "DevServices and QuarkusTestResourceLifecycleManager see different LaunchMode value in Continuous Testing mode"
### Describe the bug

`LaunchMode.TEST` is reported as `LaunchMode.current()` in the `DevServices` processor code (ex, `KeycloakDevServicesProcessor`) while  `LaunchMode.NORMAL` is seen in `QuarkusTestResourceLifecycleManager` after starting Quarkus with `quarkus:dev` and pressing `r` to run the tests.

I've noticed it when trying to fix #19608 - I'd like to make sure that when a test container is

[2021-08-24 18:15] vjhurani commented on #10140
How did you fix it ?

[2021-08-24 18:18] laurentperez commented on #7019
We're experiencing leaks of both Driver and Connection instances : instances only, the db itself has no opened leaks ; i.e, .close() seems fine.

Heap dump reveals several hundreds of MB retained by both Driver and Connection.

We're also programmatically creating instances of AgroalConnectionFactoryConfigurationSupplier() at runtime, because its .jdbcurl(xxx) where in our case, xxx is dynamic per

[2021-08-24 18:46] laurentperez commented on #11729
@svinther how did you implement the health checks of /q/health ? thru a custom https://quarkus.io/guides/smallrye-health doing DS lookups ?

also : did it break since sept 2020 ? :)

we're having a very similar scenario of yours and indeed the whole thing seems hacky and ours is creating driver leaks

I understand db info can't sometimes be known at build processor time, it's outside of a closed w

[2021-08-24 19:07] malkochoglu commented on #19599
Hi,
Thanks all for looking into this. I have docker desktop installed. However 'docker run' fails on windows command terminals. It's not configured. Only proper way is to use it on my laptop is in Linux shell provided by WSL functionality.
I suggest, if the purpose of "quarkus.redis.devservices.enabled=false" is not to try running a local database, I think it should skip it altogether whether cont

[2021-08-24 19:30] stefanorg commented on #19467
@gastaldi to me seems ok, no more warnings :+1:

[2021-08-24 19:31] #19467 closed

[2021-08-24 19:46] stuartwdouglas commented on #19622
QuarkusTestResourceLifecycleManager is run before Quarkus starts, so Quarkus has not had a chance to set the launch mode.

That said given that this is only used in testing I don't think this is a bug, as you already know the launch mode is test.

[2021-08-24 19:46] #19622 closed

[2021-08-24 19:46] #19606 closed

[2021-08-24 19:46] bvarner opened #19623 "Regression in launching IntegrationTests instrumented with Jacoco-Maven-Plugin"
### Describe the bug

Quarkus 2.1.x (I'm not sure which version initiated it)

Trying to run integration tests (failsafe) with an ${argLine} provided from jacoco-maven-plugin that contains multiple arguments is **broken**. Looks like it's parsing the -javaagent argument for `,`'s then splitting those into additional java command arguments, which is, clearly not valid.

### Expected behavior

Expec

[2021-08-24 19:47] stuartwdouglas commented on #19608
I don't think we should do this, why would you want to use KeycloakTestResourceLifecycleManager when you already have DevServices,  you should just use DevServices directly, and KeycloakTestResourceLifecycleManager should likely be deprecated.

In addition you don't really want your tests connecting to the same service as dev mode, as they may have different config.

[2021-08-24 19:48] #19535 closed

[2021-08-24 19:53] galderz commented on #17482
Ah, you mean Quarkus Features? I thought @geoand was referring to GraalVM Features... :)

[2021-08-24 19:54] #19599 closed

[2021-08-24 19:54] geoand commented on #17482
Yes, I did mean GraalVM Features

[2021-08-24 19:56] stuartwdouglas commented on #19265
Can you make a reproducer? It seems like this is all in the database startup code so I am assuming a small project with the same config would have the same issue?

[2021-08-24 19:59] famod commented on #19623
/cc @geoand @stuartwdouglas

[2021-08-24 20:01] dhoffer commented on #19265
I doubt that will be possible.  If no one else is having any troubles with their 2.x apps my new simple one will likely work as well.  I'll keep investigating but not getting far on this.

[2021-08-24 20:03] stuartwdouglas commented on #19265
Is there something specific in your datasource config that is triggering this code path?

It's really weird because I don't really see how Quarkus can affect a JDK class like this, especially given we don't do anything special with ClassLoading in an Uber Jar.

[2021-08-24 20:11] dhoffer commented on #19265
Nothing special.  Just using quarkus.datasource.credentials-provider config so Quarkus uses CredentialsProvider to get DB credentials.  Quarkus calls this very early as it needs the DB credentials early.

[2021-08-24 20:14] famod commented on #19613
/cc @radcortez

[2021-08-24 20:29] Sanne commented on #17482
ah ok. Yes it definitely needs to be at  the level of command line arguments, anything else would be too late.

[2021-08-24 20:38] famod commented on #19268
I'll close this as per the above statement.

@antonwiens you are of course free to request an enhancement upstream over at https://github.com/eclipse-vertx/vert.x
If it get's adjusted there, it should end up working automatically in Quarkus once vertx is updated.

[2021-08-24 20:38] #19268 closed

[2021-08-24 20:48] aloubyansky commented on #19612
https://github.com/quarkusio/quarkus/pull/19455 will help in this case by logging a warning about the registry not being available in the current environment and falling back to the extension catalog narrowed to the platform release (kind of a legacy approach).

[2021-08-24 20:48] aloubyansky commented on #19558
https://github.com/quarkusio/quarkus/pull/19455 will help in this case by logging a warning about the registry not being available in the current environment and falling back to the extension catalog narrowed to the platform release (kind of a legacy approach).

[2021-08-24 21:01] sberyozkin commented on #19608
@stuartwdouglas

In addition you don't really want your tests connecting to the same service as dev mode, as they may have different config.

Have you thought you may not be right in your assumption ? Why have you closed without even allowing for the discussion to flow ?

[2021-08-24 21:40] sberyozkin commented on #19608
@stuartwdouglas

It is meant to support running the normal tests against a live Keycloak instance, when no `quarkus:dev` is used. So when a user has invested in this feature it is impossible to optimally combine it with DevServices being up as @sebastienblanc has discovered.
After `quarkus:dev` and pressing `r` 3 containers are up, dev mode, test mode (`r` related) and the one launched by `Keycloa

[2021-08-24 21:43] #19390 closed

[2021-08-24 21:57] stuartwdouglas commented on #19488
This is because the 400 WebApplicationException from the client ends up being interpreted by the server. It's a known issue with both the client and the server using the same exception types, I have added a fix.

[2021-08-24 22:01] rquinio commented on #6262
The stacktraces are only one case of multi-line logs, so this would only be a workaround at best.

Trying to list different approaches to solve the multi-line logs problem:

1. Use a flat pattern in stdout, merge multi-line log events in fluentd via some correlation/regexp, and send the result to a centralized logging service (where flat pattern might need to be parsed again). It's the 12-factor w

[2021-08-24 22:03] famod commented on #18372
New test failures added (Gradle Kotlin): `Could not initialize class org.jetbrains.kotlin.com.intellij.util.io.FileChannelUtil`

Those failures vanish when updating kotlin to 1.5.30, most likely due to https://youtrack.jetbrains.com/issue/KT-47152

[2021-08-24 22:18] stuartwdouglas commented on #19608
DevServices does not require quarkus:dev, it also works for running normal tests.

https://github.com/quarkusio/quarkus-quickstarts/pull/925 shows how to use DevServices in the test.

[2021-08-24 22:35] sberyozkin commented on #19608
@stuartwdouglas Thanks for that PR, I thought that did not work in the native mode (injecting in the test code) but may be it has changed now. So does that mean that all tests in main run with 2 containers (many tests are much more involved in how they set up Keycloak - compared to how DevServices does it - and in some cases it is not even possible to capture things in the custom json)
I'll have a

[2021-08-24 22:45] Karm opened #19633 "[JDK 17] [Native-image] Random/SplittableRandom class in the image heap, reading field sun.security.jca.JCAUtil.def"
### Describe the bug

Compiling an application with JDK 17 based [Mandrel 21.3-snapshot](https://ci.modcluster.io/view/Mandrel/job/mandrel-master-jdk17-linux-build/2/artifact/mandrel-java17-linux-amd64-21.3.0-deve98ae39603.tar.gz) distribution fails with the infamous:

[code]

### Expected behavior

Just as with JDK 11 based [Mandrel 21.3-snapshot](https://ci.modcluster.io/view/Mandrel/job/mandrel

[2021-08-24 22:47] stuartwdouglas commented on #19608
Good, point, that won't work in native.

Every other DevService does not really need to be accessed from the test code, so it is not really an issue, but it is for keycloak. We really need some way to inject these properties in native mode. I will come up with something.

[2021-08-24 23:04] famod commented on #18571
@stuartwdouglas This is probably a race between between the shutdown hook of quarkus-jacoco and the one from jacoco itself:
https://github.com/jacoco/jacoco/blob/v0.8.7/org.jacoco.agent.rt/src/org/jacoco/agent/rt/internal/Agent.java#L55
which dumps the file (by default):
https://github.com/jacoco/jacoco/blob/v0.8.7/org.jacoco.agent.rt/src/org/jacoco/agent/rt/internal/Agent.java#L145

I suppose thi

[2021-08-24 23:18] stuartwdouglas commented on #18571
I don't know why that code is not working, but that is likely the cause.

I was thinking the solution would be to disable dump on exit, and instead use JMX to dump the file, but I don't know when I will get time to investigate this approach.

If possible it would be nice to disable this for IDE based test runs, but AFAIK there is no easy way to detect this.

[2021-08-24 23:24] famod commented on #18571
Well, IDK about other IDEs, but in Eclipse you have that special runner: `org.eclipse.jdt.internal.junit.runner.RemoteTestRunner`
But I suppose we want to detect all IDEs?

[2021-08-24 23:26] GavinRay97 commented on #19488
Thank you, I really appreciate you all 🙏

[2021-08-24 23:26] #19488 closed

[2021-08-24 23:32] stuartwdouglas commented on #18571
I guess maven and gradle have their own runners as well. We could look for the maven/gradle ones and if they are not present then disable jacoco.

[2021-08-24 23:33] stuartwdouglas commented on #19608
I have updated the PR to work in native, although its not super nice. We should provide a nice utility for the keycloak tests to easily get the token.

[2021-08-24 23:39] famod opened #19634 "Support keystore configuration for mutual TLS in oidc and oidc-client"
### Description

#18012 added trust store support and we discussed key store support for client auth/mutual TLS.

This issue shall prevent that enhancement from falling through the cracks.

/cc @sberyozkin

### Implementation ideas

_No response_

[2021-08-25 00:13] stuartwdouglas commented on #19614
@phillip-kruger this appears to be due to https://github.com/quarkusio/quarkus/blob/e005b9a3b0eab907ce7319fd1791d2a729d02d11/core/deployment/src/main/java/io/quarkus/deployment/util/WebJarUtil.java#L127

[2021-08-25 02:14] jaikiran commented on #19265
So I tried something outside of Quarkus in a standalone trivial Java code. 2 classes `Foo` and `Bar`. `Foo` just keeps calling a static method on `Bar` in a loop and catches any exception, prints it and the continues calling that method on `Bar` for the next time. This it does for 5 times. `Bar` has a static (class) initialization block and intentionally throws an exception from that block everyti

[2021-08-25 02:20] gastaldi opened #19636 "Dev UI: Config Editor should render different web components depending on the config property type"
### Description

It would be nice if number-based properties were displayed as a spinner, enum items as a combo box, boolean as checkboxes, etc.

### Implementation ideas

Store the config type in the `ConfigDescription` value object and check in the template

[2021-08-25 02:21] stuartwdouglas commented on #19265
I would also try adding a breakpoint for `ExceptionInInitializerError` and see if that helps

[2021-08-25 02:21] gastaldi commented on #19636
/cc @phillip-kruger

[2021-08-25 02:32] ncorai commented on #19022
This 8-10 second delay is very frustrating, since it happens for every Gradle task, even if there is no new compilation required.

[2021-08-25 02:39] manusa commented on #19452
I guess that with [RBAC](https://kubernetes.io/docs/reference/access-authn-authz/rbac/) you can control access to **any** resource (REST API endpoint), but I don't recall that there's any difference in default permissions based on the K8s version (at least for config maps).

From the log, I see that the application is having trouble locating the service account token that Kubernetes [mounts by def

[2021-08-25 03:20] luminecs commented on #19558
@aloubyansky @foal The problem has been solved. Thanks you very much.

[2021-08-25 03:21] #19558 closed

[2021-08-25 04:16] jaikiran commented on #19633
I've opened a PR https://github.com/quarkusio/quarkus/pull/19639 for this.

[2021-08-25 04:58] phillip-kruger commented on #19636
Hi @gastaldi - I had the same idea, and actually started to implement it, but I am not sure where to get the type of the config from. Maybe @radcortez can help ?

[2021-08-25 05:10] gastaldi commented on #18831
Looks like the XML idea was shot down with the (strong) arguments above. I'm closing this issue. Please follow smallrye/smallrye-config#497 or open an issue in https://github.com/quarkiverse/quarkus-config-extensions requesting (or providing a PR).

Thanks!

[2021-08-25 05:10] #18831 closed

[2021-08-25 05:35] gastaldi commented on #19379
Don't you need something like https://github.com/snowdrop/istio-java-api also to support Istio? Maybe @metacosm may help here?

[2021-08-25 05:45] cescoffier commented on #19586
Actually, it's not the connector, it's even deeper in the Kafka client that something is swallowed. Hard to tell what.

As it looks like a container image issue, I'm going to close this issue for now. If someone can provide a reproducer I can run locally, I would be happy to look to what was swallowed.

[2021-08-25 05:45] #19586 closed

[2021-08-25 05:59] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1165240643

[2021-08-25 06:29] svinther commented on #11729
@laurentperez I did a poc that seemed to be working at the time https://github.com/svinther/quarkus-problem-h8mt/pull/1

As I recall, healthcheck works, but I might be wrong.

I am no longer involved in the establishment where I was using this. It worked well, but I assume it will be broken with newer Quarkus versions.

[2021-08-25 06:32] phillip-kruger commented on #19614
@stuartwdouglas ok interesting, so we need to see if there is already a server running before clearing our that folder ? Any tips on how to do that ?

[2021-08-25 06:50] michalszynkiewicz commented on #19209
CC @mkouba

[2021-08-25 07:05] hanzhenliang commented on #19563
Hi, I tried another approach that I created 2 persistence units, one is default which stores the tenant config, the other is specified for tenants. I don't have StackOverflowException but the same ContextIsNotActiveException.

The stacktrace:
[code]

The config:
[code]

[2021-08-25 07:23] geoand commented on #19623
https://github.com/quarkusio/quarkus/pull/19641 should fix the issue but it's probably too late to get it into `2.2.0.Final`, which means it will likely be available from `2.2.1.Final`

[2021-08-25 07:37] mweber03 commented on #19387
@radcortez I disagree that your test actually tests anything.

Your test works because `@ConfigMapping(prefix = "config")` is on the `MyConfigMapping` interface, not because its on the injection constructor. If you removed the annotation from the injection constructor, it would still work. So basically putting the annotation in a constructor is pointless because it needs to be on the interface cla

[2021-08-25 07:50] maxandersen opened #19642 "add tip in grpc code start to tell user how it works"
### Description

I tried the grpc code start out just using the cli with `quarkus create -x io.quarkus:quarkus-grpc mygrpc` and run `quarkus dev` and it works.

there is no `index.html` so localhost:8080 gives no info and in the readme.md it just points to https://quarkus.io/guides/grpc-getting-started which
explains how to write this. No indication to user what he can/should do.

Maybe keep index

[2021-08-25 08:11] damian-burda opened #19644 "Reactive rest client does not get registered when the interface extends another interface from dependency"
### Describe the bug

We have a lot of API modules that are older (Java 8) but with valid JAX-RS annotations, that we are using in our Quarkus based applications to import the API and have easy REST access to our older services. It all works fine.

No we created the first reactive Quarkus app. Reactive controller needs to call an older service through REST. As usual I added the dependency to other

[2021-08-25 08:14] #19633 closed

[2021-08-25 08:40] zakkak opened #19645 "#19534 broke backwards compatibility with GraalVM/Mandrel 20.3"
### Describe the bug

https://github.com/quarkusio/quarkus/pull/19534 results in the following exception when using GraalVM/Mandrel 20.3

[code]

### Expected behavior

Tests and applications should build with GraalVM/Mandrel 20.3.

### Actual behavior

Tests and applications fail to build with GraalVM/Mandrel 20.3.

### How to Reproduce?

Build any integration test/quarkus app using `-Dquarkus.na

[2021-08-25 08:51] gsmet commented on #19645
I think we should probably introduce these classes in Mandrel if it's possible for you.

[2021-08-25 09:08] rsynek commented on #11563
Should be fixed after merging https://github.com/kiegroup/optaplanner/pull/1524

[2021-08-25 09:22] zakkak commented on #19645
Yes, I have the patch ready, currently testing it with 20.3 and 21.3-dev JDK17.

[2021-08-25 10:04] sberyozkin commented on #19634
@famod This issue is a duplicate of #4447 - which was created a long time ago - and no one has seen a requirement to talk to Keycloak using the MTLS connection. Please close one of these issues as a duplicate, perhaps we could keep this one as it the more recent, thanks

[2021-08-25 10:07] famod commented on #4447
"Superseded" by #19634

[2021-08-25 10:07] #4447 closed

[2021-08-25 10:08] famod commented on #19634
@sberyozkin thanks for pointing that out! I closed the other issue as you suggested.

[2021-08-25 10:23] michalszynkiewicz commented on #19644
Quarkus doesn't know your interface because the module containing it does not have a jandex index.

The following section of the User's Guide has information on how to create it in the `api` jar and how to add it for a jar file that is outside your jurisdiction: https://quarkus.io/guides/cdi-reference#how-to-generate-a-jandex-index

[2021-08-25 10:24] michalszynkiewicz commented on #19644
I'll close the issue, please reopen if that's still the case after you add the index.

[2021-08-25 10:24] #19644 closed

[2021-08-25 11:00] damian-burda commented on #19644
Adding Jandex solved the problem in the example. I should have know about it, already using it in other places. But it is not a solution for my production code, as I can not/do not want to modify the API lib and can only add index-dependency in application.yaml. This on the other hand causes new issues, as not all classes are found at runtime, since I have to use dependency exclusion on API module

[2021-08-25 11:08] geoand commented on #17482
I opened https://github.com/quarkusio/quarkus/pull/19649, but the problem is that I can't seem to get `native-image` work with multiple `--exclude-config` options, so I'll need @galderz's help with that

[2021-08-25 11:12] sberyozkin commented on #19608
Good evening @stuartwdouglas, OK, the new day starts and things are seen differently for me. Yesterday evening I logged in as I was about to open a PR and was looking for the issue number so got a bit of a surprise seeing it no longer existed and typed a lot of nonsense feeling sorry for myself as I never miss an opportunity to embarrass myself :-)  - but it is really a poor understanding on my pa

[2021-08-25 11:12] #19608 closed

[2021-08-25 11:58] andreas-eberle opened #19650 "Quarkus OIDC: Allow specifying a public key file"
### Description

At the moment the public key can only be specified directly via the property `quarkus.oidc.public-key`. In contrast, for `smallrye-jwt`, it is also possible to specify a file containing the public key. Please also provide such an option for `quarkus-oidc`.

### Implementation ideas

_No response_

[2021-08-25 12:10] #19250 closed

[2021-08-25 12:14] r41318 opened #19652 "Quarkus 1.13 → 2.1.1 Elasticsearch BulkProcessor Thread blocked"
### Describe the bug

I use 3 comsumers to got the message from kafka

[code]

[code]

and use elasticseach bulkProcessor to insert the data.

[code]

when I use Quarkus 1.13.0.Final

[code]

I got this error sometimes,but it still work

[code]

when I upgrade to Quarkus 2.1.1.Final

[code]

I got a lot of Thread blocked exception,and the CPU usages is 100%.

finally, the process will stuck,and I

[2021-08-25 12:20] gsmet commented on #19652
If you can get us a reproducer, that would be helpful because this type of problem is always hard to track.

If not, could you do a `kill -3 <pid>` to get a thread dump when the process starts going berserk?

Thanks!

[2021-08-25 12:21] gsmet commented on #19652
/cc @cescoffier as it might be a Reactive Messaging issue.

[2021-08-25 12:28] dufoli commented on #2378
@mkouba can I help on this one. I want to discover arc and it seems a good way to take one ticket on it. I have start to implement interface but it is hard to understand use case, So I think I will add a test to check how it expect to work.

[2021-08-25 12:31] michalszynkiewicz commented on #19644
@Ladicek is there a way to filter out some classes from Jandexing?

[2021-08-25 12:37] loicmathieu commented on #19652
@r41318  the Elasticsearch client is performs blocking I/O even if it's async, I'll suggest adding `@Blocking` to your incomming method.
Note that it will lower your thoughtput, if performance is a matter your can:
- Use a separate thread executor for your blocking Elasticsearch client (you can configure the thread executor inside your application.properties and via the annotation).
- Give a try t

[2021-08-25 12:44] r41318 commented on #19652
@gsmet I use `jstack -l <PID> >  threaddumps.log` to get a thread dump
[threaddumps.log](https://github.com/quarkusio/quarkus/files/7046996/threaddumps.log)

[2021-08-25 12:46] r41318 commented on #19652
@loicmathieu  Thanks!  I wil try the reactive elasticsearch client .

[2021-08-25 12:53] gastaldi commented on #19563
@hanzhenliang Yes, that is fixed in Quarkus 2.2.0 Final

[2021-08-25 13:02] Ladicek commented on #19644
Not that I'm aware of. Note that that's a Quarkus question, not a Jandex question.

Also, "This on the other hand causes new issues, as not all classes are found at runtime, since I have to use dependency exclusion on API module (old lib is full of garbage), but index is still trying to use them" sounds strange to me (and I don't really understand what it means). The `quarkus.index-dependency.<nam

[2021-08-25 13:07] sberyozkin commented on #19634
@famod, by the way, if you need a way to avoid sending a client secret over the wire then you can use the client JWT authentication - is is all supported:
https://quarkus.io/guides/security-openid-connect-web-authentication#oidc-provider-client-authentication
I'm not sure what is the case for client MTLS authentication given that the JWT authentication is totally secure and does not leak the secre

[2021-08-25 13:11] holledauer commented on #19359
still the same with 2.2.0

[2021-08-25 13:14] gemmellr commented on #19356
The changes for this break compatibility with GraalVM 20.3, as it lacks the JDK16OrEarlier check class. If thats expected its ok, but maybe it should be dropped from the 'supported versions' check so it fails in a more obvious way?

[2021-08-25 13:17] zakkak commented on #19356
@gemmellr this issue is fixed by https://github.com/quarkusio/quarkus/pull/19647 which is expected to get merged soon!

[2021-08-25 13:17] gemmellr commented on #19356
Ah, actually I see this is likely being covered already in #19645

[2021-08-25 13:18] gemmellr commented on #19356
heh, ninja'd...yep, I didnt see it as I searched for graal and it didnt hit

[2021-08-25 14:02] gwenneg opened #19653 "quarkus-smallrye-opentracing no longer works after a bump to Quarkus 2.1.3.Final"
### Describe the bug

I recently bumped Quarkus from `1.13.7.Final` to `2.1.3.Final` in an app that depends on:

[code]

Everything seemed to be running fine locally, but when I deployed the app on OpenShift, this started to show up in the pod logs:

[code]

With `1.13.7.Final`, that warning isn't printed in the log. The only differences between the deployment that works and the one that fails are

[2021-08-25 14:15] metacosm opened #19655 "Index doesn't pick up new interface implementations during dev mode"
### Describe the bug

I'm encountering an issue with my extension (https://github.com/quarkiverse/quarkus-operator-sdk) and dev mode: the extension allows you to bypass a lot of boilerplate by only providing implementations of a given interface and does the wiring needed to create a functioning (CLI) application.

I create my app using my extension with no initial classes, my extension processor a

[2021-08-25 14:17] gsmet commented on #19655
Could you add a sample application and instructions on how to trigger the issue?

[2021-08-25 14:36] Sanne commented on #19592
Hi @ccarv , yes many configuration properties are "build time only" by design (that's what the little lock icon means on the documentation).

Still, if there is a specific configuration property which isn't runtime but really should be made runtime, please open a dedicated new issue to track the need for that specific property.

To be clear I don't promise that all properties will become updateabl

[2021-08-25 15:02] cescoffier commented on #19652
As @loicmathieu said, I believe the bulkInsert method is blocking. So you can resolve the issue by adding the @Blocking annotation to your method.

[2021-08-25 15:03] dhoffer commented on #19265
Thanks for the detailed reply and ideas, I will try to track this down.

I do have some initial feedback though.  We no NOT have any retries or loops in our code regarding this issue.  We make ONE call to Cipher.getInstance(cryptoModePadding) for every ONE call of Quarkus/Agroal to CredentialsProvider#getCredentials(String credentialsProviderName)

I believe the loop of 20 I mentioned is in the JD

[2021-08-25 15:07] jaikiran commented on #19265
...
Iterator t = services.iterator();
Exception failure = null;
while (t.hasNext()) {
Service s = t.next();
if (JceSecurity.canUseProvider(s.getProvider()) == false) {
continue;
}

That however doesn't explain why the thrown exception is not getting propagated out of the loop and method, the very first instance. I don't see any catch block around that call to `JceSecurity.canUseProvider`, unless I

[2021-08-25 15:15] dhoffer commented on #19265
I agree, the errors just are not making sense to me.

I don't recall the site where I got the JDK but here is what is in the
release file:
IMPLEMENTOR="AdoptOpenJDK"
IMPLEMENTOR_VERSION="AdoptOpenJDK-11.0.11+9"
JAVA_VERSION="11.0.11"
JAVA_VERSION_DATE="2021-04-20"
MODULES="java.base java.compiler java.datatransfer java.xml java.prefs
java.desktop java.instrument java.logging java.management
java.s

[2021-08-25 15:16] egore opened #19657 "Panache count() not updating during in test method"
### Describe the bug

When using PanacheEntityBase.count() to check if an element was created from a unit test of a service, it will not return the correct value.

Imagine the following Service:

    @Path("/hello")
    public class GreetingResource {

        @GET
        @Produces(MediaType.TEXT_PLAIN)
        @Transactional
        public String hello() {
            Person person = new Person(

[2021-08-25 16:00] jaikiran commented on #19265
If the "easier" path of debugging doesn't solve this, then I think the last resort is the Byteman approach. In that case, please follow these steps:

- Download Byteman from https://repo1.maven.org/maven2/org/jboss/byteman/byteman/4.0.16/byteman-4.0.16.jar and save it to some local directory on that setup
- Copy the following byteman rules into a file named `byteman-rules.btm` and save it in the s