[2021-06-04 15:44] gsmet commented on #17698
This is expected. You now need to access them via config. Using system properties could lead to weird behaviors as they are global.

See https://github.com/quarkiverse/quarkus-github-app/commit/7032a2c50ad073045f4ec0d5a03f8d4fa7254d3e#diff-1b552a48f1a3bbdce78e0accde822d203c0ff06fa351a065eaa8664f0aaa6560R22-R23 for an example of how to do it.

I was wondering if we should add something to the migra

[2021-06-04 15:45] gsmet commented on #17699
You're starting your app with the same port that is used by the tests so my guess is that it's normal.

What happens if you use 8082 for instance?

[2021-06-04 15:52] juangon commented on #17698
Thanks very much!

[2021-06-04 15:57] loicmathieu commented on #14475
OK, you mis-use the API, if you want to persist a single entity you should use the instance method not the static one. As I already said, the static one taken a varags cannot return a `Uni<Fruit>` as it takes a varags, so an array of Fruit.

So the correct usage should be

[code]

[2021-06-04 15:58] edeandrea commented on #14475
Ok thanks. Then my ticket (#17697) is blocking me from doing so and forcing me to use `Fruit.persist(fruit)` :)

[2021-06-04 16:24] yuhaibohotmail commented on #17699
You're right.，Test listen on port 8081.
Thanks a lot!

[2021-06-04 16:24] #17699 closed

[2021-06-04 16:49] csotiriou opened #17702 "quarkus-rest-client does not propagate headers if you use RegisterProvider"
## Describe the bug
When we have a Microprofile REST Client declared and use `@RegisterProvider` to apply a filter, it seems that the `org.eclipse.microprofile.rest.client.propagateHeaders` stops being taken into account.

The solution to this would be to explicitly add the `@RegisterClientHeaders` annotation to the top of the interface to restore this behavior to what it should be.

### Expected

[2021-06-04 17:41] radcortez commented on #17695
Like @mkouba said, MP `@ConfigProperties` is a Qualifier, so you need to use it at the injection point. If you prefer, you can use `@ConfigMapping` and only use `@Inject`.

Feel free to open an issue in MP Config, but I think we discussed this and the consensus of the group was to keep it as a qualifier.

[2021-06-04 19:21] famod commented on #17693
Well, that's plain Java. You have to use `.orElseGet(...)` instead of `.orElse(...)`.

Feel free to reopen if you still think there's a problem in Quarkus.

[2021-06-04 19:21] #17693 closed

[2021-06-04 20:22] Shohou commented on #17523
@geoand
Here it is
https://github.com/Shohou/quarkus-liquibase-bug

This issue can be reproduced in multimodule gradle project. In simple one module project build passes

To reproduce checkout master and run `./gradlew build`
Branch 1.13.6 has version 1.13.6.Final and `./gradlew build` passes successfully

[2021-06-04 20:22] renegrob commented on #17592
I tried to retest. Unfortunately on 999-SNAPSHOT the re-augmentation didn't work for other reasons (see Zulip Chat).

[2021-06-04 20:29] stachera commented on #16225
I'm using a Mac Mini M1 and I have the same error when I try to build native image. I think that it is related with this message:

`WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested`

Shouldn't this image **quarkus/ubi-quarkus-native-image** be available to linux/arm64/v8?

[2021-06-04 20:54] Shohou opened #17706 "2.0.0.CR3 gradle `quarkus-generated-sources` in wrong place"
## Describe the bug
Building project with gradle with version 2.0.0.CR3 creates `quarkus-generated-sources` and `quarkus-test-generated-sources` empty directories at the module level. I believe they must be created under `build` directory

### Expected behavior
All build directories appear under `build` directory

### Actual behavior
Empty directories appear after `./gradlew clean build`

## To Re

[2021-06-04 21:44] Shohou opened #17710 "2.0.0.CR3 org.hibernate.LazyInitializationException for fetched relation ouside the transaction"
## Describe the bug
With quarkus version `2.0.0.CR3` I'm seeing this exception
[code]
While with `1.13.6.Final` it works fine.
It happens when an Entity has a relation with default `fetch = FetchType.LAZY`. I load it inside the transaction with `left join fetch` part in select statement. Then I try to use it outisde the transaction and read the relation. With `2.0.0.CR3` it fails with attempt to l

[2021-06-04 22:20] famod commented on #17700
FWIW, this might be caused by database-rider _not_ using the TCCL: https://github.com/database-rider/database-rider/blob/52d14ea8436f0fa01a5d8cc844bf1437726e7001/rider-core/src/main/java/com/github/database/rider/core/dataset/DataSetExecutorImpl.java#L602

[2021-06-04 23:06] famod commented on #17593
With endpoint you mean something that produces JSON?

[2021-06-04 23:10] famod commented on #17569
Have you double-checked that `com.comact.iep.codec.service.ScannerCodec` ist correct?

[2021-06-04 23:20] survivant commented on #17569
we can see that in the log too
[code]

yes, I double checked

[2021-06-04 23:59] stuartwdouglas commented on #17700
can you try adding:

`quarkus.class-loading.reloadable-artifacts=com.github.database-rider:rider-core,com.github.database-rider:rider-cdi,com.github.database-rider:rider-junit5`

This will make the rider classes be loaded in the same CL as the application CL.

[2021-06-05 00:01] stuartwdouglas commented on #17700
It would be better if database-rider could be updated to use the TCCL

[2021-06-05 02:14] yuhaibohotmail commented on #17700
It works for me,thanks!

[2021-06-05 02:43] #17700 closed

[2021-06-05 05:28] glefloch commented on #17706
Thanks for reporting this @Shohou. I can reproduce it locally. I will have a look on it.

[2021-06-05 10:11] agoncal commented on #17593
I don't know the internals of DevUI (it might return JSon, I don't know) but this endpoint could also return HTML (with Qute templates). JSON for command line and HTML for Browser

[2021-06-05 10:39] gsmet commented on #17523
/cc @glefloch

[2021-06-05 10:47] dvddhln opened #17712 "2.0.0.CR3 smallrye graphql error code exception not being displayed"
## Describe the bug
Currently when trying to transform an exception to the graphql error code exception class the error exception is not displayed in the response. When running 1.13.6.Final it is working fine. Perhaps this has already been covered in some issue, but any light on this matter would be nice :)

### Expected behavior
Expected output when running with 1.13.6.Final

[code]
### Actual be

[2021-06-05 11:29] phillip-kruger commented on #17712
Hi @dvddhln , yes we have removed all fields from the extension field in error, see this discussion:

https://github.com/smallrye/smallrye-graphql/issues/772

However you can enable all or some of these with config, see:
 https://quarkus.io/version/main/guides/smallrye-graphql#quarkus-smallrye-graphql_quarkus.smallrye-graphql.error-extension-fields

Hope that helps

[2021-06-05 16:11] dvddhln commented on #17712
Thanks @phillip-kruger I just tried the extension with the new property keys. Seems to be working better now with 2.0.0.CR3.

However, I noticed that the custom extension fields are not being displayed accordingly. I set it up to display code, exception and description.  The response is only containing the code and missing exception and description. Am I doing something wrong? I would expect to ha

[2021-06-05 16:14] phillip-kruger commented on #17712
@dvddhln I am not to sure about YAML config, what happens if you change the order ? Is it always the top one showing?

[2021-06-05 17:23] dvddhln commented on #17712
It seems it only displays the first extension field in the list

[code]

[code]

[2021-06-05 17:28] phillip-kruger commented on #17712
Can you try :

​quarkus:
  smallrye-graphql:
    show-runtime-exception-message:
      - control.exception.AlreadyExistingException
    error-extension-fields:
      - exception,code,description

And if that works maybe @radcortez can help with how YAML config lists are supposed to work

[2021-06-05 17:41] dvddhln commented on #17712
Cheers, I just tried, that worked much better from my end :)
[code]
Yielded the following. Description is not defined from my end so its expected to be missing in the response. Perhaps from a YAML perspective this could be clarified more since the notion of lists is different :)

[code]

[2021-06-05 17:51] phillip-kruger commented on #17712
Ok cool, I would have thought lists work as in you original example, but let's see what @radcortez says about it. Maybe there is a bug in config ?

[2021-06-05 18:42] glefloch commented on #17523
It looks like it tries to import the file from both the source and the build directories. I will have a look.

[2021-06-06 08:26] cescoffier commented on #17459
Quarkus 2.0.0.CR3 uses the new version.

[2021-06-06 08:26] #17459 closed

[2021-06-06 08:28] cescoffier commented on #11632
Closing as fixed in 2.0.

[2021-06-06 08:28] #11632 closed

[2021-06-06 08:28] cescoffier commented on #16571
@geoand fixed an issue related to that recently.

[2021-06-06 08:38] geoand commented on #16571
Indeed, @gwenneg can you retest?

[2021-06-06 12:28] ahmadshabib commented on #13239
@sberyozkin Hello, was navigating through good first issues label as I am interested in quarkus project and would like to contribute.
What is your estimation of the time required for this one? if it is too much I would like to pick up something easier so I can get myself familiar with the codebase(at least some part of it) any suggestions on that as well?
Thanks.

[2021-06-06 12:47] gwenneg commented on #16571
Is your fix included in 1.13.6 @geoand?

[2021-06-06 13:29] cescoffier commented on #13275
@zakkak @Karm Any news?
It refers to an _old_ version of Quarkus, so, except it you're sure it's not fixed yet and need some work, I'd like to close it.

[2021-06-06 13:32] cescoffier commented on #7493
Closing - outdated

[2021-06-06 13:32] #7493 closed

[2021-06-06 13:35] cescoffier commented on #10095
At the moment, native transport is disabled in native mode. We may reconsider this in the near future. If you have a need for supporting native transport in native, let's open another issue (and track it as a feature request).

[2021-06-06 13:35] #10095 closed

[2021-06-06 15:01] Cikla38 commented on #11543
I hit the same issue.
My resource ->
`	@POST
	@Path("/a")
	public Response a(
			@FormParam("aa") String aa,
			@FormParam("aaa") String aaa) {

		return Response.ok(true).status(200).build();
	}`

When request body sent with `"form-data"` i get the same message.
It fixed when i sent request body with `"x-www-form-urlencoded"`.

[2021-06-06 15:21] geoand commented on #16571
I don't think we backported it

[2021-06-06 16:18] gsmet commented on #16571
Which one is it? I will probably prepare a new 1.13 this week.

[2021-06-06 18:26] geoand commented on #16571
https://github.com/quarkusio/quarkus/pull/17551

I just added the backport label

[2021-06-06 19:38] #17706 closed

[2021-06-06 23:11] kwakiutlCS opened #17717 "Continuous testing quarkus:test goal requires @QuarkusTest annotation"
## Describe the bug
Maven's quarkus:test goal seems to require at least one @QuarkusTest annotated test to run the tests. If no test is annotated, they don't run. If at least one is annotated, all tests run.
The quarkus:dev goal runs all the tests even without any annotation.

### Expected behavior
mvn quarkus:test runs the same tests as mvn quarkus:dev and they don't necessarily require @QuarkusT

[2021-06-06 23:53] aagnone3 opened #17718 "Support multiple AWS Lambda functions deployable simultaneously"
## Description

I’ve found several nice examples of Quarkus projects which enable easy declaration of a Lambda in a project, usually also using AWS SAM, which is great. However, none of them (or any docs, that I could find) show support for multiple Lambda handlers in one project without having to choose a single one to deploy.

The use case I’m looking for is a basic REST API offering CRUD method

[2021-06-07 01:55] zhfeng opened #17720 "Add artemis-mqtt-protocol in the bom"
## Description

Camel quarkus needs to test mqtt by using the EmbeddedActiveMQ.

## Implementation ideas

Just add the following dependency section in ```bom/application/pom.xml```
[code]

[2021-06-07 05:42] cescoffier commented on #3387
Closing - out of date.

The config support of Quarkus has now more feature than the vert.x config. We can revisit and add support for the config store from vert.x one by one, but we would need to prioritize.

[2021-06-07 05:42] #3387 closed

[2021-06-07 05:42] cescoffier commented on #16895
@Sgitario ping?

[2021-06-07 05:44] cescoffier commented on #11314
Closing - out of date. It was fixed in  #11354.

[2021-06-07 05:44] #11314 closed

[2021-06-07 05:46] cescoffier commented on #17673
Fixed by #17714

[2021-06-07 05:46] #17673 closed

[2021-06-07 05:47] cescoffier commented on #3083
This has been recently fixed by @kenfinnigan .

[2021-06-07 05:47] #3083 closed

[2021-06-07 05:47] cescoffier commented on #9264
@michalszynkiewicz do you prefer keeping this epic or create individual issues?

[2021-06-07 05:48] cescoffier commented on #9551
Done by @jponge a few month ago...

[2021-06-07 05:48] #9551 closed

[2021-06-07 05:48] cescoffier commented on #14564
@tsegismont anything we can do about this?

[2021-06-07 05:48] cescoffier commented on #15168
@gsmet / @mkouba ping?

[2021-06-07 05:49] cescoffier commented on #3042
All fixed in Quarkus 2.0, and the JSON support is not the Quarkus JSON support (Jackson).

[2021-06-07 05:49] #3042 closed

[2021-06-07 05:50] cescoffier commented on #13466
@michalszynkiewicz is this issue still relevant?

[2021-06-07 05:50] cescoffier commented on #14551
@michalszynkiewicz did we make any progress on this one?

[2021-06-07 05:51] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/913572931

[2021-06-07 05:51] cescoffier commented on #16945
Closing - the reproducer works as expected.
Please re-open if there is still an issue.

[2021-06-07 05:51] #16945 closed

[2021-06-07 05:51] cescoffier commented on #17511
Closed - fixed in reactive messaging and integrated into the CR3.

[2021-06-07 05:51] #17511 closed

[2021-06-07 05:52] cescoffier commented on #16733
@bennetelli should we move forward and create an extension in the quarkiverse? (please also note my comment about `write`).

[2021-06-07 06:16] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/913574124

[2021-06-07 06:19] juangon commented on #17698
Fixed using ConfigProvider.getConfig().getValue(...). Thanks again!

[2021-06-07 06:19] #17698 closed

[2021-06-07 06:36] michalszynkiewicz commented on #9264
we already have individual tasks, don't we?
I'm okay with closing this, I'm focusing on tasks anyway.

[2021-06-07 06:36] #9264 closed

[2021-06-07 06:38] michalszynkiewicz commented on #13466
I still think these enchancements make sense.
I don't know when we'd be able to implement them though.

[2021-06-07 06:46] sonic-martin opened #17722 "Guide "BUILDING A NATIVE EXECUTABLE" shall define available floating tags"
## Description
The Guide "QUARKUS - BUILDING A NATIVE EXECUTABLE" in section "Creating a Linux executable without GraalVM installed" reccomend to use "Please note that the above command points to a floating tag. It is highly recommended to use the floating tag, so that your builder image remains up-to-date and secure."
But the available floating tags are not listed.
They are only listed in some is

[2021-06-07 06:49] geoand commented on #17722
The problem would be keeping these update.

cc @cescoffier

[2021-06-07 06:53] #17717 closed

[2021-06-07 07:18] bennetelli commented on #16733
@cescoffier at Insights we decided to log our application logs to CloudWatch, so we don't need this extension anymore.
I can polish this extension and add it to quarkiverse if you still think this extension could be useful for others.

[2021-06-07 07:27] geoand commented on #17702
I can't say I am understand from the spec what the proper behavior should be.

@michalszynkiewicz any idea? Is there a TCK test that tests for this?

[2021-06-07 07:29] geoand commented on #17672
Did you figure this one out @zakkak ?

[2021-06-07 07:38] michalszynkiewicz commented on #17702
The spec says that the headers should not be propagated if the interface doesn't have the `@RegisterClientHeaders` annotation:
[code]

And, checking the reproducer locally, this is how it behaves for me. Even without `@RegisterProvider`, the headers are propagated iff I add `@RegisterClientHeaders`

[2021-06-07 07:41] michalszynkiewicz commented on #14551
nope :(

[2021-06-07 07:41] geoand commented on #17702
So should this be closed?

[2021-06-07 07:45] michalszynkiewicz commented on #17702
@csotiriou could you recheck the behavior without `@RegisterProvider` for you?
Also, if it doesn't work for you, could you alter the reproducer to also consume the client call, so that anyone working on this issue doesn't have to implement the consuming part?

Thank you for your report :)

[2021-06-07 07:48] yrodiere commented on #17710
Thanks for reporting this, and for the reproducer.

From what I can see, the `left join fetch` in your query is not being honored by Hibernate ORM. I suspect this is a regression in ORM 5.5. I'm investigating.

[2021-06-07 07:54] cescoffier commented on #17722
At the moment we don't have a way to extract the set of floating tags, except a link to the quay UI (https://quay.io/repository/quarkus/ubi-quarkus-native-image?tab=tags). Would that be ok?

[2021-06-07 08:09] markusdlugi commented on #17526
I'm still not sure, is this something that is currently unsupported or should this work in theory? @michalszynkiewicz @geoand

[2021-06-07 08:12] geoand commented on #17722
That sounds perfectly reasonable to me

[2021-06-07 08:27] gsmet commented on #17722
Hmmm, AFAICS, this sentence is about Mandrel and there is a link to the tags already. If we want to point to the GraalVM images, we need to rework things. But I'm not sure it makes a lot of sense given default settings point to the image that makes the most sense.

I will fix the attribute though.

[2021-06-07 08:39] yrodiere commented on #17710
Created https://hibernate.atlassian.net/browse/HHH-14659. Working on it.

[2021-06-07 08:41] Sanne commented on #17710
thanks @yrodiere ! I couldn't check, but wondering if it could relate to some side effect from the fix for HHH-14620

[2021-06-07 08:56] stuartwdouglas commented on #17602
Looks like a ClassLoading issue.

[2021-06-07 09:00] sonic-martin commented on #17722
Yes, and maybe additional in the Guide the general definition ```major.minor﻿-java[8|11]``` as in https://github.com/quarkusio/quarkus-images/pull/93. At least that both information I used to determine what to use.

[2021-06-07 09:10] jmpdev34 opened #17724 "Scheduler is not triggered or triggered 2 times randomly with native image"
## Describe the bug
Randomly, scheduler is not triggered or triggered 2 times with native image
This behavior is not observed in "jvm mode"

### Expected behavior
Scheduler should trigger 1 time and doesn't miss any trigger event with native image

## To Reproduce

https://github.com/jmpdev34/reproducer-scheduler-native

Steps to reproduce the behavior:
The reproducer should schedule every second

[2021-06-07 09:21] #17720 closed

[2021-06-07 09:22] yrodiere commented on #17710
That's what I thought at first, but that seems unlikely considering that fix was specific to "to-many" associations, and this bug is specific to "to-one" associations.

I have some tests in ORM now, I'm trying to find the culprit.

[2021-06-07 09:30] gsmet commented on #17724
Are you sure it's not just the event being slightly delayed and you have 2 events in the same second because the one before was a bit delayed?

That being said, a one second delay looks like a lot.

[2021-06-07 09:31] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/913581047

[2021-06-07 09:55] jmpdev34 commented on #17724
Yes I am sure because in production, we observe the same behavior with
scheduler witch fire every 15 minutes

Best regards

Le lun. 7 juin 2021 à 11:30, Guillaume Smet ***@***.***> a
écrit :

[2021-06-07 10:01] zakkak commented on #17672
No, but I noticed that with https://github.com/quarkusio/quarkus/pull/17711 in place the issue doesn't manifest, so it looks like a combination of https://github.com/quarkusio/quarkus/pull/17472 and https://github.com/oracle/graal/commit/e92dab09590586baf2096569351cb987415eace6 is what's causing the issue.

[2021-06-07 10:20] zakkak commented on #13275
I don't see this in any of our workflows.
@Karm are you OK with closing this?

[2021-06-07 11:28] #17668 closed

[2021-06-07 11:49] holledauer opened #17726 "2.0.0.CR3 gRPC code generator doesn't work anymore (Gradle project)"
## Describe the bug
I upgraded my project from 2.0.0.Alpha3 to 2.0.0.CR2.
After that the grpc files are not created anymore.
The proto files are in folder src/main/proto/

### Expected behavior
The generated grpc sources are generated under build/classes/java/quarkus-generated-sources/grpc/ (this works with 2.0.0.Alpha3)

### Actual behavior
The grpc files are not generated at all.

## Environment

[2021-06-07 12:01] cescoffier commented on #17722
We don't provide Java 8 anymore, so it will be 11, and later 11|17.

[2021-06-07 12:07] glefloch commented on #17726
I think this has been fix in #17716

[2021-06-07 12:07] cescoffier commented on #17726
Thanks @glefloch !

[2021-06-07 12:07] #17726 closed

[2021-06-07 12:11] patriot1burke commented on #17718
use @javax.inject.Name on each of your handlers.  Then you should be able to choose by @Name which handler you use by setting a QUARKUS_LAMBDA_HANDLER environment variable

[2021-06-07 12:11] #17718 closed

[2021-06-07 12:39] leonardowestphal commented on #17637
Hi @Sanne
I agree with you, remote caching support would be great and would suit many scenarios.

Just to confirm that I understand correctly... When you said: "Hibernate ORM always invalidates its caches automatically when a matching entity is modified in the DB."
I can trust that hibernate already manages this. Is this not an operation performed by the hibernate-orm extension itself, right?

Tha

[2021-06-07 13:23] yrodiere commented on #17710
Possible fix: https://github.com/hibernate/hibernate-orm/pull/4033

[2021-06-07 13:31] aagnone3 commented on #17718
Hey @patriot1burke, thanks for responding. I think you missed my detail about simultaneously deployable. I don't want to use an environment variable to pick a handler; I want to use all of them.

In [this section](https://quarkus.io/guides/amazon-lambda#choose), it says the following:

[code]

This precludes from having a project with one handler for each of a GET, PUT, POST, etc. request from API

[2021-06-07 13:35] radcortez commented on #17653
Ok, the issue is related with the `IBiography` hierarchy. We are not automatically registering for reflection the config mapping hierarchy (if any). I'll make a fix for this.

For now, you can workaround this by adding a `@RegisterForReflection` in any hierarchy classes.

[2021-06-07 13:36] ruffythepirate opened #17729 "Native image - java.lang.NoClassDefFoundError when specifying -H:JNIConfigurationFiles"
## Describe the bug
In trying to configure JNI enabled classes for GraalVM using the addition build arg `-H:JNIConfigurationFiles` it was noticed that Quarkus seemingly throws an unrelated error:

[code]

### Expected behavior
Either that the build will work fine and the JNI Configuration files are provided to GraalVM, or that a more descriptive error message explain what's wrong.

### Actual beha

[2021-06-07 13:46] FroMage commented on #17697
To mock instance methods of an entity you need to actually mock the session:

[code]

[2021-06-07 13:46] #17697 closed

[2021-06-07 13:55] bdevreugd-vialis opened #17730 "QuarkusIntegrationTest docker run, does not pull the image"
In our CI-build the docker image is pushed to nexus using jib, the integration-test is then run on a docker daemon. The first time it will correctly pull the image (which sometimes causes a timeout, because it is not within the 10 seconds wait period:

https://github.com/quarkusio/quarkus/blob/11607b626f070f5ed92617e3273322b30de6822d/test-framework/common/src/main/java/io/quarkus/test/common/Launc

[2021-06-07 13:56] geoand commented on #17730
Good point!

[2021-06-07 13:57] edeandrea commented on #17697
Where in the example though do I set up an interaction? In Panache reactive, the `persist()` method on the entity returns `Uni<T>` but `Mutiny.Session.persist(Object)` returns `Uni<Void>`?

I want to set up an interaction that is something like "When the `persist()` method is called, return some other `Uni` which the test will provide.

[2021-06-07 14:03] loicmathieu commented on #17697
Here, the issue is that you normally should create a mocked Fruit with Mockito but you cannot as the Fruit object is created by the resteasy serialization layer.

I'm afrad there is no solution to what you want to achieve, if you test your application at the HTTP layer using restassured, you must use the restassured assertion (at the http layer). Here I would remove all the code related to mockito

[2021-06-07 14:05] edeandrea commented on #17697
Also adding

[code]

doesn't work. This is what I get in the output:

[code]

[2021-06-07 14:10] edeandrea commented on #17697
I can use the rest-assured at the HTTP layer to validate the returned json is correct, but I don't need/want an entire persistence back-end just to verify my HTTP layer. I can accomplish this just fine using the repository pattern.

For the active record pattern, I'll continue with what I was doing before:

[code]

and the tests

[code]

[2021-06-07 14:33] loicmathieu commented on #17697
@edeandrea yes, this is the difference between repository where you can easily mock it, and entity. Again, here, the Fruit is created by the serialization layer and there is no way you mock the instanciation of an object JVM wide! The new is made by the serialization layer, so with entity I recommend using embedded database (h2 or testcontainer based database).

[2021-06-07 14:35] edeandrea commented on #17697
Thank you @loicmathieu for the conversation!

[2021-06-07 14:46] FroMage commented on #17697
I have a fix for that in https://github.com/quarkusio/quarkus/pull/17728 it's a bug.

[2021-06-07 14:51] edeandrea commented on #17697
Awesome! Scanning that ticket I see

Would that be an annotation I could put on a method instead of having to do something like

[code]

?

[2021-06-07 14:57] mkouba commented on #17724
Well, I was able to reproduce the `Already triggered ...` behavior, by slowing down my machine significantly. But it's not that the triggers would be fired at once. If you modify [this line](https://github.com/jmpdev34/reproducer-scheduler-native/blob/master/src/main/java/org/acme/ReproducerScheduler.java#L27) to something like `System.out.println("Triggered at : " + now + " but already triggered

[2021-06-07 14:58] skattela commented on #9677
I dont think that you need the entries in the `application.properties`. For me it works without them.
The required changes are now merged and part of 2.0.0.CR3.
Here you can find an [example](https://github.com/skattela/pact-workshop-jvm-quarkus) of a pact contract test with a Quarkus consumer and a Quarkus provider.

[2021-06-07 15:24] mkouba commented on #17724
That's a more serious problem though. I think that I know where the problem is. I'll try to find a fix tomorrow...

[2021-06-07 15:28] benDeMtp commented on #12048
Hello @cescoffier, have you got any news about this enhancement ?

[2021-06-07 15:31] cescoffier commented on #12048
The Reactive Rest Client is available in Quarkus 2.0 (CR) and uses the Vert.x HTTP client underneath.
I'm not sure if we have a test for the proxy authentication. @michalszynkiewicz do you know?

[2021-06-07 15:40] talbiislam96 opened #17733 "GraphQL NullPointerException when running Quarkus project"
Trying to build an api using GraphQL and Quarkus . I get NullPointerException whenever I run
 mvn compile quarkus:dev

This is the my  api :

[code]
current behavior :
[code]
I don't know what seems to be the problem here , I would appreciate a little help , thanks in advance.

[2021-06-07 15:41] geoand commented on #17730
I'll actually make the pull conditional on whether or not the image was only pushed

[2021-06-07 16:08] phillip-kruger commented on #17733
Hi @talbiislam96 .

I think the problem is the Map. At the moment map is not supported (in graphQL). We have been discussing how we can support it in SmallRye, basically, we create a object that contain key-value pairs. You can do that yourself for now. see https://github.com/smallrye/smallrye-graphql/issues/754

Also (just f.y.i) You can omit the `@Name` annotation in the method parameter, as the

[2021-06-07 16:08] #17733 closed

[2021-06-07 16:09] gsmet commented on #17733
I don't think we should close the issue. You can have things unsupported but you shouldn't throw a NPE but a proper error message. Can we make things better for the user?

[2021-06-07 16:12] phillip-kruger commented on #17733
We can open a ticket in SmallRye for the NPE. I'll do that now.

[2021-06-07 16:14] phillip-kruger commented on #17733
https://github.com/smallrye/smallrye-graphql/issues/842

[2021-06-07 16:14] kekbur opened #17735 "Internal Server Error when Content-Type header value is invalid"
## Describe the bug
Quarkus responds with the HTTP status code `500 - Internal Server Error` when `invalid` is passed as a value for the `Content-Type` header. In fact, any value that does not conform to MIME type syntax `type/subtype` yields the same response.

### Expected behavior
Quarkus should respond with one of the client error status codes, possibly `415 - Unsupported Media Type` or `400 -

[2021-06-07 17:02] bdevreugd-vialis opened #17737 "QuarkusIntegrationTest docker run, does not clean container after timeout"
If the docker run process takes more then 10 seconds to fully startup Quarkus, the extension will forcibly destroy the process. If the container, however, was started, it won't be cleaned up, leaving it running on the docker daemon.

https://github.com/quarkusio/quarkus/blob/11607b626f070f5ed92617e3273322b30de6822d/test-framework/common/src/main/java/io/quarkus/test/common/LauncherUtil.java#L73

I

[2021-06-07 17:03] talbiislam96 commented on #17733
@phillip-kruger Thank you so much for your answer , I hope the issues gets fixed as soon as possible , as for now I will try and create an object with key-value pairs as you suggested.

[2021-06-07 17:15] radcortez commented on #17618
Yes, I can see the warning now. I guess because they show up before the Quarkus logo, they are easy to miss.

What a mess. In my opinion this shouldn't be using any OSGI API, but I guess its too late to change that now. Or at least soon.

Creating a copy of the MP Config API, just seems like a waste of time and effort. @geoand are you in favour if we add a plain ignore for sources starting by `org

[2021-06-07 17:15] keshavcodex commented on #16553
Hello sir, i want to work on this, what are things i need to know to resolve this issue?

[2021-06-07 17:17] geoand commented on #17618
I think we can start by just ignoring this for now and make it configurable later on if needed

[2021-06-07 17:29] geoand commented on #17737
I'll check it out

[2021-06-07 18:18] machi1990 commented on #13887
+1 on this. I'll prepare a PR to enrich the interface with factory methods.

[code]

[code]

Correct. This is coming from the fact that the underlying handler will `send` the received response to the eventBus and not publish it.

My suggestion would be to implement a custom handler (on a `ReactiveRedisClient`) that will publish to the event bus on a different channel. This way several consumers wi

[2021-06-07 19:41] zakkak opened #17740 "Security related IT failures with latest GraalVM CE"
## Describe the bug
The following tests are failing with GraalVM CE built from `master`.

- Kafka SASL
- Bouncy Castle
- Bouncy Castle FIPS
- Elytron Security JDBC

### Expected behavior
Tests should pass.

### Actual behavior
Tests fail. See https://github.com/graalvm/mandrel/actions/runs/915134109

## To Reproduce

[code]

## Environment (please complete the following information):

| Key

[2021-06-07 20:39] sberyozkin commented on #17740
Hi @zakkak thanks, which dev version I can download to reproduce it ?

[2021-06-07 20:57] zakkak commented on #17740
https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/21.2.0-dev-20210605_0329 is the one I used. Please let me know if I can help in any way.

[2021-06-07 21:06] sberyozkin commented on #17740
@zakkak Sure, thank you :-)

[2021-06-07 21:50] michalszynkiewicz opened #17745 "integrate mapstruct with dev mode"
ATM, `quarkus:dev` restart is needed when mapstruct interface gets changed.
It would be great if we could have it working without needing the restart.

It could probably be made by creating a mapstruct extension and using the code gen provider but would require some changes.

[2021-06-07 22:03] wabrit opened #17746 "Ensure CurrentIdentityAssociation.setIdentity() refreshes injected TokenCredential's"
## Description

The `CurrentIdentityAssociation.setIdentity(SecurityIdentity)` method ensures that request-scoped injected `SecurityIdentity`'s are refreshed to pick up the new value, but has no similar effect on injected `TokenCredential`'s.

Implementing this would help to ensure more consistent effects to request-scoped security elements in the context, and to allow callers the ability to drive

[2021-06-07 22:28] serahl opened #17747 "Add support for JPMS modules in dev mode / live coding"
## Description

As of 1.13.6.Final, when using dev mode / live coding alongside JPMS (meaning you have a module-info.java file in your sources), the live coding will break on the first change with a "module XXX not found" error. Building a jar or initially starting dev mode works fine. I added a small sample project to clarify what I mean: [quarkus-jpmstest.zip](https://github.com/quarkusio/quarku

[2021-06-08 00:24] aagnone3 opened #17749 "Support deploying multiple AWS Lambda handlers simultaneously"
## Description

I’ve found several nice examples of Quarkus projects which enable easy declaration of a Lambda in a project, usually also using AWS SAM, which is great. However, none of them (or any docs, that I could find) show support for multiple Lambda handlers in one project without having to choose a single one to deploy. For example, `javax.inject.Named` can be used on  each handler and a s

[2021-06-08 02:14] patriot1burke commented on #17749
If you want a REST API, use our Lambda + (JAX-RS, Vert.x Web, Servlet, Resteasy Reactive, or Spring MVC) integration.

https://quarkus.io/guides/amazon-lambda-http

[2021-06-08 02:19] dpswds commented on #15959
If quarkus is not support for this,
How can i add it by myself?

[2021-06-08 03:38] #17430 closed

[2021-06-08 03:50] ethan-gallant commented on #17664
Hello!

I currently have a working implementation of this in #17750. Please let me know if anything should be changed or modified. The code is heavily inspired by the OIDC library which implements a very similar system.

Thank you for the guidance on how to implement this! :)

[2021-06-08 05:38] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/917192916

[2021-06-08 05:39] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/917194046

[2021-06-08 05:41] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/917194046

[2021-06-08 05:41] Sgitario commented on #16389
According to the Smallrye Health documentation: https://smallrye.io/docs/smallrye-health/3.0.0/health-groups.html, the right path is `/health/group/{groupName}`, so the property at Quarkus side is correct and we should only amend the comment in the annotations:
https://github.com/smallrye/smallrye-health/pull/286

[2021-06-08 06:05] Sgitario commented on #13660
Update: This is still failing in Quarkus 2.x using `resteasy-client-microprofile:jar:4.6.0.Final`.

cc @asoldano

[2021-06-08 06:07] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/917194280

[2021-06-08 06:09] Sgitario opened #17754 "Update Migration Guide to use `@Identifier` instead of `@Named` to inject the default Kafka broker"
## Description
This change is related to https://github.com/quarkusio/quarkus/commit/11bc00f324b6ed4166ab4250e6661060b7d1a4d4.
The problem is that keeping injecting the default Kafka broker using `@Named` is now failing:

[code]

Using:

[code]

It works.

Therefore, this is a breaking change that should be noted in the Migration guide for 2.x.

[2021-06-08 06:16] caalador opened #17755 "'Cannot delegate to an abstract method' for scoped bean with complex interfaces"
## Describe the bug
For a scoped bean with the setup:

`MyBean extends Component implements HasSize` constructor calls `HasSize::setSize`
interface `HasSize extends HasElement` has a default implementation `setSize` that calls `HasElement::getElement`
interface `HasElement`
class `Component implements HasElement` This has the actual implementation

### Expected behavior
Bean can be instantiated an

[2021-06-08 06:45] fouad-j commented on #17563
Hello @sberyozkin,

Sorry for delay, we managed to install [OIDC MULTI-TENANCY](https://quarkus.io/guides/security-openid-connect-multitenancy) in our microservices architecture and behind Kubenetes.

We used two identity providers
- Private identity providers
- [Gigya SAP](https://www.sap.com/france/acquired-brands/what-is-gigya.html)

 Here is the configuration of Gigya (it may help someone)
[co

[2021-06-08 06:47] derkoe commented on #17611
This seems to be the same as #15665

[2021-06-08 07:37] knutwannheden opened #17759 "`@TestSecurity(authorizationEnabled = false)` does not work with `quarkus.security.jaxrs.deny-unannotated-endpoints`"
## Describe the bug
When an application sets `quarkus.security.jaxrs.deny-unannotated-endpoints` to `true` then a test annotated with `@TestSecurity(authorizationEnabled = false)` will get a `401` rather than a `200` status when calling an endpoint annotated with `@RolesAllowed`. This in contrast to when `quarkus.security.jaxrs.deny-unannotated-endpoints` is not set (to `true`).

### Expected beha

[2021-06-08 08:30] cescoffier commented on #17754
Jum, why do you need to inject the Kafka configuration? This is internal.

[2021-06-08 08:32] cescoffier commented on #17754
Migration guide updated.

[2021-06-08 08:32] #17754 closed

[2021-06-08 08:34] bdevreugd-vialis opened #17760 "QuarkusIntegrationTest on java jar, should support Jacoco"
In our CI we first do a simple `mvn verify` run with jacoco enabled, so we can get proper test coverage results.

With QuarkusIntegrationTest, the jar is obviously run on a separate JVM, which doesn't have the jacoco java-agent.
https://github.com/quarkusio/quarkus/blob/1871e8e00562614004562e6d386be5967539522e/test-framework/common/src/main/java/io/quarkus/test/common/JarLauncher.java#L78-L79

Wou

[2021-06-08 08:48] sberyozkin commented on #17746
See also #12650.
CC @stuartwdouglas @mkouba

[2021-06-08 08:53] TomasHofman commented on #16154
OK, I'm going to go with `cat`. I too think that within the context of the command it should be understandable.

Another one - I noticed we mix using short property names like "searchPattern" and long ones like "quarkus.extension.format" in the `ListExtensionsMojo` (user can set `-DsearchPattern=keyword`, but `-Dformat=full` doesn't work, needs to be `-Dquarkus.extension.format=full`):

[code]

Sh

[2021-06-08 09:19] xstefank commented on #16389
Sorry, this slipped my radar. I'll look into this.

[2021-06-08 09:21] xstefank commented on #16389
Yes, wrong Javadoc. This can be closed.

[2021-06-08 09:28] FroMage commented on #17697
Yes.

[2021-06-08 09:33] maxandersen commented on #16153
quarkus it is for docs/documentation it is much simpler. we can have the installer(s) add a `q` alias in the environments that supports it.

[2021-06-08 09:34] #16153 closed

[2021-06-08 09:37] ThoSap commented on #16881
RHEL 8.4 was [released on 2021-05-21](https://distrowatch.com/?newsid=11249) 😉
Can we update the base image to [registry.access.redhat.com/ubi8/ubi-minimal:**8.4**](https://catalog.redhat.com/software/containers/ubi8/ubi-minimal/5c359a62bed8bd75a2c3fba8?tag=8.4)?

[2021-06-08 09:38] maxandersen opened #17762 "remov/deprecate mvn create plugin when ?"
when quarkus cli is made available does the mvn create plugin make sense ?

this issue is to discuss when/if  it would make sense to deprecate and even remove the mvn plugin.

[2021-06-08 09:44] geoand commented on #17760
https://github.com/quarkusio/quarkus/pull/17677 will fix this

[2021-06-08 09:46] keshavcodex commented on #14729
(beginner) i am not able to find the thread, can you please tell me how to find, or send the link.

[2021-06-08 09:58] yrodiere commented on #14729
Please read my [original comment](https://github.com/quarkusio/quarkus/issues/14729#issuecomment-791241434). The quickstarts are in a different repository, and I included a link to that repository.

[2021-06-08 10:28] geoand commented on #16881
https://github.com/quarkusio/quarkus/pull/17764 should take care of it

[2021-06-08 10:46] #17730 closed

[2021-06-08 11:12] TomasHofman commented on #16154
Pull request with current version: https://github.com/quarkusio/quarkus/pull/17765

I will be away from Thursday until the end of the week, so I want to show what I have. Functionally it has everything I wanted anyway, but I guess we will discuss / modify details...

[2021-06-08 11:25] #17737 closed

[2021-06-08 11:29] knutwannheden opened #17766 "Introduce build item representing permissions"
## Description
Currently the permissions of REST resources is captured either using `javax.annotation.security` annotations like `@RolesAllowed` or using the `quarkus.http.auth.permissions` config properties. Similarly the role-based policies are set using the `quarkus.http.auth.role-policy` config properties.

While there is a dedicated build item representing the policies (`HttpSecurityPolicyBui

[2021-06-08 11:35] Sgitario commented on #16389
The PR https://github.com/smallrye/smallrye-health/pull/286 has been merged. Closing.

[2021-06-08 11:35] #16389 closed

[2021-06-08 11:36] geniusit commented on #12439
I no longer had this error since I switch to docker

[2021-06-08 11:37] #17527 closed

[2021-06-08 11:58] loicmathieu commented on #15338
Hi @evanchooly I can take care of this one if you want, I'll take inspiration from the one for Hibernate with Panache and Kotlin.

[2021-06-08 12:04] loicmathieu commented on #11336
@albert0815 I now it's late but it appears that we don't have a solution on our side due to the way constraint validator are loaded.
The best is to made the validator a basic class (not a CDI bean) and to use CDI programmative lookup to get an instance of the  MongoClient, something like `CDI.current().select(MongoClient.class).get()`.

Can we close this issue ?

[2021-06-08 12:20] abrenn opened #17767 "NativeImageTest fails because the LauncherUtil is unable to determine the status of the running process"
## Describe the bug
After upgrading from Quarkus 1.12 to 1.13 not even a native image smoke test works anymore.
When Using the `@NativeImageTest` the test failes before the first test step is executed.
The exceptions says:
[code]

This is happening (according to LauncherUtil) when the Quarkus Application is not reporting its address within 10 seconds.
According to the logs the application started

[2021-06-08 12:29] #17666 closed

[2021-06-08 12:40] FroMage commented on #17697
Because `@Transactional` integrates with JTA and we don't support that, ATM, so it would give you a false sense of it being the same.

[2021-06-08 12:43] edeandrea commented on #17697
Got it - thanks @FroMage !

Is this going to be part of Quarkus 2.0? Or a later 2.x version? Will `@TestTransaction` also be made to work in tests?

[2021-06-08 12:43] sberyozkin commented on #17563
Hi @fouad-j  thanks for the update, and glad to hear it works with configuring the forwarded header.

The hardest part here is finding out the name of `X-ORIGINAL-HOST` - I will document it and it will become easier - and it is likely documented somewhere in Kunerners networking guides.

Setting `http://mydomain.com/tenantName ` does look easier - but it basically requires the Quarkus endpoint to

[2021-06-08 12:46] FroMage commented on #17697
Hopefully 2.0 yes. I don't know what `@TestTransaction` is.

[2021-06-08 12:48] edeandrea commented on #17697
https://quarkus.io/guides/getting-started-testing#tests-and-transactions

[2021-06-08 13:04] #17653 closed

[2021-06-08 13:28] sberyozkin commented on #17563
@pedroigor What is your opinion ? The problem is well descried above: when the OIDC provider (it is not Keycloak, so no `KEYCLOAK_FRONTEND_URL`) is redirecting back to the endpoint running behing Kubernetes Ingress the endpoint is not found - because when `quarkus-oidc` calculates the `redirect_uri` it uses a relative `redirect-path` which is added to the current request URI - which is an internal

[2021-06-08 13:33] evanchooly commented on #15338
works for me.  i'm prepping for a webinar in a couple of days.

[2021-06-08 13:51] galderz commented on #10682
@tcollignon At first glance, that would appear to a different issue altogether. Mind creating a new one along with a reproducer or an updated reproducer?

[2021-06-08 14:01] knutwannheden opened #17770 "Some build items are missing in documentation"
## Describe the bug
The Jbang script generating the https://quarkus.io/guides/all-builditems documentation overview page currently only includes build items which are defined in source files ending in `BuildItem.java` (see https://github.com/quarkusio/quarkus/blob/adf1beb64b0196039fd0216313e43e68ce3f3ad2/.github/quarkusbuilditemdoc.java#L96). There are however also build items which either don't a

[2021-06-08 14:21] kenfinnigan opened #17771 "Move OpenTelemetry Jaeger to Quarkiverse"
## Description
With the addition of the OTLP Exporter for OpenTelemetry, we should move the Jaeger Exporter to a Quarkiverse extension as we want to focus on the OTLP Exporter

[2021-06-08 14:32] aloubyansky commented on #17771
@kenfinnigan will you be the/a maintainer?

[2021-06-08 14:36] aloubyansky commented on #17771
And what should the `groupId` and `artifactId` be?

[2021-06-08 14:38] kenfinnigan commented on #17771
Possibly, the other option is we just deprecate it and then remove.

Haven't thought about Ids for either yet.

@ebullient, what do you think? Keep the Jaeger exporter in Quarkiverse or just deprecated in favor of OTLP?

[2021-06-08 14:57] ebullient commented on #17771
I would check on usage. If that exporter is getting reasonable use, a move to quarkiverse would allow people to keep using it (as it was).. moving to quarkiverse also means less stuff in the main repo (which is a side benefit), though it does bring some risk here and there for testing (intersection/usage of micrometer)

[2021-06-08 16:02] mweber03 opened #17773 "Vertx NPE after upgrading to 1.13.6"
## Describe the bug
I upgraded our services from 1.13.4 to 1.13.6 and a few of them suddenly began getting an NPE on startup.

### Expected behavior
No exception

### Actual behavior
[code]

## Environment (please complete the following information):

### Output of `uname -a` or `ver`
Red Hat 3.10.0-1127

### Output of `java -version`
OpenJDK 11.0.5+10

### Quarkus version or git rev
1.13.6

### B

[2021-06-08 16:15] fabry00 commented on #17611
You'll  see the WARNS after running the container with ./runDocker.sh and performing a rest call: ./test.sh

[2021-06-08 16:22] ochaloup commented on #17658
After investigation of the current behaviour I tend to close this issue as not implementable.
The longer discussion on that the current place is not the perfect one but it's a feasible and the "only" possible is at PR: https://github.com/jbosstm/narayana/pull/1843#discussion_r639760178

The issue of the transaction processing is that the transaction context is a lazy created. When no transaction s

[2021-06-08 16:26] loicmathieu commented on #15434
@Sgitario apparently the fix on AWS SDK has been integrated in Quarkus 1.13.5.Final.
Can you try again and close the issue if it fixes it ?

[2021-06-08 16:27] loicmathieu commented on #13437
Closing the issue as we asked for more info for the creator 6 months ago.

@waldimiro please feel free to re-open it if needed.

[2021-06-08 16:27] #13437 closed

[2021-06-08 17:13] tsegismont commented on #14564
I don't believe there's something we can do. @BillyYccc explained well what happens under the hood.

Now the JDBC driver probably rewrites batches in case they are simple insert/updates. For example, instead of adding N batches for this same query:

[code]

You can create an ad-hoc query:

[code]

That is something the user can do (but upstream in MySql client we have no plans for implementing a S

[2021-06-08 18:08] pedroigor commented on #17416
@codependent Sorry for the delay.

There are two options here. The example I pointed out created resources dynamically and these resources are set with the user as the `owner`. In this case, the JS policy would just check if the identity from the context is the same user set as the owner.

Another option is to push claims. You could pass over the `owner` identifier as a claim to your policies and

[2021-06-08 19:08] glefloch commented on #17523
Running the sample project with `999-SNAPSHOT`, I have the following error:

[code]

with that cause:
[code]

@geoand do you have any pointers on this error ?

[2021-06-08 19:12] geoand commented on #17523
That seems to indicate that Arc was not started...
That is super weird... @mkouba any idea how that can happen?

[2021-06-08 19:19] psaraf commented on #2931
somehow finalname is not working for me and its creating artifactId-version-version. any solution to this?

[2021-06-08 19:25] ebullient commented on #16275
For CLI, see #16154 / #17765

[2021-06-08 21:11] michalszynkiewicz commented on #17526
I think we should try to make it work.

[2021-06-08 21:37] famod commented on #17745
Related: #1502 & #5956 (maybe more)

[2021-06-09 01:08] #7536 closed

[2021-06-09 01:08] #17760 closed

[2021-06-09 01:44] mweber03 commented on #17773
I was wrong, it didn't have to do with Quarkus, it was upgrading to `org.apache.qpid:qpid-jms-client:0.59.0` (from 0.56.0)

[2021-06-09 01:44] #17773 closed

[2021-06-09 05:19] Sgitario commented on #15434
I've confirmed that this is indeed fixed. Thanks a lot!

[2021-06-09 05:19] #15434 closed

[2021-06-09 05:32] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/920577859

[2021-06-09 05:32] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/920576669

[2021-06-09 05:36] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/920577859

[2021-06-09 05:45] ambition-consulting commented on #9397
So is everybody still working on JDK8, or why is nobody else complaining about this basic problem? Basically I have to restart my application after every change, because this error is guaranteed to happen after some idle time. Giving up on fault-tolerance isn't an option either.

[2021-06-09 05:57] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/920578174

[2021-06-09 06:09] stuartwdouglas opened #17785 "Security + Testing docs are a mess"
Lots of issues here:

- The documentation for `@TestSecurity` is at https://quarkus.io/guides/security-testing#testing-security, however this is not linked to the main guide page.
- https://quarkus.io/guides/security-testing starts with a half example of how to configure dev mode, and nothing about testing.
- `@OidcSecurity` and JWT security are covered in their own guides, but it is not linked fr

[2021-06-09 07:06] cescoffier commented on #14564
Ok, then, let's close this issue.

[2021-06-09 07:06] #14564 closed

[2021-06-09 07:17] Ladicek commented on #9397
@ambition-consulting Did you read the comments above? I'd suggest to at least read https://github.com/quarkusio/quarkus/issues/9397#issuecomment-630037633 and https://github.com/quarkusio/quarkus/issues/9397#issuecomment-818812606. I'd be happy to be convinced that this can actually be solved in Quarkus, but "why is nobody else complaining about this basic problem" is not gonna cut it.

[2021-06-09 07:44] fabasoad commented on #8983
I just faced this problem. I have added `vertx` extension to use `EventBus` class. And it is defined as `@Singleton`:
https://github.com/quarkusio/quarkus/blob/main/extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxProducer.java#L34
So I can't mock it in my test class. Are there any workarounds on how can I mock `@Singleton` annotated class' instances?

[2021-06-09 07:48] mkouba commented on #17523
I have no idea. But the fact that no `CDIProvider` is found does not necessarily imply that ArC was not started. It could be a class loading problem, i.e. the `javax.enterprise.inject.spi.CDI` from the stack is a different class than the one used by ArC when setting the provider via `CDI.setCDIProvider(CDIProvider)`.

[2021-06-09 08:20] ambition-consulting commented on #9397
Yes I did, but am not sure which Quarkus plugin is using the wrong ForkJoinPool, and wouldn't be able to change their code anyway. The great thing about this bug is, that it's not deterministically reproducible and the exception does not help really.

However, even though the stack trace looks exactly the same, and I am using JDK 11 with fault-tolerance also, maybe my application has a different r

[2021-06-09 08:29] codependent commented on #17416
@pedroigor Thanks again for your time. I'll follow your suggestions from the last comment.

I'm closing this issue as it doesn't apply.

[2021-06-09 08:29] #17416 closed

[2021-06-09 08:44] #17658 closed

[2021-06-09 09:06] gsmet commented on #17770
/cc @gastaldi

[2021-06-09 09:07] gsmet commented on #17767
Could you share a small reproducer? That would allow us to check if it's environment related.

[2021-06-09 09:08] gsmet commented on #17755
/cc @mkouba

[2021-06-09 09:11] loicmathieu commented on #17525
Here is a reproducer, using 2.0.0.CR3.
[smallrye-config-external-issue.zip](https://github.com/quarkusio/quarkus/files/6622513/smallrye-config-external-issue.zip)

Running the reproducer with `smallrye.config.locations` show an error in the logs that no upstream subscriber is defined. Using `quarkus.config.locations` all works fine.

I use smallrye reactive messaging Kafka in my reproducer as it's

[2021-06-09 09:12] Ladicek commented on #9397
That might be the cause (in which case it's really easy to fix), but a more likely cause is the usage of the _common_ FJ pool. That easily happens e.g. when you're using parallel streams. Can you check that?

(There is a hack in Quarkus that attempts to set the TCCL of all threads in the common FJ pool to the Quarkus class loader, but that has a problem: threads in a FJ pool can be discarded and r

[2021-06-09 09:20] Ladicek commented on #7123
Thanks for mentioning #9397 here -- I didn't know about this issue. The [hack](https://github.com/quarkusio/quarkus/blob/main/core/deployment/src/main/java/io/quarkus/runner/bootstrap/ForkJoinClassLoading.java) in Quarkus that sets TCCL of all threads in the common FJ pool is really brittle, because per the FJ pool [javadoc](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/co

[2021-06-09 09:34] michalszynkiewicz commented on #17702
@csotiriou I'll close the issue but please reopen if it you find out that it doesn't behave as specified without `@registerProvider`.

[2021-06-09 09:34] #17702 closed

[2021-06-09 09:37] geoand commented on #17767
Can you also try with `2.0.0.CR3`?
We have fixed a few issues around this

[2021-06-09 09:41] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/920585485

[2021-06-09 09:48] abrenn commented on #17767
@geoand I will try that with our current project but I think that an update to 2.0.0 will break a couple of other things.
If that is the case I will try to create a small reproducer.

[2021-06-09 09:56] #13887 closed

[2021-06-09 10:07] aloubyansky opened #17790 "Add the quickstarts repo to the platform CI"
https://github.com/quarkusio/quarkus-quickstarts should be added to the CI of https://github.com/quarkusio/quarkus-platform

[2021-06-09 10:13] michalszynkiewicz commented on #17745
Thanks @famod !

Maybe we could have a single CodeGenProvider invoking all the annotation processors...

[2021-06-09 10:26] Sanne commented on #17637
Right. To be clear though, Hibernate ORM can only invalidate the cache when it did flush the changes himself; so this wouldn't work if for example a different application connects to the same DB and makes some changes.

[2021-06-09 10:27] wernert75 opened #17791 "Resteasy-Reactive: Read an manipulate body with ContainerRequestContext in a non-blocking wise"
## Description

I try to read the body of a REST-Request within a ContainerRequestFilter.

                InputStream is = context.getEntityStream();
                byte[] data = is.readAllBytes();
                String body = new String(data, StandardCharsets.UTF_8);

Unfortunately this blocks the io-thread.

I think it's really useful in an complete reactive approach to access and modify the

[2021-06-09 10:31] gytis commented on #15961
I'm not sure why did it stop working on POST, but I can fix that by replacing `persist` with `persistAndFlush` (will raise a PR today).
However, this solution still does not fix the PUT operation. The other side of a many-to-many relation stays detached, and only the main object is updated.

[2021-06-09 10:47] michalszynkiewicz opened #17793 "quarkus:dev continuous testing stuck"
## Describe the bug
running mvn quarkus:dev on https://github.com/michalszynkiewicz/todos-with-rr-and-grpc results in:
[code]

The error message is repeated for a long time, I quit waiting after 5 minutes.

[2021-06-09 10:53] mkouba commented on #17755
Ok, so there are some limitations when invoking methods from within a bean's no-args constructor. First of all, keep in mind that this constructor is called twice for normal scoped beans. First time, when the [client proxy instance](https://quarkus.io/guides/cdi#client_proxies) is created. In your example, there is a class `MyBean_ClientProxy` which extends `MyBean` and it calls `super()` in its c

[2021-06-09 10:53] mkouba commented on #17755
CC @manovotn @Ladicek

[2021-06-09 10:54] michalszynkiewicz commented on #17793
stack says:
[code]

the whole stack trace: https://gist.github.com/michalszynkiewicz/46fcbc089b19411064e9f0ce4398a4aa

[2021-06-09 11:01] stuartwdouglas commented on #17793
Can you test out https://github.com/quarkusio/quarkus/pull/17794 ? I did not see the deadlock locally

[2021-06-09 11:06] Sanne commented on #16927
@leonardowestphal could you confirm if you see slow startup even when setting `hibernate.hbm2ddl.auto=none` ?

(The Quarkus property is https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.database.generation )

We should be able to bypass the cause of the slowdown when the schame validation is turned off.

[2021-06-09 11:07] gytis commented on #15961
https://github.com/quarkusio/quarkus/pull/17792

[2021-06-09 11:07] michalszynkiewicz commented on #17793
works like a charm :) thanks!

[2021-06-09 11:09] stuartwdouglas commented on #17791
You need to mark the filter as @Blocking. @FroMage @geoand it looks like `ResteasyReactiveContainerRequestFilter` does not help here, as it does not appear to have support for async reads in the API that we expose?

[2021-06-09 11:17] geoand commented on #17791
Yeah exactly. That's something we should provide as this is not the first time this has come up

[2021-06-09 11:46] Ladicek opened #17797 "dev services vs. QuarkusTestResourceLifecycleManager"
## Describe the bug

In the main Quarkus codebase, when I do `cd integration-tests/kafka` and run `mvn clean test -Dtest-containers`, I see 2 Kafka containers started: first one is a Redpanda container started by Dev Services for Kafka, and second is a Strimzi Kafka container started by `KafkaTestResource` (which is a `QuarkusTestResourceLifecycleManager`).

This is unexpected, because `KafkaTestR

[2021-06-09 11:57] survivant opened #17799 "mvn quarkus:dev HV000254: Missing parameter, even when with <parameters>true</parameters>"
I just found that when I start my Quarkus 1.13.6.Final, I have this error in the logs

[code]

but I checked within pom.xml and I have this

[code]

[2021-06-09 12:20] ebullient commented on #16026
Resolved by #10354 (publish jar as GH release)

[2021-06-09 12:20] #16026 closed

[2021-06-09 12:23] maxandersen commented on #11742
better to publish as github release jar - related #10354

we could publish to maven central but we would need a "clean" pom without dpeendencies - at the moment not worth the trouble.

[2021-06-09 12:23] #11742 closed

[2021-06-09 12:28] michalszynkiewicz opened #17800 "Distributed tracing for RestEasy Reactive"
With RestEasy Classic we can trace the calls with Jaeger, we need the same functionality for RestEasy Reactive, both for server and client (client needs to propagate appropriate headers)

[2021-06-09 12:35] maxandersen commented on #16155
doing `quarkus dev` is not that hard vs being a noob trying out quarkus for the first time possibly in a directory with a pom/build.graadle/etc. around from something non-quarkus your first quarkus experience is a fail rather than a friendly guidance of quarkus cli help text letting you know what you can do.

Thus for now closing this.

[2021-06-09 12:35] #16155 closed

[2021-06-09 12:38] kenfinnigan commented on #17800
I kind of have this covered as part of https://github.com/quarkusio/quarkus/issues/17118 as well.

I know today the Reactive REST Client bit isn't there, but there should be tracing with OpenTelemetry for RESTEasy Reactive server components.

[2021-06-09 12:47] ebullient opened #17801 "CLI List extension should work with a specified quarkus version"
Reuse the target quarkus version parameter used by create to allow `ext list` to work without a project (or regardless of what a project is currently using).

[2021-06-09 12:50] FroMage commented on #15961
This sounds like a questions for @Sanne about ORM's behaviour wrt `merge` and detached entities.

[2021-06-09 12:52] gsmet commented on #17799
Does this class come from an external library? If so, check that the external library is also compiled with parameters.

If not, please provide a reproducer.

[2021-06-09 12:52] sebersole commented on #16927
As a separate check (do not do in combination with skipping validation), could you also test setting `hibernate.temp.use_jdbc_metadata_defaults` to `false`?

This setting controls whether Hibernate will access the JDBC `DatabaseMetaData` on startup to determine various defaults.  Disabling this means you'll need to explicitly configure those settings, but we are curious if this may also contribute

[2021-06-09 12:52] sberyozkin commented on #2611
@loicmathieu Hi Loic, sorry for a delay, thanks a million for verifying it, and for the help throughout this issue :-)
I'm going to close this issue again :-) - but we will be reopening it if some new CVE will cause a plugin run failure etc.
(I have another pending batch update to send)

@nhumblot thanks again for the plugin fix

[2021-06-09 12:52] #2611 closed

[2021-06-09 12:54] survivant commented on #17799
yes it's a external lib and I confirm that is not compiled with parameters.  Let met add it in that project too.

[2021-06-09 12:58] FroMage commented on #17791
Yeah, we don't have a way to do an async read unless you use the vert.x APIs directly, and also, we don't have a way for filters to set the body to a stream either for further consumption.

[2021-06-09 13:06] michalszynkiewicz commented on #17800
Should we close this then and add a bullet about the client to #17118 ?

[2021-06-09 13:10] Sanne commented on #16927
one more request: please capture some stacktraces in the slow configuration, hopefully identifying the stack in which we have to wait for multiple minutes.

[2021-06-09 13:14] kenfinnigan commented on #17800
Thinking on it more, I think it's ok for this to be open, as I know there is work needed for the client which can be added under this issue instead of the validation one.

I think I'd planned on creating issues when I find things during validation, but I know the client is missing for reactive, so this can stay

[2021-06-09 13:25] survivant commented on #17799
@gsmet thanks, it fixed the issue.  Should I put that to all my projects ?

[2021-06-09 13:28] gsmet commented on #17799
I would recommend you to do so, yes.

[2021-06-09 13:30] mkouba commented on #16451
Correct me if I am wrong, but `optional` is just redundant in proto3, i.e. all fields are optional by default.

[2021-06-09 13:39] survivant opened #17804 "add <groupid> in plugins to avoid IntelliJ errors"
Intellij give errors when there is no <groupid> in the <plugin> section

[code]

I used https://code.quarkus.io/  to generated the example

to avoid Intellij to complain, I had to add this
[code]

[2021-06-09 13:48] leonardowestphal commented on #16927
I will perform these requested tests...

I don't know if this helps, but I noticed that the slowness in my case is due to loading of UDTs: https://www.postgresql.org/docs/9.5/xtypes.html

Using Squirrel SQL client I can disable this type of metadata loading and then everything is faster when using this tool.

[2021-06-09 13:54] geoand commented on #17804
This is more of an IntelliJ issue, but I don't see why we can't add this.

cc @ia3andy

[2021-06-09 13:58] michalszynkiewicz commented on #16451
True, unlike in `proto2`, each field is `optional` by default in `proto3`.
However, if the field value is missing, the field is set to the default value.

This SO answer says that `optional` now allows to differentiate between default value provided and no value provided: https://stackoverflow.com/a/62566052/4662593

[2021-06-09 14:00] leonardowestphal commented on #16927
This is exactly the point I resolved with this PR: https://github.com/quarkusio/quarkus/pull/17509. Using the value false everything is fast!

[2021-06-09 14:02] mkouba commented on #16451
I see. That's quite confusing TBH...

[2021-06-09 14:07] Sanne commented on #16927
That's fantastic news, we can easily do something about it.

[2021-06-09 14:14] ferencbeutel4711 opened #17805 "Make it possible to configure read concern for mongodb database/ client"
## Description

Hello there,

similar to the write concern, which is configurable via the application properties, it would be really great to be able to configure the read concern for mongodb databases.

[2021-06-09 14:22] survivant opened #17806 "class is instantiated reflectively but was never registered"
I try to follow this guide : https://quarkus.io/guides/writing-native-applications-tips

in application.properties I have this
[code]

I added the file reflection-config.json  in : src/main/resources/reflection-config.json

the content :
[code]

 I also add this class
[code]

I build the application with
[code]

In the logs I have those errors

[code]

[2021-06-09 14:29] #17793 closed

[2021-06-09 14:51] dicolasi opened #17807 "[2.0.0.CR3]Unable to determine the proper baseUrl/baseUri for RestClient."
## Describe the bug

Unable to determine the proper baseUrl/baseUri for RestClient.

### Expected behavior
Base uri/url fetched from application.properties

### Actual behavior

Quarkus won't start and fails with the following error:

Caused by: java.lang.IllegalArgumentException: Unable to determine the proper baseUrl/baseUri. Consider registering using @RegisterRestClient(baseUri="someuri"), @Re

[2021-06-09 14:51] dicolasi commented on #17807
cc @radcortez

[2021-06-09 15:00] gsmet commented on #17807
It would probably be better with a reproducer as we have no idea where `provider.demand-stats.api.uri` comes from.

[2021-06-09 15:14] Sanne commented on #16927
This should avoid loading all UDT and all keywords, w/o needing to set any property - and without causing problematic side-effects:
 - https://github.com/hibernate/hibernate-orm/pull/4043

Could you try it @leonardowestphal ?

To build it locally, run `./gradlew publishToMavenLocal` from the root, using JDK11.
Then override the version of hibernate-orm with `5.5.1-SNAPSHOT` in your projects - care

[2021-06-09 15:22] FroMage opened #17808 "Initial `quarkus:dev` logging improvements"
I just got greeted by:

[code]

And I have several remarks:

- Is the GraphQL `WARN` really useful? @phillip-kruger WDYT? If not, we should just remove it
- IMO the `[io.qua.grp.run.GrpcServerRecorder] (Quarkus Main Thread) Registering gRPC reflection service` is useless and should be dropped, WDYT @michalszynkiewicz ?
- The `[io.qua.grp.run.GrpcServerRecorder] (vert.x-eventloop-thread-0) gRPC Ser

[2021-06-09 15:23] gsmet commented on #17807
the fact that is internal is not an issue given it fails before that. But given you are using properties, it would be better to have a reproducer (with fake URLs).

[2021-06-09 15:23] laurentperez commented on #17593
yes, over http.

[2021-06-09 15:23] FroMage commented on #17808
TBH at this point I also wonder why we even have the `2021-06-09 17:13:59,714 INFO  [io.quarkus] (Quarkus Main Thread) ` prefixes for our initial info dump, since we managed to get our banner to not have this. What purpose does it serve?

[2021-06-09 15:25] phillip-kruger commented on #17808
@FroMage yea I do not have strong opinions on this. Happy to remove or change the level of the graphql logging

[2021-06-09 15:31] Sanne commented on #15961
Honestly I'm not a fan of re-attaching detached objects out of their original transaction scope.

Before I look at the reproducer, you all know ORM doesn't cascade automatically on all relations right? You have to specify the cascading rules of your operations explicitly when attaching partially managed graphs (and that's another reason for which I tend to avoid such approaches).

[2021-06-09 15:45] Christopher-Chianelli opened #17809 "Class.getDeclaredMethods() return superclass methods too if superclass is package friendly"
## Describe the bug
From the Class Javadocs:
Returns an array containing Method objects reflecting all the declared methods of the class or interface represented by this Class object, including public, protected, default (package) access, and private methods, but *excluding inherited methods*.

If you have a class B extends a package friendly class A, then
B.class.getDeclaredMethods() also include

[2021-06-09 16:11] sven-mvolution commented on #2765
Using Optional along with @ConfigProperty in a JAX-RS provider gives a warning:

But `Instance<Optional<String>>` is not an option as it would throw the DeploymentException again.

[2021-06-09 16:13] bdevreugd-vialis opened #17810 "QuarkusIntegrationTest docker env does not work with property names containing '/'"
We use the GraphQLClient in Quarkus 2.0.0, it requires a property called `test-service/mp-graphql/url`.
When the docker image is started, it is started with param: `--env TEST_SERVICE/MP_GRAPHQL/URL=http://localhost:50683`
This is an invalid environment variable, so it fails.

This is caused by:
https://github.com/quarkusio/quarkus/blob/f762885947f6af116eda4bbb8793be6688533f8d/test-framework/commo

[2021-06-09 16:30] SubhasmitaSw commented on #14729
@keshavcodex Here's the link to the thread : https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/.2314729.20Hibernate.20Search.20dev.20console.20card.20for.20multi-persis.2E.2E.2E

[2021-06-09 16:33] geoand commented on #17810
Interesting.

I'll have a look soon

On Wed, Jun 9, 2021, 19:13 quarkus-bot[bot] ***@***.***>
wrote:

[2021-06-09 16:38] leonardowestphal commented on #16927
None is the default value for Quarkus, however I performed the test using this property in application.properties and it's still slow. (I've already eliminated the use of persistence.xml)

The startup "freezes" a long time in "JDBC driver metadata reported database stores quoted identifiers in neither upper, lower nor mixed case"

Logs (I removed some sensitive data):

[code]

[2021-06-09 17:36] sebersole commented on #16927
I think you nailed it above.  If you have a lot of UDT mappings then that part of startup could conceivably take a long time.  I had added this for a feature I always wanted to come back and implement, but its not implemented and that method is just an unneeded overhead at the moment.  Sanne already implemented some changes to this code I suggested.

[2021-06-09 17:56] javiertoja opened #17812 "QuarkusIntegrationTests fails while testing jar"
## Describe the bug
I'm not completely sure if this is a bug or I'm should do some additional setup.

While trying to complete a maven build to test the QuarkusIntegrationTests annotation having only one test with this annotation, the build fails with the error `java.lang.IllegalStateException: Unable to locate the artifact metadata file created that must be created by Quarkus in order to run test

[2021-06-09 20:31] michalszynkiewicz commented on #17808
śr., 9 cze 2021 o 17:22 Stéphane Épardaud ***@***.***>
napisał(a):

I inherited it this way from Clement :D
+1 for aligning it. What's the motivation to expose http on localhost only?
Security?

I also like the idea of having all the messages of this type printed
together, in the example above, I think these two lines should be merged:

[io.qua.grp.run.GrpcServerRecorder] (vert.x-eventloop-thread-

[2021-06-09 20:43] ambition-consulting commented on #9397
Thanks, I will look into this. One last question: I only experience the problem in dev mode - prod mode (with fast-jar) has been unaffected. Is this in line with the current understanding of this bug? If not, maybe I should wait for the next occasion and share the complete stack trace. I got so used to restarting during development and not being able to fix this, and only now realize that it won't

[2021-06-09 21:20] michalszynkiewicz opened #17817 "quarkus:dev and continuous testing - failure when using new dependencies in pom.xml"
When I add a dependency on assertj while having dev mode enabled, and start using it in test, I see the following:

[code]

[2021-06-09 21:24] michalszynkiewicz commented on #17817
hmm... it seems it's not deterministic

[2021-06-09 22:16] Sanne commented on #16927
@leonardowestphal I've updated my experiment at https://github.com/hibernate/hibernate-orm/pull/4043 . I'm afraid the version I had pushed earlier today was still possibly loading those same objects, this should be better.

I really can't test it as my databases don't show this problem, I hope you could try it.

Also if you can, please share a stacktrace of when it's waiting - that would be much m

[2021-06-09 23:50] edufolly opened #17818 "[1.13.7] Using dotenv file and get unrecognized configuration key warn."
## Describe the bug
Get this warn message:

[code]

### Expected behavior
No warn message for `QUARKUS_DATASOURCE_DB_KIND` and  `QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION`.

### Actual behavior
Quarkus works fine, but the warning message is shown.

If I set `QUARKUS_DATASOURCE_DB-KIND=postgresql` the warning message is not displayed, but Quarkus doesn't work correctly. Same behavior for `QUARKUS_H

[2021-06-10 01:46] stuartwdouglas commented on #9397
[code]

Change you code to the above and you should be ok. Basically it will create a thread with the correct TCCL set.

[2021-06-10 01:47] stuartwdouglas commented on #9397
Also instead of passing in 'null' for the 3rd param in the real world you probably want an exception handler of some kind that would at least log a message.

[2021-06-10 01:52] stuartwdouglas commented on #17817
This has been the case for updating the pom in dev mode pretty much forever, and nobody has really noticed. It's very hard to fix, so this is not a priority at this stage.

[2021-06-10 03:35] leonardowestphal commented on #16927
@Sanne

I've tested it with version 5.5.1-SNAPSHOT and the total time has been reduced about 20 seconds, but it's still slow (1+ minute).
Note: I did the test in another database, so the time was shorter than originally mentioned in this issue.
Even so I think it was possible to identify the root cause of the problem at 'org.hibernate.tool.schema.extract.internal.SequenceInformationExtractorLegacy

[2021-06-10 05:24] geoand commented on #17812
Tests annotated with `@QuarkusIntegrationTest` should be run by the `maven-failsafe-plugin` in the `verify` phase, not by `maven-surefire-plugin` in the test phase (same as the `@NativeImageTest`).

I have added a note in the documentation to make that more clear

[2021-06-10 05:24] #17812 closed

[2021-06-10 05:27] #17618 closed

[2021-06-10 05:31] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/923989544

[2021-06-10 05:32] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/923991126

[2021-06-10 05:33] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/923991126

[2021-06-10 05:54] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/923991384

[2021-06-10 06:27] zakkak commented on #17806
@survivant can you please provide the output of :

[code]
?

[2021-06-10 06:39] TFyre commented on #6801
Ran into quite some issues trying to use Hibernate instead of Eclipselink... Some of the items are the following:
* entity listeneners (using prePersist / PostUpdate / PostRemove)
* lazy loading of readonly outside of session (`hibernate.enable_lazy_load_no_trans` doesnt hydrate the entity properly and throws `org.hibernate.StaleObjectStateException: Row was updated or deleted by another transacti

[2021-06-10 07:17] kontoeniki commented on #17818
Same with 1.13.6.Final. Until 1.13.4 the underscore configuration worked fine.

[2021-06-10 07:21] Sanne commented on #16927
Very interesting, thanks!

So it's sequence details; it gets a bit more complicated but let's see what we can do.

Can you give us an idea of how many sequences you have in the database, and show how a typical entity is mapped to use them?

[2021-06-10 07:36] caalador commented on #17755
Is the fix come with 2.0 or will it be waiting until 2.1?

[2021-06-10 07:40] mkouba commented on #17755
It should be backported in 2.0. But as I said above, users are encouraged to switch to a more idiomatic approach instead ;-).

[2021-06-10 07:48] jmartisk commented on #17667
Ok, so the problem here is that the observed behavior is correct from the PoV of the JSON specification, which does not allow line breaks inside strings.
It works correctly even if you send a query containing line breaks, but they must not be inside a JSON string. Instead of a line break, there must be `\n`.

Works:
[code]

Does not work:
[code]

Unfortunately when using a Java text block, the lin

[2021-06-10 07:56] caalador commented on #17755
The Vaadin framework has this issue with the components.
I perhaps do not expect users to have the issue immediately, but it will be confusing when they suddenly
meet this issue.

[2021-06-10 08:15] gsmet commented on #17818
/cc @radcortez

[2021-06-10 08:16] #9569 closed

[2021-06-10 08:27] sdaschner opened #17824 "quarkus:dev displays exception (warning) for @Disabled tests"
## Describe the bug
The current version `2.0.0.CR3` of `quarkus:dev` displays warnings with exception stacktraces for tests classes that are annotated with `@Disabled`.

## To reproduce

- Have the following test:

[code]

- run `quarkus:dev` with version `2.0.0.CR3`

- activate output [`o`] and re-run tests [`r`]

Results in:

[code]

This is only a warning and has no effect, however we might wan

[2021-06-10 08:28] #17810 closed

[2021-06-10 08:37] FroMage commented on #17808
Yeah, that'd work. Though not sure why SSL info is needed, since everyone can see it's http and not https?

[2021-06-10 08:38] radcortez commented on #17818
This was fixed with https://github.com/quarkusio/quarkus/pull/17798. It seems we didn't backport it. Anyway, I'll add these as an additional test case to make sure it is correct.

[2021-06-10 08:50] FroMage opened #17825 "GraphQL and Swagger UI should know when the application reloaded"
I was following the GraphQL guide and started adding queries, and typing it in the GraphQL DEV UI, and then I started getting errors in my view, because it didn't know the new query. I'm guessing that's because the UI wasn't reloaded so it didn't reload the schema. Executing the query worked, though, so it felt weird. I could reload the DEV UI page and get it to see the new queries.

We should be

[2021-06-10 08:54] michalszynkiewicz commented on #17808
actually, grpc world doesn't seem to use neither `http` nor `https` schema in the URLs, so for gRPC we'd probably want:
[code]

[2021-06-10 08:56] Sanne commented on #6801
Thanks for the information! Appreciate hearing the reasons, although I don't understand them all fully yet so I hope you (all) don't mind me asking more details.

To follow up on the previous comment regarding Jakarta EE, that is available in Hibernate now as well:
 - https://in.relation.to/2021/06/04/hibernate-is-jakarta-jpa-2/

But as I mentioned, that doesn't imply it's going to be easy to swap

[2021-06-10 08:56] zakkak commented on #11493
@rsvoboda I am no longer seeing this despite maven-surefire still being at `3.0.0-M5`, is this still an issue?

[2021-06-10 09:06] phillip-kruger commented on #17825
So this is because when you hot-reload, the schema might have changed, and thus the UI needs to reload the schema. We have the same issue in REST (Swagger-UI does not automatically reload on hot reload). We can definitely look into this, but as with swagger-ui, the graphql-ui is an external dependency we pull in. We do already modify the HTML and JS so this should be possible. You do get use to re

[2021-06-10 09:06] rsvoboda commented on #11493
I will double check, will use latest 1.13.z and 2.0.0.CR. I assume I will get back to you tomorrow as my day is quite packed.

[2021-06-10 09:12] bcluap commented on #16106
Git had an all-fall-down so I needed to recreate the branch and PR. Should be good to go now. If merged, can it be included in 2.0?

[2021-06-10 09:12] FroMage opened #17827 "GraphQL guide simplifications"
Following the GraphQL guide I noticed that we're:

- Showing some large `Film` and `Hero` DTOs using lots of “dumb” accessors, when replacing them with public fields would work just as well and make the docs shorter and easier to read.
- Showing `@Name("filmId")` when it's actually optional and we could use the parameter name, inducing me to falsly believe this was required.
- I'm told I need to u

[2021-06-10 09:13] phillip-kruger commented on #17827
Sounds good. I'll fix a.s.a.p

[2021-06-10 09:15] FroMage commented on #17825
I think it's worth it for both, but it's less obvious for the Swagger one because the new operation will not appear, so you can't invoke it.
Here I can invoke the new query, even before the app is reloaded, and it's the invocation of the new query that causes the app to be reloaded, leading me to have both a valid result on the right, and an error on the left because the query is not recognised.
T

[2021-06-10 09:16] FroMage opened #17828 "GraphQL DEV UI History doesn't appear to work"
I've run many queries and the History tab is always empty. I get no JS Console errors. Is this normal?

[2021-06-10 09:16] Sgitario opened #17829 "Regression Kafka failing when using Apicurio registry on Native"
## Describe the bug
When using the Kafka Quarkus extension and Apicurio, it starts failing on Native with the following exception:

[code]

It started failing a week ago, but I could not identify the origin of the issue.

## To Reproduce

1.- git clone https://github.com/Sgitario/beefy-scenarios
2.- cd beefy-scenarios
3.- git checkout reproducer_17829
4.- cd 301-quarkus-vertx-kafka
5.- mvn clean v

[2021-06-10 09:18] FroMage commented on #17827
Thanks a lot! And also congrats on getting all those things right: they just worked when I tried them out, even though they were not documented in the guide :)

[2021-06-10 09:28] TFyre commented on #6801
I am referring to the documented JPA Callback section https://quarkus.io/guides/hibernate-orm#limitations

not sure if this has now been solved with Jakarta certification?

If there are any work-arounds for this, documenting / referencing it would be awesome!

Will look into logging this as an issue

[2021-06-10 09:32] Sanne commented on #6801
@TFyre many thanks. And yes the limitation I've documented at https://quarkus.io/guides/hibernate-orm#limitations isn't really a limitation of Hibernate ORM but of how things need to be re-wired in Quarkus. It wouldn't work out of the box in EclipseLink either, and we can certainly look at finally removing this specific limitation - it's a left over from the initial POC.

[2021-06-10 09:37] Sanne commented on #6801
BTW a simple workaround is to not compile to native.. not sure if that's your goal, but it should work just fine in JVM.  It's listed as a limitation as we don't want to muddy the waters about certain things only working on one VM and not the other... really needs parity for us to consider a feature "available".

[2021-06-10 09:40] phillip-kruger commented on #17825
Ok cool, I can look at this a.s.a.p for both.

[2021-06-10 09:49] maxandersen opened #17831 "For 2.x devtools, provide better messages when 1.x metadata is encountered"
## Describe the bug

trying to explicitly specfify rhbq platform during creation gives this error:

[code]

and I have settings.xml configured.

traditonal mvn create works:

[code]

### Expected behavior
cli should know about repository locations defined by maven - not sure how that would work for gradle ?

### Actual behavior

it seem to not consider maven settings at all.

[2021-06-10 09:52] FroMage opened #17832 "MP REST/GraphQL client config and slashes"
I still don't understand why MP-REST went with slashes in their config keys, which is just horrible and inconsistent and contrary to everything we do in Quarkus and perhaps there were good reasons, but we should offer an alternative, on top of keeping supporting it, in the form of:

[code]

We can argue about `rest` vs `rest-client` (similarly for `graphql`), we can argue for `quarkus.rest-client.

[2021-06-10 09:52] FroMage commented on #17832
/cc @michalszynkiewicz

[2021-06-10 09:56] phillip-kruger commented on #17832
+1 on being consistent with Quarkus config and still be compatible with the spec ugly backslash one.

[2021-06-10 10:00] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/923998693

[2021-06-10 10:03] jmartisk commented on #17832
+1, I don't really like the current scheme either, but I went with it in GraphQL mainly to be consistent with MP REST Client. We can add an alternative.

[2021-06-10 10:06] phillip-kruger commented on #17828
This is not normal no, could be something I broke as I tinkered with the js to get subscriptions to work. I'll have a look a.s.a.p (This is actually in SmallRye, I'll open a issue there)

[2021-06-10 10:14] cescoffier commented on #17832
Definitely +1,

We discussed a bit with @michalszynkiewicz and @phillip-kruger last week (while working on a demo where the problem very visible) (see https://github.com/cescoffier/microservice-demo/blob/master/api-gateway/src/main/resources/application.properties).

[2021-06-10 10:21] #17667 closed

[2021-06-10 10:27] cescoffier commented on #17829
Which version of apicurio are you using?

CC @Ladicek

[2021-06-10 10:35] michalszynkiewicz commented on #13959
@cihati is this still an issue?

[2021-06-10 10:37] jeffmaury commented on #17832
Adding @angelozerr because I'm not sure it impacts the LS

[2021-06-10 10:41] Sgitario commented on #17829
https://github.com/quarkus-qe/beefy-scenarios/blob/b26038715fed0ac2966b6684efd080a442e1a16c/pom.xml#L50

I think it's the latest `1.3.2.Final`.

[2021-06-10 10:43] geoand commented on #16106
Yeah, we can do that

[2021-06-10 11:13] angelozerr commented on #17832
Thanks @jeffmaury for pinged me. Indeed we need to generate the new syntax properties on the JDT LS side. When this feature will be merged we could work on this new syntax.

Do you new if we need to generate old/new syntax, or perhaps generate the new syntax accoring the Quarkus version from the classpath. To promote the new syntax we could highlight aswarning the property and provide a code actio

[2021-06-10 11:48] survivant commented on #17806
here the output

[code]

[2021-06-10 11:52] survivant commented on #17806
@zakkak I found a error in the previous logs.. I need to remove the ' ' .  the command line will be

[code]

[2021-06-10 11:58] survivant commented on #17806
@zakkak here the log

[code]

[2021-06-10 11:58] cescoffier commented on #17829
@Ladicek is the 1.3.2 the version that requires an extension?

[2021-06-10 12:01] Ladicek commented on #17829
1.3.2 is the ugly one. Let me check the reproducer.

[2021-06-10 12:09] geoand commented on #17832
Big +1!

I've never heard of anyone using Quarkus that actually liked the use of `/` in the config property...

[2021-06-10 12:38] JiriOndrusek commented on #17463
@ppalaga @stuartwdouglas
Classloader does not seem to be an issue here. As you can see in avro, there is a fallback to correct classloader (https://github.com/apache/avro/blob/master/lang/java/avro/src/main/java/org/apache/avro/util/ClassUtils.java#L74)

I tried some validations in debug mode and here are my results:

* Problem is caused by the fact, that classloader can not find class `org.apache

[2021-06-10 12:59] leonardowestphal commented on #16927
There are about 100,000. It's a little scary, but this high number is due to a legacy solution.

An example:
[code]

[2021-06-10 13:07] jendib commented on #15058
I'm getting the same issue with Quarkus 1.13.3. I cannot find if it's supposed to be merged in this version. Can someone confirm this? Thanks.

[2021-06-10 13:14] leonardowestphal commented on #16927
Would it be feasible to create a specific property to allow not loading the metadata of the sequences? Or maybe something similar...

[2021-06-10 13:15] mkouba opened #17835 "InjectionPointInfo.getRequiredType() should return the type parameter for programmatic lookup"
I.e. it should return `Foo` for `@Inject javax.enterprise.inject.Instance<Foo>`, `@Inject io.quarkus.arc.InjectableInstance<Foo>` and `@Inject javax.inject.Provider<Foo>`.

See https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#dynamic_lookup:
_"For an injected Instance, the required type is the type parameter specified at the injection point."_

We should also add the `InjectionPointInfo#getType()

[2021-06-10 13:15] kenfinnigan commented on #15058
It should be as 2.9.0 of SmallRye Reactive Messaging is present in 1.13.3

[2021-06-10 13:26] zakkak commented on #17806
Judging by the logs it looks like
[code]
is not being properly set or read.

Is there any chance you could share a reproducer?

[2021-06-10 13:35] survivant commented on #17806
@zakkak if it's the property that is not passed in the build command line.  Could a hello-world project from code.quarkus.io    and add the file reflection-config.json + the line in application.properties will do the same ?

[2021-06-10 13:38] gsmet commented on #15213
Fix is coming in https://github.com/quarkusio/quarkus/pull/17836 . Sorry about the delay.

[2021-06-10 13:41] survivant commented on #17806
@zakkak one more question.  Should the class
[code]
do the same without having to pass the parameter in the command line ?

[2021-06-10 13:43] Sanne commented on #16927
Yes we can introduce that; I'll look into it.  Thanks for all details!

[2021-06-10 13:51] leonardowestphal commented on #16927
Thanks @Sanne

[2021-06-10 14:35] antonwiens opened #17839 "Invalid memory configuration for netty maxDirectMemory in native image"
I thinks this only concerns native image builds.

Setting either
-XX:MaxDirectMemorySize
or
-Dio.netty.maxDirectMemory
does not work at runtime and runtime memory is incorrectly reflected in io.netty.util.internal.PlatformDependent.DIRECT_MEMORY_LIMIT
at runtime.

i think the problem is that io.netty.buffer.PooledByteBufAllocator uses  io.netty.util.internal.PlatformDependent
which is not initiali

[2021-06-10 14:49] Ladicek commented on #17829
I'm running the test locally and I can see messages flowing through Kafka, but no traces are ever found in Jaeger, so the test (in native) fails after the 1 minute timeout.

Unfortunately, this bug report doesn't really say anything about what happens (there's just a stack trace), so I can only guess whether it's the same failure or not. I _guess_ it's a different failure, but not really sure.

[2021-06-10 14:56] gsmet commented on #17839
/cc @cescoffier @stuartwdouglas

[2021-06-10 14:56] jendib opened #17841 "Startup error "SRMSG00019: Unable to connect an emitter with the channel""
## Describe the bug
I'm having the same issue as #15058 which is the "SRMSG00019: Unable to connect an emitter with the channel" error on startup randomly.

### Expected behavior
No error and no stacktrace.

### Actual behavior
On Quarkus startup:
[code]

## To Reproduce

Reproduction project:
[reproduce-17841.zip](https://github.com/quarkusio/quarkus/files/6632505/reproduce-17841.zip)

My emitter

[2021-06-10 14:58] gsmet commented on #17841
I think a reproducer would be useful.

[2021-06-10 15:03] gsmet commented on #17809
@Christopher-Chianelli given the reproducer, I fail to see how it could be a Quarkus-specific issue?

/cc @stuartwdouglas

[2021-06-10 15:04] gsmet commented on #17614
/cc @radcortez

[2021-06-10 15:05] gsmet commented on #17665
With 1.13, you should use GraalVM 21.0.

GraalVM 21.1 will be supported by Quarkus 2.0.

[2021-06-10 15:05] #17665 closed

[2021-06-10 15:06] Ladicek commented on #17829
And finally: after the 2 tests (that verify tracing) fail with a timeout, I see a bunch of these exceptions:

[code]

These exceptions are clearly caused by the test (or actually the test application), which doesn't cleanup correctly. If this bug report is about these exceptions, then I'm going to claim it's an invalid bug, until the application does proper shutdown. (And yes, in this particular c

[2021-06-10 15:07] Christopher-Chianelli commented on #17809
@gsmet quarkus is the only dependency in the reproducer I posted. Outside of Quarkus, `getValue, setValue` are the only thing that `getDeclaredMethods()` returns. This presents an issue for OptaPlanner, since it navigates all the class (and super classes) members when looking for a PlanningId, and the same member is return by two seperate calls from `getDeclaredMethods()`, which means OptaPlanner

[2021-06-10 15:08] Christopher-Chianelli commented on #17809
(the issue I linked was how I discover this issue)

[2021-06-10 15:09] jendib commented on #17841
I attached a reproduction project. Just need to `mvnw compile quarkus:dev`

[2021-06-10 15:10] gsmet commented on #17729
My guess is that defining a JNI config overrides what we are doing at the Quarkus level.

I'm not really sure we can do anything about it. Maybe try to use a Quarkus extension instead?

[2021-06-10 15:11] gsmet commented on #17735
@asoldano @ronsigal looks like something that should be handled at the RESTEasy level (if valid).

[2021-06-10 15:19] gsmet commented on #17839
I'm having a look at this one.

[2021-06-10 15:26] Ladicek commented on #17832
I'm trying to get a life, but before I succeed with that, just wanted to quickly add yet another +1 :grin:

[2021-06-10 15:30] FroMage commented on #17832
I guess I wasn't clear: if you think slashes should move out of config keys, you already made great life choices ;)

[2021-06-10 15:39] gsmet commented on #17839
Outch, this is a Pandora box :). I'm very surprised we didn't have ton of small issues because of that.

[2021-06-10 16:55] Sanne commented on #16927
@leonardowestphal I have another draft for you and hope you could test it :)

you'll have to set the Hibernate configuration property `hibernate.id.sequence.increment_size_mismatch_strategy` to `NONE` (and yes Quarkus doesn't expose this but I trust you can workaround it)

- https://github.com/hibernate/hibernate-orm/pull/4043

If this works, I'll cleanup the code and merge it in ORM, then patch Q

[2021-06-10 17:04] ronsigal commented on #17735
@gsmet, I'll take a look.

[2021-06-10 17:08] sberyozkin opened #17843 "Support for Local Keycloak Authorization"
## Description
I've read by including all the permissions into a token the authorization service action can be performed locally by introspecting the token

## Implementation ideas

Enhance `KeycloakPolicyEnforcerAuthorizer` to avoid the remote call if the token includes the permissions.
By the time `KeycloakPolicyEnforcerAuthorizer` is invoked the token has already been verified - and the parsed

[2021-06-10 17:09] sberyozkin commented on #17843
CC @pedroigor

[2021-06-10 18:51] radcortez commented on #17832
Some additional information. A parallel discussion has been happening here: https://github.com/quarkusio/quarkus/pull/17220 (not about the slashes, but relevant because it is about how to extend MP Client configuration)

And here is some discussion on the MP REST Client side: https://github.com/eclipse/microprofile-rest-client/issues/171

I'm +1 to provide a way to configure without the slashes.

[2021-06-10 18:52] leonardowestphal commented on #16927
@Sanne
It worked successfully!!! Great!!!
So are you going to set it to a fixed value 'none' in Quarkus?
I don't really understand how this property works, could you explain?

Could you backport it to version 1.13.x?

Thank you!

[2021-06-10 19:30] Sanne commented on #16927
nice, thanks to you for all the quick testing and details :)

So, we did a couple of things.

The `increment_size_mismatch_strategy` property gives users a choice regarding what to do when the sequence increment sizes as defined in the DB don't match the `increment_size` parameter on a pooled optimizer - as that can lead to problems. The options (until today) were: either we log the problem as a w

[2021-06-10 19:37] famod commented on #16927
I've been watching this from the sidelines and I just wanted to say thank you @Sanne for explaining things so thoroughly (and it was not the first time you took the time to do so). Really appreciated!

[2021-06-10 19:45] leonardowestphal commented on #16927
I'm immensely grateful for all the answers and the great help you have given me.

Now we can proceed with our project with the certainty that these issues have been overcome. Thanks again for all your support.

[2021-06-10 19:53] Sanne commented on #16927
My pleasure :) and many thanks also to @sebersole , @yrodiere and @dreab8 who helped with it too.

[2021-06-10 19:56] leonardowestphal commented on #16927
Thank you guys!

[2021-06-10 20:36] michalszynkiewicz commented on #17832
I think this means that reference guides for our clients will need to copy all the properties from the spec, but that's probably a good thing anyway.

Won't we have a bit of a problem with global vs client specific properties, e.g. `quarkus.rest-client.scope` vs `quarkus.rest-client.my-client.url`? I think @mkouba was/is trying to do a similar thing for grpc clients and it's not that easy. Maybe t

[2021-06-10 20:45] michalszynkiewicz commented on #17832
One more thing, I don't really like magically changing `org.acme.rest.client.CountriesService` to `countries-service`, it would be confusing for me as a user. I like `quarkus.rest-client.CountriesService` more.

Big +1 to shortcuts for scopes. Everywhere we have scopes :)

[2021-06-10 22:11] #15213 closed

[2021-06-11 02:06] stuartwdouglas commented on #17809
getId() is a bridge method, getId() is added by the compiler, this has nothing to do with Quarkus.

Because the superclass is package private, and getd() is public, the compiler needs to create a copy of the method to allow code outside the package to invoke it.

If you want to check for this look for java.lang.reflect.Modifier#BRIDGE (although this is not the only reason a bridge method may be ad

[2021-06-11 02:06] #17809 closed

[2021-06-11 05:24] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/927420856

[2021-06-11 05:27] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/927422060

[2021-06-11 05:41] jmartisk commented on #17832
Yeah we kinda have a similar problem with data sources and it's quite confusing at times (there it's even worse because of the default [unnamed] data source). I guess it needs a good documentation for each property to make it clear what it means. Or we might just not use global properties, and require each client specify it separately.

I don't quite like `quarkus.rest-client.CountriesService` eit

[2021-06-11 05:57] ruffythepirate commented on #17729
Hi Guillaume,

Thank you for looking into this!

My impression after reading the [GraalVM documentation](https://www.graalvm.org/reference-manual/native-image/JNI/#reflection) is that the setting primarily marks that some metadata should not be pruned away upon building the native image to allow JNI to function well.

Now if I've understood Quarkus correctly it's doing its magic when generating th

[2021-06-11 06:00] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/927422365

[2021-06-11 06:38] rsvoboda commented on #11493
I can still replicate the issue on my machine (MBP 2019, macOS BigSur 11.3.1).

[code]

[code]

[code]

[2021-06-11 06:42] geoand commented on #17824
I was not able to reproduce the original issue consistently, but #17853 should fix it nonetheless

[2021-06-11 06:50] #17799 closed

[2021-06-11 07:39] andlinger opened #17854 "NullPointerException in build when denying unannotated endpoints"
In a project without endpoints, a NullPointerException is thrown during build if the property `quarkus.security.jaxrs.deny-unannotated-endpoints` is set to `true`.

Of course, without endpoints the property makes no sense, but probably no NullPointerException should be thrown either.

[code]

[2021-06-11 07:46] JiriOndrusek commented on #17463
There is a fact, which could help:

* Error is happening in avro thread, which has classloader `QuarkusClassLoader:Quarkus Base Runtime ClassLoader` - which bans classes from project
* If I try to call the same code from JUnit test thread ` Class.forName("org.apache.camel.quarkus.component.avro.rpc.it.specific.generated.Key", true, Tread.currentThread().getContextClassLoader())` it uses `QuarkusCl

[2021-06-11 07:53] geoand commented on #17611
I could not reproduce the problem with the provided scripts either

[2021-06-11 07:54] JiriOndrusek commented on #17463
Problem seems to be in avro: https://github.com/apache/avro/blob/branch-1.10/lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java#L147

[2021-06-11 07:59] mkouba opened #17857 "Type-safe messages - consider declaring io.quarkus.qute.i18n.Message.value() as optional"
If the relevant properties file is provided, e.g. `msg.properties`.

We would have to validate the presence of the file and key.

[2021-06-11 08:04] mkouba opened #17859 "Type-safe messages - generate a base example properties file for every message bundle interface"
This file can be used by a translation tool.

[2021-06-11 08:16] Ladicek commented on #17832
Agree here. This kind of shortcuts has an intrinsic danger: it works when there's exactly 1 class of given short name, but when a 2nd class of the same short name in a different package is added later, what used to work stops working. (Sure, it's usually unlikely. But not impossible, especially with names that are generic enough.)

I kinda like how we do it with logging (`quarkus.logging."com.exam

[2021-06-11 08:17] #17827 closed

[2021-06-11 08:23] Ladicek commented on #17832
Sure, I wouldn't expect anything less. My point was this part: _what used to work stops working_.

[2021-06-11 08:33] geoand commented on #17854
Thanks for reporting!

A framework should indeed never throw a NPE!

[2021-06-11 09:08] JiriOndrusek commented on #17463
Issue is reported in jetty: https://github.com/eclipse/jetty.project/issues/6399

[2021-06-11 09:09] FroMage commented on #17832
I dunno, seems to me that if you have two classes named `CountriesService` in your app, it's probably an error anyway ;)

[2021-06-11 09:17] Ladicek commented on #17832
I agree in principle, but I can also see a generic name such as `CountriesService` being used in multiple 3rd-party libraries rather easily.

[2021-06-11 09:21] FroMage commented on #17832
So just make it an error if there are more than one with that name, the same would happen with explicit bean names. It's fine ;)

[2021-06-11 09:22] FroMage commented on #17832
As for CamelCase and brochette-case being usable interchangeably in the config file, I thought it was already the case, I'm not sure anyone would bat an eyelid if we could write `CountriesService` both as-is and as `countries-service` which feels more config-compatible.

[2021-06-11 09:24] FroMage commented on #17832
Uh… first, it's not magically changing, but allowing shortcuts. Second, this is not magic, this is a clear case of Oh You Damn Well Know What I Mean You Stupid Framework So Let's Cut The Red Tape™. Third: we do magic all the time in Quarkus, either you didn't get the memo, or you've been calling it some other name ;)

[2021-06-11 09:27] FroMage commented on #17832
And now that I think about it, I don't even know why I _have_ to set the damn URL in the config in the first place:

[code]

So why are we not documenting this first and foremost? It's not like most people want to be able to change the URI of a remote service without having to rewrite their client. It's pretty rare when a remote service moves without changing API.

[2021-06-11 09:42] knutwannheden commented on #17832
I doubt we are the only ones doing this, but when we deploy our services to various stages (development, testing, etc.) in the cloud, we will have different URLs for them as well. This is where we then use the config key approach to configure the URL.

[2021-06-11 09:42] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/927430178

[2021-06-11 09:42] michalszynkiewicz commented on #17832
If we support both `countries-service` and `CountriesService` - fine by me. I meant to say that guessing that one has to use `countries-service` for `CountriesService` is not easy. That requires reading documentation :D

[2021-06-11 09:46] FroMage commented on #17832
Oh yeah, agreed.

[2021-06-11 09:49] FroMage opened #17861 "MP REST Client and mocking"
The guide at https://quarkus.io/guides/rest-client says:

[code]

This is a nice feature, but I would expect we improve our UX here and allow users to do some much simpler mock set-up, such as:

[code]

So, we'd collect all `@RestMock` methods, see what service they mock, provide them with an empty stub for the service, then implement a Mockito-like `RestMocker` class allowing us to set up HTTP mo

[2021-06-11 10:01] geoand commented on #17861
Absolutely +!

[2021-06-11 12:41] bartuss7 opened #17863 "Provides ProjectedFieldName in MongoDB with Panache"
## Describe the extension
Annotation to provide the path for the SELECT statement. Right now only ORM with panache provides this feature.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

## Configuration suggestion
ORM example:
[code]

## Additional context
(Add any other context about the proposal here.)

[2021-06-11 12:43] #17854 closed

[2021-06-11 13:28] geoand commented on #17861
I can start working on this next week

[2021-06-11 15:55] ambition-consulting commented on #9397
After providing the above mentioned code as a provider, I get

[code]

[2021-06-11 17:56] mweber03 opened #17866 "exclude-types not working in dev mode"
## Describe the bug
I have a service that with `quarkusDev` dependencies on other service projects for the purpose of dev mode only. I knew there would be collisions on the `Application` classes, so I added the `Application` class fro mthe dependency to `quarkus.arc.exclude-types`. But it does not seem to be excluded because I get an error saying there is more than one `Application` class.

### Ex

[2021-06-11 18:36] kwakiutlCS opened #17867 "Continuous Testing ignores @ParameterizedTest"
## Describe the bug
Tests annotated with @ParameterizedTest don't run with continuous testing. The other tests run.

## To Reproduce

Steps to reproduce the behavior:
A test like
[code]
 does not run with mvn quarkus:dev

### Configuration
Quarkus 2.0.0.CR3

[2021-06-11 20:47] edeandrea opened #17871 "Remote dev in combination with devservices is broken since 2.0.0.Alpha1"
## Describe the bug
This worked fine in `2.0.0.Alpha1` but is now broken in Alpha2, Alpha3, CR1, CR2, and CR3. When trying to do remote dev it seems that the `QUARKUS_DATASOURCE_DEVSERVICES=false` environment variable is not respected. When I deploy an application to kubernetes and I set the environment variables `QUARKUS_LAUNCH_DEVMODE=true` and `QUARKUS_DATASOURCE_DEVSERVICES=false`, the Pod cra

[2021-06-11 21:13] jeanabraham opened #17872 "Unable to inject @RestClient into a thread class"
## Describe the bug
Unable to inject @RestClient into a class implementing `Runnable`.

### Expected behavior
Successfully inject @RestClient object without an exception on startup.

### Actual behavior
[code]

## To Reproduce

Reproducer project: https://github.com/jeanabraham/sample-restclient-inject

Steps to reproduce the behavior:
1. mvn quarkus:dev
2. Exception occurs

### Configuration
[cod

[2021-06-12 07:56] glefloch commented on #17866
Thanks for reporting this issue @mweber03. I can reproduce it locally. It turns out that using the `implementation` scope seems to fix the issue. This could be used as a workaround.

[2021-06-12 08:16] geoand commented on #17871
Dev services should likely not be run when using remote-dev

[2021-06-12 09:02] belu opened #17876 "Quarkus CLI does not display icons correctly"
## Describe the bug
When creating an app via Quarkus CLI the icons are not displayed as shown in the documentation.
In my terminal a white rectangle is shown instead.

### Expected behavior
Icons are displayed correctly or if the terminal does not support this something else is used instead.

### Actual behavior
Icons are not displayed correctly.

## To Reproduce

Steps to reproduce the behavior:

[2021-06-12 09:03] maxandersen commented on #17876
What os, shell and terminal are you using ?

[2021-06-12 09:09] belu commented on #17876
OS: Linux
Shell: Bash
Terminal: Konsole (KDE, https://konsole.kde.org/)

[2021-06-12 09:10] belu commented on #17876
And in xterm it looks like this :-)
![quarkus-cli-xterm](https://user-images.githubusercontent.com/1174164/121771299-d24c7800-cb6e-11eb-93cf-614ec68d019e.png)

[2021-06-12 10:46] cihati commented on #13959
To be honest, I don't know. We had quite a few problems with Quarkus at the time and moved away from it.

[2021-06-12 12:12] edeandrea commented on #17871
Yes which is why I set `QUARKUS_DATASOURCE_DEVSERVICES=false`. Doing that worked fine in Alpha1 buy no longer works in Alpha2, Alpha3, CR1, CR2, or CR3.

[2021-06-12 12:18] maxandersen commented on #17876
Does your font have icons normally ?

[2021-06-12 12:23] geoand commented on #17871
Right, that is definitely undesirable.

[2021-06-12 12:24] edeandrea commented on #17871
Good thing I did a dry run yesterday before my customer demo next week :)

[2021-06-12 12:26] geoand commented on #17871
We need you to do this sort of demo more often 😜

[2021-06-12 12:28] edeandrea commented on #17871
I'll do my demo using Alpha1

[2021-06-12 13:00] geoand commented on #17871
Using the [Hibernate ORM Panache Quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/hibernate-orm-panache-quickstart) using either `2.0.0.CR3` or Quarkus built from `main` and the following in `application.properties`:

[code]

Then building the jar and running it with:

[code]

runs as expected

[2021-06-12 13:02] edeandrea commented on #17871
Are you running that local on your machine or in a kubernetes pod? I'm also using hibernate reactive and the reactive postgres driver. I attached a reproduce example to the original ticket.

[2021-06-12 13:03] geoand commented on #17871
Yes I know. But what am saying is that things works as expected

[2021-06-12 13:07] edeandrea commented on #17871
But they dont....

Take my example and run `./mvnw clean package -DskipTests -Dquarkus.kubernetes.deploy=true` against a k8s cluster. When the pod deploys it goes into a crash loop state with the error message I gave.

Additionally, locally if you run

`./mvnw clean package -DskipTests && export QUARKUS_LAUNCH_DEVMODE=true && export QUARKUS_DATASOURCE_DEVSERVICES=false && java -jar target/quarkus-

[2021-06-12 13:12] geoand commented on #17871
They do. I just tried the Hibernate Reactive Panache Quickstart and it worked as well.

There seems to be something wrong with your example. I'll spend a few minutes trying to figure it out

[2021-06-12 13:14] edeandrea commented on #17871
Not sure it matters, but another difference between what I'm doing and what you have is that the database username/lasswors/etc is injected via a reference to a secret.

I'm not sure what could be wrong with it. Switching to Alpha1 it works fine. Simply changing the quarkus version to anything later than Alpha1 without any other changes and then it breaks.

[2021-06-12 13:19] edeandrea commented on #17871
Also I certainly don't expect you to be working on a Saturday. We can take it up on monday.

[2021-06-12 13:21] geoand commented on #17871
I was able to reproduce the problem in the Panache Reactive Quickstart in `2.0.0.CR3`. The problem does not seem to exist in the latest build from `main`.

Trying out your application, it works properly when running:

[code]

using Quarkus built from `main` (and it does indeed fail when using `2.0.0.CR3`).

Well, good for me I did, now I don't have to do anything about it on Monday 😉

[2021-06-12 13:21] #17871 closed

[2021-06-12 13:25] edeandrea commented on #17871
Admit it - you were doubting me :)

[2021-06-12 13:27] geoand commented on #17871
I doubt everything :)

[2021-06-12 13:27] edeandrea commented on #17871
Except maybe find the flaws in the test suite that allowed this to not be discovered by automated testing? :)

[2021-06-12 13:28] edeandrea commented on #17871
Said like a true framework/library developer - its always user error....

[2021-06-12 13:31] geoand commented on #17871
Now that is a reach :)

[2021-06-12 13:32] geoand commented on #17871
There are more pressing things to be done TBH. If this comes up again, someone (maybe me, maybe not) will look into it

[2021-06-12 16:04] belu commented on #17876
Simple icons yes, but not Emojis. Tried to use different fonts with emojis:
- EmojiOne Color Font -> the icon for Maven is missing, only black & white
- Noto Emoji Font -> only black & white
- Twemoji Color Font -> only black & white

The problem is all of them are not suited to be used in a terminal (no fixed character width). And all of them are not colored but black & white.

[2021-06-12 16:34] #12324 closed

[2021-06-12 19:00] maxandersen commented on #17876
Just to check - I assume you have Same issue with using mvn create plugin which is the same code ?

[2021-06-13 01:30] gsmet commented on #17071
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkusio/quarkusio.github.io/actions/runs/932273575

[2021-06-13 06:03] belu commented on #17876
Not sure what you mean. This does not display any icons/emojis, just an error message:
![maven-create-plugin](https://user-images.githubusercontent.com/1174164/121797018-bce25700-cc1d-11eb-8058-1c174e86f516.png)

[2021-06-13 06:37] maxandersen commented on #17876
I mean the way we thus far use maven to create projects:

'''

mvn io.quarkus:quarkus-maven-plugin:1.13.7.Final:create \
    -DprojectGroupId=org.acme \
    -DprojectArtifactId=getting-started \
    -DclassName="org.acme.getting.started.GreetingResource" \
    -Dpath="/hello"
cd getting-started
'''

How does that render its output on your setup?

[2021-06-13 06:46] belu commented on #17876
Then I see the following output:
![quarkus-maven-tooling](https://user-images.githubusercontent.com/1174164/121797922-8ad3f380-cc23-11eb-96d2-dcaf49a76621.png)

Note that after installing the Emoji fonts I see at least some of the emojis (in black & white). Not sure if there exists another font pack that is missing to get the other emojis, too.

[2021-06-13 07:26] yuhaibohotmail opened #17877 "Optaplanner quickstarts throw InvalidPathException in dev mode on Windows"
## Describe the bug
(Describe the problem clearly and concisely.)
[code]

### Expected behavior
(Describe the expected behavior clearly and concisely.)

### Actual behavior
(Describe the actual behavior clearly and concisely.)

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

https://github.com/quarkusio/quarkus-quickstarts/tree/main/op

[2021-06-13 08:14] AndreaCuiuli opened #17878 "Quarkus Mongodb change stream resume token always null in native"
## Describe the bug

I'm building a quarkus app that uses the mongodb change streams functionality with the reactive client.

If I start the application locally from Intellij everything works fine but when I build the native app and try to save the resume token it's always null.

I use this command to build the native app since I need to build it locally on windows and delpoy it on heroku:

    mv

[2021-06-13 08:26] belu commented on #17876
Finally made some progress!

![gnome-terminal-quarks](https://user-images.githubusercontent.com/1174164/121799437-67617680-cc2c-11eb-989a-ba6ad7957eb6.png)

This is with the **Gnome Terminal**. Furthermore I installed ONLY the **Noto Color Emoji** font.

The icon for Maven 🧰 is still not working here.

There is also a missing space for some icons. This seem to be exactly the ones that have the _FE

[2021-06-13 09:20] goafabric commented on #12724
I also have the Requirement to register a StatementInspector.
Is there any progress for this issue ?

[2021-06-13 09:28] maxandersen commented on #17876
make sense to choose better icons when available.

we do though expect users using "modern" terminals - sounds like your kconsole/xterm setup uses the absolute minimal terminal setup :)

[2021-06-13 09:33] goafabric opened #17879 "Cache, Multitenancy and CacheKeyGenerator"
## Description

For Multi Tenancy, the Cache (Extension) needs to be aware of the TenantId.
From the Documentation I don't see if there is an easy to fulfill this.

For Spring and also the Native Java Cache API, we can achieve this by setting a Custom KeyGenerator, e.g:
https://schneide.blog/2020/03/24/the-java-cache-api-and-custom-key-generators/

But Quarkus Annotations, yet even if they look si

[2021-06-13 12:48] gwenneg commented on #17879
Hi @goafabric. There is currently no built-in support for multitenancy or custom key generators in `quarkus-cache` indeed.

However, wouldn't the following logic be enough to support multitenant cached values in your application?

[code]

[2021-06-13 13:15] gwenneg commented on #17879
I wouldn't recommend to build a cache key from a `String` tenant ID though but rather from a custom class (the `TenantId` you mentioned?) with proper `equals` and `hashCode` implementations. Otherwise, the cached value could be accessed inadvertently from another method that would have the same kind of arguments: `(String, int)` in my example above.

[2021-06-13 16:10] cescoffier commented on #17841
The reproducer fails with:
[code]

That does not seem to be related to the mentioned issue.

In the description of the issue, who's consuming `stats-out`? If there is no consumer, the exception is expected. No one is there to consume the data.

[2021-06-13 16:12] cescoffier commented on #17841
I've updated the reproducer (just made sure that the json is not empty) and everything works fine.

[2021-06-13 16:15] cescoffier commented on #13959
Just tried quickly and it seems to be fixed. So closing.
If it happens to not be fixed in your case, just re-open the issue and we will have another look.

[2021-06-13 16:15] #13959 closed

[2021-06-13 18:02] goafabric commented on #17879
Hi,
and thank you for your fast reply.
Of course your solution would work.
However i do not want to polute the signatures with the tenantid.

In spring boot i currently save it within a threadlocal.
And append it inside the CacheKeygenerator

This way its transparent to the rest of the application

[2021-06-13 19:26] jendib commented on #17841
@cescoffier I don't have the `InvalidDefinitionException` you experience.
I just redownloaded my reproducer and executed `mvnw compile quarkus:dev` immediately with no modification and I got this:

[code]

[2021-06-13 19:39] cescoffier commented on #17841
Weird, I will retry tomorrow. Make sure you clean your target directory.

Which java version are you using?

[2021-06-13 19:40] cescoffier commented on #17841
Can you also answer my question? Who's consuming the channel? If no one consume it, the failure is expected.

[2021-06-13 19:43] cescoffier commented on #17841
Ok, I finally understand the issue. The job starts before the connector.

@mkouba any idea to make sure reactive messaging is started before the job?

[2021-06-13 19:44] jendib commented on #17841
I deleted the `target` directory and had the same issue.

I'm using this JDK : `Java version: 11.0.5, vendor: AdoptOpenJDK`

That was also my guess!

[2021-06-13 20:10] GavinRay97 opened #17882 "Please modify internal Quarkus Maven configurations to support Scala 3"
A new version of the Maven scala version has been recently published:
- https://github.com/davidB/scala-maven-plugin/issues/487#issuecomment-860177157
- Most barebones example: https://github.com/davidB/scala-maven-plugin/blob/master/src/it/test_scala3/pom.xml

I've tried to a Quarkus starter app to use this, and it doesn't seem to work.
I think it might be some issue with internal magic that Quar

[2021-06-14 01:28] gsmet commented on #17071
The build is still failing:
* Link to latest CI run: https://github.com/quarkusio/quarkusio.github.io/actions/runs/934278189

[2021-06-14 05:42] cescoffier commented on #12600
@michalszynkiewicz didn't you fixed this one?

[2021-06-14 05:42] cescoffier commented on #13489
Closing - please re-open if needed.

[2021-06-14 05:42] #13489 closed

[2021-06-14 05:44] #17835 closed

[2021-06-14 06:44] geoand commented on #17872
This is a problem with your code.

Change https://github.com/jeanabraham/sample-restclient-inject/blob/master/src/main/java/com/acme/MyThreadListener.java#L22 to:

[code]

and things work as expected

[2021-06-14 06:44] #17872 closed

[2021-06-14 07:06] goafabric opened #17885 "Logging Configuration and Kubernetes Configmap"
## Description

Hello everybody,
i have a very basic problem with the logging configuration and Kubernetes Configmap.
Already searched for existing issues and answers, but found none.

Logging categories in Quarkus are defined with double quotes, which is a little strange to me, e.g. :

quarkus.log.category."org.hibernate".level=INFO

Not a big deal as long as they stay inside application.properti

[2021-06-14 07:10] glefloch commented on #17872
Also, I think you bean needs to be injected and not created with a `new` in

https://github.com/jeanabraham/sample-restclient-inject/blob/a328952487c99017b508f2f16863525c088dbaa8/src/main/java/com/acme/StartupService.java#L25

[2021-06-14 07:23] geoand commented on #17885
A YAML value of:

[code]

would yield the expected result.

Indeed, `quarkus.log.category."org.goafabric".level: "INFO"` does not

[2021-06-14 07:23] #17885 closed

[2021-06-14 08:26] goafabric commented on #17885
Unfortunately kubectl does not allow for style like this:

"invalid type for io.k8s.api.core.v1.ConfigMap.data: got "map", expected "string";"

All examples for configmap always use the "dot-style"

e.g
quarkus.log.level: "INFO"

[2021-06-14 09:01] jamesnetherton opened #17886 "Support aarch64 CPU architecture in gRPC extension code generation"
## Description

It'd be useful if the gRPC extension protobuf code generation steps could work with aarch64.

See this reported issue in the camel-quarkus project https://github.com/apache/camel-quarkus/issues/2762.

## Implementation ideas

Upgrade `protoc` to 3.17.3 as aarch64 seems to be supported:

https://repo1.maven.org/maven2/com/google/protobuf/protoc/3.17.3/

[2021-06-14 09:22] Karm commented on #13275
@zakkak @cescoffier Hello, this is still an issue, although in another module, with the current Q main and Mandrel 21.1, plus a number of linker issues and other failures. Lemme sort it out and open new issues for those that are not reported already.

[code]

This is not a Github Workflow env. It's a Windows 2019 Server baremetal machine that builds and tests Q from source, i.e. it is not built on

[2021-06-14 09:29] wojciechkopciewicz commented on #17287
@geoand I managed to find a missing piece - attached an updated sample application that allows to reproduce the issue. I can reproduce the issue using docker. I could not reproduce it in the tests or running app on my Windows machine.
[getting-started-injection.tar.gz](https://github.com/quarkusio/quarkus/files/6646579/getting-started-injection.tar.gz)

[2021-06-14 09:59] galderz commented on #14904
@akuzni2 I might be wrong but I think 21.1 is only supported in Quarkus 2.x onwards...

[2021-06-14 10:01] zakkak opened #17887 "--initialize-at-build-time without arguments to be deprecated (in 21.2?) and will be removed in GraalVM 22.0."
The recently pushed to graal master https://github.com/oracle/graal/commit/5013ca7c9d88bd12de2ebd24e3196a40d9044c9c  states that

As Quarkus is currently using this option https://github.com/quarkusio/quarkus/blob/fc3172767267b6aee92737232f5d7599d9ec1a6e/core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java#L556
we need to come up with an alternative implementatio

[2021-06-14 10:05] zakkak commented on #14904
That's correct,

Quarkus version | Compatible GraalVM/Mandrel version
-- | --
1.12.x | 21.0.x.x
1.13.x | 20.3.x.x <br/> 21.0.x.x
2.0.x | 20.3.x.x <br/> 21.1.x.x

source: https://github.com/graalvm/mandrel/wiki

[2021-06-14 10:22] mickroll commented on #17424
For a good starting point for property names see https://docs.spring.io/spring-cloud-dataflow/docs/1.1.0.M1/reference/html/getting-started-security.html

[code]

[2021-06-14 10:37] jeanabraham commented on #17872
Thanks, @geoand & @glefloch.

[2021-06-14 11:48] Alwaysgone commented on #15926
Sorry for the bump but it has been quite a while since this was opened. Any input on this would be greatly appreciated. Thanks in advance.

[2021-06-14 12:36] wojciechkopciewicz commented on #17287
One more observation - the issue is not there when **clientsMap.entrySet().stream().parallel().forEach** is changed to **clientsMap.entrySet().stream().forEach**.

[2021-06-14 12:42] goafabric opened #17891 "Logging Configuration and Kubernetes Configmap"
## Description

Sorry but i have to create a new issue concerning the issue below, as there is no reopen button:
https://github.com/quarkusio/quarkus/issues/17885

The issue is not solved for me.
The proposed solution is not working, as kubernetes does not seem to accept
the yaml "tree structure" inside configmap/data.

I am little baffled .. because i can't think, that I am the first one experien

[2021-06-14 13:33] ineednousername opened #17892 "Native image/runner/executeable generation influenced by CI ENV variables"
Not sure if this is a bug or intended feature.
**Quarkus version 1.11.7.Final**

## Describe the bug
We create native quarkus like e.g.: `mvn install -Dnative`
Several run- and buildtime properties are specified in a application.properties/yaml
One of those properties is named for example `my.app.enabled=true`.
Our CI environment, where the native image is build/created, has several ENV variables.

[2021-06-14 15:13] famod commented on #17892
/cc @radcortez

[2021-06-14 15:26] geoand commented on #17287
Thanks!

What are the steps you are following?

A simple `mvn package` followed `java -jar target/quarkus-app/quarkus-run.jar` does not reproduce the issue for me

[2021-06-14 15:34] geoand commented on #17861
I assume this would be a new `quarkus-rest-client-test` module?

[2021-06-14 16:20] afedotov opened #17893 "MongoDB BSON types are not in the Jandex index"
## Describe the bug

When building Quarkus application that using `mongodb-client` and `mongodb-panache` extentions, ReflectiveHierarchyStep grumbles:

[code]

## To Reproduce

Create a sample application:

[code]

Add sample entity:

[code]

Add sample repository:

[code]
Build project and observe mentioned message:
[code]

## Environment

[code]

### Quarkus version or git rev

`1.13.7.Final`, a

[2021-06-14 16:27] Sanne commented on #15888
Closing this as we provided a better fix as discussed in https://github.com/quarkusio/quarkus/issues/16927#issuecomment-858958729

[2021-06-14 16:27] #15888 closed

[2021-06-14 16:30] Sanne commented on #17514
Amending the title to reflect how this is being fixed (via https://hibernate.atlassian.net/browse/HHH-14665 )

[2021-06-14 16:46] radcortez commented on #17525
Added a fix. The issue only occurred in some specific cases, where a `quarkus.config.locations` was recorded in build time from `smallrye.config.locations`.

[2021-06-14 19:56] glefloch commented on #17866
Actually, I can make it work as expected, I can exclude a bean from a `quarkusDev` dependency. Could you share a reproducer?

[2021-06-14 20:55] michalszynkiewicz opened #17899 "Test fails with `RESTEASY003130: Class is not a root resource.` and application works"
RestEasy classic, on 2.0 branch, linux, java 11.0.2, OpenJDK
[todos-failing-todo-resource-in-test.tar.gz](https://github.com/quarkusio/quarkus/files/6651219/todos-failing-todo-resource-in-test.tar.gz)

I added a simple resource to a generated application:
[code]

And the tests, bot in mvn quarkus:dev and mvn test, started to fail with:

[code]

The resource works with `curl`.

[2021-06-14 20:58] michalszynkiewicz commented on #17899
moving the resource to a different package (`com.example.todo`) makes it work...

[2021-06-14 21:11] kafeltz opened #17901 "Quarkus build docker images should emit warning when pom.xml have no "Container Image extensions""
## Description

When doing `./mvnw clean package` it does not emit any warning/error trying to create a docker image and/or pushing it.

It took me some hours to find out that I must put an **Container Image extensions** like this one:
[code]

I know that info is writting in the guide: https://quarkus.pro/guides/container-image.html but would be nice an warning instead of "nothing" because I forgo

[2021-06-14 21:26] #17899 closed

[2021-06-14 21:26] michalszynkiewicz commented on #17899
I had the test class named the same as the resource, and in the same package.

[2021-06-14 21:40] #16927 closed

[2021-06-14 21:40] #17514 closed

[2021-06-14 21:40] #17710 closed

[2021-06-14 22:20] gwenneg opened #17905 "Config property not found from an async CompletableFuture execution when StartupEvent is fired"
@radcortez This is what we talked about today.

## Describe the bug
When the following code is executed, Quarkus will throw a `NoSuchElementException` during startup when the config value is accessed even if it is available in `application.properties`.

[code]
Here's the console output:
[code]

## To Reproduce

https://github.com/gwenneg/quarkus-config-not-found

Steps to reproduce the behavior:
1

[2021-06-15 00:42] GavinRay97 commented on #17882
Looking into this more, there actually isn't that much magic happening for the runtime hot reload.
I don't know any Java, or Scala, but the whole file was less than 100 lines.

Looked through the Dotty (Scala 3) compiler source, and I took a stab at PR'ing what I _think_ is a mostly correct rough outline. Someone more skilled could finish the job and I'd be grateful:

https://github.com/quarkusio/

[2021-06-15 00:43] #17824 closed

[2021-06-15 01:43] gsmet commented on #17071
Build fixed:
* Link to latest CI run: https://github.com/quarkusio/quarkusio.github.io/actions/runs/937724917

[2021-06-15 02:26] Neisuz opened #17908 "Graphql, type BitSet not found in schema"
## Describe the bug
There is a project (with graphql) with simple DTO where i'm using BitSet type, something like this - > private BitSet timeline;

version 1.12.0.Final
Everything works fine, but when i run a project -> :
WARN  [io.sma.gra.sch.cre.ReferenceCreator] (build-24) Class [java.util.BitSet] in not indexed in Jandex. Can not scan Object Type, defaulting to String Scalar;

version 1.13.7

[2021-06-15 03:46] stuartwdouglas commented on #9397
Can you share your code? This look different to the original issue.

[2021-06-15 05:05] stuartwdouglas commented on #17887
I just had a quick look at this, and one of the really problematic parts about this is that every dependency class must also be registered for build time registration as well, or an error is thrown.

e.g. if I tell graal to load our main class at build time, we need to also tell it to load every single class used by our static init recorders, or the build fails.

[2021-06-15 05:20] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/938105877

[2021-06-15 05:24] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/938107142

[2021-06-15 05:24] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/938107142

[2021-06-15 06:33] phillip-kruger commented on #17908
BitSet is not a known type, so we can add support for it in SmallRye GraphQL, but this also relates to https://github.com/smallrye/smallrye-graphql/issues/844 where we need a generic way for users to map to and from string.

Can you create a small recreator ? And have you tried annotating the BitSet field with JsonBAdaptor:

`@JsonbTypeAdapter(MyBitSetAdaptor.class)`

And then create a MyBitSetAda

[2021-06-15 06:38] Postremus opened #17910 "Support uploading multiple files with the same part name in resteasy reactive"
## Description

I want to upload multiple files with one rest request. All files should be sent using the same part name. Ideally, my `@multipartformdata` class would look something like this:
[code]
This would allow me to simply iterate over all files.

See also: https://datatracker.ietf.org/doc/html/rfc7578#section-4.3

[2021-06-15 06:40] fabry00 commented on #17611
I've added the logs of the scripts in the issue description.

[2021-06-15 06:44] #17867 closed

[2021-06-15 06:46] geoand commented on #17910
This has already been implemented in https://github.com/quarkusio/quarkus/pull/17264 and is part of RESTEasy Reactive as of Quarkus `2.0.0.CR1`

[2021-06-15 06:46] #17910 closed

[2021-06-15 06:54] Postremus commented on #17910
Thanks, that works as expected.

[2021-06-15 06:54] geoand commented on #17611
@zakkak perhaps you can reproduce it?

[2021-06-15 06:54] geoand commented on #17910
Great to hear!

[2021-06-15 06:55] mkouba commented on #17841
So the scheduler is started in `@Observes @Priority(Interceptor.Priority.PLATFORM_BEFORE) StartupEvent` observer method, i.e. with priority `0`. Whereas the reactive messaging is started in `@Observes @Priority(Interceptor.Priority.LIBRARY_BEFORE) StartupEvent`, i.e. priority `1000`. And according to the spec _"Observers with smaller priority values are called first"_.

I think that reactive messa

[2021-06-15 07:08] geoand commented on #17901
@radcortez I wonder if we should also be emitting a warning at build time if a config property does not map to Quarkus Config object

[2021-06-15 07:13] cescoffier commented on #17841
Actually, I believe we changed that to allows observers to run code before reactive messaging.
Can the user decide the priority for each method?

[2021-06-15 07:15] loicmathieu commented on #17893
Thanks for reporting this one @afedotov , I'm aware of it since a long time, this is just an harmless warning, your application will works without any issue.

I agree this needs to be workedaround to avoid people asking themself if it's a rela issue or not.

[2021-06-15 07:18] mkouba commented on #17841
Do you mean a `@Scheduled` method? No, that's not possible. But a user can specify the `delay`: https://quarkus.io/guides/scheduler-reference#delayed-execution

[2021-06-15 07:26] jmartisk commented on #17832
Looks like we've kinda reached some consensus, so I'll get coding and come up with a PR for the GraphQL client
I'll include the short-cutting, even though I don't quite like it, but... it will be optional, right.

[2021-06-15 07:39] ge0ffrey commented on #17877
I believe this is the bug that @mariofusco fixed some time ago in drools.

[2021-06-15 07:40] ge0ffrey commented on #17877
@yuhaibohotmail Which version of `optaplanner-quarkus` are you using? (try `mvn dependency:tree`)

[2021-06-15 07:51] rsvoboda opened #17912 "Missing section in Migration Guide about NamedClient => GraphQLClient"
Add section about NamedClient => GraphQLClient shift into https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.0

Motivation: It's a breaking change for end user applications, application doesn't compile anymore
Example of QS update: https://github.com/quarkusio/quarkus-quickstarts/pull/886/files

[2021-06-15 07:57] jmartisk commented on #17912
This applies to the `smallrye-graphql-client` extension, but that is new in Quarkus 2.0, so I'd say it can't affect 1.x users' migration.

[2021-06-15 08:14] geoand opened #17913 "Named logging handlers can't be disabled"
## Describe the bug
When configuring a named logging handler (like `quarkus.log.handler.console."STRUCTURED_LOGGING"` or `quarkus.log.handler.console."STRUCTURED_LOGGING_FILE"`), those handlers are always used, no matter what the value of the `enable` flag is for that named handler.

### Expected behavior
The named handler's `enable` flag is taken into account and can be used to disable a named ha

[2021-06-15 08:21] knutwannheden opened #17915 "Regression: Dev UI fails with TemplateException"
## Describe the bug
When developing Dev UI cards in a multi-module Maven repo the Dev UI fails to render when accessing it using `/q/dev`. See screenshot below.

Here is the stack trace from the screenshot:
[code]

### Expected behavior
In Quarkus 1.13 any Quarkus extensions "local" to the multi-module Maven project which provided a Dev UI didn't render correctly, they were just rendered as standa

[2021-06-15 08:36] phillip-kruger commented on #17912
Agree, this is new in 2.0

[2021-06-15 08:36] FroMage commented on #17861
I imagined it would go over the wire, because this is an HTTP proxy, after all. Here we're setting up fake HTTP responses for anything that connects to that URL we're setting up. You could turn the REST client itself into a mock, but we can already do that ATM with regular mocks, no?

[2021-06-15 08:38] yuhaibohotmail commented on #17877
8.7.0
[code]

[2021-06-15 08:40] geoand commented on #17861
Going over the wire would obviously be the best type of test.

So I assume what we want is to setup wiremock to return the JSON representation of the object we provide, right?

[2021-06-15 08:47] FroMage commented on #17861
Yes.

[2021-06-15 09:07] phillip-kruger commented on #17908
Ok I have tested `@ToScalar(Scalar.String.class)` annotation on the BitSet field, and that takes away the exception on startup, however, I still need to test is during runtime. I am investigating, but in case you have a change, please also look at that

[2021-06-15 09:16] zakkak commented on #17611
@geoand I was able to reproduce it with:
[code]
and in a different terminal
[code]

It's reproducible on 1.13.7.Final as well.

[2021-06-15 09:17] phillip-kruger commented on #17908
Add above solves for `TYPE` (output):

[code]

return

[code]

So to use it as an input type too, might be an issue, I am still looking to see if/how that can work

[2021-06-15 09:21] radcortez commented on #17901
We should be able to do it for build time as well.

[2021-06-15 09:23] radcortez commented on #17905
Great. Thank you. I'll have a look.

[2021-06-15 09:27] geoand commented on #17861
Gotcha. I'll hopefully start looking at it tomorrow

[2021-06-15 09:27] mickroll commented on #16840
Found the issue you remembered from the past: #12736

[2021-06-15 09:30] radcortez commented on #17614
Yes, this is related with https://github.com/quarkusio/quarkus/pull/16101.

The main issue is that some extensions rely on configuration that is not recorded during build time in the defaults, so they need the sources anyway to read the configuration (which has the side effect to allow for an override). This was always like this, but in https://github.com/quarkusio/quarkus/pull/16101 we were able

[2021-06-15 09:40] cescoffier commented on #17839
@antonwiens PlatformDependent is declared at runtime in the native-image configuration contained in the netty jar.

[2021-06-15 09:41] Sgitario commented on #17829
I've just checked again and this is no longer failing. Closing.

[2021-06-15 09:42] famod commented on #16840
Btw, this is a really unfortunate limitation when generating interfaces from OpenAPI files (json/yaml) via e.g. https://github.com/OpenAPITools/openapi-generator

[2021-06-15 09:49] geoand commented on #17611
OK, I was able to reproduce this.

@michalszynkiewicz want to take a look?

[2021-06-15 10:00] wojciechkopciewicz commented on #17287
I can only reproduce it in a docker. I use the following commands:
```mvn clean install```
```docker build -f src\main\docker\Dockerfile.jvm -t injectionsample .```
```docker run injectionsample```

[2021-06-15 10:11] geoand commented on #17287
Indeed with the instruction above I can also reproduce it.

@michalszynkiewicz one more for the TODO list :)

[2021-06-15 10:12] phillip-kruger commented on #17908
Ok, Adding a `JSonBTypeAdaptor` solves the case for `INPUT`. So a full solution would be to use a combination of `ToScalar` and `JsonBTypeAdaptor`. It's not great, and as mentioned above, we will enhance SmallRye to work with JsonBTypeAdaptor for both input and output.

So the full example:

Example on `Person`
[code]

Then create an Adaptor (just an example, you can serialize/deserialize as you w

[2021-06-15 10:12] #17908 closed

[2021-06-15 10:17] Sgitario commented on #17829
My bad, this is still failing.

[2021-06-15 10:22] michalszynkiewicz commented on #17886
we need to see if vertx-grpc is compatible with this

[2021-06-15 10:27] agoncal opened #17920 "Maven Plugin always adds a quarkus-resteasy dependency even without RestEasy extension"
## Describe the bug

When creating a new project with the Maven Quarkus plugin, the `quarkus-resteasy` dependency is always added to the `pom.xml` even when we don't add a RestEasy extension.

### Expected behavior

The `quarkus-resteasy` dependency should not be added to the `pom.xml` when none of the following extension is selected: resteasy, resteasy-reactive or spring-web.

## To Reproduce

I'

[2021-06-15 10:32] asodja commented on #12761
This seems to be still an issue. Any plan to try to add workaround?

It would be great that injection would atleast work with `@Named` or `@Qualifier` and Quarkus would ignore generics for tests.

[2021-06-15 10:38] geoand commented on #12761
This fell off my radar completely.

I'll try and have a look for `2.1`

[2021-06-15 10:42] geoand commented on #17887
What is the justification for removing this?

Is there any way we can influence this decision?

cc @maxandersen

[2021-06-15 10:52] ge0ffrey commented on #17877
optaplanner 8.7 with drools 7.54 reproduces it?
I've opened a discussion with Mario:
https://kie.zulipchat.com/#narrow/stream/232677-drools/topic/NativeJavaCompiler.20InvalidPathException

[2021-06-15 10:57] survivant commented on #17806
@zakkak I'll generate you a new project and add those setting in it.  I'll attach it to this issue.

[2021-06-15 11:13] zakkak commented on #17887
I have started https://github.com/oracle/graal/discussions/3476 to ask about the justification for removing it.

My understanding/guess is that because there are classes that cannot be initialized at runtime, or even if they do they cause issues (e.g. https://github.com/oracle/graal/pull/3417#issuecomment-845689640), the GraalVM team wants to remove the option of initializing all classes to force

[2021-06-15 11:56] venkatt007 opened #17922 "Skaffold/Tilt example"
## Description
It will be very helpful if we can get a sample application using kubernetes extensions properties along with skaffold/tilt so that it will be easier to get started with quarkus in kubernetes. I tries to setup but couldn't succeed.
(Describe the feature here.)

## Implementation ideas
Sample application with skaffold/tilt enabled for development

[2021-06-15 11:58] geoand commented on #17922
@iocanel have you ever used skaffold? I have not

[2021-06-15 12:06] maxandersen commented on #17887
@zakkak this goes against how we appraoch things from quarkus side - we want the ability to have users and framework writers forced to update for native-image; not the other way around. Those frameworks should just not use the flag; not remove our ability to  find issues sooner rather than later.

[2021-06-15 12:24] zakkak commented on #17806
Hi @survivant sorry for not replying to you.

I discussed this with a colleague to confirm my understanding was right and the answers to your questions are:

Probably not.

[2021-06-15 12:37] zakkak commented on #17887
I see how that helps getting better performance, but at the same it removes part of the "developer joy" IMO as it raises the entry barrier.

I guess you mean they should use `--initiailize-at-run-time` per https://quarkus.io/guides/writing-native-applications-tips#delaying-class-initialization. AFAIK there is no way to not use `--initialize-at-build-time=` in Quarkus.

I don't see what would be th

[2021-06-15 12:44] knutwannheden opened #17924 "DDL scripts are generated in append-mode"
## Describe the bug
When using the new Quarkus 2.0 properties `quarkus.hibernate-orm.scripts.generation` and `quarkus.hibernate-orm.scripts.generation.create-target` to generate a DDL script to create the database schema, the file identified by the latter will be appended to if it already exists.

### Expected behavior
I would expect the DDL script files to be overwritten if they already exist.

#

[2021-06-15 12:46] mkouba opened #17925 "Type-safe messages - support logical lines in properties files"
Similar to https://docs.oracle.com/javase/6/docs/api/java/util/Properties.html.

[2021-06-15 12:51] iocanel commented on #17922
I have played just a little bit with it.

From what I see, it doesn't really fancy our Dockerfile placement and does require a little bit tinkering:

- completely remove the context property for the docker build
- change the path of the dockerfile so that it points to src/main/docker/Dockerfile.xxx

In other words, it needs to the user to change the context dir from src/main/docker to the module r

[2021-06-15 12:52] geoand commented on #17922
Thanks @iocanel for the information.

@venkatt007 how would you expect Quarkus to help in this case?

[2021-06-15 13:00] maxandersen commented on #17887
Correct :)

[2021-06-15 13:04] maxandersen commented on #17887
just to be clear we are fine tweaking the options here but the issue is that list of classes we would need to add here would be quite gigantic and we would prefer to explicitly state what is at runtime rather than what is a buildtime.

[2021-06-15 13:25] tqvarnst opened #17927 "Quarkus CLI create app to move to created directory"
## Description

Currently, when you create an application in either batch mode or normal mode the current directory remains the same. From a user perspective, it can be assumed that after you have created your app you want to do additional quarkus CLI tasks like add an extension or build the project so it would feel more natural if the Quarkus CLI in interactive mode changed the current directory

[2021-06-15 13:36] glefloch commented on #3322
I think this one can be close as the `cli` will handle this right @maxandersen  ?

[2021-06-15 13:36] ge0ffrey commented on #17877
Mario confirmed that Drools 7.55, so **OptaPlanner 8.8 will fix it**.

Here's the fix:
https://github.com/kiegroup/kogito-runtimes/commit/2b6e27bbdde75c369d5db26b9a28c448f87defe7

[2021-06-15 13:37] edeandrea commented on #17871
Any chance of publishing a `2.0.0.CR4` containing this? :)

[2021-06-15 13:39] geoand commented on #17871
I don't think CR4 is on the roadmap.
`.Final` will be released most likely next week

[2021-06-15 13:41] #17913 closed

[2021-06-15 13:46] survivant commented on #17806
@zakkak

it's weird.

I ran the same command line on the same project this morning and did a **diff** between the logs and I found in today logs a part from mandrel compilation that wasn't there 5 days ago.

this line is different (digest)
[code]

Could a image update was pushed in quarkus/ubi-quarkus-mandrel  that fixed the issue ?

the other differences are related to docker steps that were alre

[2021-06-15 14:27] n1hility commented on #17887
+1 We want Opt-out, not opt-in

[2021-06-15 15:09] cescoffier commented on #17839
Hum, yeah... I've tried a few things, but I'm blocked on AsciiString (which needs a substitution for the constructor, but at the same time have static methods accessing the constructor (and this is not supported by GraalVM)).

[2021-06-15 15:41] yuhaibohotmail commented on #17877
Thanks a lot!

[2021-06-15 15:42] #12495 closed

[2021-06-15 16:04] sberyozkin commented on #17074
Will reopen if needed

[2021-06-15 16:04] #17074 closed

[2021-06-15 16:36] ebullient commented on #17927
@tqvarnst

1) batch mode vs. not for automatic directory change
2) message at the end of command output reminding you to change directories.

We spoke a bit about unexpected behavior if you blindly create more than one (where the automatic cd would then end up with you creating nested projects unintentionally) ..

Would a message (or even a prompt?!) when not in batch mode make the difference?

[2021-06-15 16:48] MarcoMartins86 opened #17930 "@QuarkusTestResource stopped being started from custom annotation"
## Describe the bug
When I create an annotation (`@MyTestAnnotation` in repo code that reproduces this) for defining common `@QuarkusTest` and `QuarkusTestResource` annotations and use it to create tests, it will not launch the Quarkus Test Resources since version 1.13.1.Final, and so the test will fail.

### Expected behavior
Quarkus Test Resources should be launched like in 1.11.7.Final, 1.12.2.

[2021-06-15 17:02] hamburml opened #17931 "Remove %dev and %test configuration values after build"
## Description

Quarkus uses dev and test configuration profiles (https://quarkus.io/guides/config). When we package the application inside a jar (uber-jar for example) the %dev and %test values are still in the application.properties.

I think it would be better if the %dev and %test config values are automatically removed. It's cleaner and if other developers, departments or simply third parties

[2021-06-15 17:30] #17859 closed

[2021-06-15 19:11] venkatt007 commented on #17922
@iocanel Thanks for the info. @geoand Yes I too was facing the issue skaffold dev was not running with some error "cannot watch files from empty dir target/quarkus-app/lib directory". May be I will try to place the Dockerfile in root folder like @iocanel mentioned and see if that works. May be some kind of this continous sync can be added as part of kubernetes extension as well to make the develop

[2021-06-15 19:14] venkatt007 commented on #17922
@iocanel But I kind of tried a sample with proper context properties set. Will share the sample project here. May be you can have a quick look and help me what am I missing. My other projects with manually created Dockerfile working fine.

[2021-06-15 19:14] venkatt007 commented on #17922
Here is the sample which I am trying https://github.com/venkatt007/quarkus-kubernetes-quickstart

[2021-06-15 20:34] #17893 closed

[2021-06-15 20:43] famod commented on #17931
/cc @radcortez

[2021-06-15 20:47] zakkak commented on #17806
I guess it could, but it would be highly unlikely.
The new images are usually rebuilds of the same [cekit configuration](https://github.com/quarkusio/quarkus-images/blob/main/quarkus-mandrel.yaml), based on newer base images.

Judging by the logs, it looks like you are using the `@RegisterForReflection` and not `quarkus.native.additional-build-args=-H:ReflectionConfigurationFiles=reflection-config

[2021-06-15 20:50] famod commented on #17931
I like the general idea that such things usually should not end up in the "productive" artifact.
A few remarks:
- this would need to work for yaml as well
- you can already put test stuff in `src/test/resources/application.properties` (for Maven) and so it will not end up in the jar
- you can use e.g. `application-dev.properties` (but I don't see a parameter in the build plugin/mojo to exclude fil

[2021-06-15 20:55] famod commented on #17930
@geoand I suppose this has something to do with #16112

[2021-06-15 21:06] geoand commented on #17930
Dunno would have to check.

@MarcoMartins86 does this same issue occur with `1.13.7.Final` as well?

[2021-06-15 21:34] wtrocki commented on #16401
@ricardozanini Do you think that extension is good for some early evaluations? I see that PR is in draft and wanted to know if that would work/be good to try on on some projects?

[2021-06-15 23:21] radcortez commented on #17931
I'm not totally convinced about this.

While it is true that both `dev` and `test` are active by default on `quarkus:dev` or when running a test, it is also perfectly valid to activate any of these profiles (or even a custom one) in the final package or runner. While I understand the request, I fear that we may be removing something that some uses are relying upon.

My recommendation is to use the

[2021-06-16 00:19] #16952 closed

[2021-06-16 00:19] #15044 closed

[2021-06-16 00:19] #15231 closed

[2021-06-16 00:40] stuartwdouglas commented on #16840
@mkouba what do you think about allowing interceptor bindings on interface methods as a CDI extension?

[2021-06-16 02:36] RPG-2021 commented on #13921
What would be the timeline for support of composite key for quarkus spring data JPA? Wonder if there is any latest effort on it or if it is coming up in near future. I see some integrations tests with @EmbeddedId but unable to locate the actual code. We are trying to convert our big Spring project into Quarkus. We are really waiting on this one thing. Appreciate any feedback. Thanks!

[2021-06-16 03:57] phillip-kruger commented on #17908
@Ignore from GraphQL should do the trick

[2021-06-16 05:14] geoand commented on #17922
So what you need initially is a way for Quarkus to output the Kubernetes manifests in another location?

[2021-06-16 05:21] venkatt007 commented on #17922
@geoand Yeah. May be that would be helpful.

[2021-06-16 05:25] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/941665521

[2021-06-16 05:28] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/941665521

[2021-06-16 05:36] axblu commented on #17876
In WSL it looks the following:
![quarkus-cli-wsl](https://user-images.githubusercontent.com/72867162/122163083-e1843c00-ce74-11eb-8466-0b61004c83eb.jpg)

The mentioned alternative Emojis from the comment above would all work in WSL out-of-the-box (only B&W here).

[2021-06-16 05:54] cescoffier commented on #17886
@pmlopes do you know with Vert.x gRPC works with aarch64?

[2021-06-16 05:54] cescoffier commented on #17841
@jendib not great, but did you try to add a delay?

[2021-06-16 06:01] cescoffier commented on #17839
The runtime initialization is not going to work or will be very expensive. Substituting the PlatformDependent class sounds a lot better.

[2021-06-16 06:20] liuzqt opened #17937 "hibernate-orm mixed usage for `persistence.xml` and quarkus default settings"
## Description

Currently, I need to set `hibernate.metadata_builder_contributor` parameter in `persistence.xml` to customize some trigger/custom indexes, since quarkus hibernate-orm extension doesn't support this property yet.

However, I really love the idea that quarkus automatically choose proper and modern default setting for us, since I'm not hibernate expert so I'm happy to keep those nice

[2021-06-16 06:31] venkatt007 commented on #17922
![image](https://user-images.githubusercontent.com/67672446/122169031-94b35c00-ce9a-11eb-94db-3f5d08cb76dd.png)

This is the error i am getting

[2021-06-16 06:37] axblu commented on #17927
Changing the directory automatically after executing something in the shell is not what I would expect.

[2021-06-16 06:41] geoand commented on #16233
I ran into this locally as well and all I had to do was comment out the

[code]

block in my `conf/settings.xml` file

[2021-06-16 06:51] axblu opened #17939 "Bootstrapping a project in Git Bash under Windows generates wrong @Path"
## Describe the bug
When bootstrapping a Quarkus app in Git Bash under Windows a wrong `@Path` is inserted.
Instead of `@Path("/hello")` it is `@Path("/C:/Dev/Tools/Git/hello")`. The same is true for the generated test class.

### Expected behavior
The path is `/hello`.

### Actual behavior
The path is `/C:/Dev/Tools/Git/hello` (depending on the installation folder of your Git Bash).

## To Reprod

[2021-06-16 06:53] aloubyansky commented on #17931
If you choose the profile-aware-files approach, you can also use `ignoredEntries` to filter those profile config files out from the uber-jar, e.g.
[code]

[2021-06-16 06:57] yrodiere commented on #17924
This looks intentional... it's possibly a feature of Hibernate ORM.

See `org.hibernate.tool.schema.internal.exec.ScriptTargetOutputToFile#toFileWriter`:

[code]

The change to append mode was done back in 2016, here: https://github.com/hibernate/hibernate-orm/commit/17de173cb5334d866f1886d3e057f49a6c987bad#diff-7fb8c4dca2b0b1a906a80335317a3bffa8ee8907ca3eda7ff6cb70915c5913f9R80

This looks like i

[2021-06-16 07:11] fvaleri commented on #12498
What's the state of this issue? We are hitting the same with 1.13.1.Final, openjdk version 11.0.10. We are using two simple test profiles, each one changing a single property.

[code]

[2021-06-16 07:14] geoand commented on #12498
Does that same error occur with `1.13.7.Final`?

If so, can you please open a new issue and attach the project you are using to reproduce the problem?
Thanks

[2021-06-16 07:52] yrodiere commented on #17937
Using `persistence.xml` for some persistence units and `application.properties` for others should work, but using both for the same persistence unit does not, and we don't plan to support that. See #16589.

At the end of the day, what you really need is for #13807 to get fixed, and that has already happened in Quarkus 2.0 (currently in the candidate release phase). See [here](https://quarkus.io/ve

[2021-06-16 07:55] #17805 closed

[2021-06-16 08:00] pmlopes commented on #17886
@cescoffier while this is totally possible:

https://github.com/vert-x3/vertx-grpc/pull/103

Netty versions are still preserved and tests pass, I can only assume that you will be able to compile proto files as `protoc` now offers a native aarch64 binary and the jprotoc/canteen plugins we use to run our templates from java also seem to offer thse binaries:

https://repo1.maven.org/maven2/com/salesf

[2021-06-16 08:13] mkouba commented on #17915
@knutwannheden You're right that the code in `DevConsoleRuntimeTemplateInfoBuildItem` constructor is not able to find the corresponding `groupId` and `artifactId`. It fails now becuase the issue with "local" extensions was partially fixed in the PR for https://github.com/quarkusio/quarkus/issues/16699.

We can try to supply the `CurateOutcomeBuildItem` that can be used [here](https://github.com/qu

[2021-06-16 08:15] geoand commented on #17930
https://github.com/quarkusio/quarkus/pull/17941 takes care of the issue.

For the time being, @MarcoMartins86 you can get around the issue by using

[code]

instead of

[code]

[2021-06-16 08:16] holledauer commented on #17726
it would be great if you could release a 2.0.0.CR4 with that fix

[2021-06-16 08:17] geoand commented on #17922
You are getting that error when doing what?

[2021-06-16 08:20] sberyozkin commented on #17563
@AJ1039593 @AJ1032480 I've updated the docs in #17921 and it will close this issue, and I will close your PR.
The time you've spent looking into this issue is appreciated and it helped to improve the docs which will help other users.
We can revisit your PR if checking the X-Forwarded-* proves problematic in some cases
thanks

[2021-06-16 08:20] #17563 closed

[2021-06-16 08:24] knutwannheden commented on #17924
Yes, that change indeed looks very deliberate. I couldn't find anything regarding that change in the issue or PR comments. I also had a look at the JPA specification, but it doesn't go into detail about this. I am really interested in the use case for this. I can only think of the hbm2ddl `update` action, where appending to an existing script may make sense?

[2021-06-16 08:42] venkatt007 commented on #17922
when I run "skaffold dev" or "skaffold run"

[2021-06-16 08:55] iocanel commented on #17922
I don't see anything wrong with the manifest location. They are being picked up without issues.
The only issue I see is the `Dockerfile` location. They are being correctly detected, but confuse `skaffold` into thinking that `src/main/docker` is the context dir.

This is fixed with something like:

[code]

The `skaffold.yaml` above is the generated one, with the following changes:
- remove the cont

[2021-06-16 08:56] Sanne commented on #17924
I don't know about the resons for that either - and I'm not sure if the "append" boolean was set to true intentionally.

For Quarkus it seems reasonable to not append; it migth be fine to simply flip the boolean but that's almost certain to break other tools or platforms so let's be cautious - at very least let's ask @sebersole .

[2021-06-16 09:16] yrodiere commented on #17924
Looks like this has been requested upstream before (thanks to @dreab8 for finding this!): https://hibernate.atlassian.net/browse/HHH-11817

It seems the behavior indeed changed sometime after 4.3.6, and there is indeed nothing in the JPA spec that tells us what to do. So if this gets fixed, it will probably be through a configuration property.

[2021-06-16 09:17] MarcoMartins86 commented on #17930
Thank you for the insights @geoand. In the meanwhile, I tried your workaround and found out what I think is another issue.
Using the custom annotation with the `@QuarkusTestResource(RedisTestResource.class)` the resource will behave like it has the `restrictToAnnotatedClass = true` flag when annotated on the test class directly. Basically, it is being started per test instead of the expected just

[2021-06-16 09:18] #17424 closed

[2021-06-16 09:19] geoand commented on #17930
That is the expected behavior

[2021-06-16 09:23] #16472 closed

[2021-06-16 09:23] MarcoMartins86 commented on #17930
Ok, I didn't know about that because in 1.11.7.Final it was behaving as I described.

[2021-06-16 09:24] geoand commented on #17930
Right, that was by accident :)

[2021-06-16 09:34] sberyozkin opened #17944 "Force OIDC JWT introspection on a per-invocation basis"
## Description

@pedroigor suggested:
[code]

Pedro, can you expand on it please ? If the users prefer to do the introspection only, instead of the local verification, for some sensitive endpoints, then they can disable the auto-discovery and set an introspection path only - I'll need to double check it actually works and update the docs. (Note it will not work for some providers - not all of them

[2021-06-16 09:36] #15866 closed

[2021-06-16 09:36] geoand commented on #17861
I think `RestMocker.forward().toOriginalHost();` needs to be `RestMocker.forward(countriesService).toOriginalHost();`, right?

[2021-06-16 10:35] sberyozkin commented on #17944
@pedroigor Looks like we have another good use case for it:

https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/invalidate.20jwt.20token

So the user is logging out at SPA level and then expects the access tokens which are sent to `service` applications are rejected - I believe the only way to achieve it is to get an introspection response containing the token `active: false` status

[2021-06-16 10:41] famod commented on #17930
Does this mean that if you run 3 subsequent tests that all have the same meta annotation, the resource started and stopped three times?

[2021-06-16 10:46] geoand commented on #17930
Yes

[2021-06-16 10:48] survivant commented on #17806
I'll remove @RegisterForReflection  and check if quarkus.native.additional-build-args=-H:ReflectionConfigurationFiles=reflection-config.json is passed.

[2021-06-16 10:52] famod commented on #17930
Hm, I must say I find this rather counter-intuitive. I was about to ask if `@TestProfile` behaves the same but AFAICS you cannot use it in a meta annotation.

[2021-06-16 11:16] mettwm opened #17947 "Quarkus dev mode triggers ignoration of different maven local repository location"
I have discovered that when I added an external library (previously built and installed in local maven repo) as a dependency to a Quarkus application it was not able to locate it if starting with the qarkus:dev goal. This happened only when running with `different` location of maven repo. e.g.:

`~/apache-maven-3.8.1/bin/mvn compile quarkus:dev -s ~/.m2sb/settings.xml`

The external library was pr

[2021-06-16 11:18] #13832 closed

[2021-06-16 11:37] survivant commented on #17806
@zakkak I created a example.  I tried to keep the same structure for LoggingSetting but I couldn't include the 20 others dependencies (company code) with it.
[mandrel.zip](https://github.com/quarkusio/quarkus/files/6662654/mandrel.zip)

I also put the @RegisterForReflection in comments.

I think that you want to see if the param : quarkus.native.additional-build-args=-H:ReflectionConfigurationFile

[2021-06-16 11:50] tqvarnst opened #17949 "Local config for Quarkus CLI to override defaults"
## Description

The Quarkus CLI has a set of default values that if not specified on the command line will be used.

## Implementation ideas

 It would be good if one could override these default setting locally and storing them under $HOME/.config/quarkus-cli.properties.

Things that would be good to be able to override is in my opinion:
- group-id
- version
- build-tool
- target-language
- platf

[2021-06-16 11:58] ricardozanini commented on #16401
Hi @wtrocki

I should send another update today/tomorrow that might be feasible to use. For now, it's not generating code in the build phase yet.

[2021-06-16 12:04] glefloch opened #17950 "Quarkus devmode does not warn when port is not available"
## Describe the bug

Starting two quarkus apps end up with an `ERROR` and a `WARNING` in the second one indicating that the port is already binded.
When running a docker container on port 8080 and starting a quarkus app, this warning does not appear, everything looks good but the app is not accessible.

cc @sebastienblanc I think this is the same error  you hit on your demo last week

### Expected

[2021-06-16 12:22] zakkak commented on #17806
Thanks @survivant, I now see what was going wrong. When using `-Dquarkus.native.additional-build-args=--native-image-info,--verbose` (as I asked you to, so it's my mistake) you are essentially overriding the `quarkus.native.additional-build-args` value stored in `src/main/resources/application.properties`, so that explains why I didn't see `-H:ReflectionConfigurationFiles=reflection-config.json` b

[2021-06-16 12:25] tqvarnst commented on #17927
Different tools seem to have different ways to do this. Some will stay in the current directory and some will move you to the application directory.  While I agree that for complex use-cases where you create multiple projects it's not optimal to have to run `cd ..`. For simpler use-cases and demos it's however nice to not have `cd <artifact-id>` into the directory before running for example `quark

[2021-06-16 12:33] sberyozkin commented on #17944
@pedroigor It already works as expected, PR with a new test and the doc update is on the way.

[2021-06-16 12:44] roysjosh opened #17952 "Support Azure AD OIDC with certificate secrets"
## Describe the bug
Attempting to exchange the OIDC authorization code for tokens using a certificate fails with the following:
`
2021-06-15 11:14:07,469 DEBUG [io.qua.oid.run.OidcProviderClient] (vert.x-eventloop-thread-1) Request has failed: status: 400, error message:`
[code]

### Expected behavior
Certificate secrets should function.

### Actual behavior
Error from AAD.

### Configuration
[cod

[2021-06-16 12:47] geoand commented on #17947
cc @aloubyansky

[2021-06-16 13:17] ebullient commented on #17927
I will chew on it, but, sans a local config option to bypass it, a simple yes/no prompt (when running in interactive mode) could do the job (and make it obvious it happened).

[2021-06-16 13:19] ebullient commented on #17949
More like `quarkus config ...`, in the way of git, but yes, this is on the list. There is a card for this in the Someday / Maybe lane. Will link this to it.

[2021-06-16 13:28] geoand commented on #17861
I am also wondering if this should only be for the reactive-rest-client or for both.

The advantage of doing it only for the former is that we can tie into all the processed metadata and avoid having to re-parse annotations and such.

WDYT @FroMage @stuartwdouglas @michalszynkiewicz ?

[2021-06-16 13:31] ebullient commented on #17876
The emojis are rendered w/in common code in devtools/codestarts...

[2021-06-16 13:44] ebullient commented on #17876
To clarify, you're asking to work backwards and use older emojis that have a monichrome/unqualified equivalent?
Most of what you link recommended adding that suffix to ensure the color version was used (which would require it to be present)

[2021-06-16 14:18] mkouba commented on #16840
I'm not sure TBH. The spec is very clear that it **should not** be supported. For example, the [Inheritance and specialization](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#inheritance) section mentions:
* _"Type-level metadata is never inherited from interfaces implemented by a bean."_, and
* _"Suppose a class X is extended directly or indirectly by the bean class of a managed bean Y. If X i

[2021-06-16 15:00] sberyozkin commented on #17952
Hi @roysjosh thanks for identifying this problem, please open a PR, here is some initial comments:

key id `kid` is only a key id, ` the base64-encoded SHA-1 digest of the DER-encoded certificate` is a certificate thumbprint of the certificate Azure will use to verify this token and I don't really expect the Quarkus users know these values, it should be calculated during the token creation process

[2021-06-16 15:02] sberyozkin commented on #17952
@roysjosh I've removed a `kind/bug` label since this requirement is specific to Azure - we have the tests where the client JWT authentication works with Keycloak without this property, thanks

[2021-06-16 15:04] ebullient commented on #17876
Can you try w/ the PR?

[2021-06-16 15:14] Shohou commented on #15370
A note - you shouldn't enable `quarkus.log.handler.gelf.include-full-mdc` for the same reason

[2021-06-16 15:28] hamburml commented on #17931
I'll check out the profile aware files and `ignoredEntry`, thanks!

[2021-06-16 15:30] manovotn commented on #16840
+1, spec literally says this should not work.
It is not the first case where we are discussing this though. Enabling it globally presents fairly huge compatibility risk and having it in just some places makes it inconsistent which is even weirder (at least to me).

@mkouba don't we already have some special handling for something like REST? I am pretty sure we had to deal with this already.

Good

[2021-06-16 15:39] michalszynkiewicz commented on #17287
The only thing that comes to my mind after looking at the code is that the TCCL for the call is wrong...

[2021-06-16 15:40] belu commented on #17876
@ebullient Never mind. Just built everything and then I was able to execute the CLI JAR.

The emojis look good now in the Gnome Terminal!

![quarkus-cli-snapshot](https://user-images.githubusercontent.com/1174164/122250204-c1cb3300-cec9-11eb-9711-5333555a7253.png)

[2021-06-16 15:47] michalszynkiewicz commented on #17287
The `Thread.currentThread().getContextClassloader()` has to contain the Quarkus class loader to have it working, I'm 99% sure ;)

Now, why doesn't `stream().parallel()` use the classloader of the thread that invoked it, I don't know

[2021-06-16 15:53] michalszynkiewicz commented on #17287
After a bit of reading, the issue, at least with the latest reproducer, is that ForkJoinPools don't preserve the context classloader.

A workaround for this is to set this context explicitly in your code, sth like:
[code]

Or provide a custom fork join worker thread factory that would propagate the classloader.

I don't think there's anything we can do for this on the Quarkus side.

[2021-06-16 16:21] michalszynkiewicz commented on #17287
I will close this issue, but feel free to reopen it if there's something I missed

[2021-06-16 16:21] #17287 closed

[2021-06-16 16:27] michalszynkiewicz commented on #17611
@geoand did you use the code from https://github.com/fabry00/quarkus-rest-client-warn/blob/master/pom.xml ?
Contrary to the title of this issue, it uses the good old `quarkus-rest-client`, and not `quarkus-rest-client-reactive`, and mixes it with `quarkus-resteasy-reactive`

[2021-06-16 16:28] geoand commented on #17611
I just did what @zakkak mentioned above.

If things are being mixed, is the issue invalid then?

[2021-06-16 17:11] sarxos opened #17957 "Quarkus compilation failure due to java.base does not "opens java.util" to unnamed module in quarkus-resteasy-reactive-kotlin"
## Describe the bug

Hello there! I would like to play with the cutting edge features of the Quarkus but I'm unable to build the 999-SNAPSHOT because compilation fails on the `quarkus-resteasy-reactive-kotlin` module. I tried to work this out simply by removing it from the parent POM and commenting out the dependency in `runtime` module, but this did not help because other Kotlin-related modules a

[2021-06-16 17:34] grossws opened #17960 "quarkus-bom v1.13.x brings incompatible opentracing-api via opentracing-tracerresolver"
## Describe the bug
`quarkus-bom` use `opentracing-tracerresolver:0.1.8` which depends on `opentracing-api:0.33.0`. It's API-incompatible with `opentracing-api:0.31.0` used in MicroProfile/SmallRye.

It shouldn't affect Maven users because of different dependency resolution process but in case of Gradle it bumps `opentracing-api` to v0.33.0.

Workarounds:
* use `enforcedPlatform` for `quarkus-bom`

[2021-06-16 17:50] liuzqt commented on #17937
@yrodiere  thanks for the detailed explanation! I agree with you that there is no point to support legacy configuration things from hibernate.
And #13807 is exactly what I want, and I think this is a reasonable and mostly helpful feature to have, glad we already have it in 2.0.   For now, I would probably use the workaround mentioned in #13807 to make my program work, but it doesn't matter since 2

[2021-06-16 18:00] venkatt007 commented on #17922
@iocanel Still I am not able to get this running. Can you share a sample you tried or update in the repo I shared and push back. I am still facing the above issue after referring dockerfile and kubernetes file with absolute path without context in skaffold file as you mentioned 😞

[2021-06-16 18:08] kenfinnigan commented on #17960
I don't think we want to update the version of a dependency because Gradle handles the dependency resolution differently.

`0.1.8` has been used in Quarkus since at least 1.7.0.Final. Changing the dependency now would potentially introduce a large number of unintended breakages.

[2021-06-16 18:27] grossws commented on #17960
I looked through https://github.com/opentracing-contrib/java-tracerresolver/commits/release-0.1.8 and two major changes besides opentracing version bump are:
* automatic module name for java9+;
* new method `TracerResolver.resolveTracer(ClassLoader)`.

So I agree, it's potentially breaking change if someone depends on it.

OTOH Maven unstable resolution management could be breaking all the same. I

[2021-06-16 18:48] #17612 closed

[2021-06-16 18:51] kenfinnigan commented on #17960
While I agree it relies on Maven behaving, but at the same time, we've had this in since 1.7.0.Final, possibly earlier as the file location moved at one point. For that reason, I don't think it's worth the risk.

[2021-06-16 19:21] jendib commented on #17841
@cescoffier adding a few seconds of delay seems to work indeed.

[2021-06-16 20:07] ebullient commented on #16154
#17966 will intersect with this one, but I don't think they should disagree violently. They just touch some of the same files. Should be straight-forward to rebase on it alongside the other requested changes.

[2021-06-16 20:32] sberyozkin commented on #17952
@roysjosh

My fault, it only works if the no arg `sign()` is used, here the key is loaded directly.
However the new property should also work for this case, let me comment on your PR

[2021-06-16 20:38] liuzqt commented on #17937
@yrodiere  and BTW I've read through your opinion in #16951 when fixing #13807. I understand `xxx_contributor` things might already be some adhoc things...... I'm totally new to hibernate (I'm from python....) and just try to get some equivalent things in Java and hibernate.  So I would like to know if I was doing the right thing:
I mainly used `metadata_builder_contributor` to add `AuxiliaryDatab

[2021-06-16 21:06] aloubyansky commented on #17960
Is using `enforcedPlatform` not an acceptable option in this case?

[2021-06-16 22:24] maxandersen commented on #17831
snippet to put in ~/.m2/settings.xml to use for using rhbq:

[code]

[2021-06-16 22:51] maxandersen commented on #17876
![2021-06-17_00-50-38](https://user-images.githubusercontent.com/54129/122304774-0e346400-cf06-11eb-9023-93ada2e13594.png)

here is it on osx in iterm2.

they are much less distinguishable but wsl usecase is quite a big crowd thus I reluctantly agree.

[2021-06-17 00:54] stuartwdouglas commented on #16840
I think the main issue here is that JAX-RS annotations are inherited from interfaces, so it is problematic that the security ones are not. I think it probably makes the most amount of sense to special case this for JAX-RS?

[2021-06-17 05:23] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/945241116

[2021-06-17 05:25] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/945241116

[2021-06-17 05:25] michalszynkiewicz commented on #17611
TBH, I'm not sure. It's still weird that RestEasy Rest Client would try to load classes that are not available with this combination...

[2021-06-17 05:27] michalszynkiewicz commented on #17611
Anyway @fabry00 can you try one of:

- switch the server implementation to `quarkus-resteasy`
- change the client you are using to `quarkus-rest-client-reactive-jackson` - you should remove `quarkus-rest-client-mutiny`, `quarkus-rest-client-jackson` and `quarkus-rest-client` then

[2021-06-17 06:08] #17915 closed

[2021-06-17 06:12] geoand commented on #17957
I just tried it and it works for fine for me.
Can you try building with JDK 11?

[2021-06-17 06:34] #17957 closed

[2021-06-17 06:35] mkouba commented on #16840
AFAIK the bean validation supports them as well but there's some workaround in the quarkus extension. CC @gsmet

[2021-06-17 06:37] mkouba commented on #16840
Interceptor bindings are supported on MP Rest Client interfaces but that's a bit different because there's no bean class implementation.

[2021-06-17 06:42] Ladicek commented on #17287
It seems people stumble upon this relatively often (see also #9397 and #7123).

There is a hack in Quarkus that attempts to set the TCCL of all threads in the common FJ pool to the Quarkus class loader, but that has a problem: threads in a FJ pool can be discarded and recreated. The newly created threads will not have the correct TCCL, leading to this issue.

In my opinion, the hack should have ne

[2021-06-17 06:48] geoand commented on #12761
@diogenes1oliveira contributions are always welcome!

[2021-06-17 07:02] #17801 closed

[2021-06-17 07:09] yrodiere commented on #17937
Yes, this is definitely a legitimate use case. I haven't tested this specifically, but I expect it should work.

[2021-06-17 07:15] FroMage commented on #17861
Good question. Probably start with the reactive one and later expand if we need to? I assume we'll be able to reuse all the code, we'd just have to add new code for the parsing?

[2021-06-17 07:17] #17930 closed

[2021-06-17 07:18] geoand commented on #17861
From the quick pass I did, for the old rest client we don't really keep metada around for the methods as we do for the new one.

[2021-06-17 07:28] tqvarnst commented on #17927
My view of interactive mode is that it's a great tool to make people understand what features are available like it could be used to prompt the user for code examples etc, but it should be possible to skip it by passing a parameter. E.g. the yes/no prompt to change to the current directory could be good if you can also pass `--cd` or `--nocd` to avoid that prompt being displayed.

[2021-06-17 07:41] sarxos commented on #17957
Hi @geoand,

Welp, I did try to build it with JDK 11 yesterday and only switched to 16 when I was unable to. After you mentioned it, I did a bit bit of investigation.

[code]

When I tried to compile it with:

[code]

I got the very same error as for the JDK 16:

[code]

I did change the JDK version by doing:

[code]

And the result from `java -version` was as expected.

But it seems like the Jetb

[2021-06-17 07:42] geoand commented on #17957
👍🏼

[2021-06-17 07:51] michalszynkiewicz commented on #16840
One problem with adding support for inheriting security annotations from interfaces for jax-rs endpoints is that users most likely will assume that it will also work for usual CDI beans.
We could add some annotation, e.g. `@InheritedSecurity` that could be added to any bean and would mean that things like `@RolesAllowed` are inherited. But I'm not sure if it won't increase the mess :)

[2021-06-17 08:04] venkatt007 commented on #17922
Will quarkus auto deploy kubernetes yaml in dev mode or should I run mvn package only to deploy to kubernetes cluster?

[2021-06-17 08:23] aloubyansky commented on #17960
Here is a bit more on the nature of Quarkus BOMs.

`quarkus-universe-bom` is a result of integrating various extensions developed by separate teams, making sure all those extensions do not conflict with each other in any combination. That is achieved by aligning their **transitive** dependencies that work for everybody. Importing the universe BOM using `platform` in Gradle will ignore the alignmen

[2021-06-17 08:27] geoand commented on #17861
I'll start working on this tomorrow if nothing else urgent comes up

[2021-06-17 08:30] aloubyansky commented on #17960
I see that `quarkus-bom` contains `opentracing-api`, which means the order of imports of the mentioned dependencies is irrelevant. The version of `opentracing-api` is managed by the BOM unless explicitly overridden in the app config. It would depend on the order of dependency declarations if you **did not** import the `quarkus-bom`. BTW, in both cases the resulting dependency tree is 100% predicta

[2021-06-17 08:39] michalszynkiewicz commented on #17861
I stayed quiet because I'm struggling to see what's the main use case for this.

- proxying a real service - it seems to be a good match for it but I have never seen it in practice, so it seems to be a niche for me. But I may be wrong, of course
- what I think people usually test with wiremock is if the annotations they put on the client interface work properly. When we generate a service from thi

[2021-06-17 09:10] FroMage commented on #17861
Not a niche at all, in fact I've seen it in k8s operator land where they're really mocking a lot of remote stuff. In fact if you go micro-services you just absolutely need to mock a lot of HTTP calls.

Well, yes it would, because we're only using the mock to set up the HTTP mocking, not to make any calls. All the calls will be via the normal clients and go through HTTP to wiremock

I did wonder th

[2021-06-17 09:14] aloubyansky commented on #17947
`-s ~/.m2sb/settings.xml` by itself does not specify the local maven repo location. The `localRepository` element it contains does. So what's its value? If it's missing the default local repo location will still be `~/.m2/repository`.
I couldn't reproduce this issue. I'm pretty sure the issue is in your environment.

[2021-06-17 09:22] fabry00 commented on #17611
@michalszynkiewicz

**POINT 1**

I switched the dependencies `quarkus-resteasy-reactive` and `quarkus-resteasy-jackson` with `quarkus-resteasy` and `quarkus-resteasy-jackson` and now I do not see any WARNs. You can check the modifications in this branch: https://github.com/fabry00/quarkus-rest-client-warn/tree/try1

However I have a question, Is my API still reactive even if I removed the *reactiv

[2021-06-17 09:27] sarxos commented on #17957
Hi @geoand,

Just to follow up. Kotlin maintainers suggested in my bug report [KT-47308](https://youtrack.jetbrains.com/issue/KT-47308) to upgrade Kotlin from 1.4.32 to 1.5.10. I saw a PR https://github.com/quarkusio/quarkus/pull/17443 for this, which is still work in progress.

[2021-06-17 09:34] geoand commented on #17957
Right. @evanchooly had taken over that work

[2021-06-17 10:06] michalszynkiewicz commented on #17861
mock, sure, but proxy?

Isn't the proposal using the client interface for setting up wiremock?

We're getting really close to creating a JAX-RS resource class in the test here, which is already easily doable ;)

[2021-06-17 10:12] geoand commented on #17861
Even if that is the case, why not give users a nice DSL in order to make it super easy?
Much as we made mocking much easier.

Furthermore, with something like this, we can even think of injecting network faults, errorneous responses, delays etc... that you can't do with regular mocks (at least not at the right layer) and would require users to setup a lot of extra code if they did in with a custom

[2021-06-17 10:16] michalszynkiewicz commented on #17861
That's a good point. It's rather for testing if Quarkus behaves as it should, I think. But yes, we can simplify stuff a lot here.

Would be great if we could also do something for easy testing for WebSockets :)

[2021-06-17 10:26] kshpak opened #17974 "Add info about Logger into Quarkus Opentracing guide"
## Description
By following guide: https://quarkus.io/guides/opentracing
It is not fully obvious that OpenTracing requires Logger to be defined inside each @Traced class to present logs properly.
*By bootstrapping project there is no Logger predefined in the example class (no codestart).

## Implementation ideas
Add a note that each @Traced class requires Logger to be defined in order to show `tra

[2021-06-17 10:34] tomas-zuber opened #17975 "@Nested not working in @QuarkusTest"
## Describe the bug
`@Nested` classes are not working properly in `@QuarkusTest`.

### Expected behavior
`@Nested` tests run without throwing exception

### Actual behavior
Exception is thrown: `java.lang.RuntimeException: Could not find method public void junit.NestedTest.GreetingResourceTest.beforeEach() on test class`

## To Reproduce
Steps to reproduce the behavior:
1. Run `mvn io.quarkus:quar

[2021-06-17 10:56] michalszynkiewicz commented on #17611
If you use `quarkus-resteasy` and/or `quarkus-rest-client`, even if you use the reactive types (`Multi`, `Uni`, `CompletionStage`), the code you are running will still do blocking things.
`quarkus-resteasy-reactive` and `quarkus-rest-client-reactive` have a reactive core and are non-blocking all the way.

That's because you use `org.jboss.resteasy.annotations.jaxrs.PathParam;` which is specific to

[2021-06-17 11:22] michalszynkiewicz commented on #17861
So understanding it a bit better I can now say: it's clear to me that we it would be good to do something in this area.
Either support mocking clients directly or introduce `RestMock`.

Is tying it with `rest-client-reactive` much easier... What we need is the data from the resteasy reactive endpoint parser, no? Is it difficult to pull out?
The advantages of mocking clients are that it should be s

[2021-06-17 11:26] geoand commented on #17861
The issue is that the for resteasy-reactive this data is parsed and we can just consume it.
With classic, the metadata isn't available anywhere so I would need to parse the interface all over again (with whatever bugs that might introduce)

[2021-06-17 12:00] kenfinnigan commented on #17974
We're open to community contribution for this, as we aren't working on OpenTracing anymore but OpenTelemetry instead

[2021-06-17 12:21] mettwm commented on #17947
Thanks very much for looking into this. I have looked at  my original ~/.m2sb/settings.xml and there was <localRepository>${user.home}/.m2sb/repository</localRepository>, so that was not definitely pointing to ./m2 . However, I am going to try to simulate it again with completely a new maven repo placed at different location than the default to see if I had a problem within my environment setup. I

[2021-06-17 12:33] andreas-eberle opened #17977 "@Transactional not working for produced beans"
## Describe the bug
We have a producer function to create a DAO bean. Into that bean we provide the Hibernate `EntityManager` and run queries on our database. Unfortunately, when these Queries require a transaction (write operations), we get the following exception:

[code]

However, we have these methods annotated with `@Transactional`.

We were able to shrink this down into a small reproducer. I

[2021-06-17 12:41] aloubyansky commented on #17947
Also try testing with the absolute paths in `<localRepository>`. I am not sure it supports expressions. E.g. I can tell for sure `~` won't be recognized by Maven, it'll end up creating `~` directory in your current directory.

[2021-06-17 12:46] mettwm commented on #17947
Ok, I will try.

[2021-06-17 13:06] mkouba commented on #16241
There are couple of things we need to consider:

- The retry policy is part of the service config which is bound to a `Channel` instance via `io.grpc.internal.AbstractManagedChannelImplBuilder.defaultServiceConfig()`
- A `Channel` instance is created per client configured via `GrpcClientConfiguration`
- So in therory, a `Channel` instance can be shared for multiple services...

The tricky part is

[2021-06-17 13:15] #17640 closed

[2021-06-17 13:19] #17925 closed

[2021-06-17 14:12] svjaime opened #17981 "SSL Connection / Handshake issues"
Hi,

I've got a service, that performs https requests to an external provider. These requests appear to be properly signed as most requests are successful. However, we seem to be getting frequent, and somewhat random, 500 errors due to SSL connection/handshake failures:

`"exceptionType": "javax.ws.rs.ProcessingException",
"message": "RESTEASY004655: Unable to invoke request: javax.net.ssl.SSLExce

[2021-06-17 14:26] radcortez commented on #17892
I'll have a look.

[2021-06-17 14:37] #17952 closed

[2021-06-17 15:14] kenfinnigan commented on #17124
Resolved by @luneo7 with https://github.com/quarkusio/quarkus/pull/17703

[2021-06-17 15:14] #17124 closed

[2021-06-17 15:14] kenfinnigan commented on #17123
Resolved by @luneo7 with https://github.com/quarkusio/quarkus/pull/17703

[2021-06-17 15:14] #17123 closed

[2021-06-17 15:15] kenfinnigan commented on #17122
Resolved by @luneo7 with https://github.com/quarkusio/quarkus/pull/17703

[2021-06-17 15:15] #17122 closed

[2021-06-17 15:24] loicmathieu commented on #17863
Hi @bartuss7 did you try to use `@BsonProperty` on the projection class ?

[2021-06-17 15:26] majaesch opened #17983 "Support @CacheResult with Panache Repository"
## Description

I would like to use the quarkus-cache directly with `PanacheMongoRepository`. It's a missing feature for me right now.

My example resource
[code]

My example repository

[code]

## Implementation ideas

First attempt could be to support for `super`.
[code]

The disadvantage would be that every method needs to be explicitly overridden.
It would be nice if quarkus-cache would work d

[2021-06-17 15:41] #17583 closed

[2021-06-17 15:49] fabry00 opened #17985 "Static resource META-INF not found in native"
## Describe the bug
META-INF/resources/mytest/docs/index.html not found in native build

### Expected behavior
The request `curl http://localhost:8080/mytest/docs/index.html` should return the file placed in `META-INF/resources/mytest/docs/index.html`  (native build)

### Actual behavior

The command  `curl http://localhost:8080/mytest/docs/index.html`  returns `HTTP/1.1 404 Not Found`

[code]

##

[2021-06-17 17:16] geoand commented on #17887
I opened https://github.com/quarkusio/quarkus/pull/17986 based on our discussion today with the GraalVM team

[2021-06-17 17:18] grossws commented on #17960
I usually use simple `platform` instead of `enforcedPlatform` to avoid overriding dependency constraints defined in my own platforms, especially if framework-provided BOM/platform has large scope like `quarkus-universe-bom` or `spring-boot-dependencies`.

[As I learned](https://gradle-community.slack.com/archives/CAH4ZP3GX/p1623938634097500) this is expected behavior for Gradle when using `platfor

[2021-06-17 17:18] #17960 closed

[2021-06-17 18:59] maxandersen commented on #17927
Can anyone point to a tool that CDs into a just created project ?

I've not been able to find one but please educate :)

Also afaik youll need to do a native call to be able to change the directory of the shell that invoked java ...

In short: I'm not fan of trying to make the cli attempt to change process.

[2021-06-17 19:05] ebullient commented on #17927
well. quarkus create would have to return no other output (no pretty emoji) .. only the name of the directory created to allow you to do that
which is not what is required

[2021-06-17 19:44] starksm64 opened #17988 "Building quarkus main fails due to java.net.BindException: Address already in use in KafkaStreamsStartupFailureTest"
## Describe the bug
Building the current quarkus main branch is failing in the io.quarkus.it.kafka.streams.KafkaStreamsStartupFailureTest due to an address in use exception.

After checking the test code for the ports in question, both the 2182, 19092 ports were not seen to be in use by any process according to lsof -i.

### Expected behavior
The maven build installs without error

### Actual beha

[2021-06-17 21:57] liuzqt opened #17990 "gradle build native testing fail: runner not found"
## Describe the bug
the error info is as below
[code]

seems that the native runner file is not generated.

I can run this test successfully previously with maven, after I migrate to gradle this error happened. I suppose gradle should be able to generated necessary native executables if needed even without explicitly specifying build native parameter, at least that the behavior I've observed with

[2021-06-17 22:14] famod commented on #17988
Parallel execution of tests (`-T x` and/or via surefire forkCount etc.) is not supported. Many tests use fixed ports and so collisions are very likely.
But you can build main in parallel _without_ tests via `mvn -Dquickly T x` (see CONTRIBUTING.md).

@geoand @gsmet I could have a look but I suppose it's going to be a can of worms. But since I like fast and efficient build processes, I kind of intr

[2021-06-17 22:17] famod commented on #17981
I don't think there are wide-spread known issues but @sberyozkin @cescoffier (and maybe others) are more competent to answer that.

[2021-06-17 22:25] famod commented on #17977
@mkouba @manovotn I tried to find it in the docs (I didn't), but IIRC there is some general limitation (spec induced?) regarding produced beans and interceptors?

[2021-06-17 22:34] famod commented on #17939
Ha, this is one of the first problems I ran into back then when I first tried out Quarkus and it's actually not a Quarkus bug: https://github.com/quarkusio/quarkus/issues/2149#issuecomment-553611171

TL;DR: Try `-Dpath=hello` (without slash) to avoid triggering that MinGW path conervsion.

[2021-06-17 22:34] #17939 closed

[2021-06-17 22:41] famod commented on #17947
Yeah, this sounds _very_ familiar: #11449

[2021-06-17 22:46] famod commented on #17931
@hamburml does it work?

I'm inclined to close this because as @radcortez wrote it might be really fragile to remove config like this.