[2021-07-11 16:29] cescoffier commented on #9476
While we could use Vert.x do to the DNS call (instead of JNDI), the substitution to write is not trivial. However, if any of you want to contribute, I would be happy to help.

[2021-07-11 16:35] cescoffier commented on #18450
I'm not totally sure. A Record is a payload, so it's wrapped into a message (automatically). So, in theory: no differences.

[2021-07-11 16:50] gunnarmorling commented on #18590
So is this to say that Picocli comes with its own GraalVM reflection
config? If so, yes, definitely makes sense to address it over there.

[2021-07-11 17:38] misterjoshua commented on #18586
Thank you! :)

[2021-07-11 18:08] sjaakd commented on #18587
Added [reproducer](https://github.com/sjaakd/reproducer)

[2021-07-11 18:54] famod opened #18592 "ArC: Make error on missing superclass no-arg constructor more user friendly"
## Description

If an abstract `SomeClass` only has a constructor with some arguments and `SomeSubClass` that extends that class also only has a costructor with some arguments (for constructor injection), this will be logged:
[code]

Quarkus should give more context/hints in this case like "You have to add a no-args constructor to SomeClass (at least package visible)." or so.

See also: https://qu

[2021-07-11 19:04] famod opened #18593 "Add referenced OpenAPI files to /q to better support Swagger-UI in multi-module projects"
## Description

After #18340, an OpenAPI file can now be loaded from anywhere on the classpath.
This supports multi-module setups like module A with OpenAPI stuff and module B building the actual app with B depending on A.
What doesn't work OOTB is resolution of referenced files like externalized/separated schemas and so in Swagger-UI you get something like:
[code]

A Maven workaround for this loo

[2021-07-11 19:23] GavinRay97 commented on #2720
@geoand Just out of curiosity -- the problem here is whether the compiled sources would work properly in GraalVM native and not just a matter of implementing the extension/language support right?

I think something roughly like this should barebones get the language running in devmode
[code]

[2021-07-11 19:55] maxandersen commented on #18590
Picocli does it's graalvm via annotation processor which we can't reuse so we need the fix on our side afaik.

[2021-07-11 20:42] geoand commented on #2720
Yes exactly, we need something that would work with GraalVM

[2021-07-11 21:07] AlexandreGuidin commented on #18565
It worked. Don't know if i should add it, but it work for now.

[2021-07-11 21:11] gunnarmorling opened #18594 "Dev mode console handler does not get installed if there are no tests (picocli app)"
## Describe the bug
When running my (Pico)CLI app (https://github.com/gunnarmorling/kc-cli) in Dev mode, it doesn't show me the options for restarting that CLI app, editing the passed parameters, etc. It just hangs there:

[code]

### Expected behavior
There should be the line telling me about the dev mode options like restarting, etc.

### Actual behavior
That line isn't displayed.

## To Reprodu

[2021-07-11 21:15] GavinRay97 opened #18595 "Improve error reporting when user fails to attach `@MultipartForm` annotation - similar to #6738"
## Description

If a user forgets to attach `@MultipartForm` annotation to RESTeasy controller parameter, the error returned is non-descript and not very helpful.

Maybe this could be better, similar to the solution in #6738

[code]

This will fail with:
[code]

**Full output of test run log:**
<details>

		    Jul 11, 2021 5:09:50 PM org.jboss.threads.Version <clinit>
		    INFO: JBoss Threads ve

[2021-07-11 21:24] chetankokil commented on #17254
@Sanne if this issue is still open, can i give it a shot ???

[2021-07-11 21:33] famod commented on #18372
@sberyozkin @radcortez this might be something for you:

I suppose Java 17 dropped that A128KW algorithm.

[2021-07-11 21:56] famod commented on #18553
This is a split package case since both the `BaseRepository` in module `common` _and_ `ExampleRepositoryMock` in module `app` share the same package `com.example`.
I personally would not consider this best practise.

Anyway, /cc-ing you @mkouba @manovotn because @geoand added the ArC label.

[2021-07-11 21:57] famod commented on #18553
PS: The problem goes away if `ExampleRepositoryMock` is placed in a different package.

[2021-07-11 22:05] famod commented on #18548
It seems your reproducer is missing the base URI config for that client.
[code]
After adding `@RegisterRestClient(baseUri="http://localhost:12345")` (or adding config in properties file) the problem is reproducible,

[2021-07-12 00:59] stuartwdouglas opened #18597 "Swagger UI should automatically configure OIDC"
At the moment it is possible to configure Swagger UI + OIDC manually: https://quarkus.io/guides/openapi-swaggerui#quarkus-swaggerui_quarkus.swagger-ui.oauth-client-id

This is not compatible with DevServices, as the URL will be different each time. It also requires doubling up on configuration that is already known by the OIDC extension.

If OIDC + Swagger UI is present this should be automaticall

[2021-07-12 01:01] stuartwdouglas commented on #18597
@sberyozkin can you have a look at this? I had a quick play to set this up manually with the DevServices PR but I could not get CORS to work.

[2021-07-12 01:19] aaronanderson opened #18598 "Extension quarkus-vertx-graphql interferes with extension quarkus-resteasy-multipart"
## Describe the bug
After upgrading to Quarks 2.0 I discovered an issue with my application that uses the extensions quarkus-vertx-graphql and quarkus-resteasy-multipart. While running my application in devmode if I perform a multipart form data post to a JAX-RS endpoint none of the parts are received by the JAX-RS endpoint. If i remove the quarkus-vertx-graphql dependency from my application it w

[2021-07-12 02:19] stuartwdouglas commented on #18559
Did this ever work? It looks like you are manually running a process with the Jacoco args, which will use the transformed classes, but it will only generate the report from the classes in target/classes, which are not transformed.

[2021-07-12 02:37] stuartwdouglas commented on #18503
@phillip-kruger this is an open API issue rather than a HTTP/2 one, the OpenApiHandler is always adding its own COR's headers on top of the configured ones.

[2021-07-12 04:52] phillip-kruger commented on #18503
I'll have a look today. Thanks

[2021-07-12 04:53] phillip-kruger commented on #18598
/cc @tsegismont

[2021-07-12 04:55] phillip-kruger commented on #18597
@sberyozkin let me know if I can help

[2021-07-12 05:20] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1021635104

[2021-07-12 06:10] geoand commented on #18595
Thanks for reporting!

https://github.com/quarkusio/quarkus/pull/18599 will actually make the annotation optional, so the code you attached would just work

[2021-07-12 06:45] #18521 closed

[2021-07-12 06:59] stuartwdouglas commented on #18594
This is a known problem, where the console handler does not get installed if there are no tests.

For now you can work around it by adding a test.

[2021-07-12 07:23] jmartisk commented on #18598
The problem here is that resteasy-multipart is incompatible with globally active body handler, which unfortunately, the vertx-graphql extension uses. I submitted https://github.com/quarkusio/quarkus/pull/18600 which fixes this the same way as we fixed it for smallrye-graphql

[2021-07-12 07:45] languitar commented on #18537
Could this fix also help running test cases in IntelliJ? I am seeing the same bean error there, too.

[2021-07-12 07:45] mkouba commented on #18386
It should not add entries in a map but set the properties as the root data object (instead of the data map). And yes, once you add a map entry property via a `data()` method the root object previously set by `data(Object)` is removed by a data map. This behavior is described in the javadoc and if you ask for a use case - it's very useful when you only have one data object and you just need to acce

[2021-07-12 07:50] stuartwdouglas commented on #18537
Are they QuarkusIntegrationTests that you are having trouble with? If so then yes.

[2021-07-12 07:51] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1021635104

[2021-07-12 08:05] geoand commented on #18537
You can try building Quarkus from source to make sure

[2021-07-12 08:14] zbendhiba opened #18601 "Manage kafka-oauth-client version in quarkus bom"
Manage kafka-oauth-client mentionned in [Quarku's Kafka Guide](https://quarkus.io/guides/kafka#authenticating-with-oauth), in the quarkus bom.

[2021-07-12 08:20] languitar commented on #18537
Yes, in IntelliJ they result in the same bean resolution issue, even though there is no system property defined to trigger the per_class lifecycle.

[2021-07-12 08:24] #18445 closed

[2021-07-12 08:31] geoand commented on #18601
cc @ozangunalp

[2021-07-12 08:49] #18346 closed

[2021-07-12 08:51] geoand opened #18602 "Allow Arc to use method parameters whose classes are private when generating decorators and interceptors"
### Description

https://github.com/quarkusio/quarkus/pull/18480 prevents these kinds of usages as they lead to an `IllegalAccessError` when the produced bytecode is run.
However, we could use reflection to access these classes

### Implementation ideas

_No response_

[2021-07-12 08:51] antonwiens opened #18603 "StackOverflowException for Throwable ExceptionMapper"
### Describe the bug

An ServerExceptionMapper for Throwables always throws a StackOverflowException.

Reproducer:

[reproducer-cleaned.zip](https://github.com/quarkusio/quarkus/files/6800178/reproducer-cleaned.zip)

Just Call the "/hello" Endpoint to trigger the exception.

Version: 2.0.1

### Stacktrace:
[code]

EDIT:
I cleaned up the reproducer, because i tested a lot of stuff and left unused e

[2021-07-12 08:59] #18477 closed

[2021-07-12 09:02] manovotn commented on #18553
@famod is right that split package is a bad practice. I'd suggest just changing one of the packages.

Furthermore, this will only manifest is some Quarkus modes - test being one, dev the other. In prod it should work because of flat class loader.

It is similar (in nature) to what we discussed few days ago here - https://github.com/quarkusio/quarkus/issues/18510
The above issue also raised a quest

[2021-07-12 09:06] gsmet commented on #18603
@antonwiens could you include part of the stacktrace in the description? It's helpful for other users to find similar issues.

[2021-07-12 09:07] #18598 closed

[2021-07-12 09:09] antonwiens commented on #18603
I added one, sry.

[2021-07-12 09:19] geoand commented on #18510
Another option (less good, but still better than what we have) would be to catch these kinds of errors in the QuarkusClassLoader and provide information about which jars contain the problematic classes along with a message to users telling them that the split package setup is not supported.

WDYT?

[2021-07-12 09:20] geoand commented on #18553
I added https://github.com/quarkusio/quarkus/issues/18510#issuecomment-878116097 to discuss an alternative

[2021-07-12 09:26] magick93 commented on #15012
This sounds like a fantastic idea! I hope it gets added as a new quarkus project type.

[2021-07-12 09:27] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1021644647

[2021-07-12 09:28] mkouba commented on #18510
I think that we could also iterate over all application archives from the `ApplicationArchivesBuildItem` and log a warning if a package is split... but it could be costly for larger apps.

[2021-07-12 09:33] geoand commented on #18510
Actually, this won't work for this particular case as the error is not thrown at classloading time...

[2021-07-12 09:36] sberyozkin opened #18604 "Support the propagation of tokens from OIDC/JWT to Kafka"
### Description

[Token Propagation Filter](https://quarkus.io/guides/security-openid-connect-client#token-propagation) supports the propagation (with the possible re-signing or token exchange) from the current Quarkus endpoint (secured with either `quarkus-oidc` or `quarkus-smallrye-jwt`, the OAuth2 extension may also work) to the downstream HTTP endpoints.

This enhancement request is about supp

[2021-07-12 09:40] manovotn commented on #18510
This is probably a way to go. Although, like you say, larger apps might suffer from it.
We can try and see how that works. It should be fairly simple to add a new processor into Arc that would check it. I can try that later today.

[2021-07-12 09:45] Cavvar commented on #18585
Hi @gwenneg,

thanks for the info. I wasn't sure at first. I'll close the issue.

[2021-07-12 09:45] #18585 closed

[2021-07-12 09:48] lburgazzoli commented on #18526
@iocanel I think we should also probably have an option to configure what to do when there is an unrecoverable error on the watcher, in my code I have something like:

[code]

Would probably nice to have something like:

[code]

or something you can configure at watcher level:

[code]

[2021-07-12 09:55] sberyozkin commented on #18597
@phillip-kruger Hi Phillip, I'd appreciate if you could investigate as you know all about Swagger UI, and may be I can help somehow as well :-).

Let me just try to understand what is the requirement, we've discussed a few related issues earlier, so as far as I recall, if a Quarkus is protected by `quarkus-oidc` then if a bearer token is required by Quarkus `service` application, then as you have

[2021-07-12 10:17] erayerdem opened #18606 "Quarkus can not read the file : FileNotFoundException"
### Describe the bug

I have a file at src/main/resources/pinglist/pinglist.xlsx  and I m trying to read this file in this code  . I m tried spring and standalone java application and I dont get any error .
` URL url = getClass().getClassLoader().getResource("pinglist/pinglist.xlsx");
  FileInputStream file = new FileInputStream(url.getPath());
`
       `mvn compile quarkus:dev` works successfully

[2021-07-12 10:17] xtaixe commented on #18559
@stuartwdouglas no, this is an attempt to move to the Quarkus documented way of working with Jacoco, since currently we are still using offline instrumentation but with the upgrade to Quarkus 2 (no other changes) we lost some coverage.

I see what you mean, but isn't this the way things are documented to work also for `@QuarkusIntegrationTest` (see reproducer 2) which is also not working or am I m

[2021-07-12 10:22] radcortez commented on #18375
It is possible to have multiple profiles at a time, but this is provided by SR Config and not Quarkus. Quarkus was written with a single profile in mind, so some extensions may not be aware of the multi-profile capabilities of SR Config, so we prefer to just say a single profile in Quarkus to be safe :)

[2021-07-12 10:25] geoand commented on #18559
What is not working?

[2021-07-12 10:26] myassine2 commented on #18452
@cescoffier thank you for the link! I appreciate the support as always.

[2021-07-12 10:27] geoand commented on #18606
You should not be using `FileInputStream` to read a resource from the classpath.

I would use `getClass().getClassLoader().getResourceAsStream("pinglist/pinglist.xlsx");`

[2021-07-12 10:27] #18606 closed

[2021-07-12 10:37] xtaixe commented on #18559
Jacoco finding the right classes and reporting the right coverage for integration tests as documented in the guide. Unless I did something wrong the reproducer is configured as in the guide but not working properly.

[2021-07-12 10:46] erayerdem commented on #18606
Thanks , its works .

[2021-07-12 11:04] ennishol commented on #18375
I see... On the other hand, I'd like to be safe too. So I have to move back to my custom config source as soon as the fix will be available.

[2021-07-12 11:11] lburgazzoli opened #18607 "scheduler: option to disable individual schedulers"
### Description

As today it is possible to disable all the schedulers by setting `quarkus.scheduler.enabled` to false hoverit would be nice to be able to enable/disable individuals schedulers.

### Implementation ideas

Similar to the data-source configuration, we could introduce a property like:

    quarkus.scheduler.${identity}.enabled = true | false

to enable/disable named scheduler (matchin

[2021-07-12 11:20] antonwiens commented on #18603
@gsmet any chance this will make it for 2.1? this is blocking me from using quarkus 2 unfortunately

[2021-07-12 11:46] JeffreyThijs commented on #18566
Issue can be closed, the config property was overwritten by a different test profile. Updating this resolved it, my bad. Thanks for the help, anyways!

[2021-07-12 11:49] mkouba commented on #18607
In fact, this is already possible via a config property, i.e. `@Scheduled(cron = "${myMethod.cron.expr}")` and `myMethod.cron.expr=disabled`. See https://quarkus.io/guides/scheduler-reference#cron and https://quarkus.io/guides/scheduler-reference#intervals for more information.

Moreover, it will be possible to skip a specific execution dynamically via [Conditional Execution](https://quarkus.io/ve

[2021-07-12 11:51] Postremus opened #18609 "dev ui log does not respect the log cleanup filters"
### Describe the bug

Some log entries are normally filtered in quarkus, see LogCleanupFilterBuildItem.

These entries are correctly filtered in the terminal running dev mode, but they are present in the log of dev ui.

For example, the following is additionally logged for resteasy:
[code]

### Expected behavior

Following is the output from the terminal running dev mode.
[code]

### Actual behavi

[2021-07-12 11:53] gsmet commented on #18609
/cc @phillip-kruger

[2021-07-12 11:56] #17254 closed

[2021-07-12 12:00] lburgazzoli commented on #18607
Ah cool, for some reason I didn't notice them

[2021-07-12 12:00] #18607 closed

[2021-07-12 12:13] lburgazzoli commented on #18607
@mkouba is this available in quarkus 1.x too ?

[2021-07-12 12:16] karesti commented on #18517
@jamesnetherton would you mind testing this commit here ?https://github.com/karesti/quarkus/commit/4ae93de797b3f2ea98bd14e25aa71abe289393ae

[2021-07-12 12:18] gsmet commented on #18603
@antonwiens so it was working in 1.13 and doesn't work anymore?

@mkouba could you have a look? I'm seeing recursive interceptor calls so I wonder if it could be related to some of the recent work on the subject.

[2021-07-12 12:26] antonwiens commented on #18603
I can say that it was working in 1.10 and in 1.12 for normal resteasy. I don't know about 1.13 and resteasy-reactive, as its the first time i am using it.

[2021-07-12 12:28] mkouba commented on #18607
Nope.

[2021-07-12 12:30] lburgazzoli commented on #18607
ok, that at least explain why I missed it :)

[2021-07-12 12:41] maykoone commented on #18548
Hi @famod

I added the properties. Thanks for letting me know

[2021-07-12 12:56] mkouba commented on #18603
Hm, it looks like the interceptor is associated with a class  generated by resteasy reactive:
[code]
CC @geoand @FroMage

[2021-07-12 13:02] geoand commented on #18603
I'll take a look

[2021-07-12 13:07] hacst commented on #18250
If an `@` is present dropping everything between the first `//` up to and including the `@` should be correct. At least that's my reading of https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Syntax to get rid of the userinfo portion.

[2021-07-12 13:08] FroMage commented on #18263
I can look, can you share your Java reproducer please?

[2021-07-12 13:20] FroMage commented on #18565
This is a very weird issue. It appears it was introduced by https://github.com/smallrye/smallrye-context-propagation/commit/eb454a70ca03b1aa6ddc8fa8a862db954d68a527 which introduced `LifecycleManager` in https://github.com/smallrye/smallrye-context-propagation/commit/eb454a70ca03b1aa6ddc8fa8a862db954d68a527#diff-6719340760b3e74dbd9230d39c1f683af6390f27307ee70d4660b917031f2f90R165 but we forgot to

[2021-07-12 13:22] FroMage commented on #18565
Actually not true, since `extensions/narayana-jta/deployment/src/main/java/io/quarkus/narayana/jta/deployment/NarayanaJtaProcessor.java` marks it:

[code]

[2021-07-12 13:25] FroMage commented on #18565
Ah, got it, it's normally imported by `quarkus-hibernate-orm` but is explicitely excluded by `quarkus-hibernate-reactive`:

[code]

[2021-07-12 13:29] FroMage commented on #18565
I guess I can tweak `smallrye-context-propagation-jta` to consider that if `LifecycleManager` is not available, then JTA must have been disabled. It's kinda weird, but it'd work.
Or I can make `quarkus-hibernate-reactive` mark `LifecycleManager` as unremovable. That would also work, and perhaps be less weird, since it acknowledges that our import has an exclusion that has some side-effect. JTA wou

[2021-07-12 13:30] hacst commented on #18575
Some further analysis: Adding the custom exporter adds an additional `SimpleSpanProcessor` for each exporter:
https://github.com/quarkusio/quarkus/blob/ec2c72d7f1c5990be14ebbea140afb0ddc90d196/extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/TracerRecorder.java#L79

Due to that OTEL creates a `MultiSpanProcessor`
https://github.com/open-telemetr

[2021-07-12 13:30] jamesnetherton commented on #18517
@karesti I tested and it's now working as expected. Thanks!

[2021-07-12 13:40] #18595 closed

[2021-07-12 13:58] geoand commented on #18603
https://github.com/quarkusio/quarkus/pull/18613 takes care of the issue

[2021-07-12 14:00] geoand commented on #18595
👍🏼

[2021-07-12 14:18] cpilson opened #18614 "Swagger UI should automatically inject Authorization header when JWT is specified."
### Describe the bug

From https://stackoverflow.com/questions/68327095/how-do-i-properly-auth-with-jwt-to-openapi-ui-for-quarkus-smallyre-jwt

The UI doesn’t inject the Authorization header into the cURL command.

### Expected behavior

The UI should inject `-H “Authorization: <type> <JWT>”` into the cURL command.

### Actual behavior

CURL happens without a -H `”Authorization…”` entry.

### How

[2021-07-12 14:18] JiriOndrusek opened #18615 "Quarkus-security - there is no way of selecting providers from extensions"
### Description

I'm working on https://github.com/apache/camel-quarkus/issues/2005. I'm trying to use quarkus-security from camel-quarkus extensions.

I'm facing a problem, when extensions knows, that bouncycastle provider has to be used. This could be achieved by config property `quarkus.security.security-providers=BC`. Unfortunatelly I haven't found a way how to define it in an extension at bui

[2021-07-12 14:21] JiriOndrusek commented on #18615
I can try to provide a solution

[2021-07-12 14:27] phillip-kruger commented on #18614
Hi thanks for this. Do you have a reproducer ?

[2021-07-12 14:30] cpilson commented on #18614
(I’m running this through my phone right now, apologies.)

Sorry, as in, another person who has run into this?

[2021-07-12 14:32] phillip-kruger commented on #18614
As in a small app you can share that show the error.
(that makes it easier to look into the issue)

[2021-07-12 14:35] evanchooly commented on #18263
@FroMage https://github.com/evanchooly/quarkus-java-multi-pu

[2021-07-12 14:35] manovotn commented on #18510
So, I was trying to iterate over all app archives to build up knowledge of split packages but `ApplicationArchivesBuildItem#getAllApplicationArchives` doesn't seem to give access to all JARs. Namely, there can be 3rd party libs that are not indexed (no beans, no `beans.xml`, no config property for dep. scanning) but their classes can still be part of the running application because they will be in

[2021-07-12 14:36] cpilson commented on #18614
Ah, cheers. Let me quickly bang something out and I’ll throw it into GitHub as a public repo. 👍🏻

[2021-07-12 14:39] phillip-kruger commented on #18614
Thanks !

[2021-07-12 14:39] FroMage commented on #18263
Thanks

[2021-07-12 14:41] evanchooly commented on #18263
I'm likely missing something obvious to someone more familiar with hibernate's innards but I ran out of places to poke around.

[2021-07-12 14:46] sberyozkin commented on #18615
@JiriOndrusek Hi, can the single produce point do ? If the users are not expected to configure it manually then a custom extension producing it should work ? Sorry if I'm missing something

[2021-07-12 15:00] cpilson commented on #18614
See https://github.com/cpilson/quarkus-smallrye-jwt-issue

I've repro'd just now. The JWT resource code is Sebi's, from Devoxx, so that'll look familiar. :D

[2021-07-12 15:03] JiriOndrusek commented on #18615
@sberyozkin I probably don't understand you comment. Here is my case, where I can not find a solution with the current code (but I might be missing something):

- I'm writing a custom extension, which uses bouncycastle
- I need to set `quarkus.security.security-providers=BC` to achieve this
- I don't want to forrce user to set `quarkus.security.security-providers=BC`
-> my problem is that I can no

[2021-07-12 15:05] JiriOndrusek commented on #18615
@sberyozkin  We can  discuss also an option of creating a separate bouncycastle extension (or extending the current one) - based on camel-quarkus's one. I can work on it.

[2021-07-12 15:08] #18566 closed

[2021-07-12 15:09] cescoffier commented on #18566
Thanks for the feedback @JeffreyThijs

[2021-07-12 15:12] cescoffier commented on #18604
From what I understand, you want to inject the token for a specific authentication mechanism of Kafka. This would require having access to this authenticator and configuring it (if that's possible). The configuration is done once (and so unsuitable for this case).

We may be able to use record interceptors to configure the token per message, but I'm not totally sure how this would work.

[2021-07-12 15:23] ChrisSchoe opened #18621 "Deserialization/Instantiation failures at rest endpoint with multi-level generics"
### Describe the bug

Using Quarkus 2.0.1 with resteasy and jsonb fails in some cases when using classes for request bodies whose definition relies on multiple levels of generics. A minimal example can be found [here](https://github.com/ChrisSchoe/quarkus-resteasy-bug-minimal-example).
When using Quarkus 1.13 everything works fine.

### Expected behavior

Sending a POST request with the suitable j

[2021-07-12 15:23] jamezp opened #18622 "Upgrade RESTEasy from 4.6.1.Final to 4.7.0.Final"
### Description

Release Notes for 4.7.0.Final: https://issues.redhat.com/secure/ReleaseNote.jspa?projectId=12310560&version=12353153

### Implementation ideas

_No response_

[2021-07-12 15:27] phillip-kruger commented on #18614
Great ! Thanks. Looking at it now.

[2021-07-12 15:29] #18586 closed

[2021-07-12 15:30] sberyozkin commented on #18615
Hi @JiriOndrusek - the reason no dedicated extension exists yet is that at a time the code was added there was no clear idea how BC FIPS could be supported at the product level - AFAIK - this is still an open question - so for now lets try to work around the existing code.

So, what I meant, can your custom extension do:

[code]

? I think it should be a multiple point producer - i.e either the us

[2021-07-12 15:31] #18550 closed

[2021-07-12 15:50] sberyozkin commented on #18604
Yes, into the one which can currently create the tokens itself (and uses Nimbus as per the Zulip discussion).

Hopefully this or something similar could eventually work :-)

[2021-07-12 15:57] phillip-kruger commented on #18614
Ok, You still need to indicate what method(s) the ecurity should apply on. Example, adding

[code]

to the `helloRolesAllowed` method would add the token:

[code]

You can also `name` the the SecurityScheme (rather than using the default `SecurityScheme`) by adding this to `application.properties`:

[code]

and then you would change the name in the `@SecurityRequirement` annotation.

If you do not

[2021-07-12 16:11] cpilson commented on #18614
User error? Oh man, I am so sorry about that. :( Thank you so much for looking into it.

[2021-07-12 16:13] gsmet commented on #18590
This PR should fix it: https://github.com/quarkusio/quarkus/pull/18626 .

[2021-07-12 17:24] #18391 closed

[2021-07-12 17:43] phillip-kruger commented on #18614
No problem. It's not really a user error. I guess we could try and add a property to auto-add all methods that also have `RoleAllowed`. Let's keep this open and I can look into that. Basically, if there is only one SecurityScheme, and the `auto-add` config is enabled, then we do it. The only problem is that the filter has no knowledge of the other annotation on a method, but I think the extension

[2021-07-12 17:53] #18603 closed

[2021-07-12 18:10] #18590 closed

[2021-07-12 19:19] ebullient commented on #12936
I am coming back from PTO, and thinking this through.

From a CLI perspective, I think a `--with-parent` option on create could work, where that option either has a specified value (somehow referencing the parent) or the current directory is assumed.

We can also use the link through the BuildTool to find/resolve the appropriate parent build file or parent resources (depending on what that is). If

[2021-07-12 19:47] famod commented on #17093
Quarkus issue for the update: #18622

[2021-07-12 20:15] OliveiraMarcos opened #18632 "Error Build step with extension quarkus-jdbc-mssql"
### Describe the bug

Using the current version of quarkus 2.0.1.Final in build step with the extension MSSQL occurs the error:

[code]

### Expected behavior

Using jdbc h2

[code]

### Actual behavior

Using MSSQL

[code]

### How to Reproduce?

* Create a new Project Quarkus version 2.0.1.Final
* Add following extension:
[code]
* Configure the application.properties
[code]
* Run the comand `./m

[2021-07-12 20:24] stuartwdouglas commented on #18597
Even without DevServices this should not have to be configured twice, it should just re-use the config from OIDC, although when I attempted to use this it failed due to CORS (i.e. keycloak not sending the access-control-allowed-origins header, so the browser rejected the auth request).

[2021-07-12 21:11] piotr-szybicki opened #18634 "Expose LOG_QUERIES_SLOWER_THAN_MS for Hibernate"
### Description

Hibernate has this great option (https://vladmihalcea.com/hibernate-slow-query-log/) to set threshold above which the query us marked as slow and logged. I don't thing there is a way to set it under the current implementation in Quarkus.

### Implementation ideas

_No response_

[2021-07-12 23:18] ronsigal commented on #17735
I've created https://issues.redhat.com/browse/RESTEASY-2965 "Improve handling of invalid media types" for this problem.

[2021-07-13 04:51] stuartwdouglas commented on #18621
This is related to the upgrade from Yasson 1.0.8 to 1.0.9, if you force version 1.0.8 this works.

Can you report it at the Yasson project: https://github.com/eclipse-ee4j/yasson

[2021-07-13 04:52] stuartwdouglas commented on #18499
cc @radcortez

[2021-07-13 05:04] stuartwdouglas commented on #18498
@mkouba this line looks a bit suspect: https://github.com/quarkusio/quarkus/blob/d4dd21bd0135285aea825ca8444f28ce89688b6c/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/DecoratorGenerator.java#L280

Why is it looking for interceptor bindings for a decorator?

[2021-07-13 05:21] stuartwdouglas commented on #18469
This sounds like https://github.com/netty/netty/pull/11358

Unfortunately it has not made it into a released version of Netty yet.

[2021-07-13 05:22] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1025314404

[2021-07-13 06:28] phillip-kruger commented on #18503
@stuartwdouglas - I looked at this, and I do not think this is a OpenAPI issue. There are however other potential issue with the OpenAPI code, as I would assume that the CORS headers should be used if configured ? (separate issue)

The duplication only happens when adding `--http2-prior-knowledge` to the curl command. The OpenAPI code calls the `resp.headers().setAll` method on `io.vertx.core.http

[2021-07-13 06:47] #18329 closed

[2021-07-13 06:52] yrodiere commented on #12923
@Sanne Are you still looking at this? Should I take over?

[2021-07-13 07:03] mkouba commented on #18498
Indeed, this is not correct. It should be `decorator.getDeployment().getQualifier(delegateQualifier.name())`. I'll send a PR shortly...

[2021-07-13 07:05] mkouba commented on #18498
FTR this bug occurs if a there is a decorator that declares a delegate injection point with non-defaulted qualifiers.

[2021-07-13 07:09] gunnarmorling commented on #18590
Excellent, thanks a lot for the quick fix, Guillaume!

[2021-07-13 07:09] mkouba commented on #18498
@mweber03 Note that decorators were NOT supported before 2.0, so you might expect different behavior in your application if it contains a decorator that was ignored in 1.13.7 and earlier versions.

[2021-07-13 07:47] #18492 closed

[2021-07-13 07:48] ia3andy commented on #12936
@ebullient I think it would be simpler for @cristian-com if you pick it up since you know where you want it to go.

@cristian-com you did great on this PR, sorry if the code base is a bit messy for now making things a bit complicated. Are you ok passing it to @ebullient?

If you are up for it I have some other issues waiting for you :) This time I'll try to find less confusing ones 😅

[2021-07-13 07:53] #17092 closed

[2021-07-13 08:13] radcortez commented on #18499
I'll have a look.

[2021-07-13 08:21] #18503 closed

[2021-07-13 08:23] gsmet commented on #18499
FYI, if all goes well, I plan to include the fix for #18498 in 2.0.2 released today or tomorrow. There's little chance I will release another 1.13.

[2021-07-13 08:45] Sanne commented on #12923
@yrodiere +1 for you to take it. Thanks!

[2021-07-13 08:47] Sanne commented on #18634
Right we should expose this property.

@piotr-szybicki would you be interested in trying to create a pull request?

[2021-07-13 09:06] sberyozkin commented on #18615
Even if both the custom extension does the above code and the user sets the property at the same time it should still work; if it is a multiple producer point then we'd have to accept a list of these items which given that there is only one BC provider instance would not be correct; so yes, please try the above code - hope it will be fine

[2021-07-13 09:29] gsmet commented on #8646
I'm removing the labels including this issue into status.quarkus.io. We can add them again later if the issue is properly synced.

[2021-07-13 09:39] Andro999b opened #18641 "mp.jwt.verify.publickey.location is build time property in 2.0.1.Final"
### Describe the bug

In 2.0.1.Final `mp.jwt.verify.publickey.location` become build time property

### Expected behavior

`mp.jwt.verify.publickey.location` stay runtime comfig property as it was in 2.0.0

### Actual behavior

`mp.jwt.verify.publickey.location`  is required to be evaluated in build time and cant be used with env variables

### How to Reproduce?

_No response_

### Output of `unam

[2021-07-13 09:41] JiriOndrusek commented on #18615
Hi @sberyozkin I originally used the same approach as you are suggesting. I tried it again (now) with

[code]

The result is an error:

[code]
I think that problem is caused by the fact, that build item `extends SimpleBuildItem` and `SecurityProcessor` accepts `Optional<BouncyCastleProviderBuildItem> bouncyCastleProvider` and nt list.

[2021-07-13 09:42] metacosm commented on #18352
/cc @maxandersen

[2021-07-13 09:51] cristian-com commented on #12936
Honestly I've invested a bit of my time with the pr and amendments so it would be good if I can get it closed. I just pushed the last changes. Everything in the scope of the thicket is pretty much covered apart from the dependency management, so I'm happy to leave that out of the scope.

@ebullient I could move the methods I have created to the CreateProjectHelper class  but I will have to remove

[2021-07-13 09:55] kliebhart opened #18642 "Security provider BC + Native Mode not working in Quarkus v2.0"
### Describe the bug

Since upgrading Quarkus to version 2.0 the security provider Bouncy Castle seems not supported anymore.

**Quarkus Platform (working):** 1.13.0.Final
**Quarkus Platform (not working):** 2.0.1.Final

_Related Dependencies:_
[code]

Register Security Provider in _application.properties_
[code]

According to migration guide (https://github.com/quarkusio/quarkus/wiki/Migration-Gu

[2021-07-13 10:49] vsevel commented on #18360
hello, I have managed to get some results. I have created a host with `16 Gb` and `8 cores`. I built the native executable with a mix of Quarkus `1.13/2.0`, GraalVM `21.0/21.1` and docker yes/no. The source code is the same, the host is not running anything else, and I have used a `-J-Xmx10g`
Here is for each configuration the total amount of time in seconds and the max amount of memory consumed b

[2021-07-13 10:54] gsmet commented on #18642
Please provide the full stacktrace of the error in the description. Thanks!

[2021-07-13 10:56] vsevel commented on #18360
detail for all runs:

[code]

[2021-07-13 11:02] #18498 closed

[2021-07-13 11:05] sberyozkin commented on #18641
@Andro999b How to you set as an ENV var ? Roberto, @radcortez can you check it please - I don't think anything has changed at the `quarkus-smallrye-jwt` or `smallrye-jwt` level in this regard

[2021-07-13 11:08] raducrisan1 commented on #17386
It still happens in 2.0.1.Final:

`: java.lang.RuntimeException: java.lang.ExceptionInInitializerError
        at io.quarkus.test.junit.QuarkusTestExtension.throwBootFailureException(QuarkusTestExtension.java:699)
        at io.quarkus.test.junit.QuarkusTestExtension.interceptTestClassConstructor(QuarkusTestExtension.java:772)
        at org.junit.jupiter.engine.execution.ExecutableInvoker.lambda$

[2021-07-13 11:09] Andro999b commented on #18641
@sberyozkin like this:

[code]

on 2.0.0.Final its build without any problem. But on 2.0.1.Final i gets an error:

[code]

[2021-07-13 11:10] sberyozkin commented on #18642
BC provider alone works in the native image, at least according to [this test](https://github.com/quarkusio/quarkus/blob/main/integration-tests/bouncycastle/src/test/java/io/quarkus/it/bouncycastle/BouncyCastleITCase.java). Please also specify a GraalVM version

[2021-07-13 11:14] famod commented on #18594
Looks very similar to #18352

[2021-07-13 11:36] sberyozkin commented on #18641
@Andro999b Thanks, I believe it is not the problem of this property itself becoming a build time property only, @radcortez, that exception message rings a bell as I've seen something similar reported. @Andro999b - can you please provide a bit more info about how is `NAMESPACE` provided ? From the command line or as Kubernetes config var, etc

[2021-07-13 11:57] Andro999b commented on #18641
@sberyozkin its passed as env variable to container in kubernates
[code]

[2021-07-13 12:03] sberyozkin commented on #18615
Hi @JiriOndrusek, it can't be a list since there could be only a single BC instance - this build item also has a fips property so accepting a list would make it impossible to decide if FIPS must be enforced or not when one item has it on and another one - off.

Though, can you please try to make it a multiple producer item as you suggested but also change `Optonal<BouncyCastleProviderBuildItem>` t

[2021-07-13 12:20] JiriOndrusek commented on #18615
@sberyozkin Your proposal makes sense. I will try it.

I see a small modification:

- As you said, let buildItem be a multi-one, then security processor will accept a **List**. Build items should have hashCode / equals reworked as you said. But in case that there are 2 or more items (which means that several items differ - e.g. in fips flag or something),some kind of validation error with explanat

[2021-07-13 12:22] sberyozkin opened #18648 "Prefer BasicAuth challenge when more than one mechanism in registered and it is not possible to detect the client preference"
### Description

Right now, if, for example, both Bearer token and Basic Auth mechanisms are enabled, then, if the authentication fails and the challenge is required, and it is not possible to detect the client preference, for ex, `Authorization` header was simply not set, and when no path specific mechanism config has been provided, then the 1st mechanism in the list will be used to create a chal

[2021-07-13 12:31] sberyozkin opened #18649 "Update OidcClient to support JWT bearer grant and Token propagation filter to use it"
### Description

[JWT bearer grant](https://datatracker.ietf.org/doc/html/rfc7523#section-2.1) can be useful for facilitating API to API calls in some deployments as nicely explained by @pmlopes in one of the discussions.
(Note JWT authentication is already completely supported by both OidcClient and OIDC extensions)

### Implementation ideas

Do minor updates to OidcClient to support this grant a

[2021-07-13 12:43] sberyozkin commented on #18615
@JiriOndrusek Np at all, great we agree about the potential problem of having it as List. As far as I understand we agree on how and to address it as well, let me know please if I misunderstood

[2021-07-13 13:09] #15943 closed

[2021-07-13 13:13] #5492 closed

[2021-07-13 13:13] #18375 closed

[2021-07-13 13:17] #17800 closed

[2021-07-13 13:33] geoand commented on #18632
I was able to reproduce this with Quarkus `2.0.1.Final`, but not with Quarkus built from `main`. So I am going to close this as already fixed

[2021-07-13 13:33] #18632 closed

[2021-07-13 13:34] gsmet commented on #18632
I think we should check if the 2.0 branch also has the fix or we might have to backport something.

[2021-07-13 13:35] sberyozkin commented on #18597
@stuartwdouglas Hi Stuart, makes sense.

There are 2 cases here:
- if it is `quarkus-oidc` `service` app then as far as Swagger UI is concerned it effectively acts as a browser hosted SPA which itself acquires a token from KC using for ex a password grant (or may be a client creds grant - @phillip-kruger, please clarify), Phillip showed it in his demos, and then the token is being sent to Quarkus

[2021-07-13 13:35] geoand commented on #18632
OK, lemme check

[2021-07-13 13:45] geoand commented on #18632
The `2.0` also does **not** suffer from the problem.

[2021-07-13 14:00] gsmet commented on #18632
Thanks for checking, affecting the 2.0.2.Final milestone!

[2021-07-13 14:04] geoand commented on #18632
Cool!

[2021-07-13 14:12] ebullient commented on #12936
We can integrate it.. I'll just have to adjust things later. There is one conflict now to resolve, and I'll sort the rest after.

(btw, there is no issue with your work here -- it has just run afoul of timing and some cleanup work.. )

[2021-07-13 14:22] zakkak commented on #17046
Well, that was apparently because `-Dquarkus.native.additional-build-args='--enable-all-security-services'` on the command line was overriding the `quarkus.native.additional-build-args` value from the properties file...

So after including the resources, reverting https://github.com/oracle/graal/commit/a0ea2cdee4a5569b686660e9c681a3454e4c02e7 does indeed make the test pass with 21.1.

The issue pe

[2021-07-13 14:38] #14981 closed

[2021-07-13 14:43] #15752 closed

[2021-07-13 15:19] #18237 closed

[2021-07-13 16:03] #15432 closed

[2021-07-13 16:06] gsmet opened #18654 "panache-archive.marker file created at the root when building the optaplanner-quickstart"
When I build the `optaplanner-quickstart` from our quarkus-quickstarts, I end up with a `panache-archive.marker` created at the root of the app.

Just run `mvn clean install` and the file appears. I wouldn't expect it to end up at the root of the project for the application itself?

@FroMage does it ring a bell?

[2021-07-13 16:16] MartinX3 commented on #16785
Yes, it would be very useful to use kotlin with panache hibernate reactive.

[2021-07-13 17:40] sberyozkin opened #18658 "'config' namespace is not available in Dev UI `embedded.html`"
### Describe the bug

I've tried to add a check based on `{config:property('...')}` to `embedded.html` as shown [here](https://quarkus.io/guides/dev-ui#accessing-config-properties) and I've got:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No

[2021-07-13 17:41] sberyozkin commented on #18658
@phillip-kruger Hi, I might've done something wrong, I'll retry tomorrow again

[2021-07-13 18:16] sberyozkin opened #18659 "Restarting dev services container does not affect the config properties such as this container URL"
### Describe the bug

Sorry if the bug description is misleading, hard to tell where the problem is at the moment.
I've noticed it while experimenting with `Dev Services for Keycloak` draft PR.
After restarting a container the property which calculates its address is not refreshed in the template.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Can

[2021-07-13 19:05] vsevel commented on #18360
here is the case where the reports have been attached: https://access.redhat.com/support/cases/#/case/02987371

[2021-07-13 19:09] sjaakd commented on #18587
@MikeEdgar do you need additional information?

[2021-07-13 20:37] maxandersen opened #18660 "native runner binary should have platform encoded"
currently the runner gets named something like: `quarkus-cli-999-SNAPSHOT-runner.jar` i.e. `project-version-runner.jar`

For the .jar that is fine, but for the native executable its unfortunate - especially on windows and mac since if I do:

`mvn package -Pnative` I get a OSX executable named `quarkus-cli-999-SNAPSHOT-runner` but I get the a ELF/linux binary when doing `mvn package -Dquarkus.nativ

[2021-07-13 21:54] asodja commented on #16596
Any update on this one?

[2021-07-13 22:02] rdehuyss commented on #3322
Would love to be able to add a real Quarkus extension in [JobRunr](https://github.com/jobrunr/jobrunr). JobRunr uses Gradle as build tool and I prefer not to mix this with maven.

[2021-07-13 23:42] AlexandreGuidin opened #18667 "A jackson converter for hibernate-reactive"
### Description

Create some extions like https://github.com/vladmihalcea/hibernate-types

To dynamic convert my custom classes to JSON column in database

### Configuration suggestion

_No response_

### Additional context

I don't know if it have to be exclusive of quarkus, or external library

[2021-07-13 23:59] CurtisBaldwinson opened #18669 "Redis breaks on live reload"
### Describe the bug

**Using Quarkus 1.13.4.Final**
1. App uses a Redis connection (ReactiveRedisClient)
2. Perform a postman call to an endpoint that calls Redis in some way
3. Successful response
4. Make any change such that performing another call triggers live reload
5. Successful response

**Using Quarkus 2.0.1.Final or 2.0.2.Final**
1. App uses a Redis connection (ReactiveRedisClient)
2. Pe

[2021-07-14 00:16] stuartwdouglas commented on #15668
This will stop the blocked thread messages when a debugger is attached:  https://github.com/quarkusio/quarkus/pull/18668

[2021-07-14 00:57] stuartwdouglas commented on #18360
I am guessing that this is something to do with reflection registration for the kube API.
Can you attach reports for both 21.0 and 21.1 so we can compare them and see if there are additional classes being included (not sure which version the attached reports are)?

[2021-07-14 02:18] zakkak commented on #17046
The issue appears to be related to the way that we add the "BC" and "BCJSSE" providers. They way we current do it is through a static initializer:

https://github.com/quarkusio/quarkus/blob/cdd3a38924952cd4541862ce61f48aba87e93956/extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java#L193-L204

This static initializer however appears to be called after

[2021-07-14 02:18] zakkak commented on #18642
This makes me think that this is probably related to https://github.com/quarkusio/quarkus/issues/17046

[2021-07-14 03:55] maxandersen commented on #18386
I'm not saying data(properties) is wrong. I'm saying that there is missing an easy way to *add* a map and data is surprisingly asymmetric.

Ie. .data("a", a).data("b", b) adds two properties but .data("a", a).data("b", b).data(map) removes a and b.

[2021-07-14 04:25] oo00spy00oo opened #18672 "Config Error with Quarkus 2.0"
### Describe the bug

In Migration Guide 2.0, I found:
`Mapping of YAML Configuration to complex objects has been removed from io.quarkus.arc.config.ConfigProperties. Please use io.smallrye.config.ConfigMapping instead which is a safer alternative.`

But I have an issue bellow, and I must revert to `io.quarkus.arc.config.ConfigProperties` to solve the issue.

[code]

### Expected behavior

Using `

[2021-07-14 04:45] aloubyansky commented on #3322
@rdehuyss do you mean you want to develop a Quarkus extension for the JobRunr? I can help you set it up in Gradle.

[2021-07-14 05:35] dan-dr opened #18673 "ServerEndpointConfig.Configurator is on IO thread although quarkus.websocket.dispatch-to-worker is specified"
### Describe the bug

I created a custom ServerEndpointConfig.Configurator for my websocket endpoint.
using `quarkus.websocket.dispatch-to-worker=true` my @ServerEndpoint is indeed on the worker thread. but the configurator it uses stays on the IO thread, preventing me from doing some important blocking stuff.

### Expected behavior

the  ServerEndpointConfig.Configurator methods should run on wor

[2021-07-14 05:42] dan-dr commented on #18673
alternatively - if there's a way for the modifyHandshake response to not return until I complete a future or something... but I'm not sure it's doable with the configurator api.

[2021-07-14 05:55] ingenthr commented on #6228
Hey all-- Matt from Couchbase here-- that'd probably be from my team and I'm interested in that.  We don't have someone working on it quite yet, but something I want to do soon.  Feel free to ping me @patrox .

[2021-07-14 06:37] rdehuyss commented on #3322
@aloubyansky , that would be great!

[2021-07-14 06:39] aloubyansky commented on #3322
Are you on Zulip? That'll be easier to communicate.

[2021-07-14 06:40] glefloch commented on #16596
Not yet but refactoring on the dependency management has been done it should help for this one.

[2021-07-14 06:41] glefloch commented on #3322
I can help too if needed.

[2021-07-14 06:44] rdehuyss commented on #3322
Not yet, I'll join in about an hour.

[2021-07-14 06:47] Postremus opened #18674 "jandex index is not generated for multi module project"
### Describe the bug

Right now we add an META-INF/beans.xml file to each module of quarkus projects. This works and the cdi beans in the modules are detected. The disadvantage is, that we have to remember to add these files.
I therefore wanted to simplifiy this by introducing the jandex-maven-plugin into our company wide quarkus parent.

The documentation says to simply add the jandex-maven-plugi

[2021-07-14 06:49] aloubyansky commented on #3322
Ping @aloubyansky and @glefloch when you're there.

[2021-07-14 06:57] geoand commented on #18672
@radcortez has this already been fixed?

[2021-07-14 07:10] giulianoAX commented on #8140
any workaround available at the moment to retrieve the Caffeine cache stats, while we wait for the PR #8631 to be merged?

[2021-07-14 07:22] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1029052883

[2021-07-14 07:33] patrox commented on #6228
Hi @ingenthr, I have started to work on this anyway, as I didn't see any progress so far.

But, it's awesome that someone from Couchbase would like to contribute/help in that.

How can I reach you, so we can exchange our ideas for that ? If you start to work on that I would be very interested in helping you, as I'll need this extension in Quarkus.

[2021-07-14 07:56] aalmiray commented on #18660
Please use the same platform names as detected by https://github.com/trustin/os-maven-plugin

[2021-07-14 08:05] Postremus opened #18676 "Clicking on application class in stacktrace causes 500 in dev ui"
### Describe the bug

I use idea for development.

Stack traces of the application are visible in the dev ui. Application classes are clickable, and should open the file in the ide. (see #15761)

This does not work however in my testing. The http access log simply shows a 500 status code.

### Expected behavior

File is opened in idea. If no ide is found, an actionable error message should be show

[2021-07-14 08:12] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1029062480

[2021-07-14 08:17] geoand commented on #18676
Let me check

[2021-07-14 08:22] geoand commented on #18676
I couldn't reproduce this. Do you have a stacktrace perhaps?

[2021-07-14 08:35] Postremus commented on #18676
Hi @geoand,
No, was not able to get an stacktrace.
I believe the 500 status code is caused by this line: https://github.com/quarkusio/quarkus/blob/043f8070abb5c5ada02632b1d7829abec60e067a/extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/OpenIdeHandler.java#L46-L51
Activating debug logging for that logger prints following:

[code]

I have in my %PATH%

[2021-07-14 08:40] geoand commented on #18676
Would you be willing to debug through `io.quarkus.deployment.ide.IdeProcessor` and see what Quarkus is figuring out for your environment?

[2021-07-14 08:45] Postremus commented on #18676
I'll take a look later today.

[2021-07-14 08:45] geoand commented on #18676
Thanks a lot!

[2021-07-14 08:48] FromMeToMyself opened #18678 "is quarkus-hibernate-orm contains a class like SpringPhysicalNamingStrategy ?"
### Description

If not, will this feature appear in the next of quarkus?

### Implementation ideas

_No response_

[2021-07-14 08:58] geoand commented on #18678
You can use `quarkus.hibernate-orm.physical-naming-strategy` to define your own strategy.

Our `quarkus-spring-data-jpa` extension does contain this class, but of course the regular `quarkus-hibernate-orm` extension does not.

[2021-07-14 08:58] #18678 closed

[2021-07-14 08:58] Sanne commented on #18678
No it doesn't. What are you needing to do?

[2021-07-14 08:59] sberyozkin commented on #18642
Hi @zakkak You are referring to a BC JSSE registration - it is a different provider (the `bctls-jdk15on` has a JSSE provider which depends on its own copy of the BC provider). However, you may be right is that there is some connection (some algorithm is dropped, something like that).
I linked above to the test case which runs a simple BC provider in native image, it is a basic test which verifies

[2021-07-14 09:09] FromMeToMyself commented on #18678
Map database under_score field to java model camelCase field.
Although I can define it by myself, but I think if it provided by quarkus maybe better.
It just my opinion😄.

[2021-07-14 09:14] Sanne commented on #18678
I'm ok to add some generallyu useful naming strategies directly in the project if you'd like to contribute them.

[2021-07-14 09:28] famod commented on #18674
@aloubyansky Maybe it's time to finally implement what I was thinking about not so long ago: execute all plugin goals taht are bound to phase x and before (possibly including a blacklist to avoid enforcer etc.).

[2021-07-14 09:30] famod commented on #18674
@Postremus Just an idea for a workaround: Create a `qdev` (or whatever) Maven profile and set `<defaultGoal>clean jandex:jandex quarkus:dev</deaulfGoal>` so you can simply call `mvn -Pqdev`.

[2021-07-14 09:33] aloubyansky commented on #18674
We are actually not executing any goals on other modules than the main app. However, if the index is present in the other modules, it should be ignored and re-calculated in dev mode.

[2021-07-14 09:39] famod commented on #18674
Ah, yes - I missed that. I think the main problem here is that `clean` is used and (as you said, on purpose) dev is not doing anything in modules that are not building the actual app.

[2021-07-14 09:41] aloubyansky commented on #18674
Right. The project should be built first. @Postremus if you add `<phase>compile</phase>` to the jandex plugin config then `mvn clean compile quarkus:dev` executed from the root will work.

[2021-07-14 09:45] aloubyansky commented on #18674
I am going to close this issue for now. It's not a bug. We are not applying any plugins automatically as part of `quarkus:dev` to the dependencies. It could potentially become a feature request though.

[2021-07-14 09:45] #18674 closed

[2021-07-14 09:53] zakkak commented on #18642
Correct, however, [the issue I found](https://github.com/quarkusio/quarkus/issues/17046#issuecomment-879533170) is not BC JSSE specific, so it's probably affecting all the providers. To be honest I am not even sure why/how only BC JSSE is failing at the moment, I would expect the other tests to also fail at least once in a while, but in those tests the providers seem to get registered on time, des

[2021-07-14 10:13] cristian-com commented on #12936
@ebullient it is ready. I didn't add any testing but all the ones created here https://github.com/quarkusio/quarkus/pull/12916#discussion_r511767183 are passing. I could add some more later in the day.

@ia3andy please note that this doesn't cover dependency management.

[2021-07-14 10:19] radcortez commented on #18672
Looking into the reproducer code, the `@ConfigMapping` annotation only applied to interfaces, not classes. I'll check if the current case is working with interfaces.

We probably need to add an explicit warning that the annotation only works with interfaces.

[2021-07-14 10:20] Postremus commented on #18676
@geoand
I read through the source of the IdeProcessor a bit, and found some possible culprits.

1. Detecting the .idea directory is not working for multi module projects.
https://github.com/quarkusio/quarkus/blob/main/core/deployment/src/main/java/io/quarkus/deployment/ide/IdeProcessor.java#L130-L142

The .idea directory is part of the root project (multi-module-jandex/.idea). The projectRoot vari

[2021-07-14 10:26] laemm-line commented on #18500
Same problem here.

application.yaml in src/main/resources
Quarkus version 2.0.2.Final
Gradle version 7.1.1

[2021-07-14 10:27] geoand commented on #18676
That's very useful information, thanks!

[2021-07-14 10:38] radcortez commented on #18672
I confirm that the same code with the expected interface works as expected. I'll add a warning (or a better exception) to prevent the mistake.

[2021-07-14 10:43] xtaixe commented on #18559
I've been looking at JaCoCo configuration parameters and at the Quarkus JaCoCo extension and I'm not sure I know enough about how things work behind the scenes to get things working... I tried relying on the extension to generate the report for integration tests instead of the JaCoCo maven plugin, but it didn't work... I wonder if in this case is just that the extension is somehow not triggered fo

[2021-07-14 10:45] geoand commented on #18676
Would you be able to try https://github.com/quarkusio/quarkus/pull/18682 and see if it works on your environment?

[2021-07-14 10:47] mkouba commented on #18386
Yes,it's a bit "asymmetric", purposely. And I've tried to explain the reasons in the previous https://github.com/quarkusio/quarkus/issues/18386#issuecomment-878051753.

As for the "missing an easy way to add a map". Well, we could discuss why not add methods for other types as well. But I don't think it would be helpful, rather the opposite - it might be even more confusing. BTW you can simplify y

[2021-07-14 10:53] vsevel commented on #18360
Hello @stuartwdouglas I have attached the following files to the case:
- `quarkus_1.13.7_graalvm_21.0.tar.gz`
- `quarkus_2.0_graalvm_21.0.tar.gz`
- `quarkus_2.0_graalvm_21.1.tar.gz`

[2021-07-14 11:08] carlesarnal opened #18683 "Server-side JAX-RS generation based on OpenAPI definition"
### Description

I am proposing a new extension that will perform a generation of the server-side code from an OpenAPI specification.

This extension can be based on the already existing Apicurio Studio codegen [feature](https://github.com/Apicurio/apicurio-studio/tree/master/back-end/hub-codegen). This code allows users to generate server-side (essentially JAX-RS classes and POJOs). This will als

[2021-07-14 11:36] stuartwdouglas commented on #18360
Between 21.1 and 21.0 the main difference seems to be a lot of these (almost 700 extra):

[code]

[2021-07-14 11:39] stuartwdouglas commented on #18360
Between 1.13 and 2.0 it appears way more of the kube API's get registered for reflection.

[2021-07-14 12:01] sberyozkin commented on #18658
I used the wring syntax, should be `{#else if config:('quarkus.oidc.devservices.enabled')}` while I tried `{#else if {config:('quarkus.oidc.devservices.enabled')}}` by copying it directly from the guide, so here there is a double `{`

[2021-07-14 12:01] #18658 closed

[2021-07-14 12:19] #18615 closed

[2021-07-14 12:22] sebthom opened #18684 "@Context UriInfo/HttpRequest not injected into custom ClientHeadersFactory"
### Describe the bug

In our app we need to add HTTP headers to rest client calls based on the incoming HttpRequests URI.

We are using `RestClientBuilder.newBuilder()` to instantiate rest clients as we need to be able to dynamically change the baseURL during runtime.

Fields added with "@Context" to our ClientHeadersFactory are not injected.

### Expected behavior

Injecting HttpRequest, UriInfo

[2021-07-14 12:23] radcortez commented on #18672
Implemented in https://github.com/smallrye/smallrye-config/pull/619

[2021-07-14 12:24] radcortez commented on #18672
@oo00spy00oo let us know if replacing the class with the interface works. Please, check the docs here: https://quarkus.io/guides/config-mappings#config-mappings

[2021-07-14 12:30] radcortez commented on #18499
@mweber03 I had a look in the reproducer and the issue is that you are using the `@ConfigMapping` annotation in a class, but the annotation can only be used in interfaces. Can you please try with an interface?

[2021-07-14 12:30] radcortez commented on #18499
Implemented a validation in smallrye/smallrye-config#619

[2021-07-14 12:55] ppalaga commented on #8646
We have a nightly build that we watch and we'd like to attach that one to your dashboard.

When it comes to the issue status.quarkus.io could watch, can it be an issue in Camel Quarkus?
We already have something like that, but our ci job is opening a new issue for every new failure. I think we would not mind keeping the issue number constant over time and just switch the state.

[2021-07-14 12:55] vsevel commented on #18360
do you think this is going to increase with new apis getting supported?
we have https://github.com/fabric8io/kubernetes-client/pull/2930 coming up with 5.5.
/cc @iocanel

[2021-07-14 13:02] radcortez commented on #18641
I did try this locally and it worked fine for me. Can you confirm that the environment variable is really present in the pod?

[2021-07-14 13:13] #18510 closed

[2021-07-14 13:13] #18553 closed

[2021-07-14 13:47] #18622 closed

[2021-07-14 14:04] sberyozkin commented on #18659
There was a problem with the build step - Stuart, FYI, if the restart is not required then the various config property items have to be re-produced - returning null is a problem - I've copied this code myself - perhaps it is not a problem for other extensions

[2021-07-14 14:04] #18659 closed

[2021-07-14 14:40] sberyozkin commented on #18597
Phillip, I reassigned it to you, thanks

[2021-07-14 14:43] Sabartius commented on #17523
We upgraded serveral of our Multi-Maven-Module Projects from 1.13.x to 2.0.2 and face similar errors in our QuarkusTests

[code]

the classpath seems to contain the changelog from the jar and target-directory 🤔

[2021-07-14 14:50] silviu-negoita opened #18685 "JDBC connection does not reset"
### Describe the bug

1. Having up the application, with a sqs collector, started at booting via `ManagedExecutor`:
[code]
Somewhere down the line, I do some DB selects / inserts
2. Reset the database. Reproduced in aws cloud, but even in local, with docker postgres db container. At this step end, databse is up and ready. Accepting new connections.
3. Got stack trace
[code]

4. App still up, recei

[2021-07-14 14:58] kenfinnigan commented on #18575
Thanks @hacst, I'm taking a look today

[2021-07-14 15:40] Andro999b commented on #18641
@radcortez its build time error(`./gradlew build`). During build we do not set NAMESPACE env var.

[2021-07-14 16:11] maxandersen commented on #1366
duplicating https://github.com/quarkusio/quarkus/issues/18660

[2021-07-14 16:28] galderz commented on #18360
@vsevel I've been looking at the discrepancies between GraalVM 21.1 and 21.0 and in particular those MethodHandle reflection registrations that @stuartwdouglas talked about. Looking at the call tree, it would seem to me that your code is using them MethodHandles directly, can you confirm?

If that is the case, could you find a way to not use MethodHandles nor Reflection? We have plenty of experien

[2021-07-14 17:54] bcluap opened #18689 "Mutiny Uni context propagation leaks transaction context to eventloop threads"
### Describe the bug

We have an intermittent error "ARJUNA016053: Could not commit transaction" caused by "Caused by: java.sql.SQLException: Enlisted connection used without active transaction"  The details are as follows:

Using ReSTEasy Reactive with endpoint marked as @Transactional and @Blocking
1) Request hits endpoint
2) Endpoint does some DB work using hibernate with a worker thread
3) End

[2021-07-14 18:16] starksm64 opened #18690 "Problems running CDI-lite TCK tests using byte code transformed dependencies"
### Describe the bug

This is more of a note to track potential issues with EE9+ support prior to actually updating the Quarkus dependencies to the EE9+ jarkata.* package APIs.

Following the approach that Wildfly has taken for its EE9 preview to transform the artifacts with EE8 dependencies into EE9 dependencies using byte code transformation using the eclipse transformer, I created a TCK runner

[2021-07-14 18:46] bcluap commented on #18689
Applying this change on the http client to manually suspend the transaction resolves the issue:
[code]

I don't think this should be needed though?

[2021-07-14 18:47] n1hility commented on #18690
The solution that we have used in other contexts is to switch to independent artifactids, so that each can have its own dep specification. An example for hibernate is here: https://github.com/hibernate/hibernate-orm/blob/main/hibernate-core-jakarta/hibernate-core-jakarta.gradle. Although it's gradle based.

/cc @Sanne @radcortez

[2021-07-14 18:53] vsevel commented on #18360
hi @galderz, that is not the case. in the [smbj](https://github.com/hierynomus/smbj) extension I wrote, I had to enable reflection for: `SpnegoAuthenticator, Session, Connection, SMBClient, Pooled` and `ReflectiveHandlerInvocation` for [mbassador](https://github.com/bennidi/mbassador) (which may be suspicious). for the other extension I wrote for logging, there is just one class used for configura

[2021-07-14 19:40] zemiak opened #18692 "Unable to install quarkus cli via jbang"
### Describe the bug

After installing the Quarkus cli and trying running it, I am getting compilation errors, apparently jbang is trying to compile a jar file.

### Expected behavior

I should be happily using the CLI by now

### Actual behavior

Getting cryptic binary characters in my terminal

### How to Reproduce?

1. cli installation (--fresh does not work for me):
`jbang app install --force

[2021-07-14 19:42] ebullient commented on #18692
Wow! That's .. interesting. I did that this morning and it installed fine.

That is a pretty old version of jbang (I have 0.71.1 isntalled).
Update jbang, and try again?

[2021-07-14 19:51] zemiak commented on #18692
Wav, that was a quick reaction :-) Of course, it's an old jbang - the `jbangdev/tap/jbang` is prety much outdated. After installing 0.72.0 everything works. Thanks!

[2021-07-14 19:51] #18692 closed

[2021-07-14 20:29] zemiak opened #18694 "cli does not pass arguments to the app when using "--" shortcut"
### Describe the bug

When using a tip from quarkus tips 57 using maven, the quarkus cli does not pass arguments down to the app

### Expected behavior

`quarkus dev -- World` should pass the arguments down to the command line app

### Actual behavior

Getting from maven: `Unknown lifecycle phase "World"`

### How to Reproduce?

1. create a stock cli app: **quarkus create cli**
2. go there: `cd co

[2021-07-14 20:57] zemiak opened #18695 "dev mode does not pass the command-line arguments correctly to the app"
### Describe the bug

I am not sure, if this is caused by some dev mode glitch, or by the app generated using cli "create" template. However, if I am running:
`mvn compile quarkus:dev -Dquarkus.args='World'`
I am getting:
[code]

When I'm running:
`java -jar ./target/quarkus-app/quarkus-run.jar World`
I am getting:
[code]

### Expected behavior

When running dev mode: the same output `Hello World,

[2021-07-14 21:04] ebullient commented on #18694
Fixed in #18666

[2021-07-14 21:08] zemiak commented on #18694
Thanks

[2021-07-14 21:08] #18694 closed

[2021-07-14 21:28] robertambrose21 commented on #18522
Is there any workaround for this?

[2021-07-14 21:55] ingenthr commented on #6228
Feel free to reach out on LinkedIn or Twitter so we can exchange contact info.  I'll also try my magic github powers to see if I can dig up an email address for you.  :)

cc/ @daschl who has been doing some work here

[2021-07-14 22:08] famod opened #18698 "Add basic injection capabilities to QuarkusTestResourceLifecycleManager"
### Description

As [discussed on Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Get.20instance.20of.20QuarkusTestResourceLifecycleManager.20in.20test.3F/near/245973578), it would come in handy if there was some convenient injection support in `QuarkusTestResourceLifecycleManager`.
Today you are on own since you only get the `testInstance` in `inject()` and you have to do

[2021-07-14 22:09] famod commented on #18698
/cc @geoand

[2021-07-14 22:48] AlexandreGuidin commented on #18565
@FroMage

Other weird thing, you see that maven projects it works, but gradle it not ?
 at least until version `2.0.1.Final`

[2021-07-15 00:47] HonoluluHenk commented on #12923
In case you need another reproducer using Quarkus 2.0.2:

https://github.com/HonoluluHenk/quarkus-hibernate-entity-id-bug

just do a `./mvnw clean test`

[2021-07-15 02:45] misterjoshua commented on #8167
Same issue here. I'm using io.quarkus:quarkus-maven-plugin:2.0.1.Final. I'm using the `build`, `generate-code`, and `generate-code-tests` mojos. Here's some debug output from maven:

![image](https://user-images.githubusercontent.com/644092/125719742-bc76f8da-6369-4cbc-99a9-53aa42006d3b.png)

It looks like `generate-code-tests` is [not marked thread safe.](https://github.com/quarkusio/quarkus/blob

[2021-07-15 02:45] stuartwdouglas commented on #18565
I think not propagating JTA is fine for HR.

JTA TX commit is a blocking operation, so we really don't want JTA for a 100% reactive approach anyway.

[2021-07-15 02:48] stuartwdouglas commented on #8167
https://github.com/quarkusio/quarkus/pull/18701

[2021-07-15 04:14] stuartwdouglas commented on #18654
This is a duplicate of https://github.com/quarkusio/quarkus/issues/18134

Basically Optaplanner is creating a compiler instance that is not configured properly so the output ends up in the current working directory.

[2021-07-15 04:50] stuartwdouglas commented on #18673
I don't really want to dispatch the handshake for everyone, as this is a bit of a corner case.

As a workaround can you try this:

[code]

Basically it installs a handler before the websocket handler, that will dispatch to a worker. This should result in the configurator being run in a worker thread.

[2021-07-15 04:51] stuartwdouglas commented on #18685
Are you getting a new connection from the pool each time or are you holding onto one for the life of the app?

[2021-07-15 05:03] stuartwdouglas commented on #18695
I just tested it out and I can't reproduce it.

Did you add some tests to get the '[e] to edit command line args (currently 'World')' prompt? Quarkus 2.0.1 has a bug where that will only show up if you tests.

[2021-07-15 05:22] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1032713338

[2021-07-15 05:40] geoand commented on #18698
Thanks for reporting!

This seems pretty useful to me. Hopefully I can pick it up soon

[2021-07-15 05:47] geoand commented on #18695
I could not reproduce this either.

[2021-07-15 05:48] geoand commented on #18689
cc @FroMage

[2021-07-15 05:49] geoand commented on #18673
@stuartwdouglas should we close this as `won't fix`?

[2021-07-15 06:02] Andro999b commented on #18641
@radcortez Here is reproducer https://drive.google.com/file/d/16bKFclddsRlaauWkmjYE3IVdlPIB4vOj/view?usp=sharing
just try to build it. It will fail on quarkus >= 2.0.1.Final

[2021-07-15 06:05] cescoffier commented on #18689
I need to check, but maybe we don't decorate the CompletableFuture (created by `subscribeAsCompletionStage()`) using context propagation. We have the feature, but I'm not sure we use it in this case.

Note that for Uni, it's built-in.

[2021-07-15 06:06] geoand commented on #18698
@FroMage always has exquisite API improvement ideas, so let's tap into his knowledge to get another take on this one :)

[2021-07-15 06:08] zemiak commented on #18695
The problem is, me neither. I have cleaned up my junk folder, recreated the project and it works now :-(
Yesterday was a strange evening, sorry.

[2021-07-15 06:08] #18695 closed

[2021-07-15 06:10] zemiak commented on #18695
Just for the record, that I am not wasting your time on purpose:
[code]

[2021-07-15 06:17] geoand commented on #18695
Thanks for taking the time to post your findings

[2021-07-15 06:18] geoand commented on #18698
My idea building on what @famod posted here is something like:

[code]

Then a supplied user implementations of `QuarkusTestResourceLifecycleManager` could do something like:

[code]

WDYT?

[2021-07-15 06:24] xabe opened #18706 "Grpc Server QuarkusIntegrationTest fail"
### Describe the bug

I'm not completely sure if this is a bug.

I have a project that I am using quarkus with grpc server that bump to the latest version (2.0.2.Final), the run mvn clean install -Pnative, the test it fails with the error

[code]

### Expected behavior

I expected that executing mvn clean install -Pnative the test will pass without errors

### Actual behavior

The build fails with

[2021-07-15 06:38] languitar commented on #18522
I could get things going by manually configuring jacoco as shown in this quickstart: https://github.com/quarkusio/quarkus-quickstarts/blob/main/tests-with-coverage-quickstart/pom.xml

[2021-07-15 06:41] geoand commented on #18706
When I ran `mvn clean verify -Dnative` on your `quarkus-grpc` project everything worked as expected.

[2021-07-15 06:45] jamesnetherton opened #18708 "OpenTelemetry - Provide the capability for `VertxTracingAdapter` to not create spans for specified paths"
### Description

For OpenTelemetry, it'd be useful if it were possible to introduce some mechanism that would enable `VertxTracingAdapter` to not create spans for a set of specified paths? (I.e via a BuildItem that other extensions can leverage)

There's a feature of the Camel OpenTelemetry component where you can exclude specific endpoints from tracing. It works fine, except for when Camel create

[2021-07-15 06:53] stuartwdouglas commented on #18231
Why not just have the health check manually read the config, and if this is not present it can just return UP.

[2021-07-15 06:58] stuartwdouglas commented on #18205
There is something that should work for you that is now merged: https://github.com/stuartwdouglas/quarkus/commit/54af257ec4b1a101669554744b6452fcfa3f4540

It's not JAX-RS specific, but can be used to remove resources from dependencies. An example is shown below:

[code]

If you replace the `io.quarkus\:quarkus-integration-test-shared-library` with your group:artifact and the class file name with t

[2021-07-15 07:04] Postremus commented on #18674
@aloubyansky

The maven compiler plugin is invoked for the service module as part of `quarkus:dev`.
[INFO] Invoking org.apache.maven.plugins:maven-resources-plugin:2.6:testResources @ service

The plugin first compiles, and then checks if it is configured for this module.
https://github.com/quarkusio/quarkus/blob/f6fb0506aca024ead6e40f7dbb402149047a35ef/devtools/maven/src/main/java/io/quarkus/mave

[2021-07-15 07:16] stuartwdouglas commented on #18673
If the workaround works, then definitely.

[2021-07-15 07:20] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1032713338

[2021-07-15 07:20] TomasHofman commented on #17832
This PR implements the new schema for REST client (classic and reactive): https://github.com/quarkusio/quarkus/pull/17220

[2021-07-15 07:29] xabe commented on #18706
@geoand it has to be with the profile native

[2021-07-15 07:32] #18575 closed

[2021-07-15 07:35] #18669 closed

[2021-07-15 07:45] maxandersen commented on #18579
so it turns out to be simpler than our plugin - it is our default gradle project creation that is turning it on.

See https://groups.google.com/g/quarkus-dev/c/Gp5UwLRaItA/m/SJd3iCdTBQAJ and

Here is with default gradle:

[code]

vs what we default enable:

[code]

[2021-07-15 07:50] iocanel commented on #18360
The extension that are being added to the kubernetes-client are not included in the kubernetes-client extension. So, I don't see this been a problem.

[2021-07-15 07:53] iocanel commented on #18360
With a quick glimpse I only see some CustomResource related stuff. Is there something additional?

[2021-07-15 07:55] famod commented on #18698
I like the varargs idea. CDI `BeanManager` and `Instance` use similar approaches.

PS: Another strategy, which can be used today, is to define an interface with one or more setters etc. and then use the existing inject method that can then simply do an `instanceof` + cast + call the setter. The rest is up to the implementing test class.
But Quarkus is about developer joy and the injector would mak

[2021-07-15 08:22] zhfeng commented on #18231
@stuartwdouglas it makes sense and I will work on this proposal if we all agree.

[2021-07-15 08:27] zbendhiba commented on #6228
Hello @patrox, are you working on the SDK 3 ? I worked on SDK 3 extension earlier and stopped due to all the work needed to be done.
@ingenthr @daschl : it would be a good start to stop using shaded netty, jackson... inside couchbase SDK.

[2021-07-15 08:32] daschl commented on #6228
@zbendhiba we are shadowing those dependencies because we had many cases in the past where users would run different versions of these and then we end up with classpath issues and version clashes. The user feedback has been very positive on this, and I think we can get graal native support done on top of the shadowed dependencies. Of course there is always the option to also  release unbundled ver

[2021-07-15 08:32] franden opened #18711 "OIDC Authorization Code Flow: add property to define response_mode to support Azure Active Directory B2C"
### Description

# Current behavior
We are using [Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/authorization-code-flow) in our company as identity provider. Unfortunately the quarkus OIDC with Authorization Code Flow do not work with this identity provider. The reason is, that if `response_mode` is not specified, the Identity Provider sends the code as `f

[2021-07-15 08:40] gsmet commented on #18231
I forgot to post it here but I started working on that last week:
- I indeed did what @stuartwdouglas suggested
- but... I ended up with the issue that I was unable to not produce the beans as beans are defined before the runtime phase - and producing a null bean didn't sound very appealing...

[2021-07-15 08:43] vsevel commented on #18360
I have started commenting out code in the application, and ran multiple native builds on Quarkus 2.0 and GraalVM 21.1. I executed 2 builds for each code base (still I see some inconsistencies in some of the results; although the vm is the same and nothing else is running on it - I am going to another pass).

_without toString_ means I commented out the `toString()` methods on all MP config objects

[2021-07-15 08:55] zhfeng commented on #18231
Thanks @gsment and the beans you mentioned to produce are ```ConnectionFactory``` in artemis-jms and ```ServerLocator``` in artemis-core ?

[2021-07-15 08:55] zbendhiba commented on #6228
@daschl thanks for the information.

I'd give you a sum up of what I've done so far working on the Counchbase quarkus extension using SDK 3 :

- Last year (end of 2020), I tried to work on the shaded Netty, mostly copying lots of quarkus Netty extension code, but the code has so many static initialization, it was complex. So I just gave up on this. (I'm not at all expert in Netty)

- On February/M

[2021-07-15 09:01] gsmet commented on #18231
Yeah exactly.

[2021-07-15 09:19] wabrit opened #18713 "Support for equivalent of AuditingEntityListener"
### Description

The Spring Data JPA [AuditingEntityListener](https://www.baeldung.com/database-auditing-jpa#3-tracking-created-and-last-modified-dates) makes it easy to introduce audit properties into an entity class e.g.

[code]

Currently the quarkus spring data jpa extension does not include support for this listener; it would be very useful to have this (or equivalent functionality somewhere

[2021-07-15 09:33] sberyozkin commented on #18711
@franden Thanks, well, yes, the core OIDC specification and the response mode one you linked to all say it is not recommended to send `response_mode=query` for `response_type=code`. It does look like a problem with this provider - but the good news is that you can use `quarkus.oidc.authentication.extra-params.response_mode=query` - can you try it please ?

[2021-07-15 09:35] galderz commented on #18360
@vsevel Indeed your code does not use MethodHandles (sorry for the confusion). I think what is happening here is that you have some long String `+` concatenations, which in Java 11 can result in the JVM converting those to method handles calls (this [article](https://www.guardsquare.com/blog/string-concatenation-java-9-untangling-invokedynamic) explains it). In 21.1 those seem to become heavier co

[2021-07-15 09:37] galderz commented on #18360
FYI: the [JEP](http://openjdk.java.net/jeps/280) that brought the improvements to String concatenation.

[2021-07-15 09:38] vsevel commented on #18360
here is the 2nd run:

[code]

[2021-07-15 09:45] xabe commented on #18706
Hi @geoand

when i launch the tests it

[code]

In mode debug test pass without errors

[2021-07-15 09:45] vsevel commented on #18360
@galderz good point. would a `StringBuilder` be more appropriate? that is what people were doing in the old days. then concatenation was supposed to be as efficient (probably thanks to this JEP you are reffering to). but may be that is an anti-pattern in GraalV :(

[2021-07-15 09:45] sfrank-mc commented on #6262
Same issue will happen with `kubectl logs ...` meaning this is not a "collection system" issue but a log formatting limitation.
As a "Kubernetes-native Java framework" I would expect to be able to configure logging in a way that allows easier development.

`logging-gelf` doesn't support logging to the console - which makes this completely un-helpful for this issue - even as a workaround.

Right no

[2021-07-15 09:52] galderz commented on #18360
@vsevel Yeah, it would be an anti-pattern and would likely perform worse on JVM mode, aside from being a pain having to change all those `+` to StringBuilder. We're definitely not asking your or any Quarkus user to do that. We're discussing options on Zulip (see the [dev chat](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Increased.20compilation.20times.20.2318360) for this issue

[2021-07-15 10:17] franden commented on #18711
@sberyozkin `quarkus.oidc.authentication.extra-params.response_mode=query` works for me. thank you very much

[2021-07-15 10:17] #18711 closed

[2021-07-15 10:19] brunobat commented on #17587
This is impacting production code. Prevents Quarkus upgrade.

[2021-07-15 10:21] geoand commented on #18698
https://github.com/quarkusio/quarkus/pull/18714 is what I have in mind

[2021-07-15 10:34] loicmathieu commented on #6262
@sfrank-mc can you explain what is the issue with `kubectl logs` ? Quarkus is used a lot with k8s (I personnally use it with it) and nobody complains about Quarkus logs on a k8s deployment.
Logs in kubectl will be the one send to the console, stacktraces will be with each frame on a new line and this is exactly what you have in a console when running locally so it makes sense to me.

[2021-07-15 11:03] radcortez commented on #17587
Let me have a look.

[2021-07-15 11:04] mkouba commented on #18698
I like the idea but should be really clear that it has nothing to do with CDI injection ;-).

[2021-07-15 11:06] geoand commented on #18698
@mkouba definitely. How do you propose we make it clearer?

[2021-07-15 11:08] geoand commented on #18706
Does the failure happen every time?

Also, could you paste the contents of `/Users/chabir/workspace-idea/grpc/quarkus-grpc/target/quarkus.log` when the failure occurs?

[2021-07-15 11:21] mkouba commented on #18698
I'm not sure. Maybe just emphasize that the manager is fully in control of the lifecycle of the injected instance and that this "injection" happens after the CDI injection is perfomed??

[2021-07-15 11:25] sberyozkin commented on #18711
@franden Great, it would make sense to update the docs, I'll do it during the next doc PR

[2021-07-15 11:26] geoand commented on #18698
PR updated to include that note in the Javadoc and the documentation

[2021-07-15 11:37] radcortez commented on #17587
This is a classloading issue, because subclasses of the model load in a different classloader, (while the main parent class of the model loads in the Quarkus classloader because it is referenced directly in the code). Because the main parent class and subclasses are in different classloaders you get the error.

To fix it just set `.overrideClassLoaders(Thread.currentThread().getContextClassLoader(

[2021-07-15 11:50] ge0ffrey commented on #18654
Thank you Stuart for identifying that. I need to verify if the issue is in Drools, Kogito or OptaPlanner-quarkus. Either way, it's indeed probably not a Quarkus issue. Let's close this ticket.

[2021-07-15 11:51] sfrank-mc commented on #6262
Pertaining to this issue - if i use `kubectl logs ...` The log lines that contain `\n` will be displayed in multiple lines. It makes it harder to go through. Another example is if I use `kubectl logs ... | grep "something"` I will not get the complete row that has "something" in it. To overcome that I would like to be able to format my logs to NOT contain `\n`'s but that is right now impossible wi

[2021-07-15 12:05] ge0ffrey commented on #17877
@mariofusco Looks like this is a different issue in Drools than the one you fixed

[2021-07-15 12:30] stuartwdouglas commented on #18654
It's in KieMemoryCompiler, it needs to set the CLASS_OUTPUT otherwise it just gets set to the current working directory.

[2021-07-15 13:23] Sanne commented on #18360
To summarize some findings from the chat:

[JEP 280](http://openjdk.java.net/jeps/280) is automatically enabled when compiling with target JVM set to `11`, and this causes the generated bytecode to include many more methodhandles. This works great in JVM (and there are no known issues in native either), but the significantly higher amount of methohandles leads to having more code hubs to be proces

[2021-07-15 13:50] sberyozkin commented on #18536
@OnePlusOneIsTen - it has to be injected as a field, using `@Inject`:
[code]

My understanding these are just the way to set the underlying HTTP session properties via this API - try to figure out what actually happens with `serialize` is done - then translate that into `RoutingContext.Sesssion` calls

[2021-07-15 14:33] silviu-negoita commented on #18685
1. Im not doing anything specific related to DB - JDBC. Anything is happening behind the scene. I am not event into a transaction, it fails on a `select` operation.
2. Not sure how to see the actual connections db connections. It is doable via debug?

[2021-07-15 14:47] rivasdiaz opened #18719 "Running a CLI app in quarkus dev mode (maven), does not re-run the app after a code change. (macOS"
### Describe the bug

I run quarkus dev mode for a sample CLI application, and after updating the source code I press [Enter] on the terminal as suggested by the command line reference guide, and the cli app is not re-run.

OS: macOS Big Sur, version 11.3.1
Terminal: Default macOS Terminal, Version 2.11 (440)
Shell: zsh 5.8 (x86_64-apple-darwin20.0)
Quarkus: 2.0.1.Final

In addition to using `quar

[2021-07-15 14:51] rivasdiaz commented on #18719
For reference, original Slack Overflow question:
https://stackoverflow.com/questions/68328956/quarkus-dev-mode-for-cli-how-to-restart-app/68343437

[2021-07-15 15:15] BenteleFlorian opened #18721 "@TestSecurity annotation isn't working after upgrading from Quarkus 1.13.7 to 2.0.x"
### Describe the bug

While upgrading to Quarkus 2.0.0, the @QuarkusTest for a microservice fails due to 403 forbidden access errors on secured API Endpoints, which could usually be handled by `@TestSecurity` - as described within the [official quarkus documentation](https://quarkus.io/guides/security-testing) - and the user/role we provide.

The annotation is working as expected in Quarkus versio

[2021-07-15 15:26] nunomarks commented on #17587
Everything worked as you mentioned. Thank you for your help.

[2021-07-15 15:26] #17587 closed

[2021-07-15 15:39] zakkak opened #18722 "Quarkus 1.11 incompatibility with the upcoming GraalVM CE 20.3.3"
### Describe the bug

The upcoming GraalVM CE 20.3.3 release is going to return a different version string for `--version`.

The new string will look like this:
[code]

while it used to be:
[code]

as a result the following pattern matching will fail
https://github.com/quarkusio/quarkus/blob/632e940a2535aa31f7c18221c8aa511d0950aa49/core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/Nati

[2021-07-15 15:42] zakkak commented on #18722
To avoid this issue Mandrel 20.3.3 is going to use the same version string as it did in 20.3.2 (see https://github.com/graalvm/mandrel/pull/269).

[2021-07-15 15:45] ennishol opened #18723 "Continueous testing NPE"
### Describe the bug

I have a project with all tests passing when executing the plain `mvn test`. `mvn quarkus:dev` continuous tests fail, however. Probably due to mocking issues.

The project itself is a plain java lib but with profile `qtest`, which allows running `mvn quarkus:dev` as described by @sdaschner  in his [blog](https://blog.sebastian-daschner.com/entries/quarkus-dev-for-java-project

[2021-07-15 16:38] sberyozkin commented on #18721
@BenteleFlorian Can you please provider a reproducer project ? Quarkus tests relying on this annotation are running

[2021-07-15 16:50] gsmet commented on #18723
/cc @stuartwdouglas

[2021-07-15 16:51] gsmet commented on #18654
OK, closing this one then.

[2021-07-15 16:51] #18654 closed

[2021-07-15 17:29] cjioh commented on #18559
Having the same issue here. After upgrading to quarkus 2.0.0-2.0.2 (from 1.13.6), we're getting 0% test coverage in jacocoTestCoverageVerification phase

[2021-07-15 18:06] MikeEdgar commented on #18587
@sjaakd - no questions, I just haven't had a chance to look back at this.

[2021-07-15 18:40] dan-dr commented on #18673
@stuartwdouglas where would I put this method? and when do I call it?

[2021-07-15 18:47] geoand commented on #18673
Just add it to a CDI bean. You don't need to call it yourself, Quarkus will call it when the application launches

[2021-07-15 18:52] radcortez commented on #18641
This seems to be caused by https://github.com/quarkusio/quarkus/commit/3cc026779ccd0a1ef88d3142fc49cb8bd22c743f, where `NativeImageResourceBuildItem` became a dependency of `GeneratedResourceBuildItem`.

The configuration is used in a `NativeImageResourceBuildItem` to register the keys for native image:
https://github.com/quarkusio/quarkus/blob/a099805f42b8f8c95d6e544d485260bec008aa09/extensions/s

[2021-07-15 18:54] radcortez commented on #18641
@stuartwdouglas any thoughts?

[2021-07-15 18:55] Andro999b commented on #18641
@radcortez thanks

[2021-07-15 18:55] #18151 closed

[2021-07-15 19:03] mweber03 opened #18725 "Specify an Application class at build time"
### Description

Currently if your classpath contains more than one `javax.ws.rs.core.Application` an error occurs: `RuntimeException: More than one Application class: [my.project.service1.Service1Application,my.project.service1.Service1Application,my.project.service3.Service3Application]`

The existing logic can remain to automagically pickup the `Application`, but additional logic allowing one t

[2021-07-15 19:13] lucafuji opened #18726 "Support jacocoTestCoverageVerification task for quarkus jacoco plugin"
### Description

When directly using the gradle jacoco plugin, it supports specifying a minimum coverage of a certain project so that if the test coverage is lower than this number, the corresponding build task will fail.

e.g.
`jacocoTestCoverageVerification {
    violationRules {
        rule {
            limit {
                minimum = 0.7
            }
        }
    }
}`
will fail the build

[2021-07-15 19:16] mweber03 opened #18727 "Exception reading yaml config list"
### Describe the bug

I'm not sure if this is currently unsupported behavior. But I'm trying to read a config list from my `application.yaml` into a list of POJOs, but it causes an exception. Please let me know if it's just user error and I'm doing something incorrectly.

### Expected behavior

[code]

### Actual behavior

Successfully reads the config to the POJOs.

### How to Reproduce?

Reprodu

[2021-07-15 19:35] j-be commented on #8394
@geoand I just stumbled over something similar (I think). I can `@Context` both as a member in my JAX-RS annotated class, but not in service classes `@Inject`ed there.

In other words:

[code]

and

[code]

Is this supposed to be like this?

[2021-07-15 19:42] geoand commented on #8394
@j-be unfortunately, yes, that's how it's supposed to work.

CDI and JAX-RS are unfortunately two disjointed specs.
With RESTEasy Reactive we bridge that gap, but with RESTEasy Classic there remains a divide

[2021-07-15 19:44] j-be commented on #8394
@geoand Good to know. Thanks for the quick answer.

[2021-07-15 21:02] #18579 closed

[2021-07-15 21:04] #18522 closed

[2021-07-15 21:35] #18352 closed

[2021-07-15 21:35] #18400 closed

[2021-07-15 21:35] #18594 closed

[2021-07-15 21:35] #18719 closed

[2021-07-15 22:43] famod opened #18731 "Add profile specific config files to watched resources in dev mode"
### Description

A file like `application-dev.yaml` (or .properties) is not automatically watched for changes, but the regular `application.yaml` is.

There seems to be no good reason for this difference.

Workaround; DIY:
[code]

See also: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Profile.20aware.20config.20files/near/246092779

### Implementation ideas

_No response_

[2021-07-15 23:00] gastaldi opened #18732 "Split package warning from core extensions"
### Describe the bug

The following warning is displayed in the logs when building my Quarkus app using 2.1.0.CR1

[code]

### Expected behavior

No warning should be displayed for our core extensions

### Actual behavior

Warning is displayed

### How to Reproduce?

Build the panache quickstart with 2.1.0.CR1

### Output of `uname -a` or `ver`

Fedora 34

### Output of `java -version`

11

### Gr

[2021-07-16 01:03] GavinRay97 commented on #2720
Got it. I have been looking some more into this, it seems some folks have had success by using "Static Groovy", which is one of two Groovy variants (Static/Dynamic), where it's compiled AoT in exchange for losing some of the flexibility/power of the language.

I went digging through the compiler API some more and through some Graal + Groovy stuff, I think this should theoretically allow Groovy to

[2021-07-16 01:16] stuartwdouglas commented on #18723
This is because setSomData is package private, and it is loaded in a different ClassLoader in continuous testing mode. Mockito does not support the scenario.

This is because the tests need to be dropped and re-loaded every time the application changes, so they go in their own ClassLoader, while libraries such as lib1 are loaded in a base CL that is not dropped every time.

In order to fix this yo

[2021-07-16 01:16] #18723 closed

[2021-07-16 02:30] stuartwdouglas opened #18733 "Continuous testing does not report failures in @BeforeAll"
### Describe the bug

If a @BeforeAll method fails it is not added to the failure count, and the skipped tests are not counted at all.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No respon

[2021-07-16 02:56] GavinRay97 commented on #2720
I got it working with `CompileStatic`!
What would be a good way to test that the native image functionality is preserved, though @geoand?

https://user-images.githubusercontent.com/26604994/125884729-97c7f9db-951a-42bd-9cbe-c7fbf269be5f.mp4

[2021-07-16 04:56] geoand commented on #2720
Nice!
What you can do is take a couple of the quickstarts (say getting-started, hibernate-reactive and rest-client-reactive) write them in Groovy and then run the native tests to see what happens.

[2021-07-16 05:06] stuartwdouglas commented on #18231
Can we add a 'DynamicHealthCheck' interface (name may need some work) that has an isEnabled() method, and if a health check implements this have Smallrye Health Check call this method do decide if the beans are enabled at runtime?

[2021-07-16 05:20] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1036342362

[2021-07-16 06:21] geoand commented on #18725
@stuartwdouglas the ability to remove classes from a dependency you introduced in https://github.com/quarkusio/quarkus/pull/18121 would work here too right?
A user would still need to specify the groupId and artifactId of the application, but the handling would work for application cases too wouldn't it?

[2021-07-16 06:25] #17207 closed

[2021-07-16 06:29] jaivalis opened #18734 "Quarkus multimodule build failures after upgrading to 2.0.2.Final"
### Describe the bug

On a multimodule quarkus application I get the following behavior after upgrading to 2.0.2

[code]

This happens when the quarkus submodule is being built.

I had a look at the migration guide to 2.0.0 but couldn't find something relevant to my setup. The error message is a bit cryptic as well and couldn't find where to look for it in the quarkus codebase. Did something chang

[2021-07-16 06:34] jaivalis commented on #18734
Tiny bit of additional context here:

https://stackoverflow.com/questions/68381354/quarkus-multimodule-build-failures-after-upgrading-to-2-0-1-final?noredirect=1#comment120891440_68381354

[2021-07-16 06:37] mweber03 commented on #18725
What is the groupId/artifactId if it's coming from a local project? For example: `implementation project(':myproject')`

[2021-07-16 06:47] ennishol commented on #18723
@stuartwdouglas  thanks for looking into this!.

- Mockito seems to work fine in this case with plain maven, so I thought, there is an issue in quarkus
- Unfortunately, I'm not in control of lib1
- `quarkus.class-loading.reloadable-artifacts` did the trick :)

[2021-07-16 07:01] yrodiere commented on #12923
Thanks all for the reproducers. This *is* a bug in Hibernate ORM after all; it's just that it happens only with the `PADDED` batch-fetch-style, which is the default in Quarkus (don't ask me why; probably performance), but not in vanilla Hibernate ORM.

I created a bug report in ORM and will submit a fix: https://hibernate.atlassian.net/browse/HHH-14730

[2021-07-16 07:02] #15668 closed

[2021-07-16 07:06] cescoffier commented on #18604
The question is: what do you expect to do with the token?

1) connect to the kafka broker - that won't work, the Kafka authentication happens at startup, not per request
2) pass some token with the kafka record (in a header or something) to be used later - I doubt it's going to be very useful as the token may expire before the consumption of the records (that can happen months later and multiple t

[2021-07-16 07:15] yrodiere commented on #12923
Upstream reproducer and fix: https://github.com/hibernate/hibernate-orm/pull/4101

[2021-07-16 07:16] stuartwdouglas commented on #18360
I looked into the kube API stuff a bit today.

I picked a class at random that is include in 2.0 and not in 1.13: `io.fabric8.kubernetes.api.model.flowcontrol.v1beta1.SubjectFluentImpl`

The call tree looks like:

[code]

FlowSchemaHandler is a new class, that implements `io.fabric8.kubernetes.client.ResourceHandler`, and even though nothing seems to directly use FlowSchemaHandler it still gets in

[2021-07-16 07:40] xabe commented on #18706
Hi @geoand

Yes, here log

[code]

[2021-07-16 08:10] rmanibus opened #18736 "Mailer Template Error: the return value of TemplateProducer.template() is null"
### Describe the bug

I use the following checked templates with quarkus mailer:
[code]
I'm able to use those template in dev mode and in test. but when the jar is built, It's throwing an NPE.

### Expected behavior

The mail is templated correctly

### Actual behavior

[code]

### How to Reproduce?

Reproducer: https://github.com/rmanibus/quarkus_18736

1) mvn install
2) mvn quarkus:dev
3) curl l

[2021-07-16 08:10] yrodiere commented on #12923
Fix was merged. This will be fixed in Quarkus when we upgrade to ORM 5.5.4.Final (which must first be released).

[2021-07-16 08:20] xabe commented on #18706
Hi @geoand

I am investigating the problem because the native tests are not executed, I think the problem is in the method:

- LauncherUtil.waitForCapturedListeningData

I have implemented my custom NativeImageStartedNotifier (sleep 3 seconds), test pass without errors

[code]

I think that in the method it has wrong is the fixed value of 10 seconds in the variable signal, Shouldn't that be the va

[2021-07-16 08:29] rmanibus commented on #18736
It seems to work when I set the template as an inner class, but what is disturbing is the different behaviour in dev and in prod

[2021-07-16 08:50] HelvetiaAppDev opened #18737 "Incorrect "WARN Closing open connection prior to commit" when handling BEFORE_COMMIT event"
### Describe the bug

When using javax.enterprise.event Events and an Observer with TransactionPhase.BEFORE_COMPLETION that queries anything with sql the WARN log `WARN  [io.agr.pool] (executor-thread-0) Datasource '<default>': Closing open connection prior to commit` appears.

### Expected behavior

No WARN log, as everything works as intended.

### Actual behavior

Logs `WARN  [io.agr.pool] (exe

[2021-07-16 08:58] Sanne commented on #18360
I suspect this might be triggered because all `ResourceHandler` s are being registered for reflection in `KubernetesClientProcessor`. Would be nice if it was possible to fine-tune this to only register the ones actually needed (and maybe this is?) or avoid reflection altogether.

[2021-07-16 08:59] geoand commented on #18360
I actually don't see us doing that in the processor

[2021-07-16 09:06] Sanne commented on #18360
oh I confused `ResourceEventHandler` with `ResourceHandler`, sorry.

So I was looking for those, because of what Stuart said made me curious: I've never seen GraalVM include extra code just because it's implementing an interface w/o some specific reason; most often code is included only if the constructor is reacheable, or the class is registered for reflection.

But it's an interesting theory, we

[2021-07-16 09:08] FroMage commented on #18689
This is a bit weird to me, because if anything, the `Uni` version should fail more than the `CompletionStage` one.

What I assume is going wrong is that the TX is captured by the client via `Uni` and since the result at some point gets processed by another thread, the TX is resumed on the other thread, probably before it's suspended on the main worker thread. But then, this should fail in both met

[2021-07-16 09:10] gsmet commented on #18737
Could you please provide a reproducer? (a small Maven project reproducing the behavior out of the box)

Thanks!

[2021-07-16 09:11] gsmet commented on #18736
/cc @mkouba

[2021-07-16 09:14] stuartwdouglas commented on #18360
It's also possible the code I am using to do the analysis of the file has a bug, but I don't think so.

I am thinking about polishing it a bit and adding it to Dev UI, to hopefully allow you to do this sort of analysis in the browser.

[2021-07-16 09:16] Sanne commented on #18360
Remember also that GraalVM is able to automatically register for reflection a class when the code is straight forward to analyze.

So for example if you just do load a class by class reference - and the parameter is a constant, or a trivial enough function which evaluates to a constant, it will register the class for reflection without us needing to do so explicitly.

This might be relevant, becau

[2021-07-16 09:17] ge0ffrey commented on #17877
So this quickstart is failing on Windows?
  https://github.com/quarkusio/quarkus-quickstarts/tree/main/optaplanner-quickstart

[2021-07-16 09:18] stuartwdouglas commented on #18360
I don't think it is registered for reflection though, I can't see it in the report.

[2021-07-16 09:18] Sanne commented on #12923
Awesome, thanks @yrodiere !

[2021-07-16 09:20] FroMage commented on #18689
I didn't find one, so I created https://github.com/smallrye/smallrye-mutiny/issues/626

[2021-07-16 09:21] Sanne commented on #18360
@stuartwdouglas which report are you looking at?

[2021-07-16 09:22] Rupert-RR opened #18739 "Opentracing NPE with v2"
### Describe the bug

Incoming requests in a Quarkus 2 application cause NPEs in OpenTracing classes (as per https://github.com/quarkusio/quarkus/issues/13440).

This issue was fixed in https://github.com/smallrye/smallrye-opentracing/pull/173 and backported to the `1.3.5` release but no new release was made for `2.0.0` (which was released prior to the bug fix). Quarkus `2.0.0` has bumped the vers

[2021-07-16 09:36] ge0ffrey commented on #18134
Related: https://issues.redhat.com/browse/DROOLS-6501

[2021-07-16 09:43] vsevel commented on #18360
If this of any interest for this discussion, I did again the builds with `1.13/2.0`, `21.0/21.1` and with the original code (i.e. _full test_) vs without the fabric8 code (which is a decent part of the app).
We can see that on the original codebase we go from 293 secs to 324. And without fabric8 openshift client there might be a bit of increase as well, but that is more subtle.
All tests were done

[2021-07-16 09:51] gsmet commented on #18732
There are more problems than just this one unfortunately.

Here is the list:

"io.fabric8.kubernetes.api.model" found in [io.fabric8:kubernetes-model-apps, io.fabric8:kubernetes-model-metrics, io.fabric8:kubernetes-model-node, io.fabric8:kubernetes-model-admissionregistration, io.fabric8:kubernetes-model-batch, io.fabric8:kubernetes-model-rbac, io.fabric8:kubernetes-model-flowcontrol, io.fabric8:k

[2021-07-16 09:51] geoand commented on #18706
Indeed, that has already been fixed in `2.1.0.CR1` (see https://github.com/quarkusio/quarkus/blob/2.1.0.CR1/test-framework/common/src/main/java/io/quarkus/test/common/LauncherUtil.java#L71).

Mind giving that version a try?

[2021-07-16 09:58] mkouba commented on #18736
I've tried the attached reproducer and the build fails correctly on Linux because your project declares the templates in the `src/main/resources/Templates` directory, but it should be `src/main/resources/templates`; as a result no templates are found. When I fix the directory name to `templates` everything seems to work fine. The question is why the build did not fail on Windows...

[2021-07-16 09:59] mkouba commented on #18736
Yes, it should fail and it fails on Linux...

[2021-07-16 10:02] rmanibus commented on #18736
is File::exist case insensitive on windows ?

[2021-07-16 10:12] yuhaibohotmail opened #18740 "Update to Quarkus 2.1.0.RC1 report UnresolvedElementException when build native executable"
### Describe the bug

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Linux localhost.localdomain 3.10.0-1062.4.1.el7.x86_64 #1 SMP Fri Oct 18 17:15:30 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### Output of `java -version`

OpenJDK 64-Bit Server VM GraalVM CE 21.1.0 (build 11.0.11+8-jvmci-21.

[2021-07-16 10:32] sap-nocops opened #18742 "RedisClient does not use database from configuration when used with sentinel"
### Describe the bug

I use `io.quarkus.redis.client.RedisClient` to read and write from/to redis and setting the host and database via `quarkus.redis.hosts`.
when I use the standalone redis everything works as expected.
In production I also specify `quarkus.redis.client-type` as `sentinel` and read and write works but on databse `0` which is not the one I specified in `quarkus.redis.hosts`

### E

[2021-07-16 10:48] geoand commented on #18740
Are you mixing RESTEasy Reactive and RESTEasy Classic by any chance?

[2021-07-16 10:54] vsevel commented on #18360
I forgot to mention that with the `-XDstringConcat=inline` and some extra RAM on 2.0, it is getting me roughly where I was with 1.13. so I consider my issue solved. I am happy to help out if I can however.

[2021-07-16 11:07] HelvetiaAppDev commented on #18737
Of course, hope this works.
[reproducer.zip](https://github.com/quarkusio/quarkus/files/6830186/reproducer.zip)

[2021-07-16 11:12] Sanne commented on #18360
thanks @vsevel , great feedback.

We'll keep watching this and see what can be improved further; in particular I we'll talk with the GraalVM team about the extra overhead caused by methodhandles but I'm not sure if they can do something about it. What Stuart mentiones is also interesting and we'll keep digging, but it's good to know that it's not critically urgent for you.

[2021-07-16 11:14] Sanne commented on #18360
I guess an open question that we'll need to discuss is if Quarkus releases should be built with `-XDstringConcat=inline` across the board on all modules.

[2021-07-16 11:22] galderz commented on #18360
@vsevel @Sanne Re: string concat  - I created a small reproducer and was able to get about 322 instances of the `com.oracle.svm.reflect.BoundMethodHandle` classes in it. I had a quick go with 21.2 (not yet released) and that's down to 41. So, I think `-XDstringConcat=inline` might be a temporary thing for 21.1 only, so maybe something @vsevel can temporarily use. 21.2 should be out on the 20th Jul

[2021-07-16 11:23] bcluap commented on #18689
Nice hypothesis... and a correct one at that.

So I added this to the test:
![image](https://user-images.githubusercontent.com/26746221/125940085-d21ac558-fe63-4336-b685-2d798a083a3f.png)

And it now passes. So its a race condition between emitting the item and passing the transaction back to the worker. I assume that on the Uni version, it passes the transaction and then emmitts the item, while o

[2021-07-16 11:29] galderz commented on #18360
FYI: Quarkus 2.1.x will use GraalVM 21.2

[2021-07-16 11:46] gsmet commented on #18360
That's not a done thing. We build the Core artifacts on July 22nd so it will depend how fast we can build the images and get everything merged.

[2021-07-16 11:47] galderz commented on #18360
Also, some caveats about GraalVM 21.2. A few weeks back we discovered that it can increase compilation times and memory usage on memory constrained envs (see the great detective work by @zakkak [here](https://github.com/oracle/graal/issues/3435)). @foivos has added a patch to Quarkus in this respect (see [here](https://github.com/quarkusio/quarkus/pull/17711)). As a result, if you want to try Graa

[2021-07-16 11:47] mkouba commented on #18736
I don't think that we use `File#exists()` in the build steps. Anyway, could you pls try to enable the debug logging for qute so that we have a little bit more info? Just add the `quarkus.log.category."io.quarkus.qute.deployment".level=DEBUG` to your `application.properties`.

[2021-07-16 11:54] zakkak commented on #18360
Agreed, it's highly unlikely to have everything in place on the 22nd.
Ideally we would like to bump to GraalVM 21.2 in Quarkus 2.1.1 or 2.1.2 to avoid having to wait for 2.2.x.
Note, however, that users should still be able to use GraalVM 21.2 the moment it gets released with Quarkus 2.1.0, it would just not be the default.

[2021-07-16 12:09] geoand commented on #18734
I'll have a look

[2021-07-16 12:16] kenfinnigan commented on #18739
@radcortez FYI

[2021-07-16 12:29] simon-hlx commented on #17767
Any update about it, i have the same issue :/

[2021-07-16 12:30] mkouba commented on #18736
So my guess is that `ApplicationArchive.getChildPath(String)` returns the path `src/main/resources/Templates` for the parameter `templates`, i.e. is case-insensitive on Windows. Then we collect all templates and build the relevant metadata. However, at runtime the [EngineProducer](https://github.com/quarkusio/quarkus/blob/main/extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EnginePro

[2021-07-16 12:31] geoand commented on #17767
I would encourage folks to test `2.1.0.CR1` which has some related fixes

[2021-07-16 12:31] geoand commented on #18734
@mkouba any idea why `CombinedIndex` doesn't contain a class from another project's submodule?

[2021-07-16 12:45] radcortez commented on #18739
Related with https://github.com/smallrye/smallrye-opentracing/issues/193

[2021-07-16 13:06] simon-hlx commented on #17767
I take simpe starter on quarkus site
i put the version to 2.1.0.CR1
`<?xml version="1.0"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd" xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <modelVersion>4.0.0</modelVersion>
  <groupId>org.acme</groupId>
  <artifactId>code-with-quarkus<

[2021-07-16 13:09] kshpak commented on #18105
@radcortez I don't see this warning as appropriate. It should be removed from the console IMHO. There is no added value from that info for user.

[2021-07-16 13:15] geoand commented on #17767
What does `/Users/simon.huleux/Documents/projects/code-with-quarkus/target/quarkus.log` look like when the test fails?

[2021-07-16 13:15] mkouba commented on #18734
I don't think that we automatically index all other submodules of an app, do we? I mean the same rules as for normal dependencies apply (marker file, existing index, etc.), or?

[2021-07-16 13:17] geoand commented on #18734
It seems like the jandex maven plugin is being used in this case: https://github.com/jaivalis/release-raccoon/blob/upgrade-quarkus/raccoon-entities/pom.xml#L42

what else would need to be done?

[2021-07-16 13:17] mgonzaga1990 opened #18745 "java.lang.ClassCastException: class io.smallrye.reactive.messaging.wiring.Wiring$SubscriberMediatorComponent"
### Describe the bug

Error :

[code]
I tried version 2.0.0, 2.0.1 and 2.0.2

The same error happens in amqp and http connector aswell.
I Attached the reproducer.

[reproducer.zip](https://github.com/quarkusio/quarkus/files/6830889/reproducer.zip)

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No

[2021-07-16 13:18] mariofusco commented on #17877
HI @ge0ffrey and @yuhaibohotmail

@pibizza just gave a try to this on Windows and it worked for him. Is there something specific that we should do or check to reproduce this problem?

[2021-07-16 13:20] kshpak opened #18746 "SmallRyeHealthReporter - Class does not exist in ClassLoader QuarkusClassLoader warning"
### Describe the bug

While using dev mode in the project with the `smallrye-health` dependency, the following warning message is thrown:

=-=-=-=-=-=-=-=-=-=-
WARN  [io.qua.arc.pro.BeanArchives] (build-38) Failed to index [Lio.smallrye.health.SmallRyeHealthReporter$HealthType;: Class does not exist in ClassLoader QuarkusClassLoader:Deployment Class Loader: DEV
=-=-=-=-=-=-=-=-=-=-

Might be a sev

[2021-07-16 13:22] mkouba commented on #18734
Hm, that should be enough.

[2021-07-16 13:42] yuhaibohotmail commented on #17877
@mariofusco
I just download and try this quickstart again，and  reproduce it  again, then I changed the optaplanner's version to 8.8.0,the problem still arise.

[code]
Windows version:
Microsoft Windows [ 10.0.19043.1110]

java version "11.0.7" 2020-04-14 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.7+8-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.7+8-LTS, mixed mode)

[2021-07-16 13:47] ge0ffrey commented on #17877
@yuhaibohotmail What's the directory you download the quickstart in? If you put it directly under C:\projects\, does it reproduce?

[2021-07-16 13:48] ge0ffrey commented on #17877
Btw, if you want to talk real-time, we're over here: https://kie.zulipchat.com/#narrow/stream/232677-drools

[2021-07-16 13:49] yuhaibohotmail commented on #18740
@geoand ，I think it relation with  keycloak-admin-client. I deleted the relevant code and the native compile passed.

[code]

[2021-07-16 13:49] simon-hlx commented on #17767
There no here , what i see in
NativeImageLauncher.java line 110
it delete this file and create the parent directory if needed
        Files.deleteIfExists(logFile);
        Files.createDirectories(logFile.getParent());
But at the end (after the test fail) there no log file exist.

[2021-07-16 13:50] hacst opened #18750 "Opentelemetry does not seem to reliably preserve trace context to JAX-RS"
### Describe the bug

With the quarkus-opentelemetry extension requests coming into Quarkus produce a server span for tracing. All subsequent spans on this call-path should then have the same traceId as this span and should be descendents with regards to spanId parent relationships. However this does not seem to be the case with resteasy JAX-RS handlers.

### Expected behavior

All subsequent span

[2021-07-16 13:53] radcortez commented on #18105
I believe it is helpful.

It doesn't make sense to keep an unused dependency, so the warning either lets you know that you have the dependency and because is not used you can remove it, or lets you know that added the dependency but didn't implement anything meaningful so maybe something is missing.

Can you please let me know what is the use case to include the extension, but not implement a REST

[2021-07-16 13:54] geoand commented on #17767
Are you using any peculiar logging settings?

[2021-07-16 13:57] geoand commented on #18740
I am asking because `org.jboss.resteasy.plugins.providers.multipart.MultipartOutput` should not be on the classpath.

Can you try `mvn quarkus:dependency-tree` and paste the output?

[2021-07-16 14:01] simon-hlx commented on #17767
Not i do not change anything about it, i just take what the quarkus start coding give it to me.
You can see in the pom.xml

[2021-07-16 14:04] geoand commented on #18734
@aloubyansky it seems like `curateOutcomeBuildItem.getEffectiveModel().getUserDependencies()` is not including one of the project's submodules (this one: https://github.com/jaivalis/release-raccoon/blob/upgrade-quarkus/raccoon-entities/pom.xml).
Any any what's going on?
FWIW, I am seeing this behavior even when https://github.com/jaivalis/release-raccoon/blob/upgrade-quarkus/release-raccoon-app/po

[2021-07-16 14:06] aloubyansky commented on #18734
Are you sure if the `provided` scope is removed it's not there?

[2021-07-16 14:06] yuhaibohotmail commented on #18740
[code]

[2021-07-16 14:06] yuhaibohotmail commented on #17877
I can reproduce it under C:\projects\optaplanner-quickstart or C:\projects\quarkus-quickstarts-2.0.2.Final\optaplanner-quickstart

[2021-07-16 14:08] aloubyansky commented on #18734
Does it appear among the dependencies in `quarkus:dependency-tree`?

[2021-07-16 14:08] geoand commented on #18740
Indeed `org.keycloak:keycloak-admin-client` which is brought in by `io.quarkus:quarkus-keycloak-admin-client` is causing the problem here...

@sberyozkin where are we with having an equivalent of `io.quarkus:quarkus-keycloak-admin-client`` for RESTEasy Reactive?
Sorry if I've asked this before :)

[2021-07-16 14:10] geoand commented on #18734
Here is what I get:

[code]

The `raccoon-entities` dependency doesn't seem to be there

[2021-07-16 14:10] geoand commented on #17767
If you have a reproducer, please attach it to the issue and I will take a look

[2021-07-16 14:18] Ladicek commented on #18511
I've created https://github.com/smallrye/smallrye-fault-tolerance/issues/463 to track this in SmallRye Fault Tolerance. I've also submitted a fix, which will be present in SmallRye Fault Tolerance 5.2.1 (to be released in a matter of minutes).

[2021-07-16 14:18] aloubyansky commented on #18734
Here you go https://github.com/jaivalis/release-raccoon/blob/upgrade-quarkus/parent/pom.xml#L78

[2021-07-16 14:19] geoand commented on #18734
Ouch...

[2021-07-16 14:19] geoand commented on #18734
Thanks a lot @aloubyansky!

[2021-07-16 14:20] aloubyansky commented on #18734
Also lombok appears in compile scope, which should be provided.

[2021-07-16 14:21] #18734 closed

[2021-07-16 14:23] aloubyansky commented on #18734
So, it's not simply an upgrade to a new Quarkus version, it's an upgrade plus major project layout refactoring. It's better to separate that in two phases @jaivalis

[2021-07-16 14:28] pibizza commented on #17877
@yuhaibohotmail I have tried to reproduce this on my windows machine and it is working fine. Can I ask you to try to delete your maven repository and try the operation again? Thank you.

[2021-07-16 14:28] simon-hlx commented on #17767
https://code.quarkus.io/?e=resteasy&extension-search=resteasy
i took just this extension
![Capture d’écran, le 2021-07-16 à 10 27 43](https://user-images.githubusercontent.com/70451777/125963482-4e2f9b61-526e-4c4d-8ef8-d56ecf538699.png)
i after you comment i just update the quarkus version from 2.0.2.Final to 2.1.0.CR1

[2021-07-16 14:34] yuhaibohotmail commented on #17877
@pibizza  I have try it on two diffrent pc.  I will delete maven repository  and try again.

[2021-07-16 14:34] geoand commented on #17767
I tried that and it worked just fine.

After the test fails, can you try running:

[code]

[2021-07-16 14:48] #18517 closed

[2021-07-16 14:50] radcortez commented on #13423
This can be achieved with `@ConfigMapping`. Check here: https://github.com/smallrye/smallrye-config/commit/8f40839f4a6f627a32cfb8da83f0a4342590ca14.

Quarkus `@ConfigProperties` is now deprecated, so our recommendation is to use `@ConfigMapping`.

[2021-07-16 14:50] #13423 closed

[2021-07-16 14:50] #18672 closed

[2021-07-16 14:51] #18499 closed

[2021-07-16 14:58] marcelstoer commented on #9671
The latest is this

Is https://quarkus.io/guides/rest-json#gzip-support outdated?

[2021-07-16 15:01] simon-hlx commented on #17767
What is your config (version etc )

[2021-07-16 15:01] kshpak commented on #18105
I mean, how it will help to spot a problem for the user if it doesn't state what causes it (in our case rest-client extension). Even if we have a redundant rest-client dependency it will not mention this dependency in the warning message. That's why IMHO it is a redundant warning.

[2021-07-16 15:06] geoand commented on #17767
I tried multiple versions, and they all work

[2021-07-16 15:09] simon-hlx commented on #17767
i had this
/Users/simon.huleux/Documents/projects/code-with-quarkus/target/code-with-quarkus-1.0.0-SNAPSHOT-runner , -Dquarkus.http.port=8081, -Dquarkus.http.ssl-port=8444, -Dtest.url=http://localhost:8081, -Dquarkus.log.file.path=/Users/simon.huleux/Documents/projects/code-with-quarkus/target/quarkus.log, -Dquarkus.log.file.enable=true
[1]    39248 killed      , -Dquarkus.http.port=8081, -Dquarku

[2021-07-16 15:11] geoand commented on #17767
Sorry, my bad:

[code]

[2021-07-16 15:26] simon-hlx commented on #17767
Same :/
 /Users/simon.huleux/Documents/projects/code-with-quarkus/target/code-with-quarkus-1.0.0-SNAPSHOT-runner  -Dquarkus.http.port=8081 -Dquarkus.http.ssl-port=8444 -Dtest.url=http://localhost:8081 -Dquarkus.log.file.path=/Users/simon.huleux/Documents/projects/code-with-quarkus/target/quarkus.log -Dquarkus.log.file.enable=true
[1]    39490 killed      -Dquarkus.http.port=8081 -Dquarkus.http.ssl

[2021-07-16 15:26] geoand commented on #17767
No logs, no exceptions, nothing?

[2021-07-16 15:30] simon-hlx commented on #17767
No nothing, i can not search :/
it is for that perhaps it come from about how i install Graalvm or something specific of mac os bigsur i do not know
What is your environment base to have unit test native pass well ?

[2021-07-16 15:31] geoand commented on #17767
Does `/Users/simon.huleux/Documents/projects/code-with-quarkus/target/code-with-quarkus-1.0.0-SNAPSHOT-runner` do anything?

[2021-07-16 15:32] xabe commented on #18706
Hi @geoand

I have same error

[code]

It's a race condition issue, now the error is because the log file does not exist

https://github.com/quarkusio/quarkus/blob/2.1.0.CR1/test-framework/common/src/main/java/io/quarkus/test/common/LauncherUtil.java#L194

Here is an error trace missing when the log file is not found

https://github.com/quarkusio/quarkus/blob/2.1.0.CR1/test-framework/common/src/ma

[2021-07-16 15:33] GavinRay97 commented on #2720
Got it, will do this tonight/this weekend if time permits and then report back on status =)
Thank you!

[2021-07-16 15:36] simon-hlx commented on #17767
it does the same
 /Users/simon.huleux/Documents/projects/code-with-quarkus/target/code-with-quarkus-1.0.0-SNAPSHOT-runner
[1]    39746 killed

Btw i deploy it (with package with docker ) on AWS lambda and the native image wotk well

It is just on my mac that not work for native part

[2021-07-16 15:43] geoand commented on #17767
I don't assume you have `quarkus.native.container-build=true` set, do you?

[2021-07-16 15:48] simon-hlx commented on #17767
to build and test on my laptop (MacOs) i do just
 to build
./mvnw clean package -Pnative
 to Test
 ./mvnw verify -Pnative

 But yes when i deploy to Aws i used quarkus.native.container-build=true

[2021-07-16 15:48] geoand commented on #18706
Are you sure that is what happening?
That sleep is in a loop that tries 25 times before bailing out

[2021-07-16 15:49] geoand commented on #17767
Then yeah, `quarkus.native.container-build=true` won't work with `@NativeImageTest`

[2021-07-16 15:56] simon-hlx commented on #17767
yeah i know it is for that i do not used this property to launch the unit test native

[2021-07-16 15:59] geoand commented on #17767
If you cant determine why

[code]

Then there is not much else we can do

[2021-07-16 16:31] AnakinPt opened #18759 "Quarkus Server Admin"
### Description

Hi,

I'm managing a couple of Quarkus applications and I would like to know if there is any application to manage all applications the same way as we have, in Spring, the Spring Boot Admin. This tool, should be able to help DevOps to see details from the containers running and, for example change the log level of a class in runtime without the need to restart a container.

If ther

[2021-07-16 16:52] kenfinnigan commented on #18759
We've steered away from a "clustered administration" view to keep things simple.

A lot of what should be needed can be done with either Kubernetes administration or monitoring tools such as Prometheus/Grafana.

Can you detail what functionality you'd expect such a console to provide?

[2021-07-16 17:13] sberyozkin commented on #18604
Hi Clement, @cescoffier, sure, I've opened this issue after following a Zero Trust discussion where the token propagation from the application endpoints to Kafka destinations has been discussed. I'll forward it to you offline.

Point 2 would apply to any token propagation case - I'm using there is a specific scenario where the expectation is that the records will be consumed soon, or at least with

[2021-07-16 17:15] yuhaibohotmail commented on #17877
@pibizza I try it on a new VM,and can't reproduce this problem.

[2021-07-16 17:19] cescoffier commented on #18604
Ok, so about Point 2, this is "relatively" easy. I guess a ProducerInterceptor (https://kafka.apache.org/10/javadoc/org/apache/kafka/clients/producer/ProducerInterceptor.html) can be set by the user which would extract the token from somewhere and add it to the header of the record.

[2021-07-16 17:24] sberyozkin commented on #18604
@cescoffier Great if this may already be done :-), I may try to experiment later on, should indeed be straightforward enough :-), thanks

[2021-07-16 17:46] cescoffier commented on #18745
Kogito is registering "channels" dynamically which is something not really expected (at least with Reactive Messaging 3.x as we verify the graph at startup time). But it should still work.
However, the registration does not seem to provide all the metadata reactive messaging needs.

I guess the problem comes from either:

* https://github.com/kiegroup/kogito-runtimes/blob/07bd4c9f75c5f3ef32e8e5772

[2021-07-16 18:24] #18698 closed

[2021-07-16 18:50] sjaakd opened #18763 "Combination Hibernate Validation advice to use @ApplicationScoped does not work."
### Describe the bug

If there are multiple occurrences of a custom annotation, it seems that there's only one initialized.  This is not the case in for instance JBOSS and leads to unexpected behavior.

I also tried @Singleton, same result.

### Expected behavior

The annotation is initialized with the correct annotation proxy instance before the `isValid` is executed.

### Actual behavior

It is

[2021-07-16 19:06] famod commented on #18727
/cc @radcortez

[2021-07-16 19:08] famod commented on #18726
In Maven you can simply run the respective goal and it picks up the results recorded by quarkus-jacoco just fine. Have you tried something similar with Gradle?

[2021-07-16 19:21] adrianriesen opened #18764 "Support transactions for Neo4j"
### Description

Currently the provided `neo4j-java-driver` does not participate in JTA transactions.

It would be helpful if one could span transactions across business logic methods which itself could contain multiple calls to different Neo4j data access methods.

Ideally this feature should be available in a JTA standard compliant fashion.

So if in the following example the repository methods

[2021-07-16 20:09] #18739 closed

[2021-07-16 20:10] michael-simons commented on #18764
Thanks, Adrian.

After we spoke I had some thoughts.
for reasons I had to look at Hibernate-OGM. Different topic though (there are people using it and want to use a 4.x driver). While I evaluated the work necessary [here](https://github.com/hibernate/hibernate-ogm/pull/1126), I came across. https://github.com/hibernate/hibernate-ogm/blob/main/neo4j/src/main/java/org/hibernate/ogm/datastore/neo4j/r

[2021-07-16 20:28] sandronm commented on #18764
This will be indeed a nice improvement for our project too, indeed! 👍

Le 16 juillet 2021 22:10:19 Michael Simons ***@***.***> a écrit :

[2021-07-16 20:56] jaivalis commented on #18734
Oh wow, not sure when I added that provided scope thing. Apologies guys, thanks for the effort :)

[2021-07-16 21:23] xabe commented on #18706
Hi @geoand

it's weird but here it link [video](https://github.com/xabe/Grpc/blob/master/quarkus-grpc/example.mov), the problem that the native boot process takes several seconds before write in file log

[2021-07-16 21:43] maxandersen opened #18767 "quarkus projects does not have maven compiler configured"
### Describe the bug

`quarkus21 create --registry-client -S 2.1` create projects that when trying to run `quarkus dev` or `mvn quarkus:dev` fails with:

[code]

same fails with `-S 2.0`

### Expected behavior

that projects created have working devmode

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -

[2021-07-16 21:56] maxandersen opened #18768 "quarkus registry list not reporting correctly"
### Describe the bug

given a `~/.quarkus/config.yaml` with

[code]

`quarkus registry list` says:

[code]

it should have been

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No respo

[2021-07-16 22:13] maxandersen opened #18770 "`disabled:true` in config should be `enabled:false`"
### Describe the bug

we missed this - everywhere else we used "enabled" to turn on/off things.

In  quarkus/config.yml we have used `disabled: false`.

it should be `enabled: true`

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### Graal

[2021-07-16 22:18] maxandersen opened #18771 "with no registry quarkus create -S 2.1 --registry-client still create a project"
### Describe the bug

config:
[code]

i.e. non existing/working registry I get this:
[code]

### Expected behavior

it should have failed as no registry and if some fallback i specified a stream -S 2.1 that is nonresolvable

can see in repo that download did fail:
[code]

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

###

[2021-07-16 22:20] maxandersen opened #18772 "quarkus create -S 2.43 still createa project"
### Describe the bug

`quarkus21 create --registry-client -S 2.43 test27899rr`

here i'm asking to create a project with non-existent stream and i still get:

[code]

### Expected behavior

_No response_

### Actual behavior

using dry-run reveals what we got:

[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No respons

[2021-07-16 22:23] maxandersen opened #18773 "quarkus create --dry-run test fails if test dir already exist"
### Describe the bug

`quarkus create --dryrun  test` when you already have a directory called test fails with error.

It is a dry-run so should it not just warn and still print out what it was planning to do ?

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -versi

[2021-07-16 22:27] maxandersen opened #18774 "quarkus21 create --registry-client -S 2.43 --dry-run test27899rr4j fails with non informative error"
### Describe the bug

with no registries configured and asking for nonexistent stream I get this:

[code]

i would have expected a message saying something like:

 "Stream io.quarkus.platform:2.43 not found. Try one of these:
   - io.quarkus.platform:2.0
   - io.quarkus.platform:2.1
   "

assuming 2.0 and 2.1 are present

### Expected behavior

_No response_

### Actual behavior

_No response_

##

[2021-07-16 22:27] aloubyansky commented on #18772
Given that the registry doesn't exist, it's basically a duplicate of #18771

[2021-07-16 22:27] #18772 closed

[2021-07-16 22:37] maxandersen opened #18775 "easy add/modify registry list"
### Description

for now users will need to know where to put quarkus config to setup registries. we should make this dead easy.

Here are examples with suggestions for syntax to explain the various cases:

given a empty config:

[code]

now all operations (like `quarkus create`) should use registry.acme.org for resolving platforms/extensions and if cannot be found it should error and not try fall

[2021-07-16 22:39] maxandersen commented on #18775
@ebullient does this help about the notion of registry and sequence?

@aloubyansky can you confirm the semantics i described above matches your expections/what we have implemented at the moment?

[2021-07-16 22:47] aloubyansky commented on #18775
Yes, I thought we agreed on failing of silently falling back previously but also printing a message about how to install a platform using `-P`.

I'd be careful with `quarkus registry clear`.

[2021-07-17 00:07] maxandersen commented on #18775
Yes. The commands should help where it can with -P info.

Clear is my suggestion so we have minimal set of commands to allow easily add to config but also able to reset to change order easily.

Btw. We might also want to have a --global / --local or some mechanism to say where the registry should be created/updated.

[2021-07-17 04:16] mgonzaga1990 commented on #18745
Thanks for your reply Clement. May this is something I need to raise to the
kogito team.

On Sat, 17 Jul 2021, 1:46 am Clement Escoffier, ***@***.***>
wrote:

[2021-07-17 06:47] geoand commented on #18706
What happens if you simply run:

[code]

after the test has failed? Is the log file created?

[2021-07-17 07:04] cescoffier commented on #18745
Yes, this is something that would need to be updated in kogito. I can be more defensive in reactive messaging, but it will just reject the component (which is not what we want here)

[2021-07-17 07:04] xabe commented on #18706
Hi @geoand

Yes, create file log, when I put a debug and break point it test pass without errors.

[code]

[2021-07-17 07:06] geoand commented on #18706
I'll increase the timeout and hopefully that will fix the issue

[2021-07-17 10:33] maxhov opened #18776 "ClassCastException for AVRO generated sources when running in dev mode"
### Describe the bug

I am trying out Quarkus and following the guide [Quarkus - Using Apache Kafka with Schema Registry and Avro ](https://quarkus.io/guides/kafka-schema-registry-avro).

When the application is first started in dev mode everything works as expected. The created Movie resources are sent to Kafka and consequently available via the consumer. However, when a change is made and the li

[2021-07-17 11:27] lburgazzoli opened #18777 "Use of RestClientBuilder leads to RESTEASY004655"
### Describe the bug

In my application, I use a REST client using Injection:

[code]

Which I configure using properties like:

[code]

The client is generates using the openapi generator so I don't have much option to customize (i.e. to add additional providers) thus I want to programmatic create the client but at this point, if I do something like:

[code]

then each call fails with:

[code]

#

[2021-07-17 13:12] ebullient commented on #18768
@aloubyansky .. I can fix this one with the PR in flight?

[2021-07-17 13:13] ebullient commented on #18774
@aloubyansky .. the PR I have will nip this one, too

[2021-07-17 14:25] aloubyansky commented on #18768
Sure, go for it. Thanks!

[2021-07-17 15:40] #18511 closed

[2021-07-17 16:26] gwenneg opened #18778 "Add assertThrows method to UniAsserter"
### Description

I tried using `@RunOnVertxContext` and `UniAsserter` with an old test that was based on JUnit's `assertThrows` but it seems `UniAsserter` does not offer a method to perform that kind of assertion.

### Implementation ideas

Mutiny has `UniAssertSubscriber#assertFailedWith` which almost does what I need but it does not allow assertions on the exception cause.

If `UniAsserter` coul

[2021-07-17 16:53] gwenneg opened #18779 "Add @TestReactiveTransaction support in the hibernate-reactive extension"
### Description

The new `@TestReactiveTransaction` annotation is a great addition. However, unless I missed something, it is supported by the `hibernate-reactive-panache` extension and not supported by the `hibernate-reactive` extension.

### Implementation ideas

Support the same annotation in the `hibernate-reactive` extension.

[2021-07-18 04:40] digven opened #18782 "Dependencies not included in uber jar"
### Describe the bug

I have the attached quarkus project (code-with-quarkus.zip) created with "amazon-lambda, resteasy, jackson. and gson" libraries. I have a StreamLambdaHandler implementing the RequestStreamHandler.

I have the below property added in application.properties:
quarkus.package.uber-jar=true

I am using the thin jar named "code-with-quarkus-1-runner.jar".

Sending a JSON POST reque

[2021-07-18 04:47] digven commented on #18782
[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/6835683/code-with-quarkus.zip)

[2021-07-18 07:13] JayGhiya commented on #8909
This does not work actually. Tried!

[2021-07-18 07:23] rmanibus commented on #18736
I think you are right:
[code]

[2021-07-18 07:28] mschorsch opened #18783 "Quarkus 2.1.0.CR1: Hibernate Validator produces a warning when combined with Resteasy Reactive and Kotlin Coroutines"
### Describe the bug

The combination of `Resteasy Reactive + Kotlin Coroutines + Hibernate Validator` leads to the following warning at compile time:
[code]

### Expected behavior

No warning.

### Actual behavior

_No response_

### How to Reproduce?

1. [Create a new quarkus project](https://code.quarkus.io/?e=kotlin&e=resteasy-reactive&e=hibernate-validator) with the dependencies: `Resteasy Re

[2021-07-18 09:01] maxandersen opened #18784 "jbang q:config properties not being picked up in 2.1"
### Describe the bug

jbang q:config properties seem to no longer be picked up

[code]

### Expected behavior

that Q:CONFIG is picked up and honored when running with jbang.

opened here as its the quarkus side that is extracting the Q:* values.

### Actual behavior

_No response_

### How to Reproduce?

Take the example above and run with `jbang --fresh -Dquarkus.dev main.java` and see it is not

[2021-07-18 09:04] maxandersen opened #18785 "could we make quarkus pickup //DEPS changes in jbang somehow?"
### Description

quarkus today does rebuild somehow in maven/gradle projects and detect dependency changes - what would it take for quarkus do the same for jbang ?

### Implementation ideas

I assume would need some callback or fallback to calling jbang but then again we dont do that for maven / gradle do we ?

@stuartwdouglas @aloubyansky ideas?

[2021-07-18 09:16] aloubyansky commented on #18785
In dev mode? Not in gradle. I haven't looked into how the AppModel is initialized in jbang but I think it should be possible.

[2021-07-18 09:48] lburgazzoli commented on #18777
I got it working copying some bits from the resteasy extension:

[code]

but I think this should work out of the box as `quarkus.tls.trust-all` is set in the application properties file

[2021-07-18 11:31] re-thc opened #18786 "hibernate-reactive-panache gives error "org.hibernate.LazyInitializationException: HR000056: Collection cannot be initialized""
### Describe the bug

Tried using the latest Quarkus 2.1.0.RC and `hibernate reactive panache`. On `@OneToMany` and `@ManyToMany`. Looks like an issue with `FetchType.LAZY` as if I manually specify `FetchType.EAGER` it works. Tried wrapping it in `Panache.withTransaction` and any other combinations but doesn't work.

### Expected behavior

_No response_

### Actual behavior

org.hibernate.LazyInit

[2021-07-18 11:33] gavinking commented on #18786
Are you sure you've understood the need to call `fetch()` explicitly to perform lazy fetching in reactive?

[2021-07-18 11:47] re-thc commented on #18786
How would that work with e.g. entity.list()? I can see how it works with HR but there's no documentation of it on the Panache side. All variants of `list` return a `List<Entity>`. At this point it's already resolved? Where would `fetch` go?

[2021-07-18 12:22] #18389 closed

[2021-07-18 12:25] maxandersen commented on #18785
Yes dev mode.

[2021-07-18 13:34] postullat opened #18787 "Native Image - Windows 10 - InvalidPathException: Illegal char <:> at index 13: -Xmx2048m -XX:MaxPermSize=512m\cl.exe"
### Describe the bug

I've got `InvalidPathException: Illegal char <:> at index 13: -Xmx2048m -XX:MaxPermSize=512m\cl.exe` when tried to run a simple hello world example with native-image command on Windows 10

Environment:
1. Windows 10 Pro, x64
2. java version "11.0.11" 2021-04-20 LTS
3. graalvm-ce-java11-21.1.0
4. JAVA_HOME is in a Path
5. GRAALVM_HOME is in a Path

### Expected behavior

nativ

[2021-07-18 14:25] boojongmin opened #18788 "when I start test by debug mode then fatal and print message "Test framework quit unexpectedly" in intellij"
### Describe the bug

## screenshot error

![image](https://user-images.githubusercontent.com/9567723/126070752-0025d2b4-6c03-497a-a3c5-5b87e77cffd6.png)

### Error log
[code]

## maven information
[code]

thank you

### Expected behavior

run debug mode

### Actual behavior

fatal and show error log

### How to Reproduce?

run intellij

import project

run test by debug

### Output of `uname -a`

[2021-07-18 16:28] sberyozkin commented on #18777
Hi @lburgazzoli, indeed, the OIDC client filter itself depends on Vert.x Web Client Mutiny.

[2021-07-18 17:23] sberyozkin commented on #18649
Also update the docs about all the supported grants, how to configure the client creds grant, dynamic grants like authorization code, the one introduced here, as well as the refresh grant when the AT is provided OOB

[2021-07-18 20:22] gavinking commented on #18786
I don't think we can help any further unless you show us some code.

[2021-07-18 20:45] GavinRay97 commented on #2720
An update on this, for anyone that wants this/is following along:

So, the current implementation works for running Groovy in non-native image.
It also ALMOST works for running it in a native image.

There's a bit of finagling you need to do for this to even have a remote chance of succeeding.
1. You need to set a few extra Graal flags. I used the article below as a reference, and these are what I

[2021-07-19 00:48] ebullient commented on #18768
ok.. part of why the registry wasn't listed is that it was disabled.

[2021-07-19 03:04] ledider commented on #6531
@czetsuya can you please update the link to your solution? I have the exact same problem

[2021-07-19 03:07] czetsuya commented on #6531
@ledider updated.

[2021-07-19 03:15] GavinRay97 opened #18792 "Kotlin: `javax.ws.rs.ProcessingException: RESTEASY003215: could not find writer for content-type application/json type`"
### Describe the bug

[code]

### Expected behavior

This succeeds (or it tells me what I'm doing wrong in language so simple even I can understand it😅)

### Actual behavior

[code]

### How to Reproduce?

Code above is set up with Graal `21.3.0-dev JDK16` and the following Gradle deps, from the latest (2.1.0-CR1) release of Quarkus:

[code]

### Output of `uname -a` or `ver`

_No response_

### O

[2021-07-19 04:55] geoand commented on #2720
Thanks for the status update!

Unfortunately the need for  `--allow-incomplete-classpath, --report-unsupported-elements-at-runtime` which are global settings that are completely antithetical to what we do in Quarkus when it comes to building a native-image, is a complete showstopper.

[2021-07-19 05:23] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1044012859

[2021-07-19 06:15] xstefank commented on #18746
@kshpak I can't reproduce this with main branch or 2.1.0.CR1. Can you please check?

[2021-07-19 06:21] Sgitario opened #18795 "Regression: Continuous testing does not detect new test classes"
### Describe the bug

Given having a Quarkus application running in DEV mode and with the continuous testing enabled,
When we copy a test java class into the sources
Then the test should be detected and executed

Note that the above use case was working fine in 2.0.0.Final.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. git clone `https://githu

[2021-07-19 06:21] #18485 closed

[2021-07-19 06:53] mkouba commented on #18525
Yes, this is not supported ATM. Currently, there can be only one templates root dir in the app module.

[2021-07-19 07:00] ebullient commented on #18775
Ok. Intent is clear, but rammifications aren't.
Each registry appears in the config as a block of attributes:
[code]
etc. etc.

If I have customized any of these, I don't want any command that just changes the search/priority order of registries to wipe out those customizations.

I've started #18769 to experiment with making `registries:` a map, such that we can use the insertion order in the abse

[2021-07-19 07:24] mkouba commented on #18588
Yes, this is really the problem. If you invoke a bean method in the `@PostConstruct` callback then the concept of client proxies does not really help and the container would have to try to use `CreationalContext#push()` as described in [the spec](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#creational_context). However, even then there are use cases where `CreationalContext#push()` does not r

[2021-07-19 08:13] maxandersen commented on #18775
why  would we need a registry.precedence ? isn't LinkedHashmap used to back these?

why  not just reorder the list/map ? or are you just suggesting registry.precedence as optional alternative ?
a caveat with that is that then you need to decide what you do when registry.precedence and registries does not match.

maybe a list is better:

[code]

[2021-07-19 08:38] aloubyansky commented on #18775
A list is better, imo. Which is why I would keep the current impl for now.

[2021-07-19 08:48] tbvl opened #18796 "Quarkus hot reload fails on absent test folder and/or test class in Continuous Testing mode"
### Describe the bug

In a multi Maven module project where a dependee project lacks the test/java folder and/or at least one test class the hot code reload stops working in the Test Runner Thread after throwing an exception, when running in Continuous Testing mode:

![quarkus_NoSuchElementException](https://user-images.githubusercontent.com/1332978/126122662-a2a16491-6589-4ad7-9d19-cf5aac1b601b.j

[2021-07-19 09:12] maxandersen commented on #18775
Ah yes. Current impl is a list already. +1 for that being the most meaningful.

[2021-07-19 09:19] vsevel commented on #18360
a quick note about the initial results I posted when I opened the issue: the test on `2.0` was especially bad because, I am convinced, the host was actually swapping. It was configured with `8Gb` of RAM. and this was good enough for a single build on `1.13`. But on `2.0`, RAM usage increased slightly, which got us probably just above what was available given the other processes (e.g. maven, docker

[2021-07-19 09:21] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1044022774

[2021-07-19 09:24] #18276 closed

[2021-07-19 09:25] lgtti opened #18797 "Quarkus datasource critical errors for missing configurations"
### Describe the bug

If you don't set the datasource configurations username and passwords, the agroal extension prints:
08:47:26 WARN [io.ag.pool]] (agroal-11) Datasource '<default>': The server requested password-based authentication, but no password was provided.
08:47:26 WARN [or.hi.en.jd.en.in.JdbcEnvironmentInitiator]] (main) HHH000342: Could not obtain connection to query metadata: org.pos

[2021-07-19 09:26] #18736 closed

[2021-07-19 09:27] rmanibus commented on #18736
Thanks a lot !

[2021-07-19 09:29] #18778 closed

[2021-07-19 09:49] geoand commented on #18783
Thanks for reporting!

https://github.com/quarkusio/quarkus/pull/18798 fixes the issue

[2021-07-19 09:50] aloubyansky opened #18799 "CLI ext add, list, remove are not registry aware"
### Describe the bug

Currently the registry client needs to be explicitly enabled to resolve extension catalogs from registries. This option is available for `create` but not the rest of the commands such as `add`, `list` and `remove`.
Either we should switch to the registry client as the default source of extension catalog or we need to add the option to all the commands to enable it.

### Expec

[2021-07-19 09:53] gsmet commented on #18797
/cc @barreiro @Sanne

[2021-07-19 10:23] ge0ffrey commented on #17877
@yuhaibohotmail Any idea what's special on the PC you can reproduce it with? I 'd love to get to the bottom of this.
It's not ok that drools something doesn't work.

[2021-07-19 10:31] geoand commented on #18788
Can you attach a project that behaves this way? I have never seen this myself...
Also, what version of Quarkus and what version of IntelliJ are you using?

[2021-07-19 10:37] ge0ffrey commented on #17877
@yuhaibohotmail What happens if you run this code on both windows machines:

[code]

[2021-07-19 10:37] lburgazzoli commented on #18777
@sberyozkin I tested that `OidcClientRequestFilter` is really not the culprit here but it looks like the implementation of `RestClientBuilder` do not honor `quarkus.tls.trust-all`

[2021-07-19 10:40] radcortez commented on #18727
Lists are not supported as the root level, so you should create a mapping that represents the root, something like:

[code]

[2021-07-19 10:41] albert0815 opened #18802 "Include OIDC provider in health"
### Description

I think it would be useful if the OIDC provider (e.g. keycloak) could be integrated in the health status out of the box (similar to e.g. mongo or kafka).

### Implementation ideas

_No response_

[2021-07-19 10:43] Sanne commented on #18797
@lgtti thanks for the report.

Did you set any other configuration properties? I'm particularly interested in those for the datasource, as some option exist intentionally to start the pool lazily - which is a requirement for some users.

[2021-07-19 10:44] geoand commented on #18294
@iocanel this came up again. Can you take a look?

[2021-07-19 10:48] yrodiere commented on #18797
@Sanne From what I can see the error happens in `JdbcEnvironmentInitiator`, probably when auto-detecting some options by opening a connection. IIRC, we ignore errors when we do this, because the database might be down.

Once again (and I hate to admit it), it seems hardcoding the value of these options might be a good idea. If we had such hardcoded values available for the most common setups, then

[2021-07-19 11:01] Sanne commented on #18797
Sure, but don't forget also that Agroal is supposed by default to start eagerly, precisely to validate connections but also to pre-fill the pool. Hibernate ORM is just a client and at this point the bootstrap should already have failed.

But yes we might _also_ want to make ORM more picky, since as I mentioned it's possible to configure Agroal to be lazy: so I guess we have a gap in validation whe

[2021-07-19 11:53] antonwiens opened #18806 "Smallrye-Opentracing with Reactive Rest Client no longer working"
### Describe the bug

When using Quarkus-Smallrye-Opentracing together with rest-client-reactive the clients are not usable.

Notice:

I had to add serveral quarkus extensions and enable metrics on them for this to occur. It is kinda strange.

It have the feeling it has something to do with micrometer and rest metrics, just a hunch.

I think the real problem is that a registration like for resteas

[2021-07-19 11:56] lgtti commented on #18797
My config/application.properties contains very few datasource configurations:

[code]

I have noticed the problem when i have deployed the file with kubernetes and i have written quarkus,datasource.password (note the ',' after quarkus word).
I'm very careful during an update and in the log i have read the Warning but without this check my pods were all ok and green.
This is the real problem.

[2021-07-19 12:06] davsclaus opened #18808 "Extensions should be sorted case insensitive"
**Describe the bug**
(Describe the problem clearly and concisely.)

Extensions are sorted with case sensitive, eg A..Za..z

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

They should be sorted regardless of case

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to reproduce the behavior:
1. https://code.quarkus.io/?ex

[2021-07-19 12:07] geoand commented on #18745
cc @evacchi

[2021-07-19 12:10] ebullient commented on #18775
The list doesn't work if you want `clear`, or if you want a priority/sort order to span registries defined in project-local config and global config, unless you assume project local config will be a complete duplication.

[2021-07-19 12:20] ebullient commented on #18799
One of the times I asked, I was told the registry client wasn't needed because the platform is already determined by the project. (That doesn't necessarily apply to listing extensions outside of a project context, but in that case you're also specifying a platform or stream explicitly)

[2021-07-19 12:36] ia3andy commented on #18808
@davsclaus  would you provide a PR?

[2021-07-19 12:57] #18783 closed

[2021-07-19 12:58] jamesnetherton opened #18811 "Avoid configuring `kafka.group.id` if no other Kafka configuration is present"
### Description

Something that was observed in a Camel Quarkus [issue](https://github.com/apache/camel-quarkus/issues/2901) is that `KafkaRuntimeConfigProducer` will potentially always [add](https://github.com/quarkusio/quarkus/blob/4f8cf8b92db294cf8f4d625d95e0127f52d31437/extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/KafkaRuntimeConfigProducer.java#L41-L43) config

[2021-07-19 13:10] iocanel commented on #18294
It seems like kubernetes-model mismatch. Not sure if its part of dekorate or kubernetes-extension, without a stacktrace. But, I'll try it locally and see.

[2021-07-19 13:26] rsynek opened #18812 "IntelliJ IDEA cannot compile language features of Java version greater than 8"
### Describe the bug

IntelliJ IDEA is unable to recognize newer Java language features in the Quarkus project. An example is using local variable type inference (`var anything = "anyValue";`) anywhere in the project.

Manually overriding the language level in Project Settings -> Modules does help only temporarily; IDEA updates these settings from the maven pom.xml.

This behavior is triggered by

[2021-07-19 13:37] #18130 closed

[2021-07-19 13:43] Sgitario opened #18814 "Regression: Native fails with `java.lang.ClassNotFoundException: java.lang.Integer`"
### Describe the bug

I have a pretty basic scenario that uses the `quarkus-config-yaml` Quarkus extension and it fails after build the Native image with:

[code]

I don't think this issue is related to the `quarkus-config-yaml` extension as I saw the same error using the reactive Kafka extension.

Doing exactly the same using 2.0.2.Final works fine, but not with 2.1.0.CR1 or 999-SNAPSHOT.

### Ex

[2021-07-19 13:56] #18768 closed

[2021-07-19 13:56] #18773 closed

[2021-07-19 14:42] 01epa opened #18817 "Package private Quarkus class could not be used in tests"
### Describe the bug

We have a large application based on quarkus. We wrote a new Quarkus extension (added quarkus oidc extension as dependency). We extended a lot of security Quarkus classes. everything was fine. Now we decided to upgrade quaruks to 2.0.2 version. And we see that some tests started failing.
The special thing of these tests that they are testing extended protected Quarkus securit

[2021-07-19 14:43] joggeli34 opened #18818 "Keycloak PolicyEnforcer logs "Could not lazy load resource" for public entpoints"
### Describe the bug

When using keycloak-authorization, the public endpoints (e.g. /q/health/live) are logging following exception when keycloak is not reachable (due to restart or something else).

[code]
The api call stays responsive, even if this error is logged. So it's more a problem about polluting the log and not about the functionality.

But I assumed that keycloak is not called if the en

[2021-07-19 14:43] geoand commented on #18818
cc @sberyozkin

[2021-07-19 14:54] pilhuhn opened #18819 "Quarkus 2.1.0.CR1 complains about split-package"
### Describe the bug

I have this in my pom:

[code]

When running (tests) Quarkus complains

[code]

and also later:

[code]

### Expected behavior

This warning should not be printed, as the user can not do anything against it.

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

[2021-07-19 14:55] geoand commented on #18819
@loicmathieu IIRC, you have a PR for this, right?

[2021-07-19 14:59] geoand commented on #18819
I'll close this as a duplicate of https://github.com/quarkusio/quarkus/issues/18732

[2021-07-19 14:59] #18819 closed

[2021-07-19 14:59] GavinRay97 commented on #2720
Ah damn. Welp, that's likely the end of any hope for full Groovy support on Quarkus, if you want to run it as a native image.

I can check to see if it runs it without those, but I am fairly certain it doesn't.

Suppose worst case I can publish the plugin artifact for anyone who doesn't need to run as a native image and wants Groovy as a JVM process, then at least it wasn't all for nothing.

(And

[2021-07-19 15:00] geoand commented on #2720
Makes sense.

Thanks a lot for your effort on this

[2021-07-19 15:04] edeandrea opened #18820 "Guide/code.quarkus.io native image testing re-work"
### Description

The Quarkus native image testing guide (https://quarkus.io/guides/getting-started-testing#native-executable-testing) says that `@NativeImageTest` is not yet deprecated but will be in the future and to use `@QuarkusIntegrationTest`.

If so, why does code.quarkus.io still generate projects using `@NativeImageTest` (& also the native image test extending the non-native base class).

[2021-07-19 15:04] GavinRay97 commented on #2720
No problem, thanks for your personal time as well, appreciate you =)

[2021-07-19 15:05] loicmathieu commented on #18819
Yes, this one has already been fixed by a PR by @gsmet.

[2021-07-19 15:05] geoand commented on #18820
cc @ia3andy

[2021-07-19 15:06] geoand commented on #18812
Indeed, OOTB IntelliJ fails, but https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#frequently-asked-questions mentions how to deal with the problem

[2021-07-19 15:07] #18812 closed

[2021-07-19 15:09] geoand commented on #18819
Cool, thanks

[2021-07-19 15:21] nastra opened #18823 "Reading config settings as Map doesn't work with Inheritance"
### Describe the bug

[code]

Note that something like this works when reading config properties that aren't maps. I would expect this to work with Maps as well. I also created a test in https://github.com/quarkusio/quarkus/pull/18822 that reproduces this issue.

### Expected behavior

_No response_

### Actual behavior

Config properties aren't being read when the same method name is in the paren

[2021-07-19 15:25] sberyozkin commented on #18818
@joggeli34 If `quarkus.keycloak.policy-enforcer.enforcement-mode=enforcing` then an attempt is made to check the remote configuration - I think you need to disable a policy check for this path to avoid the remote calls, can you try it please ?

CC @pedroigor

[2021-07-19 15:30] aaloise commented on #2720
+1 for the plugin artifact, if native image is not needed. Eventually Groovy might have a better support for it, but meanwhile would be nice to see Quarkus + Groovy + "Regular" JVM

[2021-07-19 15:32] DavideD commented on #18786
@re-thc Without a reproducer it's hard to help you.

But I'm assuming that the problem is that you are trying to include the lazy collection in the response and because you have fetched it you have the exception.

I think in this scenario the best option is to eagerly fetch the lazy collections using the find method:
[code]

Where `lazyCollection` is the name of the field mapping the lazy associat

[2021-07-19 15:40] geoand commented on #2720
This would be a good candidate for a Quarkiverse extension

[2021-07-19 15:45] ia3andy commented on #18820
Good point, it's just a matter of updating the templates, we really need that done for the next release and backported to previous versions:

This is one of the templates to update (it needs to be done in java/kotlin/scala and also in resteasy-reactive):

https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/extension-codest

[2021-07-19 15:47] ia3andy commented on #18820
@edeandrea are u up for a PR?

[2021-07-19 15:48] edeandrea commented on #18820
@ia3andy possibly. I'm just returning from a week's worth of PTO and have a ton of stuff to get through this week, so chances are it wouldn't be anything I could get to in the next week or 2.

[2021-07-19 15:49] ia3andy commented on #18820
@edeandrea thanks! no worries I'll have a look tomorrow..

[2021-07-19 15:50] ia3andy commented on #18820
the code generation tests (snapshots) will also need to be updated accordingly

[2021-07-19 15:53] joggeli34 commented on #18818
The same happens also when changing the configuraiton to:
[code]

[2021-07-19 15:55] GavinRay97 commented on #2720
Okay sure, I will put it up on the Quarkiverse with some notes in the README about the little idiosyncrasies it has (like requiring `@PathParam` to have named arg) and then folks can use it if they like =)

[2021-07-19 16:07] michalszynkiewicz commented on #9766
A lot has changed in the area. I will close the issue as it's likely solved in 2.x but please reopen/let us know if it's still there.

[2021-07-19 16:07] #9766 closed

[2021-07-19 16:11] gsmet commented on #18814
Good catch @Sgitario , just in time for the Final!

[2021-07-19 16:13] joggeli34 commented on #18818
When using follwing configuration (as all my paths are under /api/* anyway), the authentication is disabled "/api/*" too, but I was expecting that it would be enabled for all the paths under /api/*
[code]

[2021-07-19 16:19] cescoffier commented on #18811
Make sense. The fix is trivial.

[2021-07-19 16:46] lucafuji commented on #18726
@famod
I tried run with "./gradle check", it did generate reports, but it did not fail the build because of low coverage

[2021-07-19 16:59] Srinivasa-Cana opened #18830 "Quarkus 2.0 mongodb with devServices option"
### Description

I have quarkus2.0 application running with mongodb database.

To run my tests, I am depending on devServices option if I am not configuring quarkus.mongodb.connection-string for test profile Quarkus will start mongod docker container for tests.

Issue I have how to pass mongodb connection string options (ex: uuidRepresentation=standard). I am using uuidRepresentation=standard opti

[2021-07-19 17:02] MarcusBiel opened #18831 "application.xml instead of application.properties"
### Description

It would be great to be able to use XML (plus XSD validation :) instead of the properties file or yaml.
@radcortez
----
//CC @brunoborges  :)

### Implementation ideas

_No response_

[2021-07-19 17:33] evanchooly commented on #18830
honestly, the connection string used by dev services should include that by default.  I've yet to run across anyone *not* using the standard UUID representation.  Fixing that is a simpler fix as dev services assumes no user defined connection string, iirc.

[2021-07-19 17:43] sberyozkin commented on #18818
@joggeli34 Policy enforcer matching code might not be able to handle wildcards when it comes to nested paths, so perhaps it should be `/q/health/*`

[2021-07-19 18:11] #18806 closed

[2021-07-19 18:12] #18808 closed

[2021-07-19 18:13] #18592 closed

[2021-07-19 19:23] Srinivasa-Cana commented on #18830
Configure default works for me (Since it is new DB).

if any user using it old mongodb server which is having  JAVA_LEGACY implementation in their DB? How we are going to support that.  May be very less people right now for this option :)

[2021-07-19 20:07] gsmet commented on #18830
I think we should add `properties`similar to what we have in the datasource support here: https://github.com/quarkusio/quarkus/blob/main/extensions/datasource/runtime/src/main/java/io/quarkus/datasource/runtime/DevServicesBuildTimeConfig.java#L35

[2021-07-19 20:15] #18731 closed

[2021-07-19 20:18] radcortez commented on #18831
I'll have a look.

[2021-07-19 20:20] #18814 closed

[2021-07-19 20:24] famod commented on #17093
`Timeout*Test`s still fail, see https://github.com/quarkusio/quarkus/pull/18710#issuecomment-880793441

[2021-07-19 20:40] famod opened #18833 "Re-enable TokenUtilsEncryptTest#testFailAlgorithm on Java 17+"
### Description

Because of some algorithm problem, that test (in `tcks/microprofile-jwt`) fails on Java 17 and was thus disabled: #18790

The goal is to re-enable that test (probably after some upstream update).

See also:
- https://bugs.openjdk.java.net/browse/JDK-8248268
- https://bitbucket.org/b_c/jose4j/issues/189
- #18372

/cc @sberyozkin

### Implementation ideas

_No response_

[2021-07-19 20:53] michalszynkiewicz commented on #12600
Turns out quarkus-infinispan-client brings in an annotation processor.
When java compiler sees at least one annotation processor, it processes annotations. It finds JSR305 annotations on the gRPC's `AbstractStub` stubs and fails on it.

This looks weird to me because missing annotations are simply ignored when no annotation processors are present, but I cannot find a way around it.

[2021-07-19 20:55] michalszynkiewicz commented on #12600
I'm closing this issue, it seems JSR305 is needed for gRPC (at least if we want to keep inheriting from `AbstractStub`)

[2021-07-19 20:55] #12600 closed

[2021-07-19 20:59] #18774 closed

[2021-07-19 20:59] #18799 closed

[2021-07-19 21:08] michalszynkiewicz commented on #10738
after giving it some thought, it doesn't make much sense, closing

[2021-07-19 21:08] #10738 closed

[2021-07-19 22:21] Sanne opened #18838 "ConditionalDependenciesTest shouldn't hardcode the byte-buddy version"
### Description

The `ConditionalDependenciesTest` test in the gradle integration tests module has hardcoded a specific version of Byte Buddy.

Byte Buddy is a dependency managed by Hibernate ORM, and we occasionally need to change its version so it would be desireable to not hardcode this.

### Implementation ideas

Either infer the right version of ByteBuddy which should be expected by getting i

[2021-07-20 02:41] QiAnXinCodeSafe opened #18839 "There is a vulnerability in Apache Maven 2 v3.2.5,upgrade recommended"
https://github.com/quarkusio/quarkus/blob/c935245191212bd2797fd5370266984b58fa37de/tcks/microprofile-opentracing/base/pom.xml#L143

CVE-2021-26291

Recommended upgrade version：3.8.1

[2021-07-20 04:38] stuartwdouglas commented on #18795
The 'cp' command in the reproducer is wrong (test/resources instead of test/java), but there is an issue here if the src/test/java dir does not exist when the app is launched. I have added this into https://github.com/quarkusio/quarkus/pull/18840 as they are related.

[2021-07-20 05:09] #18676 closed

[2021-07-20 05:09] Sgitario commented on #18795
I wrote the cp command wrongly, my bad. Glad to know that this will be addressed though!

[2021-07-20 05:13] #18767 closed

[2021-07-20 05:21] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1047669575

[2021-07-20 05:28] mweber03 commented on #18727
Can this be added as an enhancement? It seems like a useful feature.

[2021-07-20 05:36] geoand commented on #18830
I agree with @gsmet, we should be consistent with this. I'll open a PR soon

[2021-07-20 05:39] ambition-consulting commented on #17386
Same here. Might make sense to cover such basic functionality with a unit test?

[2021-07-20 05:59] stuartwdouglas commented on #18817
You can work around this for now with `quarkus.test.flat-class-path=true`, but in general split packages are not really supported, and won't work in devmode.

[2021-07-20 06:08] #18811 closed

[2021-07-20 06:39] Sgitario opened #18842 "Breaking change when upgrading Quarkus to 2.1"
### Describe the bug

Given:

[code]

The property was being mapped from:

[code]

This was working fine prior to 2.1 (unreleased yet). However, in 2.1, we upgraded Smallrye Config to 2.4.2 in https://github.com/quarkusio/quarkus/pull/18629 which contains this change https://github.com/smallrye/smallrye-config/pull/613.

From my understanding, the Smallrye Config change is to correctly apply the `

[2021-07-20 06:39] Sgitario commented on #18842
Adding @radcortez for clarification

[2021-07-20 06:50] ambition-consulting commented on #11632
Is this documented anywhere? Took me forever to find out about the required annotations when guarding Unis.

[2021-07-20 06:56] Ladicek commented on #11632
Starting with SmallRye Fault Tolerance 5.2.0, which will be available since Quarkus 2.1.0.Final, there's a non-compatible mode that doesn't require extra annotations for async methods. The MicroProfile Fault Tolerance specification explicitly says that this shouldn't work (which is why I originally went for extra annotations), but I find that less and less appropriate. So even if SmallRye Fault To

[2021-07-20 06:56] cescoffier commented on #11632
For existing documentation, there is: https://smallrye.io/docs/smallrye-fault-tolerance/5.2.1/usage/extra.html#blocking-nonblocking

[2021-07-20 07:09] ambition-consulting commented on #11632
For completeness, this is the JDK 11 error associated with not using the annotations:
java.lang.ClassCastException: class io.smallrye.context.Jdk9CompletableFutureWrapper cannot be cast to class io.smallrye.mutiny.Uni (io.smallrye.context.Jdk9CompletableFutureWrapper and io.smallrye.mutiny.Uni are in unnamed module of loader io.quarkus.bootstrap.classloading.QuarkusClassLoader

Same for JDK 15 wit

[2021-07-20 07:25] joggeli34 commented on #18818
When adding:
[code]
with the corresponding resource in keycloak, the pathConfig gets marked as static and is then not invalidated anymore. Would it be a possibility to mark all disabled-paths as static directly?

[2021-07-20 07:26] #17217 closed

[2021-07-20 07:30] mkouba commented on #18386
I'm going to close this issue now. Feel free to reopen if you still think we should do something in this area.

[2021-07-20 07:30] #18386 closed

[2021-07-20 07:32] mkouba commented on #14559
I'm going to close this issue now. Feel free to reopen if you still think we should do something in this area.

[2021-07-20 07:32] #14559 closed

[2021-07-20 07:37] rsvoboda opened #18843 "websockets codestart overrides code sample from spring-web when using together"
### Describe the bug

When generating project with `-Dextensions=spring-di,spring-web,websockets` I receive just code sample for websockets and not code sample for spring-web.

1.13.7.Final based command generates examples with both websockets and spring-web code examples.

### Expected behavior

Both websockets and spring-web code examples are generated.

### Actual behavior

Just code sample for

[2021-07-20 07:39] pjgg opened #18844 "DevServices datasource property name is quite generic"
### Describe the bug

`quarkus.datasource.devservices` should be renamed to `quarkus.datasource.devservices.enabled` as other devServices as `quarkus.kafka.devservices.enabled`

### Expected behavior

Disable datasource DevServices by this property -> `quarkus.datasource.devservices.enabled`

### Actual behavior

Disable datasource DevServices by this property -> `quarkus.datasource.devservices`

[2021-07-20 07:42] rsynek commented on #18812
Thanks @geoand , it helps. Although I would argue it's not the best getting started experience for anyone who is not aware of this trick. I will file an issue with IntelliJ to hopefully get the root cause fixed.

[2021-07-20 07:43] 01epa commented on #18817
Thanks. It helps. Can ypou poiny me to a documentation what does this flag do?

Also it would be great if you explain why this happened. Is it a bug or expected behaviour?

Also if I moved everything to one package it does not help. I don't understand how multiple packages relates to the issue...

Thanks in advance.

[2021-07-20 07:50] #12923 closed

[2021-07-20 07:52] aomsweet commented on #17088
Hi everybody.

The Quarkus version has been upgraded to 2.0.2.Final. Any updates on this?

Thanks.

[2021-07-20 07:53] #18830 closed

[2021-07-20 07:59] markusdlugi commented on #18299
How can we proceed here? Do we need to open an issue for vert.x?

We do have the workaround with `-Dvertx.disableTCCL=true` but it's rather ugly due to the many warnings so it kinda ruins the dev mode user experience. We haven't experienced any negative side effects with that workaround as of yet, but can't really tell if there actually are none.

[2021-07-20 08:00] ia3andy opened #18845 "Environment variable mapping is not working propertly using @ConfigMapping or @WithName"
### Describe the bug

Config is not found following the spec (https://github.com/eclipse/microprofile-config/blob/master/spec/src/main/asciidoc/configsources.asciidoc#environment-variables-mapping-rules) when using environment:

[code]

### Expected behavior

The app should start and `my.config.my-foo` should be equal to `bug`

### Actual behavior

fail

### How to Reproduce?

Reproducer:

1. git

[2021-07-20 08:01] mkouba commented on #18345
FTR after we merged the micro optimizations from the https://github.com/quarkusio/quarkus/pull/18567 the resulting set of removed beans will usually take a few tens of kilobytes of heap (8 KB for the hibernate-orm-quickstart) which is probably acceptable in most cases. For others, `quarkus.arc.detect-unused-false-positives=false` should help.

[2021-07-20 08:05] AnakinPt commented on #18759
@kenfinnigan I would like to have what I can't do to manage the clusters. The first would be change log levels without restarting containers. Other thing, we can't use Kubernetes Dashboard because we don't use Kubernetes. My team uses AWS ECS.

[2021-07-20 08:08] mkouba commented on #11215
I'm going to close this one as it looks like the problem is not related to ArC. Feel free to reopen it if you believe that there's something we could fix.

[2021-07-20 08:08] #11215 closed

[2021-07-20 08:11] geoand commented on #18812
👌

There has also been discussion of making some changes to our parent pom in order to get around the issue.
We'll see what happens

[2021-07-20 08:11] aloubyansky commented on #18775
Up until this issue, we haven't really considered actually merging multiple configs. There is no notion of a config hierarchy currently. The first config file found is what we use, atm. Not saying it must stay this way but that's how it is today, just in case.

The original idea behind the config was it was supposed to be super light and simple, i.e. a list of a few URLs/IDs. For a typical user we

[2021-07-20 08:11] gsmet commented on #18845
@radcortez could you have a look at this one in priority? Thanks!

[2021-07-20 08:27] mkouba commented on #15326
I'm going to close this issue. It seems that @aomsweet found a viable workaround and we have no reproducer.

[2021-07-20 08:27] #15326 closed

[2021-07-20 08:31] jeanphibaconnais commented on #6531
Hi, i saw this discussion and like @k33g said, you can use Kaniko to deploy your image.

Based on the example of @czetsuya, I added deployment and this is available [here](https://gitlab.com/-/snippets/2151871). This gitlabci file allows to package a project in jvm mode & native mode and use Kaniko to make one image for each mode.

[2021-07-20 08:38] MarcusBiel opened #18846 "@QuarkusCucumberTest"
### Description

Description Cucumber is the most used tool for BDD testing and it supports Junit5, the problem is that the support for Junit 5 is using the Test engine instead the junit extensions. It would be great to have @QuarkusCucumberTest that take care of this problem

Implementation ideas I think that something like https://github.com/cucumber/cucumber-jvm/tree/main/spring could be implem

[2021-07-20 08:39] mkouba commented on #3241
I'm to close this issue. 1) In CDI, circular dependencies are only supported when at least one bean in the chain is normal scoped, which is not the case in the snippet above. 2) `@ApplicationScoped` should work if you add a no-args constructor to the `SomeBean` class or even better, make it `static` so that an implicit constructor is not generated by the compiler. 3) It might even work in newer ve

[2021-07-20 08:39] #3241 closed

[2021-07-20 08:45] #18796 closed

[2021-07-20 08:45] #18795 closed

[2021-07-20 08:46] mkouba commented on #7284
This should be solved by https://github.com/quarkusio/quarkus/pull/18617.

[2021-07-20 08:46] #7284 closed

[2021-07-20 08:48] geoand commented on #18842
If this is indeed the case, we will need an entry in the migration guide

[2021-07-20 08:50] geoand commented on #18844
I think we do the same thing in Mongo.
I am +1 for this (we should be consistent in any case, whichever way we go down), but it would be a breaking change.

cc @gsmet

[2021-07-20 09:07] geoand commented on #18846
I'll close this as a duplicate of https://github.com/quarkusio/quarkus/issues/11045 since that issue has a lot of discussion

[2021-07-20 09:07] #18846 closed

[2021-07-20 09:08] geoand commented on #18845
Is this is duplicate of https://github.com/quarkusio/quarkus/issues/18842? If not, it seems pretty close :)

[2021-07-20 09:15] radcortez commented on #18845
Sure, let me have a look.

[2021-07-20 09:17] gsmet commented on #18844
I created https://github.com/quarkusio/quarkus/pull/18847 .

I think we should include it in 2.1 to remove the deprecated one before we release 2.2.

[2021-07-20 09:26] radcortez commented on #18845
This one was fixed in https://github.com/smallrye/smallrye-config/pull/600.

The SR Config version is already updated in Quarkus `2.1.0.CR1`, so it works correctly with that Quarkus versions. Alternatively, the SR Config version can be also manually updated to fix the issue in the `2.x` range with:

[code]

@gsmet SR Config `2.4.x` is backwards compatible with `2.3.x`. Do you want me to backport i

[2021-07-20 09:34] gsmet commented on #18845
@radcortez I will do it for 2.0.3.Final, no worries.

[2021-07-20 09:39] ia3andy commented on #18845
Thanks @radcortez the workaround is working:
https://github.com/quarkusio/code.quarkus.io/commit/895dee8950d5ad2687c638262d0c951747e65e70

[2021-07-20 09:52] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1047678677

[2021-07-20 10:36] lburgazzoli commented on #18777
@gsmet mind having a look ?

[2021-07-20 10:59] sberyozkin opened #18853 "Disabling Dev Services For Keycloak causes a template exception due to a strict rendering"
### Describe the bug

Adding `quarkus.keycloak.devservices.enabled=false` to `application.proiperties` and starting with `quarkus:dev` and with `quarkus-oidc` included causes a template exception since the Dev UI templates shipped with `quarkus-oidc` check various properties created by the KC dev services processor which starts a container. I've spotted this problem after trying to accelerate the

[2021-07-20 11:05] bdevreugd-vialis opened #18854 "Access to DevService properties in QuarkusIntegrationTest"
I have a quarkus integration test, which uses the devservices of Mongodb and Kafka. I can see the properties being passed to my docker image, so that gets started with the correct details.

However, I would also like to access those services from my test (to add 'input' messages  to kafka and to verify data written to the DB), but it is currently impossible to determine the correct connection deta

[2021-07-20 11:08] chschroe74 commented on #18588
Thanks, @mkouba, for the insights. In my real application (which I stripped down to the example that I provided), there is an `Instance` involved, so I wanted to try if `CreationalContext#push()` would help. Unfortunately, I found that this method is not even implemented, so I am probably out of luck.

I do not think that I can break up the circular dependency in my real application. (I could go i

[2021-07-20 11:19] pjgg opened #18855 "Migration guide Quarkus 2.0 / non-application endpoints"
### Describe the bug

[Migration guide](https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.0#legacy-redirect-for-non-application-endpoints-such-as-health) talks about non-application endpoint redirection, but should also talk about the impact of these changes in Openshift `ServiceMonitor` resource.

If your services export metrics to Prometheus you must create an OCP ServiceMonitor, for e

[2021-07-20 11:22] geoand commented on #18855
Doesn't https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.0#prometheus-servicemonitor say exactly this?

[2021-07-20 11:26] mkouba commented on #18588
Yes, ArC does not implement this method. In fact, the container is actually not required to call this method.

Unfortunately no. I'd recommend you to try break the circular dependency anyway. That's the best option.

[2021-07-20 11:28] mkouba commented on #18853
@sberyozkin What does the template exception look like? What's the problematic expression? We should be able to fix it...

[2021-07-20 11:28] pjgg commented on #18855
I didn't see it! :)

Then this issue could be closed!

[2021-07-20 11:28] #18855 closed

[2021-07-20 11:33] sberyozkin commented on #18853
Hey Martin, yeah, hope so, going to try now that I've got my coffee :-), it is:
[code]
(and I expect a few more would happen for the other properties) - so I'll register these properties as null values and it should do it

[2021-07-20 11:48] mkouba commented on #18853
You don't need to pass `null` but use a safe expression instead: `{info:keycloakUrl??}` (as described in the [docs](https://quarkus.io/version/main/guides/qute-reference#strict-rendering)) However, I'm not quite sure it would be a good UX in this particular case because you would render a link with empty `href`.

[2021-07-20 11:58] sberyozkin commented on #18853
@mkouba

Cool, I should've read your comment before modifying the code :-)

Dev UI OIDC Card will not link to this template if `keycloakUrl` is not available:
https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/deployment/src/main/resources/dev-templates/embedded.html

There, if no external devservices provided, and no `keycloakUrl` is set then the default OIDC template will be included

[2021-07-20 12:08] geoand commented on #18854
This is very interesting.

We can certainly inject some kind of dev-services configuration lookup service into the test that users could query.

@gsmet @stuartwdouglas WDYT?

[2021-07-20 12:08] sberyozkin commented on #18853
Hi Martin, @mkouba

I've only added
[code]

and it worked - nothing else had to be changed - I could've guessed it, sorry, but I've also learned about a `??` expression :-)

[2021-07-20 12:10] radcortez commented on #18727
If you prefer, you can map only the List, but for now, it always requires a wrapping object. Right now, supporting such a case is not in our priorities, since in my opinion, you are not saving much (just a couple of lines of code) so I don't see it as a feature that requires priority.

Of course, if you are willing to invest the time and provide the implementation for it, we are happy to review yo

[2021-07-20 12:11] mkouba commented on #18853
Hmm, the `{#if info:keycloakUrl}` should fail in the same way; `{#if info:keycloakUrl??}` is the "safe" version. But if it works then OK ;-).

[2021-07-20 12:13] radcortez commented on #17088
Not yet. I'm working right now to support `@ConfigMapping` into extensions. I already have a prototype, but still far from complete. When that is done, I'll reference this issue (and others related).

[2021-07-20 12:20] sberyozkin commented on #18853
@mkouba Sure, I'll add a few top level safe expressions as well just in case

[2021-07-20 12:49] MartinX3 commented on #18746
I get this warning for every of my @Entity classes in 2.0.2.Final

[2021-07-20 13:18] Karm opened #18858 "Warning: Class does not exist in ClassLoader QuarkusClassLoader:Deployment Class Loader: PROD"
Quarkus 2.0.2 shows a new Warning while compiling a MicroProfile application (Health checks) with Graal/Mandrel:

[code]

Full log: [gist](https://gist.github.com/Karm/0aaf1317996eb98150881ab76625837c)

### Expected behavior

Explained or fixed.

### How to Reproduce?
(With your GRAALVM_HOME set or Docker available...)

[code]

### Quarkus versions affected

Quarkus 2.0.0.Final was O.K. and Quarku

[2021-07-20 13:22] tbvl commented on #18796
@stuartwdouglas Thanks for the quick turnaround and fix! I will get it tested one of days.

[2021-07-20 13:37] radcortez commented on #18842
Before the SmallRye Config fix, the `@WithName` was wrongly applying the naming strategy when it was intended to be an exact match of the annotation, so the current behavior is the expected one.

I don't consider this a breaking change, because it was a bug.

[2021-07-20 13:40] geoand commented on #18842
OK, but we at least need to give users a notice in the migration guide, that what they might have had working before will stop working now

[2021-07-20 13:49] radcortez commented on #18105
But I still didn't understand why do you have a rest client dependency without a rest client implementation? Are you looking to use some specific API from this dependency that doesn't require the client?

[2021-07-20 14:13] wernert75 opened #18859 "Force http2 via configuration"
### Description

Currently http2 can only activated, if ssl/tls is enabled.
Since using quarkus behind a reverse-proxy with tls-termination http2 seams to be not working.
Even if quarkus.http.http2=true is set.

Please make it possible to force http2 with Plain-Text in case of running in the described scenario.

### Implementation ideas

_No response_

[2021-07-20 14:20] geoand commented on #18858
I think this has already been fixed in `2.1.0.CR1` (or `2.1.0.Final`), right @mkouba ?

[2021-07-20 14:28] #18770 closed

[2021-07-20 14:40] rsvoboda commented on #16895
@cescoffier yes, it's about permissions

I see `"message":"Unable to make the Vert.x cache directory (C:\\Users\\RUNNER~1\\AppData\\Local\\Temp\\vertx-cache) world readable and writable"` with Quarkus 2.0.2.Final

[2021-07-20 14:45] FroMage commented on #18263
After quite a lot of hair pulling due to config and trying to follow the multi-tenant docs at https://quarkus.io/guides/hibernate-orm#multitenancy I had to:

- Change the config, to be able to use DEV Services using postgres
- Also to be able to create the DB schema
- Add `TenantResolver` implementations for each tenant (no idea why one would not be enough)

And then I tried it, and it works. I do

[2021-07-20 14:45] FroMage commented on #18263
My working project is at https://github.com/FroMage/quarkus-java-multi-pu

[2021-07-20 15:03] mweber03 commented on #18727
I would be interested in making this update. I haven't dove deep into the Quarkus/Smallrye code yet, do you have a suggestion of what classes I should start looking with?

[2021-07-20 15:19] radcortez commented on #18727
Great. The main functionality is implemented in SR Config.

Start by looking at:
https://github.com/smallrye/smallrye-config/blob/b10181c9572a66b78bb4de39bb4cd49cfaf85af3/implementation/src/main/java/io/smallrye/config/ConfigMappings.java
https://github.com/smallrye/smallrye-config/blob/b10181c9572a66b78bb4de39bb4cd49cfaf85af3/implementation/src/main/java/io/smallrye/config/ConfigMappingProvider.j

[2021-07-20 15:20] geoand commented on #18854
https://github.com/quarkusio/quarkus/pull/18862 is what I have in mind

[2021-07-20 15:30] cescoffier commented on #16895
Ok, so we may want to reduce the log level to debug, or not trying the call on windows. Wdyt?

[2021-07-20 15:34] Sanne opened #18864 "Classloader leak in MP ContextManagerProvider / Smallrye SmallRyeContextManagerProvider"
### Describe the bug

When running a Quarkus application in dev-mode, at each code reload an additional copy of the application is loaded in memory, but old classloaders are not being released in full, leading to exhausting both heap memory and metaspace after some reloads.

This is the patch to GC root, the classloader which should have been removed on the top:

[code]

### Expected behavior

_No

[2021-07-20 15:39] bboyz269 commented on #18263
@FroMage

It's intended. To say briefly, in order to resolve the tenant (which db schema to use for which tenant), my app needs to access another "admin" database, which manage all the tenant information.

Are you suggesting that adding "TenantResolver" for each persistence unit would solve the problem?

[2021-07-20 15:40] radcortez commented on #18842
Ok, added: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.1#config

So, nothing do to here I believe. I'll close the issue.

[2021-07-20 15:40] #18842 closed

[2021-07-20 16:23] galderz commented on #18360
GraalVM 21.2.0 was just released. I was wondering if you could try your application with Quarkus 2.0.x and compare the results of time and memory with 21.2.0 and 21.1.0? One caveat: I'm unsure if Quarkus 2.0.x will work with 21.2.0. As mentioned above, support for GraalVM 21.2.x is expected for Quarkus 2.1.x.

[2021-07-20 16:28] aaronanderson commented on #18598
I updated to 2.0.2.Final and everything is working now. Thanks!

[code]

[2021-07-20 17:00] sberyozkin commented on #18818
@joggeli34 It might be possible to update the recorder to keep a local path to enforcement mode configuration available outside of Keycloak `PolicyEnforcer` code, per every tenant, so return not only `PolicyEnforcerConfig` but also a pair of `path` + `mode` from [here](https://github.com/quarkusio/quarkus/blob/main/extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/run

[2021-07-20 18:03] kenfinnigan commented on #17386
DevMode works fine, it's only when there is a test present that DevMode and continuous testing are broken.

I've created https://github.com/quarkusio/quarkus/pull/18870 to fix it and add tests for both situations

[2021-07-20 18:20] famod commented on #18858
The fix will be part of 2.0.3.Final: #18675

[2021-07-20 18:39] geoand commented on #18858
Great, I'll close this then

[2021-07-20 18:39] #18858 closed

[2021-07-20 18:52] Solido commented on #5722
Not sure if linked but I got the same result using Kotlin.
Project work as standalone but when added in settings.gradle.kts of a parent

Plugin [id: 'io.quarkus'] was not found in any of the following sources:

[code]

[2021-07-20 19:50] Karm commented on #18858
THX @famod  @geoand :pray:

[2021-07-20 20:09] aloubyansky commented on #5722
@Solido please create a new issue describing the problem. Thanks!

[2021-07-20 21:12] michalszynkiewicz commented on #17145
@geoand it seems you started looking into it, and now the vert.x bug is fixed. Should I reassign this issue to you?

[2021-07-20 22:31] #18844 closed

[2021-07-20 22:35] Solido opened #18874 "Quarkus as Gradle Kotlin sub-project fail"
### Describe the bug

Created a parent project and adding sub-projects.
As long as Quarkus as Kotlin is not added everything compile.

Independently Quarkus gradle task is working too but failed when added as sub-project.

### Expected behavior

Can add Quarkus Kotlin Gradle as a sub-project.

### Actual behavior

Any gradle command fail with

[code]

### How to Reproduce?

1. Create an empty kotl

[2021-07-20 23:33] stuartwdouglas commented on #18299
I guess we could just filter out the warnings.

I think with this flag set this is basically the same as the Vert.x 3 behavior, so it should be ok. We still have this hack: https://github.com/quarkusio/quarkus/blob/fadd877ddbe5dd32c57b0a2b67a342367714f7dd/extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java#L129 which will update the TCCL on restart.

We

[2021-07-20 23:37] stuartwdouglas commented on #18817
The downside is that you loose support for continuous testing (same way this won't work in devmode).

Split packages are when you have two classes in the same package but in different jars. This will compile but if they are loaded by different ClassLoaders then you will get an IllegalAccessError on package private members. It's generally a bad idea and causes all kinds of problems. This is expecte

[2021-07-21 01:11] stuartwdouglas commented on #18859
@cescoffier do you know if vert.x support HTTP/2 over plaintext?

[2021-07-21 01:33] stuartwdouglas commented on #18785
It is bootstrapped by JBang passing a serialized pom.xml to Quarkus, and we then use that to resolve the dependencies.

The easiest way would likely be to exit with a specific return code on change, and have jbang re-launch, although detecting these changes would also be a pain as we don't really look at source files ATM (just feed them into the compiler).

[2021-07-21 02:01] aomsweet commented on #17088
@radcortez Thanks.  I'm looking forward to the features.

[2021-07-21 03:59] geoand commented on #17145
I had totally forgot about it to be honest.

Go ahead and reassign to me for the time being

[2021-07-21 05:13] #18854 closed

[2021-07-21 05:19] maxandersen opened #18879 "Cli jbang install options won’t always work"
I noticed we have this in cli docs:

`curl -Ls https://sh.jbang.dev | bash -s - app install --fresh --force quarkus@quarkusio`

This will complete but if you don't have jbang setup already on path the `quarkus` command won't be on path.

We could consider that a bug in jbang but for now reliable steps is to install jbang first then quarkus.

`curl -Ls https://sh.jbang.dev | bash -s - app setup &&

[2021-07-21 05:20] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1051340285

[2021-07-21 05:20] maxandersen commented on #18879
@ebullient @aloubyansky

[2021-07-21 06:31] #18864 closed

[2021-07-21 06:35] geoand commented on #17145
https://github.com/quarkusio/quarkus/pull/18881 fixes the issue. Can I get an approval so we can backport it in the upcoming releases?

[2021-07-21 07:20] abrenn commented on #17767
I figured out my problem:

As we use logback and the ELK Stack to write to logs directly to kibana we do not write any log files.
Apparently the `@QuarkusIntegrationTest` triggers a lookup of the host and ports in a log file.

Therefore we now write that logfile during service startup. I attached the code below.
I don't know if the filepath works for you. You may have to alter it to your needings.

[2021-07-21 07:23] geoand commented on #17767
That's interesting... So even though the test starts Quarkus with settings that supposedly force it to write to a log file, your setup was preventing that from happening?

[2021-07-21 07:34] 01epa commented on #18817
Ok, I understand split packages behaviour. Thanks for explanation.
I split packages since I implemented my own io.quarkus.security.identity.IdentityProvider but io.quarkus.oidc.runtime.TenantConfigContext (which is needed for its implementation) is package private. I don't know why. Probably it should be changed to public. I saw at least one additional class which has such access as well. it is io