[2022-07-21 02:32] gavinking commented on #14682
I don't understand this issue. It seems to be saying that:

- Liquibase is based around JDBC and so requires a JDBC config, but
- HR does not use JDBC, and so requires a slightly different config, and
- this is slightly uncomfortable.

But, on the other hand, it also seems to me like it's something completely reasonable and unsurprising...

...so, is there a strong reason I'm missing that we can't

[2022-07-21 02:33] gavinking commented on #14682
I would be very surprised if there were any such plans, since reactive doesn't seem to offer any advantages for schema management. But you would have to direct this question to the maintainers of these projects to be sure.

[2022-07-21 03:43] geoand commented on #26811
Does this happen with 2.11.0.Final?

[2022-07-21 05:16] stephan-strate commented on #14682
I mean yeah, this is not ground breaking, but you will have to dig through GitHub issues, find this one, copy&paste the workaround from one of the answers and tweak the configuration.
This is not what I would expect from Quarkus.
Also, if there are no plans ever to have a reactive variant for liquibase and flyway. Maybe it could be made easier to configure.

Ideas:
- no warning
- using the regular

[2022-07-21 05:53] ylepikhov commented on #25089
I've already tried it (thought I've responded but...). It's works.

[2022-07-21 05:56] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2709461665

[2022-07-21 06:19] Sanne commented on #15169
Yes I recognize the risk in test coverage; but the whole point of not exposing these as supported properties is to limit the possible permutations of "lesser tested" properties; so while these are tested only partially in ORM upstream, all test in Quarkus (and by Quarkus users) are consistently using these - my goal would be to change the defaults in ORM upstream as well.

[2022-07-21 06:39] mustafacalik opened #26853 "Quarkus Tika Native Image Build Error"
### Describe the bug

I use quarkus-tika and quarkus-awt dependecies. While i don't define parser parameter in application.properties, it gives the folowing error.

    <dependency>
      <groupId>io.quarkiverse.tika</groupId>
      <artifactId>quarkus-tika</artifactId>
      <version>1.0.3</version>
    </dependency>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-a

[2022-07-21 07:04] Krawart commented on #26811
In version 2.10.3 it is already fixed. Thank You

[2022-07-21 07:04] #26811 closed

[2022-07-21 07:04] geoand commented on #26811
Thanks for checking

[2022-07-21 07:09] zakkak commented on #26853
Hello @mustafacalik

I tried reproducing this with no success, can you please provide more details on how to reproduce?

What I tried:
[code]

The `application.properties` when doing this is empty, so `quarkus.tika.parsers` is not set. I tried setting it to `pdf` as well and still couldn't reproduce.

[2022-07-21 07:23] cescoffier commented on #25089
Thanks for the feedback @ylepikhov !

[2022-07-21 07:47] timonzi commented on #26841
When does the Dependabot create the "bump" issue? I would close this issue as soon as I can see the bump issue.

[2022-07-21 07:48] mustafacalik commented on #26853
When I tried it with "https://code.quarkus.io/d?e=awt&e=io.quarkiverse.tika%3Aquarkus-tika&cn=code.quarkus.io", i didn't get any error building as native image.
But when I added a code block to use Tika parser, i continued to give same error.

To reproduce it add the folowing dependency and code block.

[code]

[code]

[2022-07-21 07:54] #26461 closed

[2022-07-21 07:58] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2709485502

[2022-07-21 08:08] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2709461665

[2022-07-21 08:13] gsmet commented on #26841
It will automatically be closed when https://github.com/quarkusio/quarkus/pull/26855 is merged.

[2022-07-21 08:56] sberyozkin commented on #26853
@mustafacalik Thanks, let me move this issue to the quarkus-tika project

[2022-07-21 09:01] sberyozkin commented on #26853
@gsmet, I can not select/choose https://github.com/quarkiverse/quarkus-tika in `Transfer Issue`, can you please add it to the list of repositories there if possible ?

[2022-07-21 09:13] Sanne commented on #15169
@gavinking BTW it's really tricky to operate a non-trivial application in which ordering isn't applied consistently - very easy to get into deadlocks. So that's why I believe these should be enabled by default, possibly removing the properties upstream (but not rushing that).
Also it's my understanding that this was disabled by default as it came with significant in-memory processing costs, but I

[2022-07-21 09:14] gsmet commented on #14682
There's definitely something broken and I think the main culprit is that we should split Hibernate ORM/Hibernate Reactive differently and have:
- a common extension that doesn't enable any features by itself and just provide common code
- `hibernate-orm` that depends on the common extension
- `hibernate-reactive` that depends on the common extension
instead of having the `hibernate-reactive` exten

[2022-07-21 09:19] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2709485502

[2022-07-21 09:21] abuelgasimsaadeldin commented on #26461
@gsmet @MikeEdgar

Hi there, I see that this issue has already been resolved, may I know what changes are needed in the pom.xml (if any) to be able to get the expected behavior? Thanks!

[2022-07-21 09:22] Sanne commented on #14682
Agreed. Sorry people, will have to be patient as the switch to Jakarta takes priority and some "projects" are better not run in parallel.

In the meantime I would suggest embrace strict separations of concerns: don't include Flyway in the same application as Hibernate Reactive.

I do appreciate that such a solution is not always very practical, but I do believe it's the better design as you wouldn

[2022-07-21 09:41] gavinking commented on #15169
I mean, if it's a better default, then we should change the default in a minor release of Hibernate, not as an ad hoc thing in Quarkus, IMO.

[2022-07-21 09:45] gavinking commented on #14682
@gsmet oh I see, then it *is* simply that I didn't understand the issue. Thanks.

[2022-07-21 09:52] KyriacosP commented on #14682
Maybe a warning on the Liquibase and Flyway guides that they do not work with Hibernate Reactive by default will be a good idea.

[2022-07-21 10:34] atastrumf commented on #23909
Came across the same issue on my side, while figuring out why entities are not persisted when there was no logical error with my code... @Aviss I'm extremly grateful that you wrote this bug report, as it's quite hard to figure out what's wrong when you expect the container to behave correctly!

[2022-07-21 10:47] lthasle commented on #19198
@brunobat No I don't need it, my need is covered, by following this guide:
https://quarkus.io/guides/rest-client-reactive#logging-traffic

[2022-07-21 10:57] lthasle opened #26857 "2.10.2.Final, ContextualData lost in rest-client-reactive response"
### Describe the bug

ContextualData lost in the rest client reactive(vert.x-eventloop) response

https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/2.2E10.2E2.2EFinal.2C.20ContextualData.20lost.20in.20rest-client-reactive.20re

### Expected behavior

ContextualData should be availiable in the response

### Actual behavior

ContextualData is  lost

### How to Reproduce?

See provide

[2022-07-21 11:19] gsmet commented on #26857
/cc @Sgitario

[2022-07-21 11:41] RuggeroDAlo commented on #26857
@lthasle Probably the same issue as https://github.com/quarkusio/quarkus/issues/26717 ? I think it is caused by #26332

[2022-07-21 11:48] lostiniceland opened #26859 "Quarkus compiler/extension use JDK-17 classes even when compiler-target/release is set to 11"
### Describe the bug

We are migrating our Quarkus services from JDK 11 to 17. In the first step we moved our build-pipeline to run with JDK-17, while still having set the compiler-target (bytecode level) to JDK-11 by setting `<release>11</release>` in the the **maven-compiler-plugin**.

The built image is still running with JDK-11 and now when starting the application Quarkus tries to load java.u

[2022-07-21 12:09] cescoffier commented on #24791
\CC @alesj

[2022-07-21 13:05] Cobas91 commented on #26835
Small Update:
I fixed the "error" by this build argument
`"--initialize-at-run-time=com.sap"`

[2022-07-21 13:22] FroMage commented on #22205
So, I'm looking into this. It's really a pity those two things diverged so much. It appears that regular form elements sent via multipart will have a mime type `text/plain`. We could deserialise them via `ParamConverter` instead of `MessageBodyReader` just to avoid users having to write both types of deserialisers for types such as, say `Date` or what. I've been hit by this before. And for all oth

[2022-07-21 13:28] FroMage commented on #22205
Maaaan, this code has changed a lot since the last time I looked at it :(

[2022-07-21 13:42] vonatzigenc opened #26862 "quarkus-platform-descriptor-json-plugin was removed, but is still mentioned in the documentation"
### Describe the bug

With the change https://github.com/quarkusio/quarkus/pull/26299 the `io.quarkus:quarkus-platform-descriptor-json-plugin` was removed.

The platform guide (https://quarkus.io/guides/platform) still mentions the plugin in the sections [https://quarkus.io/guides/platform#platform-descriptor](Quarkus Platform Descriptor) and [https://quarkus.io/guides/platform#platform-properties

[2022-07-21 13:51] loicmathieu commented on #26148
@JohnneSouza do you still plan to provide a PR for this ?

[2022-07-21 13:54] loicmathieu commented on #25606
@Dosexe maybe I don't understand correctly what is the issue here but it is the way the MongoDB driver handle connection pooling, we cannot do anything on our side.

[2022-07-21 14:29] #26841 closed

[2022-07-21 14:29] gsmet commented on #26841
Thanks for raising the issue!

[2022-07-21 14:34] ivansenic commented on #26730
Implementing the improvement in the #26863

[2022-07-21 17:53] sberyozkin opened #26867 "OidcClient should support the token revocation"
### Description

Some OIDC providers such as Keycloak support the token revocation. `OidcClient` should support it for the users be able to proactively revoke the access tokens

### Implementation ideas

_No response_

[2022-07-21 18:12] JohnneSouza commented on #26148
Hey @loicmathieu sorry, I totally forgot about this thread haha! I'll take a look on it today or tomorrow and push this stuff to the repo ASAP! Tks for the reminder :~D

[2022-07-21 18:29] technical-debt-collector commented on #26705
Guess there's no need to keep this one open anymore, so I'm closing it.
@gavinking, thanks for great help on this one! 🥇

[2022-07-21 18:29] #26705 closed

[2022-07-21 19:04] Fernichter opened #26870 "Quarkus SwaggerUI ignores http.root.path if quarkus.resteasy-reactive.path is set"
### Describe the bug

Im using the following config:

[code]
SwaggerUI converts this to the following URL in the "try-out" feature:

[code]
SwaggerUI seems to ignore the `http.root.path` set in the config.

When im using the `@ApplicationPath("/rest") ` annotation instead of `quarkus.resteasy-reactive.path`, everything works just fine. Is this intended or am I missing something?

Thanks

### Expec

[2022-07-21 20:04] radcortez commented on #26794
I'll have a look.

[2022-07-21 20:16] Dosexe commented on #25606
@loicmathieu Is health checks are also fully controlled by mongo driver?

[2022-07-21 20:18] kdubb opened #26873 "RabbitMQ without dev services now requires `rabbitmq-http-port`"
### Describe the bug

When using RabbitMQ in dev mode, but without dev services, now requires `rabbitmq-http-port` to be set and it may not be available or exposed.

### Expected behavior

`rabbitmq-http-port` shouldn't be required.

### Actual behavior

Startup fails with

      SRCFG00014: The config property rabbitmq-http-port is required but it could not be found in any config source

### How

[2022-07-22 01:02] MikeEdgar commented on #26461
@abuelgasimsaadeldin - prior to the release of Quarkus 2.12, you can add the following to the `<dependencyManagement>` section of you pom.xml. Bure sure to remove it when you do upgrade, or you risk using an outdated version of the OpenAPI library in the future.
[code]

[2022-07-22 02:34] abuelgasimsaadeldin commented on #26461
Hi @MikeEdgar, I see, thanks for the response, I've just tried adding the following smallrye-open-api dependency to my pom.xml, however my problem still persists (not sure if I'm doing something wrong) as for the Quarkus version, I am currently using version ```2.10.0.Final``` and searching in the maven central repository it seems like ```2.10.2.Final``` (again I could be wrong).

Your input is hi

[2022-07-22 05:54] zbendhiba commented on #25190
Hello @aloubyansky  Sorry for the delay, I'm having too much notifications
Camel Debezium works fine with Quarkus 2.11.0.Final and Debezium 1.9.5.Final
Many thanks

[2022-07-22 05:57] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2716452446

[2022-07-22 06:07] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/2716452879

[2022-07-22 06:20] timonzi commented on #26841
Thank you for solving it (sustainably) :+1:

[2022-07-22 06:29] jcunliffe1 opened #26875 "jandex.Indexer.sizeToFit inside quarkus-maven-plugin: OOM on builds with many (generated) files"
### Describe the bug

I have a project with a bunch of files getting generated. When I remove some, I can avoid the OOM below on my gitlab runner pipeline. Locally on my Mac all is fine either way.

Currently I'm struggling with setting the XMX jvmArgs for the maven plugin. I tried the regular jvm.config and the maven-quarkus-plugin's configuration/jvmArgs - nothing seems to be picked up by the bu

[2022-07-22 07:01] loicmathieu commented on #25606
@Dosexe If you talk about readiness health check as in https://quarkus.io/guides/mongodb#connection-health-check this is provided by the MongoDB extension in conjonction with the Smallrye Health extension (https://quarkus.io/guides/smallrye-health). But the periodicity of these check depends of how you call them (for eg the periodSecond of a k8s probe).

If you talk about MongoDB client connection

[2022-07-22 07:02] HerrDerb opened #26877 "Default Health Group"
### Description

We are currently splitting of health checks because a certain part only concerns departement A and the other part only concerns departement B. I thought this would be done easily with the `@HealthGroup`. And actually, it is. There is only one thing that really bugs me.

We already have an X amount of existing health checks that only concerns departement A. a new health check now o

[2022-07-22 07:06] xstefank commented on #26877
OK, why not :) I will implement this in the next SR Health release.

[2022-07-22 07:21] DGuhr opened #26878 "Non-deterministic exception when using Resteasy and SSL and calling an endpoint multiple times"
### Describe the bug

Hey quarkus team :)

I discovered this bug using Keycloak, see this [gist](https://gist.github.com/DGuhr/65a6e0a4b86edf9bddf4bfed4b2e5117).
Basically it is:
1. Create some certificates (e.g. selfsigned or using mkcert)
2. set them in quarkus.properties
3. Build,run & open https://localhost:8443/ in your browser
4. simulate high request traffic _without browser caching_ - on m

[2022-07-22 07:27] rsvoboda commented on #6588
@famod `liquibase-quickstart` and `liquibase-mongodb-quickstart` are failing in native mode, see the link in above comment.

I believe it's related to https://github.com/quarkusio/quarkus/pull/26714 change

[code]

Can you please update affected modules in https://github.com/quarkusio/quarkus-quickstarts ?
CC @gsmet

[2022-07-22 07:30] Cobas91 opened #26879 "Native compilation not possible when using com.azure dependency - io.netty conflict"
### Describe the bug

Hey guys,

i have installed these two dependency on my project.
[code]
When i try to compile it nativly i got this error:
[code]
After some research i figured out that the azur dependencys uses the same io.netty dependency as quarkus.

i tried to instantiated the complete azure dependency on run time via:
`--initialize-at-run-time=com.azure`

This leads in the following error

[2022-07-22 07:41] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2716477684

[2022-07-22 08:21] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2716477684

[2022-07-22 08:31] dilipdhankecha2530 commented on #26682
@ppalaga  @lburgazzoli
Could you pleas help me to out from this camel dependecy with native build?

[2022-07-22 08:55] benoit-messager opened #26882 "TestResources are not stopped when using @QuarkusMainTest and @Launch"
### Describe the bug

Considering this test :
[code]

And this test resource :
[code]

The output is :
[code]

The test resource stop() method is not called

### Expected behavior

Stop method of test resource is called

### Actual behavior

Stop method of test resource is not called

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Darwin LM-C02ZC045L415 21.5.0 Darwin Kern

[2022-07-22 10:07] loicmathieu commented on #26182
@yrodiere just saw it has been released upstream and I rebase an old prototype I made years ago (to base an hypotetical Elasticsearch with Panache extension on it, see https://groups.google.com/g/quarkus-dev/c/pDQJ_yRNML4/m/UjCwseXXAwAJ).

So I have a working protocole for Hibernate Search Pojo Standalone Elasticsearch which I can propose when 6.2.0 is integrated in Quarkus, I just need to rename

[2022-07-22 10:15] loicmathieu commented on #17479
There is an existing health readiness check for Elasticsearch, see https://github.com/quarkusio/quarkus/blob/main/extensions/elasticsearch-rest-client/runtime/src/main/java/io/quarkus/elasticsearch/restclient/lowlevel/runtime/health/ElasticsearchHealthCheck.java

It needs a `RestClient` as a CDI bean, I don't know if the Hibernate Search extension provides one, if so, we can move the health check

[2022-07-22 10:25] beikov opened #26883 "Support Multi-Release workspace artifacts"
### Description

Right now, when building a maven reactor which contains a module A, which is a multi-release artifact/JAR denoted by a MANIFEST.MF containing `Multi-Release: true`, it is not possible to run a Quarkus unit test in module B which depends on module A, because the Quarkus classloader will construct a class path element to the classes directory of module A instead of referring to the

[2022-07-22 10:28] yrodiere commented on #26182
@loicmathieu 6.2 is still in Alpha at the moment, so unfortunately it will be a little while until it gets integrated into Quarkus.

That being said, this patch would be a nice start.

Removing the "panache" name from there is definitely required, indeed: IMO making this "Panache-y" would require (much) more work. I had started preliminary work on the APIs [there](https://github.com/yrodiere/hiber

[2022-07-22 10:32] yrodiere commented on #17479
Not at the moment, but I suppose we could. The only problem I can see with that is that these new bean definitions could conflict with those from the low-level rest client extension, for users of both Hibernate Search and the low-level rest client extension. Maybe enforcing some Hibernate Search-specific qualifiers could help.

[2022-07-22 11:21] czetsuya commented on #7019
Hi guys, were you able to progressed in this issue? We are interested in building an AgroalDatasource dynamically at runtime because we will be fetching the DB configurations from AWS parameter store. Currently, I'm able to set the credentials using credentialsProvider but not the jdbc.url as there is no provider for it. Most likely we need the AgroalConnectionFactoryConfigurationSupplier as well.

[2022-07-22 11:36] loicmathieu commented on #26182
@yrodiere yes, it was preliminary work for Elasticsearch with Panache but no "panache" stuff was done, I'll rename it. And yes, native has not been tested yet.

We'll revisit it when 6.2 will be integrated into Quarkus, we can still decide if we need to integrate it or not.

[2022-07-22 11:42] JudeNiroshan opened #26884 "ClassNotFoundException: io.apicurio.registry.client.RegistryService"
### Describe the bug

Cannot run the uber jar which is a simple Kafka consumer. It uses a schema registry.

### Expected behavior

Starts the application without any errors.

### Actual behavior

[code]

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

Darwin jnirosha-mac 21.5.0 Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:22 PDT 2022; root:xnu-8020.121.3~4/RELEASE_X86_64 x86_64

[2022-07-22 11:45] loicmathieu commented on #17479
Or this can be an alternate bean with low priority or something like this.
If the rest client extension is used (low or high) there will be a RestClient in the CDI bean.
Note that this can also be done based on capabilities: if the extension is present, do nothing, else, provide the RestClient as a CDI bean.

[2022-07-22 11:58] MikeEdgar commented on #26461
@abuelgasimsaadeldin , sorry I gave you the wrong dependency. If this doesn't work, you may need to tinker with the quarkus-maven-plugin's dependencies. @phillip-kruger - what's the best way to managed the version of the JAX-RS OpenAPI extension being used?
[code]

[2022-07-22 12:30] OscarRL opened #26885 "Redis healthcheck message sometimes is not useful."
### Describe the bug

There is some runtime exceptions that has no message when they are fired.

Actually the healthcheck performs a message with
` return builder.down().withData("reason", "client [" + client.getKey() + "]: " + e.getMessage()).build();`

### Expected behavior

Reason should include a message that must explain what's happening on any exception.

### Actual behavior

If getMessage()

[2022-07-22 12:31] jcunliffe1 commented on #26875
this concerns regular jar builds with fast-jar

[2022-07-22 12:34] #26883 closed

[2022-07-22 13:25] mihaipoenaru commented on #26818
I would like something like this too. Something like Spring's annotation `DirtiesContext` that requires a test class to start with a "clean context".

[2022-07-22 14:03] geoand commented on #26818
There is no such thing a context restart in Quarkus. If we do something, it will be the exact same thing that we do when switching test profiles

[2022-07-22 14:54] mihaipoenaru commented on #26818
Ah, fair enough. In the meantime, I've already solved my issue. It was the bug that was just solved with `2.10.3`  for #26594 . I thought I messed up my tests and I had to "restart the context" in order to clear the mocks properly. Shows how much I know. 🤡

[2022-07-22 15:47] geoand commented on #26818
Yeah, that was an oversight on our part

[2022-07-22 16:19] famod commented on #26875
`jvmArgs` is only for `quarkus:dev` and `quarkus:test` goals.

`.mvn/jvm.config` should work though. Have you tried `MAVEN_OPTS`?

[2022-07-22 16:24] jcunliffe1 commented on #26875
yes I have with     MAVEN_OPTS: "-Xmx4g -XX:MaxRAMPercentage=50.0 -XX:+HeapDumpOnOutOfMemoryError -XX:+PrintFlagsFinal -XX:MaxMetaspaceSize=1g -Xlog:gc*=debug:file=build.txt"

here is what the heap dump gives away

Thread 'build-36' with ID = 88
	java.lang.OutOfMemoryError.<init>(OutOfMemoryError.java:48)
	java.util.Arrays.copyOf(Arrays.java:3536)
	org.jboss.jandex.Indexer.sizeToFit(Indexer.java:2

[2022-07-22 16:25] jcunliffe1 commented on #26875
do I have to jandex only on libraries, or also the application itself?

[2022-07-22 16:43] jcunliffe1 commented on #26875
I will retest a few times to find out if the oom happens in the same procedure always.

[2022-07-22 16:48] cescoffier commented on #26852
Yes, but we are waiting for Netty 5 to support it. We do not have an ETA (Netty 5 is planned for the end of the year, then we need Vert.x to adopt it and rebase Quarkus on top of this version of Vert.x).

[2022-07-22 16:50] cescoffier commented on #25105
They aren't failures, they are testing that we recover gracefully after an issue in dev mode.

[2022-07-22 16:51] cescoffier commented on #25105
I would go for option 1.

[2022-07-22 16:52] Christopher-Chianelli opened #26889 "Cannot record objects with both isX and getX"
### Describe the bug

If an object with both `getX` and `isX` getter is passed to a recorder, the field `x` remains null, causing subtle bugs that are hard to detect.

### Expected behavior

If an object with both `getX` and `isX` getter is passed to a recorder, the field `x` is set to the value returned by `getX`.

### Actual behavior

The field `x` remains null.

### How to Reproduce?

Reproduce

[2022-07-22 16:55] famod commented on #26875
First off, for Quarkus 2.10.3.Final you should be using jandex plugin 1.2.2 instead of 1.2.1, see https://github.com/quarkusio/quarkus/blob/2.10.3.Final/bom/application/pom.xml#L21
vs. https://github.com/wildfly/jandex-maven-plugin/blob/1.2.1/pom.xml#L116
But I don't think this (alone) will resolve your issue.

Furthermore, I also have loads of generated classes in my project and we don't configur

[2022-07-22 17:21] jcunliffe1 commented on #26875
ok, where does the empty beans.xml go? src/main/resources? or META-INF ?

[2022-07-22 17:28] jcunliffe1 commented on #26875
found the answer here https://stackoverflow.com/questions/55513502/how-to-create-a-jandex-index-in-quarkus-for-classes-in-a-external-module

[2022-07-22 17:53] jcunliffe1 commented on #26875
after removing the jandex scans from annotation heavy maven modules, I could get rid of the OOM. would have preferred not to learn this lesson, but anyway - I'm good... until the next OOM happens out of nowhere.

[2022-07-22 18:02] reda-alaoui opened #26890 "Quarkus NativeImageBuildStep fails with perm denied with docker rootless"
### Describe the bug

Building a minimal Quarkus project in native mode via docker rootless fails.

### Expected behavior

The build should not fail.

### Actual behavior

The build runs:
[code]

then fails with:
[code]

### How to Reproduce?

1. Make sure `docker` is installed in rootless mode => https://docs.docker.com/engine/security/rootless/
2. Create an empty Quarkus Maven project
3. Run `./

[2022-07-22 18:29] famod commented on #26875
Glad you got it sorted.

Bean discovery is documented here, btw: https://quarkus.io/guides/cdi-reference#bean_discovery

[2022-07-22 18:30] jcunliffe1 commented on #26875
... and its back

[2022-07-22 19:21] gsmet commented on #26875
Can you get a heap dump when you have a OOM? Because right now, I think you just have random stacktraces that might or might not be related.

[2022-07-22 19:30] reda-alaoui commented on #26890
Looks related to https://github.com/moby/moby/issues/42134#issuecomment-796728856

[2022-07-22 20:27] #26885 closed

[2022-07-22 20:31] ginccc opened #26894 "Quarkus extensions for Chatbot Platform "EDDI""
### Description

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

--
We have recently released version 5 of our open source chatbot platform EDDI which has been migrated to quarkus.
Announcement article: https://eddi.labs.ai/cloud-native-chatbot-engine-goes-quarkus/
Github Repo: https://github.com/labsai/eddi

Moving on, we would like to build two exte

[2022-07-23 09:06] famod commented on #26818
Is this primarily about cleaning up data from a previous test?

If you have many tests, fully restarting everything after each test will be no fun in terms of runtime!

[2022-07-23 09:38] reda-alaoui opened #26901 "Document the release process"
### Description

I forked this project but do not find how to release my fork.

It seems that `./mvnw versions:set -DnewVersion=2.10.3.0.cosium` does an incomplete job.
Also since they are gradle modules, I am not sure it is the only command to run.

In the end, I'd like to know how a revision like https://github.com/quarkusio/quarkus/commit/55cf39d7c545f9b5d3670bd46827e4aaa9a7a274 was created.

C

[2022-07-23 12:27] gsmet commented on #26901
This script handles the full version update: https://github.com/quarkusio/quarkus/blob/main/update-version.sh .

[2022-07-23 12:28] reda-alaoui commented on #26901
Thank you ! I don't understand how I could have miss it :)

[2022-07-23 12:29] gsmet commented on #26901
I recently added it to the repo so it's probably not in the 2.10 branch (but you can just push it there, it will work).

[2022-07-23 17:05] navkast opened #26903 "RESTEasy Reactive - Improve documentation around mutiny and reactive"
### Description

I've seen people get confused, thinking that using Mutiny will automatically push blocking work to worker threads.
See for example: https://stackoverflow.com/questions/71754982/quarkus-mutiny-and-imperitave-vs-reactive.

I've also fallen into this trap. First, I wanted to demonstrate that using Mutiny automatically shoves blocking calls into a separate worker thread pool:

[code]

[2022-07-23 18:18] cescoffier commented on #26903
The table you give is not correct. The thread depends of the emission / subscription thread. We cannot generalize like this. We could add something about RestEasy reactive, but even in this case it may not be right.

Note that the mutiny documentation and javadoc covers a lot of what you mentioned.

[2022-07-23 18:59] navkast commented on #26903
Yes, I was looking at it only from the resteasy-reactive http request context.

[2022-07-23 21:44] danieloh30 opened #26904 "Live coding and Dev UI are stuck when "quarkus-amazon-lambda-http" extension is added"
### Describe the bug

Live coding and Dev UI are stuck when the "quarkus-amazon-lambda-http" extension is added.
2022-07-23 17:37:24,769 INFO  [io.qua.ama.lam.run.MockEventServer] (build-34) Mock Lambda Event Server Started
__  ____  __  _____   ___  __ ____  ______
 --/ __ \/ / / / _ | / _ \/ //_/ / / / __/
 -/ /_/ / /_/ / __ |/ , _/ ,< / /_/ /\ \
--\___\_\____/_/ |_/_/|_/_/|_|\____/___/
2022-07-

[2022-07-23 23:44] anborg opened #26905 "2.11.0.Final -A grpc service that is behind rest service is UNAVAILABLE during junit. I expect it to start."
### Describe the bug

2.11.0.Final - compilation error - dependencies not in maven repo?

https://github.com/anborg/m-app-rest/blob/8b98b01f97412b188fbb32e291414b762fea0b04/pom.xml#L22

[code]

### Expected behavior

Should compile as before

### Actual behavior

compile error - dependency not found in maven

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

windows

### Output of

[2022-07-24 08:59] famod commented on #26905
Try adding `-U` to `mvn`. If it works you can remove `-U` again.

[2022-07-24 09:07] romilpunetha commented on #26253
I tried reproducing this in a separate repo and I'm not able to do so. The latest version atleast doesn't seem to have whatever it was.

[2022-07-24 10:38] stephan-strate commented on #24273
I can confirm this issue.
You can actually come around this using the `@Default("defaulValue")` annotation.

[2022-07-24 13:53] evanchooly commented on #24273
Invocations with default values are handled by kotlinc. Since the invocation is handled by a generic dispatcher, the isn't the context remaining to apply those defaults with those annotations.

[2022-07-24 14:20] dometec opened #27714 "Remove LANG and LANGUAGE ENV declaration in Dockerfile"
**Describe the bug**
Running a quarkus project with docker with image compiled using Dockerfile.jvm provided, on the System out I see "??" instead of UTF8 character (es: "è").

**Expected behavior**
UTF8 support on System out.

**Actual behavior**
I see "??" in the output instead of "é"

**To Reproduce**
Steps to reproduce the behavior:
1. run *docker run -it --rm -e "LANG=en_US.UTF-8" registry.ac

[2022-07-24 14:34] stephan-strate commented on #24273
This could be something to document, right? Do you think it would be better in the rest documentations or the kotlin one?

[2022-07-24 15:18] evanchooly commented on #24273
It should definitely be documented. I would say it belongs in the resteasy docs as that's closest to where the problem would be encountered.

[2022-07-25 02:45] pipinet opened #26908 "Profile is not test in QuarkusTestResourceLifecycleManager"
### Describe the bug

https://github.com/quarkiverse/quarkus-zeebe/issues/76

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

openjdk version "17.0.3" 2022-04-19 LTS

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git

[2022-07-25 06:01] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2730052552

[2022-07-25 06:13] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2730028547

[2022-07-25 06:24] cescoffier commented on #25549
Closing, please re-open if it's still valid.

[2022-07-25 06:24] #25549 closed

[2022-07-25 06:26] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/2730029040

[2022-07-25 06:28] cescoffier commented on #9329
Will be part of #24754

[2022-07-25 06:31] cescoffier commented on #23404
Just implement a native test following  https://github.com/quarkusio/quarkus/tree/main/integration-tests/kafka-streams.

[2022-07-25 06:34] Alexander-Krause-Glau commented on #17465
@ivansenic Did you find a solution to your problem? I also want to start a gRPC server instance in my client's tests, but fail to do so.

[2022-07-25 06:47] khush2704 opened #26909 "Quarkus Profile doesn't work"
### Describe the bug

I have [application.properties]aving different profiles configured , eg : %windows.quarkus.http.ssl.certificate .... = ${CSPKI_WEB_CERT} and other profile as %ci.quarkus.http.ssl.certificate.... = src/main/resources/certs/cert.p12 . When I run CI build with this - maven(command: '-B -Dquarkus.profile= ci clean deploy) , Jenkin is reading even the windows profile configuration

[2022-07-25 07:18] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2730028547

[2022-07-25 07:21] cescoffier commented on #26879
My guess is the usage of reactor-netty that we do not support in native.
We have implemented a more friendly HTTP client for the azure SDK (but I need to see how we can use it).

[2022-07-25 07:32] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2730052552

[2022-07-25 07:46] #26807 closed

[2022-07-25 07:48] Cobas91 commented on #26879
@cescoffier Your answer confused me a little bit. Is there something that i should do in this stage?
If i can do something (get more informations from the build process etc.) ping me

[2022-07-25 07:51] cescoffier commented on #26879
It looks like one of the dependency you declare has a dependency on reactor-netty, which we do not support in native. I plan to improve the usage of the Azure SDK with Quarkus soon (~ September).

[2022-07-25 08:01] Ladicek commented on #26875
I'm reopening this issue, because I think it's the place where this conversation can happen. It makes no sense to open issues on random projects based on which thread was unlucky enough to hit the OOM condition.

As @gsmet said, we'd need a JVM heap dump. I see you already have `-XX:+HeapDumpOnOutOfMemoryError`, so we'll just need that `.hprof` file.

[2022-07-25 08:57] cescoffier commented on #26879
We would need specific extension, but you can pass this issue using:
[code]

[2022-07-25 09:19] mkouba commented on #26641
Well, I'm not sure if the the _BeanIntrospection API_ brings any additional value. I mean, if you really need to introspect java classes at runtime then just use the reflection API or build a thin layer on top the reflection API.

My point is that we would have to persist the introspection data at built time and I doubt that our format would be more efficient than the one used by reflection...

An

[2022-07-25 09:34] mkouba commented on #26723
Hm, we could use some of the ideas but I doubt it would help a lot with a very complex dependency graph (like yours ;-). What we could do is to make the number of visible levels configurable, i.e. only show the direct dependencies/dependents by default.

[2022-07-25 09:46] ivansenic commented on #17465
@Alexander-Krause-Glau I was able to have it setup with spinning a grpc server on my own for testing:

[code]

[2022-07-25 09:49] mkouba commented on #25995
The `validateNestedExpressions()` method body is already very complex. So the advantage is that we don't add anything special but rely on existing API.

That's a very good question. And I have no answer yet. I need to think about it a bit more ;-)

[2022-07-25 10:38] mkouba commented on #26079
Closed. @dicksonprof feel free to reopen if you have more questions.

[2022-07-25 10:38] #26079 closed

[2022-07-25 10:42] Cobas91 commented on #26879
That looks fine. The native build succeded. Now i test if everything is running! Thanks for your help

[2022-07-25 10:57] cescoffier commented on #26879
It may not be enough. I'm seeing lots of proxies, https needs to be registered...

I will start working on extensions after my very long GC pause (aka PTO)

[2022-07-25 11:29] cescoffier commented on #17465
This will be handled with the next gRPC server as it will use the same port as the http server.

[2022-07-25 12:22] Erfankam commented on #26867
Is this issue resolved?

[2022-07-25 12:29] anborg commented on #26905
A grpc service that is behind rest service is UNAVAILABLE during junit. I expect it to start.

Before I moved to 2.11, the test suit was working.

[code]

[2022-07-25 12:31] Erfankam commented on #26859
Could I work on this issue?

[2022-07-25 12:45] famod commented on #26905
@anborg can you please create a new issue? Changing the scope like this is very confusing.

[2022-07-25 12:45] #26905 closed

[2022-07-25 13:32] MarkusKramer commented on #14904
@jmgtan I've also started hitting the Random/SplittableRandom error with the latest AWS SDK. It is possible to workaround it by using `--initialize-at-run-time=software.amazon.awssdk.utils.cache.CachedSupplier.` see https://github.com/aws/aws-sdk-java-v2/issues/3323

[2022-07-25 13:38] anborg opened #26915 "2.11.0.Final : rest->grpc unit test fails. The dependent grpc service must be instantiated during test automagically"
### Describe the bug

A grpc service that is behind rest service is UNAVAILABLE during junit. I expect it to start.

Before I moved to 2.11, the test suit was working.

How to get dependent grpc services available during quarkus unit tests?

Distraction please ignore: The reason why I have a grpc behind REST - is to support both REST and GRPC version of api -- if quarkus has a better way of having

[2022-07-25 14:21] cescoffier commented on #26915
Is tour module depending on the gRPC service implementation modules?

[2022-07-25 14:41] gsmet commented on #14904
@MarkusKramer I created https://github.com/quarkiverse/quarkus-amazon-services/pull/220 to fix the issue in our extension.

[2022-07-25 14:58] #24462 closed

[2022-07-25 14:59] #26764 closed

[2022-07-25 15:23] manofthepeace commented on #25981
I just played with that for smallrye-faulttolerance and Ladicek found me a way to make it work. If it runs early enough it seems to work well. In my case I used it in a `@Startup` bean and it works.

In my case it looks like this;
`Logger.getLogger("io.smallrye.faulttolerance.core.retry").setFilter(new LoggingFilter());`

[2022-07-25 17:19] sberyozkin commented on #26867
@Erfankam It will be once #26868 is reviewed and merged

[2022-07-25 17:23] sberyozkin commented on #26793
@DCCSKrezovic Sorry about it, I see them being generated without being grouped together; you can ping us on `Discussions` as well or on Zulip

[2022-07-25 17:41] sberyozkin commented on #26796
@DCCSKrezovic FYI, #26917

[2022-07-25 17:52] Eng-Fouad commented on #19447
I was able to run JDBI on Quarkus native image successfully: https://gist.github.com/Eng-Fouad/7b5925481dd391fcc74487a68484b987

[2022-07-25 18:00] smil2k commented on #19447
Create the repo, I'll try my best to find time to work on it.

[2022-07-25 18:21] #19447 closed

[2022-07-25 18:22] gastaldi commented on #19447
Repository https://github.com/quarkiverse/quarkus-jdbi created. Please follow the checklist here for the next steps: https://github.com/quarkiverse/quarkiverse/wiki/Checklist#after-the-repository-is-created

[2022-07-25 18:55] #23404 closed

[2022-07-25 19:08] danieloh30 commented on #26904
@patriot1burke any clues?

[2022-07-25 20:22] smil2k commented on #19447
Hi,

I tried to add your listed classes for constructor reflection along with proxy class discovery:
https://github.com/quarkiverse/quarkus-jdbi

I did not tried it out it only compiles :)

Can you share your entire test jdbi project, I would like to try to test it with the extension?

[2022-07-25 21:16] #26796 closed

[2022-07-26 03:37] iamKunalGupta commented on #26253
This issue still persists on latest version @geoand
Here is a reproducer project: https://github.com/iamKunalGupta/multi-termination-error-quarkus

It works fine in no exception:
[code]

whereas following curl call never finishes in case of exception:
[code]

I can see this error being logged though: `Exception in SSE server handling, impossible to send it to client: java.lang.IllegalArgumentExcep

[2022-07-26 05:41] geoand commented on #23483
@ivansenic so all good with `@QuarkusIntegrationTest`?

[2022-07-26 06:06] Alexander-Krause-Glau commented on #17465
@ivansenic Thank you very much. I think that my test code lacked the mocked interceptor. I will try this in the next week due to holidays.

@cescoffier

I am not sure what you mean by "this".

[2022-07-26 06:06] geoand commented on #26889
Hm... I agree that the current behavior is not correct, but why would we choose `getX` over `isX`?

[2022-07-26 06:16] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2737185436

[2022-07-26 06:18] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2737185436

[2022-07-26 06:22] geoand commented on #24581
Sounds reasonable indeed

[2022-07-26 06:24] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2737185436

[2022-07-26 06:30] cescoffier commented on #17465
I meant the ability to use a random port.

[2022-07-26 06:46] geoand commented on #26253
@iamKunalGupta it's not the same issue. Moreover, what did you expect to see as a result?

[2022-07-26 06:47] geoand commented on #26818
Yeah, it will be very very slow...

[2022-07-26 06:48] geoand commented on #25735
+1

[2022-07-26 06:51] geoand commented on #22205
I am pretty sure we are.

[2022-07-26 06:51] geoand commented on #26496
I agree it would be useful

[2022-07-26 06:57] geoand commented on #26789
@nexus-Six would the proposal from @manusa work for you?

[2022-07-26 07:19] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2737185436

[2022-07-26 07:25] michalvavrik commented on #25995
Okay, I read `io.quarkus.qute.deployment.QuteProcessor#findTemplateExtensionMethod` again and I can imagine generic extension method with little adjustments, but it can't validate the 2 parts separately (see above), so I'll wait till you think about it (no hurry). Thanks

[2022-07-26 07:44] marcvanR opened #26922 "smallrye jwt returns Response despite exception being caught"
### Describe the bug

I have a simple quarkus reactive resteasy server

[code]

Following the documentation found here I create several exception mappers to return a response body which elaborates on the status code. This one for example works when you do not provide a JWT token to a request that needs it:

[code]

This works as expected on my endpoint that uses quarkus-smallrye-jwt with the annot

[2022-07-26 07:49] triceo commented on #26889
Thinking out loud here:

I'm afraid there is no logic that leads to preference of either `getX` or `isX`.
And the situation may get even more complicated if someone refactors the class to a record (with its convention of just `X` for field getters), forgetting to remove the old `getX` getters. (As I did earlier.)

Maybe the only rational choice is to throw an exception?

[2022-07-26 07:52] ivansenic commented on #23483
All good works like a charm.. This is incredibly good feature, enables us to spin different complex environments that would be hard to do with test resource and simply run integration tests..

[2022-07-26 07:53] geoand commented on #23483
Awesome, glad to hear it :)

[2022-07-26 07:53] geoand commented on #26889
That would be my preference as wel...

[2022-07-26 07:56] geoand commented on #26780
https://github.com/quarkusio/quarkus/pull/26923 fixes the issue

[2022-07-26 07:58] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2737159516

[2022-07-26 08:16] manusa commented on #26780
Awesome, thx :raised_hands:

[2022-07-26 08:22] ia3andy commented on #25735
The filtering in the template makes quite some sense:
- The rendering logic is in centralized in the same location (the view). Making it easier to understand.
- Clean because only the base template contains le logic for filtering (the templates with the actual content are the same)
- There is no specific "rendering" logic in the code (beside adding the hxRequest constant)
- Having a base template

[2022-07-26 08:24] geoand commented on #25735
@ia3andy @FroMage ww should probably get together and figure something like this out. I feel like there is a good opportunity here

[2022-07-26 08:25] geoand commented on #26780
🙏🏼

[2022-07-26 08:38] mkouba commented on #26526
Ok, it's hard to find out more without a simple reproducer app...

[2022-07-26 08:40] subhanusharma opened #26925 "Inner class has a scope annotation but it must be ignored per the CDI rules"
**Describe the issue**
When having a class that is having an inner class compilation is failing.
The issue came when upgrading quarkus version to 2.x.x, earlier it was building and working properly.

[code]

Build Failing with error:

[code]

[2022-07-26 08:41] triceo commented on #26889
In the original code that triggered this bug report, the reason that `getX` and `isX` both exist is that they are actually different:

`Boolean getX()`
`boolean isX()`

`isX()` does some additional null checks to convert `Boolean` to a clean `boolean`.
But the type of `X` is `Boolean`.
So maybe Quarkus should prefer `getX`, because it returns the same type as the field?

[2022-07-26 09:00] geoand commented on #26733
Something is wrong with your code and it's not Quarkus.

Even doing this:

[code]

[code]

fails.

So I am going to close this.

[2022-07-26 09:00] mkouba commented on #26925
Is `CollectorCredentialCacheLoader` annotated with a scope? If so then the error is expected and the error message is pretty clear: inner classes may not be registered as CDI beans. Previous versions of Quarkus probably missed this check and the class was simply ignored.

[2022-07-26 09:13] nexus-Six commented on #26789
Yes, this looks like good solution

Am 26. Juli 2022 06:57:30 UTC schrieb Georgios Andrianakis ***@***.***>:
***@***.*** would the proposal from @manusa work for you?

[2022-07-26 09:21] subhanusharma commented on #26925
That's the issue, `CollectorCredentialCacheLoader` is not even annotated. Even then I am getting this issue.

[2022-07-26 09:23] yuxblank commented on #26748
I'm sorry to say but the release 2.10.3.final did not fix the issue or not entirely.

I have tried to reproduce by modifying the reproducer ma de by @markuseckstein but i still didn't figured out of to make it breaking in the integration test.

The context it's getting terminated, but only the first time in my app, i try to explain:

1) call the endpoint with a query or mutation with Authorization

[2022-07-26 09:28] iamKunalGupta commented on #26253
I just hand wrote the `service.getByIds` in @romilpunetha 's code above to simulate the error.

I expected the curl call I mentioned and the test I added to fail.

[2022-07-26 09:31] mkouba commented on #26925
That's weird. The scope annotation is probably added by some extension via an annotation transformer. Could you share the sources of your app or at least a small reproducer app? Also a list of extensions would be helpful.

[2022-07-26 09:39] gsmet commented on #26748
Even if you can't reproduce it in the ITs, it would help to have a reproducer with a simple app and curl commands to reproduce what's going wrong.
This problem is too sensitive for us to guess what you're doing.

[2022-07-26 09:40] geoand commented on #26589
I opened https://github.com/quarkusio/quarkus/pull/26926 to improve the error message

[2022-07-26 09:49] pjgg opened #26927 "Stork service discovery + Openshift - missing documentation related to required dependency on native mode"
### Describe the bug

Related to:
- https://github.com/quarkusio/quarkus-super-heroes/blob/43ded01f2a077a61507526bde07447d0276caaa0/rest-fights/pom.xml#L171-L185
 - https://github.com/quarkusio/quarkus/issues/25688
 - https://github.com/quarkusio/quarkus/issues/24444#issuecomment-1117136703

`io.smallrye.stork:stork-service-discovery-kubernetes` requires `io.quarkus:quarkus-openshift-client` or `i

[2022-07-26 09:51] iocanel opened #26928 "Make Quarkus Kubernetes gitops friendly."
### Description

Currently the generated resources are not very gitops friendly.

- [ ] The resources are not idempotent (affected by commit, date and user).
- [ ] The resources are generated under `target` which is usually not version controlled.

### Implementation ideas

We should disable the presence of non-idempotent labels by default.
We should also generate resources somewhere in the module

[2022-07-26 09:57] geoand commented on #26928
Very good idea!

cc @Sgitario as well

[2022-07-26 10:21] sberyozkin commented on #26894
Hi @ginccc I believe such new extensions have to be created in https://github.com/quarkiverse
@gastaldi Can you please advise @ginccc on the next steps ?

[2022-07-26 10:21] #26927 closed

[2022-07-26 10:25] geoand commented on #26828
The test in your sample worked perfectly - the filter was executed and the header added.

Is there anything you are missing?

[2022-07-26 10:29] lthasle commented on #8210
I get the same error when I move from 2.10.2.Final to:  2.10.3.Final

java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at io.quarkus.test.junit.QuarkusTestExtension.popMockContext(QuarkusTestExtension.java:675)
	at io.quarkus.test.junit.QuarkusTestExtension.afterEach(QuarkusTestExtension.java:510)
	at org.junit.jupiter.engine.descriptor.TestMethodTestDescriptor.lambda$invok

[2022-07-26 10:29] sberyozkin commented on #26922
Hi @marcvanR
`smallrye-jwt` is not controlling this exception mapping, it is only throwing the exception.

It looks like you need to implement it a bit differently, see a default [AuthenticationFailedExceptionMapper](https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmapper

[2022-07-26 10:31] geoand commented on #26922
Thanks for tagging me @sberyozkin.

@marcvanR if you attach a sample that works with RESTEasy Classic and not Reactive, I can have a look

[2022-07-26 10:47] yuxblank commented on #26748
@gsmet i've made and example project:
https://github.com/yuxblank/CVE-2022-2466---Request-Context-not-terminated-with-GraphQL/tree/378f28cf0c26cdd7e851eaefaf456671df9efc10

[2022-07-26 10:51] gsmet commented on #26748
@jmartisk @phillip-kruger @cescoffier could you have a look at what's going on?

[2022-07-26 10:51] DavideD commented on #26922
Why using `@Blocking` in this case?

[2022-07-26 10:56] marcvanR commented on #26922
The @Blocking was used in the more elaborate use case that I actually have and I wanted it to mimic that situation as much as possible.

Besides that I'm trying to implement what you are suggesting, so now I have:

[code]
Together with

[code]

But that still gives the `java.lang.IllegalStateException: Response has already been written` error message.

Am I implementing it incorrectly?

Thanks!

[2022-07-26 10:56] geoand commented on #26915
If you have a sample application showing the behavior (which you mention worked pre `2.11`), it would be great for us to have

[2022-07-26 10:58] geoand commented on #26908
It's very hard to understand what the reported issue is.

Please attach more information and preferable a sample that does not include extensions not part of the Quarkus core.

[2022-07-26 11:01] geoand commented on #26901
So should we close this?

If we do document things, my fear is that the documentation will not be up to date with the script.

[2022-07-26 11:02] iamKunalGupta commented on #26253
By curl call failing, I meant that it should atleast terminate in some way.

[2022-07-26 11:07] DavideD commented on #26922
I suspect the issue is that the stream gets closed too soon because it's a Uni. Something similar to what happens here: https://github.com/quarkusio/quarkus/issues/23739#issuecomment-1172851744

(I haven't checked the code though and I might be completely off)

[2022-07-26 11:11] geoand commented on #26589
Closed by https://github.com/quarkusio/quarkus/pull/26926

[2022-07-26 11:11] #26589 closed

[2022-07-26 11:11] geoand commented on #26789
Was closed due to my erroneous linkage to a PR

[2022-07-26 11:12] sberyozkin commented on #26922
@marcvanR Can you please put a breakpoint at https://github.com/quarkusio/quarkus/blob/main/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java#L84 ? I wonder if that code is still executed...

[2022-07-26 11:13] gastaldi commented on #26894
Sure, we have a checklist for new projects in https://github.com/quarkiverse/quarkiverse/wiki/Checklist. This issue is the first step.

@ginccc I'm assuming that a single multimodule repository named `quarkus-eddi` is what you need, I'll create it and send you an invitation to join the [Quarkiverse Hub organization](https://github.com/quarkiverse)

[2022-07-26 11:16] cescoffier commented on #26748
Are you using context propagation?

[2022-07-26 11:19] yuxblank commented on #26748
Yes.
Installed features: [cdi, kotlin, rest-client, rest-client-jackson, resteasy, servlet, smallrye-context-propagation, smallrye-graphql, vertx]

[2022-07-26 11:27] marcvanR commented on #26922
@sberyozkin, the code does not reach that point.

[2022-07-26 11:29] geoand commented on #26873
https://github.com/quarkusio/quarkus/pull/26930 fixes the issue

[2022-07-26 11:35] i96751414 opened #26931 "Hibernate-validator won't properly work when using @Observes for ApplicationScoped.class"
### Describe the bug

When using hibernate-validator on a class containing a `@Observes @Initialized(ApplicationScoped.class)` method, all the methods containing constraint annotations throw a NullPointerException:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

One can reproduce the problem with a QuarkusTest:

[code]

### Output of `uname

[2022-07-26 11:38] pdolezal opened #26932 "Provide support for ResourceBundle"
Please, could it be possible to provide better support for `ResourceBundle`?

We'd like having the resources for `ResourceBundle` in external files, so that we could patch them or extend them without rebuilding the whole application, but we struggle with that. It seems that `ResourceBundle` works well if its resources are embedded in the application, but we could not make it work with external res

[2022-07-26 11:54] reda-alaoui commented on #26901
I think mentionning the script location in CONTRIBUTING.md would be nice.
I can open a PR for this if you agree.

[2022-07-26 11:57] phillip-kruger commented on #26748
I am investigating

[2022-07-26 11:57] Alexander-Krause-Glau commented on #17465
@ivansenic Thank you again, I still had time left to test your approach. Can you also show how you inject the created `channel` in your client code? The class that I want to test uses the Mutiny-generated service code (that is annotated with `@GrpcClient`.

[2022-07-26 12:02] Eng-Fouad commented on #19447
@smil2k https://github.com/Eng-Fouad/jdbi-quarkus-native

[2022-07-26 12:09] Foobartender commented on #26828
Did you follow step 2., i.e. replace RESTEasy Classic with Reactive?

[2022-07-26 12:10] geoand commented on #26828
My bad 🤦🏼

[2022-07-26 12:18] geoand commented on #26828
I checked and in my opinion,  the RESTEasy Reactive's behavior is more correct. If you actually need to have the filters run, then you need to have a Resource Method that actually handles `@OPTIONS`.

[2022-07-26 12:28] cescoffier commented on #26748
I've a fix. I communicated it to Phillip. As I don't know much about Graphql (unfortunately), Phillip will look and open the PR.

[2022-07-26 12:42] phillip-kruger commented on #26748
Thanks @cescoffier ! PR to follow soon

[2022-07-26 12:48] ivansenic commented on #17465
@Alexander-Krause-Glau Not sure if I understood you.. You don't need to do anything else except for what I wrote above.. So basically for me it's like this:

[code]

and then in test

[code]

[2022-07-26 12:56] geoand commented on #26152
Does someone have a ready made sample I can use to see the problem?

[2022-07-26 12:58] #26894 closed

[2022-07-26 13:00] phillip-kruger commented on #26748
@gsmet - really sorry, this mean we probably need a release in the 2.10.x line ...

[2022-07-26 13:02] gastaldi commented on #26894
@ginccc there you go: https://github.com/quarkiverse/quarkus-eddi

Let me know if you need anything else. Enjoy! 😉

[2022-07-26 13:08] yuxblank commented on #26748
Snapshots of the release are available to download? i can give it a run if it helps ;)

[2022-07-26 13:08] ivansenic opened #26935 "OpenTelemetry sampler ratio config impossible with yaml configuration"
### Describe the bug

I am using the `quarkus-config-yaml` and seems that I am not able to configure the tracer sampler ratio value using smth like:

[code]

In the [configuration quide](https://quarkus.io/guides/opentelemetry#quarkus-opentelemetry_quarkus.opentelemetry.tracer.sampler) the two properties are mentioned, but it seems that above configuration does not work.

[code]

I guess `quarkus.

[2022-07-26 13:27] radcortez commented on #26794
I'm not able to reproduce the issue with the supplied configuration.

Looking into the configuration, `quarkus.datasource.reactive.url` (which has an expression to `${MY_DB_URL}` is set in the main profile (the one used by prod). Configuration set in the main profile will always be active, regardless of any other profile, meaning that the value set in `quarkus.datasource.reactive.url` will be used

[2022-07-26 13:28] #26794 closed

[2022-07-26 13:28] #26873 closed

[2022-07-26 13:55] DGuhr opened #26937 "FormPost request using go 1.13 & HTTP/2 causes resteasy exception with TLS in 2.7.6.Final"
### Describe the bug

When I do a `POST` request from go 1.13 on a quarkus 2.7.6 resteasy classic endpoint that consumes `MediaType.APPLICATION_FORM_URLENCODED` **and** uses SSL/TLS, the request causes an exception. See the added reproducer for more details.

### Expected behavior

Response is sent normally, no exception occurs.

### Actual behavior

Exception:
[code]
, response not sent.

### How

[2022-07-26 13:58] Foobartender commented on #26828
I looked at the JAX-RS spec. It indeed only says that globally bound ContainerResponseFilters should be executed for all resource methods. It doesn't say anything about non-existing resource methods.

However, I added some more tests to explore the behavior, and found that the filter is executed for non-existing resource methods, too, except for OPTIONS with RESTEasy Reactive.

All of the followin

[2022-07-26 13:59] DGuhr commented on #26937
I don'T know why the quarkus-bot added env windows, but it is not. cc @geoand @gsmet  ;)

[2022-07-26 14:16] vonatzigenc opened #26938 "Maven artifacts from additional repo not found during quarkus:build"
### Describe the bug

Services with dependencies on Maven artifacts that are not on maven-central cannot be built if the repositories are declared only in `settings.xml` and not in the `pom.xml` project. (If the repo is entered in pom.xml, the build for repos works without credentials.)

Error message:
[code]

### Expected behavior

Maven artifacts from additional Maven repositories (such as confl

[2022-07-26 14:23] gsmet commented on #26937
I don't think this is related to Quarkus so maybe it makes more sense to open a RESTEasy issue? /cc @jamezp as he will know better.

[2022-07-26 14:34] #26748 closed

[2022-07-26 14:36] #26882 closed

[2022-07-26 14:47] brunobat commented on #24938
related to [RestClient errors statuscode are not shown in micrometer](https://github.com/quarkusio/quarkus/issues/25951)

[2022-07-26 14:50] #26780 closed

[2022-07-26 15:03] geoand commented on #26828
Indeed that doesn't make for a consistent experience.

I'll have a closer look

[2022-07-26 15:17] pilhuhn commented on #19653
I believe that could be closed.
It may be that in the failing code base an extra exporter has been missing like

[code]

[2022-07-26 15:23] jamezp commented on #26937
I'm not able to reproduce this, but I also don't have a Mac. I get the expected response:
[code]
The form parameters look correct too.

Go Environment:
[code]

Java Environment:
[code]

[2022-07-26 15:24] vmuzikar commented on #26937
@jamezp Could you please try building it with Go 1.13?

[2022-07-26 15:26] jamezp commented on #26937
I'll see if I can figure out how to do that. I'm not too familiar with Go :)

[2022-07-26 15:31] #19653 closed

[2022-07-26 15:31] gsmet commented on #19653
Thanks for the followup.

[2022-07-26 16:49] DGuhr commented on #26937
@jamezp Thanks for looking into it. I am also not sure if we could do sth about it. Just wanted to bring it to the attention of you because some users are also reporting the same exception to be thrown on windows (see referenced keycloak issues in additional information, not reproducible for me on my windows machine, though, so not entirely sure it is the same problem, but sounds hardly like it),

[2022-07-26 17:03] sberyozkin commented on #26894
Thanks @gastaldi :+1:

[2022-07-26 17:39] hamburml commented on #26152
@geoand
You can use this https://github.com/hamburml/context-resolver

When quarkus-resteasy-jackson and quarkus-rest-client-jackson is used the GreetingRestClientMapper works (getContext is called). When using quarkus-resteasy-reactive-jackson, quarkus-resteasy-reactive and quarkus-rest-client-reactive-jackson instead of the older counterparts getContext is not called anymore.

[2022-07-26 17:45] jamezp commented on #26937
Makes sense @DGuhr. There is potential to see if we really got any data and catch and maybe rethrow it. It seems like something should at least be logged as there really could be missing data. Given that we can file an issue at https://issues.redhat.com/browse/RESTEASY.

[2022-07-26 18:03] Eng-Fouad commented on #19447
@smil2k I added bunch of newly discovered classes that are reflectively accessed: https://gist.github.com/Eng-Fouad/7b5925481dd391fcc74487a68484b987

Instead of including all these classes (which in turn increase the native image size), I think the best approach is to inspect the user source code, and include only the necessary classes that will be reflectively accessed.

For example, include

[2022-07-26 18:11] gastaldi commented on #19447
Agreed, that's why using BuildItems is better than having a huge JSON 😉

[2022-07-26 18:14] patriot1burke commented on #26904
Long standing issue that requires rewrite of dev ui http handling.  Don't use the dev ui.

[2022-07-26 18:20] gumutianqi commented on #3903
Hi everyone, So How's the Apache RocketMQ extension for Quarkus?

If I am ready to use the RocketMQ, Please help me and tell me.  how to?

[2022-07-26 18:45] ginccc commented on #26894
Thanks a lot, @gastaldi!
As we are planning to build two separate extensions (eddi-server, eddi-client), should we perhaps have two repositories - one for each, or do you want us to manage both extensions inside one repo?

[2022-07-26 18:54] gastaldi commented on #26894
@ginccc it's up to you, really. IMHO making it as a multimodule project may be easier to manage the releases (and even to introduce other related extensions). Here is an example of a multimodule project: https://github.com/quarkiverse/quarkus-google-cloud-services

Let me know if you prefer two repositories instead

[2022-07-26 18:54] danieloh30 commented on #26904
It's not only about DEV UI but also there's no response when I invoke the RESTful APIs using the curl command.

[2022-07-26 19:16] smil2k commented on #19447
@gastaldi
Now I'm officially amazed! Writing this was so much less pain that I expected! Quarkus rocks!

@Eng-Fouad
I was able to compile your test app using the extension.

Looking at the classes there is a room for improvement eg probably SqlUpdateHandler is only used if @SqlUpdate is used etc...

But it works now, so It might make sense to try to publish the first beta ;)

[2022-07-26 21:05] Eng-Fouad commented on #19447
@smil2k I added more details on each class and when to include it: https://gist.github.com/Eng-Fouad/7b5925481dd391fcc74487a68484b987

@gastaldi Could you please add me to the project [quarkiverse/quarkus-jdbi](https://github.com/quarkiverse/quarkus-jdbi)?

[2022-07-26 21:10] fage88 commented on #21535
any update on this one?  I am very interested to see this

[2022-07-26 21:41] priyanknarvekar opened #26950 "Support for Dev UI in remote-dev mode."
### Description

Currently the Dev UI throws 404 in remote-dev mode.

Did see that this has been explicitly disabled as mentioned in https://github.com/quarkusio/quarkus/issues/22780#issuecomment-1009283722

### Implementation ideas

Continuing the thoughts in the comment, to possibly enable it based on some configuration settings.
For security enforcements, may be
- configuration requiring  ip ci

[2022-07-26 22:15] lotogus commented on #14682
Hi, this is my solution...

build.gradle.kts

[code]

application.properties (I used default dev configs: https://quarkus.io/guides/databases-dev-services)

[code]

a LiquibaseSetup.kt class

[code]

[2022-07-26 23:23] patriot1burke commented on #26904
If you run the DEV UI then invoke RESTful APIs it just hangs.

[2022-07-26 23:28] danieloh30 commented on #26904
Interesting. So if I don't open DEV UI, live coding works well?

[2022-07-27 06:16] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2744328438

[2022-07-27 06:20] andlinger opened #26952 "APIstax client extension"
### Description

Hi!
I would like to implement a Quarkus extension for the [APIstax](https://apistax.io) platform. The plan would be to develop an injectable client with which all APIs of the platform are callable.

### Configuration suggestion

[code]

### Additional context

_No response_

[2022-07-27 06:22] andlinger commented on #26952
I can gladly take over the lead of the extension

[2022-07-27 06:39] lthasle opened #26953 "2.10.3.Final -> ServiceConfigurationError: SmallRyeConfigFactory: QuarkusConfigFactory not a subtype"
### Describe the bug

When moving from 2.10.2.Final to 2.10.3.Final, I see that some of our tests fails with this error, see test output below.

https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/2.2E10.2E3.2EFinal.20-.3E.20ServiceConfigurationError.3A.20SmallRyeConfigFac

### Expected behavior

The test should run ok as in previous version 2.10.2.Final

### Actual behavior

The tes

[2022-07-27 07:06] geoand commented on #26152
To be honest, I very much dislike the use of `ContextResolver` to solve such kind of issues...
I would much prefer us do something like https://github.com/quarkusio/quarkus/pull/23995

[2022-07-27 07:07] Ladicek commented on #26953
The shortened stack trace in this issue report doesn't show anything, but the full stacktrace in the Zulip discussion shows that the problem occurs at

[code]

and the `popMock` method calls

[code]

That is, during `@AfterEach`, we call `clearMock`, which gets intercepted (because the RestClient interface has a class-level fault tolerance annotation), and that is wrong.

The fix is simple: the 2

[2022-07-27 07:10] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2744328438

[2022-07-27 07:13] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2744328438

[2022-07-27 07:23] #26831 closed

[2022-07-27 07:26] geoand commented on #26952
Sounds like a great addition to the Quarkiverse 😉

[2022-07-27 07:27] geoand commented on #26932
Could you please clarify what exactly you would like to see?

[2022-07-27 07:37] geoand commented on #26953
Thanks for taking care of this @Ladicek

[2022-07-27 08:05] westarne commented on #26152
As far as I understand that issue, it will still not allow distinct ObjectMappers for different clients, right? And that is exactly what we need. Some object mapper features are just not compatible and cannot be used for multiple different clients. So a separation of server and client is also required, but for systems with a lot of different clients it just does not work with one object mapper for

[2022-07-27 08:07] geoand commented on #26152
Yeah, I understand that and it's completely reasonable. The PR mentioned above does not exactly do that, but it could lay the groundwork for making things easier when it comes to addressing this use case.

I personally think `ContextResolver` is a very dated API that most people don't know about anyway so we should strive to come up with something more modern and usable.

[2022-07-27 08:32] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2744328438

[2022-07-27 08:53] geoand commented on #26152
We could for example use CDI qualifiers on the class, or even utilize a static (or default) method on the interface that would yield an object mapper.

My point is that there are a lot of ways of making this better than relying on the antiquated and arcane `ContextResolver` API

[2022-07-27 08:54] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2744303624

[2022-07-27 09:19] gsmet commented on #26152
A CDI qualifier or an annotation could make sense. In any case, it's a very valid use case given you will get all sorts of JSON formats coming from various apps your clients are targeting.

Now I don't know how hard supporting `ContextResolver` would be. If not, maybe we should implement it anyway to simplify migrations but only document the more modern approach we want people to have.
My concern

[2022-07-27 09:20] mkouba commented on #25995
So generic template extension methods should be validated. There's for exampe this [test](https://github.com/quarkusio/quarkus/blob/main/extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/extensions/CollectionTemplateExtensionsTest.java#L67-L70) that validates the this [built-in extension method](https://github.com/quarkusio/quarkus/blob/main/extensions/qute/runtime/src/main/java/

[2022-07-27 09:21] geoand commented on #26152
Completely agreed, this should be addressed. My point is that I see no reason to resolve it using `ContextResolver`.

[2022-07-27 09:39] hamburml commented on #26152
Thanks for your answers. Looks like we will stop our migration to reactive dependencies till this is configurable.
I am not so sure but I think I read somewhere that "resteasy" and "resteasy-reactive" (e.g. "rest-client" and "rest-client-reactive") is compatible to each other which is not the case.

[2022-07-27 09:43] geoand commented on #26152
They are compatible, but obviously this is a case where things fall short. It will be addressed however (for Quarkus 2.12 or 2.13)

[2022-07-27 10:03] gsmet commented on #26152
You're missing my point then :) - it might not be enough to justify the work but better make sure you have it. My concern is that people migrating from the REST Client to the Reactive one won't notice until too late that their `ContextResolver` won't actually be taken into account.
It's not as if the failure would always be big enough to notice it. For instance, you could just lose a field that yo

[2022-07-27 11:03] geoand commented on #26152
I looked into this a little more and making the `ContextResolver` thing work for the client is not going to pretty at all... Due to how the APIs are constructed, there is really no integration point at which a `MessageBodyReader` or `MessageBodyWriter` can access the JAX-RS `Configuration` (which is where the `ContextResolver` is stored for each client).
We also can't really rely on the `@Context`

[2022-07-27 12:13] geoand commented on #26909
Can you please try to format the description a little better? It's currently hard to understand.

Thanks

[2022-07-27 12:27] radcortez commented on #25591
Lifting the `@ConfigRoot` restriction for the double mapping requires some work (because internally, the backing classes do not support it). `@ConfigMapping` does not have that restriction, so I use that instead to avoid the warnings.

[2022-07-27 12:28] rgmz commented on #22797
Vert.x now has a [`CachingWebClient`](https://vertx.io/docs/vertx-web-client/java/#_http_response_caching), with [support for noop, local (ConcurrentHashMap), and shared](https://vertx.io/docs/apidocs/io/vertx/ext/web/client/spi/CacheStore.html) by default.

[2022-07-27 12:34] radcortez commented on #26909
Please, can you provide a reproducer and clarify the Quarkus version? I don't think we have a `1.21.0.Final`. Thank you!

[2022-07-27 13:14] anborg commented on #26915
Hi @geoand, Sample application referred here: https://github.com/quarkusio/quarkus/issues/26905

[2022-07-27 13:20] geoand commented on #26915
Your sample does seem to contain all the modules you mention.

[2022-07-27 13:56] gastaldi commented on #19447
@Eng-Fouad I created https://github.com/quarkiverse/quarkiverse-devops/pull/66. Because that's up to the extension lead (@smil2k) to decide, I'll wait until he approves the PR to merge it.

[2022-07-27 14:15] anborg commented on #26915
run "mvn package"

[code]

[2022-07-27 14:21] radcortez commented on #26935
Use:

[code]

This is documented in the YAML Configuration guide: https://quarkus.io/guides/config-yaml#configuration-key-conflicts

[2022-07-27 14:21] #26935 closed

[2022-07-27 14:29] gastaldi commented on #26952
@andlinger Once https://github.com/quarkiverse/quarkiverse-devops/pull/67 is merged the https://github.com/quarkiverse/quarkus-apistax/ repository will be created and you should receive an invitation to join the Quarkiverse organization.
Please follow the checklist in https://github.com/quarkiverse/quarkiverse/wiki/Checklist#after-the-repository-is-created to enable this extension in our tooling,

[2022-07-27 14:36] radcortez commented on #21535
We want to implement #26444 first, which is underway. This will allow us to support the expected configuration for the OTLP http exporter.

[2022-07-27 14:48] R4V3NN0 commented on #26818
Yes its primarly about cleaning data and it would be very slow if we would do that for every single test but it would still be nice if it could work like in spring. Even if it could be very slow if you use it at all tests. I think it is cleaner and safer than trying to clear old data by myself especially at massive multithreading with multiple async processes.

[2022-07-27 14:50] ivansenic commented on #26935
Thanks 🙏

It s great when you learn something new every day..

[2022-07-27 15:13] #26952 closed

[2022-07-27 16:47] radcortez commented on #24214
We are closing this since we support it in `@ConfigMapping`, and we can use them with Extensions.

[2022-07-27 16:47] #24214 closed

[2022-07-27 17:17] hamburml commented on #26152
I also must say that without our api gateway which validates the request body against a scheme I probably would have missed that ContextResolver doesn't work. For me it is 100% important that it works like before (or there is an even better way how it's done). Thanks for your work @geoand

[2022-07-27 18:18] aloubyansky commented on #26938
I'll look into this next week. Thanks for the report.

[2022-07-27 19:28] cs8898 opened #26972 "Panache ORM findBy UUID Quarkus >2.8"
### Describe the bug

When searching for an particular entity by UUID as ID in Quarkus > 2.8 there will be no found entity.
This also happens when searching with the find("query",  arg) method.

The Query seems to be good, probably the UUID Serialization is bad.

I also manually set the H2 Dialect.
For my use-case i only used H2...

## Test Outcomes

For testing i created the Repo https://github.c

[2022-07-27 19:48] cs8898 commented on #26972
Probaply H2 Driver Update in 2.9.0

H2 got updated from 1.4 to 2.1

[2022-07-27 19:49] smil2k commented on #19447
I've added the processing logic for most of the listed handlers, they are dynamically discovered now. There are many things left out of course.

I think the most urgent matter for now:
1) create a jdbi kitchensink application which is using everything somehow
2) make a beta release

I'll try to find time for at least a basic test and figure out how to release. Feel free to fix anything or create a

[2022-07-27 19:55] gastaldi commented on #19447
@smil2k create issues for the missing stuff, this will help you keep track and distribute tasks easily

[2022-07-27 19:58] gsmet commented on #26972
https://github.com/quarkusio/quarkus/discussions/25535#discussioncomment-3099579 might help.

[2022-07-27 20:49] pdolezal commented on #26932
Alright, I'll try to make a suggestion how it could look like.

An application code uses something like:

[code]

Everything works as expected when the resources are embedded in the application: place files like `messages.properties` and `messages_de.properties` in the Maven project's `resources/` folder… and it just works. But what if you don't want or can't to have them all embedded? What if jus

[2022-07-27 20:53] cs8898 commented on #26972
# Solution

[code]

Did the job https://github.com/cs8898/quarkus-panache-uuid-canary/tree/dependabot/maven/quarkus.platform.version-2.11.1.Final Test is now green :heavy_check_mark:

Seems i have to review the changes and migrate the columns

[2022-07-27 21:31] kucharzyk opened #26975 "Qute parsing issue"
### Describe the bug

This is valid qute template with custom tag
[code]
Same template with spaces around equal sign is not valid
[code]

It is producing 3 really hard to understand errors
[code]

It's very common to use expresions like this (custom tags or let blocks) and I think it should be improved.
By default IDEs like InteliJ while formatting code are adding spaces around equal sign in templ

[2022-07-27 21:51] DCCSKrezovic commented on #26796
@sberyozkin thank you so much! Is it possible to include this in any of the stable releases, such as 2.11 or 2.10 or both, or do I have to wait for 2.12? Thanks again!

[2022-07-27 21:52] #26387 closed

[2022-07-28 04:10] aaronaxisa-ecabs commented on #18452
I need this as well.

Just a thing to keep in mind. I would ideally have the option that these can be dynamically created at runtime not just through application.yml .

For example we have a email service that through REST lets you setup a new email to use for specific types. As such properties would still make it not work properly.

[2022-07-28 05:16] geoand commented on #26152
Understood, thanks.

[2022-07-28 05:23] geoand commented on #26915
Just did, the result is:

[code]

[2022-07-28 06:03] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2751469663

[2022-07-28 06:07] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2751469663

[2022-07-28 06:37] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2751444269

[2022-07-28 07:25] szu17dmy opened #26981 "Gzip support when using quarkus-rest-client-reactive"
### Description

When using `quarkus-rest-client-reactive` with gzip encoding response, jackson will give an exception like this:

I can find gzip file magic number (1f 8b) if use ByteArray as the return type. For more information, view this question: https://stackoverflow.com/q/73148083/17610630

Can `quarkus-rest-client-reactive` have the `GZIPDecodingInterceptor` of the non-reactive one?

Thank

[2022-07-28 07:34] dilipdhankecha2530 opened #26982 "Native Build Failed While Use Camel-Pdf"
### Describe the bug

With `camel-quarkus-pdf`, i am able to generate image from the pdf file.
My reference code is [here](https://github.com/dilipdhankecha2530/quarkus-pdf-to-image).
I am able to run the code but while creating the native image it will come up with below error message.

[code]
Is there any configuration i missed?

### Expected behavior

Build must be successful and binary file wo

[2022-07-28 07:41] gsmet commented on #26982
Please report the issue in the Camel Quarkus project: https://github.com/apache/camel-quarkus/issues .

[2022-07-28 07:41] #26982 closed

[2022-07-28 08:05] mkouba commented on #26975
Well, at the moment section parameters are whitespace-separated chunks where the equals sign is used to identify the optional name of a param.

I.e. for `{#textInput field="username" label="Username"}`  the `SectionHelperFactory` for `textInput` receives two params. The first has a name `field` and the value is `"username"`. The second has name `label` and value `"Username"`. For `{#textInput fiel

[2022-07-28 08:25] gsmet commented on #26972
For the record, the native H2 `uuid` type be the default mapping with Hibernate ORM 6 (it's not possible to change the default mapping easily in ORM 5) so when Quarkus moves to Hibernate ORM 6, it will be automatic.

It's still a few months away though so in the meantime the best way to fix it is to define the type manually with `@Column(columnDefinition = "uuid")`.

[2022-07-28 08:25] #26972 closed

[2022-07-28 08:38] Sanne commented on #26932
It would be nice to test that people can easily provide a custom `ResourceBundleProvider`, and document that - especially if something custom is needed (it should work OOB but I'm not aware of this being tested).

But I'm not sure if it's a good idea include a custom `ResourceBundleProvider` implementation to allow using external files by default; we should definitely allow people to do so if they

[2022-07-28 08:53] pdolezal commented on #26932
We are interested in static resources indeed. Our use case aims at the possibily to extend and/or customize messages without rebuilding the application. So we don't need to react on changes of loaded resources. I think that the static case is a reasonable default option that should satisfy almost everybody.

I guess that if the support allows plugging custom providers and somebody needs even dynam

[2022-07-28 09:40] gsmet opened #26984 "Jakarta - EE 9 - Infinispan Client IT fails because javax.annotation.Generated is not available"
When building the Infinispan Client IT in the `jakarta-rewrite` branch, we get the following failure:

[code]

Several options to fix that:
- test which `@Generated` annotation is available via reflection and use it, instead of blindly use the `javax` one
- switch to a custom `@Generated` annotation hosted in an Infinispan package - this is what Clément did for gRPC
- detect the JDK version and st

[2022-07-28 09:44] gsmet opened #26985 "Jakarta - EE 9 - Narayana LRA Jakarta implementation missing"
We currently don't have a Narayana LRA Jakarta artifact released on Maven Central and we are building something locally from a branch.

@mmusgrov is currently working on it and hopefully the artifact will land soon, creating the issue to keep track of the integration.

Note:
- we need to upgrade Narayana
- integrate OpenRewrite recipes to adjust the artifact
- remove the local building from `jakar

[2022-07-28 09:48] gsmet opened #26986 "Jakarta - EE 10 - Hibernate ORM 6 upgrade and JPA 3.1"
@Sanne is leading this effort.

Note that once we have Hibernate ORM 6 integrated, we will have to:
- integrate a new version of Hibernate Reactive based on 6
- adjust the Hibernate Search extensions
- figure out if the Envers extension needs adjustments
- figure out impact on all downstream extensions
- update quickstarts, docs

[2022-07-28 09:51] gsmet opened #26987 "Jakarta - EE 10 - RESTEasy Reactive and JAX-RS 3.1"
For now, we are working on the EE 9 upgrade which only rewrites the packages. This doesn't require any big adjustments in RESTEasy Reactive.

EE 10 introduces new features with JAX-RS 3.1 though.

If there are features in JAX-RS 3.1 that we want to support in RESTEasy Reactive, we need to:
- implement the features we want
- probably add the TCK tests that were added to test these features to our f

[2022-07-28 09:53] pendula95 commented on #22971
+1

[2022-07-28 09:56] geoand commented on #26152
https://github.com/quarkusio/quarkus/pull/26988 takes care of the server part.

For the client part,  [this](https://github.com/quarkusio/quarkus/issues/26152#issuecomment-1196583596) comment still applies.

[2022-07-28 09:57] gsmet opened #26989 "Jakarta - EE 10 - Move to the Angus Jakarta Mail implementation"
For now, we are using the old implementation targeting EE 9.

EE 10 and Jakarta Mail 2.1 introduced a new implementation called Angus.

Note that there are 2 different artifacts:
- https://search.maven.org/artifact/org.eclipse.angus/angus-mail/1.0.0/jar that is just the implementation
- https://search.maven.org/artifact/org.eclipse.angus/jakarta.mail/1.0.0/jar that contains both the implementation

[2022-07-28 10:04] gsmet opened #26990 "Jakarta - EE 10 - Update all the Jakarta APIs/Implementations to EE 10"
For now, our upgrade recipes target EE 9, we need to upgrade to EE 10.

We can expect some issues:
- CDI introduces some new APIs that we will have to implement
- We need Hibernate ORM 6 - see https://github.com/quarkusio/quarkus/issues/26986
- Probably other fun things :)

[2022-07-28 10:04] yrodiere opened #26991 "Unify Elasticsearch configuration for Elasticsearch clients and Hibernate Search"
### Description

For Hibernate ORM, we have the concept of (JDBC) "datasource".
For Hibernate Reactive, we have the concept of (non-JDBC) "datasource".
Those allow users to specify JDBC urls (or other, in the case of non-JDBC) in a way that is independent from Hibernate ORM, so that you can use only JDBC, or only Hibernate, or both, but in all cases you only configure the datasource once.

However

[2022-07-28 10:06] yrodiere commented on #25000
We might not need this at all if we address #26991: then developers will be able to use [`@ElasticsearchClientConfig`](https://quarkus.io/guides/elasticsearch#programmatically-configuring-elasticsearch).

[2022-07-28 10:08] gsmet commented on #26931
@mkouba @manovotn any idea if this is something we could support with adjustments to the Hibernate Validator extension?

In any case, if we can't, I'll add a better error message than a NPE.

[2022-07-28 10:12] yrodiere commented on #25607
Hey @leonardowestphal , can you confirm that fixing #26507 fixed all the problems you mentioned in this thread? The fix is included in Quarkus 2.11.1.

[2022-07-28 10:16] gsmet opened #26992 "Jakarta - EE 9 - Get a Jakarta version of the Confluent schema registry client"
The `integration-tests/kafka-avro` tests are failing because the Confluent schema registry client is targeting EE 8/`javax.` packages (which is not surprising, and we will need a EE 8 client for a while). I haven't found any Jakarta EE 9+/`jakarta.` packages compatible version available though.

Typically, the `io.quarkus.it.kafka.KafkaAvroTest.testConfluentAvroProducer` test is failing in the `ja

[2022-07-28 10:17] knuspertante commented on #26853
I have the same issue ;-) See: https://github.com/quarkusio/quarkus/issues/25526 it comes only for quarkus version > 2.7 and --link-at-build-time

Probably this https://github.com/oracle/graal/pull/4661 will help.

[2022-07-28 10:25] gsmet commented on #26853
@sberyozkin you can only transfer issues inside the same organization. Given `quarkiverse` is a separate org, you will have to copy the information and close this one.

[2022-07-28 10:42] mkouba commented on #26931
@gsmet Does it occur because the HV is initialized at runtime?

[2022-07-28 10:43] manovotn commented on #26931
@gsmet does the validator have some non CDI fallback? I am looking at the code but so far I don't understand how do you get instance of `MethodValidationInterceptor` without getting unsatisfied dependency on its injection

[2022-07-28 10:49] gsmet commented on #26931
@mkouba yeah, the `ValidatorFactory` and the shared `Validator` instance are created in a `BeanContainerListener`.

One important thing is that I consume CDI beans to initialize the `ValidatorFactory` as CDI beans are used to customize/populate it.
And no, I don't have a non CDI fallback.

[2022-07-28 10:49] manovotn commented on #26931
@i96751414 just to make sure you know, you can make this work by using `@Observes Startup` instead of the observer you have now.
Details can be seen in this guide -> https://quarkus.io/guides/lifecycle#listening-for-startup-and-shutdown-events

[2022-07-28 10:50] loicmathieu commented on #26991
I agree we should consolidate the two.
An inspiration may be reactive messaging Kafka which support both configuration, under quarkus.kafka.* and mp.reactive.[...].*.

So when configuring Hibernate search, if Elasticsearch stuff are not configured it should look under quarkus.elasticsearch configurations, or, as you suggest, for an existing rest low level client in Arc.

[2022-07-28 10:54] gsmet opened #26994 "Jakarta - EE 9 - Go through all the IT and TCK failures and create issues for non-resolvable ones"
Let's try to solve as many as possible before creating issues.

[2022-07-28 10:55] famod opened #26995 "Statement leak warning on start since 2.11.0.Final"
### Describe the bug

In all modes:
[code]

### Expected behavior

No such warning (as in 2.10.3.Final)

### Actual behavior

Warning logged, with unknown source/reason

### How to Reproduce?

TODO

### Output of `uname -a` or `ver`

`Linux *** 5.10.102.1-microsoft-standard-WSL2 #1 SMP Wed Mar 2 00:30:59 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

### Output of `java -version`

`OpenJDK 64-Bit Serve

[2022-07-28 11:03] mkouba commented on #26931
@manovotn The injected bean is most probably a producer initialized during RUNTIME_INIT, hence returning `null` during STATIC_INIT.

[2022-07-28 11:06] manovotn commented on #26931
Hmm, that is what I initially thought but in such case using `Instance<Validator>` might help as validation methods are invoked in runtime.
But it does it opposite, with `Instance` it starts failing on unsatisfied dep, hmm.

[2022-07-28 11:09] mkouba commented on #26931
Ok, so you need to build the `ValidatorFactory` after the CDI container init is finished. In theory, you can make the `MethodValidationInterceptor` aware of the fact that the injected factory/validator can be `null` and log some useful warning/error message.

[2022-07-28 11:12] mkouba commented on #26931
Like `@Inject Instance<javax.validation.Validator>`?

[2022-07-28 11:16] manovotn commented on #26931
@gsmet Actually you can make this work if instead of using `@Inject Validator` you introduce helper method such as:

[code]

This will make the resolution dynamic and only executed at runtime when you have `Validator` instance ready.

With that and the example above, I am getting correct error from validator - `Constraint violations:  ...`

[2022-07-28 11:17] manovotn commented on #26931
Yes, we probably pre-resolve set of candidate beans for `Instance` at the time of injection, right?

[2022-07-28 11:25] gsmet commented on #26931
Hmmm. I don't think it was our intention to make the bean dependent. It's stored statically so I don't think it changes things too much but I'll have a look at changing that.

[2022-07-28 11:28] manovotn commented on #26931
The reason you have it dependent might be because you need to be able to return `null` from its producer in some cases?
But since it is static, it doesn't really matter.

Either way, I had a slightly wrong config before, you can use `Instance<Validator>` and you can leverage `@WithCaching` to make it look clearer as well.
PR incoming shortly.

[2022-07-28 11:40] gsmet commented on #26931
Ah OK, I was implementing this with a volatile. But if you have a better option, I'm waiting for your PR :).

[2022-07-28 11:42] gsmet commented on #26931
No, they should always be set... see here we have NPEs otherwise :). I think it was just an oversight.

[2022-07-28 11:50] dbaltor commented on #11493
I had the same issue in another project and have found some links ([here](https://issues.apache.org/jira/browse/SUREFIRE-1520) and [here](https://github.com/openzipkin/zipkin/issues/3159)) where people complain about it. I managed to solve it upgrading failsafe to `3.0.0-M6` as described in [here](https://github.com/openzipkin/zipkin/issues/3159).

[2022-07-28 12:40] Cs4r opened #26999 "Add QuarkusBeforeTestExecutionCallback"
### Description

Hello,

As we have in JUnit5 a callback to be invoked just before the test execution, but after BeforeEach (named `org.junit.jupiter.api.extension.BeforeTestExecutionCallback` indeed). It would be good to incorporate to quarkus-junit5 library a callback named `QuarkusBeforeTestExecutionCallback`  that has similar behaviour.

e.g:

[code]

Regards.

### Implementation ideas

_No re

[2022-07-28 12:48] yrodiere commented on #26995
Not again :facepalm:

I'll need a reproducer if you have one... This was supposed to be fixed in #14305, and we added a non-regression test so it supposedly still is fixed for the cases we knew about.

This might be a new "leak", either a real one or one that is wrongly reported by Agroal... that's possible if some operations are no longer happening strictly in the order Agroal expects.

[2022-07-28 13:05] geoand commented on #26999
Hi,

The current callbacks are modeled after JUnit's test lifecycle. This doesn't seem to have an analog, or am I mistaken?

[2022-07-28 13:13] Cs4r commented on #26999
Currently there are 4 callbacks supported by quarkus-junit:

- `io.quarkus.test.junit.callback.QuarkusTestBeforeClassCallback`
- `io.quarkus.test.junit.callback.QuarkusTestAfterConstructCallback`
- `io.quarkus.test.junit.callback.QuarkusTestBeforeEachCallback`
- `io.quarkus.test.junit.callback.QuarkusTestAfterEachCallback`

The analog would be `QuarkusBeforeTestExecutionCallback`, it would be call

[2022-07-28 13:16] FroMage commented on #22205
I can't see where.

[2022-07-28 13:22] Cs4r commented on #26999
Yes, JUnit5 has that feature, the callback name is `org.junit.jupiter.api.extension.BeforeTestExecutionCallback`.

The use case is about having a method that is invoked before the `@Test`, mainly to fill some variables/pass some parameters before the test executes. It's like a `@BeforeEach`.

[2022-07-28 13:29] isarantidis opened #27003 "JaxbProcessor should not register package-info to be bound to JaxbContext"
### Describe the bug

Commit [Allow to provide custom configuration for JAXB context](https://github.com/quarkusio/quarkus/commit/e812d24038587981ea1a1c2d50ceb8434c6159b0 ) , introduced  changes to the JaxbProcessor. One of the changes results in the inclusion of **package-info**s to  be bound to the JaxbContext
[code]

### Expected behavior

_No response_

### Actual behavior

Including camel's e

[2022-07-28 13:36] FroMage commented on #22205
I am making good progress allowing multipart parameters already.

[2022-07-28 13:37] #26931 closed

[2022-07-28 13:38] Sanne commented on #26995
It could also relate to scope of context. I see `smallrye-context-propagation` among the list of extensions, and I'm wondering why - is there any reactive code being used?

[2022-07-28 13:44] gsmet commented on #27003
/cc @geoand

[2022-07-28 13:57] FroMage commented on #22205
I can see why you didn't add support for parameters, man. It's like fitting a square peg in a round hole!

[2022-07-28 14:24] karesti commented on #26984
I created a PROTO Issue. Further investigation might be needed for the Infinispan https://issues.redhat.com/browse/IPROTO-239

[2022-07-28 14:27] gsmet commented on #26984
@karesti so I tried to work around it and see if it was the only issue but it's not:

[code]

I think we will need a Jakarta version of the Infinispan client. If it's only one artifact to adjust, it should be easy. It could be more painful if there is more.

I'll try to have a closer look and follow up.

[2022-07-28 14:28] gsmet commented on #26984
That being said I suppose you would need one for WildFly so I'm surprised you don't have something already.

[2022-07-28 14:33] gsmet commented on #26984
I see you have a `jakarta` jar for Infinispan 14 so that might fix the second problem. I'll make use of the 14.0.0.Dev04 version that is on Maven Central and see how it goes.

[2022-07-28 14:47] OscarRL opened #27005 "Regresion: Mix Kotlin and Java classes in multi-module projects breaks dev mode with Gradle"
### Describe the bug

When using a multi-module project and mixing Kotlin and Java classes on /src/main/java and /src/test/java at the same time dev mode doesn't detect any class.

Actually the reproducer that I added shows that no JAX-RS endpoints are detected but this reproducer you can also create @Startup classes and hooks and it will be ignored by Quarkus Dev Mode.

### Expected behavior

All

[2022-07-28 15:01] geoand commented on #22205
I honestly don't remember 😂

[2022-07-28 15:42] i96751414 commented on #26931
@manovotn My application couldn't have (due to some requirements) any Quarkus specific annotations/calls, hence having the observer of the above example.

Thank you guys for solving this!

[2022-07-28 15:47] famod commented on #26995
It's related to `quarkus-liquibase` and I suppose it's an upstream issue. I'll try the quickstart next...

[2022-07-28 15:48] geoand commented on #27003
Interesting. I'll have a look tomorrow

[2022-07-28 15:49] geoand commented on #22205
Maybe I remember something else...

[2022-07-28 16:07] famod commented on #26995
Errm... https://github.com/liquibase/liquibase/pull/2914/files#diff-b378dd1eeb35b9dbe8751bd7462c9aad1b1c8c74d6cd5fd6c64b4014d05a1260R53

I haven't bisected yet, but it's not happening with Liquibase 4.12 and the above change is in 4.13 and IMO it's a very hot candidate.

[2022-07-28 16:13] famod commented on #26995
Also, it makes sense now that I'm not seeing this in the quickstart because it doesn't import csv data via liquibase (`loadData`) but my project does.

[2022-07-28 16:25] famod commented on #26995
Yeah, it's that new static unclosed `ExecutablePreparedStatementBase.lastPreparedStatement`, verified via the following hack:
[code]
(the above only works in a special `@QuarkusTest` of mine where I run Liquibase a second time for...reasons)

[2022-07-28 16:38] famod commented on #26995
@geoand we don't want to add such a nasty hack to the extension (for a limited time), do we?

[2022-07-28 17:07] lucashsilva commented on #18542
@gsmet @stuartwdouglas In which version is this fix available? I'm running 2.9.2.Final and it does not seem to work.

[2022-07-28 17:09] geoand commented on #26995
Oh dear... That is very questionable choice on the liquibase side... If they really really had to do that, there should at least be a configuration option to force the closing of the statement...

I can't say I like the hack, but on the other hand the current experience is kinda bad for users because the warning is scary...

I'm on the fence...

[2022-07-28 17:20] gsmet commented on #26995
Hum. This is extremely questionable to say the least. They should at least expose a way to close the statement when we're done. But yeah, even with that, that wouldn't be pretty.

Given how bad it is, I could live with the hack. But we need to make sure it's property tested so that we catch it if they change the code and that we get it to work in native.

[2022-07-28 17:22] gsmet commented on #26931
@i96751414 expect a fixed version next Wednesday.

[2022-07-28 17:22] Sanne commented on #26995
N.B. Agroal actually ensures the statements are closed, so this is only about the warning.

Yes that caching layer in Liquibase is questionable, as statements can be cached at other layers too, e.g. the JDBC driver.

+1 to have temporary hack like @famod 's. I only hope it will be cleaned up eventually :)

An alternative would beto hide the warning during Liquibase processing, as long as we can re

[2022-07-28 17:23] yyyakupyazici commented on #2491
log:
    file:
      enable: true
      level: INFO
      path: /Users/macbook/Desktop/data/apps-log/info.log
    handler:
      file:
        "EXPLOITATION":
          enable: true
          path: /Users/macbook/Desktop/data/apps-log/error.log
          format: "%d{yyyy-MM-dd HH:mm:ss,SSS,Z} | %-5p | ${HOSTNAME} |  [%c]  (%t) | %M | %s%e%n"
    category:
      "com.aefes.lib.util":
        level:

[2022-07-28 17:24] geoand commented on #26995
We can have logging filters, but they don't come and go - they stick around and would need to know the state of things in order to properly know when to discard the warning

[2022-07-28 17:24] famod commented on #26995
I don't like that hack either but I don't see another short-term remedy. Maybe some other idea pops up in that liquibase issue but I won't hold my breath.

If we add that hack we shouldn't be throwing exceptions like that, IMO. Log a warning at most.

[2022-07-28 17:26] Sanne commented on #26995
actually I just remembered one thing: Agroal doesn't log by itself but it delegates such warnings to our `AgroalDataSourceListener`. So this coul be patched to become mutable and disable warnings for some time.

Not great, but probably less fragile - especially for native-image.

[2022-07-28 17:30] Sanne commented on #26995
This is the method to be patched:
 - https://github.com/quarkusio/quarkus/blob/9d5f9cb7ac4962b0ea29480df460233c6a2dad38/extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalEventLoggingListener.java#L69-L71

[2022-07-28 17:37] gsmet commented on #26995
Question is: do we really want to keep a statement open?

[2022-07-28 17:56] Sanne commented on #26995
Agroal is closing them.

[2022-07-28 19:03] famod commented on #26995
Ah yes, that class looks familiar.

Hm, I can image something like `suppressNextWarningMatching("JDBC resources leaked: .* and 1 Statement")`, plus an explicit reset when the liquibase extension is done (so that it doesn't suppress anything unrelated).
Is run anything in parallel at this point (at startup)? I can see the warning is coming from the `main` thread.

[2022-07-28 20:17] clotton commented on #15193
Sure @dfa1.  Is it possible to disable any, non-standard field?  For example, we have a field "resource.apiVersion" in our logs and I'd like to remove it from log output.  Does something like this exist?

`quarkus.log.console.json.fields.myfield.enabled=false
`

[2022-07-28 21:03] jskillin-idt opened #27010 "@QuarkusTest in a simple java Gradle project fails: "No builders are available to build a model of type 'io.quarkus.bootstrap.model.ApplicationModel'.""
### Describe the bug

In a Gradle project, a "QuarkusTest" unit test will fail when it is run in a simple "java" or "java-library" project. This is unexpected because these tests work fine in a Maven project. This kind of test is super useful because this allows for fast development cycles at the library level, before waiting for all of these libraries to collaborate in an integration test at the

[2022-07-28 21:12] tanadeau opened #27011 "2.11.1: OpenAPI format broken for java.time.* types"
### Describe the bug

Going from 2.10.4 to 2.11.1 causes invalid OpenAPI YAML to be generated when using java.time.* types like `OffsetDateTime`

### Expected behavior

A query parameter with type `OffsetDateTime` should have an OpenAPI definition like below (as was the case for 2.10.x):

[code]

### Actual behavior

The schema changed to an invalid schema referencing an `OffsetDateTime` component

[2022-07-28 21:24] MikeEdgar commented on #27011
@tanadeau is this for all `java.time` types or just `OffsetDateTime`?

[2022-07-28 21:59] gsmet commented on #27010
Please provide a reproducer project.

[2022-07-28 22:07] jskillin-idt commented on #27010
See: https://github.com/jskillin-idt/quarkusio-quarkus-issues-27010
The latest commit on main reproduces the issue. The initial commit shows the working, default generated project per the guide so you can "diff" and see how step 3 in my reproduction steps affects the project to create the bug.

[2022-07-28 23:07] MikeEdgar commented on #27011
I haven't been able to reproduce this issue locally - the `OffsetDateTime` is set in `/components/schemas`. If you could provide a small reproducer project, I would appreciate it.

[2022-07-28 23:22] #25951 closed

[2022-07-28 23:28] tanadeau commented on #27011
I’ll try to get you that tomorrow. However, the type should be a date-time formatted string so there shouldn’t even be a reference to `OffsetDateTime` at all.

[2022-07-28 23:31] MikeEdgar commented on #27011
Thanks. For cases like this where an out-of-the-box type is used, the scanner includes additional `example` details and generates a reusable type.
[code]

[2022-07-29 00:27] JohnneSouza commented on #26136
This feature doesn't work on Native Mode (when comes to a value from an environment variable).

[2022-07-29 00:31] edeandrea commented on #26136
Which feature? The `quarkus.smallrye-openapi.servers` property or `mp.openapi.servers`?

[2022-07-29 01:25] ssetoredhat opened #29895 "Many of the links of guides/mutiny-primer is broken."
**Describe the bug**
Many of the links to Mutiny documentation are 404 not found.
like:
https://smallrye.io/smallrye-mutiny/pages/philosophy
https://smallrye.io/smallrye-mutiny/getting-started/transforming-items
https://smallrye.io/smallrye-mutiny/getting-started/transforming-items-async
https://smallrye.io/smallrye-mutiny/getting-started/handling-failures

**Which pages**
https://quarkus.io/guide

[2022-07-29 02:10] tanadeau commented on #27011
The OpenAPI YAML is correct. I'm seeing problems in our code generation due to the change, but that's for another project. Thanks for taking a look and the explanation. I apologize for the spurious bug report.

[2022-07-29 02:10] #27011 closed

[2022-07-29 04:44] seepine opened #27016 "Dockerfile.multistage not working , gradlew build -Dquarkus.package.type=native throw Exception"
### Describe the bug

## when use `quay.io/quarkus/ubi-quarkus-native-image:21.3-java11`
[code]

## when use `quay.io/quarkus/ubi-quarkus-native-image:22.0.0-java17`
[code]

### Expected behavior

build docker image success

### Actual behavior

can not build image

### How to Reproduce?

1. create new project with example code
2. add `Dockerfile.multistage` at `src/main/docker`
3. run `docker bui

[2022-07-29 05:13] geoand commented on #26999
Interesting, I did not know about that one.

[2022-07-29 05:28] geoand commented on #26999
Would you be willing to try out https://github.com/quarkusio/quarkus/pull/27019 and see if it fits your needs?

[2022-07-29 05:40] geoand commented on #27016
Thanks for reporting.

I am going to close this as it does not look like a Quarkus issue.

[2022-07-29 05:40] #27016 closed

[2022-07-29 05:54] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2758504479

[2022-07-29 06:03] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2758504479

[2022-07-29 06:08] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2758504479

[2022-07-29 06:16] geoand commented on #27003
Hm... I really know much of anything about XML, so we'll have to let @Sgitario comment on why the change above was made.

[2022-07-29 06:24] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2758481718

[2022-07-29 06:58] mustafacalik commented on #26853
I have tried with quarkus 2.7.5.Final and GraalVM 22.1.0 but no change. The problem continues to exist.

[2022-07-29 07:03] geoand commented on #27010
I'll let @aloubyansky and @glefloch decide, but in my opinion, this is not something we aim to support. In no place do we say that one can forgo the use of the Quarkus plugin the supported build tools

[2022-07-29 07:06] glefloch commented on #27010
Yes I agree with @geoand, we actually need the plugin test in ordre to detect which dependencies are declared, where are deployment modules, etc.

[2022-07-29 07:07] geoand commented on #27010
Thanks @glefloch for the input.

I am going to close this as `won't fix`

[2022-07-29 07:07] #27010 closed

[2022-07-29 07:13] mkouba commented on #26975
It's not about a "proper" parser. Those rules were intentional. OTH I agree that we should be more lenient in case of named params and [this PR](https://github.com/quarkusio/quarkus/pull/26993) should fix the problem.

[2022-07-29 07:21] evacchi commented on #12486
some build error in jbpm-flow @cristianonicolai @tiagodolphine @ricardozanini

also, @tarilabs heads up. @geoand has some class (DevMojo) moved recently?

[2022-07-29 07:53] kucharzyk commented on #26975
Great news. It was one of the biggest problems with Qute for me. Good job @mkouba

[2022-07-29 07:57] tarilabs commented on #12486
Do I have to do anything? Last improvement to track codestart new API was actually reverted on Kogito

[2022-07-29 07:57] TheBlindM opened #27021 "H2 is not available in native"
### Describe the bug

quarkus.datasource.jdbc.url=jdbc:h2:~/TShell/ShellDB2  not in memory mode

`2022-07-29 15:51:12,715 DEBUG [io.agr.pool] (agroal-11) Cause: : org.h2.jdbc.JdbcSQLNonTransientException: General error: "java.lang.UnsupportedOperationException: H2 database compiled into a native-image is only functional as a client: can't create an Embedded Database Session" [50000-210]
        at

[2022-07-29 07:59] evacchi commented on #12486
no, just wanted to let you know, it's likely a change on Quarkus side

[2022-07-29 08:13] nicolas-vivot commented on #26136
The documentation clearly refers to a specific Quarkus environment variable, so unless the documentation is wrong it should be runtime instead of build time, and this has nothing to do with JVM or Native modes.

[2022-07-29 08:43] Denistr opened #27022 "SmallRyeOpenApiProcessor#build threw an exception: java.lang.StackOverflowError"
### Describe the bug

At build step OpenApiDocument generation fails with stackoveflowerror.
[code]
Probably, there is incorrect configuration of OpenApi annotations at endpoints. But we do not have any filters there

### Expected behavior

Projects is built

### Actual behavior

Build is fails with stackoveflowerror

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Microso

[2022-07-29 08:54] gsmet commented on #27022
Please try to provide a reproducer.

[2022-07-29 08:56] renzodf opened #27023 "Caffeine configuration - Allow global default configuration"
### Description

Hello,

Currently, "By default, caches do not perform any type of eviction if not configured." and the configuration is done trough a set of configuration variables (quarkus.cache.caffeine."cache-name".*). This requires a configuration per cache, which can be extensive if the number of cache is high.

It would be nice to introduce default configuration keys to allow the configurat

[2022-07-29 09:02] geoand commented on #12486
Nope, it's still [there](https://github.com/quarkusio/quarkus/tree/main/independent-projects/extension-maven-plugin/src/main/java/io/quarkus/maven)

[2022-07-29 09:06] isarantidis commented on #27003
My impression is that package-info's need not be bound to the JaxbContext explicitly, but during building the context they are automatically scanned for annotations if they are in the same package as one of the classes to be bound.

[2022-07-29 09:08] geoand commented on #27003
Yeah, I agree, but my point is what the change was made explicitly for some reason which I am not privy to. So best to wait for @Sgitario

[2022-07-29 09:19] marcvanR commented on #26922
@sberyozkin Do you have any idea what is going wrong or how I could fix it?

[2022-07-29 09:26] geoand commented on #27022
Also, please try versions `2.10.4.Final` and / or `2.11.1.Final`

[2022-07-29 09:45] knuspertante commented on #26853
Are you sure, that you are using GraalVM 22.1.0? Could you pls try it again with ```--allow-incomplete-classpath``` as additional build arg?

[2022-07-29 09:47] Cs4r commented on #26999
It seems it's what we are looking for. However, I am finding trouble building a jar with the changes

[2022-07-29 09:48] geoand commented on #26999
See https://github.com/quarkusio/quarkus/pull/27019#issuecomment-1199083728 for instructions on how to test the Pull Request

[2022-07-29 10:13] galderz commented on #26853
@sberyozkin I've assigned the issue to you for now so that it's clear who's on it. Ping me if need a hand (@zakkak is away next few weeks).

[2022-07-29 10:17] knuspertante commented on #26853
@galderz I think this issue could be closed because @mustafacalik opened a new issue here https://github.com/quarkiverse/quarkus-tika/issues/51

This issue could be also related: https://github.com/quarkiverse/quarkus-tika/issues/36

[2022-07-29 10:29] lordofthejars opened #27024 "Kubernetes extension for Command line apps"
### Description

I'm developing a command line Quarkus application that I want to execute as a Kubernetes Job.

If I add the Kubernetes extension, it's not creating a Kubernetes Job but a Deployment. Also, if I try to configure the `kind` through `application.properties`, it says that only Deployment or StatefulSet is possible.

I think as a first step, it would be nice to be able to set the kind

[2022-07-29 10:39] geoand commented on #27024
I like the idea, should be doable

[2022-07-29 11:49] sberyozkin commented on #26853
Ok @knuspertante, thanks

[2022-07-29 11:49] #26853 closed

[2022-07-29 11:59] sberyozkin commented on #26853
Thanks @galderz - I'm finding it hard right now to find the time for dealing with Tika issues, so we are quite close on the Tika 2 update, will try Guillaume's suggestion once I'm back from PTO

[2022-07-29 12:06] cristianonicolai commented on #12486
tracking https://issues.redhat.com/browse/KOGITO-7677

[2022-07-29 12:47] FroMage commented on #22205
Huh, I also suspect that one of the reason you didn't add support for multipart in `BeanParam` is because it's an ASM generator, while you did it in gizmo ;)

[2022-07-29 12:50] geoand commented on #22205
Very likely

[2022-07-29 13:46] FroMage commented on #22205
Oh, I can't blame you. This is why I love ASM:

[code]

Translation: you're screwed, man, give up.

[2022-07-29 13:51] geoand commented on #22205
Yeah, I stay as far away from it as I can 😅

[2022-07-29 14:19] #26975 closed

[2022-07-29 14:29] knuspertante commented on #25526
@zakkak thanks for your work!

However would it be possible, that we only provide ```native-image --link-at-build-time=io.quarkus,io.quarkiverse,...``` or every extension provides its packages/classes instead of a global `--link-at-build-time`?

Then we do not need for every 3rd-Party lib a extension or substitution which uses optional dependencies.

[2022-07-29 14:58] jskillin-idt commented on #27010
Just to clarify, I've pushed an example Maven version of the same project to this branch in the example repo:
https://github.com/jskillin-idt/quarkusio-quarkus-issues-27010/tree/maven

Is this also considered an invalid configuration?

If you'd rather not have this discussion in GitHub Issues I have a topic where I initially brought this up in Zulip:
https://quarkusio.zulipchat.com/#narrow/stream/

[2022-07-29 16:08] aloubyansky commented on #27010
I think it's reasonable to consider supporting this use-case. @glefloch would you mind taking a look what is in the way here?

[2022-07-29 17:25] radcortez commented on #25151
@GregJohnStewart I'm having some issues reproducing the problem with the instrucitons you provided? Any chance you can write a smaller single module project from a quickstart that reproduces the issue? Thank you!

[2022-07-29 21:00] gsmet opened #27030 "Jakarta - EE 9 - Upgrade to Infinispan 14 DEV and use Jakarta artifacts"

[2022-07-30 11:56] twobiers commented on #21436
Yet another solution is the [Redpanda Console](https://github.com/redpanda-data/console) (Formerly known as Kowl) which I'm currently using.
But I agree it would be very cool to integrate this function in the Dev UI.

[2022-07-30 17:01] dfa1 commented on #15193
@clotton did you already disabled all built-in loggers? (see https://github.com/quarkusio/quarkus/issues/15193#issuecomment-1189516423)

[2022-07-31 09:21] RobDTech commented on #26250
+1

[2022-07-31 09:58] nvrs opened #27036 "GraphQL spurious authentication failures"
### Describe the bug

After upgrading from **2.9.2.Final**, requests to the GraphQL API for secured resources (queries / mutations) may spuriously fail with an "unauthorized" error-code.

I have created a [simple Quarkus GraphQL project](https://github.com/nvrs/quarkus-graphql-auth-issue) that uses the the https://quarkus.io/guides/microprofile-graphql as a base to exhibit / reproduce the issue. S

[2022-07-31 10:00] nvrs commented on #27036
This might be related to https://github.com/quarkusio/quarkus/issues/26748

[2022-07-31 11:36] gsmet commented on #27036
Yeah that's definitely related to it. @geoand we might need your brain on this one, looks like we have trouble fixing this issue.

[2022-07-31 11:38] phillip-kruger commented on #27036
I already discussed with @geoand on Friday he gave me a few idea to go and look for. I'll continue tomorrow on this.

[2022-07-31 13:46] geoand commented on #27036
I also just thought of something else : maybe somewhere in the code a future / promise return value is being ignored?

[2022-07-31 14:33] kyngs opened #27038 "MongoDB present when not needed"
### Describe the bug

I have the following Gradle configuration:
[code]

However, when I build with quarkusBuild, the result does contain some older version of the MongoDB java driver (Features from 4.7.0 are missing)

It appears, that the quarkus core bundles in its own version of the MongoDB java driver.

### Expected behavior

My dependency gets included in the final jar.

### Actual behavior

[2022-07-31 19:08] Spanjer1 opened #27039 "Start a WireMock Server in development mode"
### Description

Run Wiremock (https://wiremock.org/) together with your Quarkus application in development mode.
Separated from your application code and only build when a property is set.

While Wiremock can be easily started in a separate process, it is nice to have it together in one project with one startup command.

Interested in this extension, please +1 via the emoji/reaction feature of Gi

[2022-07-31 23:41] phillip-kruger commented on #27036
@geoand I'll check, why would that be an issue ?

[2022-08-01 00:22] geoand commented on #27036
Just thinking it could create a race

[2022-08-01 00:24] phillip-kruger commented on #27036
I pinged @stuartwdouglas , he is helping out. I am hopeful we will get this fixed soon.

[2022-08-01 02:03] fercomunello commented on #10987
@belu Exactly. Even after the build and publishToMavenLocal tasks of  Gradle been executed, Quarkus dev-mode don't hot reload this changes on the classpath, I tryed to debug "Thread.currentThread().getContextClassLoader()" and I found my Kotlin compiled class, but without the methods that I added before. This behaviour causes a runtime exception on Quarkus hot reload and the only way to solve is b

[2022-08-01 03:41] naah69 commented on #10279
i had the same problem. and i can't find any error in the pom.xml.

this is my git repo link. [quarkus-seata](https://github.com/naah69/quarkus_seata)

![image](https://user-images.githubusercontent.com/25682169/182066712-c3a05775-7de0-4c14-9177-a9e3f4d3a03e.png)

deployment pom.xml
[code]

runtime pom.xml
[code]

[2022-08-01 03:51] naah69 opened #27041 "missing dependencies on the Quarkus extension artifacts marked with '-'"
### Describe the bug

 i got the error when i run `mvn clean install`, but i can't find any error in the pom.xml.

![image](https://user-images.githubusercontent.com/25682169/182066712-c3a05775-7de0-4c14-9177-a9e3f4d3a03e.png)

deployment pom.xml
[code]

runtime pom.xml
[code]

### Expected behavior

mvn install success

### Actual behavior

run `mvn clean install`, it error.the below is mvn log.

[2022-08-01 05:54] geoand commented on #27038
I would say this is expected behavior as the Quarkus BOM dictates what the version of the MongoDB driver.

@glefloch do you agree?

[2022-08-01 05:58] naah69 commented on #27041
i had resloved it.
i had a replace command that `${project.groupId}` to `io.seata` ever.
i didn't  attention that the config in `quarkus-extension-maven-plugin` had been replace by mistake.
when i modify it to `${project.groupId}`,the error be fiexed
![image](https://user-images.githubusercontent.com/25682169/182081532-b8205dd1-5467-4c87-8600-8618db8faf64.png)

[2022-08-01 05:58] #27041 closed

[2022-08-01 06:04] glefloch commented on #27038
Right, the ˋenforcedPlatform` will override all dependency version. You could use a simple ˋplatform` dependency to the bom but we cannot guarantee everything will be compatible with quarkus.

[2022-08-01 06:06] #27038 closed

[2022-08-01 06:09] #26365 closed

[2022-08-01 06:12] geoand commented on #27039
Hi,

This does sounds interesting to me. Can you explain the workflow you envision a little more?

Thanks

[2022-08-01 06:49] naah69 opened #27045 "capability io.quarkus.rest is provided by"
### Describe the bug

when i use `mvn install` to build the extension. it notify me that the below log.but i just depend `resteasy-reactive` in my extension.

[code]

### Expected behavior

 build the extension success by `mvn install`

### Actual behavior

[code]

### How to Reproduce?

this is my repo link.[quarkus-seata](https://github.com/naah69/quarkus_seata)

### Output of `uname -a` or `ver

[2022-08-01 06:53] naah69 commented on #27045
it had resloved.

[2022-08-01 06:54] #27045 closed

[2022-08-01 07:28] mkouba opened #27047 "Support multiple AsyncObserverExceptionHandler implementations"
### Description

We could leverage the [@Inject @All List](https://quarkus.io/guides/cdi-reference#injecting-multiple-bean-instances-intuitively) functionality and take `AsyncObserverExceptionHandler` with highest priority.

### Implementation ideas

_No response_

[2022-08-01 08:13] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2772465790

[2022-08-01 08:21] Spanjer1 commented on #27039
We have an application that connects to multiple external services.
At startup we fetch all kind of keys from external sources and cached them for later usage.
We also run schedules to refresh those keys.

When we develop a new feature and we startup the application it does these http calls.
So then Wiremock just gives the right responses to continue the development process. We also use Wiremock t

[2022-08-01 08:44] geoand commented on #27039
Thanks for the explanation. I personally think it makes sense.

Which logs exactly are you referring to?

[2022-08-01 08:49] Spanjer1 commented on #27039
Wiremock also produces logs, while not much. Mostly when there is problems with the configuration.
When an url is not matched for example. This will then show up together with the Quarkus logging.

[2022-08-01 08:56] gwenneg opened #27050 "Remote servers that require a trailing slash can no longer be called with Quarkus 2.11"
### Describe the bug

As [discussed on Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/2.2E11.3A.20trailing.20slash.20in.20rest-client/near/291546201), Quarkus 2.11 introduces a change in `quarkus-rest-client-reactive`: trailing slashes are removed from REST paths. This makes it impossible to call a remote server that requires a trailing slash.

### Expected behavior

Trai

[2022-08-01 08:58] geoand commented on #27050
This broke in https://github.com/quarkusio/quarkus/pull/26101. I'll take care of it

[2022-08-01 09:00] geoand commented on #27039
That's what I thought, just wanted to make sure I understood correctly, thanks.

[2022-08-01 09:41] kyngs commented on #27038
Thanks for your help.

[2022-08-01 10:05] FroMage commented on #22205
First test passed, with the BeanParam generator! Turns out I forgot to `DUP` before an `IFNULL` (which pops) :)

[2022-08-01 10:09] geoand commented on #22205
🎉

[2022-08-01 11:34] mmusgrov commented on #26985
@gsmet I've tested the snapshot versions of the jakarta dependencies and they work fine.
The blockage now is fixing some unrelated WildFly/JDK 17 issues (WildFly recently moved over to jakarta native) and we don't have the ability to release individual components (I am looking into releasing a narayana alpha with reduced testing against the WildFly main branch).

[2022-08-01 12:05] GertjanHouwen opened #27057 "Avro class cannot be deserialized in multi module setup in tests annotated with @QuarkusTest"
### Describe the bug

Setup: A parent module has two child modules: A and B. In module A an avro schema is present and quarkus generates a class for that schema in /target/generated-sources. Module B is dependent on module A.

Problem: In module B, a test annotated with @QuarkusTest fails to deserialize that avro class and throws a class cast exception, even though the same test without the annota

[2022-08-01 12:11] mluypaert opened #27058 "OpenAPI UI displays incorrect values for overridden QueryParams using DefaultValue"
### Describe the bug

When overriding a method with defined `@Queryparam`'s and `@DefaultValue`'s, the swagger UI does not correctly display the newly assigned `DefaultValue`'s from the overridden method.

Say I have an interface with a defined `reindex` method:
[code]

and another interface that extends this base interface and overrides the `index` method:
[code]

The endpoint resulting from this

[2022-08-01 12:22] MikeEdgar commented on #27058
I'll look at this

[2022-08-01 12:39] Spanjer1 commented on #27039
I guess it could be created as a in-process dev service.

Something like the H2DevService.
https://github.com/quarkusio/quarkus/blob/main/extensions/devservices/h2/src/main/java/io/quarkus/devservices/h2/deployment/H2DevServicesProcessor.java

What do you think?

[2022-08-01 12:42] geoand commented on #27039
Yes, that's most likely the way to go.

[2022-08-01 13:05] Denistr commented on #27022
I have finally reproduces the issue - https://github.com/Denistr/quarkus-openapi-test
I have external API with like that https://github.com/Denistr/quarkus-openapi-test/blob/master/src/main/java/org/test/openapi/EntityRestApi.java#L12

It look like OpenApi is not able to process such kind of path with word "private"

P.S I have not tried 2.11.1.Final yet.

[2022-08-01 13:10] geoand commented on #27022
Thanks a lot for the reproducer, that should be quite helpful!

[2022-08-01 13:45] michalvavrik opened #27061 "Building thin JAR on Windows sometimes leads to file access race"
### Describe the bug

We use `QuarkusBootstrap.Builder` to build app artifact manually here https://github.com/quarkus-qe/quarkus-test-framework/blob/main/quarkus-test-core/src/main/java/io/quarkus/test/services/quarkus/ProdQuarkusApplicationManagedResourceBuilder.java#L149 and since `2022/06/29`, our daily CI sometimes fails with the following exception:

[code]

The first time failed on Jun 29 i

[2022-08-01 13:46] michalvavrik commented on #27061
cc @Sanne @aloubyansky

[2022-08-01 14:16] diogocarleto opened #27063 "Panache MongoDB doesn't support collation in count"
### Describe the bug

Panache MongoDB doesn't support `collation` for `count`.
Taking a look in the `io.quarkus.mongodb.panache.common.runtime.CommonPanacheQueryImpl` and `io.quarkus.mongodb.panache.common.reactive.runtime.CommonReactivePanacheQueryImpl` we can see the method `count` doesn't support `collation`.

Native queries and panache queries already support this, we can confirm in this [PR](

[2022-08-01 14:21] holly-cummins commented on #27039
This makes sense to me as well. In fact, it makes so much sense that I thought we already did it. :)

Do we know how typical running Wiremock as a standalone/separate server is (rather than using the [JUnit extension](https://wiremock.org/docs/junit-jupiter/) to auto-start and stop it, or starting and stopping it inline in the test code?

I feel like it's perhaps a minority case, and so I wonder i

[2022-08-01 14:26] gwenneg commented on #27050
Thanks for the quick fix!

[2022-08-01 14:27] geoand commented on #27039
@holly-cummins the main advantage I see with this proposal is that Wiremock would be available in dev-mode as well as test mode.

[2022-08-01 14:28] geoand commented on #27050
Thanks for reporting!

[2022-08-01 14:43] gsmet commented on #9726
I think this has been fixed a while ago. Please reopen with a reproducer if you encounter this issue.

[2022-08-01 14:43] #9726 closed

[2022-08-01 14:54] holly-cummins commented on #27039
Ahhh, got it, thank you! I sliced a bunch of starwberries into the compost bin this morning and put the stems on my cereal, and then I made coffee without putting any grounds into the machine. Clearly, it's one of those days.

Since tests would run in dev mode, I think my questions still make sense, with the caveat that if tests behaved differently in dev and test mode, that would be awful, so tha

[2022-08-01 15:18] gsmet opened #27064 "Jakarta - EE 9 - Native - Yasson MethodHandles issue"
Anything that uses Yasson ends up with:
[code]

The new version is using MethodHandles and apparently GraalVM doesn't like it at all. This is with GraalVM 22.2 Java 17.

This breaks:
- `integration-tests/mongodb-client` - `io.quarkus.it.mongodb.NativeVehicleResourceIT.testVehicleEndpoint`
- `integration-tests/main` - `RestClientITCase>RestClientTestCase.testIssue8795`

[2022-08-01 15:22] mazenkhalil commented on #2003
@gsmet Any update on this? Is there a quick-start example or specific recommendations for setting this up?

[2022-08-01 15:26] gsmet opened #27065 "Jakarta - EE 9 - Native - Quartz and JTA"
Quartz has a JTA layer and it relies on the `javax` classes.

Unfortunately the latest Quartz version dates from October 2019 so I wonder if it's still maintained.
There are a few commits that are more recent in the repository though.

I don't know if we are supporting this JTA setup in Quarkus.

[2022-08-01 15:39] gsmet opened #27066 "Jakarta - EE 9 - Native - Db2 driver depends on javax.transaction"
The Db2 JDBC driver depends on some `javax.transaction` classes that have been moved to the `jakarta` root package.
I don't know if they are shipping a Jakarta-compatible version somewhere.

[code]

[2022-08-01 15:41] gsmet commented on #27066
/cc @Sanne

[2022-08-01 15:57] rquinio commented on #11903
The cause appears to be that Quarkus Maven/Gradle plugins do not share the classloaders across sub-modules (different QuarkusClassLoader:Deployment Class Loader  and QuarkusClassLoader:Augmentation Class Loader ).

Jib uses a static ConcurrentHashMap to store the multi-threading locks, which assumes LockFile.class will be loaded only once across all sub-modules:
https://github.com/GoogleContainerT

[2022-08-01 19:03] Spanjer1 commented on #27039
I am glad that there is interest in this. I am interesting to lead the development of this extension or making the MVP.

As of the configuration options, what do you both think of:

//This can be optional, and use the port one as enabled/disabled
quarkus.wiremock.dev.enabled=true
quarkus.wiremock.test.enabled=true

//when it is the same it can be the same instance otherwise different instances.
qu

[2022-08-01 19:27] mkouba commented on #27065
I found this comment: ["2.4.0 should be released in the near future."](https://github.com/quartz-scheduler/quartz/issues/409#issuecomment-1058585439). However, the [2.4.0 milestone](https://github.com/quartz-scheduler/quartz/milestone/6?closed=1) does not seem to contain anything Jakarta-related.

I think that `quarkus.quartz.store-type=JDBC_TX` does rely on JTA...

[2022-08-01 20:35] marcantoine-beauvais-bruker commented on #20452
I have the same kind of issue when using quarkus-smallrye-openapi...

[2022-08-01 20:40] MarcAntoine-Beauvais commented on #20452
I have the same kind of issue when using quarkus-smallrye-openapi...

[2022-08-01 22:36] aloubyansky commented on #12486
That's my fault, sorry https://github.com/kiegroup/kogito-runtimes/pull/2377

[2022-08-01 23:10] anborg commented on #26915
[code]
Code reference for reproducing : https://github.com/quarkusio/quarkus/issues/26905

[2022-08-02 02:22] claudiney-silva opened #27073 "@QuarkusMain not executed with Lambda Function at AWS"
### Describe the bug

I am building a Lambda Function with Quarkus Funqy. I have a class annoted with @QuarkusMain to do statics initilization for Provisioned concurrency.

@QuarkusMain class is executed with `mvn quarkus:dev`, but is not executed when Lambda function is called or initilized.

My code looks like below:

[code]

With `mvn quarkus:dev` it runs properly
![intellij](https://user-image

[2022-08-02 04:48] geoand commented on #27039
:)

If we follow the same approach we have followed for other dev-services, this won't be a problem. Things will work seamlessly and in dev and test modes.

What do you have in mind here?

[2022-08-02 04:50] geoand commented on #27039
@Spanjer1 although we could likely do things like that, it's not exactly the patter we have followed for other dev-services.

More likely, things would look like:

[code]

[2022-08-02 05:24] geoand commented on #11903
Thanks a lot for the analysis @rquinio!

We could probably get around this by loading Jib "parentFirst" (which would result in Jib code being loaded from the System ClassLoader) but that could potentially cause other problems.

[2022-08-02 05:40] geoand commented on #26915
Can you please provide a sample bash script that clones and installs in the proper order? I tried the order you mention and things still don't work.

[2022-08-02 05:43] #27063 closed

[2022-08-02 05:55] geoand commented on #27061
cc @galderz @zakkak

[2022-08-02 06:05] geoand commented on #27061
I think it would be really helpful if we knew which other process is using the file - I personally have no idea how to find that information in Windows though...

[2022-08-02 06:27] dfa1 commented on #26526
yes, and I saw this exception 2 times so far... maybe it is linked to another issue we had (openshift was killing the POD because of random failures in liveness check).

Let's close this by now... and thank you for your feedback!

[2022-08-02 06:27] #26526 closed

[2022-08-02 06:29] geoand commented on #26526
If the NPE happens during shutdown, there is very little we can do. See https://github.com/quarkusio/quarkus/issues/17237#issuecomment-842758679 for more information on a very similar issue.

[2022-08-02 06:30] geoand commented on #17237
I think we can close this.

If the issue persists (and is not happening during shutdown), feel free to  comment or reopen

[2022-08-02 06:30] #17237 closed

[2022-08-02 06:40] nicolas-vivot opened #27075 "Mongodb connection string argument not passed when starting native integration tests"
### Describe the bug

I recently tried to upgrade from Quarkus 2.7.6 to 2.11.1 and found some issues when running integration tests for a native build with maven, using `mvn clean verify -Pnative`.

The issue is the mongodb driver not being able to connect to the server, timing out when some of the integration test try to access the database.

To be more specific, this is only happening when perfo

[2022-08-02 06:49] geoand commented on #27075
Would you be able to supply a reproducer project?

Thanks

[2022-08-02 07:21] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2779776584

[2022-08-02 08:01] nicolas-vivot commented on #27075
@geoand

Here you go:
https://github.com/nicolas-vivot/quarkus-27075-reproducer

Requirements & how to reproduce in the readme.

[2022-08-02 08:02] michalvavrik commented on #27061
I'll try to do that, but I'm not sure about ETA - it's not trivial (considering the issue itself is not easy to reproduce).

[2022-08-02 08:02] geoand commented on #27061
Completely understood.

[2022-08-02 08:57] faermanj opened #27080 "Images not served with quarkus-amazon-lambda-http"
### Describe the bug

When using quarkus-amazon-lambda-http, it seems that images are not served properly, even though http requests are successful.
To reproduce this issue, i copied the "multiverse" template from html5up.net to a simple quarkus app:
[multiverse test case](https://github.com/CaravanaCloud/aws-pod/tree/main/src/demo-multiverse)

After deploying to lambda on JVM, using the documente

[2022-08-02 09:57] Denistr opened #27081 "Constructor injection in JAX-RS Resource which extends the class causes a RuntimeException"
### Describe the bug

Constructor injection in an RX-Resource class, which extends another class raise an RuntimeException.

[code]
If I put @ApplicationScoped at my resource, then application starts successfully. This issue is not reproduced on 2.7.4.Final

### Expected behavior

Quarkus' applications is started successfully

### Actual behavior

On startup:
Caused by: java.lang.RuntimeException:

[2022-08-02 09:59] geoand commented on #27075
Thanks for the reproducer. https://github.com/quarkusio/quarkus/pull/27082 takes care of the issue

[2022-08-02 10:19] technical-debt-collector opened #27083 "RESTEasy Reactive - Server side multipart implementation is not being respected"
### Describe the bug

We have a multipart endpoint which accepts two parts handled as Strings such as this:

[code]

This is after we migrated to RESTEasy Reactive. With the exception of anotherTextPart being of type InputStream instead nothing has really changed since then, so essentially a multipart where we're not interested in working with the parts as files.

What we weren't aware of was that

[2022-08-02 10:22] geoand commented on #27083
This is correct - we explicitly mention that the multipart support has been designed from scratch.

[2022-08-02 10:35] #26953 closed

[2022-08-02 10:45] gsmet commented on #27036
@nvrs could you try the latest snapshots to make sure we fixed it?

See https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#using-snapshots for the instructions.

I'll release new versions once I get your feedback.

Thanks!

[2022-08-02 10:46] mkouba commented on #27081
CC @geoand

[2022-08-02 10:51] geoand commented on #27081
Isn't this a duplicate of https://github.com/quarkusio/quarkus/issues/27022?

[2022-08-02 10:53] geoand commented on #27022
@MikeEdgar @phillip-kruger can one of you take a look at this one?

[2022-08-02 10:59] yrodiere commented on #25607
I got no answer, so I'll assume this was fixed; please reopen this ticket and/or ping me if it wasn't.

[2022-08-02 10:59] #25607 closed

[2022-08-02 11:04] Denistr commented on #27081
No, it is separate issue which occurred at runtime.
I used the same git repo for this issue, but different resources

I will test it using RESTEasy Reactive very soon

[2022-08-02 11:05] rvansa opened #27085 "Regression with upgrade 2.9.2 -> 2.11.1 in app using GraalVM Javascript interpreter"
### Describe the bug

My application uses `org.graalvm.js:js` to interpret Javascript. With 2.9.2 this was working fine (I had to make sure I keep my dependencies on the same version with Quarkus), but with upgrade to 2.11.1 the tests are failing with
[code]
Looks like the `RegexLanguage` class is once loaded through AppClassLoader and another time through QuarkusClassLoader.

### Expected behavio

[2022-08-02 12:00] mkouba commented on #25995
@michalvavrik WDYT? ^

[2022-08-02 12:00] clotton commented on #15193
Yes we did @dfa1

[2022-08-02 12:24] #27075 closed

[2022-08-02 12:27] michalvavrik commented on #25995
definitely @mkouba , thanks for taking your time to write this down. I'm now finishing 2 other PRs, then I'll rewrite #26826 to use generic template extension.

[2022-08-02 12:29] mkouba commented on #25995
Yw, no rush at all ;-)

Looking forward to the updated version of this PR!

[2022-08-02 12:49] essobedo opened #27087 "Dependency predicates"
### Description

In Quarkus, we have the notion of conditional dependency allowing to activate or not an extension if one or more extensions are present which is good enough for many different use cases but not for more complex uses cases.
Indeed, in Camel Quarkus, we would like to be able to enable the JMX extension only in JVM mode and the Debug extension only in dev mode which is not supported

[2022-08-02 13:00] essobedo commented on #27087
A PR proposal https://github.com/quarkusio/quarkus/pull/27089

[2022-08-02 13:02] essobedo commented on #27087
@aloubyansky Hi, WDYT of this feature request and corresponding PR? Thx in advance 🙏

[2022-08-02 13:11] mkouba commented on #27021
I think that this is not supported at the moment, i.e. you can only connect to a remote H2 instance.

CC @gsmet

[2022-08-02 13:30] mkouba commented on #26889
Hm, this is weird because from the code it looks like the `getX()` method should simply take precedence... I'll take a look.

[2022-08-02 13:40] gsmet commented on #27085
See https://github.com/quarkusio/quarkus/pull/27090 .

[2022-08-02 13:43] #26999 closed

[2022-08-02 13:45] gsmet commented on #27021
Exactly. And I don't think we will support it anytime soon.

[2022-08-02 13:47] gsmet commented on #27021
You can use a Dev Service https://quarkus.io/guides/databases-dev-services or a test resource to start a H2 server for tests.

[2022-08-02 13:47] #27021 closed

[2022-08-02 14:02] Denistr commented on #27081
I have tested with RESTEasy Reactive. The issue is resolved
But what if I don't need reactive feature and I would like to use normal quarkus-resteasy lib?

[2022-08-02 14:07] mkouba commented on #26889
Ok, so the problem is something else. You actually register two beans for the `ProblemObject`. One is synthetic (and marked as a [default bean](https://github.com/Christopher-Chianelli/issue-reproducer/blob/quarkus-recorder-is-get-error/quarkus-issue-reproducer/deployment/src/main/java/io/quarkiverse/issue/reproducer/deployment/IssueReproducerProcessor.java#L35)) and the other one is registered as

[2022-08-02 14:08] mkouba commented on #26889
I'm going to close this issue. Feel free to comment/reopen if you have more questions ;-).

[2022-08-02 14:11] gsmet opened #27092 "Jakarta - EE 9 - microprofile-rest-client-tck 3.0 doesn't fully target Jakarta packages"
Not sure if it's a total miss or if some classes are OK but it looks like there are some problems, typically:
https://github.com/eclipse/microprofile-rest-client/blob/3.0/tck/src/main/java/org/eclipse/microprofile/rest/client/tck/ssl/HttpsServer.java#L21

[2022-08-02 14:11] geoand commented on #27081
RESTEasy Reactive is not only about reactive, you can do normal blocking code as well (see the various blog posts we have on the issue).

It's also the REST stack we are focusing moving forward.

[2022-08-02 14:12] #26889 closed

[2022-08-02 14:15] uPagge commented on #25110
Will there be a solution to this problem?
Perhaps there are some workarounds?

[2022-08-02 14:25] uPagge commented on #25110
Is there any plan to fix the original issue so that Panache can be used easily? Or is it basically impossible?

[2022-08-02 14:26] uPagge commented on #23804
Is there any plan to fix the original issue so that Panache can be used easily? Or is it basically impossible?

[2022-08-02 14:32] aloubyansky commented on #27087
@essobedo we have to be careful here. AFAIU, you want to enhance user experience at the end by enabling features (actually dependencies) depending on modes and environment. The issue is that it could quickly get overwhelmingly complicated for users and even us, as developers, to analyze how the final dependency tree got resolved. In addition, it will further deviate from the underlying build syste

[2022-08-02 14:40] aloubyansky commented on #10987
@belu @fercomunello your use-case is different than the original issue. Please create a new one to track yours, mention me and if you can attach/reference a reproducer that will help a lot to fix it faster. Thanks!

[2022-08-02 14:48] aloubyansky commented on #10279
I tried to build your repo @naah69 with `mvn clean package -DskipTests` and got a different error:
[code]
Which can be solved by
[code]

Have you already resolved your issue or am I missing something?

[2022-08-02 14:59] aloubyansky commented on #27061
@michalvavrik afaiu, it is saying the target path of `Files.copy(...)` is used by another process, although the previous line checked that the file did not exist?

[2022-08-02 15:11] essobedo commented on #27087
@aloubyansky thx for your quick answer.

I understand your point of view regarding the fact that it deviates from the underlying build system but as it is already more or less the case with the introduction of conditional dependency (which is an awesome idea BTW) I thought that it could still be interesting to go a little bit further to avoid being limited to what Gradle/Maven propose out of the b

[2022-08-02 15:28] dfa1 commented on #15193
@clotton then I would open a bug in https://github.com/quarkiverse/quarkus-logging-json

I don't remember this apiVersion being logged (but maybe I'm using an older version).

[2022-08-02 15:41] aloubyansky commented on #27087
I think it'd be reasonable to let users decide whether they want to enable `camel-debug` in their projects by letting them add it as a `provided` dependency. That way it will be enabled in dev and test modes.
Then you could consider using `BuildStep.onlyIf` to execute only the relevant steps and skip the rest depending on a condition (launch mode, property, presence of a capability or dependency).

[2022-08-02 16:16] FroMage commented on #22205
Oh FFS. This took hours to find:

[code]

Apparently when type is `String[]` the `name().toString('/')` returns `[Ljava.lang.String;` which is not using the damn separator I passed :(

[2022-08-02 16:27] michalvavrik commented on #27061
@aloubyansky right before it's checking whether `target` exists, but the way I read stack trace it says `visit.getPath()` is used by another process:
1. `Files.copy`-> `source` = `visit.getPath()`
2.  `CopyMoveHelper.copyToForeignTarget` (source is still source)
3.  line 125 tries to open IS from source `try (InputStream in = Files.newInputStream(source)) {`

[2022-08-02 16:30] essobedo commented on #27087
Regarding the conditional dependencies # 1 and # 2, I see more or less how it could be done using `BuildStep.onlyIf` but the main problem is the last one (`camel-quarkus-xml-io-dsl` should only be added if `camel-quarkus-xml-jaxb` is absent), in that case I don't see how it could be managed with `BuildStep.onlyIf`, or maybe I miss something?

[2022-08-02 16:37] aloubyansky commented on #27061
@michalvavrik just to clarify, it doesn't fail on every run?

[2022-08-02 16:39] michalvavrik commented on #27061
No, we run test suite that includes this every day and it fails every couple days, sometimes twice in a row, sometimes not for a week. And the same tests are running win/linux native/jvm, only win in native is failling.

[2022-08-02 16:42] FroMage commented on #22205
PFEW. OK, the version with message body readers also passes now. Just in time to go on PTO with working code, and later come back and do a PR.

[2022-08-02 16:58] clotton commented on #15193
Thanks @dfa1.  To clarify, we have fields somehow coming from kubernetes by the looks of it.  The fields like "resource.apiVersion" for example are not part of quarkus logging.   So they arent in the same family of logging fields like "thread name" or "process id" or "sequence" etc.

So I was just wondering if there is a way to turn off ANY field, not just the ones automatically generated by quark

[2022-08-02 17:35] geoand commented on #22205
Thanks for your perseverance!

[2022-08-02 18:16] GavinRay97 commented on #26999
Just out of curiosity -- when would you use this instead of `@BeforeEach`?
I didn't know this existed either

[2022-08-02 18:20] ppalaga commented on #26682
Thanks for the example code, @dilipdhankecha2530. You are using PDFBox directly. There is no Camel code in your app. And there is no way to do this with Camel either.
I can thus only help with a general advice to follow the hint mentioned in the error message:

[code]

You may want to add it via `application.properties`:

[code]

The output of native-image command should then tell you which class(

[2022-08-02 19:15] jcunliffe1 commented on #26724
hope you get better soon @geoand.

[2022-08-02 19:17] MikeEdgar commented on #27022
@Denistr - I've tried the reproducer project and I am not getting the stack overflow (I have enabled the `@Path("/api/private")` annotation). I did get a compile error stating `RESTEASY003190: Could not find constructor for class: org.test.openapi.NewRestApi`, but even working around that the application starts with `quarkus:dev` and `mvn package` works without issue.

Any other tips on how to rep

[2022-08-02 20:27] #26938 closed

[2022-08-02 20:53] carueda opened #27094 "GraphQL tests failing right after a `clean`"
### Describe the bug

Unexpectedly, under a small project using quarkus and graphql (reproducer below), the following fails to complete fine:

[code]

Of course, the tests themselves are well formed and expected to pass (via workaround, see below).

### Expected behavior

[code]

completes OK.

### Actual behavior

Probably some incomplete instrumentation, but in any case, something is preventing

[2022-08-02 21:18] carueda commented on #27094
I also note that `./mvnw clean test` completes OK.

[code]

[2022-08-02 22:20] gastaldi opened #27099 "Support `ignoreMigrationPatterns` config in Flyway"
### Description

As requested in https://github.com/quarkusio/quarkus/pull/27096#discussion_r936069360, Flyway supports configuring certain patterns to ignore migrations during validate and repair.
It would be nice to be able to specify that in the Flyway Config.

More info: https://flywaydb.org/documentation/configuration/parameters/ignoreMigrationPatterns

### Implementation ideas

Include a `qu

[2022-08-02 23:26] carueda commented on #27094
Apologies for the noise, closing this as invalid. My project was lacking the required `maven-compiler-plugin` (not sure how it came to be like that) and I got confused due to "everything"  seemingly working fine until I started adding graphql tests (even the subsequent workaround made me think something was actually amiss in quarkus).

[2022-08-02 23:26] #27094 closed

[2022-08-03 00:28] radcortez commented on #24395
There is an issue with blocking services where the context is not propagated, fixed by #27100.

For client spans, if you create the client manually, interceptors are not automatically added. You should inject the client managed by Quarkus:

[code]

[2022-08-03 01:19] nicolas-vivot commented on #27075
@geoand By the way, will that fix be backported into a 2.11.2 ?

[2022-08-03 01:31] #25824 closed

[2022-08-03 03:44] geoand commented on #27075
That's the plan

[2022-08-03 04:46] geoand commented on #27099
Seems reasonable to me.

[2022-08-03 04:48] geoand commented on #26724
Thanks!

@sberyozkin mind opening a draft PR with your prototype so we can work from there?

[2022-08-03 06:02] aloubyansky commented on #27087
No, that can't be done from build steps. Unfortunately, there is no convenient way of doing that. Even your proposal doesn't help here. What you could explore is a possibility of extracting the code that you want to be executed by default (from the 'camel-quarkus-xml-io-dsl`) to some artifact and make `camel-debug` and `camel-quarkus-xml-io-dsl` depend on that. However, in `camel-debug-deployment`

[2022-08-03 07:02] #22915 closed

[2022-08-03 07:16] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2787064433

[2022-08-03 07:35] vadim-hleif commented on #26733
what do you mean?

<img width="1298" alt="image" src="https://user-images.githubusercontent.com/11632146/182550432-fe97dfc0-1cb0-4696-953a-1de7a06c33d8.png">

Ok, if example with two empty classes and only Quarkus dependencies is "bad case" for you, I will try to find out Quarkus bug on my own.

[2022-08-03 07:41] geoand commented on #26733
My point is that the super simple Kotlin example I added above fails without running a Quarkus test, just a plain junit test

[2022-08-03 07:41] gsmet commented on #27099
@tmihalac might be a good one for you.

[2022-08-03 07:44] vadim-hleif commented on #26733
It doesn't fail, I send a screenshoot. Also I've pushed example without using Quarkus CDI in the same file, it works.
Did you use master branch?

[2022-08-03 07:48] vadim-hleif commented on #26733
But making all classes as open resolves this issue, sorry, you are right.

[2022-08-03 07:53] essobedo commented on #27087
Why do you believe that my proposal doesn't help here? With my proposal, the condition would be something like `!camel-quarkus-xml-jaxb,dev` on `camel-quarkus-xml-io-dsl`

[2022-08-03 07:56] Denistr commented on #27022
I have just checkouted repo and peformed `mvn package`. Issue is reproduced.  What the logs might help in order to reproduce the issue?

[2022-08-03 07:59] #25591 closed

[2022-08-03 08:03] Chexpir commented on #27011
@tanadeau I was upgrading myself, and have encountered the same issue with OffsetDateTime. I believe there is a real issue there.
[code]

[2022-08-03 08:18] jcunliffe1 commented on #26875
I'm sorry for all the confusion. Basically out gitlab pipeline ignored xmx settings, and I had to

[code]

to the jobs variables to make maven accept my MAVEN_OPTS with the xmx settings.

After this, the job was passing again. Previously it always ended up with the OOM during Jandex Indexing - but probably only, because this took a large junk of memory and thus was likely to be hit by the OOM.

I'

[2022-08-03 08:18] #26875 closed

[2022-08-03 08:19] mkouba commented on #23739
Hm, I think that [`@Scheduled` non-blocking methods](https://quarkus.io/guides/scheduler-reference#non-blocking-methods) should work just fine. It was fixed in https://github.com/quarkusio/quarkus/pull/25260 for 2.9.0.Final. What kind of error do you have in mind?

[2022-08-03 08:22] HknLof commented on #23335
Having a similar request. The use case is ... that some features need to be packaged into a different container, but in development it would be great to have `quarkusDev` working with all `sourceSets`.

This is what I've got so far. But do not know how to integrate the `sourceSet` into `quarkusDev`. Does `quarkus-gradle-plugin` expose any interface to add these sources to the `compileClasspath`?

[2022-08-03 08:29] vadim-hleif commented on #26733
Could you help with one more question? It still looks like there is an issue with Quarkus.

The problem with example above is final kotlin classes, as I said if I mark classes/method with I going to mock as open everything work, but in some cases I can't do it - e.g. when I want to use in CDI third-party class which is final and create it via `@Produces` API.

Mockito suggest using this [option](h

[2022-08-03 08:32] aloubyansky commented on #27087
Activating dependencies based on absence of other dependencies will lead to a confusion in some cases. Because when we activate a certain dependency based on absence of another dependency the dependency we activated may bring in some dependencies transitively that could satisfy conditions for other dependencies that would make the condition that enabled the first dependency we enabled invalid.
Ano

[2022-08-03 08:34] essobedo commented on #27087
I see, let's close it then, thanks for the quick feedbacks

[2022-08-03 08:34] #27087 closed

[2022-08-03 08:35] pjgg opened #27101 "Native + Oracle JDBC + Quarkus NativeImageBuildStep fails"
### Describe the bug

Quarkus Upstream
Extension: `quarkus-jdbc-oracle / quarkus-reactive-oracle-client`

Error:

[code]

Stacktrace:

[code]
Workaround:
You could add the following native arguments to your application properties:
[code]

### Expected behavior

Build succeed without any extra arguments

### Actual behavior

BUILD FAILURE

### How to Reproduce?

Reproducer:

[code]

[code]

### Out

[2022-08-03 08:51] #27085 closed

[2022-08-03 08:53] geoand opened #27102 "Add metrics for Reactive REST Client"
### Description

The Reactive REST Client is what we promote to users for making downstream HTTP calls.
Currently there is no micrometer metrics integration for this, but it would be awesome to have metrics for each named client so users can easily identify issues with each service separately.

### Implementation ideas

At a very high level, we'll need to plug in a proper implementation of `HttpCl

[2022-08-03 08:54] geoand commented on #27102
If we agree on this, I can start something towards the end of August (when coming back from PTO) that we can then iterate on.

[2022-08-03 09:27] DavideD commented on #23739
After 3 queries you will see the same error you see for this issue because the session doesn't get closed.

[2022-08-03 09:31] mkouba commented on #23739
Ok. Do we have a reproducer I can look at? I'm kind of lost in the comments of this issue.

[2022-08-03 09:40] DavideD commented on #23739
You can see the error in the quickstart for `hibernate-reactive-panache-quickstart` on this branch: https://github.com/DavideD/quarkus-quickstarts/tree/scheduler

[2022-08-03 09:45] masini commented on #27003
That piace of code search for @XmlSchema annotation, that can be used only in package-info, so I think this was done for a reason and not incidentally.

[2022-08-03 09:47] geoand commented on #27003
Yeah, that's my problem. I don't know why it was done unfortunately :(

[2022-08-03 09:59] gsmet commented on #27064
@galderz so here is how to reproduce the issue:

- build the `jakarta-rewrite` branch, see instructions here: https://github.com/quarkusio/quarkus/tree/main/jakarta#build-locally (just this small paragraph, nothing else is needed)
- `cd integration-tests/mongodb-client`
- `mvn clean install -Dnative`
- `io.quarkus.it.mongodb.NativeVehicleResourceIT.testVehicleEndpoint` should fail with an error in

[2022-08-03 10:17] Cs4r commented on #26999
@GavinRay97:

In the company I work for we have a library on top of JUnit 5 to create more readable tests. In our library we have three annotations for methods: `@Given`, `@When` and `@Then` and here is an example of how we use them:

[code]

[2022-08-03 11:17] MikeEdgar commented on #27011
@Chexpir what is the Java code for `aPropertyName` ?

[2022-08-03 11:24] kjeldpaw opened #27107 "smallrye-opentracing issue with reactive endpoints"
### Describe the bug

Hi, I have an issue using the quarkus-smallrye-opentracing extension together with quarkus-resteasy-reactive. When I have an endpoint returning 204 (no content) the span is not finished. When I look in the source for the quarkus-smallrye-opentracing extension I have only found that spans are finished in io.smallrye.opentracing.contrib.jaxrs2.serialization.TracingInterceptor w

[2022-08-03 11:54] geoand commented on #26733
In order to be convinced that there is a Quarkus issue I'll need to see a very similar test that works as plain JUnit test and does not work when using `@QuarkusTest`.

At this point with all the things you mention I don't know what you expect me to test. So for me to look at this any more, I'll need to see (in your project) what I mentioned above.

[2022-08-03 11:55] mkouba commented on #23739
This PR should fix the problem: https://github.com/quarkusio/quarkus/pull/27108

[2022-08-03 12:12] MikeEdgar commented on #27022
What version does your build pick up for these?
[code]
Also, if the full stack trace has details outside of `FilterUtil` earlier in the trace, that may help track it.

[2022-08-03 12:18] jtama commented on #9916
Is it possible to help on this ?

For reference [Log and Event Record Definition](https://github.com/quarkusio/quarkus/projects/20)

[2022-08-03 12:42] dfa1 commented on #15193
@clotton in our infrastructure we have something similar built in openshift but we (devs) can't really control what is being added. So, I fear that there is nothing you can do in your quarkus application. Unless, of course, I'm missing something :-)

[2022-08-03 12:43] artkonr opened #27110 "Complete headers override for OpenTelemetry"
### Description

**As a user** I may occasionally want to use `quarkus.opentelemetry.tracer.exporter.otlp.headers` to not only _add_ headers, but also to _override_ the existing ones set by the upstream.

For example, this will have no effect:

[code]

because the `Content-Type` header is (probably) set in the downstream by the lower-level GRPC handlers.

It would be great to have this property ha

[2022-08-03 12:47] geoand commented on #27110
Although I understand the reasoning for this, I personally think this it is conceptually wrong to have OpenTelemetry have the last say in what HTTP headers are going to be sent.

[2022-08-03 13:24] radcortez commented on #27110
These headers are not related to gRPC user code, but with the OTLP, the OpenTelemetry Protocol used to export span data: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md.

@artkonr Are you sure this is what you are looking for?

[2022-08-03 13:27] apupier opened #27111 "Upgrade from Codehaus Groovy 3.x to Apache Groovy 4.x"
### Description

Groovy 4.0.0 has been released at the beginning of 2022. it might be nice to move to the latest version.

There is a long list of features and bug fixes http://groovy-lang.org/changelogs/changelog-4.0.0.html

Based on https://groovy.apache.org/versioning.html 3.x will have one or two bugfixes release (in fact already 3 happened). So good chances that there will be only security re

[2022-08-03 13:29] radcortez commented on #27107
OpenTracing is mostly abandoned. We even had to copy that code to SmallRye OpenTracing from OpenTracing to be able to migrate it to Jakarta, because no one is maintaining the original repos anymore.

It is unlikely that we will focus any effort in OpenTracing. We do accept PR's.

Our recommendation is to move and use OpenTelemetry.

[2022-08-03 13:32] artkonr commented on #27110
@geoand @radcortez I guess you're right;

probably, best if I describe my scenario: I have a presumably OT-compliant ingestion service, but it looks like it does not support content type `application/grpc`, no idea why. I wanted to try and set the content type it supports, but I'm not sure if there's a way to wire it in.

maybe you could point me to an example, which does that? if not, will quarku

[2022-08-03 13:41] Denistr commented on #27022
org.openapitools:openapi-generator-maven-plugin:6.0.1
org.codehaus.mojo:build-helper-maven-plugin:3.3.0

[2022-08-03 13:47] gsmet commented on #27111
We haven't upgraded REST Assured and thus Groovy because of https://issues.apache.org/jira/browse/GROOVY-10307 .

See https://github.com/quarkusio/quarkus/pull/24569 when .

But is Quarkus enforcing the Groovy version somewhere? I don't see it in our BOM.

[2022-08-03 14:01] naah69 commented on #10279
yes， i had resloved it.the reson of error is the below:
![image](https://user-images.githubusercontent.com/25682169/182627532-9e967f0d-27a4-4621-8192-688ceffd2e73.png)

[2022-08-03 14:06] Chexpir commented on #27011
thanks @MikeEdgar for looking into it:
[code]

[2022-08-03 15:04] InfoSec812 commented on #25682
I'm seeing this as well on both a Debian machine and a Fedora 36 machine (podman 4.1.0 and 4.1.1 respectively)...

[code]

It just hangs at this point.

Installing and using docker works

[2022-08-03 15:51] radcortez commented on #27110
Right now, we only support gRPC. We have an issue to add http support as well, but we have been focusing on other things: https://github.com/quarkusio/quarkus/issues/21535.

I believe that changing the content-type is not going to help, because we expressly set the exporter to the gRPC one: https://github.com/quarkusio/quarkus/blob/c378629526bfe019d9522f5caed0129faee0c87c/extensions/opentelemetry/

[2022-08-03 17:16] DavideD commented on #25110
For reference, the time out issue with Panache is because the [ReactiveSessionProducer dispose method](https://github.com/quarkusio/quarkus/blob/505770c3c3b89507f2f97ef9a5e0b32f029e3239/extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/ReactiveSessionProducer.java#L27) doesn't get called at the right time and connection never released.

I haven't run the tes

[2022-08-03 18:24] ebullient commented on #27102
Yes. There are solid patterns to follow here. Shouldn't be difficult.

[2022-08-03 20:08] MikeEdgar commented on #27011
@Chexpir , the output matches what I would expect to see. I guess the question is why does oas-diff flag it as an incompatible change? This message seems like a bug in that tool: `Changed property type: aPropertyName (string -> string)`

[2022-08-03 20:31] MikeEdgar commented on #27022
I forked your sample repo and set up both a Windows and Linux `mvn package` action [1] and both are working [2]. The JDK build you mentioned seems somewhat old. Is there any chance you could try with a newer JDK?

[1] https://github.com/MikeEdgar/quarkus-openapi-test/blob/master/.github/workflows/build.yml
[2] https://github.com/MikeEdgar/quarkus-openapi-test/actions/runs/2792224870

[2022-08-03 23:14] jie-huang opened #27122 "io.quarkus.oidc.OidcSession uses Instant to present duration"
### Describe the bug

In, io.quarkus.oidc.OidcSession (https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcSession.java),
it uses Instant to present duration.

[code]

Based on [Javadoc](https://docs.oracle.com/javase/8/docs/api/java/time/Instant.html), it is an instantaneous point on the time-line. But the comment says "how long", it should be

[2022-08-04 00:18] JohnneSouza commented on #26148
As always, I'm really forgetting things... but I couldn't help to notice that MongoDB by default will create a new document with the "_id" and I'm think if it wouldn't be a little counter intuitive querying with "id" instead of "_id";
Another thing is:
If you guys think that is OK to change from _id to id,
Not sure that only changing [here](https://github.com/quarkusio/quarkus/blob/main/extensions

[2022-08-04 00:26] JohnneSouza commented on #26136
@nicolas-vivot Yeah, that's what I meant, sorry for the lack of details.

[2022-08-04 05:14] geoand commented on #27102
It's probably a little more complicated than the server metrics handling because we need to incorporate information for each specific named rest client, but it's almost certainly doable.

[2022-08-04 05:55] geoand commented on #27101
@pjgg could you try https://github.com/quarkusio/quarkus/pull/27124 please?

Asking because I was not able to reproduce the original issue

[2022-08-04 05:57] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2794327853

[2022-08-04 06:01] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2794327853

[2022-08-04 06:19] kjeldpaw commented on #27107
We have decided to move to OpenTelemetry due to the situation with OpenTracing

[2022-08-04 06:19] #27107 closed

[2022-08-04 06:48] DGuhr commented on #26937
@jamezp sorry for reaching out back late, I had a few other things on my plate. Chiming through your board, I haven't found an issue yet, so created https://issues.redhat.com/browse/RESTEASY-3175 - feel free to modify/close if there is already another one.

A newer data point: Seems really not go-related but more general, see e.g. https://github.com/keycloak/keycloak/issues/13315#issuecomment-1203

[2022-08-04 06:57] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2794303248

[2022-08-04 07:02] DGuhr commented on #26878
@geoand @sberyozkin any new information on this one? sorry to push, but would be great to have something for the next LTS version that should come out somewhere end of month / start next month if I remember correctly (pls correct me if wrong)

[2022-08-04 07:04] geoand commented on #26878
I personally don't have much of an idea about this and I think @sberyozkin is on PTO.

[2022-08-04 07:06] DGuhr commented on #26878
Thanks for the info, and np :)

[2022-08-04 07:13] maxandersen opened #27126 "Add a security vulnerabilities page on quarkus website"
### Discussed in https://github.com/quarkusio/quarkus/discussions/27026

<div type='discussions-op-text'>

<sup>Originally posted by **farnulfo** July 29, 2022</sup>
Hi,
On quarkus blog we can see release with security fixes like https://quarkus.io/blog/quarkus-2-10-3-final-released/ .
But I missed a permanent security section with quarkus releases about security.
Apache tomcat security vulnerabil

[2022-08-04 07:47] yuxblank opened #27127 "GraphQL random CDI context issues when using RestClients with @Source"
### Describe the bug

With version 2.10.x when using @Source and multiple RestClients there is a problem when accessing @RequestScoped elements like RoutingContext.

The issue is random and does not always break, so for that i have made a reproducer project with an integration test that you can check out.
https://github.com/yuxblank/quarkus-requestscope-bug

The error it's sometime different (mayb

[2022-08-04 07:53] artkonr commented on #27110
very well @radcortez , thanks for the help 👍  I guess I'll close this ticket then

[2022-08-04 07:53] #27110 closed

[2022-08-04 08:10] mkouba commented on #27127
I wonder if this could be related to https://github.com/quarkusio/quarkus/pull/27040?

[2022-08-04 08:17] mmusgrov opened #27128 "Upgrade narayana dependencies to version 5.13.1.Alpha1"
This is a standard narayana version upgrade.

The reason for an alpha is that we tested on WildFly 27.0.0.Alpha1 (the pre "big-bang" WildFly change) but this should not effect quarkus.

[2022-08-04 08:17] phillip-kruger commented on #27127
I'll test it against that fix (main branch), else I'll debug to find the issue. Thanks

[2022-08-04 08:51] mkouba commented on #27127
So I tried to run the reproducer with the current quarkus main and it fails.

However, I'm wondering if it's a good idea to inject the `RoutingContext` in the `JWTAwareContext` which is used in the `ClientInterceptor`. I mean, in this particular case you call the rest client from a `@Source` method and I'm not sure that it's guaranteed that this method is called within the current request context.

[2022-08-04 09:12] yuxblank commented on #27127
Not sure if it's the best way to do it, at least with Graphql.

What i need its to have access of the current request data for getting data from headers and other stuff (like the jwt token) that i use for routing all the clients to their correct destination.

They are all bound to a single HTTP request (server) so i expect there's something that allow me to share the data across a single one.

Sin

[2022-08-04 09:23] mkouba commented on #22962
I'm going to close this one as mentioned few months ago. Feel free to reopen if you have more info/questions.

[2022-08-04 09:23] #22962 closed

[2022-08-04 09:28] mkouba commented on #20583
Resolved by https://github.com/quarkusio/quarkus/pull/25810.

[2022-08-04 09:28] #20583 closed

[2022-08-04 09:52] geoand commented on #27122
I agree, this does not look correct.

However `OidcSession` is part of the public API, so we can just change it. We likely need to introduce a new method and deprecate the existing one.

[2022-08-04 12:41] mkouba commented on #25236
@raguser is it still a problem with the latest version of quarkus?

[2022-08-04 12:47] mkouba commented on #25301
I'm going to close this one because there was no demand for this feature and some of the use cases might be problematic.

[2022-08-04 12:47] #25301 closed

[2022-08-04 13:29] technical-debt-collector commented on #27083
But is this something you'd consider fixing? I think it's really unfortunate that an optional header value can ruin a completely valid request.
For the time being we've had to revert back to RE classic.

[2022-08-04 13:40] geoand commented on #27083
Your issue is that you would like things that have a filename to not be considered a file?

If so, I'm pretty sure we've discussed it before (I need to find the issue) and rejected it, but I'd be open to hearing why it's so important

[2022-08-04 13:49] HknLof commented on #23335
Out of curiosity, what would be the best practice to add an endpoint conditionally and from a seperate jar / quarkus project?

[2022-08-04 13:54] aloubyansky commented on #23335
@HknLof please use a dedicated channel to ask these kind of questions ([github ](https://github.com/quarkusio/quarkus/discussions) or zulip). You are commenting on an issue report that is not related to your question.

[2022-08-04 14:54] #26835 closed

[2022-08-04 15:44] djnalluri opened #27138 "Allow OIDC to validate custom claims in the access token"
### Description

In the OIDC extension, the two main claims that can be customized to verify access tokens are issuer and audience. This is fine for a lot of use cases however it gets trickier in a multi-tenant scenario where multiple organizations are mixed into the same user pool. The issuer and audience remain the same, however, providers like Auth0 insert an extra claim named `org_id` to repre

[2022-08-04 16:14] paolopiccinini opened #27139 "RESTEASY002120: ClassNotFoundException: Unable to load builtin provider"
### Describe the bug

Hi, when running a main in native mode calling a rest service I get a lot of exception `ClassNotFoundException`:

[code]
The application works fine. Maybe am I missing some dependency?

I've mede an example project [here](https://github.com/paolopiccinini/quarkus-classnotfound)

Regards

### Expected behavior

No ClassNotFoundException thrown

### Actual behavior

ClassNotFou

[2022-08-04 19:27] spieps commented on #14682
Hi, just wanted to confirm this is still an issue. Here is my solution for Reactive Panache + Liquibase. This will allow for databasechangelog and databasechangeloglock tables to be created in a separate schema as well.

[code]

application.properties:

[code]

pom.xml:

[code]

[2022-08-05 00:06] summit-pgoncalves commented on #21217
Getting the same exception here running in native mode, any new on this issue ? Using **2.10.1.Final** with **gradle 7.4.2**.

[2022-08-05 00:08] philippegoncalves commented on #21217
Getting the same exception here running in native mode, any new on this issue ? Using **2.10.1.Final** with **gradle 7.4.2**.

[2022-08-05 04:04] phillip-kruger commented on #26749
Any feedback ? Or can we close ?

[2022-08-05 04:10] phillip-kruger commented on #27022
@Denistr I could not recreate your issue, but I have changed your example app to rather use the quarkiverse plugin. See https://github.com/quarkiverse/quarkus-openapi-generator

I created a PR on your reproducer. See if this works for you. I think it's better, now you do not need to pull in swagger annotations, you now have a valid quarkus (generated) endpoint.

See https://github.com/Denistr/quar

[2022-08-05 04:11] #27127 closed

[2022-08-05 05:01] TheBlindM opened #27148 "The exception reported after using the @Valid annotation does not enter the global exception handling"
### Describe the bug

The exception reported after using the @Valid annotation does not enter the global exception handling

[code]

actual response

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

Java version info: '17.0.4+11-LTS-jvmci-22.2-b05'

[2022-08-05 05:35] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2801414814

[2022-08-05 05:47] geoand commented on #27148
Are you using RESTEasy Classic or RESTEasy Reactive?

It would be great if you attached a sample application that exhibits the problematic behavior you mention in the ticket.

[2022-08-05 05:58] geoand commented on #27148
I get you are not using Reactive capabilities, but what JAX-RS stack are you using, `quarkus-resteasy` or `quarkus-resteasy-reactive`?

In any case, see my comment above about providing a sample project. Otherwise we'll be shooting in the dark.

[2022-08-05 06:08] herasimau commented on #23997
Hi, any update on this issue ? SSE Server Reactive
 `SseBroadcaster.onClose is never called.`

[2022-08-05 06:19] sekharpn commented on #11035
any update on this? Need help .

This is outside spring.

connecting to remote db2

implementation(platform("io.vertx:vertx-stack-depchain:4:3.1"))
implementation "io.vertx:vertx-db2-client"

implementation "io.vertx:vertx-rx-java3"
ERROR [vert.x-eventloop-thread-2] ?: FATAL: Error parsing buffer at index 828 / 0x33c

java.lang.IllegalStateException: SQLState.NET_VCM_VCS_LENGTHS_INVALID: VCM and V

[2022-08-05 06:54] geoand commented on #27148
What you are seeing is correct JAX-RS behavior because Quarkus provides `io.quarkus.hibernate.validator.runtime.jaxrs.ResteasyViolationExceptionMapper` which handles the exception.

If you want to handle the `ValidationException` yourself, you need to change `ErrHandle` to handle `ValidationException` instead of `Exception`

[2022-08-05 06:54] #27148 closed

[2022-08-05 06:56] forsti0506 opened #27151 "InterceptorBindingRegistrarBuildItem not registering Annotation for RestClient"
### Describe the bug

Hello,

if I register a Annotation in the BuildStep with an "InterceptorBindingRegistrarBuildItem" this added Annotation is not working if I annotate a RestClient method with the same one. For example:

`javax.Cache.annotation.CacheResult`

Is this a bug

### Expected behavior

All registerted Annotations in the InterceptorBindingRegistrarBuildItem are working in every contex

[2022-08-05 07:04] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2801414814

[2022-08-05 07:22] Kino1994 commented on #7360
¿Any news about this @gsmet ?

[2022-08-05 07:32] gsmet commented on #27036
The issue is still not entirely fixed. If you're exposing GraphQL services, stay with 2.9.x for now. We will follow up once we are positive the issue is entirely fixed.

[2022-08-05 07:35] zhonghuali opened #27154 "@Path mapping path doesn't work as expecting"
### Describe the bug

the resteasy reactive @Path mapping have confused behaivours in my cases.

please see the reproduced steps

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Steps:
1. git clone https://github.com/quarkusio/quarkus-quickstarts.git with latest version
2. cd quarkus-quickstarts\getting-started-reactive
3. changed the file src\main\

[2022-08-05 07:42] mkouba commented on #8755
[Type-safe templates](https://quarkus.io/guides/qute-reference#typesafe_templates) can only contain type-safe/validated expressions by default (unless `@CheckedTemplate(requireTypeSafeExpressions = false)`  is used).

[2022-08-05 07:42] #8755 closed

[2022-08-05 07:43] geoand commented on #27151
Given the complexity of what you are describing, the best way for us to determine what is going on is for this issue to amended to include a sample extension + application.

[2022-08-05 07:43] mkouba commented on #22116
Resolved by https://github.com/quarkusio/quarkus/pull/24839 ([2.10.0.CR1](https://github.com/quarkusio/quarkus/milestone/183)).

[2022-08-05 07:43] #22116 closed

[2022-08-05 07:47] HerrDerb opened #27155 "Jacoco coverage across jUnit and @QuarkusTest not working"
### Describe the bug

Wen having plain jUnit tests and @QuarkusTests side by side, the jacoco coverage is missing the coverage from the jUnit test. This behaviour still exists after applying the configuration suggested by quarkus: https://quarkus.io/guides/tests-with-coverage#coverage-for-tests-not-using-quarkustest

### Expected behavior

The jacoco coverage report should respect the jUnit test a

[2022-08-05 08:42] geoand commented on #27102
I have been talking with @ebullient about this. It seems like a lot of the functionality is already there, we just need to see if it makes sense to break things down further

[2022-08-05 08:47] mkouba commented on #27151
Georgios is right, we'll need a simple reproducer. Also what kind of rest client do you use?

BTW the usage of CDI interceptors on interfaces is somewhat non-standard, from the CDI spec POV (although the MicroProfile spec explicitly requires it to work).

[2022-08-05 09:00] geoand commented on #27139
In your sample, why is `quarkus-resteasy-jackson` a `test` dependency?

[2022-08-05 09:25] technical-debt-collector commented on #27083
My issue is that I'm creating a resource method in which I **don't want** to handle the data as files. If I'm not mistaken, this is exactly what happens now, and it's all up to the client to decide.

The server **shouldn't have to** store it as a file unless the request method is implemented to handle them as such. Shouldn't the users developing the actual endpoint decide what happens with the dat

[2022-08-05 10:04] hamburml commented on #26152
@michalszynkiewicz and @Sgitario Could you please give a statement to this issue? Thanks!

[2022-08-05 10:07] maxandersen commented on #25735
maybe i'm missing something but isn't the use case of having a endpoint that can either serve a json model response vs htmx client ui rendered response what gives quite different logic and thus having two different methods is nice ?

[2022-08-05 10:15] geoand commented on #26152
They are both on PTO IIRC

[2022-08-05 10:16] geoand commented on #25735
Yeah, but ideally you want that to be dead simple

[2022-08-05 11:11] galderz commented on #27064
There's something to fix in oracle/graal, see https://github.com/oracle/graal/issues/4794

[2022-08-05 11:12] galderz commented on #27064
A very simple workaround is to add setters for the fields, e.g.

[code]

[2022-08-05 11:30] renatounai commented on #17255
Same issue here. It seems that the kotlin support is still not production ready in quarkus. In the repository pattern is also impossible to mock the PanacheEntity methods today, so both methods are bugged.

[2022-08-05 12:00] languitar commented on #14769
On thing I see with `quarkus.http.root-path` is that this also moves the dev tools and everything else. With RESTEasy Classic and `quarkus.resteasy.path` one could only move the base path of the provided API while leaving the rest in it's original place.

[2022-08-05 12:22] gsmet commented on #23997
@geoand do you have this one on your radar?

[2022-08-05 12:34] gsmet commented on #27064
Thanks a lot for the help on this @galderz . I will implement the workaround and close this as it needs to be tracked upstream.

[2022-08-05 12:40] #27128 closed

[2022-08-05 12:46] geoand commented on #23997
Nope, it had dropped off, but I guess it's back on

[2022-08-05 13:08] paolopiccinini commented on #27139
Hi, becouse while testing I get Connection refused see [here](https://stackoverflow.com/questions/73109719/quarkus-test-rest-client-java-net-connectexception-connection-refused-connect) and in your [tutorial](https://quarkus.io/guides/rest-client) you tell to use:

[code]

Should i remove scope test?

[2022-08-05 13:10] geoand commented on #27139
Yes please

[2022-08-05 13:39] paolopiccinini commented on #27139
Removing the scope test solved the issue. Thanks

[2022-08-05 13:39] #27139 closed

[2022-08-05 15:08] vadim-hleif commented on #26733
So,

[This class](https://github.com/vadim-hleif/test-quarkus-mocking/blob/master/src/test/kotlin/test/quarkus/mocking/MockingTest.kt#L14) has both cases:
1. [Using Quarkus CDI](https://github.com/vadim-hleif/test-quarkus-mocking/blob/master/src/test/kotlin/test/quarkus/mocking/MockingTest.kt#L36), it doesn't work.
2. [Pure Junit](https://github.com/vadim-hleif/test-quarkus-mocking/blob/master/src

[2022-08-05 15:46] geoand commented on #26733
Okay, I'll have a look next week.

[2022-08-05 16:06] #27064 closed

[2022-08-05 21:06] userkci opened #27162 ""No RESTEasy Reactive request in progress" raised in @RequestScoped bean"
### Describe the bug

When a `@RequestScoped` bean is injected with an HTTP request context bean such as `HttpHeaders`, a error occurs when accessing the HTTP request context bean if both:

- The request processing is accessing the bean on a thread other than the request thread, as may occur when returning a `Uni` from the handler.
- The HTTP request context bean has *not* been previously accessed

[2022-08-06 14:59] GregJohnStewart opened #27165 "`quarkus.jib.platforms` not working out of box"
### Describe the bug

So first, I'm not denying that my build environment might be not setup for multiplatform docker builds, but this ticket is more to ask for more documentation on what is necessary to perform a multiplatform build at https://quarkus.io/guides/container-image#jib

Is qemu or dockerx required to be installed? Any configuration to setup?

I run `./gradlew clean build -Pquarkus.con

[2022-08-06 15:03] geoand commented on #27165
Good point about better docs.

The feature requires docker's buildx

[2022-08-06 16:02] GregJohnStewart commented on #27165
Anything else required? Still getting the same exception after enabling buildkit

[2022-08-06 16:05] OleKsimov opened #27166 "Connection pool exhaustion for lazy entity association (acquisition timeout)"
### Describe the bug

Hi guys!
I've noticed that some async processing in our project exhausts a database connection pool, and it never recovers.
The problem can be fixed by adding @Transactional annotation to @Incoming event handler, but
1) I am not changing anything in the database during this process, using only "findById" method and getting some info from an entity
2) for some methods, perform

[2022-08-06 17:14] guliguligagaga opened #27167 "java.lang.NoSuchMethodException on native build when using MessageBodyReader with extended class"
### Describe the bug

Hey guys,

When I tried to use MessageBodyReader to put header values directly into request, it works with jvm but not with native.
[code]

[code]

[code]

and controllers

[code]

### Expected behavior

Same as the JVM build:

[code]

### Actual behavior

[code]

[code]

### How to Reproduce?

https://github.com/guliguligagaga/quarkus-resteasy-reactivev

### Output of `uname

[2022-08-06 17:43] GregJohnStewart commented on #25151
The quarkus project provided in OP is fairly straight forward, but I have prepared a slimmed down app with tests that fail in the same way (on the cucumber-inttest-repo branch):

https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/cucumber-inttest-repro/software/cucumber-int-test-repro

Just run `./gradlew quarkusIntTest` to get the error

[2022-08-06 18:58] szxp opened #27168 "Quartz jobs with WARN log: Datasource '<default>': Closing open connection prior to commit"
### Describe the bug

I am trying to schedule Quartz jobs programmatically, similar to as suggested in https://quarkus.io/guides/quartz#scheduling-jobs-programmatically, but I see the following WARN log:

[code]

### Expected behavior

No WARN log in the console.

### Actual behavior

WARN log can be seen in the log:
[code]

### How to Reproduce?

Sample project
https://github.com/szxp/quartz-test

[2022-08-07 09:37] HiMyNameIsIlNano opened #27169 "Quarkus Maven Plugin // Quarkus code generation phase has failed"
### Describe the bug

A brand new project generated with the latest version of Quarkus (i.e. 2.11.2.Final) Fails at startup (`mvn quarkus:dev`).

[code]

### Expected behavior

The application should start and show the following:

[code]

### Actual behavior

The error:
[code]

### How to Reproduce?

Open intellij Idea. Open File -> New -> Project -> Quarkus. Select the following dependencies:

[c

[2022-08-07 10:51] johgoe opened #27170 "Generated grpc code cannot be compiled if a underscore is in the name of a method"
### Describe the bug

I got a proto file which contains a rpc method with a underscore in the name

[code]

But the generated code is very inconsistend and cannot be compiled

e.g. in `MyServiceImplBase implements io.grpc.BindableService` its `getServiceinfoMethod` instead of `getServiceInfoMethod`

[code]

causes

[code]

and in ``MutinyMyServiceStub extends io.grpc.stub.AbstractStub<MutinyMyServ

[2022-08-08 00:00] phillip-kruger commented on #26749
Closing, no feedback. Please reopen if this is still an issue.

[2022-08-08 00:00] #26749 closed

[2022-08-08 03:37] #26136 closed

[2022-08-08 04:09] geoand commented on #27165
It seems that I remembered wrong.

[2022-08-08 04:13] geoand commented on #27165
See https://quarkus.io/guides/all-config#quarkus-container-image-jib_quarkus.jib.platforms for more information

[2022-08-08 04:13] #27165 closed

[2022-08-08 04:20] geoand commented on #27169
Seems like you have a corrupt Maven repository. I suggest deleting the kubernetes-client entries for `.m2/repository` (or even the entire directory if there are more corrupt artifacts) and starting over.

[2022-08-08 04:20] #27169 closed

[2022-08-08 04:31] geoand commented on #27162
I see you are doing:

[code]

when returning the `Uni`.

That is something that not only is unnecessary, but in this case where we need to "setup" the thread when executing a request, it fails.

If you simply remove the `runSubscriptionOn` part, everything works.

In general, when using RESTEasy Reactive with a `Uni`, to control the thread the request is served on you can use the `@Blocking` and `

[2022-08-08 04:31] #27162 closed

[2022-08-08 05:22] geoand commented on #26733
It seems to me we are going in circles as I am getting the same exact errors I mentioned earlier with the latest version of your code.

Even if I reduce things even further and have a simple test class like:

[code]

then when I run the test I get:

[code]

So I really don't see the inline mocket coming into play

[2022-08-08 05:32] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2815526457

[2022-08-08 06:05] geoand commented on #26733
I just figured out why we are seeing different results. [This](https://github.com/vadim-hleif/test-quarkus-mocking/blob/master/src/test/resources/mockito-extensions/org.Mockito.plugins.MockMaker) file has the wrong casing, which a Mac doesn't matter, but in Linux does.

[2022-08-08 06:07] Sgitario commented on #26152
I looked into this issue before my PTO and shared the same thoughts as @geoand . The most straightforward approach is to provide a custom message reader / writer that checks for custom context resolvers objects. However, this is not a general solution which is ok (it would only work for the jackson extension), and we also need to take into account the performance pitfall of checking for the custom

[2022-08-08 06:17] Sgitario commented on #27003
The intention was to register the JAXB annotations declared into the package info, not the package info java class itself. However, I don't see how your package info was added as part of the classes to be bounded into the JAXB Context. Can you share a reproducer so I could quickly look at?

[2022-08-08 06:46] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2815526457

[2022-08-08 07:07] #26985 closed

[2022-08-08 07:07] #27092 closed

[2022-08-08 07:50] loicmathieu commented on #26148
@JohnneSouza I was thinking about this (and an other issue with querying with attributes annotated by `@BsonProperty`. MongoDB PojoCodec is only used to serialize/deserialize a Pojo to/from a collection, at query time MongoDB only takes fields names.

So if `id` is used instead of `_id`, or if `@BsonProperty` is used, even if it means POJO attributes and collection fields will not be the same it h

[2022-08-08 09:15] llowinge opened #27177 "No port conflict when running via jar and via dev mode at the same time"
### Describe the bug

When running application via jar and via dev mode at the same time, then it doesn't fail with port 8080 conflict.

### Expected behavior

It should fail with port 8080 conflict.

### Actual behavior

It doesn't fail with port conflict.

### How to Reproduce?

Take some simple app eg. RESTEasy Classic from https://code.quarkus.io/ and perform:

1. `mvn clean package -DskipTest

[2022-08-08 09:18] vadim-hleif commented on #26733
Oh, fixed the extension, thank you for this!

[2022-08-08 09:23] sberyozkin commented on #27122
ID token's expiry is a number of seconds since the epoch, see https://openid.net/specs/openid-connect-core-1_0.html#IDToken.
So this method says in how many seconds from the current time the session will expire.

That expiry date shown in the description looks wrong to me.
Perhaps we can add a new method returning a precise Date when the session will expire

[2022-08-08 09:27] geoand commented on #26733
I reopened the issue since this an actual problem, but so far I haven't been able to pinpoint the root cause.

[2022-08-08 09:28] sberyozkin commented on #27126
It would be nice if it could be done as part of the release process somehow, where we can have resolved non-embargoed CVEs listed

[2022-08-08 09:32] TheBlindM opened #27178 "Upx exception under windows"
### Describe the bug

Produced artifacts:
 D:\study\demo1\target\demo1-1.0-SNAPSHOT-native-image-source-jar\demo1-1.0-SNAPSHOT-runner.build_artifacts.txt (txt)
 D:\study\demo1\target\demo1-1.0-SNAPSHOT-native-image-source-jar\demo1-1.0-SNAPSHOT-runner.exe (executable)
========================================================================================================================
Finished g

[2022-08-08 10:14] tmihalac commented on #27099
Working on it

[2022-08-08 10:43] geoand commented on #26733
https://github.com/quarkusio/quarkus/pull/27179 should take care of the problem

[2022-08-08 10:49] tmihalac commented on #27099
@gsmet @gastaldi I just want to point out that if you look at the documentation you pointed out to: https://flywaydb.org/documentation/configuration/parameters/ignoreMigrationPatterns

You can see that `repeatable` and
 `versioned` migration types are supported only by the `flyway teams` product but we are dependent on the community version.

[2022-08-08 11:53] mkouba commented on #27170
So according to the [style guide](https://developers.google.com/protocol-buffers/docs/style#services) for proto buffers you should use CamelCase for service methods. Of course, if you don't control the `proto` file then it's a problem.

I'll take a look at the generated code.

[2022-08-08 12:01] pjgg commented on #27101
mmm ... that is very interesting... this is because is only failing against this native image `quay.io/quarkus/ubi-quarkus-native-image:22.1-java11`

So by running this statement you should be able to reproduce the issue:

`mvn clean verify -Dnative -Dall-modules -pl sql-db/vertx-sql -Dit.test=OracleHandlerIT -Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-native-image:22.1-java11`

Any

[2022-08-08 12:05] BrainShit opened #27180 "Unable to Overwrite Response using Security-JPA & RestEasy-Classic"
### Describe the bug

I'm currently unable to overwrite the Response with a CustomFormAuthenticationMechanism when using security-jpa with quarkus using RestEasy-Classic. I did not test ReastEasy-Reactive.

The last known version this was possible was using 2.7.5.Final.

If there's anything else you need let me know!

Here's my Implementation of the HttpAuthenticationMechanism

[code]

### Expecte

[2022-08-08 12:17] jerboaa commented on #25944
Related mandrel issue: https://github.com/graalvm/mandrel/issues/316

[2022-08-08 12:20] geoand commented on #27178
Is `upx` part of the `PATH` variable?

[2022-08-08 12:31] mkouba commented on #27170
I'm not sure why but it seems that the grpc-java compiler attempts to ["adjust the service name to follow the JavaBean spec"](https://github.com/grpc/grpc-java/blob/master/compiler/src/java_plugin/cpp/java_generator.cpp#L122-L142). However, I don't think that the JavaBean spec defines some special rules for methods that are not used to extract properties or events, i.e. it should be legal do defin

[2022-08-08 12:55] geoand commented on #27167
Thanks, https://github.com/quarkusio/quarkus/pull/27182 takes care of it

[2022-08-08 13:07] geoand commented on #27177
This is by design. There is an error in the logs mentioning the issue but the application does not fail in order to allow for recovering using live-reload

[2022-08-08 13:16] geoand commented on #26152
We can alleviate this in the same way I did it for the server

[2022-08-08 13:30] llowinge commented on #27177
@geoand I don't see any error in logs

[code]

[2022-08-08 13:32] schmittjoaopedro opened #27184 "Put in line delete method of Quakus Panache Commons JPA methods with Spring Data Commons."
### Description

Looking at the Spring implementation of `CrudRepository` backed by `SimpleJpaRepository` there are some divergences to Quarkus `AbstractJpaOperations`.
The method `delete(Object entity)` on Spring tries to find the entity first through the entity manager before calling the delete. This helps a lot when you have a detached entity you want to delete, as you don't need to wrap the ca