[2020-04-07 10:31] stuartwdouglas commented on #8375
This happens if a deployment contains part of the XML parser API but not all of it. Some elements may be loaded from the system class loader, and others from QuarkusClassLoader.

[2020-04-07 10:41] sberyozkin commented on #8375
@stuartwdouglas tnanks; I wonder if `xml-apis` dependency is to blame, which also causes #7359, if I exclude it in #7359 then DOM API can not be resolved, which is also strange as it should be in JDK now...

[2020-04-07 10:50] PHameete commented on #4961
@gunnarmorling @alesj I've built the branch and tested against my config (using confluent schema registry and sasl plaintext). I was able to configure a working example using runtime configuration.

My only question is why am I still getting many "Unrecognized configuration" messages, such as:

[code]

Why is for example 'application-id' passed to the ConsumerConfig?

And two of my configuration p

[2020-04-07 10:54] sean-scott-lr commented on #8415
@MikeEdgar Yes that does work.  Was I misusing the API?

[2020-04-07 10:59] sean-scott-lr commented on #8415
@r00ta That works too. Are there docs somewhere I missed that show the usage scenarios?

[2020-04-07 10:59] MikeEdgar commented on #8415
@r00ta's solution will also work. The `name` and `in` are required properties (per the JavaDocs), but in some cases the annotation scanner attempts to be more lenient by allowing them to be omitted. An annotated method is one of the situations where at least the `name` must be given. I'll need to look into why methods require at least the name. I do not remember and I did not add a comment at the

[2020-04-07 11:00] sean-scott-lr commented on #8415
@MikeEdgar @r00ta Thank you

[2020-04-07 11:13] geoand commented on #8400
It looks like the code in ae9409527a97ab917deb33117b125803acf9f522 hasn't been needed since 4729cd423c93941d5764de39881773856d15cacb

[2020-04-07 11:29] geoand commented on #8421
I am going to look at it

[2020-04-07 11:45] EricWittmann commented on #8435
@phillip-kruger I think we may have another scanner type candidate - vert.x annotations.

[2020-04-07 11:49] irishshagua opened #8445 "JVM Dockerfile failing to create"
**Describe the bug**
The sample project generated using the maven archetype uses micrdnf to install openssl. This has started failing the docker build with the below error:

[code]

**Expected behavior**
The docker image should build from the generated sample

**Actual behavior**
The docker image fails to build

**To Reproduce**
Steps to reproduce the behavior:
1. Use the below mvn archetype to ge

[2020-04-07 11:50] phillip-kruger commented on #8435
@EricWittmann cool ! Just not sure if we can assume all `@Route` is REST Endpoints ?

[2020-04-07 11:52] rainmanhhh commented on #8435
jax-rs annotations is a little bit troublesome(although it's a jsr standard). If you're planning to replace it, what about using openapi annotations instead? (and implement the routing logic with vertx)

[2020-04-07 12:01] rsearls commented on #7124
Please read the directions in the projects README.md file.
It provides directions for installing this needed archive locally.

[2020-04-07 12:05] mkouba commented on #7124
@rsearls I'm sorry but where should I download this artifact? The readme says `-Dfile=FIX_THIS/lib/utils-arquillian-utils-4.5.0-SNAPSHOT.jar `...

[2020-04-07 12:07] rsearls commented on #7124
The file is in the project's lib directory.

[2020-04-07 12:10] sean-scott-lr commented on #8415
@r00ta Note, that in your solution with the @QueryParam in the setter works for both documentation and functionality.  However, with @PathParam my code is no longer functional. ( the parameter is not set ).

[2020-04-07 12:12] mkouba commented on #7124
Ok. Thanks :man_facepalming:.

[2020-04-07 12:24] #8436 closed

[2020-04-07 12:31] #8273 closed

[2020-04-07 12:38] pkocandr commented on #6133
@hartimcwildfly Hi! Could you please provide an example how to configure a custom log handler? I would like to test if it's possible to use Kafka log appender with this.

[2020-04-07 12:41] alesj commented on #4961
I think the "issue" is that we try to push all sorts of properties into config -- the ones with prefix, w/o prefix, our (Quarkus compatilbe = with dash), etc ...
Where Kafka config just complains about those that it doesn't understand / know.
Could be annoying, but shouldn't result in an error.

[2020-04-07 12:42] geoand commented on #8421
The problem is pretty interesting... Essentially `dekorate-dependencies` contains shaded classes from the fabric8 model, but also contains an erroneous Jandex index.
We'll need to remove that from dekorate and do a release.

[2020-04-07 12:47] #8400 closed

[2020-04-07 12:48] geoand commented on #8421
@iocanel is going to do a new dekorate release and then update Quarkus to use it.

[2020-04-07 12:49] alesj opened #8446 "Broken QuarkusTestExtension"
When using Quarkus 1.3.1.Final or current master against our Registry, I get this:
* https://gist.githubusercontent.com/alesj/86aae892c3aa35113ce358737700b4b7/raw/8a3e105e971916bd2f997692d145043d5810ee2a/gistfile1.txt

Zulip thread:
* https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Broken.20QuarkusTestExtension.20.2E.2E.2E

As mentioned / described, we use custom JUnit5 extension

[2020-04-07 13:05] hartimcwildfly commented on #6133
Yes I can add some code where you just have to place your Appender. But please mind that the code will not be compileable.

[2020-04-07 13:10] PHameete commented on #4961
I agree it's not a big issue per se. For example the schema registry url config always throws a WARN from the Kafka client side despite is being necessary.

I dont expect quarkus to warn me about unrecognized configuration keys that are valid though. So in this case `quarkus.kafka-streams.sasl.jaas.config` and `quarkus.kafka-streams.replication.factor` when it does not complain about the other kaf

[2020-04-07 13:15] mkouba commented on #7124
Your tests are using JUnit annotations but the pom.xml declares the dependency on `org.jboss.arquillian.testng:arquillian-testng-container`. When I replace this dependency with `org.jboss.arquillian.junit:arquillian-junit-container` (and remove the testng completely) I get the following error:
[code]

Now in order to display the full stacktrace you'll need to set the `trimStackTrace` property to `

[2020-04-07 13:16] alesj commented on #8446
newMethod = {java.lang.reflect.Method@8575} "void io.apicurio.registry.ArtifactStateTest.testEnableDisableArtifact(io.apicurio.registry.client.RegistryService)"
 clazz = {java.lang.Class@4485} "class io.apicurio.registry.ArtifactStateTest"
 slot = 5
 name = "testEnableDisableArtifact"
 returnType = {java.lang.Class@8581} "void"
 parameterTypes = {java.lang.Class[1]@8582}
  0 = {java.lang.Class@847

[2020-04-07 13:19] bjblazko commented on #8445
Can confirm, tried to work-around by

- adding `-y` to `microdnf install`
- removing `microdnf update`

with no success.

[2020-04-07 13:21] Ladicek commented on #8421
Ah, I didn't even consider that Dekorate might ship a Jandex. Thanks for looking into it!

[2020-04-07 13:22] bjblazko commented on #8445
Is it possible to provide a stable image, since with no update to the Dockerfile our CI/CD broke due to that?

[2020-04-07 13:24] irishshagua commented on #8445
I've removed openssl from the list of install targets as the message seemed to indicate it was already present. This, at least gets the image working again. Not sure if this will cause future issues though... 🤷‍♂

[2020-04-07 13:25] andreas-eberle commented on #8445
We got the same bug suddenly appear in CI. Locally I was still able to build the image. After I pulled the ubi-minimal:8.1 again, it did break. So it seams redhat updated the image and changed the ssl stuff.

[2020-04-07 13:30] dmlloyd commented on #4629
You can use the log4j2 logging API as long as you include the `org.jboss.logging:log4j2-jboss-logmanager` artifact.  The logging backend is not pluggable.

[2020-04-07 13:34] hartimcwildfly commented on #6133
Or do you mean a custom **named** handler? (Refering to my PR #7568 ?)
Custom handlers are already supported.

[2020-04-07 13:34] cescoffier commented on #8445
The ubi image has been updated is now contains an updated version of openssl. This change is a CVE fix (from what I can read). Just remove `openssl` from the package list and you should be good to go. I'm opening a PR that just does that.

[2020-04-07 13:37] emmanuelbernard opened #8447 "Remove try catch exception in Hibernate build time proxy generation code"
See conversation here https://github.com/quarkusio/quarkus/pull/8432#pullrequestreview-388997739

We added a try catch with warning log to be overly cautious.
Let's remove it for Quarkus 1.5 once we had feedback.

[2020-04-07 13:40] hartimcwildfly commented on #6133
https://github.com/hartimcwildfly/quarkus-custom-loghandler

[2020-04-07 13:49] geoand commented on #8421
You are welcome :)

It was sure an interesting debug session :wink:

[2020-04-07 13:49] rsearls commented on #7124
I've made the changes and see  .. DeploymentException ..
I do not see .. ServiceConfigurationError ...
Where should that be appearing?

[2020-04-07 14:12] mkouba commented on #7124
You should see the full stack. Pls update your repo so that I can verify the config.

[2020-04-07 14:14] geoandri commented on #3251
@kunal-kushwaha feel free to work on this if you like. I do not expect to have availability soon.

[2020-04-07 14:21] emmanuelbernard commented on #5681
I suspect these settings should be build time only. i.e. the user decides of the multiTenant strategy is fine to be fixed at build time. So that data would be read at build time in HibernateOrmProcessor and passed along as resolved configuration. Maybe it would generate some build time static service factory from the Hibernate ORM Service registry (@Sanne WDYT). That way, this configuration would

[2020-04-07 14:46] rsearls commented on #7124
Update complete.

[2020-04-07 15:03] ieozt38 opened #8450 "A multi-stage Docker build, error COPY --from=build /usr/src/app/target/*-runner /work/application"
**Describe the bug**
When I try to make a multi-stage Docker build, on stage 2 i get an exception:

DockerFile.multistage
COPY --from=build /usr/src/app/target/*-runner /work/application
-> COPY failed: no source files were specified

**Expected behavior**
build succeeded
**Actual behavior**
COPY failed: no source files were specified

**To Reproduce**
Steps to reproduce the behavior:
1. build doc

[2020-04-07 15:08] ia3andy commented on #3340
I will pick that one up when I start working on the codegen..

[2020-04-07 15:13] diogocarleto opened #8451 "@QuarkusTest classloader problems when executing XPathFactory.newInstance()"
Hi guys, I've faced an issue when parsing a .xlsx file in my JUnit tests.

The problem is that an internal lib tries to call the following code:

`XPathFactory.newInstance()`

Suppose we have the followings scenarios:

<pre>
@org.junit.Test
    public void testXpathFactory() {
        XPathFactory xPathFactory = XPathFactory.newInstance();
        assertNotNull(xPathFactory);
    }
</pre>

<pre>
@

[2020-04-07 15:15] geoand commented on #8402
Here is the only thing I changed in your project (`master` branch):

[code]

Then I executed `gradle :apps:greeting-quarkus:test` and the tests passed.

Am I missing something?

[2020-04-07 15:21] geoand commented on #8451
I wasn't able to reproduce this in a simple test.

Perhaps you could provide a small reproducer?

[2020-04-07 15:22] geoand commented on #8450
I am assuming you tried to follow: https://quarkus.io/guides/building-native-image#creating-a-container-with-a-multi-stage-docker-build

If so, have you followed this:

[code]

?

[2020-04-07 15:46] ppalaga opened #8452 "BootstrapAppModelResolver returns mixed versions for a Platform test with SNAPSHOT deps"
Steps to reproduce:

1. Build Quarkus revision e32ce80
2. Build Camel Quarkus revision a67ab39
3. Checkout this branch of quarkus-platform https://github.com/ppalaga/quarkus-platform/commits/200407-camel-regen
4.  Quick-build quarkus platform `mvn clean install -DskipTests`
5. Run the servlet test `cd integration-tests/camel/camel-servlet; mvn clean test`

Expected: the test should pass
Actual: th

[2020-04-07 16:01] Sanne commented on #8447
I'd consider this for 1.4 as well.

[2020-04-07 16:16] michael-schnell commented on #5681
Yes exactly. I tried to follow the existing Hibernate configuration process, but if I test the code there is a message like "multiTenant property ignored" at runtime. Sounds like I missed something.

This is a value from Hibernate ([CurrentTenantIdentifierResolver](https://docs.jboss.org/hibernate/orm/5.2/javadocs/org/hibernate/context/spi/CurrentTenantIdentifierResolver.html)) that enabled re-val

[2020-04-07 16:27] gsmet commented on #8323
Will be fixed in 1.3.2.Final.

[2020-04-07 16:27] #8323 closed

[2020-04-07 16:31] line-e commented on #8369
@loicmathieu Just because the original question goes in this direction:
Is there a good/official way to implement references (manual or DBRefs) instead of embedding documents?

[2020-04-07 16:32] EricWittmann commented on #8435
No but maybe the scanner can check the `methods`?  I don't really know enough about vert.x to be able to say.  But I do know that we have a lot of vert.x experts around. :)

[2020-04-07 16:34] wburns commented on #3548
I got a chance to look at this. The error is ignorable and has nothing to do with the get/put. It is the automatic registration of the protostream definitions.

The problem is that when registering the schemas for a second time it is already present and the server sends back a client event to tell the client that it has been removed, but can't deserialize this object (as it doesn't need this cache

[2020-04-07 16:40] sean-scott-lr commented on #3548
I should have updated this after I determined the cause.

1) hotrod-client.properties should be in /resources/META-INF ( that wasn't documented in the guide )
2) the content of the file `infinispan.client.hotrod.near_cache.name_pattern=^(?!___protobuf_metadata).*$`

[2020-04-07 16:41] wburns commented on #3548
👍

[2020-04-07 16:44] diogocarleto commented on #8451
Hi @geoand, I've started a new project and wasn't able to reproduce also. I'm adding my libs one by one to check which one brings this problem.

I'll let you know when done.

Thanks.

[2020-04-07 16:44] gsmet commented on #4716
This one got closed but no idea why? Won't fix? Out of date?

[2020-04-07 16:46] Sanne commented on #8323
For reference: was fixed by #8432

[2020-04-07 16:46] diogocarleto commented on #8369
@loicmathieu I'm going to provide you an example. The package `org.bson.codecs.pojo` is because there are classes in mongodb bson codecs that are not public, is using default.

I'll let you know when my example is done.

[2020-04-07 16:50] diogocarleto commented on #8451
@geoand the problem happens when I add this dependency:

<dependency>
      <groupId>com.monitorjbl</groupId>
      <artifactId>xlsx-streamer</artifactId>
      <version>2.1.0</version>
    </dependency>

I'm checking here why.

[2020-04-07 16:54] gsmet commented on #8371
Reopening as the doc are maintained here.

@cescoffier @FroMage could you check and fix if needed?

[2020-04-07 16:56] gsmet commented on #8364
Reopening this one as we need a release of Quarkus security.

[2020-04-07 17:08] #8422 closed

[2020-04-07 17:08] #8445 closed

[2020-04-07 17:17] diogocarleto commented on #8451
@geoand you can close this one. I've found the problem.

[code]

Thank you so much.

[2020-04-07 17:24] emmanuelbernard commented on #8447
Sure if we are confident earlier.

[2020-04-07 17:24] geoand commented on #8451
Great! Thanks for looking into it

[2020-04-07 17:29] gsmet commented on #8452
Just to add that this is rather blocking as it prevents properly testing Camel Quarkus with current master.

[2020-04-07 17:31] emmanuelbernard commented on #5681
My point is that you should not even need to read it at runtime. Read it at build time and set the right properties for Hibernate when it starts in the STATIC_INIT phase or runtime phase. The fact that you read it at runtime means you are doing work too late.

Force it to true to be safe but, I don't think we use CurrentSessionContext in Quarkus so that's a moot flag.

It depends who would be the

[2020-04-07 17:33] emmanuelbernard commented on #5681
I suspect that doing work in HibernateOrmProcessor#build would be the right level. @Sanne thoughts?

[2020-04-07 17:56] diogocarleto commented on #8451
@geoand I think I said you to close so earlier :)

[code]

[2020-04-07 18:04] geoand commented on #8451
Reopening then 😎

[2020-04-07 19:27] rom1dep commented on #6353
not sure about that, my understanding is that this would stress the "local" authent-type, while quarkus would rather rely on "host" authent-type (under IPv4/IPv6 in the demo config)

[2020-04-07 19:33] gsmet commented on #8195
@johnaohara @Sanne so can we close that one?

[2020-04-07 19:33] #6222 closed

[2020-04-07 19:47] Sanne commented on #8195
yes, thanks.

[2020-04-07 19:48] Sanne commented on #8195
actually, @johnaohara was planning to verify some things soon. I'll let him decide after that.

[2020-04-07 19:59] TheGeekPharaoh opened #8460 "OIDC parameters required in application.properties even when using custom TenantConfigResolver"
**Describe the bug**
Error message displayed saying

 even when using a custom `TenantConfigResolver`

**Expected behavior**
The custom `TenantConfigResolver` should be the source for OIDC configuration rather than `application.properties`.  I should be able to skip all `quarkus.oidc.*` parameters in `application.properties` and get those values from my `TenantConfigResolver` instead.

**Actual be

[2020-04-07 20:07] rom1dep commented on #4394
For the record, I'm discovering quarkus, was pleased to see scala supported, was trying to do the same PanacheEntityBase.listAll from as ORM-101 and got bitten the same exact same way.

I don't know how much it's possible/desirable to have something language-agnostic there.

[2020-04-07 21:14] johnaohara commented on #8195
From a snapshot build including PR: https://github.com/quarkusio/quarkus/pull/8432
  | Startup (ms) | Startup 1 stdev | RSS (kB) | RSS 1 stdev
-- | -- | -- | -- | --
1.2.1.Final | 2,231.70 | 89 | 154,040 | 2,535
1.3.0.Final | 2,621.78 | 247 | 165,306 | 4,326
999-SNAPSHOT | 2,133.34 | 32 | 153,742 | 3,035
Delta 1.2.1 -> 1.3.0.Final | 117.5% |   | 107.3% |  
Delta 1.2.1 -> 999-SNAPSHOT | 95.6% |   |

[2020-04-07 21:16] johnaohara commented on #8195
I see that the initializing Jpa has gone from ~616ms to ~406ms, and there has been a reduction in RSS by ~11.5MB

[2020-04-07 21:16] #8195 closed

[2020-04-07 21:23] sberyozkin commented on #8460
@TheGeekPharaoh I'm not sure it is a bug - `TenantConfigResolver` is expected to return `OidcTenantConfig` with its own `auth-server-url` and `client-id`. Does your implementation set those properties ?
If you don't need to configure a default tenant (the usual application.properties) then you can add `quarkus.oidc.tenant-enabled = false`

[2020-04-07 21:25] DeepakkumarArumugam opened #8461 "OpenTracing Version Upgrade from 0.31.0 -> 0.33.0"
Team,
Please update opentracing version to 0.33.0. opentracing-util:0.33.0 exposed new methods to atomically update Global Tracer.
Thanks.

[2020-04-08 00:43] stuartwdouglas commented on #6627
Should be fixed by https://github.com/quarkusio/quarkus/pull/8456

[2020-04-08 00:43] #6627 closed

[2020-04-08 00:56] codeninja55 commented on #7451
@RogerGMartins could you please provide your work-around solution?

We are having a similar problem right now trying to inject some Datadog fields into our logs.

[2020-04-08 01:19] rainmanhhh opened #8462 "Intellij Idea plugin Quarks Tools(redhat) only support application.properties"
**Description**
(Describe the feature here.)
Suggest to support application.yml

**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design change proposals should be posted to [the Quarkus developer mailing list](mailto:quarkus-dev@googlegroups.com) (or [the corresponding Google Group](https://groups.google.com/group/quarkus-dev); see [th

[2020-04-08 04:19] geoand commented on #8461
cc @pavolloffay

[2020-04-08 05:02] stuartwdouglas commented on #6096
I have made a start on this here: https://github.com/stuartwdouglas/quarkus/pull/new/proactive-authentication.

It's quite complex, as anywhere that can potentially request the identity also has to be able to deal with failure.

[2020-04-08 05:18] didier-durand commented on #8445
Hi, I can confirm that removing openssl from microdnf install command works: my remote build for the Quarkus "getting started" via Google Cloud was failing this morning. As soon as I removed openssl, the build and deployment worked again.

If you want to reproduce, my project is [gcp-quarkus](https://github.com/didier-durand/gcp-quarkus) .

Commit to fix Dockerfile is https://github.com/didier-dur

[2020-04-08 05:32] Ravisankar-Challa opened #8463 "Publish docker images (centos-quarkus-maven & ubi-quarkus-native-image) to dockerhub"
Hi Team,

As per our company policy docker images can be downloaded only from dockerhub.

It would be grateful if you can publish the docker images to dockerhub.

Thanks,
Ravi

[2020-04-08 06:07] wowselim commented on #7999
[Vert.x actually has pretty decent support for Kotlin's co-routines](https://vertx.io/docs/vertx-lang-kotlin-coroutines/kotlin/) already and I hope it works well on GraalVM in the future. :crossed_fingers:

[2020-04-08 06:27] xmlking commented on #8402
not sure why i am getting error. are you using java 11? gradle 6.3?
if possible could you please share complete  test output ?

[2020-04-08 06:32] geoand commented on #8402
`./gradlew --version` ->

[code]

Entire output:

[code]

[2020-04-08 06:56] glefloch commented on #7637
Can I submit a pull-request for this issue ?

[2020-04-08 06:57] tpenakov opened #8464 "Keycloak - path cache is not working"
Get the latest version of [Quarkus Keycloack Authorization Example](https://github.com/quarkusio/quarkus-quickstarts/tree/master/security-keycloak-authorization-quickstart)

Start the sample:
`mvn compile quarkus:dev`

It works fine. Now terminate the application.

Now open the `application.properties` file and add the following line:
`quarkus.keycloak.policy-enforcer.path-cache.lifespan=3600000`

[2020-04-08 07:10] geoand commented on #7637
If @iocanel agrees, then I don't see why not :)

[2020-04-08 07:11] loicmathieu commented on #8369
@simeonlin not inside MongoDB with Panache, you should raise this question at the MongoDB community (mailing list or forum, I don't know what they provides).

@diogocarleto so you try to do something that the engeneers of the MongoDB driver don't want you to do ;). As I understand it you want to add DBRef support as in spring data MongoDB. This can be interested but MongoDB with Panache is statele

[2020-04-08 07:16] ieozt38 commented on #8450
Yes i did

[2020-04-08 07:17] geoand commented on #8446
I went through this and unfortunately there is no good solution...

Although the code in the custom extension can be hacked to load everything from the TCCL instead of the CL which the methods run, that won't cut it unfortunately because JUnit then validates the returned object against the parameter type (and of course this validation fails because of the different ClassLoaders).

This is somewhat

[2020-04-08 07:19] geoand commented on #8450
I tried the process and it works.

Can you perhaps upload a reproducer which demonstrates the failure?

[2020-04-08 07:29] iocanel commented on #7637
@glefloch: Sure!

[2020-04-08 07:34] ge0ffrey commented on #8331
I'll try that. I'll also check if this issue reproduces with the spring-boot exmaple for optaplanner which also uses H2.

[2020-04-08 07:42] ieozt38 commented on #8450
Sure

Sure: https://gyazo.com/c410aac0e9c45d9ca37e406bbb4c884c
I Use Java11, Windows10, Docker Desktop installation.
Quarkus 1.3.0 final

[2020-04-08 07:45] geoand commented on #8450
Thanks.

I am not on Windows so I can't really test that setup. Hopefully someone else will be able to.

[2020-04-08 07:46] ieozt38 commented on #8450
It happens also on Mac

[2020-04-08 07:46] geoand commented on #8450
I'm not on Mac either :P

[2020-04-08 07:47] ieozt38 commented on #8450
haha okay thanks btw :)

[2020-04-08 08:15] #2219 closed

[2020-04-08 08:22] alesj commented on #8446
How would this help?
Wouldn't this still create a mismatch?

[2020-04-08 08:24] geoand commented on #8446
Ah sorry, yes you are right....

[2020-04-08 08:25] rainmanhhh opened #8466 "Idea plugin "Quarkus Tools" should recognize third party extension properties"
**Description**
(Describe the feature here.)
I create a demo project and add a third party extension: [quarkus-eureka](https://github.com/fmcejudo/quarkus-eureka)
but quarkus tools lsp engine do not recognize properties defined by this extension, eg. `quarkus.eureka.name`

**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design change p

[2020-04-08 08:33] Rupert-RR commented on #3954
Just as an indicator (I haven't isolated this into a barebones example), in case it helps, I am running into this problem for a data class which does not have any default values (but all properties are `val`, and obviously I have registered the Kotlin Jackson module on the mapper). However I do have several enum parameters for which there are default enum values (`@JsonEnumDefaultValue`) and I hav

[2020-04-08 08:40] pavolloffay commented on #8461
This has to wait until MicroProfile-OpenTracing 2.0 is out in the MP summer release.

[2020-04-08 09:50] newk5 commented on #7269
@gwenneg any progress on this?

I'm getting the exact same vertx error when trying to compile to native on windows Graalvm 20.0 JDK8 with Quarkus 1.3.1 Final.

[2020-04-08 09:52] gsmet commented on #7269
@newk5 if you have an error with 1.3.1.Final, please create a reproducer with the stacktrace and a reproducer. We have no knowledge of remaining issues so if there is one, better have a separate issue for it.

Thanks!

[2020-04-08 10:02] gsmet commented on #8446
/cc @stuartwdouglas

[2020-04-08 10:22] Ladicek commented on #8329
I don't think this should be _won't fix_. The classloading issue is real (well, I hope, I didn't try it :-) ). We should get an issue open with minimal reproducer.

(For the record, I think that `<scope>provided</scope>` is something we need to support properly. It's a standard Maven feature that can be used for a myriad of reasons; one particularly common is the lack of compile-only scope.)

[2020-04-08 10:31] ShubhamRwt commented on #5388
Hello @dmlloyd @machi1990 . The previous guy has made some unwanted changes due to which the build is failing. Should I create a new Pull request and make the only required changes?

[2020-04-08 11:06] #8450 closed

[2020-04-08 11:20] sberyozkin commented on #7862
Looks like this issue is related, #8464

See https://github.com/quarkusio/quarkus/blob/master/extensions/keycloak-authorization/runtime/src/main/java/io/quarkus/keycloak/pep/runtime/KeycloakPolicyEnforcerConfig.java#L59.
`KeycloakPolicyEnforcerConfig` is large so I suppose this is why a try was made to use an optional group

[2020-04-08 11:51] sberyozkin commented on #8460
@TheGeekPharaoh FYI, the reason the default tenant is not disabled by default when `TenantConfigResolver` is available is because `quarkus-oidc` needs to fallback to it if `TenantConfigResolver` chooses to return `null` `OidcTenantConfig` for a current request.

[2020-04-08 12:09] ShubhamRwt commented on #3251
Hello @geoandri ,can u give a me a bit more explanation on this issue. That would be a great help

[2020-04-08 12:33] newk5 commented on #7269
I created a sample here: https://github.com/newk5/quarkus-jsf
It uses the new JSF MyFaces extension: https://github.com/apache/myfaces/tree/master/extensions/quarkus/showcase

**GraalVM Build used**: _graalvm-ce-java8-windows-amd64-20.0.0_
**Command used to compile:**  _cmd /c 'call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64\vcvars64.bat" && mvnw package -Pnative'_

I'm on W

[2020-04-08 12:42] dmlloyd commented on #7269
This error happens when your application or one of its artifacts was built using Java 9 or later using `source`/`target` of `8` and then run it on Java 8 (or compile it on GraalVM 8).  You can correct the problem in one of two ways:

* Use `release` instead of `source`/`target` when you build
* Use GraalVM for Java 11 instead

[2020-04-08 12:45] dmlloyd commented on #5388
Go ahead.  I'd recommend fixing just one problem per PR at a time; that will make it more likely to get merged quickly and hopefully avoid the troubles that the previous contributor encountered.

[2020-04-08 12:56] Ladicek opened #8469 "documentation for Keycloak authorization is insufficient"
**Describe the bug**
I've spent some time investigating usage of the `quarkus-keycloak-authorization` extension in the OpenShift context and found a few insufficiencies in the documentation. Specifically:

- [ ] 1. In OpenShift, the `/health` endpoint (and possibly also `/metrics`) must always be accessible. However, if I use `quarkus-keycloak-authorization`, it takes over the entire URL space, Op

[2020-04-08 12:56] Ladicek commented on #8469
CC @sberyozkin @pedroigor

[2020-04-08 13:04] ShubhamRwt commented on #5388
Yes Sure. That would be great

[2020-04-08 13:07] newk5 commented on #7269
Yea I read about that java.nio.ByteBuffer.flip() error being related to being compiled on java9 or above and I have tried to use the --release flag before but I got this error:
`maven-compiler-plugin:3.8.1:compile (default-compile) on project quarkus-jsf: Fatal error compiling: invalid flag: --release ->`

My app was compiled with java8. I'm not sure if any of the artifacts specified on my pom.xml

[2020-04-08 13:10] TheGeekPharaoh commented on #8460
Thanks for the explanation.  Looks like it’s not a big, then.  I’ll close the issue.  
    On Wednesday, April 8, 2020, 07:51:37 AM EDT, sberyozkin <notifications@github.com> wrote:

@TheGeekPharaoh FYI, the reason the default tenant is not disabled by default when TenantConfigResolver is available is because quarkus-oidc needs to fallback to it if TenantConfigResolver chooses to return null OidcT

[2020-04-08 13:10] #8460 closed

[2020-04-08 13:32] sberyozkin commented on #8469
Hi @Ladicek Thanks for the above, re 3., I did see `leeway` was being used in `Vertx` but since at a time I was dealing with the user request to do with the the expiration grace I called it as such :-).
I think to address `3` properly we'd also need to introduce `not-before` check which is also done by Vertx during the token verification

[2020-04-08 13:37] Ladicek commented on #8469
I'm also thinking if perhaps the default leeway should be > 0, WDYT? I'm no security expert, but clock skew of about 10 seconds is not unheard of, I'd say.

[2020-04-08 13:46] kenfinnigan commented on #8407
https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/RESTEasyExtension.java#L30 uses `resteasy-deployment`, but that probably needs to be refactored to use the URL path from HTTP definition and not JAX-RS.

There's also usage here: https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-openapi/dep

[2020-04-08 14:23] #8452 closed

[2020-04-08 14:55] FroMage opened #8472 "`QuarkusMock` makes it hard to access mock objects"
The docs tell me to do mocking this way:

[code]

But then in `testBeforeAll()` I can't easily call `verify` methods such as:

[code]

Either I need to hang on to the mock instances from the `setup` to the tests, or I need to be able to access the mock instances from the mocked beans. In `panache-mock` I've added helpers that you can call instead of calling them on `Mockito`. So we could do:

[cod

[2020-04-08 15:32] dteleguin opened #8475 "Trailing slash required with Undertow + custom root path"
**Describe the bug**
When using `quarkus-undertow` in combination with custom root path, a trailing slash has to be appended to the app path. This is not required when using vert.x. Additionally, Java™ Servlet Specification assumes that the slash shouldn't be required:

servlet context could be located at `http://www.mycorp.com/catalog`. All requests
that begin with the `/catalog` request path, kn

[2020-04-08 15:32] FroMage commented on #4394
Scala would likely have different constraints. If you feel like trying it out and see if it works, and if not tell us why, we could try to look for a possible solution.

[2020-04-08 15:34] FroMage commented on #8371
Mmm, I wonder if it's required. `ManagedExecutor` is an `Executor`, so it would work unless there are other `Executor` beans, and I'm not sure there are in Quarkus. I'd have to actually try this code out to know.

[2020-04-08 15:34] FroMage commented on #8371
@cescoffier I assume you did try that example code?

[2020-04-08 15:36] gsmet commented on #8371
Well, if it doesn't hurt, I would be in favor of using `ManagedExecutor`.

Having some other `Executor` bean could be quite frequent.

[2020-04-08 16:21] tpenakov opened #8478 "Keycloak Claim Information Point - NPE when trying to read body - 1.3.1.Final"
It is the same bug described in #5959.
After upgrading to `1.3.1.Final` it does not working anymore.
You can use the sample project from #5959. Only one change is done there - because of the #8464.
You can run the sample project and to verify that is working.
Then change the quarkus version to `1.3.1.Final` and the project will stop working

[2020-04-08 16:24] JiriOndrusek commented on #8375
Hi @sberyozkin ,
sorry for the late response.

To be sure, I've tested it on quarkus quickstart: https://github.com/quarkusio/quarkus-quickstarts/tree/master/tika-quickstart

- I've run native tika parser without any application.properties (commented out this line- https://github.com/quarkusio/quarkus-quickstarts/blob/master/tika-quickstart/src/main/resources/application.properties#L1). I've got t

[2020-04-08 16:24] wmacibnc commented on #7769
Sorry, But my question is:

Is it possible to start system programmatically from a Java main method?
Not configuration, but start begin to Main Class.  Why? I Have legacy application and need to translate to cloud. But my legacy application initial with Main Class, after then, I want to start Quarkus. Thank You!

[2020-04-08 16:59] gastaldi commented on #7769
Yes, but only when Quarkus 1.4.0.Final is released (see https://github.com/quarkusio/quarkus/pull/7681#issuecomment-605485380) for an example

[2020-04-08 16:59] gastaldi commented on #7769
Closing as question is answered

[2020-04-08 16:59] #7769 closed

[2020-04-08 17:02] wmacibnc commented on #7769
Thanks!

[2020-04-08 17:08] wmacibnc commented on #7769
@gastaldi but not available in https://mvnrepository.com/artifact/io.quarkus/quarkus-universe-bom.

[2020-04-08 17:20] gastaldi commented on #7769
1.4.0.Final was not released yet. Hopefully end of the april

[2020-04-08 17:22] pedroigor commented on #8478
@tpenakov That is weird. We do have tests to check this behavior which was added when fixing #5959. I'll try to find out what is missing. Nothing else to add, then ?

[2020-04-08 17:30] wmacibnc commented on #7769
Thanks!

[2020-04-08 17:43] alesj commented on #8446
I worked around this by introducing Supplier
* https://github.com/Apicurio/apicurio-registry/pull/372

[2020-04-08 17:50] geoand commented on #8446
You did need to make the changes I suggested in chat, right?

[2020-04-08 17:57] jordanglassman commented on #5394
My current workaround for this is to comment out `@Mock` on the undesired mock while doing development and then `@Ignore` the tests before checking in.

Sounds like "disabling" annotations involves mucking around in bytecode or various other overcomplicated schemes.

[2020-04-08 18:04] geoand commented on #5394
Quarkus 1.4 will contain major improvements in this area.

Please see the testing documentation in this repository if you wish to know more before 1.4 is released

[2020-04-08 18:24] alesj commented on #8446
Which changes?

I did need to use reflection yes.

See PR.

On Wed, 8 Apr 2020 at 19:51, Georgios Andrianakis <notifications@github.com>
wrote:

[2020-04-08 18:25] geoand commented on #8446
Yeah, that's what I meant. The use of reflection in your extension

On Wed, Apr 8, 2020, 21:24 Aleš Justin <notifications@github.com> wrote:

[2020-04-08 18:51] kdubb opened #8479 "Kotlin reflection fails in native build in some cases that Java reflection success"
Kotlin method references (e.g. `this::someMethod`) have a s nice shorthand for retrieving the reflection `java.lang.reflect.Method` via the `javaMethod` property as in `this::someMethod.javaMethod`.

When using a JAX-RS `UriInfo` to build location headers, using the reflected method reference is a great way to keep things DRY so as not to repeat path information stated in a `@Path` annotation.

Fo

[2020-04-08 18:55] InfoSec812 commented on #5394
@geoand Are you referring to [QuarkusMock](https://github.com/quarkusio/quarkus/blob/ff6f5482096c9682baa5bca15d8f88ac11e6d55e/docs/src/main/asciidoc/getting-started-testing.adoc#72-mocking-using-quarkusmock)? That still will not address issues like Kafka Streams where you are required to use a static method on a class.

[2020-04-08 18:58] geoand commented on #5394
Yes I am.

I am not sure I follow what you mean about Kafka Streams.

[2020-04-08 19:00] InfoSec812 commented on #5394
See my updated comment above... The issue is that a lot of these classes require you to call static methods on them which would not be "mock"able.

[2020-04-08 19:01] geoand commented on #5394
We might be able to do something about those in the future.
@FroMage has a PR where he adds support for mocking Panache static methods

[2020-04-08 19:36] #8381 closed

[2020-04-08 19:36] #8382 closed

[2020-04-08 19:54] #8464 closed

[2020-04-08 20:57] rom1dep commented on #4394
Hello @FroMage ,

sure, you can find the repro source in this [repository](https://github.com/rom1dep/tmp-quarkus_scala/tree/master/src/main), and the compilation output in the [README](https://github.com/rom1dep/tmp-quarkus_scala/blob/master/README.md).

[2020-04-08 21:14] sberyozkin commented on #8478
Hi Pedro, @pedroigor, created `area/keycloak-authorization` as proposed, I'll go through other issues and update them too, thanks

[2020-04-08 21:24] pedroigor commented on #4481
@sberyozkin Some updates about the RP-Initiated Logout implementation:

* Added an `oidc.logout` config group
* Added an  `oidc.logout.logoutPath` so that you can configure the endpoint that will initiate the log out at the application
* Added an `oidc.logout.redirectUri` so that users are redirected back to a specific location after the OP log out the user

The logout process works as follows:

*

[2020-04-08 21:27] sshaaf opened #8481 "image build fails without resteasy using quarkus-openshift extension"
**Describe the bug**
When trying to build with Openshift extension with the following command:
./mvnw clean package -Dquarkus.container-image.build=true

**Expected behavior**
Build should be succesfull

**Actual behavior**
It seems that the openshift.yml and other kubernetes related files are not generated. The target/kubernetes directory is empty

following error is thrown

[code]

**To Reproduc

[2020-04-08 22:17] guldner opened #8483 "NullPointerException in OpenTracingAsyncInterceptor when using @CacheResult"
**Describe the bug**
NullPointerException after adding @CacheResult.

**Expected behavior**
@CacheResult and jaeger tracing both works.

**Actual behavior**
Adding @CacheResult to a method that calls a reactive RestClient, results in a nullpointerexception if `quarkus.jaeger.enabled=true`.

@CacheResult works fine if `quarkus.jaeger.enabled=false`
just like `quarkus.jaeger.enabled=true` works fine

[2020-04-08 22:20] guldner commented on #8166
@gwenneg  Sorry for the late reply.
Issue created: https://github.com/quarkusio/quarkus/issues/8483
Thanks

[2020-04-08 23:37] EfraimLA opened #8485 "Instance of class Instant creation error - Serialization"
**Describe the bug**
I've an Panache Entity and i'm trying to test a REST Endpoint which produces and consumes only `application/json` but cannot serialize and deserialize my entity object to persist it

**Expected behavior**
POST an entity as JSON and get entity saved

**Actual behavior**
When i send my entity got a status code 400 cause when i'm trying to serialize/deserialize i got this:
[code]

[2020-04-09 00:16] xmlking commented on #8402
surprising I am still getting error  :(

I am running on `Mac OS X 10.15.3 x86_64` you are on `Linux `

I am using 11.0.6  OpenJDK, and you are using 11.0.6  Oracle

I just updated to `1.3.2.Final`

could you please pull the latest code from my repo and try one more time?

#### please also share output of: ` gradle dependencies `

[code]
[code]

### dependencies

[code]

[2020-04-09 00:25] xmlking commented on #8402
Root cause
[code]

[2020-04-09 00:29] gwenneg commented on #8483
Thanks for reporting this issue @guldner. I'll take a look at it.

[2020-04-09 00:38] newk5 commented on #7269
@dmlloyd @gsmet
Much to my surprise, it seems that when using a Java11 GraalVM CE build, I was able to compile it just fine. It fixed both of those errors (vertx one and the ByteBuffer.flip).

I found 2 issues after that though:

1 - When accessing the page on the browser I got this error:
![image](https://user-images.githubusercontent.com/32560510/78845746-5e11c400-7a01-11ea-9657-41745b9dbf72.png

[2020-04-09 01:13] newk5 commented on #6421
@tandraschko Awesome work, appreciate the effort!

I tried it out and bumped into a few issues, but eventually got it to work. I described my issues here:
https://github.com/quarkusio/quarkus/issues/7269#issuecomment-610863225 hopefully that can be of use :)

Here's the sample I used: https://github.com/newk5/quarkus-jsf

[2020-04-09 01:14] daggerok commented on #7156
Faced with similar issue when using qute templates with Gradle:

1. `gradle build` -> build failed with `No template found for com.github.daggerok.qute.IndexPage#index` error
1. `gradle quarkusDev`, ctrl+c, `gradle build`  -> build success

so only after `./gradlew quarkudDev` command run / stop, project could be built successfully.

JDK: 11
Gradle: 6.3
Quarkus versions:
- 1.3.2.Final
- 1.3.1.Fina

[2020-04-09 02:34] stuartwdouglas commented on #8472
Does @InjectMock solve all these problems? Maybe we should just update all the docs to use it if so?

[2020-04-09 03:31] #8314 closed

[2020-04-09 04:55] geoand commented on #8402
I tried again with the latest version of the reproducer and it still works for me.

[2020-04-09 05:08] geoand commented on #8472
`@InjectMock` does indeed solve the problem that @FroMage is referring to.

[2020-04-09 05:45] tpenakov commented on #8478
Hi @pedroigor ,
It will be great to resolve it if possible, because in that way I will not need to wait for the new Quarkus release.
Also could you please check my comment/question from #5959? The comment/question is [here](https://github.com/quarkusio/quarkus/issues/5959#issuecomment-574637876). IMO it is important not to rely of `{request.body}` if you plan to use the body only in Keycloak SPI.

[2020-04-09 05:45] stuartwdouglas commented on #8446
I dont think there is much we can do here without JUnit changes. They are considering adding better support for custom ClassLoader implementations in the next release, so hopefully that happens in a way that is useful to us.

[2020-04-09 06:02] shahparthiv commented on #8386
@geoand, @Sanne,   As the attached issue is merged.
I need to just run the command or I need to upgrade something?

[2020-04-09 06:41] #8405 closed

[2020-04-09 06:41] wicksim commented on #6948
I'm a little bit confused about what should work and what shouldn't. Regarding to https://quarkus.io/guides/hibernate-orm#limitations, there is no support for JPA Calllbacks. But with _1.3.2.Final_, listeners itself (e.g. a method in a `@EntityListeners` annotated with `@PostLoad` is called) seem to work in my case. The only problem seems to be the not injected bean in the listener.

Am I missing

[2020-04-09 07:23] rainmanhhh opened #8492 "generated openapi doc should mark LocalDate with @QueryParam as string(date) but not plain string"
**Description**
(Describe the feature here.)
currently a LocalDate or LocalDateTime param with @QueryParam(or other XXXParam annotations) will be marked as plain string in auto generated openapi doc. suggest to mark them as string($date) /string($date-time) just like the response type
**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all des

[2020-04-09 07:44] richardbischof commented on #6615
I've found a solution. For this to work properly, it is necessary to add the **PostgisWkbDecoder** class to resources/reflection-config.json file, like that:
[code]
Now you can build and run quarkus with hibernate-spatial and postgis. :+1:

[2020-04-09 08:12] geoand commented on #8439
Is the idea to generate some kind of tree like index of packages to jars, inside a generated classloader?

[2020-04-09 08:19] gsmet commented on #7269
@newk5 could you create two separate issues for this? Better than discussing in a closed issue :).

[2020-04-09 08:47] Meemaw opened #8494 "Kafka WeavingException: Unable to connect stream `events`"
**Describe the bug**
(Describe the problem clearly and concisely.)
**Expected behavior**
I'm trying to integrate Kafka into Quarkus and write some tests for it. I'm using `quarkus-smallrye-reactive-messaging-kafka` extension and it seems to work fine in `quarkusDev`. However, when I run tests I receive an error:

[code]

Note that this only happens when running tests. I can however "quiet" the war

[2020-04-09 08:58] aloubyansky commented on #8121
I did reproduce the issue locally and it appears to be fixed by #8474. Thanks again @eiden

[2020-04-09 08:58] #8121 closed

[2020-04-09 09:15] geoand commented on #8479
Can you paste the error you get please?

[2020-04-09 09:43] #3483 closed

[2020-04-09 09:46] jorsol opened #8498 "Jib pull base image from public registry and push to private registry"
**Describe the bug**
Building an image with the container-jib extension fails, if the base image is hosted in a public registry and the properties `quarkus.container-image.username` and `quarkus.container-image.password` are set to push on a different private registry.

This is a regression from https://github.com/quarkusio/quarkus/pull/8288.

**Expected behavior**
Build image from the public regi

[2020-04-09 09:48] rainmanhhh opened #8499 "openapi doesn't treat CompletableFuture as CompletionStage"
**Describe the bug**
(Describe the problem clearly and concisely.)
when define a controller method with return type CompletionStage<T>, the apidoc is correct(T); but if the return type is CompletableFuture<T>, it spread CompletableFutureImpl as a plain object
**Expected behavior**
(Describe the expected behavior clearly and concisely.)
[code]
the schema in openapi doc should be `string`
**Actual b

[2020-04-09 09:53] gsmet commented on #8498
/cc @iocanel @geoand

[2020-04-09 09:55] #8421 closed

[2020-04-09 09:57] geoand commented on #8498
Yes, we need another set of username/password, otherwise we can't make it work properly.

I will fix that.

[2020-04-09 10:28] sberyozkin commented on #8375
Hi @JiriOndrusek np at all  and thanks for the interesting feedback.
It is all probably not too bad then for the most mainstream parsers. The native image compilation itself is not a problem (except for those that I excluded - to be honest I don't know if anyone even uses those parsers), PDF/ODF/old Excel (the tests have an excel file), they are good. We can only find out about the other parsers I

[2020-04-09 10:39] JiriOndrusek commented on #8375
@sberyozkin
I'was trying following properties:

quarkus.tika.parser.office = org.apache.tika.parser.microsoft.OfficeParser
quarkus.tika.parser.image = org.apache.tika.parser.image.ImageParser
quarkus.tika.parser.xml = org.apache.tika.parser.xml.DcXMLParser

[2020-04-09 10:56] brahimk commented on #7129
@mraible I have the same problem.

I specified the redirect-path but when it's called this url don't have the HTTPS protocol.
It is the good url but without the S of https.

My configuration :
quarkus.oidc.auth-server-url=https://MYURL
quarkus.oidc.application-type=web-app
quarkus.oidc.introspection-path=/.well-known/openid-configuration
quarkus.oidc.authentication.scopes=profile,email,myroles
qua

[2020-04-09 11:09] sberyozkin commented on #8375
@JiriOndrusek Thanks, [OfficeParser](https://github.com/apache/tika/blob/master/tika-parsers/src/main/java/org/apache/tika/parser/microsoft/OfficeParser.java) is based on poi so #6549 may be specific to some specific `DOCX` files

[2020-04-09 11:10] jmartisk opened #8502 "Make Jaeger metrics more consistent with other extensions"
- Turn them off by default unless they are enabled by a property `quarkus.jaeger.metrics.enabled`
- Eagerly register metrics during build by using the SPI from `quarkus-smallrye-metrics-spi` (at least those where it's appropriate, it might not be appropriate in all cases)
- Preferably add a test to verify the functionality of metrics

[2020-04-09 11:33] FreifeldRoyi opened #8503 "Monitoring # of active reactive streams"
Hi all
Is there a way to monitor the number of active reactive streams currently running/handled by the service ?

Thnx

[2020-04-09 11:40] hartimcwildfly commented on #5226
Ticket can be closed.

[2020-04-09 11:40] hartimcwildfly commented on #6606
Ticket can be closed.

[2020-04-09 11:47] vc-void opened #8504 "Changes to superclass are not transacted"
**Describe the bug**
Class A has protected field X. Class B extends A. If during a method annotated with @Transactional an instance of class B edits field X directly, changes to field X wont be transacted.

**Expected behavior**
Changes to field X should be transacted

**Actual behavior**
Changes to field X aren't reflected in the DB

**To Reproduce**
Steps to reproduce the behavior:
The test proj

[2020-04-09 11:48] #6606 closed

[2020-04-09 11:50] #5226 closed

[2020-04-09 12:19] pedroigor commented on #8478
@tpenakov I see now. It seems the behavior can be explained due to the fact that when you define a body CIP in your configuration, the extension produces a `RequireBodyHandlerBuildItem` which was added as a fix for extensions that need to read the body prior to invoking the application while still allowing the application to also read the body.

The `RequireBodyHandlerBuildItem` is a marker that c

[2020-04-09 13:13] FroMage commented on #5394
Well, are we generating those kafka classes? Where are they defined or coming from? Do we own that code?

[2020-04-09 13:15] #8417 closed

[2020-04-09 13:37] iwangxiaodong commented on #8067
@geoand @gwenneg

I got to the root of the problem.

My Windows OS Locale is **Chinese**,

Though Graal native-image build is succeeded,

But runtime execute hi.exe is NoSuchMethodError.

This error is Graal native-image‘s problem, I switch OS Locale to English it works!

---------------------------------------------------------------------
[code]

C:\Users\xiaodong\Desktop\demo>java Hi
Picked up

[2020-04-09 13:43] rsvoboda opened #8506 "Improve OOTB experience with extensions for newly generated projects"
### Description
Improve OOTB experience with extensions for newly generated projects.

There are several extension which are requiring configuration eagerly and this breaks "1) generate the bootstrap app 2) run dev mode 3) enjoy" flow / developer joy.

### Analysis
Identified extensions needing initial configuration:
[code]
Note: this list was composed some time ago (~ 2020-03-10), anyway, a good

[2020-04-09 14:07] arvidvillen opened #8507 "container-image-docker erroneously logs "Pushed container image...""
**Describe the bug**
When building docker images, the docker extension erroneously logs `Pushed container image...`
[code]

**Expected behavior**
Do not log that the image is pushed if it was not.

**Actual behavior**
Always logs `Pushed container image ...` even if the image not pushed.

**To Reproduce**
Steps to reproduce the behavior:
1. ./mvnw quarkus:add-extension -Dextensions="container-imag

[2020-04-09 14:08] #8498 closed

[2020-04-09 14:33] aloubyansky commented on #8363
This issue was fixed in #8340

[2020-04-09 14:33] #8363 closed

[2020-04-09 14:53] MarianMacik commented on #6885
@gastaldi WIth version 1.3.0.Final this doesn't happen anymore. Did you fix it?

[2020-04-09 14:56] gastaldi commented on #6885
I don't remember TBH, maybe @aloubyansky did it. Closing this is Out of date then. Thank you!

[2020-04-09 14:56] #6885 closed

[2020-04-09 14:58] MarianMacik commented on #6885
Thanks!

[2020-04-09 15:04] Sanne commented on #8437
hi, I like the idea but please be careful with defaults. We have several libraries which include a ton of unnecessary resources: license files, demo scripts, a dozen example configuration files.

Traditional jar files are often crafted for convenience. Have a look within the `jgroups.jar` file for an example of stuff we'd definitely not want to include by default.

[2020-04-09 15:15] elamotte7 commented on #6105
Hi everyone,

any news about this topic?

We were able to implement a workaround to overload the security context by configuring restasy.role.based.security to true in the 1.2.x quarkus release.
Only since release 1.3.x it doesn't work anymore. We have 403 http return code even if the @RolesAllowed({"role1", "role2"}) annotation is set on our resource.

What is the right way to override the securi

[2020-04-09 15:20] Ladicek opened #8508 "missing documentation for HTTPS with 2way TLS (aka mutual TLS, aka client cert auth)"
**Describe the bug**
I'm trying to use client certificate authentication with Quarkus, and I didn't find documentation for it. In fact, I didn't find documentation for 2 things:

1. How to enable client cert auth. Clearly the configuration properties are there ([trust store](https://quarkus.io/guides/all-config#quarkus-vertx-http_quarkus.http.ssl.certificate.trust-store-file), [client auth](https:

[2020-04-09 15:21] Ladicek commented on #8508
I don't know who's responsible here, so I'll wildly guess some people that might know who to add :-) CC @sberyozkin @stuartwdouglas

[2020-04-09 15:28] sberyozkin commented on #8506
Re OIDC, it has a `tenant-enable` property set to true by default. IMHO it would not be ideal to start without the OIDC server being around in a non-dev mode so I'm not sure how to deal with it such that it is possible to add the connection properties in the dev mode but not in the dev mode. CC @stuartwdouglas

[2020-04-09 15:31] #8481 closed

[2020-04-09 15:34] kdubb commented on #8479
The error is related to invalid state deep inside Kotlin's library. Here is the stack trace...
[code]

[2020-04-09 16:06] tpenakov commented on #8478
Thank you @pedroigor !
So if I wrote a simple extension on my end which will produce a `RequireBodyHandlerBuildItem`, this will workaround the problem with missing `{request.body}` cip? Right?

About is the body CIP is working fine - My point of view as a developer is that in addition we need to have an explicit key that enable/disable body reusing. May be something like `quarkus.vertx.reuse-reque

[2020-04-09 16:24] FreifeldRoyi opened #8509 "Importing libs with Provider"
Hey,
I created a multi-module project with common classes being used in different Quarkus modules in my project.
For example the common module, contains `ExceptionMapper`s that are used throughout my code, with `@Provider` annotation.
I couldn't get the mappers to run. Do I need to do something special in order to make it work ?

Thank you

[2020-04-09 16:26] GregJohnStewart commented on #7156
@daggerok Yes I see the same behavior... looks like something isn't properly moving resources around in test?

Also tested in 1.3.2, no change

[2020-04-09 17:10] aloubyansky commented on #7156
I'll fix it.

[2020-04-09 17:54] dante-ricalde commented on #5781
solved adding this buildscript in child build.gradle with version 1.3.2.Final

buildscript {
    repositories {
        gradlePluginPortal()
    }
    dependencies {
        classpath "io.quarkus:io.quarkus.gradle.plugin:$quarkusPluginVersion"
    }
}

[2020-04-09 18:01] asodja commented on #8509
You probably want to index them. Check this:
https://quarkus.io/guides/cdi-reference#how-to-generate-a-jandex-index.

I think you want something similar as it was asked here:
https://stackoverflow.com/a/55513723 -> Check Indexing other dependencies part.

[2020-04-09 18:25] zeljkot opened #8510 "container-image-jib build missing io.census dependency"
**Describe the bug**
An exception is thrown while building the image

[code]

**Expected behavior**
Smooth build,

**Actual behavior**
Dependency to recent opencensus-api must be added; one in quarkus-smallrye-tracing will not work.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help explain your problem.)

[2020-04-09 19:05] ShubhamRwt commented on #6834
Hello @geoand , I would like to work on this issue.

[2020-04-09 19:11] geoand commented on #8510
Hi,

Mind sharing you `pom.xml`?
I wasn't able to reproduce the problem in a simple example with either `1.3.2.Final` or `master`.

[2020-04-09 19:19] EricWittmann commented on #8492
/cc @phillip-kruger and @MikeEdgar

[2020-04-09 19:20] EricWittmann commented on #8499
/cc @phillip-kruger and @MikeEdgar

I seem to recall that there is specific handling in SmallRye for `CompletionStage`, but my memory is hazy and getting hazier.  :)

[2020-04-09 19:23] geoand commented on #6834
Feel free to pick it up @ShubhamRwt

[2020-04-09 19:27] ShubhamRwt commented on #6834
Can you give me a brief description for this issue, It would really help. Thankyou

[2020-04-09 19:27] zeljkot commented on #8510
Hi, please try this anonymized version
[pom.txt](https://github.com/quarkusio/quarkus/files/4458206/pom.txt)

[2020-04-09 19:30] geoand commented on #8510
Hm... Seems like a lot of stuff...
Which one of those dependencies could be bringing in OpenCensus?

I tried a simple project with the jib and opentracing extensions and it worked fine.

[2020-04-09 19:41] thesteve0 commented on #6615
Nice! Thanks so much. I guess we should find a way to move into the
official doc or something?

On Thu, Apr 9, 2020 at 12:44 AM Richard Bischof <notifications@github.com>
wrote:

[2020-04-09 19:54] geoand commented on #6834
@alexsoto care you provide some more info?

[2020-04-09 20:01] nimo23 commented on #8439
So the lib-directoy will be pre-indexed on compile. Then I am wondering wheter it can
also benefit from creating (or bypassing the need) for a (detailed) jandex index in quarkus? It sounds like the jandex and this classpath index can be substituted or if not then at least benefit from each other..

[2020-04-09 20:07] gwenneg commented on #8483
I tested your reproducer with #8227 and it is still failing, so this issue doesn't seem related to context propagation as I suspected. I am now trying to identify the cause of the NPE.

[2020-04-09 20:22] lordofthejars commented on #6834
If I remember correctly it was about be able to set the serviceaccountname
from application.properties, but maybe this is possible right now

El jue., 9 abr. 2020 21:54, Georgios Andrianakis <notifications@github.com>
escribió:

[2020-04-09 21:14] gwenneg commented on #8483
The issue here is most probably the same one as in #8221.

[2020-04-09 21:21] famod commented on #8466
Those Idea Quarkus Tools are not hosted here but there: https://github.com/redhat-developer/intellij-quarkus

[2020-04-09 21:21] famod commented on #8462
Those Idea Quarkus Tools are not hosted here but there: https://github.com/redhat-developer/intellij-quarkus

[2020-04-09 21:57] #8425 closed

[2020-04-09 22:36] pedroigor commented on #4481
@sberyozkin Sent a PR with the initial set of changes. Do you think we should have something in the guide for this too? Or the documentation added to the new configuration options are enough ?

I'll spend a bit more time trying to figure out a way to prevent the logout endpoint from CSRF attacks. As we discussed, it seems there is no way to prevent CSRF without impacting UX. At the same time, the

[2020-04-10 00:28] xmlking commented on #8402
I tested the same code on another computer, and it works. maybe my environmental issues.
sorry for the trouble. we can close this issue.

[2020-04-10 00:34] xmlking commented on #8402
i am conforming on MacOS
AdoptOpenJDK 11.0.6.j9-adpt - Don't Work
AdoptOpenJDK 11.0.6.hs-adpt - Works

[2020-04-10 03:47] zeppelinux commented on #6421
@tandraschko @newk5  I checked both your projects and getting 'the same Forbidden' message on the index page (the log looks good).

Building/running using Java 14 (OpenJDK Runtime Environment AdoptOpenJDK (build 14+36)), tried to run in GraalVM (graalvm-ce-java11-20.0.0) - same thing.

[2020-04-10 04:58] geoand commented on #8402
So it doesn't work on OpenJ9, that's interesting.

We haven't really tested on OpenJ9 and I don't know if Gradle itself has been tested on it either.

So I'll close this as it works on regular OpenJDK

[2020-04-10 04:58] #8402 closed

[2020-04-10 06:27] cescoffier commented on #5254
Related to #8168.

SASL itself is working, the issue is Jaas

[2020-04-10 07:41] #8509 closed

[2020-04-10 07:44] tandraschko commented on #6421
Did you call Index.xhtml in the Url?
Root/Welcomefile is a missing feature 😅

[2020-04-10 08:15] geoand commented on #8510
Can you please check the output of

[code]

and see where OpenCensus shows up?

[2020-04-10 08:16] zeppelinux commented on #6421
I didn't (and feel incredibly stupid :) Thanks!

[2020-04-10 08:27] zeljkot commented on #8510
* com.coreos:jetcd-core:jar:0.0.2
  * io.grpc:grpc-core:jar:1.9.1 (compile)
    * io.opencensus:opencensus-api:jar:0.10.0

* com.google.cloud.tools:jib-core:jar:0.13.1 (compile)
  * com.google.http-client:google-http-client:jar:1.34.0 (runtime)
    * io.opencensus:opencensus-contrib-http-util:jar:0.24.0 (runtime)

[2020-04-10 08:33] geoand commented on #8510
I am afraid there isn't much we can do in this case, since we aren't bringing in `jetcd-core` (which is responsible for the very old `opencensus-api` dependency), the application is.

You can try forcing the version of  `io.opencensus:opencensus-api` to `0.24.0`, but your mileage may vary.

I'm closing this since it isn't a Quarkus bug. Feel free to reopen if you feel differently and please provid

[2020-04-10 08:33] #8510 closed

[2020-04-10 08:48] geoand commented on #8507
Thanks for spotting this!

#8517 should take care of it.

[2020-04-10 09:41] #8023 closed

[2020-04-10 09:54] #7637 closed

[2020-04-10 10:27] 38leinaD opened #8519 "quarkusDev under Gradle uses web resources from src/main/resources/META-INF/resources only"
**Description**
For quarkus:dev under Maven, static resources like html is looked up under src/main/resources/META-INF/resources and target/classes/resources/META-INF/resources.
This is useful because e.g. as describe in [Quarkus and Web UI Development](https://quarkus.io/blog/quarkus-and-web-ui-development-mode/), you might not have your resources under src/main/resources but have a seperate npm-

[2020-04-10 10:44] duclm2609 commented on #1658
Surprisingly that there's still no official support for Oracle JDBC. I really want to try out Quarkus in production but this issue is preventing me from doing this.

[2020-04-10 11:05] #8507 closed

[2020-04-10 11:49] gastaldi commented on #1658
@duclm2609 you can simply add the Oracle JDBC driver in your pom.xml and it should work fine (unless you compile to native).

[2020-04-10 13:08] #7900 closed

[2020-04-10 13:30] #8291 closed

[2020-04-10 13:34] zeljkot opened #8523 "container-image-docker silently fails"
**Describe the bug**
If Docker daemon is not available, build finishes with success even if Docker image creation fails. This is big issue in CI environment.

[code]
No Docker image was generated.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Build should fail if image cannot be created.

**Actual behavior**
(Describe the actual behavior clearly and concisely.)
Bui

[2020-04-10 13:54] masini commented on #1658
Well, not at all, you cannot create a native image with Oracle JDBC.

Il giorno ven 10 apr 2020 alle ore 13:49 George Gastaldi <
notifications@github.com> ha scritto:

--
****************************************
http://www.lucamasini.net
http://twitter.com/lmasini
http://www.linkedin.com/pub/luca-masini/7/10/2b9
****************************************

[2020-04-10 13:56] gastaldi commented on #1658
That's what I meant with the `(unless you compile to native)` :wink:

[2020-04-10 14:03] pedroigor commented on #8478
@tpenakov I think I found the issue. Sent a PR. If you could try it out, I appreciate.

The issue is that the workaround I did for an issue in Keycloak (see KEYCLOAK-12412) was expecting a content-type to be set.

Another thing you can try is also to force a content-type. Which should not give you that error.

[2020-04-10 14:07] michael-schnell opened #8525 "Enhance JavaDoc for "quarkus-hibernate-orm" and "quarkus-hibernate-orm-deployment""
Currently there is almost no JavaDoc in "quarkus-hibernate-orm" or "quarkus-hibernate-orm-deployment". This makes it really hard, even for experienced developers, to work on this code.

More information needs to be added to all types & methods explaining the purpose.

[2020-04-10 14:11] michael-schnell commented on #5681
OK, finally got it working. To be honest, the documentation in "quarkus-hibernate-orm" and "quarkus-hibernate-orm-deployment" is a mess... Almost no classes and no methods have any JavaDoc. I created another task with request to clean this up: See issue #8255

Only thing that remains is the [DataSourceTenantConnectionResolver](https://github.com/michael-schnell/quarkus/blob/master/extensions/hiber

[2020-04-10 14:12] masini commented on #1658
Ops, I need an holiday from quarantine

Il giorno ven 10 apr 2020 alle ore 15:57 George Gastaldi <
notifications@github.com> ha scritto:

--
****************************************
http://www.lucamasini.net
http://twitter.com/lmasini
http://www.linkedin.com/pub/luca-masini/7/10/2b9
****************************************

[2020-04-10 14:20] pedroigor commented on #8478
@stuartwdouglas Do you think that makes sense to have a configuration to enable the body handler, as suggested by @tpenakov ?

[2020-04-10 14:22] tpenakov commented on #8478
Thank you @pedroigor !
I assume that this will go live in 1.3.3.Final or 1.4.0.Final?

Just for the info - I've created a simple [re-read-http-request-body](https://github.com/tpenakov/otaibe-commons-quarkus/tree/master/re-read-http-request-body) Quarkus extension and now I can comment the row:
[code]
from the `application.properties` file.

[2020-04-10 14:27] Ishaan1342 commented on #1909
How do I get started on this issue? I'm familiar with maven, java and docker.
Thanks.

[2020-04-10 14:42] zeljkot commented on #8523
After checking the source code, I found out that message is misleading: a warning will be shown if there is no Docker on a host (no binaries), not just if it cannot connect to the daemon.

[2020-04-10 14:49] gustf commented on #820
Hi there, any info if and when this will be prioritized/implemented?

[2020-04-10 14:56] gsmet commented on #8523
/cc @iocanel @geoand

[2020-04-10 15:08] geoand commented on #8523
Good catch. I'll fix it soon.

[2020-04-10 16:20] #8478 closed

[2020-04-10 16:23] geoand commented on #8523
I opened #8527.

In there I haven't made the build fail (which I don't think is the proper behavior), but I instead improved the error messages.

[2020-04-10 16:43] zeljkot commented on #8523
Build should fail because an artifact is not produced. I spent couple of hours trying to figure out why GitLab CI does not work as expected, trying to deploy *nothing* or old image to Kubernetes cluster with Helm. So many layers to debug.

You would fail the build if you could not produce JAR or uploaded it repo. The same should apply to image. Please make it fail.

[2020-04-10 16:46] geoand commented on #8523
Although I don't agree, I could be persuaded to do it.

@gastaldi @maxandersen @Ladicek WDYT?

[2020-04-10 17:02] gastaldi commented on #8523
Correct me if I'm wrong but, considering that the resulting artifact of the build is an image and that is not produced in this case I agree with @zeljkot that the build must fail.

I don't think this behavior needs to be configurable, unless there is an option to skip the image generation completely.

[2020-04-10 17:09] geoand commented on #8523
The image generation is opt-in, so I guess it does make sense to fail even when it's not our fault.

I'll wait for more feedback however before changing the behavior (which would be a breaking change BTW, which is why I suggested it being configurable).

[2020-04-10 17:10] gastaldi opened #8530 "Support Neo4j-OGM in the Neo4j extension"
**Description**
The [Neo4j Extension guide](https://quarkus.io/guides/neo4j) states that you need to use the Neo4j Cypher language to manipulate your Neo4j database. It would be nice if one could to simplify development with the Neo4j graph database and like JPA, using annotations on simple POJO domain objects.

That's the intention of the  [Neo4j-OGM](https://github.com/neo4j/neo4j-ogm) project

[2020-04-10 17:10] gastaldi commented on #8530
/cc @michael-simons

[2020-04-10 17:15] gsmet commented on #8523
I think it should fail too if the user is expecting an image to be produced and the image fails to be produced.

And let's not add too many configuration knobs. We agreed we would break things from time to time if it was for the better. Looks like it's the case here?

Moreover, I don't see a user happy that the build hasn't failed while the expected image (you said it was opt-in?) hadn't been prod

[2020-04-10 17:19] michael-simons commented on #8530
While there actually people using OGM in CDI scenarios, it would definitely not work in native mode. Thinks that would be needed: A class index (probably Yandex), replacement for the reflection based entity instantiation and a couple of other things.

I’ll raise this in our team at least for discussion.

[2020-04-10 17:28] newk5 commented on #7269
@gsmet it seems like there's already an issue created: #7678
About the TimeZoneNames exception, unless this is happening on all quarkus apps, it seems to be an additional JSF config to add in the application.properties. Do you think I should create an issue for that one?

[2020-04-10 17:28] geoand commented on #8523
Point taken, I'll update the PR.

[2020-04-10 17:33] diogocarleto opened #8531 "quarkus-mongodb-panache $in aggregator problems"
Hi guys.

I've noticed today that $in operator does not work.
Suppose we have the entity Product:

[code]

when I try to execute:

`MongoOperations.find(Product.class, "{ 'colors': { '$in': ?1 } }", Arrays.asList("white", "blue")).count();`

it throws `Command failed with error 2 (BadValue): '$in needs an array' on server localhost:27017. The full response is {"ok": 0.0, "errmsg": "$in needs an ar

[2020-04-10 18:25] diogocarleto commented on #8531
Sorry guys, I've just discovered that if I use:

`MongoOperations.find(Product.class, "{ 'colors': { '$in': ['blue'] } }"). firstResult()`

it works.

[2020-04-10 18:43] #8447 closed

[2020-04-10 18:52] aelfric commented on #8445
I need to install another program in my docker image that depends on `openssl`.  If I leave `openssl` in the `microdnf install ...` line, I get the same error described in the ticket, but if I remove it, then when the second package is installed, the docker build fails because openssl is a dependency and is not installed.  Anything I can do in my situation?

[2020-04-10 19:04] emmanuelbernard commented on #820
Paolo and Clément have been working on it in the past few weeks. If you
want preview it, it should not be loo long

On Fri 10 Apr 2020 at 16:49, Gustaf Andersson <notifications@github.com>
wrote:

[2020-04-10 19:25] gustf commented on #820
Sounds awesome! Thanks for info!

[2020-04-10 19:32] #8523 closed

[2020-04-10 20:27] rsvoboda opened #8534 "dev mode doesn't recover when an invalid value (typo, space) is added to logging level configuration"
Dev mode doesn't recover when an invalid value (typo, space) is added to logging level configuration
When the value is corrected, Quarkus still isn't able to restart itself.

Reproducer:
[code]

Log reports:
[code]

Stacktrace from http://localhost:8080/hello
[code]

[2020-04-11 01:04] MikeEdgar commented on #8492
@rainmanhhh - can you give an example? A test I ran of the scenario you seem to be describing produces results that include the `format` property.

Resource:
[code]

Generated OpenAPI:
[code]

[2020-04-11 06:34] heike2718 commented on #7932
still open with Quarkus 1.3.2-Final.

[2020-04-11 09:20] Gui-Yom commented on #7986
I have the same issue with gradle 6.4
[code]

[2020-04-11 10:00] k0staa commented on #6513
Thanks @gastaldi . I edited my post and also I change build command in my project.

[2020-04-11 13:49] michael-schnell commented on #5681
### Current Status
- Both SCHEMA and DATABASE approach works now (Code is in my [forked repo](https://github.com/michael-schnell/quarkus/tree/master/extensions/hibernate-orm))
- There is now also a new [Quickstart](https://github.com/michael-schnell/quarkus-quickstarts/tree/master/hibernate-orm-quickstart-multi-tenancy) that can be used to test the multitenancy with SCHEMA or DATABASE approach

##

[2020-04-11 14:21] debae commented on #5812
Should an issue be created here https://github.com/rikcarve/mp-config-consul in order to have this fixed ?

[2020-04-11 14:47] smitopher commented on #6293
Will this apply to the DB2/400 flavor?  I expect the jt400 version is possible but not the "native" drivers

[2020-04-11 15:10] aguibert commented on #6293
hi @smitopher, I am least familiar with DB2/400 out of the DB2 distro's, so I will have to check with my IBM i colleagues next week. The native drivers would not be an option because Quarkus in general cannot do compile-to-native on IBM i anyway. The jt400 driver would certainly work, but it will likely require some additional changes to get it working in native mode.

The driver we have been work

[2020-04-11 17:19] smitopher commented on #6293
Thank you @aguibert
I think the IBM i (ugh... it's AS/400 dammit) supports the DB2 Universal Driver.  Do you have a Maven dependency I could try out?

[2020-04-11 17:25] smitopher commented on #6293
@aguibert ... uhm... you are in rochester??? and DB2/400 is you're...ahh... least familiar DB2 flavor??? hehehe...  14 years ago, I worked there for a year as part of a joint project with Synon for about a year.
I look forward to what you have available and being able to test it.

[2020-04-11 20:10] AmsterdamFilho opened #8538 "RequestScoped context is not propagated using rest-client and mutiny"
**Describe the bug**
When using Mutiny, rest-client and context propagation, the request context is not propagated.

**Expected behavior**
The context is propagated.

**Actual behavior**
The following exception is thrown:
ERROR [org.jbo.res.res.i18n] (pool-4-thread-2) RESTEASY002020: Unhandled asynchronous exception, sending back 500: javax.ws.rs.ProcessingException: javax.enterprise.context.Conte

[2020-04-11 20:35] zeljkot commented on #6531
AFAIK for Docker build you need "dind", and then you can either run CI on Docker image or use whatever you want and use job-specific Docker image just for the build job.

Another option would be to use JIB, but I cannot figure out how to configure credential properly  - it always ends up with 403. I came here because I was wondering did anybody ask for CI guide for jib.

[2020-04-11 23:43] aguibert commented on #6293
I started out working in IBM i too actually (file system for a brief internship) but I've happily been in Java/WebSphere land since that first year and didn't care to look back ;)

I linked the maven dependency for the DB2 Universal driver in my previous comment. Give it a try with a DB2/400 backend and let me know if it works (in Quarkus JVM mode of course, native won't work yet with any DB2 dist

[2020-04-12 06:09] #7104 closed

[2020-04-12 06:29] piyushwadhwani commented on #2414
encountering same issue with ubuntu 18.04 and graal VM

Error: policy com.oracle.svm.core.genscavenge.CollectionPolicy cannot be instantiated.
com.oracle.svm.core.util.UserError$UserException: policy com.oracle.svm.core.genscavenge.CollectionPolicy cannot be instantiated.
	at com.oracle.svm.core.util.UserError.abort(UserError.java:68)
	at com.oracle.svm.core.genscavenge.HeapPolicy.instantiatePolic

[2020-04-12 07:11] maxandersen commented on #4361
This info is missing from ` src/main/asciidoc/writing-extensions.adoc` - just need to a add a table or similar to document the various fields.

[2020-04-12 07:13] maxandersen commented on #4566
closing this and putting leftovers on #5962

[2020-04-12 07:13] #4566 closed

[2020-04-12 07:19] maxandersen commented on #5920
@geoand @iocanel the one "big thing" missing in this is to have it working with but not needing kubectl/oc/docker to authenticate/build - how far are we actually from that ? can we pass in username/passwords or in case of missing kubeconfig credentials do the login and update the kubeconfig for future operations ?

[2020-04-12 07:26] maxandersen commented on #5917
yes, I would like to see some movement on this - pinged @stuartwdouglas on the feasibility of it since to make quarkus really "fit in" to these existing workflows and be simple to setup we do need quarkus devmode to be a bit more complex to allow reload from changed classes/resources rather do a full mvn/gradle compile on change.

[2020-04-12 07:30] cescoffier opened #8541 "Add Kafka tests using the Apicurio Avro support"
**Description**
Replicate the Avro test but use the serde provided by Apicurio

**Implementation ideas**

Check if the native mode works as it's a limitation from the Confluent Avro support.

[2020-04-12 07:31] maxandersen commented on #5931
I do think this would be excellent to do, but I'm okey moving it on planned roadmap as for now. The minute we got someone who can/will own it then lets put i back on :)

[2020-04-12 07:32] maxandersen commented on #5931
@metacosm @iocanel still interested ?

[2020-04-12 07:33] maxandersen commented on #5962
added the "leftovers" so using this as the "hub" for platform work.

[2020-04-12 07:33] metacosm commented on #5931
Yep! I’ll take a look this week.

[2020-04-12 07:37] maxandersen commented on #6322
I did back in december call it a duplicate of #6025 but with all the breakage we've seen in scaffolding just because we still only use string templates I'm going to reopen this one as its on its own should be feasible to do and help us alot on avoiding breakages.

[2020-04-12 07:37] geoand commented on #5920
We don't have that AFAIK.
@iocanel the client can do that can't it? So it's just of matter of supplying the proper Quarkus configuration, right?

[2020-04-12 07:38] maxandersen commented on #6025
@quintesse did Creator become useful on its own in meantime ?

[2020-04-12 08:34] iocanel commented on #5920
The client can use raw token for Kubernetes and Openshift. Also is able to
use username/password for Openshift.

For docker authentication, build and push we have lot of options. Maybe
Rohan and Marc can help with that.

On Sun, Apr 12, 2020, 10:38 Georgios Andrianakis <notifications@github.com>
wrote:

[2020-04-12 09:13] michael-schnell commented on #5681
Should I add a section to the existing [QUARKUS - USING HIBERNATE ORM AND JPA](https://quarkus.io/guides/hibernate-orm) documentation or create a new "QUARKUS - MULTITENANCY HIBERNATE ORM" guide?

[2020-04-12 09:50] FreifeldRoyi commented on #8509
Works thnx!

[2020-04-12 15:35] csotiriou opened #8543 "Rest Client does not propagate errors correctly in Async mode (Uni, RxJava)"
**Describe the bug**
It seems that when using the asynchronous REST Client operators (~~either CompletionStage,~~ rxJava 2.x operators, or the Mutiny operators), when the REST client encounters an error like 404, it is not able to call any exception mappers correctly, thus making it impossible to handle any HTTP errors from the rest client.

This was reported before, and either the fix applied was

[2020-04-12 15:37] csotiriou commented on #3655
@FroMage @asoldano Sorry to dig up this olf thread, but It seems that the issue persists in version 1.3.2.Final. I opened a new issue about this here (since this one was closed):

https://github.com/quarkusio/quarkus/issues/8543

[2020-04-12 17:08] miron4dev commented on #3954
Any news?

I was able to get around this problem by explicitly adding Jackson annotations.
So, this code works in JVM mode but doesn't in native mode

[code]

but this code works in both JVM and native modes.
[code]

Moreover, this workaround keeps the class immutable.

However, it pollutes my class and I expect to write code without any Jackson annotations as in the first example.

[2020-04-12 17:18] geoand commented on #3954
@miron4dev is that class part of a jax-rs method (I assume it's the payload of a POST request)?

[2020-04-12 17:27] miron4dev commented on #3954
@geoand yes, it's the payload of a POST request.

[2020-04-12 18:29] michael-schnell commented on #5681
Can someone review?

https://github.com/quarkusio/quarkus/pull/8542

[2020-04-12 19:57] fiorenzino commented on #8530
Hi,
some days ago, i started to play with neo4j-ogm. I have problems with classloader in dev mode (mvn compile quarkus:dev - neo4j-ogm don't see the java classes with @NodeEntity annotation). In test and in java mode (running java -jar target/xxx.jar) quarkus and neo4j-ogm work correctly.
I would like to investigate if I can identify the classes to be highlighted for reflection to have quarkus in

[2020-04-12 20:20] gastaldi commented on #8530
As Michael beforementioned, you'd need to read from the Jandex index instead

Em Dom, 12 de abr de 2020 16:57, fiorenzo pizza <notifications@github.com>
escreveu:

[2020-04-12 20:44] fiorenzino commented on #8530
HI @gastaldi
In a specific extension, at deployment stage, i understand (using Jandex, we could create a SessionFactory using jandex index, to find @NodeEntity java classes annotated, and also replace the native neo4j-OGM way to create a SessionFactory using a package parameter to read all entities). But in the simple java code, with neo4j jar dependency, why the class loader is different?
Why the

[2020-04-13 03:15] stuartwdouglas commented on #5917
So bits of this are more complex than others. It is really simple to make the existing dev mode work with binary changes, as the current dev mode is a two stage process (compile, then check for changed .class files), we can essentially just skip phase 1.

If you want to take a production mode image and run it in remote dev mode then this is a bit more involved.

[2020-04-13 06:37] geoand commented on #6834
@ShubhamRwt actually I think that myself and / or @iocanel will handle this one.

The reason is that I think there are multiple things that need to be done here.

[2020-04-13 06:41] debae commented on #5812
I created this ticket and will solve it in that project https://github.com/rikcarve/mp-config-consul/issues/8 , so this ticket can be closed I assume @dmlloyd  ?

[2020-04-13 06:46] geoand commented on #5812
Closing this because it doesn't have to do with Quarkus itself.

[2020-04-13 06:46] #5812 closed

[2020-04-13 07:14] ShubhamRwt commented on #4982
@gastaldi I did some research on this issue. I guess we would need to use pom itself to generate gradle wrapper but for that we might require some external dependency.

[2020-04-13 07:28] loicmathieu commented on #8531
@diogocarleto thanks for reporting it, we don't need a reproducer as it is clearly a bug ;)

Do you want to try to fix it ? I can help on this ;)
If not, I'll fix it, no worry.

A small remarks, MongoOperations are not designed to be used directly, you should normally use an entity extending `PanacheMongoEntity` or a repository extendin `PanacheMongoRepository`.

[2020-04-13 08:53] 38leinaD opened #8546 "WebFilter is not able to modify response when running with quarkus:dev"
**Describe the bug**
I have written a @WebFilter (using HttpServletResponseWrapper) that wants to modify/rewrite a response (see code at end of issue description). The implementation works fine when quarkus is running "normally"; it is not working when running via "quarkus:dev".
It is not possible to modify the the contentLength, contentType or body. The browser receives the original headers but n

[2020-04-13 09:04] michael-schnell opened #8547 "Only specifying named datasources (no default) fails with "cannot guess the dialect""
**Describe the bug**
Only specifying named datasources and no default datasource fails with the following exception:

[code]

Example for a failing config:

[code]

Same with an additional default datasource works fine:

[code]

**Expected behavior**
A default datasource should not be required in case only named ones are wanted.

**Actual behavior**
Build fails without a default datasource.

[2020-04-13 09:41] diogocarleto commented on #8531
Hi @loicmathieu, you are welcome.

I can work on this. How is the workflow for bug fix?

Best.

[2020-04-13 10:10] loicmathieu commented on #8531
@diogocarleto very simple indead ;) All is documented inside https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md

1. Fork the repo.
2. Fix the bug (include a test first is better) inside `extentions/panache/mongodb-panache/runtime` module.
3. Push to your repo and wait that the build is inside your own repo to avoid too much CI job on Quarkus repo side: https://github.com/quarkusio/qu

[2020-04-13 10:20] michael-schnell opened #8548 "Native mode fails with "Type `org.flywaydb.core.Flyway` can not be instantiated reflectively""
**Describe the bug**
Flyway migration works fine at runtime, but fails in native mode with error "Type `org.flywaydb.core.Flyway` can not be instantiated reflectively":

[code]
**Expected behavior**
Same configuration should work at runtime **and** in native mode.

**Actual behavior**
Native mode works not correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout fork with new [Hib

[2020-04-13 11:47] MikeEdgar commented on #8499
This should be fixed for SmallRye OpenAPI 2.0 (PR smallrye/smallrye-open-api#294). A work around for 1.x would be to specify the response type using an annotation.

Example:
[code]

[2020-04-13 18:16] oscarfh opened #8553 "YAML Configuration ignores entries that use `.` instead of line breaks"
**Describe the bug**
The configuration yaml extension does not parse configurations correctly when they are in the format
[code]

***Details***
I generated my application using https://code.quarkus.io/ and I selected the configuration yaml extension.
I renamed `application.properties` to `application.yaml` and added the entry (my config file has only this)
[code]
This entry is ignored and my logs

[2020-04-13 18:55] dmlloyd commented on #8553
While "quarkus.log.level: DEBUG" is a valid YAML entry, it is not equivalent to
[code]
at a YAML level.  The mapping of YAML to configuration equates one YAML key to one MP Config key segment.

So this is really a feature request to interpret single YAML keys with embedded dots in the same way as YAML nested maps, which is not part of the YAML specification.  But doing so would prevent things like

[2020-04-13 19:06] oscarfh commented on #8553
Ok, thanks for the reply. It makes sense.
I thought that category names would be expressed between quotes
as in:
[code]
from https://quarkus.io/guides/logging

I was in the process of trying to clone the project and prepare a PR, but if it is working as expected, I will leave it as it is.

thanks a lot

[2020-04-14 00:39] #7809 closed

[2020-04-14 02:08] rainmanhhh commented on #8492
generated doc is correct, but localhost:8080/swagger-ui/index.html show the param without format(date or date-time)

[2020-04-14 03:17] #8050 closed

[2020-04-14 03:19] stuartwdouglas commented on #6105
The first step I mentioned about deprecating getRoles() and moving to hasRole() has gone in, so I am hoping to address the rest of this this week.

[2020-04-14 04:11] murphye opened #8554 "kubernetes.json and openshift.json are invalid JSON"
**Describe the bug**
The output from `mvn clean package -Dquarkus.container-image.build=true` results in invalid JSON data.

**Expected behavior**
kubernetes.json and openshift.json have valid JSON:

[code]

**Actual behavior**
kubernetes.json and openshift.json have invalid JSON.

It has multiple top-level elements, ie:

[code]

Note: **`oc apply` doesn't seem to care that the JSON is not valid**

[2020-04-14 05:13] geoand commented on #8554
@iocanel I think we have seen this before...

@murphye does this happen with `1.3.2.Final` as well?

[2020-04-14 05:49] rsvoboda commented on #8506
@maxandersen / @paulrobinson please create tasks / checklist of needed actions

I didn't want to interfere in that section with your common workflow.

Should things like https://github.com/quarkusio/quarkus/issues/8534 be part of this epic too?

[2020-04-14 05:51] apat59 opened #8555 "quarkus-quartz using JobStoreTX and not JobStoreCMT"
Hi,
as per [discussion](https://groups.google.com/forum/#!msg/quarkus-dev/5E86jXmzzmY/ri0NbOO-CQAJ)

Stuart Douglas thinks this may be a bug.
Env: quarkus 1.3.2.Final + maven + Postgres

is it expected quakus uses JobStoreTX and not JobStoreCMT with clustered
Quartz and db store type?

We're implementing an application mixing Panache and Quartz, we should
have to handle a global transaction to per

[2020-04-14 06:00] cescoffier commented on #7986
@loicmathieu Yes, we should report that directly in the Mongo client.

Unfortunately, I looked for an alternative but there is none without adding a dependency (Vert.x can resolve the DNS client).

Note that even if Mongo resolves the issue, the usage of JNDI is a "no-go" in native and we would need some kind of substitutions.

[2020-04-14 06:02] cescoffier commented on #820
@gustf The work is done in https://github.com/quarkusio/quarkus-grpc.
It supports native, TLS, mutual auth, interceptors (even if I'm still wondering what would make the most sense for these), all types of interactions and is integrated with Mutiny.

[2020-04-14 06:25] gustf commented on #820
@cescoffier Cool!

[2020-04-14 06:50] stuartwdouglas commented on #8478
I don't know about config to enable the body handler specifically, if it is needed but is not present then this is likely a bug on our side that we would want to fix.

[2020-04-14 07:01] mkouba commented on #8555
CC @machi1990

[2020-04-14 07:54] glefloch commented on #4982
@ShubhamRwt I started looking at this last week.
As @gastaldi said, we can run `gradle wrapper`command in the `platform-descriptor-json` `pom.xml`. This can be done using the `exec-maven-plugin` plugin.

Then in the `CreateProjectMojo` mojo, If an exception occurred while generating the Gradle wrapper, we can fallback to a copy from the platform descriptor.

[2020-04-14 08:07] mkouba opened #8558 "Qute - support easy formatting with java.util.Formatter"
Currently, it's not possible to create a template extension method for `java.lang.String.format(String, Object...)` because Qute generators don't support varargs properly.

[2020-04-14 08:25] gsmet commented on #8492
Ah, so this would be a Swagger UI issue. Better report it there because we just include the webjar in Quarkus.

[2020-04-14 08:25] #8492 closed

[2020-04-14 08:39] sberyozkin opened #8559 "Vertx OAuth2 runs the blocking quarkus-oidc calls in the event loop"
**Describe the bug**
Pedro @pedroigor has found out that when `quarkus-oidc` runs a blocking operation such as a refresh token grant request, it will be executed by Vertx OAuth2 in the event loop as opposed to by the executor thread.

CC @pedroigor @stuartwdouglas

[2020-04-14 09:11] maxandersen opened #8560 "dynamic overrides of platform descriptor"
**Description**
currently to override support tags we have to do rebuilds - that is not great and causes too many last minute rebuilds. see https://github.com/quarkusio/quarkus-platform/pull/47/files for needed changes.

for now code.quarkus will have a custom hack for specific items, but then cli's etc. would not be able to handle it.

Suggestion is to provide another way of overriding it that is

[2020-04-14 09:11] maxandersen commented on #8560
@quarkusio/devtools comments/suggestions ?

[2020-04-14 09:16] machi1990 commented on #8555
I missed the discussion sorry @apat59 and thanks for reporting, but I second what @stuartwdouglas said and we should make this configurable.   I'll prepare a PR on this later on.

[2020-04-14 09:26] geoand opened #8561 "[CI] - Issue for reporting QPid master regressions with Quarkus master"

[2020-04-14 09:37] glefloch commented on #5221
I would like to start working on this if this is ok.

[2020-04-14 09:58] ia3andy commented on #8560
@aloubyansky Maybe that could be done by the resolver?

[2020-04-14 10:17] #8561 closed

[2020-04-14 10:18] snowdrop-bot opened #8562 "[CI] - Issue for reporting QPid master regressions with Quarkus master"

[2020-04-14 10:56] emmanuelbernard commented on #5681
I prefer if @Sanne or @gsmet review. It will be more accurate. Be aware though that this is a difficult time, a lot of the reviewers have confined small children so the todo list is not going down as fast as usual.

For the fact the the interface / class is not found, I am not sure why it is eliminated by GraalVM (and not when you copy it). But you can add a io.quarkus.deployment.builditem.nativei

[2020-04-14 10:57] gastaldi commented on #5221
@glefloch awesome, I've assigned the issue to you :wink:

Thanks!

[2020-04-14 11:20] Sanne commented on #5681
hi @michael-schnell , many thanks for the PR!  I'll try to review it today, maybe tomorrow. Apologies for the delay.

[2020-04-14 11:34] ssenechal5 opened #8564 "keycloak-authorization extension : unable to use it on 1.3.2.Final , is it normal ?"
[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.3.2.Final:build (default) on project wlogger-server: Failed to build quarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
[ERROR]         [error]: Build step io.quarkus.keycloak.pep.deployment.KeycloakPolicyEnforcerBuildStep#setup threw an exception: java.lang.IllegalArgumentException: arg

[2020-04-14 11:39] tfve commented on #8168
So, has anyone found a workaround yet?
@dmlloyd what do you mean with "just the usual registering of things"?

[2020-04-14 11:39] sberyozkin commented on #8564
@ssenechal5 May be there is some version mismatch ?

[2020-04-14 11:55] sberyozkin commented on #6105
@stuartwdouglas Hi Stuart, by the way, what do you think about the idea of optionally starting the whole Quarkus security as the JAX-RS filter ?
Though it can probably be done, if realistic, in the next phase, this is so that we can get a header propagation for free if the service protected by `quarkus-oidc` or `quarkus-smallrye-jwt` uses MP JWT client to propagate the token in a header further, o

[2020-04-14 12:07] dmlloyd commented on #8168
With native images, anything that is expected to be accessible to reflection needs to be registered as such.

[2020-04-14 12:13] cescoffier commented on #8168
No workaround yet, I will go back to it shortly.

[2020-04-14 12:17] diogocarleto commented on #8531
Thanks, I'm going to work on that this week. Is there any channel on slack where I can reach you guys before open new issues?

[2020-04-14 12:36] aloubyansky commented on #8560
Platform descriptor resolver? Why not. That or some kind of "decorator" that is pulling the platform descriptor and applies certain adjustments/completes it to be exposed to the end user. To me, it's a "presentation" kind of info, as well as categories, ordering, etc (comparing to other more technical data). It could be kept as a separate desriptor.

[2020-04-14 12:47] ia3andy commented on #8560
I think we should question ourselves on the whole process to find the correct solution:
- Is the support supposed to be decided before or after a release of the platform?
- Could we decide to change it live for an already existing release?
- Do we also need that for community overrides?

[2020-04-14 12:57] aloubyansky commented on #8560
The issue is about to be able to change this kind of info w/o requiring a new release.

[2020-04-14 13:00] michael-schnell commented on #5681
The problem is already fixed. I found the place to add the class and it works fine now.

[2020-04-14 13:27] michael-schnell commented on #5681
OK, cool. I created another pull request for the feature's quickstart: https://github.com/quarkusio/quarkus-quickstarts/pull/525

[2020-04-14 13:34] murphye commented on #8554
@geoand I meant 1.3.2, not 1.2.1. Was late at night :-)

[2020-04-14 13:52] CDPrete commented on #5267
How did you manage to change the tagline?
I cannot find any property here https://quarkus.io/guides/all-config to change it

[2020-04-14 14:04] Anthony-Janin commented on #6105
Hi guys,

@wfrank2509 @elamotte7

I use this workaround
(do not add quarkus security dependency)

[code]

Regards
Janin Anthony

[2020-04-14 14:04] geoand commented on #5267
It's not configurable at the time being

[2020-04-14 14:35] sberyozkin commented on #8347
Hi @pedroigor @stuartwdouglas Do you have any preferences ? I can do a quick PR if you are fine with it, before 1.4.0.Final is out

[2020-04-14 14:37] sberyozkin commented on #7512
I'll close it and reopen if somewhat else thinks it can be problematic

[2020-04-14 14:37] #7512 closed

[2020-04-14 14:37] michalszynkiewicz opened #8567 "Quarkus allows using `@Blocking` with methods that are neither `@Outgoing` nor `@Incoming`"

[2020-04-14 14:54] codeninja55 opened #8568 "YAML Config does not allow child values"
**Describe the bug**
When using YAML Config (`quarkus-config-yaml`), you cannot achieve some of the configurations that are both values and a branch.

**Expected behavior**
Doing something like this in an `application.properties`:

[code]

One would try to achieve this perhaps with:

[code]

Should be able to be achieved as part of a YAML config extension.

**Actual behavior**
Doing the above caus

[2020-04-14 15:04] ShubhamRwt commented on #4982
Yes @glefloch , just had the same idea. I got a chunk of code regarding that

<plugin>
    <groupId>org.codehaus.mojo</groupId>
    <artifactId>exec-maven-plugin</artifactId>
    <executions>
        <execution>
            <id>gradle</id>
            <phase>prepare-package</phase>
            <configuration>
                <executable>${gradle.executable}</executable>
                <arguments>

[2020-04-14 15:10] ShubhamRwt commented on #6834
Ok @geond. I will start up with some other issues.

[2020-04-14 15:13] fluoxa opened #8569 "Data Source Configuration does not work, when using Spring Cloud Config Server"
Data Source Configuration does not work, when using Spring Cloud Config Server

**Expected behavior**
Quarkus should use the configuration values for the datasource which are provided from the spring cloud config server

**Actual behavior**
Quarkus does not read the datasource config from the spring cloud config server and crashes while starting. The other configuration entry like http port or my

[2020-04-14 15:26] geoand commented on #8569
Are you sure you are only trying to set Quarkus **runtime** configuration properties and not build time properties?

[2020-04-14 15:31] fluoxa commented on #8569
Hello geoand, thanks for your fast reply. Are datasource connection configuration properties only configurable in build time?

[2020-04-14 15:35] geoand commented on #8569
Some of the datasource configuration properties are build time, other are runtime. See: https://quarkus.io/guides/datasource#configuration-reference

[2020-04-14 15:42] sberyozkin opened #8570 "Optional activation of Quarkus Security as JAX-RS filter"
**Description**
At the moment Quarkus Security is activated before a JAX-RS chain starts. The following issues are some of the issues that JAX-RS users may be seeing:
* They can't intercept Quarkus Security exceptions with `ExceptionMapper`
* Token auto-propagation which is free for MP RestClient is not possible

**Implementation ideas**
Activate Quarkus Security, when requested by the configurati

[2020-04-14 15:44] famod commented on #8568
"Child values" in general do work for me in 1.3.1.Final. Which version are you using?

[2020-04-14 15:46] fluoxa commented on #8569
Thank very much, when using:

  datasource:
    db-kind: postgresql

in container

and the connection info in config server then everything works fine

[2020-04-14 15:47] geoand commented on #8569
Cool!

I'll close this issue then.

[2020-04-14 15:47] #8569 closed

[2020-04-14 15:50] dmlloyd commented on #8568
This is a YAML syntax error.  The correct way to represent this in YAML would be:

[code]

Basically, a YAML key cannot contain both a simple value and subkeys.

[2020-04-14 16:07] pucojazu opened #8571 "Spring Data JPA extension - java.lang.ClassNotFoundException: org.springframework.data.domain.Unpaged"
**Describe the bug**
I'm getting a ClassNotFoundException in Quarkus 1.3.2.Final with the Spring Data JPA extension when I call `org.springframework.data.domain.Pageable#unpaged`.

**Expected behavior**
Should not throw Exceptions.

**Actual behavior**
Getting the following Exception at runtime:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Create a Quarkus project with "io.quarkus:qua

[2020-04-14 16:09] geoand commented on #8571
@aureamunoz seems like we need to add that class (and whatever else might be brought transitively) to the api jar.
We'll also need a test.

[2020-04-14 16:25] geoand commented on #8568
Closing as the supplied configuration is not valid.

Please reopen if you continue to have issues with the proper syntax

[2020-04-14 16:25] #8568 closed

[2020-04-14 17:01] aureamunoz commented on #8571
Ok, I'll do it

[2020-04-14 17:08] andreas-eberle opened #8573 "Cannot load keystore file from resources with smallrye kafka"
**Describe the bug**
I try to load a keystore file from my projects `META-INF/resources` directory to use it with the smallrye kafka extension. This is my application.properties (also see reproducer below):

[code]

I get the follwing inconsitent behaviors:

1. Running `./gradlew quarkusDev`: The keystore file in the META-INF/resources directory is loaded and it works fine.
2. Running the jar resu

[2020-04-14 17:22] oscarfh opened #8574 "Quarkus log level configuration not applied on tests"
**Describe the bug**
Setting the configuration key to adjust log level is not applied on tests

**Expected behavior**
Log level defined is applied both on running code and on tests

**Actual behavior**
Log level only applied to running code

**To Reproduce**
Steps to reproduce the behavior:
1.  Download an application from the application generator
2. Add the following lines to your application.pr

[2020-04-14 17:36] #8428 closed

[2020-04-14 17:45] #8223 closed

[2020-04-14 17:53] #7981 closed

[2020-04-14 17:53] #7982 closed

[2020-04-14 17:53] #7984 closed

[2020-04-14 18:40] machi1990 commented on #1302
Fixed by https://github.com/quarkusio/quarkus/pull/7681.

This can now be achieved with the following piece of code:
[code]

[2020-04-14 18:40] #1302 closed

[2020-04-14 18:47] elamotte7 commented on #6105
Thank you @Anthony-Janin for your help.

I've choosen another approach, I delegate the authorization to smallrye for the JWT token part and I manage the authorizations with a custom annotation.
So with this solution I can still use PermitAll and DenyAll and I implemented an @RolesAllowedCustom where I check the user rights.

@RolesAllowedCustom
`@Documented
@Retention(RUNTIME)
@Target({TYPE, METHO

[2020-04-14 19:00] michalszynkiewicz commented on #8567
Currently the `@Blocking` annotation will be ignored for such fields (because the mechanism to handle those is invoked only for methods with `@Incoming` or `@Outgoing`

[2020-04-14 19:22] #5556 closed

[2020-04-14 19:25] bragadanilo commented on #2125
I've followed @jamesfalkner dockerfile, I was able to generate the image, but I kind a newbie in the AWS lambdas, but after doing the change in docker file, how do I generate the function.zip to upload to AWS??
When I was using the `mvn package -Pnative` it generated the zip file to me.
Thanks!

[2020-04-14 19:27] gsmet opened #8575 "NPE with Amazon Lambda HTTP with JDK 14"
Not sure if this is reproducible easily or if it's a race condition.

https://github.com/quarkusio/quarkus/pull/8116/checks?check_run_id=586609694
[code]

/cc @patriot1burke @evanchooly @oztimpower

[2020-04-14 19:53] matejvasek commented on #8575
I got similar error for `Windows JDK 11 JVM Tests` and `Windows JDK 11 JVM Tests` for two different tests.

[2020-04-14 19:56] adrianfiedler commented on #6607
@gastaldi I guess this can be closed now, as the PR was already merged: https://github.com/quarkusio/quarkus/pull/8307

[2020-04-14 19:59] #6607 closed

[2020-04-14 19:59] gsmet commented on #7104
@gastaldi this looks like it would need a note here: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.4 .

Could you take care of it? Thanks!

[2020-04-14 20:04] gastaldi commented on #7104
@gsmet there you go: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.4#task-buildnative-is-now-deprecated

[2020-04-14 21:33] gsmet commented on #6588
It's OpenTracing failing, will open an issue.

[2020-04-14 21:35] gsmet opened #8578 "OpenTracing quickstart native build failing"
The OpenTracing quickstart native build is failing with current Quarkus master + quickstart development branch:

https://github.com/quarkusio/quarkus-quickstarts/runs/586602480?check_suite_focus=true
[code]

[2020-04-14 21:35] gsmet commented on #8578
@Ladicek could it be related to your latest adjustments?

[2020-04-14 21:40] geoand commented on #6588
Was going to check out why it failed in the morning

[2020-04-14 22:31] n0mer commented on #5814
@martinscmb do you, by any chance, know how to fix that for Gradle?

`implementation 'io.quarkus:quarkus-smallrye-openapi'` - should i substitute `implementation`with some other qualifier?

[2020-04-14 22:46] kouame-florent commented on #6421
you did a great job, thanks you

[2020-04-15 03:30] boosey commented on #820
@cescoffier I've cloned the repo and run mvn clean install, but there is a build error:

[ERROR] Some problems were encountered while processing the POMs:

[ERROR] Non-resolvable import POM: Could not find artifact io.quarkus:quarkus-bom:pom:999-SNAPSHOT @ line 38, column 25

[ERROR] Non-resolvable import POM: Could not find artifact io.quarkus:quarkus-bom-deployment:pom:999-SNAPSHOT @ line 45, co

[2020-04-15 04:52] stuartwdouglas commented on #8347
We probably should do this, even though it feels a bit wrong to have config as part of the API in this caae it makes sense, as otherwise we would just have to copy the config class and then copy between them, which is not a route we want to go down.

It should definitely go in before 1.4 if we are going to do this though.

[2020-04-15 05:22] geoand commented on #8578
I am seeing this fail in our Jenkins as well.

[2020-04-15 06:30] cescoffier commented on #820
At the moment, the master branch depends on the master branch of Quarkus. So you will need to build Quarkus first.

[2020-04-15 06:57] #8562 closed

[2020-04-15 07:09] Ladicek commented on #8578
Indeed this looks like it's connected to the change that is supposed to selectively enable/disable OpenTracing metrics. I'll take a look.

[2020-04-15 07:21] loicmathieu commented on #8531
@diogocarleto there is no slack channel but a Zulip one, you can find help to build Quarkus on the dev channel: https://quarkusio.zulipchat.com. The user channel is for help on using Quarkus and the dev to build Quarkus.

You can also reach us on the mailing list: https://groups.google.com/forum/#!forum/quarkus-dev

[2020-04-15 08:14] glefloch commented on #4982
Yes, actually, the gradle wrapper is generated, using the `gradle wrapper` task.
This will generate `gardlew.sh`, `gradlew.bat` files and some others.
Those files can be added into the `plateform-descriptor-json` artifact. The xml would looks like:

    <groupId>org.codehaus.mojo</groupId>
    <artifactId>exec-maven-plugin</artifactId>
    <executions>
    <execution>
        <id>gradle</id>

[2020-04-15 08:16] cemnura commented on #8574
Hello @oscarfh,

I have checked and it seems to be working fine.

2020-04-15 11:13:30,927 DEBUG [org.jbo.res.res.i18n] (executor-thread-1) RESTEASY002315: PathInfo: /hello
2020-04-15 11:13:30,928 DEBUG [org.my.gro.MyResource] (executor-thread-1) debug
2020-04-15 11:13:30,928 INFO  [org.my.gro.MyResource] (executor-thread-1) info

[2020-04-15 08:45] cescoffier commented on #7097
All Done!

[2020-04-15 08:45] #7097 closed

[2020-04-15 09:59] mkouba opened #8582 "Qute IfSectionHelper - consider truthy values during evaluation"
Currently, the param must be evaluated to `true`. We could consider _a truthy value_ instead. I.e. something like https://developer.mozilla.org/en-US/docs/Glossary/Truthy.

~Also consider adding the `unless` tag that would render the content if the param evaluates to a `falsy` value.~ We can use logical complement, e.g. `{#if !collection}`.

Examples:
[code]

[2020-04-15 10:13] Ladicek commented on #8582
Instead of JavaScript rules, I'd suggest using Groovy rules: http://groovy-lang.org/semantics.html#Groovy-Truth (which are actually pretty close to what you describe).

[2020-04-15 10:17] rsvoboda opened #8584 "A project with both docker and jib extension - no warning about this situation and image gets build twice under the same name"
A project with both docker and jib extension  - no warning about this situation and the image gets build twice under the same name.

Expectation:
 - warning about the situation
 - optionally: only one build, but who should win?

I did some experiments with docker build and wanted to see the differences in jib image so I added the jib extension. But the docker image produced by the new run had the

[2020-04-15 10:27] Ladicek commented on #8584
Having more than 1 `container-image-*` extension is probably a bad idea indeed. Hmm, not sure if `container-image-s2i` also collides...

IMHO detecting `container-image-docker` and `container-image-jib` should be easy, and should lead to a build time error.

[2020-04-15 10:28] geoand commented on #8584
Indeed, I'll take care of it.

[2020-04-15 10:28] Meemaw opened #8585 "QuarkusTest start multiple services"
**Description**
As part of the integration tests, I would like to start multiple (dependant) services for my tests as part of multi module project. Is this feasible to be in Quarkus?

[2020-04-15 10:30] loicmathieu opened #8586 "Hibernate Validator dev mode startup perf issue: ConstraintHelper is initialized twice"
**Describe the bug**
When doing some startup performance analysis, I discover that Hibernate Validator `ConstraintHelper` is initialized twice in dev mode (production mode is OK): one time by Quarkus and another time by Hibernate Validator itself.

This helper class is initialized by Quarkus only to gather the list of the contraint annotations, but it takes a significant amount of cpu time (and me

[2020-04-15 10:41] gsmet commented on #8586
Yeah, I'm aware `ConstraintHelper` is an issue. I had plans to experiment avoiding loading all those classes if not needed but didn't have the time.

But there's something weird in what you say. You're talking about startup time. And the call in the processor is done at build time?

[2020-04-15 10:43] michael-schnell opened #8587 "Enhance code quality and maintainability by using Sonarcloud"
**Description**
Currently there is a lack of checks for code quality and style. This could be enhanced by some static code analysis.

**Implementation ideas**
Quarkus should add a Maven plugin to send analysis data to [SonarCloud.io](https://sonarcloud.io/) which is free for open source projects. This will help all developers to enhance code quality and improve stability and maintainability. Plugi

[2020-04-15 10:48] zeljkot opened #8588 "Support GitLab CI_REGISTRY_IMAGE variable for container build."
**Description**

In GitLab, projects have concrete image names that matches projects. The image name is provided to build script in environment variable CI_REGISTRY_IMAGE. However, variable also contains repository name so it does not work with container-image (I tested with JIB):

CI_REGISTRY_IMAGE=gitlab.company.hr:1111/group/subgroup/project

If this is used as image or registry, Quarkus throws

[2020-04-15 10:54] marceloverdijk commented on #6458
Any update on this one? Probably won't make it in `1.4`? Will it be planned for ` 1.5` ?

[2020-04-15 10:55] loicmathieu commented on #8586
@gsmet yes this is startup time in dev mode, you pay twice: one in the build step and one in the recorder.

In production mode this is fine, I'll update the description to be more accurate.

[2020-04-15 10:57] mkouba commented on #8582
@Ladicek +1

I was thinking of using this https://github.com/trimou/trimou/blob/master/core/src/main/java/org/trimou/util/Checker.java#L84-L101 which is essentially the same (except for the matchers).

[2020-04-15 11:04] andreas-eberle commented on #7104
What was the reasoning behind the deprecation of the buildNative task? If I have a gradle project with many microservices, I was able to use the buildNative task to configure common properties for all of them in the parent gradle file (e.g. which graalvm version to use). Now I'll have to it for every module/every microservice. Or am I missing something?

[2020-04-15 11:12] gsmet commented on #8586
The good thing with Quarkus is that we should be able to only initialize the classes of the validators for the constraints that are used in the application.

That would require rethinking how `ConstraintHelper` works and we would need some way to pass the constraints to it.

That's something I have on my TODO somewhere :).

[2020-04-15 11:13] gsmet commented on #8582
If we want to do that, let's do it dirty and use the PHP or Javascript rules :).

That will be far more interesting and a constant stream of easy bugs to fix :).

[2020-04-15 11:15] mkouba commented on #8582
We're not talking about the type coercion ;-). Those rules are IMO fine.

[2020-04-15 11:24] sberyozkin commented on #6350
Update: `quarkus-keycloak-admin-client` extension is available starting from `1.4.0.CR1`

[2020-04-15 11:35] Sanne commented on #6458
I'm sorry I couldn't look yet.  Promised some other reviews, but will try to check this out next.

[2020-04-15 11:41] Ladicek commented on #8588
@geoand I believe this is what we discussed in #8117

[2020-04-15 11:46] geoand commented on #8588
Yeah, exactly.

I'm open to suggestions :)

[2020-04-15 12:01] oscarfh commented on #8574
Hi @cemnura ,
Thanks for your reply. This is very strange.
My intellij builds and run tests using Gradle (not Intellij). (On settings > Build, Execution, Deployment > build tools > Gradle). Is yours using Intellij? I could not make this option work.

I found this issue: https://github.com/quarkusio/quarkus/issues/2491 and I made it work. I will make a PR in the documentation with the vertx gradle

[2020-04-15 12:02] geoand opened #8590 "Add container-image tests that push to a registry"
Currently we don't have any tests that push to container image registry.

We need to introduce such tests in order to improve the quality of the various container-image extensions.

We could use something like: https://github.com/GoogleContainerTools/jib/blob/9683a3315c2115c3abb1a026c30e278d3543a228/jib-core/src/integration-test/java/com/google/cloud/tools/jib/registry/LocalRegistry.java to launch

[2020-04-15 12:02] zeljkot commented on #8588
Similar, it was more about the number of subgroups  ("groups" attribute can contain "/" so it is not an issue).

Spotify plugin accepts all values as-is. AFAIK they do not have group concept.

[2020-04-15 12:05] cemnura commented on #8574
Hello @oscarfh,

I ran the test directly using gradlew from the terminal in intellij

[2020-04-15 12:08] nimo23 commented on #8587
Another alternative is using https://lgtm.com/ as suggested in https://github.com/quarkusio/quarkus/issues/5892.

[2020-04-15 12:10] galderz commented on #7422
In case people miss it, there's been a PR open for this for over a month: #7903

[2020-04-15 12:12] oscarfh commented on #8574
Hello @cemnura
Ok, thanks a lot for your feedback!

[2020-04-15 12:14] oscarfh commented on #8574
Hello @cemnura
Ok, thanks a lot for your feedback, did you use the `-Djava.util.logging.manager=org.jboss.logmanager.LogManager` parameter?

[2020-04-15 12:21] michael-schnell commented on #8587
Interesting. Never heard of that platform before. All corporate projects I have been involved so far use SonarQube or SonarCloud.

I suggested SonarCloud also, because we could simply copy the Maven plugin setup from SmallRye. Only thing is someone to create an account for Quarkus and add the credentials to the build platform. Then everything should work almost out of the box.

[2020-04-15 12:21] #7422 closed

[2020-04-15 12:23] cemnura commented on #8574
@oscarfh  No I did not use any such parameter. I used  ``./gradlew qDev`` and made a http GET to from the browser.

[2020-04-15 12:29] cemnura commented on #8574
@oscarfh what ``LoggerFactory`` did you import?

[2020-04-15 12:44] geoand commented on #8588
@zeljkot could you describe your workflow?

I would like to know more in order to see how best we can accommodate the largest amount of users.

[2020-04-15 12:50] nimo23 commented on #8587
I use both because they complete each other and are not a substitution. LGTM is also completely free for open source projects. LGTM has strengths compared to SonarQube. LGTM can analyze the code depper. Compare yourself https://lgtm.com/projects/g/wildfly/wildfly?mode=list.

[2020-04-15 13:00] oscarfh commented on #8574
@cemnura
Sorry, I was in a meeting.
Yes, with qDev it works (step to reproduce number 6).
Please run the test located in ExampleResourceTest, can you see the debug message?

I added the same that is generated on the pom in the maven version: `org.jboss.logmanager.LogManager`.

If you confirm that you do not see the message when debugging, I will create a PR to code.quarkus code in order to add the

[2020-04-15 13:07] zeljkot commented on #8588
So, we have GitLab script that runs on Maven image. In that script we use [predefined environment variables](https://docs.gitlab.com/ee/ci/variables/predefined_variables.html) provided by GitLab to build images. My application.yaml looks like this:

[code]

The application name and version are taken from pom.xml by Quarkus. Note that all CI_* variables are standard predefined variables provided by

[2020-04-15 13:08] adutra commented on #7876
For those interested, here is the first draft of the DataStax Quarkus extension for Apache Cassandra:

https://github.com/datastax/cassandra-quarkus

Feel free to open issues against it if you would like to suggest improvements or report bugs. Thanks!

[2020-04-15 13:20] geoand commented on #8588
Here is what I propose:

Provide the optional `quarkus.container-image.image-name` property, which if set, will take precedence of over the individual components (and we probably want to warn if both are used).

@Ladicek @iocanel does that sounds reasonable? Anything you see that could be an issue?

[2020-04-15 13:24] maxandersen opened #8592 "[CI] - Issue for reporting QPid master regressions with Quarkus master"

[2020-04-15 13:27] geoand commented on #8588
Hm... Even if we do that I am not sure that Jib supports it - I would need to check.

[2020-04-15 13:30] #8592 closed

[2020-04-15 13:33] quarkusbot opened #8593 "[CI] - Quarkus Platform + Quarkus main"
Issue will be reopened when https://github.com/quarkusio/quarkus-platform fails to build against latest Quarkus Snapshots.

[2020-04-15 13:35] aureamunoz commented on #8571
Hi @pucojazu,
I was not able to reproduce the issue. In fact the class in question is correctly included in the quarkus-spring-data-api 2.1.Final, see https://github.com/quarkusio/quarkus-spring-data-api/blob/9b10af0e454fd9627f345651dd25933af9888937/quarkus-spring-data-commons-api/pom.xml#L51 and Quarkus `1.3.2.Final` is pulling this one.
Let me know if you need something else. Thanks

[2020-04-15 13:56] Ladicek commented on #8588
Agree. I don't think there's a better way.

[2020-04-15 14:07] gsmet commented on #8588
well, you could split things yourself, couldn't you?

[2020-04-15 14:17] geoand commented on #8588
Probably yeah. It could be super brittle of course. I'll hopefully give this a look tomorrow.

[2020-04-15 14:18] pucojazu commented on #8571
Hello @aureamunoz,
thanks for your quick response!
You're right that `org.springframework.data.domain.Pageable#unpaged` is a method. But this method returns an instance of the class `org.springframework.data.domain.Unpaged` which seems to be missing in quarkus-spring-data-commons-api-2.1.Final.jar
I can see the class in the original spring-data-commons: https://github.com/spring-projects/spring-da

[2020-04-15 14:23] ppalaga commented on #8437
Changed the name and scope of this issue according to the proposal of @stuartwdouglas https://github.com/quarkusio/quarkus/pull/8484#issuecomment-613156121

[2020-04-15 14:39] aureamunoz commented on #8571
oh, yes, ok. For some reason I didn't find either the Upaged class and thought that it was only a method. I'll add it.

[2020-04-15 14:40] CDPrete commented on #5267
I see. Too bad...

[2020-04-15 14:44] sberyozkin commented on #8564
@ssenechal5 I'll close it - please reopen if the issue persists as it appears it was caused by the classpath mix in, thanks

[2020-04-15 14:44] #8564 closed

[2020-04-15 14:46] geoand commented on #8593
Build fixed:
* Link to latest CI run: https://github.com/geoand/quarkus-platform/actions/runs/78978738

[2020-04-15 14:47] sberyozkin commented on #8347
@stuartwdouglas Sure, yeah. Pedro had an idea of doing a builder too, so we can make more than a config :-). It can be also very dynamic with `TenantConfigResolver`

[2020-04-15 15:10] geoand commented on #8593
Build fixed:
* Link to latest CI run: https://github.com/geoand/quarkus-platform/actions/runs/78998365

[2020-04-15 15:18] #8578 closed

[2020-04-15 15:38] sberyozkin commented on #8475
Hi Stuart @stuartwdouglas is it somewhere in Quarkus or in Undertow itself where it is handled ?

[2020-04-15 15:57] FroMage commented on #8543
This is slightly different, because it actually works with `CompletionStage`, but not with `Uni`.

[2020-04-15 16:05] michael-schnell commented on #8587
Yeah, but I would be glad if at least one static code analysis is in place ;-)

@emmanuelbernard Who can create an account for Quarkus? I could create a PR based on the setup from SmallRye.

[2020-04-15 16:12] FroMage commented on #8543
So yeah, this was fixed in `AsyncInterceptorRxInvoker` which extends `CompletionStageRxInvokerImpl` and is installed by `AsyncInterceptorRxInvokerProvider`.

Now, we have a `UniInvokerProvider` which returns a `UniRxInvokerImpl` based off the `CompletionStageRxInvoker` which it gets from the `ClientInvocationBuilder`, which is not the right subtype, so it also doesn't apply interceptors. I believe

[2020-04-15 16:20] FroMage commented on #8543
Probably `MpClientInvocationBuilder` needs to override:

[code]

To return its own `AsyncInterceptorRxInvoker` type instead, which is what `rx(CompletionStage.class)` would have returned.

[2020-04-15 16:39] cemnura commented on #8574
@oscarfh Yes I had the same problem. I was not able to print the debug message during ``./gradlew test -debug``. This appears to be a gradle configuration problem rather then a quarkus or intellij problem. Would you agree?

[2020-04-15 16:52] oscarfh commented on #8574
I kind of agree. It can be fixed by setting the systemProperty for tests on the build.gradle.
My PR should fix it, I am working now on getting it to build.

[2020-04-15 17:55] nimo23 commented on #8587
Yes, would be good to have SonarCloud. This would also save time for code reviewers..

[2020-04-15 18:00] kenfinnigan commented on #8543
@phillip-kruger FYI

[2020-04-15 18:02] csotiriou commented on #8543
@FroMage you are right, my bad. `CompletionStage` works fine, but it seems that RxJava and Mutiny operators don't. I changed the title and made the necessary edits.

[2020-04-15 18:08] rikkert09 opened #8600 "Quarkus Lambda HTTP Native not working"
I Followed this guide: [https://quarkus.io/guides/amazon-lambda-http](url) to learn how to build a native image that I can use in AWS Lambda with HTTP. When I follow the complete guide and run in local with AWS SAM I get an error when I do a GET request to:  `http://127.0.0.1:3000/hello` the response is: `{"message":"Internal server error"}`.

The console output is the following:

[code]

I have t

[2020-04-15 20:48] debae commented on #5794
I'll close this one since it is implemented. ( apart from bug https://github.com/quarkusio/quarkus/issues/6954 that is still open )

[2020-04-15 20:48] #5794 closed

[2020-04-15 22:04] aloubyansky commented on #6067
@simonedavico could you please give `1.4.0.CR1` a try?

[2020-04-15 22:14] sherl0cks commented on #6618
@stuartwdouglas finally got around to upgrading my quarkus release. We are now on 1.3.2 and this issue appears to be resolved.

[2020-04-15 22:14] #6618 closed

[2020-04-15 22:46] ebullient commented on #8272
I think we should look more closely at the binder pattern that both micrometer and opentelemetry use. There is a binder for jaeger and micrometer, and a binder for jaeger to opentelemetry metrics. From a compatbility perspective, I'd be willing to make an MP Metrics to micrometer binder.. but I think there are some API hiccups there because implementation is tied in.

My first truly vile attempt w

[2020-04-15 23:33] murphye opened #8605 "Evaluate ImageIO compatibility with GraalVM Native Image"
**Describe the bug**
ImageIO is now enabled in Quarkus 1.4.0.
https://github.com/quarkusio/quarkus/pull/8453

However, not all is good, as ImageIO has a plugin architecture and not all plugins work that are normally installed in the JRE, such as `com.sun.imageio.plugins.jpeg.JPEGImageReader`

According to the comment in this thread, PNGImageReader is working, however:
https://stackoverflow.com/que

[2020-04-15 23:34] murphye commented on #8605
Advise reaching out to GraalVM team and find out of they are tracking ImageIO compatibility.

[2020-04-16 00:33] rainmanhhh opened #8606 "Add a param to generate-config(or a new maven goal) to generate config json schema"
**Description**
(Describe the feature here.)
currently idea quarkus plugin not support yml config, but user can specific a json schema file to check yml. it will be so great if quarkus can generate a json schema file besides of an application.properties.example
**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design change proposals sho

[2020-04-16 01:13] zeppelinux commented on #6421
@tandraschko It doesn't seem like jsf files (.xhtml) are tracked in dev mode, so no changes are detected. Is there anything that can be configured to include them?

[2020-04-16 04:06] stuartwdouglas commented on #8585
You can use @QuarkusTestResource, which is what we use internally. It's not really documented but it will work.

[2020-04-16 05:45] Meemaw commented on #8585
Can you point me to some examples? I'm sure there are other people that are interested in this so documenting it would also be great.

[2020-04-16 06:18] tpenakov commented on #8478
Hi @stuartwdouglas and @pedroigor ,
I need a functionality to enable body re-read. Currently I am using [this small extension ](https://github.com/tpenakov/otaibe-commons-quarkus/tree/master/re-read-http-request-body) which works fine for me. If you think that this might be useful - I can contribute with such functionality?

[2020-04-16 06:26] geoand commented on #6717
Vault tests seem to be failing for some system reason...

[code]

@vsevel mind taking a look and see if you can reproduce it (I wasn't able to)?

[2020-04-16 06:32] #8475 closed

[2020-04-16 06:51] geoand commented on #8588
I am a little unclear on whether the proposed `imageName` would contain the tag or not.

[2020-04-16 07:05] incube8r commented on #7172
I've experience this issue with https://quarkus.io/guides/websockets

What would be the value to add in the Quarkus `application.properties` file to change the max frame size?

Also is this version covered by the fix?

[code]

[2020-04-16 07:08] tandraschko commented on #6421
1) hhmm, never tried that
    If MyFaces is running in development mode (you should see in the console on startup), it always reloads the xhtml from the classpath. Everything else is up to quarkus. @gsmet any idea?

2) if you can put your sample on github, i can check it

[2020-04-16 07:14] geoand commented on #8588
Also it feels a little weird that t he registry is **not** part of the `imageName`... I think that might backfire.

[2020-04-16 07:23] incube8r commented on #7172
...I've tried adding in the `application.properties`

[code]

Orignally the port I use for my app is 8080, so I changed it to 8081 to see if the `application.properties` is getting picked up, in fact it did changed port, but the max frame size is still throwing the server:

[code]

What can I be missing?

[2020-04-16 07:32] incube8r commented on #7172
Just to add, I did some more testing.

In my code I added this to check for the real max frame size set:

[code]

Then simply log it:

[code]

Here's the output:

[code]

It seems like even the parameter is set the actual handler is still using the default one `65536`

[2020-04-16 07:37] geoand commented on #8588
Jib does allow for arbitrary levels in the image name without issue. So all we have to do is decide the proper configuration here.

Jib uses the term `reference` to include everything - the registry, the repository (which is the term jib uses for the groups + name) and the tag.
I propose we do the same - we keep the separate `registry`, `group`, `name` and `tag` we have now, but also introduce a p

[2020-04-16 07:40] zeppelinux commented on #6421
After changing javax.faces.PROJECT_STAGE to Development (copy pasted Production from somewhere) all the .XHTML files are life reloaded (silently but reloaded:) Thanks for the hint!

Going to create reproducer for 2.

[2020-04-16 07:43] andreas-eberle commented on #7885
@cescoffier: Thanks! In which quarkus version can we expect the fix to be in?

[2020-04-16 07:44] andreas-eberle commented on #8274
@cescoffier: Is there an option to set the application/json header or might this be a bug in smallrye-reactive-messaging?

[2020-04-16 08:13] maxandersen commented on #7480
@previousdeveloper any plans on putting your extension in mavne repo ?

[2020-04-16 08:14] cescoffier commented on #8274
That will be fixed in Quarkus 1.4 :-)

[2020-04-16 08:15] cescoffier commented on #8274
For now, you can send an AMQP MEssage or a Message with OutgoingAmqpMetadata setting the content-type explicitly.

[2020-04-16 08:15] cescoffier commented on #7885
Quarkus 1.5 is my target. I've added this option to SmallRye Reactive Messaging yesterday.

[2020-04-16 08:16] andreas-eberle commented on #8274
Thanks! Is it in the CR1 already? Or not yet?

[2020-04-16 08:16] andreas-eberle commented on #7885
Ok, thanks for the info.

[2020-04-16 08:24] zeljkot commented on #8588
Note that tag is not constant so I would keep it separate (and mapped to pom.xml version like it is now). That is called "image" in their documentation.

Another super-useful feature would be to allow multiple tags per image. For example, same PostgreSQL image can have tags "latest", "12" and "12.5". We also use multiple tags per image for our internal process. If that is not supported, I can open

[2020-04-16 08:26] Ladicek commented on #8588
I think this is actually a standard terminology. E.g. https://docs.docker.com/registry/spec/api/#listing-repositories says:

Or https://stackoverflow.com/questions/34004076/difference-between-docker-registry-and-repository -- actually if I google for "docker registry repository", I get almost 1 million results :-)

I don't know where the group/name thing comes from.

`reference` is a nice name, I

[2020-04-16 08:26] geoand commented on #8588
Sounds interesting indeed. Let's have another issue for that.

[2020-04-16 08:26] iocanel commented on #8588
Since, the registry and tag are not part of it, the name we should use for this property is `repository`, which is what docker uses.

[2020-04-16 08:28] Ladicek commented on #8588
Agree that the correct name is `repository`, if it's supposed to only configure what is now configured with the `group`/`name` pair.

[2020-04-16 08:29] geoand commented on #8588
So we agree on adding a new property named `repository` that won't contain the registry and won't contain the tag either?

[2020-04-16 08:31] iocanel commented on #8588
FWIW, there is a chance that the existing code base is misusing the word `repository` as a synonym of group and I can see that causing confusion if it is true.

[2020-04-16 08:34] rainmanhhh opened #8611 "resteasy-jackson serialize LocalDate to array"
**Describe the bug**
(Describe the problem clearly and concisely.)
below endpoint returns an array like [2020, 4, 16]
[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
should return "2020-04-16"

**Actual behavior**
(Describe the actual behavior clearly and concisely.)
returns [2020, 4, 16]

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configura

[2020-04-16 08:35] mklueh commented on #8059
Hi @aloubyansky , are you looking into this as it is likely Gradle related?

It seems no one was assigned to this issue yet

[2020-04-16 08:36] geoand commented on #8588
I'll take that into account and rename wherever needed.

[2020-04-16 08:44] #8584 closed

[2020-04-16 08:50] incube8r opened #8612 "Max frame length of 65536 has been exceeded"
**Description the bug**

In my code I added this to check for the real max frame size set:

[code]

Then simply log it:

[code]

Here's the output:

[code]

It seems like even the parameter is set the actual handler is still using the default one `65536`

**Expected behavior**

The max frame size should have been used as the configuration and clients should be able to transact to the server.

---

[2020-04-16 08:51] aloubyansky commented on #8059
I kind of put all my work on Gradle issues "on hold" until I get #8284 in.

[2020-04-16 09:09] martinscmb commented on #5814
@n0mer sorry, can't help...

[2020-04-16 09:19] geoand commented on #6588
`security-openid-connect-web-authentication-quickstart` failed with

[code]

@cescoffier I assume this is something you have seen before?

[2020-04-16 09:23] cescoffier commented on #6588
@geoand Yes.

I would recommend a run a few `prune` command before the test:

[code]

It may not be enough, but it should reclaim some spaces.

The issue is that the "agents" are running out of space (on the main partition). I also had the issue with AMQP (that requires at least 20% of disk space by default).

[2020-04-16 09:25] geoand commented on #6588
Thanks @cescoffier, I'll see to it to add these commands before the test maven build starts.

[2020-04-16 09:34] cescoffier commented on #6588
@geoand There command requires confirmation. Use them with `yes`.

[2020-04-16 09:34] cescoffier commented on #8274
Not yet.

[2020-04-16 09:38] geoand commented on #6588
Yup, I will add `-n` :)

[2020-04-16 09:55] phillip-kruger commented on #8543
Created https://issues.redhat.com/browse/RESTEASY-2558

[2020-04-16 09:58] gsmet commented on #8612
/cc @stuartwdouglas

[2020-04-16 10:40] geoand commented on #6588
I opened 2 PRs:

Quarkus: https://github.com/quarkusio/quarkus/pull/8616
Quarkus Quickstarts: https://github.com/quarkusio/quarkus-quickstarts/pull/526

[2020-04-16 11:50] cescoffier commented on #7172
`quarkus.websocket.max-frame-size` is a build time property (so setting it at runtime won't change the value).

[2020-04-16 12:08] shahparthiv commented on #8386
any update?

[2020-04-16 12:30] Sanne commented on #8386
sorry the merged issue #8429 is unrelated. I also don't have a mac myself, I'll let others on the team investigate this issue. @geoand is this on your plate?

[2020-04-16 12:32] geoand commented on #8386
I have never even used a Mac, so it will be difficult for me take it :)

[2020-04-16 12:34] bcluap opened #8617 "Classcast Exception calling ServletFilter with HTTP/2"
**Describe the bug**
Get a classcast exception when calling a Servlet filter with HTTP/2

**Expected behavior**
Works same as HTTP/1.1

**Actual behavior**
Throws exception:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/bcluap/http2test
2. cd http2test
3. mvn clean install
4. java -jar ./target/http2filter-1.0-SNAPSHOT-runner.jar
5. curl http://0.0.0.0:8

[2020-04-16 12:37] Sanne commented on #8386
lol me neither. Linux since 20 years!  Ok let's ask to our other teammates then.

[2020-04-16 12:41] geoand commented on #8386
@shahparthiv I don't supose anything changed with version `1.4.0.CR1` of Quarkus (you've have to use `quarkus-bom` instead of `quarkus-platform` to test it)

[2020-04-16 12:47] gsmet commented on #8617
/cc @stuartwdouglas

[2020-04-16 13:16] aloubyansky commented on #8059
@mklueh the reproducer you referenced should work with 1.4.0.CR1. It does not include tests though. You may run into the issue fixed in https://github.com/quarkusio/quarkus/pull/8619

[2020-04-16 13:24] zeljkot commented on #8588
We are back to square one then because GitLab CI_REGISTRY_IMAGE **contains registry** so it is not usable for this issue. You have support for group/name pair because group can be empty.

It is OK if you want to replace *name* with something else, but that still does not solve the original problem:

`CI_REGISTRY_IMAGE=gitlab.company.hr:1111/group/subgroup/project`

[2020-04-16 13:32] geoand commented on #8588
Gitlab is really messing up here... I wonder if other CI environments do the same... If they do, they I guess we should oblidge. If it's only Gitlab that has this behavior, I don't know if it makes sense to go down that route.

[2020-04-16 13:36] maxandersen commented on #8386
do you have a reproducer proejct ? then I can try reproduce on my mac.

[2020-04-16 14:11] eye0fra opened #8622 "Ability to use InjectMock on MicroProfile RestClient"
**Describe the bug**

I would like to leverage the new `InjectMock` annotation to mock request/response to external service using the Microprofile Rest Client. The MP registers the implementation of the rest-client at runtime.

1. Injection

[code]

2. when

[code]

**Expected behavior**
[code]
**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Find here a sample cod

[2020-04-16 14:27] geoand commented on #8622
Actually, this will work if you add `@ApplicationScoped` to the `GreetingService` interface.

[2020-04-16 14:29] geoand commented on #8622
So maybe all we need to do is add an section to the documentation to mention if that if you want to be able to mock the RestClient, you need to make it `@ApplicationScoped`.

Would you like to contribute that fix @eye0fra ?

[2020-04-16 14:40] cemnura commented on #8611
Hello @rainmanhhh,

I believe this is the default behavior of jackson. Is there a specific reason you are using ``quarkus-resteasy-jackson``?

Becuase I tested it with ``quarkus-resteasy-jsonb`` as the following

[code]

and I retrieved a response

``"2020-04-16"``

The reason I believe this is the ``jackson`` default is because I also used the following dependency

[code]

and created a object su

[2020-04-16 14:51] eye0fra commented on #8622
It does!

I tried before, but it was missing the @RestClient on the @InjectMock.

So the GreetingService will be like:

[code]

Sure I can send a pull request on the documentation.

[2020-04-16 14:54] geoand commented on #8622
Excellent!

[2020-04-16 15:24] mklueh commented on #8059
@aloubyansky thank you, good to know. I´ll wait for the 1.4.0 Final version

[2020-04-16 15:42] #8622 closed

[2020-04-16 15:54] geoand opened #8624 "Exceptions thrown in bootstrap recorders prevent logging"

[2020-04-16 16:00] matejvasek commented on #8575
I don't think that this is amazon lambda specific, I've seen it on `Quarkus - Vert.x Web - Deployment` test. It seems to be quite non-deterministic, maybe some race condition. I wasn't able to reproduce it locally, only on `github`'s CI action.

It looks like `io.quarkus.vertx.web.runtime.RouteHandler.initialize()` is not called. I tired [this](https://github.com/matejvasek/quarkus/commit/853356ef

[2020-04-16 16:52] mkouba commented on #8575
@gsmet @matejvasek This should be addressed by https://github.com/quarkusio/quarkus/pull/8579. Unfortunately, I can't "force merge" anymore.

[2020-04-16 17:00] #8582 closed

[2020-04-16 17:02] dhinojosa opened #8626 "Add quarkus:remove-extension"
**Description**
Every pencil needs an eraser.  If there is a `quarkus:add-extension` there must be `quarkus:remove-extension`. Example use case. Someone uses 'logging-json' and they don't like the verbosity, they can go back easy the way they came in.

**Implementation ideas**
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/remove-extension.3F

[2020-04-16 17:46] sberyozkin opened #8627 "OIDC expiration-grace property name is misleading"
**Describe the bug**
As noted in #8469, `quarkus.oidc.token.expiration-grace` is misleading. I originally named it this way because I thought the Vertx `leeway` property was only about the expiration grace but it is effectively a lifespan grace.

Proposal is to rename it now to avoid any confusions going forward, effectively `quarkus.oidc.token.expiration-grace` name is a bug

[2020-04-16 17:49] zeppelinux commented on #6421
@tandraschko here it is https://github.com/zeppelinux/quarkus-jsf

[2020-04-16 18:15] tandraschko commented on #6421
You just need to add a Scope
Actually a exception should be thrown: https://github.com/apache/myfaces/blob/master/extensions/quarkus/runtime/src/main/java/org/apache/myfaces/core/extensions/quarkus/runtime/spi/QuarkusCdiELResolver.java#L103

will check it

[2020-04-16 18:17] ebullient commented on #8386
Native image generation works ok for me on 1.3.2-Final on MacOS.

What consistently fails is trying to build that image with `-Dquarkus.native.container-build=true` (which is what is also attempted above). For me, the build hangs for a LONG TIME, and then reports OutOfMemory, and dies.

Happy to run a screenshare so you guys can poke around..

[2020-04-16 18:23] geoand commented on #8386
@ebullient mind adding `-Dquarkus.native.native-image-xmx=5g` and trying again?

[2020-04-16 18:30] sirf commented on #6105
Hi guys.

Quick question, is there another way of obtaining the set of roles for a SecurityIdentity, now that getRoles() is deprecated?

Thanks.

[2020-04-16 18:33] ebullient commented on #8386
Relaying here (@geoand and I will keep tossing things back and forth in Zulip), adding the above attribute lands me with the pretty error message the OP reported. ;)

[2020-04-16 18:43] tandraschko commented on #6421
Here we go: https://issues.apache.org/jira/browse/MYFACES-4329

[2020-04-16 19:00] previousdeveloper commented on #7480
yes I will publish to maven repo

[2020-04-16 19:19] ebullient commented on #8386
Ok. The pretty error message isn't coming out because the Image generation step/process is exiting with RC=1 (rather than the pretty 137 that is emitted somewhere):
[code]

What I still can't understand is _why_ it is totally running out of memory. I have tried all kinds of numbers other than 5g that are bigger, and none of them seem to change anything. I would be scared for my app if creating nat

[2020-04-16 21:11] adrianfiedler commented on #1909
Hi @cescoffier, @machi1990
I migrated the maven invoker plugin tests to the internal test harness. Please take a look on my PR and assign me to this issue:
https://github.com/quarkusio/quarkus/pull/8632

[2020-04-16 23:30] stuartwdouglas commented on #6105
Thinking about it deprecating is probably a bit much. I might just change it to a warning that it might not always reflect the results of hasRole if the underlying user representation does not support getRoles

[2020-04-16 23:42] #6096 closed

[2020-04-16 23:42] #6105 closed

[2020-04-17 00:37] rainmanhhh commented on #8611
is there a way to set a global default date/date-time format for jackson? if so maybe quarkus-resteasy-jackson should set it to avoid too many @JsonFormat

[2020-04-17 00:58] stuartwdouglas commented on #8612
This is a build time config property, did you set the property at build time?

[2020-04-17 01:01] rainmanhhh opened #8635 "quarkus-swagger-ui treat string($date-time) as a regular string"
**Describe the bug**
swagger-ui says the param type is "string(query)" but schema returned by /openapi is:
[code]

**Expected behavior**
query param "i" type should be "string($date-time)" in swagger-ui

**Actual behavior**
query param "i" type is "string"

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help

[2020-04-17 01:08] stuartwdouglas commented on #8612
Looks like there is an issue here: https://github.com/quarkusio/quarkus-http/pull/22

[2020-04-17 06:26] vsevel commented on #6717
hello @geoand, I had a look, but could not reproduce it either. I executed all vault tests, including the native one. It is failing on `quarkus-integration-test-vault`, on a non native IT, specifically on `VaultAppRoleWrapITCase`, which is the first one to run. In my case it was `VaultClientTokenWrapITCase` to run first, but I think this is irrelevant.

normally we should see
[code]

but instead w

[2020-04-17 06:44] geoand commented on #6717
Thanks for looking into this @vsevel. Unfortunately I don't have any more information on when it started failing.

[2020-04-17 07:08] geoand commented on #8593
@lburgazzoli seems like a change in `io.quarkus.undertow.runtime.UndertowDeploymentRecorder` broke one of your tests:

[code]

[2020-04-17 07:10] geoand commented on #6588
@sberyozkin Same issue as our Jenkins is seeing:

[code]

[2020-04-17 07:12] #8571 closed

[2020-04-17 07:13] mmesaric commented on #7352
I'm having the same issue when using char ':' in PathParam. The issue is still not fixed in quarkus version 1.3.2.Final.

[2020-04-17 07:33] aloubyansky commented on #7156
A bit of news: with #8284 the following commands will work
* `gradle clean :WebServer:Server:test`
* `gradle clean :WebServer:Server:quarkusDev`
* `gradle clean :WebServer:Server:quarkusBuild`
But `gradle clean :WebServer:Server:build` fails with an intriguing error
[code]
I guess the class gets transformed twice.

[2020-04-17 07:35] vsevel commented on #6717
@geoand from what I see, it was still good 3 days ago:

https://github.com/quarkusio/quarkus/runs/584397198?check_suite_focus=true
Merge pull request #8409 from stuartwdouglas/7809 master stuartwdouglas  084571e
[raw log](https://pipelines.actions.githubusercontent.com/5Na9LjmLgXLiLuzJ0Z1qHRbIDVUXUHNrKe6jPcqGdw5t1S8TiW/_apis/pipelines/1/runs/17190/signedlogcontent/3?urlExpires=2020-04-17T07%3A07%3

[2020-04-17 07:36] geoand commented on #6717
If I had to guess, I would say probably an environment issue... We've been fighting with various issues the past few days.

Thanks for checking. Let's leave it for now and check again on Monday

[2020-04-17 07:43] rikkert09 commented on #8600
I figured out that if I build the application with `-Dnative-image.docker-build=true -Dquarkus.native.enable-jni=true` then it will run as expected!

[2020-04-17 07:43] #8600 closed

[2020-04-17 07:49] lburgazzoli commented on #8593
The error seems related to a different deepndency used ? because it is thrown by a quarkus build item

[2020-04-17 07:53] geoand commented on #8593
Hm... You are right... I'll look into it

[2020-04-17 08:03] lburgazzoli commented on #8593
guess the -deployment dependencies chain is from the camel deps whereas the runtime is from the platform

[2020-04-17 08:05] geoand commented on #8593
Most likely something like that

[2020-04-17 08:13] michael-schnell commented on #5681
@Sanne How about the review? If there are changes needed, it would be nice if I could do it over the weekend as I have to do it in my spare time

[2020-04-17 08:32] #8624 closed

[2020-04-17 08:49] devisions commented on #6096
@stuartwdouglas Hi Stuart, sorry for the late feedback, I've being caught with some work.
And many thanks for working on it! 🙏  Looking at the recent actions on this topic, it means I can play with/test it (using the master branch), right?

@sberyozkin I assume it will be included in `1.4.0.CR2`.

[2020-04-17 09:08] #4846 closed

[2020-04-17 09:15] loicmathieu commented on #8611
@rainmanhhh you can custimize the Jackson `ObjectMapper` via an `ObjectMapperCustomizer`, see
https://quarkus.io/guides/rest-json#configuring-json-support

We automatically register the `JavaTimeModule` so Java 8 DateTime are supported but by default Jackson serialize dates as timestamps. If you want to serialize them as String you need to disable timestamp serialization : `mapper.disable(Serializ

[2020-04-17 09:44] gsmet commented on #8593
/cc @ppalaga as he already debugged a similar issue that led to a fix by @aloubyansky

[2020-04-17 10:44] fredmtyro commented on #6488
So one way to make this work in JDK mode with Quarkus 1.3.2 assuming that you want to use the default URL connection HTTP client is to:
1. Add the AWS Short Token Service client to the pom.xml, exclude the AWS clients that it brings in transitively:
[code]
2. Exclude the unneeded clients from the DynamoDB extension (not doing this leads to an exception `Multiple HTTP implementations were found on

[2020-04-17 10:56] #8347 closed

[2020-04-17 11:28] marc-christian-schulze commented on #7974
After digging a bit deeper it seems that the actual problem is that we expect an Emitter to work like a Publisher but unfortunately it neither does implement the [Publisher](https://www.reactive-streams.org/reactive-streams-1.0.0-javadoc/org/reactivestreams/Publisher.html) interface, nor does it support multiple subscribers. However, looking into how the conversion is done we end up at the point i

[2020-04-17 11:31] zeljkot opened #8643 "Set multiple tags to image"
**Description**
image-container accepts version as the only image tag. Typically images have multiple tags, like version and "latest", or, as PostgreSQL, version tags with different precision used in combination with semantic versioning (e.g. "latest", "12", "12.5" and "12.5.4"). We also use multiple tags per image for our internal process.

**Implementation ideas**
An image should by default have

[2020-04-17 12:06] geoand commented on #8386
@ebullient I am not sure which scenario your observation applies to.

[2020-04-17 12:18] aelfric commented on #8626
Copying my comment from the chat.  It would be nice if a remove-extension goal could warn you if the extension is  being used in the project.

[2020-04-17 13:04] incube8r commented on #8612
@stuartwdouglas what would be the work-around for the meantime?

[2020-04-17 13:19] marc-christian-schulze commented on #7974
So, I've reproduced the issue:

[code]
I'll raise a bug at smallrye.

[2020-04-17 13:22] #8502 closed

[2020-04-17 13:34] ppalaga opened #8646 "[CI] - Camel Quarkus extensions + Quarkus master"
This issue will be open and closed dependent on the state of https://github.com/apache/camel-quarkus building against Quarkus master snapshot.

If you have interest in being notified of this subscribe to the issue.

[2020-04-17 14:00] mkouba opened #8648 "Extension beans - reduce the usage of the "create and initialize bean" pattern"
**Description**
This pattern is heavily used by extensions to pass some state from the build phase to the runtime bean components. The fact that a bean is initialized in two phases has several disadvantages. 1. The bean state must be synchronized (volatile fields etc.). 2. All the clients must only use the bean after it is initialized. This may lead to errors where a bean client reads an uninitial

[2020-04-17 14:18] gsmet commented on #7974
/cc @michalszynkiewicz

[2020-04-17 14:37] Ladicek opened #8650 "async RestClient with Fault Tolerance fails to propagate OpenTracing traces"
**Describe the bug**
I have a project where I want to use MicroProfile Fault Tolerance on a MicroProfile RestClient interface and propagate OpenTracing traces across the HTTP invocation. The interface looks like this:

[code]

I want the HTTP invocation to be invoked asynchronously, which is why it returns `CompletionStage` (that's per MP RestClient). When I invoke the `get` method and the server

[2020-04-17 14:40] Ladicek commented on #8650
I'm not sure exactly who's responsibility this is, and I can see a long pingpong between RestClient and Fault Tolerance happening, but for start, I'm CC'ing:

- @asoldano for RestClient (because it's implemented in RESTEasy)
- @pavolloffay for OpenTracing (but that is just a victim here, not a suspect)
- @FroMage as a context propagation expect (as conprop is what doesn't entirely work here; it's

[2020-04-17 14:48] galderz opened #8651 "Elytron LDAP native test failure"
Got this testing latest Graal/Quarkus with OpenJDK 11 (https://github.com/openjdk/jdk11u-dev/commit/f3b9513155b5e36cfc0e74048eca23b38485e0b1):

[code]

Longer output [here](https://gist.github.com/galderz/54118a03f60e8c2422dcc994469bfb15).

Not 100% sure, but might be related to using OpenJDK instead of labs JDK, since @zakkak's latest failures with Labs JDK and Graal/Quarkus masters (see [here](h

[2020-04-17 15:07] cescoffier commented on #7974
Got a fix in SmallRye Reactive Messaging.

[2020-04-17 15:28] michael-schnell commented on #6350
Seems as if the documentation in the "org.keycloak.admin.client.KeycloakBuilder" ist not correct:

[code]
It has the error: "Cannot instantiate the type ResteasyClientBuilder"

[2020-04-17 15:40] andrejpetras opened #8654 "Start the application myself for @NativeImageTest"
**Description**
I want to start the application myself for the integration tests. For example using the TestContainers framework.

**Implementation ideas**
Our delivery is Linux base docker image + native image. On the Windows (also on Linux) it is "hard" to test the native image.
I want to use the TestContainers for the integration test and for this I would like to have custom NativeImageLauncher

[2020-04-17 15:55] codeninja55 opened #8655 "Unable to run with Java 11 in Docker"
**Describe the bug**
Trying to run a Kafka producer Docker container using Java 11 fails.

Previously was working with Quarkus `1.3.2.Final` and Java 8.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
Error log is:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `docker-compose up -d --build producer`
2.
3.

**Configuration**
[code]

[2020-04-17 15:57] gastaldi opened #8656 "Display HTTP request contents in the log in a long format"
It would be nice if we could enable a log of the request that comes to Quarkus and check the headers, method, path of the request, something like a verbose mode of curl.

## UPDATE
Access log is already implemented in #5556 / 7b9c133 and was released in 1.4.0.Final, so this issue is about displaying the HTTP contents in a long format, like:

[code]
As suggested by @stuartwdouglas, the idea is to a

[2020-04-17 16:00] mvniekerk opened #8657 "Gradle multi-module needs java-library instead of java plugin in non-app submodules"
**Describe the bug**
When doing a multi-module Gradle build, any used sub-modules must be built using the `java-library` plugin and not the `java` plugin, especially when these sub-modules are inter-dependent. Otherwise the same class will be on the classpath more than once causing `./gradlew quarkusDev` to fail with a javax.enterprise.inject.AmbiguousResolutionException.

**Expected behavior**
Su

[2020-04-17 16:19] sberyozkin commented on #7544
Will close it Stuart has done some fixes and an issue to start from the JAX-RS chain also exists

[2020-04-17 16:19] #7544 closed

[2020-04-17 16:22] aloubyansky commented on #7156
Ok, it's gonna be fixed once the PR I mentioned in the previous post has been merged.

[2020-04-17 16:23] aloubyansky commented on #8657
This will be fixed once #8284 has been merged.

[2020-04-17 16:34] famod commented on #8585
See this discussion for an example: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/QuarkusTest.20.2B.20WireMock.20.2B.20dynamic.20port

[2020-04-17 16:56] mgohashi opened #8659 "knative generated files are not compliant to the new knative protocol"
**Describe the bug**
The files generated by the openshift extension is not compliant to the new knative protocol

**Expected behavior**
Generate files compliant with the protocol including renaming standard 8080 ports from http to http1 or h2c and remove ports from liveness and readiness probes. For reference [1]

And this is the resulting `yaml` file:

[code]

[1] https://github.com/knative/servi

[2020-04-17 17:02] mvniekerk opened #8660 "Gradle multi-module native build fails with duplicate resources"
**Describe the bug**
If there are resources with the same name in a Gradle multi-module build (like `META-INF/beans.xml`), the command `./gradlew buildNative` fails.

**Expected behavior**
Given a multi-module Gradle setup, some sub-modules needs to be marked as having injectable beans by having the `META-INF/beans.xml`. When building an app using the buildNative task, the artifact should be build

[2020-04-17 17:11] GregJohnStewart commented on #7156
Interesting, and thanks for the fix. Wondering why there was the issue in my project and not in others?

[2020-04-17 17:17] brunobat opened #8661 "quarkus-quartz duplicating clustered jobs"
**Describe the bug**
When more than one job is configured with quarkus-quartz in a clustered environment we are seeing a duplication on the registered db jobs.

The jobs are registred like this:
[code]
Then, 2 instances of the service are started but the problem also happens with just a single instance.

On the the qrtz_triggers.trigger_name column we will see new jobs like this:
[code]
If we stop

[2020-04-17 17:20] gsmet commented on #8661
/cc @machi1990 @mkouba

[2020-04-17 17:23] brunobat commented on #8661
I wonder if we could, in the future, configure the job name on the annotation, That way, we wouldn't need to generate a name.

[2020-04-17 17:54] benkard opened #8662 "User-defined tags fail to parse when inside an #include template section"
**Describe the bug**
Given a user-defined tag `hello` and a template `base`, an attempt to parse a file `foo.txt` containing ```{#include base}{#item}{#hello name=name /}{/item}{/include}``` as a template fails with the following exception:

[code]

**Expected behavior**
There is no parse error.  The `{#hello name=name /}` part of the template acts the same as its manual substitution.

**Actual be

[2020-04-17 17:55] machi1990 commented on #8661
@brunobat thanks for reporting the issue and the investigation.

Quick question:

Do you rebuild the application and start it again? Or simply a restart of the already built one?

[2020-04-17 17:57] mkouba commented on #8661
What do you mean by "2 instances are started"?

Anyway, I do understand that non-deterministic job names are a problem for clustered jobs - that's a leftover from the times when clustered jobs were not supported.

[2020-04-17 17:59] gsmet commented on #8661
I think if you start two instances of your Quarkus app and jobs are created in a different order, you end up with 2 jobs started instead of one.

[2020-04-17 18:09] zakkak commented on #8651
Note that in my runs I am using the LabsJDK only for building GraalVM. For running the *native* quarkus tests I use the latest release of JDK 11 from adoptOpenJDK as the `JAVA_HOME` and the GraalVM build as the `GRAALVM_HOME`.

[2020-04-17 18:56] ebullient commented on #8386
I can compile a native image on mac OS without an issue.
If I want to build a containerized native image, that requires using a build container.
Setting `-Dquarkus.native.native-image-xmx=5g` gives me a slightly faster fail than before, but it still fails. It doesn't seem like changing that specific number helps. I don't think infinite RAM is required, because my mac doesn't tip over when building

[2020-04-17 19:24] joao-rafael-tdx commented on #8661
@machi1990, a restart of the already built one also causes this problem.

[2020-04-17 19:29] joao-rafael-tdx commented on #8661
@mkouba, it means two instances of the same application executing in different ports. But this also happens with a single instance.

[2020-04-17 19:37] geoand commented on #8386
On Mac (and Windows) when using docker, one also has to set the max memory the VM (which is used implicitly) can have.
So you also might have to increase that value.

On Linux there is no such VM and docker can access all memory.

[2020-04-17 20:52] machi1990 commented on #8661
I have tried this across several runs but was not able to reproduce the problem however by building the application each time I was able to reproduce the issue.

[2020-04-17 22:09] aloubyansky commented on #8660
I couldn't reproduce it following the instructions.
[code]

[2020-04-17 22:20] aloubyansky commented on #8660
Disabling the jandex plugin:
[code]

[2020-04-18 03:26] maxandersen commented on #8506
@rsvoboda yeah #8534 is relevant too!

[2020-04-18 07:00] geoand commented on #8655
Hi,

Could you please create a small reproducer we can check easily?
This definitely sounds like something we need to fix for `1.4.0.Final`.

Thanks.

[2020-04-18 07:01] geoand commented on #8659
@iocanel can you please take a look?

[2020-04-18 07:46] mkouba commented on #8661
I came to the same conclusion - the job names are the same _unless_ you rebuild the app. The names are generated every time the app starts but since the list of scheduled methods is hardcoded in a build step the result should be identical.

I believe that we should remove the sequence from the name completely. AFAIK the original intent was to support multiple scheduled methods of the same name. Bu

[2020-04-18 09:17] mvniekerk commented on #8660
I'm going to make a containerised build. Maybe then somewhere in my MacOS Mojava setup something else is breaking. Will update this when finished.

[2020-04-18 09:21] codeninja55 commented on #8655
It seems to be running now if I use the `gradle:6.3.0-jdk11` base image.

Example can be found here https://github.com/codeninja55/quarkus-producer-example

 However, I seem to be unable to pass the correct hostname to for the broker. I have been getting this message consistently in the example and my current project.

[code]

[2020-04-18 09:34] mvniekerk commented on #8660
FWIW disabling the jandex plugin still gives the same exception:

`

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':api:quarkusBuild'.

        [error]: Build step io.quarkus.deployment.pkg.steps.JarResultBuildStep#buildRunnerJar threw an exception: java.lang.RuntimeException: java.util.zip.ZipException: duplicate entry: META-INF/beans.xml
        at io.qu

[2020-04-18 09:53] Ladicek commented on #8650
I have just found a ... well, not sure if solution, but at least a workaround: use MicroProfile Context Propagation (because SmallRye Fault Tolerance understands that) to make sure that the `Collection<AsyncInvocationInterceptor>` survives the move to a different thread. It's a relatively simple patch to RESTEasy: https://github.com/Ladicek/Resteasy/commit/a5d56b8669

It adds an `<optional>true</o

[2020-04-18 10:13] dirkweil commented on #6394
Bug disappeared with Quarkus 1.3.0.Final

[2020-04-18 10:13] #6394 closed

[2020-04-18 10:40] joao-rafael-tdx commented on #8661
My apologies for the misleading information. I was not aware that `mvn quarkus:dev` would cause an application build.

[2020-04-18 10:41] machi1990 commented on #8661
Yes, this was my conclusion too.

I think we should still keep the sequence as we generated an invoker class for a method and since the `@Scheduled` annotation (the actual job) can be repeated, we need the sequence in order to support it and generate a unique id.

i.e without the sequence, this will not work
[code]
unless you create two methods for it.

[2020-04-18 10:45] mvniekerk commented on #8660
Seems to be macOS specific.

When running the following in the root dir of the example:
[code]
it builds a runnable executable.
Running (in macOS) on the project/api directory ../gradlew buildNative again *after* the docker build, the native image gets created. Even after doing a ./gradlew clean.

So I don't know what went right this time...

[2020-04-18 11:45] geoand commented on #8655
@codeninja55 I am going to close this since the original reported problem not a Quarkus issue.
As for your subsequent comment, please open another issue or ask on the Zulip chat if think the Kafka application isn't working properly.

[2020-04-18 11:45] #8655 closed

[2020-04-18 12:48] cemnura commented on #8611
@loicmathieu I tried out customizing the Jackson ``ObjectMapper`` as you recommended and it works fine. This is a jackson related configuration for sure.

[2020-04-18 13:25] loicmathieu commented on #8611
Ok so I close the issue.

[2020-04-18 13:30] #8611 closed

[2020-04-18 13:31] maxandersen commented on #8560
Yes. My thinking is separate descriptor.

Status of support level is not something that stays static for any platform.

[2020-04-18 13:48] gastaldi commented on #8560
This should be a feature in the extension catalog

[2020-04-18 15:39] maxandersen commented on #8560
The catalog would have it and are linked but need be connected to a
platform as it’s the thing that defines the support level.

On Sat, 18 Apr 2020 at 15:48, George Gastaldi <notifications@github.com>
wrote:

--
/max
https://about.me/maxandersen

[2020-04-18 15:42] aloubyansky commented on #8660
I have a suspicion doing `clean buildNative` will work for you.

[2020-04-18 16:57] fabiomrch opened #8668 "Use of validation groups"
It seems not possible to apply javax.validation annotation @ConvertGroup to REST service parameters when REST resource class implements an API Interface.

My REST resource class:
[code]

It implements the following interface:
[code]

The application cannot start since it generates this exception: `javax.validation.ConstraintDeclarationException: HV000124: Found multiple group conversions for sourc

[2020-04-18 17:46] davsclaus opened #8669 "1.4.RC1 uses GraalVM 19.3.1 CE in the native container builder"
I am using quarkus to build a native image inside docker so its built as a linux executable as I need to run it inside kubernetes. And my host is osx laptop.

I am trying the camel-quarkus/examples/http-log and run the following and it outputs
[code]

I would have thought that the native image builder will use a container image with a graalvm 20.0.0 CE version.

Is there any plans to get this upda

[2020-04-18 17:46] davsclaus commented on #8669
PS: The build time is very long as docker was set to 4gb of memory.

[2020-04-18 18:24] arvidvillen opened #8670 "Build failure with quarkus-smallrye-openapi and java records"
**Describe the bug**
If you have the extension `quarkus-smallrye-openapi` enabeld and a java 14 record (java preview feature) is scanned by the extension the build fails. However, if you start the application using a Java main the application starts and both `/openapi` and `/swagger-ui/` works. Tests also work as excepted.

Log output:
[code]

**Expected behavior**
The build should complete withou

[2020-04-18 18:29] arvidvillen commented on #8670
I’m not sure if this should be labeled as a bug or feature request,
Also note that java 14 records do not work in dev-mode, but there is another issue for that:
#8277

[2020-04-18 21:05] #1909 closed

[2020-04-18 21:17] machi1990 commented on #8669
Quarkus has support for bot 19.3.1 and 20.0.0 (which is still experimental, IIRC @gwenneg right?) of GraalVM.

The default builder image is `quay.io/quarkus/ubi-quarkus-native-image:19.3.1-java11`. To switch to using `20.0.0`, you can change the builder image to `quay.io/quarkus/ubi-quarkus-native-image:20.0.0-java11` using the `quarkus.native.builder-image` configuration knob.

[2020-04-18 22:28] ridvan70 opened #8671 "Firebase SDK Extension"
**Description**
Firebase Admin SDK is a widely used artifact in google cloud.

**Implementation ideas**

[code]

[2020-04-18 22:50] gwenneg commented on #8669
That's correct @machi1990.

[2020-04-19 07:29] davsclaus commented on #1610
Trying this again this weekend. The mutlistage build is so far the best option, but all there is is some details on this page: https://quarkus.io/guides/building-native-image

Also this requires that all your dependencies can be downloaded from maven central. I wonder if  maybe the quarkus maven plugin could have some goal to prepare for this and download all the dependencies and then volume mount

[2020-04-19 07:32] davsclaus commented on #8669
Thanks for the feedback.
btw see also #1610 about struggle to build native image in kubernetes.

[2020-04-19 08:28] mkouba commented on #8661
Very good point! I completely forgot about this (even though I came with the idea of repeatable `@Scheduled` ;-).

[2020-04-19 11:06] maxandersen commented on #1610
@davsclaus not following why your setup require all published in maven central.

If it does that’s definitely a bug.

Can you give an example ?

[2020-04-19 12:58] sgalles commented on #7893
Yes, actually I ended up finding this issue because of use case Nb 2 of @rquinio
That is : with K8s I want be able to distinguish between :  I have a spike of traffic VS I have a liveness issue. Else I must set the K8s liveness timeout greater than the user app request timeout, and I certainly don't want to have false positive on liveness (in particular if it turns out that I don't have enough CPU

[2020-04-19 14:06] seseso opened #8673 "1.4RC1 quarkus.smallrye-jwt @Authenticated not working"
When quarkus.smallrye-jwt is enabled and configured and a resource is marked with @Authenticated annotation, two things happen differently:
- If no token is passed, my ContainerRequestFilter is executed as if the request is "Authenticated" wich is not true. This was not happening in 1.3 FINAL.
- If an invalid token is passed to the resource, my ContainerRequestFilter is not invoked, which is the e

[2020-04-19 14:13] davsclaus commented on #1610
I was running with a SNAPSHOT of camel-quarkus that was built locally (eg master branch).

[code]

[2020-04-19 14:14] davsclaus commented on #1610
This is my `src/main/docker/Dockerfile.multistage` file:
[code]

[2020-04-19 14:21] davsclaus commented on #1610
Also this requires that your project is totally standalone, eg in the error reported above then it complains about parent pom.xml cannot be found, as its not copied into the docker container in the 1st step in the multistage. That is somewhat okay as I can make a standalone example. But its the pain with that the 1st step dont have an easy way to use my local `.m2/repository` as maven repo cache (

[2020-04-19 14:23] davsclaus commented on #1610
I can polish up the example on camel-quarkus and make it standalone and put on some personal github for people to try. But we want to put the example in camel-quarkus too with the details to build as native for kubernetes.

The non kubernetes example is current at: https://github.com/apache/camel-quarkus/tree/master/examples/http-log

[2020-04-19 14:45] davsclaus commented on #1610
I created a branch and pushed the example there
https://github.com/apache/camel-quarkus/tree/http-log-kubernetes/examples/http-log

[2020-04-19 15:03] leandrodelsole opened #8674 "Parametrize native build on docker"
**Describe the bug**
Running
`mvn package -Dnative -Dnative-image.docker-build=true -Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-native-image:19.3.1-java11 -Dnative-image.xmx=7g`
fails to include configuration files as this in `pom.xml`
`<additionalBuildArg>-H:ConfigurationFileDirectories=${project.basedir}/native/config</additionalBuildArg>`

The same also happens using:
`<additiona

[2020-04-19 15:07] sberyozkin commented on #8673
@seseso is you filter pre- or post- match ?

[2020-04-19 15:12] seseso commented on #8673
It have both, but I only use (for now,) the pre-:

@Provider
public class SecurityContextFilter implements ContainerRequestFilter,
ContainerResponseFilter {

    @Override
    public void filter(ContainerRequestContext crc) throws IOException {
        // My code
    }

    @Override
    public void filter(ContainerRequestContext crc,
ContainerResponseContext crc1) throws IOException {
        //

[2020-04-19 16:49] famod opened #8675 "REST: Custom ExceptionMapper using a custom entity results in 200 when calling non existent resource"
**Describe the bug**
Given a custom exception mapper like the following one:
[code]
results in reponse code 200 instead of 500 if you call a non existent resource/path.

If the mapper is called for an exception that is thrown by an _existing_ endpoint, the problem does _not_ occur!

**Expected behavior**
Respond with 500, as defined by the mapper. Or 404 in case that is how the mapper is implement

[2020-04-19 17:45] mvniekerk commented on #8660
When I run in the root dir `./gradlew clean api:buildNative` it builds.
Even in the project that I had the problem with.
Closing this issue

[2020-04-19 17:45] #8660 closed

[2020-04-19 17:50] sberyozkin commented on #8673
@seseso I'm not sure right now what might have changed, but we are trying to get the Quarkus security closer to JAx-RS chains, and the pre-matching chain is not tied to any JAX-RS resource (class or method). So if the pre-matching filter is invoked when even no token is available, I'd not consider it a bug.

If you a post-matching filter invoked with `Authenticated` on the class resource, then it

[2020-04-19 18:00] seseso commented on #8673
The problem is that I need to "enrich" user data on each request so a
post-matching filter won't solve my problem. This behavior does not
happened in 1.3.2.Final nor previous releases since I'm developing this app
for quite some time.
I would expect that a previous security filter from quarkus would return a
401 before it reaches my filter, since I've the security enabled.
Otherwise, it wouldn't m

[2020-04-19 18:52] maxandersen commented on #1610
yeah, so not sure what we can really do here that will solve all your issues besides running the full build *inside* the docker container so all content is available to it "locally".

You comment about everything needs to be in maven central is more that your build need to be possible to do fully locally or at least be published to *some* accessible repo; i.e. a thirdparty repo should just work.

[2020-04-19 23:52] stuartwdouglas commented on #8673
So a pre match filter can change the target of the request, which means at this point we have no way of knowing if a request is authenticated or not (as the endpoint has not been matched yet).

If you want to apply a blanked @Authenticated approach you are probably better off using some config in application.properties https://quarkus.io/guides/security#authorization-of-web-endpoints-using-configu

[2020-04-20 00:32] #7156 closed

[2020-04-20 00:32] #7426 closed

[2020-04-20 00:32] #7675 closed

[2020-04-20 00:32] #8118 closed

[2020-04-20 00:32] #8657 closed

[2020-04-20 01:28] seseso commented on #8673
I get it now. What got me confused was the fact that an invalid token didn't reach my filter, so, I assume that there is a security filter that validate the token, if exists, otherwise, send the request downstream in the filter queue.

I'll close this.

Thanks guys!

[2020-04-20 01:28] #8673 closed

[2020-04-20 06:07] cescoffier commented on #7974
The issue in SmallRye Reactive Messaging has been fixed, however, this issue won't be fixed until:

1. SmallRye Reactive Messaging get released
2. We update the version in Quarkus

[2020-04-20 06:08] stuartwdouglas commented on #8675
This appears to be a RESTEasy problem. Because the entity is set but no response type (as it is a non-existent endpoint there is no @Produces) JAX-RS cannot figure out how to map the response.

As you say you need to explicitly set the media type for the entity to be written correctly, however I this the response code should always be 200 for this case anyway.

[2020-04-20 07:20] jmartisk opened #8680 "Some tracing integration tests that run against an actual Jaeger instance"
Probably we would use `testcontainers`. For inspiration see https://medium.com/jaegertracing/generating-jaeger-grpc-services-and-using-jaeger-in-junit-with-testcontainers-ac08a6e4e1c

[2020-04-20 08:36] geoand commented on #8670
We first need https://github.com/quarkusio/gizmo/pull/36 in order to support Java records.

[2020-04-20 08:39] gsmet commented on #8668
Yeah, unfortunately the rules for validation in hierarchy are quite strict.

You can disable the checks in Hibernate Validator but we haven't exposed the configuration to do it.

Maybe we should.

[2020-04-20 08:45] geoand commented on #8670
But we still don't have a ByteBuddy release that uses ASM 8 so we need to wait.

[2020-04-20 08:48] geoand commented on #8680
Just in case it's not well, known, here is an example of what we usually do to integrate testcontainers with Quarkus: https://github.com/quarkusio/quarkus-quickstarts/blob/master/kafka-quickstart/src/test/java/org/acme/kafka/KafkaResource.java

[2020-04-20 08:51] lburgazzoli commented on #8680
We use testcontainers extensively in camel, an example: https://github.com/apache/camel-quarkus/blob/master/integration-tests/mongodb/src/test/java/org/apache/camel/quarkus/component/mongodb/it/MongoDbTestResource.java

[2020-04-20 08:54] maxandersen commented on #1610
btw. after re-reading the whole thread i start to think I got it backwards ;) your issue is not the registry being remote but that the place where container are built are remote (or at least remote enough to not necessarily have access to all it needs)

[2020-04-20 08:55] #8098 closed

[2020-04-20 08:58] asoldano commented on #8650
Thanks @Ladicek , this looks interesting, I think you should open up a PR against RESTEasy with your changes for additional review. /cc @ronsigal.

[2020-04-20 09:15] galderz commented on #8651
Having AdoptOpenJDK 11 as JAVA_HOME does not much (if any) difference when it comes to native image building. In fact, I'd say that based on my personal experience, it complicates/obfuscates set ups. E.g. what JDK is used for what and what happens when the JAVA_HOME and GRAALVM_HOME differ?

So, what I tend to do is build graal and use the output of that as JAVA_HOME. That way you have a single th

[2020-04-20 09:15] FroMage commented on #8650
Hi. Sorry but there are so many things wrong with how MP does context propagation here that it has to be put to a halt. I've seen this issue for months and complained and it's still here and MP REST client and MP FT continued with the faulty approach. We should fix it once and for all.

This is wrong. The semantics of JAX-RS server endpoints when it returns a `CS` (or in RESTEasy any reactive type

[2020-04-20 09:23] FroMage commented on #8650
This would only fix it if the implementation of resteasy-mp-client uses MP-CP to propagate contexts in its client, no? I don't believe this to be the case ATM. MP-CP is automatic if using Mutiny or RxJava, but not if using `CompletionStage` so unless there's manual code in resteasy-mp-client to use MP-CP to wrap the `CompletionStage` it uses for the client, this won't work.

It also is the wrong w

[2020-04-20 09:36] FroMage commented on #8650
OK I've just re-read the code and the entire weirdness of this thread-local is due to the fact that the resteasy-mp-client  uses a decorated `ExecutorService` (huh, MP-CP has one too) per client builder (for all requests), but the context is supposed to be specific per request, so there's an impedance mismatch where we're trying to pass a list of context restorers (`AsyncInvocationInterceptor`) fr

[2020-04-20 09:38] Ladicek commented on #8650
I have tried several times to convince the MP FT folks that `@Asynchronous` doesn't really work on the event loop. So far, I haven't been successful. I eventually decided that I first need to prototype a solution (https://github.com/smallrye/smallrye-fault-tolerance/issues/192), otherwise I don't have a chance.

Unfortunately, the MP FT spec currently mandates that the method is called on an extra

[2020-04-20 09:45] rsvoboda opened #8689 "quarkus-container-image-docker - build doesn't fail when docker is not available"
quarkus-container-image-docker - build doesn't fail when docker is not available.
There is only warning in the log.

[code]

[2020-04-20 09:50] FroMage commented on #8650
It appears to me that you're trying to make it so `@Asyncrhonous` doesn't spawn a new thread in some cases. I rather think that `@Asynchronous` should not be needed at all when returning an async type.

OK, now I get it.

[2020-04-20 09:58] Ladicek commented on #8650
That makes sense. (For the record, for the prototype I was thinking about, I wanted to create a new annotation `@VertxAsynchronous`, so that it's easy to verify and doesn't break existing behavior.)

Actually, I think it should be rather easy to implement async FT for `CompletionStage`-returning methods without moving them to a new thread. I'll try.

[2020-04-20 10:11] arvidvillen commented on #8670
Ah, I understand.
The stack trace was different this time and it was the build that failed, so I thougt it was something different.
We will just have to wait for ByteBuddy :pensive:

[2020-04-20 10:13] geoand commented on #8670
Well, there might be more issues for sure, but we can't know for sure until we have the fundamental building block in place :)

[2020-04-20 10:17] aloubyansky commented on #7932
@heike2718 I just checked out your reproducer and followed the instructions. It worked for me.

[code]
Eclipse
Version: 2020-03 (4.15.0)
Build id: 20200313-1211

Maven/M2E
3.6.3/1.15.0.20200310-1832

[2020-04-20 10:22] aloubyansky commented on #7932
I see the settings.xml in your repo. Do you expect your first module to be installed in the local repo specified in it? Following your instructions, I see
[code]
I did not touch your settings.xml

[2020-04-20 10:25] aloubyansky commented on #7932
How/where do you specify your Maven settings?

[2020-04-20 10:28] #4481 closed

[2020-04-20 10:37] Ladicek commented on #8650
OK, so I added support for async FT for `CompletionStage`-returning methods to SmallRye Fault Tolerance, it was relatively straightforward and it works (https://github.com/smallrye/smallrye-fault-tolerance/pull/218). I'm not sure if we can enable it unconditionally, because we have this nasty bug: https://github.com/smallrye/smallrye-fault-tolerance/issues/210 But it's also a possible fix for the

[2020-04-20 10:43] famod commented on #8675
Not sure I follow. Why should it be 200?

[2020-04-20 10:46] mariofusco opened #8694 "[CI] - Kogito extension + Quarkus master"
This issue will be open and closed dependent on the state of https://github.com/kiegroup/kogito-runtimes building against Quarkus master snapshot.

If you have interest in being notified of this subscribe to the issue.

[2020-04-20 10:50] stuartwdouglas commented on #8675
oops, that was supposed to be 500

[2020-04-20 11:28] Xanas80 commented on #7199
How to use?
@QuarkusTest
@ExtendWith(MyExtension.class)
or
@ExtendWith(QuarkusTestExtension.class)
@ExtendWith(MyExtension.class)

Nevertheless the beforeEach callback from MyExtension is performed before the quarkus injection.
Tested with 1.3.2.Final

[2020-04-20 11:29] stuartwdouglas commented on #8675
This PR should fix it in RESTEasy, but the real problem is that you did not set the content type https://github.com/resteasy/Resteasy/pull/2358

[2020-04-20 11:29] stuartwdouglas commented on #8675
By 'fix' I mean you will get a 500, but your object still won't be written out as RESTEasy does not know what representation to use.

[2020-04-20 11:30] stuartwdouglas commented on #8675
I am going to close this now, as the root cause is the missing content type, and the wrong status code is a RESTEasy problem.

[2020-04-20 11:30] #8675 closed

[2020-04-20 11:48] #8534 closed

[2020-04-20 11:51] famod commented on #8675
Ok. That was also my main concern: A failure is simply swallowed.

Thanks for creating the Resteasy issue!

[2020-04-20 12:08] galderz commented on #8651
Indeed the origin of this issue is the underlying JDK. Latest jdk11u-dev contains fix for [JDK-8223260](https://bugs.openjdk.java.net/browse/JDK-8223260) which adds caching of `InitialContextFactory` instances, which can result of ClassLoaders being created on the fly. Graal code forbids that.

A workaround to avoid that path is to use a custom `InitialContextFactoryBuilder`. I've tried this and i

[2020-04-20 12:16] galderz commented on #8651
Sent [draft PR](https://github.com/quarkusio/quarkus/pull/8696)

[2020-04-20 12:17] geoand commented on #7199
Best ask a question on the Quarkus Zulip with more details in order to have a better chance of getting a meaningful answer

[2020-04-20 12:20] geoand commented on #8689
@rsvoboda this is a duplicate of #8523, right?

[2020-04-20 12:22] galderz commented on #8651
Note that Labs JDK source does not contain this fix yet, hence why the issue won't appear with latest GraalVM releases.

[2020-04-20 12:57] FroMage commented on #8650
I've added a draft PR for my fix proposal at https://github.com/resteasy/Resteasy/pull/2359

This gets us rid of the thread-local and should be sane. But I still think context propagation should not be done this way.

[2020-04-20 13:07] gsmet opened #8697 "Warning with infinispan embedded config doc missing"
I just had the following warning when building master:
[code]
We have `InfinispanEmbeddedRuntimeConfig` though so I'm not sure what's going on.

@machi1990 could you have a look?

[2020-04-20 13:09] gsmet commented on #8668
@fabiomrch could you try this PR: https://github.com/quarkusio/quarkus/pull/8698 ?

Get the PR, build it with:
[code]
Then upgrade your project to use `999-SNAPSHOT`, be careful you need to use the `quarkus-bom` not the universe one and also update the Quarkus Maven plugin accordingly.

Once done, try to add: `quarkus.hibernate-validator.method-validation.allow-overriding-parameter-constraints` to

[2020-04-20 13:17] jerboaa commented on #8651
@galderz I don't think there is anything we can do at the JDK level for this.

[2020-04-20 13:28] rsvoboda commented on #8689
I tried 1.4.0.CR and I got build error. That's the good part :)

Now what I don't like ... previous message said `Could not connect to docker daemon!`
Now it says `Please check your docker installation`.
Previous message was clear.

[code]

[2020-04-20 13:32] machi1990 commented on #8697
It is related to https://github.com/quarkusio/quarkus/pull/8641 and more specifically - https://github.com/quarkusio/quarkus/pull/8684.

Here is an important info that we missed when review the first PR, the doc generator checked if a config root is used in any build step before generating corresponding global config doc file.

[2020-04-20 13:44] jerboaa commented on #8651
@galderz note that the code path yielding up to `createOrGetClassLoaderValueMap()` comes from new code introduced via JDK-8223260 as you say. Namely:

[code]

So I'd think a proper fix would be to adjust subtrate vm upstream to account for this new code path. They'll end up running into this as well one way or another at some point too. I'd think the cache needs to get replaced with a substrate vm

[2020-04-20 13:49] loicmathieu opened #8700 "Implements Panache REST for MongoDB"
**Description**
Implements for MongoDB with Panache a REST controller as implemented for Hibernate with Panache via #7840

[2020-04-20 14:01] #8555 closed

[2020-04-20 14:05] #8567 closed

[2020-04-20 14:29] gsmet commented on #8697
Ah ah, we probably need to remove that check :).

But the issue is that we have a bunch of config stuff that is only there to avoid having warnings when using `quarkus.` properties.

[2020-04-20 14:29] gsmet commented on #8697
/cc @geoand

[2020-04-20 14:30] gsmet commented on #8697
Or maybe we can also check if it's injected somewhere?

[2020-04-20 14:32] galderz commented on #8651
Thanks for the input @jerboaa, I'll report it on svm right away.

[2020-04-20 14:34] sberyozkin commented on #5867
@emmanuelbernard sorry for a delay, logout feature is now supported (with few minor related issues to follow). I've dropped a couple of issues from this epic which I thought were not very critical. I'm going to work on the Vertx OAuth2 PRs very shortly to get #5003 fixed

[2020-04-20 14:34] machi1990 commented on #8697
I am looking at removing that check. Well, I am building now, it should probably work.

[2020-04-20 14:35] ngasper opened #8702 "SmallRye + LambdaGauge bug"
**Describe the bug**
When trying to register a LambdaGauge metric there is an exception.

**Expected behavior**
The gauge is registered properly.

**Actual behavior**
There is an exception. Metrics is not registered.

**To Reproduce**
Steps to reproduce the behavior:
1. metricFactory.register("name", new LambdaGauge( () -> 5 ));
2. Exception: `Failed to start application: java.lang.IllegalArgument

[2020-04-20 14:35] machi1990 commented on #8697
This is my option B. But I am afraid it could complicate the processor code, so for now I am looking at removing the check.

[2020-04-20 14:37] AlexLi-Monster opened #8703 "QuarkusTest throws exceptions when having parameters in test function"
**Describe the bug**
When having a test function with parameters injected, QuarkusTest throws `java.lang.IllegalArgumentException: argument type mismatch` exception

**Expected behavior**
Maybe it should work with parameters injected.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior, simple reproduce test below:
In order to use [`VertxExtension`](https://vertx.io/docs/

[2020-04-20 14:42] geoand commented on #8689
The previous message was clear, but it was wrong :)

Now you get a more correct message depending on the state of the system.

[2020-04-20 14:43] gsmet commented on #8697
Yeah, I'm a bit worried about this fake config we created. I'll see what you have in your PR :).

[2020-04-20 14:43] rsvoboda commented on #8689
ok, closing

[2020-04-20 14:43] #8689 closed

[2020-04-20 14:44] geoand commented on #8697
So do you want me to do anything?

[2020-04-20 14:47] gsmet commented on #8697
Nope, just wanted you to be aware of that one.

[2020-04-20 14:47] geoand commented on #8703
This is essentially a duplicate of #8251

[2020-04-20 14:47] machi1990 commented on #8697
Oh yes, most of these are in the `core` module, the only affected file will be `quarkus-core.adoc` which is not included anywhere.

The are already included in the all configuration docs which is not a shock to me.

[2020-04-20 14:51] geoand commented on #8702
cc @jmartisk

[2020-04-20 14:53] fabiomrch commented on #8668
Thanks @gsmet !

Unfortunately this error occurs when I try to build my project:
[code]

application.properties file includes the following lines:
[code]

[2020-04-20 14:56] galderz commented on #8651
Opened https://github.com/oracle/graal/issues/2367

[2020-04-20 14:57] machi1990 commented on #8697
By the way, if these fake configs become a problem in the long run maybe we could introduce a `@SkipConfigDocGeneration` annotation for them.

[2020-04-20 15:18] ngasper commented on #8702
A workaround I found is to use the Metadata `Metadata.builder().withName("name").withType(MetricType.GAUGE).build()` instead of name makes it work.
Another possible bug (this is how I found out the workaround): If not using metadata to specify `MetricType.GAUGE` the metric type will be "unknown" and not rendered (even though it extends Gauge interface). So this might be more than I initially assum

[2020-04-20 15:26] emmanuelbernard commented on #5867
Should it be part of the 6 months roadmap epics?

[2020-04-20 15:43] gsmet commented on #8668
Could you prepare a small reproducer in the form of a Maven project so that I can have a look?

It looks odd.

[2020-04-20 16:10] aloubyansky commented on #8059
This one looks very similar to #8061. I believe this issue should be closed when #8707 is merged.

[2020-04-20 16:20] #7558 closed

[2020-04-20 16:41] aloubyansky commented on #7424
I'm seeing
[code]
Is that supposed to work?

[2020-04-20 16:45] aloubyansky commented on #7424
The above was the result of running the reproducer against #8707, which I think should fix the key issue here.

[2020-04-20 17:00] timounet opened #8708 "Kotlin live reload dev mode not working when Tika extension is present"
**Description**
Live reload raises a RuntimeException: Unable to invoke Kotlin compiler after a code change in dev mode. `mvnw quarkus:dev`
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a new Quarkus project with Quarkus Maven plugin
[code]
2. run `mvnw quarkus:dev` open [http://localhost:8080/api/test](http://localhost:8080/api/test) > hello is correctly displayed
3. Change

[2020-04-20 18:05] TheGeekPharaoh commented on #7191
I finally had a chance to work through this again and it appears it's not a bug, per se, but rather a deficiency in the documentation.  The docs expect that you are running this example on Linux.  In my case, however, I was running on macOS.  By following the guide for [building a native](https://quarkus.io/guides/building-native-image) image -- specifically the instructions for a container-based

[2020-04-20 18:05] #7191 closed

[2020-04-20 18:19] gsmet commented on #8708
@geoand should we display the errors here: https://github.com/quarkusio/quarkus/blob/master/extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java#L78 ?

[2020-04-20 18:20] geoand commented on #3954
I want to give something a try soon. I'll come back when I have something to report.

[2020-04-20 18:21] geoand commented on #8708
Yeah, I was about to say that.

I'll fix it later unless someone beats me to it

[2020-04-20 18:22] patriot1burke commented on #7191
@TheGeekPharaoh Documentation already states this:

If you are building on a non-linux system, you will need to also pass in a property instructing quarkus to use a docker build as Amazon Lambda requires linux binaries. You can do this by passing this property to your maven build: -Dnative-image.docker-build=true. This requires you to have docker installed locally, however.

[2020-04-20 18:29] heike2718 commented on #7932
Thanks a lot for taking your time to have a look at it.

I just gave it another try and restored the default maven settings (back to ~/.m2). This way I cannot reproduce the error any more.

But when I change the eclipse default maven settings like this: in "preferences -> maven - User settings", for both "Global Settings"  and "User Settings" I selected the settings.xml from the reproducer project

[2020-04-20 18:29] #7932 closed

[2020-04-20 18:40] bcluap opened #8709 "Forwarding to JAX-RS from ServletFilter returns 404"
**Describe the bug**
When a servlet filter tries to forward a request to a valid JAX-RS (Resteasy) endpoint, undertow cannot locate the endpoint and returns a 404 not found

**Expected behavior**
Undertow should be able to forward the request successfully as JAX-RS should just be another endpoint on the same server and accessible with a forward.

**Actual behavior**
404 not found is returned

**To

[2020-04-20 18:53] geoand commented on #8404
Is this still an issue with `1.4.0.CR1`?

[2020-04-20 19:03] gsmet opened #8710 "Make enabling OpenTracing for JDBC a property"
Right now, you have to define a specific driver and a specific JDBC URL whereas we could make it a simple property and keep everything as is.

Also, we should probably register the driver for reflection even if disabled, as long as it is in the classpath.

It would be nice if this flag could be enabled/disabled at runtime.

See `io.opentracing.contrib.jdbc.TracingDriver` for more info.

[2020-04-20 20:24] gsmet opened #8711 "Maven tests failing when doing a release"
When doing the release, we are using a separate Maven repository with `-Dmaven.repo.local=` and it looks like some new tests don't like that.

[code]

[2020-04-20 20:24] gsmet commented on #8711
/cc @aloubyansky

[2020-04-20 20:27] aloubyansky commented on #7932
Ok, I see. Eclipse settings aren't visible to Quarkus bootstrap. I'll see whether there is something we could do about it. Thanks.

[2020-04-20 20:28] gsmet commented on #8711
/cc @stuartwdouglas too

[2020-04-20 20:31] aloubyansky commented on #8711
I'll take it.

[2020-04-20 20:55] geoand commented on #3954
I went through various scenaria to try and reproduce the problems with Kotlin Data classes and Jackson deserialization in native but I failed to uncover any...

Here is where I recorded what I did: https://github.com/geoand/kotlin-jackson-demo
If folks have concrete reproducible examples of issues I would love to know about them.

[2020-04-20 21:38] ebullient commented on #8386
I understand that. What I don't understand is how I am supposed to increase that value, as any combination of numbers I tried (which all seemed reasonable) had no effect.

[2020-04-20 21:44] geoand commented on #8386
The docker VM should have as much memory as possible, that's for sure.

As for the JVM that runs the native image build, that's trickier since there are a lot of ergonomics in play... Might I suggest using Xmx of a couple gigabyte less than the VM memory.

[2020-04-20 22:12] jphautin opened #8713 "use quarkus.io kotlin extension does not provide restassured kotlin extension"
**Describe the bug**
I am using quarkus kotlin extension and the dependency management does not provide version for the `io.restassured:kotlin-extensions`. I would expect that the version could be provided as `io.restassured:rest-assured` version is provided.

The workaround is to add the dependency by hand but in this case I have to ensure on each upgrade of quarkus that the version did not chang

[2020-04-20 23:09] provcristianmaluenda commented on #8612
I am facing the same issue. Any work-around?

[2020-04-21 00:54] gastaldi commented on #8709
@stuartwdouglas any clue?