[2022-06-16 14:33] sberyozkin commented on #26185
Hmm, I think a similar issue was resolved awhile back.

[2022-06-16 14:43] geoand commented on #26176
cc @patriot1burke @loicmathieu

[2022-06-16 14:54] fedinskiy opened #26187 "Resteasy-reactive runs out of direct buffer memory when processing large multipart messages"
### Describe the bug

I have two Rest Reactive methods, one accepts File and another multipart of File and String. If running on resource limit machine(this behavior first arose on Github Actions), the second method fails with cryptic error while processing files of 2048 MB size, while the first handles larger(2054 MB) files without problems.

### Expected behavior

Method should fail with more co

[2022-06-16 14:57] sberyozkin commented on #26185
For example, see https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java#L433 and https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/runtime/src/test/java/io/quarkus/oidc/runtime/OidcUtilsTest.java#L433.

It looks like `"` is lost or may be there is some extra space somewhere, @agea, can you double check please ?

[2022-06-16 15:03] metacosm commented on #26117
There are some issues with the current code. In particular, when it comes to processing `CustomResource` "implementors", which looking at git blame, is actually my own fault! 😅 Indeed, the code tries to extract types from interface implementations but `CustomResource` is an abstract class, not an interface so the code doesn't work as expected. Also, in the case of `CustomResource` (and, ultimately

[2022-06-16 15:57] jponge commented on #25818
@luneo7 We've had a look with @cescoffier and he's found a potential solution across the Mutiny and Quarkus code bases. I'll get back to you once I have PRs.

[2022-06-16 17:06] HerrDerb opened #26192 "quarkus.datasource.devservices.port ignored during dockerized @QuarkusIntegrationTest"
### Describe the bug

When starting a `@QuarkusIntegrationTest` with `quarkus.container-image.build=true` and a dev service datasource, the property `quarkus.datasource.devservices.port` is ignored.

### Expected behavior

When `quarkus.datasource.devservices.port=5432` is set in  application.properties, the db container should map to exposed port 5432.

### Actual behavior

When `quarkus.datasour

[2022-06-16 17:25] tnmtechnologies commented on #26112
Thanks for looking into this issue.

Based on our comments, I have done some tests from the quarkus-quickstarts/getting-started project in [this branch](https://github.com/tnmtechnologies/quarkus-quickstarts/tree/bug/resteasy-classic-http-encoding/getting-started).
I added an endpoint that serves a response with a 1024 bytes entity

The file [TESTSSUMMARY.md](https://github.com/tnmtechnologies/qua

[2022-06-16 17:58] glefloch commented on #2811
@StephenOTT you can configure custom kotlin compiler arguments directly in the quarkus devmode mojo/task as documented here: https://quarkus.io/guides/kotlin#configuring-live-reload-compiler

This issue is about automatically collecting kotlin compiler arguments from kotlin compile mojo/task and this avoid to declare them both in the kotlin plugin and in the quarkus plugin.

[2022-06-16 19:11] PStoner3 opened #26193 "Container Image Build Fails - quarkus-container-image-jib"
### Describe the bug

There appears to be an issue within the quarkus-container-image-jib extension while processing a container image build. The error seems to be focused around [line 233 in JibProcessor.java](https://github.com/quarkusio/quarkus/blob/e09da15f47c09b20082d7e9bc46216df69560c39/extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/dep

[2022-06-16 19:52] luneo7 commented on #25818
What I thought was to actually remove the `contextHandler` from VertxCoreRecorder, and add a ThreadContextProvider that supports the Vertx context... that would make default and worker pool work out of the box (something like https://github.com/quarkusio/quarkus/issues/25818#issuecomment-1138934118)... the removal of context handler is just to not do the same thing two times

[2022-06-16 21:58] PStoner3 commented on #26193
After further investigation, I realized the issue was indeed on my side. I also found the setting quarkus.container-image.insecure, set it to true and my build finally finished successfully.

It would appear that certain credentials were not set/provided on myside. Though I'm puzzled as to why this would have worked before now.

at any rate, I have an acceptable solution for now. I consider this m

[2022-06-16 21:58] #26193 closed

[2022-06-16 22:08] famod commented on #9818
Very nice, from:
![before](https://user-images.githubusercontent.com/22860528/174184801-df7f3f32-bc9c-4fdd-babc-b0911d9c6095.png)
to:
![after](https://user-images.githubusercontent.com/22860528/174184894-7655dd82-2d7f-4cb2-8f73-e2cddeff1fe4.png)

[2022-06-16 22:34] #26065 closed

[2022-06-16 23:10] gsmet commented on #26193
Thanks for the follow-up!

[2022-06-17 00:26] hernael commented on #25687
any suggestion? @FroMage, @alesj, @cescoffier, @loicmathieu, @ozangunalp

[2022-06-17 00:54] jimbogithub commented on #22209
Resolved.  Needed to `req.setExpectMultipart(true)` add use a binding to ensure it only applies to endpoints expecting form data, e.g.

[code]

[2022-06-17 03:10] geoand commented on #9818
Super!

[2022-06-17 03:33] tigerinus opened #26196 "Exit code 137 even with `-Dquarkus.native.native-image-xmx=4G` when building native app"
### Describe the bug

Tried to build native app with

[code]

But it always complains not enough memory

Noticed that the memory usage does not actually change much, even with `quarkus.native.native-image-xmx=4G`, which indicates that the build process might not see this flag at all.

### Expected behavior

It builds fine.

### Actual behavior

[code]

### How to Reproduce?

Create a project that

[2022-06-17 04:29] zakkak commented on #26196
Hello @tigerinus , how are you building the native-image? Using a container or on the bare metal? How much physical memory does the system have? Did you try increasing the max heap size as suggested by the error log?

[2022-06-17 05:26] geoand commented on #26187
@stuartwdouglas mind taking a look at this one?

[2022-06-17 05:47] geoand commented on #26193
Thanks for letting us know!

[2022-06-17 07:42] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2513516049

[2022-06-17 08:09] geoand commented on #26192
I could not reproduce this, when I tried it the `5432` was used for all tests.

Here is how Quarkus was launching the container:

[code]

Are you sure the port is being ignored?

[2022-06-17 08:15] yrodiere opened #26199 "Poor rendering of AsciiDoc documentation of configuration properties in DevUI config editor"
### Describe the bug

It seems the config editor in the DevUI does not render AsciiDoc at all, resulting in hard-to-read documentation for some configuration properties.

### Expected behavior

I would expect AsciiDoc to be rendered properly, or at least the asciidoc meta-characters to be removed (though that solution would make a mess of tables, for example...).

### Actual behavior

AsciiDoc is

[2022-06-17 08:17] #26158 closed

[2022-06-17 08:22] yrodiere commented on #26199
One relatively low-effort solution could be to leave the asciidoc as-is but at least make sure line breaks are rendered as they are in the source (some CSS just for asciidoc should do the trick). We could always introduce full-blown AsciiDoc rendering later.

Ideally we'd also remove the trailing `@asciidoctlet`.

[2022-06-17 08:37] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2513516049

[2022-06-17 09:11] tigerinus commented on #26196
I simply did

[code]

Not sure if it's bare metal or container build

My laptop is 16GB ram

[2022-06-17 09:13] geoand commented on #26196
4GB of memory is likely not enough. Did you try `-Dquarkus.native.native-image-xmx=6G`?

[2022-06-17 09:29] tigerinus commented on #26196
I could try again, but even with quarkus.native.native-image-xmx=4G the build process barely used less than half of 4G..  I was watching the memory usage.

[2022-06-17 09:37] loicmathieu commented on #26176
Same as https://github.com/quarkusio/quarkus/issues/25998 maybe we can close this one and you can provide feedback on the other issue.

@patriot1burke already had a look some times ago and this seems non-trivial and more analysis should be done to see if/how we could do it (and maybe contact some Azure folks).

[2022-06-17 09:38] loicmathieu commented on #26176
Closed as duplicate of #25998

[2022-06-17 09:45] geoand commented on #26176
Thanks for the triaging @loicmathieu

[2022-06-17 10:07] alexeysharandin opened #26202 "[Documentation] [GRPC] Improve GRPC docs and all requests security explanation/examples"
### Description

As discussed with @mkouba and @cescoffier in zulipchat - Quarkus already have ability to implement security for GRPC requests but it's not described in Quarkus documentation.

As agreed - I'm opening issue.

### Implementation ideas

The example of implementation available here - https://github.com/alexeysharandin/Quarkus-Cheat-Sheet/tree/main/quarkus-grpc-parent/quarkus-grpc-secu

[2022-06-17 11:47] aloubyansky commented on #8593
https://github.com/quarkiverse/quarkus-config-extensions/pull/72 is fixing the consul extension. A subsequent release of the config extensions will be needed though.

[2022-06-17 11:58] mkouba commented on #26112
@tnmtechnologies Thanks for the tests! Yes, the results are expected. I believe that `quarkus-smallrye-metrics` register a custom route but I'm not sure.

[2022-06-17 13:19] famod commented on #26141
I can add something to the migration guide, but the page for 2.11 is not there yet.

[2022-06-17 13:30] famod opened #26208 "Add property to set the global default Quartz misfire instruction"
### Description

Basically the same as #24254, but that issue took a turn for job identity specific properties which is not a solution for me because we have over 50 occurrences of `@Scheduled`.
All of our crons (jobs respectively) are designed in a way that missing one run is not problematic since the next execution is not far away. Instead, the current default instruction to fire now _is very_ p

[2022-06-17 13:31] zakkak commented on #26196
Yes and no :)

In general the more code you bring in the more memory it requires to process it and the longer it takes. Note however, that even if project appears simple if it's bringing a lot of dependencies you will see the impact

[2022-06-17 13:31] raguser commented on #25412
Hello Roberto
Thank you for your message and your detailed explanation of the context.
I will gladly send you the ConfigMap file (attachment). I have replaced sensitive information with "customer-name" and replaced extension '.yaml' by '.txt' for upload.
I would be very happy if there would be a solution for the problem.
Best regards
Stephan

[issue_25412_configmap.txt](https://github.com/quarkusi

[2022-06-17 13:33] #26196 closed

[2022-06-17 13:35] machi1990 commented on #26208
+1. It makes sense to have a default/global.

[2022-06-17 14:09] jponge commented on #25818
@luneo7 so here are 2 branches with the fix and an OTel-free reproducer

- https://github.com/smallrye/smallrye-mutiny/pull/955
- https://github.com/jponge/quarkus/tree/scratchpad/fix-mutiny-workerpool-integration

You can try on your side. This will require a new Mutiny release (likely next week) before the Quarkus branch can be turned into a PR.

[2022-06-17 15:02] luneo7 commented on #25818
@jponge it did work =] the only downside that I see with that approach is that `DefaultExecutor` == `DefaultWorkerPool`, before the when running `.runSubscriptionOn(Infrastructure.getDefaultExecutor())` it would call the executor `execute` right away, and `.runSubscriptionOn(Infrastructure.getDefaultWorkerPool())` would call the scheduled thread pool executor (MutinyScheduler) that would schedule

[2022-06-17 15:41] josevillacreses opened #26210 "quarkus-amazon-lambda extension complement returned error json with cause and stackTrace"
### Description

As of [https://docs.aws.amazon.com/lambda/latest/dg/java-exceptions.html](url) the information returned by the lambda execution when raising an error should contain a json structure with errorMessage, errorType, stackTrace and cause (cause is a recursive structure itself).

Currently the json structure contains solely errorMessage and errorType.

We are using versions:

- Quarkus:

[2022-06-17 17:44] cescoffier commented on #25818
We want to avoid having to rely on context propagation.

[2022-06-17 18:49] luneo7 commented on #25818
Makes sense, I was just wondering about the implication on having `DefaultExecutor` == `DefaultWorkerPool` so using `Infrastructure.getDefaultExecutor()` and `Infrastructure.getDefaultWorkerPool()` would yield in the same thing

[2022-06-17 20:19] #26093 closed

[2022-06-17 20:46] dhoffer commented on #25159
Just checking on an ETA for this?  We could really use this feature.

[2022-06-17 21:01] dhoffer opened #26211 "Upgrade Netty to 4.1.78.Final"
### Description

We are getting security scan failures with the current Netty 4.1.74.Final, I see there is a 4.1.78.Final available.  I have not verified they are fixed in 4.1.78.Final but seems Quarkus should always move to the latest service pack version to pickup bug fixes.

### Implementation ideas

_No response_

[2022-06-18 03:33] fabland opened #26215 "Shared mode for dev testcontainers datasources"
### Description

For kafka, redis and other testcontainer services there is a quarkus.*.devservices.shared configuration option (e.g. https://quarkus.io/guides/dev-services#quarkus-kafka-client-config-group-kafka-dev-services-build-time-config_quarkus.kafka.devservices.shared), which will reuse testcontainers of that type if there is already an existing one running.

Is there a way to achieve some

[2022-06-18 07:27] geoand commented on #26211
We do plan to do this soon, but it needs to be tested with Vert.x

[2022-06-18 07:27] geoand commented on #26211
cc @cescoffier

[2022-06-18 08:40] calohmn opened #26216 "OpenTelemetry: By default high HTTP span name cardinality for HTTP server spans"
### Describe the bug

This is a follow-up of #16952.
When using the `quarkus-opentelemetry` extension and observing Vert.x HTTP server request spans, the default is still to see span names containing the full request URI path. This means you will possibly get a whole range of span names like
[code]
The [OTEL spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specificatio

[2022-06-18 10:06] spaykit commented on #26063
It was an issue @ Azure.

[2022-06-18 10:06] #26063 closed

[2022-06-18 12:25] cescoffier commented on #26211
We won't bump for now. We have found a graalvm bug that prevent native compilation.

[2022-06-18 15:45] PratikDey commented on #26208
Hey @machi1990 , I am new to open source. Can I work on this issue?

[2022-06-18 16:24] christian-screen commented on #22429
The following seems to work for us and seems to be the correct syntax (tested and working in version >= 2.8), on a method, notice the hidden attribute,
`@Operation(summary = "Description of Method...", hidden = true)`, where the use of annotation `@ApiOperation` does not appear to provide the desired result.

[2022-06-18 18:28] phillip-kruger commented on #22429
From what package is @ApiOperation ?

[2022-06-18 18:59] dondragon2 commented on #13008
Is there any workaround or fix for this at the moment?

[2022-06-18 19:49] christian-screen commented on #22429
@phillip-kruger the one we thought was correct was from `io.swagger.annotations` where as @Operation(...) seems to come from `org.eclipse.microprofile.openapi.annotations`

[2022-06-18 20:41] kucharzyk opened #26217 "Resteasy reactive: Multiple writers set at build time"
### Describe the bug

Hello,

I've got a problem with endpoint streaming files.

[code]

In Quarkus REST score console I'm getting only 50% for writers with message:

[code]

I think this is a bug in scoring alghorithm

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `jav

[2022-06-18 22:12] phillip-kruger commented on #22429
Yes, we are based on microprofile open API and does not support swagger. You can remove the swagger dependency from your classpath

[2022-06-19 07:50] cescoffier commented on #25818
From the Mutiny POV, the two polls are different. One is used to create a scheduled executor.
However, from the Quarkus POV, using the same "pool" is ok.

[2022-06-19 12:11] famod commented on #26208
Hi @PratikDey, I'm sure you can go ahead with that. Thanks!

[2022-06-19 13:18] luneo7 commented on #25818
If when setting the default executor you can actually pass an executor and a mutiny scheduler we could maintain the same behavior. In Quarkus we could extend the mutiny scheduler and in the schedule methods we would wrap the tasks with a context aware execution code, almost like what jboss enhanced queue executor does. If we do that all the schedule methods will be able to propagate the Vertx cont

[2022-06-19 13:30] jponge commented on #25818
Mutiny needs a scheduled executor, but Quarkus isn't providing us with one (just a regular non-scheduled pool) so we need the hack of `MutinyScheduler` when receiving an _executor_ in the Mutiny `Infrastructure` class.

[2022-06-19 15:54] luneo7 commented on #25818
Yup, so instead of using the same scheduled executor as default and worker pool, we could have a method in ’Infrastructure’ that accepts two parameters to set the default executors, one regular one and a scheduled one

[2022-06-20 01:49] zhfeng opened #26219 "Messaginghub Pooled JMS extension"
### Description

I'd like to introduce an extension for [messaginghub-pooled-jms](https://github.com/messaginghub/pooled-jms) which could provide the pooling and transaction manager integration support.

Also it is able to make `quarkus-artemis` to work with XA JTA transaction. see https://github.com/quarkusio/quarkus/issues/14871

The extension name could be `quarkus-pooled-jms`.

### Configurati

[2022-06-20 05:09] kunalsumblyavenue commented on #25974
@radcortez  I see, thanks for your suggestion. I was able to fix this problem by manually re-attaching the context.

[2022-06-20 05:34] cescoffier commented on #25818
it's what happens with the next mutiny release. If you pass a scheduled executor, it won't wrap it.

[2022-06-20 06:01] geoand commented on #26217
This isn't exactly a bug in the scoring algorithm, but a result of the fact that `MessageBodyWriter` implementations can decide whether or not they can write a class (see `isWriteable`).

There is a good way to address this issue:

We create an ASM visitor that checks implementations of `ServerMessageBodyWriter` to see if `isWriteable` always returns true - if it does then we can leverage that inf

[2022-06-20 06:06] geoand commented on #26172
Thanks for reporting!

I'll try and have a look next week

[2022-06-20 06:18] omeryounus commented on #7454
STEP 4/9: USER root
STEP 5/9: COPY upload/src /tmp/src
STEP 6/9: RUN chown -R 1000:0 /tmp/src
STEP 7/9: USER 1000
STEP 8/9: RUN /usr/local/s2i/assemble
==================================================================
Starting S2I Java Build .....
S2I source build with plain binaries detected
Copying binaries from /tmp/src to /deployments ...
cp: cannot stat '/tmp/src/*': No such file or director

[2022-06-20 06:26] shakhar opened #26222 "gRPC Context propagation does not work"
### Describe the bug

We use OpenTelemetry with Quarkus version of 2.9.2 that already has a support for gRPC.
We has a gRPC server that get a request with OpenTelemetry's context and the context isn't propagated to the service's handler.

In addition, I used the `GrpcTracingServerInterceptor` interceptor and saw that the interceptor gets the context.
I think the problem is that this interceptor cl

[2022-06-20 06:36] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2526699486

[2022-06-20 07:00] cescoffier commented on #26222
/cc @radcortez

[2022-06-20 07:12] Emmeral commented on #26028
Added a new PR to the correct base branch. See #26224

[2022-06-20 07:47] mkouba commented on #25159
There's no ETA yet. Would you care to contribute? :wink:

[2022-06-20 08:28] geoand commented on #26145
I still don't understand why you can't exclude `App1Application` and/or `App2Application`?
If you did that, would it not solve your problem?

[2022-06-20 08:44] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2526699486

[2022-06-20 10:01] pjgg opened #26228 "Unexpected `INFO` "exception" Log is thrown when I am dropping and creating a schema/tables on Oracle"
### Describe the bug

Quarkus: 2.9.2.Final

When a Quarkus application that is using `quarkus-hibernate-orm-panache` extension is dropping and creating an Oracle schema/tables an unexpected `INFO` log is dropped to the console:

**Note:** Works well in Mysql or Postgresql

[code]

In my opinion, the table `book` should not be removed if doesn't exist, or at least don't print an "error" stacktrace

[2022-06-20 10:13] geoand opened #26229 "Consider using loadbalancer service type when a k8s service is exposed."
### Description

When a Quarkus application is going to be exposed (by an Ingress or Route) using `quarkus.kubernetes.expose=true`, it probably makes sense to change the `type` of the generated `Service` to `LoadBalancer`

### Implementation ideas

_No response_

[2022-06-20 10:13] geoand commented on #26229
@iocanel does this make sense to you?

[2022-06-20 10:16] geoand opened #26230 "Expose generated k8s resources in the Dev UI"
### Description

The DevUI should have a way to expose the k8s resources that would be generated by the application

### Implementation ideas

_No response_

[2022-06-20 10:50] jmartisk opened #26233 "Missing details about constraint violations with GraphQL after a reload in dev mode"
### Describe the bug

At first start in dev mode, if I execute an operation with values that fail bean validation, I get a proper error response with details about the constraint violation. But after a reload and executing the same operation, I get only a generic

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `

[2022-06-20 10:54] phillip-kruger commented on #26233
Those are set using config. I wonder if that has something to do with rhis

[2022-06-20 11:03] zettelmj opened #26234 "Vert.x requires 100-Continue to be enable explicitly"
### Describe the bug

When using the RouteBase and Route base implementation of endpoints 100-Continue support is not enable automatically causing clients that explicitly wait for the 100-continue to missbehave.

For example:

[code]

when uploading larger files via `curl -v -XPOST --expect100-timeout 10` will cause a wait time of 10s after every chunk.
This is cause 100-continue support needs to

[2022-06-20 11:29] iocanel commented on #26229
@geoand: I think that it does not, but I need to verify first something that is not clear in the docuemntation.

[2022-06-20 11:39] beniaminp opened #26236 "OIDC - NullPointerException"
Hello!

I am using quarkus:2.9.2.Final and configured oidc with the following properties:

[code]
with all the variables for url, client and secret configured.

When I am trying to start it I get the following error:
[code]

I do not event know where to start to investigate it.
One thing that I noticed was that if I disabled the oidc, the application starts without error (if I set `quarkus.oidc.en

[2022-06-20 11:43] josephearl opened #26237 "Panache Hibernate @Filter not applied to joined entities"
### Describe the bug

Given some entities like:

[code]

[code]

And a query method with the filter applied in my repository class for `Parent`:

[code]

I would expect only children with `active = true` are returned, but all children related to the parent are returned, regardless of their active status

### Expected behavior

Only children with `active = true` are returned in the OneToMany associ

[2022-06-20 11:48] #26028 closed

[2022-06-20 12:15] radcortez commented on #25974
I'll leave this open. We are aware of this, we just haven't implemented it yet. We are adding the OTel support piece by piece.

[2022-06-20 12:28] iocanel commented on #26229
My understanding is that the option `serviceType: LoadBalancer` is just a way to tell the platform to expose your `Service`. When you are explictly creating an `Ingress` it feels redundant. FWIW, internally kubernetes will load balnce between endpoints anyway (at least this is what I see in my tests).

Some references:
[1]: https://kubernetes.io/docs/concepts/services-networking/service/#loadbalan

[2022-06-20 12:32] sbreault commented on #7454
What are you saying with this reply?  I know this is the s2i build command sequence - I see this work successfully with a s2i Java build using a BuildConfig:
![image](https://user-images.githubusercontent.com/60112611/174601811-1140a835-1f0f-4ccc-afe0-92929f79cd55.png)
My problem is with creating a s2i Java 11 pipeline using the OCP v. 4.8 ClusterTask because it ends in failure (NPE error; exist s

[2022-06-20 12:40] cescoffier commented on #26229
When deploying to AKS, exposing the ingress would only work with a service of type load balancer. The default is cluster, which, obviously, does not work.

When expose is set to true, I believe changing the default service type to load balancer would make more sense. At least it can work, and you do not have to amend your service.

[2022-06-20 13:13] cristianonicolai commented on #12486
Have a PR that hopefully should fix it https://github.com/kiegroup/kogito-runtimes/pull/2274

[2022-06-20 13:40] luneo7 commented on #25818
Not really, what I am proposing is passing two arguments instead of one, a regular executor, and a scheduled one.

[2022-06-20 14:18] rsvoboda commented on #6588
@mariofusco when will the changes land into Quickstarts?

https://github.com/quarkusio/quarkus-quickstarts/blob/main/kogito-quickstart/pom.xml#L17 / https://github.com/quarkusio/quarkus-quickstarts/blob/main/kogito-drl-quickstart/pom.xml#L22 are still using 1.19.0.Final from March.
(https://github.com/kiegroup/kogito-runtimes/tags)

Before tagging Quickstarts (QS) and releasing Quarkus 2.10.0.Fina

[2022-06-20 14:32] zakkak commented on #25526
@luneo7 is this still an issue for you? If I am not mistaken https://github.com/quarkiverse/quarkus-jooq/issues/73#issuecomment-1141852860 hints that this is now resolved for jOOQ.

[2022-06-20 14:32] iocanel commented on #26229
This seems to be specific to AKS. On GKE on the other hand the [Setting up HTTP(S) Load Balancing with Ingress](https://cloud.google.com/kubernetes-engine/docs/tutorials/http-balancer) uses `NodePort` and also mentions that when using `LoadBalancer` it will automatically expose the service (in other words Ingress is redundant). I am not sure what happens when you do both. I'll need to try it out o

[2022-06-20 14:58] rsvoboda commented on #6588
I checked the commits and the version update commit is just for main, not for 1.23 branch (assuming 1.23 is the next planned release)

FAIL -- mvn clean verify -f kogito-quickstart -Dkogito.platform.version=1.23.0-SNAPSHOT
PASS --  mvn clean verify -f kogito-quickstart -Dkogito.platform.version=2.0.0-SNAPSHOT

I have created https://github.com/quarkusio/quarkus-quickstarts/issues/1126 to track the

[2022-06-20 15:22] cescoffier commented on #25818
which will be done using 2 methods (like today). I don't see the point of introducing a breaking change for something we can workaround easily.

[2022-06-20 15:25] cescoffier commented on #26229
Hum... ok, it may be AKS specific. Very annoying then. We had 5 minutes of "it does not work anymore" because of this (not mentioning the type to acquire a public IP).

But, fine, let's close this and hope AKS users will understand that it won't work by default.

[2022-06-20 15:27] luneo7 commented on #25818
This is what I was proposing: https://github.com/quarkusio/quarkus/compare/main...luneo7:mutiny-executors
https://github.com/luneo7/quarkus/tree/mutiny-executors

It is not a breaking change

[2022-06-20 15:28] geoand commented on #26229
If we continue to see this issue on AKS, we can always document it

[2022-06-20 15:31] luneo7 commented on #25818
With that change ^ we can easily enable vertx context to be propagated in whole for the Scheduled Executor, and for the Default executor, the method overload will be compatible with the existing version, note that I added a `RemovedResourceBuildItem` in the mutiny processor just to not have to compile mutiny from source to test my changes.

But the changes in mutiny would be:
<img width="745" alt=

[2022-06-20 15:49] cescoffier commented on #26229
If you do not set the type to load balancer explicitly, it uses ClusterIP (that's that default, I believe). Thus, nothing happens (it does not get exposed).

[2022-06-20 16:29] sberyozkin commented on #26236
@mkouba Hi Martin, can you please check the above stacktrace, may be you can spot something, the trace includes https://github.com/quarkusio/quarkus/blob/2.9.2.Final/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java#L225 which goes to https://github.com/quarkusio/quarkus/blob/2.9.2.Final/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfig

[2022-06-20 16:30] luneo7 commented on #25818
The only thing is that we are not fixing everything, the scheduled methods are all broken in the worker pool, just the execute method that is not... and we would also keep default executor != from scheduled executor... I can already reproduce another bug with the current approach... just try to schedule something with the Infrastructure worker pool, and the vertx context won't be propagated...

Th

[2022-06-20 16:31] Akaame opened #26243 "Gotcha: io.quarkus.arc.config.ConfigProperties to io.smallrye.config.ConfigMapping"
### Description

Hello,

When you migrate from `ConfigProperties` to `ConfigMapping` it breaks at the startup if your `prefix` root had properties which were originally not part of the configuration class.

For this application.properties file

[code]

and this configuration class
[code]

Moving to `ConfigMapping`

[code]

will result in:

[code]

Is this sort of "eager" behaviour to map everythin

[2022-06-20 16:33] Akaame commented on #26243
Sorry. Did not realise there was a "Discussions" board. I think this "issue" fits there more than it does here. Will move it to discussions and close this if you also see it fit.

[2022-06-20 16:38] abstractj commented on #26211
@cescoffier @geoand @dhoffer I was about to report a similar issue while reviewing the issues for Keycloak, when I found this ticket. The issue should be considered as low-impact considering that only Java 6, or below are impacted.

More details here:  https://security.snyk.io/vuln/SNYK-JAVA-IONETTY-2812456

[2022-06-20 16:48] radcortez commented on #25412
The solution is simple. Just transform your environment variables to property keys. For instance, `CUSTOMER_NAME_ENDPOINT` becomes `customer.name.endpoint`.

It is unclear to me if it is intended for environment-like variables to be set in the `ConfigMap` `data` field in-line. Reading the documentation https://kubernetes.io/docs/concepts/configuration/configmap/. I'll say no because they refer to

[2022-06-20 16:54] radcortez commented on #26243
Yes, this is intended as an extra validation step to make sure you didn't forget to map configuration, or if your configuration is not used anymore and should be removed: https://smallrye.io/smallrye-config/latest/config/mappings/

You can disable this behavior with `smallrye.config.mapping.validate-unknown=false`

[2022-06-20 16:54] #26243 closed

[2022-06-20 17:20] radcortez commented on #26022
It is not because of the numbers of properties directly, but how they are ordered and the types that are being mapped. For instance, in the case of `Optional` we don't retrieve the keys directly, because we don't know if the values exist, so we have to rely on the list of keys, iterate on that and populate the objects with the keys that we find.

In this case, when `clients.ROEDTKORT.cisco.feed` i

[2022-06-20 17:30] radcortez commented on #26022
I'm unsure if we want to allow mixing different name formats in the `.env` file. I think it may become confusing because in an actual terminal these names are not acceptable.

I'm closing this issue for now. Please reopen if you disagree and let me know your ideas :)

[2022-06-20 17:30] #26022 closed

[2022-06-20 17:46] radcortez commented on #26222
We already implemented proper OTel Support for gRPC in https://github.com/quarkusio/quarkus/pull/24117, available since Quarkus 2.8.0.

Are you able to update your Quarkus version? We are not supporting Quarkus Community 1.x anymore.

[2022-06-20 17:56] shakhar commented on #26222
@radcortez I set the wrong version in the issue by mistake, the quarkus version we use is 2.9.2 and not 1.9.2.

[2022-06-20 18:29] radcortez commented on #26222
Ok, in that case, we will have a look.

[2022-06-20 18:30] whitingjr opened #26244 "HttpFilter doFilter not called for /hello path."
### Describe the bug

 Using Quarkus Resteasy Reactive 2.9.2 I am using HttpFilter.doFilter implementations to add headers to a response. The issue is the doFilter method is not called.

### Expected behavior

The test assertions should pass.
[code]

### Actual behavior

Assertions reveal the header value(s) are not present.

[code]

### How to Reproduce?

 Fetch my reproducer project named [acmew

[2022-06-20 18:37] radcortez commented on #22805
Closing this issue due to lack of activity and reproducer.

[2022-06-20 18:37] #22805 closed

[2022-06-20 18:40] radcortez commented on #25974
Actually will close this one in favor of https://github.com/quarkusio/quarkus/issues/22906.

[2022-06-20 18:40] #25974 closed

[2022-06-20 18:44] radcortez commented on #16299
We added support for this in the OTel JDBC Driver: https://github.com/quarkusio/quarkus/pull/24321

Since the idea is to move forward with OTel and drop OpenTracing, I'll close this issue.

[2022-06-20 18:44] #16299 closed

[2022-06-20 18:45] radcortez commented on #15691
Yes.

[2022-06-20 18:45] #15691 closed

[2022-06-20 18:46] radcortez commented on #13690
Closing due to the lack of activity.

[2022-06-20 18:46] #13690 closed

[2022-06-20 18:48] cesarjv opened #26245 "How to use Swagger in Quarkus with Ingress-Ngnix Kubernetes"
### Describe the bug

Buenas Afternoon. I'm trying to use Swagger in Quarkus and locally it works great for me, however when I upload it to the production environment I'm using Ingress-Nginx as a reverse proxy in a Kubernetes cluster and I'm running into a problem, I don't allows you to view the Swagger interface:

Postman Local:

![respuesta local](https://user-images.githubusercontent.com/316252

[2022-06-20 18:50] radcortez commented on #18295
Closing in favour of https://github.com/quarkusio/quarkus/issues/22906.

[2022-06-20 18:50] #18295 closed

[2022-06-20 20:21] beniaminp commented on #26236
@sberyozkin I am using the idea intelij quarkus plugin to start it.
Thanks!

[2022-06-20 20:52] sberyozkin commented on #26236
@beniaminp I'd like to understand if it is specific to dev mode or not, since there is `Failed to start application (with profile dev):...`

So please try to build the application from the command line and check if it starts in the prod profile.
Or create a reproducer - it is hard to advise anything meaningful otherwise

[2022-06-21 04:03] zhfeng commented on #26219
@gastaldi can you help me to create this extension on quarkivers?

[2022-06-21 05:17] geoand commented on #26244
As @famod said, the Servlet API is **not** supported in RESTEasy Reactive.

[2022-06-21 05:17] #26244 closed

[2022-06-21 05:29] geoand commented on #26245
Have you configured `quarkus.swagger-ui.always-include=true`?

[2022-06-21 05:58] #25994 closed

[2022-06-21 05:59] cescoffier commented on #26211
Yes, I am aware of the CVE, but let's say that Java 6 is slightly out of scope :-).

[2022-06-21 06:08] #10226 closed

[2022-06-21 06:18] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2533142590

[2022-06-21 06:21] geoand commented on #26237
Do you have a reproducer project for this?

Asking because we have tests in our testsuite that test this exact feature so it would be very useful to have an exact case where it does not work.

[2022-06-21 06:24] beniaminp commented on #26236
Hi @sberyozkin. It is happening in debug mode. Unfortunately I cannot reproduce it in a simple project, it is happening on a project with closed sources and in dev mode. After some debugging, I am getting the following exception:
`Error injecting boolean io.quarkus.oidc.runtime.DefaultTenantConfigResolver.enableHttpForwardedPrefix` and same NullPointerException. I have set the `enableHttpForwarded

[2022-06-21 06:32] beniaminp commented on #26236
It looks like that in the prod mode I am having the same issue. If I disable the oidc everything works (except the authentication / authorization)

Thanks!

[2022-06-21 06:39] fazeem84 opened #26250 "OpenTelemetry: Quarkus GraalVM AWS lambda-rest- issue"
### Describe the bug

[25708](https://github.com/quarkusio/quarkus/issues/25708), the pull request raised against this issue solved open telemetry connection issue from my local environment ,but when I deployed it as lambda service ,it seems communication between the AWS lambda and  open telemetry server(Elastic APM in my case)  is not established

### Expected behavior

AWS Lambda should be able

[2022-06-21 06:43] DavideD commented on #23739
Could you create a test case?

[2022-06-21 06:43] DavideD commented on #23739
Does it only happen with a native build?

[2022-06-21 06:45] yrodiere opened #26251 "SimpleJaxbTest in quarkus-rest-client-reactive-jaxb-deploymant failing randomly on CI"
### Description

`io.quarkus.rest.client.reactive.jaxb.test.SimpleJaxbTest`, a test in `quarkus-rest-client-reactive-jaxb-deploymant`, has been failing randomly on CI for a few days.

Sometimes it fails for JDK11 but not JDK17, sometimes it fails for JDK17 but not JDK11. So it doesn't look like a JDK compatibility issue, but more likely some race condition.

The logs for one of builds that failed:

[2022-06-21 07:30] mkouba commented on #26236
I don't see anything special. The NPE comes from the `DefaultTenantConfigResolver_Bean.create()` which looks like:
[code]

[2022-06-21 07:52] yrodiere commented on #26228
At first I thought this was a duplicate of #16204, but it seems it's even worse with Oracle: we don't just get a JDBC warning when trying to drop a table that doesn't exist, we get a full-blown exception...

I suspect whatever solution we chose, it will have to be handled in Hibernate ORM. A shame [Oracle doesn't support `DROP TABLE IF EXISTS`](https://docs.oracle.com/en/database/oracle/oracle-dat

[2022-06-21 07:55] yrodiere commented on #16204
Note it's even worse with some databases, e.g. Oracle: it seems we display a full stack trace... See #26228

Maybe we should have a look at how to fix this in Hibernate ORM 6.x, with a list of error codes we can safely ignore in exceptions/JDBC warnings, but that should be *only* in the context of schema dropping, and that will probably require some disruptive internal changes...

[2022-06-21 08:01] fvaleri commented on #26219
Thanks @zhfeng.

When using Camel JMS component extension (which uses Spring JMS), the the producer creates one connection for every message, slowing down the application. This is much more evident when you enable TLS or transactions.

[2022-06-21 08:23] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2533142590

[2022-06-21 09:08] romilpunetha opened #26253 "Multi does not terminate if an error is thrown"
### Describe the bug

I have an api returning a Multi<Object>. When the api throws an error, the call gets stuck and never terminates.

The API call:
[code]

As seen in the screenshot, an error is thrown, and the curl call never terminates and has status code 200.  However, the following test case passes when asserted for status code 500:

[code]

<img width="1534" alt="Screenshot 2022-06-21 at 9

[2022-06-21 09:17] Sanne commented on #26228
Related:
 - https://hibernate.atlassian.net/browse/HHH-14889

I didn't want us to work on HHH-14889 in ORM5, but for ORM 6 it would be welcome.

[2022-06-21 09:46] sberyozkin commented on #26236
Thanks @beniaminp @mkouba

@beniaminp I honestly don't know how I can help without a reproducer. Can you create a `HelloWorld` endpoint protected with `quarkus-oidc` with the same configuration ?

[2022-06-21 10:47] #26177 closed

[2022-06-21 10:50] #19129 closed

[2022-06-21 11:00] sberyozkin commented on #26236
@beniaminp Sounds good, thanks, yes, please try to narrow down

[2022-06-21 11:44] yrodiere commented on #26251
So it was disabled on the main branch 5 days ago, and re-enabled on the main branch 1 hour ago, but the build I mentioned above (https://github.com/quarkusio/quarkus/runs/6966186553) failed on the main branch 20 hours ago... when the test was supposed to be disabled? There was something wrong here.

Anyway, let's hope #26231 fixes the problem. My PR has been merged, so there's no point rebasing it

[2022-06-21 11:44] #26251 closed

[2022-06-21 11:50] Sgitario commented on #26251
Ops! Let's see how the CI goes :crossed_fingers:

[2022-06-21 12:37] phillip-kruger opened #26257 "Dev UI Config description should parse asciidoc."
see https://github.com/quarkusio/quarkus/issues/26200#issuecomment-1161691347_

[2022-06-21 12:40] phillip-kruger commented on #26257
A, ok, that @yrodiere :) Let close this one :)

[2022-06-21 12:40] #26257 closed

[2022-06-21 12:44] mikeleitz commented on #23739
I haven't tried it via native yet. It happens running it in the IDE.

[2022-06-21 12:53] gsmet commented on #26228
Well, improving the situation by using `IF EXISTS` whenever the dialect supports it would already improve the situation a lot with virtually no cost on our side.
The fact that things would still be bad with Oracle is a separate matter IMO.

[2022-06-21 13:00] yrodiere commented on #26228
Depends what you mean by "a lot". It would get rid of stack traces, so it would solve this ticket (#26228). We'd still have work on our plate to solve #16204 / HHH-14889.

To clarify, there are two problems:

1. JDBC warnings being displayed when dropping tables that don't exist... even when using `IF EXISTS`. That's #16204 / HHH-14889. And changes to Oracle DB won't affect this: it happens for ot

[2022-06-21 13:06] knutwannheden opened #26258 "OpenTelemetry MDC integration not quite working"
### Describe the bug

While Quarkus appears to register the trace context fine in the MDC using `VertxMDC`, it appears that it cannot be accessed using the `org.jboss.logging.MDC` class. AFAICT the issue appears to be that the static initialization of `org.jboss.logmanager.MDC#mdcProvider` may not be able to find the `io.quarkus.bootstrap.logging.LateBoundMDCProvider` as registered in a correspond

[2022-06-21 13:08] DavideD commented on #23739
Thanks a lot

[2022-06-21 13:17] diabolicallabs commented on #25159
I would. I did the same for vert.x in the cron module.

[2022-06-21 13:38] fastluca opened #26260 "ContextNotActiveException on Quarkus Amazon Lambda with Mutiny"
### Describe the bug

I implemented a Lambda Handler which starts two sub-processes in parallel as `Uni`. Each of them needs to access an Hibernate ORM repository during it's execution.
It works fine during unit testing with `@QuarkusTest`, but I got a ContextNotActive exception when running in native mode on Lambda Environment:
[code]
This is the handler implementation:

[code]

### Expected beha

[2022-06-21 13:46] zakkak commented on #25526
I created a WIP PR regarding this, see https://github.com/oracle/graal/pull/4661

[2022-06-21 14:50] yrodiere commented on #26228
For other databases, yes we do. Though obviously, for Oracle, no dialect supports it at the moment.

https://github.com/hibernate/hibernate-orm/blob/967ede47c0c0728e60a3cea805da6f348b321620/hibernate-core/src/main/java/org/hibernate/tool/schema/internal/StandardTableExporter.java#L237-L251

[2022-06-21 14:58] gsmet commented on #26228
Ah OK, I thought it was ORM complaining, just ignore me then :).

[2022-06-21 15:11] Sanne commented on #26228
Right, that's what I thought - you made me doubt my memories :)

[2022-06-21 15:50] #26219 closed

[2022-06-21 16:02] luneo7 commented on #25526
@zakkak it will be fixed in jOOQ 3.17, that is not released yet (dunno when it will be released)... I did a work around though... adding libs to the pom so the class path is complete, even if we are not using the libs...

[2022-06-21 16:44] zhfeng commented on #26219
Thanks @gastaldi !

[2022-06-21 17:25] patriot1burke opened #26269 "AWS Lambda remove null attributes from event marshalling"
### Describe the bug

For some lambda event types, Jackson will put in a "null" string for attribute values.  Configure Jackson to remove null attribute

See:  https://github.com/quarkusio/quarkus/discussions/26261

Hopefully the fix is to just add a config to Jackson ObjectMapper to remove null attributes from event marshalling

### Expected behavior

_No response_

### Actual behavior

_No respo

[2022-06-21 17:39] aurimasniekis opened #26270 "ServerExceptionMapper with JsonMappingException exception mapper result is not used as main response but as property value in result"
### Describe the bug

I have an exception mapper using `@ServerExceptionMapper` for exception `JsonMappingException` which generates a `Response` for an issue that happened. The generated response is used as the property value of caused issue property in result.

I am not sure which side is the issue is it Jackson or Quarkus exception mapper.

### Expected behavior

The exception mapper returned r

[2022-06-21 18:04] #26245 closed

[2022-06-21 19:06] mgubaidullin opened #26273 "Unable to set custom app.openshift.io/runtime label when deploying with OpenShift extension"
### Describe the bug

I'm deploying quarkus app to OpenShift using openshift extension
I have set in application.properties the following property:
[code]

### Expected behavior

Label in Openshift
[code]

### Actual behavior

Label in Openshift
[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Darwin Kernel Version 21.5.0

### Output of `java -version`

openjdk vers

[2022-06-21 19:31] luneo7 opened #26274 "AWS MySQL JDBC extension"
### Description

MariaDB dropped support for AWS Aurora in version 3, and AWS launched their own MySQL driver, which is a fork of MySQL connector/j with AWS plugin stuff (https://awslabs.github.io/aws-mysql-jdbc/).

It would be nice to have an AWS MySQL JDBC extension, if allowed, I can create one in Quarkiverse and also support it =]

### Configuration suggestion

_No response_

### Additional co

[2022-06-21 20:01] luneo7 commented on #26258
It is actually that the `META-INF/services/org.jboss.logmanager.MDCProvider` is inside the vertx core extension and not in the `independent-projects/bootstrap/runner` project... The `LateBoundMDCProvider` is in the right place... the bootstrap is not being able to see the provider configuration file...

[2022-06-21 20:38] luneo7 commented on #26258
With 2.10.0.Final... if you run in native mode, or fat jar... it works though... just fast jar isn't working now...

[2022-06-21 20:43] knutwannheden commented on #26258
@luneo7 Thanks for the analysis. In the issue I mentioned dev-mode only, but I can confirm that it also doesn't work in the normal launch mode with the default packaging (which I think is fast-jar as you mention).

[2022-06-22 00:43] cristianonicolai commented on #12486
another related fix just merged https://github.com/kiegroup/kogito-runtimes/pull/2283, lets see the next run.

[2022-06-22 04:19] geoand commented on #26258
I'll have a look

[2022-06-22 06:07] geoand commented on #26274
I think it would be a nice Quarkiverse extension :)

[2022-06-22 06:10] geoand commented on #26270
I can't say I understand exactly what the issue is, so it would be great if you attached a sample project with a test that shows what is happening now and what you expect to be happening

[2022-06-22 06:35] rsvoboda commented on #26156
@radcortez can you provide some input to this / what are your plans?

[2022-06-22 06:47] geoand commented on #26258
This is a little complicated.

As you have seen, implementations of `org.jboss.logmanager.MDCProvider` need to be loaded by the System ClassLoader (because LogManager is loaded from that ClassLoader - something which cannot change). This also means that the `META-INF/org.jboss.logmanager.MDCProvider` file is loaded by the System ClassLoader which does **not** know about the implementation in the V

[2022-06-22 06:49] aloubyansky commented on #8593
@radtriste looks like the latest upgrade is still affected?
[code]

[2022-06-22 06:58] shakhar commented on #26222
If it helps, I copied your `GrpcTracingServerInterceptor` and changed it according to [this](https://stackoverflow.com/questions/57370763/how-to-pass-data-from-grpc-rpc-call-to-server-interceptor-in-java) with `scope = spanContext.makeCurrent()` at the start of each function in `TracingServerCallListener` and  `scope.close()` at the end of each function (inside `finally` scope of the try catch).

[2022-06-22 06:58] yrodiere opened #26279 "Apply test config profile (%test properties) for runtime properties when running integration tests (native tests)"
### Description

When running integration tests (`@QuarkusIntegrationTest`), we execute tests against a native build of the application, one that was built with the `prod` configuration profile. The main reason for that is that a native build takes a lot of time, and doing two native builds of the application (once with the `prod` profile, once with the `test` profile`) would add unreasonable over

[2022-06-22 06:58] rudiger3d commented on #26022
Thanks for looking into it and explanation. I don't have any ideas regarding the code right now - might look at a later point in time.

[2022-06-22 07:21] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2539988615

[2022-06-22 07:21] radtriste commented on #8593
@mariofusco @evacchi

[2022-06-22 07:22] evacchi commented on #8593
yes this was fixed on main @radtriste

[2022-06-22 07:23] radtriste commented on #8593
@aloubyansky this will be corrected in our next release which should happen next week

[2022-06-22 07:24] aloubyansky commented on #8593
Thanks for the info. Could you please disable this test in the platform for now?

[2022-06-22 07:33] yrodiere opened #26283 "Shorthand for setting a config property to the same value in dev and test profiles"
### Description

It's quite common to want to set multiple configuration properties to the same value in multiple profiles, but not all of them.

For example, a developer not relying on dev services might want to set the following properties for both the `dev` profile and the `test` profile:

[code]

Currently, people have to specify all properties twice:

[code]

Alternatively, they can define a

[2022-06-22 08:02] radtriste commented on #8593
@aloubyansky https://github.com/quarkusio/quarkus-platform/pull/565

[2022-06-22 08:03] pjgg commented on #25954
I could reproduce this issue

Steps to reproduce (Windows machine)
1. clone the following repository
`git clone --branch feat/oracle_native git@github.com:pjgg/quarkus-test-framework-1.git`

2. Go to the `pom.xml` located under this path `examples/database-oracle` and remove the following profile
[code]

3. run the following command from the root project folder

`mvn clean verify -Pframework,examp

[2022-06-22 08:11] DavideD opened #26284 "Panache projection doesn't work with aggregate JPQL functions"
### Describe the bug

Let's take this example using the `Fruit` entity in the [hibernate-reactive-panache-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/hibernate-reactive-panache-quickstart):

[code]

It will throw the following exception:
[code]
It happens because Panache generates the wrong query.

The correct HQL query should be:
[code]
As a workaround, It works without

[2022-06-22 08:20] cescoffier commented on #24750
See #26268

[2022-06-22 08:22] cescoffier commented on #24694
I believe this is fixed in https://github.com/quarkusio/quarkus/pull/26268

[2022-06-22 08:22] cescoffier commented on #24056
Fixed in https://github.com/quarkusio/quarkus/pull/26268.

[2022-06-22 08:22] cescoffier commented on #21108
Fixed in #26268

[2022-06-22 08:30] zakkak commented on #25954
The build fails with:
[code]
when trying to run `native-image`.

@AndrewGB123 you are most probably affected by https://github.com/oracle/graal/pull/4635, to check this you can try installing GraalVM in a path without spaces and rerun. Can you also please run with `-Dquarkus.native.additional-build-args=--verbose`?

You might wan to check if `C:\Program Files (x86)\graalvm-ce-java17-22.0.0.2\bin\n

[2022-06-22 08:53] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2539988615

[2022-06-22 09:17] alexeysharandin opened #26286 "add libcap-dev to ubi-quarkus-native-image* (or create additional one with library)"
### Description

libcap-dev used in https://github.com/quarkiverse/quarkus-jef at this moment to check linux capabilities to execute HW integrated code.

Quarkus builds using Ubuntu and not a problem to add
[code]
to build.xml

But for native-image genearation in quarkus-ecosystem-ci Quarkus team using ubi-quarkus-native-image* what based on RHEL8. In the RHEL8 no possibility to install libcap-dev

[2022-06-22 09:28] gastaldi commented on #26274
It sounds like something that would be in https://github.com/quarkiverse/quarkus-amazon-services but I am not 100% sure.

[2022-06-22 09:36] geoand commented on #26283
Interesting idea, +1 for the first option

[2022-06-22 09:44] radcortez commented on #26156
Let me have a look.

[2022-06-22 09:46] yrodiere commented on #26279
And probably have it default to `test`, then? Otherwise I fear we'll keep confusing people... Documentation is nice, but "instinctive" behavior is better.

[2022-06-22 09:46] maxandersen commented on #26286
@cescoffier @tqvarnst any ideas on how to solve this ?

[2022-06-22 09:50] geoand commented on #26279
That's where I disagree :)

[2022-06-22 09:52] ahofmeister commented on #13003
@MarcusBiel Did you ever looked deeper into this issue? I have the same issue, but two of my colleagues don't have it. So I think the is nothing wrong in the code, but probably some caching issues. So it's hard to provide a reproducer here.

[2022-06-22 10:01] geoand commented on #26279
I don't agree that it's bad default, although I understand why people (perhaps even most?) would think so.

The way I see it, the integration test should do exactly the same thing as the application run in production, unless otherwise requested.
As for the argument that people would need to use  `prod` configuration, well I'm totally fine with that because people should never have **real** product

[2022-06-22 10:24] Sanne commented on #25954
The logged warning got my attention, sent PR #26289 because of it.

[2022-06-22 10:34] #26230 closed

[2022-06-22 10:36] geoand commented on #26279
Yeah, I understand the reasoning for those specific properties, although I still don't think it's worth changing the existing behavior.

In any case, if someone makes the change, I personally won't block it, but I won't be doing the work myself (although I can provide pointers to what needs to be changed).

[2022-06-22 10:42] yrodiere commented on #26283
Ok, but what do you want to validate? Setting the same property in multiple profiles is exactly what I'm trying to achieve...

Maybe you mean setting the property multiple times for the same profile? E.g. this:

[code]

That seems dangerously ambiguous indeed... Though I'd expect the last one to win, similarly to this:

[code]

[2022-06-22 10:55] radcortez commented on #26156
I'll need to go deeper into this. It seems that the generated class is not reloading the build time source in dev mode for runtime (but the build time values are indeed changed and used in the build steps).

For jar mode, the warning probably stopped working when we did this change: https://github.com/quarkusio/quarkus/pull/20932

[2022-06-22 11:04] radcortez commented on #26283
No specific rule, it is dependent on the implementation of `Properties`. It works that way because the implementation read the file line by line and calls `put` in an `Hashtable`. I would also prefer to have different behavior, but on the other hand, I don't think we should change the way that `Properties` behave, since most developers are already used to it.

[2022-06-22 11:13] yrodiere commented on #26283
@radcortez So you'd prefer the "parent profile" solution, whose name is yet to be determined (that'll be a hard one)? Or do you have another solution in mind?

[2022-06-22 11:22] radcortez commented on #26283
How about this?

**profile-aware files**

_application-common.properties_
[code]

_application-dev.properties_
[code]

_application-test.properties_
[code]

[2022-06-22 11:27] radcortez commented on #26283
BTW, I think that more and more users go with the profile-aware file approach because that is how they used to do it with Spring, and when `application.properties` gets too big, it becomes a mess to manage.

[2022-06-22 11:34] Sgitario commented on #26187
This issue is due to the usage of DirectByteBuffer in Netty.
The problem is that JDK will cache the byte buffer arrays with unlimited size.
One workaround is to configure the JDK to only cache smaller instances, for example, using `-Djdk.nio.maxCachedBufferSize=262144`, then JDK won't cache buffers larger than 256Kb. I tried this solution and now the test passed even after repeating the same test

[2022-06-22 11:39] jmartisk commented on #26233
This seems to be caused by the fact that in some cases, the validation is handled by our `io.smallrye.graphql.cdi.validation.ValidationService` which throws a `io.smallrye.graphql.cdi.validation.BeanValidationException` when necessary, but sometimes, instead of the validation service, it is handled by a Hibernate Validator interceptor directly. I'm not sure why sometimes that interceptor is called

[2022-06-22 11:43] yrodiere commented on #26283
Not per se. I'm sure it's a negligible overhead for reasonably complex applications.

It's more an issue when I have to show a demo or document another extension: even when trying to simplify things and to show only minimal configuration, I end up having to duplicate keys (which gives a bad impression) or to explain how `parent.profile` works (which sidetracks the conversation). It just makes mini

[2022-06-22 11:57] mhenze-exaring opened #26290 "Command Mode Applications don't work with Kotlin 1.7"
### Describe the bug

If you create a Command Mode Application for kotlin and change the kotlin version to 1.7 the application fails to work .

### Expected behavior

- When using `@QuarkusMain` the application should execute the `run()` method of the QuarkusApplication
- When using `quarkus.package.main-class` the application should execute the `run()` method of the QuarkusApplication
- When usin

[2022-06-22 12:06] radcortez commented on #26283
Yes, I understand the issue.

If we are to support a `%[test,dev]` syntax, we need to provide a similar ability to the profile-aware files. Maybe we need to add support to read profile-aware files for multiple profiles like `application-[P1]and[P2].properties`. The problem, here again, is what if you actually have a profile named `P1andP2`? :)

Maybe a crazy idea, but what if we fall back to `dev`

[2022-06-22 12:25] famod commented on #26062
One gotacha (or thing to adjust) is that when triggering a job in dev ui creates a `DevModeScheduledExecution`, not a `QuartzScheduledExecution`.

[2022-06-22 12:36] geoand commented on #26187
Thanks a lot!

I'll have to check it out

[2022-06-22 12:38] radcortez commented on #26283
Yes, similar. Basically, we would do what we currently do with `prod`, where we record the build time properties in a MIN ordinal source as defaults for fallback. We could do the same for `dev` to `test`.

[2022-06-22 12:38] jmartisk commented on #26233
Ah no, so the problem is a bit different. Our `ValidationService` is always called (before the Hibernate Validator interceptor, which is also always called, but later), but after a reload, the service fails to detect the constraint validation, because:
It stores a `ValidatorFactory` inside a static variable: https://github.com/smallrye/smallrye-graphql/blob/1.6.0/server/implementation-cdi/src/main

[2022-06-22 12:43] #11085 closed

[2022-06-22 12:59] beniaminp commented on #26236
Hey @sberyozkin. I upgraded to java16 an run with -XX:+ShowCodeDetailsInExceptionMessages and I got an explanation for the NPE.
Does this mean something for you?
`(Quarkus Main Thread) Failed to start application (with profile dev): java.lang.NullPointerException: Cannot invoke "java.lang.Boolean.booleanValue()" because "<local6>" is null`

I think that it is related to `quarkus.http.proxy.enable-

[2022-06-22 13:01] mkouba commented on #26236
It should be located in `target/quarkus-app/quarkus/generated-bytecode.jar`...

[2022-06-22 13:04] zakkak commented on #25954
This is due to the log not being formatted as a code block. The actual argument (as seen in pjgg's log) is:
[code]

which includes a space and is not wrapped in quotes so I think you are spot on @Sanne !

[2022-06-22 13:05] beniaminp commented on #26236
Thanks @mkouba !

 Also, when the Arc container is trying to get the DefaultTenantConfigResolver it has an error:
`Method threw 'java.lang.RuntimeException' exception. Cannot evaluate io.quarkus.oidc.runtime.DefaultTenantConfigResolver_ClientProxy.toString()`, on `OidcRecorder.setSecurityEventObserved`  for call: `DefaultTenantConfigResolver bean = Arc.container().instance(DefaultTenantConfigResol

[2022-06-22 13:13] yrodiere commented on #26283
I see, I suppose this has some advantages over simply using `dev` as the default "parent profile" for `test`? I'm asking because doing that would at least provide an easy way for people to roll back to the older behavior (useful in supported products, in particular): `%test.quarkus.config.profile.parent=nothing` could override the new behavior. But maybe that's exactly what you want to avoid :)

[2022-06-22 13:20] radcortez commented on #26283
Well, both would work, I was just trying to go with the safer alternative to avoid possible issues. Right now, we can probably try the parent profile directly and observe the behavior.

[2022-06-22 13:55] geoand commented on #26164
@Sgitario do you want to take a look?

[2022-06-22 13:58] mkouba commented on #26236
`<local6> is null` probaby means that there is a constructor which accepts a `boolean` parameter but a `null` argument is passed instead (i.e. autoboxing fails).

[2022-06-22 14:12] mkouba commented on #26236
@beniaminp just out of curiosity, could you try to replace `@ConfigProperty(name = "quarkus.http.proxy.enable-forwarded-prefix") boolean enableHttpForwardedPrefix` with `@Inject HttpConfiguration httpConfig` and `httpConfig.proxy.enableForwardedPrefix`?

[2022-06-22 14:27] mkouba commented on #26236
@sberyozkin I think that `io.quarkus.oidc.deployment.OidcBuildStep.findSecurityEventObservers()` should consume the `RuntimeConfigSetupCompleteBuildItem` to ensure the runtime config is set up (because `DefaultTenantConfigResolver.enableHttpForwardedPrefix` is a runtime config property). I'll send a PR shortly.

[2022-06-22 14:28] sberyozkin commented on #26236
Thanks, I can replace it as Martin suggested

[2022-06-22 14:34] mkouba commented on #26236
Actually, I don't think this would help. Testing my fix for https://github.com/quarkusio/quarkus/issues/26236#issuecomment-1163174888 right now...

[2022-06-22 14:57] nderwin opened #26296 "CORS response headers not present with quarkus.http.non-application-root-path"
### Describe the bug

When using `quarkus.http.root-path` and `quarkus.http.non-application-root-path` to customize the location of REST endpoints (not `/`), but keeping the non-application endpoints (`/openapi`, etc.) available at `/q`, the CORS filter is not executed for the non-application endpoint calls.

Example config:
[code]

Making an HTTP request to `/api/hello` will return CORS response

[2022-06-22 15:07] sberyozkin commented on #26296
@nderwin Thanks, would like to have a look and tweak CORS filter a bit ?

[2022-06-22 15:09] nderwin commented on #26296
I don't think it's a problem with `CORSFilter` itself;  it's just not getting called at all for the non-application endpoints, but I'm not sure where in the code it's added to the call chain or needs to be added.

[2022-06-22 15:26] Hashdhi opened #26297 "Failed to build quarkus application:"
### Describe the bug

Failed to build quarkus after windows security update in my org . it was working before . i think treats transformed-bytecode.jar has a virus .
how  do we disable it ? is there any settings ?

quarkus-maven-plugin:2.10.0.Final

[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:2.10.0.Final:build (default) on project document-management-service: Failed to build qu

[2022-06-22 15:54] sberyozkin commented on #26296
Non application path is handled in https://github.com/quarkusio/quarkus/blob/main/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java I believe, also CC-ing to Erin, @ebullient

[2022-06-22 15:57] andreas-eberle commented on #24505
Hi everyone,

here is an example, how it looks like when you do GRPC with Kotlin in Spring Boot. It would be awesome if we could get the same experience in Quarkus with Kotlin and Coroutines (as I really don't want to use Spring Boot :D ). Maybe it would be an idea to have seperate quarkus-grpc-kotlin extension?

the proto file:
[code]

My service with coroutines
[code]

[2022-06-22 16:17] famod commented on #26208
@PratikDey have you started working on this? If yes I'll assign the issue to you.

Btw, one thing to keep in mind with this is that there are different instructions (strategies) for different trigger types. So we might need more than one new property.

[2022-06-22 17:06] ebullient commented on #25522
Resolved by https://github.com/quarkiverse/quarkus-micrometer-registry/pull/180

[2022-06-22 17:20] PratikDey commented on #26208
No @famod , since I am new to this project I am taking my time to understand how everything works. It would be nice if you could work on this issue with me.

[2022-06-22 17:52] Sgitario commented on #26164
Sure, working on it.

[2022-06-22 18:10] edeandrea opened #26301 "OpenTelemetry extension does not print trace/span ids to the console"
### Describe the bug

I'm following the [Quarkus OpenTelemetry guide](https://quarkus.io/guides/opentelemetry), but the console logs aren't showing the trace information. The traces do get exported to Jaeger though.

### Expected behavior

When I issue the `curl http://localhost:8080/hello` command, the guide says I should expect to see

[code]

### Actual behavior

When I issue the `curl http://l

[2022-06-22 18:26] SpeedsterF2 commented on #25984
quarkus v2.10.0 with default quay.io/quarkus/ubi-quarkus-mandrel:22.0-java17 fails:
 com.fasterxml.jackson.databind.exc.InvalidDefinitionException: Failed to access RecordComponents of type `io.acme.jacksonrecords.SomeRecord`
 at [Source: (String)"{
  "name": "John",
  "surname": "Smith"
}
"; line: 1, column: 1]
...

quarkus v2.10.0 with quay.io/quarkus/ubi-quarkus-mandrel:22.1-java17 fails, too:

[2022-06-22 18:56] insectengine commented on #24326
Created this PR:
https://github.com/quarkusio/quarkusio.github.io/pull/1469

[2022-06-22 20:20] Sanne commented on #25954
My draft #26293 doesn't work as quotes directly affect the regex (it makes it fail even in Linux).

[2022-06-22 20:43] edeandrea opened #26304 "Can't run OpenTelemetry JDBC instrumentation with Quarkus integration tests"
### Describe the bug

I'm following the [JDBC example from the OpenTelemetry guide](https://quarkus.io/guides/opentelemetry#jdbc). When I try to integrate it and then run tests using `@QuarkusIntegrationTest` it does not work. Dev services does not adjust the jdbc URL to include the `otel` part. It seems to do that fine when running `@QuarkusTest`s.

### Expected behavior

I would expect to be abl

[2022-06-22 21:55] kucharzyk opened #26306 "Qute: Template extensions regresion in Quarkus 2.10.0"
### Describe the bug

The following code works with Quarkus 2.9.x but it is not working with Quarkus 2.10.0

[code]

[code]

creationDate has type ```java,time.LocalDateTime```

If I replace TemporalAccessor with LocalDateTime template extension is working as expected, but now it is not working when I'm using interface in extension method.

### Expected behavior

This extension should be working n

[2022-06-22 22:16] famod commented on #26290
The exact same thing seems to happen in CI: #26278

To be fair, Kotlin is still on 1.6.21 in the Quarkus BOM, so 1.7 is not officially supported yet.

/cc @glefloch

[2022-06-23 05:37] stuartwdouglas commented on #26187
Any idea what is allocating the large buffers? This sounds like a bug, we should not be allocating large buffers.

[2022-06-23 05:39] geoand commented on #26187
To be honest, I'm not completely satisfied with the explanation, but haven't had time to look into it.
Hopefully I will today

[2022-06-23 06:14] geoand commented on #26187
How would I pass JVM args or system properties to the launched application with the testing framework in use?

[2022-06-23 06:20] Sgitario commented on #26187
You can pass system properties by adding them here: https://github.com/quarkus-qe/quarkus-test-suite/blob/1f9a89d20514c269b4e87777dfb7dc62ef613f6b/http/rest-client-reactive/src/test/java/io/quarkus/ts/http/restclient/reactive/LargeFileHandlingIT.java#L50

But JVM args are not supported. Though ping me if you really need it and I will help here.

[2022-06-23 06:23] geoand commented on #26187
Thanks

[2022-06-23 06:45] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2546858356

[2022-06-23 06:52] #25818 closed

[2022-06-23 07:00] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2546858356

[2022-06-23 07:19] radtriste commented on #14860
Created https://github.com/kiegroup/kogito-runtimes/pull/2290 so we run only productized part with LTS version
cc @cristianonicolai @evacchi

[2022-06-23 07:28] c0va23 commented on #26222
I reproduce this changes and can confirm - it work! Now span of gRPC interceptors and span created by code called into handler - is linked.

[2022-06-23 07:39] geoand commented on #26187
I was not able to reproduce this under any combination of JVM options I tried.
Also, using `-Dio.netty.leakDetection.level=paranoid` did not yield any leaks.
Furthermore, I saw that the Netty PoolArena was only allocating `64k` and `128k` buffers, so nothing unusual.

[2022-06-23 07:42] geoand commented on #26297
This is already being discussed on the mailing list, so let's not have multiple threads open...

[2022-06-23 07:42] #26297 closed

[2022-06-23 07:46] g-apparence opened #26308 "Panache - load page with join fetch"
### Describe the bug

Hi,
loading a page using panache works great.
Problem is when you try to fetch subcollection within a page loading like this :

[code]

Calling a request without the joins for the count query works.
Maybe we can make this a bit more friendly as join with pagination is a common case.

### Expected behavior

You should be able to load a page with a fetch join.
Replacing lazy by

[2022-06-23 07:56] yrodiere commented on #26283
@radcortez I see you self-assigned this ticket... Given the impact of the last solution we discussed, I feel like we may need to discuss the problem more broadly. Is it okay with you if I start a conversation on the mailing list before we try to address this?

[2022-06-23 08:38] #26068 closed

[2022-06-23 08:38] #26071 closed

[2022-06-23 08:38] #26087 closed

[2022-06-23 08:38] mkouba commented on #26306
The regression was very likely caused by [this optimization](https://github.com/quarkusio/quarkus/commit/5f6d0a72d2d7428cd246d90099262e011a79b822#diff-409ae75ca5b45c330d6f027342c63933ff169ca45a313721bad52bc174e4694eR1847-R1850). Previously, we always analyzed the type closure of the matching type and one of the consequences was that all the types (`java.time.LocalDateTime`, `java.time.temporal.Tem

[2022-06-23 08:42] #24923 closed

[2022-06-23 08:45] HknLof opened #26310 "Resource limits and requests for Kubernetes"
### Description

Kubernetes considers setting `resources.requests` and `resources.limits` a good practice. I did not find any documentation for Quarkus application recommendations.

With a JVM based image going as little as little `resource.limits.cpu=0.2` will actually result in various exceptions of level __WARN__ that scheduling a thread took longer than the default configuration of 1s.

Refs:

[2022-06-23 08:47] #19330 closed

[2022-06-23 08:53] maxandersen commented on #26310
You mean as in guidance for what values makes sense ?

Good question. I can look around.

[2022-06-23 09:17] radcortez commented on #26283
Sure. I was not going to do heavy work on this.

I was thinking of just hardcoding a couple of lines of code to set the `dev` profile in the parent one for `test` and run the tests to see what breaks.

[2022-06-23 09:20] radcortez commented on #26222
Thanks!

If any of you could submit a PR with tests it would considerably speed up the process.

[2022-06-23 10:49] spirostz opened #26314 "@Provider unable to handle Exceptions / default Quarkus error response is used instead"
### Describe the bug

Since we are handling all Exceptions with the  `ExceptionMapper<Throwable>` we should never get the default Quarkus error response.
There is at least one case that an Exception is not handled by our Custom ExceptionMapper.

### Expected behavior

Error response when we call http://localhost:8080/hello should always be:

 "This is custom handler!"

### Actual behavior

Error r

[2022-06-23 10:59] #20627 closed

[2022-06-23 11:32] HknLof commented on #26310
I would also say, that implementing requests and limits in the generated yaml might make sense as it is considered a best practice. Of course needs to adjusted to the specific needs of a given application.

[2022-06-23 11:46] HerrDerb opened #26315 "Start and keep @QuarkusIntegrationTest running, without executing tests, for faster test development cicle"
###
There should be an easy way to start and keep the `@QuarkusIntegrationTest` environment running for a rapid test development and verification cicle.

### The current way
Wenn working with `@QuarkusIntegrationTest`, the current procedure for developing new tests looks like this:

1. Write a test for my api
2. Start `@QuarkusIntegrationTest` with everything that comes with it (Dev services, Test

[2022-06-23 12:16] aurimasniekis commented on #26270
I tried quickly to reproduce the issue:

https://github.com/aurimasniekis/quarkus-exception-mapper-issue-reproduction

The endpoint is `http://127.0.0.1:8080/hello/1`

You can see it started to output the `MyEntity` object, encountered an exception, and then wrote the response of the exception mapper not discarding the started output of the `MyEntity` object.

[code]

[2022-06-23 13:01] dexxamannen opened #26317 "Support of encryptet payload in JWT(JWE) idtoken"
### Description

Hello!
We have some issue when working with OIDC extension and use the "private_key_jwt with the PEM key file" flow.
In our case the idtoken is encryptet (JWE), on the token exchange we get an authexception with a respond of 401 on the client.

I can get it to work by update the sourcecode of the OIDC extension in quarkus and then manually decrypt the idtoken with same key as i us

[2022-06-23 13:21] rsvoboda opened #26318 "Combination of quarkus-resteasy,quarkus-spring-data-rest ends with "Cannot generate HAL endpoints""
### Describe the bug

Combination of `quarkus-resteasy,quarkus-spring-data-rest` ends with "Cannot generate HAL endpoints"

HAL was introduced in https://github.com/quarkusio/quarkus/pull/25396/files by @Sgitario

[code]

### Expected behavior

No error is thrown, I'm not using HAL at all.

### Actual behavior

Error when building the app

### How to Reproduce?

quarkus create app app -x quarkus-r

[2022-06-23 13:53] edeandrea commented on #25378
@geoand I've re-opened this & proposed a PR to update the `apicurio-common-rest-client-vertx` version. See #26322

[2022-06-23 13:58] rsvoboda commented on #26318
The same error happens with another combination too.

`quarkus-resteasy-qute` + `quarkus-hibernate-orm-rest-data-panache`

[2022-06-23 14:11] gastaldi commented on #24880
There is the [independent-projects/enforcer-rules](https://github.com/quarkusio/quarkus/tree/main/independent-projects/enforcer-rules) module which publishes custom enforcer rules.

I think we could move the `bannedDependencies` in the [build-parent](https://github.com/quarkusio/quarkus/blob/main/build-parent/pom.xml#L494-L599) to a custom rule to facilitate reuse

[2022-06-23 14:26] gastaldi commented on #24880
FWIW I created https://issues.apache.org/jira/browse/MENFORCER-422 asking for reading a list of banned dependencies from an external file/URL

[2022-06-23 15:38] sberyozkin commented on #26317
Sorry, forgot `TokenStateManager` is not relevant in this context

[2022-06-23 15:50] sberyozkin commented on #26317
Does the provider return such a decryption key iin a JWK set from its JWK set endpoint ?

[2022-06-23 15:54] StephenOTT opened #26324 "Proactive Authentication creates excessive SecurityIdentityAugmentor calls"
### Describe the bug

As per https://quarkus.io/guides/security-built-in-authentication#proactive-authentication, proactive auth is enabled by default. (yes you can disable it, but it is enabled by default, why?)

When implementing security a common implementation detail is to add a SecurityIdentityAugmentor to enrich the identity (such as DB lookup of the user).

When Proactive Authentication is

[2022-06-23 16:40] radcortez commented on #25002
The `@Trace` is from MP OpenTracing and not from OpenTracing directly. I believe that OpenTracing did not have a way to override the REST endpoint span name natively.

OpenTelemetry also does not have an API to override the name. The span name is generated using the rules defined in the semantic conventions: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trac

[2022-06-23 17:09] radcortez commented on #25336
The issue here is that the Vert.x client used in the middle of the service does not propagate the context. It needs to transform the context into HTTP headers so the service on the other hand can keep the context going. The RESTEasy Type safe client already does this. I believe I've also looked into the Vert.x client and couldn't find a way to automate it, unless if I provide the client, but let m

[2022-06-23 17:24] sberyozkin commented on #26324
Hmm. I don't think it is the case for a prod profile call, right ?
@StephenOTT It looks like, in Dev UI, multiple calls are made per various components/cards loaded in Dev UI, so if you have a very wide, `/*` kind of protection then every call will require an authentication.
Or, similarly, if the credentials are posted to the public resource, then the same will happen with the proactive authentica

[2022-06-23 19:28] radcortez commented on #25336
Actually, the Vert.x client is already prepared to propagate the context as well. The issue is in another place. The client was reusing the context if one was already available, but we actually need to create a new one, or it will try to create parent / child relationships, but there are actually separate calls.

I'll push a fix soon.

[2022-06-23 20:08] luneo7 commented on #26301
https://github.com/quarkusio/quarkus/issues/26258 was brought before, same thing =]

[2022-06-23 20:09] luneo7 commented on #26301
Fat jar, native mode works, but fast-jar doesn't...

[2022-06-23 22:46] edeandrea opened #26333 "OpenTelemetry with reactive rest client not working properly"
### Describe the bug

Combining OpenTelemetry with the reactive rest client doesn't seem to be working correctly. Traces and spans are missing.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

I saw this as I was integrating OpenTelemetry into the super heroes `rest-fights` service when it makes downstream calls to both the `rest-heroes` & `rest-vil

[2022-06-24 00:16] #26233 closed

[2022-06-24 02:43] #24183 closed

[2022-06-24 02:44] phillip-kruger commented on #21434
Done

[2022-06-24 02:44] #21434 closed

[2022-06-24 02:46] phillip-kruger commented on #19879
This should be fixed now in v 2.10.0. Please reopen if not.

[2022-06-24 02:46] #19879 closed

[2022-06-24 04:28] calohmn commented on #26216
(I've updated the issue description above - see "Needed steps", and "How to reproduce".)

**Test concerning handling of "status 404" requests** (with no explicit failure handler route getting matched):
In the `HelloRouterTest` class, such a test can be added:
[code]

**Test concerning invalid HTTP requests**
It seems, tests involving the handling of invalid HTTP requests cannot be done with rest-a

[2022-06-24 05:34] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2553653225

[2022-06-24 06:50] rsvoboda opened #26336 "Unable to build Quarkus main - Gradle plugin - can't find plexus-utils-3.4.1.jar"
### Describe the bug

Unable to build Quarkus main - Gradle plugin - can't find plexus-utils-3.4.1.jar

This block our daily and PR CI runs as we can't build Quarkus main - e.g. https://github.com/quarkus-qe/quarkus-test-suite/runs/7029470577?check_suite_focus=true

I was able to reproduce the same locally:
 - using custom local repo
 - also when I removed `~/.m2/repository/org/codehaus/plexus/ple

[2022-06-24 07:12] rsvoboda commented on #26336
https://status.quarkus.io/ reports components as green, but if I look into GH actions they are red because Quarkus main wasn't built
 - https://github.com/quarkusio/quarkus-super-heroes/actions/workflows/quarkus-snapshot.yaml
 - https://github.com/quarkiverse/quarkus-operator-sdk/actions/workflows/quarkus-snapshot.yaml
 - https://github.com/quarkiverse/quarkus-opencv/actions/workflows/quarkus-snap

[2022-06-24 07:17] pilhuhn opened #26338 "Allow access log to also access the exchange data"
### Description

The (Vert.x) routing context has a generic data store. Allow to log entries from that store in access log.

In our project we have a need to e.g. also log the tenantId of a logged in user in addition to the login-name.
We put that tenant id into the routing context

`routingContext.put(X_RH_ACCOUNT, rhIdentity.identity.accountNumber);`

Now it would be neat to easily log that valu

[2022-06-24 08:12] u6f6o commented on #26290
@famod : are you aware of any possibility to enforce the versions suggested by the bom for gradle plugins? If I omit the version string for the plugins, it does not work.

[2022-06-24 08:30] yrodiere commented on #26283
Alright.

Done: https://groups.google.com/g/quarkus-dev/c/40iwFnPj3PM/m/pwqgMtnsAwAJ

[2022-06-24 08:48] glefloch commented on #26336
I'm not sure we can do something on our side, right ?

[2022-06-24 09:12] DavideD commented on #23739
Maybe there are other places where you are using `@Transactional`.  `@Transactional` doesn't work with Hibernate Reactive and Panache. Make sure to check that you are using `@ReactiveTransactional` instead. Please, let me know if this helps.

[2022-06-24 09:22] sberyozkin opened #26344 "Integrate Vertx HTTP with Credentials Provider"
### Description

Users should be able to fetch the keystore and truststore passwords from different types of Vaults via `CredentialsProvider`:

https://quarkus.io/guides/credentials-provider

### Implementation ideas

Check `CredentialsProvider` in the `Vertx HTTP` recorder if no keystore/truststore passwords are configured.
The problem there is that `password` is a default - we can still default

[2022-06-24 09:49] rsvoboda commented on #26336
I noticed this yesterday, maven central has the artifact available, one can do `mvn org.apache.maven.plugins:maven-dependency-plugin:get -Dartifact=org.codehaus.plexus:plexus-utils:3.4.1`

I don't know what needs version 3.4.1, probably something from Gradle?
Quarkus BOM defines `<plexus-utils.version>3.3.0</plexus-utils.version>`

[2022-06-24 10:05] jukzi opened #26345 "cannot setup on win10/MinGW with JAVA_HOME contains space"
### Describe the bug

I tried to follow the "Get Started" https://quarkus.io/get-started/ guide on windows.
Results in Error on the very first step: `.jbang/bin/jbang: line 229: C:\Program: No such file or directory`
my JAVA_HOME is "C:\Program Files\Eclipse Adoptium\jdk-17.0.3.7-hotspot\"  - which contains 2 spaces (pretty normal on windows)

### Expected behavior

no error, proper escape space

[2022-06-24 10:15] maxandersen commented on #26345
Can you run "jbang --version" and show output ?

This issue was fixed in older jbang so just checking if regression or old jbang.

[2022-06-24 10:18] jukzi commented on #26345
[code]

[2022-06-24 10:21] sberyozkin commented on #26324
Closing as not a bug, `SecurityIdentityAugmentor` will be called once per every incoming request, so if a given client system sends N requests in parallel, `SecurityIdentityAugmentor` will be called N times, once per each client request. if the resource is public then it can be avoided easily by either disabling the proactive authentication if the client system is sending the credentials or making

[2022-06-24 10:21] #26324 closed

[2022-06-24 10:23] jukzi commented on #26345
i deleted .jbang and tried again to get the newest version:
[code]

[2022-06-24 10:36] holly-cummins commented on #25428
Fixed by above PRs, so closing. We're not there on M1, but we're closer.

[2022-06-24 10:36] #25428 closed

[2022-06-24 10:43] lcy-1024 opened #26346 "Call JNI method failed by native image."
### Describe the bug

Failed to call jSerialComm's so/dll JNI method by native image,and succeed in jar file.
Is there any quickstart project to call JNI method?

detail:
https://github.com/Fazecast/jSerialComm/issues/438

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

My development steps are:
1.Create a quarkus project.
2.Add the jSerialComm depe

[2022-06-24 10:46] mkouba commented on #26236
That's not good :-(.

We really need a reproducer. @beniaminp What extensions does your app use?

[2022-06-24 11:01] zakkak commented on #26336
Well in my case it fails even if the dependency is present in my local maven repository, so it doesn't look like a fetch issue.

It's interesting that the [quarkus GH pipelines seem to work fine](https://github.com/quarkusio/quarkus/runs/7037088745?check_suite_focus=true#step:10:2)m they use `-DskipTests -DskipITs -Dinvoker.skip -Dno-format -Dtcks` instead of `-Dquickly` though, but I tried that a

[2022-06-24 11:11] beniaminp commented on #26236
I tried to reproduce it on an empty project, but everything works fine.
In this project, I am migrating an old java ee project to quarkus. We did all the changes in order for quarkus to run and this is the only thing that is not working. If I disable the oidc, everything works fine.
I did the changes on quarkus-oidc runtime on DefaultTenantConfigResolver and now it is working, but I have to check

[2022-06-24 11:56] mkouba commented on #26236
That's unfortunate. I'm afraid we can't do more without a reproducer...

Yes, you would have to use programmatic lookup and lazy injection, i.e. something like `@ConfigProperty(name = "quarkus.http.proxy.enable-forwarded-prefix") Instance<Boolean> enableHttpForwardedPrefix` and then `enableHttpForwardedPrefix.get()`.

[2022-06-24 11:56] mkueng1 commented on #26145
Now it works for me. I got a bit misled as concrete and abstract javax.ws.rs.core.Application implementations of the library are listed in the error message that only one is supported. It would be really a benefit having the possibility of multiple Application implementations same as in JEE servers or at least have the possibility when bringing in the servlet engine (which I need anyway for static

[2022-06-24 12:00] rsvoboda commented on #26336
There is "Cache maven Repository" step before the build, that can bring the needed jar for the build

[code]

[2022-06-24 12:06] #26236 closed

[2022-06-24 12:09] famod commented on #26336
A build in my fork just failed because of that: https://github.com/famod/quarkus/actions/runs/2555518546

[2022-06-24 12:11] famod commented on #26336
Since when exactly do we have this problem?

[2022-06-24 12:19] rsvoboda commented on #26336
I noticed that yesterday

Quarkus ecosystem CI I linked before failed the last run on the build issue, previous runs were green

 - https://github.com/quarkusio/quarkus-super-heroes/actions/workflows/quarkus-snapshot.yaml
 - https://github.com/quarkiverse/quarkus-operator-sdk/actions/workflows/quarkus-snapshot.yaml
 - https://github.com/quarkiverse/quarkus-opencv/actions/workflows/quarkus-snapshot

[2022-06-24 12:25] rsvoboda commented on #26336
Same here, pom gets downloaded, but not the jar :/

[2022-06-24 12:43] mikeleitz commented on #23739
Replaced the two places where I was using @Transactional with @ReactiveTransactional. Same error.
<img width="1159" alt="Xnapper-2022-06-24-07 41 20" src="https://user-images.githubusercontent.com/40745367/175538221-d01d26d9-32d2-4cb1-8d4c-6ea2293c6a64.png">

[2022-06-24 13:33] rsvoboda commented on #26336
Tried to build a5ff943dad51d32c4637af02b87d353fa70c788e (last commit from Jun 22, 2022) and it all went well.
So the problem must be in commits from Jun 23, 2022.

[2022-06-24 13:49] maxandersen commented on #26345
Okey. That is weird.

@quintesse a regression ?

[2022-06-24 13:52] famod commented on #26336
Alright, I will bisect my way through this.

[2022-06-24 13:52] zakkak commented on #26336
The breakage is introduced by https://github.com/quarkusio/quarkus/commit/5f30df60762c3ec5a80653da2cb18e9ac6d67269 it looks like formatter-maven-plugin 2.19.0 changed something in the dependencies.

Looking in the [diff between 2.18.0 and 2.19.0](https://github.com/revelc/formatter-maven-plugin/compare/formatter-maven-plugin-2.18.0...formatter-maven-plugin-2.19.0) I see that the latter now require

[2022-06-24 14:04] famod commented on #26336
I'll try my luck with this, although Gradle is not my strong side.

[2022-06-24 14:38] famod commented on #26336
Hum, I guess the issue has something to with Maven downloading just the pom.xml but not the jar and Gradle then seems to expect that the jar is there, which isn't.

[2022-06-24 14:42] anyeloroy opened #26351 "Creating Quarkus Project behind Proxy-Policy Nexus Maven Repository"
### Describe the bug

Hello,

I getting an error just try to create an empty project with maven:

mvn io.quarkus:quarkus-maven-plugin:2.8.0.Final:create -X

PS ~\ms_testquarkus> mvn io.quarkus:quarkus-maven-plugin:2.8.0.Final:create -X
Apache Maven 3.8.5 (3599d3414f046de2324203b78ddcf9b5e4388aa0)
Maven home: ~\apache-maven-3.8.5
Java version: 13.0.2, vendor: Oracle Corporation, runtime: C:\Program

[2022-06-24 15:50] famod commented on #26336
So I've learned that usage of the maven-resolver is indeed required here, so excluding makes no sense.

Moving `mavenCentral()` before `mavenLocal()` fixes the issue, see https://github.com/gradle/gradle/issues/2631#issuecomment-353457127

IIRC, some while ago there was some back and forth regarding this @glefloch, but I will send a PR regardless.

[2022-06-24 16:05] famod commented on #26336
Looking at this old Gradle ticket https://issues.gradle.org/browse/GRADLE-2034

But we have the following in `devtools/gradle/build.gradle`:
[code]
and in `pom.xml` (Maven is calling Gradle) we try hard to set that system property:
[code]

So, AFAICT we don't end up with `mavenLocal()` but with that custom `maven` repo, which that old bugfix is not meant for (given there weren't other fixes since

[2022-06-24 16:24] #18572 closed

[2022-06-24 16:51] edeandrea commented on #24637
@loicmathieu I created #26355 to update the docs for this.

[2022-06-24 17:16] quintesse commented on #26345
@maxandersen no, I just think it's just another case of needing to cover all the os/shell permutations that exist. We had problems with Cygwin which were fixed, but this is MINGW.

@jukzi Could you perhaps test something for me? Can you edit the `/c/Users/jkubitz/.jbang/bin/jbang` file and put quotes around any `${JAVA_EXEC}` you see? There should be 2, one on line 218 and one on 229. Just change

[2022-06-24 17:40] anyeloroy commented on #26351
Ok... let me try with maven 3.8.6

[2022-06-24 17:56] #25002 closed

[2022-06-24 18:00] anyeloroy commented on #26351
Thank You! Now is working with Maven 3.8.6

[2022-06-24 18:00] #26351 closed

[2022-06-24 18:52] edeandrea commented on #22290
Hi @Sgitario / @iocanel Do you know if this has been released in dekorate yet?

[2022-06-24 19:56] Sanne commented on #25954
I think I figured out what's going on; this should probably be fixed better in GraalVM, but we can already apply a simple workaround: #26357

[2022-06-24 20:47] famod commented on #25209
@jpechane can you try Maven 3.8.6 please?

That `assembly` profile contains many dependencies and there is a known issue in Maven 3.8.5 that affects Quarkus and was fixed in 3.8.6: https://issues.apache.org/jira/browse/MNG-7432

[2022-06-25 05:27] Sgitario commented on #22290
Dekorate's bump version will be done in https://github.com/quarkusio/quarkus/pull/26303, which will include this feature.

[2022-06-25 10:17] t1 opened #26365 "Integrate GraphQL Typesafe Client into QuarkusTest"
### Description

I'd like to directly inject a GraphQL Client into a test, i.e.:

[code]

But then I get a `RuntimeException`: "URL not configured for client."

The workaround I have to use is:

[code]

### Implementation ideas

_No response_

[2022-06-25 15:00] Erfankam commented on #25706
@famod I m just preparing my test environment to reproduce the condition.

[2022-06-25 17:10] jsjant commented on #26290
This is because how GradleApplicationModelBuilder in Quarkus [looks](https://github.com/quarkusio/quarkus/blob/d65ab1d32728fc554f713a11f7c68d4c76163984/devtools/gradle/gradle-model/src/main/java/io/quarkus/gradle/tooling/GradleApplicationModelBuilder.java#L440) for source code. There is the following code

`project.getTasks().withType(AbstractCompile.class, t -> {`

However, KotlinCompile task doe

[2022-06-25 21:07] famod commented on #26290
@jsjant that's very valuable info, thanks!

[2022-06-25 21:42] mun711 commented on #25525
added the changes in https://github.com/quarkusio/quarkus/pull/26367
Updated the TracerUtil:mapSampler method to search for a sampler bean and use it instead of a baseSampler if found.
Please let me know if that looks good to you or we still want to move this logic to a SamplerFactory.

[2022-06-25 21:51] evanchooly commented on #26290
That might explain why the 1.7.0 PR had such problems...

[2022-06-26 07:23] morphy76 opened #26368 "Zookeeper client extension"
### Description

Hello

I would like to propose the subject extension to provide a seamless integration with the latest version of Apache Zookeeper.

The purpose of this extension is to provide an injectable, application scoped, zookeeper client so that providing:
- Client interactions for znodes operations
- CDI events triggered by zookeeper watchers

Once the basic capabilities are achieved, the

[2022-06-26 16:34] cescoffier commented on #24753
Fixed by https://github.com/quarkusio/quarkus/pull/26294

[2022-06-26 16:35] #24753 closed

[2022-06-26 22:28] maxandersen commented on #26166
fyi, got access to my windows install again and could test this.

Can you try `iex "& { $(iwr -Uri https://ps.jbang.dev/ -UseBasicParsing) } app setup"` apparently without internet explorer default commands in  windows needs extra argument which is unfortunate.

[2022-06-27 03:34] hernael commented on #25687
@FroMage, @alesj, @cescoffier, @loicmathieu, @ozangunalp
same error in 2.10.0.Final

[2022-06-27 04:47] calohmn commented on #26216
I think, you can equally say that it is valid for an application to return a 404 from an existent endpoint.
For a `/products/myNonExistingProductId` request, I would rather want to see a `/products/:productId` span name.

Concerning the unit tests, I would expect that with a `router.get("/hello/:name")` route definition in `HelloRouter` adapted like this:
[code]
the following test should pass:
[co

[2022-06-27 05:22] aurimasniekis commented on #26270
@geoand maybe you have looked into it? I have added a test case to test it...

[2022-06-27 05:36] geoand commented on #26270
Thanks.

I was traveling last week so didn't get a chance. Lots of things have pilled up but I am hoping I'll be able to take a look this week.

[2022-06-27 05:41] jmartisk commented on #26365
And do you have the URL configured somewhere? To have the client point at the testing Quarkus instance, your application.properties will need something like

[code]

[2022-06-27 05:43] aurimasniekis commented on #26270
It's fine, I am spending some time today to figure out this. So far I managed to make it work correctly by changing to non-reactive ORM and removing `@Transactional` made it work, but the reactive the `main` branch removing `@Transactional` changed nothing. I am thinking maybe it's related to reactive behaviour

[2022-06-27 05:45] aurimasniekis commented on #26270
Oh, wait no it's not related 😮‍💨 without Transactional it doesn't produce error that's why :D

[2022-06-27 05:46] #20771 closed

[2022-06-27 05:58] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2566938135

[2022-06-27 06:05] t1 commented on #26365
That would be another workaround, but as it works out-of-the-box with the MP REST Client, it would be nice to have this for GraphQL as well.

[2022-06-27 06:06] t1 commented on #26365
and I suppose the change could be rather miniscule.

[2022-06-27 06:08] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2566916248

[2022-06-27 06:10] cescoffier commented on #26260
Did youy try to active the request scope manually, using the @ActivateRequestScope annotation?

[2022-06-27 06:11] cescoffier commented on #26260
Also, mixing Mutiny and Completion Stage is going to lead to a lot of friction.

[2022-06-27 06:13] cescoffier commented on #26286
We are in the process of completely redesigning how the images are built. I'm adding this as a requirement. However, because we cannot create images for every single library out there, you will end up having to build your own image with the quarkus one as the base.

[2022-06-27 06:19] jukzi commented on #26345
That works. Thanks!

[2022-06-27 06:29] jpechane commented on #25209
@famod Hi, yes I can confirm the issue is no longer present in 3.8.6.

[2022-06-27 06:29] #25209 closed

[2022-06-27 06:32] tobi-quarkus-coder commented on #23804
I tried it this way without success:
[code]
I can consume 3 messages. The fourth message fails with the exception mentioned above.

[2022-06-27 06:39] Sgitario commented on #26318
I will fix this issue by reporting this error only if there are resources in the application and HAL is enabled.
Note that for the extension `quarkus-spring-data-rest` HAL is enabled by default (it mimics what Spring Boot does), so the combination `quarkus-resteasy,quarkus-spring-data-rest` will fail if you add a resource (tho it will work for your combinations test suite as no resources are added

[2022-06-27 06:46] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2566916248

[2022-06-27 07:10] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2566938135

[2022-06-27 07:23] fastluca commented on #26260
Yes, already tried without success. Even removing the Completion Stage the problem is still there.

[2022-06-27 07:23] pravussum commented on #26104
Probably a dup of #24938

[2022-06-27 07:34] aloubyansky commented on #8593
@jamesnetherton @ppalaga looks like we've got an incompatibility with Vert.X.
[code]

[2022-06-27 08:11] geoand commented on #26301
Closing as a duplicate of https://github.com/quarkusio/quarkus/issues/26258.

I have mentioned in https://github.com/quarkusio/quarkus/issues/26258#issuecomment-1162712626 what likely has to be done to address the problem.
I'll try and take a look tomorrow.

[2022-06-27 08:11] #26301 closed

[2022-06-27 08:11] geoand commented on #26301
As explained in https://github.com/quarkusio/quarkus/issues/26258#issuecomment-1162712626, this is because `fast-jar` does not use a flat classpath, while the uber-jar and the native mode do.

[2022-06-27 08:12] geoand commented on #25209
Thanks for the update!

[2022-06-27 08:48] michalszynkiewicz commented on #26075
ATM, it is only possible to register providers on the interface level. That's how the MicroProfile specification defines it.
I'll rephrase the subject of the issue to be a feature request to support what you want.

To workaround it you can create a separate interface for the calls that need the filters

[2022-06-27 09:18] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/2566937580

[2022-06-27 09:29] calohmn commented on #25525
FMPOV, this kind of approach of applying the DropNamesSampler and parentBased Sampler on top of the custom sampler also looks ok. The [configuration properties documentation](https://quarkus.io/guides/opentelemetry#quarkus-opentelemetry_configuration) would then have to be adapted, dropping the "Providing a custom [...]" part for the `quarkus.opentelemetry.tracer.suppress-non-application-uris` and

[2022-06-27 09:42] #25954 closed

[2022-06-27 09:51] bynix commented on #25216
Hi, @radcortez
[https://github.com/bynix/quarkus-issue-25216](https://github.com/bynix/quarkus-issue-25216) You can reproduce this error by running `mvn test`.
[code]

[2022-06-27 09:52] jerboaa commented on #25943
There are two cases of internal API usage which recently popped up breaking a potential future API contract (worked-around for now by [this PR](https://github.com/quarkusio/quarkus/pull/26370)):

1. `org.graalvm.nativeimage.impl.ConfigurationCondition`: Used here, for example: https://github.com/quarkusio/quarkus/blob/5f27683e98e4f17c83d12eb75fa9e8adc352cc1b/core/deployment/src/main/java/io/quarku

[2022-06-27 09:54] loicmathieu commented on #26284
@DavideD Panache `.project()` generates a DTO projection (I think this is documented but it may not be clear). DTO projection cannot work with `count()` that returns a number.

[2022-06-27 10:07] beniaminp commented on #26236
We finally manage to find the problem.
After we remove the dependency:
`<dependency>
            <groupId>org.eclipse.microprofile.config</groupId>
            <artifactId>microprofile-config-api</artifactId>
            <version>3.0.1</version>
 </dependency>`
we got no more NPE.

It looks like quarkus does not play nice with it. At least, now we know :).

[2022-06-27 10:11] #26164 closed

[2022-06-27 10:19] loicmathieu commented on #25687
@hernael can you give us the Kafka part of the code ?

[2022-06-27 10:20] DavideD commented on #26284
Is this explained somewhere? I'm confused because this seems a typical use case that works everywhere else.

[2022-06-27 10:23] loicmathieu commented on #23804
@tobi-quarkus-coder the issue is that the icomming message is not acked, you need to call `message.ack` somewhere (best is withing the Mutiny operation flow).

@cescoffier we definitly need to document somewhere how to use reactive messaging with transaction as it's a very common use case: both with blocking and reactive one.

[2022-06-27 10:26] tobi-quarkus-coder commented on #23804
[code]

[2022-06-27 10:29] loicmathieu commented on #26284
Yes, it's clearly documented here: https://quarkus.io/guides/hibernate-orm-panache#query-projection

But the JavaDoc can be improved https://github.com/quarkusio/quarkus/blob/main/extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheQuery.java#L41

For this use case, you need to use the `count()` method not a `find().project()`.

What we could do a

[2022-06-27 10:35] loicmathieu commented on #26148
@JohnneSouza the PR should be even easier ;)
We already have a mechanism to replace field name in case `@BsonProperty` is used, we can add an hardcoded replacement for `id -> _id`. I don't think it's possible/supported by the POJOCodec to have both `id` and `_id` in a collection/POJO.

[2022-06-27 10:47] alexeysharandin commented on #26286
Hi Clement,
do you have any approximately ETA for this feature?

[2022-06-27 10:55] DavideD commented on #26284
I think there's something I'm missing. Because this description for me doesn't mean that one cannot use aggregated functions:

I guess when it says  fields it doesn't mean the columns returned by the query.

I wouldn't use the word  "clearly" in this context.

That would be better than the error we have now. At least, it would make it clear that that's a design decision.
And it seems something wor

[2022-06-27 10:56] radcortez commented on #26216
We can change it to use the route if one exists even for a 404.

I guess that we can remove that code there, but just because it will be updated later when the route is actually determined by the `HttpRouteHolder.updateHttpRoute`.

[2022-06-27 11:04] quintesse commented on #26345
This has now been fixed in "main" and will be part of the next Jbang release. Thanks for your help @jukzi !

[2022-06-27 11:08] loicmathieu commented on #26284
Projection in database means the selection of fields. So aggregation is not part of it. Our current implementation is to use DTO projection, it's documented in the guide.
DTO projection means we will write the SELECT clause ourself so even if `.find("select p.name, p.surname from Person p").project(PersonDTO.class)` seems legit it isn't.

In this case a simple `.find("from Person p").project(Perso

[2022-06-27 11:18] geoand commented on #26270
https://github.com/quarkusio/quarkus/pull/26376 fixes the issue

[2022-06-27 11:20] aurimasniekis commented on #26270
@geoand oh nice, I was just around here trying to understand things (Java is not my main language so it was a bit difficult to navigate)

Offtopic: I love how on first play around with things I usually managed to get into bugs :D

[2022-06-27 11:22] #26318 closed

[2022-06-27 11:23] DavideD commented on #26284
I think the problem is that `.project` is accessible from `.find` and `.find` is too flexible to be use with it.
Why don't we have something like (this is just a quick example):
[code]
This way there wouldn't be any confusion.

But what I'd really want is something that allows me to map the result to a class or interface easily. Frankly, I don't think nobody care if it's a projection or not.

[2022-06-27 11:25] cbianco commented on #23804
@tobi-quarkus-coder i had the same problem and I used the following workaround.

[code]

[2022-06-27 11:26] geoand commented on #26315
`QuarkusIntegrationTest` can't run in dev-mode - this is by design.

However we can definitely explore ways to make it more friendly.

[2022-06-27 11:29] #26149 closed

[2022-06-27 11:45] smil2k opened #26378 "Authentication token inspected at the end of the request / after body completes"
### Describe the bug

In case of a large PUT request, quarkus waits until the whole body is available prior checking the access token's validity.

This has two implications:
- In case the download is taking longer then the access token might expire before the upload finished (this can be fixed by using the Expect header)
- Unauthorized clients might put a strain on the machine by sending large spa

[2022-06-27 11:53] michalszynkiewicz commented on #25619
The classic REST client behaves exactly the same as the reactive one in this scenario.

The difference in the behavior that you observe comes from the fact that REST Client Reactive (RCR) always registers the `DefaultClientHeadersFactoryImpl` while the classic client registers it only if the interfaces is annotated with `@RegisterClientHeaders`. The latter is how the spec describes it should work.

[2022-06-27 11:53] mkouba commented on #26236
Ah, that's some good news! Yes, quarkus is using `org.eclipse.microprofile.config:microprofile-config-api:2.0.1` and you should not bring any MP dependencies manually but rely on the versions included by quarkus extensions instead.

[2022-06-27 12:22] #25232 closed

[2022-06-27 12:25] sberyozkin commented on #26378
@stuartwdouglas @cescoffier Is it technically possible to start a security chain as soon the Vert.x router consumes the headers but before it attempts to read the body.

@smil2k Can you please clarify more info about your set up ?
Does it really apply to the case where a proactive authentication is disabled (i.e, when JAX-RS chain starts and deserializes the parameters) ?
Do you use quarkus-oidc o

[2022-06-27 12:32] #25688 closed

[2022-06-27 12:33] josephearl commented on #26237
Here's a reproducer - https://github.com/josephearl/quarkus-26237

If you run `ParentEntityRepositoryTest` you will see the tests `shouldFindParentWithActiveChildrenStreamToList` and `shouldFindParentWithActiveChildrenStreamToListAndClosingStream` will fail, but `shouldFindParentWithActiveChildrenList` passes

[2022-06-27 12:41] radcortez commented on #26216
For now, I won't change this, because we need it for the `DropNamesSampler`. I'll have to figure this out and I prefer to handle it in a separate PR.

[2022-06-27 12:42] #26273 closed

[2022-06-27 12:52] InfoSec812 commented on #9877
What about if we were to use the Infinispan cluster manager to accomplish this? It works great in JVM mode.

[2022-06-27 12:54] InfoSec812 commented on #9877
Perhaps I will try to see if I can create a reflection config which will allow this to work.

[2022-06-27 13:41] smil2k commented on #26378
@sberyozkin I'm using oidc.

Can you elaborate your 2nd question? We are using Bearer auth, the client is handling the refresh of the token.

This issue is masked somewhat, because normally we keep replace tokens T-1 minutes.
Generally we need to make sure that we refresh the access token at least so much earlier than we expect a request will be processed at maximum. This bites with larger POST an

[2022-06-27 14:38] cescoffier commented on #24670
Sorry, I missed your comment. @radcortez any idea?

[2022-06-27 14:39] dlabordus opened #26383 "Pushing Additional Tags to Docker Hub fails"
### Describe the bug

When using the parameter 'quarkus.container-image.additional-tags' to set additional tags on a docker container pushing fails with a message 'An image does not exist locally with the tag: latest'.

After analyzing the problem it looks like a problem in the class [DockerProcessor.java](https://github.com/quarkusio/quarkus/blob/main/extensions/container-image/container-image-do

[2022-06-27 14:48] #23804 closed

[2022-06-27 14:48] #25687 closed

[2022-06-27 14:50] cescoffier commented on #26378
@sberyozkin in pure Vert.x yes, but in Quarkus that would mean removing the body handler and handling the body conditionally.

[2022-06-27 15:05] #26270 closed

[2022-06-27 15:16] cesarjv opened #26384 "Quarkus error after compiling native with Jaeger Tracing"
### Describe the bug

I am trying to compile an application in Quarkus Native and monitor it using Jaeger Traicing, however, I am encountering a problem that when compiling it is taking the wrong url and not the one I should use to work with opentracing:

Example application.properties file:

[code]

Locally it works wonderfully, but when I deploy at the kubernetes level it is not taking the url c

[2022-06-27 15:17] sberyozkin commented on #26378
@smil2k

For example, lets say you have a JAX-RS Resource such as
[code]

By default, Quarkus Security starts early, before the JAX-RS chain starts, and will authenticate the data, it is a proactive authentication mode. It will do it before `InputStream` is consumed and deserialized into `BigPayload`.

I'd really be surprised if in this case Vertx was caching the payload, I don;t know the lower le

[2022-06-27 15:19] cescoffier commented on #23804
The problem comes from `Panache.withTransaction` as it cannot know if the session must be closed or not.
You can use the rest of Panache and just use the session to start a transaction and close when you are done.

[2022-06-27 15:19] cescoffier commented on #26286
I would love to have the new approach implemented this summer (so between now and the beginning of September). I have my first experiment planned for Friday.

[2022-06-27 15:24] cescoffier commented on #26260
Can you produce a "standalone" reproducer that I can just run to see where the request scope is missing?

[2022-06-27 15:35] knutwannheden commented on #23956
@geoand I have a very similar case where I have a registered `ExceptionMapper` provider, which has an injected `ResourceInfo` (injected via `@Context` in RestEasy Classic). In the case of RestEasy Classic this worked as expected (i.e. the `getResourceClass()` and `getResourceMethod()` methods returned the class and method of the called REST endpoint), whereas with RestEasy Reactive both return `nu

[2022-06-27 16:06] DavideD commented on #23739
I've tried to create something that I can run on my repository: https://github.com/DavideD/quarkus-23739
But I'm not familiar enough with the security API. @mikeleitz, If you could help me fix that project so that I can reproduce the error, I would be able to finally figure out what's going on.

[2022-06-27 16:29] hernael commented on #25687
@cescoffier Thanks a lot!! This worked perfectly

[2022-06-27 16:51] sberyozkin commented on #26317
@dexxamannen So the provider only encrypts the claims with a public key ? Is it a bit risky if this public key gets exposed somehow not only to the provider ? With the encryption only, one can't assert who has really issued the ID token. I thought the provider was sending a nested ID token signed with provider's private key which was encrypted for the extra safety.

The OIDC spec says at the end o

[2022-06-27 17:48] spolti opened #26385 "Quarkus image build fails when using fake registry name with quarkus.kubernetes.deploy=true"
### Describe the bug

When trying to building a application tagging for a non existing registry or using a image name that was not pushed yet, Quarkus Jib build will fail.

Use case: using minikube remote docker daemon to be able to build and deploy on Minikube without the need to push the container to a registry.

The issue below only happens in case you tag the image and set the kubernetes deplo

[2022-06-27 18:38] danieloh30 opened #26386 "Quarkus 2.10.0 doesn't work for Simulate Amazon Lambda Deployment with SAM CLI"
### Describe the bug

With a simple app (e.g. Hello world REST API), Quarkus 2.9.2 allows me to simulate an AWS Lambda app using SAM CLI locally as below:

sam local start-api --template target/sam.jvm.yaml

But Quarkus 2.10.0 doesn't work with the error as the actual behavior. I know that Quarkus dev mode is good enough to test the function since Quarkus dev mode starts a mock AWS Lambda event se

[2022-06-27 18:47] spolti commented on #26385
That's the point, the container a.b.c and image I tag it, shouldn't be verified at build time, which in this case, is happening.

[2022-06-27 18:55] mikeleitz commented on #23739
Ok, I'll work on this tonight.

[2022-06-27 19:11] holly-cummins commented on #25230
You'll never guess. It's DNS.

(work continues ...)

[2022-06-27 19:13] tehapap commented on #23739
Fixed in 2.10 for me

[2022-06-27 19:28] evanchooly opened #26387 "Use the MongoDB Java driver's DNS SPI to enable mongo+srv:// connection strings in native mode"
### Description

This feature enables full DNS lookup support in native mode without the need for workarounds and substitutions.

### Implementation ideas

This change replaces the substitutions with SPI API.

[2022-06-27 21:10] alexeysharandin commented on #26286
Hi Clement,
can help with implementation if needed. Like a person who have iterest to do this :)
BTW: In any case - looks like need to move from RHEL to some free linux like Ubuntu in open-source level for this feature

[2022-06-27 21:39] alexeysharandin commented on #25712
@maxandersen, @cescoffier , @geoand, what is next steps here? As I know you spoke about it in JNation. I think need to talk about some architecture features. Because better to implement some support in Vert.x or Mutiny. Some features require "true binary extperts" for byte code modifications

[2022-06-28 02:03] wzChuang commented on #10303
Is that the problem? I met it, too. How did you solve it?

Caused by: java.lang.ClassNotFoundException: com.thoughtworks.xstream.core.util.TypedNull
Caused by: java.lang.NoClassDefFoundError

[2022-06-28 05:23] deodorel commented on #10303
Hello. I didn't, I just gave up on xstream. Libraries that do serialisation are hard to just use in native mode, usually need some kind of conversion.

Obtenir Outlook pour Android<https://aka.ms/AAb9ysg>
________________________________
From: Chuang ***@***.***>
Sent: Tuesday, June 28, 2022 5:03:49 AM
To: quarkusio/quarkus ***@***.***>
Cc: Adrian Ciobanu ***@***.***>; Comment ***@***.***>
Subject

[2022-06-28 05:27] geoand commented on #23956
@knutwannheden do you have a sample I can check?

[2022-06-28 05:37] #25619 closed

[2022-06-28 05:38] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2573882756

[2022-06-28 06:15] geoand commented on #25712
Sorry, I had various engagements these past weeks and was not able to have a closer look.
Hopefully I'll have some time this week to go over this awesome contribution.

[2022-06-28 06:15] geoand commented on #26172
@Sgitario would you be interested in taking a look at this?

[2022-06-28 06:30] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2573882756

[2022-06-28 06:53] jeffmaury opened #26392 "Gradle plugin incorrectly requires Gradle 6.1"
### Describe the bug

The Gradle plugin checks Gradle version when starting, checking for minimum 6.1 but 7.4 is required since 2.10.0.Final

### Expected behavior

Update the test so that 7.4 is required

### Actual behavior

Test is wrong

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if

[2022-06-28 07:01] geoand commented on #26383
Thanks for reporting. https://github.com/quarkusio/quarkus/pull/26393 takes care of the issue

[2022-06-28 07:08] geoand commented on #26385
Can you try adding `quarkus.container-image.push=false`?

[2022-06-28 07:34] geoand commented on #26345
Thanks for getting to the bottom of this everyone.

Closing this as an upstream issue.

[2022-06-28 07:34] #26345 closed

[2022-06-28 07:46] smil2k commented on #26378
@sberyozkin I've checked, we use the default proactive method.

[2022-06-28 07:47] morphy76 commented on #26368
Hi Georgios

I'm going to check as soon as possible but it could be somehow of interest the evolution of "recipes" for high level patterns which I don't believe are a Camel concern.

That's welcomed :)

Rick

[2022-06-28 07:48] KristoferPettersson commented on #26317
Hi @[sberyozkin](https://github.com/sberyozkin) I am a colleague to @dexxamannen.
As you stated above we as the client must decrypt the id_token with our private key and then pass it thru verification next.
The id_token is also signed but that is currently no issue once the token is decrypted.
As it is now with the encrypted id_token the Quarkus code cant verify the token and gives a 401 response.

[2022-06-28 07:54] glefloch commented on #26392
Thanks for reporting this @jeffmaury, I will check why we need 7.4 but I think we should switch back to support older gradle version.

[2022-06-28 08:05] #26383 closed

[2022-06-28 08:18] jeffmaury commented on #26392
FTR if not using Gradle 7.4 then there are some class cast exceptions between internal Gradle classes that are used by the plugin

[2022-06-28 08:20] glefloch commented on #26392
Yes I can reproduce the exception

[2022-06-28 08:36] HknLof opened #26396 "Failing Upgrade Gradle Quarkus Plugin to 2.10.0.Final"
### Description

Hi Team,

trying to upgrade Gradle's Quarkus Plugin to 2.10.0.Final. Running

[code]

leads to
[code]

Above Exception gives me the impression, that `gradle` can't find version `2.10.0.Final` of the plugin, which is counter-intuitive for me ... it is available online https://plugins.gradle.org/plugin/io.quarkus.

For reference:

gradle.properties
[code]

settings.gradle
[code]

Ha

[2022-06-28 08:47] geoand commented on #25735
@FroMage, any input here?

[2022-06-28 08:57] loicmathieu commented on #26284
Yes, we can do this, it will be coherent with what we already have: if a query start with SELECT we keep it, if not we build the SELECT clause (and the WHERE clause in case of shorthand query).

Regarding your proposal :
[code]
It's a more broad change and not the direction we took years ago when we built Panache ...

[2022-06-28 09:05] DavideD commented on #26284
What I mean is, that the result will be something that we can pass to the constructor of the class specified in `.projection`.

[2022-06-28 09:14] JJWTimmer opened #26399 "Dev services page stacktrace ''Property "getShortId" not found on the base object "null"""
### Describe the bug

When opening the dev services page I get a stacktrace, with this title:
`io.quarkus.qute.TemplateException: Rendering error in template [io.quarkus.quarkus-vertx-http/dev-services] line 16: Property "getShortId" not found on the base object "null" in expression {service.containerInfo.getShortId()}`
![image](https://user-images.githubusercontent.com/609540/176135885-72173f4d-8

[2022-06-28 09:29] ia3andy opened #26400 "Weird numbers in OpenApi resource name with Hibernate REST Data Panache"
### Description

When using the `quarkus-hibernate-reactive-rest-data-panache` extension (might be the same with the classic one).

The name of the generated OpenApi resource name has weird numbers `Todo Resource Jax Rs _86448fab 6dcfbdcb 465842f 6329a 62498007a 7a 3`:
![image](https://user-images.githubusercontent.com/2223984/176144668-c9b64ee1-4d7e-4415-95ef-027f77ac11ab.png)

This also leads to

[2022-06-28 09:29] ia3andy commented on #26400
cc @geoand

[2022-06-28 09:41] HknLof commented on #26396
Apologies for the noise ... upgrading gradle to `7.4.2` resolved the issue!

[2022-06-28 09:41] #26396 closed

[2022-06-28 09:52] vsevel opened #26401 "log4j: java.lang.IllegalStateException: Maximum number of attachments exceeded"
### Describe the bug

adding dependency `log4j-jboss-logmanager` to the application leads to the following exception when executing the integration test:

[code]

Surprisingly it works when I compile the application with `skipTests`, and I execute the `java -jar` command. It only fails when the application is started through the integration tests.

### Expected behavior

log4j logging working.

##

[2022-06-28 10:13] sberyozkin commented on #26317
@KristoferPettersson Hi, sure, I think it is worth it if the token is signed and encrypted.

[2022-06-28 10:14] kucharzyk commented on #25735
@geoand Quarkus shouldn't have anything specific to htmx. It should be generic feature. End user will decide how to use it

[2022-06-28 10:14] gsmet commented on #26401
hey @jamezp does ^ ring a bell?

[2022-06-28 10:20] geoand commented on #25735
I don't agree.

[2022-06-28 10:28] iocanel commented on #23832
I've started looking into the issue. WIth a first glance I see that configuration is properlly read and dekorators are correctly applied, stilll the end result is not the expected.

So, it seems that either the dekorators are not applied or there is a race between dekorators. I'll investigate further.

[2022-06-28 10:36] #24637 closed

[2022-06-28 10:47] vsevel commented on #26401
I tried creating a reproducer (an extension with an integration tests module, which contains a dependency using log4j) but could not reproduce the issue :(

[2022-06-28 11:03] #26400 closed

[2022-06-28 11:06] KristoferPettersson commented on #26317
Sounds great. Is it possible to estimate when this can be implemented in a future version of Quarkus?

[2022-06-28 11:26] #26399 closed

[2022-06-28 11:27] JJWTimmer commented on #26399
I see I included
    <dependency>
      <groupId>org.postgresql</groupId>
      <artifactId>postgresql</artifactId>
    </dependency>

   instead of

    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-jdbc-postgresql</artifactId>
    </dependency>

this might have lead to other problems, because after a restart I see a datasource being created. I just tried to create an

[2022-06-28 11:44] #26333 closed

[2022-06-28 12:20] iocanel commented on #23832
It  seems that updating dekorate fixing the the `quarkus.knative.revision-auto-scaling.container-concurrency` issue.
- `ImagePullPolicy` is still getting ignored.
- `replicas` does not exist on `KnativeConfig`. @spolti what exactly did you want to use here?

[2022-06-28 12:20] ebullient commented on #26104
yes.

[2022-06-28 12:20] #26104 closed

[2022-06-28 12:25] radcortez commented on #24670
@agreedSkiing are you only setting the environment variable and removing the property in `application.properties`?

The right way to set it up is with `QUARKUS_LOG_CATEGORY__IO_QUARKUS_HTTP_ACCESS_LOG__LEVEL` (your first option). The issue is when this is only set up as an environment variable, we have no way to know the dynamic part of the key name (the category name) if it should be split by das

[2022-06-28 12:26] ebullient commented on #24938
y.. all the 4xx shortcut the successful path that allows us to retrieve the template. There are some constraints that make build-time discovery of restful paths difficult, and getting the paths correctly affiliated with one of the constructed application paths when full invocation doesn't happen is non-trivial at best. This is why matchPattern exists. ;)

[2022-06-28 12:49] hikemachado commented on #25112
Hi @Sanne ,

Any update on this?

[2022-06-28 13:01] sberyozkin commented on #26378
@smil2k Thanks.

Hey @cescoffier, @stuartwdouglas, so Vert.x body handler consumes the body before the target method is even determined ? Given that @smil2k says that the security check, which in case of the proactive authentication, will run before the JAX-RS chain, starts after the body is consumed. Can you clarify please  ?

[2022-06-28 13:04] spolti commented on #23832
Hi @iocanel, the ImagePullPolicy is what I was trying to use to instruct minikube to not try to pull the built image when deploying it.

[2022-06-28 13:04] sberyozkin commented on #26378
@smil2k Is it Resteasy Classic or Reactive ? Do you use Undertow ?

[2022-06-28 13:06] iocanel commented on #23832
WIP: https://github.com/ioforks/quarkus/tree/fix-23832-knative-props waiting for dekorate bump.

[2022-06-28 13:09] sberyozkin commented on #26317
@KristoferPettersson I'll try to get it in shortly, hopefully will make it to `2.11.0.Final`

[2022-06-28 13:13] sberyozkin opened #26405 "Check most of the Quarkus extensions with OWASP dependency plugin"
### Description

This task is about analyzing and documenting what configuration/exclusions OWASP plugin needs for it to minimize a number of the reported false positives against various Quarkus extensions.

### Implementation ideas

_No response_

[2022-06-28 13:17] mikeleitz commented on #23739
I didn't work on this last night but I will tonight.

I did verify the issue is still happening with 2.10.

[2022-06-28 13:17] ia3andy commented on #25735
FYI this is how it was solved in the example we are creating for Quinoa, I guess the same would be working:
https://github.com/TeHMoroS/quinoa-request-control-discussion/blob/main/src/main/java/dev/dnadesigned/quinoa/TemplateGlobalVariables.java

[2022-06-28 13:23] FroMage commented on #25735
This is clever.

Side-note, this is how I used global vars too (via CDI), but recent releases added support for them explicitely: https://quarkus.io/guides/qute-reference#global_variables

[2022-06-28 13:24] smil2k commented on #26378
quarkus-resteasy-reactive-jackson
quarkus-keycloak-authorization

[2022-06-28 13:31] geoand commented on #25735
How is

[code]

How are these two dissambiguated?

[2022-06-28 13:32] FroMage commented on #25735
I need to look more into this, because in the demo I saw, it didn't seem to work quite like that.

[2022-06-28 13:35] geoand commented on #25735
Hm... in the few code samples I saw things were controlled via some special HTTP headers.

[2022-06-28 13:39] KristoferPettersson commented on #26317
Wow, great. Looking forward to be able to test this. Thanks in advance.

[2022-06-28 15:09] jamezp commented on #26401
We'd need to defer to @dmlloyd here. The embedded-logmanager has a limit to the number of attachments available.

@vsevel Do you use a combo of different logging facades like log4j, slf4j, log4j2?

[2022-06-28 15:14] vsevel commented on #26401
this seems to be the same topic as: https://github.com/quarkusio/quarkus/issues/12659 and https://github.com/jboss-logging/slf4j-jboss-logmanager/pull/10

I have rebuilt `org.jboss.logmanager:jboss-logmanager-embedded:jar:1.1.0` with some additional information:

[code]

how come I have 2 different `org.apache.log4j.spi.RootLogger`, and 2 `org.apache.log4j.Hierarchy`?

I checked the dependency tre

[2022-06-28 15:17] smil2k commented on #26378
I did not purposefully enabled something like this. Did not want to use KC authz policies at all.

I've checked we did not defined any properties in relation the KC policy enforcement. All we wanted was role based authz a'la @RolesAllowed

[2022-06-28 15:26] vsevel commented on #26401
I added a fourth slot for the attachments. my test passes. `4` is the magic number :-)

and it shows:
[code]

how far am I to fail on a fifth one? seems fragile, doesn't it?

[2022-06-28 15:28] jamezp commented on #26401
Having two different entries for `Hierarchy` and the `RootLogger` seems odd for sure. I was somewhat wondering if there ended up being attachments for slf4j and log4j, but that doesn't seem to be the case here.

It would be interesting to see why entries keep getting added.

[2022-06-28 15:31] glefloch commented on #25515
yes it should be, I just don't have the time to do it right now :/

[2022-06-28 15:31] smil2k commented on #26378
Sure

[2022-06-28 15:53] vsevel commented on #26401
this is probably what happens. when I run the test, I get:

[code]

when I run the application, and exercise the same use case, I get:

[code]

[2022-06-28 15:57] Chexpir opened #26409 "RestClient - DNS Round Robin not possible"
### Describe the bug

We are running dozens of services in Quarkus.
We have recently migrated a service from Micronaut to Quarkus, and we have realised that we cannot apply [DNS Load Balancing](https://access.redhat.com/solutions/54311)  using [Quarkus RestClient](https://quarkus.io/guides/rest-client).

It appears that Quarkus Rest client uses "DNS Pinning", whereas micronaut and grails are not d

[2022-06-28 16:06] chschroe74 opened #26410 "GraphQL extension does not handle invalid authorization tokens"
### Describe the bug

When we add authentication to a GraphQL endpoint (as Phillip Krüger did in his [example project](https://github.com/phillip-kruger/graphql-experimental/tree/main/security-example)), we should get an HTTP 200 response with a valid JSON document if authentication fails (e.g., because of a missing token).

However, if an unparseable token is provided, we instead get an HTTP 401

[2022-06-28 16:21] sberyozkin commented on #26410
@chschroe74 `401` is an authentication error, which seems correct or is GraphQL always expected to return 200 with the failure details as a response ?

[2022-06-28 16:58] smil2k commented on #26378
Removed, but the issue remained.

[2022-06-28 18:00] radcortez commented on #24670
We could. Just to clarify that in this case, the issue was not in the env name, but since it was not working than people start to try out different combinations.

The problem is when you have a dynamic piece of the key name, that needs to be mapped via `getPropertiesNames`, we need to convert that back to dotted format, and when that name only exists in the env, what is the real name? For instance

[2022-06-28 18:44] tobi-quarkus-coder commented on #23804
@cescoffier Thanks for this! I adapted the code a little and made it a bit more "Panache-style":
[code]
With this, I don't have to inject the Mutiny Session my own, it'll be handled under the hood.

[2022-06-28 19:42] michalvavrik commented on #23547
[Docs](https://quarkus.io/guides/security-built-in-authentication#proactive-authentication) says that *authentication process will only be run when an identity is requested, either because there are security rules*, that tells me that authentication for the endpoints with @RolesAllowed should be effectively always proactive. `quarkus-extensions-security` module is aware of `javax.annotation.securi

[2022-06-28 20:36] iocanel commented on #20939
I debugged the issue last night and I see that passing `-D{systemproperty}={propertyvalue}` is ignored. They are not visible even on jvm level. Not sure why this happens, however it's clear that we can't do much from `quarkus-openshift` side. Closing.

[2022-06-28 20:36] #20939 closed

[2022-06-28 20:58] marutzen commented on #25066
I'm having this problem right now. Any tips?

[2022-06-28 21:21] #26234 closed

[2022-06-28 23:01] dmlloyd opened #26420 "Detect improper YAML keys"
### Description

Some Quarkus-like systems, when configuring with YAML, non-conformingly treat `foo.bar:` the same as `foo:\n  bar:`. If someone erroneously passes in a key of the form `quarkus.foo:` in a YAML file, we ignore it silently, which might be very confusing to the user.

If we detect any configuration key segment starting with `quarkus.`, we should throw an invalid key error. This would

[2022-06-28 23:38] #26392 closed

[2022-06-28 23:47] phillip-kruger commented on #24797
@laurentperez closing as @MikeEdgar suggestion is the way to do this. If you want to discuss more please reopen

[2022-06-28 23:47] #24797 closed

[2022-06-28 23:48] phillip-kruger commented on #23586
@xstefank - any news on this ?

[2022-06-29 00:13] phillip-kruger commented on #26410
Have you tried adding `quarkus.http.auth.proactive=false` ? Let us know if that changes anything

[2022-06-29 04:24] kdubb opened #26421 "Flyway & Liquibase hold up reporting healthy liveness"
In a K8s environment a container that is migrating a production database might be expected to take a considerable amount of time. Currently since these migration tools disallow reporting a healthy liveness during migrations. This could cause K8s to kill and restart the container during the migration.

During migrations the Liveness should be reported as healthy while Readiness should be reported u

[2022-06-29 05:10] geoand commented on #23681
The idea being that we don't want that property to be set when doing `quarkus.kubernetes.deploy=true` but we do want it when the application is running?

If so, then there is nothing OOTB to make this happen. We would have to resort to manually handling the configuration

[2022-06-29 06:23] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2580828060

[2022-06-29 06:35] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2580828060

[2022-06-29 06:43] alexgenon commented on #20037
Hi everyone,
I've been redirected to this request from #21196.
In my case, I started by mocking an external API for integration tests following: [Using a Mock HTTP Server for tests](https://quarkus.io/guides/rest-client#using-a-mock-http-server-for-tests).

I then wanted to use this same mocking code in dev mode. So my use case is a bit different as I'm not using containers.
Here QuarkusTestResour

[2022-06-29 06:44] vsevel commented on #26401
Hello @dmlloyd I prepared https://github.com/dmlloyd/jboss-logmanager-embedded/pull/5 for discussion.
Would you be open to something like this? It does save memory like the previous impl, and is extendable.
There is probably an issue with classloading (either caused by quarkus, or by the libs I am trying to pull in my extensions), and it would be better to fix it.
But regardless, the PR might be a

[2022-06-29 06:47] geoand commented on #20037
Not sure, but it's unlikely that `QuarkusTestResourceLifecycleManager` will be handled

[2022-06-29 06:53] iocanel commented on #26368
There is a `camel-quarkus-zookeeper` component. However, I think that there is value in having a `quarkus-zookeepr` in the Quarkiverse and possibly a `quarkus-curator`. Not sure if they need to be one extension or two.

[2022-06-29 07:00] ozangunalp commented on #23804
I think the way we need to suggest in the doc is to use the `Mutiny.SessionFactory.withTransaction` which closes the session properly. I'll follow up on #26379

[2022-06-29 07:06] chschroe74 commented on #26410
@sberyozkin

To be honest, I am not sure. I did not find anything in the GraphQL specs about other HTTP response codes. http://spec.graphql.org/October2021/#sec-Errors describes how errors should be returned, and this is how the current implementation behaves when the token is missing or has expired.

However, I would at least expect the behavior to be consistent. It should either always return an

[2022-06-29 07:08] iocanel commented on #26310
I think that there is a good reason Kubernetes does not provide default values for those.
I would hate to see newcomers get bitten by the presence of a limit that does not match their needs.
I would also hate to see a limit that is set so high that ends up being redundant and noise in the final manifest.

I understand that it might be considered best practice but I feel that the meaning of `best p

[2022-06-29 07:14] chschroe74 commented on #26410
The behavior is the same from the client's perspective: I still get an empty 401 response when I provide an invalid token.

However, the server-side behavior seems to change: With proactive authentication enabled (the default behavior), I do not see anything in the logs when I provide an unparseable token. With proactive authentication disabled, I first get an AuthenticationFailed exception:

[cod

[2022-06-29 07:19] phillip-kruger commented on #26410
Ok this is good info. I'll look into this a.s.a.p

[2022-06-29 07:21] rsvoboda opened #26423 "`quarkus.grpc.dev-mode.force-server-start=false` property is not mentioned in documentation"
### Describe the bug

`quarkus.grpc.dev-mode.force-server-start=false` property is not mentioned in documentation

Relates to https://github.com/quarkusio/quarkus/discussions/26102

CC @michalszynkiewicz

Not sure which guide is the best fit, https://quarkus.io/guides/grpc-service-consumption looks like a good candidate as it covers client-side primarily

### Expected behavior

_No response_

###

[2022-06-29 07:25] maxandersen commented on #26310
Can we generate files with these speciifed but commented out with a note on how to set Them?

[2022-06-29 07:53] xstefank commented on #23586
@phillip-kruger didn't have much time for this one. Will try to prioritize.

[2022-06-29 08:24] angelozerr opened #26424 "Qute should support streaming output (with Writer)"
### Description

Today Qute use StringBuilder as output and returns the generated String to the client. IMHO I think it should be better to use the HTPP response Writer to write the Qute render result.

It will improve memory performance to avoid storing the String result of the render on server side.

For Qute debugging support with breakpint in an Editor/IDE , it should be nice because user coul

[2022-06-29 08:32] jsmrcka opened #26426 "reactive-oracle-client - connection URI syntax is unclear"
### Describe the bug

What is the current situation with proper URI syntax?

From previous bug reports, I'm getting a confusing message:
- https://github.com/quarkusio/quarkus/issues/23439
- https://github.com/quarkusio/quarkus/issues/23728

I did my own experiments with two formats (using `gvenzl/oracle-xe:21-slim` image):
1. `oracle:thin:@localhost:49169:quarkus_test`
    - This worked up until

[2022-06-29 08:33] jsmrcka commented on #26426
cc @tsegismont

[2022-06-29 08:50] pjgg opened #26428 "Missing `io.confluent:kafka-avro-serializer` in Quarkus BOM"
### Describe the bug

I could not find `io.confluent:kafka-avro-serializer` lib on [Quarkus BOM](https://github.com/quarkusio/quarkus/blob/main/bom/application/pom.xml) and the latest version `7.1.2` is not working in native mode

[code]

Because there is a static  `java.util.Random` definition in some internal library on version 7.1.2

Version: 7.0.3 works as expected.

IMO the issue is that `io.

[2022-06-29 08:58] pjgg commented on #26428
Note: Maybe from an end-user point of view, update AVRO serializers is not a minor update because all generated "serializers" objects, should be re-generated...

[2022-06-29 09:01] geoand commented on #26421
This is definitely sounds like something we want to address @xstefank @jmartisk

[2022-06-29 09:08] jsmrcka commented on #24788
Verified with 2.10.0.Final.

[2022-06-29 09:08] #24788 closed

[2022-06-29 09:14] ozangunalp commented on #26428
We need to add the confluent maven repo to the bom (or the parent pom) in order to add this to the bom. I don't think we want that. I think this is the reason the dependency is not added to the extension. @alesj WDYT ?

For the native compilation issue with random, we need to add the class as runtime initialized.

[2022-06-29 09:14] mkouba commented on #26424
You can use `TemplateInstance.consume(Consumer<String>)` and append the chunks of the rendered template to a writer. Alternatively, you can use `TemplateInstance.createMulti()`. See also https://quarkus.io/guides/qute-reference#rendering-output.

[2022-06-29 09:15] geoand commented on #26409
@cescoffier does Vert.x address this somehow?

[2022-06-29 09:17] HknLof commented on #26310
The sentiment "Do not provide generic resource configs for differing workloads!" is very reasonable.

Thinking out loud ...
When I build a container image without defining a registry, I see a warning along the lines of:
[code]

Likewise it would be helpful to have
[code]

Bottom line ... Quarkus should not be silent about it, I think.

[2022-06-29 09:17] cescoffier commented on #26409
First guess: disable keep-alive

[2022-06-29 09:21] iocanel commented on #26310
Not much we can do with json. For yaml I think that Jackson doesn't provide a way. So, I'd say it's only possible using post processing.

[2022-06-29 09:28] maxandersen commented on #26310
Better than nothing :)

[2022-06-29 09:36] michalszynkiewicz commented on #26409
I'll take a look at it

[2022-06-29 09:40] cescoffier commented on #26409
It might not be keep-alive, as the issue mentioned having the problem with both reactive and classic. It might really be a DNS caching issue.

[2022-06-29 09:41] cescoffier commented on #26409
Stork would help if you provide your own Stork discovery which would resolve the IPs.

[2022-06-29 09:47] geoand commented on #25712
I tried to build the code locally but got:

[code]

Am I missing something?

[2022-06-29 09:54] geoand commented on #26310
Sounds reasonable

[2022-06-29 09:58] geoand commented on #26426
@tsegismont can we clarify what works and what doesn't in the docs please?

Thanks

[2022-06-29 09:58] Sgitario commented on #25874
Any updates on this?

[2022-06-29 09:58] tobi-quarkus-coder commented on #23804
Hum, doing the persist on the session works. If I use Panache it doesn't.

Works:
[code]

Doesn't work:
[code]

[2022-06-29 10:02] ricardovm commented on #23804
Try to add `.onTermination().call(() -> session.close()));` after `replaceWithVoid()`. This problem happens when the session isn't correctly closed.

[2022-06-29 10:06] Chexpir commented on #26409
thanks everybody, I am running through the keep-alive option.
@cescoffier , any quarkus/microprofile/vertx component contains DNS responsibilities? I guess the only one is vertx, so I'll also test quarkus.vertx.use-async-dns=true and let you know the results.

We want to run out of options before moving to Stork/ConfigMap.

I confirm that @RequestScoped on the RestClient interface did not help, wh

[2022-06-29 10:09] cescoffier commented on #26409
No, that resolution is managed by the JVM. Nothing Quarkus specific.

[2022-06-29 10:10] gsmet commented on #26426
@ebullient could you check that the documentation team received the notification? The teams are not linked in bot comments but I never figured out if the members were receiving the notifications anyway. Probably worth checking and switch to a list of GitHub handles if not.

[2022-06-29 10:11] sberyozkin commented on #26410
@phillip-kruger Sure, if `200` alongside the error info in the response is how GraphQL handles it for HTTP errors then indeed +1 to that.

[2022-06-29 10:16] tobi-quarkus-coder commented on #23804
Yes, this works:

[code]
I was wondering as @ozangunalp was suggesting to use sessionFactory which handles closing the session on it's own. Couldn't get this working.

[2022-06-29 10:17] ozangunalp commented on #23804
@tobi-quarkus-coder Thanks for the feedback! That's what I suspected.

[2022-06-29 10:28] holly-cummins commented on #25230
Here's my podman recipe for maximum compatibility. https://edofic.com/posts/2021-09-12-podman-m1-amd64/ explains the architecture part, and https://github.com/containers/podman/discussions/14238 has discussion of what's going on with ryuk. If ryuk wasn't disabled, there were lots of socket permission exceptions. With ryuk disabled, things mostly worked but there were some failures because of name

[2022-06-29 10:32] holly-cummins commented on #22919
There are some podman-related fixes going in as part of #25230. For example, mongo dev services on podman had a case-sensitivity issue. I'm hoping we can also get M1 automated builds going, which will most likely use podman to ensure ongoing compatibility.

Here's my podman recipe:

Edit `~/.testcontainers.properties` and add the following line

`ryuk.container.privileged=true`

Then run the follo

[2022-06-29 10:36] geoand commented on #26314
Although I understand the rationale of this, however JAX-RS `ExceptionMapper` classes are not invoked for exceptions that happen outside of JAX-RS, like in this case.

So I am going to close this as `wont fix`.

However I would like to ask @sberyozkin if there is a way for users to handle such Oidc exceptions.

[2022-06-29 10:42] phillip-kruger commented on #26410
Yea. I'll do some work on this a.s.a.p, and might need your help @sberyozkin . I'll ping you at that time

[2022-06-29 10:43] geoand commented on #26260
Please provide a sample application which we can run locally. It will be a lot of help in debugging the issue.

[2022-06-29 10:44] geoand commented on #26237
Thanks, I'll give it a try

[2022-06-29 10:49] yrodiere opened #26431 "Display information about datasources that are "up" in Agroal healthcheck"
### Description

Essentially, in [DataSourceHealthCheck.java](https://github.com/quarkusio/quarkus/blob/main/extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/health/DataSourceHealthCheck.java) we'd call `data(...)` even when the datasource is up, simple putting the data `"UP"`.

This would be more consistent with `ReactiveDatasourceHealthCheck`.

See https://github.com/quarkusio/q

[2022-06-29 10:53] gsmet commented on #26431
@yrodiere also I asked the question about `default` because in the JDBC health check, we use `default` not `<default>`.

[2022-06-29 10:56] yrodiere commented on #26431
@gsmet That seems like a bad idea given someone can just use `default` as their datasource/PU name. We should probably open another ticket to change that?

[2022-06-29 11:15] geoand commented on #26237
Thanks for the reproducer, very useful indeed.

@FroMage @Sanne is there a reason why `stream().list()` does not engage filters of joined entities?
If this indeed can't be done, then I think we can detect that and throw an exception?

[2022-06-29 11:20] sberyozkin commented on #26410
Sure

[2022-06-29 11:27] alesj commented on #26428
Yeah, I think that was one of the main reasons why it's not added.
But my latest change just split some of the poms, modules, dirs, classes ...
So I guess @Ladicek or who did the initial Registry integration could tell more.

[2022-06-29 11:28] alesj commented on #26428
So no more substitutions for such things?

[2022-06-29 11:35] dmlloyd commented on #26401
It should be fine, I'll review in detail once I've started the day. We are going to converge the forks of JBoss LogManager at some point in the near future, and this change would actually be consonant with that effort.

[2022-06-29 11:37] #21108 closed

[2022-06-29 11:37] #24056 closed

[2022-06-29 11:38] csotiriou opened #26434 "@ConfigProperties usage results in crash with dependency injection errors"
### Describe the bug

I have a very simple case where I'm trying to use  a configuration class with `@ConfigProperties` like this:

[code]

Quarkus then crashes upon injection (boot time):
[code]

Note that I'm using `import org.eclipse.microprofile.config.inject.ConfigProperties;` and not the annotation from Quarkus ARC. It's that supposed to be working as well?

### Expected behavior

Dependency

[2022-06-29 11:38] csotiriou commented on #26434
@radcortez

[2022-06-29 11:46] alexeysharandin commented on #25712
Hi Georgios, it's commited parallel with sqlite ext development and has some legacy code. Fixed (by wrong way but it's works for demo).
[code]
and trigger http://localhost:8080/hello/vertx

[2022-06-29 11:47] smil2k commented on #26378
@sberyozkin  I had a suspect already, because I was using a reactjs proxy, but turning it off did not help.

I'll try to run it on my own machine now to be sure that no reverse proxy is involved in between. HAProxy is known to buffer requests, but I don't think that 500mb is what HAProxy would wait together.

[2022-06-29 11:50] ozangunalp commented on #26428
That's a very good point, imported bom won't import defined repositories.

[2022-06-29 11:50] geoand commented on #25712
Great, thanks

[2022-06-29 11:55] radcortez commented on #26434
Hi @csotiriou thank you for the reproducer.

You are missing the `@ConfigProperties` annotation at the injection point. The MP Config spec mandates it. If you add it, the app runs as expected.

[2022-06-29 11:55] #26434 closed

[2022-06-29 11:55] #26113 closed

[2022-06-29 11:56] DavideD commented on #23739
Thanks a lot!
I can start the project now.

Could you also tell me the steps to reproduce the error?

[2022-06-29 12:02] csotiriou commented on #26434
You are right, it was working without the annotation at the injection point before, and I missed the part of the documentation that mandates it. Thank you.

[2022-06-29 12:26] tsegismont commented on #26426
It doesn't work since 2.7.6? What's the error message?

:+1:

This example should be updated. Would you mind filing an issue on `vertx-sql-client` repo ?

We should add a URL reference section similar to https://quarkus.io/guides/datasource#jdbc-url

[2022-06-29 12:38] xstefank commented on #26421
I suppose we have health checks in flyway and/or liquibase extensions? Sorry, I am not familiar with these extensions enough to be able to recommend the correct way to approach this without more context.

[2022-06-29 12:40] geoand commented on #26421
Nope, they don't provide health checks

[2022-06-29 12:40] gsmet commented on #26421
Are the health checks even available when the migration is executed? My recollection is that we are waiting for the schema to be migrated before opening the gates for requests.

[2022-06-29 12:43] jsmrcka commented on #26426
Here is what I'm getting with 2.7.6 and later:
[code]

Sure, here it is: https://github.com/eclipse-vertx/vertx-sql-client/issues/1209.

[2022-06-29 12:43] gsmet commented on #26431
@tmihalac this one could be an easy win. The idea is to make the Agroal health check more consistent with the `ReactiveDatasourceHealthCheck`.

[2022-06-29 12:43] mikeleitz commented on #23739
Send me an email and I'll reply with the creds and instructions

leitz at mikeleitz.com

[2022-06-29 12:47] DavideD commented on #23739
You can send it to davide@hibernate.org

[2022-06-29 12:52] kdubb commented on #26421
@gsmet I think you are correct. I investigated a bit last night and from what I could tell the first issue is that the HTTP layer isn't initialized until after migrations are completed.

[2022-06-29 12:54] geoand commented on #26421
I just tried this and indeed hitting the HTTP health endpoints does not yield a result while the migrations are running.

That sounds like proper behavior to me.

[2022-06-29 12:56] mikeleitz commented on #23739
Sent.

[2022-06-29 12:59] kdubb commented on #26421
In terms of K8s I cannot agree that this is the proper behavior. I think the proper behavior is to report Liveness while initialization is happening and Readiness after.

Migration is one example, but anything slowing down initialization will cause container restart.

[2022-06-29 13:00] geoand commented on #26421
Hold on... If you set a proper `initialDelaySeconds` value, you will not get restarted.
I would argue, that setting such a value should be done regardless of whether you are running migrations or not.

[2022-06-29 13:04] kdubb commented on #26421
Yes but those values are tricky to set correctly because you cannot always know the proper value. K8s added a new "Startup" probe for this reason.

[2022-06-29 13:05] geoand commented on #26421
Which again you would set to a proper value, right?

[2022-06-29 13:06] gsmet commented on #26421
I agree with @kdubb that our behavior is not ideal. We are doing stuff, we are live and we shouldn't be restarted. Finding a proper `initialDelaySeconds` will be impossible given you might have from time to time a migration exceeding the delay.

Now... that being said... I have no idea how to properly fix this as we decided quite early that we would open the HTTP gates only when the database is re

[2022-06-29 13:08] geoand commented on #26421
I don't think we can fix this without significant refactoring

[2022-06-29 13:16] geoand commented on #26421
That's why k8s has additional settings

[2022-06-29 13:32] michalszynkiewicz commented on #26409
@Chexpir to make sure I understand, your DNS server returns different IP addresses on different calls and you'd like the client to query DNS on each call to leverage that?

Or does it return a list of IPs and you'd like the client to round-robin between them?

[2022-06-29 13:32] fastluca commented on #26260
Hi all, I solved the problem changing the visibility of the two methods `insertionJob` and `activeSearchJob`. Removing the private to them the `@Transactional` context is correctly activated.
I don't know if this is how it was expected to work or if it is a bug.

[2022-06-29 13:33] #26211 closed

[2022-06-29 13:34] radcortez commented on #24670
Added clarifications to https://smallrye.io/smallrye-config/latest/config/environment-variables/.

The Quarkus Configuration reference already has a link to this: https://github.com/quarkusio/quarkus/blob/81cef8d84bca559cb68a6afae1969ffbbbb7732b/docs/src/main/asciidoc/config-reference.adoc#L65

There is also a PR to add the Env format to the docs: https://github.com/quarkusio/quarkus/pull/26408

I

[2022-06-29 13:34] #24670 closed

[2022-06-29 13:34] #26260 closed

[2022-06-29 13:38] fastluca commented on #26260
Not in native mode: I got the warning when running the standard quarkus application.

[2022-06-29 13:41] geoand commented on #26260
Yes, that's because the warning happens at build time

[2022-06-29 13:54] kdubb commented on #26421
I concede this may be a large amount of work to fix and that may preclude it from happening anytime soon. Currently `initialDelaySeconds` might be the only workaround but there are much better features of K8s to support proper startup & initialization.

[2022-06-29 14:22] Chexpir commented on #26409
We have several type A registries in our DNS server with different IP addresses (e.g. when an instance is created/destroyed in our AWS ECS, our DNS registry gets updated), same as httpbin (see image below) so our DNS returns multiple IPs (order of the IPs is randomized) and we would like the client to round-robin (or something less sofisticated) among them yes.

micronaut (java 11) and grails (jav

[2022-06-29 14:28] DavideD commented on #23739
We are still trying to figure out what's the problem with it.
As a workaround, it seems to work if you don't use panache:
1. Remove @ReactiveTransactional
2. Add
[code]
3.  Change the returned code to:
[code]

[2022-06-29 14:48] spolti commented on #26385
Hi @geoand sry for the delay, I got the same behavior.

[2022-06-29 14:49] xstefank commented on #26421
We do support Startup probes but if you don't expose HTTP there is nothing we can do. We have already a request to make /q endpoints run on a different port in https://github.com/quarkusio/quarkus/discussions/23848.

[2022-06-29 15:03] radcortez opened #26444 "OpenTelemetry SDK Autoconfigure"
### Description

Provide support for OpenTelemetry SDK Autoconfigure:
https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/autoconfigure/README.md

### Scheduled work:
We identified improvements (see comments bellow) to the initial PR https://github.com/quarkusio/quarkus/pull/26760
Leading to this phased execution plan:

- [x] Refactor classes to align with metrics binding

[2022-06-29 15:06] patriot1burke commented on #25708
@geoand I screwed up and didn't review this well enough.  The fix you instituted breaks non-native Lambda deployments as our poll loop doesn't run in JVM lambda deployments.  I don't think the connection information is available when running lambda in JVM mode.

[2022-06-29 15:13] radcortez opened #26445 "OpenTelemetry Collector for DevServices"
### Description

When the OpenTelemetry Extension is available, provide an OpenTelemetry collector as a DevService to collect Spans.

### Implementation ideas

[Epic waiting for design]

[2022-06-29 15:40] patriot1burke commented on #25708
@geoand You are trying to discover the client IP address/host here?

[2022-06-29 15:40] geoand commented on #26386
Wow, darn...

[2022-06-29 15:41] geoand commented on #26386
Should we revert my PR?

[2022-06-29 15:42] geoand commented on #25708
Pretty much, yeah

[2022-06-29 15:43] patriot1burke commented on #25708
Ok, I'll have a new PR for this.  Will need to be extract from the lambda http event.  I think client IP is available, but the docs aren't clear on what "sourceIp" is.

[2022-06-29 15:46] geoand commented on #25708
Understood, thanks

[2022-06-29 15:55] geoand commented on #25708
Definitely, if we can't have an IP, we'll have to be defensive

[2022-06-29 15:58] fazeem84 commented on #25708
I have raised another issue on the back of this issue [](https://github.com/quarkusio/quarkus/issues/26250)

[2022-06-29 16:46] synox commented on #9386
FYI, 2.10 is released, so this should be ready for test.

[2022-06-29 17:33] abuelgasimsaadeldin commented on #14601
@ntrp @geoand Hi guys, I was previously using the ```quarkus-resteasy-multipart``` and after migrating to resteasy reactive I was able to still use Multipart form by default but I am unable to add validation like done previously Example: @NotNull or @NotBlank in requests. That would be very helpful. Any ideas if this is still possible with the resteasy reactive? Thanks!

[2022-06-29 17:46] xstefank commented on #26421
If you would have HTTP open that should be doable.

[2022-06-29 17:52] geoand commented on #14601
Ah, I had forgot about that!

Can you please open a new issue asking for that feature?

Thanks

[2022-06-29 17:53] #25378 closed

[2022-06-29 18:01] DavideD commented on #23739
What I've found is that, when using Panache,  a new session is created for each request but the dispose method is never called and therefore the session never gets closed.

[2022-06-29 18:04] abuelgasimsaadeldin opened #26451 "Add Validation for Multipart Form Type using resteasy reactive"
### Description

Previously when using the ```quarkus-resteasy-multipart``` we could add validation to dto requests such as @NotNull and @NotBlank however after migrating to resteasy reactive we are unable to add validations.

### Implementation ideas

Add validations similar to previous ```quarkus-resteasy-multipart```.

[2022-06-29 18:56] patriot1burke commented on #26386
@geoand I'd say yes, but its already shipped with 2.10

[2022-06-29 19:12] gastaldi commented on #26386
@danieloh30 2.10.1.Final is already out, see https://quarkus.io/blog/quarkus-2-10-1-final-released/

[2022-06-29 19:20] gastaldi commented on #26386
Probably 2.10.2.Final, we can backport the fix once it's available 😉

[2022-06-29 19:49] danieloh30 commented on #26386
@gastaldi when do you expect to release 2.10.2.Final?

[2022-06-29 19:52] gastaldi commented on #26386
That's up to @gsmet :)

[2022-06-29 19:58] rgmz opened #26455 "[reactive-pg-client] NullPointerException in PgPoolRecorder.java"
### Describe the bug

When migrating from `2.9.2.Final` to `2.10.1.Final` the tests for one of my applications started failing due to a NullPointerException:
[code]

The cause seems to be that `dataSourceReactiveRuntimeConfig.additionalProperties` can be null, so when it hits this line it fails:
https://github.com/quarkusio/quarkus/blob/3ad7cd0ec6a2297ccda5759b5acb22741d147d37/extensions/reactive-

[2022-06-29 21:16] sberyozkin commented on #26314
@spirostz Is the issue here is that you don't want this kind of message returned to the client ? (too much internal info ?)

[2022-06-29 21:26] sberyozkin commented on #26314
@spirostz The only option which might work is disabling the proactive authentication as it pushes the security chain to run alongside JAX-RS chain so the exception mapper might work. #25732 is related, one specific exception can not be caught, but you may have better luck with other ones, can you try please to disable the proactive auth, `http. auth. proactive=false` and retry ?

[2022-06-29 21:28] sberyozkin commented on #26314
A better option is to log it only but simply return 500

[2022-06-29 21:48] sberyozkin commented on #26314
I think the better option may be just return 500

[2022-06-30 03:47] #26386 closed

[2022-06-30 03:48] danieloh30 commented on #26386
It seems to fix in 2.11.0 :)

[2022-06-30 05:09] geoand commented on #6588
The Kogito quickstarts are failing, can you have someone from your team take a look @evacchi ?

[2022-06-30 05:09] geoand commented on #6588
The Optaplanner quickstart is failing, can you have someone from your team take a look @ge0ffrey ?

[2022-06-30 05:35] geoand commented on #26451
This actually already works!

You just need to annotate the `@Multipart` method parameter with `@Valid` as well, see https://github.com/quarkusio/quarkus/pull/26459 for an example

[2022-06-30 05:35] #26451 closed

[2022-06-30 05:38] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2587646298

[2022-06-30 05:45] Sgitario commented on #26152
@westarne have you tried to provide your custom ObjectMapper instance by following the instructions in https://quarkus.io/guides/rest-json#json ? Something like this should work:

[code]

[2022-06-30 06:04] geoand commented on #26385
I have opened https://github.com/quarkusio/quarkus/pull/26460. Can you check it out?

[2022-06-30 06:14] evacchi commented on #6588
still? I thought I had disabled all relevant tests with https://github.com/quarkusio/quarkus-quickstarts/pull/1135 🤔

[2022-06-30 06:16] abuelgasimsaadeldin commented on #26451
Hi @geoand, if I'm not mistaken the ```javax.validation``` library comes by default with the previous ```quarkus-resteasy-multipart``` however with the new reseasy reactive it does not come with the ```Valid``` annotation by default so may I know the dependency that is required to be added to my pom.xml to be able to use this library? Thanks!

[2022-06-30 06:17] geoand commented on #26451
Yeah, to get `@Valid` and friends just add `quarkus-hibernate-validator` to your dependencies.

[2022-06-30 06:18] geoand commented on #6588
I was not aware of that PR. I wil merge it now :)

Thanks

[2022-06-30 06:19] abuelgasimsaadeldin commented on #26451
Thanks!

[2022-06-30 06:20] geoand commented on #26451
🙏🏼

[2022-06-30 06:20] westarne commented on #26152
Yes, that's working for one object mapper, but not for multiple object mappers with different configurations for each client

[2022-06-30 06:26] evacchi commented on #6588
I just realized that that was reverting the previous change because the issue is with *build*. I'll have to temporarily *remove* the modules from the build.

[2022-06-30 06:27] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2587646298

[2022-06-30 06:38] thedarkdestructor commented on #2931
Still here with the latest version of quarkus. Any news?

[2022-06-30 06:47] abuelgasimsaadeldin commented on #26451
Hi @geoand I have another simple inquiry if you do not mind regarding the request dto, previously before migrating to resteasy reactive I used to have the ```@FormParam``` annotation providing the ```KEY``` value for request and ```String bla bla``` for the variable initialization, however I noticed that now the ```KEY``` value is using the variable name if that makes sense.

For example:
[code]

[2022-06-30 06:48] geoand commented on #26451
Can you please open a new issue for this?

[2022-06-30 06:48] abuelgasimsaadeldin commented on #26451
@geoand yes, sure

[2022-06-30 06:51] abuelgasimsaadeldin opened #26461 "@FormParam OpenAPI not displayed properly in Resteasy Reactive"
### Describe the bug

Enquiry regarding the request dto, previously before migrating to resteasy reactive I used to have the ```@FormParam``` annotation providing the ```KEY``` value for the request and ```String variable``` for the variable initialization, however I noticed that now the ```KEY``` value is using the variable name if that makes sense.

For example:
[code]

and in Swagger instead of

[2022-06-30 06:53] abuelgasimsaadeldin commented on #26451
@geoand Done created, I was not sure whether to submit it as a bug or question so I apologize if it I had mistakenly grouped it wrongly. But here it is: https://github.com/quarkusio/quarkus/issues/26461

[2022-06-30 06:56] geoand commented on #26451
Thanks

[2022-06-30 06:57] geoand commented on #26461
@phillip-kruger do we have special RESTEasy Reactive support in our OpenAPI integration?

[2022-06-30 06:58] loicmathieu commented on #26237
I check the code and it seems to be an issue on Hibernate ORM side. The code path for both `PanacheQuery.stream()` and `PanaceQuery.list()` is the same except for that it returns `jpaQuery.getResultStream();` instead of `jpaQuery.getResultList();`.

This should be reproducible without Panache on plain ORM.

[2022-06-30 07:01] brunobat commented on #26421
If we open HTTP, how long should we wait for readiness?
Some of these DB operations can be extremely long. Updating an index on a large table can take 20m or 30m long. K8s will have a readiness timeout as well...
If the Flyway and Liquibase operacions operations take a consistent amount of time to run, I believe this is a K8s property tuning problem and will happen independently of the app side li

[2022-06-30 07:08] ia3andy opened #26463 "Automatic Kubernetes Service Binding extension with Kafka breaks on new deploy"
### Describe the bug

Using Automatic Service Binding with Kafka, new deployment breaks the DeploymentConfig.

It seems that when creating the Service Binding in OpenShift, it adds some binding to the DC (which was originialy generated and deployed by the Openshift extension), it adds envs: `SERVICE_BINDING_ROOT=/bindings`, storage & secrets.

Which makes the app work with Kafka.

But when deployi

[2022-06-30 07:09] phillip-kruger commented on #26461
Not really no, the normal JAX-RS module works for both. Is this issue Reactive specific ?

[2022-06-30 07:10] phillip-kruger commented on #26461
Ok I read the issue again, seems like this used to work in the Non-reactive way. So this must be a bug

[2022-06-30 07:10] geoand commented on #26461
Yeah, because it's about our Multipart support. Essentially Multipart objects are just POJOs, very similar actually to `@BeanParam`

[2022-06-30 07:11] phillip-kruger commented on #26461
@abuelgasimsaadeldin - do you have a small reproducer ? @MikeEdgar any comments ?

[2022-06-30 07:12] gsmet commented on #26386
@danieloh30 it has the backport label so it will be backported to 2.10.

I plan to release the next 2.10 next Wednesday. Is it early enough for you or do you have a critical need of this fix before that?

[2022-06-30 07:18] #24895 closed

[2022-06-30 07:36] abuelgasimsaadeldin commented on #26461
@phillip-kruger, yes sure

**CountryRequst.java** (dto):
[code]

**CountryResource.java** (resource):
[code]

**Expected swagger UI**:
![image](https://user-images.githubusercontent.com/68045710/176610747-81fea5a2-9e7f-4181-9c4b-0cf62994fca2.png)

[2022-06-30 07:40] bcluap commented on #24895
Great news. Will test it today

On Thu, 30 Jun 2022, 09:18 Alexey Loubyansky, ***@***.***>
wrote:

[2022-06-30 07:44] ozangunalp commented on #26463
@ia3andy I am pretty sure this is related to the SBO not mounting service credentials to the service binding root. As you noticed, a container image update resolves the issue.

I am not sure though if this is related to the credentials provider being rhoas. I noticed the same thing for service registry.

[2022-06-30 07:47] iocanel commented on #26463
Can you please provide more details on: `Add the Service Binding link between Quarkus and Kafka`?

[2022-06-30 07:47] Postremus opened #26464 "Resteasy Reactive adds transfer-encoding header though content-length is present"
### Describe the bug

I want to stream filedownloads. The filesize is already known (stored in db on upload).
The filesize is important to me, since I can use it as content-length header, which allows the browser to show a progress bar for the download instead of just spinning.

e.g.
![image](https://user-images.githubusercontent.com/1223135/176621022-2d6fe11c-35f6-49cc-b014-85c779b019fc.png)

Wit

[2022-06-30 07:55] ia3andy commented on #26463
Just draw the arrow from Quarkus to Kafka from the topology view.

[2022-06-30 07:55] geoand commented on #26463
I think this is the problem that @cescoffier had mentioned a months ago and that there is nothing we can do on our side

[2022-06-30 07:56] ia3andy commented on #26463
I think it works, @sebastienblanc told me he was using the Kubernetes extension instead of the Openshift one and it was working fine (I haven't tested myself).

[2022-06-30 07:57] ia3andy commented on #26463
Yes we discussed it already, but documenting it would be way better than nothing to avoid dev frustration.

[2022-06-30 08:04] gsmet commented on #26455
You can disable/enable reactive and JDBC per datasource with:
[code]

You can also disable the devservices for a particular datasource:
[code]

[2022-06-30 08:04] geoand commented on #26464
Thanks for the reproducer. I totally agree the behavior is not correct, looking into it now

[2022-06-30 08:11] #26222 closed

[2022-06-30 08:31] loicmathieu commented on #26284
@DavideD I'm not an Hibernate expert but when I try to change the bound of the query without using a DTO projection it fails with the following exception :

[code]

My test query is :

[code]

Where `CatProjectionBean` is a java bean.

You can find my prototype here: https://github.com/quarkusio/quarkus/compare/main...loicmathieu:quarkus:panache-projection-improvement

[2022-06-30 08:40] loicmathieu commented on #26284
Looking at how we build the JPA Query, it cannot work as we didn't pass the result class so only entity class or DTO projection can work.

[code]

[2022-06-30 09:00] geoand commented on #26464
https://github.com/quarkusio/quarkus/pull/26467 takes care of the issue

[2022-06-30 09:05] DavideD commented on #26284
Hibernate ORM is not going to transform the result on its own.

One has to specify the transformation:

1. In the query: `select new CatProjectionBean( "c.name, c.owner.name as ownerName") from Cat c`
2. Or, [using a ResultTransformer](https://docs.jboss.org/hibernate/orm/5.6/userguide/html_single/Hibernate_User_Guide.html#sql-dto-query):
[code]

With Hibernate Reactive only the first option is av

[2022-06-30 09:36] vaclavsvejcar commented on #25984
That did the trick, I must have overlooked this in the documentation. Thank you!

[2022-06-30 09:39] geoand commented on #25984
Closing this as in this case explicit registration is required

[2022-06-30 09:39] #25984 closed

[2022-06-30 09:41] DavideD commented on #26284
I haven't tested it, but something like this wouldn't work?
[code]

It's not perfect, but I think it would work for most common scenarios

[2022-06-30 09:46] rsvoboda opened #26468 "javax.annotation excludes spreaded across multiple modules instead of centralized approach in BOM"
### Describe the bug

javax.annotation excludes spreaded across multiple modules instead of centralized approach in BOM

Noticed this when preparing https://github.com/quarkusio/quarkus/pull/26347

I think the excludes should be managed in the BOM and not across individual extensions

javax.annotation excludes outside the BOM

[code]

### Expected behavior

javax.annotation spreaded centralized in

[2022-06-30 09:47] rsvoboda commented on #26468
/cc @aloubyansky @maxandersen

[2022-06-30 09:51] Dosexe opened #26470 "Reactive Messaging (RabbitMQ) - connector stops when facing parse error"
### Describe the bug

While receiving a `io.vertx.core.json.JsonObject` into a function annotated with `@Incoming` if the json is broken the consumer will throw an error, unack message and stop working, new messages just got unacked.

### Expected behavior

Bad message is nacked, rejected and consumer continue working as usual

### Actual behavior

Consumer dies and stops processing messages

###

[2022-06-30 10:56] danieloh30 commented on #26386
Cool. Sounds good to me. Thanks for the update @gsmet

[2022-06-30 11:00] #26464 closed

[2022-06-30 11:01] aloubyansky commented on #26468
FYI @gsmet. I think the reason to have them in the extension POM files is to satisfy the enforcer plugin building those extension modules.

[2022-06-30 11:03] patriot1burke commented on #25708
@geoand IMO, open telemetry should not barf if the client ip is null and a corresponding bug should be set there.  I cannot guarantee that it will be set with this lambda integration.

[2022-06-30 11:04] patriot1burke commented on #26250
Is there any stack trace or warning?  Is the telemetry server visible to the lambda?  I don't know if you have to do any AWS config magic to allow a lambda to connect outside its process.

[2022-06-30 11:10] geoand commented on #25708
Yeah, let's be on the safe side here. I'll open a tiny PR making things more defensive.

[2022-06-30 11:12] spirostz commented on #26314
Exactly, from security perspective, we should never expose anything unhandled to the user.

[2022-06-30 11:13] geoand commented on #25708
https://github.com/quarkusio/quarkus/pull/26474 is what I have in mind

[2022-06-30 11:20] spirostz commented on #26314
I tried with the `http.auth.proactive=false` but didn't worked

[2022-06-30 11:27] cescoffier commented on #26470
/cc @kdubb

[2022-06-30 12:32] gsmet commented on #26468
We need to be extremely careful about that. I know I had some weird issues when exclusions were partly in the BOM and partly in the dependency declaration. With Maven doing some crazy things and ignoring some of them in some situations, not all.

If we play with that, we will need to check things very cautiously (and I won't be the one doing it).

[2022-06-30 12:43] kdubb commented on #26470
@Dosexe Please try with 2.10+

[2022-06-30 13:41] Dosexe commented on #26470
@kdubb The behaviour is the same.
Here is the stack trace
[code]

[2022-06-30 13:49] jsmrcka commented on #24264
Fixed in https://github.com/eclipse-vertx/vertx-sql-client/issues/1160.
Brought into Quarkus in https://github.com/quarkusio/quarkus/pull/24316 (https://github.com/quarkusio/quarkus/pull/24316/commits/0dbc247b7c010ebc2f729abf263bd00b7fb2c057).
Verified on `2.10.0.Final`.

[2022-06-30 13:50] sithmein commented on #25462
Any estimates when this issue will be fixed to make the JAX-RS functionality spec-compliant?

[2022-06-30 13:51] geoand commented on #25462
If you can find the place in the spec that mentions this, I'll look into it

[2022-06-30 13:55] sithmein commented on #25295
According to https://github.com/quarkus-qe/quarkus-test-suite/pull/655 this issue has been fixed but it's still labelled with "invalid". If it's indeed fixed maybe someone can remove that label.

[2022-06-30 13:57] geoand commented on #25295
Good point, done

[2022-06-30 13:58] #22546 closed

[2022-06-30 13:58] kdubb commented on #26470
Oh I forgot.... this is the open PR https://github.com/smallrye/smallrye-reactive-messaging/pull/1772

[2022-06-30 13:59] sithmein commented on #25462
I mentioned it in my previous comment.

[2022-06-30 14:00] geoand commented on #25462
Ah, sorry, missed it

[2022-06-30 14:13] ppalaga commented on #26468
I'd like to point out that we (Camel Quarkus) started excluding all banned artifacts in the BOM a couple of months ago and it works quite well. I have not seen any issues like you mention. Our flattener mojo checks this and fails when an exclusion is missing somewhere. ATM, the mojo is [reading the banned deps](https://github.com/l2x6/cq-maven-plugin/blob/main/common/src/main/java/org/l2x6/cq/comm

[2022-06-30 14:27] Ladicek commented on #26057
Sorry it took me a while to get to this. It is possible to fix, but only partially. The fault tolerance configuration properties may be set at runtime, at which point, it is too late to specify which classes should be registered for reflection.

I'm not even 100% convinced we should look at the build-time values fault tolerance configuration properties and register the mentioned classes for reflec

[2022-06-30 15:21] tristantarrant commented on #25136
The Infinispan client already supports setting a provider since ISPN-12882 `infinispan.client.hotrod.ssl_provider`, so this needs to be exposed in the extension.

[2022-06-30 15:26] tristantarrant opened #26478 "Allowed multiple named configurations for Infinispan client"
### Description

The current Infinispan extension only supports a single RemoteCacheManager. Ideally we should allow specifying multiple named configurations, using an annotation such as `@InfinispanClientName`.

[code]

[code]

### Implementation ideas

_No response_

[2022-06-30 15:40] JessicaJHee opened #26479 "Qute: Improve error column location in error message"
### Description

When trying to capture an error to display in an IDE, we would need the column value to be at the error token in order to highlight the error range correctly.

Currently, the error column location is reported at the cursor in the screenshot, causing the underline to be in the incorrect position.

![image](https://user-images.githubusercontent.com/73968480/176716393-b179c9c6-be9b-4

[2022-06-30 15:44] DavideD commented on #23739
I've created a testcase using one of the quickstarts: https://github.com/DavideD/quarkus-quickstarts/tree/oidc-test/security-openid-connect-quickstart

[2022-06-30 15:51] Ladicek commented on #26057
Fix is in #26480.

[2022-06-30 16:43] rgmz commented on #26455
Good to know. I must have missed this when browsing the configuration reference because I was looking for a `.enabled` property.

[2022-06-30 17:01] #25278 closed

[2022-06-30 17:15] NMichas commented on #25850
Is this still an issue on 2.10.0?

My mongodb user doesn't have `colmod` permission and Liquibase fails to run. I tried setting `quarkus.liquibase-mongodb.validate-on-migrate=false` (as per https://forum.liquibase.org/t/what-is-the-role-of-the-user-to-acquire-a-lock-in-mongodb/5190) but seems to be ignored.

[2022-06-30 17:24] DavideD commented on #23739
@mkouba Any idea why the dispose in `ReactiveSessionProducer` doesn't get called? (the Producer gets called everytime). One theory is that we might need to add an `@Unremovable` in the dispose method in `ReactiveSessionProducer`

[2022-06-30 17:49] geoand commented on #25850
I'll have a look tomorrow and get back to you

[2022-06-30 19:48] rdifrango opened #26486 "Values set with org.slf4j.MDC no longer works in 2.10.0.Final"
### Describe the bug

I recently upgrade my shared component from Quarkus 2.9.2 to 2.10.0 where I previously had a logging filter that used `org.slf4j.MDC` to set context but my tests for it started failing.

Once I switched to use `org.jboss.logging.MDC` then it started working.

### Expected behavior

Given that the logging is supposed to merge the SLF4J calls I'd have expected calls to `org.slf

[2022-06-30 19:53] leonardowestphal commented on #25607
quarkus.datasource."DB1".jdbc.url
quarkus.datasource."DB2".jdbc.url

The stack trace is the same. I took a look at the .xml file on surefire-reports and found this:

[code]
If there was an authentication error the application would not even run. And the login data are correct...

I agree with you. This looks weird but...
I don't have two entities bounded to the same table. If so, the error would o

[2022-06-30 19:58] myfingersarebroken opened #26487 "Quarkus create app does not work on Mac and lacks documentation"
### Describe the bug

I followed all the steps to use Quarkus, but project initialization does not work and documentation lacks information on how to resolve it.
Using the quarkus create app returns the following error.

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Outpu

[2022-06-30 20:16] leonardowestphal commented on #25607
I just updated the quarkus version to 2.9.2 and the Java version to 17 and I also changed the name of the PUs (I noticed that one of them had the same name of the database schema and so I decided to change it to test). Now when I run the tests I don't have the error 'SQL strings added more than once for: <schema_name>.<table_name>' anymore.

Now when I run the tests I get this:

[code]

The applic

[2022-06-30 21:01] leonardowestphal commented on #25607
@yrodiere
I did other tests and identified that the 'SQL strings added more than once for: <schema_name>.<table_name>' error only occurs when using the persistence unit name equal to the database schema name. In my case the only difference between them was that the first letter was capitalized on PU name.

I believe that now you can identify the origin of the weird message and fix it, if necessary

[2022-07-01 01:14] kdubb commented on #26445
+1000

Just yesterday I was wishing for the ability to see my telemetry in the Quarkus Dev UI

[2022-07-01 05:12] #25058 closed

[2022-07-01 05:16] geoand commented on #25850
@loicmathieu is this something you want to tackle?

[2022-07-01 05:38] cescoffier commented on #26428
Yes, and we do not want to declare the confluent repository. So for now, there is not much we can do, except document the support version.

We could support conditional substitutions to support the newest version, but... oh my...

[2022-07-01 05:59] geoand commented on #23612
https://github.com/quarkusio/quarkus/pull/26492 should fix this

[2022-07-01 06:06] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2594496994

[2022-07-01 06:09] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2594496994

[2022-07-01 06:10] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2594475580

[2022-07-01 07:15] loicmathieu commented on #25850
@geoand I can have a look next week.

`quarkus.liquibase-mongodb.validate-on-migrate=false` should be honored, if not it's a bug.

For the other properties, we need to implement them, Liquibase MongoDB cannot use our Mongo client instance so we need to pass it the properties, it's not very convenient, that's why all properties are not supported. Maybe also we need to document it a little more.

[2022-07-01 07:16] mkouba commented on #23739
So the disposer method would be called when the bean is destroyed, i.e. when destroyed explicitly or when the context where the bean instance lives (contextual instance using the spec wording) is destroyed. It might be something related to context propagation. I'll need to take a look at the testcase you mentioned in https://github.com/quarkusio/quarkus/issues/23739#issuecomment-1171380717.

That'

[2022-07-01 07:46] Kasokaso commented on #10716
Is there any plan to implement this in the near future? I've tried this workaround solution and It seems it doesn't work for me.

[2022-07-01 07:56] aloubyansky commented on #8593
Ough, we have a problem
[code]
That's my stuff.

[2022-07-01 08:29] jarryDk commented on #26386
@[danieloh30](https://github.com/danieloh30) Very nice bug report. Have more or less the same issue deploying with CDK.

Downgraded to 2.9.2.Final and it works.

@gsmet Looking forward to the next 2.10 next Wednesday

[2022-07-01 08:44] michalszynkiewicz commented on #26409
WDYM by stork + config map? Do you feed the IPs directly?

[2022-07-01 08:53] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2594475580

[2022-07-01 09:21] ivansenic opened #26496 "Matching a base path of another controller, results in `405 Method Not Allowed`"
### Describe the bug

It took me some time to understand the bug I am hitting, but now I am pretty certain it's a bug and it's reproducible. Let's imagine you have two controllers:

[code]

Calling `GET /base/123` will result in `HTTP 405 Method Not Allowed`. Note that:

* endpoints are correctly visible in the Dev UI `List of endpoints`
* endpoints are correctly included in Open API and Swagger U

[2022-07-01 10:07] geoand commented on #26496
I am not sure this is allowed as per the JAX-RS spec.
@sberyozkin, @FroMage do you know?

[2022-07-01 10:09] michalszynkiewicz commented on #26409
I did some experiments with DNS and `-Dnetworkaddress.cache.ttl=0` sort of works with rest client reactive but it still doesn't keep the resolution mechanism from caching for a short amount of time.
So if you want real round-robin, I think Stork is the way to go.

Would you be open to contribute the AWS Cloudmap service discovery to Stork? Or to deploy it to central and to share the coordinates wi

[2022-07-01 10:13] DavideD commented on #26284
I've applied my changes here: https://github.com/DavideD/quarkus/pull/50/commits/89d6b54c46519ff7b4567ace6c4b2414cc08dbfd

But I cannot run the tests so  I don't know if it works or not.

[2022-07-01 10:13] geoand commented on #26478
We definitely want something like this. We do something similar for most of the other datasources.

[2022-07-01 10:29] Sgitario commented on #26003
It's not working because you're not using the Resteasy Reactive Server extension, but the Resteasy REST Client Reactive which does not provide the `Providers` instance.
To fix your issue, you need to inject the list of MessageWriters instead of the `Providers` instance:

[code]

And then replace "providers.getMessageBodyWriter(" with:

[code]

I did check that this is working fine using the reposi

[2022-07-01 10:55] loicmathieu commented on #25850
@NMichas we honor `quarkus.liquibase-mongodb.validate-on-migrate=false` if it's not working as expected it's a liquibase MongoDB bug.

Note that for disabling liquibase migration you should use `quarkus.liquibase-mongodb.migrate-at-start=false`.

[2022-07-01 11:05] loicmathieu commented on #25850
I had a look and the best I can do is to add the authSource inside the mongodb connection String.
I have a PR for this, not tested yet as it's not easy to test, if you can build my branch and test it it would help a lot.
https://github.com/quarkusio/quarkus/pull/26499/files

[2022-07-01 11:29] michalvavrik opened #26502 "Dependency Graph Walk leads to StackOverflowError"
### Describe the bug

Our `ConsumerPactTest` throws `java.lang.StackOverflowError`. I tracked this issue down to the #26411.

### Expected behavior

No stack issues.

### Actual behavior

_No response_

### How to Reproduce?

Reproducer:

Steps to reproduce the behavior:
1. `git clone https://github.com/quarkus-qe/quarkus-test-suite`
2. `cd quarkus-test-suite/test-tooling/pact`
3. `mvn clean verif

[2022-07-01 11:30] michalvavrik commented on #26502
cc @aloubyansky

[2022-07-01 12:54] edeandrea commented on #23612
Ok - will watch it and see if the next run fixes it.

[2022-07-01 13:01] famod commented on #26486
@luneo7 since you've been working on some MDC topics lately, does that ring a bell?

[2022-07-01 13:08] sebastienblanc opened #26504 "Container build with JIB do not start in remote-dev mode"
### Describe the bug

This is follow-up on https://github.com/quarkusio/quarkus/issues/26113 and I'm trying this on `main` as a fix as been provided.
But in my case, it doesn't work at all now, the container can't start because of this exception :

[code]

### Expected behavior

remote-dev should work with images built with the JIB extension

### Actual behavior

stacktrace provided above

### How

[2022-07-01 13:10] geoand commented on #26496
Spring doesn't implement JAX-RS :)

I'm not sure either, lets see if others know for sure

[2022-07-01 13:10] sebastienblanc commented on #26504
You can also use directly this image `quay.io/sebastienblanc0/remote-demo:1.0.1-SNAPSHOT`

[2022-07-01 13:10] StFS opened #26505 "Enabling the SmallRye Metrics extension on a project with the AWS Lambda extension breaks the behaviour of the lambda"
### Describe the bug

Developing a lambda using the AWS Lambda extension (quarkus-amazon-lambda) allows me to run the Quarkus dev server (`./mvnw quarkus:dev`) and call the lambda using curl:

[code]

However, if I add the SmallRye Metrics extension (`quarkus-smallrye-metrics`) to the project, it results in the curl command not working anymore:

[code]

### Expected behavior

The curl command that

[2022-07-01 13:12] famod commented on #24789
Switch to 19-ea was made via #26374 but we still need to stabilize via workarounds. That PR contains valuable info w.r.t. groovy toolchains.

[2022-07-01 13:31] yrodiere opened #26507 "Startup failure (HHH000342) when using dev services and the datasource and PU name are different"
### Describe the bug

If I change the configuration of the [Hibernate ORM quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/hibernate-orm-quickstart) to this, it works fine:

[code]

But! Change the datasource name to `DB2`, and all hell breaks loose:

[code]

[code]

### Expected behavior

The behavior of Quarkus should not depend on whether the persistence unit and datasourc

[2022-07-01 13:36] yrodiere commented on #25607
The JDBC URL is mandatory *if* you want to use your own database. In dev mode and tests, the lack of JDBC URL should not cause any problem, as Quarkus will launch a container automatically if there's no JDBC URL.

This is... very, very strange. I definitely don't know how in the world this could lead to a problem, as the PU name and schema name are handled by very different parts of the codebase.

[2022-07-01 14:00] luneo7 commented on #26486
Yup, a PR is in the works to fix that https://github.com/quarkusio/quarkus/pull/26298

[2022-07-01 14:29] aloubyansky commented on #26502
@michalvavrik thanks for reporting the issue. We also caught it in https://github.com/quarkusio/quarkus/issues/8593#issuecomment-1172052700

[2022-07-01 14:51] edeandrea opened #26512 "Continuous testing with remote dev?"
### Description

How about getting continuous testing to work with remote dev?

### Implementation ideas

_No response_

[2022-07-01 17:43] erik-wramner commented on #16592
I'm not an expert, but I think so. I can also add that this seems to have been removed by now. I don't get this with the latest Quarkus release and `PatchMethodFilter` seems to be gone. Perhaps they felt that the method did not offer enough control.

[2022-07-01 18:05] holly-cummins commented on #25230
After sorting out #26501, I was still seeing failures in the MSSQQL jib tests.

[code]
I was a bit stumped, but a podman prune and mvn clean (and perhaps some other cleaning along the way) seem to have sorted out the issue. Leaving the stack trace here for searchability, but I think MSSQL is resolved.

So now it's just DB2 to go, where it's a fight against https://stackoverflow.com/questions/70175

[2022-07-01 18:07] geoand commented on #25230
💪

[2022-07-01 18:21] edeandrea opened #26516 "Kubernetes extension(s) have stopped generating the app.openshift.io/runtime label"
### Describe the bug

I'm not sure which extension it is, but since Quarkus 2.10.1.Final the `app.openshift.io/runtime: quarkus` label is now missing from resources generated when using `quarkus.kubernetes.deployment-target=openshift`. For some reason it is still working when setting `quarkus.kubernetes.deployment-target=knative`.

You can see this in this diff: https://github.com/quarkusio/quarku

[2022-07-01 19:34] maxandersen commented on #26487
Is that the *Actual* error?

I assume it actually says some specific names and the issue is that somehow you are running behind a proxy and some host name is not accessible.

If you can show the actual full stack trace it should be more telling and we can better help.

[2022-07-01 19:46] edeandrea commented on #23916
Hi - any thoughts on this?

[2022-07-01 19:51] edeandrea commented on #14368
#14848 mentions that it was deferred to the infinispan team.

[2022-07-01 19:51] #14368 closed

[2022-07-01 19:52] edeandrea commented on #18996
Not sure if this is still an issue or not.

[2022-07-01 19:52] #18996 closed

[2022-07-01 20:06] edeandrea commented on #19132
Coming back to this I think what I was meaning all along with this was the ability for Dev Services to spin up containers on a remote k8s environment rather than on the local machine. Now that would solve a lot of problems.

I think @burrsutter was looking for something like that too.

[2022-07-01 20:16] pilhuhn commented on #26338
@gsmet Shall I just close this one?

[2022-07-01 20:18] #26502 closed

[2022-07-01 21:04] joern19 opened #26517 "Rest client reactive does not follow POST redirects"
### Describe the bug

When requesting a GET resource using the reactive rest client, which returns any redirect code, and `quarkus.rest-client."config-key".follow-redirects` is set to true, quarkus follows the redirect as expected. However, doing the same thing but using POST instead, quarkus throws an exception: `org.jboss.resteasy.reactive.ClientWebApplicationException: Received: 'Server respons

[2022-07-01 21:13] maxandersen commented on #19132
Give https://github.com/joyrex2001/kubedock a go ?

[2022-07-01 21:14] unhurried commented on #8570
Can anybody share the status of this issue? There alredy exists [a guide](https://quarkus.io/guides/security-built-in-authentication#how-to-customize-authentication-exception-responses)  to disable proactive authentication, and I confirmed that I now can capture AuthenticationFailedException in both JAX-RS exception mappers and RESTEasy server exception mappers. (I tested with Quarkus 2.10.1.Final

[2022-07-01 21:38] #26338 closed

[2022-07-01 21:38] gsmet commented on #26338
I adjusted the description of the PR using `Fixes` so that the issue is linked to the PR properly.

[2022-07-01 22:36] smil2k commented on #12741
The build is running inside in a docker containter, setting the truststore to an outside directory fails obviously.

I would not expect a successful build unless the developer adds volume mounts to her build explicity. I would be good to see some kind of documentation on it how to add volumes to the building docker.

[2022-07-01 23:40] mgubaidullin opened #26522 "Quarkus generates 'app.kubernetes.io/version' label as a part of the selectors for Deployment despite configuration"
### Describe the bug

quarkus generates `app.kubernetes.io/version` label as a part of the selectors for **Deployment** despite configuration

[code]

For **DeploymentConfig** works as expected but for **Deployment** does not.

### Expected behavior

[code]

### Actual behavior

[code]

### How to Reproduce?

1. Create quarkus project
[code]
2. Generate manifests
[code]
3. Check `target/kubernetes

[2022-07-02 07:19] DavideD commented on #23739
I think I know what's happening: the `ActivateRequestContextInterceptor` doesn't consider that the method is reactive and returns a Uni. [Therefore it terminates the request context too soon](https://github.com/quarkusio/quarkus/blob/6273be7ab40c56605b50e1e237b8db9d0575a5db/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ActivateRequestContextInterceptor.java#L22).