[2020-07-06 10:37] geoand commented on #10491
cc @loicmathieu

[2020-07-06 10:37] soufianesakhi commented on #3954
If anyone is having troubles with Kotlin in native mode, check the configuration resources linked here: https://github.com/oracle/graal/issues/2306

[2020-07-06 10:40] geoand commented on #8479
Looks like something that would be addressed by https://github.com/quarkusio/quarkus/issues/3954#issuecomment-654154905.

@RotBolt do you want to take it?

[2020-07-06 10:46] Sanne opened #10493 "dokka-maven-plugin not available"
**Describe the bug**
The Maven module `quarkus-hibernate-orm-panache-kotlin` will fail with `Failure to find org.jetbrains.dokka:dokka-maven-plugin:jar:0.10.1` when one prepares the project to work offline (aka `mvn dependency:go-offline`).

I don't know what this plugin does, but we should not depend on something which can't be downloaded from the usual Maven repositories.

**To Reproduce**
Steps

[2020-07-06 10:48] #10477 closed

[2020-07-06 11:19] loicmathieu commented on #10491
@Karm Google Cloud Functions didn't support native image deployment.
There is no native runtime inside Google Cloud Functions.

If you can tu use native image inside GCP, you better use RESTEasy and deploy a native image using Cloud Build.

[2020-07-06 11:25] cescoffier commented on #1766
The connector is using Camel-CDI which does not seem to be available in quarkus-camel. @lburgazzoli can you confirm?

[2020-07-06 11:26] cescoffier commented on #3113
The overflow would be more a "live" check.

[2020-07-06 11:26] cescoffier commented on #3113
Metrics have been done already. Health in progress.

[2020-07-06 11:27] cescoffier commented on #9769
Has been fixed in Quarkus 1.6.

[2020-07-06 11:27] #9769 closed

[2020-07-06 11:33] cescoffier commented on #9799
To avoid the warning configure the `client.id` to be unique per channel.

[2020-07-06 11:36] youngplugins commented on #10290
Hi there. Im new here, and use your wonderfull software.

I can verify the same  problem also happens with @SessionScoped.

@leandrobortoli , may I ask, how do you inject a bean interface, instead of implementation?

[2020-07-06 11:47] cescoffier commented on #5234
Note: Quarkus 1.6 added support for nack and failure management.

[2020-07-06 11:54] zeljkot commented on #9799
I did that, but that is a lot of noise in the configuration.

[2020-07-06 12:05] emmanuelbernard opened #10495 "Check out impact of GraalVM no longer initializing all of the JDK at build time"
**Description**

See https://github.com/oracle/graal/issues/2650

Would be good to get a Mandrel / Quarkus joint effort.
CC @galderz @stuartwdouglas

[2020-07-06 12:38] andreas-eberle opened #10496 "Jax-RS @Context UriInfo injection does not work with constructors"
**Describe the bug**
I want to inject `@Context uriInfo:UriInfo` into my Jax-RS resource. This works when I use field injection but fails when constructor injection is used (see reproducer). With `@ApplicationScoped` beans, constructor injection works.

**Expected behavior**
The injection of `@Context UriInfo` into the constructor should work as well.

**Actual behavior**
Only field injection work

[2020-07-06 12:53] geoand commented on #10290
I am pretty sure I can come up with a fix for this one. Will let you know by tomorrow

[2020-07-06 13:01] vietk commented on #3113
An overflow is not something recoverable by the application ?

[2020-07-06 13:42] famod commented on #10496
I have a smiliar problem with `org.jboss.resteasy.spi.HttpResponse` (but with Java).

Interesting, this does _not_ work for me with `HttpResponse`.

I even tried something like this without success: https://stackoverflow.com/questions/3047400/using-context-provider-and-contextresolver-in-jax-rs/35220203#35220203

[2020-07-06 13:44] cescoffier commented on #10253
The upstream project (SmallRye Reactive Messaging) contains a fix.

[2020-07-06 13:44] galderz commented on #10454
Thanks for the quick fix on this! Appreciate it all :0

[2020-07-06 13:46] galderz commented on #10454
@jaikiran `OperatingSystem` is a class of my [qollider](https://github.com/galderz/qollider). I use it to automate building/testing different combos together in home server.

[2020-07-06 14:11] Sanne commented on #10420
Hi @ben-manes !

That is certainly an option, but I would recommend to not include such reflection instructions directly within Caffeine - store them in a separate artifact at least, so that they are opt-in as several users would prefer to control their own options, and these are purely "additive" today - which implies that if you include such directives directly in the Caffeine jar users would be

[2020-07-06 14:15] gsmet commented on #10467
And you don't have anything in the log of the production server?

[2020-07-06 14:16] gsmet commented on #10466
@asoldano is something more needed for `java.time`? Or does it need to be done differently?

[2020-07-06 14:21] emersonluiz91 commented on #6034
I asked to Proguard team and they answered: "Optimizing and name-obfuscating server-side applications is generally not useful, unless you are really concerned about the application size."

[2020-07-06 14:22] geoand commented on #10290
#10497 takes care of the issue

[2020-07-06 14:23] stephane-mori opened #10498 "Quarkus org.graalvm.nativeimage.svm IllegalArgumentException: Unsupported api 524288 ClassVisitor Gizmo"
**Describe the bug**
I tried to bump quarkus version from 1.5.0.Final to 1.5.2.Final. I obtain the following error message :
(The  concerned project : https://github.com/myriadata/MyriaInvoiceApi - branch develop)
[code]

It is happened when I tried to bump from 1.5.0.Final to 1.5.1.Final or 1.5.2.Final

**Expected behavior**
Project must build :)

**Actual behavior**
Project don't build.

I use @

[2020-07-06 14:33] danilomeneghel commented on #10466
Hi @asoldano, thanks for the feedback.
I've tried it in 2 formats (Date and LocalDate), but none of the 2 worked.
Returns this error: java.lang.RuntimeException: RESTEASY007545
I already searched the internet, but I couldn't find a solution for that.

[2020-07-06 14:34] danilomeneghel commented on #10467
I don't have access to the production server's log.

[2020-07-06 14:47] gsmet commented on #10436
So I checked the code and that's a normal behavior considering how it's done. Only the parameter positions are taken into account and they are iterated in order. We don't consider the parameter names at all.

Given we consider compiling with `-parameters` mandatory with Quarkus, that might be doable but I'm not entirely sure it's worth the added complexity.

In any case, we should probably documen

[2020-07-06 14:51] gsmet commented on #10371
@stuartwdouglas FYI, in case you missed it, due to this issue (and a few other cases reported), we had to revert https://github.com/quarkusio/quarkus/pull/10398 for 1.6.0.Final.

[2020-07-06 14:53] gsmet commented on #10403
/cc @kenfinnigan @phillip-kruger

[2020-07-06 14:55] gsmet commented on #10318
Yeah, it's definitely the usual OOM issue. I'm closing this one as it's really about local configuration.

[2020-07-06 14:55] #10318 closed

[2020-07-06 14:59] gsmet commented on #6034
It can be done as an external project but I really would prefer we don't include any obfuscation-related features inside Quarkus proper.

Closing it for now.

If someone wants to work on it and needs additional extension points, we can certainly talk about it in specific issues.

[2020-07-06 14:59] #6034 closed

[2020-07-06 15:05] kenfinnigan opened #10499 "OpenTelemetry for Quarkus"
**Describe the extension**
Extension to bring OpenTelemetry as an alternative, and future, tracing option. This extension would not offer support of the metrics pieces of OpenTelemetry, only the tracing.

**Additional context**
It's necessary as part of bringing tracing into Quarkus for Reactive Messaging

[2020-07-06 15:05] kenfinnigan commented on #9059
I've created https://github.com/quarkusio/quarkus/issues/10499 to track the work on the Quarkus side, but there are also things happening in SmallRye for it too

[2020-07-06 15:11] loicmathieu commented on #10437
@EfraimLA the error cause was
[code]

By default, when using
[code]

The generated query was ambigous on the `id` field.

Using a disambigous query on the field `id` from `Ticket` solves the issue:
[code]

`PanacheQuery.project()` uses a constructor expression. When one of the constructor parameter is an object from a relation (here, the User), Hibernate generates a join query so we ends up with t

[2020-07-06 15:23] pmdeville opened #10500 "Join table inheritance Annotation @PrimaryKeyJoinColumn raise exception"
**Describe the bug**

Exception : ERROR [io.qua.dep.dev.DevModeMain] (main) Failed to start Quarkus: java.lang.RuntimeException: org.hibernate.AnnotationException: SecondaryTable JoinColumn cannot reference a non primary key

When using Join table inheritance strategy in the following context :

- the primary key column name of the base table is different from the primary key column  in the child

[2020-07-06 15:25] asoldano commented on #10466
I commented on stackoverflow the other day regarding this exact topic (https://stackoverflow.com/questions/62420547/how-to-solve-java-lang-runtimeexception-resteasy007545-unable-to-find-a-messag ), but my answer was deleted by another user as it was question in response to a question. Anyway, I wrote:

Are you using a JAX-RS ParamConverter for converting Dates to/from Strings? You can see an examp

[2020-07-06 16:11] #10457 closed

[2020-07-06 16:11] #10465 closed

[2020-07-06 16:29] gsmet commented on #10498
The issue is that the GraalVM svm artifact includes an unshaded version of ASM which conflicts with the official ASM dependency brought by Quarkus. This is very bad practice, I wonder why we never found out about this. /cc @galderz @dmlloyd

If I remove this dependency and all your *Feature classes depending on it, tests pass.

That being said, I think we should discuss what you're trying to do an

[2020-07-06 16:45] EfraimLA commented on #10437
And why does it work with TicketDesc?

Also how can i project the parameters? For example inside Ticket have ContactInfo and not Contact whole relation by projecting it?

[2020-07-06 16:46] EfraimLA commented on #10437
Thanks for response, it worked but
why does it work with TicketDesc?

Also how can i project the parameters? For example inside Ticket have ContactInfo and not Contact whole relation by projecting it?

[2020-07-06 16:48] 362228416 opened #10501 "No timezone mapping entry for 'CST'"
**Describe the bug**
(Describe the problem clearly and concisely.)

 ./gradlew quarkusDev run it ok。

when I package with native image and run print this

[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

run it will be ok.

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

error

**To Reproduce**
Steps to reproduce the behavior:
1.
2.

[2020-07-06 17:13] Akejelu-Nelu commented on #8258
I have difficulty in getting the response code for each email i sent with reactive mailer.

 return reactiveMailer.send(mail)
                .subscribeAsCompletionStage()
                .thenApply(response -> Response.accepted().build())
                .exceptionally(throwable -> Response.serverError().build());

this is what my return statement looks like after building the mail. The mail obje

[2020-07-06 17:13] Akejelu-Nelu commented on #3039
I have difficulty in getting the response code for each email i sent with reactive mailer.

 return reactiveMailer.send(mail)
                .subscribeAsCompletionStage()
                .thenApply(response -> Response.accepted().build())
                .exceptionally(throwable -> Response.serverError().build());

this is what my return statement looks like after building the mail. The mail obje

[2020-07-06 17:35] EfraimLA commented on #10437
I updated reproducer cause i realize when are multiple relation parameters it doesn't work and throw a NPE, can you check out?

[2020-07-06 17:49] stephane-mori commented on #10498
*Feature classes are to solve a problem occurs in native mode.

This problem and solution is explain in this topic :
https://stackoverflow.com/questions/61567216/graalvm-quarkus-locale-in-native-mode

[2020-07-06 18:56] ben-manes commented on #10420
Thank you for the thoughtful explanation! The example and why it should optional, if even added, is very helpful.

We currently generate ~400 classes to minimize the per-configuration memory overhead by reducing the number of cache / entry fields. This dropped from ~700 classes in 2.6.1, which was ~750kb of compressed bytecode bloat (https://github.com/ben-manes/caffeine/issues/110). Traditional s

[2020-07-06 19:30] 38leinaD commented on #10472
hm, so @glefloch can reproduce the issue and @geoand cannot. very strange.
I am quiet sure that i dont have any classes compiled from a previous run/compile; at least not in the places where i would expect these class-files to be. What i did:
[code]
Getting the issue/error every time.

I now even cloned my repdroducer to a different location and did a quarkusBuild. Same issue. I tested with java 1

[2020-07-06 19:32] galderz commented on #10454
I'm still seeing the same issue on commit 30baf785a7f69ab65904faf32714f8b3242a2a30. Let me know if you want a new issue or not. The thread dump and output are [here](https://gist.github.com/galderz/fd89cf086f76afc31847a49aef4d59cc). This time I'm running it inside a docker container.

Note that there's several java process at hand here, the qollider one that invokes the the maven build, and then t

[2020-07-06 19:33] galderz commented on #10454
That's because I generate the thread dump with `kill -3 `ps ax | grep java | grep -v "grep java" | sed -e "s/ pts.*$//"``.

Can I disable this problematic project from my builds and get a functioning quarkus setup that can build native images?

[2020-07-06 20:05] aloubyansky commented on #10454
Yes, you can.

[2020-07-06 20:51] galderz commented on #10454
No, you can't:

[code]

[2020-07-06 20:55] galderz commented on #10454
Haven't invoked the following to avoid building `quarkus-platform-descriptor-json`:

[code]

You need `quarkus-maven-plugin` to build native images.

[2020-07-06 21:07] provCristianMaluenda opened #10504 "Wrong Property Expressions evaluation"
**Describe the bug**
When an `application.properties` has an expression with the character `{`, Quarkus evaluates the expression wrong.

**Expected behavior**
If I have the property:
[code]
Using the annotation `@ConfigProperty(name = "key")`, I would expect to get the value:
* key: 111111{11

**Actual behavior**
The problem is, the configuration doesn't understand the chart `{` in the middle of a

[2020-07-06 21:51] Sanne commented on #10420
Interesting puzzle, I'm not sure what to recommend as this is a new context; we'll probably need to do some experiments.

[ @galderz since you're now a GraalVM expert with both Infinispan and Caffeine experience, this might be of interest to you too? ]

I'll try to answer your points but I'm not sure, I hope to be able to do some experiments this summer to give you a better answer.

I believe you'

[2020-07-06 23:30] nhoughto commented on #1971
For those coming google, this appears the same as https://github.com/oracle/graal/issues/2492

[2020-07-07 00:27] ben-manes commented on #10420
That's an interesting idea and seems like the most viable approach, as we won't rely on compiler magic working (and then breaking due to a seemingly innocent change). We'd need to iterate on the API to deemphasize, to minimize conceptual weight for normal users who shouldn't need to learn about it. A top-level class sounds important, so I'd be curious if we could sneak it into something else.

You

[2020-07-07 01:48] gastaldi commented on #10504
It looks like something to be fixed in smallrye-common: https://github.com/smallrye/smallrye-common

[2020-07-07 01:53] gastaldi commented on #10504
/cc @radcortez

[2020-07-07 02:59] jaikiran commented on #10454
Like I suspected, the `--no-daemon` option that was introduced as part of the PR fix, got ignored by Gradle:

[code]
I will send a patch with a potential change which should really prevent the daemon from being used. Whether or not that is the root cause of the hang you are seeing, we'll know once we test it against your setup.

[2020-07-07 03:30] jaikiran commented on #10454
I've opened https://github.com/quarkusio/quarkus/pull/10508

[2020-07-07 03:36] jaikiran commented on #10501
Are you sure you are using Graal 20.1.0? That version is supposed to include all timezones by default.

Can you please try with:
[code]
We have improved the native image building logging with Gradle in this version. So when you trigger the native image you should see a bit more output in the build log. Please attach that log here.

[2020-07-07 03:49] stuartwdouglas commented on #10483
@MarcusBiel Can you provide a reproducer? I just checked and we do reject this configuration, you should get an error like:

`Caused by: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
	[error]: Build step io.quarkus.arc.deployment.ArcProcessor#registerBeans threw an exception: java.lang.IllegalStateException: Method admin of class io.quarkus.resteasy.test.security.Rol

[2020-07-07 03:50] stuartwdouglas commented on #10371
Yea, I have just not had time to look into it. It's not a hight priority, it just seemed like it would be a code simplification.

[2020-07-07 04:38] 362228416 commented on #10501
yeah
[code]
I have now solved this problem by changing the application.properties configuration file and adding all-Timezones

[2020-07-07 04:39] #10501 closed

[2020-07-07 05:52] jmartisk commented on #1505
@radcortez I have a crude prototype at https://github.com/jmartisk/quarkus/tree/master-jberet but didn't get much further, specifically it doesn't work in native mode because JBeret uses JBoss Marshalling internally, we need to get rid of that. I dropped working on it because it didn't seem to have enough priority, but I am willing to get back to it if we want it.

[2020-07-07 05:52] mariofusco commented on #8694
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/160185036

[2020-07-07 06:16] cescoffier commented on #3039
`reactiveMailer.send(mail)` produces a failure if the mail cannot be sent to the SMTP server. Now, it's an email, you can't know if the mail is delivered to all the recipients.

[2020-07-07 06:22] geoand commented on #10472
Nevermind, I was able to reproduce the error

[2020-07-07 06:26] geoand commented on #10472
It shouldn't be a problem. Also I changed `MutableConfigSource` to not implement `org.eclipse.microprofile.config.spi.ConfigSource.ConfigSource` and Gradle is still complaining.

[2020-07-07 06:43] dodalovic opened #10509 "Issue debugging kotlin based project"
[project.zip](https://github.com/quarkusio/quarkus/files/4882934/project.zip)

1. `docker-compose up -d` from the project root
2. `./mvnw compile quarkus:dev`
3. Navigate to http://localhost:8080/graphql-ui/
4. Put the breakpoint @ OrderService::deleteOrderItem line 37
5. Issue the following command from the ui:

[code]

I prepared debug configuration in intellij, to attach to localhost@5005

I'm

[2020-07-07 06:54] Sgitario commented on #10343
This issue is fixed as part of https://github.com/quarkusio/quarkus/pull/10506

[2020-07-07 07:18] loicmathieu opened #10510 "Improve CDI guide"
**Description**
The CDI guide didn't introduce the technology, it mainly describe the differences between the spec and what Quarkus implements and introduce some Quarkus specific features.

"Getting started" informations should exists somewhere inside the Quarkus documentation to introduce the CDI spec and it's various annotations are people are more used to Spring injection than CDI.

**Implement

[2020-07-07 07:45] harthorst opened #10511 "Support configuration with nested interfaces"
**Description**
Actually it's possible to have nested configuration classes. It would be nice to have this opportunity for interfaces too.

Something like this:

[code]

[2020-07-07 08:16] jmartisk commented on #9986
Then I have to ask for a reproducer, because with 1.5.2 it works for me.
My GraphQL api looks like this:

[code]

With 1.5.1, when executing the query, I get
[code]

With 1.5.2, I get
[code]

[2020-07-07 08:44] lordofthejars opened #10513 "Implement `exists` in PanacheEntity"
**Description**

Sometimes you want to check if an entity exists or not, you do not care about the object content.

It will be nice to have two methods, one that can be called something like `existsById(Object id)` which you set the id and checks for existence, and another one like `existsByField(String field, Object value)` where can be used for searching for the existence of the entity in case o

[2020-07-07 08:50] #10490 closed

[2020-07-07 09:01] jmartisk opened #10514 "Upgrade to MP Metrics 3.0"

[2020-07-07 09:02] jmartisk opened #10515 "Upgrade to MP OpenAPI 2.0"

[2020-07-07 09:02] jmartisk opened #10516 "Upgrade to MP JWT 1.2"

[2020-07-07 09:02] jmartisk opened #10517 "Upgrade to MP Config 2.0"

[2020-07-07 09:02] jmartisk opened #10518 "Upgrade to MP Health 3.0"

[2020-07-07 09:02] jmartisk opened #10519 "Upgrade to MP Fault Tolerance 3.0"

[2020-07-07 09:03] jmartisk opened #10520 "Upgrade to MP Rest Client 2.0"

[2020-07-07 09:03] jmartisk opened #10521 "Upgrade to MP OpenTracing 2.0"

[2020-07-07 09:07] jmartisk opened #10522 "Upgrade to MicroProfile 4.0"
### Description
Support MicroProfile 4.0

## Epic items
(this section is auto-generated - manual edits will get lost)
- [x] [#10514](https://github.com/quarkusio/quarkus/issues/10514) Upgrade to MP Metrics 3.0
- [x] [#10515](https://github.com/quarkusio/quarkus/issues/10515) Upgrade to MP OpenAPI 2.0
- [x] [#10516](https://github.com/quarkusio/quarkus/issues/10516) Upgrade to MP JWT 1.2
- [x] [#10

[2020-07-07 09:32] Ladicek commented on #10519
I have a WIP branch locally which is up to date with latest MP FT 3.0-SNAPSHOT / SRye FT 4.3.1-SNAPSHOT, so I'm quite ready :-) Whenever MP FT 3.0 is out, it won't take long.

[2020-07-07 09:38] loicmathieu commented on #10513
@lordofthejars this has already beens discussed inside #7884 so I'm closing this one as a duplicated.
You can +1 the issue or comment to give feedback on it.
The current status is that as it's the same as ` count(id) == 1` we don't see any advantage of implementing it.

[2020-07-07 09:39] loicmathieu commented on #10513
Closing as duplicate of  #7884

[2020-07-07 09:39] #10513 closed

[2020-07-07 09:45] emmanuelbernard commented on #1505
Hey @jmartisk. I had  conversations with @maxandersen who convinced me that this would be useful. So I don’t know if that’s top priority but it’s not bottom anymore from my point of view :)
The idea is that it unlocks app possibilities for first Quarkus users. So even if that might not be perfectly cloud native aligned, but this is a good addition.

[2020-07-07 09:49] lordofthejars commented on #7884
:+1: to implement this, I think that of course you can do a `count` but this `exists` methods is more about clean code. At the end you can always do in Java `list.size() == 0` but we do `list.isEmpty()` this is more or less the same.

[2020-07-07 10:02] radcortez commented on #10504
We may need to be careful with this. There are a few flags that can be enabled / disabled in the Expression Expansion:
https://github.com/smallrye/smallrye-common/blob/0b59733491ff936808cd26a4b300f11fe3f2a5f0/expression/src/main/java/io/smallrye/common/expression/Expression.java#L653-L692

They are not exposed to Quarkus, but we could add them. Setting `NO_SMART_BRACES` would provide the desired b

[2020-07-07 10:05] jmartisk commented on #10517
@radcortez I can't assign you to this but suppose this will be your area :)

[2020-07-07 10:10] radcortez commented on #1505
I like to work with Batch, so I'm also happy to help. For the moment, I've just tried to migrate one of my old Batch projects to use Quarkus and I was able to run it with JBeret with some bridge code:
https://github.com/radcortez/wow-auctions/tree/master/quarkus-batch/src/main/java/com/radcortez/quarkus/jberet

I see that you already started the extension, which would be my next step. I'll have a

[2020-07-07 10:12] radcortez commented on #10517
@gastaldi should be able to assign it to me.

Anyway, this may probably take a while until we have MP final releases out.

[2020-07-07 10:19] Sanne opened #10524 "Deprecate support of hibernate.properties"
**Description**
Currently we do load any resource named `hibernate.properties`;  this was meant as a temporary solution to allow people to bypass the restrictions we have on the Quarkus configuration, but it's not compatible with (at least) live-reload and plans for supporting multiple persistence units.

We should start to phase this feature out by producing deprecation warnings, not least to tri

[2020-07-07 10:27] overthetop opened #10525 "MicroProfile metrics and Graphite"
Currently in v1.5.2 in Quarkus I don't see a way to export MicroProfile metrics to Graphite. The only guide that I've found is this https://quarkus.io/guides/microprofile-metrics which requires you to have a Prometheus monitoring system at hand. We are using grafana and graphite for our monitoring in production and I don't see a way to make this work with Quarkus. I'm looking for something similar

[2020-07-07 10:34] phillip-kruger commented on #10112
Hi @sirAlexanderT - Any comment ? Is the `@server` working for you ?

[2020-07-07 10:41] sberyozkin commented on #10343
Hi @Sgitario thanks for verifying it,

That is fine - as far as `quarkus-oidc` is concerned it has been 'asked' not to check anything for a given tenant configuration :-).

But I'm not sure why an empty response, can you clarify please ? What is a protected resource, a file ? If yes - how is it protected (given that `quarkus-oidc` is effectively disabled) ? Or JAX-RS method ? If we have a JAX-RS m

[2020-07-07 10:43] hubinix commented on #10410
Me too..
GizmoClassVisitor in gizmo-1.0.3.final.jar

 public void writeTo(ClassOutput classOutput) {
        Objects.requireNonNull(classOutput);
        ClassWriter file = new ClassWriter(3);
        GizmoClassVisitor cv = new GizmoClassVisitor(524288, file, classOutput.getSourceWriter(this.className));
        String[] interfaces = (String[])this.interfaces.clone();
        cv.visit(52, 4129 | t

[2020-07-07 10:43] sberyozkin commented on #10343
Hi @Sgitario I'm closing this issue given that you've confirmed it has been fixed, but lets keep your PR open for now to finalize the discussion there and also in case you'd like to rebase it
Thanks for your help

[2020-07-07 10:45] jaikiran commented on #10454
The linked PR has now been merged. Marking this as closed.

[2020-07-07 10:45] #10454 closed

[2020-07-07 10:49] hubinix commented on #10410
I sovled this problem.
just add
 <dependency>
      <groupId>org.graalvm.nativeimage</groupId>
      <artifactId>svm-agent</artifactId>
      <version>20.1.0</version>
    </dependency>
in pom.xml

[2020-07-07 10:57] Ladicek commented on #10521
CC @pavolloffay

[2020-07-07 11:10] pavolloffay commented on #10521
It hasn't been released yet https://github.com/eclipse/microprofile-opentracing/issues/191

[2020-07-07 11:17] geoand commented on #10504
I would personally be in favor of keeping things as they are now, but _maybe_ allow advanced users a way to configure their own interceptors

[2020-07-07 11:35] gsmet commented on #10504
Hmmm, I think the described behavior is incorrect. We should either not consider the close bracket or provide a way to escape the open one but there's definitely something wrong.

[2020-07-07 11:46] gsmet commented on #10498
/cc @jaikiran you might be interested in this one too as I know you like to poke the GraalVM bear :).

[2020-07-07 11:53] gsmet commented on #1971
@jaikiran continuing here as I mistakenly posted in the GraalVM issue instead of this one.

I think your proposal is reasonable and we can add an option later if people ask for it. Maybe let's make it ready for our next CR so that people can complain early if it's an issue for them.

[2020-07-07 12:25] jaikiran commented on #1971
@gsmet, done https://github.com/quarkusio/quarkus/pull/10527

[2020-07-07 12:37] gastaldi commented on #10504
IMHO we should provide a way to escape it, since generated passwords may contain braces, so asking the developer to perform changes in the code to support that looks weird to me :)

[2020-07-07 12:43] gastaldi commented on #9593
Looks like the 1.6 ship has sailed. Targetting 1.7

[2020-07-07 12:48] jaikiran commented on #10498
This one seems to have been fixed recently in upstream Graal in this PR https://github.com/oracle/graal/pull/2543 as part of this issue https://github.com/oracle/graal/issues/2528. I no longer see these ASM classes being copied into the svm.jar in latest upstream Graal master branch. Not sure if they have plans for a 20.1.1 release and whether they would be interested in including this one in that

[2020-07-07 12:51] cescoffier commented on #6345
I don't see how it can be fixed as the configuration (and the `mp.messaging` prefix) comes from the specification. It's not something we control in Quarkus.

[2020-07-07 12:51] #6345 closed

[2020-07-07 12:53] cescoffier commented on #1515
We are reworking the integration with Cloud Event in SmallRye Reactive Messaging. The goal is to integrate Cloud Events in the connectors directly (instead of adding it on top of them). Fortunately, this will be worked during the next few months.

[2020-07-07 12:53] #1515 closed

[2020-07-07 12:53] dcram opened #10528 "Mongo Panache : PropertyCodecProvider not registered"
**Description**

User-defined `PropertyCodecProvider`s are not registered automatically as `CodecProvider`s are.

Quarkus' doc clearly states that [Quarkus takes care of registering the CodecProvider for you](https://quarkus.io/guides/mongodb#simplifying-mongodb-client-usage-using-bson-codec), but when I defined a `PropertyCodecProvider` as [the one given in official MongoDB driver's doc for optio

[2020-07-07 12:54] cescoffier commented on #1515
Forgot to say that once done, all the support connector would get cloud event support.

[2020-07-07 12:55] cescoffier commented on #3042
At the moment only Vert.x JSON is supported.

[2020-07-07 12:56] radcortez commented on #10504
Just to confirm, before moving this to SmallRye Config, Quarkus was doing expansion here:
https://github.com/quarkusio/quarkus/commit/2a95fc3400a30af061c73a1cf43b870232afdb4e#r40422799

In SmallRye Config we use the same config:
https://github.com/smallrye/smallrye-config/blob/c0a1a95f5cfc31b937a1135a1478960960b8aa9b/implementation/src/main/java/io/smallrye/config/ExpressionConfigSourceInterceptor

[2020-07-07 12:56] cescoffier commented on #3113
you can recover but it does not involve the readiness check, only the liveness check. You cannot switch from alive to not-ready.

[2020-07-07 12:56] cescoffier commented on #3113
Health support added for the Kafka and AMQP connectors (upstream).

[2020-07-07 12:57] cescoffier commented on #5234
Fixed in 1.6 thanks to the reactive messaging update.

[2020-07-07 12:57] #5234 closed

[2020-07-07 13:15] #10319 closed

[2020-07-07 13:16] stuartwdouglas commented on #4156
I just tested this out and it seems fine now.

[2020-07-07 13:16] #4156 closed

[2020-07-07 13:19] sberyozkin commented on #10343
@Sgitario Sorry I got confused a bit, can you please clarify about the empty response (see my comment above)

[2020-07-07 13:26] hbelmiro commented on #8656
@gastaldi I created these three classes:
https://github.com/hbelmiro/quarkus/blob/8656/extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/HttpLoggingProcessor.java
https://github.com/hbelmiro/quarkus/blob/8656/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpLoggingHandler.java
https://github.com/hbelmiro/quarkus/blob/8656/extensions/vertx-

[2020-07-07 13:42] gastaldi commented on #8656
@hbelmiro that looks nice. TBH I was expecting an output similar to the HTTP request:

[code]

Yes, a property in application.properties is a good solution IMHO

I think it should happen before AUTHENTICATION.

[2020-07-07 13:45] Sgitario commented on #10343
Sorry, not to be too clear in my comment. With empty response, I mean that if I configure my endpoint with the next properties:

[code]

When I call to my endpoint, I get HTTP OK, but with no content (the service is not invoked, but I still gets 200 OK with literally empty body). And I guess the right behaviour should be to get HTTP 401.

However, when I configure my endpoints with permit:

[code]

[2020-07-07 14:06] Mahaswami commented on #9969
@jaikiran, thank you for the response.

My apologies for the incomplete reproducer here. I have told the team to close this report and asked them to open and separately report their very specific findings. It turns out that there are issues with keycloak and jasperreports libraries with the native image. We will report them separately with appropriate reproducer. Thanks again.

[2020-07-07 14:13] sberyozkin opened #10532 "HTTP 'authenticated' policy returns HTTP 200 for empty SecurityIdentity"
**Describe the bug**
This is detected by @Sgitario.

The following configuration results in HTTP 200 and the empty body being returned:

[code]

where `quarkus-oidc` returns an empty Uni `SecurityIdentity` and `Challenge` items.

**Expected behavior**
`401` is returned since `SecurityIdentity` is not available.

[2020-07-07 14:14] sberyozkin commented on #10532
Hi @stuartwdouglas Do you agree ?

[2020-07-07 14:15] sberyozkin commented on #10343
@Sgitario Thanks, yes I've opened #10532, please watch it, thanks

[2020-07-07 14:15] #10343 closed

[2020-07-07 14:33] geoand commented on #10511
I opened https://github.com/quarkusio/quarkus/pull/10534 to address this.

Basically you would just write your code like so:

[code]

[2020-07-07 14:38] danilomeneghel commented on #10466
@asoldano thanks for the feedback.

I had already tried with a similar class to convert dates, but with the type LocalDate.
I tried now with this class that you passed, but it also didn't work. He returned the following error message:

[2020-07-07 14:44] loicmathieu commented on #10528
I think we only search for direct implementors of `CodecProvider`, that's why if you subclass `ProperttCodecProvier` this is not discovered.

[2020-07-07 15:14] sberyozkin commented on #8719
@wjsgzcn Starting from 1.7.0 it will be possible to use the access token as the source of the roles in the `web-app` applications with `quarkus.oidc.roles.source=accesstoken` (default is `idtoken`)

[2020-07-07 15:15] gsmet commented on #1971
This will be fixed in the upcoming 1.7 release.

[2020-07-07 15:17] dcram commented on #10528
Is there any reason why not searching for implementors of `PropertyCodecProvider` ?

In official MongDB driver's doc, they show [an example](http://mongodb.github.io/mongo-java-driver/3.12/bson/pojos/#generics-support) where a  `PropertyCodecProvider` seems to be registered with method `#register` just as `CodecProvider`.

[code]

![image](https://user-images.githubusercontent.com/12859843/8680255

[2020-07-07 15:24] danilomeneghel commented on #10466
I tried it this way now, and it didn't work either:

`
@JsonFormat (pattern = "yyyy-MM-dd HH: mm: ss", timezone = "UTC")
@Column (name = "data_inicio_sessao")
@FormParam ("data_inicio_sessao")
public Instant dataInicioSession;
`

The previous error returned again:

There is something very wrong with this Quarkus Framework that is not letting the date field accept the entity at all.
I already tried

[2020-07-07 15:37] #10524 closed

[2020-07-07 15:39] Sanne commented on #8769
Finally working on this now. Related: #3894

[2020-07-07 16:26] provcristianmaluenda commented on #10504
I found another walkaround. I can define a key with the token and refer it in the expression:
[code]

[2020-07-07 16:29] provcristianmaluenda commented on #10504
This is my case. I had an API key with braces. My walkaround was adding a key with the token and use it in the expression `key=${TOKEN:${token}}`

[2020-07-07 16:31] loicmathieu commented on #10528
@dcram no, it's an oversight, we should have done it since the begining.
I'll add it to my TODO list unless someone have have the time to do it before me.

[2020-07-07 16:42] radcortez commented on #1505
@chengfang JBoss Marshalling is used to clone a few objects around JBeret. Is it acceptable to remove it and clone the objects with Cloneable and provide a straight implementation to each? Do you have any other suggestion?

[2020-07-07 17:02] gsmet commented on #10498
@jaikiran care to ask? Sometimes, they consider backporting things if we ask gently.

[2020-07-07 17:10] sberyozkin commented on #10427
Hi @stuartwdouglas That looks good, but I'm not sure it is related to this one, here the user would like to disable some authentication module and the authorization check at runtime

[2020-07-07 17:14] sberyozkin commented on #10330
https://github.com/quarkusio/quarkus/pull/10487 fixes this issue (thanks to Stuart).
@MarcusBiel FYI, I'm going to close the issue, but please reopen if you feel the fix does not address your enhancement request.
Thanks

[2020-07-07 17:19] sberyozkin commented on #10483
Hi Stuart, should we just take a `method`-level annotation overrides the class-level annotation approach ? It works for JAX-RS (ex, method level `Produces`/`Consumes` overrides class level `Produces`/`Consumes`). Looks like it should be safe enough given the error you are seeing

[2020-07-07 17:21] gsmet commented on #10461
OK, I can reproduce it. I wonder if it has something to do with Liquibase being there, I'll check tomorrow.

BTW, why do you use a separate datasource for Liquibase instead of using the default for both your reactive thing and the JDBC declaration? You can have both for one given datasource.

I'll check what's happening though.

[2020-07-07 17:38] famod commented on #9837
**Update regarding online instrumentation**: It seems we (or better to say @mickroll who actually implemented it) were successful in creating a plugin for https://github.com/raphw/byte-buddy/tree/master/byte-buddy-maven-plugin that auto-adds no-arg constructors to classes with `@ApplicationScoped` etc. and even add `@Inject` to the "proper" injection constructor.

https://gist.github.com/mickroll/

[2020-07-07 18:20] famod commented on #9837
@stuartwdouglas WDYT, should we update the documentation to point to this issue and maybe also the JaCoCo issue?

[2020-07-07 18:45] michalszynkiewicz commented on #10214
@rsvoboda how did you come up with such testing scenario? :rofl:

I should be able to take a look at it next week.

[2020-07-07 18:59] bnazare commented on #10420
That would probably work but only for @aimanph23's specific scenario. I'm facing a similar issue but using a simpler cache configuration. In my case I had to add two different classes to "reflect-config.json", like so:
[code]
Not only did I have to configure reflection by hand but I had to figure out the actual classes by trial and error. Both are things that I was not expecting to have to do when

[2020-07-07 19:01] michalszynkiewicz commented on #9766
@xmlking I think the reason is mixed versions of grpc dependencies.
But with my knowledge of gradle and with your project being quite complicated I'm having trouble checking it.

[2020-07-07 19:03] michalszynkiewicz commented on #3044
I'm thinking of resurrecting this, wdyt @cescoffier ?

[2020-07-07 19:05] geoand commented on #10420
All the more reason for the extension to be doing this work

[2020-07-07 19:08] cescoffier commented on #3044
Yes, it would be nice

[2020-07-07 20:13] haseemisaac commented on #10245
Hi @stuartwdouglas, has this been fixed? If not in the mean time, what would be the way to go around it?

[2020-07-07 20:25] dmlloyd commented on #10504
I think smart braces should still be OK, but I would have expected the escape `\` to prevent it from being "counted".  IMO that's the real bug, if there is one.

[2020-07-07 20:31] kostacasa commented on #9895
I agree that this would be useful for activating capabilities that are present in groups of environments. For example, stage, perf and prod might have aws vault a secret manager, it would be useful if this capability could be enabled as an additional profile designation for `aws`.

[2020-07-07 20:38] hbelmiro commented on #8656
@gastaldi I changed the format to:

[code]

I couldn't find a way to inject this HttpRequestFormatter in HttpLoggingHandler class.
https://github.com/hbelmiro/quarkus/blob/e23102e3cea0be73fc742d989f63639071d4c7fb/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/logging/HttpLoggingHandler.java#L16

I tried in several ways, but none of them worked. Do you know what is the ri

[2020-07-07 20:58] gastaldi commented on #8656
@hbelmiro I think Vert.x already has a feature to log requests. Look for `Request logger` in https://vertx.io/docs/vertx-web/js/ and see if it's possible to enable that instead of writing your own

[2020-07-07 21:07] GregJohnStewart opened #10540 "OutOfMemoryError in Parameterized test"
I have a fairly straight forward set of tests using parameters: (basic at the moment, but will of course make more meaningful params)

[code]
The first set of parameters (null, null) runs fine, but when the newly created objects are used, I get the following exception:

[code]

This happens after instantiation but before the test code is run. Any ideas?

[2020-07-07 21:16] #10439 closed

[2020-07-07 23:45] stuartwdouglas commented on #10427
I thought the use case here was to disable security in testing?

[2020-07-07 23:50] stuartwdouglas commented on #10483
What error are we actually seeing? Method level annotations definitely override class level ones, and this is tested, so I really need to see a reproducer to see what the actual problem is.

[2020-07-08 00:19] hbelmiro commented on #8656
@gastaldi It works with io.vertx.ext.web.handler.LoggerHandler.
Unfortunately the API allow us to use only three fixed formats:

DEFAULT
`2020-07-07 20:58:57,623 INFO  [io.ver.ext.web.han.imp.LoggerHandlerImpl] (executor-thread-1) 0:0:0:0:0:0:0:1 - - [Tue, 7 Jul 2020 23:58:57 GMT] "GET /fruits HTTP/1.1" 200 99 "http://localhost:8080/fruits.html" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) App

[2020-07-08 00:37] stuartwdouglas commented on #4026
Just tested and this works now.

[2020-07-08 00:37] #4026 closed

[2020-07-08 00:40] jimbogithub opened #10543 "(Docs?) datasource max-size not honoured"
**Describe the bug**
This could be an issue with docs rather than code but might be both.

`quarkus.datasource.jdbc.max-size=50` does not work - starves after hitting the default 20.  Most docs refer to this (https://quarkus.io/guides/datasource, https://quarkus.io/guides/datasource#jdbc-configuration).

`quarkus.datasource.max-size=50` does work.  Few docs refer to this.  The one that does (https

[2020-07-08 00:45] stuartwdouglas commented on #4211
Closing, as it sounds like this is no longer an issue.

[2020-07-08 00:45] #4211 closed

[2020-07-08 00:47] stuartwdouglas commented on #4069
This is not actually an error though, if that method returned a custom instance of List that had a method annotated with @GET then this would be valid (I guess you could check if there are any valid sub resource locators that implement the interface, but it still would not be perfect).

[2020-07-08 01:21] jimbogithub commented on #10543
Broken when support for multiple datasources was added?

[2020-07-08 01:23] stuartwdouglas commented on #5008
Is this still a real issue? It looks like this class is only used in tests now.

[2020-07-08 01:25] stuartwdouglas commented on #4572
I think this can be closed.

[2020-07-08 01:25] #4572 closed

[2020-07-08 01:28] #3787 closed

[2020-07-08 01:29] stuartwdouglas commented on #4597
Closing as out of date.

[2020-07-08 01:29] #4597 closed

[2020-07-08 01:34] stuartwdouglas commented on #5448
Closing, this was fixed a while ago.

[2020-07-08 01:34] #5448 closed

[2020-07-08 01:44] stuartwdouglas commented on #5338
I am closing this, as I think this is now well understood.

[2020-07-08 01:44] #5338 closed

[2020-07-08 01:48] stuartwdouglas commented on #6203
@gsmet I think this is fixed now?

[2020-07-08 01:55] stuartwdouglas commented on #6251
This is actually the expected behaviour. If you override a method then it will have the security of the class the overiddes it. You can't actually intercept the super.sayHello() call because it uses invokespecial rather than invokevirtual.

[2020-07-08 01:55] #6251 closed

[2020-07-08 01:57] stuartwdouglas commented on #6527
I am closing this, as I don't think there is anything we can do in the general case, and as these issues are relatively rare I think all we can do is fix them on a case by case basis.

[2020-07-08 01:57] #6527 closed

[2020-07-08 02:39] stuartwdouglas commented on #6910
No longer an issue.

[2020-07-08 02:39] #6910 closed

[2020-07-08 03:00] #10532 closed

[2020-07-08 03:01] stuartwdouglas commented on #7036
The Aquillian adaptor supports TestNG but it is an optional dependency, and is invoked via reflection. You can only get this error if you include the TestNG arquillian support, but exclude TestNG itself. If you are not using TestNG make sure you don't have the testng arquillian support present.

[2020-07-08 03:01] #7036 closed

[2020-07-08 03:05] stuartwdouglas commented on #7105
@mkouba I don't think there is any way to actually fix this? As the subclass is in a different package you can't override the package private method. Maybe we should log a warning or fail the deployment in this case?

[2020-07-08 03:06] gastaldi commented on #8656
+1, I think we could even propose a `LONG` format with the layout as in https://github.com/quarkusio/quarkus/issues/8656#issuecomment-655119209. That custom formatter could live in Quarkus for now, but it would ideally need to go upstream (in Vert.x Web sources - https://github.com/vert-x3/vertx-web)

[2020-07-08 03:32] stuartwdouglas commented on #5870
This is fixed now.

[2020-07-08 03:32] #5870 closed

[2020-07-08 03:38] stuartwdouglas commented on #6722
I just ran the reproducer with a recent version and it seems to work now (it still failed because I did not have mongo running, but the initial problem seems to be fixed).

[2020-07-08 03:38] #6722 closed

[2020-07-08 03:47] stuartwdouglas commented on #7311
It am going to close this, given that it could only be reproduced on one machine with a specific checkout I don't think we will get to the bottom of it unless it pops up again.

[2020-07-08 03:47] #7311 closed

[2020-07-08 03:48] stuartwdouglas commented on #7405
@FroMage does MP context propagation support this properly with RESTEasy now?

[2020-07-08 03:49] stuartwdouglas commented on #3862
The remote dev mode in 1.6 is completely new, this should not be an issue.

[2020-07-08 03:49] #3862 closed

[2020-07-08 03:51] stuartwdouglas commented on #7289
This sounds like it was a version mismatch. I am closing as we have not seen any other reports of this.

[2020-07-08 03:51] #7289 closed

[2020-07-08 03:52] stuartwdouglas commented on #6940
@patriot1burke do you know if this is still an issue?

[2020-07-08 04:00] stuartwdouglas commented on #3138
I am going to close this for now, without a reproducer it is hard to know what the original problem was, and there have been a large number of changes since this was reported that may have already fixed it. If it is still a problem feel free to re-open with more details.

[2020-07-08 04:00] #3138 closed

[2020-07-08 04:22] chengfang commented on #1505
JBoss Marshalling is used for cloning objects in JBeret, mainly because JBM is already widely used by WildFly. So JBeret can leverage it without adding dependencies. If the same functionality can be achieved in other means, perferrably without new dependencies, it should not be a problem.

[2020-07-08 04:52] geoand commented on #10540
Passing parameters into Quarkus tests is generally problematic due to fact that the actual test runs on a different ClassLoader, which means we need to deep clone the parameters into that ClassLoader.

[2020-07-08 04:57] geoand commented on #10528
It seems like `PropertyCodecProvider` does not extend `CodecProvider` - which is why it's not being auto-discovered. I guess we will need some special handling of it.

[2020-07-08 05:02] stuartwdouglas commented on #8235
It looks like this information is still available in the type in the BootstrapMethods attribute. Looking at the example in jclasslib you can infer that the type is Fruit.

This won't be super simple to do though, it looks like ASM does not have direct support for this attribute. In theory you would do this at the same time as the field access enhancement, look through the BootstrapMethods table fo

[2020-07-08 05:04] stuartwdouglas commented on #8286
Is this still an issue?

[2020-07-08 05:05] #8859 closed

[2020-07-08 05:06] stuartwdouglas commented on #8982
Is this still an issue?

[2020-07-08 05:08] stuartwdouglas commented on #8331
@ge0ffrey I am closing, as I am pretty sure the issue was the timeout that I described above.

[2020-07-08 05:08] #8331 closed

[2020-07-08 05:11] stuartwdouglas commented on #9251
@sberyozkin is this still an issue?

[2020-07-08 05:12] #9319 closed

[2020-07-08 05:13] jmartisk commented on #10525
There is ongoing discussion that MP Metrics could potentially "turn" into Micrometer with a future release, in which case you would get Graphite support OOTB.
There is an experimental Micrometer extension as well with which it should be possible - https://github.com/ebullient/quarkus-micrometer-extension (use purely at own risk ;) )
Not sure if it makes sense under these circumstances to introduce

[2020-07-08 05:18] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/161508918

[2020-07-08 05:38] stuartwdouglas opened #10549 "Infinite loop resolving workspace"
If you take the reproducer from https://github.com/quarkusio/quarkus/issues/5879 and update the quarkus version to the latest version you will get an infinite loop when running mvn quarkus:dev.

This project has an odd structure, where the parent is not the top level project.

The issue is in this code here: https://github.com/quarkusio/quarkus/blob/35272d70b5c077748f6e136d6d7be166b575637f/indepen

[2020-07-08 05:40] stuartwdouglas commented on #5879
This works now, except for the linked issue related to how the project was structured. If you remove the parent from the top level project everthing should work fine on 1.5.1.

[2020-07-08 05:40] #5879 closed

[2020-07-08 05:44] stuartwdouglas commented on #9671
I think this is a RESTEasy bug rather than a Quarkus one.

[2020-07-08 05:49] overthetop commented on #10525
Thx @jmartisk Hope that will be impl soon

[2020-07-08 05:51] geoand commented on #10543
cc @gsmet

[2020-07-08 05:53] stuartwdouglas commented on #10118
Are you using

		<dependency>
			<groupId>org.jboss.slf4j</groupId>
			<artifactId>slf4j-jboss-logging</artifactId>
		</dependency>

Or are you trying to use normal slf4j?

[2020-07-08 05:54] glefloch commented on #9671
I haven't got much time to work on it, but while debugging on a sample project, headers where looking ok on the quarkus side.

[2020-07-08 05:55] fredmtyro commented on #8286
Yes this is still an issue with 1.6.0.Final though the error message is more detailed:

`
2020-07-08 15:50:06,105 ERROR [io.qua.sch.run.SimpleScheduler] (executor-thread-1) Error occured while executing task for trigger IntervalTrigger [id=1_com.tyro.integration.AService_ScheduledInvoker_cleanup_876dc04f8610241fa6f344e3d6fa75a663b05f35, interval=3600000]: java.lang.ClassCastException: class com.ty

[2020-07-08 05:56] geoand commented on #10435
I looked at this and there isn't anything we can do, as the dynamic test doesn't run in the ClassLoader that QuarkusTest sets up

[2020-07-08 05:59] geoand commented on #10540
What does `TimemanagerSanitizer` look like?

[2020-07-08 06:07] geoand commented on #10496
Although it's not obvious from a user perspective,  `@Context` is used by JAX-RS as its own version of `@Inject` because JAX-RS does not depend on CDI.

So `@Context` doesn't mean anything to Arc (Quarkus' CDI implementation) which is why you see the failure.
One more thing to note is that fields annotated with `@Context` get populated by RESTEasy (the JAX-RS implementation Quarkus uses) without a

[2020-07-08 06:08] geoand commented on #10493
`dokka` is used for the KotlinDoc IIRC, @evanchooly would know more

[2020-07-08 06:19] geoand commented on #10436
We should definitely document this

[2020-07-08 06:23] geoand commented on #10402
cc @pavolloffay

[2020-07-08 06:26] geoand commented on #10467
@danilomeneghel do you perhaps have a small project that reproduces this behavior we can look at?

[2020-07-08 06:27] geoand commented on #10410
Could be similar to #10498

[2020-07-08 06:29] #6209 closed

[2020-07-08 06:34] stuartwdouglas commented on #8286
Maybe something weird is happening in the TCCL of the scheduler? The definitely looks scheduler + ClassLoader related. It would be good to capture what the TCCL is at that point.

[2020-07-08 06:35] rsvoboda commented on #10214
This scenario is side effect of our Jenkins setup :) Executor nodes has several labels and I created matrix job to run some Quarkus tests on nodes defined by combination of the labels.

[2020-07-08 06:36] geoand commented on #10359
As can be seen in https://quarkus.io/guides/all-config#quarkus-elytron-security-properties-file_quarkus.security.users.embedded, the properties are **build time** properties, which means that they cannot be changed at runtime.

[2020-07-08 06:36] #10359 closed

[2020-07-08 06:42] geoand commented on #10295
@ctron I assume we should close this now that #10344 has been merged

[2020-07-08 06:43] #10295 closed

[2020-07-08 07:06] manovotn commented on #7105
IIUIC we are talking invocation of method(s) declared on B from A, then there is no direct way to achieve that because they are private or pack private. In such case the invocation won't be treated as business method invocation anyway and interception won't happen.

[2020-07-08 07:15] geoand commented on #10167
Thanks for reporting. #10550 takes care of the issue and will hopefully be part of `1.6.1.Final`

[2020-07-08 07:21] mkouba commented on #7105
@zeljkot How do you call the methods from the superclass? You would have to cast the bean instance of the class from the `package.B` to the superclass from the `package.A` and then call the package-private method from a class from the `package.A`. That looks like a massive corner case ;-).

Hm, a private or package-private `@Transactional` observer method declared on the superclass would problemat

[2020-07-08 07:27] pavolloffay commented on #10402
Could you please share what version of Jaeger backed are you using and its configuration?

[2020-07-08 07:27] stuartwdouglas commented on #7105
I think it is a test, so because the test class is a bean if you have an @Transactional test method on the superclass it won't work. It would be invoked via reflection from the JUnit runner.

[2020-07-08 07:31] geoand commented on #10158
@iocanel IIRC we have had this discussion before, right?

[2020-07-08 07:38] ctron commented on #10402
[code]

[2020-07-08 07:40] cescoffier commented on #8982
For some reason, on the machine, the tests fail because it can't bind to the 0.0.0.0 interface. Not sure we can do anything, I would say it's an infrastructure issue.

I don't have this issue (also using a Mac).

[2020-07-08 07:41] iocanel commented on #10158
We've talked about `kustomize` before, but not about this particular change.

Either way, we could add support for something like this, but we need to figure of things like:

- what to do when multiple resources of the same kind are generated.
- what to do when we generate resources for multiple platforms.
- what to do when deployment is enabled.

[2020-07-08 07:43] stuartwdouglas commented on #8982
Are you sure it was a bind issue and not an issue with attempting to connect to 0.0.0.0 ? I think this was actually a problem at one point, that was fixed.

[2020-07-08 07:45] stuartwdouglas commented on #10245
It won't be fixed until there is a RESTEasy release that includes my PR and this is integrated into Quarkus.

[2020-07-08 07:49] zeljkot commented on #7105
You are right, @stuartwdouglas. My original example shows the use case. Generating error during compilation would be one way to solve it.  Because the application cannot be compiled into the desired state, a warning is not strong enough.

[2020-07-08 07:49] aloubyansky commented on #6363
@zapho thanks for the report and the reproducer. Sorry, it didn't receive the attention sooner. I believe this is fixed now. #2470 that you referenced has been resolved as well.
In addition, we are now generating surefire plugin config with <maven.home>${maven.home}</maven.home> property that helps pick up the current settings.

[2020-07-08 07:49] #6363 closed

[2020-07-08 07:54] cescoffier commented on #8982
Possibly. It only happened to the TLS tests, which was a bit odd.

[2020-07-08 08:02] MarcusBiel commented on #10483
@stuartwdouglas sure, I will provide a reproducer - but I don't think it will even be necessary. I had both annotations on class level, not method level. My assumption was - @Authenticated says that this Resource is authenticated, and @RolesAllowed says who actually may authenticate. Of course, the actual error is on my side - but I find those annotations rather confusing - same as @PermitAll.

`@

[2020-07-08 08:04] gsmet commented on #6203
Yes, closing.

[2020-07-08 08:04] #6203 closed

[2020-07-08 08:07] gsmet commented on #10543
Well, I don't want to be too vocal about the legacy stuff because it might confuse people even more.

I don't know if it's worth complicating the logic to detect this sort of things. I'm worried it will become a big pile of mess.

[2020-07-08 08:09] gsmet commented on #9671
/cc @asoldano

[2020-07-08 08:11] machi1990 commented on #10543
+1. As far as I recall the legacy stuffs are deprecated, we should advocate users to using the new config knobs and probably remove the old way soon enough.

[2020-07-08 08:12] MarcusBiel opened #10553 "Dynamically insert a list of Service Implementations"
In Micronaut, you can do the following (and I think in SpringBoot as well):

` @Inject
    public MyService(List<MyHandlerInterface> myHandlers) {
        this.myHandlers = myHandlers.stream()
                .collect(Collectors.toMap(MyHandlerInterface::type, myHandler -> myHandler));
    } `

This will dynamically search for all Implementations of "MyHandlerInterface" and then create a dictionar

[2020-07-08 08:18] gsmet commented on #10543
Yeah, I think the issue is when they migrate some old config and don't do it fully.

[2020-07-08 08:32] geoand commented on #10553
Hey Marcus.

This is possible with CDI (and therefore Quarkus) as well - just use `javax.enterprise.inject.Instance` and iterate over it.

See https://github.com/quarkusio/quarkus/blob/6499b4bd00d62fd9430750de2486a3b5d082f7c3/extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcClientInterceptorContainer.java#L18 for example.

[2020-07-08 08:34] #10553 closed

[2020-07-08 08:41] geoand commented on #10174
Closing this as https://github.com/quarkusio/quarkus/pull/10368 has been merged and will be part of 1.7

[2020-07-08 08:41] #10174 closed

[2020-07-08 08:48] geoand commented on #10055
@iocanel this is it pending a dekorate release IIRC, right?

[2020-07-08 08:49] JChrist opened #10555 "Multi-threaded tasks"
**Description**
I would like for Quarkus to support a use case of having multiple threads run a task periodically, similar to `@Scheduled`, but with a configurable way of specifying how many threads will execute the task. Ideally, each thread will start its own request context (CDI), so that all injections work OOTB. Also, there should be a way to specify what to do with the next `@Scheduled` invo

[2020-07-08 08:51] geoand commented on #10126
I'll go ahead and close this as https://github.com/quarkusio/quarkus/pull/9933 has been merged and is part of 1.6

[2020-07-08 08:51] #10126 closed

[2020-07-08 08:58] pavolloffay commented on #10402
I mean Jaeger backend/server components.

[2020-07-08 09:13] iocanel opened #10557 "Support knative cluster-local services"
**Description**
Add support for knative `cluster-local` services.

[2020-07-08 09:21] #10167 closed

[2020-07-08 09:32] andreas-eberle opened #10559 "Provide ubi-minimal with java installed"
**Description**
The current standard Quarkus JVM Dockerfile (as of provided by code.quarkus.io) is based on the `registry.access.redhat.com/ubi8/ubi-minimal:8.1` image. Since this image does not include java and an updated microdnf, it always takes quite a while to build the first layers of this image. This is especially true for our CI builds, as they don't always have the previous layers cached

[2020-07-08 09:38] geoand commented on #10559
@maxandersen @tqvarnst AFAIK this is planned, right?

[2020-07-08 09:43] #10525 closed

[2020-07-08 09:51] harshithpawar94 commented on #9969
Sorry for the trouble. I will post separately the issues with simple reproducer.

Thank you,

[2020-07-08 09:51] #9969 closed

[2020-07-08 09:57] sberyozkin commented on #10483
Interesting, `@Authenticated @RolesAllowed("Admin")` on the class level...

OK, here is how I've been thinking about `Authenticated`. if I have:
`(1)`
[code]
then what I want here is to ensure that only the authenticated users can access this resource. True, it is equivalent to setting `@PermitAll` or `@RolesAllowed("**")` but I'd rather have no associations with RBAC at all here, as long as the t

[2020-07-08 10:06] pschyma commented on #10043
Hi,

some parts should be revisited.

For example:
[code]
should be:
[code]
since `PanacheEntity` has an explicit default constructor and `PanacheCompanion` wants the id type.

[2020-07-08 10:11] #10330 closed

[2020-07-08 10:16] geoand commented on #9132
@aguibert is this still an issue?

[2020-07-08 10:18] radcortez commented on #1505
@chengfang Thanks! I'll give it a try with one or two cases with a manual implementation to see how it looks like.

[2020-07-08 10:28] geoand commented on #9100
This was fixed with 2cfb6bd43117aa119ebf8538e4e104b3f6760a8e

[2020-07-08 10:28] #9100 closed

[2020-07-08 10:43] ge0ffrey commented on #7311
I've not seen this issue since, I forget if we found the cause or not, but it doesn't reproduce any more. Thanks for closing it.

[2020-07-08 10:53] #5998 closed

[2020-07-08 11:06] SwargamAvinash opened #10561 "Bug related to org/jboss/resteasy/plugins/providers/multipart/MultipartFormDataInput"
**Describe the bug**
org/jboss/resteasy/plugins/providers/multipart/MultipartFormDataInput is not found after deploying in staging. No such error in local.

**Expected behavior**
The MulitpartFromDataInput should be found working fine in local.

**Actual behavior**
Trying to write an API that takes file as input and creates stuff in DB.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to

[2020-07-08 11:23] geoand commented on #9086
This issue can easily be fixed in isolation but I am looking into whether there is a more general issue with the opentracing extension

[2020-07-08 11:27] radcortez commented on #9086
What did you find?

[2020-07-08 11:31] #10561 closed

[2020-07-08 11:32] geoand commented on #9086
This problem is caused by `org.jboss.resteasy.microprofile.config.ServletConfigSource` being on the classpath but not being registered for reflection.

That is easy enough to solve, but I think that the opentracing extension has a more serious issue, see https://quarkusio.zulipchat.com/#narrow/stream/187038-dev

[2020-07-08 11:34] sberyozkin commented on #10185
Hey Pedro, missed it too, yeah, lets go ahead with `quarkus.oidc.authentication.redirect-when-xhr=false`, the name reads fine to me. If you can get some time in the next couple of weeks then it would be good, I'm on PTO starting from 27th, have to close a few more issues, lets see how it goes. I guess the trickiest part here is to test it with `HtmlUnit` :-).

[2020-07-08 11:39] sberyozkin commented on #10483
I think if we just drop `(equivalent to @RolesAllowed("**")` from `Authenticated` docs and just let users add this annotation whenever they feel like it will avoid all the confusions and will just work :-)

[2020-07-08 11:40] ShqiprimBunjaku opened #10563 "Configuring The POJO Codec per Collection"
**Description**
Right now @BsonDiscriminator annotation can be used to register a class, but there are cases when you want to make such configurations per collection. In different collections can be similar _DiscriminatorValues_, but mapped to different types.

**Implementation ideas**
It can be similar with Mongo's Official Driver,
`mongoClient.getCollection(COLLECTION_NAME,POJO.class).withCodecR

[2020-07-08 11:57] tqvarnst commented on #10559
AFAIK, this is something that RHEL/OpenJDK is planing. In theory, we could potentially package and publish a Quarkus Runtime Java image on Quay, but it would be a huge maintenance effort. So we might be better of waiting for RHEL to publish such an image.

[2020-07-08 12:03] ctron commented on #10402
![image](https://user-images.githubusercontent.com/202474/86916333-bb620200-c123-11ea-9c7f-fbf6d220a2b2.png)

[2020-07-08 12:04] tqvarnst commented on #10559
I will follow-up with the OpenJDK team to see what the status of a UBI-minimal-java image provided and maintained by Red Hat is.

[2020-07-08 12:12] famod commented on #10477
@geoand & @radcortez

I just realized that this is also broken for devmode via system property. Does that make sense?

[2020-07-08 12:14] geoand commented on #10477
Meaning?

[2020-07-08 12:20] famod commented on #10477
`application.yaml`:
[code]
calling devmode:
```mvn quarkus:dev -Dquarkus.http.port=0```

will use 2081 instead of a random port.
When I remove the entry from yaml then it works.

I'll create a separate issue.

[2020-07-08 12:24] sirAlexanderT commented on #4200
@stuartwdouglas manually changing the path in the ui and clicking explore brings up the swagger api, but running execute on any of the end points doesn't  work because the open api doc created does not have `/test-service/`  as part of the generated path.

so the path for example is `/users` instead of `/test-service/users`

[2020-07-08 12:31] geoand commented on #10477
Thanks

[2020-07-08 12:43] iocanel opened #10564 "Reorganize quarkus-kubernetes source"
**Description**
At the moment we have a single processor (`KubernetesProcessor`)to generating resources for:

- kubernetes
- openshift
- knative

As we add more features, the processor grow larger and harder to maintain.
I would like split the processing of kubernetes, knative and openshift into different processors that integrate with each other.

**Implementation ideas**
We could expose create b

[2020-07-08 12:50] patriot1burke commented on #6940
I'll take a look, I never tried azure-functions:run.  I just did azure-functiosn:deploy and hit azure with a client.

[2020-07-08 12:56] patriot1burke commented on #6940
@clarlitorendon @tehMalone

Guys, maybe you have a custom function.json?  The dataType must be "binary"

`{
  "scriptFile" : "../${project.build.finalName}-runner.jar",
  "entryPoint" : "io.quarkus.azure.functions.resteasy.runtime.Function.run",
  "bindings" : [ {
    "type" : "httpTrigger",
    "direction" : "in",
    "name" : "req",
    "route" : "{*path}",
    "methods" : [ "GET", "POST", "HEAD

[2020-07-08 12:58] patriot1burke commented on #4069
There is no default method type in JAX-RS.  If you do not have an http method, JAX-RS assumes it is a sub resource locator.

[2020-07-08 13:01] patriot1burke commented on #4069
And the return value can be anything, even java.lang.Object.  The JAX-RS runtime scans the class to try and resolve the request at runtime.  All dynamically.  We used this extensively in Keycloak to allow people to plug in their own REST APIs under how URL hierarchy.

[2020-07-08 13:01] sberyozkin commented on #10427
@manodupont, Hi, can you confirm please ?

[2020-07-08 13:10] nfrankel opened #10566 "Quarkus native image process doesn't allow additional environment variable during docker build"
**Describe the bug**

I'm using Quarkus Hazelcast integration. Because Quarkus uses Java 11, Hazelcast warns me during the native image compilation process I should open some modules according to JPMS.

[code]

To fix this, I use the `quarkus.native.additional-build-args` option.

**Expected behavior**

By using the `quarkus.native.additional-build-args` option in the POM (or in `application.prope

[2020-07-08 13:13] renedupont opened #10567 "gradle build fails (since 'maven_plugin_repositories' was introduced?)"
**Describe the bug**
I use the following to create a project:

[code]
and
`./gradlew clean build --no-daemon --stacktrace"`

to build the app, which worked perfectly the last time I played around with quarks a few weeks ago.
Today I tried it again and got:

[code]
where line 3 in settings.gradle is:
`mavenLocal()${maven_plugin_repositories}`

I saw that meanwhile this param was added: https://gith

[2020-07-08 13:18] gastaldi commented on #10567
/cc @ia3andy

[2020-07-08 13:20] stuartwdouglas commented on #10483
Ah, I only tested duplication at the method level, looks like there is a bug in the code that detects duplication at the class level, I have opened a PR.

[2020-07-08 13:20] 38leinaD commented on #10472
Maybe i am totally wrong, but for me it looks like this (just idea; not verified in any way):
* --enable-preview needs to be specified for compilation AND runtime
* --enable-preview on the compilation-part is done via the compilerArgs on the gradle java plugin; compilation of the classes works
* now the QuarkusBuild plugin tries to load the classes and run the augmentation. As it looks to me, this

[2020-07-08 13:22] sberyozkin opened #10569 "Update to smallrye-jwt 2.2.0"
Update to `smallrye-jwt 2.2.0` and:
- Enhance the JWT builder docs (all about the new shortcuts and simplifications, and CC @patoessy once it is done)
- Add a note about smallrye-jwt now accepts both encrypted and signed-then-encrypted tokens before it comes with MP JWT 1.2
- Describe how to use new methods in `JWTParser` to verify/decrypt/decrypt+verify the tokens directly in the code
- Fix Steph

[2020-07-08 13:22] ia3andy commented on #10567
ahhh it seems I broke backward compat 😓

[2020-07-08 13:22] stuartwdouglas commented on #4069
Yea, I think the only validation you could do is that if a type is returned (e.g. List) and there are no discovered locators that implement List then you could detect the problem. This would likely work for 99% of cases where there is user error, although I am not sure if it is worth it.

[2020-07-08 13:23] ia3andy commented on #10567
ok it works if you use `io.quarkus:quarkus-maven-plugin:1.6.0.Final:create`

[2020-07-08 13:24] loicmathieu commented on #10437
TicketDesc don't have an attribute that is a relation is the entity so it will not generate a join query.

Didn't tested it but I thought you should be able to create a ContactInfo class that contains a subset of the Contact attribute ...

It seems to be an issue on Hibernate side, a NPE is always a bug ...
The best would be to create a reproducer without Panache so we can ask the Hibernate guys w

[2020-07-08 13:24] ia3andy commented on #10567
@aloubyansky maybe we should use the matching version of quarkus by default instead of the latest?

[2020-07-08 13:27] EfraimLA commented on #10437
So I should update my reproducer using only hibernate and if it's a bug report to hibernate?

[2020-07-08 13:29] evanchooly commented on #10493
I'll look in to it.  going offline should work because there's a repo configured for it.  but clearly something's up.  I'll try to find out.

[2020-07-08 13:30] famod opened #10570 "Devmode, Regression in 1.6.0: Cannot override property from profile via system property"
**Describe the bug**
Overriding a property that is defined in the `%dev` profile via system property (`-D...`) does not work anymore.

**Expected behavior**
System property must take precedence (as in 1.5.2 or lower)

**Actual behavior**
Profile in properties/yaml takes precedence.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/famod/quarkus-quickstarts
2. `git swit

[2020-07-08 13:30] famod commented on #10570
/cc @geoand

[2020-07-08 13:30] loicmathieu commented on #10437
If you can do it, yes.
You can inject an `EntityManager` inside your code and try to use if with a constructor expression only for this request.
It will give us a better undertanding on what's going on, we can then ping some Hibernate guys from the Quarkus team to help us, no need to open an issue on Hibernate right now ;)

[2020-07-08 13:30] evanchooly commented on #10043
Definitely.  That was changed after the docs were written and that was missed.  I have a whole load of kotlin related changes coming up and i'll include this.  Thanks.

[2020-07-08 13:34] evanchooly opened #10571 "Update Kotlin Panache docs"
Extracted from #10043 via @pschyma

Hi,

some parts should be revisited.

For example:

[code]

should be:

[code]

since PanacheEntity has an explicit default constructor and PanacheCompanion wants the id type.

[2020-07-08 13:37] Sanne commented on #10493
I noticed we actually have the same problem with the io.confluent plugins in the `integration-tests/kafka` module.

So maybe this is an issue with the `dependency:go-offline` goal?

Perhaps a reasonable solution would just be to provide a settings.xml to use for this project, listing all of these?

[2020-07-08 13:37] geoand commented on #10570
Darn... We really need to clarify the behavior we want and if we settle that the current behavior is the appropriate one, we need to make sure we communicate it in the release as a breaking change.

cc @radcortez @gsmet

[2020-07-08 13:39] sberyozkin commented on #8396
@majonga88 Hi, #10417 will resolve this issue.
So, to summarize, you have `Auth0` returning ID token without any claims containing the roles, and an opaque access token. To get the roles, you could try (once the fix is merged) either  `quarkus.oidc.roles.source=accesstoken` (this will lead to the opaque token being introspected and if it contains `scope` then the scope value will be used to parse

[2020-07-08 13:39] ia3andy opened #10572 "Problem with Qute context using for and each blocks"
**Describe the bug**
Using `for` and `each` blocks, when accessing an existing key, I think it shouldn't use the `data` context no?

Reproducer code:
[code]

Maybe this is an expected behavior with `it` using a `each` block, but with `for` assigned to `dep` in the example it doesn't make sense at all.

[2020-07-08 13:41] geoand commented on #10570
And BTW, thanks for reporting and making the case clystal clear

[2020-07-08 13:43] renedupont commented on #10567
ok thanks worked in my setup too! I wasn't aware of 1.6.0. because I only checked the homepage which advertises 1.5.2

[2020-07-08 13:46] geoand commented on #9086
Since it looks from the discussion that Opentracing is doing what it's supposed to, here the PR that just fixes this issue: https://github.com/quarkusio/quarkus/pull/10573

[2020-07-08 13:49] aloubyansky commented on #10567
We should be using the latest in the range of [current_plugin_version, current_plugin_version + 0.1)

[2020-07-08 13:56] ia3andy commented on #10567
@gsmet what should we do?

[2020-07-08 14:05] evanchooly commented on #10493
I have a theory.  in that kafka module, does it define a local `<pluginRepository>`?  I'm wondering if `go-offline` doesn't adequately detect repositories defined down in the tree vs what's at the top of the pom structure.

[2020-07-08 14:06] ia3andy commented on #10572
Just a bit more context:
In java, when using foreach, you can access outer scope, but the not using the iterated element
for example `{version}` could use the outerscope
but `it.version` or `dep.version` (in the snippet context) should use the iterated element only

[2020-07-08 14:15] mkouba commented on #10572
Thanks for spotting this. It's a stupid bug :-(.

[2020-07-08 14:15] radcortez commented on #10570
Interesting, this is the behaviour that we implemented in SmallRye Config (a property overrides a profile based configuration with higher priority) and that lead to https://github.com/quarkusio/quarkus/issues/10320.

Let me have a closer look.

[2020-07-08 14:16] Sanne commented on #10493
yes:

https://github.com/quarkusio/quarkus/blob/1ba9cb2a97badf9b7e3cfca2d158c2bd19f78398/integration-tests/kafka/pom.xml#L111-L116

[2020-07-08 14:19] famod commented on #10570
FWIW, I have implemented the following workaround (via yaml, not sure this works with properties):
[code]
And then `mvn quarkus:dev -Dsomeproject.quarkus.http.port=0`.

[2020-07-08 14:29] manodupont commented on #10427
No i meant at runtime too. I thought it was a single flag to turn every security and roles checking “off”.

[2020-07-08 14:40] radcortez commented on #10570
Ok, I think the issue relates with #10320 resolution.

Quarkus before 1.6 prioritises properties from higher ordinals even if they are not part of the active profile. The implementation we have was also correct.

What changed was the execution order between resolution of profiles / expansion, leading to the issue in #10320 where a property was being expanded and failing because there was no expand

[2020-07-08 14:41] geoand commented on #10566
Thanks for reporting.

Interesting use case indeed.
`quarkus.native.additional-build-args` was definitely not meant for passing environment variables, but instead for passing arguments into the `native-image` command line (whether one is using `quarkus.native.container-build` or not).

That means that we need to figure out an alternative means of allowing such a use case.

[2020-07-08 14:42] geoand commented on #10570
Great, thanks!

[2020-07-08 14:46] nfrankel commented on #10566
Thanks for the quick feedback @geoand.

I wondered whether to consider it a "bug" or a "feature", and decided for the former because I thought it would "just" need a reordering of the arguments. Feel free to move it to a category that makes sense to your team.

But in general, I'd really boost this issue, because I think it's pretty important for a lot of use-cases, not only JPMS.

[2020-07-08 14:48] aloubyansky commented on #10567
It's not @gsmet who should be dealing with this. I'll fix it.

[2020-07-08 14:49] geoand commented on #10566
Yeah, this should be simple to do if we add another configuration knob.

Here is a related question though: Say you weren't using `quarkus.native.container-build=true` and were relying on having GraalVM locally, how would expect to go about configuring `--add-exports` etc?

[2020-07-08 14:49] ia3andy commented on #10567
@aloubyansky that would fix it for future version, but it would still mean we have a bug on previous version of the plugin, that why I involved @gsmet...

[2020-07-08 14:54] aloubyansky commented on #10567
It's not the first time it happens though.

[2020-07-08 14:57] radcortez commented on #10570
An additional detail:

The profile / expansion order was changed, so we could avoid a circular dependency with a configuration like:\

[code]

This means that a property is expanded before picking the profile. For the case of #10320 it ended up introducing another issue where we require the ordinal to know which one to use. Since expansion happens first, it ended up failing because it couldn't exp

[2020-07-08 15:01] aguibert commented on #9132
I believe I worked around the issue and haven't ran into it again since. Since nobody else has +1'd this issue in the past month or so we can close it

[2020-07-08 15:01] #9132 closed

[2020-07-08 15:04] nfrankel commented on #10566
Something like `-e JAVA_OPTS="--add-modules java.se"`

[2020-07-08 15:11] geoand commented on #10566
I guess I wasn't clear, I mean't that when `quarkus.native.container-build=false` no docker container is run, and the `native-image` command is just run as a regular (Java) process.
How do you expect to pass in  `--add-modules ...` in that case?

Also somewhat related, I am not sure that `JAVA_OPTS` is even consulted when building the native image. Have you seen relevant documentation or do you ha

[2020-07-08 15:13] famod commented on #10202
Just wanted to confirm that the system property is now working as expected. We are creating a `quarkus-test-X.log` per Maven Surefire test fork:
[code]

[2020-07-08 15:13] geoand commented on #10202
:+1:

[2020-07-08 15:24] bmontuelle opened #10578 "Named handler log files get logs duplicated when hot reload is performed"
**Describe the bug**
In properties file I have configured 2 different named handlers, for very specific logging categories.
In dev mode the log in these categories are working fine and directed toward the right file handler.
When an hot-reload is performed I see the log lines duplicated, and each time a new hot-reload is performed there is one more copy of the log lines pushed to the files.
This m

[2020-07-08 15:50] pilhuhn opened #10579 "Hibernate Validator does not support constraints on static methods"
**Describe the bug**

We have code

[code]

Which fails with `"HV000116: The object to be validated must not be null."` The passed uriInfo is not null, as one can see in the debugger or via printout.

This used to work in Quarkus 1.5.1 and earlier (in fact that line of code was last touched in January).
When I remove the `@NotNull` annotation, the code works expected.

**Expected behavior**

Code

[2020-07-08 15:54] evanchooly opened #10580 "Implement #10541 on the kotlin side"
see #10541

[2020-07-08 16:07] evanchooly commented on #10580
misread the original comment on the PR.  lesson learned:  don't read too much on a phone.

[2020-07-08 16:07] #10580 closed

[2020-07-08 16:07] radcortez commented on #10570
@geoand I have the fix in SmallRye Config, which requires to update the dependency (I can release a 1.8.1 just with this fix), but I can extend the interceptor in Quarkus and apply the fix there. Which one do you prefer? :)

[2020-07-08 16:10] geoand commented on #10570
Given that we just released 1.6.0.Final, I think that we have time to go the proper route with the smallrye release.

cc @gsmet

[2020-07-08 16:12] radcortez commented on #10504
Maybe because the switch statements picks up braces before the escape?

`{`- https://github.com/smallrye/smallrye-common/blob/master/expression/src/main/java/io/smallrye/common/expression/Expression.java#L516

`}` - https://github.com/smallrye/smallrye-common/blob/master/expression/src/main/java/io/smallrye/common/expression/Expression.java#L524

`\\` - https://github.com/smallrye/smallrye-common/

[2020-07-08 16:15] radcortez commented on #10570
Ok, I'll try to add some more tests in Quarkus itself to pick up these regressions.

[2020-07-08 16:17] geoand commented on #10570
Sounds like a plan 👍

[2020-07-08 16:39] gsmet commented on #10579
Any chance you could come up with a simple reproducer?

I wonder if it's a consequence of some work that has been done to support interceptors in more cases. @geoand does it ring a bell?

Until now, I don't think HV was supposed to work for static methods especially for a non bean instance.

[2020-07-08 16:40] nebrass opened #10581 "Quarkus Spring JPA Repository query methods is not working, at least like in Spring Boot"
**Describe the bug**
I have these Java classes:
A MappedSuperclass AbstractEntity that is a superclass for all JPA entities:

[code]
And these JPA entity classes:

The Order class:

[code]

The Cart class:

[code]

And finally the Customer class:

[code]

I have a **JpaRepository** to find orders using the **Customer Id**:

[code]

**Expected behavior**
This Query Method needs to be working as it

[2020-07-08 16:41] geoand commented on #10579
@gsmet absolutely right. I think that interceptors for static methods were added recently, so that would explain it (cc @mkouba)

[2020-07-08 16:41] gsmet commented on #10570
Yes as long as the SmallRye Config update is minimal, I'm fine with backporting it to 1.6.1.Final.

[2020-07-08 16:49] tsegismont opened #10582 "SSL support for reactive DB2 client"
SSL is supported upstream

[2020-07-08 16:51] tsegismont opened #10583 "Document domain socket support for Postgres and MySQL reactive clients"
Follows-up on #9480

Postgres client has it already and support has been added upstream in `3.9.2` for MySQL.

[2020-07-08 16:52] gsmet commented on #10579
I'll try to understand what's going on tomorrow. Not fair to break my extension that didn't ask anything!

[2020-07-08 17:06] geoand commented on #10581
Thanks for reporting, I'll take a look next week

[2020-07-08 17:07] nebrass commented on #10581
Thank you @geoand 😊

[2020-07-08 17:33] #10557 closed

[2020-07-08 18:03] dmlloyd commented on #10504
Switch is unordered; but perhaps https://github.com/smallrye/smallrye-common/blob/master/expression/src/main/java/io/smallrye/common/expression/Expression.java#L562 should have picked it up, I would have thought (though I haven't had time to examine the code in detail).

[2020-07-08 18:06] pilhuhn commented on #10579
Interceptor sounds right, as this is the top frame I end up when I step into `extractPager()`:

[code]

[2020-07-08 19:37] #10511 closed

[2020-07-08 19:38] #10290 closed

[2020-07-08 19:43] geoand commented on #10581
@ebullient in the meantime if you want to have a look, I won't stop you :)

[2020-07-08 19:44] #7233 closed

[2020-07-08 19:56] evanchooly commented on #10493
what happens if you move that repo def to the top level pom?

[2020-07-08 20:12] akoufa opened #10585 "Using Hibernate Reactive with Kotlin produces UnsatisfiedResolutionException"
Hello to all. Using Hibernate Reactive together with Kotlin and Gradle produces the following issue:

[code]

It is very easy to reproduce. Just create a Quarkus Kotlin Gradle project using code.quarkus.io and then add the following to the ExampleResource:

[code]

Running quarkusBuild Gradle tasks produces the issue.

[2020-07-08 20:40] aguibert commented on #10582
I think we can close this issue, Vertx 3.9.1 actually supports DB2 with SSL just fine, it's just that I didn't get around to testing it until 3.9.2 (no code changes were needed, just added a test)

[2020-07-08 20:51] MastanaGuru commented on #9890
I am also seeing the issue
`
quarkus.http.ssl-port=9443
quarkus.http.ssl.certificate.file=/var/run/secrets/openshift.io/app-certs/tls.crt
quarkus.http.ssl.certificate.key-file=/var/run/secrets/openshift.io/app-certs/tls.key
quarkus.http.ssl.certificate.key-store-file=/var/run/secrets/java.io/keystores/keystore.jks
quarkus.http.ssl.certificate.key-store-password=${KEYSTORE_PASSWORD:${DEFAULTVALUE}}

[2020-07-08 20:59] jorsol opened #10586 "fast-jar creates a different directory structure not recognized by Jib"
**Describe the bug**
`quarkus.package.type=fast-jar` creates a different directory structure that it's not recognized by Jib container image.

**Expected behavior**
Jib creates the container image successfully following on the package type.

**Actual behavior**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: Linux 5.4.0-40-generic #44-Ubuntu S

[2020-07-08 21:02] geoand commented on #10586
Darn... This worked but something must have changed in the fast jar.

I'll fix it for 1.6.1.Final

[2020-07-08 21:09] sberyozkin opened #10587 "Document how to get the roles with quarkus-oidc"
Will start working on it immediately after I merge the userinfo PR which is good to go

[2020-07-08 21:10] #8396 closed

[2020-07-08 21:10] #8719 closed

[2020-07-08 21:44] Sanne commented on #10585
Hi @akoufa , thanks. Which version of Quarkus, I suppose 1.6.0.Final ?  Something related to this was fixed in master recently (but wasn't in 1.6)

[2020-07-08 22:10] geoand commented on #10586
#10588 fixes the issue.

[2020-07-08 23:09] max-grigoriev opened #10589 "Quarkus 1.6.0 doesn't build native executable when Alexa Skill extension is used."
**Describe the bug**
It's not possible to build the simplest Alexa Skill as a native executable.
I created a dummy Alexa Skill:

[code]

`mvn package` works OK but `mvn package -Pnative` eats 14Gb of RAM, all 4 CPU cores and after waiting for 20 minutes I killed the build process.

**Expected behavior**
The native executable should be built.

**Actual behavior**
(Describe the actual behavior clear

[2020-07-08 23:24] #10549 closed

[2020-07-08 23:28] radcortez commented on #10504
I'll try to have a look.

[2020-07-08 23:30] #9693 closed

[2020-07-08 23:33] jimbogithub commented on #10543
I was migrating from Thorntail so its `datasource...` settings probably made me fall into the legacy scheme.
So 👍 for removing support for it.  The conversion is easy if you know you need to ;-).  The silent ignoring of `max-size` caused us issues in Prod.  Better to get complaints about the former than the latter.

[2020-07-08 23:45] stuartwdouglas commented on #4200
Would setting the http root path and removing the rewrite be an option? Just set quarkus.http.root-path=/test-service, so openapi will end up being mounted at the correct location.

[2020-07-09 00:07] stuartwdouglas commented on #10427
So you can do it at runtime as well, but it requires some custom code:

[code]

Including this bean in your application will disable security. If you want to make it configurable just make it inject a configuration property using MP config.

I am a bit hesitant about including this as a general config option, it just feels a bit dangerous.

[2020-07-09 01:16] guardianblue commented on #9986
@jmartisk Thanks for looking into this.

After digging deeper into my code, I realized what I am encountering is slightly different from what @bearbytes wrote.

In my case, it is `token` being `null` instead. I suspect I have not configured properly at all. Similar injection _do_ work on REST API endpoint though.

[2020-07-09 01:27] stuartwdouglas commented on #9890
This should fix the underlying vert.x issue https://github.com/eclipse-vertx/vert.x/pull/3494

It is actually more serious than it appears, when wildcard ports are in use each IO thread opens a new socket, so you will only have a single thread servicing the reported address.

[2020-07-09 01:41] hbelmiro commented on #8656
@gastaldi I submitted the PR [10590](https://github.com/quarkusio/quarkus/pull/10590).

[2020-07-09 02:36] #10586 closed

[2020-07-09 02:37] #10483 closed

[2020-07-09 02:56] gastaldi commented on #8656
@hbelmiro hey, thanks for the hard work! As @stuartwdouglas pointed out in this feature is already implemented, it just doesn't display the long format as you have implemented. Would you mind changing your PR (or opening a new one) with that dump feature implemented?

Sorry about the noise, totally my fault. I should have seen that #5556 was already implemented.

[2020-07-09 02:58] gastaldi commented on #8656
BTW I have updated the issue description

[2020-07-09 03:28] gastaldi commented on #10559
Isn't that what `ubi8/openjdk-11` is for? https://catalog.redhat.com/software/containers/ubi8/openjdk-11/5dd6a4b45a13461646f677f4?container-tabs=dockerfile

[2020-07-09 05:01] yahmed153 commented on #4224
having the same issue, with @Log annotation, have to shutdown dev mode then restart and it works fine after that.

[2020-07-09 05:20] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/162828081

[2020-07-09 06:04] DavideD commented on #10585
Yes, you cannot Inject the `Stage.Session` directly without this fix: https://github.com/quarkusio/quarkus/pull/10433

But you can inject the `Stage.SessionFactory` or `CompletionStage<Session>`.

[2020-07-09 06:06] manodupont commented on #10427
ok. thanks everybody.

[2020-07-09 06:10] richiethom opened #10592 "Documentation suggests Context can be injected into Funqy function"
**Describe the bug**
This is probably more of a documentation problem than anything else. In the [Funqy documentation](https://quarkus.io/guides/funqy#context-injection), it suggests that Context Injection is possible via the `@Context` annotation.

Whatever I have tried I have not been able to inject an AWS context, no matter whether I'm running on SAM Local or on AWS - nothing is injected agains

[2020-07-09 06:10] marcelorubim commented on #10466
Looks like the ParamConverters are being ignored when the @FormParam is used inside the annotated MultiPartForm param.

I was able to stop getting this error by creating a MessageBodyReader:

[code]

[2020-07-09 06:15] vietj commented on #9890
@stuartwdouglas can you point out where Quarkus creates a Verticle for the HTTP server ? your PR is interesting and make some assumption about the current context which can seems ok, although I would like to investigate if there is not a better way to do.

[2020-07-09 06:28] stuartwdouglas commented on #9890
https://github.com/quarkusio/quarkus/blob/7b5b6ab9537d970c559f7d6c676f49e8a2a8a203/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java#L761

[2020-07-09 06:32] mkouba commented on #10579
So if I understand it correctly the `@NotNull` annotation was previously ignored and nobody compained ;-). Now it's intercepted but fails incorrectly. We should probably (1) find out why it fails incorrectly, (2) ignore static methods in [MethodValidatedAnnotationsTransformer](https://github.com/quarkusio/quarkus/blob/master/extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibern

[2020-07-09 06:43] mkouba opened #10593 "ArC AnnotationStore - AnnotationTarget is incorrectly used as a key in a Map"
`ClassInfo`  and `FieldInfo` do not override `equals()`/`hashCode()`. Moreover, new `FieldInfo` objects are created for each `ClassInfo.fields()` invocation.

[2020-07-09 06:45] vietj commented on #9890
thanks, I think the patch you provided is the most appropriate way to go @stuartwdouglas

[2020-07-09 06:46] akoufa commented on #10585
@Sanne Sorry I forgot to mention the Quarkus version above, yes it is indeed 1.6.0.Final.
@DavideD Will the fix be available in some of the 1.6.X.Final releases ? If not should I use `createSession()` or `openSession()` to get a DB connection ? Probably I also need to close the session manually then?

[2020-07-09 07:05] gunnarmorling opened #10594 "Configuration reference missing for Kafka Streams"
On https://quarkus.io/guides/kafka-streams#configuration-reference, no properties are shown, but there should be the ones from the kafka-streams.* namespace.

[2020-07-09 07:05] gunnarmorling commented on #10594
Hey @gsmet, @geoand; IIRC, that's auto-generated. Any idea why they are missing there?

[2020-07-09 07:12] geoand commented on #10594
I'm on PTO for a few days so I'll let Guillaume answer 😉

On Thu, Jul 9, 2020, 10:06 quarkusbot <notifications@github.com> wrote:

[2020-07-09 07:13] ejba commented on #10427
It would be great to have this documented somewhere.
What do you think?

[2020-07-09 07:14] pilhuhn commented on #10579
Indeed, `@NotNull` is ignored in 1.5.1.

[2020-07-09 07:17] sirAlexanderT commented on #4200
@stuartwdouglas Thanks for the suggestion, that worked. Now fingers crossed the infrastructure "gatekeeper" will be happy with the change

[2020-07-09 07:24] fredmtyro commented on #8286
I'm happy to add some more debug output to the project - any tips on exactly what would be helpful to know?

[2020-07-09 07:26] mkouba commented on #10593
As a consequence the annotation transformers may be called multiple times for the same `field` (but different ``FieldInfo``s). The result should be the same though. It shouldn't be a problem for methods (because `MethodInfo` overrides equals/hashCode). Also object identity should work fine for `ClassInfo`.

[2020-07-09 07:30] DavideD commented on #10585
It's been merged already so I think it will be available in the next release.

The main difference between the two is that one returns a CompletionStage<Stage.Session> and the other a `Stage.Session`. There is a difference about[ when the database connection](https://github.com/hibernate/hibernate-reactive/blob/master/hibernate-reactive-core/src/main/java/org/hibernate/reactive/stage/Stage.java#L8

[2020-07-09 07:52] pilhuhn commented on #10579
I don't think ignoring static methods is a good idea, as a lot of helpers are static and will/may/could use those validation annotations as a way to enforce pre-conditions without writing a lot of code.

[2020-07-09 07:57] akoufa commented on #10585
@DavideD Does this mean that we can't inject CompletionStage<Stage.Session> in an `@ApplicationScoped` Bean directly ?

[2020-07-09 08:01] mkouba commented on #10579
Ok, but it never worked before because static method interception is not supported by Weld (and CDI in general).

I will create a simple test to see what's happening...

[2020-07-09 08:04] tsegismont commented on #10582
@aguibert indeed, tests left aside, eclipse-vertx/vertx-sql-client#679 only improves usability by adding methods to `DB2ConnectOptions`.

But upstream support is not enough. Among other things, the pool recorder must be updated (Postgres here):

https://github.com/quarkusio/quarkus/blob/4fa78b0ba09668710a157cc3dcdf3d133cf940be/extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive

[2020-07-09 08:08] DavideD commented on #10585
Yes

[2020-07-09 08:32] cescoffier opened #10596 "Allow injecting parameters and body in reactive routes"
**Description**
The idea behind this improvement would be to support the injection of request parameters and body as argument of the reactive route method:

[code]

Parameter injection need to be annotated with a specific annotation (maybe reuse the jax-rs one) to indicate which parameter need to be injected.
Optionaly might be a good idea too (`Optional<String>`). Type conversion also. Multiple p

[2020-07-09 08:35] cescoffier opened #10597 "Generate a RouteHandler per reactive route"
**Description**

At the moment, if you have the following route:

[code]

We generate a single method handler.
So, during the generation, we can't distinguish if we are producing json or text. By generating multiple methods we can introduce
media-type awareness in the generated bytecode to automatically handle the types. For example we can map objects to json or text automatically.

[2020-07-09 08:38] #8769 closed

[2020-07-09 08:38] #3120 closed

[2020-07-09 08:39] mkouba commented on #9737
We have improved the reactive routes UX recently. If your `service` returns a Mutiny type, you should be able to do somethign like (in the master branch):

[code]
I'm not sure about the exception handling though... Maybe @cescoffier has some idea?

[2020-07-09 08:47] cescoffier commented on #9737
Exception handling (whether your Uni produced a failure or if the method throws an exception) would produce a 500 response (using the routing context `fail` method).

If you register a route of type `FAILURE` then you can handle the failure and produce the response you want.

[2020-07-09 09:02] mkouba commented on #10579
So the problem is that `AbstractMethodValidationInterceptor.validateMethodInvocation()` does not expect the result of `ctx.getTarget()` to be null. Unfortunately, the contract of `javax.validation.executable.ExecutableValidator.validateParameters(T, Method, Object[], Class<?>...)` is very clear - throw `IllegalArgumentException` if `null` is passed for any of the parameters... @gsmet Any idea how

[2020-07-09 09:16] mkouba commented on #10596
I'd rather not reuse the JAX-RS annotations because that would mean a dependency on the JAX-RS API. Also JAX-RS distinguishes `@javax.ws.rs.QueryParam` and `@javax.ws.rs.PathParam` whereas we should simply map to `io.vertx.core.http.HttpServerRequest.getParam(String)`.

I'm not sure about type conversion. Sometimes it's useful but sometimes it just complicates things unnecessarily. For now I would

[2020-07-09 10:24] gino-smart4p opened #10599 "Quarkus 1.6.0 fast-jar jib container generation error"
After Quarkus 1.6.0 upgrade the jib fast-jar container generation doesn't work anymore.

Tested on "getting-started" project, too, same issue.

**Environment:**
 - OS: `Linux myserver 4.15.0-108-generic #109-Ubuntu SMP Fri Jun 19 11:33:10 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
 - Java version:
[code]
 - Quarkus version: `1.6.0.Final`
 - Maven version:
[code]

#### Steps to reproduce:

*first bui

[2020-07-09 10:31] geoand commented on #10599
Thanks for reporting.

This is a duplicate of https://github.com/quarkusio/quarkus/issues/10586 and it has already been fixed in the master branch.

[2020-07-09 10:31] #10599 closed

[2020-07-09 10:39] gsmet commented on #10579
So, I had a look this morning. The spec thing is not a big issue as we could have an HV-specific interface extending it and taking a class.

What concerns me is that the executable validation feature has clearly been designed with the limitations of CDI/Weld in mind which were in line with the validation of beans. So a lot of things in HV expect an object, some SPI included (for instance `DefaultG

[2020-07-09 10:46] nakhadon opened #10600 "404 Not Found for invalid param data and existing resource"
**Describe the bug**
When defining a REST Endpoint with an UUID parameter, non-UUID values in HTTP Requests will lead to a 404 Not Found response instead of the (in our case) expected 400 Bad Request.
This seems strange to me.

Reasoning:
A malformed UUID is bad data (400 Bad Request).
The endpoint, based on the URL mapping, exists (Not 404 Not Found).

**Expected behavior**
Return 400 for invalid

[2020-07-09 11:31] cescoffier commented on #10596
Ah yes, supporting headers is a great idea!

[2020-07-09 11:35] sberyozkin commented on #10600
@nakhadon Hi - this may seem non-intuitive but this is the spec, see section 3.2, example here https://github.com/jax-rs/spec/blob/master/spec.pdf.

You can control the status yourself, have path param be a String and return 400 in case of invalid UUID
Thanks, closing this issue

[2020-07-09 11:35] #10600 closed

[2020-07-09 11:41] mkouba commented on #10579
I'd rather log a warning.

I believe that it's called as a regular static method. So it was not intercepted.

[2020-07-09 11:46] nakhadon commented on #10600
I see. @sberyozkin thank you for the helpful and fast reply!

[2020-07-09 11:51] sberyozkin commented on #10427
I'd say so, I believe we've had a good number of similar queries, not sure where, may be at https://quarkus.io/guides/security to start with, have a section `How to Disable Authorization`. @ejba Hi, are you Ok with doing another PR :-) ?

[2020-07-09 11:56] ejba commented on #10427
Of course! :)

[2020-07-09 12:13] hosseinmp76 opened #10602 "Quarkus cant be launched with Main-Class with gradle"
when I want to start quarkus with a gradle based project I get this is the exception:

[code]

I track the problem and I found in `BootstrapAppModelFactory` class at line 211 in method createBootstrapMavenContext it can't find pom.xml (its gradle project) so it make a new BootstrapMavenContext. and it uses resolveCurrentProject() that itself calls
 LocalProject.loadWorkspace and it returns null be

[2020-07-09 12:22] andreas-eberle opened #10603 "Quarkus 1.6.0.Final: NoSuchMethodError SmallRyeConfigBuilder when building project"
**Describe the bug**
I just updated a project from Quarkus 1.5.2.Final to Quarkus 1.6.0.Final. When I run `./gradlew clean assemble --stacktrace` I get the following error.

[code]

**Expected behavior**
It should still build.

**Actual behavior**
It throws an error during build.

**Environment (please complete the following information):**
 - Windows 10
- gradle 6.5.1
- Kotlin (1.3.72)
- OpenJDK

[2020-07-09 13:02] Machareder opened #10604 "OPTIONS Request on /openapi => infinite loading"
**Describe the bug**
The bug is located in the following extension: quarkus-smallrye-openapi

When I call "http://localhost:8080/openapi" with the OPTIONS Method, it keeps loading like something freeze the request

**Expected behavior**
It should return an 200er and the allowed methods

**To Reproduce**
Steps to reproduce the behavior:
1.  clone https://github.com/quarkusio/quarkus-quickstarts.git

[2020-07-09 13:03] cescoffier commented on #8949
Sorry for the very long delay. I believe the issue has been fixed and we forgot to close this issue.

Below is the list of what I've successfully tried. I ran my Kafka broker on `localhost:9093` (while the default is `localhost:9092`). My `application.properties` contains:

[code]

1. Setting the `KAFKA_BOOTSTRAP_SERVERS` to `localhost:9093` and running the application from the jar file -> the app

[2020-07-09 13:03] #8949 closed

[2020-07-09 13:12] FroMage commented on #7405
I don't think so, so. I believe ATM only the RESTEasy context is propagated but we should fix this.

[2020-07-09 13:14] cescoffier commented on #7791
Sorry, just coming back to this issue.

The priority is channel first, then the global value (because you can have multiple Kafka brokers).
So, unfortunately, in your case, you cannot have both.

What we can do is to check if the value is empty and in that case use the global one. That would fix your issue.

I've created https://github.com/smallrye/smallrye-reactive-messaging/issues/649 to track t

[2020-07-09 13:22] radcortez commented on #10504
Nvm, I think we were looking into this wrong. I just realised that we didn't have the `ESCAPES` flag on. I did copy the config from the old `ExpandingConfigSource`:
https://github.com/quarkusio/quarkus/commit/2a95fc3400a30af061c73a1cf43b870232afdb4e#r40422799

Which only had `LENIENT_SYNTAX` and `NO_TRIM`. Adding `ESCAPES` will fix it.

[2020-07-09 13:23] wjglerum opened #10607 "Dev mode not working in multi module maven project in 1.6.0.Final"
**Describe the bug**
This morning I tried giving `Quarkus 1.6.0.Final` a go and I'm facing an issue with running `mvn quarkus:dev` on a multi module maven project. I also tried out the multi module maven projects from the integration tests and it also seems to fail on version `1.6.0.Final` on `1.5.2.Final` everything seems to work fine.
https://github.com/quarkusio/quarkus/tree/master/integration-

[2020-07-09 13:25] pilhuhn commented on #10579
On 9 Jul 2020, at 13:41, Martin Kouba wrote:

So BV 5.6.1 [1] says that static methods should be ignored.
So the previous behaviour seems correct (even if unexpected if one does
not
read the BV spec).
I think the best would be to warn the user during the augmentation phase
if such a (bad) annotation is found (and then ignore it at runtime).

[1]
https://beanvalidation.org/2.0/spec/#constraintdecla

[2020-07-09 13:32] andreas-eberle opened #10608 "Using fast-jar without uber-jar results in no runner.jar beeing built"
**Describe the bug**
When using only the `quarkus.package.type=fast-jar` config in the `application.properties` file no `*-runner.jar` is built. Only if you also specify the `quarkus.package.uber-jar=true` property, a fast uber-jar is built.

This behavior is the same for maven and gradle.

**Expected behavior**
It should be enought to specify the `quarkus.package.type=fast-jar` option. If this op

[2020-07-09 13:52] radcortez commented on #10504
On the other hand, adding the `ESCAPES` flags, does remove all escapes completely, meaning that if you want to pass escapes to a Converter (for instance to parse an array), you are required to double double escape.

Now I remember that I think I've tried that configuration and then reverted it back due that problem.

[2020-07-09 14:09] hbelmiro commented on #8656
@gastaldi No problem. These things happen.
I'll try to add the long format in the existing code.

[2020-07-09 14:18] ricardozanini commented on #7791
Thank you @cescoffier!

[2020-07-09 14:31] mkouba commented on #10596
WIP is here: https://github.com/mkouba/quarkus/tree/issue-10596

[2020-07-09 14:42] gastaldi commented on #10604
@Machareder that makes sense. Are you interested in providing a Pull-Request?

[2020-07-09 15:14] Machareder commented on #10604
@gastaldi

#10612

I hope the Pull-Request is provided correctly

[2020-07-09 15:15] jmtd commented on #10559
`ubi8/openjdk-11` maintainer here: it is based on ubi-minimal but contains the -devel rpm package (`javac` etc) as well as `mvn` so it's not a pure runtime image. I got @tqvarnst's email and have followed up internally, hopefully we'll have more to write publically soon!

[2020-07-09 15:40] GregJohnStewart commented on #10540
Through debugging I have seen that it gets wired in fine, but doesn't get to the actual test code before the exception.

TimeManagerSanitizer (Now Anitizer, for being both a de/sanitizer) looks like this: https://github.com/GregJohnStewart/task-timekeeper/blob/webserver-work/WebServer/Server/src/main/java/com/gjs/taskTimekeeper/webServer/server/validation/sanitize/TimemanagerAnitizer.java

[code]

[2020-07-09 15:47] TMBD opened #10614 "Quarkus extension for spring data API - automatic repository implementation generation"
Hello,

I am trying to migrate a spring project in quarkus and I am using quarkus extension for spring data API.

As they said in the quarkus doc : Interfaces that extend org.springframework.data.repository.Repository are automatically implemented and the generated repositories are also registered as beans so they can be injected into any other bean (source : https://quarkus.io/guides/spring-data-

[2020-07-09 15:50] radcortez commented on #10570
@gsmet @geoand this is current milestone for SmallRye Config 1.8.2 to fix this issue:
https://github.com/smallrye/smallrye-config/milestone/10?closed=1

It has a couple of more fixes. Probably the biggest change is around the YAML Config Source to fix https://github.com/smallrye/smallrye-config/issues/216 and https://github.com/quarkusio/quarkus/issues/6297. Let me know if this is ok to release.

[2020-07-09 15:57] crissi98 opened #10616 "Openapi ignores quarkus.resteasy.path in Quarkus 1.6.0.Final"
**Describe the bug**
OpenApi ignores the quarkus.resteasy.path-Property for constructing of openapi.yaml. So, when you set the property, all of the paths generated in the openapi-specification are missing it.

**Expected behavior**
The yaml should look like this:
[code]

**Actual behavior**
The yaml looks like this
[code]

**To Reproduce**
Project to reproduce:
[openapi-path-demo.zip](https://gith

[2020-07-09 16:02] EfraimLA commented on #10437
K and does it work with the same bean? The projection object?

[2020-07-09 16:13] geoand commented on #10614
Thanks for reporting!

`@RepositoryDefinition` isn't supported at the moment, but I don't see why we can't support it. I'll look into next week.

[2020-07-09 16:18] geoand commented on #10570
I am on PTO for a couple days, but a quick look at the fixed issues look good to me

[2020-07-09 16:23] xumk opened #10617 "Method countQuery does not create select if where are line break characters (\n)"
I have base functional for create where string, it create string with line break characters (\n).

code:

method count() is return exception:
`io.quarkus.panache.common.exception.PanacheQueryException: Count query not supported for select query: FROM com.MyEntity WHERE field like :field
 and (1 = :value1 OR (field2 = :field2))
        at io.quarkus.hibernate.orm.panache.common.runtime.CommonPanach

[2020-07-09 16:27] gsmet commented on #10570
Yeah, same here, I would say let's go with it.

[2020-07-09 16:28] cescoffier commented on #3387
We should create an extension for vert.x config. It's relatively easy. However, some format would not be supported in native mode as the library used are not going to work in native.

[2020-07-09 16:30] TMBD commented on #10614
Thank's @geoand for your response.

It will really help me if you can implement it because I haven't found another alternative.
As long as it is the first time that I open a an issue, what can I do to follow it and be informed when it is supported ?

Also tell me if I have to close the issue or wait until the problem is solved...

[2020-07-09 16:30] cescoffier commented on #1766
After discussing it with @lburgazzoli, we should implement the extension in camel quarkus.

[2020-07-09 16:34] radcortez commented on #10570
Ok, pushing a release. Sorry @geoand I missed to check you were on PTO :(

[2020-07-09 16:43] geoand commented on #10570
No worries 😊

On Thu, Jul 9, 2020, 19:34 Roberto Cortez <notifications@github.com> wrote:

[2020-07-09 16:56] geoand commented on #10614
I'll post an update here when I have one, so just keep an eye out for this issue

[2020-07-09 17:23] phillip-kruger commented on #10616
I'll look at this.

[2020-07-09 17:58] gastaldi commented on #10617
@xumk good catch, would you be interested in providing a pull-request (with a reproducer test)?

[2020-07-09 18:02] xumk commented on #10617
@gastaldi i could try

[2020-07-09 18:03] yahmed153 commented on #4224
Also tried use the delombok maven plugin with no success

http://anthonywhitford.com/lombok.maven/lombok-maven-plugin/usage.html

[2020-07-09 18:14] danilomeneghel commented on #10466
Hi @marcelorubim

Yes, I identified that the problem is in "@FormParam", but if I take this note there I can not get the value sent by the form to save in the database.

I didn't quite understand what you suggested doing, but I tried to extend this class, but it was wrong:

Quarkus is unable to interpret "inputStream.readAllBytes()".
Can you tell me if you need to import an external lib?

[2020-07-09 18:22] danilomeneghel commented on #10467
Yes, this is the project:
https://github.com/danilomeneghel/votacao-pautas

If you try to open this link, for example, you will see that the "page cannot be found" template is not being rendered.

http://votacao-pautas.herokuapp.com/auth/asdasasd

Now if you try to access the project on localhost, for example this url below, you will see that the template loads.

http://localhost:8080/auth/asdasas

[2020-07-09 19:06] sirAlexander commented on #10112
@phillip-kruger I fixed the issue by getting rid of the ingress re-write rule for now and setting 'quarkust.http.root-path=/test-service'

[2020-07-09 19:13] phillip-kruger commented on #10112
Ok. Still not sure if we can close this though. Seems like you bypassed the problem ?

Are you setting the @server annotation at all ?

[2020-07-09 19:34] mejlholm opened #10618 "Flyway: add configuration for new createSchemas flag"
**Description**
Flyway has a new configuration flag: createSchemas. Lets add that to the existing quarkus flags for flyway.

**Implementation ideas**
Changes implemented here

https://github.com/mejlholm/quarkus/tree/flyway-create-schema

Will try to add some tests before creating a PR.

[2020-07-09 19:57] #10604 closed

[2020-07-09 20:08] nebrass commented on #10581
@geoand I made a try for the fix 😁 can you take a look please ?

[2020-07-09 20:21] zolyfarkas commented on #10118
No, I was using:

[code]

which is a [slf4j backend](http://www.spf4j.org/spf4j-slf4j-test/index.html) that does a few useful things for my unit tests. (like failing them if they log an error that is unasserted)

This resulted in a logging init issueat netty's InternalLoggerFactory:

[code]

the above exception handling is questionable, and made finding the issue very difficult.

The above code wa

[2020-07-09 20:21] geoand commented on #10581
Thanks! I'm on PTO, so I'll check when I get back

[2020-07-09 20:50] aloubyansky commented on #10607
Looking at the stacktrace, this should already be fixed in master by https://github.com/quarkusio/quarkus/pull/10450
Is there a chance you could give the master branch a try @wjglerum ? The nightly 999-SNAPSHOT also contains the referenced fix, just in case https://oss.sonatype.org/content/repositories/snapshots/io/quarkus/quarkus-core/999-SNAPSHOT

[2020-07-09 21:03] oscarfh commented on #9737
This is very cool! I will take a look as soon as I can.
I will close this ticket for now. Thanks a lot!

[2020-07-09 21:03] #9737 closed

[2020-07-09 21:07] geoand commented on #10614
I'm on PTO, but I took at look at @RepositoryDefinition and as I expected this is really easy for us to implement. I'll fix it soon and hopefully we can have it for 1.6.1.Final

[2020-07-09 22:23] tkalmar opened #10623 "JUnit Extension is loaded with wrong classloader inside @QuarkusTest"
**Describe the bug**
(Describe the problem clearly and concisely.)
When using an custom JUnit extension the classloader for the extension is different then the classloader for the actual test.
This is only inside `@QuarkusTest` annotated tests.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Same classloader as test.

**Actual behavior**
(Describe the actual behavior

[2020-07-09 22:37] marcelorubim commented on #10466
Hi, @danilomeneghel!

No, you do not need any import.

inputStream is one of the parameters from the function readFrom

[2020-07-09 23:22] seseso opened #10625 "Agroal health check blocks endpoint"
**Describe the bug**
Trying to access /health endpoint but it returns nothing and server logs a bunch of warnings:

2020-07-10 00:17:02,682 WARNING [io.ver.cor.imp.BlockedThreadChecker] (vertx-blocked-thread-checker) Thread Thread[vert.x-worker-thread-1,5,main]=Thread[vert.x-worker-thread-1,5,main] has been blocked for 173021 ms, time limit is 60000 ms: io.vertx.core.VertxException: Thread blocked

[2020-07-09 23:32] hbelmiro commented on #8656
@gastaldi Today there are two formats that can be used: "common" and "combined".
We will create the third one (long):

[code]

So we need to create the new format using the attributes defined in [this table](https://quarkus.io/guides/http-reference#quarkus-vertx-http-config-group-access-log-config_quarkus.http.access-log.rotate)

But there isn't an attribute for all headers. The existing attribute

[2020-07-09 23:41] famod commented on #10607
@tkalmar this is the same exception maciej was running into today...

[2020-07-09 23:50] stuartwdouglas commented on #8656
I would add %{ALL_HEADERS} that dumps it in the one per line format. If there is a request for the single line format we can look at it later.

[2020-07-10 00:15] #9622 closed

[2020-07-10 00:21] stuartwdouglas commented on #10118
The ClassLoader isolation is necessary to make transformers work, without
it a lot of features won't work in tests.

Can you try adding a META-INF/quarkus-extension.properties file to your
application, and putting the following line in it:

parent-first-artifacts=org.spf4j\:spf4j-slf4j-test-junit5,org.slf4j\:slf4j-api

No idea if this will work, but in theory it will tell Quarkus to not use
class

[2020-07-10 00:23] stuartwdouglas commented on #8286
Basically what the Thread Context ClassLoader is at as many relevant points as possible (e.g. the start of each test, expected failure point, start of scheduled task execution, anywhere else that seems relevant).

[2020-07-10 00:55] danilomeneghel commented on #10466
OK.
Yes, but this code above did not work.
Does not recognize inputStream.readAllBytes()

[2020-07-10 01:58] #10582 closed

[2020-07-10 02:17] danilomeneghel opened #10627 "How to solve @FormParam Date"
- Entity

`
	@Column(name = "data_inicio_sessao")
	@FormParam("data_inicio_sessao")
	public Date dataInicioSessao;
`

- Controller

`
    @POST
    @Consumes(MediaType.MULTIPART_FORM_DATA)
    @Produces(MediaType.APPLICATION_JSON)
    @Transactional
    @Path("/new")
    public Object addSessao(@MultipartForm @Valid Sessao sessao) {
    	if(sessao.idpauta != null) {
	    	Sessao loaded = sessaoSer

[2020-07-10 05:07] #10484 closed

[2020-07-10 05:30] zhangwanli666 commented on #7683
I'm having the same problem with an application built using a native image, quarkus version 1.6. 0.final, graalvm version is 20.1.0.

[2020-07-10 05:33] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/164144357

[2020-07-10 06:18] cescoffier commented on #7791
Actually, I believe it's already fixed.

I've the following properties:

[code]

The first channel uses a "blank" `bootstrap.servers`, the second channel omits it completely.

My broker runs on 9093 (while the default is 9092).

I tried:

[code]

[code]

[code]

All these configurations work.

Can you recheck with the latest release? Maybe I miss something obvious.

[2020-07-10 06:22] privatejava opened #10628 "Quarkus native building for AWS Lambda takes forever."
**Describe the bug**
I have created a project which runs good in desktop and I wanted to run it in AWS Lambda Environment so to do that I did exactly same procedure according to the guide. But the compilation never completes even after 2 hours so I have to quit the build. I build another project with very tiny dependencies and it builds and deployed correctly. However not this project.  The projec

[2020-07-10 06:43] geoand commented on #10614
#10629 takes care of this

[2020-07-10 06:48] privatejava commented on #10628
I did try out quarkus : `1.6.0.Final ` and pushed the code to github but the problem is still the same.

![image](https://user-images.githubusercontent.com/1856055/87124896-46203980-c2a9-11ea-9ddd-c5784832e4ce.png)

[2020-07-10 07:16] wjglerum commented on #10607
@aloubyansky thanks for your reply! This morning I gave the nightly `999-SNAPSHOT` a try and that seems to work again indeed with `mvn quarkus:dev`. Both for the example projects and our project that we are working on.

Looking forward to the 1.6.1 release. When can we expect a `1.6.1.Final` with this fix?

[2020-07-10 07:22] aloubyansky commented on #10607
Thanks a lot for giving it a try @wjglerum. @gsmet can answer that question.

[2020-07-10 07:22] #10607 closed

[2020-07-10 07:38] TMBD commented on #10614
Ok @geoand. I'll follow it.

[2020-07-10 07:54] mkouba commented on #10510
See https://github.com/quarkusio/quarkus/pull/10529

[2020-07-10 07:58] bertm commented on #10435
The difference between 1.4.2 and 1.5.0 in this respect is that in 1.4.2 `QuarkusTestExtension.beforeAll` used to set the TCCL, and this functionality is moved to `beforeEach` in 1.5.0 (since 478b7870d98ba270a95b480f8e4cf8bdea262216 in an attempt to fix #9273).

Unfortunately `beforeEach` is not triggered for dynamic tests (as per [JUnit documentation](https://junit.org/junit5/docs/current/api/org.

[2020-07-10 08:19] lburgazzoli commented on #1766
Tracking that issue here: https://github.com/apache/camel-quarkus/issues/1469

[2020-07-10 08:37] marcelorubim commented on #10466
Well, are you using which Java version?

If its 8, you should migrate to Java 11. This codes worked on Java 11.

https://docs.oracle.com/javase/9/docs/api/java/io/InputStream.html

[2020-07-10 08:39] michalszynkiewicz opened #10631 "Code gen/gRPC reload enhancements for Gradle"
At the moment, `CodeGenProvider`s are not invoked in the gradle dev mode.
It caused failures of some gradle tests (that only occurred on CI, which made it hard to reproduce).

This task is to make it work properly.

The relevant places have TODOs that mention `#10631`

[2020-07-10 08:53] lordofthejars opened #10633 "Create a better exception message when Quartz is used"
**Description**

With a pure programmatic Quartz approach, with a code like:

[code]
You get the next exception:

[code]

When you add the next property:

[code]

Then everything works as expected, so I think that it would be nice to have a better error message saying, I couldn't generate the Scheduler, maybe you have not set the property to true? So people can figure out quickly what is the probl

[2020-07-10 08:56] gsmet commented on #10608
So fast-jar is totally different from the existing approaches and put everything in the `target/quarkus-app/` directory. That's why you don't find the runner jar.

The problem here IMHO is that we should throw an error if you specify both fast-jar and uberjar as it doesn't make sense. @stuartwdouglas WDYT?

[2020-07-10 09:00] gsmet commented on #10625
Looks very weird and certainly not something expected. @barreiro @Sanne any idea?

[2020-07-10 09:04] andreas-eberle commented on #10608
Is there some documentation on the fast-jar stuff? I haven't really found some. This would be an important thing to mention.

[2020-07-10 09:06] andreas-eberle commented on #10608
@gsmet: Maybe it would make sense to use the same property (`quarkus.package.type`) for both (fat-jar and fast-jar). Both options are packaging types and this would make it obvious that you cannot use both at the same type but only choose one packaging option.

[2020-07-10 09:16] dzwicker commented on #7104
Can you please provide the reason for removing this task? Set a property at build time is some kind freaky and relay old school. We can also provide a build.properties file. A dedicated Task for such an important distinction is a better way I believe.

[2020-07-10 09:17] loicmathieu commented on #10563
Can your provide a more complete use case, possibly with not-working code, so we can have a better idea of where the issue lies.

[2020-07-10 09:21] crissi98 commented on #10616
Thanks for looking into it @phillip-kruger
I also took a deeper look into it and I think I have a simple solution for the problem:
https://github.com/crissi98/quarkus/commit/786a9d7a57d1222d45e98ab73a2711c3c9202e0a

[2020-07-10 09:30] phillip-kruger commented on #10616
Hi @crissi98 that looks right, will you do a PR with that change ?

[2020-07-10 09:35] glefloch commented on #7104
We've updated the `quarkusBuild` task to add a `nativeArgs` property, such as: https://quarkus.io/guides/gradle-tooling#building-a-native-executable.

[2020-07-10 09:41] 50846731925714380692 opened #10635 "Resteasy artifact partially considered for CDI during tests"
**Describe the bug**
I have created an example project to demonstrate the bug [here](https://github.com/50846731925714380692/tmp-qrks)
quarkus-resteasy artifact contains an Exception Mapper implementation for 404 Not Found responses (io.quarkus.resteasy.runtime.NotFoundExceptionMapper).

When we register our own ExceptionMapper<Throwable> then:

The Provider(NotFoundExceptionMapper) is registered

[2020-07-10 09:46] sberyozkin commented on #10603
CC @radcortez

[2020-07-10 09:50] radcortez commented on #10603
Weird, I'll give it a try with Gradle.

@andreas-eberle can you confirm the version of SmallRye Config showing up in your dependencies?

[2020-07-10 09:59] andreas-eberle commented on #10603
Thanks @radcortez for this hint. I realized I had a module with an additional old `gradle.properties` file which should not have been there. After removing that file, it works fine now. Sorry for the false alarm and thanks again for the quick help!!

[2020-07-10 09:59] #10603 closed

[2020-07-10 10:07] radcortez commented on #10603
Great! Thank you!

[2020-07-10 10:12] jerboaa opened #10637 "Quarkus NativeImageBuildStep fails with perm denied with podman 2.x"
**Describe the bug**
This bug originated here:
https://bugzilla.redhat.com/show_bug.cgi?id=1854738
and here:
https://groups.google.com/g/quarkus-dev/c/8LVoqk4G5uc/m/M5MAVopLAwAJ

Basically with podman 1.x --userns=keep-id contained a bug which got fixed with 2.x which results in quarkus build failures with options `-Pnative -Dquarkus.native.container-build=true -Dquarkus.native.container-runtime=p

[2020-07-10 10:16] gsmet commented on #10461
OK, so this is a normal behavior: by default when a JDBC driver is around, the jdbc datasource is also active.

So either you add:
[code]
to your config.

Or even better, you simplify things with:
[code]
That way the default datasource is enabled in both JDBC and reactive mode and Liquibase consumes the default datasource too.

[2020-07-10 10:29] #10593 closed

[2020-07-10 10:47] sberyozkin commented on #7414
Hi @DorianMaliszewski @pedroigor I'm trying to figure out if we should keep the issue open or there is some scope here for Quarkus web sockets or oidc to do something. I'd like to keep closing some OIDC issues :-).
We can add some utility support for binding the cert to the ticket, but I guess it can be easily done in the filter.
@DorianMaliszewski Are you OK if I close this issue ? May be you can

[2020-07-10 10:48] sberyozkin commented on #5827
See #10613

[2020-07-10 10:48] #5827 closed

[2020-07-10 10:50] sberyozkin commented on #5755
Hi @stianst @pedroigor I'm thinking of closing the issue for now and revisiting it later when we get some concrete user interest; or we can do some initial exchange support and let users experiment, what do you think ?

[2020-07-10 10:52] sberyozkin commented on #3064
I'll close this issue for now as realistically we'd need to bypass Vertx oAuth2 for it to work, I can revisit once we have an OAuth2 client support code in place

[2020-07-10 10:52] #3064 closed

[2020-07-10 11:00] dodalovic commented on #10509
Any thoughts by anyone?

[2020-07-10 11:12] #10572 closed

[2020-07-10 11:47] loicmathieu commented on #9667
@sorin-costea I plan to work on improving the logging guide.

`quarkus.log.console.enable` is true by default so you should be able to remove it. Can you try and give feedback ?

`quarkus.log.console.level` is by default at `ALL` so you should be able to skip this as it will by default emit all log events, the configuration property `quarkus.log.level` should be enought. Can you try and give feedb

[2020-07-10 11:50] Gui-Yom opened #10640 "Warning with kotlin constructor injection"
**Describe the bug**
I get warnings about 'unrecommended usage of private members in application beans'. I should not get those warnings since those members are declared public (same behavior when I declare them public explicitly). However, the injection works fine since I can use the object after.

**Expected behavior**
No warnings.

**Actual behavior**
Warnings
[code]

**To Reproduce**
Example :

[2020-07-10 12:03] jaikiran commented on #10628
Hello @privatejava, your environment details states that you are using `20.1.0` of Graal VM whereas your screenshots show that it's using `20.0.0`. Can you make sure it really uses `20.1.0` version and see if there's an change in build timings?

[2020-07-10 12:04] zellerr opened #10641 "Kubernetes resources get duplicated then trying to use existing resources in src/main/kubernetes"
**Describe the bug**
I'm trying to customise the generated Kubernetes resources of the Kubernetes extension by providing base resources.

From the documentation I understand that if the custom resource has the same name like the generated one it will be merged together into one resource.
However, I find the resource duplicated instead.

Not sure if something is wrong or if I have an error in reaso

[2020-07-10 12:06] jaikiran commented on #10628
By the way, the `classlist` phase taking 24 seconds is extremely high. That's a sign that it perhaps has picked up way too many classes/jars in the classpath. Unfortunately, given that this requires a AWS account to try and reproduce, I won't be able to give it a try. I also notice that you are triggering this build from your IDE (Netbeans?). Can you give it a try outside of the IDE, from the comm

[2020-07-10 12:25] geoand commented on #10641
cc @iocanel

[2020-07-10 13:01] pedroigor commented on #5755
I vote for close and wait.

[2020-07-10 13:07] #10614 closed

[2020-07-10 13:08] jaikiran commented on #10589
Hello @max-grigoriev, I just gave this a try and you are right, the native image generation didn't even complete after more than 30 minutes or so (I killed it after that). There's another similar report https://github.com/quarkusio/quarkus/issues/10628 where the user let it run for 2 hours and even then it didn't complete. The common factor between both these seems to be AWS Lambda extension.

The

[2020-07-10 13:10] jaikiran commented on #10628
There was another user with a similar issue. I could reproduce that issue. I have added a suggestion to that issue here https://github.com/quarkusio/quarkus/issues/10589#issuecomment-656667649. Can you follow that one and give it a try and see if that helps (make sure you are on `20.1.0` of GraalVM to try that)?

[2020-07-10 13:14] evisentin opened #10643 "Quarkus 1.6.0.Final does not resolve profile-scoped variables correctly in the configuration"
the following configuration does not work on Quarkus 1.6.0.Final:

[code]

when I use `mvn quarkus:dev` the service picks the wrong port: 8081 ( it ignores the **%dev** profile and resolves the wrong version of **_'my.application.http.port'_** ),
while it works perfectly with Quarkus 1.5.2.Final

This configuration, on the other hand, works fine with both versions
[code]

[2020-07-10 13:15] #8416 closed

[2020-07-10 13:22] galderz commented on #10498
@gsmet @jaikiran We can make sure it gets backported to Mandrel 20.1. I'll handle that.

[2020-07-10 13:22] #5213 closed

[2020-07-10 13:27] tkalmar commented on #10623
Perhaps related or identical to #10435

[2020-07-10 13:39] gsmet commented on #10627
/cc @asoldano

[2020-07-10 13:53] hbelmiro commented on #8656
What about %{ALL_REQUEST_HEADERS}? Or should %{ALL_HEADERS} dump the response ones too?

[2020-07-10 13:55] mkouba commented on #6450
@rsearls Is it still a problem with the latest version of quarkus? (1.6.0 to this date)

[2020-07-10 13:55] stuartwdouglas commented on #8656
All request headers is probably best.

On Fri, 10 Jul 2020, 11:54 pm Helber Belmiro, <notifications@github.com>
wrote:

[2020-07-10 14:04] #10579 closed

[2020-07-10 14:14] #10234 closed

[2020-07-10 14:18] #9478 closed

[2020-07-10 14:34] DorianMaliszewski commented on #7414
It's ok no problem :)

[2020-07-10 14:34] #7414 closed

[2020-07-10 14:57] famod commented on #9895
@radcortez Do you think this can be done (rather easily)? Or would it require fundamental changes, maybe even to `smallrye-config`?

[2020-07-10 15:02] MastanaGuru commented on #9890
@stuartwdouglas, I have two quarkus applications (a rest service and a graphql) deployed in openshift with ssl enabled
[code]
Graphql application does not give the vertx exceptions, but the rest service does. Attached logs from both apps.

[Quarkus-RestService.txt](https://github.com/quarkusio/quarkus/files/4903838/Quarkus-RestService.txt)

[Quarkus-graphql.txt](https://github.com/quarkusio/quarku

[2020-07-10 15:18] radcortez commented on #9895
To support it out of the box, yes do require a few changes, but since we added the latest release of SmallRye Config to Quarkus 1.6, extending config feature should be easier.

Profiles are now implemented using a built-in interceptor in SmallRye Config:
https://github.com/smallrye/smallrye-config/blob/master/implementation/src/main/java/io/smallrye/config/ProfileConfigSourceInterceptor.java

Anyo

[2020-07-10 15:27] iocanel commented on #10641
Will have a look at it.

[2020-07-10 15:32] FroMage commented on #10187
I confirm it's fixed

[2020-07-10 15:35] famod commented on #9895
@radcortez Thanks a lot for this valuable information!

[2020-07-10 15:35] sberyozkin commented on #7414
@DorianMaliszewski Thanks, please post the blog link once it is ready to the forum :-), I recall other users were asking about a similar issue

[2020-07-10 15:36] loicmathieu commented on #5789
@abelsromero the issue with Intellij and VSCode autocompletion should comes to the fact that they hardcoded the list of possible levels from `java.util.logging.Level` and not from `org.jboss.logmanager.Level` that adds additional levels.

Can you report this to them ? I don't know if we can do something at Quarkus side.

[2020-07-10 15:37] sberyozkin commented on #5755
Ok, let me close for now and we can quickly reopen once needed :-)

[2020-07-10 15:49] alexander-dammeier opened #10644 "Print quarkus profile info before exec custom startup methods"
**Description**
In our quarkus service there is a method called at startup which connects to our database. We use different databases depending on the quarkus profile. When i start quarkus and the db is somehow not reachable, then there is no information about the profile in the log, because quarkus will stop directly after the startup method, so i have no chance to see if it is simply the wrong p

[2020-07-10 16:18] hacst commented on #9832
I see the same discrepancy when using maven. I don't think it's related to metrics (not using them). It also seems to be present in 1.6.0.Final:
[code]

For me:
[code]
Works around the issue for me.

The versions cannot be the whole story though as this workaround is not needed in 1.5.0.Final even though it shows the same version mismatches.

[2020-07-10 16:24] pjeanjean opened #10646 "`Malformed input or input contains unmappable characters` with paths containing UTF-8 characters in native"
**Describe the bug**
When compiling a Quarkus project with the native profile and running it in a Docker container, it becomes impossible to use either `java.io` or `java.nio` with paths that contain UTF-8 characters.
It works fine when running the same project with maven's `compile` command.

**Expected behavior**
Being able to access paths that contain UTF-8 characters with the native image.

**

[2020-07-10 16:59] seseso commented on #10625
I've figured it out:
I had a second datasource configured in application.properties (but not used), to a second oracle database. This database was down and it was taking a (very very) long time to return a response to a connect request (not sure why, but also happens with SQLDeveloper).

For this reason, I'll close this issue.
Thanks!

[2020-07-10 16:59] #10625 closed

[2020-07-10 17:55] geoand commented on #10640
Hi,

The way the constructor of the  Route has been written

[code]

means that Kotlin will add the  `@Inject` annotation to the `mapper` field. I presume what you wanted to do was add  `@Inject` to the constructor - you could do that like so:

[code]

However doing that is redundant in Quarkus, because the `DummyEndpoint` class only has one constructor and therefore the `@Inject` annotation is no

[2020-07-10 17:55] #10640 closed

[2020-07-10 17:56] geoand commented on #10643
cc @radcortez

[2020-07-10 18:11] max-grigoriev commented on #10589
@jaikiran I was able to build Alexa skill with additional params you provided.  Thanks.

P.S. I received a lot of errors like this:
[code]

and I could build my Alexa skill only after I added `--allow-incomplete-classpath` but I think it's wrong. Are there any docs for Quarkus + Native + Logging?

[2020-07-10 18:20] vsevel commented on #10390
https://github.com/smallrye/smallrye-config/issues/196 was fixed by https://github.com/smallrye/smallrye-config/pull/313 as part of milestone 1.9.0. waiting for the release.

[2020-07-10 18:21] vsevel commented on #9991
https://github.com/smallrye/smallrye-config/issues/196 was fixed by https://github.com/smallrye/smallrye-config/pull/313 as part of milestone 1.9.0. waiting for the release.

[2020-07-10 18:47] famod commented on #10623
Some more context:
Initially, I was trying to trouble-shoot this together with @tkalmar and we even tried `QuarkusTestBeforeEachCallback`, but with that approach we couldn't even get the annotation (here: `@Unfriendly`) from the test method because it was loaded in two classloaders. We could see the annotation in the debugger, but `context.getTestMethod().getAnnotation(Unfriendly.class)` returned

[2020-07-10 19:04] tkalmar commented on #10623
You are right, but this does not change the result. ;) Thanks for reviewing was a little late.

[2020-07-10 19:06] tkalmar commented on #10623
For anyone hitting this problem our current workaround is an JunitExtension/Interceptor hybrid. For `@QuarkusTest` the interceptor kicks in and saves the day.

[2020-07-10 19:27] hacst opened #10648 "quarkus-universe-bom too large for Azure Artifacts in 1.6.0.Final"
**Describe the bug**
This isn't an actual Quarkus bug but @aloubyansky recommended to open one anyways.

With 1.6.0.Final quarkus-universe-bom is now 402KB. This exceeds the maximum pom.xml size limit of Azure Artifacts Feeds which is 384KB. This means trying to download Quarkus through such a feeds (same use-case as a nexus proxy upstream) will fail. I do realize that this is on Azure Artifacts.

[2020-07-10 19:27] evisentin opened #10649 "Quarkus 1.6.0.Final - generated kubernetes.yml has string values without quotes, it causes error on kubernetes."
**Describe the bug**
With version 1.6.0.Final, the generated kubernetes.yml has string values without quotes, it causes error on kubernetes.

**Expected behavior**
 with version 1.5.2.Final the generated kubernetes.yml has quotes for the string values:

[code]

**Actual behavior**
Using Quarkus 1.6.0.Final I obtain

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Use <quarkus-plugin.

[2020-07-10 19:42] geoand commented on #10649
What kind of error are you seeing?

The results should be valid YAML

[2020-07-10 19:48] evisentin commented on #10649
The *app.quarkus.io/build-timestamp
<http://app.quarkus.io/build-timestamp>: 2020-07-10 - 19:13:20 +0000*
without quotes breaks kubernetes when I apply the file,
it did not happen with version 1.5.2, where the value was
*app.quarkus.io/build-timestamp
<http://app.quarkus.io/build-timestamp>: "2020-07-10 - 19:19:48 +0000"*

Il giorno ven 10 lug 2020 alle ore 21:42 Georgios Andrianakis <
notificatio

[2020-07-10 19:48] geoand commented on #10623
The fact that the Quarkus JUnit extension uses it's own Classloader is fundamental and not something that can be changed.

So let's focus on what you are trying to achieve so we can see how things can be improved (perhaps with more/better hooks in the extension itself).

[2020-07-10 19:49] geoand commented on #10649
Can you paste the exact error you are seeing?

[2020-07-10 19:52] #10649 closed

[2020-07-10 19:53] evisentin commented on #10649
forgive me, It was a wrong configuration on my machine, it did not want to waste anyone's time :-(

[2020-07-10 19:53] geoand commented on #10649
No worries 😊

[2020-07-10 20:36] MarcusBiel commented on #10363
thanks

[2020-07-10 20:38] famod commented on #10623
We have a `ClockProvider` that (statically) provides the `java.time.Clock` that shall be used by the business code.
In tests we want to shift time so there is an alternative `TestClockProvider` with a setter and `TestClockProvider` has to be reset after each method (automatically).
We also want to use annotation driven time shifts, so that we can clearly see whether a test method uses a specific t

[2020-07-10 22:01] sberyozkin commented on #10363
Hi @MarcusBiel, @emmanuelbernard I've opened #10653 to resolve this issue. Note I think a dedicated PR of its own will have to be created to re-purpose the `security.adoc`, as there is much in Quarkus security beyond OIDC/OAuth2 (Vault, path based control, etc, etc). I'l deal with it in the next phase once the authentication docs are improved (they are now interlinked, their purpose is better desc

[2020-07-10 22:12] radcortez commented on #10643
Checking.

[2020-07-10 22:24] radcortez commented on #9895
@famod BTW if you want to support this OOTB, please open an issue in SmallRye Config :)

[2020-07-11 00:15] hbelmiro commented on #8656
New PR created [(10654)](https://github.com/quarkusio/quarkus/pull/10654).

[2020-07-11 01:30] danilomeneghel commented on #10466
It worked!

Thank you very much @marcelorubim.
It was the version of Java that had to change.

In my pom file it was still in version 1.8.
I moved now to version 14 of Java and it worked just fine.

[2020-07-11 01:31] #10466 closed

[2020-07-11 01:32] danilomeneghel commented on #10627
Resolved in this other Issue:
https://github.com/quarkusio/quarkus/issues/10466

[2020-07-11 01:32] #10627 closed

[2020-07-11 03:37] jaikiran commented on #10589
@max-grigoriev, glad to know it worked. By the way, I just realized the `pom.xml` that I had previously pasted was a wrong one. I've updated my previous comment to now include the right one. I too had to introduce the commons logging dependency to get past the ClassNotFoundException issues. I used the:

[code]
which is the recommended one (https://github.com/quarkusio/quarkus/pull/10474) when usin

[2020-07-11 03:56] jaikiran commented on #10498
Hello @galderz, I wasn't aware of Mandrel. Now that you mentioned it, I read up this doc https://github.com/graalvm/mandrel/blob/master/README-Mandrel.md. It does a good job explaining what it is and how it differs from Graal VM. The doc currently focuses on the runtime aspects of the differences.

On the development/dependency point of view, does Mandrel use a different set of Maven co-ordinates

[2020-07-11 03:59] jaikiran commented on #10646
Hello @pjeanjean, which version of Quarkus is this?

[2020-07-11 04:13] jaikiran commented on #10646
Can you try this instead:

and then do the rest of the steps and test the invocation?

[2020-07-11 04:44] jaikiran commented on #10637
FWIW, I get the same error with docker too:

[code]
fails during the *IT test runs when it tries to launch the native application for testing:

[code]
So this doesn't look specific to podman and impacts docker too. Here's the output of `docker version` command:

[code]

[2020-07-11 08:07] oztimpower commented on #10628
FYI - you can run AWS Lambda locally, it doesn't require an AWS account - the SAM CLI mounts a docker container (Quarkus Amazon Lambda guide has good docs on this).

[2020-07-11 08:16] oztimpower commented on #10628
Is this because of all these extra index-dependencies added in the `application.properties`?  @privatejava May I ask why have added all the libraries to the Jandex index?

[2020-07-11 09:25] geoand commented on #10623
+1

Thanks for the explanation. So currently what is missing is the ability to easily get the annotations of the test methods and / or classes?

[2020-07-11 09:47] tkalmar commented on #10623
The main problem here are the different class loaders. You can`t expect every single junit extension out there to be aware of quarkus. The extension in the reproducer is working fine with junit but not inside a quarkus test. Should we rewrite all extensions, which rely on class path to be aware of quarkus tests? What about reusing such extensions in quarkus and non quarkus projects? What about thi

[2020-07-11 09:53] famod commented on #10623
@geoand basically what @tkalmar just said plus:

Yes, properly getting a custom annotation from a test method or class via a QuarkusTestCallback should "just work".

The ideal DRY solution though, would be to just use the very same Junit5 extension that is needed anyway for simpler, non-Quarkus tests.

I think we should at least document this limitation in case such a change is against the current

[2020-07-11 10:09] geoand commented on #10623
I understand where you are coming from, but unfortunately using the same classloader is not an option. We did that up until Quarkus 1.2 and it had some pretty bad consequences.

+10 for the documentation parts. Indeed I don't think we explicitly mention either the CL limitation or the Quarkus specific callbacks

[2020-07-11 10:49] famod commented on #10623
I'll see what I can do for the documentation parts.

Regarding that annotation lookup problem in the QuarkusTestCallback: Couldn't we maybe add a method to the context that is working around the problem?

@tkalmar WDYT, given the need to register a QuarkusTestCallback for all tests (via ServiceLoader mechanism), would we still keep our interceptor workaround even in case annotations could be prope

[2020-07-11 10:52] geoand commented on #10623
Thanks!

We don't have that already? I'd need to check. But if we don't, then yeah, it makes perfect sense.

[2020-07-11 11:09] oztimpower commented on #10479
What do you suggest? How would this work, i.e how would you declare what you wanted to include?

[2020-07-11 11:33] tkalmar commented on #10623
The reading of the annotation is only one aspect. We somehow would need access to the classloader of the Test, so we could change the static member of the `StaticProvider`. I understand why the `QuarkusExtension` need an independent classloader but why is such an clasloader forced on all other extensions?

[2020-07-11 11:39] geoand commented on #10623
Depends on what you mean by forced.
If another extension needs to probe/interact with the actual test class (the one loaded by the Quarkus ClassLoader, not the original one loaded by JUnit), then that extension needs to implicitly used the Quarkus ClassLoader. That isn't a Quarkus specific limitation, it's just how classloading works in general.

[2020-07-11 12:21] gunnarmorling commented on #10479
I think some simple naming patterns could do the trick, e.g. like so:

[code]

There might be precedence for other cases in Quarkus, in which case the same pattern should be followed.

[2020-07-11 12:26] tkalmar commented on #10623
Why should an "normal" non quarkus aware extension need to know that there is another classloader? If i have a quarkus specific extension i'm totaly on your side but in this case it does not meet my expectations about JUnit extensions. I expect an extension to have the same classloader as the actual JUnit test execution.

[2020-07-11 12:34] geoand commented on #10623
I understand your expectation, believe me I do. But as I said before, that's how Quarkus 1.2- worked, and unfortunately it caused a lot of headaches in more cases than the current model. So we are unlikely to go back to that model.
The ideal solution for both Quarkus and users would be for JUnit to allow the use of a custom ClassLoader for tests - that would make things totally transparent (see is

[2020-07-11 12:40] tkalmar commented on #10623
The point i don't understand is why our extension is loaded inside the quarkus classloader? Shouldn't stay quarkus out of the way in this case and leave the extension to JUnit execution?

[2020-07-11 12:45] geoand commented on #10623
I haven't seen or run your code, but I think the problem is exactly the opposite of what you describe. Your extensions **is** being loaded by the system classloader (since that is what JUnit 5 uses to load extensions), but because Quarkus is loading the actual test class from its own classloader, you are getting unexpected results.

[2020-07-11 12:51] tkalmar commented on #10623
You are right. Extension is loaded inside system CL and the test runs under quarkus CL :/

[2020-07-11 12:55] tkalmar commented on #10623
So can we somehow detect this case or is our interceptor/JUnit extension hybrid the way to go until JUnit allows for custom class loaders?

[2020-07-11 12:56] famod commented on #10623
@tkalmar

Hm, I was under the impression that if we got somehow past that annotation problem we would actually be running in the proper CL (in the QuarkusTestCallback).
Must have remembered that wrong, darn late hour debugging sessions. :wink:

[2020-07-11 12:57] geoand commented on #10623
I would need to look / run at your code to be able to answer this

[2020-07-11 13:20] tkalmar commented on #10623
Ok thanks for the explanation. The reproducer is near to the goal, i can extend it to include our workaround if that helps.

[2020-07-11 14:13] zhangwanli666 commented on #7683
I tried the jvm version of the deployment and found that it no longer reported this exception

[2020-07-11 15:04] tkalmar commented on #10623
Ok, i extended the reproducer to showcase our workaround. This turns all tests green.

[2020-07-11 15:09] abelsromero commented on #5789
Leaving plugins aside here. If I understand correctly the configuration is mapped here https://github.com/quarkusio/quarkus/blob/369c6b4d7b7b5211a7fc64ad844fae4f2fe67f7b/core/runtime/src/main/java/io/quarkus/runtime/logging/LogConfig.java#L37 and there `java.util.logging.Level` is being used, not `org.jboss.logmanager.Level`.
https://github.com/quarkusio/quarkus/blob/369c6b4d7b7b5211a7fc64ad844fae

[2020-07-11 16:25] privatejava commented on #10628
I tried that build args and now it is showing some output unlike before. But there are now a lot of error messages.  It seems i need to now follow some standards according to graalvm for class initialization. I have put my native compilation error logs at here : https://gist.github.com/privatejava/b64260713e0374db98e94ebfdb1adfdd

[2020-07-11 16:26] privatejava commented on #10628
Because so that it would not complain about the aws dependency compatibility. eg.

[code]

[2020-07-11 17:52] yahmed153 commented on #6896
Hi all, any idea when an AWS CredentialProvider might be completed. Or should I go ahead and roll my own. Thanks for your time.

[2020-07-11 20:30] xumk commented on #10617
@gastaldi I do not understand. I build project in local machine and run ./mvnw process-sources but git cli return: QueryMatcherTest.java' has not been previously formatted.  Please format file and commit before running validation!
local project don't have changes after successful execution command  ./mvnw process-sources
What am I doing wrong?

[2020-07-11 21:14] rahmanusta opened #10658 "Failed to create project: expected START_TAG or END_TAG"
**quarkus-maven-plugin** doesn't generate pom.xml correctly

![image](https://user-images.githubusercontent.com/1158804/87233846-6f38eb00-c3cb-11ea-9927-84bfa92643ba.png)
![image](https://user-images.githubusercontent.com/1158804/87233855-87a90580-c3cb-11ea-85c4-04fdcad9aead.png)

**Expected behavior**
${maven_repositories}${maven_plugin_repositories}  placeholders should be replaced properly.

**

[2020-07-11 21:20] famod commented on #10658
I can reproduce this on Windows 10 with Maven 3.6.3 and AdoptOpenJDK 11.0.7.

[2020-07-11 21:23] famod commented on #10658
Can you try 1.6.0.Final? Seems to work for me.

[2020-07-11 21:28] rahmanusta commented on #10658
It has worked, thanks

[2020-07-11 22:27] ShqiprimBunjaku commented on #10563
Suppose we have following hierarchy:

**Company hierarchy**
`@BsonDiscriminator(value = "Base")
public class BaseCompany {
}
`
`@BsonDiscriminator(value = "CompanyType1")
public class CompanyType1 extends BaseCompany{
}`
`@BsonDiscriminator(value = "CompanyType2")
public class CompanyType2 extends BaseCompany{
}
`

**Update Logs hierarchy**
`@BsonDiscriminator(value = "Base")
public class UpdateLo

[2020-07-11 22:32] fwgreen commented on #10617
I've had similar problems with [Text Blocks](https://openjdk.java.net/jeps/378) but didn't open an issue because they are still a preview feature.  Hopefully this fix will resolve those as well.  Thanks for your work!

[2020-07-12 01:28] stuartwdouglas commented on #5789
org.jboss.logmanager.Level extends java.util.logging.Level

[2020-07-12 06:11] fgiloux commented on #10158
@iocanel some input from my side:

- what to do when multiple resources of the same kind are generated.
I am not sure that I am following. If that is related to the file names above they were just examples. You could have <component>-sa.yaml, <component>-deploy,yaml, etc
You can also leverage namePrefixes to have all resources having names that are specific to the app. CommonLabels and CommonAnnot

[2020-07-12 10:09] abelsromero commented on #5789
I think I understand it and I am not saying is wrong, what I am tryng to express is that for someone going through the docs is really confusing. If the configuration is mapped to `java.util.logging` for extensibility, at least levels available should be better described.
This is my subjective experience (so take it witha  grain of salt), in the Logging guide, at some point there is this list of le

[2020-07-12 10:46] mejlholm commented on #5905
Would be nice to get some input on this one - most of the tracing libs are getting outdated.

I'd be happy to do the bumping and test if it works.

Does anybody know if there a some dependencies between jaeger/smallrye-opentracing that we need to sort out? Perhaps @pavolloffay?

[2020-07-12 10:57] pjeanjean commented on #10646
Hello,

I am running the version currently set with the `getting-started` example : 1.6.0.Final.

I still have the issue when I add the argument (the right parameter was `-Dquarkus.native.additional-build-args` by the way)

[2020-07-12 11:11] pavolloffay commented on #5905
Jaeger client 0.34.2 should depend on  thrift 0.13.0. This jaeger version is safe to use since it uses the same OpenTracing API version as the current MicroProfile version.

We will be able to update to Jaeger 1.x once OpenTracing version is updated to 0.33.0 which will be in MP 4.0

[2020-07-12 11:13] pavolloffay commented on #5905
Here is the history of 0.34 branch https://github.com/jaegertracing/jaeger-client-java/commits/release-0.34

[2020-07-12 12:04] Neirth opened #10661 "quarkus-mongodb-client - More control over connections pool"
**Description**
I was implementing your mongodb driver when I realized that there is no way to control or avoid the connection pool, I understand that your intention is that each connection is injected into the classes that need it, but in the projects in which we have our Connection pool itself is a serious problem, especially when we have the connections numbered so that another connection pool

[2020-07-12 12:14] famod commented on #10658
@rahmanusta Thanks for your feedback. Can you please close this issue then? Thanks!

[2020-07-12 12:14] #10658 closed

[2020-07-12 13:42] 38leinaD commented on #10472
I have confirmed it by adding
    org.gradle.jvmargs=--enable-preview
to ~/.gradle/gradle.properties.
This sets the jvm args for the gradle daemon itself. And now the build passes.
I assume the augmentation would needs to run in its own JVM processes for this to work. Same for Maven i assume.

[2020-07-12 14:12] mejlholm commented on #5905
Thanks, I'll create a PR that bumps to 0.34.3, while we wait for the new major versions.

[2020-07-12 19:21] mejlholm commented on #5905
Unfortunately it pulls in the banned dependency javax.annotation-api 1.3.2. I've excluded it for the time to see if it builds now:
https://github.com/mejlholm/quarkus/tree/bump-jaeger

[2020-07-12 19:42] knutwannheden commented on #10623
FWIW: In a related problem I had when struggling with Quarkus' classloading in the context of JUnit 5, I ended up defining my JUnit extension inside a Quarkus extension, so that I could use `<parentFirstArtifact>` to get Quarkus to load specific classes using the parent classloader. This may not be applicable to your use case, however.

[2020-07-12 22:12] emdfonseca commented on #10528
Hi @dcram, as a workaround you can always create your own CodecProvider that extends the PojoCodecProvider with the OptionalPropertyCodecProvider.

[code]

[2020-07-12 22:19] akoufa opened #10665 "Hibernate Reactive database generation issue"
Hello. I am using Quarkus 1.6.0.Final and trying out Hibernate Reactive. I found the following issue when adding the properties:

[code]

Error:

[code]

It works when using

[code]

[2020-07-12 22:20] #10618 closed

[2020-07-12 23:04] dpiotti commented on #10592
I am also trying to use this feature and the context is returning null

[2020-07-12 23:05] dpiotti commented on #10592
Do you suggest an alternative way to get the request context?

[2020-07-12 23:38] patriot1burke commented on #10592
@dpiotti Yes, don't use Funqy, use Quarkus Amazon Lambda integration.  Funqy is supposed to be cross-platform and independent of Amazon APIs.  I gotta fix the docs. Should never have put that example in.

[2020-07-13 05:08] jscottnz commented on #8035
Hello. I am using quarkus 1.6.0-Final and experiencing this error. I can work around it with the `Thread.currentThread().setContextClassLoader(ClassLoader.getSystemClassLoader());` method.

[2020-07-13 05:18] geoand commented on #10644
Quarkus already has this (I don't recall exactly which version added it). See this example output:

[code]

[2020-07-13 05:19] geoand commented on #10644
My mistake, I see that the application failed to start in your use case.

[2020-07-13 05:37] #10641 closed

[2020-07-13 05:54] geoand commented on #10540
I don't see anything obviously wrong here...

[2020-07-13 05:55] geoand commented on #7683
@iocanel any idea?

[2020-07-13 06:00] geoand commented on #10623
I just looked at the reproducer and indeed in this case the Quarkus test callbacks would be the way to go (although obviously not perfect for the reasons we have already mentioned).

I didn't see any code however showcasing the annotation retrieval problem. Do you have that anywhere?

[2020-07-13 06:26] iocanel commented on #7683
It seems that the kubernetes deserializer can't find a resource with apiVersion v1 and kind status.

Need to check if such resource exists and which module provides it.

[2020-07-13 06:33] Postremus opened #10669 "HV: Include cause in message about "Missing parameter metadata""
**Description**
During quarkus startup I get following message about missing parameter metadata multiple times. My project is already compiled with -parameters, as well as all my external libraries.

Could information about the cause of the message (like class and method name) be added please?
This should help in resolving this warning on my side.

`13.07.2020 06:22:17 WARN  [org.hibernate.validat

[2020-07-13 06:40] cescoffier opened #10670 "Reactive Routes should contribute to the OpenAPI descriptor"
**Description**

Reactive Routes do not contribute to the OpenAPI descriptor, so it's not possible to document them that way or call them using Swagger.

[2020-07-13 06:53] haraldatbmw commented on #10055
@iocanel @geoand Let me know when the new dekorate release is in place inside quarkus master branch. Then i will give it a test to my openshift environment.

[2020-07-13 08:16] geoand commented on #10055
@haraldatbmw yeah, there is a new dekorate release in `master`, so if could give it a try, we would be grateful.

[2020-07-13 08:25] zhfeng commented on #6490
@kevingty @gsmet I just raise the PR https://github.com/quarkusio/quarkus/pull/10671 to add the mybatis extension. Can you take a review please ?

[2020-07-13 08:30] geoand commented on #10669
Thanks for reporting.

Do you perhaps have a small project that we can use to reproduce this issue?

[2020-07-13 08:32] mkouba commented on #4632
For the record - Jandex is able to obtain the param names info from the debug info as well (`-g`) and since `maven.compiler.debug` is true by default, I think it's safe (at least for maven projects) to expect this info to be present if only accessed **at build time via Jandex API**. That's not the case for JAX-RS but other extensions can benefit from this info. Of course, a meaningful error messag

[2020-07-13 08:37] geoand commented on #10623
Also, as of Quarkus 1.6, `QuarkusTestAfterEachCallback` and `QuarkusTestAfterEachCallback` take `QuarkusTestMethodContext` as an argument, which gives access to the test method

[2020-07-13 08:59] tkalmar commented on #10623
Exactly what i tried at first, but the annotation is always null (i can see it in the debugger but it is not loadable/retrievable). I enhanced the reproducer to showcase this.

[2020-07-13 09:02] geoand commented on #10623
OK thanks, I'll have a look soon

[2020-07-13 09:10] loicmathieu commented on #5789
@abelsromero please see PR #10672 where I improve the logging doc, it should clarify things a little.

There is indeed two questions that worth investiguating:

- Why is there an `INFO` level added in JBoss Log Manager even so there is already one in JUL ?
- Why is the config type mapped to JUL, I try to change it to JBoss Log Manager and it worked (but I didn't commit that change for now).

Maybe

[2020-07-13 09:12] lordofthejars opened #10673 "OutboundSseEvent is not correctly serialized"
**Describe the bug**

When creating a `OutboundSseEvent` object and returning it back in a REST Endpoint it is not correctly serialized.

**Expected behavior**

`Server-Side Event` is sent back and it is able to be deserialized correctly.

**Actual behavior**

Either an exception that the object cannot be serialized or in case of using

[code]

Then all properties like `name`, `data`, `comment` ..

[2020-07-13 09:28] geoand commented on #10046
https://github.com/quarkusio/quarkus/pull/10674 adds this capability

[2020-07-13 09:38] haraldatbmw commented on #10055
@geoand Just tried with the current master branch without success. The generated openshift.yml still contains the whole S2I stuff.

[2020-07-13 09:44] geoand commented on #10055
@iocanel can you shine some light on what the status of this is?

[2020-07-13 10:31] mkouba commented on #6450
Hm, what I observe with your reproducer (after I add the `org.jboss.arquillian.junit:arquillian-junit-container` dependency to fix a compilation problem) is that `@Before setup()` and `@After after()` are called too many times (both are invoked 4x instead of 2x, ie. for each test method).

[2020-07-13 10:33] #9086 closed

[2020-07-13 10:36] radcortez commented on #10643
Hey @dmlloyd, just want to check something with you.

This is happening because our interceptor Expression expansion does not reevaluate the entire chain, so to resolve the profile (if exists) in the expression. We had that discussion, about having a way to reevaluate the chain, or just proceed to the next interceptor and we decided to just proceed.

In this case, we would need to reevaluate the c

[2020-07-13 10:38] radcortez commented on #10570
I've pushed the fix to SmallRye Config and updated Quarkus here:
https://github.com/quarkusio/quarkus/pull/10615

[2020-07-13 10:57] geoand commented on #10623
#10675 fixes the annotation lookup issue - essentially was what happening was that `QuarkusTestMethodContext` contained the method from the original class - not the one loaded from the Quarkus ClassLoader.

[2020-07-13 11:09] rvansa commented on #9464
Thanks for the suggestions, @Sanne - as I've mentioned keeping it all in single file is not suitable as some parts are suitable for production and the test data is not.

Yes, Flyway or Liquibase could probably do the trick - I was considering using Liquibase before but did not realize that it can be used for the initial setup as well - my bad Flyway is even menioned in https://quarkus.io/guides/hi

[2020-07-13 11:28] famod commented on #10623
Thanks @geoand!

Do you see a chance to register QuarkusTestCallbacks also via annotations (similar to what is possible for Junit5 extensions which is also used in the reproducer)?
This would certainly be a separate enhancement issue though.

[2020-07-13 11:31] uberto opened #10677 "Development Mode with multiple maven modules not working"
**Describe the bug**
I'm not sure if this is a genuine issue or a known limitation.
I also checked in the doc but I couldn't find any reference to it.

I've tried to re-create our production project module organisation in a mini project on github:
https://github.com/uberto/h4kcluster-quarkus

Now we have different modules for domain, adapter, ui and the actual applications.

We don't have any sour

[2020-07-13 11:36] geoand commented on #10623
Yeah, we could do that as well. Feel free to open an issue and ping me and Stuart. I'm +1 for it, but Stuart might have some good reason for not adding it.

[2020-07-13 12:13] aloubyansky commented on #10677
And w/o `-pl`?

[2020-07-13 12:26] dmlloyd commented on #10643
Possibly.  But in this particular case, would it not make more sense to put the profile interceptor later in the chain than the expression interceptor?

[2020-07-13 12:50] jaikiran commented on #10646
Hello @pjeanjean, can you please post the complete command the the logs that you see on the console when you build the native image using the additional property I noted above? That might give us some hint on what's going wrong.

[2020-07-13 13:00] #10046 closed

[2020-07-13 13:04] dmlloyd commented on #5789
The answer to this question is in the essay down below.

The short answer is: `CONFIG` is not an Apache level.  But see below.

That project still uses JIRA: https://issues.redhat.com/browse/LOGMGR

---

Here's the deal with log levels - a little history and context.

Way back at the dawn of time, when primitive humans were banging rocks together and the current version of the JBoss application se

[2020-07-13 13:18] Sanne commented on #9464
nice, thanks @rvansa .

[2020-07-13 13:21] ubertobarbini commented on #10677
then quarkus:dev would fail with "null pointer execption"
(there are no sources in the main project)

[2020-07-13 13:24] famod commented on #10677
That NPE is probably the one from #10607?

What happens when using `-f launcher` or `cd launcher`?

[2020-07-13 13:26] aloubyansky commented on #10677
Right, `-pl` is excluding projects from the Maven reactor, iirc.

[2020-07-13 13:37] radcortez commented on #10643
That may be also a possibility.

In that case, configurations like:
[code]

[2020-07-13 13:45] dmlloyd commented on #10643
The interception mechanism was meant to solve these recursion issues, so it would be nice to do this "right" and order the interceptors to get the desired behavior.

[2020-07-13 13:48] #10644 closed

[2020-07-13 14:14] tcollignon opened #10682 "java.lang.NoSuchMethodError: java.lang.String.getBytes()[B on graalvm Linux RHEL"
**Describe the bug**
I create a new quarkus 1.6.0.Final project with nothing special (only quarkus-rest-client and no code)
Java 11.0.3
If I run on Linux RHEL 7 and GraalVM and I got this error :

`java.lang.NoSuchMethodError: java.lang.String.getBytes()[B `

**Expected behavior**
I should run it without error (In a bigger usecase I have picocli and small amount of code, but to test I delete all t

[2020-07-13 14:19] dmlloyd commented on #10682
This looks like a GraalVM bug to me: the JNI support library should be registering `getBytes()` as JNI-reachable but apparently is not doing so.

A workaround could be to define an `@AutomaticFeature` to register the `String#getBytes()` method for JNI access.  See [the GraalVM docs](https://www.graalvm.org/docs/Native-Image/user/JNI#reflection) for a bit more information.

[2020-07-13 14:19] geoand commented on #10682
@galderz or @rsvoboda  have you ever encountered this?

[2020-07-13 14:21] radcortez commented on #10643
Yes, but in one case you want to resolve an expansion with a profile, so you need the order to be Expand -> Profile, and in the other you want to resolve the profile and then expand, so you need Profile -> Expand.

BTW the case were you get the recursion if you reorder the interceptors, is when you point a profile property to the main property (with the same name). Regular cases work just fine. So

[2020-07-13 14:26] iocanel opened #10683 "Jib extension ignores `quarkus.container-image.username` and `quarkus.container-image.password`"
**Describe the bug**
Added the following properties to my application.properties

    quarkus.container-image.registry=docker.io
    quarkus.container-image.username=iocanel
    quarkus.container-image.password=<my password>

and run: `mvn clean install -Dquarkus.container-image.push=true`

**Expected behavior**
Image should be pushed

**Actual behavior**
Fails with 401 error
Works find with the c

[2020-07-13 14:28] geoand commented on #10683
Weird, this sounds like a regression

[2020-07-13 14:29] evisentin commented on #10643
@radcortez, forgive me if I break into your conversation.

Of course it does not make any sense at all to set a `%prof.my.prop` to `my.prop`. I totally agree with you.

I just want to point out the case I used in the issue is not this.

[code]

[code]

[2020-07-13 14:29] dmlloyd commented on #10643
I don't think that's true.  There doesn't seem to be any reason or use case to justify doing profile mapping first, since you get the same result from the perspective of the expression expander.  In fact there's a good reason to put it towards the end of the chain: no other interceptor really needs any awareness of profiles.

[2020-07-13 14:35] #10596 closed

[2020-07-13 14:36] Mahaswami opened #10684 "Native build failed with Class initialization and UnresolvedElementException exceptions while using Jasper Report"
**Describe the bug**
Native build failed with class initialization exception and UnresolvedElementException for many classes in the jasperreports library.

[code]
Included --initialize-at-run-time build option and specified all jasperreports classes for which there were errors to delay their initialization to run time.

[code]

After this the class initialization exceptions are gone. But the other

[2020-07-13 14:38] iocanel commented on #10683
There is a good chance the issue is related to passwords changes not taking immediate effect, as its started working after a while with no code changes.

[2020-07-13 14:38] ubertobarbini commented on #10677
with -f I got this error:

Could not resolve dependencies for project com.ubertob.h4kcluster:launcher:jar:1.0.0-SNAPSHOT: Could not find artifact com.ubertob.h4kcluster:sumnumbers-app:jar:1.0.0-SNAPSHOT in jcenter (https://jcenter.bintray.com/)

(it cannot solve launcher dependencies on other subprojects: sumnumbers-app is not on jcenter)

I've same result if I try to launch quarkus:dev from the l

[2020-07-13 14:47] pjeanjean commented on #10646
Sure
[log.txt](https://github.com/quarkusio/quarkus/files/4913198/log.txt)

[2020-07-13 14:50] radcortez commented on #10643
@evisentin no worries, feel free to provide any feedback :)

Yes, we understand the reported use case. I was just discussing about some other possible implications. Considering the example cases:

[code]

[code]

Currently, Case B works and Case A doesn't, because order is Profile resolution first and then Expansion. If we change the order, Expansion first and then Profile, Case A now works, but C

[2020-07-13 14:53] tcollignon commented on #10682
Hi
Thx for quick reply!
@dmlloyd How can I add  @AutomaticFeature ?
I create JNIRegistrationFeature  in my project ?

[2020-07-13 14:55] aloubyansky commented on #10677
Is `sumnumbers-app` in the same workspace? If so has it been compiled? Or packaged? Is it installed in the local repo?
Normally, `mvn clean compile quarkus:dev` should work. If it can't find a local dependencies it means it hasn't been built (compiled or packaged) or installed into the local repo.

[2020-07-13 14:55] rsvoboda opened #10690 "Quarkus bootstrap resolver can't resolve spi / deployment 999-SNAPSHOT dependencies when running integration-tests"
Quarkus bootstrap resolver can't resolve spi / deployment 999-SNAPSHOT dependencies when running integration-tests. I do `mvn deploy` of Quarkus master into the Artifactory instance to avoid building Quarkus master in every job I need to run against Quarkus master.

I do run some DB tests from integration-tests module and they fail with the error `Caused by: org.eclipse.aether.resolution.ArtifactR

[2020-07-13 15:02] dmlloyd commented on #10643
I do not believe this is true (though I guess you meant the expression to be `${%dev.app.http.port}`).  Profile resolution should (or at least could) still pass through properties where the profile was explicitly given, if we want this case to continue to work.

[2020-07-13 15:04] dmlloyd commented on #10682
Right.  The class name doesn't matter though; you could call it `FixTheGraalVMBug` if you wanted to.  The important part is the annotation on the class, and overriding the `beforeAnalysis` method of the `Feature` interface to register the missing method.

[2020-07-13 15:13] radcortez commented on #10643
Ops, I've messed something up on the Case B sample. It should look like this:

[code]

In this case:

Expand `app.http.port`
  Profile lookup on `app.http.port` and `%dev.app.http.port` (to pick the highest one)
     Profile `%dev.app.http.port` wins
       Expand to `app.http.port`
         Loop :)

[2020-07-13 15:20] aloubyansky commented on #10690
Do we know whether this is a regression?

[2020-07-13 15:23] galderz commented on #10498
@jaikiran The coordinates would be the same, only the version would change. However, we've not yet published Mandrel artifacts since we've not had the need to do so. I'll work with the other Mandrel engs to publish them.

If the difference is only the version, for a Maven build they could override the version in their pom.xml, or pass in as command line argument:

[code]

[2020-07-13 15:25] mkouba opened #10691 "Document SyntheticBeanBuildItem"
`SyntheticBeanBuildItem` can be used to to register a bean whose instance can be easily produced through a recorder.

[2020-07-13 15:30] #10581 closed

[2020-07-13 15:33] dmlloyd commented on #10643
OK, yeah that case was always expected to fail AFAICT, for the same reason that `foo=${foo}` is always expected to fail.

[2020-07-13 15:40] radcortez commented on #10643
Yes, there is no way around foo=${foo}, but for %dev.foo=${foo} it may be different since they can be considered two properties.

Anyway, not much point to continue the discussion around this. Let's just assume that this is not supported and I'll fix the interceptor order in SmallRye Config.

Thanks @dmlloyd !

[2020-07-13 15:49] #10363 closed

[2020-07-13 15:49] #10587 closed

[2020-07-13 15:50] sberyozkin commented on #10363
@MarcusBiel, @emmanuelbernard I'll CC you once I open a security page update PR

[2020-07-13 16:18] r00ta commented on #7791
Hi @cescoffier , we've just upgraded our services to Quarkus 1.6 and it works fine. Thank you very much!

[2020-07-13 16:21] ubertobarbini commented on #10677
`sumnumbers-app` is a module in the same project.
If I do a mvn install first then
` mvn quarkus:dev -f launcher`

it starts the app but it still not detecting any changes I'm doing in `domain` or in `sumnumbers-app`

In gradle I can specify dependencies between "siblings" using project dependecies but there is nothing like that in maven, afaik.

On the other side since once it runs everything sho

[2020-07-13 16:24] itboy87 commented on #7440
Hi @angrymango thanks for creating jooq extension. I'm new to quarkus so I don't have an idea how to add extensions that are not available by quarkus. Can you please tell me how I can use your extension in my project and also better if have some doc. I'm using Gradle.

[2020-07-13 16:25] ubertobarbini commented on #10677
[code]

this is the console output at startup

if I try to change something in `domain` or `sumnumber-app` there is not notification...

but if I touch the `launcher` module I can see:
[code]

So, I wonder if it's a problem with source location, since it's a Kotlin project...

[2020-07-13 16:29] ubertobarbini commented on #10677
Is there a way to know the list of the folder where quarkus is listening for changes?

[2020-07-13 16:32] ricardozanini commented on #7791
Thanks @r00ta and @cescoffier, I'm closing this one for now. :)

[2020-07-13 16:32] #7791 closed

[2020-07-13 16:40] sberyozkin opened #10694 "Repurpose Quarkus Security Page"
As proposed by @emmanuelbernard:
[code]
+1. lets do it :-)
CC @MarcusBiel

[2020-07-13 16:57] sberyozkin opened #10695 "Implicit binding between beans and Qute templates"
I've been looking through the cool [Qute guide](https://quarkus.io/guides/qute), one proposal is to support an alternative way of doing:
[code]
with something like:
[code]
or
[code]

@mkouba Hi Martin, what do you think ?

[2020-07-13 17:27] privatejava commented on #10628
Finally I fixed the issue , I have replaced log4j with slf4j and also fixed the JGit using quarkus extension's jgit dependency. @jaikiran that one really helped me thank you

[2020-07-13 17:46] sebthom commented on #9505
@aloubyansky @gsmet AFAIK the correct variable for Maven 2 or higher is M2_HOME and not MAVEN_HOME (which was used in Maven 1). So Quarkus should at least evaluate M2_HOME too, as it may be already set.

[2020-07-13 17:55] famod opened #10696 "Infra/CI: Archive **/target/**/*.log and maybe more"
**Description**
CI is currently not archiving all logs that are needed to analyze failures. E.g. in https://github.com/quarkusio/quarkus/pull/10647#issuecomment-657698281 I am missing `integration-tests/maven/target/test-classes/projects/multimodule-resources-classpath/build-multimodule-resources-classpath.log`.
This is especially obstructive when flaky tests are involved and/or your local operati

[2020-07-13 17:58] iocanel opened #10697 "Fabric8 Kubernetes Client system properties and environment variables should be ignored."
**Describe the bug**
Currently, environmnet variables like `KUBERNETES_MASTER` are picked up by the `kubernetes-client` possibly causing issues that are really hard to troubleshoot.

**Expected behavior**
All internal variables to fabric8/kubernetes-client should be ignored and only properties passed via quarkus should be used.

**Actual behavior**
fabric8/kubernetes-clinet internal variables and

[2020-07-13 18:27] geoand commented on #10697
This would be a breaking change for people that already rely on the feature

[2020-07-13 18:37] iocanel commented on #10697
Yeah, but it's a feature not documented and not intended. So, I seriously doubt if anyone does use it intentionally.

[2020-07-13 20:36] aloubyansky commented on #9505
@sebthom see https://maven.apache.org/docs/3.5.0/release-notes.html and https://issues.apache.org/jira/browse/MNG-5607

[2020-07-13 20:43] geoand commented on #10697
Yeah I agree. We just need to warn folks

[2020-07-13 21:06] rsvoboda commented on #10690
I can't say for sure, I haven't tried this approach before.

I tried to checkout 1.6.0.CR1 tag, install it into local repository and run the jpa-postgresql tests with custom settings and local repo. The execution went fine, tests passed.

The problem can be related to the difference  between snapshot vs. concrete version

[2020-07-13 21:15] MastanaGuru commented on #9890
I reinstalled everything, and dont see the exception any more.

[2020-07-13 21:54] sebthom commented on #9505
@aloubyansky Interesting, so this means neither M2_HOME (maven 2.x-3.4.x), nor MAVEN_HOME (maven 1.x) are supported by current Maven. Why is Quarkus evaluating MAVEN_HOME then at all? I actually came here because I was looking for a way to specify a custom maven settings.xml as I am using `mvn --settings path/to/my/settings.xml`.

Wouldn't it be more straightforward/less confusing if Quarkus allow

[2020-07-13 22:04] sberyozkin opened #10702 "Improve the doc-related PR builds"
I've broken a `documentation` build with this PR, https://github.com/quarkusio/quarkus/pull/10653#issuecomment-657671432, but the PR build did not detect it, both the PR build and myself were doing only `doc` builds :-).

Proposal: have both `doc` and `documentation` built

[2020-07-13 22:39] wmacibnc opened #10704 "error with @QuarkusMain java.nio.file.FileSystemNotFoundException"
**Describe the bug**
When I generate the .jar with @QuarkusMain and Quarkus.run (args) the error occurs:

Exception in thread "main" java.lang.RuntimeException: java.nio.file.FileSystemNotFoundException
	at io.quarkus.launcher.QuarkusLauncher.launch(QuarkusLauncher.java:50)
	at io.quarkus.runtime.Quarkus.launchFromIDE(Quarkus.java:93)
	at io.quarkus.runtime.Quarkus.run(Quarkus.java:79)
	at io.quar

[2020-07-13 22:52] radcortez commented on #1505
I was having another look into this around the JBeret model classes and what do we need to pass to the Quarkus recorders.

The JBeret model classes, like @jmartisk stated, are not really prepared to be used in the Quarkus Recorder. On the other hand, making the necessary changes, seems to undermine the original design of such classes.

Then I've found that JBeret provides Builders for such classes

[2020-07-13 23:21] famod opened #10705 "Support registration of QuarkusTest*Callback via annotation"
**Description**
See https://github.com/quarkusio/quarkus/issues/10623#issuecomment-657508098
The idea is to be able to register a `QuarkusTest*Callback` via annotation (as an alternative to global registration via service loader).

**Implementation ideas**
In Junit5 you can do that by either annotating your test class directly with `@ExtendWith(...)` or by creating a custom annotation that in turn

[2020-07-13 23:21] abelsromero commented on #5789
That's far more than what I expected, thanks.
I added some totally optional comments on the PR. Mostly stylistic, I hope they don't come up as too nitpicky, feel free to dismiss them if you consider they don't apply.

[2020-07-13 23:21] famod commented on #10705
/cc @geoand & @stuartwdouglas

[2020-07-13 23:25] asoldano commented on #9671
@liweinan, can you check this please?

[2020-07-13 23:31] famod opened #10706 "Document usage of QuarkusTest*Callback"
**Description**
See https://github.com/quarkusio/quarkus/issues/10623#issuecomment-657032948
`io.quarkus.test.junit.callback.QuarkusTestAfterEachCallback` and friends are not yet mentioned in the documentation but since you cannot use Junit5 extensions for all usecases due to how classloading works in Quarkus (e.g. see #10623), those Callbacks are an important test extension point.

**Implementati

[2020-07-13 23:34] famod commented on #10706
/cc @geoand & @stuartwdouglas

I'll assign this to me but I won't start working on this until a few days before 1.7.0.CR1 so that maybe #10705 is already implemented by then.

[2020-07-14 01:22] angrymango commented on #7440
Hi @itboy87, currently as the extension is not released the only way to use it is via a local build. In Maven that would mean:

**Warning - this should not be considered production ready!**

[code]

This will make the following dependency available:

[code]
Or for gradle something like:

[code]
You also need quarkus-agroal:

[code]
The minimum required configuration after adding you chosen databas

[2020-07-14 04:12] stuartwdouglas commented on #10704
You still need to launch the -runner jar and let the Quarkus maven plugin build your application, you can't attempt to use the copy-dependencies plugin to manually create the same structure and expect it to work.

[2020-07-14 05:10] guardianblue commented on #9986
@jmartisk We have refactored our code (moving the package dependencies around), and that the issue is no longer reproducible. While we cannot confirm the original cause of the problem we faced, it is quite likely that we have missing dependencies in some of our pom files.

[2020-07-14 05:11] pivovarit opened #10709 "Quarkus application ignores SIGINT during the bean initialization phase"
If I try to send SIGINT signal(ctrl-c) to an application that's in the process of injecting beans, the signal gets ignored.

**Expected behavior**
Applications should respond to SIGINT and terminate itself.

**Actual behavior**
The SIGINT signal gets ignored:

**To Reproduce**
Steps to reproduce the behavior:
1. Start with an empty _code.quarkus.io_ project
2. Create a bean that takes a lot of tim

[2020-07-14 05:21] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/168257475

[2020-07-14 05:48] jmartisk commented on #1505
@radcortez oh, sorry it seems I forgot to tell you that I have a JBeret branch where I have already started preparing JBeret model classes for this - https://github.com/jmartisk/jsr352/commits/quarkus

[2020-07-14 06:05] jmartisk commented on #9986
Great! Let me close the issue then.
If someone still faces it, we can always reopen.

[2020-07-14 06:05] #9986 closed

[2020-07-14 06:09] UnvirtualHH opened #10710 "1.6.0.Final K8S ImagePullPolicy not used anymore"
Since using Quarkus 1.6.0.Final the kubernetes imagePullPolicy is not used anymore. It is always IfNotPresent generated into the final kubernetes.yml

Obviously the parameter name changed to image-pull-secret (such changes should be documented in upgrade.md) but it is not working with new or old typo of the param.

Really annoying when previous working stuff breaks my build.

[2020-07-14 06:28] geoand commented on #10705
To me it makes sense, but I would like to hear from Stuart because maybe he can think of a good reason not to do this

[2020-07-14 06:43] fredmtyro opened #10711 "Using fast-jar breaks quarkus-container-image-jib in 1.6.0.Final"
**Describe the bug**
Quarkus 1.6.0.Final jib support fails to build an image when using `quarkus.package.type=fast-jar` due to library directory changes.

**Expected behavior**
When using quarkus-container-image-jib and `quarkus.package.type=fast-jar` the image build succeeds and is pushed to the repository.

**Actual behavior**
When using quarkus-container-image-jib and `quarkus.package.type=fast

[2020-07-14 06:46] geoand commented on #10711
Thanks for reporting.

This is a duplicate of #10586 and it has already been fixed in the master branch.

[2020-07-14 06:46] #10711 closed

[2020-07-14 06:48] UnvirtualHH commented on #10710
Well, actually trying to reproduce it with a new project and not able to get the error then. I'll try to give a reproducer or more info where the error could come from.

[2020-07-14 06:49] privatejava commented on #10628
I deployed today that lambda to AWS but now there is again another problem :
[code]

[2020-07-14 06:57] oztimpower commented on #10628
Hi @privatejava I downloaded your project to understand why you had all the Jandex additions, and whilst compiling I noticed you have a lot of unresolved dependency conflicts, which look like the cause of this error.  Can I suggest you exclude any transitive dependencies, and ensure the Quarkus versions are being used?  This is try for the way you are importing AWS libraries also, this is included

[2020-07-14 06:57] fredmtyro commented on #10711
Thanks, I should have also searched for closed issues!

[2020-07-14 06:57] geoand commented on #10710
I tried and could not reproduce the problem.

`quarkus.kubernetes.image-pull-policy=IfNotPresent` and `quarkus.kubernetes.image-pull-policy=Always` were being properly honored.

Also when the value was not configured, `Always` was being set

[2020-07-14 06:59] geoand commented on #10704
I'll close this since it's not a feature we support

[2020-07-14 06:59] #10704 closed

[2020-07-14 06:59] geoand commented on #10711
No worries :)

[2020-07-14 07:25] #10608 closed

[2020-07-14 07:34] geoand commented on #10184
Did we come to a conclusion on this one? Has it since been remedied?

[2020-07-14 07:37] geoand commented on #10159
So can we close this one as a proper workaround exists? Maybe we need to add some sort of documentation?

[2020-07-14 07:43] UnvirtualHH commented on #10710
So, needed some time to find the dependency that creates the failure.

Just add

<dependency>
        <groupId>io.quarkus</groupId>
        <artifactId>quarkus-container-image-jib</artifactId>
 </dependency>

[2020-07-14 07:43] geoand commented on #10041
@henrikengelbrink were you able to come up with a reproducer for this? We haven't had anyone report any similar issue

[2020-07-14 07:43] MarcusBiel commented on #10694
+1

[2020-07-14 07:46] iocanel commented on #10055
We have a PR pending. Once the tests pass, we will merge.

[2020-07-14 07:46] angrymango commented on #7440
The unit tests are now working.

[2020-07-14 07:46] geoand commented on #10710
I still can't reproduce it (I was already using jib as well).

Can you perhaps upload the project you are using to reproduce the error?

[2020-07-14 07:47] geoand commented on #10055
@iocanel can you please link the PR to this issue so it will be closed once the PR is merged?

[2020-07-14 07:52] UnvirtualHH commented on #10710
Sure.

[reproducer.zip](https://github.com/quarkusio/quarkus/files/4917314/reproducer.zip)

[2020-07-14 08:03] geoand commented on #10710
The build output gives a clear indication of why you are seeing what you are:

[code]

[2020-07-14 08:04] UnvirtualHH commented on #10710
Haha, ok....so always the same...Pebcak error....sorry for that error report.

[2020-07-14 08:05] geoand commented on #10710
No worries :)

[2020-07-14 08:05] #10710 closed

[2020-07-14 08:16] Ladicek commented on #10697
How come this is not intended? If it's a feature of Fabric8 Kubernetes client, and we advertise we use Fabric8 Kubernetes client, then we naturally expose its features, no?

[2020-07-14 08:21] geoand commented on #10697
I think @iocanel had someone report some kind of related error.

I was thinking about this, and I think that if we are going to do this, we should (via Quarkus config) be able to control whether or not the Client's natural wau of configuring itself will come into play or not

[2020-07-14 09:00] tassadar81 opened #10712 "Quarkus resource not found on subdir"
**Describe the bug**
Quarkus app doesn't serve default index.html resource on subdirs property with prod profile, on subdirs it gives a resource not found

**Expected behavior**
Serve the default index.html on subdirs like is happening launching the app with quarkus:dev

**Actual behavior**
put an  index.html inside src/main/resources/META-INF/resources one ndex.html insede src/main/resources/META

[2020-07-14 09:06] RotBolt opened #10713 "validate-extensions-json is not failing"
**Describe the bug**
`validate-extensions-json` quarkus maven plugin is failing

**To Reproduce**
Steps to reproduce the behavior:
1. Run the listExtensionsIT maven test
2. `validate-extensions-json` fails for this

**Configuration**
no configuration

**Screenshots**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:
 Linux rot-machine 5.3.0-59-g

[2020-07-14 09:06] RotBolt commented on #10713
cc @aloubyansky

[2020-07-14 09:17] privatejava commented on #10628
Hi @oztimpower thanks for the effort. I really appreciate it. Yes, there are a lot of things that I kept public in a git repository but none of them is persistent as it gets deleted automatically by this same application. As this is not good practice for the opensource project but soon I will clear everything.

I removed all other BOM but Quarkus and now the dependencies got resolved for some but

[2020-07-14 09:18] uberto commented on #10677
Yay! the issue was on the different source:

adding
[code]
to the child pom fixed the hot replace issue.

I think it's still a minor bug since it shouldn't be needed (maven compile perfectly wihtout it)

The other not very cool issue is that the time for hot replace is now in a completely different ballpark than with a single module (same quantity of code) :(
[code]

[2020-07-14 09:18] sberyozkin commented on #6896
@yahmed153 Can you look at #10663 please ?

[2020-07-14 09:46] sberyozkin commented on #10702
I've checked the CI runs on my new branch and they fail - not sure why there was a Merge button was activated when I was merging #10653, will keep this issue open for now
CC @gastaldi

[2020-07-14 09:57] radcortez commented on #1505
@jmartisk no worries, I've seen that :) You mention the commit with the changes in one of your previous comments.

My discussion here, is about the changes itself, for instance:
https://github.com/jmartisk/jsr352/commit/93b4c0d0d66cc50cb611ccc0d9deb14e9c6ac1d7#r40585600

Should we really make that change just because of Quarkus?

On the other hand, there are builder classes for Job elements, not s

[2020-07-14 10:09] jmartisk commented on #1505
@radcortez Not sure about how exactly you envision using `JobBuilder` instead. That's a public API meant for programmatic building of job definitions. JBeret internally reads job definitions from XML files directly into a `Job` instance. And the job builder itself depends on the same runtime model classes that the resulting `Job` will reference anyway.

So I think that if we don't want to change t

[2020-07-14 10:19] privatejava commented on #10628
After doing close look up at that error . I came to know it is coming from amazon ec2 HTTP library. We already have quarqified Amazon Ec2 right ?

`com.amazonaws.http.conn.ClientConnectionManagerFactory$Handler.invoke(ClientConnectionManagerFactory.java:76)`

[code]

[2020-07-14 10:20] rsvoboda commented on #10682
Nope, I haven't seen this (yet). I'm not on native lately.

@tcollignon is it RHEL 7 specific? And did you experience this with prior versions of Quarkus/GraalVM?

[2020-07-14 10:23] famod commented on #10696
/cc @gastaldi

[2020-07-14 10:24] oztimpower commented on #10628
AWS SDK v2 is supported and there are specific Quarkus modules.

The package you highlight is AWS SDK v1 which is not supported.

[2020-07-14 10:24] jmartisk commented on #1505
Back to the JBoss Marshalling topic, @chengfang  please correct me if my understanding is wrong - AFAIU the main reason for introducing it was that job model classes are mutable. So for example, if you have a `Job` definition and the user runs a new job with specific parameters, the original `Job` is cloned and mutated to contain the parameters (they are part of the `Job` object), and then this ne

[2020-07-14 10:47] aloubyansky commented on #9505
At this point, it's used only to locate the `conf/settings.xml`. There actually is another reason for us to get hold of the Maven home dir but we are doing it based on the value of `maven.home` that the Maven CLI sets. So I am wondering whether we should also check MAVEN_HOME if the property wasn't propagated (e.g. in tests).
We need to be able to configure the Maven resolver and also properly int

[2020-07-14 10:48] radcortez commented on #1505
A possible solution would be to transform the `Job` into a `JobBuilder` again. Yes, the `JobBuilder` has all the other elements that would need to be transformed to their corresponding builder objects.

Maybe it's fine to change them. Let's see what @chengfang things about that. The changes don't seem to break JBeret tests, but my concern is to change the contracts, and developers might expect to

[2020-07-14 11:03] loicmathieu commented on #10702
@sberyozkin I'm the one that created the doc CI build that should detect such issue so i'm partialy the one to blame ;)

I notice that the build failed with this error:
[code]

The doc CI build only do a standard doc, but the regular CI seems to generates PDF (it uses `-Ddocumentation-pdf`) and it appears the issue was during PDF generation.

So we need to update the doc CI build to also generates

[2020-07-14 11:16] geoand commented on #10133
@rsvoboda I don't think this issue has been resolved yet :)

[2020-07-14 11:24] sberyozkin commented on #10702
Hi @loicmathieu It is only my fault :-), but yeah, lets add that `-Ddocumentation-pdf`, please create a PR, or I can do it ?

[2020-07-14 11:25] shumonsharif commented on #4005
@Dufgui @dufoli I have been looking forward to this extension for some time.  My apologies, but I wasn't 100% sure on whether you are working on getting the extension registered outside of quarkus, given the TODO list @dufoli created.  I'm happy to try to take on the remaining TODO list items, but wanted to check and confirm with you first.

[2020-07-14 11:37] burmanm opened #10716 "Hibernate reactive + Flyway extension causes UnsatisfiedResolutionException"
**Describe the bug**
Simply adding the `quarkus-flyway` extension when using Hibernate Reactive causes:

[code]

**Expected behavior**
Flyway should be usable in an application that uses the hibernate-reactive extension.

**Actual behavior**
Will not start.

**To Reproduce**
Steps to reproduce the behavior:
1. Take hibernate-reactive-quickstart
2. Add the following dependencies:
[code]

3.  mvn qu

[2020-07-14 11:37] rsvoboda commented on #10133
wow, I just rebased RESTEasy master, this must be some kind of weird GH magic

[2020-07-14 11:38] geoand commented on #10133
Yeah... Sounds like a GH bug :)