[2022-11-24 05:29] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3537847939

[2022-11-24 05:44] #29187 closed

[2022-11-24 06:08] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3537848206

[2022-11-24 06:19] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3537851850

[2022-11-24 06:55] geoand commented on #29403
https://github.com/quarkusio/quarkus/pull/29459 takes care of the issue

[2022-11-24 07:02] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner-quickstarts/actions/runs/3537851185

[2022-11-24 07:06] #29434 closed

[2022-11-24 07:40] beikov commented on #9142
Hmm, a test fails with:

[code]

I guess you updates ANTLR in Quarkus? It's strange because I actually shade ANTLR, so not 100% sure what is going on there. I'll fix that though.

[2022-11-24 08:09] geoand commented on #29059
Thanks. https://github.com/quarkusio/quarkus/pull/29460 takes care of the issue

[2022-11-24 08:10] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3537850777

[2022-11-24 08:21] rsvoboda commented on #6588
`kogito-pmml-quickstart` test fails in native, CC @gitgabrio, @gsmet

[2022-11-24 08:24] rsvoboda commented on #6588
`Error: Class initialization of org.kie.dmn.feel.parser.feel11.FEEL_1_1Lexer failed. Use the option --initialize-at-run-time=org.kie.dmn.feel.parser.feel11.FEEL_1_1Lexer to explicitly request delayed initialization of this class.`

`Caused by: java.lang.UnsupportedOperationException: java.io.InvalidClassException: org.antlr.v4.runtime.atn.ATN; Could not deserialize ATN with version 3 (expected 4).

[2022-11-24 08:30] machi1990 commented on #29455
Hi @LazaroR94 can you share a simple producer project with the complete setup?

[2022-11-24 08:30] mkouba commented on #29455
You can try to skip executions via [`Scheduled#skipExecutionIf()`](https://quarkus.io/guides/scheduler-reference#conditional_execution) until the Kafka channels are ready. The problem here is that _"full application initialization"_ is not well-defined. Internally, both `quarkus-scheduler` and `quarkus-quartz` start the scheduler when the `StartupEvent` is fired. But Kafka channels are probaly ini

[2022-11-24 08:35] rsvoboda opened #29462 "DevUI CORS - hostname dns reverse lookup use-case"
### Description

DevUI CORS - enable hostname dns reverse lookup use-case, relates to https://github.com/quarkusio/quarkus/pull/29342#issuecomment-1325074506

Current hostname (`rsvoboda-mac` in my case) use-case behaviour:
Changing value using http://rsvoboda-mac:8080/api/q/dev/io.quarkus.quarkus-vertx-http/config triggers `2022-11-23 09:45:31,871 ERROR [io.qua.ver.htt.run.dev.DevConsoleCORSFilte

[2022-11-24 08:36] cescoffier commented on #29462
It needs to be explicit, but rather than that, great idea!

[2022-11-24 08:46] radtriste commented on #6588
Well, the problem will occur until next release of Kogito with Quarkus 2.15 I guess...

[2022-11-24 09:08] vsevel opened #29463 "Subclass type not marshalled in rest GET return type List<X>"
### Describe the bug

Given rest endpoint:

[code]

and classes:

[code]

I expect the `type` attribute to be returned for the `Parent` subclass. e.g. `[{"type":".ChildA",...`
It does work however, on object lists, assuming they are not at the top level.
We checked on `EAP`, and we have the expected behavior (`type` attribute is always returned, regardless of the object list being at the top level

[2022-11-24 09:44] brunobat commented on #29428
Can you please be more specific, with an example?
Which headers in the response to which request are you expecting to see?

[2022-11-24 09:54] benjaminrau commented on #29434
Thanks a lot for your efforts! Quarkus is really awesome!

[2022-11-24 09:56] #29425 closed

[2022-11-24 10:44] Ladicek commented on #29376
OK so the fix in Jandex seems to work fine with the other cases. I'll release 3.0.4 today.

I also reported the issue in https://youtrack.jetbrains.com/issue/KT-55128

[2022-11-24 10:47] #29059 closed

[2022-11-24 10:57] Ladicek commented on #29376
It also turns out that this bug was discovered before: https://youtrack.jetbrains.com/issue/KT-13228/Generate-annotations-on-types-in-JVM-8-target-mode#focus=Comments-27-4762338.0-0 Unfortunately the reporter didn't file a Jandex bug, so I didn't learn about it sooner.

[2022-11-24 11:08] mschorsch commented on #29376
Seems there is a workaround:

[2022-11-24 11:13] sag1 commented on #29059
Thanks a lot for the fix, really sorry, I haven't had time to provide a reproducer and managed to sanitize the headers

[2022-11-24 11:15] geoand commented on #29059
No problem

[2022-11-24 11:31] coiouhkc opened #29465 "[DevServices] [MQTT] Add MQTT DevService"
### Description

See https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/MQTT.20Dev.20Services

### Implementation ideas

Use Mosquitto image (https://hub.docker.com/_/eclipse-mosquitto/)

[2022-11-24 11:32] geoand commented on #29465
cc @cescoffier

[2022-11-24 11:32] geoand commented on #29465
@ctron would you be interested in implementing this?

[2022-11-24 11:35] coiouhkc commented on #29465
I'd be interested in implementing it as well

[2022-11-24 11:39] geoand commented on #29465
Cool! Go right ahead :)

[2022-11-24 11:39] knutwannheden opened #29466 "Duplicated Context in StartupEvent Observers"
### Description

In #28017 the scheduler was changed so that scheduled methods run in the context of a duplicated context. Now I have encountered similar problems in the context of a `StartupEvent` observer. I am thus wondering whether it would again make sense to change Quarkus, so that a duplicated context (and thus context locals) are available.

### Implementation ideas

_No response_

[2022-11-24 11:40] knutwannheden commented on #29466
/cc @cescoffier

[2022-11-24 11:41] vsevel commented on #27266
this is working fine.
I specified:
[code]

I added file `src/test/application-nativeit.yaml` with content:
[code]

and in `src/main/resources/application.yaml`:
[code]

during the build I see:
[code]

and when I run the app in production, I see:
[code]

and there is no more `The profile [X] used to build the native image is different from the runtime profile [Y]. This may lead to unexpected result

[2022-11-24 11:51] cescoffier commented on #29466
@mkouba I think we discussed it at some point, but I can't remember the outcome.

[2022-11-24 11:58] mkouba commented on #29466
https://github.com/quarkusio/quarkus/issues/27623 and https://github.com/quarkusio/quarkus/issues/27854 are related. I think that we should introduce some way (annotation?) to [wrap the notification like this](https://github.com/quarkusio/quarkus/issues/27854#issuecomment-1245026347).

[2022-11-24 12:03] geoand commented on #29463
This is **not** a Quarkus issue, but a Jackson issue.

This can be proven by running the following standard JUnit test:

[code]

If you run it, you'll see that the first test fails while the second one works.

I propose opening an issue in Jackson Databind

[2022-11-24 12:03] #29463 closed

[2022-11-24 12:30] ManasMaji opened #29467 "Add support for HTTP operation retries (with exponential backoff) in Kubernetes Client"
### Description

Fabric8's Kubernetes client has exposed HTTP operation retry configuration options with exponential backoff since version 5.5.0 [0]:
* `kubernetes.request.retry.backoffLimit`
* `kubernetes.request.retry.backoffInterval`

Request Quarkus to add similar configurations in [KubernetesClientBuildConfig](https://github.com/quarkusio/quarkus/blob/main/extensions/kubernetes-client/runtime

[2022-11-24 12:41] PaKu5 opened #29469 "Response Body in ClientExceptionMapper is always null"
### Describe the bug

We implemented a REST-Client using the quarkus-rest-client-reactive dependency.
For this client we added custom exception handling using the `@ClientExceptionMapper` annotation.
There we could read the body of the response.
e.g.:

[code]

Now with the new version the entity object is always null. (So error.getMessag will throw a NullPointerException)
(Also if we jus handle th

[2022-11-24 12:47] geoand commented on #29467
Good idea! https://github.com/quarkusio/quarkus/pull/29470 does just that

[2022-11-24 14:06] sberyozkin opened #29472 "Basic Auth HowTo and Tutorial content is identical"
### Describe the bug

At the moment, https://quarkus.io/version/main/guides/security-enabling-basic-auth-howto and https://quarkus.io/version/main/guides/security-enabling-basic-auth-tutorial have an identical content, giving a brief into to Basic Auth and linking to a Getting Started doc where Basic Auth is shown alongside Security JPA.

As far as I understand, in https://quarkus.io/version/main/

[2022-11-24 14:33] #29227 closed

[2022-11-24 15:14] JiriOndrusek commented on #17463
I'm sorry for the delay. Issue is already fixed in [commit](https://github.com/apache/camel-quarkus/commit/5967ae2f7a3f9ebc7d55a30eed705ebe49bca197) (for [issue](https://github.com/apache/camel-quarkus/issues/2651))

[2022-11-24 15:19] loicmathieu opened #29475 "Kubernetes resource generation: ability to generate an HPA"
### Description

Hi,

Currently, the Kubernetes resource generation covers almost all that is necessary for a typical deployment except the Horizontal Pod Autoscaler.
It would be greate to have it covered.

### Implementation ideas

_No response_

[2022-11-24 15:25] manovotn commented on #22211
@FroMage closing this issue as my PR fixes the scope clash problem. Feel free to reopen if there is anything else

[2022-11-24 15:43] manovotn commented on #17463
No problem, I was just checking if we can close this.
Thanks for looking into it!

[2022-11-24 15:43] #17463 closed

[2022-11-24 16:17] dmaio commented on #29463
The sample endpoint provided as a sample by @vsevel works perfectly as expected in EAP6 and Wildfly 21.0.1 even though the unit tests gives a different result.
As stated here: https://github.com/FasterXML/jackson-databind/issues/3656#issuecomment-1309497539 Jackson-databind never supported this.
As this case works at endpoint level, compared to EAP and Wildfly it can be seen as a regression.

[2022-11-24 16:22] geoand commented on #29463
I understand that it worked in EAP, but Quarkus is not EAP, so this definitely cannot be characterized as a regression.

Moreover, the workaround where we would need to use a TypeReference introduces extra logic and a performance cost in order to cater to this very subtle case, so I don't see it as a good tradeoff.

[2022-11-24 16:45] LazaroR94 commented on #29455
I will try to get a simple reproducer out when I get some time.

Do you have an example of how to use `skipExecutionIf()`? From what I read, it seems that it also observes the StartupEvent but maybe even then it's not sufficient as like you said, the channels are initialized afterwards.

[2022-11-24 16:50] #29157 closed

[2022-11-24 17:15] ozangunalp commented on #28600
@henrikcaesar I've been looking at our avro codegen support lately. Quarkus codegen support (avro or protobuf for grpc) looks at all source directories configured by the build tool. So if you are using the Maven you can use build-helper-maven-plugin to add an additional source directory and quarkus-avro will look at `source-dir/avro` for schema files to compile. For your use case you can configure

[2022-11-24 17:20] #29467 closed

[2022-11-24 17:21] Sanne commented on #9142
@beikov yes we're managing the ANTLR version and we just merged the upgrade to `4.10.1`, in preparation to the requirements of ORM 6.

https://github.com/quarkusio/quarkus/pull/27298

[2022-11-24 17:24] Sanne commented on #9142
P.S. not sure why your shading approach didn't work, but this should be easily solved by upgrading in Blaze as well and rebuilding it. Kinda interesting that you didn't already have a compatibility problem with ORM 6?

[2022-11-24 18:18] #29376 closed

[2022-11-24 19:34] tsegismont commented on #27386
Closed by https://github.com/quarkusio/quarkus/pull/29246

[2022-11-24 19:34] #27386 closed

[2022-11-24 19:35] tsegismont commented on #27386
@diegoherrojo if you still experience issues with a snasphot version or 2.15 (when it is released) please reopen.

[2022-11-24 22:07] Sanne commented on #6588
The more useful error message is this one:
[code]
I'm not sure why it's using `4.10.1` at runtime since I had enforced the use of the older version: https://github.com/quarkusio/quarkus-quickstarts/pull/1155/files

[2022-11-24 22:24] jcsim1024 commented on #28502
Update: I now have a working config group
- I need to add IT test
- I still have to know when database is postgres in `public Flyway createFlyway(DataSource dataSource)`

[2022-11-25 02:49] Eng-Fouad commented on #29107
@gsmet Any plan to implement this feature? Thanks.

[2022-11-25 04:35] nhatdau commented on #10891
Thanks @knuspertante much! Your reflect-conflig file saved my day.
btw, I use POI 5.2.3 and it also worked.

[2022-11-25 05:02] naah69 opened #29482 "Kubernetes extension support startupProbe"
### Description

`startupProbe` hadn't generated in kubernetes yaml.

this is my dependencies:
[code]

### Implementation ideas

1. add startupProbe in `KubernetesConfig`
2. add code in `KubernetesCommonHelper#createDecorators and KubernetesCommonHelper#createProbeDecorators`
3. add code in ` KubernetesCommonHelper#createStartupProbe`

[2022-11-25 05:26] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3545449908

[2022-11-25 06:05] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3545453970

[2022-11-25 06:08] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3545450321

[2022-11-25 06:20] geoand commented on #29436
cc @mkouba

[2022-11-25 06:21] geoand commented on #29469
Can you please attach a sample project that exhibits this behavior?

[2022-11-25 07:11] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner-quickstarts/actions/runs/3545453437

[2022-11-25 07:36] mkouba commented on #29455
There's a link to the docs in my preview comment...?

You're talking about `io.quarkus.scheduler.Scheduled.ApplicationNotRunning`, right? But you can provide your own implementation, i.e. a bean that implements `SkipPredicate`, and skip the execution as needed.

[2022-11-25 07:37] PaKu5 commented on #29469
Here is a link to an example project:
https://github.com/PaKu5/ExceptionMapperExample

You can just run the testcase. I printed the output of the response.
I used an example wiremock to create an 400 response with body.

Thank you!

[2022-11-25 07:38] PaKu5 commented on #29469
<img width="1792" alt="Bildschirmfoto 2022-11-25 um 08 33 07" src="https://user-images.githubusercontent.com/39551451/203926598-149b4f68-60fa-4176-8ab0-712a3fffbaa1.png">

[2022-11-25 08:00] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3545452894

[2022-11-25 08:17] geoand commented on #29469
@Sgitario any idea what changed in `2.13` and `2.14` that would cause this behavior?

[2022-11-25 08:29] tisba29 commented on #29469
This fix breaks the possibilty to read the response body of an error sent by a server (ex: 400) in a ResponseExceptionMapper :  https://github.com/quarkusio/quarkus/pull/29119

[2022-11-25 08:30] mkouba commented on #29436
I believe that this problem is fixed with https://github.com/quarkusio/quarkus/pull/29446. And I wasn't able to reproduce the issue in the main branch.

The fix targets 2.14.2.Final and should be backported in 2.13 as well.

Unfortunately, I'm not aware of any workaround; maybe just try use a raw type instead of `List<Integer>` in the consuming method?

[2022-11-25 08:30] #29436 closed

[2022-11-25 08:31] tisba29 commented on #29469
I also reproduce the problem in my project. Can't use 2.14.1 version, have to stay in 2.14.0 for now.

[2022-11-25 08:35] geoand commented on #29469
I can confirm that the problem does not occur in `2.14.0.Final` but does occur in `2.14.1.Final`.

[2022-11-25 09:00] mkouba commented on #29436
However, I'm not quite sure how does the Vert.x event bus handle generic types in the sense that the type is not considered during delivery of the event and e.g. if you send `List<Integer>` and the consumer receives `List<String>` then you may get a `ClassCastException`...

[2022-11-25 09:10] michalvavrik commented on #24609
@faskan Thanks for analysis, I'll have a look.

[2022-11-25 09:13] michalvavrik commented on #24609
@vladaman I don't think you case is related, however you provided very little information. I'd suggest that you open an issue and ping me there. Anyway, using `@Context` on resource method should work, e.g.
[code]

[2022-11-25 09:19] cescoffier commented on #29436
Yes, the types must match.

[2022-11-25 09:23] vladaman commented on #24609
Thanks @michalvavrik

We've completely moved away from approach above. Rather we refactored our code with AWS HTTP API Gateway integration which does the JWT validation. We just parse APIGatewayV2HTTPEvent event and extract claims.

This works for us and gets job done:
https://gist.github.com/vladaman/a7469213521f47575571c30c9b9b5aab

[2022-11-25 09:45] Ladicek commented on #29436
Agree, given the error message says `java.lang.ClassNotFoundException: java.util.List<java.lang.Long>`, which just points to `Type.toString()` again.

[2022-11-25 09:55] jerboaa commented on #29413
Is somebody looking into this or should we allow-list those warnings for now? This is creating unnecessary noise in CI.

[2022-11-25 10:03] zakkak commented on #29413
I'll take a look.

[2022-11-25 10:09] geoand commented on #29469
Actually I can no longer reproduce this problem with any version...

[2022-11-25 10:31] michelle-purcell commented on #29472
@sberyozkin - Bug #29472 (the duplication bit) is fixed in the PR https://github.com/quarkusio/quarkus/pull/29418, whereby the enhanced security-getting-started.adoc is migrated into diataxis as security-basic-authentication-tutorial.adoc.

When that gets merged, you are 100% correct, `security-enabling-basic-auth-howto.adoc` which btw, I renamed to `security-basic-authentication-howto.adoc` dupli

[2022-11-25 10:51] tisba29 commented on #29469
In my test, sometimes i am able to get the body, sometimes not. How does the ClientRestHandler priority works ? If an handler reads the body before https://github.com/quarkusio/quarkus/blob/main/independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java attachSentHandlers -> sent.onSuccess is called, then I can read

[2022-11-25 10:57] cescoffier commented on #28600
@ozangunalp should we add a section in the doc?

[2022-11-25 11:02] ozangunalp commented on #28600
I mentioned this (very) briefly in #29489.

[2022-11-25 11:04] marcvanR commented on #26922
@michalvavrik I tried again with quarkus version 2.13.4.Final but the problem I started with is still present. I assumed your fix would resolve my issues, but maybe I'm misunderstanding the fix?

[2022-11-25 11:14] ozangunalp commented on #28600
@cescoffier But this doc is hidden inside kafka schema registry. I think we need to create separate codegen docs for avro and protobuf.

[2022-11-25 11:29] sberyozkin commented on #29472
@michelle-purcell, sure, I'll prototype some simple text for `security-basic-authentication-howto.adoc` a little bit later, thanks

[2022-11-25 11:33] joggeli34 commented on #29417
Yes, it works when adding a configuration to the application.properties.
But for our deployment we configure only with environment variables and do not have an additional appliation.properties file to the one included at build time.

Adding a configuration which don't have a `-` in it's key also helps. So for example adding:
[code]
helps so that the oidc tenant is recognized and created.

But addi

[2022-11-25 11:44] henrikcaesar commented on #28600
@ozangunalp thanks! I also think the docs could mention this. An consumer only example with schema registry could cover it? But an separate docs section for the code generation could also be useful.

[2022-11-25 11:46] vsevel commented on #29463
@geoand  I agree it is not a regression per se, since we are talking about 2 different products. but it will be felt that way, since quarkus is a new stack in the continuation of jboss, and it is a major selling point for quarkus that there is a migration path from eap. I call this disruptive continuity ;-)
people will have some expectations to find in quarkus what was working well in eap. and in

[2022-11-25 11:47] joggeli34 commented on #19973
Seems to work with newer quarkus and gradle
(tested with quarkus 2.14.1 and gradle 7.5.1)

[2022-11-25 11:47] #19973 closed

[2022-11-25 12:09] michalvavrik commented on #26922
@marcvanR there has been a lot of done in this area, to be honest I lost count, BUT:

You tested it with 2.13.4 and there are 2 PRs linked with this issue, one says 2.14, one 2.15. Could you try your application with current Quarkus main? I also suppose there have been related issues that could also positively impact this issue. I always use in my PRs tests that are more or less identical to repro

[2022-11-25 12:18] geoand commented on #29463
I totally sympathize, but this is such an edge case, that I don't really see it making a tremendous amount of sense both development wise and performance wise in handling it.

[2022-11-25 12:20] mkouba commented on #3699
I don't think so. We don't plan to switch to CDI 4 Lite extension SPI in quarkus extensions, i.e. build items will remain the preffered and idiomatic way of registering synthetic beans in quarkus.

That said, it's IMO a minor issue with low priority.

[2022-11-25 12:24] manovotn commented on #3699
Sorry, I wasn't clear. I know build items will be there but I assume we'll adapt them in some way so that the Lite extension API actually goes through them. @Ladicek probably knows more as he has a draft stored somewhere.
With that in mind, we can (or will even have to?) adjust Quarkus API to meet the requirement stated here as well.

[2022-11-25 12:26] zakkak commented on #29413
So the issue appears to be that with `4.1.85` GraalVM finds the reflection configurations shipped with netty and it tries to load the following classes and register them for reflection:

* `io.netty.handler.codec.compression.Lz4FrameDecoder`
* `io.netty.handler.codec.compression.Lz4FrameEncoder`
* `io.netty.handler.codec.marshalling.CompatibleMarshallingDecoder`
* `io.netty.handler.codec.marshalli

[2022-11-25 12:36] geoand commented on #29413
For `2`, I assume you mean `ExcludeConfigBuildItem`?

[2022-11-25 12:45] marcvanR commented on #26922
@michalvavrik I guess I should have read through the releases more carefully. It works now as expected.

Thanks a lot! It's really appreciated.

[2022-11-25 12:56] gsmet commented on #29107
I agree with @dmlloyd that it should live in an extension.

The build step should probably consume `ServiceStartBuildItem`.

[2022-11-25 12:57] gsmet commented on #29107
If someone is interested in developing and maintaining it, it would be a nice candidate for the Quarkiverse.

[2022-11-25 12:59] gsmet commented on #10891
This is not a Quarkus bug. If someone is interested in creating a POI extension to centralize the reflection config, that would be awesome.
It could be hosted in the Quarkiverse, similarly to the `quarkus-tika` extension.

Closing this. If someone is interested, please create an `extension-proposal` issue.

[2022-11-25 12:59] #10891 closed

[2022-11-25 13:04] geoand commented on #29469
Which handlers are you seeing doning this?

[2022-11-25 13:15] geoand commented on #29469
@Sgitario in any case https://github.com/quarkusio/quarkus/blob/2.14.1.Final/independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/handlers/ClientSendRequestHandler.java#L247-L250 is wrong.

I am assuming you wanted to return after resuming, but if you do that, then the following test (which is similar to the reproducer in this issue) will fail:

[c

[2022-11-25 13:22] Ladicek commented on #3699
My implementation of BCExtensions currently doesn't use the `BeanCreator` / `BeanDestroyer` API, it uses the bytecode generation API instead (for both creation and destruction functions). That could change relatively easily, as all the heavy lifting happens earlier.

In fact, I could probably change it right away, because I have introduced a special method `InstanceImpl.forSynthesis()` to obtain t

[2022-11-25 13:25] Ladicek commented on #3699
Oh and btw, I personally think that the BCExtensions API is in many ways better than the ArC extension API and the Quarkus build items. It "just" has 2 significant downsides:

- no direct access to bytecode generation (only synthetic beans and observers may carry build-time data to runtime)
- less complete (mainly, it doesn't allow transforming beans, observers or injection points)

The 2nd issue

[2022-11-25 13:34] diegoherrojo commented on #27386
Thank you @tsegismont !

[2022-11-25 13:34] kiriakos opened #29492 "Connection Errors are not catched by @Retry annotations"
### Describe the bug

I have integrated smallrye fault tolerance as described in the tutorials.

I have a resilience anotated client like this:
[code]

and an http controller like this:
[code]

Calling `curl http://localhost:8080/test/fail/trigger` works fine if an HTTP client can connect to the server, eg with this application.properties:
[code]

but if it can not, the resilience annotations are

[2022-11-25 13:36] geoand commented on #29492
cc @Sgitario @Ladicek

[2022-11-25 13:53] gsmet commented on #17877
Closing. It's probably fixed.

[2022-11-25 13:53] #17877 closed

[2022-11-25 13:55] gsmet commented on #28220
@agoncal I'm wondering if you could have a look at this one?

[2022-11-25 13:55] Sanne commented on #29413
Yes I'd agree with using `ExcludeConfigBuildItem` ; @zakkak see an example here: https://github.com/quarkusio/quarkus/blob/23f43c3d3be6f479f86f697888856a8c65d8136d/extensions/jdbc/jdbc-oracle/deployment/src/main/java/io/quarkus/jdbc/oracle/deployment/OracleMetadataOverrides.java#L110-L117

 needs a bit of fiddling with Regexp :/ And careful, I had to iterate on the current regex as the regex needs

[2022-11-25 13:56] gsmet commented on #29025
@aloubyansky not sure if this one is on your radar or if it is fixed already?

[2022-11-25 13:56] gsmet commented on #17569
Closing as stale.

[2022-11-25 13:56] #17569 closed

[2022-11-25 13:56] Sanne commented on #29413
For my sanity I even used unit tests on the constants to be used:

https://github.com/quarkusio/quarkus/blob/23f43c3d3be6f479f86f697888856a8c65d8136d/extensions/jdbc/jdbc-oracle/deployment/src/test/java/io/quarkus/jdbc/oracle/deployment/RegexMatchTest.java#L18

[2022-11-25 15:15] Ladicek commented on #29492
I can't reproduce the issue. Can you enable SmallRye Fault Tolerance logging and see what happens?

This is what I added to `application.properties`:

[code]

And here's what I saw in the console:

[code]

You seem to have _some_ SmallRye Fault Tolerance logging enabled, based on your output of:

[code]

but even this output shows that there's cca 15 seconds between the request and the error, whic

[2022-11-25 15:16] tarilabs commented on #6588
👉 https://github.com/quarkusio/quarkus-quickstarts/pull/1213

[2022-11-25 15:20] geoand commented on #29492
It seems like the Quarkus version being used is pretty old

[2022-11-25 15:26] Ladicek commented on #29492
Ah, I didn't notice that. I know we had some issues in the combination of RestClient Reactive and SmallRye Fault Tolerance caused by RestClient Reactive not copying annotations to the generated class, but #22853 says that was fixed in Quarkus 2.7.0, so that shouldn't be it I guess...

[2022-11-25 16:13] radtriste commented on #6588
If I get correctly, we need to revert this once our next Kogito version, with Quarkus 2.15 is released ?

[2022-11-25 16:16] Dutch-0 opened #29496 "Class 'Contact' is not registered for polymorphic serialization in the scope of 'IContact'"
I opened an issue at the `kotlinx.serialization` repository, but after validating that the serialization works in my main-method, but not in Quarkus, and after seeing issues like #28996, I thought this would probably be a better location.

C&P from the original ticket:

**Describe the bug**
I am unable to serialize my objects successfully using polymorphic.

[code]

**To Reproduce**

[code]

[code

[2022-11-25 16:32] geoand commented on #29496
What version of Quarkus are you using?

[2022-11-25 16:44] Sanne commented on #6588
@radtriste right

[2022-11-25 17:21] SKSniperSK opened #29497 "Missing spec.template.metadata.labels in deployment"
### Describe the bug

Following the OpenShift Guide (https://quarkus.io/guides/deploying-to-openshift) I tried to switch from the default DeploymentConfig to Deployment but ended up with the error:

Message: Deployment.apps "openshift-quickstart" is invalid: spec.template.metadata.labels: Invalid value: map[string]string(nil): `selector` does not match template `labels`.

Looking at the produced o

[2022-11-25 17:25] tarilabs commented on #6588
That one, and the earlier one @radtriste . I've kept tab in the JIRA too not to forget

[2022-11-25 17:39] aloubyansky commented on #29025
It appears to be a deployment classpath dependency
[code]

[2022-11-25 17:41] aloubyansky commented on #29025
`mvn dependency:tree` shows it as a test scope dependency with version 1.1.3.1. But the extension needs it in 1.2.0 at build time.

[2022-11-25 18:29] #23478 closed

[2022-11-25 19:29] michalvavrik commented on #24609
Hey @faskan ,

I think the behavior exactly matches documentation, I'll try to explain why:

Docs [here](https://quarkus.io/guides/amazon-lambda-http#security-integration) says that with `quarkus.lambda-http.enable-security=true` you enable security feature to securely invoke HTTP endpoints via API Gateway access control mechanism and table _HTTP quarkus-amazon-lambda-http_ exactly shows where pri

[2022-11-25 20:05] Dutch-0 commented on #29496
2.14.1.Final

[2022-11-25 21:01] tttomat19 commented on #29456
this should fix it:
https://github.com/quarkusio/quarkus/pull/29501
probably should change this issue kind to bug

[2022-11-25 21:12] Eng-Fouad commented on #29107
@gsmet I am interested in developing and maintaining this extension.

[2022-11-25 21:33] Dutch-0 commented on #29496
Creating a custom ContactSerializer:

[code]

and marking the `contact` property in `User` with `@Serializable(with = ContactSerializer::class)` solves this problem for now

[2022-11-25 22:08] kiriakos commented on #29492
@Ladicek You are right. It seems the retries are happening in the background, but I am not getting your logs and that's what threw me off. I already am logging out http client and fault tollerance, this is my logging setup:

[code]

When the http client connects I could see it logging its requests and I misinterpreted the logs as being from the fault tolerance logging. Closer inspection shows me t

[2022-11-25 23:23] #29345 closed

[2022-11-25 23:48] tttomat19 commented on #29456
quarkus.hibernate-orm.validate-in-dev-mode=false actually seem to be working

[2022-11-25 23:49] #29456 closed

[2022-11-26 01:40] gsmet commented on #17071
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkusio/quarkusio.github.io/actions/runs/3551658097

[2022-11-26 03:30] geoand commented on #29492
Using the latest version guarantees you get the latest fixes and features

[2022-11-26 07:14] t1 opened #29506 "SmallRye GraphQL service doesn't work on 3.0.0.Alpha1"
### Describe the bug

I've created a quickstart app with the default `2.14.2.Final` version and can run the endpoint just fine. When I update the `quarkus.platform.version` property to `3.0.0.Alpha1`, it fails to start (dev mode).

### Expected behavior

it should start and receive GraphQL requests

### Actual behavior

It prints this stacktrace:

[code]

### How to Reproduce?

1. Create a quickst

[2022-11-26 11:37] syr commented on #29436
sd

Can confirm that the issue is fixed with 2.14.2.Final. :)

[2022-11-26 15:29] Dutch-0 commented on #27640
Is there any update on this?
I noticed the removal of the bug label while closing this issue, but it hasn't been re-added.

[2022-11-26 21:38] Sanne commented on #27640
sorry, indeed should have re-added the `bug` label.

@Dutch-0 I don't understand your new example - using Hibernate Reactive for the find operations, but not doing reactive for delete and flush operations?

[2022-11-26 21:43] Dutch-0 commented on #27640
Just to show that the problem is not only with Hibernate Reactive.
In my code I try to delete with: repo.deleteById(id), which also does not work.

[2022-11-27 01:56] gsmet commented on #17071
Build fixed:
* Link to latest CI run: https://github.com/quarkusio/quarkusio.github.io/actions/runs/3556194473

[2022-11-27 05:15] Eng-Fouad commented on #29107
@dmlloyd

Unfortunately, Unix-Domain Datagram is not supported in Java.

https://bugs.openjdk.org/browse/JDK-8265226

[2022-11-27 08:37] TheBlindM commented on #29396
It seems that the Desktop operation in java awt is not seen in imgui-java

` Desktop.getDesktop().open(FileUtil.file(savePath));`

I often use cmd instead, but it fails in native

 Runtimeruntime = Runtime.getRuntime();
Processprocess = runtime.exec(""cmd.exe /c start " + savePath");

![image](https://user-images.githubusercontent.com/48701152/204126194-0dbf41f2-19d3-4212-a6ed-dff3105c0748.png)

[2022-11-27 11:14] Dutch-0 commented on #27640
I managed to create a workaround, based on my previous findings.
It could probably use a lot of clean-up and optimization, since its my first quarkus/mutiny project.

Note; I use a second trip to the database to verify that the entity has been removed.

[code]

[2022-11-27 19:22] hpvd commented on #6271
Apache Pulsar really looks like a rewarding candidate for an extension,
since it seems to grow pretty fast
https://pulsar.apache.org/blog/2022/05/11/apache-pulsar-community-welcomes-500th-contributor/

and now in July 2022 it seems to have also the highest number of pull requests in the field of messaging/streaming tech (even more than kafa)
https://www.youtube.com/watch?v=ckfw68-cn2o

[2022-11-27 20:31] mfpc commented on #29196
Hi,

I want to do this. Which files I should start to look? Could you @gsmet give me a explaning. Thank you!

[2022-11-27 21:01] jcsim1024 commented on #28502
I added the IT test in a module different than flyway's IT tests as it already has H2 database in it.
Is it ok or should I put it in a a specific flyway-postgres IT module? @geoand

I think I should investigate more on the root cause of the stuck migration when there both a tansaction lock and a concurent operation.

[2022-11-27 23:55] murphye commented on #23708
@jponge I just want to +1 this issue. From a developer end user perspective this is very important especially for those learning reactive. Thanks.

[2022-11-28 04:39] ManasMaji commented on #29467
Hi @geoand, thank you for adding the changes quickly! When can we expect this change to be released?

[2022-11-28 05:28] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3561850673

[2022-11-28 05:36] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3561897487

[2022-11-28 06:08] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3561851482

[2022-11-28 06:16] jmartisk commented on #29506
I tried this with a fresh build of the current `jakarta-rewrite` branch and this issue seems already fixed there, so it should work with the next alpha release.

[2022-11-28 06:16] #29506 closed

[2022-11-28 06:18] geoand commented on #29467
Hi,

They will be part of Quarkus 2.15, which should be released in a few weeks

[2022-11-28 06:19] geoand commented on #6271
IIUC, @ozangunalp is putting the finishing touches on it, right?

[2022-11-28 06:41] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3561855200

[2022-11-28 07:20] cescoffier commented on #6271
@geoand yes.

[2022-11-28 07:24] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner-quickstarts/actions/runs/3561854670

[2022-11-28 07:28] geoand commented on #28502
We probably want to add a test like the ones you can see [here](https://github.com/quarkusio/quarkus/tree/main/extensions/flyway/deployment/src/test/java/io/quarkus/flyway/test).

[2022-11-28 07:29] geoand commented on #6271
Excellent. Let me know if you need anything :)

[2022-11-28 07:37] cescoffier commented on #29301
@Chexpir Thanks for the reproducer and it's interesting.

Basically, the connections are not recycled because you don't read the body of the response. As your REST Client method returns a `Uni<Response>`, we seem to expect that you want to read the body.

 I would recommend switching to RESTEasy Reactive and the Reactive Rest Client. The usage of Mutiny in this context is not doing what you think

[2022-11-28 07:37] #22619 closed

[2022-11-28 07:42] cescoffier commented on #29064
Fixed in Reactive Messaging 3.22.0

[2022-11-28 07:43] cescoffier commented on #29064
Closed, as the 3.22.0 release of Reactive Messaging has been integrated.

[2022-11-28 07:43] #29064 closed

[2022-11-28 07:44] #29257 closed

[2022-11-28 08:01] geoand commented on #29496
Can you please attach a sample Quarkus application that exhibits this problem?

Thanks

[2022-11-28 08:03] tarilabs commented on #29025
Pardon me @aloubyansky how do you get `drools-drl-quarkus-deployment` to appear in `mvn dependency:tree`, please?

I reckon the comment you provided would explain, but I was not able to replicate this output https://github.com/quarkusio/quarkus/issues/29025#issuecomment-1327741793 even passing `-Dscope=compile` locally, I get only `org.drools:drools-drl-quarkus`, not the -deployment

[2022-11-28 08:11] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3561897487

[2022-11-28 08:12] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3561853791

[2022-11-28 08:14] geoand commented on #29497
I can reproduce the problem indeed.

[2022-11-28 08:15] aloubyansky commented on #29025
It's `quarkus:dependency-tree`. `mvn dependency:tree` for a Quarkus application will show only the runtime classpath, it's not aware of the application's Quarkus build time dependencies (the deployment part).
What we need to clarify is why a repository for that artifact has to be configured in the app. I.e. whether it is somehow missed by the Quarkus dependency resolver.

[2022-11-28 08:15] geoand commented on #29492
Can you try and see if the issue still persists with Quarkus `2.14.2.Final`?

[2022-11-28 08:16] geoand commented on #29482
Would you like to contribute this @naah69 ?

[2022-11-28 08:21] radtriste commented on #6588
So you mean https://github.com/quarkusio/quarkus-quickstarts/pull/1155 @tarilabs

[2022-11-28 08:21] mkouba commented on #3699
IMO the most important downside is that you can't use the build items as "input" and "output", e.g. register a synthetic bean if a build item is produced or produce a build item if a bean with a specific type is present. Pls correct me if I'm wrong and this is possible. Also note that the very same problem was present in CDI portable extensions. Basically, it's a very nice API if an extension is v

[2022-11-28 08:27] tarilabs commented on #6588
@radtriste yes, as noted in https://github.com/kiegroup/drools/pull/4614 both

(to be reverted in quarkus quickstart upstream) https://github.com/quarkusio/quarkus-quickstarts/pull/1155
(to be reverted in quarkus quickstart upstream) https://github.com/quarkusio/quarkus-quickstarts/pull/1213

[2022-11-28 08:34] fragaLY opened #29518 "NoSuchMethodException: io.quarkus.deployment.CodeGenerator.initAndRun"
### Describe the bug

Hi, quakus dev team,

I faced the problem during the migration from 2.13.1 to 2.13.3 and the newest version such as 2.14.1 and 3.0.0 Alpha.
The problem could not be reproduced on 2.13.1 but reproduced on 2.13.3.

The sources could be found there:
https://github.com/fragaLY/performance-researches/tree/master/quarkus-reactive

### Expected behavior

Image is builded

### Actual

[2022-11-28 08:34] aloubyansky commented on #29025
I'll see whether we can do something about it.

[2022-11-28 08:40] Chexpir commented on #29301
Interesting! so moving to Uni<Void> should probably stop the issue?
We moved from Reactive to mutiny due to https://github.com/quarkusio/quarkus/issues/27901 (we need to support insecure and secure connections) but it will be soon me merged and we'll be back to Reactive.

[2022-11-28 08:48] gsmet commented on #29518
You are using inconsistent versions: the version of the plugin is not the same as the version of the enforced platform.

See:
- https://github.com/fragaLY/performance-researches/blob/master/quarkus-reactive/gradle.properties
- https://github.com/fragaLY/performance-researches/blob/master/quarkus-reactive/build.gradle

[2022-11-28 08:48] #29518 closed

[2022-11-28 08:49] fragaLY commented on #29518
My bad. Thank you.

[2022-11-28 08:53] Ladicek commented on #3699
I tried to to say that by the edit to my last sentence, but you're right, it should have been an extra item in the list. I didn't make a proper difference between comparing with the ArC extension API and with the Quarkus extension API. The power of BCExtensions, when implemented in ArC, is limited by the power of ArC extensions. That said, I believe (though I have yet to try it myself) that a lot

[2022-11-28 08:54] maxandersen commented on #15403
Reasons why we don't want to do it is that it then prevents us from doing a lot of the optimizations that makes Quarkus app start up fast in devmode, java vm and native mode. If this was not a build time flag we'll be back to old approach that makes java apps slow and heavy.

Thus for now if you want to support multiple databases then explicitly configure multiple datasources with appropriate driv

[2022-11-28 08:54] #15403 closed

[2022-11-28 08:57] geoand commented on #7080
I think this can be closes now, right?

[2022-11-28 09:13] Ladicek commented on #29492
Ah, the SmallRye Fault Tolerance logging messages were promoted from TRACE to DEBUG in SmallRye Fault Tolerance 5.4.1, and Quarkus updated to that in 2.10.1. So with Quarkus 2.8, you can try configuring SmallRye Fault Tolerance loggign to TRACE, but really, as @geoand says, you should upgrade to Quarkus 2.14.2.

[2022-11-28 09:17] ozangunalp commented on #6271
It is on the right track, I need to iron out some issues for an experimental release.

[2022-11-28 09:23] maxandersen opened #29520 "decouple from okhttp(3)"
### Description

Currently quarkus ends up having a dependency to okhttp3 via the kubernetes client. This issue tries to gather the issues/options as fixing this potentially involves collaboration across Quarkus, fabric8 io kubernetes client, operator SDK and the OpenJDK team.

This is a root cause of a list of issues:
1) CVE issue list for okhttp3 keeps growing (albeit at this time of writing not

[2022-11-28 09:24] geoand commented on #29520
cc @manusa @metacosm

[2022-11-28 09:25] maxandersen commented on #29520
/cc @metacosm @manusa @shawkins @vietj  - fyi

/cc @cescoffier  - the issue I mentioned last week.

[2022-11-28 09:29] gsmet commented on #7080
Yeah, reading the upstream issue, I think we can close this.

[2022-11-28 09:29] #7080 closed

[2022-11-28 09:32] maxandersen commented on #29520
@manusa  anything blocking https://github.com/fabric8io/kubernetes-client/pull/4430 from getting merged?

@vietj @shawkins : if above is merged; when could we have a vert.x client available? how much effort is left?

[2022-11-28 09:36] gunnarmorling commented on #27382
For future reference for folks also running into this, here's the issue in GraalVM: https://github.com/oracle/graal/issues/4757.

[2022-11-28 09:54] mkouba commented on #19451
Hm, but in that case you're not testing the production native image anymore. So you'd need to build two native images when running the build, i.e. _production_ and _test_, or?

[2022-11-28 10:00] rsvoboda opened #29521 "KafkaDevServicesBuildTimeConfig uses redpanda:v22.1.7, v22.3.4 is available"
### Describe the bug

KafkaDevServicesBuildTimeConfig uses redpanda:`v22.1.7`, `v22.3.4` is available

https://github.com/quarkusio/quarkus/blame/main/extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaDevServicesBuildTimeConfig.java#LL48C54-L48C70

`v22.3.4` is available - https://hub.docker.com/r/vectorized/redpanda/tags

### Expected behavior

_No response_

[2022-11-28 10:02] rsvoboda opened #29522 "RabbitMQDevServicesBuildTimeConfig uses `rabbitmq:3.9-management`, newer `rabbitmq:3.11-management` is available"
### Describe the bug

RabbitMQDevServicesBuildTimeConfig uses `rabbitmq:3.9-management`, newer `rabbitmq:3.11-management` is available

https://github.com/quarkusio/quarkus/blame/main/extensions/smallrye-reactive-messaging-rabbitmq/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/rabbitmq/deployment/RabbitMQDevServicesBuildTimeConfig.java#L128

https://hub.docker.com/_/rabbitmq/tags

[2022-11-28 10:04] geoand commented on #29522
cc @kdubb

[2022-11-28 10:05] rsvoboda opened #29523 "ElasticsearchDevServicesBuildTimeConfig uses elasticsearch:7.17.0, newer versions are available"
### Describe the bug

ElasticsearchDevServicesBuildTimeConfig uses elasticsearch:7.17.0, newer versions are available

https://github.com/quarkusio/quarkus/blame/main/extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/deployment/ElasticsearchDevServicesBuildTimeConfig.java#L32

https://hub.docker.com/_/elasticsearch - `8.5.1` and `7.17.7

[2022-11-28 10:06] rsvoboda opened #29524 "ApicurioRegistryDevServicesBuildTimeConfig uses `apicurio-registry-mem:2.2.3.Final`, newer versions are available"
### Describe the bug

ApicurioRegistryDevServicesBuildTimeConfig uses `apicurio-registry-mem:2.2.3.Final`, newer versions are available

https://github.com/quarkusio/quarkus/blame/main/extensions/schema-registry/devservice/deployment/src/main/java/io/quarkus/apicurio/registry/devservice/ApicurioRegistryDevServicesBuildTimeConfig.java#L34

https://quay.io/repository/apicurio/apicurio-registry-mem?t

[2022-11-28 10:07] geoand commented on #29524
cc @Ladicek

[2022-11-28 10:08] rsvoboda opened #29525 "AmqpDevServicesBuildTimeConfig uses `activemq-artemis-broker:0.1.2`, newer versions are available"
### Describe the bug

AmqpDevServicesBuildTimeConfig uses `activemq-artemis-broker:0.1.2` (almost 2 years old), newer versions are available.

https://github.com/quarkusio/quarkus/blame/main/extensions/smallrye-reactive-messaging-amqp/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/amqp/deployment/AmqpDevServicesBuildTimeConfig.java#L35

https://quay.io/repository/artemiscloud/activ

[2022-11-28 10:09] mkouba commented on #25236
I have to admit that I'm a bit confused. In any case, the WARN messages in the original `Issue_upgrading_from_261_to_280_results_in_Failed_to_star_quarkus.txt` and https://github.com/quarkusio/quarkus/issues/25236#issuecomment-1286530885 are not the cause - there's always a follow-up ERROR that explains the reason why the startup failed.

I'm going to close this issue - we can reopen it if we get

[2022-11-28 10:15] silviu-negoita opened #29526 "Quarkus Panache reactive caching entities"
### Describe the bug

I'm having an issue when running update query from Panache reactive. Apparently my entities are cached and never updated.

Operations:
1. Persist test data
2. Select - fetch query to assert the old value are present
4. Do a PanacheEntity.update()
5. Do another fetch to assert the new values are correctly set  - this fails, the old value are still in place in my JPAs, despite

[2022-11-28 10:20] Ladicek commented on #29524
The Quarkus BOM already has 2.3.1.Final, so we should upgrade the dev services as well. WDYT @ozangunalp?

(Oh the joy of automated version bumps... :laughing:)

[2022-11-28 10:25] manusa commented on #29520
Working on this ATM

[2022-11-28 10:29] mkouba commented on #29283
FTR the source of the generated dockerfile is here: https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute

[2022-11-28 10:29] mkouba commented on #29283
CC @cescoffier

[2022-11-28 10:55] ozangunalp commented on #29524
😄 now that we found a stable version I wasn't eager to update the image version. We've had incompatibilities in the past. But sure let's update it and see how it goes.

[2022-11-28 10:59] Ladicek commented on #29524
Ah okay. I didn't know there are compatibility concerns (or maybe just forgot :-) ).

[2022-11-28 11:05] famod commented on #29425
Fix confirmed in 2.14.2! Thanks all, especially @Ladicek .

[2022-11-28 11:46] syr commented on #28552
@brunobat @Ladicek @mkouba
Can you please have a look at the last comment in https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/7120#issuecomment-1320524053
Maybe there is not so much to change to get the MDC beeing updated when ussing jboss logger via io.quarkus.logging.Log

[2022-11-28 12:17] geoand commented on #29526
Using Hibernate Reactive Panache inside tests won't work really well. Can you update your code and try using the API shown [here](https://github.com/quarkusio/quarkus-super-heroes/blob/85385441cae896a9bc7527fb79351f5c9c9cc2fb/rest-heroes/src/test/java/io/quarkus/sample/superheroes/hero/repository/HeroRepositoryTests.java#L30)?

[2022-11-28 12:26] cescoffier commented on #29283
So, we need to check as we had several `run-java.sh` over the years...
I need to check the one provided by the lastest UBI Java runtime image. The template is quite old, and the property name likely changed.

[2022-11-28 12:30] cescoffier commented on #29283
Confirmed, here is the line:
[code]

I will update the template.

[2022-11-28 12:34] PBCandoso opened #29528 "Resteasy Reactive support for multivalued parameters"
### Description

I've been trying to get Resteasy Reactive to parse arrays of values in my URLs in the form of comma separated values rather than '&' separated values.
e.g. **?array=item1,item2,item3** rather than **?array=item1&array=item2&array=item3**

This feature is available in the Resteasy classic extension through the usage of the @Separator annotation and the MultiValuedParamConverterProv

[2022-11-28 12:36] cescoffier commented on #29283
Hum, that sucks...

The old one is:
[code]

It's what I was afraid of.... something changed, and it's a breaking change.

[2022-11-28 12:37] cescoffier commented on #29283
Basically, for docker file downloading run-java with this line:
[code]

The current documentation is correct.

For dockerfile using the built-in run-java, it's not...

[2022-11-28 12:44] #27751 closed

[2022-11-28 12:45] geoand commented on #23609
I am going to close this in favor of https://github.com/quarkusio/quarkus/issues/29528

[2022-11-28 12:45] #23609 closed

[2022-11-28 12:46] cescoffier commented on #29283
So, it's correct.

The new template uses the built-in `run-java.sh `. As you can see in `https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.include.qute`, it does download the script from maven central.

However, if you use a docker file using the fabric8 version of the script (n

[2022-11-28 12:48] #29283 closed

[2022-11-28 12:48] cescoffier commented on #29521
I believe we can update safely. WDYT @ozangunalp ?

[2022-11-28 13:29] LazaroR94 commented on #29455
Sorry, I should have rephrased my question (_Do you have an example of how to use skipExecutionIf()?_) as I already did read the link that you posted prior to creating this issue ticket. What I really want to ask is, as mentioned in the link, what actual **Emitter** _service_ should I be injecting so that I can get an instance of its state and pass that along to the SkipPredicate? I am not sure of

[2022-11-28 13:53] cescoffier commented on #29455
You can check the health of the kafka connector.

[2022-11-28 13:59] damonsutherland commented on #29316
Sorry, I’ve been on vacation. I am back today though. I will work on it this afternoon.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Georgios Andrianakis ***@***.***>
Sent: Monday, November 28, 2022 6:47:46 AM
To: quarkusio/quarkus ***@***.***>
Cc: Damon Sutherland ***@***.***>; Mention ***@***.***>
Subject: Re: [quarkusio/quarkus] ServerJacksonMessageBodyRead

[2022-11-28 14:03] silviu-negoita commented on #29526
@geoand it is ok now?
[hibernate-reactive-panache-quickstart.tar.gz](https://github.com/quarkusio/quarkus/files/10104359/hibernate-reactive-panache-quickstart.tar.gz)

[2022-11-28 14:04] geoand commented on #29316
Thanks for the update!

[2022-11-28 14:22] geoand commented on #29526
cc @DavideD

[2022-11-28 14:36] LazaroR94 commented on #29455
Thank you Clement. However, when I do use the KafkaConnector, I am met with this error: `Unsatisfied dependency for type io.smallrye.reactive.messaging.kafka.KafkaConnector and qualifiers [@Default]`. Following the example provided in the Quartz documentation above, I have created this simple predicate class:
[code]

Am I missing something here?

[2022-11-28 14:41] DavideD commented on #29526
@silviu-negoita As you've said, it's getting the value from the cache.

The solution is to clear the session after the update:
[code]

I'm not sure on top of my head if we can do better with vanilla Hibernate Reactive.
Anyway, it should work if you update the test.

I'm closing the issue, but feel free to comment again here if you have more questions.

Thanks

[2022-11-28 14:41] #29526 closed

[2022-11-28 14:45] aloubyansky commented on #29025
It's a bug in the Quarkus dependency resolver. A user should not be required to configure the jboss repo.

[2022-11-28 14:48] silviu-negoita commented on #29526
@DavideD  Thanks! I confirm now it works! But, how can I know all of these tricks? Are there anywhere documented?

[2022-11-28 14:52] PierreBtz opened #29532 "Issue with the loading of resources using the Kubernetes client in Quarkus 2.14.x in native mode"
### Describe the bug

See https://github.com/PierreBtz/quarkus-kubernetes-client-bug for a reproducer.

Loading resources with a call like `kubernetesClient.load(anInputStream).get()` ends up with the following error in native mode:

[code]

### Expected behavior

Resource is properly loaded, like in non native mode and in Quarkus 2.13.x.

### Actual behavior

The resource is not loaded, it seems

[2022-11-28 15:00] geoand commented on #29532
cc @manusa

Seems like there are some classes we should be registering for reflection

[2022-11-28 15:00] RomanDenysov opened #29533 "Custom docker image for devservices"
### Description

I've been trying to create a postgres docker image with a new extensions and use it in devservices instead of default one.

How can I do this?
I tried to use `quarkus.datasource.devservices.image-name` for specifying a custom image, but I had failed.

Perhaps, It's because quarkus doesn't know where to find a custom image, so I didn't find a way to specify it.

### Implementation

[2022-11-28 15:01] geoand commented on #29533
So you've created a new extension and want to create a Dev Service for it?

[2022-11-28 15:06] mkouba commented on #29455
I think that you need to add the [`@Connector(KafkaConnector.CONNECTOR_NAME)`](https://github.com/smallrye/smallrye-reactive-messaging/blob/main/smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java#LL47-L47C42) qualifier to your `KafkaConnector` injection point.

[2022-11-28 15:09] manusa commented on #29532
This class should be definitely registered for reflection and AFAIR is thoroughly tested.

I'm understanding right that this is actually happening in 2.14, but wasn't before?

Are you using the explicit type elsewhere in your project?

Might be related to or same as https://github.com/fabric8io/kubernetes-client/pull/4593 (looks suspiciously alike)

[2022-11-28 15:24] PierreBtz commented on #29532
Correct I had this code running correctly in 2.13.x.

No.

Indeed this looks close and it's possible this fix would also fix this issue, however I had a look in "jvm mode" and there is a builder available so I suppose it's not properly registered for reflection (anymore?). This is surprising since the builder class name didn't change (package included) between the two versions.

[2022-11-28 15:28] LazaroR94 commented on #29455
Thank you! So I was able to get it to work with the following piece of code. The reasoning for this is because on startup, I only have producer channels being invoked for each Quartz job and therefore the failure points only came from the Emitters and **_not_** the consumer channels.

[code]

[2022-11-28 15:32] manusa commented on #29532
It's likely that if you use the type explicitly in your code, then the native problem will be fixed (just create a dummy method that returns a Deployment).

[2022-11-28 15:40] PierreBtz commented on #29532
Registering for reflection works, but then I end up with an issue with the next builder (`DeploymentBuilder`), then the next, again and again for each Kubernetes object kinds. So I confirm that this is a potential workaround but not ideal :)

[2022-11-28 15:43] #29455 closed

[2022-11-28 15:49] geoand commented on #29533
What does not work if you use `quarkus.datasource.devservices.image-name=...`

[2022-11-28 15:57] DavideD commented on #29526
We definitely need to improve the docs, and this kind of feedback is helpful for figuring out what's lacking.

That said, Panache is built on top of Hibernate Reactive, and Hibernate Reactive is built on top of Hibernate ORM.
Panache makes it easier to execute some of the most common operations, but if you want to learn all the tricks
you need to get familiar with all those projects and understand

[2022-11-28 15:58] mmusgrov commented on #14871
@zhfeng I'm trying to track down which release this issue was fixed it, do you know?

[2022-11-28 16:04] manusa commented on #29532
I didn't say to register for reflection, I suggested to use the type explicitly in your code (Quarkus should detect it and register the type, its builder, and List for you) to see if the problem goes away.

To check if this specific problem is related to the issue I linked you could try to register for reflection the DeploymentBuilder class (only). Internally we were using this to change the names

[2022-11-28 16:12] gsmet opened #29538 "Unexpected transient failure in logging layer when building the Hibernate Validator native executable"
A recent build failed with an error obtained when building the Hibernate Validator native executable. It doesn't look related to the changes at hand and looks suspicious. Especially since it's the first time we have it.

@dmlloyd @jamezp any idea what could have caused this issue?

Failing build is: https://github.com/quarkusio/quarkus/actions/runs/3564894851/jobs/5989838548

Log from the native e

[2022-11-28 16:25] jamezp commented on #29538
I've got no clues here. AFAIK Quarkus uses a forked log manager still and it's a bit different from the upstream log manager.

[2022-11-28 16:29] pjgg opened #29539 "Tracing: SSE is overwriting "spans" on `opentracing` + `resteasy-reactive`"
### Describe the bug

Quarkus: Upstream
Extensions: `quarkus-resteasy-reactive`, `quarkus-smallrye-opentracing`, `quarkus-rest-client-reactive`

If I request some (server-sent events) data from a `Service A` that use a `Service B`, I would expect one trace with two Spans (one per service)., however I am getting a trace with a single span (the latest one).

Note: used to work with `quarkus-resteasy

[2022-11-28 16:30] RomanDenysov commented on #29533
Uses old one image, not that I specified

[2022-11-28 16:40] LazaroR94 opened #29540 "Quarkus Quartz jdbc datasource + reactive datasource error"
### Describe the bug

Hey all! Currently I have a reactive application with the Postgres driver that I am trying to integrate Quartz with. From what I read in [Quarkus Datasources](https://quarkus.io/guides/datasource#jdbc-and-reactive-datasources-simultaneously), I am able to have both a reactive and jdbc datasource working in-tandem. The issue I am having is that I can't seem to get my applicati

[2022-11-28 16:44] gsmet commented on #29533
I just ran `mvn clean quarkus:dev -Dquarkus.datasource.devservices.image-name=postgres:10` for the `hibernate-orm-quickstart` and it downloads `postgres:10` instead of `postgres:14` so it seems to be working as expected.

If it doesn't work for you, we will need a way to reproduce it.

[2022-11-28 16:47] gsmet commented on #29540
I think a simple Maven reproducer would be welcome. There's probably something wrong with the config but it's not obvious.

[2022-11-28 16:56] gsmet commented on #29522
Let's avoid creating them as bugs, moved to `housekeeping`.

[2022-11-28 16:57] manusa commented on #29532
Sorry, maybe I was misleading. I'm only asking about using the explicit type or registering the builder to rule out if the issue is related. This shouldn't be used as a workaround, especially if you don't know the nature of the resources you might be loading.

We should cut a 6.3 release this week, and bump the quarks dependency as soon as it's out.

[2022-11-28 17:24] LazaroR94 commented on #29540
Sure, I added a simple reproducer.

[2022-11-28 17:56] grasfrosch opened #29542 "CORS Rejected Error on same-origin requests when CORS is enabled"
### Describe the bug

Since Quarkus 2.14.2, requests return status `403` if CORS is enabled and the origin is not in the list of allowed CORS origins, even if the request is not cross-origin at all.

### Expected behavior

CORS Settings should have no impact on same-origin requests.

### Actual behavior

Enabling CORS seems to prevent all requests with an `Origin`-header that isn't explicitly whit

[2022-11-28 18:16] sberyozkin commented on #29542
@grasfrosch What Origin header is being sent in your case ? The actual host name, is #29462 related ?
Also why do you enable CORS for the local DevUI work ?

Thanks

[2022-11-28 18:17] famod commented on #28552
I ran into the same problem, but with the simple scheduler (not quartz).
IMO, https://github.com/quarkusio/quarkus/issues/28552#issuecomment-1277245117 also applies to the simple scheduler.

Shall I open a separate issue?

[2022-11-28 18:19] sberyozkin commented on #29542
Ok, I see
[code]
What does it mean, you have an application page served from `localhost:9000` which needs access to Demode endpoints running on `localhost:8080` ?

[2022-11-28 18:22] sberyozkin commented on #29542
I think we can enhance DevUI CORS filter to include the already configured `quarkus.http.cors.origins`, @stuartwdouglas, @cescoffier, do we want to support the main CORS filter `Origin` configuration  as well ?

[2022-11-28 18:30] pjgg commented on #29539
Also there is a warning in Jaeger on the trace/span
[code]
Is like, no span was created on SSE endpoints and the only span that was created was related to the HttpClient that is in the middle.

[2022-11-28 18:36] grasfrosch commented on #29542
@sberyozkin I don't really care about the DevUI, that was just an example of something that breaks. I basically have some quarkus application (in this example running on localhost:8080) that includes an API and some frontend making requests to that API. Then I have a different frontend page running somewhere else (for example on localhost:9000) which also makes requests to the api on the first app

[2022-11-28 18:44] #29539 closed

[2022-11-28 18:46] grasfrosch commented on #29542
@sberyozkin So basically the request ```
POST https://my-internal-deployment.mycompany.com/api/doSomething
Origin: https://my-internal-deployment.mycompany.com
[code]

[2022-11-28 18:54] RomanDenysov commented on #29533
Seems, I resolved an issue, thx.

I noticed that I can't change image at all, and this property like ignored for me.

My application.properties
[code]

But, was created container with version postgres:14, when I changed to
[code]
Issue was resolved for me.

[2022-11-28 18:54] #29533 closed

[2022-11-28 19:02] dmlloyd commented on #29538
Nothing springs to mind; did this commit definitely introduce the error or can it be bisected? Is the error transient or repeatable?

[2022-11-28 19:47] cescoffier commented on #29301
If you use the reactive REST client, the issue does not happen. So, it's a bug in the _classic_ REST client. Unfortunately, I won't be able to help on this one.

[2022-11-28 19:53] michalvavrik commented on #5751
I spend most of this day looking for scenarios where quarkus-oidc returns forbidden status as the issue describes. Provided examples in the description - wrong token (expired, wrong signature, realm, ...) all result in authentication exceptions - depending on context AuthenticationFailedException, AuthenticationCompletionException, AuthenticationRedirectException. We already fixed it in 2.15/main

[2022-11-28 20:42] mkouba commented on #29540
Hm, I can see a different error when I try to build the reproducer: `Build step io.quarkus.hibernate.orm.deployment.HibernateOrmProcessor#configurationDescriptorBuilding threw an exception: io.quarkus.runtime.configuration.ConfigurationException: Datasource must be defined for persistence unit '<default>'`.

[2022-11-28 20:55] sberyozkin commented on #29542
@grasfrosch Ok, 8 think I get it now

 in 2.14.2 you will get this error if you have  a simple request with Origin header which has not been proved to be valid.
I think thos issue is invalid,  I suspect the reason you saw it qorking was due to a bug in Quarkus which nowvis fixed.
Can you chech what Origin value is being actually sent by the browser ?

[2022-11-28 21:02] #17591 closed

[2022-11-28 21:19] LazaroR94 commented on #29540
Thank you for reporting that. Unfortunately I am not near my work computer to be able to run this. I created this on-the-fly with identical settings to that of my enterprise project so it should behave similarly logically-speaking of course. Have you been able to debug further?

[2022-11-28 21:48] LazaroR94 commented on #29540
I'm not sure if this issue is also related to this: https://github.com/quarkusio/quarkus/issues/21110 seeing the ask for additional persistence units (and more specifically the last comment).

[2022-11-28 22:02] LazaroR94 commented on #29540
Also, upon digging a little deeper, when using a reactive datasource + a jdbc datasource, the latter takes precedence and the default persistence unit becomes JDBC. Maybe this is the reason for my confusion?

[2022-11-28 22:22] bdemers opened #29545 "JAX-RS resource not discovered when annotations are on interface in different jar"
### Describe the bug

I have a JAX-RS (Jakarta WS) resource defined as an interface with the various annotations in one jar, and an implementation in another one.  Quarkus does not discover this endpoint.

For example, my interface looks like this:

[code]

Its actual implementation is in a different jar and does NOT contain any annotations:

[code]

Example directory layout:

[code]

### Expected

[2022-11-29 00:39] TheBlindM commented on #29396
Can anyone help?😥

[2022-11-29 01:55] stuartwdouglas commented on #29533
Looks like a typo in the property name? You have `devservice` not `devservices` in your property names.

[2022-11-29 05:28] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3571164129

[2022-11-29 05:58] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3571164615

[2022-11-29 06:19] damonsutherland commented on #29316
@geoand, I submitted the following PR (https://github.com/quarkusio/quarkus/pull/29548).

[2022-11-29 06:26] #28430 closed

[2022-11-29 06:26] #26283 closed

[2022-11-29 06:33] geoand commented on #29545
Have you configured `project-a/` to be indexed (see [this](https://stackoverflow.com/a/55513723/2504224) for options)?

[2022-11-29 06:42] naah69 commented on #29482
yes，i will do it

[2022-11-29 07:28] #29025 closed

[2022-11-29 08:15] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3571167444

[2022-11-29 08:22] mkouba commented on #29540
I'm not quite sure how do the hibernate-orm and hibernate-reactive extensions cooperate but it seems that kind of configuration is not supported ATM.

CC @Sanne @gsmet @DavideD

[2022-11-29 08:37] punkratz312 commented on #29139
@gsmet yes, you have managed to fix this issue, probably by accident or luck 🍀. the NoSuchMethodError, which is obviously an quarkus problem, is fixed in 2.14.2. its very annoying that for every little obvious issue you require a reproducer. seeing the high number of bugs that gets released, im really fighting for the spring migration they have serverless too. imho rather have 1% more resource foo

[2022-11-29 08:42] maxandersen commented on #29542
@sberyozkin why would

[code]

not be proven to be valid?

should that not work?

and @grasfrosch we did change CORS behavior in 2.14.2 but not in a way that knowingly should break valid requests - hence would be great with a reproducer!

[2022-11-29 08:47] HknLof commented on #15959
@gavinking
Any recommendations on how to work with multi-tenancy in a reactive setting?

Would extending `DefaultSqlClient`, as mentioned in (hibernate)[https://hibernate.org/reactive/documentation/1.0/reference/html_single/#_custom_connection_management_and_multitenancy] work?

Or is it not part of the call stack within the `io.quarkus:quarkus-hibernate-reactive` extension?

[2022-11-29 08:51] maxandersen commented on #29542
Ah just re-read https://github.com/quarkusio/quarkus/issues/29542#issuecomment-1329566868.

indicates the ports are different which is not allowed with CORS (https://html.spec.whatwg.org/multipage/browsers.html#same-origin).

I can see how that might be interesting to loosen up for local dev cases...may I ask why you have a need to run it on different ports?

[2022-11-29 08:52] geoand commented on #29436
How about we ban it? This can come to bite us again and again, so I think we should ban it in a some of the core modules, WDYT?

[2022-11-29 08:55] gsmet commented on #29139
Well, first, I don't see you reporting many issues so if you have many, maybe you should report them?

Then, your issue was most probably caused by a misalignment of your dependencies so nothing to do with Quarkus itself.

Finally, you benefit from the project, the least you can do is take the time to qualify the issues you have and make it easy for us to reproduce the problem. If we have to spend

[2022-11-29 09:25] DavideD commented on #15959
I don't think it will work because Quarkus uses its own `SqlClientPool`.

[2022-11-29 09:28] Ladicek commented on #29436
That makes sense to me -- `Type.toString()` has always been usable only for human-readable string representation.

[2022-11-29 09:36] mkouba commented on #29436
How do we do that?

[2022-11-29 09:40] HknLof commented on #15959
Yepp, looks like it :(

https://github.com/quarkusio/quarkus/blob/main/extensions/hibernate-reactive/runtime/src/main/java/io/quarkus/hibernate/reactive/runtime/customized/QuarkusReactiveConnectionPoolInitiator.java

[2022-11-29 09:40] geoand commented on #29436
I'll open a PR soon :)

[2022-11-29 09:41] gsmet commented on #29436
See https://github.com/quarkusio/quarkus/blob/main/core/deployment/pom.xml#L199-L220 .

[2022-11-29 09:44] grasfrosch commented on #29542
@maxandersen I have added a button illustrating the behavior to the `index.html`-page in the reproducer:
[cors.zip](https://github.com/quarkusio/quarkus/files/10111633/cors.zip)

Just run it and open localhost:8080 in your browser.
If you disable CORS in `application.properties`, both the simple same-origin fetch on the demo page as well as the included test case work without issue.
If it is enabl

[2022-11-29 09:44] geoand commented on #29436
You spoiled the surprise 😆

[2022-11-29 09:52] gsmet commented on #29196
It should be added in the configuration here: https://github.com/quarkusio/quarkus/blob/main/extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java#L305 .

Then you should be able to figure out where to use the config by having a look at how we deal with others.

[2022-11-29 09:52] geoand commented on #29436
LOL, see https://github.com/quarkusio/quarkus/pull/29551

[2022-11-29 10:34] pmlopes commented on #29542
@grasfrosch I think there's confusion about what CORS is. The CORS protocol consists of a set of headers that indicate whether a response can be shared cross-origin.

The origin isn't "guessed" by the application server, it is the public facing name that clients use to reach your server.

If your application is running on `https://localhost:8000` the origin is that `https://localhost:8000`. Settin

[2022-11-29 10:57] sberyozkin commented on #29542
@maxandersen

We don't want the requests coming from not-the-same Origin host to get through unless the user has allowed it by configuring Quarkus CORS filter to accept such Origin

[2022-11-29 11:05] edeandrea commented on #23612
@ozangunalp any further word you might have on this?

[2022-11-29 11:06] PierreBtz commented on #29532
My bad I misunderstood the intent :)

So I confirm simply importing the `DeploymentBuilder` and `JobBuilder` classes are enough in my case. Version 6.3, when it's out will also fix the issue, so the PR bumping to 6.3 in Quarkus will solve this issue :)

Thanks for your help.

[2022-11-29 11:09] maxandersen commented on #29542
I must be missing something:

How is `https://my-internal-deployment.mycompany.com/` not valid  origin as `https://my-internal-deployment.mycompany.com/api/doSomething` - the schme, host and port are the same.

The only difference is the path but afaik that doesn't change the validation of origin here.

p.s. I agree the issue reported here is about port not matching; but just wanted to clarify if

[2022-11-29 11:11] silviu-negoita commented on #23263
Hello, any updates on this? I need to read the request body for logging purpose. ATM, I am stuck with `org.jboss.resteasy.reactive.common.core.BlockingNotAllowedException: Attempting a blocking read on io thread` when trying `containerRequestContext.getEntityStream().readAllBytes()`

[2022-11-29 11:20] punkratz312 commented on #29139
@gsmet thanks for your message.

please believe me, the only think that was changes is the quarkus dependency and 2.14.1 fails 2.14.2 works. so the only possible source for the pretty obvious NoSuchMethodError issue comes from the framework in my humble opinion.
i even tried to add the junit-params dependency it did not fixed the issue, only the bump to 2.14.2 does, so there is no doubt for me whe

[2022-11-29 11:24] silviu-negoita commented on #17280
Also needed. Trying to inject `org.jboss.resteasy.reactive.server.spi.ServerHttpRequest` but I got `javax.enterprise.inject.spi.DeploymentException: javax.enterprise.inject.UnsatisfiedResolutionException: Unsatisfied dependency for type org.jboss.resteasy.reactive.server.spi.ServerHttpRequest and qualifiers [@Default]`

[2022-11-29 11:32] mkouba commented on #29436
Interesting...

[2022-11-29 11:46] sberyozkin commented on #29542
@maxandersen I see, that was me not checking the question carefully.

So, right now, CORS filter does not try to compare the actual request URI and the Origin.

If it is the same Origin request then the browser must not be even setting `Origin`.
So it appears to me that @grasfrosch showed

[code]

to prove there is a bug but I don't think such a request can actually happen in practice where the pa

[2022-11-29 11:46] gsmet commented on #29396
@Karm if you don't plan on working on this anytime soon, I don't think it's worth keeping the issue open. I don't see anyone else from the team investing time in this and if someone comes with an extension or a blog post, fine, but I don't think keeping this issue open will help.

Now, if you think you will have time to dedicate to this, you can leave it open.

[2022-11-29 11:48] gsmet commented on #27640
/cc @FroMage, @loicmathieu

[2022-11-29 11:50] gsmet commented on #29107
@Eng-Fouad if you still think an extension makes sense, please ask @gastaldi to set up the Quarkiverse repository. Thanks.

[2022-11-29 11:51] gsmet commented on #17762
I think we can close this one. We can rediscuss it if at some point it makes sense but for now having alternatives is OK, especially since it doesn't have that much maintenance burden.

[2022-11-29 11:51] #17762 closed

[2022-11-29 11:53] gsmet commented on #14220
My understanding is that this should be fixed given we upgraded to a new version of the connector.

[2022-11-29 11:53] #14220 closed

[2022-11-29 12:00] grasfrosch commented on #29542
@sberyozkin Excatly that is my problem. And browsers actually do set the `Origin`-header even for same origin request. You can try the button in the second reproducer I linked [here](https://github.com/quarkusio/quarkus/issues/29542#issuecomment-1330353738), it does a simple `fetch('hello', {method: 'POST'})` or look at [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin#descrip

[2022-11-29 12:01] Sanne commented on #27640
@Dutch-0 what you call "workaround" is actually the correct way of coding with the reactive stack.

To explain, this code makes no sense as the `delete` and `flush` operations aren't being executed:

[code]

This is extremely inefficient and won't scale in terms of performance, but should work (and you confirmed it worked indeed):
[code]

So I'm not clear on what problem you're expressing; someone

[2022-11-29 12:05] sberyozkin commented on #29542
@grasfrosch Right, OK, so we have a case where the same Origin XHR/fetch request includes an Origin.

So as @pmlopes has said, why can't you list the Origin where you app is running in CORS config, ex,
`quarkus.hhtp.cors.origin=http://localhost:8081,http://localhost:9000` ?

[2022-11-29 12:05] ozangunalp commented on #23612
@edeandrea here is the state of my analysis:
I don't want to blindly revert the change that breaks this code – which itself fixes a bug in the Kafka connector.
I am trying to understand how the code from `SuperStats` worked in the first place.
Independent of the change, I don't think it was right to use mutiny context to store the message. (+ ack it before returning to the stream).

[2022-11-29 12:09] edeandrea commented on #23612
It stored the message in the context, then did some processing on that message. 2 different aggregations. 1 aggregation gets sent off to its own channel. After that, it continues processing and aggregating it differently, then returns it to a different channel. Both channels are in memory channels.

I couldn't figure out a way without using the context to hang onto the original message so that it

[2022-11-29 12:10] sberyozkin commented on #29542
If CORS filter is configured with something that does not match `Origin` header then, as a fallback, we can just check the current request URI and make sure it starts with the provided Origin, but we'd also need to do a reverse DNS lookup to prove this Origin binds to a localhost, and it will slow down things

[2022-11-29 12:12] edeandrea commented on #23612
Plus all the OpenTelemetry stuff is mixed in there too (capturing the parent span off the message, creating new child spans, closing then).

I'd love to remove all that otel complexity, but last time I tried then the spans didn't carry over the message properly. That was a few Quarkus versions ago though.

[2022-11-29 12:14] sberyozkin commented on #29542
If CORS is enabled without configuring anything then a wildcard is supported OOB, so no any issues here, but of course we would not want users do it in production, so if the users have configured CORS to accept some not the same Origin requests then they should also configure it to allow the same Origin. Note it only applies if `POST` is involved - so it looks reasonable

[2022-11-29 12:14] zakkak commented on #22654
So shall we close this as won't fix?

[2022-11-29 12:17] radcortez commented on #28610
Closing due to no response back and unable to reproduce.

[2022-11-29 12:17] #28610 closed

[2022-11-29 12:22] sberyozkin commented on #29542
I think it warrants a Migration note, that the same Origin POST requests have to be explicitly allowed now.
Additionally I can have a look at fixing https://github.com/quarkusio/quarkus/issues/29462 both for DevUI and main CORS filters - but it will only be done optionally, doing it by default would be slow and the Origin header can be deliberately set to a value which can cause a long and failed

[2022-11-29 12:25] grasfrosch commented on #29542
@sberyozkin sure, setting the origin where the app is running (or all possible origins, if proxies are involved) would work as a workaround, even if it would be annoying to communicate the configuration changes to the customers actually running our app. However, the behaviour seemed very suprising and unintended, which is why I reported it as a bug. As enabling CORS is fundamentally about *allowin

[2022-11-29 12:31] zakkak commented on #9794
`-H:+RemoveSaturatedTypeFlows` is the default since 20.2

[2022-11-29 12:31] #9794 closed

[2022-11-29 12:32] fedinskiy opened #29555 "Quickstart for Hibernate Rest data panache"
### Description

Module quarkus-hibernate-orm-rest-data-panache was promoted[1] to full support, but there is no quickstart for it in the quicktstarts repo[2]. It is used in the optaplanner quickstart, but I presume, the standalone one will provide a better usage example.

[1] https://github.com/quarkusio/quarkus/pull/28569
[2] https://github.com/quarkusio/quarkus-quickstarts/

### Implementation

[2022-11-29 12:34] zakkak commented on #14089
I really don't know. @gsmet @geoand WDYT? (please ping someone more knowledgeable on the matter if you don't know as well)

[2022-11-29 12:34] Karm commented on #29396
Hello @TheBlindM, I am somewhat rusty on my polyglot skills, but I guess the issue is unrelated to Quarkus. It might be the space in "Program Files" being treated erroneously. It is possible to launch a system process from your Java app.

I will close this issue now and kindly ask you to redirect your questions to either our Zulip https://quarkusio.zulipchat.com/# or to the user discussions https:

[2022-11-29 12:34] #29396 closed

[2022-11-29 12:42] sberyozkin commented on #29542
@grasfrosch The problem is, the preflight request is not guaranteed to happen when XHR makes a POST request from the not the same Origin host. So we need to be able to block such simple requests which have Origin header.

@pmlopes, all, I think that we can support such cases by 1) if the origin status check is false then check if the current request URI starts with the Origin header value and if i

[2022-11-29 12:45] radcortez commented on #27266
Do you mean that adding the property in `systemPropertyVariables`, won't work? If that is the case you need to investigate.

About the rest, are you ok sending a PR to the docs with this info? Thank you!

[2022-11-29 12:50] geoand commented on #14089
cc @radcortez

[2022-11-29 12:50] #22654 closed

[2022-11-29 12:51] pmlopes commented on #29542
I'm not sure you can resolve all local domains, for example:

127.0.0.1 can be resolved:

[code]

But... we can always bind to any available device with 0.0.0.0:

[code]

While the 1st address will only allow local connections, I cannot connect to your "127.0.0.1" the second will allow connections from any device, and in fact it is a common listening address, which you can't resolve.

[2022-11-29 13:03] zakkak commented on #16062
FTR #29413 is also caused by such native-image metadata.

[2022-11-29 13:20] gsmet commented on #29444
The `Set` in the config is not really used but I will change it once we have this fixed in SmallRye OpenAPI, where I think the problem lies. I created a pull request here: https://github.com/smallrye/smallrye-open-api/pull/1323 .

[2022-11-29 13:43] LazaroR94 commented on #29540
Correct, that is what I am understanding as well. When I configure both and disable jdbc on the default datasource then this new error is observed: `io.quarkus.runtime.configuration.ConfigurationException: Model classes are defined for the default persistence unit, but no default datasource was found. The default EntityManagerFactory will not be created.`

What I find interesting is that I have an

[2022-11-29 13:44] Dutch-0 commented on #27640
@Sanne You're obviously right. I simply overlooked the flush operation in the entry post and in my project.

[2022-11-29 14:01] bdemers commented on #29545
Yes, I added the indexes.
The odd part is if both the above classes are in ‘project-a’ and my “application” is in ‘project-b’ everything works.

Is there something in the annotation scanning that stops on jar boundaries?

[2022-11-29 14:04] mfpc commented on #29196
@gsmet Thanks

[2022-11-29 14:39] geoand commented on #29545
If the projects are indexed, it should work.

If it doesn't, we'll need a sample application which we can test

[2022-11-29 14:43] pmlopes commented on #29542
Just my opinion here, I don't think you should do DNS lookup to "prove" the origin binds to local host. A couple of issues here:

1. The example above, 0.0.0.0 doesn't resolve, but you can use it to connect from localhost.
2. containers, in containers, addresses are usually on a separate network, which isn't (generally) reachable from outside
3. k8s, besides the example above, it is common to depl

[2022-11-29 14:53] sberyozkin commented on #29542
Thanks @pmlopes, probably makes sense to leave the reverse lookup out for now, it can also have performance side-effects.

I've opened #29557 to check to try to determine if the request is the same origin, have a look please

[2022-11-29 15:39] mbleichner opened #29559 "quarkus-oidc: NullPointerException if Keycloak groups contains special characters (äöü)"
### Describe the bug

Using special characters in Keycloak group names causes a NullPointerException, leading to authentication errors.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. Create Keycloak group with `ä` in name
2. Assign group to user
3. Try to login via quarkus-oidc

### Output of `uname -a` or `ver`

_No response_

### Output of `j

[2022-11-29 15:52] LazaroR94 commented on #29540
To further add, whenever I use YAML configuration (reactive + jdbc), the datasource seems to configure itself with `DataSourceJdbcRuntimeConfig`; whereas, when using .properties configuration, it seems to configure itself with `DataSourceBuildTimeConfig`?

[2022-11-29 16:05] sberyozkin commented on #29559
@mbleichner Can you please create a test token and paste here ?

[2022-11-29 16:17] gsmet commented on #16103
Looks like this one fell through the cracks. I created https://github.com/quarkusio/quarkus/pull/29560 to fix it.

[2022-11-29 16:28] gsmet commented on #16103
@flupec thanks for the reproducer, btw!

[2022-11-29 16:36] mkouba commented on #15937
A simple reproducer project (ideally Maven) that demonstrates the problem would be helpful.

[2022-11-29 16:39] mkouba commented on #15476
Shall we move this issue to https://github.com/kiegroup/kogito-runtimes?

[2022-11-29 16:39] gsmet commented on #29427
So for me, there are two issues here:

- we need to understand why the exception is not propagated and you have absolutely no idea what's going on
- secondly, we need to understand the connection issue

As for the former, @sberyozkin could you have a look at why the exception is somehow swallowed and there's no information in the log? Note that the log looks like garbage to me so I'm not sure the

[2022-11-29 17:12] bdemers commented on #29545
Ugg... I'm a liar...
One of my jars was not getting indexed 🤦
I almost stubbed out a sample for this, and of course, when I did it proved the code was working fine.

Sorry about that!

[2022-11-29 17:12] #29545 closed

[2022-11-29 17:18] GavinRay97 commented on #29283
@cescoffier Ah, sorry to waste your time. This is slightly confusing to me.

Could anyone point me to where the `run-java.sh` that the default Quarkus templates use come from, please? 🙏

[2022-11-29 17:43] gsmet commented on #29426
I created https://github.com/quarkusio/quarkus/pull/29562 to take care of this.

[2022-11-29 17:46] GavinRay97 commented on #17280
PvlPech's answer works perfectly, this is what we have in our repo.
(We use `resteasy-reactive`, if it makes a difference)

Might be worth making a FAQ/documentation entry on.
Or creating a StackOverflow question and self-answering so others can find:

[code]

[2022-11-29 17:48] manusa commented on #29532
Nice, thx for confirming 👍

[2022-11-29 18:33] saturna commented on #27362
+1 I'm running into exact same issue as well. Everything works for as long as I'm running ITs against native profile, but the moment I try to move failsafe plugin so it runs for both build types, it will fail for regular non-native builds.

[2022-11-29 19:33] cescoffier commented on #29283
@GavinRay97 here: https://github.com/jboss-container-images/openjdk/tree/ubi9/modules - the main script in the run module.

[2022-11-29 19:54] LazaroR94 commented on #29540
@Sanne @gsmet @DavideD Any input on this? This is blocking my reactive application because I am now needing to use Quartz for clustered job execution in a cloud environment.

[2022-11-29 20:46] GavinRay97 commented on #29283
Thank you!!

[2022-11-30 05:24] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3580465038

[2022-11-30 05:47] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3580465566

[2022-11-30 06:36] Sanjini88 opened #29566 "Unable to run quarkus-run.jar as Java application, but able to run with MVN command"
Hi,

I am getting below error while running jar file with command:

[code]

whereas when I run mz code with clean install quarkus:dev -Dquarkus.args="args" it runs succesfully.

[code]

Please help to understand what is missing here.

[2022-11-30 07:41] iocanel commented on #29520
AFAIR, interceptors were introduced to support some openshift specific use cases regarding authentication (e.g. perfrom `oc login` if needed). At the time okhttp provided interceptors so we just used them. In theory we could have implement this logic at a higher level. I am wondering if we should do that now, in order to break the dependency with non standard http client features.

Is this somethi

[2022-11-30 08:15] #16103 closed

[2022-11-30 08:28] mbleichner commented on #29559
Upon further investigation, the NPE doesn't seem to be caused by the group name (it doesn't even appear anywhere in the access token), but by a client role that I had associated with the group containing a colon (`:`).

The access token then contains a section like this:
[code]
Maybe this leads to a parse error?

[2022-11-30 08:33] manusa commented on #29520
### Testing

One of my pending goals is to remove the `httpclient-tests` module and consolidate every test in an Abstract test that should/is then be implemented for each module. The abstract tests contain a **single** abstract method to provide the HttpClient implementation to be tested and shouldn't override or extend anything else (tests that don't pass can be overridden to highlight that some

[2022-11-30 08:41] Eng-Fouad commented on #29107
@gsmet I believe we still can implement it using an extension.
@gastaldi Could you please setup a Quarkiverse repository for this extension (`quarkus-systemd-notify`)? Thanks.

[2022-11-30 09:24] dthommes commented on #19451
Yes. You would have a twofold test strategy:
- Test your production build with integration tests
- Additionally run unit tests with the test executable

With this approach, you get better test coverage, because the unit tests allow better coverage of the edge cases. It is more effort, but can typically done within a build pipeline.

[2022-11-30 10:29] KriBetko commented on #26250
@asimpson2004 Could you please provide extended example of usage of your interceptor for flushing and your lambda setup?

I'm set up lambda from Quarkus docs (https://quarkus.io/guides/amazon-lambda), added OTeL for Quarkus (https://quarkus.io/guides/opentelemetry) and implemented this interceptor, but lambda still don't send any data.

[2022-11-30 10:39] rsvoboda commented on #29431
Reproducer app - https://github.com/rsvoboda/code-with-quarkus

`quarkus.datasource.password` added to have something simple for editing in https://localhost:8443/q/dev/io.quarkus.quarkus-vertx-http/config

[2022-11-30 10:47] radcortez commented on #14089
We cannot change the ordinals of System Properties and Environment Variables because the MP Config specification sets them.

But you can override the ordinal of each source if you set `config.ordinal=500` or `CONFIG_ORDINAL=500`. The `config.ordinal` is a unique property that only applies to the source where it was set to override that source ordinal.

[2022-11-30 10:51] Sirz3chs opened #29571 "Infinispan - unable to cache uni values with @CacheResult annotation"
### Describe the bug

I'm trying to use infinispan in a 100% reactive project. The method i need to cache with `@CacheResult` return an `Uni` and when it is called it never completes. It ends if i set `lockTimeout` but my values are never cached.

### Expected behavior

Be able to cache values returned from a method with `Uni` with or without `lockTimeout`.

### Actual behavior

The method never c

[2022-11-30 10:51] sberyozkin commented on #29559
@mbleichner This is a valid JSON, the value is quoted.
If you paste a test token (in JWT format) here then I can have a look. Or create a reproducer please or may be test Keycloak realm can also be enough

[2022-11-30 10:57] Sirz3chs opened #29572 "Infinispan - can't load configuration from file in quarkus dev"
### Describe the bug

I'm creating an infinispan cache and tried to create my cache from configuration file like the [documentation](https://quarkus.io/guides/infinispan-client#creating-caches-from-the-client) said. When starting in dev mode, quarkus raise an exception.

Creating my config file in `src/main/resources` or `src/main/resources/META-INF/resources` like i've read in some issues, has th

[2022-11-30 10:57] gastaldi commented on #29107
Just curious: the issue says that it was fixed in JDK 17. Does the proposed solution by @dmlloyd works in JDK 17+?

[2022-11-30 11:03] rsvoboda opened #29573 "Quarkus Vertx HTTP defines default keystore password"
### Describe the bug

Quarkus defines default keystore password, this is imo bad practice and we should remove that.

Noticed when looking into custom CredentialsProvider related test and confirmed in https://github.com/quarkusio/quarkus/pull/29561 description.

CC @sberyozkin

[2022-11-30 11:07] Sirz3chs commented on #29571
I've also tried diffrent cache configuration:
- SYNC without tansaction
- SYNC with tansaction
- ASYNC

But nothing changed

[2022-11-30 11:34] #29413 closed

[2022-11-30 11:40] gbourant commented on #7193
any update regarding this issue?

[2022-11-30 11:41] pedroigor opened #29575 "Unexpected beans added to the index and affecting restarting the application"
### Describe the bug

I did not manage to come up with a reproducer using a regular Quarkus application. But the issue happens if you try out this branch https://github.com/pedroigor/keycloak/tree/tmp-reactive.

That branch is about switching from Resteasy Classic to Reactive in Keycloak. The issue does not happen if using Resteasy Classic and I'm not sure what is the relation, if any.

Basically,

[2022-11-30 11:46] pedroigor commented on #29575
After talking with @stuartwdouglas, he mentioned that a possible cause is:

io.quarkus.arc.processor.BeanArchives#buildBeanArchiveIndex is (incorrectly) treating everything in PersistentClassIndex as a bean
But ReflectiveHeirachyBuildItem can result in additional stuff being added to PersistentClassIndex, including NarayanaTransactionManager if TransactionManager is involved anywhere (as this will

[2022-11-30 11:52] asimpson2004 commented on #26250
Collector setup yaml:

[code]

Environment vars:

[code]

Lambda Layer:
arn:aws:lambda:eu-west-1:901920570463:layer:aws-otel-collector-amd64-ver-0-62-1:1

Extra libraries build.gradle:

[code]
Interceptor annotation:

[code]

Then annotate lambda handler with @OtelLambdaHandler

You need to make sure that the yaml file is included in the root of the zip that is uploaded to the lambda for this to b

[2022-11-30 12:03] asimpson2004 commented on #26250
The above also doesn't create any spans, you will need to generate a span to be sent

[2022-11-30 12:07] pedroh-pereira commented on #14789
@loicmathieu @evanchooly I think I've cover all points and the requested changes on the PR

[2022-11-30 12:23] #5751 closed

[2022-11-30 12:39] zakkak commented on #27307
22.3 is now out and AFAIK the issue no longer manifests.

[2022-11-30 12:39] #27307 closed

[2022-11-30 12:44] zakkak commented on #28743
@MrLuje is this still reproducible ?

If so, can you please provide the output of

[code]
?

[2022-11-30 13:23] #29107 closed

[2022-11-30 13:25] Eng-Fouad commented on #29107
New issue is created in OpenJDK tracker:

https://bugs.openjdk.org/browse/JDK-8297837

[2022-11-30 14:22] meridsa opened #29578 "Resteasy reactive kotlin serialization starter does not include jaxb-api for post testing"
### Description

We started a quarkus project with Resteasy reactive kotlin serialization. When we tried writing a restAssured POST test with a request body the test skipped due to:

```javax.xml.bind.JAXBException: Implementation of JAXB-API has not been found on module path or classpath.```

Would be a smoother experience to have an implementation included in this starter by default.

### Implem

[2022-11-30 14:26] geoand commented on #29578
I am not sure I understand this. Can you put together a sample showing the problem?

[2022-11-30 14:35] hutchig commented on #21445
@starksm64 the repo is now there but empty:
https://github.com/eclipse-ee4j/rpc
Also:
https://www.youtube.com/watch?v=erpFfXIb99Q
https://www.eclipsecon.org/sites/default/files/slides/Jakarta%20RPC.pdf
https://github.com/aseovic/jakarta-grpc-example
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=24188#attach_30538
https://projects.eclipse.org/comment/1406
https://projects.eclipse.org/comment/1406

[2022-11-30 14:53] loicmathieu commented on #29350
@iocanel I had a look at this and:

My first point seems to be an issue at the fabric8 client level, nothing we can do about it.

My second point is not realy an issue as anything is generated.

For my 3rd point I propose PR #29580

For my last point I openned a separate issue a few days ago.

So I think I can mark this one as fixed by #29580

[2022-11-30 15:11] meridsa commented on #29578
With the standard pom the test
[code]

Would skip with the exception

[code]

[2022-11-30 15:41] floresmleonardo opened #29583 "@ConfigMapping throws java.util.NoSuchElementException"
### Describe the bug

Declaring a ConfigMapping in a quarkus extension runtime module as:

[code]

Then, using the quarkus extension deployment module to set it as **Unremovable**:

[code]

or:

[code]

throws:

 `java.util.NoSuchElementException: SRCFG00027: Could not find a mapping for org.test.MyConfigMapping`

### Expected behavior

It is expected the bean been marked as unremovable programmat

[2022-11-30 15:49] mkouba opened #29584 "UniAsserter - make it easier to share data between assertions"
### Description

Currently, if you want to share some data the only way is to use some "external" holder, e.g.
[code]

### Implementation ideas

We could add some method directly to the `UniAsserter` or even consider [Mutiny context passing API](https://smallrye.io/smallrye-mutiny/2.0.0/guides/context-passing/#how-to-access-a-context).

[2022-11-30 15:49] mkouba commented on #29584
CC @geoand

[2022-11-30 16:15] geoand commented on #29584
Do you have examples of how you want to use this?

[2022-11-30 16:22] ThoSap commented on #29252
In our case, **polyglot** support is really needed for some projects, but we can always specify the `quay.io/quarkus/ubi-quarkus-graalvmce-builder-image` builder image in the `application.properties/yaml`.

[2022-11-30 16:28] edeandrea commented on #23612
Thank you @ozangunalp I merged it. Will see if this turns green tomorrow!

Thank you very much for your help!

[2022-11-30 16:29] #27760 closed

[2022-11-30 16:29] #28176 closed

[2022-11-30 16:49] benjaminrau opened #29585 "@ConsumeEvent annotated method is called twice per message when generic parent class has an abstract method for it"
### Describe the bug

Having a class extending a class with generics which has an abstract method for the consumer method, this will result in the method annotated with `@ConsumeEvent` on the extending class to be called twice per eventbus message.

### Expected behavior

Its expected that a method annotated with `@ConsumeEvent` is invoked only once per message.

1. Remove `public abstract void co

[2022-11-30 16:57] gsmet commented on #29431
From what I can see, the problem is when `DevConsolePostHandler` tries to redirect.

`event.request().absoluteURI()` returns `http://localhost/q/dev/io.quarkus.quarkus-vertx-http/config` even in HTTPS, which is incorrect.

I worked around it here by using `uri()`, which IMHO is better anyway but I think we should still try to understand what's going on at the Vert.x level.

PR is here: https://git

[2022-11-30 17:14] Plawn opened #29587 "Qute add a way to get the raw String content of a template"
### Description

When using a Template with a @Location, add a way to get the raw String content of the Template

### Implementation ideas

_No response_

[2022-11-30 17:23] dmytro-kostiushko opened #29588 "Connection to the db is never released after multiple messages from "vertx-blocked-thread-checker" about thread being blocked"
Describe the bug
We have had a bug with  our system that led to thousands of elements saved in the mongodb document, which in turn made any fetch request overflow the allowed time of execution that is expected by vertx-blocked-thread-catcher, but the issue is that after a hundred or so of messages like this our system shuts down entirely even the most basic functions in the app like find by id no

[2022-11-30 17:25] rsvoboda opened #29589 "Incorrect quarkus.http.ssl.certificate.key-store-password ends with misleading NSFE for the keystore"
### Describe the bug

Incorrect `quarkus.http.ssl.certificate.key-store-password` ends with misleading NSFE for the keystore

When the app starts (in dev mode) I receive 5 errors with stacktraces, last two (stacktrace nr. 4 and 5) have `Caused by: java.nio.file.NoSuchFileException: META-INF/resources/server.keystore`

Stacktraces nr. 2 and 3 have the info `Caused by: java.io.IOException: keystore

[2022-11-30 17:25] rsvoboda commented on #29589
Full log:
[code]

[2022-11-30 17:26] #29588 closed

[2022-11-30 18:00] brunobat commented on #28552
@famod yes please.

[2022-11-30 18:05] famod commented on #28552
@brunobat will do.

For the simple scheduler, I've realized that a workaround seems as easy as adding `@WithSpan` to my `@Scheduled` method. Am I missing something?

[2022-11-30 18:38] syr commented on #28552
@famod  do you use otel agent or is this already working with quarkus-opentelemetry + quarkus-scheduler dependencies?

[2022-11-30 18:59] michalovjan opened #29592 "[infinispan-client] cache configuration not available while bootstrapping dev mode"
### Describe the bug

Hi,
I am trying to use infinispan cache configuration that was recently added to application yaml [1]. I am trying to use it in dev mode and this results in NPE while bootstraping. Testing with the configured cache is working well.
`2022-11-30 19:47:52,653 ERROR [io.qua.run.Application] (Quarkus Main Thread) Failed to start application (with profile dev): java.lang.NullPointe

[2022-11-30 19:00] xtaixe opened #29593 "`IllegalAccessError` on `@QuarkusTest` when using method in package private interface"
### Describe the bug

`IllegalAccessError` on `@QuarkusTest` when using method in package private interface (through a public interface that extends that one)

### Expected behavior

The test executes.

### Actual behavior

`IllegalAccessError` exception thrown.

### How to Reproduce?

Reproducer:
[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/10126401/code-with-quarkus.zip)

#

[2022-11-30 19:12] tleach-sgi commented on #6353
I have this problem in dev mode when the datasource password is supplied by a custom ConfigSource.  My workaround is setting the env var QUARKUS_DATASOURCE_PASSWORD

[2022-11-30 19:42] kenkania opened #29594 "Make it easier to retry REST client processing exceptions"
### Description

One cannot easily use the fault tolerance `@Retry` annotation (which allows specifying exception classes to retry) with the various internal JAX-RS processing exceptions that may be thrown during REST client operations.

This is because:
* they are often wrapped in ProcessingException (alleviated in Quarkus 2.8+ which examines the entire causal chain according to [smallrye's non-c

[2022-11-30 19:50] shawkins commented on #29520
Yes that is what I mean.  I don't think it necessarily needs to be preserved - that's currently the only test class in the module, and it only has two tests (1 for a regular request, 1 for a websocket).  Given our other tests supersede these, I'd be fine with removing it.

Yes, I'm proposing: https://github.com/fabric8io/kubernetes-client/pull/4628 - it's not the greatest abstraction, but it minim

[2022-11-30 20:26] karesti commented on #29592
Thanks for the issue, talking a look

[2022-11-30 22:18] murphye commented on #15012
@Sanne The final implementation of my use case with Saxon used GraalVM native-image without Quarkus. It was used in the Solo.io Gloo products.

So, I would say this Quarkus feature is "nice to have" at most and probably requires further consideration as you suggest. Maybe there are other use cases to justify this. I am not sure.

Quarkus would have added value if there was already a Saxon Quarkus