[2022-04-27 14:28] grossws commented on #23994
I had similar case with present `org.codehaus.woodstox:woodstox-core-asl` in runtime classpath that brought old version of the `javax.xml.stream:stax-api` that also has `javax.xml.stream.XMLInputFactory` without `newFactory(String,ClassLoader)` static method.

[2022-04-27 14:31] ylepikhov commented on #25089
Actually, I considered this, but feature was not documented (I found it in source code), and it doesn't work in current Quarkus version anyway. I will try it, when it would be released.

[2022-04-27 15:04] gastaldi commented on #25201
This looks like a bug in JBang, I managed to reproduce it locally with JBang 0.92.2 by runnning

[code]

[2022-04-27 15:15] josephearl commented on #24607
Thanks @manofthepeace for taking the time to suggest some solutions, those both look good, will give them a try

[2022-04-27 15:15] eduleon commented on #25177
@glefloch yes. I was able to reproduced the issue twice this morning using the next steps:

1. quarkus create app --gradle -x quarkus-resteasy-reactive
2. edit `gradle.properties` file replacing versions `2.8.2.Final` with `2.8.+`
3. `./gradle test`

The issue is no longer happening to me, so maybe I had a mix of dependency versions locally 🤷🏽‍♂️
BTW, a colleague had the same issue yesterday.

[2022-04-27 15:21] dometec commented on #17807
Hi Guys, I get the same exception using Quarkus 2.7.5.Final. This is a non reproducible bug, at restart sometime happen and sometime no.

[2022-04-27 15:31] mmusgrov commented on #25088
@mensinda  Narayana did once provide events for ASSOCIATED (a transaction is associated with the current thread) and DISASSOCIATING (a transaction is just about to be disassociated from the current thread) that listeners could subscribe to but this functionality was moved into the WildFly Transaction Client project so it's only available for app servers that use that.

Why do you need this informa

[2022-04-27 15:33] galderz commented on #25199
Upgrading requires implementing `--link-at-build-time`, because `--allow-incomplete-classpath` is now on by default.

[2022-04-27 15:37] GregJohnStewart commented on #25151
@famod and @jaikiran Are also listed on the git blame.

Noticing that in most usages of the config object, it could just be assigned as a generic `Config`, rather than a `SmallRyeConfig`. There is at lest one usage that requires `SmallRyeConfig`, but maybe we could work around that somehow?

[2022-04-27 16:55] gastaldi commented on #25201
It seems to be a GitHub glitch, it works for me now, can you try again @fedinskiy ?

[2022-04-27 17:05] quintesse commented on #25201
This is actually correct. It's a way to get to a file in the main branch without knowing how that branch is called, "main", "master" or something else. AFAIK that isn't what HEAD does in your local Git repo, but it does seem to work like this for services like GitHub, GItLab etc

[2022-04-27 17:06] quintesse commented on #25201
GH has been giving me trouble all day, although mostly when using the website (like refusing to post comments).

[2022-04-27 17:27] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/2234453323

[2022-04-27 17:36] maxandersen commented on #25201
It's exactly what HEAD does locally before you change it :)

So yeah; we already have several safeguards in place here with caching etc. But since --fresh is used the ask is to jbang to fetch the latest fresh version thus when that fails to return actual data jbang has no alternative url to try.

I suggest Closing as GitHub glitch.

[2022-04-27 17:56] #25201 closed

[2022-04-27 18:50] #25178 closed

[2022-04-27 19:13] michalszynkiewicz commented on #17807
@dometec can you create and attach a reproducer which (even occasionally) reproduces the problem?

[2022-04-27 19:33] knutwannheden commented on #24350
@alesj Will #24526 already allow to use Karapace as an alternative?

[2022-04-27 19:40] glefloch commented on #25177
I'm not able to reproduce it either, it may be related to the version release and missing artifact but I'm not sure.

[2022-04-27 21:32] manofthepeace commented on #25199
I think that is already in place since 2.8.0.CR1 in https://github.com/quarkusio/quarkus/pull/24213. I can confirm my app works well will 22.1 with 2.8.0. My app being possibly really far from being a valid test.

[2022-04-27 23:30] radcortez commented on #25151
Then I guess that it may be a discovery ordering issue, meaning that in some cases the correct SPI is the first one selected, and in others, you get the wrong one.

I think it won't work because the Config returned by `RunningAppConfigResolver` is not fully implemented.

Do you know have a way to provide a reproducer with the exact steps? Thanks!

[2022-04-27 23:43] radcortez commented on #24901
Ah, so you want to avoid the try-catch? 😛

[2022-04-28 00:32] GregJohnStewart commented on #25151
I had a similar thought, but it was hard to debug to determine if this was true or not.

That's good to know.

I linked my project on Github in OP, it's fairly simple as is but could make another, even simpler one. Let me know if you want me to do so @radcortez

[2022-04-28 00:44] radcortez commented on #25151
Thanks. I'll have a look.

[2022-04-28 00:56] GregJohnStewart commented on #25151
Thanks! Do let me know if you need anything, or have any questions!

[2022-04-28 01:03] debu999 commented on #25198
DataIndex never shows list not sure if this is a bug ....

[2022-04-28 05:11] jpechane opened #25209 "Runner JAR is not correctly generated using Maven 3.8.5"
### Describe the bug

If I execute `mvn clean install -DskipTests=true -DskipITs=true -Passembly` on https://github.com/debezium/debezium there is a `debezium-server/debezium-server-dist/target/debezium-server-dist-2.0.0-SNAPSHOT-runner.jar` created.

This runner lacks `io.debezium` classes.

With Maven 3.8.4 the classes are there.

### Expected behavior

The classes in question should be present.

[2022-04-28 05:40] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/2237257192

[2022-04-28 05:48] geoand commented on #23612
It seems like one of the tests is too strict:

[code]

[2022-04-28 06:00] funcbro commented on #21642
any news on this issue?

[2022-04-28 06:17] geoand commented on #25209
@famod is this a known Maven bug perhaps?

[2022-04-28 06:27] #25189 closed

[2022-04-28 07:13] geoand opened #25210 "Quarkus Arthas extension"
### Description

I have a simple extension ready that starts Arthas when Quarkus is started in dev mode.
I would like a quarkiverse repository where I can host the code.

[2022-04-28 07:13] geoand opened #25211 "Quarkus ngrok extension"
### Description

I have a simple extension ready that starts ngrok when Quarkus is started in dev mode.
I would like a quarkiverse repository where I can host the code.

[2022-04-28 07:32] glefloch commented on #25095
I have the issue. It comes from the `quarkus-mockk` I will a fix today and release a new version of the library too

[2022-04-28 07:45] lamemind-ud commented on #25066
Hello @cescoffier ,

`emitter.send(...).toCompletableFuture().join();` is exactly what I was looking for.
I should have RTFM before posting this... like the following: https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.1/emitter/emitter.html#emitter-payloads

There's a lot to know and study, actually, and I'm still new in the Enterprise Java in general...
At the time I f

[2022-04-28 08:11] knutwannheden commented on #24901
Well, if having the config properties as a string literal in the annotation (as proposed) isn't an option, I think a utility method would at least make it a little bit more concise.

[2022-04-28 08:16] knutwannheden commented on #24901
Also, I prefer an option where the test-specific config properties are declared in the test folder (see also #24900), so I would rather declare the properties inline with the test instead of adding them to `src/main/resources/application.properties`.

[2022-04-28 08:21] jpmaas commented on #25066
While this works for situations where you only sent payloads, this runs into issues if you need to send messages with custom metadata due to e.g. custom topics to be sent to. According to the documentation, this should be done using this emitter.send(...).toCompletableFuture().join(); is exactly what I was looking for.
I should have RTFM before posting this... like the following: https://smallrye.

[2022-04-28 08:24] iriikoad commented on #2966
Is there an example how to read this cookie?

[2022-04-28 08:29] ruiarodrigues opened #25214 "Disabled schedulers are not disabled"
### Describe the bug

I created a simple scheduler with a property expression but when I set it to `disabled` or `off` as documented, the job is triggered.

Example:
[code]

application.properties: `pm.collector.wake.up=disabled` or `pm.collector.wake.up=off`

### Expected behavior

When a property expression used in a simple trigger with one of the values `disabled` or `off`, the job is not trigg

[2022-04-28 08:48] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2237259231

[2022-04-28 08:48] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2237259231

[2022-04-28 08:55] #25095 closed

[2022-04-28 08:55] mkouba commented on #25214
@ruiarodrigues So you're using `quarkus-quartz` and persistent jobs?

[2022-04-28 08:58] machi1990 commented on #25214
I think so.

We seem to be checking for `off` and `disabled` when evaluating the expression.

[2022-04-28 09:03] ruiarodrigues commented on #25214
@mkouba yes I am. sorry I forgot to mention it

[2022-04-28 09:07] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/2237997673

[2022-04-28 09:28] glefloch commented on #25095
@pschyma I released `quarkus-junit5-mockk:1.1.1`, it be indexed soon

[2022-04-28 09:32] knutwannheden opened #25215 "BasicLoggingEnabler failed to enable basic logging"
### Describe the bug

In some QuarkusTests I am seeing this error being reported when starting the test: `BasicLoggingEnabler failed to enable basic logging: java.lang.RuntimeException: java.lang.reflect.InvocationTargetException`. When I enable verbose logging or debug it, I can see the following stack trace:
[code]

### Expected behavior

I don't know for sure when this started happening, but I

[2022-04-28 09:57] raycke opened #25216 "SRCFG00011: Could not expand value parent.version in property quarkus.application.version"
### Describe the bug

Failed to run tests after upgrading Quarkus to `2.8.2.Final`. `2.8.1.Final` is ok.

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Windows 10 20H1

### Output of `java -version`

17

### GraalVM version (if different from Java)

22.1

### Quarkus version or git rev

git

[2022-04-28 10:06] #25184 closed

[2022-04-28 10:43] mkouba commented on #24961
I'm going to close this one. Feel free to reopen if you want to discuss the problem further.

[2022-04-28 10:43] #24961 closed

[2022-04-28 11:18] pjgg opened #25221 "Missing `quarkus.oidc.tls.key-store-provider` and `quarkus.oidc.tls.trust-store-provider` properties on OIDC extension"
### Describe the bug

I would like to use OIDC with mtls over FIPS.

The certificates that I am thinking to use are `BCFIPSJSSE` (BouncyCastleJsseProvider) as we do in other [modules](https://quarkus.io/guides/security-customization#bouncy-castle-jsse-fips). The problem that I have is that there is no `quarkus.oidc.tls.key-store-provider` / `quarkus.oidc.tls.trust-store-provider`.

application.pro

[2022-04-28 11:41] mkouba commented on #25050
Hm, I've just tried to reproduce the problem with:
[code]
and no problem occured. And even the producer worked.

[2022-04-28 11:42] mkouba commented on #25050
That's a question for @geoand ;-)

[2022-04-28 11:54] geoand commented on #25050
Which case does not work?

[2022-04-28 11:57] sberyozkin commented on #25095
@glefloch Nice, thanks for this fix

[2022-04-28 12:08] #25077 closed

[2022-04-28 12:14] edeandrea commented on #23612
Perhaps @geoand (I'll take a look when I'm back from PTO next week). But it does mean that something has changed. The tests have been executing fine for 6+ months.

[2022-04-28 12:17] leutrimmusliuu commented on #23990
@FroMage @stuartwdouglas @geoand any update on this ?

[2022-04-28 12:19] geoand commented on #23612
Even if something changed, the test should not depend on the order of the fields

[2022-04-28 12:39] ejba opened #25225 "`Forwarded` header is not parsed as expected"
### Describe the bug

According to [RFC7239](https://www.rfc-editor.org/rfc/rfc7239#section-4), the `Forwarded` header can have a comma-separated list of values. It is used to indicate the string of proxies (including the client that initiated the request).

The ForwardedParser class splits this header by comma and later considers only the first element. This element will be the one that will dete

[2022-04-28 13:09] ejba commented on #25225
/cc @sberyozkin @luneo7

[2022-04-28 13:16] devprojectsme commented on #6034
Dear @gsmet ,

I do realize it is "not recommended" to comment on the closed issue, but am not sure it would be any better to open the new once for this.

My question is: in the fast-jar packaging mode, Quarkus creates the generated-bytecode.jar file. This file contains classes with the references to the actual app code under _quarkus-app\app_ path. Hence obfuscating the app jar part under that pa

[2022-04-28 13:41] #25211 closed

[2022-04-28 13:45] RuggeroDAlo commented on #24626
@geoand The same error occurred in a pod running on k8s (so in prod mode) on version 2.8.1

[code]

This is in the same pod where I found the original error, so I think it is related to pipelining. Unfortunately I don't know how to reproduce it, sorry.

[2022-04-28 14:00] RuggeroDAlo opened #25229 "ContextNotActiveException in getDelegate"
### Describe the bug

Related to #24626, I've seen the following error in a k8s pod running quarkus 2.8.1:

[code]

I think this is also related to pipelining, but I can't reproduce it locally

### Expected behavior

No exception should be raised.

### Actual behavior

ContextNotActiveException is raised

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

5.13.0-40-generic

#

[2022-04-28 14:01] RuggeroDAlo commented on #25229
@geoand I've created another issue to track the exception

[2022-04-28 14:05] holly-cummins opened #25230 "quarkus-integration-test-container-image-invoker tests do not pass on M1 mac/with a docker equivalent (podman, minikube, etc)"
### Describe the bug

The quarkus-integration-test-container-image-invoker fail in various ways when run with a docker subsitute on mac, or on M1 hardware.
I don't have a full matrix of behaviour, but we've observed:

- Mac M1, podman default: 15 failures, 1 error, 0 passed
  - Mac M1, podman patched to support multi-arch (see below): 9 failed, 7 passed
  - Mac M1, podman patched + ryuk disabled:

[2022-04-28 14:08] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/2239479325

[2022-04-28 14:12] #25210 closed

[2022-04-28 14:53] glefloch commented on #2811
Not really, it drops from my TODO list.
In the current behaviour, we collect java arguments from Maven / Gradle mojo/task, and we forward it to the devmode context.
It is also possible to set custom compiler arguments by configuration the dev mojo/task.
We cannot really do the same things with kotlin as we don't depend on the Maven/Gradle plugin.
I think we could introduce a new property in the de

[2022-04-28 14:58] holly-cummins opened #25231 "quarkus-integration-test-container-image-invoker tests run (and expect containers) even when run with `-D"
### Describe the bug

The `quarkus-integration-test-container-image-invoker` suite should not run unless `-Dstart-containers` is set, because it's heavily dependent on Docker. Although there is a guard in the `pom.xml`, it has a few issues.

-The pom itself sets `skipTests` to true to try and get a default of 'not running the tests'. This works ok for a vanilla command line but if `skipTests` is s

[2022-04-28 15:08] lucaspouzac opened #25232 "Reactive Routes - "Response head already sent" when I try to add response headers"
### Describe the bug

When I use Reactive Routes, I randomly get an exception when adding header to my response and header are not added.

[code]

### Expected behavior

Headers correctly added

### Actual behavior

Headers are added randomly.

[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Linux xxx 5.4.0-109-generic #123-Ubuntu SMP Fri Apr 8 09:10:54 UTC 2022 x8

[2022-04-28 15:10] sxs737 opened #25233 "Dev Services : MSSQL Connection Error 2.8.1.Final or 2.8.2.Final"
### Describe the bug

###  Dev Service MSSQL Database connection Error invalid connection URI

`Caused by: java.lang.IllegalArgumentException: Cannot parse invalid connection URI: sqlserver://localhost:49233;encrypt=false
	at io.vertx.mssqlclient.impl.MSSQLConnectionUriParser.parse(MSSQLConnectionUriParser.java:64)
	at io.vertx.mssqlclient.impl.MSSQLConnectionUriParser.parse(MSSQLConnectionUriPars

[2022-04-28 15:48] manofthepeace commented on #25214
@ruiarodrigues  It seems to work well for me. Unsure if it changes anything but it the OP `@Scheduled(every = "${pm.collector.wake.up}",` the `$` should not be there I think. just `every = "{pm.collector.wake.up}"`

I have also tried with custom configSources and it also seems to work nicely if the priority is set right.

[2022-04-28 15:56] #25180 closed

[2022-04-28 16:04] mkouba commented on #25214
Both `${pm.collector.wake.up}` and `{pm.collector.wake.up}` are supported.

[2022-04-28 16:12] ruiarodrigues commented on #25214
I did more tests and here are my findings (using `quarkus.quartz.clustered=true` and ` quarkus.quartz.store-type=jdbc-cmt`)

1. I started with a clean DB and `pm.collector.wake.up=disabled`, the job is not triggered.
2. I stopped the service and changed to `pm.collector.wake.up=1m`
3. I started the service again and the job is triggered every minute.
4. I stopped the service and changed back to `p

[2022-04-28 16:19] debu999 commented on #25198
@cristianonicolai @evacchi how to have data index generate array for repeated object in proto file

[2022-04-28 16:20] grossws commented on #22394
Sorry for necroposting, found #18444

[2022-04-28 16:47] manofthepeace commented on #25214
Maybe quartz sees it as a misifre? Maybe you could try the following (needs quarkus 2.8.X)

in application.properties
`quarkus.quartz.misfire-policy.requestReports=ignore-misfire-policy`

[2022-04-28 17:34] #25225 closed

[2022-04-28 18:20] #25221 closed

[2022-04-28 19:44] raguser opened #25236 "Upgrade from 2.6.1 to 2.8.0 results in "Failed to start quarkus""
### Describe the bug

I developed with Quarkus 2.6.1. All worked fine. I could run and test the application, without any error.

Then, when I tried to upgrade to latest version 2.8.0, at start, I got a big exception chain, resulting in "Failed to start quarkus".

Im not able to start the application, anymore.

The exception chain starts with:

20:52:26.970 WARN [Quarkus Main Thread] io.quarkus.arc

[2022-04-28 20:28] baragatti commented on #25100
I also think this maybe is being caused by a missing service registration.

If the Codecs are not being registered, it would probably fail since mariadb's setObject gets a list of possible codecs and throw this error if it cant find the right codec.

In the META-INF/services folder in the mariadb 3.0.4 library, there's the "org.mariadb.jdbc.plugin.Codec" service.

Maybe adding it to the JDBCMariaD

[2022-04-28 21:08] hendrikstill opened #25237 "ContextNotActiveException when access database to sample prometheus gauge"
### Describe the bug

When building a prometheus gauge via micrometer to count database entities no metric is collected.
Also the exception `ContextNotActiveException` is logged when endpoint `/q/metrics` is called.

It seem that prometheus endpoint is not handled correctly with an active context.

This makes it hard to collect custom gauges based on data of a panache repository.

Example gauge:
[

[2022-04-29 00:38] cdmikechen commented on #24993
@radcortez
Hi~ I've noticed that quarkus has been upgraded to version 2.8.2 . Do we have any plans to fix this problem in version 2.8?

[2022-04-29 04:10] debu999 commented on #25198
https://issues.redhat.com/browse/KOGITO-6892
It fixed the issue with list persistence but data index do not show list and only register single object

[2022-04-29 06:55] aloubyansky commented on #12486
@fjtirado where is that dependency defined?

[2022-04-29 07:25] ruiarodrigues commented on #25214
Should it be seen as a misfire? Should the misfire be triggered even if the job is off/disabled?
This behaviour is different than when you disabled all jobs using `quarkus.scheduler.enabled=false`. No misfire are triggered so in my opinion disabling of a single job should have the same behaviour as disabling all jobs.

[2022-04-29 07:50] maxandersen opened #25243 "monitoring/analytics for registry.quarkus.io"
### Description

we should be able to keep an eye on registry.quarkus.io for operational and utilization perspective.

See how its coping with load but also to see what OS/java/quarkus version users are contacting/pinging with.
All just aggregation - no identifiable info.

### Implementation ideas

code.quarkus.io has analytics + sentry setup, should we use similar here or something available wher

[2022-04-29 07:57] sithmein commented on #12943
Any news?

[2022-04-29 08:20] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2243461632

[2022-04-29 08:23] vu-bui opened #25244 "hbm2ddl create-schemas doesn't work when setting quarkus.hibernate-orm.database.default-schema"
### Describe the bug

The option [quarkus.hibernate-orm.database.generation.create-schemas](https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.database.generation.create-schemas) seems to doesn't work anymore since `2.6.3.Final`. I'm not sure if it's caused by Hibernate upgrade or not.

### Expected behavior

_No response_

### Actual behavior

_No response_

### H

[2022-04-29 08:42] radcortez commented on #24993
Sorry, I've been traveling and could not look into this yet. I'll have a look next week.

The version fix may depend on how small/big the fix is. If it is something small that can be backported we can do it for Quarkus 2.8.x. If not, it will need to go to 2.9.x.

[2022-04-29 08:47] machi1990 commented on #25214
+1. From looking at the code, the behaviour should be honored. Is it okay to prepare a reproducer code/project so that we can investigate this deep? Thanks.

[2022-04-29 08:49] odellamaggiore opened #25245 "EL Placeholder support in @RolesAllowed annotation"
### Describe the bug

If we use an EL placeholder in @RolesAllowed annotation value, to make a reference to a config property, the placeholder is not resolved.
Example:

**MyClass.java**

[code]

**application.yml**
[code]

This is something that works with Jakarta EE on EAP/Wildfly so I expected it to work also with Quarkus.

### Expected behavior

@RolesAllowed annotation value resolved to "myro

[2022-04-29 08:55] andreas-eberle opened #25246 "NullPointerException in RestEasy Reactive with 2.9.0.CR1"
### Describe the bug

I just upgrade our service to Quarkus 2.9.0.CR1 and made a call to the Rest API. I now always get the following NullPointerException:

[code]

When I debug into that location, I see that `requestContext.getResponseContentType()` returns null. The reason seems to be that the `headers` field in the `response` only contains a single `Cache-Control` header. We have defined the co

[2022-04-29 08:56] geoand commented on #25246
Can you attach a reproducer please?

Thanks

[2022-04-29 08:58] vsevel commented on #24465
@radcortez I could not get it to work from a file `application-default.properties` referenced by env variable `QUARKUS_CONFIG_LOCATIONS: /app/application-default.properties` with content:
[code]

It does work however if I add system property `-Dquarkus.vault.secret-config-kv-path.ad_account=my/path/in/vault`.
I was thinking this would work with this issue and https://github.com/quarkusio/quarkus/i

[2022-04-29 09:07] ejba opened #25247 "Mailer - Support DKIM"
### Description

As you may know, DKIM is an email authentication method to detect email spoofing. So it's a big deal for those who are security wise.

### Implementation ideas

Currently, the Mailer extension uses Vertx's Mail client which supports DKIM signing. It's just creating a configuration that allows you to configure the DKIM options and pass it to this client.

[2022-04-29 09:08] geoand commented on #25229
Thanks for reporting.

Any chance you can add a reproducer or at least some details about your code?

[2022-04-29 09:21] geoand commented on #25230
Thanks for the detailed report!

I'll try and have a look soon

[2022-04-29 09:23] holly-cummins commented on #25230
I've found an x86 mac under the sofa so I'm trying it on that and will update the matrix.

[2022-04-29 09:23] RuggeroDAlo commented on #25229
I think I can reproduce it with the simplest endpoint called with pipelining:
[code]
Called with:
[code]
Unfortunately its not consistent so I can't say for sure

[2022-04-29 09:58] sberyozkin commented on #25245
Hi @radcortez, @dmlloyd Is it something that our configuration system can help with ? I guess it should work similar to this:
* The code which introspects in this case `@RolesAllowed` gets the annotation value and then, given the example in this issue,
* Config.resolve("myrole_${role.suffix}") and gets back `myrole_someValue`

I believe such a resolver code already exists since we already support

[2022-04-29 10:36] agoncal commented on #24726
Thanks @ozangunalp !!! Can't wait to test it (after we give our talk).

[2022-04-29 11:37] dmlloyd commented on #25245
Sure, it should be possible. The expression resolution is performed by `smallrye-common-expression` with a resolver which assesses the configuration system for its values.

[2022-04-29 12:41] SvenMarien opened #25255 "quarkus:dev not working with 2.8.2.Final"
### Describe the bug

After upgrading quarkus to version 2.8.2.Final I get the following exception when starting mvn quarkus:dev

[ERROR] Failed to execute goal io.quarkus.platform:quarkus-maven-plugin:2.8.2.Final:dev
Caused by: java.lang.NullPointerException
at io.quarkus.maven.DevMojo.addProject (DevMojo.java:741)
at io.quarkus.maven.DevMojo.newLauncher (DevMojo.java:1028)
at io.quarkus.maven.De

[2022-04-29 12:49] FroMage commented on #24913
I don't want to move config to Java code. This is a DEV XP issue that we need to solve, because it makes for really bad demos.

In fact, we may even argue that it may make sense to have an option to move this network call and config to build-time, because it affects startup time in prod, and some users might want to shave those 2s (two whole seconds, it's huge) when starting their applications.

[2022-04-29 13:06] andreas-eberle commented on #25246
To reproduce:

1. download and unzip the reproducer [2022-04-29_resteasy-reactive-nullpointer.zip](https://github.com/quarkusio/quarkus/files/8590958/2022-04-29_resteasy-reactive-nullpointer.zip)
2. start the project with `./gradlew quarkusDev`
3. open your browser and open one of
  3.1. http://localhost:8080/test/1
  3.2. http://localhost:8080/test/2
  3.3. http://localhost:8080/test/3
4. all cal

[2022-04-29 13:16] knutwannheden opened #25256 "Automatically detect new Flyway scripts in Dev Mode"
### Description

When running in dev mode it would be nice if new Flyway migration scripts (along side any existing migration scripts under `src/main/resources/db/migration`) would be detected and then executed when the user presses the _Migrate_ button in the Flyway Dev UI.

Currently adding a new migration script and pressing _Migrate_ has no effect. The application must be explicitly restarted

[2022-04-29 13:34] andreas-eberle opened #25257 "Quarkus 2.9.0.CR1: Async Scheduled methods have unsafe sub-context"
### Describe the bug

When using an async `@Scheduled` method returning a void or using Kotlin coroutines, the provided sub-context seems to be unsafe and throws an error when e.g. using hibernate reactive with it.

E.g. using a code like

[code]

ends in a crash like

[code]

### Expected behavior

@Scheduled should have a safe context that can be used with hibernate reactive.

### Actual behavio

[2022-04-29 13:45] sithmein opened #25258 "RESTEasy reactive illegally restricts JAX-RSpath parameter names"
### Describe the bug

Consider the following JAX-RS resource:
[code]
Note that path parameter _something-with-dash_. According to the Javadoc of @Path the dash is an allowed character in a parameter name. However, if you try to run this with resteasy-reactive startup fails with
[code]
It seems he reactive extension does not comply with the JAX-RS specification.
The same class works fine with the n

[2022-04-29 13:57] felipewind opened #25259 "Create value property on io.smallrye.common.annotation.Blocking to allow the configuration of the worker thread pool to a specific ConsumeEvent"
### Description

## My problem

I want to be able to configure the thread pool size of a specific ConsumeEvent, because in my current project I must respect some throttling rules of one API that my application will access. The reason is that I want to parallelize my process, but I need to control the number of parallel threads running.

I [posted this question on StackOverflow](https://stackoverfl

[2022-04-29 14:08] mkouba commented on #25257
@andreas-eberle `-Dio.quarkus.vertx.core.runtime.context.VertxContextSafetyToggle.UNRESTRICTED_BY_DEFAULT=true` seems to fix the problem so I suppose that we really need to mark the context explicitly.

[2022-04-29 14:16] gsmet commented on #25257
@Sanne might know ^^

[2022-04-29 14:24] mkouba commented on #25257
Uf, this whole "vertx duplicated context + hibernate reactive" thing is a nightmare...

[2022-04-29 14:29] vsevel commented on #25245
hi @sberyozkin agreed. and that has been supported for many years in jboss.

[2022-04-29 14:32] jorgebsa opened #25261 "Dev Services: older version of Keycloak fails to start since 2.8.0"
### Describe the bug

In one of the projects I work, we are stuck with Keycloak `9.0.2` in production. Dev Services allows us to properly run tests against that version, which is immense. However, since Quarkus `2.8.0`, the Keycloak container does not start successfully and all tests are skipped after the first one fails due to the container start-up error.

This error exists in all `2.8.x` versio

[2022-04-29 14:51] andreas-eberle commented on #25257
Just to double check: @mkouba, does your fix then also apply to the coroutines version?

[2022-04-29 15:04] sberyozkin commented on #25261
@jorgebsa Since 2.8.0 it depends on a Keycloak Quarkus by default but while before 2.8.0 such images had `keycloak-x` qualifiers, it now just `keycloak` - so it assumes your image is a Keycloak Quarkus image - but it is not a problem, you just need to set `quarkus.keycloak.devservices.keycloak-x-image=false`,

see https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/deployment/src/main/j

[2022-04-29 15:14] #25261 closed

[2022-04-29 15:19] sberyozkin commented on #25261
@jorgebsa good it works now

Sure, I'll take care of it

[2022-04-29 15:28] sithmein opened #25263 "RESTEasy reactive passed null media type for MessageBodyWriters"
### Describe the bug

Consider the following JAX-RS resource class and `MessageBodyWriter`:

[code]
Invoking the resource method with _quarkus-resteasy-reactive_ will result in an exception because the `mediaType` parameter passed into the message body writer is `null`. This works without problems in the non-reactive version and any other JAX-RS framework that I have used in the past.
It works if

[2022-04-29 15:30] mkouba commented on #25257
That's a good question. I didn't test a coroutine... but it seems that the `AbstractCoroutineInvoker` is using the `Vertx.currentContext()` which should be fine. CC @geoand

In any case, I will try your reproducer as well.

[2022-04-29 16:23] apmmadeira commented on #25163
Hello,

I'm getting the same (apparent) issue with Panache and sql server reactive client using regular datatypes like String and UUID (check below stack trace).
This error happens with Quarkus versions 2.7.5.Final and 2.8.2.Final.

Caused by: java.lang.ClassCastException: class java.util.UUID cannot be cast to class io.vertx.core.buffer.Buffer (java.util.UUID is in module java.base of loader 'boo

[2022-04-29 16:25] apmmadeira commented on #25163
REMARK: I have previously used Quarkus/Panache/reactive with Posgresql with no issues and more complex entities

[2022-04-29 16:34] #25108 closed

[2022-04-29 16:43] #25257 closed

[2022-04-29 18:18] jorgebsa commented on #25261
@sberyozkin lgtm :) would like to thank you again for the quick reply and for improving the documentation!

[2022-04-29 18:41] mweber03 opened #25269 "2.7+ - Tests no longer respect log4j2.xml"
### Describe the bug

I have a `log4j2.xml` in the `src/test/resources` to turn on debug logging during JUnit tests to ensure all code paths are executed. When I try to upgrade to Quarkus 2.7 or higher (I've tried with `2.8.2.Final` also), the tests are no longer run with debug logging. This is evident via the jacoco task showing all lines are no longer covered.

Is there a new way I should be goi

[2022-04-29 20:35] jskillin-idt opened #25271 "gradle-extension-plugin fails to apply to decoupled extension projects"
### Describe the bug

I was adding gradle-extension-plugin to a runtime and deployment extension projects, which are included by a root settings.gradle file, and got a very strange error:
[code]

### Expected behavior

I expected the plugin to properly apply to the project without failure.

### Actual behavior

I receive a failure declaring compileClasspath as missing, despite the java-library plu

[2022-04-29 20:48] Postremus commented on #25258
The name of a group can only contain following characters:
`A-Za-z0-9`

Additionally, it may only start with:
`A-Za-z`

(See java.util.Pattern.groupName)

Lets compare this with the restrictions outlined in the javax.ws.rs.Path#value javadoc.
* must start with {
* may have zero to infinite whitespaces (space or tab)
* name, consisting of
** one letter in the range A-Za-z0-9_
** zero to ininite let

[2022-04-29 21:08] joseph-nun3z opened #25272 "RESTEasy reactive onFailure() ignored."
### Describe the bug

Having a quarkus quickstart project (resteasy-reactive) I try to failure handling by doing the following:

[code]

onFailure is ignored.

### Expected behavior

Log message

### Actual behavior

No message is logged.

### How to Reproduce?

[Reproducer](https://github.com/joseph-nun3z/quarkus-resteasy-reactive-bug)

### Output of `uname -a` or `ver`

Linux pop-os 5.16.19-7605

[2022-04-29 22:20] scrocquesel opened #25275 "Quarkus gRPC generator tries to write the same file twice"
### Describe the bug

Trying to generate service/message definition from https://github.com/envoyproxy/java-control-plane/tree/main/api produces "Tried to write the same file twice" errors.

### Expected behavior

Should compile

### Actual behavior

Error

[code]

### How to Reproduce?

copy/pasting the proto folder from the given repo or using dependency :

[code]

[code]

### Output of `uname -

[2022-04-30 02:12] lost4git opened #25277 "cookie parsing bug"
### Describe the bug

Because there is no `if branch` to match `SameSite`(or others) and **the cookie name (or value) is allowed to be overridden**, the cookie name (or value) is incorrectly set to `SameSite`(or others)

[code]

@see https://github.dev/quarkusio/quarkus/blob/main/independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/headers/NewCooki

[2022-04-30 05:03] grossws opened #25278 "Dev Services for quarkus-mongo-client don't start if @MongoClientName used"
### Describe the bug

Quarkus doesn't try to start MongoDB in dev mode if you inject `MongoClient` with `@MongoClientName`.
There's nothing in logs (with debug logging enabled) about reason why Quarkus did't start db.

### Expected behavior

Dev service started and same `MongoClient` injected for all injection points.

### Actual behavior

Quarkus silently skips starting mongodb container and ArC

[2022-04-30 08:42] punkratz312 commented on #25236
same thing over here:

[code]

[code]

![image](https://user-images.githubusercontent.com/8830888/166098467-66995f6d-bd45-42ec-abef-3fbc9768f429.png)

[2022-04-30 09:06] geoand commented on #25272
Where does `Log.info` come from?

Do you observe the same behavior if you use `System.out`?

[2022-04-30 09:08] geoand commented on #25258
@Postremus mind opening a draft PR with that change?

[2022-04-30 09:09] geoand commented on #25263
Thanks for reporting.

Do you mind attaching a sample project that exhibits this behavior?

[2022-04-30 09:17] geoand commented on #25256
Can you check and see if https://github.com/quarkusio/quarkus/pull/25280 fixes this?
I didn't test it

[2022-04-30 09:55] joseph-nun3z commented on #25272
It comes from `io.quarkus.logging.Log`

Yes, same behaviour. It basically fails to handle the failure.

[2022-04-30 10:26] geoand commented on #25246
Thanks, https://github.com/quarkusio/quarkus/pull/25281 fixes the issue

[2022-04-30 10:54] cescoffier commented on #25272
Your fail method is called synchronously, and thus fail the uni creation (assembly time).

Use: Uni.createFrom().item(() -> fail())

By passing a function, you will fail at subscription time (this on failure will be called).

[2022-04-30 11:01] #25272 closed

[2022-04-30 12:11] sithmein commented on #25263
You can find reproducers/tests for this issue at https://github.com/sithmein/bugs-in-quarkus

[2022-04-30 12:23] islombektoshev commented on #5527
Is there any changes about this issue?

[2022-04-30 12:48] michalszynkiewicz commented on #5527
@islombektoshev can you check with rest client reactive?

[2022-04-30 14:18] sxs737 commented on #25233
I think the Parser is giving error because of ;encrypt=false in the URL

[2022-04-30 14:31] jeffmaury opened #25282 "Guide incorrectly state about Quarkus Tools for IntelliJ"
### Describe the bug

IDE tooling guide incorrectly states Quarkus Tools for IntelliJ wizard is not based on code.quarkus.io

### Expected behavior

Should state wizard is based on code.quarkus.io

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if differen

[2022-04-30 14:38] sithmein opened #25283 "Combining @RouterFilter and JAX-RS ContainerResponseFilter does not work in reactive RESTEasy"
### Describe the bug

Consider the following code running with _quarkus-resteasy-reactive_:

[code]
There are two filter, a `@RouteFilter` and a JAX-RS `ContainerResponseFilter` which both add a `Vary` header. In classic RESTEasy both values - _Origin_ and _Prefer_ are in the response headers. In reactive RESTEasy the _Origin_ value is missing. The same code works as expected with classic RESTEasy

[2022-04-30 15:14] scrocquesel commented on #25275
Find out that it fails when the proto file contains

[code]

I guess it is because the mutiny generator is producing its own implementation and it collides. I don't know if it can be disable from command line but this is an issue for me as I don't have ownership of those proto files and can be an issue when generating from jar file.

[2022-04-30 19:09] michalszynkiewicz commented on #25275
Did you try maven or gradle plugin as a workaround?

[2022-05-01 05:34] mrin9 opened #25287 "Gradle build fails as the snakeyaml-android dependency referred in Quarkus do not exist"
### Describe the bug

Gradle is unable to locate the following dependency referred in Quarkus
` https://repo.maven.apache.org/maven2/org/yaml/snakeyaml/1.30/snakeyaml-1.30-android.jar`

`org.yaml:snakeyaml:1.30` do exist in  MavenCentral but Gradle's dependency resolution also includes the android classifier that creates dependency on `org.yaml:snakeyaml:1.30-android` - which doesn't exist

I thin

[2022-05-01 05:45] glefloch commented on #25287
Thanks for reporting this. Do you have a sample project? Or are you just trying to add a dependency on snakeyaml with the android classifier?

[2022-05-01 06:44] mschorsch commented on #23780
@geoand @glefloch
In Kotlin it is not uncommon to set additional compiler options. These options are currently not properly considered and lead to crashes (https://github.com/quarkusio/quarkus/issues/23780#issuecomment-1042762926) or surprising  (https://github.com/quarkusio/quarkus/issues/23780#issue-1141038280) behavior when reloading in dev mode.

Can anyone take a look at this issue?

[2022-05-01 06:55] glefloch commented on #23780
There is an older issue that track this issue too. This got out of my todo list. Last week I started working on the introduction of a new property for the dev task that  will contains kotlin specific compiler arguments.

[2022-05-01 09:52] Sanne commented on #25257
Well, I'm glad I added mandatory assertions, or noone would have noticed a critical integration problem - and N.B. Hibernate Reactive is merely *detecting* the problem - you'd have the same issue, if not worse, with other components.

So it would be more correctly called the "vert.x context integration mistakes".

[2022-05-01 10:09] debu999 commented on #25198
I feel this can be closed as kogito don't aupport list of Java objects but java object with list if java objects.

[2022-05-01 10:09] #25198 closed

[2022-05-01 10:10] debu999 commented on #25198
Closing the issue...

[2022-05-01 13:04] cescoffier commented on #24917
#25257 has been fixed.

[2022-05-01 13:19] #25185 closed

[2022-05-01 15:01] cescoffier commented on #13656
Closing this issue in favor of #24755.

[2022-05-01 15:01] #13656 closed

[2022-05-01 15:09] cescoffier commented on #25098
@pjgg Any update?

[2022-05-01 15:09] cescoffier commented on #25098
NOTE: I deployed kafka using TLS on OpenShift and I didn't notice a memory overhead.

[2022-05-01 15:12] cescoffier commented on #24148
Closing - need a reproducer to understand what's going on.
Please re-open if the issue still happens.

[2022-05-01 15:12] #24148 closed

[2022-05-01 15:13] cescoffier commented on #24067
Closing - solution discussed in comments.

[2022-05-01 15:13] #24067 closed

[2022-05-01 15:14] cescoffier commented on #23404
@eAybars any update?

[2022-05-01 15:15] cescoffier commented on #23234
Closing, as we would need a reproducer.

I used a similar code for a devoxx university about Kafka I gave 2 weeks ago. and everything worked OOTB.

[2022-05-01 15:15] #23234 closed

[2022-05-01 15:17] cescoffier commented on #22991
I used bearer and plain modules and everything worked OOTB.
So, we would need a reproducer to see what's wrong.

Please re-open if you have a reproducer and a hint.

[2022-05-01 15:17] #22991 closed

[2022-05-01 15:18] cescoffier commented on #17005
Any update @wtrocki ?

@ozangunalp do you know if it uses plain or oauth when we use the SBO?

[2022-05-01 15:19] #25247 closed

[2022-05-01 15:20] #24917 closed

[2022-05-01 15:21] #24899 closed

[2022-05-01 15:22] cescoffier commented on #24899
See comments.

[2022-05-01 15:24] cescoffier commented on #19266
Closing - out of date.

[2022-05-01 15:24] #19266 closed

[2022-05-01 17:02] ejba commented on #25277
Wouldn't it be better to use java.net.HttpCookie to parse the string?

[2022-05-01 17:14] mrin9 commented on #25287
I started getting this error after I upgraded Quarkus to `2.7.0` in this release `snakeyaml` was [upgraded from `1.29` to `1.30`](https://github.com/quarkusio/quarkus/pull/22353) which made me believe that it is stemming from the upgrade as all the prior releases of Quarkus works fine

However, I found that there was another issue report on this #23371
but the cause was due to a different library

[2022-05-01 17:14] #25287 closed

[2022-05-01 23:54] stuartwdouglas commented on #25272
@cescoffier Shouldn't it still call the onFailure if we have an already failed Uni? Otherwise I am pretty sure we have some problematic code within Quarkus itself.

e.g. for this code: https://github.com/stuartwdouglas/quarkus/blob/5bb430775f2ed42172224f93ebdf43dd32019671/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java#L113

Does this me

[2022-05-02 03:26] debu999 commented on #20846
@tiagodolphine Do you think we need this can be a enhancement request for svg extension. Or there is a way to integrate it differently. Both resteasy and resteasy-reactive is not supported. So no not sure if we are looking at a directlion to make it work both ways by some means.

[2022-05-02 05:54] geoand commented on #25263
I'm surprised that none of the TCK tests actually tested this...

In any case, https://github.com/quarkusio/quarkus/pull/25291 fixes the null media type issue.

[2022-05-02 06:04] geoand commented on #25229
I tried it and I can't reproduce it unfortunately

[2022-05-02 06:04] cescoffier commented on #25272
That's the same as:

[code]

This snippet won't work as the arithmetic exception is synchronous and the uni cannot be created.
You will need something like:

[code]

In the Quarkus case, you get a Uni, so the onFailure is called.

[2022-05-02 06:46] mkouba commented on #25257
Not all components require the duplicated context, or?

Yep, sorry about the wording ;-).

[2022-05-02 07:36] #25246 closed

[2022-05-02 08:11] knutwannheden commented on #25256
@geoand I tested it and it partially works. Here a summary of the behavior with your PR:
1. I can edit an existing migration script and using the UI actions clean and migrate work as expected. Although I am not entirely sure if a force restart of the application really is expected.
2. Adding a new migration script doesn't work, because it wasn't added to the watch list when the application was sta

[2022-05-02 08:13] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2256126993

[2022-05-02 08:34] knutwannheden commented on #25256
I think I should also mention that when attempting to delete an existing migration script and then running _Clean_ and _Migrate_ I got an NPE from the QuarkusClassLoader:
[code]

AFAICT this should not happen, as `ClassLoader#getResources(String)` is expected to return an empty `Enumeration`. As this PR hasn't been integrated yet, I can't really create an issue with a reproducer, but I will create

[2022-05-02 08:43] knutwannheden opened #25294 "NPE thrown by `QuarkusClassLoader#getResources(String)`"
### Describe the bug

It appears that the `QuarkusClassLoader#getResources(String)` method will throw an NPE in some cases when it shouldn't. While testing the PR #25280 I stumbled across this:
[code]

### Expected behavior

The method `QuarkusClassLoader#getResources(String)` is only expected to throw an NPE, when the given `String` argument is `null`. In the particular case where I stumbled acro

[2022-05-02 08:53] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2256126993

[2022-05-02 09:15] sithmein opened #25295 "RESTEasy adds wrong charset to response content type"
### Describe the bug

Consider the following code:

[code]

In contrast to #25263 this time a media type is passed into the message body writer, but it contains `charset=UTF-8`. Which can be wrong if the message body writer creates output using a different charset. If the message body writer sets the charset explicitly the content type contains two conflicting charset specifications.

### Expected

[2022-05-02 09:17] sithmein commented on #25295
In our code this bug only started occurring when we switched to reactive RESTEasy. However, in the minimal reproducer it is also broken for classic RESTEasy.

[2022-05-02 10:10] #25171 closed

[2022-05-02 10:26] #25229 closed

[2022-05-02 11:18] Plawn commented on #22394
Linked to the use of ResteasyReactive, my bad

[2022-05-02 11:18] #22394 closed

[2022-05-02 12:08] fedinskiy opened #25296 "Serverless apps fails to start when deployed via quarkus-openshift extension"
### Describe the bug

When Quarkus 2.7.5 application is deployed on OCP cluster via quarkus-openshift it fails to start, and have this error in the log: "the object has been modified; please apply your changes to the latest version and try again"

### Expected behavior

Application should not fail in this scenario and start successfully. Applications built with 2.2.5.Final version don't have these

[2022-05-02 12:10] fedinskiy opened #25297 "Serverless apps fails to start when deployed via quarkus-openshift extension"
### Describe the bug

When Quarkus 2.7.5 application is deployed on OCP cluster via quarkus-openshift it fails to start, and have this error in the log: "the object has been modified; please apply your changes to the latest version and try again"

### Expected behavior

Application should not fail in this scenario and start successfully. Applications build with 2.2.5.Final version don't have these

[2022-05-02 12:11] gsmet commented on #25294
@aloubyansky could you have a look to this one? AFAICS it's related to the bootstrap class loading with `ClassPathElement`.

[2022-05-02 13:17] fedinskiy commented on #25297
Accidental clone of https://github.com/quarkusio/quarkus/issues/25296

[2022-05-02 13:17] #25297 closed

[2022-05-02 13:41] baluselva-t-s opened #25299 "Bulk persist doesn't return inserted IDs"
### Description

(Bulk persist)Persist methods which takes Iterable<Entity> or Stream<Entity> returns void. There is no way to get the IDs created

`@CheckReturnValue
    default Uni<Void> persist(Iterable<Entity> entities) {
        return JpaOperations.INSTANCE.persist(entities);
    }`

` @CheckReturnValue
    default Uni<Void> persist(Stream<Entity> entities) {
        return JpaOperations.INS

[2022-05-02 14:15] mkouba opened #25301 "Scheduler - make all direct implementations of SkipPredicate singletons if no scope annotation is used"
### Description

Similarly as we add `@Singleton` to a class that declares a scheduled method.

### Implementation ideas

_No response_

[2022-05-02 14:25] rblohagavkar91 opened #25302 "Quarkus doesn’t send X-Ray traces to AWS for sub-segments in Native build while using RESTEasy “controller” based approach"
### Describe the bug

We are trying to add subsegment in custom lambda to trace the other rest calls. We are getting X-Ray Subsegment is not sent from Lambda Custom Runtime warning/error in logs and we are not able to see the subsegment created in Xray under invocation.

Pom.xml changes and Java code changes to added to create subsegment as below.
<quarkus.platform.artifact-id>quarkus-bom</quarkus

[2022-05-02 14:32] Sanne commented on #25257
The main issue is that the context put/get methods are public API of Vert.x - any user code (application code) or 3rd party library might refer to the context and expect it to adhere to the documented spec, so if we "fork" the context transparently we're responsible to do so in some safe way. We need to get it right when creating new contexts, even if you don't directly intend to use its storage f

[2022-05-02 14:36] hbelmiro opened #25303 "GeneratedResourceBuildItem doesn't work to generate a static resource file"
### Describe the bug

I'm writing an extension that needs to generate files that will be downloaded by the end-user as static resource.
Like stated [here](https://quarkus.io/guides/http-reference#serving-static-resources), those files need to be placed in the `META-INF/resources` directory.
For instance, the `META-INF/resources/my_resource.txt` file should be accessible from http://localhost:8080/

[2022-05-02 15:29] eAybars commented on #23404
Sorry guys I forgot about this issue. I will gat right on it this week if thats ok.

[2022-05-02 15:42] radcortez commented on #24901
I would prefer to keep them out of the annotation. Do you want to send a PR for it in SR Config for the utility method? :)

This should be possible with `smallrye.config.locations`. You could write your own `ConfigSource`, which looks into the test classpath and add the test folder for each Test class as an entry of `smallrye.config.locations`.

[2022-05-02 15:44] radcortez commented on #24465
I'll have to look.

[2022-05-02 15:48] anthonydenecheau opened #25305 "Jackson deserialisation Timestamp in native mode"
### Describe the bug

Hi,

Under pub/sub for which I am trying to deserialize a message into an Event class which contains a Timestamp.

[code]
[code]

It's working within PubSub Emulator But one deploy on CloudRun this exception appears:

`WARNING [co.go.cl.pu.v1.MessageDispatcher] (Gax-2) MessageReceiver failed to process ack ID: BCEhPjA-RVNEUAYWLF1GSFE3GQhoUQ5PXiM_NSAoRRABIGwLNEJcdA1oXFx1BlkNEX

[2022-05-02 16:08] gsmet commented on #25305
A workaround for now is to add `@RegisterForReflection(targets = TimestampDeserializer.class)` to any of your application classes.

[2022-05-02 16:33] radcortez commented on #25245
Check:

- https://github.com/smallrye/smallrye-common/blob/main/expression/src/main/java/io/smallrye/common/expression/Expression.java
- https://github.com/smallrye/smallrye-config/blob/main/implementation/src/main/java/io/smallrye/config/ExpressionConfigSourceInterceptor.java#L39-L68

Let me know if you need any help

[2022-05-02 16:48] anthonydenecheau commented on #25305
Thanks a lot Guillaume ! :)

[2022-05-02 16:52] ozangunalp commented on #17005
`saslMechanism` property we are getting is `PLAIN`. In Quarkus the service binding config converter also handles the Scram but not the oauth. The binding secret contains the client id and client secret (same as the username and password) coming from the service account but not the authorization server for oauth.

[2022-05-02 16:56] gsmet commented on #25305
I still think we need to do something about it.

[2022-05-02 17:05] geoand commented on #25305
Should be a fairly easy fix

[2022-05-02 17:12] gsmet commented on #25305
Yeah, this one, yes. What I'm wondering is given the few we register, I'm pretty sure we have others that are missing. Some are using static instances so they are created at static init. But all the ones that don't should probably be registered for reflection.

Does it make sense?

[2022-05-02 17:16] radcortez commented on #25302
@rblohagavkar91 can you please clarify? This seems a copy of https://github.com/quarkusio/quarkus/issues/22595.

[2022-05-02 17:41] rblohagavkar91 commented on #25302
@radcortezYes, issue is the same. But in our case we are using 2.7.1 quarkus version and added all the required changes as mentioned earlier and still not getting the traces of subsegment

[2022-05-02 17:54] sorin-costea opened #25307 "dev-services ignore disabling"
### Describe the bug

quarkus.devservices.enabled=false in src/main/resources/application.properties
I start a `mvn test` and get this log:

[code]

### Expected behavior

I didn't expect to have a Lambda mock started as the mocks were supposedly disabled.

### Actual behavior

_No response_

### How to Reproduce?

Reproducer here: https://github.com/sorin-costea/qtest
Run it as you wish, from mav

[2022-05-02 17:59] gsmet commented on #25307
I think the mock server for Lambda is different from devservices. That's why disabling dev services doesn't change a thing for you.

[2022-05-02 17:59] #25307 closed

[2022-05-02 18:34] PVergneau commented on #23400
Hi there.

I suffered the same issue for too long on a Quarkus + Kotlin app , although there was no custom main, nor agent, not anything (and just only a basic hello resource on a minimalist project i played with). It appears there is a kind "explanation" in https://github.com/quarkusio/quarkus/issues/2152

The workaround is to add
`-Djava.util.logging.manager=org.jboss.logmanager.LogManager`
at r

[2022-05-02 19:50] sorin-costea commented on #25307
The class starting the mock server is called "DevServicesLambdaProcessor.java" so it sounds like a devservice. But anyway, that class doesn't seem to care about any setting, it will start the mock server every time. I guess it's by design so, even though I can't see the reason for that. Also by design it uses the same default port as Quarkus dev itself 8081 so it will clash by design (luckily at l

[2022-05-02 20:03] sithmein opened #25312 "Multipart support broken in reactive RESTEasy"
### Describe the bug

The following code works fine with classic RESTEasy when making a `multipart/form-data` request:

[code]

It fails with 415 (Unsupported media type) when using reactive RESTEasy.

### Expected behavior

A `multipart/form-data` request should be possible.

### Actual behavior

The request fails with _Unsuported Media Type_.

### How to Reproduce?

Run the testcase `quarkus.bug

[2022-05-02 20:39] shawkins commented on #23681
Closed the upstream issue.  To support @iocanel 's usage there needs to be some differentiation in quarkus of what fabric8 client properties are intended for runtime only.

[2022-05-02 21:19] michalvavrik opened #25315 "Explain how to generate config properties in 'How to contribute'"
### Description

According to #24150 command `./mvnw -Dquickly -DskipDocs=false clean install` will `generate the configuration properties documentation includes in the root target/asciidoc/generated/config/ directory and will avoid a lot of warnings when building the documentation module`. This command only generates empty folders, no properties (`.adoc` files) are generated due to #10523. The te

[2022-05-02 21:55] andreas-eberle opened #25318 "GRPC method with streaming input and streaming output has wrong parameter order for blocking code generation"
### Describe the bug

When generating the code for the following proto file

[code]

the generated class `HelloGrpcGrpc.HelloGrpcImplBase` contains the following method definition

[code]

This method receives a `StreamObserver` of the type of the reply (`HelloReply`) as an argument and returns a `StreamObserver` of the type of the request (`HelloRequest`).

It looks to me as if the argument shoul

[2022-05-02 22:20] joedevgee commented on #24788
@tsegismont is there any workaround while you guys are building the solution?

[2022-05-02 23:19] stuartwdouglas commented on #25307
cc @patriot1burke

What is your use case for having both lambda and the normal Quarkus HTTP stack? In general they are mutually exclusive. If you are trying to handle HTTP requests in lambda it is not a normal HTTP request flow, the mock server lets you use a browser or other HTTP based tool (such as Restassured in tests) to test Lambda using normal HTTP (by basically acting like the lambda runtim

[2022-05-03 00:25] luneo7 commented on #18228
@dmlloyd the 1.1.0 version of `jboss-logmanager-embedded` also migrated from `javax.json` to `jakarta.json` and to a newer version that is not in use in Quarkus, this rendered the lib incompatible, isn't there a way of releasing a version only with the MDC provider stuff and before the jakarta json changes?

[2022-05-03 03:17] stuartwdouglas commented on #25303
Use `io.quarkus.vertx.http.deployment.spi.AdditionalStaticResourceBuildItem`.

[2022-05-03 04:12] patriot1burke commented on #25307
@stuartwdouglas DevServicesLambdaProcessor does not check quarkus.devservices.enabled=false

I need to add:
`@BuildStep(onlyIf = GlobalDevServicesConfig.Enabled.class)`

[2022-05-03 04:37] #25303 closed

[2022-05-03 05:22] geoand commented on #25296
Any chance we can get any more information?

[2022-05-03 05:37] geoand commented on #25305
Sure, but do we know which ones? Are you suggesting registering all subclasses of `com.fasterxml.jackson.databind.JsonDeserializer`?

[2022-05-03 05:53] geoand commented on #25256
Do you have examples of this? A quick scan of the code doesn't seem to indicate it would work...

[2022-05-03 05:56] geoand commented on #25312
The multipart support is not broken, it just uses a different API.
See https://quarkus.io/guides/resteasy-reactive-migration#multipart-support for more details

[2022-05-03 05:56] #25312 closed

[2022-05-03 06:09] knutwannheden commented on #25256
I couldn't find any examples, but I found the `RuntimeUpdatesProcessor#expandGlobPattern()` method which sure looks promising: https://github.com/quarkusio/quarkus/blob/1f900a8e42d9131f10846c3cb9c6a7be09484b37/core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java#L1170-L1192

See also #16005

[2022-05-03 06:28] sithmein commented on #25312
I read the documentation but this does not apply to our use case. As you can see from the example code I provided we want to process arbitrary multipart/form-data requests, i.e. we don't know in advance how many parts there will be any how they are called. The documentation explains only how to handle data where the number and names of the parts are know in advance.
Also they way my example handle

[2022-05-03 06:32] geoand commented on #25312
So this is a new feature request

It's not clear to me what you are referring to here. Care to elaborate further?

[2022-05-03 06:38] ia3andy opened #25321 "Quarkus codestart generator/template compatibility check"
We should provide an easy CLI upgrade method and have a mechanism to be able to break and ask the user to upgrade on new features.

[2022-05-03 06:41] fedinskiy commented on #25296
@geoand sorry, it looks like my browser have glitched during the issue creation :)

I added versions of Quarkus, OCP, Maven and Linux. Is there anything else I can help with?

[2022-05-03 06:41] sithmein commented on #25312
My example uses an _entity parameter_ according to section 3.3.2.1 of the JAX-RS specification. For this entity parameter of type `org.jboss.resteasy.plugins.providers.multipart.MultipartFormDataInput there is a registered provider, the `MessageBodyReader` `org.jboss.resteasy.plugins.providers.multipart.MultipartFormDataReader`. Then the spec-compliant JAX-RS behaviour should be that this message

[2022-05-03 06:44] geoand commented on #25296
Are there any more log entries from OCP?

[2022-05-03 06:49] geoand commented on #25312
This happens because `MultipartFormDataReader` is never registered as a provider.

If you add:

[code]

as explained in https://quarkus.io/guides/cdi-reference#bean_discovery, then your test passes

[2022-05-03 07:06] sithmein commented on #25312
Jep, this works. Maybe worth adding to the reactive migration guide that there are differences in how providers are discovered (the link to the guide on https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.8 is broken, btw.).

[2022-05-03 07:06] geoand commented on #25256
Interesting, I didn't know that.

Feel free to try it out, since I won't have time for this probably until next week

[2022-05-03 07:09] geoand commented on #25312
Thanks for spotting, fixed now.

I'll add something

[2022-05-03 07:24] sorin-costea commented on #25307
@stuartwdouglas I get this during the unit tests, where I don't need the lambda mock (nor http requests, actually). Maybe I think differently about what is "unit tests"?

[2022-05-03 07:51] fedinskiy commented on #25296
@geoand, I put the whole log for a single test in a separate gist([REDACTED] parts are internal IPs/URLs):
https://gist.github.com/fedinskiy/82b803b52877ec7a2fd60639759776dd

@iocanel there is always a new namespace with randomly assigned name. For the clean experiment, I run a single test and it failed with the same error.

[2022-05-03 07:51] knutwannheden commented on #25256
@geoand OK. I will look into providing a PR.

Question: Should I create an issue / PR to change some config properties from runtime to build-time? I think it would make sense, but strictly speaking this would then be a breaking change.

[2022-05-03 08:02] geoand commented on #25256
Yeah, that would be something different and definitely a breaking change. No need for an issue, just a PR explaining why it makes sense.

[2022-05-03 08:03] geoand commented on #25296
https://gist.github.com/fedinskiy/82b803b52877ec7a2fd60639759776dd

Thanks

[2022-05-03 08:21] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2261986115

[2022-05-03 08:34] dlabordus opened #25325 "JAXB2 ClassCastException in Native Image (XmlSeeAlso$$ProxyImpl cannot be cast to Locatable)"
### Describe the bug

After upgrading Quarkus from 2.8.0 to 2.8.1 our RestEasy XML Endpoint is failing on generated JAXB2 Classes.

When a request is processed and the response should be returned Quarkus throws the following exception:
[code]

The native image worked with version 2.8.0. And also the non-native images still works with version 2.8.2.
The model is generated by a other maven project u

[2022-05-03 08:55] geoand commented on #25295
I don't consider this a bug TBH.

If you need to set the content type, you can certainly do something like:

[code]

[2022-05-03 08:55] #25295 closed

[2022-05-03 09:00] sithmein opened #25326 "Reactive REST client does not encode request path properly"
### Describe the bug

If I create a REST client using _quarkus-rest-client-reactive_ spaces in the request path (and other special characters) are not encoded correctly when the final HTTP request is built:

[code]

In both cases the HTTP request contains `GET /with space HTTP/1.1` when it should be `GET /with%20space HTTP/1.1`.
This problem does not exist in the classic RESTEasy client.

### Expe

[2022-05-03 09:02] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2261986115

[2022-05-03 09:03] sithmein commented on #25295
Please have a careful look at my example. Even if I don't explicitly set the content type it will be wrong! The message body writer uses ISO-8859-1 as encoding but still the HTTP `Content-Type` header claims it's UTF-8 which is simply wrong. It must not be the responsibility of the message body writer to fix a wrong charset. Why do you assume that every message body writer will create UTF-8 in the

[2022-05-03 10:09] knutwannheden opened #25327 "Support Stork config defaults"
### Description

Currently, when using Stork, the Quarkus config properties are all at the service level, which means that when the same Stork instance is being used for multiple REST clients, then the config needs to be duplicated.

Here is an example configuration required for a service (with the key `my-service`) when using a Consul backend in Stork:
[code]

I would like to propose that a set o

[2022-05-03 10:09] knutwannheden commented on #25327
See also Zulip discussion: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Stork.20defaults

[2022-05-03 10:42] aloubyansky commented on #12486
@evacchi @fjtirado @tiagodolphine Have you looked into this? If there is a missing dependency, where is it supposed to be defined?

[2022-05-03 10:48] knutwannheden commented on #25256
I get the impression that the Quarkus application isn't being restarted when a SQL migration file is being deleted, even though the file was registered as requiring a restart. I need to do some more digging to verify this.

[2022-05-03 10:56] Aleksandr-Filichkin opened #25329 "Quarkus native with AWS Lambda is too slow in comparing with plain Java + Graalvm native"
### Describe the bug

Hi folks,
I've made some research and performed a performance comparison for Quarkus native for AWS Lambda and I see that it's too slow in comparison with plain Java + Graalvm native.
COld start is slow and warm call as well. The difference is too big, maybe I did something wrong? Could you please try to check?
https://medium.com/p/90176eff515d#73d3-17084090633b
Source code h

[2022-05-03 11:09] xstefank opened #25330 "LRA is not usable with resteasy reactive extensions"
### Describe the bug

Using `narayana-lra` extension with `resteasy-reactive`, `resteasy-reactive-jackson`, and probably mainly `rest-client-reactive` results into:

[code]

### Expected behavior

This should work the same as with the resteasy classic extensions.

### Actual behavior

`NarayanaLRAClient` is looking for Jersey.

### How to Reproduce?

Quickstart app with narayana-lra and resteasy-r

[2022-05-03 11:11] geoand commented on #25330
Can you please attach a sample? Also, it would be good to pinpoint whether this is due to the client or not (it looks like it is)

[2022-05-03 11:11] knutwannheden opened #25331 "Deleting a watched file in dev mode doesn't trigger a restart"
### Describe the bug

When a build step registers a file to be watched and trigger a restart (using `HotDeploymentWatchedFileBuildItem`), deleting the file doesn't trigger a restart of the application, as it should.

Debugging shows that the call to `RuntimeUpdatesProcessor#checkForFileChange()` in `RuntimeUpdatesProcessor#doScan()` returns the empty set when a watched file is deleted.

### Expect

[2022-05-03 11:11] knutwannheden commented on #25331
/cc @geoand

[2022-05-03 11:13] geoand commented on #25331
cc @aloubyansky

[2022-05-03 11:16] xstefank commented on #25330
Reproducer - https://github.com/xstefank/reproducers/tree/master/lra-service

1. Start the coordinator - `https://github.com/xstefank/reproducers/tree/master/lra-service`
2. Start the service - `mvn quarkus:dev -Dquarkus.http.port=8180`
3. access the app at `:8180/hello`

[2022-05-03 11:33] #25277 closed

[2022-05-03 11:46] Plawn opened #25333 "Add support for entityGraph for SpringData"
### Description

JPA NamedEntityGraph already exists today, but can't be used with SpringData repositories.

It would be cool, if it was possible to use both features together :)

### Implementation ideas

_No response_

[2022-05-03 11:54] holly-cummins commented on #25231
Fixed by https://github.com/quarkusio/quarkus/pull/25253.

[2022-05-03 11:54] #25231 closed

[2022-05-03 12:09] ondrejKR commented on #25233
same problem

[2022-05-03 12:34] #25263 closed

[2022-05-03 12:35] gsmet commented on #25233
@tsegismont could you have a look?

[2022-05-03 13:29] joggeli34 opened #25335 "Liquibase lock not working correctly anymore"
### Describe the bug

Since the change in https://github.com/quarkusio/quarkus/pull/24515 the Liquibase lock is not working correctly anymore when starting two instances at the same time.

I also created an issue in the liquibase project for this bug:
https://github.com/liquibase/liquibase/issues/2816

I don't know how you handle this kind of bug coming from an upstream project, so I created this

[2022-05-03 13:29] mikipoldi opened #25336 "OpenTelemetry Vertx issue - divided traces"
### Describe the bug

When using nested/parallel vertx calls with reactive quarkus, issue with OpenTelemetry occurs. Traces are divided instead of being in single trace and some http post spans are missing.

For parallel calls all of them are missing (if using parallel calls greater than 2)
For cascaded calls the dependent http posts spans are missing.

### Expected behavior

One single trace with

[2022-05-03 13:33] radcortez commented on #25336
I'll have a look.

[2022-05-03 13:35] geoand commented on #25335
cc @famod

[2022-05-03 13:52] knutwannheden opened #25337 "Support Flyway location wildcards"
### Description

As of Flyway 6.4.0 (released on 2020-04-21) the migration script locations can contain Ant-style wildcards (i.e. `?`, `*`, and `**`). This currently doesn't work with the Quarkus Flyway extension. See this blog for some details: https://flywaydb.org/blog/organising-your-migrations

### Implementation ideas

_No response_

[2022-05-03 14:03] #25294 closed

[2022-05-03 14:10] knutwannheden commented on #25256
@geoand The glob pattern matching only partially works: On Windows it doesn't appear to work at all because `InvalidPathException`s get thrown whenever a Path is constructed using a string containing a wildcard and even when I fix that, there are more problems preventing this from working. Finally, the pattern matching is only applied when setting up the files to be watched, not when checking for

[2022-05-03 14:28] knutwannheden opened #25338 "Dev mode: Match glob pattern file watches when detecting changes"
### Description

The merged PR #16005 added support for glob patterns in the watched file support of dev mode. As pointed out in the PR description, this only happens the first time:

So when Quarkus checks for files changed since the last restart, it won't find any new files matching the glob pattern, because the patterns are not matched again.

For some use cases (e.g. Flyway; see #25256) it wou

[2022-05-03 15:08] mkouba commented on #25301
Maybe it's not such a good idea - esp. when a more complex class hierarchy is used (e.g. `MySkipPredicate extends BaseSkipPredicate` and `BaseSkipPredicate implements SkipPredicate`).

[2022-05-03 15:12] glefloch commented on #25271
Thanks for reporting this, I will have a look at it.

[2022-05-03 15:13] glefloch commented on #25177
@eduleon where you able to reproduce the issue ?

[2022-05-03 15:39] famod commented on #25335
@joggeli34 thanks for letting us know! Let's see how it pans out upstream.

[2022-05-03 15:46] herasimau commented on #25255
Having the same issue, in my case, removing this plugin from `pom` will permit to start quarkus without NullPointer:

[code]

[2022-05-03 16:38] tsegismont commented on #24788
@joedevgee perhaps you could exclude the Oracle driver dependency brought transitively by `quarkus-reactive-oracle-client` and add a dependency to `jdbc-oracle` extension. I haven't tried myself, not sure it would do.

[2022-05-03 16:41] tsegismont commented on #25233
Yes, the issue is the Vert.x MSSQL Client URI parser does not support the `;encrypt=false` property.

[2022-05-03 17:02] joedevgee commented on #24788
thanks for the reply @tsegismont but that doesn't seem to work. FYI my depency looks like below
[code]
native build still failed with following reason
[code]

[2022-05-03 17:22] #25255 closed

[2022-05-03 17:30] scrocquesel commented on #25275
maven plugin alone works but all I got is the `com.google.protobuf.Service` implementation of service and not the Mutiny one.

[2022-05-03 18:48] hbelmiro commented on #25303
@stuartwdouglas

Actually, the file is programmatically created and, as `AdditionalStaticResourceBuildItem`'s constructor expects a path (and not the file contents as `GeneratedResourceBuildItem` does), I had to create the file using `Files.write(...` and then create the `AdditionalStaticResourceBuildItem`.
For my surprise, it works without even using `AdditionalStaticResourceBuildItem`. I just cr

[2022-05-03 18:48] PiotrRaszkowski opened #25345 "Keycloak with policy-enforcer enabled: Request has already been read"
### Describe the bug

I tried to configure my application with the provided guide https://quarkus.io/guides/security-keycloak-authorization.

I was unable to open the DEV UI for the first try. After 2-3 page refresh requests it was possible to open it but the DEV UI was very slow, I was unable to login to KeyCloak.

### Expected behavior

DEV UI works fine.

### Actual behavior

![image](https://u

[2022-05-03 21:27] sberyozkin commented on #25345
@PiotrRaszkowski Keycloak 18.0.0 is not supported yet, specifically if the uploaded realm contains scripts, see https://github.com/quarkusio/quarkus/pull/25109

CC @pedroigor

[2022-05-03 21:50] Sanne commented on #24788
@joedevgee could you try adding `implementation 'io.quarkus:quarkus-jdbc-oracle' instead of  `com.oracle.database.jdbc:ojdbc11:21.5.0.0`

[2022-05-03 22:24] pedroigor commented on #25345
@PiotrRaszkowski Can you try to disable tests or togle `broken only` mode when running in dev mode?

I was able to reproduce the problem and it seems related to tests running and causing some instability when rendering the dev UI.

[2022-05-03 22:30] joedevgee commented on #24788
already tried and failed with same error

[2022-05-03 23:39] gastaldi commented on #14240
If you're using Flyway, you just need to have your tests to extends an abstract class like the following:

[code]

[2022-05-04 00:09] radcortez commented on #24465
The fix was missing a piece. Unfortunately, the test that I wrote didn't take into account config recording from build time so it seemed to be working.

Can you try it with https://github.com/quarkusio/quarkus/pull/25351? Thanks!

[2022-05-04 04:07] ebullient opened #25355 "Documentation revision / reorganization"
Joint effort with docs, engineering and community to revise docs for better readability / navigability.

In the linked PR, please review:

- `_templates` -- base for future docs
- `_examples` -- one-off examples used by docs explaining how to write docs
- `doc-concepts.adoc` -- skeleton, will eventually explain diataxis concepts
- `doc-contribute-quarkus-docs-howto.adoc` -- How-to guide explaining

[2022-05-04 05:07] krakzk commented on #17280
+1

[2022-05-04 05:10] matkinhig opened #25356 "Can't config multiple datasource as yaml file"
### Describe the bug

i am having some problem regarding config multiple datasource using yml file,
all works great using the `appliction.properties` file as per the  [quarkus docs ](https://quarkus.io/guides/datasource), but when I change to the `appplication.yaml` file the quarkus compiler doesn't recognize it.
where did i do wrong? Looking forward to learning from you.

this is my file :
[code]

[2022-05-04 05:17] geoand commented on #25356
My guess is that you have misspelled the name of the file :)

`appplication.yaml` -> `application.yaml`

[2022-05-04 05:17] #25356 closed

[2022-05-04 05:20] PiotrRaszkowski commented on #25345
@sberyozkin Quarkus 2.8.2.Final + Keycloak 17.0.0 -> same problem, Quarkus 2.8.0.Final + Keycloak 17.0.0 -> no problem. So yes, maybe Keycloak 18.0.0 is not supported yet but it is not related to Keycloak version.

[2022-05-04 05:34] PiotrRaszkowski commented on #25345
@pedroigor
With `broken only` mode there is no big difference, with second or third request/refresh I am able to open DEV UI but it is turbo slow.
With `quarkus.test.continuous-testing=disabled` I still have this errors as the first request, but then it is working fine, I was able to log in to Keycloak it it wasn't slow. This could be a temp workaround but... for someone continuous-testing might b

[2022-05-04 06:05] renegrob commented on #25214
I wonder if it works correctly, if the schedule is changed to a different value or if the scheduled method is removed and the services is started using the already populated database. Probably, the schedule has to be explicitly reconfigured in case it already exists in the database.

[2022-05-04 06:25] renegrob commented on #22724
Is #22319 related to this issue?

[2022-05-04 06:30] mkouba commented on #22724
@renegrob I don't think so. #22319 is purely about CDI contexts.

[2022-05-04 06:32] matkinhig commented on #25356
sr , i was edit name of file, but that's not the point of my problem

[2022-05-04 06:36] geoand commented on #25356
Have you added the `quarkus-config-yaml` extension to your application?

[2022-05-04 06:43] maxandersen commented on #25329
That does look suspicious @Aleksandr-Filichkin. thanks for reporting - the code looks simple enough so I suspect there is some action done in the extensions that are causing the difference (just my first hunch). I can't try it out right now; but definitely, something to look at.

[2022-05-04 07:29] ia3andy commented on #25303
It seems you need to use `BuildProducer<NativeImageResourceBuildItem> nativeImageResourceBuildItemBuildProducer`, I am facing similar problems in the Quinoa extension. I am currently trying it alongside`GeneratedResourceBuildItem`, I will let you know :)

You can find an example in `ConfigGenerationBuildStep`

[2022-05-04 07:30] machi1990 commented on #25214
The extension does reconfigure the trigger if it is updated to a different value. The extension also skips the trigger / scheduled method if it is disabled.  The later case should properly handled the `disabled`/`off` scenario.

[2022-05-04 07:33] ia3andy commented on #25303
Also I agree we should have a `AdditionalGeneratedStaticResourceBuildItem` to avoid creating the file.

[2022-05-04 07:34] rsvoboda commented on #25296
@iocanel / @geoand any update on the possible cause of the failure?

[2022-05-04 07:34] #25258 closed

[2022-05-04 07:41] ia3andy opened #25357 "Native build will java 17 project fail because using a java 11 image"
### Describe the bug

Native build will java 17 project fail because using a java 11 image.

To workaround it:
[code]

### Expected behavior

it should use `quay.io/quarkus/ubi-quarkus-mandrel:22.0-java17` and build correctly.

### How to Reproduce?

Reproducer:
1. https://code.quarkus.io/?j=17
2. `quarkus build --native -Dquarkus.native.container-build=true`

It will fail because the image used i

[2022-05-04 07:43] geoand commented on #25296
I have no idea, I've never worked with serverless

[2022-05-04 07:48] NicolasChazeau commented on #14789
Hi ! We encountered the same difficulties, is there any news on this issue ?
We need multi tenancy with 1 tenant <=> 1 database.
We removed Panache and used your repository for the moment @ch3rub1, thank you very much !

[2022-05-04 07:54] iocanel commented on #25296
@rsvoboda: trying to reproduce... Will post updates.

[2022-05-04 08:09] Felk commented on #9354
I tried using Quarkus `2.9.0.CR1` and had to work around hibernate generating the `limit` keyword into queries even though I am using `MODE=Oracle` (causing sql grammar exceptions), as described here: https://groups.google.com/g/h2-database/c/yxnv64Ak-u8

The workaround is adding this code somewhere at startup:
[code]

Would it be a good idea to include this workaround in quarkus itself, until a h

[2022-05-04 08:15] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2267846503

[2022-05-04 08:22] ruiarodrigues commented on #25214
Hi guys!
Sorry for the late answer. I attached a simple project to reproduce the problem. Steps to reproduce are:
1. run the docker-compose file to start a database instance
2. run the service in dev mode
3. wait for it (1min) and you will see in the output `Task is triggered`
4. stop the service without stopping the DB
5. go to `application.properties` and changed `wake.up=1m` to `wake.up=disable

[2022-05-04 08:31] ia3andy commented on #25303
Ok I tested native and it now works: https://github.com/quarkiverse/quarkus-quinoa/pull/32/files

[2022-05-04 08:45] #25326 closed

[2022-05-04 08:50] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2267846503

[2022-05-04 08:55] soldev21 commented on #24790
Hi @sberyozkin, is there any estimation or plan regarding this issue. I did some investigation and found class named `io.quarkus.vertx.http.runtime.security.HttpAuthenticator`. It has `Uni<SecurityIdentity> attemptAuthentication(final RoutingContext routingContext)` method which seems handles all authentication process with predefined HttpAuthenticationMechanisms. Can we intercept this method some

[2022-05-04 09:07] wimgoeman opened #25359 "WebSocketLogHandler catches InterruptedException without reinterrupting"
When trying to interrupt a Thread, as soon as the Thread hits a log statement, the WebSocketLogHandler catches the InterruptedException and ignores it. Normal behavior should be to reinterrupt the interrupted Thread by calling `Thread.currentThread().interrupt()`.

In my case, I need to use interrupt in order to terminate a manually created Thread. Due to this issue, the Thread never manages to te

[2022-05-04 09:08] Sanne commented on #9354
If you use H2, Hibernate ORM will assume it needs to use the H2 dialect - it doesn't know about any dialect changes you might apply to it.
Would it work fine if you forced the Hibernate Dialect to use the Oracle dialect?

Generally speaking, would you mind explaining why you do this? I'm assuming you want to emulate an Oracle database for testing / development purposes, but in that case why not us

[2022-05-04 09:35] Felk commented on #9354
[code]
That seems like that fixes this particular issue. But it causes a different problem:
[code]
I don't understand how that makes sense, but I'll assume it is an unrelated issue for now.

Exactly

We do sometimes, and it indeed works great. However we still need H2, mostly because:
- H2 starts way faster. dev mode helps a lot, but a full restart is required often enough for the 40s boot time of

[2022-05-04 09:35] rblohagavkar91 commented on #25302
@radcortez  Here is the exact issue which is happening when using quarkus 2.7.1 and maven compiler plugin 3.8.1
 It fails in build stage when downloading below dependancies.
Downloading from confluent: https://packages.confluent.io/maven/io/smallrye/common/smallrye-common-bom/1.8.0/smallrye-common-bom-1.8.0.pom

It cannot find maven/io/smallrye/common/smallrye-common-bom/

[2022-05-04 10:03] cescoffier commented on #24444
I just discussed this issue with @aureamunoz and @michalszynkiewicz

The plan of action is the following:

- in the stroke processor, detect if the kubernetes service discovery is used (looking at the provider class on the classpath).
- if it's used, detect if the kubernetes client extension is present (capability check)
- if not -> fail the build and ask the user to add the kubernetes client exte

[2022-05-04 10:08] Sanne commented on #9354
It's because the H2 ability to emulate Oracle is not complete. And since I doubt it will ever be you'll always be in some undefined limbo - which is why:

1. I wouldn't recommend this approach
2. I'm not inclined to support this "better" in Hibernate ORM as it clearly is a pandora box

sorry :/ don't really have a good solution, but I hope this could be useful to know.

ah, I think I know that one

[2022-05-04 10:09] famod commented on #9354
@Felk I feel your pain. I've been using h2 in tests for many years, even way before using Quarkus, in Oracle, Postgres or MariaDB/MySQL compatibility mode, mainly because of that speed aspect.

We even ended up buliding our own hibernate dialect classes to compensate the gaps of those compatibiliy modes simply have.
At some point I've had enough of all the effort that went into finding workarounds

[2022-05-04 10:11] sberyozkin commented on #25345
@PiotrRaszkowski @pedroigor I have reproduced on the main branch as well, and it is only `keycloak-authorization` which is affected, oidc bearer and oidc web-app quickstarts are good, I'm sure it is to do with `/q/dev` not being treated as a public resource (given `HttpAuthorizer` is referenced in the logs),  however, adding
[code]
does not help, nor
[code]
I'm not sure why it has started failing

[2022-05-04 10:31] maxandersen opened #25362 "quarkus dev missing --offline/-o options"
### Description

can't run quarkus dev in offline mode so it can/will fail in cases where no internet access despite build is possible using just local resources.

zulip conversation at https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/offline.20dev.20mode

quarkus build already have offline support thus this should  just be about enabling it to be passed through for dev.

### Implem

[2022-05-04 10:36] sberyozkin commented on #25345
I was wrong, with or without these properties, since there are no annotations, it is deduced correctly it is a public resource.

Something have changed at the Vert.x level or Dev UI level.

@stuartwdouglas @phillip-kruger  Can you have a look please when get a chance ? It can be reproduced on `main`, build it and go to `quarkus-quickstarts/security-keycloak-authorization-quickstarts` and do `mvb q

[2022-05-04 10:59] gsmet commented on #25305
Well that won't work because the Jackson classes are not in Jandex. So if we want to include the serializers, we either need to index it (which might be slow and will be done when compiling any apps) or we will have to list them all manually.

@geoand don't you think we need to add them? TBH I was surprised we didn't do it and really puzzled by us not having more reports about this.

[2022-05-04 11:11] geoand commented on #25305
Given how prevalent Jackson is among our users, I think that if we really need to include them all, we would have known already :).

So I think we can just add the ones we know we need

[2022-05-04 11:19] iocanel commented on #25296
I managed to deploy the project successfully both in `main` and `2.2`.

Using the `main` I do see that `ServerlessExtensionOpenShiftHttpMinimumIT` fails. However, its not clear to me why, as there is an exception internal to the testing framework.

As far as deployment is concerned, even the failed tests succesfully deploys the `Service`.

@Sgitario: can you have a look?

[2022-05-04 11:34] gsmet opened #25363 "[CI] - Jakarta Rewrite - Integration Tests + Quarkus main"
This issue will be open and closed dependent on the state of Jakarta Rewrite Integration Tests building against Quarkus main snapshot.

If you have interest in being notified of this subscribe to the issue.

[2022-05-04 12:15] hbelmiro commented on #25303
@ia3andy my case is a bit different than yours. I need to generate static HTTP resources.
AFAIK `NativeImageResourceBuildItem` is for  resources as in `src/main/resources`, but not for the HTTP ones. For the HTTP ones, we should use `AdditionalStaticResourceBuildItem`, as its javadoc says:

But, I tested with `NativeImageResourceBuildItem` anyway and it doesn't work.

[2022-05-04 12:23] JHahnHRO opened #25364 "Arc - Inherited Observer methods clash with type variables"
### Describe the bug

If an observer method is defined in a superclass of two bean classes and observes a type variable, then the the concrete type of this type variable in the context of the implementing classes is seemingly not taken into account. It seems that only the bounds at the declaration are taken into account.

### Expected behavior

The test shown below should succeed when executed wit

[2022-05-04 13:02] Sanne commented on #9354
I just noticed our containers started by DevServices aren't reusable, working on a fix.. #25365

[2022-05-04 13:25] patriot1burke commented on #25329
My hunch is that connections to DynamoDB are being created per request and not pooled.  Connection creation is dwarfing boot, so you'd get similar numbers.  Try adding @ApplicationScoped to your lambda and to your RequestDispatcher (I'm not sure what or if lombok does any CDI stuff by default).  Another thing, performance will probably be the same because you are doing I/O.  Remote I/O operations

[2022-05-04 14:50] D-MLink opened #25370 "@QueryParam with a non-native object not working as expected"
### Describe the bug

i'm trying to port an API from Spring to Quarkus.
I'm using Openapi generator for quarkus, and generate my classes from a yaml file.

If I define a GET endpoint with a @QueryParam that uses a object I defined (instead of a string or int).
It's not properly parsed.

[code]
Obviously if I only do this i get a error saying it can't find a converter provider.
But even after i dec

[2022-05-04 15:47] vsevel commented on #24465
I have been trying to recompile the `2.9` branch, and I am getting:

[code]

[2022-05-04 15:49] Aleksandr-Filichkin commented on #25329
Hi @patriot1burke it really helped!
https://github.com/Aleksandr-Filichkin/graalvm-native-aws-lambda-frameworks/pull/3

I'm wondering why this important stuff wasn't added to Quarkus documentation and all samples do not have @ApplicationScoped

[2022-05-04 16:16] radcortez commented on #24465
Maybe try `clean` first to make sure you don't have old stuff sitting around?

[2022-05-04 16:32] pjgg commented on #20891
[code]

Based on the above reproducer given by @michael-simons  I could reproduce it with `ubi-quarkus-mandrel:21.3.0.0-Final-java17`

Fails: `mvn clean package -Pnative -Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-mandrel:21.3.0.0-Final-java17 -Dquarkus.platform.version=2.7.5.Final`

Is fixed if you use `ubi-quarkus-mandrel:21.3.1.1-Final-java17` as a build base image

Works: `mvn c

[2022-05-04 18:13] Sgitario commented on #25296
The issue is in the testing framework. To be precise, here: https://github.com/quarkus-qe/quarkus-test-framework/blob/623e3e860ad4b6ff22bc88f08e41aab711db8370/quarkus-test-openshift/src/main/java/io/quarkus/test/bootstrap/inject/OpenShiftClient.java#L261

When we deploy a serverless application, there is no deployment config and also, we don't need to scale apps up or down.

To fix the issue in th

[2022-05-04 18:27] Postremus commented on #22355
I am removing myself as asignee from this issue. TBH, I noticed everytime I tried to work on this that I am just not interested enough to do this in my free time. :)

(although yes, I want this feature for at-work stuff.)

[2022-05-04 19:20] sithmein commented on #25295
I reworked my example so it does not use a message body writer any more and produces images. Still the returned content type has a `charset=UTF-8` which doesn't make any sense for non-textual data. See `quarkus.bugs.UnexpectedCharsetTest` in https://github.com/sithmein/bugs-in-quarkus.
I admit this is really an edge case but it is still wrong behaviour.

[2022-05-04 19:43] GavinRay97 commented on #14769
Came here looking for how to set base URL path like `/api` for RESTEasy Reactive, surprisingly hard to find

[2022-05-04 20:58] edeandrea opened #25378 "Can't hook app into Red Hat managed apicurio service"
### Describe the bug

I'm trying to "hook" my application into the Red Hat managed service registry/kafka by following [this blog post](https://developers.redhat.com/articles/2022/03/23/quarkus-superheroes-managed-services-save-day).

The Quarkus superheroes app runs fine against the apicurio instance that gets deployed if you run `oc apply -f https://raw.githubusercontent.com/quarkusio/quarkus-su

[2022-05-04 21:42] mpeddada1 commented on #25199
Hi @galderz, do we have any updates/status on upgrading to GraalVM 22.1? Thank you.

[2022-05-04 22:34] ejba commented on #25305
@gsmet Can I add this one manually?

[2022-05-05 02:51] joedevgee commented on #21111
Also seeing the same issue with 2.8.0 using the graphql `@Source` annotation. As used in the official quarkus graphql documentation but with reactive panache: https://quarkus.io/guides/smallrye-graphql#expanding-the-api

For example, with reactive panache

[code]

Then If I run below graphql query
[code]

Quarkus will fail with below error
[code]

Also found similar issue here: https://github.com/

[2022-05-05 02:57] phillip-kruger commented on #21111
This should be fixed in the new version. I'll add a test case for this scenario specifically. see https://github.com/quarkusio/quarkus/pull/25194

[2022-05-05 04:36] #25296 closed

[2022-05-05 05:23] rsvoboda opened #25384 "Quarkus CLI doesn't honor platform version for codestarts"
### Describe the bug

Quarkus CLI doesn't honor platform version for codestarts

running `quarkus create app app --platform-bom=io.quarkus.platform:quarkus-bom:2.7.5.Final -x=quarkus-resteasy-jackson,quarkus-spring-web` pulls in codestart relevant to the quarkus cli version, not the codestart relevant to the platform version.
Generated project ends up with both `io.quarkus:quarkus-resteasy-reactiv

[2022-05-05 06:00] ia3andy commented on #25384
cc @aloubyansky

[2022-05-05 06:02] ia3andy commented on #25384
@maxandersen maybe that's the reason why our cross-version tests are almost all passing, we need to add some checks on the version in the generated project.

[2022-05-05 06:12] Archana0510 opened #25388 "OidcClientRequestReactiveFilter works with only one named oidc client"
### Describe the bug

OidcClientRequestReactiveFilter uses a default OidcClient by default. A named OidcClient can be selected with a quarkus.oidc-client-reactive-filter.client-name configuration property.
quarkus.oidc-client-reactive-filter.client-name = "named oidc client name>"

I can not define multiple named oidc client for OidcClientRequestReactiveFilter

So one oidc client runs with reactiv

[2022-05-05 06:18] geoand commented on #25378
cc @EricWittmann

[2022-05-05 06:32] debu999 commented on #25388
Support for multi tenant reactive client filters.
It will be good to have the support as
`quarkus.oidc-client-reactive-filter.tenant1.register=true
quarkus.oidc-client-reactive-filter.tenant2.register=true
quarkus.oidc-client-reactive-filter.tenant3.register=true`
https://quarkus.io/guides/security-openid-connect-client#oidc-client-reactive-filter

[2022-05-05 06:33] debu999 commented on #25388
Any guide on updating the reactive client filter will also do did not find anything specific in the guide to register oidcfitler in reactive mode.

[2022-05-05 06:34] geoand commented on #25370
What does your `ParamConverter` look like?

[2022-05-05 06:35] debu999 commented on #24716
@phillip-kruger we still dont have this in quarkus platform. Will it be udpated in 2.8.3.Final of quarkus.

[2022-05-05 06:43] phillip-kruger commented on #24716
1.5.0 is released, but will only be in Quarkus 2.10

[2022-05-05 07:21] D-MLink commented on #25370
[code]
I have it returning just a new object. but from the prints i have, this method is only called if I do a GET request like this:
"http://localhost:8080/get?testObj=123"

If i do the proper request, that I have in swagger, "http://localhost:8080/get?a=123&b=234&c=345" , the method is never called.

[2022-05-05 07:27] geoand commented on #25370
Do you have a `ParamConverterProvider` that registers it?

[2022-05-05 07:32] D-MLink commented on #25370
Yes

[code]

[2022-05-05 07:36] geoand commented on #25370
Would you be able to attach a sample project that exhibits the problematic behavior?

From the looks of it, it should work

[2022-05-05 07:50] D-MLink commented on #25370
I made a repo with it
https://github.com/D-MLink/quarkus-issue

[2022-05-05 08:01] apurvar1010 commented on #24545
Hi @patriot1burke , do you have any thoughts based on the code above?

[2022-05-05 08:04] bennetelli opened #25389 "Add togglz extension"
### Description

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

### Configuration suggestion

_No response_

### Additional context

Dear co-workers :)

It's on my list since a while.. I would like to add a quarkiverse extension for "my" Open Source project called [togglz](https://github.com/togglz/togglz)

It's a Feature Flag / Feature Toggle librar

[2022-05-05 08:10] vsevel commented on #24465
I ended trying it with `2.9.0.Final`.
because I could get it to work...
I removed the env variable `QUARKUS_VAULT_URL=https://xx.svc:8200` and replaced it with a property `quarkus.vault.url=https://xx.svc:8200` in out `application-default.properties` referenced by env variable `QUARKUS_CONFIG_LOCATIONS=/app/application-default.properties` . but that did not work.
then I moved ``quarkus.vault.url`

[2022-05-05 08:12] Postremus commented on #25370
@geoand @D-MLink

AFAIK this does not work with jax rs like this.
The ParamConverter is not called, since jaxrs can not match any query paremeters on the method to the a, b, c parameters.

However, you can use a BeanParams. They are only slightly more complicated to use.
For this url
"http://localhost:8080/get?a=123&b=234&c=345"
you can use a beanparam.

[code]

[2022-05-05 08:17] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2273781500

[2022-05-05 08:17] geoand commented on #25370
Looking at the reproducer now, @Postremus is totally correct.

[2022-05-05 08:17] #25370 closed

[2022-05-05 08:34] D-MLink commented on #25370
Thank you @Postremus
Can I define @BeanParam on the yaml I'm using with quarkus-openapi-generator?
Because the classes I am using are generated, and can't do manual changes to them.

[2022-05-05 08:38] Postremus commented on #25370
/cc @ricardozanini I saw you as the maintainer of quarkus-openapi-generator. Can you please take a look?
Can the extension automaticly generate BeanParams?

[2022-05-05 08:46] geoand commented on #25295
Understood, thanks

[2022-05-05 08:54] geoand commented on #25389
Hi,

Thanks for reporting!

I think having this as a [Quarkiverse](https://quarkus.io/blog/quarkiverse/) extension would be great - cc @gastaldi

[2022-05-05 09:03] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2273781500

[2022-05-05 09:11] #17857 closed

[2022-05-05 09:22] radcortez commented on #24465
I believe it was backported.

[2022-05-05 09:23] geoand commented on #24465
As indicated by the milestone, it was backported

[2022-05-05 09:23] rvansa opened #25391 "Panache delete query invalid"
### Describe the bug

When I execute a delete query on PanacheEntity using
[code]
where `DataSet` contains
[code]
I get an exception:
[code]
Based on `-Dquarkus.hiberate-orm.log.sql=true` the query executed against PostgreSQL is
[code]

### Expected behavior

The proper SQL command should be
[code]

### Actual behavior

Cross join in DELETE clause is syntactically incorrect, and an inner join shou

[2022-05-05 09:25] vsevel commented on #24465
ok. let me try to do a reproducer then.

[2022-05-05 10:29] #25364 closed

[2022-05-05 10:35] galderz commented on #25199
@mpeddada1 I'm not aware of any progress on this so far, but I've been able to build natives with 22.1 and latest Quarkus releases.

One thing I've just spotted is that [GraalVM no longer publishes `svm` jar to Maven Central](https://search.maven.org/artifact/org.graalvm.nativeimage/svm). This will require handling one way or the other.

[2022-05-05 10:38] gsmet commented on #25199
We have an ongoing PR here: https://github.com/quarkusio/quarkus/pull/25366 .

[2022-05-05 11:23] vsevel commented on #24465
good news: this works as expected with a test extension, or even the vault extension.
this must be something we are doing in our business app or its deployment (or it is a different issue). I am going to keep searching.
thanks a lot for your help @radcortez

[2022-05-05 11:54] #24444 closed

[2022-05-05 12:07] damirnovosel commented on #6754
Hi guys. Will this issue be addressed in foreseeable time? Is there a way to work around it, such as by explicitly defining application.properties file in maven config or something like that?

Thanks,
Damir

[2022-05-05 12:13] #20325 closed

[2022-05-05 12:15] ebullient commented on #25384
IIRC (without looking, and I haven't looked recently), the code starts were pulling whatever was latest, or whatever was built into the CLI (for the codestart itself). Parameter passing though the various abstraction layers is a lot more complicated than it should be, so I wouldn't have been surprised if it was dropped (and we didn't have a way to test well against other versions to verify it wasn

[2022-05-05 12:30] sberyozkin commented on #25388
@Archana0510 @debu999
A single filter can't handle multiple tenants, there is a 1 to 1 relationship between the filter and the tenant, so
[code]

unfortunately does not work.

What can work, in principle, is something like
[code]
where an instance of `OidcClientReactiveFilter` initialized with a specific tenant name. But such mechanism is not available for RestEasy Reactive client.

For now I reco

[2022-05-05 12:30] radcortez commented on #24465
Great! :)

[2022-05-05 12:31] ia3andy commented on #25384
As made by @aloubyansky the codestarts loading is directed by the platform descriptor which contains the versioned artifacts.

This codestart (spring-web) though is part of the base codestarts which means we use the ones shipped with the generator, so what I wonder is how is mvn working.

[2022-05-05 12:35] ricardozanini commented on #25370
Opened https://github.com/quarkiverse/quarkus-openapi-generator/issues/59 to track it.

[2022-05-05 12:38] mkouba commented on #23291
FTR a workaround exists (although it's not very nice ;-):
[code]

[2022-05-05 12:38] ricardozanini commented on #25370
@D-MLink can you please attach to that issue the OpenAPI yaml file so we can reproduce the bug?

[2022-05-05 12:38] ia3andy commented on #25384
Per design, changing a base codestarts affect all generated apps independent of the selected platform, they shouldn't break past versions..

Base codestarts are more coupled to the generator so we keep them together. The system would let us load them by platform, but then we should introduce some compatibility checks and possibly sometime break compat (https://github.com/quarkusio/quarkus/issues/2

[2022-05-05 12:43] voronovmaksim commented on #8242
Hello, any news? i came across same issue. My Test loads spi implementation  of compile dependency

[2022-05-05 12:44] ia3andy commented on #25384
I've started a zulip thread to discuss the problem of adding extension from codestarts which always lead to problems: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Adding.20extensions.20from.20codestarts/near/281293196

[2022-05-05 12:50] rsvoboda commented on #25384
I guess you mean "previous version of quarkus-maven-plugin"

With mvn command I can say "give me everything 2.7.5.Final based"

But with Quarkus CLI I can only get the BOM/extensions 2.7.5.Final based, but not the codestarts.
And with the pace of changes that Quarkus has this is a bit problematic. There should be a way to get the codestarts related to the platform version.

Workaround is to use 2.

[2022-05-05 12:52] ia3andy commented on #25384
@rsvoboda this is a bug, you should be able to use the latest CLI to create working app for any previous platform.

The issue comes from this: https://github.com/quarkusio/quarkus/issues/23265#issuecomment-1096438592 which we fixed with a side-effect bug (this one)

[2022-05-05 12:53] debu999 commented on #25388
Thanks @sberyozkin will use the same and create filters and extend the oidcclientfilter. Thanks for the help as usual.

[2022-05-05 12:55] geoand commented on #24888
We do we need a solution to this? I don't see this being a real issue...

Any solution would likely break the way things are done.

[2022-05-05 12:58] ia3andy commented on #24888
This seems logical to me, I don't see why spring-web shouldn't work out of the box.

[2022-05-05 13:17] edeandrea commented on #25378
Troubleshooting a bit further...

I even went back to the version I used when I wrote that article and played with the `rest-fights` app & I see the same error.

I've put together some smaller yamls that can be imported via `oc apply -f` which only contain the `rest-fights` service showing the issue. I'm deploying on [Red Hat Developer Sandbox](https://developers.redhat.com/developer-sandbox/get-s

[2022-05-05 14:34] iompo commented on #24537
I think I found the problem. I had a dependency with a "./" entry in it. Since java 11.0.14 that is a [problem](https://docs.oracle.com/en/java/javase/11/docs/api/jdk.zipfs/module-summary.html) if you need to open that compressed file.
As mentioned I was using java 11.0.13, so it looks like quarkus is somehow affected by this issue, regardless the java version used to compile. It also looks like t

[2022-05-05 14:38] #25389 closed

[2022-05-05 14:41] radcortez commented on #25186
As a workaround, use `smallrye.config.locations`.

[2022-05-05 15:06] edeandrea commented on #25378
Just to follow up. I had a conversation with @ carlesarnal offline and he suggested to upgrade the version of `io.apicurio:apicurio-common-rest-client-vertx` to version `0.1.9.Final` as some changes had been made on the apicurio side. After doing that (via https://github.com/quarkusio/quarkus-super-heroes/commit/5eb0696c89643523fe26f57762fc4714af67bc0f) everything seems to be fine.

I'm closing th

[2022-05-05 16:02] matejvasek commented on #24860
Does it only happen with `-Dquarkus.native.container-build=true` flag?

[2022-05-05 16:18] radcortez commented on #24944
Yes, this is not supported.

[2022-05-05 16:38] faskan commented on #24860
@matejvasek yes, it happens only with container build flag. And you are right the build produces a Linux binary. But since I'm running it with Dquarkus.native.container-build=true I'm expecting the whole build process (including tests) to run in a container. But somehow quarkus builds the binary using a container and executes the tests in host OS.

[2022-05-05 16:38] matejvasek commented on #24860
You probably will need to install GraalVM locally.

[2022-05-05 16:40] matejvasek commented on #24860
I think it just do build in container and the result binary is copied outside the container to host, and tests are run locally then.

[2022-05-05 16:43] matejvasek commented on #24860
That would be probably feature request.

[2022-05-05 16:48] matejvasek commented on #24860
cc @iocanel @geoand you since I see you in the history of `container-image` extensions.

[2022-05-05 17:55] vsevel commented on #24465
so I confirm everything works as expected on the business app with the vault properties all in a separate file referenced by `QUARKUS_CONFIG_LOCATIONS`  with `config_ordinal=255`.
sorry to have doubted you @radcortez ;-)

[2022-05-05 18:02] mpeddada1 commented on #25199
Thank you all for the update!

[2022-05-05 18:09] matejvasek commented on #18337
@patriot1burke I think this should be closed.

[2022-05-05 18:10] matejvasek commented on #14448
@patriot1burke this could be closed, right?

[2022-05-05 18:10] matejvasek commented on #12638
@patriot1burke I think this could be closed.

[2022-05-05 18:47] radcortez commented on #24465
No need to be sorry. I make a lot of mistakes :)

[2022-05-05 18:48] edeandrea commented on #23916
Hi just wanted to get any information about this? Even after switching my tests to use the `KafkaCompanion`, the integration tests are still not able to work.

Clone https://github.com/quarkusio/quarkus-super-heroes, go into either the `rest-fights` or `event-statistics` directory and run `./mvnw clean verify -Dquarkus.container-image.build=true`. The integration tests fail because the `KafkaCompa

[2022-05-05 19:05] mbchangellc opened #25404 "RegisterForReflection Not Working Where Class Inheritance Hierarchy Spans Subprojects"
### Describe the bug

Java Reflection API reports no methods for class with an inheritance hierarchy spanning multiple subprojects in a native build.  Attempting to find a method which is declared and public in a class annotated with RegisterForReflection results in a NoSuchMethodException.  When all classes are in a single project the method can be successfully looked up, no exception is thrown.

[2022-05-05 20:02] kanha-gupta commented on #25362
Hi i am new to this & looking up to contribute

[2022-05-05 20:05] hendrikstill commented on #25237
@ktysiac thanks for the hint

You are write. Wrapping the call into a transaction works 👍.

[code]
What is still frustrating is the missleading Exception as in I would expect a `TransactionRequiredException` in this case or an active context, which wouldn't need a dedicated transactional context for read access.

[2022-05-05 21:08] machi1990 commented on #25214
Thanks @ruiarodrigues I'll have a look.

[2022-05-05 21:21] machi1990 commented on #25236
@mkouba would you have some ideas on this?

[2022-05-05 22:22] machi1990 commented on #25214
I've opened https://github.com/quarkusio/quarkus/pull/25408 to take care of this. Can you have a look? @ruiarodrigues Thanks

[2022-05-05 22:28] #14448 closed

[2022-05-05 22:28] #12638 closed

[2022-05-05 22:32] machi1990 commented on #11662
This will be fixed as part of https://github.com/quarkusio/quarkus/issues/24279 which is addressed by https://github.com/quarkusio/quarkus/pull/24636

[2022-05-05 23:24] manovotn commented on #25236
Is there a reproducer for this?

The error suggests that the synth bean is being used too early during `STATIC_INIT` instead of `RUNTIME_INIT` but at the same time it mentions delivery of before destroyed for app scope which shouldn't really happen until very late at app lifecycle...

[2022-05-06 05:24] maxandersen commented on #25362
Heya.

See https://github.com/quarkusio/quarkus/blob/498c3e189d5710f60d848376348e677d41562971/devtools/cli/src/main/java/io/quarkus/cli/Build.java#L24 which is the class that implements "quarkus build"; it has build options flags including offline.

We need similar for the Dev.java class.

Might even be able to include the other options but need to see what makes sense. We can discuss that in the

[2022-05-06 05:35] geoand commented on #24860
Let me try and understand this.

You are building the native binary using `-Dquarkus.native.container-build=true` on a MacOS and then trying to launch that binary in the tests?
That won't work. You'll need to build a container for that native binary using one of our container image extensions

[2022-05-06 05:35] #24860 closed

[2022-05-06 05:52] geoand commented on #25230
Not sure how to proceed with this as I only have Linux x86 machines so I can't really test anything :(

[2022-05-06 06:05] kkk25641463 opened #25409 "@Priority is not work for @Observes StartupEvent ev"
### Describe the bug

I create 30+ class like this:
[code]

### Expected behavior

I think class Z will last print.
init A
init B
init C
init D
....
init Z

### Actual behavior

But class Z maybe  print in the middle.
init A
init B
init Z
....
init D

### How to Reproduce?

1. create four class and run
[code]

### Output of `uname -a` or `ver`

Microsoft Windows [version 10.0.22000.652]

### Outpu

[2022-05-06 06:12] #24931 closed

[2022-05-06 06:15] galderz commented on #25357
This, if anything, is maybe about figuring the right default image to use depending source/target set? Or `java --version` in the path? @geoand @gsmet?

[2022-05-06 06:22] geoand commented on #25357
Yup, sounds totally reasonable. Lemme see if I can put something together real quick

[2022-05-06 06:29] mkouba commented on #25236
I think that the `An error occurred during delivery of the @BeforeDestroyed(ApplicationScoped.class) event` warning is not the cause of the issue. In the provided log file I can see the following cause:
[code]

[2022-05-06 06:59] geoand commented on #25357
https://github.com/quarkusio/quarkus/pull/25410 addresses the issue

[2022-05-06 07:15] lostiniceland commented on #19350
Before opening another issue I would like to check weather this is just a documentation issue or not.

I need to send out some Avro Events to Kafka and I had the avro-maven-plugin setup nicely until I saw that there is a Quarkus extension. In order to stay closer to the Quarkus ecosystem I enabled the extension and removed the avro-maven-plugin (since it is also mentioned as unnecessary with the e

[2022-05-06 07:17] mkouba commented on #25409
@kkk25641463 What's the value of `Priorities.PLATFORM`? Did you mean `javax.interceptor.Interceptor.Priority.PLATFORM_BEFORE` or `javax.interceptor.Interceptor.Priority.PLATFORM_AFTER`?

[2022-05-06 07:44] kkk25641463 commented on #25409
Sorry. The value defined in io.smallrye.config

ublic final class Priorities {
    /**
     * Range for early interceptors defined by Platform specifications.
     */
    public static final int PLATFORM = 1000;

    /**
     * Range for interceptors defined by SmallRye Config or Extension Libraries.
     */
    public static final int LIBRARY = 3000;

    /**
     * Range for interceptors defined

[2022-05-06 07:46] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2279813785

[2022-05-06 07:51] Ladicek commented on #19350
I'm not entirely sure, but I don't think we've considered supporting the Avro IDL. Please file a feature request.

What Quarkus extension are you talking about? If you mean `quarkus-confluent-registry-avro`, the reason why you still have to add dependencies on the Confluent Schema Registry libraries is that they are not available in Maven Central. I realize this is less pleasant for users, but we

[2022-05-06 08:02] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2279813785

[2022-05-06 08:05] roy20021 opened #25411 "CI DooD - Native Build at Remote Container"
### Description

At CI softwares like Jenkins emerge the necessity to run the native build on remote container due of DooD set-up.

Running the following command:
`mvn deploy -Pnative -Dquarkus.native.remote-container-build=true`

It creates/removes a volume statically named _quarkus-native-builder-image-project-volume_

Since it is static it does not enable to run multiple native builds on the sa

[2022-05-06 08:42] lostiniceland commented on #19350
Thanks for the quick reply. I didnt realize that the Confluent deps are not coming from Central since it is proxied in our corporate environment and its understandable that you are not shipping those then.
I will file a request regarding the IDL support.

[2022-05-06 08:46] Sanne commented on #25230
Need to look under the sofa as well ! :)

More seriously - I think for now we can simply merge any related PR based on trust, provided it doesn't introduce regressions for existing coverage.

In parallel, we could also figure out if we can introduce CI jobs running on M1 ? Assuming it can be done at low effort, or if we can find an actual sponsor interested enough.

[2022-05-06 08:50] geoand commented on #25230
I am in total agreement with that, no question. My comment was basically about me not being able to do anything myself to fix this :)

[2022-05-06 08:52] holly-cummins commented on #25230
I'm planning to continue bashing my head against this one, so I can help too.

[2022-05-06 08:56] metaprice commented on #12948
Any news here?

[2022-05-06 08:56] cgaugel commented on #12948
Any news here? Having the same problem...

[2022-05-06 08:57] Karm commented on #25098
@pjgg
Is this  the whole test that is problematic? i.e. there are no volumes of test data, it's merely a smoke check that causes the allocation *at runtime*?

[code]

Could you extract a minimal reproducer into a separate project that makes it clear what actually happens at the test runtime, please? The test suite repo is too convoluted and opaque for starting to dissect callgraphs and mem allocat

[2022-05-06 09:07] geoand commented on #12948
If someone attaches a sample project exhibiting the problem in question, I can take a look

[2022-05-06 09:10] raguser opened #25412 "Problem with @ConfigMapping"
### Describe the bug

My application is based on Quarkus and the runtime environment is OpenShift.
I want to use a configuration parameter, in the form of a list in the code.
For this I define the configuration parameter in the application.properties, in the form:
`my.select.parameters=val0,val1 `.
Then I do the mapping, according to [MAPPING CONFIGURATION TO OBJECTS](https://quarkus.io/guides/con

[2022-05-06 09:15] ozangunalp commented on #19350
As far as I can tell the Avro IDL (*.avdl) files are already supported.

[2022-05-06 09:16] geoand commented on #25412
Have you tried Quarkus `2.8.2.Final`? There have been various fixes since the version you state you are using IIRC

[2022-05-06 09:19] raguser commented on #25412
Thank you for your quick reply.
I would like to do this, however, it is not possible for me due to:
https://github.com/quarkusio/quarkus/issues/25236

[2022-05-06 09:55] xtaixe opened #25413 "Quarkus testing with @ParameterizedTest using Optional broken with Java 17 + 18 (xstream)"
### Describe the bug

This is the same issue as https://github.com/quarkusio/quarkus/issues/24492 but for `Optional`. The error is:
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

21.4.0 Darwin Kernel Version 21.4.0: Fri Mar 18 00:46:32 PDT 2022; root:xnu-8020.101.4~15/RELEASE_ARM64_T6000 arm64

###

[2022-05-06 10:10] knutwannheden opened #25414 "Support hot-reloading .env file in dev mode"
### Description

Quarkus supports the `.env` file, but the dev mode's hot reload doesn't appear to add a watch for it to automatically reload the file and restart the application when the file changes. This would be very useful.

### Implementation ideas

_No response_

[2022-05-06 10:10] rsvoboda opened #25415 "integration-tests/reactive-oracle-client fails in native mode"
### Describe the bug

integration-tests/reactive-oracle-client fails in native mode

Running command `mvn -f integration-tests/pom.xml clean verify -Pnative -Dquarkus.native.container-build=true -Dquarkus.native.native-image-xmx=5g -U -V -B -fae -Denforcer.skip=true -Dtest-containers -Dstart-containers -pl reactive-oracle-client`

Getting `Caused by: com.oracle.graal.pointsto.constraints.Unresolve

[2022-05-06 11:10] geoand commented on #25414
This definitely did work at some point...

[2022-05-06 11:34] #25236 closed

[2022-05-06 11:35] michalszynkiewicz commented on #25236
Can you create a small reproducer?

[2022-05-06 11:44] lostiniceland opened #25416 "Avro-Extension should support IDL"
### Description

As mentioned [here](https://github.com/quarkusio/quarkus/issues/19350#issuecomment-1119351124), the quarkus-avro-extension currently does not support/process Avro [IDL](https://avro.apache.org/docs/current/idl.html#preamble) files like `sample.avdl`.

Since the IDL is much easier to write compared to JSON, it would be good to have the extension pickup avdl files as well and genera

[2022-05-06 12:20] matejvasek commented on #24860
@geoand I think the issues is the the test is being run automatically.

[2022-05-06 12:21] matejvasek commented on #24860
So it is not immediately clear what is happening.

[2022-05-06 12:34] lthasle opened #25418 "@PathParam in Reactive REST Client encoding not the same as in classic REST Client"
### Describe the bug

Usage of @PathParam with special characters don't work as in the classic world.

https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Reactive.3A.20.40PathParam.20encoding.20not.20as.20in.20classic

### Expected behavior

It should be possible to put any value in a PathParam without hawing to do any encoding in the application code

### Actual behavior

Assigning

[2022-05-06 12:42] Felk opened #25419 "IntelliJ code flow analysis confused by `io.quarkus.logging.Log` stubs"
### Description

When using `io.quarkus.logging.Log` for logging, the code flow analysis of IntelliJ occasionally gets a bit confused, because the implementation stubs of `io.quarkus.logging.Log` throw exceptions:
[code]

For example the following code:
[code]

shows the following warning "Condition 'someBool' is always 'false'":
![grafik](https://user-images.githubusercontent.com/1996138/16713063

[2022-05-06 13:03] kkk25641463 commented on #25409
Thanks for your reply. Log.info is not thread safe.

[2022-05-06 13:03] #25409 closed

[2022-05-06 13:10] gastaldi commented on #25418
Wonder if https://github.com/quarkusio/quarkus/pull/25353 fixed this?

[2022-05-06 13:13] geoand commented on #25418
Ah, I thought this was about the server so I didn't check that at all...

Good point @gastaldi!

[2022-05-06 13:14] faskan commented on #24860
yes, when you do a quarkus build, the tests run automatically. So for Mac users, either they have to ignore the tests or install graalvm locally and not use the container build flag.

[2022-05-06 13:17] zakkak commented on #25404
I had a look in this and it's more confusing than I expected.

In the demo code `DtoContainer extends Container`, `DtoContainer` is defined in `subproject2` and annotated with `@RegisterForReflection` while `Container` is defined in `subproject1` and is also annotated with `@RegisterForReflection`.

* When compiling `subproject1`, `Container` gets registered for reflection as expected.
* When comp

[2022-05-06 13:20] zakkak commented on #5016
Closing this. Please comment if you are still seeing the issue.

[2022-05-06 13:20] #5016 closed

[2022-05-06 13:50] tsegismont commented on #25415
@rsvoboda have you found this in CI? I'm pretty sure the tests were passing when the initial PR was merged. Do you know when the build started to fail because of this?

[2022-05-06 14:06] mbchangellc commented on #25404
I confirmed adding the META-INF/beans.xml file resolves the issue in both the provided example project and our actual application.  Thanks very much for your help.  Let me know if I should close the ticket.

[2022-05-06 14:29] gsmet commented on #25404
Submodules need to be indexed somehow. See https://stackoverflow.com/questions/55513502/how-to-create-a-jandex-index-in-quarkus-for-classes-in-a-external-module/55513723#55513723 for all the information about how to index things.

[2022-05-06 14:42] raguser commented on #25236
Hello Michał
Thank you for your reply.
I don't know what I could deliver to you as a "small reproducer". It is an interface application, based on Quarkus and Camel, which connects an existing application to a new SAP system. There are hundreds of lines of code.
The described error occurs when I replace the lines in the pom.xml:
Old:
`<quarkus.platform.version>2.6.1.Final</quarkus.platform.version>

[2022-05-06 15:02] knutwannheden opened #25421 "Stork extension ignores `secure` property"
### Describe the bug

When a Stork service is configured with the `secure` property, the reactive REST client ignores this and instead uses HTTP or HTTPS based on whether the REST client's URL used the `stork` or `storks` scheme.

### Expected behavior

At runtime the `ServiceInstance#isSecure()` should be used to determine whether to use HTTP or HTTPS.

### Actual behavior

The client's URI schem

[2022-05-06 15:07] knutwannheden opened #25422 "Make Stork CDI-aware"
### Description

It would be nice if implementations for the `ServiceDiscovery` and `LoadBalancer` SPIs could be instantiated as CDI beans by Quarkus, so that custom implementations can transparently participate in the CDI dependency injection (e.g. have a REST client injected via `@RestClient`).

### Implementation ideas

_No response_

[2022-05-06 15:28] radcortez commented on #24944
Sure. You can find the code in https://github.com/smallrye/smallrye-config/

[2022-05-06 15:35] knutwannheden opened #25423 "Allow configuring how Stork-based REST clients are mapped to requests"
### Description

Currently, a REST client can be configured to use Stork by using a base URL with the `stork` scheme. As a result the REST client will replace the URL scheme and hostname with whatever is returned by the `Stork.getInstance().getService()` call. For some use cases it may however be necessary to further "rewrite" the request. E.g.
* modify the URL path
* add a query parameter
* add a

[2022-05-06 15:54] omar-zahid commented on #21217
@DavideD  Any update on this issue? I'm getting similar error on native image.
![image](https://user-images.githubusercontent.com/57479337/167168680-64190cc5-7475-4485-8aa8-e5ef2b3da4cd.png)

[2022-05-06 16:03] oliviercailloux opened #25424 "Logs sent to two files with default configuration"
### Describe the bug

With `quarkus.log.file.enable` (in supplement to the default console log), running `mvn test` creates two `quarkus.log` files instead of one as expected. One is in the project root (in the folder containing `pom.xml`) and contains a single line: `INFO  [org.jbo.threads] (main) JBoss Threads version 3.4.2.Final`. The other one is in the `target` subfolder and contains (almost)

[2022-05-06 16:12] DavideD commented on #21217
Sorry, I haven't had time to look into this yet

[2022-05-06 16:14] gsmet commented on #25419
/cc @Ladicek

[2022-05-06 16:57] yspotts opened #25426 "Including undertow extension disables devmode NotFound Exception Mapper"
### Describe the bug

2.8.2.Final

Dev mode includes a handy NotFound exception mapper that shows all the endpoints available
If one includes the `undertow` extension, this seems to disable/prevent this special error page

### Expected behavior

Should show the exception mapper (as it shows without the `undertow` extension)

![image](https://user-images.githubusercontent.com/887008/167177515-4fa7f

[2022-05-06 19:00] holly-cummins opened #25428 "Improve podman compatibility on M1 for build test suites which use fabric8 docker-maven-plugin"
### Describe the bug

https://github.com/quarkusio/quarkus/pull/25339 improved podman compatibility in some of the test suites which use fabric8 containers for databases. However, I'm still seeing failures on Mac M1 with podman.

Once I worked out I needed to do `podman machine init -v $HOME:$HOME` for podman < 4.1, most of the issues I've been seeing relate to filesystem mounting and health check

[2022-05-06 19:01] holly-cummins commented on #25428
Pull request incoming, once I get things sorted out.

[2022-05-06 19:15] holly-cummins commented on #25428
Here's some more context on the health check. The current pom.xmls tend to use tcp checks, of the form

[code]

These don't seem to be behaving well in podman on my M1. A `mysqladmin ping` check is generally more reliable and desirable. Doing it in a `<postStart>` will sometimes work as intended, but with a few bad side effects:
- the build will wait `<time>` ms before even trying the script
- som

[2022-05-06 19:28] holly-cummins commented on #25428
Confirmed user error(ish): filling in the timeout values gets the health check working.

[code]

[2022-05-06 19:50] manofthepeace opened #25429 "ConfigSourceFactory not honoring profile if using profile specific files"
### Describe the bug

I apologize in advance if this is raised on the wrong product. Not sure if it is a Quarkus issue, or a SR Config issue.

When using ConfigSourceFactory with profile specific properties file (ex. application-dev.properties). the `context.getValue()` call returns the wrong config, from the main file. If in the main file I have my property with the following format `%dev.my.conf

[2022-05-06 20:12] Ladicek commented on #25419
That makes sense to me, but `System.nanoTime() >= 0` is _not_ "de-facto always" true. `System.currentTimeMillis() >= 0` should be, unless your computer has a very wrongly configured time (which may happen I guess?). I think I'd much rather come up with an expression that would be complex enough for the control flow analysis to give up, or perhaps add `@Contract`... Need to think about it.

[2022-05-06 20:14] GavinRay97 commented on #17280
+1

[2022-05-06 20:22] Postremus commented on #25414
Hi @knutwannheden,
I just tested this, and for me changes in .env are detected in 2.8.2.Final.
[code]

Could you please attach a small reproducer project showcasing this problem?

[2022-05-06 20:24] Naros commented on #25190
This requires Debezium 1.9.3.Final to be released.  Once we've released that maintenance release, I'll push that to the platform.

[2022-05-06 20:25] knutwannheden commented on #25414
Interesting. I will test this again and try to debug it as well.

[2022-05-06 21:07] Sanne commented on #25428
you're right, mysql should not be checked just by it opening the port.

It's weird, I knew about that as I've had similar problems on other projects and yet never noticed we had it wrong here - I guess we simply copied the approach from the postgresql module, which was the first one to be created: AFAIK the approach to monitor ports being opened works fine with postgresql (but only with postgresql

[2022-05-06 22:59] alessandroAmedei commented on #21860
Any update? I have the same problem.
I have a class with
`@RegisterRestClient`
and a method
`    @GET
    @Path("/codes/{code}")
    @Timeout(250)
    Unit find(@PathParam("code") String code);`

Anyway, the timeout is not working.

[2022-05-07 01:17] viniciusfcf opened #25431 "Database rider does not work properly with Quarkus continuous test"
### Describe the bug

I'm trying to use database rider with Continuous test, However when it's not working after the second run.

### Expected behavior

work properly, =D.

### Actual behavior

_No response_

### How to Reproduce?

Steps:

git clone https://github.com/viniciusfcf/quarkus-issues
cd database-rider
mvn quarkus:dev (with docker running)
press 'r' (work)
press 'r' and re-run (fail)
See

[2022-05-07 01:52] gastaldi commented on #25431
I think that's something in the Database Rider core, hopefully @rmpestano can help?

[2022-05-07 02:03] SetoKaiba commented on #21110
Hi. Why isn't multiple persistence units supported for Hibernate Reactive?
The original hibernate reactive seems to support multiple persistence unit.
What's the concern about this?
I think add an annotation with persistence unit name and use producer method with InjectionPoint will be able to produce the Mutiny.SessionFactory for the specific persistence unit. Why not?
And I'd like to know the re

[2022-05-07 02:41] TheBlindM opened #25432 "Unable to use java modular system in quarkus"
### Describe the bug

Why is the java modular system not supported

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

11

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

2.7

### Build tool (ie. output of `mvnw -

[2022-05-07 04:48] zbhavyai commented on #21111
@phillip-kruger Still facing the same issue with latest version `2.8.3.Final`. A small reproducer is here - [https://github.com/zbhavyai/quarkus-graphql-reactive-pool-reproducer](https://github.com/zbhavyai/quarkus-graphql-reactive-pool-reproducer).

Additional details -

#### uname -a

[code]

#### java -version

[code]

#### mvn --version

[code]

#### psql --version
[code]

Thank you.

[2022-05-07 05:24] phillip-kruger commented on #21111
Yes, aiming for 2.10

[2022-05-07 05:26] zbhavyai commented on #21111
What's the expected release date for version 2.10?

[2022-05-07 10:45] pjgg commented on #14139
@sberyozkin this PR is based on your previous work and is related to this PR

https://github.com/quarkus-qe/quarkus-test-suite/pull/638

I think that could be handy.

[2022-05-07 12:48] michalszynkiewicz commented on #21860
@alessandroAmedei can you create a reproducer for your problem?

[2022-05-07 16:39] Postremus commented on #23939
I can reproduce this.

A queryparam declared as Optional<String> directly on the resource method gives an Optional.empty if not set in the request.
Optional<String> Queryparams in the beanparam are set to null.

![image](https://user-images.githubusercontent.com/1223135/167263581-0f51558c-7547-4ae2-9591-61cfea087642.png)

I will try to come up with a fix. Imo for optional we should always set Opti

[2022-05-07 16:40] JohnyzHub opened #25437 "Kafka topic name with dot is failing"
### Describe the bug

Kafka supports the topic names with dot symbol.
eg: below are valid topic names:
employee.salary
public.customer.purchase
private.grocery.vegetables.sale

Quarkus is failing to handle such names. For example from the [kafka-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/kafka-quickstart) application, in the [processor](https://github.com/quarkusio/quar

[2022-05-08 01:16] phillip-kruger commented on #21111
Not sure yet. Keep your eye on https://github.com/quarkusio/quarkus/wiki/Release-Planning

[2022-05-08 12:07] lost4git opened #25439 "Can not get restclient bean programmatically"
### Describe the bug

#### run result
![image](https://user-images.githubusercontent.com/65008815/167295282-156f5a77-0aed-4d45-81e2-ca5905324ffe.png)

#### MyClient.java
[code]

#### ClientGetter.java
[code]

#### application.properties
[code]

### Expected behavior

Can get `MyClient` bean instance by programatically

### Actual behavior

Can not get `MyClient` bean instance by programatically, a

[2022-05-08 12:57] geoand commented on #25439
You need to use `CDI.current().select(ExtensionsService.class, RestClient.RestClientLiteral.LITERAL).get();`

[2022-05-08 12:57] #25439 closed

[2022-05-08 13:01] geoand commented on #25426
This is kind of a weird use case. The reason it's done this way is because when RESTEasy Reactive and Undertow are both present, the latter is meant to be a "fallback" of sorts.

I suppose we could add a property that would override this behavior...

[2022-05-08 13:09] lost4git commented on #25439
@geoand Thanks for your prompt answer. Can you provide a link to the relevant documentation for this?

[2022-05-08 13:20] geoand commented on #25439
We don't have any specific instance of this in the docs, but it's a standard CDI feature than beans that have a qualifer need to obtained using that qualifier.

[2022-05-08 13:28] lost4git commented on #25439
I understand, I may need to learn CDI more, thanks again

[2022-05-08 14:22] #25362 closed

[2022-05-08 15:12] yspotts commented on #25426
Agreed its an edge case. My specific use case is that I want to enable the h2 UI console and my understanding is that the only way to do so is to enable `undertow` and `vertx` extensions and enable the h2 console servlet in `web.xml`.

[2022-05-08 15:12] cescoffier commented on #24350
I agree with @Ladicek. The need was to be able to use the Confluent Avro Serde. This has been fixed in #24526.

I would be in favor to close this issue.

[2022-05-08 15:13] cescoffier commented on #25089
Custom emitters have been added. Can you re-check?

[2022-05-08 15:23] cescoffier commented on #24978
@geoand any idea? I don't see how a header can be missing "sometimes", as adding headers is synchronous.

[2022-05-08 15:23] cescoffier commented on #24670
The access log is written using a regular logger. So, if you configure the logger to do file rotation, it should work.

[2022-05-08 18:24] sberyozkin opened #25440 "Uni.onFailure() does not work with RestEasy Reactive client and ClientWebApplicationException in prod and dev modes"
### Describe the bug

The following code works when the tests are run:

https://github.com/quarkusio/quarkus-quickstarts/blob/development/security-openid-connect-client-quickstart/src/main/java/org/acme/security/openid/connect/client/FrontendResource.java#L34

where a `ClientWebExceptionException` is handle by `Uni.onFailure.recoverWith` - the test needs to assert that `403` is returned from a dow

[2022-05-08 18:38] sberyozkin commented on #25440
If this is done by design, let only the tests see the escaped exceptions, then please feel free to close

[2022-05-08 19:06] taroquu opened #25441 "Test containers create a new network per integration test when using different test resources per test"
### Describe the bug

Within our project, we build our app as a docker image, and execute integration tests against it. It is mostly the case that each integration test has different test resources using `@QuarkusTestResource`. As such, each time a new integration test class is run by failsafe, a fresh docker container will be started - instead of reusing the same one.

Each time this happens, due

[2022-05-08 19:36] pjgg commented on #25098
@Karm
Here you have a "minimal reproducer"

https://github.com/pjgg/kafka-ssl-memory-leak

I think that I was able to reproduce and isolate the problem. Looks that the following properties (that are not used at all), are the cause of the unexpected memory usage.

[code]

Is an application issue (this application is used in several scenarios, and these properties only apply to one scenario but don'

[2022-05-09 01:17] #25094 closed

[2022-05-09 02:57] clara0 opened #25444 "Fix comparison in ensureProjectCoords method in AppModelGradleResolver class"
### Describe the bug

In the method ensureProjectCoords, appArtifact.getGroupId() and appArtifact.getVersion() are compared against themselves in an if statement, when they should be compared to project.getGroup() and project.getVersion() respectively.

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` o

[2022-05-09 03:14] SetoKaiba commented on #24978
Yes. It's strange. Previously, I thought it might be https related. Because br encoding is only working with https in browser.
But now I use curl instead. I found that it's still missing sometimes with http.

[code]

[2022-05-09 03:29] SetoKaiba commented on #24978
But I can't reproduce it with localhost. It's only reproducible with remote server. Is there any mechanism about the header order related? Maybe when the header is overriden, the header lost?

[2022-05-09 03:31] SetoKaiba commented on #24978
And also, it's not something related to the host firewall settings or other settings. Because I can use nginx to serve this with header always.

[2022-05-09 05:20] geoand commented on #24978
Is there any particular reason you are calling `rc.next()` as the first operation? I would expect that to be the last operation...

[2022-05-09 05:38] geoand commented on #25426
Hm... If that's the case, then we should probably come up with a better way to support it.

@gsmet do you know what the H2 UI requires?

[2022-05-09 05:45] cescoffier commented on #25098
The incoming part is most probably polling data from kafka and accumulating them in the queue (until we pause the retrieval because the queue is full).

[2022-05-09 05:47] cescoffier commented on #25098
Also, as soon as we have a kafka client created (used or not), we have health / monitoring / and so on happening. That should not take much memory, but maybe it has an impact.

[2022-05-09 05:55] SetoKaiba commented on #24978
@geoand https://github.com/quarkusio/quarkus/discussions/23162#discussioncomment-2071471
I take his code.

[2022-05-09 07:00] geoand commented on #25440
Hey @sberyozkin,

so IIUC when running the tests you get the expected behavior but not in dev mode and prod mode?

[2022-05-09 07:13] #25444 closed

[2022-05-09 07:15] michalszynkiewicz opened #25445 "Add a global override for user agent in REST Client Reactive"
### Description

Right now one can only override user-agent on a per-client basis, it would be good to have a global setting for it.

### Implementation ideas

_No response_

[2022-05-09 07:33] aloubyansky commented on #8593
@ppalaga @jamesnetherton Is this a new test of a regression?
[code]

[2022-05-09 07:43] jamesnetherton commented on #8593
Likely due to the Graal SDK version bump to `22.1.0`. The Camel main project needs to be aligned.

I'll be opening a PR to upgrade CQ in the platform later today, so I'll disable the problem test as part of that.

[2022-05-09 07:53] geoand commented on #25441
@famod didn't you also want to make testcontainers parent-first for some reason?

[2022-05-09 08:02] geoand commented on #25432
Closing as a related to https://github.com/quarkusio/quarkus/issues/17747 and https://github.com/quarkusio/quarkus/issues/14070

[2022-05-09 08:02] #25432 closed

[2022-05-09 08:03] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2292113539

[2022-05-09 08:06] famod commented on #25441
@geoand yeah: https://github.com/testcontainers/testcontainers-java/issues/5284#issuecomment-1120184634

Just little to no time currently...

[2022-05-09 08:08] #23939 closed

[2022-05-09 08:09] mihaipoenaru commented on #9386
One workaround, I think, is to redirect the standard output (that is printed in json) to a file, however you lose log rotation with this. But we do really need someone to look at this. It sounds like a trivial issue to solve, if you know where to look.

[2022-05-09 08:13] geoand commented on #25441
@famod thanks!

@taroquu mind opening a pull request making testcontainers parent first so we can see what CI says? I think it should work without issue

[2022-05-09 08:14] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2292113539

[2022-05-09 08:15] #25357 closed

[2022-05-09 08:17] #25315 closed

[2022-05-09 08:33] Ladicek commented on #25419
It seems replacing `throw fail();` with `if (always()) throw fail(); else throw fail();`, where `always()` is another `static` method that always returns `true`, is enough to fool the control flow analysis algorithm in IntelliJ :-) Will submit a PR shortly.

[2022-05-09 08:49] geoand commented on #25418
Closing this as it works with `2.8.3.Final` and `2.9.0.Final`

[2022-05-09 08:49] #25418 closed

[2022-05-09 08:49] Ladicek commented on #25419
@Felk fix is in #25448. If you have a chance to verify (by building Quarkus from my branch), I'd appreciate that. But it seems to help in my IntelliJ, which is 2022.1.

[2022-05-09 08:50] Felk commented on #9354
thanks @Sanne and @famod, you made a few solid points regarding H2, and we are going to move away from it somewhat soon. With reusable testcontainers, https://github.com/gvenzl/oci-oracle-xe/pull/107 merged and a bit of convincing work within the team, that should be pretty doable.

[2022-05-09 08:50] iocanel opened #25449 "Can't send request via gRPC DevUI"
### Describe the bug

DevUI correctly lists services, but testing is failing.
In the javascript console I can see:

[code]

### Expected behavior

Testing gRPC services in the console should work.

### Actual behavior

Testing gRPC services does not work

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalV

[2022-05-09 08:54] lthasle commented on #25418
@geoand Sound good, when will it 2.8.3.Final be released?

[2022-05-09 08:55] geoand commented on #25418
@lthasle https://quarkus.io/blog/quarkus-2-8-3-final-released/ 😉

[2022-05-09 09:10] geoand commented on #25431
Can you try making making the problematic dependency parent-first using `quarkus.class-loading.parent-first-artifacts`?

[2022-05-09 09:13] #25305 closed

[2022-05-09 09:16] #25186 closed

[2022-05-09 09:33] sberyozkin commented on #25440
Hey @geoand Exactly, when running the tests the `onFailure().recoverWith()` is executed, in dev and prod - not.

[2022-05-09 10:05] rsvoboda commented on #25415
@tsegismont reactive-oracle-client is not listed in `.github/native-tests.json` so it's not executed in GitHub Actions. The test failed on our internal Jenkins jobs where we run against various db versions.

@Sanne I don't think so, the reactive-oracle-client module started to fail on May 5 and it doesn't have multiple reactive clients.

[2022-05-09 10:10] tsegismont commented on #25415
Thank you for the details @rsvoboda

[2022-05-09 10:18] Sanne commented on #25415
@rsvoboda but the issue at https://github.com/quarkusio/quarkus/issues/24788 isn't about multiple drivers, it's highlighting that the reactive oracle client doesn't work in native.

Which seems kind-a known TODO since the CI jobs aren't testing it.

So both issues seem to point to the same problem: support for native compilation isn't ready.

[2022-05-09 10:27] SetoKaiba commented on #24978
@geoand It's working now with rc.next() last operation. I think this issue should be considered closed. Thank you.

[2022-05-09 10:31] #24978 closed

[2022-05-09 10:55] ozangunalp commented on #25098
The incoming channel would not be started as there is no subscription to it (it is not used).
But the producer channel will still try to create a Kafka producer eagerly.
As it is not configured properly with SSL security protocol details it would fail and try to connect.
Although I don't think this in itself would cause a memory leak.

@pjgg I don't know if it is intended but the test is actually

[2022-05-09 10:58] xstefank commented on #25330
@gsmet unfortunately, this is still not fixed with the fixed linked. Can I reopen this or should I open a new issue?

The new error is internal - `java.util.ServiceConfigurationError: javax.ws.rs.client.ClientBuilder: Provider org.jboss.resteasy.client.jaxrs.internal.ResteasyClientBuilderImpl not found`

[2022-05-09 11:09] Sanne commented on #21110
The original hibernate reactive seems to support multiple persistence unit.
What's the concern about this?

There's no instrinsic limitation, as you noticed Hibernate Reactive upstream an deal with multiple persistence units and we hope to eventually support this in Quarkus as well.

But currently the Hibernate Reactive extension for Quarkus is in a problematic shape: it's highly coupled to the co

[2022-05-09 11:10] rsvoboda commented on #25415
Running with Quarkus 2.8 branch the build and tests are passing

[code]

*   a5b67af12b - (HEAD -> 2.8, upstream/2.8) Merge pull request #25394 from gsmet/2.8.3-backports-1 (3 days ago) <Guillaume Smet> is the latest commit on 2.8 branch atm

[2022-05-09 11:29] geoand commented on #24978
Great yo hear

[2022-05-09 11:43] phillip-kruger commented on #21111
Good news, I just tested this reproducer with snapshot (main branch) and it's working (or at least it goes past 4 requests :))

If anyone here is keen to test, use the main branch (999-SNAPHOT) and let me know if it's not working. CR1 for 2.10 should also be release in a few weeks and should contain the fix.

![vokoscreenNG-2022-05-09_21-38-48](https://user-images.githubusercontent.com/6836179/167

[2022-05-09 11:43] #21111 closed

[2022-05-09 11:45] phillip-kruger commented on #21433
This is now added and will be available in 2.10.

Closing here

[2022-05-09 11:45] #21433 closed

[2022-05-09 13:40] ferencbeutel4711 opened #25453 "Mutiny is not compatible with quarkus opentelemetry"
### Describe the bug

Hello there,

we are currently trying to implement opentelemetry using the quarkus opentelemetry package. We are using mutiny in a lot of places in our application. Now we are facing the following issue:
Every time we are using Uni/Multi in our Code, the tracing information is wrong. There are 2 main issues:

- The recorded duration takes only the synchronous part of the meth

[2022-05-09 13:43] mklueh commented on #676
@ppalaga so lets say you have a multi module project (monorepo) with multiple applications and you only want to build and release those applications that have changed. What possibilities are there left?

[2022-05-09 14:27] manovotn opened #25454 "Generating project with Gradle ignores exclude clauses in dependencies"
### Describe the bug

This report is a copy of what was originally created as SmallRye Context Propagation issue, see https://github.com/smallrye/smallrye-context-propagation/issues/363 for more details.

See steps to reproduce for details on how to create reproducer app.

The generated application includes `smallrye-context-propagation-jta` dependency which leads to the error in reproducer.
Execu

[2022-05-09 14:32] #25449 closed

[2022-05-09 14:34] pjgg opened #25455 "Unused `quarkus-smallrye-graphql` extension break Quarkus scenario in combination with other extensions"
### Describe the bug

### JDK17 / Quarkus Upstream

When I add the extension `quarkus-smallrye-graphql` to [this](https://github.com/quarkus-qe/quarkus-jdkspecifics/tree/main/jdk17/jaxrs-panache) project I am getting the following error:

[code]

**Note that the extension `quarkus-smallrye-graphql` is not used.**

Works with Quarkus 2.8.3.Final and previous Quarkus upstream Versions (999-SNAPSHOT)

[2022-05-09 14:40] gsmet commented on #25454
It's weird given we also have: https://github.com/quarkusio/quarkus/blob/main/extensions/hibernate-reactive/runtime/pom.xml#L16-L28 .

I wonder if it can be reproduced with Maven. If not, that would be a Gradle classpath issue. I remember we had some of those already.

[2022-05-09 15:10] viniciusfcf commented on #25431
like quarkus.class-loading.parent-first-artifacts=com.github.database-rider:rider-cdi?

It throws

[code]

[2022-05-09 15:23] glefloch commented on #25454
Yes, we already had this issue, dependency resolution differs between gradle and maven.
From what I remember, in order to exclude an artifact, it should be excluded from all possible artifact it can come from.

In this case, `quarkus-agroal` can come from `hibernate-reactive` (which exclude it), and deom `quarkus-hibernate-reactive-panache-common` which brings `quarkus-panache-hibernate-common` wh

[2022-05-09 16:25] maxandersen opened #25457 "have toggle for dev mode continous test stacktrace dump to filter out non-app classes?"
### Description

in a restassured test contionus test can print quite big stacktraces:

[code]

out of which there is only *one* line related to my app:

[code]

rest is pure "middleware" and 'x' does not do anything (seperate issue) it would be nice if we control stacktrace dump that we could toggle "show relevant" vs "show all" or similar.

### Implementation ideas

_No response_

[2022-05-09 16:31] mklueh opened #25458 "./gradlew addExtension adds dependency to every single module in a multi-module project instead of root"
### Describe the bug

I do not know if this is intentional or not, but executing this command in the root of a multi module project will add the dependency to every single module.

It makes no sense, especially with extensions like this in my opinion.

You want it either at the application level or in my case in the root build.gradle of my project.

### Expected behavior

Append to the root's

[co

[2022-05-09 16:48] glefloch commented on #25458
Thanks for reporting this, this is a bug, I think we want the dependency to be added to the project applying the quarkus plugin. I will have a look

[2022-05-09 17:10] mihaipoenaru opened #25460 "Running a kotlin/jackson native built with mandrel (graal-22.1 java 17) will fail on missing json fields"
### Describe the bug

Not sure if this is truly a bug with Quarkus but a bug with the documentation referring to using the mandrel image for building native apps.

My business requirement is to build a bunch of cloud native microservices, so I chose quarkus and Kotlin and followed [this guide](https://quarkus.io/guides/kotlin). Notice that it implies that mandrel is a-ok to use for Kotlin (at leas

[2022-05-09 17:33] jponge commented on #25453
Message ID: ***@***.***>Well, OpenTelemetry support should be above Mutiny, not in Mutiny itself :-)

[2022-05-09 18:59] sithmein opened #25462 "Request routing partially broken in reactive RESTEasy"
### Describe the bug

Consider the following two resource classes:

[code]

Note the different path parameter name on both classes. It seems that one class shadows the other class completely, i.e. requests matching `RoutingBrokenA.doSomething` are returned as 404. It works if the path parameter has the same name in both classes.

The same code works without problems in classic RESTEasy.

### Expec

[2022-05-09 19:14] fabrii opened #25463 "Support Flyway cleanOnValidationError"
### Description

It would be nice if Quarkus can support the Flyway cleanOnValidationError parameter. This would be really useful for dev and integration environments.

https://flywaydb.org/documentation/configuration/parameters/cleanOnValidationError

### Implementation ideas

_No response_

[2022-05-09 19:15] gastaldi commented on #25463
@fabrii want to submit a PR?

[2022-05-09 19:22] gsmet commented on #25463
Example of similar PR: https://github.com/quarkusio/quarkus/pull/11437/files .

[2022-05-09 19:39] fabrii commented on #25463
Yeah, sure. First time contributing with PR. I have some questions:

1) Do I also need to update the guide in the same PR right?
I cannot find the https://quarkus.io/guides/flyway guide in the /main/docs/src/main/asciidoc
2) In this case, do I need to run the CI tasks on my fork?

Thanks

[2022-05-09 19:44] gastaldi commented on #25463
The config properties doc are generated automatically during the build, so unless you want to add a section in the Flyway guide, you don't need to touch it.

This is done whenever you push to your fork. You can create the PR as draft and it would allow us to review your work while your fork builds it 😉

[2022-05-09 19:44] gsmet commented on #25463
You don't need to update the doc. The configuration reference is automatically generated from the config javadoc. Just make the javadoc meaningful.

As for building, see https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#build, you're in the "Contributing to an extension" case. So just build the extension locally and check the Flyway ITs work.

[2022-05-09 21:48] zbhavyai opened #25466 "Quarkus GraphQL doesn't appear to support inheritance"
### Describe the bug

I have a perfectly valid and working code here at [https://github.com/zbhavyai/quarkus-graphql-schema-reproducer](https://github.com/zbhavyai/quarkus-graphql-schema-reproducer). The REST wrapper on the service works without any issue.

The moment I created a simple GraphQL wrapper, during build `io.quarkus.smallrye.graphql.deployment.SmallRyeGraphQLProcessor#buildExecutionSer

[2022-05-09 22:01] sberyozkin commented on #25462
@geoand This is a JAX-RS 2.0 concept which allows for having multiple class resources handle the same request. As far as I recall it does not really matter that the template vars are named differently, there is an algorithm which determines if both expressions are identical, but I don't recall it, must be in the spec.
Workaround is to just to have these methods rooted under a single class resource

[2022-05-09 23:07] HonoluluHenk commented on #24829
FYI: I just pushed an implementation that uses [quarkus github releases](https://github.com/quarkusio/quarkus/releases/).

Still a POC since some older releases do not have cli artifacts. Installing those versions currently leads to errors.

[2022-05-10 00:11] phillip-kruger commented on #13643
No news on this. Could be an interesting case for Quarkiverse if you are interested to contribute

[2022-05-10 01:28] nicolas-vivot commented on #24740
+1 to add a note on the CORS configuration.

Took me hours to understand why CORS where not working when accessing a service in a credential mode while the configuration on the service was correct according to the documentation.

So, definitely +1 to at least update the documentation with a note about yaml format and a link to the configuration key conflicts section, for those like me not knowing

[2022-05-10 01:34] zuochangqin commented on #23324
Is there any update on this topic? Do I have to wrap every method that operates on the database with Panache. WithTransaction? Reactive Hibernate is not stable, and often causes errors.

[2022-05-10 01:34] zuochangqin commented on #23324
Is there any update on this topic? Do I have to wrap every method that operates on the database with **Panache. WithTransaction**? Reactive Hibernate is not stable, and often causes errors.

[2022-05-10 02:56] fabrii commented on #22204
Hi!

I was looking the solution for the hibernate normal entities (not envers) in this link: https://github.com/hibernate/hibernate-orm/pull/3994/files

The code used for skipping the snapshot is:

[code]

For retrieving my Envers items I use the following code:

[code]

amb.getSistemas() is a List.
When running this code, I can see the "IS Collection" log, but I don't see the IS PersistentCollect

[2022-05-10 05:11] geoand commented on #25462
Thanks for the input @sberyozkin!

@stuartwdouglas since you did the route matching stuff, do you remember this?
I am surprised the TCK doesn't test this case...

[2022-05-10 05:19] geoand commented on #25441
@ejba it's a matter of adding configuration to the `quarkus-bootstrap-maven-plugin`. See [this](https://github.com/quarkusio/quarkus/blob/2.9.0.CR1/core/runtime/pom.xml#L172) for an example.

[2022-05-10 05:19] geoand commented on #25431
So it depends on JPA, then indeed it won't work

[2022-05-10 05:32] geoand commented on #25457
FWIW, the maven surefire plugin already does this, so I think it would make sense for us to do it as well

[2022-05-10 05:34] glefloch commented on #24740
I will duplicate the block of documentation in the cors section

[2022-05-10 05:41] mun711 commented on #14729
Hey,
I'm new to quarkus and would like to contribute
There seems to be no activity on this issue for quite some time, so can it be taken or there is someone already working on this ?
@yrodiere @keshavcodex

[2022-05-10 05:51] #25331 closed

[2022-05-10 06:00] geoand commented on #25460
Thanks a lot for reporting this and for the analysis!

@galderz @zakkak would it not be possible for Mandrel to include `com.oracle.svm.polyglot.kotlin.KotlinFeature` ?

[2022-05-10 06:03] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/2298499978

[2022-05-10 06:43] yrodiere commented on #14729
Hi. It's been a year, so I think we can safely assume @keshavcodex stopped working on this. Feel free to give it a try. All the necessary information should be in the previous messages. Enjoy :)

[2022-05-10 06:55] pjgg commented on #25098
This issue is under investigation but looks like is directly connected to an application miss-configuration on SSL kafka producer/consumers.

Related to: https://cwiki.apache.org/confluence/display/KAFKA/KIP-498%3A+Add+client-side+configuration+for+maximum+response+size+to+protect+against+OOM

[2022-05-10 07:36] geoand commented on #25466
Seems like `io.smallrye.graphql.schema.creator.ReferenceCreator#collectParametrizedTypes` needs to keep track of the types it has already seen

[2022-05-10 07:38] knutwannheden opened #25474 "Standardized config property for devservices participating in container reuse"
### Description

As of #25367 Quarkus datasource devservices will get reused when Testcontainers has been configured correspondingly (`testcontainers.reuse.enable=true` in `~/.testcontainers.properties`).

I think it would make sense to also allow other slow-starting devservices to "participate" in this. I would thus like to propose that the standard `devservices` config group, which already has a

[2022-05-10 07:39] knutwannheden commented on #25474
/cc @Sanne

[2022-05-10 07:48] PierreBtz opened #25475 "In command mode, version provider doesn't support CDI"
### Describe the bug

In command mode, if providing a custom VersionProvider, nothing can be injected in the provider (eg `@Inject` or `@ConfigProperty`).

### Expected behavior

VersionProvider benefits from Quarkus CDI.

### Actual behavior

VersionProvider cannot use any injection.

### How to Reproduce?

Steps to reproduce:

1. Clone https://github.com/PierreBtz/picocli-version-provider-bug
2.

[2022-05-10 08:10] manovotn commented on #25454
@glefloch you are right, this is no longer an issue with 999-SNAPSHOT and shouldn't be an issue with 2.9.0.Final either.
Thanks for clarifying this!

@TiomanGally just an FYI ^^

[2022-05-10 08:10] #25454 closed

[2022-05-10 08:16] fsudrot opened #25476 "Mongo id duplication"
### Describe the bug

With a native application deployed in several pods, inserting a document in mongo can fail with this kind of error :
[code]
The ObjectId is set by the mongo driver. It is composed of several parts, see [doc](https://www.mongodb.com/docs/manual/reference/method/ObjectId/) :
- A 4-byte timestamp, representing the ObjectId's creation, measured in seconds since the Unix epoch.
-

[2022-05-10 08:17] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2298501609

[2022-05-10 08:19] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2298501609

[2022-05-10 08:21] bcluap commented on #24895
No luck on fixing this for 2.9.0?

[2022-05-10 08:26] geoand commented on #25476
@zakkak can an entire static init method be substituted in GraalVM?

Asking because as @fsudrot mentions, the problematic code is:

[code]

[2022-05-10 08:30] Sanne commented on #25474
It's a great idea - no objections, but bear in mind that in several cases we're using the container definition from Testcontainers, which don't consistently allow for container reuse.
And even when they do, we'd need to override each container definition to control the flag. Might be worth the work though, we can then most likely tune other aspects more easily as well.

[2022-05-10 08:32] manovotn commented on #25475
@PierreBtz normal scoped beans (app scoped, req scoped, session scoped mostly) always create a proxy object and require a no-args constructor for it. Furthermore, a class-based bean declaration need either no-arg constructor or one that has all parameters as injection points (CDI beans) so that CDI can automatically initialize the object. Your class doesn't meet either requirement and as such cann

[2022-05-10 08:35] marcelomrwin opened #25477 "Native test fails if configure different final name property"
### Describe the bug

In case of using quarkus.package.output-name or quarkus.package.runner-suffix property the native test will fail.

### Expected behavior

Tests executed and passed

### Actual behavior

error=2, No such file or directory Caused by: java.io.IOException: Cannot run program

### How to Reproduce?

Just configure the properties  quarkus.package.output-name or quarkus.package.runn

[2022-05-10 08:40] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/2298522281

[2022-05-10 08:42] Sanne commented on #23324
Let me explain, Hibernate Reactive by design requires all operations to be executed from the same thread.

The exception "java.lang.IllegalStateException: HR000069: Detected use of the reactive Session from a different Thread than ..."  literally means that we've detected illegal use of it, and we're throwing an exception on purpose so that integration problems can be detected (such integration pr

[2022-05-10 08:46] geoand commented on #25476
https://github.com/quarkusio/quarkus/pull/25479 actually takes care of it

[2022-05-10 08:54] manovotn commented on #25422
I don't know much about Stork (well, nothing really :-D) but here are my 0.02$ from CDI perspective.

Technically, this is doable assuming the given service provide is only needed after CDI/ArC is started.
The service impl would need to either have a bean defining annotation or it'd need to be added programatically in which case there'd only be one impl allowed to avoid conflicts.

Furthermore, th

[2022-05-10 08:55] geoand commented on #25440
That's really weird... I'll take a look

[2022-05-10 08:59] fsudrot commented on #25476
Thanks
In which version this fix will be available ?

[2022-05-10 09:00] geoand commented on #25476
`2.9.1.Final`

[2022-05-10 09:10] FroMage commented on #24810
I've tried by removing the Panache layer and just plain ORM and have exactly the same issue, so this is not related to Panache.

Also, I am not familiar with your way of dealing with many-to-many here, because you seem to have a normal many-to-many relation declared on `Student` and `Course` but then you have a manual association declared in `StudentToCourse` but with just IDs. I've never done tha

[2022-05-10 09:17] sberyozkin commented on #25440
@geoand Hi, yes, I had the tests passing and then went to try it in devmode UI and it failed and then it also failed in prod.

[2022-05-10 09:20] FroMage commented on #22971
This is my workaround ATM:

[code]

[2022-05-10 09:24] adjiandov commented on #24810
Hi @FroMage but what is the implementation of ORM, there has to be some implementation to the ORM specification.
I have done the exact same thing with Spring and Hibernate ORM, therefor I expected the same behavior.

[2022-05-10 09:27] FroMage commented on #24810
This is Hibernate ORM. Perhaps your transaction or session boundaries were different in the past?

[2022-05-10 09:35] FroMage commented on #24974
Looks like a bug that we stop at `;` in query strings when I don't think they're reserved or special or need to be encoded there. In both cases the endpoint should receive `arg;123`

[2022-05-10 09:52] zakkak commented on #25476
FTR No, unfortunately there is no way to substitute static init methods...

[2022-05-10 09:53] geoand commented on #25476
That's what I though, thanks!

[2022-05-10 09:54] adjiandov commented on #24810
Transactions and sessions was left out to the default Hibernate settings. There was no explicit Transactional added only the @AutoConfigureDataJpa

[2022-05-10 10:03] FroMage commented on #25110
This sounds like a request scoped session hanging on forever, no? Or something else @cescoffier @DavideD ?

[2022-05-10 10:16] FroMage commented on #25391
Do you know what the proper HQL would be?

[2022-05-10 10:24] geoand commented on #25440
Unfortunately I don't understand what is going on here... In both cases the control flow reaches https://github.com/quarkusio/quarkus/blob/2.9.0.Final/independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java#L330 with the proper `ClientWebApplicationException`, but then in the test case the Uni's `recoverWith` is call

[2022-05-10 10:28] manovotn commented on #25475
Oh, I didn't realize `VersionService` was a bean in your original case as well. That's interesting; I am not sure why it didn't work then, let me try to poke around it a little more.

You are correct, what I described was pure CDI specification behavior and Quarkus makes it simpler to use.

Yes, any bean that is not "used" is automatically removed. The details of it can be seen [here](https://quar

[2022-05-10 10:31] #25476 closed

[2022-05-10 10:35] manovotn commented on #25475
@PierreBtz ok, found it.

Your original scenario only needs to add `@Unremovable` to your `MyVersionProvider` class and it will work.

The reason is that without the annotation, the bean class will be dropped as unused and as such won't have the no-args constructor added. Following that, [`DefaultPicocliCommandLineFactory`](https://github.com/quarkusio/quarkus/blob/main/extensions/picocli/runtime/

[2022-05-10 10:36] #25475 closed

[2022-05-10 10:40] PierreBtz commented on #25475
Perfect! I think it makes things clear now. Somehow using `@Inject` annotation caused the same root issue (bean is removed) but the error message was more helpful in guiding me.

Thanks a lot for taking the time to dig into this :)

[2022-05-10 10:41] geoand commented on #24974
We are relying on Vert.x to do the query param parsing, we are not doing it ourselves.

[2022-05-10 10:48] manovotn commented on #25475
If you inject your `MyVersionProvider` into another bean `Foo`, the error will disappear.
However, that `Foo` also has to be used/injected somewhere, the search for unused beans is recursive and deep and if `Foo` is unused, it will remove it and will therefore also remove `MyVersionProvider` as it has no other injection detected.
Hope it makes sense.

[2022-05-10 10:49] PierreBtz commented on #25475
Totally, thanks!

[2022-05-10 10:51] #25455 closed

[2022-05-10 10:55] rvansa commented on #25391
OK, looks like JOINs in DELETE are not legal in HQL. Googling for the query led me to https://hibernate.atlassian.net/browse/HHH-12625 - so this is not a Panache bug but Hibernate bug, rotting in JIRA for 4 years.

[2022-05-10 11:13] phillip-kruger commented on #25466
There is a kind of circular link in the example code that makes it a bit unique. The type extends another type that has the original type as a generic parameter. I must check how we are going to do this, but keeping track would not help because the type can not be created...

[2022-05-10 11:14] geoand commented on #25466
But keeping track of what you have visited would at least prevent the stack overflow error (even if in the end you are unable to support this use of generics)

[2022-05-10 11:18] phillip-kruger commented on #25466
We are keeping track, and only create a reference, but in this case the reference does not get created. We might have to create the reference first and then add the generic types. Let me play a bit....

[2022-05-10 11:23] sberyozkin commented on #25440
@geoand Thanks for confirming it is the case

[2022-05-10 11:29] knutwannheden opened #25481 "Document guidelines for RESTEasy implementation-agnostic extensions"
### Description

RESTEasy Reactive has become very stable and also provides some features unavailable in RESTEasy Classic. For Quarkus extensions it thus makes sense to support both RESTEasy flavors and it would be nice with some documentation on how to implement a RESTEasy flavor-agnostic Quarkus extension.

I am currently in a position where a document like this would be useful. Without having l

[2022-05-10 11:29] knutwannheden commented on #25481
/cc @geoand

[2022-05-10 11:39] geoand commented on #25440
Sorry I could not help more...

[2022-05-10 12:11] sberyozkin commented on #25440
Np at all, the demo works with the exception mapper added, so it is not a blocker

[2022-05-10 12:36] zakkak commented on #25460
@mihaipoenaru @geoand I am not able to reproduce the issue.

What I tried:
[code]

Added `ExampleClass` to `src/main/kotlin/org/acme/ExampleClass.kt`
[code]

From another terminal
[code]

I even tried adding the same dependencies as listed in the description and it didn't trigger.

Am I missing any steps?

[2022-05-10 12:50] jtama commented on #18228
Hope this will be made available soon. Opentelemetry without log/trace correlation is sad.

Is there any workaround in the meantime ?

[2022-05-10 13:01] mihaipoenaru commented on #25460
@zakkak i'll try and make a simple reproducer.

[2022-05-10 13:39] jsmrcka opened #25484 "Quarkus CLI installed with JBang prints warning: SLF4J: Class path contains multiple SLF4J bindings"
### Describe the bug

When Quarkus CLI is installed by JBang using an **explicit version**, a SLF4J warning is printed on every run of the CLI.
[code]
However, without specific version, the CLI works fine:
[code]

### Expected behavior

[code]

### Actual behavior

[code]

### How to Reproduce?

Install JBang, if needed:
[code]
Install Quarkus CLI using explicit version:
[code]
Invoke Quarkus CLI:

[2022-05-10 13:49] maxandersen commented on #25484
This is expected as maven pom says it needs dependencies but it's actually a fat jar.

You'll need to use the https url rather than the maven gav.

[2022-05-10 14:31] yrodiere opened #25486 "Move Elasticsearch dev service to its own Maven module"
### Description

Dev services for databases all have their own module under `extensions/devservices`. Elasticsearch propbably should, as well.

### Implementation ideas

_No response_

[2022-05-10 14:38] dmlloyd commented on #18228
See #25347 which updated the logmanager to 1.0.10 which introduces the new MDC API without breaking compatibility due to `javax/jakarta.json`.

[2022-05-10 14:40] #25419 closed

[2022-05-10 15:22] sberyozkin commented on #25462
@geoand Np at all, TCK might be quite incomplete as well.

[2022-05-10 15:39] jskillin-idt commented on #25271
I have a thread with some higher-level thoughts that are a bit out of scope here but may be of interest:
https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Gradle.20plugin.20model.20design

The tl;dr is I'm wondering if there's a way to refactor the Gradle plugin to rely more on Gradle extensions, the "reactive" API on Gradle containers, and eliminate the usage of afterEvaluate entire

[2022-05-10 16:11] mihaipoenaru commented on #25460
Ok, so, I made a reproducer, but in the end I have identified that the issue is solved with mandrel 22.1. I was trying to make a reproducer with 22.1 but everything was working correctly. Only after I re-read my problem did I realize that I was using 22.0. I  then tried the reproducer with 22.0 and it crashes as expected.

Reproducer:

1. Main resource class

[code]

2. application.properties (win

[2022-05-10 16:52] michalvavrik commented on #24885
I also experienced this inconsistence between java and native mode and IHMO the conclusion you settled should be documented. If you just add `-Dnative` the app breaks.
[code]

If user provides his own `quarkus.native.builder-image` than he is responsible for defining entrypoint, however if `quarkus.native.builder-image` is in default value, it's not user's fault that we didn't define entrypoint.

[2022-05-10 17:12] michalvavrik commented on #24885
I'd like to understand this sentence better, please. Does you assume that if user doesn't define `quarkus.native.builder-image` and defines arguments, he should investigate `ubi-quarkus-native-image` what is correct entrypoint?

[2022-05-10 17:20] mmusgrov commented on #23558
@geoand I'd like to clarify my understanding of what the intention of labelling an issue with `area/narayana` means. Does it mean that we need to fix the issue or that our input is required? If it is the former then we'd need some help and if it is the latter then I provided my input in the last message.

[2022-05-10 17:32] ejba commented on #25437
Apparently the connector property is always duplicated where the second version doesn't have double quotes. When smallye reactive-messaging parses the second version of the property name, it only considers the first word until the first dot occurs, and then throws the mentioned exception afterwards (here)[https://github.com/smallrye/smallrye-reactive-messaging/blob/main/smallrye-reactive-messaging

[2022-05-10 17:43] geoand commented on #23558
It's the latter but could lead to the former 😎.

If you think the issue has been addressed

[2022-05-10 18:00] ejba commented on #25437
`WiringProcessor` generates `ConfigBuildItem`s without double quotes when the property name has dots. It turns incompatible with the Smallrye's configuration loading implementation.

@geoand May I propose a fix in an MR?

[2022-05-10 18:27] rmpestano commented on #25431
Hey guys,

To help you I need to understand what's happening in quarkus-dev re-run. If needed we can provide a quarkus extension to handle such case, please let me know.

Cheers!

[2022-05-10 20:09] sebersole commented on #25271
If you aren't tied to using separate projects / modules directly, I created https://github.com/sebersole/quarkus-extension-plugin.

But if you like the separate projects / modules approach, most likely this plugin needs to use more of Gradle's delayed config stuff.

[2022-05-10 20:24] glefloch commented on #25416
@lostiniceland this is already the case, you can add a `sample.avdl` file in your `src/main/avro` and the code should be generated.

[2022-05-10 20:33] #25043 closed

[2022-05-10 20:38] sebersole commented on #25271
I mean `Property`, `Provider`, `Directory`, `RegularFile`, `FileCollection`, `FileTree`, `Configuration`, etc.

These are all "shareable, mutable references".

[2022-05-10 21:37] jskillin-idt commented on #25271
Oh no, that's my bad! I forgot to turn on configuration on demand. Pull and try again.

[2022-05-10 23:29] slinstaedt commented on #25050
`quarkus-resteasy` and `quarkus-resteasy-reactive` behave differently, when it comes to corner cases like the mentioned MultipleConstructor class. IMHO `quarkus-resteasy-reactive` behavior seem to be more appropriate.

[2022-05-11 01:47] phillip-kruger commented on #25466
@zbhavyai REST does not create a schema like GraphQL, that is why it's working. The problem here is that your example code has (kind of) a circular dependency:

`TestID extends AbstractID<TestID>`

I am still trying to see if I can get around it, but this seems like a niche example.

[2022-05-11 01:52] zbhavyai commented on #25466
@phillip-kruger thanks for the update and letting the exact problem known. Hopefully the you/quarkus team shall find a solution soon.

[2022-05-11 04:30] calohmn commented on #23573
@radcortez Could you verify the printout of property values in the committed fix is done in the wrong way around?

I also think the log message should emphasize that the runtime value actually _isn't_ getting set/applied - see my suggestion above.

[2022-05-11 05:24] galderz commented on #25460
You can open a PR and have a go at adding the warning in the docs.

[2022-05-11 05:34] geoand commented on #25431
Quarkus Dev mode basically reloads the application in a new ClassLoader when a change is detected.
https://quarkus.io/guides/class-loading-reference provides a few more details

[2022-05-11 05:48] #25463 closed

[2022-05-11 05:52] geoand commented on #25484
@maxandersen so should we close this?

[2022-05-11 06:03] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/2304947164

[2022-05-11 06:09] #25345 closed

[2022-05-11 06:38] geoand commented on #25477
Nice catch.

This happens because the Maven failsafe plugin (which is responsible for running integration tests) has the following configuration:

[code]

What is of interest in the previous snippet is the `native.image.path` system property, which as you see contains `-runner` as the suffix.

One way to specify a custom suffix would be to include:

[code]

in the Maven's `<properties>` section an

[2022-05-11 06:38] #25477 closed

[2022-05-11 06:56] lostiniceland commented on #25416
@glefloch you are right: when executing `quarkus:build` the avdl is processed. My mistake was that I expected it to happen during Maven default compile goal.

[2022-05-11 06:56] #25416 closed

[2022-05-11 07:14] geoand commented on #25460
Closing this as out of date

[2022-05-11 07:17] geoand commented on #25481
Thanks for opening the issue!

A few question before I add the documentation:

I assume you mean that the extension has some JAX-Rs resources in its `runtime` module and you would like to have them exposed as well?

Can you elaborate on what kind of usage you mean here?

[2022-05-11 07:28] rmpestano commented on #25431
I still need to check but I suspect that if you reload [this class](https://github.com/database-rider/database-rider/blob/7fe6ecdf4e9aff443bca2e1d83306d8ac8f29e36/rider-cdi/src/main/java/com/github/database/rider/cdi/JTAConnectionHolder.java) then the `init method` needs to be called again (maybe using postconstruct) to fill up the  connection cache: https://github.com/database-rider/database-ride

[2022-05-11 07:30] knutwannheden commented on #25481
Yes, that is correct. We do have such extensions with resources using standard JAX-RS annotations (including e.g. `@RolesAllowed`)

We also have extensions which at startup (runtime init) will call some remote REST service to do some kind of registration. Can that then be done using the MP REST Client or would more primitive mechanisms be required due to the Classic / Reactive split?

[2022-05-11 08:12] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/2304969887

[2022-05-11 08:17] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2304948853

[2022-05-11 08:19] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2304948853

[2022-05-11 08:56] geoand commented on #25481
https://github.com/quarkusio/quarkus/pull/25494 is what I have in mind. Let me know if it answers your questions

[2022-05-11 09:34] gsmet commented on #23804
@cescoffier is this fixed?

[2022-05-11 09:34] cescoffier commented on #23804
Yes!

[2022-05-11 09:37] csotiriou opened #25495 "RESTEasy Reactive: Unable to mock ContainerResponseContext in unit tests"
### Describe the bug

When using Quarkus 2.8.3.Final, and have this unit test:

[code]

We get an error like this:
[code]

### Expected behavior

The unit test should be able to proceed

### Actual behavior

Unit test fails with the message above

### How to Reproduce?

Download the below file, and run `mvn test`

[demo5.zip](https://github.com/quarkusio/quarkus/files/8668633/demo5.zip)

### Outpu

[2022-05-11 09:49] geoand commented on #25495
This is almost certainly a ByteBuddy issue.

When I run the tests with Java 17,  everything works.
When I run with Java 11, it breaks with the following:

[code]

It looks vaguely similar to https://github.com/raphw/byte-buddy/issues/983

[2022-05-11 09:49] #25495 closed

[2022-05-11 09:52] flygarej opened #25496 "When using reactive restclient in 2.8.2.Final with Response, getEntity() returns null even if there is a body in Response"
### Describe the bug

In 2.7.2 using the old restclient and a call with signature

[code]
so I could do some work with headers before touching the entity data.
Old code then would ask for an InputStream using response.getEntity() which worked fine.

Reactive restclient will return null in the same situation. I can get the body by doing String data=response.readEntity(String.class) however so there

[2022-05-11 10:20] cdmikechen commented on #23804
@gsmet
Hi~ I've checked and tested 2.9.0.Final and found that it also failed by `Caused by: io.vertx.core.impl.NoStackTraceThrowable: Timeout` just now.
Should we confirm which commit or PR has solved this problem?

[2022-05-11 10:30] RuggeroDAlo commented on #23804
I also tested with 999-SNAPSHOT and I also don't think this is fixed. There was a similar issue with graphql that was fixed https://github.com/quarkusio/quarkus/issues/21111, but panache still seems broken.

[2022-05-11 10:55] geoand commented on #25413
@ejba perhaps you would like to add a version of your PR straight into Quarkus so we don't have to wait for an XStream release?

[2022-05-11 11:39] weltonrodrigo opened #25499 "Dockerfile.jvm build fails with kaniko: user: unknown user 1001"
### Describe the bug

This is a known bug in kaniko https://github.com/GoogleContainerTools/kaniko/issues/1456, where commands like

[code]

fail with:
[code]

It would be nice, as the kaniko bug is >1 year old, that quarkus could provided a (probably harmless) workaround on it's Dockerfiles:

[code]

This bug makes quarkus impossible to build on gitlab CICD, as a kaniko build is the recommended w

[2022-05-11 11:42] famod commented on #19405
FTR: In quarkus 2.9, Scala was updated to 2.13.8 via #25106

[2022-05-11 12:06] #23291 closed

[2022-05-11 12:11] mkouba commented on #25422
Hm, I don't think it's a question of the Quarkus integration. I mean it seems that Stork is using the `ServiceLoader` mechanism to load all ``LoadBalancerLoader``s and ``ServiceDiscoveryLoader``s which are then used to build a map of type -> `LoadBalancerLoader` and type -> `ServiceDiscoveryLoader` respectively.

So even if you provide a custom impl of `ServiceDiscovery` you'll need to implement a

[2022-05-11 12:42] geoand commented on #25445
https://github.com/quarkusio/quarkus/pull/25500 should take care of it

[2022-05-11 13:16] #25481 closed

[2022-05-11 13:38] mihaipoenaru commented on #9386
@gsmet I've already forked the project, I'll probably have it done by the end of the day, hopefully. But if you want to do it, that's fine as well.

[2022-05-11 13:49] loicmathieu opened #25501 "Ecosystem CI for Google Cloud Services fails with Quarkus main"
### Describe the bug

The Quarkiverse extension Google Cloud Services fails to runs the ecosystem CI due to an issue to build a native image with the current Quarkus main.

See the failing build: https://github.com/quarkiverse/quarkus-google-cloud-services/actions/runs/2304956797

### Expected behavior

Eciosystem CI build is OK

### Actual behavior

It fails with

[code]

### How to Reproduce?

T

[2022-05-11 14:08] jkbbwr opened #25502 "No vertx context in smallrye messaging when using coroutines."
### Describe the bug

When using coroutines for `Incoming` in smallrye messaging an exception is thrown.

### Expected behavior

The numbers are printed with a timestamp every second.

### Actual behavior

[code]

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

Linux devbox 5.16.16-arch1-1 #1 SMP PREEMPT Mon, 21 Mar 2022 22:59:40 +0000 x86_64 GNU/Linux

### Output of `java -versi

[2022-05-11 14:36] ejba commented on #25413
@geoand  do you mean clone a version of PR straight into Quarkus and use it as an unmanaged dependency?
sorry for the silly question.

[2022-05-11 14:39] gsmet commented on #9386
@mihaipoenaru sorry, it wasn't clear you wanted to work on this :). Anyway, I think I'm done. Now I need to have a look at testing it :).

[2022-05-11 14:47] missourian55 opened #25503 "@Form replacement in Reactive RestClient"
### Describe the bug

Trying to adopt `Reactive RestClient`. However couldn't able to locate the replacement for `@Form`

[code]

[code]

### Expected behavior

Reactive Rest Client offers an replacement for @form

### Actual behavior

Compile time error

### How to Reproduce?

Try to compile the above classes with only reactive client as dependency, the compilation will fail

### Output of `uname

[2022-05-11 14:51] #7665 closed

[2022-05-11 14:53] #6150 closed

[2022-05-11 15:10] wiradikusuma commented on #9386
While we're on this topic, slightly OOT, is there a way to customize (adding and removing) the JSON fields? Currently I use Vector (https://vector.dev/) to do that, but if it can be done "from the source" I don't need to transform it before sending it to Grafana.

[2022-05-11 15:11] mihaipoenaru commented on #9386
@gsmet

No, sorry, I deleted my reply as soon as I posted it. I was watching multiple issues and I thought this was a different thing. Please, you take care of it, I have no idea how 😆

[2022-05-11 15:17] gsmet commented on #9386
@wiradikusuma for more advanced use cases, you have https://github.com/quarkiverse/quarkus-logging-json/ which allows customization (and you can contribute there if you want more).

As soon as the file handling is in core, I suspect @SlyngDK will use it in the Quarkiverse extension too.

[2022-05-11 15:23] gsmet commented on #9386
PR is here: https://github.com/quarkusio/quarkus/pull/25505 .

[2022-05-11 16:21] rmpestano commented on #25431
Really great that it worked! (and that you're going to update the example 😊 )

Cheers!

[2022-05-11 16:39] #25431 closed

[2022-05-11 16:40] radcortez commented on #23573
Let me have a look.

[2022-05-11 17:00] krishna-kunderu commented on #20452
Any fix available on this. I still see quarkusBuild error as in this ticket if use Java toolchain to use Java17

[2022-05-11 17:37] gsmet commented on #19359
@ebullient @maxandersen  I think we need to do something about this.

Executive summary: on AWS, in native, some metrics that were not enabled previously (because of missing native config) are now enabled and they are causing CPU spikes.

[2022-05-11 17:48] mschorsch commented on #25502
Could be a regression in Quarkus 2.9.0. Quarkus 2.8.3 works fine with Apache Artemis (AMQP, without the Vert.x dependency).

[2022-05-11 18:32] mbchangellc opened #25515 "Prefixing archive name breaks live reloading"
### Describe the bug

If the archive name is prefixed in a Gradle build, as shown below, live reloading no longer works.  Quarkus detects a class has changed and appears to reload based on logging output but the code change isn't applied.  The attached project illustrates this behavior.  Run the project, modify code in Service.execute() and it won't be reflected after live reload occurs.  Comment

[2022-05-11 18:54] pjgg opened #25516 "JDK17 + `org.bouncycastle:bctls-fips` throw a security unamed module exception"
### Describe the bug

Quarkus 2.7.5.Final

When I make a rest query with VertxClient using [BouncyCastleJsseFips](https://quarkus.io/guides/security-customization#bouncy-castle-jsse-fips) certificates, I am getting the following error:

[code]

Works as expected with Open JDK11:
[code]

Reproducer: https://github.com/quarkus-qe/quarkus-test-suite/pull/638/files#diff-bd95ff6a40ed24d38581c32ca8cb864

[2022-05-11 19:33] softmetz opened #25517 "Calling `.stream()` on List returned from REST client (Classic) throws java.lang.RuntimeException: RESTEASY004530: Could not find a method for: public default java.util.stream.Stream java.util.Collection.stream()"
### Describe the bug

I use the classic REST client to retrieve a collection (e.g. `[]`). The signature of the method in the REST client
 is `List<SomeDTO> getSomeDTOs()`.

When on the result the method `.stream()` gets called, I get a runtime exception `java.lang.RuntimeException: RESTEASY004530: Could not find a method for: public default java.util.stream.Stream java.util.Collection.stream()` at

[2022-05-11 21:16] Karm opened #25519 "@QuarkusIntegrationTest starts native executable in prod profile instead of test profile"
### Describe the bug

I was struggling with database test data population during native-image test in a project and it boiled down to the simple fact that the native-executable is started in *prod* profile (hence expecting `%prod` values) instead of the *test* profile the JVM test correctly uses.

### Expected behavior

native-image executable is started in *test* profile during test execution.

#

[2022-05-11 21:18] ozangunalp commented on #25502
@jkbbwr sorry for the confusion. It wasn't what I thought at first.
Actually, this happens because you are using the same name for both incoming and outgoing channels.

At app startup, reactive messaging resolves channels and constructs a graph.
For channels that are not configured with a connector, pair of in-out channels with matching names get connected in the graph. (When a channel is not reso

[2022-05-11 21:20] Karm commented on #25519
I'll try to make the test framework to append `-Dquarkus-profile=test` and see.     Unless this behavior is intentional for some reason...

[2022-05-11 22:09] Karm commented on #25519
Appending it explicitly to the maven command makes it work:
[code]
Adds the profile here [DefaultNativeImageLauncher.java](https://github.com/quarkusio/quarkus/blob/main/test-framework/common/src/main/java/io/quarkus/test/common/DefaultNativeImageLauncher.java#L134)

So...I don't know. Close this "issue"? It's somewhat annoying that the Jar Launcher doesn't need it set explicitly then.

[2022-05-11 22:22] sberyozkin commented on #25516
Also CC @zakkak

[2022-05-11 22:23] sberyozkin commented on #25516
@pjgg Hi, but `integration-tests/bouncycastle-tls-fips` is passing on JDK 17 ? (in JVM mode)

[2022-05-11 23:48] cdmikechen commented on #23804
@RuggeroDAlo
I also follow this and other related issues. If there is any new situation, please mention it to me if it is convenient for you.
By the way, should the issue be restarted if it is not resolved?

[2022-05-12 00:28] ebullient commented on #19359
@jonatan-ivanov and @shakuzen ... here.

I've opened the above issue to reference this one.

[2022-05-12 02:54] #24504 closed

[2022-05-12 03:22] grossws commented on #19405
And it was sudden breaking change for those who had dependency on scala 2.12. Had to forcefully downgrade it to 2.12.x

[2022-05-12 03:45] shakuzen commented on #19359
Hello all, I'm one of the Micrometer maintainers. Thank you for all the great investigation into this. For file descriptor metrics, we're using the JMX `OperatingSystemMXBean`, which in native images up to GraalVM 22.1 results in `PosixSubstrateOperatingSystemMXBean` being used at runtime:
https://github.com/oracle/graal/blob/da6a62d607552fc958ccb63f4ca1d81e1817cadc/substratevm/src/com.oracle.svm.

[2022-05-12 05:10] geoand commented on #25519
This is the intended behavior

[2022-05-12 05:10] #25519 closed

[2022-05-12 05:14] geoand commented on #25502
What would the implications be from the RM side of things?

[2022-05-12 05:17] geoand commented on #6588
@sberyozkin the `security-openid-connect-client-quickstart` is failing. Can you take a look please?

Thanks

[2022-05-12 05:56] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/2311307597

[2022-05-12 06:00] cescoffier commented on #25110
The camel connector does not create duplicated contexts yet, so it cannot use hibernate reactive safely.

[2022-05-12 06:12] Karm commented on #25519
@geoand Ack.

I'll open a doc PR though.

[2022-05-12 06:17] geoand commented on #25519
Great, thanks!

[2022-05-12 06:21] geoand commented on #12111
@Sgitario it seems like your latest resteasy-reactive-links changes are breaking the build see ^

[2022-05-12 06:24] #9386 closed

[2022-05-12 06:24] #25413 closed

[2022-05-12 06:33] geoand commented on #25517
This works properly with the Reactive REST Client which is where our focus is on going forward, so I'll close this.

[2022-05-12 06:33] #25517 closed

[2022-05-12 06:36] Sgitario commented on #12111
It should be fixed by https://github.com/quarkusio/quarkus/pull/25521

[2022-05-12 06:37] knutwannheden opened #25522 "Support for Micrometer `OtlpMeterRegistry`"
### Description

As of Micrometer 1.9.0 (just released today) there is a new `OtlpMeterRegistry` implementation (see https://github.com/micrometer-metrics/micrometer/tree/main/implementations/micrometer-registry-otlp) to send metrics in OTLP (over HTTP and not gRPC, AFAICT). I think it would make sense if Quarkus core had support for this.

### Implementation ideas

_No response_

[2022-05-12 06:37] knutwannheden commented on #25522
/cc @radcortez

[2022-05-12 06:46] geoand commented on #25503
Thanks for reporting!

I opened https://github.com/quarkusio/quarkus/pull/25523 to add a note that users should use the standard `@BeanParam` annotation (which also happens to be more powerful)

[2022-05-12 06:49] RuggeroDAlo commented on #23804
@cdmikechen Yes I think this should still be open, but I can't reopen it, @cescoffier should I open another issue?

[2022-05-12 06:52] cescoffier commented on #23804
Yes please, with a reproducer as this one works for me.

[2022-05-12 07:10] RuggeroDAlo commented on #23804
Strange @cescoffier , I just reproduced with the repo linked in the issue
[code]

Maybe you sent messages to the hibernate reactive queue (wordsin-hibernate) and not the panache queue (wordsin-panache)?

[2022-05-12 07:13] cescoffier commented on #23804
hum, weird, I will have another look.
It seems to be a connection shortage issue (connection not released). But, I tried with 50 messages, without issues.
Let me re-open and recheck.

[2022-05-12 07:29] pjgg commented on #25516
The coverage that we did is strongly inspired by Quarkus IT, but we have added the following line to our test:
`Security.insertProviderAt(new BouncyCastleFipsProvider(), 1);`

PR_Ref:
https://github.com/quarkus-qe/quarkus-test-suite/pull/638/files#diff-bd95ff6a40ed24d38581c32ca8cb864a206ac0c255386e4a289f499a2c642c2fR49

With this line, we force BouncyCastle as a security provider. In our scenario,

[2022-05-12 07:29] dgian commented on #25110
Thank you @cescoffier !
Should this be expected in the next few releases? Or is it low priority?

[2022-05-12 07:31] calohmn opened #25525 "OpenTelemetry: Support exclusion of non-application URIs if custom Sampler is used"
### Description

This refers to the `quarkus-opentelemetry` extension.

We have opted for using a custom `io.opentelemetry.sdk.trace.samplers.Sampler` CDI Bean in order to extend the existing sampling logic.
As stated in the documentation, this means that the `quarkus.opentelemetry.tracer.suppress-non-application-uris` option has no effect, so that the logic for suppressing non-application uris ha