[2021-05-21 04:20] #17391 closed

[2021-05-21 05:23] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/862749434

[2021-05-21 05:30] geoand commented on #17397
I'll have a look

[2021-05-21 06:38] calohmn opened #17400 "quarkus-jaeger: JAEGER_SERVICE_NAME env variable can't be used anymore"
## Describe the bug

When using Jaeger tracing with the `io.quarkus:quarkus-jaeger` dependency, a documented way of setting the jaeger service name is using the `JAEGER_SERVICE_NAME`  env var.

This is for example described here:
https://quarkus.io/guides/opentracing#run-the-application
[code]

But, this doesn't work anymore (it seems since https://github.com/quarkusio/quarkus/commit/434f195df32f2

[2021-05-21 06:50] symphony-youri commented on #17367
Thanks for the fix!

[2021-05-21 07:04] essobedo commented on #9300
This problem is actually due to the fact that `javax.xml.namespace.QName` is loaded from the `QuarkusClassLoader`/`RunnerClassLoader` (because Quarkus by default will try to load the classes from the `QuarkusClassLoader`/`RunnerClassLoader` first) while it should rather be loaded from the System `ClassLoader` in that particular case.

To workaround this problem you can indeed exclude the dependenc

[2021-05-21 07:12] calohmn commented on #10402
This seems caused by the reflection used in conjunction with the `io.jaegertracing.internal.samplers.HttpSamplingManager` class.
There, a `SamplingStrategyResponse` object is deserialized from the JSON response using gson, which makes use of reflection to do so. That means a reflection config has to be defined here.

I've gotten it to work with the following config:
[code]
The `allowWrite` configu

[2021-05-21 07:18] geoand commented on #17397
First of all I opened https://github.com/quarkusio/quarkus/pull/17402 to make the exception more usable.

However, since the exception handling behavior of the client has changed significantly in `2.x` (to be better aligned with the MicroProfile REST Client spec), you will basically need to throw this exception (or any custom exception you like) in an `org.eclipse.microprofile.rest.client.ext.Resp

[2021-05-21 07:44] Paul6552 commented on #17311
If the information is not sufficient, then simply close the ticket. Unfortunately I cannot build a reproducer.

[2021-05-21 07:57] andreas-eberle commented on #17397
Thanks @geoand for the super fast response and PR!

Do I understand you correctly that in Quarkus 2.0, we will always have to implement our own `ResponseExceptionMapper`? Won't there be a default implementation?

Regarding the `ProcessingException` wrapping everything: Woudln't this cause problems with fault tolerance? E.g. with the `@Retry`, we can specify exceptions that trigger the retry. Howev

[2021-05-21 08:00] geoand commented on #17397
You don't to implement it. You only implement it if you want to convert a response code received from the client to a specific exception.

I can't comment on this as I don't know why `ProcessingException` is being used. That's for @michalszynkiewicz to clarify

[2021-05-21 09:02] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/862757925

[2021-05-21 10:20] aloubyansky commented on #8593
@adutra will the Cassandra team have time to look into this issue in the coming weeks? The current plan is to release the platform on the 9th of June.

[2021-05-21 10:30] aaronwalker commented on #16928
@patriot1burke from what I can see ifsthat we could replace the generate scripts in https://github.com/quarkusio/quarkus/blob/main/extensions/amazon-lambda-http/deployment/src/main/java/io/quarkus/amazon/lambda/http/deployment/AmazonLambdaHttpProcessor.java#L60 with a build step CDK app stack. I think it would also be possible to scan for annotations in the rest extension to build out the API gate

[2021-05-21 10:58] aloubyansky commented on #8593
Another one is MP upgrade related
[code]

[2021-05-21 11:30] mkouba opened #17408 "gRPC - expose AbstractStub.withDeadlineAfter() via GrpcClientConfiguration"
To make it possible to set the default deadline for an injected client.

https://grpc.io/blog/deadlines/

[2021-05-21 12:12] #17278 closed

[2021-05-21 13:32] symphony-youri opened #17412 "Cannot inject io.vertx.mutiny.ext.web.RoutingContext in @Route annotated method"
## Describe the bug
In the documentation (https://quarkus.io/guides/reactive-routes#reactive-route-methods), it is written that a `RoutingContext` (Mutiny Smallrye one) can be injected in a @Route annotated method. However trying to do that raises an exception.

### Expected behavior

`io.vertx.mutiny.ext.web.RoutingContext` can be injected in a @Route method.

### Actual behavior

Exception is ra

[2021-05-21 13:33] cescoffier commented on #17412
//CC @mkouba

[2021-05-21 13:34] cescoffier commented on #17412
The problem seems to be the injection of the routing context, while you are returning a `Uni`. Do you need the full routing context? Did you try with just the HTTP request?

[2021-05-21 13:34] mikoma opened #17413 "Built-in NotFoundException triggered before Request-Filter"
## Describe the bug
I want to use a  "Request-ID" for logging and as a custom HTTP-header to trace requests through our microservice network. The idea is to use a `ContainerRequestFilter` to read the request-id from an incoming request or create a new id, if it's not available, then use a `ContainerResponseFilter` to add the request-id to the response-header. The design also includes a custom `Exc

[2021-05-21 13:41] mkouba commented on #17412
@symphony-youri Hm, the docs is wrong we don't support the `io.vertx.mutiny.ext.web.RoutingContext`. However, you can use `io.vertx.ext.web.RoutingContext` or the mutiny versions of the request/response, i.e. `io.vertx.mutiny.core.http.HttpServerRequest` and `io.vertx.mutiny.core.http.HttpServerResponse`.

[2021-05-21 13:43] adutra commented on #8593
@geoand and @aloubyansky we will look into this next week. I cannot promise though that we will have a compatible version before June 9th.

[2021-05-21 13:46] mkouba commented on #17412
@cescoffier I think that we should just remove the mutiny version of RC from the docs. WDYT?

[2021-05-21 13:48] aloubyansky commented on #8593
Thanks, that's ok.

[2021-05-21 13:55] symphony-youri commented on #17412
(waouh super fast feedback)

Indeed it was working with the Http Request (mutiny or vertx ones) and with the vertx RoutingContext too.
Right now I'm working around that with:
`io.vertx.mutiny.ext.web.RoutingContext context = new io.vertx.mutiny.ext.web.RoutingContext(rc);`

Maybe the documentation should be updated then to avoid the confusion?
I opened https://github.com/quarkusio/quarkus/pull/174

[2021-05-21 14:49] codependent opened #17416 "Quarkus Keycloak is not considering the http method when evaluating the matching Authorization Services resource"
## Describe the bug
Suppose you have two Keycloak resources

One for GET /messages

<img width="836" alt="image" src="https://user-images.githubusercontent.com/6399869/119155746-c7149980-ba53-11eb-80fe-20e9efc73100.png">

And another one for POST /messages

<img width="854" alt="image" src="https://user-images.githubusercontent.com/6399869/119155702-bd8b3180-ba53-11eb-9b56-0f73b06ff9ef.png">

I as

[2021-05-21 15:06] sberyozkin commented on #17416
@pedroigor Hi Pedro, can you comment ?

[2021-05-21 17:11] codependent commented on #17416
Here's a more detailed explanation of this issue:

Resource configuration:

<img width="989" alt="image" src="https://user-images.githubusercontent.com/6399869/119173171-2fb94180-ba67-11eb-9b12-4f02fe49f8b3.png">
<img width="986" alt="image" src="https://user-images.githubusercontent.com/6399869/119173196-3b0c6d00-ba67-11eb-839d-8a63a8a31215.png">

Policies:

<img width="1487" alt="image" src="htt

[2021-05-21 18:22] codependent commented on #17416
More info:

In `PolicyEnforcer` there's a resource search by targetUrI: `List<ResourceRepresentation> matchingResources = authzClient.protection().resource().findByMatchingUri(targetUri);`

Since ProtectedResource supports searching also by scope...

<img width="1270" alt="image" src="https://user-images.githubusercontent.com/6399869/119181661-339e9100-ba72-11eb-86a2-416ee66d2fe5.png">

I guess th

[2021-05-22 09:47] ScientistPun opened #17421 "Hibernate reactive with panache project throws ClassCastException in dev mode"
## Describe the bug
I use hibernate reactive with panache to do my database work. When use two seccessive invocation of project on the same projection class in dev mode, it throws ClassCastException.

### Expected behavior
Don't throw

### Actual behavior
It throws ClassCastException

## To Reproduce

Steps to reproduce the behavior:
1. Write an Entity (e.g. E)
2. Write a projection class (e.g. P)

[2021-05-22 10:16] DavideD commented on #16677
This issue has been solved in Hibernate Reactive 1.0.0.CR4: https://github.com/hibernate/hibernate-reactive/issues/726

[2021-05-22 11:58] patriot1burke commented on #16928
@aaronwalker Sounds good to scan the annotations, but does it really matter?  What benefit are we getting from filling out hardcoded paths in sam.yaml?

Extensions to the smallrye-openapi are more interesting IMO.

[2021-05-22 12:25] mpkorstanje commented on #11045
It is probably important to understand that Junit 5 isn't a monolith. Rather:

[code]

Cucumber currently supports JUnit 5 with the [cucumber-junit-platform-engine](https://github.com/cucumber/cucumber-jvm/tree/main/junit-platform-engine). Quarkus also supports JUnit 5 but as a JUnit Jupiter extension. While both JUnit 5, these are different things. JUnit Jupiter is an engine that executes class b

[2021-05-22 14:27] albertocavalcante commented on #4804
@kenfinnigan @idrissneumann @geoand Is OpenFeign available to use with Quarkus? Thanks

[2021-05-22 14:31] geoand commented on #4804
It is not.

I would like however to know which features of it you would like to see in our REST Client.

[2021-05-22 18:54] ethan-gallant opened #17422 "SmallRye GraphQL Subscription Concurrent Connections"
## Describe the bug
Concurrent connections in the Quarkus-Smallrye-GraphQL library do not work. Once a single client is connected and subscribed, no other clients are able to receive data from the socket. The socket allows the connection but no data is sent. Also, should one client send a malformed payload that causes an exception, all clients fail and disconnect.

### Expected behavior
Multiple c

[2021-05-23 05:11] ethan-gallant commented on #17422
I believe I have pinned down the problem with the subscription handler. I have a working solution in the MR although I am unsure if this is the correct way to do it.

The main problem I found was in the SmallRyeGraphQLSubscriptionHandler there was an AtomicReference<Subscription> which would be updated as soon as new subscriptions came in. The problem I found was that there is only one instance of

[2021-05-23 11:03] sberyozkin opened #17424 "Add option to support selection of SSL key in JKS keystore using an alias property"
## Description

Please see https://github.com/eclipse-vertx/vert.x/issues/3926 which has been fixed so a new Quarkus Vert.x HTTP option can be added after an update to the next Vert.x 4.x

[2021-05-23 14:44] Sanne commented on #14608
we recently upgraded to Vertx 4.1, could someone check if this issue can be closed please?

[2021-05-23 14:45] Sanne commented on #9269
@FroMage should we assign this to you?

[2021-05-23 17:13] cescoffier commented on #9269
I believe it has been done. At least, the mutiny part is done.

[2021-05-23 17:17] Sanne commented on #9269
right, Mutiny is very efficient in this regard now. But @FroMage had some further ideas for Smallrye CP... maybe he prefers tracking that in a new issue.

Overall cost for CP is still very dominant when profiling, so I suppose we could keep going with this one - but have no preference myself.

[2021-05-23 18:12] rohit-gandhe commented on #12168
@Max161  Did you move just the @DynamoDBBean classes to another module or DAO classes as well?

[2021-05-24 05:26] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/870241801

[2021-05-24 05:35] michalszynkiewicz commented on #17397
If the interface method is declared to throw some exception, an exception mapper can return such an exception and it shouldn't be wrapped in anything IIRC.

[2021-05-24 05:39] #17397 closed

[2021-05-24 05:45] michalszynkiewicz commented on #16991
Standard JVM settings should be picked up (if you run Quarkus on JVM). There are also SSL settings as described in https://download.eclipse.org/microprofile/microprofile-rest-client-2.0/microprofile-rest-client-spec-2.0.html#ssl

[2021-05-24 05:54] michalszynkiewicz commented on #16991
@artkonr do you use `quarkus-rest-client` or `quarkus-rest-client-reactive`?

[2021-05-24 06:01] michalszynkiewicz commented on #16059
Adding info to the docs? 👍🏻

[2021-05-24 06:22] geoand commented on #16059
@andreas-eberle would you like to contribute that?

[2021-05-24 06:34] #17412 closed

[2021-05-24 07:18] #17360 closed

[2021-05-24 07:20] mkouba commented on #17064
The initial support was added in https://github.com/quarkusio/quarkus/pull/17381.

[2021-05-24 07:59] michalszynkiewicz opened #17428 "gRPC dev mode: close streams on reload for non-mutiny services"
Currently, only mutiny based services have streams closed on dev mode reload.
It would be great to have streams from services extending grpc-java directly also closed in this case.

[2021-05-24 08:02] cescoffier commented on #16433
Closing as it's fixed in #16430. Please re-open if it still happening.

[2021-05-24 08:02] #16433 closed

[2021-05-24 08:10] artkonr commented on #16991
@michalszynkiewicz I'm using non-reactive at the moment and I did not really plan to switch for now. Do I benefit somehow from using the reactive client?

[2021-05-24 08:34] mkouba commented on #17183
It seems that there are client and server interceptors that accept an instance of `MeterRegistry`. So in theory, all we need to do is to instantiate the interceptors with the correct `MeterRegistry` and register them for each client/service. I can take a look later this week.

[2021-05-24 08:53] geoand commented on #17421
What version of Quarkus are you seeing this issue in?

Can you attach a sample project that demonstrates this error please?

[2021-05-24 09:08] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/870249819

[2021-05-24 09:17] #15414 closed

[2021-05-24 09:18] selvarajchennappan opened #17430 "RESTEasy Reactive: read ContainerRequestContext getEntityStream in filter resource method payload becomes null"
## Describe the bug
Resource method payload becomes null if we do
ContainerRequestContext#getEntityStream in ContainerRequestFilter

Payload : pojo [FileUpload ]

### Expected behavior
(Describe the expected behavior clearly and concisely.)
payload shoudn't be null
### Actual behavior
(Describe the actual behavior clearly and concisely.)
payload is null

if we remove filter then it works as expect

[2021-05-24 10:27] #17080 closed

[2021-05-24 10:35] cescoffier commented on #17183
Sync with @ebullient. The interceptor may need to be added to the micrometer extension (maybe, maybe not, only Erin knows :-))

[2021-05-24 10:40] JiriOndrusek opened #17432 "MongoDB Client Extension - NullPointerException in native mode with `ChangeStreamDocumentCodec`"
## Describe the bug

MongoDb client does not contain registration for reflection of `ChangeStreamDocument`. Therefore it causes NPE in https://github.com/mongodb/mongo-java-driver/blob/master/driver-core/src/main/com/mongodb/client/model/changestream/ChangeStreamDocumentCodec.java#L44

## To Reproduce

You can use camel-quarkus and its test. Following change has to be present - https://github.com/

[2021-05-24 11:26] pjgg commented on #16444
This issue is fixed and could be closed!.
Thank you!.

[2021-05-24 11:27] #16444 closed

[2021-05-24 11:32] pjgg commented on #14608
This issue is fixed in Quarkus Upstream that brings Vertx 4.1 and can be closed!.

[2021-05-24 12:19] ebullient commented on #17183
I am not the only one, and I am happy for the help.

A few extensions use the core MetricsFactory build item to detect metrics (and micrometer) support: Mongo and Jaeger are probably better examples, Hibernate and agroal do something a little different. The kicker is to avoid anything that references (or imports) the micrometer api unless the extension is present (to ensure it remains an optional

[2021-05-24 13:39] Sanne commented on #14608
Awesome, many thanks @pjgg .

#Fixedby 17257

[2021-05-24 13:39] #14608 closed

[2021-05-24 13:43] Sanne commented on #14608
@gsmet I suppose we can't retroactively tag #14608 as having fixed this issue? Could you please check if the milestones/flags need adjustments?

[2021-05-24 14:33] phillip-kruger commented on #17422
Hi @ethan-gallant - I can confirm that this is a bug. You can try with Alpha2, as this worked initially (see https://user-images.githubusercontent.com/6836179/118034779-aa4cd780-b36a-11eb-8469-ee3be51852f0.gif) I'll looked into the diffs to see where I broke this.

[2021-05-24 14:42] gsmet commented on #17422
@phillip-kruger have you seen https://github.com/quarkusio/quarkus/pull/17423 ?

[2021-05-24 14:44] phillip-kruger commented on #17422
@gsmet - No I have not :) Thanks. Looking now.

[2021-05-24 14:56] sirAlexander commented on #7160
@bjornhilstad could you point me to a quarkus project wired up to use Sybase, as I'm trying to achieve what you infer you already have above, but having no luck

[2021-05-24 15:03] radcortez commented on #17069
I see. I was now able to reproduce the issue with a regular test case.

The generate config class is not reloaded, but a reinit method called again on dev mode. In this particular case, we don't have the proper values to generate the reinit properly, because we only have them on a dev mode reload. @stuartwdouglas, can you help us understand this here, please? :)

[2021-05-24 15:15] #16124 closed

[2021-05-24 16:33] cristian-com commented on #12936
@ia3andy please have a look at the pr. I will add tests later.

About dependency management.

1 - Do we want to fail if there is a different platform version in the parent project?
2 - I'm guessing the same properties and in both parent and child shouldn't be an issue since the child will override the parent. Is that correct?

We can probably check the dependency management and properties sections

[2021-05-24 16:38] #17432 closed

[2021-05-24 18:15] adutra commented on #8593
FYI I opened https://github.com/datastax/cassandra-quarkus/issues/172 on our side to track required work. As I expected, this is turning out to be a huge can of worms, and will require a new driver release as well.

[2021-05-24 19:04] Max161 commented on #12168
I tried out different solutions. In the beginning, I moved the whole domain model (POJOs) to the jar including the dynamoDB beans with the annotations too (persistence module). But I didn't like it. The whole domain and persistence modules were so tightly coupled that it became a nightmare.
The dynamo enhanced library is using `Class.forName` at some point... The frameworks like Quarkus and play f

[2021-05-24 19:50] #9464 closed

[2021-05-24 19:50] #16677 closed

[2021-05-24 19:50] #17291 closed

[2021-05-24 21:18] #17422 closed

[2021-05-24 21:28] aloubyansky commented on #8593
Thanks @adutra

[2021-05-25 01:12] selvarajchennappan commented on #17430
could you please update on this issue . it is blocker now

[2021-05-25 03:33] qiuhw commented on #17421
Hi, the bug reporter is my workmate.

We use 1.13.4.Final the latest stable version.

The sample project is attached

[bug-demo.gz](https://github.com/quarkusio/quarkus/files/6536267/bug-demo.gz)

[2021-05-25 05:31] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/873676544

[2021-05-25 05:39] bogedal opened #17441 "Quarkus/Gradle/Application class CDI issue - Injected variable is null during test step"
## Describe the bug
During the test step of gradle the test fails with a nullpointer exception on the injected variable in the Application class.

## To Reproduce
[reproducer.zip](https://github.com/quarkusio/quarkus/files/6536746/reproducer.zip)

Steps to reproduce the behavior:
1. execute gradle build

## Environment (please complete the following information):

### Output of `java -version`
Jav

[2021-05-25 06:01] geoand commented on #17430
You essentially need to do what is described in https://github.com/quarkusio/quarkus/issues/17280

[2021-05-25 06:10] alesj opened #17444 "Random not allowed in Kafka SASL"
https://gist.github.com/alesj/65fb0483632e5e247e3c4fb1e8ee086a

[code]

https://github.com/oracle/graal/commit/11b9817fb341f9447c300304fe461933bf79c2aa#diff-8ea159555f76609d835155ca3b7f534b8a5adbb932fa6366c4db09a5b2ec2275

[2021-05-25 06:33] geoand commented on #17441
This is a limitation of JAX-RS, you can't inject stuff via CDI into a JAX-RS Application class

[2021-05-25 06:34] selvarajchennappan commented on #17430
thanks
I hope you had seen the attached code .
changed from implements ContainerRequestFilter to 	@ServerRequestFilter(priority = 0)

**However it is not working .**
@Blocking is also there
@ApplicationPath("/")
@Blocking
public class RestBlockingApplication extends Application {
}
Could you please check .

[2021-05-25 06:43] geoand commented on #17430
Please provide a complete working example and steps on how to reproduce the problem

[2021-05-25 06:45] #17408 closed

[2021-05-25 07:00] geoand commented on #17441
Sure, I'm not saying it can't be done technically.

What I am saying is that because reads this class at build time, injection does not work

[2021-05-25 07:03] selvarajchennappan commented on #17430
It is not working when content type "multipart/form-data" fileUpload becomes null
we have to  log every request inpustream to kafka.

[quarkus-fileupload-log-issue.zip](https://github.com/quarkusio/quarkus/files/6537159/quarkus-fileupload-log-issue.zip)

Reproduce:-
upload file with name ["fileUpload"]from postman or any http client .
 logs getting printed in filter but resource class its empty
ap

[2021-05-25 07:05] bogedal commented on #17441
@geoand Do you mean that Quarkus reads this class at build time?

[2021-05-25 07:05] geoand commented on #17441
Yes

[2021-05-25 07:09] bogedal commented on #17441
Ok - Thanks a lot for the very quick responses :)

[2021-05-25 07:10] geoand commented on #17441
I have a opened a PR to make this a build time error in RESTEasy Reactive.

[2021-05-25 07:10] #17441 closed

[2021-05-25 07:12] geoand commented on #17413
Have you tried this with RESTEasy Reactive to see what the behavior is?

[2021-05-25 07:14] gsmet commented on #17444
Can you make sure you are using 2.0.0.Alpha3 of the `quarkus-kafka-client` extension too?

Because this should have been fixed for a while: https://github.com/quarkusio/quarkus/commit/5cb8c3c35407c82b14895b486ec1fba33f2c785c#diff-b2a1070ffbd0dee93197f4ae77ed98dab5e006359468ce012f8c85f005e9510d .

[2021-05-25 07:44] alesj commented on #17444
This is the only place where I set the version ...
* https://github.com/alesj/quarkus-kafka-exporter/blob/main/pom.xml#L27

And switching from 2.0.0.Alpha2 to 2.0.0.Alpha3 results in that error ...

[2021-05-25 07:56] alesj commented on #17444
OK, missing dependency on the extension ...

[2021-05-25 07:56] #17444 closed

[2021-05-25 09:04] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/873685579

[2021-05-25 09:24] #17231 closed

[2021-05-25 10:41] mkouba opened #17448 "Metrics - unify the naming of the config properties and the default behavior"
It seems that most extensions expose a boolean config property with the `metrics.enabled` suffix which is false by default. However,
there are few exceptions. We should probably unify the naming of the properties and the default behavior.

| Extension | Property | Default behavior |
| --- | --- | --- |
| Agroal - Database connection pool | `quarkus.datasource.jdbc.enable-metrics` | If unspecified,

[2021-05-25 12:16] #16453 closed

[2021-05-25 13:08] ebullient commented on #17448
Some of the micrometer meter binders (e.g. kafka) should be included in this list
I think vertx/http being on by default is semi-expected .. but if we're going to look at the whole list.. we should add a few rows

[2021-05-25 13:33] xtaixe opened #17452 "Injected Bean Validator has different behavior than the static default Hibernate one"
## Describe the bug
The specific difference in behavior I found is around validating containers (list, maps, optionals...) without adding `@Valid` to them. See the reproducer or the code below.

### Expected behavior
The injected bean validator has the same behavior and supports the same features as the Hibernate default one, in this case, elements in containers are validated without having to exp

[2021-05-25 14:24] gaetancollaud commented on #17307
My findings:
* 1.12.2 => no bug
* 1.13.x => bug
* 2.0.0.Alpha2 => no bug

So either roll back to 1.12.2 or use the alpha version.

[2021-05-25 14:24] mkouba commented on #17353
So another advantage of the `@Named` approach, i.e. `{inject:request.foo}`, is that you can pass the current request as a param of a virtual method, e.g. `{service.doSomethingWithRequest(inject:request)}`. This would not be possible with the `request:` namespace. Also the impl would be much less complicated. I think that we can start with the `@Named` approach and add the specialized namespace if

[2021-05-25 14:25] #17183 closed

[2021-05-25 14:43] mkouba opened #17453 "gRPC Dev UI - service status is always UNKNOWN after hotdeploy"
I.e. the status is UNKNOWN for all registered services.

[2021-05-25 14:47] gsmet commented on #17452
Good catch. https://github.com/quarkusio/quarkus/pull/17454 should fix it. I'll backport it to 1.13.5.Final once CI is green. It should be released tomorrow.

[2021-05-25 14:56] brianmcgee commented on #16429
Any suggestions how to workaround this in the meantime? I have a build that has just started throwing this despite not changing anything.

[2021-05-25 14:58] edeandrea commented on #14475
What about the non-reactive flavor of panache which currently returns `void`? Shouldn't the behavior there be similar?

Also

[code]

Is much more elegant and simple than

[code]

[2021-05-25 15:17] brianmcgee commented on #16429
@radcortez I'm using 1.13.2.Final. I haven't changed the version and I'm using an application.yaml in the `src/main/resources` directory, no `config` folder

[2021-05-25 15:23] gastaldi commented on #14475
@edeandrea agreed, that could be changed too

[2021-05-25 15:24] edeandrea commented on #14475
@gastaldi would you like me to open a separate issue for it?

[2021-05-25 15:25] brianmcgee commented on #16429
I was able to resolve my issue. Here's what happened.

I have a multi module project and one of the sub modules was failing to build. I had added a `.env` file in the root directory for `docker-compose` and it seems from the stack trace that is what it was incorrectly picking up as being in the gradle root directory . Removing it fixed the problem.

In this instance I can work around having the `.

[2021-05-25 15:30] sberyozkin commented on #9316
@renegrob Sure, np at all, I'll still have to catch up. I'm sure we'll have another good discussion and some progress soon enough.

[2021-05-25 15:36] loicmathieu commented on #14475
@gastaldi @edeandrea I'm not against it but I'm pretty sure we already discuss this and dismissed it.
I would like to hear what's @FroMage think about this one.

[2021-05-25 15:39] radcortez commented on #16429
Are you able to try this out with `1.13.4.Final`. It should be fixed in that version.

This was fixed in https://github.com/quarkusio/quarkus/issues/16429, but apparently the automatic link pull request failed.

[2021-05-25 15:58] coperator opened #17455 "Resteasy fails with NumberFormatException if file is larger than 2047 MB"
## Describe the bug
In my service I receive an InputStream in my REST endpoint and use this inputstream directly to store the data in MinIO.
Everything is working well except if the request contains a "Content Length" header and the file is larger than 2047 MB. In this case a NumberFormatException happens because in `VertxInputStream.java` the header is parsed as int" in method `public int readByt

[2021-05-25 16:10] #15595 closed

[2021-05-25 16:16] gastaldi commented on #14475
I'm curious to know what @FroMage thinks about it first. I recall seeing some discussions around it as @loicmathieu mentioned

[2021-05-25 16:24] edeandrea commented on #14475
I don't think he's a fan :)

[2021-05-25 19:33] adutra commented on #8593
@aloubyansky @geoand we finally have a green build on https://github.com/datastax/cassandra-quarkus/pull/176. It requires a bunch of changes in the Cassandra driver, see https://github.com/datastax/java-driver/pull/1551.

My suggestion for the next steps would be: release Cassandra driver 4.12.0 beginning of June, update the extension to reference Quarkus 2.0.0.Final and Cassandra driver 4.12.0, t

[2021-05-25 19:53] tiagodev opened #17457 "OIDC introspection (opaque access token, not jwt)"
I'm using quarkus 1.11.1. and oidc _service_  application type.

Is there any option to disable introspection for opaque access tokens?

Thank you.

[2021-05-25 20:47] robotmrv opened #17459 "Context is not propagated into vertx WebClient Interceptor by Mutiny wrapper"
## Describe the bug
Currently ResteasyContext is not propagated into Mutiny wrapper of vertx WebClient Interceptor if subscription `Thread` differs from assembly `Thread`.

### Expected behavior
ResteasyContext should be propagated into vert.x WebClient `Handler`/`Interceptor`

### Actual behavior
`ResteasyContext` is lost inside vert.x WebClient `Handler`/`Interceptor`

## To Reproduce
please che

[2021-05-25 21:07] ppalaga opened #17461 "org.apache.log4j.Priority required via netty, although netty should not be in the class path at all"
Copied from https://github.com/apache/camel-quarkus/issues/2670

After the upgrade to Quarkus 2.0.0.Alpha3 (this may have been the case also with previous milestones, we do not know), the native compilation started failing in `integration-tests/aws2` - see the error message bellow.

[code]

`org.apache.log4j.Priority` seems to be required only through `io.netty.util.internal.logging.Log4J2Logger`

[2021-05-25 21:27] sberyozkin commented on #17457
@tiagodev In 1.13.x or 2.0.0.M2 one can use `quarkus.oidc.token.allow-jwt-introspection=false` - but it only blocks the JWT token introspection.
What is your requirement ? Are you working with JWT but would like to block the opaque tokens ?
One option to try is to disable the auto discovery and only set the `jwks-path` - in this case no introspection will be possible for any token - not sure how i

[2021-05-25 21:34] famod commented on #15867
Main current failure reason: https://github.com/quarkusio/quarkus/pull/16842#issuecomment-848281122 (not sure about all those test failures, though).

[2021-05-25 21:37] ppalaga opened #17463 "Camel Quarkus AvroRpcTest requires quarkus.test.flat-class-path=true on Quarkus 2.0.0.Alpha3"
I do not think that `AvroRpcTest` had an issue with Quarkus 2.0.0.Alpha1 and Quarkus 2.0.0.Alpha2. This issue seems to be new in Alpha3.

Note that we have one more Avro test called `AvroTest` that requred `quarkus.test.flat-class-path=true` on Alpha1 but was fixed in Alpha2 and also works on Alpha3.

I did not have much time to investigate deeper. Here are the steps to reproduce and the symptoms:

[2021-05-26 05:22] SubhasmitaSw commented on #14729
@yrodiere Hello, I've been occupied with health reasons for some time now, I'd now continue with this issue, should I make a thread for this particular issue in Zulip?

[2021-05-26 05:23] fercomunello commented on #6515
@k0l0ssus It's working normally here using the non-reactive rest-easy (JAX-RS).

[code]

[2021-05-26 05:33] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/877343404

[2021-05-26 06:06] tpodg opened #17465 "Grpc random port (for testing)"
## Description

I am trying to write some tests which include grpc client and thought about spinning up an actual grpc server as part of my test. This way I could implement desired responses and avoid mocking. For this purpose it would be nice to have randomised port, something like already implemented for http server:
quarkus.http.port=0
or
quarkus.http.test-port=0

Would this make sense / be use

[2021-05-26 06:18] Sgitario commented on #16032
@maxandersen the command `curl -Ls https://sh.jbang.dev | bash -s - app install --force qs@quarkusio` is not working for me:

[code]

I see the alias is in `https://github.com/quarkusio/jbang-catalog/blob/HEAD/jbang-catalog.json`, but perhaps the catalog is missing (I could not find it in here https://www.jbang.dev/appstore/.

Any ideas?

[2021-05-26 06:39] selvarajchennappan commented on #17430
@geoand could you please update on this issue.

[2021-05-26 06:42] geoand commented on #17430
Please add a fully working example I can check without having to fill anything in myself and I'll give it another look

[2021-05-26 06:56] Postremus opened #17466 "Injecting ConfigMapping in same class as requestscoped observer causes NoSuchElementException"
## Describe the bug
My app consists of a configmapping like this:
[code]

And an observer like this:

[code]

The app does not start with the exception from below.

If I now remove all references to the config, I get the following output:
[code]

I believe this to be the root cause. The observer is called multiple times before quarkus is started - and most likely also before the configmapping is f

[2021-05-26 06:57] Postremus commented on #17466
/cc @radcortez fyi.

[2021-05-26 06:58] michalszynkiewicz commented on #17465
Why isn't the default port working for you in your scenario?

[2021-05-26 07:10] yrodiere commented on #14729
@SubhasmitaSw Hello. Sorry to hear that. If you need help on something related specifically to this issue, sure.

[2021-05-26 07:18] gsmet commented on #17461
@aloubyansky could you help with this? It looks like a classpath issue?

[2021-05-26 07:19] aloubyansky commented on #17461
I'll have a look.

[2021-05-26 07:20] tpodg commented on #17465
It is in most of the cases, but currently I have a monorepo project with multiple applications. If the tests for multiple applications are running at the same time, there could be conflicts... Currently I have modified ports only for the tests using properties file, but is this enough to make sure everything will be fine on a build system or different local dev environments...?

[2021-05-26 07:35] robotmrv commented on #17459
after some investigation it seems that the problem is in `io.smallrye.mutiny.vertx.AsyncResultUni`.
It does not decorate input `Consumer` by `io.smallrye.mutiny.infrastructure.Infrastructure#decorate`.
Probably the same problem has `io.smallrye.mutiny.vertx.MultiReadStream`/`MultiHelper`

[2021-05-26 08:09] geoand commented on #17430
Thanks.

Basically you need to do as https://github.com/quarkusio/quarkus/issues/17280 describe, i.e. to buffer the stream.
This is because in Java IO, when a stream is read, you can't re-read it.
So you buffer the data you read and then set the entity stream to the buffered stream thus allowing the framework to read the body as well

[2021-05-26 08:33] tiagodev commented on #17457
@sberyozkin Perfect that will do. Thank you ;)

[2021-05-26 08:45] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/877352772

[2021-05-26 08:48] selvarajchennappan commented on #17430
Thanks for immediate response .
@geoand set the entity stream to the buffered stream however its not working
InputStream is = ctx.getEntityStream();
String body = new BufferedReader(new InputStreamReader(is)).lines().collect(Collectors.joining("\n"));
**ctx.setEntityStream(new ByteArrayInputStream(body.getBytes()));**

As had mentioned before it works with content type json. I think issue is with

[2021-05-26 08:49] geoand commented on #17430
I will check next week as I am on PTO

[2021-05-26 08:54] sberyozkin commented on #17457
@tiagodev Please re-open if it is not 401 for the opaque tokens when introspection path is not available in 1.13.x/2.0.0.x, thanks

[2021-05-26 08:55] sberyozkin commented on #17457
It will fail, but we don't have a test yet where an opaque token is rejected because no introspection path is available

[2021-05-26 08:56] sberyozkin commented on #17457
Perfect, thanks :-)

[2021-05-26 08:58] tiagodev commented on #17457
sorry i meant 500

[2021-05-26 09:04] jonathanvila commented on #7358
Same experience here...... had 1 file with tables creation and inserts , and I wanted to use the hibernate.creation=none and execute the import.sql ( I'm migrating SpringPetclinic into Quarkus spring extensions ) ..... and it doesnt read the file.....
Changing to hibernate.creation=create has worked.

[2021-05-26 09:04] michalszynkiewicz commented on #17465
got it, I think it makes sense. I don't know how easily doable is this. Are you interested in create a pull request for it?

[2021-05-26 09:10] #17349 closed

[2021-05-26 09:13] sberyozkin commented on #17457
@tiagodev OK :-), which version is it ?

[2021-05-26 09:14] tiagodev commented on #17457
1.13.x

[2021-05-26 09:30] tpodg commented on #17465
Sure, I can have a look into it. What would be preferred solution?
I guess testing the server shouldn't be a problem as "InProccess" types can be easily used, so this leaves us with tests on the client side where client and server ports should match.

My current workaround reads the client port via ConfigProvider and creates a server with the same port. If this is enough, existing property "quarku

[2021-05-26 09:40] sberyozkin commented on #17457
I think I may need to introduce `quarkus.oidc.token.allow-opaque-token-introspection` - since if it is a valid opaque token and the server has not been configured with the introspection path it may well be `500`, especially if it is expected the opaque tokens are used. It would also work with or without auto discovery (as opposed to the suggested indirect solution) and will be easy to understand w

[2021-05-26 09:47] niekvangogh commented on #17341
I've had this problem before, gave up after a while; probably should be fixed though

[2021-05-26 10:20] #16429 closed

[2021-05-26 10:31] fintanmm opened #17469 "NullPointerException when calling the rest-client instance after it's injected."
## Describe the bug
When the rest-client is injected into an object and a method belonging to the rest-client is called it throws an NPE.

### Expected behaviour
JSON is returned by the rest-client for further processing

### Actual behaviour
An NPE is thrown.

## To Reproduce

[rest-client-npe](https://github.com/fintanmm/rest-client-npe)

Steps to reproduce the behaviour:
1. Clone above linked r

[2021-05-26 11:19] michalszynkiewicz commented on #17465
if you could ping me about it tomorrow, preferrably on Zulip, I will be more helpful :)

[2021-05-26 11:24] DavideD commented on #10768
ACK

Sure, I will check after lunch

On Wed, 26 May 2021, 12:02 Sanne Grinovero, ***@***.***>
wrote:

[2021-05-26 11:49] famod commented on #17469
This doesn't look right: https://github.com/fintanmm/rest-client-npe/blob/master/src/test/java/org/acme/rest/client/CountryCallTest.java#L18

Why do you create `CountryCall` on your own (with `new`) instead of having it injected (via `@Inject`)?

[2021-05-26 12:31] phillip-kruger commented on #16716
@eichstaedtk - did you manage to create a reproducer ?

[2021-05-26 13:00] pedroigor commented on #17416
@codependent Thanks for the report and the contribution. Really appreciated it.

It is expected a single resource (e.g.: messages resource) associated with the two scopes (e.g: get and post). Then for each scope you can define individual permissions (scope-based permissions) so that they are evaluated accordingly depending on the  scope being requested.

I'm not sure if we want to have distinct re

[2021-05-26 13:11] douglasagliardi commented on #12324
An important note for those that were upgrading from 1.11 (or older) is to update the .dockerignore file accordingly to the latest version, specially when using legacy mode - as pointed out above, on 1.12 they have made the fast jar the default option and, since a new directory structure have been added (quarkus-app) we need to prevent the cleanup of this directory (and it's sub-directories) to be

[2021-05-26 13:54] cescoffier commented on #17038
Ok, so we probably should create an epic out of this discussion.

[2021-05-26 13:59] #16521 closed

[2021-05-26 14:26] michalszynkiewicz opened #17475 "Make `@Blocking` work on gRPC services"
Currently adding `@Blocking` works only on methods, it should also work on whole classes

[2021-05-26 15:01] fintanmm commented on #17469
Sorry @famod, I'm doing something stupid.

[2021-05-26 15:01] #17469 closed

[2021-05-26 15:04] famod commented on #17469
No worries! 🙂

[2021-05-26 15:08] yrodiere opened #17479 "Health checks for Hibernate Search"
## Description

We should add health checks for Hibernate Search, at the very least to verify that the Elasticsearch cluster can be contacted.

We could go one step further and validate the schema, but I'm not sure that's the spirit of health checks, and there are cases where validation will fail when the schema is heavily customized (that's why validation on startup can be disabled).

## Implemen

[2021-05-26 15:17] rmanibus opened #17480 "quarkus.log.console.enable disable file log handlers"
## Describe the bug
with the following application.properties
[code]
when running the uber jar (it's working file with quarkus:dev)
 the file quarkus.log is created but is empty.

This was working prior quarkus 1.13

## To Reproduce

https://github.com/rmanibus/quarkus_17480

Steps to reproduce the behavior:
1.  mvn install
2. java -jar target/code-with-quarkus-1.0.0-SNAPSHOT-runner.jar
 -> applic

[2021-05-26 15:33] codependent commented on #17416
@pedroigor thanks for your feedback, I didn't know that restriction was in place, I must've missed it in the docs. Offhand I'd say that it could work for that case. However we are trying to model a fine grained scenario that needs mapping the _kind of same URI_ to different resources, e.g.:

**admin-resource**
/articles/{id} GET, POST
-> User admin will have GET and POST permission to all {id}s.

[2021-05-26 15:33] FroMage commented on #4125
Can you open a new issue with a full stack trace and list of extensions please? We need to know what sort of application you're injecting this into.

[2021-05-26 15:37] FroMage commented on #9269
Assign it to me, but I don't have free cycles ATM. I still need to make a move on the storage branches. But lately Gavin had the idea of stuffing all the thread-locals on the Vert.x context, though this is probably not going to be fast. At least it would simplify some things. So further experiment required :(

[2021-05-26 15:42] #4650 closed

[2021-05-26 15:47] FroMage commented on #14475
Well, I don't think it's very useful for the non-reactive cases, because we don't usually chain the calls, and this example is really trivial and not common in real code. But it wouldn't hurt I guess.

[2021-05-26 15:51] ebullient opened #17481 "Using custom MeterRegistry implementations (aka suppressing the default MeterRegistry)"
Quarkus micrometer MeterRegistry extensions all provide a default implementation/instance.

For Prometheus, more than one MeterRegistry is a valid use case (using `@DefaultBean` wouldn't have the right behavior). For other registries, having multiple implementations is rarer (but having those use `@DefaultBean` when Prometheus doesn't is perhaps confusing).

I will try (PR for Prometheus, and assu

[2021-05-26 15:54] ebullient commented on #13129
Can this be closed?

[2021-05-26 16:04] jaikiran commented on #13129
Sorry, the linked PR is still open and I need to fix that review commetns that gsmet asked for.

[2021-05-26 16:13] FroMage commented on #17255
Oh damnit, could you take a look @evanchooly ?

[2021-05-26 16:17] FroMage commented on #17280
I'm not sure, I guess it depends on how filters and reader interceptors interact. I don't think we want to invoke reader interceptors while in the middie of the first filter.

[2021-05-26 16:37] ppalaga opened #17482 "Pass --exclude-config programatically"
`--exclude-config` was introduced in https://github.com/oracle/graal/pull/3179
It would be nice to be able to pass it programatically from a Quarkus extension

[2021-05-26 16:52] DavideD commented on #10768
At the moment, one can solve this issue using a `UserType`:
On the field:
[code]

The details about how to implement a UserType are on the [Hibernate ORM documentation](https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#basic-custom-type-UserType).

Here's a quick example of an implementation for this case:
[code]

[2021-05-26 17:16] tiagodev commented on #17457
quick question @sberyozkin is it possible to have multiple clients calling a quarkus api with an opaque access token? probably I'm missing something but if the lib calls the introspection, which requires a client id and secret, how do I handle multiple client ids?

[2021-05-26 17:39] radcortez commented on #17466
I'll have a look.

[2021-05-26 18:32] #15193 closed

[2021-05-26 18:43] ppalaga commented on #5576
After all I do not think this is important enough to bother. Sorry for the noise.

[2021-05-26 18:43] #5576 closed

[2021-05-26 18:45] gastaldi commented on #5576
@ppalaga if you're building an UberJar, you can use: https://github.com/quarkusio/quarkus/blob/main/core/deployment/src/main/java/io/quarkus/deployment/pkg/builditem/UberJarIgnoredResourceBuildItem.java

[2021-05-26 19:15] SubhasmitaSw commented on #14729
@yrodiere  I've started a thread on zulip, please check it out.

[2021-05-26 19:16] michalszynkiewicz opened #17485 "gRPC: Mutiny classes generation fails without java package definition"

[2021-05-26 19:33] pedroigor commented on #17416
@codependent In this case, I think you should be able to use a single resource (e.g.: Article) and a single permission with two policies using the `AFFIRMATIVE` decision strategy:

* One that grants access to admins
* One that grants access to an editor

By using the `AFFIRMATIVE`, a permit from any policy should be enough to grant access to the resource.

Another way to solve this is leveraging t

[2021-05-26 19:49] #17457 closed

[2021-05-26 20:20] famod commented on #17480
This works:
[code]
If you really want a named handler you need to use a proper category, like `org.acme` in your case:
[code]

https://quarkus.io/guides/logging does not mention `""` to be a valid category.
So I'm inclined to close this. WDYT @dmlloyd?

[2021-05-26 20:25] famod commented on #17455
/cc @stuartwdouglas @geoand

[2021-05-26 20:28] famod commented on #17290
I'll close thise one as a duplicate of #14695. Feel free to reopen if you think otherwise.

[2021-05-26 20:28] #17290 closed

[2021-05-26 20:33] rmanibus commented on #17480
In my understanding it was the way to declare the root category. Also It was working beforr quarkus 1.13.4 so I assume something has changed recently.

[2021-05-26 20:41] dmlloyd commented on #17480
This seems like a legitimate request to me.  We should have a way to attach named handlers to the root logging config, like this:

[code]

This would be consistent with how we configure the root category log level.

[2021-05-26 20:54] famod commented on #14695
@stuartwdouglas Netty was upgraded to 4.1.65 via #17436 which is part of 2.0.0.CR1 that was released today.

Still, I'm not sure this is all fixed now:
I don't see a difference when trying [@pschyma's reproducer](https://github.com/quarkusio/quarkus/issues/14695#issuecomment-778585888) with 2.0.0.CR1. I have to say though that I don't see that exeception trace, but I do see `curl` "hanging":
[code

[2021-05-26 20:57] famod commented on #12584
FWIW, I tried both this issue's reproducer and the one of #14695 with 2.0.0.CR1 which contains the upgrade to netty 4.1.65 and things are still kinda strange: https://github.com/quarkusio/quarkus/issues/14695#issuecomment-849110670

[2021-05-26 20:58] gorshkov-leonid opened #17486 "Context propagation with CF with RestEasy: Compatibility has broken between 1.9.2 and 1.13.x"
## Description
I have test that passes with 1.9.2 and does not pass with 1.13.x:
https://github.com/gorshkov-leonid/quarkus113_header_propagation/tree/minimalistic_case

You also can see more tests in `master` branch.

### Expected behavior
Tests must pass with 1.9.2 and 1.13.x

### Actual behavior
1.13.4
[code]
### Output of `java -version`
java version "16.0.1" 2021-04-20
Java(TM) SE Runtime Env

[2021-05-26 21:04] gorshkov-leonid commented on #16059
As about the problem with Context Propagation, RestEasy and CF that I described above. Created new ticket #17486

[2021-05-26 21:09] ricardozanini commented on #16401
@FroMage: https://github.com/quarkusio/quarkus/pull/17488

Tomorrow I'll raise some questions around the implementation and the scope for this very first version.

[2021-05-26 21:30] famod commented on #17480
Makes sense!

FWIW, something in [1.3.0.CR1](https://github.com/quarkusio/quarkus/releases/tag/1.13.0.CR1) causes `quarkus.log.category."".handlers=CONSOLE_MIRROR` to not work as in 1.12.2.Final (just verified with this reproducer).
Maybe https://github.com/quarkusio/quarkus/commit/88172b7f54030f536361c9f1e113c4539e1d10e6 or https://github.com/quarkusio/quarkus/commit/5b69ffa9ded999138edfaaa6d9692

[2021-05-26 21:37] maxandersen commented on #16032
it is on jbang.dev/appstore:

<img width="803" alt="2021-05-26_23-35-22" src="https://user-images.githubusercontent.com/54129/119734289-10615080-be7b-11eb-817b-9068f4b790ae.png">

any chance you used some script from @quarkusio before ?

then try `curl -Ls https://sh.jbang.dev | bash -s - app install --force qs@quarkusio` or simply `jbang --fresh app install --force qs@quarkusio`

then the issue i

[2021-05-26 21:54] ebullient commented on #15887
Resolved (or changed/superseded) by #16407 and follow-on items (which add debug/suspend parameters to the dev command AND also allow specifying additional parameters

[2021-05-26 21:54] #15887 closed

[2021-05-26 22:07] maxandersen commented on #16026
so, isssue is that the -runner.jar has all its dependencies listed in the pom.xml despite its a shaded jar which should have zero dependencies.

https://stackoverflow.com/questions/39286613/maven-shaded-jar-used-as-external-project-dependency/51443562 describe the various situations and I would say there are few to choose from in no particular order:

a) deploy another "real" artifact with zero de

[2021-05-26 22:44] ebullient commented on #16087
Partial support for create/build was added in #16407
1. It detects a jbang project based on absence of pom.xml and build.gradle, and (either presence of the jbang wrapper or a java file immediately under src/)  -- This is in QuarkusProjectHelper in devtools-common
2. When build or dev are called on a jbang project, It will use `src/main.java` (or the first *.java file it finds in the `src` directo

[2021-05-26 23:01] ebullient commented on #16153
Resolved by #16407 .. it is now `quarkus` .. but how you package or alias it.. ;)

[2021-05-27 00:14] bgoggin opened #17491 "Quarkus project using hibernate validator on classes from separate jars does not compile with 1.13.5.Final"
## Describe the bug
(Describe the problem clearly and concisely.)
I have a couple of projects that use DTO classes from another jar that are annotated with hibernate validator classes. This includes validations on type declarations for container classes. When I moved from 1.13.4.Final to 1.13.5.final, my project failed to compile.

### Expected behavior
(Describe the expected behavior clearly and

[2021-05-27 04:44] jimbogithub opened #17492 "IllegalAccessError invoking non-public @Scheduled method"
## Describe the bug
An IllegalAccessError is thrown when invoking a non-public @Scheduled method, e.g:

@Scheduled(every = "PT10S", concurrentExecution = ConcurrentExecution.SKIP)
void myMethod() {...}

All is fine if the method is public.

Call stack looks like so:

2021-05-27 15:58:27,006 ERROR (executor-thread-2) [SimpleScheduler] Error occured while executing task for trigger IntervalTrigger [

[2021-05-27 05:13] geoand commented on #17491
Seems to also be a problem in `2.0.0.CR1`

[2021-05-27 05:29] NahuelOlgiati commented on #4399
@mmusgrov @xstefank hello! Any news about this issue? Thanxs <3

[2021-05-27 05:45] gorshkov-leonid commented on #17486
I have updated examples, please pull them If you have already cloned them

[2021-05-27 06:07] mkouba commented on #17492
Hello @jimbogithub, could you describe your application structure in more detail? We use the package-private `@Scheduled` methods in the tests and in the quickstart without any problem. Private methods are not supported.

It seems that the invoker class and the service class are loaded by a different class loader. Isn't the `my.redacted.Service` class located in a shared library, i.e. outside the

[2021-05-27 07:31] yrodiere commented on #17491
Having a look right now; we can rule out lombok as the source of the problem, as the problem persists even without lombok.

[2021-05-27 07:31] yrodiere commented on #17491
By the way, thanks a lot for the reproducer, @bgoggin!

[2021-05-27 07:56] yrodiere commented on #17491
Ok; so this looks like a bug in Jandex.

In `org.jboss.jandex.MethodParameterTypeTarget`:

[code]

For an annotated parameter in a constructor, `super.enclosingTarget()` returns a `ClassInfo` representing the class declaring the constructor, instead of representing the constructor itself. This seems wrong, and anyway it causes the cast to fail.

I'll look into writing a reproducer for Jandex and r

[2021-05-27 08:01] aloubyansky commented on #17461
The dependency on `netty-common` isn't new actually. But the dependency scopes look suspicious.

[2021-05-27 08:04] rmanibus commented on #17480
After some more investigation, even with a category set, the file handler does not work if the console is disabled.
[code]
If a file logger is configured, then everything work fine.

[code]

[2021-05-27 08:40] aloubyansky commented on #17461
This is not looking good. `quarkus-arc-deployment` is also in the runtime lib and all its deps.

[2021-05-27 08:44] #15418 closed

[2021-05-27 08:48] aloubyansky commented on #17461
@ppalaga isn't this wrong? https://github.com/apache/camel-quarkus/blob/main/extensions-support/aws2/runtime/pom.xml#L55

[2021-05-27 09:01] aloubyansky commented on #17461
It's Camel Quarkus issue https://github.com/apache/camel-quarkus/pull/2683

[2021-05-27 09:01] #17461 closed

[2021-05-27 09:05] cescoffier commented on #16955
All good! Let me keep this issue open until we get Vert.x 4.1.0.Final integrated.

[2021-05-27 09:37] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/880989854

[2021-05-27 10:21] loicmathieu opened #17497 "Mocking RestClient via @InjectMock didn't work"
## Describe the bug
The testing guide suggest using `@InjectMock` to mock a RestClient, see https://quarkus.io/guides/getting-started-testing#using-injectmock-with-restclient

However, using this technics didn't works and lead to the following error:

[code]

### Expected behavior
Using `@InjectMock` works.

### Actual behavior
Using `@InjectMock` generates an error due to the generated RestClient

[2021-05-27 10:38] mmusgrov commented on #4399
The quarkus extension and quickstart are done.
I just need to rework the integration test - previously we embedded an LRA
coordinator with the service but that functionality (two JAX-RS
applications per deployment) has been removed so I need to figure out how
to start the coordinator before running the test. Now in narayana we do
that with an arquillian extension but that won't work in with quarku

[2021-05-27 10:56] #16033 closed

[2021-05-27 10:56] #16316 closed

[2021-05-27 10:56] #16318 closed

[2021-05-27 11:05] #17492 closed

[2021-05-27 11:06] #17353 closed

[2021-05-27 11:37] phillip-kruger commented on #15322
@gsmet @SaumyaSingh1 this can be close right ?

[2021-05-27 11:55] TomasHofman commented on #15383
BTW can this be marked as resolved?

[2021-05-27 12:13] SaumyaSingh1 commented on #15322
Most probably yes :)
This was completed by us.

[2021-05-27 12:17] TomasHofman commented on #16122
I'm going to check this out.

[2021-05-27 12:18] yrodiere commented on #17491
Created https://github.com/wildfly/jandex/pull/121 downstream. Not sure they will merge it as-is, but at least we have a reproducer and a fix.

[2021-05-27 12:29] #15322 closed

[2021-05-27 12:44] gsmet commented on #17491
I'm pushing a 1.13.6.Final/2.0.0.CR2 with a workaround.

[2021-05-27 12:52] ccarv opened #17499 "Named query returning incorrect type list of objects with Panache"
## Describe the bug
I'm using Quarkus and Hibernate / Panache.

For this example, I have 3 tables (`table_a`, `table_b`, `table_c`) that I am joining together using a native query. `table_b` is purely a mapping / join table for `table_a` and `table_c`:

[code]

I'm only looking for `name` and `login_date`. There is a bunch of other information stored in `table_a` and `table_c` that I don't want fo

[2021-05-27 13:30] quintesse commented on #16355
@remkop I don't have the exact numbers at hand (they're somewhere in a chat) but when I was investigating the slow startup of Jbang I found that around .6s of a 1.2s startup was due to Picocli setup. For a tool that's supposed to enable Java as a scripting language adding more than a second to the startup will make people think twice before dropping Perl/Node/Bash in favor of Java. As a comparison

[2021-05-27 14:18] #17386 closed

[2021-05-27 14:36] ebullient commented on #16355
Now that I've done the crazy things and restructured the entire CLI to be a little cleaner.. I could also just say eff the annotations and code it directly.

Annotations are cool and all, but we don't actually have to use them..

[2021-05-27 14:45] quintesse commented on #16355
@ebullient I was considering the same for Jbang and my worry is that it will become less maintainable (somewhat ) and less accessible to people who are not familiar with the code.

[2021-05-27 15:27] TomasHofman commented on #16122
For the record, requesting `localhost:8080/hello/greet` throws NPE because there is no endpoint mapped at that URL in the reproducer, ergo no ResourceInfo can be produced.

Question is if this situation can be resolved better. Injection producer is not allowed to return `null` (which would allow us to hand the responsibility to check null over onto the ContainerResponseFilter implementation). Mayb

[2021-05-27 15:29] loicmathieu commented on #17499
Making a query via Hibernate with Panache should use the entity as a return type. So you need to write a named query that return a `LoginDetails` (a JPQL query).
Here you use a native Query, so Hibernate will return an `Object[]` to map each raw.

You have multiple possibilities:
- Change your request to a JPQL request returning a `LoginDetails`
- Use the `EntityManager` directly to make the query

[2021-05-27 15:29] maxandersen commented on #16355
Annotations makes sense to be declarative and quarkus be smarter about it.

Even doing it programmatically will have an overhead compared to have the quarkus picocli extension do it during build and just load static model at startup.

[2021-05-27 15:52] ccarv commented on #17499
@loicmathieu The query mentioned above is not a native query. `TableA` is a Java entity that is associated with the table `table_a`. Same applies to `TableB` and `TableC` Java entities.

A native query would look like:
[code]

[2021-05-27 16:08] loicmathieu commented on #17499
Right, I look at it took quickly, it's not a native query.
But it's not a query that returns a `LoginDetails` neither, so Hibernate return an `Object[]` for each row.

[2021-05-27 16:27] bcluap opened #17506 "Resteasy Reactive: InputStream is closed too early"
## Describe the bug
There seems to be a regression from 2.0.0.Alpha3 to 2.0.0.CR1 where now in CR1 a ContainerRequestFilter that tries to read the inputstream some time after suspending the ContainerRequestContext will end up reading it forever and eventually timing out as the underlying stream is constantly returning saying it has bytes available as its hitting this code in org.jboss.resteasy.rea

[2021-05-27 16:44] geoand commented on #17506
Interesting... I can't imagine what changed from Alpha3 that could have caused this, but I'll take a close look on Monday

[2021-05-27 17:00] kenfinnigan commented on #16093
Initial draft PR for the quickstart: https://github.com/quarkusio/quarkus-quickstarts/pull/872

[2021-05-27 17:08] ccarv commented on #17499
@loicmathieu I assumed that the annotation associated with the class would be it's return type. Is there a way to tell Hibernate that I'm expecting my NamedQuery to return a list of `LoginDetails`? I know I can probably do this with the `EntityManager` and a `TypedQuery` but would rather bundle the query with the class itself.

[2021-05-27 17:13] radcortez commented on #17466
This happens because we only register the mappings in runtime init and observers are executed at static init, so there are not mappings available at this point. Registering the mappings at static init could fix the issue, but this raises a few other questions.

We do have two Config instances, one for static init and another one for runtime init. The static init Config, does not register user conf

[2021-05-27 17:23] ebullient commented on #16032
https://github.com/quarkusio/quarkus/pull/17502 -- resolved by that (+ adding cli to the docs index via https://github.com/quarkusio/quarkusio.github.io/pull/988 ?

[2021-05-27 17:32] ebullient commented on #16026
(c) is then followed by #10354?
Do we need a published GH release, or is pointing to the maven repository artifact jar sufficient (as you've done already in quarkusio/jbang-catalog#13)?

[2021-05-27 17:41] andrewazores commented on #12889
https://quarkus.io/guides/maven-tooling#quarkus-package-pkg-package-config_quarkus.package.manifest.manifest-sections-manifest-sections

You can use `quarkus.package.manifest.manifest-sections` if your scenario allows for the manifest attributes to be added to a named section within the MANIFEST.MF. I haven't tried specifying this in the pom, but it works in application.properties.

I'm looking fo

[2021-05-27 17:48] cescoffier commented on #17459
Oh! That's a great catch! Can you open an issue on https://github.com/smallrye/smallrye-reactive-utils?

[2021-05-27 18:07] maxandersen commented on #16026
If we want to publish binaries I think it makes sense to use GitHub release locations in the long run.

[2021-05-27 18:44] survivant opened #17508 "Quarkus : 1.13.6.Final : Out of date version of GraalVM detected: GraalVM Version 20.0.0 CE"
I want to build a native image but I got this compilation error even if I specify Mandrel 21.0 version

PS.  I'm on windows 10.

mvn clean package -Pnative -DskipTests "-Dnative-container-build=true" "-Dquarkus.container-image.build=true" "-Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-mandrel:21.0-java11"

[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.13.6.Final:bui

[2021-05-27 18:45] geoand commented on #17508
I am pretty sure those quotes you are using are incorrect and causing the system properties to not be set

[2021-05-27 19:01] survivant commented on #17508
there are mandatory now with powershell.  see : https://github.com/quarkusio/quarkus/issues/16291

[2021-05-27 19:03] geoand commented on #17508
In any case, I don't have a Windows machine, so someone else will have to take this

[2021-05-27 19:14] survivant commented on #17508
I ran the command with -X  and I found this

[DEBUG] properties used {env.NUMBER_OF_PROCESSORS=8, env.USERPROFILE=C:\Users\sd003526, java.specification.version=11, sun.cpu.isalist=amd64, quarkus.container-image.build=true, sun.arch.data.model=64, env.PROGRAMW6432=C:\Program Files, surefire-plugin.version=3.0.0-M5, java.vendor.url=http://java.oracle.com/, env.OS=Windows_NT, maven.compiler.parameter

[2021-05-27 19:16] dckallos commented on #9677
Did this resolution work for anyone here? I'm still getting the exact same error, and I've updated to the Quarkus version where the PR is baselined.
[code]
  I've updated my Quarkus Maven Plugin as well.

[2021-05-27 19:30] leonardowestphal commented on #16927
I resolved it with this PR: https://github.com/quarkusio/quarkus/pull/17509

[2021-05-27 19:38] survivant commented on #17508
@aloubyansky do you have a idea what could be the issue ?

[2021-05-27 19:54] aloubyansky commented on #17508
Looks like the arguments are messed up. Try
[code]
instead.

[2021-05-27 20:01] arvidvillen commented on #7862
Any updates on this?

[2021-05-27 20:02] #17508 closed

[2021-05-27 22:25] bcluap commented on #17506
I managed to reproduce it and it turns out that the issue comes in due to our filter removing the content-length header from the request context as we proxy the request and instead of creating new headers, we just removed ones that cannot be proxied. I worked around this by simply creating a copy of the headers and removing the ones that cannot be proxied and all works fine. Not sure what changed

[2021-05-27 23:18] Sleepy-GH opened #17511 "Reactive messaging LocalDateTime issues"
## Describe the bug
I was trying to set something up with reactive amqp messaging and I noticed that whenever I send an object to the message broker (ActiveMQ Artemis) that contains a LocalDateTime (presumably also LocalDate, didn't check that), the request seems to "hang" in Postman (stuck on sending request) whereas when I remove the LocalDateTime from my model and resend the request it gets pro

[2021-05-28 01:59] kenfinnigan commented on #17511
I think a JSON serializer for `LocalDateTime` would need to be registered, just as if you were returning a model object with `LocalDateTime` in it as a REST response

[2021-05-28 03:21] jimbogithub commented on #17492
Yes, you're correct, the `my.redacted.Service` class is located in a shared library (actually just a test dependency in this case as part of a semi-integration test of two interrelated modules).

Looks like you have the fix, thanks.

[2021-05-28 03:33] jimbogithub commented on #16790
@gsmet This appears to be fixed in 2.0.0.CR1.  The above reproducer certainly works OK now.  I'll need the CR2 before I can test in the full system.

[2021-05-28 04:01] qiuhw commented on #17421
The problem also exists in 1.13.5.Final, 1.13.6.Final and 2.0.0.CR2.

[2021-05-28 04:04] aaronanderson opened #17512 "Parent First ClassLoader issue with JimFS"
## Describe the bug
I am attempting to use the [JimFS](https://github.com/google/jimfs) in-memory Java NIO FileSystem provider in my Quarkus application and I am encountering a classloader issue. Given the nature of JimFS it needs to load in the System Classload and I utilized the quarkus.class-loading.parent-first-artifacts configuration to identify it as needing to be loaded in the base classloa

[2021-05-28 04:30] rohit-gandhe opened #17513 "Wrong/insufficient instructions on https://quarkus.io/guides/amazon-lambda-http"
## Describe the bug
(Describe the problem clearly and concisely.)
Running the following command should create a project with mvn wrapper, which can be used to package/deploy projects
mvn archetype:generate \
       -DarchetypeGroupId=io.quarkus \
       -DarchetypeArtifactId=quarkus-amazon-lambda-rest-archetype \
       -DarchetypeVersion=1.13.6.Final

### Expected behavior
(Describe the expected

[2021-05-28 04:43] jimbogithub commented on #17492
Confirmed fixed for me in 2.0.0.CR2.

[2021-05-28 05:06] geoand commented on #17506
Thanks for the info @bcluap!

I'll take a look on Monday and to figure out what caused this

[2021-05-28 05:50] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/884509912

[2021-05-28 06:16] knutwannheden opened #17514 "Use ';' as default delimited in Hibernate ORM's generated DDL scripts"
## Description

The new `HibernateOrmConfigPersistenceUnitScriptGeneration` allowing to generate DDL scripts is a very nice addition. What appears to be missing is a `delimiter` option to map to Hibernate's `hibernate.hbm2ddl.delimiter` option, so that the generated statements in the script are delimited. Otherwise the delimiter is always just a new line, which isn't all that useful, since some st

[2021-05-28 07:02] cescoffier commented on #17511
You need to register the module handling the date on the Vertx JSON Object Mapper.

This is slightly different in 2.0, where the mapper is shared between vertx and Quarkus, which means that a regular customization of the Quarkus mapper works.

[2021-05-28 07:54] maciekg89 opened #17515 "io.quarkus.hibernate.orm.runtime.boot.QuarkusEnvironment - hibernate.properties has leading "/". It causes the file can not be read."
## Describe the bug

There is following line:
          InputStream stream = classLoader.getResourceAsStream("/hibernate.properties");<br class="Apple-interchange-newline">

the leading "/" causes the method to always return null.

https://stackoverflow.com/questions/47900677/where-does-leading-slash-in-java-class-loader-getresource-leads-to

I am aware that this is legacy fragment, but to fix it,

[2021-05-28 08:10] maciekg89 opened #17516 "supporting of hibernate.integration.envers.enabled property"
I want to be able to disable/enable of ENVERS  using application.properties.

I suggest:
quarkus.hibernate-envers.enabled   //default true

This property could be equivalent to hibernate.integration.envers.enabled
It should be runtime property.

I tried using hibernate.properties to disable Envers but there is the problem - https://github.com/quarkusio/quarkus/issues/17515
So, actually, in my opin

[2021-05-28 09:15] skattela commented on #9677
@stuartwdouglas used for the fix the old pact artifact ids which were used until Apr, 2020.
For me it failed because I am using the latest ids which are:
`                      <parentFirstArtifact>au.com.dius.pact.core:model</parentFirstArtifact>
                        <parentFirstArtifact>au.com.dius.pact.core:matcher</parentFirstArtifact>
                        <parentFirstArtifact>au.com.diu

[2021-05-28 09:24] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/884518449

[2021-05-28 09:24] Sanne commented on #17515
to be fair the use of 'hibernate.properties' is deprecated in Quarkus as it
bypasses our ability to warn & amend for critical configuration mistakes -
which is important to us as it's otherwise fairly complex to integrate
Hibernate ORM in Quarkus correctly and without causing lots of difficult to
diagnose issues.

Could you elaborate on why you're needing to use it?

On Fri, 28 May 2021, 08:55 qua

[2021-05-28 09:26] Sanne commented on #17516
this is a reasonable request, but please share why.

Couldn't you exclude the extension from the dependency of your project?
We're really preferring encouraging keeping the classpaths as small as
possible.

On Fri, 28 May 2021, 09:10 quarkus-bot[bot], ***@***.***>
wrote:

[2021-05-28 09:28] Sanne commented on #17514
I really like the idea of having a default value for each database kind.

On Fri, 28 May 2021, 07:16 quarkus-bot[bot], ***@***.***>
wrote:

[2021-05-28 09:29] #14475 closed

[2021-05-28 09:49] MartinX3 commented on #14475
Is it possible to backport it to 1.13.x? :)

[2021-05-28 09:55] geoand commented on #17506
Any chance you could attach a reproducer?

Thanks

[2021-05-28 10:04] knutwannheden commented on #17514
I assume `;` will be OK for most dialects. For Oracle (when using SQL*Plus) `\n/` (i.e. a slash on a line of its own) may be a better alternative, although it probably shouldn't matter for the DDL produced by Hibernate, where `;` would likely work nicely as well.

If someone knows which separator is required for the currently supported database kinds, it would be great if you could document them h

[2021-05-28 10:04] hyperman1 opened #17519 "quarkus.container-image.password stored in image"
## Describe the bug
I created an image with jenkins and it contains in application.properties a line:
[code]
When releasing, jenkins runs the maven build with
[code]
When I run this release in openshift,  I get the messages below, which mean quarkus stored the preprod password from the command line in the image.  This has consequences for security, so I want to get rid of that.

I can hide the mes

[2021-05-28 10:08] knutwannheden commented on #17514
P.S. I can look into providing a PR for this issue.

[2021-05-28 10:20] loicmathieu commented on #14475
I'd rather not, this is already a backport to 2.x as it is already branched, and it can potentially break some code due to method generic return type change so we cannot add it in a micro version.

[2021-05-28 10:22] bcluap commented on #17506
Its RedHat PTO day. Go play outside! :-)

On Fri, May 28, 2021 at 12:01 PM Georgios Andrianakis <
***@***.***> wrote:

[2021-05-28 10:28] aymenhouissa opened #17522 "Port number must be set on quarkus.spring-cloud-config.url to pass the test"
## Describe the bug
My Quarkus project reads its configuration from a central Spring Cloud Config Server. I've set the corresponding properties, so it works when running `mvn quarkus:dev` but fails when running the tests `mvn clean package`

### Expected behavior
Such command should work. It runs the test using the  quarkus.spring-cloud-config.url property without the need to add a special port.
q

[2021-05-28 10:30] geoand commented on #17506
😂

[2021-05-28 10:37] #17453 closed

[2021-05-28 11:03] bcluap commented on #17506
P.S. the reproducer reacts slightly differently to y real world scenario
where in real-world it was always returning available as being the
content-length but in this scenario it returns available as -1. Either way,
it puts the reader into a tailspin as it never stops trying to read as it
thinks there is always data available.

On Fri, May 28, 2021 at 12:59 PM Paul Carter-Brown ***@***.***> wrote:

[2021-05-28 11:24] Sleepy-GH commented on #17511
Okay, I can try that. Would the workaround in this issue be the way to do that? https://github.com/quarkusio/quarkus/issues/9741

Shouldn't it also just throw an exception in stead of the request getting stuck?

[2021-05-28 12:53] mkouba commented on #17466
Hm, we do activate the _request context_ for any observer notification, incl. `@Initialized(ApplicationScoped.class)` (STATIC_INIT) and the events fired in the `VertxHttpRecorder.finalizeRouter()` (RUNTIME_INIT). And that's the reason why `SomeObserver#initializeMDC()` is called during application startup. This behavior is not defined by the spec but we thought it might be useful. When I think abo

[2021-05-28 13:20] Shohou opened #17523 "2.0.0.CR2 liquibase finds duplicated changelog files"
## Describe the bug
I have an app which uses gradle for building and I tried to run it with quarkus 2.0.0.CR2. Unfortunately running `./gradlew clean build` failed because liquibase finds two files for changelog.xml
[code]
Running quarkusDev works fine though.

### Expected behavior
liquibase runs applies changelog.xml successfully

### Actual behavior
See exception

## To Reproduce

I believe add

[2021-05-28 13:46] maciekg89 commented on #17516
I am aware that it is better not to have a dependency that is not used, but our applications are used in a few projects.
Sometimes, the Envers is needed, sometimes not. We don't want to  create two versions of jars with and without Envers.

[2021-05-28 13:48] loicmathieu commented on #17499
Unfortunatly there didn't seems to be a way to do what you want.
Again, Hibernate return an `Object[]` because instead of selecting a `LoginDetails` you select multiple column so Hibernate has no way to know that you want a `LoginDetails`  object.

[2021-05-28 13:56] maciekg89 commented on #17515
I tried use it only for set hibernate.integration.envers.enabled (https://github.com/quarkusio/quarkus/issues/17516)

If hibernate.properties' is deprecated and this fragment is never executed ( classLoader.getResourceAsStream("/hibernate.properties") ALWAYS return null) I suggest remove this code. It can be confusing for users. I tried using this hibernate.properties after reading this class (wit

[2021-05-28 14:59] loicmathieu opened #17525 "smallrye.config.locations property didn't work on 2.0.0.CR2"
## Describe the bug
Using the `smallrye.config.locations` property didn't works on 2.0.0.CR2 but the new `quarkus.config.locations` do works.

### Expected behavior
Both property works

## Environment (please complete the following information):

### Output of `uname -a` or `ver`
Microsoft Windows [version 10.0.19042.964]

### Output of `java -version`
openjdk version "16" 2021-03-16

### Quarkus

[2021-05-28 14:59] loicmathieu commented on #17525
/cc @radcortez

[2021-05-28 15:01] markusdlugi opened #17526 "Reactive REST Client does not honor readTimeout and connectTimeout"
## Describe the bug
When using the new Reactive REST Client, any readTimeout or connectTimeout you set is being ignored. Usually, you can either set it directly at the RestClientBuilder or alternatively via `com.acme.MyClient/mp-rest/connectTimeout` / `com.acme.MyClient/mp-rest/readTimeout`. No matter if you use the RestClientBuilder or the property, the value is not honored, requests run infinite

[2021-05-28 15:29] #16932 closed

[2021-05-28 16:35] Sanne commented on #17515
Good point, I'll get rid of it. To be clear while we had deprecated it, I didn't know that it wasn't working at all - but it's a great indicator about how widely used this was!

[2021-05-28 16:48] rohit-gandhe opened #17527 "Overriding SecurityContext doesn't work with quarkus-resteasy-reactive, but works with quarkus-resteasy"
## Describe the bug
I use AWS cognito to get a JWT token. I have the following code to override quarkus ContainerRequestContext's security context with my own with additional attributes from Cognito

`@PreMatching
public class SecurityFilter implements ContainerRequestFilter {

@Inject
    AuthenticationContextImpl authCtx;

    @Override
    public void filter(ContainerRequestContext requestConte

[2021-05-28 22:18] rohit-gandhe opened #17532 "Lifecycle shutdown events are not firing on aws lambda"
## Describe the bug
Application startup and shutdown events work fine in a non-serverless context, but shutdown event is not being captured on was lambda

### Expected behavior
Quarkus should listen to lambda lifecycle events and propagate them to quarkus lifecycle event handlers

### Actual behavior
`
START RequestId: 8675a080-1c5a-4951-bb95-af32ce667df5 Version: $LATEST
--
__  ____  __  _____

[2021-05-28 22:30] jimbogithub opened #17533 "Test Profile ClassLoader issue with 2.0.0.CR2"
## Describe the bug
`java.lang.ClassNotFoundException` thrown under `test` profile when a **module** calls a **library** to load a class in the **module**, e.g:

[code]

Works fine under `dev` profile or if the **module** loads the class directly.

## To Reproduce

[classloader.zip](https://github.com/quarkusio/quarkus/files/6563534/classloader.zip)

Steps to reproduce the behavior:
1. mvn install

[2021-05-29 00:38] codependent commented on #17416
@pedroigor In case I had only one resource with a single URI /articles/{id} GET, POST.

The admin policy is straightforward, however I still don’t grasp how to restrict access by id for an editor. Using a js policy? User == someuser && id == 1? If this is the case how can we access the resource uri id from JavaScript?

[2021-05-29 05:52] cescoffier commented on #17511
It should not be stuck, that's definitely a bug. And yes, #9741 provides a workaround.

[2021-05-29 07:42] YunaBraska opened #17534 "Panache MongoDB regex does not work"
## Describe the bug
While using Quarkus with Mongodb, Since PanacheQL does not cover everything, I need to use objects like  `BasicDBObject`, and `Document` (https://mongodb.github.io/mongo-java-driver/4.2/driver/tutorials/perform-read-operations/). But some filters are not working like regex: `new Document("$regex", "/.*" + name + ".*/I")` or ` new BasicDBObject("$regex", "/.*" + name + ".*/I")`.

[2021-05-29 10:25] KienDangTran commented on #14044
I got the same error when trying to get hibernate reactive works with quartz
[code]

[2021-05-29 13:02] samarendra-fissionhq commented on #13988
@FroMage  I am using below dependencies.. i have checked with 1.13.6.Final, the issue still exists..

    <dependency>
      <groupId>io.rest-assured</groupId>
      <artifactId>rest-assured</artifactId>
      <scope>test</scope>
    </dependency>
     <dependency>
      <groupId>org.jboss.logmanager</groupId>
      <artifactId>log4j2-jboss-logmanager</artifactId>
    </dependency>
    <dependency

[2021-05-29 13:10] akuzni2 commented on #14904
I'm getting this error when converting one of my applications to Quarkus to build a native-image using GraalVM 21.1.0. From this thread I can't really tell what I need to do to get around it.

I'm building my quarkus project with Quarkus 1.13.4.Final

[2021-05-29 13:41] nhumblot commented on #2611
Hi! 👋

OWASP Dependency-check 6.2.0 is out. Let me know if you see any issue.

https://twitter.com/ctxt/status/1398623345319583751?s=19

[2021-05-29 15:25] hantsy commented on #14044
@KienDangTran I think quartz only supports blocking jdbc API.

[2021-05-29 16:11] gastaldi commented on #6988
Doesn't seem to be an issue now. Closing

[2021-05-29 16:11] #6988 closed

[2021-05-29 18:13] kulame opened #17535 "testcase not work"
## Describe the bug
[ERROR] Failed to execute goal on project quarkus-ide-launcher: Could not resolve dependencies for project io.quarkus:quarkus-ide-launcher:jar:999-SNAPSHOT: Could not find artifact io.quarkus:quarkus-bootstrap-core:jar:999-SNAPSHOT -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.
[ERROR] Re-run Maven using the -X switch to

[2021-05-29 20:20] Sanne opened #17537 "Remove (deprecated) support for hibernate.properties"
## Description
A long deprecated and undocumented "backdoor" which allows to specify any Hibernate ORM configuration property is to have an `hibernate.properties` resource in the root of the classpath.

Not only this has been long deprecated, but it appears from report #17515 that this was no longer working at all.

The lack of general feedback about this also seems like a good indicator it's safe

[2021-05-29 20:26] Sanne commented on #17537
@gsmet sorry I didn't think of doing this before CR - still since it seems this was already broken I think you should consider it for backport to 2.0

[2021-05-30 12:03] brunowego opened #17539 "Ability to provide scope when adding an extension"
## Description

Currently when adding new extension none scope is provided. Adding this ability will encourage users to user more scope:

[code]

## Implementation ideas

[code]

[2021-05-30 16:59] sebastienblanc opened #17540 "Continuous testing is inconsistent with resteasy-reactive"
## Describe the bug
When using `resteasy-reactive`, I have 2 methods exposing rest and 2 unit tests (passing). Adding a space or a comment or even working code just to make the tests run again have no consistent results, totally randomly I get one of those  :

- They are all green (expected behavior)
-  They all fail (restassured getting a 404 instead of a 200)
-  Only one test fails
- It detects

[2021-05-30 17:06] geoand commented on #17540
Does this happen by any chance in vcscode only?

[2021-05-30 17:13] sebastienblanc commented on #17540
That was the first thing I thought but also happens outside (meaning having the app running outside ina terminal and changing my code from vscode)

[2021-05-30 17:20] geoand commented on #17540
Does it happen if you change the code in any other IDE or editor?

Asking because we found an issue with annotation processing that was
specific to Vscode.

On Sun, May 30, 2021, 20:13 Sebastien Blanc ***@***.***>
wrote:

[2021-05-30 18:10] sebastienblanc commented on #17540
You're right ! It works with any other editor (I tested with vi ;) ). But I even need to close vscode complexly otherwise I still have the issue.

[2021-05-30 18:22] geoand commented on #17540
Thanks for the confirmation!

@n1hility spotted this a couple days ago and @FroMage is already aware of it, so we will have a fix for `2.0.0.Final`

[2021-05-30 23:36] kwakiutlCS opened #17543 "Continuous Testing fails when reading file"
## Describe the bug
When using continuous testing, reading some expectation data from a file results in failed test, while the test succeeds with mvn verify.

### Expected behavior
Continuous test has the same test results as mvn verify, when running mvn quarkus:dev and mvn quarkus:test

### Actual behavior
mvn quarkus:dev and mvn quarkus:test result in failed tests.

## To Reproduce
https://githu

[2021-05-31 05:48] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/891805498

[2021-05-31 05:56] geoand commented on #16737
Is there anything we need to do about his one now?

[2021-05-31 05:57] geoand commented on #13617
I think we can close this, it's long been done

[2021-05-31 05:57] #13617 closed

[2021-05-31 07:01] wtrocki commented on #16737
@geoand we decided to put all info on sbo website.
We have content but still some work is happening on sbo site to publish website. CC @pedjak

My take is that we can duplicate this info and add to quarkus doc for the moment or wait till sbo website is live

[2021-05-31 07:03] yrodiere commented on #16927
This is probably a duplicate of https://github.com/quarkusio/quarkus/issues/15888

[2021-05-31 07:05] geoand commented on #16737
Thanks for the update!

[2021-05-31 07:08] juliaaano commented on #15888
This also may be fixed by #17509

[2021-05-31 07:10] juliaaano commented on #16927
May also be resolved with #17509

[2021-05-31 07:19] jponge commented on #17459
Merged on the other side ✅

[2021-05-31 07:21] YunaBraska commented on #16399
@loicmathieu sorry for the late answer. I am really happy that you invested so much time and helped me in this issue :) I created a ticket on the mongo db driver but no one respond yet. I have no idea if it's possible. But I would expect and love if a framework could provide a workaround since its unclear if its getting fixed -_-

[2021-05-31 07:21] #17512 closed

[2021-05-31 07:41] yrodiere commented on #17537
The question is how long has this not been working. At least on April 13th, it was still working, since there's a reproducer here that uses `hibernate.properties` as a workaround: https://github.com/quarkusio/quarkus/issues/16463

And I still think that, especially for workarounds, such support for arbitrary properties *is* valuable. I understand it goes against the Quarkus policy of only exposing

[2021-05-31 08:02] manovotn commented on #17466
I agree that req. context shouldn't be auto-activated for all observer method notifications.
OTOH I am not sure how many things we'll break by reverting this. A lot of it can be easily fixed by users activating the context themselves should they actually need it but it might still be somewhat disruptive.

[2021-05-31 08:27] mkouba commented on #17466
I'm not sure either but the impact should be rather minimal because users are encouraged to observe `StartupEvent` anyway. We'll keep it for `StartupEvent` but not for `@Initialized(ApplicationScoped.class)` and `@Initialized(RequestScoped.class)` (it should be a noop in this case). Plus we'll add a note to the migration guide.

[2021-05-31 08:33] mkouba commented on #17466
FTR https://github.com/quarkusio/quarkus/pull/17544

[2021-05-31 09:02] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/891813859

[2021-05-31 09:08] pjgg opened #17545 "ConfigMapping doesn't handler inner classes"
## Describe the bug

Quarkus Version: Upstream (2.x)
Deprecated class `org.eclipse.microprofile.config.inject.ConfigProperties` supports inner classes
For example:

[code]

application.properties
[code]

But the new  `io.smallrye.config.ConfigMapping`  class (that should be used instead of ConfigProperties) doesn't support inner classes:

Exception:

[code]

This transition should be smooth for th

[2021-05-31 09:42] geoand commented on #17506
I took a look at this and here are my conclusions:

* I could reproduce the issue with `CR1` and verified that with `Alpha3` there was no problem.
* I could **not** verify that the `content-type` header has any effect
* I could verify that the `available` fix does make the problem go away.

After a lot of debugging, I came to conclusion that the difference in behavior between `CR1` and `Alpha3` co

[2021-05-31 09:42] maxandersen commented on #13617
agreed - main missing thing to complete the story is https://github.com/quarkusio/quarkus/issues/16115

[2021-05-31 09:56] geoand commented on #17540
This should be fixed by https://github.com/quarkusio/quarkus/pull/17503

[2021-05-31 09:56] #17540 closed

[2021-05-31 10:14] geoand commented on #17523
I was not able to reproduce this in a Liquibase example we have.

Can you add a reproducer please?

[2021-05-31 10:51] rsvoboda commented on #17545
CC @kenfinnigan @radcortez

[2021-05-31 10:55] axblu opened #17548 "IllegalStateException: Response has already been written"
## Describe the bug
There occasionally occurs an `IllegalStateException: Response has already been written` when accessing Dev UI or Swagger UI.

### Expected behavior
No exception.

### Actual behavior
When starting Quarkus in Dev mode and accessing e.g. the Swagger UI, there occasionally occurs an exception in the log file:
[code]

## To Reproduce

Steps to reproduce the behavior:
1. Use `rest-j

[2021-05-31 10:56] gsmet commented on #17548
/cc @geoand @stuartwdouglas

[2021-05-31 10:59] bcluap commented on #17506
Weird that removing the content-length header does not create the issue. I
was sure it did on the demo project.

Anyway, I can confirm that simply doing this in our real environment does
create the issue. Perhaps some weird edge case kicking in:
[image: image.png]

On Mon, May 31, 2021 at 11:42 AM Georgios Andrianakis <
***@***.***> wrote:

[2021-05-31 10:59] geoand commented on #17548
I'll take a look

[2021-05-31 11:09] famod commented on #17491
@gsmet isn't this now fixed via #17493?

[2021-05-31 11:14] yrodiere commented on #17491
@famod #17493 is just a workaround. Not a fix. Annotations that trigger an exception are ignored, so there's still the problem of ignoring validation constraints.

The actual fix will be the upgrade of Jandex once https://github.com/wildfly/jandex/pull/121 gets merged and released.

[2021-05-31 11:23] famod commented on #17491
Ok, thanks. I'll add the "upstream" label then...

[2021-05-31 11:32] mrniko opened #17552 "Native-image building problem using 2.0.0.CR2 version"
## Describe the bug
Getting error below during native-image building.
[code]
(Describe the problem clearly and concisely.)

### Expected behavior
Native-image built successfully.

### Actual behavior
Unable to build native-image.

## To Reproduce

Run attached project.
[quarkus-redisson-client.zip](https://github.com/quarkusio/quarkus/files/6569931/quarkus-redisson-client.zip)

mvn clean integrati

[2021-05-31 11:34] famod commented on #17535
Are you trying to build Quarkus itself locally? If yes, how does your `mvn` command line look like?

[2021-05-31 11:34] famod commented on #17533
/cc @geoand @stuartwdouglas

[2021-05-31 11:37] mrniko commented on #17552
Building successfully with 1.13.6.Final.

[2021-05-31 11:46] geoand commented on #17533
It seems that this works on `1.13.5`

[2021-05-31 11:59] cescoffier commented on #17511
The issue has already been fixed in 2.x. However, I've opened a PR on the AMQP connector to improve the reporting and avoid being stuck.

[2021-05-31 12:08] geoand commented on #17552
cc @zakkak

[2021-05-31 12:22] geoand commented on #17543
Thanks for reporting!

This is due to the fact that during continuous testing, the dev/test jar is run from inside `target` while in surefire it is run from the project root.
@stuartwdouglas how would you like to handle this?
I don't think that running the jar from the project root is an option, I am afraid various dev-mode things would break.
Perhaps we could should provide some kind of utility f

[2021-05-31 13:09] geoand commented on #17486
cc @FroMage

[2021-05-31 13:32] cescoffier commented on #14220
The next version of the MQTT connector supports reconnect. It should be released tomorrow.

CC @ctron

[2021-05-31 13:42] cescoffier commented on #11501
Closing.... fixed in december.

[2021-05-31 13:42] #11501 closed

[2021-05-31 13:46] sberyozkin commented on #17548
See the #17551 PR from Georgios addressing the immediate problem of preventing the double ending of the response leading to a confusing error message being logged. Guillaume would like the underlying cause be investigated further so as proposed at #17551 it does not close this issue

[2021-05-31 14:03] henrikcaesar commented on #9884
Just ran into the same issue... will try using QuarkusTestResourceLifecycleManager instead but it would be good if the extension was supported.

[2021-05-31 14:13] zakkak commented on #17552
TLDR: Please remove `--report-unsupported-elements-at-runtime` from `integration-tests/pom.xml`.

This is similar to https://github.com/quarkusio/quarkus/issues/6327. The reason the example is not working any more is the deletion of `io.netty.handler.codec.compression.BrotliDecoder` which was introduced by https://github.com/quarkusio/quarkus/pull/17436 and is not compatible with `--report-unsuppo

[2021-05-31 14:14] survivant commented on #3795
@gsmet  can we provide JAVA heapsize and other params in the dockerfile.native ?

like
[code]

in mode mode, I have this when I launch the application
[code]

How can I validate if the memory params were passed correctly ?   I didn't find example in Quarkus native guide about that.

[2021-05-31 14:18] sdaschner opened #17557 "Continuous testing: not all tests are re-run automatically"
## Describe the bug
In `quarkus:dev` in `2.0.0.CR2`, not all tests are re-executed automatically on save, only `@QuarkusTest` annotated ones.

## To Reproduce

The Quarkus playground project contains a Maven plain unit test (`*Test`), an integration tests (`*IT`), and a `@QuarkusTest`.

- Project: https://github.com/sdaschner/quarkus-playground
- Run `quarkus:dev` and execute tests
- Change someth

[2021-05-31 14:24] sdaschner opened #17558 "Continuous testing: Support specifying unit, ITs, and QuarkusTests"
## Description
The continuous testing feature suggests to activate the `dev`-mode testing based on different test scopes, currently *all*, *QuarkusTest*, or *unit*.

It would be helpful to make the distinction between *unit* test (how the Maven surefire plugin defines them, i.e. classes that end with `*Test`), *integration tests* (Maven failsafe integration tests, i.e. ending with `*IT`), and `Qua

[2021-05-31 14:39] ia3andy commented on #16153
Quarkus is opinionated, we should go for `q` if anyone is unhappy with it, then they can alias it :)

[2021-05-31 14:42] survivant commented on #17508
can we provide JAVA heapsize and other params in the dockerfile.native ?

like
[code]

in JVM mode, I have this when I launch the application
[code]
How can I validate if the memory params were passed correctly ? I didn't find example in Quarkus native guide about that.

[2021-05-31 14:42] ia3andy commented on #16153
I am really not a fan of using `quarkus` because even if easy to add an alias, it's still something we have to do.

Also, we are going to have it in our doc, people will start to blog, share commands on twitter.. better have our right and short name directly!

[2021-05-31 14:57] ebullient commented on #16153
I think we move forward as-is. final is tomorrow. q or qs or whatever can be handled in jbang if we want.

[2021-05-31 14:58] ebullient commented on #16153
but I think using the long form in help and in blogs avoids conflicts and confusion. FWIW, it has been full quarkus in the draft PR that has been open for bikeshedding for weeks now. decision made, we move forward from here.

[2021-05-31 15:03] radcortez commented on #17525
Strange. I was not able to reproduce. Do you mind proving me a reproducer? Maybe something else is messing up.

[2021-05-31 15:06] radcortez commented on #17525
BTW, the relocation was added here: https://github.com/quarkusio/quarkus/commit/ff0dfd44479e484bbea9091e79a96f14b318a8ed, so since 1.13.x without any apparent issue.

[2021-05-31 15:32] sberyozkin commented on #17548
It still closed it so reopening it :-)

[2021-05-31 15:41] ia3andy commented on #16153
I think it's alright to start with `quarkus` in docs and all, `q` or `qs` or whatever we decide would just be our opinionated/recommended shortcut.

[2021-05-31 15:41] ia3andy commented on #16153
Sorry wrong button :)

[2021-05-31 15:55] luneo7 opened #17559 "ConfigProvider doesn't work during runtime with fast-jar"
## Describe the bug
During runtime if using ConfigProvider programmatically to get some config property it fails with null pointer exception trying to fetch stuff from the class loader with fast-jar

### Expected behavior
We are able to fetch config without issues

### Actual behavior
Null pointer exception

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is no

[2021-05-31 16:06] schulzp opened #17560 "@QuarkusIntegrationTest + Docker: Allow Customization"
## Description

Thanks for introducing `@QuarkusIntegrationTest`! Currently, we use a two-staged process to obtain our native image:

1. Build graalvm-based image with `JAVA_TOOL_OPTIONS=-agentlib:native-image-agent=config-merge-dir=/var/native-image`, run integration tests against that image mounting `src/main/resources/META-INF/native-image` as volume under `/var/native-image`.
2. Build native i

[2021-05-31 16:11] radcortez commented on #17545
Hi @pjgg,

The @ConfigMapping only supports interfaces. Any inner class should also be converted to an interface.

[2021-05-31 16:20] #17519 closed

[2021-05-31 16:24] fouad-j opened #17563 "OIDC redirect-path property"
## Description

We faced an issue with `quarkus.oidc.tenantName.authentication.redirect-path=http://mydomain.com/tenantName`

Current behavior of `redirect-path` is to append value set in application properties to request URL from context

For example for `quarkus.oidc.tenantName.authentication.redirect-path=http://mydomain.com/tenantName`

The redirect url would be http://requestContextUrl.com/ht

[2021-05-31 16:36] bdevreugd-vialis opened #17565 "@QuarkusIntegrationTest with docker image fails on unable to create logfile"
When running an integration test with the new @QuarkusIntegrationTest annotation against a compiled docker image, it will redirect the output to a logfile which resides in a folder that does not exists. Only option to currently is to create the folder before the tests are run (using (static) initializer or QuarkusTestResourceLifecycleManager).

The log file is set here:
https://github.com/quarkusi

[2021-05-31 16:36] #17522 closed

[2021-05-31 16:48] sberyozkin commented on #17563
Hi @fouad-j Can you explain please why do you need to use an absolute redirect path ? If a user needs to access a given Quarkus endpoint then why would the user be redirect, after the authentication to the endpoint in some other domain ?
I appreciate it may be necessary but I'd like to understand why.
Do you also set a `cookie-domain` property for the redirect to the other domain endpoint to compl

[2021-05-31 19:14] Christopher-Chianelli opened #17568 "Allow adding attributes to to the Manifest Main Attributes"
## Description

Currently, Quarkus allows adding attributes to custom sections (see https://github.com/quarkusio/quarkus/blob/9245ad39e42234e929bf24034821c619d76ee23a/core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/JarResultBuildStep.java#L1292-L1299), but does not provide any way to add to the Manifest main attributes (getEntries does not allow modifying main attributes).

There are

[2021-05-31 19:31] aloubyansky commented on #17533
Is there a reason you are not using `Thread.currentThread.getContextClassLoader().loadClass()`?
Your use-case looks like a thirdparty library trying to load an implementation of a service. In which case, TCCL should be the first/default choice, since a third party library shouldn't be making assumptions about the classloading context it is used in.

[2021-05-31 19:45] AJ1032480 commented on #17563
Hi @sberyozkin , I work with @fouad-j,

Our case is that after login to the provider (let's say : tenant-a) quarkus redirect (the app to the redirect-path) as we configured in application.properties  with  : quarkus.oidc.tenantName.authentication.redirect-path=/token. (let's say /token endpoint as redirect path)
And the /token endpoint is a quarkus backend endpoint (here we can inject Userinfo, Js

[2021-05-31 19:47] survivant opened #17569 "not able to change log level on a logger"
I want to change the logger level when I'm running my tests.   I want to change the log level of one particular logger, not all the loggers under a package name

In application.properties, I added this line

I try all those separately
quarkus.log.category."com.comact.iep.codec.service.ScannerCodec".level=OFF
quarkus.log.category."com.comact.iep.codec.service.ScannerCodec".level=FATAL
quarkus.log.c

[2021-05-31 20:13] sberyozkin commented on #17563
@AJ1032480 Hi, thanks, I believe we've had similar problems reported before.
It is a technical problem which for example in case of Keycloak should be resolvable as documented here:
https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/security-openid-connect-web-authentication.adoc#external-and-internal-access-to-openid-connect-provider

Can that help ?

[2021-05-31 20:36] #17455 closed

[2021-05-31 21:26] jimbogithub commented on #17533
Using TCCL fixes the reproducer so we'll get the library changed to do the same.

[2021-05-31 21:26] #17533 closed

[2021-05-31 22:41] stuartwdouglas commented on #17557
It only re-runs changed and failing tests. It is mentioned here: https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/continuous-testing.adoc#2-introduction

We use instrumentation to detect which tests cover which code so we don't waste time running irrelevant tests.

[2021-05-31 23:38] Feavy opened #17571 "Option quarkus.websocket.dispatch-to-worker=true doesn't work anymore in Quarkus 1.13"
## Describe the bug
Setting the value of `quarkus.websocket.dispatch-to-worker` to `true` doesn't change anything. WebSockets remain on vert.x-eventloop threads.

### Expected behavior
WebSockets should be executed on executor threads (like in Quarkus 1.11).

### Actual behavior
WebSockets are executed on vert.x-eventloop threads instead of executor ones.

## To Reproduce

1. Start with Quarkus 1.

[2021-06-01 00:17] stuartwdouglas commented on #17548
I have no idea what is going on here, the browser seems to ask for favicon.ico, then immediately close the connection, so this message is basically a generic 'browser closed the connection' issue.

[2021-06-01 00:47] stuartwdouglas commented on #17543
I don't think there is anything we can do about this, I would suggest just loading it from the ClassPath rather than using Paths.get() as a workaround/more reliable way to handle this.

[2021-06-01 02:23] stuartwdouglas commented on #17557
Actually looks like something else is going on here

[2021-06-01 05:16] stuartwdouglas commented on #17558
You can kinda do this at the moment by specifying quarkus.test.(include|exclude)-pattern to specify the file patterns to include or exclude.

The issue with just hard coding the maven rules is that they don't apply to gradle, and they are user customizable, so I am going to need to figure out some way to push this information down into the continuous testing code.

[2021-06-01 05:28] mrniko commented on #17552
I removed `--report-unsupported-elements-at-runtime`. Now I see another error, which is not appear with 1.13.6.Final

[code]

[2021-06-01 06:09] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/894913079

[2021-06-01 06:19] #17506 closed

[2021-06-01 06:41] geoand commented on #17560
We can certainly make `DockerContainerLauncher` customizable.
I assume you would like to be able to add argument to the `docker run...` command?

Furthermore, how did `@NativeImageTest` satisfy the use case mentioned above?

Thanks

[2021-06-01 06:42] geoand commented on #17565
So you essentially would like to be able to read the log file?

[2021-06-01 06:48] bdevreugd-vialis commented on #17565
The problem is that `DockerContainerLauncher` writes the result to a file called `target/target/quarkus.log`, but since the second `target` folder doesn't exists it will crash with the stacktrace:

[code]

If I create the second `target` folder right before the test, then it will work.

[2021-06-01 06:57] geoand commented on #17565
Can you upload a reproducer project?
I just tried it and it worked as expected - the log was written to `target/quarkus.log`

[2021-06-01 07:14] rsvoboda commented on #17545
What was the reason to not support inner classes with `@ConfigMapping`?
I think there should be good migration path from ConfigProperties to ConfigMapping.

What suggested transition path for users who use `@ConfigProperties` with inner classes?

[2021-06-01 07:20] essobedo opened #17578 "Allow to fetch multiple config parameters as a Map"
## Description

When we need a dynamic configuration, it can be very helpful to use a map. For example, let's say that I want to keep in my configuration the custom reason phrases to return to the enduser according to the http status code.

I would like to have:

The expected code

[code]

The expected configuration
[code]

[2021-06-01 07:21] bdevreugd-vialis commented on #17565
Ugh, while creating the minimal project, I I found the cause in one of our default parent poms which sets the working directory to `${project.build.directory}`

[code]
Which causes this issue, however, it would still be nice if these kind settings where supported, maybe by adding:
`Files.createDirectories(logFile)` ?

[2021-06-01 07:25] YunaBraska commented on #17534
Yesterday I have tried different solutions to create `Document` queries:
* [FAILED] `new Document("$regex", Patternt.compile(myRegex))`
  * Result: "name": {"$regex": {"$regularExpression": {"pattern": "/.*R.*/i", "options": ""}}}
* [FAILED] `new Document(Patternt.compile(myRegex))`
  * Result: "name": {"$regularExpression": {"pattern": "/.*R.*/i", "options": ""}}
* [FAILED] `new Document("$regex"

[2021-06-01 07:27] essobedo commented on #17578
Corresponding PR https://github.com/quarkusio/quarkus/pull/17579

[2021-06-01 07:27] glefloch commented on #17008
Closing this issue as it has been fix in #17184

[2021-06-01 07:27] #17008 closed

[2021-06-01 07:32] geoand commented on #17565
Makes sense. Here it is: https://github.com/quarkusio/quarkus/pull/17580

[2021-06-01 07:33] sdaschner commented on #17557
@stuartwdouglas Yes, in my case all the three tests failed equally... Looking forward to the PR :)

[2021-06-01 07:35] sdaschner commented on #17558
@stuartwdouglas Got it. Is that documented somewhere already?

[2021-06-01 07:50] AJ1032480 commented on #17563
It is interresting to see that keykloak have a KEYCLOAK_FRONTEND_URL mode,
in our case, we do not use keycloak, I do not think the provider  we used have a similar property to set,
Without that,
how can we set the full url of the redirect path ?

[2021-06-01 08:10] fouad-j commented on #17563
Hello @sberyozkin,

Thanks for your reactivity.

I drew a diagram to explain the flow

![image](https://user-images.githubusercontent.com/15068208/120280655-4017ba80-c2b8-11eb-9233-7a4114010725.png)

https://quarkus.io/guides/security-openid-connect-multitenancy

1. User call https://company.com/authentication?tenantId=tenant1 to get authenticated

2. Kubernetes [Ingress ](https://kubernetes.io/do

[2021-06-01 08:27] loicmathieu commented on #17525
I was running 1.13 previously so it's definitly something going on with Quarkus 2.0.
More info on this, I use a property inside of one of those external config file and inject it inside a Java class via `@ConfigProperty`, I don't know if it is the scenario you tested.
I'll try to make a reproducer later this week if I found the time.

[2021-06-01 08:39] cmoulliard opened #17581 "Configure java agent for cloud remote debugging and set env var JAVA_OPTIONS_TOOL"
## Description

I propose that we provide a new parameter/property able to configure the following ENV var for Cloud deployment of an application (and maybe for local remote debugging as syntax changes with JDK).
[code]

We should offer the possibility for the user too to:
- Enable or disable the `suspend=y|n` argument,
- Specify the external port to be used to access remotely the application (`e.

[2021-06-01 08:49] cmoulliard opened #17582 "NodePort cannot be defined if the service contains several ports"
## Describe the bug

The Kubernetes `nodePort` cannot be defined for one specific port if the service contains several ports but only globally using the following property `quarkus.kubernetes.node-port`.

Here is what I tried to configure for a service able to expose 2 ports: `8080` and `5005` and where it is needed to specify 2 `nodeports`: `30000`, `31000`

[code]

See code:

- https://github.co

[2021-06-01 08:52] mkouba opened #17583 "ArC - rework the way the build profile/property producer beans are disabled"
Currently, we add `@Alternative` and [remove `@AlternativePriority` if present](https://github.com/quarkusio/quarkus/pull/17570). However, if a user declares an `@Alternative` producer and enables it via `quarkus.arc.selected-alternatives` then `@UnlessBuildProperty` and friends would have no effect.

We could:
1. Remove `@Produces` and all scopes and known qualifiers/stereotypes (due to [Simplifi

[2021-06-01 09:10] zakkak commented on #17552
In `runtime/src/main/java/io/quarkus/redisson/client/runtime/graal/NettySubstitutions.java` you are injecting some accessors to `io.netty.channel.socket.InternetProtocolFamily`'s [`localHost` field](https://github.com/quarkusio/quarkus/blob/7193f6307c53659afb9e4c97ee817f02d779140a/bom/application/pom.xml#L140), however this field is no longer available in [Netty 4.1.65.Final which is the one used

[2021-06-01 09:18] sberyozkin commented on #17563
@fouad-j thanks, have you tried your patch in your deployment ? What happens when, after the redirect, Quarkus attempts to exchange the authorization code for the tokens ?

[2021-06-01 09:21] mrniko commented on #17552
The code of InternetProtocolFamily hasn't been changed since 4.1.60 https://github.com/netty/netty/blob/d34212439068091bcec29a8fad4df82f0a82c638/transport/src/main/java/io/netty/channel/socket/InternetProtocolFamily.java

[2021-06-01 09:22] iocanel commented on #17581
+1

[2021-06-01 09:28] Sanne commented on #17537
yea and I'm well aware that some people will hate me for this. But I still think it's necessary - we've kept this around (undocumented) because often we couldn't address specific needs with alternative fixes fast enough, but it has to stop at some point as this backdoor is unsupportable and leads to more trouble.

Fair question, but my comment was meant in context of "should we backport or not to

[2021-06-01 09:29] #17557 closed

[2021-06-01 09:36] zakkak commented on #17552
[Quarkus 1.13.6.Final is using Netty 4.1.49.Final](https://github.com/quarkusio/quarkus/blob/1.13.6.Final/bom/application/pom.xml#L140), that's why the provided reproducer is working in 1.13.6.Final.

[2021-06-01 09:45] maxandersen commented on #8646
going to reopen this as its better it shows up red than green in status.quarkus.io.

[2021-06-01 10:25] mrniko commented on #17552
InternetProtocolFamily has `public InetAddress localhost()` method even in netty 4.1.49.Final version.

[2021-06-01 10:32] geoand commented on #17430
Unfortunately the way we handle things won't work for this use case.

The issue is that we reading the entire body in a filter is rathe dodgy and can mess up the subsequent processing by Vert.x (and therefore the Multipart handling)...
I think we should have a way to provide some kind of filter that logs the request body (or allows the user to handle it) that will play nice with the rest of the in

[2021-06-01 10:36] sberyozkin commented on #17563
@AJ1032480 @fouad-j Here is another link for you:

https://quarkus.io/guides/vertx#reverse-proxy

Can you try:

[code]
Can you please check what X-Forwarded heades the `Kubernetes Ingress` proxy sets before forwarding to the internal endpoint if the above does not work ?

I'm quite sure we've had such an issue before, can't find the Zulip thread.

We'll make sure it works for you - but if possible

[2021-06-01 10:39] michalszynkiewicz opened #17586 "quarkus:dev test run has assertions disabled"
## Describe the bug
When running `mvn quarkus:dev` a test that fails with unmet assertion succeeds.

[2021-06-01 10:42] kwakiutlCS commented on #17543
Thank you for explaining it.

[2021-06-01 10:42] #17543 closed

[2021-06-01 10:45] nunomarks opened #17587 "Gson sub class deserialization is not working properly"
## Describe the bug
From Quarkus 1.13.x on, we've been unable to deserialize a Json object to a subclass based on an attribute, using Gson. This behaviour was not verified previously (we've tested in Quarkus 1.10.x, 1.11.x and 1.12.x). We suspect that something related to reflection that has changed in this minor Quarkus version might be the cause of this issue.

### Expected behavior
Everything s

[2021-06-01 10:47] #17485 closed

[2021-06-01 11:00] pjgg opened #17588 "ConfigMapping maps some properties in a different way than ConfigProperties"
UsefulLinks:
- https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.0#smallrye-config
- https://quarkus.io/version/main/guides/config-mappings

Quarkus Version: Upstream (2.x)
Imagine that you have the following application.properies

[code]

Using old `ConfigProperties` annotation, these properties must be mapped with the following class:

[code]

Note: `delay-ms` property is mapped with a

[2021-06-01 11:01] pjgg commented on #17588
cc @radcortez

[2021-06-01 11:08] geoand commented on #17586
Do you have an example? Or a reproducer project?

[2021-06-01 11:11] michalszynkiewicz commented on #17586
Actually, while simplifying the reproducer I notices that `mvn clean package` also runs tests without assertions.

This is my reproducer:
https://github.com/michalszynkiewicz/dev-mode-tests-error

[2021-06-01 11:12] michalszynkiewicz commented on #17586
It even has enabling assertions specified explicitly in the surefire plugin configuration...

[2021-06-01 11:14] michalszynkiewicz commented on #17586
This is what caused the problem during quarkus insights, I used `assert` in the newly added test, that's why it was reported successful.

[2021-06-01 11:15] michalszynkiewicz commented on #17586
one last thing :) it works as it should in IntelliJ

[2021-06-01 11:46] geoand commented on #17586
Oh, so you mean Java language assertions :).

You would need to run dev-mode like so: `mvn quarkus:dev -Djvm.args=-ea`

[2021-06-01 11:47] geoand commented on #17586
@stuartwdouglas should we enable `-ea` by default when running dev-mode?
That would certainly be a breaking change

[2021-06-01 11:51] #17481 closed

[2021-06-01 12:03] sberyozkin opened #17591 "HTTP request fails with 401 if more than one IdentityProvider produced no SecurityIdentity but is allowed if a single one is used"
## Describe the bug
Bill @patriot1burke has spotted that when a matching `HttpAuthenticationMechanism` requests the request credentials be converted to `SecurityIdentity` then if only a single `IdentityProvider` returns `null` then the request is allowed to continue with an anonymous identity, despite the credentials being available - but will fail with `401` if more than one `IdentityProvider` ha

[2021-06-01 12:07] renegrob opened #17592 "re-augmentation causes information to get lost in 2.0.0.CR2"
## Describe the bug
Some of the generated code in `/quarkus-app/quarkus/generated-bytecode.jar` gets lost if the project is re-augmented after the build.

### Expected behavior
I can run re-augmentation any number of time and will always get the original if no build time properties have changed.

### Actual behavior
The augmentation output after re-augmentation is reduced and leads to a different

[2021-06-01 12:33] laurentperez opened #17593 "Add an info-like endpoint to get app version"
## Description

I found no built in solution to get the app version using default endpoints (smallrye, MP)

There have been discussions on zulip chat about a Spring-like actuator endpoint (@agoncal ). Because enabling Dev UI in prod is a no no. Chat : https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Can't.20we.20have.20DevUI.20in.20prod.20.3F

## Implementation ideas

Enable some

[2021-06-01 12:35] MarcusBiel opened #17594 "Quarkus should simplify retrieving the client ip address"
Currently, to retrieve the real client's ip address, I need to parse the info from the header like this:

String forwardedForHeader = Objects.toString(routingContext.request().getHeader("X-Forwarded-For"), "");
String iAddress = forwardedForHeader.split(",")[0];

-
In Quarkus, Marcus would expect there'd be a better way than that! ;)

[2021-06-01 12:38] michalszynkiewicz commented on #17586
there is one other issue closeby, assertions are ignored with `QuarkusTest`. I created https://github.com/quarkusio/quarkus/pull/17595 to fix this.

For me, it would be much more intuitive to have assertions enabled in the dev mode tests.

[2021-06-01 12:41] andreas-eberle commented on #17359
Hi @geoand ,

it looks like the same issue happens with Quarkus 2.0.0.CR2 when you use coroutines. Can you have a look? I updated my reproducer project: [2021-05-19-restclient-dev-mode (2).zip](https://github.com/quarkusio/quarkus/files/6576292/2021-05-19-restclient-dev-mode.2.zip)

Many thanks!

[2021-06-01 12:41] sberyozkin commented on #17548
Should we close this issue then ?

[2021-06-01 12:42] geoand commented on #17359
Can you open a new issue please?

[2021-06-01 12:45] andreas-eberle commented on #17359
Sure

[2021-06-01 12:49] andreas-eberle opened #17597 "Dev mode fails to reload classes when using reactive rest client with coroutines in Quarkus 2.0.0.CR2"
## Describe the bug
Please note 2: This looks like the same issue as #17359. The only difference is that we use coroutines and Quarkus 2.0.0.CR2 this time.

### Adapted description from #17359

We are using resteasy reactive and the reactive rest client in Quarkus 2.0.0.CR2, gradle and Kotlin with coroutines. Everytime the quarkus dev mode reloads the code, Quarkus is broken and we have to restart

[2021-06-01 12:50] cescoffier commented on #17548
I would say so, as #17551 fix the double ending issue.

[2021-06-01 12:58] DavideD commented on #17256
This should've been already fixed

[2021-06-01 13:00] zakkak commented on #17552
In your code you are **not** substituting the **method** `localhost()` but the **field** `localHost` which exists in [4.1.49.Final](https://github.com/netty/netty/blob/d0ec961cce19646519d6a0d59e7604b0eacd9bf2/transport/src/main/java/io/netty/channel/socket/InternetProtocolFamily.java#L33) but not in [4.1.65.Final](https://github.com/netty/netty/blob/netty-4.1.65.Final/transport/src/main/java/io/ne

[2021-06-01 13:09] gsmet commented on #17592
@stuartwdouglas looks like something for you.

[2021-06-01 13:10] gsmet commented on #17597
@geoand this looks like a CL issue. Maybe you want to have a look?

[2021-06-01 13:18] geoand commented on #17597
Yup, I'm already looking into it

[2021-06-01 13:25] TomasHofman commented on #16122
Regarding `ContainerResponseFilter` not being triggered for certain methods - it depends on the return type and it is purposeful. If the method returns Multi, the response filters are not triggered because by the time a filter would be triggered, data may already be streamed to the client, so e.g. trying to set response headers at that stage won't work. (A response filter triggers after a method i

[2021-06-01 13:33] schulzp commented on #17560
Yes. Yet, an SPI which would allow using Test Containers to interact with docker would simplify things, for example, volume mounts.

The associated `NativeTestExtension` allows specifying `native.image.path` which I use to specify a path to a shell script instead of a binary. That shell script does, what the new `DockerContainerLauncher` does: it maps arguments passed to it (application properties

[2021-06-01 13:58] JackyWitt opened #17602 "protected List<E> not working in Quarkus 13.4"
Currently we updating our services to a newer Quarkus Version.
One of our Services is using this line of code:
`protected List<E> children;`

We using this Object since previous Quarkus Versions. Since Quarkus 13.4 Final, we have following Exception.
We're using java 11.08

![exception](https://user-images.githubusercontent.com/85175373/120333008-90f6d580-c2ef-11eb-9874-fb17b6e17f09.png)

[2021-06-01 13:59] ebullient commented on #16032
Done!

[2021-06-01 13:59] #16032 closed

[2021-06-01 14:06] BigFatDog opened #17603 "Rest API report netty error on returning large byte[]"
##  Description

My Rest api is simple: to return `byte[]`:

[code]

When I run, I got the following error (full error log is in the bottom of this issue):
[code]

### Expected behavior
Rest API return value without error

### My investigation
A solution with spring is to increase the codec memory (https://stackoverflow.com/questions/65248119/debugging-illegalreferencecountexception-refcnt-0-decre

[2021-06-01 14:07] geoand commented on #17560
Very interesting information, thanks.

So if we introduced an SPI that would essentially pass in the container image to use, the ports, the log file and expect a process to be launched with that info, would that be enough?

[2021-06-01 14:10] sirf commented on #16122
Thanks for looking into this.

I kind of expected that the response filter would always be executed before serializing the Multi in a response, but if the current behavior is deemed correct then your suggested workarounds will most likely do the trick.

I guess it makes sense that ResourceInfo is null when there is no endpoint.

[2021-06-01 14:17] maxandersen commented on #17594
https://github.com/quarkusio/quarkus/issues/4922 Is related

[2021-06-01 14:26] kenfinnigan commented on #17594
Can't you do `((HttpServerRequest)routingContext.request()).remoteAddress().host()`?

[2021-06-01 14:28] MarcusBiel commented on #17594
No :)

[2021-06-01 14:30] pabulo-silva-tdx commented on #17206
Hi Guys I hit this same issue on version 1.13.6.Final and after doing some debugging I think I found the cuprit:

io.quarkus.undertow.websockets.runtime.WebsocketRecorder#createHandler

where WebSocketDeploymentInfo get max frame size is not taking into account when creating VertxServerWebSocketContainer and also not managed in io.undertow.websockets.vertx.VertxWebSocketHandler#VertxWebSocketHandl

[2021-06-01 14:37] gsmet commented on #17602
If you can get us a small reproducer (i.e. a simple Maven project reproducing the issue), that would help.

Also maybe try 1.13.6.Final first, just to be sure.

[2021-06-01 14:38] kenfinnigan commented on #17594
Do you have a reason why? That's exactly how I'm setting the client IP on spans

[2021-06-01 14:46] MarcusBiel commented on #17594
I tested it, and I got the internal docker address, also, there can be a list of proxies in between:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For

[2021-06-01 14:50] kenfinnigan commented on #17594
Thanks, I will verify whether I have the same problem with spans

[2021-06-01 15:10] gsmet commented on #17206
Good detective work. Can you check if https://github.com/quarkusio/quarkus/pull/17605 fixes it for you?

https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#checking-an-issue-is-fixed-in-main will probably be useful except you need to test my branch instead of `main`.

Thanks!

[2021-06-01 15:34] pabulo-silva-tdx commented on #17206
Seems great, thx :)

[2021-06-01 15:37] bdevreugd-vialis opened #17607 "QuarkusIntegrationTest cannot locate build output directory if it contains special characters like #"
My project path contains '#' character, which gives me the following exception:
[code]

The problem is:
https://github.com/quarkusio/quarkus/blob/13fb194d4f3cf25495758f325aee5977a80d91a4/test-framework/junit5/src/main/java/io/quarkus/test/junit/IntegrationTestUtil.java#L277

Which uses `url.getPath`, which gives an URL-encoded path! This can be fixed by calling `URLDecoder.decode(p, "UTF-8")` befo

[2021-06-01 16:31] radcortez commented on #17588
Interesting.

Both `@ConfigProperties` and `@ConfigMapping` support a naming strategy and the default is `kebab-case` (property is derived by replacing case changes with a dash).

Did you set `quarkus.arc.config-properties-default-naming-strategy` to something else?

Also, `@ConfigProperty` to change the name shouldn't work. You need to use `@WithName`.

[2021-06-01 16:46] brunobaiano commented on #14980
this thread help me a lot! the command .toCompletableFuture().join() really do the job!
Thanks

[2021-06-01 16:51] schulzp commented on #17560
Yes, that sounds workable! As for the initialization, I'd expect the FQN of the container image in combination with a parameter object of a new type `ArtifactLauncherContext` that provides a reference to `org.eclipse.microprofile.config.Config` as well as the log file path and anything else that might be relevant in future.

I'm not so sure about "expect[ing] a process to be launched". The SPI sho

[2021-06-01 16:52] radcortez commented on #17545
From the experience we had, supporting classes adds way more complexity for little gain (fields visibility, reflection, types defaults values). Please check the additional discussion here: https://github.com/smallrye/smallrye-config/pull/310

We can add one to the documentation.

Just convert the classes to use interfaces instead. They can still be used as inner to the main mapping interface. Chec

[2021-06-01 17:03] pjgg commented on #17588
No, I didn't set any "naming strategy". So If the default is `kebab-case`  ConfigMapping should work with the above configuration isn't it?

I mean if I have this property `vertx.kafka.producer.delay-ms=100` and this class:

[code]

is expected to work?

[2021-06-01 17:09] pjgg commented on #17545
Thank you @radcortez is very well explained on the above documents!

The transition path for end-users is clear, I mean the annotation `ConfigProperties` is still valid. Is deprecated but is still working so, they are aware of the changes and there is a migration guide.

[2021-06-01 17:15] radcortez commented on #17588
Not sure it this was a type (since the @ConfigMapping is being used in a class and it only support interface). This would be a possible way to map it:

[code]

or

[code]

[2021-06-01 17:17] fabry00 opened #17611 "Rest client reactive class not found"
## Describe the bug
The native application throws some WARNS messages at runtime using the combination of quarkus-resteasy-reactive and quarkus-rest-client

### Expected behavior
Not warn messages should be thrown

### Actual behavior
As soon as I perform a rest request the native application deployed in a docker container throws the following warnings:

2021-06-01 17:07:10,176 WARN  [org.jbo.res.

[2021-06-01 17:21] kenfinnigan opened #17612 "Verify span's client IP is correct through Proxy"
## Description
#17594 indicates the current approach to setting the Client IP as an attribute on the span will use an incorrect value.

Need to verify whether it does set the correct value inside Docker, or through proxies, or change how it's set if it's wrong

[2021-06-01 17:22] radcortez commented on #17525
Check this one:
https://github.com/radcortez/microprofile-samples/commit/907e27e3350ece8138ebe842b6b813052bc12304

Test runs fine. Also in dev mode with `mvn quarkus:dev -Dsmallrye.config.locations=config.properties`. I'm probably missing something :)

[2021-06-01 17:23] radcortez commented on #17545
Are we ok to close this issue then?

[2021-06-01 17:44] sberyozkin opened #17614 "ConfigPhase.BUILD_AND_RUN_TIME_FIXED allows to set properties in JVM mode"
## Describe the bug

A user [has reported](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/http.20permission.20enabled.20runtime.20or.20buildtime.20property) that [enabling the HTTP permissions](https://quarkus.io/guides/security-authorization#disabling-permissions) is allowed in the JVM mode but not in the native mode:

`HttpBuildTimeConfig` -> `AuthConfig.permissions` -> `Polic

[2021-06-01 19:20] luneo7 commented on #17559
I know that the way that it is fetching the property from the config provider is sub optimal, and now we have the Graphite extension at https://github.com/quarkiverse/quarkus-micrometer-registry but I found that getting a config value during runtime using fas-jar was a bug either way... and the Graphite thing was just to illustrate it

[2021-06-01 19:49] jonathasgabriel commented on #17311
I've being facing this same issue with 1.13.5.Final. I'm migrating a production Thorntail app to Quarkus. Ultimately downgrading to 1.12.2.Final solved the issue and I'm moving forward.

I don't have any special scenario:

1 - I have a controller that loads an entity E
2 - This entity E is passed to a repository, where it iterates over E's child list. This is where the error occurs.
3 - I have @Tr

[2021-06-01 23:11] #17385 closed

[2021-06-01 23:44] #17565 closed

[2021-06-01 23:55] #17206 closed

[2021-06-02 00:06] stuartwdouglas commented on #17311
@jonathasgabriel that sounds expected, the entity would be attached to a different TX than the repository transaction. You can't share entities between transactions and expect lazy loading to work.

[2021-06-02 00:08] stuartwdouglas commented on #17311
@Paul6552 your stack trace also indicates this is happening initializing a lazy collection. Is the User passed into at.tanzauswertung.portal.user.mapper.UserMapper.mapFullUser loaded from a different transaction?

[2021-06-02 02:11] stuartwdouglas commented on #6515
So the issue here was the Resteasy does not support constructor injection for @Context, you need to use field injection instead.

Resteasy reactive does support this.

[2021-06-02 02:11] #6515 closed

[2021-06-02 02:21] #17597 closed

[2021-06-02 05:23] calohmn commented on #10402
Maybe it is caused by not all relevant classes being included here:
https://github.com/quarkusio/quarkus/blob/27ba1cb14b85478dc2bd20c7f03fc5c53fdf880a/extensions/jaeger/deployment/src/main/java/io/quarkus/jaeger/deployment/JaegerProcessor.java#L57-L61

It seems to me that
[code]
are missing here. I haven't yet checked whether adding these here resolves the issue, though.

@jmartisk Any comment on

[2021-06-02 05:59] Sgitario opened #17618 "Live Coding (Regression): Warnings when the changing code contains `@ConfigProperty`"
## Describe the bug
Using DEV mode and live coding activated, given my resource as:

[code]

When I run my Quarkus app in DEV mode: `mvn quarkus:dev`.
And update anything in the GreetingResource, for example, from "Hello" to "Hi", the console prints the following warnings when the changes are detected:

[code]

The warnings are unexpected as far I can tell.
Moreover, no warnings are thrown if we d

[2021-06-02 06:02] stuartwdouglas commented on #17463
The TCCL appears to be wrong, Jetty is using the base runtime CL rather than the runtime CL. I can't really see where Jetty is configured though.

[2021-06-02 06:07] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/898355335

[2021-06-02 06:45] mrniko commented on #17552
Sorry, my mistake. I fixed that, but now I'm getting this error:

[code]

Seems quarkus 2.0.0 has own NetUtil substitution. I would like to keep backward compatibility with previous versions. Do you know how to handle that?

Updated project:
[quarkus-redisson-client.zip](https://github.com/quarkusio/quarkus/files/6582506/quarkus-redisson-client.zip)

[2021-06-02 06:51] AJ1039593 commented on #17563
Hello @sberyozkin,

Thanks a lot for last message, it was very helpful.

Based on X-Forwarded and X-Original headers, we did a bad workaround

### Workaround
#### application.properties
[code]

`quarkus.http.proxy.allow-forwarded=false` should be false otherwise **X-Forwaded** are not taken [ForwardedParser.java#L135](https://github.com/quarkusio/quarkus/blob/main/extensions/vertx-http/runtime/src

[2021-06-02 06:54] #17475 closed

[2021-06-02 07:08] Paul6552 commented on #17311
@stuartwdouglas
thanks for the explanation. Yes, I have the same. (My example above).
I am switching from Transaction Required to NOT_Supported and sometimes back to required.

Learned something again

[2021-06-02 07:28] coperator commented on #17455
Thank you very much for fixing this quickly, @geoand! Would it be possible to backport this fix to 1.11. or 1.13. ?

[2021-06-02 07:33] geoand commented on #17455
Yeah, that's a good point

[2021-06-02 07:37] #17545 closed

[2021-06-02 07:40] sirf commented on #16122
Thanks for looking into this.

I kind of expected that the response filter would always be executed before serializing the response. It's supposed to be a filter after all and not just a simple callback, but if the current behavior is deemed correct then your suggested workarounds will probably do the trick.

I guess it makes sense that ResourceInfo is null when there is no endpoint.

[2021-06-02 07:43] sdaschner commented on #17558
+1 for excluding them by default, makes sense to me. But then that flag how to include them should be mentioned that at least in the next CR announcement :)

Is there a version I can test already?

[2021-06-02 08:01] pjgg commented on #17588
thank you @radcortez

This is not an issue is worked as expected.

[2021-06-02 08:01] #17588 closed

[2021-06-02 08:05] geoand commented on #17618
This seems to be caused by https://github.com/eclipse/microprofile-config/pull/381.

We can definitely ignore these warnings, or we could provide our own jboss version the Microprofile MP API jars (like we do with Jakarta).
In any case a user should never see these warnings since there is nothing he or she can do about them

cc @radcortez

[2021-06-02 08:47] xwoker opened #17622 "Switching from Quarkus 1.x to 2.0.0.CR2 breaks for JWTs without issuedAt (iat) claim"
## Describe the bug

After switching from Quarkus 1.13.6.Final to 2.0.0.RC2 my jwt validation failed with a "iat" missing message. It seems that previously this optional field in an JWT as considered optional, with the change to 2.0.0 it became mandatory.

### Expected behavior

I expect that quarkus processes jwts without issuedAt as valid.

### Actual behavior

JWTs without issuedAt are consider

[2021-06-02 09:06] TomasHofman commented on #16122
I wouldn't say it's a callback. The order actions in current implementation is:

* request arrives,
* invoke *request* filters,
* invoke the REST method,
* for non-streaming methods - invoke *response* filters; for streaming methods, data can already go through.

Allowing developers to modify response via a ResponseFilter for streaming methods would create a false impression that a developer can m

[2021-06-02 09:09] ppalaga commented on #17463
Thanks for the pointer, @stuartwdouglas . I'll try to dig deeper.

[2021-06-02 09:29] sberyozkin commented on #16725
Hi @joggeli34, and @oole

I've just noticed only now it was not backported - I messed it up because I removed the test resource which is no longer needed in 2.0.0.x and forgot it was still needed in 1.13.x - but looks like `1.13.6.Final` was the last one. Sorry about it.
@gsmet unless `1.13.7.Final` is still on the map ? If yes then I'll create a PR to backport that fix but with the test resource

[2021-06-02 09:34] geoand commented on #17552
You can use a conditional substitution, something like so:

[code]

[2021-06-02 09:41] stuartwdouglas commented on #17311
@Sanne any chance we could get a better error message for this? The current error message means nothing to me, so will mean even less to our users. It would be nice if it would explicitly state that you cannot use lazy relations outside the TX the entity is loaded in.

[2021-06-02 09:46] sberyozkin commented on #17622
@xwoker Hi, `iat` is a required claim in MP JWT `1.2` since without it it is impossible to restrict it is time to live limit.

Which party is issuing the token ? Is it done in your own client code ? Or by 3rd party tool you can't control ?

[2021-06-02 09:48] sirf commented on #16122
The use-case is primarily to set custom headers in responses, streaming and non-streaming.
This can indeed be achieved through `ResteasyReactiveContainerRequestFilter.getServerRequestContext().serverResponse().addResponseHeader` and it's is by no means a blocking issue for me, but since it's not very intuitive to use a request filter to add something to the response I figured the response filter p

[2021-06-02 09:49] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/898364160

[2021-06-02 10:15] sberyozkin commented on #17622
It was also required in MP JWT 1.1.1 as far as I recall but it was not enforced

[2021-06-02 10:18] xwoker commented on #17622
Unfortunately, It's a 3rd party tool I can't control.

Thanks for pointing out the changes in the MP JWT 1.2 (https://download.eclipse.org/microprofile/microprofile-jwt-auth-1.2/microprofile-jwt-auth-spec-1.2.html#_requirements_for_rejecting_mp_jwt_tokens and https://download.eclipse.org/microprofile/microprofile-jwt-auth-1.2/microprofile-jwt-auth-spec-1.2.html#_required_mp_jwt_claims). I wasn't a

[2021-06-02 10:18] #17622 closed

[2021-06-02 10:19] #17537 closed

[2021-06-02 10:19] sberyozkin commented on #17622
@xwoker if it is a case of a 3rd party issuer which does not set an issued at claim and there is no way it can be changed to set this claim then I can consider adding a smallrye-jwt property to control it, I'll open an issue

[2021-06-02 10:21] sberyozkin commented on #17622
@xwoker Indeed it was required even in `MP JWT 1.1.1` but there was an agreement to start actually enforcing some of the very essential claims were set in `1.2`

[2021-06-02 10:25] sberyozkin commented on #17622
Please watch https://github.com/smallrye/smallrye-jwt/issues/469

[2021-06-02 10:33] sberyozkin commented on #17563
@AJ1039593 Thanks for making it work, it is a good enough workaround IMHO :-)

Please do - I think we need to make it very easy for cases where the server is running behind Kubernetes Ingress and i can imagine it would not only be needed for `quarkus-oidc`.

The `redirect-path` alone is enough - but can you confirm your PR is enough and all works when this PR is applied ?

[2021-06-02 11:05] mkouba opened #17625 "ArC - document io.quarkus.arc.WithCaching"
This annotation can be used together with `javax.enterprise.inject.Instance` to cache the result of the `Instance#get()` operation even for `@Dependent` beans.

[2021-06-02 11:35] radcortez commented on #17618
Interesting. I've never noticed this before, and I usually play a lot with this kind of changes. Maybe they are there and my brain just ignores that. I'll check.

[2021-06-02 11:38] sberyozkin commented on #17563
@AJ1039593 can you try adding:

[code]

See https://github.com/quarkusio/quarkus/blob/main/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java#L146

That should really do it

[2021-06-02 11:50] sberyozkin commented on #17563
I'll update the OIDC docs once it works - it should really be supported well at the Quarkus Vert.x level - for the users not having to be concerned about such details as the external URLs etc (OIDC logout would be another redirect which would be affected, etc)

[2021-06-02 11:51] metacosm opened #17626 "ClassNotFoundException in a synthetic CDI event listener bean during tests"
## Describe the bug

I have the following generated synthetic bean:
[code]

This bean is used during an integration test that emits a CDI event to trigger the bean's `notify` method, which fails with the following exception:

[code]

The same code works without issue on 1.13.6.

### Expected behavior
No exception while running the tests.

### Actual behavior
Exception while running the tests. :(

[2021-06-02 12:00] vsevel opened #17627 "RESTEASY002160 warning when starting an application with @RegisterRestClient"
## Describe the bug

Developing an application with a `@RegisterRestClient` prints out the following warning:

[code]

### Expected behavior

No warning.

### Actual behavior

Warning printed out.

## To Reproduce

* Run the [QUARKUS - USING THE REST CLIENT](https://quarkus.io/guides/rest-client) guide
* Start the application
* execute `curl http://localhost:8080/country/name/greece`

You will see

[2021-06-02 12:01] enbohm opened #17628 "Hot reload fails when using custom beans validator and MP Rest Client"
## Describe the bug
When running in dev mode, hot reload always fails when having a MP Rest Client injected in a custom beans validator. Even if code is changed outside the validator, the reload fails.

### Expected behavior
Changes to code in dev mode should reload without any failure.

### Actual behavior
Getting the following stack trace:

[code]

## To Reproduce

Steps to reproduce the behavio

[2021-06-02 12:05] geoand commented on #17627
I will take a look

[2021-06-02 12:08] cmoulliard opened #17629 "improve kubernetes guide to explain how we use var name including dot"
## Description

Proposition: Improve the kubernetes guide to explain that we use var name including dot(s) as currently there is no mention about that.

By example, you can use such a syntax with 2 vars `greeting.message`, `greeting.name` if they are enclosed with double quotes
[code]

to generate such kubernetes Deployment MANIFEST
[code]

[2021-06-02 12:11] geoand commented on #17629
cc @metacosm

[2021-06-02 12:20] andreas-eberle opened #17630 "Add @Cache annotation to resteasy-reactive"
## Description

Resteasy supports the `@Cache` and `@NoCache` annotations for `GET` resources. These annoations allow it to easily add the `Cache-Control` headers to `GET` calls so the client can know if and how long to cache a response. See https://docs.jboss.org/resteasy/docs/4.6.0.Final/userguide/html/Cache_NoCache_CacheControl.html.

Unfortunately, resteasy-reactive does contain these annotati

[2021-06-02 12:21] mkouba commented on #17626
Hm, the generated class from the snippet above does not represent a synthetic bean but a _synthetic observer method_. And the `getBeanClass()` method seems to return a non-existent class - `DelayedController_registration_observer.class`. Note that the bean class is used to determine whether the generated observer method is "bound" to an application class, i.e. it determines which [classloader shou

[2021-06-02 12:27] #17607 closed

[2021-06-02 12:31] geoand commented on #17627
@radcortez it seems like `QuarkusRestClientBuilder` which you added for supporting MP 4 is registering `MpPublisherMessageBodyReader`, but that provider is also being picked up (due to the `@Provider` annotation) in `ResteasyCommonProcessor#setupProviders`.

I wonder if we should just skip the registration in the latter case when the MP Client capability is present...

[2021-06-02 12:33] AntonFagerberg opened #17631 "Vertx web client uses single thread causing performance issues"
I've been investigating performance issues in our application and I've found something I think looks really strange. I've created a small example which I believe reproduces this problem.

My test resource looks like this:

[code]

(I've been following this guide for creating the Vertx client: https://quarkus.io/guides/vertx#using-vert-x-clients)

The resource has two end-points.

`/test/2` will re

[2021-06-02 12:42] Feavy commented on #17571
I think the problem came with this PR https://github.com/quarkusio/quarkus/pull/15068

[2021-06-02 12:54] kekbur commented on #12923
The problem is still present on Quarkus version 2.0.0.CR2. Here is an updated reproducer:
[join-fetch-issue.zip](https://github.com/quarkusio/quarkus/files/6584652/join-fetch-issue.zip)

[2021-06-02 13:12] manovotn commented on #17583
A bit outside of this question but do you think it would be worth it to expand CDI spec to allow usage of `@Vetoed` on methods/fields? I think it might be worth it.

Otherwise, option 3 sounds like a way to go.

[2021-06-02 13:12] gsmet commented on #17571
Yeah, I think https://github.com/quarkusio/quarkus/pull/17632 should fix it.

[2021-06-02 13:13] sberyozkin commented on #17548
OK, let me close it

[2021-06-02 13:13] #17548 closed

[2021-06-02 13:25] BigFatDog commented on #14695
Still an issue in 1.13.6.final, disabling compression works
[code]

[2021-06-02 13:37] metacosm commented on #17626
I didn't write the original code and I'm not super familiar with CDI so I can't tell you why it worked before… 😓
But it does seem to work now, which is great!
Thank you.

[2021-06-02 13:37] #17626 closed

[2021-06-02 13:43] BigFatDog commented on #17603
Duplicate of #14695

[2021-06-02 13:43] #17603 closed

[2021-06-02 13:58] TomasHofman commented on #16154
Hello @ebullient, can I take a look at this or do you have it already fixed in your work?

[2021-06-02 14:03] ebullient commented on #16154
It was on my list now that the basics are all put back together again after rearranging the insides.

[2021-06-02 14:09] mkouba commented on #17626
Not at all. Thanks for verifying the fix ;-).

[2021-06-02 14:11] TomasHofman commented on #11516
@maxandersen @ia3andy do you mind if I work on this, or has anybody started?

[2021-06-02 14:17] TomasHofman commented on #16154
Whatever you like, I can do it for you so you can do other stuff or leave it to you. I don't think this should be too complicated however, so I won't save you that much time... :)

[2021-06-02 14:18] jmartisk commented on #17448
Gah, this will be quite hard but I'll try to recall each case and what reasons we had to make it this way...
Make me a bucket of coffee for that.

So I'll assume that `*.metrics.enabled` is the "consistent" property naming to enable metrics, and "disabled" the "consistent" default.

Agroal:
- Regarding the default value:
  - `quarkus.datasource.jdbc.enable-metrics` and `quarkus.datasource."datasou

[2021-06-02 14:19] geoand commented on #5551
Closing as out of date

[2021-06-02 14:19] #5551 closed

[2021-06-02 14:20] mkouba commented on #17583
I'm not sure TBH. The original intent of `@Vetoed` was probably to exclude classes from an explicit bean archive (bean discovery `all`), i.e. those that would otherwise end up as `@Dependent` beans. For sure you can use it for tests etc. but the majority of use cases was probably different. See also https://issues.redhat.com/browse/CDI-50.

[2021-06-02 14:26] ebullient commented on #16154
Yea. I was just having a look again.. I certainly don't have to do this myself! What I was wondering is how far back up the tree this should go.. could keep it just in the CLI, or could go back up into command handlers (and watch the fork to gradle.. which a cursory look is telling me I'd have to stare at more).

@aloubyansky -- do you have a preference?

(@TomasHofman .. I'm happy for you to pick

[2021-06-02 14:34] mkouba commented on #17448
Is `quarkus.datasource.jdbc.enable-metrics` really a per-datasource property? I miss the datasource name...

+1 to rename the property. 2.0 is a good opportunity to break things like these ;-).

+1 to change the default behavior.

[2021-06-02 14:35] mkouba commented on #17064
@michalszynkiewicz I think that we can close this one. WDYT?

[2021-06-02 14:39] ebullient commented on #17448
`quarkus.datasource."datasource-name".jdbc.enable-metrics` is per data source, `quarkus.datasource.jdbc.enable-metrics`
is overall. I would ask @Sanne about defaults. metrics can be expensive...

[2021-06-02 14:39] TomasHofman commented on #16154
I was looking into the `ListExtensionsCommandHandler`, as that would make the output sorted both in maven and CLI. I don't think it's worth keeping the current order in some tools as it seems mostly random. Haven't checked Gradle yet.

[2021-06-02 14:41] jmartisk commented on #17448
`quarkus.datasource.jdbc.enable-metrics` applies to the default (unnamed) data source. Named data sources have `quarkus.datasource.NAME.jdbc.enable-metrics`. This works the same as all other `jdbc.*` properties.

`quarkus.datasource.metrics.enabled` is the global setting.

[2021-06-02 14:42] Sanne commented on #17311
good point @stuartwdouglas , we'll think about it.

[2021-06-02 14:43] mkouba commented on #17448
Ok, in that case I think that we don't need to change the Agroal properties and behavior.

[2021-06-02 14:43] aloubyansky commented on #16154
Another idea would be to use the categories (available in the extension catalog api) in similar way it is used on code.quarkus.io.

[2021-06-02 14:46] TomasHofman commented on #16154
In which case can we add a command to list the categories, and a switch to limit list output to a specific category? :)

[2021-06-02 14:51] aloubyansky commented on #16154
That is surely an option. I think displaying the whole catalog may be too much. I guess what we should be looking into is displaying extensions that satisfy some criteria. E.g. a category, key words, native support, etc.

[2021-06-02 14:58] TomasHofman commented on #16154
I will take a closer look and come with some proposal. Thanks!

[2021-06-02 14:59] leonardowestphal opened #17637 "Hibernate invalidate/update cache"
It would be very useful if the hibernate-orm extension added support for invalidating/updating the cache (local or remote) when persistent storage changes occur. Is there such an intention? I didn't find it on the roadmap.

[2021-06-02 15:12] Sanne commented on #17637
hi @leonardowestphal there already is a capability to invalidate the regions, by using the standard Hibernate ORM APIs.
Did you try those?

[2021-06-02 15:43] faermanj opened #17638 "ALB HTTP Events cause NullPointerException on QuarkusStreamHandler.java"
## Describe the bug
HTTP(S) Events from Application Load Balancers causes NPE, likely because only API Gateway fields are mapped.

### Expected behavior
Expected to work just like API Gateway, but taking requests from load balancers instead.
There are many cases to which direct HTTP is preferred to API Gateway, but shouldn't be hard to support both.

### Actual behavior
ERROR [qua.ama.lam.http] (m

[2021-06-02 15:49] radcortez commented on #17627
Is registration automatic? Don't you need a `@RegisterProvider` in the REST Client case?

[2021-06-02 15:55] faermanj commented on #17638
Just forked and learning about contrib, hope i can submit a PR on this soon...

[2021-06-02 15:57] geoand commented on #17627
It gets registered with RESTEasy because it handles both the server and client providers in the same way.

[2021-06-02 17:38] #16107 closed

[2021-06-02 17:43] gsmet commented on #17638
@faermanj https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md has some nice tips!

[2021-06-02 17:50] leonardowestphal commented on #17637
Hi @Sanne
did you mean, for example, using:

[code]
If so, it would be a very manual and infeasible process (in my scenario) to control whether a certain entity was changed or not.
Is there another way?

[2021-06-02 18:27] suchwerk commented on #16753
I just run into that issue on my own project. This reproducer also fails with 2.0.0.CR2

[2021-06-02 18:45] Sanne commented on #17637
I'm not sure I understand - I thought you wanted us to expose an explicit operation to invalidate caches, but now it sounds like you're after an automatic invalidation. Hibernate ORM always invalidates its caches automatically when a matching entity is modified in the DB.

Could you elaborate on your use case? And what are you referring to when mentioning a "remote cache" ?

[2021-06-02 18:49] patriot1burke commented on #17638
What version of quarkus?

quarkus-amazon-lambda-http is AWS HTTP gateway   quarkus-amazon-lambda-rest is AWS REST gateway.  Looks like APplication Load Balancer uses REST payload 1.0?

https://docs.aws.amazon.com/lambda/latest/dg/services-alb.html

So use quarkus-amazon-lambda-rest

[2021-06-02 18:49] #17638 closed

[2021-06-02 18:54] Sanne commented on #12923
@kekbur thanks for the reproducer - I just fetched it, and it seems tests are passing. Do I need to make any changes to experience the issue?

[2021-06-02 18:56] Sanne commented on #12923
nevermind :) I hadn not seen your instructions above at https://github.com/quarkusio/quarkus/issues/12923#issuecomment-759292370

yes it fails, I'll have a look tomorrow. Thanks!

[2021-06-02 19:12] bvarner commented on #8298
according to https://quarkus.io/guides/getting-started-testing#native-executable-testing, the native image test annotation is deprecated.

I've been using @QuarkusIntegrationTest, and I'm able to run with `-Pnative` and without, by adding a failsafe execution to my normal build plugins listing.

[2021-06-02 19:16] survivant commented on #8298
Oh!  that's a old issue that I filled.  It was a issue in 2020.  Let's close this issue.

[2021-06-02 19:16] #8298 closed

[2021-06-02 19:19] vipseixas commented on #12512
@geoand Any chance of changing this plan?

Starting containers to keep unused features from failing (and bootstrapping the features themselves) seems sub-optimal.

As an example, I have a service that uses PGSQL, RabbitMQ and MinIO so I have to start 3 server containers just to test business classes that don't use them.

[2021-06-02 19:28] maxandersen commented on #11516
@ebullient is rewamping the cli but would be interesting to have this. So +1 for me

[2021-06-02 19:33] ebullient commented on #11516
Code looking for wrappers has been consolidated.. so this should be easier .. go for it

[2021-06-02 19:45] leonardowestphal commented on #17637
I will try to detail a little more.

Local cache = hibernate-orm extension using the default Caffeine cache (in the same instance of the application).
Remote cache = Hibernate-orm extension using Infinispan or another cache provider running on a different server or instance. From what I understand it's not supported by hibernate-orm extension yet.

In the documentation https://quarkus.io/guides/hi

[2021-06-02 19:46] luneo7 opened #17640 "OpenTelemetry OTLP Exporter and Default Paramters Customizer"
## Description

When trying to use OpenTelemetry with AWS Otel (https://aws-otel.github.io/) I saw that right now the ContextPropagators are fixed to W3C (which doesn't work with AWS X-Ray), there is no possibility to change the Id Generator in the SdkTracerProviderBuilder (to work with AWS Otel we need to set it to AWS Id Generator), and also no way to change the append info to the Resource (AWS

[2021-06-02 19:50] bvarner commented on #7536
Bump on this issue:

I've been trying to get Jacoco to report coverage from failsafe tests, and I cannot get it to do it.
I've set everything up to use the agent, but when the jar is executed by `io.quarkus.test.common.JarLauncher` the agent is never included.

Looking into the JarLauncher, you can see the following, which corresponds to my logging output from the failsafe plugin:

[code]

As you

[2021-06-02 20:15] geoand commented on #12512
It's rather unlikely at this point

I understand the use case, but the complexity this would entail on the Quarkus side just doesn't seem warranted IMHO

[2021-06-02 20:19] qfcgc opened #17642 "Spring Cloud Config client OpenID Authorization feature request"
Quarkus 'spring-cloud-config-client' extension only supports `username` / `password` authentication. But it is impossible to get properties from Spring Cloud Config server which requires OpenID access token. It would be great for me to see this feature in future releases

[2021-06-02 20:23] sberyozkin commented on #17642
May be `quarkus-oidc-client` can help...

[2021-06-02 20:27] Feavy commented on #17571
Thank you! I use this option to be able to do blocking operations (like saving users' data in a database) as they are not allowed on IO threads.
I don't know if there is a better way to do it. I think it would be much better to only use a worker thread while doing blocking tasks, and remain on vertx threads for the rest. But I don't know how to do it.

[2021-06-02 20:33] qfcgc commented on #17642
@sberyozkin I asked about this feature on stackoverflow (link: https://stackoverflow.com/questions/67771094/is-there-a-possibility-to-load-properties-from-spring-cloud-config-server-which), @geoand replied: "The extension currently only supports username / password authentication". So I don't think it can be configured using `quarkus-oidc-client` now.
Maybe that extension can be used for getting a

[2021-06-02 21:12] sberyozkin commented on #17642
Yes, this is what `quarkus-oidc-client` is used for, `quarkus-oidc-reactive-client-filter`/`quarkus-oidc-client-filter` can be used to transparently set the token

[2021-06-02 21:32] dckallos commented on #9677
@skattela I'm extremely grateful to your amazing eye!

Looks like my `application.properties` component for the fix should be adjusted then as well.

[2021-06-02 23:00] radcortez commented on #17627
Feel free to remove one of the registrations. The code I added is mostly a copy from RESTEasy and it was the only way to pass in our own custom CDI injector. I guess that I should have also submitted a PR to make that more extendable on the RESTEasy to remove the unnecessary Quarkus code. In that case, I believe we probably need to filter out on the Processor side.

[2021-06-03 01:35] #17571 closed

[2021-06-03 01:40] stuartwdouglas commented on #17558
I have just changed the quarkus.test.exclude-pattern to default to the failsafe IT naming patterns. With the current master your example will run 2 tests, and re-run them as related classes are modified.

CR3 should be out soon with this fix.

[2021-06-03 02:46] stuartwdouglas commented on #14695
Turns out my fix was incomplete: https://github.com/netty/netty/pull/11358

It fixes it if compression is actually used, but it fails if no accept-encoding header is present.

[2021-06-03 04:15] hantsy commented on #12512
@geoand I would like to provide an approach like Weld Junit 5(also provide simple mocking and alternative beans replacement by programmatic approach) and Arquillian, let developers decide the beans be packaged into the deployment unit for testing purposes. I saw some facilities in the Quarkus source codes, but the tools are not available for developers? not seeing them in the Guides.

If possible

[2021-06-03 05:51] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/901691206

[2021-06-03 05:57] #17630 closed

[2021-06-03 06:04] Sgitario opened #17653 "NPE in ConfigMapping on Native when using -H:ResourceConfigurationFiles or quarkus.native.resources.includes property"
## Describe the bug
Using an application that needs a resource, when registering this external resource for Native via:

- Or `pom.xml`:
[code]

And:
[code]

- Or via Quarkus property:
[code]

It builds ok, but when running the Native tests or running the Native app with the next Null pointer exception:

[code]

## To Reproduce

Steps to reproduce the behavior:
1. `git clone https://github.com/Sgi

[2021-06-03 06:07] Sgitario commented on #17653
cc @radcortez maybe this is related to the new `@ConfigMapping` annotation changes?

[2021-06-03 06:18] geoand commented on #12512
That's essentially what `@QuarkusUnitTest` does (and it is used extensively by extesion authors) but we don't see it as something user facing, which is why you won't find it in the guides.

I don't see how that would work

[2021-06-03 06:39] YunaBraska commented on #9801
I might missed something but don't we just need an `@Indexed` annotation for the already existing command via the `MongoDBClient`? something like `mongoClient.getDatabase(myDatabaseName).getCollection(myCollectionName).createIndex(Indexes.descending(myIndexField))`. Why we are looking at the same step for migration tools? I am just a bit inpatient while waiting for the index feature :D

[2021-06-03 06:43] mkouba commented on #17628
FTR the workaround is to make the rest client injection lazy, i.e.:
1. add `@ApplicationScoped` to the rest client interface (it's `@Dependent` by default)
2. force lazy instantiation on the client side, i.e. use `@Inject @WithCaching @RestClient Instance<RestClientInterface> instance` and `instance.get()`

[2021-06-03 06:58] geoand commented on #17642
Definitely sounds like an interesting feature to add

[2021-06-03 07:01] rverma-nsl commented on #13602
Is there any update on this?

[2021-06-03 07:04] #17628 closed

[2021-06-03 07:19] geoand commented on #17631
Have you tried increasing the `maxPoolSize` option (see https://vertx.io/docs/apidocs/io/vertx/ext/web/client/WebClientOptions.html)?

The default is set to 5, which means that the WebClient will not allow more than 5 in flight requests per host

[2021-06-03 07:46] gsmet commented on #16753
@stuartwdouglas I can confirm I was able to reproduce it with `main` by just going through the steps in Andy's original message. Could you have a look? That looks like a very annoying issue.

[2021-06-03 07:52] Sgitario opened #17657 "Using Vert.x Auth, Native image build failures on GraalVM 21.1 with Random/SplittableRandom initialized at build time"
## Describe the bug
Using the following Vert.x auth dependency:

[code]

I'm aware that other community dependencies might not be working on Native, but unless we should provide workarounds for users to issues like this.

And then using the `io.vertx.ext.auth.jwt.JWTAuth`, for example:

[code]

This fails to build on Native because JWTAuth uses `io.vertx.ext.auth.impl.jose.JWT` which contains a Ra

[2021-06-03 08:10] glefloch commented on #17642
I would like to work on this one. If I understand correctly, we would update spring-cloud-config-client to add the `Bearer` token as header:

https://github.com/quarkusio/quarkus/blob/577f3ac64974b382efd77a345041b1178dd6fe60/extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/VertxSpringCloudConfigGateway.java#L185

Should we add the `quarkus-o

[2021-06-03 08:20] ochaloup opened #17658 "Adjust destroy and beforedestroy events for transactional context to fit better with CDI spec"
The `@Transactional` context lifecycle events `@Destroyed` and `@BeforeDestroyed`are currently fired at time before and after transaction manager calls `commit/rollback`. This is more or less good but it's not what the spec says - https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#builtin_contexts
Especially for the `@BeforeDestroyed` event there is said that it should be fired `an event

[2021-06-03 08:33] zakkak commented on #15331
According to https://github.com/oracle/graal/pull/3382#issuecomment-832719462 the server mode is going to be completely removed in the future.

[2021-06-03 08:48] FroMage commented on #17430
Is it because Vert.x handles multi-part by bypassing our entity stream?

[2021-06-03 08:54] gsmet commented on #17657
@Sgitario https://github.com/quarkusio/quarkus/pull/17660 should fix it

[2021-06-03 08:55] geoand commented on #17430
Yes, exactly

[2021-06-03 08:57] FroMage commented on #17499
I don't think you should create an entity class for something which isn't an entity, but you should be able to get your projection with this:

[code]

Something like that ought to work. See https://docs.jboss.org/hibernate/orm/5.5/userguide/html_single/Hibernate_User_Guide.html#hql-select-clause

[2021-06-03 08:58] Sgitario commented on #17657
Thanks a lot! You were so fast, brilliant! :D

[2021-06-03 09:02] FroMage commented on #17527
Sorry I'm not familiar with what this override does.

[2021-06-03 09:12] FroMage commented on #17430
Can we detect that someone changed it, and then load it differently frmo vert.x?

That won't work for any other custom vert.x-specific handler that bypasses the jax-rs API, but :shrug:

[2021-06-03 09:16] geoand commented on #17430
I would much like to avoid having to do something like that. I would prefer if we could have some kind of special filter that could let the user handle the entire body without messing up the following handlers for Vert.x.
That said, I don't know what that would look like

[2021-06-03 09:35] FroMage commented on #17430
Not sure we can do that if one of the handlers needs to stream the body into something: there's never any "fullly loaded" representation of the bytes.

The best we might be able to do is an API that lets users "see" the byte buffers as we pass them to whatever's consuming them. Not sure it'd help in this case.

Sort of like a streaming filter…

[2021-06-03 09:40] cescoffier commented on #17064
I would say so, improvements can be added later.

[2021-06-03 09:40] sberyozkin commented on #16725
@joggeli34 @oole Backport PR is here #17662

[2021-06-03 09:57] radcortez commented on #17653
Not sure. I'll need to check. Did it work without adding the argument?

[2021-06-03 09:57] #17627 closed

[2021-06-03 10:03] mkouba commented on #17064
Addressed in https://github.com/quarkusio/quarkus/pull/17381, https://github.com/quarkusio/quarkus/pull/17442 and follow-up bugfix PRs.

[2021-06-03 10:03] #17064 closed

[2021-06-03 10:07] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/901700124

[2021-06-03 10:07] #16093 closed

[2021-06-03 10:20] mkouba commented on #17658
We have to think about it. Like I mentioned in https://github.com/quarkusio/quarkus/pull/17544#issuecomment-851371920 the only problematic part is probably `@Initialized(ApplicationScoped.class)` (and obviously `@Initialized(RequestScoped.class)`). It shoud not be a problem for other contexts. I know that it's not very consistent but the spec is IMO not very consistent either. E.g. the request con

[2021-06-03 10:28] sberyozkin commented on #17642
May be that code should be encapsulated in a default `SpringCloudClientCredentialsProvider` ? And then a new `spring-cloud-config-client-oidc` extension would only depend on `quarkus-oidc` and provide `SpringCloudClientCredentialsProvider` implementation which would set `Authorization: Bearer token` ?

Does it sound reasonable ?

[2021-06-03 10:31] sberyozkin commented on #17642
Or may be simpler, avoid `quarkus-oidc-client` altogether and use Vert.x client directly from this extension to acquire a token, though `quarkus-oidc-client` is quite flexible. Not really sure which option is best

[2021-06-03 10:35] geoand commented on #17642
I think this option is probably the best. I don't think we need to make things complicated for this use case

[2021-06-03 10:36] geoand commented on #17642
👍🏼

[2021-06-03 10:40] sberyozkin opened #17664 "Support the dynamic KeycloakPolicyEnforcerAuthorizer tenants"
## Description

KeycloakPolicyEnforcerAuthorizer tenants configured in `application.properties` are supported in 2.0.0.x but it is not possible to create them programmatically yet as can be done for OIDC tenants with `TenantConfigResolver`.

## Implementation ideas

Add `TenantPolicyConfigResolver` which would accept `RoutingContext` and the current OIDC `tenantId` and return `KeycloakPolicyEnforc

[2021-06-03 10:53] angelo147 commented on #13988
+1 from me. Issues still exists for RESTEasy.

[2021-06-03 11:19] sberyozkin commented on #17631
`quarkus-oidc-client` (and other extensions depending on it) should probably have the configuration options to increase it

[2021-06-03 11:20] #17234 closed

[2021-06-03 11:22] geoand commented on #17631
@sberyozkin that sounds like a very good idea.
IMHO, any extension that uses the Vert.x Web Client and expects to hit a single host a lot, should probably have this value configured higher by default

[2021-06-03 11:22] efrancis59 opened #17665 "Native image build fails on windows 10"
## Describe the bug
I get error messages when I try to build a native executable on windows 10

### Expected behavior
Build must complete without any problem

### Actual behavior
The build process stops and displays error messages.
Fatal error:org.graalvm.compiler.java.BytecodeParser$BytecodeParserError: org.graalvm.compiler.debug.GraalError: Fold invokes should no longer exist....

## To Reproduc

[2021-06-03 11:23] sberyozkin commented on #17631
Good point, yes, will take of the OIDC extensions

[2021-06-03 11:28] AntonFagerberg commented on #17631
@geoand thanks for the reply, that makes sense and I can confirm that I get the same response time when increasing it.

I'm still a bit confused though why the thread vert.x-eventloop-thread-X is always the same? It's probably not a big problem since the requests are non-blocking / async but all computations on the result following it seems to be using the same thread as well(?). I'm thinking that

[2021-06-03 11:30] sberyozkin opened #17666 "Support configuring Vert.x WebClient maxPoolSize in quarkus-oidc and quarkus-oidc-client"
## Description

Both `quarkus-oidc` and `quarkus-oidc-client` use Vert.x WebClient. `quarkus-oidc` may use it on every authentication request in the code flow to complete the flow and `quarkus-oidc-client` may use it frequently as well.

As shown at #17631 a client thread pool may get temp exhausted so it makes sense to make it configurable for both extensions

## Implementation ideas

Add `webCli

[2021-06-03 11:33] geoand commented on #17631
@AntonFagerberg that is how Vert.x (and other non-blocking libraries / toolkits) work. The use a very small number of threads (could even be just one) and perform all IO operations on that thread.
That obviously means that the all operations must be very quick - meaning that you can't perform blocking IO and you can't run heavy CPU bound processing, otherwise the system will be unable to process o

[2021-06-03 11:35] #17631 closed

[2021-06-03 11:40] AntonFagerberg commented on #17631
@geoand Yes, I understand the how non-blocking works :), and I'm not talking about real blocking IO. But I mean, there's a reason why all incoming requests use different threads (in a very small and limited thread pool) and Quarkus isn't configured to run on a single thread - because there is a performance benefit in having at least the same number of threads as cores (roughly speaking). The compu

[2021-06-03 11:43] geoand commented on #17631
Quarkus and Vert.x will use all the available event loop threads.

In your case you are likely observing thread affinity behavior of Vert.x and thus seeing the same thread being used.

[2021-06-03 11:47] oole commented on #16725
Great news, thanks @sberyozkin.

[2021-06-03 11:51] sberyozkin commented on #17657
Hi @Sgitario Why is it a regression from the Quarkus's point of view ? Indeed, the library was indirectly included before `1.13.x.Final` by `quarkus-oidc` but it has not been an independent Quarkus feature.

[2021-06-03 11:53] Sgitario commented on #17657
Fair point. I put regression because it started failing when using a newer version of GraalVM, so it's not a regression of quarkus's point of view. I've already updated the title.

[2021-06-03 11:53] jmartisk opened #17667 "GraphQL handler blows up if request contains newline breaks"
## Describe the bug
When an incoming GraphQL query contains newline characters, the JSON parser that parses it blows up.

### Expected behavior
Request with newlines is parsed, the newlines ignored

### Actual behavior
The request processing blows up on something like
[code]
where the "char 10" is a newline character

[2021-06-03 12:05] kshpak opened #17668 "Quarkus bundles generated projects with maven wrapper 3.6.3"
## Describe the bug
Project from code.quarkus.io and projects generated via mvn io.quarkus:quarkus-maven-plugin:1.13.6.Final:create still bundles with maven wrapper in version 3.6.3

According to https://github.com/quarkusio/quarkus/pull/16249 the shift to maven 3.8.1 was done

### Expected behavior
Maven wrapper 3.8.1 is bundled

### Quarkus version or git rev
1.13.x

[2021-06-03 12:07] kenfinnigan commented on #13602
Not at present no

[2021-06-03 12:15] hantsy commented on #17667
Reproducer https://github.com/hantsy/quarkus-sandbox/blob/master/graphql-client/src/main/java/com/example/demo/JvmClient.java#L32 and related backend project https://github.com/hantsy/quarkus-sandbox/blob/master/graphql

[2021-06-03 12:19] AntonFagerberg commented on #17631
@geoand thanks for the help, I will read more about it to see what's up :)

[2021-06-03 12:22] geoand commented on #17631
You are welcome!

[2021-06-03 12:27] lburgazzoli commented on #15473
A reason to have an option to turn on/off those additional annotations is that if you want to included the generated resources in your vcs, then any build will trigger some changes to those resources and generates unwanted changes. Most problematic annotations for our use case are:

    app.quarkus.io/commit-id: ...
    app.quarkus.io/build-timestamp: ...

[2021-06-03 12:38] think01 commented on #11337
I have this same problem with gRPC and quarkus-smallrye-reactive-messaging-kafka extension:

[code]

In the initial post I see gRPC is striked out. Does it mean there's a solution for gRPC?

[2021-06-03 12:48] Sanne commented on #17637
I don't disagree that this would be great - but when it comes to implementing such things, it's not really feasible (and I have quite some experience with it, I've worked on Infinispan & Hibernate integration patterns for many years) to keep this simple and bulletproof at the same time.

The most challenging aspect is to make such things work in a fully transparent way w/o the end user needing to

[2021-06-03 12:51] manovotn commented on #17658
Actually, it was me who told @ochaloup to include this change.
I think we should be consistent and behave equally for all `@Initialized/@Destroyed` events. And I think @Ladicek was of the same opinion :)

[2021-06-03 12:54] #17657 closed

[2021-06-03 13:06] mkouba commented on #11337
@think01 Hm, what version of quarkus do you use? AFAIK the gRPC server is now started at runtime so it should not be the problem anymore.

[2021-06-03 13:20] mkouba commented on #11337
Actually, you're right that the gRPC server can be started before the RUNTIME_INIT synthetic beans are initialized. I believe that the `io.quarkus.grpc.deployment.GrpcServerProcessor.initializeServer()` should consume the `SyntheticBeansRuntimeInitBuildItem` in order to start the gRPC server after all RUNTIME_INIT synthetic beans are initialized.

[2021-06-03 13:27] Ladicek commented on #17658
Agree we should be consistent about how we activate the request context for `@Initialized`/`@BeforeDestroyed`/`@Destroyed` events.

Furthermore, I beg to differ re

The spec is quite explicit about all active contexts being propagated to sync observers, and actually across all method invocations that occur on the same thread (notification of sync observers is just that, a bunch of method calls tha

[2021-06-03 13:27] mkouba commented on #17658
I'm aware of this and still tend to disagree ;-). Some of the reasons are mentioned above. But I'm open for further discussions...

[2021-06-03 13:27] think01 commented on #11337
@mkouba latest available now.
I made several tests and I'm sure the problem arises when I add the extension `io.quarkus:quarkus-smallrye-reactive-messaging-kafka` AND use @Singleton. If I change Singleton to ApplicationScope, the kafka reactive listener starts without issues (but then gRPC doesn't work).

I'm still new to all of this: do you know if there's a quick solution to this problem? I'm no

[2021-06-03 13:34] pokusak commented on #13161
Looks like it might be the right time to bring Vertx 4.x Redis client in Quarkus. Isn't it?

[2021-06-03 13:34] think01 commented on #11337
I don't understand anything you've said here :-D
Do you mean I should modify someway the gRPC server boostrapping? How can I do this? As I said, I'm not calling anything from it, my configuration is very simple:

1. I have a single protobuf file to define my service.
2. I run quarkusGenerateCode (gradle) to have stubs.
3. I implement my own gRPC service extending the ImplBase class produced in pre

[2021-06-03 13:41] mkouba commented on #17658
How does it correspond to the fact the request context must be always active for async observers?

Not really. The `@PostConstruct` callbacks can be invoked "with active contexts" (as defined by the spec, i.e. active with respect to the current thread), e.g. for all `@RequestScoped` beans created for an HTTP request in a web app. AFAIK this "exception" was invented because it was practical to acti

[2021-06-03 13:42] mkouba commented on #11337
Not really. We need to fix this ;-). I'm going to send a PR shortly...

What exactly does not work?

[2021-06-03 13:44] think01 commented on #11337
The gRPC service, but it's expected: from the gRPC-quarkus documentation, you cannot use `@ApplicationScoped` annotation but must use `@Singleton` since the gRPC service implementation cannot be proxied.

[2021-06-03 13:48] mkouba commented on #11337
I see. Well, you can try to `@Inject javax.enterprise.inject.Instance<AgroalDataSource> ds` and then `ds.get()` in your gRPC service as a workaround.

[2021-06-03 13:59] cescoffier commented on #13161
@pokusak it's done already, in Quarkus 2.0.

[2021-06-03 14:09] pokusak commented on #13161
@cescoffier I should have asked better: I know Quarkus 2.x already uses Vertx 4.x but I can't see Quarkus configuration properties to set password (AUTH) or certificate (TLS). Does it mean it is still required to configure underlying Vertx Redis client "manualy"?

[2021-06-03 14:10] think01 commented on #11337
Great! It works! Yes, as a workaround I can use this, thanks a lot!

[2021-06-03 14:14] Ladicek commented on #17658
It doesn't, because I tend to think that async observers are very much different from sync observers. (I also tend to think that async observers should have never been added to CDI in the first place, but that's a different story :-) )

I admit I got lost here, but I trust your understanding of CDI more than my own :-)

I guess the difference I'm trying to make is: code called directly or indirect

[2021-06-03 14:23] cescoffier commented on #13161
that's a question for @machi1990

[2021-06-03 14:27] machi1990 commented on #13161
For the moment, the configuration are not exposed see https://github.com/quarkusio/quarkus/issues/13161#issuecomment-797766483 and https://github.com/quarkusio/quarkus/issues/13161#issuecomment-815176002. Only the password can be set as part of the `hosts` url. @pokusak Can you open an issue about this?

[2021-06-03 14:37] zakkak opened #17672 "IT jpa-oracle not compiling with latest GraalVM"
## Describe the bug
The integration test jpa-oracle is failing to compile with the latest GraalVM.

### Expected behavior
Test should build and pass.

### Actual behavior
Test fails to build with:
[code]
see https://github.com/graalvm/mandrel/runs/2715558859?check_suite_focus=true#step:9:3511

## To Reproduce

[code]

## Additional context

Reverting https://github.com/quarkusio/quarkus/pull/17472

[2021-06-03 14:42] mkouba commented on #17658
Hehe, yes it's disputable...

Hey, this is great I don't need to use arguments anymore! :D

Well, define the code called "purely by the CDI container". There is always some "entry point" (user request, scheduled method, etc.). And even this code runs in the set of active contexts (application, singleton, custom contexts, ...).

Yup, I guess that I get what you mean. Let's give it some time and con

[2021-06-03 14:55] TomasHofman commented on #16154
Hello,

one thing to note is that we already have the `--search` parameter which limits the extension list by searching for names, artifactIds and keywords (I think it doesn't search in category names).

I would like to add following:

## 1. Listing categories

`qs extensions categories [--id|--full]`

Output formats:
* `--id` (default) would list only category IDs
* `--full` would list ID, name a

[2021-06-03 15:08] pokusak opened #17673 "Vertx Redis client configuration via Quarkus properties"
## Description

Quarkus 2.x uses Vertx 4.x which provides Redis client which provides more features than exposed via Quarkus configuration options. It would be great to configure features like TLS or AUTH (possibly others) directly via Quarkus configuraiton properties to avoid manual configuration of Redis client used by Vertx used by Quarkus.

Functionality is already provided by existing code as

[2021-06-03 15:12] Ladicek commented on #17658
Since there's no non-blocking crap in the picture, that is rather easy: code is called purely by the CDI container when there are no application stack frames on the call stack :-)

Yea I understand that this concept is somewhat hazy, because application code usually doesn't activate any contexts anyway, so why should there be a difference. I'll ponder over it some more, let's see if I can figure i

[2021-06-03 15:19] sberyozkin commented on #17182
@bertrandp let me close it now - if you can find a way to improve quarkus-oidc to avoid such side-effects - please let us know :-)

[2021-06-03 15:19] #17182 closed

[2021-06-03 15:44] machi1990 commented on #17673
Thanks @pokusak for opening the issue. It should be relative straight forward, do you want to take a look at it?

[2021-06-03 15:51] ebullient commented on #16154
Good suggestions!

I like the flow of 1 & 2. I don't know if cats is weird or not? We can start there and see how it feels.
@FroMage .. thoughts?

I also agree with your assessment of 3. I'd like @aloubyansky to chew on this, as we sort out how to deal w/ the registry.. but  what you're suggesting for 1 & 2 is nice.

`-B` (batch mode) can suppress that output when used with tooling, if we don't wa

[2021-06-03 16:05] FroMage commented on #16154
I like this, yes. `cats` feels weird, though. do we have to have a short name? would `categ` be better?

[2021-06-03 16:10] ebullient commented on #16154
Can we just use `cat`?

[2021-06-03 16:10] tobad357 commented on #11903
Chime in to say I see the same on MacOS X 11.3.1 with AdoptOpenJDK 16
Multi module Gradle build which ends up in OverlappingFileLockException

[2021-06-03 17:31] #17491 closed

[2021-06-03 19:08] #9722 closed

[2021-06-03 19:09] loicmathieu commented on #9722
Closing it as there is already a lot of different IT and we should focus on enhancing the existing and not creating new one.

[2021-06-03 21:10] AntonFagerberg commented on #17631
@geoand I'll continue here even though this issue is closed, I hope you don't mind!

The issue with the slow response times has been solved but I want to continue understanding why the same thread is used.

I've been reading more about how Vert.x works and I don't think my issue is caused by thread affinity as you mentioned.

In the Vertx mailing group I found this quote:

[source](https://groups.

[2021-06-03 21:21] famod commented on #17668
I suppose something has to be changed in https://github.com/quarkusio/code.quarkus.io @ia3andy @gsmet?
I'm not failiar with that repo.

[2021-06-03 22:15] antoniodvr commented on #17673
@machi1990 I can take it!

[2021-06-04 00:38] stuartwdouglas commented on #17592
I just tested the reproducer and it appeared to work fine.

[2021-06-04 01:04] stuartwdouglas commented on #17430
I think we need to write our own Multipart handler, and not rely on Vert.x.

[2021-06-04 04:51] geoand commented on #17631
I'll defer this one to @cescoffier

[2021-06-04 05:20] cescoffier commented on #17631
The web client will use the event loop it got created on. This avoids many concurrency issue. So, callbacks will always happen on that thread. Multi threading will not help, it may actually get worse. Note that I mention the callback. So if your callback is expensive, maybe you need to offload that part.

Also, if the problem is a concurrency limit, the web client is limiting the number of connect

[2021-06-04 05:45] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/905214741

[2021-06-04 06:00] stuartwdouglas commented on #17430
With the linked PR the example works, if you correct the code to:

[code]

[2021-06-04 06:16] selvarajchennappan commented on #17430
Thanks a lot.
Does it work for content type "multipart/form-data" ?

[2021-06-04 06:17] renegrob commented on #17592
Hi @stuartwdouglas,
Sorry, maybe I didn't describe it that good. I couldn't reproduce the real issue with the `RuntimeExcpetion` yet. Yes, the reproducer will run "correctly" before and after re-augmentation. What the reproducer shows is that some beans and other information such as the `quarkus-generated-openapi-doc` are missing or contain much less information after re-augmentation. That's what

[2021-06-04 06:35] renegrob commented on #17592
What I can reproduce though is:
Do a clean build
[code]
Start Quarkus
[code]
Do re-augmentation
[code]
Start Quarkus
[code]
-> There are RESTEAY DEBUG logs due to the missing `RestEasyConfigSupport` bean. The NPE is catched and swallowed so the application still runs. Unfortunately on my real world project more essential beans are missing.

[2021-06-04 06:35] stuartwdouglas commented on #17592
I build the reproducer as-is and looked at the openapi document, and it seemed to be the same before and after.

[2021-06-04 06:40] stuartwdouglas commented on #17592
Ok, I see the beans change.

[2021-06-04 06:52] geoand commented on #17668
Would https://github.com/quarkusio/quarkus/pull/17688 not do the trick?

[2021-06-04 06:52] stuartwdouglas commented on #17592
Can you test out https://github.com/quarkusio/quarkus/pull/17689 and see if it fixes your issue?

[2021-06-04 07:08] stuartwdouglas commented on #17430
Should work for both.

[2021-06-04 07:26] renegrob commented on #17592
Yes, I will as soon as I can. Unfortunately I need won't be able to do it today.

[2021-06-04 07:39] machi1990 commented on #17673
@antoniodvr thanks. Consider the issue yours, ping me in case of anything or you want an early review /feedback on the PR.

[2021-06-04 07:46] AntonFagerberg commented on #17631
@cescoffier Yes, we tried to increase the number of connections and it solved my initial performance issue. What I'm talking about here is mainly a theoretical problem as of now. We don't have that much traffic.

What I'm doing is essentially building an API-gateway. All end-points will work like this:

incoming request -> make N http requests to other servers -> transform json -> reply

My issue

[2021-06-04 08:04] mrniko commented on #17552
Thanks for the tip!

[2021-06-04 08:04] #17552 closed

[2021-06-04 08:21] loicmathieu opened #17691 "Allow to customize how provided Kafka serializer handle null"
## Description

Currently, provided Kafka `ObjectMapperSerializer` (and certainly the JSON-B one, this needs to be checked), serializes a null object to the `"null"` String. This is perfectly valid and will work fine when deserializing via a JSON based deserializer.

However, the **tombstone** mechanism usually implemented in Kafka Connect to signal a deletion is based on null payloads.

Someone c

[2021-06-04 08:32] scharalabos commented on #13988
issue still exists in RESTEasy but in RESTEasy Reactive is fixed, if you can fix it also for RESTEasy  it will be perfect!

[2021-06-04 08:40] FroMage commented on #16154
Ask for another person's opinion. My opinion as a long-time UNIX person is that `cat` is neither about the animal, nor abot categories, but about typing :(
So I'd find this confusing, but I'm biaised, so let's ask for someone else's opinion to make sure?

[2021-06-04 08:41] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/905222350

[2021-06-04 08:59] aloubyansky commented on #16154
About the full/unfiltered list, I think, simply ordering alphabetically (the names or artifactId) could be ok for a start. I am not sure the full list will be the primary use-case, given that it probably will be pretty long, however if a user requests it, it should be sorted. So we could postpone implementing the 3rd option until there is a clear need for it.

[2021-06-04 09:22] loicmathieu commented on #2611
So I finally found the time to test it ;)
And it works, thanks @nhumblot for the great work on the dependency check plugin.

@sberyozkin with the new version of the plugin, I no longuer need the CPE detection exclusion for quarkus-security, quarkus-munity and quarkus-resteasy. Great!

[2021-06-04 10:00] TomasHofman commented on #16154
@aloubyansky I agree, scratching point 3. :)

@FroMage @ebullient what about `qs ext ctgr` for a shortcut?

Or maybe not use the word "category", but rather use "group" / "grp" (and `--group` / `-g` for a parameter)? I'm not sure if the word "categories" is already exposed to users at other places which would require us to stay consistent... On the web "categories" do not seem to be mentioned.

[2021-06-04 10:07] MarQs1990 opened #17693 "Ignoring Value of Java-Optional"
We're having a custom query method in a PanacheRepository:
[code]

When we call the method like this:
[code]

It always calls the createNewTestCycle method, even if there is a value in the optional.

We worked around it by changing the getOrCreateCurrentTestCycle method to following code:
[code]
Is there some optimization by quarkus at runtime, which is leading to this behaviour?

We're using:
Qua

[2021-06-04 10:08] aloubyansky commented on #16154
The issue is that `category` has been in the JSON and the Java API since the very beginning of Quarkus.

[2021-06-04 11:07] #17592 closed

[2021-06-04 11:40] JonesShelby opened #17694 "Using an enum collection as query param fails while working with Kotlin"
## Describe the bug
Creating an Resteasy-Reactive endpoint with Enum-Collection/Set/List as query params leads to an exception in the mvn building process. This behaviour only applies to Kotlin Quarkus.

### Expected behavior
That the enum is mapped correctly and can be used furhter on.

### Actual behavior
An exception occurs in the building process.

[code]

## To Reproduce

[quarkus-kt-enum-bug

[2021-06-04 11:51] kshpak opened #17695 "Handle @Any qualifier with MicroProfile Config bulk properties"
## Description
While using `org.eclipse.microprofile.config.inject.ConfigProperties` in order to function properly while we @Inject configuration we need to append `javax.enterprise.inject.Any` qualifier annotation as well. Otherwise, we get an error:

Error example
[code]

It would be more convenient to leverage this for Quarkus to handle. In fact, I'm not sure if this can be an issue and/or if i

[2021-06-04 12:13] #16753 closed

[2021-06-04 12:16] geoand commented on #17694
I am pretty sure this has been fixed already.

Can you try Quarkus version `2.0.0.CR3`?

[2021-06-04 12:23] sberyozkin commented on #17642
One thing I forgot to mention is that doing it natively in the existing extension would require introducing a good number of new properties:
- OIDC provider token URL (or just in case of Keycloak - its realm endpoint and the token endpoint would be auto-discovered - since the token URL may not directly doc-ed in the provider docs)
- client-id
- client-secret (at the min id/secret would be posted a

[2021-06-04 12:36] JonesShelby commented on #17694
Ah perfect, works well :+1: Thank you !

[2021-06-04 12:36] #17694 closed

[2021-06-04 13:11] #17582 closed

[2021-06-04 13:16] mkouba commented on #17695
Well, the `org.eclipse.microprofile.config.inject.ConfigProperties` is a CDI qualifier so it makes sense that you need to declare `@Any` or `@ConfigProperties` (value is ignored because it's annotated with `javax.enterprise.util.Nonbinding`) on the injection point. In fact, you can do `@ConfigProperties AntagonistConfiguration antagonist`  in Quarkus, i.e. skip the `@Inject`.

Also the spec mentio

[2021-06-04 13:16] #17695 closed

[2021-06-04 13:18] glefloch commented on #17642
I was thinking of adding a `OidcCommonConfig` field in the spring config. I contains all properties you mentioned no ?

[2021-06-04 13:21] edeandrea commented on #14475
@FroMage / @loicmathieu after updating to `2.0.0.CR3` I noticed  that the method signature on `PanacheRepositoryBase` within `quarkus-hibernate-reactive-panache` changed to `public default Uni<Entity> persist(Entity entity)` but in `PanacheEntityBase` the `public static Uni<Void> persist(Object firstEntity, Object... entities)` method (and the other `persist` variants still return `Uni<Void>`.

Is

[2021-06-04 13:36] knutwannheden commented on #16039
An alternative (not quite as nice) or addition would be to change the "started" logged message to also include the root path. I.e. `Listening on: http://0.0.0.0:8080/foo` instead of `Listening on: http://0.0.0.0:8080`.

[2021-06-04 13:49] loicmathieu commented on #14475
Entity and repository should offers the same API and they do see https://github.com/quarkusio/quarkus/blob/main/extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheEntityBase.java#L55 and https://github.com/quarkusio/quarkus/blob/main/extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panach

[2021-06-04 13:52] ebullient commented on #16154
I think within context, `qs ext cat` is fine as a short form for category (tab complete would expand to `category`)..

[2021-06-04 13:56] edeandrea commented on #14475
What I'm saying is my examples should look like the following, but it doesn't. I can't use the non-static `persist()` method because I am unable to mock it in my tests using `PanacheMock`. `PanacheMock` can only mock the static methods on `PanacheEntityBase` and `Mockito` can not mock the panache methods.

## Active record
[code]

## Repository
[code]

[2021-06-04 14:14] loicmathieu commented on #14475
@edeandrea what you describe as nothing to do with the changes I made, this is a mocking issue, please open an issue with a reproducer but Mockito should be able to mock your method, or PanacheMock, one of the two.

[2021-06-04 14:19] edeandrea commented on #14475
Mockito can not mock it because the mock is a class, not an instance (i.e. you can't do `Mockito.when(Fruit.class)`).

All I'm trying to say is that the behavior of

`fruitRepository.persist(fruit)` (returns `Uni<Fruit>`) is now different than `Fruit.persist(fruit)` (returns `Uni<Void>`)

[2021-06-04 14:31] geoand commented on #16897
I wonder if it makes sense to this sort of thing with other kinds of interceptors as well - like Caching for example

[2021-06-04 14:38] edeandrea opened #17697 "Can not mock non-static persist method on PanacheEntityBase"
## Describe the bug
In Quarkus `2.0.0.CR3` (an most likely in `1.13.x`) using Panache reactive I am not able to mock the non-static methods on `PanacheEntityBase` (`persist()` for example - I haven't tried the others). Mockito does not allow you to mock them because Mockito requires an instance in `Mockito.when`/`Mockito.doReturn(..).when`.. `PanacheMock` does not seem to work either.

## To Repro

[2021-06-04 14:50] sberyozkin commented on #17642
@glefloch `OidcClientConfig` has `grant.type` as well (may be it is always a single and the same grant type for acquiring the token for Spring Cloud Config so may be it is not needed). If it will be added to the spring config extension then you'd end up re-implementing a good portion of `quarkus-oidc-client`, hence the first option I suggested earlier seems to be a much easier option to me after a

[2021-06-04 14:52] juangon opened #17698 "2.0.0.CR3 caused system properties from QuarkusTestResourceLifecycleManager to not be available in tests"
## Describe the bug
When using a class implementing `QuarkusTestResourceLifecycleManager`, method `start` and returning some value on it, it isn't available from test using System.getProperty. I am using `QuarkusTestProfile` for adding those resources. Was working in 1.x.

### Expected behavior
All properties set in any QuarkusTestResourceLifecycleManager should be available in test class.

### Ac

[2021-06-04 15:09] loicmathieu commented on #14475
No `Fruit.persist(fruit)`  returns `Uni<Fruit>` , you can look at https://github.com/quarkusio/quarkus/blob/main/extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheEntityBase.java#L55

[2021-06-04 15:11] edeandrea commented on #14475
That reference you made is not to the correct method. That reference would be for `fruit.persist()`, not `Fruit.persist(fruit)` (https://github.com/quarkusio/quarkus/blob/main/extensions/panache/hibernate-reactive-panache/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/PanacheEntityBase.java#L744)

[2021-06-04 15:30] yuhaibohotmail opened #17699 "[2.0.0.CR3 Continuous Testing] Setting quarkus.http.port caused java.net.BindException"
## Describe the bug
(Describe the problem clearly and concisely.)

### Expected behavior
(Describe the expected behavior clearly and concisely.)

### Actual behavior
(Describe the actual behavior clearly and concisely.)
[code]

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue.

[2021-06-04 15:38] yuhaibohotmail opened #17700 "[2.0.0.CR3 Continuous Testing] Could not find resource file under 'test/resources'"
## Describe the bug
(Describe the problem clearly and concisely.)

### Expected behavior
(Describe the expected behavior clearly and concisely.)

### Actual behavior
(Describe the actual behavior clearly and concisely.)

[code]

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue.