[2022-02-14 17:41] xstefank commented on #23586
proxy calls should not be exposed to users, these are used if the user doesn't expose business REST methods for participant. But I understand. I'll mention it in the PR.

[2022-02-14 17:41] sberyozkin commented on #23683
Also CC @stuartwdouglas

[2022-02-14 19:06] pjgg opened #23684 "Vertx HttpClient + FIPS - QuarkusTest: java.lang.NoSuchFieldError: REACTIVE_ROUTES"
### Describe the bug

I've added a [Quarkus test ](https://github.com/quarkus-qe/quarkus-test-suite/pull/534) into my project and suddenly I am getting the following error:

[code]

Environment:
- Jenkins worker
- RHEL8.5 + FIPS (I could also reproduce the error in the same environment without FIPS)

Reproducer:
Once the PR gets merged, you can clone this repo: git@github.com:quarkus-qe/quarkus-te

[2022-02-14 19:57] #23674 closed

[2022-02-14 22:26] Sanne commented on #23660
Right the `geronimo-jta_1.1_spec` is a fork from the official JTA spec, it should definitely be excluded as we're using the reference in Quarkus.

@ppalaga hi :) I think we can workaround this in Quarkus core but would a cleanup be useful in the camel side too?

[2022-02-15 02:19] koalalam opened #23697 "java.lang.NoSuchMethodError: org.jboss.resteasy.reactive.server.core.parameters.converters.LocalDateParamConverter"
### Describe the bug

Application failed to start when upgrading Quarkus from 2.5.1 to 2.7.1.

Default constructor is removed since 2.6:
* https://github.com/quarkusio/quarkus/blob/2.5/independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/parameters/converters/LocalDateParamConverter.java
* https://github.com/quarkusio/quarkus/blob/2.6/independ

[2022-02-15 05:52] allwinboss opened #23700 "quarkus startup time very slow when datasource connection pool property overriden in application properties"
### Describe the bug

Hi Team,

My  application is built with Installed features: [agroal, cdi, hibernate-orm, hibernate-orm-panache, jdbc-oracle, narayana-jta, resteasy, resteasy-jackson, smallrye-context-propagation, spring-data-jpa, spring-di, vertx] .it  takes long time to startup . i,e 16.3 sec  when I override the connection pool setting as below in application.properties file, But when I re

[2022-02-15 06:24] #8479 closed

[2022-02-15 06:39] jeanphibaconnais opened #23701 "[GitPod] - Open Dev UI on error (xdg-open not available)"
### Description

Hi, I'm working on a Quarkus project on GitPod and when I want to open  the Dev UI with this shortcut `[d] - Open the Dev UI in a browser`. There is an error because `xdg-open` is not available.

### Implementation ideas

Is it possible to detect if this tool is installed and if not, print a message ?

[2022-02-15 06:55] geoand commented on #23681
I am not really sure what we can do about this honestly...
The problem is that we actually instantiate the client at build time based on the provided configuration.

[2022-02-15 07:00] iocanel commented on #23681
There are two thigs we can do:

1. Delegate this issue to the client and request lazy loading of certificates.
2. Split runtime and build time configuration, and only pass runtime config on runtime using `withRequestConfig`.

[2022-02-15 07:09] rsvoboda commented on #23684
@pjgg which Quarkus version(s)?

[2022-02-15 07:32] geoand commented on #23681
I don't really know what you mean by `2.` because currently all the client configuration is build time configuration.

[2022-02-15 08:01] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1845099168

[2022-02-15 08:03] pjgg commented on #23684
I could reproduce with Quarkus 2.2.5.Final

[2022-02-15 08:23] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1845099168

[2022-02-15 08:26] geoand commented on #23684
cc @mkouba

[2022-02-15 08:57] loicmathieu opened #23707 "OIDC Token Propagation only works with the non-reactive rest-client"
### Description

The OIDC Token Propagation extension (quarkus-oidc-token-propagation) has a dependency to the `quarkus-rest-client` extension so it cannot be used with the reactive one.

### Implementation ideas

Provides two extensions, one with the blocking client and a new one with the reactive client.

[2022-02-15 08:59] ennishol opened #23708 "Stack traces debugging in reactive code"
### Description

In Spring reactive, there is good support for useful stack traces. Before running SpringBootApplication.run() one can insert

`Hooks.onOperatorDebug();//overhead -> only dev not for production`
or
`ReactorDebugAgent.init();//almost no overhead -> instrumentation with checkpointing`

Could be something similar added to quarkus. Currently, if an exception happens it is really hard t

[2022-02-15 09:24] Sanne commented on #23700
Hi, could you give us some more details? Is it possible your Database is very slow at establishing and authenticating new connections?

We certainly don't have this experience when testing on my simple local databases, so I'm going to need your help investigating a bit.

[2022-02-15 09:40] sberyozkin commented on #23707
Hi Loic @loicmathieu It is in 2.7.1 now: https://github.com/quarkusio/quarkus/tree/2.7.1.Final/extensions/oidc-token-propagation-reactive

[2022-02-15 09:49] sberyozkin commented on #23707
@loicmathieu Note the reactive version does not do yet the token exchange before the propagation, is it something that you need ? I'd like to see if someone is actually interested in this option before adding that code to the reactive equivalent

[2022-02-15 10:03] loicmathieu commented on #23707
@sberyozkin so this is missing in the guide, do you want me to create a PR to add it ?

Currently, I didn't need the token exchange, only propagation

[2022-02-15 10:09] loicmathieu commented on #23707
@sberyozkin just saw it's documented just under at https://quarkus.io/guides/security-openid-connect-client#reactive-token-propagation you can close this issue, sorry about that.

[2022-02-15 10:09] #23707 closed

[2022-02-15 10:17] glefloch commented on #22008
The release 1.5.0 fixes the issue. I'm closing the issue.

[2022-02-15 10:17] #22008 closed

[2022-02-15 10:29] sberyozkin commented on #23683
Hi @ruromero I'm not sure this enhancement should be in the form of the security augmentor at the MTLS mechanism level, as it can have ordering issues (the custom ones may not see this augmentation), and I'm also not sure that we need to start supporting reading from the files - as again - someone will want that be in YAML, someone in the simple properties format.

IMHO as far as MTLS authenticati

[2022-02-15 10:34] sophokles73 opened #23711 "[quarkus-jaeger] extension's sampler-manager-host-name property can not be used"
### Describe the bug

The Jaeger client of a component utilizing the quarkus-jaeger extension fails to retrieve sampler strategies from a remote host.

### Expected behavior

When setting the *quarkus.jaeger.sampler-manager-host-port* property to a value of `my-jaeger-agent:5778`, then the Jaeger client retrieves the sampler strategies from that host and uses them during runtime.

### Actual behav

[2022-02-15 10:44] JHahnHRO opened #23713 "ArC: Decorator for built-In Bean Event<T> broken"
### Describe the bug

It seems that with 2.7.1.Final it is no longer possible to decorate the built-in bean `Event<T>`. This was still possible in October, with version 2.2.3.Final.

### Expected behavior

The built-in bean `Event<T>` should be decorate-able as per the [CDI Spec](https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#decorators)

### Actual behavior

The decorator is picked u

[2022-02-15 10:53] sberyozkin commented on #23707
@loicmathieu Np at all, was done to help @FroMage to simplify some of Renarde's security code

[2022-02-15 11:11] JHahnHRO opened #23714 "Decorator beans to not appear in /q/arc/beans or /q/arc/removed-beans"
### Describe the bug

Decorator beans do not appear in the list of beans nor in the list of removed beans.

### Expected behavior

Decorator beans should appear in both lists as appropriate, just like Interceptor beans do.

### Actual behavior

Interceptors appear (even have their own graphical list in dev console UI), decorators do not.

### How to Reproduce?

Define a Bean with an interface and

[2022-02-15 11:12] heliommsfilho opened #23715 "@GET method with request body throws BlockingNotAllowedException when using RestEasy Reactive"
### Describe the bug

Define a `@GET` endpoint which receives a body when using RestEasy Reactive returns HTTP 500 due `BlockingNotAllowedException`. Works with RestEasy non-reactive.

It seems that even using `quarkus-resteasy-reactive-jackson` the body parsing is always a blocking operation.

### Expected behavior

Finish the operation without errors.

### Actual behavior

Define a `@GET` endpoi

[2022-02-15 11:13] knuspertante opened #23716 "Native-Image: ApplicationImpl Initialize on runtime when using JAX-RS-Filter"
### Describe the bug

The build runs fine if we only call / inject the TaskService in TaskResource. But if we use the TaskService in a JAX-RS Filter with NameBinding we need to initialize some Classes at run time. Therefore I tried to initialize our classes:

- de.j21p.repository.aws.DynamoDBClientHandler
- de.j21p.repository.aws.TaskRepositoryAws
- de.j21p.services.TaskService
- de.j21p.filter.Ta

[2022-02-15 11:17] Sanne commented on #23343
It seems the generated HQL is invalid @FroMage

this example is producing `FROM org.acme.record.GroupMember WHERE member = ?1`, but the correct syntaxt would be `FROM org.acme.record.GroupMember m WHERE m.member = ?1`.

The aliases are required.

[2022-02-15 11:46] anchou-bockhorn commented on #21367
If I understand you right, @cescoffier, it is not recommended to save metadata of a message in a request context?

What would then be the recommended way of doing data access control during message processing for an authenticated user, that is contained in the message header?

My straight forward approach would be:
1. Activating a request context on message income
2. Saving the User information to

[2022-02-15 12:06] pravussum opened #23718 "[rest-client-reactive] RestClientListener is not called"
### Describe the bug

When using the reactive-rest-client, RestClientListeners are not found.
See the reproducer project https://github.com/pravussum/quarkus-restclientlistener-repro

When executing the test `ReactiveGreetingResourceTest` the registered RestClientListener `MyRestClientListener` should actually print something to the console, but it doesn't.

With a breakpoint in `io.quarkus.rest.c

[2022-02-15 12:19] cescoffier commented on #21367
@anchou-bockhorn The rule is simple: do not use the request scope when dealing with Kafka messages. It will not do what you expect it do to.

Currently, the only way to propagate data in your pipeline is to inject a custom metadata in the message. You can do thins like that:

[code]

Then, you can retrieve it using:

[code]

We are working on another solution to propagate data implicitly using "co

[2022-02-15 12:22] ruromero commented on #23683
I think a different property makes total sense but I think it'll be enough to treat it the same way as `quarkus.security.users.file.roles` i.e. a properties file.
Let's wait for other comments and as this is not urgent I can own it once there's agreement, if it is fine for you.

[2022-02-15 12:27] galderz opened #23720 "Quarkus dev should react to `--batch-mode` and stop presenting colours"
### Describe the bug

Quarkus dev ignoring `--batch-mode` passed in and keep trying to print colours... which btw look terrible in white background command lines :(

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if di

[2022-02-15 12:31] galderz commented on #23720
Adding `-Dquarkus.console.color=false` fixes it. Shouldn't it be implied from `--batch-mode`?

[2022-02-15 12:32] gilvansfilho commented on #23343
So We need to define a alias and put it in every query param.

When `paramCount = 1` this is simple. Just need to put the alias at the beginning of query. But when `paramCount > 1` is need put alias at the beginning of every param. Making replaces with regex maybe?

I think fix to this issue will be at `PanacheJpaUtil.createFindQuery` but `createCountQuery`, `createUpdateQuery` and `createDeleteQu

[2022-02-15 12:52] allwinboss commented on #23700
Hi Sanne,

I'm involved in migrating spring-web (springboot) microservices  to quarkus -resteasy  microservices  and both spring boot and quarkus services are connecting to same oracle database server  and with same select query and table using spring jparepository.

spring boot configuration :

Built the spring-web with hikariCp default connection pool setting 'maximumPoolSize' =10 and 'minimumId

[2022-02-15 12:59] sdaclin opened #23722 "Add a configuration to expose additional port while starting Quarkus in a container during QuarkusIntegrationTest"
### Description

When your quarkus container is built and you are running Quarkus Integration Test container, you don't have the opportunity to expose additional port to the outside thus only conventional Rest api are able to be tested.

See the doc here => https://quarkus.io/guides/getting-started-testing#launching-containers

If someone is using Vert.x or Netty to expose a TCP service out of the

[2022-02-15 13:05] geoand commented on #23722
Implemented `add a configuration to specify additional port exposed by your quarkus app.` in #23666

[2022-02-15 13:05] #23722 closed

[2022-02-15 13:24] ppalaga commented on #23660
Yes, thanks for the report, we have some homework to do in Camel Quarkus https://github.com/apache/camel-quarkus/issues/3551

[2022-02-15 14:13] fwgreen opened #23727 "Odd class format error"
### Describe the bug

Only The `LicensedPracticalNurse` class triggers this error at startup while the other classes work fine (removing it fixes the problem).  The snippet below is the entire application.

[code]

### Expected behavior

_No response_

### Actual behavior

[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Darwin Kernel Version 21.3.

### Output of `j

[2022-02-15 14:30] geoand commented on #23727
Seems like a bug in Panache Kotlin

[2022-02-15 14:50] geoand commented on #23715
This is actually a weird case...

It works perfectly for other types of HTTP requests because we actually attempt to read the body, but in the case of GET, we [don't](https://github.com/quarkusio/quarkus/blob/2.7.1.Final/independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/InputHandler.java#L48).

The fix would be extremely easy, but do yo

[2022-02-15 14:52] sberyozkin commented on #23683
@ruromero I see, I forgot that `quarkus-elytron-security-properties-file` [supports](https://quarkus.io/guides/security-properties) both `embedded.roles` and `file.roles`, so I agree, lets make it consistent, but IMHO that should apply to both options, i.e, we should let users configure the roles mapping directly in `application.properties` (equivalent to `quarkus.security.users.embedded.roles`) a

[2022-02-15 14:53] Mahlatsi-andile commented on #23281
Used this graalvm-ce image and it finally worked. So glad as I spent days trying to build a native executable for linux on my M1 mac

[2022-02-15 15:06] LazaroR94 opened #23728 "Connection URI syntax for reactive oracle client"
### Describe the bug

I am receiving a "Wrong syntax of connection URI" whenever I try to specify a reactive URL for the new reactive Oracle client. I have tried to refer this documentation: [Reactive SQL Clients](https://quarkus.io/guides/reactive-sql-clients) and it mentions a similar URI scheme of this: **postgresql://localhost:5432/quarkus_test** but no mention of a URI scheme for Oracle. When

[2022-02-15 15:17] geoand commented on #23728
You likely are using the wrong syntax, see https://github.com/quarkusio/quarkus/issues/23439.

@tsegismont I wonder if we need some clarification in the docs.

[2022-02-15 15:17] #23728 closed

[2022-02-15 15:21] turing85 opened #23729 "io.quarkus.security.UnauthorizedException is thrown when it is not expected"
### Describe the bug

When using `quarkus-elytron-security-properties-file` with a `ExceptionMapper<io.quarkus.security.UnauthorizedException>`, we can observe partially unexpected behaviour (endpoints returning `401` instead of other, expected responses).

This behaviour can only partially reproduced: calls through, for example, the `swagger-ui` work as expected, calls through `restEasy` and `cUR

[2022-02-15 15:25] LazaroR94 commented on #23728
Thanks @geoand. I would appreciate some more documentation on this seeing as I'm not the only one that encountered this and the Quarkus SQL Clients documentation does not mention Oracle anywhere (I know it's a new introduction, but some more documentation could help others who use similar implementations).

[2022-02-15 15:52] rsvoboda opened #23730 "provide a way to generate multi-module application"
### Description

Currently the Quarkus dev tool-chain generates simple maven project. Multi-module application topics are covered in some Quarkus guides, continuous testing supports multi-module projects, Quarkus CLI can operate on top of multi-module projects.

Thus there should be a way to generate multi-module end user application. The number of modules should be configurable with the default s

[2022-02-15 15:55] loicmathieu commented on #10903
The High Level client is deprecated and will be replaced by the Java Client which didn't suffer from the same issue. I'm closing this one.

[2022-02-15 15:55] #10903 closed

[2022-02-15 16:08] karesti commented on #23409
I could not reproduce the issue anymore using the listener and the projection!

[2022-02-15 16:08] karesti commented on #23409
https://github.com/viniciusfcf/quarkus-issues/pull/1/

[2022-02-15 16:08] #23409 closed

[2022-02-15 16:20] luca-bassoricci opened #23732 "NPE in `ResteasyReactiveDevModeProcessor` using sub resource with RR"
### Describe the bug

Declaring a resource method returning an subresource generate a NPE.

### Expected behavior

Compilation should complete successfully

### Actual behavior

Stacktrace
[code]

### How to Reproduce?

Link to reproducer https://github.com/luca-bassoricci/subresource-problem
`mvn quarkus:dev` to start

### Output of `uname -a` or `ver`

Microsoft Windows [Versione 10.0.19042.1469

[2022-02-15 16:28] sberyozkin commented on #23729
@turing85 Looks like your test code is written incorrectly, it should have a `preemptive()` included, for example:
[code]

[2022-02-15 16:38] mkouba commented on #23713
@JHahnHRO I don't think this ever worked because a subclass is never generated for built-in beans, including `Event`. Are you sure it worked in 2.2.3.Final? Also note that decorators support in ArC is a bit limited.

[2022-02-15 17:10] sberyozkin commented on #14139
@zakkak FYI, the error I'm getting on `main` now is
[code]

[2022-02-15 19:23] turing85 commented on #23729
Okay. But why do the tests work if we do not add a custom `ExceptionHandler<UnauthorizedException>`?

[2022-02-15 20:05] nunocasteleira opened #23734 "@Message template fails to use #each or #for"
### Describe the bug

I'm using Qute to enable i18n on a project.

When parsing a string using `Qute.fmt`, passing a template directly renders the message just fine.

But when I reference its template via the message bundle namespace, such as
[code]

I get the following error

[code]

@Message("FROM i18n A booking for user {user} in the selected period {#each period}{it}{#if it_hasNext}, {/if}{/ea

[2022-02-15 20:44] ethan-gallant opened #23735 "Gradle Unit Tests Don't Work Since 2.7.1"
### Describe the bug

After moving to Quarkus 2.7.1 from 2.7.0 unit tests in Gradle no longer run.

Quarkus says "No tests found" even though there tests.

### Expected behavior

Unit tests run and fail because my code is trash

### Actual behavior

Unit tests pass saying "No tests found" so I push it to prod and my boss gets angri :fearful:

### How to Reproduce?

_No response_

### Output of `un

[2022-02-15 20:57] LazaroR94 opened #23736 "(Reactive Oracle Client) HR000061: Session is currently connecting to database"
### Describe the bug

I have currently spinned up a Quarkus project using the latest version 2.7.1. This is what I have included in my project (dependencies): Mutiny, smallrye-reactive-messaging-kafka, reactive-oracle-client & hibernate-reactive-panache.

I have been testing out the new reactive Oracle client and I seem to be having some issues when incorporated with reactive messaging. The flow i

[2022-02-15 21:32] ethan-gallant commented on #23617
This is caused by Quarkus trying to resolve the dependencies of the `spring-app-api` project. When Quarkus bootstraps it depends on the `spring-app-api` package. The `spring-app-api` package depends on the `buildSrc/src/main/groovy/api.spring-conventions.gradle`.

Because you're pulling in the dependencies like so:
[code]

Quarkus has no clue which version of the Spring dependencies to pull in. Yo

[2022-02-15 21:35] ethan-gallant commented on #23735
Tried to take a crack at this myself, if anyone can hint towards the issue or suggest anything I am more than willing to open a PR :)

I found this issue/pr seems to modify the loading of test assets. https://github.com/quarkusio/quarkus/pull/23293

Another PR seems to look for extension properties so I am guessing it's unrelated, but it's in the dev mode config? I believe it was written by @glefl

[2022-02-15 21:36] heliommsfilho commented on #23715
Ah ok, actually Quarkus isn't trying to read the body. Thank you for clarifying @geoand.

In a real scenario, I need this in a `/list` endpoint with filtering capabilities. I used the body of the `@GET` to receive a JSON with filtering options. And then I found this problem.

[2022-02-15 21:42] glefloch commented on #23735
Thanks for reporting this @ethan-gallant and sorry for the issue.

Do you have a reproducer?

[2022-02-15 21:45] LazaroR94 commented on #23736
Just tested this locally without the need for Kafka and it indeed still produces the same error when trying to insert directly to the database. (Tested using a simple /insert endpoint)

[2022-02-15 21:46] famod opened #23737 "`MultiSourceProjectDevModeTest` is failing a lot"
### Description

E.g.:
- https://github.com/quarkusio/quarkus/pull/23692#issuecomment-1040591666
- https://github.com/quarkusio/quarkus/pull/23724#issuecomment-1040690420
- https://github.com/quarkusio/quarkus/pull/23731#issuecomment-1040563315
- https://github.com/quarkusio/quarkus/pull/23724#issuecomment-1040690420

### Implementation ideas

_No response_

[2022-02-15 21:46] famod commented on #23737
/cc @aloubyansky

[2022-02-15 21:58] glefloch commented on #23735
Does it occurs only with continuous testing ? Does `gradle test` run test?

[2022-02-15 22:02] michalszynkiewicz commented on #23656
@geoand if you have time for it, it would be great. I have quite a few bugs to look into at the moment. If you're busy to I should get to this one this week too

[2022-02-15 22:20] famod commented on #23676
I suppose you have googled something like _MacBook Pro M1 docker "exec format error"_?

[2022-02-15 22:28] sxs737 opened #23739 "Hibernate Reactive Panache MSSQL Native Build"
### Describe the bug

After Calling listAll()  on a table few times with 1000 rows I am getting below error on AKS
[code]

### Expected behavior

In the JVM Mode it works fine in local even though it takes more time to execute the query

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

11.4

#

[2022-02-16 00:04] DavideD commented on #23739
This error usually happens when there is a call to something that's not reactive or Quarkus doesn't recognize as reactive. Could you show us the code that's causing this issue (and the signature of the method from which is called), please?

[2022-02-16 00:06] ethan-gallant commented on #23735
I have pushed my reproducer code here: https://github.com/ethan-gallant/quarkus-reproducers/tree/issue/23735

`gradle test` works as expected
`gradle quarkusDev` does not work
`gradle quarkusTest` also fails

Thank you for your help :)

[2022-02-16 01:50] sxs737 commented on #23739
it is giving above error for getSearchInfo() Method for employee entity
I do see another method in it which still needs to be converted to Reactive getSearchComboBoxData() which has @Blocking on it in Resource Class but its not called right now . Any suggestion on converting it to reactive I have a  [stackoverflow Question open for that ](https://stackoverflow.com/questions/71055586/how-to-filter-

[2022-02-16 02:17] ethan-gallant commented on #23739
Hey @sxs737! Your problem appears that you're blocking the Vert.x event loop thread with this line:
`List<employee> response = query.list().await().atMost(Duration.ofSeconds(60));`

Effectively, you're making the thread wait for that result to be processed, making the Uni it returns Uniless (sorry bad pun, I mean useless).

You can resolve the issue likely by changing your method out for something

[2022-02-16 02:34] geoand commented on #23715
Having a body in a GET method is very unusual, which is why you are seeing the current behavior

[2022-02-16 02:52] sxs737 commented on #23739
@ethan-gallant Thank you very much !! .
I have removed the @Blocking from the **getComboboxData()** and added your suggested code change . I will let you know if i am still getting error . That error was thrown in the other method **getSearchInfo()** which does not have any await() . it might be that call to @Blocking from the **getComboboxData()** was causing Block on execution of **getSearchInfo

[2022-02-16 04:44] geoand commented on #23656
Turns out there is an easy explanation for this :)

As you know, Stork uses an annotation processor, which under normal circumestances is on the compiler's classpath because of the presense of:

[code]

in the application's `pom.xml`.

In the cases of Quarkus extensions however, the `runtime` module of the extension needs to configure the `quarkus-extension-processor` like so:

[code]

This config

[2022-02-16 04:44] #23656 closed

[2022-02-16 04:56] ynojima opened #23744 "Failed to load a directory from a classpath when build as a fast-jar"
### Describe the bug

Failed to load a directory from a classpath root when build as a fast-jar with Quarkus 2.7.1.Final.
[code]
It worked with Quarkus 1.11.7.Final-redhat-00009.

### Expected behavior

[code]
should return `URL` instance

### Actual behavior

[code]
returns `null`

### How to Reproduce?

I made a reproducer:
https://github.com/ynojima/quarkus-issue-reproducer

## fast-jar(default

[2022-02-16 05:14] geoand commented on #23744
This is a duplicate of https://github.com/quarkusio/quarkus/issues/23582 and has already been fixed in main

[2022-02-16 05:14] #23744 closed

[2022-02-16 05:18] geoand commented on #23739
@DavideD any way we can determine this and provide a better error message?

[2022-02-16 06:35] geoand commented on #6588
`kafka-avro-schema-quickstart` is failing but will hopefully be fixed by https://github.com/quarkusio/quarkus/pull/23733 (cc @ozangunalp )

[2022-02-16 06:46] vsevel commented on #23656
ok. thanks for taking a look @geoand

[2022-02-16 06:52] geoand commented on #23656
yw

[2022-02-16 07:05] #23732 closed

[2022-02-16 07:19] u6f6o opened #23746 "Quarkus cache does not work with kotlin suspend functions"
### Describe the bug

Quarkus-cache does not work correctly with kotlin suspend functions. The following code snippet

[code]
results in

[code]
We can workaround this behaviour by returning a CompletionStage from the rest client and work with unis instead.

### Expected behavior

Quarkus-cache should work with suspend functions as well.

### Actual behavior

[code]

### How to Reproduce?

_No res

[2022-02-16 07:50] turing85 commented on #23729
@sberyozkin Okay, I figured it out. Basically, we can extend the `io.quarkus.resteasy.runtime.UnauthorizedExceptionMapper`, call it's `toResponse(...)` method and transform the body as we see fit:

[code]

Issue can be closed :)

[2022-02-16 07:57] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1850999761

[2022-02-16 08:15] #23729 closed

[2022-02-16 08:18] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1850999761

[2022-02-16 08:40] mkouba commented on #23734
@nunocasteleira Thanks for reporting! You're right, we need to relax the validation for similar use cases.

[2022-02-16 08:54] #23677 closed

[2022-02-16 09:03] galderz opened #23748 "Remove JBoss Threads version printing when building native"
JBoss Thread printing version information when building native images getting in the way of the new GraalVM 22.x output:

[code]

[2022-02-16 09:06] u6f6o commented on #23746
A possible workaround for this issue is to wrap the cached method and to use the kotlin-mutiny lib:
[code]

[2022-02-16 09:13] #23623 closed

[2022-02-16 09:15] jrepe opened #23749 "Proactive auth as false doesn't work for endpoints annotated with @PermitAll and requests with Bearer Token"
### Describe the bug

I was moving a service we have from Quarkus version 2.3.1.Final to 2.7.1.Final and I've noticed there's different behaviour when it comes to proactive authentication and bearer tokens. From version 2.4.0 onwards, setting `quarkus.http.auth.proactive=false` doesn't seem to influence requests with bearer token authentication when the endpoint the request targets is annotated wi

[2022-02-16 09:18] marcelhanser opened #23750 "Multimodule Gradle build nondeterministic fails with "java.util.zip.ZipException: zip END header not found""
### Describe the bug

In around 60% of our builds we get the following error during a compileTestJava task
[code]

[2022-02-16 09:20] evacchi commented on #12486
- issues with persistence @tiagodolphine
- status for serverless @fjtirado ?

[2022-02-16 09:21] ozangunalp commented on #23411
I started to migrate that test to use KeycloakX, will update this issue with my results.

[2022-02-16 09:21] sberyozkin commented on #23411
@ozangunalp Great, thanks

[2022-02-16 09:21] galderz commented on #23411
@sberyozkin @ozangunalp See zulip...

[2022-02-16 09:23] sberyozkin commented on #23729
@turing85 Sounds good, thanks

[2022-02-16 09:45] geoand commented on #23748
I had done something similar in https://github.com/quarkusio/quarkus/pull/22794, but it was only for the build

[2022-02-16 09:45] mkouba commented on #23734
https://github.com/quarkusio/quarkus/pull/23751 should fix the problem.

[2022-02-16 09:51] nunocasteleira commented on #23734
Thanks for the awesome support and quick fix!

[2022-02-16 09:57] #23718 closed

[2022-02-16 10:12] turing85 opened #23752 "maven: Support different/multiple class-directories for tests"
### Description

Suppose we have a maven project with the following folder structure:

[code]

We want to have the following capabilities:
- execute classes in `test-classes` as unit tests (through `surefire`, already works as expected)
- execute classes in `integrationtest-classes` (through `failsafe`)
- execute classes in `blackboxtest-classes` (through `failsafe`).

The executions of `failsafe`

[2022-02-16 10:18] Sanne commented on #23700
Thanks, that's interesting. Good idea to make sure a defined set of connections are initialized; so you've set the Quarkus initial size to 10, but what's the initial size in Spring Boot?

[2022-02-16 10:36] wicksim commented on #21367
@cescoffier Sorry to bother you again, but I'm not sure if we are talking about the same. I'm talking about `@Incoming` only, not outgoing of any kind. And I'm not sure what exactly this has to do with metadata. Consider the following snippet:

[code]
`MyBusinessService` (or any subsidiary bean) would then read values from `MyRequestScopedBean`. If that would really be impossible, so how would all

[2022-02-16 10:50] loicmathieu opened #23755 "Missing Elasticsearch quickstarts"
### Description

There is no Elasticsearch quickstarts, they are documented in the guide but cannot be found.

I search everywhere on my computer as I should have write them when I first create the two Elasticsearch extensions but didn't find them so they need to be re-created.

The documentation has been updated to remove any link to them while waiting for them to be created, see #23754

### Impl

[2022-02-16 11:25] sbeigel opened #23756 "RESTEasy (Reactive) JSON serialization for multipart form data containing emojis is wrong"
### Describe the bug

Serialization (string) data containing emojis as JSON form parts in multipart responses or payloads differs from serialization in non-multipart contexts:

[code]

Looking at the raw request's response shows different encodings for the emoji part. It's not a "simple" UTF-8 problem as the German umlauts for example are correct. This is taken from IntelliJ's HTTP request tool's

[2022-02-16 11:28] sberyozkin commented on #23749
@jrepe Thanks, as I said in our earlier discussion, I don't consider it a bug since `@PermitAll` is not used to mark public endpoints, the authentication should still succeed. The problem is that you are saying it is not enforced for basic auth - but in your reproducer you don't have basic authentication enabled

[2022-02-16 11:33] jrepe commented on #23749
Ah alright then, if it's expected for @PermitAll in the context of bearer tokens, than that's alright, and I'll take that into account. Feel free to close this then.

[2022-02-16 12:06] mklueh opened #23757 "Cannot add entity to lazy loaded collection with Quarkus Reactive Panache - org.hibernate.LazyInitializationException"
### Describe the bug

When I'm trying to insert into a child collection of type OneToMany, I'm running into this error:

I've tried multiple ways of inserting, and all result in the same behavior. Also tried using Mutiny.SessionFactory with no change.

[code]

Results in error:

[code]

### How to Reproduce?

Reproducer: https://github.com/mklueh/quarkus-reproducer-insert-into-lazy-collection

###

[2022-02-16 12:13] sberyozkin commented on #23749
@jrepe It is not specific to the bearer tokens, it should also fail for the basic auth case; as I said I was testing it locally and it was failing for me too (with `@PermitAll` and invalid Basic auth) - in your reproducer, you only have `oidc` enabled, `basic-auth` is not enabled.
So when you send something that `OIDC` does not recognize (it only knows about the `bearer` scheme) it just lets some

[2022-02-16 12:18] sberyozkin commented on #23749
I think this issue may be related, #17591

[2022-02-16 12:20] #23603 closed

[2022-02-16 12:22] sberyozkin commented on #23749
@jrepe I'm pretty sure now that what you observe is related to #17591, so I will investigate when I can get a chance; but also I'd expect that with the enabled basic authentication you'd get 401 with `@PermitAll`

[2022-02-16 12:30] cescoffier commented on #21367
@wicksim I'm not totally sure what it will do now. Initially, it was taking the wrong request scoped. Now, it may create a new one and disable it after the process method. @mkouba can you confirm?

[2022-02-16 12:35] sberyozkin commented on #23749
@jrepe That said, the current behavior in your reproducer makes sense; `OIDC` itself can't fail the request if it does not recognize the credential type, and since no `basic` is enabled it is effectively an anonymous request which succeeds against `@PermitAll`.
So  `@PermitAll` does trigger the authentication even if the proactive auth is disabled but also accepts the anonymous requests - which is

[2022-02-16 12:36] cescoffier commented on #23411
I would not migrate all our test to KaycloakX. We still have users on "classic" keycloak, and if we start seeing behavior differences, it can be tricky. I don't mind migrating these, but we need to keep that in mind.

[2022-02-16 12:45] michael-simons opened #23759 "io.quarkus:quarkus-jacoco does not work with `QuarkusUnitTest`"
### Describe the bug

The guide on https://quarkus.io/guides/tests-with-coverage#setting-up-jacoco has improved a lot, the quarkus-jacoco extension is a great idea. I wanted to correctly measure my Neo4j-Migrations extensions (https://github.com/michael-simons/neo4j-migrations/tree/main/neo4j-migrations-quarkus-parent) but the new plugin does not work with `QuarkusUnitTest` (it fails hard on deplo

[2022-02-16 12:55] AndreasMaita commented on #23676
Yes, and went down the deep rabbithole that comes with it. I have tried every single solution out there. However, This issue is not about the M1, since i already created a VM that runs Linux Debian, which should have the known chip architecture.

[2022-02-16 12:58] #23711 closed

[2022-02-16 12:59] mkouba commented on #23714
FYI removed interceptors are not listed in the result of `/q/arc/removed-beans` either. Mainly because we don't need this kind of information at runtime, removed beans are used to [detect problem with programmatic lookup](https://github.com/quarkusio/quarkus/blob/main/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java#L625-L637). But having said that, we could

[2022-02-16 13:17] allwinboss commented on #23700
Hi Sanne,
There is no 'initial-size' config property defined in hikariCp Datasource config, but the there is a config property  'minimumIdle' is same as maximum pool size by default,  which is set when spring boot starts up to have the idle connection readily available  for any database query request from Repository layer. .

spring.datasource.hikari.maximum-pool-size= 10 #maximum pool size

Hikar

[2022-02-16 13:53] DavideD commented on #23739
It should be possible. I don't know why we have this error message.

Normally one would have a message from the `vertx-blocked-thread-checker` that says something like:
[code]

I suspect some extension is hiding it or the timeout comes from somewhere else.

[2022-02-16 14:15] luca-bassoricci opened #23762 "RR endpoints analysis treats subresource as JSON serializable entity"
### Describe the bug

During analysis phase declaring a resource method returning an subresource will result in a warning about missing JSON extension

### Expected behavior

Compilation should complete without warning because code is returning a subresource and not an entity to serialize

### Actual behavior

`WARN  [io.qua.res.rea.ser.dep.QuarkusServerEndpointIndexer] (build-56) Quarkus detected

[2022-02-16 14:30] #23660 closed

[2022-02-16 14:49] zakkak commented on #14139
@sberyozkin the following gets me past the above issue:

[code]

But it looks like the JUNIT tests are note native-image friendly. I am now getting:

[code]

[2022-02-16 14:58] #23737 closed

[2022-02-16 15:04] edeandrea opened #23765 "Remote debug not working"
I used the openshift extension to deploy my app to OpenShift via an S2I binary build. The app is up and running and `quarkus:remote-dev` connects to it fine and any local changes are pushed/reflected as expected.

My challenge is I can't seem to connect a remote debugger to it. I can't seem to get the pod to run in debug.

I've tried lots of combinations of environment variables/arguments, but not

[2022-02-16 16:15] manofthepeace opened #23766 "Unable to use @ClientExceptionMapper in native build"
### Describe the bug

While building I get this exception;

Error: com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved method during parsing: org.acme.RestService.toException(javax.ws.rs.core.Response).

I tried making the method public, and registering the interface for reflection but it did not work.

cc @geoand

### Expected behavior

Graalvm build should wor

[2022-02-16 16:23] geoand commented on #23766
Interesting, I'll take a look soon

[2022-02-16 16:32] FroMage commented on #9316
I'm working on this one ATM, I already have it working in Renarde, but would like an extension.

[2022-02-16 16:40] Felk opened #23767 "zero-config devservice with hibernate set to `drop-and-create` does not create tables"
### Describe the bug

I am trying to get the most minimal setup working in which a zero-config devservice gets populated by hibernate. When configuring [`quarkus.hibernate-orm.database.generation`](https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.database.generation) to `drop-and-create` I expected hibernate to automatically create a table `MyEntity`. Instead, I

[2022-02-16 17:17] dmlloyd opened #23769 "With logging, `java.util.MissingFormatArgumentException: Format specifier '%%'`"
### Describe the bug

When logging a message, an exception like the following is thrown:

[code]

This happens when logging a message whose format string contains the string `%%` after all `printf` format specifiers (i.e. a `%%` is the last `%` sequence in the string).

### Workaround

To work around this issue, an extra argument can be given to the log method (for example, add `, null` to the end

[2022-02-16 17:22] DavideD commented on #23757
This should work:
[code]

The problem is that one needs [to fetch lazy associations explicitly](https://hibernate.org/reactive/documentation/1.1/reference/html_single/#_fetching_lazy_associations) when using Hibernate Reactive.

You could also use the Hibernate Reactive `Mutiny#fetch` method:
[code]

[2022-02-16 18:31] mklueh commented on #23757
@DavideD oh, thank you. In my real-world application, my entity has two ManyToOne relations that have to be updated at the same time. This means I'd have to explicitly fetch two collections sequentially, waiting for both to complete and only then persist the child.

It sounds complicated to me and I would have no clue how to do that, but this got me to rethink if Hibernate is the right choice....

[2022-02-16 19:07] AkMo3 commented on #23769
Hey @dmlloyd, I looking to contribute to this project, and this issue seems to be an easy starting point. Can you please let me know how can I reproduce it?

[2022-02-16 19:12] dmlloyd commented on #23769
I'm glad you're interested! Unfortunately I've already fixed the problem - it was indeed an easy fix. (It's in a dependent component, and due to the way our Nexus instance works, the component won't find it's way to the upstream Maven servers until tomorrow, which is why there's no PR yet). You might consider hanging out on the [Zulip chat](https://quarkusio.zulipchat.com/) though if you're intere

[2022-02-16 19:46] Sanne commented on #23767
The warning is harmless, and can't be fixed easily in Hibernate ORM. At best we can rephrase the message but it's been like that for a long time.

It doesn't suggest that tables are not being created - please check. Might also be worth trying to save & load some data.

[2022-02-16 19:48] Sanne commented on #23767
(I didn't mean to suggest that we don't want to improve Hibernate ORM - we'll definitely want to get rid of these warnings, but I'm suggesting to do it in ORM v6 : probably not worth the effort in 5).

[2022-02-16 20:22] Plawn opened #23771 "Spring data JPA, can't find by FirstName"
### Describe the bug

for a method like this:

findByLastNameContainingAndFirstNameContainingAndEmailContainingAllIgnoreCase

and we have this error:

### Expected behavior

It automatically implements the query

### Actual behavior

The given error is thrown:

Caused by: io.quarkus.spring.data.deployment.UnableToParseMethodException: Unable to parse query with limiting results clause.

### How to

[2022-02-16 20:54] #23734 closed

[2022-02-16 21:28] josephearl commented on #23595
Would be great if this could also set the appropriate properties for camel-quarkus-activemq when the dev service is used

`camel.component.activemq.brokerURL`, `camel.component.activemq.username`, `camel.component.activemq.password`

[2022-02-16 22:00] stuartwdouglas commented on #23749
`@PermitAll` is used to mark public endpoints, with proactive auth disabled and `@PermitAll` no auth attempt should be made (assuming there are not other security rules defined in the config).

[2022-02-16 22:41] manofthepeace commented on #23766
I have found the issue. While trying to make a reproducer, the reproducer worked just fine. The problem was that my restClient interface had a custom interceptor. Unsure at all why but it made the graalVM fail.

To fix the issue I did annotate the toException method with `@NoClassInterceptors` and the error went away.

something like this;

[code]

I'll let you close the issue if you think this is

[2022-02-16 22:58] liuzqt opened #23774 "RequestScoped not working in CDI"
### Describe the bug

I annotated my context class as `@RequestScoped` and inject it into a service class, but it seems that it's still application scoped.

### Expected behavior

the class annotated as `@RequestScoped` should be request lifecycle

### Actual behavior

_No response_

### How to Reproduce?

using quarkus-quickstarts example https://github.com/quarkusio/quarkus-quickstarts/tree/main

[2022-02-16 23:18] manovotn commented on #23774
Hi @liuzqt

You are just testing it the wrong way so to speak :)
Let me clarify.

Request scoped bean uses a proxy which is injected and through which you can invoke methods on an actual bean instance.
However, if you directly reference a field, you will be referencing the proxy. I.e. in your case `myContext.val` will just try to read the field from proxy (and the state of proxy is undefined hence

[2022-02-16 23:38] liuzqt commented on #23774
@manovotn  that works, thank you for the explanation!

[2022-02-16 23:38] #23774 closed

[2022-02-17 02:24] tabuyos opened #23776 "Running gradle quarkusDev fails in a multi-module Gradle project"
### Describe the bug

I am learning the tutorial: [GETTING STARTED WITH REACTIVE](https://quarkus.io/guides/getting-started-reactive)

When I run `gradle :quarkus-reactive:quarkusDev` in a multi-module gradle project, I get an exception

When I comment out `implementation("io.quarkus:quarkus-hibernate-reactive-panache")` it works fine

### Expected behavior

This Quarkus plugin should work fine in

[2022-02-17 06:24] #23697 closed

[2022-02-17 06:47] geoand commented on #23765
It can't be as Quarkus has nothing to do with JVM debugging.

How were you setting this?

In any case, you'll need to see what the configuration of the running `Pod` is to see what environment variables and/or arguments are set.
Another thing to check is to see exec into the the running container and find the actual `java ...` command that launched the application.

[2022-02-17 06:52] geoand commented on #23766
Thanks for the update.

Mind showing the code for the interceptor as well?

Asking because I tried to reproduce the problem with a sample interceptor and I could not

[2022-02-17 07:04] cescoffier commented on #23595
While we could do that we need to be very careful not to have to add properties for all existing extensions. The dev service generates a build item, so the Camel extension should consume it and register the properties.

[2022-02-17 07:10] Felk commented on #23767
Thank you for your fast replies!

That is indeed a better way to check, and I should have done this to avoid false assumptions.

Indeed I connected to the wrong database. I connected to `postgres` out of habit, but quarkus creates a database called `default` (same as the datasource name I suppose?). I can confirm that everything actually works as expected 😅 Sorry for wasting your time a bit.

For

[2022-02-17 07:27] josephearl commented on #23595
That probably makes more sense @cescoffier

[2022-02-17 07:39] yrodiere commented on #23767
I'm afraid logging credentials by default is not an acceptable practice from a security standpoint. I suppose we could log the database name and username, but IIRC some people in the team are waging a war against having too much logs on startup :D

Maybe something we could add something integrated, a summary of all connected services on startup? And display it only in dev mode. That might gain acc

[2022-02-17 07:39] #23767 closed

[2022-02-17 07:45] geoand commented on #23759
As a first step, we should definitely not fail, that's easy :)

[2022-02-17 07:46] geoand commented on #23771
Can you add the sample and entity and repository you are using please?

[2022-02-17 07:59] mkouba commented on #23774
FTR here's a basic introduction to CDI client proxies: https://quarkus.io/guides/cdi#client_proxies

[2022-02-17 08:04] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1856842160

[2022-02-17 08:48] mbleichner opened #23780 "Quarkus dev mode does not honor Kotlin compiler args"
### Describe the bug

On initial compile, Kotlin compiler args get applied, but as soon as Quarkus triggers a recompilation in dev mode, they don't seem to be applied anymore.

### Expected behavior

Kotlin compiler args should always be applied.

### Actual behavior

Kotlin compiler args only get applied on first compile.

### How to Reproduce?

1. [code-with-quarkus.zip](https://github.com/quark

[2022-02-17 08:49] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1856842160

[2022-02-17 09:31] Plawn commented on #23771
hello,

here we have the repo

[code]

here you have the entity:

[code]

[2022-02-17 09:38] evacchi commented on #12486
PRs have been created for the native image issues. Need merging.

[2022-02-17 09:45] geoand commented on #12486
Thanks for the update @evacchi

[2022-02-17 09:46] josephassiga opened #23782 "Quarkus 2.7.1.Final unable to access Swagger-ui when deploying to Openshift"
### Describe the bug

Quarkus version : 2.7.1.Final
Quarkus CLI version : 2.6.3.Final
OS: Mac Pro 13 inch Monterey version 12.0.1
Openshift version : 4.7

The swagger-ui is available when running locally, but when deploying the application to Openshift, i cannot have access to swagger-ui, but the curl localhost:8080/openapi.yaml is available, and the api respond correctly.

I have also added the p

[2022-02-17 09:51] mschorsch commented on #23780
@evanchooly  This also happens with  `quarkus-rest-client-reactive`. If i use the kotlin compiler option `<arg>-Xjvm-default=all</arg>` the rest client crashes on recompile (dev mode only). This issue seems a general problem in dev mode with additional compiler args for kotlin in quarkus.

/cc @geoand

[2022-02-17 09:52] cescoffier commented on #23782
The property to set is `quarkus.swagger-ui.always-include=true`. The one you use seems misspelled.

[2022-02-17 09:52] cescoffier commented on #23782
Also, please try locally with `mvn package. && java -jar target/quarkus-app/quarkus-run.jar` to check if the problem is due to the openshift packaging.

[2022-02-17 09:54] itatdcer commented on #12457
Agree. What's worst, from my point of view, is that a call to a jaxrs endpoint that accepts and produces a JSON (for instances, get's redirected to the login page (returning HTML). Jaxrs should return a 401, right? Otherwise, how can a client work?

[2022-02-17 09:57] geoand commented on #23771
Thanks,

https://github.com/quarkusio/quarkus/pull/23783 fixes the issue

[2022-02-17 09:58] josephassiga commented on #23782
@cescoffier i have run the command :  mvn package  && java -jar target/quarkus-app/quarkus-run.jar locally and it works, the swager-ui is available

[2022-02-17 10:01] cescoffier commented on #23782
Ok, so it's related to the OpenShift packaging.
CC @iocanel @geoand

[2022-02-17 10:04] geoand commented on #23782
I have no idea what could be causing this... @iocanel any idea?

[2022-02-17 10:20] Plawn commented on #23771
thanks for the reactivity :)

[2022-02-17 10:21] maxandersen commented on #23782
got a reproducer we can try out ?

[2022-02-17 10:24] geoand commented on #23782
Short of that, the list of extensions would probably suffice

[2022-02-17 10:27] josephassiga commented on #23782
Current Quarkus extensions installed:

quarkus-hibernate-orm-panache
quarkus-hibernate-validator
quarkus-jdbc-h2
quarkus-jdbc-postgresql
quarkus-kubernetes-client
quarkus-openshift
quarkus-openshift-client
quarkus-resteasy
quarkus-resteasy-jackson
quarkus-resteasy-jsonb
quarkus-security-jpa
quarkus-smallrye-health
quarkus-smallrye-openapi

[2022-02-17 10:29] maxandersen commented on #23782
both h2 and postgresql ? (probably dont matter in this case just curious :)

[2022-02-17 10:42] josephassiga commented on #23782
I have updated the extension
Current Quarkus extensions installed:

quarkus-hibernate-orm-panache
quarkus-hibernate-validator
quarkus-jdbc-h2
quarkus-openshift
quarkus-openshift-client
quarkus-resteasy
quarkus-resteasy-jackson
quarkus-resteasy-jsonb
quarkus-security-jpa
quarkus-smallrye-health
quarkus-smallrye-openapi

[2022-02-17 10:43] phillip-kruger commented on #21111
@hogmuzzle @vnhim

I have started investigating this, as part of making sure GraphQL does Uni in a non blocking manner as I thought that was the problem, however, even after I fixed that, so Uni now run on the event loop, this still happens. I also discussed with @cescoffier, but we might need the help of @Sanne .

@Sanne - quick overview. When we create a GraphQL Endpoint that returns a Uni (in t

[2022-02-17 10:56] itatdcer commented on #12457
It turns out to be quite simple to "override" the default behavior. Based on FormAuthenticationMechanism and HttpAuthenticationMechanism code, I created the following custom Auth Mecanism:
`@Alternative
@Priority(1)
@ApplicationScoped
public class CustomAuthMechanism implements HttpAuthenticationMechanism {

    @Inject
    FormAuthenticationMechanism delegate;

    @Override
    public Uni<Securi

[2022-02-17 10:56] #23749 closed

[2022-02-17 11:24] tlloyd-synalogik opened #23786 "Knative autoscaling properties create incorrect manifest files"
### Describe the bug

Attempting to switch off Knative autoscaling via configuration properties does not work as expected.

This affects the following properties and values:
1. `quarkus.knative.scale-to-zero-enabled = false`
2. `quarkus.knative.min-scale = 1`

Deploying a sample application to a local Kubernetes cluster produces the following behaviour:
1. When `quarkus.knative.scale-to-zero-enabl

[2022-02-17 11:44] geoand commented on #23786
Thanks for the detailed report!

@iocanel @Sgitario can we fix this?

[2022-02-17 11:47] sberyozkin commented on #14139
@zakkak Great, how does that work, is that essentially `RuntimeReInitialize` but for these specific fields only ?

Re `Vertx`, I recall awhile back I did a code where it was created manually - but it was optimized (this injected instance is property closed), and because the native test was disabled it was missed it would not work in native.
Can you please init it to `Vertx.vertx()` instead and see

[2022-02-17 12:00] SebaLG commented on #16284
Is there any documentation or example about this? Thanks

[2022-02-17 12:06] #23608 closed

[2022-02-17 12:10] glefloch commented on #23780
Yes I thought too. But looking at     https://github.com/quarkusio/quarkus/blob/main/extensions/kotlin/deployment/src/main/java/io/quarkus/kotlin/deployment/KotlinCompilationProvider.java
We only set compiler plugin arguments and not compiler arguments anymore. I think this comes from the fact that those arguments can be mixed with java compiler arguments as we collect all arguments in one list.

[2022-02-17 12:27] machi1990 commented on #16284
We do not have an example (we should have one).

To get you going, the host provider may look like
[code]

and in your application.properties
[code]

[2022-02-17 12:28] DavideD commented on #23757
You know, I think this might be a bug in Hibernate Reactive. We should be able to notice that in this case one doesn't need to fetch the association and a reference to the parent is what we need.
By the way, this is not what the docs say but, unofficially, in this specific case, it should work if you only update the owning side of the association, like this:
[code]
Updating both sides of the assoc

[2022-02-17 12:29] machi1990 opened #23787 "Document redis host provider or give an example"
### Describe the bug

At the moment the redis guide is missing an example of the host provider feature

### Expected behavior

The feature should be documented

### Actual behavior

No documentation exists yet. We only have an integration test.

### Additional information

The documentation can be added based on https://github.com/quarkusio/quarkus/issues/16284#issuecomment-1042898488. The documen

[2022-02-17 12:31] DavideD commented on #23757
I will keep this issue open because I want to check what's going on

[2022-02-17 12:35] #23714 closed

[2022-02-17 12:38] mklueh commented on #23757
Just for completeness, I haven't tested it, it was just an assumption based on the Mutiny.fetch call that I'd have to do it two times before I could do what I wanted to do.

[2022-02-17 12:41] yrodiere commented on #23600
@gsmet From the Zulip discussion, it seems you started looking for a solution, so I assigned this ticket to you. Feel free to ping me and dump the info if you want me to take over.

[2022-02-17 12:48] yrodiere commented on #7358
Ok, it seems everyone who commented here just wants to be able to import data on startup in dev/test mode, even with ORM schema management disabled, and independently of other tools such as Flyway.

This makes sense, but that's what #21866 is about, and #21866 explains the use case more clearly, right in the issue description.

So I'll close this ticket as a duplicate of #21866. If you think that'

[2022-02-17 12:48] yrodiere commented on #7358
Duplicates #21866

[2022-02-17 13:04] zakkak commented on #14139
Kind of, it essentially instructs GraalVM to initialize this field to a specific value different than the one it had during compilation. In that particular case I am resetting the field so its value will be null in the native image heap. Note that the value is calculated and stored during build-time so there is no (re) initialization at run-time in contrast to `RuntimeReinitialize`.

I tried that

[2022-02-17 13:22] machi1990 commented on #23787
@VanillaSpoon will you be interested in this?

[2022-02-17 13:28] DavideD commented on #23757
You need to call fetch for all the lazy associations you intend to update, but in this case it shouldn't result in a query on the db because the info on the child should be enough. I need to check what happens in Hibernate ORM

[2022-02-17 13:32] #23540 closed

[2022-02-17 13:34] VanillaSpoon commented on #23787
Yea, I'll work on it :) could you assign it to me?

[2022-02-17 13:36] edeandrea opened #23788 "Deploying to OpenShift via openshift extension not working in 2.7.1.Final"
### Describe the bug

In Quarkus 2.7.1.Final using the openshift extension, doing `./mvnw clean package -DskipTests -Dquarkus.kubernetes.deployment-target=openshift -Dquarkus.container-image.builder=openshift -Dquarkus.openshift.resources.limits.memory=768Mi -Dquarkus.openshift.resources.requests.memory=256Mi -Dquarkus.kubernetes.deploy=true -Dquarkus.openshift.env.vars.JAVA_DEBUG=true -Dquarkus.c

[2022-02-17 13:42] geoand commented on #23788
Are you sure this isn't just some transient failure?

[2022-02-17 13:43] rob-spoor opened #23789 "quarkus-azure-functions-http - race condition in startup"
### Describe the bug

This issue was already described at https://github.com/quarkusio/quarkus/discussions/23699. We've now been able to pinpoint the issue in more detail.

There's a race condition at https://github.com/quarkusio/quarkus/blob/main/extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/BaseFunction.java#L46. With two concurrent requests, w

[2022-02-17 13:45] geoand commented on #23780
Interesting...

Wouldn't it make sense to only the Kotlin compiler arguments and not the Java compiler arguments at all?

[2022-02-17 13:45] geoand commented on #23788
Interesting, thanks.

@iocanel @Sgitario  sounds like a severe regression worth looking into...

[2022-02-17 13:49] edeandrea commented on #23765
But the `Dockerfile.jvm` that was used to create the image (https://github.com/quarkusio/quarkus-super-heroes/blob/main/rest-villains/src/main/docker/Dockerfile.jvm) came from code.quarkus.io. That Dockerfile defines its own `ENTRYPOINT` which does not include any debug "stuff".

By adding the environment variable to the `DeploymentConfig` and then triggering a rollout

It seems the image used (`u

[2022-02-17 13:53] RuggeroDAlo commented on #23736
I have the same issue using kafka + postgresql, I've added a reproducer https://github.com/RuggeroDAlo/quarkus-23736

After sending 4 or 5 messages to the configured topic (with kafka-console-producer for example) the same error happens.
Calling the endpoint that does the same thing doesn't result in the same error, everything seems to keep working.

This only seems to happen on quarkus 2.7.1, not

[2022-02-17 13:58] LazaroR94 commented on #23736
@RuggeroDAlo So the issue is not apparent in version 2.7.0?

[2022-02-17 13:58] geoand commented on #23765
You never mentioned you were using the Dockerfile...

Does it comes with `jcmd` in the directory where `java` is found? If so, you can do things like:

[code]

[2022-02-17 14:02] RuggeroDAlo commented on #23736
@LazaroR94 I can consistently trigger the error on 2.7.1 with 4/5 messages, I can't do the same on 2.7.0, I have no idea about the root cause so I dont know :smile:

[2022-02-17 14:09] edeandrea commented on #23765
That's what I tried first, just deploying the image that was built with that Dockerfile. When that didn't work I switched back to the s2i binary build, deploying from my local machine.

It does have `jcmd` but I don't know what the pid is....

If you look at the `DeplopymentConfig` that was generated by the openshift extension (see the end of my [previous comment](https://github.com/quarkusio/quar

[2022-02-17 14:09] LazaroR94 commented on #23736
I guess it's just me then because I just reproduced this with version 2.7.0 and still the same thing. I am highly certain this is due to the experimental reactive Oracle client still being in development perhaps.

[2022-02-17 14:09] rob-spoor commented on #23789
The `BaseFunction` class is not thread-safe at all. Its three static variables, `deploymentStatus`, `started` and `bootstrapError`, are not volatile and not guarded by any locks, yet they are still written to and read from.

[2022-02-17 14:10] cescoffier commented on #23782
also having:
[code]

looks odd (but should not be the problem here)

[2022-02-17 14:18] geoand commented on #23765
One question, where does `quarkus.openshift.jvm-arguments` come from? Is it mentioned somewhere in the docs?
Have you tried `quarkus.openshift.arguments=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005` instead?

[2022-02-17 14:25] patriot1burke commented on #23581
Why do you need to use a random test port?  Just curious?  Conflicting ports?

[2022-02-17 14:32] pawelmatras commented on #23581
Mainly in order to run integration tests in parallel for 5 times shorter test times.

[2022-02-17 14:38] DavideD commented on #23757
I've created an issue for Hibernate Reactive: https://github.com/hibernate/hibernate-reactive/issues/1207

[2022-02-17 14:41] edeandrea commented on #23765
I guess in addition was not using the provided run script (which handles the presence of the `JAVA_DEBUG` environment variable) a conscious decision by Quarkus? It seems when the openshift extension generates the `DeploymentConfig` it is overriding the `command` from the base image.

Was that a conscious choice? If so, why?

[2022-02-17 14:44] stefanwendelmann opened #23791 "REST JSON Parser confusion"
### Describe the bug

Since adding the `quarkus-rest-client-reactive-jackson` to my project all `@JsonbTransient` Annotations are ignored, leading to leak information.

### Expected behavior

Working `@JsonbTransient` Annotation

### Actual behavior

Ignored Annotation

### How to Reproduce?

pom.xml

[code]

Mongo DB Bson Class

UserSetting.java
[code]

SettingsService.java

[code]

SettingsResou

[2022-02-17 14:58] Sgitario commented on #23788
I think that the problem is that, in 2.7.1, the `ImageStream` resource that should be populated from the `Build` job output (s2i from binary), contains a wrong spec: `dockerImageRepository: quay.io/quarkus-super-heroes/rest-villains`. I guess this is the problematic code: https://github.com/quarkusio/quarkus/pull/23239/files#diff-2f7f8b1e6f4a44f6f156a44d9a60ec9f4a233e7874e8059fb0c627771a505fc4R242

[2022-02-17 15:01] Sgitario commented on #23786
+1 I will take a look into this issue

[2022-02-17 15:28] yrodiere commented on #23341
@Sanne is part of the problems you're already trying to address in the Oracle JDBC driver? Or should I have a look?

[2022-02-17 15:33] glefloch commented on #23735
Hi @ethan-gallant sorry for the delay I'm on PTO this week.
I think a first option would be to revert the commit you identify and test. If this work, then we will need to understand why the change introduced a regression.

[2022-02-17 15:34] manofthepeace commented on #23766
I am oddly totally unable to create a reproducer for it, even if I copy my annotation in totality.

I can at least put my full stacktrace here in case there is anything that could shed some light on what is happening, in the meantime I try to create a reproducer. With my "real" app, I get it consistently.

[code]

[2022-02-17 15:36] geoand commented on #23766
Thanks

[2022-02-17 15:36] #23309 closed

[2022-02-17 15:41] agatarychter opened #23793 "Jakarta CVE-2021-28170 Vulnerability in Quarkus"
### Describe the bug

Hello Quarkus Team,
we are currently developing the Quarkus-based app (version 2.7.1.Final). We use the dependency-check-maven plugin version 6.5.3 and get the following vulnerabilities (please see the report uploaded).
- CVE-2021-28170
- CVE-2019-10219 (this one is undergoing analysis, so I am not focusing on this one in this bug).

I have a question about the CVE-2021-28170

[2022-02-17 15:50] mklueh commented on #8966
I think this issue can be closed. Not sure if it is a thing anymore

[2022-02-17 15:50] #8966 closed

[2022-02-17 15:53] sberyozkin commented on #23793
@agatarychter Hi, as I have noted at #23476, [here](https://github.com/quarkusio/quarkus/issues/23476#issuecomment-1031562432), this specific CVE is a false positive, see
https://nvd.nist.gov/vuln/detail/CVE-2021-28170, note the affected Quarkus version - please open an issue for the dependency plugin and link to https://nvd.nist.gov/vuln/detail/CVE-2021-28170.

Can you also please consider using

[2022-02-17 15:56] JHahnHRO commented on #23713
Reasonably sure. I used such a decorator to log uncaught exceptions thrown from `@ObservesAsync` methods, since Quarkus seems to swallow those silently.

[2022-02-17 16:00] sberyozkin commented on #23793
@agatarychter Let me check it, you are doing it with undertow...

[2022-02-17 16:06] sberyozkin commented on #23793
@agatarychter I see, this issue is a duplicate of https://github.com/quarkusio/quarkus/issues/23003, indeed the jakarta api impl is affected but not the actual api. Let me close it, and please report the sec issues to security@quarkus.io :-)

[2022-02-17 16:06] #23793 closed

[2022-02-17 16:17] yrodiere commented on #6424
I had a look at the reproducer, but it's using Quarkus 1.1. If someone can provide a reproducer with a more recent version (say, 2.7.1), I will definitely have a look.

FWIW, here's my attempt at upgrading the reproducer to Quarkus 2.7.1: https://github.com/misl/QuarkusIssueReproducer/pull/1 . It did not work out.

[2022-02-17 17:11] LazaroR94 commented on #23736
I have just removed Panache.withTransaction() from all my repository save methods and replaced them instead with the @ReactiveTransactional annotation and that seems to allow only one insert into a database table (I have multiple tables I insert to) but with the same error above coming before the insert. I assume the issue may lie then with Hibernate reactive w/ Panache?

[2022-02-17 17:27] geoand commented on #23736
cc @tsegismont

[2022-02-17 17:39] MartinX3 opened #23797 "Hibernate @Formula returns an old value in PUT response"
### Describe the bug

If I update the child of a parent entity, the response still contains an old value in the @Formula field.

### Expected behavior

The refreshed value, after the transaction.

### Actual behavior

If I do a repo call after the transaction, I still get the cached value.

### How to Reproduce?

Entity A contains a @OneToMany list and a @Formula field, which does an AVG on a list

[2022-02-17 18:35] ngarg-panw commented on #23776
Facing the same issue after I upgraded my Quarkus from 2.0.0.CR3 to 2.7.1.Final
[code]

[2022-02-17 18:43] zakkak commented on #14139
:+1:

In case it helps I have pushed my changes (on top of your branch) in https://github.com/zakkak/quarkus/tree/bc_keypair_ecdsa_xdh-zakkak

[2022-02-17 19:20] patriot1burke commented on #23581
PR will allow setting quarkus.lambda.mock-event-server.test-port to 0

[2022-02-17 20:08] glefloch commented on #23776
Thanks for reporting this @tabuyos. Could you try to remove configuration related settings in your main build.gradle (from line 47 to 55) ?

[2022-02-17 20:08] Postremus opened #23799 "Warning in dev mode about not set -source 11 option with jdk 17"
### Describe the bug

We currently use java 17 as runtime version for our projects, since it will bring some nice language features.
However, still bound atm to 11 as language version, since we experience some bugs with eclipse 2021-12, and can't upgrade therefore just yet.

Because of this, we specified java 11 as source and target version in our pom properties.
[code]

As runtime (in docker, loc

[2022-02-17 20:21] manofthepeace commented on #23766
@geoand  I have made a reproducer [here](https://github.com/manofthepeace/quarkus-reproducer-mapperinterceptor)

I see a couple of issues. So in the end what I thought was working wasn't. Build would work, but it would not work at runtime

1. In EventService.java you will see I commented out the `@NoClassInterceptors`
in this scenario, `mvn clean package -Pnative` will fail with the exception I pa

[2022-02-17 21:26] LazaroR94 commented on #23736
I have had a breakthrough. It seems like you cannot return a combination of Unis from a method. The reason I had a combination of Unis was because I needed to ensure successful database insertion on three different tables and also to rollback any saves to the database in case any Uni save failed in the sequence. I guess my question is now: How can I have a Uni chain in which there's multiple datab

[2022-02-17 22:09] #23736 closed

[2022-02-17 22:14] LazaroR94 commented on #23736
It seems that I was not correctly enclosing multiple inserts within a single transaction, therefore, Hibernate complained that an active connection to the database was already established previously and was trying to establish itself again. I have fixed this with the following:

[code]

[2022-02-17 22:23] ngarg-panw commented on #23776
@glefloch I have similar code as @tabuyos .
[code]
val apc = get("annotationProcessor")
  get("compileOnly").extendsFrom(apc)
  get("testCompileOnly").extendsFrom(apc)
[code]

[2022-02-17 22:46] famod commented on #23799
Projects from code.quarkus.io come with `<maven.compiler.release>11</maven.compiler.release>` and don't have this problem.
But when you swap that with:
[code]
the warning is there.

[2022-02-18 01:42] #23581 closed

[2022-02-18 04:48] allwinboss commented on #23700
Hi Sanne,
do you have  updates on the slow boot time occurring due to initial size connection pool override in agroal?.

[2022-02-18 07:01] glefloch commented on #23750
Thanks for reporting this @marcelhanser.
In your project, are referencing `mavenLocal()` as repository ?
If this is the case, could you remove it or place it in last position if need to access local artifact ?

[2022-02-18 07:34] gleb-kosteiko commented on #18685
Any updates on this issue?

[2022-02-18 08:40] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1862684496

[2022-02-18 09:28] geoand commented on #23766
Thanks.

I'll have a look next week and reopen the issue if necessary.

[2022-02-18 09:38] RuggeroDAlo opened #23804 "Postgresql with Panache + Kafka consumer results in HR000061: Session is currently connecting to database"
### Describe the bug

After 4 calls to panache in a reactive kafka channel method the following error is raised:
[code]

This doesn't work:
[code]
This does:
[code]

I've created a reproducer, this only happens when using panache with kafka on 2.7.1, pure hibernate reactive with kafka on 2.7.1 works, panache with a reactive endpoint on 2.7.1 works, 2.7.0 works for everything.

I think these may be

[2022-02-18 09:58] XSAM opened #23805 "gRPC service throw warning when using @Blocking and OpenTelemetry gRPC instrumentation"
### Describe the bug

Calling a gRPC method with @Blocking annotation produces warnings when enabling [io.opentelemetry.instrumentation:opentelemetry-grpc-1.6:1.10.0-alpha](https://mvnrepository.com/artifact/io.opentelemetry.instrumentation/opentelemetry-grpc-1.6/1.10.0-alpha) and io.quarkus:quarkus-opentelemetry-exporter-otlp.

It does not affect gRPC methods without @Blocking annotation.

### Ex

[2022-02-18 12:30] pbezpalko opened #23807 "Microprofile Config doesn't read config profiled properties when injected into servlet.Filter class in native mode"
### Describe the bug

It seems to quarkus-undertow (processing Filter classes) doesn't work properly with profiled Quarkus configuration under **native image**.

Injected _org.eclipse.microprofile.config.Config_ instance in class implementing _javax.servlet.Filter_ doesn't contain values defined in active profile. But this happens only in native mode. Under standard JVM everything works fine and a

[2022-02-18 14:26] jrepe commented on #23749
@stuartwdouglas @sberyozkin Amazing, thanks for the quick fix :)

[2022-02-18 15:46] #23787 closed

[2022-02-18 15:48] machi1990 commented on #22479
We have added a note on 2.1 about the migration.

Furthermore, once this https://github.com/quarkusio/quarkus/pull/23634 is merged. The quartz extension will provide a smooth migration for this case.

[2022-02-18 16:32] bvahdat commented on #16613
@Sanne @stuartwdouglas @gsmet

I am running into the exact same problem using `2.7.1.Final` because my config source is not Properties file but YML under the `config` folder.

If I switch to use Properties under `src/main/resources/application.properties` then it works but providing the following in `config/application-dev.yml` doesn´t work:

[code]

Do you want me to create another issue or shoul

[2022-02-18 16:52] srigano commented on #16613
There is another issue : 23357.

Le ven. 18 févr. 2022 à 17:32, Babak Vahdat ***@***.***> a
écrit :

[2022-02-18 17:08] bvahdat commented on #16613
@srigano
#23357 fixed your issue but not mine, so why I am asking here. IMHO this reported issue here needs to be reopened as the provided fix by #23357 doesn´t work _in general_, e.g. when using `config/application-dev.yml`.

[2022-02-18 19:43] machi1990 commented on #22546
This also seems like a nice addition to the config doc generator

[2022-02-18 21:11] famod opened #23811 "`BlockingRawTest` is flaky"
### Description

E.g.:
- https://github.com/quarkusio/quarkus/pull/23808#issuecomment-1045183815
- https://github.com/quarkusio/quarkus/pull/23763#issuecomment-1042891973
- https://github.com/quarkusio/quarkus/pull/23648#issuecomment-1037962015

[code]
(notice the delay of 30s)

### Implementation ideas

_No response_

[2022-02-18 21:14] famod commented on #23811
/cc @michalszynkiewicz

[2022-02-19 11:50] romilpunetha opened #23813 "@MongoEntity with database parameter does not detect database when using mongo panache"
### Describe the bug

The following is my code structure:

[code]

When I'm running this code, mongo panache fails with IllegalArgumentException:

`The database attribute was not set for the @MongoEntity annotation and neither was the database property configured for the default Mongo Client (via 'quarkus.mongodb.database').`

If I pass the default client using `quarkus.mongodb.database`, all my c

[2022-02-19 13:07] apat59 commented on #18685
@maxandersen
Hi mate (Anthony writing),
Since:
- the symptom appeared exactly starting 1.13.7
- the problem is not happening with another app built on plain vert.x + c3p0 pooling hitting the same db cluster

I'm pretty sure there is something really tricky and specific.
In my case, the db is an amazon prod cluster and the apps are deployed on openshift.
I indeed suspect some specific amazon config

[2022-02-19 14:17] beckend opened #23814 "2.7.1.final kotlin tests not found task: quarkusTest"
### Describe the bug

Using version `2.7.1.final`
No tests are found, configured using kotlin and gradle.
Reverting to `2.6.3.final`, the tests are found and are running.

### Expected behavior

[code]

### Actual behavior

Using version 2.7.1.final
[code]

### How to Reproduce?

https://github.com/beckend/quarkus-test-bug

found and passing tests:
[code]

no tests found:
[code]

### Output of `un

[2022-02-19 14:22] beckend commented on #23814
possible duplicate of https://github.com/quarkusio/quarkus/issues/23735

[2022-02-19 16:27] gilbertopsantosjr commented on #16023
is this issue has been fixed ?

[2022-02-19 19:19] lucifer4j commented on #23799
Hi! If I understand correctly, this is not a Quarkus related issue. You can reproduce the warning by compiling any java file with javac and using the right set of flags. For instance, try compiling this `Test.java` file with the javac command that follows on **JDK 17**.

[code]
[code]
You'll see a message like: `warning: [options] system modules path not set in conjunction with -source 11`.

The r

[2022-02-20 00:07] LazaroR94 opened #23815 "Hibernate Reactive Panache incorrect column values for insertion w/ Reactive Oracle Client"
### Describe the bug

I am experiencing a very strange error when I attempt to insert a 36 character String into a VARCHAR2(36) column in my Oracle database. I am generating a UUID gen4 from the application and converting it to a String before insertion into that column (I have also tested this with a random String value) but it is complaining that the value is absurdly too large in length somehow

[2022-02-20 04:21] AkMo3 commented on #23756
@sbeigel I believe the issue is with the Intellij HTTP request tool not with RESTEasy serialization. In my system (Ubuntu 20.04) the native file editor shows the emoji correctly but the Intellij fails to serialize it.

![ss1](https://user-images.githubusercontent.com/69365878/154828265-bad45414-6d3e-422a-a3dd-ee0c8f43bcf8.png)
![Screenshot from 2022-02-20 09-47-56](https://user-images.githubuserco

[2022-02-20 05:18] leotu opened #23816 "IllegalStateException if method return type is CompletionStage<Xxx> using @CacheResult"
### Describe the bug

Method return type is CompletionStage<Xxx> cause "The current thread cannot be blocked: vert.x-eventloop-thread-xx"

[code]

### Expected behavior

Should work when function return type CompletionStage<XXX> Annotated with  @CacheResult or  @CacheInvalidate

### Actual behavior

[code]

### How to Reproduce?

Test Code

[code]

### Output of `uname -a` or `ver`

_No response_

[2022-02-20 08:15] leotu commented on #23816
Note:
Downgrade to version 2.6.3.Final, still failed
Downgrade to version 2.5.4.Final, works

[2022-02-20 09:06] sbeigel commented on #23756
@AkMo3 The second part ("dataAsString") is not the problem, that's ok for me as well and you are right that IntelliJ's viewer doesn't show this "correct", but that is not the point. The problem is the first part ("data") that is serialized automatically. In your screenshots, there seems to be no JSON serialization at all for this part, don't know what exactly you are doing.

To recap the issue: It

[2022-02-20 16:27] lucifer4j commented on #23676
Hi!

When using `-Dquarkus.native.container-build=true`, a docker image is downloaded in which the native executable is built. As you can see from the logs, its `quay.io/quarkus/ubi-quarkus-native-image` in this case and its a `x86_64` image. The error you see
[code]
results from running a `x86_64` container on an `arm`  host.

Further, it seems there is no ARM variant available for this [image](h

[2022-02-20 17:25] DavideD opened #23820 "Create integration tests for Hibernate Reactive and Oracle"
### Description

Similar to https://github.com/quarkusio/quarkus/issues/19172 but for Oracle

### Implementation ideas

_No response_

[2022-02-20 21:01] glefloch commented on #23814
Thanks for reporting this @beckend.
Indeed this is a duplicate of #23735.
I will close this issue in favor of the other one.

[2022-02-20 21:01] #23814 closed

[2022-02-20 21:47] mwalliczek opened #23821 "Config property quarkus.hibernate-orm.sql-load-script can not be overriden in custom profiles"
### Describe the bug

When trying to set the config property quarkus.hibernate-orm.sql-load-script in a custom profile to an existing file and to override the value "no-file" from prod-profile, that setting is ignored and the script is not executed. The only way to activate the script is to use the defined prod profile. That makes it difficult to test the complete application via integration tests

[2022-02-21 00:13] stuartwdouglas commented on #23735
@aloubyansky it seems to be caused by this line: https://github.com/stuartwdouglas/quarkus/blob/9c50cfa2185c213b1959494394da7fe14aeeee55/devtools/gradle/gradle-application-plugin/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java#L459

`project.getWorkspaceModule().getTestSources()` seems to be returning null, which was changed in https://github.com/aloubyansky/quarkus/commit/84c4b359daeb911c04

[2022-02-21 02:04] clara0 opened #23822 "Use EnumSet in place of HashSet for enum elements"
### Description

EnumSet can be used to hold Enum instances in `IdeProcessor` since `Ide` is an enum:
- `Set<Ide> result = new HashSet<>(2)`
- `Set<Ide> result = new HashSet<>(4)`

### Implementation ideas

_No response_

[2022-02-21 05:52] aloubyansky commented on #23735
Thanks, I'll look into this.

[2022-02-21 05:57] #13052 closed

[2022-02-21 07:48] #23771 closed

[2022-02-21 07:57] #23811 closed

[2022-02-21 08:24] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1874327067

[2022-02-21 08:28] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1874327067

[2022-02-21 08:29] bvahdat opened #23825 "Running quarkus:dev together with Quarkus JDBC DB2 extension fails when using YAML format configuration"
### Describe the bug

This is about the same issue as reported by https://github.com/quarkusio/quarkus/issues/16613 which is resolved in `2.7.1.Final` when `application.properties` is in use. In my case I have YAML configuration in place which runs into the same problem.

For more details see [here](https://github.com/quarkusio/quarkus/issues/16613#issuecomment-1044797117).

### Expected behavior

[2022-02-21 08:39] michalszynkiewicz opened #23829 "REST Client Reactive: skip measuring time for SSE calls"
### Description

Right now we measure time of operations for all the calls.
Measuring response times for server sent events doesn't seem to have much sense.
We should try to skip gathering time statistics for SSE

### Implementation ideas

_No response_

[2022-02-21 08:51] aloubyansky commented on #23825
Looks like we need to collect all the config sources for class loading before bootstrapping.

[2022-02-21 08:57] #22479 closed

[2022-02-21 09:00] geoand commented on #23766
https://github.com/quarkusio/quarkus/pull/23830 fixes the issue

[2022-02-21 09:01] iocanel commented on #23788
I can reproduce the issue.
However, I am not able to see spot anything obvious.
@Sgitario I don't see where: `dockerImageRepository: quay.io/quarkus-super-heroes/rest-villains` comes from.
Will keep looking.

[2022-02-21 09:12] #23822 closed

[2022-02-21 09:13] iocanel commented on #23788
What I do see, is that we are missing the `ImageStream` of the builder image.

[2022-02-21 09:19] mkouba commented on #23713
Hm, I've tried to modify the config quickstart and it did not work even in 2.2.3.Final: https://github.com/mkouba/quarkus-quickstarts/tree/event-decorator/config-quickstart

[2022-02-21 09:20] #23791 closed

[2022-02-21 09:44] manovotn commented on #23713
I am also fairly confident this was never supported. Quarkus has only limited decorator support and having them applied to built-in beans is certainly not one of the base scenarios that were covered so far :-)

[2022-02-21 09:59] Karm commented on #19082
This is no longer an issue as per tests done in #23518

[2022-02-21 09:59] #19082 closed

[2022-02-21 10:01] AndreasMaita commented on #23676
Thank you very much for your input. I will take a look at this other issue!

[2022-02-21 10:01] #23676 closed

[2022-02-21 10:05] gsmet commented on #23791
And you should probably consistently either use JSON-B or Jackson (you're using one for the server side and the other one for the client side, right now).

[2022-02-21 10:06] #23756 closed

[2022-02-21 10:18] loicmathieu commented on #23813
@romilpunetha can you link to a reproducer or upload one inside the issue ? This would help us on it a lot.

[2022-02-21 10:25] #23788 closed

[2022-02-21 10:55] geoand commented on #23782
I just tried this with our [OpenAPI quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/openapi-swaggerui-quickstart) (with the addition of `quarkus.swagger-ui.always-include=true` in `application.properties`) and it worked as expected.

[2022-02-21 10:55] #23782 closed

[2022-02-21 11:16] Sgitario opened #23832 "Knative: Property `quarkus.knative.revision-auto-scaling.container-concurrency` is ignored"
### Describe the bug

When using the property `quarkus.knative.revision-auto-scaling.container-concurrency` with a value `5` for example and we generate the Knative manifests, the generated Knative service ignores this value and it always uses `0`:

[code]

I did check that the decorator `ApplyLocalContainerConcurrencyDecorator` is executed with the right value (`5`), but for some reason, this is

[2022-02-21 11:16] Sgitario commented on #23832
@iocanel I tried to troubleshot this issue, but I could not find which configurator or decorator is overwritten the container concurrency field, any ideas?

[2022-02-21 11:18] #23762 closed

[2022-02-21 11:41] josephearl opened #23833 "Update Quarkus release planning page"
### Description

As a Quarkus user I found the Quarkus release planning page - https://github.com/quarkusio/quarkus/wiki/Release-Planning - quite useful to know roughly when to expect updates.
It seems this has not been updated since 2.7.

Could it be updated? Or if the plan is to communicate releases in some other way (e.g. issue milestones) then perhaps the link in the README could be replaced w

[2022-02-21 11:44] gsmet commented on #23833
It's updated. We just haven't planned 2.8 yet. It will be done soon.

[2022-02-21 11:44] #23833 closed

[2022-02-21 12:21] grubermi opened #23836 "native docker container image is not created/pushed"
### Describe the bug

We want to create a native binary in a container and push the resulting contianer image to our docker registry by using `mvn clean package -Pnative -Dquarkus.native.container-build=true -Dquarkus.container-image.push=true  -Dquarkus.container-image.registry=our.docker.registry:5000 `.
Until version 2.6.1.Final this works fine. Since we updated to version 2.7.1.Final, this com

[2022-02-21 12:26] marcelhanser commented on #23750
Hi @glefloch, no we use a corporate repository. Does your suggestion also apply to that?

[2022-02-21 12:37] zakkak commented on #23517
Done: https://github.com/quarkusio/quarkus/pull/23837

[2022-02-21 12:38] edeandrea commented on #23788
Will this make it into a 2.7.x backport? If not then the sample app will need to stay on 2.7.0.Final until a release containing this fix is available.

[2022-02-21 12:39] geoand commented on #23788
See the label in the link PR

[2022-02-21 12:51] raoua-eng opened #23838 "java validation errors in graphql"
### Describe the bug

I'm experiensing validation in GraphQL inputs with the Java Bean Validation API and I tried to customize message errors by using the expression language (EL) as below :

[code]
Then in the graphql playground if we added a wrong civility with an invalid charachter long, here must be at least 5 we get this message error :

[code]

### Expected behavior

In the message error sho

[2022-02-21 12:54] jmartisk commented on #23838
@gsmet could you have a look? To me it looks like a HV issue, not specific to GraphQL

[2022-02-21 12:58] #22815 closed

[2022-02-21 13:04] glefloch commented on #23750
Do you have a reproducer @marcelhanser, I think this issue has been fixed in #23802.

[2022-02-21 13:24] yrodiere commented on #23797
Hey @DavideD , this seems to be about Hibernate Reactive.

[2022-02-21 13:32] Sanne commented on #16613
@bvahdat interesting - could you open a different issue please?

If it works with `application.properties` then it suggests the specific issue with classloading of the license is resolved, there most likely is some issue in how the .`yml` file is interpreted - which would be a bug in configuration parsing, not specific to DB2.

[2022-02-21 13:33] Sanne commented on #16613
ah you did it already - perfect thanks!

[2022-02-21 13:34] Sanne commented on #23825
Removing the `persistence` label as I don't think it applies.

[2022-02-21 14:32] geoand commented on #23836
Please attach a sample project that exhibits the problematic behavior as I was not able to reproducer it.

[2022-02-21 14:52] marcelhanser commented on #23750
Unfortunately not.. its a huge project. But we will try 2.8.x as soon as its released and give feedback here. Would that be fine?

[2022-02-21 14:55] yrodiere commented on #23821
Duplicates #7358

[2022-02-21 14:57] yrodiere commented on #23821
As explained in #7358, `quarkus.hibernate-orm.sql-load-script` is a build-time property. It's set at build time, before profiles can be enabled. So indeed, it cannot be overridden.

I suppose you're using `import.sql` to load test data? If so, the solution to your problem lies here: https://github.com/quarkusio/quarkus/issues/21866

I'm going to close this; please let me know if you think #21866 w

[2022-02-21 15:13] geoand commented on #23715
Closing as `Won't fix`

[2022-02-21 15:13] #23715 closed

[2022-02-21 15:25] #23573 closed

[2022-02-21 15:28] yrodiere commented on #21866
We keep getting similar bug reports (latest: #23821) from users who are suprised that `sql-load-script` is fixed at build time. And, quite frankly, it's hard to argue. I mean, wouldn't you expect `sql-*load*-script` to be used for... I don't know... loading data?

Anyway, I'm getting more and more convinced that the problem is, beyond the missing feature, that our configuration is confusing.

And

[2022-02-21 15:29] geoand commented on #23622
I am assuming that what's going on is that the name of the parameter is different from the name in the `@Path`

[2022-02-21 15:29] #23622 closed

[2022-02-21 15:54] mwalliczek commented on #23821
Sorry, but I don't see any solution in the referenced issues.

Basically I want to create an integration test, which enters some test data in the database, starts the build application and performes some tests. If possible, I don't need any "real" database server at all, in fact it would be more easy to use the dev-services and a docker database image, like in the test profile. But I did not manag

[2022-02-21 16:07] Naros commented on #22204
Hi @gsmet, I'll try to take a look at this as soon as I can.  My plate is pretty full this week but I'll do my best to try and look at it perhaps on Friday during DoL.

[2022-02-21 16:30] yrodiere commented on #23821
#21866 is about adding a property to set a script to execute on startup, whose purpose is to initialize data, and which can be  different for each profile (test, dev, prod).

Doesn't that cover your use case?

[2022-02-21 16:55] oaklandcorp-jkaiser opened #23841 "Out of date entrypoint documentation in container image guide"
### Description

The [container image guide](https://quarkus.io/guides/container-image#jvm-debugging) has a section describing how to override the entrypoint of a JIB container image and it seems like the instructions in this section may be out of date. The default base image described there (`fabric8/java-alpine-openjdk11-jre`) doesn't seem to line up with the default base image described in the

[2022-02-21 16:57] geoand commented on #23841
I'll have a look tomorrow.

[2022-02-21 17:06] mwalliczek commented on #23821
You are absolute right, #21866 would be a perfect solution. In the meantime until #21866 is implemented I need to think about a workaround.

[2022-02-21 17:11] n1hility opened #23842 "Quarkus 3.0 code migration update facility"
### Description

In preparation for an eventual move to Jakarta, the quarkus update facility should support the transformation of existing app code, renaming calls from javax.* to jakarta.*.  Users should be able to decline if they wish to perform this work themselves.

### Analysis

Things this will solve
- All SOURCE code in the current quarkus app directory will be updated to refer to jakarta p

[2022-02-21 17:13] #22808 closed

[2022-02-21 17:13] #23338 closed

[2022-02-21 17:16] #22029 closed

[2022-02-21 17:43] mklueh commented on #23622
@geoand sorry, I forgot to answer.

I was missing the name in the path, and had no annotation on the method parameter, because I wanted to have a query param, not a route param.

So JAX assumed it's meant to be a path parameter.

However, my point was just that the error given is misleading and does not help to find out that either a name was missing in the path, or that the query parameter was mi

[2022-02-21 17:55] geoand commented on #23622
Yeah I understand, but the issue is that we can't know whether you are after a path parameter or the entire message body

[2022-02-21 18:09] cortex93 commented on #15209
@geoand What I was trying to do to is to configure scope to request during a token exchange per method on a RestClient interface.

Currently, `AccessTokenRequestFilter` can use only one specific oidc client. So, while I can configure token exchange scope, it is done for all rest client interface decorated with the `AccessTokenRequestFilter`.

Ideally, in one application, I would like something lik

[2022-02-21 18:22] #23735 closed

[2022-02-21 18:23] DavideD commented on #23815
I've tried to reproduce the error but everything seems to work.
I've updated your reproducer and added a test.  I've refactored it a bit but it doesn't affect the value of the result.

Is it possible that the use case in the test doesn't match what you are doing in the real applicaiton?

[2022-02-21 18:23] DavideD commented on #23815
This is the reproducer: https://github.com/DavideD/hibernate-reproducer

[2022-02-21 18:35] lordofthejars opened #23844 "quarkus.container-image.push is ignored with buildpacks"
### Describe the bug

I just created a simple project with buildpacks extension registered then I set the buildpack image, I run the following command:

`./mvnw clean package -DskipTests -Dquarkus.container-image.push=true`

But no push was done.

### Expected behavior

Image created and pushed

### Actual behavior

The container is created but not pushed:

[code]

### How to Reproduce?

Create a

[2022-02-21 18:51] #22762 closed

[2022-02-21 19:07] LazaroR94 commented on #23815
Thanks for looking into this @DavideD. If I could share the real application I would, but alas, I cannot as it is an enterprise application; therefore, I managed to get it looking as close to the real scenario as possible. So the entity that I provided along with the processor look okay to you? Was there anything "out-of-whack"?

[2022-02-21 19:13] iocanel commented on #23832
Ok, let me have a look

[2022-02-21 19:14] maxandersen commented on #23842
Looking at some options atm. Will update soon.

[2022-02-21 19:24] DavideD commented on #23815
You don't need to share the whole application but you can try to update the reproducer I've shared so that it causes the same error.

Not that you need to have a running instance of Oracle, because the current integration with Oracle and testcontainers doesn't seem to work out of the box.

The entities looked fine, I haven't changed them.

There were some unnecessary `Uni.createItem()` calls that

[2022-02-21 19:26] LazaroR94 opened #23845 "Reactive Hibernate w/ Panache insert two entities within the same persistence context"
### Describe the bug

Hello, I have created an application that performs processing on a method and inserts into three tables. If processing on those three tables fails then the message is published to a Kafka DLQ in which the message then gets sent to the database for manual processing at a later time. Being new to reactive hibernate, I am not sure how I can make two separate inserts within the s

[2022-02-21 19:28] LazaroR94 commented on #23845
/cc @DavideD

[2022-02-21 19:34] LazaroR94 commented on #23815
I understand. The thing is, the reproducer that was shared is a good snippet of where I'm facing the issue at. I am only testing one table because an **@Id** column was recently added to it so that I may populate it with a random UUID. This actually worked before prior to this new column being introduced so I am not sure what the issue is here? I believe everything is set up correctly (even after

[2022-02-21 19:36] DavideD commented on #23845
Can you create a test project?
The only thing I can say right now is that the session is not thread-safe, so you cannot use the same session in different threads.

I'm not familiar with Kafka DLQ, if you can create an example I can look into it

[2022-02-21 19:38] DavideD commented on #23845
Not that it matter for this issue, but you don't need to flush if you are already in a transaction:
[code]

[2022-02-21 19:40] kenyee commented on #13602
Seconding this...was looking for a way to move the /metrics/health endpoints to different ports and followed the trail here.

Micronaut has this feature and it's not a bad idea IMHO.  It lets you segregate APIs more easily...

[2022-02-21 19:42] DavideD opened #23846 "Error when starting the default Oracle container for development"
If the configuration doesn't specify the URL:
[code]

when starting quarkus, the following error occurs:
[code]

The reason is that the url should be:
[code]

I have a reproducer here: https://github.com/DavideD/hibernate-reproducer/tree/oracle-issue

The exception will happen with:
[code]

[2022-02-21 19:47] LazaroR94 commented on #23845
I can create a project for you, sure. Before I do that though, to your second point, being that the session isn't thread-safe should I be under the impression that I should be doing the secondary insert for the other table inside the same session where the initial Panache transaction was started? A logical flow for you: A message comes into Kafka -> the message hits the processing method and maps

[2022-02-21 19:49] n1hility opened #23847 "Maven auto-transform Jakarta extension"
### Description

### Summary
A bytecode transformation plugin which generates artifical artifacts by transforming the javax version into jakarta

### Rationale
A temporary solution is needed to break/unblock dependency conflicts where a third-party (non-extension) library is depending on javax. packages.

### Implementation

@stuartwdouglas has a working prototype of this concept that could serve

[2022-02-21 19:52] LazaroR94 commented on #23846
Good catch as this is exactly what happened to me when I sent you the reproducer (hence why I didn't add much to the **application.yml**).

[2022-02-21 20:00] DavideD commented on #23815
Nevermind, I can see the error. I think it has something to do with the test

[2022-02-21 20:02] LazaroR94 commented on #23815
The test seemed pretty simple to me, is the calling of that processing not being done correctly or?

[2022-02-21 20:09] n1hility commented on #21574
I hope you don't mind I repurposed this to a master tracking EPIC.

[2022-02-21 20:23] DavideD commented on #23815
This is really weird.
What's happening is that the fields annotated with `@Id` and `@Lob` don't get saved right.

The identifier is saved in the lob field and vice versa.
I've updated the test case so that it fails.

[2022-02-21 20:24] DavideD commented on #23815
I've never seen this error before. I'm not sure if it's something related to the fact we are using Kotlin or something in Panache.
I'm not familiar with Kotlin, maybe there something not quite right in the way the entity is defined?

[2022-02-21 20:37] zoperado commented on #23651
I noticed it does the same with node-port (wrongly said hat "The behaviour for node-port however, `quarkus.kubernetes.service-type=node-port' , seems to be still OK").

I will try to walk versions back to see when it started. I'm worried that this breaks "rolling" kubernetes updates when the entire service is take off. The environment this happens is gke autocluster btw.

[2022-02-21 20:39] LazaroR94 commented on #23815
Now you see what I'm dealing with right? I've never before encountered this and I've worked with Spring hibernate before as well and never had this issue, just now coming into reactive. I should add, after adding a ridiculous amount of breakpoints I was able to see the SQL query that was being formed but with incorrect placement of values (to confirm your theory of values being out of place). I ac

[2022-02-21 20:45] LazaroR94 commented on #23815
So I just removed `@Lob` from my entity column and it worked. Is there an explanation for why `@Lob` does not work when tied to a CLOB column in the database?

[2022-02-21 20:49] DavideD commented on #23815
None that I can think of.
In Hibernate Reactive we have test cases for this. So I'm quite confident that it's not something there that's failing (I could be wrong).

That said, now that we have  a test, we should be able to figure out what's going on.

But, unless somebody else wants to look into this, it will get back to this tomorrow

[2022-02-21 20:52] LazaroR94 commented on #23815
Thank you Davide, I will wait for your response. For now, I have removed `@Lob` from the column type.

[2022-02-21 21:27] famod commented on #23799
Thanks @lucifer4j, I'm going to close this.

Use `release` and you should be good. Generated projects do so already.

Please reopen if you disagree.

[2022-02-21 21:27] #23799 closed

[2022-02-21 22:01] zoperado commented on #23651
Have walked all the way down and it seems it's happening from 2.1.2 to 2.2.2. That is, 2.1.2 is the last good one and  the kubernetes client doesn't delete anything and from 2.2.2 all the way up to 2.7.1 it deletes all services on redeploy. Load balancer or node-port, causing gke to assign new IP addresses for nodes that have been removed and recreated.

[2022-02-21 23:36] maxandersen commented on #18685
@apat59 thanks for the info - you mention Luis; Luis who ? (there are a handfull of those around :)

[2022-02-21 23:41] maxandersen commented on #18685
also @apat59 what is the latest version of quarkus you tested this against ? 1.13.7 is quite old by now :)

[2022-02-22 00:08] famod commented on #9639
It does, we are using this in our current project.

I'll close this accordingly.

[2022-02-22 00:08] #9639 closed

[2022-02-22 00:09] radcortez commented on #23805
Specific OTel libraries are not officially supported at this point. The plan is to slowly support them in the future.

[2022-02-22 00:12] famod commented on #7735
The field access problem is described pretty clearly over here: https://quarkus.io/guides/cdi#applicationscoped-and-singleton-look-very-similar-which-one-should-i-choose-for-my-quarkus-application
(doesn't mention other normal scoped beans though)

I'll close this, feel free to reopen.

[2022-02-22 00:12] #7735 closed

[2022-02-22 00:28] maxandersen commented on #18685
so I tried to reproduce this locally and thus far it works as I expect. when db is down you get errors; when db returns the pool will eventually recover and all works again.

See https://github.com/maxandersen/quarkus18685reproduce for reproducer.

this is on quarkus v2.7.1.Final

[2022-02-22 01:09] stuartwdouglas commented on #18685
Can you try with https://github.com/agroal/agroal/pull/48 ?

With this patch I see things resolving immediately after the DB is back up.

[2022-02-22 01:23] stuartwdouglas commented on #16613
It's because class loading config is special, its not the same as regular config and there is some hacky code that reads it from applications.properties in the early stages of bootstrap / inside the maven plugin itself.

[2022-02-22 04:44] geoand commented on #15209
Thanks for the information

[2022-02-22 05:10] #18820 closed

[2022-02-22 05:14] geoand commented on #814
@FroMage you did this for Renarde, right? If so, I think we can close this.

[2022-02-22 05:17] kdubb opened #23854 "Blocking authentication should be implied when using HTTP JWKS loading"
### Description

`quarkus.smallrye-jwt.blocking-authentication` should be implied when `mp.jwt.verify.publickey.location` is set.

In one of our micro-services we missed setting the `blocking-authentication` option and never noticed any issues until production because it was loading very quickly from an internal Vault instance.

### Implementation ideas

_No response_

[2022-02-22 05:17] geoand commented on #2052
Closing this as we won't be adding Eureka support to Quarkus Core

[2022-02-22 05:17] #2052 closed

[2022-02-22 05:18] #2445 closed

[2022-02-22 05:51] geoand commented on #4803
With Spring Web support now able to work on RESTEasy Reactive, we could run the controller methods on the event loop if we like, which is essentially what Webflux does.

ATM, a user can do that manually using the `@NonBlocking` annotation or returning a `Uni`

[2022-02-22 05:51] #4803 closed

[2022-02-22 05:54] geoand commented on #4684
This has now been implemented. See https://github.com/quarkusio/quarkus/blob/b8dfcd92bef5f7d750a3f02a958a78598f3dc9d6/core/deployment/src/main/java/io/quarkus/deployment/pkg/ManifestConfig.java#L9

[2022-02-22 05:54] #4684 closed

[2022-02-22 05:56] geoand commented on #4862
This can essentially be done via https://github.com/quarkusio/quarkus/blob/2.7.1.Final/core/deployment/src/main/java/io/quarkus/deployment/configuration/ClassLoadingConfig.java#L74.

[2022-02-22 05:56] #4862 closed

[2022-02-22 05:58] geoand commented on #5375
I think this will now work if you use Spring Web on RESTEasy Reactive. Feel free to comment or reopen if it doesn't

[2022-02-22 05:58] #5375 closed

[2022-02-22 06:00] geoand commented on #5361
We essentially have this in https://github.com/quarkusio/quarkus/blob/2.7.1.Final/core/deployment/src/main/java/io/quarkus/deployment/configuration/ClassLoadingConfig.java#L56

[2022-02-22 06:00] #5361 closed

[2022-02-22 06:09] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1879754153

[2022-02-22 06:10] geoand commented on #5744
As per Guillaume's comment, closing in favor of https://github.com/quarkusio/quarkus/issues/21081

[2022-02-22 06:10] #5744 closed

[2022-02-22 06:11] #5810 closed

[2022-02-22 06:12] #5764 closed

[2022-02-22 06:15] #5876 closed

[2022-02-22 06:31] geoand commented on #6234
Very interesting indeed.

@FroMage what's your take on this? Should we add something like this to RESTEasy Reactive?

[2022-02-22 06:37] apat59 commented on #18685
hi,
more on our own issue here  [](https://github.com/quarkusio/quarkus/issues/16279). Please note I'm not totally sure it's the same issue as here.
We've been stuck with 1.13.0 for a long time because of this symptom.
Until 2.2.1.Final and a mix of properties which limited the "problem".
Note, we never managed to reproduce this in dev, it only happened in openshift + aurora dbs.

quarkus.datasour

[2022-02-22 06:49] geoand commented on #6199
I am going to close this as there is no Couchbase extension in the Quarkus codebase

[2022-02-22 06:49] #6199 closed

[2022-02-22 06:50] #6157 closed

[2022-02-22 06:53] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1879754153

[2022-02-22 06:56] srigano commented on #16613
hi,
it works still 2.7.1.Final
Thank you very much

[2022-02-22 07:01] romilpunetha opened #23855 "application.yaml override doesn't work as expected"
### Describe the bug

I have an `application.yaml` and an `application-dev.yaml` as follows:

[code]

When I try to do a build using `-Dquarkus.profile=dev`, it still tries to build the native container and fails. When I disable the properties in the parent application.yaml, it works.

When I reverse the config, ie, enable builds in the `application-dev.yaml` and disable it in the parent yaml, it

[2022-02-22 07:02] geoand commented on #6477
I think that at this point, we probably don't want to do this as it could lead to unexpected breaks (as additional classes find their way into the index)

[2022-02-22 07:04] jacquesvdm7 commented on #6157
We are using Quarkus 2.6.3.Final and /q/swagger-ui is not available, I added
quarkus.swagger-ui.enable=true but it has no effect

quarkus.swagger-ui.path=/swagger-ui
this property does not exist

[2022-02-22 07:07] cescoffier commented on #23805
@radcortez does #23702 fix it?

[2022-02-22 07:07] geoand commented on #6157
Have you added the `quarkus-smallrye-openapi` extension? See https://github.com/quarkusio/quarkus-quickstarts/blob/main/openapi-swaggerui-quickstart/pom.xml#L37 for our example application

[2022-02-22 07:10] XSAM commented on #23805
#23702 does not fix this. #23702 only fix #23603.

[2022-02-22 07:10] cescoffier commented on #23805
Ah ok, thanks!

[2022-02-22 07:15] maxandersen commented on #18685
@apat59 sounds great.

if you can try with stuarts patch that would be great but if notlook for what error codes you get and if its any of the ones starting with 08 as seen in https://www.postgresql.org/docs/13/errcodes-appendix.html at least you should see faster recovery.

[2022-02-22 07:34] stuartwdouglas commented on #5361
Even so should this just be banned outright?

[2022-02-22 07:35] jacquesvdm7 commented on #6157
yes, I have the quarkus-smallrye-openapi dependency.

[2022-02-22 07:42] geoand commented on #5361
This specific case probably should

[2022-02-22 07:44] grubermi commented on #23836
I have shrinked our current project to the absolute essential, that is required to reproduce the behaviour in the attached file.
[Dummy.zip](https://github.com/quarkusio/quarkus/files/8114523/Dummy.zip)
The command that I am executing is `mvn clean package -Pnative -Dquarkus.native.container-build=true -Dquarkus.container-image.push=true -Dquarkus.container-image.registry=our.docker.registry:5000

[2022-02-22 07:50] pepperbob opened #23857 "Microprofile / Micrometer Compatibility"
### Description

I'm working on a project where we are using the Microprofile Metrics API esp. because Quarkus used to favor these using smallrye (back in the pre 1.3 days) and due to internal policy. As Quarkus switched to favor Micrometer some time ago we're thinking about changing the metrics provider to micrometer, too, which is basically working just fine.

However, we're not able to export o

[2022-02-22 08:00] #23841 closed

[2022-02-22 08:08] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1879735230

[2022-02-22 08:24] yrodiere commented on #23821
Alright, I'll go ahead and close this issue, then. Let's move the discussion to #21866.

Thanks for your answers!

[2022-02-22 08:24] #23821 closed

[2022-02-22 08:24] allwinboss commented on #23700
Hi Sanne,
could you please advise on the slow boot time occurring due to initial size connection pool override in agroal?.is it possible to have minimum idle connection settings on start up in agroal similar to hikariCP?.

[2022-02-22 08:27] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1879735230

[2022-02-22 08:32] galderz opened #23860 "Quarkus maven plugin ignoring the version given when generating the project"
### Describe the bug

Quarkus Maven project archetype ignoring the version given in the command line when generating the project.

E.g.

[code]

Even though I'm specifically invoking the `quarkus-maven-plugin` to generate a 2.2.3.Final project, the plugin is generating a quarkus project with the latest version.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to R

[2022-02-22 08:35] vaibhav170 commented on #12168
%dev.quarkus.class-loading.reloadable-artifacts=software.amazon.awssdk:dynamodb-enhanced
this is working for dev mode issue at least with latest dependency

[2022-02-22 08:35] #23855 closed

[2022-02-22 08:36] romilpunetha commented on #23855
Caused by grammatical error.

[2022-02-22 08:53] glefloch commented on #23776
yes, the issue comes from the fact that we add a dependency to the `annotationProcessor` configuration if a `panache` artifact is present. I will push a fix.

[2022-02-22 09:11] raoua-eng commented on #23838
@gsmet  Feel free to use a reproducer I made for this issue: https://github.com/raoua-eng/Quarkus

[2022-02-22 09:33] JHahnHRO commented on #23713
Then I must have made a mistake back then. I apologise for the confusion I caused.

I understand that it is a corner-case, but is it reasonable to support that? In the project I'm currently working on, a lot of the business logic is implemented by firing a variety of async events for the various stages of processing the input to output. It is not just useful to have the exception-logging decorator

[2022-02-22 09:33] pjgg commented on #23684
This issue could be closed because is fixed on Quarkus 2.3+

[2022-02-22 09:34] #23684 closed

[2022-02-22 09:38] Sanne commented on #23845
This is an incorrect expectation: a particular _persistence context_ (or "Session" to use the terminology more commonly used in the Hibernate Reactive API) can't span multiple threads.

If you associated an entity to one session, you need to either dis-associate it from that session or close that session before you mark the entity as managed by a different session.

In your particular case you're

[2022-02-22 09:39] #23845 closed

[2022-02-22 09:41] pjgg opened #23865 "Quarkus/Vertx WebClient return a `java.net.ConnectException: Connection refused` over FIPS"
### Describe the bug

When I make an HTTP request in a `@QuarkusTest` over RHEL8.5 + FIPS I am getting the following error:

[code]

The same test succeed without FIPS enabled.
Reproducer:

`git@github.com](mailto:git@github.com):quarkus-qe/quarkus-test-suite.git`

`mvn clean verify -Dall-modules -pl http/vertx-web-client -Dit.test=PureVertxHttpClientTest`

Be sure that test is disabled

### Expec

[2022-02-22 09:45] iompo opened #23866 "define securityContext properties for kubernetes in Quarkus application.properties"
### Description

I'm using [trivy](https://github.com/aquasecurity/trivy) to scan the yaml file I use to deploy my application resources. The scan suggests some security settings ("allowPrivilegeEscalation", "readOnlyRootFilesystem" etc..) that are not defined in the kubernetes file generate by quarkus. I did not find a way to set those securitySettings directly in the application.properties.

###

[2022-02-22 09:46] knutwannheden commented on #18228
@luneo7 Your PR https://github.com/dmlloyd/jboss-logmanager-embedded/pull/4 was merged a while ago. Does that mean that when a new release is made and integrated into Quarkus, that we should be able to use MDC again to refer to the current `traceId` and `spanId`?

Further, I think it would be most useful with some example of how to add some other custom items to the logging MDC.

[2022-02-22 09:50] pepperbob commented on #23857
I just noticed that the `MetricRegistryAdapter` already provides the type as a tag "scope" - but this only affects metrics that are directly registered via the `org.eclipse.microprofile.metrics.MetricRegistry` API.

[2022-02-22 10:00] geoand commented on #6355
Closing this as it's really old.

If this is still an issue, please open a new issue

[2022-02-22 10:00] #6355 closed

[2022-02-22 10:00] geoand commented on #6322
This has already been done

[2022-02-22 10:00] #6322 closed

[2022-02-22 10:03] manovotn commented on #23713
You could probably achieve the same by creating a bean with a generic observer that will catch all your events - basically observing `Object` type (in sync/async variant, whichever you want).
You can also make use of [`EventMetadata`](https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#event_metadata) to figure out additional bits about the payload.
Would that sort out your problem?

Other

[2022-02-22 10:03] geoand commented on #7683
Closing this as `out of date`. If it's still an issue, please comment or reopen

[2022-02-22 10:03] #7683 closed

[2022-02-22 10:10] geoand commented on #8905
We now have `quarkus.class-loading.removed-artifacts` which can be configured in an application in order to exclude entire dependencies from taking effect.

[2022-02-22 10:10] #8905 closed

[2022-02-22 10:28] geoand commented on #9149
Closing this as `fabric8/java-alpine-openjdk8-jre` is way out of date as this point, but we can certainly look into doing something similar in the future

[2022-02-22 10:28] #9149 closed

[2022-02-22 10:46] geoand commented on #10559
We now have this with `ubi8/openjdk-11` and `ubi8/openjdk-11-runtime`

[2022-02-22 10:46] #10559 closed

[2022-02-22 10:50] orivat opened #23869 "Quarkus.io 2.7.1 user remains authenticated, even if keycloak user session has disappeared"
### Describe the bug

Within quarkus, the user will remain authenticated, even the keycloak user session has disappeared.

Steps to reproduce

Part I - keycloak configuration
----------------------------------------

Start keycloak on port 8180
sh standalone.sh -Djboss.socket.binding.port-offset=100

1. Create a quarkus realm.

2. Create a client_id application being confidential

Client_id: hello

[2022-02-22 10:57] orivat commented on #23869
[getting-started.zip](https://github.com/quarkusio/quarkus/files/8116007/getting-started.zip)

Getting started quarkus client

[2022-02-22 10:59] allwinboss commented on #23700
@Sanne : could you please advise on the slow boot time occurring due to initial size connection pool override in agroal?

[2022-02-22 11:01] tux-o-matic commented on #10559
If those UBI8 based OpenJDK images are used with their S2I assemble scripts, the jar file will be copied twice on the image. Not so « minimal » footprint.

[2022-02-22 11:03] #23860 closed

[2022-02-22 11:03] orivat commented on #23869
[realm-export.json.zip](https://github.com/quarkusio/quarkus/files/8116041/realm-export.json.zip)

Realm-export.json to be imported into keycloak

[2022-02-22 11:11] rafeang commented on #18289
hi! i'm facing this issue as well and wanted to ask if you managed to find any workarounds since then?

[2022-02-22 11:13] raoua-eng commented on #23838
@gsmet do you think the issue is related to EL restrictions NONE, VARIABLES, BEAN_PROPERTIES(default), BEAN_METHODS ?

[2022-02-22 11:31] radcortez commented on #23805
The warning message is about the scopes not being closed in the correct order, so it may cause inconsistent trace history.

[2022-02-22 11:38] sberyozkin commented on #23869
@orivat I think this issue is invalid, if it were SPA which uses a Keycloak java script code then in your SPA it would be detected that the KC session has been terminated. With the quarkus `web-app` what controls the session between the browser and the Quarkus endpoint is the session cookie issued by Quarkus.
Currently the correct way to terminate this session is to do the [RP-initiated logout](ht

[2022-02-22 11:38] #23869 closed

[2022-02-22 11:38] sberyozkin commented on #23869
@orivat I'll make sure it is verified once #23477 is addressed, thanks

[2022-02-22 11:40] sberyozkin commented on #23869
Closing as a duplicate of #23477

[2022-02-22 11:40] zakkak opened #23871 "Print warning when -Dquarkus.container-image.build=true is used without a container image extension"
### Description

Building with `-Dquarkus.container-image.build=true` without first adding a container image extension (see https://quarkus.io/guides/container-image) results in a successful build without any indications that there was no container image generated.

It would be nice to get a warning when no container image extension is added, instructing users to look up the corresponding document

[2022-02-22 11:42] pravussum opened #23872 "RestEasy Reactive client: optional FormParameters throw error when null"
### Describe the bug

When using a reactive restclient created from an interface, it's not possible to call a method with an optional form parameter when the actual value of the parameter is null.
It gives the following error:

    java.lang.IllegalStateException: Form parameter 'formParam' could not be converted to 'String' for REST Client interface 'org.acme.GreetingResourceApi'. A proper implem

[2022-02-22 11:58] gsmet commented on #23838
Yes exactly.

The default allows you to use bean properties but not call methods on beans. Thus why you cannot use the `length()` method.

I wonder if we should have some sort of allow list allowing some of the harmless but very useful methods. @yrodiere any opinion on that? It makes things a bit blurry though.

Also, for now, you cannot configure the default expression language level in Quarkus,

[2022-02-22 12:13] yrodiere commented on #23838
Meh. Not a fan of things that needs to be updated continuously, and that list probably would. Maybe if it can be customized by users somehow...

Regardless, I think the main problem here is that users are not warned that their attempt to call a method is being ignored, and they are not provided with a helpful message telling them what to change in their application to make it work. But I suppose w

[2022-02-22 12:27] Sanne commented on #23700
Hi @allwinboss, sorry I'm not sure - I'd need to try reproducing this locally, but won't have the time this week.

Fundamentally it seems Agroal and HikariCP follow a slighlty different design and strategies - from reading the HikariCP it's not clear to me if it will actually pre-fill the pool: `minimumIdle` does not suggest that it would - and the name suggests it being applied onto _existing con

[2022-02-22 12:44] fastluca opened #23873 "Hibernate Search error on startup even if it is disabled"
### Describe the bug

I've an application which imports another dependency containing some entities indexed by hibernate-search using the quarkus extension.
I'm trying to disable all stuff related to hibernate search because I will not use them in the context of this application using the following properties:

`quarkus.hibernate-search-orm.enabled=false
quarkus.hibernate-search-orm.elasticsearch.

[2022-02-22 12:48] raoua-eng commented on #23838
Thanks and I hope it will be fixed soon.

[2022-02-22 12:55] edeandrea commented on #6234
Personally the idea of being able to bind a form with fields similar to a json structure is beneficial. I've always liked that Spring had that ability and that I did not have to create some brand new object just because I wanted to form post similar/same data.

That being said there are some things to keep in mind that I think are needed in order to make it a proper solution.

1. Someone mentioned

[2022-02-22 12:55] DavideD commented on #23815
@LazaroR94 The problem is that you are using Hibernate Reactive 1.1.2.Final but the integration with Oracle has been added in Hibernate Reactive 1.1.3.Final.

You need to upgrade Hibernate Reactive  or wait for Quarkus 2.7.2.Final

[2022-02-22 12:55] #23815 closed

[2022-02-22 12:56] #21311 closed

[2022-02-22 13:08] michalszynkiewicz commented on #23549
Since it's not easy to implement and known solutions to make it work otherwise exist, I think we should close this.
WDYT @Ladicek @lthasle ?

[2022-02-22 13:12] michalszynkiewicz commented on #15209
CC @sberyozkin in case you have some tips on parameterizing `AccessTokenRequestFilter` differently

[2022-02-22 13:17] Karm opened #23875 "Cannot build main: quarkus-gradle-model: id: 'com.gradle.enterprise', version: '3.8.1' was not found"
### Describe the bug

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

git clone https://github.com/quarkusio/quarkus.git
cd quarkus
./mvnw clean install -Dquickly

### Output of `uname -a` or `ver`

Linux rhel9fips 5.14.0-63.el9.x86_64

### Output of `java -version`

openjdk 11.0.14.1 2022-02-08 LTS

### GraalVM version (if different from Ja

[2022-02-22 13:23] geoand commented on #23836
Fixed by https://github.com/quarkusio/quarkus/pull/23861

[2022-02-22 13:23] #23836 closed

[2022-02-22 13:32] yrodiere commented on #23873
Thanks for reporting this.
The problem seems caused by the dev console, which attempts to use Hibernate Search even though Hibernate Search is disabled. Obviously this cannot work. I'll look into it.

[2022-02-22 13:43] glefloch commented on #23875
I have built the project earlier today without any problem. can you try to remove your local gradle cache ?

[2022-02-22 13:44] oaklandcorp-jkaiser commented on #23841
Thanks for taking a look and a quick fix @geoand!

[2022-02-22 13:45] geoand commented on #23841
YW

[2022-02-22 13:49] yrodiere opened #23878 "Use dev-services in tests and documentation of the Hibernate Search extension"
### Description

This was left as a follow-up in #23753.

### Implementation ideas

_No response_

[2022-02-22 14:13] fastluca commented on #23873
As an additional info, using the following configuration the application starts but it runs all the async jobs for indexing:
[code]

[2022-02-22 14:20] Karm commented on #23875
On my workstation, where I built Quarkus zillion times, I have no problem building it...

[2022-02-22 14:26] geoand commented on #23871
Very interesting.

@radcortez this sounds like some general which would be useful.

[2022-02-22 14:38] ebullient commented on #23857
We won't be doing this. MP Metrics is (at the moment) also on the path for converting to micrometer. While the scope may have been useful to disambiguate app from other types of metrics, the line between base and vendor was blurry at best.

If you have a preference for how you classify certain types of metrics, I would recommend using MeterFilters to achieve the result you want.

[2022-02-22 14:39] LazaroR94 commented on #23845
So how exactly can I close the session after the first persistence context finishes (with a success or failure)? Is there a helper function that I can call in Panache that closes that session after the fact? Sorry for the rudimentary question(s), I am still a bit new to reactive in general and would love to know how to do this.

[2022-02-22 14:41] mkouba commented on #23713
I'm not sure it's worth the effort TBH. The decorators are very difficult to implement even for "regular" beans. That said, I did not look into details and how difficult it would be for built-in beans, i.e. `Instance` and `Event`. From my point of view it's a low priority nice-to-have issue.

Also note that a decorated `Event` does not cover use cases where a an event is fired via programmatic API

[2022-02-22 14:42] nunocasteleira opened #23879 "Can't @Inject a @ConfigMapping Interface on a Validator"
### Describe the bug

I implemented a `@ConfigMapping` Interface to pass configurations via `application.yaml` file, annotated it with `@StaticInitSafe` but I can't build my app when I `@Inject` it on a `@ApplicationScoped` `ConstraintValidator`.

I already was using Configurations with the `@ConfigProperty(name = "configname")` annotation and it works, but I implemented configurations via the int

[2022-02-22 14:50] sberyozkin commented on #23865
@pjgg Can you experiment with https://quarkus.io/guides/security-customization#bouncy-castle-jsse-fips please ? See also https://github.com/quarkusio/quarkus/tree/main/integration-tests/bouncycastle-fips-jsse

[2022-02-22 14:55] radcortez commented on #23871
I'll have a look

[2022-02-22 15:07] Sanne commented on #23845
No problem :) So with Panache there is the "assumption" that everything that you do in the current web request is to be handled by the same Hibernate Session: it does lookup a Session in the current request scope, and if it doesn't find one it triggers the CDI factory which creates a Session bount to the lifecycle of that scope.

Essentially it's automatic - but it's only useful for simple use cas

[2022-02-22 15:12] iocanel commented on #23844
@lordofthejars: Using the exact same commands the image was pushed successfully (using quarkus 2.7.1.Final).

One issue I see is that no log message appears, so the user can't tell what is going on until the registry is checked.
I'll work on adding log messages.

[2022-02-22 15:19] iocanel commented on #23681
It doesn't really matter.

It's seems that `WithRequestConfig` has long been removed.

[2022-02-22 15:58] manovotn commented on #23713
That's very good point.
With that in mind, using an observer to get notified of all events looks like the only proper way.

[2022-02-22 16:12] #23411 closed

[2022-02-22 16:34] sberyozkin commented on #23854
Makes sense; for the decryption keys location as well

[2022-02-22 16:42] lordofthejars opened #23883 "When using buildpack without docker running gets a meaningless exception"
### Description

When using buildpack without docker running gets a meaningless exception:

[code]

You can get what's happening but for a newbie maybe a better message could be provided like No Docker Host.

### Implementation ideas

_No response_

[2022-02-22 17:20] barreiro commented on #18685
@stuartwdouglas @maxandersen from what I can understand, the problem is not just about error codes but how the Amazon Aurora service does the DB failover.

I don't know the internals, but it looks like there is a "primary" that can fail, and when it does Agroal does flush the connections (based on the SQL error code) and new connections are created to a read-only "replica". Agroal does expect that

[2022-02-22 17:22] #19970 closed

[2022-02-22 17:38] lthasle commented on #23549
I guess I can live with that and use the workaround: annotating methods that call the client methods.
But I believe it will be expected to work.

[2022-02-22 17:38] #7856 closed

[2022-02-22 17:38] #7862 closed

[2022-02-22 17:38] #17088 closed

[2022-02-22 17:52] gsmet commented on #23879
Please provide a reproducer (and also add the error you obtain in the description).

[2022-02-22 17:59] Sanne commented on #23341
I haven't looked at this issue @yrodiere - if you want to feel free to take it.

FYI it smells like two different issues? the "Missing character set id 46" smells like related to a6180200

[2022-02-22 18:04] Sanne commented on #23324
hi @mklueh in that particular case I suspect you're hitting a very similar issue (but not the same) with scopes in reactive messaging. This should be fixed in Quarkus 2.7.2 - could you try it?

[2022-02-22 18:15] #23872 closed

[2022-02-22 18:21] smil2k opened #23888 "Bean marked with @Singleton created two times"
### Describe the bug

We have a project consisting a couple of maven projects. One of the beans is marked as @Singleton.
It is using quite a few quarkus features: @ActivateRequestContext, observes Startup event, uses @PostConstruct.

It is injected into a few places, one bean is getting a direct reference, the other one is using Instance<> and iterates over the beans.

In case the project is built

[2022-02-22 18:23] smil2k commented on #23888
As there is not reproducer, could you please help me to debug the context creation? I have runnable jar from a bad and a good build.

I've updated to quarkus 2.7.1 in the meanwhile.

[2022-02-22 18:27] radcortez commented on #23680
@manofthepeace I could use some more information.

I did find a couple of usages where the config is being read directly. Can you confirm that this was using the REST Client? A reproducer is also welcomed. Thanks!

[2022-02-22 18:28] radcortez commented on #19316
Closing this due to lack of activity. Please reopen if we can move this forward. Thanks!

[2022-02-22 18:28] #19316 closed

[2022-02-22 18:59] klutzer commented on #23014
@patriot1burke @gsmet @geoand do you guys have any updates on that?

[2022-02-22 19:48] guitcastro commented on #9832
I am having this issue as well, and I dont't have org.graalvm.nativeimage:svm in my project.

[2022-02-22 20:10] edeandrea commented on #23765
This looks like its been resolved now.

The [`DeploymentConfig`](https://github.com/quarkusio/quarkus-super-heroes/blob/main/rest-villains/deploy/k8s/java11-openshift.yml) no longer specified the `command`.

The latest code.quarkus.io also generates a different [`Dockerfile`](https://github.com/quarkusio/quarkus-super-heroes/blob/main/rest-villains/src/main/docker/Dockerfile.jvm) - one that's base

[2022-02-22 20:15] gsmet commented on #23846
My understanding is that it's a bug in the reactive Oracle client.
The URL formats for Oracle can be:
- `jdbc:oracle:thin:@<hostName>:<portNumber>:<sid>`  (if you have sid)
- `jdbc:oracle:thin:@//<hostName>:<portNumber>/serviceName` (if you have oracle service name)

according to https://stackoverflow.com/questions/1054105/url-string-format-for-connecting-to-oracle-database-with-jdbc .

And only `

[2022-02-22 20:56] mkouba commented on #23888
How do you detect a "duplicated instance"?

Have you tried to log the stack trace inside the `@PostConstruct` callback? I'm not sure if a "runnable jar" is something that would help us.

[2022-02-22 21:05] glefloch commented on #23617
@vincenzocorso where you able to fix the error based on @ethan-gallant comment ?

[2022-02-22 21:06] mkouba commented on #23713
That's a good point. So in general the call site (i.e. the event emitter) should be able to handle exceptions thrown by async observers; see also https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#async_exception. I'm not sure what "Quarkus seems to swallow those silently" means.

[2022-02-22 21:11] vincenzocorso commented on #23617
Yes, solved :+1:

[2022-02-22 21:11] #23617 closed

[2022-02-22 21:12] LazaroR94 commented on #23845
Thank you so much, I have removed Panache and just used the hibernate-reactive-orm implementation and that seems to be working like a charm. It sucks to know that Panache does this with it's simplicity mindset but it's also a nice to know :)

[2022-02-22 21:27] maxandersen commented on #18685
Yeah This sounds like a separate issue that i suggest You open separate issue for.

Looks like Agroal might wanna learn some tricks to deal with Aurora Amazon special fail over Logic.

[2022-02-22 23:05] sberyozkin commented on #14139
Hi @zakkak Here is an extra code I've added:
[code]

to get it registered in the feature as well, so alongside your changes it is progressing, now I'm getting a bunch of errors related to `org.bouncycastle.math.ec.ECPoint` (from `bc-fips`), it has this block of code
[code]
public ECPoint normalize()
{
// some other code
SecureRandom r = getTestRandom();
            ECFieldElement b = curve.randomF

[2022-02-22 23:25] HugoVinhal98 opened #23893 "Qute template allow data to parse html"
### Description

I have started using Qute Template in my new Quarkus Notification Service and I was trying to figure out how to enable the data passed to the email template to render as html.

This is basically what I have:

`final String html = template.data("content", content).render();`

If I pass html in this "content" data I am unable to render as HTML, and it just shows all the tags in the

[2022-02-23 02:07] Temdegon opened #23894 "Better dynamodb experience"
### Description

We are using quarkus for aws lambda together with dynamodb,
and dev experience with dynamodb looks frustrating comparing with traditional datasourсes.
For datasources there are out of the box perfect dev-mode support and QuarkusTests - db container (or in-mem db) is started under the hood with zero-config, + easy db structure creation with liquibase or flyway.

But for dynamodb th

[2022-02-23 04:17] geoand commented on #23765
Good to know!

[2022-02-23 06:01] geoand commented on #10458
@paulrobinson can this be closed now?

[2022-02-23 06:02] geoand commented on #10771
Closing as we never got feedback

[2022-02-23 06:02] #10771 closed

[2022-02-23 06:16] geoand commented on #13635
Closing as https://github.com/GoogleContainerTools/jib/pull/2908 has been merged

[2022-02-23 06:16] #13635 closed

[2022-02-23 06:20] geoand commented on #13660
Closing this as the REST Client Reactive is the way forward

[2022-02-23 06:20] #13660 closed

[2022-02-23 07:05] geoand commented on #23871
I guess this is similar to what we have with the unrecognized properties warning message we print at runtime. Only this time it's for build time

[2022-02-23 07:23] mkouba commented on #23893
You need to output the unescaped value: (1) either use the `raw` or `safe` computed properties  in the template (`{content.raw}` or `{content.safe}`) or (2) wrap the `String` value in a `io.quarkus.qute.RawString` (`template.data("content", new RawString(content)).render()`). See also [Character Escapes](https://quarkus.io/guides/qute-reference#character-escapes).

[2022-02-23 07:23] #23893 closed

[2022-02-23 08:18] rob-spoor commented on #23789
I guess this can now be closed now that the PR has been merged.

[2022-02-23 08:18] #23789 closed

[2022-02-23 08:34] HugoVinhal98 commented on #23893
Thank you for the fast solution 😄 I just saw that this is already covered in the documentation, I was just a bit blind 😭

[2022-02-23 08:37] michalszynkiewicz commented on #17832
Is there anything more to do for this issue? The REST Client config has been modified by @TomasHofman

[2022-02-23 08:42] geoand commented on #17832
Good point, let's close

[2022-02-23 08:42] #17832 closed

[2022-02-23 08:45] RuggeroDAlo commented on #23804
I can also reproduce the issue with 2.7.2

[2022-02-23 09:05] HugoVinhal98 opened #23897 "Qute Template when running unit tests"
### Describe the bug

I am using Quarkus Template for a base email HTML template like this:

[code]

When I try to mock the interface using @Mock it gives me an error and the property comes as null instead of mocked. Im mocking like this:

[code]

```The error: java.lang.NullPointerException: Cannot invoke "io.quarkus.qute.Template.data(String, Object)" because "<local3>.template" is null```

I us

[2022-02-23 09:13] ChristianPraiss commented on #21436
Just to chime in on the discussion, we've used `kafdrop` extensively during development of a kafka-based application and had some great experiences with that. Might be worth taking a look [Kafdrop (Github)]( https://github.com/obsidiandynamics/kafdrop) 😊It even has scss variable based theming support, which could help with the single look&feel. (located in the `theme` folder)

[2022-02-23 09:18] Plawn opened #23898 "Can't use Optional with List with @QueryParam with reasteasy controller"
### Describe the bug

When using @QueryParam("name") Optional<List<Long>> in a resteasy reactive controller, we get an error:

[code]

When used without Optional we don't get this error.

This works:

[code]

### Expected behavior

We can use an Optional<List<Long>> in a resteasy reactive controller

### Actual behavior

We get a compilation error

### How to Reproduce?

1. create a Quarkus projec

[2022-02-23 09:23] RuggeroDAlo opened #23899 "Jib docker image working directory changed"
### Description

I understand that due to https://github.com/quarkusio/quarkus/pull/23670 the default working directory for jib has changed from /work/ to /home/jboss.

Mounting configmaps in /work/config/application.yaml (when running the built container in k8s) no longer works, I've had to change the path to /home/jboss/config/application.yaml.

Is there a way to configure the working directory?

[2022-02-23 09:31] geoand commented on #23899
Good point, added.

I'll add it.

[2022-02-23 09:32] Aviss opened #23900 "Caught NoResultException silently causes Transaction to fail"
### Describe the bug

A caught NoResultException within a Transaction causes the Transaction to not commit the changes to the datasource.
No Exception is thrown, the transaction is not marked for rollback.

### Expected behavior

Catching a NoResultException does not change the outcome of a transaction in any way.
A transaction ending in a unexpected way should produce an exception or a warning.

[2022-02-23 09:33] Aviss commented on #23900
I fatfingered the create Issue Button, sorry about that

[2022-02-23 09:33] #23900 closed

[2022-02-23 09:41] lordofthejars commented on #23844
Hi @geoand may I ask why closing it, I have not been able to make it work. I've shared the project too

[2022-02-23 09:42] sberyozkin commented on #14139
By the way, `org.bouncycastle.math.ec.ECPoint` is already requested to be reinitialized in `SecurityProcessor`

[2022-02-23 09:42] geoand commented on #23844
I didn't close it. It was closed automatically because of https://github.com/quarkusio/quarkus/pull/23880.
If it's still an issue, you and @iocanel can figure it out.

[2022-02-23 09:43] #23776 closed

[2022-02-23 09:46] ia3andy commented on #22773
@loicmathieu @gsmet I think we can re-open #2165. as we discussed, until we provide a better experience with required capabilities, failing is the most logical behavior (and the same as when coding)

[2022-02-23 09:48] mkouba commented on #23897
Where does the `@Mock` come from? Is the NPE thrown because no template is injected in the mocked `EmailService`? I think that you would need to "inject" the `Template` instance manually but it's just a blind guess, we'll need more information, ideally a reproducer app. In any case, `@InjectMock` or `QuarkusMock` would not work for an injected `Template` because the relevant beans are `@Dependent`

[2022-02-23 09:48] smil2k commented on #23888
I'm printing the identityhashcodes at various locations (constructor, startup event etc)
I'll add stack traces as wel.

I'm using the quarkus maven plugin to construct the runnable application.
This is referencing various other projects only, there is no code or resources in that particular project.

[2022-02-23 09:52] mkouba commented on #23888
Ok, more info would be really helpful.

[2022-02-23 09:53] glefloch commented on #23875
@Karm could you try to build a simple gradle project that uses the gradle enterprise plugin on that system? The error is more gradle related than quarkus related I think.

[2022-02-23 09:54] glefloch commented on #23617
Thanks for the feedback @vincenzocorso and thanks @ethan-gallant for the answer :)

[2022-02-23 10:03] glefloch commented on #8981
Closing this one as the `platform-descriptor-json` module does not exists anymore.

[2022-02-23 10:03] #8981 closed

[2022-02-23 10:22] HugoVinhal98 commented on #23897
The `@Mock` comes from Mockito. I tried creating the MockTemplateProducer but I am not sure how should I make use of it. Should I change something in the unit test to make it work?

[2022-02-23 10:32] vladimirfx commented on #20256
+ 2.7.2.Final

Maybe reopen this issue?

[2022-02-23 10:35] nunocasteleira commented on #23879
Sorry, should have done that immediately.

Config class:
[code]

Validator class:
[code]

Error:
[code]

[2022-02-23 10:50] mkouba commented on #23897
It depends on whether the bean that injects the `Template` is mocked or not. If it is then you'll likely have to "inject" the template manually, i.e. no `MockTemplateProducer` is needed. If it's not then your mocked producer will be called when the container injects the `Template`. But as I said we'll need more info.

[2022-02-23 10:51] HugoVinhal98 commented on #23897
Well I figured out what the problem is by trying to replicate this in a more basic project. Basically I am using the constructor to initialize all the dependencies of the EmailService (in this example), like this:

[code]

@mkouba is there any way around this? I guess I could use `@Inject` for the Mailer and EmailRepository but this is not the convention on our projects.

[2022-02-23 10:57] mkouba commented on #23897
I don't understand. What exactly is wrong? Also you can add the `@Location("MailTemplate") Template template` param to the constructor and make the `template` field `final` as well.

[2022-02-23 11:02] FroMage commented on #9316
I have a ton of questions related to this extension, actually. Because I'm trying to make it fit in the Quarkus Security model, which decouples those two aspects:

- the user provides credentials, so we attempt authentication (eg. Form or Basic auth)
- an authentication attempt occurs, and we have to validate it and create a `SecurityIdentity` (eg. JPA security)

The Vert.x extension does both. I

[2022-02-23 11:14] yrodiere opened #23904 "Elasticsearch dev-services when multiple extensions use Elasticsearch"
### Description

Follow-up on #23753.

See the "limitations" section of the documentation of Elsaticsearch dev-services:

this will result in an exception on startup.

We should try to address those limitations; the first one can be particularly problematic.

See also this conversation: https://github.com/quarkusio/quarkus/pull/23753#discussion_r811146353

### Implementation ideas

_No response_

[2022-02-23 11:16] HugoVinhal98 commented on #23897
Yup, this solved my problem! I changed my code to this and now everything is working properly 😄

[code]

[2022-02-23 11:16] #23897 closed

[2022-02-23 11:18] yrodiere opened #23906 "OpenSearch dev-services"
### Description

Follow-up on https://github.com/quarkusio/quarkus/pull/23753.

Currently, the Elasticsearch dev-services will only work when using Elasticsearch, not when using OpenSearch. That's a shame, because some extensions (the low-level Elasticsearch client, Hibernate Search) will work perfectly fine with OpenSearch.

Let's add support for OpenSearch dev-services.

See also: https://github

[2022-02-23 11:20] mkouba commented on #23897
I'm glad it works now although I don't understand the details ;-)

[2022-02-23 11:22] yrodiere commented on #20533
As I did not get a response from you, I'll assume my answer was satisfying or you don't need one anymore.

Closing.

[2022-02-23 11:22] #20533 closed

[2022-02-23 11:24] HugoVinhal98 commented on #23897
I guess the unit tests werent able to mock the template since it wasnt being injected in the service like the Mailer and EmailRepository. By placing the Template inside the constructor the problem was resolved.

[2022-02-23 11:53] orivat commented on #23869
@sberyozkin

I have made a test with:
-Keycloak
-quarkus OIDC client app  (1)
-Jboss OIDC client app (2)

step 1
Jboss and quarkus are authenticated against Keycloak

step 2:
The user session  is terminated at Keycloak

step3:
-Jboss app is disconnected
-Quarkus app remains active.

With Jboss app, keycloak is using JBoss client adapater.
When you click the Logout all button, all SSO cookies becom

[2022-02-23 11:53] orivat commented on #23477
@sberyozkin

I have made a test with:
-Keycloak
-quarkus OIDC client app (1)
-Jboss OIDC client app (2)

step 1
Jboss and quarkus are authenticated against Keycloak

step 2:
The user session is terminated at Keycloak

step3:
-Jboss app is disconnected
-Quarkus app remains active.

With Jboss app, keycloak is using JBoss client adapater.
When you click the Logout all button, all SSO cookies become

[2022-02-23 11:56] a-cinchetti opened #23908 "MicroProfile Config escape character with special characters"
### Describe the bug

If you set a property with special characters such as >§°@powefnjvnvfdv% using the path q/dev:

![image](https://user-images.githubusercontent.com/26360033/155314211-16948ede-80a5-4ed2-ac70-2b97b6928238.png)

it will be set into the properties file like that:
`quarkus.mailer.password=>Â§Â°@powefnjvnvfdv%`

If we set this property into the file directly using escape char:
`qua

[2022-02-23 12:05] Aviss opened #23909 "Caught NoResultException silently causes Transaction to fail"
### Describe the bug

A caught `NoResultException` within a transaction causes changes made during the transaction to not be persisted.
Interestingly, no Exception is thrown, the transaction is not marked for rollback and even with hibernate logging set to TRACE there is no indication as to why this happens.
The step running the `insert` query is simply missing.

Even weirder, inlining the functio

[2022-02-23 12:07] mkouba commented on #20521
Hm, it seems that when I use `@TestReactiveTransaction` in my test I can't use `Uni.await()` inside the test method anymore; it results in `java.lang.IllegalStateException: The current thread cannot be blocked: vert.x-eventloop-thread-15`... So what's the idiomatic way of asserting some reactive code?

[2022-02-23 12:13] #23873 closed

[2022-02-23 12:20] snazy commented on #23805
I ran into the same issue (blocking + opentelemetry) recently and it seems that the order of gRPC interceptors matters. It seems to work only w/ Quarkus 2.7.2 (with #23607) and `BlockingServerInterceptor` needs to be the first/"outermost" interceptor.

But I also ran into more issue w/ blocking gRPC + opentelemetry. Will open issues / PRs soon-ish.

[2022-02-23 12:22] edeandrea commented on #20521
There are also some examples in the superheros sample app - https://github.com/quarkusio/quarkus-super-heroes/blob/main/rest-heroes/src/test/java/io/quarkus/sample/superheroes/hero/repository/HeroRepositoryTests.java

[2022-02-23 12:34] snazy opened #23911 "gRPC `@Blocking` method matching with Java methods"
### Describe the bug

`io.quarkus.grpc.deployment.GrpcServerProcessor#gatherBlockingMethods` uses `MethodInfo` for all methods. This includes all synthetic methods like lambda methods.

The following example produces a Java class with a default constructor, a static method `doSomehting` and a synthetic method for the lambda used in the contstructor.

That synthetic method is then used for blocking

[2022-02-23 12:35] snazy opened #23912 "gRPC does not discover `@Blocking` correctly"
### Describe the bug

`io.quarkus.grpc.deployment.GrpcServerProcessor#gatherBlockingMethods` only discovers `@Blocking` on classes that directly extend the gRPC `*ImplBase` classes, but not on subclasses.

`@Blocking` discovery works in these cases:
[code]

and

[code]

`@Blocking` discovery does not work in this case:
[code]

### Expected behavior

Allow `@Blocking` on classes that indirectly ext

[2022-02-23 12:40] snazy opened #23913 "blocking gRPC w/ OpenTelemetry, interecptor order matters"
### Describe the bug

I know that OpenTelemetry isn't fully supported in Quarkus yet, but wanted to share my findings.

When using `io.opentelemetry.instrumentation:opentelemetry-grpc-1.6` in combination with `@Blocking` gRPC methods, the order of the interceptors is important. `BlockingServerInterceptor` must be the "outermost" interceptor, otherwise opentelemetry will "bark" that spans aren't pr

[2022-02-23 12:43] snazy commented on #23911
I'll try to prepare a PR to fix this one.

[2022-02-23 12:43] DavideD commented on #20521
You can use Vert.x unit: https://vertx.io/docs/vertx-unit/java/#_introduction

[2022-02-23 12:43] snazy commented on #23912
I'll try to prepare a PR to fix this one.

[2022-02-23 12:44] DavideD commented on #20521
It integrates with JUnit: https://vertx.io/docs/vertx-unit/java/#_junit_integration

[2022-02-23 12:55] edeandrea commented on #20521
Isnt `@Rule` from JUnit 4?

[2022-02-23 12:55] stefanwendelmann commented on #20505
Is there any efforts on this? I am building a fully reactive API and need to use the keycloak-admin-client.

[2022-02-23 13:00] edeandrea commented on #20521
@mkouba to use @TestReactiveTransaction` your test has to be non-blocking, which `Uni.await()` is inherently blocking.

If you want to go that route (or use the `UniAssertSubscriber` - some examples of that are in https://github.com/quarkusio/quarkus-super-heroes/blob/main/rest-heroes/src/test/java/io/quarkus/sample/superheroes/hero/service/HeroServiceTests.java) then you can't use the annotation

[2022-02-23 13:01] DavideD commented on #20521
For JUnit 5: https://vertx.io/docs/vertx-junit5/java/#_integration_with_junit_5

[2022-02-23 13:04] #23144 closed

[2022-02-23 13:04] edeandrea commented on #20521
Quarkus also has `@RunOnVertxContext` (for which I can't seem to find much documentation either).

[2022-02-23 13:07] mkouba commented on #20521
I know but it's a bit confusing as you can do `Uni.await()` if no `@TestReactiveTransaction` is present, because the test method body is executed on the `main` thread and only the panache entity/repository operations is executed on the event loop (see also `io.quarkus.hibernate.reactive.panache.common.runtime.AbstractJpaOperations.getSession()`).

[2022-02-23 13:12] #23899 closed

[2022-02-23 13:13] geoand commented on #23716
Any chance you can put together a sample application that exhibits this behavior?

[2022-02-23 13:29] snazy commented on #23913
Not sure whether it's an exact duplicate, but pretty related. There's also the incompatibilities/issues w/ newer opentelemetry-grpc-1.6 version. I'll try to build a reproducer and dig into why exactly it's failing with the newer versions.

[2022-02-23 13:32] geoand commented on #23913
Okay thanks

[2022-02-23 13:43] radcortez commented on #23913
Specific OTel libraries are not officially supported at this point. Until proper support is actually added, any issue/fix will probably just be a bandaid.

I would prefer to just concentrate everything into a single issue.

[2022-02-23 13:53] Karm commented on #23875
@glefloch
The following runs just fine one one of my RHEL 9 vms :heavy_check_mark: :
[code]
and it fails on the RHEL 9 vm that runs in FIPS enforcing mode :x:.

The problem is that the Gradle client and the repo server fail to agree on cipher suites used:

See: https://editor.mergely.com/oU5dw72Z/

Funnily enough, it works just fine with Maven (obvious, the rest of the modules build just fine...)

[2022-02-23 14:00] zakkak commented on #14139
Actually that is what is causing the issue :)

In general the logic to approach issues with `Random` instances appearing in the native image heap is the following:
1. Is the `Random` stored in a `static` field of a class? If so, we need to either reset it's value to `null` by 1st ensuring that the class can handle this, or register the class for runtime re-initialization. The latter though has the

[2022-02-23 14:00] MartinSem opened #23914 "graphql-ui issue show Â on each line and near the cursor"
**Describe the issue**
After the upgrade to Quarkus 2.7.0 and maven 3.8.3, graphql-ui show a Â on each line and near the cursor.
It happens only on window local environment, there is no issue  when we deploy it into a kubernetes container.

![image](https://user-images.githubusercontent.com/38289371/155333825-c52509f5-759f-4365-ac14-6b06360e5f3b.png)

**Environment info**
`$ mvn -v
Apache Maven 3.

[2022-02-23 14:31] nunocasteleira commented on #23879
Sorry, should have done that immediately.

Config class:
[code]

Validator class:
[code]

Error:
[code]

[2022-02-23 14:38] stelapo commented on #20014
I have the same problem with Quarkus 2.6.3.Final.

`[ERROR] it.fcg.amt.agent.filelogs.test.MainLogsAppIT  Time elapsed: 3.596 s  <<< ERROR!
java.lang.RuntimeException: java.util.ServiceConfigurationError: org.eclipse.microprofile.config.spi.Converter: it.fcg.amt.agent.filelogs.config.CustomListStringConverter not a subtype
Caused by: java.util.ServiceConfigurationError: org.eclipse.microprofile.co

[2022-02-23 15:25] zakkak commented on #14139
No worries :)
Feel free to ping me anytime.

In `ECPoint` the `SecureRandom` field `testRandom` is `private` and is accessed through `getTestRandom` which handles the case where its value is `null`. So for `ECPoint` the right thing to do would be to reset its value with something like:

[code]

Note this is similar to what I did in https://github.com/zakkak/quarkus/commit/78ec0db07d960bad506bf8c86

[2022-02-23 15:59] edeandrea opened #23916 "Not able to connect to Apicurio dev service when running integration tests"
### Describe the bug

I have an application which listens for events on Kafka and processes them. This application also uses an Apicurio schema registry. This application has integration tests which use a `QuarkusTestResourceLifecycleManager` to create a `KafkaProducer` to "drop" events onto the Kafka topic for the application to consume in the tests. The Kafka broker & Apicurio schema registry ar

[2022-02-23 16:13] elsony commented on #23562
Do we happen to have an update on this?

[2022-02-23 16:16] JHahnHRO commented on #23713
I apologise for expressing myself confusingly again. I didn't mean that it is Quarkus' fault that exceptions get swallowed. The exception is inside the `CompletionStage` that `Event#fireAsync` returns just as specified. The problem I want to solve is that nobody bothers to check this return value and there is no log-every-uncaught-exception-from-a-business-method automatism in place like there is

[2022-02-23 16:50] jmpargana opened #23920 "PanacheMongoEntity: Kotlin: can only find codec if at least one attribute doesn't have default value"
### Describe the bug

Hey!

First of all I'd like to thank you for an amazing library, which me and my colleagues are loving.

Bug: Instantiation of a `PanacheMongoEntity` extended data class in kotlin fails if *all* attributes have a default parameters. I've read [this section in the documentation](https://quarkus.io/guides/mongodb-panache#working-with-kotlin-data-classes) and this scenario seems

[2022-02-23 16:50] manofthepeace commented on #23680
Hi @radcortez sorry indeed the information in the OP was limited. I was referring to the rest-client-reactive.

Just to be clear. I was happy that it did work, since we did not have to rebuild for somebody to test with a self signed cert, nor we did add to provide a build with that insecure settings hardcoded to true. Would probably be nice to have different config that are runtime for the places

[2022-02-23 16:54] lordofthejars commented on #23844
ah ok :D

[2022-02-23 17:02] smil2k commented on #23888
I noticed the SubClass therefore the println was added to the event handlers and the post construct calls.

In case the build creates a wrong jar then I see two beans, in case it is good, then I only see one. The difference is only that it was compiled 5 minutes later.

I'm working on adding stacktraces to the binaries. Unfortunately the odds of having such build is low, therefore I'll have to mon

[2022-02-23 17:06] #16752 closed

[2022-02-23 17:18] ThoSap commented on #23117
Sorry, I did not find the time to look into this due to personal reasons.

[2022-02-23 17:19] aloubyansky opened #23925 "Deploying to minikube stopped working starting from 2.7.0.Final"
Create a project with, e.g.,
[code]
Executing `mvn clean package -DskipTests -Dquarkus.kubernetes.deploy` from the project dir results in:
[code]

Changing the platform version to 2.6.3.Final fixes the deployment.

As mentioned by @iocanel in a chat, a workaround is to execute:
[code]
before the build.

[2022-02-23 17:21] manofthepeace commented on #23766
@geoand I still have the issue on 2.7.2.Final.

You can try the same reproducer I just updated the pom version to use 2.7.2, the rest is the same.

Reproducer [here](https://github.com/manofthepeace/quarkus-reproducer-mapperinterceptor)

Steps;
1. mvn clean package -Pnative
2. ./target/nativemapper-1.0.0-runner

Exception:
[code]

[2022-02-23 17:23] michael-simons commented on #8530
Hello everyone.

This is soon to be released: https://github.com/michael-simons/neo4j-ogm-quarkus

It depends on the official Quarkiverse Neo4j extension.
If you want / like / need to use OGM, use the one above!
It will configure a OGM `SessionFactory` in a way that it works with Quarkus in both native and JVM mode, without any manual index work.

[2022-02-23 17:33] gastaldi commented on #8530
@michael-simons that's awesome! Are there any plans to migrate this work to the Quarkiverse Neo4j repository or under another Quarkiverse repository?

[2022-02-23 17:36] evanchooly commented on #23920
I'll dig in to this one.  I'm pretty familiar with this particular problem because I already dealt with it in [morphia](https://morphia.dev).  If you don't need panache query support explicitly, there's a [quarkiverse extension for morphia](https://github.com/quarkiverse/quarkus-morphia) that might get you want.  Or it might not.

[2022-02-23 17:57] geoand commented on #23766
Thanks, I'll have a look tomorrow

[2022-02-23 18:02] michael-simons commented on #8530
Thank you.

We will push first a release out and check with a bunch of people if that’s enough for them to have a better experience.

(If you have time, check out the project and `mvn quarkus:dev` and have a look at the dev ui, I love that).

I do see this project more in the Quarkiverse than in a Neo4j repo. However, I would like to keep it separate from the low level Neo4j client (or driver as w

[2022-02-23 18:19] snazy commented on #23913
Makes sense, let's use #23805 then.

[2022-02-23 18:19] #23913 closed

[2022-02-23 18:20] snazy commented on #23911
Tackled in #23927 as well

[2022-02-23 18:26] #23578 closed

[2022-02-23 18:45] edeandrea commented on #21284
@geoand take a look at #23916. It's the Apicurio service that is started by Dev Services

[2022-02-23 20:09] lomanm commented on #23531
This fix that was implemented in 2.7.2.Final has resolved my issue.  Thanks!

[2022-02-23 21:41] famod opened #23929 "`TestEngine` exclude/include filter for continuous testing"
### Description

As of Quarkus 2.7.2 there can be classloading issues when running (field-stlye) ArchUnit tests and there is no way to exclude those, because the existing filters don't cover [`com.tngtech.archunit.junit.FieldSource`](https://github.com/TNG/ArchUnit/blob/v0.23.0/archunit-junit/junit5/engine-api/src/main/java/com/tngtech/archunit/junit/FieldSource.java) yet. See also: https://github

[2022-02-23 21:55] jogueber commented on #23429
Just as a question: Do I have to have a second `VertxHttpRecorder`
I get that I can have seperate `BuildItem` that registers everything from the framework router
But how do I start another server then ?

[2022-02-23 23:13] phillip-kruger commented on #23914
I think it's due to platform encoding: Cp1252. I'll see if I can fix that, but if you can change to UTF8 that might solve it

[2022-02-23 23:39] stuartwdouglas commented on #9316
We can move the `TrustedIdentityCredential` logic/config out, but TBH I am kinda surprised it is needed. Cookie based auth is kinda frowned upon a these days. JPA can also authenticate `TrustedAuthenticationRequest` so it should just work.

JWT can also work here, the `TrustedAuthenticationRequest` is just simpler as it does not require certificates to be setup.

In terms of how you map the reques

[2022-02-23 23:45] radcortez commented on #23913
Thanks :)

[2022-02-24 01:11] LazaroR94 commented on #23845
I do have one more question for you regarding this (it may be related or it may not): What would be an efficient way of chaining multiple database inserts in reactive hibernate using the Mutiny reactive programming library? I am currently returning a combination of Unis in my program that each insert into a separate database table; however, when a failure happens it does not cancel all the other U

[2022-02-24 01:58] ebullient commented on #20256
If we want to chase performance of JMX-based system metrics in native mode, we should re-open in the micrometer repository so we can diagnose issues with the micrometer system MeterBinders with them.

[2022-02-24 02:44] jimbogithub commented on #23655
FYI, this is still an issue in 2.7.2 and is also not resolved by upgrading the Eclipse EMBEDDED Maven to 3.8.4 (was 3.8.1) which I believe is the one used by Eclipse to resolve dependencies.

[2022-02-24 03:04] kkk25641463 opened #23934 "quarkus.container-image.build error"
### Describe the bug

I build quarkus docker images for cli:
mvn clean package -Dextensions=container-image-docker -Dquarkus.container-image.build=true -DskipTests -Dquarkus.package.type=mutable-jar

### Expected behavior

the image can run with not error

### Actual behavior

log print error : /home/jboss/dev not found
Exception in thread "main" java.lang.reflect.InvocationTargetException
	at jav

[2022-02-24 05:26] romilpunetha commented on #23813
@loicmathieu Did you get a chance to look into this?
We're about to move our workloads to production and it'd be difficult moving the collections into their respective DBs later.

[2022-02-24 06:03] maxandersen commented on #23562
it should be fixed with latest 2.7.2 quarkus so it doesn't fail.

It was released last night so if you run the tests again you should see it pass.

[2022-02-24 06:58] cescoffier commented on #23429
I would have added the logic to the same recorder, to create a second http server (if needed). However, you can use a second recorder if that's simpler.

I would start by locating where the management router is attached to the main router, and just before that check if we need to create a second server.

[2022-02-24 07:26] mkouba commented on #23713
@JHahnHRO I see your point, but even if you decorate the `Event.fireAsync()` then the only thing you can do is to add some logging if a returned `CompletionStage` completes exceptionally, right? I mean you can't block the client. So would it be helpful if we log the exceptions for `@ObserveAsync` like we do for transactional observers?

[2022-02-24 07:35] glefloch commented on #23875
@Karm is there anything we can do on the quarkus side? shouldn't this be a gradle issue?

[2022-02-24 07:51] JHahnHRO commented on #23713
If such a logging mechanism for async observer were built-in it would help, yes.

[2022-02-24 08:01] geoand commented on #23925
@iocanel are you looking into this?

[2022-02-24 08:08] geoand commented on #23934
Are you using remote development mode?

[2022-02-24 08:27] RuggeroDAlo opened #23937 "quarkus:test Re-run failed tests does not run failed ParameterizedTest"
### Describe the bug

In Continuous Testing mode tests that use `@ParameterizedTest` with `@ValueSource` like this:

[code]
are not rerun when a "Re-run failed tests" command is issued, but `All tests are now passing` is shown instead.

### Expected behavior

ParameterizedTest tests that fail should be rerun

### Actual behavior

ParameterizedTest tests that fail are declared as passing without ha

[2022-02-24 08:31] jmartisk commented on #23914
I'm trying to reproduce this on my Windows machine that also uses CP1252, but I'm not successful.
I tried compiling  and running the application there,
I also tried compiling and running it on the linux/UTF8 machine but accessing it from the Windows machine,
but no luck. We might need some more info, like your pom.xml, or built jar files,....

[2022-02-24 09:18] apat59 commented on #18685
Hi,
I've updated https://github.com/quarkusio/quarkus/issues/16279 with metrics and updates.

[2022-02-24 09:27] phillip-kruger commented on #21111
@michalszynkiewicz f.y.i

[2022-02-24 09:57] madduci opened #23938 "Using Java Module System with ServiceLoader fails"
### Describe the bug

I'm running a small project using latest Quarkus 2.7.1.

My project uses the java module system with Java 11 as target. I have so far different maven modules, each with its `module-info.java`:

- api (having `exports com.example`)
- implementation-1 (having `provides com.example.MyApi with com.example.impl.First;`)
- implementation-2 (having `provides com.example.MyApi with c

[2022-02-24 10:11] Karm commented on #23875
@glefloch I don't know :) Perhaps we can force Gradle to do something else via JAVA_OPTS or its config.  I would like to keep this issue up for tracking FIPS related problems though. I will tag with area/FIPS soon and embed it into quarkus-bot.yml.

So far, this is my workaround:
[code]

[2022-02-24 10:16] u6f6o commented on #19359
Any update on this?

We ran into the same issue as well. Currently we have the option to either stick with `2.0.2.Final` in native mode or use the jvm mode instead.  Our services run in k8s on aws.

[2022-02-24 10:31] Plawn opened #23939 "Optional not working with @QueryParam in BeanParam"
### Describe the bug

When using @QueryParam in conjunction with @BeanParam Optional fields are not working.

I'm using resteasy-reactive

### Expected behavior

We can automatically wrap null in Optional to have a nicer developper experience and have our code behave in BeanParam the same way it does with plain controller

### Actual behavior

We have a null instead of an Optional.empty()

### How

[2022-02-24 10:36] romainshen commented on #14883
you can use @ReactiveTransactional, which is the reactive variant of @Transactional

[2022-02-24 10:44] fedinskiy opened #23940 "Opentelemetry traces for reactive services contain erroneus values"
### Describe the bug

When running application with enabled jaeger tracing, traces contain not just endpoints but also mysterious "HTTP GET" string, but only if the application uses reactive endpoints and Quarkus 2.7.2.Final.

### Expected behavior

Tracing should work the same way for reactive and not-reactive libraries.

### Actual behavior

Traces for a non-reactive application(or for version 2

[2022-02-24 10:48] FroMage commented on #22773
There are several ways to solve this issue:

- Self-disable Hibernate if there's no config (what @Sanne suggested)
- Self-disable Hibernate if it isn't used: no `@EntityManager` or `@EntityManagerFactory` used (a little bit more complex for Panache)
- Turn this into a runtime error
- Handle the issue at code.quarkus.io time, but this same issue remains when adding the Hibernate extension manually

[2022-02-24 11:39] smil2k commented on #23888
After upgrade to  2.7.1, the problem still occurs. Today the problem was more apparent, three times in a row wrong context was created:

Stacktrace for the constructor and postconstruct calls:
[ngbpdemo_backend_1_bad_stacktrace.log](https://github.com/quarkusio/quarkus/files/8132134/ngbpdemo_backend_1_bad_stacktrace.log)

After compiling only one of the modules and just recompile the runner, then

[2022-02-24 11:50] vsevel opened #23942 "Support Stork configuration under the `quarkus` namespace"
### Description

Considering this example:

[code]

There is an inconsistency between stork configuration and the rest of the extensions.

This alternative model should be supported for stork (`quarkus `prefix for all properties):

[code]

### Implementation ideas

_No response_

[2022-02-24 12:22] gsmet commented on #19359
If someone could come up with a small reproducer (a small app reproducing the issue and ideally information about the AWS environment you are using), that would be helpful.

Right now, we are shooting in the dark.

[2022-02-24 12:31] iocanel commented on #23925
I will pick this up.

[2022-02-24 12:48] mkouba commented on #23888
Hm, what does your app structure look like? Is it a multi-module project? Is `adapter.giro.workers.SendEventHandlerWorker` placed in a dependency or in the application itself, i.e. `src/main/java`?

[2022-02-24 12:49] manovotn commented on #23888
In case you get two beans created, is one of them ever destroyed? I.e. if you add a pre destroy callback, will it be invoked for one of them? Will the context be activated/deactivated multiple times (it definitely shouldn't be the case for singleton, I am just really shooting blind here).
Also, you mentioned that the bean has an observer for startup event - what's the chronological order of the du

[2022-02-24 13:01] michalszynkiewicz commented on #12802
FYI, now it is possible to generate proto stubs from dependencies, that is jars contaning proto files.

[2022-02-24 13:13] smil2k commented on #23888
@mkouba: We have 4-5 git repositories with a multi maven project inside each.
They all define beans and use jindex to help the discovery.

One of the repositories contains the runnable jars, they have the quarkus-maven-plugin and they build the application.

We build eigher using a pom adding all repos into one maven reactor or build the projects one by one and then as the last step the runnables.

[2022-02-24 13:35] juangon commented on #7678
FYI @rsvoboda I am able to reproduce this error on Quarkus 2.7.X, not reproducible in Quarkus 2.6.3.Final.

[2022-02-24 13:37] juangon commented on #7678
Oh BTW, not testing in Windows. It happens in a Kubernetes cluster, using a new PVC mounted in /tmp directory. None of this fails in Quarkus 2.6.3.Final

[2022-02-24 13:43] esorio opened #23945 "oracle jdbc connection doesn't work if oracle db charset is JA16SJIS"
### Describe the bug

I have a project that connects to oracle db using the jdbc-oracle extension.
When I connect to a oracle db with UTF8 charset everything works.
If I use an oracle db with a different charset (for instance JA16SJIS) the application hangs with the following exception:
`java.sql.SQLException: Non supported character set (add orai18n.jar in your classpath)`

To fix the issue I ad

[2022-02-24 13:45] apat59 commented on #16279
check updated "Describe the bug section"
Reproducer being  quartz-quickstart
with the following params
quarkus.datasource.metrics.enabled=true
%dev.quarkus.datasource.health.enabled=true
%dev.quarkus.datasource.jdbc.max-size=15
%dev.quarkus.datasource.jdbc.max-lifetime=10S
%dev.quarkus.datasource.jdbc.background-validation-interval=2S
%dev.quarkus.datasource.jdbc.foreground-validation-interval=2S

[2022-02-24 13:57] mkouba commented on #23888
Your setup looks fairly complex ;-).

Well, if a non-abstract bean declares an observer method it's also registered as a bean with the scope `@Dependent`. And if `SendEventHandlerWorker` does not override the `onStart()` method it should inherit the observer method as well (and should be notified too).

As explained above this should not be the case. But it's possible that there's a bug in impl.

[2022-02-24 14:09] smil2k commented on #23888
When I first saw the duplication I tried to make it as a reproducer and noticed that there are quite a few things are going on. I was not able to simplify it.

That class is injecting all implementations of a certain interface using @Inject Intance<Inteface> and iterates over it in postconstruct. It is only registering them as hooks.

[2022-02-24 14:12] apat59 commented on #16279
bad news, the reproducer is not reliable.
The source of the problem for the reproducer is foreground-validation-interval, if you remove it, the problem on a local machine disappear. However it continues in the other environment openshift + aurora..

No idea what I can do. There seems to be a gap as soon as I move to openshift + aurora cluster

[2022-02-24 14:15] manovotn commented on #23888
Or any other scope of those classes declare some (which I am not sure from the description).

I agree with Martin that I'd also expect multiple event notifications being delivered (and hence multiple bean creations) because at least two beans in that hierarchy are CDI beans.
We should probably look into how we handle event delivery in these cases, I am not sure we have a test for such hierarchical

[2022-02-24 14:23] smil2k commented on #23888
I know that Startup does not happen, because this was the first thing we noticed: the connection object we wanted to use was not there, even though the log reported the successful creation of it in response to the startup event.

The one which received the event started working and the other instance was injected into an rest service class was a different class and uninitialized.

ReadModelCompone

[2022-02-24 14:26] mkouba commented on #23888
Yes, that would explain it.

[2022-02-24 14:37] gsmet commented on #23945
AFAICS the version of this artifact is defined in the Oracle BOM we import in Quarkus. So you shouldn't have to define the version. Can you confirm that?

We should probably document the error and how to solve it though.

[2022-02-24 14:55] smil2k commented on #23888
@mkouba
Which parts would be particularly helpful? Unfortunately the application jars in its whole cannot be shared publicly.

[2022-02-24 14:57] Emmeral opened #23947 "QuarkusTest does not run @BeforeEach method of outer class when using @Nested test classes"
### Describe the bug

Given the following test class:
[code]

### Expected behavior

Both the outer and the inner `@BeforeEach` method are called before the test. Therefore the test succeeds.

### Actual behavior

The test fails because `outerValue` is actual `null`. If the `@QuarkusTest` annotation is removed from the outer class, the test succeeds as expected.

### How to Reproduce?

Run the tes

[2022-02-24 15:02] johnmcollier commented on #23562
No longer seeing the failure, so closing this out.

Thanks for fixing this 👍

[2022-02-24 15:02] #23562 closed

[2022-02-24 15:35] yrodiere commented on #8932
The problem appears to be in Hibernate ORM itself. I created https://hibernate.atlassian.net/browse/HHH-15090 and will handle this upstream.

[2022-02-24 15:42] AndreasBoehme commented on #8530
I've tried v1.0.0 today - works great!
Dev-Console integration is nice, too!
Now I can remove some of my homebrew code for configuring the `SessionFactory` in my Quarkus App.

[2022-02-24 15:54] JapuDCret commented on #22611
I would say, that this can be closed - as it's unlikely that something about the ClassLoader will be changed because of this.

It's still not working without the [above mentioned workaround](https://github.com/quarkusio/quarkus/issues/22611#issuecomment-1005905445), but at least that workaround is available.

[2022-02-24 15:55] mkouba commented on #23888
Hm, the `quarkus-app/quarkus/generated-bytecode.jar` might be useful. This jar contains the generated metadata classes for CDI (beans, observers, etc.).

[2022-02-24 15:56] smil2k commented on #23888
Can you give a private drop point?

[2022-02-24 16:22] mkouba commented on #23888
If possible pls join the [quarkus zulip chat](https://quarkusio.zulipchat.com) and ping me there...

[2022-02-24 16:33] fcoutinho-uolinc opened #23948 "Timeout when using quarkus-kafka-streams extension"
In our production environment we have way too many topics.
And because of that we constantly get timeouts when initializing the application
(As of now the list topics operation timeout is fixed at 10 seconds)

https://github.com/quarkusio/quarkus/blob/36351d4412da3a529ed2c020b0fd6ad2a8145bcb/extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsProducer.java#L

[2022-02-24 16:39] esorio commented on #23945
Yes, you are right! If I remove the version the right one is inherited.

[2022-02-24 16:40] esorio commented on #23945
Yes, you are right! If I remove the version the right one is inherited.

[2022-02-24 16:40] esorio commented on #23945
Yes, you are right! If I remove the version the right one is inherited.

[2022-02-24 16:41] esorio commented on #23945
Yes, you are right! If I remove the version the right one is inherited.

[2022-02-24 16:43] Sanne commented on #21111
apologies I missed the first notification :)

I'll have a look

[2022-02-24 16:58] RuggeroDAlo commented on #21111
@phillip-kruger The number of calls (4 OK, fifth one fails) sounds suspiciously similar to a similar issue I have with panache in 2.7.1/2.7.2: https://github.com/quarkusio/quarkus/issues/23804

2.7.0 seems to be working fine.

[2022-02-24 17:01] rquinio1A commented on #23948
I wonder if we could use `AdminClient#describeTopics(Collection<String> topicNames)` instead to improve the performance (and what happens in case topic doesn't exist) ?

What happens today when you set `quarkus.kafka-streams.topics=""` ? I wonder if it's mapped to an empty array or fails because it's mandatory. Also relates to #8909.

[2022-02-24 18:10] #17901 closed

[2022-02-24 18:10] #23871 closed

[2022-02-24 18:49] fcoutinho-uolinc commented on #23948
If I set `quarkus.kafka-streams.topics=""` the application fails because it is a mandatory field :crying_cat_face:
I think is more efficient to use the method you described, but I honestly don't know what happens when the topic is not created

[2022-02-24 18:54] radcortez commented on #23940
In some situations, it may not be possible to determine the route name properly. In that case, it follows the OTel specification:

And that is what they do in their implementation:
https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/instrumentation-api/src/main/java/io/opentelemetry/instrumentation/api/instrumenter/http/HttpSpanNameExtractor.java#L34-L45

I'll check if i

[2022-02-24 19:10] beatngu13 commented on #6266
@geoand the documentation really doesn't cover this. The only thing explained is how "to enable CDI bean discovery for a module in a multi-module project".

One might close this issue as a duplicate of #2003, which is open since 2019 and a corresponding PR trying to add a quickstart example is left untouched. This is rather frustrating, both for users and contributors… 😕

[2022-02-24 19:12] chonton opened #23949 "NullPointerException in Resteasy Reactive Client due to no Configuration"
### Describe the bug

When using classic jaxrs ClientBuilder with implementation from Resteasy Reactive Client jars, the configuration is not initialized.

### Expected behavior

ClientRequestFilter(s) successfully registered with classic ClientBuilder

### Actual behavior

NullPointerException thrown from ```org.jboss.resteasy.reactive.client.impl.ClientBuilderImpl, line 313```

### How to Reprod

[2022-02-24 19:39] evanchooly commented on #23920
OK.  As I suspected this is an artifact of how default methods are implemented by the kotlin compiler and the driver doesn't know how to accommodate it.  In the byte code you actually end up with 3 constructors:  one that takes both parameters, one that takes none, and a synthetic one used by kotlinc internally.  The first two constructors get the `@BsonConstructor` applied to both.  When the driv

[2022-02-24 19:48] chonton opened #23951 "Resteasy reactive client does not create specific WebApplicationException"
### Describe the bug

When a rest api returns a 4xx or 5xx status code, Resteasy reactive client creates a generic WebApplicationException

I must register the following ```ResponseExceptionMapper<RuntimeException>``` to get the expected behavior.  Please consider adding this code to ```org.jboss.resteasy.microprofile.client.DefaultResponseExceptionMapper```:

[code]

### Expected behavior

Produc

[2022-02-24 20:28] chonton opened #23952 "RestEasy Reactive Client returns org.jboss.resteasy.reactive.common.jaxrs.StatusTypeImpl instead of javax.ws.rs.core.Response.Status"
### Describe the bug

```org.jboss.resteasy.reactive.common.jaxrs.ResponseImpl.getStatusInfo()``` returns an instance of ```org.jboss.resteasy.reactive.common.jaxrs.StatusTypeImpl``` rather than the expected instance of ```javax.ws.rs.core.Response.Status```

### Expected behavior

RestEasy class client returns an instance of ```javax.ws.rs.core.Response.Status```

### Actual behavior

RestEasy re

[2022-02-24 20:52] Sanne commented on #23945
We could also include this dependency by default I guess.  I'm not entirely sure about where to draw the line as there are quite some optional dependencies, but I think this one in particular is relatively harmless when unused (and useful when it is).

[2022-02-24 21:29] LazaroR94 commented on #23845
@Sanne I also just found out that `SessionFactory.withTransaction` cannot use used with reactive messaging as it causes this issue: `Can't get the context safety flag: the current context is not a duplicated context` :'(

[2022-02-24 22:33] chonton opened #23956 "RestEasy Reactive returns different resource class/method than RestEasy classic"
### Describe the bug

I have an Api class and a Resource class:

[code]

[code]

And I have a ContainerRequestFilter

[code]

With RestEasy classic, ```ResourceInfo.getResourceClass()``` returns my Api class.  With RestEasy reactive, the result is my Resource class.

### Expected behavior

I expect RestEasy Reactive to be a drop-in replacement for RestEasy classic, returning the Api class

### Act

[2022-02-24 23:09] chonton opened #23957 "Reactive REST Client probably should not call ResponseExceptionMapper when Response is returned"
### Describe the bug

I have a REST Api:

[code]

The add method returns a '400' status code within the Response.  I do not expect any WebApplicationException to be thrown.

### Expected behavior

No exceptions thrown.

### Actual behavior

Registered ResponseExceptionMapper<RuntimeException>(s) are called to translate the response to an exception.

### How to Reproduce?

Code above

### Output of

[2022-02-25 00:24] DavideD commented on #23845
You can try this:
[code]

[2022-02-25 00:25] phillip-kruger commented on #21111
Thanks @Sanne and @michalszynkiewicz !

[2022-02-25 03:43] hernael opened #23960 "grpc, intinispan and kafka integration."
### Description

Given a Protofile the quarkus-maven-plugin automatically generates the message classes for grpc protocol.
If infinispan is used in addition to grpc, then the Marshaller classes required by infinispan could be generated automatically.
Additionally support for kafka could be added with protobuf and Schema Registry.

### Implementation ideas

_No response_

[2022-02-25 05:40] geoand commented on #23957
What version of Quarkus are you using?
I do remember this being a problem with older versions, but I think it was fixed.

[2022-02-25 05:56] geoand commented on #23956
I don't see the spec defining what happens in this case or the TCK testing it.

@FroMage @stuartwdouglas WDYT? To me, it seems like what RESTEasy Reactive does makes more sense, but I'd like to hear your view on it as well.

[2022-02-25 05:58] geoand commented on #23951
Sounds like you have a patch in mind :)

Mind opening a Pull Request with your proposed fix?

[2022-02-25 06:02] geoand commented on #23952
Thanks for reporting, but I fail to see why this is a problem. Mind elaborating?

[2022-02-25 06:15] geoand commented on #23949
Does the same thing happen if you include `quarkus-jaxrs-client-reactive` and run your test as Quarkus application instead of a vanilla `main`?

[2022-02-25 06:32] michalszynkiewicz opened #23961 "Support @Encoded for query parameters in REST Client Reactive"
### Description

From [GitHub discussion](https://github.com/quarkusio/quarkus/discussions/23935):

Hello,

I am following this guide https://quarkus.io/guides/rest-client to communicate with a 3rd party API. Overall everything works but there is a small issue I am running with query param.

I am able to set up query param as described in the tutorial. However, I am not able to use the Encoded str

[2022-02-25 06:33] michalszynkiewicz commented on #23961
CC @sraturi

[2022-02-25 07:01] #23878 closed

[2022-02-25 07:46] doczico commented on #23665
Thank you very much for the (ultra) quick fix

[2022-02-25 08:19] michalszynkiewicz commented on #23960
How does it work currently for Infinispan marshaller classes?

[2022-02-25 08:35] kay-horst commented on #19129
As to `hibernate.order_inserts`: I have optimized bulk inserts by a factor of about 50 by using Hibernate batching in the case of entities without relations. This optimization is very important for the application.

However, for an entity type using `@OneToMany`, batching is not applied due to the entity types' not being sorted, so that single `INSERT`s are being generated.

It would be good to be

[2022-02-25 09:54] mkouba commented on #23912
Hello @snazy, I miss the `@GrpcService` annotation in the examples. Is `MyService` supposed to be the service impl that should be registered?

[2022-02-25 10:05] mkouba commented on #23911
Where exactly do you filter out the synthetic methods in that PR?

[2022-02-25 10:06] FroMage commented on #9316
Well, I don't think there's any other way to keep people logged in a website. Not for REST, but for a website. OIDC relies on cookies, so does JWT. I can't imagine any other way to do it, frankly.

JPA does indeed handle `TrustedAuthenticationRequest`, but that's username/password. I won't work for WebAuthn which requires different data to be stored.

I'm not sure what you're trying to tell me wit

[2022-02-25 10:14] Karm opened #23964 "Kafka SSL Native test on FIPS enforcing system: sun.security.pkcs11.SunPKCS11 on image heap"
### Describe the bug

Running with a FIPS aware HotSpot on a FIPS enforcing system, the Kafka SSL test passes just fine:
[code]
Attempt at running it in Native fails though:
[code]

### Expected behavior

Passes both for HotSpot and Native.

### Actual behavior

Native fails.

### How to Reproduce?

On a FIPS enforcing system, using FIPS aware native-image:

[code]

### Output of `uname -a` or `ve

[2022-02-25 10:22] jerboaa commented on #23964
Thanks for this. I'll have a look.

[2022-02-25 10:25] #23937 closed

[2022-02-25 10:48] #23766 closed

[2022-02-25 11:01] snazy commented on #23912
Oops, yea. Updated the description.

[2022-02-25 11:04] Karm opened #23965 "Spring Cloud Config Client Native test: FIPS enabled native-image: "only SunJSSE TrustManagers may be used""
### Describe the bug

Spring Cloud Config Client test works fine with FIPS aware HotSpot, but the test fails to start with FIPS aware native-image.

**TODO:** Check Wiremock in HotSpot vs Native and how it is used here.

Notes from Severin:
Only PKCS11 NSS certificates may be used in FIPS mode. See: https://access.redhat.com/documentation/en-us/openjdk/11/html-single/configuring_openjdk_11_on_rhel

[2022-02-25 11:07] geoand commented on #23965
How are these cases meant to be handled?

[2022-02-25 11:09] jerboaa commented on #23965
@Karm Last I've checked on this one, I think wiremock is only being used for the native test, but not for JVM mode. So in order to have an apples to apples comparison, we'd have to run wiremock in FIPS JVM mode too.

[2022-02-25 11:13] Karm commented on #23965
@geoand We will investigate and either provide a FIPS compatible fix or document it as FIPS incompatible for the time being.

[2022-02-25 11:14] jerboaa commented on #23965
Sorry, but I have no idea what this wiremock thing actually is.

[2022-02-25 11:17] Karm commented on #23965
@jerboaa Ack. I have used wiremock in the past. I will take a look at the setup here.
I am not dumping these issues on you to investigate immediately. My angle is to record those (two more I think) so as we can go deeper later and suggest changes.

[2022-02-25 11:24] loicmathieu commented on #23904
this will result in an exception on startup.

I'll work on this one as it's not very complex for now: allow multiple build item and in this case list all properties and set them. I'll provide a PR soon.

[2022-02-25 11:29] mkouba commented on #23912
[code]
Yes, `@Blocking` discovery would not work for methods declared on the `MyServiceSuper` because only methods declared on the service impl are discovered.

[2022-02-25 11:48] famod commented on #10299
This would also be useful in cases where you have a "global" resource class in a Maven test-jar and you want to use that in other modules, because you could simply subclass that test-jar class per module and be done with it (without duplication the annotations).

[2022-02-25 12:09] johnaohara commented on #19359
I have attempted to recreate this issue with the supplied sample application. I have tried to recreate on baremetal, OCP 4.7,  AWS ECS and minikube 1.23.  With these environments, I am unable to recreate the increase in CPU usage that people are seeing.

The graph below is running on AWS ECS;

![Screenshot from 2022-02-24 19-37-27](https://user-images.githubusercontent.com/959822/155712491-a50028d

[2022-02-25 12:17] renegrob commented on #9316
I think the issue is that Quarkus does not have a concept of a 2nd-factor/step-up authentication. Unless you use the passwordless option, you need first to authenticate with a first factor and that should - at least in my point of view - be any factor that the user configured. The first factor login should be handled independently whether its BasicAuth, JWT or OAuth2.

[2022-02-25 12:23] andreas-eberle opened #23966 "Rest Client sets own User-Agent header even if user specifies a different one"
### Describe the bug

This issue is based on the Zulip chat: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/io.2Evertx.2Ecore.2Ehttp.2Eimpl.2ENoStackTraceTimeoutException

We have a reactive rest client where we set a custom `User-Agent` header. The user agent needs to be this specific value for the API to accept our request.

[code]

Unfortunately, it seems that Quarkus version

[2022-02-25 12:27] Karm opened #23967 "Bouncy Castle and Bouncy Castle FIPS Native test failures: Cannot load new security provider at runtime: BC / BCFIPS"
### Describe the bug

Bouncy Castle and Bouncy Castle FIPS tests work fine with FIPS aware HotSpot, but those tests fail to start with FIPS aware native-image.
[code]

Notes from Severin:

**TODO:** Check what is going on in HotSpot mode and how come it seems to pass.

## Bouncy Castle native
[code]
Full log:

## Bouncy Castle FIPS native
[code]
Full log:

### Expected behavior

Tests pass the sam

[2022-02-25 13:03] jerboaa commented on #23967
Note that OpenJDK itself cannot prevent application users from using third-party crypto providers when being used on a FIPS enabled system and `Security.addProvider()` API is being used. That seems to be the case here for JVM mode.

[2022-02-25 13:17] Karm opened #23970 "gRPC - TLS tests fails in FIPS mode (HotSpot and Native): NSS DB read-only PKCS#11 store would have to be used"
### Describe the bug

gRPC - TLS tests run with pem keys:
[code]
And that does not hold water when ran with FIPS aware JDK on a FIPS enforcing system as per:
[code]
Source: [FIPS keystore doc](https://access.redhat.com/documentation/en-us/openjdk/11/html-single/configuring_openjdk_11_on_rhel_with_fips/index#key_store)

It results in the error message:
[code]

gRPC extension HotSpot unit tests are

[2022-02-25 13:18] Karm commented on #23970
gRPC tests won't be FIPS compatible unless refactored ground up IMHO.

[2022-02-25 13:18] #23970 closed

[2022-02-25 13:29] Plawn opened #23971 "Allow to easely register codec for POJO to use with the EventBus"
### Description

In the current version (2.7.2.Final) POJO which can be deduced from @ConsumeEvent endpoints are automatically registered, it's really good, but if we want to implement a simple routing solution which makes use of the Object type as a return type for the endpoint then we have to manually register the POJO in order to use them with the event bus.

If we could have an annotation such

[2022-02-25 13:37] RuiPinhoErate commented on #13459
Hi, Is this issue fixed? I'm experiencing it too with a POST using ObjectMapperType.JACKSON_2

[2022-02-25 13:49] sberyozkin commented on #23967
This PR should be fixing it, #23527

[2022-02-25 13:59] sberyozkin commented on #23967
Though I'm not 100% sure. Perhaps the right `fix` would be to disable BC tests on the FIPS enabled system if it is required there that only Sun FIPS provider code is used. Lets see what happens after #23527 is merged

[2022-02-25 14:05] Karm commented on #23967
@sberyozkin I will try with your branch now...

[2022-02-25 14:27] loicmathieu commented on #23813
Hi @romilpunetha there is indead a bug inside the reactive implementation that didn't take the database name from the entity.
I provided a PR to fix it.

[2022-02-25 14:47] andlinger opened #23975 "Configuration options for locales"
### Description

Issue #22808 mentions several configuration options that are either not mentioned at all or possibly not mentioned "correctly" in the all-config guide.

For example, in the description for the property `quarkus.locales` the following sentence is mentioned in the guide:

However, the issue talks about `quarkus.native.locales`. I have tested this property and it works.
Which of thes

[2022-02-25 14:51] gsmet commented on #23975
`quarkus.native.user-language` and `quarkus.native.user-country` are deprecated and thus not appearing in the documentation.

What is documented is what you should use. The initial implementation described in the issue was heavily overhauled during the review cycle because `quarkus.default-locale` and `quarkus.locales` were already present to serve this purpose.

[2022-02-25 14:51] #23975 closed

[2022-02-25 15:05] hernael commented on #23960
hi @michalszynkiewicz current procedure would be something like this:
1. Place your proto files in src/main/proto and run mvn compile. This step generate model classes for grpc (https://quarkus.io/guides/grpc-service-implementation)
2. Once the classes are generated, Have to create your own Marshaller(s) yourself (https://quarkus.io/guides/infinispan-client#custom-serialization)

However, this sec

[2022-02-25 15:31] #23938 closed

[2022-02-25 15:41] cylab commented on #8553
Actually it works like the OP expected in Spring, so this might be a confusing aspect for people migrating to Quarkus (like me)

[2022-02-25 16:18] fedinskiy opened #23978 "Kafka dev services can not be used with redpanda images from outside of DockerHub"
### Describe the bug

Devmode for Kafka explicitly requires, that images should be from vectorized/redpanda dockerhub repository. Because of that, even if the very same is copied to other docker repository, it can be used.

The reproducer uses image `quay.io/quarkusqeteam/redpanda` which was copied with docker pull/push from DockerHub to quay.io

### Expected behavior

Kafka dev services should wo

[2022-02-25 16:50] Karm commented on #23967
@sberyozkin

## sberyozkin/bc_keypair_ecdsa_xdh
### Native
With FIPS enabled native-image on a FIPS enforcing system:
[code]

So it's the same as before except for *Bouncy Castle FIPS JSSE* where `Detected an instance of Random/SplittableRandom class in the image heap.`
was replaced by `@Inject is not supported in @NativeImageTest and @QuarkusIntegrationTest tests`. The test needs to be refactored