[2020-05-01 09:38] tobiasstadler opened #9004 "Automatic Kafka Topic Subscription"
In Kafka Streams it is possible to subscribe to popics matching a pattern (see `org.apache.kafka.streams.StreamsBuilder#stream(java.util.regex.Pattern)`). It would be nice if the subscription could be automatically updated by Quarkus when topics matching the given pattern are created/deleted in Kafka (similar to what is possible in Kafka Connect).

[2020-05-01 10:17] emmanuelbernard commented on #2303
While discussing with @gavinking, he advised to come with a formal set of rules for how the feature should operate.
I finally got the time to sit down and think about it.

CC @loicmathieu  @FroMage

## Goal

Construct query structures depending of the presence or absence of a parameter.
Often, a complex search query is build from if statements and string concatenation depending on the presence or

[2020-05-01 10:25] aloubyansky commented on #8984
This is for the dev mode, right? I'll need to check what happens in this case but Gradle keeps the classes and resources dirs separate, so we shouldn't really be copying resources to the classes dir. But the way the dev mode currently works in Gradle we actually still merge them in a tmp dir. We need to enhance our dev mode setup to respect the native Gradle layout. I can have a look into this iss

[2020-05-01 10:40] geoand commented on #8984
Yes dev mode only

[2020-05-01 11:02] gsmet commented on #8993
I'm on it.

[2020-05-01 11:12] johnaohara commented on #9001
@Postremus the start times you quoted
[code]
Were these measure on your linux VM, or on your windows laptop?

[2020-05-01 11:29] Postremus commented on #9001
On my linux vm wiht 4 cores, 32GB of memory. I updated the description to reflec this.
I guess we should first worry about getting dev mode launching fast on the linux vm, since I can get flamegraphs easily there.

[2020-05-01 11:52] geoand commented on #8996
#9007 should take care of it. I didn't need to update `@RegisterForReflection` (although we might still want to think about it in the future).

[2020-05-01 11:53] geoand commented on #9003
cc @evanchooly

[2020-05-01 12:08] rquinio commented on #9004
Isn't this something handled internally by Kafka Streams ?

[2020-05-01 12:33] machi1990 commented on #8996
Yes, for the same application.

[2020-05-01 12:36] geoand commented on #8996
Yeah, I checked. It's just a different way of handling keys between JsonB and Jackson. I would say it's not worth spending time on, we just register `BigDecimal` and `BigInteger` for reflection and like I did in #9007  and be done with it :)

[2020-05-01 12:53] machi1990 commented on #8996
Nice, thanks.

[2020-05-01 13:30] #8996 closed

[2020-05-01 13:36] jaikiran commented on #8927
I believe a fix for this got merged recently https://github.com/quarkusio/quarkus/pull/8971

[2020-05-01 13:37] #8927 closed

[2020-05-01 13:43] jaikiran commented on #8793
Which operating system is this on? We had a recent issue that was reported where during restarts, Quarkus would skip staring in "debug" mode in some cases https://github.com/quarkusio/quarkus/issues/8927. That has been fixed in the upstream master branch of Quarkus.

[2020-05-01 14:08] kenfinnigan commented on #8985
@stuartwdouglas even though you've fixed this in Quarkus, is it better for MP/SRye projects do work towards the fix you mention anyway?

[2020-05-01 14:23] loicmathieu commented on #8485
Can you give us the list of extensions you are using ?
Is the issue on jvm mode or when running a native executable ?

[2020-05-01 14:26] loicmathieu commented on #8258
PR #8409 is merged and should have fixed this issue.
It is included in 1.4.1.Final, can you test with this release ?

[2020-05-01 14:30] loicmathieu commented on #7986
@Gui-Yom we found an issue with the classlodaer change we made on 1.3 and Java > 8.
This is fixed by #8889
This should be included in 1.4.2 or maybe you can try to build master from master and provides feedback.

[2020-05-01 14:40] sberyozkin commented on #8851
@gsmet It probably won't make it to 1.4.2, I'm seeing some weird issues after my fix. Trying to isolate...

[2020-05-01 14:41] loicmathieu commented on #6166
@zakhdar can you try with a recent version of Quakrus, 1.4.1.Final for example, and see if you still have the issue ?

[2020-05-01 14:45] loicmathieu commented on #6065
@zakhdar I saw that the PR on smallrye-openapi to fix that has been merged.
Can we close this one ?

[2020-05-01 14:55] loicmathieu commented on #5259
@agoncal can you test with a recent version of Quarkus?
This should have been fixed with 1.3.0.

[2020-05-01 14:57] loicmathieu commented on #6374
@lssoares this has been fixed in 1.3 I think.
I tested your reproducer with 1.4.1.Final and it works so I close the issue.

[2020-05-01 14:59] loicmathieu commented on #5523
@gintsgints can you try with a recent version of Quarkus, like 1.4.1.Final ?
This seems like #6374 that has been fixed

[2020-05-01 15:00] #6374 closed

[2020-05-01 15:02] #8993 closed

[2020-05-01 15:28] michael-schnell commented on #8851
No problem

[2020-05-01 15:33] sberyozkin opened #9012 "Support the injection of smallrye-jwt DefaultJwtParser"
**Description**
If the token is coming in the payload as opposed to a header or if the token is obtained from the OIDC server access token endpoint from the service code, then the usual `JsonWebToken` injection does not work. But having something like
[code]
will help.
**Implementation ideas**
It should be an easy fix, `SmallryeJwtProcessor` needs to add [DefaultJwtParser](https://github.com/small

[2020-05-01 15:38] emattheis opened #9013 "maven plugin build fails when .mvn directory exists in directory enclosing project directory"
Per [Zulip discussion](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/mvn.20package.20failing.20in.201.2E4.2Ex), attempting `mvn package` on a project whose parent directory has a `.mvn` directory, but no `pom.xml` will fail.

The [attached file](https://github.com/quarkusio/quarkus/files/4564988/outer.zip) demonstrates a trivial project in such a directory structure.

[2020-05-01 16:10] DuncanDoyle commented on #1766
This would be super useful for Kogito. In Kogito we generate SmallRye Reactive Messaging Consumers and Producers from BPMN2 message events (e.g. Start Message Event, End Message Event). Currently we mostly use the Kafka connector for our use-cases. Being able to use the Camel Connector would open loads of new integration possibilities for us!

[2020-05-01 16:52] sberyozkin commented on #8851
I think I've fixed it, the was a deadlock due to the changed blocking check condition...

[2020-05-01 17:17] Myslyvchuk commented on #2759
Hi, I  want to move from Spring boot to quarkus, but as I understood for now there is no way to switch datasources in runtime as in spring? As I see there is a way to configure multiple datasources, but there is no mechanism to switch them in run time as in Spring as described [here](https://medium.com/innomizetech/dynamic-multi-database-application-with-spring-boot-7c61a743e914) with MultiRouting

[2020-05-01 18:19] tobiasstadler commented on #9004
Ys seems to work.

[2020-05-01 18:19] #9004 closed

[2020-05-01 18:43] pilhuhn opened #9016 "Sentry environment config ignored"
**Describe the bug**

Docs say one can send the environment via `quarkus.log.sentry.environment` property.
( https://quarkus.io/guides/logging-sentry ). In reality this is not sent to the sentry server.

**Expected behavior**

Sentry env is taken from config and sent to server

**Actual behavior**

Sentry env is missing

**To Reproduce**

Configure Sentry logging with `quarkus.log.sentry.environme

[2020-05-01 18:54] roguexz opened #9017 "[Gradle] ServiceLoader issues in test cases"
**Describe the bug**
If a test case pulls in a library that provides a SPI for a service used by Quarkus test configuration (e.g., `FileSystemProvider`), then the test cases fail during boot time with a `ClassCastException` due to the classloader separation introduced in 1.3

Consider the following scenario,
 * In order to setup a mock SSH server, the project declares a `test` dependency on `org.a

[2020-05-01 18:59] pilhuhn commented on #9016
I see, I don't have current sources and this seems fixed in 1.4.0. See #7821

[2020-05-01 18:59] #9016 closed

[2020-05-01 19:06] corepdk commented on #8258
it is working now with 1.4.1 - builds fine with one or the other first.

thanks - keep up the good work :-) love quarkus

[2020-05-01 19:06] #8258 closed

[2020-05-01 20:05] michael-schnell commented on #8851
Cool

[2020-05-01 20:09] oscarfh commented on #8950
I was thinking about replacing the logic  in `io.quarkus.test.common.PathTestHelper#isTestClass` with a logic that looks for `QuarkusTest` annotation or similar.
If I cannot replace it, maybe adding it as an `OR` conditional? Either it is in the given folder or it is annotated with `QuarkusTest`? Let me know what you think, I would love to contribute that.

[2020-05-01 20:29] aloubyansky commented on #9017
Haven't yet looked deeper but with master I get a different error
[code]

[2020-05-01 21:26] roguexz commented on #9017
I have configured the build script to use only `mavenLocal` when working with the SNAPSHOT. That was because I had a different setup locally (with the VPN and internal repositories, etc.).

You will want to edit those inclusions in the build.gradle. Sorry about it.

[2020-05-01 21:36] aloubyansky commented on #9017
Sorry, haven't even looked into it as I had another issue on the list. Now that I tried it again I see the CCE in master as well.

[2020-05-01 21:57] #8977 closed

[2020-05-01 22:12] jmkgreen opened #9020 "[doc] [quarkis-test-amazon-lambda] Example missing required property"
**Describe the bug**
The example at https://quarkus.io/guides/amazon-lambda#integration-testing does not work when applied to an existing project.

**Expected behavior**
The test should run and complete.

**Actual behavior**
The test hangs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple Quarkus application
2. Add amazon-lambda dependencies, and add a unit test to exercise it

[2020-05-02 01:13] gastaldi commented on #4890
AFAIK you can run Quarkus in a random port by using:

[code]

[2020-05-02 05:28] maxandersen commented on #8981
#8706 seems faulty imo - why do we need to bundle gradle wrapper as custom embedded thing - why not just download it when needed ?

[2020-05-02 05:35] maxandersen commented on #8981
i.e. we are currently not able to generate a project for mvn wrapper either without having mvn installed.

this problem is better solved when we have a cli so you can generate both without installing any of them - and that would be done by downloading and setting up the wrappers manually at the time of generation.

[2020-05-02 07:15] gintsgints commented on #5523
Problem solved with latest Quarkus.

[2020-05-02 07:37] gintsgints commented on #5523
Sorry, it is solved partly.

When I debug test, I see panache object there and it has ID (seems like it is persisted).
Bet when I try to access ID of the object I get null value.

[2020-05-02 08:12] agoncal commented on #5259
Yes. Just tested with 1.4.1.Final and it works.

Thanks

[2020-05-02 08:12] #5259 closed

[2020-05-02 08:21] oleksiylukin commented on #8805
Quarkus websocket requires Udertow dependency as mandatory but with reactive approach we can use websocket implemented on top of pure Netty. This is more preferable then old-fashioned Websocket API.
Besides it, it could be good idea to explicitly expose Netty API to implement other communications protocols with  Quarkus

[2020-05-02 09:20] oztimpower commented on #8964
PR #9023 submitted to address this, appreciate if you could test it.

[2020-05-02 10:01] jaikiran commented on #8822
Looking at what really happens on that call to `DefaultChannelId.newInstance();`[1] (the call whose timing we track to report this warn message), the main intensive work seems to happen in the call to `defaultMachineId()` where it tries to find the best MAC address (by going through the available network interfaces) and creating a machine id out of it.
Perhaps we could just set the `io.netty.machi

[2020-05-02 10:11] jaikiran commented on #8822
The number of network interfaces on the system will also play a role here (looking at the above logic). Plus I'm not really sure that the current log message is accurate since this really isn't about how long it takes to resolve `localhost`, unless I missed something in that code.

[2020-05-02 10:59] serrodcal commented on #8974
I also tested with `-Dquarkus.native.container-runtime=docker` but It doesn't work either.

[2020-05-02 13:08] famod commented on #8822
That MAC thing is interesting! I always wondered whether there is more to it since adjusting `hosts` never made a difference on my Windows machine.

[2020-05-02 13:19] #9013 closed

[2020-05-02 13:48] hguerrero opened #9025 "Panache Paging does not support projections"
**Describe the bug**
When using projections or retrieve specific fields from a query using pagination the generated `count` query captures incorrectly the fields / projection. Hence, producing a malformed query that throws a hibernate query.

**Expected behavior**
Either capture correctly the fields / projection or use the `count(*)` for the count query.

**Actual behavior**
`org.jboss.resteasy.sp

[2020-05-02 16:34] famod commented on #8981
@michalszynkiewicz

Hm, the proxy in my company does _not_ require authentication. So I am not sure about the mentioned fix/workaround. Seems I have to try it out.

[2020-05-02 16:55] gsmet commented on #8981
The big difference is that most Maven developers have Maven installed and available while it's often not the case of the people using Gradle. We had several people complaining about that, thus the change.

[2020-05-02 19:23] dcdh commented on #5523
You can see ID value maybe because it has been processed from the debug panel when variable is watched.
I figure a look like issue: In beforeEach I truncate a table created in an injected service in a PostConstruct callback.
In major times, when I launch the test using maven in bash it fails because the PostConstruct has not been called before the BeforeEach.

[2020-05-02 20:38] adrianfiedler commented on #8913
@mkouba I added a new RuntimeConfiguration for phase RUN_TIME and tried to inject it directly into SimpleScheduler as you said. But somehow I only get Unsatisfied dependency errors. I see the builtime config is passing its values trough SchedulerContext. Should I do the same?

[2020-05-02 20:45] maxandersen commented on #8981
Yes @gsmet but we can still implement that by downloading at project creation time rather than during our build time is my point.

[2020-05-02 21:34] maxandersen commented on #8981
to be clear what I would do is do what is described in this blog but just in java rather than a shell script: http://blog.vorona.ca/init-gradle-wrapper-without-gradle.html

[2020-05-03 07:18] FreifeldRoyi commented on #6427
WOOHOO!
Thnx @cescoffier

[2020-05-03 08:49] belu commented on #5776
@kaenlupus Any progress on this?

[2020-05-03 09:18] kaenlupus commented on #5776
Unfortunately, no. We have to deal with other Kotlin stuff and support. Kotlin is still in  experimental phase. Trying to improve the support

[2020-05-03 10:11] Legion2 commented on #6427
Now I get `java.lang.IllegalArgumentException: Unknown channel computations` when calling `connector.sink("computations");` in the test.
I think the channels are configured and connected before the `@BeforeAll` is called and so the in-memory connector is not used.
Log output before `@BeforeAll` is called in a `@QuarkusTest`
[code]

You can see `INFO: AMQP broker configured to localhost:5672 for ch

[2020-05-03 11:59] cescoffier commented on #6427
It's still not integrated in Quarkus. I'm going to open the PR today.

[2020-05-03 12:01] cescoffier commented on #6427
You also need to switch the channel as indicated on https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/testing/testing.html.

[2020-05-03 12:17] Legion2 commented on #6427
I called `InMemoryConnector.switchOutgoingChannelsToInMemory("computations");` here is the source code: https://github.com/VirtualProgrammingLab/viplab-websocket-api/blob/test-parameters/websocket-api-impl/src/test/java/de/uni_stuttgart/tik/viplab/websocket_api/ComputationWebSocketTest.java#L60

[2020-05-03 12:30] cescoffier commented on #6427
Did you try from a Quarkus Test Resource, as `@BeforeAll` might be called after the application start?

[2020-05-03 12:51] manuelbl opened #9030 "NoClassDefFoundError for transitive dependency when using gradle quarkusDev"
**Describe the bug**
When running a Quarkus application in dev mode, `NoClassDefFoundError` occurs for a class that is provided by a transitive dependency, i.e. by a dependency not declared in `build.gradle` but required indirectly by a declared dependency.

The error does not occur when the application is built with `gradle quarkusBuild --uber-jar` and run with `java -jar build/build/trans-dep-1.

[2020-05-03 12:56] Legion2 commented on #6427
@cescoffier I don't know what you mean by "Quarkus Test Resource", I have a test class annotated with `@QuarkusTest` and a method annotated with `@BeforeAll` which switch to in memory connector and a method annotated with `@Test`. I stepped through the test with the debugger and  the `@BeforeAll` method is called but I think to late.

[2020-05-03 13:14] vsevel commented on #6717
@geoand hello, I have made some progress on the vault test instability, but do not have yet a resolution. I happened to reproduce it on my ubuntu 16.04 box, but not on macos, both with java8 in path.
the test fails because I cannot make a rest call to the vault container using okhttpclient (and not because the vault container is in a bad shape).
to investigate further, I implemented the rest call

[2020-05-03 13:49] geoand commented on #6717
@vsevel thank you very much for the thorough review.

Since we don't really have a good reason to depend on okhttp, I propose that we push to get #8885 in and not spend more time on okhttp.

[2020-05-03 14:26] vsevel commented on #6717
@geoand by the way, tests passed with java 11.

[2020-05-03 14:32] geoand commented on #6717
Yeah, our CI also only reported the issue in Java 8, so I think it doesn't make sense to invest too much time on figuring out the problem since okhttp isn't a hard dependency by any means,

[2020-05-03 20:19] marcinczeczko commented on #8982
Actually it is `quarkus.http.host = null`

[2020-05-03 20:56] marcinczeczko commented on #8982
I debugged the code and found out that `0.0.0.0` is because of that config default: https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java#L38

[2020-05-03 21:40] vietk opened #9033 "Quarkus-bom should manage smallrye reactive-messaging-api dependency"
**Description**
Smallrye reactive-messaging-api is not inside quarkus-bom, so I have to manage the dependency on my build.
However when smallrye-reactive-messaging extension switched to Smallrye reactive-messaging-api 2.0.1 with #8565, some of my integration test did not pass because I was still using the old version.

**Implementation ideas**
quarkus-bom should manage the smallrye-reactive-messag

[2020-05-03 21:49] fiorenzino opened #9035 "panache entity: support for annotation @OrderBy"
**Description**
In panache you can define the order for the list query using Sort.by() etc:
es MobilePhone.find("from MobilePhone", Sort.by(orderBy)

**Implementation ideas**
We could use @OrderBy("name desc") but it's impossibile to use jpa annotation at class level:
 @Target({ElementType.METHOD, ElementType.FIELD})

Some ideas:
- we could use at field level:

    @OrderBy // equivalent to  @Orde

[2020-05-03 22:08] fiorenzino opened #9036 "PanacheEntityBase: support for Hibernate @Filter"
**Description**
In panache you can use hibernate @Filter(). But to activate filters, you must:
- call the entity manager and unwrap to hibernate session
- enableFilter by name
- setParameter with name and value

**Implementation ideas**
We could add to 2 methods to enable a filter with parameter/parameters:

[code]
And a new method to find() using the filters (implemented at build time):
[code]

M

[2020-05-04 01:00] stuartwdouglas commented on #6515
I wrote a test for this and it passed for me locally: https://github.com/quarkusio/quarkus/pull/9037

Can you provide a reproducer?

[2020-05-04 02:15] stuartwdouglas commented on #8985
Yes, definitely. The fix is basically a hack and might cause other problems down the road.

[2020-05-04 03:48] stuartwdouglas commented on #8822
This seems like a good idea to me, although I am not sure what implications this will have. @vietj @cescoffier do you know how important the machine ID is?

[2020-05-04 04:03] stuartwdouglas commented on #8879
We can definitely optimise that.

Stuart

On Fri, 1 May 2020 at 19:06, Loïc Mathieu <notifications@github.com> wrote:

[2020-05-04 04:40] #6427 closed

[2020-05-04 05:24] mariofusco commented on #8694
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/94935385

[2020-05-04 05:59] cescoffier commented on #8822
If I remember correctly, it’s mostly used for clustering. I will check if it’s used somewhere else.

[2020-05-04 06:03] cescoffier commented on #8274
SmallRye Reactive Messaging 2.0.2 has been integrated.

[2020-05-04 06:03] #8274 closed

[2020-05-04 06:28] marceloverdijk commented on #9035
Yes I had the same idea before. Duplicate of https://github.com/quarkusio/quarkus/issues/6439

[2020-05-04 06:48] cescoffier commented on #6427
@Legion2 something like https://github.com/quarkusio/quarkus-quickstarts/blob/master/kafka-quickstart/src/test/java/org/acme/kafka/KafkaResource.java, but instead of starting a container, switch the channels.

[2020-05-04 07:14] loicmathieu commented on #5523
@gintsgints this is not the same issue.
Can you please open a new issue with a description and possibly a reproducer.
Can you also ping @dcdh when the issue is open so he can add his feedback on it.

As the issue with `This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?` in test case is fixed I close this one.

[2020-05-04 07:14] #5523 closed

[2020-05-04 07:27] geoand commented on #814
I wonder if we could also use this to make testing endpoints easier

[2020-05-04 07:29] harthorst opened #9039 "Merged quarkus-generated-openapi-doc does not contain @Parameter description of included modules"
**Describe the bug**
I have a multi module project with a structure like:
- ROOT
  - Module A
  - Module B
  - Module C

Module A and B are exposing APIs with method parameters annotated with
[code]
Module C has dependencies to A and B.

The Module-(A|B)-runner.jar contain the correct description in META-INF/quarkus-generated-openapi-doc.*
Module C's runner.jar builds a merged quarkus-generated-op

[2020-05-04 07:37] FroMage commented on #9035
Closing as duplicate of #6439.

[2020-05-04 07:37] #9035 closed

[2020-05-04 07:45] marceloverdijk commented on #9036
Thanks for reporting this.

For me it's still not clear how this `getEntityManager().unwrap(Session.class).enableFilter(filterName)` works (as I have no real experience with it).

Is it used on only the next query or all subsequent queries? Is it shared for the whole application?
What is a exception occurs between enabling a filter and executing a query?
Probably there has been thought about these

[2020-05-04 07:46] marceloverdijk commented on #8136
https://github.com/quarkusio/quarkus/issues/9036 provides some ideas to use HIbernate's @Filter mechanism as mentioned by @Sanne in this discussion: https://groups.google.com/forum/#!topic/quarkus-dev/fkj6VW4xV7Y

[2020-05-04 07:53] FroMage commented on #9036
I looked at the ORM filter docs, and it appears to me that this is really per-session, so not tied to any query, so we don't want to tie it to regular operations.

I would have said we could add the following methods in `PanacheEntityBase`:

[code]

Because most examples put filter definitions on entity types, but the `@FilterDef` annotation is also allowed on packages, in which case it's probably

[2020-05-04 07:58] marceloverdijk commented on #9036
But what does this mean exactly: `and it appears to me that this is really per-session, so not tied to any query` ?

[2020-05-04 08:07] gsmet commented on #9025
@hguerrero could you prepare a small Maven reproducer? Thanks!

[2020-05-04 08:09] cescoffier commented on #8822
I was confused and was referring to serverId. I don't believe `machineId` is used by Vert.x, it's a Netty thing.

[2020-05-04 08:13] FroMage commented on #2303
I like the conciseness of `path? = :param`, but it's indeed not ideal, because it sort of implies that the condition depends on the `path` propery being `null`, where it's really about the `:param`. This is what leads you to be afraid of people writing `firstname? = lastname?`.

I initially thought we could write `path ?= :param` and tie it to the operator, but we'd have to support every operator

[2020-05-04 08:17] FroMage commented on #9036
Yup. This is a `Session` API in ORM.

[2020-05-04 08:18] FroMage commented on #9036
It will apply to the entire transaction/request, that's what it means. You can't enable/disable it for a single query.

[2020-05-04 08:21] iocanel commented on #8554
@murphye: The issue I am having with `[ { }, { } ]` is getting `kubectl` to work with it.

For example, the JSON below [1] is valid, acceptable by both IDEA and other editors, yet `kubectl` and `oc` don't like it.

The options are the following:
1. Leave it as is.
2. Wrap the resources in a KubernetesList so that it's both valid JSON and acceptable by exiting tools.
3. Use a different approach tha

[2020-05-04 08:24] gsmet commented on #9039
/cc @MikeEdgar @phillip-kruger @kenfinnigan

[2020-05-04 08:38] loicmathieu commented on #2303
I do like the proposal of @FromMage to put the optional caracteristic of a predicate on the operator and not the field path, this better describe what is an optional predicate: a variant of an existing predicate.
With this, the implementation will be more straightforward, and the intent clearer inside the query.

The issue is on the implementation side.

Ideally we should be able to work on the AS

[2020-05-04 08:41] andrzejszywala opened #9286 "Add support for the SameSite cookie attribute"
In undertow sources i saw that there is implemented SameSiteCookieHandler. Please add this same functionality to quarkus

[2020-05-04 08:56] marceloverdijk commented on #9036
Yes I was afraid so... personally I need something per query.

[2020-05-04 09:18] andreas-eberle commented on #8274
I just built the current master and it seems to work. Thx @cescoffier for the fix. Is there an approximate date for Quarkus 1.4.2 already?

[2020-05-04 09:20] cescoffier commented on #8274
Tomorrow if I recall correctly.

[2020-05-04 09:20] cescoffier commented on #6427
@Legion2 something like:
[code]

[2020-05-04 09:29] mkouba commented on #8960
Like modifying all the methods of a bean class? And if a mock exists then delegate to this mock instead of executing the method body? That could work. On the other hand, such a change looks quite "invasive".

[2020-05-04 09:38] stuartwdouglas commented on #8960
It's only for tests

On Mon, 4 May 2020, 7:29 pm Martin Kouba, <notifications@github.com> wrote:

[2020-05-04 09:43] geoand commented on #8960
That should work. I am +1.

There is only a one case I can think of were mockito would still complain:
When the implementation of a bean is a dynamic proxy, we still won't be able to pass it to mockito. That shouldn't be too much of a problem.

[2020-05-04 10:10] jaikiran commented on #8822
This javadoc from Netty has some information https://netty.io/4.1/api/io/netty/channel/ChannelId.html. From what I read there, I think it's OK to set the value to what's proposed above, especially since that javadoc says:

[code]
I'll come up with a PR with this proposed change and let's see how it goes.

[2020-05-04 10:28] MikeEdgar commented on #9039
@harthorst - is any other information missing in module C or is `@Parameter` simply the only annotation that is being used?

[2020-05-04 10:32] blsouthr commented on #8742
@loicmathieu I've implemented overriding of additional fields by extending JBoss7GelfLogHandler and overriding createGelfMessage method. Based on config it can then put additional values only for configured loggers
E.g.

`quarkus.log.handler.gelf.additional-filter."com.comp.SomeClass".fieldname.value=fieldvalue`

It works for me, but I guess, you'd probably want to change config format

See [gelf.

[2020-05-04 10:40] loicmathieu commented on #8742
@blsouthr MDC is a standard logging mechanism, could it be used if we expose them ?

[2020-05-04 11:07] harthorst commented on #9039
@MikeEdgar - as far as I know there is nothing else missing.

[2020-05-04 11:13] blsouthr commented on #8742
@loicmathieu I don't think so. Or, I don't know how MDC could help to achieve what I want

[2020-05-04 11:16] manusa commented on #8946
We just released https://github.com/fabric8io/kubernetes-client/releases/tag/v4.10.0

[Warning](https://github.com/fabric8io/kubernetes-client/blob/509a2e857353c1586373b09d90ab2c167febbd64/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L476) should be visible in this new version.

[2020-05-04 11:21] geoand commented on #8946
Excellent!

[2020-05-04 11:28] Legion2 commented on #6427
@cescoffier Thanks the test now works with the QuarkusTestResource.

[2020-05-04 11:47] #8168 closed

[2020-05-04 11:53] #9033 closed

[2020-05-04 12:28] mkouba commented on #8913
@adrianfiedler this should work and it's a preferred solution. I'll add some comments to your PR.

[2020-05-04 12:30] gsmet opened #9045 "Extend substantially test suite for Maven and Gradle tooling"
Right now, things are too brittle, especially on the Gradle side.

[2020-05-04 12:37] mkouba commented on #8913
@adrianfiedler it would be great if you could share the version with config root injection so that we could investigate the unsatisfied dependency errors.

[2020-05-04 12:39] maxandersen opened #9046 "Improve gradle and maven test harness to give us more release confidence"
Some issues have been discovered after or shortly before a release. And they were related to our Gradle test harness (and Maven too). Especially, the Gradle side is not complete enough to inspire confidence. we need @gsmet to be say 80% confident (you can't reach 100% with this model :D )

Now some needs to figure out a set of concrete actions (list of tests?). We need tis issue to be actionable.

[2020-05-04 13:03] rousseau-christopher opened #9047 "Logging access log with native dont work."
**Describe the bug**
We can activate access log by setting property quarkus.http.access-log.enabled to true
When access-log is enabled. it work fine with jvm, but failed in native

**Expected behavior (jvm output)**
[code]

**Actual behavior (native output)**
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. create a web project
2. activate the access log : quarkus.http.access-log.enable

[2020-05-04 13:21] mkouba commented on #8960
Yes, I know. My point is that the bigger the difference between the test and the prod environment is the bigger chance for unpredictable bugs. But that's a general problem with mocking ;-)

Ehm, what is it?

[2020-05-04 13:39] HonoluluHenk opened #9049 "NPE when injecting EntityManager/EntityManagerFactory into ObjectMapperCustomizer"
**Describe the bug**
I implemented the Jackson [ObjectMapperCustomizer](https://quarkus.io/guides/rest-json#configuring-json-support) and tried to @Inject the Hibernate EntityManager or EntityManagerFactory.
On quarkus:dev startup, a NullPointerException gets thrown:

[code]

**Expected behavior**
Application should start, EM/EMF should get injected.

**Actual behavior**
NPE, see description

**To

[2020-05-04 13:50] machi1990 commented on #9049
/cc @gsmet @geoand

[2020-05-04 14:00] debae commented on #8950
Looks like this is a duplicate of https://github.com/quarkusio/quarkus/issues/8737

[2020-05-04 14:14] AlexLi-Monster commented on #8872
Hi @gsmet and @glefloch,

I guess the fix would be in 1.4.2.Final as I am seeing the same issue in 1.4.1.Final, wondering is there a snapshot I can test against?

I tried using:
```implementation(enforcedPlatform("io.quarkus:quarkus-bom:999-SNAPSHOT"))```
but cannot find that in maven repository.

Thanks for your help in advance.

[2020-05-04 14:17] gsmet commented on #7609
So we removed the mention of the other property because it's not there anymore. But you're right, we don't discuss at all what you need to configure to connect to a Kafka server.

Could you open an issue?

[2020-05-04 14:26] andreas-eberle opened #9050 "@Produces fails for classes without default constructor"
**Describe the bug**
I want to create a bean of a class that has no default constructor and requires some properties to be injected into it. However, since it isn't prepared for CDI, I create a producer class and method to create it with the appropriate values for the properties.

With Quarkus dev, this works just fine. However, when I build the code with `gradlew build` and let it run in a docker

[2020-05-04 14:31] gsmet commented on #8872
I added some information here: https://github.com/quarkusio/quarkus/pull/9051/files .

They are for Maven but the snapshot repo information should be good for Gradle too!

[2020-05-04 14:37] geoand commented on #9049
Unfortunately this can't reall work as expected due to timing issues.

What exactly are you trying to do? Asking because it might be something we can do inside the Jackson extension (by providing optional integration with the hibernate extension).

[2020-05-04 14:37] gsmet commented on #8035
@stuartwdouglas said https://github.com/quarkusio/quarkus/pull/8998 might fix that one.

[2020-05-04 14:37] #8035 closed

[2020-05-04 14:38] danielpetisme opened #9052 "Paging for JAX-RS"
**Description**
The aim of this feature is to provide Pagingsupport over JAX-RS.

Note: I'm not aware of any "JAX-RS/Resteasy" pagination lib yet pagination is a common recommendation when designing a REST API.

This feature would provide (name are proposals)
* a `PageRequest` class capturing the pagination information coming from the request (the norm would be query parameters but we can imagine

[2020-05-04 14:44] gsmet commented on #8957
https://github.com/quarkusio/quarkus/pull/9043

[2020-05-04 14:44] #8957 closed

[2020-05-04 14:46] gsmet commented on #8858
Or you can just attach a zip to a comment :).

[2020-05-04 14:47] gsmet commented on #8798
I removed the backport tag and marked it for 1.5.0 so that we don't forget about it.

[2020-05-04 14:48] gsmet commented on #8795
@FroMage could you have a look at the reproducer? This looks like a serious issue.

Thanks!

[2020-05-04 14:51] tpenakov commented on #8478
I've upgraded to 1.4.1 and still does not works for me.
You can try to run the initial test project (updated to 1.4.1.Final). It freezes after the line:
[code]

[2020-05-04 14:55] geoand commented on #8798
Good idea. This needs a new dekorate release to be properly fixed

[2020-05-04 14:55] tpenakov commented on #8464
Seems to work fine.
Thank you!

[2020-05-04 14:55] smatijasevic opened #9053 "access etcd with grpc client and quarkus 1.4.1"
**Describe the bug**
I am trying to build etcd client with Quarkus 1,4,1. Currently, the client can read KeyValue items from etcd via grpc but only in JVM mode. When I try to build in the native app (using GraalVM graalvm-ce-java-11-20.0.0) I get some exceptions.
Do you have some advice about how to compile it to native?

Part of the stack trace:
Caused by: com.oracle.graal.pointsto.constraints.Un

[2020-05-04 14:57] gsmet commented on #9053
/cc @cescoffier as it's about gRPC.

[2020-05-04 15:01] #8984 closed

[2020-05-04 15:12] tpenakov opened #9054 "Keycloak Claim Information Point - timeout after trying to read the body for the second time - 1.4.1.Final"
Previous issues related to this one: #5959 and #8478
Now instead of NPE - the timeout error is present.

When you try to read body through Claim Information Point the result is `java.io.IOException: Read timeout`.

When you add the following to your application.properties file:

`quarkus.keycloak.policy-enforcer.claim-information-point.claims.claim-from-body={request.body}`

And execute the post r

[2020-05-04 15:13] sberyozkin commented on #9052
Atom format (with the next/prev link properties) is still understood by the blog readers, not sure about `Link` headers

[2020-05-04 15:15] Sanne commented on #9036
Yes the existing ORM API is tied to the Session, but what I'm suggesting is to have something that gives a similar experience in Panache - tied to a query.

In terms of implementation, the `Filter` API is applied on the Session just to make it easy to apply them on any Session method - not just queries. Panache could very easily enable the filter, run the query, disable the filter.

@FroMage WDYT?

[2020-05-04 15:33] danielpetisme opened #9055 "Lack of Spring `org.springframework.web.server.ResponseStatusException`"
**Describe the bug**
Spring proposes the `ResponseStatusException` to handle java exception in an HTTP-friendly manner.

When migrating to Quarkus, this class is not provided by the `quarkus-spring-web` compatibility extension.

**Expected behavior**
Being able to reuse a spring controller with the minimum of change

**Actual behavior**
The code does not compile until replacing Spring `ResponseSta

[2020-05-04 15:33] danielpetisme commented on #9055
Ping @geoand

[2020-05-04 15:37] geoand commented on #9055
Excellent, thanks for reporting. I'll take care of it for 1.5 (baring any unforeseen circumstances)

[2020-05-04 15:38] k0l0ssus commented on #6515
Absolutely @stuartwdouglas ! Thanks for sorting this out!

[2020-05-04 15:59] FroMage commented on #9036
I can do that, but I strongly suspect that this won't work with lazy-loading, right? I assume the filter being on the session is also meant for stuff that later gets lazy-loaded.

[2020-05-04 16:30] Sanne commented on #9036
What is your concern? Since we don't want filters to impact anything beyond the query itself, it seems ok to disable them right away - so they won't filter lazy loaded objects since by definition they are loaded in a deferred way.

[2020-05-04 16:35] sberyozkin opened #9057 "Keycloak authorization: issue with the scopes and permissions"
**Describe the bug**
See the Stack Overflow question: https://stackoverflow.com/questions/61460458/quarkus-with-keycloak-scopes-and-permissions

[2020-05-04 16:46] lordofthejars opened #9058 "KStreams extension does not support configure it in code"
**Describe the bug**

KStreams extension does not support configure in code as if you try to configure KStreams programmatically, you get:

[code]
**Expected behavior**

To be able to configure kstreams programmatically.
Really critical for command line mode.

**Actual behavior**

An exception is thrown.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a plain project with kstreams ex

[2020-05-04 16:57] thankthemaker opened #9059 "Using OpenCensus with Quarkus produces NullPointerException in native image"
**Bug Description**
Using OpenCensus 0.26 with Quarkus 1.4.1.Final in native image produces a NullPointerException when using the io.opencensus.trace.Tracer.

**Expected behavior**
The Tracing should work.

**Actual behavior**
Using OpenCensus 0.26 with Quarkus 1.4.1.Final in native image produces a NullPointerException when using the io.opencensus.trace.Tracer.

`2020-05-04 18:40:27,175 ERROR [co

[2020-05-04 17:20] hguerrero commented on #9025
Here is a sample project.

If you retrieve /fruits/works (no call to page count) it works
If you request /fruits/fail crashes when trying to get the pageCount() as there the regex used is not correctly capturing the query.

[panache-projection.zip](https://github.com/quarkusio/quarkus/files/4576130/panache-projection.zip)

[2020-05-04 17:42] cescoffier commented on #9053
Can you post your application properties? I don't understand why it tries to load `tcnative`, it should use the ALPN support provided by Java.

[2020-05-04 17:42] geoand commented on #9055
#9061 should take care of it.

[2020-05-04 17:45] geoand commented on #9059
We don't have an OpenCensus extension, so I would say that things like this would be expected.

However it would be nice to see a contribution in this area.

[2020-05-04 17:45] geoand commented on #9058
cc @gunnarmorling

[2020-05-04 17:46] cescoffier commented on #9053
If you could provide a reproducer it would be awesome!

I just check the Netty code, and it seems  to be able to load `io.netty.internal.tcnative.SSL` while it shouldn't...

[2020-05-04 17:55] #6807 closed

[2020-05-04 18:05] pedroigor commented on #8064
@BigFatDog Could you try setting `quarkus.keycloak.policy-enforcer.lazy-load-paths=true`. See https://quarkus.io/guides/security-keycloak-authorization#mapping-protected-resources.

It should make the policy enforcer to not load resources during startup and avoid going to the server to get a reference to the public path.

[2020-05-04 18:20] marceloverdijk commented on #9036
@Sanne

I don't know the internals but what about possible concurrency issues?

[2020-05-04 18:24] antoniomacri opened #9063 "Kafka health check, mention bootstrap.servers in doc"
In the health check section on the Kafka doc (https://quarkus.io/guides/kafka#kafka-health-check) please specify the need to set kafka.bootstrap.servers (and any other configuration option needed to connect to a kafka server). There is a mention only in the all-config page (under quarkus.kafka.health.enabled).

[2020-05-04 18:25] antoniomacri commented on #7609
Done. #9063

[2020-05-04 18:28] oscarfh commented on #8950
@debae Hi, no, because I run it using gradle, not Intellij.
#8737 is a known problem when running the test using intellij. While my ticket is about accepting that tests might be in other paths than the ones hardcoded in `io.quarkus.test.common.PathTestHelper`

[2020-05-04 18:31] gunnarmorling commented on #9058
@lordofthejars, why is it you need to start Kafka Streams programmatically?

[2020-05-04 18:47] Nunalves opened #9064 "Add support for multiple SMTP servers to quarkus-mailer"
**Description**
When using the `quarkus-mailer` extension it is only possible to setup a single SMTP server configuration. In a SaaS context clients usually want to use their own STMP server.

**Implementation ideas**
I think the approach could be the same as with datasources. Where you can have multiple datasources configured and then specify a qualifier when injecting it (https://quarkus.io/guid

[2020-05-04 18:48] ebramirez commented on #8950
I get the same error and I'm not using IntelliJ, so it looks like the same problem.

[2020-05-04 19:06] lordofthejars commented on #9058
Command line application where user set the information as argument. CLI tool.

[2020-05-04 19:41] knutwannheden opened #9066 "Arguments for QuarkusTestResource"
**Description**
We use `@QuarkusTestResource` to start databases using Testcontainers, which works very nicely. It would be nice if the `@QuarkusTestResource` annotation allowed passing arguments to the `QuarkusTestResourceLifecycleManager`; e.g. to allow specifying the tag for the Docker container image.

[2020-05-04 19:48] jeremyrdavis commented on #6130
I believe the OpenShift Operator requires SSL for external connections

[2020-05-04 20:49] fiorenzino commented on #6439
It's really common to define a default order for single db table view (using rest api) and offering to the web user a way to change the field to re-order (also with asc or desc).
A visual use case:
https://primefaces.org/primeng/showcase/#/table/sort
When you load the data for the first time, the order could be a developer choice.

My +1 for:
@DefaultOrderBy("lastname asc, firstname desc") at clas

[2020-05-04 20:58] gsmet commented on #2751
Yes it can be closed. The new datasource config solved the issue.

[2020-05-04 20:58] #2751 closed

[2020-05-04 21:03] gsmet commented on #9064
@Nunalves let us a few days to revisit the multiple datasource code as we might be able to simplify it with the new Quarkus developments. If it's the case, it will be a good source of inspiration if you want to contribute the multiple SMTP support.

Provided @cescoffier is OK this is a good feature request.

/cc @geoand

[2020-05-04 21:17] gsmet commented on #8941
@marceloverdijk can you give it another try with master? Everything should be OK now, we updated to ASM 8 and newest ByteBuddy.

[2020-05-04 21:19] gsmet commented on #8670
@arvidvillen any chance you could try with our latest master?

[2020-05-04 21:20] gsmet commented on #8802
Should we try to target 1.5 for that one? We have quite a lot of people trying Java records.

[2020-05-04 21:39] fiorenzino commented on #9036
If i use a @Singleton Resource (SessionVerificationRs), and @inject EntityManager,
the enabling of filter is for rest request (In the same request, you can disable the filter - to reset him - you can call:
[code]
But at next rest request, the filtering is not present.
Is not sufficient for you @marceloverdijk?

My example code:

[code]
@FroMage @Sanne if you decide to add some method to enable fil

[2020-05-04 21:54] oscarfh opened #9068 "Uberjar does not include add dependencies"
**Describe the bug**
[This](https://github.com/oscarfh/code-with-quarkus) is a project created from code.quarkus.io and configured to generate a uber jar and to use `com.google.common.base.Strings` class.
It will work if ran from maven (`./mvn quarkus:dev`), but not from the uber jar (`java -jar ...`) due to a missing dependency (the above mentioned class)

**Expected behavior**
Both should run.

[2020-05-04 21:55] oscarfh commented on #8950
[This line](https://github.com/quarkusio/quarkus/blob/f772aa1de07c067b44b4a52cbac3a1ab1a252515/test-framework/common/src/main/java/io/quarkus/test/common/PathTestHelper.java#L73) explicitly fails if the class is not in the hardcoded folders.

[2020-05-04 22:58] maxandersen commented on #8871
@dmlloyd @stuartwdouglas comments/alternatives to this ?

[2020-05-04 23:10] dmlloyd commented on #8871
We should not use profiles for CLI IMO.  It is orthogonal to the original use case for profiles.

[2020-05-04 23:23] maxandersen commented on #8871
@dmlloyd what would be used instead ? if not profiles then only option (I see) is a separate module which is just overkill (see above amount of junk that adds).

Also, its not just for command mode/cli. see comment about deployment variations.

[2020-05-05 01:10] AlexLi-Monster commented on #8872
Thanks @gsmet for the guide, the fix addresses my issue.

Cheers.

[2020-05-05 02:12] fabiojapa opened #9076 "Proposal to implement a RabbitMQ extension via MicroProfile Reactive Messaging"
Offer a RabitMQ integration. Please Thumbs up if interested. And consider volunteering for a contribution if really interested :D
---
[was]
Are you working on a extension to connect to rabbitMQ?

[2020-05-05 02:40] mageddo commented on #2143
Still doesn't works for me, [see an example](https://github.com/mageddo/java-examples/tree/f005b74/quarkus/quarkus-manual-main-lifecycle). Tested on Intellij 2019.3

Looks like it's related to Intellij's [output path](https://github.com/quarkusio/quarkus/issues/8737)

[code]

[2020-05-05 03:06] stuartwdouglas opened #9070 "Changing pom file in dev mode can result in changes not being applied"
If you change the pom file in dev mode the process is restarted, but if you had made changed to the source and not refreshed the browser these changes will not be applied until you touch the relevant files. This has bitten me on live demos.

[2020-05-05 04:45] thankthemaker commented on #9059
Ok, I also tried to build it as an extension. I get exactly the same error when using the extension in my Quarkus application. What am I doing wrong?

[2020-05-05 04:53] geoand commented on #9059
If you want to build an extension for OpenCensus, I propose you read:

https://quarkus.io/guides/writing-extensions
https://quarkus.io/guides/writing-native-applications-tips

[2020-05-05 04:55] michael-schnell commented on #2143
Weird... I'm using Eclipse, there it works fine.

[2020-05-05 05:04] thankthemaker commented on #9059
I already read both guides before opening the issue and tried to implement an extension based on the information of the guides. I'll try to provide you my code.

[2020-05-05 05:10] geoand commented on #8941
I just tried this with `master` and now the application starts.

So I'm going to mark as fixed by https://github.com/quarkusio/quarkus/pull/9042.

Feel free to open another issue if you encounter problems with records.

[2020-05-05 05:10] #8941 closed

[2020-05-05 05:19] geoand commented on #6588
I reproduced the latest failure, https://github.com/quarkusio/quarkus-quickstarts/pull/555 should fix it

[2020-05-05 05:24] geoand commented on #8670
I tried this, and it works if you do:

[code]

Note that the command above works for both `master` and `1.4.0.CR1` which the project uses.

[2020-05-05 05:24] #8670 closed

[2020-05-05 05:28] geoand commented on #8802
So there isn't much we can do about the necessity of setting `MAVEN_OPTS="--enable-preview"`.

Since Quarkus does a lot of stuff at build time and some extensions might need to load classes from the build classpath, the process that runs the build (which is the Maven process), needs to have the flag `--enable-preview` enabled.

@gsmet Perhaps that is something we need to add to one of the guides?

[2020-05-05 05:32] geoand commented on #9066
This is an interesting idea. I assume the arguments would just be an object array that the author of the resource would have to handle, right?

[2020-05-05 05:40] #8832 closed

[2020-05-05 05:40] #8899 closed

[2020-05-05 05:40] geoand commented on #8593
Should be fixed by https://github.com/quarkusio/quarkus-platform/pull/65

[2020-05-05 05:41] mariofusco commented on #8694
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/95840973

[2020-05-05 05:42] #8964 closed

[2020-05-05 05:44] geoand commented on #9068
I don't think this is a bug TBH. You haven't added Guava to your `pom.xml`, so it most certainly does not end up in the built jar.

[2020-05-05 05:49] marceloverdijk commented on #8941
Thx!

[2020-05-05 06:00] geoand commented on #8941
:+1:

[2020-05-05 06:03] cescoffier commented on #9064
I never thought we would need multiple SMTP :-)

[2020-05-05 06:24] thankthemaker commented on #9059
So, I pushed my example extension and an example project to github. I hope this helps to give me a hint how to solve the NullPointerException

- Quarkus-Extension: https://github.com/thankthemaker/quarkus-opencensus-extension

- Example-App: https://github.com/thankthemaker/opencensus-example

Steps to reproduce:

1. Clone the extension (git clone https://github.com/thankthemaker/quarkus-opencensu

[2020-05-05 06:46] geoand commented on #9059
Just by eye-balling the disruptor code it it's not evident what the problem could be. This would likely require some serious analysis and perhaps some upstream changes.

[2020-05-05 06:52] gunnarmorling commented on #9058
Hum, and there's no application.properties in CLI mode? Why not?

[2020-05-05 06:56] thankthemaker commented on #9059
Could you expand on the Warning during the native image build I posted in the initial comment? For me it looks like the native image build the GraalVM can't handle whatever the RingBuffer stuff does.

I saw there's also a opencensus-impl-lite library. I'll give this a try.

[2020-05-05 06:57] lordofthejars commented on #9058
there is, but I want to do a CLI tool: `my-tool -b broker-host -t my_topic`

[2020-05-05 07:00] gunnarmorling commented on #9058
Ok, but then you could have application.properties in your CLI tool JAR.
What am I missing?

[2020-05-05 07:13] geoand commented on #9059
It looks like `RingBuffer` is doing some stuff with `sun.misc.Unsafe`: https://github.com/LMAX-Exchange/disruptor/blob/master/src/main/java/com/lmax/disruptor/RingBuffer.java#L38

IIRC, Netty did similar things, and we have a whole bunch of GraalVM substitutions for that to work. See https://github.com/quarkusio/quarkus/blob/c4c8b6048b922a0873d4e4f77bcc2c0d96325a24/extensions/netty/runtime/src/mai

[2020-05-05 07:15] lordofthejars commented on #9058
that if it is a CLI tool I don't want that the user needs to edit an
external file. Imagine that to do an ls -ll I should edit
application.properties and add that I want to use -ll. Or in oc login
--token I should create an application.properties file setting the token.
It has not much sense for a CLI tool.

Missatge de Gunnar Morling <notifications@github.com> del dia dt., 5 de
maig 2020 a les 9:

[2020-05-05 07:17] geoand commented on #9058
@lordofthejars as a workaround can't you set properties with `-Dquarkus.kafka-streams.topics=whatever`?

[2020-05-05 07:22] thankthemaker commented on #9059
Cool, thanks for the hint. I will have a look at that, never dealed with substitutions before.

[2020-05-05 07:26] lordofthejars commented on #9058
Yes I can do it but it is this, just a workaround, if you think about in
terms of developer experience is not great. Maybe adding a flag that
disables the configuration validation might be the best option so this is
set internally in the CLI tool.

Notice that this is going to be a problem in more extensions.

Missatge de Georgios Andrianakis <notifications@github.com> del dia dt., 5
de maig 2020

[2020-05-05 07:27] geoand commented on #9058
Yes, it's definitely a more general problem that we needto think about.

cc @maxandersen

[2020-05-05 07:27] geoand commented on #9059
Our netty extension probably does the most complicated substitutions, so it should be a great place to get inspiration from.

[2020-05-05 07:32] bwoester commented on #6318
Is this still on your todo list?

It's pretty much what I was looking for, but in a slightly different context. I'm trying to stream SSEs, which works with `org.reactivestreams.Publisher` and `io.smallrye.mutiny.Multi`, but not with `io.reactivex.Flowable`.

Tested resource:

[code]

Opening `http://localhost:8080/streams/endlessTimestampsFlowable` in the browser results in

[code]

I think being

[2020-05-05 07:36] thankthemaker commented on #9059
I'm already looking at the netty-extension. Not quite easy to understand if you're new to GraalVM sustitutions and even sun.misc.Unsafe. Seems I'll first have to do some homework  ;-)

[2020-05-05 07:38] geoand commented on #9059
Make sure to also re-read the links I added above as you go through the code, because a lot of that stuff doesn't make much sense until you actually see it in action :wink:

[2020-05-05 07:41] thankthemaker commented on #9059
Ok, I'll do so. Thanks!

[2020-05-05 07:42] geoand commented on #5709
https://github.com/quarkusio/quarkus/issues/9076 asks about RabbitMQ

[2020-05-05 07:43] gunnarmorling commented on #9058
I don't think that's the right approach. Rather have a way for populating Quarkus properties from more idiomatic CLI arguments than "-D=..."; you still should boostrap Kafka Streams via the extension.

[2020-05-05 07:44] geoand commented on #9059
Sure thing!

[2020-05-05 07:47] FroMage commented on #8795
Yeah, I was finally able to find where it's coming from. Working on a fix in RESTEasy.

[2020-05-05 07:58] knutwannheden commented on #9066
Yes, possibly the arguments would just be strings and need to be deserialized as appropriate by the `QuarkusTestResourceLifecycleManager` implementation. Usage would be something like `@QuarkusTestResource(Foo.class, args="a")` or `@QuarkusTestResource(Foo.class, args={"a","b"})`.

I suppose there could be a new corresponding (default) `QuarkusTestResourceLifecycleManager#init(String...)` method w

[2020-05-05 08:03] geoand commented on #9066
Hm... I think that `Object[]` as a type for arguments would be more general, as I can definitely see this being passed in int for example.

Yes, we would definitely need to preserve backward compatibility so a new `default` method would be the way to go.

I like this idea, @stuartwdouglas WDYT? If you think it's worth it, I'll go ahead and get it done.

[2020-05-05 08:10] stuartwdouglas commented on #6498
This is present in Quarkus.waitForExit and Quarkus.asyncExit

[2020-05-05 08:10] #6498 closed

[2020-05-05 08:20] sberyozkin commented on #8851
Fixed for 1.5.0, thanks

[2020-05-05 08:20] #8851 closed

[2020-05-05 08:21] sberyozkin commented on #8985
Sorry for the noise, I accidentally closed it by merging the unrelated PR

[2020-05-05 08:22] Sanne commented on #9036
It's not a legal use case to use a single Session concurrently; we'll most likely detect it and throw an exception.

[2020-05-05 08:32] FroMage commented on #9036
Well hold on, then it's not even a case of wanting to put it as a method on the entity vs global. You seem to imply it should be for a single query.

But given that it's enabled on the session, it sounds dangerous because query operations can be done outside the scope of the operation that retreived them, such as not just lazy loading but also `stream()` or (very soon) reactive queries.

If we ass

[2020-05-05 08:48] Sanne commented on #9036
That is a good point, but I don't think it will be a problem: what matters is if the filter was enabled (or not) when the select criteria is being rendered. Even if you're streaming results, it's sent only once to the DB when the resultset is being created.

I think the API is fine as it is, as it can be used for many other cool uses *as well*.
For example:
 - you can restrict the data the logged-

[2020-05-05 08:54] FroMage commented on #8795
Logged at https://issues.redhat.com/projects/RESTEASY/issues/RESTEASY-2573

[2020-05-05 09:00] FroMage commented on #9036
OK, in that case I believe it's fine. I thought it would be much more dangerous.

OK, now I understand it really serves more than single queries. So we actually need two APIs, right? One for turning this on for a single query, and another for turning it on globally.

Now questions:

- If I put the global `enableFilter` on the entity, we're going to not be able to enable filters declared on package

[2020-05-05 09:02] bwoester commented on #6318
For what it's worth, I also tried to consume the SSEs, but that doesn't seem to be working.

Extracted interface:

[code]

And using it on startup:

[code]

Summarized:
- I didn't consume `Flowable<OffsetDateTime>` because I already know it can't be delivered by the server
- Trying to consume `org.reactivestreams.Publisher<OffsetDateTime>`  or `Multi<OffsetDateTime>`  both result in a `javax.ws.rs

[2020-05-05 09:07] thankthemaker commented on #9059
Ok, I implemented two substitutions like you guys did in the netty extension...

[code]

Now I'm facing this error.

[code]

Any hints on what I've to do to substitute the static fields? What am I doing wrong?

[2020-05-05 09:11] albert0815 opened #9081 "Panache MongoDB - Use collation in find"
**Description**
It is not possible to define a collation when executing a find with the MongoDB PanacheQuery. We want to implement filtering and sorting and apply a collation to be able to enable e.g. find case insensitive.

**Implementation ideas**
In the Zulip chat Loïc MATHIEU suggested to provide something like:

[code]

This would serve our needs.

[2020-05-05 09:13] FroMage commented on #8795
Fix is at https://github.com/resteasy/Resteasy/pull/2383

[2020-05-05 09:16] geoand commented on #9066
In any case, https://github.com/quarkusio/quarkus/pull/9082 should do the trick

[2020-05-05 09:23] geoand commented on #9059
Doesn't ring a bell. @dmlloyd or @cescoffier perhaps?

[2020-05-05 09:23] stgiaf commented on #8858
Hello @jaikiran ,
I haveant event noticed that you may attach files in comments. The application is attached.

When an sse clients connects a ping is sent every 3 seconds.
When you disconnect the client, you will notice that there is an excpetion that is not catched by the exceptionally() of the completionStage and the isCLosed() remains false.

[sse-demo-quarkus.zip](https://github.com/quarkusio/

[2020-05-05 09:27] knutwannheden commented on #9066
Very nice! What are your thoughts on an additional `Object testInstance` parameter passed to `init()`? I don't have a usecase for this yet. I was just thinking this could be useful if the `QuarkusTestResourceLifecycleManager` instance would like to check for the presence of some other annotation on the test.

[2020-05-05 09:30] geoand commented on #9066
Unfortunately we can't do that (yet), because a `QuarkusTestResourceLifecycleManager` runs before all tests, so it's not really bound to a specific test.

Which actually makes me think that #9082 needs to be updated to reflect that as well - basically we need to ensure that we don't have conflicting args.

[2020-05-05 09:48] loicmathieu commented on #8985
@sberyozkin no, in fact it is already closed by another merged PR ;)

[2020-05-05 09:48] #8985 closed

[2020-05-05 10:06] michalszynkiewicz opened #9083 "Bump Keycloak to 9.0.3"
requires backport to 1.3

[2020-05-05 10:11] emmanuelbernard commented on #2303
What about

` "name = optional(?1) or status = optional( :status )"`

It is more verbose but very clear.

[2020-05-05 10:29] famod commented on #9066
The idea with the `testInstance` reminds me of a discussion we had on Zulip:
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/QuarkusTest.20.2B.20WireMock.20.2B.20dynamic.20port/near/193014573

Which in turn reminds me to check that "Test improvement ideas email thread in quarkus-dev mailing list"...

[2020-05-05 10:36] emmanuelbernard commented on #9046
What’s the goal of this issue? I’m not sure continuously do better X brings value as an issue. I must be missing something.

[2020-05-05 10:48] tomekl007 commented on #7876
Hello, we are in the process of creating documentation for our extension.
(https://github.com/datastax/cassandra-quarkus/pull/9)
We were able to generate the docs that look like yours but we are unable to generate config documentation.
We would like to generate the config and add it to docs, similar to:
https://quarkus.io/guides/mongodb#configuration-reference
I see that you are using the:
[code]

[2020-05-05 10:51] gsmet commented on #7876
Interesting request. We haven't really thought about this.

/cc @machi1990

[2020-05-05 10:55] svinther opened #9085 "Config option for forcing https as oidc redirect_uri scheme"
**Description**
When Quarkus is running behind a ssl terminating reverse proxy, e.g nginx-ingress Quarkus generates the oidc redirect_uri with http:// scheme, but it should be https://

**Implementation ideas**

Property for specifying redirect_uri scheme, e.g

    quarkus.oidc.authentication.redirect_uri-force-https

[2020-05-05 11:06] maxandersen commented on #9058
somewhat related discussion is at https://github.com/quarkusio/quarkus/issues/8871
and then https://github.com/quarkusio/quarkus/issues/6497 feature request which is pending.

not sure if that will fix your issue though @lordofthejars as I assume you might want to expose a simpler/more human friendly "api" to the user instead of setting 'raw' properties ?

[2020-05-05 11:10] cescoffier commented on #9059
Is the code trying to access to the substituted fields using Unsafe?

[2020-05-05 11:10] lordofthejars commented on #9058
@maxandersen Exactly that's my point, suppose I want to implement `oc` in Quarkus. I would expect to be able to create `oc login --token=XXX` and not `oc login -Dtoken=XXX`

[2020-05-05 11:10] smatijasevic commented on #9053
example app is in attachment.
Also, application can't be run in dev mode with: mvn clean compile quarkus:dev .I must build runnable jar and then it works.
This is error if I try to run it from dev mode
`
2020-05-05 13:08:32,208 ERROR [io.qua.dep.dev.DevModeMain] (main) Failed to start Quarkus: java.lang.NoSuchMethodError: 'void io.quarkus.builder.BuildChainBuilder.setClassLoader(java.lang.ClassLoa

[2020-05-05 11:12] maxandersen commented on #8951
I think this issue is for more than just Quarkus - if che would at least recognize there is a pom.xml or build.gradle in the root they can at least enable maven - by looking for application.properties and it has "quarkus.*" properties heavily indicates is a quarkus project etc.

To be clear #8951 does NOT solve this issue properly IMO. using language statistics or labels to figure out what images/

[2020-05-05 11:26] aloubyansky commented on #7876
I don't think you should be generating `extensions.json`. This is a "platform" descriptor, which you probably don't need. We should re-write it in Quarkus to set a re-usable example. You could do a shortcut. There is only one extension in your case, correct? Instead of parsing the JSON you could simply create a singleton Map with your extension (by parsing the YAML which is in the runtime artifact

[2020-05-05 11:28] maxandersen commented on #8951
https://github.com/eclipse/che/issues/14548 is another one that would need fixing before we would consider adding devfile into every quarkus project.

[2020-05-05 11:32] thankthemaker commented on #9059
Hi,
I'm using the OpenCensus Tracer which keeps it's spans in a `com.lmax.disruptor.RingBuffer`.
The RingBuffer itself defines some static fields, which get initialized using `sun.misc.Unsafe`

[code]

I tried to substitute these fields as recommended by @geoand following the same approach which is used in the netty-extension.

[2020-05-05 11:35] ia3andy commented on #8951
@maxandersen I was not saying in every project, with #8134 it could be only when you pick the "che" extension. But of course having the `.devfile.yaml` would be better anyway..

[2020-05-05 11:36] radcortez opened #9086 "Native Image with Custom Config and OpenTracing"
**Describe the bug**
There seems to be a weird combination between custom MP Config Source and Opentracing in Quarkus that fails to run the project in native mode.

**Expected behavior**
Native image should run as normal.

**Actual behavior**
Native image runs fails with:

[code]
**To Reproduce**
Sample project here:
https://github.com/radcortez/microprofile-samples

1. Build project with `mvn ver

[2020-05-05 11:58] tomekl007 commented on #7876
What YAML file do you mean?
Is it:
[code]
or
[code]
if we know the name of the extension upfront, maybe we don't need to parse any file?

[2020-05-05 12:04] aloubyansky commented on #7876
There should be a single YAML under META-INF. Looks like you need to move the one from `main/resources` to `main/resources/META-INF`.
Yes, you can even avoid parsing the file. It's just if you want to make sure the same content is used for your doc and for the platform JSON (and whatever we do with it later) you may want to parse the same file.

[2020-05-05 12:10] maxandersen commented on #9058
i guess with a static main you should be able to wire in custom overrides to application.properties similar to what unit testing does - @geoand @stuartwdouglas does this sounds feasible to add to the Quarkus.run() ?

[2020-05-05 12:18] maxandersen commented on #8951
if you need to pick a "che" extension becomes the requirement I think we failed -  we need che to require less upfront setup.

[2020-05-05 12:18] geoand commented on #9058
Custom overrides meaning that one would be able to use `myProp` instead of say `quarkus.some-extension.something`?

That sounds feasible to me.

[2020-05-05 12:20] gsmet commented on #9058
Can't you just populate system properties in your main? I would expect Quarkus to consume them or am I mistaken?

[2020-05-05 12:21] gsmet commented on #9058
Hum, maybe it's a bit too late in the process though. I suppose Quarkus is already started when you can do things.

[2020-05-05 12:26] maxandersen commented on #9046
you asked for it an issue on improving the test harness to track it. I opened it :)
For me its just about ensuring when we fix issues in mavne/gradle that we keep improving the test harness. Maybe @geoand has a more concrete list of already known "holes" in the testsuite we can add.

[2020-05-05 12:36] geoand commented on #9046
We need all sort of Gradle tests TBH. Gradle stuff breaks too much between releases, which wouldn't happen if we had a fair amount of Gradle tests.

[2020-05-05 12:37] Postremus opened #9087 "Maven plugin is downloading metadata while running in offline mode."
**Describe the bug**
The quarkus maven plugin is downloading maven-metadata.xml files when running in offline mode.
This only happens if one of the repositories in the settings.xml has an updatePolicy of always.

**Expected behavior**
No download of maven-metadata in offline mode. This is the same behaviour maven does out of the box (iIrc)

**Actual behavior**
Maven metadata is downloaded in offli

[2020-05-05 12:40] sberyozkin commented on #9083
We have this PR, https://github.com/quarkusio/quarkus/pull/8987 which updates to KC 10.
The relevant changes are listed at
https://github.com/quarkusio/quarkus/pull/8965

Is 9.0.3 important for the 1.3 backport ?

[2020-05-05 12:46] dmlloyd commented on #8871
Profiles just were not designed in this way, and furthermore they're partway through being added to the MP Configuration specification.

The problem definition is that essentially you want to be able to build more than one program from the same code base.  The problem definition of profiles is that the same program has different behaviors in different scenarios.

What about instead of overloading

[2020-05-05 12:50] dmlloyd commented on #9059
The message seems to be clear: you can't access static fields via unsafe for some reason.  Instead maybe create a singleton class and substitute the accesses to those fields with methods that access the instance fields instead.

[2020-05-05 13:00] michalszynkiewicz commented on #9083
yes

[2020-05-05 13:01] michalszynkiewicz commented on #9083
We may switch to 9.0.3 in the 1.3 branch directly in this case, WDYT @gsmet ?

[2020-05-05 13:16] sberyozkin commented on #9083
Whatever is simpler, I can rebase my PR later if needed.

[2020-05-05 13:18] gsmet commented on #9083
Yes we can update directly in 1.4 and 1.3. I don't think we will make another 1.4 but it doesn't cost us much to push it to 1.4 too.

[2020-05-05 14:10] thankthemaker commented on #9059
Could you maybe point me to an example? I haven't understood completely what your approach looks like.

[2020-05-05 14:12] murphye commented on #8554
@iocanel

#1 Describes issue that you faced:
https://github.com/kubernetes/kubernetes/issues/8362

Seems like a poor resolution on their part because it doesn't work with JSONPath. Why they didn't just add support for [...] I have no idea.

#2 List format compatible with JSONPath:
https://kubernetes.io/docs/reference/kubectl/jsonpath/

Considering this is the behavior of Kubernetes JSON input per

[2020-05-05 14:13] andreas-eberle opened #9090 "Quarkus 1.4.2: QuarkusDev not finding @Named injections of another module (build works"
**Describe the bug**
When injecting beans with `@Named` from a submodule, `quarkusDev` fails to inject the beans while `quarkusBuild` builds successfully and runs the build as well. The same code also works with Quarkus 1.4.1 with quarkusDev.

Exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download and unzip reproducer
[named-injection.zip](https://github.com/quarkusio/qu

[2020-05-05 14:21] gsmet commented on #9090
/cc @aloubyansky @stuartwdouglas

[2020-05-05 14:24] aloubyansky commented on #9090
I'm already looking into a similar issue.

[2020-05-05 14:27] cescoffier commented on #7974
This has been fixed (with the update to SmallRye Reactive Messaging 2.0.2)

[2020-05-05 14:27] #7974 closed

[2020-05-05 14:27] cescoffier commented on #5254
Fixed by https://github.com/quarkusio/quarkus/issues/8168.

[2020-05-05 14:27] #5254 closed

[2020-05-05 14:29] oscarfh commented on #9068
@geoand I agree, but then it should fail in the dev mode, right?

[2020-05-05 14:32] cescoffier commented on #8573
The cert location must be a path on the file system, not from the classpath. Kafka is looking for the file on the file system.

[2020-05-05 14:33] #7811 closed

[2020-05-05 14:35] andreas-eberle commented on #9050
@gsmet: Maybe you know who is the right one for this.

[2020-05-05 14:35] geoand commented on #9068
Right, ideally it should. Problem is that devmode has some dependencies of it's own that are being picked up in this case.

cc @stuartwdouglas @aloubyansky

[2020-05-05 14:35] cescoffier commented on #7088
Documentation updated (https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/amqp/amqp.html#amqp-inbound)

[2020-05-05 14:35] #7088 closed

[2020-05-05 14:37] cescoffier commented on #7404
Unfortunately, the reconnect options are about TCP reconnection, not the broker reconnection. There is some ongoing work about that upstream (CC @gemmellr )

[2020-05-05 14:38] cescoffier commented on #6230
Has been fixed.

[2020-05-05 14:38] #6230 closed

[2020-05-05 14:38] gsmet commented on #9050
@mkouba could you have a first look at that one and see if it's an issue in Quarkus or something we don't support? Thanks!

[2020-05-05 14:39] cescoffier commented on #3040
Serializers/Deserializers have been added.

[2020-05-05 14:39] #3040 closed

[2020-05-05 14:39] #5300 closed

[2020-05-05 14:39] cescoffier commented on #5300
It has been fixed.

[2020-05-05 14:45] oscarfh commented on #9068
@geoand Sorry for hijacking the thread (I will delete this message soon).
Here is the link of the thread I created about hardcoded path in tests (we talked about it in stackoverflow): https://github.com/quarkusio/quarkus/issues/8950#issuecomment-623728781
If you could provide some guidance I would love to contribute, but I am missing some context to be able to do it meaningfully. It would be nice

[2020-05-05 14:47] cescoffier commented on #9053
Your application is using https://github.com/hpehl/quarkus-grpc-client-extension and not quarkus-grpc.

[2020-05-05 14:48] emmanuelbernard commented on #9076
I converted the issue to an extension proposal. At the moment the people working in the messaging area have their plate full. But they can definitely guide someone to provide a contribution.

[2020-05-05 14:49] andreas-eberle commented on #9050
Thanks!

[2020-05-05 14:55] gemmellr commented on #7404
To be clear, the underlying options ultimately exposed here come straight from the Vert.x NetClient [1], and those are not really about *re*-connection as such at all, they influence behaviour between the initial connect call and what happens before it indicates success or failure to connect. After that, vertx-proton indicates when the AMQP connection is closed and/or NetClient indicates the TCP c

[2020-05-05 15:03] tomekl007 commented on #7876
I followed your suggestion of replacing json with YAML.
I have a problem with `ConfigDocItemScanner` now:
[code]
After that logic, the `docItemsByConfigRoots` is empty.  I was able to load `extensionsByConfigRoots`, and it contains all config root objects for our extension:
[code]
Has the `ConfigDocItemScanner` some pre-requisites? I wonder if this class shouldn't be parameterized?

[2020-05-05 15:09] emmanuelbernard commented on #9046
Thanks, I'll rephrase a bit then.

[2020-05-05 15:12] machi1990 commented on #7876
Hi @tomekl007 the doc generator should be automatic once the extension annotation processor is included in the extension pom.xml file.

In the meantime it is only limited to scanning extensions under `io.quarkus..` see https://github.com/quarkusio/quarkus/blob/master/core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDocItemScanner.java#L51.

I think we should remove t

[2020-05-05 15:59] tomekl007 commented on #7876
That scanning limitation is a blocker for us because our extension resides under a different package name. Do you have some estimated date when this limitation will be removed?

Regarding usage, it will be nice if we could include `AllConfigGenerator` from the quarkus dependency to not duplicate this code. For the 3rd party extension (like ours), when the client have only one extension you could p

[2020-05-05 16:19] Sanne commented on #6458
Apologies for the delay! Lockdown is severly affecting my IDE -able time :/

I started to look again; first thing I figured is that converting the project from not using Panache-enhanced entities but just a plain `EntityManager` it works fine.

[2020-05-05 16:36] emmanuelbernard commented on #9036
Can I play the grumpy person?

Does this feature look like a Panache 80% use case simplification to you. Or more a 20% advanced use case?
Are we going to make Panache as complete as JPA? This is not the original intent.

Are we losing much by requesting people to do

[code]

[2020-05-05 17:03] famod opened #9093 "Dev-Mode: Remove "[WARNING] The project's sources directory does not exist""
**Description**
In the process of migrating my current project from 1.3.1 to 1.4.2, I happily removed  a `Dummy.java` from the main module after having seen this comment: https://github.com/quarkusio/quarkus/pull/8712#issuecomment-616989898

This now yields a warning:
[code]

I suggest to remove this warning, especially for multi-module projects.

cc @harthorst

[2020-05-05 17:13] famod opened #9094 "Dev-Mode: Remove check for build goal (or provide opt-out)"
**Description**
In my current multi-module project we have one main `server` module where everything comes together and where the `quarkus:build` is configured.

To be able to just start only a part of the application, we introduced a Maven profile that allows to start Dev-Mode in certain other modules which do not (and must not) have `quarkus:build` configured.

Due to a check in https://github.c

[2020-05-05 18:28] marceloverdijk commented on #6458
No need to apologise @Sanne.  I'm anyway happy you are looking into it again. Staf safe and healthy!

[2020-05-05 18:39] machi1990 commented on #7876
@tomekl007 I do not think you need to pull in `AllConfigGenerator` class for now, which we added only to be able to aggregate all generated configuration items - that are part of the core for now. As I said earlier, we'd need to think of ways to hook in external configurations into this list too.

I have made the initial change here https://github.com/quarkusio/quarkus/pull/8994 to allow automatic

[2020-05-05 18:55] Sanne commented on #9036
Yes I believe differentiating the API would make it clearer to users how to accomplish such things. That probably wasn't good enough in the ORM upstream API.

However, I think you have the option to expose only one of these. What makes most sense to expose in Panache? That's up to you.

I have no idea. More importantly, I believe it doesn't matter: we probably don't want this to be entity-scoped a

[2020-05-05 20:37] abelsromero commented on #8985
I interested in this comment. I tested with 1.4.2 release and it works now, but does this comment mean this may break at some other point or that this is not recommended?

[2020-05-05 20:58] pedroigor commented on #9057
@sberyozkin This one depends on https://issues.redhat.com/browse/KEYCLOAK-14076. But I'll be sending some changes as well as tests to cover this scenario.

[2020-05-05 21:04] pedroigor commented on #9057
As a workaround, applications can obtain permissions from the identity:

[code]

And manually perform checks.

[2020-05-05 21:10] maxandersen commented on #9045
duplicate of #9046

[2020-05-05 21:10] #9045 closed

[2020-05-05 21:18] gsmet commented on #8985
It just means we will work on a better fix upstream in the SmallRye components.

But we don’t plan to break it :)

[2020-05-05 21:43] sberyozkin commented on #9057
Hi Pedro, thanks for looking into it, the workaround makes sense for sure till the fix makes it into KC 10.x

[2020-05-05 22:17] Sanne commented on #9036
I think @emmanuelbernard has a point. Indeed I wasn't advocating to expose those filters globally - those additional use cases I mentioned are just an explanation about why the API is what it is on ORM, since @FroMage asked.   Please don't see my explanation as a request to expose all such nuances on Panache.

I still think though that a filter approach is how it should look like to "stack" additi

[2020-05-05 22:23] Sanne commented on #6458
So the problem is that "Enhanced Proxies": it's a new feature in Hibernate ORM, which is enabled in Quarkus.

It seems to consistently bypasss the 2LC in `org.hibernate.persister.entity.AbstractEntityPersister#initializeEnhancedEntityUsedAsProxy`.  Since the specific trigger is a field read operation triggering the lazy load I wasn't seeing this in a vanilla ORM test - as the field read fashion is

[2020-05-05 22:57] fiorenzino opened #9100 "fix guide -> Deploying the application as Java application in OpenShift with jdk11"
**Describe the bug**
Today quarkus support  JDK 8 or 11+ - but In the guide "deploying s2i for openshift"
https://quarkus.io/guides/deploying-to-openshift-s2i
 when you speak about "Deploying the application as Java application in OpenShift" you don't give info about jdk11.

for jdk18:
# To build the image on OpenShift
oc new-app registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift~htt

[2020-05-05 23:59] stuartwdouglas commented on #9058
So the way we should deal with this is via some kinda of annotation based way of consuming/processing command line arguments, including the ability to bind them to config properties. Something like `@ConfigParam(short="t", long="topic", usage="Specifies a Kafka Topic to connect to", repeatable=true, configProperty="quarkus.kafka-streams.topics")`

This should be part of a generic module that makes

[2020-05-06 02:04] mbecca commented on #7362
Hi,

I have similar issue when run ./mvnw clean verify -Pnative

 --/ __ \/ / / / _ | / _ \/ //_/ / / / __/
 -/ /_/ / /_/ / __ |/ , _/ ,< / /_/ /\ \
--\___\_\____/_/ |_/_/|_/_/|_|\____/___/
2020-05-05 22:55:05,782 WARN  [io.qua.config] (main) Unrecognized configuration key "quarkus.http.ssl-port" was provided; it will be ignored
2020-05-05 22:55:05,782 WARN  [io.qua.config] (main) Unrecognized con

[2020-05-06 02:09] mbecca opened #9101 "quarkus-amazon-lambda fails in native mode: Failed to run lambda: java.net.SocketException:"
Hi,

I have similar issue when run ./mvnw clean verify -Pnative
[code]

**This error is random or no deterministic, but generally happen.**

pom.xml:

[code]

In running in Windows 10 WSL (Ubuntu 18) and Gitlab CI pipeline.

Regards,

M.

[2020-05-06 03:07] stuartwdouglas commented on #8871
Why do you have an app that is both a CLI app and a HTTP based app? Are they run from seperate main classes, just both in the same package? This just generally seems problematic as when you run the CLI app it is still going to open the HTTP endpoint.

[2020-05-06 06:33] geoand commented on #9046
I would say that currently @aloubyansky is the best person to specify our most pressing areas for improved Gradle testing.

[2020-05-06 06:36] geoand commented on #9068
@oscarfh Thank you for volunteeting. The best person to help you out and / or coordinate efforts is @aloubyansky who has steadily been improving our Gradle support with difficult to make fixes.

[2020-05-06 06:47] marceloverdijk commented on #6458
Ths for sharing @Sanne! Good to know where the problem exists. Should we reference the Hibernate issue here so we can follow the progress?

[2020-05-06 06:50] andreas-eberle commented on #8573
Would it be possible to allow paths in the artefact as well?

[2020-05-06 06:55] ppalaga opened #9103 "Test BOM"
Followup https://github.com/quarkusio/quarkus/pull/9073 and https://github.com/quarkusio/quarkus/pull/9078

After jna and testcontainers were removed from the Runtime BOM, we (Camel Quarkus) have to manage the jna version (otherwise conflicting between testcontainers and mongodb) ourselves. This is because we cannot inherit from Quarkus build parent.

We'd prefer that Quarkus manages its test deps

[2020-05-06 07:11] #8792 closed

[2020-05-06 07:13] ppalaga commented on #9103
I have proposed a minimal version of the Test BOM https://github.com/quarkusio/quarkus/pull/9104

[2020-05-06 07:27] mkouba commented on #9050
So after some investigation and discussion with @stuartwdouglas the problem is identified - transformations are only supported in application archives, i.e. indexed artifacts.

You could see the following message when running the build with quarkus master:

### Workaround - index third-party dependency

Just add the following two lines to the `application.properties` file:
[code]
As described here

[2020-05-06 07:43] cescoffier commented on #8573
It seems that the Kafka client does not.

[2020-05-06 07:55] dozd opened #9107 "Docker JVM build not working on new project"
**Describe the bug**
Building of docker image fails on sample project.

**Expected behavior**
Docker image successfully built

**Actual behavior**
Error during `./mvnw clean package -Dquarkus.container-image.build=true`
[code]
Whole build log: https://gist.github.com/dozd/588b1fb3751b30d204246ec545d74a69

**To Reproduce**
Steps to reproduce the behavior:
1. ` mvn io.quarkus:quarkus-maven-plugin:1.

[2020-05-06 08:07] galderz commented on #9103
Indeed I've just came across this trying to run camel-quarkus native tests (see [here](https://gist.github.com/galderz/32d961402486f8a415f746a6a63e92bc)).

[2020-05-06 08:08] galderz commented on #9103
@ppalaga I'll try your branch later on

[2020-05-06 08:23] geoand commented on #9107
I just tried your steps and it worked just fine for me.

[2020-05-06 08:29] geoand commented on #9103
cc @gsmet @aloubyansky

[2020-05-06 08:32] rsvoboda opened #9109 "Make @RegisterForReflection work with plain strings"
Make `@RegisterForReflection` work with plain strings as at this moment private classes can't be registered for reflection using this approach.

Additional details are in https://stackoverflow.com/questions/61611441/quarkus-native-and-org-kohsukegithub-api-failed-to-deserialize-exception

[2020-05-06 08:35] geoand opened #9110 "Update builder images to new UBI OpenJDK images"
**Description**
A UBI OpenJDK image has now been released: https://jmtd.net/log/ubi-openjdk/

We should pick it up where is makes sense

[2020-05-06 08:36] aloubyansky commented on #9103
I think it makes sense. We should probably make its purpose clear in its comments (and docs) to avoid misuse. Which, as I understand, facilitate testing config of external extensions. And in case of high demand we could move certain things from it to the runtime BOM eventually.

[2020-05-06 08:37] rvansa opened #9111 "Incorrect deserialization of `false` into custom object"
**Describe the bug**
Trying to deserialize
[code]

into

[code]

I find that the `Json schema` (with custom `javax.json.bind.serializer.JsonbDeserializer`) doesn't get the `false` value but instead it receives:
* `KEY_EVENT` = `access`
* `VALUE_EVENT` = `PUBLIC`
* `KEY_EVENT` = `owner`
* `VALUE_EVENT` = `dev-team`
* `END_OBJECT`

The offending code that does not interpret `false` correctly is prob

[2020-05-06 08:41] DemiusAcademius opened #9112 "Quarkus Scheduled at wrong interval"
Wrong scheduling interval

With annotation @Scheduled(cron="{cloudprint.schedule}")
and application.yaml config:

[code]

**Expected behavior**
must run  every 5 seconds

**Actual behavior**
scheduled task runs every 10 seconds

 - version:  1.4.2
 - gradlew: 6.3
 - quarkusDev

[2020-05-06 08:46] #8554 closed

[2020-05-06 08:49] andreas-eberle commented on #9050
So first of all, thanks for your answer and the workaround! I still have some question, maybe you can shed some light on them.

Why is the indexing required for a bean which I produce in my artefact with a producer method? Quarkus should never ever need to call the init method in this case. I create the bean with another constructor. I'm now actually worried that Quarkus is creating the bean with

[2020-05-06 08:56] dozd commented on #9107
I have tried different machine and yeah - it's working.
[code]
docker
[code]

This one error is not present. I think that could be the cause. But don't know why
[code]

[2020-05-06 08:59] gsmet commented on #7362
/cc @patriot1burke @oztimpower

[2020-05-06 09:00] geoand commented on #9107
I don't really know what the problem is TBH, but it's not a Quarkus issue, so I will go ahead and close this.

[2020-05-06 09:00] #9107 closed

[2020-05-06 09:03] #9085 closed

[2020-05-06 09:07] mkouba commented on #9050
So your producer is `@ApplicationScoped` which means that quarkus needs to create a _client proxy_ for the returned type (as defined by the CDI spec). Normally, a CDI container would fail with an error - because of the absence of a no-args constructor (which is a requirement for any normal scoped bean). In Quarkus, we do try to add a "synthetic" no-args constructor instead.

You could also annotat

[2020-05-06 09:10] andreas-eberle commented on #9050
OK, I see. Would it make sense/be possible for Quarkus to "auto-detect" the artefacts it needs to index in such a case? I mean during build time it should be possible to determine that this class is required for indexing and therefore this artifact needs to be indexed?

[2020-05-06 09:12] mkouba commented on #9050
Stuart is already working on a fix - https://github.com/quarkusio/quarkus/pull/9105.

[2020-05-06 09:15] gsmet commented on #9112
@DemiusAcademius could you prepare a small reproducer and attach it to the issue?

/cc @mkouba

[2020-05-06 09:17] smatijasevic commented on #9053
OK, I remove  that lib and replace it with quarkus-grpc. In jvm it works but still can't build native image
This is the error:
`[etcd-client-1.0.0-SNAPSHOT-runner:23361]    classlist:   7,042.36 ms,  1.00 GB
[etcd-client-1.0.0-SNAPSHOT-runner:23361]        setup:     341.79 ms,  1.00 GB
Error: substitution target for io.quarkus.grpc.runtime.graal.Target_com_google_protobuf_GeneratedMessageV3_Field

[2020-05-06 09:19] andreas-eberle commented on #9050
Ah, thanks a lot!

[2020-05-06 09:24] #9055 closed

[2020-05-06 09:25] ppalaga commented on #9103
I have added a description https://github.com/quarkusio/quarkus/pull/9104/files#diff-28c5659b9e1dced68146f7cfe2fbb1bfR16

[2020-05-06 09:35] danelowe commented on #9090
I have a similar example here

https://github.com/danelowe/quarkusmm

When using `quarkusDev`, `/hello` returns 404, when using `quarkusBuild` and running the jar, `/hello` returns correct text

[2020-05-06 09:41] thankthemaker commented on #9059
Any hint?

[2020-05-06 09:48] geoand commented on #9111
Seems like one for @aguibert :)

[2020-05-06 09:49] aloubyansky commented on #9090
It looks like your issue is different @danelowe Please, create a separate github issue for it. Thanks! Btw, `build` did not work for your project, haven't looked yet but I guess it's expected. `quarkusBuild`  did work though.

[2020-05-06 09:58] mkouba commented on #9112
@DemiusAcademius Have you tried the `0/5 * * * * ?` syntax? We use quartz CRON syntax by default and it could be that it does not support `*/5` (note that slash `/` itself is a non-standard character).

Anyway, a reproducer would be really helpful.

[2020-05-06 09:58] #9012 closed

[2020-05-06 10:09] aloubyansky commented on #9090
@danelowe it looks like for your project a workaround is to run `gradle clean :web:quarkusDev` instead of `gradle clean quarkusDev`.

[2020-05-06 10:15] DemiusAcademius commented on #9112
I create a reproduces with empty job method and identical application.yaml. It works every 5 secs!
[code]

[2020-05-06 10:16] DemiusAcademius commented on #9112
But for real job log another:

[code]

[2020-05-06 10:17] DemiusAcademius commented on #9112
[code]

Execution of job takes ~ 2-3 seconds

[2020-05-06 10:17] DemiusAcademius commented on #9112
and I try 0/5 * * * * ? syntax

[2020-05-06 10:21] mkouba commented on #9112
Hm, I can smell a bug in our scheduling logic...

[2020-05-06 10:26] DemiusAcademius commented on #9112
I added code:
[code]
to reproduces. All work OK

[2020-05-06 10:27] DemiusAcademius commented on #9112
Real code of cronjob class:
java```
package com.sia.work;

import com.sia.beans.*;
import com.sia.domain.FPJob;
import com.sia.domain.FPJobDetail;
import com.sia.domain.FPPrinterStatus;
import com.sia.repos.FiscalPrinterRepo;
import com.sia.restclient.api.model.state.PrinterState;
import com.sia.restclient.api.requests.FiscalData;
import com.sia.restclient.api.requests.PaymentItem;
import io.quark

[2020-05-06 10:28] DemiusAcademius commented on #9112
This logic call Hibernate (Oracle) and RestClient

[2020-05-06 10:28] tomekl007 commented on #7876
Could you give me more details about this? Is there an extension that does accept the netty event loop passed by the quarkus? Also, I thought that you are using vert.x, not netty by default?

If the vert.x is the default:
Does the client of our extension would need to add an additional dependency to netty-extension? If we will re-work it to accept the netty even loop passed by the quarkus framewor

[2020-05-06 10:31] mkouba commented on #9112
Do you use simple scheduler (or the quartz extension) for both the reproducer and the prod app?

[2020-05-06 10:32] stuartwdouglas commented on #7876
Vert.x is based on Netty, you should make your extension depend on the Netty extension, pretty much everything uses it, it is only CLI apps I think that won't have it.

At the moment there is not build item to represent the event loop, but there is a CDI bean so it can just be injected using the @MainEventLoopGroup and @BossEventLoopGroup qualifiers.

[2020-05-06 10:34] DemiusAcademius commented on #9112
In gradle:
[code]

[2020-05-06 10:40] mkouba commented on #9112
So it's the simple scheduler impl.

[2020-05-06 10:56] DemiusAcademius commented on #9112
May be I try another scheduler?
By the way, For quarkus.io SSL_ERROR_BAD_CERT_DOMAIN

[2020-05-06 11:19] DemiusAcademius commented on #9112
With quartz extension same picture. application.yaml with changed passwords:
[code]

[2020-05-06 11:40] mkouba commented on #9112
I'm afraid there's not much we can do until we have a reproducer.

Isn't the config property overriden at runtime? E.g. using a system property or an ENV variable?

[2020-05-06 11:57] tomekl007 commented on #7876
What is the best way to make the extension depend on another one? Is it just adding the dependency to quarkus-netty:
[code]
from the deployment module of the cassandra-extension?

Regarding injecting even loops, I found this example:
[code]
but I need to do it programmatically, something similar to what I did for injecting MetricRegistry:
[code]
The `Arc.container()` seems to now have the even loo

[2020-05-06 12:07] aloubyansky commented on #7876
Your runtime artifact should depend on the runtime artifact of the other extension and your deployment artifact should depend on the deployment artifact of the other extension.

[2020-05-06 12:08] aloubyansky commented on #7876
The dependencies of the runtime artifact will be on the classpath of the final application. While the deployment deps will only be used during the build.

[2020-05-06 12:22] DemiusAcademius commented on #9112
Not. Config properties not overriden. I can send zipped source to email?

[2020-05-06 12:25] mkouba commented on #9112
Pls join the https://quarkusio.zulipchat.com/login/ channel and ping me.

[2020-05-06 12:27] FroMage commented on #9036
OK, so the advice would be to add the filter methods on `PanacheQuery` initially and only there and see where this leads us.

[2020-05-06 12:34] FroMage commented on #2303
I'd like to ask for @gavinking's opinion about syntax. He's pretty good at throwing ideas in and out.

[2020-05-06 12:41] gavinking commented on #2303
Hrm. I've been tagged so many times in this issue, but somehow I never got a proper notification. Need to check my filters.

[2020-05-06 12:54] gavinking commented on #2303
Alright, so my first reactions are:

- I'm not very keen on putting the marker on any of the three individual bits of the predicate. Since it's the whole predicate that gets removed, it seems to me that the clearest thing is to place delimiters around the whole predicate.
- This also scales better to more complex predicates. (For now you're only considering single comparison operators, but in prin

[2020-05-06 13:06] gsmet commented on #8999
@aloubyansky we have a reproducer in the original description for this one.

[2020-05-06 13:07] gavinking commented on #2303
(P.S. I know I was the one advocating that we treat this as some sort of pseudo "function" in HQL, and I can see I'm sorta walking back from that now, at least with respect to the syntax.)

[2020-05-06 13:08] gavinking commented on #2303
Potential objection of using brackets is that it hammers the natural syntax for list literals. But I highly doubt we'll ever want list literals in HQL.

[2020-05-06 13:29] dcdh commented on #5523
Not an issue. I fixed it by adding `@Singleton`  on `AgroalDataSourceSecretStore`. Like this the `@PostConstruct` is called before the `@BeforeEach`.
Sorry for the inconvenience.

[2020-05-06 13:47] stuartwdouglas commented on #7876
At the moment you need an AnnotationLiteral for a Qualifier:

[code]

We should make this simpler, but so far almost everything is based on vert.x so it has not been an issue.

[2020-05-06 13:48] stuartwdouglas commented on #7876
@mkouba FYI

[2020-05-06 13:48] cescoffier commented on #9053
I got it working with:

[code]

[2020-05-06 13:49] FroMage commented on #2303
Well, in my mind, this is a two-actor team:

- The individual operator (say `=`) acquires a new ternary result meaning which can be true/false/NOOP. true/false is determined by the DB unless NOOP. NOOP is determined at query build time if one of the operand of the operator is a missing/null parameter.
- `and` and `or` acquire the same true/false/NOOP result meaning, where NOOP is determined at que

[2020-05-06 13:53] gavinking commented on #2303
@FroMage Yeah, I originally tried to go down that path when I chatted with Emmanuel, but I think we decided that no, that would be adding a new sort of ternary logic that collided with the ternary logic of SQL and was broken in novel and different ways to SQL's ternary logic.

So after a bit of a think about it I decided it would probably be a mistake.

[2020-05-06 13:54] FroMage commented on #2303
So, with that in mind, I guess I'd favour the following variants:

- `[title like ?1] and [owner = ?2] and [order < ?3] order by order`
- `optional(title like ?1) and optional(owner = ?2) and optional(order < ?3) order by order`

The Perl user in me finds `[owner = ?2]` confusing, while the BNF user in me finds it perfectly fitting.

[2020-05-06 13:58] gavinking commented on #2303
To be clear, I think either of those options are perfectly acceptable outcomes. They're very readable.

OTOH, the option of putting the operator *inside* the brackets does have the advantage that we don't have to come up with strange and half-convincing backsplanations as to what is the meaning of a dangling `and` or `or` operator.

[2020-05-06 14:01] gavinking commented on #2303
(The issue being that `or [name=?n]` means `or false` when `n` is missing, while `and [name=?n]` means `and true` when `n` is missing.)

[2020-05-06 14:08] gavinking commented on #2303
Rrrrm the more I stare at this example, the more I think it's telling us that the logical operator should go inside:

    title like ?1 [and owner = ?2 and order < ?3] order by order

[2020-05-06 14:08] aguibert commented on #9111
hi @rvansa, could you please include a reproducer? In particular I'd like to see your custom deserializer  `io.hyperfoil.tools.repo.entity.converter.JsonUserType` class as well as the `Json` class

[2020-05-06 14:17] agoncal opened #9121 "Renaming enable properties to enabled"
**Description**

While debugging I noticed that I misspelled a Quarkys property. I wrote `enabled` instead of  `enable`. Then, I realized that Quarkus uses both... and it's confusing. It looks like it's just a consistency problem (as `enabled` is more frequently used).

Here are the properties that should be renamed

[code]

[2020-05-06 14:21] dmlloyd commented on #9059
I don't know of any examples of doing this exact thing, but there are plenty of examples in the Quarkus and GraalVM code bases of using `@Substitute` and `@InjectAccessors` which would hopefully be sufficient to piece it together.  Check out the GraalVM documentation for those annotations as well.

[2020-05-06 14:36] rvansa commented on #9111
@aguibert
Deserializer: https://github.com/Hyperfoil/Horreum/blob/master/repo/src/main/java/io/hyperfoil/tools/repo/entity/converter/JsonSerializer.java
JsonUserType: https://github.com/Hyperfoil/Horreum/blob/master/repo/src/main/java/io/hyperfoil/tools/repo/entity/converter/JsonUserType.java
Json class itself: https://github.com/Hyperfoil/yaup/blob/master/src/main/java/io/hyperfoil/tools/yaup/jso

[2020-05-06 14:39] rvansa commented on #9111
I don't think the `JsonUserType` is relevant here; the deserializer is selected using JsonContext: https://github.com/Hyperfoil/Horreum/blob/master/repo/src/main/java/io/hyperfoil/tools/repo/entity/converter/JsonContext.java

[2020-05-06 14:40] tdussmann opened #9122 "Security: Support password algorithms besides MD5 in elytron-security-properties-file extension"
**Description**
When using quarkus for our services we'd like to utilize the existing extensions as much as possible, instead of reinventing the wheel. For adding a straight-forward basic authentication to a service that does not use jdbc at all we looked into [_elytron-security-properties-file_](https://quarkus.io/guides/security-properties).
However at the moment this extension does only support

[2020-05-06 14:53] tomekl007 commented on #7876
Thanks for the workaround but I still have problems while retrieving the bean.
After executing this code:
[code]
the `mainEventLoopBean` is carrying a bean but this is an instance of `SyntheticBean`
(`toString()` returns `EventLoopGroup_e0d9529bd8e82f33c3bbdde0861773027f3f2e0a_Synthetic_ClientProxy`)

This bean cannot be cast to `EventLoopGroup`. I saw that a common pattern is to lookup the bean u

[2020-05-06 15:15] DorianMaliszewski opened #9123 "[Another] Unable to acquire JDBC connection"
**Describe the bug**
Hi everyone, I followed the guide on quarkus jdbc, quarkus hibernate orm and quarkus hibernate panache.
My environnement :
- Adoptopenjdk 8
- Quarkus 1.4.2 Final
- Dockerfile.jvm for quarkus
- Docker mariadb and postgres for development

What's the problem ?
- I launched the application with one datasource (same problem on postgres and mariadb).
- I put some configuration for

[2020-05-06 15:57] sberyozkin commented on #8396
@majonga88 Can you please explain more what is happening ? We are looking at the Vertx code with @pmlopes and indeed when the binary access token is verified, the exception which you in the trace logs is thrown but the execution should still continue.
What happens if you have no `RolesAllowed` annotation and only `@Authenticated` annotation ?

[2020-05-06 16:08] aguibert commented on #9111
@rvansa I looked into this one a bit and the root issue seems to be that the `JsonbDeserializer` contract was under-specified in JSON-B 1.0 (see https://github.com/eclipse-ee4j/jsonb-api/issues/136) and we will be trying to firm that up in future versions of JSON-B (while being mindful of compatibility breakage).

The spec doesn't define what a `JsonParser` should be "looking at" when it is passed

[2020-05-06 16:55] geoand commented on #9064
After going through the motions of refactoring the multiple datasource handling, I think that we know have a good blueprint of how to do this with little friction.

[2020-05-06 17:07] cpmoore commented on #9123
Enable datasource metrics using
[code]

and

[code]

Then check the `vendor_agroal_active_count` metric on the `/metrics` endpoint.  Is it constantly increasing?
I had this issue where it eventually reached the max value and wouldn't create any more connections.  Turned out to be an issue where my code wasn't closing the connection if the sql statement threw an exception.

[2020-05-06 18:16] marceloverdijk opened #9128 "Provide getEntityManager() in PanacheEntityBase and PanacheRepositoryBase"
As suggested on google groups and other issues for e.g. advanced JPA/Hibernate queries the `EntityMananger` should be used.

It's suggested to do e.g. Person.getEntityManager() (see #9036)

But `PanacheEntityBase` and `PanacheRepositoryBase` currently don't provide a `getEntityManager()` method.

[2020-05-06 18:55] maxandersen opened #9129 "when cluster is not available should build not fail when deploy requested ?"
**Describe the bug**
have cluster configured in kube but the cluster being down/not reachable:
run `mvn clean package -Dquarkus.kubernetes.deploy=true`

and you get output like this:

[code]

**Expected behavior**
I would have expected a BUILD FAILURE here.

**Actual behavior**
build marked as success despite there are errors.

[2020-05-06 18:59] maxandersen commented on #9129
in addition at no point do we actually print out which server/cluster/api endpoint that is being pushed to -  hard to debug.

[2020-05-06 19:02] pedroigor commented on #9054
@tpenakov I've run your example. Thanks for sharing.

The root cause is that the changes we did to buffer the input stream are only available if you are using `quarkus-vertx`.

In your project, you are using `quarkus-undertow`.

I suggest you use `quarkus-vertx` as a rule. I think it is the recommended stack to run Quarkus applications. So, in order to make your project work, you need to:

* Repla

[2020-05-06 19:07] aguibert opened #9132 "Bean with generated no-args constructor fails to be found during native image build"
**Describe the bug**
I am working on the HiberanteRX extension for Quarkus, and as a part of that I have a bean that produces the type [`Mutiny.Session`](https://github.com/aguibert/hibernate-rx/blob/mutiny-publish-2/hibernate-rx-api/src/main/java/org/hibernate/rx/mutiny/Mutiny.java#L12) which is a concrete class with a 1-arg constructor:

[code]

The producer bean can be seen here: https://github

[2020-05-06 19:08] aguibert commented on #9132
CC @mkouba

[2020-05-06 19:16] pedroigor commented on #8469
@Ladicek Regarding documentation, you are right. However, the reason why we don't have more references in `quarkus-keycloak-authorization` extension is that I did not want to replicate what we have in the Keycloak Authorization Services [documentation](https://www.keycloak.org/docs/latest/authorization_services/index.html#_enforcer_filter).

The extension is basically exposing the Keycloak Policy

[2020-05-06 19:34] FroMage commented on #9128
You already have `Panache.getEntityManager()`, isn't that enough?

[2020-05-06 19:52] marceloverdijk commented on #9128
Ah did’t know it was available via `Panache`.

[2020-05-06 20:02] machi1990 commented on #9128
Worth addition in this guide? https://quarkus.io/guides/hibernate-orm-panache

[2020-05-06 20:19] MikeEdgar commented on #9039
@harthorst - would you be able to provide a sample project that demonstrates the issue?

[2020-05-06 20:38] rsvoboda commented on #9109
To introduce an option for string-based definition new field would be required in https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/annotations/RegisterForReflection.java#L32 ?

Or is there a trick which could be applied to `Class<?>[] targets() default {};`?

[2020-05-06 20:39] pedroigor commented on #8204
@sberyozkin @michaeljmcd I run the example and I manage to access the swagger-ui.

However, I found an interesting behavior though. If you run the application in dev mode, the paths you defined to the policy enforcer (e.g.: `quarkus.keycloak.policy-enforcer.paths.1.path=/swagger-ui/*`) is not loaded and that causes the policy enforcer to deny the request.

But if you run the application using the

[2020-05-06 20:52] pedroigor commented on #8064
@BigFatDog Sorry for the delay. You should not get "resource not defined" and you should be able to access the paths you marked as DISABLED.

Can you check the latest release?

[2020-05-06 20:55] pedroigor commented on #8064
It seems related to this one https://github.com/quarkusio/quarkus/issues/8204. There I was also able to disable paths and access them. But there is a catch in regards to dev mode.

[2020-05-06 21:13] sberyozkin opened #9135 "quarkus-smallrye-jwt JWT generation code fails to load the token resource in the dev mode"
**Describe the bug**
@radcortez has reported an issue that the token resources are not loaded in the dev mode. An issue around loading the keys [was also reported in Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Smallrye.20KeyUtils) if KeyUtis are used directly

[2020-05-06 21:20] Sanne commented on #6458
Right, I just wanted to be sure first. Now it's a confirmed problem and I'm working on a fix:
 - https://hibernate.atlassian.net/browse/HHH-14004

[2020-05-06 21:21] radcortez commented on #9135
Thanks @sberyozkin.

Btw, the code that loads the keys for validation seems to work fine. The issue is with the following API:

[code]

In dev mode you get a NPE. Works fine in standard VM mode (haven't tried it in native yet).

[2020-05-06 21:29] cpmoore opened #9136 "Support for Custom Named Injections"
Currently quarkus supports named datasources.  This allows for multiple properties to be configured per each injected instance.
From the documentation:
[code]

I would like to see similar support added for custom classes
[code]

Then in application.properties
[code]

I'm aware that there is already support for `ConfigProperties(prefix="whatever")` however there doesn't seem to be a way to set the

[2020-05-06 21:32] danelowe opened #9137 "quarkusDev fails to work consistently across gradle subprojects"
**Describe the bug**
I'm running into a lot of issues when implementing with a multi-module gradle project.

I thought it was related to #9090

https://github.com/danelowe/quarkusmm
(https://github.com/danelowe/quarkusmm/tree/0ae48c62c84b4f1f292e4589116152350035acaa)

**Expected behavior**

- When running `quarkusDev`, the `/hello` route would return `"hello"`
- When there is no code in the root p

[2020-05-06 21:35] maxandersen commented on #9058
if you have your own main quarkus haven't started yet - but it would be nice to see if we can have a way without requiring a main.

On picocli - i haven't looked into this specific usecase but I know picocli author is working on a quarkus extension and will be posting on quarkus-dev soon on it.

about the annotation binding approach - I'm not an instant fan; but I think picocli could be enhanced t

[2020-05-06 21:39] aloubyansky commented on #9087
While I'm fixing `-o` bug, you can use `-nsu` as a workaround.

[2020-05-06 21:40] maxandersen commented on #8871
yes, I fully get that - this is for the case where majority of setup is exactly the same except for a few parameters.

I'm not sure the "app" approach would cover the aspect of being able to layer things in the deployment usecase (i.e. variations wether you target minikube or openshift) ?

[2020-05-06 21:41] maxandersen commented on #8871
I can see usecases for that - but also kinda hoping we had a way to say "quarkus.http.enabled=false" - you still want all the other setup happening just that in this run variation I don't need http requests handled.

[2020-05-06 21:51] danelowe commented on #9137
I have updated the `ports` branch to fix an annotation, and also adding copies of the injected classes into the same module as the resource.

https://github.com/danelowe/quarkusmm/tree/e04e779c19ed6250ea72379fa2877fd911df43e0

`web:quarkusDev` works when the import is changed from `import com.example.quarkusmm.port.CustomerService` to `import com.example.quarkusmm.samemodule.port.CustomerService`

[2020-05-06 21:57] aloubyansky commented on #8999
This and #9137 could be related.

[2020-05-06 22:02] aloubyansky commented on #8999
Your reproducers are great @mklueh, btw. Thanks a lot. I'm adding them to our testsuite.

[2020-05-06 23:15] #9087 closed

[2020-05-07 00:53] GregJohnStewart opened #9138 "Add Gradle explanation on how to incorporate Jacoco reports"
I use Gradle for my builds, and am having issues getting my Jacoco coverage reports to be accurate.

I know it is an issue that is addressed in the following guide, but the explanation and resolution is for Maven builds: https://quarkus.io/guides/tests-with-coverage#the-coverage-does-not-seem-to-correspond-to-the-reality and https://quarkus.io/guides/tests-with-coverage#instrumenting-the-classes-i

[2020-05-07 01:03] DorianMaliszewski commented on #9123
Ok so my vendor_agroal_active_count is increasing over the request, so what did you do ? The only error I took is Jackson mapping statement error ? Is this error which doesn't close the statement ?
Sometimes I get jackson error : Could not prepare statement for id .....

[2020-05-07 01:15] DorianMaliszewski commented on #9123
The `vendor_agroal_active_count` only increase when i send multiple requests, not only when i get the error, but it doesn't increase at every request...

[2020-05-07 01:20] DorianMaliszewski commented on #9123
I tested :
- 1 request error
- 1 request no error

active count + 2

this is my method :
- JAX-RS Get on /blablabla/ : BlablaResource.java
- BlablaResource.java call the Request Scoped BlablaService.java method (findAll)
- findAll in BlablaService.java only do Blabla.findAll().list();
- BlablaResource.java get the list and do
- Response.ok(list.parallelStream().map(BlablaDTO:new).collect(Collector

[2020-05-07 02:27] bbcjunior commented on #8969
Hello @jaikiran , nice to meet you! My first time contributing here and using Quarkus a lot at the company I work.
Well, I think starting the java net tracing won´t help in this case because actually the proxy settings are being ignored by these quarkus versions (1.3.1 to 1.4.1).
Let me describe better, giving you 2 Scenarios:

**To Reproduce Scenario 1: Using quarkus 1.2.0.Final**
1. Clone the pr

[2020-05-07 05:45] DemiusAcademius commented on #9112
The problem was solved after I exit from IntelliJ, kill all Java processed and delete build directory (I use gradle). May be quarkus save old version of application.yaml and don't see new version?

[2020-05-07 05:53] tpenakov commented on #9054
Hi @pedroigor ,
Thank you for the feedback.
I've did it after I wrote the bug. Initially I have been started with Reactive Routes, however during that time there was a #5809 problem, so I've switched to Undertow.
Now I am back to reactive routes. IMO - they are most suitable for REST API, because the Undertow have some unexpected side effects - for example it interpreted the PATCH method to GET an

[2020-05-07 05:53] #9054 closed

[2020-05-07 06:02] jaikiran commented on #8969
Seeing that you are using an http endpoint (http://localhost:8080/country/name/brazil) your proxy settings should set the `http` equivalent system properties (in your example you are setting the `https` system properties) as follows:
[code]
Can you give this a try? As to why it was "working" in previous 1.2.x version, maybe there was a bug which got fixed to use the right system properties for the

[2020-05-07 06:07] jaikiran commented on #8969
I gave this a quick try by setting the `http` system properties with 1.4.1.Final of Quarkus and got the expected exception:

[code]
then
[code]
got:
[code]

[2020-05-07 06:32] KienDangTran opened #9141 "`JsonWebToken` always null inside Uni/ Multi callback"
**Describe the bug**
I'm building API w/ `quarkus-vertx-web` & `quarkus-smallrye-jwt`. When I try call get claims values from`JsonWebToken` inside `Uni`/ `Multi` callback they're always `null` like this:

[code]

**Expected behavior**
Should return correct claims value

**Configuration**
[code]

[2020-05-07 06:35] geoand commented on #8593
@gsmet guess what happened...

Camel broke because of the DataSource change...

[code]

[2020-05-07 06:39] geoand commented on #8593
Although looking at the code it doesn't seem like `AbstractDataSourceProducer` is being used anywhere by Camel.

[2020-05-07 06:39] Mobe91 commented on #3374
@gsmet The guide under https://github.com/quarkusio/quarkus-ecosystem-ci/ says that I need to generate a github token from the user that opened this issue (in this case @soberich ). Since I am dealing with this integration it would be nice if I could use my own token. Should I create a new issue for this or how do you want me to go about it? As far as I understand, this token is only used initiall

[2020-05-07 06:43] mkouba commented on #9112
Ok. So I think that we can close this issue as it looks like some IDE/build tool caching problem.

[2020-05-07 06:43] #9112 closed

[2020-05-07 06:45] lburgazzoli commented on #8593
We do get the datasource through CDI, i.e. we[ configure quarkus datasource](https://github.com/apache/camel-quarkus/blob/master/integration-tests/jdbc/src/main/resources/application.properties#L25-L28) then we retrieve it in our jdbc component

[2020-05-07 06:47] geoand commented on #9129
Makes sense - I'll take care of it.

[2020-05-07 06:48] geoand commented on #8593
@lburgazzoli can you point me to the code that retrieves the datasource?

[2020-05-07 06:53] geoand commented on #3374
@Mobe91 your understanding is correct.

You should open a new issue with your user  and then create a token for you user and configure it in the secrets of your repo. You can see the process [here](https://www.youtube.com/watch?v=VpbRA1n0hHQ)

[2020-05-07 06:59] Mobe91 opened #9142 "[CI] - Blaze-Persistence + Quarkus main"
This issue will be open and closed dependent on the state of https://github.com/Blazebit/blaze-persistence building against Quarkus master snapshot.

If you have interest in being notified of this subscribe to the issue.

[2020-05-07 07:05] Ladicek commented on #8469
@pedroigor I'd say "is not so obvious" is an understatement. One, I had no clue this mirrors some Keycloak configuration that I could look at. Two, I had to step through the `quarkus-keycloak-authorization` extension code _in a debugger (!)_ to find these configuration options and how to use them.

Given that Quarkus has (wants to have) a monopoly on configuration, the properties must be documente

[2020-05-07 07:14] rvansa commented on #9111
The contract suggested in the issue makes perfect sense to me, though I am afraid that it would break existing deserializers that don't expect the initial `START_OBJECT`. I don't think Yasson would like to do such breaking change.

At the same time calling `jsonParser.getValue()` is not a good option because if there is an object this call would fully read it into `JsonObject` instead of letting t

[2020-05-07 07:20] loicmathieu commented on #9128
PR #7236 will provide access to the entityMAnager from base entity/repository.
I will ping the author as it is stuck in a change request for some times.

[2020-05-07 07:22] loicmathieu commented on #9128
And this issue is a duplicate of #7233 so I'm closing it.
You can add feedback on #7233.

[2020-05-07 07:23] #9128 closed

[2020-05-07 07:23] loicmathieu commented on #7233
For the record, the entityManager should be accessible from the base classes: `PanacheEntityBase` and `PanacheRepositoryBase`.

[2020-05-07 07:29] mkouba commented on #9136
I'm not sure I fully understand. So this should only work for config properties?

cc @geoand you might be interested in this one.

[2020-05-07 07:33] geoand commented on #9136
Right, this is indeed very interesting.

So basically you want `ConfigProperties` but with the prefix set at the call-site, right?

[2020-05-07 07:33] michalszynkiewicz commented on #9083
@harshmadhani would you like to take this one?

[2020-05-07 07:42] harshmadhani commented on #9083
Yes @michalszynkiewicz I will take this up

[2020-05-07 07:53] lburgazzoli commented on #8593
I did test quarkus master against camel and it does not fail for me so it looks like there's a wrong dependency pulled in

@quarkusio/devtools
@gsmet

[2020-05-07 07:54] michalszynkiewicz commented on #9083
@sberyozkin is there anything more than the tests in the Quarkus repo that is worth checking after the version bump?

[2020-05-07 08:03] geoand commented on #9132
If push comes to shove, you could always generate the missing constructor in the Quarkus extension.

[2020-05-07 08:04] #3454 closed

[2020-05-07 08:13] bsamartins commented on #8964
Thanks, it's skipping the abstract class now.

[2020-05-07 08:15] loicmathieu commented on #7986
@Gui-Yom now that 1.4.2.Final is out, can you try it ?

[2020-05-07 08:17] geoand commented on #9064
I'll make a first pass on the mailer extension to simplify it's CDI configuration. That should pave the way for supporting multiple SMTPs.

[2020-05-07 08:22] FroMage commented on #9141
This looks like a context propagation issue. Perhaps `jwt` is a request-scoped bean?

[2020-05-07 08:29] #9050 closed

[2020-05-07 08:49] gytis commented on #8700
I'll take care of this. Feel free to assign me.

[2020-05-07 08:56] aloubyansky commented on #9137
One of the issues related to the project setup is that the Jandex index is not available in the output directories (classes or resources). It's added directly to the JARs. While in dev mode we are not using the JARs but the classes and resources dirs, since we need to be re-compiling after changes. As a consequence, the subprojects are not included into the CDI processing. As a quick workaround I

[2020-05-07 09:06] brunobat opened #9146 "maven-quarkus-plugin fails if base dir is /something/ and project has parent pom"
**Describe the bug**
maven-quarkus-plugin fails on build stage if base dir is /something/ and project has parent pom.
It fails with a null pointer exception.

This is problematic becase the project builds nicelly and then it fails on our pipeline, once we try to build the project inside a container...

Full stack:
`[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.4.2.Final:build (d

[2020-05-07 09:12] aloubyansky commented on #9146
Should be fixed by #9116

[2020-05-07 09:12] #9146 closed

[2020-05-07 09:14] brunobat commented on #9146
thanks @aloubyansky

[2020-05-07 09:32] famod commented on #9093
/cc @quarkusio/devtools (quarkusbot seems to have missed this)

[2020-05-07 09:35] famod commented on #9093
@aloubyansky & @geoand WDYT?

[2020-05-07 09:35] famod commented on #9094
@aloubyansky & @geoand WDYT?

[2020-05-07 09:36] mkouba commented on #9132
Hm, I think that this could be related to https://github.com/quarkusio/quarkus/issues/9050 which should be fixed in master. @aguibert Could pls test your reproducer with the current master?

[2020-05-07 09:55] geoand commented on #9094
An opt-out flag sounds reasonable to me.

[2020-05-07 09:56] geoand commented on #9093
I don't have an educated opinion on this unfortunately

[2020-05-07 10:09] soberich commented on #3374
@Mobe91 For sure. I never get to this and only viewing this great progress from the side.

[2020-05-07 10:21] mkouba commented on #7876
@tomekl007 @stuartwdouglas You should not work with `Bean<>` metadata but use `Arc.container().instance(EventLoopGroup.class, new AnnotationLiteral<MainEventLoopGroup>() {}).get()` instead.

In fact, we could add a shared literal directly to the `MainEventLoopGroup` qualifier, something similar to `javax.enterprise.inject.Default.Literal.INSTANCE`. I'll send a PR later today.

The bean is `@Applic

[2020-05-07 10:23] aloubyansky commented on #9093
@famod i'd say that's not a big deal. However, could you just give an simple example of a project? That does look a bit unusual.

[2020-05-07 10:27] mkouba commented on #7876
So once [this PR](https://github.com/quarkusio/quarkus/pull/9148) is merged you could do `Arc.container().instance(EventLoopGroup.class, MainEventLoopGroup.Literal.INSTANCE).get()`

[2020-05-07 10:36] sberyozkin commented on #9141
Yes, it is request scoped

[2020-05-07 10:52] rvansa opened #9149 "Warn when using old image in Docker files"
**Description**
In a project that started around quarkus 0.x we have old base images (`fabric8/java-alpine-openjdk8-jre` for the JVM version). We bump quarkus version from time to time but the base images get forgotten - it would be nice if `quarkus:dev` or similar often run feature would warn about using image that's not tested with recent quarkus.

**Implementation ideas**
Also the quarkus app i

[2020-05-07 11:18] tomekl007 commented on #7876
@mkouba I was trying your solution and when doing:
[code]
or
[code]
both returns nulls for eventLoop.
What surprises me is that when doing inject of bean in the integration test:
[code]
both calls are returning expected bean. It seems that there is some lifecycle issue.
When the bean is injected using `@Inject` annotation, the `Arc.container()` is having the bean; otherwise, it does not. Is it exp

[2020-05-07 11:22] lburgazzoli opened #9150 "create a camel group"
GitHub IDs:

- davsclaus
- lburgazzoli
- ppalaga
- jamesnetherton

[2020-05-07 11:23] machi1990 commented on #7876
@mkouba is it because the beans are removable ?
https://github.com/quarkusio/quarkus/blob/master/extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java#L185

[2020-05-07 11:25] mkouba commented on #7876
@tomekl007 @machi1990 Yes, I'll update my PR. The synthetic beans should be unremovale:
https://github.com/quarkusio/quarkus/blob/master/extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java#L168
https://github.com/quarkusio/quarkus/blob/master/extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java#L174

[2020-05-07 11:28] mkouba commented on #7876
PR updated.

[2020-05-07 11:34] sberyozkin commented on #9083
HI @michalszynkiewicz @harshmadhani

`securiry-openid-connect-*` quickstarts at https://github.com/quarkusio/quarkus-quickstarts.
2 of them have tests but this one, https://github.com/quarkusio/quarkus-quickstarts/tree/master/security-openid-connect-quickstart requires a manual check starting from:
https://quarkus.io/guides/security-openid-connect#starting-and-configuring-the-keycloak-server

[2020-05-07 11:37] machi1990 commented on #7876
I noticed those too. Is there any difference in adding them here over here https://github.com/quarkusio/quarkus/blob/master/extensions/netty/deployment/src/main/java/io/quarkus/netty/deployment/NettyProcessor.java#L185?

[2020-05-07 12:03] mkouba commented on #7876
@machi1990 `BossEventLoopGroup` and `MainEventLoopGroup` are just qualifiers. We need them to be indexed but no beans are created from them.

[2020-05-07 12:05] maxandersen commented on #9150
github group @quarkusio/camel created - 3 pending invites that needs confirming before they will get notiifed.

if you want zulip i'll need their zulip names too..

[2020-05-07 12:05] FroMage commented on #9141
In that case you need context propagation, but with Uni it should be automatic, no, @cescoffier ?

[2020-05-07 12:07] lburgazzoli commented on #9150
can you also add gnodet ?

[2020-05-07 12:09] maxandersen commented on #9137
is there a (good?) reason why we add jandex directly to jars and not in the classes/resource dirs for later packaging ?

[2020-05-07 12:24] natanielpaiva opened #9152 "Problems use spring data in version 1.4.2 of Quarkus"
**Describe the bug**
Problems in version 1.4.2, the version 1.3.2 are working
.m2/repository/org/eclipse/yasson/1.0.7/yasson-1.0.7.jar; zip file is empty

**To Reproduce**
Steps to reproduce the behavior:
1. Download spring-data-jpa-quickstart

[code]

[2020-05-07 12:33] aloubyansky commented on #9137
We aren't doing that at all.

[2020-05-07 12:34] sberyozkin commented on #9141
@KienDangTran You've mentioned in Zulip that it works in one part of your code while does not work above. Can you please post the complete code showing where it works and where it does not

[2020-05-07 12:36] cpmoore commented on #9136
@geoand

Bingo! In my opinion it would allow for easier reuse of custom libraries. Glad you figured out what I meant, I’m not always great at fully explaining my ideas. lol

[2020-05-07 12:38] geoand commented on #9152
I just tried the `spring-data-jpa-quickstart` and it worked fine.
Furthermore, I don't see the error in the output you pasted.

This looks like a corrupted `.m2` problem. So I propose you remove `.m2/repository/org/eclipse/yasson/1.0.7/yasson-1.0.7.jar` to force Maven to re-download it and in the meantime I will close this issue as it doesn't have anything to do with Quarkus.

[2020-05-07 12:38] #9152 closed

[2020-05-07 12:38] geoand commented on #9136
Thanks for confirming!

It's an interesting addition, I'll look into it.

[2020-05-07 12:39] pedroigor commented on #8469
@Ladicek You are right. We can definitely include the config options as we have for other extensions.

I'm going to update docs to make more clear the extension is related to Keycloak Policy Enforcer as well as add the config options.

[2020-05-07 12:49] henrique-mmartins opened #9155 "Configure quarkus-oidc to use any other vert.x oauth2 providers other than KeycloakAuth"
**Description**
Configure quarkus-oidc to use any other vert.x oauth2 providers other than KeycloakAuth

**Implementation ideas**
Right now quarkus-oidc only supports KeycloakAuth is there a possibility to add the other providers from vert.x oauth2 in the OidcRecorder?

[2020-05-07 12:54] Ladicek commented on #8469
Thank you!

[2020-05-07 13:00] sberyozkin commented on #9155
@henrique-mmartins It is called `KeycloakAuth` but all it does it uses a standard OIDC discovery protocol.
What issue are you seeing ?

[2020-05-07 13:03] famod commented on #9093
@aloubyansky
Something like this:
[code]
In `server` (could also be `dist`or whatever), everything comes together as an Quakus app.
The actual business concerns are implemented in separate modules (e.g. `billing`) which can use stuff from `shared`.
In this setup, `server` does not necessarily have to contain any java sources.

[2020-05-07 13:04] machi1990 commented on #7876
Ah right. Thanks.

[2020-05-07 13:11] marcinczeczko commented on #7846
There is S3 client fully quarkified (including support for native), PR #4968 just merged - to be part of 1.5.0

[2020-05-07 13:23] henrique-mmartins commented on #9155
Hey sberyozkin,

Please take a look at the code and the stack trace, maybe I'm doing something wrong.

- application.properties (I removed the tenant-id and client-id)
[code]

- The class with a secure endpoint

[code]
The application doesn't startup and gives the following error

[code]

[2020-05-07 13:28] sberyozkin commented on #9155
Hi @henrique-mmartins
It should most likely be
`quarkus.oidc.auth-server-url=https://login.microsoftonline.com/{tenant-id}`
try it please

[2020-05-07 13:34] oztimpower commented on #7846
Thanks @marcinczeczko I am looking forward to giving it a whirl.

[2020-05-07 13:35] sberyozkin commented on #9155
`quarkus.oidc.credentials.secret` should have a secret that will quarkus-oidc will use to authenticate to `https://login.microsoftonline.com/` when getting the tokens, etc. The JWK set for the local verification will be fetched as part of the discovery process

[2020-05-07 13:59] dependabot-preview[bot] opened #9158 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-05-07 14:05] #9158 closed

[2020-05-07 14:15] jmartisk opened #9159 "Jaeger tracing not working in native mode with "remote" sampler type"
With a remote sampler, you get
[code]

[2020-05-07 14:45] emmanuelbernard commented on #2303
Not even, see this loooong post https://github.com/quarkusio/quarkus/issues/2303#issuecomment-622331293

[2020-05-07 14:47] emmanuelbernard commented on #2303
So I considered the Gavin bracket syntax and was scared it would conflict with HQL but if it does not, I think that's the winner.
I need to let the `[and foo = ?1]`variant but I don't think that's quite that. It would be something like

`[( [a = ?1] and [b = ?2]) [or] c = ?3]` which is just wrong. Remember the operation moves up the tree.

[2020-05-07 14:51] harshmadhani commented on #9083
@sberyozkin Sure I will check the tutorial and test it as mentioned in the guide

[2020-05-07 15:11] aloubyansky commented on #9137
Another issue in your project @danelowe is you need to add `io.quarkus:quarkus-kotlin` to your `web` dependencies for the dev mode to work. I've got it working for `:web:quarkusDev` at least in #9099.

[2020-05-07 15:25] aesteve commented on #6424
I finally found a way to bypass this bug by NOT using the `@TestContainers` annotation, and using `QuarkusTestExtension` `start`/`stop` methods instead to setup / teardown the database. In case someone faces the same issue.

[2020-05-07 15:28] aloubyansky commented on #9137
Ok, so that's pretty much it for your case. For now you need to add `META-INF/beans.xml` to all the submodules including `web` and add the `quarkus-kotlin` extension for the relevant projects.

[2020-05-07 15:38] FroMage commented on #9025
OK, so it turns out that we were a bit optimistic when it came to generating count queries.

Initially I assumed all JPA queries started with "from X..." but then someone added support for "select distinct? foo from X", but only made it support a single column.

We do need to support the `distinct` use case because `select count(*)` will not lead to the same results as `select count(distinct name)

[2020-05-07 15:43] geoand commented on #9064
https://github.com/quarkusio/quarkus/pull/9151 makes things much simpler so when it's merged then it should be a lot easier for someone to work on this issue

[2020-05-07 15:44] FroMage commented on #9025
Also, this is not actually about paging, but about select clauses.

And also, it turns out I can't use a regex to match even the simple cases such as `select distinct? identifier (as identifier)?(, distinct? identifier (as identifier)?)*` because I'd need to drop the `as identifier` parts for `count`.

[2020-05-07 15:49] FroMage commented on #9025
I just learned that it turns out `count(dinstinct? expression)` only takes a single expression.

So I simply don't know how to turn `select distinct a, b` into a count query.

[2020-05-07 16:05] evacchi opened #9162 "@QuarkusTest throws java.nio.file.FileSystemNotFoundException when run in archetype IT test"
**Describe the bug**
Interesting edge case when `@QuarkusTest` runs as part of IT tests of an archetype. It resolves the class file to the wrong directory and throws a FileSystemNotFoundException.

**Expected behavior**
It should not throw

**Actual behavior**
it throws
[code]
and that's correct, because that path does not exist. If the generated project is moved to an entirely different location,

[2020-05-07 16:21] targeter21 opened #9163 "Command mode doesn't exit after unchecked exception"
**Describe the bug**
Command mode projects will not exit if an unchecked exception occurs (might not only be that, but that's how I reproduced it.). It will show the stacktrace then sit doing nothing.

**Expected behavior**
I would expect the application to exit after the stacktrace and any following code has executed.

**Actual behavior**
It shows the stacktrace but does nothing afterwards.

**To

[2020-05-07 17:17] aguibert commented on #9111
JSON-B was designed to sit on top of JSON-P, so normally this is not an issue -- custom deserializers get the full `JsonObject` and then read that to adapt into a POJO as needed. It sounds like you want to drop down the stack even further to cut out JSON-P in your deserializer? With the current versions of JSON B/P this is not really possible, but we could look at supporting this in future version

[2020-05-07 17:36] fjuma commented on #7481
Just FYI, I've created a blog post that describes Elytron's ACME client SPI in detail and how to make use of it:

https://wildfly-security.github.io/wildfly-elytron/blog/elytron-acme-client-implementation/

[2020-05-07 17:43] lower-case commented on #9109
Hi @rsvoboda , I recently came to know about Quarkus and I'd like to contribute to codebase. Please allow me to work on this issue.

We can expose a new variable to fix this issue and add the handling for same in RegisterForReflectionBuildStep.

`String[] names() default {};`

Please let me know your thoughts on this.

[2020-05-07 17:48] machi1990 commented on #9109
hi @lower-case feel free to give to take a shot at the issue. Ping us if you need any help, also do not hesitate to open a draft PR once you have a working something

[2020-05-07 18:15] amenic-hub opened #9165 "Certificate validation error while connecting to DocumentDB (via native) on aws"
**Describe the bug**
Hi everyone, I'm experiencing a problem while connecting to AWS DocumentDB using tls-encrypted connection.
Actually it happens only when building the executable in native mode, since by building as standard java application there's no issue.
Let's start by saying that I built the trustore following this guide:
[DocumentDB and TLS](https://docs.aws.amazon.com/documentdb/latest/

[2020-05-07 18:28] mklueh commented on #8999
Thanks, nice to hear :)

[2020-05-07 18:45] machi1990 commented on #9165
/cc @cescoffier @loicmathieu seems mongo related

[2020-05-07 18:54] bbcjunior commented on #8969
Hello @jaikiran!! The rest client endpoint that the quickstart example connects is https://restcountries.eu/rest/name/{name}
It is on connecting to the endpoint above that the proxy was supposed to be used, does it make sense? I didn´t even try using -Dhttp.proxyHost because my application and the quickstart's endpoint are ```https```.
The other endpoint you mentioned (http://localhost:8080/countr

[2020-05-07 19:06] Sanne commented on #9025
I'm afraid there isn't; besides.. why do you need the count for paging? Attempting to return a list of total pages?

Such transformations might get far easier with ORM6; untile we update I wouldn't know of a clean solution for this.

@sebersole am I correct?

[2020-05-07 19:59] rsvoboda commented on #9109
One thing to consider is when somebody defines both `targets` and `names`.

Older `targets` wins or items from `targets` and `names` should be combined?

[2020-05-07 20:03] aesteve commented on #8097
I tried, and for me it's absolutely not "working marvelously"
Sure, it started my container, ...

... , for EVERY test class of my project. Not just the ones declaring my `@QuarkusTestResource` container.

Maybe because I'm using Kotlin, or Gradle, or both @geoand . But although I thought `@QuarkusTestResource` was my way to workaround a bug reported in 1.0.2.Final, 5 months ago, to use TestContai

[2020-05-07 20:35] sebersole commented on #9025
Correct about which?

About questioning the whole idea of auto-magically doing paging counts?  I would agree about the dubiousness.

Or about it being easier or not with 6?  In theory having the semantic tree would make it easier to deduce the meaning and build an appropriate "select count" mutation.

[2020-05-07 21:08] maxandersen commented on #9150
all done.

[2020-05-07 21:08] #9150 closed

[2020-05-07 21:43] famod opened #9168 "list-extensions goal fails with NPE when dependency without scope in dependencyManagement"
**Describe the bug**
[This line in BuildFileMojoBase](https://github.com/quarkusio/quarkus/blob/1.4.2.Final/devtools/maven/src/main/java/io/quarkus/maven/BuildFileMojoBase.java#L83) can fail with a NPE because it expects a dependency from `dependencyManagement` to always have a `scope`.

[code]

**Expected behavior**
No NPE. Dependencies in `depenendencyManagement` _without_ a scope are perfectly

[2020-05-07 21:45] famod commented on #8837
Still happens in 1.4.2.Final in a project that I am now allowed to share.

[2020-05-07 23:13] remkop commented on #9058
I posted on the dev list and @stuartwdouglas and I briefly [discussed this](https://groups.google.com/d/msg/quarkus-dev/1cjp-ZTehsg/BLPy96raBwAJ). My example in that thread uses command mode, but this is not required. Quarkus can simply use picocli internally to (as @maxandersen suggested) populate the `@Option`-annotated fields and then process the resulting beans and pick up `@ConfigBinding` nex

[2020-05-08 04:40] oztimpower commented on #9165
Hi @amenic-hub this is the cacerts and libsunec.so issue. It's covered in the AWS Lambda Quarkus Extension docs.

May I ask what Quarkus extensions you are using, i.e. are you making these calls from AWS Lambda?

[2020-05-08 04:54] geoand commented on #8097
@aesteve if you have reproducer project that you could share, we would be happy to take a look.

[2020-05-08 05:02] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/98835682

[2020-05-08 07:29] oztimpower commented on #7362
Replicated the test per initial comment from @rsvoboda 23/2, and had the same outcome.

I updated the test with versions that are seen in the amazon-lambda-http (and amazon-lambda-http-resteasy) integration tests and got the same output as @rsvoboda 12/3.  Yet these exceptions for JVM and Native are upon shutdown, the tests do actually run.  The run loop in AmazonLambdaRecorder where the native ve

[2020-05-08 07:57] wjglerum commented on #2003
Last week I was facing the same problem. With the info I found scattered over Github and Zulip I could make it work. Created PR's for this issue to help others with this problem. Feedback highly appreciated :)

[2020-05-08 08:03] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/98938628

[2020-05-08 08:08] lower-case commented on #9109
Hey @rsvoboda , I suggest we should combine both, Users will mostly use **_targets_** annotation (as it's less error prone) and will use the **_names_** only if they have to register private classes( though can register both private and public classes). I'm working on draft PR and I'll push it soon.

Also, Please suggest If an explicit validation check is required to make sure that user is not usi

[2020-05-08 08:10] famod commented on #9168
cc @harthorst @tkalmar

[2020-05-08 08:14] aloubyansky commented on #9093
Ok, sure. Where is `application.properties` in your case, btw?

[2020-05-08 08:17] tomekl007 commented on #7876
Do you have some repository where snapshot versions are published?

I've done a workaround by using `@Inject` someplace in the code and then retrieving event loop group from the `Arc.conatiner()`:
[code]
The problem is that it seems that the `mainEventLoop` lacks implementation of needed methods. When trying to use `next()` method on the `EvenLoopGroup` I am getting the following error:
[code]
Bec

[2020-05-08 08:24] geoand commented on #9163
I can reproducer this

[2020-05-08 08:27] famod commented on #9093
We have have a modular YAML approach:
- commons for all in `shared-config` (`application-shared.yaml`)
- specific module specific config is located in the respective business module (e.g. `application.config` in `user-core`)
- `application.yaml` in `server` contains settings that are common to all but that are not relevant to dev-mode in the business modules (e.g. always include swagger-ui)
- we m

[2020-05-08 08:34] aloubyansky commented on #9093
And the resulting config is stored in the server module?
The reason I'm asking is that, resources should be considered as sources in our case. If the module contains no sources and no resources that'd be an edge case.

[2020-05-08 08:39] famod commented on #9093
Correct. It is generated/merged to `target/classes`.

Right now it is complaining only about `src/main/java`, not `src/main/resources`.
But I could even imagine valid cases where you don't even have `src/main/resources`.

[2020-05-08 08:40] aloubyansky commented on #9093
Would you like to submit a PR?

[2020-05-08 08:43] famod commented on #9093
Yeah, I can do that. So I'll simply remove it, right? The alternative to that would be _trying_ to detect whether we have a multi-module project. But that is not so easy.

[2020-05-08 08:46] aloubyansky commented on #9093
It's probably not that difficult, actually. You can get the Model and check whether it includes modules. And probably `project.getParentFile()` to check whether the parent project is a part of the workspace. Haven't actually verified it though.

[2020-05-08 08:49] amenic-hub commented on #9165
Hi @oztimpower and many thanks for your reply.

Actually I revised my dockerfile so that I can include the `libsunec.so` but I get the same exception.

As far as I can understand, in order to connect to Amazon DocumentDB I'm requested to use AWS-provided certificate authority that is not shipped in the default java/graalvm cacert, so I'm still using my custom trustore.
If you want to give it a try

[2020-05-08 08:56] marceloverdijk commented on #6458
@Sanne This was introduced in Hibernate `5.4.14`? That could explain why it was working correctly in Spring project. Probably that version of Spring Boot was using another Hibernate version.

[2020-05-08 09:03] BobClaerhout commented on #7404
Can we have a work around for this? Maybe it's an option to build and inject the AmqpConnection yourself and listen for the disconnect event and reconnect yourself?

[2020-05-08 09:21] famod commented on #9093
That won't work if using `mvn -f server` or `cd server && mvn ...`.

I have also thought about that but this might just be some common parent, not really a project-specific one.
On the other hand I don't think that anyone would use such a structure:
[code]
So, yeah - this might work (especially since it's just about a warning).

[2020-05-08 09:32] aloubyansky commented on #9093
Alright, looking forward to your PR.

[2020-05-08 09:42] geoand commented on #9168
@ia3andy is this something you would like to take care of?

[2020-05-08 09:48] brunohorta82 commented on #4005
you can send me the link to doc?

[2020-05-08 09:56] brunohorta82 commented on #4005
You can paste the link?

[2020-05-08 10:23] kgoedert opened #9174 "Hibernate validation error messages not showing on console"
**Describe the bug**
When using @Valid annotation, the error messages are not showing on quarkus console. Only on the client side. If the @Valid is not used, the error shows up on the console

**Expected behavior**
Any error that occurs to be printed on quarkus console

**To Reproduce**
[code]
[code]

[2020-05-08 10:31] machi1990 commented on #9109
I'd not throw an exception in this case but silently ignoring duplicates.

[2020-05-08 10:33] #8913 closed

[2020-05-08 10:48] pschyma opened #9175 "Zip File Closed Exception when building with Gradle"
**Describe the bug**
Quarkus Gradle build fails after upgrade to 1.4.2.Final using OpenJDK 11, but not with GraalVM 20.

**Expected behavior**
The build should not fail on OpenJDK 11.

**Actual behavior**
The build fails with an exception:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `./gradlew build`

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to

[2020-05-08 11:09] vladimirfx opened #9177 "java.util.NoSuchElementException: Property quarkus.application.name not found"
**Describe the bug**

Config quarkus.application.name not accessible in application.properties

**Expected behavior**

${quarkus.application.name} should be interpolated.

**Actual behavior**

java.util.NoSuchElementException: Property quarkus.application.name not found

**To Reproduce**
Steps to reproduce the behavior:
1. Generate Camel Quarkus (Gradle) project on Quarkus Starter
2. Set in applic

[2020-05-08 11:33] haraldatbmw opened #9178 "OpenShift deployment (quarkus-openshift extension) fails on Windows"
**Describe the bug**
OpenShift deployment using the quarkus-openshift extension fails on Windows.
The same project works fine on Linux.

**Expected behavior**
Deployment works on Windows too.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo https://github.com/haraldatbmw/quarkus-openshift-deployment
2. Login to your OpenShift cluster `oc login ...`
3. St

[2020-05-08 11:42] oztimpower commented on #9165
Thanks yeah I would be keen to give it try. I do a lot of work work EKS. More DynamoDB than DocumentDB, but it is an interesting challenge.

[2020-05-08 11:56] maxandersen commented on #9178
reproduced on windows:

[code]

[2020-05-08 11:59] sberyozkin commented on #9155
@henrique-mmartins Have you made it work ? thanks

[2020-05-08 12:00] #9129 closed

[2020-05-08 12:09] geoand commented on #9177
This only affects tests (a known limitation), dev-mode and the jar work properly.

I propose that you do the following in order to make the property available in tests:

[code]

You could also set the value manually to what the artifactId of the project is (this is what Quarkus defaults to).

[2020-05-08 12:10] geoand commented on #9175
cc @aloubyansky since you might have already fixed this or looked into similar issues.

[2020-05-08 12:49] geoand commented on #9178
@iocanel this need to be fixed. Basically it looks like `S2iProcessor` is assuming Unix path only, which results in failure on Windows.

I could obviously blindly replace with platform paths, but I think it's best if you take a look and see if there might be more things going in s2i that could fail (or be improved to not depend on paths).

Furthermore, we need to find a way to get s2i running as p

[2020-05-08 12:49] maxandersen commented on #9178
S2iProcessor.java does a a bunch of path lookup/comparisons that assumes linux style paths, i.e. `resources/kubernetes.yaml`  instead of `resources\kubernets.yaml`

[2020-05-08 13:03] vladimirfx commented on #9177
Not, exactly dev mode not work

./gradlew quarkusDev

[2020-05-08 13:05] vladimirfx commented on #9177
I can provide simple test project.

[2020-05-08 13:06] geoand commented on #9177
Then that is new. Yes please create a sample project and attach it to the issue.

[2020-05-08 13:06] geoand commented on #9177
cc @aloubyansky how has done a lot of Gradle work lately

[2020-05-08 13:31] famod commented on #8981
Ran into this problem, again.

@michalszynkiewicz Which `gradle.properties` do I have to modify? Sorry, Maven-user.
I tried `devtools/gradle/gradle.properties` but that did not change anything.

[2020-05-08 13:44] vladimirfx commented on #9177
Sample project. Generated from Starter, removed irrelevant REST resource and added Camel route.

[9177.zip](https://github.com/quarkusio/quarkus/files/4599273/9177.zip)

[2020-05-08 13:51] jaikiran commented on #9175
There appears to be a PR with a potential fix for this issue https://github.com/quarkusio/quarkus/pull/9170

[2020-05-08 14:06] DorianMaliszewski commented on #9123
**Problem found**

Ok, so after multiple tests, I find where is the problem :
- Hibernate Panache

I don't know why but when I call Blabla.list("service = ?1", id) it works but doesn't close the statement, and in my metrics the `agroal_active_*` is increasing.

**To resolve that**

I just injected the entityManager in my service class and make the request

**Detail of my process**

May be the stat

[2020-05-08 15:38] amenic-hub commented on #9165
Well, I did... but unfortunately I keep getting the exception.

This is the full content of my cacerts file:
[code]

As you can see is made up of default CAs, plus the ones imported with the aws-provided script.

This is my updated dockerfile
[code]

Is the mongo client looking at system properties when built in native mode? It seems like properties are ignored.

[2020-05-08 15:39] geoand commented on #6424
Would love to see a reproducer of what you are mentioning @aesteve

[2020-05-08 15:44] lower-case commented on #9109
Hey @machi1990  @rsvoboda Please review this Draft PR and provide your feedback. Please let me know If I've missed some convention or I've missed something. I'm going through the codebase to get an idea of testing framework for this fix.

[2020-05-08 16:17] absurdfarce opened #9183 "[CI] - Cassandra extension + Quarkus main"
This issue will be open and closed dependent on the state of https://github.com/datastax/cassandra-quarkus building against Quarkus master snapshot.

If you have interest in being notified of this subscribe to the issue.

[2020-05-08 17:28] pschyma commented on #9138
Hi,

this is how I use it in a project right now:
[code]

It's rather complicated due to:
1. Quarkus uses hard-coded paths for sources
2. There is no out-of-the box offline instrument task

The jacoco plugin tasks have exceptions from the jacoco agent complaining about already processed classes, but the coverage works.

For java one needs to change the path in `outputDir`.

[2020-05-08 18:32] pmlopes commented on #8396
It seems you have a logging bug on quarkus side, as you can see the level of those messages is `FINE` (which lower than `DEBUG`) and you configured it as `DEBUG` and they still show up. So somewhere the logging framework is wrong. Vert.x doesn't include any loggers so the level is not configured correctly somewhere else.

[2020-05-08 19:09] pschyma commented on #6424
I'm using TestContainers by specifying a tc jdbc URL in application.properties like shown in [1]: `jdbc:tc:postgresql:///databasename`. So I don't need to use test resources. Is this an option for you   @aesteve ?

[1] https://www.testcontainers.org/modules/databases/jdbc/

[2020-05-08 21:27] adrianfiedler commented on #8710
Hi @gsmet,
what exactly would be the idea here? I guess there is a need for a new runtime config `quarkus.smallrye-opentracing.enabled` boolean (default true). And this should then set implicitly `quarkus.datasource.jdbc.driver=io.opentracing.contrib.jdbc.TracingDriver` and `quarkus.datasource.jdbc.url=jdbc:tracing:<rest>`? Not sure where this replacement should happen. Also not sure what happens

[2020-05-09 05:54] #9168 closed

[2020-05-09 06:40] maxandersen commented on #9137
that was my question - why not ? :)

[2020-05-09 08:15] lower-case commented on #9121
Hi, I'm new to Quarkus and I'd like to work on this enhancement. I checked the code and got a basic idea of what to fix.
I've a doubt, Do we have to provide backward compatibility for existing projects using these properties?
Please advise.

[2020-05-09 08:18] aloubyansky commented on #9137
Generating jandex index for every module of a multimodule project by default? How will that be expressed? Anyway, I am not sure it will be a desired default. Feel free to open an issue for it.

[2020-05-09 09:58] famod commented on #9168
@geoand Thanks for merging!

I wondered whether this should be backported to 1.4 since it is not that uncommon to have dependencies without a scope in depMgmt. I haven't checked yet but I think all *extension mojos are affected, not just list.

[2020-05-09 10:04] geoand commented on #9168
That's a good idea, I'll add the tag (although I am not sure we will do another 1.4.x - we'll see)

[2020-05-09 12:00] arvidvillen commented on #8277
Tested against master and it now works.

[2020-05-09 12:00] #8277 closed

[2020-05-09 12:32] gastaldi commented on #9175
Mind providing a reproducer project? I created one using the following command and it works for me:

[code]

[2020-05-09 12:32] arvidvillen opened #9187 "Support @RequestScoped Java records"
**Description**
It would be nice if you could use Java 14 records in CDI/arc producer methods.
Currently you get the following (build time) exception:
[code]

**Example**
Example project using a record producer:
https://github.com/arvidvillen/quarkus-producer-records

**Implementation ideas**
Im not sure this is technically possible (or if it’s a good idea) so feel free to reject this issue if you

[2020-05-09 12:42] pedroigor opened #9188 "Check whether or not a thread is already blocking before submiting tasks to Quarkus executor"
**Describe the bug**
When a Vert.x route is already executing blocking code, some extensions that use Quarkus executor (e.g.: `quarkus-resteasy`) dispatch tasks without checking whether or not the thread is already blocking.

**Expected behavior**
When not running in the event loop, the Quarkus executor (and extensions) should just execute code without starting a new worker thread.

**Actual behav

[2020-05-09 13:59] AmsterdamFilho commented on #9141
I already created a similar issue #8538

It has a reproducer

[2020-05-09 14:05] AmsterdamFilho opened #9189 "BigDecimal might not be automatically registered for reflection"
**Describe the bug**
When starting a Quarkus application, it displays the warning:
Unable to properly register the hierarchy of the following classes for reflection as they are not in the Jandex index:
    - java.math.BigDecimal

**Expected behavior**
No warning should be displayed and BigDecimal should be automatically registered for reflection.

**Actual behavior**
The warning is displayed and (

[2020-05-09 14:24] fahad-israr commented on #4124
# Facing similar issue
`ERROR [io.qua.application] (main) Failed to start application: java.lang.RuntimeException: Unable to start HTTP server
	at io.quarkus.vertx.http.runtime.VertxHttpRecorder.doServerStart(VertxHttpRecorder.java:415)
	at io.quarkus.vertx.http.runtime.VertxHttpRecorder.startServer(VertxHttpRecorder.java:188)
	at io.quarkus.deployment.steps.VertxHttpProcessor$openSocket31.deploy_

[2020-05-09 16:14] geoand commented on #9187
I think it should work if you try using `@Singleton` scope.

Can you give it a try?

I'm not sure what we can do about the other scopes. It would probably need investigation.

[2020-05-09 17:22] beikov commented on #3374
The ecosystem-ci almost works now and we are about to release our current version. How can we get listed then in the extension catalog at https://code.quarkus.io/ ?

[2020-05-09 17:26] geoand commented on #3374
That requires adding the extension (when it's released) to the Quarkus platform: https://github.com/quarkusio/quarkus-platform

[2020-05-09 17:37] arvidvillen commented on #9187
Indeed `@Singleton` works 😊
However, most of **my** use cases are `@RequestScoped` scoped.

[2020-05-09 18:00] rquinio commented on #9162
I've got this issue as well. Just to clarify, here's an example of workaround:

[code]

[2020-05-09 19:02] arielcarrera opened #9191 "Spring Data Extension: Support for constraints traversing nested properties in Query method"
**Description**
Currently when you try to traverse a nested property in a Query Method with "Quarkus - Spring Data Extension" you get an error.
If you have an entity "Parent" with a "Child" reference like this:

[code]

Current error:
io.quarkus.spring.data.deployment.UnableToParseMethodException: Entity xxxx does not contain a field named: Child_Id. Offending method is xxxxxx

**Implementation id

[2020-05-09 20:48] arielcarrera opened #9192 "Spring Data Extension: Support for primitive return types"
**Description**
When a method with @Query returns a boolean (or other primitive) value, an IllegalStateException is thrown.

**Implementation ideas**
Support for return types with primitive types (like Spring Data Jpa)
Eg.
@Query(value= "SELECT case when count(e1)> 0 then true else false end FROM MyEntity e1 "
			+ "WHERE e1.child.number = :number")
boolean existsByCondition(@Param("number" Intege

[2020-05-09 23:41] frederikb commented on #7175
Hi @johnaohara, am I correct in presuming that this PR remains in progress?

Are you going to add both GraalVM and JVM variants?

The [current implementation](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/quarkus/pom.xml) in their repo seems to be based on version 1.1.1 and [the results](https://www.techempower.com/benchmarks/#section=test&runid=600c3cb5-8e8c-4434-

[2020-05-10 07:40] geoand commented on #9192
Thanks for reporting!

#9193 should take care of it

[2020-05-10 08:44] mklueh commented on #8966
Running in this issue again, this time the legacy is set to true although I did not change any properties. As a work around I needed to set the legacy url too because it would otherwise be empty

[code]

[2020-05-10 08:48] mklueh commented on #8999
@aloubyansky I found out that it is related to the application.properties file in the **application/test/resources/** directory (which is also in the reproducer).

Removing that resolves this issue as well.

Could also be related to this post https://github.com/quarkusio/quarkus/issues/8966#issuecomment-622027248

[2020-05-10 08:59] pschyma commented on #9175
I'm trying to assemble one @gastaldi but it seems a bit tricky.

For what I can say now for the original project. The project consists of a `cli` (Quarkus + Java 11), `service` (Quarkus + Kotlin), `service-client` (MP client) and a `model` (Java 11) module. `cli` uses the REST client from `service-client` and all modules depend on `model`.

Here I see:
- It fails on OpenJDK in approximately 90% of

[2020-05-10 09:31] joemat commented on #9175
I had the same with my project yesterday, went back to 1.4.1 final and it worked again.

It's a very small backend project, maybe you can use this to find the cause

https://github.com/COVID-Report/wirvsvirus-backend-quarkus

[2020-05-10 09:51] aloubyansky commented on #8999
For tests, application.properties in test resources is expected to completely replace the main properties.

[2020-05-10 09:52] aloubyansky commented on #8999
I'll get back to this issue soon. Are you saying the test properties get in the way in production or dev modes?

[2020-05-10 11:36] mklueh commented on #8999
Great. I think most people are familiar with that way of defining test properties instead of doin it the Quarkus prefix way with %test. etc

In the reproducer I only managed to reproduce it when running unit tests, dev is working so far, but in my real project I´m running into this as well when running in dev mode. I´ll update the reproducer when I find the cause.

[2020-05-10 12:06] KienDangTran commented on #9141
@sberyozkin As I mentioned, It works when it's called outside Uni/Multi callback handler and doesnt work when it's inside. Here are sample code:

[code]

[code]

[2020-05-10 12:07] mklueh commented on #8999
@aloubyansky
After running Gradle clean and doing some changes I got it working (or better, not working) in the reproducer as well.

It seems deleting test/resources/application.properties can be a workaround for tests, but not for running the application with quarkusDev.

[2020-05-10 12:52] maxant opened #9194 "Exception logged by quarkus after SSE client is closed - "Failed to mark a promise as failure because it has failed already: DefaultChannelPromise failure: java.nio.channels.ClosedChannelException""
**Describe the bug**
I have a service method which SSE clients can use to subscribe to a stream. It returns a Multi. I have a second method which can be used to emit data. The SSE clients receive the data. Everything works fine, and as expected, except that after a client has disconnected, a warning is logged that it `Failed to mark a promise as failure because it has failed already: DefaultChanne

[2020-05-10 12:58] maxant commented on #9194
a working implementation of this can be found here: https://github.com/maxant/kafka-data-consistency/blob/master/objects/src/main/java/ch/maxant/kdc/objects/ObjectResource.java

[2020-05-10 13:46] sonu3706 opened #9298 "Unable to create instance of JwtClaimsBuilder"
@bobmcwhirter @adietish @gunnarmorling @Sanne @stalep

Issue while creating JWT token with quarkus-smallrye-jwt dependency
While creating token

`  JwtClaimsBuilder claims = Jwt.claims(jsonResName);` throws NPE.
Initially thought file is not loading may be the path of the file is wrong, but when I
tried to read the content of the file with below code, I am getting the content. So it means file pat

[2020-05-10 13:47] serrodcal commented on #8974
Hi, this is not a big deal but I'd like to know if you plan to fix this issue or not. It'd be interesting to be able to build distroless images to reduce the download time.

[2020-05-10 15:04] lower-case commented on #9122
Hi @sberyozkin , I'd like to work on this enhancement. I'm new to Quarkus. Please review my Draft PR and provide your suggestions.
Thanks in Advance!!

[2020-05-10 15:41] cescoffier commented on #8974
I didn't touch the distroless part for a long time. I will retry soon.

[2020-05-10 16:03] missourian55 opened #9196 "Gelf handler chunking messages"
**Describe the bug**
The gelf handler chunking the messages exceeding 8192 bytes, any meaning full java stack trace exceed this limits. Once messages are chunked Fluentd gelf input plugin rejects the chunked message because of unknown format and log statement never reach elasticsearch

**Expected behavior**
Allow users to configure the maximumMessageSize

```quarkus.log.handler.gelf.maximumMessage

[2020-05-10 16:06] Gui-Yom commented on #7986
I can confirm it is working as intended with 1.4.2.Final, without module exports.

[2020-05-10 16:13] serrodcal commented on #8974
Yeah, I saw the repository as well. Don't worry, this just a kindly reminder to improve that part. Any help from my side just tell me, because I have "realistic" application to test distroless images.

Thanks!

[2020-05-10 17:21] #9109 closed

[2020-05-10 17:43] sirAlexander commented on #5712
We use Spring webflux  and are interested in quarkus but 'mutiny' still looks and feels very alien to me. How about an example around migrating from webflux to quarkus including native builds.

[2020-05-10 18:09] geoand commented on #9121
Hi,

Yes, we absolutely do need to maintain backwards compatibility - at least for a while.
Which means that initially we need to have both properties.

[2020-05-10 18:11] geoand commented on #5712
Sounds look a good idea!

cc @cescoffier @jclingan

[2020-05-10 18:42] cescoffier commented on #7986
Great! Closing this issue then.

[2020-05-10 18:42] #7986 closed

[2020-05-10 18:44] cescoffier commented on #5712
WebFlux comes with a router model that is close to _reactive routes_. Unfortunately, the Mutiny integration in this area is a bit behind.

[2020-05-10 19:26] johnaohara commented on #7175
Hi @frederikb . Yes, this PR is still in progress, work on it has stalled recently. Atm, we are planning a JVM variant.

The current implementation contains some "interesting" design choices which really do not reflect the runtime performance of Quarkus.

The reactive benchmark implementation will be built on top of vert-x web, so I am expecting throughput to be just slightly less than the vertx-w

[2020-05-10 23:29] #9163 closed

[2020-05-11 02:34] KienDangTran opened #9200 "Quarkus Reactive Route misreads part of request URL as path variable"
**Describe the bug**
I have 2 routes like this:
[code]
but quarkus reactive route always read `me` as `id` param and throw error.

[2020-05-11 02:45] #9090 closed

[2020-05-11 02:45] #9137 closed

[2020-05-11 05:08] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/101098955

[2020-05-11 06:06] geoand commented on #9191
Hi,

This already works today, see https://github.com/quarkusio/quarkus/pull/9201 for some examples.

Can you share the code you are using that doesn't work?

[2020-05-11 06:38] ia3andy commented on #9168
@geoand sorry Friday was a National day in France 😅

[2020-05-11 06:43] rsvoboda commented on #9121
@geoand / @gsmet how should be such dual compatibility modes tracked? And for how long?

Is `@Deprecated` with some comment good enough for configuration properties?

[2020-05-11 06:44] mkouba commented on #7876
This should not be the case. How do you invoke the `EventLoopGroup`? It seems that the `AbstractMethodError` is related to the `EventExecutorGroup#next()` method which is overriden by `EventLoopGroup`. It could be that there is a bug in the generated client proxy.

[2020-05-11 06:45] geoand commented on #9121
I don't really know how long we should keep both of them around, but I would guess for at least two releases since the new property's introduction.

And yeah, I think a comment thinking to the new property would be enough. It should show up in the generated documentation automatically.

[2020-05-11 06:46] geoand commented on #9168
VE day, I had forgot about that initially :)

[2020-05-11 06:59] dawiki opened #9202 "Cannot execute more than 16384 requests without slow down in responses"
**Describe the bug**
When executing a lot of http requests, the application slows down (stops?!) responding after about 16384 requests sent. It is not always exactly that number but reasonably close

**Expected behavior**
Application is responding to http requests as quickly as possible considering system load and computation requirements

**Actual behavior**
The sample app ("GET /hello" -> hello

[2020-05-11 07:17] cescoffier commented on #9200
Conflict resolution documented in https://github.com/quarkusio/quarkus/pull/9203.

[2020-05-11 07:18] cescoffier commented on #9200
You need to add the `order` attribute to evaluate the routes in the right order:

[code]

[2020-05-11 07:27] cescoffier commented on #8538
It's a Context Propagation issue. Both the method returning a `CompletionStage` and a `Uni` fails.

CC @FroMage

[2020-05-11 07:28] tomekl007 commented on #7876
I confirmed that the bean returned from the `Arc.container()` is the same as injected using:
[code]
and it throws `AbstractMethodError` in both cases.
This is the place where `EvenLoopGroups` are injected:
https://github.com/datastax/cassandra-quarkus/compare/master...java2719#diff-2cda2a7b5c1ea59242c6192fe0b13d95R76-R91

The `EventExecutorGroup#next()` is invoked when the `CqlSession` bean is cre

[2020-05-11 07:29] geoand commented on #9202
cc @johnaohara

[2020-05-11 07:32] machi1990 commented on #9121
We do not generate doc for deprecated properties. But I think we should at least take use log a warning for deprecated properties - during build for build time configs and boottime for runtime configs. I am seeing this https://github.com/quarkusio/quarkus/blob/43ab7d436cc3442945d33259e5eeba59d4422d3b/core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigDiagnostic.java#L46-L48 but not

[2020-05-11 07:39] cescoffier commented on #8538
To clarify a bit, the Uni returned from the Rest Client does not get access to the request scope. I don't know where this Uni is created. @FroMage any idea? Is this in the extension or in RestEasy?

[2020-05-11 07:52] johnaohara commented on #9202
I can not recreate this on Linux using ab `Version 2.3 <$Revision: 1843412 $>`, it runs to completion for me.  Is there anyone with a mac that can recreate?

@dawiki  what happens if you use a different load generation tool?
e.g

1) download https://github.com/Hyperfoil/Hyperfoil/releases/download/release-0.8/hyperfoil-0.8.zip
2) unzip hyperfoil-0.8.zip
3) ./hyperfoil-0.8/bin/wrk.sh -c 10 -d 10s h

[2020-05-11 07:55] dawiki commented on #9202
hmmm .. looks like it is related to apache bench

[code]

[2020-05-11 08:00] dawiki commented on #9202
@johnaohara if it is ok for you I will close this ticket

[2020-05-11 08:03] johnaohara commented on #9202
@dawiki thank you for confirming, yes you can close this issue

[2020-05-11 08:03] #9202 closed

[2020-05-11 08:16] geoand commented on #6717
@gastaldi  it looks like the LDAP server is not coming up for `quarkus-elytron-security-ldap-integration-test`.

Would be able to take a look when you have some time or find someone to look into it?

[2020-05-11 08:22] geoand commented on #9196
@loicmathieu mind taking a look?

[2020-05-11 08:46] jnsfrg opened #9204 "MQTT client disconnects when receiving longer messages"
**Describe the bug**
In our application we are using the smallrye-mqtt extension to integrate our service into our existing landscape. When we try to receive MQTT messages containing more than ~9000 characters, the message is not passed to the @Incoming function nor is there any error message. After the sending the longer message the client disconnect from the MQTT Broker and doesn't receive any f

[2020-05-11 09:00] mkouba commented on #7876
So I think that the `AbstractMethodError` is thrown because the code attemps to call `io.netty.util.concurrent.EventExecutorGroup#next():EventExecutor` whereas the injected proxy only implements `io.netty.channel.EventLoopGroup#next():EventLoop`. I think that we need to add a _bridge method_ to the client proxy class for this particular case.

[2020-05-11 09:03] geoand commented on #9204
cc @cescoffier @michalszynkiewicz

[2020-05-11 09:18] iocanel commented on #6826
This should be closed

[2020-05-11 09:18] #6826 closed

[2020-05-11 09:20] iocanel commented on #7708
Haven't reproduced since, so I am closing.

[2020-05-11 09:20] #7708 closed

[2020-05-11 09:22] iocanel commented on #8659
Dekorate now recognizes `http1` and `h2c` as names referring to web ports, so if the user selects them it should work with no issues.

On top of that we need extra config options, to make selection of one or the other easier.

[2020-05-11 09:24] cescoffier commented on #9204
Which broker are you using?

[2020-05-11 09:28] mkouba commented on #7876
Hm, I've tried to compile a simple test but haven't been able to reproduce the problem with the missing bridge method. So I'll continue to investigate the issue...

[2020-05-11 09:34] jnsfrg commented on #9204
I am using a HiveMQ Broker v4.2.3 via the official docker image hivemq/hivemq4:4.2.3

[2020-05-11 09:37] pschyma commented on #9175
@joemat `./gradlew build` works for me in your project after starting a mongo db.

Some observations:
1. Executing `./gradlew build` compiles and tests the project without a failure, but after a couple of consecutive execution Gradle stops recompiling and testing, since it does not consider the tasks as changed anymore. This seems to be related to the Gradle Daemon: every time when Gradle recompil

[2020-05-11 09:39] cescoffier commented on #9204
Thanks! I will try to reproduce it and come back to you.

[2020-05-11 09:42] johnaohara commented on #6588
This was a tripped RSS check, will look to see if it is a genuine regression. I have asked @barreiro to improve the regression testing by averaging over a number of startups to reduce the number of false +ves. Also looking at adding some simple load testing to catch early throughput/response time regressions as well.

[2020-05-11 09:46] geoand commented on #6588
Thanks for checking @johnaohara

[2020-05-11 09:49] FroMage commented on #9025
Well, that's a feature a lot of people like, to be able to get a count of all results from a query so they can page it properly. So it's not like we have a choice in supporting it.

What we can do is figure out which queries are easy to generate a count for, and defer support for the others later.

But it looks like for now at least we're not getting help from the existing Hibernate API, too bad,

[2020-05-11 10:10] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/101295500

[2020-05-11 10:19] #9200 closed

[2020-05-11 10:20] #9093 closed

[2020-05-11 10:21] #8643 closed

[2020-05-11 10:32] tomekl007 commented on #7876
What is weird, is the fact that when injecting the `EventLoopGroup`:
[code]
in the test that uses:
[code]
The injected `EventLoopGroup` has a proper `next()` method - invocation of this method is successful. Both of those injections are happening in the same quarkus context run.
The `EventLoopGroup` injected in the test is of a proper type:
`io.netty.channel.nio.NioEventLoopGroup@4ce18cec`
but the

[2020-05-11 10:55] mkouba commented on #7876
That's wrong. The bean is `@ApplicationScoped` and so a client proxy should be injected.

[2020-05-11 11:34] mkouba commented on #7876
Hm, so it seems that Netty is compiled with JDK6 and the `EventLoopGroup.class` does not have the bridge method generated.

However in my test (see the classes below), compiled with JDK8 and JDK11 the `Loop.class` contains a bridge method and therefore the test passes.

[code]

[2020-05-11 11:34] sonu3706 commented on #9135
Verified in native as well it throws NPE.

[2020-05-11 12:25] sebersole commented on #9025
I mean I'm not sure what kind of "help from the existing Hibernate API" you are looking for.  You mean some form of:

[code]

?

Yeah, that's not going to happen.  Otherwise, make a suggestion

[2020-05-11 12:29] oztimpower commented on #9101
This is similar to #7362, which I was investigating.

You are using the Amazon Lambda HTTP extension? These exceptions are thrown as part of the Unit Test shutting down as opposed to an inherent issue. Needs cleaning up a bit like the Amazon Lambda extension has been recently.

[2020-05-11 12:45] #9189 closed

[2020-05-11 12:49] dmlloyd commented on #9121
Cases like this are probably best handled by using a redirecting interceptor so we don't have to introduce redundant methods with lots of extra checking.

We could add an annotation like `@RenamedFrom({ "oldName1", "oldName2", ... })` and the interceptor could detect the old names, log a warning, and rename the property before the config system gets it.

[2020-05-11 12:49] zeljkot opened #9209 "YAML configuration JSON schema"
**Description**
Provide JSON schema for the Quarkus YAML configuration. That will allow autocompletion and validation. For example, IntelliJ IDEA and Visual Studios support that. They can automatically download schemata from the SchemaStore.org.

[2020-05-11 13:07] oztimpower commented on #9101
Do you have a reproducer, ie how did you generate this project?

[2020-05-11 13:07] mkouba commented on #7876
FYI I'm going to try to change the scope to `@Singleton` so that client proxies are not needed.

[2020-05-11 13:13] gautric commented on #9204
hi @cescoffier

we can reproduce it with mosquitto too.

I just send this command (`mvnw` file is over 10k)

[code]

[2020-05-11 13:15] evacchi commented on #9162
this is another way to fix it, just change the test output directory in target:

[code]

[2020-05-11 13:58] gautric commented on #9204
hi all,

I think the max size (including header) is 8092 bytes.

I had noticed this information about this topic here.

https://github.com/vert-x3/vertx-mqtt/issues/10
https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/mqtt/mqtt.html#mqtt-installation
https://github.com/netty/netty/issues/9983

https://github.com/netty/netty/blob/4.1/codec-mqtt/src/main/java/io/netty/han

[2020-05-11 14:10] tomekl007 commented on #7876
To use the same styles and fonts that you have at your quarkus documentation website, we need to have access to those during the docs generation process.

Right now, I needed to copy all fonts from your project to our, i.e.:
https://github.com/datastax/cassandra-quarkus/pull/9/files#diff-54c256c156d3698f97366b10eddf148eR2-R14
but this solution of keeping fonts and styles in sync is fragile. Is the

[2020-05-11 14:10] loicmathieu opened #9210 "Provides automatic reference handling for MongoDB with Panache"
**Description**
In MongoDB, when we want one document to have a relation to an other one we have two options:

- Embeds the refered document into the referent document (possibly an array of document).
- Add a field with the identifier of the document (possibly an array of identifier) into the referent document.

The first is already possible, but mandate to duplicate the refered document into the

[2020-05-11 14:11] loicmathieu commented on #8369
@diogocarleto I openned an issue to discuss DBRef support: https://github.com/quarkusio/quarkus/issues/9210

I'll close this one as I don't think we can give you a better answer for it ;)

[2020-05-11 14:11] #8369 closed

[2020-05-11 14:12] FroMage commented on #9025
I was not really asking if you can make a new API, but if there already exists one that turns a query statement and turns it into a count statement. But yeah, ideally something that takes a `selectStatement` (in the words of the `HqlParser.g4` I copied from Hibernate 6) into one that returns a count query.

I figured perhaps with some luck you had that lying around somewhere in the API, but it's f

[2020-05-11 14:13] #9188 closed

[2020-05-11 14:17] loicmathieu opened #9211 "Provides a quarkus-mongodb-panache-kotlin extension"
**Describe the extension**
Provides a `quarkus-mongodb-panache-kotlin` the same way a `quarkus-hibernate-orm-panache-kotlin` was created to offers a more idiomatic Kotlin experience and workaround the issue with the Entity pattern with Kotlin

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

[2020-05-11 14:17] #9192 closed

[2020-05-11 14:20] FroMage commented on #9211
It's likely you'll need the same trick of creating a new module as I did in `quarkus-hibernate-orm-panache-common` to move the impl of MongoOperations and PanacheQueryImpl to be shared by kotlin/java. I don't think you'll need to make that module into a quarkus extension, though, unless you also have build steps to share.

[2020-05-11 14:29] sebersole commented on #9025
From time to time, people do ask how to do the same on forums, etc.  So I guess I can see where people would find it useful.

Anyway, if we can do something to make it easier for you to do it we should consider it.  Is there anything that would make it easier for you?

[2020-05-11 14:35] Sanne commented on #9025
@FroMage I have no doubts that "people would like to page properly" but I'm skeptical about us being able to automate it, without this becoming a significant project.

FYI in many databases the COUNT(*) query operation is very heavy, and takes approximately the same time as running the matching not-counting query.

The effect is extreme in some cases, to the point that for example in the MassIndex

[2020-05-11 14:41] loicmathieu commented on #9196
@missourian55 this is a trivial enhancement, and you give a strong explaination of why you need it so OK for me.
I'll work on a PR soon.

[2020-05-11 14:46] tobad357 opened #9214 "Gradle does not include test resurces when running tests"
**Describe the bug**
When running tests it seems like the Quarkus Classloader does not include ```build/resources/test/``` in the classpath but it does include

[code]
**Expected behavior**
Expected behaviour would be to include ```build/resources/test/``` when running unit tests

**Actual behavior**
See above

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a project with a properties

[2020-05-11 14:47] tobad357 commented on #9214
This worked in 1.2.1.FINAL so I'm assuming due to new classloader infra

[2020-05-11 15:03] aloubyansky commented on #9214
This should be fixed in master by #8930. We actually have a test for it https://github.com/quarkusio/quarkus/tree/master/devtools/gradle/src/functionalTest/resources/test-resources-vs-main-resources

[2020-05-11 15:03] #9214 closed

[2020-05-11 15:04] sberyozkin commented on #8396
@pmlopes The logging issue is really an orthogonal issue. The users may not even know what format the AT is in. The point is, in the code flow, we don't use it at all, we only use an ID token. From Auth0 [docs](https://auth0.com/docs/tokens/guides/validate-access-tokens) (we did not use them as a foundation, but FYI as it is inline with what Quarkus does in the code flow):
[code]
We may need to al

[2020-05-11 15:04] gytis commented on #9052
I'm happy to take a stab at this because we need it for Panache REST extension anyway.

As @loicmathieu suggested on https://github.com/quarkusio/quarkus/pull/9179, we could provide both page (`?page=1&size=20`) and range (`?from=1&to=20`) support.

I just did a quick try with `@BeanParam` and `ContainerResponseFilter` (to inject URL headers with prev, next, first and last). The JAX-RS resource lo

[2020-05-11 15:12] mbecca commented on #9101
Hello, this is my pom:

[pom.zip](https://github.com/quarkusio/quarkus/files/4610285/pom.zip)

I have a 2 tests:

HelloByNameLambdaTest:

[code]

HelloByNameLambdaTestIT.java

`@NativeImageTest
public class HelloByNameLambdaIT extends HelloByNameLambdaTest {

}
`

[2020-05-11 15:25] abelsromero opened #9216 "smallrye-metrics creates counter for private method but does not increase its value"
**Describe the bug**
(Describe the problem clearly and concisely.)

If you run a simple project with the following resource, you see the metric `application_build_message_total 0.0` (related to the private method down) being created as soon as the server starts.
However its value does not increase unless the `buildMessage` method is made public.

[code]

**Expected behavior**
(Describe the expecte

[2020-05-11 15:35] Adelrisk opened #9217 "smallrye-amqp connector does not respect incoming json content."
**Describe the bug**
The smallrye-amqp connector (in the extension `quarkus-smallrye-reactive-messaging-amqp`) does not seem to respect 'content-type' with the value 'application/json'. It delivers only the raw string to the called method.

**Expected behavior**
In the following method:
[code]
the metadata declares the content-type as `application/json` and the payload should be an instance of Jso

[2020-05-11 15:35] cescoffier commented on #9204
Issue fixed upstream: https://github.com/smallrye/smallrye-reactive-messaging/pull/541.

[2020-05-11 15:36] majonga88 commented on #8396
Hello @sberyozkin,

I'm sorry to reply lately. I trying to get permissions with your code, but i don't have this information.

<img width="408" alt="Screenshot 2020-05-11 at 17 33 21" src="https://user-images.githubusercontent.com/46779480/81580307-8f3d3580-93ad-11ea-859e-a7655519b2af.png">

However, i set correctly in Auth0, the permission to my user like this :

<img width="887" alt="Screenshot

[2020-05-11 15:52] #9159 closed

[2020-05-11 15:54] FroMage commented on #9025
@sebersole

Thanks, but I don't see what, unless it's done properly using the parser, and that's a lot of work to do, and to maintain.

I'll just implement it the hackish way for now, for the easy use-cases to implement without have to resort to the parser, and wait until users demand (with angry pitch-forks) support for the complex use-cases before bringing out the parser. When I do, I'll get bac

[2020-05-11 15:57] FroMage commented on #9025
Now, that's true, I've read it before. But don't forget that it does avoid transmission of the results to the ORM layer, and turning those rows to objects too. So from an ORM user's perspective, it's still faster than (unlimited) `.getResultList().size()`. Now, perhaps the DB is the bottleneck and its cost dwarfs the ORM overhead of turning it all into a list of objects, but that can't be the case

[2020-05-11 16:04] FroMage commented on #9025
I've put a PR at https://github.com/quarkusio/quarkus/pull/9218 it will extend the set of supported use-cases by 1 and throw for non-supported cases. It solves this issue and delays a requirement for a better implementation until pitch-forks are raised, which buys us time :)

[2020-05-11 16:06] mkouba commented on #7876
@tomekl007 I've sent a [PR](https://github.com/quarkusio/quarkus/pull/9213) to fix the problem with `EventLoopGroup` and client proxies. Once (and if ;-) merged, the `CassandraClientProcessor.configureRuntimeProperties()` build step will need to be annotated with `@Consume(SyntheticBeansRuntimeInitBuildItem.class)` to make sure the beans are accessed when the event loop bean is ready.

[2020-05-11 16:13] tobad357 commented on #9214
Thanks yes, seems I was on 1.4.1 and it didn't work, upgrade to 1.4.2 and works

[2020-05-11 16:30] aloubyansky commented on #9214
Thanks for checking!

[2020-05-11 16:34] Serkan80 opened #9219 "MongoDB like operator not working properly"
**Describe the bug**
I have the following Books in my collection:
 - Book(title=Harry Potter, author=JK Rowling)
 - Book(title=IT, author=Stephen King)

And when I do the following query:

    Book.list("title like ?1", format("/.*%s.*/i, "harr"));

I see the following on my console printed out:

    {'title':{'$regex':'/.*harr.*/i'}}

And I get 0 result back.

**Expected behavior**
I expect 1 res

[2020-05-11 16:41] bragadanilo commented on #1610
Any news on that? I'm also getting the same error.

[2020-05-11 17:15] Serkan80 commented on #9219
Yes correct, and this also works:
`{title: {{$regex: /.*harr.*/i}}`

[2020-05-11 17:21] henrique-mmartins commented on #9155
@sberyozkin sorry for the late response

I tested everything on the azure side to make sure it wasn't a mistake on the configuration of the AAD. The correct URL given the [Microsoft documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows) goes at follows:  https://{b2cDomainHost}/{tenantId}/{policyName}/v2.0/.well-known/openid-configuration/
That shoul

[2020-05-11 17:28] loicmathieu commented on #9219
@Serkan80 escaping with single quotes the operator is not the issue.
The issue is with the regex itself. You can define regex in two ways in MongoDB:

- Using a regular string => `'.*harr.*'` in this case (but you will be missing the `i` option for ignore case)
- Using a JavaScript regex => `/.*harr.*/` with this form you can add options to your regexes

We automatically escape the value of the pa

[2020-05-11 17:30] loicmathieu commented on #9219
So, to fix this we need, for the `like` operator, to check if the value of the parameter is a JavaScript regex and don't escape in this case.

[2020-05-11 17:37] Serkan80 opened #9220 "MongoDB findById not working"
**Describe the bug**
I have the following Books in my collection:

Book(id=5eb95b1a8a4314145246cc27, title="Harry Potter")

And the following code:

    @Path("/books")
    public class BookResource {

    @GET
    @Path("/{id}")
    public Book findById(@PathParam("id") String id) {
        return Book.findById(id);
    //        return (Book) Book.findByIdOptional(id).orElseThrow(() -> new NotFo

[2020-05-11 17:46] loicmathieu commented on #9220
@Serkan80 the id is of type `ObjectId` not String. It is serialized as String for convenience purpose.

Se you should use
[code]

[2020-05-11 17:47] henrique-mmartins commented on #9155
Hello @sberyozkin

I made it work!

[code]
And if I may, there is something that I would like to suggest: Please inform that the code appends the `/.well-known/openid-configuration/` to the end of the auth-server-url since it's not visible in the exception or the documentation

[2020-05-11 17:47] Serkan80 commented on #9219
Ok, then you need to document this well, because people have to know that you can use 2 types of regex. And only the JS one support case-insensitivity (and other options).

It would be nice to do it just 1 way with the options support.

For example:

    list("title like ?1", ".*myQuery.*", Options.IGNORECASE, Options.OtherOption, etc.);

And when you see that there are options provided, you just

[2020-05-11 17:50] andrejpetras opened #9222 "Add JPA StaticMetamodel classes to the native image"
**Description**
Add JPA `StaticMetamodel` classes to the native image.

**Implementation ideas**
[code]

[2020-05-11 17:51] loicmathieu commented on #9220
Maybe we need to improve our documentation around this ...

[2020-05-11 17:52] Serkan80 commented on #9220
Yes, definitely !

[2020-05-11 17:52] lower-case commented on #9121
Hey everyone, I've raised a draft PR for changes suggested by @dmlloyd. To keep it simple, I've added a new field in the current annotation instead of creating a new annotation. I request you all to kindly review my PR and provide your suggestions.
I also did some extra minor changes in ConfigInstantiator.java to get rid of some warnings by my IDE. Please suggest If I should remove them.

Thanks i

[2020-05-11 17:52] #9220 closed

[2020-05-11 17:54] loicmathieu commented on #9219
I guess that if people try to use one form or the other it's because they know they exist ;)

Unfortunatly, we cannot easily add options to the `list` method as you requested as the varags is for the parameters ...

So the best I can propose is to check if it's a JavaScript regex and don't escape in this case.

[2020-05-11 18:44] rsvoboda opened #9223 "Quarkus master / dev mode / --enable-preview - compilation fails after .java file edit"
Quarkus master / dev mode / --enable-preview - compilation fails after .java file edit

https://github.com/quarkusio/quarkus/pull/8279 should make dev mode ready to work with `--enable-preview` flag, but I'm struggling with it. Tried on Java 14 and Java 15ea and Quarkus master 079cf3925c

I can run dev mode, simple rest endpoint provides the content, it blows up when the simple jaxrs resource is e

[2020-05-11 19:48] HonoluluHenk commented on #9049
I'm trying to implement some Deserializer/BeanDeserializerModifier for a bunch of entities.

In my case: entities that implement a certain interface.
So i'm querying the EMF for all entities, loop over the ones that implement my interface and register the converters in a jackson module.

Pseudocode:
[code]

[2020-05-11 20:16] Serkan80 commented on #9210
Does this mean that when you retrieve a Book as Json, that you get the Id of the Author instead of the Author object itself ?

Thus:
`{
“author”: @refId(12345678)
}

[2020-05-11 21:30] HonoluluHenk commented on #8802
DevMode launches a fresh jvm for compilation (DevMojo$DevModeRunner).
Would it be possible to re-run/fork for the build-mojo in a similar way?

Seems like surefire also does [something similar](https://github.com/apache/maven-surefire/blob/master/maven-surefire-common/src/main/java/org/apache/maven/plugin/surefire/booterclient/ForkStarter.java) to support custom runtime arguments for tests.

[2020-05-11 21:55] nimo23 commented on #9187
I think `@Singleton` works because it does **not** use proxies..is there a performance benefit (speed, memory) when using `@ApplicationScoped` instead of `@Singleton`?

[2020-05-11 21:58] sberyozkin commented on #9155
@henrique-mmartins Thanks, I'll update the docs before resolving this issue.
In general `quarkus-oidc` should be capable of connecting to any OIDC server, it was a design decision that we made when moving from a Keycloak cebtric extensioin.
Cheers

[2020-05-11 22:05] danielpetisme commented on #9052
I came up with a similar solution here:
https://github.com/danielpetisme/jhipster-sample-app-quarkus-demo/blob/master/src/main/java/io/github/jhipster/sample/web/rest/OperationResource.java

Couple of comments.
- 'BeanParams` is neat solution but can't be configured. For instance changing the query param names or the default values.
- PageRequest and Page are duplicates, I don't see any value in h

[2020-05-11 22:06] sberyozkin commented on #8396
@majonga88 Np, thanks for a quick test.
So there is nothing in the id token. And the access token is opaque. Introspecting it remotely won't give any details but the status of the token plus few more properties.
So now the only way seems to be to do a user info request using this opaque access token.
I'll investigate, cheers

[2020-05-11 22:21] #9196 closed

[2020-05-11 22:54] missourian55 opened #9227 "@Inject with @Named causing the AWS Lambda bootstrap failure"
**Describe the bug**
I am getting Lambda Bootstrap Error when using **@Inject and @Named** on RequestHandler

**Expected behavior**
The CDI injection & Lambda functionality should work as described in the documentation.

**Actual behavior**
Bootstrap error and Lambda function doesn't work

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a AWS lambda project using Quakus maven

[2020-05-12 00:04] arielcarrera commented on #9191
Hi @geoand !
I think that it is related to [#5261](https://github.com/quarkusio/quarkus/issues/5261).
I updated my sample with a Mapped Superclass.

[2020-05-12 00:46] gastaldi commented on #6717
@sberyozkin is this something you can have a look at? Otherwise I can look when I'm back from PTO next week

[2020-05-12 04:37] #9066 closed

[2020-05-12 04:40] geoand commented on #8802
@HonoluluHenk unfortunately you need to manually set `MAVEN_OPTS="--enable-preview"` and / or `<argLine>${preview.arg}</argLine>` for Maven surefire

[2020-05-12 04:51] geoand commented on #9049
I see, so all you need are the entity classes, right?

[2020-05-12 05:10] daniel-alonso-sanchez commented on #8166
Ok!! Thanks a lot to you, @gwenneg and the rest of the team!

[2020-05-12 05:15] pivovarit commented on #8893
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/hazelcast/quarkus-hazelcast-client/actions/runs/102154404

[2020-05-12 05:28] mariofusco commented on #8694
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/102155243

[2020-05-12 05:56] geoand commented on #8893
Looks like a change we made, broke the extension. https://github.com/quarkusio/quarkus/pull/9231 should fix it

[2020-05-12 05:59] geoand commented on #8593
The latest failure should be fixed by #9231

[2020-05-12 06:04] cescoffier commented on #9204
To be fixed, it requires:

* a release of SmallRye Reactive Messaging
* Update the version in Quarkus

It should be done before 1.5.

[2020-05-12 06:22] geoand commented on #9223
@rsvoboda what does `pom.xml` looks like? Is it the pom.xml generated by our tooling?

[2020-05-12 06:26] geoand commented on #8694
@mariofusco the break was a problem on our side. #9231 should take care of the problem

[2020-05-12 06:27] majonga88 commented on #8396
Ok thanks a lot.

[2020-05-12 06:31] dforsl commented on #8958
+1 this change made things way less practical for us as well when working with Gradle. Getting it back as suggested above would be a huge improvement and more inline with how things "usually" work.

[2020-05-12 06:45] rsvoboda commented on #9223
https://github.com/rsvoboda/quarkus-jdk15/blob/master/pom.xml

see reproducer steps in description ;)

[2020-05-12 06:46] geoand commented on #9223
I _think_ we don't handle `maven.compiler.release` at all.

[2020-05-12 06:46] rsvoboda commented on #9223
It's generated by Quarkus maven tooling ++ adjustments for `maven.compiler.release` and `--enable-preview`

[2020-05-12 06:48] rsvoboda commented on #9223
I think I tried `release` tag too, with the same result.

[2020-05-12 06:50] tobad357 opened #9232 "Gradle - Inject beans from test configration in submodule"
**Describe the bug**
Setup a project with two modules (lib, app).
Create a bean in the test/src folder in the lib module and also add a bean.xml in src/test/resources/META-INF
Create a test in the app module under test/src and Inject the test bean from lib

Add dependency in app module
[code]

**Expected behavior**
The test should be able to use the bean from the test folder in the lib project

**

[2020-05-12 06:51] geoand commented on #9223
Could you give `source` and `target` a try as well? I am pretty sure those are handled properly

[2020-05-12 06:51] rsvoboda commented on #9223
I can confirm the same behavior for `<release>` tag.
Tried `<source>` and `<target>` tags too with the same failure.

[2020-05-12 06:52] rsvoboda commented on #9223
[code]

[2020-05-12 06:54] geoand commented on #9223
OK, thanks for checking.

I'll take a look at this before 1.5.CR1 goes out.