[2020-06-02 09:05] metacosm commented on #9629
Yep, but the intent is to remedy to this situation :)

[2020-06-02 09:06] geoand commented on #9707
I tried to reproduce this by creating a directory with Greek characters on Linux and wasn't able to - it worked properly :(

[2020-06-02 09:11] #5579 closed

[2020-06-02 09:24] anamarija commented on #9606
Hi,

I created an initial commit with the namedDataSource functionality, but I have some issues which I worked around but I should address them. Configuration clashes...
https://github.com/anamarija/quarkus/commit/f3d8c1662ec4831373c4c040e4a2b5afe25facb4

I created a small reproducer to test this behaviour.
https://github.com/anamarija/getting-started-reactive-crud.git

1. When I add
@ConfigItem

[2020-06-02 09:43] akoufa commented on #8152
@cescoffier Ok then, correct me if I am wrong, I have to use an `emitOn` to go back to a worker thread. Which executor do I have to use to get back to a JaxRS worker thread?

[2020-06-02 10:15] geoand commented on #6588
The JMS quickstart might be a little flaky @cescoffier

[code]

[2020-06-02 10:20] famod commented on #9354
_Update_, WIP PR: https://github.com/hibernate/hibernate-orm/pull/3412

There is still a lot to do and feedback is a bit sparse.

[2020-06-02 11:35] yanxuehe opened #9726 "Remove in RESTEasy causes for WARNING: An illegal reflective access operation has occurred"
[code]

I am facing this warnings with JDK 11.

[2020-06-02 11:42] sberyozkin commented on #9713
@ibuziuk Does it work in a non-native mode ?

[2020-06-02 12:07] tomgeorge commented on #9713
@sberyozkin It works in non-native mode (creating a jar and running `java -jar`)

[2020-06-02 12:10] dmlloyd commented on #2489
I'm piloting a rough draft of this in https://github.com/smallrye/smallrye-config/pull/310; @radcortez is trying a different approach (reusing Bean Validation annotations) in https://github.com/smallrye/smallrye-config/pull/317.

[2020-06-02 12:12] Xanas80 commented on #7199
After some Zulip discussions, i know the Problem.

For the correct execution order, i have to use it like this:
`@ExtendWith({QuarkusTestExtension.class, MyExtension.class})`

But that issn't the real problem, it is

[code]

so I am not able to resolve the injected EntityManager

[2020-06-02 12:13] dirkweil opened #9727 "Quarkus dev mode failes, if maven packaging is defined by a variable (property)"
If maven packaging is defined by a property, dev mode hangs on startup.

The bug is described in https://github.com/GEDOPLAN/quarkus-devmode-fails-for-variable-packaging.

&lt;tl;dr&gt;
&lt;packaging&gt;${packaging.type}&lt;/packaging&gt;

  &lt;properties&gt;
    &lt;packaging.type&gt;jar&lt;/packaging.type&gt;
  &lt;/properties&gt;

  mvn quarkus:dev hangs in application int.

[2020-06-02 12:19] kenfinnigan commented on #9398
Is the ask here to, abstractly, add a better API for registering metrics to be output?

[2020-06-02 12:24] kenfinnigan commented on #9059
Slight tangent, but we're beginning to work on OpenTelemetry for Quarkus and SmallRye, which is the replacement for OpenCensus.

[2020-06-02 12:34] Sanne commented on #9354
sorry for the delays @famod , I've been dragged into urgent bugfixes and couldn't check this out yet .. but we'll get to it eventually!

[2020-06-02 12:38] geoand commented on #9727
Using Quarkus from `master`, we see this error:

[code]

[2020-06-02 12:39] gastaldi commented on #6033
I have started something in: https://github.com/gastaldi/quarkus-cli

[2020-06-02 12:41] geoand commented on #9713
What part of the application code is failing? It's sort of unclear now...

[2020-06-02 12:46] svenhaag commented on #2489
Both issues are simply awesome, but I would prefer Bean Validation too over custom annotations. Cheers.

[2020-06-02 12:52] geoand commented on #9727
This is a real corner case. Basically what happens is that `${packaging.type}` is not being resolved, and frankly it would be really hard to resolve since we would need to know the profile.

cc @aloubyansky

[2020-06-02 13:01] aloubyansky commented on #9727
We do support profiles in dev mode though for things like dependencies. It can be fixed.

[2020-06-02 13:01] geoand commented on #9727
Oh, I didn't know that

[2020-06-02 13:01] Sanne commented on #9480
+ DB2 driver

@cescoffier @emmanuelbernard can we hope to see a PR soon to play with?

[2020-06-02 13:05] tomgeorge commented on #9713
Sorry if I was unclear.

My native executable fails to establish a connection with an endpoint secured with a self signed certificate, after adding that certificate to the trust store and passing  `-Djavax.net.ssl.trustStore`.

When running `mvn quarkus:dev`, `java -jar`, etc on the same non-native code, I am able to pass `-Djavax.net.ssl.trustStore`, and the application communicates with the endp

[2020-06-02 13:05] tomgeorge commented on #9713
accidentally closed, sorry :sweat_smile:

[2020-06-02 13:06] geoand commented on #9713
So it's the rest-client that fails?

[2020-06-02 13:10] gsmet commented on #9342
@geoand so I was having a look at that one and I wonder if we have it already covered now with `Target_javax_net_ssl_SSLContext`. But the Apache HTTP Client is not using the `getDefault()` method (see `SSLContexts`) if `HttpAsyncClientBuilder#useSystemProperties()` is false, which is the default. Maybe we should just turn that to true and everything will work fine.

Note that we produce a `Extensi

[2020-06-02 13:11] geoand commented on #9342
Yeah, I use the Apache HTTP Client in the extensions that use boostrap config and there I just turn on SSL

[2020-06-02 13:16] gastaldi commented on #9342
Would it make sense to use the JDK 11 HttpClient as the underlying implementation? Then it would work if you run in JDK 11+ without any extra configuration.

[2020-06-02 13:16] geoand commented on #9342
As long as we support Java 8, we can't really do this :(

[2020-06-02 13:17] tomgeorge commented on #9713
I don't know specifically if it's the rest-client.  The main symptom is that it works in non-native mode, and does not in native mode.

 An example app that exhibits this problem is https://github.com/redhat-developer/che-workspace-telemetry-woopra-backend.

I will make a very small example and post to this issue.

[2020-06-02 13:19] geoand commented on #9713
A small reproducer would be great, thanks!

[2020-06-02 13:21] #9539 closed

[2020-06-02 13:55] iocanel commented on #9663
Some alternatives:
1. Use `quarkus-kubernetes` with `container-image-docker` or even `container-image-jib`.
2. Use `s2i` with a custom `quarkus.s2i.base-jvm-image` it should work with something like `openjdk/openjdk-11-rhel7:latest`

[2020-06-02 14:05] christofluethi commented on #7580
any updates on this one? we seem to face the same issue with quarkus 1.4.2 and smallrye-reactive-messaging-amqp

we process "in" messages (amqp queue) and sending them to the "out" amqp queue. after some messages the processing stops and only continues by restarting quarkus.

`
@Blocking
@Incoming("in")
@Outgoing("out")
@Acknowledgment(Acknowledgment.Strategy.MANUAL)
public Message<String> process

[2020-06-02 14:17] kenfinnigan commented on #9447
Relevant SmallRye Reactive Messaging issues:

- https://github.com/smallrye/smallrye-reactive-messaging/issues/424
- https://github.com/smallrye/smallrye-reactive-messaging/issues/290
- https://github.com/smallrye/smallrye-reactive-messaging/issues/329

[2020-06-02 14:22] gsmet commented on #9639
Yeah, I don't think that's Quarkus specific. The validation can't access to the persistence layer as it's integrated with it. You would need to do the checks in your service layer.

[2020-06-02 14:23] gsmet commented on #9640
Which Dockerfile are you using?

/cc @cescoffier

[2020-06-02 14:31] gsmet commented on #9643
/cc @patriot1burke @oztimpower

[2020-06-02 14:38] gsmet commented on #8414
@MikeEdgar any idea in which version it has been fixed?

[2020-06-02 14:38] gsmet commented on #9589
/cc @geoand

[2020-06-02 14:41] MikeEdgar commented on #8414
@gsmet - I believe this was originally fixed in smallrye-open-api 1.2.2.

[2020-06-02 15:10] tomgeorge commented on #9713
@geoand see https://github.com/tomgeorge/quarkus-9713-reproduce

The repo makes a call to an API that is running on my local openshift cluster with self-signed certificates.  The dockerfiles to build the individual images are in `src/main/docker`.  They are expecting a certificate named `custom-cert.crt` to be added to the trust store.

[2020-06-02 15:16] geoand commented on #9713
I'll be off for a few days, so if someone else wants to look at this before I can, be my guest :)

[2020-06-02 15:28] glefloch commented on #8958
@aloubyansky, as @andreas-eberle suggested, I came up with something that would end up like this on `build.gradle` (we cannot use `native` as it's a keyword):

[code]

WDYT?
I still have to write tests before creating the pull request.

[2020-06-02 15:31] geoand commented on #9589
#9730 fixes the issue

[2020-06-02 15:48] geoand commented on #9727
I probably won't be able to get to this for another week, so if anyone else wants to take a look, feel free

[2020-06-02 16:11] aloubyansky commented on #5488
@SR-Lut3t1um I think you are getting NPE because you are creating AutomatonManager using the constructor instead of injecting it https://gitlab.informatik.uni-bremen.de/tobias5/aut0m4t0n/-/blob/master/src/main/java/org/un1qu3/endpoints/AutomatonSocket.java#L46

[2020-06-02 16:18] aloubyansky commented on #5488
About the issue described in the original report, I think the CDI spec expects you to use a getter instead of accessing the field directly here
[code]
Correct, @mkouba ? (see the original description of the issue)

[2020-06-02 16:23] patriot1burke commented on #9643
This is an honest question.  Would it be better to just copy the generated script and yaml files and edit them how you want?  I loathe the idea of every single sam config switch having a corresponding quarkus one.  Maintenance nightmare on our part.

[2020-06-02 16:25] aloubyansky commented on #8958
Just to clarify, `nativeArgs` would be basically a container for arbitrary properties?
I'm wondering whether we need `buildNative` there given that we already support `quarkus.package.type`.

[2020-06-02 16:41] thankthemaker commented on #9059
Looking forward to use it!

[2020-06-02 16:50] glefloch commented on #8958
Yes `nativeArgs` is a container that will only contains `quarkus.native` properties.
The `buildNative` flag is here to avoid having to set the property in the configuration but set it in the build file. But you are right, I don't if we need it as we still support `./gradlew buildNative` task which actually set this property ( even though the task is deprecated)

[2020-06-02 17:28] geoand commented on #9726
@kenfinnigan @asoldano I think that the method handle in `ComputedHeaderValueFiller` is causing more trouble than it's worth.
I am correct in my assumption that it was added in order to increase performance?

[2020-06-02 17:43] kenfinnigan commented on #9726
Possibly, @michalszynkiewicz might recall the original reason as he was the author.

We do remove the method for native image via substitution, so could consider removing it

[2020-06-02 17:45] geoand commented on #9726
I saw it's removed in native :+1: .
Given the ugly warning it gives in JVM, I would be in favor of removing it totally.

[2020-06-02 17:52] #9589 closed

[2020-06-02 18:02] aloubyansky commented on #8958
One issue I see with buildNative command is that it may be expected it is always executed to build the native image. If people start depending on that, it's a problem.

[2020-06-02 18:59] glefloch commented on #8958
Yes you are right, I am gonna remove the `buildNative` flag. This will be easier to only have one way to set the `quakus.package.type`.

[2020-06-02 19:48] antonliauchuk-tealium commented on #9634
hello

any possible solutions for using graal-js in dev mode?

[2020-06-02 21:21] aloubyansky commented on #9017
@stuartwdouglas what do you think about this change https://github.com/aloubyansky/quarkus/commit/d64b6ae5f0b4e17e0b9577e58ad962526bc76ca1
BTW, I've copied the original reproducer adapted to use Quarkus 999-SNAPSHOT here https://github.com/aloubyansky/playground/tree/quarkus-issue-9017

[2020-06-02 22:34] oscarfh opened #9737 "Setup reactive and blocking and non-blocking routes the same way"
I a using Quarkus and reading about it, and to my understanding, it seems to favor non-blocking code over blocking code. In light of that, it seems weird that creating a blocking http endpoint is much simpler than a reactive route.

This is an example: https://github.com/oscarfh/code-with-quarkus-reactive-routes
This project has a simple edpoint that, given a string passed as query parameter, you

[2020-06-03 00:13] stuartwdouglas commented on #9634
Did you try changing the scope to provided?

[2020-06-03 02:12] stuartwdouglas commented on #8152
You can use java.util.zip.Deflater and java.util.zip.Inflater.

[2020-06-03 02:48] ivanjunckes commented on #3851
Heys guys I am getting "Resource not found" and the page exists... it is an UI route from angular.

Any idea why every UI I try to call it gives this error.

[2020-06-03 04:39] jaikiran commented on #9481
I'm going to close this since 1.5.0 of Quarkus, which has been released, contains the 3.0.9 version of quarkus-http which has the fix for the above exception.

[2020-06-03 04:39] #9481 closed

[2020-06-03 05:18] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/123295591

[2020-06-03 06:03] cescoffier commented on #8152
@akoufa yiu can use ‘Infrastructure.getDefaultExecutor()’

[2020-06-03 06:08] cescoffier commented on #7580
First the timer issue is a back pressure issue. The AMQP client does no write fast enough and the queue is full.

About the restarting issue, be sure you don’t have a failure in the process.

BTW both issues are covered in the next reactive messaging version (credit based write and Nack/ fault tolerance support)

[2020-06-03 06:25] jskovjyskebankdk opened #9738 "QuarkusTest does not work in Gradle projects when invoked from IDE"
**Describe the bug**
Running a @QuarkusTest annotated unit test in eclipse (Run As->Junit Test) fails for Gradle projects.

**Expected behavior**
I would expect the unit test to execute properly, the way it does for Maven projects.

**Actual behavior**
The console outputs:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a template project with build type Gradle
2. Import into E

[2020-06-03 06:28] nheidloff commented on #9663
Hi @iocanel , I've tried your (1), but without success since I cannot access the container registry even after I created a route.

Your (2) is certainly an option, but it's not really what I want to do since I want to use my own Dockerfile and yaml files.

[2020-06-03 06:31] aloubyansky commented on #5488
Actually, I also missed the fact that `QuarkusEntityManagerFactory` is created using constructor too instead of relying on DI to provide a properly initialized instance.
[code]
I am closing this issue since what's described is not expected to work and is not a bug. Thanks everyone.

[2020-06-03 06:31] #5488 closed

[2020-06-03 06:32] iocanel commented on #9663
@nheidloff: Ok, then I'll start working on (1). Do you have any additional info on why (1) is not working? An error message, a stacktrace or anything else?

[2020-06-03 06:34] nheidloff commented on #9663
I don't have time to redo this right now, but it was some connectivity error. I'll try later (probably only tomorrow). Thanks a lot!

[2020-06-03 07:37] antonliauchuk-tealium commented on #9634
yes, I tried

The results from my tests:
1. the issue is reproduced with gradle;
2. the issue is reproduced with versions 20.0.0 and 20.1.0 of 'org.graalvm.js:js';
3. after adding scope 'provided' to maven dependency, the behavior wasn't changed.

[2020-06-03 08:09] #9259 closed

[2020-06-03 08:41] loicmathieu commented on #9722
@evanchooly we don't plan any refactory for now, we _think_ including both extension will works and wants to provide an integration test for it.
If it didn't works, then we'll need to investiguate and see if we can do anything about it ...

Your work on #9211 is more important (nobody complain yet about these two extensions not working together but some complain about our Kotlin support), so if we

[2020-06-03 09:28] #9057 closed

[2020-06-03 09:35] Sanne commented on #9480
ah, I confused this with the vertx 3.9.1 upgrade - that's what we needed.

No rush with this one - although having MS SQL support would be great too :)

[2020-06-03 10:35] akoufa commented on #8152
@FroMage @stuartwdouglas Can't Quarkus Gzip support via enabling it in application properties be changed to be async instead of blocking ?

[2020-06-03 10:40] hantsy opened #9741 "Java 8 DateTime can NOT be unserialized in Vertx Mutiny WebClient"
The client sample code is [here](https://github.com/hantsy/quarkus-sample/tree/master/restclient-vertx-munity).

I have added the following dependencies.

[code]
I used the [post-service](https://github.com/hantsy/quarkus-sample/tree/master/post-service) as api producer.

When run **post-service**(:8081/api), **restclient-vertx-munity**(:8080/posts), and background **mongodb**(via `docker-compose

[2020-06-03 11:15] hantsy commented on #9741
In other client samples, I used `jsonb` to handle json, all worked.

But the vertx extension depends on jackson extensions, I switched to `jackson` in this sample.

[2020-06-03 11:31] hantsy commented on #9741
Tried to customize ObjectMapper.

[code]

But not resolved my problem yet.

[2020-06-03 11:54] gsmet commented on #9741
The JSR 310 support is supposed to be automatically included in Quarkus for
a while. Definitely in 1.4.2.Final.

Is it in native or in JVM mode?

On Wed, Jun 3, 2020 at 1:31 PM Hantsy Bai <notifications@github.com> wrote:

[2020-06-03 11:56] hantsy commented on #9741
@gsmet JVM mode.

[2020-06-03 11:59] gsmet commented on #9741
Not sure it's related but your post service is using jsonb. I'm not sure it
will serialize things in a way Jackson can understand it.

On Wed, Jun 3, 2020 at 1:56 PM Hantsy Bai <notifications@github.com> wrote:

[2020-06-03 12:04] hantsy commented on #9741
@gsmet  By default, the producer side convert to string using the standard ISO format I think.

[2020-06-03 12:19] andreas-eberle commented on #8152
Shouldn't quarkus make sure that gzip is run on the correct thread? I don't think this should be something user's need to know about.

[2020-06-03 12:30] FroMage commented on #8152
@stuartwdouglas thanks.

Well yeah, if we can make gzip work with async IO, it will be automatic.

[2020-06-03 12:41] andreas-eberle commented on #8152
Maybe I don't get all the stuff that comes together here. But as far as I understood, it would be fixable by changing the thread to the jaxrs worker thread again, am I right? If so, couldn't quarkus switch the thread of the Uni/Multi back to the jaxrs thread before doing any more jaxrs/response handling/gzip stuff with it?

[2020-06-03 13:23] jaikiran commented on #9707
@rsvoboda, would you be able to try this against a "regular" Java 11 JDK (one like from AdoptOpenJDK)? I gave this a try against 11.0.7 of OpenJDK and both mvn clean install and even mvn quarkus:dev, all went fine (including invoking on the endpoint from a browser during quarkus:dev). I used the exact same instructions (including using the same Japenese characters for the directory).

I haven't tr

[2020-06-03 13:31] jaikiran commented on #6162
With Graal 20.1.0 now being integrated into Quarkus, the log message will now cleraly show the Java version being used.
An example from one of the recent CI runs against Quarkus master:
[code]
 Closing this enhancement request.

[2020-06-03 13:31] #6162 closed

[2020-06-03 13:43] ElinaValieva commented on #9643
Ok, maybe you're right. Thank you for your time.

[2020-06-03 14:01] rsvoboda commented on #9707
I have 11.0.5 and it fails for me, running from cmd.
[code]

[2020-06-03 14:22] JiriOndrusek opened #9748 "Dev mode stops without reason instead of restart when fired by code Changed (worked with 1.4.2.Final)"
**Describe the bug**
Problem can be simulated on the example from camel-quarkus: https://github.com/apache/camel-quarkus/tree/master/examples/timer-log

Problem doesn't happen with quarkus **1.4.2.Final**. (but happens with 1.5.0.cr1, 1.5.0.Final and master)

**Expected behavior**
App is reloaded with custom code change.

**Actual behavior**
App stops.

**To Reproduce**
Steps to reproduce the beha

[2020-06-03 14:25] rsvoboda commented on #9707
And AdoptOpenJDK
[code]

[2020-06-03 14:33] hantsy commented on #9741
It seems the Vertx internal `JsonCodec` does not apply my custom `ObjectMapper`.

[2020-06-03 14:50] Sanne commented on #6162
Awesome, thanks again!

[2020-06-03 16:02] galderz opened #9750 "EmptyByteBuf referencing Cleaner instances that change"
Trying Andrew's debug info stuff I encountered this:

[code]

Adding debug info might be triggering extra GC cycles that results in Cleaner references changing while the heap is being written.

There might be multiple ways of fixing this, but one that have seemed to work for me is to mark EmptyByteBuf.EMPTY_BYTE_BUFFER as a recomputed field with kind Reset.

Other potential solutions (not tried) m

[2020-06-03 16:43] galderz commented on #9750
[Longer output](https://gist.github.com/galderz/ba701e671178514a5077be4583cec250)

[2020-06-03 16:43] galderz commented on #9750
[PR](https://github.com/quarkusio/quarkus/pull/9751) with fix.

[2020-06-03 17:08] jayakrishnankarolilnlsn commented on #8297
.env file is not recognized while using **gradle** `./gradlew quarkusDev`.
However, `./mvnw quarkus:dev` is running without any issues. It is generating `.env` symlink under `/target` directory.

[code]

`application.properties`:
[code]
`.env`:
[code]
`gradlew quarkusDev` -> results in
[code]

[2020-06-03 17:22] jayakrishnankarolilnlsn opened #9752 ".env file is not recognized while using gradle `gradlew quarkusDev`"
**Describe the bug**
.env file is not recognized while using **gradle** `./gradlew quarkusDev`.
However, `./mvnw quarkus:dev` is running without any issues. It is generating `.env` symlink under `/target` directory.

**Expected behavior**
Application should start without any issues.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
`gradlew quarkusDev` -> result

[2020-06-03 17:26] gsmet opened #9753 "Building GraphQL quickstart generates warnings that should be avoided"
We shouldn't have these warnings when building a GraphQL application:

[code]

[2020-06-03 18:27] jayakrishnankarolilnlsn commented on #8297
One more issue found. The property definition in `.env` file is case sensitive.

Say for example

`application.properties`:
[code]
`.env`:
[code]

Run command `mvn quarkus:dev`

[2020-06-03 18:50] skabashnyuk commented on #8210
If I sometimes(periodically) get
`Caused by: java.util.ServiceConfigurationError: io.smallrye.config.SmallRyeConfigFactory: io.quarkus.runtime.configuration.QuarkusConfigFactory not a subtype
`  with 1.5.0 Final does it sound like a legitimate problem?

[2020-06-03 19:10] Meemaw opened #9754 "Gradle (test): reactive streams messaging dependency conflicts"
**Describe the bug**
After upgrading to `1.5.0Final`, there seems to be some conflicts with reactive streams dependencies in Gradle `test` task which prevents quarkus test application startup. It happens in modules using `kafka` extensions. Interestingly `quarkusDev` and `quarkusBuild` tasks both work as expected.

Exception message:
`2020-06-04 06:54:40,533 INFO  [org.apa.kaf.com.uti.AppInfoParse

[2020-06-03 20:06] geoand commented on #8297
Please open a new issue for that find.

[2020-06-03 20:22] jayakrishnankarolilnlsn opened #9760 "The property definition in .env file is case sensitive."
**Describe the bug**
The property definition in .env file is case sensitive. It should be CAPS as of `1.4.2.Final`
[code]

**Expected behavior**
Developers should be able to use both lowercase and upper case letters in .env file

**Actual behavior**
lower case letter variables defined in `.env` file is not recognized in the `application.properties` resulting in startup failure
[code]

**To Reprodu

[2020-06-03 21:09] maxandersen commented on #9663
the documentation just mentions podman as one option. docker or any other similar client should just work as soon as you have the route created.

[2020-06-03 21:11] maxandersen commented on #9445
ah - I kinda thought they would be opened/closed at the end of the runs - like two parallel jobs and if one fails report failure only fix when all is good.

if that is not feasible then +1 on separate issues.

[2020-06-03 21:13] maxandersen commented on #8975
I think so - but i think we'll finally know better when we got a PR to look and touch it ;) the good thing is that once we get this cleaned up adjusting the final names should be fairly easy i hope!

and thanks @glefloch for taking this one up and sorry for delay in response!

[2020-06-03 21:26] cpmoore opened #9762 "Add @ConfigIgnore annotation for ignorable @ConfigProperties"
I believe a `@ConfigIgnore` annotation should be added for fields that you don't want to be configured via `@ConfigProperties`

Currently if a class has an `@ConfigProperties` annotation it attempts to configure every variable in that class.  This lead to an issue where I was trying to use `@Inject` to set a variable.
I was just using my configuration class as a single point of reference for that

[2020-06-03 21:58] heubeck commented on #9297
My assumption was that the `--install-exit-handler` flag would address/solve these issues:
https://github.com/quarkusio/quarkus/issues/4262
https://github.com/quarkusio/quarkus/issues/7589
But this was just a gut feeling.

[2020-06-03 22:43] aguibert commented on #6293
hi @andrebreves, thanks for the offer! Unfortunately the DB2 JDBC driver is closed-source and I am needing to do all of this work with a business partner who owns the driver, so I think I'll be able to involve a non-IBM employee in this effort. I have access to an internal DB2 driver that will be released soon (TM) and contains the necessary updates for Quarkus. I can check that with DB2/z locally

[2020-06-03 22:43] sanyarnd opened #9763 "FormAuthenticationMechanism is not registered"
**Describe the bug**
`FormAuthenticationMechanism` is not registered if project has a single
[code]
dependency.

**Expected behavior**
With
[code]
and custom `IdentityProvider` I'd expect that `FormAuthenticationMechanism` will be registered and available.

**Actual behavior**
There is no `FormAuthenticationMechanism` in available mechanisms. `HttpAuthenticator#attemptAuthentication` has only one

[2020-06-03 23:44] #8226 closed

[2020-06-04 01:27] #9550 closed

[2020-06-04 01:51] jaikiran commented on #9707
Would you be able to attach the build log from a run of `mvn -X clean quarkus:dev`? No matter what I try (including setting the locale to `cs_CZ`, I can't reproduce this). Please also use `1.5.0.Final`, now that it has been released (I don't expect this issue to be a result of `1.4.2.Final` vs `1.5.0.Final` usage, but it helps compare the code in IDE).

[2020-06-04 02:25] johnbanq commented on #588
Is it possible that we solve the problem by writing a small maven plugin that replaces the Makefile and spins up the servers for you at dev time?

[2020-06-04 03:03] sherl0cks commented on #7846
In case someone stumbles on this in the future and has not / can not, upgrade to the 1.5.0 AWS services extensions, be advised that this issue seems related to graal 19.3.1.

Without changing from apache or netty client, I am able compile and run s3 clients in native using 20.0.0 when they fail with the xml issue described above in 19.3.1.

Have not tested 20.1.0.

[2020-06-04 03:36] xmlking opened #9766 "gRPC service failed with NoSuchMethodError com.google.protobuf.Descriptors$FileDescriptor"
**Describe the bug**
starting server throwing following error:
 java.lang.NoSuchMethodError: 'com.google.protobuf.Descriptors$FileDescriptor com.google.protobuf.Descriptors$FileDescriptor.internalBuildGeneratedFileFrom(java.lang.String[], com.google.protobuf.Descriptors$FileDescriptor[])'

Env: quarkus 1.5.0, kotlin , gradle

**Expected behavior**
the server should start properly with ` gradle :ap

[2020-06-04 03:41] xmlking commented on #9766
To reproduce please uncomment `EchoService0` class and  start the server with `gradle :apps:greeting-service:quarkusDev`

https://github.com/xmlking/micro-apps/blob/develop/apps/greeting-service/src/main/kotlin/micro/apps/greeting/EchoService.kt

[2020-06-04 03:45] xmlking opened #9767 "Warning: SLF4J Found multiple binding with quarkus 1.5.0"
[code]

[2020-06-04 03:46] yanxuehe opened #9768 "Error processing Health Checks: java.lang.NullPointerException in native mode."
**Describe the bug**
Error processing Health Checks: java.lang.NullPointerException in native mode.

the healthcheck code
[code]

the log
[code]

**Expected behavior**
the same code works perfect in jvm mode
the health check can work as the jvm mode.

**Actual behavior**
Error processing Health Checks: java.lang.NullPointerException

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Co

[2020-06-04 03:48] xmlking commented on #7968
in fact there is a bug in 1.5.0 https://github.com/quarkusio/quarkus/issues/9715

[2020-06-04 05:08] geoand commented on #6588
@cescoffier you will definitely like this failure:

[code]

[2020-06-04 05:17] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/124438868

[2020-06-04 05:29] geoand commented on #8593
@ppalaga we have the following test failure:

[code]

It might just be a flake, but I just wanted to give you a heads up

[2020-06-04 05:31] geoand commented on #9768
Hi,

Since it's not clear from the stacktrace, does this happen when `jiraHealthCheckService` is called, or when `jiraRestClient` is called?

Moreover, do these calls work outside of the health check in native mode?

Finally, it would be a tremendous help if you could provide a small project that reproduces this behavior. That way we can test any potential fix we come up with. Otherwise we are sor

[2020-06-04 05:32] ddlenz opened #9769 "wildcarded mqtt topic not receiving messages"
**Describe the bug**
An MQTT message consumer using 1.5.0.Final does not receive messages when configured with a wildcarded topic, e.g. `mp.messaging.incoming.topic-all.topic=topic/+`
Works as expected with 1.4.2.Final.

**Expected behavior**
Output from reproduce case using 1.4.2.Final:
[code]

**Actual behavior**
Output from reproduce case using 1.5.0.Final:
[code]

**To Reproduce**
1. Unzip [mq

[2020-06-04 06:48] jmistry65 commented on #9300
facing same issue.

[2020-06-04 07:25] yanxuehe commented on #9768
the error happened when jiraRestClient called.

tried to create a reproducer with only the healthcheck, it works.

[2020-06-04 07:30] geoand commented on #9768
It would be great if you uploaded your a reproducer so we can use it to fix the issue.

[2020-06-04 07:32] yanxuehe commented on #9768
is it possible to debug the native code on my side?

[2020-06-04 07:33] galderz commented on #9750
The solution proposed of recomputed `Reset` field won't work since that would also null the value of `EmptyByteBuf.EMPTY_BYTE_BUFFER` at runtime. `FromAlias` won't work either because that would lead to the value set in the alias to be stored in the heap.

So, I'm now investigating if EmptyByteBuf could be a runtime initialised class.

Another option would to see if the EmptyByteBuf is really need

[2020-06-04 07:39] geoand commented on #9768
You can check out: https://www.youtube.com/watch?v=JqV-NFWupLA

[2020-06-04 07:43] ppalaga commented on #8593
Is it in native mode?

[2020-06-04 07:44] galderz commented on #9750
Yet another option would be to patch the Netty code to initialize `EMPTY_BYTE_BUFFER` lazily, but that's not really desirable. Lazy initialization worked in [this particular case](https://github.com/oracle/graal/issues/2399).

More options would include exploring whether the `Cleaner` in DirectByteBuffer can be stopped from changing somehow (e.g. mark it as recompute reset?).

[2020-06-04 07:49] Cellane commented on #9701
Sorry for the delayed answer! Issue [opened over at YouTrack](https://youtrack.jetbrains.com/issue/IDEA-242531).

[2020-06-04 07:52] geoand commented on #8593
No, regular JVM mode

[2020-06-04 07:58] JiriOndrusek commented on #9748
More facts:

- I've tried Runtime.addShutdownHook(Thread thehook) and it is executed in 1.5.x not in 1.4.2
- I've tried  @Observes StartupEvent ev and @Observes ShutdownEvent ev - in 1.5.x only shutdown event is observed (in 1.4.2 both)

Important fact (from my POW) is that message from Runtime.addShutdownHook is printed before ClassPathUtils (from the description) are executed. It seems that prob

[2020-06-04 08:08] nthung82 opened #9772 "is Java 9 compatibility with hibernate 4.3.5.Final?"
my java app is using the hibernate 4.3.5.Final, and it works fine on java 8

but on java9 it don't work => my question

is Java 9 compatibility with hibernate 4.3.5.Final?

[2020-06-04 08:12] ia3andy commented on #9588
@maxandersen, @tqvarnst is asking for this, wdyt of my suggestion?

[2020-06-04 08:25] gsmet commented on #9772
This is not related to Quarkus, closing.

[2020-06-04 08:25] #9772 closed

[2020-06-04 08:41] marcinczeczko commented on #9165
Wondering if quarkus mongodb client could use truststore related options: https://docs.mongodb.com/manual/reference/connection-string/#urioption.tlsCertificateKeyFile that allows to provide TLS certificate keys/password, root CA etc. ?

[2020-06-04 08:45] geoand commented on #9342
#9773 should take care of the issue (but it requires https://github.com/resteasy/Resteasy/pull/2431 and a RESTEasy version bump)

[2020-06-04 08:52] marcinczeczko commented on #2125
I don't know if it helps but now (starting from graalvm 19.3 as far as I remember) you don't need to do anything special in regards of ssl stuff. You can check my example project in here: https://github.com/marcinczeczko/quarkus-lambda-native that has a simple lambdas talking to dynamodb in jvm and native modes. @bragadanilo you can find there how serverless framework can be used to deploy everyth

[2020-06-04 09:37] Sanne opened #9776 "Failing to find default configuration converters when running from IDE"
**Describe the bug**
While attempting to debug an issue from IDEA, I couldn't start my `@QuarkusTest` annotated integration test as I'd get:

[code]

A quick look in `io.smallrye.config.SmallRyeConfig#getConverter` with the debugger reveals that there's a classloader mismatch, so we fail to lookup the right converter from the `converters` map.

The class it's trying to find a converter for was loa

[2020-06-04 09:46] geoand commented on #9760
`.env` is meant to set environment variables, so they should always be upper case.

[2020-06-04 09:46] #9760 closed

[2020-06-04 09:48] geoand commented on #9768
Can you paste what `JIRARestClient` looks like?

[2020-06-04 10:21] geoand commented on #9752
This has actually already been fixed in Quarkus 1.5.0.Final, but I created #9778 to add a proper test

[2020-06-04 10:21] #9752 closed

[2020-06-04 10:52] ppalaga commented on #8593
The root cause is an API compatibility breakage between debezium-core 1.1.1.Final and 1.1.2.Final https://github.com/debezium/debezium/compare/v1.1.1.Final..v1.1.2.Final#diff-45b58c6a382e0e39f4624056b3085993L45-R44

Actually, I am a bit surprised, that Quarkus BOM manages Debezium. As far as I can see it is only used as a test scoped dep in itests, so it should be managed in quarkus-bom-test. That

[2020-06-04 10:53] geoand commented on #8593
Thanks

[2020-06-04 11:01] ppalaga opened #9780 "Manage debezium in quarkus-bom-test instead of quarkus-bom"
Followup https://github.com/quarkusio/quarkus/issues/8593#issuecomment-638775288

Quarkus BOM should not manage Debezium because it is only used as a test scoped dep in itests, so it should be managed in quarkus-bom-test.

A PR follows.

[2020-06-04 11:03] loicmathieu commented on #9165
@marcinczeczko this is not related to this issue, better ask this on StackOverflow or Zulip.
Anyway, you can use any options available inside the connection-string of MongoDB via the connection-string property. But we awas that if you package your application as a native image only certificate inside your JVM cacert file will be used.

[2020-06-04 11:25] #9762 closed

[2020-06-04 11:33] JiriOndrusek commented on #9748
Problem is caused by following change:
https://github.com/quarkusio/quarkus/commit/57ca8e8b195dad9fc38126b1261b9d3a034667c4

[2020-06-04 11:58] johnaohara commented on #7175
A PR has been opened for Quarkus on techempower: https://github.com/TechEmpower/FrameworkBenchmarks/pull/5728

[2020-06-04 12:17] marceloverdijk opened #9786 "@GraphQLApi without @ActivateRequestContext gives a ContextNotActiveException"
As discussed [here](https://groups.google.com/forum/#!topic/quarkus-dev/AGem0DpyE8A) the Quarkus GraphQL integration with `@GraphQLApi` itself gives a `ContextNotActiveException` when using Panache.

[code]

leads to:

[code]

When changing it to:

[code]

it works.

It would be nice if the `@ActivateRequestContext` is activated automatically.

[2020-06-04 12:27] galderz commented on #9750
With the current state of things, it'd appear that runtime initialization does not work (see [here](https://gist.github.com/galderz/ce2897f5433cc78b82fac582232745cc)). No clues after adding -H:+TraceClassInitialization (see [here](https://gist.github.com/galderz/29609956a8ddea785ad7cce346851902)).

I've hooked a debugger to find out why the `EMPTY_BYTE_BUFFER` gets used during the build time and s

[2020-06-04 12:30] maxandersen commented on #8646
@ppalaga can we close this for now as its not currently being open/closed by camel testing ?

[2020-06-04 12:42] sberyozkin commented on #9316
Note: there is no plan to integrate it into `quarkus-oidc` as it would better be done at the level of the user authenticating into Keycloak when OIDC is involved

[2020-06-04 12:57] #6701 closed

[2020-06-04 12:59] JiriOndrusek commented on #9748
Simple solution is to add `LockSupport.park();` (see https://github.com/quarkusio/quarkus/commit/57ca8e8b195dad9fc38126b1261b9d3a034667c4#diff-10e19a8856031bf0bc6780fd924c1091L58)
I don't see possible impact and don't want to revert original change/fix. May I ask you your opinion about this, @stuartwdouglas ?

[2020-06-04 13:06] ppalaga commented on #8646
+1, let's close

[2020-06-04 13:07] bcluap opened #9788 "NPE Building with fast-jar"
A project which builds fine without this option throws a NPE when using it:

--- quarkus-maven-plugin:1.5.0.Final:build (default) @ jg-ukheshe-deployable ---
[org.jboss.threads] JBoss Threads version 3.1.1.Final
[org.hibernate.Version] HHH000412: Hibernate ORM core version 5.4.16.Final
------------------------------------------------------------------------
BUILD FAILURE
--------------------------

[2020-06-04 13:09] benneq commented on #5211
@sberyozkin Could you link the smallrye-jwt issue for custom verifications factories?

[2020-06-04 13:13] aloubyansky commented on #7424
I believe the main issue should be fixed in the 1.5.0.Final. The reproducer is also suffering from https://github.com/quarkusio/quarkus/issues/9017 which is going to be fixed by #9774

[2020-06-04 13:13] aloubyansky commented on #7424
I mean I made sure the reproducer works with #9774

[2020-06-04 13:17] galderz commented on #9750
[New PR](https://github.com/quarkusio/quarkus/pull/9789) with a better fix.

[2020-06-04 13:24] gsmet commented on #9561
Is this one fixed or not?

[2020-06-04 13:25] gsmet commented on #9297
The heavy lifting of this one has been done.

If we need to expose more things, I think we probably need more focus issues opened by @dmlloyd or @galderz to tell us what we should to?

[2020-06-04 13:26] geoand commented on #9561
It was fixed on the 1.3 branch. @iocanel were you expecting @metacosm to fix it for `master`?

[2020-06-04 13:26] jayakrishnankarolilnlsn commented on #9760
Thanks. Yeah, did some research. Environment variables should be in upper case by convention.

https://google.github.io/styleguide/shellguide.html#constants-and-environment-variable-names
https://stackoverflow.com/questions/673055/correct-bash-and-shell-script-variable-capitalization

[2020-06-04 13:30] knutwannheden opened #9791 "Add "prefix" to @ConfigRoot"
**Description**
We are using Quarkus at a large scale to develop many microservices. In this setup we also have quite a few homegrown libraries and tools, which we now look to integrate into the Quarkus development as Quarkus extensions. For this purpose we want to use `@ConfigRoot` et al. to define the configuration properties and also generate corresponding documentation, as is being done for Qu

[2020-06-04 13:32] iocanel commented on #9561
The fix could be applied to master as is, but tests might not be transferable due to #9629. But I am not 100% sure of that.

I will give it a shot and let you know.

[2020-06-04 13:33] sberyozkin commented on #9622
@ejba Hi, can you please check what is needed for `X-Forwarded-Server`, a user reports a proxy host is reported with this header, may be it can be checked if `X_FORWARDED_HOST` is not set, CC @stuartwdouglas

[2020-06-04 13:36] geoand commented on #9788
Do you have a small reproducer project reproducing this problem?

[2020-06-04 13:40] bcluap commented on #9788
I don't as its on a full project build right now - hoped it would be able to be diagnosed by seeing where the NPE is coming from. Will try and put one together

[2020-06-04 13:46] metacosm commented on #9629
I've completed the first pass on a fix in the #9758 PR and added support for defining vars from secret/configmap keys using the following syntax:
[code]

[2020-06-04 13:51] geoand commented on #9788
A couple of questions:

* where in the file system are you running the build?
* which quarkus extensions are you using?

[2020-06-04 13:59] Ladicek commented on #9629
That looks good to me.

[2020-06-04 14:00] #9271 closed

[2020-06-04 14:09] dmlloyd commented on #9297
AFAIK the exit handler thing won't fix the AWS issue.  The problem lies in a shared handler stub which uses forbidden APIs.

[2020-06-04 14:14] emmanuelbernard opened #9792 "Offer quarkus property to enable debug symbols"
Now that GraalVM has debug symbols, have a Quarkus property

e.g. `quarkus.native.debug-symbols`

so it generates the image with debug symbols.

Useful in conjunction with profiles

[2020-06-04 14:18] emmanuelbernard opened #9794 "Add job to test `-H:+RemoveSaturatedTypeFlows` and `-H:+PrintAnalysisStatistics`"
**Description**

In GraalVM 20.1, they offer faster compilation with lower memory usage with these enabled flags.
It decreases the perf optimization but if they are witin acceptable limits, the gain might be good and we could enable.

[2020-06-04 14:19] emmanuelbernard opened #9795 "Consider --install-exit-handlers (GraalVM 20.1)"
Should we use / enable `--install-exit-handlers` now that we have GraalVM 20.1?

[2020-06-04 14:20] emmanuelbernard opened #9796 "Improve GraalVM 20.1 support"
**Description**
Follow up for #9297

## Epic items
(this section is auto-generated - manual edits will get lost)
- [x] [#9792](https://github.com/quarkusio/quarkus/issues/9792) Offer quarkus property to enable debug symbols
- [ ] [#9794](https://github.com/quarkusio/quarkus/issues/9794) Add job to test `-H:+RemoveSaturatedTypeFlows` and `-H:+PrintAnalysisStatistics`
- [ ] [#9795](https://github.co

[2020-06-04 14:20] emmanuelbernard commented on #9794
Report issues to oracle/graal#2384

[2020-06-04 14:21] aloubyansky opened #9797 "Add Gradle native TS"
At this point our Gradle TS is missing native tests. We should add native build tests that would be enabled by `-Dnative` or `-Pnative` as the rest of the Quarkus native TS.

[2020-06-04 14:46] edufolly commented on #9726
[code]

It appears with this simple query.
[code]
**uname -a**
[code]

**java -version**
[code]

[2020-06-04 14:48] geoand commented on #9788
Do you perhaps have any classes in your library that aren't in any java package?

[2020-06-04 14:49] geoand commented on #9726
@edufolly that is a different manifestation. I suggest you report that to Eclipse Yasson since the fix would need to be made there

[2020-06-04 14:52] bcluap commented on #9788
![image](https://user-images.githubusercontent.com/26746221/83772529-c5579780-a683-11ea-8a48-a0bd72be8201.png)

[2020-06-04 14:53] geoand commented on #9788
Yeah, the `default` package is the problem. I'll open a PR to fix it

[2020-06-04 14:54] geoand commented on #9788
Thanks for the great info :wink:

[2020-06-04 14:57] kraeftbraeu commented on #9622
Hi, the user is me :)
In my case if have both headers set:

- `X_FORWARDED_HOST` with the host of my quarkus appserver and
- `X_FORWARDED_SERVER` with my apache reverse proxy host.

My case would work with a new property that defines which Header defines the host. Or a logik like
`hostHeader = realHost.equals(hostHeaderFromXForwardedHost ? hostHeaderFromXForwardedServer : hostHeaderFromXForwardedH

[2020-06-04 15:15] aloubyansky commented on #9797
I'm not sure why I can't assign this one to you @glefloch

[2020-06-04 15:19] glefloch commented on #9797
yes that's weird but I'm on it ;)

[2020-06-04 16:02] edufolly commented on #9726
@geoand did you know what is the dependency for this library? Because I didn't add Yasson to the project.

Would you have any clue?

[code]

[2020-06-04 16:09] geoand commented on #9726
Eclipse Yasson is the implementation of Jsonb that we use.

So in your case quarkus-resteasy-jsonb brings it in

[2020-06-04 16:20] edufolly commented on #9726
@geoand thanks for your support.

https://github.com/eclipse-ee4j/yasson/issues/412

[2020-06-04 16:27] zeljkot opened #9799 "Kafka mbean fails due to conflicting client names"
**Describe the bug**
If there is more than one Kafka topic configured and different client names are not configured for each topic, warning is generated during the startup for each topic:

[code]

**Expected behavior**
It should not be a problem to use the same client name for each topic.

**Actual behavior**
Log is flooded with irrelevant warnings.

**To Reproduce**
Steps to reproduce the behavio

[2020-06-04 16:29] geoand commented on #9726
Great, thanks!

[2020-06-04 16:52] ejba commented on #9622
@sberyozkin Yes, I can do it! So it's okay for you if I do a PR to solve both use cases?

[2020-06-04 17:02] #9706 closed

[2020-06-04 17:09] dmlloyd commented on #9791
Sure. It does raise a few questions about validation though: normally if we encounter an unknown property we can log it because we control the whole namespace.  So we need to define a useful set of rules for this case.

[2020-06-04 17:19] knutwannheden commented on #9791
I thought the properties get validated against the accessible `@ConfigRoot` items, in which case this should work with a custom prefix as well, no?

[2020-06-04 17:40] emmanuelbernard commented on #9796
/cc @gsmet This is  the epic follow up.

[2020-06-04 17:41] emmanuelbernard commented on #9792
Hey @galderz or @dmlloyd , would you have time for this one ?

[2020-06-04 17:41] emmanuelbernard commented on #9794
/cc @gsmet this one is for you at least to get the PR and initial results.

[2020-06-04 17:42] emmanuelbernard commented on #9795
So I think @dmlloyd you said this would not help us to do this. Correct ?

[2020-06-04 17:56] diogocarleto opened #9801 "mongodb-panache indexes"
Hi guys, hope you are doing well.

I've implemented a local feature that uses MongoOperations to ensure my indexes on mongodb at the application startup, but it is not elegant :)

I'd like to suggest some like we have seen in Spring or even on Morphia.
Some like `@Indexed`, `@CompoundIndexes`, `@Indexes`

What do you think?

[2020-06-04 18:01] diogocarleto opened #9802 "mongodb-panache queries cache"
Hi guys, how are you?

Guys I like a lot of the ActiveRecord pattern, but I'm facing a issue that made change my mind and use repositories.

Quarkus cache extension brings a lot of facilities to cache method results, but I couldn't use this inside a query method in my mongo entity (maybe I made some mistake).

Is there a way we support the cache extensions inside Panache?

Best,

[2020-06-04 18:02] dmlloyd commented on #9795
I think it probably doesn't help or hurt.  But I will say that if we use this option then when the user opts out of signal handling, we'll have to disable *both* this option *and* our own signal handler.

[2020-06-04 18:04] dmlloyd commented on #9791
No, we validate all of the `quarkus.` space.  If a property with that prefix is found that isn't mapped, we print a warning about it (this helps avoid typos).  The question is, do we expand this behavior to cover other prefixes as well (potentially triggering many warnings if the user uses the namespace for something else in addition to extension config), or do we leave those out (potentially losi

[2020-06-04 18:10] knutwannheden commented on #9791
I understand. Thanks for the explanation. A config property to disable the validation? 🤣

[2020-06-04 18:17] maxandersen commented on #9588
I'm all good. If you read my comment just before i suggest the exact same thing :)

[2020-06-04 18:39] michalszynkiewicz commented on #9726
@kenfinnigan do `default` methods work without the handle?
I think the reason for adding it was that they don't.
But maybe there's a different way of making them work without `MethodHandle`

[2020-06-04 18:44] kenfinnigan commented on #9726
That might be why they're there, but we remove the call when in native, so they must still work?

Does the TCK test default methods, does it pass?

[2020-06-04 18:54] michalszynkiewicz commented on #9726
do we run TCK against native?

[2020-06-04 19:00] maxandersen opened #9803 ".github/autoissuelabeler.yml has invalid escape sequence"
file committed with broken yaml - causing fialure but job was configured to be silent thus no warning sent.

[2020-06-04 19:12] #9803 closed

[2020-06-04 19:13] kenfinnigan commented on #9726
Don't think so, so it might be an issue waiting to happen

[2020-06-04 20:01] bcluap opened #9807 "NPE Under high load in io.undertow.vertx.VertxHttpExchange.getSourceAddress"
**Describe the bug**
Under high load (+5000 tps) and concurrency we intermittently see an NPE in the logs when a servlet filter tried to read the callers IP address. This must be a race condition of sorts. I cant create a reproducer due to the intermittency it happens at but maybe Stewart or someone familiar with this code can work out how this race can occur.

If you need more details of the call

[2020-06-04 20:08] targeter21 opened #9808 "Command mode doesn't exit after exception"
**Describe the bug**
Hi, I logged #9163 which was marked as Fixed, but it looks like in 1.5.0.Final the problem is not fixed and worse off than before.

**Expected behavior**
Command Mode should exit completely after a failure (unhandled exception) occurs. There shouldn't be a message to restart as that is not proper CLI behavior and it shouldn't sit waiting for a response.

**Actual behavior**
Co

[2020-06-04 20:46] marcinczeczko commented on #9165
@loicmathieu sorry, looks like I skipped some part of the issue desc.
Anyway, I believe this issue might be connected with the way how graalvm treats root certs, as far as I remember it simply get them into the image at build time, so sys props at runtime simply does not have effect.

@amenic-hub
You can try building your app by providing those sys props when building native image, e.g. via 'quark

[2020-06-04 21:50] maxandersen commented on #9808
Not a bug / but more an IDE bug..

To actually run your app to this:

[code]

with your example that exits immediatly.

when you run from IDE we assume you want to be in devmode. thus it is expected to not exit here.
you can see that it behaves same ways as when running `mvn quarkus:dev` on command line.

I can see though that idea does not seem to handle Ctrl+c in its virtual console though. That

[2020-06-04 21:51] cemnura commented on #9753
I am looking into this.

@phillip-kruger  is aware.

[2020-06-04 21:57] targeter21 commented on #9808
Ahh I did not realize devmode had different behavior. Thanks for clearing that up; I verified running the jar itself demonstrates the expected behavior thanks!

[2020-06-04 21:57] #9808 closed

[2020-06-04 22:11] buehren commented on #9769
Same problem here!

Did not see this issue before - so I created another project for reproducing the error:
https://github.com/buehren/quarkus-1.5.0-mqtt-wildcard-problem

You can observe the following behaviours:
1. Quarkus 1.4.2-Final works with wildcard in MQTT subscription
2. Quarkus 1.5.0-Final does NOT work with wildcard (ERROR)
3. Quarkus 1.5.0-Final works without wildcard

[2020-06-04 22:47] maxandersen commented on #6033
there already are a cli in /devtools/aesh and update coming here https://github.com/quarkusio/quarkus/pull/9783 we do want to get that updated/aligned but lets not create it externally as the cli would heavily depend on the code in the core devtools repo anyway.

[2020-06-04 23:42] #9788 closed

[2020-06-05 03:11] #7424 closed

[2020-06-05 03:11] #9017 closed

[2020-06-05 03:41] jaikiran commented on #9807
This change https://github.com/quarkusio/quarkus-http/pull/36 should prevent that NPE. I'm however unsure why this should show up (only) in high load case and whether or not after fixing this NPE, it will show up as some other issue. We'll probably have to wait and see after that NPE fix is applied.

[2020-06-05 03:58] jaikiran commented on #9799
Hello @zeljkot, can you please post the complete exception stacktrace?

[2020-06-05 04:45] kraeftbraeu commented on #9622
That would be great. How can I help?

[2020-06-05 05:18] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/125594152

[2020-06-05 05:19] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/125594107

[2020-06-05 05:31] Meemaw commented on #9754
I believe there is a clash between `io.smallrye.reactive:smallrye-reactive-streams-operators` and `io.smallrye.reactive:mutiny-reactive-streams-operators`.

Result of `:dependencies` command:
`

------------------------------------------------------------
Project :session:session-api
------------------------------------------------------------

testRuntimeClasspath - Runtime classpath of source se

[2020-06-05 05:37] mariofusco commented on #8694
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/125594721

[2020-06-05 05:44] geoand commented on #8694
@mariofusco @evacchi something failed, but I can't really tell what. Can you have a look please?

Thanks

[2020-06-05 06:02] #9748 closed

[2020-06-05 06:06] Xanas80 opened #9812 "Extend QuarkusTestCallbacks with a context like JUnit Jupiter"
**Description**
Currently you only get the test instance, but it would be nice to have more context, like TestClass, TestMethod.

This request is result of Zulip talk with  @geoand
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/QuarkusTestExtension

**Implementation ideas**
[code]

[2020-06-05 06:32] #8958 closed

[2020-06-05 06:39] mariofusco commented on #8694
@geoand I gave a look at the log, but didn't find anything helpful. I think it's a CI failure, but really have no clue. For now I relaunched it and will keep an eye on it.

[2020-06-05 06:40] geoand commented on #8694
OK, cool

[2020-06-05 06:43] ejba commented on #9622
@kraeftbraeu well, I don't understand why CI is failing. Could you help me with that?

[2020-06-05 06:50] zeljkot commented on #9799
@jaikiran here you are:

[code]

[2020-06-05 06:54] loicmathieu commented on #9802
@diogocarleto can you explain why you cannot use cache with Panache Entities ? Maybe with a code snippet of what you want to achieve ?

[2020-06-05 06:58] zeljkot commented on #4996
@gsmet IMHO this should be labeled as area/maven or area/devtools

[2020-06-05 07:03] loicmathieu commented on #9801
@diogocarleto I was thinking about MongoDB migrations some days ago (like Flyway) and didn't achieve to make any decision about it (I didn't find a simple tool that allow textual - like JS script - migrations).
And in fact, we need MongoDB migration script essentially for index creation ! So adding a way to defines index via annotations and create them automatically can do the trick.

But, if we c

[2020-06-05 07:17] galderz commented on #9633
Issue should be fixed with fix in Quarkus.

[2020-06-05 07:17] #9633 closed

[2020-06-05 07:30] kraeftbraeu commented on #9622
Unfortunately that github PR checks magic is new to me, but I'll try

[2020-06-05 07:54] geoand commented on #9713
If you don't create a container at all, does the HTTP call to the service with the self signed certificate work properly?

[2020-06-05 08:14] #9684 closed

[2020-06-05 08:30] Karm opened #9816 "Container builder image does not work on Windows (Hyper-V backed Docker Desktop)"
**Describe the bug**
Hello, a developer using a Windows workstation should be able to use Quarkus builder image to build a native executable (Linux, ELF) and run it in a Linux container. It seems it is not possible with Hyper-V backed Docker Desktop. I haven't tried WSL backed Docker Desktop.

**Expected behavior**
One can build a Linux native executable on Windows workstation using Quarkus builde

[2020-06-05 09:58] sberyozkin commented on #9622
@ejba Thanks for the PR

[2020-06-05 10:09] geoand commented on #9816
If the VM can't see the file system of the host, this is inevitable

[2020-06-05 10:39] sberyozkin commented on #9763
@sanyarnd What happens when no `custom IdentityProvider` is provided ?

[2020-06-05 10:41] jmartisk commented on #9786
I think we should be automatically activating the request context for GraphQL API methods, similar as we do for JAX-RS methods. I'll take a look

[2020-06-05 10:45] tfriman opened #9818 "Layered container image generation"
**Description**

Possibility to create layered container images when using JVM. Reasoning here is that those dependencies that change rarely are being shared as much as possible. Usually only app code is modified thus resulting a very small change. In addition this approach would allow (security) patching lower layers.

**Implementation ideas**

One way would be to use fast-jar directories directl

[2020-06-05 10:56] #9664 closed

[2020-06-05 11:02] sanyarnd commented on #9763
I see no changes after removing custom `IdentityProvider`.
`HttpAuthernicator`'s `mechanisms` contains `NoAuthenticationMechanism`.
.properties:
[code]

Enabling basic auth holds the same result: `NoAuthenticationMechanism` (because there are no identity providers beans, I suppsose)

[2020-06-05 11:07] brentcrammond opened #9819 "Quarkus 1.5.0 Flyway not running Java Migrations"
**Describe the bug**
Quarkus 1.5.0 Flyway not running Java Migrations

**Expected behavior**
All migrations (sql and Java) are run.

**Actual behavior**
Only the sql migrations are running.

**To Reproduce**
Steps to reproduce the behavior:
1. Create MySQL8 database with schema testflyway
2. Update database config in application.properties
3. Run using maven compile quarkus:dev

**Configuration**

[2020-06-05 11:31] geoand commented on #9819
What exactly are Java migrations?

[2020-06-05 11:39] mariofusco commented on #8694
@geoand @evacchi it is confirmed it was a CI failure, I reran it and now it's green.

[2020-06-05 11:52] geoand commented on #8694
Great to know, thanks!

[2020-06-05 11:59] adutra commented on #9183
Unfortunately I think the build will keep failing as long as we reference driver 4.7.0-SNAPSHOT:

[code]

[2020-06-05 12:15] glefloch commented on #9797
Thanks @gastaldi for the assignement.
Looking at github action, it looks like native tests are only run for module under `integration-tests`:
https://github.com/quarkusio/quarkus/blob/e99fded5c13c09526b45d6a268bb196ac7ac2b31/.github/workflows/ci-actions.yml#L549

So I was thinking of creating a `gradle` module under `integration-tests`. WDYT of moving gradle `functionalTest` their ?
Or is there an

[2020-06-05 12:40] geoand commented on #9819
https://github.com/quarkusio/quarkus/pull/9824 fixes the issue

[2020-06-05 12:44] ljacomet commented on #9715
The [now released](https://repo.maven.apache.org/maven2/io/quarkus/quarkus-universe-bom/1.5.0.Final/quarkus-universe-bom-1.5.0.Final.pom) `quarkus-universe-bom` `1.5.0.Final` suffers from the exact same issue.

[2020-06-05 12:46] gastaldi commented on #9797
+1, I think that makes sense.

[2020-06-05 13:11] Karm opened #9825 "Dev tools - CLI Native Tool, Native Test Suite, unresolvable reflection configuration"
**Describe the bug**
It seem that Native Image test suite fails in Devtools module, consistently on several re-runs ```./mvnw verify -Pnative-image -rf :quarkus-cli```
See:
[code]

**Expected behavior**
It passes.

**Actual behavior**
[code]
Full log: https://gist.github.com/Karm/417149af6c772510c7d52095bc5ac494

**To Reproduce**
Steps to reproduce the behavior:
1. ./mvnw verify -Pnative-image

**

[2020-06-05 13:13] Karm commented on #9816
@geoand Will try with WSL instead of Hyper-V then...

[2020-06-05 13:14] ge0ffrey opened #9826 "quarkus-ide-launcher duplicates classes from commons-lang etc without shading"
See discussion here:
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/quarkus-ide-launcher.20vs.20enforcer

In our project we have the enforcer rule org.apache.maven.plugins.enforcer.BanDuplicateClasses.
Because `quarkus-ide-launcher` is a fat jar that includes `jboss-logging` and `commons-lang3`, our build fails:

Duplicate classes found:

[code]

Our dependency tree:

[code]
**T

[2020-06-05 13:29] famod commented on #9715
Maybe the Quarkus build process should introduce https://maven.apache.org/enforcer/enforcer-rules/dependencyConvergence.html to avoid such issues.

[2020-06-05 13:44] r2liquibase commented on #9801
Liqubiase supports MongoDB now. Check it out and let us know what you think: https://github.com/liquibase/liquibase-mongodb.

[2020-06-05 13:56] fluoxa commented on #5348
Hello Guys. What is the status of this feature request. Are there any plans to implement nativequery support? regards

[2020-06-05 13:57] heri333 opened #9829 "Gradle quarkusDev task is not working with quarkus-amazon-lambda-http"
**Describe the bug**

Starting the application with the Gradle quarkusDev task fails if the quarkus-amazon-lambda-http extension is used.

**Expected behavior**

The application is started and able to fulfil requests.

**Actual behavior**

The container does not start up successfully, and all requests are failing with:
[code]
The startup log is:

[code]

**To Reproduce**

I've used basically the `

[2020-06-05 14:33] sassko opened #9831 "Native image build crashes if RestClient includes bigdecimal objects"
**Describe the bug**
Since upgrading from Quarkus 1.4.1.Final to 1.4.2.Final or 1.5.0.Final it is not possible to build a native image if a RestClient is used with DTO classes that contains BigDecimal properties. Maybe it is somehow related to #9189

The error message is:
_Error: com.oracle.svm.hosted.substitute.DeletedElementException: Unsupported type jdk.internal.reflect.MethodAccessorGenerator

[2020-06-05 14:44] evanchooly commented on #9801
Well, I need to admit up front a slight bias.  I'm the maintainer of [Morphia](https://morphia.dev) and so when I see more and more ODM features getting added to mongodb-panache I get twitchy.  There's already Morphia and spring-data etc. so I'm leary of duplicating this functionality all over again.

Now specifically on the subject of indexes, there's some debate as to whether the ODM should mana

[2020-06-05 15:41] geoand commented on #9831
@galderz want to take a look?

[2020-06-05 15:45] Meemaw commented on #9754
@cescoffier any idea how to address this?

[2020-06-05 16:12] thomasbecker commented on #7876
@tomekl007 Tomasz, thx for working on this extension. I faced a lot of issues that you faced as well and that's how I ended up here. I "think" I'm pretty close at having quarkus + cassandra running in a native-image. However I will stop here and clone your extension. Let me know if I can support you in testing features or getting stuff working.

[2020-06-05 16:21] andrebreves commented on #6293
I understand.

Great news! Thanks for your work!

I don't have any project using reactive data access myself, but I will talk to some colleagues asking if they could help testing the driver.

[2020-06-05 16:52] cescoffier commented on #9754
You need to remove one of the implementation.

[2020-06-05 17:09] hlavki commented on #6133
Is this still open problem or PR #7568 is included in 1.5.0 release and this issue can be closed? thanks

[2020-06-05 17:34] xmlking opened #9832 "SmallRyeMetricsProcessor Unsupported api 524288"
how to reproduce
[code]

Error
[code]

[2020-06-05 17:52] geoand commented on #9818
cc @maxandersen

[2020-06-05 18:29] tomgeorge commented on #9713
Sorry for the delay.

Locally, it works when the cert is in the default location on your platform (in my case `$JAVA_HOME/jre/lib/security/cacerts`).

When I copy `cacerts` into another directory, and remove the self-signed certificate from the default trust store, and use `-Djavax.net.ssl.trustStore` it fails.

[2020-06-05 18:29] tomgeorge commented on #9713
When it is packaged in java mode (not `-pnative`) the above steps work, and it is able to find a certification path.

[2020-06-05 18:31] geoand commented on #9713
So you are saying that it doesn't work in native, regardless of docker usage?

[2020-06-05 18:33] tomgeorge commented on #9713
Right

[2020-06-05 18:38] tomgeorge commented on #9713
I'm going to try adding the cert to the default trust store path and keeping it in the hard-coded location as per https://quarkus.io/guides/native-and-ssl

I think maybe the confusion is in the "Working with containers" section, it says it should work by moving the cacerts to `/work/cacerts` and passing `-Djavax.net.ssl.trustStore`

[2020-06-05 19:00] tomgeorge commented on #9713
So that didn't work and I'm a little confused as to why.  If you take this dockerfile from the docs:

[code]

and make the following modifications

[code]

it still doesn't work.

[2020-06-05 19:02] tomgeorge commented on #9713
Were you able to reproduce from the above repository?

[2020-06-05 19:10] geoand commented on #9713
I haven't tried to be honest. There are a ton of things going on so
everyone is stretched pretty thin. Sorry.

I'll be honest with you though, the least number of manual steps anyone
looking at an issue needs to take, the better.

On Fri, Jun 5, 2020, 22:02 Tom George <notifications@github.com> wrote:

[2020-06-05 19:25] hlavki commented on #6133
Would be great to update [Documentation](https://quarkus.io/guides/logging) about this feature.

[2020-06-05 19:33] ge0ffrey opened #9834 "quarkus-resteasy-common depends on groupId com.sun.activation but rest-assured depends on groupId jakarta.activation"
I am seeing this in my `mvn dependency:tree`:

[code]

[code]

This leads to:

[code]

Suggestion on how to fix: Add enforcer rule `<banDuplicateClasses>` and see what breaks.
https://www.mojohaus.org/extra-enforcer-rules/banDuplicateClasses.html

Relates to https://github.com/quarkusio/quarkus/pull/9839
Relates to https://github.com/rest-assured/rest-assured/issues/1332 (= separate issue) and  ht

[2020-06-05 19:34] #9819 closed

[2020-06-05 19:51] geoand commented on #9713
So the application expects to find the trust store in `/tmp/ssl`?

[2020-06-05 19:55] geoand commented on #9713
Also, cc @gsmet who might be available before I am next week

[2020-06-05 20:12] geoand commented on #9713
I can personally spin one up because I can create a cluster on RHPDS, but that doesn't mean every candidate to look at this issue can do it as easily. So if you can spin it up on Monday (I'm off Monday but maybe @gsmet will have some cycles to spare to look at it) and provide share the crt for it that would be great.
IIRC, these don't stay up but are taken down after a while, right?

I haven't rea

[2020-06-05 20:15] tomgeorge commented on #9713
Yeah I can do that on Monday.  I think they stay up for ~3 days.  The SSL part of this definitely complicates things and makes it a more difficult to reproduce.

[2020-06-05 20:20] geoand commented on #9713
If it stays up for 3 days that's great, should make it easy to reproduce and give up plenty of time to figure out what's wrong.

Thanks

[2020-06-05 21:22] diogocarleto commented on #9802
Sure, @loicmathieu I'm trying use the quarkus cache extension.
Some like that

[code]

What I'm missing?
Best.

[2020-06-05 22:42] famod opened #9837 "OverlappingFileLockException in JaCoCo when using offline instrumentation due to duplicate shutdown hooks (classloading issue)"
**Describe the bug**
We are trying to implement test coverage measurement as described here: https://quarkus.io/guides/tests-with-coverage#instrumenting-the-classes-instead

For the most part this is working, but we are seeing this exception _at the end_ of the surefire/test executions in some of our Maven modules:

[code]

After we stumbled upon https://github.com/jacoco/jacoco/issues/331#issueco

[2020-06-06 05:16] maxandersen commented on #9818
@geoand we did this for jib, right ?

Doing I for docker or rather enable it could be to just have the new "app" output split jars into well-defined folders to allow for creating a dockerfile that can just copy each well known folder / file names in separate operations.

@stuartwdouglas that should fit with new devmode approach too?

[2020-06-06 08:06] geoand commented on #9818
@maxandersen correct, for jib we already did that

[2020-06-06 08:43] itboy87 commented on #9194
Sorry i thought may be you are dealing with issues on github can you please
tag relevant developer?

On Tue, 2 Jun 2020 at 9:05 AM, Justin Lee <notifications@github.com> wrote:

[2020-06-06 10:20] TRL-Official opened #9840 "Quarkus Config Server Client Error."
**Describe the bug**
I want to customize ConfigServer and QurakusConfigServerClient.

But I get an error. Gist error log URL: https://gist.github.com/TRL-Official/f3fe2a60c1040587d0929d14f598ad45

ConfigServer returns configuration correctly.

It seems to me that during the init microservice "config-server-client(user-service)" configuration from config-server is not injected. And because of this,

[2020-06-06 12:45] marc-christian-schulze opened #9842 "quarkusDev task fails with "Unable to find quarkus-gradle-plugin dependency""
Same issue as https://github.com/quarkusio/quarkus/issues/8363

The issue was first discovered in 1.3.1.Final and got fixed in 1.4.0.Final.
However, with 1.5.0.Final it has reoccurred.

I've updated the reproducer on github:
https://github.com/marc-christian-schulze/quarkus-reproducer-8363

[2020-06-06 14:47] Meemaw commented on #9754
If anyone encounters same issues, I've solved it with the following configuration:
[code]

[2020-06-06 14:47] #9754 closed

[2020-06-06 15:30] gmussi opened #9843 "Build multi-arch images"
**Description**
The base image used by quarkus ( ubi8/ubi-minimal ) has multi-arch support.
Running `mvn package` should have the possibility of building multi-arch images, too.

**Implementation ideas**
As far as I know, there is no way to currently building multi-arch images with the Docker plugin.
There should be a parameter for selecting which archs you want to build against.

[2020-06-06 20:04] troosan commented on #8242
@stuartwdouglas Do you need more info or is the bug report clear.
I'll try with the newly release 1.5 to see if something changed.

[2020-06-07 06:08] mklueh commented on #8999
I´m running into this issue again as properties of the submodules are not carried into the actual application. Is this behaviour expected? @aloubyansky

It seems I have do define everything in the application module, but I´d like to give my library modules default properties that are used across the board and just are overriden ocasionally in the application modules

[2020-06-07 07:12] rajatpundir commented on #5807
+1

[2020-06-07 07:14] daniel-dev-peru opened #9845 "Quarkus consul quarkus.consul-config.agent.host-port configuration"
I use windows 10 with Docker toolbox and I have a docker consul on port 8095. When I raise my application pointing to 192.168.99.100:8095, internally it changes to 192.168.99.100/192.168.99.100:80 as if it validated if that host existed in that port.

This is my configuration:

quarkus.consul-config.agent.host-port=192.168.99.100:8095

SO: Windows 10 home
Java: 11.0.6.hs-adpt
Quarkus: 1.5.0.Final

[2020-06-07 08:59] jglink opened #9846 "Quarkus 1.5 + Liquibase"
With Quarkus 1.5 the Liquibase integration has an issue (Liquibase version: 3.9.0).
The combination of quarkus:dev and Liquibase changeLog.xml with an includeAll tag does not find the files under a given folder. It always says:
  _File does not exist: D:/Projekte/myproject/target/classes/db/1.0.0/0010_init.sql_

In Quarkus 1.4.x this was working fine.

If I run Quarkus tests with the same Liquibas

[2020-06-07 11:10] ejba commented on #9622
@sberyozkin  Should X-Forwarded-Prefix be confirmed that is a valid URI? If so, what's the expected behavior here? Log a warning and ignore the header if it isn't valid?

[2020-06-07 11:21] oztimpower commented on #9165
@marcinczeczko That actually worked - adding to the additional native build args :)

First - I added the Amazon RDS certificates to the GraalVM cacerts, and used that in the app.

To build, Maven needed the location of the `cacerts`, and the `application.properties` also added the path `cacerts`.

Maven command:

`./mvnw -Djavax.net.ssl.trustStore=path-to-cacerts -Djavax.net.ssl.trustStorePassword

[2020-06-07 13:40] diegokogan commented on #9816
@Karm I had the same problem, you can solve it using Hyper-V sharing the directory in the docker settings:

![file-sharing](https://user-images.githubusercontent.com/468985/83970250-009cd500-a8d5-11ea-99d3-e4b28ac5b519.png)

[2020-06-07 20:15] jrongs opened #9847 "http access log attributes do not work"
certain http access log attributes do not work, namely %t, %D
always getting "-" for those attributes in the log.

for the following pattern:
%t "%r" %s %b %D "%{i,Referer}" "%{i,User-Agent}"

getting the following line in the log file:

-  "GET /_health HTTP_1_1" 200 2 -  "-" "curl/7.58.0"

**Expected behavior**
%t - Date and time, in Common Log Format format
%D - Time taken to process the reques

[2020-06-07 21:33] toniperezfer commented on #5388
Hi. I would like to contribute to the project. It seems like there are two unresolved problems yet, right?

[2020-06-08 03:23] markborner opened #9849 "Vault Database Credentials - Invalid Password (reactive-pg-client)"
**Describe the bug**
I've followed the instructions here for setting up Vault and Quarkus: [QUARKUS - USING HASHICORP VAULT WITH DATABASES](https://quarkus.io/guides/vault-datasource).  However, Quarkus cannot connect to my Postgres database.

**Expected behavior**
Quarkus should be able to get credentials from Vault and successfully connect to Postgres database.

**Actual behavior**
Quarkus canno

[2020-06-08 04:46] ia3andy commented on #5807
@maxandersen Would it be activated when you select Kotlin and Gradle together? Maybe you could want it without Kotlin in the code? Or would it be a plain "Gradle Kotlin" Built Tool?

The problem with the latest would be to have 2 Gradle vs 1 Maven options no?

[2020-06-08 05:17] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/128200501

[2020-06-08 05:19] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/128200577

[2020-06-08 05:51] mariofusco commented on #8694
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/128200788

[2020-06-08 07:09] geoand commented on #9840
Which properties are you trying to set from the config server?

Keep in mind that you can only set runtime properties

[2020-06-08 07:14] geoand commented on #9845
Thanks for the detailed description. I'll have a look soon and let you know

[2020-06-08 07:51] famod commented on #9837
cc @harthorst & @tkalmar

[2020-06-08 08:05] TRL-Official commented on #9840
I'm trying to set the configuration of Datasource, Hibernate, Logging,  Health Check, SwaggerUI.

URL config that I trying set via SpringServerConfig -> [config.](https://github.com/quarkus-based-application/configs/blob/master/user-service.properties)

Settings such as Datasource, Hibernate, Logging,  Health Check, SwaggerUI must be set in "build time". This information is correct?

If this confi

[2020-06-08 09:16] ineednousername opened #9854 "1.4.2.Final, QuarkusTestResourceLifecycleManager, @QuarkusTestResource "DBResource executed on QuarkusTest that has no @QuarkusTestResource(DBResource.class)""
My scenario is the following I want to add a @QuarkusTestResource(DBResource.class) on my integrational tests which require a i.e. Database so I want to fire up the DB in the DBResource QuarkusTestResourceLifecycleManager while leveraging the testcontainers library similar to what people try to achieve here: https://github.com/quarkusio/quarkus/issues/8097
**Describe the bug**
I noticed when addin

[2020-06-08 09:45] artzag commented on #7451
+1

[2020-06-08 09:55] #9849 closed

[2020-06-08 10:45] loicmathieu commented on #9802
@FroMage Quarkus cache uses a CDI interceptor, and CDI interceptors didn't work with static methods right ? This is a known limitation of the Active Record pattern I think ?

[2020-06-08 10:51] geoand commented on #9840
Take a look at : https://quarkus.io/guides/all-config

It says for each option whether it's build time or not. Keep in mind that for each group (for example data source), there could be both build time and runtime properties.
It looks like you are attempting to set both in the config server - that certainly won't work.

So I'll close this for now, but if you see that a rutime property is not takin

[2020-06-08 10:51] #9840 closed

[2020-06-08 11:19] famod commented on #9837
WDYT @stuartwdouglas (and @geoand maybe)?

[2020-06-08 11:45] jmartisk commented on #9832
The problem seems to be that your build, for some reason, pulls in ASM 7.3.1 to the build classpath, whereas Quarkus depends on ASM 8.0.1 for building (`api 524288` means ASM 8). One of your dependencies probably pulls that in and overrides the version that should be used, I suspect it must be something with `io.grpc:grpc-kotlin-stub`. I'm very unfamiliar with Gradle or gRPC though, so I'm mostly

[2020-06-08 11:51] Sanne commented on #8883
This was fixed by #9060 - which is now merged.

[2020-06-08 11:51] #8883 closed

[2020-06-08 12:24] FroMage commented on #9802
@mkouba merged support for interceptors on static methods recently, so this should now work, but an example would allow us to make sure.

[2020-06-08 12:27] vinicius-martinez commented on #8268
Hi there, do we have an update on this one ? Any workaround ?

[2020-06-08 12:32] paulocarrarazup opened #9857 "bean validation does not work in multi module project"
**Describe the bug**
When you define a multi module project, keeping a interface definition in one module and its implementation in another, bean validation doesn't work as expected. When submit a request no validation occurs. If you put both (interface an its implementation) within same module, everything works fine: validation occurs according to defined constraints.

**Expected behavior**
Valid

[2020-06-08 12:34] #9857 closed

[2020-06-08 12:35] mkouba commented on #9802
@FroMage not yet... there were some troubles with quarkus CI.

[2020-06-08 12:38] pcarrara opened #9858 "bean validation does not work in multi module project"
Describe the bug
When you define a multi module project, keeping a interface definition in one module and its implementation in another, bean validation doesn't work as expected. When submit a request no validation occurs. If you put both (interface an its implementation) within same module, everything works fine: validation occurs according to defined constraints.

Expected behavior
Validation sh

[2020-06-08 13:04] jskovjyskebankdk commented on #8737
Similar problem in Eclipse, https://github.com/quarkusio/quarkus/issues/9738

I made some work on this a year back that I did not manage to get landed.
I think I will spend some time trying to fix this problem again.

[2020-06-08 13:18] Sanne opened #9859 "Remove support for persistence.xml for Hibernate Reactive"
**Description**
Currently the Hibernate Reactive extension is able to use a persistence.xml as a configuration file; this capability was inherited from the Hibernate ORM extension but we shouldn't allow it.

We should remove this soon, as it's easier to remove such things before it's included in a release.

[2020-06-08 13:21] diogocarleto commented on #9802
Hi, guys sorry for don't answer before.

class Person {
    public String name;
    public Integer age;

    @CacheResult(cacheName = "test")
    public static List<Person> findPersonByAge(Integer age) {
        return find("{age: ?1}", age).list();
    }
}

Quarkus cache extension u

[2020-06-08 13:53] harshithpawar94 opened #9860 "change jpa query schema dynamically"
how can I change the schema based on the tenant, while working in a multi-schema environment?

[2020-06-08 13:59] aloubyansky commented on #8737
FYI, I am finally extracting Maven from the bootstrap-core #9828 and defining a separate quarkus-bootstrap-app-model that both Maven and Gradle bootstrap will implement. Then for Gradle I think we are going to use custom models (e.g. https://github.com/bmuschko/tooling-api-custom-model) to provide the implementation. @glefloch has already volunteered to look into that.

[2020-06-08 14:09] Sanne opened #9861 "Hibernate ORM extension for Hibernate Types extensions"
**Describe the extension**
We should have an additional extension to enable the Hibernate Types from Vlad's project at
 - https://github.com/vladmihalcea/hibernate-types

(as discussed on the mailing list).

I think we could eventually have the Hibernate ORM extension depend on it automatically (so to pull the dependency in transparently), but I'd prefer to reserve such a move for a future decisio

[2020-06-08 14:36] oztimpower commented on #9165
Confirmed working on local Docker, and also on `EKS` and `EKS-Fargate` (VPC Peering to DocDB). Used the Quarkus generated K8s extension.

Crude `Dockerfile` as below. The `cacerts` needed an explicit full path (I used `/tmp/cacerts` for the build and `application.properties` additional build args). Relative paths didn't work.

Had to modify `.dockerignore` also to use a path to copy the `cacerts`,

[2020-06-08 14:37] mkouba commented on #9802
So this should work in master now. Let me know if you run into problems...

[2020-06-08 15:18] andrejpetras commented on #9861
Hi,

I migrated Vlad's Hibernation types as a Quarkus extension.

Source code: https://github.com/lorislab/quarkus-hibernate-types

Changes:
- remove dependencies to old Hibernate versions and add Quarkus dependency
- replace object copy with a Jackson "object copy"
- remove all reflection
- Inject Jackson ObjectMapper from Quarkus Arc CDI container

[2020-06-08 15:29] #9786 closed

[2020-06-08 15:37] #9780 closed

[2020-06-08 15:37] #8531 closed

[2020-06-08 16:21] aloubyansky commented on #8999
@mklueh This is expected. The original idea was to have a single source of the config. Your idea is not at all unreasonable. And it's not Gradle-specific. Feel free to open a new issue for it. I'm sure there will be others who will vote for it. Thanks.

[2020-06-08 16:26] asodja commented on #8737
One way of doing this would be to just run `Gradle Quarkus plugin` and cache the model. I played a bit with it and made it work for IntelliJ Unit Tests.

My strategy was smth. like that:
1. Bootstrap checks if classpath has changed (using `System.getProperty("java.class.path").hashCode()`)
2. if classpath changed or model does not exists, then it runs `Gradle quarkus plugin` with some IDE paramete

[2020-06-08 17:08] aguibert commented on #9859
I plan to work on this one

[2020-06-08 17:28] Sanne commented on #9859
great, thanks @aguibert .

[2020-06-08 18:30] junaid155 opened #9867 "Apache Ignite extension"
**Describe the extension**
Apache ignite extension to provide a way to automatically create a reusable Instance of Ignite object and way to interact with basic crud operations for any repository just like Spring data Apache ignite repository.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
`

quarkus.ignite.hostname:local

[2020-06-08 18:41] aloubyansky commented on #8737
It will definitely be provided by the Gradle plugin. Thanks @asodja for the reference.

[2020-06-08 18:45] mklueh opened #9869 "Respect submodule application.properties config when packaging the application"
**Description**

When using a shared library module between several application modules, you probably will have some library-specific properties set, like default timeouts, urls etc.

Currently you have to redefine them in the application.properties file of the application module, as the properties of the library are not carried into the application and therefore those config entries are missing.

[2020-06-08 19:37] precompiler opened #9871 "Enhance quarkus vault integration - allow users to specify k8s auth method mount path"
**Description**
Kubernetes auth method mount path can be customized by users, e.g. using below command
[code]
In this case if we want to do vault k8s login, we need to login against "auth/mycluster/login".

But currently, the [OkHttpVaultClient ](https://github.com/quarkusio/quarkus/blob/master/extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/client/OkHttpVaultClient.java#L93)hard c

[2020-06-08 20:34] tomgeorge commented on #9713
The app is up at https://petclinic-petclinic.apps.cluster-teg.sandbox1459.opentlc.com/

Added clearer instructions in the readme of for reproducing.

https://github.com/tomgeorge/quarkus-9713-reproduce

[2020-06-08 20:50] ejba commented on #9871
It seems a straightforward task, I would like to contribute on this one if you don't mind.

[2020-06-08 21:37] precompiler commented on #9871
@ejba please go ahead, thanks.

[2020-06-09 00:13] stuartwdouglas commented on #9837
I think we want the agent based instrumentation to be our default approach. I am not sure why it says that this approach is not compatible with Quarkus, its the approach we use for code coverage within Quarkus itself.

[2020-06-09 00:55] rajatpundir commented on #5807
I think kotlin DSL is more elegant with a Gradle Kotlin project. That's also what Spring initializr generates by default for a gradle kotlin project, and would be good to have similar behaviour for generating new quarkus projects.

[2020-06-09 01:04] xmlking commented on #9832
latest Quarkus  depends on  `7.3.1` https://github.com/quarkusio/quarkus/blob/master/independent-projects/bootstrap/pom.xml#L44

I think am getting 8.0.1

[2020-06-09 01:17] xmlking commented on #9832
[code]

[2020-06-09 01:22] xmlking commented on #9832
I even tried to local to version `7.3.1`, but still the same error...

[code]

[2020-06-09 03:10] stuartwdouglas commented on #8242
@aloubyansky do you have any ideas what we could do about this one? We could manually pull this out of the plugin config in the pom but that does not seem great.

[2020-06-09 04:29] #9068 closed

[2020-06-09 04:29] #9506 closed

[2020-06-09 04:29] #9826 closed

[2020-06-09 04:33] hantsy commented on #9741
The `Json` class is from vertx which is included as dependency of the Quarskus vertx extension, so I think vertx extension could have some way to hooks ObjectMapper to it's internal `Json`.

[2020-06-09 04:54] stuartwdouglas commented on #9847
You need to set quarkus.http.record-request-start-time=true for %D to work, %t should be working though.

[2020-06-09 05:16] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/129387513

[2020-06-09 05:17] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/129387437

[2020-06-09 05:17] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/129386857

[2020-06-09 05:23] #8439 closed

[2020-06-09 05:26] geoand commented on #8593
Seems like `ActiveMQTest` is failing again:

[code]

[2020-06-09 06:03] dasniko commented on #8938
Hi guys,
I'm looking for something similar, reading all the DB information from an AWS secret, not only username/passwort, but also jdbc url information (which is a standard secret format in AWS Secrets Manager).

Would be very nice if there's a way to provide all this (jdbc) information easily.

@BastianSperrhacke-Otto Did you make any progress in the meantime building an own credentials provider

[2020-06-09 06:27] geoand commented on #9846
Hi,

Do you have a reproducer for this? I can't seem to reproduce the problem in out testsuite.

[2020-06-09 06:29] geoand commented on #9871
cc @vsevel

[2020-06-09 06:31] geoand commented on #9858
Hi,

Have you made Quarkus aware of these other modules?
See https://stackoverflow.com/a/55513723/2504224 for a great overview of how to do it.

[2020-06-09 06:32] geoand commented on #9845
#9874 fixes the issue

[2020-06-09 06:42] geoand commented on #9713
Thanks a lot! Looking now

[2020-06-09 06:59] aloubyansky commented on #8242
Yeah, that's a tough one. I guess we don't have much of a choice. Given that we can't simply add the deployment deps right on top of the system classloader, I guess we could create a new isolating classloader that will be pulling classes and resources from the system one but allow us to perform additional processing when necessary and make that our runtime classloader. One of the issues with this

[2020-06-09 07:03] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/129447685

[2020-06-09 07:16] ia3andy opened #9875 "Migrate project command in Quarkus tooling"
**Description**
Most users didn't know about that feature, but it was possible to migrate existing projects to Quarkus with the create command (before https://github.com/quarkusio/quarkus/pull/9787).

To put ourselves in a greenfield situation and make it possible to have as much stability as possible in our CodeStarts (https://github.com/quarkusio/quarkus/issues/8134), I removed that feature from

[2020-06-09 07:47] jglink commented on #9846
The problem is, that the includeAll tag is working fine during the test phase, but not if you start the application with "mvn quarkus:dev".
So, providing a test case (@QuarkusTest) is of no use.

But I can try to set-up a simple Quarkus project to demonstrate this.

[2020-06-09 07:47] jmartisk commented on #9832
There is a discrepancy in ASM dependencies, the Bootstrap project indeed depends on 7.3.1 (https://github.com/quarkusio/quarkus/blob/edd539f29c305ab908ed6bcd315821e1e5beb137/independent-projects/bootstrap/pom.xml#L44) while the runtime bom is already at 8.0.1 (https://github.com/quarkusio/quarkus/blob/edd539f29c305ab908ed6bcd315821e1e5beb137/bom/runtime/pom.xml#L68)

However, I tried updating the

[2020-06-09 08:00] geoand commented on #9846
Yeah, I get that. What I meant was that doing `quarkus:dev` on our liquibase integration test, things worked fine.

:+1:

[2020-06-09 08:07] jglink commented on #9846
Can you give me a hint were you´ve executed the `quarkus:dev` command, so that I can have a look at that configuration.
Maybe I´m doing something wrong or have a different configuration.
Thanks

[2020-06-09 08:09] geoand commented on #9846
This is where I tried it: https://github.com/quarkusio/quarkus/tree/master/integration-tests/liquibase

It could very well be that the integration test isn't doing enough, in which case a reproducer for the issue would be great so we can not only fix the issue, but also improve coverage

[2020-06-09 08:26] famod commented on #9837
@stuartwdouglas It is because of constructor injection. The problem is described here: https://quarkus.io/guides/tests-with-coverage#the-coverage-does-not-seem-to-correspond-to-the-reality

[2020-06-09 08:27] gsmet commented on #9846
Our test uses `<include>`. Apparently, that one is working, it's `<includeAll>` not working. At least, that's what I understood.

[2020-06-09 08:29] BastianSperrhacke-Otto commented on #8938
@dasniko Hey Niko. We did not investigate so far. Sorry.

[2020-06-09 08:31] jglink commented on #9846
Yes, exactly.
I just had a look at the sources as well and the liquibase tests are using `include`.

The `include` is working in my environment, just not the `includeAll`.

[2020-06-09 08:36] geoand commented on #9846
Very good info

[2020-06-09 09:19] ppalaga commented on #8593
The root cause is `Get https://quay.io/v2/testcontainers/ryuk/manifests/0.2.3: received unexpected HTTP status: 502 Bad Gateway`. Can we do anything about it?

[2020-06-09 09:24] geoand commented on #8593
quay issues again? :(

[2020-06-09 09:31] #9845 closed

[2020-06-09 10:24] famod commented on #9837
What if Quarkus would create no-arg constructors for CDI-beans by default? cc @mkouba @manovotn
Not sure whether this would be possible.

More context:
We (~10 developers) just had an internal discussion and we would like to use _online_ instrumentation, also because that just works in IDEs whereas _offline_ instrumentation seems impossible.
But we do not want to hand-write no-arg constructors, es

[2020-06-09 10:29] geoand commented on #9837
We already do that in some circumestances we know it's necessary

[2020-06-09 10:31] DorianMaliszewski commented on #7414
If it can help someone I made a flow with a one time ticket. I made one rest endpoint to generate a specific ticket and the websocket bean : I give you the classes.

[code]
Yes it's an ugly Map<String,String> but it do the job. Of course you can do an object :laughing:

My model
[code]

My Service
[code]

My websocket
[code]

My other service
[code]

I hope this will help you guys

[2020-06-09 10:32] knutwannheden commented on #9791
It may also make sense to make the values represented by the constants `io.quarkus.annotation.processor.Constants#PKG_PATTERN` and `io.quarkus.annotation.processor.generate_doc.ConfigDocItemScanner#IO_QUARKUS_TEST_EXTENSION_PACKAGE` configurable in the context of `io.quarkus.annotation.processor.generate_doc` where they are used.

[2020-06-09 10:32] jglink commented on #9846
Just created a PR to show the issue: https://github.com/quarkusio/quarkus/pull/9876

(The PR has no fix in it but just added an `includeAll` to the Liquibase config and a SQL changeset file which is referenced from the includeAll.
I also had to modify the application.properties to get it working locally.)

[2020-06-09 10:34] geoand commented on #9846
Thanks, I'm going to look at the issue now

[2020-06-09 10:56] svilenvul opened #9877 "Clustered Vert.x support for Native Mode (Hazelcast client mode)"
**Description**
I want to ask if bringing clustered Vert.x in native mode is planned or already discussed.

There is already a [Hazelcast Client Extension](https://github.com/hazelcast/quarkus-hazelcast-client) available for Quarkus which brings support for using a hazelcast client in native mode.

Also Vertx Cluster Manager allows using a custom hazelcast client.

**Implementation ideas**

Create

[2020-06-09 11:06] svilenvul commented on #9877
@cescoffier, I would appreciate it if you can comment on this one. Thanks in advance!

[2020-06-09 11:14] stuartwdouglas commented on #9837
That is the problem, it means the classes loaded into memory are not the same as the ones jacoco sees on disk, and this causes problems.

We do have the ability to dump the transformed classes to disk, I wonder if jacoco could use that.

[2020-06-09 11:19] #9260 closed

[2020-06-09 11:24] famod commented on #9837
AFAIK, as long as the classes already have the constructor when they are _loaded_ (from whatever source) and are processed by the JaCoCo agent, eveything is fine. But I guess this is too early for the Quarkus mechanism?

[2020-06-09 11:40] galderz commented on #8201
Fixed more globally in https://github.com/quarkusio/quarkus/pull/9686.

[2020-06-09 11:40] #8201 closed

[2020-06-09 11:44] #9750 closed

[2020-06-09 11:45] stuartwdouglas commented on #9837
On Tue, 9 Jun 2020 at 21:24, Falko Modler <notifications@github.com> wrote:

They definitely have them when they are loaded, the agent will see the
final class file that will be provided to the JVM. It won't be the same as
the one on disk though.

Maybe it is also loading the originals, and this is confusing it.

Stuart

[2020-06-09 11:48] #9267 closed

[2020-06-09 11:58] famod commented on #9837
Again AFAIK but in online mode the JaCoCo agent should not do anything with the class files.
When generating a report, though, it does need the source files. But I guess it won't fail if it doesn't find the no-arg constructor there.

cc @marchof

[2020-06-09 11:59] pcarrara commented on #9858
Sorry, i didn't understand. I think the explanation about the problem it's clear about the modules. In fact, i've described the modules dependenciies and the classes within each on of them

[2020-06-09 12:06] geoand commented on #9858
In order for Quarkus to be able to read annotations from other modules, you need to make Quarkus aware of those modules like the link I pasted above explains

[2020-06-09 12:47] galderz opened #9880 "Unable to run debezium quarkus integration tests"
Not sure where to report this. Probably something for https://github.com/quarkusio/quarkus-platform but no issue tracker there?

Unable to run native tests for debezium:

[code]

[Longer output](https://gist.github.com/galderz/e6c0223df9f27d414bff65d2edcb55a3)

[2020-06-09 12:49] pcarrara commented on #9858
Hi @geoand!! I'm sorry by my missunnderstanding
I added the reference of the module where the interfaces are within the pom of the implementation module:

Module A: has interface
Module B: has implementation.

Module B also has the reference (as maven depedency) to module A. But the validation described in the interface is ignored. It only works if put both (interface and implementation) in the sa

[2020-06-09 13:06] geoand commented on #9858
Can you try adding an empty

[code]

file to module A?

[2020-06-09 13:15] #9545 closed

[2020-06-09 13:15] itboy87 opened #9882 "NullPointerException when quarkus.http.access-log.enabled=true"
**Describe the bug**
I'm getting too many NullPointerException when setting quarkus.http.access-log.enabled=true here exception logs
[code]

**Expected behavior**
Request Logs print in console

**Actual behavior**
Request logs are showing but also too many exceptions only if i set quarkus.http.access-log.enabled=true

**To Reproduce**
Steps to reproduce the behavior:
1. build quarkus project with

[2020-06-09 13:19] McIntozh opened #9883 "Missing skip- or exclusive-feature for Scheduler system"
**Description**
I encountered the problem, that when the triggered method is currently processing and the same timer hits again, the method is also processed again.
Migrating from the EJB `@Schedule` annotation, this is a different behaviour. In EJB the method is processed exclusively, and during that, additional triggers are ignored.

I tried setting the method to synchronized but then - like I e

[2020-06-09 13:24] Eche99 opened #9884 "Problem running Hoverfly"
I´m using Hoverfly (hoverfly-java-junit5 version: 0.13.0) for some integration tests in 1.2.1 and it worked fine ! From version from version 1.3.0 to 1.5.0 i´ve had problems.
This could be the problem that is mentioned in: https://github.com/quarkusio/quarkus/issues/7140
I get this:
release.service.ReleaseServiceTest
[ERROR] anropTillTabortRelease{Hoverfly}  Time elapsed: 4.094 s  <<< ERROR!
com.t

[2020-06-09 13:28] marchof commented on #9837
@famod The JaCoCo also transforms class files, but on-the-fly while classes are loaded in memory. During report generation the exact same original class files are required (source files are optional if you want highlighted class files). If the class files are transformed before JaCoCo agent sees them, they do not match any more. JaCoCo does not look at specific constructors. Any modification will

[2020-06-09 13:44] jglink commented on #9846
@geoand Great! That was really fast.
Thank you!

[2020-06-09 13:45] geoand commented on #9846
You are welcome :)

[2020-06-09 13:51] ppalaga opened #9885 "Add metadata to mark an extension as deprecated on code.quarkus.io"
We'd like to deprecate camel-quarkus-hystrix extension, because the underlying Camel component got deprecated by Camel https://camel.apache.org/components/latest/eips/hystrix-eip.html Once Camel removes the component, we (Camel Quarkus) will be forced to remove it as well. The users are advised to use [MP Fault Tolerance](https://camel.apache.org/camel-quarkus/latest/extensions/microprofile-fault-

[2020-06-09 13:59] alesj opened #9886 "DeepClone in QuarkusTestExtension returns null"
Custom JUnit5 extensions providing non-primitive test method arguments have issues wrt TCCL.
This is "solved" with DeepClone workaround.
But in our case this DeepClone impl returns null for a simple JDK Supplier instance:
* https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/deep.20clone

[2020-06-09 14:05] pcarrara commented on #9858
Thanks @geoand !! It worked!!
But, just to known. This is a expected behavior?

[2020-06-09 14:09] geoand commented on #9858
It is, see https://quarkus.io/guides/maven-tooling#multi-module-maven

[2020-06-09 14:09] #9858 closed

[2020-06-09 14:31] jmartisk opened #9887 "Metrics aren't registered for default methods inherited from interfaces when a class is annotated"
... but metric interceptors ARE applied to the default method, so calling that method will result in an error

[2020-06-09 15:31] jrongs commented on #9847
@stuartwdouglas  thank you.  I have verified that %D is now working after setting quarkus.http.record-request-start-time=true.  I'll do some investigation on %t and report back.

[2020-06-09 15:34] sberyozkin opened #9888 "Quarkus OIDC code flow does not work if Keycloak is configured with non-default token/etc endpoint paths"
**Describe the bug**
Manuel has reported in [this Zulip thread](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/quarkus-oidc) that a code flow with the Keycloak instance with the non-default token path (example, `/access_token` versus the default `/token` for the token endpoint) does now work since it is overridden with the default value during the quarkus-oidc initialization.

T

[2020-06-09 15:52] harthorst opened #9889 "HTTP server fails with "Address already in use" with dynamic ssl port"
**Describe the bug**
If I run quarkus with both http and https port=0 sometimes the server does not start.

**Expected behavior**
Server starts using free ports

**Actual behavior**
Quarkus exits with: java.net.BindException: Address already in use

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/quarkusio/quarkus-quickstarts.git
2. cd quarkus-quickstarts/openapi-

[2020-06-09 16:08] ppalaga commented on #9885
I admit the Quarkus platform version number would be more useful there (and also in general, because we do not use quarkus-extension.yaml anywhere else), but the problem is that quarkus-extension.yaml is maintained on the Camel Quarkus level where we cannot tell upfront which Platform version will the given Camel Quarkus release be part of.

[2020-06-09 16:19] sorin-costea commented on #6259
For me, it works now - after a Quarkus update (1.5.0) and a Docker update (2.3.0.3)
(still fails some other place, but that's another story)

[2020-06-09 16:21] harthorst opened #9890 ""VertxException: Thread blocked" when running quarkus in ssl-only mode"
**Describe the bug**
If I disable http and enable https a lot of warnings about blocked vertex threads are shown. This happens only if I set quarkus.http.ssl-port to 0.

**Expected behavior**
Startup shows no warnings

**Actual behavior**
see attached log file

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/quarkusio/quarkus-quickstarts.git
2. cd quarkus-quicksta

[2020-06-09 16:43] sirAlexanderT commented on #7451
Structure logging is pretty much the standard now,any update on this issue?

[2020-06-09 16:44] emmanuelbernard commented on #9885
you sort of do know that if you want to deprecate extension Foo ad day D, then the closest release of Quarkus platform after day D will be the one. But to your point, it feels like deprecation is a platform stuff more than an extension stuff.

[2020-06-09 17:15] famod commented on #9889
cc @tkalmar

[2020-06-09 17:15] famod commented on #9890
cc @tkalmar

[2020-06-09 17:20] geoand commented on #9713
Started looking at this but then got pulled in to fix other bugs, so hopefully I'll pick it up again tomorrow

[2020-06-09 17:33] galderz commented on #9792
@emmanuelbernard sure assign it to me, but there's some obstacles to resolve before then.

I started playing with debug symbols and Quarkus a few days back, which led me to finding https://github.com/quarkusio/quarkus/issues/9750.

Once that was fixed I tried to debug it with gdb 7.6, but gdb threw a segmentation fault. I tried with latest gdb 9.2 and at least that loaded the image with symbols, b

[2020-06-09 18:25] dliraf opened #9892 "Gradle fails if both io.quarkus and com.google.protobuf plugins are used"
**Describe the bug**
Gradle build fails if both io.quarkus and com.google.protobuf plugins are in use

**Expected behavior**
Successful build

**Actual behavior**
What went wrong:
A problem occurred configuring root project 'lego'.

Trying to specify any configuration starting with 'native' results in 'unexpected token: native @ '
e.g.
configurations {
    native-testCompileProtoPath
}

**To Repro

[2020-06-09 18:56] ambition-consulting opened #9893 "maven deploy to minikube fails due to insecure curl problem"
**Describe the bug**
When executing: mvn clean package -Dquarkus.kubernetes.deploy=true -debug

**Expected behavior**
Quarkus installs whatever is needed to deploy

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install minikube
2. follow https://haralduebele.blog/2020/04/03/deploy-your-quarkus-applications-on-kubernetes-almost-automatically/

I believe there is a

[2020-06-09 19:08] ppalaga commented on #9885
Not exactly. We have to release Camel Quarkus between D and Quarkus platform release. It already happened in the past, that we have not caught the train. Releasing at ASF has some procedural overhead. But it perhaps does not matter so much if we are sometimes not 100% accurate with the deprecation version estimate.

Not sure I follow. Could you please explain that? We definitely need to maintain t

[2020-06-09 19:19] marcoblos commented on #6376
Maybe, but it's just a big maybe... @iain-raidiam is trying to use HTTP API instead of Rest API. If I'm right then the mapping is a little bit different.

From this AWS Doc: [Working with AWS Lambda proxy integrations for HTTP APIs](https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-lambda.html)

## Version 1 - AWS::Serverless::Api - current quarkus implemen

[2020-06-09 20:06] BiggA94 opened #9894 "Generate application.yaml when quarkus-config-yaml extension is enabled during generation"
**Description**
If I generate a new Quarkus application and I am using the quarkus-config-yaml extension, a application.properties file is generated.
I would assume that users that are using the quarkus-config-yaml extension rather want to use application.yaml file.
(Could be extended if [CodeStarts](https://github.com/quarkusio/quarkus/issues/8134) are implemented)

**Implementation ideas**
Since

[2020-06-09 20:22] daniel-dev-peru commented on #9845
Thanks :) well... In which version of Quarkus is the bug fix released?

[2020-06-09 20:27] famod commented on #2933
This has bitten me badly today when I tried starting the runner ja with `-Dquarkus.hibernate-orm.database.generation=...`.
What makes things worse is that there is no warning so users are pretty much left clueless.

@nelsongraca Have you made any progress on this? 🙂

[2020-06-09 20:32] famod commented on #9837
@marchof thanks for clarifying this.

So how do we me move on from here?

[2020-06-09 20:38] famod commented on #4890
I really wished @harthorst and I had more diagnostic output earlier today when we ran into #9889.
Even with DEBUG logging it was not obvious which port Qaurkus tried to acquire, which is especially annoying when you have both http and https ports.

[2020-06-09 21:20] famod opened #9895 "Allow activation of multiple configuration profiles"
**Description**
I understand that currently a Quarkus config profile denotes an "environment".

But sometimes you want to resuse configuration bits but you cannot put them in the "common" block (properties without `%<profileName>` prefix).
E.g. in my current project we would like to toggle dev-mode between h2 (default) and postgres (also used in prod, but with slightly different config). We have s

[2020-06-09 21:21] famod commented on #6810
I could not agree more!

Btw, #9895 is partially related in the sense that I would love to see multiple files being loaded, not just the default one + a single profile specific one.

[2020-06-09 21:22] famod commented on #9895
cc @harthorst & @tkalmar

[2020-06-09 22:26] hartimcwildfly commented on #6133
Sorry, I can't do it in the near future. But as this is not a functionality which can be used directly by the user, I don't think it's too bad that there is no documentation. Because for using a named custom logging handler the user has to write his own quarkus extension which provides a NamedLogHandlersBuildItem. (same as when the wants to use an unnamed custom loghandler where one needs to provi

[2020-06-09 23:04] andfs opened #9896 "ORM Generation error when value is update with mysql"
**Describe the bug**
if use
```quarkus.hibernate-orm.database.generation=update```
with MySQL database, quarkus tries to create the schema again. Its behavior is like generation was **create**

**Expected behavior**
Quarkus should only update the schema and not recreate it.

**Actual behavior**
Quarkus tries to create the schema again

**To Reproduce**
Steps to reproduce the behavior:
1. Setup hib

[2020-06-10 00:11] brunohorta82 commented on #9194
I have the same issue

`@GET
    @Path("event")
    @Produces(MediaType.SERVER_SENT_EVENTS)
    @SseElementType(MediaType.TEXT_PLAIN)
    public Multi<String> listen() {
        return vertx.eventBus().localConsumer(eventChannel).toMulti().map(objectMessage -> objectMessage.body().toString());
    }`

[2020-06-10 00:37] radcortez commented on #9194
@FroMage is this with you?

[2020-06-10 02:25] evanchooly commented on #6717
This one's not on me, though, right?  looks like the google stuff is off, yes?

[2020-06-10 02:30] #6669 closed

[2020-06-10 03:13] jimbogithub commented on #2328
A good reason for having a custom JRE is to be able to keep things slim but include jcmd (which can be done simply via jlink) for which you otherwise require the full JDK.

[2020-06-10 04:33] #9846 closed

[2020-06-10 04:34] geoand commented on #9845
It should be part of 1.5.1 which should be released soon

[2020-06-10 04:44] geoand commented on #6717
@evanchooly that's right.

@loicmathieu does `quarkus-integration-test-google-cloud-functions-http` require Java 11 for some specific reason?

[2020-06-10 05:17] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/130589355

[2020-06-10 05:18] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/130589419

[2020-06-10 06:14] loicmathieu commented on #6717
@geoand yes, Google cloud functions requires java 11. I add exclusions on the workflow file.

[2020-06-10 06:20] galderz commented on #9831
@geoand I suspect this issue might be fixed with https://github.com/quarkusio/quarkus/pull/9686. We had a few of `Unsupported type jdk.internal.reflect.MethodAccessorGenerator...` with 20.1.0. The fix in that PR should solve it for everyone.

Unless there's a release with that fix (@geoand?), @sassko maybe you want to build master and see if it's still an issue?

[2020-06-10 06:21] geoand commented on #9831
Thanks @galderz.

We don't yet have a release with your fix, so for the time being used `master` is the best option

[2020-06-10 06:25] geoand commented on #6717
OK, thanks

[2020-06-10 07:18] iamgowtham opened #9900 "SQLServerException occured connecting to MSSQL server using Hibernate ORM in Quarkus"
**Describe the bug**
Unable to connect to MSSQL server database using hibernate-orm

**Expected behavior**
Should be able to connect to MSSQL server database when the application is run

**Actual behavior**
The following error takes place when the application is run with MMSQL server config in application properties,

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the quarkus app

[2020-06-10 08:01] gsmet commented on #9900
Hmmm, I fail to see it as a Quarkus issue? It says you cannot log in with the user `sa`.

[2020-06-10 08:07] iamgowtham commented on #9900
`sa` is the username in the MSSQL database. When I try running the quarkus application with MSSQL config in application.properties I get the error. I tried logging in the MSSQL server via `sqlcmd` in cli using the same credentials defined in application.properties and was successful.

[2020-06-10 08:08] iamgowtham commented on #9900
This is the application.properties that I used for the quarkus application,

[code]

[2020-06-10 08:10] iamgowtham commented on #9900
This happens only when I tried connecting to MSSQL database and when I tried the same with other databases such as MySQL, MariaDB and PostgreSQL it works fine.

[2020-06-10 08:18] FroMage commented on #9194
Well, perhaps, but I don't quite understand this issue. Perhaps @vietj can help me make sense of it?

[2020-06-10 08:23] sorin-costea opened #9901 "Native image generation on Windows fails with different errors"
**Describe the bug**
Maven native package generation fails on Windows.

**Expected behavior**
It should generate the native image duh :)

**Actual behavior**
First problem:
The build process would get stuck here:
[code]
I tried increasing the Docker memory to 8G and the native image xmx to 4G just in case, it helped.

Second step: getting bunch of NoClassDefFoundError:
[code]
I added to the pom th

[2020-06-10 08:40] #9812 closed

[2020-06-10 09:08] r00ta commented on #9854
Hi, I have the same issue here.
I've investigated just a little bit, here my stackstrace.
[code]

My very quick workaround is to set an enviroment variable in the `pom` just for the integration tests and then check in the `start` method of the `TestResource` class if that property is set or not. In that way I'm able to skip the setup of the resources for the classes annotated with `QuarkusTest` on

[2020-06-10 09:09] ambition-consulting commented on #9893
[code]

[2020-06-10 09:13] ambition-consulting commented on #9893
Might relate to https://access.redhat.com/discussions/4524081

[2020-06-10 09:14] ambition-consulting commented on #9893
[code]
This problem might go to Minikube instead? Maybe you could allow curl to work insecure for that one repository as a temporary solution?

[2020-06-10 09:25] itboy87 commented on #9194
I think that exception occur only when client close connection before request complete. So its not harmful. But better if logs more clear like "connection closed by client"

[2020-06-10 09:29] ineednousername commented on #9854
@r00ta thanks for the tip, I will do the same to at least prevent the test resource to do any work during non integrational quarkus tests.

[2020-06-10 09:31] ambition-consulting commented on #9893
Or maybe you should remove the dependency to red hat. I can't even reply in their forum, since that requires a subscription? wtf...

[2020-06-10 09:40] Sanne commented on #9900
hi, are you sure you can connect with non-Quarkus applications with the same credentials?

Last time I used it, it would refuse to authenticate when using trivial passwords.

We have integration tests covering specifically for this so I would ask you to double check your setup please.

[2020-06-10 09:59] loicmathieu opened #9904 "Improve Java 11 only integration tests handling"
**Description**
The new Google Cloud Platform integration tests cannot be build using Java 8, this mandates Java 11 to build Quarkus. The CI has been update to ignore those tests but when someone do a `mvn clean install` on the Quarkus repo with a Java 8 runtime it fails.

We need to overcome this and provides a clear way to handle this:
- Make Java 11 the minimal target to **build** Quarkus (Java

[2020-06-10 10:01] loicmathieu commented on #9904
There may be an issue way to fix this via module inclusion in a specific profile: https://github.com/quarkusio/quarkus/pull/9897#issuecomment-641895100

[2020-06-10 10:01] iamgowtham commented on #9900
@Sanne the password mentioned is a sample password. I tried logging into MSSQL using in cli using `sqlcmd -U sa -S localhost -P 'password'` with the same credentials used in the quarkus application and it is working fine.

[2020-06-10 10:02] #9342 closed

[2020-06-10 10:18] iamgowtham commented on #9900
@Sanne Also, I'm able to connect to MSSQL database with same credentials using JDBC but when I try the same using hibernate-orm it fails.

[2020-06-10 10:35] geoand commented on #9713
@tomgeorge long story short: `-Djavax.net.ssl.trustStore` needs to be set at native binary **build** time (this is due to how GraalVM handles the trust store: https://github.com/oracle/graal/blob/vm-20.1.0/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/Target_sun_security_ssl_TrustStoreManager.java)

For now, the easiest way for you to set it would be by adding:

[code]

Once the

[2020-06-10 10:36] famod commented on #9890
@stuartwdouglas @geoand @gsmet any clue why this is happening? We also get this when starting the runner jar.
Together with #9889 we are kind of stuck because we need dynamic ports for a certain setup.

Btw,  @harthorst did not attach the certifcate files because we used internal ones we did not want to share. Hope that's not a problem...

[2020-06-10 10:44] Sanne commented on #9900
Very odd. Do you think you could have a look at the integration test we have here:
 - https://github.com/quarkusio/quarkus/tree/master/integration-tests/jpa-mssql

Can you manage to edit it to figure out what exactly is different in the IT we have compared to your app?

[2020-06-10 10:50] vsevel commented on #8938
hello @dasniko there is an official support for custom credentials provider and associated documentation.

[2020-06-10 10:57] Sanne commented on #9904
+1 please

We need to be able to run the full build on Java 8 too.

[2020-06-10 11:00] gemmellr commented on #9904
I was thinking my profile suggestion from above would be easiest to get the build working on 8, but something occurred to me while preparing a patch that may suggest otherwise, e.g getting the test module building on 8 but not running the tests.

If using a profile to stop the module running at all when on 8, then it also wont be picked up for re-versioning during the release process, which could

[2020-06-10 11:03] kraeftbraeu commented on #9888
Sorry, that issue is not correct - I am the reporter and after managing to log the http requests I can confirm that the token path is correctly read from the auth server.

Please close that issue!

[2020-06-10 11:10] stuartwdouglas commented on #9890
@vietj It looks like this might be a vert.x issue. It seems that it is really slow to initialize the keystore, and this happens in a sync block so it blocking all the threads.

[2020-06-10 11:44] famod commented on #9890
FWIW: While debugging, @harthorst was seeing _multiple_ attempts to open ports (with various numbers) when ssl is active.
This coud explain both this delay _and_  #9889.

He is re-checking this currently.

[2020-06-10 11:50] gemmellr commented on #9904
I'm only now realising that the module doesn't actually run automated tests. Given the source is 8-compatible, just making them build with 8 does seem like the easy fix in this case if it doesnt break anything where they run?

[2020-06-10 11:54] iamgowtham commented on #9900
@Sanne I'm able to connect to the MSSQL database from quarkus once I updated the password. Seems the password I have used earlier does not satisfy the complexity required. Thanks a lot for helping out.

[2020-06-10 11:54] #9900 closed

[2020-06-10 12:03] JiriOndrusek opened #9911 "Native tests in quarkus-platform have different classpaths then JVM tests"
**Describe the bug**
Test executed in quarkus-platform has different dependencies in JVM then in native.

**Expected behavior**
Classpaths should be the same.

**Actual behavior**
* camel-quarkus-integration-test-debezium doesn't contain dependencies `mysql-connector-java` and `camel-quarkus-debezium-mysql`.
* these dependencies are part of quarkus-platform module (`quarkus-universe-integration-te

[2020-06-10 12:43] knutwannheden opened #9916 "Allow logging via OpenTelemetry"
**Description**
Allow the `smallrye-opentracing` to optionally register a logging handler which would add all logging events above a given threshold level to the currently active tracing span (if any).

The user would use dedicated config properties to enable this feature (disabled by default) and configure the threshold level to use to filter the events to log via OpenTracing.

[2020-06-10 13:37] ppalaga opened #9918 "code.quarkus.io should search description"
@maxandersen said on quarkus-dev ML https://groups.google.com/d/msg/quarkus-dev/uc3N_cQzG1g/C75JdHOvDwAJ

But when testing it does not seem to be the case:

1. Go to https://code.quarkus.io/
2. Search for `mqtt`

Actual: finds only `SmallRye Reactive Messaging - MQTT Connector`
Expected: should find also `Camel Paho` becuase it has MQTT in its description - check by searching for `paho` and see th

[2020-06-10 15:14] RotBolt opened #9921 "Add Specific version for io.netty:netty-tcnative-boringssl-static"
`io.netty:netty-tcnative-boringssl-static` is missing specific version

cc @michalszynkiewicz

[2020-06-10 23:23] stuartwdouglas commented on #9890
I think this is a vert.x issue, and will need to be fixed in vert.x

[2020-06-11 01:50] fabstao opened #9931 "PanacheMongoEntity list date query not working"
**Describe the bug**
(Describe the problem clearly and concisely.)
Hi!

I am passing a simple date query:

Using MongoDB with Panache:

[code]
it gets 0 results

In Mongo CLI on the current database:
[code]

If I use something basic like:
[code]

I get results:

[code]
**Expected behavior**
(Describe the expected behavior clearly and concisely.)

Get the same result as in the Mongo CLI

**Actual b

[2020-06-11 02:29] Yanxinwei opened #9932 "Exception while using PostgreSQL and ElasticSearch in one app"
**Describe the bug**
I use PostgreSQL and ElasticSearch for data storage in my app, and the ElasticSearch operations are mistook for PostgreSQL ones, and it throws **PSQLException**.

**Expected behavior**
PostgreSQL operations and ElasticSearch ones are excuted correctly.

**Actual behavior**
Exception is throwed.

**To Reproduce**
Steps to reproduce the behavior:
1. My ElasticSearch domain objec

[2020-06-11 02:42] yatindra commented on #9892
I was able to get them to work together with

[code]

[2020-06-11 04:10] jaikiran commented on #9889
Hello @harthorst, is there a complete exception stacktrace that you could paste in this issue? That way it will be quicker to understand what's going on.

[2020-06-11 05:02] #9904 closed

[2020-06-11 05:04] jaikiran commented on #9847
The %t issue should be fixed by https://github.com/quarkusio/quarkus/pull/9936

[2020-06-11 05:11] jaikiran commented on #9882
https://github.com/quarkusio/quarkus/issues/9882 has been opened with a fix for this issue.

[2020-06-11 05:18] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/131791193

[2020-06-11 05:18] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/131791745

[2020-06-11 06:12] svilenvul commented on #9877
I see there are also some changes upcoming in the cluster managers starting form Vert.x 4.0: https://github.com/vert-x3/wiki/wiki/RFC:-clustering-SPI-revisited

[2020-06-11 06:23] harthorst commented on #9889
[stacktrace.txt](https://github.com/quarkusio/quarkus/files/4762949/stacktrace.txt)
@jaikiran : sure. you'll find the complete log in the attachment.

[2020-06-11 06:24] geoand commented on #9884
Can you please format the message? It is currently very hard to read

[2020-06-11 06:27] geoand commented on #9677
We can't avoid deep cloning since the arguments need to converted to be loaded by the ThreadContext ClassLoader.
What does probably need to be improved is the deep clone implementation itself. Currently we have the simplest possible solution that works for most cases, but it clearly needs improvement

[2020-06-11 06:34] yrodiere commented on #9932
Please format your ticket correctly; I can't edit it and I'm having a hard time understanding what's going on. You should add a line composed only of three backticks, before and after each block of code:

[code]

[2020-06-11 06:39] loicmathieu commented on #9931
@fabstao when you use Panache with a query expressed as a `Document` and not a `String` we didn't do any treatment to the query so this is standard MongoDB.

I think that the way you build your Document query is wrong, the correct way should be
[code]

For your information, you can use a more concise form via a String to avoid building those Documents:

[code]

[2020-06-11 07:05] dominik42 commented on #7440
JOOQ allows the usage of typesafe SQL in java which is a huge advantage compared to plain sql as String. Furthermore, the lack of support of nativeQueries in Spring Data Repository methods within a quarkus app #5348 , makes it nearly unusable for use cases where complex SQL (common table expressions, window functions etc.) are needed for queries. JPA/JPQL can't provide such functionality.

[2020-06-11 07:22] geoand commented on #7440
@dominik42 thanks for the info.

I would like to know what integration of JOOQ with Quarkus you would like to see.

[2020-06-11 07:31] geoand commented on #9932
I fixed it :)

[2020-06-11 07:33] geoand commented on #9893
@maxandersen or @cescoffier do you have any idea what's going here?

[2020-06-11 07:39] Yanxinwei commented on #9932
THX~~

[2020-06-11 07:43] Yanxinwei commented on #9932
Its updated.

[2020-06-11 07:47] loicmathieu opened #9941 "Allowing application to control bean removal"
**Description**
One of the top reason to create an extension is to control bean inclusion / removal to the bean factory. This can be complex if we want to use an external library not covered by Quarkus.

We can already control easily bean inclusion in multiple ways (see the CDI guide) but to control bean removal we only have `@Unremovable`.

It should be possible to setup some bean unremovable dir

[2020-06-11 07:53] #9882 closed

[2020-06-11 07:54] yrodiere commented on #9932
Thanks to you both.

@Yanxinwei The exception simply states that a table does not exist. You should create that table.

In case that wasn't clear, the "Hibernate Search - Elasticsearch" extension is not a standalone mapper from your objects to Elasticsearch. It will integrate with Hibernate ORM, and _when Hibernate ORM persists data to the database_, it will take care of updating Elasticsearch ind

[2020-06-11 07:54] #9847 closed

[2020-06-11 07:54] dliraf commented on #9892
Thanks.
Can confirm that the workaround worked for me as well

[2020-06-11 07:59] maxandersen commented on #9893
that's new.

We shouldn't see our default community docker images depend on subscription manager. If we do that's a bug.

[2020-06-11 08:02] loicmathieu opened #9943 "Allowing application to control types registration for reflection"
**Description**
One of the top reason to create an extension is to register types for reflection inside a native image. This can be complex if we want to use an external library not covered by Quarkus.

Today we only have `@RegisterForReflection` that needs to be set on each type that needs to be registered.

It should be possible to setup some type register for reflection directive from applicati

[2020-06-11 08:02] geoand commented on #9893
@ambition-consulting what base image are you using?

[2020-06-11 08:12] mkouba commented on #9941
I'm not so sure about the annotations and hierarchies but it probably makes sense to introduce a config property that would allow users to mark types as unremovable. I would start with the `quarkus.arc.unremovable-types` property that would follow the syntax we use for [quarkus.arc.selected-alternatives](https://quarkus.io/guides/cdi-reference#declaring-selected-alternatives) and `quarkus.arc.excl

[2020-06-11 08:21] gsmet commented on #9831
I'm backporting this fix to 1.5.1.Final.

[2020-06-11 08:26] loicmathieu commented on #9941
OK, this is a good starts anyway ;)

[2020-06-11 08:36] loicmathieu opened #9945 "Create a "All Build Items" page"
**Description**
When working on a Quarkus extension, I often wonder myself "how can I do this ?" or "is there a build item to do this?".

Quarkus build mechanism offers a lot of pre-defined functonalities thanks to the numerous build items. Even if we can discover them by searching them inside our IDE, it will be more convenient to have a single page that list them all with some documentation.

**

[2020-06-11 08:41] Yanxinwei commented on #9932
Thanks a lot, this problem is so confusing because of the extension's name;
I will try another way : )

[2020-06-11 08:43] #9932 closed

[2020-06-11 08:51] ia3andy commented on #9885
@ppalaga you can use both, but the second is nicer IMO.

[2020-06-11 08:55] ia3andy commented on #9918
@ppalaga we could do that directly in the code quarkus extension processor to make that available for all extensions, would you provide a PR?

https://github.com/quarkusio/code.quarkus.io/blob/master/src/main/kotlin/io/quarkus/code/misc/QuarkusExtensionUtils.kt#L44

(If Kotlin is a problem, you could create a java class containing the code and just call it from there)..

[2020-06-11 09:20] maxandersen commented on #9893
looks like whatever defualt we use.

Which is what surprise me since deploy minikube haven't been issue before.

[2020-06-11 09:21] wjglerum opened #9947 "Kafka security config params not being picked up from env file"
**Describe the bug**
Not all Kafka security options are being picked up when using a `.env` file. We need this as we use SASL authentication. Other parameters do work as expected when provided in a `.env` file.

**Expected behavior**
Quarkus picks up all parameters from a `.env` file.

**Actual behavior**
The following parameters work as expected in a property file, yaml config and environment var

[2020-06-11 09:28] geoand commented on #9893
I am not sure it's the default because when I tried minikube successfully multiple times and I don't have any sort subscription setup

[2020-06-11 09:33] rsvoboda commented on #9707
I was able to hit this issues using `,;~!@#$%^&()` as the directory name, so no special national characters are needed.

With Quarkus 1.5.0.Final I see:
[code]
Running `mvn quarkus:dev` from `c:\Users\Rostislav\Downloads\,;~!@#$%^&()\getting-started>`.
`mvn test` works well and tests are passing.

[2020-06-11 09:34] Yanxinwei commented on #9932
I forgot...
May the force be with U~~~~

[2020-06-11 09:50] manovotn commented on #9941
I'll send a PR for this sometimes next week.

[2020-06-11 09:53] ambition-consulting commented on #9893
@geoand I am using whatever ships with the newest Minikube v1.11.0 (released 12 days ago).

$ uname -a
Linux minikube 4.19.107 #1 SMP Thu May 28 15:07:17 PDT 2020 x86_64 GNU/Linux

I am not sure, what your plusing is exactly using internally. I simply ssh'ed from Windows into the Minikube VM with "minikube ssh" and found the same problem with curl, that I found when executing your maven plugin fro

[2020-06-11 09:56] geoand commented on #9893
Can you please try doing the following:

[code]

and paste the output?

[2020-06-11 09:58] dominik42 commented on #7440
Well, an 'official' extension so that anyone can @Inject the org.jooq.DSLContext which is based on the datasource configured for the quarkus app.
This DSLContext is the main 'bean' which allows using JOOQ (e.g. write typesafe statements based on the previously generated java source files for your current DB schema). The generation can be integrate into maven / gradle builds easily, also for scenar

[2020-06-11 10:01] geoand commented on #7440
Understood. I like the idea, @emmanuelbernard, @maxandersen WDYT?

[2020-06-11 10:25] mkouba commented on #9941
IMPL NOTE: Take a look at `ArcProcessor.initClassPredicates(List<String>)` (BTW we should rename the param `selectedAlternatives` -> `types` or something like that).

[2020-06-11 10:28] hakandilek opened #9949 "Gradle native build fails without much information"
**Describe the bug**

I have a test project where I build jar and native versions of the same project with Gradle in the CI pipeline. JVM build runs just fine but the native build fails with the message `Image generation failed. Exit code: 1` without any further information.

I did try installing native build environment via
`apt-get -y install gcc libc6-dev zlib1g-dev build-essential` but they ar

[2020-06-11 11:37] maxandersen commented on #9893
It's weird. It's just going microdnf update which download stuff that is publically available behind proper Https URLs with certificates.

@geoand did you fail to reproduce on latest minikube or other version ?

[2020-06-11 11:37] maxandersen commented on #9893
Btw. "subscription" to comment is just developer.redhat.com which is free.

[2020-06-11 11:48] geoand commented on #9893
I am using 1.9.x, but let me try the latest

[2020-06-11 12:01] geoand commented on #9893
I just tested with the latest `minikube` and with a fresh project created using `1.5.0.Final` and the `quarkus-minikube` and `quarkus-container-image-docker` extensions.

[code]

worked flawlesly.

[2020-06-11 12:45] geoand commented on #9949
Can you try building with `--stacktrace` to get more information out of Gradle?

[2020-06-11 12:49] metacosm opened #9951 "Kubernetes extension config properties documentation should be automatically generated"
**Description**
The config properties table is currently hard-coded and should be automatically generated

**Implementation ideas**
See for example what is done for the datasource configuration documentation.

[2020-06-11 12:50] ppalaga commented on #9918
Good idea! Let me try.

[2020-06-11 12:51] galderz commented on #9831
Thx @gsmet

[2020-06-11 12:56] geoand commented on #9947
Unfortunately this is a consequence of the Kafka config not being part of the regular Quarkus config system (@dmlloyd was soooooooooooo right when he insisted that all configuration go through the Quarkus config system - unfortunately not every extension headed his suggestion)

[2020-06-11 12:58] vishalgoel1988 opened #9952 "Quarkus undertow does not has io.undertow.server.handlers.proxy package"
**Describe the bug**
I am trying to implement reverse proxy in quarkus using undertow. But it seems that quarkus-undertow and quarkus-http-core does not has io.undertow.server.handlers.proxy package. Due to this, I get below error if I use undertow reverse_proxy.

undertow-handlers.conf
`path-prefix('/a') -> reverse-proxy('http://localhost:7100/a')
`
error while starting quarkus:
Caused by: java.l

[2020-06-11 12:58] vusalalishov commented on #7451
+1

[2020-06-11 13:08] wjglerum commented on #9947
Aah that makes kinda sense, thanks. Is there an easy way to fix this in the extensions? Or plans to enforce this in the future in Quarkus?

[2020-06-11 13:12] wjglerum commented on #9947
It's mainly useful for during development/debugging when you want to connect and switch locally to another Kafka broker. For production we use env vars anyway for the secrets.

[2020-06-11 13:20] geoand commented on #9947
It's not a strict rules, so it's really up to each extension.
You might want to send an email to Quarkus mailing list to bring (general) issue to the forefront of people's atty

[2020-06-11 13:29] famod commented on #9861
`com.vladmihalcea.hibernate.type.util.CamelCaseToSnakeCaseNamingStrategy` from Vlad's project is alos helpful!

@andrejpetras Your extension does not contain this strategy, right?

[2020-06-11 13:54] johanvos commented on #9313
FXML strongly depends on reflection, but I am very open to discuss how we can avoid this (without breaking the top-level API). I agree CDI would be interesting here.

[2020-06-11 13:57] #6858 closed

[2020-06-11 14:09] jaikiran commented on #9889
For quick reference, here's the relevant part from that attachment:

[code]

[2020-06-11 14:30] #9918 closed

[2020-06-11 14:33] cescoffier commented on #9447
Upstream issues have been fixed.

[2020-06-11 14:38] rsvoboda opened #9954 "ReflectiveHierarchyStep warning for org.slf4j and javax.security.auth classes"
ReflectiveHierarchyStep throws warning for org.slf4j and javax.security.auth classes, Unable to properly register the hierarchy of the following classes for reflection as they are not in the Jandex index

[code]

Reproducer:
[code]

[2020-06-11 14:52] jaikiran commented on #4890
In the long term, I think (only) in dev and test mode of Quarkus, we should evaluate setting the `jdk.includeInExceptions` security property to have the `hostInfo` value. This property is supposed to be used for the following (see `java.security` file of your JDK installation for more details):
[code]

We (Quarkus) can do this by passing a security properties file when we launch the JVM in dev mod

[2020-06-11 15:08] fabstao commented on #9931
Hi! Got it! Now it's working, thanks a lot!

P.S.

I think I will stick with the String - PanacheQL version, Java Date.

[2020-06-11 15:08] #9931 closed

[2020-06-11 16:07] marc-christian-schulze opened #9956 "Quarkus 1.5.0.Final - Mongo Panache - Native update queries create invalid MongoDB statements"
**Describe the bug**
When performing an update in a `MongoPanacheRepository` using a native query such as
[code]
the final statement sent to the MongoDB contains a wrapper:
[code]
The wrapper is created in `ReactiveMongoOperations::bindUpdate`:
[code]
Although this might be convenient for some users who don't want to deal with the MongoDB query details it corrupts those native queries that instead

[2020-06-11 16:27] #9629 closed

[2020-06-11 16:34] metacosm commented on #9629
For reference, the new syntax is:
[code]
since that was changed during the PR review process.

[2020-06-11 16:38] emmanuelbernard commented on #7440
Aside from the issue of jOOQ being open core, I think having an extension for it to integrate the usage makes sense. But if by official it means let’s find someone from red hat to maintain, I’m more reluctant. Could we find an official maintainer ? See https://github.com/quarkusio/quarkus/wiki/Adding-extensions-to-the-Quarkus-ecosystem

[2020-06-11 16:57] gunnarmorling commented on #6015
Finally got around to writing the blog post: https://www.morling.dev/blog/building-class-data-sharing-archives-with-apache-maven/ Feedback welcome :)

[2020-06-11 17:03] gsmet commented on #9792
Ah, yes, I will send the email right away.

[2020-06-11 17:04] gsmet commented on #9792
I created the wiki page the other day but forgot to send the email: https://github.com/quarkusio/quarkus/wiki/Release-Planning

[2020-06-11 17:06] gsmet commented on #9792
Done.

[2020-06-11 17:43] EfraimLA commented on #9298
I just update to 1.5.0.Final and still cannot use file system resources, i get NPE in native mode

[2020-06-11 17:45] vaswanijitesh commented on #9501
As soon as I updated to Quarkus 1.5, the delete started working! Just FYI :)

[2020-06-11 19:01] etonzera opened #9957 "Quarkus 1.5.0.Final - Consul 403 Forbidden using"
**Describe the bug**
I am using this example as a reference https://quarkus.io/guides/consul-config to communicate with the consul through authorization via token, however I am receiving the following exception.

[code]
**Expected behavior**
When checking my settings they seem to be ok. Because I can get the result waiting via cURL with both X-Consul-Token and Authorization: Bearer see:

[code]

*

[2020-06-11 19:04] geoand commented on #9957
Thanks for reporting.

Do you perhaps have a specific script you are using to start Consul with auth enabled?
I can of course do it myself, but would love to save time if you have something ready to go.

[2020-06-11 19:16] etonzera commented on #9957
Unfortunately I don't, because I'm using the consul already set up by the company's devops team and since today is a holiday in my country, I'll only get it tomorrow. But I was trying to configure it locally on my workstation and was basing myself on this example:

https://github.com/dj-wasabi/consul-acl-examples/tree/master/single-dc

Speaking of which, you don't think we could improve the consul

[2020-06-11 19:26] geoand commented on #9957
I'll give it a try soon, thanks

Yeah, I think those are good ideas. Would you be interested in contributing those documentation improvements?

[2020-06-11 20:07] dominik42 commented on #7440
If you can provide an initial version, maybe based on the [existing repo ](https://github.com/leotu/quarkus-ext-jooq) I could do my very best. I'm primary a freelance Spring Boot guy using JOOQ, but currently I'm member of a project using Quarkus and I would like to use JOOQ also in this area.

[2020-06-11 20:24] geoand commented on #9957
#9959 fixes the issue

[2020-06-11 20:30] geoand commented on #6015
Cool, I'll take a look over the weekend!

[2020-06-11 20:31] etonzera commented on #9957
Absolutely. I would be very grateful! How to proceed?

[2020-06-11 20:33] geoand commented on #9957
The documentation is at: https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/consul-config.adoc

Feel free to work on it at your own pace and when you are done, you can submit a Pull Request and ping me for a review.

[2020-06-11 20:36] etonzera commented on #9957
I will contribute. Thank you for the invite

[2020-06-11 20:36] geoand commented on #9957
Thanks you!

[2020-06-11 20:47] atzoum commented on #3262
Any progress?

[2020-06-11 21:43] darmanovic commented on #4644
It would be really nice if this module could be made to work.

[2020-06-12 02:08] AceHack commented on #7175
Can't wait to see these numbers.

[2020-06-12 04:16] yanxuehe commented on #9768
sorry for the late response

[code]

[2020-06-12 05:17] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/132950145

[2020-06-12 05:18] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/132949627

[2020-06-12 05:24] michael-schnell commented on #8548
Works fine now. The issue was to use the profile switch at compilation time:

`
./mvnw package -Pnative -Dquarkus.profile=database
`

[2020-06-12 05:24] #8548 closed

[2020-06-12 05:54] DemiusAcademius opened #9961 "After upgrade to Quarkus 1.5.1 @Transactional not save changes"
After upgrade to Quarkus 1.5.0 (and 1.5.1 also) @Transactional not save changes to database

In version 1.4.2 all changes commited to Oracle db
with version 1.5.1 I expect same bahaviour

but changes not saved

**Configuration in yaml**
[code]

**not working snipped**

[code]

**Query in FPJob PanacheEntity**

[code]

**but this code is working**
[code]

[2020-06-12 07:05] loicmathieu commented on #9931
Great, this is what we advocate developers to use ;)

[2020-06-12 07:08] Dufgui commented on #4005
Hello, sorry but no. Quarkus team change the rule during development (around 3 months, more 100 hours) and don't want it in core repository. They ask us, to publish and maintain it in a separate repo. My brother and me do it to contribute on Quarkus, not to maintain it. So we don't do it, even if code (client and server) works. So if you want it you can take the code and put it in a repository and

[2020-06-12 07:13] loicmathieu commented on #9956
This is an oversight, we only think about supporting the same type of update that we support for JPA but MongoDB allow more ways to update a document.

One way to workaround this would be to provides overload on the `update` method with an operator, by default it will be the `$set` operator but a user could use a different one. I need to check that it's feasible.

Or we can provides an executeUpda

[2020-06-12 07:51] JalajChawla opened #9962 "quarkus-amazon-lambda @Inject doesn't work in JVM mode"
**Describe the bug**
In Reference to below Bug
(https://github.com/quarkusio/quarkus/issues/3354)
I am still getting null pointer exception below is the code which is showing the same ...
https://github.com/JalajChawla/quarkusDemo
**Expected behavior**
It should run fine

**To Reproduce**
Steps to reproduce the behavior:

1. Create Lambda using Java 8 runtime
2. Specify the handler Name as quarkus

[2020-06-12 08:24] #9860 closed

[2020-06-12 08:59] ifs-amineberguiga opened #9964 "asynchronous method"
I try to develop a scenario here my code must be asynchronous using quarkus framework, bellow a snippet of my code:

[code]
**Expected behavior**
that this method work on background and return a sample message to client

**Actual behavior**
(Describe the actual behavior clearly and concisely.)
but I get always when I my execution pass by the exception catch and When I call dataAccessAuthorisationR

[2020-06-12 09:12] lukaseder commented on #7440
Just like Flyway and Liquibase! :)

While I won't take the lead, I'll certainly be available for any questions that Red Hat or the community may have, just as with Spring Boot or Micronaut

[2020-06-12 09:21] chyiro commented on #3066
Hi.

I have the same question so I created a simple reproducible.
It will be a great help if anyone could have check on this.
https://github.com/chyiro/quarkus-with-gradle

I tried 3 kinds of methods for including local jar files. Please refer to build.gradle in the reproducible for more details.
1. `implementation files('lib/sample.jar')` in dependencies
2.  `compile files('lib/sample.jar')` in d

[2020-06-12 09:28] Fabrice-Deshayes-aka-Xtream commented on #7451
+1 Adding stuctured arguments in our json logs is mandatory for us too. If Quarkus native json logging can do that it would be nice, or let us use slf4j and logback...

[2020-06-12 09:30] ahamed-k opened #9965 "Quarkus "quarkus-smallrye-jwt" does not recognize x5t as alias to identify key-id working with JWKS"
Appreciate the way quarkus-smallrye-jwt works. We all know kid(in jwt token header) is used to identify the correspoding signature in JWKS to validate the token. However quarkus-smallrye-jwt does not seem to support x5t as an alias name or key-id - an alternate to kid(in header) while working with JWKS. There are identity servers like WSO2 - that supports JWKS with keys containing x5t - as alias n

[2020-06-12 09:38] agoncal opened #9966 "Quarkus 1.5.1 : NoSuchMethodError: QuarkusBootstrap.getApplicationRoot()Ljava/nio/file/Path"
**Describe the bug**
Since upgrading Quarkus from 1.5.0.Final to 1.5.1.Final I have a strange bug. If you run a test on its own, or from the root directory (root `pom.xml`) with Maven (`mvn clean test`), it works. But if you `cd` a sub-directory and run `mvn clean test` from a sub-module, it breaks at the first test (no matter which one) with the following exception:

[code]

I don't use the Maven

[2020-06-12 09:52] fsudrot commented on #7451
+1 we have to be compliant with some log specs in my project to have a common monitoring in kibana. So please add this feature.

[2020-06-12 10:03] ppalaga commented on #7440
@emmanuelbernard I think it may not be clear to potential jooq extension maintainers whether you prefer the extension to live inside or outside of Quarkus source tree.

[2020-06-12 10:20] sirAlexanderT commented on #7451
@gsmet looks like Quarkus should give the people what they want :) could this find it's way onto the roadmap?

[2020-06-12 10:48] rquinio opened #9967 "Pool AdminClient in KafkaStreams health check"
**Describe the bug**

Lots of INFO logs are generated by default due to KafkaStreams health check (500MB of logs in a few hours with 20 pods & 10s check frequency):

[code]

The logging is kind of hardcoded into Kafka when using [Admin#create](https://github.com/apache/kafka/blob/trunk/clients/src/main/java/org/apache/kafka/clients/admin/Admin.java#L63), but a workaround is to set:

[code]

Though

[2020-06-12 11:04] j-be commented on #7102
I am still able to reproduce the issue (or at least a very similar one) with Quarkus 1.5.1.Final. The issue on my side seems to hinge on `findAll().list()` being executed or not, which triggers some kind of `TestMethodScoped` caching.

See https://github.com/j-be/quarkus-7102 for a minimal project reproducing the issue.

[2020-06-12 11:10] Eche99 commented on #9884
So what can I do to get attention to this problem ? Since version 1.2.1.Final Hoverfly isnt working in my integration tests anymore. I have tryed using WireMock instead but that does´nt work either (not in any version).

[2020-06-12 11:41] geoand commented on #9884
If you could upload a simple project that reproduces the problem, that would be great

[2020-06-12 11:56] Eche99 commented on #9884
Ok I will upload an example project !

[2020-06-12 11:58] juangon opened #9968 "org.testcontainers dependencies exists in quarkus-universe-bom"
**Describe the bug**
It seems that it isn't possible to upgrade org.testcontainers:mariadb or other container dependencies to 1.14.3 in a custom project.

Workaround is to explicitely add root org.test.container dependency in pom.xml

**Expected behavior**
No errors when using any container `getJdbcUrl()` method after upgrading org.testcontainers:mariadb to 1.14.3

**Actual behavior**
Error while

[2020-06-12 12:07] sberyozkin commented on #9965
`x5t` is a certificate thumbprint, what do you mean when you say it is an `alias` ?

[2020-06-12 12:31] harshithpawar94 opened #9969 "Failed to generate native image"
**Describe the bug**
Failed to execute goal io.quarkus:quarkus-maven-plugin:1.5.0.Final:native-image (default) on project quarkus: Failed to generate native image: io.quarkus.builder.BuildException: Build failure: Build failed due to errors

**Expected behavior**
generating a native executable native image successfully

**Actual behavior**
failing to generate the native image and throws above exce

[2020-06-12 12:36] rmanibus commented on #9887
I think it's not only for default method,

I have
[code]
and it is throwing UnsupportedOperationException

[2020-06-12 12:38] atoom commented on #9622
Hi,

Since there is no standard defined for `X-Forwarded-Prefix` I have been trying to look around and see how different products/vendors/frameworks are using it. So far the two most concrete examples are the [Traefik StripPrefix](https://docs.traefik.io/middlewares/stripprefix/) middleware and the [Spring ForwardedHeaderFilter](https://github.com/spring-projects/spring-framework/blob/master/sprin

[2020-06-12 12:43] DemiusAcademius commented on #9961
I switch from PanacheEntity to PanacheRepository and it worked (problem was with PanacheEntity)

[2020-06-12 13:05] pedroigor commented on #8469
Humm.. Let me fix those ..

[2020-06-12 13:07] survivant opened #9970 "amqp methods with @Outgoing don't support parameters"
I'm using Quarkus 1.5.1.Final

I'm using this link as example :  https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/advanced/broadcast.html

there example is this
[code]

I added this class in your demo : amqp-quickstart  and added this
[code]

Caused by: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
        [error]: Build step io.quarkus.s

[2020-06-12 13:13] rmzzz opened #9971 "NPE in QuarkusTestException instead of reporting real boot exception"
**Describe the bug**
NullPointerException is thrown in QuarkusTestException.runExtensionMethod (line 498 in 1.5.1.Final) because runningQuarkusApplication is null, whereby exception that caused boot to fail is swallowed.

**Expected behavior**
Real cause of failure should be reported.

**Actual behavior**
[code]

**To Reproduce**
Looking into the code: QuarkusTestExtension.interceptBeforeAllMethod

[2020-06-12 13:26] ambition-consulting commented on #9893
@geoand same problem:
[code]

Please note, that before my environment was set up for docker-machine, where I have not yet downloaded the required certificates for registry.access.redhat.com.

[2020-06-12 13:27] ambition-consulting commented on #9893
Also, I recently had quarkus-kubernetes extension running, but replacing that with quarkus-minikube extension did not help either.

[2020-06-12 13:30] ambition-consulting commented on #9893
Also, we are behind a fairly annoying bluecoat proxy - not sure if that is a problem with https://cdn-ubi.redhat.com/

Question, what is this about?
[code]

[2020-06-12 13:34] ambition-consulting commented on #9893
And regarding the redhat forum - I have registered and logged in, but cannot write, maybe because it is labelled Red Hat Enterprise Linux? No idea, but I cannot respond and contribute.

[2020-06-12 13:35] ambition-consulting commented on #9893
Also, changing the driver to docker driver did not work - probably because I cannot run docker in elevated mode... so I am back to Virtualbox.

[2020-06-12 13:40] Eche99 commented on #9884
Example project here: https://github.com/Eche99/hoverfly-test
mvnw compile
mvnw test # will fail

[2020-06-12 13:42] hakandilek commented on #9969
@harshithpawar94 is the rest of the error message similar to #9949 ?

[2020-06-12 13:44] ambition-consulting commented on #9893
Adding to the Dockerfile

[code]

results in

[code]

So I guess maybe it's about connectivity in general.

[2020-06-12 13:53] survivant commented on #9970
I filled a issue also here : https://github.com/smallrye/smallrye-reactive-messaging/issues/603

doesn't look like a bug in Quarkus, let keep this one open until we get feedback from smallrye.  Maybe we will have to include a fix in the next release

[2020-06-12 13:58] ejba commented on #9622
Hi @atoom,

You should have a look into this issue (https://github.com/spring-projects/spring-framework/issues/4732), it gives you more details about the problem.

[2020-06-12 14:05] dusty73 commented on #4651
Any news on this? We're currently facing the same problem, using Telegraph as scraper we receive errors because of duplicated help lines

[2020-06-12 14:28] atoom commented on #9622
Hi @ejba

It is the dynamic `SERVER_SERVLET_CONTEXT_PATH` part I don't get. How is it possible to setup the routing rules inside the application if the context path can vary per request ? Isn't it better to have a static context path within the application and let the reverse proxy handle the per environment/request dynamic configuration ? The reverse proxy could of course handle response rewrites

[2020-06-12 14:41] ambition-consulting commented on #9893
Or maybe not, I am confused:

[code]

[2020-06-12 15:17] pedroigor commented on #8469
@Ladicek Could you check https://github.com/quarkusio/quarkus/pull/9972? Anything else?

[2020-06-12 15:20] ambition-consulting commented on #9893
Adding the intercepting proxy PEM to minikube trusted certs did not help.

[2020-06-12 15:28] fluoxa opened #9973 "Spring-Cloud-Config-Client Configuration not working"
The settings for your Spring-Cloud-Config-Client  are ignored when you configure them in your application.yml (using quarkus-config-yaml extension). Configuring them in application.properties are working normally.

Quarkus Version: 1.5.1.Final

**Expected behavior**
Spring-Cloud-Config-Client configuration should also work in application.yml (like in quarkus 1.4)

**Actual behavior**
Spring-Cloud-

[2020-06-12 15:37] fluoxa opened #9974 "Quarkus cant be launched with Main-Class anymore"
**Describe the bug**
I'm using IntelliJIdea and i cant directly start my Quarkus Mainclass anymore in my IDE. I dont like the maven dev-mode to much and i like to debug my application directly. This worked without problems in Quarkus 1.4.1.Final

Quarkus-Version: 1.5.1.Final
Java: jdk11.0.6_10
IntelliJ: 2020.1.2

**Expected behavior**
Application should start normally

**Actual behavior**
Applicat

[2020-06-12 15:40] ambition-consulting commented on #9893
Changed my Dockerfile to using UBI base with subscription, now I got

[code]

[2020-06-12 15:41] ambition-consulting commented on #9893
Red Hat Enterprise Linux 8 for x86_64 - BaseOS  2.0 MB/s |  18 MB     00:09

Success.

Red Hat Universal Base Image 8 (RPMs) - BaseOS  0.0  B/s |   0  B     00:00

Failure.

What is so special about this image?

[2020-06-12 15:44] geoand commented on #9893
I still haven't been able to reproduce any of that.

@maxandersen if you could give it a quick spin when you get a chance it
would be great

On Fri, Jun 12, 2020, 18:40 John-Paul Cunliffe <notifications@github.com>
wrote:

[2020-06-12 15:47] fabstao commented on #9931
Yeah! :)

[2020-06-12 16:27] sean-scott-lr opened #9975 "Quarkus 1.5 grpc extension breaks infinispan client extension"
**Describe the bug**
When using both the quarkus-grpc extension and the quarkus-infinispan extension, you will receive a `No marshaller registered for Java type` error

**Expected behavior**
The error does not occur

**Actual behavior**
When an item is put into, or retrieved from a cache, you receive an IllegalArgument exception that the proto marshaller isn't registered for the class

**To Reprod

[2020-06-12 16:54] sean-scott-lr commented on #9975
![Screen Shot 2020-06-12 at 10 50 20 AM](https://user-images.githubusercontent.com/52219783/84526683-090d5b00-ac9b-11ea-81be-3c58d5610996.png)
Just inifinispan-client.... NO grpc changes to pom.xml:

[2020-06-12 16:55] sean-scott-lr commented on #9975
![Screen Shot 2020-06-12 at 10 50 20 AM](https://user-images.githubusercontent.com/52219783/84526683-090d5b00-ac9b-11ea-81be-3c58d5610996.png)
After adding GRPC related changes to pom.xml

[2020-06-12 17:44] sean-scott-lr commented on #9975
Ok, after seeing this problem yesterday and today... in both our app and the reproducer project.  The problem has just stopped occurring in both projects.  Stay tuned in case I figure out why.

[2020-06-12 17:48] ambition-consulting commented on #9893
Ok, finally I found the solution....

As suspected, our SSL intercepting proxy is causing a problem again. By copying the intercepting SSL PEM inside registry.access.redhat.com/ubi8/ubi:8.1 image to /etc/pki/ca-trust/source/anchors/, and running update-ca-trust, curl will now now longer mind the sniffing proxy and just works:

[code]

In case you are also targeting big companies, which often use t

[2020-06-12 18:23] geoand commented on #9893
Thanks for the excellent analysis!

We indeed need to look into how to make things easier on that front

[2020-06-12 18:52] enesusta opened #9976 "How can I change the field name of async response data in Spring Web Quarkus?"
Let's assume that we have a controller.

[code]

It returns data as like listed above:

[code]

Please look at "" section of JSON data. I dont want it. How can I change this?

Java version: GraalVM 20.1.0

Quarkus version:

[code]

All dependencies I have:

[code]

[2020-06-12 19:26] sean-scott-lr commented on #9975
`mvn clean compile package verify`
Seems to reliably reproduce the bug.  I have also seen it with `mvn package`, `mvn compile quarkus:dev` and just `mvn quarkus:dev` .  It seems once it gets into the broken state, it stays that way.

[2020-06-12 20:18] drissamri opened #9979 "quarkus-amazon-lambda-http-archetype broken"
**Describe the bug**
Newly generated project using quarkus-amazon-lambda-http-archetype 1.5.1.Final doesn't create a SAM deployment file, function.zip and other like described in https://quarkus.io/guides/amazon-lambda-http

**Expected behavior**
All required artifacts and configuration is generated by the archetype

**Actual behavior**
missing function.zip, sam.jvm.yaml, sam.native.yaml, mvnw

**

[2020-06-12 20:32] jeffhubLR opened #9980 "Quarkus 1.8.1.Final + infinispan-client and deletion of Marshaller.class files"
**Describe the bug**
With a clean project generated from https://code.quarkus.io/ and following the Infinispan guide (https://quarkus.io/guides/infinispan-client), namely the Annotation based serialization (https://quarkus.io/guides/infinispan-client#annotation-based-serialization), there are scenarios where the generated Marshaller java files are not compiled into class files (or they are, but th

[2020-06-12 20:49] jeffhubLR commented on #9980
Update: I added maven profiles to facilitate testing in Quarkus 1.4.2.Final and Quarkus 1.3.4.Final as well. They all exhibit this behavior, so this isn't a regression.

`./mvnw clean test` works
`./mvnw clean && ./mvnw compile && ./mvnw test` works
`./mvnw clean compile test` fails

[2020-06-12 21:36] jokergit opened #9981 "Proxy Https doesnt trap the url Https://domain.com"
**Describe the bug**
Starting a POD Container the following exec of microservices has been implemented:

exec java -Dquarkus.http.host=0.0.0.0 -Djava.util.logging.manager=org.jboss.logmanager.LogManager -Dhttps.proxyHost=proxytmg.gss.rete.poste -Dhttps.proxyPort=8080 -Dhttp.nonProxyHosts=notify-psd2a-notify .......

During the execution :

200612 21:13:15,681 ERROR [io.qu.ve.ht.ru.QuarkusErrorHand

[2020-06-12 21:55] #9957 closed

[2020-06-13 00:20] maxandersen commented on #9893
thanks for figuring out the issue and coming back. I just want to make sure I understood it right; your problem was caused by a proxy/firewall that rewrites/rewires the certifictates using non-trustable certificates - thus the error is actually correct (as there are basically a man-in-the-middle-attack ?

And your (valid) solution is to burn into the image the keys of the proxy/firewall making the

[2020-06-13 02:36] shahdadpuri-varun commented on #9354
Any updates to this issue?

[2020-06-13 03:07] jaikiran commented on #9981
Hello @jokergit, can you please post the complete exception stacktrace?

[2020-06-13 03:31] jaikiran commented on #9974
I just gave this a try locally with 11.0.1 (and Java 8) and it worked fine in both cases. Can you tell us a bit more about your IDE modules etc? What I mean is where exactly is the `de.hup.one.portal.content.quarkus.container.ContentQuarkusApplication` class located (are there multiple IDE modules)? Also can you edit your `ContentQuarkusApplication#main` to print the following:
[code]
just before

[2020-06-13 03:53] jaikiran commented on #9971
I've opened https://github.com/quarkusio/quarkus/pull/9982 which should prevent the NPE and throw the actual cause of boot failure.

[2020-06-13 03:58] jaikiran commented on #9966
I see that your `pom.xml`[1] of these child modules and even the parent module is `1.0` and `1.0-SNAPSHOT`. So it's likely that Maven is picking up a previously published artifact/dependency of your project from your local Maven repository and that project of yours perhaps is using an old dependency of Quarkus? Maven considers "released" versions (like 1.0) as immutable so I guess that's playing s

[2020-06-13 04:05] jaikiran commented on #9952
Not all of undertow constructs are supported in Quarkus AFAIK. So it might be intentional that the `reverse-proxy` isn't included in the libraries that Quarkus uses. @stuartwdouglas or @cescoffier would know better.

[2020-06-13 04:20] vishalgoel1988 commented on #9952
Any way of including them?

[2020-06-13 08:38] dufoli commented on #4005
Agree with dufgui for licensing

[2020-06-13 09:53] agoncal commented on #9966
Thanks @jaikiran I was looking everywhere except my own pom versions. Changed all my versionning to 1.0-SNAPSHOT and it's now working. #Thanks

[2020-06-13 09:53] #9966 closed

[2020-06-13 11:45] fluoxa commented on #9974
Thanks for your fast reply,

It's a maven multi module project in the form of

root
-- module 1
-- module 2
-- module backend
---- module logic (Service Impls)
---- module persistence (Repos and Entities)
---- module model (DTOs and Business-Models)
---- module quarkus container (Quarkus Runnable)
------ deps: spring compatibility layers, quarkus deps and extensions, MainClass, logic, persistence

[2020-06-13 12:03] diogocarleto commented on #9802
Hi guys, I've just tested using master, and the cache is not working.
Maybe I'm missing something.

In the example I sent, I'm calling the method is this way:

`Person.findPersonByAge(10);`

Best,

[2020-06-13 12:17] diogocarleto commented on #9802
I did another test using the `PersonRepository` and declaring `findPersonByAge` as static and also non static.

Even in `PersonRepository`, when the `findPersonByAge` is static, the cache doesn't work.

Best,

[2020-06-13 13:16] michael-schnell commented on #8936
Release 0.14 & 0.15 of `jib-core` are available in the meantime.
Does it make sense to start with this issue?

[2020-06-13 13:29] geoand commented on #8936
Yeah, it's probably as time of a good time as any

[2020-06-13 14:26] jokergit commented on #9981
Hi @jaikiran ,

as you request:

200613 14:22:38,674 INFO  [it.po.ps.fi.TinkFilter] (executor-thread-1) ---TINK REQUEST:
200613 14:22:38,675 INFO  [it.po.ps.fi.TinkFilter] (executor-thread-1) https://api.tink.se/api/v1/oauth/token
200613 14:22:38,769 DEBUG [it.po.ps.fi.TinkFilter] (executor-thread-1) grant_type=client_credentials&client_secret=bc2c15b53a4c4ba797b4c0d54f64f6db&scope=user%3Acreate%2

[2020-06-13 15:39] anthonydenecheau opened #9985 "Driver does not support socket connection"
**Describe the bug**
I try to connect a projet, build in native mode and deploy on google cloud run, to google sql.

**Expected behavior**
My app cannot reach google sql

**Actual behavior**
I get an error :
`ERROR [org.hib.eng.jdb.spi.SqlExceptionHelper] (main) Driver does not support the provided URL: jdbc:postgres://[user]:[pwd]@/[db-name]?unix_sock=/cloudsql/[db-connection-name]"
`
**To Reprod

[2020-06-13 15:42] diogocarleto commented on #9801
Hi guys, how are you?

Thanks for your answers.

@loicmathieu I've got your point, I'm taking a look in integration tools like flyway/liquibase for MongoDB, to try get back here some ideas to evolve this.

Best,

[2020-06-13 16:30] tandraschko commented on #9309
@stuartwdouglas thanks, the MyFaces JSF extensions works fine now.
I have another bug which appears when using the JSF extension. Could anyone of you guys have a look plz? https://github.com/quarkusio/quarkus/issues/9702
I would like to release a bugfree version soon.

[2020-06-13 16:32] tandraschko commented on #9702
See: https://github.com/apache/myfaces/blob/master/impl/src/main/java/org/apache/myfaces/webapp/AbstractFacesInitializer.java#L715

[2020-06-13 16:34] TranNgocKhoa commented on #9974
Same problem here.
JDK: OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7+10)

[2020-06-13 17:31] bearbytes opened #9986 "GraphQL: JsonWebToken not being detected"
**Describe the bug**
When executing a `@Query` of a `@GraphQLApi`, an injected `org.eclipse.microprofile.jwt.JsonWebToken` is always an instance of `io.smallrye.jwt.auth.cdi.NullJsonWebToken`.
There also doesn't seem to be any other way to check the Authorization Header of the underlying HTTP Request.

**Expected behavior**
It should be possible to inject a `JsonWebToken` into a `@GraphQLApi` bean

[2020-06-13 18:31] geoand commented on #6015
Just read it, 👌

On Thu, Jun 11, 2020, 19:57 Gunnar Morling <notifications@github.com> wrote:

[2020-06-14 01:13] djnalluri opened #9987 "gRPC: Inconsistency in generated method name"
**Describe the bug**
The generated method names in quarkus-grpc-protoc-plugin do not match those generated by grpc-java for all valid input. This creates compile errors when the generated Mutiny code tries to delegate to grpc-java's implementation.

**Expected behavior**
A gRPC method named 'THIS_FAILS' should generate a Java method named 'tHISFAILS'.

**Actual behavior**
quarkus-grpc-protoc-plugi

[2020-06-14 09:15] PieterjanDeconinck commented on #6067
In case anyone still encounters this issue: make sure that your MAVEN_HOME variable is set.
I had the same issue (also on 1.5.0.Final) and it was fixed after setting the variable.

[2020-06-14 09:27] #9971 closed

[2020-06-14 10:32] masini opened #9990 "Range request not supported"
**Describe the bug**
Range request doesn't work once packaged

**Expected behavior**
While in dev mode everything works fine thanks to FileResource, the implementation of CachedResource used once packaged lack the implementation of the method:

[code]
**Actual behavior**
The socket will stay there forever untile browser timeout.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the at

[2020-06-14 11:00] vsevel opened #9991 "String List Maps and String Maps properties are not mapped in BOOTSTRAP phase"
**Describe the bug**
Configuration supports mapping from properties files to complex types such as:
 - `public Map<String, String> stringMap;`
 - `public Map<String, List<String>> stringListMap;`
 - `public List<String> stringList;`

However, when those properties are used in a config loaded during the `BOOTSTRAP` phase, only the `stringList` is correctly mapped. The other two `stringMap` and `str

[2020-06-14 11:15] vsevel commented on #4848
@geoand FYI I created https://github.com/quarkusio/quarkus/issues/9991 as a result of trying to implement https://github.com/quarkusio/quarkus/pull/9989

[2020-06-14 11:41] geoand commented on #4848
That is very odd... Thanks for opening the issue @vsevel

[2020-06-14 15:29] fabiomrch opened #9992 "External library's application properties completely overridden"
I developed a utils library that has its own properties (rest client paths included). I placed the application.properties file in config folder in order not to come across resources override problem while building main project that imports that library.
The project that imports the utils library and injects its classes through Jandex indexing.

The expected beavior would be having separated proper

[2020-06-14 20:32] famod commented on #9837
To quote myself:

I've just learned that you cannot modify existing code with annotation processors, you can only generate new classes.
So custom bytecode manipulation is needed (in case the problem is not somehow solved in Quarkus), maybe via https://github.com/raphw/byte-buddy/tree/master/byte-buddy-maven-plugin.

[2020-06-14 20:39] famod commented on #9354
@shahdadpuri-varun My PR https://github.com/hibernate/hibernate-orm/pull/3412 is more or less stuck due to lack of feedback from the Hibernate team (no offence!) and lack of time on my side.

[2020-06-14 21:06] hbelmiro commented on #8656
Hello @gastaldi. Could you please show me the way? This would be my first contribution to the project.

[2020-06-14 21:13] gastaldi commented on #8656
@hbelmiro I think a Filter would do the job

[2020-06-14 21:25] slpereira commented on #6549
Hi guys, there is some date when this will be corrected? I am oplanning to use Apache Tika with Quarkus in a Microservice environment, and this BUG is preventing the deploy of our stack.

[2020-06-14 23:10] hbelmiro commented on #8656
Does it need to be specific implementations for each extension or can we create a common filter that will be used by all of them? I prefer the second option, but I don't know if it is possible.

[2020-06-14 23:24] sean-scott-lr commented on #9975
This issue is reproducible with just infinispan.  Closing this into https://github.com/quarkusio/quarkus/issues/9980

[2020-06-14 23:24] #9975 closed

[2020-06-14 23:39] stuartwdouglas commented on #9952
Yea, it is not implemented yet. If you really want a reverse proxy I would suggest looking at a pure vert.x one, such as https://github.com/vietj/vertx-http-proxy

[2020-06-14 23:49] DaveO-Home commented on #3886
Say, based on this discussion, I'm not sure what is supported.  However, I have a react demo that hangs when the react javascript in rebundled(fuse-box) with some Java code change and the browser is refreshed.  If I manually restart the Quarkus dev server, the changes are deployed and the app works. This also happen when copying static content.  The refresh works when I only change Java code.  The

[2020-06-15 01:25] stuartwdouglas commented on #9837
One possibility would be that we could maybe write a jacoco extension that integrates with @QuarkusTest, and somehow we wire it up so it works of the transformed classes. Not sure how practical this idea is (or even if it is possible) but maybe it would also allow for the best user experience.

[2020-06-15 02:34] stuartwdouglas commented on #9702
You need to add quarkus-undertow-websockets as a dependency.

[2020-06-15 02:47] stuartwdouglas commented on #7102
This is a different issue, and the behaviour you are seeing is expected. The EntityManager will always use the same object for a given ID. When you call findAll that object is loaded from the database. When you edit it in a new transaction the new transaction creates a new EntityManager, however the original EM still has the old entity loaded. When you then call findById the EM just returns the or

[2020-06-15 02:47] #7102 closed

[2020-06-15 03:36] stuartwdouglas commented on #9622
So this is kinda tricky. I think you would want to apply this after the mapping layer.

e.g. If you have a request for /bar with a prefix of /foo you would want to map it to the endpoint at /bar, but then modify the request so it looks like the actual URL is /foo/bar (and set the context path accordingly).

We can do this with Servlet easily enough, but I don't think we can make this a generic HTT

[2020-06-15 03:38] jimbogithub opened #9994 "WebSocket Worker Thread should activate RequestScoped context"
**Describe the bug**
Accessing EntityManager in WebSocket message handler configured with `quarkus.websocket.dispatch-to-worker=true` throws `javax.enterprise.context.ContextNotActiveException: interface javax.enterprise.context.RequestScoped`

**Expected behavior**
EntityManager functionality should proceed.

**Actual behavior**
Processing aborted.

**Configuration**
[code]

**Screenshots**
(If a

[2020-06-15 04:46] geoand commented on #9976
Hi,

This seems to be a limitation of RESTEasy (which the Spring compatibility layer of Quarkus relies on for Spring Web). @asoldano I believe it would make sense to support `CompletableFuture` in the same way that `CompletionStage` is supported, WDYT?

@enesusta for the time being, you can just return `CompletionStage` instead of `CompletableFuture` and things will work as expected.

[2020-06-15 05:15] geoand commented on #9973
I tried this both with our integration test (https://github.com/quarkusio/quarkus/tree/a45ee4da5d57255f8d01af48abf0ea6d7f83c1a6/integration-tests/spring-cloud-config-client) updated for YAML of course and with a new project and both worked fine.

For reference, here is the YAML I used:

[code]

[2020-06-15 05:16] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/135570687

[2020-06-15 05:17] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/135571239

[2020-06-15 05:19] geoand commented on #9768
Oh right, this happens because `default` methods do really work in native mode (the reason being that MethodHandles don't work).

cc @michalszynkiewicz @kenfinnigan - I think taking another look at not relying on method handles at all for the rest client would be great :)

[2020-06-15 05:26] geoand commented on #9991
Before I start looking into it, @dmlloyd any quick idea why `Map` isn't working in BOOTSTRAP config?

[2020-06-15 05:29] geoand commented on #8593
@ppalaga @gunnarmorling we have a failure in `org.apache.camel.quarkus.component.debezium.common.it.mysql.DebeziumMysqlTest`.

[code]

mind looking into it please?

[2020-06-15 05:48] cescoffier commented on #9970
You cannot call Reactive Messaging methods directly.
You need to use an Emitter:

@Inject @Channel("codec") Emitter<String> emitter;

@POST
public String sendOperation(String operation) {
  System.out.println("MessageResource sendOperation = " + operation);
  emitter.send(operation);
  return "hello";
}
In the current release, emitters cannot use @Broadcast (this has been contributed). The workaro

[2020-06-15 05:48] #9970 closed

[2020-06-15 06:02] hubinix opened #9996 "datasource problem in document"
**Describe the bug**
(Describe the problem clearly and concisely.)
https://quarkus.io/guides/datasource
in this page,JDBC Configuration Reference chapter
i set quarkus.datasource.jdbc.transaction-isolation-level, but it doesn't work.
the TransactionIsolation is UNDEFINED.
I removed the ".jdbc.“ it works.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
quarkus.datasou

[2020-06-15 06:11] JalajChawla opened #9997 "quarkus-amazon-lambda is failing with java.net.UnknownHostException in Native Mode"
**Describe the bug**
quarkus-amazon-lambda is failing with java.net.UnknownHostException
I have checked the parent and child threads associated with this error here https://github.com/quarkusio/quarkus/issues/4528 but looks like it is fixed in the new version but i am still getting the below same error
Below is the code link that produced the same error
[https://github.com/JalajChawla/QuarkusDemoL

[2020-06-15 06:25] ambition-consulting commented on #9893
@maxandersen you are right, except that for some unknown reason many other downloads had no problem with the man-in-the-middle attack before the abovementioned URL. I can try to get some ssl debug/trace message on from the VM with/without the trusted certificate.

[2020-06-15 06:26] jmartisk commented on #9887
@rmanibus, your scenario is different - here we're talking about the scenario where the implementation class (no method) is annotated with a metric annotation.
In your case, you have an interface method annotated, and that's not a supported scenario (for now) - there is an open discussion how to handle it at https://github.com/eclipse/microprofile-metrics/issues/451 but it's not yet clear how exac

[2020-06-15 06:54] teoincontatto opened #9999 "io.smallrye.jwt.build.impl.JwtProviderImpl must be registered for reflection"
`io.smallrye.jwt.build.impl.JwtProviderImpl` (i.e. its no-args constructor) must be registered for reflection to be usable in native images:

`Caused by: io.smallrye.jwt.build.JwtException: JwtProvider io.smallrye.jwt.build.impl.JwtProviderImpl could not be instantiated: java.lang.InstantiationException: Type `io.smallrye.jwt.build.impl.JwtProviderImpl` can not be instantiated reflectively as it d

[2020-06-15 07:23] loicmathieu commented on #9985
In order to use Cloud Sql you need to use a dedicated socker factory. You need to configure your datasource to use it. You also need to configure the instance name.

Can you try adding these two properties to the `additional-jdbc-properties` ?

Something like this should work:
[code]

[2020-06-15 07:23] tandraschko commented on #9702
@stuartwdouglas if you do a mvn dependency:tree on the showcase, you will seee it:

[INFO] |  +- io.quarkus:quarkus-undertow-websockets:jar:1.5.1.Final:compile

[2020-06-15 07:24] mkouba commented on #9802
Hm, you're right. The problem is that `io.quarkus.cache.CacheResult` is not a regular interceptor binding. There is a special annotation transformer that maps `@CacheResult` to `@CacheResultInterceptorBinding` and we don't support bindings added by transformers yet (for static method interception).

[2020-06-15 07:24] felixgborrego commented on #9974
Same problem here too.
Also odd,
the source code in `quarkus-ide-launcher-1.5.1.Final-sources.jar` contains  the expected `String classResource = callingClass.replace(".", "/") + ".class";`
whereas  the decompiled version of the `.class` contains:
[code]

[2020-06-15 07:30] jmartisk opened #10001 "SmallRye GraphQL is not integrated with programmatic security"
It should be possible to use `@Authenticated` on GraphQL API methods.

[2020-06-15 07:32] Ladicek commented on #8469
Thanks @pedroigor, no, that should be all :-)

[2020-06-15 07:33] stuartwdouglas commented on #9702
This is really odd, as I see it start to work if I add the dependency directly. @aloubyansky  this may be a resolver problem, but we have not really had any other reports of anything like this.

[2020-06-15 07:39] stuartwdouglas commented on #9702
It works if you add a dependency on quarkus-undertow-websockets-deployment in your -deployment module, but that still should not be necessary.

[2020-06-15 07:42] jaikiran commented on #9974
It's looking like Maven shade plugin is causing some issue while the bytecode of these classes is being "remapped" (even though this class has been excluded from the Maven shade plugin)? I haven't yet been able to reproduce this. I'll see if I can find a way to reproduce this somehow.

[2020-06-15 07:58] anthonydenecheau commented on #9985
I fixed this issue with cloud sql proxy. So I backtracked and set these 2 additionals property, get application credentials too.
I notice during build step :
`Unrecognized configuration key "quarkus.datasource.additional-jdbc-properties.cloudSqlInstance" was provided; it will be ignored; verify that the dependency extension for this configuration is set or you did not make a typo`

So either _quar

[2020-06-15 08:05] asoldano commented on #9976
@geoand, possibly. Would you mind creating a RESTEASY JIRA with additional details on the proposal? (as usual, a PR is welcome ;-) )

@enesusta , most likely unrelated to the problem here, but the version of resteasy-jackson2-provider you're pulling is really old. You should be matching the same version of RESTEasy that's included in Quarkus.

[2020-06-15 08:07] gsmet commented on #9999
@sberyozkin could you have a look at that one?

[2020-06-15 08:16] geoand commented on #9976
Wil do :)

[2020-06-15 08:24] ppalaga commented on #8593
`Multiple extensions registered a feature of the same name: camel-support-debezium` is fixed in Camel Quarkus master since a couple of days: https://github.com/apache/camel-quarkus/commit/9eb6425c866dc87bebf69455113a442a22531ba2

[2020-06-15 08:26] ia3andy commented on #3340
Finally done: https://github.com/quarkusio/quarkus/pull/9631

Instead of having a `ZipProjectWriter` we now have a `QuarkusProjectCompress#zip` able to zip any existing Quarkus project.

[2020-06-15 08:26] #3340 closed

[2020-06-15 08:28] geoand commented on #8593
So I pressume we need a new release of Camel-Quarkus to overcome this for now, right?

[2020-06-15 08:34] famod commented on #5525
We just had to add a Dummy entity to one of our "persistence support" Maven modules which is using sequences, to make the `QuarkusTest` work. This is a bit awkward.
Maybe it would come in handy to enable an extension via a annotation (on the test class)?

[2020-06-15 08:36] ppalaga commented on #8593
I thought of releasing because of some fixes we got via Quarkus 1.5.1.Final. Let me discuss it with others.

[2020-06-15 08:36] aloubyansky commented on #9490
Here is one of the possible reproducers https://github.com/aloubyansky/playground/tree/quarkus-runtime-bom-insufficiency.
Simply launch `build.sh`. It'll build all the projects including the app. Which will fail. If you change to the deployment BOM here https://github.com/aloubyansky/playground/blob/quarkus-runtime-bom-insufficiency/acme-app/pom.xml#L16 it'll work.

[2020-06-15 08:37] ppalaga commented on #8593
We could also temporarily disable the test in the platform.

[2020-06-15 08:38] loicmathieu commented on #9985
@anthonydenecheau you're right, the `additional-jdbc-property` is not supported yet, I was mis-guided by the following PR https://github.com/quarkusio/quarkus/pull/6634/ I thought it already exists and this PR only use them.

We should implement it !

[2020-06-15 08:38] #9886 closed

[2020-06-15 08:38] aloubyansky commented on #9490
This is just one of the ways to reproduce it.

[2020-06-15 09:03] gsmet commented on #9996
Could you paste all the datasource related properties of your `application.properties`? (just make the user and password blank)

Thanks.

[2020-06-15 09:08] SetoKaiba opened #10003 "quarkus-maven-plugin not working correctly for project creation."
**Describe the bug**
quarkus-maven-plugin not working correctly for project creation.

**Expected behavior**
working without problem to locate gradle wrapper. 1.4.x is working.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Type the command "mvn io.quarkus:quarkus-maven-plugin:1.5.1.Final:create -DbuildTool=gradle -DoutputDirectory=1.5.1.Final -DplatformVersion=1

[2020-06-15 09:19] aloubyansky commented on #10003
It seems to work in Linux. We need to check whether it's related to Windows.

[2020-06-15 09:20] galderz commented on #9792
@emmanuelbernard Assigned this to me, I've started work on it.

[2020-06-15 09:24] gsmet commented on #9980
/cc @wburns @karesti

[2020-06-15 09:35] lordofthejars opened #10006 "Add extension mechanism to modify generated Kubernetes resources"
**Description**

Add an extension mechanism to modify the generated Kubernetes resources by adding new types.

**Implementation ideas**

Sometimes some extensions might want to modify the generated Kubernetes resources to add some new parts.

For example, we could create a new attribute in Panache MongoDB called `quarkus.panache.mongodb.kubernetes.deploy` to true means that the generated kubernete

[2020-06-15 09:41] sberyozkin commented on #9986
Looks like a context propagation issue.

[2020-06-15 09:48] sberyozkin commented on #5341
@sbeigel it is a late comment, sorry, it has been fixed I believe in the latest releases.
@patoessy Hi, thanks, I still recall I promised to ping you to help with the docs, I've added a few, but I'm doing few more optimizations and once they are done and doc-ed I'll ping you for help to test  and check the docs, cheers

[2020-06-15 09:50] sberyozkin commented on #9999
@teoincontatto Hi, It has been fixes in `1.4.0.Final`, what version do you use ?

[2020-06-15 09:51] famod commented on #9275
I'd like to add `quarkus.hibernate-orm.database.generation`, see: https://github.com/quarkusio/quarkus/issues/2933#issuecomment-641550852

Or should I create a separate issue?

[2020-06-15 09:56] mkouba commented on #9802
@diogocarleto this PR should help: https://github.com/quarkusio/quarkus/pull/10005

[2020-06-15 10:20] ahamed-k commented on #9965
Yes. x5t is a thumbprint used as an identifier(alternate to kid) to identify the JWT token and the matching signature from JWKS. It seems Quarkus does not support x5t to be used as an identifier like other 3rd party libraries and would appreciate if you make Quarkus support x5t along with kid. Thanks.

[2020-06-15 10:35] hubinix commented on #9996
quarkus.datasource.url=jdbc:mysql://localhost:3306/promo
quarkus.datasource.driver=com.mysql.cj.jdbc.Driver
quarkus.datasource.username=aaaaaa
quarkus.datasource.password=12121
quarkus.datasource.min-size=3
quarkus.datasource.max-size=13
quarkus.datasource.transaction-isolation-level=repeatable-read

[2020-06-15 10:39] #9964 closed

[2020-06-15 10:47] gsmet commented on #9961
@DemiusAcademius any chance you could put together a simple reproducer (preferably using H2 as the database)?

Thanks!

/cc @FroMage

[2020-06-15 10:48] gsmet commented on #9968
@juangon could you prepare a simple reproducer? Thanks.

[2020-06-15 10:50] gsmet commented on #9969
Don't you have some output from the `native-image` process?

[2020-06-15 11:03] hakandilek commented on #9969
@gsmet nope. that's all I have. If you tell me where to look or what to try, I can provide more logs.

[2020-06-15 11:05] anthonydenecheau commented on #9985
Ok merci Loïc. I hope to see this new feature in the next realease 1.5.2.

Keep it up guys, great work

[2020-06-15 11:19] sberyozkin commented on #9965
`x5t` is not an alternative to `kid`, it is a way to link to a certificate which can be used to verify a token.

If one has a JWK set with N+ JWKs, then, one would need to potentially iterate over each of the JWKs, check which one of them has an encoded `x5c` cert, calculate a thumbprint out of it and match with the token `x5t`. It would be expensive.

Question: do JWK keys in your JWK sets have b

[2020-06-15 11:22] #5003 closed

[2020-06-15 11:22] #7286 closed

[2020-06-15 11:23] maxandersen commented on #3886
hangs where exactly ?

[2020-06-15 11:42] gsmet commented on #9996
Yeah, so your issue is that you were trying to mix old style configuration and new style configuration.

Either use what you have (which is deprecated) or use:
[code]

[2020-06-15 11:43] gsmet commented on #9987
/cc @michalszynkiewicz @cescoffier

[2020-06-15 11:45] gastaldi commented on #8656
Since Undertow uses Vert.x, I think a Vert.x filter should be enough.

[2020-06-15 11:53] aloubyansky commented on #9702
When adding a dependency in extension E1 on extension E2 we do require adding a dependency in E1 runtime on E2 runtime and in E1 deployment on E2 deployment. We could make it optional but then we'd have to recursively process injected deployment dependency branches checking whether the found runtime extension artifacts have already been replaced (given that the deployment is supposed to always dep

[2020-06-15 11:53] #9702 closed

[2020-06-15 11:55] hubinix commented on #9996
Ok,I got it，thanks!

[2020-06-15 11:55] #9996 closed

[2020-06-15 12:00] tandraschko commented on #9702
works fine, thanks!

[2020-06-15 12:26] cescoffier commented on #9987
The template has been provided by @pmlopes - Paulo, are you aware of this?

[2020-06-15 12:29] vusalalishov commented on #5432
+1

[2020-06-15 12:33] TranNgocKhoa commented on #9974
It happened with Gradle too. I'm using Gradle + IntelliJ

[2020-06-15 12:45] ia3andy opened #10010 "Make the devtools Commands results fully consumable"
**Description**
Currently when calling `execute()` on a command, the result directly gets printed to the console and we only get a success/failure result. Therefore it makes the consumption of those commands non interactive and hard to customize.

The idea would be to split the logic in two:
- the command handler will process the command and return a consumable result
- the command printer will ta

[2020-06-15 12:51] DemiusAcademius commented on #9961
Unfortunately, I work with Oracle. In addition, I already rewrote the
code and switched from PanacheEntity to PanacheRepository.

Unfortunately, I have serious time limits. I hope my issue helps the
community a little.

пн, 15 июн. 2020 г. в 13:48, Guillaume Smet <notifications@github.com>:

[2020-06-15 12:52] dmlloyd commented on #9991
I'd check to see if it works with `RUNTIME` before reaching any conclusion.  But I might guess that the configuration is being read before the run time configuration is available.

Also we're already overusing BOOTSTRAP.  It will lead to trouble...

[2020-06-15 12:59] gsmet commented on #9974
@jaikiran my understanding is that the exclusions defines the packages files that will be transformed to the new pattern, not if the file will be filtered or not. I haven't found a way to exclude files from the filtering. As soon as the file is included, it looks like it will be filtered.

In the launcher file, there are 2 issues IMHO:
- the string replacement for the resource: this is mostly due

[2020-06-15 13:05] sberyozkin commented on #9965
I've opened https://github.com/smallrye/smallrye-jwt/issues/260.
IMHO it is not correct just to assume `x5c` is an alternative to `kid`, both properties serve different purposes, overloading `x5t` as `kid` without the use of `x5c` is unlikely to be supported. But lets start with supporting `x5c`, if a JWK key has `x5c` then it will work even without `kid` if a JWK set has a single JWK key

[2020-06-15 13:05] geoand commented on #9991
What do you have in mind?

[2020-06-15 13:07] famod commented on #9354
One example why this outdated h2 version can be a real PITA:

We are using h2 for simple tests und Postgres (PG) for production. PG has an AGE function and we tried to add this to h2 but this fails because h2 1.4.197 does yet know `INTERVAL`.
See also: https://stackoverflow.com/a/58668363

[2020-06-15 13:08] dmlloyd commented on #9991
SmallRye Config has recently gained the ability to configure one source from another source (using the interceptors infrastructure).  This allows everything to stay in RUNTIME, while still enabling some configuration properties to be used to set up subsequent sources.

[2020-06-15 13:11] geoand commented on #9991
Gotcha, thanks!

@vsevel maybe you want to hold off this PR for the time being? If we can completely do away with `BOOTSTRAP` config soon, that would be great :)

[2020-06-15 13:14] #9713 closed

[2020-06-15 13:19] geoand commented on #9968
I thought we removed it...

[2020-06-15 13:24] geoand commented on #8936
https://github.com/quarkusio/quarkus/pull/10011 should take care of this

[2020-06-15 13:32] geoand commented on #9976
@asoldano I opened: https://issues.redhat.com/browse/RESTEASY-2612

[2020-06-15 13:35] gsmet commented on #9974
It's not tested but I ended up with something like: https://github.com/quarkusio/quarkus/pull/10012

Note that excluding the service files looks like something we don't want to do but I might miss something.

[2020-06-15 13:37] agagliardi commented on #9640
Sorry, I've lot the notification.

Docker version 19.03.11, build 42e35e61f3

[2020-06-15 13:37] ambition-consulting commented on #9893
Please note the different verify codes below. I do not know what most of this means, but clearly there is a fundamental difference between downloads where the inception works, and those where it does not. Personally I wouldn't be suprised, if cdn-ubi.redhat.com and cdn.redhat.com have different "SSL policies" - meaning the former does not accept the interception, whereas the latter does.

cdn-ubi.

[2020-06-15 13:48] geoand commented on #9969
Does `mvn -X package -Dnative` give any more useful information?

[2020-06-15 13:48] overthetop opened #10013 "Quarkus 1.5.1 Final: Failed to inject ManagedExecutor"
**Describe the bug**
That was working fine in 1.4.2. I want to inject ManagedExecutor and use that in my code. When I try that on the 1.5.1 release, I get:
[code]
That's on a clean 1.5.1 quarkus getting starting project
`mvn io.quarkus:quarkus-maven-plugin:1.5.1.Final:create -DprojectGroupId=org.acme -DprojectArtifactId=getting-started -DclassName="org.acme.getting.started.GreetingResource" -Dpath

[2020-06-15 13:55] overthetop commented on #10013
I had to add
[code]

[2020-06-15 13:55] #10013 closed

[2020-06-15 14:00] gsmet commented on #9979
/cc @oztimpower too

[2020-06-15 14:04] cescoffier commented on #9640
@agagliardi Which Linux distribution are you using?

[2020-06-15 14:11] oztimpower commented on #9979
I have already submitted a PR for this one #9983

The reason the artefacts are not being generated is that the Unit test is failing for Funqy.

@drissamri can I suggest you skip the tests and then it will build the artefacts you are missing?
[code]

[2020-06-15 14:14] FroMage opened #10015 "Hibernate Reactive: sessions are not closed, connections leak"
ATM, we have the following method to produce `Stage.Session` and `Mutiny.Session` tied to the request scope:

[code]

Now, the problem is that we're tying a `CompletionStage<Stage.Session>` (and respectively same for Mutiny) to the request, which is a promise of a session.

The `disposeStageSession` cannot work, because `CompletionStage` are immutable, and the value returned by `reactiveSession.wh

[2020-06-15 14:14] FroMage commented on #10015
This is possibly a question for @cescoffier @aguibert @mkouba

[2020-06-15 14:15] FroMage commented on #10015
This is the real cause for the https://github.com/quarkusio/quarkus/pull/9469/ PR failing, but really without this it's a puzzle how this IT could possibly pass on `master`.

[2020-06-15 14:24] gastaldi commented on #9294
Created https://github.com/quarkusio/quarkus-extension-catalog which produces a Docker image containing an HTTP Server producing the result JSON (https://quay.io/repository/quarkus/registry-app)

[2020-06-15 14:24] #9294 closed

[2020-06-15 14:27] gastaldi commented on #9592
In https://github.com/quarkusio/quarkus-extension-catalog, community extensions can be published as separate JSON files under the `extensions/` directory (see https://github.com/quarkusio/quarkus-extension-catalog#extensions)

[2020-06-15 14:27] #9592 closed

[2020-06-15 14:28] cemnura commented on #9753
It appears as the ignorePredicate for the ReflectiveHierarchyBuildItem class implementation only
ignores `java.net` classes.

https://github.com/quarkusio/quarkus/blob/29b123ee0d05eacfa2c391ab876788346f30d26b/extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java#L490-L498

Changing the test method to include all classes starting w

[2020-06-15 14:40] loicmathieu commented on #9961
@DemiusAcademius I tried to reproduce the issue, using Oracle Database, on a close example and I can see my database updated.

I created a Person entity extending PanacheEntity:
[code]

I created an endpoint that try to mimic what you implemented (using a query with lock, then findById on the entity, update it, persist it):
[code]

But I cannot reproducer the error. If you can give us a reproduer,

[2020-06-15 14:54] gsmet commented on #9954
This is due to: https://github.com/quarkusio/quarkus/blob/master/extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java#L148 .

Given it doesn't work as the type is not indexed, I wonder if a simple reflective class registration would be enough.

@cescoffier WDYT?

[2020-06-15 14:59] DaveO-Home commented on #3886
When I refresh the browser, it never responses.

[2020-06-15 15:31] galderz commented on #9792
@emmanuelbernard I've been chatting to @jerboaa and I'm thinking that `-Dquarkus.native.debug-symbols` might better be an enum rather than a boolean, because we plan to support debug symbols being stored inside the binary (e.g. `internal`) and debug symbols stored outside the binary (e.g. `external`). Would we change the property name then?