[2021-08-25 16:04] loicmathieu commented on #19657
The second assertion seems wrong to me:

[code]

Should be:

[code]

[2021-08-25 16:23] metacosm commented on #19655
Added steps to reproduce.

[2021-08-25 16:23] dhoffer commented on #19265
Fyi...I tried 2.1.3.Final in 3 more Quarkus apps, all much smaller then the first one.  Two did not have this error but one does so 2 in total have this error and 2 do not.  And just as a reminder this is with 2.x only, 1.x is fine.

[2021-08-25 16:37] #19623 closed

[2021-08-25 19:23] ccarv opened #19660 "Expose quarkus.hibernate-orm.database.default-schema as runtime property"
### Description

The property `quarkus.hibernate-orm.database.default-schema` is evaluated only at build-time only. It would be nice to configure this property during runtime.

Our engineering environments share database instances with other teams and occasionally, the same application will be deployed to the same database instance. This means that the schema names will change based on the environ

[2021-08-25 19:43] michalszynkiewicz opened #19662 "Reactive Messaging WebSockets connector - exception thrown on close"
### Describe the bug

The following exception is thrown on application shutdown when using the quarkus websocket connector for reactive messaging:
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different fro

[2021-08-26 05:41] danelowe opened #19670 "io.quarkus.oidc.TokenStateManager called from event loop thread"
### Describe the bug

I'm trying to implement a custom `io.quarkus.oidc.TokenStateManager` that stores some tokens in Redis.

I get `java.lang.IllegalStateException: The current thread cannot be blocked: vert.x-eventloop-thread-7`

In CodeAuthenticationMechanism:

[code]

### Expected behavior

Either call `TokenStateManager` methods from another thread, or allow for a reactive API in the `TokenSt

[2021-08-26 07:03] knutwannheden opened #19673 "Regression: Quarkus 2.2.0 breaks Dev Mode on Windows"
### Describe the bug

When trying to start a Quarkus 2.2.0 application in dev-mode (using `mvn quarkus:dev`) I get the following error printed to the console and the application fails to start:
[code]
With Quarkus 2.1.3 the same application works without issues.

### Expected behavior

Dev Mode should also work on Windows.

### Actual behavior

See description.

### How to Reproduce?

_No response

[2021-08-26 07:23] belu opened #19674 "Dev UI: Extension card not visible out-of-the-box"
### Describe the bug

When creating a new Quarkiverse extension it is not listed in the Dev UI out-of-the-box.

However, according to the [Dev UI guide](https://quarkus.io/guides/dev-ui#how-can-i-make-my-extension-support-the-dev-ui) it should be: "In order to make your extension listed in the Dev UI you don’t need to do anything!"

### Expected behavior

The extension is visible in the Dev UI.

#

[2021-08-26 09:12] Crunchy-Muesli opened #19676 "CacheResult not working in extension"
### Describe the bug

I'm writing an extension and I needed data caching for a method, so I tried using **@CacheResult** from quarkus-cache.
When the method gets called, this exception occurs:

[code]

And the method body is never reached.
I followed the cache tutorial [here](https://quarkus.io/version/main/guides/cache) and I'm using the same exact code.

I'm kinda new to quarkus so this could ve

[2021-08-26 09:37] andreas-eberle opened #19677 "RESTEasy Reactive Multipart Json Upload doesn't work for files"
### Describe the bug

I try to use RestEasy Reactive's Multipart upload to upload a json file and want to get the parsed contents in my multipart Dto. This works fine if directly send json in the part but it doesn't work if the part is a file containing json.

### Expected behavior

Should be the same for json files and for "inline" json.

### Actual behavior

_No response_

### How to Reproduce?

[2021-08-26 10:29] kshpak opened #19682 "Infinispan client properties file precedence doesn't match"
### Describe the bug

The file `/META-INF/hotrod-client.properties` file must take precedence over `application.properties`, but the Quarkus Infinispan client prioritize the latter if both are configured.

Statement from docs: https://quarkus.io/guides/infinispan-client#configuring-the-infinispan-client

### Expected behavior

The `/META-INF/hotrod-client.properties` file  takes precedence over th

[2021-08-26 10:38] wabrit opened #19683 "Using JpaRepository causes error in native code"
### Describe the bug

Using the spring-data-jpa extension, it is possible to use `JpaRepository` in JVM builds. But in native builds there is a runtime error caused by missing methods from the interface.

For example with the repository definition

[code]

and injection of this interface into an application-scoped bean, then when running native the following error is reported:

[code]

Attaching `

[2021-08-26 11:06] phillip-kruger opened #19685 "Keycloak DevServices should produce DevServicesLauncherConfigResultBuildItem"
### Describe the bug

As discused, we need to produce `DevServicesLauncherConfigResultBuildItem` for all config we auto set.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Q

[2021-08-26 11:27] andreas-eberle opened #19686 "Support constructor injection for RESTEasy Reactive multipart bodies"
### Description

When using Jackson with RestEasy Reactive, normal method bodies can be POJOs that initialize the fields via the constructor. For Kotlin this works with the dependency `com.fasterxml.jackson.module:jackson-module-kotlin` and the body class can look like this:

[code]

Unfortunately, for the @MultipartBody objects, this does not work. There, you have to have a default constructor.

[2021-08-26 17:02] kshpak opened #19697 "Unable to connect local Quarkus app with Infinispan cluster on OpenShift"
### Describe the bug

Trying to connect the local Quarkus app with Infinispan (Red Hat Data Grid) cluster runs on OpenShift.
Quarkus process hangs without a try to authenticate the user or create/retrieve the cache.

Two scenarios were tried: with and without TLS (the result was the same)
External access was configured by Route resource.
DataGrid Operator 8.2.3
OpenShift versions: 4.6, 4.8

More d

[2021-08-26 21:11] sberyozkin opened #19702 "Keycloak Dev Services should extract a realm name from the realm file"
### Description

Right now if a custom realm contains a non-default `quarkus` value - which would likely be always the case then `quarkus.keycloak.devservices.realm-name` has to be set.
Instead the realm value must be coming from the realm file

### Implementation ideas

Use Vert.x JsonObject to get a `realm` property from the parsed file content.

[2021-08-27 07:07] vsevel opened #19711 "GraalVM issue with ArrayList serialization"
### Describe the bug

When trying to serialize an `ArrayList` in native, we get the following error:

[code]

Looks similar to https://github.com/micronaut-projects/micronaut-redis/issues/194

### Expected behavior

The list should be able to be serialized and un-serialized.

### Actual behavior

It fails with the above exception.

### How to Reproduce?

Reproducer:

- Create a sample JAXRS applic

[2021-08-27 07:52] Name-not-available opened #19712 "GraalVM issue with quarkus-jdbc-oracle extension"
### Describe the bug

I'm migrating application from quarkus 1.13.7 to quarkus 2.1.3 and it works just great with JVM build, but when i'm trying to build it natively using quarkus-jdbc-oracle extenson and `quarkus.datasource.db-kind=oracle` - it spits "Missing character set id 171 not loaded at image build time" error. I tried to fix it with `quarkus.native.add-all-charsets=true` and `quarkus.nati

[2021-08-27 07:56] manovotn opened #19713 "Arc - container invocation of predestroy/post-construct methods should not be treated as bussinees method invocations"
### Describe the bug

Given a bean that has `@PreDestroy`/`@PostConstruct` methods and that has an interceptor with `@AroundInvoke` bound by binding on a class-level, Arc currently treats invocation of `@PreDestroy`/`@PostConstruct` as business method invocations.
This means that when container (Arc) invokes those methods, it will also intercept that invocation with any `@AroundInvoke` interceptor

[2021-08-27 08:24] cescoffier opened #19718 "Vert.x 4.2 integration"
### Description

This issue is the umbrella issue tracking the Vert.x 4.2 integration tasks as well as the issue fixed in Vert.x 4.2

### Request for improvement in 4.2

* [x] Event loop TCCL control (investigation in progress)

### Issue fixed in 4.2

* Dynamic port binding improvements - https://github.com/quarkusio/quarkus/issues/18154

### Integration process

* [x] Vert.x Mutiny binding
* [x]

[2021-08-27 10:18] fabland opened #19721 "Add a configuration value/switch to disable the GRPC server in dev mode"
### Description

Add a configuration value/switch to disable the GRPC server in dev mode

At the moment there is no way to disable starting of the GRPC server in dev mode. For instance if only the client is used it is weird to have to assign a random port to the GRPC server to solve port collision for instance from a real GRPC server. So I don't really know if this is an actual feature request or

[2021-08-27 12:01] denis-anisimov opened #19725 "Pseudo scope doesn't use the context class object"
### Describe the bug

Custom pseudo scope beans are not managed.
The scope configuration doesn't make the registered scope context class involved in bean lifecycle.

The same scope which is registered as a normal works fine.

The problem is: normal scope create and uses proxies instead of actual bean classes and this makes impossible to use normal scope in some cases.

### Expected behavior

Pseud

[2021-08-27 12:50] Adelrisk opened #19726 "Healthy status does not reflect AMQP disconnect"
### Describe the bug

The AMQP health checks do not observe/react to an underlying disconnect in the connection.

We deploy several quarkus services that communicate using AMQP via ArtemisMQ, all running within a private kubernetes cluster. Regularly, something happens to the network communication* this breaks the reactive messaging communication of the running quarkus service. The only "fix" is t

[2021-08-27 12:59] yntelectual opened #19727 "Expose HttpClient builder or provide mechanism to set RetryHandler"
### Description

Resteasy MP rest client uses Apache Http client internally as http engine. Apache HC provides a very useful feature - possibility to [register retryHandler ](https://www.javadoc.io/doc/org.apache.httpcomponents/httpclient/4.4/org/apache/http/impl/client/HttpClientBuilder.html#setRetryHandler(org.apache.http.client.HttpRequestRetryHandler)) which would automatically perform retry i

[2021-08-27 15:42] aminnasiri opened #19737 "Support GraalVM 21.2 based on OpenJDK 16 for native binary"
### Description

As a developer, I would like convert my Quarkus application base on OpenJDK 16 to native binary.
This application is using some feature of JDK 16 like record.

[code]

### Implementation ideas

_No response_

[2021-08-27 17:06] ambition-consulting opened #19738 "Reading REST response headers"
### Description

To my understanding, sending request headers is easy, reading them (for response processing, not in some filter processing) not so much. The only way I found in RestEasy, was using the ResponseObject, which not only takes away automatic serialization, but also  Uni and reactive processing.

### Implementation ideas

_No response_

[2021-08-27 19:09] bortolonrodrigo opened #19740 "Feature to get the current SessionFactory"
### Description

Is it possible to add a new feature in order to get the sessionFactory created by Quarkus / Hibernate?
I would like to apply an hibernate interceptor but I am not able to do it since I am not able to get the sessionFactory created by Quarkus at runtime.

Regards,
Rodrigo Bortolon

### Implementation ideas

Yes, I am able to set a new session factory to use like this:

HibernateUti

[2021-08-27 20:08] stephennimmo opened #19741 "IsDockerWorking excludes the ability to simply use the unix socket directly. (docker-in-docker in tekton pipelines)"
https://github.com/quarkusio/quarkus/blob/966b67369dda58fd2a88e4719155a4c0d1cd1533/core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java#L39

The devservices work great until we get to using them in tekton pipelines. Testcontainers requires docker (unfortunately) and in the past, this was solved by running a docker-in-docker sidecar in a task, mounting the unix socket folder fro

[2021-08-27 21:17] CJoseFlores opened #19744 "Jib native build failures when setting custom 'quarkus.jib.base-native-image' values"
### Describe the bug

Building a native image with the container-jib extension throws a `com.google.cloud.tools.jib.api.RegistryAuthenticationFailedException` when the value of the `quarkus.jib.base-native-image` property is set to anything OTHER than images hosted on `registry.access.redhat.com`.

I recently discovered this when attempting to use docker-hub distributed images of `ubi8-minimal` (f

[2021-08-28 02:54] jmrodri commented on #19286
@geoand @iocanel today only a `view` role is generated and I don't see any way to customize it to generate different rbac rules. I would want to create something like the sample below without having the user edit it by hand. Are there any annotations or application.properties we could set to allow for a more complex rbac.yaml to be generated?

[code]

[2021-08-28 02:57] jmrodri commented on #19286
Or even something I can pass to the `mvn` command `mvn package -D quarkus.rbac.verbs=get,patch,update -D quarkus.rbac.resources...`.  The other thing I'm considering is post processing the file after the fact.

[2021-08-28 07:17] wabrit commented on #19683
Sorry for the delay - the simple reproducer I had hoped to put together does not reproduce the issue, so there's obviously something a little more subtle going on which will take some time to replicate.

[2021-08-28 07:20] wabrit opened #19745 "OpenTelemetry missing useful span name & tags for OAuth2/OIDC HTTP operations"
### Describe the bug

The quarkus VertxTracingAdapter sets useful span names and attributes for outgoing HTTP requests, but does this only if the request is an instance of `io.vertx.core.http.HttpServerRequest`.

When using OIDC requests to an external oauth2 server are manifested as instances of `io.vertx.core.http.impl.HttpRequestHead`, which is not an instance of HttpServerRequest.

This means

[2021-08-28 07:53] ambition-consulting commented on #19738
This works for sending headers, but not for receiving them. In our use
case, the response header is used for resource metadata, which is critical
for understanding it.

Guillaume Smet ***@***.***> schrieb am Fr., 27. Aug. 2021,
19:35:

[2021-08-28 08:11] geoand commented on #19683
Not a problem at all.

[2021-08-28 08:54] famod commented on #19741
/cc @geoand

[2021-08-28 09:03] maxandersen commented on #19555
What are the reasons why all the basic defaults are only in quarkus ? Would at least be helpful docs would point out what is in qute and what is uniquely quarkus.

[2021-08-28 10:13] sberyozkin commented on #19685
My understanding Phillip would like to show the auto-added properties, but if `DevServicesLauncherConfigResultBuildItem` is already produced at a different level then I guess it all already works. I'd like though to clean up that code a bit, where KC produces `DevServicesConfigResultBuildItem` - as some of those items are representing the properties which may have already been configured, specific

[2021-08-28 10:17] sberyozkin commented on #11872
Hi All, I think #19745 would be the more update issue - so let me close this one as a duplicate

[2021-08-28 10:17] #11872 closed

[2021-08-28 10:21] sberyozkin commented on #19614
Hi @phillip-kruger @stuartwdouglas I actually just logged in now to close this issue :-), starting 2 applications on the same port makes not sense really anyway, so yesterday I simply used `-Dquarkus.http.port`, so yeah, likely no much point in keeping this issue open

[2021-08-28 10:21] #19614 closed

[2021-08-28 10:23] sberyozkin commented on #19745
CC @ebullient

[2021-08-28 12:55] jonathan-meier opened #19747 "JUnit: Wrong test method passed in TestInfo parameter of BeforeEach/AfterEach methods"
### Describe the bug

Consider the following test class:
[code]

### Expected behavior

The currently running test method annotated with `@Test` (`testMethod` in the test class above) should be passed via `testInfo` in `before` and `after`.

### Actual behavior

The methods `before` and `after` are passed in respectively, which is wrong.

### How to Reproduce?

Repro: Just run the test class provi

[2021-08-28 13:00] jonathan-meier commented on #19747
/cc @stuartwdouglas

[2021-08-28 16:36] dufoli commented on #14246
it is fixed since long time so let s close this one

[2021-08-28 16:36] #14246 closed

[2021-08-28 19:00] famod commented on #19747
I have a fix for this, will send a PR soon.

[2021-08-28 19:17] GavinRay97 opened #19749 "Is JUnit only supported testing provider -- even excluding other JUnit 5 `TestEngine` compatible providers?"
### Description

I would like to help add support for Kotest to Quarkus:
- https://github.com/kotest/kotest
- https://github.com/kotest/kotest/issues/1401

Here's an example project:
- https://github.com/GavinRay97/kotest-examples-quarkus/tree/feature/update-deps

---

In trying to debug why this isn't working, it looks like:

- CDI injection doesn't work outside of `junit.jupiter` tests, maybe du

[2021-08-28 20:11] #19725 closed

[2021-08-28 20:46] XakepSDK opened #19750 "Can't inject ObjectMapper into ContainerRequestFilter"
### Describe the bug

I have a simple `ContainerRequestFilter` and an `DynamicFeature`. Quarkus fails with obscure error when i try to use my ContainerRequestFilter.

`DynamicFeature`:
[code]

`ContainerRequestFilter`:
[code]

### Expected behavior

Quarkus works. I get `ObjectMapper` injected.

### Actual behavior

Quarkus fails to start
[code]

### How to Reproduce?

Try to use my filter, it pro

[2021-08-28 21:22] maxandersen opened #19752 "config "filter" shows up empty"
### Describe the bug

Things works nicely at first - can see the improvements from #19541 and if I click on icons in config ui I get to filtered list where I can see things correctly but when I then edit the filter using the filter eventually the show up empty.

### Expected behavior

This is what I see when clicking from the /q/dev page - all properties listed. all good.

<img width="1669" alt="2

[2021-08-28 21:26] maxandersen opened #19753 "config editor behaves funky when run from jbang project"
### Describe the bug

maybe this is the cause of #19752 but I notice that when running in devmode with jbang editing properties and vieweing properties does not work.

Properly sideeffect of quarkus not fully grokking jbang project structure.

not sure what solution is for now but opening this to discuss options/causes.

### Expected behavior

_No response_

### Actual behavior

_No response_

###

[2021-08-28 21:33] maxandersen opened #19754 "cannot create 999-snapshot project"
### Describe the bug

using:

[code]

running:
[code]

should I not get a 999-SNAPSHOT based project or is sometihng else needed ?

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

[2021-08-28 21:37] famod commented on #19747
#19751 should take care of it. Thanks for reporting, btw!

[2021-08-28 21:37] maxandersen commented on #19754
`quarkus create -P io.quarkus:quarkus-core:999-SNAPSHOT` seem to whats needed which makes sense.

But would be good we could list the "known" platforms quarkus cli has. just to give people a chance to locate the right one for them.

[2021-08-28 21:39] maxandersen commented on #19753
just confirmed that #19752 happens even with plain project so that is not unique to jbang. the empty editor is jbang  isseu.

[2021-08-28 21:40] maxandersen opened #19755 "config editor should have the lock icon to mark build time only settings"
### Description

like from all-config page.

### Implementation ideas

_No response_

[2021-08-28 21:48] famod commented on #19749
/cc @stuartwdouglas

[2021-08-28 21:53] famod commented on #19737
Have you tried Quarkus 2.2.0.CR1 (or 2.2.0.Final, not yet released officially, but already at Maven Central)?

[2021-08-28 23:47] maxandersen opened #19756 "Replace "Could not find MessageBodyWriter for response object of type: java.util.ArrayList of media type: application/json" with helpful tip"
### Description

if you forget to add quarkus-resteasy-jackson or quarkus-resteasy-jsonb and try open rest endpoint returning json you just get a single line:

`Could not find MessageBodyWriter for response object of type: java.util.ArrayList of media type: application/json`

Could we be helpful and give a hint to user that what is missing is a json handler, probably missing quarkus-resteasy-jacko

[2021-08-29 00:08] maxandersen opened #19757 "Non static inner class as JAX-RS Resource produces obscure error"
### Describe the bug

running this script with `jbang -Dquarkus.dev main.java` and it fails but update to use `resteasy` and it works.

Error shown with resteasy-reactive:

[code]

### Expected behavior

that resteasy-reactive does not change panache/jaxrs behavior.

### Actual behavior

_No response_

### How to Reproduce?

application.properties:
[code]

main.java:
[code]

run this with `jbang -

[2021-08-29 02:56] mswatosh commented on #14117
I haven't been able to reproduce this locally (Though I see that CodePoint 1909 is missing). We're hitting this when running through Access Security, so is there any sort of security beyond basic user/password set on the DB2 server instance?

[2021-08-29 14:57] yntelectual commented on #19727
@michalszynkiewicz yes we have done that on several places, but it comes with many drawbacks-  it is very repetitive, if you have any service that uses several rest clients, then you end up with this relatively ugly block on each method. Plus, if you use generated clients(openapi codegen for example) them you cant add the MP FT annotations on the REST endpoint generated interface and you have to d

[2021-08-29 15:11] geoand commented on #19727
The general rule is that we won't be doing any new 1.x releases.

If a fix is tiny, then we could make it for the 2.x line. But the old rest client won't be given anything more than trivial maintenance going forward.
That said, the new REST Client is pretty much a drop in replacement for the old one.

[2021-08-29 16:48] dufoli commented on #41
so I have start to work on it but I am stuck because jandex seems to not return annotation of superclass got from classInfo.
I am maybe thinking to change completly the code and init all BeanInfo then enriched with qualifer/stereotype inherited
wdyt ? Or there is a solution to
@mkouba
Btw, I copy past the test from @manovotn but I will try to do my own later and add other test.

[2021-08-29 17:01] cescoffier commented on #41
CC @Ladicek - is it something doable?

[2021-08-29 17:13] juanmbellini commented on #3883
Hey guys! I would like to add that the `fields` method could receive a list of annotation like the following:

[code]

So the `RegisterForReflection` definition could have the following method:

[code]

You would use it like this:

[code]

[2021-08-29 17:18] gastaldi commented on #3883
@juanmbellini in this case wouldn't it be better to have an annotation placed in the field itself?

[2021-08-29 18:20] juanmbellini commented on #3883
We could have both. The class level annotation can be used for registering fields of a super class that cannot be modified (for example, if it is imported from an external library)

[2021-08-29 18:30] gastaldi commented on #3883
You can specify external classes in `@RegisterForReflection` so I am not sure how would that work in this case

[2021-08-29 18:40] juanmbellini commented on #3883
@gastaldi But how would you place the field level annotation on those?

[2021-08-29 18:50] gastaldi commented on #3883
Exactly, I don't think that's going to work either in this case :)

[2021-08-29 19:02] gsmet commented on #19757
I would say it's probably because your nested resource class is not static and as such doesn't have a no-args constructor. Not sure if we want to support this, I'll let the others decide :).

[2021-08-29 19:19] geoand commented on #19757
Does it work if the Reource class is static?

If so, I think it's enough. Otherwise, we would need to come up with some hack

[2021-08-29 20:31] maxandersen commented on #19757
ah I missed that since it works in resteasy - I think its fair if we don't support it but that should be a build failure then should it not ?

[2021-08-29 21:01] geoand commented on #19757
Yeah, I'll make it a build time error

[2021-08-29 21:15] famod commented on #14927
I finally managed to produce a [flamegraph](https://github.com/quarkusio/quarkus/files/7073228/profile.zip), captured from a surefire run of an empty QuarkusTest via:
[code]
Is that of any help?

[2021-08-29 21:28] juanmbellini commented on #3883
@gastaldi thats why I proposed using a "fields" method in the register for reflection annotation, but also a field level annotation, in order to get this feature in any of those flavors.

[2021-08-29 23:57] stuartwdouglas commented on #14927
Unfortunately nothing really stands out as being an easy target. Liqibase is taking up a fair bit of time, as is the hibernate entity enhancer and Jacoco transformation, but I don't know if there is much we can do about it.

[2021-08-29 23:58] stuartwdouglas commented on #14927
BTW how long did startup take in this case?

[2021-08-30 00:41] stuartwdouglas commented on #19749
How is this supposed to work? When I run the gradle build I just see gradle running the standard JUnit test.

Continuous testing won't pick this up because it is currently using the JUnit test annotations for discovery, however that could be changed if needed.

[2021-08-30 03:30] aomsweet commented on #19035
Keep following this issue.

[2021-08-30 03:43] aomsweet opened #19761 "Support logback and log4j2."
### Description

logback and log4j2 support more log adapters than jboss-logmanager, I think Quarkus should support them.

### Implementation ideas

_No response_

[2021-08-30 03:53] gastaldi commented on #19035
Let me know if anyone wants to lead the development of such extension

[2021-08-30 04:47] geoand commented on #19757
https://github.com/quarkusio/quarkus/pull/19762 should take care of it

[2021-08-30 04:52] geoand commented on #19752
cc @phillip-kruger

[2021-08-30 04:55] phillip-kruger commented on #19752
Weird! I'll have a look

[2021-08-30 05:01] geoand commented on #19744
I tried this and was not able to reproduce the problem... Everything worked as expected

[2021-08-30 05:12] HelvetiaAppDev commented on #18737
Hi @Sanne @barreiro
Do you guys maybe have an update on this?
Or is possible to somehow disable/avoid this warning?
Thanks!

[2021-08-30 05:21] mweber03 opened #19763 "2.2.0.Final Can no longer read config mapping"
### Describe the bug

When migrating from `2.1.4.Final` to `2.2.0.Final`, configurations for a `@ConfigMapping` interface can no longer be found on system startup.

### Expected behavior

Service starts up successfully.

### Actual behavior

[code]

### How to Reproduce?

Reproducer: `service3` in https://github.com/mweber03/quarkus-test

1. `./gradlew service3:quarkusBuild`
2. `docker build -t se

[2021-08-30 05:21] mweber03 commented on #19763
@radcortez

[2021-08-30 05:39] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1180956931

[2021-08-30 05:43] geoand commented on #19741
Thanks for reporting.

This is an interesting use case, but I am not sure I understand what the exact request is here. Do you want to be able to turn off or docker detection or enhance it somehow?

[2021-08-30 05:54] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1180947531

[2021-08-30 05:59] stuartwdouglas commented on #19741
I think we should be able to enhance it to use the test containers docker client to check if docker is availible when TC is present.

[2021-08-30 06:02] geoand commented on #19741
Lemme give that a shot

[2021-08-30 06:03] cescoffier commented on #18998
I think we should definitely start an extension (most probably in the quarkiverse).
This repo would be the perfect place to implement some IT tests verifying the behavior.

I used to test the setup manually, as it was kind of ticky to implement it in an automated manner without eating lots of CI time.

[2021-08-30 06:18] stuartwdouglas commented on #19741
It maybe should be a seperate IsTestContainersWorking thinking about it, as IsDockerWorking is used in places that don't use test containers.

[2021-08-30 06:19] geoand commented on #19741
I'll open a draft in a few minutes and we can comment on that

[2021-08-30 06:30] geoand commented on #19741
https://github.com/quarkusio/quarkus/pull/19764 is what I have in mind

[2021-08-30 06:45] phillip-kruger commented on #19685
Ok apologies, I thought it did not work, let me double check today, and if it's working I'll close this.

[2021-08-30 06:56] pjgg opened #19766 "Flyway / DevServices"
### Describe the bug

I am working with reactive Postgresql datasource and Flyway and I couldn't launch my app because I got the following error:

`Failed to start application (with profile dev): org.postgresql.util.PSQLException: FATAL: database "store" does not exist`

My configuration is the following one:

[code]

The problem is that flyway expects that `store` DB already exists, but doesn't b

[2021-08-30 07:11] #19673 closed

[2021-08-30 07:46] gsmet commented on #19761
Can you have a look at: https://github.com/quarkiverse/quarkus-logging-logback ?

[2021-08-30 07:54] mkouba commented on #19555
Well, Qute is _primarily intended_ to be used as a Quarkus extension. It is possible to use it standalone but then many features (such as type-safe templates) are not available because we're not able to perform the pre-processing during the build phase. Some of those features could be ported to a runtime-only environment but this approach has its drawbacks. First of all, we would have to maintain

[2021-08-30 07:56] aomsweet commented on #19761
Ok, Thank you @gsmet

[2021-08-30 07:58] mkouba commented on #41
That's intentional and well-documented. You need to walk the class hiearchy instead.

[2021-08-30 08:26] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1180947357

[2021-08-30 08:30] Ladicek commented on #41
@mkouba Considering recent developments in CDI Lite and extensions, I think the annotation store in ArC should probably always include all annotations of a class (including inherited ones). This is a little more complicated for scope annotations, and I didn't really think it through yet, so this is more like a heads up than a definitive claim :-)

[2021-08-30 08:36] mkouba commented on #41
I assume that you mean the annotations declared on superclasses and annotated with `@Inherited`?

[2021-08-30 08:36] aloubyansky commented on #19763
Thanks for the report and the reproducer @mweber03
@radcortez, fyi, reverting https://github.com/quarkusio/quarkus/commit/fd4b3028afbfff649c6e92e8bb51a65a47fa6bef#diff-97590934dcf5a67bd5024cc9d8765c75ea29b98b5272d2f04a03b3065138d65e fixes the issue.

[2021-08-30 08:38] Ladicek commented on #41
Yes.

[2021-08-30 09:07] geoand commented on #19763
I am pretty sure that the same cause @aloubyansky pointed to is also responsible for https://github.com/quarkusio/quarkus/issues/19448

[2021-08-30 09:28] SLedunois commented on #19617
Hi @mkouba

Yes indeed. It occurs when I launch quarkus using maven:3.8-jdk11 image with the following configuration:
[code]

And launching with `docker-compose up server`.

[2021-08-30 09:46] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1180956523

[2021-08-30 09:53] belu commented on #18447
Seeing this exception also for 2.1.4.Final. And also this one here:
[code]

[2021-08-30 10:03] geoand commented on #19756
https://github.com/quarkusio/quarkus/pull/19767 takes care of the issue

[2021-08-30 10:03] manovotn commented on #41
@Ladicek might be worth an issue with some details so we keep track of it?

[2021-08-30 10:10] Ladicek commented on #41
At some point, sure. I need to think more about it.

[2021-08-30 10:17] geoand commented on #19755
cc @phillip-kruger

[2021-08-30 11:10] #19757 closed

[2021-08-30 11:17] geoand commented on #19750
This is unfortunately a limitation of the integration between Quarkus and RESTEasy.

You can get around the problem by doing something like:

[code]

[2021-08-30 11:19] phillip-kruger commented on #19685
Closing, it's working :)

[2021-08-30 11:19] #19685 closed

[2021-08-30 11:21] Xnyle opened #19770 "Disable JSESSIONID when not needed"
### Description

It would be nice if there is an easy way to

a) automatically disable the JSESSIONID cookie if there are no session beans
b) manually disable that cookie
c) or at least provide an easy way to rename it

Reason:
Multiple stateless REST services that are reverse proxied should not overwrite each others SESSION ids
(yes you can solve this at the proxy level but IMHO if there is no se

[2021-08-30 11:25] geoand opened #19771 "Port rest-data-panache to RESTEasy Reactive"
### Description

`quarkus-rest-data-panache` currently depends on RESTEasy Classic.
We should port this to RESTEasy Reactive.
This won't be trivial as RESTEasy Reactive builds all the necessary information by looking at the Jandex index of existing code, while rest-data-panache generates code which isn't available at this point.

### Implementation ideas

_No response_

[2021-08-30 11:35] rsynek commented on #11563
@Christopher-Chianelli there seems to be yet another failure with Quarkus snapshot, this time in the DevUI. Would you mind taking a look?

[2021-08-30 11:44] loicmathieu commented on #19771
I'm not convinced by this one.
Maybe we need to create a rest-data-panache-rx based on RestEasy reactive and provides both flavor.
Rest-data-panache is opinionated, and provides easy to use REST endpoints based on conventions for quick usage, advanced use case will not use it so accoring to me having it using the simpliest extensions is OK.

As I understand it, soon, resteasy classic will be based

[2021-08-30 11:45] phillip-kruger commented on #19752
@maxandersen did you see anything in the logs ? I found an issue with the logstream that registers a listener on **all** select elements, rather than just the one in the log dropdown. I am submitting a PR for that now. But for that one there is a clear stacktrace in the log file.

[2021-08-30 12:03] geoand commented on #19771
Agreed. But the base itself provides no additional features. The under the covers transition to RESTEasy Reactive should be absolutely transparent (apart from the different transitive dependencies).

Not true. What will happen likely is that we will be proposing `resteasy-reactive` as the default API layer.

[2021-08-30 12:14] gkfirst8 opened #19773 "Quarkus testing using @QuarkusTest, mocks and javax.enterprise.inject.Instance"
### Describe the bug

We have an application that uses javax.enterprise.inject.Instance to find all validators for a service. This seems to work nicely but during testing we would like to swap out a few of those validators with a mock to skip their behaviour so it's easier to reach other validators.

When we try to do this using the 'Old approach' (See [Blog-post on this](https://quarkus.io/blog/m

[2021-08-30 12:15] gkfirst8 commented on #19773
I've also posted this issue on Stackoverflow: https://stackoverflow.com/q/68954759/1023341 but was directed here by [geoand](https://stackoverflow.com/users/2504224/geoand).

[2021-08-30 12:23] bortolonrodrigo commented on #19740
Hello,

  I found this command based on HibernateProxy

 ` hibernateProxy.hibernateLazyInitializer.session.factory.withOptions().interceptor(<interceptor here>) `

  but when I use the HibernateProxy like this

[code]

  I am receiving the following error:

[ERROR] 	[error]: Build step io.quarkus.arc.deployment.ArcProcessor#validate threw an exception: javax.enterprise.inject.spi.DeploymentExcepti

[2021-08-30 12:50] gsmet commented on #19740
You can inject the `SessionFactory` in any CDI bean, it's a bean itself:

[code]

[2021-08-30 12:54] bortolonrodrigo commented on #19740
Hello @gsmet ,

Thank you! I will try this approach. But to apply this config to the global session, can I create a config class like this?

[code]

[2021-08-30 13:03] vu-bui opened #19775 "Cannot Run Tests With testcontainers 1.16.0"
### Describe the bug

I cannot execute tests depending on testcontainers version `1.16.0` after upgrading to quarkus `2.1.4.Final`. It seems that testcontainers require `com.github.docker-java` version `3.2.11` in order to run while `quarkus-universe-bom` is referencing to `3.2.8`

I'm not sure if this is the correct place to fix, but I think we can just simply upgrade the dependency version.

I h

[2021-08-30 13:14] Christopher-Chianelli commented on #11563
@rsynek from the look of it, the base html of the Quarkus Dev UI changed, which broke a selector that looks for a particular table row.

[2021-08-30 13:25] michalszynkiewicz commented on #19727
👍🏻
If you create a PR, with tests, I think it could go into `main` (2.3+).

With interfaces generated from OpenApi, you could try to create a subinterface of the generated one with `@Retry` on it. I'm 80% sure it would work for the classic rest client and 95% sure it would work for the reactive one ;)

[2021-08-30 13:28] CJoseFlores commented on #19744
I wanted to make sure it wasn't something specific with my project, so I created a brand new project using the quarkus-maven-plugin (https://quarkus.io/guides/rest-json#creating-the-maven-project) and added JIB to the pom:
[code]
This still produced the following stack trace for me :frowning_face: :
[code]
I think the key component is adding the  `-Dquarkus.container-image.username=SAMPLE_USER` an

[2021-08-30 13:28] mkouba opened #19777 "Continuous testing - Dev UI reports "All tests passed" despite there's a test failure"
### Describe the bug

![Screenshot from 2021-08-30 15-20-32](https://user-images.githubusercontent.com/913004/131345552-1686659c-87b2-4fcb-b2c0-a55ef560f1df.png)

Also it seems that the "Re-run all tests" button does not work afterwards.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

I was able to reproduce the issue with the [grpc-plain-text-quic

[2021-08-30 13:35] gsmet commented on #19775
You need to use the Testcontainers version mandated in the Quarkus BOM.

Quarkus 2.2, released tomorrow will use Testcontainers 1.16.

[2021-08-30 13:37] gsmet commented on #19740
No you cannot tweak the global SF after its creation.

[2021-08-30 13:37] gsmet commented on #19740
@Sanne do you remember if we support defining interceptors for the SF managed by Quarkus?

[2021-08-30 14:00] geoand commented on #19744
You are completely right.
I see the problem now.

Thanks for the details!

[2021-08-30 14:05] geoand commented on #19744
https://github.com/quarkusio/quarkus/pull/19780 fixes the problem

[2021-08-30 14:16] gastaldi commented on #19770
Do you have a small project that reproduces this?

[2021-08-30 14:17] #19677 closed

[2021-08-30 14:33] aloubyansky commented on #19763
@mweber03
[code]
fixes your issue. What was the reason for `runtimeOnly`? `runtimeOnly` for a Quarkus extension is clearly a wrong configuration, so I am closing this issue.

[2021-08-30 14:33] #19763 closed

[2021-08-30 14:33] pjgg opened #19781 "Undertow Websockets: Could not create an endpoint dynamically"
### Describe the bug

Extensions: `io.quarkus:quarkus-undertow-websockets`

On version 1.11.7.Final I could create an endpoint dynamically as follow:

[code]

However after upgrade to version `1.13.7.Final` I got a `NullPointerException`

[code]

Here I paste you a full reproducer:

[code]

Run: `mvn quarkus:dev`

Test: `curl --include \\n     --no-buffer \\n     --header "Connection: Upgrade" \\n

[2021-08-30 14:39] ahmedabbas11 commented on #5521
i got this issue while using bdd and dbunit, so i started with the test code and tried to use dbunit. when application failed to get datasource, i didn't think i would need at least an entity to make quarkus create entity manager bean.
so when i created the entity class, it worked but it will be confusing for every one using either TDD or BDD

[2021-08-30 14:47] DDT88 opened #19782 "Quarkus:dev not working"
### Describe the bug

Hi all ,

i have the problem when run mvnw compile quarkus:dev.  ( Java 11 , windows 10 , maven 3.8.2 )
can you help me please?

below the problem :

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  10.558 s
[INFO] Finished at

[2021-08-30 14:51] #19744 closed

[2021-08-30 15:00] Ankoul commented on #15075
Hi all,
I am doing some stress test, so I have created a nodeJs application to send some requests per second to my quarkus application.
At some point my client application starts to get "error: Error: socket hang up" in each request while my quarkus application is printing this same error for each request:
[code]

Maybe this is an way of how to reproduce this error.

[2021-08-30 15:03] gastaldi commented on #19770
I tried to reproduce it and I see that the `JSESSIONID` cookie is already only created when a `@SessionScoped` object is accessed.

[2021-08-30 15:33] TheParad0X commented on #6948
I am facing the same issue. What is currently the easiest way to inject a bean into my Entitylistener (that will also work in native mode) ? As most users here, I want to automatically update the created_by / updated_by column of my entities.

[2021-08-30 15:35] gastaldi commented on #19781
/cc @stuartwdouglas

[2021-08-30 15:44] mweber03 commented on #19763
@aloubyansky why is it clearly wrong? I was trying to limit the scope of what is visible to developers. What I had worked in 1.13.7, 2.0.3, and 2.1.4.

[2021-08-30 15:47] gastaldi commented on #19781
FYI you can also fetch an instance of the configured `ServerContainer` by doing:

[code]

But then you get an error when you try to deploy:

[code]

[2021-08-30 15:58] aloubyansky commented on #19763
Because extensions are build time dependencies. With runtimeOnly none of the "build items" this extension is expected to produce are actually produced. Perhaps there was a change in the Gradle plugin that affected your config but the current behavior is definitely not a bug.

[2021-08-30 15:59] aloubyansky commented on #19763
Actually it's probably not a change in the gradle plugin but the one I referenced previously.

[2021-08-30 16:25] #19752 closed

[2021-08-30 16:26] #19747 closed

[2021-08-30 16:27] #19756 closed

[2021-08-30 16:31] famod commented on #14927
I took Liquibase out of the equation and added `-Dquarkus.debug.print-startup-times=true`:
[code]
So, until the first "real" log messages from Quarkus (those config warnings), ~4s are spent.
`ArcProcessor.generateResources` takes ~25% of this, but the rest ist not really spent in build steps as it seems.

The flamegraph for that is [here](https://github.com/quarkusio/quarkus/files/7078103/profile.

[2021-08-30 16:32] gsmet commented on #19763
My guess is that it was just accidentally working before. But all extensions needs to be `implementation`.

[2021-08-30 16:36] famod commented on #14927
`-XX:TieredStopAtLevel=1 -Xverify:none` help quite a bit for that `CompilerBroker` overhead, bringing `Quarkus 2.1.2.Final on JVM started in x` down by 2 seconds (~3.6 instead of ~5.7)!

[2021-08-30 16:37] geoand commented on #14927
Open an issue please - this is an easy ask to fulfill :)

[2021-08-30 16:39] geoand commented on #14927
`966ms` for generating sources seems pretty terrible...

[2021-08-30 16:52] GavinRay97 commented on #19749
If you mean, in the sense of "how would it work in general" -- I _believe_ that Kotest aims for transparent JUnit5 support.

The way to add and use Kotest in a project, is by enabling JUnit as the testing provider for instance, and just having the Kotest `runner` dep in the classpath. Then it should "just work":
- https://kotest.io/docs/quickstart/#test-framework

![image](https://user-images.gith

[2021-08-30 17:07] famod commented on #14927
@mkouba do you have some hints where to look in ArC?
Might be the number of dependencies? We have 276 according to `mvn dependency:tree`.

[2021-08-30 18:24] sberyozkin commented on #19670
I've started prototyping it, though may have to delay for a few days or so

[2021-08-30 18:32] famod commented on #19782
Thanks for reporting. This is actually a duplicate and will be fixed in 2.2.1: https://github.com/quarkusio/quarkus/issues/19673#issuecomment-907431746

[2021-08-30 18:32] #19782 closed

[2021-08-30 18:36] mkouba commented on #14927
@famod @geoand @stuartwdouglas Well, the output of `quarkus.debug.print-startup-times` is actually quite misleading because `ArcProcessor.generateResources completed in: 966ms` has nothing to do with generating resources. It includes `ArcRecorder.getContainer()` and `ArcRecorder.initBeanContainer()` recorder invocations where the CDI container is started, `@Initialized(ApplicationScoped.class)` ob

[2021-08-30 19:51] michalszynkiewicz commented on #19721
@fabland would you be interested in contributing this? :)

[2021-08-30 20:16] maxandersen opened #19787 "enhance quarkus cli native build workflow"
### Description

continuation of #17320

### Implementation ideas

_No response_

[2021-08-30 20:17] maxandersen commented on #17320
closing this as basic functionallity is there. using --native or passing through the explicit flags.

[2021-08-30 20:17] #17320 closed

[2021-08-30 20:30] #18115 closed

[2021-08-30 20:36] ebullient commented on #19787
I wanted to enhance the CLI build command (which currently takes `--native` to build native images and allows `-D` options to be passed through) to use local config and a _few_ additional options to simplify:

1. Choosing between podman and docker
2. Building the native image _for_ a container (always linux) or for the platform
3. Building the native image _with_ a container

[2021-08-30 20:39] #19741 closed

[2021-08-30 20:42] ebullient commented on #16031
Looking at instructions like https://developers.redhat.com/blog/2021/02/11/enhancing-the-development-loop-with-quarkus-remote-development#step_1__create_a_new_quarkus_project

The step 3 configuration changes:
[code]
And this:
[code]
Then `mvn quarkus:remote-dev` works ..

So, where I got stuck was having a command that encompassed all of those steps in some way so it makes sense.

[2021-08-30 20:58] famod commented on #14927
For some super weird reason, I don't see that debug message, even with the proper config. But I do see `DEBUG [io.qua.arc.impl] (main) ArC DI container shut down` at the end of the test.
I had to switch the code to `infof()` (instead of `debugf()`). 😕

With the above:
[code]
PS: With the JVM flags that build step is now down to ~ 600ms (from almost ~1000ms) and so both hibernate listeners make up

[2021-08-30 21:47] habimt opened #19789 "AWT Graphics does not seem to work in native image"
### Describe the bug

So basically I'm trying to resize png picture in quarkus app and I'm aware that there were several problems with AWT library. I tried following [this](https://github.com/graalvm/mandrel/issues/180#issuecomment-734873511) comment but so far I cannot make this thing to work. The main culprit in stack trace seems to be this
[code]

I did create config files using agent like ment

[2021-08-30 23:10] gastaldi opened #19790 "ClassCastException while using MessageLogger"
### Describe the bug

Using the `MessageLogger` feature from JBoss Logging throws a ClassCastException in Quarkus.

[code]

### Expected behavior

No exceptions

### Actual behavior

Throws ClassCastException.

**This is the weird part**: It works when the application hot-reloads (perform any hot-reloadable change and hit http://localhost:8080/hello again).

### How to Reproduce?

In a clean proje

[2021-08-30 23:22] gastaldi commented on #19790
After looking at a decompiled `Messages_$logger` (internal class created by `jboss-logging-processor`), it's clear that something has gone wrong (the Messages interface isn't even implemented in it)

[code]

[2021-08-30 23:42] gastaldi commented on #19790
/cc @jamezp @stuartwdouglas @dmlloyd

[2021-08-30 23:44] gastaldi commented on #19790
This was caused by having 2 IDEs opened and compiling the same project. Closing one of them fixed the problem

[2021-08-30 23:44] #19790 closed

[2021-08-31 00:05] gastaldi commented on #19789
FYI removing `core/runtime/src/main/java/io/quarkus/runtime/graal/Java2DSubstitutions.java` gives

[code]

[2021-08-31 00:22] #19621 closed

[2021-08-31 00:37] stuartwdouglas commented on #14927
Can you generate a new profile with these updates?

[2021-08-31 01:25] tamht298 commented on #19468
Please check here: [https://github.com/tamht298/quarkus-example](https://github.com/tamht298/quarkus-example)

[2021-08-31 02:08] stuartwdouglas commented on #19468
You need to use
      `responseContext.setEntity(ErrorResponse.builder().error("NotFound").build(), null, MediaType.APPLICATION_JSON_TYPE);` as RESTEasy classic seems to be defaulting to HTML for some reason.

[2021-08-31 03:22] vu-bui commented on #19775
Thanks for that. There is indeed testcontainers defined in quarkus that I didn't know. Removing the dependencies to testcontainers did work.

[2021-08-31 03:22] #19775 closed

[2021-08-31 04:39] geoand commented on #19771
Closed by accident, so I am reopening

[2021-08-31 05:37] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1184841665

[2021-08-31 06:14] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1184832542

[2021-08-31 06:28] mkouba commented on #14927
When you look at the flamegraph from https://github.com/quarkusio/quarkus/issues/14927#issuecomment-908493292 a great deal of the time is taken by `ArcRecorder.initBeanContainer()` where half is the `io/quarkus/hibernate/orm/runtime/HibernateOrmRecorder$1.created` and the other half is `io/quarkus/hibernate/validator/runtime/HibernateValidatorRecorder$1.created`.

[2021-08-31 07:18] stuartwdouglas commented on #19362
PR is ready, it would be great if you could try it out and give some feedback.

[2021-08-31 07:33] lenalebt commented on #18166
Soo, this issue really is quite annoying. I can workaround, but it basically removes one of the most interesting features of the whole stack - the "write code"-"rerun request"-cycle. I always need to manually recompile now, and this is one of the things why I left other ecosystems. It also does not support the "continuous testing"-features anymore this way.

I retried on 2.1.3.Final and it still i

[2021-08-31 07:40] glefloch commented on #18166
@lenalebt have you tried to comment this line/block (https://github.com/lenalebt/quarkus-ticket-18033-reproducer/blob/kotlin/build.gradle.kts#L60) ? This is a configuration for the java compiler which interfere with the quarkus kotlin compiler configuration. As you don't have java main sources, this shouldn't be needed.

[2021-08-31 07:59] lenalebt commented on #18166
Well, that's interesting. That makes that minimal example work.

But I don't have that setting anywhere in all the other projects I'm using internally. It still fails though. I don't set any java compiler settings directly - although I don't know whether one of the other plugins will do that. I'll try to re-cycle through them and see what I can throw out :thinking:

[2021-08-31 08:03] glefloch commented on #18166
Can you create a reproducer?

[2021-08-31 08:13] gsmet commented on #18166
@glefloch how can a setting totally unrelated to Kotlin (and a setting we recommend btw) interfere with the Kotlin compiler?

[2021-08-31 08:19] dufoli commented on #7507
@mkouba  what is remaining here ? an attribute for proxy like
[code]
 is not

[2021-08-31 08:31] glefloch commented on #18166
@gsmet when building the `DevModeLauncher` we can set compiler arguments. By default we only look for java compiler argument set in gradle (there is a way to overload those argument in the `quarkusDev` task).
 I think we could try to look for kotlin compiler argument as well (if the plugin is applied) but in a multi-source project, there could be issue as there in no way to configure different arg

[2021-08-31 08:43] manovotn commented on #7507
@dufoli To make what Martin suggested work, we'd need to browse discovered beans and inspect their annotations via `AnnotationStore`. If any of the classes in bean hierarchy has the `@RegisterForReflection` annotation, we keep track of it.
Later on, when generating proxies, we can register the proxy class for reflection as well. I am not sure if slapping an annotation on generated class does it or

[2021-08-31 08:45] mkouba commented on #7507
I think that we'll have to produce a `ReflectiveClassBuildItem` for each relevant class.

[2021-08-31 09:32] lenalebt commented on #18166
Okay, I think I now know where it's coming from: I'm using kotlin annotation processing (kapt), and that seems to set compiler arguments for the java compiler. In my case, it's `-proc:none`. However, I will not be able to get rid of that annotation processing, as we're generating quite a lot of basic code with that.

I don't know exactly where it's coming from in kapt, but this is some things I co

[2021-08-31 09:38] j-be commented on #6948
@TheParad0X `CDI.current().select(FooBean.class).get();` still works fine for me in Quarkus 2.1. Just make sure the bean is injected somewhere else, or that it carries `@io.quarkus.arc.Unremovable`.

[2021-08-31 09:41] lenalebt commented on #18166
I updated the reproducer. It shows exactly the issue that I do have in my private repositories, see https://github.com/lenalebt/quarkus-ticket-18033-reproducer/tree/kotlin and follow instructions in https://github.com/quarkusio/quarkus/issues/18166#issue-930130459 "To Reproduce".

[2021-08-31 09:43] glefloch commented on #18166
Thanks @lenalebt I will have a look

[2021-08-31 10:41] famod commented on #14927
@mkouba yeah, that's what the log output is saying as well.

@Sanne is this to be expected or is this out of the ordinary?
[code]

@stuartwdouglas

It's already linked, but I'll link it again: [profile](https://github.com/quarkusio/quarkus/files/7078103/profile.zip).

[2021-08-31 10:48] famod commented on #14927
@stuartwdouglas

Ah, sorry, that wasn't the right one. Here is a brand new one: [profile.zip](https://github.com/quarkusio/quarkus/files/7083291/profile.zip)

[2021-08-31 11:02] #19674 closed

[2021-08-31 11:06] deodorel commented on #19056
Hello, this got solved by upgrading to 2.1.4.Final

[2021-08-31 11:06] #19056 closed

[2021-08-31 11:10] programmatix commented on #6228
Hi, Couchbase dev Graham here.  I've written a Quarkus extension here https://github.com/couchbaselabs/quarkus-couchbase, currently in alpha status, and it'd be great to get feedback from users.  It supports dependency injecting a Couchbase Cluster object, configured via application.properties, plus native-image/Graal.  I plan to publish it later this week, but you can build it yourself from the r

[2021-08-31 11:28] emmanuelbernard commented on #18998
There are several problems all entangled, let me try and clarify a few things

1. The default SASL for Kafka client works out of the box but is less secure than OAUTHBEARER.
I think we should promote the more secure option by default so I would prefer a model where we don't have a separate extension but rather embed the logic int he main extension (if that does not blow the RSS size up). We could

[2021-08-31 11:40] TobiWeier opened #19797 "SmallRye Reactive Messaging Getting Started Example does not work correctly"
### Describe the bug

The example in the guide https://quarkus.io/guides/kafka-reactive-getting-started does not work correctly.
After first start of producer process all quotes may received by Multi<Quote> in QuotesResource, but if browser page was reloaded, some events will not be received.

### Expected behavior

[code]

### Actual behavior

After Browser Page Reload (F5):
[code]

### How to Re

[2021-08-31 11:54] cescoffier commented on #18998
I can answer the CI part. Yes it should be possible to get all of them running with test containers if we get the right images and configuration.
Last time I checked, having the correct settings (in kafka and keycloak with a preloaded realms) was very very hard and needed updates when we integrated a version of some new strimzi artifacts.

So in addition to the configuration and setup, it should b

[2021-08-31 12:04] ebullient commented on #19754
specifying the partial (999-SNAPSHOT) should have worked, and certainly did at one point. You shouldn't have to specify that much to get a local build to work.

[2021-08-31 12:11] Karm commented on #19789
It's a longer journey than it seems, e.g. https://github.com/oracle/graal/pull/3417
I was fiddling with Quarkus' substitutions to get AWT to work, but ultimately, as Christian mentions, we cannot expect those AWT libs to work with being initialized at build time. There is too much state.

What you are doing is perfectly legit as long as it is all runtime initialized all the way, e.g.:

## Without

[2021-08-31 12:15] Xnyle commented on #19770
Well, no there must be another mechanism that triggers a setcookie. I Just verified that my own code does not have a singe @SessionScoped bean, still I get

server: openresty/1.15.8.2
set-cookie: JSESSIONID=uapGFxiucktFeUpYPrk7OPker8WX83q2TbRRHlsX; path=/

These are the modules I'm using

	implementation "io.quarkus:quarkus-arc"
    implementation "io.quarkus:quarkus-resteasy"
	implementation "io.

[2021-08-31 12:33] mmailaender opened #19798 "Sentry tracing with automatic instrumentation"
### Description

Sentry extended his error reporting service with a tracing approach: https://docs.sentry.io/platforms/java/performance/

There is already a Quarkus plugin that is supporting the logging part but not tracing: https://quarkus.io/guides/logging-sentry

It would be great if this plugin could be extended to support also tracing with automatic instrumentation.

Maybe it helps to have th

[2021-08-31 12:36] ozangunalp commented on #19797
I am afraid I cannot reproduce this one with Quarkus `2.1.4.Final`, java `AdoptOpenJDK-16.0.1+9`, and `AdoptOpenJDK-11.0.11+9`.
I used https://github.com/quarkusio/quarkus-quickstarts/tree/main/kafka-quickstart with your configuration.

@TobiWeier would you be able to test it again directly from the repo above?
The issue you are having seems very strange but maybe there is an error in the guide.

[2021-08-31 12:36] #19713 closed

[2021-08-31 12:38] emmanuelbernard commented on #18998
What does as stable as possible mean?

[2021-08-31 12:39] zbendhiba commented on #18998
+1
I tried to get inspired from the many Strimzi oauth docker-compose and configurations to get one  CI example for camel-quarkus and it's very very hard.

[2021-08-31 12:42] emmanuelbernard commented on #18998
OK so what Clement expressed here is that we need images that have the Kafka image with the jar using the oauth strimzi lib. And have a prepopulated state so that Keycloak and Kafka talk to one another. I'll update my original comment with the info

[2021-08-31 12:45] ebullient commented on #19754
We broke this when we changed the default group id to `io.quarkus.platform`

This also works:
`quarkus create -P io.quarkus::999-SNAPSHOT`

[2021-08-31 12:53] cescoffier commented on #18998
Exactly @emmanuelbernard !

[2021-08-31 13:11] TobiWeier commented on #19797
Sorry, forgot to mention, that I added the annotation @RequestScoped to QuotesResource.

[2021-08-31 13:25] Sanne commented on #14927
Well yes both of ORM and Validator are known to be quite expensive to boot, but I'll need to have a look to see if the specific costs here are expected.

[2021-08-31 13:35] mzellho commented on #6549
Hello everybody, any news on this issue? I just ran into it using Quarkus 2.1.2.Final in native mode as well, non-native is working nicely and could provide stack traces and such... thank you!

[2021-08-31 13:43] Sanne commented on #14927
So among costs there is Hibernate ORM's enhancement of entities via ByteBuddy, combined with Jacoco based enhancement? I don't know much about this last one but considering the ORM one is expensive, I'd not be surprised of the other one is as well.

It seems the Jacoco enhancer has the same problem as the ORM one: it's bypassing the visitor API to work on the byte array instead; this is not optima

[2021-08-31 13:59] ennishol opened #19799 "CDI ignores annotations in mvn quarkus:dev"
### Describe the bug

The application loads beans via Instance by inspecting Annotations of the beans.
When running `java -jar target/quarkus-app/*.jar` the CDI loads beans as expected. However, with `mvn quarkus:dev` annotations are missed in created proxies, and the factory cannot find the bean.

### Expected behavior

CDI should work the same in both jar and quarkus:dev mode

### Actual behavio

[2021-08-31 14:00] gastaldi commented on #19770
This is strange, it is not provided by a Quarkus app, is it being set manually in your app?

[2021-08-31 14:24] gastaldi commented on #19770
BTW I created a sample project using the same extensions you listed and I still don't see the `set-cookie` header

[2021-08-31 14:30] antoniomacri commented on #19482
Sorry about reopening this, please tell me if it's better to submit another issue.

There is a similar case which still does not work:

[code]

In Before/AfterEach the testInfo should return the "Method associated with the current test".

(Also I noticed expected/actual in your PR were inverted.)

[2021-08-31 14:34] famod commented on #19482
@antoniomacri can you check `2.2.1.Final`? It includes another fix: #19751

[2021-08-31 14:36] antoniomacri commented on #19482
Ops, of course! I'll wait to see it on Maven Central

Thanks!

[2021-08-31 14:46] barreiro commented on #18737
Hello @HelvetiaAppDev. When looking at this, I saw that there are 3 `Synchronization` registered: `[Hibernate, Agroal*, Arc*]` in that order, where * are 'interposed' synchronizations. Your event handler is executed by Arc after the previous synchronizations run. It causes Hibernate to acquire a second connection that is not properly closed as it's synchronization already ran.

To fix the ordering

[2021-08-31 14:48] antoniomacri commented on #19482
Fixed Before/AfterEach!

However Before/AfterAll give an exception on this line since getTestMethod is empty:

    Method newTestMethod = determineTCCLExtensionMethod(info.getTestMethod().get(), testClassFromTCCL);

You can use the example above as a reproducer.

Would you like me to open another issue?

[2021-08-31 14:49] TobiWeier commented on #19797
@RequestScoped was my mistake, works with @ApplicationScoped

[2021-08-31 14:51] famod commented on #19482
Argh...at a certain point of that PR I had a proper handling of this case, but it got lost in subsequent iterations.

Please create another issue, I'll have a look ASAP!

[2021-08-31 14:51] ozangunalp commented on #19797
I was looking out for why it didn't work

[2021-08-31 14:51] #19797 closed

[2021-08-31 14:56] antoniomacri opened #19800 "JUnit: Exception in BeforeAll/AfterAll with TestInfo parameter"
### Describe the bug

An exception is thrown on JUnit Before/AfterAll methods:

[code]

### Expected behavior

Above test passes.

### Actual behavior

[code]

### How to Reproduce?

Run the above test.

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

2.2.1.F

[2021-08-31 14:57] antoniomacri commented on #19482
Done #19800, thanks!

[2021-08-31 15:00] mkouba commented on #19799
So the problematic part in your code is `bean.getClass().getAnnotation(QualifierParam.class)` in the `org.me.lib1.MyLibFactory.getInstance(String)` method. You can't inspect the class of the bean instance like this because it's an internal container construct, and it could be a [client proxy](https://quarkus.io/guides/cdi#client_proxies) or an intercepted subclass. I.e. you don't necessarily get t

[2021-08-31 15:00] #19799 closed

[2021-08-31 15:03] geoand commented on #19800
@famod are you planning on tackling this one?

[2021-08-31 15:05] famod commented on #19800
@geoand I will: https://github.com/quarkusio/quarkus/issues/19482#issuecomment-909310900 😉

[2021-08-31 15:22] #18009 closed

[2021-08-31 15:50] svjaime commented on #7243
Hi all.
Any update on this? Are there any plans to include content-length on the HEAD response?
Or maybe a recommended workaround?

Thanks.

[2021-08-31 15:57] FroMage opened #19804 "Context Propagation: more settings"
### Description

ATM we can only configure SR-CP via the `mp.context.ThreadContext` keys, and those are only used as the defaults if no other setting is specified when building `ThreadContext` instances.

But Quarkus builds its `ThreadContext` instance with every setting specified, so those defaults are not used. And Mutiny uses another instance of `ThreadContext` which is not set by Quarkus (thou

[2021-08-31 15:57] FroMage commented on #19804
/cc @Sanne

[2021-08-31 16:02] JayGhiya opened #19805 "Quarkus RestEasy Reactive MultiFormData Client Upload Jar Issue"
### Describe the bug

The issue is when uploading the (.jar) file to server, .jar extension is getting removed.

please find the reproducer here: https://github.com/JayGhiya/QuarkusBugsReproducers/tree/master

Also you will find a docker-compose file which starts flink cluster where you can start it so that it receives jar. It throws 400 as ".jar" is getting removed.

Also when switching to vertx

[2021-08-31 16:09] geoand commented on #19805
As this is part of the client, cc @michalszynkiewicz

[2021-08-31 16:12] aloubyansky commented on #19612
@Postremus I've changed the way the registry client is initialized in 2.2.1.Final. It will try and apply the user settings first and if the descriptor couldn't be resolved it will try the original registry repo directly. If that also didn't work it will use the maven plugin's coords as the base platform. So in your case it will be `io.quarkus:quarkus-bom:2.2.0.CR1`.
I would suggest you to switch t

[2021-08-31 16:12] #19612 closed

[2021-08-31 16:54] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1186818225

[2021-08-31 18:33] vanuatoo commented on #16541
Tried with 2.2.0.CR1, same issue

[2021-08-31 19:32] kafeltz opened #19811 "Quarkus should warn the user that the import-dev.sql is being ignored when setting database generation to 'update'"
### Description

When setting **%dev.quarkus.hibernate-orm.database.generation=update** and the **%dev.quarkus.hibernate-orm.sql-load-script = import-dev.sql** the script is not loaded in the database, as expected.

But Quarkus should warn the user that the **import-dev.sql** is being ignored. Simply because it took me a while to figure this out.

It would be nice and helpful.

What do you think?

[2021-08-31 20:07] famod commented on #18381
[code]
Any updates on this? Thanks!

[2021-08-31 21:14] famod opened #19814 "Support assertj SoftAssertionsExtension in QuarkusTest"
### Description

[SoftAssertionsExtension](https://assertj.github.io/doc/#assertj-core-junit5-soft-assertions) doesn't work with `@QuarkusTest`:

[code]
fails with an NPE (`softly` not injected).

And this:
[code]
just doesn't fail (like expected, with an assertion error).

I prepared a test to play around with: https://github.com/famod/quarkus-quickstarts/blob/SoftAssertionsExtension/getting-star

[2021-08-31 21:14] famod commented on #19814
/cc @geoand @stuartwdouglas

[2021-08-31 21:34] x80486 opened #19815 "Quarkus is misunderstanding the reality of the datasource when running test cases"
### Describe the bug

I started a project that uses JDBI. I've put together something that works, but somehow, when running the test cases, Quarkus is unable to find (or inject) the datasource where required.

[code]

### Expected behavior

Quarkus should be able to inject the datasource, in the same way it's injected when the application runs.

### Actual behavior

Quarkus is unable to inject the

[2021-08-31 21:38] gavinking commented on #19811
Not sure how this is a Quarkus issue. If such a warning is useful (I'm not at all convinced), then it should be added to Hibernate.

[2021-08-31 22:08] famod commented on #14927
Thanks @Sanne for the detailed answer!

Yeah, I too noticed jacoco. And I've just realized that we are not setting any exclusions like we do for the jacoco-maven-plugin.
We have many generated classes, so setting exclusions might help a bit!

I'll check.

[2021-08-31 22:54] stuartwdouglas commented on #14927
Something to bear in mind with the transformation stuff is that even though it is expensive it should be done in a thread pool, so even if it is taking up N ms on the graph, in real time it should only be N/cores. The cache that Sanne mentions is more for dev mode restarts, and won't really help with testing startup time.

[2021-08-31 23:50] kafeltz commented on #19811
Good point.

[2021-09-01 00:47] #19777 closed

[2021-09-01 01:36] ebullient commented on #19128
I've been thinking about this, too.

I'm thinking we have a few options:

- I personally would like to disable the runtime processing of application.properties and .env files entirely (ignore them) when working with a CommandMode/CLI application (using picocli or not). I want to rely on picocli commands for injection of config values entirely, as there is no reliable application.properties to read

[2021-09-01 01:48] tamht298 commented on #19468
Thanks so much. Your solution helps me resolve the problem.

[2021-09-01 01:48] #19468 closed

[2021-09-01 02:05] stuartwdouglas commented on #19815
Why are you using `runtimeOnly` to declare the deps? I think this means they won't be present in tests.

[2021-09-01 02:15] x80486 commented on #19815
Because I don't need those dependencies at compile time, but just at runtime. My understanding is that `runtimeOnly` applies to all scopes, and `testRuntimeOnly` effectively restrict the dependencies for running tests.

[2021-09-01 02:28] #18597 closed

[2021-09-01 03:09] rivasdiaz commented on #19128
I definitely see uses for `application.properties` and `.env` files on a CLI app.

I can add to my main `application.properties` all settings I don't need user input for, and that file will end either inside an uberjar or processed while building a native binary. For `.env` files, although I haven't used them with quarkus, at work we have a couple of python cli tools which store some properties (t

[2021-09-01 03:23] aminnasiri commented on #19737
Hi Falko,

Yes, I do test version 2.2.1.Final, and this is an error I am getting, it is the same error from version 2.1.3.Final.

[code]

[2021-09-01 03:38] stuartwdouglas commented on #19815
cc @glefloch

[2021-09-01 03:57] querdenker2k opened #19817 "Flyway locations not working on native image"
### Describe the bug

When i use flyway to perform database migration on application start (_migrate-on-start_), with configured path like this:
_quarkus.flyway.locations=filesystem:db/migration/${quarkus.datasource.db-kind}_ this works fine in jvm build, but in native image.

### Expected behavior

Quarkus/Flyway should take the configured path and do the database migration.

### Actual behavior

[2021-09-01 05:16] tbvl commented on #19362
Cheers, will take it for a spin today and let you know.

[2021-09-01 06:09] #14695 closed

[2021-09-01 06:09] #18469 closed

[2021-09-01 06:09] #18962 closed

[2021-09-01 06:14] #19800 closed

[2021-09-01 06:31] geoand commented on #19814
This is a general issue with `@QuarkusTest`, i.e. it doesn't play well with other JUnit extensions due to ClassLoading trickery that is needed

[2021-09-01 06:41] geoand commented on #19817
Can you attach a sample project that exhibits this behavior please?

[2021-09-01 06:41] geoand commented on #19286
@iocanel is this something you plan to look into?

[2021-09-01 06:49] phillip-kruger commented on #19636
@gastaldi - I have done this ... PR to follow soon

[2021-09-01 06:55] geoand commented on #19773
The difference you see in your case for the two approaches is due to the subtleties of how each approach is implemented.
Because of the way you have structured your bean (with the test validator extending an existing validator), you can't really reconcile  the two mock approaches.

The easiest way to overcome the issue in your case would be to annotate `TypeBValidator` with `@DefaultBean`.
In that

[2021-09-01 06:55] #19773 closed

[2021-09-01 07:18] vgallet commented on #19374
sorry for the delay, I take a look today. which part of the style are we looking for ?

[2021-09-01 07:21] pjgg commented on #19781
So do you think that is still possible to create an endpoint programmatically(dynamically), on Quarkus 1.13.7  or higher?

[code]

[2021-09-01 07:23] #19754 closed

[2021-09-01 07:40] phillip-kruger commented on #19374
All of them :) So check the test result page (as in your original bug report) and also open the log (as the screenshot above)

Let me know. Thanks

[2021-09-01 07:47] geoand opened #19819 "Allow spring-web to work on RESTEasy Reactive"
### Description

The `quarkus-spring-web` module currently depends on `quarkus-resteasy`.
With `quarkus-resteasy-reactive` likely to become the default REST extension in the future, we should port `quarkus-spring-web` to it.

### Implementation ideas

_No response_

[2021-09-01 07:49] yrodiere commented on #19539
@DavideD @gavinking You might be interested in this ^

No sure it's Reactive-specific, though; maybe ORM only supports ASCII for the import script? That would be surprising...

[2021-09-01 08:00] DavideD commented on #19539
Thanks @yrodiere, I will have a look

[2021-09-01 08:07] stuartwdouglas opened #19821 "'copy to profile' not limited by config editor scope"
### Describe the bug

If I click on the 'Config Editor' button for Open ID Connect, it shows all the OIDC properties, however if I then hit 'copy to profile' it copies all dev service properties (e.g. if I have a database these get copied as well).

### Expected behavior

I would expect only properties from the current scope to be copied.

### Actual behavior

All properties are copied

### How to

[2021-09-01 08:11] jsmrcka opened #19822 "RESTEasy Reactive @NoCache unexpected behavior"
### Describe the bug

When using `org.jboss.resteasy.reactive.NoCache` without attributes (not using the `fields` attribute), response headers do not contain `Cache-Control: no-cache` header.
[code]
[code]

This is also inconsistent with the documentation:
https://quarkus.io/guides/resteasy-reactive#controlling-http-caching-features

### Expected behavior

Response:
[code]

### Actual behavior

Re

[2021-09-01 08:12] phillip-kruger commented on #19821
OK, So when filtered, we should take the filer into account when DevServices is copied. I'll look at that.

[2021-09-01 08:33] geoand commented on #19822
https://github.com/quarkusio/quarkus/pull/19823 should take care of the problem and hopefully we can get it into `2.2.2.Final` which is due early next week

[2021-09-01 09:11] #19670 closed

[2021-09-01 09:26] #18166 closed

[2021-09-01 09:26] a-frank opened #19825 "ServerResponseFilter not executed with SSE endpoint using Kotlin Flow"
### Describe the bug

When having an endpoint responding with server sent events using Kotlin Flow, any following ServerResponseFilter is not executed anymore.

Example:

**Endpoint**
[code]

**ServerResponseFilter**
[code]

[2021-09-01 10:37] geoand commented on #19825
This is actually the expected behavior.

From https://quarkus.io/guides/resteasy-reactive#streaming-support:

[code]

[2021-09-01 10:37] #19825 closed

[2021-09-01 10:51] ennishol commented on #19799
@mkouba  thank you for the detailed explanation!

[2021-09-01 10:55] a-frank commented on #19825
How would you add additional headers to all your SSE endpoints, that a returned on the first response if that is not supported @geoand?
I also tried to return a Flow in a Response object with header MediaType.SERVER_SENT_EVENTS (+additional headers), but here the reponse to the client is just a simple 200 with no further events. Using Response return would be more of a workaround since it can't be

[2021-09-01 11:00] michalszynkiewicz opened #19828 "Rest Client: Support config properties in @ClientHeaderParam"
### Description

Support passing header values from properties directly with sth like

[code]

### Implementation ideas

_No response_

[2021-09-01 11:00] michalszynkiewicz commented on #19828
Note: This change will be implemented only in Rest Client Reactive

[2021-09-01 11:04] geoand commented on #19825
You can't really.

@FroMage maybe we should introduce some kind of explicitly limited form of response filter in order to cater for these use cases?

[2021-09-01 11:38] ineednousername commented on #19316
Would be nice if anyone could triage this issue.

[2021-09-01 11:45] cescoffier commented on #19828
Maybe a bit of rationale.
When integrating remote HTTP services, you often need to pass headers, typically to handle authentication (you pass a token or an API key). The rest client provides header support, but the value of the headers cannot come from the configuration. You need to target a static method. As these static methods cannot use @ConfigProperty, you end up using a static accessor for t

[2021-09-01 11:49] geoand commented on #19738
Does this concern the REST Client?

[2021-09-01 12:15] #19750 closed

[2021-09-01 12:37] ebullient commented on #19128
To be clear: application.properties would still be read/used at build time. I am specifically talking about runtime

[2021-09-01 13:02] Sgitario commented on #18956
This is not longer happening. Closing.

[2021-09-01 13:02] #18956 closed

[2021-09-01 13:07] querdenker2k commented on #19817
Ok, i created a reproducer. but unfortunately its working. Well i have to find out why my setup does not work...

[2021-09-01 13:09] #19822 closed

[2021-09-01 13:46] ambition-consulting commented on #19738
Yes, both versions - but I would be happy if even one would allow for this.

Georgios Andrianakis ***@***.***> schrieb am Mi., 1. Sept.
2021, 13:50:

[2021-09-01 13:49] yrodiere commented on #19660
From what I can see, the default schema is used by Hibernate ORM while building metadata from annotations.

The value is retrieved from configuration properties in `org.hibernate.boot.internal.MetadataBuilderImpl.MappingDefaultsImpl#MappingDefaultsImpl`.

Then `getImplicitSchemaName()` is called to retrieve this value in multiple places. Mainly that's to handle cascading of defaults (which shouldn

[2021-09-01 13:51] geoand commented on #19738
You can use `Response` as return type for the method.

[2021-09-01 13:51] #19738 closed

[2021-09-01 13:53] kjq opened #19834 "Upgrade from 2.1.4 to 2.2.1 - Resource and Validator Tests Failing"
### Describe the bug

Quickly testing upgrading from 2.1.4 to 2.2.1 my resource and validator tests have started to fail.  I double-checked by going back to 2.1.4 and they pass.  No changes have been made except the Quarkus version.

Attached is a reproducer demonstrating the same results - 2.1.4 works / 2.2.1 fails.
[upgrade.zip](https://github.com/quarkusio/quarkus/files/7091572/upgrade.zip)

**

[2021-09-01 14:04] querdenker2k commented on #19817
Ok, i got it.
Now its not working: https://github.com/querdenker2k/quarkus-flyway-failure
The problem is that i cannot override _quarkus.flyway.locations_ at runtime, its always taken the value at buildtime.

[2021-09-01 14:06] geoand commented on #19817
This is done by design. The reason is that it enables a lot of optimizations, some of which are needed for native-image to work correctly

[2021-09-01 14:06] #19817 closed

[2021-09-01 14:11] a-frank commented on #19825
Would be cool of there is a mechanism to provide additional data, like headers, to the initial response of a SSE endpoint.
Preferably with the possibility to do it cross-cutting for all SSE responses

[2021-09-01 14:13] MM87037 opened #19835 "Response has already been written Exception"
### Describe the bug

When using lazy JWT authentication with http permissions observing below exception if JWT token in the request is expired. Also this exception is thrown only if a FailureRoute is defined.

2021-09-01 15:00:05,611 ERROR [io.ver.ext.web.RoutingContext] (vert.x-eventloop-thread-11) Unhandled exception in router: java.lang.IllegalStateException: Response has already been written

[2021-09-01 14:14] MM87037 commented on #19835
I have raised a simillar issue (https://github.com/quarkusio/quarkus/issues/19621) last week which got fixed in 2.2.1.Final

[2021-09-01 14:31] jonathan-meier commented on #19747
@famod Thanks a lot for providing a fix so quickly. Our JUnit tests are all green again with version 2.2.1.Final 👍

[2021-09-01 14:31] ge0ffrey opened #19836 "All quickstarts's pom.xml files should contain XSD"
### Description

The getting started quickstart's pom.xml file:
  https://raw.githubusercontent.com/quarkusio/quarkus-quickstarts/main/getting-started/pom.xml
starts with

[code]

So no XSD, so no code completion.

### Implementation ideas

Change it into

[code]

for **all** quickstarts.

[2021-09-01 14:37] ge0ffrey opened #19838 "quickstarts: do not define quarkus plugin goal "build" (less code is more)"
### Description

For example in:
https://raw.githubusercontent.com/quarkusio/quarkus-quickstarts/main/getting-started/pom.xml
it says:

[code]

But this should just suffice:

[code]

Less is more. Configuration by exception. Keep it simple.

### Implementation ideas

_No response_

[2021-09-01 14:38] sberyozkin commented on #19835
@MM87037 Is it the same issue as #19621 ? It was already fixed by Stuart

[2021-09-01 14:45] xstefank commented on #16541
I think this is a limitation of test containers, not quarkus.

[2021-09-01 14:47] MM87037 commented on #19835
@sberyozkin No its not the same issue. I did highlight this issue as well previously but only "Response head already sent Exception" is fixed.

I have run the test again with 2.2.1.Final today and I can still see "Response has already been written" error. Note this error is thrown only when a Failure route handler is defined in the app.

[2021-09-01 14:58] jclingan commented on #4675
Quarkus has come a long way since this was created. Consider this complete.

[2021-09-01 14:58] #4675 closed

[2021-09-01 15:29] pclainchard opened #19840 "Mongo Panache error with '$in' queries on a CustomID field"
### Describe the bug

While using CustomIds, a query $in doesn' work (and returns an empty array)

I pushed a sample project to reproduce this issue : https://github.com/pclainchard/quarkusPanacheIssueCustomID

- I made two services, one that uses the CustomID field, and an other that uses a regular field and works
- I have tested it with both Long and String CustomIDs and the behavior is the same

[2021-09-01 15:34] famod commented on #19747
@jonathan-meier great to hear! Just beware that there is a small regression w.r.t. `@Before/AfterAll`: #19800
That will be fixed in 2.2.2.Final.

[2021-09-01 15:35] pjgg opened #19841 "Reactive datasource / DevServices doesn't support sql qualified table name"
### Describe the bug

Extensions:
- `quarkus-reactive-pg-client`
- `quarkus-reactive-mysql-client`

Quarkus Version: Upstream

Previous to DevServices was possible to make queries providing a qualified table name, for example:

[code]

Because we provide to the datasource all the information that was required in order to set a default or active DB
However, with devServices was not possible to prov

[2021-09-01 15:37] ochaloup commented on #18737
@barreiro I think this was something which is handled in WildFly. The JPA and synchronization could be elaborated in details by @scottmarlow.

What I can say the Hibernate in WildFly uses the SynchronizationRegistryBasedSynchronizationStrategy (https://github.com/wildfly/wildfly/blob/main/jpa/hibernate5/src/main/java/org/jboss/as/jpa/hibernate5/JBossAppServerJtaPlatform.java#L44) which means that

[2021-09-01 15:39] famod commented on #19838
I think this should be in line with what is created on code.quarkus.io?

/cc @ia3andy @aloubyansky

[2021-09-01 15:41] famod commented on #19836
Thanks for reporting, but why not directly here? https://github.com/quarkusio/quarkus-quickstarts/issues

[2021-09-01 16:21] vonatzigenc opened #19843 "JUnit @Nested with @QuarkusTest with @BeforeEach on Root-Class fails (Since 2.2.1.Final)"
### Describe the bug

The error is present only since the upgrade from `2.2.0.CR1` to `2.2.1.Final`

If there is a `@BeforeEach` at the top level in a test with `@Nested` classes, only the first test runs through. The rest fail due to an IllegalArgumentException.

The error occurs from the second test on, no matter if multiple  `@Nested` with one test each or one  `@Nested` class with multiple tes

[2021-09-01 16:30] kjq commented on #19737
I just saw this, does this mean I can drop JDK11 and go towards the latest JDK in the 2.2.x version of Quarkus?

[2021-09-01 16:43] geoand commented on #19834
https://github.com/quarkusio/quarkus/pull/19842 and https://github.com/quarkusio/quarkus/pull/19844 take care of the 2 problems

[2021-09-01 16:45] vonatzigenc opened #19845 "JUnit multiple levels of Nested fail with QuarkusTest"
### Describe the bug

If there is more than one level of `@NestedTests` in a JUnit test with `@QuarkusTest`, each one throws an `org.junit.jupiter.api.extension.TestInstantiationException` due to a `javax.enterprise.inject.UnsatisfiedResolutionException`.

However, the same setup without QuarkusTest works.

*Example:*
[code]

### Expected behavior

Above test passes.

### Actual behavior

Stacktra

[2021-09-01 17:12] scottmarlow commented on #18737
FYI https://github.com/eclipse-ee4j/cdi/issues/467 might be of interest as that issue requested that CDI events always run as interposed synchronizations but as pointed out in [comment](https://github.com/eclipse-ee4j/cdi/issues/467#issuecomment-781201795), the WildFly implement of Weld  `TransactionalServices#registerSynchronization` could of made CDI events run as interposed sync but didn't.

Th

[2021-09-01 17:55] aminnasiri commented on #19737
@kjq My Quarkus based applications are working fine with JDK16 on the JVM platform, but I can't convert them to a native binary.

[2021-09-01 17:55] #19374 closed

[2021-09-01 18:03] #10929 closed

[2021-09-01 18:09] #19805 closed

[2021-09-01 18:12] cogman commented on #18468
I see that the smallrye-open-api change should be in as part of Quarkus 2.2.1,  However I'm still seeing this issue at that version.

Further, another quirk (Not sure if it's related) is that the request body on @GET requests is being set to the surrounding resource class.

For example

    get:
      tags:
      - Foo
      operationId: getFoo
      requestBody:
        content:
          applica

[2021-09-01 18:15] MikeEdgar commented on #18468
@cogman - would you mind opening an issue in [SmallRye OpenAPI](https://github.com/smallrye/smallrye-open-api) with sample Kotlin code?

[2021-09-01 18:19] #19755 closed

[2021-09-01 18:19] #19636 closed

[2021-09-01 18:19] #19821 closed

[2021-09-01 18:36] ambition-consulting commented on #19738
@geoand Thank you. I used the [ResponseObject](https://docs.jboss.org/resteasy/docs/3.6.0.Final/userguide/html/RESTEasy_Client_Framework.html) from RestEasy, which also worked - but not together with Unis.

Maybe it's just me, but is the header reading for REST clients via Response class documented anywhere? If not, please add that the ResponseObject should not be used instead. Probably the same h

[2021-09-01 18:39] geoand commented on #19738
@michalszynkiewicz WDYT about adding `Response` to the rest client docs?

[2021-09-01 18:58] mkonzal opened #19849 "Reactive rest client don't invoke MessageBodyReader.isReadable with null value of annotations parameter"
### Describe the bug

The parameter `annotations` when MessageBodyReader.isReadable is invoked is always null.

### Expected behavior

The parameter `annotations` when MessageBodyReader.isReadable is invoked is never null.

- `annotations` is an empty array in the case when the method which was invoked in the proxy interface isn't annotated.
- `annotations` contains all annotations of the invoked

[2021-09-01 19:26] cogman opened #19850 "Resteasy-reactive-jackson incorrectly handling string return types with Json mediatype"
### Describe the bug

Resteasy-reactive-jackson is returning the raw string from resources that have a string return type.  However, it should be returning a Json string in those scenarios.

### Expected behavior

Resources if a resource returns the string `Hello` with a Application/Json produces annotation, I'd expect `"Hello"` as the response.

### Actual behavior

The response is `Hello` and no

[2021-09-01 20:06] michalszynkiewicz commented on #19738
Why not ;)

We finally need to create a reference guide for rest client (and then it will be moved there).

[2021-09-01 20:48] michalszynkiewicz commented on #19828
fixed in the linked PR.
ATM we use root-based config keys.

[2021-09-01 20:48] #19828 closed

[2021-09-01 21:32] kny78 opened #19856 "Quarkus 2.2.1 fails with Hibernate-types and enum arrays"
### Describe the bug

I have isolated a new bug, when using Hibernate-types-55 and Quarkus 2.2.1

The issue is with using PostgreSQL **enum array** and **com.vladmihalcea:hibernate-types-55:2.12.1**.

Hibernate wrongfully reports is as a bug when disintegrating, but when debugging, I found the following error message:
`No Dialect mapping for JDBC type: 2003`

## Conflicting version of hibernate-ty

[2021-09-01 21:39] famod commented on #19845
/cc @stuartwdouglas, this is another gift that keeps on giving.

[2021-09-01 21:57] famod commented on #19843
I know what's going on...sigh

Thanks for reporting!

[2021-09-01 21:59] famod commented on #19845
FWIW, this also happens 2.2.0.Final so it's not caused by my evil doings (that's a first...).

[2021-09-01 22:50] famod commented on #19843
I have a fix, will send a PR in the next two days.

[2021-09-01 22:53] famod commented on #19845
@geoand @stuartwdouglas in case one of you is taking on this task: For #19843, I'll probably introduce a specific test for `@Nested`, which could then be extended here.

[2021-09-02 01:30] stuartwdouglas commented on #19841
Can you provide a reproducer? It seems like this is more likely to be an issue with the schema the tables are created in, rather than the actual query using a fully qualified name.

[2021-09-02 01:38] vanuatoo commented on #16541
I got it running with the following approach.
1. Start podman with the command
2.

[2021-09-02 02:11] stuartwdouglas commented on #19814
So we can solve this by:
- marking assertj as parent-first
- copying injected fields from the outer instance to the inner instance

This is kinda annoying, but I don't think there is much we can do about it as JUnit does not really directly support custom class loaders.

[2021-09-02 04:31] JayGhiya commented on #19805
Incredible turn around time for this fix :) @michalszynkiewicz

[2021-09-02 05:37] #19771 closed

[2021-09-02 06:01] harshmadhani opened #19860 "Multiple rest reactive client extensions"
### Describe the bug

I am seeing multiple rest client reactive extensions. These are the ones which have confused me at the moment:

jaxrs-client-reactive
rest-client-reactive
rest-client-reactive-jackson

Can you help figure out which ones to use and when?

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or

[2021-09-02 06:03] harshmadhani commented on #19860
cc @ebullient @geoand

[2021-09-02 06:07] geoand commented on #19860
@michalszynkiewicz I think we need some kind of rest-client reference doc, much like we have for RESTEasy Reactive.
In there we could explicitly mention where we envision these being used.

@harshmadhani the easy answer for now is that  `rest-client-reactive-jackson` depends on `rest-client-reactive` and simply brings in Jackson serialization / deserialization.
`jaxrs-client-reactive` is an implem

[2021-09-02 06:32] geoand commented on #19850
I'm not sure about this one TBH. @FroMage probably has an opinion

[2021-09-02 06:37] evacchi commented on #8593
[code]

@rsynek have you seen this?

[2021-09-02 07:01] juanmbellini commented on #3883
I see that `RegisterForReflection` is processed `RegisterForReflectionBuildStep` and that `RegisterForReflectionBuildStep` uses `ReflectiveClassBuildItem`.

`ReflectiveClassBuildItem` has a `Builder` which allows setting the `finalFieldsWritable` property. Couldn't we add the `finalFieldsWritable` to the `RegisterForReflection` annotation? It's not that flexible as we talked before, but at least w

[2021-09-02 07:34] aloubyansky commented on #8593
Could you please skip this test then in the platform TS until the 8.12.0 is integrated? Thanks.

[2021-09-02 07:37] glefloch commented on #19156
Thanks for reporting this @Eng-Fouad.

The problem seems to come from the way we are building the `deployment` classpath in gradle.
Too many extensions are included (`quarkus-agroal` in that case) whereas, it should have been excluded.

FYI @aloubyansky, I'm on it.

[2021-09-02 07:59] r41318 commented on #19652
I try the 2.2.1.Final and the issue has been fixed.

[2021-09-02 08:16] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1192892661

[2021-09-02 08:27] loicmathieu commented on #19652
Thanks, closing the issue then.

[2021-09-02 08:27] #19652 closed

[2021-09-02 08:28] evacchi commented on #12486
probably a timeout

[2021-09-02 08:34] rsynek commented on #8593
@aloubyansky https://github.com/quarkusio/quarkus-platform/pull/307

[2021-09-02 08:47] dufoli opened #19861 "JaxbFileRootBuildItem config"
### Description

add possibility to add JaxbFileRootBuildItem from config.

### Implementation ideas

add a config
quarkus.jaxb.jaxb-index-path=/path1,/path2
config generate JaxbFileRootBuildItem in jaxbProcessor.
modify the test jaxb test to add an application.properties with the config to point to jaxb.index.

[2021-09-02 08:48] dufoli commented on #19861
it is a good first issue I guess.

[2021-09-02 08:56] 0x4a616e opened #19862 "Enable JVM polling mode for QuarkusIntegrationTest and amazon-lambda"
### Description

When running a `QuarkusIntegrationTest`, the `QuarkusIntegrationTestExtension` launches the currently built executable wich may either be a JVM build or a native build.

For native builds, the lambda poll loop is started automatically, so within a test case, you can use `LambdaClient.invoke` to send events to the started lambda instance.

This however only works for native builds

[2021-09-02 09:05] antoniomacri commented on #9464
Hi all, the issue is closed, but I'm trying to include multiple import.sql files and cannot succeed. Also I don't see any mention of this in docs.

Shouldn't be as simple as `quarkus.hibernate-orm.sql-load-script=import-1.sql, import-2.sql`?

[2021-09-02 09:15] iocanel commented on #16993
Created a PR.

[2021-09-02 09:17] iocanel commented on #13624
@maxandersen: Do we need to push this forward?
I started working on it, but interest died.
At some point I discussed about it with @EricWittmann but I think that they have their own implementation in place.
Is this still a thing or shall we close this?

[2021-09-02 09:36] Sanne commented on #9464
Hi @antoniomacri , yes I would have expected that to work as well; it does in Hibernate ORM.

I wonder if the Quarkus configuration parsing requires quotes to deal with the ", " separator. Could you try quoting it, or just avoid the space?

We should definitely clarify this in the docs!

[2021-09-02 09:45] kristijan-rusu opened #19864 "gRPC implementation not registered in multi-module project when implementing generated interface"
### Describe the bug

In a multi-module maven project, if you want to share your `.proto` files between client / server modules, server implementation does not work if you extend the Quarkus Mutiny generated interface.

### Expected behavior

The implementation when extending the generated Quarkus Mutiny interface to be registered as gRPC implementation.

### Actual behavior

The implementation wh

[2021-09-02 09:45] iocanel commented on #13149
So, this is a known limitation. We only generate manifests for web applications. For all other kind of applications we skip resource generation and we log a message.

[code]

Given that this is comming from multiple source, I'll have a look and see what we need in order to implement regular app support.

[2021-09-02 09:55] iocanel commented on #11379
There are two issues here.
- [ ] Regenerating kubernetes resources during `mvn quarkus:dev`
- [ ] Redeploying kubernetes resources during `mvn quarkus:remote-dev`

For demonstration purposes alone, the former is a must! I think that @geoand has fixed that a while back. Need to verify!
Regarding the later, I'll have a look.

[2021-09-02 09:59] antoniomacri opened #19865 "Mock RestClient with producer"
### Describe the bug

I'm producing a RestClient, since I need to configure some things that cannot be specified by properties.

    @Produces
    @ApplicationScoped
    public InternalService createMyService() {
        RestClientBuilder restClientBuilder = RestClientBuilder.newBuilder()
                .baseUri(URI.create(serviceUrl));

        // some other logic
        System.out.println("Pro

[2021-09-02 10:14] iocanel commented on #13149
Non-rest support has been added as of: https://github.com/quarkusio/quarkus/pull/19616

[2021-09-02 10:14] iocanel commented on #13149
Still, the target app fails for some reason. Investigating.

[2021-09-02 10:20] sberyozkin commented on #13239
@ahmadshabib Hi, missed it, yes, it would not be the best issue to start getting familiar with Quarkus, please pick up something else, I'm going to remove a good first issue label to avoid the confusions, thanks

[2021-09-02 10:27] sberyozkin commented on #19670
@danelowe Hi, please consider looking at #13239 when you get a chance - as you are experimenting with `TokenStateManager` storing the data in a cache... By the way, re your code fragment - you can assume it is always a `web-app` even if it is configured as `hybrid` - as only `CodeAuthenticationMechanism` calls `TokenStateManager`

[2021-09-02 12:12] geoand commented on #19862
@patriot1burke does it make sense to control whether the poll loop starts with some kind of system property?
That way the `@QuarkusIntegrationTest` could pass this flag when it launches the application

[2021-09-02 12:29] geoand commented on #19865
You can get around this by adding `@AlternativePriority` to your producer method.

[code]

[2021-09-02 12:29] #19865 closed

[2021-09-02 12:51] ge0ffrey opened #19866 "Quickstarts: use maven.compiler.release instead of maven.compiler.source and maven.compiler.target"
### Description

In
https://raw.githubusercontent.com/quarkusio/quarkus-quickstarts/main/getting-started/pom.xml

it says

[code]

### Implementation ideas

Use instead

[code]

The release tag (new in JDK 11 (or was it 9?)), replaces source AND target and gives additional guarantees (for example release=11 will fail when using a JDK API new in 17 (so not available in 11), EVEN when build with JDK

[2021-09-02 13:03] michalszynkiewicz commented on #19864
@kristijan-rusu thank you for your report.
For now I can say that adding `beans.xml` to the project solves the problem. But I'm not sure what's the proper fix. I'll hope we'll be able to figure this out with @mkouba tomorrow

[2021-09-02 13:04] manovotn commented on #18737
Hmm, apparently it was me who implemented it that way as can be seen in - https://github.com/quarkusio/quarkus/pull/6581
Though I found no trace as to why I used interposed synchronization.

[2021-09-02 13:05] jsmrcka commented on #15684
Fixed by https://github.com/quarkusio/quarkus-quickstarts/pull/853.

[2021-09-02 13:05] #15684 closed

[2021-09-02 13:18] fkeichfe opened #19867 "JPA-Annotation @AttributeOverride is not evaluated properly"
### Describe the bug

I have an application with Quarkus using JPA, which has the following problem since I migrated from Quarkus 1.x to 2.x.

There exists a MappedSuperclass named BaseClass, with the following field, which is mapped by default to the database-column 'name':
`
private String name;
`
Now I have another class named DerivedClass, where I want to map the field to another db-column 'cu

[2021-09-02 13:20] vsevel opened #19868 "kogito conflicts with resteasy reactive"
### Describe the bug

Adding the `kogito-quarkus` and `quarkus-resteasy-reactive` leads to the following error:

[code]

This is caused by kogito depending on classic resteasy (non reactive).

### Expected behavior

Should not conflict with one another.

### Actual behavior

Fails at build time.

I have tried excluding resteasy from kogito:

[code]

but it leads to the following error:

[code]

##

[2021-09-02 13:21] scottmarlow commented on #18737
Could you somehow let applications decide whether they want to use interposed or non-interposed synchronization?  Then they can either use the default or change it.

I prefer that applications use non-interposed so that application level syncs are called first for [Synchronization#beforeCompletion()](https://jakarta.ee/specifications/transactions/2.0/apidocs/jakarta/transaction/TransactionSynchron

[2021-09-02 13:27] iocanel opened #19870 "Potential NPE when deploying on Kubernetes / Openshift"
### Describe the bug

The method below may return null, when `adapt` fails.

[code]
So, what is supposed to never happen actually does.

### Expected behavior

`handle()` should always throw an Exception

### Actual behavior

`handle()` only throws SSL related exception Exception

### How to Reproduce?

Just create an app add the `quarkus-openshift` extension and run `mvn -Dquarkus.kubernetes.depl

[2021-09-02 13:30] iocanel commented on #13149
The issue I was having was irrelevant with this one. We can close this now.

[2021-09-02 13:30] #13149 closed

[2021-09-02 13:43] #16993 closed

[2021-09-02 13:43] evacchi commented on #19868
I'd say that's kind of expected because internally we codegen targeting resteasy plain, hence the conflict. The good news is that it is possible to opt-out of code-gen and soon there will be a way to write your own REST endpoints

[2021-09-02 13:47] geoand commented on #19456
Is this still an issue with `2.2.x`? I wasn't able to verify. Can you please check?

[2021-09-02 13:49] michalszynkiewicz commented on #19849
I'm a bit surprised there are no TCK tests for it.

@FroMage @geoand @stuartwdouglas is it unsupported in Quarkus by design or by mistake?

[2021-09-02 13:49] geoand commented on #19456
From what I did see looking at the code, I would say this is expected behavior.
In your `WiremockTagService` you are setting `io.tackle.applicationinventory.services.TagService/mp-rest/uri` which overrides the same key in `application.properties`

[2021-09-02 13:50] #19456 closed

[2021-09-02 13:59] geoand commented on #19849
It was likely done in the interest of time (see the code [here](https://github.com/quarkusio/quarkus/blob/main/independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java#L137)) and since the TCK never checked, we never bothered to fix it

[2021-09-02 14:29] fedinskiy opened #19875 "Dependency conflict between Resteasy Jackson and ORM libraries"
### Describe the bug

If project uses both quarkus-resteasy-jackson and some of the ORMm libraries(e.g. quarkus-spring-data-rest or quarkus-hibernate-orm-rest-data-panache) then any attempt to run tests or quarkus:dev in this project will fail with an exception.

### Expected behavior

Project with both of these dependencies should be working correctly.

### Actual behavior

An exception(for quark

[2021-09-02 14:31] geoand commented on #19834
Both PRs have been merged, so I am going to close this

[2021-09-02 14:31] #19834 closed

[2021-09-02 14:32] geoand commented on #19875
Indeed. We will likely switch the generator to include RESTEasy Reactive by default. When that happens, there will no longer be such a problem

[2021-09-02 14:44] fedinskiy commented on #19875
@geoand this problem is not specific for generated projects. Any project, which has quarkus-rest-data-panache as a transitive dependency cannot use non-reactive jackson(and, probably non-reactive resteasy, too). It's especially surprising(in a bad sense), since neither quarkus-spring-data-rest nor quarkus-hibernate-orm-rest-data-panache is reactive.

[2021-09-02 14:45] geoand commented on #19875
@aloubyansky it seems that although both RESTEasy Reactive and RESTEasy Classic declare that they provide `io.quarkus.rest`, when a build is done with both those extensions, we don't get the expected error

[2021-09-02 14:48] geoand commented on #19875
I sense a misconception here... RESTEasy Reactive does not **force** you to use reactive programming, see [this](https://quarkus.io/blog/resteasy-reactive-smart-dispatch/) for more details.
What happened with #19801 is that `quarkus-spring-data-rest` and `quarkus-hibernate-orm-rest-data-panache`  are now based on RESTEasy Reactive instead of RESTEasy Classic.
From a user's point of view mostlikely

[2021-09-02 14:57] aloubyansky commented on #19875
Sure, that's a known issue, I think I raised it before for the RESTEasy classic and reactive. The config validation is happening very early, before build steps are actually executed. The capability check is performed in a build step.
I originally had it at the AppModel build time, which is earlier than the config init. But then Max wanted the dev mode to be able to recover from a capability confli

[2021-09-02 14:59] geoand commented on #19875
Hh... Maybe then it makes sense to add the check into `BuildMojo` as well?
Because when fixing the dev mode case, we have now lost the proper message for the prod build.

[2021-09-02 14:59] cescoffier commented on #19864
Wouldn't using the jandex plugin would fix it too?

[2021-09-02 15:11] kshpak commented on #19697
Please take a look at it

[2021-09-02 15:13] aloubyansky commented on #19875
But then dev mode would fail with the reported error?

That will also mean two capability checks. It's currently based on `CapabilityBuildItem`s . There actually are two ways to provide capabilities: in an extension descriptor and producing `CapabilityBuildItem`s directly (which is the legacy way and discouraged but still possible). If we do the [first] check before the config init, it will not ta

[2021-09-02 15:17] ebullient commented on #19860
Right. I asked for this issue to be opened so we minimally can update the descriptions in quarkus-extension.yaml (or decide to hide jaxrs-client-reactive) to make choices clearer. Right now, the text overlaps and doesn't give enough information to disambiguate which you should use.

[2021-09-02 15:18] geoand commented on #19875
Ah, I thought that dev-mode did display the proper error, but I see that is not the case.

So if you ask me, the idea of allowing dev-mode to recover is doing more harm than good in this case, because the proper error is never displayed and the user has no way of knowing how to recover.

[2021-09-02 15:20] geoand commented on #19875
A similar issue was reported in https://github.com/quarkusio/quarkus/issues/19868.
Unless someone is close to Quarkus development, they have no way of knowing what action to take.

[2021-09-02 15:31] aloubyansky commented on #19875
Oh, I think Kogito should not be dictating the RESTEasy flavor.

AFAIR, when a conflicting extension was added while running in dev mode, it would simply exit with an error. Which wasn't good.

AFAICS, dev mode can recover from the config error. Which means theoretically we could move the capability check right before the config init. But that still won't take into account all the `CapabilityBuild

[2021-09-02 15:33] geoand commented on #19875
I would say let's forbid producing `CapabilityBuildItem`. I don't recall there being a valid use case for producing it programmatically.

As for Kogito, I definitely agree.

[2021-09-02 15:34] vsevel commented on #19875
+1

[2021-09-02 15:35] vsevel commented on #19868
for reference: https://blog.kie.org/2020/04/kogito-a-modular-codegen-design-proposal.html

when will this be available?
and will it mean that we can exclude the resteasy transitive dependencies?

[2021-09-02 15:54] evacchi commented on #19868
it is already possible to opt-out of codegen https://blog.kie.org/2021/08/kogito-1-10-0-released.html
however the dependency will be still brought in. I think we should be able to address that by detecting the presence of the resteasy extension.

however, if you opt-out at the moment in general you basically won't be able to write your own REST endpoints as there is currently no public API for tha

[2021-09-02 16:00] wabrit opened #19877 "Native build error on Quarkus 2.2.1.Final when using Opentelemetry"
### Describe the bug

In migrating a Quarkus app from 2.1.2.Final to 2.2.1.Final an NPE occurs in the `io.quarkus.opentelemetry.runtime.QuarkusContextStorage.getVertxContext()` method during native build, causing the build to fail.

### Expected behavior

The native build should complete successfully.

### Actual behavior

The following error occurs:

[code]

### How to Reproduce?

A reproducer gi

[2021-09-02 16:24] yuhaibohotmail opened #19878 "NoSuchMethodException when update from 2.2.0.CR1 to 2.2.1 in native mode"
### Describe the bug

[code]
My source code like this:

[code]

[code]

[code]

when I  remove annotation  'RolesAllowed', it works in natvie mode .

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/7100346/code-with-quarkus.zip)

### Output of `uname -a` or `ver`
Linux localhost.loca

[2021-09-02 16:25] gastaldi commented on #19770
I'm closing this issue since we couldn't reproduce it. Please attach a reproducer project and reopen if possible

[2021-09-02 16:25] #19770 closed

[2021-09-02 16:38] sberyozkin commented on #18427
@stuartwdouglas @phillip-kruger Hi, I've already referred to this project a few times but just would like to update on it, I've done some work on my branch and it is looking not bad, tested with `Keycloak` and `Auth0`.

So, when `mvn: quarkus-dev` is running and `quarkus.oidc.auth-server-url` is set, `Dev Services for Keycloak` is disabled.  At this point `quarkus.oidc.auth-server-url` can point t

[2021-09-02 18:21] hjaekel opened #19879 "Exception with GraphQL extended type"
### Describe the bug

When an extended GraphQL type is defined in the resource class, the extended type for the first result element cannot be loaded, but the extended types for the next result elements are loaded correctly.

Here is the example GraphQL query, where the movie type is extended with the actor type:

[code]

### Expected behavior

The expected outcome is that all actors for all movie

[2021-09-02 19:07] michalszynkiewicz commented on #19864
@cescoffier it's not enough, we'll investigate with Martin tomorrow.

[2021-09-02 20:41] hanzhenliang opened #19885 "Build/Run error with multiple modules with gradle"
### Describe the bug

I have a gradle project with multiple modules, `core` module has global configs and independencies which is shared with other modules. For example, `AwsEnvVariables` is a config interface and it's injected into other modules like:
[code]
But I got the following errors when built the project:
[code]

In order to fix the build error, I used another way to inject which worked gr

[2021-09-02 22:06] Karm opened #19886 "[native-image] integration-tests/amazon-lambda-rest, UserException: Annotated class must be final"
### Describe the bug

Both `Quarkus 2.2.0.Final` and a contemporary main (head 94ae125) fail `integration-tests/amazon-lambda-rest` regardless of the native-image distribution, being it `21.3.0-devd63e6aab07 Mandrel Distribution (Java Version 11.0.13-ea+3)`, or `GraalVM Version 20.3.2 (Java Version 11.0.11+8-jvmci-20.3-b15)` or `GraalVM 21.2.0 Java 11 CE (Java Version 11.0.12+6-jvmci-21.2-b08)` wi

[2021-09-02 22:12] Karm commented on #19886
Ouch, I wish @quarkus-bot hadn't spammed so many people with this 🙈

[2021-09-02 22:44] bvarner commented on #18559
As mentioned in #9623, I had issues when upgrading to 2.0 with integration tests and jacoco.

However. Since that issue was closed, I've been having nothing but **success** in my projects with regards to jacoco and integration test coverage. I am using the jacoco-maven-plugin, as I've not been able to get the extension to work and append the results.

I'd suggest bumping to a newer release of quar

[2021-09-02 22:45] bvarner commented on #19623
Yes, it's fixed in 2.2.1.Final.

[2021-09-02 23:05] stuartwdouglas commented on #18427
What is KC specific in the current implementation?

[2021-09-02 23:24] kenfinnigan opened #19888 "Continuous testing classloading issue"
### Describe the bug

Resuming tests when running `mvn quarkus:dev` leads to following error:

[code]

### Expected behavior

Tests complete without exception

### Actual behavior

_No response_

### How to Reproduce?

https://github.com/jclingan/manning-kube-native-microservices/tree/master/chapter2/account-service is the project.

Run `mvn quarkus:dev`, then press "r" to resume testing.

### Out

[2021-09-02 23:25] kenfinnigan commented on #19888
@stuartwdouglas this sounds similar to some issues you've resolved in the past.

The problem with the test is triggered when trying to convert an object to JSON for a POST: https://github.com/jclingan/manning-kube-native-microservices/blob/master/chapter2/account-service/src/test/java/quarkus/accounts/AccountResourceTest.java#L69

[2021-09-02 23:27] kenfinnigan commented on #19888
/cc @jclingan

[2021-09-02 23:28] stuartwdouglas commented on #19888
@kenfinnigan is that a private repo?

[2021-09-02 23:38] kenfinnigan commented on #19888
Sorry @stuartwdouglas, forgot about that!

I've forked it and given you access to take a look: https://github.com/kenfinnigan/manning-kube-native-microservices

[2021-09-03 00:01] stuartwdouglas commented on #19888
Quick workaround for now is to add

[code]

I am not sure where databind is coming from atm, it is an optional restassured dep so it does not end up in the test class loader, but it is present in the augmentation class loader.

[2021-09-03 00:10] kenfinnigan commented on #19888
Awesome, thanks!

[2021-09-03 00:14] stuartwdouglas commented on #19888
Linked PR should resolve the issue.

[2021-09-03 05:37] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1196802455

[2021-09-03 05:44] sbeigel opened #19892 "Support for serializing POJOs to multipart forms in REST Client Reactive"
### Description

Using server side REST or REST reactive multipart forms, you can include POJOs and deserialize them from JSON payloads. Using REST client (non-reactive) this works as well in the other direction (POJOs get serialized as JSON). But using the REST Client Reactive, this is not possible as (right now) only Strings or binaries can be used:

[code]

..with the following “form“:

[code]

[2021-09-03 06:11] geoand commented on #19878
I'll take a look

[2021-09-03 06:51] stuartwdouglas commented on #16203
I have come up with a fix where the log messages are displayed on the status bar at the bottom, so the user still sees progress, then disappear once the container is up.

If startup fails the messages are dumped.

[2021-09-03 07:29] jeffmaury opened #19894 "quarkus CLI extension list failing"
### Describe the bug

Has a Quarkus maven project with 2.1.3.Final
[code]

### Expected behavior

Should not error

### Actual behavior

Error is generated

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Microsoft Windows [version 10.0.19043.1165]

### Output of `java -version`

openjdk version "11.0.9.1" 2020-11-04 OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.9.1

[2021-09-03 07:46] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1196794526

[2021-09-03 07:51] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1196802285

[2021-09-03 07:56] ambition-consulting commented on #15383
I would wish for other developers not having to go through this riddle themselves and instead set a reasonable default in quarkus.

[2021-09-03 08:06] #41 closed

[2021-09-03 08:06] mkouba commented on #19864
Ok, it's a bit tricky here. You need to add the `META-INF/beans.xml` because the `example-api` artifact is not considered a _bean archive_ and thus ignored when CDI beans are discovered. The generated `jandex.idx` is not enough, because the archive does not contain a class that has a _bean defining annotation_ (e.g. scope), nor a _qualifier_ annotation, nor an _interceptor binding_.

In fact, the

[2021-09-03 08:19] mkouba commented on #19864
Hm, this won't actually work. We don't ignore the archives that contain a qualifier definition...

[2021-09-03 08:24] geoand commented on #19877
There are two separate issues here.
The main issue about OpenTelemetry I have a fix more.
The other one is related to https://github.com/quarkusio/quarkus/issues/19448 (cc @radcortez)

[2021-09-03 08:28] TheParad0X opened #19896 "quarkus.security.jaxrs.deny-unannotated-endpoints=true does overrule @TestSecurity(authorizationEnabled = false)"
### Describe the bug

As mentioned [here](https://stackoverflow.com/questions/69028193/does-quarkus-security-jaxrs-deny-unannotated-endpoints-true-overrule-testsecuri?noredirect=1#comment122001326_69028193), I was asked to open this issue:

My (REST) Tests are all annotated with io.quarkus.test.security.TestSecurity's
`@TestSecurity(authorizationEnabled = false)`

When adding
`quarkus.security.jax

[2021-09-03 08:30] geoand commented on #19877
https://github.com/quarkusio/quarkus/pull/19897 is the fix for the main issue

[2021-09-03 09:12] tlloyd-synalogik opened #19898 "AWS / Amazon extensions in preview"
### Description

Hello!

Not sure if this has been asked before but it looks like almost all of the AWS extensions are marked as "preview" status.
I raised this on the mailing list recently and Bill from Redhat acknowledged that the extensions have been around for a couple of years.

I would like to use the "quarkus-amazon-lambda-http" extension in production as it makes it straightforward to migr

[2021-09-03 09:17] xtaixe commented on #18559
@bvarner

1. Are you using `@QuarkusIntegrationTest`s?
2. Are you using offline instrumentation? If not, could you explain or upload a small example (maybe based on the second reproducer attached in the description above) about how you configure the `jacoco-maven-plugin` to get it working and report coverage for `@QuarkusIntegrationTest`s?

I already tried with the latest Quarkus version I haven't

[2021-09-03 09:25] hanzhenliang commented on #19885
I have another bean in `core` module which has the same issue:
[code]

Stacktrace:
[code]

[2021-09-03 09:40] jerboaa commented on #19789
TLDR; Quarkus uses [unqualified build time initialization](https://github.com/quarkusio/quarkus/pull/17986), think `--initialize-at-build-time=`, which breaks when using AWT, which your example app uses. It's unlikely that graal would support AWT with build-time-initialization. As @Karm pointed out, that's explained in https://github.com/oracle/graal/pull/3417, particularly this [comment](https://

[2021-09-03 09:41] ineednousername commented on #19316
@gastaldi thank you

[2021-09-03 09:44] #19804 closed

[2021-09-03 09:45] hanzhenliang commented on #19885
The issue is resolved by moving the beans to the module injected.

[2021-09-03 09:51] jerboaa commented on #19789
@habimt How did you produce those? If I try to recreate it using this, I get a diff (see below):

[code]

produced this diff to your repo:

[code]

[2021-09-03 09:58] #19870 closed

[2021-09-03 10:05] jerboaa commented on #17887
@maxandersen @n1hility Not sure what the plan is for ImageIO support in Quarkus, but it seems quite challenging to do if build-time-init-for-everything stays. If the answer is to use runtime initialization feature for (relevant/all) AWT classes, this is quite fragile and might be fairly JDK specific (maintenance challenge on Graal/JDK updates). See #19789 for some info.

[2021-09-03 11:12] #19886 closed

[2021-09-03 11:28] liuzhaozhao opened #19900 "There must be exactly one bean that matches the skip predicate"
### Describe the bug

[code]

[code]
I am going to test the skip function of quarkus-scheduler, when I start Quarkus, the following error is printed

[code]

### Expected behavior

The log prints "Scheduled job execute" every 10 seconds

### Actual behavior

exception log

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Microsoft Windows [Version 10.0.22000.168]

### Outpu

[2021-09-03 11:40] sberyozkin commented on #18427
@stuartwdouglas Hi Stuart,
Yes, there is nothing Keycloak specific in the current Dev UI `provider.html` and related handlers - only a few assumptions are made that `auth-server-url` is calculated by adding a realm value, so the PR I will be trying to finalize soon enough would be mainly about cleaning it a bit and renaming a few vars and handlers.
With Keycloak Dev Services we already have a cont

[2021-09-03 11:58] geoand commented on #19898
Hi,

This has since been fixed in https://github.com/quarkusio/quarkus/pull/19837

[2021-09-03 11:58] #19898 closed

[2021-09-03 12:02] geoand commented on #19896
@sberyozkin @FroMage @stuartwdouglas what do you believe the expected behavior to be?

[2021-09-03 12:13] #19877 closed

[2021-09-03 12:14] crissi98 opened #19903 "Add support for setting labels for container-image-docker"
### Description

When building docker-images with the ``container-image-docker`` extension I would like to set metadata via labels for the built image. These labels should be set when performing ``docker build`` via the ``--label`` option. To specify the labels to be set, there should be a config-option, e.g. ``quarkus.docker.labels``with type ``Map<String, String>``

### Implementation ideas

The

[2021-09-03 12:36] rsvoboda commented on #19875
Same error popped up in latest run of OptaPlanner QS

https://github.com/quarkusio/quarkus-quickstarts/tree/main/optaplanner-quickstart

`java.lang.RuntimeException: java.lang.RuntimeException: java.lang.IllegalArgumentException: Multiple matching properties for name "security.jaxrs.deny-unannotated-endpoints" property was matched by both public boolean io.quarkus.resteasy.reactive.common.runtime.

[2021-09-03 12:59] tlloyd-synalogik commented on #19898
Great thanks!

[2021-09-03 13:02] antoinechamot commented on #10716
Any update on this one ? This is really annoying problem to work with Quarkus reactive

[2021-09-03 13:03] bvarner commented on #18559
1.) Yes. I'm using @QuarkusIntegrationTest.
    * My classes are named *IT.java
    * They are running via the maven-failsafe-plugin.
[code]
   2. Yes, with the reports redirected using jacoco-maven-plugin...
[code]

This will get _everything_ into the `jacoco-quarkus.exec` datafile, suitable for importing into an IDE, or for later maven plugins to consume.

I have a philosophical issue with runni

[2021-09-03 13:14] scottmarlow commented on #18737
Perhaps compare the performance impact of enabling/disabling Hibernate ORM database connection caching.  If the connection caching doesn't help performance, then consider disabling the database connection caching instead of forcing the synchronization order.  You probably need to check the performance impact with an active JTA transaction and without a JTA transaction as that could impact how the

[2021-09-03 13:25] BradleySmithVaGov commented on #3235
Every other answer to this question I found suggested adding memory to the jvm, but the docker runtime was the key.  Thanks!

[2021-09-03 13:31] geoand commented on #19900
Thanks for reporting.

https://github.com/quarkusio/quarkus/pull/19904 should fix the issue the fix should be part of `2.2.2.Final` when we release it next week.

[2021-09-03 13:31] manovotn commented on #11942
An update:

[Here](https://github.com/eclipse-ee4j/cdi-tck/issues/262) is a CDI discussion and a nice [table](https://github.com/eclipse-ee4j/cdi-tck/issues/262#issuecomment-906496780) depicting which interception types are expected to work in CDI Lite which is pretty much the model we will want to follow.

This will likely not be supported in Lite and I think Arc shouldn't support it either. At l

[2021-09-03 13:33] carlos-m-rodrigues commented on #8742
Hello guys, is there any update in this issue?

[2021-09-03 13:36] manovotn commented on #2378
After discussion with @mkouba and @Ladicek, we have decided to not implement this feature. Details can be seen in the comments of [this PR](https://github.com/quarkusio/quarkus/pull/19802).

[2021-09-03 13:36] #2378 closed

[2021-09-03 14:01] #19900 closed

[2021-09-03 14:01] stevefavez commented on #18228
Hi,
we're facing the same "issue". Here's a proposal that seems to work. I know, it's not perfect, but working for your use case.
 I just created an small extension that enables a ContainerRequestFilter - ContainerResponseFilter provider and when getting request add span and trace in Jboss MDC (from current Span) - and clean MDC when responding.
Please find the code in attachment, don't hesitate t

[2021-09-03 14:18] sberyozkin commented on #19896
Makes sense

[2021-09-03 14:24] dwamara opened #19907 "Static resources as operations in Jaeger"
### Describe the bug

After enabling tracing with OLTP for a frontend application, I realised that even static resources are being shown as operations in the Jaeger UI (see attached picture).
<img width="565" alt="Screenshot 2021-09-03 at 16 15 42" src="https://user-images.githubusercontent.com/7215870/132021182-692ff5c8-1161-4679-ae72-ab3448a3f76f.png">

### Expected behavior

Only REST operation

[2021-09-03 14:29] kenfinnigan commented on #19907
Can you confirm this is with the OpenTelemetry exporter extension?

While it might be beneficial to trace static resource retrieval, it should be off by default. This ties into #18708 for being able to exclude URL paths from tracing

[2021-09-03 14:36] dwamara commented on #19907
You mean with this because that's how I added it to my pom except for the application.properties where it is configured:

[2021-09-03 14:38] kenfinnigan commented on #19907
Yes, and thanks for confirming

[2021-09-03 14:54] dufoli commented on #11942
@dufoli I will take this one

[2021-09-03 15:14] joggeli34 commented on #19022
We suffer from the same problem. As we have a mono-repo with multiple quarkus applications inside, it currently takes 30s-40s of configuration time before each run / build.

[2021-09-03 15:21] glefloch commented on #19022
yes, I working on it, I should be able to move deployment classpath resolution in a task. But I'm not sure this is a part of the code that takes time.

[2021-09-03 15:26] manovotn commented on #11942
Assigned to you.
We are basically interested in interception where the interceptor class has a hierarchy of `@AroundInvoke` methods that are not overriden by subclasses. You can get inspiration for tests in my test branch and feel free to make use of it but you will need to adjust it and take out any bits that work with interceptors declared on bean classes.

[2021-09-03 15:50] Sanne commented on #18737
Let me clarify a couple of things:

- The `DELAYED_ACQUISITION_AND_RELEASE_BEFORE_COMPLETION` strategy has already been benchmarked, and we'd want to keep this choice if possible as there are meaningul benefits.
- There is no JCA integration and we don't plan to have support for JCA in Quarkus.
- Don't worry about "portability" issues - this is a single, opinionated platform which means components

[2021-09-03 16:06] rupipal commented on #14892
Hi,
I've started-off with Quarkus just recently. I'm facing exactly the same issue while building and deploying openshift-quickstart with command:  ./mvnw clean package -Dquarkus.container-image.build=true

[ERROR] 	at io.quarkus.container.image.docker.deployment.DockerProcessor.dockerException(DockerProcessor.java:220)
[ERROR] 	at io.quarkus.container.image.docker.deployment.DockerProcessor.creat

[2021-09-03 16:23] sm3sher commented on #12286
Not working with 2.2.1.Final

[2021-09-03 17:48] #18251 closed

[2021-09-03 17:56] owlkaboom opened #19911 "ConsumeEvent with Blocking Threading on wrong ExecutorService"
### Describe the bug

I have been running into a weird threading issue while using the ConsumeEvent while blocking is set to true.

I have noticed that when running locally via quarkusDev the function that is marked ConsumeEvent(blocking = true) is showing (vert.x-worker-thread-X) as the thread-name; this is working as I would expect and it only uses workers up to the configured quarkus.vertx.work

[2021-09-03 18:31] ebullient commented on #19894
You're invoking this from within a project directory or outside of a project directory?

[2021-09-03 19:32] kenfinnigan opened #19912 "Mark OpenTelemetry extensions as stable"
### Description

Once the following issues are resolved we should mark the three OpenTelemetry extensions as stable:

- [ ] #17118
- [x] #13224
- [x] #18295
- [x] #18750
- [x] #18228
- [x] #19745
- [ ] #18708

### Implementation ideas

_No response_

[2021-09-03 19:44] danieloh30 opened #19913 "Config Editor doesn't update the prefixed values"
### Describe the bug

Found this weird thing. After I defined `%dev.username=value1` in the `application.properties`, I updated the value to `value2` via config editor in DEV UI. It turns out Quarkus appended a new key and value like `username=daniel` without prefix `%dev.`

### Expected behavior

%dev.username=value2

### Actual behavior

%dev.username=value1
username=value2

### How to Reproduce

[2021-09-03 19:52] #19156 closed

[2021-09-03 21:30] OleKsimov opened #19915 "Property value can't be read from Vault testcontainer in Quarkus 2.2.1, works fine in 2.1.4 version"
### Describe the bug

When some property in application.yaml is expected to be initialized from Vault:

          message: ${VALUE_FROM_VAULT}

next exception occurs in Quarkus 2.2.1:

	java.util.NoSuchElementException: SRCFG00011: Could not expand value VALUE_FROM_VAULT in property greeting.message

Everything works fine in Quarkus 2.1.4, but initialization is broken in 2.2.1 version

### Expecte

[2021-09-04 01:14] kenfinnigan commented on #19888
Confirmed the workaround works great! Thanks

[2021-09-04 06:39] jeffmaury commented on #19894
This was with cli 2.1.0.Final and from a 2.1.3.Final project

[2021-09-04 06:40] jeffmaury commented on #19894
Seems to be fixed with latest client

[2021-09-04 14:24] janseeger commented on #3380
Second that. Would be really nice to have.

[2021-09-04 15:16] amitkumar7566 opened #19916 "Quarkus Native Executable build (using Docker) fails"
### Describe the bug

I am trying to build a Quarkus native executable using docker using the following command "mvn clean package "-Pnative" "-Dquarkus.native.container-build=true" "-Dquarkus.native.container-runtime=docker"

Quarkus version: 2.2.1.Final Maven version : 3.8.1 Java version: 11

and I get the below error:

Error: Annotated class must be final: class io.quarkus.amazon.lambda.http.gr

[2021-09-04 18:55] alokprince commented on #2003
I recently learned java and I am very fascinated with open source projects.
can you point me in right direction.

[2021-09-05 01:02] ahachete opened #19917 "gRPC server not starting on prod mode, works on dev mode"
### Describe the bug

I want to write an application to expose a gRPC service. The `quarkus-grpc` extension is added an used.

If the service is written following the [Getting Started With gRPC Guide](https://quarkus.io/guides/grpc-getting-started) it works flawlessly. But, apparently, when implementing a service whose ProtoBuf definitions are not part of the project, and instead brought as an ext

[2021-09-05 03:32] Moicen opened #19918 "Not using JDBC problem met in native build"
### Describe the bug

Hi, I’m using `hiberante-panache-reactive` in my project:

[code]

And tried to use `schema-update` policy in `application.properties`

[code]

I build my project into native code so the `%prod` profile is picked up by default:

[code]

The build process is good, but running the binary executable throws this error:

![F2FA5685-C587-4D3A-A778-EA6FA2D73548](https://user-images.

[2021-09-05 07:36] vsevel commented on #19915
/cc @radcortez

[2021-09-05 08:42] hanzhenliang commented on #19885
Fix by Jandex cache.

[2021-09-05 08:42] #19885 closed

[2021-09-05 09:44] zohar-soul opened #19919 "quarkus-spring-api @postMapping do not support @RequestParam"
### Describe the bug

[code]

expect return type value,
but throw

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

_No response_

### Build

[2021-09-05 10:12] pclainchard commented on #19840
I think it is related to the fact that a Custom ID is store "_id" in the Mongo database...

So my query cannot find any field that is named "CustomId"

I made a loop to bypass this behavior : loop on my IDs, and then for each, made a "findById" request

Maybe an improvement would be to add a "findByIds" method that could take a list of ObjectId values ?

So finally, I would consider this issue not

[2021-09-05 22:45] flynnk opened #19923 "OAuth and Swagger UI fails on 2.2.1.Final"
### Describe the bug

Get
`Uncaught TypeError: ui.initOAuth is not a function
    at window.onload ((index):40)`
on the Javascript console when I navigate to the localhost in dev mode (to /q/swagger-ui).

This is an excerpt from the generated Swagger console index.html:

`
        <div id="swagger-ui"></div>
        <script src="swagger-ui-bundle.js" charset="UTF-8"></script>
        <script src="

[2021-09-06 01:43] Dieken opened #19924 "@Retry shouldn't trigger Uni publisher"
### Describe the bug

[code]

The test prints "xxxxx",  seems @Retry logic subscribes to the Uni publisher,  this breaks time order:

[code]

### Expected behavior

The `retry` uni doesn't take any effect, no output.

### Actual behavior

The test outputs "xxxxx".

### How to Reproduce?

Run the unit test.

### Output of `uname -a` or `ver`

Darwin xxx.local 20.3.0 Darwin Kernel Version 20.3.0: Th

[2021-09-06 01:46] Dieken commented on #19924
@Retry logic probably should uses `uni.onFailure().retry()`.

[2021-09-06 05:32] #19878 closed

[2021-09-06 05:47] michalszynkiewicz commented on #19917
@ahachete the most likely cause is Jandex index missing from   the `flight-grpc` dependency.
Can you try one of the solutions described in https://quarkus.io/guides/cdi-reference#how-to-generate-a-jandex-index to add it?

[2021-09-06 05:47] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1204746013

[2021-09-06 05:52] phillip-kruger commented on #19923
Thanks ! This is already fixed in https://github.com/smallrye/smallrye-open-api/pull/887 and will be pulled into Quarkus soon.

[2021-09-06 06:17] apat59 commented on #18685
Hi,
I'm also hitting this since 1.13.2 exactly and is still happening on 2.2.1.
However I'm not restarting the DB, this happens almost every time I roll out a new deployment/pod.
The flow is the same:
1- agroal creates conn
2- conn acquired, used, returned to pool many times (in my case quartz, at least 20 times) without any problem
3- conn acquired, that EOF exception happens **but, conn returned

[2021-09-06 06:27] mkouba commented on #19911
Hm, the generated `EventConsumerInvoker` seems to be ok, i.e. the `EventConsumerInvoker.isBlocking()` method returns `true` and it should be executed with `Context.executeBlocking()`.

[2021-09-06 06:36] #19864 closed

[2021-09-06 07:25] SLedunois commented on #19617
Any update of it ? It also happens on github action context.

[2021-09-06 08:03] ahachete commented on #19917
Thank you for looking into this @michalszynkiewicz. Since this is an external dependency, I cannot modify it. I tried however do add the index dependency functionality via `application.properties`, which I modified (initially empty) with the following content:

[code]

However, the result is the same (i.e., it doesn't run the gRPC server on prod mode). While I'm not 100% familiar with the way Quar

[2021-09-06 08:10] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1204736696

[2021-09-06 08:11] mkouba commented on #19911
@kenfinnigan @stuartwdouglas the implementation of [QuarkusExecutorFactory#createExecutor()](https://github.com/quarkusio/quarkus/blob/main/extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/QuarkusExecutorFactory.java#L30-L43) looks strange. It seems that for the dev mode a new executor service is built but for any other launch mode the `QuarkusExecutorFactory.sharedExecuto

[2021-09-06 08:12] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1204745850

[2021-09-06 08:41] manovotn commented on #18737
FTR, Arc portion of the fix was merged into main branch.

[2021-09-06 08:42] #19702 closed

[2021-09-06 08:52] gsmet commented on #19916
Fixed in https://github.com/quarkusio/quarkus/pull/19887 . Will be backported to 2.2.2.Final.

[2021-09-06 08:52] #19916 closed

[2021-09-06 09:30] pjgg commented on #19841
Imagine that you have a project with an application property defined like this one:

[code]

With a PostgresqlResource used by Quarkus test like this one:
https://github.com/quarkus-qe/beefy-scenarios/blob/main/303-quarkus-vertx-sql/src/test/java/io/quarkus/qe/vertx/sql/test/resources/PostgresqlResource.java#L21

As you can see in the last link the DB schema is set as `Amadeus`
[code]

And the que

[2021-09-06 09:32] mkouba commented on #19617
I have no idea what happens. I'm not even sure this is something that is supported.

CC @aloubyansky @gastaldi

[2021-09-06 09:43] m-brophy commented on #19456
Hi @geoand , thanks for looking at this. My only comment ( and only concern with the behaviour really) is that coding it that way works in prod quarkus profile and not  in test.

[2021-09-06 11:28] xtaixe commented on #18559
I don't get it. I don't see any significant difference and it doesn't work...

@bvarner any chance you could run [this reproducer](https://github.com/quarkusio/quarkus/files/7115617/quarkus-reproducer.zip) (same as second one above but updated to 2.2.1) and report if it works for you or not or if you spot any errors? It contains a simple resource that is only tested by a `@QuarkusIntegrationTest`.

[2021-09-06 11:33] stevefavez commented on #7462
Hi, I got exactly the same kind of issues. One parent with two children lists. If only one is "loaded" before using "merge", it works fine, if both are loaded, got the "A collection with cascade....",
You can find in attachment a sample - unit test only - OrmResourceTest.
[orm-starter.zip](https://github.com/quarkusio/quarkus/files/7115655/orm-starter.zip)

[2021-09-06 12:03] vsevel commented on #19711
hello @zakkak what is the proper way to progress on this issue? should I create an issue directly on the graalvm project?

[2021-09-06 12:12] kenfinnigan commented on #19911
I can't remember the exact error, but when the same ExecutorFactory was used in DevMode there were errors.

[2021-09-06 12:14] jaikiran commented on #19711
I think this is a bug in Quarkus. It looks like when `serialization` is set to `true` on the `RegisterForReflection` annotation, the `RegisterForReflectionBuildStep` only registers it for serialization and explicitly disables reflection registration. Specifically, this line https://github.com/quarkusio/quarkus/blob/main/core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterForReflectio

[2021-09-06 12:16] mkouba commented on #19911
Ok, but what's the original intent? To use the `ExecutorBuildItem.getExecutorProxy()` as the executor service when the `Context.executeBlocking()` is used?

[2021-09-06 12:56] FroMage opened #19931 "Kafka ser/deser auto-detection bug during hot-reload"
### Describe the bug

There's a bug with hot-reload and https://quarkus.io/guides/kafka#serialization-autodetection

[code]

### How to Reproduce?

- git clone https://github.com/FroMage/devoxx-fr-2021-quarkus-cheese-shop
- cd devoxx-fr-2021-quarkus-cheese-shop
- Edit the `OrderSerializer.java` file to the incorrect:
[code]
- quarkus dev
- Go to http://localhost:8080/order
- It fails, fine
- Edit

[2021-09-06 13:03] Ladicek commented on #19931
@ozangunalp just FYI, I'm looking at this, see the Zulip conversation :-)

[2021-09-06 13:04] ozangunalp commented on #19931
@Ladicek Thanks for the heads up, I was going to ping you anyways

[2021-09-06 13:35] aloubyansky commented on #19875
I assigned it to myself but I was mostly looking into the proper error reporting, which I realized is quite tricky because there is a part of the capability production evaluation which requires the config to be built.
But anyway, about the actual issue, @geoand are we going to look into adding the links support to the resteasy classic?

[2021-09-06 13:40] geoand commented on #19875
RESTEasy does already have links support in the form of the `org.jboss.resteasy:resteasy-links` module. It doesn't need any dedicated Quarkus support

[2021-09-06 13:48] aloubyansky commented on #19875
The question then is whether we want to refactor the `rest-data-panache` to use the `links` impl that's available on the classpath instead of declaring a direct dependency on the reactive impl.

[2021-09-06 13:50] geoand commented on #19875
I don't think so, no. `rest-data-panache` is super opinionated (and to mention experimental).

[2021-09-06 13:53] radcortez commented on #19448
Yes, for instance to support injection in JAX-RS Providers (which are initialized at static init): https://github.com/quarkusio/quarkus/issues/18333

[2021-09-06 13:57] aloubyansky commented on #19875
Here we go then. `rest-data-panache` is not going to be compatible with RESTEasy classic. We need to make sure Kogito and OptaPlanner (and the rest of the ecosystem that is supposed to be working with reactive and classic impl) don't directly depend on any specific flavor of RESTEasy and probably fix our quickstarts, because they will keep failing.

[2021-09-06 13:57] cescoffier commented on #19911
@kenfinnigan That is a bit annoying to have such a different behavior.

[2021-09-06 13:59] geoand commented on #19875
Yeah, for sure.

cc @gsmet

[2021-09-06 14:22] radcortez commented on #19448
Let me try to summarize the current status, what we need and where can we go:

- @ConfigMapping instances are created twice (one for static init and another for runtime init), this is because we also have two config instances (one for each phase).
- @ConfigMapping for runtime init is pretty obvious. For static init not so much, but in the case of JAX-RS Providers, which support for `@ConfigPropert

[2021-09-06 14:30] gastaldi commented on #19617
I believe you need to build the docker image first and then run docker-compose using the built docker image.

- Add the `container-image-docker` extension to your project:
[code]

- Build the docker image:
[code]

See https://quarkus.io/guides/container-image#building

[2021-09-06 14:33] #19843 closed

[2021-09-06 15:22] gsmet commented on #18333
The PR fixing this has been reverted for now. A future fix is expected but we have no timeline for it.

[2021-09-06 15:26] radcortez commented on #19387
The annotation in the constructor is to override the prefix used in the injection point.

@mweber03 yes, the config mapping interface requires the annotation and the injection in the constructor works without it, but you can definitely reuse the same interface with different prefixes by overriding the injection point with the `@ConfigMapping` annotation and setting the new prefix. I'll add a test

[2021-09-06 16:06] rsvoboda commented on #19875
`quarkus-spring-data-rest` is TP on RHBQ side, "not compatible with RESTEasy classic" sounds like a strong message as there were some tests working fine before the change in main / for 2.3.

[2021-09-06 16:14] geoand commented on #19875
Sure. For 2.2 things work fine.
But if we want to move to RESTEasy Reactive as the default, then things need to adapt

[2021-09-06 16:57] fbricon opened #19940 "Binding in-memory channel to SSE Events issue"
### Describe the bug

I'm trying to emit data to an in-memory channel, every couple seconds, with:

[code]

The data is exposed via SSE with:
[code]

Upon startup, the application will log errors every 2s because `No subscriber found for the channel my-data`:

[code]

Access http://localhost:8080/stream in chrome or in a terminal via :
[code]
 And the server will stop complaining about the missing

[2021-09-06 17:14] cescoffier commented on #19940
Thanks @fbricon for the detailed report and reproducer.

So, definitely a bug we need to fix in reactive messaging (I will create the issue there).
As a workaround, use:

[code]

[2021-09-06 17:29] fbricon commented on #19940
@cescoffier thx, the workaround works as expected

[2021-09-06 17:43] JayGhiya opened #19941 "Mutiny Vertx NetClient Tcp Socket Reading Bug"
### Describe the bug

While using Mutiny With Vertx Netclient (Tcp Client) to write and read tcp messages, read gets stuck after receiving the first message.

### Expected behavior

Reading of tcp messages should not block the mutiny based netclient pipeline. (This uses netclient tcp client)

### Actual behavior

Reading of tcp messages should not block the mutiny based netclient pipeline. This ma

[2021-09-06 17:49] Shpota commented on #8479
I am running into this issue with Quarkus 2.0.1.

[2021-09-06 18:56] geoand commented on #19919
Thanks for reporting.

I'll have a look soon

[2021-09-06 20:51] famod commented on #14927
Interesting, `mvn clean ...` triggers Maven Bootstrapping big time (`resolveAppModel()` with > 20%), from under 10s to over 14s.

[2021-09-06 20:54] famod commented on #14927
Hm, getting very mixed results with includes/excludes. Maybe I'm using the wrong format. Will have to take a closer look.

Nope, doesn't help.

[2021-09-06 20:56] rsvoboda commented on #19781
@gastaldi / @stuartwdouglas

[2021-09-06 22:25] famod commented on #19370
@stuartwdouglas A had a brief look at the code involved in this and I find it irritating that this flag is only evaluated pretty far down in the recorder:
- https://github.com/quarkusio/quarkus/blob/2.2.1.Final/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java#L584 (https)
- https://github.com/quarkusio/quarkus/blob/2.2.1.Final/extensions/vertx-http/r

[2021-09-07 03:42] stuartwdouglas commented on #19896
This does not sound right, `deny-unannotated-endpoints` should be basically doing a `@DenyAll`, so adding a username and roles should have no effect.

[2021-09-07 05:00] #19781 closed

[2021-09-07 05:01] Sgitario opened #19950 "Regression: Knative deployments not working in 2.2.1.Final"
### Describe the bug

Deployments using Knative: https://quarkus.io/guides/deploying-to-kubernetes#knative, are failing with the following exception:

[code]

This is reproduced for the Quarkus versions: 999-SNAPSHOT, 2.2.1.Final, 2.2.0.Final.
It works using Quarkus 2.1.0.Final.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. Login to a OCP clus

[2021-09-07 05:05] #19903 closed

[2021-09-07 05:06] geoand commented on #19896
I'll have a look

[2021-09-07 05:20] geoand commented on #19950
@iocanel @manusa do you have any idea what's going on here? It looks like a Kubernetes Client issue.

[2021-09-07 05:40] danelowe commented on #19670
Thanks for working on this @sberyozkin. I've shifted to other work for now. By the time I get back to this, 2.3 might be released. When I get back to it, I will have a look at how I can make a generic solution.

[2021-09-07 05:41] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1208158293

[2021-09-07 05:57] manusa commented on #19950
It seems to be the same as https://github.com/fabric8io/kubernetes-client/issues/3433.

Originated in Quarkus after my PR #19795 which (for this case) removes the deprecated `deleteExisting()` DSL method call in combination with the K8s client version bump that contains changes to createOrReplace/edit/patch and other method internals.

We'll try to provide a fix upstream and include it in the 5.7.

[2021-09-07 06:09] geoand commented on #19950
Thanks @manusa .

Can you also add this information to the JIRA for RHBQ I pinged you on?
Asking because this could affect the product delivery

[2021-09-07 06:41] ggrebert commented on #5555
For me the issue has been fixed and can be closed.

The new snippet in the guide referred by @ge0ffrey works for me:

[code]

[2021-09-07 06:47] Sgitario opened #19954 "OpenShift labels are not applied to all resources (missing ImageStream and Build resources"
### Describe the bug

According to the documentation: https://quarkus.io/guides/deploying-to-openshift#quarkus-openshift-openshift-config_quarkus.openshift.labels-labels, the labels should be applied to all the resources, however when deploying the Quarkus application using the OpenShift extension, the labels are missing for the ImageStream, Build and BuildConfig.

### Expected behavior

As far I

[2021-09-07 06:51] geoand commented on #19954
@iocanel what is your take on this?
I am personally not sure what the proper behavior should be.

[2021-09-07 07:09] Sgitario commented on #19954
My bad, this is already working as expected. Closing.

[2021-09-07 07:09] #19954 closed

[2021-09-07 07:31] jponge commented on #19941
`collect().asList()` is blocking, there is no bug.

[2021-09-07 07:31] #19941 closed

[2021-09-07 07:32] #19448 closed

[2021-09-07 07:32] #19915 closed

[2021-09-07 07:44] JayGhiya commented on #19941
@jponge - I do understand it is blocking as it is done on worker pool thread. (@Blocking annotation is there on the method)The concern is this - How does one first write and read response from server using mutiny pipeline of netclient?

[2021-09-07 07:47] jponge commented on #19941
See https://vertx.io/docs/apidocs/io/vertx/core/net/NetClient.html for the base Vert.x API.

[2021-09-07 07:49] #19888 closed

[2021-09-07 07:50] JayGhiya commented on #19941
I already have seen this :) thanks anyway :) - i have no issues with core vertex api but mutiny one just does not work. the usecase is this: a) i have to send an message b) receive an ack from server c) based on ack take some action! Now c requires i need to block it. I am not able to do it and i highly suspect something is wrong on mutiny wrapper on netclient.

[2021-09-07 07:52] JayGhiya commented on #19941
`
    @Blocking
    public Uni<Boolean> sendMessage(String msg)
    {

        return this.netSocket
             .invoke(NetSocket::toMulti)
             .call(netSocket1 -> netSocket1.write(msg))
                //this gets triggered once and it gets stuck
                .invoke(() -> LOG.info("Write successful"))
                .onItem()
                //this call is used for reading buffer

[2021-09-07 07:55] jponge commented on #19941
`.invoke(NetSocket::toMulti)` will do nothing in your pipeline.

[2021-09-07 07:56] JayGhiya commented on #19941
Should not it open the handler for receiving before i start writing? then you can read as it is open after writing?

[2021-09-07 08:00] jponge commented on #19941
My bad, it does transform the value. Still I don't get why you move from a Uni to a Multi, then to a Multi then to a Uni, only to block.

[2021-09-07 08:01] jponge commented on #19941
Err no, it does not transform. `invoke` is just to perform an action when you receive an item.

[2021-09-07 08:02] jponge commented on #19941
So here your action is "transform to a Multi", and that Multi is not passed down the pipeline.

[2021-09-07 08:09] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1208149257

[2021-09-07 08:11] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1208157916

[2021-09-07 08:36] JayGhiya commented on #19941
yea invoke does not transform, but what i thought is i have to open handler for reading right? and then also read. i did not want to use multi but the reason why i thought api returns multi is the server may return data more than received buffer size. i may be wrong but help me understand to achieve this simple usecase using mutiny netsocket :

- Open for reading
- Write
- Delay by sometime for re

[2021-09-07 08:39] JayGhiya commented on #19941
my bad. This is off topic but i did not realize you are the author of the vertx in action. Planning to read that thanks for the book :) cheers

[2021-09-07 08:49] jponge commented on #19941
Remember that `Multi`/`Uni` require subscriptions.

So `invoke(foo::toMulti)` doesn't do anything.

I'd rather have a transformation to a `Multi` (if that's required by your logic), then take the resulting `Multi` as a result for the next transformation, etc.

[2021-09-07 08:56] kshpak opened #19956 "Automatically remove trailing spaces in the application.properties file"
### Description

Trailing spaces after property in the `application.properties` file can cause unwanted errors.
Example:
1. generate an application with the `quarkus-openshift` extension
2. specify `quarkus.application.name=myservice ` (with a trailing space)
3. mvn clean package
4. Build error
[code]

Is there a reason to leave trimming on developers?

### Implementation ideas

_No response_

[2021-09-07 08:58] geoand commented on #19956
Good question.

@radcortez does MP Config say anything about this?

[2021-09-07 09:23] JayGhiya commented on #19941
ok let me give it a try and get your feedback on modified pipeline thanks @jponge

[2021-09-07 09:25] JanM-cz opened #19957 "@QuarkusMain not called from @QuarkusTest"
### Describe the bug

When @QuarkusTest is executed in combination with @QuarkusMain definition, the main class is not being called, but neither is the default configuration context which is normally executed when no @QuarkusMain is defined. This results in "underconfigured" system.

This prevents proper usage of @QuarkusMain for any customizations because they are then not available during @Quark

[2021-09-07 09:30] gsmet commented on #19956
We don't do that globally but we apply a converter locally for the properties for which it makes sense. See `TrimmedStringConverter`.

[2021-09-07 09:32] geoand commented on #19956
Thanks for that tip @gsmet. I somehow managed to miss it :).

I'll add that for the container-image properties.

[2021-09-07 09:42] JayGhiya commented on #19941
`
    public Uni<Multi<Buffer>> openForReading()
    {
        return this.netSocket
                .map(NetSocket::toMulti);
    }

    public Uni<NetSocket> writeMessage(String msg)
    {

        return this.netSocket
                .onItem()
                .call(netSocket1 -> netSocket1.write(msg))
                .invoke(() -> LOG.info("write successful"));

    }

    @Blocking
    public

[2021-09-07 09:52] mschorsch opened #19959 "Quarkus 2.2.1: Simple build fails on Windows"
### Describe the bug

A simple build with `./mvnw clean install` fails on Windows. Linux works fine.

### Expected behavior

The build doesn't fail.

### Actual behavior

[code]

### How to Reproduce?

1. Create a simple project https://code.quarkus.io/?e=resteasy-jackson&e=hibernate-orm&extension-search=hibernat
2. mvnw clean install

### Output of `uname -a` or `ver`

Microsoft Windows [Version

[2021-09-07 09:53] jponge commented on #19941
Perhaps you're trying to collect all buffers as a list instead of processing them on-the-fly, and the stream hasn't finished yet, hence you don't see anything because it hasn't been closed.

BTW you may just `return buffers.stream().count()>0;` instead of doing a `if`/`else`.

[2021-09-07 10:06] ge0ffrey commented on #5555
+1 to close

Georgios, I missed your comment, so that never happened, but it's fix now :)

[2021-09-07 10:06] #5555 closed

[2021-09-07 10:08] radcortez commented on #19956
Nothing, because it follows the behavior of `properties` files (trailing spaces are read).

I understand that this may be inconvenient for some users, but on the other hand, we cannot blindly remove all trailing spaces for every configuration, because it means we may be changing the user configuration and we don't know if the user wants to have the space there or not.

[2021-09-07 10:13] JayGhiya commented on #19941
Collecting all buffers as a list should work right as I know I get one response for every request. Here the mock server that is part of reproducer instantly replies within 10ms. Why it is not able to collect? This is something I would want to understand. See the actual usecase will have validation on the received response from the server. Over there I won't be doing simple count .I will be require

[2021-09-07 10:17] jponge commented on #19941
Because your mock server is a mock, not a real socket.

[2021-09-07 10:18] jponge commented on #19941
Oh and your methods never subscribe to anything.

[2021-09-07 10:27] JayGhiya commented on #19941
yes they do require subscribing thats why
`quarkusTcpVertxClient.sendMessage(sampleHl7Message).await().atMost(Duration.ofMillis(2000)); ` we do await ! so pipeline starts. i can also see it writing messages but it gets blocked after first response. Also mock server opens up  a real socket . please refer reproducer code.

[2021-09-07 10:27] JayGhiya commented on #19941
But as you told, the pipeline is overwriting vertx handlers which is causing the issue. Sticking to core vertx apis for now

[2021-09-07 10:32] JayGhiya commented on #19941
For anybody who is looking to implement tcp based send/receive code just like http request/response it might require some work. Here is the core vertx code for the same. Get the vertx in your quarkus through constructor injection and then use like this:

`protected void makeConnectionToTcpServer() throws ExecutionException, InterruptedException {
         //Making a connection
        this.netSock

[2021-09-07 11:02] famod commented on #19959
/cc @aloubyansky

[2021-09-07 11:13] aloubyansky commented on #19959
This
[code]
indicates that Maven central isn't available in your env. See https://repo1.maven.org/maven2/org/wildfly/common/wildfly-common/1.5.0.Final-format-001/ for example. Check your settings.xml and make sure artifacts from Maven Central are resolvable.

[2021-09-07 11:19] mschorsch commented on #19959
Maven Central is available.

Note: If i change my pom.xml to quarkus-universe-bom all works as expected (see description)

[2021-09-07 11:21] aloubyansky commented on #19959
Could you figure out why those WARNINGs are logged though? The artifacts are available on Central. Do you use a Maven mirror?

[2021-09-07 11:25] aloubyansky commented on #19959
Perhaps, try `mvn clean package -Dmaven.repo.local=<some-tmp-dir>` to see where the artifacts are downloaded from.

[2021-09-07 11:26] DittoTool opened #19963 "Inefficient Usage of JCF"
### Description

Hi,

We find that there are several ArrayList objects which are not manipulated by random access. Due to the memory reallocation triggered in the successive insertions, the time complexity of add method of ArrayList is amortized O(1). We notice that these objects are only used for traversal, the retrieval, and removal of the first or the last element.

This functionality can be im

[2021-09-07 11:35] mschorsch commented on #19959
I've cleaned my ~/.m2 directory. Now all works as expected.

Sorry for the noise.

[2021-09-07 11:35] #19959 closed

[2021-09-07 11:41] AndreasBoehme commented on #8530
Just wanted to confirm @sdaschner's post - seems classloading is not working properly when using _quarkus.package.type=fast-jar_. (tested with various versions of Quarkus between 1.10.3.Final and 1.13.7.Final within a Docker container, Neo4j-OGM 3.2.24, OpenJDK1.8.0).
Didn't find a solution so far, except using _quarkus.package.type=legacy-jar_. (didn't try the index thing)

[2021-09-07 12:05] Ladicek commented on #19445
Hi @joyrex2001, this change (specifically the addition of `--smp 1`) breaks Kafka Dev Services for me locally. The Redpanda container fails to start with `Could not initialize seastar: std::__1::system_error (error system:12, Cannot allocate memory)`.

Interestingly, if I add `--memory 2G`, it starts working again, but I don't know enough about Redpanda or Seastar to comment on why. I _suspect_ th

[2021-09-07 12:13] #19365 closed

[2021-09-07 12:26] kenfinnigan commented on #19911
The original intent was for the Quarkus Executor Factory to utilize the Vert.x Worker pool instead of creating its own.

I think the issue was in DevMode was it prevented shutdown as an executor would be constantly waiting.

[2021-09-07 12:41] mkouba commented on #19911
That probably makes sense but is it documented somewhere? I think that it should be at least mentioned in the Vert.x Reference Guide...

[2021-09-07 12:48] kenfinnigan commented on #19911
Likely not documented

[2021-09-07 13:25] andreas-eberle opened #19966 "Allow using RestResponse<T> as return type for rest client"
### Description

The rest client (reactive) allows to use `Response` as a return type for rest methods. Unfortunately, `Response` is not typed at all and thus when you want to access the status code of the response, you cannot specify the type of the response in the rest client interface. This is not so nice, because ideally, you'd like to specify the whole api in that interface.

In contrast, the

[2021-09-07 13:26] radcortez commented on #19371
Exactly. In the meanwhile, we added a guard to explicitly state that the annotation only works for interfaces, so the error should clear now.

[2021-09-07 13:26] #19371 closed

[2021-09-07 13:26] radcortez commented on #19613
This will be fixed in the next SR Config version.

[2021-09-07 13:41] jponge commented on #19941
Here's a sketch of something similar although "not exactly what you are doing" but that shows `NetClient` handling in plain Vert.x + Mutiny:

[code]

Sticking to the Vert.x core APIs might be simpler here without the need to subscribe to trigger operations.

Note that this is doing 1 TCP connection per HTTP request, if you want to maintain 1 connection for all requests then you'll need some kind o

[2021-09-07 13:49] geoand commented on #19957
@stuartwdouglas I assume that https://github.com/quarkusio/quarkus/pull/19891 should cover this, right?

[2021-09-07 13:50] #19956 closed

[2021-09-07 13:58] belu opened #19967 "Scheduler delay not always considered in native executable"
### Describe the bug

The initial delay of a `@Scheduled` method is not always considered in a native executable.

### Expected behavior

The initial delay is always considered on every start of the application.

### Actual behavior

The initial delay is sometimes not considered on the start of the application.

### How to Reproduce?

Reproducer:

https://github.com/belu/quarkus-bootcamp

The sche

[2021-09-07 14:13] JayGhiya commented on #19941
Thanks for the sample. Appreciate it. Yes in my usecase only one connection has to be maintained and we do that with core vertx APIs. I agree with such lower stuff core vertx APIs are a better choice. It was just that I wanted to avoid writing code for delaying the item and handling failures etc as that is handled v well by mutiny. But this is good learning. Thankyou

[2021-09-07 14:56] geoand commented on #19966
This is a very good idea!

I'll take a look

[2021-09-07 15:18] Ladicek commented on #19924
Fault Tolerance converts everything to `CompletionStage` internally, which is probably the reason. Fixing this properly will require quite some refactoring in Fault Tolerance.

[2021-09-07 15:19] Ladicek commented on #19924
Also CC @cescoffier @jponge in case they can advise how to use SmallRye Reactive Converters properly :-)

[2021-09-07 15:57] DavideD commented on #19539
My understanding of this issue is that storing the right encoding in MSSQL Server is a pain: https://stackoverflow.com/questions/12512687/how-to-use-utf-8-collation-in-sql-server-database.

It seems that the encoding used for the column changes based on the type of the column.
Hibernate Reactive uses `varchar` as default, but you can change it using the `@Column` annotation:
[code]

I don't know w

[2021-09-07 16:10] radcortez commented on #19316
Hi @ineednousername

Sorry for the late response, I was on PTO.

I had a look into the reproducer and `ReproducerConfigPropertiesExtensionTest`. I couldn't find configuration values for the build time properties, so I had to set:

[code]

And then the test passes as expected. The issue is that in your `ConfigRoot` for build time, there is no mapping for `something`, just an `enabled` property. Any

[2021-09-07 16:13] DavideD commented on #19539
What I mean here is that I've replicated the issue but and saw that the returned value changes based on the type of the column.

[2021-09-07 16:25] famod opened #19970 ""[WARNING] unknown enum constant org.osgi.annotation.bundle.Requirement.Resolution.OPTIONAL" when compiler warnings are enabled"
### Describe the bug

`maven-compiler-plugin` issues a warning when your app is using `@ConfigProperty` and compiler warnings are enabled:
[code]

### Expected behavior

No such warning.

### Actual behavior

Warning w.r.t OSGI annotations. Also pollutes "real" compilation errors which can lead developers astray.

### How to Reproduce?

`./mvnw clean compile -f config-quickstart/ -Dmaven.compiler.

[2021-09-07 16:28] ebullient commented on #19957
Yes. #19891 is specifically to address this case. ;)

[2021-09-07 16:29] geoand commented on #19957
Excellent 👌🏼 .

So I'll close this as out of date.

[2021-09-07 16:32] #19957 closed

[2021-09-07 16:42] famod commented on #19970
/cc @radcortez

[2021-09-07 16:54] tbvl opened #19971 "Junit custom tags do not get picked up by Continuous Testing engine"
### Describe the bug

We have defined our own custom Junit test tags (e.g. @UnitTest see below) for annotating our test methods for easy filtering and consistency, but Quarkus only picks up test classes where at least one method is annotated directly with @Test or the class is annotated with @QuarkusTest.

[code]

### Expected behavior

Custom tags should be handled like @Test tags as long as they

[2021-09-07 17:37] andrzejszywala commented on #7462
I think the problem is in Hibernate when entities are enhanced in build phase. I've reproduce this problem in plain hibernate with hibernate-enhance-maven-plugin. I've created bug in Hibernate https://hibernate.atlassian.net/browse/HHH-14387

[2021-09-07 18:01] wernert75 commented on #19878
I´ve an identically problem with 2.2.2 and jvm-mode.
It seems only to occur, if the method has more then one parameter.

.NoSuchMethodException: de.mytest.test.resources.ArticleGroupResource.update(java.lang.Long, de.test.test.data.ArticleGroup)
	at org.jboss.resteasy.reactive.server.spi.ResteasyReactiveResourceInfo.getMethod(ResteasyReactiveResourceInfo.java:70)
	at io.quarkus.resteasy.reactive.s

[2021-09-07 18:05] geoand commented on #19878
If the problem persists, please open a new issue an attach a reproducer

[2021-09-07 18:37] joggeli34 opened #19973 "Gradle build fails when using configuration cache"
### Describe the bug

When enabling the configuration cache on a gradle build, the second time (when the cache is already existing) the build fails.

I tried to enable the configuration cache due to the current bug causing long configuration times (https://github.com/quarkusio/quarkus/issues/19022)

I enabled the configuration cache by adding following properties to the gradle.properties file
[cod

[2021-09-07 18:47] nenros opened #19975 "Support kotlin coroutines in GraphQL"
### Description

Hi all!
Is there any chance that you can support coroutines in `io.quarkus:quarkus-smallrye-graphql`? When I try to write something like that:
[code]

I get this error:
[code]

So I would be really grateful if there is chance to allow GraphQL queries to be coroutines.

### Implementation ideas

_No response_

[2021-09-07 19:42] Legionarks commented on #5781
it worked for me. I'm also trying to build a multi-module project and finally I could find a solution

[2021-09-07 19:42] nenros commented on #19975
Ok, probably it cannot be done here I created issue in smallrye-graphql https://github.com/smallrye/smallrye-graphql/issues/1024

[2021-09-07 20:15] rsvoboda opened #19979 "CLI help message contains text for registry add command instead of extension add command"
### Describe the bug

CLI help message contains text for registry add command instead of extension add command.

There is no `add` command listed under `registry`.

[code]

### Expected behavior

`add` sub-command is listed for both `extension` and `registry` commands

### Actual behavior

`add` sub-command is listed just for `registry` command but with text for `add` sub-command for `extension` c

[2021-09-07 23:52] ahachete commented on #19917
As a quick follow-up I just tried with `2.2.2` and the perceived issue remains.

[2021-09-08 03:19] #16203 closed

[2021-09-08 03:45] #19923 closed

[2021-09-08 05:01] #19896 closed

[2021-09-08 05:37] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1212050615

[2021-09-08 05:50] KaiSuchomel opened #19985 "Swagger Keycloak Invalid Parameter redirect_uri"
### Describe the bug

After migration to Quarkus 2.2.1 i got an invalid paramter: redirect_uri when trying to authorize via Keycloak.
The ServerUrl looks like the following:
`https://<serverURL>/<serviceName>/apidocs/#/`
The redirect_uri in the Swagger Authorization call looks like the following:
`XXXX&redirect_uri=<serverURL>:/<serviceName>/apidocs/XXXXX`
As you can see the redirect_uri contains

[2021-09-08 05:50] KaiSuchomel commented on #19985
@phillip-kruger FYI

[2021-09-08 05:51] phillip-kruger commented on #19975
Closing here, we will do the work in smallrye

[2021-09-08 05:51] #19975 closed

[2021-09-08 05:52] phillip-kruger commented on #19985
Thanks @KaiSuchomel !

[2021-09-08 06:06] jsmrcka opened #19986 "Datasources documentation does not contain JDBC URL reference for Oracle"
### Describe the bug

In https://quarkus.io/guides/datasource#jdbc-url (https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/datasource.adoc#jdbc-url-reference), an Oracle subsection is missing. It should provide a description, an example and a link to detailed documentation.

Relevant sources:
https://docs.oracle.com/cd/E11882_01/appdev.112/e13995/oracle/jdbc/OracleDriver.html
ht

[2021-09-08 06:53] wernert75 opened #19989 "NoSuchMethodException while extending an GenericResource<T>"
### Describe the bug

I think this bug relates to Issue https://github.com/quarkusio/quarkus/issues/19878

Even in JVM - Mode the NoSuchMethodException is thrown wenn extending a Resource that uses generics.

As the described bug in 19878 the error depends on the @RolesAllowed - Annotation. With this annotation it doesn't work. Without it works fine.

The same code worked fine until Quarkus 2.1.4.

[2021-09-08 07:10] mkouba commented on #19967
So I don't think it's a problem in the scheduler, i.e. the `NewFactProducer.produceNewFact()` seems to be executed corretly. I tried to add some logging in this method and I was never able to reproduce the problem, i.e. the method was always called after the delay. However, I saw that the method `NewFactConsumer.consume()` can be called immediately when the app starts which could be caused by the

[2021-09-08 07:48] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1212050381

[2021-09-08 07:53] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1212041156

[2021-09-08 08:14] snazy opened #19990 "2.2.2: Fails to find config-mappings (regression from 2.2.1)"
### Describe the bug

`@ConfigMapping` stops to work for us in 2.2.2 (2.2.1 works fine). (Test) boot fails with the following exception.

Little analysis (incomplete though):
* `io.smallrye.config.ConfigMappings#getConfigMapping(java.lang.Class<T>, java.lang.String)` gets called with the right `type` + `prefix`, but `ConfigMappings.mappings` is empty.
* `io.smallrye.config.ConfigMappingProvider#Co

[2021-09-08 08:24] #18427 closed

[2021-09-08 08:25] rob-spoor opened #19991 "Uber-JARs don't support multi-release libraries"
### Describe the bug

`quarkus-arc` depends, through `quarkus-core` and `smallrye-config`, on `smallrye-common-classloader`. This is a multi-release JAR file. For Java 8 it uses `sun.misc.Unsafe` to generate implementations of interfaces annotated with `@ConfigMapping`, for Java 9 and up it uses method handles. This library has a manifest entry `Multi-Release: true`, which is needed to make the mu

[2021-09-08 08:28] rob-spoor commented on #19991
If I manually add the `Multi-Release: true` entry to the manifest (the JAR is little more than a simple ZIP file), this error goes away.

We are currently forced to use an uber-JAR because we are using the `quarkus-azure-functions-http` extension that enforces uber-JAR packaging.

[2021-09-08 08:35] Ladicek commented on #19967
I didn't try to run the reproducer, but what @mkouba writes seems to be true. The issue description lacks information -- specifically how do you observe the problem? If you see an `Incoming Kafka message` sooner than 3 seconds after startup, that _doesn't_ mean that the scheduler method fired sooner. It may very well mean that there's an unconsumed message in Kafka -- be it from previous run of th

[2021-09-08 09:17] jrybak23 opened #19994 "Graceful shutdown doen't work in dev profile and uber-jar"
### Describe the bug

Docs says that graceful shutdown for HTTP requests supported but.
https://quarkus.io/guides/lifecycle#graceful-shutdown
Time out is set
`quarkus.shutdown.timeout=PT1H`
It immediately shutdowns regardless of HTTP request that being executed if run:
`kill -s SIGTERM $(lsof -t -i tcp:8080)`

### Expected behavior

It should wait when all responses are sent.

### Actual behavior

[2021-09-08 09:35] Sgitario commented on #19875
If this is going to be permanent, we should update the guides. I've provided a PR for this: https://github.com/quarkusio/quarkus/pull/19995

[2021-09-08 09:46] ennishol opened #19996 "PgPool outdated documentation"
### Describe the bug

https://groups.google.com/g/quarkus-dev/c/NJr5RkNJbgo/m/cyueOuv6BwAJ

according to documentation https://quarkus.io/guides/reactive-sql-clients
to start a transaction, we call begin method on client instance: `client.begin()` which returns a Uni<Transaction>

In newer Quarkus versions this has changed. `PgPool `client does not have the `begin` method anymore.

### Expected be

[2021-09-08 10:12] loicmathieu commented on #19840
Yes, so your query must find on `_id` and not `userId`, at least on the current version of MongoDB with Panache.

[2021-09-08 10:16] loicmathieu commented on #19840
Today you use:

[code]

And replacing userId by _id will do the trick.

[code]

Today, we allow using object field name instead of database field name in case of `@BsonProperty` but not when using `@BsonId` I think it's an oversight worth fixing it. This issue will occurs not only on $in but for all queries based on custom ID when using the object field name instead of _id.

[2021-09-08 10:19] Henry-Schneider-lgln commented on #13055
I have this problem too.

[2021-09-08 11:37] jaikiran commented on #19991
Hello Rob, I've opened https://github.com/quarkusio/quarkus/pull/19999 with a potential fix.

[2021-09-08 11:38] rob-spoor commented on #19991
Excellent, thanks!

[2021-09-08 11:39] michalszynkiewicz commented on #19860
@stuartwdouglas @FroMage what do you guys think of merging jaxrs-client and rest-client reactive (or hiding the former one)?

[2021-09-08 11:42] geoand opened #20000 "Improve documentation of kubernetes-config extension"
### Description

The current documentation of the `quarkus-kubernetes-config` is extremely bare-bones.
Having a typical example where some database credentials are obtained from a Secret would be very helpful.
Furthermore, comparing it to the alternative of using the Kubernetes extension to populate the `Deployment` with the proper entries could also be useful.

### Implementation ideas

_No respo

[2021-09-08 11:48] famod commented on #19990
/cc @radcortez

Maybe it's related to the interface extending another one: https://github.com/projectnessie/nessie/blob/main/servers/quarkus-server/src/main/java/org/projectnessie/server/config/QuarkusServerConfig.java

[2021-09-08 12:05] AmsterdamFilho opened #20001 "Add a reactive ClientHeadersFactory flavor"
### Description

Currently, org.eclipse.microprofile.rest.client.ext.ClientHeadersFactory is used to intercept calls and add entries in the client request header.

A very common scenario is to integrate with an api that is secured by a token, that is generated by calling a specific endpoint. The current approach does not support this scenario, because it expects a sync response.

We need to suppor

[2021-09-08 12:13] cescoffier commented on #19924
Where is the code handling this in FT?

[2021-09-08 12:59] geoand opened #20002 "Add search to DevUI log-levels pop-up"
### Description

The pop-up that allows a developer to set the log levels from the DevUI is awesome!
But due to the large amount of entries in the pop-up it's hard for users to to zero in on what they about.
To that end, a search bar for package names would go a long way

### Implementation ideas

_No response_

[2021-09-08 12:59] geoand commented on #20002
cc @phillip-kruger

[2021-09-08 13:03] Sgitario opened #20003 "Missing session id in Resteasy Reactive"
### Describe the bug

We're basically missing two bits when using Resteasy Reactive:
1. Session ID in the requests
2. How to programmatically invalidate sessions

With Resteasy + Undertow, in order to invalidate sessions, we could do something like:

[code]

And then, we could get the session ID in the HTTP response. Example using Restassured:

[code]

However, with Resteasy Reactive, this is no l

[2021-09-08 13:10] geoand commented on #20003
Is this something we want to support?

[2021-09-08 13:10] Ladicek commented on #19924
Scattered over a few places, but the most interesting things are probably https://github.com/smallrye/smallrye-fault-tolerance/blob/main/implementation/fault-tolerance/src/main/java/io/smallrye/faulttolerance/AsyncTypes.java and https://github.com/smallrye/smallrye-fault-tolerance/blob/main/implementation/fault-tolerance/src/main/java/io/smallrye/faulttolerance/internal/AsyncTypesConversion.java

[2021-09-08 13:36] michalszynkiewicz commented on #19917
In the dev mode we always start the grpc server.
This is to allow users to start working with empty quarkus app and then add a gRPC service and be able to test it without app restarts.
In my tests, your FlightService says that it is unimplemented. So it doesn't really work in dev mode either.
Is what you observe the same?

[2021-09-08 13:52] ebullient commented on #19979
good catch. Not sure how that happened.

[2021-09-08 13:53] mkouba commented on #19967
Ok, I'm going to close this one. @belu feel free to reopen if needed.

[2021-09-08 13:53] #19967 closed

[2021-09-08 14:05] Ladicek commented on #19931
So I was able to trace this down to what seems like a classloading issue, or maybe bootstrap issue, I don't really know.

What I do know is that during hot reload, the `io.quarkus.runtime.generated.Config` class, which -- among others -- defines the "runtime defaults" config source, is regenerated correctly. As in, the static initializer of the class correctly creates the `HashMap` with all the ri

[2021-09-08 14:24] ahachete commented on #19917
Good to know. Another symptom I observe is that the installed features lists `grpc-server` in `dev` mode, but not in `prod` mode.

No, it is implemented and works for me in `dev` mode. As per the [patch](https://github.com/quarkusio/quarkus/files/7110713/grpc_service_external_proto_dependency.patch.txt) attached in the issue's description, the `FlightService` is implemented as:

[code]

Which shou

[2021-09-08 14:36] geoand commented on #20003
Actually, I am surprised that `javax.servlet.http.HttpServletRequest` is even allowed at the moment.
There is a prototype for supporting Servlets with RESTEasy Reactive, but it's not something we envision will be used widely.

[2021-09-08 14:48] michalszynkiewicz commented on #19917
oh, sorry, I tried ListActions which is indeed unimplemented

[2021-09-08 14:51] michalszynkiewicz commented on #19917
One problem is that the jar you added to index does not contain the gRPC class of our interest, it should be:
[code]

[2021-09-08 14:53] michalszynkiewicz commented on #19917
I see one more thing that is wrong, Dev UI doesn't give an option to send a request to your gRPC service. I'm investigating why

[2021-09-08 14:58] ahachete commented on #19917
Yes, this fixed it, thank you very much.

It's still a bit confusing that I need to index this dependency, as it is not where the gRPC service is implemented (where the `@GrpcService` annotation is). But it definitely works. If this is expected, fine. Yet I expect this could be clarified in the documentation. Let me know if you'd like me to write a small patch for the documentation, I could do tha

[2021-09-08 15:06] michalszynkiewicz commented on #19917
it would be great if you could add this info to the guide, thanks!

With the Dev UI it seems it's kind of expected that what we don't have such a service on the page. We'll see if we can make it work. I'll close this issue.

[2021-09-08 15:15] radcortez commented on #19990
No.

Unfortunately, we have to revert the support of `@ConfigMapping` for Static Init, which is the phase where JAX-RS Providers are initialized.

As you can see in https://github.com/quarkusio/quarkus/pull/19937, this caused some nasty issues, so we had to take the hard decision to revert it and rethink how to do this.

@snazy sorry for the inconvenience, I'll be looking at how we can support thi

[2021-09-08 15:31] sberyozkin commented on #12800
Looking into this issue now

[2021-09-08 16:01] d-led commented on #13621
+1

[2021-09-08 16:51] phillip-kruger commented on #19985
@KaiSuchomel - seems like this is a bug and it happens when there is no port (so 80 for http and 443 for https). For now you can try a workaround by setting this property:

`quarkus.swagger-ui.oauth2-redirect-url=https://smartmom-suite.devalm.gec.io/address-svc/apidocs/oauth2-redirect.html`

You might want to scope this per environment, so for example for prod:

`%prod.quarkus.swagger-ui.oauth2-re

[2021-09-08 17:01] phillip-kruger commented on #19985
Fix in SmallRye: https://github.com/smallrye/smallrye-open-api/pull/906. Will be in SmallRye OpenAPI 2.1.14

[2021-09-08 17:05] #19985 closed

[2021-09-08 17:15] kjq opened #20008 "Upgrading to 2.2.2 - REST resource extending abstract class fail on POST/PUT"
### Describe the bug

Upgrading to 2.2.2.Final REST resources, that worked before with 2.1.4, fail upgrading to 2.2.2 with:

[code]

If I "override" the method in the derived class it will work.

This also seems to be specific with having the generic type and/or a class "body" that is sent over.  Using plain Map (should_run_inherited_method_with_map) works as an example.

Replicator attached.
[upg

[2021-09-08 17:33] cescoffier commented on #19940
@fbricon https://github.com/smallrye/smallrye-reactive-messaging/pull/1398 will fix this issue. It improves the error, documents the `hasRequests`, and prevents exceptions to be thrown when using `@OnOverflow(DROP)`

[2021-09-08 17:48] dufoli commented on #11942
questions:
- is it only for aroundInvoke ? that we call parent class of interceptor if it contain methods ?
- I add add index of method in AroundInvokeInvocationContext because I can not touch to interceptor. Inherited class is not an interceptor so I pass this index to interceptor.intercept through the context because I can not change the signature of method) come from interface. => I am not very

[2021-09-08 18:21] manovotn commented on #11942
That's very good question indeed.
I'd say that according to spec, you can have the same for any interceptor method declared on interceptor class. See also https://jakarta.ee/specifications/interceptors/2.0/interceptors-spec-2.0.html#interceptor_ordering_rules
Though I am not sure I ever saw that used in practice...
Thoughts @Ladicek?

Didn't go too deep into the code as I am preoccupied with other

[2021-09-08 18:41] amitkumar7566 opened #20009 "Quarkus Native Executable build (using Docker) fails"
### Describe the bug

I am trying to build a Quarkus native executable using docker using the following command **`mvn clean package "-Pnative" "-Dquarkus.native.container-build=true" "-Dquarkus.native.container-runtime=docker"`**

Quarkus version: 2.2.2.Final,
Maven version : 3.8.1,
Java version: 11

Here is my **pom.xml**:

`<?xml version="1.0"?>
<project
	xsi:schemaLocation="http://maven.apache

[2021-09-08 18:43] amitkumar7566 commented on #19916
@gsmet

It's not resolved, got back to another error which was coming earlier.

Please refer to issue #20009

[2021-09-08 19:16] patriot1burke commented on #19862
This point is moot now:  Please see this:

https://bill.burkecentral.com/2021/09/08/quarkus-live-coding-and-continous-testing-with-lambda/

[2021-09-08 19:16] #19862 closed

[2021-09-08 19:17] #16975 closed

[2021-09-08 19:19] #16807 closed

[2021-09-08 19:20] #14186 closed

[2021-09-08 19:20] #10628 closed

[2021-09-08 19:25] #14224 closed

[2021-09-08 19:42] geoand commented on #19862
But this issue is for the `@QuarkusIntegrationTest`, no?
In that case, the application is just run via `java -jar ...` and there is no polling enabled.

[2021-09-08 19:46] 0x4a616e commented on #19862
I also read the link you shared and it looks like a cool way for manual testing. Yet, I also wondered how this will affect `@QuarkusIntegrationTest`s or native image tests.

[2021-09-08 19:50] imjuoy commented on #12941
Hi Team,
Any update on this ? Can we expect this to be solved anytime soon?

[2021-09-08 22:47] julio-rocha-coderoad-com commented on #9360
@deepfunction  I had the same issue. The response for 4xx codes were arriving with empty payload to my fallback handler after update quarkus from 1.7.3.Final to 2.1.2.Final

I tried adding an exception mapper and the response arrives as expected there.
`
@Priority(1)
public class MyExceptionMapper implements ResponseExceptionMapper<RuntimeException> {
    @Override
    public RuntimeException toTh

[2021-09-08 23:15] stuartwdouglas commented on #20003
I don't think we want to support this. In general HTTP sessions are not 'cloud native', as by default they are tied to the node, and distributed sessions are complex.

[2021-09-09 00:08] devnet-io commented on #10928
Could I ask when this fix will be applied? The issue is still present in 2.2.2.

[2021-09-09 00:11] gastaldi commented on #10928
@devnet-io can you open a new issue with a reproducer? This is applied since 1.7.0

[2021-09-09 01:04] #20008 closed

[2021-09-09 01:06] stuartwdouglas commented on #19931
This is a duplicate of #17069

[2021-09-09 01:21] rafaeltuelho commented on #16968
I'm noticing this same issue frequently when building a quarkus app using the openshift extension.

[code]

Env:
Quarkus 2.1.0.Final
Openshift 4.7

[2021-09-09 02:35] ebullient commented on #18775
Partially delivered by #19619

[2021-09-09 03:19] rupipal commented on #16968
I'm facing this issue as well.

[ERROR] Failed to execute goal io.quarkus.platform:quarkus-maven-plugin:2.2.1.Final:build (default) on project openshift-quickstart: Failed to build quarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
[ERROR] 	[error]: Build step io.quarkus.container.image.openshift.deployment.OpenshiftProcessor#openshiftBuildFromJar thr

[2021-09-09 04:43] geoand commented on #16968
@iocanel anything we can do to make the openshift build more resilient?

[2021-09-09 05:20] x80486 opened #20013 "Extension for Apache Flink"
### Description

Would be great to run `Apache Flink` jobs with `Quarkus` against a given cluster (job/task manager).

### Configuration suggestion

[code]

### Additional context

_No response_

[2021-09-09 05:46] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1216003721

[2021-09-09 06:38] chris-asl opened #20014 "ServiceConfigurationError "not a subtype" with Maven Failsafe using config. converter"
### Describe the bug

When declaring a custom configuration converter, all the unit tests run fine via the Maven Surefire plugin, but when running the exact same test with the Maven Failsafe plugin it fails with an error.

### Expected behavior

Expected application to load the configuration properly.

### Actual behavior

In contrast, all the tests fail when using the Failsafe plugin (for the int

[2021-09-09 06:54] ambition-consulting commented on #15182
https://dzone.com/articles/thread-local-state-availability-in-reactive-servic

[2021-09-09 07:12] #19979 closed

[2021-09-09 07:21] Ladicek commented on #11942
Agree that the spec is pretty clear in that all kinds of interceptor methods are inherited [from the superclasses of the interceptor class].

[2021-09-09 07:40] MrJustreborn commented on #12260
Is there any update to this?

[2021-09-09 07:43] rsvoboda opened #20017 "CLI commands and sub-commands are listed sort of randomly in help message"
### Describe the bug

CLI commands and sub-commands are listed sort of randomly in help message.

For example `extension` and `registry` have add / list / remove sub-commands but they are listed in different order.

Maybe everything should be alphabetically ordered for simplicity or at least the same sub-commands should have the same order in help

[code]

### Expected behavior

Commands and sub-c

[2021-09-09 08:08] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1215994566

[2021-09-09 08:30] minhdtb1983 commented on #10716
not working with native build

`2021-09-09 15:22:10,892 INFO  [org.hib.rea.pro.imp.ReactiveIntegrator] (JPA Startup Thread: default-reactive) HR000001: Hibernate Reactive Preview
2021-09-09 15:22:10,896 ERROR [io.qua.run.Application] (main) Failed to start application (with profile prod): java.lang.IllegalStateException: 'org.flywaydb.core.internal.scanner.Scanner' is never used in Quarkus
`

[2021-09-09 09:33] dariuszzzlukasik commented on #13621
+1

[2021-09-09 09:34] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1216003372

[2021-09-09 09:36] vincenzocorso opened #20020 "Resteasy interface validation"
### Describe the bug

I have an interface describing a rest api for a service and a class implementing this interface:
The interface is in a separate module from the implementation.

[code]

[code]

When I make a GET request to `/customers?limit=0`, I get a 200 response code. The query parameter is not validated.
Is it a bug or am I doing something wrong?

### Expected behavior

The parameters sho

[2021-09-09 09:43] antonwiens opened #20021 "Resteasy-Reactive Accept Matching should be case insensitive"
Shouldn't matching the accept header values be case-insensitive?

See:
https://github.com/quarkusio/quarkus/blob/2cbd177416f92b9f45abb34b6f01acb8cb0f4eb5/independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/FixedProducesHandler.java#L39

I currently have problems with clients sending "Application/json" in the accept header.

[2021-09-09 09:45] geoand commented on #20021
Interesting.

I'll give it a go and see if the TCK passes.

[2021-09-09 10:12] JWood48 commented on #18065
This is still an issue on 2.2.2.Final...

[2021-09-09 10:12] fsudrot opened #20022 "Mapping configuration to objects mix test and main resources"
**Description**
When you have a list of items in your configuration files (properties or yaml same behaviour) mapped to a list of objects, Quarkus makes a mix between content in src/main/resources/application.properties and src/test/resources/application.properties.
Quarkus version : 2.2.2-Final

**How to reproduce**
I used the code present in : https://quarkus.io/guides/config-mappings.

src/main

[2021-09-09 10:37] xtaixe commented on #18559
[quarkus-reproducer-single-module.zip](https://github.com/quarkusio/quarkus/files/7135765/quarkus-reproducer-single-module.zip) Another reproducer. This time a single Maven module project (in case multi module was the issue). Same result...

@stuartwdouglas @geoand, before I give up on this, the reproducer is really simple, any chance you could take a look? Otherwise, is there a better chance that

[2021-09-09 11:34] michalszynkiewicz commented on #17084
@hantsy do you still see this problem with 2.2?

[2021-09-09 11:39] michalszynkiewicz opened #20024 "Support `Multi<Byte>` and `Multi<byte[]>` for octet stream in Rest Client Reactive"
### Description

REST Client Reactive should be able to parse binary data to `Multi<Byte>` and/or `Multi<byte[]>` (where one batches of bytes roughly correspond to chunks of HTTP data)

CC @cescoffier

### Implementation ideas

_No response_

[2021-09-09 11:59] #19966 closed

[2021-09-09 12:11] hbelmiro opened #20025 "The project created in the guide "USING KOGITO TO ADD BUSINESS AUTOMATION CAPABILITIES TO AN APPLICATION" has a build failure"
### Describe the bug

When we create a project following the step-by-step from [USING KOGITO TO ADD BUSINESS AUTOMATION CAPABILITIES TO AN APPLICATION](https://quarkus.io/guides/kogito) and run `./mvnw clean compile quarkus:dev`, the build fails with the following exception:

[code]

I've found that Kogito is not creating the org/drools/project/model/ProjectRuntime.java file.
That happens because

[2021-09-09 12:35] kjq opened #20027 "@PathParam does not work with REST Reactive Client when mixed with BeanParam"
### Describe the bug

Using the @BeanParam in a Reactive REST client does not appear to work.  @BeanParams work fine in regular REST methods.

[code]

Because I've hit a couple odd ones before due to naming I changed my reproducer to use a generic name just to make sure and I get the same error.

Reproducer attached:
[beanparam.zip](https://github.com/quarkusio/quarkus/files/7136490/beanparam.zip)

[2021-09-09 12:36] antonwiens commented on #20021
I would also suggest changing the WebapplicationException to a ClientErrorException, to match similar errors.

[2021-09-09 12:39] geoand commented on #20021
That should not have any effect anyway because we pass the Response into `WebApplicationException` anyway

[2021-09-09 12:39] wernert75 commented on #19878
The problem persists. See #19989

[2021-09-09 12:40] evacchi commented on #20025
I think this is still using the deprecated rule flow group @mariofusco

[2021-09-09 12:47] antonwiens commented on #20021
I was just wondering about it, because it should be a client error and the WebApplicationException does not get handled by ExceptionMappers which handle ClientErrorExceptions. Wrong Content-Types also get reported as ClientErrorExceptions.

This would add more consistency in my opinion, but is of course not related to the issue at hand.

Thanks for caring about this issue, btw.

[2021-09-09 12:48] ebullient commented on #20017
They aren't "random". This is a deliberate order (at the gross level).

I can see how the difference between list/add/remove for extensions vs. registries would be annoying, but for the rest, there is a deliberate order. I'll make a few adjustments nonetheless.

[2021-09-09 12:59] #20000 closed

[2021-09-09 13:06] geoand commented on #19989
This was fixed by https://github.com/quarkusio/quarkus/pull/20010.
This issue is essentially a duplicate of #20008

[2021-09-09 13:06] #19989 closed

[2021-09-09 13:07] patriot1burke commented on #19862
Again, check out my PR (in main now).  The poll loop is now ALWAYS started in test and dev mode now for JVM mode.  Quarkus automatically starts a mock event server which you can post requests to via HTTP and the poll loop queries the mock event server for new events.  In native mode, this mock event server is also always started.  (The mock server is a quarkus "Dev Service").

For previous version

[2021-09-09 13:10] wernert75 commented on #19989
👍 Thanks a lot!

[2021-09-09 13:13] patriot1burke commented on #19862
We could make a switch to turn on the poll loop, but IMO, this defeats the purpose of  @QuarkusIntegraionTest as the quarkus poll loop will not run when deployed in a real Lambda environment