[2022-05-12 07:39] knuspertante commented on #23998
I run in the same issue with lambda...

You must provide a libm.so.6 file in zip.native under resources folder (See: https://quarkus.io/guides/amazon-lambda#modifying-function-zip)

If your host system isn't linux you could get the libm.so.6 file from docker as described here: https://quarkus.io/guides/amazon-lambda#additional-requirements-for-client-ssl

[2022-05-12 07:44] cescoffier commented on #25110
I cannot really tell. My plate is full at the moment, so it will have to wait until I'm done with one of my tasks. Hopefully end of June should be fine.

Of course, if someone beats me, it's all fine.

[2022-05-12 07:45] knuspertante opened #25526 "Add property to disable link-at-build-time at graalvm version 22.1 native-image build (Since Quarkus version 2.8)"
### Description

Hey,

since Quarkus Version 2.8 - GraalVM 22.1 is used and therefore link-at-build-time is added as default parameter. (See: https://github.com/quarkusio/quarkus/pull/24213)

But currently I don't know any way to disable or remove this parameter.

### Implementation ideas

_No response_

[2022-05-12 07:46] felixosth commented on #23998
So you managed to fix it with libm.so.6 only? I remember troubleshooting by adding libz, libfreetype, libfontconfig and libpng16 but that didn't work.

[2022-05-12 07:58] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/2311329986

[2022-05-12 07:59] knuspertante commented on #23998
Ah sorry, I only read your stacktrace. Sure I also provide some additional libs like libz2, libexpat, libfreetype, libfontconfig, ...

Did you use Amazon Linux 1 or 2?

The error is because libm use a newer version of libz.

I managed this, that I tell the lambda (through environment properties) to preload the provided libz.

JAVA CDK-Script:
[code]

[2022-05-12 08:16] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2311309476

[2022-05-12 08:21] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2311309476

[2022-05-12 08:34] Karm commented on #25519
@geoand I took a look at the [building-native-image.adoc#L275](https://github.com/quarkusio/quarkus/blame/main/docs/src/main/asciidoc/building-native-image.adoc#L275), but I don't know how to explain there why in one case `-Dquarkus.test.native-image-profile=test` is O.K. and in another it is not and you have to do `-Dquarkus-profile=test`. It doesn't feel right.

If you could take a look at this

[2022-05-12 08:47] softmetz commented on #25517
Thank you. I ported it to reactive and then the error message was somewhat clearer:

`Caused by: org.eclipse.microprofile.rest.client.RestClientDefinitionException: org.jboss.resteasy.reactive.client.api.InvalidRestClientDefinitionException: Failed to generate client for class interface com.foobar.FooRestAPIClient : Sub resource type is not a class: java.util.List`

In the end I forgot to add `@GE

[2022-05-12 09:13] geoand commented on #25519
This is a tricky one, but it comes down to the fact that unless otherwise specified (i.e. `-Dquarkus.profile` is set at **build time**), the native image binary is built with the `prod` profile.
So when `mvn verify -Dquarkus.test.native-image-profile=test` is used, the application is built with the prod profile, which in turn leads to `import-dev.sql` not being included in native image.
When the a

[2022-05-12 09:21] sberyozkin commented on #25516
@pigg I think this test is not correctly setup. The test should not deal with adding the providers, see https://github.com/quarkusio/quarkus/tree/main/integration-tests/bouncycastle-fips-jsse. BC FIPS on its own is not sufficient.

[2022-05-12 09:22] #25503 closed

[2022-05-12 09:45] ebullient commented on #25522
Should be able to add this right now via quarkiverse (as with other meter registry types). PR is welcome, creating a new one is pretty easy. ;)

https://github.com/quarkiverse/quarkus-micrometer-registry/blob/main/CONTRIBUTING.md

[2022-05-12 09:52] Karm commented on #25519
@geoand Ah, it all clicked together now. I have this in my CI that deploys to a server:

[code]

I know enough to update the doc now.  Thx.  :+1:

[2022-05-12 09:52] geoand commented on #25519
🎉

[2022-05-12 10:04] sberyozkin commented on #25516
@pjgg BC FIPS TLS and BC FIPS providers should be added by Quarkus - if the test does it then it is not a Quarkus issue that a BC related problem occurs so please update the tests. BC FIPS TLS native issue is here: #14139

[2022-05-12 10:54] sberyozkin commented on #24790
Please try https://quarkus.io/guides/security-built-in-authentication#how-to-customize-authentication-exception-responses

[2022-05-12 11:19] jkbbwr commented on #25502
I get a weirdly similar issue with trying to do it from scheduler

[code]

[2022-05-12 11:23] jkbbwr commented on #25502
And while doing it in a blocking way as well. It seems coroutines and the vertx context just don't seem to play nicely at all

[2022-05-12 11:35] pjgg commented on #25516
Thank you @sberyozkin you are right. I confirm that is working as expected when you are running your test with `@QuarkusTest`

TD: https://github.com/quarkus-qe/quarkus-test-suite/pull/638/files#diff-c69fb23355257bfc5616b07d21360f579d59d2db81c28767efb5c5d1319dc47fR40

[2022-05-12 11:35] #25516 closed

[2022-05-12 12:10] glefloch commented on #25515
Thanks for reporting this @mbchangellc, I will have a look at this.

[2022-05-12 12:13] zakkak commented on #25526
Hello @knuspertante,

This is something that Quarkus wouldn't want to encourage.
Could you please explain why that option is important to your use case?

One way to disable the `--link-at-build-time` flag is by creating a `NativeImageAllowIncompleteClasspathBuildItem` as in https://github.com/quarkusio/quarkus/blob/3f9bf7ba99c15032ba9c46c83d5f5f2579bca612/extensions/jdbc/jdbc-oracle/deployment/src

[2022-05-12 13:03] matejvasek commented on #24860
@geoand I know it's logical consequence that test fail, but at least could it fail with better message? For example: `Bad Exec Format`.

[2022-05-12 13:05] geoand commented on #24860
Yeah, that makes sense

[2022-05-12 13:18] sberyozkin commented on #23967
Hi @Karm @pjgg Can you please try these 4 BC integration tests against the latest Quarkus, 2.8.3.Final or 2.9..Final, in native/JVM ?

@Karm according to your results all but BC JSSE tests failed in JVM mode. but `BC FIPS JSSE` passes. So the fact it is RHEL FIPS, does not affect it `BC FIPS JSSE`, as well as `BC` and `BC FIPS`.

But all of these tests fail in native. `BC FIPS JSSE` does not work

[2022-05-12 13:24] geoand commented on #24860
https://github.com/quarkusio/quarkus/blob/2.9.0.Final/test-framework/common/src/main/java/io/quarkus/test/common/DefaultNativeImageLauncher.java#L112 is where the change would need to go for anyone interested

[2022-05-12 13:53] petarminchev opened #25536 "Websocket @ServerEndpoint - have a way to retrieve http headers"
### Description

I have the simple need to access the http headers, so I can retrieve user-agent, ip, etc... of the incoming request.
These properties are inside **HandshakeRequest** object, which I have no access to inside my @**ServerEndpoint** class.

One of the options mentioned in Java docs is to configure a custom **Configurator** and grab the headers inside this method:
**public void modify

[2022-05-12 13:54] #25437 closed

[2022-05-12 14:06] ElBlokko opened #25538 "UnresolvedElementException in simple lambda function"
### Discussed in https://github.com/quarkusio/quarkus/discussions/25497

<div type='discussions-op-text'>

<sup>Originally posted by **ElBlokko** May 11, 2022</sup>
Hello, I've created my next native lambda function and for some reason I get error
`Error: com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved field during parsing: com.fasterxml.jackson.databind.Ser

[2022-05-12 14:10] MartinSem commented on #9986
Hi,
i have the same issue using quarkyus 2.8.2, 2.8.3 and 2.9.0.

my pom
`  <properties>
    <compiler-plugin.version>3.8.1</compiler-plugin.version>
    <failsafe.useModulePath>false</failsafe.useModulePath>
    <kotlin.version>1.6.21</kotlin.version>
    <maven.compiler.release>11</maven.compiler.release>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <project.reporti

[2022-05-12 15:00] u6f6o commented on #19359
@shakuzen : I tried to build our service with the dev build you mentioned and the cpu spikes vanished:
![image](https://user-images.githubusercontent.com/1176370/168105870-3f7b7aef-66b4-4fd5-b215-852ee387f8a3.png)

[2022-05-12 15:22] #23292 closed

[2022-05-12 15:47] matejvasek commented on #24860
@geoand what about:
[code]
The output then is:
[code]

[2022-05-12 16:01] xstefank commented on #23558
I will look into this.

[2022-05-12 16:05] fabrii opened #25540 "Custom authentication and elytron-security-properties-file for specific endpoint not working as expected"
### Describe the bug

I have a service with an api rest that has a custom filter for authentication.
I also want that service to expose the logging manager, only for admins.

Dependencies:

[code]

Application.properties:

[code]

Endpoint

[code]

The /q/loggin-manager auth works as expected. When I try to access the URL, the basic authentication dialog appears.
The problem is that when I try to

[2022-05-12 16:34] sberyozkin commented on #25540
@fabrii But you have a role `auth` assigned to a user in the properties but `ROL1` is expected so it is `403`

[2022-05-12 16:36] fabrii commented on #25540
Yes, but I want that user to only consume the  /q/logging-manager/* endpoint.

The rest of the endpoints have their custom authentication filters, using JWT.

[2022-05-12 17:15] sberyozkin commented on #25540
In general you can use custom pre-match JAX-RS authentication filters only if you disable the proactive authentication but in this case it is better to represent it as an `HttpAuthenticationMechanism`

[2022-05-12 20:28] glefloch commented on #20452
Not yet, I haven't had time to go deeper on this.

[2022-05-12 20:47] sberyozkin commented on #25540
@fabrii Thanks for the clarifications, good you've made some progress, in the future, if you'd like, you can add a custom mechanism like this one: https://quarkus.io/guides/security-customization#httpauthenticationmechanism-customization

In your case you'd not need to delegate, you'd just return something directly from it.

Sorry, I got confused, the point about the proactive authentication is re

[2022-05-12 22:22] fabrii commented on #25540
Thank you for the explanation! :smiley:

[2022-05-12 22:22] #25540 closed

[2022-05-13 00:02] cdmikechen commented on #23804
@RuggeroDAlo
How do you deal with this problem in current quarkus version?
Because the interface in my project is reusable, I added a local `RestClient` in order not to rewrite codes (The original codes has a rest api). Every time I consume kafka messages (messages in kafka are CDC transmitted through debezium, and the new frequency of the table is within a controllable range), I will call my expo

[2022-05-13 00:06] cdmikechen commented on #23804
In my case, I have a service that handles many `hibernate-reactive` transactions using reactive panache (taged with @ReactiveTransactional). The consumed messages are basically blocked at the first hibernate query.

[2022-05-13 04:20] guoxunbo commented on #7193
mark. same problem with this. @verision is not available in `merge()` method.
I am had tried with this `merge` mthod. but it does not throw `OptimisticLockException`.
<img width="855" alt="image" src="https://user-images.githubusercontent.com/14329149/168210536-2d61f7af-f534-4b8b-a14e-acce06b9e704.png">

[2022-05-13 04:27] guoxunbo commented on #7193
any update related to this merge issue? We're facing the same issue？

[2022-05-13 04:33] shakuzen commented on #19359
@u6f6o thank you for quickly trying that out. I think that hopefully confirms this will be fixed in the 22.2 GraalVM release, which is [scheduled for](https://www.graalvm.org/release-notes/version-roadmap/) July. If it is important to fix this without the [above mentioned workaround](https://github.com/quarkusio/quarkus/issues/19359#issuecomment-1124051509) prior to the 22.2 release, I would recom

[2022-05-13 05:31] geoand commented on #24860
That works too

[2022-05-13 05:58] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/2317564066

[2022-05-13 06:04] u6f6o commented on #19359
I am personally fine with the 2nd workaround for the time being as our k8s setup also publishes these metrics on pod and instance level. Thus leaving these out does no harm in our case.

[2022-05-13 07:30] ia3andy commented on #588
Quinoa 1.0.0 has been released. We now have a elegant integrated way to deal with web framework:
https://github.com/quarkiverse/quarkus-quinoa

1.0.0 will soon be available on code.quarkus.io, until then you can just add the dependency.

[2022-05-13 07:30] #588 closed

[2022-05-13 07:42] iskhakovt opened #25549 "grpc-service doesn't start in native binary"
### Describe the bug

Native binary doesn't start grpc-server if its interface is generated outside of quarkus.

### Expected behavior

`@GrpcServer` annotation should be enough to run grpc-server. For example, protoc generation may happen in a separate sub-project.

### Actual behavior

grpc-server doesn't start in native image, but does start in jvm build.

### How to Reproduce?

For simplicity,

[2022-05-13 07:56] omar-zahid opened #25551 "Panache reactive native application error (vert.x-event-loop-thread-1) on official Hibernate reactive quickstart production deployment."
### Describe the bug

Occasional/often making an HTTP call to `/fruits` results in server error. Sometimes the app works but mostly will crash.

### Expected behavior

Request to `/fruits` should give a list of fruits.

### Actual behavior

Server error with timeout.

[code]

### How to Reproduce?

Reproducer: https://github.com/quarkusio/quarkus-quickstarts/tree/main/hibernate-reactive-quickstart

[2022-05-13 08:36] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2317564865

[2022-05-13 08:39] fkeichfe opened #25554 "Newline in Response-Header causes RestEasy-Service to hang forever"
### Describe the bug

I have just downloaded the minimal project pom.xml from Quarkus with quarkus-resteasy-dependency.

This small modification causes the GreetingService to hang forever when called:

`
@GET
    @Produces(MediaType.TEXT_PLAIN)
    public Response hello() {
        return Response.ok("Hello RESTEasy").header("MY_HEADER", "a\nb").build();
    }
`
When I omit the newline-character f

[2022-05-13 08:51] knuspertante commented on #25526
Hi @zakkak,

thx for the fast reply.

When I want to build a native-image with --link-at-build-time I got the following error.

[code]

With the following code, I only can provide a quarkus extension or?
[code]

Do you have another idea how I can solve my problem?

[2022-05-13 08:52] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2317564865

[2022-05-13 09:21] zakkak commented on #25526
This looks like a classpath issue that you should not "work around".

The error essentially says that GraalVM fails to find 2 constructors from `net.sf.oval:oval` (while loading other methods just fine), and 1 constructor from `ucar.nc2:grib` (while loading other methods just fine). This behavior makes me think that either:
1. there is something wrong with the classpath
2. or there is a GraalVM bu

[2022-05-13 09:30] alexeysharandin opened #25556 "JDBC Sqlite driver"
### Description

Quarkus support H2 embedded database but w/o native mode.
People asked to support native because it's somethimes required but it's not done yet by some reason.

In this case I propose to use java sqlite implementation.
Links to java implementation and quarkus extention for sqlite available below.

### Configuration suggestion

_No response_

### Additional context

Java implementa

[2022-05-13 09:36] zakkak commented on #25526
So it looks like a GraalVM regression since in 22.0 `--link-at-build-time` was the default. A reproducer would be great. Thanks @knuspertante !

[2022-05-13 09:40] Karm commented on #25554
@fkeichfe Could you elaborate more on what you are trying to achieve?
The header you are sending back is illegal. There must be a space or a tab after the '\n' char...and that would still be probably considered illegal by modern clients.

https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.4

[2022-05-13 09:43] zakkak commented on #25501
I tried this with Quarkus 2.9.0.Final and 22.0 and it works as expected, while with 22.1 it fails. So as a first step @gsmet we might want to reconsider the backport of https://github.com/quarkusio/quarkus/pull/25366 to 2.9.1

[2022-05-13 09:56] fkeichfe commented on #25554
Thanks for the RFC link, I strongly suspected that linebreaks in header values are not allowed. I only checked the JAX-RS specification and Javadoc for any indications.
But I think it would be a better solution to throw an IllegalArgumentException or something else to indicate an illegal usage than to block forever, or how do you think about it?

[2022-05-13 10:03] fkeichfe commented on #25554
Ok, I am still using quarkus-resteasy, not quarkus-resteasy-reactive...

[2022-05-13 10:18] geoand commented on #25554
We will be putting most of our effort into RESTEasy Reactive going forward.
If you want this fixed in RESTEasy Classic, I propose you open an issue in the RESTEasy repository.

[2022-05-13 10:18] #25554 closed

[2022-05-13 10:20] geoand commented on #25551
What kind of request are you making to the application when you see it crashing?

The error strongly suggests that the requests are not what you expect...

[2022-05-13 10:25] anisharoofi opened #25558 "Elastic search connection using oidc client"
### Describe the bug

In our application we want to connect to elastic search using oidc client but as I see only support for basic auth has been provided. I wanted to know if there is any other way to connect to elastic search using oidc client.

### Expected behavior

Connects to Elastic search using oidc client

### Actual behavior

Only basic auth is supported

### How to Reproduce?

https://q

[2022-05-13 10:42] pjgg commented on #25098
This issue could be closed. Is not related to Quarkus itself. We had several issues with our application:
1. [producers](https://quarkus.io/guides/cdi-reference#simplified-producer-method-declaration) by default are "sessionScope/request" scope as you can see on this [doc](https://docs.jboss.org/weld/reference/3.1.9.Final/en-US/html/producermethods.html#_scope_of_a_producer_method), so in our case

[2022-05-13 10:44] zakkak commented on #25526
So does it break **with** 22.0 and **without** `--allow-incomplete-classpath`?

[2022-05-13 11:02] omar-zahid commented on #25551
@geoand It's a standard `GET` request on route `/fruits`. What do you think the problem might be about. Is it related to Azure App Service?

[2022-05-13 11:04] zakkak commented on #25501
I tried this with Quarkus 2.9.0.Final and 22.0 and it works as expected, while with 22.1 it fails. So as a first step @gsmet we might want to reconsider the backport of https://github.com/quarkusio/quarkus/pull/25366 to 2.9.1.

The issue is already reported upstream as well https://github.com/oracle/graal/issues/4543

[2022-05-13 11:04] geoand commented on #25551
From the logs you posted, it is clear that the requests are **not** `GET` requests to `/fruits`. A network capture would be useful, but in any case this is not a Quarkus issue, or else we would have seen a huge numbers of similar reports

[2022-05-13 11:04] #25551 closed

[2022-05-13 11:07] Karm commented on #25551
@omar-zahid I'd try to log what is hitting the app exactly. There might be some Azure monitoring tool trying to touch your endpoints in a way you didn't expect.

[2022-05-13 11:15] omar-zahid commented on #25551
Thanks @geoand @Karm I'll close this issue and take a look at Azure and see what's going on there.

[2022-05-13 11:41] maxandersen commented on #25484
Yup. Thought I already did.

[2022-05-13 11:59] judalabs commented on #6004
Same to me! :cry:

[2022-05-13 12:22] loicmathieu commented on #25501
I think I understand what's going on.

Google native image support have this dependency:
[code]

It's provided but as we switch to the new artifact `org.graalvm.sdk:graal-sdk:jar:22.1.0:compile` the Google support may not work correctly.

I'll open an issue on there side for us to migrate to the new artifact.

[2022-05-13 12:22] loicmathieu commented on #25501
They are aware of the issue at Google side and someone already report it for Camel Quarkus, see https://github.com/GoogleCloudPlatform/native-image-support-java/issues/393

[2022-05-13 12:31] Karm opened #25562 "AWT tests: test_jpeg.tiff test affected by JDK-8274735, JDK 17.0.4 EA"
### Describe the bug

The decoding of a JPEG compressed image within TIFF container used to throw an `Unsupported Image Type` exception.
The image was valid, not produced by a ImageMagic+Radamsa fuzzer, but a manually crafted in GIMP.

It seems that [JDK-8274735](https://bugs.openjdk.java.net/browse/JDK-8274735) fixes that and `test_jpeg.tiff` can be decoded now and that makes the test suite fail

[2022-05-13 12:44] zakkak commented on #25501
@loicmathieu there is no switch from `org.graalvm.nativeimage:svm` to `org.graalvm.sdk:graal-sdk:jar` we still need both, but the former is not released for 22.1.0 yet (see https://github.com/oracle/graal/issues/4518) so that's why we are stll using 22.0.0.2 for that artifact.

This, however, shouldn't cause any issues (see https://github.com/quarkusio/quarkus/pull/25366#issuecomment-1118442705).

[2022-05-13 12:57] loicmathieu commented on #25501
@zakkak thanks, I mis-understood it. This will be a blocker for Quarkus 2.10 platform release.

[2022-05-13 13:43] michalszynkiewicz commented on #25549
Does the jar that brings in the java interface have a jandex index?

[2022-05-13 14:05] r41318 opened #25563 "@ReactiveTransactional support Kotlin suspend function"
### Description

I use quarkus with kotlin suspend function to write the reactive programming.

When I try to use quarkus-hibernate-reactive-panache and make the method in a transaction boundary by using `@ReactiveTransactional` like this

[code]
https://github.com/aotter/quarkus-examples/blob/8f4292c7ac0f4a2af70836d7bcbc28f04902b6e4/hibernate-reactive-panache-quickstart-kotlin/src/main/kotlin/net

[2022-05-13 14:07] sberyozkin opened #25564 "DevServices for Keycloak is failing to start with a TestContainer issue"
### Describe the bug

I've tried to start `quarkus-quickstarts/security-openid-connect-quickstart` in dev mode, and saw:
[code]

Similar to #4317

Eventually I've found #25473 and I have confirmed that commenting out the block in `core/runtime/pom.xml` loading testcontainers as parent first fixes it.

CC @ejba

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Re

[2022-05-13 14:15] sberyozkin commented on #25564
There are a couple of DevServices for Keycloak based tests on main but they don't fail, for some reasons I see it in the quickstarts only, `development` branch

[2022-05-13 14:21] ejba commented on #25564
cooking a MR!

[2022-05-13 15:38] tsaarni commented on #15926
I'm also interested in this feature.

I think this could be enabled by [vert.x](https://github.com/eclipse-vertx/vert.x). I've submitted PR https://github.com/eclipse-vertx/vert.x/pull/4372 to resolve issue https://github.com/eclipse-vertx/vert.x/issues/3780. I only implemented PEM files so far, not key stores, but I think same approach applies for key store files as well.

If the feature could be

[2022-05-13 16:09] aloubyansky commented on #8242
I implemented support for it in https://github.com/aloubyansky/quarkus/tree/test-classpath-excludes
Basically, it reads the `classpathDependencyExcludes` and adds them to the `WorkspaceModule`. Then in the app model resolver  the exclusions are applied.

It's not complete though. Currently, we don't differentiate between unit tests and integration tests when bootstrapping the app, we simply check

[2022-05-13 16:09] aloubyansky commented on #8242
Also fyi @famod

[2022-05-13 16:40] jskillin-idt opened #25567 "Gradle extension plugin suggests incorrect DSL update when the deployment extension is not found"
### Describe the bug

This code in [QuarkusExtensionPlugin.java](../tree/2.8.3.Final/devtools/gradle/gradle-extension-plugin/src/main/java/io/quarkus/extension/gradle/QuarkusExtensionPlugin.java) fires when the Gradle plugin runs in the "runtime" module and cannot find the "deployment" module:
[code]
It should instead suggest "deploymentModule" because further up in the same method it is actually

[2022-05-13 16:40] faskan commented on #24860
@matejvasek the message will definitely help a user to understand the problem. But I am not sure if this would be a good user experience.

I think the documentation https://quarkus.io/guides/building-native-image#container-runtime should also be corrected accordingly. It should simply say that "quarkus build --native -Dquarkus.native.container-build=true" works only on a Linux machine. For Mac or

[2022-05-13 16:44] RuggeroDAlo commented on #23804
@cdmikechen luckily for me my use of panache was very limited, I just stopped using it and use hibernate reactive.

[2022-05-13 17:05] jskillin-idt opened #25569 "Gradle extension terminology is confusing: conditional dependencies vs dependency conditions"
### Describe the bug

The [conditional extension documentation](https://quarkus.io/guides/conditional-extension-dependencies) makes reference to "conditional dependencies" and even has a header for it, yet the term "dependency condition" is not properly defined, even though it is used in the Maven pom.xml and in the Gradle DSL.

Normally I don't make a big deal over strange naming, but in this cas

[2022-05-13 18:34] jie-huang opened #25570 "ClassLoader cannot load non-static resource"
### Describe the bug

1. Just create a normal Quarkus project with grade
2. Using grade to create a properties file by adding below codes into build.gradle
[code]
3. Add a file resources/main/static.properties with content "static_key=static value"
4. Try to access the files
[code]
5. run the project `Quarkus dev`

Expected: both /static and /dynamic should work correctly
Result: /static works cor

[2022-05-13 20:03] glefloch commented on #25567
Nice catch it used to named deployment artifact in the past. I will rename it.

[2022-05-13 20:50] ebullient commented on #19359
I'll close this, as the issue is fixed w/ GraalVM 22.2, and there are several noted workarounds.

[2022-05-13 20:50] #19359 closed

[2022-05-13 21:15] michalvavrik commented on #10376
@mkouba imho there are 2 ways:

- If you insist on adding Locator via `@Observes EngineBuilder engineBuilder` then event is never going to be emitted during the build time, therefore `TemplateLocator` can't be validated during the build time. Should we move validation for custom locators to runtime then?
- New annotation is introduced that qualifies a `TemplateLocator`, e.g. `@RegisterLocator`. In

[2022-05-14 02:09] lost4git opened #25573 "How to customize length of Websocket session id in quarkus?"
I want to know the way to customize Websocket session ID in quarkus

[2022-05-14 02:13] #25573 closed

[2022-05-14 02:18] lost4git commented on #25573
the question was moved to https://github.com/quarkusio/quarkus/discussions/25574

[2022-05-14 08:12] iskhakovt commented on #25549
@michalszynkiewicz looks like no

[code]

[2022-05-14 15:35] mschorsch commented on #25462
I don't think this ist a bug per se. In Resteasy exists a flag called `resteasy.wider.request.matching` to disable the described behaviour.

https://docs.jboss.org/resteasy/docs/4.7.2.Final/userguide/html_single/index.html

So i think the behaviour ist spec compliant, but somtimes surprising.

[2022-05-14 15:41] geoand commented on #25462
According to @sberyozkin this is allowed per spec (I have to admit, that I have not seen this myself)

[2022-05-14 16:39] mun711 commented on #14729
Opened a wip pr for the changes  ( https://github.com/quarkusio/quarkus/pull/25578) , currently it's a bit different from the suggestions mentioned above:
- Didn't add multiple hibernate search cards per persistence unit, but rather added multiple tables on the page referenced by the card (it seems that this kind of grouping is used for other cards that display some multi pu data)
- regarding the

[2022-05-14 18:39] mweber03 commented on #25269
@gsmet @radcortez ?

[2022-05-14 18:45] c-classen opened #25580 "Commas in Headers with AWS Lambda"
### Describe the bug

When you are dealing with headers that can have commas in their value, such as Access-Control-Request-Headers, the Lambda Handler seems to interpret them as different header values which causes CORS to not work correctly.

### Expected behavior

When executing the curl
[code]
the following header is returned
[code]

### Actual behavior

The following header is returned
[code]

[2022-05-14 20:15] Postremus commented on #24962
Hi @FroMage,
I can not reproduce this in any way I have tried.
* different quarkus version (2.7.0, 2.8.0, 2.9.0)
* beanparams, beanparams with parent classes, the WebAuthnLoginResponse from webauthn
* Having a custom paramconverter in the same project

Could you please give more details on how this can be reproduced?

[2022-05-14 20:50] clara0 opened #25581 "Use short-circuit operators when possible"
### Description

Short-circuit operators don't check the second condition if the value of first one already determines whether the whole statement is true/false, meaning they are more efficient.

- ClassScanResult:
`ret.compilationHappened = m1.compilationHappened | m2.compilationHappened;`
- ResteasyViolationExceptionMapper:
[code]

However, the second condition in the if statement for ResteasyVi

[2022-05-14 22:23] InfoSec812 commented on #9052
What about Pagination on **non-Panache** data?

[2022-05-15 14:24] ylepikhov commented on #25089
What do you mean? Latest release (2.9.0.Final) does not have Custom emitters support yet.

[2022-05-15 14:51] gsmet commented on #25501
Can we work around it? Because I doubt we will have a fix in GraalVM by then and AFAICS it should just be about making a class runtime initialized?
I certainly don't want to go back to 22.0 for 2.10.

[2022-05-15 15:35] cescoffier commented on #25089
You will need to build Quarkus "main" branch.

[2022-05-15 15:48] cescoffier commented on #25318
No, it looks correct. That's the "bare" gRPC API. I agree, it's not the easiest to use.
See https://www.baeldung.com/java-grpc-streaming#3-bidirectional-streaming as an example.

[2022-05-15 20:39] #25567 closed

[2022-05-15 20:48] dwamara opened #25588 "Use a particular field of a Class as CacheKey"
### Description

I have a method having an Class as parameter. The documentation says the following
- If the method has no arguments, then the cache key is an instance of io.quarkus.cache.DefaultCacheKey built from the cache name.
- If the method has exactly one argument, then this argument is the cache key.
- If the method has multiple arguments but only one annotated with @CacheKey, then this an

[2022-05-16 04:05] kdubb commented on #4817
@sberyozkin Any chance we can resurrect this? I'm willing to pitch in as we'd like to use UMA in one of our Quarkus services.

[2022-05-16 04:19] kdubb commented on #4817
@sberyozkin FYI, like @carlosthe19916 I was following the `app-authz-uma-photoz` example. In my case I seem to be able to create "Resources owned by a user" just fine using an injected `AuthzClient`.

My issue is that when requesting the `grant_type=urn:ietf:params:oauth:grant-type:uma-ticket` token it returns an `access_denied` error (with description `not_authorized`).

[2022-05-16 05:33] geoand commented on #25570
Please attach a sample project that exhibits this behavior.

Thanks

[2022-05-16 05:51] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/2329820661

[2022-05-16 06:11] geoand commented on #25588
Hi,

Thanks for reporting. Although I see the rationale behind this, I would like to see some real world examples of what you have in mind. Mind adding some?

[2022-05-16 06:21] gwenneg commented on #25588
This may be possible with https://github.com/gwenneg/quarkus/pull/209 which I really need to finish 😃

[2022-05-16 06:35] dwamara commented on #25588
Sure because I have need of this feature all the time :-) most of all for updates : I normally put object in the cache when I do a GET with only a "code" as parameter, using that "code" as the cache key. It works fine.
When I want to do an update, I pass a form with different properties and one of the properties is the "code" (I don't like to use RestForm because a form could have 6 or 10 properti

[2022-05-16 06:37] geoand commented on #25588
Sort of, but some pseudo code would also be very helpful :)

[2022-05-16 06:42] geoand commented on #25499
Seems reasonable. @maxandersen WDYT?

[2022-05-16 06:45] PhilippParis opened #25591 "[resteasy-reactive] unrecognized configuration key "quarkus.security.jaxrs.deny-unannotated-endpoints""
### Describe the bug

when using `resteasy-reactive` in combination with the configuration `quarkus.security.jaxrs.deny-unannotated-endpoints` quarkus prints an "unrecognized configuration key" warning on startup
altough the configuration is recognized and works as expected.

when using resteasy-classic, no such warning is printed

### Expected behavior

quarkus starts without "unrecognized config

[2022-05-16 06:46] maxandersen commented on #25556
Definitely interesting and worth introducing in quarkiverse.

Not sure sqlite is sql Compliant enough to standin for h2 but SQLite databases are everywhere especially on smaller devices so good fit for quarkus.

[2022-05-16 06:47] geoand commented on #25330
So basically our Service isn't being loaded because `org.jboss.resteasy.client.jaxrs.internal.ResteasyClientBuilderImpl` is being picked up? If so, where is that coming from?

[2022-05-16 06:47] maxandersen commented on #25499
Hmmm - doesn't this end up conflicting with kuberneteS/openshift owner ids?

[2022-05-16 06:48] geoand commented on #25499
According to the proposal, we wouldn't change the user ids, we'd just run `RUN adduser -u 1001 appuser` to make sure the user exists.

[2022-05-16 06:50] alexeysharandin commented on #25556
Yes, and native-image support provided by library out of the box - https://github.com/xerial/sqlite-jdbc/tree/master/src/main/resources/META-INF/native-image/org.xerial/sqlite-jdbc
From the Quarkus perspective - need only create quarkus JDBC extention(copy from my repo) and support one.

It's will be interesting for small devices or for some local/configuration storages in microservices apps.

[2022-05-16 07:03] cescoffier commented on #25549
I need to check, but a @GrpcService without any interface may not be valid.
Also, the "other" module must be jandexed, if not Quarkus cannot find the gRPC classes and will not register them in the native image.

Try to jandex the other module and if it still does not work, please provide a reproducer using that extra module.

[2022-05-16 07:04] #25318 closed

[2022-05-16 07:04] #25098 closed

[2022-05-16 07:05] cescoffier commented on #24350
Closing, see comments.

[2022-05-16 07:05] #24350 closed

[2022-05-16 07:08] maxandersen commented on #25499
As long as we can verify It still works in openshift It's fine.

I.e. take particular notice of https://docs.openshift.com/container-platform/4.2/openshift_images/create-images.html section of "support arbitrary user ids"

[2022-05-16 07:09] cescoffier commented on #25453
As @jponge said, Mutiny itself does not and won't have any opentelemetry support. That's the wrong layer. You won't learn much as there is almost nothing to collect. However, everything producing API using Mutiny should have metrics / tracing....

[2022-05-16 07:10] geoand commented on #25499
Summoning @rsvoboda for this :)

[2022-05-16 07:11] cescoffier commented on #25259
@Ladicek @radcortez this would require to extend the @Blocking annotation from SmallRye or adding another annotation.
WDYT?

[2022-05-16 07:13] geoand commented on #25591
@radcortez to fix this, we would need a new build item that would remove items from `unknownBuildProperties` in `BuildTimeConfigurationReader`. If that is acceptable, I can open a PR

[2022-05-16 07:16] michalszynkiewicz commented on #25549
The most likely cause is the lack of the jandex index, see https://quarkus.io/guides/cdi-reference#how-to-generate-a-jandex-index for how to create an index

[2022-05-16 07:25] dwamara commented on #25588
:-) Let me make it simple by putting real code
here I retrieve the candidate and put him in the cache
[code]
Here is how the CreateCandidate/UpdateCandidate class looks (not yet reactive, I know...)
[code]
And here is how my update method looks like
[code]
I would have loved to have something like this for example
[code]
Or
[code]

[2022-05-16 07:26] geoand commented on #25237
I agree that the error message is not clear here...

@gsmet @yrodiere I wonder if we should catch the exception at https://github.com/quarkusio/quarkus/blob/2.9.0.Final/extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/session/TransactionScopedSession.java#L103 and try to provide a more useful error message - basically what is mentioned in [the comments ](https://gith

[2022-05-16 07:27] gwenneg commented on #25588
Did you try to combine `@CacheInvalidate(cacheName = "candidates-cache")` and `@CacheResult(cacheName = "candidates-cache")` on the same method to update the cached value? This will first remove the old entry from the cache and then compute a new entry by executing the method.

[2022-05-16 07:29] geoand commented on #25588
Thanks for taking the time to post the use case, very useful!

I personally think this is a useful feature, WDYT @gwenneg?

[2022-05-16 07:37] gwenneg commented on #25588
Cache keys definitely need something more flexible than the current possibilities. That's why I started https://github.com/gwenneg/quarkus/pull/209 (draft on my fork) which allows to build the key from almost anything. I'm pretty sure it could work in that case.

[code]

[code]

[2022-05-16 07:46] JHahnHRO commented on #25364
The fix did not make it into 2.9.0.Final it seems. Should I open a new issue for that?

[2022-05-16 07:48] ejba commented on #25499
giving my two cents if I can :)

IMHO, there's a concern here that it's adding a new layer to the image with more libraries that another set of users probably don't need. May I suggest creating some cli option to give developers the option to choose to create the user?

[2022-05-16 07:52] geoand commented on #25499
If we are concerned about the extra layer, then I would not go so far as to add a new flag to the Dockerfile. We could just keep the commands in the Dockerfile but commented out with an explanation of when it might make sense to use them.

[2022-05-16 07:55] ejba commented on #25499
After that, adding some documentation on website telling gitlab users to uncomment those lines.

[2022-05-16 07:56] geoand commented on #25499
Makes sense

[2022-05-16 07:57] Ladicek commented on #25259
How many libraries/frameworks integrated in Quarkus use `@Blocking`? I remember RESTEasy Reactive, SmallRye Reactive Messaging, SmallRye GraphQL, SmallRye Fault Tolerance, apparently Quarkus's `@ConsumeEvent`, and I'm sure I'm missing some. Would all of them be able to use this configuration?

[2022-05-16 08:03] Ladicek commented on #24597
I should be able to tackle this when I (finally...) get to https://github.com/smallrye/smallrye-fault-tolerance/issues/265

It will likely require some CDI gymnastics, but should be doable. I'm thinking SmallRye Fault Tolerance would provide 2 beans with metrics support, and the Quarkus extension would veto one or the other, something like that.

[2022-05-16 08:10] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2329822525

[2022-05-16 08:28] dwamara commented on #25588
No and I don't think it would work as the UpdateCandidate request is always different, so the cache key will also be different and how will I get the right Candidate from the cache in my retrieve method as I wouldn't know which key it has been cached with?

[2022-05-16 08:37] loicmathieu commented on #25501
@gsmet I'll try to dig a little deeper tomorrow on this one but it seems to be an issue on GraalVM 22.1, Google team is working on it and the stacktrace lead to nothing inside our (or Google's) code base so it may be hard to solve on our side.

I don't know if @zakkak had some time to have a look as I don't know how to work on this, it didn't seems to be "just about making a class runtime initiali

[2022-05-16 08:40] yrodiere commented on #25237
Assuming we can accurately identify the "context not active" exception, indeed it would be nice to provide a more helpful message. Something that tells users "you need a transaction to use the entitymanager/session. Alternatively, if you really don't want transactions, you need to be in a request processing thread, or you need to activate the CDI request context explicitly". With better phrasing,

[2022-05-16 08:41] gwenneg commented on #25588
You would need to pass the code in a separate method param alongside with the UpdateCandidate param, assuming you know it from the client side at update time.

[2022-05-16 08:56] babl2 opened #25593 "oracle.jdbc.driver.OraclePreparedStatement.setLongInternal throws invalid column index error in Quarkus >=2.6.2"
### Describe the bug

From Quarkus2.6.2/Hibernate5.6.1 to our current Quarkus2.8.2/Hibernate5.6.8 we are getting an invalid column index error when updating one of our entities.
The identical code did work without any problems up to (including) Quarkus1.13.7/Hibernate5.4.29.
We are using
[code]

My question is, whether this is a problem of:

 1. The Oracle driver?
 2. Hibernate?
 3. Quarkus?
 4. S

[2022-05-16 09:10] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2329822525

[2022-05-16 09:41] dwamara commented on #25588
This is feasible, I also thought and used it but my thinking was "why put a parameter in my call when I already have it in the Object?". For me the less parameters I can have the better.

[2022-05-16 09:57] geoand commented on #25237
+1

Technically this is totally correct. But I have seen that this expectation often confuses users, who when they see `ContextNotActiveException`, have no idea what to do about it - that is why I am pushing for actionable error messages/

[2022-05-16 10:01] radcortez commented on #25259
If this is to be supported it would need to be across the board to make it consistent.

[2022-05-16 10:07] radcortez commented on #25591
Hum, do we have a different rule or behaviour for this particular configuration property between classic and reactive?

[2022-05-16 10:09] yrodiere commented on #25237
Right, I did not mean to deny the need for a better exception message in `TransactionScopedSession`. I just think we should *also* make sure Prometheus handlers activate the request context.

[2022-05-16 10:10] geoand commented on #25591
No, the issue with this is that we have the exact same configuration class for both RESTEasy Classic and Reactive, but we cannot have a Quarkus config class for both, because otherwise an application that mixes RESTEasy Classic and Reactive will get errors that are totally non-actionable (as opposed to now, where there is a great error message stating that the two can't be mixed).

[2022-05-16 10:12] yrodiere commented on #25237
Though in that case I see the exception occurs in the bean's constructor, so we're probably no handling a request. It's probably less clear-cut than what I thought.

[2022-05-16 10:12] radcortez commented on #25453
Yes, I guess I didn't make myself clear. The support itself will not go into Munity, but a lot of the work will need to go into Quarkus, so I think it is fine to leave this issue open.

[2022-05-16 10:15] geoand commented on #25237
Was about to say :)

[code]

the call to our code is hidden. However, we **can** enable the request context at: https://github.com/quarkusio/quarkus/blob/2.9.0.Final/extensions/micrometer/runtime/src/main/java/io/quarkus/micrometer/runtime/export/handlers/PrometheusHandler.java#L35

I think I'll go ahead and do that, it makes sense as we don't really know what user code will be executed here, so w

[2022-05-16 10:19] geoand commented on #25237
https://github.com/quarkusio/quarkus/pull/25594 is what I am talking about.

In any case, I'll close this issue as it's not a Quarkus issue (apart from the error message discussion above)

[2022-05-16 10:19] #25237 closed

[2022-05-16 10:28] radcortez commented on #25591
Ah, I see this here:
https://github.com/quarkusio/quarkus/blob/4094b4f616d9413abff9dd10b75a82b69b9577bf/extensions/resteasy-reactive/quarkus-resteasy-reactive-common/deployment/src/main/java/io/quarkus/resteasy/reactive/common/deployment/ResteasyReactiveCommonProcessor.java#L76-L80

Do we have something that prevents double mapping in the ConfigRoot? Can't remember, I'll have to check. I don't see

[2022-05-16 10:34] geoand commented on #25591
The exception looks something like:

[code]

(an example reported can be found [here](https://github.com/quarkusio/quarkus/issues/20688))

[2022-05-16 10:35] holomekc commented on #25453
Hi. I am not sure if you noticed. There is a pr already and is also linked to this issue. ;)

[2022-05-16 10:45] radcortez commented on #25522
If all the other registries are already in the Quarkiverse extension, I agree that an implementation for this should also end up there.

On the other hand, it may be interesting to discuss if in the case of using OTel (which uses OTLP by default) and if you also use Metrics, should we force OTLP for both? Probably we shouldn't commit to such a decision yet.

[2022-05-16 10:54] xstefank commented on #25330
@geoand from the narayana-lra and lra-client dependencies. So I need to create a new buildItem that will add:
[code]
from the extension. Adding these in the user-app workarounds the problem.

[2022-05-16 11:03] geoand commented on #25330
So yeah, we'll need a new build item which will allow extensions to define those as well

[2022-05-16 11:20] sberyozkin commented on #23967
That said, I wonder, does it make sense to start loading BouncyCastle providers on RHEL FIPS systems ? I.e, is is areal  issue that BC providers can't be loaded ?

[2022-05-16 11:21] geoand commented on #25441
Reopening as we had to revert the parent first change

[2022-05-16 11:21] #25564 closed

[2022-05-16 11:21] mkouba commented on #25364
@gsmet is it ^ possible?

[2022-05-16 11:23] gastaldi commented on #25556
I wonder if https://github.com/xerial/sqlite-jdbc/ is still actively maintained given that the last commit happened on Oct 2021 and there are plenty of opened PRs there 😬

[2022-05-16 11:41] primozh opened #25596 ""Registration/login only challenge" typos in WebAuthn Guide"
### Description

In the WebAuthn guide there is an issue with the documentation about Javascript [loginOnly ](https://quarkus.io/guides/security-webauthn#only-invoke-the-registration-challenge-and-authenticator-2) function. Title of the subchapter should be changed and also in the code example function used is not the one mentioned in the text.

### Suggested change
[code]

Should be changed to "O

[2022-05-16 11:51] jerboaa commented on #23967
IMO, not. It's either of those two providers (exclusively). FIPS compliance is what matters, so you don't need both at the same time. At least I cannot think of a use-case which would need it.

[2022-05-16 11:56] cescoffier commented on #25259
Yes, I totally agree, it will need to be consistent.

At the moment the SR Reactive messaging variant of @Blocking allows configuring whether the order must be preserved and the name of the pool.

[2022-05-16 12:28] michalszynkiewicz commented on #25422
We control the moment of Stork initialization in Quarkus - it's done by a recorder. I'm guessing we can invoke it after the CDI container starts
Can we?

[2022-05-16 12:31] michalszynkiewicz opened #25600 "grpc's BlockingRawTest is flaky"
### Describe the bug

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

_No response_

### Build tool (ie. output of `mvnw --version` or `gra

[2022-05-16 12:32] radcortez commented on #25453
I did. Thank you for the PR.

It is going to take me some time to review since it is quite big.

[2022-05-16 12:37] geoand commented on #25596
@primozh would you be interested in providing a fix?

[2022-05-16 12:41] voronovmaksim commented on #23242
The question is https://stackoverflow.com/questions/70858052/quarkusvertx-how-to-get-request-body-in-a-blocking-way

@geoand, it works, thanks a lot, but how can i get body in code that is different from controller and moreover i want to get the body several times?
For example in request filter or elsewhere.
Request filter can look like it:
[code]
but in that case i can call `org.apache.commons.io

[2022-05-16 12:42] radcortez commented on #25591
I understand that we would add the build step to remove such cases. I'm just not sure if this is something that we want to add since it will create an exception to our current configuration rules.

I'm wondering if we should lift the restriction of the double mapping. I believe it should be ok. I think it is perfectible acceptable for different extensions to refer to the same configuration names (

[2022-05-16 12:47] geoand commented on #25591
In sounds fine in theory :)

[2022-05-16 12:49] geoand commented on #23242
Not sure I understand the question to be honest

[2022-05-16 12:50] zakkak commented on #25501
We can work around it this way for now, but it's certainly not a proper fix. Done in #25598

[2022-05-16 13:13] jklingsporn commented on #25580
I am experiencing the same issue. While debugging, I figured the following line in [CORSFilter](https://github.com/quarkusio/quarkus/blob/0d7f364824febc0634ca65ec7d1c6a15085bbbe6/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java#L145) is wrong / suspicious:
[code]
`getHeader` returns the _first_ header of the header-MultiMap. It should be rather somethi

[2022-05-16 13:14] mmusgrov commented on #19351
@famod I don't think this issue requires input from team responsible for the JTA extension. Would you be able to remove the `area/narayana` label so that is no longer appears in our tracking tool. But if you do require input from narayana then do tag us.

[2022-05-16 13:18] rsvoboda commented on #25499
Hi @gastaldi / @iocanel, could you check the suggested approach in the engineering OCP env before we will put our hands on it, please? Right now, we are busy with other priority tasks.

[2022-05-16 13:18] radcortez commented on #25591
Ok, I'll have a look into this.

[2022-05-16 13:20] rsvoboda commented on #25499
Would be handy to have kubernetes/openshift checks (https://github.com/quarkusio/quarkus/pull/17674) in place.

[2022-05-16 13:22] geoand commented on #25591
👍🏼

[2022-05-16 13:58] devprojectsme opened #25602 "Allow (Proguard) obfuscation of the Quarkus app in fast-jar format"
### Description

Dear Quarkus Team,
there is [this issue](https://github.com/quarkusio/quarkus/issues/6034), where people have requested some support for obfuscation. Dear [Guillaume Smet](https://github.com/gsmet) has suggested, that it could be done as an external project, and has closed that issue "for now". However, as I was not able to find any of that initiative I would at least like to summ

[2022-05-16 13:59] eAybars commented on #23404
Hi there, I pushed the fix to my github repo. But I am not sure about how to write a test for checking a build time class registering for reflection for native images. Can you please provide some guidance for that?

[2022-05-16 14:05] voronovmaksim commented on #23242
I need to get RAW body as many times as it takes.
1) i need to print the body in ten filters. Of cause it is fake case, but it describes my problem well.
How can it be done?
At the moment i see only one solution:
[code]
2) Also, i need to get the body in some ResourseLoader, the ResourseLoader is not controller it is just bean.
i want to use
[code]

I Hope i desribed my problem little clearer this

[2022-05-16 14:41] xiaolong2015 opened #25604 "Oidc client does not support the property org.eclipse.microprofile.rest.client.propagateHeaders"
### Description

We have a kubernetes cluster with the following components:
+ keycloak
+ a service based on quarkus which uses a keycloak-client to communicate with the keycloak

We use Jaeger to trace our requests. We can not configure the quarkus oidc client to propagate the tracing headers to the keycloak. So our traces are broken on the token requests.

It will be very helpful that the oidc c

[2022-05-16 15:02] anisharoofi commented on #25558
Please help with this issue

[2022-05-16 15:05] sberyozkin commented on #25604
@xiaolong2015 Hi, the wildcard propagation of the request headers is not a secure option. I doubt `quarkus-oidc-client` can do such kind of propagation of some headers it is not aware of, it is beyond its core concern. So you'd like the incoming headers be propagated not only to the downstream endpoint but to Keycloak itself, but I'm not sure this is what this property is about, i.e it is about `c

[2022-05-16 15:07] Dosexe opened #25606 "Mongo health check connection auto close"
### Describe the bug

When the connection pool is setup for MongoDb, and there is `max-connection-idle-time` also present, the connection pool itself working as expected, but the `MaintenanceTimer-thread` which is called to clear the idle connection,  closing the connections that are used for health check by itself, so it creates a problem that even if the connection pool is setup a lot of connect

[2022-05-16 15:13] leonardowestphal opened #25607 "Hibernate ORM SchemaManagementException when running tests"
When updating an application from Quarkus 2.1.4 to version 2.4.0, it started to show a schema validation error when starting the application with the command: mvn quarkus:dev.

[code]

I noticed that this error also occurs in versions prior to 2.4.0 and that in version 2.4.1 or higher this error was corrected, however, when running the tests, a similar error occurs: mvn test...
I have the same err

[2022-05-16 15:54] sberyozkin commented on #25604
I agree it would be useful to trace oidc client calls though and such traces can be shown as the independent traces but in scope of the outer traces from endpoint A to endpoint B, IMHO it would be a correct approach

[2022-05-16 17:30] michalvavrik commented on #10376
@mkouba Sorry, let's forget my question above. Avoiding exception mentioned above and allowing custom locators was easy, but I can't a way to postpone validation for custom to static init without huge refactoring of `io.quarkus.qute.deployment.QuteProcessor` - I doubt you would like that just to implement this task.

[2022-05-16 18:31] leonardowestphal commented on #25607
I think I just found the solution.
I believe that some behavior of the test execution profiles has been changed.
Using version 2.1.4, as I was running only locally, I had only set the property: '%dev.quarkus.datasource...'
But with the updated version I also need a property without the 'dev' profile: 'quarkus.datasource...'

The error presented in the log didn't help me much. I think it would be n

[2022-05-16 19:18] mkouba commented on #10376
Yes, it's a bit tricky because we want to keep the validation in the build phase, i.e. `@RegisterLocator` would not be enough - we would have to introduce a declarative way of saying "a template `foo.html` is located by a custom locator at runtime". I was thinking about something like:

[code]
We could register this locator via `EngineBuilder.addLocator()` (the locator could be e.g. a `@Singleton`

[2022-05-17 05:34] primozh commented on #25596
@geoand sure, I'll prepare a PR

[2022-05-17 05:37] geoand commented on #6588
@sberyozkin `security-openid-connect-client-quickstart` is failing. Can you please take a look?

[2022-05-17 05:59] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/2336395859

[2022-05-17 06:02] phillip-kruger commented on #25466
Closing here (Quarkus) in favor of SmallRye issue (https://github.com/smallrye/smallrye-graphql/issues/1405)

[2022-05-17 06:02] #25466 closed

[2022-05-17 06:16] geoand commented on #25602
Thanks for reporting.

To be honest, this is not something we want to do. Obfuscation can most likely be done without any of the issues you mention for `fast-jar`, if the application is built with `quarkus.package.type=legacy-jar` as that type does not have separate jar nor does it keep extra metadata in the form of a binary file.

[2022-05-17 06:16] #25602 closed

[2022-05-17 06:35] agreedSkiing commented on #24670
@cescoffier thanks for the tip we got it working in our application.properties but when we try to add as configuration we can't escape the character correctly for quarkus.log.category."io.quarkus.http.access-log".level, got any tips on how we should escape it?
One of our developers has tried the combinations below in our yaml configuration
[code]

[2022-05-17 06:47] geoand commented on #23242
If I needed to read the body many times in filter, what I would do is setup a `ContainerRequestFilter` with a very low `@Priority` (thus it would be executed very early) that read the body and saved in a property of `ContainerRequestContext`. Then my other filters would read the body from there

[2022-05-17 07:35] geoand commented on #25502
@ozangunalp ^

[2022-05-17 07:36] geoand commented on #25429
cc @radcortez

[2022-05-17 07:57] johgoe commented on #25604
Maybe something similar like "org.eclipse.microprofile.rest.client.propagateHeaders" so the special headers for tracing like
  'x-request-id',  'x-b3-traceid',  'x-b3-spanid',  'x-b3-parentspanid',  'x-b3-sampled',  'x-b3-flags',  'x-ot-span-context' can be propagated

[2022-05-17 08:03] voronovmaksim commented on #23242
Thanks. We'll do as you suggested

[2022-05-17 08:41] geoand commented on #23117
Closing this for now.

Feel free to reopen if you want to revisit it in the future

[2022-05-17 08:41] #23117 closed

[2022-05-17 08:44] geoand commented on #22964
I'll close this as we did not get feedback

[2022-05-17 08:44] #22964 closed

[2022-05-17 08:46] geoand commented on #22915
Is this still an issue with Quarkus `2.9.0.Final`?

[2022-05-17 08:48] geoand commented on #22822
@zakkak it seems like this issue has been fixed in GraalVM. Do you know if the fix is included in `22.1`? If so, then we should close this.

[2022-05-17 08:54] geoand commented on #22290
@Sgitario mind updating the docs to reflect that we know support this feature?

Thanks

[2022-05-17 08:58] Sgitario commented on #22290
@iocanel was going to update it, but first Dekorate needs to release this change and Quarkus needs to be updated accordingly.

[2022-05-17 08:59] geoand commented on #22290
Oh, I thought that was already done

[2022-05-17 09:00] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2336397721

[2022-05-17 09:02] geoand commented on #22149
Is this still a problem with the latest Jandex version?
Do you know @Ladicek ?

[2022-05-17 09:04] mmaryo opened #25618 "Json serialization error with Kotlin"
### Describe the bug

Hello

I return a simple data object in Kotlin

And this error appears

[code]

I use the last version of Kotlin, Java and Quarkus
Built the project from here https://code.quarkus.io/

Please find a zip with an example

[Api.zip](https://github.com/quarkusio/quarkus/files/8706841/Api.zip)

You can run `http://localhost:8080/trades/1` and see the result

Best

### Expected beh

[2022-05-17 09:07] Ladicek commented on #22149
I don't see Jandex in the stack trace, but I vaguelly recall we fixed something related to generic records in Jandex recently. Let me take a look.

[2022-05-17 09:13] zakkak commented on #22822
Yes, I confirm that [the fix](https://github.com/oracle/graal/commit/b5b4b4fc463766dc5cf92471a1ee7ff466b32dcd) is included in 22.1.

[2022-05-17 09:13] #22822 closed

[2022-05-17 09:13] geoand commented on #21592
Closing this in favor of #23746

[2022-05-17 09:13] #21592 closed

[2022-05-17 09:14] geoand commented on #21427
@glefloch I assume this is / will be handled by the changes you made recently?

[2022-05-17 09:14] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2336397721

[2022-05-17 09:15] geoand commented on #21266
Closing in favor of #25588 which has a discussion in it

[2022-05-17 09:16] geoand commented on #21175
I am going to close this as `won't fix` since all our efforts around the rest-client are focused on the reactive rest client, which as mentioned above works perfectly in this scenario

[2022-05-17 09:16] #21175 closed

[2022-05-17 09:19] gsmet commented on #21175
Pinging @jamezp anyway as it might be of interest for RESTEasy. @jamezp see the detailed comment from @cescoffier above ^.

[2022-05-17 09:20] geoand commented on #20891
Closing this as Quarkus `2.10` will use GraalVM 22.1.

[2022-05-17 09:20] #20891 closed

[2022-05-17 09:22] Ladicek commented on #22149
Found it: https://github.com/wildfly/jandex/issues/160 This was fixed in Jandex 2.4.2.Final, so this likely isn't a Jandex issue.

[2022-05-17 09:22] geoand commented on #20014
Is this still an issue with Quarkus `2.9.0.Final`?

If so, please attach a sample project

[2022-05-17 09:23] geoand commented on #12591
Closing as we never got a reproducer

[2022-05-17 09:23] #12591 closed

[2022-05-17 09:25] geoand commented on #17271
Closing as we never got a reproducer

[2022-05-17 09:25] #17271 closed

[2022-05-17 09:25] geoand commented on #17602
Closing as we never got a reproducer

[2022-05-17 09:25] #17602 closed

[2022-05-17 09:26] geoand commented on #22104
Closing as we never got a reproducer

[2022-05-17 09:26] #22104 closed

[2022-05-17 09:26] geoand commented on #24031
Closing as we never got a reproducer

[2022-05-17 09:26] #24031 closed

[2022-05-17 09:27] geoand commented on #22149
Gotcha thanks.

@alesj is this still on issue for you with the latest version of Quarkus?

[2022-05-17 09:28] geoand commented on #12486
@evacchi can someone from your team look at the failures?

[2022-05-17 09:28] geoand commented on #22822
Thanks!

[2022-05-17 09:32] Ladicek commented on #22149
The reproducer project mentioned above uses Quarkus 2.5.2.Final, which has Jandex 2.4.1.Final. Updating to latest Quarkus should help.

[2022-05-17 09:38] Ladicek commented on #22149
I tried constructing a simple reproducer (the one linked above is unnecessarily complex) and indeed I get an build-time error with Quarkus 2.5.2.Final. After updating to Quarkus 2.9.0.Final, build finishes successfully. So this issue has IMHO been fixed by https://github.com/quarkusio/quarkus/pull/22707.

[2022-05-17 09:38] #22149 closed

[2022-05-17 09:39] #25445 closed

[2022-05-17 09:45] evacchi commented on #12486
Can you folks check please? /cc @ricardozanini @radtriste

[2022-05-17 09:53] geoand commented on #25618
Is there a reason you are using both Jackson and Kotlin serialization? You should be using one or the other

[2022-05-17 09:53] #25618 closed

[2022-05-17 10:00] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/2336420961

[2022-05-17 10:01] mmaryo commented on #25618
No reason, I thank it is the thing to do
What should I choose ?

[2022-05-17 10:02] geoand commented on #25618
You'll need to study Jackson vs Kotlin Serialization to see what fits your needs

[2022-05-17 10:04] geoand commented on #25618
Jackson is certainly more widely used. Hard to comment on the other questions.

[2022-05-17 10:04] mmaryo commented on #25618
thank you

[2022-05-17 10:07] geoand commented on #25618
👍🏼

[2022-05-17 10:10] mmaryo commented on #25618
but kotlin is fastest
https://litote.org/kmongo/performance/
do you try to remove jackson?
it still not working for me

[2022-05-17 10:55] softmetz opened #25619 "Headers set with @HeaderParam ignored by DefaultClientHeadersFactoryImpl"
### Describe the bug

If a header set via `@HeaderParam` has the same name as a propagated header coming via incoming request, the incoming value overwrites the value set via annotation.

I debugged into `org.eclipse.microprofile.rest.client.ext.DefaultClientHeadersFactoryImpl` and found out, that in method `update` the value of the annotated parameter is in `clientOutgoingHeaders` which is not us

[2022-05-17 10:59] gsmet commented on #25462
@sithmein are you using `resteasy.wider.request.matching`?

[2022-05-17 11:18] geoand commented on #25619
Which rest client extension are you using?

[2022-05-17 12:00] mcanzerini opened #25621 "Resteasy reactive - Missing builditem ?"
### Describe the bug

I am upgrading my extension to quarkus 2.9.0 and migrating to resteasy reactive.

Some of existing builditems in resteasy classic do not exist anymore in reactive implementation. I was using ResteasyJaxrsProviderBuildItem to record an Exception Mapper and a ClientRequestFilter.

### Expected behavior

_No response_

### Actual behavior

For my Exception Mapper, I use now an E

[2022-05-17 12:24] knuspertante commented on #25526
Hey @zakkak

yep, thats it.

[2022-05-17 12:26] sberyozkin commented on #4817
Let me re-open this issue again.
@kdubb Perhaps it can make sense to extend `quarkus-oidc` with `quarkus-uma`.

By the way, I can enhance `OidcClient` to support requesting such grant tokens

[2022-05-17 12:47] knuspertante commented on #25526
@zakkak I updated my comment above. Yeah, but with Quarkus 2.7.X I was able to still allow the build with `--allow-incomplete-classpath`

I updated my comment above

Sorry, until now I was not able to provide a reproducer, but I hope to get that done in the next few days.

[2022-05-17 12:48] softmetz commented on #25619
Reactive (JSONB)

[2022-05-17 12:49] geoand commented on #25621
Good point, reopening

[2022-05-17 12:52] geoand commented on #25621
So, we don't have a build item for that, because the client providers are supposed to be registered via `@RegisterProvider`

[2022-05-17 12:56] tsegismont commented on #24788
Should be fixed in #25624

[2022-05-17 12:58] mcanzerini commented on #25621
Ok thanks it works.
Just to be sure: the app which uses my extension will have to add the `@RegisterProvider` on the RestClient and the filter will be registered ?

[2022-05-17 12:58] geoand commented on #25621
Correct

[2022-05-17 12:59] #25621 closed

[2022-05-17 13:00] zakkak commented on #25526
None of these releases officially supports GraalVM 22.1 though.

Quarkus [2.7.5 supports GraalVM 21.3](https://github.com/quarkusio/quarkus/blob/2733bae7cb7ded76d324b41a3a9f4e81b89ee122/build-parent/pom.xml#L144) and [2.9.0 supports 22.0](https://github.com/quarkusio/quarkus/blob/53d2c9eb73b6113dbd54c3e542fa9ac1211a84c4/core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java#L19-

[2022-05-17 13:12] agoncal opened #25625 "Being able to build native images without having a JDK/GraalVM installed"
### Description

[See Zulip chat](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Quarkus.20CLI.20and.20JDK.20.2F.20GraalVM)

Sometimes non-Java developers (They do not have a JDK nor GraalVM installed) you just need to build a native image and containerize it. One way could be to have a Multistage Docker file that would build everything with just a `docker build` command.

And,

[2022-05-17 13:21] sithmein commented on #25462
Not that I know. At least we didn't configure it explicitly.
I had a look at the JAX-RS spec, section 3.7.2 and it specifically mentions

It's a bit out of context but essentially this means that it's perfectly legal to have several classes share the same @Path. The correct method in one of the candidate classes (`C`) is determined at step 2.

[2022-05-17 13:32] knuspertante commented on #25526
@zakkak here is a little reproducer https://github.com/knuspertante/quarkus-link-at-build-time-reproducer ;-)

Thanks for your effort!!!

[2022-05-17 14:04] michalszynkiewicz commented on #25619
If the issue is in the MicroProfile class, I think it's best to report it there.

Can you create a simple reproducer?

[2022-05-17 14:16] jkbbwr commented on #25502
This is a blocking issue for myself as I need to be able to do outbox pattern from a poller

[2022-05-17 15:38] andreas-eberle commented on #25318
Hi @cescoffier ,
sorry, I didn't realize that. Thanks for the info and the link! Sorry to have bothered you.
Best regards!

[2022-05-17 15:48] #25556 closed

[2022-05-17 15:50] fabianishere opened #25626 "Quarkus extension in multi-module Gradle project fails to resolve quarkus-core"
### Describe the bug

When importing a Quarkus extension (that belongs to a multi-module Gradle project) in IntelliJ, the sync reports that it fails to resolve `io.quarkus:quarkus-core` (see below):

Required by:
    project :opendc-web:opendc-web-ui-quarkus:deployment > io.quarkus:quarkus-bom:2.9.0.Final
    project :opendc-web:opendc-web-ui-quarkus:deployment > io.quarkus:quarkus-core-deployment

[2022-05-17 15:52] gastaldi commented on #25556
@alexeysharandin there you go: https://github.com/quarkiverse/quarkus-jdbc-sqlite

I have prepared a checklist you can follow after the repository is created: https://github.com/quarkiverse/quarkiverse/wiki/Checklist#after-the-repository-is-created

Have fun!

[2022-05-17 15:59] wfrank2509 commented on #25318
Thanks for the clarification. The API design of gRPC is really not that intuitive :)

[2022-05-17 19:14] danielbobbert opened #25630 "Can't recover from database error with Panache Reactive"
### Describe the bug

I am trying to develop a method that catches a database failure (specifically a constraint violation) and recover from that by returning some other value.
Uni.onFailure().recoverWithUni() works in principal (if I just return some value), but if I try to access the database again (reading) within my recovery function, that database read will not succeed but return the error fr

[2022-05-17 19:52] jamezp commented on #21175
Thaks @gsmet

[2022-05-17 20:21] Chanizo opened #25632 "JWT token with HS256 and corresponding JWK file : UnresolvableKeyException"
### Describe the bug

My quarkus backend receives requests with JWT Token with some information.
I tried with quarkus-smallrye-jwt, and it worked for RS256 algorithm. I created a token with jwt.io and sent it with my request in my test, it has been correctly decoded.

To verify I simply used :
`@Inject
    JsonWebToken jwt;
  ...
  @GET
    public Response get() {
        System.out.println(hasJwt

[2022-05-17 20:26] ebullient commented on #25522
We should put OTLP registry support in quarkiverse for now. There are some other options we should consider for when the OTel SDK is around (per the otel extension).

[2022-05-17 21:59] sberyozkin commented on #25632
@Chanizo Thanks for opening this issue, I have [this test](https://github.com/smallrye/smallrye-jwt/blob/main/testsuite/basic/src/test/java/io/smallrye/jwt/auth/principal/KeyLocationResolverTest.java#L181) in `smallrye-jwt` which uses [this JWK](https://github.com/smallrye/smallrye-jwt/blob/main/testsuite/basic/src/test/resources/secretKey.jwk).

Actually, I think I know why it may be failing. How

[2022-05-17 22:02] annaazizova opened #25637 "UUID id is not supported for MySQL"
### Describe the bug

I've got an error on row.getUUID("id"):
java.lang.UnsupportedOperationException: Can not retrieve row value[11c7160e-d629-11ec-a153-0242ac160002] as class[java.util.UUID], columnName=[id]
Please bump vertx-sql-client version at least to 4.2.3 version instead of 4.2.2 to support UUID (https://github.com/eclipse-vertx/vertx-sql-client/pull/1109).

### Expected behavior

UUID su

[2022-05-17 22:13] knutwannheden commented on #25522
Interesting thought. The Micrometer indirection could indeed be skipped.

[2022-05-18 06:49] ManishJain-TomTom commented on #10250
I faced a similar issue when I tried to configure an @Outgoing and Emitter which the same channel. To fix it, I created two channels pointing to same topic and used that.

However, now I am facing a different issue. Of these 2 publishers, a lot of times one is able to connect to the topic and other one reports that the topic is down. I am not able to understand why.

Let's say I have publisher A w

[2022-05-18 07:14] Chanizo commented on #25632
Thanks for your quick answer @sberyozkin !

I tried both (with and without kid), but it did not work...
I added `smallrye.jwt.verify.algorithm=HS256` and used your JWK but same error

My JWK file :
{
    "keys": [
        {
         "kty":"oct",
         "k":"Fdh9u8rINxfivbrianbbVT1u232VQBZYKx1HGAGPt2I"
         }
    ]
}

Result token with your JWK :
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiO

[2022-05-18 07:45] yazinnnn opened #25643 "GelfLogHandlerProcessor.build takes too long time (both native mode and jvm mode)"
### Describe the bug

same as https://github.com/quarkusio/quarkus/issues/12020
but it also took long time in jvm mode

native mode

[code]

jvm mode

[code]

it works well with my development pc, but bad with my product vpc.

in product env, graylog server is deploy in a different network, does gelf extension use some system network property to take so long time?

when i deploy quarkus app on the

[2022-05-18 07:47] zakkak commented on #25501
Update: A proper fix has landed in https://github.com/GoogleCloudPlatform/native-image-support-java/pull/395 and is expected to be released this week.

[2022-05-18 08:25] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2343248002

[2022-05-18 08:34] phillip-kruger commented on #21642
Also add support for https://github.com/quarkusio/quarkus/blob/main/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/Compressed.java

[2022-05-18 08:37] sacnoth opened #25644 "Panache Reactive: Also provide singleResultOptional() for ansynchronous PanacheQueries"
### Description

I wanted to port existing code in a project which uses Panache repositories to use reactive Panache repositories.

When writing synchronous Panache queries I have the option to fetch the result via the `singleResultOptional()` method.
I use this when I know I only expect max. 1 result, but also could find no result for my query, e.g. when I search for an object with a specific uni

[2022-05-18 08:39] t-shaguy opened #25645 "Exception in association of connection to existing transaction"
I have this exception come up, unfortunately is doesn't share details of the error ( as in if its a timeout, query syntax error or whatever)

[code]

here are extracts from my datasource configuration

[code]

so what I noticed from the method below is I get back the Query object and when I call the getResultList() this error comes up,

When  I changed to the AgraolDatasource, the error was still

[2022-05-18 09:12] danielbobbert commented on #25630
Just figured out that manually clearing the session before accessing the database in my recovery block resolves the issue:
```Panache.getSession().invoke(Mutiny.Session::clear);```
So it really seems to be something about the internal state of the session. Still `session.clear()` is maybe a bit too much here, and I also think I shouldn't have to do this manually.

[2022-05-18 09:47] holly-cummins commented on #25230
Some of the techniques used in https://github.com/quarkusio/quarkus/pull/25648 may be helpful for these tests, since they are also using databases.

[2022-05-18 09:59] ManishJain-TomTom opened #25650 "SmallRye Reactive Messaging - readiness check fails intermittently with Event hubs"
### Describe the bug

In our application, we have 2 methods that write to the same topic. Initially we tried to use the same channel for both these methods, but then realised that the same channel can't be used with @Outgoing and Emitter. To fix the issue, we have created 2 channels, one that is used with @Outgoing, and another one which is used with Emitter. Both of these have same topics configu

[2022-05-18 10:16] softmetz commented on #25619
@michalszynkiewicz I am not sure it is. Is the `DefaultClientHeadersFactoryImpl` actually supposed to handle the `clientOutgoingHeaders`? Before I switched to REST reactive (from rest-easy) it worked as expected.

I just had a look at the history (https://github.com/eclipse/microprofile-rest-client/commits/master/api/src/main/java/org/eclipse/microprofile/rest/client/ext/DefaultClientHeadersFactor

[2022-05-18 10:47] ozangunalp commented on #25502
Sorry I kept you waiting. I needed to run some tests to understand the issue.

I think this issue is independent from the Reactive Messaging. To reiterate on that, on Quarkus when a Reactive Messaging connector (ex. Kafka, AMQP, etc.) is involved, all `@Incoming` methods do run on a Vert.x context and therefore should work with Kotlin coroutines.
In the example above Reactive Messaging is used wit

[2022-05-18 11:16] ozangunalp commented on #25650
The default readiness check for an outgoing Kafka channel looks if the connection-count metric of the underlying Kafka producer is at least 1. So that would mean for some reason the connection is intermittently cut. Can you correlate that to the active connections metric from the Azure event hubs ?

[2022-05-18 11:19] JHahnHRO commented on #25364
2.9.1.Final does contain the fix again. So all is well, I guess.

[2022-05-18 11:24] ManishJain-TomTom commented on #25650
![image](https://user-images.githubusercontent.com/100848347/169027716-f23ed5a6-e66d-453e-ab67-4804b0276c45.png)

Active connections look fine to me. This is the last 7 days chart. I can see similar chart for 48 hrs and 30 days.

[2022-05-18 11:40] sberyozkin commented on #25632
@Chanizo I've had a look and reproduced the problem locally.
The problem is that your key is not in `JWK` but in `JWK Set` format, i.e, an array of JWK keys, even though a single key is defined. At the moment `smallrye-jwt` does expect that a JWK set is only checked if the incoming token has a `kid` header - so that an individual `JWK` key can be identified in a `JWK Set`.
It can be relaxed a litt

[2022-05-18 12:13] ebullient commented on #25522
Will leave the API... reinstrumenting everywhere is not high on my list... but how that instrumentation gets to OTel is something I'd like to work w/ Micrometer team on (e.g. a variant that delegates to the SDK directly). Micrometer API will still be present, as it provides some good abstractions (like timers) that the OTel Metrics API doesn't... but we should be able to go directly to the OTel SD

[2022-05-18 12:15] geoand commented on #25502
I'll check it out..

@jkbbwr mind adding a reproducer so I can take a look?

[2022-05-18 12:28] patriot1burke commented on #25580
I could add a lookup map where if a header like Access-Control-Request-Headers is sent to *NOT* split it up into multiple headers.  I think that might be the better option.  I know there are other Comma sensitive headers too.

[2022-05-18 12:41] softmetz opened #25652 "Reactive REST client: Request body not serialized to JSON for custom content type (`application/custom+json`)"
### Describe the bug

When the reactive REST client is supposed to send a request body (e.g. POST) and get the annotation `@Consumes("application/custom+json")` the body object is just strinigified.

With `@Consumes("application/json")` it works just as expected.

### Expected behavior

The request body object should be serialized to JSON.

### Actual behavior

toString() gets called on the reques

[2022-05-18 12:46] ozangunalp commented on #25502
@geoand Here is the test I wrote for the analysis: https://github.com/quarkusio/quarkus/compare/main...ozangunalp:rm_kotlin_coroutine
Check the Events class for TODOs for the fixes.

[2022-05-18 12:48] geoand commented on #25502
Will do, thanks!

[2022-05-18 12:58] sberyozkin commented on #25632
@Chanizo It is working now for me even with your case, I was wrong in my analysis, not sure why it was failing

[2022-05-18 13:13] geoand commented on #25502
I opened https://github.com/quarkusio/quarkus/pull/25654 for impoving the error message.

I'll close this as @ozangunalp's explanation is spot on.

[2022-05-18 13:13] #25502 closed

[2022-05-18 13:13] yrodiere commented on #25486
While we're at it, we could also be more consistent with dev services for databases when it comes to the default image.

Elasticsearch dev services use a version hardcoded in their configuration class:

https://github.com/quarkusio/quarkus/blob/31c2513099eaa20bcf7f21ad54e093c47cb5b6ca/extensions/elasticsearch-rest-client-common/deployment/src/main/java/io/quarkus/elasticsearch/restclient/common/de

[2022-05-18 13:34] xstefank opened #25655 "Add "excluded-resources" configuration to the ApplicationModel"
### Description

In narayana-lra extension we need to differ between resteasy reactive (RR) and resteasy classic (RC) REST client cases. It doesn't work with RR because two artifacts shipped by Narayana contain `META-INF/services/javax.ws.rs.client.ClientBuilder` file that point to the RC ClientBuilder implementation. The correct serviceloader file is provided also by RR but the two provided from

[2022-05-18 14:05] #25632 closed

[2022-05-18 14:08] jklingsporn commented on #25580
@c-classen I've used this hack for local development:
[code]
It adds the headers to _every_ request as described [here](https://quarkus.io/guides/http-reference#additional-http-headers).

[2022-05-18 14:17] bcluap opened #25658 "NPE in 2.9.1 Http2 response processing"
### Describe the bug

After upgrading from 2.8.3 to 2.9.1 we started seeing these errors in our logs.

### Expected behavior

No errors

### Actual behavior

[code]

### How to Reproduce?

It is intermittent and cannot reproduce outside of our production environment

### Output of `uname -a` or `ver`

AWS Fargate

### Output of `java -version`

OpenJDK Runtime Environment Temurin-17.0.2+8 (build 1

[2022-05-18 14:21] jmann-idt opened #25659 "Keycloak-authorization extension: exception in integration tests using combination of native image and container"
### Describe the bug

When running integration tests for applications that make use of the keycloak-authorization extension fail when the following is true:
* Dev Services enabled (`quarkus.devservices.enabled=true`)
* Native profile activated (`-Pnative`)
* Container build enabled (`quarkus.container-image.build=true`)

The failure suggests that `org.keycloak.adapters.authorization.PolicyEnforcer

[2022-05-18 14:35] ozangunalp commented on #25650
The sawtooth pattern suggests that some connections keep dropping and coming back up.
You can try looking at `connections.max.idle.ms` and `metadata.max.age.ms` on producer channels.
I remember that Event Hubs close inbound connections that are idle for a certain amount of time.

BTW instead of the active connections metric you can use the topic verification method for readiness checks, or disable

[2022-05-18 14:36] ozangunalp commented on #25650
Here maybe this will help for adjusting kafka client configurations : https://docs.microsoft.com/en-us/azure/event-hubs/apache-kafka-configurations

[2022-05-18 14:47] c-classen commented on #25580
@jklingsporn Thanks for the workaround. However, this is somewhat limited since afaik you can only have one allowed origin this way. I think I'll wait for a Quarkus version without this issue

[2022-05-18 15:14] jkbbwr commented on #25502
@ozangunalp I owe you a pint at some point in the future, that explanation was spot on and super detailed.
@geoand Thanks for coordinating on this

I will try this all out locally and report back if I have an issue.

[2022-05-18 15:41] sberyozkin commented on #25659
@jmann-idt thanks.
@geoand Hey George, [in this code](https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java#L268), with the jib container, should we really set `quarkus.oidc.auth-server-url` not using the internal URL but the same way we set the CLIENT one, where a `hostUrl` is used

[2022-05-18 16:31] radcortez commented on #25429
This is indeed in SmallRye Config and not Quarkus.

Closing this one in favor of https://github.com/smallrye/smallrye-config/issues/752

[2022-05-18 16:31] #25429 closed

[2022-05-18 16:34] sberyozkin commented on #25659
Actually, #18249 may be the real cause, I'll have a look

[2022-05-18 17:17] ppalaga commented on #676
I'd be all for it. It did not look like Quarkus team was ready to spend time with this two years ago. Testing whether Quarkus extensions produce reproducible jars also requires some effort.

[2022-05-18 17:18] ppalaga commented on #676
Maybe GIB could help? https://github.com/gitflow-incremental-builder/gitflow-incremental-builder

[2022-05-18 17:25] gastaldi commented on #18228
Reopening as https://github.com/quarkusio/quarkus/pull/25311 says it's only the first part

[2022-05-18 18:34] serahl opened #25667 "RuntimeUpdatesProcessor deletes local .env file in devmode in Quarkus 2.9.1.Final"
### Describe the bug

When starting Quarkus 2.9.1.Final in devmode in a Maven multi-module setup, the devmode restarts itself on the first request and deletes the local .env file in a module.

I pinpointed the source of the error to the following line of code: https://github.com/quarkusio/quarkus/blob/2205bb989655970f4da72b752ff2c2be7c5103cc/core/deployment/src/main/java/io/quarkus/deployment/dev/

[2022-05-18 18:53] luneo7 commented on #18228
Yup... going to open the OTEL PR =]

[2022-05-18 19:03] mklueh commented on #676
@ppalaga thanks, but I'm a Gradle User. However, I've found similar plugin for it

https://github.com/Crimix/ChangedProjectsTaskPlugin

Should resolve the problem I have. It would prevent the release of applications that have not changed

[2022-05-18 19:29] #25580 closed

[2022-05-18 19:37] #25283 closed

[2022-05-18 22:28] deathwaiting opened #25672 "Native build always get stuck at 'parsing method'"
### Describe the bug

I using quarkus 8.3.Final , gradle Native build always get stucked at the step
`[4/7] Parsing methods...      [******]    `
 while grinding the CPU

[code]

### Expected behavior

Native build should be completed, or a clarification error should be shown

### Actual behavior

The native build get stuck at the the step, for as long as 6h

### How to Reproduce?

_No response_

[2022-05-19 01:46] yazinnnn commented on #25643
ok, solved it by setting logstash-gelf.skipHostnameResolution=true [https://logging.paluch.biz/hostname-lookup.html#bypassing-hostname-lookup](url)

should gelf extension set this property true as default or a customized config?

[2022-05-19 03:03] eformat opened #25673 "jacoco test coverage broken in 2.9.X"
### Describe the bug

we have reliably been using the external jacoco config for code coverage with quakus for quite some time

https://quarkus.io/guides/tests-with-coverage#coverage-for-tests-not-using-quarkustest

the code coverage results are nill using the latest 2.9.X - quarkus-jacoco version
works fine reverting to 2.8.3.Final (and prior versions)

### Expected behavior

working code coverag

[2022-05-19 05:08] geoand commented on #25658
cc @cescoffier  @jviet @pmlopes

[2022-05-19 05:23] geoand commented on #25643
Thanks for posting the resolution.

Would you like to check https://github.com/quarkusio/quarkus/pull/25674 and see if it works for you?
Essentially what that PR does is introduce the `quarkus.gelf.skip-hostname-resolution` property (`false` by default)

[2022-05-19 05:48] geoand commented on #25637
What version of Quarkus are you seeing this in?

Quarkus `2.9.1.Final` uses Vert.x `4.2.6`.

[2022-05-19 05:54] geoand commented on #25659
@sberyozkin not really sure, but I can take a look if needed

[2022-05-19 06:16] ManishJain-TomTom commented on #25650
Hi @ozangunalp ,

Thanks for sharing these details. After checking the configuration of the application, I found that **connections.max.idle.ms** was set to **540000**, which was beyond the allowed value for azure event hubs (<240000 permitted value). I've set it to **180000** now and will check if that fixes the issue.

I also found that metadata.max.age.ms was not set, so have set it to **180000

[2022-05-19 06:39] renegrob commented on #22724
Great! Thanks @luneo7!
I guess we stil need to somehow bridge the gap between Vertx and worker threads as we still lose the context when switching to a worker-thread.

[2022-05-19 07:22] loicmathieu commented on #25501
The fix has been released, we will know tomorrow if it works as I cannot relaunch the ecosystem CI.

[2022-05-19 07:24] ynojima opened #25676 "`quarkus.webauthn.relying-party.icon` should be removed or deprecated"
### Description

From Quarkus 2.9.0, security-webauthn introduced `quarkus.webauthn.relying-party.icon` configuration property as a preview feature.
But [W3C WebAuthn specification already deleted `icon` from `PublicKeyCredentialEntity`](https://github.com/w3c/webauthn/pull/1337), and no browsers support the icon option, the configuration property should be removed or deprecated.

### Implementati

[2022-05-19 07:31] lucaspouzac commented on #25232
Same problem with 2.9.1.Final

[2022-05-19 07:31] geoand commented on #25673
It's really hard to figure out exactly what's going on because the setup in the project is complex, but this does not appear to be a Quarkus issue.
Changing the jacoco version in the project to `0.8.7` seems to get the coverage report back.
Furthermore, our coverage quickstart works just fine, so I am going to close this.

[2022-05-19 07:31] #25673 closed

[2022-05-19 07:55] rafmcpaf opened #25677 "Randomly failing builds"
Hy,
Our project has nightly build to verify that everything keeps working. Our nightly build fails randomly (not always) with following exception while doing quarkus-maven-plugin:build. I cannot reproduce this, as this never occurs on my machine.

Failed to build quarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
[ERROR] 	[error]: Build step io.quarku

[2022-05-19 07:58] geoand commented on #25676
cc @FroMage @sberyozkin

[2022-05-19 07:59] geoand commented on #25677
I'm afraid we'll need a lot more information than this to be able to debug.

[2022-05-19 08:06] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2349823688

[2022-05-19 08:08] rafmcpaf commented on #25677
What extra info do you need? As this is currently the only trace I can find...
I enable the '-X' flag on our build server in a hope this gives some more insights...

[2022-05-19 08:09] yazinnnn commented on #25643
Thanks for pr, i think the PR has a little mistake.
And what about add `originHost` property as a customized config to help setting a fallback hostname when bypass hostname lookup

[https://logging.paluch.biz/hostname-lookup.html#bypassing-hostname-lookup](https://logging.paluch.biz/hostname-lookup.html#bypassing-hostname-lookup)

[2022-05-19 08:10] geoand commented on #25677
A sample of the code would be super helpful

[2022-05-19 08:15] rafmcpaf commented on #25677
Sadly enough my company does not allow exposing the full code. I can give some snippets thou. Is the pom.xml sufficient?

<?xml version="1.0"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd" xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <modelVersion>4.0.0</modelVersion>
  <artifa

[2022-05-19 08:19] herasimau commented on #23324
any update on this issue ?

[2022-05-19 08:20] geoand commented on #25643
Good point, added

[2022-05-19 08:22] geoand commented on #25677
Understood

I doubt it, but I'll let @mkouba and/or @manovotn answer

[2022-05-19 08:44] yazinnnn commented on #25643
Thanks a lot.

[2022-05-19 08:44] #25643 closed

[2022-05-19 09:08] Chanizo commented on #25632
Thank you @sberyozkin, indeed the error for key location as disappeared, but I have a new one now...
It works, until I do a jwt.getClaimNames(), and then it raises a org.jose4j.jwt.consumer.InvalidJwtSignatureException
I took your jwk and put it in a jwk file :
{ "kty":"oct", "k":"uWlwBLGv4EpifZ52EhTuU9L-76AF9Vf4yumSD1P-2uE", "alg":"HS256" }

My application properties :
smallrye.jwt.verify.key.loc

[2022-05-19 09:13] mkouba commented on #25677
It seems that `AnnotationInstance.target()` is null, which can happen if `AnnotationInstance.create(DotName, AnnotationTarget, AnnotationValue[])` is used.

@Ladicek I wonder if `AnnotationInstance.create()` should throw an `IllegalArgumentException` if no target is specified?

[2022-05-19 09:14] punkratz312 commented on #25236
I cloud solve my issue by removing environment specific config:

the jar which used the other env than quarkusDev which always workes fine, so the db configuration was not propper set therefore quarkus could not start.

![image](https://user-images.githubusercontent.com/8830888/169257998-ad9ac2a8-6d60-47a9-a22a-9f7508138080.png)

still its strange why the jar does not print the quakurs header like

[2022-05-19 09:35] Ladicek commented on #25677
There's a lot of legitimate cases for creating an `AnnotationInstance` without target. For example, I'd expect that most annotation transformations would create a target-less `AnnotationInstance`.

[2022-05-19 09:35] sberyozkin commented on #25659
@geoand Thanks, I'll investigate a bit later, will ping you if I get stuck

[2022-05-19 09:40] radtriste commented on #12486
`package org.junit.jupiter.api does not exist` is still missing as dependency ?

[2022-05-19 09:41] radtriste commented on #12486
also I see in logs those:
[code]
I think it could be related :)

[2022-05-19 09:48] mkouba commented on #25677
In that case, we should fix the `AnnotationTargetFilterCollection.size()`.

[2022-05-19 10:26] Ladicek commented on #25677
I think that would just cover up an actual bug somewhere else. `AnnotationTargetFilterCollection` is only used in `ClassInfo.classAnnotations()`, and all annotations in the `ClassInfo.annotations` map _should_ have a target.

(FTR, I got rid of `AnnotationTargetFilterCollection` in Jandex 3.0, and replaced it by eager filtering. That would still exhibit the same problem, though -- I still need to

[2022-05-19 10:35] geoand commented on #25659
👍

[2022-05-19 10:48] mmusgrov commented on #25645
The transaction manager is reporting `Cannot register synchronization because the transaction is in aborted state` since the JTA specification says the register operation `Throws: RollbackException Thrown to indicate that the transaction has been marked for rollback only`.

The attempt to register the synchronization is done by `io.agroal.narayana.NarayanaTransactionIntegration.associate`.
@barrei

[2022-05-19 11:18] nderwin commented on #23534
Created https://github.com/quarkusio/quarkus/pull/25638 to address this.

[2022-05-19 12:16] michalszynkiewicz opened #25680 "gRPC client error message on application shutdown"
### Describe the bug

When the grpc client is connected to a service, with a server-side streaming call, on application shutdown the following message is printed in the log:
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalV

[2022-05-19 12:19] michalszynkiewicz commented on #25680
CC @mkouba

[2022-05-19 12:45] xstefank commented on #25330
This will need to wait for https://github.com/quarkusio/quarkus/issues/25655. Or I can only make a PR that will fix it only in built artifacts (JAR and native) for now without working devmode and tests. Personally, I would wait for the new feature.

[2022-05-19 13:05] timbrueckner opened #25681 "Swagger-UI spec validation cannot be disabled"
### Describe the bug

I am using the OpenAPI extension in my application and I include the bundled `swagger-ui` in my deployment. I want to disable the spec validation of swagger-ui. I am using the YAML-based configuration, by the way.

[code]

And I configured swagger-ui like this:

[code]

The docs of the extension mention the following:

By default, Swagger UI attempts to validate specs against

[2022-05-19 13:07] lostiniceland commented on #6506
Can confirm that this is currently still an issue.

[2022-05-19 13:17] luneo7 commented on #22724
Switching between Vertx main threads and worker threads works out of the box, if you use your own worker threads you will need to follow the Quarkus context propagation guide. https://quarkus.io/guides/context-propagation

[2022-05-19 13:24] vietj commented on #25658
this happens because RestEasy reactive calls vertx with a null handler :

[code]

in https://github.com/quarkusio/quarkus/blob/e7315703f408f4697149cd8d6a0ba08fcf061f26/independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/VertxResteasyReactiveRequestContext.java#L331

[2022-05-19 13:26] geoand commented on #25658
We have always been doing that, should we not be doing it?

[2022-05-19 13:33] edeandrea opened #25682 "Dev Services for Postgresql not working with Rancher"
### Describe the bug

Last week I got a new laptop - a 2021 MacBook M1Pro. Since then whenever I try to use Dev Services for Postgresql (either in Quarkus Dev mode or when running tests) it seems to be broken with some kind of race condition between the starting of the Postgres container & the creation of the username/password). When Hibernate kicks in to create the tables its getting an authentic

[2022-05-19 13:34] vietj commented on #25658
this was done recently (https://github.com/quarkusio/quarkus/pull/25577) and  calling method with null is not something we advocate to do for most users.

my point is that there is no guarantee that it works, in practice calling end(null) should throw an NPE.

this will be fixed in 4.3.1 : https://github.com/eclipse-vertx/vert.x/commit/e9846949523c14927a8ac2d048a84378f774b83e but try avoiding in r

[2022-05-19 13:37] jvanzyl opened #25683 "Add Sigstore keyless signing to the Quarkus release process"
### Description

The [Sigstore] project is trying to help with open source supply chain security, and one easy way to participate is to add x509 -based signatures to release artifacts. I've tried to make this relatively painless with the [Sigstore Maven][2] project. I'm happy to try and help integrate Sigstore into the Quarkus project!

[1]: https://www.sigstore.dev/
[2]: https://github.com/sigsto

[2022-05-19 13:43] geoand commented on #25658
Indeed, I missed the change when looking at the git logs (cc @franz1981 ).
In my view, this is a perfectly valid thing for us to do, unless we have a way to know that it's not expected to work.

[2022-05-19 13:45] sberyozkin commented on #25683
Interesting

[2022-05-19 13:49] gsmet commented on #25658
Can we revert https://github.com/quarkusio/quarkus/pull/25577 until this gets fixed? I would like this to be fixed for 2.9.2.

[2022-05-19 13:54] geoand commented on #25658
I don't really want to revert it. I did https://github.com/quarkusio/quarkus/pull/25684 instead

[2022-05-19 14:00] maxandersen commented on #25683
How big a change to the pom.xml would it be ?

if "trivial" I suggest you just make a PR ASAP so we can play around with it and get a better understanding how/if it affects our current lrelease process

/cc @gsmet @stuartwdouglas

[2022-05-19 14:19] franz1981 commented on #25658
@vietj

I can understand why, but given that fire-and-forget seems to be missing gap in the API (or better- "explicit fire-and-forget") and `null` isn't a nice candidate for the callback-style API, wdyt about exposing a `voidHandler`-like singleton?
I know in the past (thinking about Netty) it hasn't been a great solution, making the underline stack more complex for what looks like a futile optimi

[2022-05-19 14:48] vietj commented on #25658
for now I think it's ok to pass null but it should not be abused.

we'll see what we'll do in the future with Netty 5 that does not have anymore a void promise solution.

[2022-05-19 15:42] hernael opened #25687 "Kafka + Postgresql Panache Reactive = reactive db connection max size reached"
### Describe the bug

after read "N kafka topic record" and N > quarkus.datasource.reactive.max-size, a timeout error occurs.

[code]

It's as if hibernate don't release the connections already used by Panache Reactive.
If property `quarkus.datasource.reactive.max-size=10`, then only 10 records can be processed in DB. At 11 register gives error.

The Panache code is:

[code]

### Expected behavior

[2022-05-19 15:53] jvanzyl commented on #25683
I can just make a PR, it may take me a few runs. But I can likely get it working. It will do all the existing PGP signing, Sigstore signing and a full automated release from GHA to OSSR if you don't already have that.

[2022-05-19 15:55] edeandrea opened #25688 "kubernetes-client and kubernetes extension combinations don't generate the correct things"
### Describe the bug

If I have a project which contains both the `kubernetes-client` extension and any of the other kubernetes extensions (`openshift`, `kubernetes`, `minikube`), if `src/main/kubernetes` contains other `Deployments`/etc, then the `ServiceAccount` object doesn't get generated, yet a `serviceAccountName` attribute gets added to each and every `Deployment` or `DeploymentConfig`.

 T

[2022-05-19 16:02] edeandrea commented on #24444
Hey @cescoffier I just filed #25688. This creates a problem when using stork with the various kubernetes extensions if you have created any of your own kubernetes files in `src/main/kubernetes`. The resulting yamls generated by the combination of the `kubernetes-client` and the kubernetes extensions aren't deployable.

[2022-05-19 16:07] #25562 closed

[2022-05-19 16:38] gastaldi commented on #25682
Thanks, @edeandrea, I tried to reproduce this in my M1 but no luck so far. I got two questions for you:
- Does it also happens if you run `mvn test` in your project?
- Is there any visible interesting output when you add `quarkus.log.category."org.testcontainers".level=FINEST` to your `application.properties`?

[2022-05-19 16:41] edeandrea commented on #25682
Yes it happens when I run `./mvnw test`. Here's the output with `quarkus.log.category."org.testcontainers".level=FINEST`

[code]

[2022-05-19 16:51] edeandrea commented on #25682
@gastaldi could it be related to the docker daemon i'm running? I'm mostly using Rancher Desktop (I don't even have docker desktop installed on my machine).

[2022-05-19 16:55] edeandrea commented on #25682
as thats downloading in the background I switched off Rancher Desktop and started up podman. So far I can't seem to reproduce it using podman.

[2022-05-19 16:56] gastaldi commented on #25682
@edeandrea you can expense Docker Desktop if you need it, talk to Dimitri about it.

I compared the output and the only difference I noticed is that I don't see the `listening on IPv4 address "0.0.0.0", port 5432` in the logs

[2022-05-19 17:05] edeandrea commented on #25682
ran it a bunch of times with docker desktop & podman - can't reproduce it. I blew away my rancher desktop instance & re-created it. Ran ok a few times but then started up again.

I'd say go ahead and close this for now. If it crops back up I'll come back & re-open.

[2022-05-19 17:05] mkowa42 commented on #25667
I can confirm this behavior: The same happens if you set `quarkus.config.locations` system property in order to use additional application.properties. While running quarkus dev mode the file(s) getting deleted.

[2022-05-19 17:05] edeandrea commented on #25682
Thank you @gastaldi for looking at it!

[2022-05-19 17:26] arunav-b commented on #21680
I have the gradle version defined at project level under gradle.properties, but I still get the same issue

[2022-05-19 17:46] sberyozkin commented on #25659
Opened a draft #25690, confirming a native mode failure.

[2022-05-19 18:04] #25658 closed

[2022-05-19 18:42] jskillin-idt opened #25693 "Gradle integration tests mischaracterize "FROM-CACHE" as a failure when caching is enabled"
### Describe the bug

When the Gradle cache is enabled, the Gradle integration tests fail when a Gradle task is run and returns "FROM-CACHE" as its status, because the test is looking for the "SUCCESS" string. The "FROM-CACHE" means that Gradle recognizes the build environment and the task inputs and had enough confidence to reuse the task outputs from the last run.

This issue is low priority, in

[2022-05-19 18:51] maxandersen commented on #25667
Interesting - why is that code even trying to delete these files anyway ?

[2022-05-19 19:19] gsmet commented on #25667
This needs a quick fix because it's really bad.

Also, we need to be a lot more careful when deleting path. How come we can delete files that are not in an output dir directory?

[2022-05-19 19:26] Postremus commented on #25667
@gsmet
`This needs a quick fix because it's really bad.`
Current plan is to finish the fix (#25670) this evening.

`How come we can delete files that are not in an output dir directory?`
.env files are being watched as absolute paths, not as relative ones. i.e. These config files are read directly from the project root and not from a resource root, and are therefore not copied to an outputdir.

ht

[2022-05-19 19:51] Sanne commented on #19009
We don't support JMX; we actually intentionally disable it in many place.

[2022-05-19 19:51] #19009 closed

[2022-05-19 21:06] deathwaiting commented on #25672
@Karm

This is a [sample repo](https://github.com/deathwaiting/quarkus-native-build-stuck).

also what was tried so far:
  - downgrading the graalvm build image from `22.0.0.2-Final-java17` to `21.3.2.0-Final-java17` **[NO EFFECT]**
  - upgrading gradle to `7.4.2` **[NO EFFECT]**
  - remove dependencies on lombok **[NO EFFECT]**
  - using `docker` instead of `podman`
[code]
    **[NO EFFECT]**
  -

[2022-05-19 22:28] eformat commented on #25673
thanks @geoand for looking at this !
i am going to debug whats going on - i had not thought to try the downgrade since 0.8.7 was broken with earlier versions, so had been using 0.8.8-SNAPSHOT for a long time ! ha !

FWIW i had been tracking a bug in similar area (quarkus, jacoco, offline)
https://github.com/quarkusio/quarkus/issues/9837

which was finally fixed and merged in 0.8.8 jacoco - https:/

[2022-05-20 00:32] #23534 closed

[2022-05-20 01:11] phillip-kruger commented on #25681
@timbrueckner do you perhaps have a small reproducer ? I did not manage to recreate the issue and `quarkus.swagger-ui.validator-url=none` is working for me.

[2022-05-20 05:27] geoand commented on #25688
@Sgitario you may be interested in this

[2022-05-20 05:58] alexeysharandin opened #25700 "Quarkus for embedded systems"
### Description

Hi,
I'm not sure what is interesting because targed for Quarkus is cloud native but let's discuss because this feature already implemented by me year ago for JVM/Native modes and need to add only Quarkus integration.

**Disclaimer:**
I will deliberately simplify the description of feature to better undersanding of community because embedded systems it's separated world.

**Intro:*

[2022-05-20 06:53] rafmcpaf commented on #25677
Our nightly build failed again, but now with extra debug logging (-X flag enabled). I could find the following errors (in order of appearance. Hopefully this gives some extra insights:

[code]

[code]

[code]

Looking at the last error, I assumed that there was a corrupt jar (or one with a corrupt jandex index), but I could not find one...

[2022-05-20 06:58] eformat commented on #25673
I have found a workaround for my case, i will leave this here for anyone who needs it.

Basically the configuration for testing when not using QuarkusTest in the pom.xml was only needed in my case because of the use of allure-junit5. We are using this to report and attach test output into Allure https://github.com/allure-framework

The default allure aspect4j/annotation mechanism (@Attachment) ret

[2022-05-20 07:51] maxandersen commented on #25700
Definitely sounds interesting!

[2022-05-20 08:07] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2356242256

[2022-05-20 08:09] aloubyansky commented on #25700
@alexeysharandin you mentioned that you already implemented something, is it available somewhere for us to look into? Thanks.

[2022-05-20 08:19] alexeysharandin commented on #25700
@aloubyansky, yes. It's available(only native part not published). You can start read from here - https://habr.com/ru/post/580368/
I know what we have 2 parallel projects - pi4j and diozero but both of them going over the same way what Oracle did before. Hardcode to hardware and hardware offsets and a lot of JNI code for this.

I selected different way - integrate with POSIX directly over JNA for

[2022-05-20 08:40] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2356242256

[2022-05-20 09:42] alexeysharandin commented on #25700
BTW: What is current status of this extention will be:
1. Core part for SPI/I2C/Serial - already implemented
2. Need to add some Quarkus features. Like beans/configs and etc to simplify work with API.

I'll be lead maintainer for this extention.

[2022-05-20 09:58] glefloch commented on #25693
Nice catch, I will update that in tests.

[2022-05-20 10:49] gastaldi commented on #25700
Interesting indeed. Any ideas on how should this extension be called? `quarkus-embedded` seems too generic to me 😉

[2022-05-20 10:58] edeandrea commented on #25688
FYI @michalszynkiewicz / @aureamunoz - I discovered this after I merged quarkusio/quarkus-super-heroes#82. After that merged I was no longer able to deploy the system to k8s using the yamls generated by the various kubernetes extensions.

I had to remove the `kubernetes-client` dependency and re-add the bouncycastle ones manually in order to work around this (see https://github.com/quarkusio/quark

[2022-05-20 11:20] alexeysharandin commented on #25700
@gastaldi I think it's will be parent...

Currently functionality devided by:
linux-core module - where POSIX interfaces implemened + JVM mode
linux-native-core module - where graalVM native-image implementation for POSIX

additionally will be runtime/deployment added for quarkus...

Technically it's "door to direct access from Java to Linux or POSIX " and implementation for interfaces from first

[2022-05-20 11:47] aloubyansky commented on #25700
For those looking for the code repo it's https://github.com/java-embedded-framework/jef

[2022-05-20 11:49] maxandersen commented on #25700
If it's to enable jef in quarkus maybe start with quarkus-jef as name ?

[2022-05-20 11:51] maxandersen commented on #25700
I see the jef readme mentions only commercial graalvm works - is that true / still a limit today ?

[2022-05-20 11:55] alexeysharandin commented on #25700
@maxandersen
Initially I has a plans to close JEF repo and move all code to Quarkus with Apache2.0.
But If Quarkus community prefer to keep old repo for code and create integration with quarkus - not a problem to change license and add native part to same repo. but in this case need help from George or someone else to implement automatization in JEF repo for auto-publish to maven.

[2022-05-20 12:12] alexeysharandin commented on #25700
BTW: Initially it's release over dual-licensed and it's means what for Quarkus licence will be changed to Apache2.0

[2022-05-20 12:17] ivansenic commented on #24938
Anybody looking into this?

[2022-05-20 12:25] ebullient commented on #24938
I have a new person on the team now, and once he's done a few things to get oriented, I was going to have a try with this one with him. It is going to get into some nasty bits..

[2022-05-20 12:32] famod opened #25706 "rest-client-reactive: support `ClientRequestContext.[get|set]EntityStream()`"
### Description

We have a custom `RestClientLoggingFilter implements ClientRequestFilter, ClientResponseFilter, WriterInterceptor` that is working fine with the classic rest-client.
It's basically wrapping `ClientRequestContext.getEntityStream()` in a custom `LoggingStream` which is set via `ClientRequestContext.setEntityStream()`. (same for responses)

When trying to run it on rest-client-reacti

[2022-05-20 13:29] fazeem84 opened #25708 "Quarkus GraalVM AWS lambda-Open Telemetry extension issue"
### Describe the bug

I have used open Telemetry extension (https://quarkus.io/guides/opentelemetry) to connect Elastic APM server  from our AWS lambda function deployed as cloud Native (https://quarkus.io/guides/amazon-lambda#deploy-to-aws-lambda-custom-native-runtime) runtime
A `NullPointerException` is raised while hitting the end point in Local
and In AWS Class not found exception (OKHttp Chan

[2022-05-20 13:42] mickroll commented on #16397
Workaround:
starting point:
[code]
solution:
- create custom `OidcClientRequestFilter` that supplies the correct `client-id`:
[code]
- use it on interface:
[code]
- with example config:
[code]

[2022-05-20 16:20] synox commented on #9386
Did this feature already make it into a release?

[2022-05-20 19:09] timbrueckner commented on #25681
@phillip-kruger We can close this issue. I just noticed, the property was missing in the `application.yaml` file used to build the application. It was only present on the file mounted into the docker container, but it is a config property, which is fixed at build time. Thanks for taking the time to dig into the issue. Sorry, I didn't notice that earlier.

[2022-05-20 19:09] #25681 closed

[2022-05-20 19:15] gsmet commented on #9386
No, it’s 2.10 material. It will be released by end of June. That being said, you can test the snapshots and report back. That would be helpful.

[2022-05-20 23:40] gastaldi commented on #25700
@alexeysharandin out of curiosity: is the https://github.com/java-embedded-framework/jef repository maintained solely by yourself at the moment?

It's really up to you to decide about moving these sources to the new Quarkiverse repository (with whatever name we come up with). The main driver of this decision is if the code you'll maintain is meant to be Quarkus only.

I'd recommend keeping the cor

[2022-05-21 04:56] maxandersen commented on #25700
Curious to know the above ?

[2022-05-21 08:19] rahimalizada opened #25711 "mongodb dependencies incompartibility in version 2.9.1"
### Describe the bug

Compared to previous release (in my case version 2.7.3) quarkus bom in 2.9.1 updated mongodb-crypt dependency to 1.4.0 (from 1.2.1) while keeping other mongodb dependencies with previous version (4.3.4).
This results in following error while building native image:

`Error: Class initialization of com.mongodb.crypt.capi.CAPI failed. Use the option --initialize-at-run-time=com.

[2022-05-21 09:56] hpopov commented on #3261
The same happened to me with Hibernate, outside of Quarkus. Used `org.hibernate:hibernate-core:jar:5.4.21.Final` over Spring Boot version `2.3.4.RELEASE`. Whenever an entity changes single primitive attribute from `false` to `true`, it gets persisted (update query is issued), but not the vise versa (with primitive boolean attribute changed from `true` to `false`)

[2022-05-21 10:00] gsmet commented on #3261
@Sanne do you know if this one was fixed in recent ORM releases?

[2022-05-21 10:47] alexeysharandin commented on #25700
@maxandersen ,
to make long story short: from today(21.05.2022) licence changed to Apache2.0 and repo updated.
Native part will be uploaded in github in some time(need to retest few function before in SVM21.+)

[2022-05-21 10:49] hpopov commented on #3261
Sorry, guys, I deceived you accidentally. That was not the case: my Booleaans were all wrappers, not primitives, the mistake was rather on my side.

[2022-05-21 10:53] alexeysharandin commented on #25700
@gastaldi,

yes.

Not right :) repo separated by modules and these modules can be used as part of quarkus or separatly.

For me both options fine. If possible to add some CI to publish to maven in current repo - it's fine for me (I give you rights).
Options with coping all sources to quarkiverse - fine too. Nothing will be changed from functions perspective in "classic java mode" only additional m

[2022-05-21 11:26] gastaldi commented on #25700
Sure, my point is that the artifacts produced in the Quarkiverse repository must start with the group ID `io.quarkiverse`, and probably that doesn't make much sense for the code that's not specific to Quarkus Maven-wise.

[2022-05-21 11:56] alexeysharandin opened #25712 "Quarkus Reactive Code Profiler"
### Description

**Motivation:**
Quarkus support some metrics/monitoring functions what can show what is happen in top level but sometimes need to understand what is happen inside of code without some additional code manipulation and manual changes. It’s more related to business logic or hard operations what required debug in the different network topologies or different clouds.

At this moment my

[2022-05-21 16:28] hongshaoyang commented on #19009
Thanks @Sanne

would be good to update in the Quarkus docs that it doesn't support JMX.

[2022-05-21 21:00] vcatalano commented on #22971
I seem to be running into this same issue. I am using a custom implementation of HttpAuthenticationMechanism with DynamoDB but no matter what I do, I can't get my `AuthenticationFailedExceptionMapper` to work (see the following):

[code]

I've tried using @FroMage 's solution (I've event looked at the [Quarkus Renarde](https://github.com/quarkiverse/quarkus-renarde/tree/15ec74d0897cfa34e8d4c54c080

[2022-05-21 21:14] #25667 closed

[2022-05-22 09:13] Sanne commented on #19009
Fair enough; do you have a suggestion about where this should be written? Where would you have expected to find it?

[2022-05-22 09:24] maxandersen commented on #25700
So this is no longer reliant on graalvm enterprise features ?

[2022-05-22 09:34] alexeysharandin commented on #25700
@maxandersen,
library never depends on graalvm enterprise features before. I used CE features to build native-image what available in public MVN but not documented in Graal at this moment.

[2022-05-22 18:35] luisnuxx commented on #25607
i'm also facing this issue after upgrading an existing app ( SQL Server ) from Quarkus 1.9.2.Final to 2.9.1.Final

[2022-05-22 19:40] jhoeflaken commented on #15982
Hi,

What is the status of this issue? I am working on a HAPI FHIR extension and running into this problem. My application/fhir+xml and application/fhir+json supporting reader and writer are not called because the media type is converted to application/xml and application/json.

Kind regards,

Jacob

[2022-05-22 20:06] jhoeflaken commented on #15982
Hi,

Additionally: if I have a produces with "application/fhir+xml" and "application/fhir+json" it will be translated to "application/xml" in the `isWriteable` of the MessageBodyWriter, even if I set "application/fhir+json" in the Accept header (I would have expect "application/json"). This means that I can not have a workaround of registering my customer readers and writers as "application/xml" a

[2022-05-22 20:24] renegrob commented on #22724
Thanks a lot @luneo7 for the example.

I tried it out with resteasy-reactive and created a reproducer project:
https://github.com/renegrob/quarkus-maven-reproducers/tree/mdc-propagation

Note: The unit tests do not (yet) test the log output. I just use them to invoke the methods.

This one works as expected:

[code]
[code]

While this version loses the MDC:

[code]
[code]

Also this very simple ex

[2022-05-22 20:25] renegrob commented on #22724
@geoand Do you have a hint since I'm using resteasy-reactive?

[2022-05-23 03:30] geoand commented on #15982
Hi,

This slipped between the cracks...
@Sgitario do you want to take a look?

[2022-05-23 05:07] geoand commented on #12111
@gastaldi we have this failure:

[code]

Can you take a look please?

[2022-05-23 05:09] geoand commented on #22724
I do not unfortunately as I haven not followed the MDC stuff in Vert.x

[2022-05-23 05:58] geoand commented on #25712
This seems very interesting!

Do you mind recording a video and sharing it so we can see what has been done?

Thanks

[2022-05-23 05:58] geoand commented on #25712
This seems very interesting!

Do you mind recording a video and sharing it so we can see what has been done?

Thanks

[2022-05-23 06:22] geoand commented on #25711
I have opened https://github.com/quarkusio/quarkus/pull/25716 which likely addressed the problem, but without a sample project that exhibits the problem, I can't know for sure.

[2022-05-23 06:53] gsmet commented on #25711
@rahimalizada could you provide a simple Maven reproducer so that we can have a look? Also we would use it to include a proper test in the testsuite.

[2022-05-23 07:11] antonwiens commented on #25325
Can we please get a fix for this? It is affecting 2.9.1 and Quarkus CXF 1.1.0.

[2022-05-23 08:16] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2369101980

[2022-05-23 08:19] jmartinspt opened #25719 "Configurations for Authorization of Web Endpoint doesn't work properly with different profiles"
### Describe the bug

I'm trying to configure different policies for different profiles in quarkus and only for these configurations, the ones defined for my prod profile are always being read.

Here is my configuration file (application.yaml):

[code]
On my machine, using quarkus plugin on IntelliJ and the different profiles, the configurations work properly, but when I package the code with mvn

[2022-05-23 08:35] geoand commented on #25677
Can you try clearing the state of your CI?

[2022-05-23 08:40] Sanne commented on #3261
I don't know for sure but I suspect it's still an issue - when we looked at it, this was mostly caused by a Jackson integration flaw and would only manifest such a problem when exposing directly entities to endpoints and lettting Jackson serialize them and transparently re-merge them within long spanning transactions: a pattern we don't encourrage nor support.

We discussed possible solutions with

[2022-05-23 08:46] mmusgrov commented on #17148
Enforcement of transaction isolation levels is not under the control of the narayana transaction manager, instead it is enforced by the connection pooling (so either Agroal or vert.x). @geoand is there a better area by which we can track this issue?

[2022-05-23 08:47] geoand commented on #17148
I'll just file it under persistence.

[2022-05-23 09:09] rafmcpaf commented on #25677
Our CI is a jenkins. We clear the workspace after every build.
The weird part is that this build only seems to fail in our nightly job (and not always...).
I know that there is possibly an external cause for this. But these error messages give me no clue what to look for...

[2022-05-23 09:16] geoand commented on #25677
Perhaps https://github.com/quarkusio/quarkus/pull/25721 will help

[2022-05-23 09:22] rafmcpaf commented on #25677
Ok, let's wait till that one is in a next release

[2022-05-23 09:39] tonyherstell opened #25722 "@JwtSecurity works with Resteasy Classic but stopped working with Resteasy Reactive"
### Describe the bug

@JwtSecurity(claims = { @Claim(key = "xxxxx", value = "XXXXXXXX") })

[https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/JwtSecurity.20problem](url)

### Expected behavior

Claim is added to be used in a test

### Actual behavior

Claim ignored

### How to Reproduce?

[https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/JwtSecurity.20problem](url

[2022-05-23 09:39] acliufan opened #25723 "starts slowly"
### Describe the bug

Hi Team,

My application is built with Installed features: Installed features: [agroal, cdi, hibernate-orm, hibernate-orm-panache, jdbc-postgresql, narayana-jta, resteasy, resteasy-jackson, resteasy-mutiny, servlet, smallrye-context-propagation, spring-data-jpa, spring-di, spring-web, vertx].

I packaged the quarkus project with native *.exe mode. And I registered the quarkus

[2022-05-23 09:40] tonyherstell commented on #25722
@Tony Herstell No, this annotation remains, so it works with Resteasy Classic but stopped working with Resteasy Reactive ? Can you open an issue please ?

[2022-05-23 09:49] acliufan commented on #25723
The config of my application is as follows:
server.ip=127.0.0.1
quarkus.http.host=0.0.0.0
quarkus.http.port=18300

custom.level.my.log=TRACE
quarkus.datasource.db-kind=postgresql
quarkus.datasource.jdbc.url=jdbc:postgresql://${server.ip}:5432/fusionsite_are_log?useUnicode=true&characterEncoding=utf8&autoReconnect=true&rewriteBatchedStatements=TRUE
quarkus.datasource.username=
quarkus.datasource.pa

[2022-05-23 09:49] angelozerr opened #25724 "Improve errors reporting of QuteProcessor"
### Description

When a quarkus application is build (with native or not), the step `io.quarkus.qute.deployment.QuteProcessor#processTemplateErrors` is very verbose and for IDE / Editor it is hard to capture those errors to display them in the IDE / Editors:

Here a sample of error:

[code]

### Implementation ideas

It should be really nice to simplify the error reporting like https://code.visual

[2022-05-23 09:56] geoand commented on #25722
Can you attach a sample project that exhibits the problematic behavior please?

[2022-05-23 10:05] michalszynkiewicz commented on #25619
I'll dig into it, can you create a small reproducer?

[2022-05-23 10:38] jmartinspt commented on #25719
@sberyozkin thanks for the reply, I have already tried that.
The quarkus will assume the properties defined on %dev, only the  **auth** are overridden by %prod profile instead the default defined on top of the properties file.

[2022-05-23 11:02] marcelhanser commented on #23750
@glefloch sry for the late answer. Our build is stable with 2.8.x! thx!

[2022-05-23 11:58] BlackSharkCZE opened #25727 "@TestTransaction take no effect"
### Describe the bug

In the @QuarkusTest with JUnit 5 in in the @Test method, annotation @TestTransaction does not rollback data from the database at the end of test when using io.quarkus.hibernate.reactive.panache

### Expected behavior

At the end of the @Test method, data from the database are removed (rollback).

### Actual behavior

Data stored in the database during @Test keep in the databa

[2022-05-23 12:03] glefloch commented on #23750
No problem, thanks for the answer, I will close the issue then. You can reopen it if you face the issue again.

[2022-05-23 12:06] sberyozkin commented on #23967
@jerboaa Hi Severein, thanks, makes sense to me as well. I think I'll close this issue with a minor update to the BouncyCastle doc section clarifying such providers are unlikely to work on RHEL FIPS

[2022-05-23 12:09] #25711 closed

[2022-05-23 12:29] jstastny-cz commented on #12486
To me this seems like a problem with the quarkus-junit5 dependency as pointed out by Tristan.
Seeing:
[code]
Which is weird to see in case of LTS build, isn't it? Elsewhere we can see e.g. in `@ drools-drl-quarkus-integration-test ---`
[code]

[2022-05-23 12:34] evacchi commented on #12486
this is not an LTS build but main Kogito against main Quarkus. If you are seeing 2.9.0.Final then there are mixed versions, everything would be 999-SNAPSHOT, and maybe our config is broken (?)

https://github.com/kiegroup/kogito-runtimes/blob/main/.github/quarkus-ecosystem-test#L12-L14

[2022-05-23 12:38] jstastny-cz commented on #12486
I see same failure in both logs:
1_Build against latest Quarkus LTS.txt
and
1_Build against latest Quarkus snapshot.txt

downloaded from https://github.com/kiegroup/kogito-runtimes/actions/runs/2369101980 ...

So I looked into LTS to get some idea.

[2022-05-23 13:08] geoand commented on #25727
You should be using `io.quarkus.test.TestReactiveTransaction` when working with Hibernate Reactive.

[2022-05-23 13:08] #25727 closed

[2022-05-23 13:12] geoand commented on #25723
Can start the application with `-Dquarkus.debug.print-startup-times=true` and report the result please?

[2022-05-23 13:22] aloubyansky commented on #8242
Right, it's more primitive, in the test plugins the artifacts configured to be excluded are removed from the resolved flat set instead of as nodes of dependency trees.

[2022-05-23 13:28] ivansenic commented on #24938
Using the match pattern does work and I am using this as the workaround at the moment.

@ebullient I also noticed that it's impossible to customize the response in case of `401 Unauthorized`. I followed the instructions here https://quarkus.io/guides/security-built-in-authentication#how-to-customize-authentication-exception-responses, however it does not end up in calling that mapper. Proactive au

[2022-05-23 13:38] #23750 closed

[2022-05-23 13:38] sberyozkin commented on #24938
@ivansenic,

Yes, please create a separate issue with a reproducer

[2022-05-23 13:56] hongshaoyang commented on #19009
@Sanne The [Measuring Performance](https://quarkus.io/guides/performance-measure) or [Micrometer Metrics](https://quarkus.io/guides/micrometer) guides look like a good place to get started, maybe a small info note will help.

My team and I were trying out a Quarkus POC to compare its performance with our current Java stack, and we attempted to use JMX to get performance metrics, but failed.

[2022-05-23 14:22] GregJohnStewart opened #25730 "DevServices config not making it to quarkusIntTest config"
### Describe the bug

In some of my quarkusIntTest tests, I am attempting to connect to the Mongo devServices instance to play with test data and cleanup after each test.

These tests work fine in regular `@QuarkusTest` mode, however it seems that the `quarkus.mongodb.connection-string` config value never makes it to the test context.

I am attempting to get the value via `ConfigProvider.getConfig

[2022-05-23 14:48] gastaldi commented on #25700
@alexeysharandin in order to publish to Maven central, you need to create a JIRA ticket in the OSSRH Sonatype JIRA for your groupId: check https://central.sonatype.org/publish/publish-guide/#initial-setup for more information.

[2022-05-23 14:51] sberyozkin commented on #25719
@jmartinspt may be it is due to the fact these are build time properties, referenced from https://github.com/quarkusio/quarkus/blob/main/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpBuildTimeConfig.java#L27

@radcortez Can you comment please ?

[2022-05-23 14:52] gsmet opened #25731 "security-openid-connect-client-quickstart failing in native"
The native build for the quickstarts is broken due to port issues: in native, it's using prod mode and thus not the 8081 URL. I think we need a better fix than the one that has been used.

[code]

[2022-05-23 14:56] ivansenic opened #25732 "Unable to change unauthenticated response with `quarkus-resteasy-reactive`"
### Describe the bug

I tried to add a custom exception mapper for unauthenticated exceptions. Followed the instruction on https://quarkus.io/guides/security-built-in-authentication#how-to-customize-authentication-exception-responses. However, although the exception mapper is defined, it's never being invoked. Switching the proactive auth on and off does not have any impact.

The exception mapper

[2022-05-23 15:23] aloubyansky commented on #25700
I don't see an issue including the core library in a quarkiverse repo, assuming there are no current users, if it makes it easier to evolve the extension. It could be extracted later, if necessary.

[2022-05-23 15:28] gastaldi commented on #25700
I'll create a `quarkus-jef` repository then and we can evolve from that

[2022-05-23 15:29] alexeysharandin commented on #25700
@aloubyansky Thanks Alexey. I'm about the same.
@gastaldi Many thanks.

[2022-05-23 15:36] sberyozkin commented on #25732
@ivansenic Thanks, the mapper is tested here, https://github.com/quarkusio/quarkus/blob/main/integration-tests/oidc-code-flow/src/main/java/io/quarkus/it/keycloak/AuthenticationCompletionExceptionMapper.java, https://github.com/quarkusio/quarkus/blob/main/integration-tests/oidc-code-flow/src/test/java/io/quarkus/it/keycloak/CodeFlowTest.java#L696. That test, though quite complex, only passes becau

[2022-05-23 15:50] geoand commented on #25732
I'll have a look tomorrow

[2022-05-23 16:03] sberyozkin commented on #25732
Thanks @geoand, I did not mean to say it was just a `RestEasy Reactive` problem :-), but it might need some tweak, I can create a draft PR with a test

[2022-05-23 17:02] sberyozkin commented on #25731
Right now it is

[code]

It works for tests, when running in dev or JVM mode, if no `-Dnative` is used.
Adding `-Dnative` means the native test endpoints are getting `8080` via a `%prod` profile, but `%test` profile is also activated and the REST client picks up `8081`.

But `RestAssured` is not affected. I don't see what can be done but ensuring that the prod profile is used when running native t

[2022-05-23 17:20] laurentperez commented on #16700
well we dropped JPA (for tenant datasource resolution). also because our tenants are not known at build time, ours are dynamic ones.

I guess once you manage to resolve your tenant, context propagation or maybe EventBus should work to let other parts of your codebase know the tenant

[2022-05-23 17:26] #25700 closed

[2022-05-23 18:46] gsmet commented on #17770
I think this one is pretty much covered now.

[2022-05-23 18:46] #17770 closed

[2022-05-23 18:53] gsmet commented on #25063
PR merged here: https://github.com/quarkusio/quarkus/pull/25168 .

[2022-05-23 18:53] #25063 closed

[2022-05-23 19:02] radcortez commented on #25719
The configuration is set as build-time only (these are identified by the lock icon):
https://quarkus.io/guides/all-config#quarkus-vertx-http_quarkus.http.auth.policy.-role-policy-.roles-allowed

This means that the configuration is only read and evaluated during the build and it is fixed when you run the app (so you can't change it anymore). If this behavior is not desired we need to discuss what

[2022-05-23 19:03] gsmet commented on #8710
Sorry I totally missed the comments here :/.

My idea was to somehow keep the driver and then have something like:
[code]

When `quarkus.datasource.jdbc.tracing` is true, we would register the tracing driver for reflection together with the underlying JDBC driver.

If `quarkus.datasource.jdbc.tracing.enabled` is true, we would use the tracing driver in `DataSources` at runtime.

My guess is that c

[2022-05-23 19:34] #18228 closed

[2022-05-23 19:57] radcortez commented on #25302
It seems that your build is trying to download dependencies from a repo that does not have them. The SmallRye Common BOM is available in Central:
https://repo1.maven.org/maven2/io/smallrye/common/smallrye-common-bom/1.8.0/

Can you try to adjust your build to point to a repo that has the dependency?

[2022-05-23 20:12] kucharzyk opened #25735 "Resteasy - intercepting endpoint selection"
### Description

Hello,

I would like to create multiple endpoints with the same url. Depending on request headers I would like to decide which method should be used. Currently I have one endpoint with conditional return statement but it is not ideal solution for me.

It would be nice to create multiple endpoints with same url i and annotate them with custom annotations.
I was looking in docs and

[2022-05-23 21:07] ahamid commented on #2921
I arrived at this issue even though this is a Keycloak-specific question.  I am using the quay.io Keycloak 18 image. It is not clear where to "set" the `quarkus.keycloak.ssl-required`. Is this a Java system property?

[code]

[2022-05-24 01:20] gastaldi commented on #17148
Thinking aloud, one way to work around this is to create 2 Datasources and set the `quarkus.datasource.jdbc.transaction-isolation-level=SERIALIZABLE` for the Datasource consumed in the write endpoints.

[2022-05-24 01:36] gsmet commented on #17071
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkusio/quarkusio.github.io/actions/runs/2374928583

[2022-05-24 06:04] geoand commented on #25731
https://github.com/quarkusio/quarkus-quickstarts/pull/1117 is the proper fix - we use a similar pattern in the integration tests of the main repo

[2022-05-24 06:16] aomsweet commented on #25216
2.9.1 has the same problem.

[2022-05-24 06:41] geoand commented on #25732
I just tried your sample and handling the exception with the `ExceptionMapper` does not work for RESTEasy Classic either.

@sberyozkin I think this is best handled by you, since I am lacking a lot of the security context.
At the very least, I think we need to update the documentation to specify under which conditions using an `ExceptionMapper` works.

[2022-05-24 07:06] geoand commented on #25735
Just checking whether @FroMage has not already done something along these ends for Renarde.

[2022-05-24 07:14] #14729 closed

[2022-05-24 07:19] geoand commented on #25730
I understand why one would think this could work, but unfortunately it does not because QuarkusIntegrationTest works fundamentally differently than QuarkusTest.

[2022-05-24 07:27] acliufan commented on #25723
I put the `-Dquarkus.debug.print-startup-times=true` and  I find a warning message .

I found it on the Internet. It may be a problem with the quarkus version. So I upgraded the quarkus version to 2.9.1 Final.
However,I found that the warning is also exists.But there are more detailed log information and more time statistics.The result is as follows:
[add-startup-time.out.log](https://github.com/q

[2022-05-24 07:31] geoand commented on #25723
You don't need to worry about the warning, it's a false positive.

[2022-05-24 07:35] geoand commented on #25723
For some reason your hardware seems to be performing very very poorly. The steps that are slow have no reason to be slow.

[2022-05-24 07:38] geoand commented on #25731
Fixed by https://github.com/quarkusio/quarkus-quickstarts/pull/1117

[2022-05-24 07:38] #25731 closed

[2022-05-24 07:40] geoand commented on #25723
Closing, as this is certainly not a Quarkus issue.

[2022-05-24 07:40] #25723 closed

[2022-05-24 07:42] geoand commented on #25735
This is a very interesting feature IMO.

[2022-05-24 07:49] geoand commented on #25712
This would make an awesome DevUI feature IMO

[2022-05-24 08:02] michalszynkiewicz commented on #25652
isn't it a duplicate of https://github.com/quarkusio/quarkus/issues/15982 ?

[2022-05-24 08:13] Sgitario commented on #25652
I think this issue should be fixed after https://github.com/quarkusio/quarkus/pull/25739 is merged. @softmetz can you double check that this issue is resolved with these changes? Or provide a reproducer, so we can check ourselves.

[2022-05-24 08:25] #15982 closed

[2022-05-24 08:28] #25693 closed

[2022-05-24 08:31] mschorsch opened #25744 "Resteasy-Reactive: ExceptionMapper is not called when using Kotlin Flow"
### Describe the bug

If an exception is thrown within the `Flow`, the ExceptionMapper is not called and the request does not end.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

Java 11

### GraalVM version (if different from Java)

_No response_

### Quarkus

[2022-05-24 08:35] alexeysharandin commented on #25712
@geoand,
I'll prepare video till next Monday or we can synch-up in zulipchat and I'll show you

[2022-05-24 08:37] geoand commented on #25744
This happens by design for all types that stream data. I'll update https://quarkus.io/guides/resteasy-reactive#streaming-support to make a note of this

[2022-05-24 08:37] #25744 closed

[2022-05-24 08:37] FroMage commented on #16700
@jonjanisch I can probably help, if you can give me a minimal reproducer.

[2022-05-24 08:44] geoand commented on #25712
Excellent 👌🏼

[2022-05-24 08:58] sberyozkin commented on #25732
@geoand Thanks. I see that I don't have tests for mapping `AuthenticationFailedException` but only for `AuthenticationCompletionException` and I believe users have confirmed it was working for `ForbiddenException`.

Perhaps intercepting `AuthenticationFailedException` is not even possible since it is used as a trigger to  create authentication mechanism specific challenges

[2022-05-24 08:58] pjgg opened #25746 "Stork custom ServiceDiscovery doesn't work on Quarkus 2.8.0+"
### Describe the bug

Works as expected with Quarkus 2.7.5.Final and Stork 1.0.0

QuarkusVersion: 2.8.0 or Upstream
StorkVersion: [1.1.2](https://github.com/quarkusio/quarkus/blob/main/bom/application/pom.xml#L55)

Extensions:
[code]
Error:
[code]

Based on [this Doc](http://smallrye.io/smallrye-stork/1.1.2/load-balancer/custom-load-balancer/) looks like Quarkus stork property names has changed:

[2022-05-24 09:02] geoand commented on #25732
From what I saw from the security code, that does seem to be the case.

[2022-05-24 09:08] geoand commented on #25746
I would be great if you included a reproducer. The information in the ticket makes it hard to pinpoint the problem.

Thanks

[2022-05-24 09:27] metacosm opened #25749 "Provide running context to `TestResource` implementations"
### Description

Test resources currently don't have much in the way of knowing the context in which they execute. It could be interesting to provide more information to these so that they can adapt their processing based on the context. One particularly interesting bit of information would be whether or not the tests have failed.

For example, I've created an extension that creates a Kubernetes n

[2022-05-24 09:28] geoand commented on #25749
Wondering if the callback mechanism described in https://quarkus.io/guides/getting-started-testing#enrichment-via-quarkustestcallback would help you?

[2022-05-24 09:37] FroMage commented on #25676
@pmlopes any opinion on this?

[2022-05-24 09:41] FroMage opened #25751 "io.quarkus.qute.deployment.QuteProcessor#collectTemplates threw exception"
### Describe the bug

Sometimes I'm getting this issue when launching tests in Eclipse IDE. I can't reproduce when running tests from Maven.

[code]

I'll attach a debugger to figure it out.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

[2022-05-24 09:45] FroMage commented on #25751
[code]

`root`: "templates"
`filePath`: "/templates/tags/gravatar.html"
`directory`: "/templates/tags"
`basePath`: "templates/"

[2022-05-24 09:46] FroMage commented on #25751
Is there any reason `BASE_PATH` is `templates` and not `/templates`?

[2022-05-24 10:04] maxandersen commented on #25712
definitely sounds interesting.

only concern is to understand the dependency to sqlite and/or sqlite extension as that would be a cyclic dependency but lets definitely see it!

[2022-05-24 10:12] pmlopes commented on #25676
Yes, remove it. in vert.x auth we need to do a sync with the level-2 spec (current release) and remove it too.

[2022-05-24 10:54] ivansenic commented on #25732
Just checked and intercepting the `AuthenticationCompletionException` also does not work.. I updated the reproducible example to showcase it..

[2022-05-24 11:20] michalszynkiewicz commented on #25746
The reason for the failure is that types for both SD and LB are set to `simple`. If you move one of the classes to a different package or change the type, it should work.

Having said that, we should at least provide a more descriptive error message for it

[2022-05-24 11:21] geoand commented on #25746
Actionable error messages should always be our goal :)

[2022-05-24 11:33] j-be opened #25753 "Possibility to customize JAX-B Marshaller in quarkus-resteasy-reactive-jaxb"
### Description

Currently, the `JaxbMessageBodyWriter` from `quarkus-resteasy-reactive-jaxb-common` uses `javax.xml.bind.JAXB.marshal()` to marshal objects to XML. There is no way to customize the marshaller, apart from forking the whole extension and replacing `JaxbMessageBodyWriter` all together.

So if for example I'd need to change the `Marshaller.JAXB_FORMATTED_OUTPUT` property, I have no ea

[2022-05-24 11:36] geoand commented on #25753
cc @Postremus who did the `quarkus-resteasy-reactive-jaxb` extensions

[2022-05-24 11:37] galderz commented on #25672
@deathwaiting Thanks for uploading the sample repo. I'll give it a go.

[2022-05-24 11:39] tiagodolphine commented on #12486
@jstastny-cz @evacchi I'm jumping here to help analyze the issue.
Any news or fix you already tried?

[2022-05-24 11:40] evacchi commented on #12486
@jstastny-cz tried to run it locally, but he couldn't make it work. We may ultimately disable the integration test entirely to return the build to green, but I would also like to understand what's wrong... I assume a bad interaction between the nested maven build and the quarkus plugin?

[2022-05-24 11:49] softmetz commented on #25652
I have created https://github.com/softmetz/quarkusio-25652-json-custom-type
There are two test cases, one for `application/json` and one for `application/custom+json`.

The latter one will fail by:

[code]

I hope that helps to see the problem more easily.

Please notice, that I am using 2.9.1 so the bug is still there.

[2022-05-24 12:02] geoand commented on #25672
@galderz I assume we can close this?

[2022-05-24 12:04] sberyozkin commented on #25732
@ivansenic `quarkus-oidc` is throwing `AuthenticationCompletionException`. I'll clarify in the docs

[2022-05-24 12:06] softmetz commented on #25619
I have created https://github.com/softmetz/quarkusio-25619-header-propagation

There are two test cases, one calling an public endpoint and one a secured one using a bearer token.

The latter one will fail, because the value of `authorization` gets propagated regardless of `@HeaderParam`. I hope that helps.

[code]

Please note, that I used 2.9.1, so the problem is still there.

[2022-05-24 12:09] Sgitario commented on #25652
Thanks for the reproducer.
I could confirm that https://github.com/quarkusio/quarkus/pull/25739 fixed this issue as well.
Closing as it was duplicated by https://github.com/quarkusio/quarkus/issues/15982.

[2022-05-24 12:09] #25652 closed

[2022-05-24 12:16] pjgg commented on #25746
Thank you @michalszynkiewicz !

Also, I notice some other minor "breaking changes" that I am going to comment on in this ticket (most of them are obvious but...):

Quarkus Stork 1.0.0 Vs Quarkus Stork 1.1.2
----------------------------------------------------------------
### Application.properties
[code]
Taking into account that now the keyword "type" is required

### Generated code
New config cla

[2022-05-24 12:34] gpor0 opened #25754 "Reactive Messaging (RabbitMQ) - Support Queue type and mode configuration"
### Description

RabbitMQConnectorIncomingConfiguration supports queue options (durable, exclusive, auto-delete,...) through the properties in the application configuration. Currently is not possible to define queue type, queue mode and other arguments when queue is being defined by the application through the RabbitMQ amqp-client queueDeclare method.

Please add an option to set missing propertie

[2022-05-24 12:45] galderz commented on #25672
@geoand I'd wait a bit and give @deathwaiting opportunity to explain the need for constrained resources.

[2022-05-24 13:20] mkouba commented on #25751
I have no idea. Did you try to use `/templates`? If it works locally and all the tests pass then feel free to send a PR :-).

[2022-05-24 13:34] GregJohnStewart commented on #25730
So is there no way to get the config from the running devmode containers? This feels like something that should exist for intTests... again the use case being playing with test data (and at the very least clearing the db between tests).

I guess I will need to swap back to using manually created testcontainers as resources again

[2022-05-24 13:42] ia3andy opened #25758 "Display extensions with using an unknown category"
### Describe the bug

Recently we added a fix to display extension without category, this is going a bit further to also display extensions which reference an unknown category.

I think we shouldn't display unknown category but instead fallback like we do when there is no category.

We need to decide what's the fallback. Currently we use "uncategorized" for extensions without any category.

### Ex

[2022-05-24 13:43] ia3andy commented on #25758
@quarkusio/devtools

[2022-05-24 13:43] geoand commented on #25730
The integration test does not have access to the same information the application under test does. It's meant to interact with it as a black box

[2022-05-24 13:51] jmartinspt commented on #25719
Thanks @sberyozkin and @radcortez,
In fact, it was my distraction and I didn't read the documentation more carefully.
My intention was just to activate a Developer Role for the DEV and LOCAL environments and disable this role in PROD.
To avoid building the application for different targets, I chose the following configuration:
[code]

And disable the permission `permit-all` only on PROD environmen

[2022-05-24 13:52] #25719 closed

[2022-05-24 14:16] tiagodolphine commented on #12486
I'm running locally kogito main with quarkus main, not able to reproduce the issue yet :thinking:

[2022-05-24 14:20] ia3andy opened #25759 "Allow to put routes between the default route and RESTEasy"
### Description

Currently the default route order (for static resources) is `DEFAULT_ROUTE_ORDER = 10000;`

RESTEasy classic and reactive are using `DEFAULT_ROUTE_ORDER + 1`, this doesn't let any other route in between in a consistant way. As the Integer space is pretty large, maybe a +1000 or +100 could allow a bit more flexibility.

The reason behind is that by default RESTEasy is a dead end ro

[2022-05-24 15:03] luneo7 commented on #22724
@renegrob you did nothing wrong hahaha
The only thing is that you are running Quarkus 2.9.1.Final which doesn't contain the Vert.x MDC stuff, I think it will be out in 2.10... if you clone quarkus master repo, do a `./mvnw -Dquickly` and later change you pom so the bom comes from:
[code]

You will see that all the tests are passing, the ones using resteasy-reactive, ant the other using vert.x dire

[2022-05-24 15:15] ia3andy commented on #25759
Currently in Quinoa using `DEFAULT_ROUTE_ORDER + 1` the route is placed just before RESTEasy, but I guess it depends on the order in which the extension are processed so it's not very reliable right?  @geoand any thought?

[2022-05-24 15:32] #25233 closed

[2022-05-24 15:42] pjgg opened #25761 "Quarkus-cli 2.8.2.Final create app doesn't include test examples with just a jacoco extension"
### Describe the bug

Quarkus 2.8.2.Final and also Upstream (999-SNAPSHOT)
Worked as expected with Quarkus 2.7.5.Final

Quarkus-cli 2.8.2.final doesn't add a `quarkus-resteasy` extension by default, so if I create an application with just `jacoco` extension then I don't have a test folder. I am not sure if this could be an issue?

Reproducer:
1. create an app with jacoco extension
`quarkus create

[2022-05-24 15:46] ia3andy commented on #25759
Currently the only way (hack) to be in between the default route and RESTEasy is to use the same order as RESTEasy, my question is to know if somehow that's reliable. As explain the right fix would be to change the RESTEasy route order but it's not trivial because of the side effect it could have.

[2022-05-24 15:52] renegrob commented on #22724
@luneo7 Oh sorry, my bad. Thanks for the information about Vert.x MDC.
Looking at the log, there are still some cases that don't work properly yet. I will update the reproducer and implement proper tests so that they will not just run through without testing.

[2022-05-24 16:07] gsmet commented on #25761
Yes, we are not forcing a REST implementation on the users anymore IF they specify at least an extension.
If they want one, they need to specify it.

If they don't specify any extension, they end up with a RESTEasy Reactive example.

[2022-05-24 16:13] andreaTP opened #25762 "Compiling a `quarkus-cli` application to a static binary breaks `picocli`"
### Describe the bug

Trying to compile a Quarkus Cli application to fully static binaries "breaks" `picocli`.

cc. @remkop

### Expected behavior

The executable should run in the same way with Java and when compiled.

### Actual behavior

[code]

### How to Reproduce?

- clone this repo using the `quarkus-picocli` branch: https://github.com/andreaTP/test_graal_zig_cc/tree/quarkus-picocli
- run `

[2022-05-24 16:20] tiagodolphine commented on #12486
@radtriste nop, just fetched main from both, in kogito I changed quarkus version to 999-SNAPSHOT. But no issues compiling `integration-tests-kogito-plugin` :thinking:

[2022-05-24 16:39] geoand commented on #25759
I don't think it's reliable, but I haven't checked.

You can always try and change the RESTEasy Route order and see if CI is happy

[2022-05-24 18:22] diogocarleto opened #25763 "Bug using event bus(quarkus-vertx) and quarkus-cache"
### Describe the bug

I'm trying to upgrade the Quarkus version from 2.5.3 to 2.9.1, and I'm experiencing a problem with quarkus-vertx + quarkus-cache.

Let me explain.

I created my GreetingService with the following code:

[code]

Basically `hello` send a message to `consumeHello` that tries to get some data from another method that has cache, in this case `cachedList`. Just after I called this,

[2022-05-24 18:26] jonjanisch commented on #16700
@FroMage thanks I've created a minimal Quarkus app here: https://github.com/jonjanisch/multitenant

It requires a MySQL database with two simple tables for the user and role (see README.md). You can likely use any datasource type. I inserted a user "admin" with password "password" (quarkus uses bcrypt with 10 rounds by default):

[code]

This is the default Quarkus hello world GET endpoint:
`http:

[2022-05-24 18:47] gwenneg commented on #25763
I'll try to update the `quarkus-cache` doc soon and add examples about this, thanks for reporting it!

[2022-05-24 19:53] luneo7 commented on #22724
@cescoffier might be able to explain better why using `Infrastructure.getDefaultWorkerPool()` doesn't propagate the context correctly and `Infrastructure.getDefaultExecutor()` does =]

[2022-05-24 20:22] renegrob commented on #22724
@luneo7 Thanks a lot! I will try to fix my tests. We probably should write a guide for this or update existing ones, there are some pitfalls but if it is done correctly, then it works.

[2022-05-24 21:15] deathwaiting commented on #25672
@galderz
Thanks for your help!

I removed the memory limit options from my main project and was able to make a native build using github CI actions.

however, I couldn't do it on my local machine, as it consumed too much memory and almost crashed the system.

![image](https://user-images.githubusercontent.com/15851272/170133046-508ca559-6ffa-4b9e-a86d-dc965c9df59d.png)

And in the end, the build f

[2022-05-24 23:13] stuartwdouglas commented on #25730
I don't think it would be unreasonable to set/clear dev services config for each test. We already do this for resource manager properties here: https://github.com/stuartwdouglas/quarkus/blob/12e4c170bd48e61ce0e459f78a48203c0deeaeee/test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java#L138

We could just do the same thing for de services properties.

[2022-05-25 00:09] ahmedalnuaimi commented on #14647
I'm having the exact same problem and disabling dev-services fixed it, although I don't consider that to be a solution;

[2022-05-25 00:56] manofthepeace opened #25773 "fire times are not getting updated in quarkus's scheduler when using quartz"
### Describe the bug

Having a scheduled method using quartz. When we get the previous/next firetimes of that job  using `io.quarkus.scheduler.Scheduler` they never get updated as they should when the job runs.

### Expected behavior

Firetimes gets updated to the right values of the previous execution and the next execution

### Actual behavior

Values are not getting updated;

[code]

### How to

[2022-05-25 01:52] ansonquarkus opened #25774 "Dynamic Keycloak Policy Enforcer for multi-tenancy"
### Description

Support creating keycloak authorization policy dynamically

### Implementation ideas

_No response_

[2022-05-25 01:52] gsmet commented on #17071
Build fixed:
* Link to latest CI run: https://github.com/quarkusio/quarkusio.github.io/actions/runs/2381591530

[2022-05-25 04:01] debop opened #25775 "Support MySQL Replications by Hibernate Reactive Panache"
### Description

Many database support replication.
I want to multiple connection for  master (write) / slaves (read)

Currently, I create two SessionFactory (write / read )

if some feature provided, It is more comfortable.

### Implementation ideas

1. One SessionFactory for Write
2. Multiple SessionFactory for Read (round-robin) or SessionFactoryPool

if method under `@Transactional`, use Write

[2022-05-25 04:44] #25626 closed

[2022-05-25 04:50] Sgitario commented on #25753
I did the `quarkus-resteasy-reactive-jaxb` extension, so I will implement this by following the same approaches as done in the Jackson extension +1

[2022-05-25 04:52] geoand commented on #25753
Ah, it was @Postremus who proposed it, my bad.

Thanks @Sgitario !

[2022-05-25 05:33] Postremus commented on #25753
yep, Sgitario did the extension, I proposed it and did a review.

[2022-05-25 06:59] geoand commented on #25761
Should this be closed?

[2022-05-25 08:18] radtriste commented on #12486
@tiagodolphine are you using same command as https://github.com/kiegroup/kogito-runtimes/blob/main/.github/quarkus-ecosystem-test#L17 ?

[2022-05-25 08:21] radtriste commented on #12486
This is the settings used: https://github.com/quarkusio/quarkus-ecosystem-ci/blob/main/quarkus-ecosystem-maven-settings.xml

[2022-05-25 09:10] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2382251740

[2022-05-25 09:10] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2382251740

[2022-05-25 09:15] pjgg commented on #25761
Ok, got it! thank you @gsmet

[2022-05-25 09:15] #25761 closed

[2022-05-25 09:22] #24882 closed

[2022-05-25 09:50] ivansenic opened #25782 "Custom resource started in tests that are not annotated with `@QuarkusTestResource`"
### Describe the bug

I have a custom resource that uses test containers to start needed components for the integration tests:

`class StargateTestResource implements QuarkusTestResourceLifecycleManager, DevServicesContext.ContextAware `

This is then used as:

[code]
In the maven, the `*/*IntegrationTest` classes are excluded from the `maven-surefire-plugin`. Thus they are not run as part of the

[2022-05-25 09:51] glefloch commented on #25570
@jie-huang, I built a reproducer following steps you mentioned above. Everything work, both endpoints return the content of the file. I tested with both the CLI and `gradle quarkusDev`, do you have a reproducer that shows the error ?

[2022-05-25 10:22] geoand commented on #25782
As mentioned in the [documentation](https://quarkus.io/guides/getting-started-testing#quarkus-test-resource), `@QuarkusTestResource` are **global** resources (this was likely a mistake, but it would be too costly to change this behavior).

f you want to only enable a test resource on a single test class or test profile, you can use `@QuarkusTestResource(restrictToAnnotatedClass = true)`.

[2022-05-25 10:22] #25782 closed

[2022-05-25 10:23] ivansenic commented on #25782
Thanks @geoand

[2022-05-25 10:26] geoand commented on #25782
No problem!

[2022-05-25 10:32] geoand commented on #25782
BTW, I you have any questions regarding your Quarkus investigation for stargate, feel free to reach out :)

[2022-05-25 10:33] geoand commented on #25732
@sberyozkin is there anything else we can do to improve here?

[2022-05-25 10:51] mkouba opened #25785 "Qute - make it possible to access template instance attributes in the template"
### Description

E.g. `{attribute:foo}` or even `{attributes.get('foo')}`.

### Implementation ideas

_No response_

[2022-05-25 11:02] sberyozkin commented on #25732
@geoand I'll be on PTO next week, overflowing into the week which follows and looking at some other open issues right now, but yeah, definitely a few things have to be clarified.

One thing that is certain is that it is impossible to intercept security exceptions with JAX-RS mappers if the proactive authentication is enabled which is a default - the security chain will start before the JAX-RS chai

[2022-05-25 11:06] geoand commented on #25732
Thanks a lot @sberyozkin!

[2022-05-25 11:29] ivansenic commented on #25782
Thanks.. But I think we are over the investigation phase.. Our V2 APIs are gonna be based on Quarkus :)

[2022-05-25 11:31] geoand commented on #25782
Then my offers stands for the implementation :)

[2022-05-25 11:35] ivansenic commented on #25732
@sberyozkin In turns our that I am already implementing a custom `HttpAuthenticationMechanism`.. Actually it's a straight forward and standard header-based authentication.. Let me try to hook into that `getChallenge` thingy.. I'll get back to you..

Btw, the header based authentication could be interesting also for contributing back to Quarkus.. Here is a quick showcase on what I did: https://gith

[2022-05-25 12:14] maxandersen commented on #21481
All issues here are resolved and closed.  We support Java 17 for a while now - anything else found is considered a bug.

[2022-05-25 12:24] ivansenic commented on #25732
Yup hooking into challenge works.. Just in case that somebody needs it, here is the reference on how I am setting the custom response: https://github.com/stargate/stargate/blob/304cff3ace476737ab1309a44a20b26bed8a7ad7/sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/security/HeaderBasedAuthenticationMechanism.java#L88-L125

As far as I am concerned, the issue is resolved.

Thanks @ge

[2022-05-25 12:26] geoand commented on #25732
Thanks for the update @ivansenic .

I'll leave this open because at the very least, we could use a doc update.

[2022-05-25 12:47] craigtmoore opened #25787 "Failed to resolve dependencies for gradle build"
### Describe the bug

After generating a quarkus project, I'm unable to build the project using gradle.

I was able to work around the issue by re-ording the maven repositories in the settings.gradle file
[code]

Normally, this would be fine, but only if you already have all of the dependencies in you local maven nexus, but if you don't, then you see the error above. To overcome the issue I had to

[2022-05-25 13:24] snazy opened #25788 "Gradle `quarkusBuild` fails with `ZipFile invalid LOC header` in `SmallRyeOpenApiProcessor`"
### Describe the bug

A repeated `./gradlew quarkusBuild` runs into the following exception from the `SmallRyeOpenApiProcessor`.

In this case, the openapi classes and spec files are pulled from a dependency and are not located in the Gradle project.

[code]

This consistently happens in [this PR](https://github.com/projectnessie/nessie/pull/4274), which can serve as a reproducer:
[code]

### Expe

[2022-05-25 13:48] tiagodolphine commented on #12486
Ok, thanks @radtriste for pointing this out, I was changing quarkus version manually and using my default settings.xml, let me try with this...

[2022-05-25 14:10] snazy commented on #25788
With #25790 applied on top of `main`, the error message confirms that it's processing a file from the dependency's jar:
[code]

[2022-05-25 14:18] snazy commented on #25788
Applying a similar change like #4652 fixes this issue. Updated #25790 with the change.

[2022-05-25 14:30] snazy commented on #25788
Note: there seem to be similar issues in these places (subset of call sites of `java.net.URL#openStream`):
* `io.quarkus.kafka.client.runtime.KafkaRecorder#extractLibraryFile`
* `io.quarkus.liquibase.mongodb.runtime.graal.SubstituteLiquibaseUtil#getBuildInfo`
* `io.quarkus.qute.runtime.EngineProducer.ResourceTemplateLocation#read`
* `io.quarkus.runtime.util.ClassPathUtils#readStream`
* `io.quarkus

[2022-05-25 14:37] bademux commented on #11903
problem exists, not only in quarkus
temporary fix:

build.gradle
[code]

[2022-05-25 14:57] Sanne commented on #25775
Hi @debop , this is an interesting feature request - I agree we can do better here, but also we need to be careful and do it right.

Before exposing such a feature on Panache we should implement this in Hibernate ORM.

Regarding "@Transactional -> use Write SessionFactory"  - I don't really agree with that; even read operations need to be transactional; in fact, Quarkus enforces to use of transact

[2022-05-25 15:41] anthonydenecheau opened #25793 "CloudBuild (GCP) Failed to authenticate with registry when using Jib"
### Describe the bug

In CloudBuild environment, i try to deploy an image with Jib on Artifact Registry. I set authentication but i still have an issue  `403 Forbidden`.
When we use `quarkus.container-image.push=true`, I need more information on the different platforms used to publish our images and in particular in the case that interests me on GAR

### Expected behavior

Image has been published

[2022-05-25 16:02] jie-huang commented on #25570
@glefloch Thanks for the confirmation. I tried to reproduce. But this time it works.
I thought that may relate to cache at that time since I used getClass().getResourceAsStream() at beginning.
Later I changed to Thread.currentThread().getContextClassLoader().getResourceAsStream.

Sorry about it.

[2022-05-25 16:02] #25570 closed

[2022-05-25 16:28] rmanibus opened #25795 "Ambiguous Module Name for quarkus-security"
### Describe the bug

io.quarkus:quarkus-security and io.quarkus.security:quarkus-security artifacts share the same automatic module name.

This make it extremelly painful to customize security features in a modularized application (I was trying to extend HttpAuthenticationMechanism which use classes from both modules).

With gradle I was able to do it with the following config for the moduleplugi

[2022-05-25 16:37] raoua-eng commented on #25632
Hello,

I faced the same issue, and I find that the verification process takes an encoded base64 secret key. So you have to add an encoded base64 secret key in this property ``` "k":"uWlwBLGv4EpifZ52EhTuU9L-76AF9Vf4yumSD1P-2uE"``` .
You can use this tool to encode your secret key [online tool](https://www.utilities-online.info/base64)

Hope this will help !

[2022-05-25 16:51] #13836 closed

[2022-05-25 16:52] deathwaiting commented on #25672
@galderz
[code]
I am using podman with runC, so it should be running in native mode with no VM.

Running the native build without a container succeeded and had better performance, and at least it didn't take too much memory to cause a crash

![quarkus_memory_2](https://user-images.githubusercontent.com/15851272/170318147-edbc68d1-08a9-49bb-8eed-27bb51ab0cdb.png)

[code]

[2022-05-25 16:57] sberyozkin commented on #25795
Not sure what can be done now, @aloubyansky, @stuartwdouglas, can you recommend something apart from for example, renaming  `io.quarkus.security:quarkus-security` to `io.quarkus.security:quarkus-security-core` or something like that (which probably won't happen) ?

[2022-05-25 17:41] tiagodolphine commented on #12486
@radtriste  @evacchi  @jstastny-cz Ok, so I was able to reproduce the same issue running the build like https://github.com/kiegroup/kogito-runtimes/blob/main/.github/quarkus-ecosystem-test#L17.
If I remove the config `localRepositoryPath` as I mentioned https://github.com/quarkusio/quarkus/issues/12486#issuecomment-1136427205, it works well, anyway, you can see the changes I made https://github.co

[2022-05-25 17:45] andreaTP commented on #25762
More bisecting, the actual difference is in the `jar` used to build the native image.
Using `mvn clean package -Pnative` `native-image` command target this jar
[code-with-quarkus-1.0.0-SNAPSHOT-runner_2.zip](https://github.com/quarkusio/quarkus/files/8773413/code-with-quarkus-1.0.0-SNAPSHOT-runner_2.zip)

instead using `mvn clean package -Dquarkus.package.type=native-sources` generates in the `/ta

[2022-05-25 18:11] andreaTP commented on #25762
The diff shows that there is a difference in the generated `io/quarkus/runner/AutoFeature.class`.

Decompiling it shows a bunch of missing `registerClass` in the "not working" one.

But now debugging is a little too steep for my knowledge of Quarkus 🙂  I drop the ball in your court @geoand 🙂

[2022-05-25 19:42] #17882 closed

[2022-05-25 19:44] GavinRay97 commented on #19405
Scala 2.13 is ABI compatible with Scala 3.x, unlike Scala 2.12
This is great news, it means +v2.9 BOM won't cause compat issues with Scala 3 and users shouldn't have to modify their dep rules

[2022-05-25 19:44] #19405 closed

[2022-05-25 20:08] #25676 closed

[2022-05-25 21:33] renegrob commented on #22724
I updated the reproducer. The tests are now green and will fail, if the blocking call is done on the eventloop-thread or if the MDC is not logged correctly.
Now we have a great feature. I think we should document it, so that people can actually understand and use it.
Especially, we should document what doesn't work (e.g. `Infrastructure.getDefaultWorkerPool()`) and why.

[2022-05-25 21:43] melloware commented on #22522
I would love this too but I feel just like SBA which is an open source project not sponsored by Spring someone would have to write the same thing for Quarkus.

[2022-05-25 22:58] stuartwdouglas commented on #25795
We could maybe rename it to `quarkus-security-api`

[2022-05-26 01:03] luneo7 commented on #22724
For sure we should document it, but if you follow the context propagation guide exactly as it is it works, there it states to use the `getDefaultExecutor`. The context propagation guide should also be updated, the MDC is directly attached to context propagation, `getDefaultWorkerPool` needs to be mentioned there, since if you follow the example there and don't use the `getDefaultExecutor` it will

[2022-05-26 02:25] acliufan commented on #25723
Thank you very much and I wish to consult you on a last question.
I used two computers. After the computer was restarted, the startup time of quarkus service was about 30 seconds, which was easy to reproduce.

Their configuration is as follows：
-------------------------------
- Host1
CPU:             Intel Xeon W-2104 CPU @ 3.20GHz
Cores:	    4
Threads:	    4
Memory:      dural 3200HZ 2*8 DDR4
Har

[2022-05-26 03:41] rockdodos commented on #8136
I use dynamic query on Quarkus 2.9.1.Final below
[code]

[2022-05-26 04:45] #25730 closed

[2022-05-26 05:52] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2388793645

[2022-05-26 05:59] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2388793645

[2022-05-26 06:04] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2388793645

[2022-05-26 06:05] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2388793645

[2022-05-26 06:20] #8242 closed

[2022-05-26 06:20] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2388793645

[2022-05-26 06:35] glefloch commented on #25787
Thanks for reporting this @craigtmoore I will change the order.

[2022-05-26 06:40] geoand commented on #25762
https://github.com/quarkusio/quarkus/pull/25803 is the fix.

Thanks for reporting!

[2022-05-26 07:01] geoand commented on #25793
Can you please paste a larger part of the stacktrace?

Also, it's not clear to me (having never used `GCP`) where you are setting the authentication

[2022-05-26 07:10] cescoffier commented on #22724
That's a very good question. Probably a bug.

[2022-05-26 08:04] tmihalac commented on #8710
I would like to start working on the issue, can you please point me in the right direction.

[2022-05-26 08:35] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2388769847

[2022-05-26 09:00] sberyozkin commented on #25795
@stuartwdouglas Hi Stuart, `quarkus-security-api` sounds good

[2022-05-26 09:35] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2388769847

[2022-05-26 11:08] jmartisk opened #25808 "Executing single-result GraphQL operations over websocket is broken in latest main branch"
### Describe the bug

A single-result GraphQL operation (query, mutation) executed over websocket rather than a pure HTTP request fails:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

[2022-05-26 11:19] mkouba commented on #25724
Hm, the build output is primarily intended for developers not IDEs... so it should be _concise_ but also _readable_. That said, we could improve the current message. @angelozerr How about something along these lines?

[code]

[2022-05-26 12:03] sberyozkin opened #25809 "Important log message shown during Dev Services for Keycloak initialization is lost"
### Describe the bug

Not sure it is a bug, as I recall there was an issue related to some of the dev services related to the excessive logging.

But in any case, I recall it was possible to see various log messages logged by `KeycloakDevServicesProcessor` but now it is all being collapsed and all I see is
[code]

For example, `KeycloakDevServicesProcessor` logs if it can not find the configured r

[2022-05-26 12:28] sberyozkin commented on #25809
Hi @stuartwdouglas I've looked at the code and I'm not sure I see how some log messages can be selectively shown in the console, what do you think ?

[2022-05-26 12:36] fazeem84 commented on #25708
@geoand @patriot1burke
Any update on this

[2022-05-26 12:40] luneo7 commented on #22724
For what I see, it is a design flaw, the executor that Quarkus uses is the EnhancedQueueExecutor (https://github.com/jbossas/jboss-threads/blob/main/src/main/java/org/jboss/threads/EnhancedQueueExecutor.java) it has a context handler that is set to get the current Vertx context. But SmallRye `Infrastructure. getDefaultWorkerPool()` uses a `MutinyScheduler` that wraps the `EnhancedQueueExecutor` an

[2022-05-26 12:45] DavideD commented on #23324
I've tested the original testcase with Quarkus 2.9.2 and I cannot see the error anymore.

Still, I'm not sure how one is supposed to implement this use-case.

This is what the test case is trying to achieve:
1. Http get to a Rest service
2. The service look for an entity in the db by id
3. When the entity is found emit an event in a channel
4. The service listening to the channel will create a new

[2022-05-26 12:55] #25708 closed

[2022-05-26 13:05] ivansenic opened #25812 "`QuarkusTestExtension` fails to run `@AfterAll` with nested test classes and per-class test instance lifecycle"
### Describe the bug

I am hitting an `IllegalArgumentException` with the following test setup. Seems that after all is run with the `effectiveTestInstance` being a instance of a `NestedTest` class, which is not a sub-class of the main `Test` class.

[code]

Stacktrace:

[code]

### Expected behavior

Exception is not raised and test runs fine.

### Actual behavior

Test fails on the `Class Config

[2022-05-26 13:24] MastanaGuru opened #25813 "mvn build fails with 503 service unavailable when downloading org.fusesource.jansi:jansi:jar:1.18"
### Describe the bug

Build fails when running ./mvnw clean package with
[code]

This was working fine two days back.

### Expected behavior

Dependency jar org.fusesource.jansi:jansi:jar:1.18 downloads should not fail.

### Actual behavior

[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM vers

[2022-05-26 13:55] pjgg opened #25814 "Apicurio Kafka registry 2.1.5.Final doesn't work on Quarkus Upstream"
### Describe the bug

QuarkusVersion: `999-SNAPSHOT`
extension: `quarkus-apicurio-registry-avro`
Kafka version: `quay.io/strimzi/kafka:0.28.0-kafka-3.1.0`
apicurio: `quay.io/apicurio/apicurio-registry-mem:2.1.5.Final`

Description: When a Strimzi Kafka Quarkus app starts throw the following error:
[code]

More details:
[code]

Note that Apicurio was updated on Quarkus upstream to version `2.2.3.Fi

[2022-05-26 14:31] jcjolley commented on #20928
We are intermittently experiencing this in our gradle builds as well.  It is a multi module project of which only some are quarkus projects, so we have to declare this in some of the subprojects.

[2022-05-26 15:49] luneo7 commented on #22724
So, that is what happens when you use `Infrastructure.getDefaultWorkerPool()`, when the task is run the context is null, so nothing is propagated =]

<img width="1271" alt="Screen Shot 2022-05-26 at 9 51 52 AM" src="https://user-images.githubusercontent.com/8834774/170515177-2b74cf2e-1ace-4209-85ed-ca87d1eab88a.png">
<img width="1332" alt="Screen Shot 2022-05-26 at 9 52 12 AM" src="https://user-im

[2022-05-26 15:58] StoneToken commented on #25216
This block using ${quarkus.uuid} for forcing kafka consumer group ids https://quarkus.io/guides/config-reference#accessing-a-generating-uuid. 2.9.0 is affected too.

[2022-05-26 16:23] luneo7 commented on #22724
The way that I got `Infrastructure.getDefaultWorkerPool()` to work was to create a `VertxContextProvider.java`

[code]

And later create a `src/main/resources/META-INF/services/org.eclipse.microprofile.context.spi.ThreadContextProvider` file with `com.luneo7.tests.VertxContextProvider`

With this class the Vertx context gets propagated with smallrye context propagation... since the `currentContext

[2022-05-26 16:38] luneo7 commented on #22724
This also impacts OpenTelemetry, since it has a `QuarkusContextStorage` that stores OTEL Context inside the Vert.x Context... if you do one endpoint that uses `Infrastructure.getDefaultWorkerPool()` to do something and try to create a span, it won't properly be a child span of the request... since the vertx context is lost....

[2022-05-26 18:31] ennishol opened #25817 "Unable to find a JDBC driver corresponding to the database kind 'postgresql', when camel-quarkus-quartz dependency added"
### Describe the bug

I have a simple quarkus project using mutiny and postgres, which works with Quarkus 2.7.5.Final. Starting from Quarkus 2.8.0.Final, build  fails, when I add some camel route that needs quartz endpoint:
[code]

### Expected behavior

Build should not fail

### Actual behavior

build fails

### How to Reproduce?

[code-with-quarkus.tar.gz](https://github.com/quarkusio/quarkus/f

[2022-05-26 18:55] MastanaGuru commented on #25813
Its a network issue on our corporate side, maven2 seems to be blocked.

[2022-05-26 18:55] #25813 closed

[2022-05-26 19:14] luneo7 opened #25818 "Vert.x Context doesn't get propagated when using Infrastructure.getDefaultWorkerPool()"
### Describe the bug

Vert.x Context doesn't get propagated when using `Infrastructure.getDefaultWorkerPool()`

Whenever you use reactive programming and you run Mutiny with `runSubscriptionOn(Infrastructure.getDefaultWorkerPool()` Vert.x context doesn't get propagated, whereas with `Infrastructure.getDefaultExecutor()` does get propagated.

This impacts OpenTelemetry, MDC and any other people/fea

[2022-05-26 19:20] luneo7 commented on #25818
For what I see, it is a design flaw, the executor that Quarkus uses is the EnhancedQueueExecutor (https://github.com/jbossas/jboss-threads/blob/main/src/main/java/org/jboss/threads/EnhancedQueueExecutor.java) it has a context handler that is set to get the current Vertx context. But SmallRye Infrastructure. getDefaultWorkerPool() uses a MutinyScheduler that wraps the EnhancedQueueExecutor and it i

[2022-05-26 19:28] luneo7 commented on #25818
The way that I got `Infrastructure.getDefaultWorkerPool()` to work was to create a `VertxContextProvider.java`

[code]

And later create a `src/main/resources/META-INF/services/org.eclipse.microprofile.context.spi.ThreadContextProvider` file with `org.acme.opentelemetry.VertxContextProvider`

With this class the Vertx context gets propagated with smallrye context propagation... since the `currentC

[2022-05-27 00:16] shumonsharif commented on #25325
@gastaldi @antonwiens Reproducer attached, using only the `quarkus-resteasy-jaxb` dependency; as the `quarkus-cxf` dependency is not quite relevant for this issue.

[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/8782978/code-with-quarkus.zip)

For the passing use case, you can execute:
`mvn clean install -Dquarkus.platform.version=2.8.0.Final -Dnative`

For the failure use case

[2022-05-27 00:36] jimbogithub opened #25820 "RESTEasy Reactive JsonGenerator not aware of jackson-datatype-jsr310"
### Describe the bug

Migrating from `quarkus-resteasy-jackson` to `quarkus-resteasy-reactive-jackson` breaks existing `JsonSerializer`.

This code ...
[code]
... is throwing this error:
[code]
Worked OK with REASTEasy Classic.  Default serialization also works OK.  Workaround is to delegate to the `serializers` as commented in the example code.

### Expected behavior

Successful serialization.

#

[2022-05-27 02:50] gastaldi commented on #25325
@shumonsharif I couldn't reproduce the issue using your reproducer project. Here is the output from my terminal:

[code]

I am using GraalVM 22.1.0 on JDK 17

[2022-05-27 05:12] geoand commented on #25820
The commented version is the proper way to handle this

[2022-05-27 05:12] #25820 closed

[2022-05-27 05:28] geoand commented on #25812
@Sgitario since you've made various fixes for the nested class support, would you like to tackle this one?

[2022-05-27 05:50] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2394676005

[2022-05-27 05:50] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2394696749

[2022-05-27 05:51] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2394696749

[2022-05-27 06:00] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2394696749

[2022-05-27 06:04] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2394696749

[2022-05-27 06:12] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2394696749

[2022-05-27 06:15] anthonydenecheau commented on #25793
Yes sure, here it is

[code]

[2022-05-27 06:23] geoand commented on #25793
I just that you are using Quarkus `2.2.1.Final`. That is a pretty old version at this point, so I would suggest trying with `2.9.2.Final` and if there is still a problem, post the new stacktrace

[2022-05-27 06:34] rsvoboda opened #25821 "Failed to index org.springframework.web.bind.annotation.Mapping warning on reload in dev mode"
### Describe the bug

`Failed to index org.springframework.web.bind.annotation.Mapping: Class does not exist in ClassLoader QuarkusClassLoader:Deployment Class Loader: DEV@3b7c2f1b` warning on reload in dev mode when using spring-web codestart based application.

[code]

Noticed with Quarkus 2.9.2.Final when using resteasy-reactive-jackson ++ spring-web in dev mode.

### Expected behavior

No warn

[2022-05-27 06:38] anthonydenecheau commented on #25793
The problem is still here

[code]

Maybe @loicmathieu has already faced this kind of problem. Sounds like a quarkus and gcp integration problem. Don't you think so?

[2022-05-27 06:41] geoand commented on #25793
Hard to tell, I have no used GCP...

[2022-05-27 06:42] rsvoboda opened #25822 "Inconsistent deps for spring-web based app when using code.quarkus versus command line tooling"
### Describe the bug

Inconsistent deps for spring-web based app when using code.quarkus versus command line tooling.

https://code.quarkus.io/?e=spring-web based application uses
[code]

`quarkus create app app -x=quarkus-spring-web` based application uses
[code]

I think `quarkus-resteasy-reactive-jackson` should be used in code.quarkus
`quarkus-resteasy-reactive-jackson` is defined in https://g

[2022-05-27 06:45] rsvoboda commented on #25822
/cc @ia3andy

[2022-05-27 07:02] rvansa opened #25824 "Add simple arithmetic to Qute expressions"
### Description

Currently simple arithmetic doesn't work in Qute templating: I have used `... {datasetOrdinal + 1 } ...` and received an exception:
[code]
I am not sure why I assumed this would work but it would be definitely nice.

### Implementation ideas

_No response_

[2022-05-27 07:03] geoand commented on #25821
https://github.com/quarkusio/quarkus/pull/25823 fixes the issue, however we need to wait for the release of the Spring dependencies to be available on Maven Central

[2022-05-27 07:05] anthonydenecheau commented on #25793
Could you make a call to @loicmathieu ? ;)

[2022-05-27 07:06] geoand commented on #25793
Seems like you have already pinged him :)

[2022-05-27 07:30] Postremus opened #25825 "Using database schemas with QuarkusTest logs warnings"
### Describe the bug

I have multiple entities declaring database schemas.
[code]

This works when I run against a database, where the schemas are already present (e.g. created by liquibase).

I now want to test this code, and wrote a simple test as starting point:
[code]

The tests run against a postgresql started by devservices.
This test passes since it is only persisting a simple entity.

The

[2022-05-27 08:19] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2394676005

[2022-05-27 08:41] #25421 closed

[2022-05-27 08:46] yazinnnn opened #25827 "[quarkus-cache] Support async valueLoader"
### Description

When i use Cache.get() method, if the loader's type is (K)->Uni<V>, it returns Uni<Uni<V>> (e.g. use some reactive client)

just like
[code]

and i can't await it in loader if using resteasy reactive stack.

P.S. why mutiny library doesn't have flatten api ... :(

### Implementation ideas

[code]

[2022-05-27 09:25] anthonydenecheau commented on #25793
I successfully built and pushed the image to the artifact registry (bare metal) by adding this
[code]
I think I have isolated the problem and it seems to come from my declared docker image in my CloudBuild: docker.io/anthonydenecheau/quarkus-maven-build-native-image:1.0

Dockerfile

[code]

I must not have the same rights s/ CloudBuild

[2022-05-27 09:42] jamesnetherton opened #25829 "Kubernetes Client cannot create `Lease` resources in native mode"
### Describe the bug

If you try to create a `Lease` with the Kubernetes Client in native mode, then it fails with the following error returned from the API server:

[code]

The problem seems to be that the serialization of the `ZonedDateTime` fields on `LeaseSpec` is incorrect. In JVM mode, the serialized `Lease` JSON looks like:

[code]

In native mode it is (note the differences in date format)

[2022-05-27 10:03] jcunliffe1 commented on #18797
It's fairly confusing to get a custom quarkus.datasource.devservices.image-name working, without knowing how to then provide/set the password on this custom image.

[2022-05-27 10:39] shumonsharif commented on #25325
Hey @gastaldi Your logs don't show the `org.acme.GreetingResourceIT` test (native mode) getting executed - just wanted to verify that it was?

[2022-05-27 10:53] loicmathieu commented on #25793
@anthonydenecheau I never use JIB but the issue seems to be with authenticating to Google GAR from your CI.
I did it with some gcloud commands, I can give you those commands tuesday if you still needs them.

[2022-05-27 12:00] rmanibus commented on #25795
@sberyozkin should I open another issue for that ? or is it a known problem ? I can't find anything about it in the github issues.

[2022-05-27 12:33] gastaldi commented on #25325
I ran `mvn clean package -Dnative`, running `mvn integration-test -Dnative` now

[2022-05-27 12:36] gastaldi commented on #25325
Ah yes, I can see the error now. Let me see if I can fix this

[2022-05-27 12:49] anthonydenecheau commented on #25793
OK @loicmathieu, yes it will be pretty cool to get them.
in the meantime, I will continue to analyze the problem on the docker image side

[2022-05-27 13:21] #25788 closed

[2022-05-27 14:49] EnriqueHernandezL opened #25833 "Can not set HTTP Header from ENV variable"
### Describe the bug

I tried to pass `quarkus.http.header."Cache-Control".value=no-cache` as a environmental variable to my Quarkus Server by setting `QUARKUS_HTTP_HEADER__CACHE_CONTROL__VALUE` as the variable name.

### Expected behavior

Expected server response

[code]

### Actual behavior

Actual server response

[code]

### How to Reproduce?

Make a quarkus HTTP Server and try to set the des

[2022-05-27 17:04] mschorsch commented on #25833
CC @radcortez

[2022-05-27 18:18] rmanibus opened #25836 "Hot Reload with Jigsaw modules is not working"
### Describe the bug

I have a quarkus app with multiple Jigsaw modules running on JDK17, dev mode is starting fine but on each reload I have the following error: invalid flag followed by my class path.

### Expected behavior

Hot reload is performed correctly

### Actual behavior

Hot reload fail with the error invalid flag

### How to Reproduce?

- Run the provided reproducer in dev mode with jd

[2022-05-27 18:42] rmanibus commented on #25836
Reproducer:
https://github.com/rmanibus/quarkus_25836

It's not the same error than in my app thought. It's failing with
[code]

[2022-05-27 19:09] GavinRay97 opened #25837 "[FR]: Support JSON Transcoding for gRPC services -- allows services to be called via plain HTTP"
### Description

It would be really useful if Quarkus' gRPC implementation allowed configuring JSON Transcoding:
- https://cloud.google.com/endpoints/docs/grpc/transcoding
- https://devblogs.microsoft.com/dotnet/announcing-grpc-json-transcoding-for-dotnet/

(Maybe it already does this and I just missed the docs/tests?)

[code]

### Implementation ideas

_No response_

[2022-05-27 19:27] gastaldi commented on #25325
[This PR](https://github.com/quarkusio/quarkus/pull/25838) should fix the issue. Thanks for the reproducer.

[2022-05-28 10:35] #25821 closed

[2022-05-28 11:03] devprojectsme commented on #25602
Dear @geoand ,
thanks for your answer and suggestion.

I have tried to use the `quarkus.package.type=legacy-jar`, but even there Quarkus still generates a lot of stuff for startup, especially the Configuration classes in package `io.quarkus.runtime.generated`. I have tried to trace and to debug it, and have then bumped into the problem, that the new framework for SmallRye config generation uses th

[2022-05-28 12:14] 38leinaD opened #25840 "Quinoa with Gradle"
### Describe the bug

".gradlew quarkusDev" seems not to work with Quinoa

Steps to reproduce:
[code]
will give:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quark

[2022-05-28 12:16] glefloch commented on #25840
Thanks for reporting this @38leinaD, I will have a look at it.

[2022-05-28 12:34] 38leinaD commented on #25840
Actually, after looking at it again i understand now that this issue bascially is just that there are now java sources in the generated project.
As soon as i create a class, all is fine with the quinoa extension. at least i can start exploring it :-)

[2022-05-28 12:54] glefloch commented on #25840
Yes the error is thrown in that case. However that should work out of the box.

[2022-05-28 16:43] cescoffier commented on #25754
@kdubb is this one fixed with the latest SR RM release?

[2022-05-28 19:59] kdubb commented on #25754
No. This should be an enhancement added to SM RM.

Also, support should be through a freeform set of options as that's how it's passed to `queueDeclare`.

[2022-05-29 06:02] roiar opened #25846 "Quarkus code generation phase has failed"
### Describe the bug

Hello all,
I am facing a problem when executing mvn clean install -Plocal-development

[code]

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

CYGWIN_NT-10.0-WOW E0624332 3.0.4(0.338/5/3) 2019-03-18 19:35 i686 GNU/Linux

### Output of `java -version`

 java version "13.0

[2022-05-29 06:19] maxandersen opened #25847 "quarkus ext add io.quarkiverse.ngrok:quarkus-ngrok does not include version info"
### Describe the bug

running: `quarkus ext add io.quarkiverse.ngrok:quarkus-ngrok` adds only this:

[code]
 <dependency>
      <groupId>io.quarkiverse.ngrok</groupId>
      <artifactId>quarkus-ngrok</artifactId>
	<version>0.1.3</version>
    </dependency>
[code]

[2022-05-29 09:19] adriannowak commented on #23925
@iocanel Are you working on this issue? If not, I could take it ;)

[2022-05-29 09:23] omar-zahid opened #25848 "Deleting entity with `OneToOne` relation with `CascadeType.REMOVE` not working"
### Describe the bug

Given 2 entities: `FruitEntity` and `FruitEntityDetail` related by `OneToOne` relation, deleting the parent `Fruit` entity is causing a foreign key error even when `CascadeType.REMOVE` is set on the related `FruitDetailEntity`.

### Expected behavior

Deleting Fruit should delete the related `FruitDetailEntity`.

### Actual behavior

Getting an error:

[code]

### How to Repr

[2022-05-29 09:38] maxandersen opened #25849 "quarkus add ngrok does not find ngrok extension"
### Describe the bug

given #25847 does not add exact version I wondered if `quarkus ext add ngrok` would look up possible extensions and thus get the version info but it does not find the extension.

imo if nothing found in the platform the cli/mvn plugin should query the registry for a possible extension as a fallback so non platform features can be found via cli just like code.quarkus.io enable

[2022-05-29 09:57] gsmet commented on #25849
FWIW, if you create an app with:
[code]

The version are there.

[2022-05-29 09:58] Dosexe opened #25850 "Quarkus Liquibase MongoDB extension properties not used"
### Describe the bug

Quarkus Liquibase extension doesn't respect quarkus mongodb properties as it is expected.
Liquibase extension only uses 3 properties:
- `connection string`,
- `username`
- `password`.

This can be checked in `io.quarkus.liquibase.mongodb.LiquibaseMongodbFactory` in `createLiquibase` method.
This will lead to an error on application startup if you are using quarkus properties

[2022-05-29 10:08] zyc commented on #21108
Thanks for that!

[2022-05-29 11:31] maxandersen commented on #25849
Interesting. Pretty sure individual adding worked in past too.

[2022-05-29 13:30] gastaldi commented on #25849
Works for me:

[code]

[2022-05-29 13:33] gastaldi commented on #25847
I can confirm this happens when you use G:A form. It works when you do `quarkus ext add ngrok`

[2022-05-29 15:30] maxandersen commented on #25849
What version of cli did you run and what version of quarkus is the project you added in ?

Ie. I still get no version info.

[2022-05-29 15:54] gastaldi commented on #25849
2.9.2.Final, both CLI and project created

[2022-05-29 19:01] siudeks commented on #16885
It does not work either

Do you need some code to reproduce the bug, or is it qualified as proven and just waiting for prioritization / PR?

[2022-05-29 19:30] felipewind commented on #16885
What version of Quarkus are you using?

Just to clarify, some parameters are build time, so you can't change them on deploy.

Here you can read all parameters from Quarkus:
- https://quarkus.io/guides/all-config

### `quarkus.log.min-level`
- Build time parameter
- It has a picture of a padlock
- ![image](https://user-images.githubusercontent.com/47837222/170888131-caa9d911-65b8-47f2-895f-b071d9a0

[2022-05-29 20:15] siudeks commented on #16885
@felipewind Thanks for quick response, let me clarify with reproduction

source:  https://github.com/siudeks/tech-spikes/tree/master/bugrepro_sql_binding_parameters

   Client
        (name, id)
    values
        (1, 'my name')
[code]
   Hibernate:
    insert
    into
        Client
        (name, id)
    values
        (?, ?)
[code]

[2022-05-29 20:28] kdubb opened #25852 "Testcontainers ryuk abandoned during build without testing using Gradle"
### Describe the bug

The ryuk container from the Testcontainers project is abandoned when building without running any tests.

We are experiencing this with Gradle, I cannot say wether this the same as for other build tools.

Also, we are using a multi-module Gradle project where we have many Quarkus micro-services under one parent project. If we build all the modules in one go, we get a ryuk con