[2019-12-12 10:19] gsmet commented on #6114
/cc @cescoffier who is the master of the images.

My opinion is that I would prefer to use UBI everywhere rather than Alpine.

[2019-12-12 10:20] gsmet commented on #6130
/cc @middagj

[2019-12-12 10:21] loicmathieu opened #6132 "Provides a way to configure HTTP Keep-Alive"
**Description**
When I call my rest endpoint with the header `Connection: keep-alive` I have no response header `Keep-Alive` inside the response.

And it seems that the connection is not kept alive between multiple request as I saw a lot of TCP socket in `TIMED_WAIT` state.

I try to set TCP keep alive at Vert.x level but this seems to have no effect:
[code]

**Implementation ideas**
Allow to conf

[2019-12-12 10:22] djuelg opened #6133 "Support custom logging handlers"
Related to #2409

You closed the referenenced issue, since a Sentry extension has been provided.
Nevertheless, it would be good to have custom logging handlers like Wildfly does ([see here](https://docs.jboss.org/author/display/WFLY10/Handlers#Handlers-customhandler)) to support non-standard logging pipelines.

[2019-12-12 10:32] loicmathieu commented on #6131
Not starting resteasy nor Quarkus, just plain Java!
I mock everything: my Rest client, my Panache repositories, ...

As I said, it's a unit test, not an integration test, so I did't bootstrap Quarkus and I mock all dependencies of my service.

[2019-12-12 10:38] sdaschner opened #6134 "Reload in quarkus:dev only after HTTP invocation?"
**Description**
If I understand it correctly, `quarkus:dev` only applies the changes once the next HTTP request is being made.
Is it possible to change that behavior in the Maven plugin? This might be helpful if e.g. schedulers or processing applications are being developed.

Btw, what was the motivation for only making changes on new HTTP requests?

**Implementation ideas**
Have an optional Maven

[2019-12-12 10:40] gsmet commented on #6131
I think a small reproducer would be welcome. It doesn't have to have a lot of dependencies or whatever, just the gist of it.

[2019-12-12 10:42] cescoffier commented on #6114
Yes, UBI is better for our purpose. In addition, Alpine is musl based, and we need glibc  in native mode.

[2019-12-12 10:45] emmanuelbernard commented on #6131
Looks  like something that did not need mocking, now does. Or at elast your mocking does go as far as `org.jboss.resteasy.specimpl.AbstractBuiltResponse.getHeaderString` and thus `org.jboss.resteasy.core.providerfactory.ResteasyProviderFactoryImpl`

[2019-12-12 10:48] middagj commented on #5762
I think so, I have looked at it once, but lack experience in Narayana to pull it off quickly.

[2019-12-12 10:50] gunnarmorling commented on #6114
The native image already uses ubi-minimal. But as mentioned above, I'm doubtful about musl-based Alpine for OpenJDK, too.

[2019-12-12 10:59] mkouba commented on #6131
Hm, the `PrepaidCardServiceImpl` class is probably using `javax.ws.rs.core.Response` which triggers `ResteasyProviderFactory` which attempts to access MP Config. So it's very likely a SM Config regression. @dmlloyd @kenfinnigan do you have an idea what's changed?

[2019-12-12 11:04] middagj commented on #6130
Client fail over should be working by adding the `?ha=true` to the connection url. This configures artemis to get the cluster information when connected and use that when reconnecting. The plumbing to reconnect could be in Quarkus, but is not at the moment. TLS is certainly something that could be added, should not be difficult.

I don't know what the ambition is, but a general framework to ease t

[2019-12-12 11:05] stuartwdouglas commented on #5926
fine by me :-)

[2019-12-12 11:21] sdaschner opened #6135 "Explicitly document the different Panache ORM approaches"
The ORM with Panache guide describes how to [create repositories](https://quarkus.io/guides/hibernate-orm-panache#the-daorepository-option) that access the entities.
However, we might be more explicit in the different approaches, that for
repositories, you don't need to define `PanacheEntity`, but it already
works with plain JPA entities. If you think about it, it makes sense,
however the sections

[2019-12-12 11:23] geoand commented on #5752
@asoldano when do you expect RESTEasy 4.5.0.Final will be released?
@gsmet if it's out soon enough, do you think we can have it for Quarkus 1.1.0.Final or are we too close to release?

[2019-12-12 11:23] gsmet commented on #6134
The initial idea was to avoid reloading partial changes randomly and only reload when the user says "I'm done, let's reload it". But that's for sure this approach doesn't work very well for non-web applications.

/cc @stuartwdouglas

[2019-12-12 11:24] gsmet commented on #6135
/cc @FroMage

[2019-12-12 11:27] johnaohara opened #6136 "RSS regression with 1.1.0.CR1 and GraalVM 19.3.0"
**Describe the bug**
Report by Harald Reinmüller on zulip;

Confirmed in the RSS test suite; regression occurred in nightly test on 2019-12-05

[2019-12-12 11:28] gsmet commented on #6122
I think the issue is that you need to use the version in the `create-project` command as we have documented it in all our guides:

This should work and use the latest Final.

[2019-12-12 11:29] geoand commented on #6136
Do we have data from other days? Can we pinpoint when things increased so much?

[2019-12-12 11:34] haraldatbmw commented on #6136
Two plots out of my test-suite:

- Quarkus 1.0.1.Final with GraalVM 19.2.1
https://github.com/rmh78/quarkus-performance/blob/master/plots/quarkus-native-simple_1.0.1.Final.png

- Quarkus 1.1.0.CR1 with GraalVM 19.3.0 (Java8)
https://github.com/rmh78/quarkus-performance/blob/master/plots/quarkus-native-simple_1.1.0.CR1_GraalVM19.3.0.png

[2019-12-12 11:35] johnaohara commented on #6136
Yes, just looking through to pinpoint .

@haraldatbmw ty for the data points

[2019-12-12 11:44] sdaschner opened #6137 "Readable pom.xml format on quarkus:create or :add-extension"
**Description**
The pom.xml format doesn't provide a nice overview with all the Quarkus extensions and plugin definitions, when running `:create`, or worse, after running `:add-extension`, which messes up the previously formatted pom.xml.

It would help the readability, especially with the larger number of dependencies, if the pom.xml includes blank lines after some blocks.

**Format ideas**

[cod

[2019-12-12 11:46] stuartwdouglas commented on #6134
We have an API for this, and there is Kafka streams support as well.

The issue with any other way of supporting it is that it is hard to know if you have actually got the new code or not. The java file watcher API on most platforms is actually just a poll with a relatively long poll interval, so if you finish coding and send a request it is quite possible you can still get a response from the old

[2019-12-12 11:50] #6089 closed

[2019-12-12 11:52] #6106 closed

[2019-12-12 11:54] maxandersen commented on #6100
related to #5917

[2019-12-12 11:57] sberyozkin commented on #6096
@stuartwdouglas indeed, on the secure path it would fail anyway, good point. Should we just have a new policy mode, `permit-and-ignore-authentication`, a bit long but is clear what it is ? Or something shorter may be...

@Mulgikapsas Yes, you can use JWK key set, for example, see this [test resource](https://github.com/smallrye/smallrye-jwt/blob/master/testsuite/basic/src/test/resources/publicKeyS

[2019-12-12 11:58] stuartwdouglas commented on #6096
In Wildfly/Undertow this is called proactive-auth, so quarkus.http.proactive-auth=false would be my preference to turn it off.

[2019-12-12 12:00] maxandersen commented on #6103
Hi @sdaschner much of this is captured in epic #5917 but I got a few questions to clarify your comments.

Do you just mean that it would be nice if we could run quarkus dev mode without requiring containers to include the build tools like maven or gradle ? then yes - that’s what #5917 is about. If not, can you clarify what you mean by "easier"

That is the exact usecase binary devmode (#5917) and

[2019-12-12 12:04] maxandersen commented on #5917
@stuartwdouglas fyi  - can you outline your thoughts on how feasible a binary-exploded mode  would be possible ?

[2019-12-12 12:04] gsmet commented on #5752
I'm not yet sure of when we will be able to release given all the problems we have.

But I'm not sure either if RESTEasy 4.5.0.Final will be an easy upgrade.

So I would say: release it, prepare a PR and we'll see how it goes :).

[2019-12-12 12:07] sberyozkin commented on #6096
Sounds good, we can just update the docs and say it applies to the `permit` policies

[2019-12-12 12:10] #6037 closed

[2019-12-12 12:14] stuartwdouglas commented on #1724
Yes!

Well sort of, they have not released it yet, but it will be integrated into the new ClassLoader work at https://github.com/stuartwdouglas/quarkus/tree/new-class-loading . Even if the timing does not work we can just document how to work around the double @BeforeAll.

[2019-12-12 12:20] loicmathieu commented on #6131
@mkouba I think your analysis of the issue is correct :)
Yes, I use a `javax.ws.rs.core.Response` and the errors is on `response.getHeaderString("Location");`

[2019-12-12 12:23] sberyozkin commented on #5809
@tpenakov Can you please try with Quarkus `1.1.0.CR1` ? There were some possibly related updates to this extension.

[2019-12-12 12:31] johnaohara commented on #6136
commit https://github.com/quarkusio/quarkus/commit/0be78a68 causes the startup RSS to go from 25.9MB to 97.1MB

[2019-12-12 12:38] johnaohara commented on #6136
There is now a large anon block of memory allocated;

[2019-12-12 13:14] sdaschner commented on #5310
I fully +1 both approaches.

That is very much needed in order to build up more efficient test suites (e.g. separating the test life cycle from the test env life cycle, if more complex (local) setups are required). Also having a fast way to verify the code-level integration w/o starting is a huge +1 for dev experience.

[2019-12-12 13:19] sdaschner commented on #6134
Makes sense I think, but we can add some more ways to trigger a reload in the Maven phase, and (as a side note) also test execution, see [my comment here](https://github.com/quarkusio/quarkus/issues/4872#issuecomment-564472230). E. g. how about triggering a reload once the user presses `<Enter>` in the Maven execution?

I'd totally prefer an *active* approach, e.g. detecting some change or having

[2019-12-12 13:24] Sanne commented on #6095
ok, I think this is a reasonable request, but this is not something for Hibernate ORM to solve as we already offer various APIs to do this.

@FroMage I believe the request is to use unmanaged entities, this would likely need a different API in Panache.

Especially if relations can't use proxies, then the load operations will need to be able to define a load graph; that's a big change.

A simpler s

[2019-12-12 13:30] jmartisk commented on #2027
I briefly started analysing this even though the PR with general metric infrastructure is not yet merged, to see what issues will arise. I was looking at metrics using the Micrometer module: https://vertx.io/blog/eclipse-vert-x-metrics-now-with-micrometer-io/
TLDR: it's a bit more complicated than expected, but not impossible. Will definitely need more thinking.

One issue to resolve is that the M

[2019-12-12 13:37] Sanne commented on #6063
@gsmet :

We can not "relax" much as the usage of Byte Buddy within native-image is impossible. If it's "just" a normal proxy then we could relax it - as long as the need for it is identified at build time, both of these are unclear to me now (I couldn't debug this one yet).

I guess it's possible that ORM throws this error related to `BytecodeProvider is 'none' ` even though it's not really needi

[2019-12-12 13:45] gastaldi commented on #6136
Sounds like a regression in GraalVM

[2019-12-12 13:48] sdaschner commented on #6103
Thanks @maxandersen!

Yes, and also a leaner way to start that container in the first place, e.g. to use the same Docker image like the production app (if even possible), so the users don't have to craft a second Dockerfile for that local dev mode. E.g. that users can simply `docker run [<my-special-networking-and-docker-confs>] <my-usual-image> <maybe-different-command>` and then "connect" to tha

[2019-12-12 14:04] dmlloyd commented on #6131
The issue itself can be fixed by installing a config into `QuarkusConfigFactory`, and calling `ConfigProviderResolver.releaseConfig()` on any old config still around, before running your tests.  There are some examples in various projects, I'll dig one up after I get back from taking my son to the dentist.

[2019-12-12 14:04] Sergey80 commented on #6113
Ok Thanks for replying. See the RX Java 2 way.

`   @Path("/performance")
public class PerformanceTestResource {

    //@Timeout(20000)
    @GET
    @Path("/resource")
    @Produces(MediaType.APPLICATION_JSON)
    public Single<Data> performanceResource() {

        final String name = Thread.currentThread().getName();

        System.out.println(name);
        System.out.println("name: " + name);

[2019-12-12 14:05] emmanuelbernard commented on #6136
Can you open an issue @johnaohara to the GraalVM team? Let's have conversations early.

[2019-12-12 14:48] tpenakov commented on #5809
@sberyozkin - do I need to add some repositories to my pom.xml?
I've got this error so far:
`[ERROR] Non-resolvable import POM: Failure to find io.quarkus:quarkus-universe-bom:pom:1.1.0.CR1 in https://repo.maven.apache.org/maven2`

[2019-12-12 14:49] Sergey80 commented on #6113
it makes me think. maybe my test is wrong. the app may not be yet stated or not hot enough. i will double check. will test against native one. will let you know. but feel free to reply .. thanks.

[2019-12-12 14:56] #6024 closed

[2019-12-12 15:07] mkouba commented on #4134
I'm closing this one. Feel free to reopen if it's still an issue on Quarkus 1.0.0+/GraalVM 19.2.0+.

[2019-12-12 15:07] #4134 closed

[2019-12-12 15:31] gwenneg commented on #6024
@mkouba Should I run `quarkus-integration-test-main` in native mode to confirm the fix or did you do it already?

[2019-12-12 15:57] InfoSec812 commented on #6109
@gunnarmorling Since I am working on a similar PoC for a client, the weather station use case is fine. Most of my code will be very similar and can be Copy-Pasta'd to suit.

[2019-12-12 15:58] jefrajames opened #6142 "FaultToleranceDefinitionException in binary mode"
**Describe the bug**
A FaultToleranceDefinitionException is generated at startup when defining a Fallback method on a CDI bean (ApplicationScoped):
`
Exception in thread "main" java.lang.RuntimeException: Failed to start quarkus
	at io.quarkus.runner.ApplicationImpl.doStart(ApplicationImpl.zig:201)
	at io.quarkus.runtime.Application.start(Application.java:94)
	at io.quarkus.runtime.Application.run

[2019-12-12 15:58] gunnarmorling commented on #6109
Excellent! Thanks a lot for your efforts around this, it's much appreciated.

[2019-12-12 16:27] jglick commented on #4606
For anyone stumbling across this, the following migration path seems to work:

* replace
[code]
with
[code]
* remove `quarkus-scheduler` extension if unused

[2019-12-12 16:30] Sergey80 commented on #6113
no, still testing against native (it is up and "hot" in couple of "nano-seconds"). take 18 seconds.

[2019-12-12 16:33] FroMage commented on #5885
Yeah, it looks worse, the `Class` we inject as first param is `Object`:

[code]

[2019-12-12 17:24] aguibert commented on #6021
@gsmet since Stephane appears to be busy I can take a look at this one

[2019-12-12 17:30] #6091 closed

[2019-12-12 17:43] InfoSec812 commented on #6109
I gotta do the work anyhow. I might as well share the knowledge and learning with the community.

[2019-12-12 17:45] Sergey80 commented on #6113
Ok. Maybe it is me.
 In my callPeriodically(); i pass CALL_NIT_EVERY_MILLISECONDS = 10 milliseconds.
10 * 100 = 10 000 - + ten seconds just to add the requests.

This, I set it to 0.

And got my 6 seconds.

Still not 2-3 seconds. But 6.

[2019-12-12 17:48] gsmet commented on #6113
@johnaohara that makes me think: do we have documentation for tuning Quarkus for performances? The Vert.x pool is one element, there might be others and we certainly need that to be documented.

[2019-12-12 17:49] FroMage commented on #6021
Gladly. @aguibert you need to look at `PanacheEntityEnhancer` line 90 in `visitEnd` for the field visitor. It adds a `@XmlTransient` annotation to the field to force jaxb to use the getter. I guess if we have jaxb annotations we need to move them to the getter perhaps?

Or find a way to make jaxb simply ignore public fields if getters are available, as jsonb does.

[2019-12-12 17:51] Sergey80 commented on #6113
i will try to teak with that.
One more thing if I run 10 000 requests it fails with:

Exception in thread "main" java.lang.OutOfMemoryError: unable to create new native thread

now.

[2019-12-12 17:53] maxandersen commented on #6103
its not settle yet how it will work yet but for the usecase of being able to use same image as production there would be no build tools nor any sources thus it would need what I call "binary devmode" and that would preferably just be a flag to the launch.

if we don't get that soon then yes, we should make it easy to have images with the right stuff built in; but then the base images would be quit

[2019-12-12 17:58] FroMage commented on #6135
So I don't think it's correct that you should pick between the two approaches, because enhancing the entity gives you benefits even if you use the DAO approach:

- ease of writing (no need for accessors)
- default ID strategy
- DB methods for all the times you don't need a DAO for DDD operations

We can make it more explicit that extending `EntityBase` is not required, but still recommended.

I al

[2019-12-12 17:59] Sergey80 commented on #6113
I guess will close that one for now.
Thanks for replies.

[2019-12-12 17:59] #6113 closed

[2019-12-12 19:05] aguibert commented on #2751
Perhaps we could do separate config roots for Vertx-sql-client connections and traditional JDBC Data sources?

Looking at the [Agroal configuration reference](https://quarkus.io/guides/datasource#configuration-reference), there is very little overlap between JDBC DataSource properties and Vertx-sql-client properties. Basically the only thing that a user would potentially be able to reuse is the us

[2019-12-12 19:11] gsmet commented on #6109
No. The approach with the quickstarts is to provide the final solution so that the reader can compare or have a quick overlook.

[2019-12-12 19:17] lordofthejars opened #6146 "Wrap UriBuilder class"
**Description**

Actually when you create a new entity and you are using REST, you want to use the `Response.created` which required an `URI` because it is a good practice to add the `Location` header.

The problem is that to make it work you need to do something like:

[code]
Notice the amount of chain calls + calls to `build` methods I need to call and also since I am using Panache and the id is

[2019-12-12 19:18] lordofthejars opened #6147 "Tekton generation resources"
**Description**

Currently we are offering to generate resources for kubernetes, openshift and knative, why not add Tekton as well as it is a project we support in RH?

**Implementation ideas**

Adds support in Dekorate for Tekton.

[2019-12-12 19:27] aguibert commented on #2751
Also, while we are reworking Vertx-sql-client config, I think it would be better to use a config root that aligns better with the rest of Vertx config (`quarkus.vertx.*`), so instead of properties like:
[code]

We could have config like:
[code]

[2019-12-12 19:40] Sergey80 commented on #6113
edited: post the 1 second example for 1k requests.

[2019-12-12 20:47] johnaohara commented on #6136
Graal Issue opened: https://github.com/oracle/graal/issues/1984

[2019-12-12 21:36] geoand commented on #6147
cc @iocanel

[2019-12-12 22:03] gwenneg commented on #6024
Fix successfully tested locally, thanks for your help on this one @mkouba and @manovotn!

The `quarkus-integration-test-main` tests are now failing during execution because of the issue mentioned in #6127 which is unrelated with this one.

[2019-12-12 22:03] gwenneg commented on #6127
`quarkus-integration-test-main` is also affected by this.

[2019-12-12 22:44] aguibert commented on #6021
Was able to reproduce the issue and pushed a sample here for future reference:
https://github.com/aguibert/basic-quarkus/tree/quarkus-6021

[2019-12-12 23:10] gwenneg commented on #6020
I ran the JDK 11 native integration tests of the 6 affected modules: 4 of them failed because of a `ConcurrentModificationException` and 2 of them (postgresql and h2) successfully ended, which is enough to conclude that the fix worked considering the nature of the changes. Thanks for taking care of this one @Sanne!

[2019-12-12 23:19] gwenneg commented on #6019
I'm closing this one as it is a duplicate of #6018 (same root cause).

[2019-12-12 23:19] #6019 closed

[2019-12-12 23:30] hguerrero commented on #6088
Yes, better to move it to WARN.

[2019-12-13 07:38] sdaschner opened #6148 "Creation of custom MP Context Propagation objects fails"
**Describe the bug**
When defining a producer for an own `ManagedExecutor`, or `ThreadContext`, the creation fails with a deployment exception:

The following describes the error for `ManagedExecutor`, the same is true for other MicroProfile Context Propagation types.

[code]

The SmallRye implementation seems to define their own, which then collides.

**Expected behavior**
I expect the following

[2019-12-13 07:47] mkouba commented on #4606
Just one more comment - the handler passed to the `Vertx.setTimer()` method is executed using the event loop thread and so the code should not block. If you need to perform some blocking/long-running operation use the `Vertx.executeBlocking()` method inside the handler:

[code]

See https://vertx.io/docs/vertx-core/java/#blocking_code for more information.

[2019-12-13 08:13] geoand commented on #6148
cc @manovotn  @FroMage

[2019-12-13 08:28] iocanel commented on #6147
I recently created tekton support in the kubernetes-client and I intend to do the same with dekorate and quarkus.

[2019-12-13 08:54] maxandersen opened #6149 "dynatrace"
**Describe the extension**
Dynatrace supports detailed tracing of both native and java based applications; but out of the box it does not work in native-image. Would be great if by just adding this extension it would be made to work.

**Additional context**
By default Dynatrace uses an agent and in a kubernetes cluster setup this agent gets injected "blindly" causing  errors similar to this:

[cod

[2019-12-13 08:57] FroMage commented on #2751
Well, it's just that most users will only set url/user/pass and the rest that doesn't overlap is rarely used. I really feel like the sql-client drivers are just another type of drivers and we should have a single entry point to defining data sources, regardless of their drivers (jdbc or sql-client or others in the future).

[2019-12-13 09:01] FroMage commented on #6148
We could do that indeed, but be careful that your executor will not use the Quarkus worker pool and will not propagate jax-rs, transactions, servlet so it will only work in very narrow use-cases. We really advise against doing something like this.

[2019-12-13 09:18] emmanuelbernard commented on #6136
Ah looks like you guys are in the right track (graal issue discussion). I thought about it last night too. Probably a netty buffer which means our old way of keeping it in check is no longer recognized when run under 19.3 CC @stuartwdouglas

[2019-12-13 09:44] sdaschner commented on #6148
Hi @FroMage

I've been using this example to create multiple bulkheads (i.e. seperate thread pools), thus not using the Quarkus worker pool is desired (right?).

I'm not sure whether I fully understand that. For this bulkhead example, I would not like to propagate an existing transaction (in my case I start the execution right at the JAX-RS resource anyway). But I'd expect that the specified `prop

[2019-12-13 09:59] loicmathieu commented on #6135
A note on testability can also be added, repository are easier to mock than entities that relies on static methods.

[2019-12-13 10:08] FroMage commented on #6148
Well it depends what you will need to do in your propagated code. If you're not using anything related to JAX-RS contexts or transactions or servlets, it could work fine. But that's always more risky than propagating every context.

[2019-12-13 10:12] gwenneg commented on #6107
I'll give it another go tonight without the `--allow-incomplete-classpath` build arg.

[2019-12-13 10:15] mkouba opened #6150 "Consider using Qute for custom error pages"

[2019-12-13 10:16] sdaschner commented on #6148
Right. The user can still start independent transactions, as long as they don't reuse things that aren't propagated, but that's in general the issue with this spec :)

[2019-12-13 10:29] FroMage commented on #6148
That's why it's safer to propagate everything.

[2019-12-13 10:47] gsmet commented on #6107
It's fully reproducible when dropping this one.

I will fix the first Elytron-related issue today. Stuart had an idea to fix the security providers one.

[2019-12-13 10:51] tsegismont commented on #2751
Pool size, url (even if the format is different), username and password are the current shared properties.

We could (and should) also support credentials-provider, health and metrics in the extension, I think.

Other props like acquisition timeout, max lifetime, background validation, ...etc are not supported in the SQL clients yet, but they can be added if there is interest from users.

So, from

[2019-12-13 11:06] sberyozkin commented on #6146
@lordofthejars it may be simpler to get the baseUriBuilder from UriInfo context, can you please check if it works for you ?

[2019-12-13 11:08] lordofthejars commented on #6146
isn't the same? At the end it is a UriBuilder and I will need to still do the Long.toString, isn't it?

[2019-12-13 11:12] sberyozkin commented on #6146
At least it would avoid referring to `DevelopeResource.class` which is indeed not looking good. it s unfortunate though there are no `path` setters accepting the numbers, so yes `Long.toString(developer.getId()` would remain

[2019-12-13 11:13] FroMage commented on #6150
Absolutely, and we can even change our current 404 to use this ;) But the user has to be able to override it.

[2019-12-13 11:25] gsmet commented on #6150
If we use Qute, that means having Qute by default. I'm not saying I'm against it but it's something we need to decide.

[2019-12-13 11:41] mkouba commented on #6150
Dne 13. 12. 19 v 12:25 Guillaume Smet napsal(a):

I'm not so sure it's a good idea. But we can discuss this later ;-).

--
Martin Kouba
Senior Software Engineer
Red Hat, Czech Republic

[2019-12-13 12:53] haraldatbmw opened #6151 "JAX-RS Client API produces warnings in native image mode"
**Describe the bug**
The usage of the JAX-RS Client API causes ClassNotFoundExceptions in native image mode.

[code]

**Expected behavior**
All needed classes are registered correctly for GraalVM native image.
No Warnings with exceptions in the log-file.

**Actual behavior**
[code]

**To Reproduce**
Follow the steps on my demo-project:
https://github.com/haraldatbmw/restclient-native

**Environmen

[2019-12-13 13:00] manovotn commented on #6148
I think back when we integrated MP CP, the notion of `@DefaultBean` wasn't there yet. It certainly sounds logical to do that.

The other approach/option would be to support what SR impl has but Quarkus doesn't yet (we didn't have the CDI build extension capabilities back there) - in SR you can define your executor just by specifying the injection point with a config annotation and the given execut

[2019-12-13 13:02] sdaschner commented on #6103
In case there's something I can help with, lmk

[2019-12-13 13:08] sdaschner commented on #6135
Hi @FroMage

I see your point. I think the important additional information to give to the users is that the repositories also work with plain JPA entities. This is also an interesting point for migrating existent code. Just letting the user know they have this power and that they're free to choose which mix&match makes sense for them.

[2019-12-13 13:12] sdaschner commented on #6148
@manovotn Does SmallRye on it's own supports this feature of MP CP, to define custom `ThreadContext` and `ManagedExecutor`? Correct me if I'm wrong, but the current behavior looks like a bug to me.

[2019-12-13 13:20] manovotn commented on #6148
@sdaschner  MP CP spec allow you to define producers for custom ME and TC. It however doesn't provide any ME/TC by default. The config option I described above is also purely SmallRye thing, not in the spec.

So basically, current behavior of having a default one is undefined by specification and we have it in place to allow users to grab an executor that uses our predefined thread pools that we m

[2019-12-13 13:24] sdaschner commented on #6148
It should be override-able, in fact it is even now, but you would need to write AnnotationsTransformer for that and veto those beans ;-)

Got it, thanks. Is there anything I can help with?

[2019-12-13 13:27] emmanuelbernard commented on #6084
yes so we could wrap the error in our maven plugin but fixing upstream in graalVM would be nicer.

[2019-12-13 13:34] bender316 opened #6153 "artemis-jms breaks resteasy-jsonb"
**Describe the bug**
After adding artemis-jms extension to a project which already uses resteasy-jsonb extension calls to JAX-RS endpoints fail with the following exception:
`Caused by: java.lang.AbstractMethodError: Receiver class org.apache.johnzon.core.JsonGeneratorImpl does not define or inherit an implementation of the resolved method 'abstract javax.json.stream.JsonGenerator writeKey(java.la

[2019-12-13 13:35] manovotn commented on #6148
I will send a PR to make the provided beans default and provide a test for that.
If you want to test your CDI build extension prowess, you could try and port that config behavior, but I don't mean to force you into that as it might be trickier. Either way, I'll create a tracking issue for that and link it here.

[2019-12-13 13:47] gsmet opened #6155 "Handle escaping in Qute"
Right now, Qute doesn't handle escaping at all and doesn't provide any facility for escaping. This is an issue as that means that users will easily have XSS issues.

My inclination would be to enable escaping by default.

The escaping should be different for each content-type.

We need to check how we will properly handle tag content escaping and attribute escaping in HTML. We need to be sure our

[2019-12-13 13:49] manovotn opened #6156 "Port SmallRye CP capability to create custom executors/contexts to Quarkus"
**Description**

This is a low prio issue that originated from https://github.com/quarkusio/quarkus/issues/6148
SmallRye Context Propagation has an ability to create (and share) custom `ManagedExecutor` and `ThreadContext` instances just by defining an injection point and a config annotations. A [CDI extension](https://github.com/smallrye/smallrye-context-propagation/blob/master/cdi/src/main/java/

[2019-12-13 13:50] manovotn commented on #6148
PR solving this up available here - https://github.com/quarkusio/quarkus/pull/6154
Follow up issue for porting SR CP capabilities is here - https://github.com/quarkusio/quarkus/issues/6156

[2019-12-13 13:51] mkouba commented on #6155
In fact, we have SPI for this: `io.quarkus.qute.ResultMapper` but no default implementation ATM ;-).

[2019-12-13 13:53] FroMage commented on #6155
- We want escaping by default but it has to be content-type specific.
  - For HTML `'"<>&` could be enough
- We need a `RawString` type which is not escaped
  - This allows us to add `RawString markdown(String text)` extension methods which return HTML
  - And `RawString raw(String text)` to be able to disable escaping in templates using `foo.stringAttribute.raw`

[2019-12-13 13:55] mkouba commented on #6155
What's `RawString markdown(String text)` useful for?

[2019-12-13 14:11] loicmathieu commented on #4712
Both Kafka and KafkaStream Health Check has been merged and will be part of 1.1.
Closing this issue.

[2019-12-13 14:11] #4712 closed

[2019-12-13 14:12] galderz commented on #3306
Yeah, we probably should write one so that the specification is more clearly defined. Might be a good time to do it sometime between first preview and MVP.

Not sure exactly what you mean with that. You mean `.` as cache name? In any case, invalidation is likely still required in read-only cases. You'd want to potentially invalidate the data explicitly. That's at least the reading JPA does on read

[2019-12-13 14:19] jefrajames opened #6157 "Swagger ui not included by default when building a native image with dev profile"
**Describe the bug**
I've generated a native image with the dev configuration profile:
`mvn package -Pnative -Dquarkus.profile=dev`
My objective was to enable swagger-ui on the native image (as in dev mode, swagger-ui being a transitive dependency of openapi).

This was not the case:

* http://localhost:8080/swagger-ui leads to a "HTTP resource not found" with a native image,
* it works well with

[2019-12-13 14:22] gunnarmorling commented on #4712
Excellent, looking forward to seeing this in 1.1!

[2019-12-13 14:23] mkouba opened #6158 "Support Qute templates in mailer extension"
API example:

[code]

[2019-12-13 14:25] mkouba opened #6159 "Qute - collect all possible template variants"
Currently, the template variants are only collected for `VariantTemplate` injection points. However, it should be also possible to obtain a `VariantTemplate` instance programmatically.

[2019-12-13 14:31] deejcheeze commented on #6063
@Sanne ok this makes a lot of sense and explains alot.
Though I doubt it could be this simple, but is the solution then to generate the enhanced bytecode for the forgotten use-cases?

Is there a known work-around? I found out that declaring join column relationships with the **protected** access modifier helped in some cases, but not in this specific example I cited above. Are there other known _h

[2019-12-13 14:46] geoand commented on #6151
Thanks for reporting and providing a reproducer @haraldatbmw!

I'm going to look into it ASAP

[2019-12-13 14:55] gsmet commented on #6153
This one is already fixed in current master and will be included in the upcoming 1.1.0.Final.

See https://github.com/quarkusio/quarkus/pull/5052/commits .

Thanks for raising the issue though!

[2019-12-13 14:55] #6153 closed

[2019-12-13 15:06] dmlloyd commented on #6131
Sorry, I never followed up.  Here's an example:

https://github.com/quarkusio/quarkus/blob/master/extensions/tika/deployment/src/test/java/io/quarkus/tika/deployment/TikaProcessorTest.java#L37-L42

[2019-12-13 15:10] gsmet commented on #6158
So you would include both HTML and text variants in the same email if they are present? That would be great.

[2019-12-13 15:10] gsmet commented on #6158
BTW, wondering how we can deal with including images in the email.

[2019-12-13 15:34] Sanne opened #6162 "Should log if it's building on GraalVM JDK8 vs JDK11"
**Description**
currently during the build I'm getting

`Running Quarkus native-image plugin on GraalVM Version 19.3.0 CE`

It should clearly state also the JDK version.

[2019-12-13 15:38] loicmathieu commented on #3306
Default cache name => `Classname.methodName` for read only.

Usually usage of invalidation without reloading the data is the case of flushing a cache region (or all of them).
In a lot of e-commerce site, plublication of data is done on regular basis (each hour, each day) to avoid too much updates of the site and having good HTTP cache ratio (HTML pages are usually cached). So they "publish" the ne

[2019-12-13 15:44] #5816 closed

[2019-12-13 15:50] emmanuelbernard commented on #3306
In your e-commerce scenario, I think classname.method name would be a confusing default cache name actually for the method implementing invalidation programmatically. That's where being explicit just clarify things for everyone.

[2019-12-13 15:53] gsmet commented on #6162
Right now, it's displaying what `native-image` says. They don't distinguish things between Java 8 or 11.

[2019-12-13 15:55] loicmathieu commented on #3306
@emmanuelbernard When I say programmatively I mean without annotations, like `CacheManager.flush("regionName")` or `CacheManager.flushAll()`

[2019-12-13 15:59] geoand commented on #6151
@haraldatbmw so here is the story:

When a native image is going to be created Quarkus needs to know (from the method signatures) all the content types that will be used - and using the  JAX-RS Client does not allow us to know those types.
The reason we need to know those types is to inform GraalVM of the existence of classes that handle them so GraalVM doesn't completely remove them (as being unu

[2019-12-13 15:59] Sanne commented on #3306
It certainly depends on the use case one has in mind, but I'd be careful as it might be a totally surprising default in some other use cases.

Say for example I have a "StuffManager" DAO-like class, I'd want my STUFF_CACHE to be shared for all usages of the STUFF type across all methods it has - having a different cache for each method would be inefficient, consume more memory and - when invalidat

[2019-12-13 16:00] loicmathieu commented on #6131
@dmlloyd the issue is fixed by this piece of code

[code]

However I will qualify it of a workaround not a fix. And it works without it in 1.0.1.Final.
Do we really expect all users that does unit test without Quarkus support (and I expect they exist some and maybe a lot of them) to apply this workaround ? How will they find it, should we document it ?

[2019-12-13 16:08] rmh78 commented on #6151
@geoand The reason of using the JAX-RS client instead of the MP REST client is my generic use-case. I'm not able to call a MP REST client in a generic way, I always have to use a concrete service-interface. With the JAX-RS client api I am able to make the service-calls in a generic way.

Is there a way to explicit tell the GraalVM which type of client I am using?

[2019-12-13 16:09] rmh78 commented on #6151
By the way, the REST call does work but exceptions are logged out. So there is already some kind of fallback implemented!?

[2019-12-13 16:12] geoand commented on #6151
@rmh78 not exactly, what you are seeing is RESTEasy trying to load every provider and failing on some...

So this use case works, but you can easily run into cases where your calls will fail at runtime.

We can't tell GraalVM what RESTEasy Provider to use for the content types handled by the JAX-RS client because that client is programmatic. So you can basically do whatever you want.
When using th

[2019-12-13 16:15] rmh78 commented on #6151
@geoand Shouldn't all RESTEasy Provider be registered in GraalVM if i use the rest-client quarkus extension?

[2019-12-13 16:16] geoand commented on #6151
We only register the providers that are actually being used by the application. This is done in order to minimize the optimize the native image.

[2019-12-13 16:18] rmh78 commented on #6151
@geoand So this means that not the whole JAX-RS 2.0 API is available in native image mode?

[2019-12-13 16:20] rmh78 commented on #6151
RestEasy - JAX-RS 2.0 Client API
https://docs.jboss.org/resteasy/docs/4.4.1.Final/userguide/html_single/index.html#d4e3076

[2019-12-13 16:22] geoand commented on #6151
Exactly, which is why @gsmet are thinking that perhaps we should fail with a good error message when the REST Client is used.

Basically using the REST Client in the closed world of GraalVM is just too risky

[2019-12-13 16:24] geoand commented on #6151
Yeah, that is an option, but it's not something Quarkus can do, it requires changes in REST Easy.
But that is just a band-aid for the logs problem you are seeing. The real problem of not knowing if the calls will actually work would not be solved

[2019-12-13 16:27] rmh78 commented on #6151
So it's a question of all or nothing...

[2019-12-13 16:30] geoand commented on #6151
It comes down to a decision:

Do we allow the use of the client and let users figure out if it works at runtime? Or do we fail cleanly indicating that using something open-ended (like the JAX-RS REST Client) in the closed world of GraalVM just shouldn't be done.

[2019-12-13 16:34] sdaschner commented on #6148
Wow, that's fast, thanks already!

I'd be happy to learn more about CDI build extensions, never touched them so far (only default, standard CDI stuff), but I'd need some pointers how to get started...

[2019-12-13 16:43] gsmet commented on #5921
@otcyury apparently, it got fixed and the fix will be released in next week's release.

[2019-12-13 16:43] gsmet commented on #5921
@otcyury apparently, it got fixed and the fix will be released in next week's release.

[2019-12-13 17:14] Sergey80 commented on #2396
any link on github example that works with multi-module project?

[2019-12-13 17:16] Sergey80 commented on #2396
any link to working multi-module project?

[2019-12-13 17:20] nimo23 opened #6163 "documentation: compare Qute vs already existing templating engines"
**Description**
Please clarify in the **official documentation** why implementing a new templating language in quarkus instead of **re-using or adapting** already existing templating engines in quarkus?

For example, why not using _Jakarte Expression Language_, _JSF_ based on Jakarte EL or _vertx templating engine_ with different languages (which also supports server side rendering). What are the

[2019-12-13 17:36] mkouba opened #6164 "Qute parser - show the template path and line number in error messages"
We do show this info when validating template expressions.

[2019-12-13 17:36] dmlloyd commented on #6131
Yes, for now at least.  The problem is that the tests assume there is some configuration.  But what configuration would it be?  Not build time, nor run time, because the test is not running under the purview of Quarkus.  Therefore the user must take care to manually set up a configuration; letting the config auto-create encourages leakage (I fixed up a number of these already, which is what led me

[2019-12-13 17:39] #6001 closed

[2019-12-13 17:42] mkouba opened #6165 "Reactive routes - log a warning if multiple routes match the same path and no order is declared"
The routes are tested/handlers executed in a random order.

See https://groups.google.com/forum/#!topic/quarkus-dev/pJDC32SBLWA.

[2019-12-13 18:54] rmh78 commented on #6151
I found a working generic solution for my use-case with MicroProfile REST Client instead of the JAX-RS Client API. This solution works without side-effects in native image mode :-)

I have updates my reproducer project with both solutions:
- MP REST Client (without warnings)
- JAX-RS Client (with exception warnings)

If your interested take a look at: https://github.com/haraldatbmw/restclient-nati

[2019-12-13 19:03] rmh78 commented on #6151
@gsmet I leave it to you if you want to close this issue or not. If you want to disable JAX-RS client in native mode. I'm already fine.

[2019-12-13 19:28] zakhdar opened #6166 "Mongo panache dont read database name in application.properties when profil is used"
**Describe the bug**

When using mongo panache  (in native or in java mode tested with two) , when you define the  property   "quarkus.mongodb.database" in a profile like : "%myprofile.quarkus.mongodb.database"
when you launch your application you get  "java.util.NoSuchElementException: Property quarkus.mongodb.database not found"  even when you use -Dquarkus.profile=myprofil

but if you define it

[2019-12-13 20:01] manovotn commented on #6148
Most is documented here - https://quarkus.io/guides/cdi-reference#build-time-extension-points
You'd need to first take a look at what the original CDI extension does (what extension lifecycle methods are used) and then try to map that to the build time extensions we have. They certainly aren't 1:1 but we should have a replacement for the functionality provided by each.

An examples of many build t

[2019-12-13 20:27] Sergey80 opened #6168 "Single project to mutl project gets NPE at UnixPath.normalizeAndCheck ad 404 when hit the endpoints"
**Describe the bug**

**UPDATE:**  it is on 1.0.1 final

Used to have working quarkus web project with rest-easy end-points.

Converted it to multi-module one.

**Expected behavior**
all up and running and - responding by the hitting the url endpoints.

**Actual behavior**

Listening for transport dt_socket at address: 5005
Exception in thread "main" java.lang.RuntimeException: java.lang.NullPoint

[2019-12-13 20:43] #5196 closed

[2019-12-13 21:00] murphye commented on #6091
I just now tried the jpa-example.zip with 999-SNAPSHOT and it's still hanging. I also see the same behavior in my PetClinic application (where the code originated).

@gsmet Can you check again if it works?

[2019-12-13 21:01] gsmet commented on #6168
Could you please provide a reproducer?

Thanks.

[2019-12-13 21:03] gsmet commented on #6166
@dmlloyd does it ring a bell?

[2019-12-13 21:39] jcordes73 commented on #6130
Artemis is used in several projects that I know of, there is not a particular one that has started using Quarkus yet. We could have a conversation with an early adopter to start their journey ...

[2019-12-13 22:36] Sergey80 opened #6170 "Multiple matching properties for name "datasource.url" on 1.1.0.CR1"
**Describe the bug**
<dependency>
    <groupId>io.quarkus</groupId>
    <artifactId>quarkus-core</artifactId>
    <version>1.1.0.CR1</version>
</dependency>

**Expected behavior**
no error

**Actual behavior**
on start:
Failed to start Quarkus: java.lang.IllegalArgumentException: Multiple matching properties for name "datasource.url"

**To Reproduce**
Steps to reproduce the behavior:
1.
on start:

[2019-12-13 22:55] Sergey80 commented on #6168
Ok. will prep. You do not have any official mult-module project yourself yet?

one more info:
 If I compile native, application works/reacts on rest requests. Seems it is only about dev (and probably hot reload thing).

[2019-12-13 23:45] Sergey80 commented on #6168
https://github.com/Sergey80/quarkus-samples

[2019-12-14 01:06] nimo23 commented on #3483
And please also support `@NamedEntityGraph` in Panache:

// this NamedEntityGraph also has "jpa or hibernate hints" which must be considered in panache
User.find("User.entityGraph");
// or User.query("User.entityGraph");

[2019-12-14 01:38] jaikiran commented on #6168
Hello @Sergey80, Is this 1.1.0.CR1? That NPE line number doesn't match with what's in the code.

[2019-12-14 01:42] jaikiran commented on #6162
This support was requested by someone else from the Graal image itself here https://github.com/oracle/graal/issues/1911

[2019-12-14 01:58] Sergey80 commented on #6168
No it's 1.0.1 final.  The 1.1.0 rc1 I even  could not start, as I mentioned in stackoverflow. I can try this reproducer with the q.1.0rc.

[2019-12-14 02:07] Sergey80 commented on #6168
yes, if you change version to 1.1.0.CR1

on start you would get:

Listening for transport dt_socket at address: 5005
21:06:03,415 ERROR [io.qua.dev.DevModeMain] Failed to start Quarkus: java.lang.IllegalArgumentException: Multiple matching properties for name "datasource.url"
	at io.quarkus.deployment.configuration.matching.PatternMapBuilder.addMember(PatternMapBuilder.java:70)

[2019-12-14 02:16] Sergey80 commented on #6170
Reproducer:
https://github.com/Sergey80/quarkus-samples

if you change version to 1.1.0.CR1

on start you would get:

Listening for transport dt_socket at address: 5005
21:06:03,415 ERROR [io.qua.dev.DevModeMain] Failed to start Quarkus: java.lang.IllegalArgumentException: Multiple matching properties for name "datasource.url"
	at io.quarkus.deployment.configuration.matching.PatternMapBuilder.addM

[2019-12-14 04:09] dmlloyd commented on #6166
Not precisely but I'd bet it's fixed upstream already.  @zakhdar maybe try with a build from master?

[2019-12-14 05:36] jaikiran commented on #6136
Hello @johnaohara Is there a set of steps to consistently reproduce this using that `getting-started` quickstart? My experiments so far, using a docker build (through the `Dockerfile.native`) for 19.2 and 19.3 haven't shown any major difference in the RSS size of the application? I didn't fire any requests against the application. Just booted it up and waited a few minutes before checking the `pma

[2019-12-14 07:48] johnaohara commented on #6136
@jaikiran Which platform are you testing on?  To reproduce;

Build against 19.3.0
1) checkout quarkus at commit 0be78a6
2) build the `getting-started` quickstart on the development branch of `quarkus-quickstarts`
3) `export GRAALVM_HOME=/path/to/graal-19.3.0`
4) `mvn package -Pnative -DskipTests`
5) `./target/getting-started-1.0-SNAPSHOT-runner -Xmx2m`

You should see the process taking ~63MB of m

[2019-12-14 08:36] geoand commented on #6170
I was able to reproduce the problem.

[2019-12-14 08:55] geoand commented on #6170
The problem is that you have both the  `quarkus-agroal` dependency and the `quarkus-reactive-pg-client` dependency. You need to you only one (depending on what your application is actually doing).

Both of these dependencies define the `quarkus.datasource.url` property which is why things fail (Quarkus configuration handling has changes in version 1.1.0 and what you are seeing now is actually more

[2019-12-14 08:55] #6170 closed

[2019-12-14 09:00] geoand commented on #6166
Or even `1.1.0.CR1`?

[2019-12-14 09:04] geoand commented on #6168
The not being able to start issue (#6170) was due to having multiple data sources. Can you please try again with 1.1.0.CR1 after removing the datasource you don't need?

[2019-12-14 09:34] mingjliu9 opened #6171 "io.quarkus:quarkus-universe-bom:1.1.0.CR1 Not Released on Maven Central Repo"
**Describe the bug**
version 1.1.0.CR1 couldn't be found on maven central repository

**Expected behavior**
Should show up in the page, just as 1.0.0.CR1 as shown in screenshots.

**Actual behavior**
version 1.1.0.CR1 couldn't be found with following link

**To Reproduce**
1. Created project created on https://code.quarkus.io/
2. update quarkus platform version in pom to 1.1.0.CR1
[code]
3. build

[2019-12-14 10:39] gintsgints commented on #5523
Also what I found, EntityManager if injected and used in BeforeEach, is null.

[2019-12-14 10:45] dufoli opened #6172 "Integration Tests - Maven tooling FAILURE"
when I run
mvn clean install  on quarkus source
it failed on quarkus-integration-test-maven

windows environment

Here is the log:
[code]

[2019-12-14 10:46] dufoli commented on #6172
I have that on each branch I worked on. So I always push to PR to have test on azure ;-(

[2019-12-14 11:26] gwenneg commented on #6172
I'm not sure of what's causing the failure, but you should use GraalVM `19.3.0 `instead of `19.2.0.1` if you're doing this from `master`.

[2019-12-14 11:34] gwenneg commented on #6171
Hi @mingjliu9 and thanks for testing Quarkus 1.1.0.CR1!

If I'm not mistaken, the universe bom is not released for a CR and will be release with `1.1.0.Final`.

@gsmet will know better than me about this, here's something he wrote:

mvn io.quarkus:quarkus-maven-plugin:1.1.0.CR1:create -DplatformVersion=1.1.0.CR1 -DplatformArtifactId=quarkus-bom

[2019-12-14 11:48] nimo23 opened #6173 "documentation: json-processing"
**Description**
Actually, **json processing** is only documented as a part of **Json-Rest-Processing** (https://quarkus.io/guides/rest-json). I think, json processing deserves an extra category "json processing" in the documentation. The actual documentation does not explain the restrictions or stumbling blocks when it comes to` json-b` and `jackson`:
- the documentation does not explain that `jso

[2019-12-14 11:55] vsevel commented on #5638
see PR https://github.com/quarkusio/quarkus/pull/6174

[2019-12-14 13:03] Sergey80 commented on #6170
now:
1. //    implementation 'io.quarkus:quarkus-agroal'  commented out
2. no any databases defined in the application.properries
result the same:
Listening for transport dt_socket at address: 5005
08:01:16,636 ERROR [io.qua.dev.DevModeMain] Failed to start Quarkus: java.lang.IllegalArgumentException: Multiple matching properties for name "datasource.url"
https://github.com/Sergey80/quarkus-sample

[2019-12-14 13:14] geoand commented on #6170
I tried your Maven examples and at least in those you had the dependencies in multiple places, so I needed to comment out all places

[2019-12-14 13:17] Sergey80 commented on #6170
i commented them, it still does not work.
that error is gone gone only when I comment both io.quarkus:quarkus-agroal and quarkus-reactive-pg-client but then I can not use database at all in my app.

[2019-12-14 13:23] gsmet commented on #6171
Yes, for candidate releases, from now one, we will only release the core Quarkus and not the platform and the universe bom.

The universe bom contains Camel for instance and we need to give them the time to test the CR too.

See https://groups.google.com/d/msg/quarkus-dev/rap-O3OT4k4/n8XVaT1LAgAJ for info about how to use it.

[2019-12-14 13:23] #6171 closed

[2019-12-14 13:24] gsmet commented on #5969
This is not a bug. The fact that you have annotations or not does not enter into account.

The annotations are hints on how to serialize things but each serializer is perfectly capable of serializing without those hints.

[2019-12-14 13:24] #5969 closed

[2019-12-14 13:26] geoand commented on #6170
Here is what my diff looks like:

[code]

With that change, when using Maven the error no longer exists

[2019-12-14 13:39] PhilAndrew opened #6175 "Fails to run? Quarkus with GraalVM Community Edition based on OpenJDK 11.0.5"
GraalVM Community Edition based on OpenJDK 11.0.5

On Ubuntu, I downloaded and installed GraalVM
"graalvm-ce-java11-linux-amd64-19.3.0.tar.gz"

Then I tried https://quarkus.io/guides/getting-started with this GraalVM as the java and javac

When I run it, it fails and I have a guess that its due to a Java reflection problem. Is this the expected outcome?

[code]

[2019-12-14 13:41] Sergey80 commented on #6170
ok. true, thx. now the question remains, how to run it in multi module mode.. but that is differen issue.
rep/target/my-project-service-dev.jar
Listening for transport dt_socket at address: 5005
Exception in thread "main" java.lang.RuntimeException: java.lang.NullPointerException
        at io.quarkus.dev.DevModeMain.main(DevModeMain.java:71)

[2019-12-14 13:42] geoand commented on #6170
What you describe is issue #6168 , correct? If so, please update that issue to mention the fact that it's still an issue with `1.1.0.CR1`

[2019-12-14 13:47] Sergey80 commented on #6168
(#6170)  is closed. but this one should not be. this one is about ability to run the app in multi-module mode. when it starts - the endpoints are not available and the exception is:

Listening for transport dt_socket at address: 5005
Exception in thread "main" java.lang.RuntimeException: java.lang.NullPointerException
        at io.quarkus.dev.DevModeMain.main(DevModeMain.java:71)
Caused by: java.

[2019-12-14 13:47] Sergey80 commented on #6170
ok. let me try

[2019-12-14 13:49] geoand commented on #6168
I have not able to reproduce this one. Can you give more information about your environment (Java version, OS, etc) please ?

[2019-12-14 13:49] jaikiran commented on #6168
Hello @Sergey80, can you please post the complete exception stacktrace? I have been trying to reproduce the linked github repo application, but haven't been able to.

[2019-12-14 13:49] Sergey80 commented on #6170
yes. same thing still. updated to <quarkus.version>1.1.0.CR1</quarkus.version>
put a commented on that issue. updated my sample branch.

[2019-12-14 13:50] geoand commented on #6170
Thanks

[2019-12-14 13:51] gsmet commented on #6175
We don't support Java 11 with GraalVM for now. We are actively working on it but it's not an easy one.

Furthermore, we don't support GraalVM 19.3 yet.

[2019-12-14 13:51] #6175 closed

[2019-12-14 13:53] gsmet commented on #6163
Qute has been designed to allow moving as much work as possible as build time.

The existing template engines are not designed for that.

Qute documentation is coming soon.

[2019-12-14 13:53] #6163 closed

[2019-12-14 13:53] jefrajames commented on #6142
I've done some investigations. It works by adding @RegisterForReflection on the GreetingService CDI bean that has the @Fallback annotation. I leave the issue open since I think it deserves to be mentioned in the documentation : If you make use of @Fallback on a CDI bean with a local method, don't forget the @RegisterForReflection on that same class to enable reflection!

[2019-12-14 13:57] nimo23 commented on #5969
@gsmet It is a fact that I cannot use the described use cases in quarkus because quarkus ignores jackson mappings of a **third party library**. The **third party library** has no bugs, but quarkus has a bug because it cannot handle it right.

Really? I dont think does annotations are only hints. It makes a big difference in (de)serializing if I include for example `@JsonBTransient `or `@JsonCreato

[2019-12-14 14:01] Sergey80 commented on #6168
./mvnw compile quarkus:dev
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] my-project-service                                                 [pom]
[INFO] my-project-api2                                                    [jar]
[INFO] my-project-backend

[2019-12-14 14:03] gsmet opened #6176 "Kogito quickstart failing with current master"
With current master, we have the Kogito quickstart failing with:
[code]

AFAICS, it's related to the Kogito 0.6.1 upgrade because we didn't have this issue before.

That being said, it looks like standard RESTEasy code so I'm not sure if it's a bug in Kogito or in the Quarkus RESTEasy extension (missing declaring some potential proxy creation).

@mswiderski did you include something else than the

[2019-12-14 14:05] #4289 closed

[2019-12-14 14:07] PhilAndrew commented on #6175
Hi, ok so I did a little more investigation I found this works https://www.baeldung.com/quarkus-io with GraalVM, so following that tutorials instructions it works. What is the difference here? I guess its the version of Quarkus which was 0.13.1 and maybe it was working then with GraalVM.

Going back to your support statement, ok thanks to let me know, I understand not supported means it may or may

[2019-12-14 14:13] gsmet commented on #6175
No, in this case, it means it won't work :).

If you want to use native images, you have to build with Java 8 and use GraalVM 19.2.1. Any other combination won't work.

If you only want to build a jar, you can use JDK 8 or JDK 11+.

GraalVM 19.3.0 has some serious issues and we can't support it for now.

[2019-12-14 14:17] geoand commented on #6168
First of, I can't seem to reproduce the NPE at all.

Secondly the dev mode doesn't seem to be working when executed from the parent directory, but I'm not sure if that's expected or not (@gsmet any idea?). When I launch it from the the `my-project-backend` is works just fine.

[2019-12-14 14:34] Sergey80 commented on #6168
@geoand  strange, for me it is:
[code]

[2019-12-14 14:36] geoand commented on #6168
@Sergey80 you first need to do `./mvnw clean install -DskipTests` in the parent project.

Now like I said I'm not sure if the dev mode is supposed to work in the parent project. If it is, then there is definitely a bug, because although I can't reproduce your NPE, the application doesn't behave correctly.

[2019-12-14 14:59] dmlloyd commented on #6166
1.1.0.CR1 might not contain all of the necessary fixes.

[2019-12-14 16:16] Sergey80 commented on #6168
also not sure how to build it as native. from the parent of from the the child. in both cases this seems does not work too.

If I run this single module project:
`./mvnw package -Dnative -Dquarkus.profile=dev -Dmaven.test.skip=true`
I wait for a minute or so and get my binnary -runner

In case of of multi-module one, either I run it from the parent of child, I got something like this msg in 2 seco

[2019-12-14 23:19] geoand commented on #6172
Another thing you need to make of when running the tests, is to not have any application already running on the ports used by the test applications

[2019-12-15 00:16] #6127 closed

[2019-12-15 01:22] PhilAndrew commented on #6175
Just to clear up a small misunderstanding, I didn't want to do native build, I wanted to just run it with GraalVM through the command line using `mvn quarkus:dev`

Maybe later I would want to do native build, but I wanted to be able to use GraalVM to run, that was my goal.

[2019-12-15 05:58] SetoKaiba commented on #5883
Any update on this? I need update ddl feature to continue my projects migration.

[2019-12-15 10:37] hartimcwildfly commented on #6133
adding a single custom handler (which extends the org.jboss.logmanager.ExtHandler class)
should be very easy as the already existing Handlers (console, syslog and file) also extend the org.jboss.logmanager.ExtHandler class. But if you'd like to link a logger to a specific handler, you have to add the ability to select a specific handler for a logger, which is more complex.

[2019-12-15 11:52] mazegreg commented on #5872
See #4509

[2019-12-15 13:01] gwenneg commented on #6020
I'm reopening this issue as the `java.io.FilePermission` is still there. It didn't show up during the previous tests because if was hidden by the `ConcurrentModificationException` (which is still around as well). I'm working on a PR to fix the `java.io.FilePermission`, I should submit it shortly.

[2019-12-15 14:26] gwenneg opened #6179 "Remove the GraalVM workarounds that are no longer required with 19.3.1"
As suggested by @jaikiran [here](https://github.com/quarkusio/quarkus/pull/6169#issuecomment-565719445), we introduced several workarounds for GraalVM issues into the Quarkus code lately. Most of them were introduced to fix GraalVM `19.3.0` issues but we also did that for previous GraalVM versions. Once GraalVM `19.3.1` is there, we should remove from the Quarkus code all of these workarounds that

[2019-12-15 14:53] #6020 closed

[2019-12-15 16:35] gwenneg commented on #6018
I renamed this issue to reflect the real problem. It can happen during the native image generation of any integration test module.

[2019-12-15 19:13] rmannibucau commented on #5969
@gsmet this issue is accurate and quarkus behaves against JAX-RS spec it seems, see https://github.com/eclipse-ee4j/jsonb-api/issues/214#issuecomment-565832130 for the background. JAX-RS is designed to support that and annotations are hints the JAX-RS spec enables to exploit to properly handle the serialization in all cases. If quarkus does not handle that it means it does not support JAX-RS which

[2019-12-15 19:15] nimo23 commented on #5969
https://github.com/quarkusio/quarkus/issues/6173

[2019-12-15 19:23] gsmet commented on #5969
If you include resteasy-jsonb then RESTEasy will use JSON-B. The fact that you have Jackson annotations on your classes doesn’t matter.

[2019-12-15 19:23] gsmet commented on #5969
And yes, we support JAX-RS.

[2019-12-15 19:26] rmannibucau commented on #5969
@gsmet if the previous mapper is included and as reported @nimo23 it does not use jsonb or jackson as needed then quarkus (resteasy?) does not support jaxrs.

[2019-12-15 19:28] gsmet commented on #5969
BTW opening random issues everywhere without even providing a reproducer and stating incorrect assumptions doesn’t really help your case.

It seems you are mixing a lot of incompatible things and hoping it will work and it won’t.

Our JAX-RS implementation is RESTEasy, we don’t support Jersey.

[2019-12-15 19:28] nimo23 commented on #5969
No, I do **not** have jackson annotated classes in **MY** application but the 3rd party library has jackson annotated classes. My app uses json-b annotated classes, but the 3rd party library uses jackson. As my app uses json-b, I must include `resteasy-jsonb`. But this leads to this issue because quarkus delegates its jsonb-processing to ALL dependencies. Which is not right. Please read my post ca

[2019-12-15 19:30] nimo23 commented on #5969
I do not use jersey directly in my application. The 3rd party library uses jersey.

[2019-12-15 19:33] gsmet commented on #5969
Well as I said, I think you are trying to mix things that won’t work together.

But again, instead of stating things and making incorrect assumptions, provide a reproducer and then we will be able to talk about something concrete.

Until then, I don’t see us being able to do anything about that. And certainly not being sure it’s a valid issue.

[2019-12-15 19:35] gsmet commented on #5969
And no things won’t be isolated. There’s no modular class loading in Quarkus.

Don’t make assumptions please. Provide us a reproducer and we’ll talk then.

[2019-12-15 19:46] nimo23 commented on #5969
@gsmet Please be accurate with your words. In quarkus it will not work together. We have the same application used in Spring, Wildlfy and Geronimo. It works everywhere since years without such a silly issue - but not in quarkus. I described very detailed the problem so reproduction can be easy for you. I cannot waste time for this issue anymore because we decided to switch to jackson and drop json

[2019-12-15 20:09] rmannibucau commented on #5969
@gsmet maybe push an app with a custom provider routing to jackson or jsonb depending the class on a github repo, this is plain jaxrs spec and must work with quarkus (if resteasy code handling that is not substituted Im pretty confident it works, if it is substituted quarkus does not support jaxrs and should be enhanced). Will enable to close the topic faster probably.

Just my 2cts

[2019-12-15 20:57] gsmet opened #6183 "New "Launching JVM" log line appearing in quarkus:dev"
Just launched a project with `quarkus:dev` and got that one:
[code]

I don't think it's something we want at the info level.

@gastaldi is this the one you tweaked the other day? Do you know when it was introduced and why?

[2019-12-15 21:01] gsmet commented on #6183
OK, so it was the one you tweaked and it was originally changed here: https://github.com/quarkusio/quarkus/pull/5366 .

@jaikiran @stuartwdouglas I can't say I agree with this. We tried hard to not be verbose and this definitely seem too verbose and technical to me.

[2019-12-15 21:03] gsmet commented on #6091
@murphye have you tried with a locally compiled master? Because it looks like our snapshots are not pushed anymore for whatever reason. The last snapshot published is from Dec 6th.

With the original project and with latest master, I get an error when I launch `quarkus:dev`:
[code]
which looks like a valid one to me.

[2019-12-15 21:05] gsmet opened #6184 "Snapshots are not published anymore to OSS"
The last snapshots published are from December 6th AFAICS:
https://oss.sonatype.org/content/repositories/snapshots/io/quarkus/quarkus-core/999-SNAPSHOT/

What's responsible for pushing these?

/cc @cescoffier @stuartwdouglas

[2019-12-15 21:09] gastaldi commented on #6183
I made the Gradle version display the same output as in Maven. The PR you linked changed to INFO but I must say I am not a big fan of it.

IMHO it should be a debug statement using the plugin 's logger

[2019-12-15 21:26] gsmet commented on #6183
Yeah, I agree. If some of the info is useful, we need to present it another way. In the meantime, I would prefer it to go back to debug.

@gastaldi would you be up for preparing a patch?

[2019-12-15 21:29] gastaldi commented on #6183
Sure, assign this issue to me and I'll submit a PR soon

[2019-12-15 22:06] nfrankel commented on #5133
Hello!

Just hit this too... Any way to overcome that while keeping minikube?

[2019-12-15 22:14] stuartwdouglas commented on #6184
I did not even know we were doing this, is this part of your quickstarts setup @cescoffier ?

[2019-12-15 22:33] gwenneg commented on #5682
All issues mentioned here have been fixed except for #6018 which can randomly happen with any native integration tests build. It usually affects 5 to 10 integration tests modules when I run a full Quarkus native build locally. I'll run another full build tonight and check the results tomorrow to make sure nothing got left behind or hidden by #6018.

[2019-12-15 22:36] gsmet commented on #6018
So Stuart’s work around does not work in the end?

[2019-12-15 22:39] gwenneg commented on #6018
Well I suppose it doesn't since I keep seeing failures locally.

[2019-12-15 22:52] stuartwdouglas commented on #6018
I originally saw this in a JDK8 run, so it is not tied to JDK11, and I am pretty sure the code in question has been buggy for a while. I am pretty sure it is just luck that we have not run into this earlier.

[2019-12-15 22:58] gsmet commented on #5969
Well, you apparently have the time to open a lot of issues. So please take the time to provide a reproducer if you want us to investigate. If not, that’s your choice.

It’s typically the type of issue where we will spend hours shooting in the dark.

[2019-12-15 23:05] maxandersen commented on #5969
I'm trying to spot what the exact issue is here and still struggling to see what the 3rd party dep is doing that quarkus is somehow "breaking" - a reproducer from either @rmannibucau or @nimo23 would be great as like @gsmet says we could be guessing at very different things here.

[2019-12-15 23:08] stuartwdouglas commented on #6170
I think we should print a more obvious error message in this case.

[2019-12-16 00:22] AndChen153 commented on #1402
could someone explain exactly how to configure the ~/.m2/settings.xml file, I am quite confused on where to make it

[2019-12-16 01:16] aguibert commented on #5969
I think the basic scenario is that @nimo23 is trying to use JAX-RS and JSON-B in their application, but one of their 3rd party deps is using Jackson. To try and satisfy the 3rd party dependency, they are adding Jackson in some way to their pom.

Although it's not explicitly stated, I assume @nimo23 is adding 2 JAX-RS message body reader/writers -- one for JSON-B via `quarkus-resteasy-jsonb` and an

[2019-12-16 03:35] burrsutter opened #6187 "Kubernetes Guide says "kubernetes.yaml" instead of "kubernetes.yml""
**Describe the bug**
https://quarkus.io/guides/kubernetes refers to the generated file name of "kubernetes.yaml".

**Expected behavior**
The actual file name is "kubernetes.yml"

**Actual behavior**
https://screencast.com/t/c598ryD7bQgq

[2019-12-16 04:21] jaikiran commented on #6183
Hello @gsmet, it's fine with me if we want to go back to using `DEBUG` here.

[2019-12-16 06:14] rmannibucau commented on #5969
Ok, took time to test the code from the jsonb issue and it works well in jvm mode. So it can likely just be some @RegisterForReflection or META-INF/services/Providers missing file in native mode.

[2019-12-16 06:52] geoand commented on #6170
@stuartwdouglas that would be nice.

@dmlloyd is printing a good error message when multiple config objects use the same property possible?

[2019-12-16 06:59] cescoffier commented on #6184
We have a nightly build doing this, but the build fail at the moment.
https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=13637:

[code]

It seems the Quarkus build structure changed and these changes were not reflected.

[2019-12-16 07:05] cescoffier commented on #5133
So, there is a sneaky way. It consists of using 2 terminals.

In the first terminal, use your local docker, and run the quarkus build to generate the Linux 64 bits executable:

[code]

In the second terminal, do the docker socket switch to use the minikube docker host:
[code]

Then, issue the docker build from this terminal:
[code]

This creates the Docker image in the image registry from minikube

[2019-12-16 07:08] geoand commented on #6187
Thanks for reporting @burrsutter!  A PR with a fix has been opened.

[2019-12-16 07:16] geoand commented on #6172
Does this still occur @dufoli ? CI on Windows seems to be passing without issues

[2019-12-16 07:55] #6183 closed

[2019-12-16 08:11] #6187 closed

[2019-12-16 08:54] maxandersen opened #6189 "Make a mcve repo to give simple steps to create a reproducer"
**Description**
it could help to create a mvcve repo (minimal complete verifiable example) with instructions on how to create a reproducer more easily - something like https://github.com/jOOQ/jOOQ-mcve

https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/mixed.20json.20processors.20expected.20to.20not.20work.20.3F/near/183529107

**Implementation ideas**
- make a basic repo with readme

[2019-12-16 08:59] gsmet commented on #6189
If you want to do it, please do. But we didn't have any issue with people creating reproducer, novices included (once they know what a reproducer is).

As you can create a project in one command (and that's what people used to create their application), it helps.

Be aware that this will need to be updated for each release.

I think a text explaining what a reproducer is (we had several people ask

[2019-12-16 09:25] ldgut commented on #5677
Same problem here.
`resources/META-INF` files are overwritten from files in maven dependencies. This only occurs in the runner.jar uberJar from versions above quarkus 0.22.0. We are using maven-shade plugin 3.2.1 which worked fine in 0.22.0.

[2019-12-16 09:30] FroMage commented on #6155
To render a markdown string to html (or txt based on expected content-type). We should have an asciidoc one too, of course :)

[2019-12-16 09:44] mswiderski commented on #6176
@gsmet yes, it does include additional fixes. What we use HttpHeaders is just to inject it into a method of resource class to be able to access http headers.

[code]

In addition I actually tested all this in native and jvm mode and didn't run into any issue, does this fail in native mode only?

[2019-12-16 09:52] vietk opened #6190 "Unit test order fails integration test based on QuarkusTest"
**Describe the bug**

I have a JAX-RS resource without a default constructor, I use this constructor to ease my mockup in a mockito unit test.
I have also a @QuarkusTest that does an integration test with Kafka, Quarkus generates the default constructor based on the content of this [PR](https://github.com/quarkusio/quarkus/pull/1875).

Both test are run with surefire plugin (mvn clean test) :
If t

[2019-12-16 09:53] gsmet commented on #6176
Yes the quickstart fails in native mode. Reproduced on quickstart CI and locally.

[2019-12-16 09:54] mswiderski commented on #6176
@gsmet what graalvm version do you use?

[2019-12-16 09:58] gsmet commented on #6176
It's failing with GraalVM 19.3 on master and was failing with 19.2.1 on 1.1
until I reverted the upgrade.

But I think your usage is legit so we probably need to authorize creating
proxies there. I'll see if it fixes the issue.

On Mon, Dec 16, 2019 at 10:54 AM Maciej Swiderski <notifications@github.com>
wrote:

[2019-12-16 10:10] gsmet commented on #6094
I don't know. I did that at first when playing with HV + CDI and decided against it to avoid creating unnecessary beans as CV can also just be very simple classes with no injection.

I wasn't sure making them all beans was a good solution.

But there's one thing for sure, you need at least one scope annotation to make it a bean. Isn't it something expected in CDI?

[2019-12-16 10:24] mkouba commented on #6155
I see. That an interesting one but I think I'll create another issue.

[2019-12-16 10:24] gsmet commented on #5908
@irenakezic nice work. I will have a look at the HV side this week.

Could you share the commit you made to HV to allow message interpolator override? I will include it in my upcoming PR.

Thanks!

[2019-12-16 10:25] FroMage commented on #5885
Fix is at https://github.com/quarkusio/quarkus/pull/6191

[2019-12-16 10:31] maxandersen commented on #5969
Thanks @rmannibucau, I assume your example is https://github.com/rmannibucau/jaxrs-router and with yours and @aguibert additional examples I think we can agree that we have at least two ways that works.
Thus @nimo23 please - if you think there is still an issue here please make a small project showing what is failing for you. Thank you!

[2019-12-16 10:45] gsmet commented on #5969
That being said, if something is working in JVM mode and not working in native mode, we have a bug.

@rmannibucau can you post a reproducer of this issue here? Or point to a GH repository with instructions on how to reproduce it?

[2019-12-16 10:49] rmannibucau commented on #5969
@gsmet ^^ ;), i didnt manage to build with the graalvm I had locally but it does not mean it does not work, guess it is just not yet tested (until nimo confirms he did).

[2019-12-16 10:52] gsmet commented on #5969
@rmannibucau I see @maxandersen assuming it might be the reproducer so yeah a confirmation helps.

I see no instructions on how to reproduce the issue though and what we should look for.

But from what you say, I don't understand if we have an issue or not?

[2019-12-16 10:57] mswiderski commented on #6176
ok, let me know if I should investigate anything on Kogito end.

[2019-12-16 11:02] aureamunoz opened #6192 "SpringJPA: Support spring.jpa.show-sql"
**Description**
From a Hackaton with Quarkus suggestions and feedbacks:
User tried to set spring.jpa.show-sql was surprised it didn’t work.

**Implementation ideas**
My idea is create a `@ConfigRoot` and `@ConfigGroup` classes to load this property and map it to the current [`quarkus.hibernate-orm.log.sql`](https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.log.sql

[2019-12-16 11:06] sberyozkin commented on #5809
@tpenakov Hi, sorry for a delay, not that I'm aware of, it is in Central. can you retry please ? CC @gsmet

[2019-12-16 11:12] gsmet commented on #5809
You need to use the `quarkus-bom` instead of the `quarkus-universe-bom`. We haven't released the latter for the CR.

[2019-12-16 11:15] jmartisk opened #6193 "Expose metrics from Hibernate ORM extension"
Expose the various `org.hibernate.stat.Statistics` statistics using the SmallRye Metrics extension

[2019-12-16 11:24] nimo23 commented on #5969
Sorry for the late response. I have spend hours to look for the reason why it fails in my project.

I have made an _example project_ which confirms that there is indeed **no error** apparent. It also works nice for native mode:

[quark.zip](https://github.com/quarkusio/quarkus/files/3967681/quark.zip)

I cannot see any issues when marshalling json-b and jackson within the attached example project.

[2019-12-16 11:28] nimo23 commented on #6173
There is no such limitation. So I close this issue.

[2019-12-16 11:28] #6173 closed

[2019-12-16 11:35] gsmet commented on #6176
@mswiderski I pinged you on Zulip, let's have the discussion there.

[2019-12-16 11:45] gsmet commented on #6151
@geoand maybe we could add some information to the documentation along the lines of what Harald did?

And send an email on the list to see if anyone has something against banning the JAX-RS client usage in native mode?

[2019-12-16 11:48] geoand commented on #6151
@gsmet Sounds good. @haraldatbmw would you be interested in creating a Pull Request updating the documentation?

[2019-12-16 12:02] geoand commented on #6151
Email sent: https://groups.google.com/forum/#!topic/quarkus-dev/YXThVE9HYZc

[2019-12-16 12:29] bender316 commented on #5762
Yes, you can integrate but on application level so you currently have to write boiler plate code.

It created something like this:

[code]

And in your client code just do a

[code]

publishing works like in the Artemis JMS guide of quarkus.

Of course a XAConnectionFactory with proper transaction mapping should be sometime provided by Quarkus itself but for the moment you can make do with this so

[2019-12-16 12:44] gsmet commented on #5883
So... I agree there's something fishy here.

What I did to reproduce the issue.

Launch a MySQL database with:

Update the `application.properties` to look like:
[code]

Then (once ./gradlew has been made executable):
[code]

Then run `java -jar build/code-with-quarkus-1.0.0-SNAPSHOT-runner.jar` several times.

From what I can see, the map here https://github.com/hibernate/hibernate-orm/blob/maste

[2019-12-16 12:44] gsmet commented on #5883
/cc @Sanne

[2019-12-16 12:54] jmartisk opened #6196 "Metrics support for 50% of the relevant extensions"
### Description
Provide metrics from various extensions

### Analysis
See the documentation in the initial PR (https://github.com/quarkusio/quarkus/pull/5272)

### Tasks
- [x] Initial work with common infrastructure for metrics from extensions (PR https://github.com/quarkusio/quarkus/pull/5272/)
- [x] Agroal (included in initial PR https://github.com/quarkusio/quarkus/pull/5272/)
- [ ] Vert.x (htt

[2019-12-16 12:56] jmartisk commented on #5701
I filed https://github.com/quarkusio/quarkus/issues/6196 as a tracker for metrics work and will keep the description up to date

[2019-12-16 13:02] anistor commented on #5554
Forgot to mention, this is tracked upstream by https://issues.redhat.com/browse/IPROTO-122

[2019-12-16 13:27] rmh78 commented on #6151
@geoand Let's see and wait for an outcome of the google group discussion.

[2019-12-16 13:30] #5885 closed

[2019-12-16 13:31] FroMage commented on #5885
Fixed.

[2019-12-16 13:35] maxandersen commented on #6189
that is basically what this would be - just that its forkable :)

I don't think you need to update it at every release unless we radically changes the structure of a default project.

[2019-12-16 13:42] paulrobinson commented on #5701
Thanks @jmartisk. I've updated the names of the issues to reflect the breaking up and to keep them consistent.

[2019-12-16 13:44] michael-simons commented on #6115
This is an issue on Graals optimizer. I'm gonna create an issue over there.

[2019-12-16 13:52] ia3andy opened #6197 "Reactive messaging display false "warning" logs"
**Describe the bug**
When using reactive messaging with Kafka, it shows some "warning" logs about wrong config properties when it should not.
[code]

[2019-12-16 13:56] anamarija commented on #6197
Hi,

If nobody is working on this I can fix it.

[2019-12-16 13:56] gsmet commented on #6115
Please ask for it to be backported to 19.3.1.

Could you post the issue here when you have created it?

Thanks!

On Mon, Dec 16, 2019 at 2:44 PM Michael Simons <notifications@github.com>
wrote:

[2019-12-16 13:57] ia3andy commented on #6197
I guess you can.. just confirm with @cescoffier

[2019-12-16 14:04] gsmet commented on #6197
IIRC, the issue is that all the config is blindly passed to Kafka, even the one specific to Reactive Messaging.

Wait for @cescoffier to weigh in but I'm pretty sure it's something that needs fixing in the Reactive Messaging implementation.

[2019-12-16 14:06] gsmet commented on #6197
BTW, this is the original message which contains important information: https://groups.google.com/d/msg/quarkus-dev/sJ9RcAJSmPE/bAyJxd-vBQAJ .

[2019-12-16 14:09] anamarija commented on #6197
Yes it is surely a fix in the smallrye messaging module.

[2019-12-16 14:11] michael-simons commented on #6115
Done. Let's see if it a) was the right place to file the issue and b) someone looks at it.

[2019-12-16 14:13] ia3andy commented on #6197
I'll create an issue there and reference this one.

[2019-12-16 14:15] FroMage commented on #6155
Yeah, I was just showing use-cases.

[2019-12-16 14:19] gsmet commented on #6176
@mswiderski I'm trying to ping you on Zulip. We need a fix quickly so I would appreciate if we could have a discussion. It's probably an easy fix but I need some information from you.

[2019-12-16 14:29] Sergey80 opened #6198 "Gradle build switching to 1.1.0.CR1 fails on getting artifacts"
**Describe the bug**
Gradle build switching to 1.1.0.CR1 from 1.0.1 Final fails on getting artifacts

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
A problem occurred configuring root project 'nlcd-planning-service'.

     Searched in the following locations:
       - file:/home/sergii/.m2/repository/io/quarkus/quarkus-gradle-plugin/1.1.0.CR1/qu

[2019-12-16 14:58] dmlloyd commented on #6170
It is possible - but maybe instead, for this case at least, it would be better to define the common data source config properties in a common SPI module?  Could you then use both libraries in one project?  It could be annoying if you wanted to mix for whatever reason and you could not just because of an obscure config constraint.

[2019-12-16 14:58] previousdeveloper opened #6199 "QUARKUS - BUILDING A NATIVE EXECUTABLE Couchbase error"
**Describe the bug**
Couchbase client not connect to bucket when build with a native executable

Warning: RecomputeFieldValue.ArrayBaseOffset automatic substitution failed. The automatic substitution registration was attempted because a call to sun.misc.Unsafe.arrayBaseOffset(Class) was detected in the static initializer of com.couchbase.client.deps.com.lmax.disruptor.RingBufferFields. Detailed fa

[2019-12-16 14:59] dmlloyd commented on #6170
To clarify more: I think a common module is a good idea regardless.  If both extensions cannot coexist for reasons *other* than config, then let's have a better error message that isn't config related like "Extensions X and Y cannot coexist" (maybe include dependency chain info too if possible).

[2019-12-16 15:01] geoand commented on #6170
I think that that is essentially what @gsmet is proposing on the mailing list.

[2019-12-16 15:21] dmlloyd commented on #2751
You can already do that!

[2019-12-16 15:27] TheGeekPharaoh opened #6200 "Keycloak/OIDC NullPointerException"
**Describe the bug**

After configuring a simple Quarkus project with JAX-RS services I see the following exception when trying to access the service:

[code]

**Expected behavior**

For service endpoints without authorization checks (@RolesAllowed, etc.) I would expect the call to go through with no issue.  For calls with authorization checks I would expect the check to be performed and access gr

[2019-12-16 15:54] #6107 closed

[2019-12-16 16:02] lordofthejars opened #6202 "Swagger UI doesn't provide correct example"
**Describe the bug**

When you implement a POST operation that contains a field of type LocalDate or LocalTime and you open with Swagger UI the example shows the field like:

[code]

**Expected behavior**

It should be:

[code]
As this is defined in the spec (https://www.javaindeed.com/getting-started-with-json-b/) for an example.

**Actual behavior**

It is treat as a POJO.

**Additional context*

[2019-12-16 16:05] gsmet commented on #6202
@lordofthejars can you check if it's an issue with SmallRye OpenAPI or a Swagger UI one?

/cc @EricWittmann

[2019-12-16 16:21] gsmet commented on #5883
Andrea confirmed it's an Hibernate ORM issue due to the usage of `hibernate.temp.use_jdbc_metadata_defaults=false` in Quarkus.

He's going to work on it.

[2019-12-16 16:41] sberyozkin commented on #6200
@sdnakhla So you have `quarkus-keycloak-authorization` dependency but don't intend to use it ? Can you please try `Quarkus 1.1.0.CR1` ? CC @pedroigor

[2019-12-16 16:47] Sergey80 commented on #6170
one more thing:
without quarkus-agroal<

the  /health/ready - will not work for the DB. as it used to work.

probably separate bug?

[2019-12-16 16:50] Sergey80 opened #6203 "/health/ready does not work in 1.1.0CR1 since the quarkus-agroal has conflicts with quarkus-reactive-pg-client"
**Describe the bug**
http://localhost:8080/my-service/health/ready
used too work with checking the database:

With this dep,
[code]

but now it should be commented out,
 because it fails if, say this dependency is ON

[code]

If both of those deps are on it would complain about dupicated

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe t

[2019-12-16 16:56] kenmarito opened #6205 "Quarkus spring data jpa does not support interface/class mapping for custom JPQL @Query in CrudRepository"
JPQL Query does not return list of mapped interface objects as in standard Spring data but returns only list of object arrays.

[2019-12-16 17:04] dreab8 commented on #5883
a temporary solution is use `quarkus.hibernate-orm.database.default-catalog` to specify the database name (catalog)

[2019-12-16 17:10] asoldano commented on #5752
@geoand , @gsmet , the current plan is to release another micro from resteasy master, so 4.4.2.Final, by the end of this week.

[2019-12-16 17:34] SetoKaiba commented on #5883
The temp solution is working. Thank you so much. It keeps me on Quarkus for my project now.

[2019-12-16 17:40] gsmet commented on #5752
Ok, that one will be for 1.2 then.

[2019-12-16 17:41] geoand commented on #5752
Or if we need a 1.1.1 for some other reason, we can get this fix in as well

[2019-12-16 17:45] gsmet commented on #5883
@SetoKaiba thanks for insisting and sorry about the delay!

[2019-12-16 17:48] aguibert commented on #6092
Tested this with 1.0.1.Final and reproduced the issue, then I re-tested it on the latest master and confirmed the issue is now resolved.

@gsmet please close out this issue

[2019-12-16 18:02] muirandy commented on #5471
Sorry for the delay folks, I've been flat out on other things that the Zipkin workaround gave me.

@gunnarmorling I pretty much brain dumped what I have on this. I need to learn more about Quarkus and how its working to be able to comment more. If there's something I can do to help try something out then let me know.

@pavolloffay I don't *think* so - I think [this guide](https://quarkus.io/guides

[2019-12-16 18:20] sdnakhla commented on #6200
@sberyozkin that's the thing.  I have not listed quarkus-keycloak-authorization as a dependency.  Not sure why I'm seeing exceptions related to KeycloakPolicyEnforcerAuthorizer.  Is it a chained dependency when using OIDC or Undertow?  I'll give v1.1.0.CR1 a shot and see if that corrects things.

[2019-12-16 18:24] sdnakhla commented on #6200
@sberyozkin what do I need to do to include v1.1.0.CR1 in my pom.xml?  I'm guessing there's a separate repo for snapshots but I don't see that documented anywhere?

[2019-12-16 18:33] Sergey80 opened #6208 "To spy on restClient in integration test"
**Description**

I see that there is some limitation when it comes to mocking/spying in Quarkus.

To do something similar to this with Quarkus way?

Ultimately: To spy on restClient and see how many times it was invoked.

[code]

**Implementation ideas**
maybe some feedback, or register and listen for the events if we o not want to go with proxies.

[2019-12-16 18:42] gsmet commented on #6200
You just need to use the quarkus-bom instead of the quarkus-universe-bom.

[2019-12-16 18:47] murphye commented on #6091
I believe this was the problem... not having latest snapshot. I will report back if the next release has the issue. Thanks.

[2019-12-16 18:53] gastaldi opened #6209 "IllegalArgumentException: workerPoolSize must be > 0 if quarkus:dev fails to start"
While developing an extension, if any error is thrown during initialization, the following misleading exception appears in the logs when running quarkus:dev:

[code]

[2019-12-16 19:00] TheGeekPharaoh commented on #6200
Just tested with 1.1.0.CR1.  Same issue...

[code]

[2019-12-16 19:30] TheGeekPharaoh commented on #6200
Looks like this was the result of a build including more dependencies than it should.  Clearing out my Maven cache and doing a clean/rebuild a couple times seems to have resolved it.  It was including keycloak-authorization when it shouldn't have been.  After the cleanup it was no longer being included and is working properly.

[2019-12-16 19:30] #6200 closed

[2019-12-16 19:42] sdaschner opened #6210 "Improve extension descriptions"
The description of the extensions might not be obvious, even for experienced EE folks.

**Examples**
- `quarkus-jsonb: JSON Binding support`
- `quarkus-resteasy-jsonb: JSON-B serialization support for RESTEasy`

Folks from an EE background might e.g. assume that if JAX-RS and `quarkus-jsonb` are added a combination of these will already work (JAX-RS+JSON-B). But the correct one to choose here is `

[2019-12-16 19:46] Sergey80 opened #6211 "don't generate libs/*.jar if quarkus.package.uber-jar=true"
**Describe the bug**

Tested with Gradle `./gradlew clean quarkusBuild`

We probably should not
generate `/applicationName/build/libs/applicationName.jar `if` quarkus.package.uber-jar=true`

with quarkus.package.uber-jar=true - it would create /applicationName/build/applicationName-runner.jar

There is no use of` /applicationName/build/libs/applicationName.jar, `since there is no /applicationName/

[2019-12-16 20:05] aguibert commented on #5969
@nimo23 in your actual project, can you post the dependencies by posting the results of `mvn dependency:tree`

[2019-12-16 20:58] geoand opened #6214 "Spring Data JPA custom query with countQuery breaks in dev mode"
**Describe the bug**
There is a classloader issue when using the spring-data-jpa integration test in dev mode.

**Expected behavior**
Dev-mode should behave the same as regular mode.

**Actual behavior**
java.lang.LinkageError: io/quarkus/hibernate/orm/panache/PanacheQuery
	at io.quarkus.it.spring.data.jpa.MovieRepository_4263b43a08c2ca0cc9a7dd59c4e59bb4f9386bbdImpl.customFind(MovieRepository_4263

[2019-12-16 22:15] hartimcwildfly commented on #6133
Note:
In the WildFly world it's common to provide a custom handler which extends java.util.logging.Handler and which follows the JavaBean convention. (public noarg constructor, public setter methods). Then we can set the properties via quarkus config injected as Map<String, String>. For using the custom handler in native mode, it has to be annotated with @RegisterForReflection. I think this is a q

[2019-12-16 22:17] sberyozkin commented on #6200
@TheGeekPharaoh thanks, I've also confirmed as well as that just adding this dependency to `integration-tests/oidc' test does not cause any issues

[2019-12-16 22:37] nimo23 commented on #5969
@aguibert @rmannibucau @gsmet I was able to reproduce the error also within the new `example project`. Please `./mvnw compile quarkus:dev ` (in jvm-mode) with

[quark.zip](https://github.com/quarkusio/quarkus/files/3970471/quark.zip)

I think `quarkus-rest-client` makes trouble because of its provided `resteasy-client`..

[2019-12-16 23:03] #6214 closed

[2019-12-16 23:10] #6155 closed

[2019-12-16 23:20] aguibert commented on #5969
thanks for uploading a sample @nimo23. I tried it out and the issue was that in the method where you build a client for the application to call itself, you need to register the provider manually, since you are building the `WebTarget` from scratch.

## Fixed code:
[code]

[2019-12-16 23:33] nimo23 commented on #5969
Thanks @aguibert one little problem: The 3rd party dependency uses WebTarget without `.register(JsonRoutingProvider.class)` because it defaults to jackson. How should I place the `.register(JsonRoutingProvider.class)` within the 3rd party library? I have no influence within this code.

[2019-12-16 23:43] nimo23 commented on #5969
Thanks @aguibert one little problem: The 3rd party dependency uses `WebTarget` without `.register(JsonRoutingProvider.class)` because it defaults to jackson. All the jackson stuff is only done within the 3rd party lib and not in my app code. How should I place the `.register(JsonRoutingProvider.class)` within the 3rd party library? I have no influence to the 3rd party code.

[2019-12-17 00:00] pedroigor commented on #4448
@sberyozkin I started something at this regard and from a user perspective, you would implement the following interface in order to resolve tenants:

[code]

While it works for resolving tenants based on the static configuration in `application.properties` we should also provide some form of resolver that users can implement to provide the configuration as a object.

What do you think?

[2019-12-17 01:32] aguibert commented on #5969
It sounds like a bug in the 3rd party library then. If they are providing integration with classes that _only_ work with Jackson (i.e. annotated with Jackson stuff) then the third party lib should be explicitly registering a Jackson-compatible provider in the `WebTarget` they use, rather than assuming that the JAX-RS container being used happens to have Jackson installed as some sort of default pr

[2019-12-17 05:39] rmannibucau commented on #5969
@nimo23 implement your own ClientBuilder (it is a SPI), exclude default one (only the registration file from meta-inf) and register the default providers you want there delegating the logic to your default impl. Will be a workaround for such hybrid cases.

[2019-12-17 05:51] jmartisk opened #6220 "REST metrics"
Provide metrics related to usage of REST endpoints. If possible, this should be based on the "optional REST metrics" recommendations that are planned to be included in MP Metrics 2.3 specification, and possibly extend beyond these recommendations.

[2019-12-17 07:27] tpenakov commented on #5809
Thank you @gsmet - now I am able to work with `1.1.0.CR1`

@sberyozkin - If I disable the policy enforcer:
`quarkus.keycloak.policy-enforcer.enable=false`
It works fine - there is no more NPE
However if I enable it the error is still there:
`quarkus.keycloak.policy-enforcer.enable=true`
and the error is:
[code]

[2019-12-17 07:45] mkouba opened #6221 "ArC - activate request context for any observer notification (if not already active)"
Right now, we do activate the request context for async observers notification. It could be useful to activate the request context for any observer notification (if not already active).

[2019-12-17 07:52] gsmet opened #6222 "GraalVM issues to track for 1.2 / 19.3"
- [X] https://github.com/oracle/graal/issues/1966 - NPE in BootLoader.hasClassPath() - worked around with substitutions - fixed in 19.3.0.2, workaround reverted here: https://github.com/quarkusio/quarkus/pull/6364
- [ ] https://github.com/oracle/graal/issues/1889 - unusable API Version - we decided to not use this for now
- [X] https://github.com/oracle/graal/issues/1927 - DynamicProxySupport is n

[2019-12-17 07:52] gsmet commented on #6222
/cc @gwenneg

[2019-12-17 08:06] jeffmaury opened #6223 "URL codeSource location for path myprojectdir\target\classes could not be created"
when running mvn compile quarkus:dev, I was this strange error message:

2019-12-16 18:10:47,558 ERROR [io.qua.run.RuntimeClassLoader] (main) URL codeSource location for path C:\work\workspaces\runtime-JBossTools(JDK8)\code-with-quarkus\target\classes could not be created.

Should I be worried.

I using a code generated application based on 1.0.1.Final

[2019-12-17 08:58] nimo23 commented on #5969
@aguibert thanks for the solution. that makes sense. The 3rd-lib has already
[code]

So it must also register jerseys `JacksonJsonProvider.class`

`Client client = ClientBuilder.newClient().register(JacksonJsonProvider.class);`

Such simple things need sometimes so much time,)

Thanks for your help.

[2019-12-17 10:48] rkudryashov opened #6226 "Gradle tasks are failed on Windows"
**Describe the bug**
It isn't possible to build and launch application with latest Quarkus versions (1.1.0.CR1, 999-SNAPSHOT). Based on error messages I think the issue only appears on Windows.

**Expected behavior**
`quarkusBuild` and `quarkusDev` tasks are executed without errors.

**Actual behavior**
`quarkusBuild`:
[code]

`quarkusDev`:
[code]

**To Reproduce**
1. Clone https://github.com/rkud

[2019-12-17 11:48] dufoli commented on #6172
yes still occure with graalvm 19.3.0. I have check service and port and it is not the reason.
I find another issue #4841 hich is maybe the same.

[2019-12-17 11:52] paschi opened #6227 "Overriding application.properties via file in build/config folder doesn't work with Gradle"
**Describe the bug**
According to the [documentation](https://quarkus.io/guides/config#overriding-properties-at-runtime) it should be possible to override the default _application.properties_ file by placing a file with the same name in the _build/config_ folder (when using Gradle). This doesn't work currently.

**Expected behavior**
It should be possible to override the properties by using the me

[2019-12-17 11:59] geoand commented on #6192
TBH I don't have a proper solution in my head, so I would suggest you go ahead and experiment and see what actually works best.

[2019-12-17 12:02] maxandersen commented on #1157
If someone want to pick this up then :

1) find all places we pass manually compiler options in our pom's like  [<option>all-open:annotation=javax.ws.rs.Path</option>](https://github.com/quarkusio/quarkus/blob/0e58d4b1fb532a9002f8379dca8e573e86addf41/devtools/platform-descriptor-json/src/main/resources/templates/basic-rest/kotlin/pom.xml-template.ftl#L116
)  and remove them.

2) see tests fail - e

[2019-12-17 12:15] #6221 closed

[2019-12-17 12:15] gsmet commented on #6192
I think this asks a broader question: should we support the whole Spring configuration? Because once we have added one, it's weird to not support the others.

I must admit that I'm not sold to it.

[2019-12-17 12:19] geoand commented on #6192
I am also against adding support because it then open doors other types of Java config for Spring. Would however explore if we can detect some specific configuration options that the user might have added and perhaps propose the proper Quarkus alternatives?

[2019-12-17 12:34] jaikiran commented on #6223
Hello @jeffmaury, this has been fixed in 1.1.0.CR1, which by the way has been released and available for testing.

[2019-12-17 12:42] gsmet commented on #6192
That would be handy and probably relatively easy to implement.

[2019-12-17 13:41] previousdeveloper opened #6228 "Couchbase Java Client Extension"
Offer Couchbase client support via an extension

[2019-12-17 13:48] nheidloff opened #6230 "Issues with @Outgoing"
**Describe the bug**
I've developed a similar scenario as documented in the [Kafka quickstart guide](https://quarkus.io/guides/kafka#the-price-converter). When I use the annotations "Incoming" (Kafka message), "Outgoing" (in memory channel) and "Broadcast" together on one method, the method is not invoked and no error is displayed.

**Expected behavior**
I expected the same behaviour as in the the

[2019-12-17 13:48] dreab8 commented on #5883
I have opened https://hibernate.atlassian.net/browse/HHH-13788

[2019-12-17 14:06] geoand commented on #6230
cc @cescoffier

[2019-12-17 14:08] geoand commented on #6227
Thanks for reporting!

Have you tried this with `1.1.0.CR1`?

[2019-12-17 14:09] dmlloyd commented on #6133
The way I would solve this would be to add a "custom" handler config type with a nested map, as you say, but instead of using reflection, I would generate a configurator class that sets up the custom handler by directly invoking the setters on the handler object, using the configuration converters to convert as needed.  This avoids reflection problems but still allows the properties to be set at r

[2019-12-17 14:14] dmlloyd commented on #4629
I noticed that log4j and log4j2 are missing from the list, but they should be supported as well.

[2019-12-17 14:17] gunnarmorling commented on #6230
@nheidloff, where's the configuration for your outgoing channel?

[2019-12-17 14:28] paschi commented on #6227
I just tried with `1.1.0.Final` and it's not working there either.

[2019-12-17 14:30] geoand commented on #6227
OK, let me take a quick look

[2019-12-17 14:40] aguibert commented on #6189
FYI I already have some repos for this exact purpose, feel free to re-use:
https://github.com/aguibert/basic-quarkus-mvn
https://github.com/aguibert/basic-quarkus

I kept separate repos for Gradle vs. Maven so that I can leave them imported in my IDE. If we switch branches and change to maven <--> gradle then we'd have to delete and re-import the project in our IDE

[2019-12-17 14:41] geoand commented on #6227
Basically the `config/application.properties` override is really meant for the dev-mode to be honest.
That doesn't mean it won't work - it will, you just need to figure out the proper place to put it.
For Gradle and dev-mode that place is `build/classes/java/main`.
For Maven and dev-mode that would be simply `target`.

So I am going to close this as it works as expected. Would you perhaps like to

[2019-12-17 14:41] #6227 closed

[2019-12-17 14:44] hartimcwildfly commented on #6133
Sounds not that bad. Maybe I'm going to do this.

[2019-12-17 14:50] nheidloff commented on #6230
The configuration for the outgoing Kafka channel is in the source code of a second service only since I use the Kafka client. See [code](https://github.com/IBM/cloud-native-starter/blob/master/reactive/articles-reactive/src/main/java/com/ibm/articles/apis/CreateNewArticle.java#L87).

For the in-memory outgoing channel I don't have any configuration other than the name of the channel in the Incomin

[2019-12-17 14:52] nheidloff commented on #6230
Is this issue related to https://groups.google.com/forum/#!topic/quarkus-dev/5xRN8Xna484?

The 'Stream not yet connected' error I saw as well which is why I had to add the empty method with the Incoming annotation in the same class.

[2019-12-17 14:54] jeffmaury opened #6232 "Failed to build Kogito based app with Gradle"
**Describe the bug**
When running `./gradlew quarkusBuild` for a Kogito based app

**Expected behavior**
Should run without an error

**Actual behavior**
Here is the error that I got when running

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create this application with https://code.quarkus.io/api/download?g=org.acme&a=kogito&v=1.0.0-SNAPSHOT&b=GRADLE&c=org.acme.ExampleResource&e=i

[2019-12-17 15:24] cescoffier commented on #6230
Your method is not invoked because I suppose no one subscribed to `my-data-stream`. Do you have an:

1. `@Incoming("my-data-stream")`
2. @Inject @Channel("my-data-stream")

In the second case, you will need to subscribe manually.

[2019-12-17 15:29] willr3 commented on #6092
Changing to `<quarkus.version>1.1.0.CR1</quarkus.version>` prevents the VerifyError and now I get `Property quarkus.index-dependency.yaup.classifier not found`. Does `1.1.0.CR1` require the classifier? The documentation still claims it is optional: https://quarkus.io/guides/cdi-reference

[2019-12-17 15:32] nheidloff commented on #6230
Yes, I have (2) - see [here](https://github.com/IBM/cloud-native-starter/blob/master/reactive/web-api-reactive/src/main/java/com/ibm/webapi/apis/NewArticlesStream.java#L16).

Since this didn't work, I also added (1) as workaround - see [here](https://github.com/IBM/cloud-native-starter/blob/master/reactive/web-api-reactive/src/main/java/com/ibm/webapi/apis/NewArticleListener.java#L31).

[2019-12-17 15:43] cescoffier commented on #6230
The subscription will happen when someone connects to the sse endpoint.

[2019-12-17 15:44] cescoffier commented on #6230
[will try to reproduce it]

[2019-12-17 15:49] nheidloff commented on #6230
Thanks @cescoffier. Just tried it. The 'Stream not yet connected' error disappears as soon as someone connects to the stream. How about a warning rather than error in the log?

This doesn't solve the real issue yet. My method with 3 annotations is not invoked for some reason. Would be great if you could take a look.

Thanks!

[2019-12-17 16:23] cescoffier commented on #6230
So, I looked at the code. I want to be sure I understand correctly.

You are receiving messages from Kafka (or whatever it's not important here).
These messages are processed and the result it broadcasted to 2 places:

1. a method with `@Incoming`
2. a `@Channel`

am I right?

If so, I was able to get an "excerpt" of your app working:

`application.properties`:

[code]

ExampleResource.java:
[code

[2019-12-17 16:45] nheidloff commented on #6230
Thanks @cescoffier. This works, even without "article-created":

[code]

It would be even better if the "processWorkaround" wouldn't be necessary. Without this method, it doesn't work.

[2019-12-17 17:21] murphye opened #6234 "Implement simplified <form> to Object handling using JSON for POST requests"
**Description**
Developers are moving to a REST-centric world, along with SPA (i.e. Angular). It is very common to use JavaScript to generate JSON from a `<form>` and submit it via AJAX. However, this is very complicated and error prone.

With the addition of Qute, Quarkus would benefit from simplified `<form>` submission mechanism that is reliant on JSON rather than `@Form` in JAX-RS or `@ModelAt

[2019-12-17 17:35] Sergey80 commented on #6211
https://stackoverflow.com/questions/59379343/quarkus-uploadarchives-with-maven-plugin-re-build-my-libs-uber-jar-to-small-one

[2019-12-17 18:13] cescoffier commented on #6230
Oh I finally understand your issue, I was thinking you were broadcasting to the channel and the processWorkaround method, but that was the work around :-)

[2019-12-17 18:15] nimo23 commented on #6234
Sounds good. Plz consider security constraints for your form (for example, jsf has built in support for CSRF, etc.).

[2019-12-17 18:16] nimo23 commented on #6234
Sounds good. Plz consider security constraints for Qute-Form (for example, JavaServerFaces has built in support for CSRF, etc.).

[2019-12-17 18:18] #5345 closed

[2019-12-17 18:27] gsmet commented on #5345
@iocanel was something merged to fix that one? Or should I mark it as invalid?

[2019-12-17 18:30] paschi commented on #6227
When using the path `build/classes/java/main` it works. Thanks for the help!

I created a pull request (#6235) for the documentation issue.

[2019-12-17 18:30] iocanel commented on #5345
@gsmet #5367 was merged!

[2019-12-17 18:33] gsmet commented on #5345
Ok, I adjusted the fix version then. Thanks!

[2019-12-17 18:36] gwenneg opened #6236 "quarkus-integration-test-infinispan-embedded tests execution fails in native mode with JDK 11"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior from the `master` branch:
1. (Optional) Set the `JAVA_HOME` environment variable to a JDK 11 installation directory (OpenJDK 11 or GraalVM 19.3.0 JDK 11 edition). Add the JDK 11 `bin` directory to the path.
2. (Optional) Run `./mvnw clean install -Dmaven.test.skip=true` to build all the Quarkus sources with the JDK 11.
3

[2019-12-17 18:37] gwenneg commented on #6236
I have a fix (test in progress), I'll submit a PR shortly.

[2019-12-17 18:40] DiegoNovati opened #6237 "IllegalStateException: This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?"
**Describe the bug**
A very simple class raise the error "IllegalStateException: This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?" when working with Panache

**Expected behavior**
The service started with "mvn package quarkus:dev" should start and the test succeeded

**Actual behavior**
The tests fails with the error "IllegalState

[2019-12-17 18:41] cescoffier commented on #6230
I don't have any issue with having only:

[code]

That what is not working for you right?

[2019-12-17 18:48] jonathanvila opened #6238 "Enable CDI beans based on profiles"
**Description**
Based on a profile especified (env var) an Annotated bean will be added to the context or filtered out.

[2019-12-17 18:54] geoand commented on #6238
cc @mkouba

[2019-12-17 18:55] geoand commented on #6238
So the idea is to conditionally create a bean based on whether or not a profile is active, correct?

Of course this can't work with profiles defined at runtime, but seems very useful for build time profiles

[2019-12-17 19:04] jonathanvila commented on #6238
Exactly that is the idea.
Basically we can activate few beans on "test" profile, others on "prod" profile..... specially databases related beans, file persistance beans.....

[2019-12-17 19:35] x80486 opened #6240 "Push Flyway integration to the next level"
**Description**

Since Quarkus has already support for Flyway, it would be great to support some other "operations" (or commands) to make our life easier while dealing with it:

- `quarkus.flyway.validate-on-migrate` — Option to automatically call `validate` when performing the migration
- `quarkus.flyway.out-of-order` — Allow migrations to be run out of order or not
- `quarkus.flyway.clean-disabl

[2019-12-18 05:19] nheidloff commented on #6230
Aaaah. You are right. It does work, but only when the SSE stream endpoint is connected. So this tricked me two times in my scenario :). First time since I saw the error in the logs which should only be a warning (see above) and second time since I didn't see any error and my method was not invoked when the incoming message arrived.

I was confused since the method ('process' in my code, 'processWo

[2019-12-18 05:29] #6223 closed

[2019-12-18 05:34] jazart commented on #6198
I'm also seeing this issue when updating to 1.1.0.Final.
Running Gradle 6
Previous Quarkus version: 1.0.1.Final
Platform: Windows 10

[2019-12-18 09:11] mkouba commented on #6238
Hm, that's something I'm concerned about. The first question will be "I do set my profile to `staging` when running my app and the beans are still there, why?".

[2019-12-18 09:15] geoand commented on #6238
Yes...

Just an idea: Perhaps we could expand the concept of profile to encompass the build-time vs run-time difference? Or would that make things more confusing... I don't know :)

[2019-12-18 10:36] #5638 closed

[2019-12-18 10:58] moeHaydar opened #6250 "Multiple log files"
**Description**
Is there a way to configure quarkus to us a config file (i.e: log-config.xml) to have multiple logging files for different loggers ?

[2019-12-18 11:15] FroMage commented on #5593
Damnit. I thought I was close to being done.

I made it so we handle blocking and async writers differently based on the http backend.

- netty and vertx run async writers on the io thread, and blocking writers on a worker thread
- servlet runs everything on the current thread (provisions to be made for undertow having an io thread)

Here I'm talking about the resteasy-distribution backends, not t

[2019-12-18 11:17] FroMage commented on #5593
BTW, I'm still waiting for an explanation why we don't have the same issue on input readers.

And now I'm wondering if we don't also have the issue on the resteasy-client side when it's running using vertx as its engine.

[2019-12-18 11:31] sberyozkin commented on #5809
@tpenakov OK, thanks, so we can now be certain it is isolated to the use of `quarkus-keycloak-authorization` alongside the reactive routes.

[2019-12-18 11:42] sberyozkin commented on #4481
@stianst sorry I missed your question and I don't recall now what I meant or even where I said it :-).
FYI, I've added an `oidc-interoperability` label to this issue as well, @pedroigor recommended adding such labels to the issues where the code flow does not work with non-KC IDPs, and I guess the logout based on the specs will be in the interop space as well :-).

[2019-12-18 11:44] sberyozkin commented on #4481
@stianst or sorry, that was from a quote by Pedro @pedroigor :-)

[2019-12-18 12:03] sberyozkin commented on #5277
@pmlopes thanks for also backporting a fix to 3.8.5-SNAPSHOT :-) I've asked at the users list to confirm it helps (I'm sure it helps :-) )

[2019-12-18 12:07] sberyozkin commented on #5829
@piotrgwiazda FYI, the fix at the Vertx Auth level has also been backported to 3.8.5-SNAPSHOT branch by @pmlopes. If you can confirm it fixes it independently then it would be good,
Updated `bom/runtime/pom.xml` and do `mvn clean install -DskipTests`, thanks

[2019-12-18 12:59] lucini opened #6251 "RBAC Security doesn't work with super classes"
**Describe the bug**
All my resources which extends from a super class annotated with @RolesAllowed, doesnt work the security.

**To Reproduce**
1. Create a abstract class with @RolesAllowed annotation.
2. Create a resource class which extends from it.

**Environment:**
 - Output of `java -version`:  java 8
 - Quarkus version or git rev:  1.0.1.Final
 - Using jdbc security

[2019-12-18 13:01] gastaldi commented on #6240
There is `quarkus.flyway.clean-at-start` already, which I suppose it does what your `quarkus.flyway.clean-disabled` intends?

[2019-12-18 13:07] gsmet commented on #6240
Would you be willing to contribute some of that? It doesn’t look too hard.

[2019-12-18 13:10] felixgilioli commented on #6251
I have this problem too.

[2019-12-18 13:12] gastaldi commented on #6240
It would be great if you could contribute @x80486, Here is a small diff of how `quarkus.flyway.validate-on-migrate` would be implemented:

[code]

[2019-12-18 13:17] sberyozkin commented on #6251
@michalszynkiewicz Hi Michal, can it be something with the build step preparation where RolesAllowed are checked ?

[2019-12-18 13:27] cescoffier commented on #6230
We should mention it somewhere, probably in the guide.

Streams are lazy, actually double-lazy :-)

1. Nothing happens until someone subscribe to it (here the SSE client)
2. Even (1) is generally not enough. The subscriber needs to request items (here this is done automatically by RestEasy)

[2019-12-18 13:29] patriot1burke commented on #5593
@FroMage I'm not following you.  Are you saying that our current blocking worker thread model does not work?

[2019-12-18 13:37] jonathanvila commented on #6238
I'm not sure to understand.

In runtime setting the -Dquarkus.profile=whatever has absolutely no effect
as it only works in the maven command.....so, my idea is when we build the
app we specify the profile used (-Dquarkus.profile ) but obviously this
wont have any effect on the result.
This is taking into account we can not do anything on runtime.

On Wed, Dec 18, 2019 at 10:15 AM Georgios Andrian

[2019-12-18 13:40] patriot1burke commented on #5593
Also, I don't know what you're doing all this async writer work.  Unless you have one for Jackson I don't see the point.  IIRC, vert buffers Jackson marshalling, then writes it.  Am I wrong?  I'll get back to you on the input question.

[2019-12-18 13:44] michalszynkiewicz commented on #6251
@lucini @felixgilioli do you define the methods that you want to protect in the superclass or the subclasses?

The implementation follows JSR-250 guidelines for annotation inheritance and applies the class-level security constraints only on the methods that are defined in the class annotated with the given annotation.
If it's not working this way: it's a bug and we have to fix it, it would be grea

[2019-12-18 13:44] geoand commented on #6238
The issue is that `-Dquarkus.profile=whatever` does have an effect on user supplied properties (properties in `application.properties` prefixed with `%whatever` like `%whatever.greeting.message`) will be active.

So if we introduce the profiles support for beans users will get the false sense that if they use `-Dquarkus.profile=whatever` then beans for the `whatever` profile will be activated. So

[2019-12-18 13:46] DiegoNovati commented on #6237
I have found the problem: if in the test class there is a reference to the entity, the loading of the test will fail with the "IllegalStateException: This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @entity?" error message.

This closes the bug

[2019-12-18 13:46] #6237 closed

[2019-12-18 13:51] jonathanvila commented on #6238
Ohhh I see.

So passing the quarkus profile on Runtime makes the app to take the values
for those profile properties.

So then que quarkus profile is a Runtime feature not a build feature?

El mié., 18 dic. 2019 14:44, Georgios Andrianakis <notifications@github.com>
escribió:

[2019-12-18 13:51] patriot1burke commented on #5593
For input, I don't think its a problem because a) Resteasy+vertx and servlet start request processing on a worker thread and b) I don't see how input can get onto an io-thread:

https://github.com/resteasy/Resteasy/blob/5c2eff58ce072a7f17dda79ba4e76b69d6cd443f/resteasy-core/src/main/java/org/jboss/resteasy/core/MessageBodyParameterInjector.java#L133

The inject method only returns completed future

[2019-12-18 13:52] geoand commented on #6238
Exactly. So if we are to make something like this available for CDI beans, we need to be very careful how to make a good user experience

[2019-12-18 13:55] mkouba commented on #6238
IIUIC it's both - the build-time and the runtime feature.

[2019-12-18 13:56] geoand commented on #6238
My interpretation is that run-time implies build-time as well :)

[2019-12-18 13:57] patriot1burke commented on #5593
FYI, the solution I'm trying out always switches to a worker thread and this switch happens before any response processing.

Also, the cache implementaiton is not weird.  Its creating etags from a hash of the marshalled response.

[2019-12-18 13:58] x80486 commented on #6240
OK, I'll take it 😎

[2019-12-18 13:58] FroMage commented on #5593
OK so indeed as long as we're doing this we're good, but when we switch to running on the io thread later (which we want to do) it will stop working. ATM the vertx and netty backends (from the resteasy repo) are probably not fine, though, since they run on the io thread.

[2019-12-18 13:59] FroMage commented on #5593
Well usually we extract etags from the entity, not the serialised response.

[2019-12-18 14:00] FroMage commented on #5593
Jackson has an async API, which vert.x uses, AFAIK.

[2019-12-18 14:01] jonathanvila commented on #6238
which is the impact in build time of the quarkus.profile ?

On Wed, Dec 18, 2019 at 2:56 PM Georgios Andrianakis <
notifications@github.com> wrote:

[2019-12-18 14:02] FroMage commented on #5593
That model works. But it's not what the resteasy netty/vertx backends do: they both work on the io thread.

And the big picture is that we plan to run on the io thread in quarkus too as soon as we can determine that an endpoint is async. So I'm trying to make sure this solution goes in the right direction for that too.

[2019-12-18 14:02] Sergey80 commented on #6211
./gradlew clean quarkusBuild quarkusUberToLibs

seems as **quarkusBuild** still doing something when the quarkusUberToLibs is about to run, and it end-up picking up a small / not uber jar. I can see it from the print(404 kb instead of 42 Mb)

[code]

[2019-12-18 14:03] tpenakov commented on #5809
@sberyozkin - please have in mind that body can be read more than once. In my real project I am using a custom 'Claim Information Provider SPI' which also will read the body

[2019-12-18 14:04] patriot1burke commented on #5593
Who's "we" and why is "we" better than me?  Without a hash of the output you could potentially get differing results from a load-balanced call.

[2019-12-18 14:07] geoand commented on #6238
Besides affecting the configuration stuff, it also set implicitly when running tests and the dev mode

[2019-12-18 14:10] FroMage commented on #5593
We as in implementors of REST calls that do caching based on etags, because in general it's the DB objects which have an etag-like column, or modified timestamp, that we can query without even loading the rest of the columns. If we do load the rest of the columns and get an entity, again we can look at its columns to determine if the response should be serialised and avoid serialisation entirely.

[2019-12-18 14:10] lucini commented on #6251
It's not working... follow the example:
[code]

[2019-12-18 14:32] tpenakov commented on #5809
@sberyozkin - I am not sure is this #5959 issue is relevant to the case

[2019-12-18 14:46] patriot1burke commented on #5593
I don't really care about geting the netty backend to work.  IMO, we should remove most/all of these backends and till people to use Quarkus.  The whole point of these backends was to create a more "lightweight" resteasy.

The vertx one I was going to move the quarkus code back to resteasy.

It is not suboptimal, I just think you don't understand what's going on (btw, i didn't either until I read

[2019-12-18 14:47] patriot1burke commented on #5593
BTW, I cannot find any docs (yet) that describe how to use Jackson async API with vertx.  All the vertx web json examples do buffering.

[2019-12-18 14:50] michalszynkiewicz commented on #6251
Overridden method would not inherit the check. Could you try a method that is inheritted and not overridden?

[2019-12-18 14:58] lssoares commented on #1724
In my scenario I had also to add to the application.properties:
[code]

[2019-12-18 15:10] dmlloyd commented on #6250
All logging configuration is via `application.properties`; that said, #5861 is laying the groundwork for supporting this ability.

[2019-12-18 15:40] ahofmeister opened #6253 "Apply (path) params to request body before validation happens"
**Description**

The idea is to apply path params to the request body schema (an enity) for every request.
Right now, the code below would throw an exception if `id` is annotated with `@NotNull`.

[code]
[code]

With the new feature, it should/would be possible to annotate `id` with `@NotNull` and throw an exception if it is not valid.

Here is a reproducer to clarify the use case: https://github.

[2019-12-18 15:41] murphye commented on #6234
@nimo23 What you speak of is interesting (security, validation), but is out of scope for this issue. This issue is only for the Form -> Object handling.

**Side note:** I have verified that @Valid works, but isn't very useful for form handling. I have ended up using the Validator API programmatically in my demo (work in progress) as shown here: https://github.com/murphye/spring-petclinic/blob/spri

[2019-12-18 15:44] murphye commented on #6234
@nimo23 I am not sure about JSON-B. I will say that Jackson is very intelligent on how it serializes and deserializes that make the sample implementation very straightforward. I do not know if JSON-B will work the same way.

[2019-12-18 15:47] AlexanderHofmeister commented on #6202
@lordofthejars FYI https://github.com/smallrye/smallrye-open-api/issues/221#event-2822411719

[2019-12-18 15:47] murphye commented on #6234
@mkouba I would be interested to get your take on this proposal because it primarily targets users of Qute.

[2019-12-18 15:52] geoand commented on #6253
Hi @AlexanderHofmeister

I am sure we had a similar request but I can't seem to find it anywhere. @gsmet do you remember perhaps?

[2019-12-18 15:53] geoand commented on #6205
@kenmarito Thanks for reporting.

Can you please give an example?

[2019-12-18 15:53] AlexanderHofmeister commented on #6253
@geoand This request comes from my SO question right here: https://stackoverflow.com/questions/59322407/how-to-put-a-path-param-to-the-request-body-before-validation-happens?noredirect=1#comment104908601_59322407

[2019-12-18 15:55] geoand commented on #6253
Thanks @AlexanderHofmeister

I do think however that we've had a similar report that last few days, I'm still looking :laughing:

[2019-12-18 15:57] geoand commented on #6253
FWIW, I think this would be a useful feature

[2019-12-18 16:05] geoand commented on #6203
Being discussed [here](https://groups.google.com/d/msg/quarkus-dev/3r0lquVsUsc/DVxX7SvQAQAJ)

[2019-12-18 16:13] lucini commented on #6251
@michalszynkiewicz Inherrited method works fine...
Why overriden method not inherit the check?
Jaxrs annotations inherit it.

[2019-12-18 16:18] kenmarito commented on #6205
[code]
This simple method findAllFwbToCostMapping() during runtime returns List<Object[]> so after accesing arbitrary element in list, we get ClassCastException.

[2019-12-18 16:20] geoand commented on #6205
Gotcha, thanks!

[2019-12-18 16:21] geoand commented on #6205
@ebullient would you be interested in this one?

[2019-12-18 17:00] gastaldi opened #6255 "quarkus.application.version config property is unavailable"
**Describe the bug**
The following config property injection doesn't work:
[code]
**Expected behavior**

When running `http localhost:8080/hello`, to return `hello 1.0.0-SNAPSHOT`

**Actual behavior**
When running `http localhost:8080/hello`, it returns `hello not-set`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sample project and add the endpoint above

**Configuration**
[code]

[2019-12-18 17:00] gastaldi commented on #6255
There is a question about this in: https://stackoverflow.com/questions/58306053/how-can-i-get-the-version-of-the-application-defined-by-tag-version-im-pom-in/59389950#59389950

[2019-12-18 17:03] gastaldi commented on #6255
For the record: `quarkus.application.version` is supposed to return the application version, not the Quarkus version. We should probably have some sort of API to return the Quarkus version

[2019-12-18 17:08] dmlloyd commented on #6255
The values should have been written to the generated class `io.quarkus.runtime.generated.BuildTimeRunTimeDefaultValuesConfigSource`.  The code which does so is here: https://github.com/quarkusio/quarkus/blob/1.1.0.Final/core/deployment/src/main/java/io/quarkus/deployment/configuration/RunTimeConfigurationGenerator.java#L612-L638

[2019-12-18 17:15] AlexanderHofmeister commented on #6255
@gastaldi Thanks for turning this in an issue. :)

[2019-12-18 17:25] gsmet commented on #6255
I'm surprised it doesn't work. I'm pretty sure it used to work at some point, together with the `quarkus.application.name`.

[2019-12-18 18:04] Sanne commented on #5883
Hi @SetoKaiba , I'm trying to verify @dreab8 's fix, but couldn't find the reproducer at https://github.com/SetoKaiba/code-with-quarkus . Was it moved maybe?

[2019-12-18 19:47] gastaldi commented on #6255
`quarkus.application.name` also doesn't work, just tested :(

[2019-12-18 19:49] geoand commented on #6255
So we also definitely need a test for these 2 :)

[2019-12-18 20:20] rhuan080 commented on #6251
In my opinion it is an expected behavior.

The @RollesAllowed is resolved by a CDI interceptor. This is the CDI interceptor: io.quarkus.security.runtime.interceptor.RolesAllowedInterceptor

According to Quarkus documentation, CDI Interceptor methods on superclasses are not implemented yet.

[2019-12-18 21:14] #6158 closed

[2019-12-18 21:14] #6159 closed

[2019-12-18 23:40] murphye commented on #5602
Per this epic, please see my feature request documented here: https://github.com/quarkusio/quarkus/issues/6234

[2019-12-19 06:19] harpreetsingh29 commented on #5497
@geniusit, @majonga88 , @jaikiran ,  :
Are you able to fix this error? I am also facing the same issue in windows 10.

If not, what alternative you suggest to use? Shall i use linux system?

[2019-12-19 06:21] harpreetsingh29 opened #6259 "Native Image Generation Failure | NoSuchFileException | Windows 10"
Error while building native image on getting-started in windows 10 (pom has 1.0.1 FInal and even tested with the next version):
[code]
[FullLogs.txt](https://github.com/quarkusio/quarkus/files/3982010/FullLogs.txt)

**System/Software Configuration Details**:
![image](https://user-images.githubusercontent.com/28382120/71148688-5495fd80-2252-11ea-959a-d23412be401f.png)

![image](https://user-images.

[2019-12-19 06:30] geoand commented on #6255
I'll take a look but there is a good chance I won't be able to figure it out today since my day is very short

[2019-12-19 07:01] cescoffier commented on #6197
The upstream issue has been fixed, so this issue will be fixed when we update.

[2019-12-19 07:28] geniusit commented on #5497
Definitively no. Windows doesnt work well with Docker, graalvm etc ... The best advice is to use a "real" linux system if you want to be productive.
Windows is like hell for developpers but many companies don't let their developpers to chose the OS they want. It's really painful :(( and this makes my days so sad :(((

[2019-12-19 08:09] emmanuelbernard opened #6260 "Improve efficiency of CI pipeline resources by partial rebuild"
**Description**

Currently PR builds run all of our integration tests for every PR, which takes several hours and will probably take longer as time goes on and more tests are added. We could improve CI pipeline build time and resource usage by computing which integration tests are impacted by the files being changed in the PR, and only run the impacted integration tests.

Offer partial build run b

[2019-12-19 09:34] loicmathieu opened #6261 "Provides query projection for Hibernate with Panache"
**Description**
Provides the same projection capabilities than for MongoDB with Panace.

See PR #4202

[2019-12-19 10:13] antoninarq opened #6262 "Allow removal of stacktrace newlines in logging"
**Description**

When you want to format logs in JSON (to be sent to an EFK cluster), we can use this log format pattern :
[code]

However, exception stacktraces will be printed with newlines, which prevent the logs to be cleanly viewed as the log collector will collect each line separately.

**Implementation ideas**

A way to print the stack trace with newlines replaced by `\n`as text for stacktr

[2019-12-19 10:15] harpreetsingh29 commented on #5497
@geniusit :

:( , So i need to ask my IT team to provide the same as i have not worked on linux machine before. They are providing me centos7, i hope no issues with that.

[2019-12-19 11:14] sprucerooth opened #6264 "Cannot @Inject MongoClient using Kotlin"
**Describe the bug**
Injecting MongoClient/ReactiveMongoClient does not work using Kotlin.
[Original issue on Stack Overflow](https://stackoverflow.com/questions/59384257/)

**Expected behavior**
To retrieve an instance of MongoClient/ReactiveMongoClient.

**Actual behavior**
The reference is null.

**To Reproduce**

Inject a Mongo client like so:

[code]

Calling ```getCollection()``` results in:

[2019-12-19 11:56] geoand commented on #6264
Thank you for reporting

[2019-12-19 12:34] lssoares opened #6266 "Maven Multi Module Project Official instructions"
Is multi module maven a possibility for a quarkus project, and if it is, do you plan to release official instructions and best practices on how to do it?

There's a lot of information on how to start a maven project, and lots of information around from several developers, but they all seem to focus on single maven module development.

My first impressions is that we're focusing on attending very s

[2019-12-19 12:40] sebastienblanc commented on #4481
With `Qute` around the corner, being able to logout with the `web-app` mode with the `oidc-extension` will really be a "must have".
I have already locally a nice demo of a Server Side Page App using `Qute` and `OIDC` extension but without a proper logout feature I can not release it to the public.

[2019-12-19 12:46] rafaelkloss commented on #6063
Hi @deejcheeze do you found any other workaround for this, while wait for solve ?

[2019-12-19 12:49] machi1990 commented on #6259
@harpreetsingh29 Hi

When you say "_tested with next version_" was this version 1.1.0.Final? If not can you try it out. IIRC the was a PR (I cannot find the reference) that was supposed to fix a volume mapping issue for Windows and it should be included in 1.1.0.Final.

Thanks,

[2019-12-19 12:55] diversit commented on #4900
I have the same issue trying to create a simple MQTT -> Postgres flow.
PgPool dependency does not get injected.
Does the PgPool entity not get created on time?

Code:
[code]

Config:
[code]

My dependencies are
[code]

[2019-12-19 13:02] stianst commented on #4481
I thought there already was logout support through RP initiated endpoint (which is a standard thing) and this is more about polish. @pedroigor ?

[2019-12-19 13:05] #6021 closed

[2019-12-19 13:21] FroMage commented on #6261
Note that I think we don't need it for all use-cases, because if we removed the bound for `find` it would just work. We should experiment.

[2019-12-19 13:25] SetoKaiba commented on #5883
@Sanne Because I think the issue is aware. So I deleted the reproducer. I'll create one again.

[2019-12-19 13:30] DiegoNovati opened #6268 "Any reference to an Entity extending PanacheEntity in any test causes the exception "IllegalStateException: This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?""
**Describe the bug**
If in any test you import any Entity class, all the tests will fail.

**Expected behavior**
The tests should succeed

**Actual behavior**
The tests fail with the exception "IllegalStateException: This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?"

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the

[2019-12-19 14:28] sebastienblanc commented on #4481
@stianst you mean by calling `/protocol/openid-connect/logout"` ? That doesn't work for me right now.

[2019-12-19 14:33] loicmathieu opened #6270 "Provide deleteById() for MongoDB and Hibernate with Panache"
**Description**
Currently, to delete an entity in both MongoDb and Hibernate by Panache we can only do it from an entity instance.

So in traditional REST API, when we implement a DELETE: /entity/id we usually load the entity from the database then delete it. Alternatively we can use Entity.delete("id", id) but in this case we must check the resulting number of deleted results to check that the en

[2019-12-19 14:35] rmh78 commented on #6109
It would be nice if the guide could also cover more aspects of interactive-queries. The current guide does only cover "fetch by id". An other important use-case is "fetch all". Which gets interesting if the service scales up because of data distribution. I'm working on a generic abstraction for such an interactive query class.

[2019-12-19 15:06] SetoKaiba commented on #5883
Here I uploaded a reproducer again.

[2019-12-19 15:31] FroMage commented on #6270
+1, but I wonder why we didn't add it from the start. Perhaps @gsmet remembers our initial discussions?

I think in many use-cases we will need to load the entity anyway to check for permissions to delete it. But some systems don't apply permissions on an entity basis, so these would benefit from this.

[2019-12-19 15:46] rafaelsousa opened #6271 "Apache Pulsar extension"
**Extension to support Apache Pulsar publish / subscribe model *

Apache Pulsar is growing in adoption and accordingly to this [article](https://streaml.io/blog/pulsar-streaming-queuing)

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

[2019-12-19 17:19] spolti opened #6275 "UnsupportedOperationException when trying to run dev mode on a multi-module project."
**Describe the bug**
When trying to run quarkus:dev on a multi-module project this issue happens:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a multi module project
2. navitage to the "runnable" module
3. run mvn clean compile quarkus:dev

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help explain your problem.)

**Environment (please complet

[2019-12-19 17:21] aguibert commented on #6260
@emmanuelbernard I don't have authority to edit the description or assign the issue to myself, but can you please assign this one to me and also update the description to be the following?

----

Title: Improve efficiency of CI pipeline resources by only running impacted tests

Description: Currently PR builds run all of our integration tests for every PR, which takes several hours and will probab

[2019-12-19 17:42] TomasHofman commented on #4900
I can also reproduce this. Happens with following dependencies:

[code]

The injection starts to work when I change quarkus-jsonb dependency to quarkus-resteasy-jsonb.

Code is just simple application-scoped bean:

[code]

Quarkus version 1.0.1.Final.

[2019-12-19 17:43] tsegismont commented on #4900
Thanks for the reproducers. I'll look into it.

Le jeu. 19 déc. 2019 à 18:42, TomasHofman <notifications@github.com> a
écrit :

[2019-12-19 17:48] pedroigor commented on #4481
@stianst That quote was in the beginning when I was investigating the different options to logout.

By `when their sessions are invalidated` we should be able to recognize sessions invalidated at the OP so that local session is also invalidated.

The `silent re-authentication` part is related to what we discussed some time ago about checking whether or not the session is active at the OP by levera

[2019-12-19 18:02] geoand commented on #6264
I assume you get the same with version `1.1.0.Final`?

[2019-12-19 19:16] Gabrielxp commented on #1658
Hello People, is there any official support in quarkus native build of Oracle JDBC?

[2019-12-19 22:07] x80486 opened #6276 "Consumer-Driven Contracts integration/support"
**Description**

Having something like this, that works out-of-the-box without developers need to do all the Jiu Jitsu for the integration would come handy — even more for testing micro-services.

I'm thinking about integrating something like [`Pact JVM`](https://github.com/DiUS/pact-jvm/) with abilities to test **(a)** contracts for REST or HTTP as a means of communication, **(b)** message broker

[2019-12-20 00:54] asoldano commented on #5752
4.4.2.Final is released

[2019-12-20 04:08] harpreetsingh29 commented on #6259
Yes @machi1990 it is 1.1.0
[code]

Let me look into related issue if i could able to fix it with that.

[2019-12-20 04:30] harpreetsingh29 commented on #6259
@machi1990 :
Another information i want to share generally and there in zulip that, Initially I also got augmentation started and docker tried downloading (Downloaded newer image for quay.io/quarkus/ubi-quarkus-native-image:19.2.1)

But i ran into Fatal error: org.graalvm.compiler.debug.GraalError: java.lang.OutOfMemoryError: GC overhead limit exceeded -> [TriedOnce.txt](https://github.com/quarkus

[2019-12-20 05:11] jaikiran commented on #6275
I haven't been able to reproduce this issue. However, looking at the code, this looks like a genuine issue which needs a fix. So I've opened https://github.com/quarkusio/quarkus/pull/6278 which contains a fix.

[2019-12-20 06:30] harpreetsingh29 commented on #4206
@gastaldi :
I am getting
[code]

using 1.1.0 Final quarkus version while having docker up on Windows.

Can you please suggest what settings are required here? How to reset user.home.

Related bug is opened under -> https://github.com/quarkusio/quarkus-quickstarts/issues/407

[2019-12-20 06:50] #6275 closed

[2019-12-20 07:34] rsvoboda opened #6280 "HotReload (extensions\vertx-http\deployment) tests fails on Windows with Java 11"
HotReload (extensions\vertx-http\deployment) tests fails on **Windows with Java 11** (Java version: 11.0.5, vendor: Oracle Corporation)

`Caused by: java.nio.file.InvalidPathException: Illegal char <:> at index 4: file:/C:/Users/Rostislav/.m2/repository/org/apache/maven/surefire/surefire-booter/2.22.1/surefire-booter-2.22.1.jar`

[code]

Here is [test-log.txt](https://github.com/quarkusio/quarkus/

[2019-12-20 07:35] rsvoboda commented on #6280
This wasn't seen on CI because Windows runs are using Java 8.
https://github.com/quarkusio/quarkus/blob/master/ci-templates/stages.yml#L103

[2019-12-20 07:43] rsvoboda commented on #6280
As extensions\vertx-http\deployment module failed there were several modules skipped in the maven execution
  =>
there can be more Windows with Java 11 fails

[2019-12-20 08:33] #6148 closed

[2019-12-20 09:11] rsvoboda commented on #6280
@Karm fyi, I think you saw the same problem

[2019-12-20 09:13] gsmet commented on #6280
@rsvoboda this is with current master? /cc @jaikiran

[2019-12-20 09:19] jaikiran commented on #6280
@gsmet, @rsvoboda, I think I see what might be wrong (mostly appears to be our test framework issue). I'll see what needs to be done and update with more details.

[2019-12-20 09:20] Karm commented on #6280
@rsvoboda  @gsmet   Yes.  Master. Fails only on Windows:

(any GitHub account is O.K.; it's just to keep bots away)

https://ci.modcluster.io/view/Quarkus/job/karm-quarkus/30/

[code]

[2019-12-20 09:22] rsvoboda commented on #6280
yup, master from yesterday ~10pm Brno time

[2019-12-20 09:26] emmanuelbernard commented on #6260
@aguibert done

[2019-12-20 09:30] rsvoboda commented on #5588
@mkouba / @gsmet I think this can be closed, 5609 is good enough for me.

[2019-12-20 09:55] tnmtechnologies commented on #3626
It would be nice to take into account the client part too.
Quickstarts would be welcome, a rest api consumed by a client in http2 and another one in http2/TLS.

[2019-12-20 09:57] #5588 closed

[2019-12-20 10:07] geoand commented on #5752
@asoldano Thanks!

Do you plan to create a Quarkus PR to bump the RESTEasy version?

[2019-12-20 10:14] quintesse commented on #6025
Right now I've been working on extracting the Creator part of the Launcher project to make it possible to use it as a stand-alone "library" for generating code.

The Creator works by "merging" code templates together to form a single full-functioning project.

The version of the Creator that was included in the Launcher was already able to generate projects for different languages and framework. I

[2019-12-20 10:24] geoand commented on #5752
PR bump is here: https://github.com/quarkusio/quarkus/pull/6283

[2019-12-20 10:38] mkouba opened #6285 "SmallRye Metrics - JandexBeanInfoAdapter does not reflect changes made by AnnotationTransformer"
So for example, if you add the `@Counted` annotation to a bean class you'll get a `UnsupportedOperationException` at runtime:
[code]

@jmartisk it should be possible to make use of `AnnotationStore` obtained via `io.quarkus.arc.deployment.ValidationPhaseBuildItem.getContext()`.

[2019-12-20 11:00] jmartisk commented on #6285
Good catch, this prevents us from adding metric annotations dynamically, which could be valid usage for some extensions. I will look into it

[2019-12-20 11:03] mkouba commented on #6285
Yep, we've found the issue when working on a demo extension for our "Code Your First Supersonic Extension" workshop for DevConf.cz ;-)

[2019-12-20 11:08] loicmathieu commented on #6262
@antoninarq the new `logging-gelf` extension will allow to send logs directly to EFK in the GELF format without the issue on stacktraces that you report.

The issue you report is not on the logging system but on the collection system (fluentd here) that is not capable or configured for multiline.
If you want to configure fluentd for multiline, it's possible: https://docs.fluentd.org/parser/multili

[2019-12-20 11:20] Karm commented on #6280
ClassLoaderCompiler:

[code]

IMHO....

[2019-12-20 11:22] AlexanderHofmeister commented on #6261
I this going to be in the next version or anything? Just asking, no pressure. :)

[2019-12-20 11:26] jaikiran commented on #6280
Hello @Karm, the root cause is actually known to us https://bugs.openjdk.java.net/browse/JDK-8232170. We have workarounds in place to get us past that. Our `QuarkusDevTest` needs an update to use such a workaround. I'm in the process of changing and testing this to see if it works. I'll update this issue shortly.

[2019-12-20 11:28] rsvoboda opened #6286 "integration-tests/logging-gelf are not executed in CI runs, risk for regression"
Running integration-tests/logging-gelf tests involves manual steps
https://github.com/quarkusio/quarkus/tree/master/integration-tests/logging-gelf#running-the-tests

This means that integration-tests/logging-gelf are not executed in Quarkus CI runs
In the end there is increased risk for regression for this extension

[2019-12-20 11:36] rsvoboda opened #6287 "Keycloak/oidc integration tests are executed only in native mode, not with JDK 11/12"
Keycloak/oidc integration tests are executed only in native mode - https://github.com/quarkusio/quarkus/blob/master/ci-templates/native-build-steps.yaml

One can say that native mode execution also covers JVM mode execution, but that's true only for JDK 8 aspect.

There are no runs with JDK 11/12 for Keycloak/oidc.

[2019-12-20 11:50] gastaldi commented on #6253
Isn't that the same as adding `@PathParam` to `Test.id` and `@BeanParam` to the test() method?

[2019-12-20 11:55] rsvoboda opened #6288 "MariaDB tests (-Dtest-mariadb) are not executed on CI"
MariaDB tests (`-Dtest-mariadb`) are not executed on CI, only `-Dtest-mysql` is passed to CI runs.

This means following modules are not executed even in JVM mode (need `-Dtest-mariadb`)
 - integration-tests/jpa-mariadb
 - integration-tests/reactive-mysql-client

[2019-12-20 11:59] rsvoboda opened #6289 "MS SQL tests (-Dtest-mssql) are not executed on CI"
MS SQL tests (-Dtest-mssql) are not executed on CI

Applies to both Native and JVM mode

[code]

[2019-12-20 12:56] jmartisk commented on #6285
What you described seems to be just the first half of the problem. Jandex adapters are used only during build, then discarded after metrics are registered. At runtime, for matching a request to the relevant metrics, CDI adapters are used (see https://github.com/smallrye/smallrye-metrics/blob/2.3.2/implementation/src/main/java/io/smallrye/metrics/interceptors/CountedInterceptor.java#L80 ) which are

[2019-12-20 13:03] zeljkot commented on #6268
This happens to me, too, but with regular entities from another project. It works correctly in dev mode.

[2019-12-20 13:09] mkouba commented on #6285
How do you proceed with CDI full? Is the matching based on the `Annotated` layer?

[2019-12-20 13:13] irenakezic commented on #6268
I tried reproducing the error with the code provided. The error is gone if you annotate BlackListTest class with the @QuarkusTest annotation.

[2019-12-20 13:15] mkouba commented on #6285
I mean if it was based on reflection it wouldn't work for Weld either, or?

[2019-12-20 13:22] manovotn commented on #6285
Nope, it wouldn't. But maybe nobody tried adding it programatically yet ;-)

Either way, in Weld you have full metadata whereas in Quarkus you don't and you cannot just make those programatically added annotations visible. Maybe you need to do something similar to what Michal did for security annotations? E.g. gather all data about annotated fields/classes at build time and expose a bean that hold

[2019-12-20 13:23] jmartisk commented on #6285
We cast it to `AnnotatedElement`, see https://github.com/smallrye/smallrye-metrics/blob/2.3.2/implementation/src/main/java/io/smallrye/metrics/elementdesc/adapter/cdi/CDIMemberInfo.java#L75
`input` is an instance of `java.lang.reflect.Method`

[2019-12-20 13:38] sberyozkin commented on #6287
@rsvoboda Hi, I guess that also applies to a number of other tests (vault, and all other running in that native tests group) which depend on the pre-installed image ? CC @cescoffier @gsmet

[2019-12-20 13:51] mkouba commented on #6285
Well, that's `java.lang.reflect.AnnotatedElement`. I was talking about CDI SPI - `javax.enterprise.inject.spi.AnnotatedType` and friends.

[2019-12-20 13:53] rsvoboda commented on #6287
git grep for `test-keycloak` gives
 - integration-tests/keycloak-authorization
 - integration-tests/oidc-code-flow
 - integration-tests/oidc

[2019-12-20 13:59] mkouba commented on #6285
Matej is right. If you need the metadata at runtime you'll likely need to record the metadata at build time and expose it via a bean. See for example `io.quarkus.security.deployment.SecurityProcessor.gatherSecurityChecks()` and https://github.com/quarkusio/quarkus/blob/master/extensions/security/runtime/src/main/java/io/quarkus/security/runtime/interceptor/SecurityCheckStorageBuilder.java.

[2019-12-20 14:31] loicmathieu commented on #6131
What I would love to see in order to close this issue is the following:

- Investigate on this precise error (that occurs since 1.1), if it can be fixed good, if not, I'm OK with it as I understand the limitations explained here.
- Povides a convenient way to create a configuration for Test : `QuarkusTestUtils.bootstrapConfiguration()` for example.
- Document the caveats that exist for implementin

[2019-12-20 14:40] jaikiran commented on #6280
Hello @rsvoboda, @Karm, I've opened https://github.com/quarkusio/quarkus/pull/6290 with the proposed fix. My tests against Windows OS with Java 11 have passed with this change. Please give that PR a try and see how it goes in your setups.

[2019-12-20 14:53] lssoares commented on #1724
Is this OK, for a clean(ish) workaround?
[code]

[2019-12-20 15:20] #6236 closed

[2019-12-20 15:43] loicmathieu opened #6292 "Improve the usage of MongoDB @BsonDiscriminator"
**Description**
The `@BsonDiscriminator` annotation can be use to persist different entity types inside a collection. It's very handy for persisting a hierarchy of entities inside the same collection when using abstract classes: http://mongodb.github.io/mongo-java-driver/3.12/bson/pojos/#properties-with-abstract-or-interface-types

To use it, all classes that have a `@BsonDiscriminator` annotation

[2019-12-20 15:47] aguibert opened #6293 "Offer DB2 JDBC extension"
**Describe the extension**

Offer DB2 JDBC support via extension that works in JVM mode and native mode.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
[code]

**Additional context**
(Add any other context about the proposal here.)

[2019-12-20 15:49] aguibert commented on #6293
@emmanuelbernard can you please assign this one to me, add the [Epic] label, and add it to the "in progress" column of the Epic roadmap? I've been working with an engineer from Rocket Software on creating this extension for the past month or so.

[2019-12-20 15:57] sberyozkin commented on #6287
@rsvoboda all of those and likely others, https://github.com/quarkusio/quarkus/blob/master/ci-templates/native-build-steps.yaml. For example, from what I can see, the vault test depends on the test-containers postgress and possibly more.
From what I understand it is a CI resource issue. I agree it would be a good idea to test them all and `quarkus-oidc` in particular with as many JDKs as possible

[2019-12-20 16:12] danielpetisme commented on #1594
Fixed by https://github.com/quarkusio/quarkus-platform fix

[2019-12-20 16:12] #1594 closed

[2019-12-20 16:48] gsmet commented on #6287
Well, it looks it's not tested at all in JVM mode. JDK 8 is also concerned as all the JVM tests are consistent.

[2019-12-20 17:02] #6280 closed

[2019-12-20 17:02] sberyozkin opened #6294 "Support JAAS with quarkus-elytron-security-jaas"
**Describe the extension**
We have a user who have developed JAAS modules and had them used with WildFly now trying to migrate to Quarkus.

Having `quarkus-elytron-security-jaas` would accelerate the migration for anyone who have built the application security around JAAS

CC @stuartwdouglas @FroMage

[2019-12-20 17:39] sprucerooth commented on #6264
I haven't tried. Not sure how to do it as it does not seem to have been published yet on like mavencentral?

[2019-12-20 17:40] geoand commented on #6264
It should be on Central already IIRC. I don't expect it to fix the issue, just want to be on the safe side

[2019-12-20 17:57] sprucerooth commented on #6264
Ah ok the bom was not published.
So I tried with **'quarkus-arc'** and **'quarkus-mongodb-client'** on **1.1.0.Final** and same problem!

[2019-12-20 17:58] emmanuelbernard commented on #6293
i don't think it's an epic. I added it to the roadmap board.

[2019-12-20 18:12] Elegie commented on #6259
Hi,

I just checked out https://github.com/quarkusio/quarkus-quickstarts, updated the POM to `1.1.0.Final`, ran `mvn package -Pnative -Dquarkus.native.container-build=true` and it started the native compilation normally. I just stopped it manually because it was taking too long on my old machine (more than 20 minutes).

With the previous version, `1.0.1.Final`, it fails with the error message `doc

[2019-12-20 18:19] geoand commented on #6264
Thanks for checking!

[2019-12-20 18:28] ebullient commented on #6205
Once I'm done stuffing myself with holiday cookies, yes.

[2019-12-20 19:38] x80486 opened #6296 "Configuring application using YAML doesn't work as expected"
## Describe the bug

I have a small Quarkus `1.1.0` (Web) application. It's working fine if I start it with my current `application.properties`, but as soon as I try to "migrate" it to YAML it stops working.

## Expected behavior

The application should work as before.

## Actual behavior

After putting this dependency: `io.quarkus:quarkus-config-yaml`, placing `application.yaml` under `src/main/r

[2019-12-20 19:47] geoand commented on #6205
Excellent on all accounts 👌

[2019-12-20 19:49] x80486 opened #6297 "Configuring application using application.yaml should accept directives separator"
## Description

Support with YAML arrived with version `1.1.0.Final`. That's great! Now improving on this, I think it would be great to be able to parse/understand directives separator so we can isolate the profiles in such way, if possible (and applicable).

I understand this separation is already done and we can look at the profiles by their name, but still, I think they are more clear if this i

[2019-12-20 20:46] #5804 closed

[2019-12-20 21:05] rsvoboda commented on #6287
@gsmet you are right, only subset of tests runs in native mode, so my workaround story for JDK 8 is poor.

@sberyozkin I know it's CI capacity issue, this extension is quite important and we should give it some space on Quarkus CI.

I also added similar CI issues for MariaDB and MSSQL as they should be getting more attention.
https://github.com/quarkusio/quarkus/issues/created_by/rsvoboda

[2019-12-20 21:19] x80486 commented on #6296
Mmmm...while I still chasing this, I deleted the entire Gradle cache (and what not); now I'm getting this:

[code]

I have the feeling that this was caused because when I upgraded, it was still using the plugin version `1.0.1.Final`. Right now I can't even get to the plugin version `1.1.0.Final`, so probably this is not an issue 🙄

[2019-12-20 21:32] gsmet commented on #6296
The Gradle support has changed a bit in 1.1.0.Final: https://github.com/quarkusio/quarkus/wiki/Migration-Guide#gradle-plugin .

We will announce 1.1.0.Final with all the pointers on Monday.

[2019-12-20 22:10] rsvoboda commented on #6280
@jaikiran HotReload tests work for me now, thanks.

[2019-12-20 22:17] x80486 commented on #6296
OK, you can ignore this one...it's not an issue. I followed the "new" migration guide for Gradle and it works as expected.

I was waiting for that change! I didn't think it would arrive that soon! 🎉

[2019-12-20 22:17] #6296 closed

[2019-12-20 22:50] gsmet commented on #6296
Cool, thanks for the feedback!

[2019-12-20 23:26] Karm commented on #6280
@jaikiran

All good now https://ci.modcluster.io/view/Quarkus/job/karm-quarkus/32/

[2019-12-21 03:15] jaikiran commented on #6280
Thank you both @rsvoboda and @Karm for verifying

[2019-12-21 03:18] dmlloyd commented on #6297
I'm pretty sure this is doable just by reading all the docs in sequence. It's not exactly the same as separating by profile but it could be used for that.

[2019-12-21 04:39] jaikiran commented on #5942
A new PR containing a fix has been opened https://github.com/quarkusio/quarkus/pull/6301. This PR follows the suggestions made in the previous PR as well as a the discussion on the mailing list.

[2019-12-21 05:38] kdnakt commented on #2125
I'm using quarkus-amazon-lambda extension and quarkus-amazon-dynamodb extension to access DynamoDB from AWS Lambda with custom runtime (I mean, native-image), and getting the same error:

[code]

https://github.com/kdnakt/quarkus-sandbox/tree/master/quarkus-lambda-dynamodb

[2019-12-21 07:10] AlexanderHofmeister commented on #6253
@gastaldi Almost, but if you mark both properties (`id` and `name` in this case). It does not work properly: It throws always a Constraint Violation Exception for the missing `name`.

I tried it with all param annotations (`@HeaderParam`, `@FormParam` and `PathParam`).
I am sending the properties in the JSON body to the Server.

[2019-12-21 09:57] angelozerr opened #6303 "Some errors in kubernetes.adoc ?"
I create this issue since I'm developping a kubernetes support for vscode-quarkus and after reading the documentation coming from https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/kubernetes.adoc I wonder if there are some errors or not:

 * `kubernetes.docker-file` : is this property is working? I ask you that because with our JDT LS extension which generates thoses kubernet

[2019-12-21 12:23] machi1990 commented on #6131
Hi @loicmathieu @gsmet @dmlloyd we have https://github.com/quarkusio/quarkus/issues/5700 which when when fixed will address this point. It will come with documentation as a bonus. I self assigned the issue but as I am on PTO, I have not had the time to look at it implementing it.  @loicmathieu or anyone can feel free to give it a go based on the code snippet @dmlloyd shared. Thanks

[2019-12-21 14:35] gunnarmorling commented on #4961
Hey @sander-su, did you have a chance yet to take a look at this? No worries if not, just to see where we are.

[2019-12-21 15:07] J00LZZ opened #6304 "Usage of Kotlin default parameters instead of optionals"
**Description**
Kotlin can use default parameters for methods and class constructors, and quarkus does not seem to support this. It'd be a nice feature to have for the developers using Kotlin instead of Java since it basically replaces Java's `Optional<T>` class. This could then be used in for instance query parameters.

**Implementation ideas**
Allowing defaults instead of Optionals. Instead of u

[2019-12-21 15:46] famod commented on #6122
That works (1.1.0.Final). Might be worth to mention this property on the [getting-started page](https://quarkus.io/guides/getting-started)?

[2019-12-21 15:58] geoand commented on #6122
I think we have updated the Maven tooling guide to include this information

[2019-12-21 17:07] gsmet commented on #6303
@iocanel Could you have a look at that one?

[2019-12-21 17:20] iocanel commented on #6303
@gsmet sure. Is there any way I could have permission to assign issues to me?

[2019-12-21 17:24] gsmet commented on #6303
I assigned it to you. Will add you the permission soon.

[2019-12-21 19:10] #5926 closed

[2019-12-21 19:34] iocanel commented on #6303
Thanks

[2019-12-22 10:33] javahippie opened #6308 "Support array of objects in YAML config"
**Description**
Using arrays in application.yaml currently works fine for single values like this:

[code]
I can access the property without any additional configuration as a list of strings. I was curious if it was possible to write my own converter for a list of objects, as I need more data in my application than just the urls, and tried this:

[code]

This is valid YAML and something that works

[2019-12-22 10:38] #6308 closed

[2019-12-22 10:57] geoand commented on #6264
Hi,

I was not able to reproduce the problem.

Here is what my code looked like:

_GreetingResource.kt_
[code]

_KotlinService.kt_

[code]

Note that I don't need to specify `@Inject` (since there is only one constructor).
I also didn't need to make `KotlinService` `open`, since I added

[code]

to the `kotlin-maven-plugin` configuration

[2019-12-22 11:37] geoand opened #6311 "A generated Kotlin project with Gradle doesn't build"
**Describe the bug**
When generating a project like so:

[code]

and then trying to build it like so:

[code]

I get:

[code]

**Environment (please complete the following information):**
 - Quarkus version or git rev: latest `master`

[2019-12-22 11:39] geoand commented on #6311
cc @gastaldi

[2019-12-22 12:14] gastaldi commented on #6311
Hm, weird, I don't think that part have changed. Not sure how it used to work in https://github.com/quarkusio/quarkus/commit/242d2f7cb55462d402c5c99fc3aca5283dc42dd3

[2019-12-22 12:16] geoand commented on #6311
I've lost track of the changes so I don't know either :P

[2019-12-22 12:17] gastaldi commented on #6311
Actually I take that back, it changed a bit since https://github.com/quarkusio/quarkus/blob/0.28.1/devtools/gradle/src/main/java/io/quarkus/gradle/QuarkusPluginExtension.java.

Let me provide a PR

[2019-12-22 12:18] geoand commented on #6311
Cool, thanks!

[2019-12-22 12:51] gastaldi commented on #6311
PR created in https://github.com/quarkusio/quarkus/pull/6312

[2019-12-22 12:58] geoand commented on #6311
Excellent, thanks for taking care of it so quickly!

[2019-12-22 12:59] #6041 closed

[2019-12-22 15:04] KaenDagger commented on #6304
I would like to work upon this issue

[2019-12-22 15:54] doublefx commented on #1618
Hi Guys,

Is it fully fixed?

All good with java compatibility 9 but with java 11, I still get:

[code]

[2019-12-22 16:17] hartimcwildfly commented on #6133
Actually there is a possibility to use custom handlers. You just have to provide (/write an extension) a RuntimeValue<Optional<Handler>> like in io.quarkus.logging.gelf.GelfLogHandlerRecorder.
So there is only the problem with the linking of the handlers. I would propose to introduce a RuntimeValue<Entry<String, Handler>> for namedHandlers and an optional handlerName in CategoryConfig. So the name

[2019-12-22 16:58] hantsy commented on #5434
@FroMage I have tried Rxjava `Observable` and `Maybe`, it seems it is problematic in 1.1.0.Final, check my [new sample](https://github.com/hantsy/quarkus-sandbox/tree/master/rx-post-service) .

[2019-12-22 17:31] sreev commented on #6122
`$ mvn archetype:generate`, doesn't show this plugin.
Refer to:
https://maven.apache.org/archetype/maven-archetype-plugin/usage.html

https://maven.apache.org/guides/getting-started/maven-in-five-minutes.html

[2019-12-22 18:33] #6311 closed

[2019-12-22 23:43] stuartwdouglas commented on #1618
Can you open a new issue with the details, and include either a reproducer or at the very least the full stack trace so we can get some idea what is happening?

[2019-12-23 02:06] gastaldi opened #6316 "A generated Scala project with Gradle doesn't build"
**Describe the bug**
When generating a project like so:

[code]

and then trying to build it like so:

[code]

I get:

[code]

In Windows, a different error is shown in the CI server: https://scans.gradle.com/s/turf2ey7xcl2o/tests/dqwcqqtprpdqc-tvfi6t4p2x5we

**Environment (please complete the following information):**
 - Quarkus version or git rev: latest `master`

[2019-12-23 02:54] hantsy opened #6318 "Support Rxjava Observable, Maybe, Single, Flowable as the return type in RESTEasy."
Mentioned in issue #5434, also added resteasy-rxjava2 as dependencies, found some issues when return type is `Maybe`,  `Completable`.

The [source code](https://github.com/hantsy/quarkus-sandbox/tree/master/rx-post-service) is hosted on Github.

[code]
When test the apis by `curl`, it seems the `Maybe` and `Completable` is not rendered as expected.

[code]

[2019-12-23 04:48] hantsy opened #6319 "UriInfo is not available in reactive Resteay API"
I tried to use `UriInfo` to build the uri  for new resource after the resource is created.

The source code is [here](https://github.com/hantsy/quarkus-sandbox/blob/master/cs-post-service/src/main/java/com/example/PostResource.java).

The `UriInfo` is not available as a generic Resteay resource class.

[code]

[2019-12-23 07:38] jmartisk commented on #6285
Ok then that makes it a bit complex, because it will need changes on SmallRye Metrics side. I like the approach with `SecurityCheckStorageBuilder` and think something similar could be used in SmallRye for storing the (pre-computed) mapping between methods and metrics so we won't have to use runtime reflection to determine it on-the-fly. But as this kinda is an architectural change for SmallRye Met

[2019-12-23 08:08] michael-schnell opened #6320 "Support In-Memory database for native images"
Currently the [QUARKUS - DATASOURCES](https://quarkus.io/guides/datasource) documentation states: "The H2 and Derby databases can normally be configured to run in "embedded mode"; the extension does not support compiling the embedded database engine into native images"

As there are several use cases for using in-memory databases like H2, Derby, HSQLDB, and SQLite also in production (not only for

[2019-12-23 08:18] iabughosh opened #6321 "Mysql-reactive client is not working on native mode"
I am trying to run mysql-reactive client in native mode and it is not working while it works fine in JVM mode.

I am receiving the below exception when I try to connect to it :
[code]

**Configuration**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:
18.7.0 Darwin Kernel Version 18.7.0: Sat Oct 12 00:02:19 PDT 2019; root:xnu-4903.278.12~1/RELE

[2019-12-23 09:48] sdaschner commented on #6094
@gsmet I agree on avoiding the creation of unnecessary beans. Maybe that could be done as analysis during build time (whether things like injection are actually required).

However, in order to `@Inject` you don't need any scope annotation, at least not what works now with Hibernate Validator: https://docs.jboss.org/hibernate/stable/validator/reference/en-US/html_single/#_dependency_injection

Als

[2019-12-23 10:29] #6316 closed

[2019-12-23 10:46] geoand opened #6322 "Replace project creation "templates" with Qute templates"
**Description**
Currently we use a bunch of "templates" when projects are created with the maven tooling. These are severely limited and lead to a lot of code duplication among them (because we have 3 different programming languages supported, 2 build tools and different code "templates" for Spring code).
We should replace them with Qute templates to make them more manageable.

[2019-12-23 12:40] loicmathieu opened #6324 "MongoDB with Panache didn't enlist for reflection Repository parameterized type"
**Describe the bug**

When using the repository aproach and resteasy with only `Response` return type, native mode miss some reflection configuration.

Imagine the following classes

[code]

Calling /bugs/reflect will leads to the exception `org.bson.codecs.configuration.CodecConfigurationException: Can't find a codec for class io.quarkus.it.mongodb.panache.bugs.NeedReflection` that is fixed via t

[2019-12-23 14:21] michael-schnell opened #6327 "Native image creation fails with java.lang.NoClassDefFoundError: com/sun/jna/LastErrorException"
Using the "quarkus-jdbc-postgresql" extension fails with the below error. Changing the database to "quarkus-jdbc-mariadb" fixes the problem. So it seems clearly to be related only to the postgresql extension.

[code]
**Expected behavior**
Native image creation should work with "quarkus-jdbc-postgresql" as it does with "quarkus-jdbc-mariadb".

**Actual behavior**
Native image creation fails with "-

[2019-12-23 15:08] zeljkot commented on #5401
I attached an example project to the original description. As @jaikiran noted, it is specific to `dev` mode; it does not occur if I run tests (also included).

[2019-12-23 15:22] blsouthr commented on #5432
Hi! Any chance for it to be implemented soon?

[2019-12-23 15:58] TomasHofman opened #6329 "[native] JsonbException: No default constructor found."
**Describe the bug**

When running native executable, calling `JsonbBuilder.fromJson(...)` leads to exception: "JsonbException: Can't create instance of a class: class ..., No default constructor found.":

```JsonbBuilder.create().fromJson(body, DataObject.class);```

even though the class has a default constructor:

[code]

**Expected behavior**
Object is deserialized successfully.

**Actual beha

[2019-12-23 16:03] machi1990 commented on #6329
Hi @TomasHofman, the `DataObject` class  needs to be registered for reflection  through the `@RegisterForReflection` annotation as explained in this guide https://quarkus.io/guides/writing-native-applications-tips#using-the-registerforreflection-annotation.

[2019-12-23 16:14] TomasHofman commented on #6329
Yesss, I forgot about this. Thank you @machi1990!

[2019-12-23 16:14] #6329 closed

[2019-12-23 16:17] machi1990 commented on #6329
You are welcome. @TomasHofman

[2019-12-23 16:21] lordofthejars opened #6331 "SSL Port is not printed in startup"
**Describe the bug**

When you configure the https port `quarkus.http.ssl-port=8443` the http port 8080 is printed when app is started but not the https port.

**Expected behavior**

Both ports are printed.

**Actual behavior**

Only 8080 port is printed.

[2019-12-23 16:52] jtama-op commented on #2290
I think we should definitely close this issue, as I also think we should not use keycloak extension...

[2019-12-23 20:02] #5942 closed

[2019-12-24 04:35] rkudryashov commented on #6226
Issue was resolved after fix of https://github.com/quarkusio/quarkus/issues/6311

[2019-12-24 04:35] #6226 closed

[2019-12-24 07:24] blsouthr commented on #5281
Hi! Any chance for it to be implemented soon?

[2019-12-24 07:27] blsouthr opened #6336 "Add more config options for quarkus-logging-gelf"
Currently, logging-gelf extension is not allowing to set facility and other options to log to graylog.
Please, consider add all possible settings to make it fully configurable

[2019-12-24 09:45] gsmet commented on #6336
/cc @loicmathieu

[2019-12-24 12:50] DemiusAcademius opened #6337 "can not inject BeanManager into custom servlet"
https://stackoverflow.com/questions/59469082/can-not-inject-beanmanager-into-custom-servlet

[2019-12-24 12:54] gsmet commented on #5908
@irenakezic I pushed some more stuff here: https://github.com/hibernate/hibernate-validator/pull/1063 .

The important change can be summarized by this test: https://github.com/hibernate/hibernate-validator/pull/1063/commits/1f9dc3ca980e5d10215745e8daed359efd2fb309#diff-5dd9191fc8d91809e7493c7e1d014301R30 . The idea would be to set up a custom `LocaleResolver` in Quarkus if RESTEasy is in the clas

[2019-12-24 13:19] nimo23 commented on #5969
@aguibert I registered the official `JacksonJsonProvider.class` but it does **not** work. It seems that `quarkus` or `resteasy` does not register `JacksonJsonProvider` successfully. I dont know why.

[code]

@rmannibucau using your JsonRoutingProvider works but the official `JacksonJsonProvider.class` does not work. I dont know why.

**updated reproducer:**

[quark.zip](https://github.com/quarkusi

[2019-12-24 13:19] JfEstrela commented on #2835
this approach is necessary

[2019-12-24 13:45] nimo23 commented on #5969
@aguibert @rmannibucau I registered the official `JacksonJsonProvider.class` from jackson, but it does **not** work. It seems that `quarkus` or `resteasy` does not register `JacksonJsonProvider` successfully. I dont know why.

[code]

The strange thing is, if extend the class JacksonJsonProvider within my application

[code]

and use the extended class, then it works:

[code]

**updated reproducer

[2019-12-24 15:20] hartimcwildfly commented on #6331
I corrected the behaviour. See #6338

[2019-12-24 15:44] angelozerr commented on #6164
To support Qute validation inside an editor (with syntax error) like https://github.com/redhat-developer/vscode-quarkus/issues/178 it's very important to have detailed information about the error:

 * the character, line where there are error or the offset
 * the full file name where there is an error

For instance:

`Hello {name !`

should report an error in line=0, character=11, or offset =11.

[2019-12-24 18:53] aguibert commented on #5969
The app you are using to reproduce the issue is a bit misleading because it is making a web request to itself using a ClientBuilder, so it's conflating where the actual issue is occurring.

In the previous reproducer the quarkus JAX-RS endpoints were operating fine, but it was the unmanaged `WebTarget` you were creating that was having issues (which Quarkus or any JEE container will not interfere

[2019-12-24 19:35] nimo23 commented on #5969
Ok, this explains the reason why I need `MyJacksonProvider`.

With "it does not work", I mean the registration by `ClientBuilder.newClient().register(JacksonJsonProvider.class)` for marshalling does not work. Only when I register it by `MyJacksonProvider`, the marshalling works.

It is not not obviously why `register(JacksonJsonProvider.class)` does not work for marshalling because testing for suc

[2019-12-24 20:18] nimo23 commented on #5969
Ok, this explains the reason why I need `MyJacksonProvider`.

With "it does not work", I mean the registration by `ClientBuilder.newClient().register(JacksonJsonProvider.class)` **for marshalling** does not work. Only when I register it by `MyJacksonProvider`, the marshalling works.

It is not obvious why `register(JacksonJsonProvider.class)` does not work for marshalling because `client.getConfig

[2019-12-25 06:29] t1m0 commented on #5113
Hi,
is there any update on this?
I tried elytron-security-jdbc and noticed there is no bean for the password generation.

Is the plan to include this as part of a future update in this module?
Or should I use the above mentioned wildfly-elytron-credential for this?

(I'm not planning to build a native image as of now)

[2019-12-25 09:40] sprucerooth commented on #6264
Ah! The solution in the end was to add
[code]

With that I could inject `MongoClient` with/without `@Inject` and in the constructor or with field injection.

Is this desired having to add that maven option though?

Thank you!

[2019-12-25 10:14] geoand commented on #6264
You are welcome!

Yes, I already changed the template to include that option since it is necessary for all intents and purposes

[2019-12-25 11:44] nimo23 opened #6339 "Extension: Panache-Infinispan (Panache-Ignite)"
I see that quarkus has Infinispan Embedded/Client extensions but I cannot see the general JCache support of quarkus.

I find there could be something like `PanacheStorage` or `PanacheCache` with the same idea/handling of `PanacheEntity`: simplify overall caching (plugging, storing, querying) with different caching providers (e.g., Apache Ignite, Infinispan, Hazelcast) by extending a class and anno

[2019-12-25 15:24] dodalovic opened #6340 "Importing RSS Feed reports an error"
When trying to register https://quarkus.io/feed.xml I’m getting the following

An error has occurred. The feed 'https://quarkus.io/feed.xml' cannot be added (error: 'Invalid syntax for a decimal numeric entity reference. Line 20, position 266.')

[2019-12-25 16:18] dodalovic commented on #6026
@anyone Was there any progress been made? Thanks!

[2019-12-26 09:40] Foredoomed opened #6341 "Enforce (or warn/error) maven version before creating project"
After I execute the command which is

[code]

then an error occurs：

[code]

[2019-12-26 12:18] rquinio commented on #6341
@Foredoomed What is your Maven version ?

[2019-12-26 12:46] rquinio opened #6342 "spring-di: @Named should be a bean defining annotation"
**Describe the bug**

While migrating a spring war application based on JSR-303 to Quarkus, beans annotated with `@javax.inject.Named` and without an explicit scope are not seen by Arc.

Indeed CDI, `@javax.inject.Named` is not a bean defining annotation by itself.
But in Spring DI it is an equivalent to `@org.springframework.stereotype.Component` (with the difference that it is not a composable a

[2019-12-26 14:11] gsmet commented on #6340
It's fixed now. Thanks for reporting the issue!

[2019-12-26 14:11] #6340 closed

[2019-12-26 15:02] debae opened #6344 "Gradle build fails with error Root cannot inherit parent name because it has no parent at class io.quarkus.runtime.TopLevelRootConfig"
**Describe the bug**
When upgrading an existing project ( Gradle 5.4.1 & Quarkus 1.0.1.Final ) to the new version 1.1.0.Final and thus also using Gradle 6.0.1 I can no longer run ./gradlew build.
It is unclear to me what is going wrong, the error message I get is **Root cannot inherit parent name because it has no parent at class io.quarkus.runtime.TopLevelRootConfig**

The following extensions ar

[2019-12-26 15:17] gsmet commented on #6344
@debae I don't see a reproducer? Are you still working on it?

[2019-12-26 15:34] debae commented on #6344
Yes, I need to remove some code and dependencies from my client.

[2019-12-26 15:47] x80486 opened #6345 "Move MicroProfile Config for messaging under Quarkus namespace"
## Description

I understand Quarkus uses SmallRye Reactive Messaging to leverage on its functionality/behavior, but I think it would be great if the configuration setting(s) for anything-quarkus lives under that namespace, even though it's using some other library to accomplish certain task(s), hence this configuration format: `mp.messaging.[outgoing|incoming].[channel-name].[attribute]=[value]`

[2019-12-26 15:57] debae commented on #6344
I've created this reproducer project : https://github.com/debae/quarkus-issue-6344
Just git clone and execute `./gradlew build`should be sufficient.

[2019-12-27 00:26] hartimcwildfly commented on #6133
Somebody already works on named handlers. See #5861.

[2019-12-27 09:12] davide-malagoli opened #6346 "Add support for Hibernate ORM naming strategy"
**Description**
Using Java naming convention, all the Entity names and all the attributes of an entity must be written in camelCase.
But, in some cases, on the database side it would be more convenient to use "all lower case" or "snake case" names, expecially when you are using an already existent database. #5935

[Database, Table and Column Naming Conventions?](https://stackoverflow.com/questions

[2019-12-27 09:23] loicmathieu commented on #6336
@blsouthr we tend to limit the number of configuration options in Quarkus for the sake of simplicity. That's why I didn't add all possible configuration options in the first implementation. If we add a configuration we need to document it and maintain it (and it can be deleted some day and lead to compatibility issue).

I hardcoded the facility to `jbos-logmanager` because the facility field shoul

[2019-12-27 09:48] loicmathieu commented on #6339
@nimo23 application cache is discussed in the following issue: https://github.com/quarkusio/quarkus/issues/3306

It has been decided to go for an annotation based cache and NOT compatible with JCache API.
You can show your interest on this functionality by adding a +1 to the issue and contribute to the discussion :)

If you think that an Apache Ignite extension will be a good addition, you can ope

[2019-12-27 10:00] DiegoNovati commented on #6268
Thank you irenakezic, with your help I was able to move on.

[2019-12-27 10:00] #6268 closed

[2019-12-27 10:10] #6165 closed

[2019-12-27 12:57] maxandersen commented on #6322
This is related To and kinda duplicatIon of #6025 - we can update to templates before that but just be aware a) it will (most likely) break tools maven create plugin when combining "old" platform with new core b) it probably will have to change once extensions can hook into this.

[2019-12-27 13:11] geoand commented on #6322
Thanks for the heads up @maxandersen !

[2019-12-27 14:04] #6264 closed

[2019-12-27 17:15] valones commented on #4481
Is there any way to get the refresh_token? The `/protocol/openid-connect/logout` requires this token as a parameter

[2019-12-27 17:27] zeljkot opened #6349 "@Inject PanacheRepository into @QuarkusTest causes "This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?""
**Describe the bug**

If the class implementing PanacheRepository is injected into @QuarkusTest, the test will throw infamous "This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?"

**Expected behavior**

PanacheRepository implementor is injected and can be used to manipulate entities.

**Actual behavior**

Throws
[code]

**To Reprodu

[2019-12-27 20:53] TheGeekPharaoh opened #6350 "Keycloak Admin Client does not work with Quarkus because it depends on RestEasy 3.x"
**Describe the bug**
A` java.lang.InstantiationError` is thrown when trying to create an instance of `org.keycloak.admin.client.Keycloak` programmatically.

**Expected behavior**
The `org.keycloak.admin.client.Keycloak` instance is created with no exceptions or errors.

**Actual behavior**
The following stack trace occurs:

[code]

**To Reproduce**
I attempt to create a Keycloak client instance li

[2019-12-27 21:05] blsouthr commented on #6336
@loicmathieu  Having more than one application logging to graylog, we identify them by facility and some fields. So we need at least 'facility' and 'additionalFields'. Not sure if any other will be ever needed.

[2019-12-27 22:28] gsmet commented on #6336
This is not exactly right if we properly use the generated documentation. But yes, better add the configuration knobs that are the most useful first.

The ones mentioned by @blsouthr make sense IMHO.

[2019-12-28 00:06] irenakezic commented on #5908
@gsmet could you please check my last commit? Thanks!

[2019-12-28 02:16] marko-lazic opened #6352 "Different Hibernate Naming Strategy"
We should be able to define our own naming strategies like in following article: https://www.devglan.com/hibernate/hibernate-naming-strategy

**Configuration suggestion**
[code]

[2019-12-28 08:13] machi1990 commented on #6336
+1 with @gsmet here. @blsouthr would be interested in contributing a patch to this area? It should be an easy patch and maybe @loicmathieu or myself would be willing to mentor.

[2019-12-28 08:16] machi1990 commented on #6352
Hi @marko-lazic thanks for reporting this.

This seems like a duplicate of https://github.com/quarkusio/quarkus/issues/6346. Can you +1 on the issue to tract attention? thanks.

I am closing this in favour of it.

[2019-12-28 08:16] #6352 closed

[2019-12-28 12:33] gsmet commented on #5908
Sure, I'll have a look later today!

[2019-12-28 13:19] nikospara commented on #4147
Hi @aloubyansky ,

I can see that #3702 is closed, but this is not solved; tried with 1.1.0.Final - apparently the solution for 3702 was incorporated in 1.1.0.CR1.

I have updated the description, shall we reopen this?

Thank you!

[2019-12-28 14:20] aloubyansky commented on #4147
Hi @nikospara,
sorry, reviewing this issue I see that my first assessment of it was not entirely accurate. It's not a duplicate of #3702. They do look identical but their nature is different. This issue should in fact be fixed now but not in 1.1.0. Please see #5464.

[2019-12-28 14:53] geoand commented on #6349
I think this is a duplicate of #1724 but I'll let @FroMage confirm

[2019-12-28 14:55] geoand commented on #6341
It indeed looks like a Maven versioning issue. Quarkus required Maven 3.5.3+

[2019-12-28 14:59] #6342 closed

[2019-12-28 15:22] StefAtMentech commented on #5897
I had this issue also, I fixed it by adding the following to SAM.yaml:
[code]

[2019-12-28 15:51] irenakezic commented on #5908
@gsmet I made changes aligned with your comments

[2019-12-28 16:03] gintsgints opened #6353 "Posgtress driver fail to connect -"
**Describe the bug**
Quarkus project fail to connect to postgress database.

**Expected behavior**
Project starts successfully with PostgreSQL driver.

**Actual behavior**
[code]

**To Reproduce**
1. In project - https://github.com/gintsgints/quarkus-ws, start postgress in docker:
```docker-compose up -d db```
2. start project issuing - ```mvnw clean compile quarkus:dev -Dquarkus.profile=dev```
3.

[2019-12-28 16:29] nikospara commented on #4147
Thank you, @aloubyansky , will keep an eye on it.

[2019-12-28 18:05] gsmet commented on #5908
@irenakezic I added a few additional comments.

Otherwise, I think we are nearly there (except for the thing I need to fix regarding the `ParameterMessageInterpolator`).

[2019-12-28 18:15] gsmet commented on #6346
I changed the title as it's not specific to Panache.

[2019-12-28 18:18] gsmet commented on #6353
You need to properly configure your PostgreSQL server to support password authentication (see the `pg_hba.conf` file).

Also, it's not recommended to use the `postgres` superuser account for a web application, you should create a specific user.

[2019-12-28 18:18] #6353 closed

[2019-12-28 18:27] gsmet commented on #5908
@irenakezic Apart from my comments on the commit, it would be nice to introduce a `defaultLocale` config property and push it to the ValidatorFactory configuration together with the initialized locales. I also added that to my HV PR. Having a test covering it would be nice (the test could be added in the deployment module).

Once you have addressed my last comments, could you squash all your commi

[2019-12-28 20:28] gintsgints commented on #6353
- I can connect to same server with GUI client without problems.
- I know I have to setup own user for production. But for development, imho there should be no problem to use root.

[2019-12-28 20:40] BeneStem commented on #4647
I found a very well suited base image `gcr.io/distroless/base`.

[2019-12-28 20:40] #4647 closed

[2019-12-28 20:51] gsmet commented on #6353
Your client might use a different way to connect to postgres (typically local instead of using a host).

You need to configure your PostgreSQL server to allow TCP connection on localhost (IPv4 and v6) for the user postgres with a password.

Basically, once `psql -h localhost -U postgres -W` works, you will be able to connect with Quarkus.

[2019-12-29 08:50] KaenDagger commented on #5776
I would like to take this issue :)

[2019-12-29 09:27] maxandersen commented on #6322
btw. one thing I just noticed is that qute isn't by default great for java code generation as it interprets any content inside a java statement {}'s as an expression :)

[2019-12-29 09:46] maxandersen opened #6354 "Qute resolution not working as documented in Qute reference guide"
**Describe the bug**
I'm trying to use qute standalone (outside quarkus) and have this code:

[code]

**Expected behavior**
'{className}' should be rendered to 'test'

**Actual behavior**
result in `{className}` being "NOT_FOUND"

What is missing in this ? Derived the above code from the qute reference guide.

[2019-12-29 10:12] gintsgints commented on #6353
:( I can successefully connect with that command. But still quarkus can't.

[2019-12-29 10:48] mklueh commented on #5781
I´m facing the same issue with my multi module project when applying the plugin in the modules build.gradle (not in the root build.gradle)

`apply plugin: 'io.quarkus' `

**Using the "plugins" closure however within the build.gradle of my modules with version 1.1.0-Final is working**

[code]

[2019-12-29 11:41] KaenDagger commented on #1157
Baiscally this compiler would be extension which would provide preconfigured open classes for these annoataions `@ApplicationScoped, @RequestScoped`. This is what AFAIU

[2019-12-29 12:07] geoand commented on #1157
Well basically for the annotations we already configure when we generate a Kotlin project.
Other than that, yes you have the correct idea

[2019-12-29 13:05] KaenDagger commented on #1157
by adding annoations in `all-open` plugin ?

[2019-12-29 13:18] geoand commented on #1157
Exactly.

You can see the ones we add in the pom.xml "template" of the generated Kotlin projects

[2019-12-29 18:08] szprajt opened #6355 "Failing to build native image on windows 10"
Hi!
Tried so many options but still unable to build native image.

Issue:
Created a starter project with gradle. After that tried to run : gradlew buildNative,  this tasks exit without any meaningful message. After using scan got these results back:

[code]

:buildNativeFAILED | 2.805s |  
-- | -- | --
:quarkusBuild | 1.187s |  
:compileJava | 0.249s |  
:processResourcesUP-TO-DATE | 0.006s |  
:j

[2019-12-29 18:16] zeljkot commented on #6349
It could be, but in my case workaround with @PostConstruct does not work. This is a very basic test case so I am a bit worried about usability of the Quarkus platform, especially if the problem is known since March.

[2019-12-29 18:26] geoand commented on #6349
The issue is known and is being worked on as we speak.
The issue is complicated by how junit 5 deals with classloaders, but a solution will be land soon enough.

[2019-12-29 19:40] amcirillo commented on #6344
I also have a project I upgraded to 1.1.0.Final from 1.0.1.Final and I get the same problem described above. Maybe this is a problem in the way I tried upgrading the properties in my pom? I updated two properties,  quarkus.platform.artifact-id and quarkus.platform.version, this is the relevant properties section in my pom:

`<properties>
    <compiler-plugin.version>3.8.1</compiler-plugin.version>

[2019-12-29 19:49] zeljkot commented on #6349
It would be amazing if you crack this, as Arquillian or other complicated solutions will not be needed anymore.

[2019-12-29 19:54] zeljkot commented on #5401
Would making a Quarkus extension out of library help?

[2019-12-29 19:55] geoand commented on #6349
@stuartwdouglas is working in it IIRC

[2019-12-29 19:58] stefan-langenmaier opened #6356 "panache does not find UUID fields"
**Describe the bug**
[code]

**Expected behavior**
the above `findByUuid` method returns a Session object when searched for a previously persisted Session

**Actual behavior**
always returns null

**To Reproduce**
Steps to reproduce the behavior:
1. persist session object
2. try to retrieve it by uuid
3. no object could be retrieved, it returns null

**Configuration**
[code]

**Environment (please

[2019-12-29 20:05] amcirillo commented on #6344
I think I figured out my initial problem. When I first tried to upgrade to version 1.1.0.Final there was not yet a new version of the quarkus-maven-plugin. I now see in maven central that version 1.1.0.Final of the plugin has been released. After adjusting my properties to include this new version of the plugin my build gets past the initial problem mentioned above, but now I am running into other

[2019-12-29 20:26] JBertaux commented on #6311
How can we build until the release 1.2.0 will be published ? 😊

[2019-12-29 20:27] gsmet commented on #6344
@amcirillo  The Maven plugin is published exactly at the same time as the rest of the artifacts Quarkus artifacts. This is not the case of the universe bom that came significantly later this time as we had to wait for another release of Camel Quarkus.

We haven’t changed anything that could break in a Maven project so please open a separate issue with whatever you experience. It’s something entire

[2019-12-29 20:31] gastaldi commented on #6311
Downgrade to 1.0.0.Final until the next release comes up.

[2019-12-29 21:22] szprajt commented on #6356
This uuid is your primarykey ?

[2019-12-29 21:25] stefan-langenmaier commented on #6356
No, I use the primary key `id` provided by `PanacheEntity`. This is an additional field. I want to make it unique. I tried to reduce the example as much as possible.

[2019-12-29 23:14] szprajt commented on #6356
Yeah, just asked due PanacheEntityBase is the way to override it as a primary.
However tried to reconstruct this problem and same happened with me too.
But it looks like for me MariaDB specific error if i need to guess due lack of UUID column types.
Because i tried with H2 too and with that finding based on UUID properly worked so it's only occur in databases where specific UUID column type not ex

[2019-12-29 23:52] gsmet commented on #6311
FWIW I’m thinking about releasing a 1.1.1 at the beginning of next year.

[2019-12-30 06:20] JBertaux commented on #6311
When I downgrade to `1.0.0.Final` I have the same issue as this one #5781.
[code]

[2019-12-30 08:46] loicmathieu commented on #6356
Did you try with `uuid.toString()` ?

[2019-12-30 11:06] gastaldi commented on #6311
That's because the Gradle config changed. Check the Migration guide for
more details

Em Seg, 30 de dez de 2019 03:20, JBertaux <notifications@github.com>
escreveu:

[2019-12-30 11:07] gastaldi commented on #6311
Migration guide link: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.1#gradle-plugin

[2019-12-30 11:26] stefan-langenmaier commented on #6356
Hi @loicmathieu ,

not sure if I understand your question correctly. At the moment I use `public String uuid;` for the field/column and treat it like a varchar/text column. So I can workaround the issue.

If you wanted to know if I tried `return find("uuid", uuid.toString()).firstResult();` then no, I haven't tried this, but as I saw from the type of the database column (`BINARY`) it didn't make s

[2019-12-30 12:01] sberyozkin commented on #4448
@pedroigor Hi Pedro, sorry I've missed this comment. As noted in your PR, the way you've done the resolution from the application properties based on the tenant id idea loos very good IMHO.

Re the configuration as an object, can [MultiTenantHandler](https://github.com/vert-x3/vertx-web/pull/1398/files#diff-7c105f6d214bca719528dad0d93b8e07R46) help ? Or do you have something different in mind ?

[2019-12-30 12:22] gastaldi commented on #6341
It would be nice if the plugin could enforce the maven version before executing it

[2019-12-30 12:39] Betlista commented on #4005
In regards to SOAP client mentioned above #3479

[2019-12-30 12:50] gastaldi commented on #6354
It works for me, the last line
[code]

Prints:

[code]

[2019-12-30 12:54] maxandersen commented on #6354
Running outside quarkus with render configured as outlined above?

[2019-12-30 12:54] gastaldi commented on #6354
Yes

[2019-12-30 12:56] gastaldi commented on #6354
This is the main class I used to run it:

[code]

[2019-12-30 13:56] berkyvz opened #6360 "Quarkus can't be build after adding Mapstruct in Gradle."
**Describe the bug**
I have a quarkus project with gradle and I want to use mapstruct on it. After adding mapstruct dependency, it begins to giving exception on build step. I also try it on maven and it works properly.
I have reference project in https://github.com/muratkarakas/mapstruct-examples-quarkus.

**Expected behavior**
It should be build in gradle same as in maven.

**Actual behavior**
[c

[2019-12-30 14:51] machi1990 commented on #6360
I have not investigated this but @gastaldi @geoand looks like your Gradle know-how is needed here :-)

[2019-12-30 15:08] gastaldi commented on #6346
I could have a stab at it if @Sanne agrees on having a predefined list of supported naming strategies

[2019-12-30 15:11] gastaldi commented on #6360
I'll have a look but it looks like your project is not configured to use Gradle 6.0.1? https://github.com/muratkarakas/mapstruct-examples-quarkus/blob/master/gradle/wrapper/gradle-wrapper.properties#L3

[2019-12-30 15:14] gastaldi commented on #6360
Here is the full stacktrace for the record:

[code]

[2019-12-30 15:15] gastaldi commented on #6360
Ignore that statement, it doesn't impact the build. It seems to be something else

[2019-12-30 15:16] geoand commented on #6360
I'll be able to check in a few days if needed

[2019-12-30 15:18] gastaldi commented on #6360
The build.gradle is wrong for running MapStruct on Gradle, it should look like: https://github.com/mapstruct/mapstruct-examples/blob/master/mapstruct-on-gradle/build.gradle

[2019-12-30 15:27] gastaldi commented on #6360
Closing as invalid. Applying the following patch file to the repository fixes the problem:

[code]

[2019-12-30 15:27] #6360 closed

[2019-12-30 16:00] gastaldi commented on #6360
Steps:
1) Change build.gradle to:
[code]
2) Move NativePersonResourceIT to `src/native-test/java`

[2019-12-30 21:01] maxandersen commented on #6354
yours work for me too...closing as something else must been messing it up.

[2019-12-30 21:01] #6354 closed

[2019-12-30 22:09] gsmet commented on #6353
That is indeed strange. But our unit tests are exercising that so I don't see how it could be Quarkus failing.

Do you see something in the PostgreSQL server logs? Usually, it explains what is going wrong.

[2019-12-30 23:16] irenakezic commented on #5908
@gsmet I created a pull request. Could you please review it?
Note that I still need to update the quarkus-bom/pom.xml once HV release is ready.

[2019-12-31 05:04] gintsgints commented on #6353
I see no logs on docker. Probably need to investigate more for logs.

But I agree, this is not quarkus who is guilty one. Because I found other framework failing with Postgres driver too. Thanks.