[2020-08-09 21:16] patriot1burke commented on #11262
Please read:

https://quarkus.io/guides/funqy-amazon-lambda-http

[2020-08-09 22:37] mrbahr2003 opened #11293 "Native SSL Support for Spring Cloud Config for Native Images"
Quarkus has native SSL support with many if its different extensions.  However, not fir Spring Cloud Config where it is truly needed for native images.

I can think of two solutions.  1) allow a pluggable HTTP client that supports SSL out-of-the-box, or 2) Change to an HTTP client that already support it.

Thanks for your consideration.

[2020-08-09 22:46] mrbahr2003 opened #11294 "Transactions for MongoDB with Panache"
**Description**
MongoDB has multi-document ACID transactions and has for some time.  This has come in handy in many of our use cases.  Please add transaction handling to the Panache add-on.

**Implementation ideas**

A couple of ideas.

1) Allow for the passing of a MongoSession when performing any of the Panache CRUD actions.  If you look at frameworks like MongoJack and Morphia, they allow the p

[2020-08-09 23:57] ThomasSousa96 opened #11295 "Intermittent NullPointerException when use hibernate with context propagation"
**Describe the bug**
Using hibernate and context propagation with `ManagedExecutor` occur an intermittent NullPointerException. I runs this code and sometimes it runs with success but other time it fail.

**Expected behavior**
No throw NullPointerException

**Actual behavior**

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. A common bean

[code]

2. A bean that delegate the work to

[2020-08-10 05:19] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/202014158

[2020-08-10 05:19] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/202013618

[2020-08-10 06:47] evialle commented on #10323
For those interested, I solved that issue with that filter on Quarkus 1.6.1:

`package fr.vstudios.leclick.front;

import org.jboss.resteasy.plugins.providers.multipart.InputPart;

import javax.ws.rs.container.ContainerRequestContext;
import javax.ws.rs.container.ContainerRequestFilter;
import javax.ws.rs.ext.Provider;

@Provider
public class CharsetInterceptorFilter implements ContainerRequestFil

[2020-08-10 07:30] loicmathieu commented on #11287
/cc @evanchooly

[2020-08-10 07:34] loicmathieu commented on #11294
There is a prototype PR here: #10097

We're still in the design process of transaction support for non-RDBMS database and reactive database so this is still a draft for now.

[2020-08-10 07:51] Sanne commented on #11295
Hi, thanks for reporting!
We probably need to improve the error detection, but I wouldn't say this to be a valid usage: you can't use an EntityManager in a different thread than the one which created it as it's a managed component, which in turn manages several resources (such as the connection in this case).

from checking the ORM code, it looks like that to trigger this specific NPE we'd need a

[2020-08-10 08:36] gsmet commented on #9183
@absurdfarce @adutra I'm a bit worried about the failure. Could you have a look? I wonder if it's an issue with the driver or something we broke in Quarkus.

[2020-08-10 09:36] ia3andy commented on #11256
It seems this issue is also related: https://github.com/quarkusio/quarkus/issues/11096

[2020-08-10 09:42] gunnarmorling opened #11297 "Open application in browser when working on web app in dev mode"
When starting up a Quarkus web app in dev mode (when the quarkus-resteasy-qute extension is present), the app's landing page should automatically be opened in the system default browser, akin to e.g. _yarn start_. An optional property might make sense to either always open it (i.e. also for pure REST apps) or opt-out completely.

[2020-08-10 09:49] loicmathieu commented on #11297
What can also be done is, on hot reload, reload the brower page (not open a new tab).
This will need some more work, it is usually done like this (I can provide some code sample):

- Create a websocket
- Inject a JS script that connect to this socket
- On hot reload, trigger an event that will be propagated to the browser via the websocket
- On the browser, when the event is received, reload the p

[2020-08-10 09:52] quintesse commented on #9338
My first idea was to use [Quarkus S2I builders](https://github.com/quarkusio/quarkus-images) together with the [Tekton S2I Task](https://github.com/tektoncd/catalog/tree/master/task/s2i/0.1) but unfortunately two issues prevent that from working right now:

 1. The Quarkus S2I images use non-standard paths. Now this is certainly allowed by the spec but no other images do this. I opened [an issue t

[2020-08-10 10:00] gunnarmorling commented on #11297
Yes, that'd be a great next step!

[2020-08-10 10:01] Sanne commented on #11295
I've pushed this change to Hibernate ORM:
 - https://github.com/hibernate/hibernate-orm/commit/212ba0fb33088949770fc59ca1bb954383dcde92

Wondering if Quarkus would be able to preven this in a better way.

[2020-08-10 10:07] gsmet commented on #11297
Hot reload is triggered by the browser request.

[2020-08-10 10:14] loicmathieu commented on #11297
@gsmet today yes, but we can auto-reload the page on file change (and this will trigger the hot reload of the apps).
This is what nodejs does.
This is just an idea ...

[2020-08-10 10:19] loicmathieu opened #11299 "Add documentation and quickstart for Funqy HTTP for Google Cloud Functions"
**Description**
We have a Google Cloud Functions HTTP binding so we should be able to use Funqy HTTP.

The only missing part are:

- Testing that it works (as it's theorical) ;)
- Adding documentation
- Adding quickstart

[2020-08-10 11:09] maxandersen commented on #9338
@quintesse shouldn't it be more straightforward to just run mvn build directly - skipping the whole s2i completely ? We can't use s2i for native image anyway.

[2020-08-10 11:15] gsmet commented on #11264
@antonwiens I **think** splitting it in 2 specific methods and moving the test to the processor might be sufficient to fix the issue. Would you like to give it a try?

[2020-08-10 11:35] antonwiens commented on #11264
I'll give it a try.

[2020-08-10 11:41] #11275 closed

[2020-08-10 11:45] quintesse commented on #9338
Well it seemed more straightforward to use a task that already existed for a builder image especially made for Quarkus

Why not? There's a special builder image for native builds

[2020-08-10 12:19] quintesse commented on #9338
Ok, it's the option for generating the Dockerfile. The task doesn't actually let S2I the building, it just asks S2I to generate a Dockerfile and then delegates building to `buildah`. It's that generated Dockerfile that has the wrong paths.

[2020-08-10 12:19] gsmet commented on #11288
I confirm we have a bug. I created https://github.com/quarkusio/quarkus/pull/11300 to fix it.

Will get it in 1.7.1.

[2020-08-10 12:46] famod commented on #11253
Reproducer is up! See updated issue description.

[2020-08-10 12:51] famod commented on #11295
@Sanne I am actually a bit surprised that this usage scenario is not supported?
I mean, the EM is _not_ (directly) injected into the bean that is using the executor.
TBH, given all the "laziness" that is usually happening during CDI injection, I also would have expected that this scenario should just work...
What would be the "right" way to do it?

[2020-08-10 12:52] gsmet commented on #11253
@aloubyansky @michalszynkiewicz I let you have a look at the reproducer?

[2020-08-10 13:01] Rutzzzz opened #11301 "Nested configuration class with Confiuration suffix does not work"
While standalone Configuration classes annotated with @ConfigProperties can have both -Config and -Configuration suffixes, nested configuration classes seem to accept only -Config suffix.

**Expected behavior**
I would expect that nested classes can have -Configuration suffix, same as standalone classes.

**Actual behavior**
Configuration suffix cannot be used (java.lang.NoSuchFieldError is thrown

[2020-08-10 13:11] ia3andy opened #11303 "Improve robustness of our devtools Gradle code"
**Description**
I was rebasing #9353 with recent fix from @gastaldi #11253, when I just stopped because it was too much for me to take in, the problem is not with @gastaldi or @mgorniew contribution which are great, our Gradle Devtool code is just too messy in its root. You can find most of it in `AbstractGradleBuildFile`. This is really too fragile: add a space to a build.gradle and it doesn't wo

[2020-08-10 13:13] Sanne commented on #11295
The problem I see in the code above is that the EntityManager is being created in one thread (the one requesting the injection) and then _that one single EntityManager_ is passed to N threads to be used. The EntityManager is not threadsafe.

I'm not familiar with context propagation (so perhaps there's a better way to do this) but the way I'd do this myself is to pass the _EntityManagerFactory_ to

[2020-08-10 13:15] famod commented on #11253
FWIW, I am almost certain that the problem is caused by `CodeGenMojo` more or less blindly adding `generated-sources` source root, which already exists due to the MapStruct generation:
- https://github.com/quarkusio/quarkus/blob/master/devtools/maven/src/main/java/io/quarkus/maven/CodeGenMojo.java#L105-L109
- https://github.com/quarkusio/quarkus/blob/master/devtools/maven/src/main/java/io/quarkus/

[2020-08-10 13:19] patriot1burke commented on #11299
Might want to consider adding a codestart.  See:

https://github.com/quarkusio/quarkus/pull/11243

Will be able to remove the maven archetypes soon!

[2020-08-10 13:21] tsegismont commented on #10095
@marziman please share a minimal reproducer

[2020-08-10 13:22] galderz opened #11304 ""Resource bundle not found sun.util.resources.TimeZoneNames" error during native execution"
The [debug info](https://github.com/galderz/debug-info) sample app fails with Quarkus master and Mandrel 20.1 branch with:

[code]

[Longer stacktrace](https://gist.github.com/galderz/00b9567c85049f8f737dd0c105d4b078).

It's unclear yet what's the cause of this, whether removal of include all timezones (see https://github.com/quarkusio/quarkus/commit/7666f6c022 and related), or whether some other

[2020-08-10 13:22] patriot1burke commented on #11297
I hate this idea...

But if its going to happen, you should add metadata to the catalog so that extensions should state whether they open a browser or not.  For instance, a resteasy app or anything else that is probably a REST service app should not open up a browser.  REST manual dev testing is usually done through Postman or other similar tools.

[2020-08-10 13:27] famod commented on #11295
Ok, I can see it now: All `Bar` instances are resolved _outside_ of `runAsync()` and therefore each `@RequestScoped` `Bar` instance is associated to the "original" request/thread, but not the respective `ManagedExecutor` thread(s).

So either each `Bar` instance would have to do the executor handling on its own or the lookup of each `Bar` instance has to be deferred to `runAsync()`.
But let's see

[2020-08-10 13:29] patriot1burke commented on #11297
@loicmathieu 's idea should be a separate issue as that is actually an interesting improvement.  Instead of hot reload being triggered by a request, dev mode should just automatically hot reload on a file change.

[2020-08-10 13:29] zakkak commented on #11222
I was able to reproduce this on Fedora and confirm that building on bare metal produces a working binary, while building with the image results in the reported failure.

[2020-08-10 13:29] patriot1burke commented on #11297
Instead of opening a browser, why not just write a link to the console instead?  At least on zsh, you can open the link directly by clicking the console.

[2020-08-10 13:33] gastaldi commented on #11096
Maybe I am missing something, but we could define the `quarkus.native.build-image` property in the _pom.xml_ directly?

[2020-08-10 13:43] absurdfarce commented on #9183
@gsmet There haven't been any commits to the cassandra-quarkus repo in August so I don't think it's coming from our side.

That test sets the Netty event loop for the Java driver to whatever it gets from Quarkus.  That's accessed via the following bit of code:

[code]

It then just runs a query (presumably using that event loop) and checks to see whether the name of the thread that ran the query m

[2020-08-10 13:44] maxandersen commented on #11297
its actually a nice feature we don't hot reload on file change - at least for java classes.

could be interesting for other resources, like index.html - but yes; separate issue.

[2020-08-10 13:48] Sanne commented on #11295
Exactly, @famod ; this is a violation of the ORM contracts. We could close the issue, but I'm not sure if "context propagation" is in some way suggesting that this should be doable.

And ideally I'd hope we could detect such cases and provide a better error message - I've included a small improvement in ORM but I don't think it's effective enough, as it will only trigger in rare conditions (and pr

[2020-08-10 13:53] evanchooly commented on #11287
Good catch.  I thought there were tests for that.  I'll check/add those.

[2020-08-10 14:11] mkouba commented on #11301
CC @geoand

[2020-08-10 14:24] gsmet commented on #9183
Not really. @stuartwdouglas does it ring a bell?

[2020-08-10 14:39] maxandersen commented on #11256
Suggestion:
 - we add "metadata" to platform.json.
 - add keys for:
    - application-properties
    - maven-repos
    - etc.
 - for 1.7.x only add these metadata in redhat universe/platform.
consequence:
 - 1.7.0 will fail on platform.json with metadata, but not a big concern if we only do it for red hat universe.

Codegeneration:
  - choice between doing this in codestarts or good old gen:
    -

[2020-08-10 14:43] aloubyansky commented on #11256
i'd say
[code]

[2020-08-10 14:55] maxandersen commented on #11256
example:

[code]

[2020-08-10 15:08] machi1990 commented on #10022
# Context
Quarkus is able to automatically generate configuration values from code source by doing annotation scanning.
The generated docs are then further processed to ouput a html file which we display in our website. For example this page https://quarkus.io/guides/all-config contains the varous configuration values for extensions in the Quarkus repo.

# Issue

The issue here is that, when a con

[2020-08-10 15:21] GustavoGramajo commented on #6133
@hartimcwildfly Does it mean that i should write my own extension? Will i still be able to also print to the console?

[2020-08-10 15:37] bmstbroadcom opened #11305 "Bazel Standalone Build"
**Description**
This was already proposed in #3741.

**Implementation ideas**
I tried creating a standalone program using two approaches, but from what I can tell they do the same. The main code is this:

[code]

or, the second approach, switching the `QuarkusMakerModelResolver` to actually have the dependencies, removing the `builder::addAdditionalApplicationArchive` and `builder::addAdditionalDe

[2020-08-10 16:32] galderz commented on #11222
The container image does not seem to be configured with the right encoding, by default it seems to have `file.encoding = ANSI_X3.4-1968`. That would appeear to be `US-ASCII` because when I tried to compile java source code containing japanese characters and it failed with:

[code]

Changing the locale of the container image would be the sensible thing to do. If that doesn't work or its not possibl

[2020-08-10 16:39] galderz commented on #11222
Setting the following in docker might work:

[code]

I'll check how to do the equivalent with CEKit, but it's quite clear this is an issue for quarkus-images really. I'll create an issue there shortly and close this one.

[2020-08-10 19:15] #11288 closed

[2020-08-10 20:32] gastaldi commented on #11253
@famod if you run with `mvn compile quarkus:dev` it should work. I think the problem is here:

https://github.com/quarkusio/quarkus/blob/1d754b269b63c6509be81422cb5a641f7b28e910/devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java#L271-L273

[2020-08-10 20:38] famod commented on #11253
@gastaldi

Yeah, I know that it can be mitigated by specifying `compile` explicitly (see "Additional context").
But since that works without a problem in 1.6.1.Final and before, the new prepare goal is most likely the culprit (AFAICS).

[2020-08-10 20:41] patriot1burke opened #11309 "Better error message when already exists"
When you run the codestart from maven and the directory already exists it gives a big long stack trace.  This should be cleaned up so that only an error message is generated and not the big stack trace.  Should look into other places where errors are thrown and not spit out a stack trace.

[2020-08-10 20:59] gastaldi commented on #11253
Perhaps one solution would be to run `clean compile` instead of just `compile`or simply nuking `generated-sources` before invoking the `compile` mojo

[2020-08-10 21:01] cbeust opened #11310 "Could not create an instance of Tooling API implementation using the specified Gradle distribution 'https://services.gradle.org/distributions/gradle-6.5.1-all.zip'."
**Describe the bug**

[code]

produced the following error

[code]

**Expected behavior**

The application should start.

**Actual behavior**

The application doesn't start.

**To Reproduce**

Using Gradle 6.5.1 on Windows 10. Haven't uploaded this project to github yet but can do if necessary.

**Configuration**
[code]

**Environment (please complete the following information):**

Windows 10

[co

[2020-08-10 21:11] gastaldi commented on #11253
I opened https://github.com/quarkusio/quarkus/pull/11311 which seems to fix the issue, let me know if there is a case where this wouldn't work

[2020-08-10 21:35] mageddo opened #11313 "Constructor injection in JAX-RS Resource using OpenApi Annotations causes RuntimeException"
**Describe the bug**
JAX-RS resources which have constructor injection and contains openapi annotations causes RuntimeException, this issued is related to #10430

**Expected behavior**
Constructor injection also work like the field injection.

**Actual behavior**
On startup:
Caused by: java.lang.RuntimeException: RESTEASY003190: Could not find constructor for class: xx.xxx.IncidentResource

**To R

[2020-08-10 21:44] parkee opened #11314 "Failed to inject redis client"
**Describe the bug**
I'm trying to inject Redis client into grpc service and get an error.
[code]
Error:
[code]
I guess that's related to the scope being `@Singleton` instead of `@ApplicationScoped` because in other places where I have `ApplicationScoped` annotation it works just fine. But I guess no choice, but to use `Singleton` for grpc services.

Quarkus version: 1.7.0.CR2

**Expected behavior

[2020-08-10 23:09] EfraimLA commented on #10437
Do you have some example with `CASE` clause?
Yes i've found nothing in Hibernate Forum but i think should create an issue or comment this theme but so doesn't exist another solution that u know?

Thanks for answer

[2020-08-11 04:54] jaikiran commented on #11304
Slightly related - (given that stacktrace) I still think that this should be added as a resource bundle by Graal VM itself, for reasons noted here in a similar issue https://github.com/oracle/graal/issues/2005

[2020-08-11 05:19] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/203523425

[2020-08-11 05:34] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/203522799

[2020-08-11 05:55] galderz commented on #11222
Closing this since it's not a Quarkus issue per se. See https://github.com/quarkusio/quarkus-images/issues/86 to follow progress on fix.

[2020-08-11 05:55] #11222 closed

[2020-08-11 06:11] cbeust commented on #11310
Was hoping to do some clean up but since a few people have already asked me for details on Twitter, here is how to reproduce. Apologies for the poor shape of the code, but it's transitioning from Micronaut to Quarkus so it still kind of a hybrid (although I've commented out everything Micronaut related):

- Clone this:  https://github.com/cbeust/cedlinks
- Check out the branch "quarkus"
- `./gradl

[2020-08-11 06:24] rsvoboda commented on #11222
The issue is still present until the image is fixed and used by quarkus main code base.
It's like any other component, the issue in Quarkus remains open until the component gets updated.
I'm for keeping this open, @gsmet what's your position on this?

[2020-08-11 06:42] glefloch commented on #11310
Thanks for reporting this one. Is it working when running `quarkusDev` tasks ?

[2020-08-11 06:58] albert0815 opened #11315 ""Exception thrown during asynchronous load" when using quarkus-cache and quarkus-hibernate-validator"
**Describe the bug**
When using service validation on a method and also use caching on that service method an exception is written to the log.

**Expected behavior**
No exception is written to the log.

**Actual behavior**
Something like this exception is written to the log:

[code]

**To Reproduce**
In the pom.xml add:
[code]

Create a service like this:
[code]

Create a ServiceRequest POJO with

[2020-08-11 07:10] machi1990 commented on #11314
Hi @parkee thanks for reporting the issue. Do you have a reproducer so that the team can have a look?

I'd need @mkouba inputs on this as it look CDI related (maybe from the way the Redis client bean was setup).

[2020-08-11 07:52] loicmathieu commented on #10437
Hi, you can find an example here: https://thorben-janssen.com/hibernate-tips-how-to-customize-a-constructor-expression-for-different-subclasses/

Can we close this issue ? I don't think we can do something on our side.

[2020-08-11 08:12] ia3andy commented on #11309
I would say it's an enhancement and not a bug :)

[2020-08-11 08:13] ia3andy commented on #11303
@mgorniew would you like to contribute to this, it seems you have a good vision of the Gradle code?

[2020-08-11 08:50] ia3andy opened #11317 "test Codestarts auto issue labeller"
cc @maxandersen

[2020-08-11 08:52] hartimcwildfly commented on #6133
Yes you have to write your own extension. And you are still able to use other log handlers.

[2020-08-11 08:52] asodja opened #11318 "Gradle Test fixtures do not work when Running Unit tests with IntelliJ"
**Describe the bug**
This issue is related to #11144. So in #11144 test-fixtures started working when running tests with Gradle from command line, thank you for fixing that.

When running Unit tests from IDE with IntelliJ runner the problem still exists. It looks like test fixtures are really annoying little feature. :)

[code]

I updated my reproducer to 1.7.0.Final: https://github.com/asodja/qua

[2020-08-11 08:52] #11317 closed

[2020-08-11 08:54] asodja commented on #11318
I tried to workaround this by moving test fixtures to a separate module. So I moved code from test-fixtures to a separate module to production code (main folder) and used module as `testImplementation` in my desired module. But I get similar error.

[2020-08-11 09:15] debae opened #11320 "Add JDBC extension for Presto"
**Describe the extension**

Presto is a distributed SQL query engine designed to query large data sets distributed over one or more heterogeneous data sources. It can be accessed from Java using the JDBC driver.

https://prestosql.io/docs/current/installation/jdbc.html

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**

Most

[2020-08-11 09:24] asodja opened #11321 "Gradle with IDE: Cache Gradle App Model when running from IntelliJ"
**Description**
Currently when running Unit Tests or start Quarkus from IntellIj Quarkus connects to Gradle every time to recreate an App model. This can result in startup times similar (or worse) to when using Gradle directly. Some observations can be found here: #10961.

It would speed up test runs if app model would be cached similar to how it is cached for Maven builds when running from IDE. I

[2020-08-11 09:31] mgorniew commented on #11303
@ia3andy Sure, I will try to refactor/improve this code. Should I rebase #9353 first?

[2020-08-11 09:53] ia3andy commented on #11303
@mgorniew I think it could less work to merge after the refactor, but up to you :)

[2020-08-11 09:58] tnmtechnologies commented on #10669
Thanks for your last question.
I went deeper into the code and I found that warnings disappeared when I cleaned up the dependencies.

Initially they were :
[code]
When I removed the `quarkus-hibernate-validator` dependency, warnings at runtime disappeared.

Now in the source code, main dependencies are about package `javax.validation.*`.
So, the first reaction would have been to remove `quarkus-re

[2020-08-11 10:01] ia3andy commented on #11303
Example to render a Qute template (data is a nested `Map<String, Object>`):
[code]

https://quarkus.io/guides/qute-reference

[2020-08-11 10:08] ia3andy commented on #11256
@aloubyansky @maxandersen minor detail, will the `application-properties` be received as `Properties` or `Map<String, String>`?

[2020-08-11 10:08] gsmet commented on #10669
Well, I asked for some code reproducing the issue. Either you provide that or we won't get to the bottom of it.

[2020-08-11 10:11] maxandersen commented on #11256
There are no properties here. Just maps.

[2020-08-11 10:16] tnmtechnologies commented on #10669
Here is the source code

[code]

[2020-08-11 10:38] aloubyansky commented on #11256
application-properties are supposed to be <String,String> though. So, imo, it depends what you prefer @ia3andy

[2020-08-11 10:40] parkee commented on #11314
Hi @machi1990
Not yet, but I can try to prepare one in 1-2 days if needed.

[2020-08-11 10:42] machi1990 commented on #11314
Sure, that would be really helpful in trying to understand what's going on.

[2020-08-11 11:29] aloubyansky commented on #11310
quarkusDev starts w/o errors.

[2020-08-11 12:10] sebitit opened #11323 "@Nested (Junit5) associated with @QuarkusTest causes an UnsatisfiedResolutionException"
**Description**
An `UnsatisfiedResolutionException` will be thrown when a test class is annotated with `@QuarkusTest` and implements inner test classes in connection with `@Nested` (Junit5).

**Actual behavior**
The relevant dump of the stack trace (via `mvn clean verify`):
[code]

**Steps to reproduce the behavior**
1. Checkout https://github.com/quarkusio/quarkus-quickstarts/tree/master/tests-wi

[2020-08-11 12:23] jamesobrooks opened #11324 "quarkus-jdbc-mssql brings in a version of adal4j that doesn't work with Azure SQL Server AD Password Authentication"
Version 1.6.3 of adal4j causes a 'String cannot be cast to List' exception while attempting to parse the token while connecting to Azure SQL Server via AD Password Authentication.

**Expected behavior**
The token should be parsed properly and user should Authenticate or not correctly.

**Actual behavior**
The token fails to parse and health/ready check responds with the following:
[code]

Stack Tr

[2020-08-11 12:34] gsmet commented on #11324
@Sanne do you think we could consider upgrading Adal4j in Quarkus?

[2020-08-11 12:54] Postremus commented on #8868
Was not able to reproduce this anymore on current quarkus versions, closing this for now.
Thank you for your help anyway!

[2020-08-11 12:54] #8868 closed

[2020-08-11 13:21] Postremus opened #11325 "Hibernate no active session in hashcode() of lazy loaded collections"
**Describe the bug**
My entities have the following structure:
parent
-- list of childs
---- list of childs childs

All relations are lazy.
I defined equals and hashCode methods on all my entities.

When hibernate tries to load the bottom most list of childs ("list of childs childs") during hashcode checking, it has no active session.
My class has `@Transactional(Transactional.TxType.REQUIRES_NEW)

[2020-08-11 14:30] #11264 closed

[2020-08-11 14:47] etonzera opened #11329 "Change in the vault bootstrap between version 1.5.X and 1.6.X"
**Describe the bug**
I think there was some significant change in the bootstrap and in the order of priority of loading files and classes between version 1.5.X and version 1.6.x. Because when trying to use the vault by configuring the properties file to use the kube's configMap settings in version 1.6.1-final, quarkus does not seem to understand both the configMap variables and the environment var

[2020-08-11 15:09] antonwiens commented on #10888
I think the field tlsManagerProvider should be split in keyTlsManagersProvider and trustTlsManagersProvider, so you can specify stores seperatly in [SyncHttpClientConfig](https://github.com/quarkusio/quarkus/blob/master/extensions/amazon-services/common/runtime/src/main/java/io/quarkus/amazon/common/runtime/SyncHttpClientConfig.java).

Similar to [this](https://github.com/quarkusio/quarkus/blob/ma

[2020-08-11 15:21] gsmet commented on #10888
/cc @marcinczeczko

[2020-08-11 15:22] gsmet commented on #10888
@antonwiens sure, I would say you could start by implementing it. We have a few tests around implementing trust stores but it might not be easy to test them with the Amazon infrastructure.

If we don't break the current behavior and you can check manually things work, that would be good enough as a first step.

[2020-08-11 15:23] gsmet commented on #11329
/cc @vsevel

[2020-08-11 15:30] Sanne commented on #11325
Hi @Postremus , it's illegal to attempt to lazily load any data from a disassociated entity. You should either choose to not trigger an incovation on "hashcode" on unmanaged entities, or attach them to a session first, or implement hashcodes which don't need unloaded data. Personally I'd recommend to change the hashcode implementation, it's not a good idea to have your entities mutate hashcode bas

[2020-08-11 15:46] Postremus commented on #11325
Hey @Sanne,
The entity is attached to a session. The session (transaction) is also still open in this situation, since I'm
first loading the entity (em.find), and then modifiying it.
I add a new child entity into the lazy loaded childs HashSet.
This happens all in the `org.acme.ExampleService.runSchedule` method.

I also never call the hashcode function myself.
It is only called by the hashset bac

[2020-08-11 16:15] aloubyansky commented on #11270
@famod just fyi, i'm working on a fix here https://github.com/aloubyansky/quarkus/commit/8f1b33fdbf0b8e6444caa8c83ae9a7da9c1669f9 with this commit the tests pass. But the dev mode isn't working. I haven't yet looked why.

[2020-08-11 16:17] Sanne commented on #11325
sorry, in that case I misunderstood your description. Let's reopen :)

[2020-08-11 16:25] Sanne commented on #11324
I'm not sure, we should explore this.

I had to severely trim the dependency tree of this driver - knowingly disabling Azure specific integrations - to make it work in native image.

We could have a second look as supposedly things could be simpler now after nearly 2 years of GraalVM improvements, but the amount of dependencies of this driver also concerns me in terms of dependency convergence: we

[2020-08-11 16:25] Sanne commented on #11324
cc/ @n1hility ^

[2020-08-11 16:31] cbeust commented on #11310
Indeed, `quarkusDev` stars with no errors.

[2020-08-11 17:22] inf0rm4tik3r opened #11330 "Database connections are leaked while using the MySQL XA driver."
**Describe the bug**
Connections to a MySQL 5.7 database were not closed properly.
At some point our Quarkus application could not properly handle a request. MySQL threw a "Connection limit reached" exception.

**Expected behavior**
Connections are not leaked.

**Actual behavior**
Connections were leaked (probably). At many points in time were more maximum connections open than defined through qua

[2020-08-11 17:39] mahieddine opened #11332 "Bundle message function name generated when using params is honoured only for the message key having a parameter in it's arguments and not for the other message keys"
**Describe the bug**
Bundle message function name generated  when using params is honoured only for the message key having a parameter in it's arguments and not for the other message keys

e.g let's say i have this message bundle

[code]

In my template

hello.html

[code]

this will generates an error for the second key saying this

[code]

if you change the html to this

[code]
It will work henc

[2020-08-11 17:41] gsmet commented on #11332
/cc @mkouba

[2020-08-11 18:25] Sanne commented on #11325
I've been debugging this, and I confirm it's an Hibernate issue. Was working on a fix, but found HHH-13380 now as a possible duplicate.

[2020-08-11 19:42] ivanjunckes opened #11333 "Build error - The class java.util.Observable is not inside the Jandex index"
**Describe the bug**
Trying to update from 1.3.1.Final to 1.6.1.Final but getting a build error:
[ERROR]         [error]: Build step io.quarkus.hibernate.orm.panache.deployment.PanacheHibernateResourceProcessor#validate threw an exception: java.lang.IllegalStateException: io.quarkus.builder.BuildException: Build failure: The class java.util.Observable is not inside the Jandex index

**Expected beh

[2020-08-11 20:38] gwenneg commented on #11315
Thanks for reporting this issue @albert0815! I'll take a look at it.

[2020-08-11 21:27] #11253 closed

[2020-08-11 21:51] famod commented on #11330
Not really my field of expertise, but consulting the [datasources docs](https://quarkus.io/guides/all-config#quarkus-agroal_quarkus.datasource.jdbc.transactions) I noticed that you have set:
[code]
instead of
[code]
https://quarkus.io/guides/datasource#quarkus-agroal_quarkus.datasource.jdbc.transactions

`quarkus.datasource.transactions` (without the `jdbc` infix) doesn't seem to exist at all: htt

[2020-08-11 22:18] famod commented on #11323
@sebitit Unfortunately, `@Nested` is (still) not supported. See #4393 for more details.

@stuartwdouglas In #4409 an explicit and descriptive exception was introduced for this case, but it was removed by the big classloader change:
https://github.com/quarkusio/quarkus/commit/b67491c1ffe76248d5f01bc3e29be94c2cdd56a4#diff-985ca913dc620dcf2e54fd5e2b62a2bfL417
Do you remember why? Seems we should brin

[2020-08-11 22:21] gwenneg commented on #11315
I've identified the cause of this issue and prepared a fix, but I need #11271 to be merged first (which shouldn't take long). I'll submit a PR for this one after that.

[2020-08-12 05:18] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/205045718

[2020-08-12 06:04] uberto commented on #10894
I've updated to 1.6.1 and added source location in the gradle files

now
`./gradlew launcher:quarkusDev`

launch the dev mode:

[code]

but unfortunately the browser page is still empty and "waiting for response"

[2020-08-12 07:35] galderz commented on #11304
@jaikiran Thx for the pointer. I'm debugging this as we speak and not yet sure the cause. but I'll keep that in mind.

I've narrowed down [this simple native image example](https://github.com/galderz/mendrugo/tree/master/timezones) to fail with a Mandrel snapshot from 6th August (see [here](https://gist.github.com/galderz/c82c6c480e0185488d44bc6d53dfdcc0)). Works fine with GraalVM 20.1.0 and Mandr

[2020-08-12 07:41] galderz commented on #11304
It's clear though this is not an issue with Quarkus, so I'll be closing this shortly and opening a bug elsewhere.

[2020-08-12 07:50] galderz commented on #11304
Seems to work fine with Mandrel 20.1.0.1.Final though. So, either some fix in between 6th August and Final fixed it, or I'm building snapshots wrong, or this is a random occurrence. Closing for now.

[2020-08-12 07:50] #11304 closed

[2020-08-12 08:19] albert0815 opened #11336 "When using MongoClient in ConstraintValidator Quarkus fails to start"
**Describe the bug**
Implementing a ConstraintValidator using a ApplicationScoped bean which tries to inject a MongoClient leads to Quarkus not being able to start anymore ("Error running Quarkus: java.lang.reflect.InvocationTargetException").

**Expected behavior**
Quarkus should start, the MongoClient should be injected in the Validator and it should be possible to use it.

**Actual behavior**
T

[2020-08-12 08:31] loicmathieu commented on #11336
/cc @geoand this has something to do with the way the MongoDB client is built.

[2020-08-12 08:47] sdaschner commented on #6094
Any updates on this? Happy to help, btw.

[2020-08-12 09:00] mkouba opened #11337 "Failures when accessing uninitialized RUNTIME_INIT synthetic beans during STATIC_INIT"
Recently, there were several issues following the same pattern:

1. An extension **A** provides a _RUNTIME_INIT_ synthetic bean for type `Foo`
   - such a bean is initialized during the _RUNTIME_INIT_ bootstrap phase
   - see also `io.quarkus.arc.deployment.SyntheticBeanBuildItem.ExtendedBeanConfigurator.setRuntimeInit()`
2. An extension **B** initializes a CDI component `Bar` during _STATIC_INIT_

[2020-08-12 09:01] mkouba commented on #11314
I think that the problem is that `Vertx` (which is a dependency of `RedisAPIProducer`) is initialized at runtime whereas the `grpc` components are initialized during `STATIC_INIT`. @michalszynkiewicz is that correct? Is there a particular reason to init the `grpc` endpoints during STATIC_INIT?

If we want to fix this we would have to change the beans produced by `RedisAPIProducer` to `@Application

[2020-08-12 09:02] albert0815 opened #11338 "Allow for applying groups when validating on service method"
**Description**
When using bean validation it is possible to apply groups to constraints which are annotated on fields or classes. When doing the validation it should be possible to define which group should be valided. Let me give one example: If I have a entity class it depends on the operation whether I want the id to be null or not. If it is an update I need to have the id populated (so I can

[2020-08-12 09:09] Sanne commented on #11325
https://hibernate.atlassian.net/browse/HHH-13380 is fixed now, this will be fixed by #11231

[2020-08-12 09:10] Sanne commented on #11231
Changed the title to 5.4.21 as we'll likely skip 5.4.20

[2020-08-12 09:13] gsmet commented on #6094
Well, it's normal the injection point is null. Your CV is just not a bean.

If you want to give it a shot, we would need something similar to: https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java#L335 in the Hibernate Validator extension to add a scope automaticall

[2020-08-12 09:17] sdaschner opened #11340 "JSON-B type adapter can't inject CDI beans"
When I inject a CDI bean in a `JsonbAdapter`, the instance is `null` and will fail with an NPE without further notice. As specified in the JSON-B spec (JSR 367) `4.7.1`, this injection should work.

See the following reproducer:

[code]

[code]

Tested with Quarkus version `1.7.0.Final`. It seems to be a similar issue like in #6094.

[2020-08-12 09:25] harthorst opened #11341 "@InterceptorBinding based annotation disables ReST validation"
**Describe the bug**
1) I have a rest Interface "IGreetingResource" which defines a method annotated with @Valid and @Size
2) there is a rest controller "GreetingResource" which implements "TestApi" annotated with @Override

Validation works like expected unless I add a custom annotation to GreetingResource. That annotation itself is marked with @InterceptorBinding. Validation is not executed anym

[2020-08-12 09:29] inf0rm4tik3r commented on #11330
@famod
We used quarkus.datasource.transactions=xa before. But you are correct, it seems we were missing the jdbc part in the key. We did not yet really used XA transactions, so we could target the normal JDBC driver easily. We did not encounter any other problems other than the connections not being closed. Could this behaviour have arisen from the missing (correct) quarkus.datasource.jdbc.transac

[2020-08-12 09:29] gsmet commented on #11340
I think it would work if you added a scope annotation to your adapter.

It's indeed the same issue as the one you reported with HV. I'm not sure it's a good idea to add scope annotations automatically everywhere via annotation transformers. @mkouba WDYT?

[2020-08-12 09:36] Sanne commented on #11330
@barreiro Could this relate to Agroal not detecting XA connection leaks like it does with regular connections?

[2020-08-12 09:39] mkouba commented on #11340
I'm not sure either. I think that for JAX-RS providers we only add `@Singleton` if the class contains `@Inject` or a qualifier annotation.

[2020-08-12 09:47] gsmet commented on #11340
Yes, that's probably what we would do here too (I think I would also consider the lifecycle annotations).

My question was more: do we want to install this type of mechanism for each potentially injected resources? I don't think we can generalize as the default scope might be different.

In other words: is making what looks like CDI beans CDI beans automatically for all the types that could potent

[2020-08-12 10:01] loicmathieu commented on #10873
@geoand adding the following `reflection-config.json` file works so yes, the issue is that the `java.lang.String` type is not registered for reflection.

[code]

Here is my test entity:
[code]

And here is my test resource:
[code]

I would expect as the `Pojo` class has an `Optional<String>` field and is taken as paratemer from my endpoint that the resteasy extension would register `Strong` for re

[2020-08-12 10:03] mkouba commented on #11340
I think that could we generalize the _tools_, i.e. there could be a higher-level API instead of annotation transformer. But even then an extension would have to produce some kind of build item anyway. I don't think that we should do this for all classes automatically.

[2020-08-12 10:13] gsmet commented on #11340
Yeah a build item taking a list of classes and a default scope would be nice.

[2020-08-12 12:16] geoand commented on #10873
Yeah, that sounds true

[2020-08-12 12:31] gsmet commented on #10873
We exclude most of the `java.lang` types if not all.

[2020-08-12 12:34] gsmet commented on #11101
I wasn't able to reproduce this one when trying so let's wait for 1.8 and see.

[2020-08-12 12:39] loicmathieu commented on #10873
The `Pojo` class is correctly registered for reflection with it's fields.
But GraalVM when it registers the `Optional` type didn't register the parameter type of the `Optional` (here the `String` class).

I don't know if we can do something about it, and if it's an issue on GraalVM side or on our side.

For the moment I found a workaround by registering String for reflection from my Pojo Class via

[2020-08-12 12:41] gsmet commented on #10873
As I said, it's us not registering the `java.lang` types when registering the hierarchy for reflection.

[2020-08-12 13:05] gsmet commented on #11333
I suppose you have an entity which references java.util.Observable somehow? Care to share some code?

[2020-08-12 13:05] anujgupta1601 opened #11347 "Native Build Failing"
Hi,

I am using quarkus in my applications, it works fine in dev mode using jar, now I am trying to build a native image.
I am getting RuntimeException: Image generation failed. Exit code: 1

Attaching detailed logs here:
[log.txt](https://github.com/quarkusio/quarkus/files/5062819/log.txt)

What am I missing? Any help would be much appreciated.
Thanks in advance!

[2020-08-12 13:12] #11332 closed

[2020-08-12 13:32] ia3andy opened #11348 "Introduce `ensure-only-one: name` to example codestarts"
**Description**
Until we resolve this at extension level, we need to make sure that some example codestarts of different implementation of a feature (that would collide if used together) is handled

This issue was raised by @patriot1burke in https://github.com/quarkusio/quarkus/pull/11243

**Implementation ideas**

We could add a new field in `codestart.yml`:
[code]

If more than one `funqy` is se

[2020-08-12 13:36] mkouba commented on #11314
Hm, I looked at the stack trace again and it's really weird. The gRPC endpoints are actually created during [RUNTIME_INIT](https://github.com/quarkusio/quarkus/blob/1.7.0.Final/extensions/grpc/deployment/src/main/java/io/quarkus/grpc/deployment/GrpcServerProcessor.java#L81-L91), and the `Vertx` instance should be available at that time (because this build step depends on `VertxBuildItem`).

[2020-08-12 13:36] loicmathieu commented on #10873
@gsmet didn't find this in the code of resteasy or on core deployement steps related to registering types for reflection ...

Looking at the code inside `NativeImageAutoFeatureStep` I saw that fields types are registered for reflection, but when the type of a field is generic I don't see the type parameter of this generic type being registered for relfection.

[2020-08-12 13:52] gsmet commented on #10873
https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/ReflectiveHierarchyBuildItem.java#L98

[2020-08-12 13:53] rsvoboda opened #11349 "Multiple traces in Native mode instead of one trace with multiple spans like in JVM mode"
We see multiple traces in Native mode instead of one trace with multiple spans like in JVM mode. Using Quarkus 1.7.0.Final, GraalVM 20.1 JDK11 based.
This issue was Identified using https://github.com/quarkus-qe/quarkus-openshift-test-suite, I created a standalone application which doesn't need OpenShift cluster - https://github.com/rsvoboda/tracing-sample

The expected behavior for Native mode is

[2020-08-12 14:00] loicmathieu commented on #10873
@gsmet thanks, adding `java.lang.String` to the `WHITELISTED_FROM_IGNORED_PACKAGES` of `ReflectiveHierarchyBuildItem` fixes the issue.

Should I provides a PR for this ?

[2020-08-12 14:02] aguibert commented on #10273
Yasson 1.0.8 is released this morning and we should be seeing a PR from dependabot within the next 24 hours

[2020-08-12 14:54] itboy87 opened #11351 "Redis client throw null exception on get"
**Describe the bug**
(Describe the problem clearly and concisely.)

Getting null pointer exception when key not exists with following code:
[code]
[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to reproduce the behavior:
1. above code provided

**Configuration**

[2020-08-12 14:59] pavolloffay commented on #11349
It seems that the MP-RestClient (https://github.com/rsvoboda/tracing-sample/blob/master/src/main/java/org/acme/getting/started/ClientResource.java#L26) in the native mode is not instrumented with tracing. This results in a broken trace and missing span for the rest client.

MP-OpenTracing TCK covers this use case however I am not sure if Quarkus runs the TCK in the native mode.

[2020-08-12 15:03] pavolloffay commented on #11349
This class https://github.com/smallrye/smallrye-opentracing/blob/master/implementation/src/main/java/io/smallrye/opentracing/SmallRyeRestClientListener.java#L14 should enable tracing in the MP-RestClient.

Can somebody from Quarkus core team have a look at what is broken in the native mode?

[2020-08-12 15:11] TheVidAllMayThe commented on #11160
I'm facing the same issue with RabbitMQ + AMQP 1.0 pluggin.

[2020-08-12 16:17] machi1990 commented on #11314
Yeap, just checked this fact. Current the RedisProcessor does not make use of `VertxBuildItem`, do you think that could be related ?

Sure. Let me prepare a PR for this.

[2020-08-12 16:23] gastaldi commented on #11256
Outcome from the Zulip conversation:

[2020-08-12 16:32] EfraimLA commented on #10437
Yes, i'll look for more information about those methods

I close issue, thanks!

[2020-08-12 16:32] #10437 closed

[2020-08-12 16:51] Sanne commented on #11320
There's also a PR to support it in Hibernate ORM:
 - https://github.com/hibernate/hibernate-orm/pull/3496

[2020-08-12 17:06] gsmet commented on #10873
I don't know. I don't understand why Yasson would work with a plain String and bail out on String reflection for an `Optional<String>`. It doesn't sound normal to me.

[2020-08-12 17:20] murphye commented on #8605
https://github.com/oracle/graal/issues/2620

[2020-08-12 19:18] absurdfarce commented on #9183
Was there a specific change that resolved the last build failure?

[2020-08-12 19:21] gsmet commented on #9183
No. We didn't change a thing (which worries me a bit tbh).

[2020-08-12 20:07] janmaterne commented on #10790
@Delay sounds best jo me.
But you could also support returning future objects.

[2020-08-12 20:22] gavinking commented on #10790
Why is this a good thing to use annotations for? Is it really the case that "10 seconds" is always a hardcoded value and never something that is calculated from information defined elsewhere?

This, naively at least, looks to me like another example of an API designed before Java and higher-order functions.

[2020-08-12 20:28] gavinking commented on #10790
What I mean is, it's like the `Cacheable` annotation for memorization: it's perhaps defensible as a convenience sugar for something defined primitively as an API, but it shouldn't itself be the source of the primitive definition of the behavior.

[2020-08-12 21:48] jclingan opened #11358 "Rest Client Kubernetes service discovery"
**Description**
MicroProfile Rest Client's @RegisterRestClient uses either an annotation parameter (baseUri) or config property to point to the backend REST service's location. On Kubernetes, this can be determined by looking up the backend REST service's Kubernetes Service object using the Kubernetes Client API, which contains exposed ports, IP addresses, etc.

**Implementation ideas**
A couple o

[2020-08-12 22:26] famod commented on #11341
FTR, the reproducer is using Quarkus 1.6.1.Final. Upgrade to 1.7.0.Final doesn't change anything.

@gsmet I debugged this and one problem seems to be located here: https://github.com/quarkusio/quarkus/blob/master/extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/MethodValidatedAnnotationsTransformer.java#L81

Since `GreetingResource.greeting()` _does

[2020-08-12 22:44] famod commented on #11341
And the problem with `@Valid` and 500 vs. 400 is caused by the fact that the interface method (`IGreetingResource.greeting()`) is considered a JaxRs method, but not the method in teh actual resource class (`GreetingResource.greeting()`):
https://github.com/quarkusio/quarkus/blob/master/extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/MethodValidated

[2020-08-13 00:33] sachinsudhi opened #11359 "[Bug] Exception Handling when switching leader nodes using neo4j scheme"
- Neo4j version: Enterprise 3.5.8
- Neo4j Mode: Cluster
- Driver version: Quarkus 1.6.0.Final with neo4j-driver 4.0.1
- Operating system: Mac OS 10.16

- **Steps to reproduce**
- Expected behavior: Recover from node when the leader node is restarting with a WRITE Query.
- Actual behavior: Causing an exception before recovering.

Full Exception Stacktrace

WARNING [LoadBalancer] (Neo4jDriverIO-3-9)

[2020-08-13 03:43] #10273 closed

[2020-08-13 04:03] juanmbellini opened #11361 "Missing mockito-junit-jupiter in quarkus-junit5-mockito"
**Description**
The `io.quarkus:quarkus-junit5-mockito` testing extension depends on `io.quarkus:quarkus-junit5` and `org.mockito:mockito-core`. I think that it should also depend on `org.mockito:mockito-junit-jupiter` as this library is the one containing classes to make mockito work with the jupiter api (e.g here lives the MockitoExtension, for instance).

**Implementation ideas**
Add the follow

[2020-08-13 04:09] juanmbellini commented on #9884
I have a similar issue. In my case, when running a `QuarkusTest` which is also extended by the `HoverflyExtension` it throws a `com.thoughtworks.xstream.converters.ConversionException`.

Following the `QuarkusTestExtension#runExtensionMethod` code with the debugger I realized that when trying to inject the `Hoverfly` object to the test method, it tries to apply serialization to it:

[code]

[2020-08-13 05:43] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/206568770

[2020-08-13 07:15] rsvoboda commented on #11349
@gsmet who is the best candidate for `Can somebody from Quarkus core team have a look at what is broken in the native mode?` ?

[2020-08-13 07:46] ppalaga commented on #305
https://quarkus.io/guides/kubernetes-config is a sufficient fix and this issue can be closed IMO.

[2020-08-13 07:50] #11351 closed

[2020-08-13 08:00] loicmathieu commented on #10873
If I understand correctly how Yasson handle Optional<String>, it creates new serializer / deserializer for the Optional value type and uses these, so normaly it should use the String Serializer / Deserializer that is used by the String attribute (the other attribute of my Pojo class). So it should work.

See https://github.com/eclipse-ee4j/yasson/blob/master/src/main/java/org/eclipse/yasson/intern

[2020-08-13 08:05] #10583 closed

[2020-08-13 08:13] #11249 closed

[2020-08-13 08:14] Ladicek opened #11362 "ambiguous resolution for @Inject @ConfigProperty OptionalInt"
**Describe the bug**
When use MP Config injection with an `OptionalInt` type, like this:

[code]

I get an error when I try to run the app (be it `mvn quarkus:dev`, running a test or just `mvn clean package -DskipTests`):

[code]

**Expected behavior**
Injecting `@ConfigProperty OptionalInt` works.

**Actual behavior**
Injecting `@ConfigProperty OptionalInt` doesn't work.

**To Reproduce**
Steps t

[2020-08-13 08:27] Ladicek commented on #11362
I _think_ I found the issue: this method https://github.com/quarkusio/quarkus/blob/9a0ce74485/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java#L184-L203 is out of sync with SmallRye Config's `ConfigProducer`. I'll submit a PR.

[2020-08-13 08:34] #5776 closed

[2020-08-13 09:04] FroMage commented on #11295
No, CP exists for the use-cases of propagating contexts that work on multiple threads provided that:

- Either the context is accessed concurrently but not in parallel (reactive use-case)
- Or the context is thread-safe and can be accessed in parallel (`runAsync` for example)

You can exclude contexts by creating your own `ManagedExecutor` and specifying that you want all contexts cleared if you i

[2020-08-13 09:12] gsmet commented on #6094
@sdaschner once https://github.com/quarkusio/quarkus/pull/11350 is in, could you make the same thing for `ConstraintValidator` and add a test?

Thanks!

[2020-08-13 09:13] gsmet commented on #5882
This has been fixed for a long time now.

[2020-08-13 09:13] #5882 closed

[2020-08-13 09:21] gsmet commented on #11341
@famod  You're right there's something fishy in the AnnotationsTransformer: the logic is flawed.

The issue was introduced here: https://github.com/quarkusio/quarkus/commit/45f875bd1c4b651f7a43617012a4a2c2ae786895 . The empty test used to be a shortcut but the new logic is definitely incorrect.

[2020-08-13 09:46] gsmet commented on #11341
@famod given you debugged the thing, would you like to try fixing it? The idea is to get it fixed sometime next week to get it in 1.7.1.Final. If you don't have the time, I'll give it a shot.

[2020-08-13 09:52] galderz commented on #11304
This is now being tracked in https://github.com/graalvm/mandrel/issues/106.

[2020-08-13 10:13] abutic commented on #11149
@aguibert, we were under the impression that reconnection would take place whenever a network problem arises, no matter if it's the first time we're connecting to a database or later, with a successfully established connection. But that doesn't seem to be the case.

We did a simple test, setting the properties like this:
[code]
We then directed our reactive datasource to connect to a port that not

[2020-08-13 10:37] tnmtechnologies opened #11365 "ResteasyCommonProcessor no-argument constructor warning when this constructor exists"
**Describe the bug**
During quarkus-maven-plugin processing, this warning is displayed
[code]
The class *NullPointerExceptionMapper* owns a no-argument constructor which is not consistent with the warning.

**Expected behavior**
No warning

**Actual behavior**
The warning is displayed during quarkus-maven-plugin processing and could lead to confusion.
No runtime issue.

**To Reproduce**
The concer

[2020-08-13 10:50] Ladicek opened #11366 "@ConfigProperties system doesn't know anything about Optional{Int,Long,Double}"
**Describe the bug**
I'm looking at the code of the `@ConfigProperties` system (`io.quarkus.arc.deployment.configproperties`), and I noticed that it has many special cases for `Optional`, but nothing about `Optional{Int,Long,Double}`. These should be treated equivalently, as they are in MicroProfile Config.

(Perhaps there's no special casing needed for them? I don't know. I know there are no `Opt

[2020-08-13 10:55] Ladicek opened #11367 "@ConfigProperties system doesn't allow using @ConfigProperty on class fields, only on interface methods"
**Describe the bug**
If I use the `@ConfigProperties` annotation on an `interface`, I can customize config property names for the interface methods using the `@ConfigProperty` annotation.

I expect to be able to do the same for a `class` annotated with `@ConfigProperties`, but `ClassConfigPropertiesUtil.populateConfigObject` says `'@ConfigProperty' is ignored when added to a field of a class annot

[2020-08-13 11:08] mgorniew commented on #11303
@ia3andy I've look at code and wonder if need *Creator classes at all. They are currently used only used by CreateProjectCommandHandler to add additional dependencies during project bootstrapping. There is already "TODO" comment there to move this to project generation templates. So I would like to remove those classes entirely and for gradle add additional dependencies in ftl templates. Not sure

[2020-08-13 11:20] ia3andy commented on #11303
I started a discussion on zulip to explain..

[2020-08-13 11:29] j-be opened #11368 "Hibernate Envers `store_data_at_delete` doesn't work in `prod` builds"
**Describe the bug**
I'm using Hibernate Envers on top of Quarkus `1.6.1.Final` with `store_data_at_delete` set in `hibernate.properties`. It works fine in the Profiles `dev` and `test`, but in `prod` it doesn't work - it is as if it wasn't there, even though I see the following at startup:
`2020-08-12 17:55:41,082 INFO  [org.hib.cfg.Environment] (main) HHH000205: Loaded properties from resource h

[2020-08-13 11:42] antonwiens commented on #10801
I create a similar issue some time ago: #5584

[2020-08-13 11:50] Ladicek commented on #11366
@radcortez says special casing for `Optional` is needed for figuring out the type argument, which obviously isn't necessary for `Optional{Int,Long,Double}`. So this might be an invalid issue.

[2020-08-13 11:55] famod commented on #11341
@gsmet Ok I'll try. I might need some guidance on how to get hold of the MethodInfo of the interface (to check for JaxRs annotations) but in that case I'll open a Zulip topic.

[2020-08-13 11:55] evacchi commented on #8694
[code]

I propose we disable those tests for now @mariofusco

[2020-08-13 11:57] gsmet commented on #11341
Let's fix one issue at a time I would say. Open a PR for the easy one (with a test) and then we can discuss the second one. I'm around so you can just ping me anytime :).

[2020-08-13 12:09] radcortez commented on #11366
Yes, we still need your PR here: https://github.com/quarkusio/quarkus/pull/11363, to make sure the additional Optional types are handled by the ConfigProducer.

Of course, we should add some tests to `@ConfigProperties` and make sure it plays nice. I believe it should work OOTB.

[2020-08-13 12:19] Ladicek commented on #11366
I think the test failures I've seen were all caused by #11367. Using `OptionalInt` worked fine when used on an interface (because I used `@ConfigProperty`), and would probably also work on a class if I had a corresponding config property.

So we can close this one, at least for now.

[2020-08-13 13:02] janmaterne commented on #10496
I think the @Path annotation makes that pojo to an ApplicationScope CDI-bean.
Therefore you could inject other beans with the same scope via constructor.
For method invocation the object is reused. Values of fields could be updated, but the constructor is not called.
So the CDI runtime could detect that and creates an error.

[2020-08-13 13:05] haraldatbmw commented on #10875
Just retested with Quarkus 1.7.0.Final with same problem.

[2020-08-13 13:13] shireenmagdy commented on #8543
Is there any updates on this issue?
@csotiriou

[2020-08-13 13:17] antonwiens opened #11370 "Gradle Plugin not working if module does not have main sourceSet"
**Describe the bug**
Quarkus Version: 1.7.0.Final
Quarkus Gradle fails building the application because the plugin scans the workspace and retrieves the "main" sourceSet of all modules, but there is no "main" sourceSet in some modules.

For example: I have kotlin MPP submodules where there is a javaconvention but the javaconvention has no sourceSets.

**Expected behavior**
Should not fail.

**Actu

[2020-08-13 13:18] andersonbfn commented on #2835
Any feedback about when this feature will be available? This is a blocker for me too.
I was trusted in the good recommendations about Quarkus, but seeing that still having problems like too long time.

[2020-08-13 13:20] antonwiens commented on #11370
This is actually making 1.7 not usable for our projekt. I can offer to help to fix this issue.

[2020-08-13 13:22] gastaldi commented on #11370
@antonwiens that would be great, we can make it in time for 1.7.1.Final then

[2020-08-13 13:23] #11366 closed

[2020-08-13 13:27] gastaldi commented on #11370
I think it makes sense to ignore modules with no main sourceSet, option 2 in your list

[2020-08-13 13:28] antonwiens commented on #11370
Okay, i am on it

[2020-08-13 13:36] janmaterne commented on #11198
I think issue 10212 is related to this.

[2020-08-13 13:41] gsmet commented on #11349
No idea :). @kenfinnigan usually organizes the effort regarding the REST Client.

/cc @phillip-kruger too

[2020-08-13 13:50] ashish82 opened #11371 "Native-Image Failed | java.lang.RuntimeException: Image generation failed. Exit code: 1"
**Describe the bug**
Hi,
I am using quarkus in my applications, it works fine in dev mode using jar, now I am trying to build a **native image**.
**I am getting RuntimeException: Image generation failed. Exit code: 1**

Attaching detailed logs here:
[debug-log.txt](https://github.com/quarkusio/quarkus/files/5069420/debug-log.txt)

What am I missing? Any help would be much appreciated.
Thanks in ad

[2020-08-13 13:59] geoand commented on #11367
Yeah, this was intentional, but I don't remember why.

I'll need to go think about it again when I get back

[2020-08-13 14:07] tsegismont commented on #11149
Hi @kostacasa @abutic , I am a Vert.x core team member and maintainer of Reactive SQL clients extension in Quarkus.

As @aguibert said, the `vertx-mysql-postgresql-client` is deprecated in Vert.x 3 and it is not the client that Quarkus integrates.

Quarkus integrates the Vert.x Reactive Clients for [PostgreSQL](https://vertx.io/docs/vertx-pg-client/java/), [MySQL](https://vertx.io/docs/vertx-mysql

[2020-08-13 14:09] tsegismont commented on #11149
Please reopen the issue if you need the `reconnect-attempts` and `reconnect-interval `options to be exposed at the reactive datasource config level.

[2020-08-13 14:18] janmaterne commented on #10212
[code]

The Launcher provides a uniform API for interacting with a command mode application.
That launcher must be configured - most important: which class to start?

Multiple ideas:

1. Automatic
Searches the current classpath (project) for a class annotated with
`@io.quarkus.runtime.annotations.QuarkusMain`. Fail if there are more than one.

2. Specify the start class

[code]

3. Specify the who

[2020-08-13 14:23] famod commented on #2835
@andersonbfn groundworks have just started. The plan(!) is to release initial support with 1.8 (September).

[2020-08-13 14:38] evanchooly commented on #11287
`singleResult` was documented incorrectly.  everything else looks correct.

[2020-08-13 14:40] kostacasa commented on #11149
Thanks @tsegismont, this is useful context.

Rather than constantly playing a catch-up game with exposed Quarkus application.properties and the capabilities that the underlying drivers support, perhaps a better approach would be to expose the ability to configure the PgPool/PgConnectOptions programatically at instantiation time, similar to how the jackson ObjectMapper can be configured.

@aguibert

[2020-08-13 14:41] abutic commented on #11149
@tsegismont, thanks for getting back to us!

We don't use deprecated `vertx-mysql-postgresql-client`, so no worries there.

We use Vert.x Reactive Client for PostgreSQL and we'd like to be able to:

1. try reconnecting to a database if the first attempt fails
2. control the intervals between reconnection attempts
3. set client connection idle timeout, i.e. make a client disconnect from a database

[2020-08-13 14:58] FroMage commented on #11164
Personally I would have gone with a custom entity superclass.

Otherwise, JPA and ORM support interceptors, listeners and events: https://docs.jboss.org/hibernate/orm/current/userguide/html_single/Hibernate_User_Guide.html#events-jpa-callbacks

If we must, we could model MongoDB after this, because it looks simple enough to use. Not sure how complex it would be to support it, though.

[2020-08-13 15:55] #11287 closed

[2020-08-13 16:07] jclingan opened #11377 "Detect Kube remote development live-reload endpoint automatically"
**Description**
This is similar to issue #11358 as a means to improve developer joy but applies to remote development. When the remote-development target is Kubernetes, Quarkus should be able to determine the live-reload remote endpoint automatically. More specifically, the command should be similar to:
`mvn quarkus:remote-dev -Dquarkus.live-reload.[minikube|openshift|kubernetes]=true`.

**Impleme

[2020-08-13 16:17] absurdfarce commented on #9183
Yeah, that seems... weird.

[2020-08-13 16:19] #11270 closed

[2020-08-13 16:21] manovotn opened #11378 "Allow to autogenerate no-args constructor for synthetic beans"
**Description**
Currently we add no-args constructors for producers and beans backed by classes. For synthetic ones, we don't do that. There can be cases where a synthetic beans needs to be proxied (if you give it normal scope such as `@ApplicationsScoped`) and then it matters whether the class has no-args constructor or not. There are some limitations of course - this could only be done if the be

[2020-08-13 16:25] jclingan opened #11379 "remote development auto-pod-restart on Kubernetes Deployment changes"
When using remote development, sometimes I make application.properties Kubernetes config changes that would normally generate updated YAML on a rebuild (Adding ConfigMap configuration dependency, adding/modifying liveness/readiness probes, etc). This means the developer either has to redeploy the application or manually apply the updated deployment yaml (target/kubernetes/*.yml) for the pod to res

[2020-08-13 16:25] #11340 closed

[2020-08-13 16:39] jclingan opened #11381 "remote development restart pod on configmap change"
**Description**
When using remote development in the context of Kubernetes, ConfigMaps is a preferred means of defining application properties using the quarkus-kubernetes-configmap extension. When Live Coding with remote development, modifying a ConfigMap is pretty typical. It would spark developer joy if remote development would restart the application pod on a ConfigMap change so the applicatio

[2020-08-13 16:48] jclingan opened #11382 "Configurable remote development reconnect retries"
**Description**
When running remote development with the backend on Kubernetes, the retry attempts to stop before I want them to (30 seconds? 10 attempts?). Sometimes it takes longer than the default number of retry attempts. It would be good to make this configurable, either by a time allotment (`quarkus.live-reload.retry-time=30s`), by attempts (`quarkus.live-reload.retry-attempts=30`), and/or b

[2020-08-13 16:57] aguibert commented on #11149
for (3) you can solve that with `quarkus.vertx.eventbus.idle-timeout`

For (4) as @tsegismont and I mentioned previously, there are the TCP-level options to retry and TCP-level failures that may occur. However, there are not any options for higher level failures than that. If your application gets a DB-level I/O failure I think it would be dangerous to have a global setting to automatically retry

[2020-08-13 17:11] famod commented on #10303
_Update_: My changes were merged into xstream master but since 1.5 seems to take more time, I've created another PR against the 1.4 branch.
The maintainer of xstream said he might have time to release another 1.4 (1.4.12.1?) with my workaround at the beginning of September.

[2020-08-13 17:36] abutic commented on #11149
@aguibert So, is it right to say that `java.io.IOException: Connection reset by peer` is a result of TCP-level failure you're mentioning? And having `NetClientOptions`' `reconnectAttempts` and `reconnectInterval` properties set could save as from that kind of troubles with reactive postgresql driver? Of course, provided that a retry was successful.

As for (4), you're right, we don't want to retry

[2020-08-13 17:52] gsmet commented on #11149
Yeah, I think we should expose these properties in the Quarkus config.

[2020-08-13 18:48] abutic commented on #11149
@aguibert and @tsegismont, this is my test scenario:

1. set `quarkus.vertx.eventbus.idle-timeout` property value to 5000 and start an app with `mvn quarkus:dev`
2. trigger a request that results in connecting to database and executing a query
3. leave an app at rest

Based on your reply, I expected that a reactive client would disconnect from DB after 5 seconds of inactivity, but that wasn't the

[2020-08-13 19:12] hosseinmp76 commented on #10602
I updated my project to 1.7.0 and I still have this problem. now in the BootstrapAppModelFactory class in createBootstrapMavenContext method in line 211 projectPom is null and in line 216 the BootstrapMavenContext constructor returns null.

[2020-08-13 19:48] radcortez commented on #10982
Hi @MadinaS,

The issue you were facing is the same reported here: https://github.com/quarkusio/quarkus/issues/10570. Updating to Quarkus 1.6.1 should fix your issue.

I've tested it in your second repro project and it does work. For now, I'm closing the issue. Please, let me know if you need anything else.

[2020-08-13 19:48] #10982 closed

[2020-08-13 19:49] radcortez commented on #305
Great!

[2020-08-13 19:49] #305 closed

[2020-08-13 20:05] 38leinaD opened #11385 "@WebFilter: Annotation and and definition in web.xml should be merged"
**Describe the bug**
I have a servlet filter without an explicit url mapping:

[code]

And i have a web.xml with a mapping:

[code]

**Expected behavior**

Both configs should be merged; web.xml should have priority. And thus, the build should accept this filter and configure an url-pattern of "/blah/*"

This is how it works in many other servlet containers to my knowledge.

**Actual behavior**

T

[2020-08-13 20:06] 38leinaD opened #11386 "Webfilter: Annotation and web.xml configs should be merged"
**Describe the bug**
I have a servlet filter without an explicit url mapping:

[code]

And i have a web.xml with a mapping:

[code]

**Expected behavior**

Both configs should be merged; web.xml should have priority. And thus, the build should accept this filter and configure an url-pattern of "/blah/*"

This is how it works in many other servlet containers to my knowledge.

**Actual behavior**

T

[2020-08-13 20:14] rquinio opened #11387 "KStreams shutdown - TimeoutException: The AdminClient thread is not accepting new calls"
While upgrading to 1.7.0.Final I noticed a side-effect of #9967 in a corner case.

I believe this happens in a QuarkusTest without an embedded Kafka broker (so KafkaStreams is still in step waitForTopicsToBeCreated), which shuts down after JUnit test has completed.
The AdminClient is closed (https://github.com/quarkusio/quarkus/blob/master/extensions/kafka-streams/runtime/src/main/java/io/quarkus/

[2020-08-13 20:15] 38leinaD opened #11388 "Align Maven and Gradle classpath-generation in MANIFEST.MF"
**Description**
I have multiple times seen issues where gradle behaves differently to maven because the classpath in the MANIFEST.MF of the runner jar is ordered differently between gradle and maven. It would be nice if this could be aligned.
Ideally, classpaths should be the same/have the same order.

[2020-08-13 20:17] 38leinaD commented on #10189
I think https://github.com/quarkusio/quarkus/issues/11388 is essential for beginners to be able to use gradle safely. Without it Gradle users will experiencing problems that maven users have not seen before and thus might frustrate them quickly.

[2020-08-13 20:19] 38leinaD commented on #11388
As an example, the myfaces extension pulls in a different Expression language implementation/api than comes with quarkus core. It worked without problems on maven because by accident the myfaces version was on the classpath first. For gradle, it crashed on startup.
You can read more about it here: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/JSF.20.26.20Expression.20Language

[2020-08-13 20:45] 38leinaD commented on #11297
this is basically what i have in my extension: https://github.com/38leinaD/quarkus-livereload-extension
its just missing the initial opening of the browser which should be quiet simple.
what i am doing though, is start an own filewatcher on a seperate thread. was already wondering back then, if there already is a mechanism like this i could piggyback on....

[2020-08-13 22:05] maxandersen commented on #11388
do you have a reproducer by any chance ?

[2020-08-13 23:31] mahieddine opened #11390 "Template extension generating java.lang.NoClassDefFoundError"
**Describe the bug**
I'm trying to play with the template extension feature, so I created a sample template extension like this

TemplateExtension.java

[code]

In my template i have this

hello.html

[code]
but keep getting NoClassDefFoundError xxx/TemplateExtensions

**Expected behavior**
I was expecting to get a "hello quarkus"

**Actual behavior**
I'm getting a  NoClassDefFoundError xxx/Templa

[2020-08-14 03:42] jaikiran commented on #11388
Hello @38leinaD, Do you mean, multiple different jars have the same classes that end up in the classpath of the jar MANIFEST?

[2020-08-14 05:08] 38leinaD commented on #11388
@jaikiran Yes

You should be able to easily reproduce it with the myfaces example.
Add "org.apache.myfaces.core.extensions.quarkus:myfaces-quarkus:2.3-next-M3" to the standard quarkus starter projects for gradle and maven from https://code.quarkus.io/.

When building (mvn package & gradle quarkusBuild), there should be tomcat-jasper-el and jakarta.el on the classpath in the MANIFEST.MF. Both conta

[2020-08-14 05:21] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/208092699

[2020-08-14 05:41] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/208093288

[2020-08-14 06:52] alievrenkut opened #11391 "REST Data with Panache paging parameters should be visible at Swagger/OpenAPI"
**Description**
I created a PanacheEntityResource and generated OpenAPI description but pagination parameters are not visible to Swagger so I can not give pagination parameter from Swagger UI. I also generated Typescript API from it using swagger-typescript-api. I can not see paging parameters from Typescript side too.

Could you add necessary info at RestDataResource?

[2020-08-14 07:21] jaikiran commented on #11385
Closing this one in favour of the duplicate issue https://github.com/quarkusio/quarkus/issues/11386

[2020-08-14 07:21] #11385 closed

[2020-08-14 07:32] phillip-kruger commented on #11391
Hi @alievrenkut . Thanks for this issue. Do you perhaps have a small project I can look at ?

[2020-08-14 08:19] HelvetiaAppDev opened #11392 "Allow to assigne a scheduled task an user or a role."
Description
Allow to assigne a scheduled task an user or a role.
It would be great to be able to call the same Service method both secure from a Rest Endpoint and regularly from a scheduled method (`io.quarkus.scheduler.Scheduled`). However I see no way to do this if the Serivce method is annotated with e.g. `@RolesAllowed("admin")`. (javax.annotation.security.RolesAllowed)
The only way to current

[2020-08-14 08:27] absurdfarce commented on #9183
Same error again:

It's still not clear to me which of these applies:

* there's something substantively wrong here
* our test isn't looking at the right thing (maybe thread name isn't a reliable test here?)
* the Vertx thread is doing something weird (like passing this work off under some scenarios)
* something else entirely

[2020-08-14 08:36] stevenhailin commented on #4453
@machi1990 Thanks for your great work! One additional question is: how to config the connection pool for the redis client?

[2020-08-14 08:44] 38leinaD commented on #11385
sorry for the duplicate. got a 404 when submitting the issue the first time; so assumed it was not created.

[2020-08-14 09:01] alievrenkut commented on #11391
Hi you can clone: https://github.com/alievrenkut/quarkus-rest-data-panache which is sample project I created with quarkus.

You can see that after I run "gradlew quarkusDev" you will see that there is no page parameters:

![image](https://user-images.githubusercontent.com/22812109/90232797-d6f8b080-de25-11ea-9b9c-266dd493bfb8.png)

[2020-08-14 10:25] j-be commented on #11368
I created a small test-project showing the issue (https://github.com/j-be/quarkus-11368). Hope it helps.

[2020-08-14 11:29] suciuandrei94 commented on #7913
Have same issue when I am trying to use a maven tile for creating docker images.

`
[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.5.2.Final:build (default) on project common-model-tile: Failed to build quarkus application: Error while reading file as JAR: /home/andrei/Documents/projects/vizulink/crm-sample/common/common-model-tile/tile.xml: zip END header not found -> [Help 1]`

[2020-08-14 11:36] machi1990 commented on #4453
@stevenhailin thank you!

The initial version of the extension will use the default options, we'll be adding advanced configuration options gradually. I'll open up a followup PR to allow configuring connection pool.

[2020-08-14 11:41] phillip-kruger commented on #11391
Hi @alievrenkut - Thanks for this. This is a feature request to the `quarkus-rest-data-panache` extension.
The normal JAX-RS code generated by this extension does not contain any OpenAPI annotations. And because the pagination used query parameters, it's not automatically generated with OpenAPI. (It does not generate code with `@QueryParam`, but rather get the info of the `UriInfo`)

I would say t

[2020-08-14 12:13] HelvetiaAppDev opened #11394 "Managed Executor context propagation inconsistent"
**Describe the bug**
When calling a REST endpoint that starts an async task with the help of ManagedExecutor (org.eclipse.microprofile.context.ManagedExecutor) and this task calls a method that is annotated with `@RolesRequired` it is inconsitent if the role check is successful.

**Expected behavior**
Every time the REST endpoint is called with the appopriate user the call should run without error

[2020-08-14 14:50] mahieddine commented on #11390
Ok so after some digging it appears that this issue occurs only with quarkusDev, if we build and launch the runner it works perfectly.

[2020-08-14 14:56] vaughnmb opened #11395 "Extend DB2 JDBC extension to cover AS400 for native"
**Description**
Extend DB2 JDBC extension to cover AS400 for native.  Currently, it doesn't appear to work as I get this error while running the application.

java.sql.SQLException: Driver does not support the provided URL: jdbc:as400

[2020-08-14 16:01] aguibert commented on #11395
hi @vaughnmb, I have not worked with the DB2 on AS400/native driver much, but AFAIK it is a completely separate driver right? Currently the DB2 JDBC extension only works for the DB2 JCC (Universal) driver, which starts with the `jdbc:db2:` URL protocol.

Is it possible for you to use the `jdbc:db2:` URL protocol instead? It should work for connecting to any DB2 platform (LUW, z/OS, or AS400)

[2020-08-14 16:04] aguibert commented on #11149
@gsmet which properties do you think we need to expose? I believe all of the properties being asked for here are already exposed. Specifically:
- quarkus.vertx.eventbus.idle-timeout
- quarkus.vertx.eventbus.reconnect-attempts
- quarkus.vertx.eventbus.reconnect-interval

[2020-08-14 16:23] vaughnmb commented on #11395
@aguibert   I changed the url to be jdbc:db2:  and I got this...

Caused by: com.ibm.db2.jcc.am.SqlSyntaxErrorException: [jcc]Missing resource bundle: A resource bundle could not be found in the com.ibm.db2.jcc package for IBM Data Server Driver for JDBC and SQLJ ERRORCODE=-4461, SQLSTATE=42815
 at com.ibm.db2.jcc.am.b7.a(b7.java:810)
 at com.ibm.db2.jcc.am.b7.a(b7.java:66)
 at com.ibm.db2.jcc.am.

[2020-08-14 16:25] aguibert commented on #11149
@abutic what happens if you set `quarkus.vertx.eventbus.idle-timeout=5`? Looking at the code I think we have an inconsistency between the doc (which says value is in millis) because the code appears to read the value as seconds.

[2020-08-14 16:33] aguibert commented on #11395
@vaughnmb is this error from running Quarkus in JVM mode or Native-image mode?

[2020-08-14 16:34] vaughnmb commented on #11395
@aguibert   Native-image mode

[2020-08-14 16:46] aguibert commented on #11395
ok, can you try in JVM mode to see if that works? If it works fine in JVM mode but doesn't work in native mode, then we can transition this issue to a bug and get it fixed for native mode

[2020-08-14 17:17] vaughnmb commented on #11395
I get that same error from earlier when I attempt to run it in JVM mode.  Ran "mvn quarkus:dev" and got the same error.

[2020-08-14 17:43] vaughnmb commented on #11395
Here is the error I got when I tried to run it in locally JVM mode "mvn quarkus:dev"

Caused by: com.ibm.db2.jcc.am.DisconnectNonTransientConnectionException: [jcc][t4][2057][11264][4.27.25] The application server rejected establishment of the connection.
An attempt was made to access a database, IEC84FILES, which was either not found or does not support transactions. ERRORCODE=-4499, SQLSTATE=080

[2020-08-14 18:14] aguibert commented on #11395
So that error is a different `ERRORCODE` and `SQLSTATE` from before, and it indicates the database was not found. Try double checking your configuration by seeing if you can write a standalone Java + JDBC program that gets a connection to the database with the same DB2 JDBC driver and the same credentials/settings.

[2020-08-14 19:05] privatejava opened #11397 "Problem while using jackson @JsonNaming in AWS Lambda"
I am trying to implement a @JsonNaming for a class which serializes a json property `blog_title` by a field named `blogTitle`. This is the sample [URL](https://run.mocky.io/v3/f55b5437-2360-4ccd-aee3-e6655dec87ce) that I am trying to parse the JSON  to an object.

[code]

**Expected behavior**
Normally it works correctly in quarkus:dev mode without any issue but when I deploy it in AWS Lambda (ser

[2020-08-14 19:38] patriot1burke commented on #11397
Did you cut the stack trace?  Looks like there should be more there.  You are running with Graal right?

[2020-08-14 19:43] patriot1burke commented on #11397
Without seeing the full stack trace, I'm guessing that PropertyNamingStrategy.SnakeCaseStrategy needs to be added as a reflection class.  See here:

https://quarkus.io/guides/writing-native-applications-tips

[2020-08-14 19:51] lw-mcno opened #11398 "Spring Data JPA deleteAll incompatibility with Spring"
**Describe the bug**

I'm using JPA entities (`@Embeddable`), that contain the following collection:
[code]

Additionally, there's a Spring Data JPA JpaRepository for the parent class. My tests call `repository.deleteAll()`.

Unfortunately, the implicit cascading doesn't work in this case. If there exist some metadata entries, the call fails with a constraint violation exception due to metadata-en

[2020-08-14 20:43] jimbogithub opened #11400 "1.7.0.Final quarkus.package.output-directory causes NPE running tests"
**Describe the bug**
NPE running JUnit test when `quarkus.package.output-directory` is set:

    java.lang.RuntimeException: java.lang.RuntimeException: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
	[error]: Build step io.quarkus.deployment.pkg.steps.JarResultBuildStep#outputTarget threw an exception: java.lang.NullPointerException
	at io.quarkus.deployment.pkg.step

[2020-08-14 20:49] jimbogithub commented on #11400
Other modes work fine.

[2020-08-14 20:54] gwenneg commented on #11315
It turns out I found (and fixed) a bug which was not exactly the cause of this issue (but still very close).

The reason why you created this issue has been discussed recently in #10804. The warning you saw in the log with the cache extension is caused by a Caffeine internal logger which can be a bit too talkative when a cache computation fails.

We can't fix this in Quarkus, but there's still a w

[2020-08-15 01:33] ivanjunckes commented on #11333
I do, I had an entity extending it but I was actually not using it anymore. So removing it did worked! Thanks @gsmet

[2020-08-15 01:33] #11333 closed

[2020-08-15 04:25] jaikiran commented on #11400
Hello @jimbogithub,

what value is it set to?

[2020-08-15 11:28] alexander-dammeier opened #11404 "Broken link in websockets guide"
Please have a look at the end of the [websockets guide](https://quarkus.io/guides/websockets#run-the-application).
The link in "You can also test your web socket applications using the approach detailed **here**." is broken.

[2020-08-15 18:03] j-be commented on #11368
Since I had some spare time, I extended `quarkus-hibernate-envers` to take the config and pass it through.

If you like, I can add the other configs as well, but since I need this feature urgently at work, I'd propose to do that in a dedicated PR. What do you think?

[2020-08-15 18:21] privatejava commented on #11397
No I did not remove any logs those were the only logs I get. You can even try as well I have setup that repository which throws same error.

I tried using SnakeCaseStrategy in reflection-config.json as follows but still same issue. :
[code]

[2020-08-15 18:39] privatejava commented on #11397
here is again a full AWS Lambda log after using reflection-config.json

[code]

[2020-08-15 18:51] privatejava commented on #11397
I just tried using `$` instead of `.` in `reflection-config.json` and it worked.  :partying_face:  Here is the actual `reflection-config.json` that I used.

Previous: `com.fasterxml.jackson.databind.PropertyNamingStrategy.SnakeCaseStrategy`
New : `com.fasterxml.jackson.databind.PropertyNamingStrategy$SnakeCaseStrategy`

[code]
Thanks

[2020-08-15 22:39] gwenneg commented on #11404
Thanks for reporting this @alexander-dammeier!

[2020-08-16 07:07] abutic commented on #11149
@aguibert, thanks for discovering seconds/milliseconds inconsistency.

Unfortunately, no difference - DB connection still stands.

First, I execute
```SELECT * FROM pg_stat_activity where application_name = 'vertx-pg-client'```
and get no results.

Then I make an app connect to a DB using reactive driver and get some results by executing some app-specific query. Issuing the aforementioned select s

[2020-08-16 08:44] #11404 closed

[2020-08-16 11:53] Imaclean74 commented on #11310
FYI - I get the same behavior with gradle 6. Repro on win 10, jdk-14.0.1.7, with basically the template project created on quarkus.io.

Full stack trace

[code]

[2020-08-16 12:36] jonathan-meier commented on #1610
I just came across this issue as well when starting a containerized native image build from within a remote containers development environment in Visual Studio Code. I can get the containerized build to work using `docker cp` in combination with a named container via a combination of `docker create` and `docker start` instead of running an anonymous container with `docker run` as it is currently d

[2020-08-16 19:05] asodja opened #11406 "Gradle Test task with Quarkus is not always cached"
**Describe the bug**
I noticed that `./gradlew test` is not always cached when running Quarkus Tests with Gradle. It looks like the problem is that .idx files are generated in classes folder and that invalidates cache. For reproducible project I get:
[code]

On a bigger project that I am moving to Quarkus this results that developers need 3-5 `gradle test` runs that it finally gets cached. That ca

[2020-08-16 21:46] mjurc opened #11407 "Detect duplicate resources being included - e.g. import.sql"
Add functionality to Quarkus to detect duplicate resources being included.

This issue was originally filed as bug and the investigation done by @Sanne revealed that there is a shadowing problem with the script name: there were two import.sql resources in the classpath. ORM itself can't detect duplicate resources; we probably want to look at making some improvements in Quarkus core.

**Details fro

[2020-08-16 21:47] mjurc commented on #11407
cc @Ladicek @rsvoboda @geoand @Sanne

[2020-08-16 22:08] jclingan commented on #10076
@kenfinnigan I was seeing this as a reference doc, just like the all-config guide. DevOps/SRE teams want to know what metrics are available to them when evaluating Quarkus or even after selecting Quarkus.

@jmartisk Regarding lazy generation, that could be noted in the reference guide.

@ebullient Yeah, understood.

This is not a high-priority issue but is a reference guide is definitely a nice-to

[2020-08-16 23:15] jimbogithub commented on #11400
It doesn't matter what it is set to.  Any non-null value causes an NPE here: `bst.getOutputDirectory()*NPE*.resolve(s)`.  I looked around the code a bit and it appears that `bst.getOutputDirectory()` is blank because the `targetDir` is never set on the `Builder` for a `@QuarkusTest` run.

The fact that it runs OK with `%test.quarkus.package.output-directory=` suggests that neither of these values

[2020-08-16 23:16] jimbogithub commented on #11400
P.S.  This was not a problem in prior versions.

[2020-08-17 03:54] alexkuku opened #11408 "set timeout for redis key"
**Description**
redisClient.setnx(String key, String value); //this method will set redis keys exist permanently.

**Implementation ideas**
I want to set timeout and timeUnit for some redis keys.
like:
redisClient.setnx(String key, String value, long timeout, TimeUnit timeUnit);

[2020-08-17 05:35] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/211532056

[2020-08-17 05:45] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/211532530

[2020-08-17 06:26] galderz commented on #10491
I've just seen this fail again.

Is something being done about this? If it's not meant to work, it should be removed/ignored so that it doesn't pollute test runs.

[2020-08-17 06:46] galderz commented on #10491
Btw, same as Karm, I was just calling maven verify with `-Dnative`, no project or specific profile. I can easily skip this, but my previous comment was more directed at Quarkus itself individually excluding projects, or not calling the native image build step for projects that don't have `@QuarkusTest` inside.

[2020-08-17 07:00] #11408 closed

[2020-08-17 07:39] cescoffier commented on #11160
I will have a look this week.

[2020-08-17 07:45] gsmet commented on #11149
@aguibert I was talking about these ones:

[2020-08-17 08:04] glefloch commented on #11310
@Imaclean74 are you using the `./gradlew run` command or `./gradlew quarkusDev` ?

[2020-08-17 08:06] knutwannheden commented on #9832
FWIW, I still have this problem with Quarkus 1.7.0.Final when launching a test from IntelliJ.

[2020-08-17 08:11] knutwannheden commented on #9832
Hmm... Now that I try to reproduce it again, I couldn't do it... Possibly IntelliJ cached some stale data somewhere...

[2020-08-17 08:11] gsmet commented on #9832
Yeah, hopefully, the next GraalVM update will fix it.

For now, if not using GraalVM, you can exclude the `org.graalvm.nativeimage:svm` dependency.

[2020-08-17 08:15] FroMage commented on #11391
I would have to remember why @gytis didn't use `@QueryParam` first.

[2020-08-17 08:20] knutwannheden opened #11409 "Support Flyway callbacks"
**Description**
The current Flyway extension doesn't support [Flyway callbacks](https://flywaydb.org/documentation/callbacks.html). It would be nice if the callbacks could be registered using a dedicated configuration property, which would reference the class names of the callbacks to instantiate and register.

**Implementation ideas**
As described, add a new `quarkus.flyway.callbacks` config prop

[2020-08-17 08:33] aloubyansky commented on #11388
@glefloch we can't be collecting dependencies into Sets in QuarkusModel. It's critical to preserve the order in which the underlying resolver returns collected dependencies.
BTW, there could (and still will be) differences between the Maven and Gradle dependency ordering and even versions. I don't think we are going to be aligning them. If we compare the results of `mvn dependency:tree` and, e.g.,

[2020-08-17 08:35] glefloch commented on #11388
@aloubyansky I will push a commit that replace set by linkedlist.

[2020-08-17 08:40] aloubyansky commented on #10602
@glefloch will you have time to look into this one?

[2020-08-17 08:43] gytis commented on #11391
Because the pagination can be disabled, I have decided to use `UriInfo` instead of having unused method parameters in an interface. However, if it is causing more issues that solving, maybe it is worth reconsidering the approach?

[2020-08-17 08:46] phillip-kruger commented on #11391
I think we can still use UriInfo, just also add the OpenAPI annotations when pagination is possible. (And OpenAPI extension is added)

[2020-08-17 08:52] FroMage commented on #11391
Isn't it simpler to add query parameters (since they're always optional) rather than include an optional dependency on OpenAPI?

[2020-08-17 08:59] phillip-kruger commented on #11391
Yes definitely !

[2020-08-17 09:05] 38leinaD commented on #11388
Yes, after some thinking i agree. There just is no way to make them the same if gradle resolves dependencies differently. Except for sorting dependency e.g. alphabetically on maven AND gradle side. ...but that sound even more wrong.

[2020-08-17 09:11] glefloch commented on #10602
@aloubyansky yes I will

[2020-08-17 09:21] gytis commented on #11391
I'm ok with adding the query params in place of the `UriInfo`. The only issue is that the method definition will get longer and the user will have to copy it all if he'll want to customise it. For example:
[code]

[2020-08-17 09:39] FroMage commented on #11391
I think that's fine, most IDEs can do that if you add the `@Override` and it will be checked too.

[2020-08-17 09:40] abutic commented on #11149
@gsmet and @aguibert, a little more context: we use Quarkus on Google Cloud Run, connecting to Aiven PostgreSQL database.

Upon using an app and leaving it idle for period of ~1 day, we get a `java.io.IOException: Connection reset by peer` when we try to use existing reactive client DB connection again - it seems as the client is not aware of the fact that the connection got closed for some reason

[2020-08-17 09:41] bframke opened #11411 "Quarkus 1.7.0 + Camel-Quarkus Kafka: Failed to configure SaslClientAuthenticator"
**Describe the bug**
After an update from Quarkus 1.5.2 to Quarkus 1.6.0+ (currently tested with 1.7.0 same behavior) we now receive an error message when we try to secure the Kafka Connection in the App, while also using the camel-quarkus kafka component. We are not using Kafka-Streams. We are also not using an Kerberos, only good old configuration and its values.

Error
[code]

Application.prope

[2020-08-17 09:44] nik-k999 opened #11412 "ReactiveRedisClient: lpush doesn't work"
The ReactiveRedisClient can't push lists. I got no error messages. Quarkus didn't crash.

The lpush in io.quarkus.redis.client.RedisClient works as expected.

I uses the Java 11, GraalVM, quarkus-redis-client.

works:
[code]

doesn't work
[code]

[2020-08-17 09:57] 38leinaD commented on #11386
I am unsure if "merging" is the right word. I don't think parameters from the web.xml should be merged, but rather, the request is:
if there is annotation and there is a config in the web.xml, the web.xml takes precedence. this also means, that whatever is annotated, should just be ignored and not lead to a build error.

[2020-08-17 10:48] gsmet commented on #11412
What do you mean by "doesn't work"?

[2020-08-17 10:51] gsmet commented on #11412
If you use the reactive client, you need to subscribe to the `Uni` otherwise the operation is not executed.

[2020-08-17 10:53] gsmet commented on #11388
@glefloch please add the `triage/backport?` label to the PR when you do.

[2020-08-17 11:12] nik-k999 commented on #11412
The reactive client don't push into the Redis DB.

I tested with Uni to execute the reactiveRedisClient:
[code]

Even with Uni, it don't push into the DB.

[2020-08-17 11:47] 38leinaD opened #11415 "Multiple JAX-RS Applications"
**Description**
When developing bigger microservices or monolithic applications, it is useful to be able to define multiple JAX-RS applications.
Currently, Quarkus only allows to have a single Application: See https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java#L1

[2020-08-17 11:52] glefloch commented on #10602
@hosseinmp76, could you upload a reproducer ?

[2020-08-17 12:20] sberyozkin commented on #11171
@MarcusBiel it has been fixed with 1.7.0.Final. Please reopen if proves otherwise in your case. I'll CC you from the other issue related to dealing with the security exceptions, thanks

[2020-08-17 12:20] #11171 closed

[2020-08-17 12:22] sberyozkin commented on #11117
CC @vsevel

[2020-08-17 12:34] sberyozkin commented on #11021
Hi @aksth @pedroigor Just back from PTO.
Since we can't inject, the only way to simplify is to offer some utility code to parse the token but I'm not sure if we we can generalize beyond that.
@aksth, how do you parse the token right now ?

[2020-08-17 12:36] 38leinaD opened #11417 "@WebFilter annotation with servletName attribute cannot be deployed"
I have a servlet filter without an explicit url mapping, but servletNames set to a valid/existing servlet (defined via web.xml):

@WebFilter(filterName = "MyFilter", servletNames = "myservlet", asyncSupported = true)
public class MyFilter implements Filter {}

Expected behavious
As per the Servlet spec, the filter should be able to deploy based on the provided serveltNames attribute :

![image](ht

[2020-08-17 12:42] tsegismont commented on #11149
@aguibert about https://github.com/quarkusio/quarkus/issues/11149#issuecomment-674145521 :

This is wrong, these properties only apply to event bus connection and have no impact on SQL clients.

@gsmet @aguibert I'll work on adding the `idle-timeout`, `reconnect-attempts` and `reconnect-interval` props to the reactive datasource configuration.

@abutic it's not supported and I would recommend to f

[2020-08-17 12:43] sberyozkin commented on #5751
Hi @stuartwdouglas Can you please have a quick look at supporting the failure routes when possible, as we have a few issues all revolving around customizing the security exception responses.
CC @MarcusBiel, please watch this issue

[2020-08-17 12:47] sberyozkin commented on #10988
@MarcusBiel Is it a question or an enhancement request ? Can you clarify please what exactly you'd like to be enhanced ? CC @stuartwdouglas

[2020-08-17 13:00] wjglerum opened #11418 "OIDC extension does not work with Azure AD after upgrading to Quarkus 1.7.0.FINAL"
**Describe the bug**
We have a webapp where we delegate the login to Azure AD with the Quarkus OIDC extension. When we upgrade to Quarkus 1.7.0.FINAL the login through our OIDC provider is broken. Locally everything works with Keycloak as the OIDC provider. However when using Azure AD as the OIDC provider we get in a loop during login.

**Expected behavior**
Logging in with Azure AD as the OIDC pr

[2020-08-17 13:04] gsmet commented on #11418
/cc @sberyozkin this one looks like a regression. Could you prioritize it? Thanks!

[2020-08-17 13:06] machi1990 commented on #11412
I think you are creating the `Uni` without actually subscribing to it which will in turn issue the lpush command to redis server.

# Blocking subscription
[code]

# Or the reactive counterpart
[code]

[2020-08-17 13:06] #11412 closed

[2020-08-17 13:07] machi1990 commented on #11412
Closing this as it should work.

[2020-08-17 13:08] abutic commented on #11149
@tsegismont, I hope you meant (4) wasn't supported. Adding the `idle-timeout` property to the reactive datasource configuration should enable (3):

Am I right? Thanks!

[2020-08-17 13:10] wjglerum commented on #11418
I see that something changed with the principal and user information, see https://github.com/quarkusio/quarkus/commit/856226615b3aefe8a6445987479758c3af81de2b#diff-c34b979eed4ac8884d4a875479eca3cf

I tried setting https://quarkus.io/guides/security-openid-connect-web-authentication#quarkus-oidc_quarkus.oidc.authentication.user-info-required and https://quarkus.io/guides/security-openid-connect-web

[2020-08-17 13:24] wjglerum commented on #11418
I also did some debugging to see what requests Quarkus is making to Azure AD. It seems that it successfully exchanged a code for a set of ID and access tokens. It also fetches the OpenID config and certs correctly on startup.

I did this with [Proxyman](https://proxyman.io/) running on my Mac intercepting and decrypting SSL traffic. With the following Quarkus config:
[code]

[2020-08-17 13:49] sberyozkin commented on #11418
@wjglerum The linked changes are not related at all to the problem so please do not enhance the existing configuration for now. I'm nearly 100% sure it is not a Quarkus OIDC issue. The reason I think it is not related is to do with your comment :
`The weird bit here is the only on the last request it warns us about the fact that the state cookie does not match.`
Something goes wrong in the transit

[2020-08-17 13:50] gytis commented on #11391
OK, assign this issue to me then and I'll sort it out.

[2020-08-17 14:00] FroMage commented on #11391
Your wish is my command.

[2020-08-17 14:11] wjglerum commented on #11418
Thanks for your reply @sberyozkin. I was going through the changes in the OIDC extension and this came across, so I gave it a try. It's not part of the original bug report and sample project.

I tried the simplest setup as possible with my sample project, with little to no config. I also tried debugging and checking what is going on. I ruled out the calls to Azure AD from Quarkus as these are simi

[2020-08-17 14:18] tsegismont commented on #11149
@abutic right, I meant (4)

[2020-08-17 14:22] radcortez commented on #7242
@Sanne @barreiro Not sure if this was considered in Agroal design, but I may have found another possible issue with the Connection Wrapper.

If you set https://docs.oracle.com/en/java/javase/11/docs/api/java.sql/java/sql/ResultSet.html#HOLD_CURSORS_OVER_COMMIT, because of the Connection Wrapper, Agroal will not honour the ResultSet type and will just close the connection on commit (like designed)

[2020-08-17 14:25] Sanne commented on #11407
Many thanks @mjurc , I'll look at this.

[2020-08-17 14:35] knutwannheden opened #11421 "Add support for Flyway "missing migrations""
**Description**
Flyway can be configured to ignore missing migrations (see `FluentConfiguration#ignoreMissingMigrations(boolean)` for details). This configuration is not currently exposed by the Quarkus Flyway extension.

**Implementation ideas**
Add a new boolean-typed `quarkus.flyway.ignore-missing-migrations` configuration property (defaulting to `false` as in Flyway).

[2020-08-17 14:46] gsmet commented on #11421
@knutwannheden want to give it a try?

[2020-08-17 15:07] tsegismont commented on #10889
@juazugas have you tried to force the `infinispan-core` version in your POM? Like this:

[code]

To better understand your use case, what kind of Quarkus application are you developing? Does it use Vert.x APIs directly? Or just the event bus and `@ConsumeEvent` methods?

[2020-08-17 15:09] knutwannheden commented on #11421
@gsmet Yes, why not. I will try to take a look later this week.

[2020-08-17 15:13] gsmet commented on #11421
A good example would be https://github.com/quarkusio/quarkus/pull/10732/files but I think the callbacks probably need to  be build time config.

[2020-08-17 15:28] sberyozkin commented on #11418
Hi @wjglerum
in `1.7.0.Final`, when one issues an initial request, example, `http://localhost:8080/service?a=b`, this `?a=b` will be restored once the authentication has been complete, and indeed, once all is done, you will get exactly what you've posted above.

The fact you see this strange `q_auth` value suggests that the Request URL like `http://localhost:8080/?code=<<<code>>>&state=9a9c65c4-50

[2020-08-17 15:53] juazugas commented on #10889
Hi @tsegismont,

Thanks for the response. Yes, I have tried and it works, that is the workaround that allows running the application with the Infinispan cluster manager (Actually overriding the infinispan-core and infinispan-commons in the dependencyManagement)

This application needs to coordinate access to a registration resource. Specifically, I'm using the shared data API from vert.x to create

[2020-08-17 16:29] patriot1burke opened #11422 "If extension codestart not found, just add the extension to the pom/gradle project"
From a project generation point of view, if there is no codestart that matches an extension, then the extension should just be added as a dependency to the pom.  Currently, "create" fails if there is no codestart that matches each extension listed on the command line.

Further more, codestart should work if none of the extensions have a matching codestart.

Without this feature, the mojo (and CLI)

[2020-08-17 16:32] patriot1burke commented on #11422
Nevermind.

[2020-08-17 16:32] #11422 closed

[2020-08-17 16:54] gastaldi commented on #11394
I'll have a look

[2020-08-17 17:40] radcortez opened #11424 "JAX-RS Providers in RESTEasy are not initialized unless a @Path is present in the Application"
**Describe the bug**
A RESTEasy deployment is only produced if something with a `@Path` is found:

https://github.com/quarkusio/quarkus/blob/69ba3184ecd511fe7232ad6c4a852db6399baa2e/extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java#L205-L208

This works fine for most cases. There is one case where this doesn't

[2020-08-17 17:42] radcortez commented on #11424
To fix this issue, I'm wondering if we should always start the RESTEasy Deployment anyway. Or maybe we just need to start it if we find user defined Providers.

[2020-08-17 18:41] #11370 closed

[2020-08-17 19:22] famod commented on #11415
FWIW, back in march I started a discussion on Zulip regarding "Multiple/modular Swagger UIs": https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Multiple.2Fmodular.20Swagger.20UIs

[2020-08-17 19:23] nfrankel opened #11428 "Setting the kotlin.version property to 1.4 doesn't update the Kotlin dependencies version"
**Describe the bug**

Setting the kotlin.version property to 1.4 doesn't update the Kotlin dependencies version

**Expected behavior**

I expect that the Kotlin plugin's version, as well as the Kotlin dependencies' version, would be upgraded.

**Actual behavior**

Only the plugin's version is upgraded. Compilation reports the following warning:

[code]

**To Reproduce**

Steps to reproduce the beh

[2020-08-17 19:26] rmh78 commented on #10875
This should be the class to change.
https://github.com/dekorateio/dekorate/blob/master/annotations/openshift-annotations/src/main/java/io/dekorate/openshift/handler/OpenshiftHandler.java#L139

This line creates the trigger.
`resources.decorate(group, new ApplyDeploymentTriggerDecorator(config.getName(), imageConfig.getName() + ":" + imageConfig.getVersion()));`

[2020-08-17 19:33] evanchooly commented on #11428
There are actually 4 different places where `kotlin.version` is defined, sadly.  so you'll need to change it in more than one place.  Alternately, you might try setting `-Dkotlin.version=1.4.0` and that should catch it everywhere in the meantime.

[2020-08-17 19:38] nfrankel commented on #11428
Thanks for the super quick feedback.

My workaround so far is to add the 4 Kotlin dependencies (even the ones I don't use) in the `<dependency-management>` section of my POM.

[2020-08-17 21:34] marcelorubim commented on #11424
Wouldn't be better a configuration to force it to start?

Like the Quartz extension does:

https://quarkus.io/guides/quartz#quarkus-quartz_quarkus.quartz.force-start

[2020-08-17 21:55] mahieddine commented on #11390
It seems like in dev mode, value resolvers classes are not generated hence causing this issue. When i build my jar and extract the value resolvers from it copy/paste them into the class folder it works.

[2020-08-17 22:11] FcoJavierSainz opened #11430 "java.lang.IllegalArgumentException: Unable to resolve locale: c.u-US"
When I try to build the jar on a server I got  the next error
[code]

**Additional context**
IBM cloud toolchain

On my computer works just fine: macos 10.15.6 (19G2021)

[2020-08-17 23:53] radcortez commented on #11424
Might be another options, yes.

[2020-08-17 23:56] dearrudam opened #11433 "Error during the Maven build process with Quarkus: io.quarkus.bootstrap.BootstrapException: Failed to create the application model for null"
I'm trying to use Quarkus in a project of the company that I'm working on.

That's my scenario:

The company that I'm working on has an on-premises environment with a CI server and an Artifactory that provides the all required artifacts. The CI has no grant access to reach out to the internet then the Artifactory server is responsible for bringing all external artifacts. We've got a lot of spring-

[2020-08-18 01:43] voidrot opened #11431 "Generated Kubernetes Manifests have incorrect value types"
**Describe the bug**
Generated Kubernetes.yml generates an incorrect type (int instead of string) for `prometheus.io/port` annotation.
Generated Kubernetes.json generates an incorrect type (string instead of int) for `livenessProbe.httpGet.port` and `readinessProbe.httpGet.port`.

**Expected behavior**
Correct types generated for annotations and ports

**Actual behavior**
**NOTE** `./gradlew clean

[2020-08-18 01:48] VS-AMC commented on #11160
@cescoffier - thank you

[2020-08-18 01:51] voidrot commented on #11431
metrics issue is already reported in #11134

[2020-08-18 04:23] jaikiran opened #11432 "CI failures - Gradle tests have started failing consistently"
Multiple PRs have been running into CI test failures today.  They seem to be related mostly to gradle test failures of the form:

[code]
Some sample PRs are here https://github.com/quarkusio/quarkus/pull/11420 and here https://github.com/quarkusio/quarkus/pull/11425. I haven't yet had a chance to understand the code/test to fix this myself. So creating this issue.

[2020-08-18 04:43] jaikiran commented on #11430
Hello @FcoJavierSainz, what command are you using to build the project? Furthermore, are you building the quarkus repo itself or are you building some project which uses Quarkus?

The error says:

[code]
Do you know where/who is setting that locale?

Finally, as the error message says, if you pass `-X` to the `mvn` command it will display a lot more information including stacktraces which can help

[2020-08-18 05:26] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/213088692

[2020-08-18 05:46] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/213089418

[2020-08-18 07:13] ia3andy commented on #11432
The tests are against the bundled platform, maybe one of those extensions have been disabled, modified or removed?
[code]

[2020-08-18 07:18] ia3andy commented on #11432
Well it seems they haven't been changed

[2020-08-18 07:23] ia3andy commented on #11303
@mgorniew what the status of this? did you find a way to get the "bom" dependencies listed from the Gradle plugin?

[2020-08-18 07:29] ia3andy commented on #11433
@aloubyansky any thoughts?

[2020-08-18 07:54] FroMage commented on #11394
Yeah, as @Ladicek said, this is because you're propagating the request context, which is terminated after the REST method is done. If you want to keep it alive until your async stuff is done, then you need to make it return an async type that terminates after your async methods. Given that `managedExecutor.runAsync` returns a `CompletableFuture` this is pretty easy to do, just return it from the R

[2020-08-18 08:03] gsmet commented on #11433
We need to know precisely how the proxy is configured.

We had some issues at some point with part of the code not honoring the proxy configuration but I thought we were done with that. Apparently, there's still some issue lurking.

[2020-08-18 08:08] Ladicek commented on #11394
I agree it's not a bug, but perhaps it's a feature request. This is the 2nd time since yesterday I hear from someone wanting to "fire and forget" async tasks with context propagation. Do we have a way to say "capture the context, but immediately detach"? It of course brings all kinds of interesting thread safety concerns.

[2020-08-18 08:29] FroMage commented on #11394
Well, context propagation was really meant for reactive programming, where you don't start doing async access to the same context. For many contexts that will just fail, like for JPA which is not thread-safe. Perhaps ArC is thread-safe, but I don't remember. So there's already the limitation that propagating to async threads doesn't mean you can do unsafe stuff with the context.

Now, as to the li

[2020-08-18 08:34] Ladicek opened #11434 "declarative way of assigning roles with client certificate authentication"
**Description**
When I use client certificate authentication, there's no declarative/configuration way of assigning roles for authorization. The only way I was able to find is by implementing a custom `SecurityIdentityAugmentor`. It would be nice to have at least some basic declarative support. It probably doesn't have to cover all cases, because customizing is so easy.

I know WildFly has this fe

[2020-08-18 08:34] Ladicek commented on #11434
CC @pedroigor @stuartwdouglas

[2020-08-18 08:57] sberyozkin commented on #11434
@Ladicek At the very least I can update the security authorization or customization doc with your example.
And it would be nice, instead of
[code]
be able to do
[code]
as it is likely all the users do this code

[2020-08-18 08:59] mgorniew commented on #11303
@ia3andy Only supported way which I found is to use instance of Project class which is injected to Gradle Tasks. But we can't create instances of this class outside Gradle. So current unit tests would not work any more and we will only have integration tests.

[2020-08-18 09:02] ia3andy commented on #11303
Well, if you look at `AddGradleExtensionsTest.TestingGradleBuildFile` I guess that would solve your problem right?

[2020-08-18 09:02] ia3andy commented on #11303
(maybe you would need to improve it a bit obviously)

[2020-08-18 09:05] manovotn commented on #11394
Not really, the way we (intentionally) did ArC propagation was along the lines of reactive programming - it doesn't really presume "parallel" execution which can be the case in this "fire and forget" scenario. It also boils down to user beans having to be thread safe. The storage (map) of beans is actually a concurrent map, but that doesn't ensure you can do anything with it anyway.

Yeah, that's

[2020-08-18 09:18] Ladicek commented on #11434
Agree @sberyozkin, that would be nice!

[2020-08-18 09:34] mgorniew commented on #11303
@ia3andy I could do that, but doesn't this defies the purpose of GroovyBuildFileTest and KotlinBuildFileTest? Those classes basically tests ConnectorDependencyResolver.getDependencies()  method (which use GradleConnector). If I replace getDependencies with code from AddGradleExtensionsTest.TestingGradleBuildFile then we will test test code. Overall I don't see anything wrong with using Project cla

[2020-08-18 09:38] ia3andy commented on #11303
@mgorniew I am ok with that! But I would still add keep/some the unit tests to test the logic that we have in the common (grovvy/kotlin dsl formatting...). wdyt?

[2020-08-18 09:40] Ladicek commented on #11394
Haha, it's much more fun than I could possibly imagine :-) Unfortunately, I don't even see a way how to detect that the user does this (attempts to access short-lived/not-expected-to-contain-thread-safe-objects contexts such as request or transaction from multiple threads in parallel) and produce a warning.

OK, I'll try to narrow it down. I think what both this issue and the other case I saw yest

[2020-08-18 09:47] sberyozkin commented on #11418
@wjglerum Hi, did you have a chance to look into it ?
Let me summarize again what I think is happening in your case, referring to the issue description here:
- the 'state' cookie returned as part of step 1. is not returned to Quarkus as part of step 4.

Can you try `quarkus.oidc.authentication.cookie-path=/` ?

[2020-08-18 09:47] jglink opened #11436 "Annotation processors fail during "mvn quarkus:dev""
After upgrading to Quarkus 1.7.0.Final, our _**mvn quarkus:dev**_ commands are not working anymore.

We are using some annotation processors (like Mapstruct).
Starting with Quarkus 1.7.0.Final, calling _**mvn quarkus:dev**_ after a _**mvn clean install**_ call fails with following errors:

`Internal error in the mapping processor: java.lang.RuntimeException: javax.annotation.processing.FilerExcept

[2020-08-18 09:50] machi1990 commented on #11436
/cc @michalszynkiewicz @aloubyansky @famod

[2020-08-18 09:55] mejlholm opened #11438 ".env file affects tests"
**Describe the bug**
The .env file is a great way to set environment variables, which should not go into source control. It should however only work for the dev profile, not the test profile, as this will lead to flaky tests that might work on one machine, but fails in the CI.

**Expected behavior**
Test cases are unaffected by the .env file.

**Actual behavior**
Test fails, because the .env file

[2020-08-18 10:16] Serkan80 commented on #10889
Actually, I have a problem now with consuming messages from a clustered eventbus.
I've configured and made the cluster working with Quarkus and Hazelcast. But when I produce and consume a message nothing happens at the consuming side.

Here is my code, I hope someone can help me:

My producer:

`
    @Path("/producer")
    public class EventbusProducer {

    @Inject
    EventBus bus;

    @POST

[2020-08-18 10:16] manovotn commented on #11394
Well, with what ArC does now, you technically can do what you ask for so long as:
* you avoid pre destroy callbacks on your beans
* you make your own beans thread-safe (and be mindful that any beans from other parties might not be thread-safe)

Looking at `ArcContextProvider` (this is what performs CP for CDI), we only `deactivate` the context on the new thread, we do not destroy it. This means th

[2020-08-18 10:27] bobbyphilip opened #11440 "Class not in jandex index warning seen new after update to Quarkus 1.7.0"
**Describe the bug**
After updating to quarkus 1.7.0, I have started seeing the following message in the logs.
WARN [io.qu.de.st.ReflectiveHierarchyStep] null Unable to properly register the hierarchy of the following classes for reflection as they are not in the Jandex index:
- javax.persistence.EntityManager (source:mypackage.OneOfMyClasses)

 - Output of `java -version`: openjdk version "11.0.8

[2020-08-18 10:32] gsmet commented on #2835
I have made some significant progress in this PR: https://github.com/quarkusio/quarkus/pull/11322 .

There are still a number of open questions though. Now is the time to give us some feedback if you're interested in this feature.

Please keep the general feedback in this issue. Let's keep the PR comments for the code review. Thanks!

### Should we support multiple persistence units per entities

[2020-08-18 11:17] dearrudam commented on #11433
Here are some pieces of my settings.xml that the CI server is using:

[code]

IMHO I think that it's a problem if the code is trying to download something directly from the internet instead of to use the maven settings, I'm mean, it will be a Quarkus adoption issue for companies with internet restrictions.

[2020-08-18 11:22] gsmet commented on #11433
Yeah, sure, it's definitely a bug if it tries to download things and bypasses the proxy.

[2020-08-18 11:23] gsmet commented on #11433
/cc @aloubyansky

[2020-08-18 11:35] radcortez commented on #11424
Another possible issue:

The programmatic client is part of the main JAX-RS spec and the type safe client part of the MP spec. All client integration is done in the rest-client extension, so you are required to add both dependencies to make it work, even if the client programmatic API is available just by adding the main RESTEasy extension.

[2020-08-18 12:00] famod commented on #11436
This is strange. I am 99% certain I tested @michalszynkiewicz's fix (#11328) [with my reproducer](https://github.com/quarkusio/quarkus/issues/11253#issue-674274864): https://github.com/quarkusio/quarkus/pull/11328#issuecomment-672287656

I'll have a look...

[2020-08-18 12:04] famod commented on #11436
Ok, I was a litte confused. The fix for #11253 is targeted for 1.7.1.Final.

Workaround: https://github.com/quarkusio/quarkus/issues/11253#issuecomment-670155833

Closing as a duplicate...

[2020-08-18 12:04] #11436 closed

[2020-08-18 12:17] jglink commented on #11436
@famod thank you for the fast reply. I haven´t seen #11253. Sorry...

[2020-08-18 12:19] famod commented on #11436
@jglink No worries! It is better to report an issue twice than not at all. 😉

[2020-08-18 12:24] hosseinmp76 commented on #10602
@glefloch I tried to make a minimal reproducer so I made a new project but I got #11310
but my real project is [here](https://github.com/Abu-Rayhan-building/survey-backend). the main method is in
edu.sharif.surveyBackend.cli.Main

[2020-08-18 12:28] glefloch commented on #10602
Thanks @hosseinmp76. I'm on the #11310 right now. Once I have a fix. I will try the fix on your project.

[2020-08-18 12:31] famod commented on #11438
This was added explicitily to `io.quarkus.runtime.configuration.ConfigUtils` via #7530.

AFAICS, https://quarkus.io/guides/config#overriding-properties-at-runtime _does not limit_ `.env` to dev mode.

At this point I'd be inclined to close this issue as "works as designed" but I understand that one might want to use individual dev mode only settings locally.
I haven't tried myself, but did you try

[2020-08-18 12:38] geoand commented on #11438
Thanks @famod.

Yes, this does work as expected, .env isn't meant to work only for dev mode, it works the same in all modes.

I can understand why someone would want to limit its use, but then I am pretty sure that other folks would then want to have it back 😉.

Moreover, . env is familiar from other language environments as a sort of alternative to setting environment variables, therefore if we d

[2020-08-18 12:38] #11438 closed

[2020-08-18 12:42] FroMage commented on #2835
I would say do whatever you want for ORM, but for Panache we'll only support a single PU per entity. I think this is very much not in the 80% use-case we're targetting and doesn't justify adding extra params to every method. Plus if the user wants to make an entity available into another PU, they can subclass it with another PU config, I think.

I'd definitely support annotations, in fact I was ex

[2020-08-18 12:49] patriot1burke commented on #5603
I did a bunch of work on this back in January.  Resteasy has the necessary hooks now.  I never submitted a PR because it actually generated a ton of initialization code. A lot. And was a lot more complicated than our current intialization.  Only static initialization times were improved and I didn't record memory footprint.  As it didn't remove any reflection and static init code exploded I worry

[2020-08-18 12:49] pedroigor commented on #11434
I can update docs if you want @sberyozkin.

[2020-08-18 12:51] machi1990 commented on #11438
Solid points @famod @geoand

Just to add on this.

+1, in most projects the `.env` file is never to be committed for the sake of example to onboard new team members, an alternative file `.env.example` file can be committed containing fake values for each configuration file.

[2020-08-18 12:57] famod commented on #2835
Clear +1 from my POV!

Imagine you want to have a (rather technical) base entity for all your "business subdomains" (shared in multiple microservices via some lib jar or in a shared "module" in a modular monolith), with fields like `@Version`, `@CreationTimestamp`, `@UpdateTimestamp` and maybe even entity callbacks (`@PrePersist` etc.).
Typically, such an abstract base entity would be annotated wi

[2020-08-18 13:05] famod commented on #11433
@dearrudam How does you `maven-surefire-plugin` config look like? Where is the `settings.xml` located?

[2020-08-18 13:07] oran0007 commented on #9832
I'm seeing this with 1.7.0.Final as well as 1.6.1.Final. I don't experience it when running tests from bash with `mvn test`, only with IntelliJ. I've tried deleting the .idea folder as I had seen in this stackoverflow answer ([https://stackoverflow.com/a/63247936](https://stackoverflow.com/a/63247936)), but to no avail. The maven dependency tree only shows version 8.0.1 of asm.

[2020-08-18 13:08] mejlholm commented on #11438
Can't really say that i follow the usage pattern here. If the .env file is to apply to both dev and test modes, why not just put it all in application.properties?

Generally we put everything we can into applications.properties, unless it is a secret. In dev mode we need a way to values for secrets into the application, which is where the .env file is handy. For test values, it is fine to provide

[2020-08-18 13:20] dearrudam commented on #11433
Here's the maven-surefire-plugin's configuration in the pom.xml:

[code]

The CI provides the settings.xml passing by argument "-s" in the maven command:

[code]

[2020-08-18 13:21] famod commented on #11438
@mejlholm

Ok, cool. Never used a profile in `.env`. How does it look like? `%DEV_HELLO_VALUE=other`?

[2020-08-18 13:23] mejlholm commented on #11438
Just tried %dev.HELLO_VALUE.

[2020-08-18 13:29] famod commented on #11433
Ok, that might be a problem but @aloubyansky is a better candidate to check this.

Apart from that I realized that you do _not_ actually use a `proxy` but a `mirror`!

[2020-08-18 13:37] rsvoboda opened #11442 "Unable to run simple hello world application on OpenShift with quarkus.kubernetes.deployment-target=knative"
I have simple https://github.com/rsvoboda/openshift-quickstart project for Knative Serving experiment. I have OpenShift 4.5 with OpenShift Serverless - Knative Serving installed.

I'm unable to run simple hello world application on OpenShift with quarkus.kubernetes.deployment-target=knative

**Steps to reproduce**
See README.md in https://github.com/rsvoboda/openshift-quickstart

**Some details:**

[2020-08-18 13:38] famod commented on #11438
Ah, I see - same syntax as in regular properties. Makes sense. Thanks!

[2020-08-18 13:42] geoand commented on #11442
Seems like s2i is being used which probably should not be the case when using `knative` as the deployment target.

cc @iocanel

[2020-08-18 13:42] knutwannheden commented on #2835
I also recognize this use case. However, in the project I am working on the "business subdomains" correspond to separate Quarkus applications. In that scenario the shared technical entity (e.g. a `@RevisionEntity` annotated class) is attached to multiple PUs, but typically not to multiple PUs within one Quarkus application, which should be fine, AFAICT. This being said, I think I have also come ac

[2020-08-18 13:43] gastaldi opened #11443 "Support "fire-and-forget" with Context Propagation"
This is a follow-up to the issue observed in https://github.com/quarkusio/quarkus/issues/11394.

It would be nice to be able to run some task asynchronously, but finish the HTTP response synchronously (or, slightly more generally, finish the HTTP response sooner than all the spawned tasks finish).

[2020-08-18 13:44] gastaldi commented on #11394
I created https://github.com/quarkusio/quarkus/issues/11443 asking for a "fire-and-forget" behavior with Context Propagation.

I'm closing this issue now, thanks!

[2020-08-18 13:44] #11394 closed

[2020-08-18 13:48] Ladicek commented on #11442
I don't know anything about Knative, sorry.

[2020-08-18 13:48] sberyozkin commented on #11434
@pedroigor Hey Pedro, thanks. I'm on it during the last couple of hours :-) hope you haven't done much yet. thanks for offering to help :-), just aboutto open the PR

[2020-08-18 13:53] sberyozkin commented on #11434
I've also updated the builder as discussed with Ladislav, with a small unit test

[2020-08-18 13:53] famod commented on #2835
You're right. So for a microservice setup, it depends how big or small your microservices are. I've seen teams merging microservices to bigger ones because the management vs. flexibility tradeoff just did not justify too many really "micro" services for them.
In such a case you might have two or more PUs in a microservice/Quarkus app.

[2020-08-18 14:00] dearrudam commented on #11433
Yeah, there's no proxy configuration for the CI server... the server is cannot access the internet directly for security reason then we need to use an Artifactory in order to retrieve the project dependencies. This configuration has been working properly for other projects of the company(most of them use the Spring Boot framework).

[2020-08-18 14:01] eriklumme opened #11444 "Undertow does not consider classes annotated by a handled type for ServletContainerInitializer"
**Describe the bug**

The JavaDoc for the `javax.servlet.ServletContainerInitializer` states that the classes passed to `onStartup` should be

specified by the {@link javax.servlet.annotation.HandlesTypes HandlesTypes} annotation ...

However, the `io.quarkus.undertow.deployment.UndertowBuildStep#servletContainerInitializer` method only considers classes that extend or implement the class types, n

[2020-08-18 14:04] gavinking commented on #2835
I agree.

I would personally much prefer to use package-level annotations for this. (Though I have no problem with also allowing the annotation at the entity level.

[2020-08-18 14:06] gavinking commented on #2835
This looks quite ugly to me. I would prefer to annotate the package containing the entities.

[2020-08-18 14:08] gavinking commented on #2835
@famod

`@MappedSuperclass`es aren't considered entities in JPA, and so I don't think we should need to explicitly assign them to a PU. Hibernate should be able to automatically discover any `@MappedSuperclass`es of an entity that is assigned to the Pu.

I don't think this particular case justifies the need to assign an entity to multiple PUs.

[2020-08-18 14:09] gavinking commented on #2835
@famod

If it's a separate microservice, then it can easily specify its own configuration for the PU. Again, I don't see how this motivates the need to assign an entity to multiple PUs.

[2020-08-18 14:09] sberyozkin commented on #11434
@Ladicek @pedroigor please see #11446

[2020-08-18 14:13] robmv commented on #2835
Please support it!. In situations when you are hosting multiple instances of the same application for different customers, or you are running the same application multiple times because they have to be isolated (different subsidiaries for example), sometimes you have another application that take information for each one of these databases or there is a need to do some processing on all instances

[2020-08-18 14:16] gavinking commented on #2835
@robmv once again, I do not see how this motivates the feature of assigning one entity to multiple PUs *in a single instance*.

What you need to solve this problem is the ability to have a different configuration for a certain named PU *in each microservice*. Which AFAICT is indeed something you can already do.

[2020-08-18 14:16] geoand commented on #11442
This is probably just a matter of disabliing s2i deployment when knative is used

[2020-08-18 14:24] robmv commented on #2835
This isn't a micro service, this is a management application let call it B that connect to multiple instances (multiple databases) of the same application A, that can read the same entity from each instance for reporting or management of all the instances.

I agree that this isn't a common practice, normally people only have one instance of the same application, but when you host multiple customer

[2020-08-18 14:27] 38leinaD opened #11447 "Calling method on target bean from interceptor invokes interceptor again; leads to StackOverflowException"
We have an aroundInvoke interceptor defined for our beans to do some application-specific permission checks:

[code]

[code]

When this interceptor is called for our bean, it internally, calls a performCheck-method on the bean by getting a bean reference via invocationContext.getTarget().
This bean reference is the Arc proxy and when performCheck is called, it will call the interceptor again and l

[2020-08-18 14:33] gavinking commented on #2835
Well it still seems to me that multiple PUs are a rather bad way to handle this. It seems more closely related to multi-tenancy (though in fairness I'm not sure if Hibernate's existing support for multi-tenancy can deal with your precise requirements).

Right, then we do agree. It's a very advanced case, and it's not the case that most people are thinking of when they're asking for support for mul

[2020-08-18 14:36] gavinking commented on #2835
@robmv have you tried using `MultiTenantConnectionProvider` for this?

[2020-08-18 14:43] radcortez commented on #11424
A possible resolution for this: https://github.com/quarkusio/quarkus/pull/11448

[2020-08-18 14:44] robmv commented on #2835
I am learning from this Hibernate feature right now, and it looks like it can manage our use case but have to test it. Thanks.

[2020-08-18 14:52] famod commented on #2835
@gavinking

I'd just like to be able use those mapped superclasses, embeddables etc. in multiple PUs. If Hibernate can support this automagically then I'm fine with it!

[2020-08-18 14:54] gavinking commented on #2835
Great, I think we should make sure that it can.

(@gsmet can clarify if there's any problems with that.)

[2020-08-18 14:55] pablobastidasv opened #11449 "@QuarkusTest ignores "maven.repo.local" property"
**Describe the bug**
When running Quarkus test with maven (`./mvnw test`), the property *maven.repo.local* is ignored by the test phase when the test is annotated with `@QuarkusTest`, making the test dependencies to be stored into the default maven repository location (*${user.home}/.m2/repository*) instead of into the specified in the property *maven.repo.local*.

**Expected behavior**
Test depen

[2020-08-18 15:00] tsegismont commented on #10198
@viniciusfcf @johnaohara I looked into the pool implementation as I was surprised only one connection was used when using jax-rs reactive + PgPool

It turns this is due to the implementation of "one shot queries" on PgPool (and other reactive SQL clients actually). As of 3.9.2 (the benchmark depends on 3.9.1) the pool releases the connection immediately after having scheduled the SQL command. As a

[2020-08-18 15:27] #11341 closed

[2020-08-18 15:29] glefloch commented on #10602
@hosseinmp76, I have a working fix for #11310. I cloned your project and I was able to reproduce your error.

Replacing your `Main` class with something like below fix the error:

[code]

[2020-08-18 15:41] michael-schnell commented on #2835
Multitenancy is already supported by Quarkus when you do not use persistence units (See https://quarkus.io/guides/hibernate-orm#multitenancy).

[2020-08-18 16:02] sberyozkin commented on #11418
@wjglerum I've started creating an Azure tenant and I have to admit I don't know what exactly I'm doing there. Can you please create some test tenantid which I can use ?

[2020-08-18 17:09] gsmet opened #11452 "SmallRye GraphQL reflection warnings"
I got these warnings when building the deployment module of the SmallRye GraphQL extension:

[code]

The issue is that we create a `ReflectiveHierarchyBuildItem` for the whole `TestResource` and it contains this method:
[code]

and I think it's registering `GraphQLSchema.Builder` for reflection that brings all these classes (but it would need to be verified, there might be another additional culpr

[2020-08-18 17:14] #11421 closed

[2020-08-18 17:16] hummerpj commented on #10166
I see this was closed but the linked merge seems to reference "not working on windows".

Just wanted to confirm that is the case or to expect this to be working on windows for Quarkus 1.6

Thank you for your time.

[2020-08-18 17:20] gastaldi commented on #10166
@hummerpj I don't think there is one specifically for Windows, mind creating one? Thanks

[2020-08-18 17:34] #11362 closed

[2020-08-18 17:57] phillip-kruger commented on #11452
Thanks @gsmet - Yes I think that is the culprit - that is new functionality added recently. Looking at it now.

[2020-08-18 18:21] rsvoboda commented on #11442
How can it be done? Can you fork and adjust https://github.com/rsvoboda/openshift-quickstart?

[2020-08-18 18:25] geoand commented on #11442
I'm still on PTO.

It should just be a matter of not including the Openshift extension - but regardless, we need to make it work even if the Openshift extension is present.

[2020-08-18 18:26] wjglerum commented on #11418
Hi @sberyozkin, finally got some time to properly debug this. Had a quick look yesterday evening but couldn't find anything useful. Thanks to your suggestions for the breakpoints I now did manage to find an exception. Which does not happen when we use Keycloak as the OIDC provider.

The troubled bit seems to be here: https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main

[2020-08-18 19:05] FcoJavierSainz commented on #11430
I ran this command `./mvnw package -X`

output

[code]

[2020-08-18 19:17] MarcusBiel commented on #10988
Sorry, to be honest I am not so deep into Quarkus Permissions myself yet, this was based on information I got from a freelancer working for me - from a more abstract point of view, what I would want is something like:
boolean hasPermission = identity.hasPermission(WRITE_EMAIL_PERMISSION);

[2020-08-18 19:41] rsvoboda commented on #11442
Well, OpenShift extension should handle OpenShift Serverless - Knative Serving scenario.
I'm expecting this extension to be the main entry point from RH product portfolio perspective.

[2020-08-18 19:43] rsvoboda commented on #11442
@geoand enjoy the rest of your vacation, response to GH issues can wait till you are officially back ;)

[2020-08-18 19:47] geoand commented on #11442
Thanks 👍

I'll take a look as soon as I get back

[2020-08-18 19:57] wjglerum commented on #11418
After some more debugging related to the "Invalid path" exception from above I found some more information. This error seems to come from the fetch method from the OAuth2API from Vert.x Auth, see https://github.com/vert-x3/vertx-auth/blob/3.9.2/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/OAuth2API.java#L47

Using Keycloak:
- Passes through https://github.com/vert-x3/vertx-auth/bl

[2020-08-18 20:29] kenfinnigan commented on #11349
I've got a PR with a fix that I validated with the sample

[2020-08-18 20:32] wjglerum commented on #11418
Alright I think I found it! This works for our project and my sample project in combination with Azure AD:

`quarkus.oidc.authentication.verify-access-token=false`  -> does the trick
`quarkus.oidc.roles.source=idtoken` -> to read the roles from the idtoken instead

The second fetch was for the access token I think. Somehow Quarkus/SmallRye JWT/Vert.x Auth doesn't pick up the right path or Azure AD

[2020-08-18 20:37] parkee opened #11456 "Redis Client NullPointerException"
**Describe the bug**
[code]
If the record doesn't exist in Redis I get an NPE.
The issue is in the following method:
[code]
In my case, the following statement produces null, so as soon as getDelegate is called I get NPE.
[code]

[2020-08-18 21:26] famod commented on #11447
/cc @mkouba @manovotn

[2020-08-18 21:30] famod commented on #11444
/cc @stuartwdouglas

[2020-08-18 22:30] famod commented on #11449
The problem here seems to be that the _environment_ variable `MAVEN_OPTS` is parsed by the main Maven process but the contained system properties (`-D...`) are _not_ automatically propagated to the forked surefire test JVM.
Therefore the following line won't pick up the custom repo location: https://github.com/quarkusio/quarkus/blob/1.7.0.Final/independent-projects/bootstrap/maven-resolver/src/mai

[2020-08-18 22:59] famod commented on #11433
@dearrudam

Just to make sure, since I found a problem while debugging: You are passing an absolute path via `-s`? Not something like `-s ~/settings.xml` ?

Can you try adding `<maven.settings>${session.request.userSettingsFile}</maven.settings>` to surefire system properties?

[2020-08-18 23:09] famod commented on #11341
FTR: The disabled validation is now fixed in `master`.

The fix for the 400 vs. 500 problem is still being discussed, but I am optimistic we'll be able to fix this soon.

[2020-08-19 02:27] zeppelinux commented on #6421
@tandraschko  I'm getting this exception when running my app using java -jar target/service-0.0.1-SNAPSHOT-runner.jar, works as expeced in dev mode:

`org.apache.myfaces.view.facelets.el.ContextAwareELException: javax.el.ELException: javax.faces.FacesException: java.lang.IllegalAccessException: Attempt to lookup caller-sensitive method using restricted lookup object
	at org.apache.myfaces.view.fac

[2020-08-19 05:33] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/214672866

[2020-08-19 05:39] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/214673467

[2020-08-19 06:20] dearrudam commented on #11433
@famod, I've just followed your instruction:

[code]

And it works!!!

Thank you very much, everyone!

*PS*: I'd like to learn more about Quarkus and contribute to this awesome project also!

Best regards!

I wish you all the best!

Max

[2020-08-19 06:55] machi1990 commented on #11456
@parkee thanks for reporting the issue. This was a mis-sight from my side and has been fixed in the master https://github.com/quarkusio/quarkus/pull/11352 (reported in https://github.com/quarkusio/quarkus/issues/11351). You can use the `ReactiveRedisClient` in the meantime while waiting for another release.

Closing as not valid anymore.

[2020-08-19 06:55] #11456 closed

[2020-08-19 07:19] phillip-kruger commented on #11313
@mageddo - I looked at your sample and removed OpenAPI, and this still happens, so the issue is with RESTEasy and not with OpenAPI. Right ? If so maybe update the title, else the issue might be overlooked.

[2020-08-19 07:20] tandraschko commented on #6421
did you try a snapshot? we already fixed some bugs since M3

[2020-08-19 07:39] aloubyansky commented on #11303
@mgorniew i haven't followed the discussion on this one. But if you need access to Project, perhaps, you could look into using custom models. Have you seen how we load QuarkusModel?

[2020-08-19 07:43] aloubyansky commented on #11449
That makes sense @famod Thanks!

[2020-08-19 07:43] aloubyansky commented on #11449
Are you planning to open a PR @famod ?

[2020-08-19 07:53] aloubyansky commented on #11433
This still looks like something we should support OOTB.

[2020-08-19 07:54] pablobastidasv commented on #11449
Hello @famod , I just tried this workaround and what it does is create the maven repository folder structure in the project folder.

![image](https://user-images.githubusercontent.com/8153449/90607243-40e7d000-e201-11ea-881c-3ee06ed4c6e1.png)

And, when I specified a `maven.repo.local` outside of the scope of the maven project (e.g.: /Users/my-user/.m2/work-repo) it fails.

![image](https://user-i

[2020-08-19 07:55] sdaschner opened #11460 "OIDC token introspection fails due to path since 1.7"
The token introspection of the connected OIDC provider (Google Auth in my example) is not configured/discovered correctly anymore, when switching from `1.6.X` to `1.7.X`.

The error results in a failed future with `Invalid path`, which fails in `OAuth2API#fetch`, since before, the config used `config.tokenPath` (`https://oauth2.googleapis.com/token` in my example), and now uses `config.introspecti

[2020-08-19 07:57] #11444 closed

[2020-08-19 08:14] KaiHawai commented on #8570
Hey Everybody, in the current quarkus (1.7.0) there is stillthe behaviour that you get an 500 instead of an 403 when the JWT Token has expired. Will there be a Fix coming??

[2020-08-19 08:21] tqvarnst commented on #11442
I've investigated this a bit and there seems to be an issue with the `image:` tag in the generated knative.yml. I'm not sure why and we might wanna confirm this with the Serverless team, but it seems that you need to set the full image path including the registry to pull from. By setting this to `image-registry.openshift-image-registry.svc:5000/<namespace>/<image-stream>` it successfully deploys.

[2020-08-19 08:22] 38leinaD commented on #5378
The way to do this in a servlet container should be via the web.xml and a welcome-file-list. It seems, this is not supported today though available from WebMetaData; so, should be easy to add.
	 https://github.com/quarkusio/quarkus/blob/8f0a74c70e137042cf17b085e6e44cb770b08ebc/extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java#L200

[2020-08-19 09:27] noelo opened #11461 "Unable to read a literal value from a secret containing keys ending in "yaml,yml or properties""
**Describe the bug**
(Describe the problem clearly and concisely.)
When reading a secret any secret key with that ends with ".yml" or ".yaml" or ".properties" is assumed to contain a ConfigSource. It's not possible to read a literal value from a secret with containing keys ending in "yaml,yml or properties"

**Expected behavior**
Should be able to read literal values from secrets containing keys e

[2020-08-19 09:32] manovotn commented on #11447
I can see how this is happening in ArC, but I don't know how to prevent it yet. Every intercepted bean implements a subclass which adds interception logic to methods; what I am not seeing is how can we tell if an invocation of such method was made within an intercepted call.
Maybe @mkouba has some ideas?

[2020-08-19 09:59] famod commented on #11447
Maybe `invocationContext.getContextData()` could be utilized to work around this on the user side. The idea is:
- `PermissionInterceptor` checks if the flag already exists in the map
- if exists: don't call `bean.performCheck()`
- if not exists: add the flag and call `bean.performCheck()`

Btw, @38leinaD could it be that your example interceptor is missing `invocationContext.proceed()`?

[2020-08-19 09:59] MarcusBiel opened #11463 "Quarkus Quartz Getting started tutorial"
https://quarkus.io/guides/quartz

States:
quarkus.quartz.store-type=jdbc-cmt

Which throws an error in the most recent version of IntelliJ idea with Quarkus support:
Cannot resolve field 'jdbc-cmt' in enum 'io.quarkus.quartz.runtime.StoreType'

--
I didn't test this further but just simply updated the config to:
quarkus.quartz.store-type=JDBC_CMT

--
I assume the configuration is not case sensitiv

[2020-08-19 10:08] 38leinaD commented on #11447
@famod
You are right, the example misses the invocationContext.proceed(). I update the example to show the full scenario.

I am not sure i understand how to solve this from the user-side only. For the "if not exists" branch in your explanation, you say "call bean.performCheck()". So, here i will encounter the said problem again. Maybe i dont fully understand you proposed solution.

I actually thin

[2020-08-19 10:09] manovotn commented on #11447
Another way to workaround this is to avoid marking `performCheck()` method for interception. E.g. placing your interceptor binding (`@MyPermissionCheck`) directly on methods instead of the bean class. OFC this only works so long as you don't need that method intercepted for some other calls.

[2020-08-19 10:14] 38leinaD commented on #11447
Yes, understand what you mean. But as this is a generic mechanism that should intercept all calls, this is not an option in our case. Actually, it would be an option to explicitly exclude a certain method from interception (here: performCheck); but i am unaware that this possible in a JavaEE standard way. I can either annotate the whole class or each method, but i cannot annotate the class and som

[2020-08-19 10:16] famod commented on #11447
In theory, your interceptor _will_ be called again but will then find the flag in the map and will _not_ call `performCheck()` again.

[2020-08-19 10:17] sberyozkin commented on #11418
Hi @wjglerum Thanks for spending the time on debugging this issue. Hmm... Something strange is going on. OK,
[code]
I did introduce this check (true by default) because until `1.7.0` the access token (which is in the session cookie) is not validated at all which is risky, even though for the code flow we use and verify `id_token`. But the users can still inject the access token, access its propert

[2020-08-19 10:18] manovotn commented on #11447
@38leinaD the first workaround suggestion by @famod should work as well - the context data can be used to stored anything during the whole interceptor chain. So you could have a flag saying that you already performed `bean.performCheck()` within this chain and you'd not invoke it again. Something like this:

[code]

[2020-08-19 10:23] machi1990 commented on #11463
This should work fine and enum config values are case insensitive (jdbc-cmt and JDBC_CMT) should work, we have a preference for the former. See https://github.com/quarkusio/quarkus-quickstarts/blob/d7d286a36409bbfe6475ba12bf9d929d5db00580/quartz-quickstart/src/main/resources/application.properties#L1

[2020-08-19 10:29] sberyozkin commented on #11460
Hi @sdaschner

I think what I said [here](https://github.com/quarkusio/quarkus/issues/11418#issuecomment-676089846) explains this regression.
If you add `quarkus.oidc.authentication.verify-access-token=false` to your original configuration then it will work.
Let me summarize again what this property is about in the code flow process:
1. ID and access tokens are fetched once the code flow is comple

[2020-08-19 10:31] sberyozkin commented on #11418
@wjglerum the same issue is here, https://github.com/quarkusio/quarkus/issues/11460#issuecomment-676106720

[2020-08-19 10:32] sberyozkin commented on #11418
The reason it is all working with KC is because its access token is also JWT and besides, it also reports the introspection path in the discovery doc

[2020-08-19 10:49] parkee commented on #11456
@machi1990 Thanks, I missed that issue somehow when searching.
yea, we actually use the reactive version for our app but blocking version for integration tests

[2020-08-19 11:39] johnaohara commented on #10198
@tsegismont Thank you for investigating this issue.

[2020-08-19 11:41] alexkuku opened #11464 "Unable to extract null to numerical parameter"
**Describe the bug**
[code]
if my request param is nothing and the url will be
http://localhost:8080/hello?userId=

**Expected behavior**
return null
or
return 0

**Actual behavior**
return nothing
the error is
Unable to extract parameter from http request: javax.ws.rs.QueryParam("userId") value is '' for public java.lang.Object xxx

**To Reproduce**
Steps to reproduce the behavior:
above

**Confi

[2020-08-19 11:48] bobbyphilip commented on #11440
This patch didnt work for my code.
I did some debugging in core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectiveHierarchyStep.java
When the execution reaches removeIgnored(), the Map of unindexedClasses has 2 elements. "java.math.BigDecimal" and "javax.persistence.EntityManager".  The BigDecimal gets removed from the Map at the end of this function.
Would adding the EntityManager to

[2020-08-19 12:19] 38leinaD commented on #11447
Sounds like i viable solution/workaround in general if this is a JEE standard-compliant approach; and it looks like it!

But it does not work currently. I tried, like you described but on each self-invokation of the interceptor, the map seems to be reset and the entry i put in before is gone. In fact, the map always only contains this key: io.quarkus.arc.interceptorBindings. my_key is gone.

[2020-08-19 12:40] egore opened #11465 "QuarkusSecurityTestExtension fails to read class annotation"
**Describe the bug**
In QuarkusSecurityTestExtension#beforeEach() the code tries to load the TestSecurity annotation from the method and falls back to the class if not present on the method. The variable "test" unfortunately is a subclass (e.g. if the test is "mypackage.MyTest" the class will be "mypackage.MyTest_Subclass". Therefore the annotations on the class level is not evaluated.

**Expected

[2020-08-19 12:44] wjglerum commented on #11418
Thanks for your explanation and follow up @sberyozkin!

It would be nice if we could somehow validate the access token coming from OIDC providers like Azure AD. This should be possible right?

Because the access token returned by Azure AD is a JWT which has a `kid` claim in the header which links to the keys from the endpoint found in the OIDC configuration, see:
- https://login.microsoftonline.co

[2020-08-19 12:46] Sanne commented on #2835
I agree, it should be doable to allow the mapped entities to inherit from superclasses without restrictions, and similarly use embeddables across entities.
I also don't expect that it would be necessary to explicitly list such types as belonging to a particular PU, they would just need to be pulled into the mapping transitively.

[2020-08-19 12:49] Sanne commented on #2835
Regarding Panache: as @FroMage mentioned, it's not worth it to have to "pollute" all methods it generates on entities to also accept some form of PU identifier (name?), but I suppose we could eventually support entity sharing provided the user is using the repository pattern.

[2020-08-19 12:57] mariofusco commented on #8694
Fixed on Drools by https://github.com/kiegroup/drools/commit/c401f20b7ec3bea2b9860d00d8f02db60f4a0850

I'm keeping the ticket opened since We will need to bump into Kogito a version of Drools containing this commit to fix the lagacy API test.

[2020-08-19 13:05] sberyozkin commented on #11418
@wjglerum Are you sure you are referring to the access token as opposed to ID token ?
One does not have to verify the access token with Quarkus in the code flow since we work with ID token as the primary token.
The fact you have the flow failing with this AT validation being on by default does indicate the AT is either opaque or has no JWK in the local JWK set which Quarkus fetched.
Can you share

[2020-08-19 13:09] gsmet commented on #11440
@bobbyphilip can you explain what is `OneOfMyClasses`? Is it a JAX-RS resource, something else?

[2020-08-19 13:11] manovotn commented on #11447
Ah, I see. Just tried it locally. It won't work because each of those method invocations triggers a separate interceptor chain (meaning each of them has their own context data therefore you cannot see the flag you store there). Context data are only shared within one interceptor chain, you would use that, for instance, to carry information between several of your interceptors within one chain. Sad

[2020-08-19 13:12] gavinking commented on #2835
Yup, that's what I mean.

Totally. I regret having introduced the `entityName` version of methods on the `Session` API, way back in the day, and this would be as bad or worse than that.

To clarify, I didn't mean to imply I'm hostile to allowing this if it's easy to do. My above posts were merely arguing that I don't think it's anything like a high priority / hard requirement.

[2020-08-19 13:14] aloubyansky commented on #11433
Just to clarify @dearrudam, those repository configs you posted above, are they configured in a profile?

[2020-08-19 13:17] metacosm opened #11467 "Command line arguments are not properly passed along when using quarkus.args"
**Describe the bug**
Specifying `quarkus.args` when launching the dev mode doesn't properly pass all the arguments. It only works properly if passing a single argument that doesn't contain any space i.e. `-Dquarkus.args='--help'`. However, if you attempt to pass more complex arguments such as: `-Dquarkus.args='get abc -u foo --password foo-bar'` this will fail as the arguments get split on white s

[2020-08-19 13:21] bobbyphilip commented on #11440
import java.sql.Timestamp;
import com.example.Business;
import io.quarkus.runtime.annotations.RegisterForReflection;

@RegisterForReflection
public class BusinessView {

    private Long id;
    private Boolean active = Boolean.TRUE;
    private String city;
    private Timestamp updatedTime;
//Some more fields
    public BusinessView() {

    }

    public BusinessView(Business business) {

[2020-08-19 13:30] manodupont opened #11469 "Got different property evaluated on docker run and docker-compose up but with the same image"
**Describe the bug**
When i launch a docker-compose with my image freshly created and pushed, `quarkus.oidc.auth-server-url` is not recognized correctly from my `application.yaml` file.

When i start locally with docker run, i can see the right variable being set but when i run from docker-compose, its not complete.
Here is the exact logs that showed something is wrong:

**Locally**
1. docker run

[2020-08-19 13:34] sberyozkin commented on #11465
CC @stuartwdouglas

[2020-08-19 13:42] 38leinaD commented on #11447
Hm, as I already described above, the other workaround is not an option for us as this is a generic mechanism in our application that does some security checks and it cannot be left to the person implementing the bean to add the annotation to each method that needs it.

What is the argument against adopting the behavior of Weld and other CDI implementations? I under stand that Arc is not fully CDI

[2020-08-19 13:44] hummerpj commented on #10166
@gastaldi

I think I spoke too soon, I was working on creating a separate project to recreate it but appears to be working fine on windows.

Carry on :D

[2020-08-19 13:50] Mobe91 commented on #2809
@stuartwdouglas Then you should also adopt the example in https://quarkus.io/guides/writing-extensions#scanning-deployments-using-jandex which uses `Class.forName`.

[2020-08-19 13:58] manovotn commented on #11447
None at all. This needs to be fixed. We were just suggesting temporary workarounds for you in the meantime :-)

[2020-08-19 13:59] #10043 closed

[2020-08-19 14:00] gsmet commented on #10571
@evanchooly any chance we could just do it and close the issue? Thanks!

[2020-08-19 14:04] evanchooly commented on #10571
I would actually like to break apart PanacheCompanion and PanacheCompanionBase like the mongo bits have it so the ID type can be parameterized.  It was on my list to do this week but I've been fighting the CI and running tests locally to see if the fault is actually in my code or not.

[2020-08-19 14:05] gsmet commented on #11440
What I don't understand is what created the `ReflectiveHierarchyBuildItem` for `BusinessView`. Any chance you could add a breakpoint in the various constructors of `ReflectiveHierarchyBuildItem` and tell me which BuildStep/Processor is creating it?

[2020-08-19 14:09] cescoffier commented on #11160
Issue found upstream: https://github.com/smallrye/smallrye-reactive-messaging/issues/704

[2020-08-19 14:13] VS-AMC commented on #11160
Excellent. Easy fix that can be thrown into the next upgrade?

[2020-08-19 14:24] sdaschner commented on #11460
Hi @sberyozkin, thanks for the explanation.

Does this only affect the verification, or also refreshing the access token?

In any way, I was wondering if one prefers keeping the verification, since this worked before, then upgrading to 1.7.0 is a blocker. I'll test with disabling the verification, but I'd require the refresh to work for my use case as well, as it does in 1.6.0...

[2020-08-19 14:31] cescoffier commented on #11160
Well, not sure about "easy", but I've implemented the fix (https://github.com/smallrye/smallrye-reactive-messaging/pull/705). It should be integrated into the next release.

[2020-08-19 14:38] tivrfoa commented on #7699
I was having this problem on Windows.
Then I found a solution here:
https://stackoverflow.com/a/60313194

I just added `%test.quarkus.http.host=localhost` to application.properties and it worked.

[2020-08-19 14:40] bobbyphilip commented on #11440
As a quick response, I hope the stacktrace below helps.  I print this stacktrace when ReflectiveHierarchyBuildItem constructor is called and the type in it, is com.example.BusinessView.

[code]

[2020-08-19 14:49] manodupont commented on #11469
Im just numb!

Thanks!

Closing.

[2020-08-19 14:56] rsvoboda opened #11470 "Custom settings.xml is not honored by Quarkus (1.3) when the path is relative"
Custom settings.xml is not honored by Quarkus when the path is relative. Workaround is to set absolute path to settings.xml.

Spotted that when was trying to run Quarkus QS again released productized bit on https://maven.repository.redhat.com/ga
Bits got downloaded but test execution printed "Downloading from central: https://repo.maven.apache.org/maven2/com/redhat/quarkus/quarkus-universe-bom/1.3

[2020-08-19 15:03] glefloch commented on #11406
Yes, testClassesIndex is wrote after the `test` task started but before the test is actually run : https://github.com/quarkusio/quarkus/blob/89f0ba4fdc69196b66aca2106ce4d91685c97cf2/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java#L196
That's why you need to run test at least two times before gradle can detect the task as `UP-TO-DATE`.
It seems complicated to ove

[2020-08-19 15:08] geoand commented on #11406
You mean a custom task that writes the index itself?

[2020-08-19 15:09] sberyozkin commented on #11465
@egore If you have a bit of time to help Stuart with the PR then it would be appreciated

[2020-08-19 15:11] asodja opened #11472 "Quarkus Unit tests fail when running from IntelliJ for Gradle project"
**Describe the bug**
In #8737 support for IntelliJ builder/runner was added. But it seems that it does not work.
Reproducible: https://github.com/asodja/quarkus-gradle-idea-multi-module
Error:
[code]

The problems are two:
1. IntelliJ compiles files to `out/` and Gradle Model expects things in `build/` directory
2. Gradle Model expects Jars for test sources (IntelliJ does not create jars)

This ca

[2020-08-19 15:11] sberyozkin commented on #11460
@sdaschner No, the access token was not verified before 1.7.0.Final, as I said, Quarkus OIDC views ID token is the master/principal token in the code flow, access token is only meant for the propagation by default.
Refresh token code should still work.

[2020-08-19 15:14] glefloch commented on #11432
master seems to be ok now. Wasn't this related to https://github.com/quarkusio/quarkus/pull/11043/checks which has been reverted yesterday ?

[2020-08-19 15:26] gsmet commented on #11440
I have the info I need. Now I need to find a way to reproduce it and understand what's going on.

[2020-08-19 15:27] gsmet commented on #11432
Yes that's the failure we had before I reverted that PR.

On Wed, Aug 19, 2020 at 5:14 PM Guillaume Le Floch <notifications@github.com>
wrote:

[2020-08-19 15:27] glefloch commented on #11406
yes as `quarkusPrepareTests` generates grpc code for test.

[2020-08-19 15:30] sberyozkin commented on #11460
@sdaschner please see the linked PR. Note both ID and access token verification works in Keycloak with 1.7.0.Final but it looks like with Google (as well as with Azure) what happens is that either 1) AT is binary or 2) AT is JWT but the JWK key is not in the local key set, so in both cases the remote introspection attempt is done as the fallback and since neither Google nor Azure apparently suppor

[2020-08-19 15:37] geoand commented on #11406
Yeah, I'm fine with that

[2020-08-19 15:52] ydalekorey commented on #10988
Actually I would not say that we need permissions in quarkus
We need some general purpose mechanism that can be adapted by developers to theirs needs
It would be nice to have some annotation with more general name like @Secured or @Authorized or @HasAuthority
And the developers would be able to adapt such mechanism for Auth0 permissions as well.
I can easily make quarkus @Role annotation to accept

[2020-08-19 15:55] sberyozkin commented on #11460
@sdaschner I've checked [Google account well-known config](https://accounts.google.com/.well-known/openid-configuration), it does not have an introspection endpoint, therefore it looks like the access token returned by Google is either opaque or signed by key with `kid` not matching any keys in the fetched JWK set.
At this stage the side-effect of verifying the AT has to be fixed. I'd be still int

[2020-08-19 15:57] sberyozkin commented on #11418
@wjglerum see also this comment, https://github.com/quarkusio/quarkus/issues/11460#issuecomment-676511319, if you can try to debug even more than it will clarify things.
As I said, the 1st thing which has to be done is to fix this side-effect to avoid the users opening new issues.
Next we can investigate, as part of a new issue, how to optionally verify not only ID but also ATs returned from Azure

[2020-08-19 16:09] aloubyansky commented on #11449
I was trying to reproduce it using a simple resteasy app and current master. The interesting thing is that I found that `mvn clean` didn't work if I used `~/.m2/custom-repo` but did work if I used the absolute path instead. Which makes it a general Maven issue.

[2020-08-19 16:22] dearrudam commented on #11433
No, those repository configs are not configured in a profile. They're under the "settings" root tag.

[2020-08-19 16:26] famod commented on #11433
Btw, why are you redefining `central`? The `mirror` entry should suffice, no?

[2020-08-19 16:45] dearrudam commented on #11433
Well, I'm not responsible for this settings :) I think that the reason why is to make sure that all request will be redirected to the target Artifactory server.

[2020-08-19 16:59] famod commented on #11449
Hm, interesting. TBH I don't think it is a Maven problem because `~` has to be expanded by the shell.
https://www.gnu.org/software/bash/manual/html_node/Tilde-Expansion.html

I suppose it'll work as expected if used directly (instead via `MAVEN_OPTS`): `mvn -Dmaven.repo.local=~/.m2/custom-repo`
`MAVEN_OPTS=$HOME/.m2/custom-repo` _could_ work as well.

Sorry for just speculating, but I don't have t

[2020-08-19 17:02] radcortez commented on #11424
An additional update:

The `ResteasyDeployment.start();` performs the registration of the `ResteasyProviderFactory` which is used to add the required `Providers`. The `ResteasyProviderFactory` may also be initialized directly via `ResteasyProviderFactory.setInstance`.

If we do it for clients, independently if there is an app it work. It an app is deployed, is just overrides the instance and it wo

[2020-08-19 17:28] famod commented on #11447
Too bad the context map doesn't work here. What about unwrapping the proxy (`io.quarkus.arc.ClientProxy`)?
PS: I know such things should be avoided whenever possible.

[2020-08-19 18:05] bobbyphilip commented on #11440
I am sharing a [git repo ](https://github.com/bobbyphilip/quarkus-test-1), which is equivalent to the code I have.
This does **NOT** reproduce the issue, so it is not particularly useful.
The class which shows up in the error is rather simplistic and I cant see anything particularly unique in it. It is very similar to around 5/6 other classes in my project.

Is there some sort of parallelism invol

[2020-08-19 18:33] nbuesing opened #11475 "Optional nested configuration issue"
**Describe the bug**
I have a Bean annotated with @ConfigProperties with a nested element; which seems to work. However, if I make that nested element optional, I get a missing converter exception.

**Expected behavior**
I would expect that an optional element would not need to be defined in my application.yml, but if the nested element is defined then I would expect the validation within that nes

[2020-08-19 18:35] marc-christian-schulze opened #11476 "Quarkus 1.7.0.Final - SRMSG18217: Unable to read a record from Kafka topics '[someTopic]': java.lang.IllegalStateException: This processor allows only a single Subscriber"
**Describe the bug**
I've a QuarkusTest which subscribes to a channel before each test using
[code]
and unsubscribes afterwards using
[code]
and uses a real Kafka messaging backend for testing
[code]
the events are emitted to the out-channel
[code]
In Quarkus 1.6.0.CR1 the test was working properly. The QuarkusApp emitted the event into the Kafka topic and received it back from there. However, in

[2020-08-19 18:35] nbuesing commented on #11475
sample code:

[quarkus-config.tar.gz](https://github.com/quarkusio/quarkus/files/5098570/quarkus-config.tar.gz)

[2020-08-19 19:02] 38leinaD commented on #11447
In the best case, I would like a workaround where the interceptor can run on a regular JEE appserver as well as on Quarkus.
I was thinking to use a ThreadLocal variable to keep track if the interceptors has already been call (using a ThreadLocal instead of the InvocationContext.getContext()). This should be safe as the interceptors are always called on the same thread, right?

[2020-08-19 19:19] mkowa42 commented on #11449
I can confirm that this is working.

[2020-08-19 19:50] aloubyansky commented on #11433
That's interesting because it's not supported, afaics. Repositories in the settings can only be configured in a profile.

[2020-08-19 19:56] famod commented on #11433
Good catch! So maybe those repos are ignored altogether?
`mirrors` on the other hand _are_ allowed directly under `settings` (and only there).

[2020-08-19 20:05] dearrudam commented on #11433
Yeah... you're right! I've just asked the responsible one to provide me the complete setting.xml file instead of the snipped piece with repository configs then I've just realized that those configs ones are under a default profile that such one is activated already.

[code]

[2020-08-19 22:12] rodolfodpk opened #11481 "Support for Integer parameters in quarkus-vertx-web"
Hello, I noticed just the first method works. Integer support parameter would be nice.

[code]

[2020-08-19 22:28] ArokLair opened #11483 "Unsatisfied dependency for type javax.persistence.EntityManager and qualifiers [@Default]"
Hi team.

We have a bug to compile maven project:

Failed to execute goal io.quarkus:quarkus-maven-plugin:1.7.0.Final:build (default) on project security: Failed to build quarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
	[error]: Build step io.quarkus.arc.deployment.ArcProcessor#validate threw an exception: javax.enterprise.inject.spi.DeploymentExce

[2020-08-20 00:09] #5378 closed

[2020-08-20 02:20] jaikiran commented on #11432
I just checked some runs and the issue reported here, no longer seems to be present anymore. I'll go ahead and close this issue.

[2020-08-20 02:20] #11432 closed

[2020-08-20 02:31] jaikiran commented on #11464
Hello @alexkuku, would you be able to paste the complete exception stacktrace please? That will help some of us to quickly see which area needs a fix.

[2020-08-20 02:35] stuartwdouglas commented on #2809
https://github.com/quarkusio/quarkus/pull/11485

[2020-08-20 02:47] alexkuku commented on #11464
RESTEASY003870: Unable to extract parameter from http request: javax.ws.rs.QueryParam("userId") value is '' for public java.lang.Object com.test.ResultController.getAttendanceResultList(java.lang.Long,java.lang.Long,java.lang.Integer,java.lang.String,java.lang.String,java.lang.Integer,java.lang.Integer)

[2020-08-20 02:47] alexkuku commented on #11464
RESTEASY003870: Unable to extract parameter from http request: javax.ws.rs.QueryParam("userId") value is '' for public java.lang.Object com.test.ResultController.getAttendanceResultList(java.lang.Long,java.lang.Long,java.lang.Integer,java.lang.String,java.lang.String,java.lang.Integer,java.lang.Integer)

[2020-08-20 02:55] alexkuku commented on #11464
I've tried to avoid this exception by set new uri to containerRequestContext in ContainerRequestFilter, but failed,
and the exception is : RESTEASY003125: Can't set URI after match.

[2020-08-20 04:09] jaikiran commented on #11430
@FcoJavierSainz, would you happen to know what/who is passing that `c.u-US` locale? Can you also post the output of:

[code]

[2020-08-20 04:41] jaikiran commented on #11388
Resolved in https://github.com/quarkusio/quarkus/pull/11414

[2020-08-20 04:41] #11388 closed

[2020-08-20 05:06] jaikiran commented on #7913
Hello @suciuandrei94, I see you are using 1.5.2.Final of Quarkus? Can you try this against 1.7.0.Final of Quarkus and see if it is resolved there? If not, can one of you share a simple Quarkus application (as a github repo preferably) which reproduces this issue against 1.7.0.Final of Quarkus?

[2020-08-20 05:10] jaikiran commented on #11361
Hello @juanmbellini, is this showing up as an issue in some manner when you are running your application tests? Could you share those details?

[2020-08-20 05:16] jaikiran commented on #10873
I think Yasson should perhaps check the "optionalValueType" and if it finds it to be a primitive type (like `String`) then use/delegate the serialization/deserialization to the existing serializer/deserializer they have for these primtive types.

Given that there already is a workaround (specifically adding the reflection configuration for Graal) to get past this, I think it's perhaps better to wa

[2020-08-20 05:19] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/216255301

[2020-08-20 05:34] stuartwdouglas commented on #11483
You are likely either missing the JPA extension or don't have any entities in your project.

[2020-08-20 06:50] #11469 closed

[2020-08-20 06:56] liavyona opened #11489 "Add optional FIPS mode"
**Description**
As part of choosing framework to work with, some organisations need to be FIPS complaint with their products. Quarkus has no FIPS mode. A FIPS mode will be a great ability and will make Quarkus the easiest choice when it comes to choosing framework.

**Links**
[Zulip chat](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Fips.20complaint)

[2020-08-20 07:41] pablobastidasv commented on #11449
In my case (in MacOS Catalina), when I run it directly (Via `mvn -Dmaven.repo.local=~/.m2/custom-repo`) what happened is a folder calles `~` is created in my project folder.

![image](https://user-images.githubusercontent.com/8153449/90730882-2a0cb080-e2c9-11ea-931d-8d525f0ef468.png)

Then if I run it again, the next build will use that new folder calles `~` and looks is working, but adding stuffs

[2020-08-20 07:41] tsegismont commented on #10889
@karesti does the Infinispan client support locks/counters now? Perhaps for such cases it would make sense.

Do you have experience with Vert.x and the eventbus already? I'm asking because you need to know that delivery in clustered mode is best-effort so you need to be able to loose messages.

[2020-08-20 07:43] aloubyansky commented on #11470
If you move settings.xml to the quarkus-quickstarts dir and run the command from the quarkus-quickstarts dir with `-s settings.xml` it'll also work. It is probably trying to resolve the settings file relative to the project dir.

[2020-08-20 07:43] tsegismont commented on #10889
@Serkan80 you need to configure the cluster host otherwise Vert.x will assume `localhost`.

[2020-08-20 07:44] aloubyansky commented on #11449
I noticed that too.

[2020-08-20 07:53] aloubyansky commented on #11433
Thanks for confirming @dearrudam
Just FYI, I tried to reproduce it quickly yesterday with mirror * and nexus but in nexus I created a group that included also maven central and that worked, i.e. i couldn't reproduce it. I guess what I need to do is to remove the central repo from the group and redefine it the way it is done in your config. I'll try that later today or this week.

[2020-08-20 08:11] xtron opened #11490 "Bean validation doen't work with Hibernate+JPA in Native mode"
**Expected behavior**
Bean validation+JPA works in native mode.
**Actual behavior**
Bean validation works in JVM mode, but doesn't in native.
**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:xtron/quarkus-jpa-validation.git`
2. `mvn verify -Pnative`

**Environment (please complete the following information):**
 -`uname -a
  Linux xtronmachinw 5.4.0-40-generic #44-Ubun

[2020-08-20 08:16] aloubyansky commented on #11470
It's interesting that it appears to work in 1.3.4.Final.

[2020-08-20 08:45] agelbess opened #11491 "Named mongo client injection trying to use default mongo client"
**Describe the bug**
When using the named mongo client injection, quarkus keeps trying to instantiate both the named client and the default mongo client. As a result, the default mongo client is getting the default connection string from `quarkus.mongodb.connection-string` which is always `localhost:27017`. Setting this property should not be needed, as it should not be used. Only the named mongo

[2020-08-20 08:54] #11465 closed

[2020-08-20 09:01] #10491 closed

[2020-08-20 09:03] #11417 closed

[2020-08-20 09:04] rsvoboda commented on #11470
Can you share the command? Community bits are always on central ...

[2020-08-20 09:07] aloubyansky commented on #11470
mvn -s settings.xml -f quarkus-quickstarts/pom.xml -pl getting-started clean test -Dmaven.repo.local=$PWD/local-repo

[2020-08-20 09:07] aloubyansky commented on #11470
ah, ok, right

[2020-08-20 09:12] #11349 closed

[2020-08-20 09:14] knutwannheden opened #11492 "respect config_ordinal in microprofile-config.properties files"
A `ConfigSource` can specify an ordinal (cf. `ConfigSource#getOrdinal()`) for ordering. And according to the [spec](https://github.com/eclipse/microprofile-config/blob/master/spec/src/main/asciidoc/configsources.asciidoc) the ordinal can be specified manually using the `config_ordinal` property. Thus I think it should be possible to create a `META-INF/microprofile-config.properties` file in a Quar

[2020-08-20 09:16] knutwannheden commented on #11492
Possibly this should instead / also be raised as an issue against SmallRye Config's `AbstractConfigSource` implementation.

[2020-08-20 09:20] #11032 closed

[2020-08-20 09:28] gsmet commented on #2835
FWIW, right now, it doesn't work automagically. I only added the entities to the PU first and I ended up with tests failing.

Or do you expect Quarkus to do the work rather than Hibernate ORM?

[2020-08-20 09:36] gsmet commented on #11463
@MarcusBiel is your application working properly with `jdbc-cmt`? Because that's what you should use.

If IDEA is reporting an error, then you should open a bug there.

[2020-08-20 09:38] gsmet commented on #11476
/cc @stuartwdouglas (maybe it's an issue with some test infra changes?) and @cescoffier

[2020-08-20 09:38] gsmet commented on #11476
@marc-christian-schulze any chance you could prepare a small Maven project reproducing the issue? If it can be in Java, it's even better.

[2020-08-20 09:39] MarcusBiel commented on #11463
It is working. I was just trying to be pragmatic, because, changing the doc seems much easier than changing an IDE :)

[2020-08-20 09:39] #11463 closed

[2020-08-20 09:39] tsegismont commented on #10198
See https://github.com/eclipse-vertx/vertx-sql-client/issues/742

[2020-08-20 09:41] gsmet commented on #11481
/cc @mkouba

[2020-08-20 09:43] ia3andy commented on #11154
My reasons why I think we should implement it:

- We are not generating the user application, but showing example of what they can use in there app.. So they will have to pick what they want and do their cooking with it.. you can still set the group id for maven/gradle. For the package/class, the convention to use in example codestarts to avoid conflicts is:
org.acme.[example-name].MyClass

- Also

[2020-08-20 09:45] gsmet commented on #11463
Yeah but it's something we explicitly want.

Can you open an issue for the Intellij plugin? They are making steady progress there so that might be fixed quickly.

[2020-08-20 10:03] sberyozkin commented on #11418
@wjglerum similarly to Google, Azure does not have an introspection endpoint in [this discovery doc](https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration).
The access token return with the code flow is not meant to access Quarkus itself, Quarkus App can use it to access Azure API or refresh ID tokens, same as with Google.
I'm absolutely certain the AT is not verifiable lo

[2020-08-20 10:08] Sanne commented on #2835
I would expect this to work in ORM "standard" but since in Quarkus we have a custom Scanner, we probably need Quarkus to do this extra step.
But of course feel free to ignore this for now, it seems a good follow-up task for others to help.

[2020-08-20 10:11] famod commented on #11492
/cc @radcortez

[2020-08-20 10:11] rsvoboda commented on #11470
I have similar reproducer for 1.7, using following settings.xml
[code]
Reproducer
[code]
Tests will pass because Quarkus is deployed to central, but in the log you can see that settings.xml is not honored when the test is executed and bits get downloaded from `repo.maven.apache.org` and not from `repository.jboss.org`

see different URL before and after `[INFO]  T E S T S` line
[code]

[2020-08-20 10:22] gsmet commented on #2835
We could also provide a specific base class to support that.

[2020-08-20 10:32] rsvoboda opened #11493 "Unable to run integration-tests/maven against 1.7.0.Final bits, NoClassDefFoundError: io/quarkus/maven/it/RunAndCheckWithAgentMojoTestBase"
Unable to run integration-tests/maven against 1.7.0.Final bits, NoClassDefFoundError: io/quarkus/maven/it/RunAndCheckWithAgentMojoTestBase

Started on Quarkus Forum https://groups.google.com/g/quarkus-dev/c/qylFrQSQBLY

[code]

Running against master or 1.7 branch works
[code]

[2020-08-20 10:43] sberyozkin commented on #11489
Looks like we need a CI job which can be run with the FIPS mode enabled

[2020-08-20 11:09] gsmet commented on #11440
I wasn't able to reproduce it either.

I added some additional information to the warning hoping it could help to narrow down the issue. Could you try with the latest version of my PR? https://github.com/quarkusio/quarkus/pull/11462

[2020-08-20 11:16] MarcusBiel commented on #11463
Done.

[2020-08-20 11:55] radcortez commented on #11492
Yes, this is SmallRye Config specific. I'll have a look.

[2020-08-20 12:22] bobbyphilip commented on #11440
After building your changes, I didnt see any difference in the log warning.   I think this means that the source of the ReflectiveHierarchyBuildItem is null, and we replace it with the type in the build method of ReflectiveHeirarchyStep(line 65)
I then added some debugs in
[code]

The source is null in the following sequence

[code]

SmallRyeOpenApiProcessor has some function calls to the deprecat

[2020-08-20 12:25] gsmet commented on #11490
Should be fixed by https://github.com/quarkusio/quarkus/pull/11494 .

Your test doesn't pass as the native image is run in prod mode and you don't have the exception text in the output but you now have a proper exception triggered and a 500.

[2020-08-20 12:27] Lukkie commented on #6075
I also had to register the methods for reflection. Seems like something that should be done automatically.

[2020-08-20 12:51] gsmet opened #11495 "JAX-RS resource and Hibernate ORM/Bean Validation integration leads to a lot of noise"
When a constraint violation is raised when saving an Hibernate entity, I end up with the following content in the log:
[code]

Two comments here:
 * The Arjuna warning seems problematic to me. This is a perfectly valid use case and I don't see why we would end up with a warning in the log each time we have an invalid constraint.
 * The fact that the `RollbackException` is wrapped really doesn't he

[2020-08-20 13:00] MarcusBiel opened #11496 "Provide a cdi aware QuartzFactory"
Please provide a cdi aware QuartzFactory that allows to create QuartzJobs that make use of cdi injection.

As a hack, I am currently using: Arc.container().instance(MyService.class).get(); in the Quartz Job class, as recommended by @radcortez, but it doesn't work reliably when the bean is not available and I am sure this could be done in a more transparent way :)

[2020-08-20 13:02] burmanm opened #11497 "HttpAuthenticationMechanism SecurityException throwing hangs the REST call"
**Describe the bug**
Using the following example code (resteasy-mutiny and quarkus-security):

[code]

And calling an endpoint secured by it causes the calling http client to hang indefinitely. Easy to test with JAX-RS endpoint like:

[code]

And then calling the endpoint. It will never finish to reply anything:

[code]

**Expected behavior**
401 / 403 statusCode.

**Actual behavior**
The REST-cli

[2020-08-20 13:06] Sanne commented on #11495
Also related: #10154

[2020-08-20 13:10] jaikiran commented on #11497
Hello @burmanm, when this hangs, can you get the `jstack` output of the (Java) process that is running you Quarkus application? 2-3 jstack output separated by around 5 seconds each would help us try and narrow this down quickly.

[2020-08-20 13:20] sberyozkin commented on #11497
@burmanm Do you get 401 if the JAX-RS resource returns say String ?

[2020-08-20 13:26] burmanm commented on #11497
First jstack: https://gist.github.com/burmanm/ecf9cd1b386417c87e558901ab051fc3
6 seconds later: https://gist.github.com/burmanm/39b98cbd56da7fc1d9b8465ebb1400a6

[2020-08-20 13:26] burmanm commented on #11497
@sberyozkin Do you mean using non-reactive-reply?

[2020-08-20 13:31] aloubyansky commented on #11470
Apparently, it's a pretty tricky one. Do we need a fix for 1.3?

[2020-08-20 13:33] xtron commented on #11490
Thanks. I fixed test

[2020-08-20 13:44] tsegismont commented on #11149
@gsmet can you please remove the `triage/invalid` label? Thank you

[2020-08-20 14:03] rsvoboda commented on #11470
I don't think it is needed, I'm apparently the first one complaining about it and it's not security issue ;)

[2020-08-20 14:03] rsvoboda commented on #11470
And there is workaround ...

[2020-08-20 14:15] sberyozkin commented on #11497
@burmanm Yes, just curious if returning Uni/Multi has some build time expectations about the required response introduced. So yes, using non-reactive reply

[2020-08-20 14:15] aloubyansky commented on #11470
Here is the issue. For the command you provided, i.e. where the values of `-f` AND `-s` are relative paths to the same current working dir, it be fixed and I think it should be. But if you change the value of `-f` to an absolute path, I don't see how we can resolve the actual path to the settings file unless it's an absolute path. I simply can't get hold of the directory the command was launched f

[2020-08-20 14:18] aloubyansky commented on #11433
@famod we need to add `<maven.settings>${session.request.userSettingsFile.path}</maven.settings>` to our surefire properties. Clearly the settings file isn't found.
And as in the other issue, I think we should add ` <maven.repo.local>${session.request.localRepositoryPath.path}</maven.repo.local>` and probably other.
Do you want to add them or shall I?

[2020-08-20 14:28] burmanm commented on #11497
No difference.

[2020-08-20 14:28] manovotn commented on #11496
@MarcusBiel I am not quite familiar with Quartz but I am with Arc. Could you give me a code snippet of what you expect to work and what doesn't?  I might be able to understand it better and help.

[2020-08-20 14:37] gastaldi commented on #11430
It looks like your IBM Cloud toolchain is set to that locale? What is returned when you `echo $LANG` in that environment?

[2020-08-20 14:43] #11418 closed

[2020-08-20 14:43] #11460 closed

[2020-08-20 14:57] burmanm commented on #11497
From another ticket (https://github.com/smallrye/smallrye-mutiny/issues/254), it seems that the Mutiny version works when the error comes from certain methods of Mutiny and the AuthenticationFailedException works. Maybe @cescoffier could share some light to this? So one needs to be careful not to create exceptions when outside the Mutiny-flow.

[2020-08-20 15:00] FcoJavierSainz commented on #11430
Hello these are the outputs
[code]

[2020-08-20 15:11] gastaldi commented on #11430
Looks like `C.UTF-8` is a special "Computer" locale. I think we could change `LocaleConverter` to use `Locale.ROOT` in this case, let me check.

In the meantime, can you see if you can make it work by changing your locale to something else?

[2020-08-20 15:15] ArokLair commented on #11483
Yes, we solved add JPA conection in the application.propierties.

Thanks for response please close the issue.

[2020-08-20 15:16] #11483 closed

[2020-08-20 15:18] wjglerum commented on #11418
@sberyozkin thanks for changing the default for verifying the access tokens!

Here are the decoded headers from both tokens:
- id token header:
[code]
- access token header:
[code]

Seeing the headers I do think that Quarkus OIDC should be able to verify the access token. As the access token uses the same `kid` as the id token.

I'll try to do some more debugging tomorrow on why it is not using th

[2020-08-20 15:22] gastaldi commented on #11430
I provided a fix in https://github.com/quarkusio/quarkus/pull/11499, can you build from my branch and see if that works for you?

[2020-08-20 15:29] juanmbellini commented on #11361
Hello @jaikiran . It does not affect in any manner my tests. I just add the dependency myself to my project.
The thing is that `org.mockito:mockito-junit-jupiter` is a required dependency when using JUnit 5 if you want to use the Mockito Extension. Here more info: https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html#45.
And here more data about Junit 5 extension model: h

[2020-08-20 15:33] juanmbellini commented on #11361
Here more info: https://stackoverflow.com/a/40962941/5373655

[2020-08-20 15:40] vankofalcon opened #11501 "Reactive pg client with mutiny can not insert into a jsonb column"
Quarkus version: 1.7.0

I have a simple table in Postgresql 11 with a jsonb column. When I try to insert from my java code the inserted value is treated as an escaped string in postgresql and my json queries don't work. It seems that the inserted data is escaped.

[code]
When I try to insert the same json string form the command line I get the expected behavior and I can query postgresql using the

[2020-08-20 15:49] FcoJavierSainz commented on #11430
It worked 👍 , thanks

[2020-08-20 15:49] sberyozkin commented on #11021
@aksth Hi, we have a simple utility code which decodes the content into `JsonObject`: https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java#L44

It is quite effective and please use it, if you;d like. I think we can close this issue now
CC @pedroigor

[2020-08-20 16:20] gsmet commented on #11440
@bobbyphilip can you give my branch another try? Be careful, I rebased it and rewrote a few commits so make sure you're using the right commit `66ea18f`.

Thanks!

[2020-08-20 16:29] gsmet commented on #11440
I pushed a small additional change so it should be aed696e .

[2020-08-20 16:36] #11490 closed

[2020-08-20 16:38] #11021 closed

[2020-08-20 16:39] #11452 closed

[2020-08-20 16:42] sshaaf commented on #10448
I am having the same issue with my maven project.

I am using the OpenPnP build of the library.
[code]

If I use the standard way of loading a native library; quarkus:dev complains of UnsatisfiedLink (*this works with native quarkus build)
[code]

However OpenPnP also has the following method, which is using reflection to inject the java.library.path forcefully. This works for quarkus:dev: but it

[2020-08-20 16:56] cescoffier commented on #11501
@tsegismont any idea?

[2020-08-20 17:26] famod commented on #11433
@aloubyansky you can do it if you find some time. Too bad we need such a verbose solution.
Are you sure this works in IntelliJ IDEA?
And I guess we'd need some documentation for Eclipse as well?

[2020-08-20 17:58] MarcusBiel commented on #11496
In short:

`import org.quartz.*;

import javax.inject.Inject;
import javax.inject.Singleton;
import java.time.Instant;
import java.time.Period;
import java.time.temporal.ChronoUnit;
import java.util.Date;

SomeService class method:

        JobDetail job = JobBuilder.newJob(MyJob.class)
                .withIdentity("MyJob")
                .usingJobData("myId", myId)
                .build();

[2020-08-20 18:30] aloubyansky commented on #11433
Yes, not elegant. But I don't see how to resolve a relative path to the settings, given that we can't get hold of the dir from which mvn was launched. Unless it's the project dir or -f was also provided and its value is also a relative path.

[2020-08-20 18:33] aloubyansky commented on #11433
IDEs are different in that regard, I think. I think it's mostly about launching builds outside of project dirs. I may be wrong though.

[2020-08-20 18:40] uberto commented on #10894
I managed to make it work with Quarkus 1.7.0! Hurrah

[2020-08-20 18:40] #10894 closed

[2020-08-20 18:48] glefloch commented on #10894
Cool! Have you done something special we should handle directly in the plugin?

[2020-08-20 18:48] famod commented on #11433
IntelliJ IDEA automatically passes all `systemPropertyVariables` to the test execution.
We should make sure not to break things in that regard (e.g. make sure IDEA kann resolve the property).

[2020-08-20 19:52] uberto commented on #10894
No nothing in particular. I've actually managed to remove all special settings.

The only strange issue is that la launching devMode in Gradle I have a strange warning:

preparing quarkus application
kotlin scripting plugin: project ':launcher'.compileQuarkus-generated-sourcesKotlin - configuration not found: quarkus-generated-sourcesKotlinScriptDef, the plugin is probably applied by a mistake

bu

[2020-08-20 20:39] #11149 closed

[2020-08-20 20:42] famod commented on #9890
@stuartwdouglas Is this fixed? It seems so because vert.x was updated to 3.9.2 in Quarkus 1.7.0.CR1: #10851
See also: https://github.com/eclipse-vertx/vert.x/commits/3.9.2

[2020-08-20 21:10] Sanne commented on #10139
hi @gunnarmorling !
I think this is a matter of mistaken expectations. Could you clarify what you mean by "it exposes a bug where the byte code recorder cannot deal with a specific trait" ?

You can only record beans having simple types, and all state needs to be exposed as java bean properties. To record other types, see io.quarkus.deployment.recording.RecorderContext#registerSubstitution

[2020-08-20 22:09] zeppelinux commented on #6421
@tandraschko works with the snapshot!

[2020-08-20 22:42] #11430 closed

[2020-08-20 22:59] JChrist opened #11505 "Value of @JsonProperty on a field inside a subclass of PanacheEntityBase is ignored"
**Describe the bug**
Having a class extend `PanacheEntityBase` and annotating a (column) field with `@JsonProperty("something_else")` (so as to rename the field to `something_else` in json) does not work. The value in `JsonProperty` gets ignored and the name of the field is used.
Sample class
[code]

**Expected behavior**
given the sample class, I would expect a json similar to the format:
[code]

[2020-08-20 23:18] stuartwdouglas commented on #9890
Yes, this should be fixed now.

[2020-08-20 23:18] #9890 closed

[2020-08-20 23:33] famod commented on #9889
Should be fixed in context of #9890 in 1.7.0.CR1.

[2020-08-20 23:33] #9889 closed

[2020-08-21 00:52] #11472 closed

[2020-08-21 01:12] gastaldi commented on #11496
I can have a look. It seems to be a matter of adding
[code]

In here:

https://github.com/quarkusio/quarkus/blob/049c97bc13b3a432b146437041ce60a417a7fdbc/extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java#L432

[2020-08-21 01:24] gastaldi commented on #11496
@manovotn I created https://github.com/quarkusio/quarkus/pull/11507, so I'd appreciate if you could have a look.

@MarcusBiel can you please build from my branch and see if that works for you? You should be able to
`@Inject MyService` inside a Job class (which can also be in a managed scope)

[2020-08-21 01:47] yan5 opened #11508 "Support log4j2 handlers with the Quarkus logging system"
**Description**
Log4j2 supports huge list of appenders https://logging.apache.org/log4j/2.x/manual/appenders.html
I think it would be bit unfortunate if Quakus is unable to leverage them. As discussed in the dev mailing list https://groups.google.com/g/quarkus-dev/c/dnWYQEjf1vk please consider supporting log4j2 custom handlers them via an extension.

[2020-08-21 04:11] jaikiran commented on #11361
Thank you for those details. I'll let @geoand take a look at this once he's back from vacation, since he's more knowledgable in this area than me.

[2020-08-21 05:18] jaikiran commented on #11131
Hello @SetoKaiba, can you share a simple application (preferably as a github repo) which reproduces this issue? Also please include the entire exception stacktrace that you are seeing. By the way, 1.7.0.Final has been released, so please give it a try against that version once.

[2020-08-21 05:20] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/217865400