[2020-06-24 21:20] danilomeneghel opened #10241 "Difficulty in endpoint Authentication with JWT"
I can generate the token, however when passing the token in the header to access the other page, it does not authenticate.
Here is my code:

I also tried to do it in another way, saving the token in the Session, but I couldn't do it either.

I did it that way, only that the error in HttpServletRequest and Quarkus doesn't recognize it.

`
RESTEASY003880: Unable to find contextual data of type: java

[2020-06-24 21:45] sberyozkin commented on #10241
I think you need to either use `quarkus-oidc`, example, https://quarkus.io/guides/security-openid-connect-web-authentication, or set this JWT as a cookie. @stuartwdouglas has some ideas discussed at the forum

[2020-06-24 22:06] jamezp commented on #10193
This should already be possible. The patterns for the pattern formatter are documented here https://docs.wildfly.org/20/Admin_Guide.html#pattern-formatter. I should migrate that to some documentation for the log manager, but I digress.

Anyway the pattern is `%z{UTC}` so something like `%z{UTC}%d{yyyy-MM-dd'T'HH:mm:ssSSSXXX}` should work.

[2020-06-24 23:10] mboulatian commented on #1355
so smallrye-openapi doesn't include swagger annoations like apimodel

[2020-06-25 00:14] danilomeneghel commented on #10241
Thanks for the reply sberyozkin!

However, I still don't understand how to do it heheheh

I test my code on Postman and it's working fine.
You are logging in and after generating token, so much so that if I take that same token, go Postman and put in the Header "Authorization" and "Bearer TOKEN" the page loads in the body, including the user's name.

Except that when I'm going to test this on my A

[2020-06-25 00:34] provcristianmaluenda commented on #9306
@jaikiran I have a project with issues to build the native image for you here:
https://github.com/provcristianmaluenda/graal

The GraalVM that I am using is:
[code]

I hope this helps!

Thanks

[2020-06-25 02:09] jaikiran commented on #9306
@provcristianmaluenda, thank you for that app. It helped. I gave it a try against the latest upstream of Quarkus (which has this fix https://github.com/quarkusio/quarkus/pull/10137) and built your app in native mode. The build now clearly reports what went wrong:

[code]

I tried it against `1.5.1.Final` of Quarkus, just to be sure. Against it, no matter what configs you use, these errors don't ge

[2020-06-25 02:10] jaikiran commented on #9306
Now that I have seen/tried this fix against some real application, I'm going to mark this issue as fixed for (upcoming) 1.6 version of Quarkus.

[2020-06-25 02:10] #9306 closed

[2020-06-25 02:15] jaikiran commented on #10193
I followed @jamezp's instructions and just gave this a try against a simple Quarkus application:

[code]
[code]
It all works as expected, the log messages have the UTC times.

[2020-06-25 02:16] jaikiran commented on #10193
I'll let @gsmet close this, since I'm unsure whether we mark requests like this as `triage/invalid` or something else.

[2020-06-25 03:05] stuartwdouglas commented on #9585
It is done. It does need a blog post but I will do that once it is released.

[2020-06-25 03:05] #9585 closed

[2020-06-25 03:57] stuartwdouglas commented on #10201
You can't really mix the policy enforcer and fine grained permissions. If you use the policy enforcer it will check every URL, so both the enforcer and the path based security will need to allow if (i.e. a deny from path based security will always deny, but an allow will still be checked by KC).

We could maybe add the options for KC to be a named security policy, so it could be used with path bas

[2020-06-25 04:17] vishalgoel1988 commented on #10201
But I have policy enforcer off in my configs. Are you saying I should not even have authorization extension?

[2020-06-25 05:07] stuartwdouglas opened #10245 "REST Client does not encode multi character code points correctly"
If you attempt to encode a string that contains code points that don't fit into a single char (e.g. emojis) RESTEasy will fail to encode it correctly.

[2020-06-25 05:09] jaikiran commented on #10245
Hello @stuartwdouglas, I guess this is in context of https://github.com/quarkusio/quarkus/issues/10134?

[2020-06-25 05:16] stuartwdouglas commented on #10245
Oops, I did not realize there was already an issue for it.

[2020-06-25 05:30] stuartwdouglas commented on #10201
#quarkus.keycloak.policy-enforcer.enable=true is not off.

[2020-06-25 05:31] stuartwdouglas commented on #10201
Oh, it is commented out.

[2020-06-25 05:33] vishalgoel1988 commented on #10201
Yes exactly

[2020-06-25 05:41] stuartwdouglas commented on #10201
Do you have spaces after /health/* in your config file? I just copy/pasted for my test and it failed because it ends with a space and not a *.

[2020-06-25 05:57] pschyma opened #10248 "smallrye context propagation not usable without smallrye fault tolerance in 1.5.x"
**Describe the bug**
Context propagation does not work as described in the guide.

**Expected behavior**
Following the context propagation guide by adding `"io.quarkus:quarkus-smallrye-context-propagation"` dependency should inject a `ManagedExecutor` into instances.

**Actual behavior**
An exception is thrown at build step:
[code]
Adding `"io.quarkus:quarkus-smallrye-fault-tolerance"` to the depe

[2020-06-25 06:15] tpenakov commented on #7432
Thank you @aureamunoz !
It is clear now.

[2020-06-25 06:36] mkouba commented on #10203
Sounds reasonable. We could add `concurrentExecution() default true` to `@Scheduled`. For simple scheduler we'll add a mutable flag to the trigger. For Quartz this would be mapped to a job class annotated with `org.quartz.DisallowConcurrentExecution`.

[2020-06-25 06:41] tkalmar commented on #10241
Isn`t there an space missing between Bearer and token?
`return Response.seeOther (URI.create ("/")). header (HttpHeaders.AUTHORIZATION, "Bearer " + token) .build ();`

[2020-06-25 06:58] vishalgoel1988 commented on #10201
Urghhh....
Yes, this was the space issue. I should have seen it before. However, I think quarkus should take care of this also.
Anyway, thanks for your help.

[2020-06-25 07:07] stuartwdouglas commented on #10201
The linked pr should fix it

[2020-06-25 07:38] gustavclausen opened #10249 "NullPointerException for REST client in native build"
**Describe the bug**
In our application, we have a REST endpoint (defined in `IntempusReportResource`) that calls another REST endpoint with a REST client (defined in `IntempusAPIService`). However a NullPointerException is thrown when we call a method defined in the REST client when the application is built as a native build. It works when run in development mode (run using `./mvnw quarkus:dev`).

[2020-06-25 07:47] antonliauchuk-tealium commented on #9634
hello

thanks for the workaround. We also use such solution in our project. But it will be great to work with quarkusDev mode because it brings more flexibility in development.

[2020-06-25 08:08] aureamunoz commented on #7432
yw!

[2020-06-25 08:12] wicksim opened #10250 "Kafka: "No subscriber found" when sending with Emitter"
**Describe the bug**
I'm getting `java.lang.IllegalStateException: No subscriber found for the channel XY` when trying to send messages with `Emitter`. In `application.properties` I've configured `mp.messaging.outgoing...` for this channel, so it should be sent to Kafka. [Documentation of 'SmallRye' states](https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/emitter/emitt

[2020-06-25 08:21] gsmet commented on #10249
Could you create a small Maven reproducer? That would help figuring out what's going on. Thanks!

[2020-06-25 08:30] #10227 closed

[2020-06-25 08:31] geoand commented on #10249
Does `IntempusAPIService` by any chance have default methods?

[2020-06-25 08:49] brundipub opened #10252 "ClassCastException thrown by Mockito.mock(...) in @QuarkusTest"
**Describe the bug**
(I'm using "(a)" instead of "@" , becasue the formatter would understand it as a user reference)

The issue:   Following [the tutorial](https://quarkus.io/guides/getting-started-testing), I've creted a test class with (a)QuarkusTest annotation. When initiating a mock by Mockito.mock(...) in the method annotated by (a)BeforeEach, mockito fails with the following exception:

[co

[2020-06-25 08:54] gustavclausen commented on #10249
Yes, we have the following method to retrieve an API key specified in `application.properties`:
[code]

Is there a better way to do this?

[2020-06-25 09:01] zeljkot opened #10253 "@Blocking hides exception"
**Describe the bug**

If message handler is annotated with `@Blocking` and it throws exception, the exception silently breaks the messaging. If `@Blocking` is removed, the exception is shown.

**Expected behavior**
Exception stack trace should be shown.

**Actual behavior**
Nothing is shown.

**To Reproduce**

Steps to reproduce the behavior:

[code]

Try commenting out `@Blocking`.

**Configurati

[2020-06-25 09:02] cescoffier commented on #10253
CC @kenfinnigan

[2020-06-25 09:16] sschellh opened #10255 "quarkus-oidc causes java.lang.ClassFormatError when using @RolesAllowed annotation and application-type 'web-app'"
Running the [quarkus-oidc example](https://quarkus.io/guides/security-openid-connect) results in `java.lang.ClassFormatError`.
This seems to be related to the `@RolesAllowed` annotation.

## Java Version

## Steps to reproduce:

#### 1) Checkout the example project on https://quarkus.io/guides/security-openid-connect
[code]

#### 2) Configure OIDC (using KeyCloak)
[code]

#### 3) Compile and run t

[2020-06-25 09:29] sberyozkin commented on #10241
`Authorization` is sent by the client, it is not returned by the server as part of the redirect

[2020-06-25 09:35] sberyozkin commented on #10241
@danilomeneghel See the comment above, you can't use `Authorization` to return the token to the browser and expect it be auto-propagated back. So, you can 1) return it for example as part of the service response body, ex, `{"token":"..."}` or 2) set is as a cookie 3) or rely on the Quarkus OIDC or in the simpler cases on Form auth...

[2020-06-25 09:35] geoand commented on #9663
3) sounds reasonable to me as well, but I have personally never used `IS` like that, so I can't comment on side effects

[2020-06-25 09:38] gsmet commented on #10234
I think I would stick to the existing mechanism (i.e. no regexps, just a simple path) for a first version.

That would be quite easy to do IMHO.

[2020-06-25 09:41] tsegismont commented on #10059
@yatindra does this happen with any `@Singleton` bean or just gRPC related ones?

[2020-06-25 09:51] Ladicek commented on #9663
So if there's no `container-image-s2i`, it doesn't make sense to create a build config (and its output image stream), right? (At least not in their present form, which is tailored to S2I binary builds.) That is irrespective of whether we use `Deployment`s or `DeploymentConfig`s, right?

That said, I also think that using `ImageStream`s is idiomatic in the OpenShift world, so would also lean toward

[2020-06-25 09:54] brundipub commented on #10252
Resolved, it was false alarm, sorry!
It was caused by duplicate dependencies of mockito in pom.xml.  After fixing the dependencies it works perfectly!

[2020-06-25 09:54] #10252 closed

[2020-06-25 09:56] wicksim commented on #10250
Found the cause. I had 2 Producers, 1 `Emitter` and 1 `@Outgoing`. Both used the same channel-name, the name of the real Kafka-topic. So I had no explicit `.topic`-config in my `application.properties`. That doesn't seem to be a very good idea. I've now changed to 2 different channel-names and explicit `.topic`-configs pointing to the same Kafka-Topic. Now it works. So it was a misconfiguration fr

[2020-06-25 09:58] mkouba commented on #10203
I've finished the implementation but I'm still struggling to write a proper test.

[2020-06-25 10:07] tsegismont commented on #10095
@Biratus I can't reproduce. I created a new project with `code.quarkus.io`, added these to config:

[code]

And to the POM:

[code]

After starting with `quarkus:dev`:

[code]

[2020-06-25 10:07] tsegismont commented on #10095
Can you please share a minimal reproducer?

[2020-06-25 10:09] haraldatbmw commented on #9663
As mentioned in #10055 I prefer DeploymentConfig without trigger which points to an ImageStream which points to any Docker-Registry. I think it could make sense to optionally set a trigger on the ImageStream which causes a re-deployment on image-change.

[2020-06-25 10:09] rsvoboda commented on #8802
I tried attached example with Quarkus master `MAVEN_OPTS="--enable-preview"` way is the only one which works. @geoand did some improvements in propagating build arguments to quarkus maven plugin, but it's not enough for this issue.

maven-tooling guide update would be good to have, including some explanation why global opts need to be specified.

[2020-06-25 10:21] rsvoboda commented on #8802
One thing to mention is that the Entity doesn't need to use experimental features at all.

It's enough that the project has "--enable-preview" settings in pom.xml and build fails with `[ERROR] 	[error]: Build step io.quarkus.hibernate.orm.deployment.HibernateOrmProcessor#pregenProxies threw an exception: java.lang.UnsupportedClassVersionError: Preview features are not enabled for org/acme/FooEntit

[2020-06-25 10:45] iocanel commented on #9663
Thanks for the feedback, I'll try to provide a fix asap

[2020-06-25 10:57] tomsontom commented on #10185
So well yesterday I had a looong night and hacked myself into the keycloak codebase and I'm not sure anymore this is a keycloak problem.

The problem as it looks to me is that the request the browser is sending to the keycloak server has not all information and so keycloak in reality responds with the login-page (I can proof that by hacking CORS headers into the response from the endpoint).

I ins

[2020-06-25 11:06] tomsontom commented on #10185
Well another interesting datapoint. Those cookies get set in the response to the login-from submission:

Sending of form:
[code]

Response:
[code]

[2020-06-25 11:12] sberyozkin commented on #10255
@sschellh I can't reproduce it with these settings:
[code]
The only difference is that I copied the application.properties from the existing quickstart because they point to the `quarkus` realm, but it does not really matter.
What GraalVM version do you use ?

[2020-06-25 11:19] geoand commented on #10249
Not at the moment unfortunately, not supporting `default` methods is a limitation of native mode for rest-client at the moment.

[2020-06-25 11:24] maxandersen commented on #9663
if a user want to use plain kubernetes deployment he would just use kubernetes extension no openshift - is that the thinking here ? (that adding openshift means "deploy nicely, but use openshift features that helps if available")

[2020-06-25 11:27] sberyozkin commented on #10255
@sschellh I can't reproduce it with these settings:
[code]
The only difference is that I copied the application.properties from the existing quickstart because they point to the `quarkus` realm, but it does not really matter.
What GraalVM version do you use ?

[2020-06-25 11:27] hyperman1 opened #10258 "QUARKUS SECURITY - LDAP plugin - don' do the same ldap quary multiple times"
**Description**
The quarkus LDAP security plugin asks the same query multiple times to the LDAP server.  This is slow and causes a big load

**Implementation ideas**
A censored log with debug logging enabled.  Note how lines 045,09 and 13 Execute an identical LDAP quert

01  [io.qua.ver.htt.run.sec.BasicAuthenticationMechanism] (vert.x-eventloop-thread-0) Found basic auth header XXXXXXX:***** (dec

[2020-06-25 11:31] gsmet commented on #9976
Reopening as the issue is not fixed and we need a fix in RESTEasy.

[2020-06-25 11:36] hyperman1 opened #10259 "LDAP Security - configuration needs to be modifiable at runtime"
**Description**
See https://quarkus.io/guides/security-ldap#configuration-reference

All properties are fixed at build time.  But in a realistic enterprise, these will differ between dev preprod prod environments (otherwise your dev credentials would also work in prod).  There will be individual server URLs with individual bind credentials,  users and groups are probably stored in different places

[2020-06-25 11:38] haraldatbmw opened #10260 "quarkus.kubernetes.annotations gets not applied to ingress"
**Describe the bug**
I'm using the kubernetes extension to deploy to kubernetes.
I'm setting `expose` to `true` to get an ingress resource generated (`target/kubernetes/kubernetes.xml`).
My annotation `quarkus.kubernetes.annotations."kubernetes.io/ingress.class"=addon-http-application-routing` gets not applied to the generated ingress but to all other resources.

**Expected behavior**
Labels and a

[2020-06-25 11:44] kenfinnigan commented on #1355
@mboulatian it uses the MP Open API annotations, which were based off Swagger/OpenAPI

[2020-06-25 11:52] hyperman1 opened #10264 "elytron security: define role mapper (was: ldap security - role mapper)"
**Description**
ldap security today requires that the application has identical names for ldap groups and application roles.  But this is not realistic.  most orgs have a naming convention for ldap objects, which will clash with java group names.

**Implementation ideas**
Elytron has the required possibilities, they need to be made accessible from quarkus.  You have to decide if this is ldap-only

[2020-06-25 11:53] geoand commented on #10260
Good catch!

[2020-06-25 11:54] haraldatbmw commented on #10260
I think same is true for openshifts route.

[2020-06-25 11:56] #9831 closed

[2020-06-25 11:57] survivant opened #10265 "mvn:quarkus produce : The AMQP message to address `prices` has not been sent, the client is closed"
Quarkus 1.5.2.Final

here what I did.

mvn quarkus:dev

I added a new class : MachineMessageConsumer2

and I did a post with swagger.  After that Quarkus reloaded the code.. but now I have this ERROR on each message received.  It didn't do that after the reload.

I have a example here : https://github.com/survivant/quarkus-pubsub-poc.git

2020-06-24 09:57:31,993 INFO  [io.qua.dep.dev] (vert.x-work

[2020-06-25 12:00] tomsontom commented on #10185
Ok the not sending of the cookie is because one has to turn that on explicitly - we are getting closer!

[2020-06-25 12:03] hyperman1 opened #10267 "LDAP Security - Don't re-authenticate on every request"
**Description**
When using ldap security and servlets, every request/response re-authenticates.  Especially the role lookup can take a lot of time.  Hence, the elytron cache should be possible to enable

**Implementation ideas**
The existing io.quarkus.elytron.security.ldap.LdapRecorder class seems a good point for this:  The last line is:

          return new RuntimeValue<>(builder.build());

Yo

[2020-06-25 12:15] geoand commented on #10260
@iocanel I tried to add this in Quarkus, but ran into various issues, so I think it should be handled in dekorate (which is the correct approach anyway)

[2020-06-25 12:19] geoand commented on #10260
Yeah, and if I'm not mistaken, I think the custom labels are also missing

[2020-06-25 12:21] hyperman1 opened #10270 "LDAP Security - document active directory"
If all these are fixed, you might want to document how to use active directory with the ldap plug in.

https://github.com/quarkusio/quarkus/issues/10110 - setRecursive
https://github.com/quarkusio/quarkus/issues/10258 - same ldap quary multiple times
https://github.com/quarkusio/quarkus/issues/10259 - config can differ between dev and prod
https://github.com/quarkusio/quarkus/issues/10264 - group

[2020-06-25 12:22] kenfinnigan commented on #10250
How would the message be clarified, as it does indicate nothing is identified as subscribing to the emissions, either internally within the app or externally with Kafka?

[2020-06-25 12:25] kenfinnigan commented on #10248
@FroMage @Ladicek not sure if either of you has any thoughts on this?

[2020-06-25 12:27] kenfinnigan commented on #10159
What's the use case for using an Emitter inside a Filter?

It's not a use case we've planned for

[2020-06-25 12:29] kenfinnigan commented on #9916
I don't believe we'd implement this with OpenTracing, but we could look to do it with OpenTelemetry when that's added to Quarkus

[2020-06-25 12:29] sberyozkin commented on #10185
@tomsontom

I can imagine it must've taken some time :-)

[2020-06-25 12:32] wicksim commented on #10250
I agree, but in my case, a message "There are 2 publishers with same channel name" would have been helpful. So in this case, I first need to realize that I have 2 publishers with same channel name and first one some kind of "catches the subscriber" and there is no subscriber left for the second one.

But if you think this is not necessary, just close it. My problem is solved and I hope to remember

[2020-06-25 12:36] tomsontom commented on #10185
i can report success and I can now definately say it is a problem in keycloak. For completeness what had to be done:
* Turn on cookie sending with XHR https://github.com/tomsontom/keycloak-cors/commit/c5d49f94d26388274b1c24395ea13759bb5e0acf
* Force keycloak to send the following headers (I hacked that into the codebase) but I think from a quarkus PoV there's nothing that could be done besides may

[2020-06-25 12:36] kenfinnigan commented on #10250
We can close for now and re-evaluate if the situation continues to arise

[2020-06-25 12:36] #10250 closed

[2020-06-25 12:39] #10194 closed

[2020-06-25 12:45] Ladicek commented on #10248
:shrug:

[2020-06-25 12:53] nicmarti commented on #7193
Just out of curiosity: any update related to this merge issue? We're facing the same issue

[2020-06-25 13:01] mmusgrov commented on #10180
I tried the reproducer on the current Quarkus master (999-SNAPSHOT) and the missing class is now found. I suspect the Quarkus team have fixed it along the way.

I don't know how Quarkus performs its magic but I'd expect it is capable of finding, and allowing, implementations of an interface to be found automatically so that the extension developer does not need to tell the build step about these i

[2020-06-25 13:07] hartimcwildfly commented on #10259
This is a presentation error. The config can be changed at runtime. Even if the documentation says it's fixed at build time. I don't know why this is the case.

On your second point I fully aggree.

[2020-06-25 13:07] sschellh commented on #10255
@sberyozkin I did not use it in native mode, but JVM mode.

[2020-06-25 13:09] sberyozkin commented on #10185
@tomsontom This is a very thorough investigation, thanks.
Interesting point from one of your above traces:
[code]
Different port to
[code]

[2020-06-25 13:12] tomsontom commented on #10185
Well the origin you see is the login-form in keycloak hence the origin is correct!
* Keycloak is: 8081
* Quarkus is: 8080

[2020-06-25 13:16] sberyozkin commented on #10185
@tomsontom
I see, thanks. Yeah, please post to the Keycloak forum, they will help you to resolve it. We can keep this issue open and may be we will document some hints once it is resolved.

[2020-06-25 13:16] danilomeneghel commented on #10241
Hi tkalmar
`Isn't there an space missing between Bearer and token?`

I put the space, yes, it is that here when commenting, it did not appear.

[2020-06-25 13:21] danilomeneghel commented on #10241
Okay, the difficulty is getting Java to "read" this token to free access to the protected endpoint.
If simply just adding the token to Json's body won't do anything, I need to throw it in the Header so that the other endpoint receives and authenticates.

As I understand it, it will not be possible to do this only using Java (at least in Quarkus), you will have to use Javascript, for example, to th

[2020-06-25 13:35] pschyma commented on #10248
I've created a small reproducer [1]. While creating this, I noticed that it somehow depends on `quarkus-flyway`.

The reproducer can be changed to build (or start quarkusDev) by either:
- commenting the flyway dependency,
- adding the fault-tolerance depedency, or
- changing quarkus to 1.4.2.Final in gradle.properties.

[1] https://github.com/pschyma/quarkus-context-propagation-reproducer

[2020-06-25 13:44] mkouba commented on #10203
Hm, actually the contract of `@DisallowConcurrentExecution` is a bit different compared to what I would expect. The job execution is not skipped but delayed until the previous job finished. That's a bit more complex to implement. We need to think about it...

[2020-06-25 13:58] emmanuelbernard opened #10271 "Track JDK WARNING:Illegal statements to be fixed in quarkus or in upstream libraries"
### Description

This issue tracks libraries that need to fix some now considered abusing use of the OpenJDK classes.

A typical example

[code]

See https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/How.20to.20get.20rid.20of.20the.20ILLEGAL.20messages for some slightly more infos

Essentially OpenJDK 11 went from not displaying to displaying once such error. With the intention to no

[2020-06-25 13:59] jaikiran commented on #10134
Stuart has narrowed this down to a specific bug in RestEasy. It's being tracked in https://github.com/quarkusio/quarkus/issues/10245. Closing this issue in favour of that other one.

[2020-06-25 14:05] yatindra commented on #10059
@tsegismont for me it happens for any `@Singleton` if `quarkus-grpc` is in classpath. I have another module which also has used `PgPool` but in a pure REST app, I created a `@Singleton` there and was able to inject `PgPool`.

[2020-06-25 14:17] maxandersen commented on #10271
looks like Yasson issue fixed recently at https://github.com/eclipse-ee4j/yasson/issues/412\

[2020-06-25 14:18] emmanuelbernard commented on #7193
We have not yet had time to focus on it unfortunately.

[2020-06-25 14:20] sberyozkin commented on #10255
@sschellh Me too, It is still the JVM mode, just the stock java 11 shipped with the GraalVM is used.

[2020-06-25 14:21] sberyozkin commented on #10255
Can you try it too ?

[2020-06-25 14:31] tsegismont commented on #10059
Thank you @yatindra . cc @cescoffier this is useful info

[2020-06-25 14:32] seseso commented on #10271
I'm receiving some exception in DEBUG (not warning) on quarkus startup, witch I'm not sure if they are related to this but:

java.lang.UnsupportedOperationException: Reflective setAccessible(true) disabled
	at io.netty.util.internal.ReflectionUtil.trySetAccessible(ReflectionUtil.java:31) ~[netty-common-4.1.49.Final.jar!/:4.1.49.Final]
	at io.netty.util.internal.PlatformDependent0$4.run(PlatformDep

[2020-06-25 14:34] emmanuelbernard commented on #10271
@seseso that one is a different story

[2020-06-25 14:36] emmanuelbernard opened #10273 "Upgrade Yasson to a version not raising JDK warnings"
See
https://github.com/eclipse-ee4j/yasson/issues/412

Either 1.0.8+
Or the 2.x series

[2020-06-25 14:37] tomsontom commented on #10185
so the keycloak post is https://keycloak.discourse.group/t/authorizationendpoint-does-not-support-cors/3495

[2020-06-25 14:37] seseso commented on #10271
Ok, so please ignore my comment. I'll search for it on other issues and
open a new one if necessary.

On Thu, 25 Jun 2020, 15:35 Emmanuel Bernard, <notifications@github.com>
wrote:

[2020-06-25 14:50] gsmet commented on #10134
I prefer we keep it open so that we are aware of it.

[2020-06-25 14:51] sschellh commented on #10255
@sberyozkin Changing to `OpenJDK Runtime Environment GraalVM CE 20.1.0 (build 11.0.7+10-jvmci-20.1-b02)` made no difference.

However, I noticed that in my demo project, I had the `UsersResource` in the root folder. When moving it into any package (e.g. `com.example`), the error is gone.

[2020-06-25 14:54] sberyozkin commented on #10241
Returning JSON will require some script processing and then posting the token back. You can put it into header but it has to be a set-cookie if you want the other service to pick it up as Cookie.
I think we can close this issue, you prefer to have some custom solution, so there is not much Quarkus itself can do. Agreed ?

[2020-06-25 15:02] cescoffier commented on #10059
@mkouba any idea?

[2020-06-25 15:02] cescoffier commented on #10059
FYI, a gRPC service is just a singleton bean, nothing else.
Maybe when we create the instance, we need to pass some "context"

[2020-06-25 15:09] sberyozkin commented on #10255
@sschellh thanks. I'm not sure we should keep this issue open. @gsmet @mkouba, should Quarkus support the user code in the root package ? Or we say that the user code must be in some package ?

[2020-06-25 15:16] mkouba commented on #10059
When exactly is the `@Singleton` gRPC bean instantiated? It's very likely that the `PgPoolProducer` is not initialized yet at that moment and so the [producer returns null](https://github.com/quarkusio/quarkus/blob/master/extensions/reactive-pg-client/runtime/src/main/java/io/quarkus/reactive/pg/client/runtime/PgPoolProducer.java#L37-L41).

[2020-06-25 15:19] cescoffier commented on #10059
@yatindra Does it happen only with the PG Pool or with any bean?

I was able to inject an application scoped bean in a bindable service.

[2020-06-25 15:21] vietk commented on #3113
Hello

Does the Health of a reactive messaging application will be impacted by the back-pressure overflow?
i.e:  in a case of blocking JaxRs endpoint that floods an outgoing channel, we could imagine to switch the application in a "not ready" state

Regards

[2020-06-25 15:21] cescoffier commented on #10059
The gRPC server instantiates the services during the startup - it might be too early.

The instances are created there:
https://github.com/quarkusio/quarkus/blob/master/extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java#L227

[2020-06-25 15:31] geoand opened #10277 "Using an Enum in ConfigProperties doesn't work in native mode"
**Steps to reproduce**

* Checkout: https://github.com/dejanb/quarkus-quickstarts/tree/enum-reproducer/config-quickstart
* `mvn clean package -DskipTests -Dnative`
* `curl http://0.0.0.0:8080/enum/`

Error is:

[code]

cc @dejanb

[2020-06-25 15:51] mkouba commented on #10059
It seems that we only guarantee that `PgPoolProducer` is initialized before the `StartupEvent` is fired. The problem is that we can't add the `PgPoolBuildItem` dependency to the `io.quarkus.grpc.deployment.GrpcServerProcessor.build()` build step. We could try to transform the `PgPoolProducer` into a synthetic bean that does not require initialization (preferred solution) or try to find another kin

[2020-06-25 15:57] geoand commented on #10277
https://github.com/quarkusio/quarkus/pull/10278 fixes the issue

[2020-06-25 16:06] ppalaga opened #10279 "Dependency parity validator is missing dependencies with different versions"
Reproducible with the camel-quarkus-amqp module of `quarkus-master` branch of Camel Quarkus https://github.com/apache/camel-quarkus/tree/quarkus-master

From my point of view, the dependencies of the amqp runtime and deployment modules a in a perfect parity:
https://github.com/apache/camel-quarkus/blob/quarkus-master/extensions/amqp/runtime/pom.xml
https://github.com/apache/camel-quarkus/blob/quar

[2020-06-25 16:07] ppalaga opened #10280 "Dependency parity validator ignores maven repos defined in the POM"
Reproducible with the camel-quarkus-jira module of `quarkus-master` branch of Camel Quarkus https://github.com/apache/camel-quarkus/tree/quarkus-master

There is a Jira Maven repo defined in the module: https://github.com/apache/camel-quarkus/blob/quarkus-master/extensions/jira/runtime/pom.xml#L39-L52

The extension-descriptor mojo is ignoring it apparently:

[code]

cc @aloubyansky

[2020-06-25 16:56] cescoffier commented on #10059
The synthetic bean sounds the right solution.

[2020-06-25 16:57] mkouba commented on #10059
I'm on it. We'll need a fix for mysql and db2 clients too.

[2020-06-25 17:14] pedroigor commented on #10185
@tomsontom sorry for kicking in so late, I've replied to that thread.

[2020-06-25 18:08] RaviH opened #10284 "Graal native image + AWS lambda + DynamoDB: the trustAnchors parameter must be non-empty"
**Describe the bug**

Followed the instructions here: https://quarkus.io/guides/amazon-dynamodb. Created a graal native image: using `mvn clean package -Pnative -Dnative-image.docker-build=true`

[quarkus-lambda-graal.zip](https://github.com/quarkusio/quarkus/files/4833082/quarkus-lambda-graal.zip)

Stacktrace from Cloudwatch:

[code]

**Expected behavior**
Code does not throw the stacktrace above

[2020-06-25 18:34] cescoffier commented on #10184
Do you have context propagation enabled?

[2020-06-25 18:36] csotiriou commented on #10184
Yes, we use the smallrye context propagation dependency.

[2020-06-25 18:37] cescoffier commented on #10184
Thanks for the very quick response. @johnaohara, that can explain the overhead due to the numbers of interception.

[2020-06-25 18:39] cescoffier commented on #10184
(Even on a simple: `Uni.createFrom(item)` you have 2 interceptions.)

[2020-06-25 18:43] csotiriou commented on #10184
That would explain why even after ditching the asynchonous mongo driver still creates problems when even synchronous results are mixed with plain Uni.createFrom().

I would like to clarify that I always had context propagation enabled even with the old implementation that used RxJava (no performance issues there).

[2020-06-25 18:45] cescoffier commented on #10184
yes, but mutiny enables it automatically, RX does not (it requires an additional dependency).

[2020-06-25 18:51] csotiriou commented on #10184
I understand. Does this mean that if I was including the context propagation extra dependency for RXJava I would see the same performance hit as with mutiny?

Or this is something that can be improved on the side of mutiny/context propagation library ?

[2020-06-25 18:55] cescoffier commented on #10184
In the mutiny side, definitely - especially for Uni. It’s actually planned. It would be great to have a way to reproduce your case, so I can test the improvements.

[2020-06-25 19:05] kenfinnigan commented on #10253
I've created an issue in SmallRye Reactive Messaging and have a possible fix.

Working on ways to ensure it's properly validated

[2020-06-25 19:30] danilomeneghel commented on #10241
OK, thanks for the help.

I am trying to do this now by sending the token via javascript (using Jquery), however I am having problems with CORS.
I have already enabled it in application.properties and I have also put it in jquery, but apparently it is not working.
Every time I try to send the form data to the backend (java) via ajax (jquery), in the browser I return the following error:
Status Cod

[2020-06-25 20:05] ElinaValieva opened #10285 "Support Quarkus Plugin Version for Gradle Build"
**Description**
Hi!
In build configuration: "Gradle" quarkus generate `build.gradle` without plugin version for `quarkus` plugin:
[code]

And my Idea in importing stage I got an error: `Plugin [id: 'io.quarkus'] was not found in any of the following sources: ..`

**Implementation ideas**
Is it possible to provide version in plugin how it's done here:
[code]

[2020-06-25 20:10] gastaldi commented on #10285
Hi @ElinaValieva, the plugin version is specified in the `settings.gradle` file with the property value defined in `gradle.properties`

[2020-06-25 20:14] #10057 closed

[2020-06-25 20:46] ppalaga commented on #10280
Fixed via #10268

[2020-06-25 20:46] #10280 closed

[2020-06-25 20:58] ElinaValieva commented on #10285
@gastaldi I know, actually you could see that I manually changed this reference to plugin version here:
[code]

But in Intellij Idea without version doesn't work (how quarkus generate build.gradle right now). I don't wanna add this version manually

[2020-06-25 21:05] gastaldi commented on #10273
It looks like 1.0.8 is not released yet. Is it possible to cut a release with this fix @aguibert ?

[2020-06-25 21:09] gastaldi commented on #10285
That's weird, what IntelliJ version are you using? I am using 2020.1.2 and the plugin is detected correctly as you can see here:

![Screenshot from 2020-06-25 18-08-36](https://user-images.githubusercontent.com/54133/85795656-06851980-b70f-11ea-8db8-85d7224a34ee.png)

[2020-06-25 21:10] gastaldi commented on #10285
Also, installing the [`Quarkus Tools` Intellij plugin](https://plugins.jetbrains.com/plugin/13234-quarkus-tools) helps a lot

[2020-06-25 21:21] crissi98 opened #10287 "Introduce config refresh for consul-config"
**Description**
There should be a way to refresh the runtime configuration read from consul without needing to restart the application.

**Implementation ideas**
You can use ```javax.inject.Provider``` to inject properties that should be changeable at runtime. With that, only the ConfigSources created by consul-config need to have a refresh mechanism.
IMO there are two ways to implement such a ref

[2020-06-25 21:38] sberyozkin commented on #10241
@danilomeneghel No problems. I propose to move the conversation to the Zulip users forum now. 405 is not really a CORS error, sounds like a HTTP method mismatch, given that you enable CORS (incl all the methods probably).
Thanks

[2020-06-25 21:38] #10241 closed

[2020-06-25 22:05] sberyozkin commented on #10255
Hi @sschellh Let me close this one. I think it is fair to say that the users will want their classes be packaged-scoped :-), if you'd like, please consider creating a dedicated issue about the root-package and the class transform issue. Thank you

[2020-06-25 22:05] #10255 closed

[2020-06-25 22:45] #10166 closed

[2020-06-26 04:06] leandrobortoli opened #10290 "RequestScoped beans keeping property values from previous requests when using kotlin."
**Describe the bug**
When using kotlin and injecting a RequestScoped bean, on each new request a new bean instance is initialized, but for some reason, the property values from the previous request bean are kept, this seems to be an issue only with the kotlin extension, because I couldn't reproduce the issue using Java.

**Expected behavior**
The new request bean should not contain previous proper

[2020-06-26 05:21] #10277 closed

[2020-06-26 05:23] geoand commented on #10287
Thanks for taking the time to look into this. From our side, we are somewhat reluctant to add such a feature.

[2020-06-26 05:24] aguibert commented on #10273
yep, I can work on a release within the next week or so.

It will be 1.0.8, since the 2.x series uses the `jakarta.*` package namespace and wont' be officially released for a few more months

[2020-06-26 05:26] aguibert commented on #10271
@emmanuelbernard we may want to do a broader investigation to chase down the illegal access issues. Perhaps with `--illegal-access=debug`, which will print the warnings on _every_ illegal access that occurs during the run.

The default in JDK 11 is `--illegal-access=warn` which only prints the warning for the first illegal access, so fixing them all in this manner will be a bit of a whack-a-mole e

[2020-06-26 05:36] mariofusco commented on #8694
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/148281869

[2020-06-26 06:17] geoand commented on #8802
@rsvoboda yeah, we should probably document that `MAVEN_OPTS="--enable-preview"` is necessary when building

[2020-06-26 06:43] mkouba commented on #10255
Well, it's not forbidden but I would strongly encourage all users to avoid using the unnamed packages because it could break things and brings no additional benefits.

[2020-06-26 07:02] ElinaValieva commented on #10285
I have this plugin, my Idea 2020.1.1

Maybe, it makes sense to upgrade it.

[2020-06-26 07:19] timoesk opened #10292 "Concurrent requests for blocking reactive routes is limited by quarkus.vertx.event-loops-pool-size"
**Describe the bug**

Concurrent requests for blocking reactive routes is limited by quarkus.vertx.event-loops-pool-size

**Expected behavior**

Concurrent requests for blocking reactive routes should be limited by quarkus.vertx.worker-pool-size

**Actual behavior**

When a blocking route is created with the the Route annotation.

`@Route(path = "/blocking-with-annotation", methods = HttpMethod.GE

[2020-06-26 07:38] guardianblue commented on #9986
Tested with 1.5.2 Final and can confirm that injected `org.eclipse.microprofile.jwt.JsonWebToken` is still being null.

[2020-06-26 08:36] Sanne commented on #7193
Sorry I got distracted. I'll try to have this resolved - at least to not ignore the annotation - for 1.7

[2020-06-26 08:39] phillip-kruger commented on #9693
Please can this fix go in 1.6 !! @gsmet ?

[2020-06-26 09:41] pschyma commented on #10271
Don't know if this the right place, but since 1.5.x I see an illegal access warning from xstream when I run `./gradlew test`:
[code]
This is on JDK 11.

[2020-06-26 09:46] ctron opened #10295 "Kubernetes Client informer not working in native mode"
**Describe the bug**
(Describe the problem clearly and concisely.)

Using the "informer" of the Fabric8 Kubernetes Client doesn't work in native image mode. It looks like a deserialziation issue.

**Expected behavior**

It should work, the same way it does in JVM mode.

**Actual behavior**

The list operation fails:

<details>

<summary>Exception on console</summary>

[code]

</details>

**To Repr

[2020-06-26 09:48] #4961 closed

[2020-06-26 09:57] gsmet commented on #10290
/cc @mkouba @evanchooly

[2020-06-26 09:58] gsmet commented on #10292
/cc @johnaohara @cescoffier

[2020-06-26 09:58] gsmet commented on #10292
maybe /cc @stuartwdouglas too

[2020-06-26 10:43] ctron commented on #10295
As a first workaround, it looks like adding the annotation `@RegisterForReflection` to **all** classed of the CRD type hierarchy fixes the issue.

[2020-06-26 10:45] geoand commented on #10295
@gsmet do you remember why we don't have an option to register the whole hierarchy with `@RegisterForReflection`?

[2020-06-26 11:02] mkouba commented on #10290
It's very likely that you get/set the values from the client proxy and not the real bean instance. I'm no kotlin expert but I thought that kotlin generates getters/setters for properties automatically, i.e. `if(requestScopedBean.myProperty == null)` is translated to something like `if(requestScopedBean.getMyProperty() == null)`. @geoand Any idea?

[2020-06-26 11:03] knutwannheden opened #10297 "Support JUnit-style composed annotations for Quarkus test-related annotations"
JUnit has the concept of [composed annotations and meta-annotations](https://junit.org/junit5/docs/current/user-guide/#writing-tests-meta-annotations) which allows defining custom annotations and declaring JUnit annotations (e.g. `@ExtendWith`) on these custom annotations. When a test class is annotated with the custom annotation it will behave as if it were annotated directly with the JUnit annot

[2020-06-26 11:06] geoand commented on #10290
Sounds reasonable @mkouba although I don't know exactly why that would be happening - we would need to look at the bytecode.

@evanchooly do you plan to look at this or should I check it out when I have some time?

[2020-06-26 11:13] gustavclausen commented on #10249
Thanks for the quick response 🙂 The use of `default` methods was the cause of the issue.

[2020-06-26 11:13] YusufIsah commented on #9996
thanks guys.

[2020-06-26 11:15] geoand commented on #10249
:+1:

I'll reopen the issue, since this is an actual problem we need to solve

[2020-06-26 11:19] hacst opened #10298 "Enable quarkus:dev to hot-reload resources from non-standard paths"
**Description**
`quarkus:dev` should allow hot-reloading of resources specified in the pom using build resources entries (see https://maven.apache.org/plugins/maven-resources-plugin/examples/resource-directory.html).

Example pom.xml snippet:
[code]

[2020-06-26 11:22] luszczynski commented on #2759
Hi,

I need this feature for a specific project I'm working on.
Which quarkus version should it be released?

[2020-06-26 11:28] sberyozkin commented on #10185
Hi @pedroigor
I think we need to have a recommendation on how to use XHR with the Quarkus `web-app` applications such that it works within the single domain or across the domains.
if we suggest to the users to emded `keycloak.js` then it immediately becomes a case of the `public client accessing Quarkus 'service' applications with the bearer token` only which is not great.
If we want to let the us

[2020-06-26 11:28] knutwannheden opened #10299 "Declare QuarkusTestResource and TestProfile as @Inherited"
As a first step towards #10297 it would make sense to declare `QuarkusTestResource` and `TestProfile` (any others?) as `@Inherited` so that the test author is free to declare them on a superclass of the test type.

[2020-06-26 11:43] tomsontom commented on #10185
I think suggesting to fix this on the client-side is a none started.

As a frontend application provider I'm not interested if the backend is written in Quarkus, Wildfly, SpringBoot, .net, ... nor am I interested if the backend is deployed in an environment who is protected by Keycloak, SpecialAuthService-X, SpecialAuthService-Y, ... - in an ideal world this is completely transparent to the client

[2020-06-26 12:03] pedroigor commented on #10185
@tomsontom But that is pretty much how OpenID Connect is supposed to work. You would need something like https://openid.net/specs/openid-connect-session-1_0.html to make that work. See the RP iframe part.

In Keycloak, we have a [JS adapter](https://www.keycloak.org/docs/latest/securing_apps/#_javascript_adapter) that already does that for you, however, the use cases involved are usually the front

[2020-06-26 12:09] pedroigor commented on #10185
@sberyozkin Exactly, that is why I think a web-app like this one we are discussing is not really a valid usage.

I think that for this case, we don't need `quarkus-oidc` at all. But just a vanilla Quarkus application serving resources.

[2020-06-26 12:17] timoesk commented on #10292
I noticed that SmallRye Metrics extension has the same issue. The concurrent requests for the metrics API are also limited by the number of event loops.

[code]
I used debugger to print the worker thread.

Is this related to the blocking reactive routes issue?

[2020-06-26 12:35] #10279 closed

[2020-06-26 12:41] sberyozkin commented on #10185
@pedroigor What about the confidential client support though... With the JS adapter it is no longer a confidential client...

[2020-06-26 12:50] famod commented on #10298
Isn't that basically the same as #10234?

[2020-06-26 13:04] survivant opened #10301 "Enhancement : add Prometheus annotation when extension : metrics + kubernetes are used"
when we are using metrics + kubernetes extensions, should we add those annotations to the pods into the generated file target\kubernetes\kubernetes.yml

I found this in prometheus helm chart documentation : https://github.com/helm/charts/tree/master/stable/prometheus

In order to get prometheus to scrape pods, you must add annotations to the the pods as below:
[code]

I tested by adding

kubectl a

[2020-06-26 13:04] famod opened #10302 "Changelog could be more "readable""
**Description**
First off: thanks a lot for the frequent releases and that you publish detailed changelogs (some projects don't to that at all).

I find the current changelogs (under https://github.com/quarkusio/quarkus/releases) a bit hard to read:
- often both the issue ticket _and_ the respective PR(s) are listed which leads to duplicates or in case the PR is worded differently one is under the

[2020-06-26 13:05] emmanuelbernard commented on #10271
@pschyma ah yes I saw this one to. Perfect place.

[2020-06-26 13:05] emmanuelbernard commented on #10271
@pschyma do you happen to know what your test was exercising when it happened?

[2020-06-26 13:06] emmanuelbernard opened #10303 "Remove illegal refletive access warning for xstream for parameterized tests"
[code]

[2020-06-26 13:07] emmanuelbernard commented on #10303
See #10271

[2020-06-26 13:08] emmanuelbernard commented on #10271
@aguibert ah yes, I did not want to scare people too fast ;)

[2020-06-26 13:09] pedroigor commented on #10185
I'm going to try to implement something on top of that application to show what I'm proposing.

[2020-06-26 13:12] emmanuelbernard commented on #2759
It's currently aimed for 1.8 https://github.com/orgs/quarkusio/projects/5
But that's an aim, it's always difficult to prioritize and stick to things with so many demands

[2020-06-26 13:31] famod commented on #10302
@gsmet WDYT?

[2020-06-26 13:33] famod commented on #10302
Btw, the icing on the cake would be to group issues/PRs per extensions or area.

[2020-06-26 13:56] hacst commented on #10298
@famod Not sure I fully understand that issue. From what I can tell everything in `/src/main/resources/` is "watched" and automatically copied over to target on change when the next request hits. Other resources aren't (which is the problem I stumbled over). Also specifying additional files to watch without something that defines where they go on change doesn't seem helpful for my use-case. I am n

[2020-06-26 14:02] evanchooly commented on #10290
I can dig in to it but wouldn't be bothered if you got there first.  I have a bit of a back log but I'm about to take a big one off that list.

[2020-06-26 14:04] gsmet commented on #9890
@vietj could you put this one on your radar?

[2020-06-26 14:06] geoand commented on #10290
I'll see if I can squeze it in sometime next week. I'll update here in any case.

[2020-06-26 14:07] geoand commented on #10303
This should be mostly fixed in `1.6.0.CR1`

[2020-06-26 14:08] gsmet commented on #10183
/cc @MikeEdgar @phillip-kruger

[2020-06-26 14:14] pedroigor commented on #10185
@sberyozkin @tomsontom Could you check https://github.com/pedroigor/keycloak-cors ?

Basically, what I did was to:

* Change app to be a `service` type application
* Use a JS OIDC library so that the frontend can handle all the authentication
* Changed the endpoint to listen on `/api/hello` where access is enforced based on bearer tokens obtained by the frontend

Does it make sense?

[2020-06-26 14:23] pedroigor commented on #10185
Btw, ideally, the frontend would be a distinct client (public). Where the backend would be a confidential one. I didn't do that to just showcase the changes to the frontend.

[2020-06-26 14:56] vishalgoel1988 opened #10308 "Quarkus kubernetes sidecars configs do not work"
**Describe the bug**
Hi,

I am trying to generate sidecar configs using quarkus application.properties. I have below in my application.properties.

quarkus.kubernetes.sidecars.abc.image=def/abc
quarkus.kubernetes.sidecars.abc.ports[0].containerPort=3000
quarkus.kubernetes.sidecars.abc.arguments[0]=--config=/etc/abc/abc.conf
quarkus.kubernetes.sidecars.abc.mount[0].path=/etc/abc

It is supposed to

[2020-06-26 15:10] iocanel commented on #10260
Most probably the decorators are executed out of order. I'll have a look.

[2020-06-26 15:17] vishalgoel1988 commented on #10191
Hi @manusa, would this get fixed?

[2020-06-26 15:18] cescoffier commented on #10292
It's related to the `@Route` annotation.

I've tried the reproducer and changed the code a bit to display the value of the counter. Using the regular route (registered on the router) I got 20. However, with the `@Route` it does not go above 1.

[2020-06-26 15:22] cescoffier commented on #10292
Found the issue... our blocking handler are registered with `ordered` set to `true`, which means it waits for one task to complete before executing the next task.

[2020-06-26 15:24] pedroigor commented on #10185
I've also added support for token refresh in that example. So that when the token expires, the token is refreshed without forcing user to re-authenticate.

[2020-06-26 15:35] galderz opened #10309 "ZoneOffsetTransition state changing during image generation"
I've been experimenting with a branch that adds 3rd party library sources into the source cache (#10094), and that has triggered an issue similar to #9750.

[code]

[Longer output](https://gist.githubusercontent.com/galderz/1e841ee40a0d97f3965c92cfa7ac833d/raw/a9f56427f7ec8a27270bfab409a7bfdd0c3a6dc0/gistfile1.txt).

[2020-06-26 15:38] leandrobortoli commented on #10290
When doing some more tests, I validated that when injecting a bean interface instead of the implementation, the problem does not seem to occur.

[2020-06-26 15:45] cescoffier commented on #10292
I've submitted a fix: https://github.com/quarkusio/quarkus/pull/10310

[2020-06-26 15:48] timoesk commented on #10292
That was fast. Thanks!

[2020-06-26 15:50] cescoffier commented on #10292
@timoesk BTW, yes, it would fix the metrics issue too.

[2020-06-26 16:01] tomsontom commented on #10185
Very cool but and I think it might make sense to provide samples of the different solutions (although you said the OpenID solution is nothing you are in favor I still think is a valid solution see below why)

As I outlined already my main concern is that with the client-side solution this application can only be deployed in a keycloak environment, whereas the original frontend application is total

[2020-06-26 16:05] tomsontom commented on #10185
BTW - I'd be very happy to provide a Guide to Quarkus - https://quarkus.io/guides/ once we aggreed in what should be presented/advertised.

[2020-06-26 16:20] crissi98 commented on #10287
Ok, I understand but what do you mean by "people will expect configuration wherever it's being used". Do you mean they think it is updated everywhere, even without using the ```javax.inject.Provider```?

[2020-06-26 16:32] pedroigor commented on #10185
@tomsontom Good summary.

I do think it solves the problem. But the use case does not justify having that change, IMO. The main reason being that in the OpenID Connect world you already have the necessary means to solve the same problem.

But this is opensource, let's see if we get more feedback in that discussion, mainly from others in the team.

I see your point. But once you have a decision to

[2020-06-26 17:16] mejlholm opened #10313 "Webjars-locator only works in quarkus:dev mode"
**Describe the bug**
New extension quarkus-webjars-locator in 1.6.0.CR1 should be fairly straightforward to use. It works as expected in
quarkus:dev mode, but in a jar/docker container it doesn't seem to work (if I'm not missing something).

Reproducer can be found here:
https://github.com/mejlholm/webjars-locator-reproducer

**Expected behavior**
Web application on localhost:9080/index.html finds

[2020-06-26 17:18] geoand commented on #10287
Yes exactly

[2020-06-26 17:24] geoand commented on #10308
Hi,

I don't think we support sidecar generation, may I ask what made you think we do?

[2020-06-26 17:27] vishalgoel1988 commented on #10308
Hi,

Please check reference in my question: https://quarkus.io/guides/deploying-to-kubernetes
This has configs for sidecar deployment:

quarkus.kubernetes.sidecars | Map<String, Container>

[2020-06-26 17:34] famod commented on #8297
@geoand

I just checked that on my private machine with Windows 10 Home (please don't ask why it is not a Pro) and with Home you don't even have `secpol.msc` so you cant even grant yourself the right to create symlinks. Again, please don't ask. 😉

**But** I was able to create a link via:
[code]

This will create a _hard_ link, though. But AFAICS this would be a sufficient workaround.
The code coul

[2020-06-26 17:44] geoand commented on #10308
That looks like a bug in the documentation then. @iocanel I assume it was added by accident?

[2020-06-26 17:46] geoand commented on #8297
That is excellent information @famod , thanks a lot! Would you like to submit a PR proposing such a fix?

[2020-06-26 17:55] famod commented on #8297
I can try, yes. It is rather unlikely that this would end up in 1.6.x, isn't it?

[2020-06-26 17:57] geoand commented on #8297
If it's just a small bug fix, then we can probably backport it. If it's more involved, then it would probably end up in 1.7

[2020-06-26 18:31] manusa commented on #10191
Hi @vishalgoel1988 we've added https://github.com/fabric8io/kubernetes-client/issues/2308 to our current Sprint, and we'll try to take care of it soon. It would also be good if we could count on you to verify our fix works (once we have it), since our team doesn't have access to an environment with the same conditions as yours.

[2020-06-26 18:38] vishalgoel1988 commented on #10191
Thanks @manusa.
Yes, I can do the testing for this.

[2020-06-26 19:24] vishalgoel1988 commented on #10308
Just curious that dekorate provides the sidecar functionality. Should it be not included in quarkus automatically?

[2020-06-26 19:26] geoand commented on #10308
Not all things from dekorate work (nor do we want all of them to). We pick
and choose what we want.

In this case, I think we just overlooked the sidecar configuration

On Fri, Jun 26, 2020, 22:24 vishalgoel1988 <notifications@github.com> wrote:

[2020-06-26 19:28] danielpetisme commented on #7536
Hello sorry for this delayed answer....

I have to do a reproducer, I'll share it ASAP

Le lun. 22 juin 2020 à 15:51, Heiko W. Rupp <notifications@github.com> a
écrit :

[2020-06-26 19:30] vishalgoel1988 commented on #10308
Ok.

Is it possible to have it in next release. This is quite helpful.

[2020-06-26 19:37] geoand commented on #10308
I am not sure we can make it for 1.6, most likely it will be 1.7

On Fri, Jun 26, 2020, 22:31 vishalgoel1988 <notifications@github.com> wrote:

[2020-06-26 19:39] vishalgoel1988 commented on #10308
Ok.
Is there any expected release date for 1.7?

[2020-06-26 19:39] pschyma commented on #10248
Just tried this with 1.6.0.CR1 and the project is built as expected.

[2020-06-26 19:40] geoand commented on #10308
Should be early August if all goes well

On Fri, Jun 26, 2020, 22:39 vishalgoel1988 <notifications@github.com> wrote:

[2020-06-26 19:43] crissi98 commented on #10287
Ok, but wouldn‘t it be ok, if you describe the behavior in the Javadoc for the required properties and to extend the guide for the extension?

[2020-06-26 19:46] geoand commented on #10287
I personally don't think it will be enough. Moreover no other config source provides this capability, so it would be very confusing IMHO.

But here is my suggestion: send and email to the quarkus-dev mailing list and describe what you are trying to do (and link to this discussion).
That way you can get more opinions on the matter.

[2020-06-26 19:53] pschyma commented on #10303
It does not appear in 1.6.0.CR1 for me. In 1.5.x I could observe it immediately after adding any `@QuarkusTest` to my Gradle projects which use RESTAssured.

[2020-06-26 20:57] geoand commented on #10308
What's more, the properties aren't even using the proper syntax.
@iocanel this should just be a matter of defining the configuration and adding the proper decorators right? If possible, I would like to fix this in time for 1.6 since we already have it in the docs.
I just need your confirmation that there is nothing more to it before starting to look into it.

[2020-06-26 21:35] sberyozkin commented on #10185
Hi @pedroigor, OK, how will this property help with the `web-app` and the XHR ? We don't really need a property if we have 'service', right ? thanks

[2020-06-26 22:21] famod commented on #8297
#10316 should fix this. Btw, turns out `mklink` is not a "standalone" `.exe` (`cmd.exe /C mklink ...` has to be used).

[2020-06-27 00:36] vishalgoel1988 commented on #10308
Hi @geoand
Can you please help in correcting the syntax?

[2020-06-27 01:10] gastaldi commented on #10313
I can confirm I can reproduce this problem in Fedora 32

[2020-06-27 01:56] gastaldi commented on #10313
@mejlholm [This PR](https://github.com/quarkusio/quarkus/pull/10317) should fix your issue, please give it a try and let me know how it goes.

Thanks!

[2020-06-27 03:52] arilsonsantos opened #10318 "Error: Image build request failed with exit status 137 - Linux Mint"
**Describe the bug**
Error when try to generate a native image. I have been a lot of messages like that but with Windows or IOS

![quarkus_error](https://user-images.githubusercontent.com/1520348/85913903-46332a80-b80f-11ea-99ed-c6516f6ddb84.png)

In the IOS I have needed to change Docker memory and I works, but now Im using Linux... I thought It would be faster and I also thought that it  wouldn'

[2020-06-27 04:19] fwgreen opened #10319 "Unable to perform a count operation on a named query"
This is probably less of a bug and more of a gap in my Hibernate/HQL knowledge.  Basically my named query works with `find` but throws when I add `count`.
[code]
[code]
The immediate workaround to use the query directly:
[code]

Java 14
Quarkus 1.5.2

[2020-06-27 07:03] geoand commented on #10308
There is no correct syntax yet, because there is no dedicated configuration support for sidecars. But I assume it will be similar to what we have with env vars

[2020-06-27 08:48] ejba commented on #10064
Hi everyone,

the property mentioned by @rquinio is an Optional at the moment [link](https://github.com/quarkusio/quarkus/blob/837bcf832aa539e84ff16213f4f1f1e50e1da9d2/extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsRuntimeConfig.java#L32). Once this property will have a default value, the Optional part is not necessary any more and @mcserra could remove

[2020-06-27 09:06] sirAlexander opened #10320 "Config properties of inactive profiles are being expanded in 1.6.0.CR1"
**Describe the bug**
Just tried this version of quarkus as there is a critical fix I need i.e https://github.com/quarkusio/quarkus/issues/10215

but on running `mvn quarkus:dev` the application seems to ignore all Dev config in the application.properties i.e. `%dev.quarkus .datasource.....` and instead uses `prod` properties.

Seems like quite the regression. @geoand @gsmet

[2020-06-27 09:14] littlebeeper commented on #10318
Hi @arilsonsantos

Exit status 137 indicates an out of memory error.
Could you please try increasing quarkus xmx value (quarkus.native.native-image-xmx) for native image generation?

[2020-06-27 09:15] geoand commented on #10320
Very serious indeed!

I'll look into it, but I have a feeling that it might be caused by https://github.com/quarkusio/quarkus/pull/9184

[2020-06-27 09:52] geoand commented on #10320
I was not able to reproduce the problem.

Can you give some details @sirAlexander ?

[2020-06-27 10:09] geoand commented on #10320
Actually, let me try one more thing

[2020-06-27 10:16] geoand commented on #10320
I tried another thing:

[code]

and reading the value of `io.quarkus.vertx.http.runtime.HttpConfiguration#corsEnabled` in dev mode and it turned out to be `false` as expected.

@sirAlexander can you provide a reproducer for the issue you are seeing?

[2020-06-27 10:22] sirAlexander commented on #10320
@geoand this is what I changed in my pom.xml, not sure if it is the correct way to do it

[code]
so using `quarkus-bom` instead of `quarkus-universal-bom`

[2020-06-27 10:31] geoand commented on #10320
That is correct. But since I am unable to reproduce the issue you are seeing, it would be great if you could provide a small reproducer project that exhibits this behavior.

[2020-06-27 10:31] sirAlexander commented on #10320
@geoand I've updated the reproducer here if that can help >> https://github.com/sirAlexander/quarkus-reproducer

```running mvn quarkus:dev``` reproduces the issue

[2020-06-27 10:32] geoand commented on #10320
I'll take a look, thanks

[2020-06-27 10:44] geoand commented on #10320
OK, I understand what the problem is.

Basically Quarkus is trying to expand

[code]

even though there is a dev mode property that overrides it:

[code]
So a simple workaround for the time being is to use `quarkus.datasource.jdbc.url=jdbc:mysql://${DB_HOST:dummy}/${DB_NAME:dummy}`

However I am in favor of reverting #9184 unless we can get a fix in for 1.6.0.Final. WDYT  @radcortez, @gsmet ?

[2020-06-27 10:48] sirAlexander commented on #10320
cheers @geoand will put the workaround in place for now. Thanks

[2020-06-27 10:53] sirAlexander commented on #10320
only worry is, this would mean lots of quarkus users out there in the wild will need to go over and update all their configs

[2020-06-27 10:57] geoand commented on #10320
Yes, which is why I propose we revert the PR specified above if we cannot come up with a fix in time for `1.6.0.Final`.

[2020-06-27 11:36] 38leinaD commented on #10298
I would also be interested to see this working from a Gradle-perspective; just unsure what is the right way.
The usecase I basically have is that i have a Gradle multi-module-project. One module is the main quarkus app and it depends on a project that contains a plain HTML 5 frontend that should be packaged/served from the Quarkus app.
When running in dev-mode, the frontend can actually be served

[2020-06-27 12:15] sirAlexanderT commented on #4172
I'm currently facing the same issue, on both quarkus 1.5.2.Final and 1.6.0.CR1. Would appreciate if anyone could point me to a fix. Thanks.

[2020-06-27 12:17] sirAlexanderT commented on #4172
@limadelrey How did you get around this?

[2020-06-27 14:00] radcortez commented on #10320
Let me try to have a look and see if we can find a fix for it. If not, we can revert.

[2020-06-27 14:15] phillip-kruger commented on #10112
Hi @sirAlexander - please explain the issue. Do you not get to the swagger ui page at all ? Or do you get there but it's not rendering properly ? Or do you get there, and it's rendering but the REST calls are not working ?

Thanks

[2020-06-27 14:18] phillip-kruger commented on #10183
This is being handled in SmallRye here https://github.com/smallrye/smallrye-open-api/issues/376

[2020-06-27 14:26] radcortez commented on #10320
I believe the issue is related when the profile is resolved. The recent change to use the expansion in SmallRye Config, requires the profile to be set on Config init. The previous code was dynamically setting the profile in the ConfigSource directly. I still need to confirm this, but it seems to be the case.

[2020-06-27 14:31] #10292 closed

[2020-06-27 14:31] patriot1burke commented on #10284
You have to include the SSL lib in the function.zip.  Please read the guide here:

https://quarkus.io/guides/amazon-lambda

Specifically the section:  Additional requirements for client SSL

[2020-06-27 14:51] vishalgoel1988 commented on #10308
Ok.
Also, following property creates a volume in yml but with defaultMode=384 (I think dekorate has it set as 384), though quarkus documentation says default is 0600.
quarkus.kubernetes.config-map-volumes.keycloak-config1-volume.config-map-name=config1

It would be really helpful if we can get sidecars configs in 1.6

Thanks.

[2020-06-27 15:13] hakandilek commented on #9949
I did try it with the `SNAPSHOT` version and thanks to the `native-image` output, I can identify the reason of the failing build. `native-image` tried to allocate more memory but it failed in the CI pipeline. This explains a lot. I'll close this issue. Thank you.

[code]

[2020-06-27 15:13] #9949 closed

[2020-06-27 15:31] sirAlexander commented on #10112
@phillip-kruger I do not get the swagger-ui page at all

[2020-06-27 15:58] phillip-kruger commented on #10112
Ok, that is somewhere in the swagger UI extension then. I'll have a look as soon as I get a chance. You are also welcome to see if you can pin point the issue there (and even better, do a PR with the fix ;))

[2020-06-27 16:15] mejlholm commented on #10313
@gastaldi the PR fixes the issue for me.

[2020-06-27 16:17] phillip-kruger commented on #10112
@sirAlexander can you please share your application.properties?

[2020-06-27 16:17] radcortez commented on #10320
Ok, the issue is related with this:
https://github.com/smallrye/smallrye-config/pull/275#discussion_r404816069

When we implemented this in SmallRye Config, we did it a way that profile only takes priority if it has an higher ordinal. This would allow you to override the configuration name without having to resort to use the profile + config name.

Unfortunately, the old Profile resolution in Quar

[2020-06-27 16:19] geoand commented on #10320
Do you plan to open a PR @radcortez ? A test case would also be great to have

[2020-06-27 16:25] radcortez commented on #10320
Yes, working on possible fix right now :)

[2020-06-27 16:25] geoand commented on #10320
Excellent 👍

[2020-06-27 16:28] radcortez commented on #10320
This probably also caused the issue reported in the original PR: https://github.com/quarkusio/quarkus/pull/9184#issuecomment-650180456

[2020-06-27 16:40] sirAlexander commented on #10112
the only swagger related stuff I have in the properties is:
`# Swagger properties
quarkus.swagger-ui.always-include=true
`
Then as described in the original issue above (https://gitmemory.com/issue/quarkusio/quarkus/4200/535037694)
...part of my ingress config has something similar to

`
"path": "/test-service(/|$)(.*)"
`

[2020-06-27 16:43] #10313 closed

[2020-06-27 16:44] gastaldi commented on #10313
Thanks for checking

[2020-06-27 17:09] radcortez commented on #10320
#10322 Should fix this.

@sirAlexander do you have any chance to pull it, build it locally and test it with your code? That would be super helpful. Thank you :)

[2020-06-27 17:34] geoand commented on #10320
@radcortez I tried your PR and it does fix the issue, thanks!

I think we really need a Quarkus integration test that will ensure we don't run into this again in the future. Do you mind if I push a commit to your branch adding one?

[2020-06-27 18:03] Kondamon opened #10323 "UTF-8 encoding problem with MultiPart/RestEasy"
**Describe the bug**
I develop a rest API with MULTIPART_FORM. But I'm having problems with @Consumes charset. I sent some params to the controller which includes German characters. And it didn't work as expected. The characters are not encoded properly, what can also be seen in debugging the properties in VSCode.

Some of the characters that cause the problem:
* ä, Ä, ü, Ü, ö, Ö, ß

Instead, I re

[2020-06-27 18:18] #10059 closed

[2020-06-27 18:20] #8297 closed

[2020-06-27 18:39] radcortez commented on #10320
Not at all. Go ahead.

[2020-06-27 20:10] #10320 closed

[2020-06-28 05:20] nohochmak commented on #9969
Same error in the Quarkus quickstarts - hibernate-orm-panache-quickstart
fails native build e.g.  **./mvnw install -Dnative**

with exception:

caused by: com.oracle.svm.hosted.substitute.DeletedElementException: Unsupported method java.lang.Class.getNestMembers() is reachable: ...

[2020-06-28 05:32] nohochmak commented on #9969
OK update on this - I switched my JVM (using SDKMan) from
    **/Users/brenden/.sdkman/candidates/java/13.0.2.j9-adpt**
to
    **/Users/brenden/.sdkman/candidates/java/8.0.252.j9-adpt**
and it works without issues.  Not liking JDK 13?

[2020-06-28 05:50] zhfeng commented on #10180
@mmusgrov I tried with the master (999-SNAPSHOT) and it was still failed. I think you might not remove the fix and rebuild the narayana-jta extension ?

[2020-06-28 07:49] KMUS opened #10325 "Received fatal alert: certificate_required"
This only affects the native image generation.

As long as the project sticks with GraalVM version 19.3.x, everything works fine. After updating GraalVM to the Quarkus supported version 20.0.0, the produced native image always fails and complains a certificate is required. Nothing was changed except the GraalVM version, that includes the new keystore and truststore now.

[code]
Keystore and Trusts

[2020-06-28 10:22] asodja opened #10327 "IncompatibleClassChangeError with Gradle and sourceSets.test.output"
In a multi module project I get an exception `java.lang.IncompatibleClassChangeError: Class X does not implement the requested interface Y` if I use `testImplementation project(":first-module").sourceSets.test.output`. A simple reproducer can be found here: https://github.com/asodja/quarkus-class-exception-reproducer.

I have an interface in production code of `first-module` [Datastore.java](https

[2020-06-28 11:14] ejba commented on #10323
Hi @Kondamon,

I created a reproducer according to your specifications and you are right about the behavior. Nevertheless, the HTTPie does not specify the Content-Type for the content field. According to Resteasy's [documentation](https://docs.jboss.org/resteasy/docs/4.5.3.Final/userguide/html_single/index.html#multipart_overwrite_default_content_type) when the content's type is not specified it w

[2020-06-28 11:45] rmh78 commented on #2835
+1

[2020-06-28 12:05] ozkanpakdil commented on #9738
I created a gradle project and trying to run test from visual studio code and got
`Jun 28, 2020 2:00:42 PM io.quarkus.bootstrap.BootstrapAppModelFactory resolveAppModel
WARN: Unable to locate the maven project on the filesystem`

[2020-06-28 12:14] glefloch commented on #9738
Yes we are working on the Gradle plug-in to make this working.

[2020-06-28 12:25] radcortez commented on #10320
@dmlloyd Do you have any thoughts about this? Eventually to support it like we discussed it is a breaking change for Quarkus.

[2020-06-28 15:12] famod commented on #10234
I left posted some questions about this in the chat: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/BuildStep.20based.20on.20config.3F.20(implementing.20.2310234)

[2020-06-28 18:09] MarcusBiel commented on #2231
U see this issue has been closed over a year ago... but have the issues raised actually been addressed so far? I am and or have been struggling with the issues described in this thread - lots of different tutorial resources on the topic, also I found @PermitAll confusing, and it took me long to find a way to get enable a full unauthorized endpoint (for a stripe webhook) - since I have globally pro

[2020-06-28 18:56] geoand commented on #10325
Have perhaps tried Quarkus 1.6.0.CR1 with GraalVM 20.1?

[2020-06-28 18:58] geoand commented on #10319
cc @Sanne

[2020-06-28 19:50] famod commented on #10298
@hacst Quarkus is only "watching" a defined set of file names.
See also: https://github.com/quarkusio/quarkus/blob/1.6.0.CR1/core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java

I've created PR #10328 to define custom file names to watch, but those must exist in the respective `io.quarkus.deployment.dev.DevModeContext.ModuleInfo.getResourcePath()`.

[2020-06-28 20:28] hacst commented on #10298
@famod I am unsure but we might be talking about different things here. As I mentioned I'm woefully unaware of quarkus internals an might be using wrong terminology. Using the code-with-quarkus example I can do:
[code]
As you can see an arbitrarily named file like `foo.bar` is picked up/updated by `quarkus:dev` once I load the page as long as it resides in the `src/main/resources` directory. Ideal

[2020-06-28 20:38] famod commented on #8837
Does not happen anymore with 1.6.0.CR1. Might have been fixed in 1.5.x already (didn't check).

[2020-06-28 20:38] #8837 closed

[2020-06-28 21:01] Sanne commented on #10319
I'll pass it to @FroMage  :)

[2020-06-28 22:02] famod commented on #10177
I can reproduce this with https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started

Since the root cause (`URISyntaxException`) is thrown by the JDK, I am asking myself whether brackets are actually "valid".
Might be interesting in this context:
- https://stackoverflow.com/a/13500078/9529981
- https://stackoverflow.com/questions/11038967/brackets-in-a-request-url-are-legal-but-

[2020-06-28 22:06] famod commented on #10143
So for your setup this is regression in 1.6.0.CR1? cc @aloubyansky

[2020-06-28 22:12] famod commented on #9992
Possible Workaround: You could use a different name and implement a `ConfigSourceProvider` that provides that file.

[2020-06-28 22:15] famod commented on #9990
It seems this landed in 1.6.0.CR1 via #10220.

[2020-06-28 23:16] famod commented on #9968
I can confirm that there are various testcontainers entries in the universe BOM: https://repo1.maven.org/maven2/io/quarkus/quarkus-universe-bom/1.5.2.Final/quarkus-universe-bom-1.5.2.Final.pom

I had a litte "fun" with https://github.com/quarkusio/quarkus-platform/blob/master/bom/runtime/pom.xml and I was able to narrow it down. The following listing shows which BOM is dragging in which testcontai

[2020-06-28 23:32] jimbogithub commented on #10143
It was OK in 1.4.2.Final.
It is a problem in 1.5.x and 1.6.0.CR1.

[2020-06-29 00:35] jimbogithub commented on #10143
The issue discussed here only applies to the hot deployability of the dependencies.

However I do see an extra new issue with 1.6.0.CR1 which only occurs on projects that suffer from the problem described in this issue.  In this example `com.redacted.BaseEntity` is in one of the non-hot-deployable dependencies:

[code]

[2020-06-29 01:38] chyiro commented on #3066
That explains the behavior.
So is there any plans to support flat directory repository in the future?
https://docs.gradle.org/current/userguide/declaring_repositories.html#sub:flat_dir_resolver

The developer experience is kind of weird to register JARs with Maven in advance while using Gradle as main build tool.
Supporting flat directory repository should be a small but good improvement.

Thanks!

[2020-06-29 05:18] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/151097188

[2020-06-29 05:18] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/151097148

[2020-06-29 05:36] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/151097271

[2020-06-29 05:41] geoand commented on #8694
@mariofusco @evacchi it seems like the `kogito-quarkus-integration-test` is failing

[2020-06-29 06:23] TobiWeier commented on #10159
Hi Ken,
thanks for your answer. We are not injecting the emitter directly in the jaxrs filter. In our application users are working in a special business section. Each user has a default section, saved in the database. The jaxrs filter set the actual section for each request. Client applications can set the actual section via a special http header. If there is no header the jaxrs filter needs to r

[2020-06-29 06:43] aloubyansky commented on #3066
I can't give an estimation when now but I think we should support it.

[2020-06-29 06:56] phillip-kruger commented on #10183
Closing here. Fixed in SR

[2020-06-29 06:56] #10183 closed

[2020-06-29 07:25] McIntozh commented on #10203
Hi,
I postet a simmilar request some days ago, where, in a possible workaround, I received the wanted behaviour by adding the synchronized modifier to the scheduled method: https://github.com/quarkusio/quarkus/issues/9883

[2020-06-29 07:30] mkouba commented on #9883
I think that we should definitely address this. Your workaround is OK except that the `running` field should be `volatile` or even an `AtomicBoolean`:

[code]

[2020-06-29 07:36] glefloch commented on #10327
I can reproduce the issue with reproducer. However, I don't think this a quarkus related issue.
The `testImplementation project(":first-module").sourceSets.test.output` syntax seems to be deprecated in favor of the `java-test-fixtures` plugin.
I locally updated your project to use this plugin (by following this guide https://docs.gradle.org/current/userguide/java_testing.html#sec:java_test_fixture

[2020-06-29 07:45] gsmet commented on #9990
Right, thanks!

[2020-06-29 07:45] #9990 closed

[2020-06-29 07:51] MarcusBiel opened #10330 "Make it possible to switch off Authentication on the dev environment easily"
In Micronaut, using the @Requires annotation, you can define that a mocked security filter is only active when a disable flag
is set to true - this way Authentication can be active on PROD by default, but you can deactivate it on DEV to simplify testing:

    @Singleton
    @Requires(property = "application.disable-authentication", value = "true", defaultValue = "false")
    public AuthenticationF

[2020-06-29 08:03] galderz commented on #10309
Indeed this is strictly related to the debug info integration. The issue happens because of a side effect of the code that inspects the files to add to source cache when inspecting a source root that is a `-source.jar`. When it does that, `SourceCache` invokes `Files.isRegularFile` which indirectly fills up the Java Time `ZoneRules.lastRulesCache`. When the image is written, the code discovers thi

[2020-06-29 08:04] galderz commented on #10309
FYI, the stacktrace to modifying `lastRulesCache` can be found [here](https://gist.github.com/galderz/d282e44307e2aef0ca61760aebc143f1).

[2020-06-29 08:08] ejba commented on #10323
Including screenshots to understand better what I am trying to explain.

<img width="918" alt="extract-part" src="https://user-images.githubusercontent.com/24874651/85989031-daf08080-b9e7-11ea-80db-00a1cd8b2d40.png">
<img width="1130" alt="add-part-list" src="https://user-images.githubusercontent.com/24874651/85989036-ddeb7100-b9e7-11ea-9e1d-a28964b70323.png">

[2020-06-29 08:09] florian-schneider-40 opened #10331 "Unexpected sequence generator behaviour on existing database table"
**Describe the bug**
We have a simple entity (it does not inherit from PanacheEntity) that has a SequenceGenerator annotation. It used to work but all of a sudden it is returning values that are lower than the current value of the database sequence in our PostgreSQL database.

[code]

**Expected behavior**
We expect that the sequence generator is in sync with the respective database sequence.

**A

[2020-06-29 08:15] geoand opened #10332 "Generated knative.yaml does not work on Openshift Serverless"
**Describe the bug**
When using the `quarkus-kubernetes` extension and `quarkus.kubernetes.deployment-target=knative`, the generated manifest cannot be applied to an Openshift Cluster with Openshift Serverless installed.

**Expected behavior**
The auto-generated manifests work OOTB on Openshift Serverless

**Actual behavior**
When applying the manifests as produced by the Kubernetes extension, we

[2020-06-29 08:18] geoand commented on #10332
Seems related to https://github.com/quarkusio/quarkus/issues/8659

[2020-06-29 08:44] gsmet commented on #10331
By any chance did you load data manually leading to the sequence to be incremented outside of Hibernate ORM? IIRC, sequences are by default allocated 50 by 50 and that could lead to this issue.

[2020-06-29 08:48] gsmet commented on #10248
@pschyma so we can close this one?

[2020-06-29 08:49] florian-schneider-40 commented on #10331
I fear I can't rule out somebody did this. Do you see a way to address the issue anyhow?

[2020-06-29 08:50] gsmet commented on #10258
/cc @sberyozkin

[2020-06-29 08:54] famod commented on #10183
@philip-kruger Thanks, but we need to update SR in Quarkus so that it is fixed for Quarkus, no?

[2020-06-29 08:57] phillip-kruger commented on #10183
that should happen via dependabot as soon as we release on the SR side.

[2020-06-29 10:08] angrymango commented on #7440
I updated the extension by @leotu to 1.5.2.Final.

- Currently proxies are disabled to make native compilation work. I'm not sure if this a big deal or not, I'm new to jOOQ. According to this https://www.jooq.org/doc/latest/manual/sql-execution/fetching/pojos/#N77C0C it looks like it only uses them for "fetching data into abstract classes or interfaces". Longer term I guess the proper solution wou

[2020-06-29 11:09] geoand commented on #10308
@vishalgoel1988 the issue should be fixed in #10333.

See https://github.com/geoand/quarkus/blob/ae5485672bddfe66f710dfd766ee80dfb1ef02c8/integration-tests/kubernetes/quarkus-standard-way/src/test/resources/kubernetes-with-sidecar-and-jib.properties to see what the proper use of `sidecars` should be (after the PR has been merged).

[2020-06-29 11:21] MarcusBiel commented on #10330
Yes, shipped with the main code, but default false means
Mocked authentication is disabled by default, so when the property setting is missing,
Authentication will be on by default.

[2020-06-29 11:23] survivant commented on #10301
@geoand ping

[2020-06-29 11:37] gsmet commented on #10259
Could you try https://github.com/quarkusio/quarkus/pull/10334 ?

Tips from https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master might be useful in order to test the PR.

[2020-06-29 11:51] pedroigor commented on #10185
@sberyozkin It will help so that you don't need to change your app to `service` as well as not force users to create two distinct clients for both backend (the app serving the content) and the frontend (the SPA). Where we just check whether or not the request is an XHR and return 401|403 instead of 302.

I'm only proposing this approach because it is related to the requirement from @tomsontom wher

[2020-06-29 11:56] emmanuelbernard commented on #2231
Let's open dedicated issues to the problem you have experienced. We will be able to hunt them down more easily. PS that's also a reason why I prefer more concrete actionable titles for issues like that. Improve foo is a never ending task ;)

[2020-06-29 11:57] hyperman1 commented on #10259
I can't try much.  Our corporate proxy does not allow acces to your snapshots or git.  I'll see if I can find a workaround

[2020-06-29 12:10] vishalgoel1988 commented on #10308
Thanks @geoand
One little question. How can we give multiple arguments? by comma separated?

quarkus.kubernetes.sidecars.sc.arguments=-a,-b

[2020-06-29 12:11] geoand commented on #10308
Exactly

[2020-06-29 12:26] maxandersen opened #10336 "enable promtheus scraping when using metrics"
**Description**
Discussed in https://groups.google.com/g/quarkus-dev/c/WqvGjKIOXrE/m/esRFB6LJAQAJ?pli=1 it was noticed that when enabling metrics and kubernetes/openshift it was still necessary to go and add prometheus annotations to see scraping.

**Implementation ideas**
hook into dekorate and generate the proper annotations (check if differences between prometheus in openshift and plain kuberne

[2020-06-29 12:41] geoand commented on #10336
@survivant pointed me to #10301, so I'll close this as a duplicate

[2020-06-29 12:41] #10336 closed

[2020-06-29 12:51] dmlloyd commented on #10320
Hmmm.  That is not how I remember it working, and I thought we had tests to verify.  I hope the new implementation (and corresponding spec work) was not incorrect due to my bad memory...

[2020-06-29 12:55] mkouba commented on #9883
I've created a draft PR here: https://github.com/quarkusio/quarkus/pull/10338

[2020-06-29 12:55] mkouba commented on #10203
I've created a draft PR here: https://github.com/quarkusio/quarkus/pull/10338

[2020-06-29 12:57] sbeigel opened #10339 "@JsonIgnore on fields in panache entity not working"
**Describe the bug**
Starting with quarkus version 1.3.1 (until 1.6.0.CR1), ignoring fields with Jackson's @JsonIgnore annotation on the fields of panache entities doesn't work anymore. You have to add an explicit getter and place the annotation there to have an effect. That kind of defeats the purpose of panache's "property" style.

**Expected behavior**
Panache entity fields annotated with @Json

[2020-06-29 13:10] obbyK opened #10340 "http codes when returning possibly null Uni or empty Multi in reasteasy?"
I have found out that returning a possibly null Uni returns http status 204 (no content) when using a get request such as `/users/123`. Shouldn't this return 404?

Where can I find docs for the http codes when returning a possibly null or empty Uni/Multi? How can i modify the http status codes when using mutiny before returning results? Here is the question at [stackoverflow](https://stackoverflow

[2020-06-29 13:19] geoand commented on #10301
#10341 should take care of the issue

[2020-06-29 13:24] radcortez commented on #10320
Yes, you can confirm the Quarkus implementation here:
https://github.com/quarkusio/quarkus/commit/2a95fc3400a30af061c73a1cf43b870232afdb4e#r40209567, which returns the profile value straight away if it finds one.

In SmallRye impl and MP spec, we did implement it differently (by using the source ordinal), which in my opinion is correct. It just introduced here a possible backwards compatible issue

[2020-06-29 13:25] famod commented on #9767
I suppose you are using `quarkus-universe-bom`, not `quarkus-bom`?

[2020-06-29 13:28] survivant commented on #10301
that was fast :)   thanks

[2020-06-29 13:29] geoand commented on #10301
Thanks for reporting!

[2020-06-29 13:31] kenfinnigan commented on #10159
I'm not 100% certain, but the issue might be that JAX-RS providers by default are not CDI Beans

[2020-06-29 13:32] famod commented on #9715
The problem is caused by importing `kogito-bom`: https://github.com/quarkusio/quarkus-platform/blob/master/bom/runtime/pom.xml#L36

This BOM also drags in `slf4j-nop`, btw.

cc @gsmet

[2020-06-29 13:43] famod commented on #9672
If the CR releases were published as "pre-releases" then you could also have them filtered out.

[2020-06-29 13:43] dmlloyd commented on #10320
The challenge is that "correct" is meaningful only if that behavior supports the use cases.  But I agree we can always change it if needed.

[2020-06-29 13:51] #10308 closed

[2020-06-29 13:58] famod commented on #9639
Since non-tivial queries are auto-flushing in Hibernate, you need to switch `FlushMode` before the query:
[code]
and in `finally` set it back to what it was before.

This is how we did it in a pretty old project based on JBoss EAP 6.4 (Hibernate 4.2) and IIRC also in a more recent project based on Wildfly Swarm. So I suppose this also works with Quarkus.

[2020-06-29 14:00] rquinio commented on #10064
@ejba  The problem is that the default value needs to be resolved programmatically, which happens after any mandatory/optional config is validated.

[2020-06-29 14:03] famod commented on #9672
I had a quick look: Currently the badge is targeting `maven-central`, not the GH releases page.
Unfortunately `maven-central` does not seem to provide `sort=semver`.

[2020-06-29 14:12] TobiWeier commented on #10159
https://quarkus.io/guides/rest-json#lifecycle-of-resources

[2020-06-29 14:15] asodja commented on #10327
That works, thank you.

[2020-06-29 14:21] daniel-alonso-sanchez commented on #8210
Same here with 1.5.2

[2020-06-29 14:27] geoand commented on #10339
I'll take a stab at this since I'm pretty sure I know what's going on

[2020-06-29 14:31] sberyozkin opened #10343 "Disabled default quarkus-oidc tenant blocks access to the public resources"
A request to a resource such as `http://localhost:8080/graphql` fails with

[code]

Despite the following configuration:
[code]

[2020-06-29 14:37] kenfinnigan commented on #10159
Right, so the provider isn't a JAX-RS Resource so injection won't work

[2020-06-29 14:39] crissi98 commented on #10287
Closing this after discussion on quarkus-dev mailing list: https://groups.google.com/forum/#!topic/quarkus-dev/eUDWv19kVMI

@geoand Thanks for taking your time looking into this. I hope I didn´t annoy you too much with this

[2020-06-29 14:39] #10287 closed

[2020-06-29 14:40] geoand commented on #10287
Not at all! Thanks for reporting and taking the time to discuss the issue on the mailign list as well

[2020-06-29 14:54] TobiWeier commented on #10159
So, CDI injection in JAX-RS providers are not supported in Quarkus?

[2020-06-29 15:04] gsmet commented on #10331
First thing I would do would be to set the `allocationSize` of the `SequenceGenerator` to 1 and then restart everything properly.

[2020-06-29 15:14] kenfinnigan commented on #10159
@mkouba can confirm, but I don't think so.

[2020-06-29 15:58] KMUS commented on #10325
That did not solve the problem. Still the same exception.

[2020-06-29 16:40] gsmet commented on #9715
They shouldn't be in the BOM in the first place.

[2020-06-29 16:48] famod commented on #9715
Ideally they shouldn't. Looks like another quickfix similar to https://github.com/quarkusio/quarkus-platform/pull/81 is required for now?

[2020-06-29 16:58] jdarosTD opened #10350 "[spring-cloud-config-client] Authentication not added when spring-cloud-config.url defines a endpoint, not a base url"
**Description**
When defining a config with a full endpoint url like https://my-domain-url.com/config
Quarkus does not succeed in getting configuration when it's protected by Basic Authentication

**Expected behavior**
Successful config retrieve

**Actual behavior** : 401 http response
[code]

**Configuration**
[code]
**Environment :**
 - java version: 1.8.0_181
 - Quarkus version: 1.4.2 (tried al

[2020-06-29 17:01] gsmet commented on #9715
I would like to know where they are coming from because that's probably something that needs a fix in the external extensions that brings it.

I created https://github.com/quarkusio/quarkus-platform/pull/83 and looks like we have a ton of work ahead of us to clean this.

[2020-06-29 17:09] gsmet commented on #10320
@radcortez I fail to see how the use case described here is not something we want to support out of the box? It looks like a perfectly valid one.

[2020-06-29 17:16] sberyozkin commented on #10330
@MarcusBiel thanks.
Ok, as discussed in the forum, we have 2 somewhat more involved but quite functional mechanisms where no live OIDC provider connection is required, 1) use the local verification key 2) use the local test OIDC JAX-RS endpoint.
Every part of the authentication flow is customizable but looks like we don't have an option where we have for example `quarkus-oidc` is enabled but we wa

[2020-06-29 18:06] asodja commented on #10327
Since this looks like a proper "Gradle way" of reusing test utilities I am closing this issue. If there is any other use case where `sourceSets.test.output` should be used and Quarkus does not handle that, one can open new issue.

[2020-06-29 18:06] #10327 closed

[2020-06-29 18:44] radcortez commented on #10320
@gsmet you mean Profile resolution with priority?

It is supported in SmallRye Config, but it does introduce a backwards incompatible change with Quarkus, since Quarkus profile implementation, that we replaced in #9184 only lookups the profile value no matter the priority. So, it certain cases, depending on how you have your config setup, you may experience different behaviour.

What we did in #10

[2020-06-29 18:57] maxandersen opened #10353 "Move .aesh to .cli with command mode"
**Description**
implement quarkus cli with command mode. Currently in a traditional static main.

[2020-06-29 19:01] maxandersen opened #10354 "Provide various installation mechanisms for quarkus cli"
**Description**
Make Quarkus cli available from as many installation options as possible - at least those that are trivially done/maintained.

Provide a download of cli (a .zip) (osx/linux/windows)
- [ ] github release of quarkus-runner jar
- [x] enable sdk install quarkus (osx/linux) #18381
- [x] enable brew install quarkus (osx)
- [ ] scoop install (windows)
- [x] jbang installer (already exists

[2020-06-29 19:10] gsmet commented on #10320
I was probably unclear. What I don't understand is that in the aforementioned case, the old behavior looks like what we would want i.e. the dev profile overriding the default value and the default value thus not being resolved.

I don't understand why we would resolve the default value if overridden by the dev profile?

[2020-06-29 19:14] Kondamon commented on #10323
Hi @ejba!  Thank you for your effort! I have tried to use Postman to send the form with these settings but without success. Still the same behavior. Here the content-type is provided as UTF-8.

![Screenshot 2020-06-29 at 21 12 47](https://user-images.githubusercontent.com/17550858/86046367-63edd300-ba4d-11ea-8226-5458b7422651.png)

[2020-06-29 19:28] pschyma commented on #10248
@gsmet I'd say: yes.

[2020-06-29 19:30] kenfinnigan commented on #10248
Thanks

[2020-06-29 19:30] #10248 closed

[2020-06-29 19:46] aguibert commented on #6293
hi @andrebreves, tested a release candidate DB2 JDBC driver today and it's working with DB2 LUW and DB2 on z/OS (See PR #10349 for further detail)

[2020-06-29 19:58] fwgreen opened #10357 "Can't update a PanacheEntity converted from a @FormParam"
Updates made to an `PanacheEntity` converted from a `@FormParam`, either using the `valueOf/fromString` approach or using a `ParamConverter` and `ParamConverterProvider`, are ignored.  No errors are thrown.  ~~Conversions from a `@PathParam` work as expected~~ (1.6.1).  On further reading, I thought this might be related to https://github.com/quarkusio/quarkus/issues/3261, as my form has only `boo

[2020-06-29 20:05] radcortez commented on #10320
Me and @dmlloyd had a discussion about this.

The issue is when you set up a profile value in a really low priority source, for instance `microprofile-config.properties` and then you have no way to override it, or to empty it in higher ordinal sources.

[2020-06-29 21:00] RaviH commented on #10284
Hello @patriot1burke,

Thank you for your help. I can't find libsunec.so in /Library/Java/JavaVirtualMachines/graalvm-ce-java11-20.1.0/Contents/Home/lib. Is that no longer the part of 20.1.0?

I do have `libsunec.a` and tried to follow the instructions and replaced `libsunec.so` with `libsunec.a` but it didn't work.

[2020-06-29 21:30] MarcusBiel commented on #2231
Sure. Who. Where. How.

Am 29. Juni 2020, 13:56, um 13:56, Emmanuel Bernard <notifications@github.com> schrieb:

[2020-06-29 21:49] pkonyves opened #10358 "Qute: enable/disable include rendering"
**Description**
I'd like a mechanism to enable/disable the `{#include parent}` tags e.g.

Use-case: I'd like to have partial rendering of templates. Initially I want to render the full webpage with `{#include parent}` including parent template. Then I want to do partial rendering of the same template without including the parent template. I would use turbolinks or intercooler.js to show the partia

[2020-06-29 22:34] ejba commented on #10323
I tried again but with curl command instead. Successfully obtained the result that you expected.

[code]

So it means this is not a bug, it's just a matter of how to specify the content's type.

[2020-06-29 22:35] dmlloyd commented on #10320
Another way to look at it is, let's say I'm not aware of how the config is structured for a given project.  I just want to set property XXX to YYY.  I would expect that using -DXXX=YYY will always just work, even if there was a profile-specific value for that property in a lower config source that I wasn't aware of.

[2020-06-30 01:15] patriot1burke commented on #10284
Has to come from the Linux distribution of Graal.

[2020-06-30 02:34] jaikiran commented on #10325
When you launch the native application (after the native image has been built), can you launch it by passing `-Djavax.net.debug=all` and capturing those logs. Those logs might help us understand what's going on. More details on debugging issues like these can be found at https://docs.oracle.com/javase/8/docs/technotes/guides/security/jsse/ReadDebug.html

[2020-06-30 02:51] bindu-variam opened #10359 "Override property quarkus.security.users.embedded.users.<username>"
**Description**
I have a quarkus based webapp that uses **Basic Authentication** with **Embedded Realm Configuration**. The webapp runs in a docker container. The authentication properties are specified in **application.properties** like this:

[code]
I would like to override **quarkus.security.users.embedded.users.test** to specify a password at docker runtime.

I tried to do this by overriding t

[2020-06-30 02:54] jaikiran commented on #10340
Perhaps @cescoffier would know?

[2020-06-30 03:52] Sgitario commented on #10343
This is an example test about how to reproduce this issue: https://github.com/Sgitario/quarkus-oidc-issue
Running the test will fail because of this issue.

[2020-06-30 05:18] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/152313366

[2020-06-30 05:19] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/152313738

[2020-06-30 05:35] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/152313827

[2020-06-30 06:32] cescoffier commented on #10340
What's the behavior when your return `null` in a regular Jax-RS endpoint. It should do the same.

[2020-06-30 06:54] emmanuelbernard commented on #2231
On Mon 29 Jun 2020 at 23:31, Marcus Biel <notifications@github.com> wrote:

You :) you would be the best to capture the need.

Where.

quarkusio/Quarkus GitHub issue is where we capture everything.

How.

Add the area/security label and @mention Sergey and I.

[2020-06-30 07:27] florian-schneider-40 commented on #10331
Thanks, that did it! So not really a Quarkus issue but rather our  switch to Hibernate (implicitly via Quarkus) on a prepopulated database.

[2020-06-30 07:27] #10331 closed

[2020-06-30 07:36] MarcusBiel opened #10361 "Improve Security documentation to open a unauthenticated subpath"
As described in the documentation, I have globally set my api as authenticated:
quarkus.http.auth.permission.authenticated.paths=/api/*

Now however, for a webhook I need a public endpoint. The documentation was not clear (enough) that I needed to
open a path again like this:
quarkus.http.auth.permission.public.paths=/api/noauth/*

I was expecting it would be enough to just leave out the @Authenti

[2020-06-30 07:40] Kondamon commented on #10323
Thank you very much! It seems like only curl supports to to specify the content type. I have added the mime-type=";type=text/plain;charset=utf-8" in the form upload and everything works fine now!

[2020-06-30 07:41] MarcusBiel opened #10362 "@PermitAll is misleading"
The @PermitAll annotation is misleading and has cost me some effort to figure out its meaning -
perimit all implies that this opens up an endpoint for all requests - but what is actually meant is
@PermitAllRoles or @PermitAllExistingRoles or something like that.

[2020-06-30 07:43] MarcusBiel opened #10363 "Improve Authentication Documentation"
The Authentication documentation is spread over several separated guides:
https://quarkus.io/guides/security-jwt
https://quarkus.io/guides/security-openid-connect
https://quarkus.io/guides/security-openid-connect-web-authentication
https://quarkus.io/guides/security-openid-connect-multitenancy
https://quarkus.io/guides/security-keycloak-authorization
 https://quarkus.io/guides/security-oauth2

It'

[2020-06-30 07:48] MarcusBiel commented on #10361
@sberyozkin @emmanuelbernard

[2020-06-30 07:48] MarcusBiel commented on #10362
@sberyozkin @emmanuelbernard

[2020-06-30 07:48] MarcusBiel commented on #10363
@sberyozkin @emmanuelbernard

[2020-06-30 07:49] MarcusBiel commented on #2231
Done.
https://github.com/quarkusio/quarkus/issues/10361
https://github.com/quarkusio/quarkus/issues/10362
https://github.com/quarkusio/quarkus/issues/10363

[2020-06-30 07:57] MarcusBiel opened #10364 "Explain how to configure embedded authentication for integration testing"
Would be great if you could extend the documentation so that it explains
how to set up an introspect endpoint of an OAuth2 server via Wiremock, as
seen here:
https://github.com/quarkusio/quarkus/blob/master/integration-tests/elytron-security-oauth2/src/test/java/io/quarkus/it/elytron/oauth2/ElytronOauth2ExtensionResourceTestCase.java

@loicmathieu

[2020-06-30 08:01] albert0815 commented on #10363
We are also struggeling with implementing integration tests using Quarkus tests. We are currently using our central Keycloak instance to generate a token and then test the endpoint which is from my point of view not useful as part of maven integration tests. Actually I would like to avoid generating a token and somehow mock the authentication. But we didn't find a solution for this. In the quarkus

[2020-06-30 08:04] #10259 closed

[2020-06-30 08:24] adutra commented on #9183
I had the fix yesterday and forgot to push :-D

[2020-06-30 08:29] iocanel opened #10366 "Expand kubernetes-clinet support to include all knwon extensions"
**Description**
At the moment we do provide support for the kubernetes-client. The support doesn't include `openshift`, `knative` & `tekton` extensions. It would be great if we had support for these too.

- [ ] Openshift
- [ ] Knative
- [ ] Tekton

[2020-06-30 08:32] emmanuelbernard commented on #10362
So so I guess it's related to #10361 you tried to use `@PermitAll` for that. Maybe the doc improvement can segway the two points of clarifying Permit all and the section about a unauthenticated subpath

[2020-06-30 08:35] emmanuelbernard commented on #10363
One option @sberyozkin could be to repurpose https://quarkus.io/guides/security so be a landing page for everything security. It would explain at high level the various options and then point to the specific guide. Thoughts?

[2020-06-30 08:41] #10339 closed

[2020-06-30 08:51] DorianMaliszewski commented on #7414
Sry forget to answer,

I used a claim in the token to bound it, you can store what you want, like the "jti", the "sub" which can be a god solution.

IMO if you use multiple OIDC server it's better to use the "jti" field. @pedroigor what do you think about that ?

[2020-06-30 08:53] sbeigel commented on #10339
perfect, thanks! Any chance to get this fix included in the upcoming 1.6.0?

[2020-06-30 08:57] geoand commented on #10339
I think it should be backported, WDYT @FroMage ?

[2020-06-30 09:00] jdarosTD commented on #10350
@geoand Your responsiveness couldn't be faster :) Thanks

[2020-06-30 09:03] geoand commented on #10350
You are welcome!

[2020-06-30 09:17] FroMage commented on #10319
Yeah, the way we handle them is not by replacing the body of the method with the text of the query, but just passing it on to ORM, which doesn't support that.

Now, granted, in some cases we could actually make this work by using the named query text itself and applying the same transformation we do for regular queries to be able to count them.

@loicmathieu since you did the named queries, would

[2020-06-30 09:43] MarcusBiel commented on #10362
Sure

[2020-06-30 09:44] sberyozkin commented on #10363
@emmanuelbernard, Hi,

Does make sense. I'l take care of it once I finish some pending PRs.

In meantime, @MarcusBiel, here is a short summary:
1. https://quarkus.io/guides/security-openid-connect : Bearer token, JWT or opaque (from 1.6.0), is supplied with HTTP `Authorization`
2. https://quarkus.io/guides/security-openid-connect-web-authentication : OIDC Authorization Code Flow, service gets both

[2020-06-30 10:44] loicmathieu commented on #10364
Thanks to report it. I'll take care of it.

[2020-06-30 10:47] limadelrey commented on #4172
@sirAlexanderT Regarding OpenAPI & Swagger UI, there's a second issue that's been already addressed by Quarkus team: https://github.com/quarkusio/quarkus/issues/4200.

Is your problem about the usage of environment variables as properties?

[2020-06-30 10:48] loicmathieu commented on #10319
I can have a look.

Another implementation would be to offer the user a way to pass it's own countQuery, but this will defeat the simplicity of Panache regarding the `count()` method.

[2020-06-30 10:53] mkouba commented on #10159
I think that JAX-RS providers do support injection. If you look at the stack trace it seems that ArC fails to create a bean instance of `org.acme.messaging.filter.RequestFilter` because of:
[code]
We need to find out why there are no emmiters registered...

[2020-06-30 11:16] mkouba commented on #10159
So I think that the problem is that JAX-RS filters are instantiated before `io.quarkus.smallrye.reactivemessaging.deployment.SmallRyeReactiveMessagingProcessor.build()` registers the emitters.

A workaround could be to change the scope of `org.acme.messaging.controller.MessageSender` from `@Dependent` to `@ApplicationScoped` (so that it's instantiated lazily, when first needed).

Another workaroun

[2020-06-30 11:57] #10350 closed

[2020-06-30 12:18] #10301 closed

[2020-06-30 12:18] maxandersen opened #10367 "Support for Mandrel"
### Description
Mandrel should be usable with Quarkus since Mandrel is more or less a dropin replacement of graalvm ce we don't expect much conflicts but there are a few things to ensure.

- [ ] check mandrel will jjust work by setting GRAALVM_HOME to root of mandrel based jdk
- [ ] have the debug features of graalvm/mandrel exposed as a flag
- [ ] have a way to use mandrel when doing quarkus nati

[2020-06-30 12:43] andrebreves commented on #6293
Great news @aguibert!

Will the compatible JDBC driver be available [in the IBM page](https://www.ibm.com/support/pages/db2-jdbc-driver-versions-and-downloads) when released?

[2020-06-30 12:59] emmanuelbernard commented on #5413
This is fixed AFAIK

[2020-06-30 12:59] #5413 closed

[2020-06-30 13:05] emmanuelbernard commented on #10162
@cescoffier can you CC Arthur so he can put some progress as he finds stuff on the native image compilation for Kotlin co-routines

[2020-06-30 13:09] emmanuelbernard commented on #10162
Does it make any conceptual sense that Vert.x has a Kotlin API generator, and whether we should extend this for Quarkus @cescoffier

[2020-06-30 13:11] emmanuelbernard commented on #5807
Let's close this one as it's a duplicate of  #5776

[2020-06-30 13:17] #8753 closed

[2020-06-30 13:19] emmanuelbernard commented on #10043
@gsmet can I assign it to 1.6?

[2020-06-30 13:31] emmanuelbernard commented on #4394
This should be fixed now with the panache kotlin extension. Closing it

[2020-06-30 13:31] #4394 closed

[2020-06-30 13:35] emmanuelbernard commented on #2811
An idea from @aloubyansky is that we could look at Gradle list of tasks and run the compile one (instead of compiling ourselves)

[2020-06-30 13:36] Postremus opened #10371 "1.6.0.CR1 - Random Classloading Problems"
**Describe the bug**
I have a rather big project running in quarkus 1.5.2.Final without problems.
This project has about 130 modules.

Today, I tried out if there are any regressions with quarkus 1.6.
The project does not start any more in dev mode. It works fine when run as jar (in docker).

Problem looks related to classes being loaded multiple times by different instances of the classloader.
In

[2020-06-30 13:51] emmanuelbernard opened #10373 "Fix the known issues with Hot Reload and Kotlin"

[2020-06-30 14:02] evanchooly opened #10374 "Analysis on coroutines and graalvm"
**Description**
What's unknown is how much work is needed to enable coroutines on graalvm.  Work is being done inside the vert.x project which might prove instructional and jetbrains will likely have information as well.  This task is to gather what's known and try to gauge how much time we need to make this work inside quarkus.

**Implementation ideas**
(If you have any implementation ideas, they

[2020-06-30 14:03] evanchooly commented on #2811
jotting down notes:

when the dev plugins are launched from the build tool, context could be gathered and passed in to the plugin which can (hopefully) generically apply that context upon each rebuild/reload.  this change would apply to both maven and gradle builds.

[2020-06-30 14:15] mkouba opened #10376 "Qute - consider custom template locators when validating injected templates"
See https://groups.google.com/g/quarkus-dev/c/q5kaomkjMWA.

[2020-06-30 14:15] Akejelu-Nelu commented on #1632
This issue still persists. Any idea what the fix is?

[2020-06-30 14:26] mkouba commented on #1632
I think that this is a low priority issue. The fix would involve a lot of bytecode transformation which is rather expensive in terms of performance. We would have to generate the missing getters (and instruct ArC to generate delegating methods on the client proxies because they're not visible in the jandex index) and transform all the classes that read the relevant fields and since we don't know w

[2020-06-30 14:28] evanchooly opened #10377 "Open up Kotlin classes and methods for use in quarkus"
### Description
By default kotlin classes and methods are final.  Many of the extensions in quarkus need elements to be non-final so they can be dynamically subclassed or proxied.  Apart from requiring the use of the standard `all-open` plugin from Kotlin, quarkus needs a way for an extension to express which elements need to be transparently opened up for use by the framework.  This epic will def

[2020-06-30 14:29] Akejelu-Nelu commented on #1632
Okay. Great 👍

[2020-06-30 14:33] zellerr commented on #10249
We have faced the same issue and used a utility class with a static method as a workaround for providing the authorization header.
Would be really cool if a fix for this came along so that we could use the default method instead :-)

[2020-06-30 14:39] radcortez commented on #1505
hey @jmartisk, did you work more on this? I'll be happy to help.

[2020-06-30 15:08] gsmet commented on #10043
Yes, it's going to be done as part of the 1.6 release process. I add the new guides when I sync the docs.

[2020-06-30 15:15] cescoffier commented on #10162
@Tas-Hur <-- That should be Arthur

[2020-06-30 15:17] gsmet commented on #10371
/cc @geoand @stuartwdouglas

[2020-06-30 15:22] GregJohnStewart opened #10378 "Qute throws very sparse exceptions"
Running Quarkus 1.6.0.CR1 with Gradle

I was recently tripped up by assuming that I could do the following to have a 'default' value for a parameter:

`{redirectTo}<default value>{/}`

I was, of course, was mistaken and needed: `{#insert redirectTo}/{/}`

But the error I got was just a simple null pointer exception, extremely unhelpful when trying to debug and find out what is causing issues. Curr

[2020-06-30 17:01] mmusgrov commented on #10180
I tried it using the latest master (building quarkus from a fresh git clone). The steps I tried were:

[code]

The output is "hello".

[1] shows how I updated the reproducer to use 999-SNAPSHOT. Will you describe the steps you used to demonstrate the problem with the current quarkus master branch.

[1]
15,16c15,16
<     <quarkus-plugin.version>1.5.2.Final</quarkus-plugin.version>
<     <quarkus.pl

[2020-06-30 17:26] KMUS commented on #10325
@jaikiran

The [log](https://github.com/quarkusio/quarkus/files/4853486/debug.txt), after starting the native application.
Hopefully this helps.

[2020-06-30 18:05] ymolists commented on #2143
I am having the same issue as well with intellij and gradle.

[2020-06-30 19:03] gsmet commented on #10371
@Postremus thanks for reporting. Looks like a nasty one but also probably something that will be hard to track.

If you end up finding a way to reproduce it, that would be very helpful.

In any case, I'm not entirely sure we will be able to fix that one for 1.6.0.

[2020-06-30 20:24] gunnarmorling opened #10386 "Generated manage.sh script not executable"
**Describe the bug**
When following the instructions in https://quarkus.io/guides/amazon-lambda#create-the-function, the generated manage.sh script is not executable.

**Expected behavior**
I can run the script.

**Actual behavior**
./target/manage.sh
zsh: permission denied: ./target/manage.sh

**To Reproduce**
Steps to reproduce the behavior:
Follow the guide

[2020-06-30 20:26] aloubyansky commented on #10371
@Postremus just in case, would you be able to test a custom branch of Quarkus repo to help debug the issue?

[2020-06-30 20:27] gunnarmorling commented on #10386
Slightly related: the invoke part of that script contains a call to _base64 -d_, which needs to be _base64 -D_ on macOS.

[2020-06-30 20:35] Postremus commented on #10371
@aloubyansky yes, I can test custom branches / revisions.

[2020-06-30 21:28] aloubyansky commented on #10371
I am wondering whether the regression was caused by commit `b39620b6c6f88475f55e831ff51649ed430cb1a9`. @Postremus could you please try the last commit before that one by `git checkout 2a6cd9b88b20cc68ba30462e4256a68be2f0c8b0`? And if that works then `git checkout b39620b6c6f88475f55e831ff51649ed430cb1a9` to see if it breaks it? Thanks a lot.

[2020-06-30 21:28] ejba commented on #10386
Hi, can I peek this one?

[2020-06-30 22:08] sherl0cks commented on #8479
@geoand I just hit this. It's a known issue https://github.com/oracle/graal/issues/2306. The workaround there worked for me, but with a tweak to resources.json. Probably needs a fix in `quarkus-kotlin` or a new `quarkus-kotlin-reflect` extension.

https://github.com/oracle/graal/issues/2306

[code]

[2020-06-30 22:22] sherl0cks commented on #8479
I got stuck on a jackson issue right after this so I cannot proceed further, but I'm curious how this one resolves.

[code]

[2020-06-30 22:51] batraz90 commented on #10323
I can't see how you've solved this issue. `öööööaaa` always returns `�����aaa` with multipart.

[2020-07-01 01:21] zhfeng commented on #10180
@mmusgrov I think you missed
* step 2 add the narayana-jta extension
* step 3 modify the GreetingResource.java to add the ```@Transactional```

yeah, ```curl http://localhost:8080/hello``` returns OK but you can find the exception in the console of ```./target/getting-started-1.0-SNAPSHOT-runner```

[2020-07-01 01:41] jaikiran commented on #10371
@Postremus What you can additionally do (to provide us some debug data) is pass the following when you launch the application in quarkus:dev mode:

[code]
I've intentionally redirected the output to a file since the output is going to be extremely large. Share the file with us (after you have managed to generate the classcast/classloading error).

[2020-07-01 01:45] jaikiran commented on #10386
For me, on macOS, it seems that command supports both (and does the same thing):

[code]

[2020-07-01 04:20] geoand commented on #8479
Thanks for the information @sherl0cks.

I think we can probably make the current quarkus-kotlin extension register the info automatically, shouldn't be hard.

@RotBolt would you perhaps like to take a look?

[2020-07-01 04:39] sherl0cks commented on #8479
Sounds good @geoand.

I'd really love some more info on the MyClass[] syntax. What is the name of this syntax? Why does Graal need it? Why does it not work with kotlin and @RegisterForReflection? One of the strangest things I've seen in my graal/quarkus journey...

[2020-07-01 04:52] geoand commented on #8479
I think it's just the array syntax written in a more readable form.
Can you try substituting `MyClass[]` with `[LMyClass`?

[2020-07-01 05:17] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/153641073

[2020-07-01 05:27] gunnarmorling commented on #10386
Interesting, seems they added this recently then. For me only -d is supported.

[code]

On the permission issue, the guide runs the commands via the `sh` command which circuments the issue. I still think it'd make sense to make that file executable.

[2020-07-01 05:30] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/153641000

[2020-07-01 05:37] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/153641548

[2020-07-01 05:40] geoand commented on #10174
#10368 is related to this

[2020-07-01 05:51] jimbogithub commented on #10143
I suspect the new issue in 1.6.0.CR1 might be related to https://github.com/quarkusio/quarkus/issues/10371 as we both appear to have ORM base classes in external modules.

[2020-07-01 06:18] Postremus commented on #10371
@aloubyansky dev mode works in both `b39620b6c6f88475f55e831ff51649ed430cb1a9` and `2a6cd9b88b20cc68ba30462e4256a68be2f0c8b0`.

@jaikiran Can I send you the log privatly trough zulip?

[2020-07-01 06:22] geoand commented on #10371
@Postremus two more commits to try if you could: 18f1ca2792940386cc50b0efa70c15c25d307505 and 4e58a7d08aa7e7fd168f5f63775ed22554ddfd7e

[2020-07-01 07:05] mkouba commented on #10378
That is a bug. Our parser does not handle the case where a section end tag `{/}` has no relevant section start tag.

Could you be more specific? We do try to produce helpful messages where possible. See for example our [ParserTest](https://github.com/quarkusio/quarkus/blob/master/independent-projects/qute/core/src/test/java/io/quarkus/qute/ParserTest.java). Of course, not all error use cases are c

[2020-07-01 07:07] ejba commented on #10323
@batraz90 Could you show us how are you performing the request?

[2020-07-01 07:17] knutwannheden opened #10390 "VaultConfigSource in quarkus-vault cannot be configured with properties requiring property expansion"
**Describe the bug**
The `VaultConfigSource` code doesn't use the `Config#getValue()` API to read its own config properties. Instead it uses `Config#getConfigSources()` and manually extracts the config values from these `ConfigSource`s. (Presumably this is because there would otherwise be an endless recursion which would have to be addressed.) As a consequence, however, the corresponding config pr

[2020-07-01 07:27] jaikiran commented on #10386
Perhaps better to use `--decode` then to avoid these version issues.

[2020-07-01 07:29] RotBolt commented on #8479
@geoand will look into this 👍

[2020-07-01 07:30] ejba commented on #10386
Do you want me include this change in the PR?

[2020-07-01 07:32] jaikiran commented on #10386
Better do it in a separate PR, IMO.

[2020-07-01 07:34] Postremus commented on #10371
@geoand @aloubyansky dev mode does not work with `18f1ca2792940386cc50b0efa70c15c25d307505`, same stacktrace.

Dev mode works in the commit directly before that, `c1d1ac896e`

[2020-07-01 07:39] geoand commented on #10371
@Postremus thanks a lot for that info, it's very helpful. If you could perform one final check so we can absolutely positive that it's that commi that causes the problem: Can you test the latest `master` with the addition of having that commit reverted?

@aloubyansky any idea why that might be happening with the commit in question?

[2020-07-01 07:40] jaikiran commented on #10371
I have been trying to avoid joining too many chat/email applications, so I'm not on Zulip, sorry. But if you are willing to send me that log over email, then my address is `jai.forum2013 at gmail.com`

[2020-07-01 08:09] Postremus commented on #10371
@geoand

I reverted the commit in question on master. Dev mode works.
See https://github.com/Postremus/quarkus/commit/07a19e01ecbb8affafff4c45acb2372e2cb39d12 for the revert.

[2020-07-01 08:22] gsmet commented on #10371
I just wanted to say good work everyone :).

[2020-07-01 08:29] geoand commented on #10371
Unable to actually see this in action, I personally can't really tell what the actual problem with that commit is. So I'll I have to offer is the suggestion to revert.

By just eyeballing I am inclined to think it might have to do with `constScanning`, but that's just a guess...

[2020-07-01 08:34] aloubyansky commented on #10371
I'll create a branch and push a commit to see if it fixes the issue. But I'm afk atm :(

[2020-07-01 08:43] aloubyansky commented on #10371
BTW, I had the same suspicion as @geoand

[2020-07-01 08:54] sberyozkin commented on #10390
CC @vsevel @radcortez (Roberto, may be you can suggest some latest config feature)

[2020-07-01 09:16] jaikiran commented on #9981
@jokergit Can you try this with `1.6.0.CR1` please? There was a similar issue that was reported which has been marked as fixed (due a recent RestEasy project version upgrade) in 1.6.0.CR1.

[2020-07-01 09:21] #10332 closed

[2020-07-01 09:21] #10260 closed

[2020-07-01 09:29] ia3andy commented on #5807
@emmanuelbernard I am re-opening this one, there is a clear distinction between handling existing projects that use Gradle with Kotlin DSL (https://github.com/quarkusio/quarkus/issues/5776#event-3497676659) and generating new Quarkus project using Gradle with Kotlin DSL as a buildtool option (this one).

[2020-07-01 09:32] ia3andy commented on #5807
This option will be easy to implement when https://github.com/quarkusio/quarkus/pull/1037 gets merged

[2020-07-01 09:37] ia3andy commented on #5807
We would just need create a new Gradle buildtool Codestart strongly inspired by the Gradle one: https://github.com/ia3andy/quarkus/tree/codestarts-v0/devtools/platform-descriptor-json/src/main/resources/codestarts/base/buildtool/gradle

[2020-07-01 09:54] #10187 closed

[2020-07-01 10:24] radcortez commented on #10390
Yes, we just added a feature in SmallRye Config that allows a ConfigSource to configure itself:
https://smallrye.io/docs/smallrye-config/config-sources/config-sources.html

https://github.com/smallrye/smallrye-config/blob/master/implementation/src/main/java/io/smallrye/config/ConfigSourceFactory.java

This allows you to create the `ConfigSource` and access a `ConfigSourceContext` object that has a

[2020-07-01 10:24] radcortez commented on #10390
This is not released yet, so we may need a few more days to release and update Quarkus.

[2020-07-01 10:45] mkouba opened #10397 "Reactive routes - make the RoutingContext param optional for non-void method return type"
It would be also useful to support `HttpServerRequest` and `HttpServerResponse` params.

[2020-07-01 10:46] #10378 closed

[2020-07-01 10:48] #9792 closed

[2020-07-01 10:53] ctron opened #10399 "Field jaeger.version is empty when using quarkus-jaeger"
**Describe the bug**
(Describe the problem clearly and concisely.)

The field `jaeger.version` is empty.

**Expected behavior**

The field should contain the version of the Jaeger tracing library.

**Actual behavior**

The field value is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Using qauarkus-jaeger
2.
3.

**Screenshots**

![image](https://user-images.githubusercontent.com/2024

[2020-07-01 10:57] maxandersen opened #10400 "support azure app config similar to other config stores"
**Description**
support azure config similar to spring cloud config and other config stores

https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview

[2020-07-01 11:07] batraz90 commented on #10323
Actually it's a simple HTML form:
[code]
but I haven't been able to make it work with Curl or any other Rest Client either.

[2020-07-01 11:12] geoand commented on #10399
cc @pavolloffay

[2020-07-01 11:19] pavolloffay commented on #10399
This should be set to the version of the Jaeger client library.

[2020-07-01 11:26] geoand commented on #10399
Shouldn't that be done automatically?

[2020-07-01 11:30] glefloch commented on #9829
Following the quarkus guide, I'm able to get the `quarkusDev` running, here is what I have done:  https://github.com/glefloch/quarkus-amazon-lambda-gradle
can you try with it?

[2020-07-01 11:34] knutwannheden commented on #10390
That sounds interesting. Certainly something we could also use in a custom `ConfigSource` implementation in our project.

[2020-07-01 11:36] sberyozkin commented on #10390
@radcortez Super

[2020-07-01 11:40] Tas-Hur commented on #10162
Hi, I checked out the fix that allows the compiler to solve issues with irreducible loops : https://github.com/oracle/graal/commit/4662877b8ce214528f09553f21776ab97e97c1a8
It is actually quite simple, to avoid multiple entry points in a loop only one entry point is kept and the other ones are replaced with a copy of the code contained inside the loop. However the compiler has a policy about the nu

[2020-07-01 11:41] ctron opened #10402 "RemoteControlledSampler fails with "No strategy present in response. Not updating sampler." in native mode"
**Describe the bug**

When using Jaeger tracing by adding: `io.quarkus:quarkus-jaeger`, tracing seems to work, but a periodic error message is in the log, when using native mode.

I assume that updating the strategy is broken as well.

**Expected behavior**

Same as JVM mode: No error message. Update works.

**Actual behavior**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Enable t

[2020-07-01 11:45] galderz commented on #10309
This is a GraalVM issue, not a Quarkus one. Closing this, I'll open an issue in GraalVM shortly.

[2020-07-01 11:45] #10309 closed

[2020-07-01 11:55] mkouba commented on #10203
@pcasaes @McIntozh does the aforementioned PR fix your problem?

[2020-07-01 12:01] pavolloffay commented on #10399
it should, there is bug in jaeger client or quarkus.

[2020-07-01 12:02] aloubyansky commented on #10143
I confirm I can reproduce it. Fixing it now.

[2020-07-01 12:07] survivant opened #10403 "URL reencoded cause problems when calling Prometheus"
Quarkus 1.5.2.Final

I'm trying to call Prometheus to find my applications metrics

I have to make that call :  http://localhost:9090/api/v1/query?query={__name__=~".*lastTimestampScrapped"}

but so far, I always get this URL generated :

[code]

I should receive this:
[code]

I try with the code bellow (I added @Encoded.. but didn't change anything)

[code]

and the call that I use :

[code]
I tr

[2020-07-01 12:14] geoand commented on #10399
Do you plan to look into it @pavolloffay ?

[2020-07-01 12:15] ctron commented on #10399
I think this is the root cause: https://github.com/quarkusio/quarkus/blob/688ee16b0641ac60239c0c7970ce23b6cbff35ff/extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/graal/Target_JaegerTracer.java#L1-L14

[2020-07-01 12:16] geoand commented on #10399
@ctron oh... so this happens only in native mode?

[2020-07-01 12:18] pavolloffay commented on #10399
`io.jaegertracing.client.Version.get()` returns correct version for Jaeger 0.34.0 that is used in Quarkus.

The version is obtained from properties file https://github.com/jaegertracing/jaeger-client-java/blob/release-0.34/jaeger-core/src/main/java/io/jaegertracing/internal/JaegerTracer.java#L672. The prop file should be in the jar. Can this cause any problems in Quarkus?

[2020-07-01 12:21] geoand commented on #10399
Based on what @ctron posted, I am assuming the problem only occurs in native mode and that JVM mode works fine.

Let me come up with a real quick fix for this so we can get it in 1.6

[2020-07-01 12:24] knutwannheden commented on #5876
This appears to be related to #2835 since examples like `@PersistenceContext(unitName = "PU_TEST")` hint at the use of multiple persistence units.

[2020-07-01 12:26] knutwannheden commented on #5876
According to the [documentation](https://quarkus.io/guides/hibernate-orm) a plain `@Inject EntityManager entityManager` should work without reservations. Does that indeed result in a warning in Quarkus?

[2020-07-01 12:26] #10386 closed

[2020-07-01 12:32] geoand commented on #10399
I have a fix, let me just write a quick test so we can be sure this doesn't break in the future

[2020-07-01 12:33] knutwannheden commented on #5876
AFAICT the logic in `HibernateOrmProcessor#registerBeans()` should already make sure a provider gets registered so that the `EntityManager` and `EntityManagerFactory` can be injected without further qualifiers. So I think this issue can probably be closed.

https://github.com/quarkusio/quarkus/blob/1aa389074b1cc5eaceb007ce83eef4c4e86c0e77/extensions/hibernate-orm/deployment/src/main/java/io/quarku

[2020-07-01 12:33] gregor-msg opened #10404 "Add option to configure hibernate.hbm2ddl.auto"
**Description**
I would like to use _Envers_ with Quarkus with ability to automatically create audit tables but am unable to set `hibernate.hbm2ddl.auto` property.

**Implementation ideas**
Please add an option to configure `hibernate.hbm2ddl.auto` from quarkus properties.

[2020-07-01 12:35] geoand commented on #10399
#10405 should fix the issue

[2020-07-01 12:44] sebthom opened #10406 "Specifying ignoredEntries for quarkus-maven-plugin has no effect"
**Describe the bug**
Specifying `<ignoredEntries><ignoredEntry>` settings in quarkus-maven-plugin maven configuration has no effect.
The resulting uberJar still contains all files that are marked for exclusion.

**Expected behavior**
Specified exclusions are processed and the listed files are excluded from the uberJar.

**Actual behavior**
Files matching specified exclusions are excluded from resu

[2020-07-01 12:48] ctron opened #10407 "Unable to disable IPv6, blocks vert.x even loop"
**Describe the bug**

If IPv6 is not available, it should not be used. And there should be a switch enforce disabling IPv6.

**Expected behavior**

**Actual behavior**

It blocks the vert.x event loop:

[code]

<details>
<summary>Full stack trace</summary>

[code]

</details>

**To Reproduce**
Steps to reproduce the behavior:
1. Run inside kubernetes (with no IPv6)
2. Resolve hostname with vert.x

[2020-07-01 13:08] Sanne commented on #10404
Hi @gregor-msg , is this what you're looking for? `quarkus.hibernate-orm.database.generation`

Sorry not all properties have the same name; we do it intentionally as:

 - we don't want to expose all existing configuration properties
 - in some cases the semantics will be slightly different, so to set the expectations right and make sure you read the correctly related documentation rather than infe

[2020-07-01 13:11] emmanuelbernard opened #10409 "Startup and memory performance hunt"
**Description**

The idea is to get a general performance hunt, especially in startup and memory usage.
Since we tend to add features, it's good to set up some tasks to hunt down some work to move things to build time etc.

It's inspired by one of @Sanne 's comment

[2020-07-01 13:19] gregor-msg commented on #10404
Hi @Sanne, thank you for your quick response. No, the one you're mentioning gets mapped to `HBM2DDL_DATABASE_ACTION` (`"javax.persistence.schema-generation.database.action"`) (see HibernateOrmProcessor.java). The one I'm referring to should get mapped to `HBM2DDL_AUTO` (`"hibernate.hbm2ddl.auto"`). See also: https://github.com/hibernate/hibernate-orm/blob/master/hibernate-core/src/main/java/org/hi

[2020-07-01 13:26] emmanuelbernard commented on #9593
Will this one be in 1.6 int he end? Or more 1.7?

[2020-07-01 13:33] ctron commented on #10399
Indeed, sorry. I forgot to mention that.

[2020-07-01 13:34] geoand commented on #10399
No worries, I found out easily via testing.

[2020-07-01 13:35] aloubyansky commented on #10406
Here is a consequence of adding a feature w/o any test. https://github.com/quarkusio/quarkus/commit/bf26eb84626e634fe98e958a4105d09633c61a6f#diff-fc5bfcac2e033b00de4f2bfe6b02a1ac

[2020-07-01 13:37] stefanorg commented on #4453
:100: :+1:

[2020-07-01 13:55] Kondamon commented on #10323
I didn't use a html form. But you need to specify the content-type of your `message` input. I guess, it could be done with this code `<form action="http://localhost:8080/multi" enctype="multipart/form-data" method="POST" accept-charset="utf-8">`.

[2020-07-01 14:00] batraz90 commented on #10323
I've tried that. Doesn't work.

[2020-07-01 14:01] Sanne commented on #10404
Sure, one is the property defined by the JPA spec, the other is the one that Hibernate had before this was included in JPA.

But in most cases you only need one of them - what are you missing specifically?

[2020-07-01 14:08] sebthom commented on #10406
This looks like the commit that broke the feature: https://github.com/quarkusio/quarkus/commit/0d3335d47a2fdb31f5e387b31d4bd68de03612da#diff-fc5bfcac2e033b00de4f2bfe6b02a1ac

[2020-07-01 14:12] #9883 closed

[2020-07-01 14:12] #10203 closed

[2020-07-01 14:12] sebersole commented on #5101
@gastaldi I tried cloning this and playing with it but it will not build for me:

[code]

You expecting that?

[2020-07-01 14:25] gastaldi commented on #9593
The original idea is to be in 1.6 AFAIK

[2020-07-01 14:31] survivant opened #10410 "@QuarkusTest launch from Intellij produce : java.lang.IllegalArgumentException: Unsupported api 524288"
Quarkus 1.5.2.Final

If I run   :  mvn clean package

there is no problems.

but if in IntelliJ :

IntelliJ IDEA 2020.1.2 (Ultimate Edition)
Build #IU-201.7846.76, built on May 31, 2020
Runtime version: 11.0.7+10-b765.53 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0
GC: ParNew, ConcurrentMarkSweep
Memory: 4029M
Cores: 8
Non-Bundled Plugins: Lombook Plugin, org.jetbrains.pl

[2020-07-01 14:34] survivant commented on #10410
That code works from IntelliJ

import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import org.apache.commons.io.FileUtils;
import org.junit.Test;

import java.io.File;

public class PrometheusAlertsTest {

    @Test
    public void testReadAlertsTest() throws Exception {
        String filename = PrometheusAlertsTest.class.getResource("/alerts.json")

[2020-07-01 14:34] gastaldi commented on #5101
@sebersole that project is really old and the changes were already integrated in the quarkus core codebase. I'll delete that repository and I'd recommend you to use the Gradle project from https://code.quarkus.io/

[2020-07-01 14:42] jaikiran commented on #10407
Keeping aside Quarkus, I can't seem to get this working in a basic helloworld of Graal native image. It works in 19.3.0 but seems to be broken starting 19.3.1 and even the recent 20.x series. I'll take a look if this is expected/intentional or a bug, before reporting it to Graal team.

[2020-07-01 15:11] gastaldi commented on #10406
Apparently they are no longer specified in the plugin, but in the application.properties:
https://github.com/quarkusio/quarkus/blob/41b3c45375811c8823e6dc0ed7ee67a549c47b9e/core/deployment/src/main/java/io/quarkus/deployment/pkg/PackageConfig.java#L58-L62

I tried adding these to the `application.properties` but it still didn't work:

[code]

I'm investigating it

[2020-07-01 15:15] sebthom commented on #10406
Probably `quarkus.package.user-configured-ignored-entries` is processed before the uberJar is created. I am looking for a way to get rid of unnecessary files from the uberJar that come from maven dependencies.

[2020-07-01 15:23] ejba commented on #10323
I tried [two ways](https://tools.ietf.org/html/rfc7578#page-7) to specify a charset in a HTML `form` and none worked out.

[2020-07-01 15:49] famod opened #10411 "Devmode, Liquibase: Changelog file is found twice if located in another Maven module"
**Describe the bug**
Application startup fails in Devmode if I try to auto-migrate with a changelog file that comes from another Maven module because Liquibase finds it two times on the classpath (once in the jar and once from the module `target`).

**Expected behavior**
No failure. In Devmode, the one from `target` should be used, IMHO.

**Actual behavior**
[code]

**To Reproduce**
Steps to repro

[2020-07-01 15:50] famod commented on #10411
cc @tkalmar @harthorst (team members)

[2020-07-01 15:56] famod commented on #9275
@nelsongraca You mean this branch of your fork? https://github.com/nelsongraca/quarkus/tree/feature-move-hibernate-properties-runtime

I am not familiar with hibernate-reactive but if you'd try to summarize the problem then maybe @Sanne could help.

[2020-07-01 15:57] famod commented on #10404
@gregor-msg Just a heads up: Dont' try to use `-Dquarkus.hibernate-orm.database.generation=...` (no a "runtime" property): https://github.com/quarkusio/quarkus/issues/2933#issuecomment-641550852

[2020-07-01 16:03] geoand commented on #10411
This seems like the gift that keeps on giving...

[2020-07-01 16:04] #10364 closed

[2020-07-01 16:11] sberyozkin opened #10412 "Add OIDC integration tests which use WireMockServer"
Add a dedicated `integration-tests/oidc-mock` module which will use `WireMockServer` (similarly to the way it is shown in #10396) which will mock the following endpoints:
Bearer tokens and code flow:

- discovery
- jwks
- introspection

CodeFlow only

- token
- authorization (can be tricky as it will have to return html form challenge)

Starting from the bearer token case will be good

[2020-07-01 16:11] geoand commented on #10411
I'll take a look tomorrow if no one else does before then

[2020-07-01 16:12] famod commented on #10411
For this case there is a German saying that would go something like: After the bug is before the bug. 😄

Might be a stupid idea, but I am wondering whether devmode should (in general) try to filter out resources from jars in case they are "mappable" to `target` paths.

[2020-07-01 16:15] geoand commented on #10411
Not sure TBH, I need to look into this and see what is causing it.
Ideally dev mode should behave exactly the same as prod jar mode.

[2020-07-01 16:27] famod commented on #10411
This is the clash from out internal project (obfuscated):
[code]

[2020-07-01 16:29] geoand commented on #10411
Thanks

[2020-07-01 16:30] famod commented on #10411
And this is where both are found: https://github.com/liquibase/liquibase/blob/v3.8.9/liquibase-core/src/main/java/liquibase/util/StreamUtil.java#L186

[2020-07-01 16:31] Sanne commented on #9275
Hi, sorry I missed the question regarding `Hibernate Reactive`: there should be no changes necessary specific for this module, the new extension inherits the metadata generation from the "classic" Hibernate ORM extension.

Unless you introduced new configuration properties? These might need to be applied separately.

[2020-07-01 16:56] pcasaes commented on #10203
Being able to SKIP is very much what I was looking for. Thank you!

[2020-07-01 17:03] famod commented on #10411
I forgot to mention that we are using a custom `@Observes StartupEvent` bean that uses `io.quarkus.liquibase.LiquibaseFactory` but then executes each found changelog file in a separate Liquibase run (because we need separate `databaseChangeLogTableNames`).

In this context we already use a `liquibase.resource.ClassLoaderResourceAccessor` to find the files upfront and since we just use the TCCL, we

[2020-07-01 17:12] geoand commented on #10411
What I describe next is basically for @aloubyansky.

This problem occurs because the Quarkus Runtime Classloader loads the resource from the path (as the `changelog` module seems to be an additional application archive), then delegates to its parent (Quarkus Base Runtime Classloader) which in turn picks up the resource from the jar because it's not the classpath.

So the question is: Should the ja

[2020-07-01 17:48] #10399 closed

[2020-07-01 17:49] #6293 closed

[2020-07-01 17:58] aguibert commented on #6293
@andrebreves the DB2 JDBC extension is now merged in, and will be a part of the next release of Quarkus.
The required driver is being uploaded to fix central, but the easier place to get it is from [Maven Central](https://repo1.maven.org/maven2/com/ibm/db2/jcc/11.5.4.0/) or if you just enable the new `quarkus-jdbc-db2` extension it will be pulled in automatically from Maven Central.

[2020-07-01 18:22] 362228416 opened #10414 "PanacheEntityBase.delete can't remove data"
**Describe the bug**
(Describe the problem clearly and concisely.)

[code]
[code]
[code]

I have such a method that I want to delete the old data before adding new data. The console output has deleted SQL and deleted rows, but in fact the database record is not deleted, just added

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
delete the old data before adding new d

[2020-07-01 18:53] famod commented on #10371
This revert seems to **fix at least one more problem**:
In context of [my CXF ClassCastException problem I posted on Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/ClassCastException.20in.20dev.20mode.20but.20not.20with.20runner-jar), I also tried out 1.6.0.CR1 just to face another problem: missing no-arg constructors in some CDI beans. Normally Quarkus should auto-genera

[2020-07-01 18:59] famod commented on #10411
Could this duplication also explain the CCE i am seeing here?
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/ClassCastException.20in.20dev.20mode.20but.20not.20with.20runner-jar
Or is this just about resources (not java sources)?

[2020-07-01 19:02] geoand commented on #10371
I kinda makes sense if the transformer handling breaks (no-args constructors are in some cases added via a transformation)

[2020-07-01 19:05] geoand commented on #10411
Not sure about that one, haven't checked.  But my *guess* would be that it's unrelated

[2020-07-01 19:18] #9842 closed

[2020-07-01 19:24] aloubyansky commented on #10411
@geoand are you saying the local module appears on the cp as a jar and as a classes dir?

[2020-07-01 19:27] sherl0cks commented on #8479
This seems to be the info on syntax. Why it doesn't work in @registerForReflection is still a mystery to me: https://stackoverflow.com/questions/41207060/how-to-get-a-kclass-of-array

[2020-07-01 19:40] geoand commented on #10411
Yes exactly

[2020-07-01 19:48] obbyK commented on #10340
Confirmed it is a `resteasy` implementation. Opted to throw a custom `webapplicationexception` with code 404.

[2020-07-01 19:48] #10340 closed

[2020-07-01 20:30] gastaldi commented on #10406
@sebthom I might have fixed this in: https://github.com/quarkusio/quarkus/pull/10415

Can you give it a try?

[2020-07-01 20:38] aloubyansky commented on #10411
Yes. Is there a reproducer?

[2020-07-01 20:43] geoand commented on #10411
Yup, it's mentioned in the description of the issue: https://github.com/famod/quarkus-liquibase-dup

[2020-07-01 20:53] aloubyansky commented on #10411
Ok, thanks. Just to clarify, were you going to fix it @geoand ? Or do you want me to take care of that?

[2020-07-01 20:56] geoand commented on #10411
I'll look at it in morning and let you know if I need help.

[2020-07-01 21:03] Kondamon commented on #10323
I have used a [framework](https://alamofire.github.io/Alamofire/Classes/MultipartFormData.html#/s:9Alamofire17MultipartFormDataC6append_8withName04fileG08mimeTypey10Foundation0D0V_S2SSgAKtF) that uses [RFC2388](https://www.ietf.org/rfc/rfc2388.txt) and [RFC2045](https://www.ietf.org/rfc/rfc2045.txt). Each bodyPart of the MultipartForm has it's own header. For setting UTF-8 just for the `content` f

[2020-07-01 21:10] #10143 closed

[2020-07-01 21:36] aloubyansky commented on #10411
I'd like to get https://github.com/quarkusio/quarkus/pull/9919 in first though to avoid rebasing it again.

[2020-07-01 21:44] heri333 commented on #9829
Yes, I can run your example successfully. But my own more complex sample project still fails with 1.5.2.Final: https://github.com/heri333/quarkus-lambda

[2020-07-01 23:02] DaveO-Home commented on #3886
@jaikiran The refresh seems to be working when I set the quarkus property:

quarkus.vertx.caching=false

It's interesting that this does not work...

staticHandler.setCachingEnabled(false);

[2020-07-01 23:19] batraz90 commented on #10323
Which means it doesn't work with a regular multipart/form-data form ?

[2020-07-02 04:22] gastaldi commented on #10285
I used `1.6.0.CR1` in the screenshot. I'll close this issue for now, please reopen with a reproducer project if the problem persists

[2020-07-02 04:22] #10285 closed

[2020-07-02 05:08] jimbogithub commented on #10143
@aloubyansky Not sure if it's useful info, but I tested for the second 1.6.0.CR1 specific ClassLoader issue that I thought might be related to #10371 and found that it goes away if I remove the test dependencies.  So it shows it is/was also related to this issue in my case.  Will check both with your fix when available.

[2020-07-02 05:19] fmcejudo commented on #8834
Build fixed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/154932637

[2020-07-02 05:22] geoand commented on #10411
Sure thing

[2020-07-02 05:25] #4996 closed

[2020-07-02 05:38] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/154932775

[2020-07-02 05:39] geoand commented on #8694
@mariofusco @evacchi the build is still failing, can you please take a look?

[2020-07-02 05:51] stuartwdouglas commented on #10330
For HTTP you should be able to include a HttpAuthenticationMechanism (with a CDI scope) in src/test/java and this will be used by the tests to authenticate. If you just make this return a mock user then you can get the same result.

[2020-07-02 05:52] stuartwdouglas commented on #10330
We could also add some kind of simple way to do this automatically, like an @TestUser annotation that controls the user the test runs under.

[2020-07-02 06:06] gregor-msg commented on #10404
Turns out I was consulting some old Envers tutorial (hence `hibernate.hbm2ddl.auto`) [1]. After annotating classes (I was using `@Audited` only on fields as per the tutorial) the audit DB tables get automatically generated when using `quarkus.hibernate-orm.database.generation=drop-and-create`.

[1] @Sanne thank you for the historical insight. :)

[2020-07-02 06:06] #10404 closed

[2020-07-02 06:18] aimanph23 opened #10420 "Caffeine error at runtime when using native build"
**Describe the bug**
[code]

**Expected behavior**
Should be working in Native build

**Actual behavior**
Only works on JVM build and local dev.
Build native is successful, but at runtime it triggers an error

**To Reproduce**
Steps to reproduce the behavior:
1. Error when a code is hit with caffeine implementation at runtime
2. No problem with JVM build and local dev runtime

**Environment (pleas

[2020-07-02 06:57] McIntozh commented on #9883
I haven't had time to test this, but on first sight it looks like what I wanted :)

[2020-07-02 07:07] #10414 closed

[2020-07-02 07:18] mariofusco commented on #8694
@geoand I ran our hot reload tests against latest quarkus snapshot and they all fail with the following message. Any hint on what could be going wrong?

[code]

[2020-07-02 07:20] geoand commented on #8694
I don't, but I'm about to look into it

[2020-07-02 07:35] ejba commented on #10323
@batraz90 the problem is the browser don't set the `content-type` for each body part like @Kondamon did with Alamofire lib. There's a thread in the quarkus-dev ML to discuss the possibility to allow configure default charset when not specify or have a better default charset as UTF-8.

[2020-07-02 07:44] mariofusco commented on #8694
@geoand I'm pretty sure that the problem has been caused by this https://github.com/quarkusio/quarkus/commit/7a64dcd4d36afc8d59a0c4fe75a68152eddfdca8#

Do you agree? Should we import some specific logging impl?

[2020-07-02 07:45] geoand commented on #8694
@mariofusco here you go: https://github.com/kiegroup/kogito-runtimes/pull/600

[2020-07-02 07:45] geoand commented on #8694
Yes, exactly

[2020-07-02 07:47] geoand commented on #10420
cc @gwenneg

[2020-07-02 07:49] mariofusco commented on #8694
yep, I confirm this fixed the problem, thanks a lot :)

[2020-07-02 07:51] geoand commented on #8694
You are welcome! And sorry we broke things on your side :(

[2020-07-02 07:55] evacchi commented on #8694
it would be helpful if it were possible to throw a self-explanatory message in case of bad config like: "You appear to have mis-configured your logger: please read https://quarkus.io/guides/logging#how-to-configure-logging-for-quarkustest". Thanks for helping @geoand !

[2020-07-02 08:05] geoand commented on #8694
@evacchi Yeah, that would indeed be useful!

[2020-07-02 08:07] Sanne commented on #10404
great, thanks @gregor-msg

[2020-07-02 08:16] jdvega-tuenti-com commented on #10298
I have another use case for this, it would be nice to also exclude the same folders than are exclude on a production build. For example, I don't need to quarkus dev watches for changes on my `node_modules` folder, which makes it crash.

[code]

[2020-07-02 08:48] zhfeng commented on #10180
@mmusgrov It seems that the reproducer just prints the WARN message and will not throw the exception to fail the processing.

[2020-07-02 09:39] Sanne commented on #9464
Hi @rvansa , we could add this, I suppose we could accept a list of resource names (comma separated?) to then import them all sequentially.

But this would be very similar to you just pasting it all in one script, did you consider that?

Also I'm wondering if you shouldn't use one of the Flyway or Liquibase extensions. In general, the Hibernate implementation of `sql-load-script` is meant to be th

[2020-07-02 09:44] Sanne commented on #9464
Have a look at this integration test, it's using both Flyway and ORM, and as you can see setting up the integration is almost zero effort (code would be even simpler if it didn't have to test the migrations):
 - https://github.com/quarkusio/quarkus/tree/33b7c30da6239fb3c4407532c8bdecd8e5c7cebb/integration-tests/flyway

But let me know if I'm missing something and if you still think we should add t

[2020-07-02 09:58] sberyozkin commented on #10330
@stuartwdouglas and may be @testroles...

[2020-07-02 10:31] lukaseder commented on #7440
Yes, jOOQ doesn't use proxies otherwise.

I'm not sure if this is something we should invest a lot of time in on the jOOQ side. Most people who use record mapping will use ordinary "POJOs", perhaps with Lombok annotations, or even better: JEP 359 / 384 records.

The fact that we support proxies are more of a "because we can" feature.

[2020-07-02 11:09] manodupont opened #10427 "Quarkus Oauth2 quarkus.oauth2.enabled doesn't seem to work"
**Describe the bug**
Setting this ```quarkus.oauth2.enabled=false```  doesnt "disable" the oauth2 features. I need to comment out my annotations about "@RolesAllowed" to disable oauth verification.

**Expected behavior**
Setting this ```quarkus.oauth2.enabled=false``` only, would make all security "checks" disabled so i don't need to comment out any other code lines.

**Actual behavior**
Setting t

[2020-07-02 11:28] survivant commented on #10410
I have no idea if this have a impact of the classpath.

I install Quarkus plugin and restarted IntelliJ

now the classpath is different and the test works

`"C:\Program Files\JetBrains\IntelliJ IDEA 2019.3.3\jbr\bin\java.exe" -ea -Djava.util.logging.manager=org.jboss.logmanager.LogManager "-Dmaven.home=C:\Program Files\JetBrains\IntelliJ IDEA 2019.3.3\plugins\maven\lib\maven3" -Didea.test.cyclic.b

[2020-07-02 11:50] ejba commented on #10427
Hi, can I try to fix this?

[2020-07-02 12:23] mrizzi commented on #3632
@jesuino for sure it will be late for you but I would like to share with you I faced the same need and created something working using multiple inheritance of behavior leveraging Java interfaces default methods.
My implementation in https://github.com/mrizzi/restop

Recently Quarkus provided a solution using "rest-data-panache" https://quarkus.io/guides/rest-data-panache to avoid the monotony of c

[2020-07-02 12:33] geoand commented on #10427
@manodupont `quarkus.oauth2.enabled` is a build time property. That means that if you built the application with `quarkus.oauth2.enabled=true` (or left it out as `true` is the default), the setting `quarkus.oauth2.enabled=false` at **runtime** will have no effect.

Are you sure you are using it properly?

[2020-07-02 12:33] geoand commented on #10427
Le's see first if this is just a misuse issue

[2020-07-02 12:40] jaikiran commented on #10407
I've opened https://github.com/oracle/graal/issues/2645 to get inputs from the Graal team.

[2020-07-02 13:22] galderz commented on #3300
@lburgazzoli I've just accross the same exception (see https://gist.github.com/galderz/583d1ba1cdf8fa3bb731768b65ea4d21) and I figured out what causes it. You get this exception when you instantiate something for which there's a substitution.

In my case, I had something like this:

[code]

The fix was to use `Kind.NewInstance` and then point to the declaring class, e.g.

[code]

Note that I don't

[2020-07-02 13:22] geoand commented on #10420
Can you give some more information on how to reproduce the problem?

[2020-07-02 13:26] mkouba commented on #10135
I wasn't able to reproduce the problem with the current `quarskus-camel` master branch. I'm going to close the issue now but feel free to reopen it if you hit the problem again.

[2020-07-02 13:26] #10135 closed

[2020-07-02 13:56] aimanph23 commented on #10420
Hi @geoand,

The problem was fix just a while ago by using a configuration file to register class for reflection since this is a 3rd party jar (caffeine-2.8.4.jar) and we cannot use @RegisterForReflection

Add resources\reflection-config.json
[code]

And in resource\application.properties
[code]

[2020-07-02 14:00] geoand commented on #10420
That's good to know.

Just one point: You **can** use `@RegisterForReflection` to register a third party class for reclection, see the `targets` method of the annotarion.

@gwenneg I assume we should be registering this class for reflection in the cache extension?

[2020-07-02 14:04] aimanph23 commented on #10420
Thanks @geoand for that option

Btw this are the classes that was imported
[code]

[2020-07-02 15:29] #10411 closed

[2020-07-02 15:57] sberyozkin commented on #10427
If the method is role protected then the RBAC layer just wants to enforce it, it does not know how `Principal` was created

[2020-07-02 15:58] florianRieb opened #10430 "Constructor injection in JAX-RS Resource which implements an interface causes an RuntimeException"
**Describe the bug**
Constructor injection in an RX-Resource class, which implements an interface raise an RuntimeException.
The Resource class contains methods to handle the requests and the interface contains all openapi annotations.

**Expected behavior**
Constructor injection also work like the field injection.

**Actual behavior**
On startup:
Caused by: java.lang.RuntimeException: RESTEASY003

[2020-07-02 16:57] ejba commented on #10427
@sberyozkin I understand your point. However, it's confusing at first sight to learn what's the expected behavior when disabling the oauth2 extension and have multiple methods as role protected.

At least, it should be documentation that explains in detail how Quarkus behaves in this case.
What do you think?

[2020-07-02 16:57] DavideD opened #10432 "Allow injection of Mutiny.Session and Stage.Session when using Hibernate Reactive"
**Description**
At the moment, Quarlus Hibernate Reactive allows the following:

    @Inject
    CompletionStage<Stage.Session> stageSession;

    @Inject
    Uni<Mutiny.Session> mutinySession;

We  also want to be able to do this:

    @Inject
    Stage.Session stageSession;

    @Inject
    Mutiny.Session mutinySession;

This would make it easier to use it because it reduces the amount of code t

[2020-07-02 17:00] DavideD commented on #10432
Working on it

[2020-07-02 17:19] DavideD commented on #10432
PR sent: https://github.com/quarkusio/quarkus/pull/10433

[2020-07-02 17:20] iocanel commented on #8659
This has been fixed along with #10332. We can close now.

[2020-07-02 17:20] #8659 closed

[2020-07-02 17:23] manodupont commented on #10427
Ok. But im more confused after all that :)

So what is setting it to false actually doing ?

Sorry for my misunderstanding!

[2020-07-02 17:35] ejba commented on #10427
I assume that disables oauth2 support only, it will not disable whole RBAC layer from protecting all methods.
You can have multiple authentication mechanism support activated, but you are just disabling one (oauth2). It seems to me the rationale behind it.

[2020-07-02 17:50] Mahaswami commented on #9969
1. @geoand Thanks for responding to my colleague @harshithpawar94 on this.
2. My team has used Vertx extensively for a significant application in the past.
3. Based on that, our interest in evaluating Quarkus for a significant project we are planning to start fairly shortly.
4. We have an app starter stack working in Spring Boot but we prefer to go with Quarkus especially due to its native image s

[2020-07-02 18:06] manodupont commented on #10427
Oh right. I Didn’t test that... it might be right.

Ok well i guess its a no bug then. Thanks!

[2020-07-02 18:14] bertm opened #10435 "Misconfigured TCCL for @TestFactory dynamic tests breaks RestAssured since Quarkus 1.5.0"
**Describe the bug**
RestAssured no longer initializes correctly when used in a dynamic test (`@TestFactory` with `DynamicTest`) due to a classloader mismatch. I discovered this when upgrading from 1.4.2.Final to 1.5.2.Final recently.

RestAssured uses the TCCL to initialize its Jackson ObjectMapper. In simple `@Test` test cases, and in the execution of the `@TestFactory` method, the TCCL is the `

[2020-07-02 18:18] bertm commented on #10435
For your convenience, the full stack trace of the error (with `trimStackTrace` set to `false` in Surefire):

[code]

[2020-07-02 18:32] geoand commented on #10427
Feel free to close the issue if you believe it's resolved

On Thu, Jul 2, 2020, 21:06 Manuel Dupont <notifications@github.com> wrote:

[2020-07-02 18:37] bertm commented on #10435
Looks like Quarkus 1.6.0.Final has just been released.

Reproducible on 1.6.0.Final as well.

[2020-07-02 19:07] BiggA94 opened #10436 "@CacheKey depending on order of properties"
**Describe the bug**
A function that invalidates a cache with an `@CacheKey` annotation is only working as expected, if the parameters of the function are in the correct order.

There are two problems here that I can see.
1.  The cache invalidator seems to not ignore the values without a `@CacheKey` annotation for the Key generation
2.  The cache invalidator depends on the order of all `@CacheKey`

[2020-07-02 19:11] EfraimLA opened #10437 "Panache Query Projection Relations"
**Describe the bug**
When i try to project class and get relational entities inside (`@OneToMany`) i get NPE

**Expected behavior**
Fetch child entities and set in projection class

**Actual behavior**
When i try to project object with entities objects inside i get a NPE

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configuration**
[code]

**Screenshots**
(If applicable, add scree

[2020-07-02 20:13] vladykin opened #10439 "ClientInterceptor not applied to gRPC Channel"
**Describe the bug**

I have a problem adding an interceptor to gRPC Channel instantiated by Quarkus.
Here is a minimal reproducer.

[code]

**Expected behavior**
I expect ClientInterceptor to be instantiated and registered with Channel. In `io.quarkus.grpc.runtime.supports.Channels.createChannel` I see code instantiating and adding interceptors. And similar approach works for ServerInterceptor wh

[2020-07-02 20:16] adrianfiedler commented on #5388
Hi @dmlloyd, @machi1990,
for third task I prepared a PR, could you please check?
https://github.com/quarkusio/quarkus/pull/10440

[2020-07-02 21:02] sberyozkin commented on #10427
@ejba

Right this or any other extension dealing with the authentication is only populating a `Securityidentity`. RBAC level is in the next phase.
If one disables `oauth2`/etc then all what is being achieved is that no auth mechanism is available which can do something meaningful with `Bearer sometoken`.

I wonder though if the time has come to introduce a property like a default role (someone has

[2020-07-02 22:13] gwenneg commented on #10420
@geoand: `com.github.benmanes.caffeine.cache.SSMSW` should probably be registered for reflection in [CaffeineProcessor](https://github.com/quarkusio/quarkus/blob/master/extensions/caffeine/deployment/src/main/java/io/quarkus/caffeine/deployment/CaffeineProcessor.java).

[2020-07-02 22:49] sebthom commented on #10406
@gastaldi I just tried it. It seems to work now. Thanks for the quick fix! Unfortunately it does not work with wildcards, e.g. `META-INF/swagger-ui-files/*.js.map` or even better `META-INF/**/*.js.map`, but I guess that is a different story.

[2020-07-02 23:24] gastaldi opened #10441 "Support wildcards in quarkus.package.user-configured-ignored-entries"
@gastaldi I just tried it. It seems to work now. Thanks for the quick fix! Unfortunately it does not work with wildcards, e.g. `META-INF/swagger-ui-files/*.js.map` or even better `META-INF/**/*.js.map`, but I guess that is a different story.

_Originally posted by @sebthom in https://github.com/quarkusio/quarkus/issues/10406#issuecomment-653250959_

[2020-07-02 23:25] gastaldi commented on #10406
Thanks @sebthom. I created https://github.com/quarkusio/quarkus/issues/10441 requesting wildcard support.

[2020-07-03 00:02] stuartwdouglas commented on #10330
That would just be part of the user annotation

[2020-07-03 01:19] jaikiran commented on #9969
Hello @Mahaswami, `native-image` support provided by Graal VM is itself in early days and is a moving target and as such, no matter whether you use Quarkus or Spring, you are likely to need help sorting out issues as and when they show up.

As for this specific issue, there was a reproducer app link which was posted earlier:

I couldn't get it to build since it ran into dependency failures (that p

[2020-07-03 05:19] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/156186997

[2020-07-03 05:49] mariofusco commented on #8694
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/156187511

[2020-07-03 05:53] cescoffier commented on #10439
Can it be related to the `@Startup`? Did you try with exposing an `@ApplicationScoped` bean (as a class) ?

[2020-07-03 06:25] jskovjyskebankdk commented on #10189
@emmanuelbernard  Would you consider including #9738 in the list?
Bootstrap (and thus unit testing with @QuarkusTest) does not work with Gradle.

[2020-07-03 07:26] geoand commented on #10436
cc @gwenneg

[2020-07-03 07:30] geoand commented on #10430
I am pretty sure that the reason this is happening isn't because of the interface, but because of the lombok annotation.
Can you remove them test again please?

[2020-07-03 07:53] ben-manes commented on #10420
A similar issue was raised in https://github.com/ben-manes/caffeine/issues/434. I am not familiar with GraalVM, so my question is naive - Should libraries provide a manifest of for reflection, e.g. `reflection-config.json`, and would that be automatically picked up by Graal? If so, we could code generate this resource file in addition to the classes. Of course that would also mean including all of

[2020-07-03 07:58] geoand commented on #10420
@ben-manes the question is very good! I can answer, but I am sure @Sanne has a lot more points to add, so I'll pass it on to him :)

[2020-07-03 08:06] #10406 closed

[2020-07-03 08:07] ia3andy opened #10447 "Security Issues: "Access-Control-Allow-Credentials" should be false by default when using "quarkus.http.cors=true""
**Describe the bug**
As soon as `quarkus.http.cors=true` is set, the `Access-Control-Allow-Credentials: true` is added as header.

It needs to be disabled for example to allow unknown requests, but avoid sending credentials (cookies, ..).

**Expected behavior**
Have an option to not add it in the header but still be able to use other CORS configs.

[2020-07-03 08:07] ia3andy commented on #10447
Here is the line of code: https://github.com/quarkusio/quarkus/blob/bc066bcfc8c95833845bbb70ad75d61cba9ddafd/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java#L100

[2020-07-03 08:09] florianRieb commented on #10430
I got the same exception with the following code, where I removed all annotations.
[code]

[2020-07-03 08:15] geoand commented on #10430
Can you please upload your code to github so I can try it?

I haven't been able to reproduce that error

[2020-07-03 08:17] andreas-eberle opened #10448 "Loading native OpenCV library doesn't work with quarkusDev but with build"
**Describe the bug**
To be able to use OpenCV in a Java application, you have to load the native library with `System.loadLibrary(Core.NATIVE_LIBRARY_NAME)`. I tried to do this in a basic quarkus service (see reproducer below). The library seems to be loaded (no error is thrown when `System.loadLibrary(...)` is called.

However, when running `gradlew quarkusDev`, the library is not available when

[2020-07-03 08:56] ia3andy commented on #10447
This is also the case in OpenApi extension: https://github.com/quarkusio/quarkus/blob/b8ec2d9f8847be6462c0ee37a225992ff6b8fa27/extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiHandler.java#L45

[2020-07-03 08:58] loicmathieu commented on #10427
Late to the party but yes, `quarkus.oauth2.enabled=false` only disable the OAuth2 security provider not Quarkus Security in it's entirety.

This is a build time property as the classical use case is to use an embedded security provider in dev/test and the OAuth2 in production. As dev/test re-play build steps you it works.

I don't think there is currently a way to disabled Quarkus security fully,

[2020-07-03 08:58] ia3andy commented on #10447
For context:
If the site specifies the header `Access-Control-Allow-Credentials: true`, third-party sites may be able to carry out privileged actions and retrieve sensitive information. Even if it does not, attackers may be able to bypass any IP-based access controls by proxying through users' browsers.

Steps of reproduction:
└──╼ $curl -I -H "Origin: evil.com" https://my-api.io
HTTP/1.1 200 OK
a

[2020-07-03 09:25] machi1990 commented on #5388
Thanks for the PR @adrianfiedler I'll have a look later today.

[2020-07-03 09:34] florianRieb commented on #10430
If clone the following repo and run  "mvn quarkus:dev" you should get the same exception.
[https://github.com/florianRieb/injection-bug-reproduction.git](url)

Thanks a lot fore your time

[2020-07-03 09:46] mcserra commented on #10447
Can I pick this?

[2020-07-03 09:47] ia3andy commented on #10447
@mcserra sure

[2020-07-03 09:48] ia3andy commented on #10447
The only problem we need to discuss is that it could break some existing apis, @gsmet any idea on how to deal with that?

[2020-07-03 09:48] mcserra commented on #10447
Cool, thanks!

[2020-07-03 09:48] sberyozkin commented on #10447
@ia3andy Hi, does it make sense to use it by default if one has:
[code]
and switch to false only if origins is a wildcard ?

[2020-07-03 09:52] sberyozkin commented on #10447
Yes, it can break the existing applications, but your analysis shows that in case of the origin wildcard it is not safe, but if the expected origin has been matched then it is not so clear if switching to `false` is strictly necessary

[2020-07-03 09:52] ia3andy commented on #10447
@sberyozkin very good idea indeed!

So `Access-Control-Allow-Credentials` should be a new config option AND be true by default only if `quarkus.http.cors.origins` is present and not '*'.

It should be false by default when `Access-Control-Allow-Origin` is either `*` or dynamic from request origin.

[2020-07-03 09:55] ia3andy commented on #10447
We also need another PR for `OpenApi` to remove `Access-Control-Allow-Credentials` and to set `Access-Control-Allow-Origin` to the request origin instead of `*`.

[2020-07-03 09:55] sberyozkin commented on #10447
yeah that is probably the right compromise, lets see if Guillaume and others agree, thanks

[2020-07-03 10:03] ia3andy commented on #10447
Another option so we don't break any API would be to display a WARN log when `Access-Control-Allow-Credentials` is not specified and `Access-Control-Allow-Origin` is open (wildcard or request origin)

[2020-07-03 10:04] sberyozkin commented on #10447
In `smallrye-open-api` ? Please open an issue there

[2020-07-03 10:05] ia3andy commented on #10447
@sberyozkin no it's in the Quarkus extension part of it: https://github.com/quarkusio/quarkus/blob/b8ec2d9f8847be6462c0ee37a225992ff6b8fa27/extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiHandler.java#L45

[2020-07-03 10:07] sberyozkin commented on #10447
I'd just go for your original proposal to switch it to `false` when the origin is wildcard in 1.7.0 and update the migration guide.

[2020-07-03 10:15] rainmanhhh commented on #10162
webflux works with suspend fun now. maybe you can refer to it?

[2020-07-03 10:15] vladykin commented on #10439
I tried various scope annotation combinations on the ExampleApp and the \@Produces method. Also tried extracting interceptor as a separate class:
[code]

But it did not help. Interceptor is still not instantiated.

[2020-07-03 10:45] dodalovic opened #10452 "Hot reload stops working with GraphQL"
When following tutorial @ https://quarkus.io/guides/microprofile-graphql

While I'm coding, I'm getting this in logs:

[code]

Then, when I hit some endpoint after adding required code , as pointed out in the tutorial, I'm getting some error:

[code]

Basically, hot reload stops working

After I restart my `./mvnw compile quarkus:dev`, it works again.
JDK 11

[2020-07-03 11:04] gsmet commented on #10452
/cc @stuartwdouglas @phillip-kruger  looks like the same issue reported earlier with GraphQL + live reload.

[2020-07-03 11:06] gsmet commented on #10448
Any chance you would have the time to check if it's a Gradle-specific problem or also happens with Maven?

[2020-07-03 11:07] gsmet commented on #10435
/cc @geoand

[2020-07-03 11:14] phillip-kruger commented on #10452
Yes I think this will be fixed once this can be merged: https://github.com/quarkusio/quarkus/pull/10176 - not sure what is outstanding there... would be nice to get that in :)

[2020-07-03 11:35] pedroigor commented on #7414
It works to correlate both, but you are still not enforcing that only the client to which the ticket was issued for is indeed the same sending the ticket afterward. What I'm trying to solve is that token stolen by an attacker could be used to access your services. If when generating the ticket you add the certificate to your ticket you can check whether or not the client is the same when accessing

[2020-07-03 11:40] galderz opened #10454 "Gradle hanging in quarkus-platform-descriptor-json execution"
`quarkus-platform-descriptor-json` Gradle execution hangs. See [thread dump](https://gist.github.com/galderz/c470ef519b96dcd8f6eba58d292ebfa6).

[2020-07-03 12:22] loicmathieu commented on #10437
Hi @EfraimLA can you provide a reproducer somewhere ? This would help us better understand the issue.

[2020-07-03 12:28] glefloch commented on #10454
In this step we are `gradle wrapper` command to actually generate the gradle `wrapper` which will be embedded in the `quarkus-platform-descriptor-json`. It seems the download is failing, are you behind a proxy?

[2020-07-03 12:29] andreas-eberle commented on #10448
@gsmet: I just checked and it behaves the same with maven. While it works if you first package the application and run the jar, it doesn't work if you run `./mvnw quarkus:dev`.

[2020-07-03 12:50] galderz commented on #10454
No I'm not. It hanged for quite a while (+10 mins at least).

[2020-07-03 12:57] emersonluiz91 commented on #6034
I have the same need, it would be nice if the maven proguard plug-in worked with Quarkus in native mode.

https://github.com/wvengen/proguard-maven-plugin

In addition to the safety benefit, ProGuard also helps to decrease the size of the jar.

[2020-07-03 13:13] geoand commented on #10430
Thanks for the reproducer. I added another commit to #10446 that handles your use case

[2020-07-03 13:16] geoand commented on #10435
I don't think there is much we can do about this case, but I'll have a look on Monday

[2020-07-03 13:29] mkouba commented on #7665
For the record - in Quarkus 1.7.0 there will be [Type-safe Message Bundles](https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/qute-reference.adoc#user-content-type-safe-message-bundles) powered by Qute.

[2020-07-03 13:49] galderz commented on #10454
Actually, it was still hanging a few hours on.

[2020-07-03 14:30] mkouba opened #10457 "Qute - replace TemplateInstance.publisher() with TemplateInstance.createMulti()"
Also get rid of `io.quarkus.qute.PublisherFactory`.

I think that it makes sense to build the reactive part of Qute API on top of Mutiny.

[2020-07-03 14:31] mkouba commented on #10457
CC @cescoffier @FroMage

[2020-07-03 14:37] emmanuelbernard commented on #10189
@jskovjyskebankdk yes that makes sense CC @glefloch

[2020-07-03 14:38] FroMage commented on #10457
Totally.

[2020-07-03 14:47] glefloch commented on #10189
Yes I'm still working on it, I will open a draft PR ASAP.

[2020-07-03 15:13] paulrobinson opened #10458 "Testing JIRA import automation"
This is a test issue to try out some automation between GitHub and JIRA.

[2020-07-03 16:24] miloslavskacel opened #10460 "Polyglot quickstart app"
**Description**
Quickstart app demonstrating how to execute JS on server-side, using GraalVM, shall be included in https://github.com/quarkusio/quarkus-quickstarts to make start easier.

**Implementation ideas**
It is not clear if polyglot app is supported by quarkus.
It was working with quarkus quarkus 1.2.1, since then it is not working
https://github.com/quarkusio/quarkus/issues/10226
Having it

[2020-07-03 16:40] shautvast opened #10461 "reactive default datasource requires secondary (traditional jdbc) datasource url (with dummy value)"
**Describe the bug**
I have to put this in the application.properties:
quarkus.datasource.db-kind=postgresql
quarkus.datasource.jdbc.url=_dummy_
quarkus.datasource.reactive.url=postgresql://localhost:5432/postgres
quarkus.datasource.username=postgres
quarkus.datasource.password=...

**Expected behavior**
When using quarkus.datasource.reactive.url, I shouldn't have to add quarkus.datasource.jdbc.ur

[2020-07-03 16:51] #10432 closed

[2020-07-03 17:52] EfraimLA commented on #10437
Sure, here is my reproducer
https://github.com/EfraimLA/panache-projection-reproducer

[2020-07-03 19:20] sirAlexanderT commented on #4200
@gsmet i'm still facing this issue with `1.6.0.CR1`

[2020-07-03 19:44] kostacasa commented on #9059
Is there a place where we could track the progress of this? I believe it might open up the path to integrating with Google Cloud Trace. Thanks!

[2020-07-03 20:30] mkouba opened #10465 "Reactive routes - if no Content-Type header is set try to use RoutingContext#getAcceptableContentType()"
Currently, the value of `@Route#produces()` is only used for content-based routing. However, we could also use it to set the `Content-Type` header automatically using `RoutingContext#getAcceptableContentType()`.

[2020-07-03 20:56] #10430 closed

[2020-07-04 02:13] danilomeneghel opened #10466 "How to solve java.lang.RuntimeException: RESTEASY007545: Unable to find a MessageBodyReader for media type"
0

I'm using Quarkus version 1.5.1, however when trying to send data of type LocalDate (or Date) of a form, it returns the following error message:

java.lang.RuntimeException: RESTEASY007545: Unable to find a MessageBodyReader for media type: text / plain; charset = us-ascii and class type java.time.LocalDate

I have already imported the following dependencies, but the error persists.

`
<depende

[2020-07-04 02:21] danilomeneghel opened #10467 "Problem with rendering the "page not found" template"
Here is the code created:

[code]

When I test on my (local) computer, it redirects to the template created for error 404.
However, when testing in production (on the internet) it doesn't work.
Quarkus does not load the template and displays the following error message:

Error id fd4183f5-1c86-4d92-ac93-8863ff0507bd-1

[2020-07-04 04:34] jaikiran commented on #10448
Hello @andreas-eberle, given that reproducing this requires building OpenCV, could you paste the complete exception stacktrace that you see with quarkus:dev? That will make it easier for some of us to see if we can spot some obvious issues.

Furthermore, which vendor and version of Java are you using?

Finally, I see that you pass the `-Djava.library.path` to `java -jar` way of launching the app,

[2020-07-04 04:48] jaikiran commented on #10454
Looking at that thread dump, it appears to consist of dumps from different JVMs that are involved?

The interesting bit,  I think is this one:

[code]
The gradle command that got executed as part of the Maven build, internally spawned a gradle daemon (or connected to an existing one) and is now communicating over a socket with that daemon to finish that gradle execution. The interesting bit in the

[2020-07-04 06:53] glefloch commented on #10454
I remenber having these kind of issue when migrating the gradle ci to use actually use gradle. To avoid that, I used the `--no-daemon` flag. I will push a fix for the `quarkus-platform-descriptor-json` as well.

[2020-07-04 07:00] jaikiran commented on #10454
Hello @glefloch, while doing so, I think you might also want to set the `Xmx` value to some non-default value (higher than `64m`) when launching that gradle wrapper from the Maven exec task. Last time I checked, specifying only --no-daemon, most of the times is ignored and gradle reports that the current JVM doesn't match "expectations" and just spawns a daemon ignoring the --no-daemon option. Loo

[2020-07-04 07:04] jaikiran commented on #10454
This code https://github.com/gradle/gradle/blob/master/subprojects/launcher/src/main/java/org/gradle/launcher/cli/BuildActionsFactory.java#L130 which leads to https://github.com/gradle/gradle/blob/master/subprojects/launcher/src/main/java/org/gradle/launcher/daemon/configuration/BuildProcess.java#L58, that then results in ignorning the --no-daemon option since the current JVM process is considered

[2020-07-04 07:40] jaikiran opened #10469 "CI failures - KafkaCodecTest is consistently failing"
The `KafkaCodecTest` has started failing consistently in CI runs (JVM version doesn't seem to matter, since it has failed in Java 8, 11 and 14 from some of the runs I saw). The exception is pasted below, taken from one unrelated PR[1].

I can't reproduce this locally and looking at the code and test in question, there are a couple of issues I think:

1. This `KafkaSASLTestResource` (which is a `Qu

[2020-07-04 07:42] machi1990 commented on #10469
I’ve seen similar failures in a couple PRs. Thanks for opening an issue for it.

[2020-07-04 09:07] 38leinaD opened #10472 "Enable JDK preview features from Gradle-based build"
**Describe the bug**
It seems to be not possible to enable JDK preview features for the Gradle quarkusBuild task.

If i set

[code]

it seems like compilation is triggered with --enable-preview, but whatever the quarkusBuild task does afterwards fails with this

[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: Linux hedgehog 4.9.0-12-amd64 #1 S

[2020-07-04 09:07] jaikiran commented on #10469
Looking a bit more in Kafka code, they do allow more fine-grained control over which JAAS configuration gets used instead of defaulting to JVM level configuration. So I've opened thttps://github.com/quarkusio/quarkus/pull/10471 o use that approach to fix this issue.

[2020-07-04 09:39] sirAlexanderT commented on #10112
@phillip-kruger looked at this again and I can get to the swagger-ui ok, but the REST calls aren't working

[2020-07-04 10:41] 38leinaD commented on #10472
sorry for wrong classification; not really a bug but feature-request.

[2020-07-04 11:09] oztimpower commented on #10128
Hi @MarcusBiel , I downloaded your project. It doesn't compile, so I changed the response to String.

The issue you mention is documented in building a native image, you need to add the JBoss Logging to your project, and remove the `application.properties` reference to `reflection-config.json` and `resources-config.json`.

Note: I updated to the latest `Quarkus` version `1.5.2.Final`

I was lookin

[2020-07-04 11:44] #10469 closed

[2020-07-04 11:50] #10397 closed

[2020-07-04 11:57] noelo opened #10473 "Incorrect resolution information in PanacheMongoResourceProcessor thrown exception"
**Describe the bug**
When a user uses a @BsonId annotation in their code with an entity extending the PanacheMongoEntity the following exception is thrown
Caused by: io.quarkus.builder.BuildException: Build failure: You provide a MongoDB identifier via @BsonId inside 'com.petbattle.core.Tournament' but one is already provided by PanacheMongoEntity, your class should extend PanacheMongoEntityBase i

[2020-07-04 12:01] noelo commented on #10473
oops I was incorrect, please ignore and close

[2020-07-04 12:01] #10473 closed

[2020-07-04 12:18] gsmet commented on #10472
/cc @glefloch

[2020-07-04 13:27] #5388 closed

[2020-07-04 13:31] noelo commented on #10410
I'm seeing the same issue as well
IntelliJ IDEA 2020.1.2 (Community Edition)
Build #IC-201.7846.76, built on June 1, 2020
Runtime version: 11.0.7+10-b765.53 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 10.14.6
GC: ParNew, ConcurrentMarkSweep
Memory: 1981M
Cores: 8
Non-Bundled Plugins: Lombook Plugin, VisualVMLauncher, com.thoughtworks.gauge, net.ashald.envfile, uk.co.itmoore.intel

[2020-07-04 13:33] survivant commented on #10410
Try to disable quarkus plugin and restart Intellij

Le sam. 4 juill. 2020 09 h 31, noelo <notifications@github.com> a écrit :

[2020-07-04 14:11] jaikiran commented on #10177
This is actually a bug in vertx. I have created https://github.com/vert-x3/vertx-web/issues/1654

[2020-07-04 15:12] ozkanpakdil opened #10476 "Snyk report"
Not really bug

just wanted to inform you about vertx issue https://snyk.io/vuln/SNYK-JAVA-IOQUARKUS-572492 and open this for future reference. In case someone else has similar report.

Thanks

[2020-07-04 15:12] #10476 closed

[2020-07-04 15:40] arvidvillen opened #10477 "Random test port stopped working in 1.6.0.Final"
**Describe the bug**
Configuring `%test.quarkus.http.test-port=0` makes Quarkus start on a free port.
After 1.6.0.Final, tests fail with `java.lang.IllegalArgumentException: Port must be greater than 0`.

**Stacktrace**
[code]

**Expected behavior**
The generated port should be propegated to rest-assured correclty.

**To Reproduce**
Steps to reproduce the behavior:
1. checkout https://github.com/a

[2020-07-04 20:15] geoand commented on #10472
Just copying what I mentioned in chat that we already have this feature in Maven

[2020-07-04 20:56] glefloch commented on #10472
Thanks for reporting this.
It's possible to set custom `compileArgs` for the `quarkusDev` task but not for the `quarkudBuild`. I will have a look on how this is handled in maven and push a commit to make it possible in Gradle

[2020-07-04 20:58] geoand commented on #10472
@glefloch IIRC, in Maven we check and see if the compiler flag is enabled, and if so we just add it to the JVM flags we launch the dev jar with

[2020-07-04 21:19] wtsiamruk opened #10478 "Quarkus Native lambda does not sets the request body when object mapper configuration is defined"
When using quarks AWS Lambda native image with custom runtime, quarkus badly supports default APIGatewayV2ProxyRequestEvent objects

**Expected behavior**
when I get body of the event I expect to have the json inside

**Actual behavior**
the event returns null

**To Reproduce**
Steps to reproduce the behavior:
1. Create the lambda with custom object mapper.
[code]
2. Set the payload to some json i

[2020-07-04 23:00] wmacibnc commented on #7769
@gastaldi
I need to congratulate you on your beautiful work.
Today I finished the implementation with Quarkus and the `@QuarkusMain` solution was excellent. Thank you very much for your attention and help.

[2020-07-05 05:49] 38leinaD commented on #10472
@glefloch actually, i am wondering if something is broken for quarkusDev as well. It worked in the past but complains now when i want to set --enable-preview.

I am quiet sure in the past i was able to set

quarkusDev {
    jvmArgs '--enable-preview'
}
jvmArgs seems to be a List<String> by now; so i tried

quarkusDev {
    jvmArgs ['--enable-preview']
}
But i get

Any idea if this should be workin

[2020-07-05 06:16] noelo commented on #10410
Non-Bundled Plugins: Lombook Plugin, VisualVMLauncher, com.thoughtworks.gauge, net.ashald.envfile, uk.co.itmoore.intellisubsteps, gherkin, cucumber-java

Yep tried that, alas still the same.
Eventually I just removed all the intellij related files/dirs and reimported the project and it all works now.
Something must have gotten corrupted somewhere. Thanks for your help.

[2020-07-05 07:50] phillip-kruger commented on #10112
That changes things. So For OpenAPI to create a valid schema doc, would need to know all the valid servers that will be used. Do you have a `@Server` annotation that contains the proxy server ? Or you can use MP Config (see https://download.eclipse.org/microprofile/microprofile-open-api-1.0/microprofile-openapi-spec.html#_core_configurations) to add these servers.

Let me know. Thanks :)

[2020-07-05 08:03] glefloch commented on #10472
@38leinaD I just ran some tests on my machine.
Regarding the `quarkusDev` task, you can either set the `--enable-preview` using the `compilerArgs` property, such as:

[code]
or, if you don't set `compilerArgs` in `quarkusDev` task, then `compileJava` compiler args will be used by the task.

Regarding the `quarkusBuild`, I created a small project running in jdk13 with `--enable-preview` and I used

[2020-07-05 09:00] gunnarmorling opened #10479 "Allow for custom generated resources to be added to Lambda function.zip"
There's support for adding contents from _src/main/zip.jvm_ to the resulting Lambda function.zip. It should also be possible to add other resources which have been generated during the build, i.e. contenst from _target_.

[2020-07-05 09:12] MarcusBiel commented on #10128
Hi @ oztimpower, thanks for your reply!
1)remove the application.properties reference to reflection-config.json and resources-config.json

I don't understand. I need  reflection-config.json so I can define third party reflection usage. I need resources-config.json so I can define json files that need to be added.

Have you read my recent replies -
1) I FIXED the ClassNotFoundException by adding a

[2020-07-05 09:27] joewhite101 opened #10480 "manage.sh invoke in aws-lambda extension fails with aws cli 2.0.2"
**Describe the bug**
When using the default manage.sh script provided by the extension and aws cli version 2.0.2 the invoke fails because the AWS CLI expects the input to be base 64. There is a new switch for the cli to take raw input.

**Expected behavior**
manage.sh script works and payload.json can be raw json

**Actual behavior**
An error occurs.
[code]

**To Reproduce**
Follow the basic lambd

[2020-07-05 09:29] joewhite101 commented on #10480
Created this PR to resolve:
https://github.com/quarkusio/quarkus/pull/10481

[2020-07-05 10:00] 38leinaD commented on #10472
Thanks for all the explaination; it is really easy now to configure the preview features!

Indeed i was able to create a reproducer. I am also able to use text-blocks with the config you describe, but it starts failing when i add my own microprofile-config source as an example:

https://github.com/38leinaD/quarkus-config-source-preview-features-reproducer

[code]

[2020-07-05 10:17] oztimpower commented on #10128
I was able to get your sample project working.

The logging issue is resolved by using the maven dependency hence I didn’t need what you had hand crafted.

Noted that you were sticking with the JVM version.

Can I suggest at least you close this, as I have updated the documentation on PR #10474 to demonstrate how to overcome the Commons Logging issue with native image.

[2020-07-05 13:52] rquinio commented on #10477
Indeed I can reproduce when prefixing with `%test`, i.e. `%test.quarkus.http.test-port=0`
In my project I was using `quarkus.http.test-port=0` which still works fine.

[2020-07-05 14:41] famod commented on #10477
FWIW: `quarkus.http.test-port` set via `systemPropertyVariables` in surefire-plugin also still works.

[2020-07-05 15:00] MarcusBiel commented on #10128
Well I think there is still an issue... but as I am not using native anymore... I may close this.

[2020-07-05 15:00] #10128 closed

[2020-07-05 15:04] MarcusBiel opened #10483 "Improve Security documentation"
The security documentation should be made CRYSTAL clear in the sense that - you must never use @Authenticated and
@RolesAllowed together - even better, if such combined usage of Annotations would break at compile time.

The security documentation actually says it - but it's easy to miss this part (or it's strong implications) I think:

Quarkus comes with built-in security to allow for Role-Based A

[2020-07-05 17:21] cescoffier commented on #9477
@mkouba and I have done a first integration - already in master.

[2020-07-05 17:21] #9477 closed

[2020-07-05 17:34] famod opened #10484 "Devmode, Maven: Broken classpath when a local module depends via its parent on another local module"
**Describe the bug**
Imagine the following Maven module structure:
- `level0`
- `level1` depends on `level0`
- `level2` depends on `level1`
  - `level2.submodule` (depends on `level1` via parent `level2`)
- `runner` depends on `level2` **and** `level0`

Each `level*` module contains a simple `@ApplicationScoped` service that calls the service from the "next-lower" level (e.g. `level1` -> `level0`)

[2020-07-05 17:41] famod commented on #10484
cc @aloubyansky & @geoand

I would have taken a stab this already but it seems some things have to be decided first and I didn't want to jump in the wrong direction. I left all my thoughts under "Additional context" and since I don't think I will have (much) time to work on this in the next few days, you are more that welcome to take the lead.

[2020-07-05 18:29] marc-christian-schulze commented on #8479
A similar error occurs in Quarkus 1.6.0.CR1 when trying to serialize a built-in Kotlin List, e.g.
[code]
[code]

[2020-07-05 18:53] arvidvillen commented on #10477
Thanks for the workaround(s). It would be nice if someone explained what is happening and why it is behaving differently in 1.6.0.Final. If it is a desired behavior (and not a bug), it could possibly be added to the [migration guide](https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.6)?

[2020-07-05 20:45] angrymango commented on #7440
Thanks for confirming the proxy usage. It sounds like the best thing to do will be to leave them out of the native compilation for now. I'll focus on getting the tests working next.

[2020-07-06 01:23] stuartwdouglas commented on #10427
I have implemented something here: https://github.com/quarkusio/quarkus/pull/10487

[2020-07-06 02:14] stuartwdouglas commented on #4200
Is it just the defaults that don't work? i.e. if you manually change the path in the UI to  /test-service/openapi does it work as expected?

[2020-07-06 02:47] stuartwdouglas commented on #10452
I have (hopefully) fixed the test failures on that PR.

[2020-07-06 03:38] gastaldi commented on #7769
@wmacibnc thank you very much!
Hope you enjoy Quarkus as much as we do :wink:

[2020-07-06 05:18] #10478 closed

[2020-07-06 05:18] mariofusco commented on #8694
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/158887548

[2020-07-06 05:20] geoand commented on #10484
Thanks a lot for the analysis @famod!

@aloubyansky is the best person to comment on this

[2020-07-06 05:30] geoand commented on #10477
It's definitely a bug, I'll need to check it out

[2020-07-06 05:32] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/158886976

[2020-07-06 05:53] geoand commented on #10477
@radcortez I think this is another incarnation of https://github.com/quarkusio/quarkus/pull/9184.
What seems to be happening is that although `quarkus.http.test-port` is set in a system property, however `%test.quarkus.http.test-port` is set in application properties with the value of `0` and therefore overrides the system property.

Now this might actually be the correct behavior from a config po

[2020-07-06 06:04] geoand commented on #10477
#10488 fixes the problem

[2020-07-06 06:13] cescoffier commented on #10439
So definitely a bug. Thanks for the report, we will look into this.

[2020-07-06 06:14] cescoffier commented on #10457
+1, but a bit biased...

[2020-07-06 07:06] antonliauchuk-tealium commented on #10226
reproduced the same issue with 1.5.2.Final version.

[2020-07-06 08:15] geoand commented on #10484
@aloubyansky if you want me to check out something, feel free to ask :)

[2020-07-06 08:27] glefloch commented on #10472
@38leinaD your welcome, I will update the documentation to make this clearer.

Regarding your reproducer, I have the same error.

@geoand, @gsmet, `MutableConfigSource` implements `org.eclipse.microprofile.config.spi.ConfigSource` which, I think has not been compiled with jdk 14 could it be the problem ?

[2020-07-06 08:39] geoand commented on #10472
Hi,

I just tried the reproducer and it worked fine for me. So perhaps `MutableConfigSource` was compiled in a previous gradle run and the gradle cache just needs to be cleared?

[2020-07-06 09:00] geoand opened #10490 "Update Spring Security to work with @TestSecurity"
**Description**
#10487 introduces the ability to run a `@QuarkusTest` with per-test security setting via `@TestSecurity`.

[2020-07-06 09:34] Karm opened #10491 "Native image: Integration test: Google-cloud-functions: Classes that should be initialized at run time got initialized during image building"
**Describe the bug**
I am unable to run Google cloud functions integration test successfully with any on these builder images: `quay.io/quarkus/ubi-quarkus-mandrel:20.1.0.0.Alpha1-java11`, `quarkus/ubi-quarkus-native-image:20.1.0-java11`, `quay.io/quarkus/ubi-quarkus-native-image:19.3.1-java11`.

**Expected behavior**
The module passes tests. It is actually the only one failing for me.

**Actual b

[2020-07-06 09:40] sberyozkin commented on #10483
@MarcusBiel Hi, I'd actually consider it a but that the method specific `RolesAllowed` do not override it.
For example, given
[code]
`getForAdmin` can only be invoked by `admin`.

It is really inconsistent if we have `getAdmin` open for all in

[code]

@stuartwdouglas Hi Stuart, do you agree ? IMHO we have to fix it...Thanks

[2020-07-06 09:44] andreas-eberle commented on #10448
@jaikiran: You can find the complete stacktrace of `./gradlew quarkusDev` here: https://gist.github.com/andreas-eberle/2c395658acbe363cf2316d27d750e73a

My JDK (`java -version`):
[code]

I pass in the java.library.path differently since just setting `java.library.path` for `./gradlew quarkusDev` only sets the library path for gradle but not for the actual application. Therefore I added a line in t

[2020-07-06 09:47] iocanel commented on #9663
This can be closed now.

[2020-07-06 09:47] #9663 closed

[2020-07-06 09:49] #4453 closed

[2020-07-06 10:01] sberyozkin commented on #10483
I'm not 100% sure, given this [RolesAllowed text](https://javaee.github.io/javaee-spec/javadocs/javax/annotation/security/RolesAllowed.html), if a method specific role like `admin` overrides a wildcard, but it does feel counterintuitive that the `getForAdmin` is totally opened.

[2020-07-06 10:01] radcortez commented on #10477
@geoand if we follow the rule where a profile property always override a main property no matter the source priority, then yes, this is the correct behaviour.

I'm wondering why in this particular case it was not following that rule.

I also guess that this is one of the cases where @dmlloyd pointed out that once you set a profile property, there is no way to override it in a higher ordinal source

[2020-07-06 10:03] famod commented on #10183
@phillip-kruger

Any idea when this might be the case? Thanks!

[2020-07-06 10:15] phillip-kruger commented on #10183
Definitely before the next Quarkus release, so that we can get that in. We can also do this earlier if needed.

[2020-07-06 10:21] famod commented on #10183
Next release means 1.7.0 or 1.6.1?

[2020-07-06 10:29] phillip-kruger commented on #10183
Usually 1.7, except if 1.6.0 introduced a new error, i.e. break something that was working in 1.5.x