[2019-04-08 09:26] hwellmann opened #1910 "Document how to use web.xml"
In the user guides, I cannot find any information about `web.xml`.

From searching the source code, I gather that `web.xml` may be placed in `META-INF` and at least certain configurations like servlet and filter mappings are supported.

[2019-04-08 09:41] dhoffi commented on #1790
well, not being able to addExtension makes the gradle support pretty limited useful ... doesn't it?

[2019-04-08 10:19] soul2zimate opened #1911 "Unable to forward from a JAX-RS service to JSP"
After I add a JSP page into src/main/resources/META-INF/resources and forward a JAX-RS service to it, it will download directly the file instead of showing JSP content. This is not same behavior as WFLY.

QS reproducer https://github.com/soul2zimate/quarkus-quickstarts/tree/jsp/getting-started

Run: mvn clean install
Execute: java -jar target/quarkus-quickstart-1.0-SNAPSHOT-runner.jar
Open http://

[2019-04-08 13:02] isikemre commented on #1888
I opened a PR (as discussed) which includes a test case about this isse.
[https://github.com/quarkusio/quarkus/pull/1913](https://github.com/quarkusio/quarkus/pull/1913)

[2019-04-08 13:13] dansiviter opened #1914 "javax.ws.rs.core.Application Marked for Removal, but required"
* Version: 0.13.0
* Extensions: resteasy, smallrye-jwt

It appears `Application` instances are removed although they have useful contents. E.g. if wanting to use Microprofile `@LoginConfig` annotation:

[code]

Is marked for removal:
[code]

Is seems the only way to do this is by using `quarkus.smalllrye-jwt.auth-mechanism` and `quarkus.smalllrye-jwt.realm-name` properties.

[2019-04-08 13:45] Sanne commented on #1886
hi @rbaumgar ! could you please verify if you still have this problem with version 0.13 ?

If you still have it, could you give us some more details? I couldn't reproduce it on version 0.13.

thanks

[2019-04-08 13:47] Sanne opened #1915 "Occasional errors from ORM unable to get a JDBC connection on shutdown"
The following (swallowed) exception could happen on shutdown:

[code]

The problem being that Hibernate ORM was configured to drop the database on shutdown, but the destroy order is random.

It could happen that ORM would be shut down only after the Datasource pools was already shutdown.

[2019-04-08 13:55] crivera opened #1917 "Does not start with JDK12"
Hi

i tried to run a project today with JDK 12 and got the following error:

`
09:48:42,438 ERROR [io.qua.dev.DevModeMain] Failed to start quarkus: java.lang.RuntimeException: org.jboss.builder.BuildException: Build failure: Build failed due to errors
        [error]: Build step io.quarkus.deployment.logging.LoggingResourceProcessor#setupLoggingStaticInit threw an exception: java.lang.Error: java.

[2019-04-08 14:08] geoand commented on #1914
@gsmet @mkouba I vaguely remember talking about this somewhere. Would you like me to take this if you haven't fixed it already?

[2019-04-08 14:08] diabolicallabs opened #1918 "Running test on 0.13.0 fails FilterBuildItem not found"
Running mvnw package on git clone https://github.com/quarkusio/quarkus-quickstarts.git
fails with:
[code]
My other < 0.13 projects that I upgraded to 0.13.0 are failing in the same way.

[2019-04-08 14:10] sberyozkin commented on #1882
@gsmet, can you clarify please, why `DeleteDocumentProvider` is needed, instead of 'manually' excluding this provider in `ResteasyCommonProcessor.categorizeProviders` ? thanks

[2019-04-08 14:16] gsmet commented on #1918
Hmmm, it's weird, I just tried a build on a fresh `git clone` of the quickstarts and I can build them (and they are fully tested as part of our release process).

Could you give us more information about your environment?

[2019-04-08 14:18] gsmet commented on #1917
Yes, we do not support JDK 12 for now. See https://github.com/quarkusio/quarkus/issues/1534 for a previous issue about it.

For now, we recommend to use LTS versions (11 or 8).

Closing this one as a duplicate.

[2019-04-08 14:18] #1917 closed

[2019-04-08 14:21] diabolicallabs commented on #1918
Indeed.
MacOS 10.14.4
Maven 3.6.0
JDK 11.0.1 2018-10-26
I cloned into an empty directory and didn't change anything in the project.

[2019-04-08 14:23] gsmet commented on #1914
Yes, I mentioned the issue to @mkouba the other day.

@mkouba I know I'm a bit repetitive on the subject but with this removable bean feature, it looks like we need to think about all the possible features of each framework and tweak things for each framework as they might rely on unused beans. It really seems fragile to me and a lot of work for the future. Am I mistaken?

I think I fail to see wh

[2019-04-08 14:24] gsmet commented on #1911
I don't think we support JSP at all. And I'm not sure we will.

[2019-04-08 14:29] geoand commented on #1914
In any case, I have opened a (small) PR for this specific issue.

[2019-04-08 14:30] gsmet commented on #1918
Yes, that's what I did too. It was with JDK 8 but I just tested with JDK 11 and it works ok for me.

@cescoffier could you test on MacOS?
@diabolicallabs could you try to drop your ~/.m2/repository/io/quarkus/ and download the artifacts again? I just did it with fresh artifacts and it seems to work too.

[2019-04-08 15:13] Edubits commented on #1918
Same issue here, also after dropping the m2. When running I get the same exception, but for a different class:
`java.lang.NoClassDefFoundError: io/quarkus/arc/deployment/BeanContainerListenerBuildItem`

[2019-04-08 15:15] gsmet commented on #1918
Hmm, if it's on an application, do you have the Quarkus dependencies defined as `provided`? If so you need to drop the scope.

[2019-04-08 15:18] Edubits commented on #1918
None of the dependencies have an explicit scope.

[2019-04-08 15:22] mkouba commented on #1914
This issue duplicates https://github.com/quarkusio/quarkus/issues/1880.

As for the `@LoginConfig` annotation - it's not CDI-related and I don't think that the bean removal affects processing of this annotation.

[2019-04-08 15:30] aloubyansky commented on #1918
@Edubits which quickstart was it? Did you also do `git clone https://github.com/quarkusio/quarkus-quickstarts.git` and build it? Or how would you describe the steps to reproduce? Thanks.

[2019-04-08 15:35] emmanuelbernard commented on #1908
Hey,

Frankly, we have seen epsilon demands on JDO. The main reason it stills shows up is the historical choice of Google App Engine (dataNucleus jas no JPA support at the time). Plus there is a lot of proposal around the NoSQL space both in projects and proposed standards.
Since we are heavily focusing on JPA for now, I will close this one. We can revisit as the space clears up and bandwidth incr

[2019-04-08 15:35] #1908 closed

[2019-04-08 15:36] mkouba opened #1920 "Override the Jandex version used by jandex-maven-plugin in build-parent"
For now we need to override and hardcode the jandex version - see also https://github.com/wildfly/jandex-maven-plugin/pull/13.

[2019-04-08 15:38] Edubits commented on #1918
Steps to reproduce:
[code]

Mvn log:
[mvn-clean-compile-test.txt](https://github.com/quarkusio/quarkus/files/3055104/mvn-clean-compile-test.txt)

Environment:
MacOS 10.14.4
Maven 3.6.0
Java 11.0.2 2019-01-15 LTS

[2019-04-08 15:48] bobmcwhirter commented on #1908
That being said, if you'd like to create an extension for JDO/Datanucleus, this could be helpful:

https://quarkus.io/guides/extension-authors-guide

[2019-04-08 15:50] cescoffier opened #1923 "@PathParameter required value in native mode"
The RestEasy `PathParameter` annotation does not require the `value`. It's pretty neat and avoids repetition. However, in native mode, it does not work and fails with:

[code]

We tried to set the `parameters` attribute of the Maven Compiler plugin, without luck.

[2019-04-08 15:52] geoand commented on #1923
Should we fail at build time when we encounter this?

[2019-04-08 15:52] FroMage commented on #1923
Note that this used to work when I tested it a few months ago, as SVM did support method param annotation names from reflection.

[2019-04-08 15:53] FroMage commented on #1923
We should not fail at all, we should figure out if SVM regressed and file upstream if yes. This is the recommended way of doing RESTEasy in Quarkus.

[2019-04-08 15:54] cescoffier commented on #1923
And to be cleared, it works perfectly well in JVM mode and hot reload mode.

[2019-04-08 15:57] cescoffier commented on #1918
Hum... I'm able to reproduce it.

[2019-04-08 15:59] cescoffier commented on #1918
Works if I add:
[code]

It should not be the case.

[2019-04-08 16:01] aloubyansky commented on #1918
Really? I couldn't reproduce it given the same Maven and Java versions.

[2019-04-08 16:02] cescoffier commented on #1918
Can it be a cache issue, because I now removed the dependency and it passes.

[2019-04-08 16:03] aloubyansky commented on #1918
Try disabling it with -Dquarkus-classpath-cache=false

[2019-04-08 16:05] cescoffier commented on #1918
Nope...

1. I've the issue
2. I add the dependency -> issue fixed
3. I remove the dependency -> issue still fixed ?????

Cache or not cache does not change anything

[2019-04-08 16:08] geoand commented on #1923
Yeah, I remember we added some compiler flag to take parameters into account when reloading

[2019-04-08 16:10] Edubits commented on #1918
I'm seeing the same behaviour as @cescoffier, except that removing the dependency restores the non-working state.

In my own application (which uses more extensions) adding the dependency causes the next class not to be found: `io.quarkus.agroal.deployment.DataSourceDriverBuildItem`
So I probably explicitly adding the agroal deployment as dependency will fix/workaround this.

[2019-04-08 16:10] aloubyansky commented on #1918
Ok, I see it. I had to start clean, not just remove io/quarkus. Thanks. Looking into it.

[2019-04-08 16:12] vorburger commented on #1622
FTR: I've just tested (using https://github.com/quarkusio/quarkus-quickstarts/pull/137) that this indeed works now.

[2019-04-08 16:15] emmanuelbernard opened #1925 "Improve flyway extension to be more cohesive with Quarkus"
Hey @cristhiank
Thanks for the contribution, this is really exciting.

I was trying to see how we should go and make it even easier. Reading the Quarkus Flyway guide, it creates the dichotomy that you have to do different things depending on whether you want to run it native or not. We should eliminate these things and make sure the steps are the same whether in HotSpot or in GraalVM. For example

[2019-04-08 16:37] FroMage commented on #1886
This seems to be due to the naming strategy and databases using case-insensitive table names, which the `update` mode can't find back. We will try to find a solution to make this work OOTB.

[2019-04-08 16:37] cristhiank commented on #1925
Hi @emmanuelbernard ,

Thanks for your revision. I agree with everything you say. I was a bit conservative with the extension because I had no experience with Quarkus and I didn't know the vision in deep to be sure about what could be done and what couldn't, but now it's clearer and I can get it done.
I will be working on it and I will let you know if I get stuck on something.

[2019-04-08 16:40] FroMage commented on #1906
Hi,

Could you try with the newly released `0.13` please?

[2019-04-08 16:53] rbaumgar commented on #1886
Still in 0.13
mvn compile quarkus:dev
[code]

[2019-04-08 16:55] emmanuelbernard commented on #1908
Of course, I should have stated the obvious that’s Quarkus is an open platform :)

[2019-04-08 16:56] gastaldi opened #1927 "Quarkus 0.13.0 removes important classes from my application by considering them unused"
When building [my app](https://github.com/fabric8-launcher/launcher-backend/) in Quarkus 0.13.0, it removes classes considered [unused](https://paste.fedoraproject.org/paste/IZ4qczWdZyxi8EEmKpaxaQ), but they are necessary.

To reproduce this error, run the https://github.com/fabric8-launcher/launcher-backend/blob/master/web/src/test/java/io/fabric8/launcher/web/filters/SecuredIT.java test (Quarkus

[2019-04-08 16:57] gastaldi commented on #1927
This is the class that Quarkus removes: https://github.com/fabric8-launcher/launcher-backend/blob/master/core/core-impl/src/main/java/io/fabric8/launcher/core/impl/filters/SecuredFilter.java

[2019-04-08 17:00] mkouba commented on #1927
This should be fixed in https://github.com/quarkusio/quarkus/pull/1924.

[2019-04-08 17:02] vorburger commented on #1623
I gave this some thought today, and wanted to propose a PR with something simple and pragmatic as a starting point (just via a `gradle-it-run` kind of thing, which actually runs the Gradle built JAR...) - but then noticed that the `quarkus/devtools/gradle-it` is actually broken on current 1964a5da85b50744b7d72c0c6a98f979b13eeb64 master (it used to work before; which underlines the importance of ad

[2019-04-08 17:07] gastaldi commented on #1927
I can confirm that https://github.com/quarkusio/quarkus/pull/1924 fixes this issue

[2019-04-08 17:55] #1871 closed

[2019-04-08 17:55] #1891 closed

[2019-04-08 17:55] #1897 closed

[2019-04-08 18:05] dmlloyd commented on #1623
The missing dependency would be `quarkus-core`.  So something is definitely seriously wrong.  What platform is this?

[2019-04-08 18:09] gsmet opened #1928 "If Quarkus cannot be started, the TestResourceManager tries to start the resources several times"
In the integration main tests, I currently have a failure causing Quarkus to not start.

The `TestResourceManager` has already started the Kafka resource.

But if Quarkus has failed to start, the `ExtensionState` is not saved so we try to start the `TestResourceManager` several times leading to:
[code]

[2019-04-08 19:12] vorburger commented on #1623
Thanks! But I do see `quarkus-core-999-SNAPSHOT.jar` in `target/dependencies/compile/` ...

FYI note that `quarkus/devtools/gradle-it/pom.xml` uses `maven-dependency-plugin` to populate `target/dependencies/compile/`, which `quarkus/devtools/gradle-it/build.gradle` then refers to using `compileOnly fileTree(dir: 'target/dependencies/compile', include: '*.jar')` ...

... so this (above) technically

[2019-04-08 19:32] vorburger commented on #1623
Ha! To my surprise, that **actually** helped... see #1929 (specifically its 6f4ba314efc371fbf382fbdd5124f0e21c9c6d3c). With #1929, I now get a working JAR built by Gradle in `quarkus/devtools/gradle-it` again!

But now the tests fail under Gradle (so to get the JAR you actually need to build it using `../gradle/gradlew -x test build` to skip tests), but that may be an entirely different problem -

[2019-04-08 19:45] dmlloyd commented on #1887
This is a little bit of a complex issue.  We parse the configuration by iterating all the available configuration keys, so we can detect invalid items and also use free-form object mapping.  The mapping of configuration key to environment variable name is one-way: that is, you can only find the environment variable from the configuration key, not the other way around.  Putting these two things tog

[2019-04-08 19:58] johnaohara commented on #1636
#1810 fixes this issue

[2019-04-08 19:58] #1636 closed

[2019-04-08 20:07] vorburger opened #1930 "Gradle test: Attempted to mix @SubstrateTest and JVM mode tests in the same test run. This is not allowed."
Simply adding below e.g. to https://github.com/quarkusio/quarkus-quickstarts/blob/master/getting-started/build.gradle as suggested in https://github.com/quarkusio/quarkus-quickstarts/pull/139 :

[code]

makes `../gradlew clean test` in `quarkus-quickstarts/getting-started` run and pass both tests in class [GreetingResourceTest](https://github.com/quarkusio/quarkus-quickstarts/blob/master/getting-s

[2019-04-08 21:23] #1915 closed

[2019-04-08 21:43] dubemarcantoine commented on #1906
@FroMage thanks for the reply!

After updating, the Gradle task `quarkusDev` now starts and does not stop once the build is done. However, when I have the panache dependency, the server still does not start, although it does without it. `curl: (7) Failed to connect to localhost port 8080: Connection refused`

Just updated my example repo to have code examples.

[2019-04-08 22:51] aloubyansky commented on #1918
Until the next release containing the fix, you can use the following settings.xml as a workaround
[code]
Sorry for the inconvenience.

[2019-04-09 00:36] stuartwdouglas commented on #1930
So the issue is that they would both want to use the same port. Also it is expected that you should run the JVM tests before building the native image, so if there are issues you pick them up earlier.

[2019-04-09 02:17] stuartwdouglas commented on #1893
@starksm64 it does not look like we have any tests for basic auth?

The issue here is that because the check is happening at the JAX-RS level it is already past the Undertow security layer. By default Undertow will attempt to authenticate via basic auth if the headers are present, however it will not issue a challenge unless it knows (generally via a security constraint) that auth is required.

I

[2019-04-09 05:27] soul2zimate commented on #1911
Thanks @gsmet If this is not supported, please feel free to close this one.

[2019-04-09 06:06] masini commented on #1893
Other servers that use Undertow like Wildfly or Thorntail use the web.xml approach also for JAX-RS.

You put a constraint inside web.xml and the challenge start.

Do you think in Quarkus this approach cannot be used ?

[2019-04-09 07:42] esteban-aliverti opened #1934 "UberJar SecurityException when containing signed files"
I'm building a UberJar through the _quarkus-maven-plugin_ plugin but the generated jar can't be executed due to the following exception: **_Exception in thread "main" java.lang.SecurityException: Invalid signature file digest for Manifest main attributes_**

This issue can be avoided by removing certain files from within the META-INF dir that is generated inside the Uber Jar. The files I'm talking

[2019-04-09 08:09] wgresshoff opened #1935 "Swagger-UI doesn't support german umlauts"
The support for german umlauts seems missinging. I have an OpenAPI definition like this
[code]
The result is in the attached image.
![Authorities](https://user-images.githubusercontent.com/17199614/55783824-98bfe400-5aaf-11e9-8706-05126931ebab.png)

[2019-04-09 08:16] Edubits commented on #1918
Thanks @aloubyansky, that works for now

[2019-04-09 08:50] FroMage commented on #1906
OK thanks.

[2019-04-09 09:23] gsmet commented on #1930
So, that's exactly the problem: with Maven, unit tests are run by Surefire and integration tests by Failsafe so they don't conflict.

I don't know if it's feasible to do the same in Gradle but that would be the idea.

[2019-04-09 09:33] mkouba opened #1937 "CDI scope types declared @Inherited are not inherited"
See [4.1. Inheritance of type-level metadata](http://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#type_level_inheritance).

You could start in `io.quarkus.arc.processor.Beans.createClassBean(ClassInfo, BeanDeployment)`.

[2019-04-09 09:37] FroMage opened #1938 "Maven plugin `quarkus:list-extensions` usage with `add-extension`"
`list-extensions` lists them this way:

[code]

NOTE: here we say `name` but it's really not clear what it refers to.

And we can pass them to `add-extension` in the following ways:

[code]

We should ask ourselves what the `list-extensions` output is going to be used for. If it is used to build a `add-extension` command then the format we use to present the extension coordinates should be `restea

[2019-04-09 09:40] FroMage opened #1939 "Maven plugin `quarkus:add-extension` inconsistent"
If I do this it can detect duplicates:

[code]

With the `quarkus-` prefix too:

[code]

But not this:

[code]

Leading to invalid `pom.xml` file.

[2019-04-09 09:40] stalep commented on #1930
Hi @vorburger, unfortunately I guess I've probably only talked about this on either zulip or the internal meetings, we should really add this to one of our guides. Yes, Gradle does it differently compared to Maven. Gradle have integration tests in different folders than unit tests (ref; https://docs.gradle.org/current/userguide/java_testing.html#sec:configuring_java_integration_tests). While Maven

[2019-04-09 09:41] FroMage opened #1940 "Maven plugin `quarkus:add-extension` should add more than just import"
When I add extensions like `resteasy` or `hibernate-orm` or `hibernate-orm-panache` I want to add a REST endpoint in the first case, and default config and an entity in the second case.

Is this something we can do or does it belong in another tool?

[2019-04-09 09:43] FroMage opened #1941 "Hibernate ORM guide missing `update` option in documentation"
The quickstart includes it but the https://quarkus.io/guides/hibernate-orm-guide does not list the option for the `quarkus.hibernate-orm.database.generation` setting. It also fails to list the default value.

[2019-04-09 09:48] FroMage opened #1942 "Guides about JSON support misleading"
I went to https://quarkus.io/guides/ trying to find how to write a JSON web client, so searched for `json` and only found https://quarkus.io/guides/rest-json-guide which does not even mention a client.

My first impression was that we just did not support JSON web clients. We should make sure this never happens.

We need to make sure people find the rest client guide from the rest server guide, an

[2019-04-09 09:50] stalep commented on #1906
Hi, I tested your repo just now (thanks for providing an easy way to test it!). We have a bug since Quarkus expects a driver for the datasource since panache is added as an dependency even if its not used. Because of this the runner.jar is empty (it is still created).

[2019-04-09 09:51] FroMage opened #1943 "In DEV mode, the default landing page should list endpoints"
I don't care if it depends on Swagger UI or not, but it should list all registered REST endpoints and some info like the data source used.

The default 404 page should also list those in DEV mode.

[2019-04-09 09:58] #1920 closed

[2019-04-09 10:08] gsmet commented on #1942
Is it really an issue?

In the TOC on the right of the guides page, you have:
 * Writing REST JSON Services
 * Validation with Hibernate Validator
 * Using the REST Client

That seems good enough to me.

[2019-04-09 10:13] FroMage commented on #1906
Oh, that's the error? Then it's a duplicate of https://github.com/quarkusio/quarkus/issues/1732, no?

[2019-04-09 10:14] FroMage commented on #1942
It's really not good enough. This works only for people who think "I want a client" but not for people who think "I need to call a JSON service". We have to make sure every kind of user finds our way in our documentation.

[2019-04-09 10:15] stalep commented on #1906
Ah, yup it is. It fails both for creating the runner.jar and dev-mode.

[2019-04-09 10:17] stalep commented on #1906
Duplicate of #1732

[2019-04-09 10:46] stuartwdouglas opened #1944 "Dev mode compilation fails if the .m2 path has special characters"
DevModeMain is not handling the encoding correctly after reading it from the the text file

[2019-04-09 11:05] #1928 closed

[2019-04-09 11:20] cypressious commented on #1374
0.13.0 is out but I can't seem to get it running. A working example of a Gradle + kotlin project would be greatly appreciated.

[2019-04-09 11:40] gsmet opened #1947 "Document Undertow SSL support"
See this question on SO: https://stackoverflow.com/questions/55588382/quarkus-https-restful-service/55591988 .

[2019-04-09 11:56] RapidTransit opened #1949 "Rest client fails to Register with no @Path"
The `@RegisterRestClient` will fail if there is no `@Path` on the type level
Version 0.11.0 will work
Version 0.12.0+ will not

Reproduced:
https://github.com/RapidTransit/quarkus-rest-client

Stack Trace:
[code]

[2019-04-09 12:12] kenfinnigan commented on #1949
Per the [specification](https://download.eclipse.org/microprofile/microprofile-rest-client-1.2.0/microprofile-rest-client-1.2.0.html), it appears to be undefined as to the expected behavior when `@Path` is not present on the interface type.

I believe, however, that the intention was that it should always be present.

[2019-04-09 12:23] FroMage commented on #1769
Just tried again, and really my Eclipse goes into an infinite "building workspace" loop with this patch. What version of Eclipse are you using? I've Version: 2018-12 (4.10.0).

[2019-04-09 12:47] #1941 closed

[2019-04-09 13:03] gsmet commented on #1949
@kenfinnigan isn't it worth it to polish the UX a bit?

If it's not hard to support it, it would be a worthy addition IMHO. If not, maybe we should at least provide an understandable error message.

[2019-04-09 13:04] kenfinnigan commented on #1949
I agree, I was simply commenting on the specification perspective

[2019-04-09 13:04] gsmet commented on #1949
OK, cool.

[2019-04-09 13:17] RapidTransit commented on #1949
@kenfinnigan The first example doesn't contain the `@Path` on the type level which was confusing

It only cropped up because I'm dealing with a third party that uses different sub domains instead of paths

[2019-04-09 13:21] FroMage commented on #1941
Thanks!

[2019-04-09 14:02] geoand commented on #1610
I could look into this on my own time (which probably means over the weekends).
@rohanKanojia @rhuss To get a little more context, could you explain a little more how you envision the fmp integration would work?

[2019-04-09 14:12] geoand commented on #1610
LOL, although I'm a Spring Boot guy :P

Ah yes, I remember someone on StackOverflow mentioning this as well.

So the idea is to be able to seemlessly use the docker daemon of Minishift / Minikube to do the build... I would think it's definitely doable, but I would like more details for @rhuss :)

[2019-04-09 14:15] #1880 closed

[2019-04-09 14:16] mkouba commented on #1927
Closed by https://github.com/quarkusio/quarkus/pull/1924.

[2019-04-09 14:16] #1927 closed

[2019-04-09 14:17] mkouba commented on #1914
@dansiviter Could you pls verify whether this issue is solved by https://github.com/quarkusio/quarkus/pull/1924?

[2019-04-09 14:23] tqvarnst opened #1955 "Add instructions how to do a chained build in OpenShift"
Add a section on how to create a minimal image in OpenShift using S2I and chained builds to the **Deploy on OpenShift with S2I** guide.

Using chained build the resulting image that is used for the application can be lowered from >500MB (compressed) to <40MB (compressed).

[2019-04-09 14:56] halhelal opened #1958 "MyBatis extension"
Are there any plans to provide extensions for mybatis framework?

[2019-04-09 15:10] FroMage commented on #1769
ATM it never settles down. I always see a rebuild in the status bar bottom right. Every few seconds it starts a new build.

[2019-04-09 15:57] weolopez opened #1960 "Build Error: unsupported features in 11 methods"
Please Close: this is related to local nexus.

Building native https://github.com/quarkusio/quarkus-quickstarts/tree/master/using-vertx
Using: GraalVM Version 1.0.0-rc14

[code]

[2019-04-09 16:21] cescoffier commented on #1960
Hum.. does not happen in the `development` branch, so probably fixed already.

[2019-04-09 16:24] #1955 closed

[2019-04-09 16:27] cescoffier commented on #1769
@aloubyansky  Should we close this one? The PR is merged?

[2019-04-09 16:30] aloubyansky opened #1961 "Second execution of BuildMojo may fail if the runner jar exists"
[code]

[2019-04-09 16:31] cescoffier commented on #1769
Closing, if there is still an issue, let's create another issue.

[2019-04-09 16:31] #1769 closed

[2019-04-09 16:36] gsmet commented on #1960
I think it's due to the same bootstrap issue we had.

We release 0.13.1 this evening, it will hopefully be fixed.

[2019-04-09 16:58] machi1990 opened #1963 "Support cleanup of deleted classes during live reload"
PR [#1872](https://github.com/quarkusio/quarkus/pull/1872) added support to cleanup deleted config files during live reload issue #1772.

Following discussions with @gsmet on the same issue,  I am opening this issue to add support for cleaning up deleted classes during live reload.

As a matter of continuity to my precedent PR mentioned above, I'll check on this issue later on tonight and propose

[2019-04-09 17:19] #1935 closed

[2019-04-09 18:18] ebramirez opened #1964 "Improve Extension Author Guide"
This is a request to improve the [Extension Author Guide](https://quarkus.io/guides/extension-authors-guide).

The current documentation is pretty impressive but completely inaccessible for the uninitiated like me.

A real life example would be of tremendous help. For example, I would like to create a Quarkus extension for Vaadin, which looks like a rewrite of the project [Vaadin CDI](https://gith

[2019-04-09 18:20] ebramirez commented on #1964
It looks like @manovotn had similar [thoughts](https://github.com/quarkusio/quarkus/issues/1690#issuecomment-476552043) in #1690.

[2019-04-09 18:26] nmcl opened #1965 "Fix minor typo in Quarkus.io website around MicroProfile"
Quarkus.io website (bottom) has Microprofile when it should be MicroProfile.

[2019-04-09 18:33] #1965 closed

[2019-04-09 20:07] gsmet commented on #1960
@weolopez can you check if it's fixed with the just release 0.13.1?

[2019-04-09 21:55] rafaeltuelho opened #1967 "improve kubernetes/openshift guide"
The actual [openshift guide](https://quarkus.io/guides/kubernetes-guide.html) use a multiple step approach to get the native package into a container on top of Openshift. This step can be simplified a little bit using the [Red Hat Universal Base Image](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/getting_started_with_containers/using_red_hat_base_contai

[2019-04-09 22:47] #1961 closed

[2019-04-09 23:59] cristhiank opened #1969 "Panache repository doesn't work when injected in Kotlin test"
I am getting the following error when I use the "augmented/enhanced" methods on the Panache repository injected in a kotlin test class:

[code]

IMO after some deep debugging I think it is related to https://github.com/quarkusio/quarkus/issues/770  because the "augmented" class is present in the `test-clases/` folder but the ArC container is returning the non-enhanced class.

This error shows only

[2019-04-10 01:46] starksm64 commented on #1964
The guide has been significantly expanded in the 0.13 release, so what feedback do you have on that relative to this issue?

https://quarkus.io/guides/extension-authors-guide

[2019-04-10 01:56] danielpetisme commented on #1368
that means a double declaration?
[code]
IMHO not very "sexy" but very simple to implement. So far I don't other alternatives.

[2019-04-10 02:31] richsanram opened #1971 "Native image charset encoding UTF-8"
When quarkus-maven-plugin is used to build a native image, the resulting binary cannot support UTF-8 characters.

I resolved this setting file.encoding property by hand in the command:

docker run -v /path/example/target:/project:z --rm quay.io/quarkus/centos-quarkus-native-image:graalvm-1.0.0-rc15 **-J-Dfile.encoding=UTF-8** -J-Djava.util.logging.manager=org.jboss.logmanager.LogManager -H:Initial

[2019-04-10 03:10] gastaldi opened #1972 "Colorized logging output is gone in 0.13.0"
In 0.12.0, the logging output is colorized and like:

[code]

However in 0.13.0, the output is no longer colorized and changed to:

[code]

[2019-04-10 03:39] gastaldi commented on #1972
This is my project structure:

[code]

And the contents of `application.properties`:
[code]

[2019-04-10 07:46] Edubits opened #1974 "OpenAPI OASFilter not working in dev mode"
When using a OASFilter this works when normally running, but when ran in dev mode it throws a ClassNotFoundException.

I've made a sample based on the using-openapi-swaggerui quickstart: https://github.com/Edubits/quarkus-quickstarts/tree/openapi-filter

Exception when running `mvn clean compile quarkus:dev`:
[code]

[2019-04-10 08:29] aloubyansky commented on #1918
This should be fixed now in the released 0.13.1.

[2019-04-10 08:29] #1918 closed

[2019-04-10 08:52] ebramirez commented on #1964
You are right that the docs have improved, but still an example of how to write an extension from scratch would be fantastic.

[2019-04-10 08:58] FroMage commented on #1368
Yeah, me neither. WDYT @gsmet @Sanne ?

[2019-04-10 09:00] gsmet commented on #1972
Reproduced here with a quickstart.

[2019-04-10 09:28] gsmet commented on #1972
This is due to this patch: https://github.com/quarkusio/quarkus/commit/c8ba30fda793913d468db43ff55bce04aa8be696#diff-19c0f957ef85cdc7857ae75b02ef9503R38 .

The logger is accessed too early and thus the log manager is initialized before we set it properly.

Furthermore the logic is incorrect in:
[code]
in JVM mode this condition is always triggered and the signal handling is not installed and the w

[2019-04-10 09:46] tsegismont commented on #1862
Would be glad if you could point me to an example in other extensions because I don't know what a default bean is.

We do it for the Vert.x and EventBus instances already. In the guides, we favor the Axle API, but all flavors have their merits depending on the use case.

ok

[2019-04-10 09:55] geoand commented on #1969
I'll debug this later as well and see what I can come up with

[2019-04-10 10:09] FroMage commented on #1969
Sounds like a dupe of #1724, no?

[2019-04-10 10:11] geoand commented on #1969
I believe it is. However @cristhiank reported that it works for Java and not Kotlin. I have not been able to get it to work for Java either

[2019-04-10 10:32] FroMage commented on #1969
Yeah, let's close it. Don't hesitate to reopen if it turns out to be different, though.

[2019-04-10 10:32] #1969 closed

[2019-04-10 10:33] FroMage commented on #1717
I'm going to close this due to inactivity. Don't hesitate to reopen if you can reproduce.

[2019-04-10 10:33] #1717 closed

[2019-04-10 10:33] FroMage commented on #1906
Thanks.

[2019-04-10 10:33] #1906 closed

[2019-04-10 10:36] FroMage commented on #1701
The trick is going to mark it as transient for serialisers such as JSON-B without depending on it. I can do that at augmentation time, but not in the source code.

[2019-04-10 10:36] FroMage commented on #1701
Because it requires the `@JsonbTransient` annotation.

[2019-04-10 10:47] #1732 closed

[2019-04-10 11:22] rsvoboda opened #1976 "IllegalArgumentException: No bean classes specified after upgrade to 0.13.1"
Kabir pointed out troubles when upgrading from 0.12.0 to 0.13.1, he sees `No bean classes specified` when running tests. Same troubles with master.
Seems to be related to https://github.com/quarkusio/quarkus/commit/f01dd040c7a9747a06665db85e598e17d54e2ee2 changes

Easy way to reproduce: https://github.com/kabir/review-tool/tree/upgrade-q-13 ++ mvn clean test -DtestConfigEndpointTest [-Dquarkus.ver

[2019-04-10 11:24] aloubyansky opened #1977 "Default maven repository update and checksum policies"
In case update and checksum policies are not explicitly configured, e.g.
[code]
Maven will use `daily` and `warn` respectively. However maven-resolver which we use during test classloading setup will log a warning and use `never` as the update policy.
To keep it consistent with the Maven default behavior our maven repo initializer should use the same defaults.

[2019-04-10 12:32] danielpetisme commented on #1964
As discussed on Zulip, I'll work on this one.

[2019-04-10 12:32] Sanne commented on #558
resolved by @machi1990 via PR #1757

[2019-04-10 12:32] #558 closed

[2019-04-10 13:23] #1976 closed

[2019-04-10 13:44] geoand commented on #1610
@rhuss I think the docker [tarball context](https://docs.docker.com/engine/reference/commandline/build/#tarball-contexts) would be applicable here, WDYT?

[2019-04-10 13:58] #1977 closed

[2019-04-10 14:00] gsmet commented on #1974
It's a classloader issue in https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/SmallRyeOpenApiTemplate.java#L67.

@dmlloyd should we use the TCCL, pending any better options?

[2019-04-10 15:14] pipinet opened #1984 "gradle quarkusBuild FAILED"
demo:  https://github.com/qwlabs/quarkus-issue

[code]

[2019-04-10 15:26] rhuss commented on #1610
Well, not really a its about getting access to the created binary. I think, the most elegant way would be to use **multistage Docker builds** (i.e. running the native build + creating the final image with one 'docker build') is the way instead of storing the (linux) binary on your local FS as intermediate step.

Unfortunately Minshift's Docker daemon is too old to support multistage builds, but if

[2019-04-10 15:49] geoand commented on #1610
From the docs I thought that the tarball context could be used to "bundle" the created binary as well.

I'll hopefully have a look over the weekend

[2019-04-10 16:01] vorburger commented on #1622
TODO: Add a non-regression test for test after #1985 has been merged...

[2019-04-10 16:09] yanaga commented on #1886
Works on MariaDB. Probably related to case-sensitive/insensitive identifiers on the database. In this case, H2 - as pointed on the issue.

[2019-04-10 16:22] nmcl opened #1987 "MINOR Getting Started Guide example fix"
In https://quarkus.io/guides/getting-started-guide the example shows the output of curl on example application which returns the string 'hello'. However, on some environments that string ends up being placed on the same line as the command line prompt which can make it harder to see, so suggest changing ...

 @Produces(MediaType.TEXT_PLAIN)
    public String hello() {
        return "hello";

...

[2019-04-10 16:22] Sanne commented on #1886
Right the problem is the way H2 and PostgreSQL handle capitalization.

I don't think we can fix this in Quarkus; using "update" requires some care:
- be precise with naming, for example:
  -  explicitly set a lowercase name for the table using the `@Table`
  - choose a custom naming strategy which does the lowercasing for you
  - reconfigure the database to deal with this differently...
  - you co

[2019-04-10 16:24] Sanne commented on #1886
P.S. I think we'll have to close this issue but I'm happy to keep it open for a bit longer, so to have a conversation about what should be done - maybe no changes at all, but we could consider at least logging a warning when people combine "update" within `quarkus:dev`.

[2019-04-10 16:25] nmcl opened #1988 "Typo in Getting Started Guide"
In https://quarkus.io/guides/getting-started-guide it talks about "Let’s modify the application and add a companion bean. Create the src/main/java/org/acme/quickstart/GreetingService.java file with the following content" when it's the GreetingResource.java class.

[2019-04-10 16:26] nmcl commented on #1988
Ignore!

[2019-04-10 16:26] #1988 closed

[2019-04-10 16:26] Sanne commented on #1987
ouch, the boss is back writing in all-capitals :)

[2019-04-10 16:28] hwellmann opened #1989 "Two conflicting default values for quarkus.log.console.darken"
I've just upgraded to 0.13.1 and tried the new config property `quarkus.log.console.darken`.

I set it to 1 in my `application.properties`, and the log output is now indeed more readable on a white background.

On the other hand, I'm now getting a new warning which doesn't really make sense:

[code]
Is there a confusion about a configurable property vs. its configurable default value?

[2019-04-10 16:31] nmcl commented on #1987
;)

Suggest the same for the example modification later in the section:

@ApplicationScoped
public class GreetingService {

    public String greeting(String name) {
        return "hello " + name + "\n";
    }

[2019-04-10 16:38] Sanne commented on #1987
@nmcl thanks, sent a PR.

A suggestion: for any such small detail it might be easier to just edit the file on the web UI.
For example in this case, navigate to  https://github.com/quarkusio/quarkus/edit/master/docs/src/main/asciidoc/getting-started-guide.adoc you can then create a git commit and send a PR directly.

[2019-04-10 16:39] vorburger opened #1991 "Depending on rest-assured (in some particular way, maven-dependency-plugin with <useRepositoryLayout>true?) fails Maven build under Java 11"
The PR #1929 (mine) failed to build with this interesting message:

[code]

It had passed when I locally built using Java 8 - this is a Java 11 specific build problem (reproducibly locally when building that PR with Java 11).

I'll work around it in that PR, but wanted to raise this issue for discussion whether we may would like to add some suitable `<exclusion>` (?) in some Quarkus POM?

[2019-04-10 16:39] nmcl commented on #1987
Though the tests also need to be changed:

@QuarkusTest
public class GreetingResourceTest {

    @Test
    public void testHelloEndpoint() {
        given()
          .when().get("/hello")
          .then()
             .statusCode(200)
             .body(is("hello\n"));
    }

    @Test
    public void testGreetingEndpoint() {
        String uuid = UUID.randomUUID().toString();
        given()

[2019-04-10 16:43] vorburger commented on #1991
Just FTR, the part of #1929 which causes above [is this change](https://github.com/quarkusio/quarkus/pull/1929/commits/482b8130d308bc730410533a904831b1715c9213#diff-2b9562b93b598dc54e2b1b4fd62b4c10) .

[2019-04-10 16:45] ml5174 commented on #1960
Looks like our corporate nexus was not updated with the BOM dependencies and it manifested itself in this way.  Thanks.
Can close

[2019-04-10 16:51] RapidTransit opened #1992 "RuntimeUpdatesProcessor always tries to compile package-info.java"
RuntimeUpdatesProcessor always tries to compile package-info.java because it matches the `.java` file extension but does not get a `.class` file in the compiled directory.

I didn't make a test case, I could if it is necessary.

A possible solution:
https://github.com/quarkusio/quarkus/commit/8402942ef406c933bacf0686491d197d1cec7d9b

I wanted to minimize any changes while including a test to verif

[2019-04-10 17:00] vorburger commented on #1991
OK, so this does the trick and solves this problem:

[code]

FTR: I first tried an exclusion of `com.sun:tools`, but that didn't help.

[2019-04-10 17:43] gastaldi opened #1994 "JAX-RS ExceptionMappers are never invoked"
The following `ExceptionMapper` from my application used to be called in Quarkus 0.12.0 when an `IllegalArgumentException` is thrown in JAX-RS endpoints. It is no longer called in 0.13.1:

[code]

[2019-04-10 17:46] gastaldi commented on #1994
In the logs, I see some mappers being removed:

[code]

[2019-04-10 17:47] gastaldi commented on #1994
@mkouba any thoughts?

[2019-04-10 17:53] gastaldi commented on #1994
Test that reproduces the problem: https://github.com/fabric8-launcher/launcher-backend/blob/master/web/src/test/java/io/fabric8/launcher/web/endpoints/LauncherParamConverterProviderIT.java

[2019-04-10 18:13] gastaldi commented on #1994
Weird that in 0.12.0 I see the same log output in https://github.com/quarkusio/quarkus/issues/1994#issuecomment-481792708 and the mapper is called.

[2019-04-10 19:36] emmanuelbernard commented on #1958
There is no immediate plan but that looks like a typical extension that someone could write based on the one we did for Hibernate for example. Interested?

[2019-04-10 21:09] #1991 closed

[2019-04-10 21:22] renandeandradevaz opened #1996 "ApplicationScoped inside ApplicationScoped not working with Kotlin"
In my test project: https://github.com/renandeandradevaz/quarkus-kotlin

I have a Resource:
GreetingResource.kt
[code]

one service:
GreetingService.kt
[code]

another Service:
GreetingService2.kt
[code]

when I started the application with the command:
`./mvnw compile quarkus:dev`
and call the HTTP method:
`curl -X GET http://localhost:8080/greeting`

An error happens:

`Caused by: kotlin.Uniniti

[2019-04-10 21:35] gastaldi commented on #1994
This seems to be a bug in Resteasy.

[2019-04-10 21:37] cniweb commented on #1790
@dhoffi Yes, you are right, that makes the support of Gradle quite limited useful

[2019-04-11 04:27] Scisci75 opened #1997 "Support for RSocket"
Hi,
have you thought about adding support for the RSocket protocol?
I think it's a good replacement/alternative for Rest communications.
Thanks
Mirko

[2019-04-11 06:57] mkouba commented on #1994
It's definitely not related to the ArC bean removal feature - your `IllegalArgumentExceptionMapper` does not need CDI at all, and so it should be fine to use the default RESTEasy injector.

[2019-04-11 07:18] cescoffier opened #1998 "quarkus:dev fails on empty project"
Creates an empty project, without any sources or resources and run:

[code]

Either the error messages must be updated to mention that the project must at least contain 1 file, or it should run and waits until we have content.

[2019-04-11 07:33] cescoffier opened #1999 "Resources without a @Path on the class fails"
the Following resource:

[code]

gives: `=> RESTEASY003210: Could not find resource for full path: http://localhost:8080/sync`

[2019-04-11 07:47] cescoffier opened #2000 "NPE with bean validation if the @Produces is not set"
[code]

If you un-comment the `@Produces` then it works, without you get:

[code]

[2019-04-11 08:10] Sanne commented on #1934
Allowing users to customize the list of exclusions by configuring the `quarkus-maven-plugin` is a good idea.

[2019-04-11 08:16] anadollu opened #2001 "After upgrade to 0.13.1 JPA project hot deploy fails"
Hi,

After changing quarkus version to 0.13.1, project hot deploy fails. Then downgrade to  0.13.0 version all errors gone. According to logs, project runtime loses quarkus.datasource.driver value when hot deploy.

You can find error logs below.

[code]

[2019-04-11 08:49] gsmet commented on #2001
@anadollu I can't reproduce it. Any chance you could share a reproducer and how to reproduce it?

Thanks!

[2019-04-11 08:49] tsegismont commented on #1862
@emmanuelbernard @FroMage I took a look at the rx-panache branch. It seems to be the Panache Rx extension could rely on the Reactive Pg extension for the `PgPool` setup. And perhaps it makes more sense to have `import.sql` logic in the Panache Rx extension.

[2019-04-11 09:25] cescoffier commented on #1862
About the "reactive API" : Axle first, but "Bare" and "RX" should be also produced (that means it's a documentation thing).
About `import.sql`, I'm good with having Panache doing it. @FroMage WDYT?

[2019-04-11 09:34] gsmet commented on #2000
Yeah, the issue was that RESTEasy returns null instead of an empty array when no `@Produces` is defined.

[2019-04-11 09:38] FroMage commented on #1862
We can totally do `import.sql` in panache rx, and if we ever move it (one day, in the future) up to the reactive-pg extension it would be compatible because panache-rx depends on it and all panache-rx users would still have the import working if we move it "up".

[2019-04-11 10:23] #1972 closed

[2019-04-11 10:26] stalep commented on #1984
Yes, ATM there is an issue with running the `quarkusBuild` task directly. We do recommend you to just use the `build` task as that automatically runs `quarkusBuild`.

[2019-04-11 10:34] anadollu commented on #2001
@gsmet Hi, in order to reproduce

1- Please run project below with quarkus:dev,
https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-orm-resteasy
2- change something or add new endpoint
3- send request to trigger hot deploy.
4- Then you can see the same error logs on the terminal

Thanks.

[2019-04-11 10:34] #1606 closed

[2019-04-11 10:34] #1484 closed

[2019-04-11 10:35] gsmet commented on #2001
Hmm, that's exactly where I went to reproduce it.

Let me try again.

[2019-04-11 10:37] anadollu commented on #2001
don't forget to change quarkus version to 0.13.1

[2019-04-11 10:42] gsmet commented on #2001
Yes, I'm using 0.13.1. I make a small change to `FruitResource` and it's OK.

What is your environment? OS? JVM? And also path to your directory, we had a few issues with spaces and special characters in the past?

[2019-04-11 10:47] gsmet opened #2003 "Document how to create a multi-module Maven project"
Now that we have support for multi-modules Maven project, we should properly document them:
 * the empty `beans.xml` trick;
 * using `quarkus:dev` in a multi-module environment

[2019-04-11 11:16] emmanuelbernard opened #2004 "Add documentation for console dark mode"
Today the property is quarkus.log.console.darken / QUARKUS_LOG_CONSOLE_DARKEN
Let's add a documentation in the log guide.

[2019-04-11 12:28] pipinet commented on #1984
[code]

[2019-04-11 12:50] gsmet opened #2005 "Add tests for the startup log output"
It got broken numerous times either in dev mode or java mode.

We need to add tests for that. And soon.

@cescoffier said the easiest would be to add tests in the Maven tests. But we also need to test the output of `java -jar my-runner.jar`

[2019-04-11 12:58] andreaneri opened #2006 "failed compiling getting-started"
Hello,
i'm just clonin:
git clone https://github.com/quarkusio/quarkus-quickstarts.git

and run:
./mvnw compile quarkus:dev:
[INFO] Scanning for projects...
[INFO]
[INFO] --------------------< org.acme:quarkus-quickstart >---------------------
[INFO] Building quarkus-quickstart 1.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-reso

[2019-04-11 12:59] #2000 closed

[2019-04-11 13:08] #1987 closed

[2019-04-11 13:21] cescoffier commented on #2006
Can you try with 0.13.1?

[2019-04-11 13:23] cescoffier commented on #2005
That should be possible to implement at the same place:

1. Use the maven invoker to do `mvn package`
2. Use the Java executor (do we have it already?) to do `java -jar ...`

[2019-04-11 13:32] cescoffier commented on #1840
FYI, we are going to provide a mail client soon. It won't be based on `javax.mail` (due to its blocking aspects) but would allow you to send emails (and attachments).

[2019-04-11 13:33] rsvoboda opened #2007 "Change com.acme to org.acme to be in sync with majority"
Change com.acme to org.acme to be in sync with majority

[code]
[code]

[2019-04-11 13:53] machi1990 commented on #2005
@cescoffier, won't the first option collide with this issue [migrate maven invoker integration tests] (https://github.com/quarkusio/quarkus/issues/1909)?

[2019-04-11 13:57] gsmet commented on #2005
I think he was talking about the Maven invoker API, not the invoker plugin.

[2019-04-11 14:05] mkouba commented on #1994
Not a regression but a bugfix in RESTEasy - see https://issues.jboss.org/browse/RESTEASY-1364 and the relevant commit: https://github.com/resteasy/Resteasy/commit/28d62dae1e8b52554d3c79750cd4249254bdca33#diff-f16a5e4b96ee62250cd95607dbd3d6acR695.

[2019-04-11 14:07] #1994 closed

[2019-04-11 14:09] vorburger commented on #2005
@cescoffier what is the Java executor? This issue seems kind of related to what I'm up to in #1986...

It should be trivial to assert (logging) output from running the JAR (and the Native) there.

/Cc @stalep

[2019-04-11 14:37] emmanuelbernard opened #2008 "Clarify Quarkus stop time message"
The message is confused as it said Quarkus stopped in 6000s as it was mentioning the diff since startup time.

[2019-04-11 14:47] emmanuelbernard opened #2010 "Align application.properties key style to key = value"
Hibernate doc are using a mix of `key : value` and `key = value`

[2019-04-11 14:51] vorburger opened #2012 "Azure DevOps Build_JDK11_Linux Job build should set PATH for java 11 instead of 8 binary to be used"
#1986 is passing the Windows_Build Job (which, presumably is Java 8?) but fails in the Build_JDK11_Linux Job due to what I suspect is a configuration issue of a detail of how the CI jobs are set up - and which could affect other similar tests like what #1986 does in the future as well (e.g. this will likely also affect #2005):

Basically what #1986 does is that it builds a test app Quarkus JAR - u

[2019-04-11 14:59] younss commented on #1999
do you have more log?

[2019-04-11 15:38] andreaneri commented on #2006
@cescoffier i just updated this line in pom.xml:
<quarkus.version>0.13.1</quarkus.version>

but i get:
[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:0.13.1:dev (default-cli) on project quarkus-quickstart: Failed to run: Failed to resolve Quarkus application model: Failed to locate current project among the loaded local projects -> [Help 1]

[2019-04-11 16:01] anadollu commented on #2001
java version "1.8.0_202"
macOs 10.13.6
IntelliJ 2018.3.6

But no chance, i couldn't make it work. getting crazy :)

[2019-04-11 16:01] gsmet commented on #2006
ˋquarkus:dev` won’t work in the parent directory of all the quick starts. You need to be in a specific QuickStart.

[2019-04-11 16:08] gsmet commented on #2001
And the path to your project? Does it contain a space or any other special character?

[2019-04-11 16:24] anadollu commented on #2001
contains '-' char like api-services but the example to do so

[2019-04-11 16:28] radcortez commented on #1724
+1

[2019-04-11 16:47] gsmet commented on #2001
I suppose you already tried a `mvn clean`?

[2019-04-11 17:26] #2010 closed

[2019-04-11 17:43] cescoffier commented on #2001
I've tested on Mac OS X and no problem.

[2019-04-11 17:46] cescoffier commented on #1511
That has been done.

[2019-04-11 18:08] geoand commented on #1996
Do you absolutely need `@ApplicationScoped`?

If not, then you could change `GreetingService` to:

[code]

[2019-04-11 18:33] vorburger opened #2014 "quarkus-maven-plugin (0.13.1) does not work with the (weird!) Apache Maven "3.5.0" (Red Hat 3.5.0-4.3) in registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift"
Investigating https://github.com/quarkusio/quarkus-images/issues/13 shows that quarkus-maven-plugin does not work with Maven 3.5.0 (Red Hat 3.5.0-4.3) in `registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift`...

Interestingly, I seem to be able to build and run at least `quarkus-quickstarts/getting-started` just fine with an _Apache Maven 3.5.0 (ff8f5e7444045639af65f6095c62210b5713f42

[2019-04-11 18:36] vorburger commented on #2014
$ cat /etc/centos-release
CentOS Linux release 7.6.1810 (Core)

$ sudo yum install maven

$ /usr/bin/mvn -version
Apache Maven 3.0.5 (Red Hat 3.0.5-17)
Maven home: /usr/share/maven
Java version: 1.8.0_201, vendor: Oracle Corporation
Java home: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.201.b09-2.el7_6.x86_64/jre
Default locale: en_IN, platform encoding: UTF-8
OS name: "linux", version: "3.10.0-957.10.1

[2019-04-11 18:40] cescoffier commented on #2014
Are we really talking about Maven 3.0.5? It's been released in February **2013**!

[2019-04-11 18:51] vorburger commented on #2014
hang on, I got confused with 3.0.5 VS 3.5.0 ... :smiley_cat:  Let's just forget about the 3.0.5 you get from `yum install maven` on CentOS 7.6, and instead focus on the 3.5.0 used in `registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift`.

I don't think Quarkus should be expected to support this, and think this is another better solution for https://github.com/quarkusio/quarkus-images/

[2019-04-11 18:58] geoand commented on #2004
There is a slight problem however, when one adds `quarkus.log.console.darken` to `application.properties` that value is ignored (because https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/logging/LoggingResourceProcessor.java#L116 takes precedence).
The environment variable however works just fine

[2019-04-11 19:18] machi1990 commented on #1998
I can update the error message to something like: `The project ${projectName} has no output yet. Make sure it contains at least one source file.`

[2019-04-11 20:07] nmcl opened #2015 "Error in "Building native image guide""
With reference to https://quarkus.io/guides/building-native-image-guide.html it states "In addition to the regular files, the build also produces target/quarkus-quickstart-runner. You can run it using: ./target/quarkus-quickstart-runner."

Yet after using ./mvnw package -Pnative on the original example, there was no quarkus-quickstart-runner in the target directory.

[2019-04-11 21:03] psycho-ir commented on #2007
@rsvoboda
I can start to work on it if no one has taken it yet.

[2019-04-11 21:45] anadollu commented on #2001
I've tried https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-orm-resteasy at home with another iMac and it worked.

Then I've tried another multi module setup scenario, and it is failed. This is complicated and can not be explained without sample. I created a sample project = https://github.com/anadollu/quarkus-sample

You can reproduce the problem with this project.
May be we

[2019-04-11 22:21] Dudelilama opened #2016 "java.lang.UnsatisfiedLinkError: ..ECKeyPairGenerator.generateECKeyPair"
When running a generated bin containing a jdbc connection to postgres (azure) in a docker container, we get a missing lib warning:

WARNING: The sunec native library, required by the SunEC provider, could not be loaded. This library is usually shipped as part of the JDK and can be found under <JAVA_HOME>/jre/lib/<platform>/libsunec.so. It is loaded at run time via System.loadLibrary("sunec"), the

[2019-04-11 23:06] gsmet commented on #2014
Aren't we supposed to have something enforcing Maven 3.5.3+?

Because that's the version we require.

[2019-04-11 23:19] mxmind opened #2019 "The proper way to scale vertx verticles"
Hi,

My team and I'm planning to switch our platform on quarkus, but I stuck on the very simple operation for pure vertx. This is scaling verticle instances using deployment options.

Does it possible to scale vertx verticles? If true, please provide an example.

Thanks in advance

[2019-04-11 23:46] vorburger commented on #2014
We use the maven-enforcer-plugin for this in Quarkus' own build-parent/pom.xml, but not in the Quick Start. We could add to to (each...) quickstart, but it would not help in this particular case - this describes a problem where with a Maven 3.5.0 from Apache.org it works, but with with Maven 3.5.0 (Red Hat 3.5.0-4.3) in registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift it does not..

[2019-04-12 00:56] danieloh30 opened #2020 "Failed to execute goal io.quarkus:quarkus-maven-plugin:0.13.1:native-image"
It occurs when I execute "mvn package -Pnative -Dnative-image.docker-build=true -X" on minishift or minikube.

minishift ver. - v1.29.0+72fa7b2
minikube ver. - 1.0.0
======== Error Logs =======
[DEBUG]   (f) debugSymbols = false
[DEBUG]   (f) dockerBuild = true
[DEBUG]   (f) dumpProxies = false
[DEBUG]   (f) enableHttpUrlHandler = true
[DEBUG]   (f) enableJni = false
[DEBUG]   (f) enableServer = f

[2019-04-12 01:55] danieloh30 commented on #2020
Solved this issue. The root cause is that it's not working to build a native image using minikube docker.

[2019-04-12 05:02] halhelal commented on #1958
Yes, I am interested. I will look at the hibernate extension. I am also looking at Oracle jdbc driver.

[2019-04-12 05:28] rsvoboda commented on #2007
@psycho-ir not taken, you can go ahead!

[2019-04-12 06:18] sgerr opened #2021 "Hardcoded password for keystore in undertow plugin"
When initializing KeyManagerFactory at io.quarkus.runtime.configuration.ssl.ServerSslConfig:158 hardcoded password of "password" is used. Should be configurable property, let's say "quarkus.http.ssl.certificate.key-store-password". Like this:

@ConfigItem
public Optional<String> keyStorePassword;

at io.quarkus.runtime.configuration.ssl.CertificateConfig

[2019-04-12 07:19] cescoffier opened #2022 "Cannot use TestContainers, QuarkusTest and JPA together"
This should work and it does not:

[code]

This is because the server is started before the database and connect to it immediately:
[code]

The (ugly) workaround is:

[code]

[2019-04-12 07:26] #1314 closed

[2019-04-12 07:31] gsmet commented on #2014
No, our own plugin is supposed to enforce it. But maybe it fails too early now.

[2019-04-12 07:33] esteban-aliverti commented on #1934
@Sanne I've created a new PR which includes the latest modifications from master and that adds support for this feature in both, the maven and the gradle plugin.

[2019-04-12 07:37] bsideup commented on #2022
Hi @cescoffier,
Although this does not seem to be Testcontainers' issue, If I may, I would like to suggest a few things here:
1) static port binding here is dangerous and most probably will break on CI env. I would suggest using random ports and either framework's test config mechanism or system properties like [here](https://github.com/testcontainers/workshop/blob/master/step-6-adding-redis.md).

[2019-04-12 07:42] #2008 closed

[2019-04-12 08:08] stalep commented on #1984
Ah, I'm sorry i assumed that it was because of the `quarkusBuild` task. I'll test out your repo and test locally!

[2019-04-12 08:11] FroMage opened #2026 "Panache-common incorrectly depends on vertx"
I'm pretty sure it does not depend on it, and that's a historical legacy

[2019-04-12 08:36] volalex opened #2027 "Enable metrics in vert.x extension"
It would be nice if quarkus will provide a vert.x metrics in MP Vendor metrics. For now vert.x metrics are disabled.

[2019-04-12 08:42] himanshukapoor04 commented on #1840
Would it also have ability to sign messages like using DKIM?

[2019-04-12 08:58] cescoffier commented on #1840
@himanshukapoor04 we can add this feature. @pmlopes WDYT?

[2019-04-12 09:01] himanshukapoor04 commented on #1840
Should I close this bug then?

[2019-04-12 09:07] paulvi opened #2029 "Question: How to terminate running app? Ctrl+C does not work"
How to terminate running app? Ctrl+C does not work ?

![image](https://user-images.githubusercontent.com/1614482/56025825-7f37ca00-5d45-11e9-9118-9a3a95ca16eb.png)

[2019-04-12 09:43] lordofthejars opened #2031 "Null Pointer Exception when using Bean Validation and no @Produces"
When using Bean Validation in a JAX-RS endpoint, if the endpoint is not annotated with `@Produces` then next exception is thrown:

[code]

I think we should either send an exception explaining the reason or gently assume `application/json` if not specified.

Happy to provide a PR.

[2019-04-12 09:52] gsmet commented on #1840
@himanshukapoor04 I changed the title of the issue to be more general. We definitely need an issue to track this.

[2019-04-12 10:12] gsmet commented on #2031
Already fixed: https://github.com/quarkusio/quarkus/pull/2002 .

Not defining a `@Produces` should be supported even if it's *heavily* recommended to define it when building native applications (it allows to reduce the size of the image).

[2019-04-12 10:13] gsmet commented on #2031
Thanks for reporting it. I plan to release a 0.13.2 early next week.

[2019-04-12 10:13] #2031 closed

[2019-04-12 10:14] vorburger commented on #2012
So looking at https://github.com/quarkusio/quarkus/blob/master/azure-pipelines.yml, we see `jdkVersionOption: '1.11'` ... using `vmImage: 'Ubuntu 16.04'` and in that we run (a container?) `imageName: 'quarkus-jdk11:$(build.buildId)'` ...

... via https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/maven we can find https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Task

[2019-04-12 10:23] #2026 closed

[2019-04-12 10:45] rsvoboda commented on #2029
Ctrl+C is the way. I tried it with quarkus-quickstarts - application-lifecycle-events and it works.
Checked on macOS and Windows Server in VirtualBox.

If you are somehow stuck you can try Task Manager to kill the process.

[2019-04-12 10:46] #2029 closed

[2019-04-12 11:22] lordofthejars opened #2033 "Register kubernetes extension"
When running `./mvnw quarkus:list-extensions` you see a lot of extensions but one that is set in guides but not registered is the one about Kubernetes.

`io.quarkus:quarkus-kubernetes`

I am using Quarkus 0.13.1

[2019-04-12 11:22] pmlopes commented on #1840
I've added the following issue: https://github.com/vert-x3/vertx-mail-client/issues/102 to track DKIM support

[2019-04-12 11:47] vorburger commented on #2012
Duh; I'm stupid - I can just do that in (Java) code, of course. Incl. catering for if there is no JAVA_HOME set.

[2019-04-12 12:02] vorburger commented on #2005
FYI #1986 now proposes a new `QuarkusJavaLauncher` which should come in handy for this.

[2019-04-12 12:08] FroMage commented on #1701
I think it may be more than that, because I probably want to mark the public fields as ignored too, in favour of the accessors, to get lazy-loading right. JAXB complains if I have a public field and a public getter with the same bean name.

[2019-04-12 12:18] mkouba commented on #1999
Looks like a bug in `ResteasyScanningProcessor` - only classes annotated with `@Path` are registered as JAX-RS resources: https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyScanningProcessor.java#L296

[2019-04-12 12:28] mkouba commented on #1999
Actually, it seems that the **root resource classes** must be annotated with `@Path`. When I change the behavior I get: `RESTEASY003130: Class is not a root resource.  It, or one of its interfaces must be annotated with @Path`.

[2019-04-12 12:32] mkouba commented on #1999
JAX-RS spec - Terminology:

[2019-04-12 12:34] mkouba commented on #1999
@asoldano @ronsigal Could you pls confirm my finding?

[2019-04-12 12:37] lordofthejars commented on #2033
I can help with a PR.

[2019-04-12 12:43] #1914 closed

[2019-04-12 12:44] fndejong commented on #2021
I would like to take a stab at this one, I should have enough time in the coming weekend.

[2019-04-12 13:01] anadollu commented on #2001
I followed @gsmet advice and tried with master branch and problem solved. Even changes at other module dependencies are being automatically hot deployed now.

Again thank you @gsmet

[2019-04-12 13:01] #2001 closed

[2019-04-12 13:13] mkouba commented on #1656
For the record - I've created https://github.com/eclipse-ee4j/yasson/issues/260.

[2019-04-12 13:20] vorburger opened #2036 "Gradle IT built Quarkus JARs have Installed features: [] when built on Azure CI (but work locally)"
The test result logs from the upcoming new Gradle IT build in #1986 fail on Azure  on https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=1015 for all jobs with this problem:

[code]

whereas locally it works fine:

[code]

Can you spot the difference? :smile_cat: Locally where it works it's `INFO  [io.quarkus] (main) Installed features: [cdi, resteasy]` whereas on the Azure CI build i

[2019-04-12 13:26] vorburger commented on #2036
Wait, may be it's not just the Windows build .. the Build_JDK11_Linux Job just also failed, with the same problem. Works locally though. Hm. I'll close this issue because as described it's not a correct report - will re-open if needed.

[2019-04-12 13:27] cescoffier commented on #2019
Did you try to use the regular `DeploymentOption` and set the number of instances?

[2019-04-12 13:29] cescoffier commented on #2020
First, check that your docker socket is not using the minikube/minishift docker socket.

Then, `mvn package -Pnative -Dnative-image.docker-build=true` will create the executable using the Linux format.

When you to the `docker build` (to create the image with the executable packaged above) you can connect to the mikube / minishift docker socket.

[2019-04-12 13:29] cescoffier commented on #2020
BTW if this works, it must be documented....

[2019-04-12 13:40] #480 closed

[2019-04-12 13:41] danieloh30 commented on #2020
minishift/minikube is running in a separate virtual host and it does not support mount a local file system docker -v into the docker engine running in minishift/minikube. On Mac OS, it needs to run Docker machine(i.e. Docker4Mac) locally first then "mvn package -Pnative -Dnative-image.docker-build=true" works.

[2019-04-12 13:41] #2020 closed

[2019-04-12 14:10] vorburger commented on #2012
I think we can close this issue, because I've worked around it in the proposed new `QuarkusJavaLauncher` in 8836a9e in #1986 by reading `JAVA_HOME` and prefixing `java` with it - that's the short term fix for this issue; the longer term fix is Microsoft/azure-pipelines-tasks#10103.

Leaving this issue open only as a reminder that the `QuarkusJavaLauncher` should probably be moved somewhere else (w

[2019-04-12 14:35] vorburger commented on #2036
I've locally re-built #1986, even going as far as using https://www.azul.com/downloads/zulu/ and installing apache-maven-3.6.0 instead of using the Maven Wrapper, just to be as close as possible to the CI build on Azure, but can't reproduce it locally.

I thought perhaps when building the JAR some extensions are missing, so I've compared the output of the `maven-dependency-plugin` in `quarkus-grad

[2019-04-12 14:39] cescoffier opened #2037 "Set strict version for json-smart"
The JWT extension as a transitive dependency on JSON Smart. This dependency use a range:

[code]

Would it be possible to use a strict version? Range leads to update checks that take times.

[2019-04-12 14:40] esteban-aliverti commented on #1934
The PR was approved and merged? Should I close this issue? Or is this something you guys will do?
Thanks for all the support!

[2019-04-12 15:10] bsideup commented on #2022
Well, if you use the JDBC URL-like containers, you can easily put it to `application.properties` like [here](https://github.com/testcontainers/testcontainers-java/blob/3b9e61e2b69db264db4e3f18dce8194d4debd2cf/examples/spring-boot/src/test/java/com/example/AbstractIntegrationTest.java#L12). The JDBC driver SPI will do the magic.

For other types of containers: yes, that's the algorithm :)

[2019-04-12 15:21] Sanne commented on #1934
right, this should have been closed. Thanks again!

[2019-04-12 15:21] #1934 closed

[2019-04-12 16:06] starksm64 commented on #2029
I see this issue from within the git bash shell on windows under vmware as well, so it is probably the shell not handling signals correctly. I was going to look into what the cause might be and if there was a configuration/setting to fix this.

[2019-04-12 16:06] pavolloffay opened #2040 "JAX-RS exceptions in native mode CNFE javax.ws.rs.ext.Providers"
Hi I see a lot of exceptions:
[code]

when I build https://github.com/quarkusio/quarkus-quickstarts/tree/master/using-opentracing to native executable. Is it problem with the example or bug?

Full log: https://pastebin.com/TN0yfCzN

[2019-04-12 16:10] nmcl opened #2041 "Kubernetes example needs clarification"
In https://quarkus.io/guides/kubernetes-guide.html at the start it says "First, you need to push the Docker image (created in the previous guide) to the image registry of your Kubernetes cluster. Depending on your cluster, there are several ways. "

Now at first glance this suggests building off the previous example and picking up from where we left off. If that is the case then the code example "

[2019-04-12 16:18] gsmet commented on #2041
@geoand looks similar to what we just discussed. Could you scan the guides to be sure everything is consistent with your quickstart PR introducing the proper Dockerfiles?

Thanks!

[2019-04-12 16:19] gsmet commented on #2033
Look for `extensions.json` in the tree, you need to add an entry here (if not already done in master). They are ordered alphabetically.

Thanks!

[2019-04-12 16:22] starksm64 commented on #2029
More info, this issue on the underlying console used by git indicates there are different shells used:
https://github.com/cbucher/console/issues/262#issuecomment-159164159

The default exe used by the Git-Bash desktop link is C:\Program Files\Git\git-bash.exe, and this does not handle the Ctrl-c correctly. If instead you launch the C:\Program Files\Git\bin\bash.exe the Ctrl-c does work, however, t

[2019-04-12 16:22] geoand commented on #2041
@gsmet PR: https://github.com/quarkusio/quarkus-quickstarts/pull/152 should fix the Dockerfiles for all the quickstarts.

[2019-04-12 16:26] gsmet commented on #2016
@Dudelilama

Two options here:
- If you don't connect to PostgreSQL using SSL, you can simply add `quarkus.ssl.native=false` to your `application.properties`.
- if you do, see the SSL guide here: https://quarkus.io/guides/native-and-ssl-guide - especially the `The SunEC library and friends` paragraph. You will need to include the SunEC library and the cacerts file into the Docker container and pas

[2019-04-12 16:34] geoand commented on #2041
@gsmet I also opened: https://github.com/quarkusio/quarkus/pull/2042, which I believe should address this issue when taken together with the PR in the quickstarts.

[2019-04-12 16:46] marcinczeczko commented on #1716
@evanchooly thanks. I tried changes you mentioned and looks fine now.
Regarding Dynamodb, I implemented extension for aws dynamodb sdk2, that includes async client that uses netty (and both async and blocking clients works fine on native image too). I did that on my fork, would you be interested in such contribution, so I could raise PR ?

[2019-04-12 17:00] aloubyansky opened #2043 "Validate Maven profile names and recognize -P"
When bootstrap reads Maven settings.xml in case a profile name used under activeProfiles does not exist the code will throw an NPE.
It also does not take into account -P command argument that can be used to activate extra profiles.

[2019-04-12 17:03] nmcl opened #2045 "Kubernetes example doesn't work as outlined in Quickstart"
Again referring to https://quarkus.io/guides/kubernetes-guide.html

Tried "docker build -f src/main/docker/Dockerfile -t quarkus-quickstart/quickstart ." with Dockerfile replaced with Dockerfile.jvm and Dockerfile.native

Then following the commands in the rest of the guide:

kubectl run quarkus-quickstart --image=quarkus-quickstart/quickstart:latest --port=8080 --image-pull-policy=IfNotPresent
de

[2019-04-12 17:08] gsmet commented on #2045
Could you try with `curl $(minikube service quarkus-quickstart --url)/hello/greeting/quarkus`?

I think it's just the URL that is invalid in the guide.

If you confirm it works, I'll go fix the guide.

[2019-04-12 17:14] gsmet commented on #2041
Fixed via the 2 PRs mentioned above. Will be part of the next release.

[2019-04-12 17:14] #2041 closed

[2019-04-12 17:15] gsmet commented on #2021
@fndejong cool, thanks!

[2019-04-12 17:28] ronsigal commented on #1999
Hi @mkouba,

One more point. The algorithm in Section 3.7.2 "Request Matching" of the JAX-RS spec starts with
[code]
Only root resources are eligible to be matched against a request. So there's no bug here.

-Ron

[2019-04-12 17:42] gsmet commented on #1578
PR merged.

[2019-04-12 17:42] #1578 closed

[2019-04-12 17:53] evanchooly commented on #1716
I can't make any promises but a PR is probably a good idea.

[2019-04-12 19:06] weolopez opened #2048 "MongoDB support"
Simple feature request to support mongodb.

I may end up creating our own extension following: https://quarkus.io/guides/writing-native-applications-tips

If I do, I'll update this issue with progress.

[2019-04-12 19:06] nmcl commented on #2045
Nope. Tried it and get:

RESTEASY003210: Could not find resource for full path: http://192.168.99.100:31505/hello/greeting/quarkus

[2019-04-12 19:08] geoand commented on #2033
Funny, I remember adding this.... I guess it must have got lost in the many rebases/squashes that were done during the development of the extension.

Thanks for spotting!

[2019-04-12 19:08] geoand commented on #2048
cc @evanchooly

[2019-04-12 19:08] geoand commented on #2045
Let me give it a tr

[2019-04-12 19:12] nmcl commented on #2045
/hello works, i.e., curl $(minikube service quarkus-quickstart --url)/hello returns hello. But is that correct?

[2019-04-12 19:15] geoand commented on #2045
Both `/hello` and `/hello/greeting/whatever` should work according to the code: https://github.com/quarkusio/quarkus-quickstarts/blob/master/getting-started/src/main/java/org/acme/quickstart/GreetingResource.java#L12

[2019-04-12 19:18] nmcl commented on #2045
The GreetingResource generated by the quickstart doesn't have /whatever in it but does have /hello which is how I determined /hello should work. Here's the code I see for completeness:

package org.acme.quickstart;

import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.core.MediaType;

@Path("/hello")
public class GreetingResource {

    @GET
    @Produce

[2019-04-12 19:21] geoand commented on #2045
So that solves the mystery then! We have extra code in the quickstart that is not mentioned anywhere is the guide. I guess we should just use `/hello` to make things easier and keep focus on the Kubernetes stuff instead of requiring users to add more code. WDYT @nmcl @gsmet ?

[2019-04-12 19:53] mxmind commented on #2019
Hi, @cescoffier I tried to do a simple app, the code looks very close to this snippet:
[code]
as a result, the ILE raised as expected
[code]
I pretty know that is not a valid deployment, because I tried to deploy already instantiated verticle.
In my case, I want to have an option to get of CDI support, plus have an ability to register service verticles as VxRifa receiver.

[2019-04-12 19:54] renandeandradevaz commented on #1996
Thank you so much! This works perfectly!

[2019-04-12 19:55] #1996 closed

[2019-04-12 19:55] geoand commented on #1996
You are welcome!

[2019-04-12 19:56] nmcl commented on #2045
Fine with me. Thanks.

[2019-04-12 19:57] geoand commented on #2045
Great! @gsmet feel free to review the relevant PR I opened, thanks!

[2019-04-12 20:21] mxmind commented on #2019
Just a bit more information, my current application has several factories to instantiate and deploy verticles, the deployment options are defined in application.conf. One of these factories is based on `weld-vertx` project. It works excellent. Now, my team doing the investigation, how we can move on `quarkus`.  In the case of Weld, we have everything to deploy and scale verticles by their class na

[2019-04-12 20:52] #2033 closed

[2019-04-12 22:05] marcinczeczko commented on #1716
@evanchooly See my PR #2050

[2019-04-13 02:48] pipinet commented on #1984
@stalep thanks.

[2019-04-13 07:07] lordofthejars opened #2051 "Add Flyway quickstart and docs section"
Currently, Flyway is supported but no quickstart (https://github.com/quarkusio/quarkus-quickstarts) example nor a section in the documentation. I think it will be great to have.

If you agree, please assign me the issue and I'll work on this providing a PR in both projects.

[2019-04-13 10:54] BechirLandolsi opened #2052 "Eureka discovery service with Quarkus"
Hello, I'm a big fan of RedHat products and recently I discovered the new native java framework "Quarkus". I want to use it in a microservice architecture, is it possible to use a quarkus microservice with Netflix Eureka for the discovery client? Thank u :)

[2019-04-13 11:09] geoand commented on #2052
Hi, there is no built in Eureka support in Quarkus. Quarkus mainly targets Kubernetes environments where no discovery service is needed because plain old DNS works out of the box when using the service name.

[2019-04-13 12:51] paulvi commented on #2029
OK, I am pay attention to what executable of Git Bash is ... TODO update here

[2019-04-13 13:43] geoand commented on #2022
@cescoffier  I think you could get around the problem is a slightly less ugly way like so:

[code]

with the use of `static` you wouldn't have to add the boiler plate of `beforeAll`.

[2019-04-13 14:58] cescoffier opened #2054 "Bad operand on stack"
When running `mvn clean verify -U -Pnative -Dmaven.repo.local=/tmp/repo -Psnapshot` from the getting-started directory (from the quickstart repository) I get:

[code]

[2019-04-13 14:59] cescoffier opened #2055 "Boostrap does not support enabling profiles with `-P`"
The current bootstrap support does not allow enabling profiles from the `settings.xml` using `-P...`

[2019-04-13 15:02] cescoffier commented on #2022
@geoand I've tried that, the application starts before the container so the connection failed.

[2019-04-13 15:16] geoand commented on #2022
@cescoffier weird...

I changed our `quarkus-integration-test-jpa-postgresql` integration, by removing the docker maven plugin and altered the test code to be:

[code]

and everything worked as expected. I see from the logs that testcontainers is running before the Quarkus augmentation and application startup.

[2019-04-13 15:30] dmlloyd commented on #1972
Just want to point out for future reference that it wasn't colorized logging that was gone due to the regression, it was the entire log manager.

[2019-04-13 15:54] gsmet commented on #2054
The `org.jboss.builder` package has been moved to `io.quarkus.builder`. Could it be related?

[2019-04-13 16:04] dmlloyd commented on #1989
This is happening due to a workaround I've put in to allow this value to be overridden directly by an environment variable.  I have a better fix coming up pretty soon though.  I'll keep this open until that fix gets in.

[2019-04-13 16:12] cescoffier commented on #2054
was it merged?

[2019-04-13 16:15] gsmet commented on #2054
Yes, it's in master.

[2019-04-13 16:17] #2045 closed

[2019-04-13 22:34] aloubyansky opened #2056 "Bootstrap workspace discovery should rely on the presence of parent in pom.xml"
The workspace discovery may start from any project in the workspace (in case of launching tests, very unlikely from the top one unless it's a simple project with no modules).
Currently, the top project is looked by checking whether the parent directory contains pom.xml, which is a very primitive approach. One of the reasons for that was to be able to discover the whole workspace starting from, e.g

[2019-04-14 06:29] aloubyansky opened #2058 "Throw an exception if no deps collected for a deployment artifact"
In case the deployment artifact appears to have no dependencies during bootstrap classpath resolution, an exception should be thrown immediately instead of interpreting it as simply having no dependencies.

[2019-04-14 10:56] geoand commented on #2055
Is this a duplicate of #2043?

[2019-04-14 11:29] nilshartmann opened #2061 "@ConfigProperty without @Inject does not work in test"
In the "Application Configuration Guide" it says:

_The @Inject annotation is not necessary for members annotated with @ConfigProperty, a behavior which differs from MicroProfile Config_

While this works in Beans, it does not work in `@QuarkusTest`s. In my test case I have to add `@Inject` to `@ConfigProperty` to get access to a configuration property. Is this different behaviour intended? Then i

[2019-04-14 13:43] renannprado commented on #1374
@geoand sorry for the delay, I finally tried version `0.13.1` and the bug mentioned before was solved.

@cypressious this sample is fully working: https://github.com/renannprado/quarkus-test/

[2019-04-14 14:20] cescoffier commented on #2055
Yes it is.

[2019-04-14 14:20] #2055 closed

[2019-04-14 14:20] cescoffier commented on #2055
Closing as duplicate

[2019-04-14 14:38] geoand commented on #1374
@renannprado glad to hear!

[2019-04-14 15:46] geoand commented on #2061
@nilshartmann I opened a PR that fixes the issue, thanks for bringing this to our attention!

[2019-04-14 16:02] renannprado opened #2063 "QuarkusNative now depends on Docker while building from Gradle?"
This is kinda of a question more than a bug report or something.
I was able to successfully try to use quarkus `0.13.1` to build a sample application, but what I found strange is that even though I have set (as I did in `0.12.0`) the `GRAALVM_HOME` variable, now it is using docker to build the application.

Is there an option to disable the need of using docker to build the native binary?

[2019-04-14 16:03] koziolk commented on #1909
@cescoffier I can work on it.

[2019-04-14 17:25] machi1990 commented on #1564
@gastaldi @gsmet I'll like to give this a shot.

[2019-04-14 22:30] marcredhat opened #2067 "RHEL 8 - documentation might need to be updated to mention zlib-devel as a requirement to build native executable; when using docker-ce, I had to use "nobest" e.g. dnf install docker-ce --nobest"
Hi,

I'm using GraalVM on RHEL 8 to build a native image as shown at https://quarkus.io/guides/building-native-image-guide.html

[marc@marc quarkus]$ echo $GRAALVM_HOME
/home/marc/graalvm-ce-1.0.0-rc14

./mvnw verify -Pnative
......
[INFO] --- quarkus-maven-plugin:0.13.1:native-image (default) @ getting-started ---
[INFO] [io.quarkus.creator.phase.nativeimage.NativeImagePhase] Running Quarkus nati

[2019-04-14 23:41] marcredhat commented on #2067
Also, might be worthwhile adding some instructions on using buildah:
[marc@marc quarkus]$ pwd
/home/marc/quarkus
[marc@marc quarkus]$ sudo mkdir /home/marc/quarkus/src/main/docker/target/
[marc@marc quarkus]$ sudo cp -R ./target/*-runner /home/marc/quarkus/src/main/docker/target/

[marc@marc quarkus]$ sudo buildah bud src/main/docker
STEP 1: FROM registry.fedoraproject.org/fedora-minimal
STEP 2: W

[2019-04-15 06:03] cescoffier commented on #1909
Great @koziolk, let me know how it goes!

[2019-04-15 06:04] cescoffier commented on #2022
Ok, let me retry... I may have missed something (annotation order maybe?)

[2019-04-15 06:07] cescoffier commented on #2022
Ok, that was the issue, good to know!
I'm going to change the title of the issue to work on a better integration as the one mention by @bsideup

[2019-04-15 06:07] geoand commented on #2022
If it doesn't work I can try again, perhaps I have done something wrong on my side :)

[2019-04-15 06:08] geoand commented on #2022
@cescoffier Great!

[2019-04-15 06:35] cescoffier commented on #2063
@renannprado to build a native executable using your OS architecture just use:

`mvn package -Pnative`

It won't use docker to run the build (but will need `GRAALVM_HOME`. The usage of docker is only required if you want a Linux64 executable and you are not using a Linux64 machine (on a Mac for instance).

For further reference: https://quarkus.io/guides/building-native-image-guide

[2019-04-15 06:35] cescoffier commented on #2048
There is work in progress in this area.

[2019-04-15 06:36] #2022 closed

[2019-04-15 06:37] rsvoboda commented on #2029
I use https://cmder.net/ on Windows and it works well both for git and color output.

[2019-04-15 06:39] cescoffier opened #2069 "Improve configuration when using TestContainer"
When using TestContainers, the container runtime may assign a random port to your container (let's say your database). We would need in this case to update the properties to use these values.

It may be possible with a specific config source and a few variables.

As an example: https://github.com/testcontainers/testcontainers-java/blob/3b9e61e2b69db264db4e3f18dce8194d4debd2cf/examples/spring-boot/

[2019-04-15 06:41] cescoffier commented on #2067
@marcredhat I just opened a PR to fix the doc.

Can you try with: `mvn clean package -Pnative -Dnative-image.docker-build=true`

[2019-04-15 06:52] cescoffier commented on #2067
@marcredhat about the zlib requirement, it is in the docker image or on the host? (sorry I don't have a RHEL8 machine)

[2019-04-15 06:57] cescoffier commented on #2067
@gsmet would you be able to test from your linux

[2019-04-15 07:01] mkouba commented on #1999
Thanks Ron. Marking the issue as invalid.

[2019-04-15 07:01] #1999 closed

[2019-04-15 07:13] cescoffier commented on #1999
Ok, I still found it a bit weird to force the user to add `@Path("/")`. We need to check how other frameworks are doing this.

[2019-04-15 07:33] andreaneri commented on #2006
@gsmet i'm here:
pwd
/Users/Andrea/Projects/quarkus-quickstarts/getting-started

 ls -ltr
total 72
-rw-r--r--  1 tinan291  staff   453  8 Apr 21:26 build.gradle
-rwxr-xr-x  1 tinan291  staff  9892  8 Apr 21:26 mvnw
-rwxr-xr-x  1 tinan291  staff  6301  8 Apr 21:26 mvnw.cmd
-rw-r--r--  1 tinan291  staff   321  8 Apr 21:26 settings.gradle
drwxr-xr-x  4 tinan291  staff   128  8 Apr 21:26 src
-rw-r--r-

[2019-04-15 07:43] mkouba commented on #1999
Yep, it is weird.

[2019-04-15 07:45] #2061 closed

[2019-04-15 08:05] renannprado commented on #2063
@cescoffier Sorry for not being clear, but I'm using Gradle. How would I do it with Gradle?

[2019-04-15 08:44] Dudelilama commented on #2016
Hi @gsmet

Thanks a lot for pointing me out the guide! I'll try the bundling part and let you know, whether it worked propperly :).

Kind Regards

[2019-04-15 09:23] gsmet commented on #2051
We have a start of something here: https://quarkus.io/guides/flyway-guide .

Feel free to add more information if you think they are needed.

[2019-04-15 09:27] cescoffier opened #2072 "Health check throw an NPE if the name if not set"
If you declare a health without a name, you get:

[code]

I don't disagree about the error, just that it should mention that the `name` must be set (and not this message).

[2019-04-15 09:27] lordofthejars commented on #2051
Isn't supported in Quarkus that you add the dependency and then the migration happens automatically?

[2019-04-15 09:31] aloubyansky opened #2073 "'provided' app deps should be added to the classpath in dev mode"
For the normal Quarkus application build flow we are not including dependencies with scope `provided`. However, `provided` dependencies must be on the classpath when the user application is being compiled. Which means they need to be added in the dev mode.

[2019-04-15 09:34] aloubyansky opened #2074 "Add quarkus-bootstrap:dev-mode-tree"
Similar to `quarkus-bootstrap:build-tree`, `dev-mode-tree` will display the dependencies used to setup the dev mode classpath.

[2019-04-15 09:44] gsmet commented on #2015
It should be fixed by:
 * https://github.com/quarkusio/quarkus/pull/2076
 * https://github.com/quarkusio/quarkus-quickstarts/pull/155

[2019-04-15 09:59] gsmet commented on #2040
Could you detail the steps used to reproduce the issue? Thanks!

[2019-04-15 10:27] suchwerk opened #2078 "Can't run quarkus:dev with maven 3.6.0"
Using maven 3.6.0

[code]

generating using-jwt-rbac example

[code]

and try to compile and run (` mvn compile quarkus:dev`) leads to:

[code]

[2019-04-15 10:55] suchwerk commented on #2078
It is a duplicate of #2056.

[2019-04-15 11:41] dmlloyd commented on #1974
Yes, for now use the TCCL.

[2019-04-15 12:14] badping opened #2079 "Performance optimization"
Hello,
i wrote three very simple performance tests to compare Quarkus with SpringBootDocker images.
I created a native image from Quarkus compared with a SpringBootDocker image.
My test can be found here:
https://github.com/badping/quarkus-quickstarts/commit/c649b0c63e8fdd3615ed34b7763fdf8e9cdaf767

On spring boot it can be found here:
https://github.com/badping/gs-spring-boot-docker/commit/9f2a68

[2019-04-15 13:11] aloubyansky commented on #2078
This doesn't look like a duplicate of #2056

[2019-04-15 13:16] aloubyansky commented on #2078
That could be a stupid question but which directory are you running `mvn compile quarkus:dev` from @suchwerk ? Thanks.
I couldn't reproduce it following the instructions so far.

[2019-04-15 13:27] FroMage commented on #467
@manovotn I've pushed an initial impl at https://github.com/FroMage/quarkus/tree/smallrye-context-propagation but we will need a special module for Arc context propagation, and possibly a new one for Jta too, because ATM it depends on Weld.

There's two things not working ATM:

- the CDI extension (Arc does not support extensions I think)
- the context propagation

Do you think you could take a lo

[2019-04-15 13:31] aloubyansky commented on #2078
@suchwerk did you start from an empty directory?

[2019-04-15 13:42] emmanuelbernard opened #2080 "RESTEasy Should we throw exception instead of WARN on multiple resources matching request"
When doing this by accident

[code]

[code]

Which I did not see and then got my demo all derailed.
The good news is once I looked at the console I figured it out. The bad news is that I did not look at the console since it was not fatal to my live coding.

Is there any good reason @asoldano to leave this as a warning vs stopping right away.
I'd love an option in RESTEasy set by Quarkus to fail fa

[2019-04-15 13:43] gsmet commented on #2079
/cc @johnaohara

[2019-04-15 13:45] gunnarmorling opened #2081 "Support javax.imageio"
Trying to access code in `javax.imageio`, I could this exception at *runtime*:

    Caused by: java.lang.UnsupportedOperationException: Not implemented yet for GraalVM native images
	at javax.imageio.ImageIO.read(ImageIO.java:138)

Support for this would be helpful to implement use cases like creating thumbnail images in a native application (serverless style).

[2019-04-15 13:49] gunnarmorling opened #2082 "Improve how need for JNI is reported"
When building a native image containing code that calls native methods via JNI, I get a build error like this:

    Error: Unsupported method sun.java2d.DefaultDisposerRecord.invokeNativeDispose(long, long) is reachable: Native method. If you intend to use the Java Native Interface (JNI), specify -H:+JNI and see also -H:JNIConfigurationFiles=<path> (use -H:+PrintFlags for details)

It would be nic

[2019-04-15 13:51] suchwerk commented on #2078
I did
[code]
from within my current projects working dir (including a pom.xml)

[2019-04-15 14:17] johnaohara commented on #2079
@badping thanks for sharing your benchmark.  I am assuming that you spun up the applications and timed hitting the rest endpoint?

So, in reality, I think this benchmark is actually testing the difference between the Virtual Machines (i.e. JVM vs GraalVM), rather than testing differences between frameworks (Quarkus vs SpringBoot).

GraalVM and JVM are designed for different use cases, so I would e

[2019-04-15 14:28] manovotn commented on #467
The JTA bits are test only, we can maybe move the tests to `/tests/` module and cheat it that way? Otherwise it uses simple CDI API things like `CDI.current()` which are supported by Arc as well.

Other than that, I will take over the Arc context propagation bit, starting from your branch.
Should find some time for on Tue/Wed! :-)

[2019-04-15 14:28] asoldano commented on #2080
@emmanuelbernard we went through few changes before that log was properly printed; we can double check if there's maybe an edge case where stopping and throwing an exception is wrong, but yeah, we can definitely have an option for that. Feel free to create a RESTEASY jira and link it here. Thanks.

[2019-04-15 14:51] FroMage commented on #2080
It does sound like an exception should be the right thing to do, indeed. I can't think of a way an application would be well-defined like this.

[2019-04-15 14:53] FroMage commented on #467
Oh, I did not know that Arc supported `CDI.current`, then you're right, we could move the Weld deps to the `test` scope, no?

[2019-04-15 14:56] cristhiank commented on #2051
Hi @lordofthejars actually I'm working on getting this done. Will be pushing the code soon.
See https://github.com/quarkusio/quarkus/issues/1925

[2019-04-15 15:48] gsmet opened #2084 "NPE in ClassLoaderCompiler with multi-module project"
Well, sort of: I'm building one of the quickstarts with master, without the patch fixing the parent pom detection applied. So all the quickstarts are in the workspace and some of them have a null `getClassesPath()` here: https://github.com/quarkusio/quarkus/blob/master/core/devmode/src/main/java/io/quarkus/dev/ClassLoaderCompiler.java#L124 .

While this specific issue will be fixed by Alexey's pat

[2019-04-15 15:51] psycho-ir commented on #1949
@kenfinnigan @gsmet I would like to work on this issue.
Could you give a bit more context what's the expected behavior?

and would be great if you mention which modules/classes you guess should be affected!

[2019-04-15 15:54] kenfinnigan commented on #2072
Raised issue in SmallRye Health: https://github.com/smallrye/smallrye-health/issues/28

[2019-04-15 15:59] cjkao opened #2086 "Add log rotation"
For long run process, log file need to be constraint size without exploded. Is there any sample code to register customized log handler?

[2019-04-15 16:05] gsmet commented on #1949
@psycho-ir cool, thanks.

So the idea is that we should register a REST client interface even if we just have a `@GET/POST/...` without any `@Path`.

Right now, in `SmallRyeRestClientProcessor`, we only register clients for classes with `@Path` (see https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-rest-client/deployment/src/main/java/io/quarkus/smallrye/restclient/deployment/Sm

[2019-04-15 16:09] hwellmann opened #2087 "New maven plugin goals quarkus:start and quarkus:stop"
It would be handy to have `start` and `stop` goals bound to the `pre-integration-test` and `post-integration-test` phases, respectively.

`start` should start the application in background, without blocking the Maven lifecycle like `quarkus:dev`. Dev mode/hot deploy is not required.

`stop` should stop the application instance started by the same lifecycle.

This would save all the overhead of bui

[2019-04-15 16:10] marcredhat commented on #2067
thank you!
zlib is a requirement on the host.
please also find a 1-minute video (build and run using buildah and podman) at http://bit.ly/2IkIKEr

[2019-04-15 16:14] gsmet commented on #2067
So the zlib-devel requirement was in our CONTRIBUTING.md but not in our guides. I added it here.

About including `podman` in the guides, why not. @cescoffier WDYT? I wouldn't want to make the guides less clear because of that. Or maybe we need a specific one?

[2019-04-15 16:28] rsvoboda commented on #2084
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/NPE.20with.20dev.20mode/near/163390566

I saw that at 17:35 :-D

[2019-04-15 16:41] gsmet opened #2088 "Finalize multiple datasources support for Agroal"
@LightGuard offered to take a look at this one so dumping what I have in mind.

In the end, this issue is mostly about documenting properly what we already had.

### ~~Move named datasources to `.named` config namespace~~

**Apparently, it won't be an issue.**

Right now, named datasources are implemented like this:
[code]
The issue is that the datasource name could conflict with current or future

[2019-04-15 16:46] dmlloyd commented on #2088
It would not conflict with a future Agroal property unless the property name would have the same sub-keys as a named data source.

For example, if I have a data source called `foo`, and Agroal added a property called `foo`, I'd have this:

[code]

If Agroal added a property called `foo.bar`, it'd still be OK:
[code]

So I wouldn't worry overmuch about this problem, especially if other high priorit

[2019-04-15 16:48] gsmet commented on #2088
Ok, that's good to know.

So maybe we can drop this part for now and work on the rest, @LightGuard .

[2019-04-15 17:06] LightGuard commented on #2088
Okay, sounds to me like what we want to do here now is figure out the bean resolution with datasources, correct?

[2019-04-15 17:30] gsmet commented on #2088
Yeah, mostly see if we can do better than having a specific qualifier.

[2019-04-15 17:49] kenfinnigan commented on #1949
One thing to consider is that it appears there might be a bug in the current code as it doesn't take into account the presence of `@RegisterRESTClient`, which is necessary for it to be considered for CDI bean creation.

So there may need to be two sets of interfaces, those that have reflection registered for them, and then those that have CDI Beans created for them

[2019-04-15 18:03] gsmet commented on #2056
Fixed by https://github.com/quarkusio/quarkus/pull/2057 .

[2019-04-15 18:03] #2056 closed

[2019-04-15 18:24] koziolk commented on #1909
@cescoffier Could you point me to an example of IT test that uses "an internal test harness mechanism".  Thanks.

[2019-04-15 19:54] aloubyansky commented on #2078
Ok, I reproduced this issue and yes, #2056 fixes it. Thanks for reporting!

[2019-04-15 19:54] #2078 closed

[2019-04-15 20:23] #1974 closed

[2019-04-15 20:25] #2007 closed

[2019-04-15 20:54] gsmet opened #2090 "Separate Gradle getting started from the Maven one"
(Creating the issue here so that it gets some visibility for new contributors)

Currently, the getting started project for Gradle in https://github.com/quarkusio/quarkus-quickstarts/ is the same as the Maven getting started.

This is a mistake as the project structure should be different (especially the unit tests and the integration tests should be in 2 different folders).

We need to create a sp

[2019-04-15 21:01] gsmet commented on #2005
@machi1990 were you interested by this one? It became pretty critical considering the number of times we broke the output.

I think for now we should stick to the standard APIs, we can still revisit later once we have the structure of the tests.

[2019-04-15 21:08] machi1990 commented on #2005
I started to check this, I run `mvn package` and then run `java -jar` but i have a problem with the ProcessBuilder API running `java` commands. Seems like it cannot find the java bin. Any ideas?

Otherwise my idea is to redirect the output in a log file and then check if it contains coloured output.

[2019-04-15 21:08] gsmet commented on #1992
@RapidTransit could you create a PR so that we can discuss it? That would be easier.

[2019-04-15 21:09] gsmet commented on #2037
This is becoming more and more an issue. I had my builds stalled for several minutes today due to Maven Central throttling us.

[2019-04-15 21:17] gsmet commented on #2005
Did you use something like `System.getProperty("java.home") + "/bin/java"` to get the Java home? (obviously, it needs to be made portable for Windows with proper separator char and `java.exe`).

So we should check it contains coloured output but we should also check that:
* it contains the list of features
* it does not contain `JBoss Threads version`

[2019-04-15 21:17] gsmet commented on #2005
@machi1990 ^

[2019-04-15 21:21] machi1990 commented on #2005
I tried something like that but had the same error after stealing some piece of code from `QuarkusDev.java` but had the same error. I'll investigate more tomorrow.

Once I got the process running I'll check this checks which seem appropriate.

[2019-04-15 21:45] evanchooly opened #2091 "RESTEasy adapter for Amazon Lambda support"
We need a [RESTEasy adapter](https://github.com/resteasy/Resteasy/tree/master/server-adapters) that registers a simple Java lambda which transforms the passed in [AwsProxyRequest](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/model/AwsProxyRequest.java) to the HTTP payload internally used to disp

[2019-04-15 21:46] evanchooly opened #2092 "decouple Undertow from RESTEasy"
We need to decouple Undertow from RESTEasy, which is something we have been needing to do anyway. This will allow us to avoid pulling in a whole server side stack on simple client usage, and it will also allow us to minimize the thread usage and so on.

[2019-04-15 21:48] evanchooly opened #2093 "Custom Runtime for Amazon Lambda"
We need a custom runtime that uses a blocking HTTP client of some sort (either netty or even just HttpUrlConnection is fine), and implements the simple Java lambda interface, passing AwsProxyRequest (and returning AwsProxyResponse). This can either be used directly or in combination with the RESTEasy adapter to provide RESTEasy integration.

[2019-04-15 21:49] evanchooly opened #2094 "Rework the Amazon Lambda extension"
We need to rework the extension to support the following permutations

  - Native image direct lambda usage (no RESTEasy, no undertow, just various client libs)
  - Native image direct RESTEasy (API Gateway?)
  - Java RESTEasy usage (direct invocation of the endpoints via Amazon's infrastructure)

[2019-04-16 01:41] vorburger commented on #2005
@gsmet @machi1990 have you seen that in  #1986 I am a [QuarkusJavaLauncher](https://github.com/vorburger/quarkus/blob/issue-1623_actually-add-gradle-it-run_ch.vorburger.exec/devtools/gradle-it-run/src/test/java/io/quarkus/gradle/it/QuarkusJavaLauncher.java) for this purpose?

[2019-04-16 02:51] rafaeltuelho opened #2096 "Maven archetype does not generate/include .gitignore file"
Include `.gitignore` in maven archetype

[2019-04-16 06:11] cescoffier commented on #1909
Here is some resources about the "internal test harness":
* Implemented in this [package](https://github.com/quarkusio/quarkus/tree/master/devtools/maven/src/test/java/io/quarkus/maven/it/verifier)
* You can see how it's used in [CreateProjectMojoIT](https://github.com/quarkusio/quarkus/blob/master/devtools/maven/src/test/java/io/quarkus/maven/it/CreateProjectMojoIT.java) and in [PackageIT](https:

[2019-04-16 06:14] lordofthejars commented on #2051
Great, then I close this issue.

[2019-04-16 06:14] #2051 closed

[2019-04-16 06:16] cescoffier commented on #2096
This is a good point, I would agree on adding it, but not that it won't initialize a "local" git repository. It just made it more convenient when you do `git init`.

What do others think?

[2019-04-16 06:17] #2072 closed

[2019-04-16 06:38] manovotn commented on #467
It has test scope even now - https://github.com/smallrye/smallrye-context-propagation/blob/master/jta/pom.xml#L41
What I meant was moving those tests to `smallrye-context-propagation/tests` module, since then you are left with only CDI dependency and should be able to reuse the module. At least I think so.

[2019-04-16 06:56] rsvoboda opened #2098 "Drop jolokia from JVM mode Docker as our monitoring strategy is around Prometheus"
Drop jolokia from JVM mode Docker as our monitoring strategy is around Prometheus
[code]

Jolokia comes via https://github.com/fabric8io-attic/base-images/blob/master/java/images/jboss/openjdk8/jdk/Dockerfile

[2019-04-16 07:34] johnaohara opened #2099 "Process for non-root docker builds redirect wrong stream"
The process builder that determines the UID and GID for linux docker builds is redirecting the outputstream instead of the inputstream to /dev/null in #1810

[2019-04-16 07:41] machi1990 commented on #2005
@vorburger thanks for the pointer. I managed to launch the bin after properly finding the java executable. Since your work on `QuarkusJavaLauncher.java` is not already in the master, I decided to use some piece of code that was already in `QaurkusDev.java`.

@gsmet @cescoffier @dmlloyd , any pointer on how to test for coloured output? [here](https://github.com/machi1990/quarkus/commit/b916ea405480

[2019-04-16 08:21] gunnarmorling opened #2101 "Better handling of optional dependencies"
When building a native image with code that depends on other classes in optional dependencies, a `NoClassDefFoundError` is raised. This makes sense but it's hard to fix by the application developer, as they will have to find out which dependency contains the missing class(es) and add them. Some support by Quarkus would be desirable, e.g. it could analyse any optional dependencies of the dependenci

[2019-04-16 08:30] badping commented on #2079
@johnaohara Thank you for your quick response.

I performed the test now with jvm Dockerfile (like you suggested):
./mvnw clean package
docker build -f src/main/docker/Dockerfile.jvm -t quarkus-quickstart/quickstart .
docker run -i --rm -p 8080:8080 quarkus-quickstart/quickstart

But the results are even more worse:
curl localhost:8080/cpu :
cpu,6485,6400,6428,6407,6406,6411,6420,6435,6412,6407

A

[2019-04-16 08:46] cypressious commented on #1374
@renannprado Thx for providing the repo. I can't get it to work on my Windows machine though. What OS are you on and what JDK are you using?

[2019-04-16 09:06] fandiluo opened #2102 "EntityManager doesn't work for quarkus scheduler"
[code]

[code]

[code]

[2019-04-16 09:11] johnaohara commented on #2079
@badping I ran both examples you provided, on the same JVM, with the same configuration;

Quarkus: cpu,2086,2151,2187,2223,2231,2252,2273,2269,2268,2321
SpringBoot: cpu,2132,2264,2258,2301,2259,2265,2265,2226,2234,2223

There are no significant differences, between invoking these functions via Quarkus or SpringBoot.

We do want to think about what defaults we use in the docker file though, as they

[2019-04-16 09:19] badping commented on #2079
Yes i agree its not a problem of quarkus itself (like you said).
The docker file configuration is causing the performance diffrence.
Thanks !

[2019-04-16 09:28] jskov opened #2103 "Gradle quarkusDev causes NoClassDefFoundError"
I could run the quarkusDev task with the 0.13.1 release.

But the current state of the gradle plugin (def029f) causes this failure:

[code]

This is probably due to refactoring in the proper quarkus projects, which is not properly reflected into the Gradle plugin, which assumes all necessary classes available from the single jar containing DevModeMain.
(or maybe it is because using mavenLocal() fo

[2019-04-16 09:48] johnaohara commented on #2099
PR: #2100

[2019-04-16 09:59] johnaohara commented on #2079
@badping please can you retest with the changes in #2105?

Thanks

[2019-04-16 10:40] #2099 closed

[2019-04-16 10:46] gsmet commented on #2103
@jskov I see you committed something to your fork, do you plan to open a PR?

[2019-04-16 10:47] gsmet commented on #2103
@jskov btw, I seem to remember @stalep saying that `quarkusDev` had problems and that you should use `build` instead. But if we have a fix for that, that's all better!

[2019-04-16 10:49] sberyozkin opened #2107 "SmallryeJwtProcessor will throw NPE if the configuration property is mistyped"
Having a typo in the `quarkus.smallrye-jwt.auth-mechanism=MP-JWT` property configuration will cause NPE:

[code]

[2019-04-16 10:49] gsmet commented on #2102
@mkouba I think you already fixed a similar issue for the tests? Or was it @FroMage ?

[2019-04-16 10:53] jskov commented on #2103
Yes, I have made the PR.

[2019-04-16 11:01] badping commented on #2079
@johnaohara
Now cpu performance is the same like on springboot image.
But the /tmp is around 1s = 20% slower.
Any idea why IO is a bit slower than the springboot image ?

Here are the results:
Quarkus:
cpu,1593,1530,1436,1439,1437,1444,1435,1437,1436,1436
cpu,1453,1409,1405,1404,1405,1406,1405,1404,1406,1404
tmp,6177
tmp,6032
tmp,5983
tmp,6168
memory,7003,8434,7190,7273,5928,5526,7486,6773,6691,80

[2019-04-16 11:04] badping commented on #2079
On more question about the native image. Is there also a diffrent image possible to speed up cpu performance ? For me the native is running with 2,4s instead of 1,4s on jvm image. Or do we need to live with it ?
Thanks.

[2019-04-16 11:14] jskov opened #2109 "Gradle quarkusDev hides console output from runtime"
Gradle hides all output from sub-processes.

To make quarkusDev in the Gradle plugin work more like Maven, it is necessary to copy the quarkus sub-process output to the console (System.out).

I have [change](https://github.com/jskov/quarkus/commit/d624602b0623323ca11e78310ce548a54c0f887a) that does this in my repository, but it affects same file as #2103, so I will await its resolution, before I c

[2019-04-16 11:26] renannprado commented on #1374
@cypressious I'm using debian and GraalVM `1.0.0-rc-14-grl`.
But what error are you facing exactly?

[2019-04-16 11:28] renannprado commented on #2063
@cescoffier unfortunately I'm unable to reopen the issue, but it still don't know how to do it with gradle.

[2019-04-16 11:34] asoldano commented on #2080
https://issues.jboss.org/browse/RESTEASY-2220

[2019-04-16 11:42] cescoffier commented on #2063
oh sorry, let me update thte title.

[2019-04-16 11:51] FroMage commented on #2102
Well, I think it was @stuartwdouglas in a232c70d13c17f335f0fb313e58ef3522443f8cf

[2019-04-16 11:53] FroMage commented on #2102
It was about adding request scopes to tests. But for jobs, I'm not sure request scopes make a lot of sense.

Well, actually you could totally argue that each job has its own request. I think it would actually make sense.

[2019-04-16 11:53] mkouba commented on #2102
Hm, currently we don't activate the request context for a scheduled method invocation. I think we should. I'll send a PR.

@fandiluo  The easiest workaround is to annotate the method with `@ActivateRequestContext` .

[2019-04-16 11:53] mkouba commented on #2102
Exactly.

[2019-04-16 12:17] dmlloyd commented on #2101
We might consider something like the ignore-missing-dependencies feature of GraalVM but limited in scope to just declared optional dependencies.

[2019-04-16 12:19] kenfinnigan commented on #2092
Are you referring to use of SmallRye REST Client? Or a different client usage?

[2019-04-16 12:22] emmanuelbernard opened #2110 "Create a @QuarkusLiveReload test"
The objective is to be able to test live reload ands changes of resources / classes in each extension. and simulate resource or class change and the impact on the functional extensionds.

eg hibernate tests for `import.sql` change.

The idea is t model it on `@QuarkusUnitTest`

[2019-04-16 12:40] fandiluo commented on #2102
@mkouba Thanks, it works .

[2019-04-16 12:49] evanchooly commented on #2092
@n1hility ?

[2019-04-16 12:52] pavolloffay commented on #2040
This happens when MicroProfile Rest Client is used inside a jax-rs endpoint:

[code]

[2019-04-16 13:01] emmanuelbernard opened #2113 "Offer a quarkus create-extension maven and gradle plugin command"
The idea is to simplify the extension creation path

[2019-04-16 13:19] marcinczeczko opened #2114 "Native Amazon lambda - missing reflection registration for API Gateway event inner classes."
I created simple amazon lambda with quarkus 0.13.2 that uses API Gatway events in the handler (APIGatewayProxyRequestEvent & APIGatewayProxyResponseEvent).
Java runner works just fine, but when running as native lambda I'm getting an error:
[code]
Looks like a deployment module for amazon lambda missing a registration of the inner class `APIGatewayProxyRequestEvent$ProxyRequestContext`. I think th

[2019-04-16 13:42] cypressious commented on #1374
@renannprado To be precise, I don't get any error at all. This is the console output

[code]

As you can see, the process just exits.

[2019-04-16 14:47] marcinczeczko commented on #2114
I run this on 0.13.3 with the same result. Please find a reproducer that doesn't require AWS (thanks to the lambci docker images)
https://github.com/marcinczeczko/quarkus-lambda-native

[2019-04-16 15:16] pipinet commented on #1984
@gsmet still issues  on 0.13.3
[code]

[2019-04-16 15:19] pipinet opened #2115 "Conflicting dependency packages with org.jboss:jandex"
org.jboss:jandex:2.1.1.Final  and org.jboss:jandex:2.0.5.Final

[2019-04-16 15:23] gsmet commented on #2115
Any chance we could get some more details?

[2019-04-16 15:28] sberyozkin commented on #1477
@dmlloyd, I'm seeing a `null` resource being returned [in this call](https://gitbox.apache.org/repos/asf?p=tika.git;a=blob;f=tika-core/src/main/java/org/apache/tika/mime/MimeTypesFactory.java;h=c6ffd25fa8335531981e85f49b9dfe8a03b7cf77;hb=8e6cf38407e72c9f254aa923b47eff61f10a7c75#l170) inside the native image (while it returns a non-null URL in the regular mode). Is this issue related to what I'm se

[2019-04-16 15:43] gsmet commented on #1477
Did you include the resource in your native image (see
`SubstrateResourceBuildItem`)?

On Tue, Apr 16, 2019 at 5:28 PM sberyozkin <notifications@github.com> wrote:

[2019-04-16 15:46] sberyozkin commented on #1477
Thanks for a hint, will try

[2019-04-16 16:06] geoand commented on #2115
Do you see this when using the maven jandex plugin perhaps?

[2019-04-16 17:54] LightGuard opened #2117 ""Cached" application properties when multiple tests are run"
It seems like the application.properties file is cached somewhere when multiple tests are run. You can see this fairly easily with the MultipleDataSourcesConfigTest in the agroal-deployment module, if you enable the test. You'll have to export or in some way get at the Shrinkwrap archive to actually see what the contents are.

I've tried lots of different ways to change what is be loaded, but it d

[2019-04-16 18:13] vsodaitis commented on #1984
Same for me (0.13.1, 0.13.2, 0.13.3). Getting this error when building with --stacktrace option on:
[error]: Build step io.quarkus.hibernate.orm.deployment.HibernateOrmProcessor#build threw an exception: io.quarkus.deployment.configuration.ConfigurationError: Hibernate extension cannot guess the dialect as no JDBC driver is specified by 'quarkus.datasource.driver'

Needless to say, I have quarkus.

[2019-04-16 18:47] LightGuard commented on #1517
Relates to #2088

[2019-04-16 18:48] LightGuard commented on #1517
You should be able to use the `@Datasource(datasource-name)` qualifier for this currently.

[2019-04-16 23:05] damnhandy opened #2118 "Add functionality to programmatically configure the underlying web server"
I'd like to be able to customize the underlying configuration of the underlying server library such as Undertow or Vert.x. My team leverages mutual TLS quite a bit and have strict rules around what ciphers are used, etc.. Additionally, we often run multiple server processes on different ports (i.e. app on one port, health checks for ALB on another, etc.) The simple config entries typically are not

[2019-04-16 23:49] #2102 closed

[2019-04-16 23:53] #1701 closed

[2019-04-17 01:32] stuartwdouglas opened #2119 "NPE when using aync rest client"
This will be fixed by https://github.com/resteasy/Resteasy/pull/1994, however we should add some tests

[2019-04-17 03:41] stuartwdouglas opened #2120 "Add a development console"
Add a development console that adds a GUI for common development tasks. This will only run in dev mode, and will either run on a different port or under a specific path (although the 'different port' approach may be better for non-http based use cases).

This should be extensible so extensions can add their own tasks. Some possibilities for things a developer should be able to do from this console

[2019-04-17 05:33] geoand commented on #1610
@rohanKanojia hey, wasn't able to look at this over the weekend unfortunately...

I saw however that FMP was released, did you work around this limitation or just ignore the issue for the time being (since it's not strictly necessary?

[2019-04-17 08:08] marcinczeczko commented on #2114
After debugging I found that the `APIGatewayProxyRequestEvent` class is not available in jandex index and it result that when producing reflectiveHierarchyStep in https://github.com/quarkusio/quarkus/blob/86c42c82548627149f0be57b1b94b4be2aa029c2/extensions/amazon-lambda/deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaProcessor.java#L54
it's in fact remains as unindexed bec

[2019-04-17 08:17] rohanKanojia commented on #1610
@geoand : No, no. Issue is still there. We just released with whatever we had.

[2019-04-17 08:19] geoand commented on #1610
@rohanKanojia thanks for the info.

[2019-04-17 10:03] gsmet opened #2124 "Enforce Maven version at bootstrap?"
We had a few reports of build failing with older Maven versions (apparently a 3.5.0):

[code]

@cescoffier added a version enforcement here: https://github.com/quarkusio/quarkus/pull/1379 . I wonder if we should do the same for the bootstrap.

[2019-04-17 10:03] gsmet commented on #2124
@aloubyansky WDYT? It's more a question than a task. If it's an easy fix, it might be worth it. If it requires a massive amount of work, probably not.

[2019-04-17 10:14] mertmr opened #2125 "Native Image SSL Problem"
Although I have followed all the directions in the documentations(https://quarkus.io/guides/native-and-ssl-guide) I am getting an annoying warning and error at the end of my microprofile rest client to the service with SSL(only in native image, not in development):

WARNING: The sunec native library, required by the SunEC provider, could not be loaded.

Caused by: java.lang.UnsatisfiedLinkError: s

[2019-04-17 10:21] gsmet commented on #2125
Hi Mert,

Did you see the section talking about the SunEC library? You need to include it in your Docker image and pass system properties.

Unfortunately, it's not yet automatized.

[2019-04-17 10:23] aloubyansky commented on #2124
Well, it doesn't look good to me. So, something has to be done about it, IMO. I'll have a look. Thanks.

[2019-04-17 10:36] dansiviter commented on #1914
Apologies for slow reply. Yes, looks better in v0.13.3.

[2019-04-17 10:49] mkouba opened #2127 "Extension authors guide should mention the need for quarkus-extension-processor"
A user should add something like to the `pom.xml` of the deployment module:
[code]

[2019-04-17 10:49] seseso opened #2128 "Logging on windows cmd or power shell with encoding problems?"
Running the examples on Windows 10, from cmd prompt or power shell, the output looks wrongly encoded:

java -jar .\target\rest-json-1.0-SNAPSHOT-runner.jar
[38;5;145m2019-04-17 11:35:35,155[39m[38;5;188m [39m[38;5;107mINFO [39m[38;5;188m [[39m[38;5;69mio.quarkus[39m[38;5;188m] ([39m[38;5;71mmain[39m[38;5;188m) [39m[38;5;151m[39mQuarkus [38;5;188m0.13.3[39m started in [38;5;188

[2019-04-17 10:50] mertmr commented on #2125
Thanks for the quick response, can you elaborate your suggestions a little bit more? I am not really good at Docker and I don't know how to add the library do the image and properties. I am using the default Dockerfile.native

[code]

[2019-04-17 10:52] gsmet commented on #2128
`quarkus.log.console.color=false` in your `application.properties` should solve the issue.

Unfortunately, it's hard to know if the console supports colors. You don't have the issue with the Maven output? Is it colorized at all?

[2019-04-17 11:00] gsmet commented on #2125
You need to copy the `cacerts` file and the SunEC library inside your container (see the `COPY` above, the files should be `$GRAALVM_HOME/jre/lib/security/cacerts` for one and `$GRAALVM_HOME/jre/lib/amd64/libsunec.so` on Linux, it's a bit different on macOS). You can copy them in your VM (I would suggest to put the .so in a `lib/` directory).

Then you need to add a `, "-Djava.library.path=./lib",

[2019-04-17 11:02] seseso commented on #2128
No, maven works just fine (you can have a look at the attached printscreen).

![image](https://user-images.githubusercontent.com/6703910/56282961-567a5080-6108-11e9-9bd4-9cc795d32550.png)

BTW, is there any place where I can get a list of configurable properties of core and/or extensions (not only for logging)?

Thanks!

[2019-04-17 11:02] dansiviter commented on #1710
@starksm64 IIRC CDI can only inject `final` beans with `@Dependent` scope and Glassfish implementation of `javax.json.JsonString` is `final`.

[2019-04-17 12:20] #2103 closed

[2019-04-17 12:26] dmlloyd commented on #2005
Testing to ensure that `java.util.logging.LogManager.getLogManager()` is an instance of `org.jboss.logmanager.LogManager` would get you most of the way there.

Theoretically you could probe the fields of the console handler to see if it has decided to output in color or not.  But that seems less important since 99% of the cases where color output is lost are due to losing the entire log manager (a

[2019-04-17 12:30] mkouba opened #2131 "Build should fail if a non-Dependent bean injects InjectionPoint metadata"
5.5.7. Injection point metadata:

Currently, we inject `null`.

[2019-04-17 12:42] manovotn commented on #467
@FroMage I implemented the Arc context propagation here (two commits) - https://github.com/manovotn/quarkus/tree/contextPropagationArc
It's on top of your branch and passes the `ContextUnitTest` you added for it. I've also updated the test with small correction and another test case for cleared CDI context.
What else do we need before we make a PR out of it?

[2019-04-17 12:42] gsmet commented on #2128
Hmmm, OK, so we will need to understand how to do it properly on Windows.

Unfortunately, for now, the answer is: the source code (`@ConfigRoot`/`@ConfigGroup` annotations). We have to work on this.

[2019-04-17 13:08] geoand commented on #1610
I read through this again, but I still don't understand how building the native image inside a Minishift VM would help... The reason I say this is because even if we do accomplish that, there will be no usable docker image ready for consumption by users of the cluster (the image that the users would use is something like: https://github.com/quarkusio/quarkus/blob/master/devtools/common/src/main/re

[2019-04-17 13:17] gunnarmorling opened #2133 "Upgrade Kafka client version to 2.2.0"
Currently 1.1.0 is used, which is a rather dated version; is there any specific reason for that, or could we update it to the current one (2.2.0 atm.)? @cescoffier?

[2019-04-17 13:55] gastaldi commented on #2014
@gsmet right now the plugin fails with the error in https://github.com/quarkusio/quarkus-images/issues/13#issuecomment-482225327, but it would be nice if it could check the maven version before executing to prevent nasty errors like this

[2019-04-17 13:57] gunnarmorling opened #2134 "Create extension for Apache PDFBox and/or Tika"
I'll try and send a PR for PDFBox.

[2019-04-17 13:58] gunnarmorling commented on #1640
I'd argue that MapStruct is a much better fit for Quarkus than Orika, as it avoids any sort of reflection to begin with. In fact, it "just works" with Quarkus and native images, without more code changes needed. But I might be biased :)

[2019-04-17 16:07] pipinet commented on #2115
@gsmet demo is https://github.com/qwlabs/quarkus-issue

[2019-04-17 16:09] pipinet commented on #2115
@gsmet https://github.com/qwlabs/quarkus-issue
run command
[code]
[code]

[2019-04-17 16:20] rafabene opened #2135 "/metrics/application is not working"
I just followed https://quarkus.io/guides/metrics-guide

Executed the application https://github.com/quarkusio/quarkus-quickstarts/tree/master/microprofile-metrics

The path `/metrics/application` has an empty response.

[code]

[2019-04-17 16:23] geoand commented on #2115
I can confirm I get the warning as well.

Running `./gradlew dependencies` on the project and searching for the `jandex` I see:

[code]

My guess is that the issue is caused because the Quarkus BOM is not being used.

[2019-04-17 16:30] pipinet commented on #1645
@stalep stil error in 0.13.3
https://github.com/qwlabs/quarkus-issue
run ./gradlew quarkusBuild --stacktrace
[code]

[2019-04-17 16:49] rhuss commented on #1610
The main issue with remote Docker daemons is, that you can't use volume mount in any case (the `-v` option to Docker run). So we need  either another way to share the generated binary between the build process creating the native Linux binary (within a container) to the final application image (another container).

So the best answer for this is to combine the process of creating the application i

[2019-04-17 16:51] geoand commented on #2135
@rafabene did you first execute `curl localhost:8080/350` and `curl localhost:8080/629521085409773`?

I tried it `/metrics/application` worked as expected after executing the curl commands above.

[2019-04-17 16:53] geoand commented on #1610
@rhuss For me your comment:

[code]

makes absolute sense :). We'll have to see how to best handle this use case.

Thanks for the details!

[2019-04-17 17:06] machi1990 commented on #2005
@dmlloyd thanks for the detailed response.

I finally decided to leave aside testing for coloured output and instead focus on formatting, log level, installed features etc [PR #2116](https://github.com/quarkusio/quarkus/pull/2116).

[2019-04-17 17:13] kenfinnigan commented on #2135
That's probably something we should fix in SmallRye Metrics.

Currently if no Application metrics have been captured, the endpoint returns an empty response

[2019-04-17 19:38] cristhiank opened #2136 "Include a CORS Filter that can be enabled via configuration"
Enabling CORS is a common need when developing javascript client apps(Angular, Vue, React) connected to a Quarkus backend.
With developer joy in mind, It will be nice to have a CORS filter that could be enabled/disabled or configured in the `application.properties`

[2019-04-17 19:44] smparekh commented on #2136
Also having a similar issue,

I can enable CORS via adding a class in my application as such:
[code]

But there is still a CORS issue when loading resources, for example if I wanted to load the application definition swagger file from `META-INF/resources/swagger.yaml`

[2019-04-17 19:46] cristhiank commented on #2136
That's because the provider you added is only executed for REST resources. You need to add a Servlet filter to cover all the requests.

Try adding a filter like this https://github.com/fabric8-launcher/launcher-backend/blob/master/web/src/main/java/io/fabric8/launcher/web/providers/CorsFilter.java

Thanks to @gastaldi

[2019-04-17 20:13] smparekh commented on #2136
Thanks @cristhiank, that seems to do the trick.

I agree that an extension or app property way to enable CORS on the REST resources and/or app resources would be great.

[2019-04-17 20:37] #2058 closed

[2019-04-17 20:38] #1877 closed

[2019-04-17 21:27] aloubyansky commented on #2124
I looked into this a bit. One of the ways to check for the version at runtime would be to locate `META-INF/maven/<groupId>/<artifactId>/pom.properties` (as a resource on the CP) and read property `version`. I guess that would work in most cases (when the classpath includes the original JARs of the dependencies). If the classpath however includes shaded/merged JARs that info may or may not be avail

[2019-04-17 22:30] aloubyansky commented on #2124
It'd be something like this https://github.com/aloubyansky/quarkus/commit/07a3a89c5340ae086eda56f00a5d6ae6cf275efb
Except instead of logging the result it would throw an exception if the version was too old.

[2019-04-18 06:30] stuartwdouglas opened #2138 "Build time config options are not reloaded in dev mode"
If you have a build time config option (e.g. quarkus.datasource.driver) and you update it in dev mode you will see the updated value in the processor but the value in the template is the old value.

[2019-04-18 08:27] emmanuelbernard opened #2140 "Add support for JMS"
The use case as discussed with a user is:

- help app migration
- strong Tx guarantees needed (the most important)
- MDB style consumption

So the API can be a bit different but the transaction guarantees are important.

[2019-04-18 08:28] emmanuelbernard commented on #2140
CC @cescoffier for input

[2019-04-18 08:48] #2127 closed

[2019-04-18 09:23] rsvoboda opened #2142 "Docs - mvn commands examples on Windows"
In Quarkus docs (e.g. https://quarkus.io/guides/getting-started-guide) there are multi-line example mvn commands.

These commands work fine on macOS and Linux. But on Windows there is trouble that `\` is not valid way. For cmd the magic character is "^" and for PowerShell it's "`" - info taken from https://stackoverflow.com/questions/605686/windows-how-to-specify-multiline-command-on-command-promp

[2019-04-18 10:04] emmanuelbernard opened #2143 "Create a main entry point for *ide* runs"
I was chatting with someone that had the following arguments:

* some people have a hard time to do mvn calls from their IDE e.g. `mvn compile quarkus:dev`
* and it makes it hard to then attach the debugger
* and he likes that SB and Micronaut do generate a main method in the like of this

[code]

I don't know how true the assumptions are and wether we could have the main in our starters?
And even

[2019-04-18 10:11] emmanuelbernard opened #2144 "Check RESTEasy typos at build time and avoid the @PathPAram annotation"
[code]

Should fail and mention that naaame is not present as a path param.

And to go beyond we should use parameter names form the method as default path param value. Like this

[code]

Maybe the latter already works.

CC @asoldano for input
CC @FroMage for info

[2019-04-18 10:17] rsvoboda opened #2145 "Logs for Quarkus jvm mode app in Docker have java.util.logging format"
Logs for Quarkus jvm mode app in Docker have java.util.logging format

JVM mode:
[code]

Native mode:
[code]

[2019-04-18 10:20] gsmet commented on #2145
This is with a fresh install? Because I fixed something related to that very recently?

See https://github.com/quarkusio/quarkus/commit/d0cb45ade657ee7b3d0221cef31ef6bfc1fa08c5 .

The log output is OK if not running with Docker (e.g. doing `java -jar` directly?)

[2019-04-18 10:32] gsmet commented on #2138
I wonder if it's the same issue as https://github.com/quarkusio/quarkus/issues/2117 .

[2019-04-18 11:15] pavolloffay opened #2146 "Allow injecting default value of quarkus.http.port"
When `quarkus.http.port` is not defined in `application.properties` and the value is injected the  deployment fails. It would be more friendly if quarkus injected default values of http port (and probably other core configuration properties).

[code]

[code]

[2019-04-18 11:39] dmlloyd commented on #2138
It might be related but it's probably not the same bug. Build time config has a slightly different flow.

[2019-04-18 11:57] pavolloffay opened #2148 "MP rest client interface cannot be used as a CDI injected client and REST endpoint"
When I want to use a single interface to define REST interface and inject MP REST client as CDI bean I get a compilation error.

[code]

[code]

[code]

[2019-04-18 12:01] geoand commented on #2143
As per the assumption about people finding using maven and/or remote debugger hard:

I have seen this myself a lot in coworkers. Plenty of people I have worked with actively hated interacting with the build tool and preferred to do as much as possible from the IDE.

[2019-04-18 12:07] chrisjleu opened #2149 "Maven archetype generates code with file path in @Path"
On Windows (GitBash) the archetype places the file path of the GitBash installation in the Java source file, something like `@Path("/C:/Program Files/Git/hello")`.

[code]

[code]
The same happens in the unit test.

[2019-04-18 12:17] rsvoboda commented on #2145
It's fresh master from today. Java way not running in Docker is fine, see below.
I think it's related to fabric8/java-jboss-openjdk8-jdk image we use.

[code]

[2019-04-18 12:36] simongun opened #2150 "How to stop a Quarkus application"
The documentation https://quarkus.io/guides/application-lifecycle-events-guide does not mention how a Quarkus application can be stopped from within; this is necessary for e.g. command line or job type applications.
The io.quarkus.runtime.Application class provides the necessary APIs, but cannot be injected.

Thanks for any clarification.

[2019-04-18 13:02] dmlloyd opened #2152 "Anything which starts logging too early will disable Quarkus logging"
The upstream LogManager has some stuff in it to prevent this from happening.  We should use that stuff.

[2019-04-18 13:03] dmlloyd commented on #2145
The underlying issue is #2152, but let's see if we can find which component is starting logging too early.

[2019-04-18 13:07] kenfinnigan commented on #2140
Just a cautionary tale, as we had similar requirements with Thorntail as well.

If an extension is added purely for assisting migration from other frameworks, developers are never going to migrate off that extension.

[2019-04-18 13:08] kenfinnigan commented on #2144
Is the information for the former case easily accessible from Jandex?

[2019-04-18 13:09] kenfinnigan commented on #2148
Is it a valid use case to have a service and client with the same endpoint definitions in a single application?

[2019-04-18 13:15] gsmet commented on #2145
It might be related to the agent this image is including.

@johnaohara we really need to fix this image issue I think and get away from the one we use currently. Did you make progress on this front?

[2019-04-18 13:17] dmlloyd commented on #2145
Yup agents commonly initialize logging too early.  The workaround is to make it pass `-Djava.util.logging.manager=org.jboss.logmanager.LogManager` to the JVM.

[2019-04-18 13:21] gsmet commented on #2145
Maybe we could include that in the Docker file but we really need to fix this image issue anyway as apparently performances with the current one are pretty bad.

[2019-04-18 13:22] pavolloffay commented on #2148
I don't know, if it's not prohibited by rest client spec I guess anybody can use it. @pilhuhn used to demo this scenario to showcase how easy is to get a client for a rest service.

[2019-04-18 13:23] kenfinnigan commented on #2148
REST Client spec has always been in favor of re-using an interface between client and server, but not in the same application/microservice

[2019-04-18 13:23] mkouba commented on #2146
I like the idea and TBH I thought that we already had an issue for this but I could not find any ;-).

[2019-04-18 13:25] pavolloffay commented on #2148
If there is no technical blocker I don't see a reason why it shouldn't be allowed.

[2019-04-18 13:26] gsmet commented on #2148
Not saying it's something we want but...

We could probably make it work in the case where we have a `@RegisterRestClient` annotation. This one is easy.

And it would maybe be possible to make it work in the other case by collecting the types marked with `@RestClient` and create REST clients for them. Maybe it should be our approach instead of collecting classes with `@Path` and no implementations

[2019-04-18 13:27] kenfinnigan commented on #2148
The issue is we have special handling for service vs client code.

And we need to be able to distinguish between an interface for client and one for service. If an interface used for a client is also implemented for a service, there's no way to know it's for a client too

[2019-04-18 13:28] geoand commented on #2146
This may be a misguided question @dmlloyd , but is there any reason we can't (or shouldn't) add Runtime config items to `META-INF/quarkus-default-config.properties`? That would allow for injection of properties like this issue proposes.

[2019-04-18 13:31] gnieser commented on #2140
Hello,

Not only for migration, I can think of several use cases where microservices do need JMS connectivity,

For example many systems in financial sector rely on JMS brokers. I would really love to use quarkus for microservices interacting with those systems. Improving performance and scalability of said microservices would be hugely beneficial.

Kind regards!

[2019-04-18 13:32] kenfinnigan commented on #2148
The issue is that `@RegisterRestClient` and `@RestClient` are purely for CDI use cases.

There would be no way to know, without trawling through application code, that an interface is used as a client with the `RestClientBuilder` in code

[2019-04-18 13:44] dmlloyd commented on #2146
There is a configuration source which provides default values for build and run time Quarkus config values.  It doesn't use a properties file, because sometimes the default values apply to e.g. any key matching `quarkus.foo.*.bar.*`, so obviously it would be impossible to make an exhaustive list.

I'm not sure why the value is appearing to not be found by Arc though.  These properties should be fo

[2019-04-18 13:44] pavolloffay commented on #2148
@kenfinnigan feel free to close or proceed. I don't know at this point what the impl for this would look like. Maybe we just need better docs somewhere.

When the same interface is used for a service and a client there is also another exception:

[code]

[2019-04-18 13:46] gsmet commented on #2148
Yes, we wouldn't cover the RestClientBuilder usage. TBH, I really would like the REST client interfaces to have a mandatory annotation. It's cute to not requiring it but it makes things harder for Quarkus.

I still think that it would be better to include them forcibly in the discovery (them being the classes with `@RegisterRestClient` and the types injected with `@RestClient`).

[2019-04-18 13:48] geoand commented on #2146
@dmlloyd Ah yes, I see generated `RunTimeDefaultConfigSource`. I'll take a quick look and see if I can spot why it doesn't provide the value as expected.

[2019-04-18 13:49] mkouba commented on #2146
@dmlloyd It's not a problem of ArC. Just do `ConfigProvider.getConfig().getPropertyNames()` in the app code.

[2019-04-18 13:51] kenfinnigan commented on #2148
We can always add an annotation to SmallRye REST Client to indicate an interface is used as a client, to get around the problem.

Or just support `@RegisterRestClient` for that purpose. Not sure if there's any issues with doing that

[2019-04-18 13:59] dmlloyd commented on #2146
As I said the properties will not show up under `getPropertyNames()`.  But `io.quarkus.arc.runtime.ConfigDeploymentTemplate#validateConfigProperties` does not seem to use that?

[2019-04-18 14:02] mkouba opened #2154 "Create BOM for external extensions"
This BOM should contain `-deployment` modules of built-in extensions. And probably some other stuff.

[2019-04-18 14:05] pilhuhn commented on #2148
What I did in the past is here in the video https://youtu.be/sL_n85qrppI?t=86 - basically I create an interface in the backend, then copy that source file to my frontend and decorate it with `@RegisterRestClient` And then at minute 2:04 I use that client interface via `@Inject @RestClient` .

I think the "effort" to put `@RegisterRestClient` on the interface can be neglected.

[2019-04-18 14:09] mkouba commented on #2146
It is using `ConfigProvider.getConfig().getOptionalValue()`.

[2019-04-18 14:11] geoand commented on #2146
I think I found the solution:

in `ConfigDeploymentTemplate` we need to replace `ConfigProvider.getConfig();`   with `Config config = ConfigProviderResolver.instance().getConfig()`.

Does that make sense @mkouba, @dmlloyd ? If so, I can open a PR

[2019-04-18 14:13] dmlloyd commented on #2146
Interesting, so it looks like our problems with class loaders and config registration are not completely over yet.  Go head with the PR and I'll make a note to review this.

[2019-04-18 14:16] geoand commented on #2146
@dmlloyd Let me make sure all the tests pass locally before opening the PR.

[2019-04-18 14:17] mkouba commented on #2146
Hm, now I rember that I send a PR with a hack to be able to validate `@ConfigProperty` injection points at runtime : https://github.com/quarkusio/quarkus/pull/1568

[2019-04-18 14:18] kenfinnigan commented on #2148
@pilhuhn, do you mean not require `@RegisterRestClient`? At the moment it's used to indicate an interface should have a CDI Bean created for it

[2019-04-18 14:20] mkouba commented on #2146
Anyway, `ConfigDeploymentTemplate` is just a part of the puzzle - [SmallRye ConfigProducer](https://github.com/smallrye/smallrye-config/blob/master/implementation/src/main/java/io/smallrye/config/inject/ConfigProducer.java#L43) is using `ConfigProvider.getConfig()` too.

[2019-04-18 14:21] pilhuhn commented on #2148
Ah no :)  My last sentence meant that it is not a huge deal if a developer has to put that annotation on the interface source file that they have received from the backend developer.

[2019-04-18 14:21] kenfinnigan commented on #2148
gotcha

[2019-04-18 15:42] rafabene commented on #2135
Thanks @geoand . Now it worked for the quickstarts and for my application.

[2019-04-18 16:50] karesti opened #2158 "Extensions documentation stale for ConfigPhase"
* The documentation concerning ConfigPhase is not updated
`RUN_TIME_STATIC` does not exist anymore
https://quarkus.io/guides/extension-authors-guide

* Documentation on the interaction between recorder and config is not available

[2019-04-18 20:18] gunnarmorling commented on #1534
Just running into this with JDK 13; reading the discussion in #819, would it perhaps make sense to use ByteBuddy for that proxy generation?

[2019-04-19 01:34] gastaldi opened #2160 "Create a Maven archetype for new Extensions"
It would be nice if an archetype based on https://quarkus.io/guides/extension-authors-guide#maven-setup existed

[2019-04-19 06:19] cescoffier commented on #2160
I believe @danielpetisme wanted to work on this.

[2019-04-19 06:20] cescoffier commented on #2150
Did you try `System.exit` ?

[2019-04-19 06:22] cescoffier commented on #2149
oh, this is wonderful! I will have a look. BTW, in your first snippet, a double quote is missing. Is it on purpose?

[2019-04-19 06:26] cescoffier commented on #2140
MDB style consumption can be handled by Reactive Messaging:

[code]

The main issue is Tx, as reactive messaging does not handle transactions.

It might be possible to bind "transaction" to the Reactive Messaging acknowledgment, and so commit//rollback the TX when the message processing succeeds or fails

[2019-04-19 06:27] cescoffier commented on #2140
Also note that unlike "default" JMS, the level of concurrency would be 1.

[2019-04-19 06:29] cescoffier commented on #2133
@gunnarmorling the change must be made in:
1.  Vert.x Kafka Client (@ppatierno)
2. SmallRye Reactive Messaging (that would be me)
3. In Quarkus

Note that Kafka requires some bloody substitutions, so the upgrade must be carefully tested.

[2019-04-19 06:32] cescoffier commented on #2135
@kenfinnigan well, I would say that if we don't have application metrics yet, the `204` response looks right.

However, the documentation should mention it.

[2019-04-19 06:33] cescoffier commented on #2119
+1 for adding tests

It would also be great to extend a bit the Rest client quickstart to mention the `CompletionStage` support.

[2019-04-19 06:34] cescoffier commented on #2160
Actually, this is a duplicate of #2113.

[2019-04-19 06:34] #2160 closed

[2019-04-19 06:35] cescoffier commented on #2069
@lordofthejars You mention something like this on Twitter if I'm not mistaken.

[2019-04-19 07:32] simongun commented on #2150
Yes, sorry, should have written that. That triggers Application's ShutdownHookThread and never returns from stateCond.awaitUninterruptibly(). That's why I thought the Application's state machine needs to be terminated via the Application's lifecylce methods ...

[2019-04-19 08:07] gsmet commented on #2115
@geoand by not being used, you mean in the OP's Gradle project or it's a problem with our Gradle plugin?

[2019-04-19 08:13] danielpetisme commented on #2113
As @cescoffier said in the duplicate, I'm interested to work on this.

[2019-04-19 08:14] geoand commented on #2115
@gsmet I don't think our Gradle plugin can be blamed since it doesn't apply the BOM (although I think it be made to do so).

I did however try applying the BOM to the OP's project and although the Jandex issue did go away, new dependency issues arouse:

[code]

So I am not really sure at this point what the proper Gradle setup should be (I haven't played with Gradle that much unfortunately...)

[2019-04-19 08:20] gsmet commented on #2098
@rsvoboda AFAICS, it's still an issue with https://github.com/quarkusio/quarkus/pull/2105 .

[2019-04-19 09:10] rhuss commented on #2098
fyi, the next version of the fabric8 base images get rid of agent-bond (which combines jolokia & prometheus agents) and goes back to offering two individual agents which can be switched off/on individually via environment variables.

The canonical repository for the fabric8 images is since quite some time (>2 years): https://github.com/fabric8io-images/java where different flavours and combination

[2019-04-19 09:15] lordofthejars commented on #2069
Exactly, happy to help on this. If you have something in mind we can discuss here.

[2019-04-19 09:16] chrisjleu commented on #2149
No that's my bad.

[2019-04-19 10:28] gsmet commented on #2145
@rsvoboda @johnaohara changed the image. Can you check if it resolves the issue?

[2019-04-19 10:28] rhuss commented on #2145
for the notes: The reason in this case it not that the agent themselves use the logger too early, but its the used JDK dependencies that use jul logging during initialization. In the case of Jolokia this was the com.sun.net.httpserver who does this. I can't really comment on jmx_exporter though.

This is solved for JBoss / Wildfly by doing a lazy init. Jolokia has a server detection for this, but

[2019-04-19 10:29] rhuss commented on #2145
could you please point me to the Dockerfile or where the image is changed ?

[2019-04-19 10:30] johnaohara commented on #2145
@rhuss I am testing now to see if we still see the issue, and will test adding JVM options suggested by @dmlloyd

[2019-04-19 10:32] johnaohara commented on #2145
@rhuss the docker template is here: https://github.com/quarkusio/quarkus/blob/master/devtools/common/src/main/resources/templates/dockerfile-jvm.ftl

[2019-04-19 10:42] rhuss commented on #2145
thanks !

Some remarks:

* You can use the environment variable`AB_ENABLED=jmx_exporter` to switch on only Prometheus `jmx_exporter` and turn off Jolokia. See https://github.com/fabric8io-images/java/tree/master/images/alpine/openjdk8/jre for all options.
* You shouldn't be required to provide the ENTRYPOINT. The entry point is inherited from the base image
* Have you considered to use fabric8io/d

[2019-04-19 12:04] #2146 closed

[2019-04-19 12:56] danielpetisme commented on #2113
One question, so far the extensions are part of the Quarkus source repo.  The `create-extension` command should be preconfigured with the quarkus repo structure (+ register the extension in the parent pom etc.) or it should permit to create an extension out side ?

I had the discussion with @gsmet when doing the swagger extension, AFAIK there is no plan to have extensions hosted outisde the Quarku

[2019-04-19 13:07] gsmet commented on #2113
Hi @danielpetisme ,

That's not what I said. Right now, we don't have the infrastructure for that but having extensions outside our repo is something we want to encourage in the longer term.

What would be nice is if the `create-extension` mojo could analyze if it's in the `extensions` directory (we can analyze the pom file) and adapt the created extension to the Quarkus environment. The issue wit

[2019-04-19 15:32] leotu opened #2164 "Vertx ConsumeEvent method handle exception"
If @ConsumeEvent method raise exception, it should be reply fail message to caller!

Modified Class:
io.quarkus.vertx.runtime.VertxTemplate#registerMessageConsumers(Map<String, ConsumeEvent> messageConsumerConfigurations)

form
[code]

to
[code]

Resource class
[code]

Service class
[code]

http://localhost:8080/vertx/error1/hello
[code]

http://localhost:8080/vertx/error2/hello
[code]

Without "t

[2019-04-19 16:10] emmanuelbernard commented on #2113
If we have to decide, I’d prefer we have the generator ready for extensions outside the core repo.

Emmanuel

[2019-04-19 17:36] andreaneri commented on #2006
@cescoffier @gsmet any idea ? what have i wrong ?

[2019-04-19 18:14] renannprado commented on #1374
Ah, ok, so you have a problem while executing `quarkusDev` task.
Hmmm... have you tried to add the `--stacktrace` flag to the command to see if you get more information? I believe I faced this situation before and it was because I had another process listening in the same port (i.e. the `quarkusDev` task was swallowing the exception).
But try to run it with the `--stacktrace` and/or `--debug`.
Ano

[2019-04-19 21:47] renandeandradevaz commented on #2102
I'm facing the same issue in my Kotlin project.

When I do with @Singleton:

[code]

I get this error:

`Caused by: javax.enterprise.context.ContextNotActiveException: interface javax.enterprise.context.RequestScoped`

When I use @ApplicationScoped:

[code]

I get this error:

`Caused by: javax.enterprise.inject.spi.DefinitionException: Normal scoped beans must declare a non-private constructor wi

[2019-04-19 21:48] renandeandradevaz commented on #2102
@mkouba

[2019-04-20 09:01] masini opened #2167 "Support the cases where JWT token is not available in HTTP Authorization header"
**This is not a direct Quarkus problem, but a reminder to push other projects for this feature request.**

As mentioned here :

eclipse/microprofile-jwt-auth#126

and here:

https://github.com/smallrye/smallrye-jwt/issues/40

there are good reasons to have the token in the payload or in another HTTP header (like an httpOnly cookie).

[2019-04-20 09:32] simongun commented on #2150
Just verified that with the most simple Quarkus application, System.exit does not happen:

[code]

[2019-04-20 11:42] dmlloyd commented on #2150
You must call `Thread.start()`, not `Thread.run()`.

[2019-04-20 11:47] rafabene opened #2168 "docker build fails for src/main/docker/Dockerfile.native"
I've used the command `docker build -t rafabene/myapp -f src/main/docker/Dockerfile.native .` and the docker build failed with

When using COPY with more than one source file, the destination must be a directory and end with a /

[2019-04-20 12:26] rafabene commented on #2168
This happened when I changed the name of the artifactId and it generated two "runner" files. I'm not sure if this should be fixed or documented.

[2019-04-20 12:54] simongun commented on #2150
OK, so the findings are: If we System.exit() from the Thread from where we @Observed the Startup Event, System.exit() does not return:
[code]
But if we do it from a dedicated Thread, it works:

[code]
Is this the expected behavior?`
Is it worth a note in the documentation?

[2019-04-20 16:17] #2114 closed

[2019-04-20 19:12] geoand commented on #2168
Indeed, in this case you would have to do `mvn clean package ....` before creating the Docker image.
I think that changing the `COPY` command would probably create more problems than it would solve. Perphaps in the comments added to the docker file we should include the `mvn clean...` command?

[2019-04-20 19:34] RapidTransit commented on #1984
@vsodaitis
The `user.dir` points to the project directory here is a work around
Also if you need properties filtering I have a script for that too :smiley_cat:
[code]

[2019-04-20 23:50] dmlloyd commented on #2150
It is expected behavior. `exit` never returns, thus it blocks the thread forever.  The process doesn't exit until the thread pool shuts down, which cannot happen while threads are active. Thus, deadlock.

[2019-04-21 06:30] sebastienblanc commented on #2136
+1 a CORS filter configurable in the properties and/or a `@CORS` annotation would really sparks joy for the developer ;)

[2019-04-21 12:41] mejlholm opened #2169 "Fault Tolerance classes gives runtime error doesn't exist or is not accessible on native"
There seems to be problems with smallrye-fault-tolerance on native. I get the following error with the native compiled executable, while it works just fine in JVM mode:

{"date": "2019-04-21 14:25:55,683", "hostname": "usb", "process": "pingservice-1.0-SNAPSHOT-runner[9469]", "loglevel": "ERROR", "category": "io.und.request", "thread": "XNIO-1 task-1", "message": "UT005023: Exception handling requ

[2019-04-21 12:41] mejlholm commented on #2169
Forgot to add - this is quarkus 0.13.3.

[2019-04-21 12:43] gsmet commented on #2169
Which version of GraalVM do you use?

[2019-04-21 12:44] mejlholm commented on #2169
GraalVM is set to graalvm-ce-1.0.0-rc15

[2019-04-21 12:46] gsmet commented on #2169
That's what I suspected. With 0.13.3, please use GraalVM rc14.

We worked around this issue with rc15 here: https://github.com/quarkusio/quarkus/pull/1983 . It will be part of the upcoming 0.14.0.

[2019-04-21 12:54] mejlholm commented on #2169
Thanks @gsmet - I checked with GraalVM rc14 and it work again. I'll keep using that for now.

[2019-04-21 12:54] #2169 closed

[2019-04-21 18:12] simongun commented on #2150
Thanks for your clarification & support. Since CLIs and Jobs will start their programs on @Observes StartupEvent, would it make sense to already dispatch these events from separate threads, so users don't have to figure out that they have to start their own threads to run their program? Or mention this fact in the documentation? Otherwise, feel free to close.

[2019-04-21 18:31] geoand commented on #2169
@mejlholm Or you could use a build from `master` (since the PR which worked around the issue you mentioned has already been merged) if you want to continue using GraalVM rc15.

[2019-04-21 21:38] ricardozanini opened #2170 "Add support for @EndpointInject in Camel Core extension"
Hi!

It seems that the extension `camel-core` is not registering the `org.apache.camel.ProducerTemplate` into the context. The annotation `@EndpointInject` nor `@Produce` is working. To have the `ProducerTemplate` injected into the context, one have to create manually using `CamelContext`:

[code]

This way, the producer can now be used anywhere the application:

[code]

Proposal: add support for

[2019-04-22 07:17] enbohm commented on #1609
Does anyone know if there are any workaround for this bug? I've tried various Java module cmd line options but without any success unfortunately.

[2019-04-22 11:25] stuartwdouglas opened #2172 "PanacheEntityBase.persist() silently fails outside a transaction"
If you call this method outside a transaction the entity is not added, and no error is thrown. I would expect one or the other, but not silent failure.

[2019-04-22 14:13] soberich commented on #2125
@gsmet Also,
this line  `-H:EnableURLProtocols=http,https --enable-all-security-services`
contain redundant flags/args https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/native-and-ssl-guide.adoc
`--enable-all-security-services` is automatically enabled when `https` protocol enabled.
see

https://github.com/oracle/graal/blob/master/substratevm/JCA-SECURITY-SERVICES.md

https:/

[2019-04-22 16:01] ppatierno opened #2173 "Avoid to mention where the application is listening at the end of Maven creation"
When a new quarkus project is created using the Maven plugin it always prints:

`[INFO] Your application will be accessible on http://localhost:8080`

which comes from here: https://github.com/quarkusio/quarkus/blob/master/devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java#L312

It's not always true because the user could haven't created the project for a REST-based application o

[2019-04-22 16:49] ppatierno opened #2174 "Adding an extension should add the dependencies"
From the Kafka related guide I read:

If I try to add the `quarkus-smallrye-reactive-messaging-kafka`, the related Vert.x isn't added as well.
Shoud the add extension command adds the dependencies for an extension as well?

[2019-04-22 18:12] renandeandradevaz opened #2175 "EntityManager doesn't work for Kotlin scheduler"
In this issue:
https://github.com/quarkusio/quarkus/issues/2102
The user fandiluo reported a problem with scheduler on quarkus.

The user @mkouba sugested to use @ActivateRequestContext annotation.

I used it and the problems kept happening.

The codes and erros below:

When I do with @singleton:

[code]
I get this error:

`Caused by: javax.enterprise.context.ContextNotActiveException: interface j

[2019-04-22 19:56] gastaldi opened #2176 "Kafka Guide does not work"
I followed the steps in the Kafka Guide in https://quarkus.io/guides/kafka-guide and when I open the page, all I get is
[code]

You can see that the connection closes prematurely if you use HTTPie to connect to `/prices/stream` as in:

```http --stream -f localhost:8080/prices/stream -v```

By debugging and comparing to the quickstart in https://github.com/quarkusio/quarkus-quickstarts/tree/master

[2019-04-22 20:35] renandeandradevaz commented on #2102
I created the issue https://github.com/quarkusio/quarkus/issues/2175 to treat this problem separately

[2019-04-23 03:00] stuartwdouglas commented on #2102
Annotating with @Transactional will also work, as the entity manager will only need the request scope if no transaction is active.

[2019-04-23 03:00] stuartwdouglas commented on #2102
But the proper fix is to have the request scope active all the time, IMHO we should not have any entry points that don't active it.

[2019-04-23 03:01] stuartwdouglas commented on #2174
This should be handled as a transitive maven dependency.

[2019-04-23 07:18] davsclaus commented on #2170
I assume you have tried with the standard `@Inject` annotation? And it didnt work and so you had to add your own producers for it?

But yeah it would be good to have the other Camel annotations supported OOTB as `@EndpointInject` can configure a few more options than @Inject can do. But it would also be nice to have @Inject work with the these types you mention above.

You are surely welcome to su

[2019-04-23 07:21] FroMage commented on #2172
Really? How can that be? @Sanne is that normal behaviour of `EntityManager.persist`?

[2019-04-23 07:22] FroMage commented on #2144
We do have a `@PathParam` annotation that does not need a value (in a resteasy package), but requires your compiler to add method parameters to reflection.

[2019-04-23 08:03] mkouba opened #2178 "Build should fail if a bean or producer declares multiple scopes"
2.4.3. Declaring the bean scope

automatically detects the problem and treats it as a definition error.

Currently, the first scope annotation found is used.

[2019-04-23 08:21] #2084 closed

[2019-04-23 08:48] gsmet commented on #2174
I see `vertx-core` as a transitive dependency of `smallrye-reactive-messaging-kafka`.

@ppatierno what's the issue exactly?

[2019-04-23 08:52] ppatierno commented on #2174
@gsmet @stuartwdouglas no issues around dependencies you are right, just the pom.xml is not updated with the other extensions, just to clarify the user what have you added. Btw it doesn't happen with "normal" maven dependencies as well when there are some transitive ones so maybe it doesn't make sense to have "transitive extensions" added to the pom.xml. I would close this issue then.

[2019-04-23 08:52] #2174 closed

[2019-04-23 09:02] #2138 closed

[2019-04-23 09:42] mkouba commented on #2175
So the reason why the `@ActivateRequestContext` interceptor binding does not work is that kotlin function is translated to a `final` method by default. CDI would fail during bootstrap but we've decided to more lenient and simply ignore the final methods. I do agree that we should at least log a warning.

Anyway, if you replace `fun createGift()` with `open fun createGift()` everything should work

[2019-04-23 09:52] mkouba commented on #2102
Neither `@Transactional` works - see also https://github.com/quarkusio/quarkus/issues/2175#issuecomment-485730853

[2019-04-23 10:19] FroMage commented on #1923
I added tests in https://github.com/FroMage/quarkus/commit/57cc37a8f4f9e534c7621c7bff751cfefec65855 but they seem to pass. Are you sure you set up the parameters flag correctly?

[2019-04-23 10:20] FroMage commented on #1923
That's with SVM RC15

[2019-04-23 11:11] rsvoboda commented on #2145
I still see java.util.logging format with "fabric8/java-alpine-openjdk8-jre" based image

[code]
[code]

[2019-04-23 11:17] rsvoboda commented on #2145
When I change src/main/docker/Dockerfile.jvm
[code]
to
[code]
I no longer see java.util.logging format from Quarkus
[code]

[2019-04-23 11:23] gunnarmorling opened #2180 "Create Quarkus organization on Docker Hub"
The builder image used for native mode is pulled from @stuartwdouglas' Docker Hub account:

    Unable to find image 'swd847/centos-graal-native-image-rc12:latest' locally
latest: Pulling from swd847/centos-graal-native-image-rc12

I think it'd be better to pull it from a "quarkus" organization there or on Quay, so to give a more stream-lined project appearance.

[2019-04-23 11:38] Sanne commented on #2180
hi @gunnarmorling , what version is that? AFAIK we moved to Quay a while back.

[2019-04-23 11:40] mkouba commented on #2164
@leotu Thanks for spotting this. I agree that we should handle the exception if we unwrap the payload for the consumer method (your use case) but I don't think we should catch the exception if the consumer method accepts `io.vertx.core.eventbus.Message`. @cescoffier WDYT?

[2019-04-23 11:46] gunnarmorling commented on #2180
Ah yes, you are right. It's coming from quay as of 0.13.3 (I was still using 0.11). Closing. Sorry for the noise.

[2019-04-23 11:46] #2180 closed

[2019-04-23 11:54] gunnarmorling commented on #2180
Ah yes, you are right. It's coming from quay as of 0.13.3 (I was still using 0.11). Closing. Sorry for the noise.

[2019-04-23 12:19] renandeandradevaz commented on #2175
Hi @mkouba
The solution with **open fun** together with **@ActivateRequestContext** works perfectly.

Thanks!

[2019-04-23 12:19] #2175 closed

[2019-04-23 12:36] gunnarmorling opened #2184 "Use Strimzi Kafka images"
As we in Strimzi have a project that produces container images for Kafka we should use those images instead of the Wurstmeister ones in the Kafka guide: https://quarkus.io/guides/kafka-guide

[2019-04-23 12:39] dmlloyd commented on #2145
As long as there's an agent that initializes logging, it will use the JDK logger, until #2152 is resolved.

[2019-04-23 12:42] lordofthejars commented on #1939
@cescoffier If you assign me this issue, I'll send a PR

[2019-04-23 12:43] gsmet commented on #2145
@rsvoboda we need to check carefully Roland's comment here: https://github.com/quarkusio/quarkus/issues/2145#issuecomment-484847662

I think we should add `AB_ENABLED=jmx_exporter`.

[2019-04-23 12:59] emmanuelbernard opened #2185 "Offer option to define a higher priority external configuration file (runtime)"
The idea is to pass to an app at runtime the properties file that will override runtime properties.

    ./my-app -Dconfig=~/my-app-env-config.properties
    java -Dconfig=~/my-app-env-config.properties -jar my-app-runner.jar

[2019-04-23 13:06] rsvoboda commented on #2145
As https://github.com/quarkusio/quarkus/pull/2181 is merged I think we can close this one.

The underlying issue is tracked in #2152.

[2019-04-23 13:22] gsmet opened #2187 "CI failure in TracingTest#testContextPropagationInFaultTolerance"
@pavolloffay @kenfinnigan we have CI failing from time to time due to the test added [here](https://github.com/quarkusio/quarkus/pull/2038).

The failure is the following:
[code]

It happens once in a while. I saw it twice, once on a Linux build and once on a Windows build.

Could you take a look at that issue and, hopefully, fix it before tomorrow's release?

[2019-04-23 13:27] pavolloffay commented on #2187
I think we will have to wait until all spans are reported. I will submit a fix for it.

[2019-04-23 13:30] #1849 closed

[2019-04-23 13:40] mkouba opened #2188 "ArC - add BuildContext.Key.SCOPES so that extensions can work with the final set of scope types"
We could also add `Key.QUALIFIERS`, `Key.INTERCEPTOR_BINDINGS` and possibly others.

[2019-04-23 13:40] ricardozanini commented on #2170
Hi @davsclaus! Good to see you here :p

yes, the `@Inject` is also not working. I'm thinking about to submit a PR to first add the support for these through injection:

- TypeConverter
- ConsumerTemplate
- ProducerTemplate

Doing something similar to this in the camel extension:

[code]
So users could have these classes available right away in the Registry.

Afterwards I can prepare another PR to

[2019-04-23 13:56] mkouba commented on #2164
Actually, it probably makes sense to catch an exception no matter what the method signature looks like. I'll send a PR.

@leotu By the way, in your example the exception is not thrown from a consumer method declared on `VertxDemoService` but from a completion stage.

[2019-04-23 14:24] gsmet commented on #2176
We merged a work around in the guide but we need to get to the bottom of this as it definitely doesn't look like normal.

[2019-04-23 14:53] RapidTransit commented on #1984
Another note, the Hibernate plugin is also looking for the import script at `build/classes/java/main` so another copy script to move that around and to clarify the `application.properties` is being looked for relative to the `user.dir` (The executable's working path) those would probably have to adapt to gradles sourcesets

[2019-04-23 15:07] #2098 closed

[2019-04-23 15:31] davsclaus commented on #2170
Yeah good idea

[2019-04-23 15:56] emmanuelbernard commented on #2143
Another potential usage is CLI where users would prefer to own `main()`

[2019-04-23 16:02] emmanuelbernard commented on #2144
@kenfinnigan if it's not, we can add it to jandex yes (cc @n1hility )

[2019-04-23 16:04] Sanne commented on #2143
+1 to have users own their main.

We discussed this use case in a design session for shutdown, and it's listed as one of the goals.

We plan to wrap it the other way around though: the user defines his "main()", Quarkus generates its own main so to invoke the user's one and be able to cleanup its own resources in a generated finally block which wraps it.

Needs a volunteer to be implemented though

[2019-04-23 16:08] Sanne commented on #2172
No it's not "normal" but it can be setup to do such weird stuff. It's all under control of the integrator layer, so I guess there's something odd in how it's being bound to the context.

I would suspect it relates with some workarounds that people have introduced to automatically start a TX when it's missing? If it's automagically started but never committed then this would be the expected outcome

[2019-04-23 17:47] HoodElliot opened #2192 "Quarkus 0.13.0 - 0.13.3 application.properties enviroment variables doesnt work"
in the latest version of quarkus, I faced a hard time running the -runner.jar with environment variables in application.proparties lets say I have this as my property

when I do an `mvn clean package` and run the jar files with `java -jar target/app-runner.jar`
I expect to get localhost but I get as an answer this

in quarkus 12.0 it works perfectly fine with environment variables
and it shows loc

[2019-04-23 17:49] geoand commented on #2192
Hi,

Is the property actually named `quarkus.env.variable`?

Also, would it be possible to share a reproducer project?

Thanks

[2019-04-23 18:04] HoodElliot commented on #2192
hello i have this piece of code like the tutorial in quarkus.io with the implementation of configProperties
**VERSION 0.12.0**

[code]
and i have this application.proparties
`quarkus.env.variable=${HOST:localhost}`
i run
`mvn clean package -DskipTests=true
 java -jar target/app-runner.jar
`
i hit the page with localhost:8080/login
and the message goes as follows
![Screenshot from 2019-04-23 21-00-

[2019-04-23 18:10] geoand commented on #2192
Thanks for the details.

Can you do me a favor and change the name of the property to something like `myapp.env.var` and try again?

[2019-04-23 18:13] HoodElliot commented on #2192
yes just did same in the version **0.12.0** got `localhost` and in **0.13.3** got `${HOST:localhost}`

[2019-04-23 18:45] geoand commented on #2192
I'll try and reproduce it and let you know

[2019-04-23 18:59] geoand commented on #2192
So I have good news all around :tada:

I was able to reproduce this in `0.13.3`. The even better news is that with the current `master` is the issue does not exist. I am not sure which commit actually fixed it, but if we need to figure out later on, I'm should we can.

[2019-04-23 18:59] #2192 closed

[2019-04-24 01:59] noseka1 opened #2196 "Hibernate and Panache entities not enhanced in external jars"
I have two Maven projects: _Photo_ and _Monolith_. Note that these are two separate Maven projects as opposed to being two modules in a multi-module Maven project.

_Photo_ project defines an entity class _PhotoItem_:

[code]
_Photo_ project builds a _photo.jar_ that includes the compiled _PhotoItem.class_.

Project _Monolith_ depends on project _Photo_. It pulls the _photo.jar_ as a dependency an

[2019-04-24 08:30] #2178 closed

[2019-04-24 08:42] FroMage commented on #2172
Thanks.

[2019-04-24 09:49] FroMage opened #2198 "Panache Rx"
Formal issue to discuss Panache Rx implementation.

Branch is at https://github.com/FroMage/quarkus/tree/panache-rx

# Proposal is the same API as Hibernate ORM with Panache, but Reactified, with Axle.

- Use JPA annotation subset for mapping
- Use Reactive PG client for DB connection (and quarkus module)
- Hopefully use ORM schema generation
- Entities not managed (must call `update()` to send mo

[2019-04-24 09:50] gsmet commented on #2196
@noseka1 could you try to add this to your `photo` project:
[code]
That should build a Jandex index, which will allow for the classes to be found when Panache tries to instrument them.

[2019-04-24 09:54] #1774 closed

[2019-04-24 09:58] gsmet commented on #2006
@andreaneri sorry for the delay. I tried to do what you did with the current master of the quickstarts and it seems to work.

We had several bootstrap issues in 0.13.0 so maybe it could be one of them. Can you try with the current master of quickstarts? It should use 0.13.3 now, which received several bugfixes that could be related to your issue.

[2019-04-24 10:14] andreaneri commented on #2006
@gsmet thank sir, i updated ../quarkus-quickstarts/getting-started/pom.xml:
<quarkus.version>0.13.3</quarkus.version>

i got the same error:
[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:0.13.3:dev (default-cli) on project quarkus-quickstart: Failed to run: Failed to resolve Quarkus application model: Failed to locate current project among the loaded local projects -> [Help 1]

th

[2019-04-24 10:19] tsegismont commented on #2198
@FroMage since #2039 is all green, could the implementation use the `reactive-pg-client extension`?

[2019-04-24 10:22] FroMage commented on #2198
That's my plan, I'm trying to make my branch use your module ATM.

[2019-04-24 10:29] tsegismont commented on #2198
Great!

[2019-04-24 11:43] tcollignon opened #2199 "Problem with quarkus live reload with a jaxb project"
Hi

Like I said here https://groups.google.com/forum/#!topic/quarkus-dev/wAvgJ6wiExU, I have a problem with jaxB project.

The first problem is with the live reload mode, and I have describe the problem here : https://github.com/tcollignon/quarkus-jaxb-test
If you need some more information I can share it. I have debug it, and I think it's a classloader issue because QName is never valid in Live r

[2019-04-24 11:58] cypressious commented on #1374
@renannprado I managed to attach the debugger to the process using

[code]

I set it to break at any exception and I immediately got a `NoSuchFileException`

![grafik](https://user-images.githubusercontent.com/1191816/56657084-6f01e200-6697-11e9-807b-a0bedac85ceb.png)

I think the reason are these two lines:

[code]

The directories are incorrectly resolved.

In the build.gradle.kts I changed the

[2019-04-24 12:12] renannprado commented on #1374
@cypressious now as I understand you're not getting *any* exception?
There's a class called `GeneratedMain` that is generated by quarkus, are you able to set a breakpoint there?

[2019-04-24 12:41] cypressious commented on #1374
@renannprado I'm getting all kinds of exceptions when the debugger is attached. In fact, so many, it's impossible to know which one is the "final" one. But I think they are "expected" exceptions.

Can you tell me where the source for the file is? Otherwise I can't set a breakpoint.

[2019-04-24 13:17] renannprado commented on #1374
@cypressious hmmm I see. It could be they're expected indeed.
I'm not sure if there is a source file written to the disk, but I'm nearly sure that you can set the breakpoint in a `.class` from inside of IntelliJ at least.

![image](https://user-images.githubusercontent.com/2359543/56662336-04a36e80-66a4-11e9-81ca-9853d2b97c6a.png)

[2019-04-24 13:18] FroMage opened #2200 "Agroal config needs examples/doc for `url`"
It does not define the format used, and because JDBC urls differ from Postgres urls, this can be very treacherous.

[2019-04-24 13:19] FroMage commented on #2200
https://vladmihalcea.com/jdbc-driver-connection-url-strings/ has some examples. Not sure if it's authoritative. I guess it depends on the driver.

[2019-04-24 13:34] burrsutter commented on #1886
I wish to use "update" for live code demos, therefore this is no import.sql (takes too long to key that in).   If I understand the issue, Java likes classes that begin with a capital letter (e.g. Customer.java) but postgres and H2 want that to be a lower-case "c".  Can we not just force table names to lower case?  Also, if the table/column name is a reserved word, can we get an better error messag

[2019-04-24 13:36] emmanuelbernard commented on #1886
Here is the compromise we can lean towards

1. write in the guide that `drop-and-create` is great for tests and `import.sql` driven people
2. if you work on "prod" data then you have the following choice
    a. `none` which does what it says
    b. `update` which is really mostly-update and we document the types of cases where it would fail and what to do to workaround conceptually
3. to make upda

[2019-04-24 13:37] emmanuelbernard commented on #1886
@burrsutter I do demo with `import.sql`, not sure why you see this as incompatible.

[2019-04-24 13:55] cypressious commented on #1374
@renannprado I can't seem to find the class. Here's what the build folder looks like

![grafik](https://user-images.githubusercontent.com/1191816/56664899-4e428800-66a9-11e9-9411-b98657e4568e.png)

[2019-04-24 14:00] aloubyansky opened #2202 "Runner JAR lib and Class-Path content tests"
At this point, we actually don't have any tests for the content expected in the `lib` directory and the `Class-Path` manifest entry given specific `pom.xml` with various dependency scopes and transitive deps as an input.

[2019-04-24 14:08] burrsutter commented on #1886
import.sql is not incompatible but the file is just not present as it takes too long to type from scratch, not too mention it is yet another syntax to be learned

[2019-04-24 15:23] pauljaxson opened #2203 "Build failure in 0.13.3 due to proxy configuration"
I am unable to build a quarkus project (version 0.13.3) due to failures to download from the maven repository. The Bootstrap resolver does not appear to be honouring my proxy settings which are set in a MAVEN_OPTS environment variable. The settings that I have work correctly in version 0.12. This seems to have been introduced in version 0.13.0.

`[INFO] Running org.acme.quickstart.GreetingResource

[2019-04-24 15:29] #2164 closed

[2019-04-24 15:39] ppalaga commented on #1807
Is this still an issue? I am looking for a Camel related issue to start with.

[2019-04-24 15:52] #2117 closed

[2019-04-24 15:53] #2145 closed

[2019-04-24 15:53] #2043 closed

[2019-04-24 16:16] gsmet commented on #2203
@aloubyansky it looks like a bootstrap issue. Do you take into account the potential proxy settings for Central?

[2019-04-24 16:24] noseka1 commented on #2196
@gsmet Thanks for the suggestion. I added the plugin definition into the `photo` project _pom.xml_. I double-checked that the _PhotoItem_ class gets added into the _jandex.idx_.

I started my _Monolith_ project using:
[code]
And stepped through it with a debugger. I think the problem is that _io/quarkus/runner/RuntimeClassLoader.java:168_ says:
[code]
This path resolution fails for my _PhotoItem_

[2019-04-24 16:52] aloubyansky commented on #2203
@pauljaxson as a workaround, will it work if you move your proxy settings to your settings.xml? Thanks.

[2019-04-24 17:03] LightGuard commented on #2200
I can take this on.

[2019-04-24 17:52] emmanuelbernard commented on #2069
Some more comment

OK, can you open an issue with add support for property driven by testcontainer.
I think it should be generalized with a way in the test framework to set properties that will be used by @QuarkusTest to boot. Should be a quarter of a night of Stuart ;P

But Alex if you are up for it, It hink that's a controllable contribution. From a MP Config PoV, we need a new Config source or

[2019-04-24 17:56] emmanuelbernard commented on #2069
@lordofthejars is assigned to it as per quarkus-dev@ discussion

[2019-04-24 18:55] lburgazzoli opened #2205 "[camel] loading xml routes jvm vs native"
I've noticed that loading routes in jvm and native mode does not behave the same, in particular the native mode seems not to handle xmlns & co.

Load in native mode:
[code]

Does not load in native mode:
[code]

[2019-04-24 18:55] lburgazzoli commented on #2205
@gnodet fyi

[2019-04-24 19:01] lburgazzoli opened #2206 "[camel] initialization event fired before setting the injector to thr converter registry"
The FastCamelRuntime [register](https://github.com/quarkusio/quarkus/blob/master/extensions/camel/camel-core/runtime/src/main/java/io/quarkus/camel/core/runtime/support/FastCamelRuntime.java#L85-L86) the injectors to the `TypeConverterRegistry` after firing the init event so in case the event consumer requires to load a converter, it will fails with an NPE

[2019-04-24 19:01] lburgazzoli commented on #2206
@gnodet fyi

[2019-04-24 19:02] lburgazzoli opened #2207 "[camel] Could not find field com.sun.beans.WeakCache.map"
Building native images is broken because of the following error:

[code]

[2019-04-24 19:02] lburgazzoli commented on #2207
@gnodet fyi

[2019-04-24 19:04] lburgazzoli opened #2208 "[camel] XmlConverter not loaded"
When loading xml routes in camel-k with native image, the task fails because XmlConverter is not listed among the classes available for reflection.

[2019-04-24 19:04] lburgazzoli commented on #2208
@gnodet fyi

[2019-04-24 21:23] aloubyansky commented on #2203
Also which Maven version are you using?
`-Dhttp.proxyHost=xxx` and `-Dhttp.proxyPort=yyy` don't seem to be picked up by usual `mvn install` (testing usual maven build w/o bootstrap resolver). The proxy from the settings is effective though. I must be missing something?

[2019-04-24 21:59] #1564 closed

[2019-04-24 22:03] #2073 closed

[2019-04-24 22:03] #2074 closed

[2019-04-25 05:02] starksm64 opened #2209 "Console leaks startup DEBUG output even when quarkus.log.console.level=INFO"
With an application.properties like:

[code]

I see the following DEBUG level console output being leaked:
<img width="673" alt="console-output" src="https://user-images.githubusercontent.com/332210/56709876-75fd1480-66d8-11e9-999a-f58a1fb03cab.png">

both when using java -jar ... and mvn quarkus:dev ...;

It is not clear why this is happening at the moment as some initial debugging shows some mes

[2019-04-25 06:55] mkouba opened #2210 "Log a warning if a final method is skipped when generating client proxies and subclasses"
By default, CDI fails with a deployment problem if a type that should be proxyable declares a final method. ArC is more lenient and simply ignores final methods. We should log a warning message because invocation of a final method upon a client proxy/subclass may result in unpredictable behavior (interceptors are not applied, etc.).

[2019-04-25 07:55] leotu opened #2211 "Add support @JsonbTypeAdapter on Enum type"
javax.json.bind.annotation.JsonbTypeAdapter doesn't work

Quarkus version: 0.13.3

Test code:
[code]

Exception:

[code]

[2019-04-25 08:35] gsmet commented on #2187
@pavolloffay the issue doesn't seem to be fixed. I just had a test failure with:
[code]

Do you think it would be possible that it takes more than 5 seconds?

[2019-04-25 08:59] toriacht commented on #1969
@cristhiank

Would you have a copy of the working Java Test? I am having similar issues trying to test persisting a P PanacheEntity in Java

[2019-04-25 09:03] FroMage commented on #467
OK let met pull them into my branch and rebase and see where we stand.

[2019-04-25 09:03] jmartisk commented on #2135
This is because currently the metrics are registered lazily, when the bean that declares a metric is first constructed, only then the metric will be initialized. This will be fixed though https://github.com/quarkusio/quarkus/issues/1435 soon, I have the solution almost ready, just needs some more testing.

[2019-04-25 09:04] jmartisk commented on #2135
204 response is correct if there are no metrics. This is according to MP Metrics specification https://github.com/eclipse/microprofile-metrics/blob/1.1.1/spec/src/main/asciidoc/metrics_spec.adoc#23-exposing-metrics-via-rest-api

[2019-04-25 09:10] FroMage commented on #467
Well, how do we do without the CDI extension? Is it key? Can we rewrite it for ArC?

[2019-04-25 09:36] pavolloffay commented on #2187
I don't think so given we wait after the request is done https://github.com/quarkusio/quarkus/blob/0277f3cff9cbdab7de55b950bc3b34a2247a8cb9/extensions/smallrye-opentracing/deployment/src/test/java/io/quarkus/smallrye/opentracing/deployment/TracingTest.java#L10

I was able to reproduce it. There were these spans present
[code]

There should be 3 `ft` spans and not 2. We use `maxRetries = 2` https:/

[2019-04-25 09:48] johnaohara opened #2215 "Native application throws CCE on SIGINT"
I terminated a native running application with Ctrl+C, and the following exception was thrown;

[code]

This application was built with graalvm-ee-1.0.0-rc16-linux-amd64 and quarkus 999-SNAPSHOT (5d27cf8b738b2ad0e9ce2c505e206dbda48745a2)

[2019-04-25 10:36] stalep commented on #1374
Hi, to get Kotlin+Gradle working you need to add this to the build.gradle.kts file:
[code]
Atm the Gradle plugin do not support multiple source folders, it is something we'll try to fix asap.

[2019-04-25 10:41] vadly opened #2217 "Possible unmanaged exception handling in RESTEasy"
Hi, all

i just working on Quarkus.io
and i don't know how to use Exception Handling
can any one help me?

Thanks

[2019-04-25 10:50] manovotn commented on #467
I am not 100% sure but I think it should be possible. I know you can add beans via extensions, but we also need to read injection point which I am not sure is possible (@mkouba do you think [this little extension](https://github.com/smallrye/smallrye-context-propagation/blob/master/cdi/src/main/java/io/smallrye/context/inject/SmallryeContextCdiExtension.java) can be Arc-ed?).
I wouldn't consider i

[2019-04-25 12:02] rsvoboda opened #2218 "Native mode - ClassCastException: org.jboss.threads.JBossThread cannot be cast to java.lang.Thread"
java.lang.ClassCastException on app shutdown with websocket

Quarkus: 0.14.0
GraalVM: 1.0.0-rc-15
Application: https://github.com/burrsutter/quarkusfingerpaint ++ Quarkus version update

Error is not thrown each time, best way for me was to open 2 tabs with http://127.0.0.1:8080/ URL, do some drawing and shutdown the app.

[code]

[2019-04-25 12:21] rsvoboda commented on #2218
I noticed `java.lang.ClassCastException: org.jboss.threads.JBossThread cannot be cast to java.lang.Thread` also with https://github.com/burrsutter/quarkus-todo-app running in native mode.

I saw the error in console when I did page reload or opened new tab with http://localhost:8080/todo.html#/all URL. Of cause not 100% reproducible ...

Running on macOS (target/todo-backend-1.0-SNAPSHOT-runner: M

[2019-04-25 12:21] geoand commented on #2217
Can you please provide some more details on what you are trying to do?

Thanks

[2019-04-25 12:39] stalep commented on #1984
The issue is that Quarkus is not picking up the `application.properties` file when a project is built by Gradle, I'm looking into it.

[2019-04-25 12:46] famod commented on #2149
I have to confirm this bug with Quarkus 0.14.0.

[2019-04-25 12:48] gsmet commented on #2149
I don't think it's a bug in Quarkus but rather a bug in the shell, mistakenly appending the current directory to the path.

[2019-04-25 13:16] famod opened #2219 "quarkus-maven-plugin:create : Maven Wrapper installation fails with "SocketException: Connection reset", probably because of proxy"
[code]
yields:
[code]
This happens at work behind a proxy, but not at home (no proxy).

[code]

Proxy environment variables are set/valid. Proxy is also defined in `settings.xml`.
I even tried adding `-Dhttp.proxyHost=...` to `MAVEN_OPTS`.

A quick look into the [proxy related issues of  takari/maven-wrapper](https://github.com/takari/maven-wrapper/issues?q=proxy) seems to suggest that quarkus nee

[2019-04-25 13:22] dmlloyd commented on #2218
This has to be an issue in Substrate. There are no class loaders and `JBossThread` definitely extends `Thread` so there must be some type-comparison bug.

[2019-04-25 13:22] dmlloyd commented on #2218
It probably is related to substitutions somehow...

[2019-04-25 13:26] jpechane opened #2221 "NPE while starting an application with @Incoming method"
When an application contains method annotated with `@Incoming` method to read Kafka topic the application fails to start with stacktrace
[code]
If the dependency
[code]
is added even if RESTeasy is not used then the NPE disappears and app starts correctly.

Looking at the code it seems that vert.x instance is not `@Inject`ed at time when Kafka consumer is initialized.

[2019-04-25 13:50] mkouba commented on #467
Hehe, little extension? Well, you can inspect all injection points and register custom beans. So I believe it should be possible.

[2019-04-25 13:50] sebastienblanc opened #2222 "Native compiling failing when smallrye-jwt dep is present"
Hi !
I just found out that I can not compile to native when using `smallrye-jwt` , I think the team is aware of it since the native profile has been disabled for the jwt quickstart : https://github.com/quarkusio/quarkus-quickstarts/commit/6e4d30909b6e78c12ddb9c01e917f6af5f60ec9e#diff-ccc624a5f8d12aebdcfbe1d5a9e7a763

But I can not find the related issue or will it be fixed with https://github.com/

[2019-04-25 13:50] gsmet commented on #2221
@jpechane any chance you could put together a simple test case?

[2019-04-25 13:53] gsmet commented on #2219
This is related to this issue: https://github.com/takari/maven-wrapper/issues/16 .

@aloubyansky considering we get the proxy somehow for the bootstrap, I was wondering if we could push it to when we call the Maven wrapper to install it?

[2019-04-25 13:59] jpechane commented on #2221
Just remove resteasy dependency from https://github.com/jpechane/strimzi-lab/tree/ticket-msa-quarkus/ticket-msa-rhs2019/invoice
Please ignore readme content, it is not updated yet.

[2019-04-25 14:00] sberyozkin commented on #2218
Got the same problem (ClassCastException after terminating the native exec) with the latest Quarkus build

[2019-04-25 14:02] johnaohara opened #2223 "logger.isTraceEnabled() is returning true in native mode, regardless of log level defined"
I have found that native for native applications logger.isTraceEnabled() returns true regardless of logging level defined in application.properties

For example;
[code]

I had configured logging to INFO level,

[code]
we should not have reached this method call; : https://github.com/hibernate/hibernate-orm/blob/5.4.2/hibernate-core/src/main/java/org/hibernate/loader/entity/CacheEntityLoaderHelper.

[2019-04-25 14:07] sberyozkin commented on #2144
As far as I recall one can have a PathParam in a subresource, with the actual template var specified in the root resource Path, example
[code]

[2019-04-25 14:08] n1hility commented on #2144
@kenfinnigan @emmanuelbernard so the issue is javac requires a special parameter for jandex to be able to read it. Else it's omitted from the class file (the API improvements to access them was a contribution from @FroMage). That said we could put this setting in the archetype. We could also default to arg0, arg1, etc in the absence of no param (jandex might do that already, need to check the sour

[2019-04-25 14:08] johnaohara commented on #2223
I will check if I see the same issue if I configure the root logger, and not just the console logger

[2019-04-25 14:09] kirill-kosenko opened #2224 "Add support for transactional observer event"
Hi guys!

I need to fire event after transaction success
In this example event is fired immediately
Is this the correct example?
Or I missed something?

`@ApplicationScoped`
`public class FruitService {`

    @PersistenceContext
    EntityManager entityManager;

    @Inject
    Event<Fruit> fruitCreatedEvent;

    @Transactional
    public Fruit save(Fruit fruit) {

        entityManager.persist(f

[2019-04-25 14:15] sberyozkin commented on #2134
@gunnarmorling
I'm working on a Tika extension. Are you doing it too ?

[2019-04-25 14:15] renannprado commented on #1374
@stalep I had the `setOutputDirectory` before, but at least in Linux I no longer need it.

@cypressious this property could help you

[2019-04-25 14:19] starksm64 commented on #2222
It is working in 13.2 as I'm testing a demo against it. I'm not sure why an issue was not raised before commenting out the quickstarts. The PR for #1844 has already been merged and is in master. What is the error you are seeing?

[2019-04-25 14:20] starksm64 commented on #1844
This was addressed with the #1845 PR merge.

[2019-04-25 14:20] #1844 closed

[2019-04-25 14:29] sebastienblanc commented on #2222
Oh I forgot to say I tested with 0.14 not against master , will try against
master when I got back in front of the computer

Le jeu. 25 avr. 2019 à 16:19, Scott M Stark <notifications@github.com> a
écrit :

[2019-04-25 14:35] starksm64 commented on #2222
Note that I did update my quarkus branch to the current master and built it, updated my demo to use it and I am able to build and run. This is using all of the smallrye-* extensions:

[code]

[2019-04-25 14:37] starksm64 commented on #2222
It does not look like 0.14 is fully synced to the mirrors and it is blowing up very early with bad poms:

[code]

[2019-04-25 14:41] gsmet commented on #2222
It's 0.14.0, not 0.14. Please ping me if it doesn't solve your issue as I would have to dig what's going on quickly.

[2019-04-25 14:41] gsmet commented on #2222
@starksm64 ^

[2019-04-25 14:49] starksm64 commented on #2222
@gsmet , ok, that is also building and running fine:

[code]

[2019-04-25 14:51] FroMage commented on #467
@manovotn so it looks like I have to do at least three things:

- merge 04d3d8acf33c74444a1408badef17e22b4118a49 to extend the request context life for ArC in case of async requests (not sure why it works ATM)
- change our transactional support, this one is much tougher because it relies on CDI interceptors, which don't really have a notion of async
- integrate the quarkus thread pool into the sma

[2019-04-25 14:53] rsvoboda commented on #2218
Problem is present with 1.0.0-rc-16 too.

[2019-04-25 14:59] rsvoboda opened #2225 "XNIO007007: Thread is terminating on app shutdown with websocket"
XNIO007007: Thread is terminating / java.lang.ClassCastException on shutdown with websocket

Quarkus: 0.14.0, 0.13.3
GraalVM: 1.0.0-rc-15
Application: https://github.com/burrsutter/quarkusfingerpaint ++ Quarkus version update

Error is visible when shutting down, in both jvm and native mode.
Quarkus 0.13.3 native shows XNIO007007 error.
Quarkus 0.14.0 native shows ClassCastException (probably hide

[2019-04-25 15:03] rsvoboda commented on #2218
Comments are focused on native part so I split this issue, XNIO issue lives in #2225

[2019-04-25 15:06] FroMage commented on #467
And it turns out that https://github.com/stuartwdouglas/quarkus-old/commit/04d3d8acf33c74444a1408badef17e22b4118a49 does not work because `exchange` is null, in `DeploymentManagerImpl`:

[code]

[2019-04-25 15:10] rsvoboda commented on #2218
I tried quarkus-todo-app ++ Quarkus 0.13.3 ++ GraalVM 1.0.0-rc-16 and I DON'T see the issue.

[2019-04-25 15:13] sebastienblanc commented on #2222
Hum indeed , it's working for the official quickstart, it's something in my project then ... But it still fails only if I add `smallrye-jwt` :
[code]
https://github.com/sebastienblanc/quarkus-quickstart/tree/master/quarkus-rest-caps

[2019-04-25 15:20] FroMage commented on #467
Huh, it's called twice with a `null` exchange, but those are not real requests. I can just bail out of those calls.

[2019-04-25 15:22] aloubyansky commented on #2219
WrapperMojo already has access to the user Settings that includes proxy configs.

[2019-04-25 15:26] gsmet commented on #2219
@geoand could you see if we could pass explicitly the proxy options when creating the wrapper, then?

[2019-04-25 15:26] starksm64 commented on #2222
Ok, I see the same on your project. Add the -H:+ReportExceptionStackTraces flag to get more info:

[code]

and then it shows it is due to a missing class:

[code]

[2019-04-25 15:31] starksm64 opened #2226 "NativeMojo should add -H:+ReportExceptionStackTraces by default"
As seen in this #2222 issue, the default output from a failed native image build is usually a useless message telling you to add -H:+ReportExceptionStackTraces. We should have a mapping for the -H:+ReportExceptionStackTraces flag on the NativeImageMojo and set this to true by default.

[2019-04-25 15:32] sebastienblanc commented on #2222
I see, I need to add `quarkus-resteasy-jsonb` but it's only needed for native , so is this an expected behavior or a bug ;) ?

[2019-04-25 15:33] FroMage commented on #467
@manovotn or @mkouba how can I pass a servlet context from `UndertowDeploymentTemplate` to `TransactionalInterceptorBase`? It looks like I need to stuff it in `InterceptorContext` but I'm really not sure how.

[2019-04-25 15:50] emmanuelbernard commented on #2224
@mkouba can you chime in?

[2019-04-25 16:05] emmanuelbernard commented on #2144
So we can disable validation if we see arg0 etc. Or stop and ask people to enable the session. I say the former is ok.

But if you can enable it in dev mode without the user having to do it that would be cool. Not sure how as you still don't control compilation.

[2019-04-25 16:14] dmlloyd commented on #2225
To resolve this issue it seems like we'd have to ensure that all open websockets are completely torn down before the web container exits.

[2019-04-25 16:22] gsmet commented on #2199
From what I can see, the `package-info.class` of the `mapper.codegen.eforum` package is not taken into account in dev mode.

That's why you don't have the schema URL in the `<{}feed>` part of your error message.

There's a good chance it's a class loader issue indeed but I wasn't able to get to the root of it. @dmlloyd does it ring a bell? You're far more versed in class loaders than I am.

[2019-04-25 16:27] #2096 closed

[2019-04-25 17:14] geoand commented on #2219
I will, but I am out of "office" and will have very limited computer access for the next week or so. But I'll check as soon as possible.

[2019-04-25 17:19] dmlloyd commented on #2199
I suspect the problem is that `package-info` classes aren't, for whatever reason, being registered as app classes or framework classes, but I would have to step through with a debugger to be sure and I can't do that at the moment.

[2019-04-25 17:25] dmlloyd commented on #2223
The `isXxxEnabled` check only checks against the log category.  If the category is `TRACE` and the handler is `INFO`, then `isTraceEnabled` would still return `true`.

[2019-04-25 17:41] gsmet commented on #2199
@dmlloyd My understanding was that `appClasses` was only containing the generated classes? Did I miss something?

I wasn't able to debug this very efficiently as my Eclipse debugger is going berserk when dealing with JDK classes.

I wonder if the issue is not a problem of responsibility between `loadClass` and `findClass`. I would have expected `findClass` to deal with all the classes that `Runtim

[2019-04-25 17:41] mkouba commented on #2224
So [transactional observer methods](http://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#transactional_observer_methods) are not supported at the moment. We could propose some JTA integration SPI but as always it depends on priority...

[2019-04-25 17:42] #2088 closed

[2019-04-25 18:49] dmlloyd commented on #2199
The CL is still a bit haphazard (see also #1477) so it probably really needs a bit of top-to-bottom behavioral analysis.  I haven't put a lot of effort into that yet because I had some class loader ideas that were waiting on Alexey's big change, and now that that's in it just hasn't bubbled up on the todo list yet.

[2019-04-25 19:23] dmlloyd commented on #2150
That's an X/Y.  We need a proper shutdown API.  Also I don't think that observing `StartupEvent` is a proper long term solution for CLIs and jobs (I think there's an issue for this but I can't find it at the moment).  I do have an upcoming design proposal for these use cases.