[2020-05-21 12:06] heubeck commented on #9297
Hey guys, thank you for your dedication to this awesome project Quarkus.

Will you set the new native-image flag `--install-exit-handlers` by default?
Right now the signal handler has to be disabled when running Quarkus native built applications on Knative-serving.

Thank you and best regards

[2020-05-21 12:37] sberyozkin commented on #9454
@Ladicek You are right, it is something else. Something is going wrong inside Vertx code when verifying the token and then it tries to introspect and gets an inactve token message, this introspect should be even happening...sigh, back to tracing...

[2020-05-21 12:46] #9395 closed

[2020-05-21 13:51] sean-scott-lr opened #9515 "1.5.0.CR1 ClassCastException in multi-module maven project"
**Describe the bug**
1.5.0.CR1 introduces a new regression that was not present in 1.4.2.Final.

An invalid ClassCastException occurs within code that was generated by the quarkus-infinispan client during the execution of unit tests.

**Expected behavior**
The Generated code functions without error.

**Actual behavior**
This exception is raised during unit testing:

[code]

**To Reproduce**
Steps

[2020-05-21 13:56] geoand commented on #9515
Thanks a lot of reporting!

Would it be possible for you to provide minimal project that exhibits this behavior?

[2020-05-21 13:59] sean-scott-lr commented on #9515
@geoand I wish I had the time to do this, as I appreciate the work that the quarkus community does. But I am really overbooked with work at moment.

[2020-05-21 14:02] sberyozkin commented on #9454
This is weird now:

[code]

[2020-05-21 14:03] geoand commented on #9515
I completely understand.
Just keep in mind however that a reproducer is the most surefire way for us to act on issues as quickly as possible and fix them before the next release.

[2020-05-21 14:05] sean-scott-lr commented on #9515
Makes sense.  I will try to get some support on my end to make it easier for us to create bug reproducer projects, as I do see the value in providing this information.

[2020-05-21 14:05] geoand commented on #9515
Thanks a ton!

[2020-05-21 14:08] sberyozkin commented on #9454
My next theory is that the cookie content is corrupted somehow

[2020-05-21 14:12] #9456 closed

[2020-05-21 14:24] missourian55 commented on #9196
I just adopted 1.5.0.CR1 and still seeing this error while building the native image
[code]

[2020-05-21 14:25] geoand commented on #9196
You need to use `quarkus.log.handler.gelf.maximum-message-size`

[2020-05-21 14:43] #9463 closed

[2020-05-21 15:14] vaswanijitesh commented on #9501
I am attaching the code here :) Check out the vaswani.thirdparty.quarkus.TestLambda.java
[vaswani-quarkus.zip](https://github.com/quarkusio/quarkus/files/4663180/vaswani-quarkus.zip)

[2020-05-21 15:16] geoand commented on #9360
I can't reproducer the problem.

By executing

[code]

I get:

[code]

[2020-05-21 15:24] geoand commented on #9342
If you and @kenfinnigan agree, I can take it up to use Apache HTTP Client as the default.

[2020-05-21 15:25] vaswanijitesh commented on #9501
Updated the description. Please let me know if you need more information on any aspect of it.

[2020-05-21 15:38] carlosepdsJava commented on #9360
Sorry, i change method call to GET.
I'm using postman to call the API. Do not curl.

making the POST call via postman, nothing returns. but using curl really returns this error that you showed.
[code]

call made via curl with correct method(no error is returned.):

[code]

[2020-05-21 15:39] sberyozkin commented on #9454
This is what I'm getting:
[code]

with
(1,2) : https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java#L311
This is where the session token is created.
(1): `result.opaqueIdToken().length()`
(2):`cookieValue.length()`

(4,5) : https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/jav

[2020-05-21 15:43] geoand commented on #9360
The stuff I pasted above was using IntelliJ's REST facility.

So now I am confused at to what the problem is :)

[2020-05-21 15:47] geoand commented on #9306
So if I understand this correctly, this is about the output from GraalVM not showing up in the logged error?

[2020-05-21 15:48] geoand commented on #9292
@stuartwdouglas should we close this as fixed https://github.com/quarkusio/quarkus/pull/8734?

[2020-05-21 15:52] carlosepdsJava commented on #9360
Unbelievable!!!! I'm using Postman, to make calls to the API, and I did the test now and via curl the error that is generated by the endpoint, the restclient brought.

[code]
**{"error":"invalid_grant","error_description":"The credentials provided were invalid."}%**

but this error does not generate an exception in the application.

[2020-05-21 15:57] geoand commented on #9360
Can you try with `--header 'Content-Type: application/json'`?

[2020-05-21 16:00] carlosepdsJava commented on #9360
when I put try catch, the exception that is returned is: **Unknown error, status code 400.**

[code]

the error message is not printed in the exception as it was in curl.

[2020-05-21 16:00] carlosepdsJava commented on #9360
Yeap!

[2020-05-21 16:02] geoand commented on #9260
Hm... This seems like a weird pattern... What would happen if both values were set?

[2020-05-21 16:02] geoand commented on #9257
ping @iocanel :)

[2020-05-21 16:04] geoand commented on #9100
Thanks for reporting this,

Would you like to submit a PR updating the guide?

[2020-05-21 16:08] geoand commented on #9068
+1 for shading to avoid such issues

[2020-05-21 16:16] geoand commented on #9049
@HonoluluHenk How does this design sound:

Quarkus would provide an `AbstractEntityClassObjectMapperCustomizer` which will give you access to the entity classes (via a `protected final` method).
All you would have to do to use is it subclass, implement an abstract method with your logic it and make it a bean (by for example annotating it with `@Singleton`).

How does that sound?

[2020-05-21 16:16] famod commented on #9505
@geoand Can you please try again with https://github.com/famod/modmono-quarkus?

Where is `localRepository` in your `MAVEN_HOME/conf/settings.xml` pointing to?

[2020-05-21 16:21] geoand commented on #9505
Just tried with your application (but with `1.5.0.CR1` as the version) and the new dependencies did get downloaded by the test into `localRepository` which was set via `$MAVEN_HOME/conf/settings.xml` to `/home/gandrian/Desktop/maven-repo`

[2020-05-21 16:22] geoand commented on #9505
So I am going to close this for now. Feel free to reopen if you have more information.

[2020-05-21 16:38] #9273 closed

[2020-05-21 16:49] gytis commented on #9510
RESTEasy JIRA ticket https://issues.redhat.com/browse/RESTEASY-2595 and a PR to fix it https://github.com/resteasy/Resteasy/pull/2424

[2020-05-21 17:04] gytis commented on #9510
A test to verify the fix https://github.com/gytis/quarkus/commit/2b18281373fc420aa649f2ebc137386436efe187#diff-8b31f68e73bea3aaa11b328a7caabac4R32. It of course needs a patched RESTEasy version, so cannot raise a PR for it just yet.

[2020-05-21 17:05] famod commented on #9505
@geoand

Well, I can definitely reproduce it. On two different systems (both Windows 10) and two different projects.
For your test, did you have a `localRepository` configured in `~/.m2/settings.xml`?

[2020-05-21 17:07] gytis commented on #9510
Funny enough with `QuarkusDevModeTest` the failure is different (although same fix applies). In a test, a call to `Class.forName` succeeds. However, a moment later `type.isInstance(entity)` fails here https://github.com/resteasy/Resteasy/blob/master/resteasy-links/src/main/java/org/jboss/resteasy/links/ObjectLinksProvider.java#L49.

[2020-05-21 17:11] geoand commented on #9505
I do not. Do you?

[2020-05-21 17:12] geoand commented on #9510
Yeah, doesn't seem weird that you would need to have the same fix throughout

[2020-05-21 17:15] famod commented on #9505
No. Well. I guess I'll have to record the workflow somehow...

[2020-05-21 17:16] sberyozkin commented on #9454
I think I've definitely pinpointed it

[2020-05-21 17:19] geoand commented on #9505
I don't see how, but maybe it's a Windows issue? Have you been able to reproduce on a non-Windows machine?

[2020-05-21 17:34] geoand commented on #9505
I'm reopening so we can examine whether this is a Windows issue

[2020-05-21 18:02] geoand commented on #9505
What is `MAVEN_HOME` on your machine?

[2020-05-21 18:29] geoand commented on #9505
Another thing for you to check: Have you perhaps have a `maven.home` system property set anywhere?

If you are up for some debugging of the Quarkus code, I would suggest setting a break point at the constructor `BootstrapMavenContext` and at method `getEffectiveSettings`.

[2020-05-21 19:41] sirAlexanderT commented on #9428
Any update on this, my team are reluctant to go all in with Quarkus.

[2020-05-21 19:43] famod commented on #9505
`C:\_dev\Maven\latest` which is a directory junction:
[code]
I do *not* have a `MAVEN_HOME` or `M2_HOME` env variable set, but `MVN_HOME` (which is my own "invention").
On my company laptop (on which I can also reproduce the problem with another project), I do have `M2_HOME` set to `C:\Develop\SomeProject\SomeRepo\SomeRelease\..\Maven\latest` (also via directory junction).

No, I don't.

[2020-05-21 19:46] famod commented on #9505
I just checked without those directory junctions: same same.

[2020-05-21 19:47] geoand commented on #9428
This would be easy for us to take care of once the issue I opened in Flyway is addressed.
I would suggest that you also comment on that issue in order to help the Flyway folks see its importance 😉.

On the other hand, you can always have Flyway conditionally executed depending on a Quarkus profile

[2020-05-21 19:49] famod commented on #9505
The default repo (`~/.m2/repository`) is also a junction, to `D:\mvnrepos\user` (ran out of space at some point).
I tried without this junction but this did not change anything (as expected).

[2020-05-21 19:53] geoand commented on #9505
Then I am confused, if you don't have `MAVEN_HOME` set as an environment variable, why do expect the configuration to be picked up?

[2020-05-21 20:14] famod commented on #9505
Because `${maven.home}/conf/settings.xml` is a standard location supported by Maven: https://maven.apache.org/settings.html#quick-overview

Furthermore, it is not required to set `MAVEN_HOME`:
- https://maven.apache.org/install.html
- https://maven.apache.org/configure.html

The only place I could find where `MAVEN_HOME` is mentioned in the official MAVEN docs ist here:
https://maven.apache.org/co

[2020-05-21 20:24] geoand commented on #9505
Aha! Thanks for the details.

I think we can make things even more standard compliant.
In the analysis above, where does ${maven.home} come from?
IIUC, it's set anywhere, it's just the parent of the directory where the maven "binary" is being executed?

[2020-05-21 20:30] famod commented on #9505
It seems I have to correct myself for one detail:

Both scripts seem to _always_ auto-calculate `MAVEN_HOME`:
- https://github.com/apache/maven/blob/master/apache-maven/src/bin/mvn#L66
- https://github.com/apache/maven/blob/master/apache-maven/src/bin/mvn.cmd#L63

[2020-05-21 20:34] famod commented on #9505
Btw, things are not really getting any better when running dev mode in Eclipse via the "Quarkus Eclipse Feature" as this will also re-download dependencies to the wrong local repo.

[2020-05-21 20:43] famod commented on #9505
Oh wow, this doesn't even work!
As long as Quarkus needs `MAVEN_HOME` (or something similar), the Eclipse plugin would need to pass it over (if set at all for the Eclipse process).
Depending on where we end up here, I might create an issue for this over at https://github.com/jbosstools/jbosstools-quarkus

[2020-05-21 20:46] geoand commented on #9505
Do you want to update the maven documentation with the environment variable that addresses your issue?

I don't think there is anything else that can be done on the Quarkus side of things

[2020-05-21 20:47] famod commented on #9505
Back to the main issue:
FWIW, https://github.com/shrinkwrap/resolver use and document own system properties that can be used to override the settings.xml locations:
https://github.com/shrinkwrap/resolver#system-properties

The names are rather misleading, though, because they look like official Maven properties (which they are not AFAIK): `org.apache.maven.[...]-settings`

[2020-05-21 20:49] famod commented on #9505
I can do that, yes.

[2020-05-21 20:59] famod commented on #9505
@geoand One last thing: It could be argued that Quarkus is "misusing" an internal Maven variable (that was "public" in Maven 1, but isn't anymore). But at least you are not alone, e.g.: https://issues.apache.org/jira/browse/MESOS-1743
This might be something that you guys may want to discuss, once the Quarkus issue count is down to 100. 🙂

cc @aloubyansky @stuartwdouglas

[2020-05-21 21:05] geoand commented on #9505
Indeed, but it does seem to be pretty well known.
Also, the problem is sort of an edge case that the env var easily solves, so 🤷

[2020-05-21 22:12] aloubyansky commented on #9505
We check MAVEN_HOME and maven.home system property, which is set by Maven CLI. The property isn't actually propagated to the tests but it's easy to do that by adding `<maven.home>${maven.home}</maven.home>` to the surefire plugin config. You could give it a try @famod, if you like.

[2020-05-21 22:21] famod commented on #9505
Thanks, @aloubyansky. That'll surely work too.
It would be better if Quarkus users wouldn't need to care at all but I can live with this!
Either way, Quarkus users need to know. That's why I created #9523.

[2020-05-21 22:26] aloubyansky commented on #9505
Given that we generate the surefire plugin config we should simply stick maven.home in there.

[2020-05-21 22:32] famod commented on #9505
I like this idea. Wouldn't work for Eclipse, though: #9339
IntelliJ would pick it up automatically, I guess.

[2020-05-21 22:36] aloubyansky commented on #9505
It would certainly help every other use-case though, including the non-IDE one. Feel free to submit a PR ;) Or open an issue, if you don't have the time.

[2020-05-21 22:40] famod commented on #9509
Just a heads up: https://issues.apache.org/jira/browse/MCOMPILER-413

[2020-05-22 00:43] stuartwdouglas commented on #9506
Yes, we should shade it. There is not much else we can do, short of writing our own minimal resolver to just resolve the IDE launcher. This would be super error prone though, as it would be hard to make it respect all the relevant maven settings.

[2020-05-22 00:54] stuartwdouglas commented on #9292
Yes. There is still a lot of work I want to do in this area to improve it,  but this issue is fixed.

[2020-05-22 00:54] #9292 closed

[2020-05-22 01:04] jaikiran commented on #9428
Hello @sirAlexanderT, is this increase in time noticed every since time you boot up the application or is it noticed the first time you boot it up with Flyway? The reason I ask is, Flyway (as far as I know) creates certain schema specific tables for its versioning use the first time, even if there are no migrations in the application. Maybe that is impacting the timings?

[2020-05-22 01:11] #9513 closed

[2020-05-22 01:12] #9454 closed

[2020-05-22 05:40] emmanuelbernard commented on #9487
@mkouba +1 for the PoC. I am split brained on that one. An entity is not a bean therefore should not intercept. But we do have a specific use case here which makes sense since Panache entities are half entities, half component that would be a CDI bean in another life.

So maybe that facility is dedicated to Panache Entities only and not a generally exposed feature to ArC beans.

[2020-05-22 06:07] geoand commented on #9292
Cool

[2020-05-22 06:41] sirAlexanderT commented on #9428
Hi @jaikiran startup is slow regardless. So even after flyway has created all its tables and run all migration scripts. So you can imagine how much slower it is when it needs to actually run scripts.

[2020-05-22 06:54] geoand commented on #8593
@ppalaga any idea what this failure is all about?

[code]

[2020-05-22 06:56] mkouba commented on #9487
I think that if we decide to implement this it should be possible to use it anywhere. On the other hand, it seems that the implementation would require bytecode transformation of call sites (due to the nature of `@AroundInvoke` interceptors) and so it could be quite expensive. We could restrict the set of analyzed classes or something like that.

From the CDI POV - only method-level interceptor bi

[2020-05-22 07:02] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/112190659

[2020-05-22 07:09] geoand commented on #9509
Wow! We definitely need `parameters` working correctly! Thanks for the heads up @famod

[2020-05-22 07:12] geoand commented on #9317
Question: Is `default-route-openshift-image-registry.apps-crc.testing` always present for CRC?

As for the `default` namespace, is that also always needed?

cc @bentito

[2020-05-22 07:13] lburgazzoli commented on #8593
@geoand I think this exception need to be more detailed about the root cause of the issue, it is not the first time I see it and every time it puzzles me as it can be anything
@ppalaga can you have a look ?

[2020-05-22 07:15] geoand commented on #8593
Indeed yes

[2020-05-22 08:26] emmanuelbernard commented on #9297
@dmlloyd what would be the impact of `--install-exit-handler` by default?

[2020-05-22 09:02] oztimpower commented on #9101
Hi, do you have a sample project I can test this one against? I have made some fixes which I believe tackle this issue, and would like to verify.

[2020-05-22 09:07] manuelbl commented on #8297
Please don't use symbolic links. They usually require elevated privileges on Windows 10 and therefore just cause pain.

[2020-05-22 09:09] geoand commented on #8297
What is the proper Windows alternative?

[2020-05-22 09:17] manuelbl commented on #8297
There isn't any really. You will have to copy the file.

But I guess a symbolic link would be preferable as the .env file is likely to contain credentials and they shouldn't be copied unnecessarily.

[2020-05-22 09:31] sleberrigaud commented on #9481
@carlosepdsJava so I've just tried with both different JDK and I get the same issue. For reference:

[code]

and

[code]
Note that it's not bringing up the Quarkus app that's the issue, but actually making any HTTP request to the application, so to reproduce the issue, in my example project, running `mvn test` fails… when it shouldn't.

[2020-05-22 09:36] orion19792014 opened #9529 "gradle build task ignores sql script specified in quarkus.hibernate-orm.sql-load-script for test datasource"
**Describe the bug**
When you have separate application properties configuration files for test and production purposes, it appears that gradle **build** task doesn't pick up import sql script specified in quarkus.hibernate-orm.sql-load-script property for test datasource.
For the gradle **check** task import sql script is imported completely fine.

**Expected behavior**
When configuration of impo

[2020-05-22 09:42] geoand commented on #8297
The reason why we add a symbolic is to be able to track changes to and hot deploy Quarkus when that happens.

[2020-05-22 09:47] oztimpower commented on #9501
@vaswanijitesh Thanks, I have your bundle and I'm testing it. That error message is the AWS Signature4 header, which the AWS SDK signs each request with.

[2020-05-22 09:51] oztimpower commented on #9501
What's the significance of you calling out a key with an equals sign in it? Have you tested other key names?

i.e.
directory/file
file

I'm testing the simple use case first, just a file at the root of a bucket. All objects are at the root, with the prefix (directory) merely just characters of the key, as I'm sure you're aware.

[2020-05-22 10:08] jaikiran commented on #9481
@sleberrigaud, this is a genuine bug and you will need the fix that got merged in https://github.com/quarkusio/quarkus-http/pull/29

[2020-05-22 10:17] vietj commented on #9481
It seems it is using HTTP/2 and currently HTTP/2 does not support WebSocket. WebSocket has to be initiated using HTTP/1 . There is currently this RFC for supporting WebSocket with HTTP/2 https://tools.ietf.org/html/rfc8441 . It seems that Netty does not implement it yet https://github.com/netty/netty/issues/8011

[2020-05-22 10:32] jaikiran commented on #9481
@sleberrigaud, in the meantime to get past this, you can change your test case as follows and get it working:

[code]

[2020-05-22 10:46] emmanuelbernard commented on #9487
Ah, call side bytecode enhancement might be a problem. On the other hand that's what we do for entity access already @FroMage
Which makes me think, we could also check the query validity of this call then `someEntity.find("name", "Emmanuel");` for the same price.

[2020-05-22 10:46] lordofthejars opened #9532 "KafkaStreams + CLI + custom properties fail"
**Describe the bug**

I am developing a CLI application with KafkaStreams, and I need to set the Configuration of Kafka Streams programmatically. When I do and I run the application in *native* mode I get a Serde cannot be found.

The project is in this project in `quarked` branch https://github.com/lordofthejars/kstreamscat/tree/quarked

**Expected behavior**

Works without any problem.

**Actual

[2020-05-22 10:50] oztimpower commented on #9501
Ok, so yes I have validated the alternate use cases for the keys, and do get the same error for the "=", however if you check the AWS documentation it explicitly calls this out, and certain characters may require special encoding, "=" being one of them. I appreciate you are seeing this triggered with GraalVM, however I do recommend you avoid such a character, given the AWS documentation.

The erro

[2020-05-22 10:50] oztimpower commented on #9501
https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys

[2020-05-22 11:11] oztimpower commented on #9501
@geoand In simple terms the JVM and GraalVM are encoding the url string different for the HTTPS action. The character "=" is not in the set of characters recommended for use by AWS for S3 object names (as explained above), indeed it's explicitly listed as a character to be avoided, that may cause problems, and may need hex encoding to work.

It's not something Quarkus can control specifically, so

[2020-05-22 11:27] rquinio commented on #9532
I think you'd need to specify `kafka-streams.default.key.serde` /  `kafka-streams.default.value.serde` in application.properties, so they can be seen at build time by the quarkus-kafka-streams extension to register the Serdes for reflection ? cf #3547

Normally it's the runtime part of the extension that creates the KafkaStreams instance, so it's not actually possible to set configuration programm

[2020-05-22 11:30] lordofthejars commented on #9532
But I need to do it programmatically as it is a CLI tool not a server tool. So I think it should be possible to be done. There is a workaround maybe?

[2020-05-22 11:31] aloubyansky commented on #9529
Yes, please, attach/reference a reproducer. That we can be 100% certain your issue is fixed.

[2020-05-22 11:40] orion19792014 opened #9536 "Restore ability to provide additional command line arguments to native build"
**Description**
It would be nice to restore ability to specify additional command line arguments for the native build in build.gradle file. This is most useful in the cases, when you are turning into the native mode applications, which are using libraries, for which quarkus extensions are not ready/not planned.

Starting from 1.4.0 there are only 2 ways to specify additional arguments:

- using ap

[2020-05-22 11:41] mkouba commented on #9487
Yes, we do replace field access with getter/setter invocations. The performance drop could be a problem since we have to produce a lot of ``BytecodeTransformerBuildItem``s but we could try optimize this further and as I wrote we could restrict the set of analyzed/transformed classes.

So this is the first working version of POC:
https://github.com/mkouba/quarkus/tree/intercept-static-methods

It's

[2020-05-22 11:46] #9177 closed

[2020-05-22 11:56] rquinio commented on #9532
Ha ok because the value seemed hardcoded in https://github.com/lordofthejars/kstreamscat/blob/685069a2f61c28bc2780760feb377b7fbed645e5/src/main/java/com/lordofthejars/kstreamscat/KafkaStreamsProducer.java#L34 , but you'd want to be able to `./kstreamscat-runner --key-serde=com.acme.MySerde` ?

There are workarounds to manually register for reflection a third-party class: https://quarkus.io/guides/

[2020-05-22 12:01] lordofthejars commented on #9532
This is a trick I do to be able to boot up Quarkus and not complain about not set properties.

[2020-05-22 12:01] mgorniew commented on #9260
You mean using both, `@CommandLine.Option` and `@ConfigProperty` on one field? This is just one of proposition to consider. This is to allow setting configuration with usage of `picocli` options. Idea is that we would generate `ConfigSource` for all `@ConfigProperty` fields which have also `@CommandLine.Option`. Such `ConfigSource` would pick values from command line arguments.

But this is separa

[2020-05-22 12:14] mkouba commented on #9487
Hmm, so the current approach would not work with panache entities because it does not analyze the inherited static methods :-(. I need to think it over...

[2020-05-22 12:19] geoand commented on #9501
Thanks a lot for the info @oztimpower

[2020-05-22 12:19] #9501 closed

[2020-05-22 12:19] ngueno commented on #4005
Hey @dufoli @Dufgui this seems amazing work, any plans to release an initial version of it?

[2020-05-22 12:43] geoand commented on #9260
Seems reasonable

Which default private class are you referring to?

[2020-05-22 12:59] lordofthejars commented on #9532
The problem is that after Serdes I am sure it will be another one.

[2020-05-22 13:07] mgorniew commented on #9260
`@CommandLine.Option` annotation has default values which points to private inner classes from `CommandLine`, e.g.:

[code]
This causes exception mentioned in issue description.

[2020-05-22 13:11] orion19792014 commented on #9529
I've attached reproducer. Also the issue appears when gradlew clean build is executed. If after first unsuccessful execution gradlew build is run again, issue disappears.

[2020-05-22 13:14] geoand commented on #9260
OK, just wanted to clarify.

@mkouba sounds like something we should fix, right?

[2020-05-22 13:17] AmsterdamFilho commented on #4005
This looks great, also looking forward to this extension.

[2020-05-22 13:27] mkouba commented on #9487
For the record - we'll need to fix this: https://github.com/quarkusio/quarkus/blob/master/extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TransactionalInterceptorBase.java#L86

[2020-05-22 13:30] #9500 closed

[2020-05-22 14:14] ppalaga commented on #8593
It looks like a variant of https://github.com/quarkusio/quarkus/issues/9299 I guess adding a dummy class or resource in the platform test module could help.

[2020-05-22 14:14] sean-scott-lr commented on #9515
Ok, got some help creating a reproducer. Not though, I wasn't able to reproduce the same error ( during the "build step" as in the exception above.  However, I got a similar exception with the same classes at runtime.

Here is the reproducer:  [https://github.com/sean-scott-lr/quarkus-bug-reproducer](url)

[2020-05-22 14:17] geoand commented on #9515
Thanks a lot

[2020-05-22 14:47] sirf commented on #5691
Hi guys.

Hot redeploy doesn't seem to work in Java 11.
File system changes are picked up just fine as `Changed source files detected, recompiling`
but then it crashes with the following stack trace:
[code]

Is this a known issue?

I've tried fiddling with `--add-exports jdk.compiler/com.sun.tools.javac.api=ALL-UNNAMED`
and various other things to no avail.

JAVA_HOME and MAVEN_HOME are all set co

[2020-05-22 15:06] geoand commented on #9515
It seems like the failure occurs in tests but not when the jar is used.

@stuartwdouglas @wburns any idea what we can do to overcome this problem?

The exception I am seeing is:

[code]

My hunch is that the annotation processor being used by Infinispan is causing issues for the Quarkus tests.
One reason why I think this is a happening is because if I remove the dependency in Quarkus that brings i

[2020-05-22 15:15] rquinio commented on #9532
Looking at https://docs.confluent.io/current/streams/developer-guide/config-streams.html , the config keys that reference classes are:
- default.deserialization.exception.handler (built-ins: LogAndFailExceptionHandler / LogAndContinueExceptionHandler, LogAndFailExceptionHandler) - only LogAndFailExceptionHandler is registered today.
- default.production.exception.handler  (built-in: DefaultProduct

[2020-05-22 15:16] geoand commented on #9532
I don't see why this is a Quarkus problem. You are programmatically configuring Kafka Streams which means Quarkus can't know which things you actually need for reflection.
So I propose you just use `@RegisterForReflection` with the classes you need.

The alternative would be for you to write your own extension that would fit your programmatic logic like a glove and then make your application use i

[2020-05-22 15:19] vaswanijitesh commented on #9501
Thanks for all your effort. One thing though and I do understand AWS recommends otherwise, but JVM works so I thought there might be something to it where Quarkus is erroring out. So, you believe this issue arises from GraalVM? Thanks :)

[2020-05-22 15:35] josejulio opened #9538 "@Parameters in = QUERY are left out in the openapi.json on Quarkus 1.4.2"
**Describe the bug**
`@Parameter` with `in = ParameterIn.Query` are left out of the openapi.json, only the last `@Parameter` is actually show in openapi.json (and if it was explicitly defined in the signature as a `@QueryParam`

**Expected behavior**
All the parameters are listed in the openapi.json

**Actual behavior**
Only last `@Parameter` is shown and the ones that are set as `@QueryParam` in

[2020-05-22 15:48] manuelbl opened #9539 "Query parameters lost on redirect to OIDC provider"
**Describe the bug**
When using OpenID Connect (OIDC) to protect web applications, query parameters are lost if the user is redirected to login first.

**Expected behavior**
After the user has successfully authenticated with the OIDC provider, he/she should be redirected to the same URL that was initially requested.

**Actual behavior**
After the user has successfully authenticated with the OIDC p

[2020-05-22 15:48] michalszynkiewicz opened #9540 "quarkus-bom 1.3.3 declares smallrye-reactive-messaging-in-memory"
smallrye-reactive-messaging-in-memory 1.1.0 doesn't work with Quarkus yet it is in the BOM for 1.3.3 (info from @cescoffier)

It should be dropped from quarkus-bom in the 1.3 branch.

[2020-05-22 15:57] HonoluluHenk commented on #9049
yeah, that'd solve my problem.

Problem I foresee with this solution: if another usecase arises where you not only need Hibernate entities but also some other resources from other extensions (of which we do not yet have an idea yet), you'd need an AbstractOtherStuffObjectMapperCustomizer.... and then lateron some AbstractMoreStuffObjectMapperCustomizer.... ad infimum. But: the Application only may

[2020-05-22 16:11] geoand commented on #9049
I like the first solution a lot!
When I have some spare cycles I'll look into it, but I think it should be possible.

[2020-05-22 16:11] sberyozkin commented on #9539
@manuelbl Thanks, yes, it is a known issue, I'll get it fixed for 1.6.0.

If we have a code flow then it is always a human user who is trying to access a web application via GET first. Once the user is authenticated, the follow up POST requests will work fine.

Otherwise `POST` would only work with the bearer tokens.

[2020-05-22 16:22] danowrw opened #9542 "Add option to configure import.sql charset"
**Description**
For now quarkus uses system default charset for import.sql. This causes errors depending on which system it is run.

**Implementation ideas**
Please add an option to configure hibernate.hbm2ddl.charset_name from quarkus properties.

[2020-05-22 16:41] lordofthejars commented on #9532
But how I can mark as register for reflection classes that I do not own?

[2020-05-22 16:47] geoand commented on #9532
The annotation will let you register any class

[2020-05-22 16:48] lordofthejars commented on #9532
But Serdes class is from Apache Kafka project.

[2020-05-22 16:51] geoand commented on #9532
It doesn't matter. You can place the annotation on any of your own classes and use the `target` (I think that's what it's called) method of the annotation

[2020-05-22 16:52] lordofthejars commented on #9532
ah ok, great

[2020-05-22 17:03] lordofthejars commented on #9532
I'll update the docs as it is not explicitly explained :)

[2020-05-22 17:03] #9532 closed

[2020-05-22 18:41] SR-Lut3t1um opened #9543 "(1.5.0.CR1) Qute Template not found"
**Describe the bug**
I get a template not found error in Quote when updating to 1.5.0.CR1

**Expected behavior**
Qute works just like it does in 1.4.2.Final

**Actual behavior**
I'm getting [this](https://gist.github.com/SR-Lut3t1um/b634649af59be67ef2d765ba4a8d6717) stacktrace

**To Reproduce**
 1. Download [this](https://gitlab.informatik.uni-bremen.de/tobias5/aut0m4t0n) repo
 2. Start the docker

[2020-05-22 20:15] sorin-costea commented on #9339
Okay cool, now where do I submit the PR, or in the develop branch of quarkusio.github.io where I see this text, or in the main repo which doesn't have a develop branch?

[2020-05-22 20:29] jimbogithub commented on #9319
Thanks.  Is https://github.com/quarkusio/quarkus/issues/9318 another easy fix for you?

[2020-05-22 20:57] bentito commented on #9317
There will always a default namespace. So as an example this is good to use, as should work out of the box. Should also be able to use your own namespace but I have not tested that path.

[2020-05-22 21:08] derKrischan opened #9544 "QuarkusTestResource initialization and stop behavior"
**Describe the bug**
I#M not sure whether this is a bug or a discussion about the pros and cons of the current behavior...
Assume I have two tests and each one has it's own QuarkusTestResource than I would expect that only the QuarkusTestResource(implementing QuarkusTestResourceLifecycleManager) that is referenced in the tests annotation is initialized. But as far as I can see every class implemen

[2020-05-22 21:58] Funmi5160 commented on #3226
i have the error of  "No plugin found for prefix 'quarkus' in the current project and in the plugin groups [org.apache.maven.plugins, org.codehaus.mojo] available from the repositories..."
I am new on this,
Please what do I do?

[2020-05-22 22:36] gboro54 commented on #9501
Im going to chime in and think this is a bug in Graal. While I can understand the special handling argument when dealing with things like Parquet and partitions the = is in the name is a standard and all over the place. S3 is often leveraged as a replacement for HDFS so there should be a way to deal with this in Graal one would think

[2020-05-23 05:03] geoand commented on #9543
I believe this is a known issue that @aloubyansky is working on

[2020-05-23 05:05] geoand commented on #9544
Hi,

As hopefully is mentioned in the docs and the javadoc, this is the intended behavior.

The reason it's done this way is because is the Quarkus application starts only once (before all tests) and is not restarted per test.

This might change in the future, but for the time being this is the intended behavior.

[2020-05-23 05:06] #9544 closed

[2020-05-23 08:51] vladimirfx opened #9545 "Ability to exclude 3rd party CDI beans/factories from Quarkus Arc bean resolution"
**Description**
Currently using some 3rh party libraries that have CDI annotated classes can crash Quarkus Arc container. In order to use such libraries we need class/artifact exclusion mechanism for Arc scanner.

See https://stackoverflow.com/questions/61952174

**Implementation ideas**
Config properties would be enough:

    # for fine grained exclusion
    quarkus.arc.exclude-classes=class list

[2020-05-23 11:42] tkalmar opened #9546 "@IfBuildProfile not working on Interceptor"
**Describe the bug**
When annotating an Interceptor (`javax.interceptor.Interceptor`) with `io.quarkus.arc.profile.IfBuildProfile` the Interceptor ist still active. I observed this with an Interceptor annotated with `@IfBuildProfile("test")` (for logging test executions) which was also enabled in devmode ( Probably due to #9352 ).

**Expected behavior**
Interceptor only active in test-Profile

**A

[2020-05-23 12:49] geoand commented on #9546
Hi,

would you be kind enough to provide a small reproducer project exhibiting this behavior?

[2020-05-23 14:35] tkalmar commented on #9546
Reproducer: https://github.com/tkalmar/quarkus-reproduce-9546
The other way around: Interceptor annotated with '@IfBuildProfile("dev")'
`./mvnw test` leads to:
`2020-05-23 16:33:11,506 INFO  [org.acm.LogInterceptor] (main) Intercepting`

[2020-05-23 22:16] rquinio commented on #9359
@carlosepdsJava  I can't reproduce the issue with your reproducer.

If you add the following test:

[code]

The following endpoint works as expected:

[code]

If you could add a failing test to the reproducer it would be clearer what the issue is.

[2020-05-24 02:56] murphye commented on #9306
@geoand That seems to be the case... I am wondering if this a Gradle issue where it's not showing all of the errors coming from native image

[2020-05-24 06:49] cescoffier opened #9550 "Configure Mutiny thread pools using the Quarkus ones"
**Description**

Related to https://github.com/smallrye/smallrye-mutiny/issues/144.

Right now Mutiny is starting its own minimal thread pool for operators manipulating times.
The default head pool should be the quarkus one.

[2020-05-24 06:50] cescoffier opened #9551 "Integrate Mutiny Log with Quarkus Log"
**Description**

Mutiny is going to add a `log` operator. The logger used should be the Quarkus one when deployed in Quarkus.

[2020-05-24 07:23] murphye commented on #9477
I was playing with this previously. This seems to work, but I am wondering what improvements you have in mind...

[code]

[2020-05-24 07:28] murphye commented on #9477
Another example using SSE. This will send messages to all consumers of the `/stream` endpoint from the EventBus.

[code]

[2020-05-24 09:06] vsevel commented on #8826
closed by #9032

[2020-05-24 09:06] #8826 closed

[2020-05-24 09:45] oztimpower commented on #6707
Please close, this was added by #7866

[2020-05-24 10:01] vsevel commented on #6896
documentation now provided in #9552

[2020-05-24 10:01] vsevel commented on #8938
documentation now provided in #9552

[2020-05-24 11:42] oztimpower commented on #3608
The code has changed a lot since this issue was raised, it does now fail to build, with the following warning.

Or, if a named annotation is used on the derived class, and the application.properties refers to this:

Suggest the issue can be closed? @debae want to re-try? I've simulated your use case.

[2020-05-24 12:26] vsevel opened #9555 "Auto-detect kv secret engine version"
**Description**
Today we ask the user to specify the version for the kv secret engine. as it turns out it is easy to detect its version. The proposal is to auto-detect the version if possible, unless a specified version is set in the configuration using property `kvSecretEngineVersion`.

**Implementation ideas**
See `vault secrets list -detailed` in https://learn.hashicorp.com/vault/secrets-manage

[2020-05-24 12:31] mkouba commented on #9487
So I've got a first version that also works for panache entities annotated with `@Transactional` (or any other binding):
https://github.com/mkouba/quarkus/blob/intercept-static-methods/integration-tests/hibernate-orm-panache/src/main/java/io/quarkus/it/panache/Beer.java#L8

And the test:
https://github.com/mkouba/quarkus/blob/intercept-static-methods/integration-tests/hibernate-orm-panache/src/tes

[2020-05-24 13:43] hakandilek commented on #2198
Any updates on this one? It's been over 4 months since the last update from @emmanuelbernard.

[2020-05-24 14:57] #6707 closed

[2020-05-24 15:30] geoand commented on #9546
So looking at your code I see something like:

[code]

We don't state in the documentation that `@IfBuildProfile` and friends on interceptors, so I consider this a feature request more than a bug.

@manovotn @mkouba do you agree we add this capability? Do you foresee any problems?

[2020-05-24 16:46] mkdirJava opened #9559 "ExtenstionIssue: ServletBuildItem.addInitParam cannot retrieve initparam in runtime mod"
**Describe the bug**
Trying to wire in configuration to extenstion run time via BuildSteps using ServletBuildItem.addInitParam
Successfully builds but calling getInitParameter returns null

**Expected behavior**
Passing configurations in BuildStep to build ServletBuildItem via .addinitParam
should be avaliable in the servlet when calling getInitParameter

**Actual behavior**
Trying to wire in conf

[2020-05-24 17:13] aoudiamoncef commented on #9386
Hi @dmlloyd,
I looked at the console JSON formatter integration && i'm interested to add extend it with your help.

[2020-05-24 21:33] mjurc opened #9561 "Environment variables from secrets are not exported on OCP 3.11"
**Describe the bug**
Exporting secrets as environment variables as described by [Deploying to OpenShift guide](https://quarkus.io/guides/deploying-to-openshift#environment-variables-from-secret) does not work on OCP 3.11.

The same feature works correctly on OCP 4.x.

**Expected behavior**
Secrets should be present in environment variables specified by the property name.

**Actual behavior**
Envir

[2020-05-25 00:13] stuartwdouglas commented on #9339
Intellij does not really use workspaces like eclipse does, each project generally has its own config.

[2020-05-25 01:07] #9396 closed

[2020-05-25 02:38] gastaldi commented on #9559
Can you use 1.5.0.CR1? I believe that was already fixed

[2020-05-25 04:12] stuartwdouglas commented on #9515
This is due to https://github.com/quarkusio/quarkus/commit/ae19472cc5c166d49a4a105597780de4366d89c0#diff-5c4067844056bb7ffd25622e4fa17116R36

Basically for safety we added in some additional checks for directory elements in the QuarkusClassLoader. Because of the way this project is laid out with parents and children next to each other the discovery generated paths with '../' in them, that interfer

[2020-05-25 05:30] geoand commented on #8593
@ppalaga have you perhaps opened a PR with your previous suggestion?

[2020-05-25 05:36] r-uu commented on #5946
Even in trivial cases server startup fails after if this warning was logged. Logging hints at problems with injection (of EntityManager in my case). It would be nice if there would be an additional hint in this direction when injection has problems.

[2020-05-25 05:38] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/114407264

[2020-05-25 05:48] cescoffier commented on #9477
The idea is to return the `Uni` and `Multi` directly and avoid the user-managed subscription.

[2020-05-25 05:56] geoand commented on #8694
Seems like there was a connection timeout during dependency download.

@mariofusco would you perhaps consider doing something like https://github.com/quarkusio/quarkus-platform/pull/69 in order to avoid such failures in the future?

[2020-05-25 06:19] #9515 closed

[2020-05-25 06:24] cescoffier commented on #9479
Closed by https://github.com/quarkusio/quarkus/pull/9491.

[2020-05-25 06:24] #9479 closed

[2020-05-25 06:56] mkouba commented on #9546
@geoand @tkalmar @manovotn +1 for this feature. I think that we should probably change the current way of disabling beans (i.e. if the profile is not matching) from `@Alternative` without priority to `@Vetoed`. That would allow us to disable interceptors easily. I'll send a PR shortly.

[2020-05-25 07:02] geoand commented on #9546
Great!

[2020-05-25 07:12] gsmet commented on #9100
We should just document 11 now. Also should we use UBI instead?

/cc @cescoffier

[2020-05-25 07:21] gsmet commented on #9506
Hmmmm, the IDE launcher jar is 10 MB. Do we really want this as a runtime
dependency of the core?

On Fri, May 22, 2020 at 2:43 AM Stuart Douglas <notifications@github.com>
wrote:

[2020-05-25 07:23] manovotn commented on #5946
Hello @r-uu,
this issue (and the warning in it) is linked to usage of observer method for scope initialization which is often used as means to trigger "eager init" in CDI. And the warning is there purely because of varying behaviour between JVM and native modes, otherwise the observer works as expected. That sounds different from injection problem warning that you are mentioning - could you be mor

[2020-05-25 07:26] geoand commented on #9506
It's not added in the prod mode jar IIRC

[2020-05-25 07:33] gsmet commented on #9428
Not saying it's not an issue but how is it specific to Quarkus? I suppose you would have the same issue for anything using Flyway? If not, then we are missing something.

[2020-05-25 07:34] ppalaga commented on #8593
I can try to.

At the same time, having a proper fix for https://github.com/quarkusio/quarkus/issues/9299 would be much more welcome, where I might try to have a look too, unless somebody from Quarkus steps in.

[2020-05-25 07:37] tomekzar opened #9565 "Keycloak policy enforcer's path are not respected in dev mode"
**Describe the bug**
Keycloak's paths related properties are not respected in Quarkus dev mode.
[code]
Having such a config when an app is started using `./mvnw quarkus:dev` mode requests end with HTTP 401. On the other hand, running the same app with regular `java -jar` command ends with expected HTTP 200.

**Expected behavior**
Keycloak's config is not respected in dev mode and resources under `

[2020-05-25 07:42] danielezonca opened #9566 "QuarkusDevModeTest freezes when it fails during the loading"
**Describe the bug**
I just discovered a problem with Kogito Hot Reload test. When there is an error in an upper module, the test fails during the loading because of missing `-deplyoment` package but it freezes and then the build will reach the timeout and is aborted.
I did some analysis and created a PR to "workaround" it ([see link](https://github.com/kiegroup/kogito-runtimes/pull/526#issuecomme

[2020-05-25 07:52] mkouba commented on #9546
Ah, I forgot that `@Vetoed` only works for types... We could use `@Vetoed` for classes and `@Alternative` for producers but then there would be a difference in behavior - alternatives merely exclude the bean from injection whereas `@Vetoed` excludes all observers and producers declared on the bean. On the other hand, I believe that it's the expected behavior - if you annotated a class that declare

[2020-05-25 07:55] geoand commented on #9546
@mkouba exactly. I think there are also test cases that cover that scenario.

[2020-05-25 07:55] tomekzar commented on #9565
If anyone would be so nice and point me a place where should I start my investigation I would like to fix this by myself.

[2020-05-25 07:58] gsmet commented on #9538
/cc @phillip-kruger @MikeEdgar

[2020-05-25 07:59] mkouba commented on #9546
@geoand I'm sorry my description was not clear. Updated ^.

[2020-05-25 08:01] geoand commented on #9546
Still seems like the expected behavior to me

[2020-05-25 08:08] manovotn commented on #9546
+1 for this feature

Yea, same opinion here.

[2020-05-25 08:15] gsmet commented on #9561
/cc @iocanel @geoand

[2020-05-25 08:24] geoand commented on #9561
@iocanel @maxandersen have you seen this kind of discrepancy between OCP 3.11 and 4.x?

[2020-05-25 08:26] gsmet commented on #9565
/cc @sberyozkin @pedroigor could you guide @tomekzar ?

[2020-05-25 08:27] gsmet commented on #9565
/cc @stuartwdouglas too maybe

[2020-05-25 08:39] mkouba commented on #9545
Sounds reasonable.

CC @manovotn

[2020-05-25 08:48] geoand commented on #9559
I just tested the reproducer with `1.5.0.CR` and the tests passed. Was most likely fixed by https://github.com/quarkusio/quarkus/pull/9233

[2020-05-25 08:48] #9559 closed

[2020-05-25 08:55] geoand commented on #9317
@bentito you could try and see if it works with a custom namespace? I would like to know because if we can use a custom namespace, then I would prefer to use it as it would make the experience more consistent with what we already have

[2020-05-25 09:26] #9083 closed

[2020-05-25 09:28] bpasson opened #9569 "Make the console logging output stream configurable."
**Description**
For command line applications it can be useful to have console log to standard err instead of standard out because standard out can then be used to output command line results. When console logging is output on std err it makes capturing the command line output a lot easier since not logs have to be filtered out.

Even better would be an option to be able to have two console logger

[2020-05-25 09:29] FroMage commented on #9239
Lemme try with the latest master.

[2020-05-25 09:32] sberyozkin commented on #9565
@pedroigor has reported the same issue at #8204, and according to the last user comment a regression has started happening in `1.4.2`, all was good in `1.3.2`.
Hi @stuartwdouglas perhaps we need to update `quarkus-keycloak-authorization` to sync with some recent dev mode changes ?

[2020-05-25 09:35] sberyozkin commented on #8204
Hi @michaeljmcd @pedroigor @skmindbit I'm going to close this issue as a duplicate of #9565 since this issue is an example of a more general `quarkus-keycloak-authorization` dev mode issue

[2020-05-25 09:35] #8204 closed

[2020-05-25 09:37] FroMage commented on #2198
We'll have something for preview in a matter of weeks :)

[2020-05-25 09:39] sberyozkin commented on #8064
Hi @BigFatDog @pedroigor let me close this issue as a duplicate of #9565

[2020-05-25 09:39] #8064 closed

[2020-05-25 09:43] FroMage commented on #9141
Vert.x 3.9.1 is now in `master` so we can fix this bug.

[2020-05-25 09:50] FroMage commented on #9239
Still not working, you can observe this by fixing:

[code]

In `Person.kt` to reflect the fact that the `status` is supposed to be enumerated.

[2020-05-25 09:56] FroMage commented on #9487
Thanks a lot @mkouba I need to look at this. My idea was that the existing Panache transformer would generate the interception bytecode itself in the static methods, the same way we generate mocking interception bytecode for the same static methods. But I'll check your code first.

[2020-05-25 09:59] FroMage commented on #9487
We can probably return a bogus instance for all the use-cases that want to access the class. Is there no way to access the target class without going through the instance?

[2020-05-25 10:08] FroMage commented on #9487
Oh, I see, it looks like you're switching the callers of the static methods to use an intercepted static method.

My idea was more to inject the interception code into the static method itself, similar to the `_Subclass` you generate:

[code]

That would allow us to not scan static method call use-sites. OTOH, now that @stuartwdouglas has added support for limiting the scanning to jars that depend

[2020-05-25 10:10] manovotn commented on #9545
So, basically an alternative to https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#exclude_filters
Yeah, we should add that and using `application.properties` is probably the most natural way for that.

[2020-05-25 10:17] FroMage commented on #9487
FTR, this is how we inject mock interceptors for each static methods in Panache: https://github.com/quarkusio/quarkus/blob/master/extensions/panache/panache-mock/src/main/java/io/quarkus/panache/mock/impl/PanacheMockMethodCustomizer.java#L21

But this sort of interceptor can only either handle the entire call, or delegate to the original method: there's no "around invoke" concept like in CDI, whic

[2020-05-25 10:18] mkouba commented on #9141
@FroMage I'm on it...

[2020-05-25 10:19] FroMage commented on #9141
Great, thanks a lot.

[2020-05-25 10:25] mkouba commented on #9545
Actually, it might make sense to replace `quarkus.arc.exclude-classes` with a regex-based filter so that it's possible to exclude "groups" of classes...

[2020-05-25 10:37] mkouba commented on #9487
Well, we could try to return a "fake" instance but that could bring more problems than benefits. Interceptors could inspect `InvocationContext.getMethod()` to detect static methods if needed.

Yes.

Yes, that's the other possible solution. I chose the transformation of call sites because this would allow us to leave the static methods untouched which is easier for debugging. Anyway, the snippet in

[2020-05-25 10:38] jaikiran commented on #9566
I've opened https://github.com/quarkusio/quarkus/pull/9571 with a potential fix.

[2020-05-25 10:40] jaikiran commented on #9299
This should be fixed by https://github.com/quarkusio/quarkus/pull/9571

[2020-05-25 10:41] r-uu commented on #5946
I'll try to reproduce and let you know. Might take some time. It's a spare time activity ...

[2020-05-25 10:55] aksth opened #9572 "Disabled keycloak.policy-enforcer.paths is not publicly accessible"
I tried to run the [keycloak-authorization example](https://github.com/quarkusio/quarkus/tree/master/integration-tests/keycloak-authorization) from the quarkus repository. The policy enforcer config is as follows:

[code]

When I tried to access /api/public without any authorization, it is showing 401 Unauthorized error. So my question is whether this is an expected behavior? From what I have unde

[2020-05-25 10:55] phillip-kruger commented on #9538
@MikeEdgar @kenfinnigan
Changes that might cause this:
[https://github.com/smallrye/smallrye-open-api/compare/1.2.1...1.2.3](https://github.com/smallrye/smallrye-open-api/compare/1.2.1...1.2.3)

Any idea ?

[2020-05-25 10:56] #9546 closed

[2020-05-25 10:59] MikeEdgar commented on #9538
@phillip-kruger , definitely one of the two from Apr 6 or Apr 8, assuming this worked in an earlier version.

[2020-05-25 11:00] sberyozkin commented on #9565
This is probably most relevant, what Pedro commented at #8204 :
[code]

[2020-05-25 11:02] sberyozkin commented on #9572
@aksth Are you running it in the dev mode ? See #9565

[2020-05-25 11:05] artkonr commented on #583
Hi. I had a similar issue in my project, so I came up with a simplistic utility, which just picks .sql files and runs them as native queries using EntityManager (see sample repo [https://github.com/artkonr/trivial-reset](trivial example)) I would start them in test classes from BeforeEach/AfterEach methods. I figured it would be convenient to let the user of the utility to decide which .sql is to

[2020-05-25 11:22] phillip-kruger commented on #9538
@MikeEdgar maybe this line : https://github.com/smallrye/smallrye-open-api/blob/a49acbb8f792813934651ae0fbd245aceef8bb00/implementation/src/main/java/io/smallrye/openapi/runtime/scanner/ParameterProcessor.java#L1378

?

[2020-05-25 11:46] gmussi commented on #5879
I just came to the same issue.
I have two modules so far:

- project-name (pom) // root folder with pom packaged as pom
   - project-name-backend (jar) // depends on commons
   - project-name-commons (jar) // only has mongodb panache classes

The code compiles fine on Intellij Idea, but if i go to **project-name-backend** and run `mvn quarkus:dev`, i get the output:
`[ERROR] Failed to execute goal

[2020-05-25 12:12] maxandersen commented on #9561
I haven't tried that specific setup in 3.11 - surprised there would be a difference here though...

[2020-05-25 12:17] MikeEdgar commented on #9538
@phillip-kruger , the intent of that method is to match JAX-RS and OpenAPI annotations. If there is no match the [method calling it](https://github.com/smallrye/smallrye-open-api/blob/a49acbb8f792813934651ae0fbd245aceef8bb00/implementation/src/main/java/io/smallrye/openapi/runtime/scanner/ParameterProcessor.java#L1301) is supposed to treat it as standalone.

[2020-05-25 12:18] MikeEdgar commented on #9538
@josejulio - are you using inheritance or interfaces with your JAX-RS resource class?

[2020-05-25 12:20] aksth commented on #9572
Yes I'm running it in dev mode. In #9565, @tomekzar was able to run the application using java -jar. But when I try to run my application using java -jar I'm getting following error:

[code]

[2020-05-25 12:25] tomekzar commented on #9572
@aksth In my Keycloak setup realm client used by the application is set as `confidential` in and has enabled service account; maybe it's the missing part in the setup of yours?

[2020-05-25 12:31] geoand commented on #9561
Yeah, me too....

[2020-05-25 12:32] aksth commented on #9572
@tomekzar That was it. I was able to run by java -jar. @sberyozkin The original problem I mentioned
 doesn't occur in non-debug mode just like as mentioned in #9565.

[2020-05-25 12:33] FroMage commented on #9487
Well, I generate the bridge method for `find` and I instrument user methods for `findOrderedTransactional` so in both cases I inject the mocking interception code.

[2020-05-25 12:35] iocanel commented on #9561
That's weird. This is something that we do test.
I am wondering if the problem lies in `DB_PASSWORD` and how the quarkus config framework handles capitals and/or underscores.

[2020-05-25 12:37] geoand commented on #9561
Do you plan to check it out @iocanel ?

[2020-05-25 12:38] vladimirfx commented on #9545
IMO, patterns like selected-alternatives is simpler to understand and Quarkus users already familiar with it.

[2020-05-25 12:49] FroMage commented on #7102
Added your test at https://github.com/quarkusio/quarkus/pull/9577 and it passes. We must have fixed this already in `master`.

[2020-05-25 12:50] FroMage commented on #7102
Please reopen if you experience this again with `1.5.0.Final` due very soon.

[2020-05-25 12:52] mkouba commented on #9545
The difference is that `quarkus.arc.selected-alternatives` is designed to be used with several classes whereas `quarkus.arc.exclude-classes` could be used to exclude all classes from a package, or even several packages accross several jars...

[2020-05-25 13:03] gsmet commented on #9506
What do you mean by that? We filter it out of the dependencies?

Because it's there: https://github.com/quarkusio/quarkus/blob/master/core/runtime/pom.xml#L30 .

[2020-05-25 13:04] gsmet commented on #9569
Sounds like a very legitimate request, thanks for opening this issue.

/cc @stuartwdouglas

[2020-05-25 13:07] gsmet opened #9578 "Connection handling regression with Hibernate ORM in 1.5.0.CR1"
(Opening for @johnaohara as he's on PTO and I already bothered him too much)

John reported some transactional/connection issues with his benchmark with 1.5.0.CR1:

[code]

Reverting https://github.com/quarkusio/quarkus/pull/9018/commits/7e4b6317083aef900e6229ab0b3e64a7e5547fb0  fixes the issue.

[2020-05-25 13:07] gsmet commented on #9578
/cc @Sanne

[2020-05-25 13:11] johnaohara commented on #9578
From Postgres log;

[code]

[2020-05-25 13:12] vladimirfx commented on #9545
From `quarkus.arc.selected-alternatives` doc:

It is clear that package match is supported. It is not flexible enough?

[2020-05-25 13:13] gsmet commented on #9578
TBH, given all the issues we had with all those tries to change the connection handling, I wonder if we don't have a more serious issues with transactions.

[2020-05-25 13:15] geoand commented on #9542
@danowrw you can set `hibernate.hbm2ddl.charset_name` by setting `quarkus.hibernate.datase.charset`

[2020-05-25 13:18] geoand commented on #9506
Exactly: https://github.com/quarkusio/quarkus/blob/b98972432ede88f556c9fcfcf194367742f459cd/independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/model/AppModel.java#L197

[2020-05-25 13:25] mkouba commented on #9545
Oh, you're right, I completely forgot I implemented it this way ;-). So we should probably match the FQCN and packages with suffix `.*` and `.**`.

BTW it seems that the descriptions of the `ArcConfig` are not rendered correctly on https://quarkus.io/guides/all-config....

[2020-05-25 13:25] pedroigor commented on #9572
Thanks, @tomekzar, and @aksth.

Indeed, there is something wrong when running in dev-mode. I'll look at that.

I'll close this one and fix the dev-mode issue with #9565.

[2020-05-25 13:25] #9572 closed

[2020-05-25 13:30] josejulio commented on #9538
No, this is the class that is showing the error: https://github.com/RedHatInsights/policies-ui-backend/blob/master/src/main/java/com/redhat/cloud/policies/app/rest/PolicyCrudService.java#L90

The reproducer triggers the error there.

[2020-05-25 13:42] pedroigor commented on #9057
@sberyozkin Can we upgrade Keycloak version to 10.0.1 ?

[2020-05-25 13:47] sirAlexanderT commented on #9428
My understanding is that it's a "vetted" quarkus extension. So by association, using it, you should still benefit from the whole "SUPERSONIC SUBATOMIC JAVA" promise. Well as it currently stands, using this particular extension falls short of this promise. If we want real world projects out there adopting Quarkus, then I encourage addressing issues  in commonly used tools i.e. 'flyway'

[2020-05-25 13:57] iocanel commented on #9561
I think that the problem here lies in the expectation.

While the quarkus kubernetes extension does support passing environment variables from secret, it doesn't provide fine-grained control. This means that the whole secret is passed instead of adding property by property.

So the following configuration:

[code]

could be replaced with:

[code]

Or using the new style:

[code]

[2020-05-25 14:04] geoand commented on #9428
@sirAlexanderT we try and do improve our integration with popular libraries, but there is only so much we can do on our side.
We did a similar thing with Liquibase and we are always on the look out to improve the Quarkus experience as much as possible and for as many users as possible.
Unfortunately we can't tackle every issue with every library our there :)

[2020-05-25 14:12] aloubyansky commented on #9529
Thanks a lot for the reproducer. The issue appears to be fixed in 1.5.0.CR1. Here is what I changed to make it work
[code]

However, I recommend you to wait for the next release that will also include other resource dir related fixes that 1.5.0.CR1 suffers from, i.e. https://github.com/quarkusio/quarkus/pull/9582

[2020-05-25 14:12] #9529 closed

[2020-05-25 14:13] mjurc commented on #9561
@iocanel Thanks for looking into this.

I still don't see `DB_DATABASE`, `DB_USERNAME` or `DB_PASSWORD` on OCP3.11 holding the secret, though. The values respectively are `database`, `username` and `password. If I remove the `*.value=*` lines from yaml, the environment variables are not exported at all. Shouldn't the contain the secret?

Is it possible to configure the export of single key/value p

[2020-05-25 14:27] iocanel commented on #9561
By having just:

[code]

or

[code]

The generated YAML will contain:

[code]

And yes, this doesn't allow you to do any sort of mapping, like: `database -> DB_DATABASE`. The environment variable will be named `database` or whatever is the entry in your secret.

If you mean to just add a single key/value pair from the secret, then no, its not possible ATM!

The generator is unaware of your cluster

[2020-05-25 14:28] mkouba commented on #9487
I see.

So panache adds a synthetic method to the entity class to override some static methods declared on `PanacheEntityBase` (such as `count()`). I wanted to make the static method interception a general feature, not a panache-specific stuff, so I decided to go the other way and treat the generated methods as if they're regulat static methods. Maybe it was a wrong decision. I'll prepare the DRAF

[2020-05-25 15:00] emmanuelbernard commented on #9578
Zulip thread https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/We.20have.20a.20blocker

[2020-05-25 15:12] glefloch commented on #9377
I would be interested into working on this!

[2020-05-25 15:14] geoand commented on #9377
@glefloch too late unfortunately :)

It has been fixed in https://github.com/quarkusio/quarkus/pull/9388

[2020-05-25 15:14] #9377 closed

[2020-05-25 15:16] glefloch commented on #9377
@geoand  I will look for another one then :)

[2020-05-25 15:21] gaetancollaud commented on #820
@cescoffier

Did you move the repository ? I cannot find any repo having "grpc" as title in the quarkusio project. :frowning_face:

[2020-05-25 15:27] #9566 closed

[2020-05-25 15:27] vietk commented on #9506
Can't quarkus-core set the dependency as optional for quarkus-ide-launcher ?
So that's it's not polluting user classpath but you still get it declared as needed by quarkus core?

[2020-05-25 15:28] EfraimLA commented on #4644
@arielcarrera have a sample?

[2020-05-25 15:30] garmannslund commented on #9565
Thank you! I tried to implement this last week and wasn't sure what I was doing wrong. I can confirm it works as expected in `1.4.1`, so it must have been introduced in `1.4.2`.

[2020-05-25 15:34] emmanuelbernard opened #9585 "Offer a quarkus:remote-dev in binary form"
Offer a quarkus:remote-dev command not requiring maven / gradle tooling and be more friendly to deployment tools.

Related to #9271

[2020-05-25 15:43] emmanuelbernard commented on #9046
I gathered from you recent conversations that this one is "done"

[2020-05-25 15:45] emmanuelbernard commented on #5963
@ia3andy @maxandersen if you don't give a better name and a target release in the roadmap to this card, I'll simply close it in 48 hours.

[2020-05-25 15:48] emmanuelbernard commented on #4453
Hey @machi1990, when do you expect this to land in master? End of june, end of july, end of... Trying to assign it to a version but with flexibility to move out as needed.

[2020-05-25 15:48] ia3andy commented on #5963
@maxandersen it seems that we can close this? most of it would now be covered by the registry, code.quarkus.io would just have to adapt to it?

[2020-05-25 15:49] emmanuelbernard commented on #6260
hello @aguibert , with the other stuff you have on the fire, when do you think you want and can make this to land ? end of june, end of july, end of... I'm trying to map the task to a Quarkus release on the roadmap with option to move things out / adjust.

[2020-05-25 15:51] emmanuelbernard commented on #5920
@maxandersen @iocanel and friends, what shoudl we target this for 1.6 or later?

[2020-05-25 15:52] #5963 closed

[2020-05-25 15:53] ia3andy commented on #5963
I think we should create a new issues if things in here are still something..

[2020-05-25 16:07] geoand commented on #6588
@cescoffier seems like the vertx quickstart is now failing:

[code]

[2020-05-25 16:37] aloubyansky commented on #9511
Ok, I see where the problem is.

[2020-05-25 16:54] orion19792014 commented on #9529
Thanks a lot for fixing!

[2020-05-25 17:12] emmanuelbernard opened #9587 "Change target package format to facilitate tooling"

[2020-05-25 17:13] emmanuelbernard commented on #9587
@maxandersen @stuartwdouglas add details please

[2020-05-25 17:14] emmanuelbernard opened #9588 "code.quarkus.io should have option for including maven repository in its resulting projects"
for code.quarkus.redhat.com there are the issue that some of the extensions are only served from maven.repository.redhat.com.  You can have similar for other platforms or company specific code.quarku instances.

proposal is that code.quarkus.io gets a flag or env setting that enables it to include a maven repository setup for its generated projects.

[2020-05-25 17:15] emmanuelbernard commented on #9588
removing from roadmap until more details are in

[2020-05-25 18:22] machi1990 commented on #4453
Hey @emmanuelbernard, I have opened a PR #9370 which is current under review. As for the version, we can aim for 1.6, which should be end of June (If my timing is okay).

[2020-05-25 18:24] EfraimLA opened #9589 "Jackson Time Serialization Error: Class com.fasterxml.jackson.databind.ser.std.SqlTimeSerializer has no default (no arg) constructor"
**Describe the bug**
I'm using `java.util.Date` with `TemporalType.TIME` for saving only time and using jackson as Json Binding

**Expected behavior**
Get my time and dates serialized consuming a `application/json` endpoint

**Actual behavior**
When i try to get the serialized time with the native image (in GET) it does throw error

**To Reproduce**
Steps to reproduce the behavior:
1. Compile nati

[2020-05-25 19:35] darmanovic commented on #8932
I've similar problem.
[code]

[code]

[code]

Hibernate SQL log:
[code]

Query
[code]

[2020-05-25 19:56] maxandersen commented on #9490
@aloubyansky what do you want to do with this one ?

i read it again and i'm still not sure which dependency mismatch exactly (or is an example) of the issue; is it not possible to reduce down to a simpler project than a full gradle kotlin based project ?

[2020-05-25 20:03] juandiii opened #9591 "OIDC or JWT Authorization error: Token expiration."
**Describe the bug**
If I have an expired token then every request I make returns a response with no content, with status 403 forbidden, then I have an ExceptionMapper from ForbiddenException and it doesn't return the response I want. It still comes out no content with status 403.

**Expected behavior**
Should response with the ExceptionMapper with ForbiddenException

**Actual behavior**
Response

[2020-05-25 20:06] maxandersen opened #9592 "Have a catalog to describe community quarkus extensions with and without a platform"
**Description**
Issue to capture the work @gastaldi started around extension registry.

this is about having catalog defined, created and setup to publish to a registry as basis for first exploration.

[2020-05-25 20:10] maxandersen opened #9593 "Add initial implementation of list/add/remove extension utilizing registry"
**Description**

list/add/remove extension should get implemented using registry from #9294

in addition list should with this be able to find extensions that are not directly part of released platform,
add/remove should be able to figure out if need to explicit add version info in case not part of include BOM.

[2020-05-25 20:12] aloubyansky commented on #9490
As I mentioned in the description, I suggest importing the deployment BOM in the applications.

It's possible. Although, as a reproducer it's pretty good enough for now. If you want to reproduce the issue: check it out and build, change the BOM and rebuild.

[2020-05-25 20:15] sberyozkin commented on #9480
Vertx Oauth2 JWK refresh fix is incomplete so it will have to be in 3.9.2 as well

[2020-05-25 20:18] aloubyansky commented on #9490
A simple explanation of this issue would be equivalent to answering the question of what's the purpose of the deployment BOM. If you get that, you should understand what this issue is about.

[2020-05-25 20:30] maxandersen commented on #7272
Is this information even available anywhere in an artifact today ? @aloubyansky @gsmet ?

I would not include this as part of MVP of this feature as doc info, migration guide, api usage etc. are not. in any form available/defined today. @emmanuelbernard

[2020-05-25 20:31] maxandersen commented on #9587
@stuartwdouglas  what PR was it you said contained this ? my searches are not finding it.

[2020-05-25 20:41] sberyozkin commented on #9591
@juandiii So this issue is about the custom exception mappers not called when the security exception occurs ? Thanks

[2020-05-25 20:57] juandiii commented on #9591
Yes, it is.
Thanks

[2020-05-25 21:19] sberyozkin commented on #9591
@juandiii Thanks, I'll have to close this issue as a duplicate of both #5751 and #8570.
Please watch and vote for #8750

[2020-05-25 21:20] aguibert commented on #6260
hi @emmanuelbernard, sorry, I should have posted an update here sooner. Yes, this is on the back burner since I'm focusing on hibernate reactive and DB2 reactive lately.

For now I'd guess this would be around end of july, if at all.

[2020-05-25 21:21] sberyozkin commented on #5751
#8570 may be the way to go as the JAX-RS users also want to catch the security exceptions with the exception mappers, see #9591

[2020-05-25 21:23] sberyozkin commented on #8570
Hi Stuart @stuartwdouglas Can we discuss this option a bit more ? Without it we can't support the user provided custom JAX-RS exception mappers dealing with 401/403...Thanks

[2020-05-25 21:23] sberyozkin commented on #9591
@juandiii thanks, closing now, please watch #8750

[2020-05-25 21:23] #9591 closed

[2020-05-25 21:32] juandiii commented on #9591
Correcting #8570.

[2020-05-25 21:43] maxandersen commented on #9588
@ia3andy can you think of any other way to solve this than have code.quarkus have option to pass in to include a specific repository ?

[2020-05-25 21:45] maxandersen commented on #9046
@geoand @aloubyansky want to call it done/ok by now as discussed last week or do we have some specific ones we are missing we want to bring attention on ?

[2020-05-25 21:54] maxandersen commented on #9490
well, I actually thought the reason we did NOT include deployment bom was to avoid having too much included - thus I obviously don't grok what the purpose of deployment vs runtime BOM is for our extensions if you are now suggesting the opposite.

[2020-05-25 21:56] aloubyansky commented on #9046
I'm fine closing it. However, I don't consider myself being the lead/owner of this component, who actually should be evaluating these issues and doing planning.

[2020-05-25 22:11] aloubyansky commented on #9511
Thanks again for the reproducer. I've adjusted the previous PR to include it along with the fix.

[2020-05-25 22:22] HonoluluHenk commented on #9049
@geoand I just looked into your commits and like them alot :+1:

Imho the 99% use case is to use the Entity *classes*, not their stringified class name.
So: would it be possible to have a `Set<Class<?>>` instead of `Set<String>`?

[2020-05-25 22:23] aloubyansky commented on #9490
There is definitely a problem, imo, with including too many dependencies into the BOM. In perspective we need a smarter solution, again imo.
Currently though, an application's build classpath may end up being not what we expect it to be and even broken.
We could theoretically be pulling the deployment BOM in the same manner we are pulling in the deployment dependencies, i.e. behind the scenes and

[2020-05-25 23:17] stuartwdouglas commented on #9587
https://github.com/quarkusio/quarkus/pull/9394

[2020-05-25 23:18] stuartwdouglas commented on #9569
@dmlloyd can JBoss Logging handle this ATM?

[2020-05-26 00:01] stuartwdouglas commented on #8570
Some of this already works, the rest can't really be done in a secure way.

Permission checks are done via CDI interceptors, so the failure is a normal exception that can be mapped as normal. If you want to map authentication failures as well as authorisation then you need to disable proactive auth, and then you can use an exception mapper for the resulting AuthenticationFailedException, as it wil

[2020-05-26 00:17] stuartwdouglas commented on #5751
I am going to look into making this customisable via vert.x failure routes.

[2020-05-26 00:19] stuartwdouglas commented on #7102
I think this was fixed by https://github.com/quarkusio/quarkus/issues/7188

[2020-05-26 00:35] stuartwdouglas commented on #9487
I am very much -100 on call site transformation, this should be done by modifying the method itself. I only just finished optimising the call site modification we do for panache but this is not generally applicable, so that work would likely go to waste.

[2020-05-26 01:05] jaikiran commented on #9565
Perhaps similar to https://github.com/quarkusio/quarkus/issues/9371#issuecomment-629933975?

[2020-05-26 01:08] jaikiran commented on #9371
Does changing that value to:
[code]
work?

[2020-05-26 01:24] juandiii commented on #8570
@stuartwdouglas Thanks for the tip! It's sound interesting about _proactive Authentication_!

[2020-05-26 01:53] stuartwdouglas commented on #9506
It is needed to launch from your IDE.

Basically we have two competing requirements:
- Be able to launch Quarkus main methods from your IDE
- Not have anything from the processing side on the runtime class path

The way we deal with this is via the ide-launcher dependency. It has the bootstrap code shaded into it, so can be used to initiate the launch of the application, but is then removed from t

[2020-05-26 03:35] aksth commented on #9565
As observed by @garmannslund, it's working for me too in 1.4.1, but not in 1.4.2.

[2020-05-26 03:47] gastaldi commented on #9589
Can you create a reproducer project? `TemporalType` is a JPA enum so I am not sure how is that related to this error

[2020-05-26 03:54] jaikiran commented on #5691
Hello @Sanne, just saw your comment today. I remember running into this issue with IntelliJ IDEA too. Took me a while to understand that this is a IDE configuration issue. I had to "uncheck" the "Use '--release' option for cross-compilation (Java 9 and later)" under Preferences -> Build, Execution, Deployment -> Compiler -> Java Compiler to get the build working. That checkbox was (by default?) ch

[2020-05-26 04:06] jaikiran commented on #5691
Hello @sorin-costea,

Can you please create a separate issue adding details about your Quarkus usage and when you see this message?

[2020-05-26 05:15] #9281 closed

[2020-05-26 05:38] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/115369763

[2020-05-26 06:17] stuartwdouglas commented on #9565
This is fixed upstream: https://github.com/quarkusio/quarkus/commit/1c18ab663abdc4954d7c4f80e543b70d1c2111b7

[2020-05-26 06:37] mferlan opened #9598 "Validation of REST input/output classes defined as dependency"
**Describe the bug**
As a developer I use Hibernate Validator/Bean Validation for validating the input/output of your REST services.
But input/output of my REST services is defined in separate library (generated from RAML or OpenAPI file).

**Expected behavior**
When I follow **validation-quickstart** guide and make modification to extract my model to dependency then hibernate-validator should val

[2020-05-26 06:41] geoand commented on #9046
Fine with me

[2020-05-26 06:53] r-uu commented on #5946
I put together a minimal maven project that shows the discussed behaviour. What is the preferred way to exchange that so that you can play around with it?

[2020-05-26 06:57] geoand commented on #8694
@mariofusco can you take a look at my comment above? The build seems to have failed again due to dependency transfer issues

[2020-05-26 07:10] mkouba commented on #9487
So I'm -1 for modifying the original static methods. IIUIC this would break the debugger, i.e. users would not be able to debug the static methods they create. Also due to the nature of `@AroundInvoke` interceptors we would probably have to make a copy of the original method (that would be called from a function when the last `InvocationContex#proceed()` is invoked) and then replace the body of th

[2020-05-26 07:12] geoand commented on #9049
@HonoluluHenk that sounds reasonable, but I am hesitant to do for a couple of reasons:

1) I don't want to load the class eagerly if no bean ever uses it
2) Doing it lazily would mean that we would have to have synchronization code to populate the set of classes.

So I think it's best left up to client code to load the classes (via the Thread Context ClassLoader)

[2020-05-26 07:17] #9511 closed

[2020-05-26 07:24] stuartwdouglas commented on #9487
If you enhance the call sites then users won't be able to debug the calling method.

Except that really they still can, you just make sure the LineNumberTableAttribute is still pointing at the correct code and breakpoints will work fine. There may be some weirdness if you step into the very first like (as in the debugger will start to run the interceptors), but you get this whenever you step into

[2020-05-26 07:37] mkouba commented on #9487
Well, they will be lost for a while (if they step into) but they will get to the original method eventually (in few steps)...

Modyfing line number attributes? That sounds cumbersome...

Maybe we should get some numbers to estimate the cost of the call site transformation. Anyway, your `BytecodeTransformerBuildItem.requireConstPoolEntry` optimization seems to be applicable (and is actually applied

[2020-05-26 07:47] manovotn commented on #5946
@r-uu you should be able to just link/attach it to this issue and we can go from there.

[2020-05-26 07:49] stuartwdouglas commented on #9487
The big problem is not even the requireConstPoolEntry optimisation. The big problem is that it would negate the annotation processor based marker file approach I used for panache.

The idea is that this annotation processor creates a marker files, that can be used to tell which jars on the class path have panache as a dependency. We know that only modules with panache as a dependency can access pa

[2020-05-26 07:52] geoand commented on #9598
Thanks for reporting!

Can you perhaps attach a project where you have already performed steps 1-3?

[2020-05-26 07:54] geoand commented on #9445
Are we OK with having a separate issue to report Windows runs?

[2020-05-26 07:56] ozkanpakdil commented on #9371
no it does not. here is the new exception
`Caused by: java.nio.file.NoSuchFileException: keystore.jks
        at java.base/sun.nio.fs.WindowsException.translateToIOException(WindowsException.java:85)`

[2020-05-26 08:02] ppalaga commented on #8593
Update: I do not plan to implement the workaround anymore. There is https://github.com/quarkusio/quarkus/pull/9582 that contains a fix for the underlying issue. Hopefully it gets merged soon.

[2020-05-26 08:04] geoand commented on #8593
Makes sense

[2020-05-26 08:05] FroMage commented on #9487
OK, so @stuartwdouglas essentially says this should not be general-case, but only for Panache static methods.

Now, about the debug issues:

- inserting bytecode in the method requires shifting debug info as Stuart said. I don't do that for the mock interceptor, but I should I guess..
- we can't insert bytecode for ArC interceptors because of the "around" semantics, so yeah we have to move the met

[2020-05-26 08:07] stuartwdouglas commented on #9371
The working directory is /target, so can you try:

%dev.quarkus.http.ssl.certificate.key-store-file=../keystore.jks

[2020-05-26 08:08] mkouba commented on #9487
Yeah, I do understand this optimization. So you're basically saying that the call site transformation is fordbidden and we only keep it for panache. Shoudn't we try to optimize our transformation approach then so that it's usable for other extensions as well?

We would not insert something at the start of the method but replace the whole body...

[2020-05-26 08:09] stuartwdouglas commented on #9487
No, general case is fine, but not for call site instrumentation. Just modify the class being called so you don't have to potentially modify the whole class path.

[2020-05-26 08:10] stuartwdouglas commented on #9487
But you would copy the original method right (at least that is what you mentioned above). If so you don't need to do anything, as long as you leave the method attributes alone, the line number table will be copied across and debug will work as normal.

[2020-05-26 08:12] mkouba commented on #9487
Yes, `Foo.someStaticMethod()` -> `Foo.someStaticMethod_original()` and modify the original `Foo.someStaticMethod()` to call the interceptor chain and pass a function that invokes `Foo.someStaticMethod_original()`.

[2020-05-26 08:14] FroMage commented on #9487
Oh, you want ArC to modify the original classes rather than deal with generating new classes (which is the only thing it currently does). Interesting. Since I don't think it currently does that, I wonder how much work that would involve, and I wonder how it would integrate with Panache also doing other enhancements. We'd have Hibernate, Panache and ArC modifying the same class, so we have to make

[2020-05-26 08:14] stuartwdouglas commented on #9487
In that case then debugging will just work. It will look pretty much exactly the same debugging any other intercepted window, the only difference is that the stack trace will have the _original prefix in it.

[2020-05-26 08:18] ia3andy commented on #9588
@maxandersen I guess we could add an option to the CodeGenerator so specify a maven repository, and then activate it for code.quarkus.redhat.com, wdyt?

[2020-05-26 08:18] mkouba commented on #9487
That's exactly what I'm afraid of...

[2020-05-26 08:26] stuartwdouglas commented on #9487
No we won't, because the methods that the user can apply an interceptor to are just normal static methods. The user can't modify the generated static methods, as there is nothing to add annotations to.

[2020-05-26 08:29] mkouba commented on #9487
I don't understand? What are we not going to do?

[2020-05-26 08:40] ozkanpakdil commented on #9371
`quarkus.http.ssl.certificate.key-store-file=../keystore.jks`
worked thanks. I think we can close this now.

[2020-05-26 08:40] #9371 closed

[2020-05-26 08:42] mferlan commented on #9598
[quarkus-validation.zip](https://github.com/quarkusio/quarkus/files/4680894/quarkus-validation.zip)
two project created following steps 1-3
Additionally,
 -  pom.xml contains commented out configuration for jandex-maven-plugin
- there is an empty file src/main/resources/META-INF/empty-beans.xml
   (when this file is renamed to beans.xml then validation works)

[2020-05-26 08:58] gsmet commented on #9598
(when this file is renamed to beans.xml then validation works)

Yes, that's because you need a `beans.xml` in your additional module. It needs to be a bean archive for the constraint annotations to be found.

[2020-05-26 08:59] FroMage commented on #9487
In the case of Panache, that's not strictly true, though it depends on the semantics we ascribe to static methods "inheritance". If the user adds `@Transactional` to an entity class, they probably expect it to apply also to the `PanacheEntity` static methods that they invoke on their entity, even without having overriden them. They call them with `MyEntity.find()` and so to them there's a quasi in

[2020-05-26 09:00] gsmet commented on #9598
I thought I added something in the doc somewhere but I can't find it. Will have a closer look and if not there, I will add it.

[2020-05-26 09:03] geoand commented on #9598
I'm very interested in knowing how you came up with `empty-beans.xml`. Was it something in the documentation that made you think this?

[2020-05-26 09:06] mkouba commented on #9487
So if a user wants a static method from the `PanacheEntityBase` to be intercepted? What would be the preferred way? Add e.g. `@Transactional MyEntity.deleteAll()` and delegate to `PanacheEntityBase.deleteAll()`? In that case, you would have to transform the `MyEntity.deleteAll()` method or?

[2020-05-26 09:09] brundipub commented on #9259
It seems that I have found a way how to make it work, it's generally à la scenario "when you want to make function A work, you need to 'intuitively' turn on function B" :

How to:
When you put "quarkus.log.file.rotation.max-file-size" into your propeties file, then the rotate on boot starts working, not impacted by the value of "max-file-size" itself.

Sample:
If you put e.g. "quarkus.log.file.rot

[2020-05-26 09:21] FroMage commented on #9487
That sounds reasonable, no? At least, we can start with this approach, and extend support for class-declared interceptors later if people come up with a good use-case? Or do you think it's too restrictive?

[2020-05-26 09:23] FroMage commented on #9487
ATM we do define an ordering by using markers. They are applied in reverse order I think, so I think Panache declares its transformer after Hibernate declares them, which means Panache transformers run first. That's from memory, though, perhaps I'm wrong.

[2020-05-26 09:24] artkonr commented on #9086
Hi, @radcortez, have you tried specifying reflection config for Graal? I had just the same issue and it worked for me. Basically, it takes a .json file which contains metadata on all classes that utilize reflection (and ServletConfigEtc certainly does) in your project. This .json is then fed to the GraalVM so that it could instantiate classes on build-time with reflective access preserved.

It is

[2020-05-26 09:25] aloubyansky commented on #9445
I am!

[2020-05-26 09:36] geoand commented on #9086
That process should rarely be needed, unless your **application** code does a ton of reflection on its own.
Perhaps we can add a reference to it somewhere in https://github.com/quarkusio/quarkus/blob/d5e643d5bfabde67ce1cfd143e5bd2f5861d198d/docs/src/main/asciidoc/writing-native-applications-tips.adoc

[2020-05-26 09:48] geoand commented on #9445
@maxandersen ?

[2020-05-26 09:54] maxandersen commented on #9445
Does it matter ? Aren't afailure a failure no matter the OS ?

I'm +0 on it but if you guys see value in having separate issue pr. OS I'm fine with it.

[2020-05-26 09:58] geoand commented on #9445
The with the same issue is that it you can have the following scenario:

* Issue gets opened by Windows run
* Issue gets closed by Linux run

That's what I want to avoid with multiple issues. But if you have any better ideas, I'm all ears :(

[2020-05-26 10:07] artkonr commented on #9086
@geoand, actually, my problem was pretty close to what is described in this issue: Graal threw this
[code]
, which is quite nasty, because it originated from what Quarkus delivered. It may have caused some odd error case with my project, but the failure description was very confusing. I guess in no-idea-what-to-do-next cases native agent might be quite useful.

[2020-05-26 10:09] radcortez commented on #9086
Yes, the case here is that adding your own reflection metadata shouldn't be needed.

[2020-05-26 10:15] emmanuelbernard commented on #820
Should we close that issue @michalszynkiewicz ?

[2020-05-26 10:26] MikeEdgar commented on #9538
This is definitely due to smallrye/smallrye-open-api#293. I'm thinking about how to rework that change.

[2020-05-26 10:27] sberyozkin commented on #8570
@stuartwdouglas This is cool, I'll give it a go and add a test a bit later on

[2020-05-26 10:28] sberyozkin commented on #7502
Hi All, please watch #8570. Closing it as a duplicate

[2020-05-26 10:29] #7502 closed

[2020-05-26 10:31] maxandersen commented on #9297
Why is that actually ?

[2020-05-26 10:34] sberyozkin commented on #8570
@stuartwdouglas

I'll need to check again, MP REST Client can auto-propagate the token, I thought, when I looked at it last time, it was not possible with the (proactive) approach, will check...

[2020-05-26 10:35] emmanuelbernard commented on #7272
My hope was that this work would trigger the definition of a metadata format and could be empty for extensions that need to catch up. But yes can definitely be LessMVP

[2020-05-26 11:02] michalszynkiewicz commented on #820
I think so @emmanuelbernard

[2020-05-26 11:17] suchwerk opened #9602 "Panache support for not initilized proxies"
**Description**
The use-case is to add not-initilized proxies to a set inside a panache entity. Right now i have to inject the entity manager to access getReference. It would be nice if PanacheEntityBase itself would implement getReference.

So

[code]

to be replaced by something like:

[code]

[2020-05-26 11:41] anamarija commented on #9478
Hi,

If nobody is working on this, can I take a look at this and test everything out.

[2020-05-26 11:53] Sanne commented on #9602
I agree, this would be very useful. Thanks for opening!

@FroMage : I suppose this is doable?

[2020-05-26 11:58] emmanuelbernard commented on #9587
So it's really the reaugment stuff, mind if I close this one?

[2020-05-26 11:59] emmanuelbernard commented on #9046
For info @gsmet we are closing this one as "done" but if you feel unsatisfied with it from a release clusterf**k PoV, please reopen and add to the roadmap.

[2020-05-26 11:59] #9046 closed

[2020-05-26 12:02] gsmet commented on #9428
@geoand made some improvements for 1.5.0.Final. Please try it out once it's released.

[2020-05-26 12:04] gsmet commented on #9578
I reverted the commit so I will close that one.

[2020-05-26 12:04] #9578 closed

[2020-05-26 12:04] michalszynkiewicz commented on #820
We have a gRPC extension already merged, most of the listed items are already resolved, the ones that are left are tracked in different issues. Closing

[2020-05-26 12:04] #820 closed

[2020-05-26 12:04] stuartwdouglas commented on #9587
The re-augment stuff still has not been merged, but I think the basic fast-jar format is probably enough to resolve this issue.

[2020-05-26 12:07] FroMage commented on #9602
You can use `Panache.getEntityManager()` as well. But yeah, probably we could add this feature, but is it really common enough, do you think @Sanne ?

[2020-05-26 12:16] suchwerk commented on #9602
[code]
looks leaner vs.
[code]

[2020-05-26 12:19] #8469 closed

[2020-05-26 12:23] #9543 closed

[2020-05-26 12:23] #9299 closed

[2020-05-26 12:29] FroMage commented on #9602
Sure, I don't question that. But we don't want to add every Hibernate feature in a Panache layer because that would make the API huge and scary. So we always try to resist additions to the most common use-cases that people need. Hence my question to @Sanne but perhaps @emmanuelbernard has an idea too.

[2020-05-26 12:40] geoand commented on #9313
I removed the `good first issue` because of the following:

1) We need to be able to have JavaFX controllers be CDI beans, otherwise the experience would be bad
2) We should provide an easy way for a user to create a JavaFX application, perhaps an annotation like `@QuarkusJavaFXApplication` or a `QuarkusJavaFXApplication` interface. This would allow Quarkus to hide all the boilerplate code needed

[2020-05-26 12:46] sorin-costea commented on #9339
PR is up. @stuartwdouglas please have look at the IntelliJ section as I don't know that IDE...

[2020-05-26 12:49] Sanne commented on #9602
You can't easily update collections without this .. so yes I'd say it's commonly useful. As many other things :)

[2020-05-26 12:49] #9141 closed

[2020-05-26 12:50] Sanne commented on #9602
Although TBH `Panache.getEntityManager().getReference(..` doesn't look too bad - your call @FroMage

[2020-05-26 13:00] FroMage commented on #9602
If I give you `Entity getReference(Object id)`, I'll have to give you `List<Entity> getReferences(Object... ids)` too because ` ids.forEach(id->list.add(Item.getReference(id)));` is just yuck compared to `Item.getReferences(ids)`.

[2020-05-26 13:12] haraldatbmw commented on #9178
Retested the issue with **Quarkus 1.5.0.CR1** on **Windows10** with a new error-message.
Linux still working.

[code]

[2020-05-26 13:23] lordofthejars commented on #9510
Happened to me as well this in Dev mode. Just in case you need it as well.

https://groups.google.com/forum/#!topic/quarkus-dev/v1ysGv1JWm4

[2020-05-26 13:24] geoand commented on #9178
@haraldatbmw can you try adding `quarkus.kubernetes-client.trust-certs=true`?

Also, are setting any other configuration values for `quarkus.kubernetes-client....` ?

[2020-05-26 13:26] starksm64 commented on #9313
Another issue is the use of FXML and how the FXMLLoader uses reflection on the generated CDI controller proxies if the controller is not using Dependent scoping. Ideally a CDI aware FXMLLoader would be produced that does not use reflection, but it did not look possible to do with a simple subclass of FXMLLoader given the current architecture.

[2020-05-26 13:28] mferlan commented on #9598
The intent regarding empty-beans.xml file remark is to point out that my attached project contained some "commented out solutions" and one of them was using empty beans.xml. So instead of deleting and recreating a file, for me it is far easier to rename a file and test if it works.

**Regarding documentation**
When I referenced model as dependency, then Quarkus build failed and one of the suggesti

[2020-05-26 13:28] haraldatbmw commented on #9178
@geoand I already had the property `quarkus.kubernetes-client.trust-certs=true` which causes the error on Windows.

I just explicit set the env variable `set KUBERNETES_TRUST_CERTIFICATES=true` before calling maven. And now it works. It seams that the quarkus property does not work on windows!?

[2020-05-26 13:30] geoand commented on #9178
That is very weird... Can you please open a new issue for that?

[2020-05-26 13:41] #8878 closed

[2020-05-26 13:41] gsmet commented on #8878
Fixed in https://github.com/quarkusio/quarkus/pull/9032 .

[2020-05-26 13:41] haraldatbmw opened #9605 "KubernetesClientException - quarkus.kubernetes-client.trust-certs=true not working on Windows"
**Describe the bug**
OpenShift deployment (quarkus-openshift extension) fails on Windows 10 because of self-signed certificate. The property ` quarkus.kubernetes-client.trust-certs=true` has no effect. The same source code works fine on Linux.

**Expected behavior**
Deployment to OpenShift.

**Workaround**
setting environment variable explicit:

[code]

**Actual behavior**
KubernetesClientExceptio

[2020-05-26 13:42] haraldatbmw commented on #9178
@geoand done - see issue https://github.com/quarkusio/quarkus/issues/9605

[2020-05-26 13:43] gsmet opened #9606 "Support additional named reactive datasources"
Right now, the reactive datasources (reactive-mysql-client and reactive-pg-client) do not suppord additional named datasources, which is a bit unfortunate considering they are sharing the configuration with the Agroal datasources.

We should support it and we can copy the patterns used for the Agroal datasources. Note that we don't need to support the legacy stuff for the additional named datasour

[2020-05-26 13:44] gsmet commented on #9606
/cc @anamarija this might be a good subject for you :).

[2020-05-26 13:49] anamarija commented on #9606
Ok, I will start working on it. Thanks @gsmet

[2020-05-26 14:00] phillip-kruger commented on #9538
This should be fixed once we pull in the next version of SmallRye.

[2020-05-26 14:09] geoand commented on #9598
I can reproduce this problem

[2020-05-26 14:09] gsmet commented on #9606
Feel free to ping me if you need some guidance or have some questions, I will be happy to help.

[2020-05-26 14:10] gytis commented on #9510
@lordofthejars I have a fix for it. But unfortunately it needs a change in RESTEasy code, so it might take a while until it trickles down here.

[2020-05-26 14:15] lordofthejars commented on #9510
oh :( I was thinking on demoing this awesome addition. Now I'll do something like, let's do a native compilation so I do not need to show dev mode.

[2020-05-26 14:35] gmussi commented on #7414
I just came across this discussion as I am having the same conceptual problem (authenticated websocket).
So far, I am thinking of closing the stream if the first message in that stream is not a valid JWT. I would then manually validate the JWT.
I also liked the solution of the single-use ticket, but this would require additional domain logic, which I am trying to avoid.

What puzzled me is, in the

[2020-05-26 14:54] geoand commented on #9605
@haraldatbmw do all other configuration values work as expected on Windows?

[2020-05-26 14:56] haraldatbmw commented on #9605
@geoand Yes, all other properties inside the application.properties file works fine.

[2020-05-26 14:57] geoand commented on #9605
Thanks. Really weird...

[2020-05-26 14:59] haraldatbmw commented on #9605
@geoand Does the quarkus extension set this environment varialbe KUBERNETES_TRUST_CERTIFICATES=true??

[2020-05-26 15:00] geoand commented on #9605
I see what the problem is. I'll have a fix soon.

`KUBERNETES_TRUST_CERTIFICATES` works because the Kubernetes Client always check it

[2020-05-26 15:08] bentito commented on #9317
yep, will try to make it work tonight (USA, Eastern)

Brett Tofel
Sr. Software Engineer
Red Hat (OpenShift Metering)

On Mon, May 25, 2020 at 4:55 AM Georgios Andrianakis <
notifications@github.com> wrote:

[2020-05-26 15:10] haraldatbmw commented on #9605
@geoand weird is that the property `quarkus.kubernetes-client.trust-certs=true` works in my Linux environment fine.

[2020-05-26 15:12] geoand commented on #9605
Yeah, it;s just plain inconsistent now, but the fix is easy at least :)

[2020-05-26 15:16] geoand commented on #9605
@haraldatbmw would you be willing check with https://github.com/quarkusio/quarkus/pull/9610 ?

[2020-05-26 15:22] geoand commented on #9605
Thanks!

[2020-05-26 15:27] sorin-costea commented on #9339
@stuartwdouglas shoudn't the IntelliJ Maven integration automatically pick up systemPropertyVariables from the surefire config in pom.xml?

[2020-05-26 15:29] hacst commented on #4629
@dmlloyd For clarification: Will it stay possible to use log4j 2 as the jboss logging provider in quarkus or is that what you mean with "not pluggable" backend? There's a lot of appenders for log4j2 that, from what I can tell, are not available for the jboss provider (e.g. microsoft provides a log4j2 one for application insights).

[2020-05-26 15:35] mariofusco commented on #8694
@geoand I can add those maven timeouts as you suggested but I'm afraid the problem is not (only) there. Now I tried to build locally our extension against latest quarkus master and I have a few tests failing. I'll investigate the problem and keep you updated.

[2020-05-26 15:38] geoand commented on #8694
Thanks @mariofusco

[2020-05-26 16:19] murphye commented on #9477
OK. Maybe the functionality could be extended a bit:

1. Automatically handle `subscibe` and `onCompletion`
1. Automatically handle the `onError` and return appropriate response (500 error?)
1. Automatically `setChunked(true)` for Multi
1. Automatically add `data: ` and `\n\n` for optional SSE
1. Automatically `headers().add` `text/event-stream` and `keep-alive` for optional SSE
1. Automatically r

[2020-05-26 16:40] Adelrisk opened #9613 "Hot reload breaks worker thread with a database context when handling a AMQP reactive mesage"
**Describe the bug**

My best attempt at persisting database changes while handling a message from AMQP/SmallRye Reactive Messaging will fail the first time, but will succeed for later incoming messages.

EDIT: I've improved my solution, it now only breaks after a hot reload. See https://github.com/quarkusio/quarkus/issues/9613#issuecomment-634486928

**Expected behavior**

Upon receiving an AMQP

[2020-05-26 16:45] emmanuelbernard commented on #9587
Where has fatjart it landed? 1.5 or master?

[2020-05-26 17:03] sorin-costea commented on #6259
I'm on Windows 10 as well and I have the exact same error.
[code]
My project is in `C:/Users/myuser/git/myproject` so it sould work - in Docker Desktop under Resources/File sharing I have C:\ (by default) so the above idea doesn't solve it.

[2020-05-26 17:13] emmanuelbernard commented on #9602
Hum, `getReference` is a relatively useful optimisation but using it to get loads of entities to add to a `List` is less common.
Personally I'm getting scared of Panache's own weight and would resist adding these two features. But I might in my ivory tower.

[2020-05-26 17:13] anamarija commented on #9606
Sure, thanks.

[2020-05-26 17:13] geoand commented on #9587
`1.5` contains the new `fast-jar`, but it's undocumented so far. One would need to look at the package config to see the new value

[2020-05-26 17:15] mariofusco commented on #8694
@geoand this pull request should fix both problems https://github.com/kiegroup/kogito-runtimes/pull/531 I'll keep you updated. Thanks for having reported it.

[2020-05-26 17:18] geoand commented on #8694
Coolio!

[2020-05-26 17:42] haraldatbmw commented on #9605
@geoand So after hours of building over 600 quarkus extensions ;-) I can confirm that the bug is fixed in your branch (https://github.com/geoand/quarkus/tree/%239605).

[2020-05-26 17:44] donelly10 commented on #6350
Keycloak kc = KeycloakBuilder.builder().serverUrl(AUTH_URL).realm(REALM).username(USERNAME).password(PASSWORD)
                .clientId(CLIENT_ID).resteasyClient(new ResteasyClientBuilder().connectionPoolSize(10).build())
                .build();

I get the same error stated by @michael-schnell which is "Cannot instantiate the type ResteasyClientBuilder"

[2020-05-26 17:45] geoand commented on #9605
Thanks a lot @haraldatbmw !

[2020-05-26 17:59] Akejelu-Nelu commented on #6350
i resolved the warning by creating a class that implements all the methods in the ResteasyClientBuilder abstract class then i created an instance of that class.

        RestEasyBuilder builder = new RestEasyBuilder();

        Keycloak kc = KeycloakBuilder.builder().serverUrl(AUTH_URL).realm(REALM).username(USERNAME).password(PASSWORD)
                .clientId(CLIENT_ID).resteasyClient(builder.c

[2020-05-26 18:34] #9605 closed

[2020-05-26 19:00] r-uu commented on #5946
ok, i hope the attachment is fine and usable. it's a minimal project as i said, it's not doing anything meaningful. i configured a mysql db in application properties. if you get this project started it should show problems with injection of entitymanager. if you remove the observer method in ObserverTest everything seems to be alright. btw, if there is no entity the server also does not start. the

[2020-05-26 19:03] dmlloyd commented on #4629
It is not possible to use log4j2 as the backend.  However, it is possible (at least theoretically) to adapt log4j2 appenders to be usable from the JBoss LogManager backend.  Such support would likely belong in the https://github.com/jboss-logging/log4j2-jboss-logmanager project.

[2020-05-26 19:06] kenfinnigan commented on #9342
The reason this uses `URLConnection` is because the Apache HTTP Client still uses classes that rely on SSL when executing in native.

It's not possible to use the Apache HTTP Client in native without SSL enabled.

[2020-05-26 19:14] gsmet commented on #9342
@kenfinnigan glad to have you back :).

Considering the cost of having SSL enabled is now reduced and most of the websites are now SSL, maybe we should just make the extension enable SSL? And we would not support having SSL disabled with the REST client. Sounds like an acceptable tradeoff considering the push to SSL.

[2020-05-26 19:37] kenfinnigan commented on #9342
Thanks.

Possibly, but it's a behavior change so we'd need to properly notify users.

In addition, it's probably worth ensuring that SSL on JVM is as simple as we can make it, as we'd need all users to begin doing it.

Would the preferred solution be to remove the use of `URLConnection` from RESTEasy REST Client? So that there is no way to not use Apache HTTP Client as the engine. It's then just d

[2020-05-26 19:42] evanchooly commented on #9239
If i make that change, i see the sort order properly change to reflect the new mapping.  If I change it back, i see the order change.  I can see this behavior both via `mvn test` and the IDE.

[2020-05-26 20:07] #9598 closed

[2020-05-26 20:42] andrejpetras commented on #9222
PR: https://github.com/quarkusio/quarkus/pull/9621

[2020-05-26 22:14] asoldano commented on #9342
@kenfinnigan , can you please clarify this? I don't understand how an option in RESTEasy (the URLConnection engine), which is not the default behaviour but is used by Quarkus, could be considered a problem here.

Btw, I haven't looked into the details of Apache HTTP Client, but is there a way to patch it so that you can use native without SSL?

[2020-05-26 22:54] rodrigorodrigues commented on #4644
https://github.com/rodrigorodrigues/quarkus-vs-springboot-reactive-rest-api/blob/master/quarkus/src/main/java/com/github/quarkus/CompanyResource.java#L161-L165

I'm trying to do use `ObjectMapperCustomizer` but the customize method has not been invoked, does anyone have some clue please?

[code]

[2020-05-27 00:31] stuartwdouglas commented on #9587
Note this is just the basic fast-jar support, support for reaugmentation was only merged into master last night.

[2020-05-27 00:31] stuartwdouglas commented on #9339
It should, so if that has been changed I don't know if we need any docs around this for intellij

[2020-05-27 00:34] stuartwdouglas commented on #8570
The test for modifying the identity from a filter is here: https://github.com/quarkusio/quarkus/blob/70f8288021d7eea10f8e53d8cf22bef2cc924aef/extensions/resteasy/deployment/src/test/java/io/quarkus/resteasy/test/security/ReplaceIdentityLazyAuthRolesAllowedJaxRsTestCase.java#L17

[2020-05-27 05:03] anamarija commented on #9606
Going through the code and design decisions regarding common datasource configuration with reactive datasource pools, all the specific pooling implementation is inside the reactive driver extension.
Is the idea to keep it this way and implement multiple datasource creation logic every time for each extension within it or is the intention to abstract the datasource pooling creation in a common laye

[2020-05-27 05:18] fmcejudo commented on #8834
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/116463085

[2020-05-27 05:22] geoand commented on #8593
@ppalaga tests are still failing even with https://github.com/quarkusio/quarkus/pull/9582 merged:

[code]

[2020-05-27 05:39] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/116463552

[2020-05-27 05:45] cescoffier commented on #9478
Thanks @anamarija !

I already added a few Avro tests using the Confluent Registry to the Kafka client IT. In this issue, we need to extend these tests with the Apicurio registry (they also provide they own serde). Hopefully this one would work in native (The other Avro does not).

Finally, some tests need to be added to the IT checking the reactive-messaging Kafka connector.

Some references:

*

[2020-05-27 05:46] cescoffier commented on #9477
It's exactly what I had in mind!

[2020-05-27 06:35] cescoffier commented on #9449
Tracked upstream by https://github.com/orgs/quarkusio/projects/6#card-38980522 and https://github.com/smallrye/smallrye-reactive-messaging/issues/562

[2020-05-27 06:37] anamarija commented on #9606
Another thing that popped into my mind was when you have the situations of multiple datasources. How do you know which one is reactive and which is blocking. Wouldn't it be a good approach to have a property on the datasource common to know which type of driver we are using for this specific datasource.

[2020-05-27 07:01] mariofusco commented on #8694
@geoand I merged that PR https://github.com/kiegroup/kogito-runtimes/commit/bbb83a58a8926bedd2c4f2366034f1de6b8abf4d Can you relaunch CI to check that everything is ok?

[2020-05-27 07:29] aloubyansky commented on #8593
@gsmet notified me this morning that the NoSrc* devmode tests were failing and it's easily reproducible with master by removing `~/.m2/repository/io/quarkus/quarkus-integration-test-devmode/` and re-running `integration-tests/dev-mode`.
The test is trying to resolve the project's artifact and while it is discovering its pom.xml in the workspace, it is failing to resolve as the JAR, given that that

[2020-05-27 07:40] Adelrisk commented on #9613
I don't know anything any more. Here's code that works* (see when-it-breaks below):

[code]

It turns out that my code will never work if `handlePublication` is a void method AND it throws an exception. I have code like this in another service:

[code]

*The code does not work after a hot-module-replacement. Immediately after HMR, the first message will fail:

[2020-05-27 07:50] Adelrisk commented on #9613
As a side note, I'm missing some failure-handing semantics in my message consumer. I can't handle this failure elegantly. I don't want to drop the message by acknowledging it, but if I fail, then the whole subscription will fail and I stop receiving messages until the service/quarkus application is restarted.

[2020-05-27 07:54] geoand commented on #8694
@mariofusco job restarted :)

[2020-05-27 08:08] aloubyansky commented on #8593
One option would be to check if the project contains sources and/or resources directories and if it does not, consider it having no content and simply create an empty classes dir for it (given that it's supposed to be a JAR).
However, during the packaging phase a plugin can be configured to customize the manifest and/or generate extra content to be included into the JAR. If that JAR is already ava

[2020-05-27 08:12] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/116581790

[2020-05-27 08:15] sirAlexanderT commented on #9428
Will do, thanks guys much appreciated!

[2020-05-27 08:20] geoand commented on #9428
Please let us know if you still see a slow-down despite the improvement

[2020-05-27 08:21] wicksim opened #9622 "Support `X-Forwarded-Prefix`"
**Description**
My application runs behind a reverse proxy and I need to get the original path from `UriInfo` to return it as a part of the `Location`-header in a REST-resource. There already is support for several `X-Forwarded-`-headers, but not for `X-Forwarded-Prefix`.

It would be nice to have support for this header. Maybe it is even possible to make the header-name configurable? Because `X-F

[2020-05-27 08:42] loicmathieu commented on #9602
I tend to agree with @emmanuelbernard, then people will want `findReference(query, params)` with all the variations because, you usually list via a query not via known ids ...

@suchwerk what do you do with those references you get ? Maybe we're missing a different functionality here ?

[2020-05-27 08:42] mariofusco commented on #8694
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/116581947

[2020-05-27 08:45] geoand commented on #8694
Thanks for addressing the issue @mariofusco!

[2020-05-27 08:59] #9587 closed

[2020-05-27 09:07] Adelrisk commented on #9613
Quick question: does anyone have an idea how to disable hot reload in dev mode?

[2020-05-27 09:22] mmusgrov opened #9623 "narayana-jta extension is missing some integration tests"
The narayana-jta extension supports XA but there are no integration tests against the XA capable databases used by quarkus applications.

[2020-05-27 09:23] #9322 closed

[2020-05-27 09:25] lmagomes opened #9624 "Gradle projects ignore openapi.yaml"
**Describe the bug**
When upgrading a project from 1.4.2 to 1.5.0.CR1 the schema defined in openapi.yaml does not appear in swagger-ui. This only affects gradle projects, as I have tried the openapi guide using maven, and also upgrading from 1.4.2 to 1.5.0.CR1, and the yaml file continues to be used

**Expected behavior**
Swagger-ui should show the combined openapi document from the static file an

[2020-05-27 09:38] glefloch commented on #8975
@maxandersen, I would be interested to work on this. Regarding the name of the key, would `quarkus.tls.trust-all` be ok ?

[2020-05-27 09:39] suchwerk commented on #9602
@loicmathieu I just want to add them to a jointable.

[2020-05-27 09:41] adamu opened #9627 "Build error with Gradle Plugin 1.5.0.Final (works with 1.4.2.Final)"
`build.gradle.kts` diff :

[code]

Stack-trace produced with `1.5.0.Final`. The build compiles with `1.4.2.Final`:

[code]

[2020-05-27 09:46] geoand commented on #9627
Hi, can you perhaps provide a reproducer project for this? It would be of great help.

cc @aloubyansky

[2020-05-27 09:47] geoand commented on #9627
Actually, have you updated both the plugin and the BOM versions for Quarkus?

[2020-05-27 09:52] UrosOdateam commented on #8622
I get the same bug if I add `configKey` to @RegisterRestClient annotation like:

[code]
Without this configKey the thing works.

[2020-05-27 09:53] FroMage commented on #9239
Well, currently https://github.com/quarkusio/quarkus/blob/master/integration-tests/hibernate-orm-panache-kotlin/src/main/kotlin/io/quarkus/it/panache/kotlin/Person.kt#L42 says the setting is supposed to be `STRING` and yet the test passes with this query: https://github.com/quarkusio/quarkus/blob/master/integration-tests/hibernate-orm-panache-kotlin/src/main/kotlin/io/quarkus/it/panache/kotlin/Per

[2020-05-27 09:56] ppalaga commented on #8593
I think not looking into local maven repo before the install phase is the right thing to do. If plugins customize the jar in the `package phase`, any testing code in the `integration-test` phase should look for the customizations in `target/app.jar` and nowhere else, just because nothing was installed yet.

The same can be stated for the `test` phase (where the NoSrc tests are executed): because `

[2020-05-27 09:57] geoand commented on #8622
@UrosOdateam can you open a new issue with all the relevant information?

[2020-05-27 10:02] adamu commented on #9627
@geoand I hadn't updated the `BOM`, thanks for pointing it out (our dependencies are updated automatically by https://github.com/renovatebot/renovate, which only submitted a PR for the gradle plugin).

However, it looks like `1.5.0.Final` is not available yet (or gradle can't find it). I'm using all the recommended repositories:

[code]

Can try to produce a sample project, but I'm not sure I'll h

[2020-05-27 10:03] Ladicek opened #9629 "Kubernetes env vars generation changed unexpectedly"
**Describe the bug**
I have these lines in my `application.properties`:

[code]

And I expect Quarkus Kubernetes to generate an env var that corresponds to the `database` field of the `postgresql` secret. This is how it works in Quarkus 1.3.3, at least:

[code]

However, when trying on Quarkus 1.5.0.CR1, I only get this:

[code]

**Expected behavior**
See above.

**Actual behavior**
See above.

**

[2020-05-27 10:04] Ladicek commented on #9629
CC @geoand @iocanel

[2020-05-27 10:04] geoand commented on #9627
Yeah, you'll need to update the BOM  as well (use `quarkus-bom` instead of `quarkus-universe-bom`) otherwise things won't work

[2020-05-27 10:07] geoand commented on #9629
Also cc @metacosm

[2020-05-27 10:20] UrosOdateam opened #9630 "Usage of InjectMock on MicroProfile RestClient"
**Describe the bug**
I am using InjectMock annotation to mock restClient in Microprofile Rest Client way in my test annotated with @QuarkusTest, content:
[code]
in test method:

[code]
Rest client interface looks like this.. (notice I have added @ApplicationScoped)

[code]
application.properties have this line which could be relevant:
`my-configkey-remote/mp-rest/scope=javax.inject.Singleton`
**Ex

[2020-05-27 10:30] adamu commented on #9627
I updated to `io.quarkus:quarkus-bom:1.5.0.Final`, and it builds and runs successfully now (including native image). Thanks! Not sure where I got `quarkus-universe-bom` from - probably left over from the project generator or a guide, but I can't find it now.

Sorry for opening an erroneous issue 🙇‍♂️

[2020-05-27 10:30] metacosm commented on #9629
I will take a look ASAP.

[2020-05-27 10:30] mkouba commented on #9487
I've updated my POC branch to use the other approach discussed above. It seems to work well for "regular" static methods. I still need to verify the Panache use case... afterwards I'll send a draft PR with more detailed description.

[2020-05-27 10:32] geoand commented on #9627
That is the correct BOM, it's just that the new version hasn't been released yet 😉.

No need to apologise for opening the issue. Thanks for being vigilant!

[2020-05-27 10:32] #9627 closed

[2020-05-27 10:33] adamu commented on #9627
For anyone else wondering what universe vs no universe is about: https://stackoverflow.com/questions/59880235/how-to-update-the-quarkus-version-used

[2020-05-27 10:34] adamu commented on #9627
@geoand I guess another course of action is to just wait for `io.quarkus:quarkus-universe-bom:1.5.0.Final` before updating the gradle plugin.

[2020-05-27 10:38] geoand commented on #9627
Sure, that to :)

[2020-05-27 10:58] iocanel commented on #9629
Hmmm, I didn't realize this used to work. In fact I was about ti implement it now.

[2020-05-27 11:26] lordofthejars opened #9632 "Consul Credential Provider"
**Description**

With Quarkus 1.5.0 we have Consul support to inject configuration values from Consul. ButI think it will be nice to have like Vault and provide a credential provider so database parameters can also be injected from Consul.

[2020-05-27 11:37] UrosOdateam commented on #9630
I have solved the problem.. It was in configuration - application.properties:
`my-configkey-remote/mp-rest/scope=javax.inject.Singleton`
which takes precedence before the @ApplicationScoped on the GreetingService interface

[2020-05-27 11:37] #9630 closed

[2020-05-27 11:41] gsmet commented on #9606
So, the overall design is:
* you define a datasource
* it can be either reactive or JDBC or both depending on what you configure

Basically, it all depends if you have a `reactive.enabled` or `jdbc.enabled` defined to true for this datasource, true is the default.

The default behavior is that as soon as you have both a JDBC driver and a reactive driver in the classpath, both type of datasources w

[2020-05-27 11:43] galderz opened #9633 "Unsupported type MethodAccessorGenerator on Kafka"
Replicated locally (first seen in https://github.com/quarkusio/quarkus/pull/9486):

[code]

[2020-05-27 11:55] abner opened #9634 "graal-js does not work when using quarkusDev"
**Describe the bug**
If in my code i try to initialize a `js`context: `Context.create("js")` i get this error

[code]
**Expected behavior**
Expected to work just fine, as it works if i do generate a jar and runs from it.
Native image works all well. Of course, if i add `quarkus.native.additional-build-args =--language:js` to *application.properties*

*Actual behavior**
It fails as described in the

[2020-05-27 12:18] geoand commented on #9630
Nice catch

[2020-05-27 12:31] mkouba opened #9635 "Panache - could not find indexed method"
As discussed [on zulip](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Panache.20-.20Could.20not.20find.20indexed.20method) if a panache entity overrides a static method from `PanacheEntityBase` with an array argument the fails with:

[code]

The arg type `java/lang/Object[]` is very likely wrong.

Steps to reproduce:

1. Modify the [Beer](https://github.com/quarkusio/quarkus/blob

[2020-05-27 12:36] oztimpower commented on #9101
Please close this issue, a fix has been deployed.

/cc @geoand

[2020-05-27 12:37] geoand commented on #9101
:+1:

[2020-05-27 12:37] #9101 closed

[2020-05-27 12:39] oztimpower commented on #9020
Please close.  #9554 updated the docs.

/cc @geoand

[2020-05-27 12:40] galderz commented on #9633
[Longer output of failure](https://gist.github.com/galderz/798e6fa9067c89d1ad23f51422aed381).

The key for these issues is figuring out why `ObjectStreamClass` is being brought to the pointsto analysis. The reason `ObjectStreamClass` access is forbidden is because it's the result of serialization that results in new classes being created on the fly.

So. to see what the source really is, we forbid

[2020-05-27 12:41] #9020 closed

[2020-05-27 12:42] oztimpower commented on #7846
Suggest this one can be closed. A workaround was proven above (which is documented), and now there is the S3 extension.

/cc @geoand

[2020-05-27 12:44] oztimpower commented on #5968
Please close. It predates updates to the Amazon Lambda extension, and documentation.

/cc @geoand

[2020-05-27 12:45] UnvirtualHH commented on #7876
When will a first CR release be available? Can't wait to test it ;)

[2020-05-27 12:47] oztimpower commented on #8362
This should work, it does for me. I use it on many projects.

What needs to be updated in the documentation or fixed in the build process (AmazonLambaProcessor.java) for it to work for you?

[2020-05-27 12:47] #5968 closed

[2020-05-27 12:48] #7846 closed

[2020-05-27 12:49] oztimpower commented on #3608
Please close, no longer relevant.

/cc @geoand

[2020-05-27 12:50] #3608 closed

[2020-05-27 12:54] dmlloyd commented on #9297
I'm not 100% sure, but if I had to guess, I'd say it wouldn't make a difference: our exit handler wouldn't be installed for those signals, but presumably theirs does the same thing as ours (exit the process with signal number + 128) so I think it'd likely be fine.  It should be fairly easy to test though.

[2020-05-27 12:55] dmlloyd commented on #9259
/cc @jamezp is this consistent with how the handlers are expected to work?

[2020-05-27 12:56] dmlloyd commented on #9569
Yes, it should be trivial to add a property to the console handler config to specify whether the output should go to console, stdout, or stderr.

[2020-05-27 12:58] dmlloyd commented on #9386
My availability is fairly limited, but if you have questions, I'd recommend asking them on [the Quarkus developer Zulip chat](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev).

[2020-05-27 13:16] oztimpower commented on #6376
Any reason why you cannot just use the Amazon Lambda extension where you have access to this?

Noted on the problem you've raised. Any interesting one. I couldn't discern a solution from the Micronaut code.

[2020-05-27 13:23] oztimpower commented on #5859
AmazonLambdaCommonProcessor now forces the temp dirs post @patriot1burke updates, suggest this one can be closed?

[2020-05-27 13:25] oztimpower commented on #7949
Please close this one, it's no longer an issue.

/cc @geoand

[2020-05-27 13:27] geoand commented on #7949
Thanks a lot for doing this triage @oztimpower!

[2020-05-27 13:27] #7949 closed

[2020-05-27 13:29] pilhuhn commented on #9538
Could this *PLEASE* end up in Quarkus 1.4.3 or 1.5.1 ?

[2020-05-27 13:29] geoand commented on #9632
That makes sense

[2020-05-27 13:31] FroMage commented on #9487
OK great, make a PR indeed because I have comments to add there, but it's looking really good!

[2020-05-27 13:43] geoand commented on #6588
@patriot1burke @matejvasek the `funqy-amazon-lambda-http-quickstart` quickstart (in the `development` branch) seems to be failing:

[code]

[2020-05-27 13:45] matejvasek commented on #6588
I am going to look at it.

[2020-05-27 13:52] kenfinnigan commented on #9342
@asoldano The MP REST Client uses the `URLConnection` engine if SSL is disabled, that code is in RESTEasy.

The reason that was done is that classes within the Apache HTTP Client require SSL classes even when SSL is disabled. There was no way to fix it without modifying the internal Apache HTTP Client code as far as I recall

[2020-05-27 13:55] FroMage commented on #9635
Fix at https://github.com/quarkusio/quarkus/pull/9637.

[2020-05-27 14:14] jamezp commented on #9259
It should be the `max-backup-index` that triggers it to rotate. What triggers it is the `setFile()` method which assumes that the handler is fully reconfigured on "boot".

@brundipub what is the full handler configuration? I can try to duplicate it here so I can make sure it's not the handler itself that's the issue.

[2020-05-27 14:20] aloubyansky commented on #8593
https://github.com/quarkusio/quarkus/pull/9638 fixes the empty jar resolution.

[2020-05-27 14:24] halilbahar opened #9639 "Accessing database in an custom ConstraintValidator"
**Describe the bug**
When accessing the database with Hibernate Panache active record pattern or repository pattern in a custom ConstraintValidator and persisting the valid entity afterwards gets stuck in a recursion.

Here is the stacktrace:
[code]
This keeps on until a StackOverflowError is thrown.

**Expected behavior**
The entity should be persisted.

**Actual behavior**
The persist function t

[2020-05-27 14:25] asoldano commented on #9342
@kenfinnigan thanks, for some reasons I was remembering this was in Quarkus, while actually it's in resteasy 4.x because of Quarkus (you did this here https://github.com/resteasy/Resteasy/commit/a371154b9444d3689ea9f8ff35f25b7896dd6d2d and I merged it ;-) )
Does this mean you're proposing to revert the part about client engine in that PR?

Regarding Apache HTTP Client, my point was really if you t

[2020-05-27 14:25] agagliardi opened #9640 "Native build fail to run on Docker"
**Describe the bug**
Docker run of a native build of an app created with quarkus-maven-plugin fail to start with the error message:
standard_init_linux.go:211: exec user process caused "no such file or directory"

Workaround:
ldd application
	linux-vdso.so.1 (0x00007ffe08bbc000)
	libpthread.so.0 => /lib64/libpthread.so.0 (0x00007fc72ec59000)
	libdl.so.2 => /lib64/libdl.so.2 (0x00007fc72ea55000)
	l

[2020-05-27 14:40] tsegismont opened #9642 "Reactive datasource config: cache-prepared-statements is not specific to any DB"
`cache-prepared-statements` config attribute is duplicated in MySQL and Postgres configs.

It should be a common attribute of any Reactive SQL client.

[2020-05-27 14:48] metacosm commented on #9629
Yes, I'm surprised that that was the previous behavior because I didn't
encounter it in my testing and it definitely isn't / wasn't documented.

On Wed, May 27, 2020 at 12:59 PM Ioannis Canellos <notifications@github.com>
wrote:

[2020-05-27 14:50] ElinaValieva opened #9643 "Make `sam.yaml` parameters changeable in `aws-lambda-http`"
**Description**
Hi, I'm a fan of Quarkus and I'm following how your framework grows. :blush:
When I worked with `aws-lambda-http` extension I discover that there no possibility to change some sam parameters. For my real-world service example, the `Timeout` parameter as 15 seconds wasn't enough.

**Implementation ideas**
I think it will be nice to make some parameters in `sam.yaml` changeable (at l

[2020-05-27 15:09] Ladicek commented on #9629
I'm fine with the old syntax not working, if there's a replacement and migration documentation.

In fact, just today I've learnt (in the linked Zulip topic) that there's a new syntax for env vars coming in 1.5 (https://github.com/quarkusio/quarkus/commit/a82951f), but there's nothing in the 1.5 migration guide.

[2020-05-27 15:11] matejvasek commented on #6588
1. The reason why native test is failing and JVM is not, is that the failing code in not enabled in JVM mode. That can be change by setting property `quarkus.lambda.enable-polling-jvm-mode=true`.
2. The reason why it is throwing `UnknownHostException` is that the aws lambda environment emulation is not set up. That can be changed by adding dep. to pom:
[code]
3. @patriot1burke  I really don't know

[2020-05-27 16:01] kenfinnigan commented on #9342
Reverting it is one option, so it goes back to using Apache HTTP Client by default in any situation. Not sure if that would be considered a "breaking change" for RESTEasy or not.

I didn't look into fixing it in the upstream, but it might be something we want to consider to make it work for any situation. Though it wouldn't be a quick fix

[2020-05-27 16:06] asoldano commented on #9342
I think that would be doable in a minor

[2020-05-27 17:59] andrejpetras commented on #9222
#9621 merged into master

[2020-05-27 18:00] #9222 closed

[2020-05-27 18:56] #9635 closed

[2020-05-27 19:05] pedroigor opened #9647 "Bytecode recorder can not record ResteasyDeployment properties"
**Describe the bug**

When using a `ResteasyDeploymentCustomizerBuildItem` to customize the deployment, properties set using the build item are not recorded.

It seems the recorder can not record the properties because`ResteasyDeploymentImpl` is lacking a getter/setter.

**Expected behavior**

Resteasy extension should respect the properties set by an extension using `ResteasyDeploymentCustomizerB

[2020-05-27 19:17] bentito commented on #9317
Sorry about delay, it failed and here's the report. Looks like a missing auth item for non-default NS deploy:
built & run with the following:
[code]
I get this in the operator logs:
[code]

[2020-05-27 19:21] geoand commented on #9317
Thanks for that!

It indeed seems like using `default` namespace would be easiest

[2020-05-27 19:31] bentito commented on #9317
Also for ref in this issue thread, the reference repo is:
github.com:bentito/operator-example

[2020-05-27 19:36] EfraimLA commented on #9589
Here is my reproducer project, can checkout it? https://github.com/EfraimLA/jdbc-jackson-temp

[2020-05-27 21:02] arielcarrera commented on #4644
Hi @EfraimLA, do you need a sample to transform your entities to DTOs during your request? Here is an example of mapstruct in Quarkus [https://github.com/mapstruct/mapstruct-examples/tree/master/mapstruct-quarkus/src/main/java/org/mapstruct/example/quarkus](Mapstruct example) that shows how to use mapstruct, you can use it to map from entities to your Api's contract.

[2020-05-27 21:15] bpasson commented on #9569
If there is anything I can do to help out let me know.

[2020-05-27 21:26] EfraimLA commented on #4644
For lazy object data? How is it related?

[2020-05-27 21:31] emmanuelbernard opened #9650 "Rethink the notion of transaction and incerceptors"
With reactive data coming, we need reactive transaction demarcation.
We also need Transaction demarcation for non RDBMS stores.

This is a good time to explore what an interceptor both imperative and reactive could mean for Quarkus

[2020-05-27 21:36] MikeEdgar commented on #8414
This has been fixed.

[2020-05-27 22:28] geoand commented on #8414
Cool, thanks

[2020-05-27 22:28] #8414 closed

[2020-05-27 23:11] HonoluluHenk commented on #9049
I created PR geoand/quarkus#5 to care for these 2 problems...
I'm using ConcurrentHashMap as a poor mans (but imho working and correct) implementation of lazy loading with locking.
What do you think?

[2020-05-28 00:59] #9339 closed

[2020-05-28 01:11] matejvasek commented on #6588
@geoand If you just need to fix build I think that adding the dependency should do the job. But I don't know if there is some other issue.

[2020-05-28 02:34] #9309 closed

[2020-05-28 03:27] patriot1burke commented on #6588
I think the native test needs to be removed.  I don't think we have a test harness for HTTP amazon native mode.

[2020-05-28 05:01] geoand commented on #6588
@matejvasek @patriot1burke I'm fine with adding a dependency and disabling the test in native. @matejvasek would you please prepare a PR against the `developement` branch?

[2020-05-28 05:17] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/117562044

[2020-05-28 05:20] julienrenaut commented on #6134
My current workaround for this is having a "noop" web resource that I call when I want to "force" a reload.

I agree the reload should be "user triggered" otherwise it's hard to know when a reload is actually due.

Reading from System.in on the Maven execution seems like the proper match for the current request-based approach on non-web applications.

[2020-05-28 05:58] geoand commented on #9647
@pedroigor which properties aren't being set?

The existing codebase does use `ResteasyDeploymentCustomizerBuildItem` here: https://github.com/quarkusio/quarkus/blob/341b54ff25e24a80eb7dc3d2233622b77bbe4ef9/extensions/spring-web/deployment/src/main/java/io/quarkus/spring/web/deployment/SpringWebProcessor.java#L174 and that works just fine

[2020-05-28 06:20] phillip-kruger commented on #9538
Hi @pilhuhn - I'll get a patch out for 1.5.1

[2020-05-28 06:53] galderz commented on #9633
Created a draft PR: https://github.com/quarkusio/quarkus/pull/9651.

[2020-05-28 07:39] lordofthejars opened #9652 "ORM Panache with Postgres fails on native compilation"
**Describe the bug**

ORM Panache with Postgres fails on native compilation

**Expected behavior**

Native executable

**Actual behavior**

Exception is thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone git@github.com:lordofthejars/quarkus-cockroachdb.git
2. ./mvnw clean package -Pnative -DskipTests

[code]

**Configuration**
[code]

**Environment (please complete the followi

[2020-05-28 07:44] bhabegger commented on #5879
I have the same issue, but my feeling is that having to "mvn install" is wrong. Either we should be able to launch quarkus:dev from the project root and someway to select which module should be run (because in my case we have 2 quarkus apps in the same repo). I don't know how to select the running module ? Or running the module in the quarkus app repository should see the modules dependent in the

[2020-05-28 07:49] brundipub commented on #9259
Tested again in our 1.4.1.Final:

With this config it DOESN'T rotate on boot:

----------

quarkus.log.level=WARN
quarkus.log.category."io.quarkus".level=INFO
quarkus.log.console.enable=true
quarkus.log.console.format=%d{HH:mm:ss} %-5p [%c{2.}] (trace-id:%X{traceId}) (%t/%X{jobs_count})  %s%e%n

quarkus.log.file.enable=true
quarkus.log.file.level=ERROR
quarkus.log.file.path=/tmp/simulator.log
quar

[2020-05-28 07:50] bhabegger commented on #5879
FYI, this works better (I don't know for hot reload) when running the app. At least at startup the code is in sync:

[code]
-pl is to select the modules to be run
--also-make is to ensure depedencies get built

[2020-05-28 08:34] jaikiran commented on #9652
FWIW, the followed the steps to reproduce this issue and it worked fine without any errors for me. I too used `graalvm-ce-java11-19.3.1`.

[code]

[2020-05-28 08:34] bhabegger commented on #5879
Well in fact this is not perfect, beacuse quarkus:dev will try to start on the libraries which include quarkus :/

[2020-05-28 08:54] pschyma opened #9653 "Gradle: setWorkingDir not working in 1.5.0"
**Describe the bug**
I'm setting the working directory in for `quarkusDev` task in my Gradle build file via
[code]
After updating to any 1.5.0 version of Quarkus I get `${proejct.path}\build\classes\java\main\.` as working dir in the app.

**Expected behavior**
The working directory of the application is set properly.

**Actual behavior**
The setting is ignored and the classes path is used.

**To

[2020-05-28 09:38] #9565 closed

[2020-05-28 09:54] lordofthejars commented on #9652
Have you tried with Docker approach?

Missatge de Jaikiran <notifications@github.com> del dia dj., 28 de maig
2020 a les 10:34:

[2020-05-28 11:03] pedroigor commented on #9647
@geoand I looked that code. But when setting the deployment properties (`deployment.setProperty("key", "value")`) they are not there when the `io.quarkus.resteasy.runtime.standalone.ResteasyStandaloneRecorder#staticInit` is called. Even though the properties are there when running the build step that calls that recorder method.

[2020-05-28 11:16] jaikiran commented on #9652
I haven't tested this in a in-container build. I probably wont' be able to since I won't have access to docker any time soon.
Does this only happen in-container?

[2020-05-28 11:25] ebramirez commented on #5101
Does https://github.com/quarkusio/quarkus/issues/8950 belong here?

[2020-05-28 11:50] mjurc commented on #9561
@iocanel Alright, I believe I found out what's the problem. As you said, Quarkus does not know about where it is going to be deployed. The `env` section from generated `kubernetes.yaml` is as follows:

[code]
`secretKeyRef` does not have `optional` field on OCP 3.11 as far as I can see - the secret works if the `optional` fields are removed.

[2020-05-28 12:12] #9239 closed

[2020-05-28 12:17] geoand commented on #4848
This has already been implemented via the `BOOTSTRAP` Config phase

[2020-05-28 12:17] #4848 closed

[2020-05-28 12:17] geoand commented on #9652
I couldn't reproduce this either.. Tried both local GraalVM and via docker

[2020-05-28 12:22] patriot1burke commented on #6588
@geoand @matejvasek Have to remove the native test as we do not support aws lambda HTTP native testing:

https://github.com/quarkusio/quarkus-quickstarts/pull/588

[2020-05-28 12:25] lordofthejars commented on #9652
So why this is happening to my environment? Which Java version do you have installed? In theory as I am building it inside the container this should not matter.

I am on a Mac. But again with a container, it should work.

[2020-05-28 12:27] geoand commented on #9652
Please append your Java and GraalVM versions to the issue. Then I can try your exact versions

[2020-05-28 12:29] lordofthejars commented on #9652
openjdk 14 2020-03-17
OpenJDK Runtime Environment AdoptOpenJDK (build 14+36)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 14+36, mixed mode, sharing)

graalvm-ce-java11-19.3.1

[2020-05-28 12:36] geoand commented on #9652
@lordofthejars can you try using Java 11?

[2020-05-28 12:39] lordofthejars commented on #9652
I can try it but, why it is failing when using the Docker approach?

[2020-05-28 12:43] simonedavico commented on #6067
@aloubyansky I wanted to give `1.5.0.Final` a try but it looks like it is not yet compatible with Kogito, correct? I also tried to scaffold a new application by specifying `quarkus:quarkus-maven-plugin:1.5.0.Final:create` (and `kogito` plugin), but the project was created with `1.4.2.Final`.

I have to assume there is no support for 1.5.0 on kogito side, correct?

[2020-05-28 12:44] mkouba commented on #9487
FYI: https://github.com/quarkusio/quarkus/pull/9657

[2020-05-28 12:44] geoand commented on #9652
You seem to be building the application with Java 14 and then using GraalVM with Java 11 to create a native image.
I don't think that is something we support, we certainly haven't tested it...

[2020-05-28 12:47] geoand commented on #9280
@iocanel when trying to use dekorate `0.12.1` I am getting:

[code]

[2020-05-28 12:55] aloubyansky commented on #6067
@simonedavico thanks for checking. What we've released so far is Quarkus core with `quarkus-bom`. Kogito however has moved out of the Quarkus repo (as a consequence from `quarkus-bom`) and integrated into `quarkus-universe-bom` (Quarkus platform) which is planned to be released next Tuesday.
The `create` command is looking for the latest available platform which is 1.4.2.Final at the moment.

[2020-05-28 12:56] glefloch commented on #9653
@pschyma, I can reproduce the issue. It seems the task is ignoring the `workingDir` property in favour of the extension `workingDir` property.

https://github.com/quarkusio/quarkus/blob/3dfb48fb9083a8703dfc05334e8b503335dadb4c/devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java#L377

Setting the working directory in the `quarkus` extension as below works for me:

[code]

@aloubya

[2020-05-28 12:58] simonedavico commented on #6067
Good to know, I will wait for next week to test and post the result here :)

[2020-05-28 12:58] lordofthejars commented on #9652
but when I do ./mvnw clean package -Pnative
-Dquarkus.native.container-build=true -DskipTests Then I am compiling
inside the container with Java11

Missatge de Georgios Andrianakis <notifications@github.com> del dia dj., 28
de maig 2020 a les 14:44:

[2020-05-28 13:03] geoand commented on #9652
That's not completely true. You are building the native-image with GraalVM Java 11, the app has still been compiled with Java 14.

[2020-05-28 13:03] aloubyansky commented on #9653
@pschyma will the workaround mentioned by @glefloch work for you? Or you have reasons for a workingDir per command?
I remember having an issue with the workingDir. It was not properly resolved and the process wouldn't start.

[2020-05-28 13:05] lordofthejars commented on #9652
Even though it is happening into the container?

[2020-05-28 13:12] geoand commented on #9652
Yeah, so what does `mvn -version` show? Whatever version of Java that uses, that is the Java version you are building with.

[2020-05-28 13:22] loicmathieu opened #9658 "Allow extensions to disable the banner"
**Description**
When working on Google Cloud Function support, I find the banner not displayed correctly.
They uses there own logging system (JUL) and the banner is displayed when the Quarkus ends and not when Quarkus starts !

Moreover, logs are available on a web console where a banner don't make a lot of sense.

**Implementation ideas**
Allow extensions to publish a build item that will disable

[2020-05-28 13:32] jaikiran commented on #9652
-Dquarkus.native.container-build=true -DskipTests Then I am compiling
inside the container with Java11

As already noted by @geoand, using `quarkus.native.container-build=true` just means that (only) the native image generation part happens within a container. The rest of the Maven build process which involves the regular compilation etc... happens on the host machine.

[2020-05-28 13:55] aldettinger commented on #9446
@geoand thanks for taking a look. Indeed I could have passed the schema string to the recorder. For the sake of sharing tips to deal with those kind of issues, I was even able to workaround using an [object substitution](https://quarkus.io/guides/writing-extensions#object-substitution). That way, schema parsing occur at build time.

[2020-05-28 13:58] pschyma commented on #9653
The workaround works for me, yes.

I'm curious about the reason for the current implementation. My idea was (is) that this property is used to "simulate" the directory in which a built runner whould have been started; and thus it has a tight relation to the `quarkusDev` task - like e.g. the `args` property.

[2020-05-28 14:01] Alexander-Krause opened #9660 "Generate Kubernetes resource file for Kafka (Streams) app"
**Description**
At the moment, the Kubernetes extension based on `dekorate` seems to only allow the kubernetes resource file generation (rfg) for web services. I propose to include the rfg for Kafka (Streams) applications (without any HTTP endpoints), since this kind of application is pretty common at todays software landscapes, therefore, a great improvement for Quarkus.

[2020-05-28 14:07] aloubyansky commented on #9653
That's correct @pschyma. I started to see issues in our testsuite after I introduced more task dependencies and the parameters weren't properly resolved at the initialization stage. We should probably revisit this. @glefloch in case you are looking for the next Gradle issue to work on, perhaps this could be a candidate ;)

[2020-05-28 14:07] geoand commented on #9446
Yeah, I understand. Unfortunately you hit a corner case :)

[2020-05-28 14:13] geoand commented on #9647
@pedroigor https://github.com/quarkusio/quarkus/pull/9661 should fix the problem

[2020-05-28 14:17] geoand commented on #9658
You should be able to do this today:

Just create a `RunTimeConfigurationDefaultBuildItem` with `quarkus.banner.enabled` as the key and `false` as the value and it should work.

[2020-05-28 14:19] glefloch commented on #9653
@aloubyansky, I was actually looking for an issue to work on.
I will start to work on this and add test to make sure this introduce no regressions.

[2020-05-28 14:21] machi1990 commented on #9658
We should probably add this in this guide https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/writing-extensions.adoc

[2020-05-28 14:22] aloubyansky commented on #9653
Excellent. Thanks, @glefloch

[2020-05-28 14:22] geoand commented on #9658
I'll let @loicmathieu do that after he confirms it actually does work :)

[2020-05-28 14:58] sorin-costea opened #9662 "quarkus-amazon-lambda @Inject still doesn't work in JVM mode"
**Describe the bug**
What is happening on #3354 is still happening: after deploying the JVM project, I get NPE in CloudWatch because the injected stuff is null.

**Expected behavior**
I'd like to have the services injected properly, not null...

**Actual behavior**
I follow all the indications in the guide https://quarkus.io/guides/amazon-lambda and the @ Inject members are null.

**To Reproduce**

[2020-05-28 15:03] sorin-costea commented on #9662
PS: I can't use native mode because I'm on Windows 10...

[2020-05-28 15:15] nheidloff opened #9663 "Improved OpenShift Deployments"
**Description**
I like the Kubernetes and OpenShift extensions since they generate the yaml files and if necessary you can change these settings easily, for example via properties file. I think that's the right approach. Make it simple for first time Quarkus developers, but allow them to change things later when needed. The same goes for the generated Dockerfiles, so that, for example, you can cha

[2020-05-28 15:21] galderz opened #9664 "Security provider configuration not working"
* OpenJDK 11u (latest)
* Graal 20.1
* Quarkus and Camel Quarkus master

Security providers configuration does not seem to be working, see https://github.com/apache/camel-quarkus/issues/1269.

Adding an `application.properties` with:

[code]

Does not work and the following warning is shown:

[code]

Also, the [documentation](https://quarkus.io/guides/security) is inconsistent, mentioning both `qua

[2020-05-28 15:26] galderz commented on #9652
Weird things happen when you use a different JDK to compile the classes vs the JDK that's underneath the one that generates the native images, e.g. https://github.com/graalvm/mandrel/issues/12.

[2020-05-28 15:35] lordofthejars commented on #9652
I switched to JDK 11 and it worked. So yes this was the problem.

[2020-05-28 15:35] #9652 closed

[2020-05-28 15:46] lmagomes commented on #9624
This is fixed with 1.5.0.Final.

[2020-05-28 15:46] #9624 closed

[2020-05-28 15:59] maxandersen commented on #9663
thanks @nheidloff - good comments; did you try use "quarkus-container-image-docker" with kubernetes extension ? then you should have the control you are after in #1 (if I understand correctly)

for #2, you can use jenkins pipelines or tekton or even github actions ...we defintiely should get these options documented and where possibly setup for you as suggested in #6147

/cc @geoand @iocanel

[2020-05-28 16:12] geoand commented on #9663
+1 to everything @maxandersen sayd

[2020-05-28 16:29] galderz commented on #9664
Issue was that the security extension had not been added as dependency. The warning message should provide a hint on that. I'll send a PR tomorrow with this and a fix to docu.

[2020-05-28 16:32] sorin-costea commented on #9662
Created also a test project with all defaults as generated by the archetype. Upload it as lambda, test in AWS console with a sample json and watch it crash.
https://github.com/sorin-costea/quarkus-inject

[2020-05-28 16:50] jamezp commented on #9259
This looks like it's an issue with how Quarkus determines which handler to configure.
https://github.com/quarkusio/quarkus/blob/c12a09d83a010c035d85b1d941245a395636872b/core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java#L274-L290

It only configures a `SizeRotatingFileHandler` or `PeriodicSizeRotatingFileHandler` if the `max-file-size` is set. In this configuration cas

[2020-05-28 17:19] phillip-kruger commented on #9538
#9666 should fix this

[2020-05-28 18:46] sorin-costea opened #9667 "Better document the logging levels..."
**Description**
I needed days only to figure out how logging in Quarkus has to be configured. Can we do something to document it better?

**Implementation ideas**
This is how I understand Q logging - after reading the logging guide, trying with a zillion combinations and pouring through SO...
[code]
I stand to be corrected but the above is the ONLY way I was able to see something in both Maven bui

[2020-05-28 20:12] rquinio commented on #9660
Checking the code:

https://github.com/quarkusio/quarkus/blob/28e52ace3029333dfc70f7112c7e7a82ce863050/extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java#L231-L234

Indeed quarkus-kafka-streams extension does not declare any KubernetesPortBuildItem (and has none to declare).

Shouldn't the presence of quarkus-kubernetes extension always

[2020-05-28 20:14] radcortez commented on #9121
This is easily supported by SmallRye Config 1.8:
https://smallrye.io/docs/smallrye-config/interceptors/interceptors.html#relocate-interceptor

[2020-05-28 20:19] radcortez commented on #8218
Smallrye Config 1.8 already supports this. Once we merge https://github.com/quarkusio/quarkus/pull/9184 we can add the feature.

[2020-05-29 01:28] #8810 closed

[2020-05-29 01:28] #9538 closed

[2020-05-29 02:17] gastaldi opened #9671 "GZip filter doesn't work"
**Describe the bug**
I followed the steps in https://quarkus.io/guides/rest-json#gzip-support but the filter doesn't seem to be activated.

**Expected behavior**
Content will be compressed as GZIP

**Actual behavior**
No GZIP compression

**To Reproduce**
Steps to reproduce the behavior:
1. Create any endpoint with code.quarkus.io
2. Add `quarkus.resteasy.gzip.enabled=true` to application.properti

[2020-05-29 02:31] gastaldi commented on #9671
Something tells me that the following line is wrong:

https://github.com/resteasy/Resteasy/blob/master/resteasy-core/src/main/java/org/jboss/resteasy/plugins/interceptors/GZIPEncodingInterceptor.java#L78

It should be testing if `Accept-Encoding` contains `gzip` instead

[2020-05-29 02:49] jaikiran commented on #9634
Hello abner, Is this failing in dev mode or in native mode? The reason I ask is, the `quarkus.native.additional-build-args` is only applicable for native image build, but your issue title suggests this is about dev mode?

[2020-05-29 03:11] lordofthejars opened #9672 "README.md does not show the current version in badges"
**Describe the bug**

README.md does not show the current version in badges. Currently we are in 1.4.2 but badge shows 1.3.3.Final

<img width="1020" alt="Screenshot 2020-05-29 at 05 09 41" src="https://user-images.githubusercontent.com/1517153/83216949-c01db880-a16a-11ea-84c3-75ea4409f069.png">

[2020-05-29 05:17] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/118655971

[2020-05-29 05:50] mageddo commented on #8032
I'm with this exactly issue, [here a demo][1] to reproduce the issue

[code]
Try run it 2 or 3 times if it works at the first execution, the command bellow works great though

[code]

[1]: https://github.com/mageddo/java-examples/tree/quarkus-issue-8032/quarkus/quarkus-gradle-reactjs-example

[2020-05-29 06:37] geoand commented on #4166
Fixed by #9665

[2020-05-29 06:37] #4166 closed

[2020-05-29 06:41] geoand commented on #8593
@ppalaga @aloubyansky we still seem to be having the same failure:

[code]

[2020-05-29 06:51] aloubyansky commented on #8032
@mageddo `clean build` is constantly failing for me
[code]
[code]
`clean quarkusBuild` seems to always work.

[2020-05-29 06:52] galderz commented on #9664
[PR](https://github.com/quarkusio/quarkus/pull/9673) sent.

[2020-05-29 06:54] aloubyansky commented on #8593
It could be related to the issue fixed in https://github.com/quarkusio/quarkus/pull/9638
I need to figure out why the CI is failing though. The tests pass locally.

[2020-05-29 06:57] geoand commented on #8593
Ah, I thought that one was merged :)

[2020-05-29 07:19] phillip-kruger commented on #8407
Hi @kenfinnigan - if I use the URL Path as specified in "quarkus.http.root-path", would that be correct ? Then I can remove the RestEasy stuff

[2020-05-29 07:36] geoand commented on #6015
@gunnarmorling I see that in PoC you have made some changes. Anything interesting to report?

[2020-05-29 07:42] gunnarmorling commented on #6015
Ha, funny you ask. Indeed I made some progress there, the CDS archive is
now created as part of the build:
https://github.com/gunnarmorling/quarkus-cds/blob/master/quarkus-cds/pom.xml#L87-L135.
It essentially is an emulation of the steps executed manually otherwise:

- start the built application with -XX:ArchiveClassesAtExit
- run the app logic to trigger all required class loads
- use the archiv

[2020-05-29 07:45] geoand commented on #6015
Gotcha, thanks!

[2020-05-29 07:55] machi1990 commented on #6015
Very interesting. Looking forward to the blog post. @gunnarmorling

[2020-05-29 07:56] geoand commented on #6015
Asking because I am thinking that when a container image is the output of the Quarkus build and that container image is built with Jib, we can probaly automate those steps.

[2020-05-29 08:02] gunnarmorling commented on #6015
Btw. one interesting insight for Quarkus is that CDS isn't supported
for classes older than JDK 1.6. That's the case e.g. for Antlr 2.7.7
and javax.inject. Using newer versions of those would enable more
classes to be CDS-ed.

The problem is that you need fidelity of classpaths between creating
and using the archive. That's why I run the app via java -jar for
creating the archive, as the regular t

[2020-05-29 08:05] geoand commented on #6015
Yeah, my idea is that we would launch the final jar as part of the build process in order to collect the CDS

[2020-05-29 08:24] gunnarmorling commented on #6015
process in order to collect the CDS

Ah, ok, but that's what is happening in my demo.

[2020-05-29 08:35] geoand commented on #6015
Exactly, I want to automate it for Quarkus when building a container image using Jib :)

[2020-05-29 08:44] gunnarmorling commented on #6015
Ok, so to clarify: as part of the Maven jib plug-in execution, you'd
like to run the jar, execute some tests and copy the resulting
archive, correct?

[2020-05-29 08:48] geoand commented on #6015
Correct, but with one difference: In Quarkus we integrate with jib-core, not the Jib Maven plugin, so we have full control over what goes into the image and what the entry-point is.

Also, we probably wouldn't execute tests, just hit some endpoints (which would result in less AppCDS "coverage" I guess, but should be fine hopefully)

[2020-05-29 08:48] #9505 closed

[2020-05-29 08:50] gunnarmorling commented on #6015
Ok, gotcha. Yeah, should be doable. I'll mention that towards the end as an
outlook.

Yeah, doing the same in my example.

[2020-05-29 08:51] geoand commented on #6015
Excellent, thanks!

[2020-05-29 09:03] Cryptorious opened #9674 "Unsupported bean type: UNRESOLVED_TYPE_VARIABLE, K When using generics"
Hey,

I'm trying my first Quarkus application and are moving from Spring to Quarkus.

In Spring I gererated an helper library where I defined an generic standardservice.

The Service class looks like this:

[code]

The model class looks like this:

[code]

This is the controller:

[code]

and this is my Assembler:

[code]

When trying to build the native executable, I get this message:

[code]

Am

[2020-05-29 09:33] adutra commented on #7876
@UnvirtualHH should happen in the next weeks, stay tuned!

[2020-05-29 09:35] loicmathieu commented on #9658
The following code do the trick:
[code]

Regarding the extension author guide, it misses a lot of documentation about all the various build items that we can use ...
It don't know where to put this one ... maybe inside the configuration section explaining how we can control other extension configuration ?
By the way, this is for runtime configuration, can we also control build time one ?

[2020-05-29 09:37] UnvirtualHH commented on #7876
OK, thanks for the info. I checked out the project and build it myself, but it is currently not possible to include it for test into my project, always getting errors on startup. But I will try it again in a few days, when project gets more close to ready.

[2020-05-29 09:42] geoand commented on #9658
This trick will only work for runtime configuration, it's only good for setting a default (this is essentially the same as `defaultValue` of `ConfigItem` does)

[2020-05-29 09:44] geoand commented on #9674
cc @mkouba @manovotn

[2020-05-29 09:45] geoand commented on #9672
Good catch.

Let's update this when `1.5.0.Final` lands so we only have one update to do :)

@gsmet perhaps this step should be added as part of the release checklist?

[2020-05-29 09:49] geoand commented on #9662
cc @oztimpower

[2020-05-29 09:55] oztimpower commented on #9662
Will take a look. Give me a few days.

[2020-05-29 10:04] rquinio commented on #9672
Based on https://shields.io/category/version it's possible to add `&sort=semver`
https://img.shields.io/github/v/release/quarkusio/quarkus?style=for-the-badge&sort=semver

Though Quarkus doesn't follow semver, so not sure if it could bug...

It currently returns 1.5.0.CR1, probably because it's not actually flagged as a pre-release in Github (there's a checkbox for that).

[2020-05-29 10:28] haraldatbmw opened #9676 "Docker --build-arg property for extension container-image-docker"
**Describe the bug**
Using the extension **container-image-docker** there is no way to pass dockers `--build-arg`.
My docker build (Dockerfile.jvm) fails because I'm behind a proxy and during build internet connectivity is needed (RUN microdnf install ...).

I need run the docker build like `docker build --build-arg http_proxy=http://localhost:3128 --build-arg https_proxy=http://localhost:3128 ...

[2020-05-29 10:28] haraldatbmw commented on #9676
cc @geoand

[2020-05-29 10:46] Sabartius opened #9677 "ConversionException/NPE in @QuarkusTest and using Pact-JVM Jupiter Provider"
**Describe the bug**
FollowUp to #8978 @tgippi
After Upgrading to Quarkus 1.5.0.Final Provider-Tests are still not possible, because the QuarkusTestExtension fails to xstream.deepCopy some Test-Context

**Expected behavior**
Tests should run, like in Quarkus 1.2.x

**Actual behavior**

[code]

**To Reproduce**
checkout `git@github.com:Sabartius/quarkus-pact-issue.git`

run with `mvn -P1.5 clean te

[2020-05-29 11:03] kenfinnigan commented on #8407
I think so yes

[2020-05-29 11:06] geoand commented on #9676
#9678 introduces that ability.

By just adding:

[code]

the docker command would now be something like:

[code]

[2020-05-29 11:17] phillip-kruger commented on #8407
Cool, Thanks. I got it working by using the URL as specified above and removing all resteasy dependencies, but that mean I have to repeat some code, specifically the IGNORE_FOR_REFLECTION_PREDICATE in ResteasyDotNames in resteast-common.

[2020-05-29 11:22] mkouba commented on #9674
I'm not an expert on Spring (@geoand is ;-) but all the classes from the snippets are abstract. How does the real component look like?

I admit that the error message is not very clear. We should add some more info...

[2020-05-29 11:29] manovotn commented on #9674
I don't really know how the integration layer is looking so I am not clear in what is this supposed to turn into in CDI terms :-D
I suppose a similar issue could be reproduced with simple CDI beans/annotations and not just through spring.

P.S. Sometimes I truly wonder what is the mysterious force causing all the juicy generics issues to pop up specifically on Fridays...

[2020-05-29 11:34] aloubyansky commented on #8593
The reason #9638 breaks our CI is that there is `integration-tests/class-transformer` extension whose runtime artifact is an empty JAR. The metadata is generated by the quarkus plugin. But if for other artifacts if the `classes` dir does not exist we delegate to the Maven resolver that pulls the artifacts from the cached repo, for this extension we are creating an empty dir with no extension metad

[2020-05-29 11:39] geoand commented on #9674
Yeah, I pinged you guys because of the CDI aspect of the issue :)

[2020-05-29 11:42] Cryptorious commented on #9674
Hey, thx for the answers :).

@manovotn
In my case the force for this juicy generic is that I tried the whole week to solve it myself till I lost all sanity yesterday ;)

@mkouba
I added also -e and -X flag to eventuelly determine what exactly or where the fault is, but it just gave me a hole lot of more text with not really usefull informations.

The implementations would look like this:

Assembl

[2020-05-29 11:44] kenfinnigan commented on #8407
Is it just a dotname duplication? If so, that's not too bad

[2020-05-29 11:51] #9280 closed

[2020-05-29 11:54] phillip-kruger commented on #8407
Yes, a few dotnames.

[2020-05-29 11:56] aloubyansky commented on #8593
To take hacking this case to the next level, I could get hold of the local repo location and check whether the jar is available in there and return... null instead of creating an empty dir, so the maven resolver returns the one in the repo in the same manner it does for every other artifact.
That's probably the only feasible way I can think of atm.

[2020-05-29 11:57] geoand commented on #8593
Sounds fine to me

[2020-05-29 12:12] oztimpower commented on #9662
@sorin-costea The sample project is working for me in all scenarios, via the Unit Test, via SAM Local and AWS.

If however I omit to pass the payload, or the JSON does not have the "name" property, then yes a NPE would be thrown from the ProcessingService:11 as opposed to an Inject failure. Injection was working.

I'll try your manual code as mentioned in the initial report, however I would apprec

[2020-05-29 12:17] rquinio opened #9679 "Logging: support microseconds in %d log pattern"
**Description**

The current implementation is based on SimpleDateFormat and is limited to milliseconds (i.e. %d{SSSSSS} does not work and prefixes with 000).
https://github.com/jboss-logging/jboss-logmanager/blob/master/core/src/main/java/org/jboss/logmanager/formatters/Formatters.java#L443-L458

With Java 9+, OpenJDK added support for better precision than milliseconds/nano-of-second (https://bu

[2020-05-29 12:21] oztimpower commented on #9662
Ok, I've modified the code as described above with your ProcessingService::test() function, and that also works with SAM Local and AWS.

Please share any stack traces, because the provided project and the manual explanation do not show a reproducer.

[2020-05-29 12:40] mkouba commented on #9674
We should know more once https://github.com/quarkusio/quarkus/pull/9680 is merged.

@Cryptorious could you share a minimal app to reproduce the issue?

[2020-05-29 13:00] Akejelu-Nelu commented on #6350
@michael-schnell  see the sample code below to see how  you can resolve the issue.

        Keycloak kc = KeycloakBuilder.builder()
                .serverUrl(AUTH_SERVER_BASIC_URL)
                .realm(REALM)
                .username(USERNAME)
                .password(PASSWORD)
                .clientId(CLIENT_ID)
                .resteasyClient(new ResteasyClientBuilderImpl().connectionPoolS

[2020-05-29 13:01] ge0ffrey opened #9681 "System.out.println in @Observers StartupEvent shows up before banner"
In my live demo, I added an `@Observers StartupEvent`  to add testdata, but that test data didn't show up in the UI (due to a bug in another class related to REST). However, I added System.out in that startup event method, but **it appeared as it didn't show up.** In reality, it probably did, before the Quarkus banner.

See that go awfully wrong here: https://youtu.be/JqtF2PLYTvI?t=1938

**However

[2020-05-29 13:08] gallotor opened #9682 "Quarkus 1.4.2 Jib package issue while behind a corporate proxy"
**Quarkus container-image-jib failed to download fabric8/java-alpine-openjdk11-jre base image through a http proxy**
I've being testing Quarkus jib and it doesn't seem to work behoind a proxy. My maven settings include the http_proxy config, but for some reasson the quarkus extension is not aware of it and it fails to download the fabric8 base image.

**Expected behavior**
mvn package task should

[2020-05-29 13:11] Cryptorious commented on #9674
Sure, here is the helper project. When you try to compile it native, it gives you the error. I can give you also an template project which imports the jar from your local maven repo and uses it (this is the normal usecase). Just tell me what you need :)

[helper.zip](https://github.com/quarkusio/quarkus/files/4701926/helper.zip)

[2020-05-29 13:37] mkouba commented on #9681
So I believe that the "ordering issue" is caused by the fact that the banner is not logged as a message but it's the return value of `java.util.logging.Formatter.getHead(Handler)`. And the head is probably used once the first log record is published.

CC @RotBolt

See also the related zulip discussion: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/StartupEvent.20not.20triggered

[2020-05-29 13:42] geoand commented on #9682
Thanks for reporting.

The jib extension doesn't currently look into your maven settings to fetch such properties. So as a workaround you can set the necessary settings using something like

[code]

@aloubyansky I assume bootstrap already handles Maven Settings files correctly. Can I from an extension pull out that information? Would it make sense to make it available as a build item?

[2020-05-29 13:43] oztimpower commented on #9165
Hi @amenic-hub, any chance you have a trimmed down version of the application for me test? Finally have some time to look at it.

[2020-05-29 13:49] RotBolt commented on #9681
I remember I implemented it as return value
of `formatter.getHead()`
So this return value and sysout gets into race condition. 🤔

[2020-05-29 13:55] mkouba commented on #9681
I don't think it's a race condition. It's more like the head is used lazily when the first log record is published or something like that...

Yes, we can try this. Would you care to send a PR?

[2020-05-29 13:57] #9676 closed

[2020-05-29 14:04] gastaldi commented on #9672
I think @rquinio's solution is feasible. Would you mind providing a PR?

[2020-05-29 14:16] loicmathieu opened #9683 "IllegalArgumentException for unknown path in resteasy / undertow"
**Describe the bug**
I have an application with both RESTEasy and Undertow, when I hit a non-existing endpoint, instead of having a 404 I have a 500 error with an `IllegalArgumentException`.

This is happening in production mode.

**Expected behavior**
404 status code with a correct message.

**Actual behavior**
[code]

**To Reproduce**
I discover this while working on this PR #9267 not sure it is

[2020-05-29 14:20] danielpetisme opened #9684 "Allow CDI bean creation from picocli args parsing"
**Description**
The purpose of the feature would be to wait until Picocli ends the CLI parsing to configure and create CDI Beans.

**Implementation ideas**
I found 2 options for now:
1- Define a custom Picocli Execution Strategy just to capture the parsed CLI before the command execution. Then use CDI Events to fire an event , another method is observing this event, once catch build the bean and s

[2020-05-29 14:21] danielpetisme commented on #9684
/cc @geoand @mkouba feel free to add details.

[2020-05-29 14:25] geoand commented on #9684
Releavant chat conversation: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/picocli.20DI

[2020-05-29 14:34] galderz commented on #8776
Closing this since it's a JDK issue. Follow https://github.com/graalvm/mandrel/issues/22 for further progress.

[2020-05-29 14:38] galderz commented on #9633
New [PR](https://github.com/quarkusio/quarkus/pull/9686) for wider scope.

[2020-05-29 14:58] geoand commented on #9682
I agree, I'm just trying to collect all options here.

Thanks for the info @aloubyansky

[2020-05-29 18:51] glefloch commented on #9671
I would like to work on that.

[2020-05-29 18:53] joshuadavis opened #9688 "Hot reload with Gradle and Kotlin doesn't recognize `src/main/java`"
**Describe the bug**
Hot reload with Gradle and Kotlin doesn't recognize `src/main/java` changes.

**Expected behavior**
When Java files in `src/main/java` are changed in a Kotlin project, the classes are recompiled and hot reload functions.

**Actual behavior**
When Java files in `src/main/java` are changed in a Kotlin project nothing happens.   The classes are not compiled and there is no hot re

[2020-05-29 18:54] csfercoci commented on #6065
The same issue for JODATIME, still not fixed

[2020-05-29 19:14] gerlacdt commented on #7451
Any news about that?

We are also using quarkus in a Kubernetes environment and stream the logs to STDOUT. Currently we use `quarkus-json-logging` but it is very restricting.

Structured Logging is much better supported with logstash-encoder (mentioned above)
Nice usage examples can found here:
https://www.innoq.com/en/blog/structured-logging/#structuredarguments

[2020-05-29 19:47] MikeEdgar commented on #6065
@csfercoci - are you saying the issue is still occurring for `LocalTime` or that it is also happening for Joda types? If it is happening for Joda types, there has been no change in the scanner to support them.

P.S. do you have control over the code using Joda-Time types? The recommendation is that code using Joda-Time on JDK 8 or later migrate to `java.time`.

[2020-05-29 19:52] geoand commented on #9682
Changing to enhancement because this isn't an actual bug.

It would be nice to have a general way of handling such cases, but given how dynamic Gradle can be, I don't think we can solve anything other than the Maven case.
Furthermore, there might also be other extensions that need to make network calls that would benefit from this same type of thing.

I wonder if it makes sense to have some kind o

[2020-05-29 20:43] aloubyansky commented on #9682
I'd probably prefer providing this kind of info on demand instead of looking it up and populating some config objects just in case some one needs them.
I think we could have some kind of Build[System]Context that would be a facade for providing various build-related settings that could be discovered and provided lazily on demand. It could be set on QuarkusBootstrap.Builder that our Maven mojos and

[2020-05-29 22:45] sherl0cks commented on #7919
Closing. I am no longer able to produce this issue.

[2020-05-29 22:45] #7919 closed

[2020-05-30 00:03] missourian55 opened #9690 "Please adopt aws-lambda-java-events 3.1.0"
**Description**
Please adopt **aws-lambda-java-event-3.1.0**, aws events underwent some major refactoring and now it supports **ApplicationLoadBalancerRequestEvent**, many of us were waiting for it for a long time

Hopefully it should be a straight forward adoption
https://github.com/aws/aws-lambda-java-libs/tree/master/aws-lambda-java-events

[code]

[2020-05-30 01:25] provcristianmaluenda commented on #9306
I am facing the same issue trying to use AWS Secrets Manager SDK. Gradle doesn't show any useful info in the logs.
Since I start to use Quarkus, always I have had the same problem.
I am using:
* Gradle 6.2.2
* Quarkus 1.4.2.Final
* GraalVM CE 20.0.0 (build 11.0.6+9-jvmci-20.0-b02)

[2020-05-30 04:06] oztimpower commented on #9662
Still works fine for me.

Local:

[code]

On AWS:

[code]

[2020-05-30 07:25] oztimpower commented on #6701
Working fine for me now on 1.4.2

[code]

[2020-05-30 07:26] oztimpower commented on #5579
Suggest to close, this is outdated.

[2020-05-30 07:30] geoand commented on #9690
cc @patriot1burke @oztimpower

[2020-05-30 07:49] geoand commented on #9682
Even in devmode though, we could pass that info to the devmodecontext, righ?

[2020-05-30 08:00] oztimpower commented on #9690
Submitted PR #9692. Tested and working ok on local build, and projects.

[2020-05-30 08:15] geoand commented on #9690
Thanks @oztimpower

[2020-05-30 08:41] phillip-kruger commented on #7095
I am looking at this. Am I correct in saying that when using Quarkus without `@ApplicationPath` in a class that extends `javax.ws.rs.core.Application` (that is a Quarkus specific feature that allows this), everything works fine (with and without the root-path specified in the config). However, when adding the `@ApplicationPath`, it only works without the root-path?

@troosan correct ?

[2020-05-30 08:42] phillip-kruger commented on #8435
I think we need to create a issue in smallrye for this, with some use case examples on how this will work. I.e when do we treat something as a REST endpoint and when not. @rainmanhhh w.d.y.t ?

[2020-05-30 08:56] troosan commented on #7095
That’s right

[2020-05-30 08:59] phillip-kruger commented on #7095
Ok I am on it.

[2020-05-30 09:09] aloubyansky commented on #9682
If you want to do it now and if we want to support gradle, we'd have to serialize the info to pass to the dev process.
Eventually we are going to introduce custom models in our gradle plugin that will provide app deps and could probably provide this kind of info too. That should be discoverable in dev mode, IDEs, etc.

[2020-05-30 09:56] johnaohara opened #9693 "Hot reload crashes using dev mode with vert.x-web extension"
Hot reload crashes intermittently when making changes to vert.x-web routes. The application becomes unresponsive to new requests and dev mode requires restarting.

An example stack trace is below;

[code]

Steps to reproduce the behavior:
1. Add vertx-web extension
2. Define a @Route endpoint
3. Start dev mode
4. make changes to vertx route endpoint that does not contain errors
5. hit endpoint wit

[2020-05-30 10:50] ejba commented on #9622
As far as I understood it, it's about to append `X-Forwarded-Prefix`  to `HttpServerRequest's URI`  and assign it to the `absoluteURI` in `ForwardedParser`. If that so, I think it's straightforward and I wish to contribute on this one.

[2020-05-30 11:52] phillip-kruger commented on #8415
Can we close this one ? @MikeEdgar ? @sean-scott-lr ?

[2020-05-30 11:57] phillip-kruger commented on #6202
I thinks this is fixed. Can you confirm @lordofthejars ?

[2020-05-30 14:48] RotBolt commented on #9681
Sure. Will work on it.

[2020-05-30 17:25] aqp696 opened #9696 "Sentry logging not working when using application.yml (works OK with application.properties)"
**Describe the bug**
Given an application.yml with configured properties for sentry logging, It does not send any error to the sentry application. The same configuration works OK when using application.properties instead.

**Expected behavior**
The application should start without warnings

**Actual behavior**
The application does not recognize the fields under quarkus.log.sentry ...

**To Reprodu

[2020-05-30 19:28] Alexander-Krause commented on #9660
Ye, I think so too. On a side note: The documentation states

What is the "user supplied configuration"? It probably means the `application.properties` entries that follow below, right?

[2020-05-31 06:42] oztimpower commented on #9662
I note you listed the handler explicitly, is there a reason for this? If you look at the templates I am invoking, the handler is fixed as Quarkus; your handler is determined at build time via the Named annotation, and corresponding property in the application.properties.

I suspect this is your issue. If you use the SAM Local, which can run on Windows, you will see the definition, and also the tem

[2020-05-31 06:43] oztimpower commented on #9662
@geoand Please close, discovered the issue as mentioned above.

[2020-05-31 06:45] geoand commented on #9662
@oztimpower I think you also have the rights to close issues, no?

[2020-05-31 06:50] oztimpower commented on #9662
Unfortunately, no.

[2020-05-31 07:03] geoand commented on #9662
Oh, okay

[2020-05-31 07:03] #9662 closed

[2020-05-31 10:01] oztimpower commented on #7362
Submitted PR #9697 to address this.

The Tests must use the AwsProxy (per the integration tests) to work with Quarkus Native Tests.

[2020-05-31 10:25] adamu opened #9698 "Rest Client guide should show how to test the client"
I'm looking at the [rest client guide](https://quarkus.io/guides/rest-client).

It demonstrates how to set up a rest client using dependency injection. However, it doesn't demonstrate how to test the client.

It does include tests, but the tests are testing a Rest server endpoint that wraps the use of the rest client. It would be helpful to provide an example of testing the client directly, rather

[2020-05-31 13:45] tobad357 commented on #9698
Adding on to this
We run tests in parallel and test with MockServer, the problem is there doesn't seem to be an easy way to change the URL/port the clients point to.

We need a way to start a MockServer with a random port and then point the client to that random port. Basically override the config in the test

[2020-05-31 14:04] sorin-costea commented on #9662
@oztimpower it might be obvious to you but I see no reference in the documentation that I should enter that handler in AWS, even if I was overriding it. So instead of closing the issue blindly can you please tell me what I should enter in the lambda handler? `io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler::handleRequest` throws ClassNotFoundException, same with `io.quarkus.amazon.lambda.run

[2020-05-31 14:05] akoufa commented on #8152
I am experiencing the same issue when I define in application.properties following : `quarkus.resteasy.gzip.enabled=true
quarkus.resteasy.gzip.max-input=10M` . The stack trace is attached:
[stacktrace.txt](https://github.com/quarkusio/quarkus/files/4707744/stacktrace.txt)

My question is shouldn't the request be handled by a Worker Thread when using JaxRS ? Or is a **Mutiny** JaxRS Route being han

[2020-05-31 14:06] sorin-costea commented on #9662
@geoand it's still not working.

[2020-05-31 14:08] geoand commented on #9662
I'll let you and @oztimpower figure it out. If you both think it should be reopened, I'll gladly reopen it

[2020-05-31 14:11] oztimpower commented on #9662
Hi @sorin-costea, look in the target/sam.jvm.yaml and the target/manage.sh for guidance.

I'm happy to get on a video call and walk through with you.

[2020-05-31 14:12] oztimpower commented on #9662
Can I suggest that you download SAM for Windows, and try the command I have above?

Let's take this offline, you can reach me on oztimpower@gmail.com

[2020-05-31 14:23] oztimpower commented on #9662
Using the SAM Template you can deploy, via `sam deploy` if needs be.

The handler is defined below, and the code to upload is `function.zip`

[code]

[2020-05-31 14:38] sorin-costea commented on #9662
For posterity: I was mistakenly using the runner.jar instead of the correct function.zip. That was the difference.

[2020-05-31 15:34] #9653 closed

[2020-05-31 16:44] Meemaw commented on #9284
I've faced the same issue, but I found a workaround. This error happens when you are trying to access properties of HttpServerRequest inside async lambda.

e.g. following code will crash:
[code]

but this will work:

[code]

[2020-05-31 17:18] aloubyansky commented on #8958
@glefloch what do you think about this one? Would you like to look into this? We are also missing basic native tests for Gradle, which could be a separate issue.

[2020-05-31 18:58] glefloch commented on #8958
@aloubyansky yes for sure, you can assign it to me. Should we expose all native properties?

[2020-05-31 19:28] missourian55 commented on #9196
Just adopted `1.5.0.Final` with this configuration and I am still seeing message chunking. I know for sure stacktrace less than 2MB (defined maximum message size)
<img width="1265" alt="chunking" src="https://user-images.githubusercontent.com/1572389/83360960-c7032180-a34a-11ea-89d5-31bbd6e1983c.png">

[code]

[2020-05-31 20:00] aloubyansky commented on #7642
#8626 was a duplicate of this issue, which was fixed in #8714 for 1.5.0.CR1

[2020-05-31 20:00] #7642 closed

[2020-05-31 20:28] aloubyansky commented on #8958
Good question. Given that the reason for deprecation was to unify the build config using properties, I think we should not deviate from that direction. Could we simply allow arbitrary properties in that native config? All the properties from `native` would simply be passed to `quarkusBuild`. We could allow using shorter property names by prefixing them with `quarkus.native.` in case they don't sta

[2020-06-01 01:05] #8850 closed

[2020-06-01 01:17] Cellane opened #9701 "Panache methods are not visible to IntelliJ IDEA’s “Evaluate Expression” debugger feature"
**Describe the bug**
After creating an empty Quarkus project and adding a few Panache entities (by following the Panache tutorial), everything works as expected when created endpoints are queried from an HTTP client or web browser.

However, after attaching IntelliJ IDEA’s debugger, pausing on a breakpoint inside request handler and attempting to use the “Evaluate Expression” feature, all Panache

[2020-06-01 04:09] rhuan080 commented on #9696
Hi,

Looks like the yml is incorrect. Try this configuration:

`quarkus:
  log:
    console:
      enable: true
      format: "%d{HH:mm:ss} %-5p [%c{2.}]] (%t) %s%e%n"
      level: TRACE
      color: false

    sentry:
      ~: true
      dsn: "https://d5e357ac06d1417d93e77294e0810228@o345842.ingest.sentry.io/5233744"
      level: ERROR
      environment: develop
      release: 1.0.0
      in-app-

[2020-06-01 04:59] anhldbk commented on #6033
@maxandersen Any recommendation for the suitable implementation? May I write a Golang CLI program to invoke such commands?

[2020-06-01 05:02] #9647 closed

[2020-06-01 05:17] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/121107543

[2020-06-01 05:27] stuartwdouglas commented on #9634
Does it work if you use <scope>provided</scope> ?

[2020-06-01 05:27] geoand commented on #9701
Can you check and see if the following ugly work-around will work?

[code]

[2020-06-01 05:32] geoand commented on #9698
@adamu can you elaborate a little more on what you would like to see?

@tobad357 you can manually start Wiremock and make the rest-client point to it, see [this](https://github.com/geoand/quarkus-test-demo/blob/master/src/test/java/org/acme/getting/started/country/WiremockCountries.java) for example

[2020-06-01 05:51] maxandersen commented on #6033
Quarkus command mode should suffice should it not ?

[2020-06-01 05:53] adamu commented on #9698
A test that calls `countriesService.getByName(name)` and `countriesService.getByNameAsync(name)` directly from the test, and shows how to assert the results would be useful.

I think that the test tools are likely to be different. The current example is using `RestAssured`, but for testing the client I think it's more likely that the tester will want to call the client method directly and then per

[2020-06-01 05:53] Cellane commented on #9701
@geoand Unfortunately, it doesn’t look like it works.

<img width="586" alt="obrazek" src="https://user-images.githubusercontent.com/171604/83379949-ae147200-a417-11ea-96c5-31859a207d6b.png">

[2020-06-01 06:59] geoand commented on #9698
@adamu would you like to contribute a documentation Pull Request?

[2020-06-01 07:31] adamu commented on #9698
I'm currently working out how to do it nicely on the project I'm working on. Let me finish that (could be a few days), and then post what I'm doing here. If you think it's sensible, I can look at updating the guide.

[2020-06-01 07:33] geoand commented on #9698
Sounds like a plan

[2020-06-01 07:51] anhldbk commented on #6033
@maxandersen Please explain.

In the related [issue](https://github.com/quarkusio/quarkus/issues/6026), we have 2 following requirements:

[code]

How does the command mode fulfill such requirement?

[2020-06-01 08:34] geoand commented on #9561
@iocanel I am little confused on what the action item is on our side for this. Can you elaborate please?

[2020-06-01 08:39] geoand commented on #9684
@danielpetisme IIUC by looking at https://github.com/danielpetisme/kafkactl,

you essentially want to use `GlobalOptions` in a CDI producer?

[2020-06-01 08:40] iocanel commented on #9561
It seems that I am wrong in that mapping secret and configmap keys to environment variables was not expected to work. It seems that it did and now it is broken.

This issue is a duplicate of https://github.com/quarkusio/quarkus/issues/9629 and  I suggest continuing the discussion there.

[2020-06-01 08:41] geoand commented on #9561
Hm... But this issue also affects `1.3.x`, right @mjurc?

[2020-06-01 08:43] iocanel commented on #9629
In the new syntax we need to implement support for something like:

[code]

AFAIR, @metacosm expressed the desire to work on this issue, so I'll assign it to him.

[2020-06-01 08:45] tandraschko opened #9702 "Websocket ServerContainer not found anymore"
**Describe the bug**
In the past MyFaces correctly lookuped the ServerContainer and websockets worked.

**Expected behavior**
ServerContainer will be found like in older versions.
MyFaces includes io.quarkus:quarkus-undertow-websockets:jar:1.5.0.Final:compile for it

**Actual behavior**
no ServerContainer  found

**To Reproduce**
Steps to reproduce the behavior:
1. clone https://github.com/apache/

[2020-06-01 08:46] Ladicek commented on #9629
I will repeat that until someone acks -- we need the migration guide content!

[2020-06-01 09:09] maxandersen commented on #6033
Quarkus can compile to a native executable.

[2020-06-01 09:25] geoand commented on #9682
Given that this is the only such case we have so far and that currently container-image only works for the prod-mode, I don't think we need to complicate dev-mode (until we actually have a use case).

[2020-06-01 09:33] gallotor commented on #9682
Just a quick update, the workarround of setting up the https proxy config from the command line works fine:

`mvn package -Dquarkus.container-image.build=true -Dhttps.proxyHost=10.113.55.36 -Dhttps.proxyPort=8080`

[code]
Thanks for the feedback!

[2020-06-01 10:14] geoand commented on #9682
Given that

1) adding `new BootstrapMavenContext().getEffectiveSettings();` into a build step would be rather unclean
2) the workaround is rather simple

I propose we leave this open for now and act on it if lots of folks report it being an issue.

Another thing I thought of is that we could set system properties for the proxy that apply throughout the build based on what is in `proxy`. But again,

[2020-06-01 10:41] geoand commented on #9696
@rhuan080 is right. Closing as this isn't a Quarkus issue.

[2020-06-01 10:41] #9696 closed

[2020-06-01 10:51] maxandersen commented on #6033
ad even if it was just a jar that can be installed using brew and sdkman too.

[2020-06-01 11:12] aloubyansky commented on #9682
We can surely set the properties. It seems like in Gradle this is how it's done anyway. And in Maven we can simply set them in Mojos by reading the settings.

[2020-06-01 11:15] geoand commented on #9682
Exactly, that's what gradle does when user set `systemProps.http.proxyHost=something`.

@aloubyansky do you think setting the properties in the mojos is something we should do now or something we should wait for user demand?

It seems like a reasonable and innocent thing to do :)

[2020-06-01 11:23] aloubyansky commented on #9682
I wouldn't do it just because we can. I thought JibProcessor or something was missing this info. If it's not the case then I'd wait for a request.

[2020-06-01 11:29] aloubyansky commented on #9682
My idea was simple: we could provide some NetworkingConfigBuildItem that would expose methods to get proxy settings. But it would resolve them when those methods are actually invoked. In Gradle it would be based on properties. In Maven it would be based on properties + settings. But I would still do that on request.

[2020-06-01 11:31] geoand commented on #9682
OK yeah. Jib could use this, but since it currently seems to be just an edge case, let's wait and see if more users will request it.

[2020-06-01 12:26] RotBolt opened #9706 "quarkus-universe-bom json contains duplicated description"
**Description**
quarkus-universe-bom json contains duplicated description
- "Build parent to bring in required dependencies"
- "Trace your services with Jaeger"

[2020-06-01 12:26] RotBolt commented on #9706
cc @michalszynkiewicz

[2020-06-01 12:31] aqp696 commented on #9696
I tried with nested properties like sentry.<whatever> because was suggested by an properties to yaml online converter. @rhuan080 Thank you so much for the link to the configuration key conflicts guide.

[2020-06-01 12:51] #5859 closed

[2020-06-01 13:46] rsvoboda opened #9707 "Windows - Japanese characters / `,;~!@#$%^&()` - dev mode doesn't work"
Windows - Japanese characters or `,;~!@#$%^&()` - dev mode doesn't work, `Error: Unable to access jarfile ...` is reported. `mvn test` works well.

Steps to reproduce
 - create directory `元気かい` or `,;~!@#$%^&()`
 - create bootstrap app https://quarkus.io/guides/getting-started#bootstrapping-the-project
 - run `mvn quarkus:dev`

[code]

[2020-06-01 13:52] cescoffier commented on #9263
Implemented in https://github.com/smallrye/smallrye-reactive-messaging/pull/573.

[2020-06-01 13:54] rsvoboda commented on #9707
for the record, `mvn clean test` works

[2020-06-01 14:11] #9674 closed

[2020-06-01 14:25] gastaldi opened #9709 "Introduce a quarkus-rest-client-mutiny extension"
**Describe the extension**
The existing `quarkus-resteasy-mutiny` extension (which is also mentioned in the https://quarkus.io/guides/rest-client guide) depends on the `quarkus-resteasy` extensions, which may not be adequate for applications that do not expose any endpoints (eg. command line apps)

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

[2020-06-01 14:29] rsvoboda commented on #9706
[code]

[code]

[2020-06-01 15:54] SR-Lut3t1um commented on #5488
Is there any new information on this topic?

[2020-06-01 16:49] danielpetisme commented on #9684
Yes, I want to use parsed arguments in a CDI producer

[2020-06-01 17:02] geoand commented on #9684
From what I saw from the picocli source code, this will require deep integration with it.

cc @mgorniew @remkop

[2020-06-01 17:13] danielpetisme commented on #9684
Indeed, I had a look to and seems tricky to insert CDI actions in between
the args parsing and the command execution.
Even if it would neat, i'm really wondering if it's a good idea...

The limit between DI and picocli are not perfectly clear for me.

Le lun. 1 juin 2020 à 19:03, Georgios Andrianakis <notifications@github.com>
a écrit :

[2020-06-01 17:33] geoand commented on #9684
Ideially we should make it dead simple to do this kind of thing. It sounds like something very useful and common

[2020-06-01 19:18] EfraimLA commented on #2815
So there's not other way to merge entire entity collections?

[2020-06-01 19:26] danielpetisme commented on #9684
Should it be specific to picocli or do you thinks could be reused by other CLI libs?

[2020-06-01 19:32] geoand commented on #9684
Here we are talking about picocli specifically.

In vanilla command mode you can use the `@CommandLineArguments` as a CDI qualifier and then do your own parsing in a CDI producer method, but that is really tedious...

[2020-06-01 20:39] tomgeorge opened #9713 "Adding a self-signed certificate to keystore and setting `-Djavax.net.ssl.trustStore` gives PKIX path building failed message"
**Describe the bug**

I have a quarkus native executable that needs to communicate with an endpoint secured with a self signed certificate.  When building a container for this, I add my self-signed cert to the trust store and attempt to run the application.

**Expected behavior**

My executable should see that the self-signed certificate is available in the trust store and use it for communication

[2020-06-01 20:57] tomgeorge commented on #9713
/kind question

[2020-06-01 21:20] ljacomet opened #9715 "Inconsistent versions for Slf4J in quarkus-universe-bom"
**Describe the bug**
The `quarkus-universe-bom` version `1.4.2.Final` has inconsistent versions for Slf4J. This issue is present in other versions as well.

**Expected behavior**
All dependencies in group `org.slf4` should be using a single version and build succeeds.

**Actual behavior**
`slf4j-simple` uses `1.7.25` while `slf4j-api` uses `1.7.30`, failing the build.
See [the BOM](https://repo.ma

[2020-06-01 22:10] remkop commented on #9684
Hi @danielpetisme  and @geoand, I took a look at the chat conversation: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/picocli.20DI

The custom execution strategy that Daniel suggested (near the end of the chat session) makes sense to me.

[2020-06-01 22:17] mgorniew commented on #9684
@remkop @geoand I've have some code prepared which will produce events as in @danielpetisme example. I wonder if it make any sense to also produce ParseResult like this:

[code]

[2020-06-01 22:20] remkop commented on #9684
@mgorniew You are a rock star!

[2020-06-02 00:43] itboy87 commented on #9194
Hi I'm also getting too many similar crashes. Is there any workaround for that?

[2020-06-02 00:48] itboy87 commented on #9194
This is my crash traces https://sentry.io/share/issue/2ed01930df494218aca52e49cb1cf237/
@evanchooly can you please check this

[2020-06-02 04:04] evanchooly commented on #9194
@itboy87 i don't know why you tagged me specifically.  this is not my area of expertise.

[2020-06-02 04:54] wicksim commented on #9622
I didn't spend much time in analysing till now. But it would be nice if you would contribute on this one, because I will not have time to do this in the next few days.

[2020-06-02 05:17] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/122174108

[2020-06-02 06:21] geoand commented on #9701
There isn't much we can do here unfortunately... Mind opening an issue in the IntelliJ tracker?

[2020-06-02 06:24] geoand commented on #9707
@rsvoboda can you please re-run with the `-X` maven flag and paste the relevant output?

Thanks

[2020-06-02 07:20] rsvoboda commented on #9707
[code]

Longer version
[code]

[2020-06-02 07:30] geoand commented on #9707
Thanks a lot @rsvoboda.

[code]

is the line I wanted to see

[2020-06-02 07:38] sekaijin opened #9721 "Quarkus:dev does not filter resources"
Quarkus:dev does not filter resources

add filter a maven
[code]
add a maven property in application.yaml or application.properties
[code]
run mvn clean package quarkus: dev
resources are filtered and the application starts with the property
my.version = 1.0.0-SNAPSHOT

run mvn clean quarkus: dev
resources are not filtered and the application starts with the property
my.version = $ {project.versio

[2020-06-02 07:55] cescoffier commented on #8152
Jax-RS method returning Mutiny types are still called on the worker thread pool. However, depending on what you do in the method, you may get back to an event loop (typically if you use a reactive client).

[2020-06-02 08:01] loicmathieu opened #9722 "Create an integration test with both Hibernate and MongoDB with Panache"
**Description**
Hibernate with Panache and MongoDB with Panache are both popular extensions that share some common concepts and code.

We have separate integration test for both, but we need to be sure that when using both in the same project it works.

**Implementation ideas**
Create an ingegration test with both extension that make some basic database access (simple CRUD).
It's not needed to mak

[2020-06-02 08:12] ibuziuk commented on #9713
@maxandersen could you please take a look?

[2020-06-02 08:32] svenhaag commented on #2489
Hi, what's the state of this? I would love to see these validation annotations in SmallRye-Config (the MP-Config Spec). Cheers

[2020-06-02 08:46] nheidloff commented on #9663
Thanks @maxandersen.

Does the Docker extension work for OpenShift? I thought only s2i is supported for OpenShift. I get the following error:
Failed to execute goal io.quarkus:quarkus-maven-plugin:1.4.2.Final:build (default) on project kubernetes-quickstart: Failed to build quarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
[ERROR] 	[error]: Build ste

[2020-06-02 08:50] geoand commented on #9663
We don't have any Quarkus / Tekton integration yet, but that should arrive fairly soon - cc @iocanel

[2020-06-02 08:57] FroMage commented on #8152
@stuartwdouglas can you remind me what you told me about being able to run gzip in an async fashion?

[2020-06-02 08:59] metacosm commented on #9629
That said, the old syntax should still be working for the time being.

[2020-06-02 09:01] Ladicek commented on #9629
I think I have clearly demonstrated that some of it does not :-)