[2020-01-27 10:48] tpenakov commented on #6549
Hi @sberyozkin ,

I've managed to get it working for xlsx and pptx file types, but now I have 3 serious problems. The first two pop up after the code rebase in my Quarkus fork last week. IMO they are not related to the current task and I definately will need help in order to resolve them (quick and dirty solution is applied for the moment :) ). Here are the problems together with some explanations

[2020-01-27 11:00] FroMage commented on #6261
Sure, but we can change that.

As for typing, we currently already have this issue, it's nothing new, and it's due to the way Java's type inference works. Right now the inferred bound will be `PanacheEntity` which is not much more useful. Another way to nudge it is:

[code]

We could totally add a `project` as you suggest that would essentially return `this` but with a different type argument, whi

[2020-01-27 11:08] sberyozkin commented on #6783
@FroMage Hi Stephane, re your earlier query about connecting with the multiple well known social providers, please see a side note from @jessegduke in the description about connecting to Google. You can combine several configurations like that one and select dynamically using a multi-tenancy feature, see the OIDC multitenancy test, Pedro will hopefully have time to document it once he gets back. F

[2020-01-27 11:37] loicmathieu commented on #6742
@TheVidAllMayThe this is not a Quarkus MongoDB with Panache issue but it's a limitation of Kotlin dataclass with frameworks that needs an empty constructor. We use MongoDB automatic pojo codec to serialize to/from the database and it needs an empty constructor.

There is multiple way to fix the issue:

1. Add default values to all the field of your data class to generates an empty constructor. See

[2020-01-27 12:16] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: bd9141cfaf69e9511f6b4046397989df844f664c

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-27 12:21] jessegduke commented on #6783
Thanks @aaronanderson and @sberyozkin  ... I will give these configs/versions a try later (I hope later this week at the latest).

[2020-01-27 12:25] jessegduke commented on #6783
@aaronanderson  and @sberyozkin .  I decided to be late to work a few mins and test it out, and THAT DID IT.  Moving to `1.2.0.Final` fixed it - Seems to work with PingFederate now!  Thanks, everyone.

[2020-01-27 12:26] tandraschko commented on #6339
@nimo23 +1 for you comments here

[2020-01-27 12:30] gastaldi commented on #6796
Isn't that already what Kubernetes offers? Why reinvent the wheel?

[2020-01-27 12:34] pavolloffay commented on #2187
@mkouba It's a very old issue I might not remember all. As I said in https://github.com/quarkusio/quarkus/issues/2187#issuecomment-486600799 it seems the failing test is related to a bug in FT so maybe the new impl solved it.

[2020-01-27 13:01] jmartisk commented on #6804
There is a feature request for it here: https://github.com/quarkusio/quarkus/issues/1505
I'm kinda working on it in my free time, haven't had too much progress yet though.

[2020-01-27 13:11] gastaldi commented on #6804
Duplicate of #1505, please vote it in there if you're interested in it. Thanks!

[2020-01-27 13:11] #6804 closed

[2020-01-27 13:16] sberyozkin commented on #6783
@jessegduke thanks, hopefully it did not take much time and you were not too late for work :-). I'll resolve for 1.3.0. @aaronanderson thanks for your support on this issue too

[2020-01-27 13:18] #6783 closed

[2020-01-27 13:18] rsvoboda commented on #2128
Windows logging is OK for some time, closing this issue.

[2020-01-27 13:18] #2128 closed

[2020-01-27 13:34] sberyozkin commented on #6747
@pmlopes Hi Paulo, thanks for the feedback,
But the confidential client should retain the option to authenticate using the form params.
True, we are tallkng here about the OIDC server implementations which are not meeting the spec requirement to support the basic auth format, but nonetheless, such servers can not be contacted now as per [this user thread](https://quarkusio.zulipchat.com/#narrow/st

[2020-01-27 13:44] mkouba commented on #2187
@pavolloffay np, thanks! So I think that we should probably enable the test again and we'll see how it goes ;-). @rsvoboda @Ladicek Your opinion?

[2020-01-27 13:48] aguibert commented on #6627
The fix for this issue is now merged in Yasson master, and will be available in the next version of Yasson (version 1.0.7)

[2020-01-27 13:50] Ladicek commented on #2187
Ayea. The core implementation is new, the OpenTracing integration is new, the Quarkus extension is much smaller (if I remember the PR correctly). Agree that the test should probably be reenabled.

[2020-01-27 13:54] FroMage commented on #6783
Thanks @sberyozkin

[2020-01-27 13:56] tisoft opened #6805 "Support ignoring an existing persistence.xml file"
**Description**
It should be possible to skip an existing persistence.xml file, that is contained in a JAR file dependency.

My use case for this is, that I need to import a legacy jar, that unfortunately contains a persistence.xml with unsupported entries. Fortunately I only need the classes from this jar, not the persistence configuration, so ignoring it would help me.

**Implementation ideas**

[2020-01-27 14:39] dmlloyd commented on #6766
We implemented that at user request.  But Quarkus would not want to do that (by default at least) because several classes of application may need clean access to stdin/stdout, particularly applications running in certain kinds of containers and CLI applications.

That said, it might be worth having a configuration switch or even an extension which grabs stdout and/or stderr.

[2020-01-27 14:43] pavolloffay commented on #2187
Talk also to @michalszynkiewicz (author of the new impl?) I think he had some issues related to tracing.

[2020-01-27 14:43] dmlloyd commented on #305
Sort of... it's complicated.

Is it undocumented?  That behavior has been there since almost the very beginning...

Would it not be easier to support [FileSystemConfigSource](https://github.com/smallrye/smallrye-config/blob/master/sources/file-system/src/main/java/io/smallrye/config/source/file/FileSystemConfigSource.java#L33-L58), which was designed specifically for the purpose of supporting conf

[2020-01-27 14:46] rvansa opened #6807 "Keycloak Authorization services with anonymous access"
**Describe the bug**
I am trying to secure Quarkus backend using Keycloak, following https://quarkus.io/guides/security-keycloak-authorization . I'd like to allow anonymous access for some instances, based on Keycloak configuration. However when I set Policy Enforcement Mode to 'Disabled' in the client, my requests without `Authorization` header get rejected with `401 Unauthorized`.

Note that I w

[2020-01-27 14:55] rsvoboda commented on #2187
+1

[2020-01-27 14:58] mkouba commented on #2187
Ok, I'll send a PR shortly.

[2020-01-27 15:00] nimo23 commented on #6796
Yes, I think we can close this issue if kubernetes provides this out of box.

[2020-01-27 15:02] gastaldi commented on #6796
Thanks @nimo23. Closing this as I believe it's a much better solution :wink:

[2020-01-27 15:02] #6796 closed

[2020-01-27 15:18] pplr commented on #6501
Maybe 93668af introduced this regression?
Between mariadb-java-client version 2.4.4 and 2.5.2, "org.mariadb.jdbc.internal.util.Options" moved to "org.mariadb.jdbc.util.Options".

This line should be updated to refer to the new path of Options class?
https://github.com/quarkusio/quarkus/blob/master/extensions/jdbc/jdbc-mariadb/deployment/src/main/java/io/quarkus/jdbc/mariadb/deployment/MariaDBJDBCR

[2020-01-27 15:20] sberyozkin commented on #6807
Hi Pedro, please investigate when you get some spare cycles, thanks

[2020-01-27 15:22] gsmet commented on #6501
@pplr Interesting. Not sure it has anything to do with this issue but needs fixing in any case.

Would you like to create a PR for it?

[2020-01-27 15:31] geoand opened #6809 "Validate compatibility of quarkus.platform.version and quarkus-plugin.version properties"
**Description**
It's not uncommon for users who update projects to only update one of the 2 properties. It would be nice to fail the build / dev-run if there is a mismatch (probably of minor versions).

See for example: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Quarkus.201.2E1.2E1.20and.20startup.20time/near/186691685

or https://quarkusio.zulipchat.com/#narrow/stream/187030-

[2020-01-27 15:32] geoand commented on #6809
cc @maxandersen @aloubyansky

[2020-01-27 15:36] FroMage opened #6810 "Multiple per-profile configuration files or includes"
Several users have asked us to put their config in multiple files. This is not good generally, but there's no good reason to prevent people from doing it if they must.

There are several strategies possible:

Nr.|Strategy|Pros|Cons
---|---|---|---
1|`application-%profile.properties`, fall-back to `application.properties` if not found|Clear mapping with fallback|No composition (single file)
2|`appl

[2020-01-27 15:36] FroMage commented on #6810
@dmlloyd @gsmet

[2020-01-27 16:07] rvansa commented on #6807
On a related matter (without Keycloak Authorization Services), is it possible to grant a role to anonymous user? Say I have `@RolesAllowed("spectator")` and I want to make this accessible just by adding something like `quarkus.security.anonymous.roles=spectator` to application.properties? Alternatively can I grant this in KC?

[2020-01-27 16:16] dmlloyd commented on #6810
Are we sure that `%` is allowed as a file name character on all platforms?  Also note that it's pretty weird when you URI-encode it (some config sources use URLs internally, and resources use URLs as well), and might be a source of bugs.  Perhaps the file name should exclude the `%`.

"No composition" (number 1) seems like a deal-breaker to me.  It essentially means asking users to duplicate their

[2020-01-27 16:30] #6790 closed

[2020-01-27 16:30] gsmet commented on #6790
Thanks for your feature request, this will be part of 1.3.0.

[2020-01-27 16:31] genehi commented on #6622
It will be very hard to provide a reproducer, as there is a great deal of work in setup up of our apps to run in our minikube environment.
I can say that I might have narrowed down the difference somewhat.
When I enable this property in my application.properties, the SQL logging does not show up in the log file itself, only in the console (stdout).

quarkus.hibernate-orm.log.sql=true

My biggest p

[2020-01-27 16:33] FroMage commented on #6810
I meant to show that the value would be substituted, so I'm actually referring to `applicartion-dev.properties`. Sorry for the confusion.

I feel like if the current profile is `dev` then `%dev.foo=` and `foo=` are equivalent, and only their order determines the final value of the property (last one wins). Is that not the case currently?

Given that the only way for this file to be loaded is on th

[2020-01-27 16:37] dmlloyd commented on #6810
:+1:

No, order is not significant in any of the configuration sources.  If this were implemented in the simplest/most obvious way, then the behavior would be as I described.

:+1:

[2020-01-27 16:43] FroMage commented on #6810
Well we have a different idea of "simplest/most obvious" because I totally expected order to be significant with last-one-wins.

But if it's as you say "most-specific-wins" then fine, as long as it's documented because it's certainly not obvious to me ;)

[2020-01-27 16:45] dmlloyd commented on #6810
I was talking about simplicity from an implementation perspective.

OK.  Since it's consistent with the current behavior of `%foo.bar` overriding `bar`, I think we can probably extend the documentation at that point to explain that the rule extends to per-profile files.

[2020-01-27 16:51] FroMage commented on #6810
From an implementor's perspective, I would have done a `s/%profile//g` on the file before parsing it, so… :man_shrugging: ?

[2020-01-27 16:52] gsmet commented on #6622
@gastaldi could you check if you can reproduce the log rotation issue?

[2020-01-27 16:53] rosell commented on #5275
Hi!

I do not known this cna help you, but I use the swagger-maven plugin to generate the docuemnt.
<project ...
 <build>
<plugins>
<plugin>
				<groupId>io.swagger.core.v3</groupId>
				<artifactId>swagger-maven-plugin</artifactId>
				<version>${io.swagger.core.v3-version}</version>
				<executions>
					<execution>
						<phase>compile</phase>
						<goals>
							<goal>resolve</goal>
						</g

[2020-01-27 16:58] sberyozkin commented on #6807
@rvansa No, it is not possible in Quarkus. I'm not sure it should be, how would it differ from `PermitAll` ?

[2020-01-27 16:58] genehi commented on #6622
Not much to check, it does it on all 3 of my quarkus apps running in minikube.

From: Guillaume Smet <notifications@github.com>
Sent: Monday, January 27, 2020 6:53 AM
To: quarkusio/quarkus <quarkus@noreply.github.com>
Cc: Turner, George (US) <george.turner@lmco.com>; Mention <mention@noreply.github.com>
Subject: EXTERNAL: Re: [quarkusio/quarkus] log output not in log file when enabled (#6622)

@ga

[2020-01-27 16:59] pedroigor commented on #6807
@rvansa The point here is that the `keycloak-authorization` relies on the `oidc` extension and as such it requires a bearer token. That is the reason why you are getting `401`.

Currently, you should either disable policy enforcer for the paths you want to make public or trying to use the configuration options from the security layer (https://quarkus.io/guides/security#standard-security-annotation

[2020-01-27 17:03] gsmet commented on #5275
This is really not a Quarkus issue. It would probably be better to create an issue there: https://github.com/smallrye/smallrye-open-api (it's the implementation we use for Quarkus) and see if they would be interested to provide a Maven or Gradle plugin.

I'm not entirely sure they would have the bandwidth though but you can try.

I'm closing it here as there's nothing we will do on the Quarkus sid

[2020-01-27 17:03] #5275 closed

[2020-01-27 17:09] gsmet commented on #6622
I'm not saying you don't have this behavior but we need to be able to reproduce it to understand what's going on just why I asked @gastaldi to check. We will start with the information you provided. If we can't reproduce it, we will ask you more info.

As previously said, we need to get to the bottom of it.

[2020-01-27 17:15] genehi commented on #6622
I will provide as much as humanly possible, but creating a reproducer, as I said, is extremely difficult, as I am not running the apps “standalone”, they are running in a minikube environment, that has lots of configuration around them so that they startup under minikube control.

I can “try” to run one standalone and see if the results are consistent.  The amount of errors doing it that way shoul

[2020-01-27 17:23] rvansa commented on #6807
@sberyozkin  As I've mentioned, I can imagine some instances of the app allowing read-only access by default, and some requiring authentization even for reading. That's why I'd need to statically define some role - otherwise I could not secure it in the latter type of deployment.

Looks like I have to create the anonymous user and offer anonymous login option in UI.

[2020-01-27 17:26] sberyozkin commented on #6807
Hi Pedro @pedroigor , happy to see you being back :-)
I wonder, should we then try to prioritize #4817 (longer-term) ? So that it starts working with all OIDC servers supporting `UMA` ? Optimizing this extension is fine, but we've added it primarily to support the migration of the existing KC users.

[2020-01-27 17:26] gastaldi commented on #6622
I have created a sample app with the following application.properties and would just call `Logger.info` every 2 seconds:

[code]

And this is the output in my target folder:

[code]

So, besides the 140 bytes file, the rotation is working fine AFAIK. Looking forward to an example reproducing that

[2020-01-27 17:27] sberyozkin commented on #6807
@rvansa So then it would come down to a single JAX-RS method offering a semi-secured access. I'm not sure it is the right solution, the anonymous access is on the specific path, so you can have 2 JAX-RS methods, one serving the anonymous user, one - the authorized one, both delegating to the common implementation.

[2020-01-27 17:35] pedroigor commented on #6807
@sberyozkin I'm not sure if we should prioritize #4817. So far, I see more demand for regular policy enforcement without requiring any of UMA goods.

[2020-01-27 17:42] sberyozkin commented on #6807
@pedroigor that is fine, supporting the Keycloak specific policies for the KC users is important. But I think it would be good to say (longer term as I mentioned :-) ) that the users can have something that works for all the supporting OIDCs.
Or am I mistaken that in a way Keycloak Authorization is a Keycloak specific solution to a User Managed Access problem ?

[2020-01-27 17:59] pedroigor commented on #6807
It is specific if you are only using Keycloak as a policy decision point. But when it comes to supporting user-managed access so that users can manage permissions to their resources, then we are a standard based UMA implementation.

Only a very few OIDC implementations support UMA.

[2020-01-27 18:02] sberyozkin commented on #6807
@pedroigor thanks, lets chat about UMA later then, perhaps we need to get the users opening the concrete issues around it before thinking going further with it in Quarkus...

[2020-01-27 18:09] nimo23 commented on #6810
Actually, we put all the configs within `application.properties` (or yaml/yml) which acts like a **god config (similar to a god class)**. At first it is good to have all configs in one place. But this can lead at some time to too much **unrelated** configs in one file. It would be nice if quarkus provides the ability to split the configs to different files with the following convention:

Folder "s

[2020-01-27 18:10] famod commented on #5675
When I take the printed command
[code]
and wrap every parameter that contains a `=` with `"...=..."`, **the "Unknown arguments" error vanishes!** (but I then hit https://github.com/oracle/graal/issues/1675 which shadows the real problem)

It seems Quarkus should do this wrapping atuomatically, at least on Windows.

[2020-01-27 18:16] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 50d3b497ebe254e682e4ad54e8632e050a7515a5

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-27 18:30] #2187 closed

[2020-01-27 19:02] acoburn commented on #4767
I have encountered this same issue with 1.2.0.Final (using gradle 6). I tried building the current master branch of quarkus and using that, but I the same error manifests itself.

I did, however, find that the gradle extension has a transitive dependency on commons-lang3 version 3.5, via a number of different maven tools. If I add the following line to `./devtools/gradle/build.gradle`:

    implem

[2020-01-27 19:30] dmlloyd commented on #6810
The profile support is agnostic to configuration source, which is to say that the configuration sources themselves have no specific knowledge of profiles.  We implement it by wrapping each config source with a decorator which first queries the delegate configuration source for a profile-specific property value for the given name, and then looks for the profile-agnostic value for the same name.  Ha

[2020-01-27 19:35] dmlloyd commented on #6810
The difficulty with such an approach is that it is not always possible to iterate a directory on the class path, so detecting these files would be difficult.  If however you instead were able to derive the potential file name from the configuration property somehow, perhaps a scheme like this could be used to spread configuration across files in a structured manner.  But there could be performance

[2020-01-27 19:38] sean-scott-lr commented on #820
@hpehl Thanks.  I was trying to get it working myself but not succeeding.  As you can see above I moved a bunch of classes around EPoll to Runtime init... but I have yet to succeed.

[2020-01-27 19:44] geoand commented on #4767
@acoburn can you attach a reproducer using Quarkus master please?

[2020-01-27 21:03] sherl0cks opened #6814 "Support the Concept of @ActiveProfile from Spring CDI"
**Description**
[Spring Profiles](https://www.baeldung.com/spring-profiles) are very different than [Quarkus Profiles](https://quarkus.io/guides/config#configuration-profiles). The former is focused on decomposing your DI config into subsets, and the later is focused on environment specific config properties.

The most useful part of Spring Profiles is the ability to annotate a test with `@ActiveP

[2020-01-27 21:05] rsvoboda commented on #6622
There is https://github.com/quarkusio/quarkus/issues/6766 opened for this use-case

[2020-01-27 21:06] geoand commented on #6814
cc @mkouba @manovotn

[2020-01-27 21:13] genehi commented on #6622
I think that may have been the “primary failure” as that was what I was most interested in when I was debugging.
Glad you were able to reproduce once I provided clearer specifics.
Now I just need to provide a repro on the max-file-size problem.

Which leads me to a question.
I have noticed that we also have these set in our high level minikube configuration:

ENV UTIL_LOG_CONFIG=${CONFIG}/jdk14_lo

[2020-01-27 21:22] dmlloyd commented on #6622
None of these properties or files should affect Quarkus logging.

[2020-01-27 21:55] sberyozkin commented on #6549
@tpenakov Hi, sorry for a delay, and thanks for continuing spending the time on the issue, it is realy appreciated. I'm subscribed but I did not get a single notification...
Well, what do you think with going ahead with a new clean branch against the latest master and starting with a PR supporting Docx format only based on the work you showed me last week, just to move forward step by step, as it

[2020-01-27 22:14] pplr commented on #6501
I reproduced the bug by running quarkus integration tests using this commands:
[code]

[code]

[2020-01-27 22:36] gwenneg commented on #6018
Fixed in GraalVM `19.3.1` which is already supported by Quarkus `1.2.0.Final` and `master`.

[2020-01-27 22:36] #6018 closed

[2020-01-27 22:42] gwenneg commented on #5682
We had many successful JDK 11 native tests runs in CI (using GitHub actions like [this one](https://github.com/quarkusio/quarkus/runs/408265163?check_suite_focus=true)). Native image generation and tests with JDK 11 are therefore fully supported now.

[2020-01-27 22:42] #5682 closed

[2020-01-27 22:43] maxandersen commented on #6801
worth stating here that making hibernate work with graalvm and be superfast to boot up in Quarkus was not a small feat requiring intimidate knowledge about Hibernate. We don't have such knowledge about EclipseLink thus this isn't something we would be able to do without the EclipseLink community/committers driving it.

[2020-01-27 22:50] dmlloyd commented on #5838
https://github.com/quarkusio/quarkus/issues/5691

[2020-01-28 00:04] sherl0cks commented on #6785
Got passed the logging libs issues by adding the logging artifact as top level dep and excluding commons logging from ALL aws deps. Now working to resolve registering for reflecting items around Jackson

@gsmet any feedback if https://github.com/quarkusio/quarkus/pull/4968 will seek to address AWS X Ray? If not, we may be interested to publish an xray extension, cuz getting this bootstrapped is a

[2020-01-28 00:17] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 91784b105eb7476494d562450d45353e702f7ce6

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-28 03:09] jaikiran commented on #5675
Hello @famod,
It shouldn't need wrapping when the command is being run from the Java ProcessBuilder (which is what Quarkus does). I think the reason you needed to wrap them with double quotes is perhaps because you tried to run the command from the command line manually? Running the command from command line manually needs the escaping to prevent the command line from interpreting it differently.

[2020-01-28 03:38] kuzuha opened #6817 "JVM target version miss match when kotlin DevMode"
**Describe the bug**
Kotlin extension doesn't pass jvm-target when re-compile.

Example case is below.
[code]

**Expected behavior**
Kotlin codes are compiled specified version.
Can use new features depends specified version.

**Actual behavior**
Kotlin codes are compiled JVM 1.6.
Compiler rises RuntimeException.

**To Reproduce**
Steps to reproduce the behavior:
1. create java 1.8 project and def

[2020-01-28 04:06] stuartwdouglas commented on #3947
I could reproduce by downgrading to JDK 11.0.1. 11.0.2 and newer do not seem to have this issue.

[2020-01-28 04:06] #3947 closed

[2020-01-28 05:47] cescoffier commented on #6717
Build fixed with:

* Quarkus commit: 91784b105eb7476494d562450d45353e702f7ce6

* Link to build: https://github.com/quarkusio/quarkus/actions

[2020-01-28 06:15] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 91784b105eb7476494d562450d45353e702f7ce6

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-28 06:16] geoand commented on #6588
I am just waiting for the Qute PR to pass CI and this should be fixed

[2020-01-28 06:21] geoand commented on #6817
@kuzuha Thanks for reporting!

@KaenDagger would you like to take a shot at this one?

[2020-01-28 06:47] tpenakov commented on #6549
@sberyozkin - no problem about the clean start with docx only.
I am almost certain that the problems 1 and 2 from my previous post will be present and there too.
I will let you know when I reach at that point.

[2020-01-28 07:39] zeljkot commented on #6427
@cescoffier how to override Kafka connector with in-memory connector? I tried `mp.messaging.incoming.some_topic.connector=smallrye-in-memory` but I got
[code]
It seems there is no `io/smallrye/reactive/messaging/connector/InMemoryConnector.java` class in in                     quarkus-smallrye-reactive-messaging*.

[2020-01-28 07:48] jmartisk opened #6819 "Stereotypes are not taken into account when placed on methods"
This doesn't work:
[code]

[code]

[code]
The `LoggingInterceptor` will only get applied after I move the `@Logged` annotation from `methodA` to class level.

[2020-01-28 07:48] jmartisk commented on #6819
CC @mkouba @manovotn

[2020-01-28 07:51] mkouba commented on #6819
This should not work. Stereotypes can only be applied to a bean definition (bean class, producers). See https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#declaring_stereotypes for more information.

[2020-01-28 07:51] #6819 closed

[2020-01-28 07:56] jmartisk commented on #6819
Ha! You're right. I was being too quick, apologies.
Anyway, perhaps could we detect this and throw a `javax.enterprise.inject.spi.DefinitionException` if a stereotype is applied to non-producer method? I think this would fall under

[2020-01-28 08:00] mkouba commented on #6819
No problem at all!

Good point. ArC does a lot less validation than for example Weld. But we should improve this little by little. For the record - this validation is not even required by the spec ;-).

[2020-01-28 08:03] jmartisk commented on #6819
Ok, I'll have a look and come up with a PR

[2020-01-28 08:11] mkouba commented on #6814
I like the idea but there are some problems we would need to resolve first:

1. Our DI is build-time oriented, ie. **injection points are resolved/validate at build time**. And the applications is only built/started once for the whole test suite. In other words, currently we can't activate a different "DI profile" per `@QuarkusTest`.
2. We would have to (1) merge this feature with "Configuration P

[2020-01-28 09:06] mkouba commented on #6369
FYI we already support a bit more complex expressions in 1.2.0, for example:
* `{#if !item.active || (item.sold && item.price == 100)}`
* `{#if item.age > 10 && item.price > 500}`
* `{#if (item.age > 10 || item.price > 500) && user.loggedIn}`

[2020-01-28 09:12] Sanne commented on #6801
I don't think we'll be able to do this: getting Hibernate ORM to work fine was a massive amount of work, and it's not econimically wise to spend the same effort on another project which would essentially provide the same / very similar feature.

Sorry but I'll close this, anyone feel free to do this outside of the Quarkus repository.

Is there any specific reason you need EclipseLink and couldn't

[2020-01-28 09:19] Sanne commented on #2933
@gsmet should we close this one and create more specific issues?

I don't plan to make most options "runtime", that goes against both feasibility and optimisations, but I guess we'd need to discuss specific options and the impact they would have.

[2020-01-28 09:21] Sanne commented on #3075
hi @gunnarmorling , I like your proposal. "extended" is nice, and we could add it to the existing booleans, making it a smooth upgrade.

Are you going to send a PR?

[2020-01-28 09:50] rvansa commented on #6807
@sberyozkin Thanks, the 2 endpoints would be viable, though it's a bit PITA to have a switch in frontend.

[2020-01-28 10:14] cescoffier commented on #6427
Yes, it's not released yet.

[2020-01-28 10:15] manovotn commented on #6814
I've see the Zulip discussion yesterday.
In pure CDI you usually deal with this via alternatives enabled only in test environments (which basically allows you to mock whichever beans you want to). Here, you would need a combination of `@DefaultBean` and then another impl in the test itself. For smaller apps that would work but if you have something huge, it can see how this becomes a pain.

I agre

[2020-01-28 10:16] sberyozkin commented on #6807
@rvansa I meant a single JAX-RS endpoint with 2 resource methods. Sorry, not sure I understand the concern. Are you saying you have a path like "/a" which both the anonymous users can freely access while at the same time some users may be required to authenticate first before accessing it ? In this case the latter requirement would never be enforceable because anyone can get to this resource publi

[2020-01-28 10:19] #6751 closed

[2020-01-28 10:40] sberyozkin commented on #6549
@tpenakov Yes, sounds good, lets get docx only working for the moment, I'm sure we will make it work :-)

[2020-01-28 10:42] #6561 closed

[2020-01-28 10:55] mkouba opened #6823 "Log a warning if a user attempts to set a build-time property at runtime"
Current state: it's a no-op if a user attempts to set a build-time property by a system property or an env variable.

We should probably log a warning if a user attempts to set a quarkus BUILD_TIME property at runtime. The impl could be straightforward: (1) store the names of all build-time props in the generated config class and (2) when the app starts iterate over all quarkus-related system prop

[2020-01-28 11:11] cmoulliard commented on #6736
@maxandersen Do you agree to use the following `Dockerfile` to build the Quarkus offline repo
[code]

[2020-01-28 11:28] mkouba commented on #6814
In that case the injection points would have to declare the qualifier as well...

[2020-01-28 11:41] asoldano commented on #6738
The response is perfectly fine from a pure RESTEasy PoV. Perhaps Quarkus can try being smart here and note the user is willing to use json but none of the component meant to be used for that are in place.

[2020-01-28 11:45] manovotn commented on #6814
Not sure I follow.., the typesafe resolution says the bean is assignable if it has all the qualifiers that the injection point requires. Surplus qualifiers don't matter - just like we handle it with `@Any` which is on every bean, yet you rarely use that on an injection point. Or am I missing something?

[2020-01-28 11:53] mkouba commented on #6814
Well, if an injection point has no qualifier then it's defaulted -> `@Default` and all beans that have this qualifier are eligible. Therefore, if you have a bean with qualifier `@Profile("foo")` it is not eligible for this injection point.

Indeed, because very often this would result in an ambiguous exception if multiple beans of the given type exist. It's mostly used for `@Inject Instance<>`...

[2020-01-28 11:58] manovotn commented on #6814
Aah, I see what you mean! That's a fair point, I forgot about default...
We'd have to add `@Default` even if there was `@Profile`, effectively making `@Profile` "invisible" for resolution. At which point we might as well not have it as qualifiers but instead as usual annotation that we check for and based on its value we either generate that bean's metadata or we don't.

[2020-01-28 11:59] zeljkot commented on #6427
Do you have a rough estimate when it will be released?

[2020-01-28 12:13] sberyozkin commented on #6781
@patoessy I have opened #6825 which, once merged, will close this issue. It uses a no-argument `sign` method which `innerSign()` delegates to. I've also confirmed locally that if I try `innerSign()` and comment out `smallrye.jwt.sign.key-location` then the error you reported will be indeed reported.
May be there was a typo in the property name, can you check please ? You may also want to tryu agai

[2020-01-28 12:16] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 76fcdc4b8e6c113c53bb55f965a116afdee5290a

* Quickstarts commit: 55715825478bbc251df8faa2e6553827d1eb23da

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-28 12:25] serranisimo commented on #2176
I built an applictaion based on the same tutorial and have a very similar Problem. The application functions correctly when the type being returned by the resource is primitive (e.g. String). As soon as I work with objects the same problem occurs: **"Failed to write event org.jboss.resteasy.plugins.providers.sse.OutboundSseEventImpl@51eb8c1b: javax.ws.rs.ServerErrorException: RESTEASY004082: No su

[2020-01-28 12:26] lordofthejars opened #6826 "Kubernetes Extension and Secrets generates incorrect deployment file."
**Describe the bug**

When trying to configure the generation of Kubernetes deployment file with secrets as volume, it ignores the properties.

**Expected behavior**

File should be generated correctly.

**Actual behavior**

Defaults are used instead of the configured ones.

**To Reproduce**

[code]

The generated YAML file is:

[code]

Notice that readOnly configuration is ignored as well as secr

[2020-01-28 12:50] dmlloyd commented on #6823
The reason we did not do this is that the `application.properties` (including build properties) ends up in the application one way or another, and the build time property values are recorded as defaults.  So you'd always get a warning (because the properties are always present), unless the implementation were to only warn when the value is different than the expected value.

Since we record all th

[2020-01-28 12:52] Ladicek opened #6827 "Kubernetes: wrong .jar file name in JAVA_APP_JAR env var (for OpenShift)"
**Describe the bug**

The `JAVA_APP_JAR` environment variable, which the OpenShift Java images use to know which JAR they should run, is generated wrongly.

Dekorate generates this env var here: https://github.com/dekorateio/dekorate/blob/master/annotations/openshift-annotations/src/main/java/io/dekorate/openshift/handler/OpenshiftHandler.java#L200

From that code, it is apparent that Dekorate tri

[2020-01-28 12:52] Ladicek commented on #6827
CC @iocanel

[2020-01-28 13:07] iocanel commented on #6827
@Ladicek: This is a known issue and it should be fixed on master.

[2020-01-28 13:10] mkouba commented on #6823
Well, I was thinking of a pretty simple solution - just iterate over all system properties and env variables and iff they're from the quarkus namespace (`quarkus.` and `QUARKUS_`) and the property name matches a build-time property name (e.g. `-Dquarkus.datasource.health.enabled=false`) -> WARNING. Of course, this assumes that it's easy to obtain a list of built-time properties...

BTW it seems th

[2020-01-28 13:21] FroMage commented on #6823
Do we have any build-time property that can be overriden at run-time? We already mark build/run properties (they have a different icon).

[2020-01-28 13:22] mkouba commented on #6823
@FroMage aha, I see. Well, I did not notice there is a different icon at all! And of course, a build-time property cannot be overriden at runtime...

[2020-01-28 13:38] manovotn opened #6828 "All Arc build items should have at least some javadoc"
Given some feedback from a Quarkus extension workshop me and @mkouba did recently, it turns out that one if the biggest problems is that people don't really know what build items to use. And even if they find them, many of them don't have any javadoc whatsoever.

I'll go ahead and do this for Arc.

[2020-01-28 13:39] Ladicek commented on #6827
I'm pretty sure I'm testing with Quarkus `master`. I'll try again.

[2020-01-28 13:40] mkouba commented on #6828
Just add some generated lorem ipsum and we're done :D.

[2020-01-28 13:41] iocanel commented on #6827
Damn! I thought I deleted my comment in time!
So, I fixed a similar issue recently, but upon closer inspection this seems different.

[2020-01-28 13:43] AmsterdamFilho commented on #6770
I just built quarkus using the master version, but still getting the error. I am using the transaction annotation, though.

[2020-01-28 13:46] geoand commented on #3954
So based on a suggestion from @gsmet when registering `kotlin.Metadata` from reflection, the process gets further but still fails. The latest error is:

[code]

[2020-01-28 14:07] Ladicek commented on #6827
:-)

I've just tested with Quarkus `999-SNAPSHOT` built from `76fcdc4b8e6c113c53bb55f965a116afdee5290a`, and the problem remains.

[2020-01-28 14:14] Sanne commented on #5706
Closing as this is out of date - and out of sync with further evolutions.

[2020-01-28 14:14] #5706 closed

[2020-01-28 14:17] tellisnz-shift commented on #3954
I got to this point as well and couldn't figure out a way to register kotlin.Any, when i tried using a reflect-config.json the native image builder says it's not on the classpath, but the stdlib jar is there. I kinda guessed this is because of some magic where kotlin.Any isn't a real class and somehow maps to java.lang.Object?

[2020-01-28 14:27] svilenvul commented on #6764
Is it possible to have a 1.2.1 release including this fix?
This is really blocking us now to use Quarkus in our project.

[2020-01-28 14:31] geoand commented on #3954
@tellisnz-shift I also tried registering `Kotlin.Any` without success. I am knowledgeable of the Kotlin internals so I don't have a path forward for the time being.
I'll try and contact the Kotlin folks and see if I get any info

[2020-01-28 14:56] gsmet commented on #6770
@AmsterdamFilho can you come up with a small reproducer with the `@Transactional` annotation?

[2020-01-28 15:07] mkouba opened #6831 "Document how to enable DEBUG logging for @QuarkusTest"
I've tried to set system properties in `applications.properties` and for the `maven-surefire-plugin` with no success.

[2020-01-28 15:25] tsegismont commented on #6321
@iabughosh it seems similar issues have been filed for other modules, I'm trying to determine if it can be fixed the same way. In the meantime, could you please post a minimal reproducer? Thank you

[2020-01-28 15:44] tsegismont commented on #6321
@iabughosh can you also try to add `SunRsaSign` provider in the app config file:

[code]

See https://quarkus.io/guides/security#registering-security-providers

[2020-01-28 15:45] AmsterdamFilho opened #6832 "Panache entity is not updated if it exists in different module"
**Description**
When there is a panache entity in a different module, if it is fetched and changed, Quarkus will not update it in the database and won't throw any Exceptions. It seems like it does not know an attribute changed and a merge is required.

**Expected behaviour**
The entity changes should be persisted.

**Actual behavior**
The entity changes are not persisted.

**To Reproduce**
A very

[2020-01-28 15:47] AmsterdamFilho commented on #6770
@gsmet Sure. It is available at https://github.com/AmsterdamFilho/quarkus-poc

[2020-01-28 15:59] Ladicek opened #6833 "Kubernetes: liveness and readiness probes ignore the `quarkus.http.root-path` setting"
**Describe the bug**

When I configure `quarkus.http.root-path`, the `/health` endpoint is moved under it (as well as `/metrics`, but that is irrelevant here). That seems to be intentional, per https://github.com/quarkusio/quarkus/issues/3745. The generated Kubernetes probes don't reflect that, however.

**Expected behavior**

Autogenerated liveness and readiness probes point to the real health en

[2020-01-28 15:59] KaenDagger commented on #6817
Looks like kuzuha has already done the job !

[2020-01-28 15:59] Ladicek commented on #6833
CC @iocanel

[2020-01-28 16:00] geoand commented on #6817
Yup :)

[2020-01-28 16:22] lordofthejars opened #6834 "Add serviceaccountname property for Kubernetes extension"
**Description**

`serviceaccountname` cannot be set in Kubernetes extension.

**Implementation ideas**

`serviceaccount` and `serviceaccountname` cannot be set in Kubernetes extension and it should be possible:

[code]

This is really important for Vault extension for using the Kubernetes Auth method.

[2020-01-28 16:32] sherl0cks commented on #6814
Merging with the existing quarkus profiles concept makes sense to me. A user on Zulip was using the profiles manager to get the current profile and use it to drive a switch statement in a dynamic producer method, so there there is evidence users already come to this conclusion.

it seems to me that the core issue here is that @QuarkusTest MUST spin up the whole context and there is no notion of mu

[2020-01-28 16:35] acoburn commented on #4767
In attempting to create a minimal reproducer, I found that the issue seems to have been caused by an interaction with an unrelated gradle plugin. Upgrading that plugin seemed to resolve the issue, so I don't think anything needs to be changed on the quarkus side.

[2020-01-28 16:38] geoand commented on #4767
OK, thanks a lot!

[2020-01-28 16:47] acoburn commented on #5781
Using this formulation:
[code]
works with version 1.2.0.

[2020-01-28 16:47] #5781 closed

[2020-01-28 17:47] JohT commented on #3449
Since this is solved, i'll close this issue.

[2020-01-28 17:47] #3449 closed

[2020-01-28 17:48] sherl0cks commented on #6618
I had some issues resolving the right libs and could not build. I'm not able to provide an update on this, as I've changed my config and no longer have a reproducer.

[2020-01-28 17:58] patoessy commented on #6781
Hello @sberyozkin , today it worked. I don't know how. But I recently discoved I was using 1.2.0.RC1 which hard the fuature already merged. Lemme test with encrypting the JWT token. Thanks. I have looked at #6825 and its really impressive.

[2020-01-28 18:00] patoessy commented on #6781
Guide me on how to update the documentation maybe I can try and contribute on that too.

[2020-01-28 18:10] galderz commented on #6685
Full stacktrace:

[code]

[2020-01-28 18:14] sberyozkin commented on #6781
@patoessy Hi, thanks for already trying this API, and no problems, it is good to have it checked as part of the Quarkus build anyway.
Re the docs, right now it is in the design verification phase, I'm doing some more fixes in the `smalrye-jwt` library, we may also prepare a submission around it, so I'd like to be as clean as possible before documenting it for Quarkus users. I can prepare some init

[2020-01-28 18:15] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 76fcdc4b8e6c113c53bb55f965a116afdee5290a

* Quickstarts commit: 55715825478bbc251df8faa2e6553827d1eb23da

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-28 18:21] dmlloyd commented on #6685
This part right here:

[code]

indicates a SVM bug.  `Package.getAnnotations` should either itself be considered unsupported, or else it should be fixed along the lines of other methods which allow the gathering of annotations.  We need an upstream Graal issue for this (if one hasn't already been opened).

[2020-01-28 18:24] florent-lb commented on #6832
Hi  AmsterdamFilho ,

I solved your problem on adding a Setter on name. I think the modification on the property is not inspected but the setter do.

It's precise in the guide : https://quarkus.io/guides/hibernate-orm-panache#defining-your-entity

[2020-01-28 18:29] famod commented on #5675
Hi @jaikiran,

Well, yes and no. When I simply took the printed command and ran it directly on the Windows command line I received the _very same error message_ as via `quarkus-maven-plugin`.
This in combination with the GraalVM warning `Warning: the '=' character in program arguments is not fully supported.` got me thinking whether it needed _additional_ quotation and that indeed fixed it for me.

[2020-01-28 18:36] patoessy commented on #6781
Cheer @sberyozkin. Thanks

[2020-01-28 18:36] sberyozkin opened #6836 "Provide an OIDC token expiry grace period property"
**Description**
Vertx Oauth2ClientOptions has a `JwtOptions` property which can be used to configure a `leeway` property which is an expiry grace period.

[2020-01-28 18:42] AmsterdamFilho commented on #6832
The same code works if the entity is not in an external module. I thought that under the hood the accessors were always being created an invoked. The need to write accessors would only exist for some customisation, like returning the attribute as upper case like the example showed.

[2020-01-28 18:46] AmsterdamFilho commented on #6832
And thanks for the help by the way. I just thought that this was unexpected behaviour that needed to be fixed.

[2020-01-28 19:45] sherl0cks commented on #6785
Got reflection working, and we've run into what appears to be a more fundamental issue. At runtime, everything boots up correctly, but when tracing should begin, we get the following:
`WARN  [com.ama.xra.con.LambdaSegmentContext] (Lambda Thread) _X_AMZN_TRACE_ID is missing a trace ID, parent ID, or sampling decision. Subsegment S3 discarded.`

It appears the root cause here is that [AWS Lambda Cus

[2020-01-28 19:55] galderz commented on #6685
@dmlloyd I'll open an issue

[2020-01-28 20:04] sherl0cks commented on #6785
@patriot1burke ☝️ given you wrote most of that lambda extension that handles these concerns and may have some thoughts on this.

[2020-01-28 20:15] dudash commented on #3905
+1

The API first approach here would be a really nice way to use Quarkus:
https://developers.redhat.com/blog/2019/01/14/building-a-node-js-service-using-the-api-first-approach/

Right now I'm in the process of building a new CRUD API service. I defined it using Apicurio and then I bootstrapped a Quarkus service (with Smallrye-OpenAPI and MongoDB-w-Panache). Now I'm adding the code based on my API

[2020-01-28 22:44] genehi commented on #6622
I have this question posted on StackOverflow.
Do you have any resolution or answer???

https://stackoverflow.com/questions/59833534/how-to-set-maxwebsocketframesize

Sorry for “hijacking” my other subject 😊

[2020-01-28 22:52] maxandersen commented on #6736
looks fine - i assume the pom.xml is a pom listing all "root" dependencies?

[2020-01-29 00:16] gwenneg commented on #6800
Hi @pschyma and thanks for reporting this!

This issue is caused by the ASM version (ASM5) used in [PersistentAttributeTransformer](https://github.com/hibernate/hibernate-orm/blob/master/hibernate-core/src/main/java/org/hibernate/bytecode/enhance/internal/bytebuddy/PersistentAttributeTransformer.java#L137) which is part of Hibernate. The ASM version used in Quarkus expects `ASM7` instead of `ASM5`

[2020-01-29 00:20] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 4c5d8fc33ac8e8299ffab577cda4ef6e7d6b7174

* Quickstarts commit: 55715825478bbc251df8faa2e6553827d1eb23da

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-29 00:48] jean-merelis opened #6842 "OIDC and smallrye-jwt are unable to get groups from custom claims like "https://example.com/roles""
**Describe the bug**
Auth0 only allows adding custom claims to accessToken with a namespaced format, such as "https://example.com/roles": ["user", "admin"]
As documented at  https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims#custom-claims

Quarkus-oidc and smallrye-token fail to get the value of this custom claim.
As workaround I added these roles in the scope attribute.

**Exp

[2020-01-29 04:34] aaronanderson commented on #5809
Thanks @stuartwdouglas, I applied the commit patch to 1.2.0.Final and now both proxy address forwarding, OIDC, and GraphQL are all working together in my application that is behind a loadbalancer and deployed in the Cloud.

[2020-01-29 06:16] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 6705a0d5a85523557e555b7fb96fddb5b7c537de

* Quickstarts commit: 55715825478bbc251df8faa2e6553827d1eb23da

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-29 06:25] cescoffier commented on #6723
Build fixed with:

* Quarkus commit: 4c5d8fc33ac8e8299ffab577cda4ef6e7d6b7174

* Link to build: https://github.com/quarkusio/quarkus/actions

[2020-01-29 07:14] jiki974 opened #6846 "Please update building native image documentation for the multistage example"
Please update building native image documentation for the multistage example.

The documentation is generated by using {graalvm-version}
FROM quay.io/quarkus/centos-quarkus-maven:{graalvm-version} AS build

Here the raw file  :
https://github.com/quarkusio/quarkus/blob/afbb686605d8be14fa93c8bb05c9e2be748decf0/docs/src/main/asciidoc/building-native-image.adoc

But currently there are muliple versio

[2020-01-29 07:22] fcracker79 opened #6847 "No instances of sun.security.provider.NativePRNG are allowed in the image heap"
**Describe the bug**
I am implementing a Quarkus Native AWS Lambda.
I need to import an HTTP client in the project (I tried OKHTTP and Apache HTTP Client with the same outcome).
When compiling, I receive the error: `No instances of sun.security.provider.NativePRNG are allowed in the image heap`.
The same problem does not occur if I remove the dependency and usage of the HTTP client.
I tried using

[2020-01-29 07:25] emmanuelbernard commented on #6801
I am reopening this issue to let everyone vote for interest. And also see if someone is willing to implement an eclipse link extension.
The existing contributors will not spend time on it though for the reasons stated above. This is going to be significant work on both eclipse link and the extension itself.
It will also likely require extra work in how Quarkus handles JPA providers.

I don’t think

[2020-01-29 07:52] mkouba opened #6848 "Data caching - use the FQCN of the bean class as the default cache name"
I know there was a long discussion about this topic in https://github.com/quarkusio/quarkus/issues/3306. However, I believe that the current API is not very user-friendly. In my opinion, it makes sense to use the FQCN of the bean class as the default cache name for all annotations.

1. It probably makes a lot of sense to use one cache per component by default. In our case, we're annotating busines

[2020-01-29 07:54] mkouba commented on #3306
FYI I've created https://github.com/quarkusio/quarkus/issues/6848 because I believe that the cache name should be defaulted.

[2020-01-29 08:18] mkouba commented on #6814
Would you care to send a PR? ;-)

[2020-01-29 08:19] gwenneg commented on #6848
If we agree on doing this, I already have the code ready on a branch since it was part of the original version of the extension during the development phase.

[2020-01-29 08:25] mkouba commented on #6848
@emmanuelbernard @Sanne @galderz and your opinion gentlemen?

[2020-01-29 08:48] sherl0cks commented on #6814
@mkouba I'd love to, but unclear when I could make it a priority. I’ll circle back on this next week.

[2020-01-29 08:51] serranisimo opened #6849 "JAX-RS Resource with Kafka Topic injection - Message body writer not found"
I built an applictaion based on the tutorial https://quarkus.io/guides/kafka. The problem takes place with the json binding. The application functions correctly when the type being returned by the resource is `Publisher<String>` or `Publisher<double>.` In case of a POJO, e.g. `Publisher<Fruit>,` the error occurs: "Failed to write event org.jboss.resteasy.plugins.providers.sse.OutboundSseEventImpl@

[2020-01-29 08:54] TheVidAllMayThe commented on #6742
@loicmathieu Thanks for the suggestions! The section in the guide would certainly be helpful!

[2020-01-29 09:04] Sanne commented on #6848
@mkouba no please don't do this yet, we discussed this extensively during the design. Please check the previous discussions?

We intentionally would prefer to have some "bake time" while requiring the cache name: the strategy to choose a name correctly is controversial, and it's much easier to evolve the API by making a requirement attribute no longer required, than changing the defaults.

[2020-01-29 09:04] #6848 closed

[2020-01-29 09:07] Sanne commented on #6801
Well ok I'm not against having more comments. But if you agree it doesn't belong in this repository, then we'll need a way to not have such issues get stale here either.

For the record, if anyone wants to try getting EclipseLink to work: my main concern is that you'll have to know its internals very well, and likely contribute some rather invasive patches to the project to get it to work in _nati

[2020-01-29 09:21] Maralbas commented on #6751
You closed the issue. Did you found out the solution?

I am having a similar problem and would like to know how did you solve it.

Thank you

[2020-01-29 09:23] aneveux commented on #6751
Hello :)

I didn't solve the issue, but figured out the problem was also occuring with the Java examples. I tried on another PC, and looks like the combo: latest Java version + latest IntelliJ version with Quarkus 1.1.1.Final leads to tests failing in IntelliJ (but not in Maven).

Since it's apparently not related to Kotlin, I thought I'd close the issue to avoid misleading report.

[2020-01-29 09:28] TheVidAllMayThe commented on #6566
@loicmathieu I don't think this was properly fixed. In version 1.2.0.Final, when I do `list("{endAt : { \$lte : ISODate(?1) }}", time)` which works on 1.1.1.Final I get:

`(QuarkusQuartzScheduler_Worker-1) {endAt : { $lt : ISODate('2020-01-29T09:17:32.521') }}`
`org.bson.json.JsonParseException: Invalid date format.`

And same with `list("endAt < ?1", time)`

The problem seems to be on the missing

[2020-01-29 09:35] andreas-eberle commented on #6722
I also experience this and it is quite a pain. Is there some way I could help debugging this issue?

[2020-01-29 09:35] #6827 closed

[2020-01-29 09:40] mkouba commented on #6848
I did check the previous discussions and I did not find a reasonable argument not to do this (of course  from my POV).

I understand this point. What I don't understand is why to close this issue now? It's still IMHO a valid feature request.

[2020-01-29 09:40] #6781 closed

[2020-01-29 09:54] ge0ffrey commented on #5630
@dmlloyd The unsafe cast doesn't fail. In quarkus deployment, asSubClass doesn't return `this`, like it does in normal JDK. That's because Class is being proxied and does something else than `return this`, which it should be doing.

[2020-01-29 09:56] loicmathieu commented on #6566
@TheVidAllMayThe I reopen the issue, will have a look next week

[2020-01-29 10:06] jmkgreen commented on #6701
Reproduced on Windows with stock archetype generated project, found this issue as result.

[2020-01-29 10:07] sberyozkin commented on #6781
@patoessy re the documentation in general, the current `smallrye-jwt` guide is [here](https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/security-jwt.adoc).

[2020-01-29 10:17] geoand commented on #6849
I am pretty sure that when you using SSE you have to return `Publisher<String>`. Am I right @FroMage ?

[2020-01-29 10:18] geoand commented on #6846
@jiki974 Thanks for reporting!

Would you like to submit a Pull Request to update the documentation?

Thanks

[2020-01-29 10:24] Sanne commented on #6848
The reason is I see often PR's being merged too quickly so I prefer issues to be closed when there's no consensus yet.

Primarily there is no consensus on the FQCN being the right name. We need to discuss that first; if you want to re-purpose this issue feel free to change its title and reopen; IMO a new "clean" issue would be better.

[2020-01-29 10:26] Sanne commented on #6848
To be more precise, in this specific case there was explicit consensus about not doing this yet, so it shouldn't be done.

[2020-01-29 10:30] serranisimo commented on #6849
You might be right, but I just copied that from the tutorial so I assumed that should be possible.
See: https://quarkus.io/guides/kafka#sending-json-server-sent-events-sse

[2020-01-29 10:35] FroMage commented on #6849
No, it should work, and I know exactly what this bug is caused by: we scan `@Produces` to register only the body writers that are used, and we don't scan `@SseElementType` while we should.

I get adding this (unused endpoint) will make your app work:

[code]

It will also probably work if you add `@Produces(MediaType.APPLICATION_JSON)` to your endpoint class, because in both cases it will trigger

[2020-01-29 10:53] #6709 closed

[2020-01-29 10:54] lburgazzoli opened #6852 "BOMs from the same workspace are not interpolated in dev mode"
**Describe the bug**
I'm trying to automate the process to build against quarkus snapshots to spot issues compatibility issues for camel-quarkus and I'm using the following maven command:

    ./mvnw clean install -Dquarkus.version=999-SNAPSHOT -Poss-snapshots

**Expected behavior**
The project should be compiled against quarkus snapshots

**Actual behavior**

The build fails because of the follow

[2020-01-29 10:55] serranisimo commented on #6849
thank you very much for the quick response. I have been going crazy over this the last few days. I will try the fix out later.

ps.: I see I made a mistake in the description of my bug. I meant that it works with Publisher<double> and Publisher<String> but not with Publisher<fruit> . sorry for the confusion

[2020-01-29 10:56] gsmet commented on #6852
/cc @aloubyansky

[2020-01-29 10:56] emmanuelbernard commented on #6848
So far I am of the opinion that an explicit name simplifies a lot the user
experience vs being surprised by arbitrary default. It also makes the
choice explicit to the user so the decision to share or not is obvious.

To me default is not a feature we should have. Unless to many people
complain with arguments.

On Wed 29 Jan 2020 at 10:41, Martin Kouba <notifications@github.com> wrote:

[2020-01-29 11:00] gsmet commented on #6849
@ia3andy this would be a good starting point for you. The hard part will be to get a proper test case, then you need to tune the provider resolution.

[2020-01-29 11:01] iocanel commented on #6799
@maxandersen: I can no longer reproduce it on master. Can you please verify?

[2020-01-29 11:02] iocanel commented on #6799
Also, added an integration test for that. The test overrides the value found in application.properties via system.properties (due to maven invoker plugin limitations). And it seems to work fine.

[2020-01-29 11:11] gsmet commented on #6849
@FroMage

That's not true. It might be flawed but we have something for it: https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java#L334 .

We need to understand why it's not working properly in this case.

[2020-01-29 11:18] gsmet commented on #6847
Why don't you use our REST client extension? See https://quarkus.io/guides/rest-client .

Because if you don't you will need to do the work we already did there and add the necessary GraalVM tweaks to get the Apache HTTP client working in native mode.

[2020-01-29 11:21] gsmet commented on #6786
@SR-Lut3t1um Hmmm, your issue doesn't look like a Quarkus issue? More like Gradle not supporting Java 14 yet. Or am I wrong?

[2020-01-29 11:21] sberyozkin commented on #6842
@jean-merelis thanks, a `smallrye-jwt` [issue](https://github.com/smallrye/smallrye-jwt/issues/164) already exists so the fix will be in the next `smallrye-jwt` release, and I'll get the `quarkus-oidc` updated too

[2020-01-29 11:27] mkouba commented on #6848
experience...

@emmanuelbernard I personally like the "resonable defaults" approach and I'm quite sure we use it all over the quarkus codebase. In this particular case, those annotations are used to apply caching to the business methods of a CDI bean and hence my argument with "single cache per component by default".

@Sanne Well, this is not a PR and I didn't find a tracking issue for this topic.

[2020-01-29 11:28] sberyozkin opened #6853 "OIDC relative redirect-path property should not be tied in to the current relative request path"
**Description**
`redirect-path` works only if it is confirmed to be part of the request URI, example, given `https://host:8080/admin/1` and a redirect path `/admin`, the code flow `redirect_uri` parameter will become `https://host:8080/admin`. It does not work if it is set to some sibling path like `callback` in which case `redirect_uri` should become `https://host:8080/callback`.

[2020-01-29 11:28] gsmet commented on #6770
@AmsterdamFilho I have a test failure with your POC but no warnings.

[code]

[2020-01-29 11:35] Sanne commented on #6848
@mkouba we all like to default to "reasonable defaults" but there's an exception which is when an unexpected default might result in wrong data being returned "sneakily"

The problem in this case is that there might be a different expectation in how an explicit eviction request actually affects the right caches, nukes the right data. Failing to do so will lead into dangerous data inconsistencies.

[2020-01-29 11:36] stefanorg commented on #6853
:+1:

[2020-01-29 11:37] stefanorg commented on #6853
i would like to point out that the documentation say that:
[code]
see: https://quarkus.io/guides/security-openid-connect-web-authentication#quarkus-oidc_quarkus.oidc.authentication.redirect-path

[2020-01-29 11:38] Sanne commented on #6848
One more concern is that I suspect it's very unlikely for people to notice inconsistencies in caching eviction strategies during testing; such a mistake is likely only noticed at scale in a production environment or a reproduction of production load - even then, it's going to be hard to figure out the root cause.

If we stick to our plan I'm confident that while people might be wondering why the a

[2020-01-29 11:43] AmsterdamFilho commented on #6770
The test is related to issue #6832 mentioned in the README.
To see the warning just run the Application in any mode and execute the post endpoint. The entity is persisted and the undesired warning appears in the log.

[2020-01-29 12:02] gsmet commented on #6832
We are rewriting the public fields access in the bytecode to point to the getter that has everything to deal with dirty checking.

Looks like something is wrong in your case.

[2020-01-29 12:08] gsmet commented on #6832
/cc @Sanne @stuartwdouglas this is an interesting issue. I'm not sure how we could get the service that is here https://github.com/AmsterdamFilho/quarkus-poc/blob/master/modules/animal-module/src/main/java/br/com/quarkus/poc/AnimalService.java properly instrumented.

One option would be to use the Hibernate ORM Maven plugin to do so. That would be quite ugly but I'm not sure we can get Quarkus to

[2020-01-29 12:13] KaenDagger opened #6855 "[Testing] Testing for Quarkus-allopen kotlin compiler plugin"
- Locally install the compiler-plugin into local maven repository from here https://github.com/KaenDagger/quarkus-allopen

### Testing for Maven
- go to `integration-tests/kotlin/src/test/resources/projects/classic-kotlin/pom.xml`
- Inside `kotlin-maven-plugin` block change kotlin-allopen to quarkus-allopen like this
  From
[code]
  To
[code]
- For custom annotaions. add your annotaions like this

[2020-01-29 12:13] KaenDagger commented on #6855
cc @geoand

[2020-01-29 12:14] geoand commented on #6855
Thanks @KaenDagger.

@ia3andy, @gastaldi would you like to take a look at what @KaenDagger has done?

I'll probably take a look as well the following days

[2020-01-29 12:20] gastaldi commented on #6855
The gradle plugin is missing the `io`. It should read `id 'io.quarkus.allopen'`

[2020-01-29 12:26] mkouba commented on #6848
I'm not an expert in this area so although I disagree I respect the consensus ;-).

That's a good point.

[2020-01-29 12:28] KaenDagger commented on #6855
We could change the name later. Its not necessary for working

[2020-01-29 12:35] geoand commented on #6855
Probably not needed for testing, but I think @gastaldi means that it will be needed when we release it to the gradle portal

[2020-01-29 12:36] KaenDagger commented on #6855
Sure, I would take care of it.

[2020-01-29 12:42] xstefank commented on #3745
From a Health perspective, this is not specified in the spec. I think that we need to take this on MP architecture call as this would concern also OpenAPI in addition to Health and Metrics. I am thinking that if we write a TCK for the respecting context roots then not all runtimes would be able to pass.

[2020-01-29 12:54] mkouba opened #6858 "ArC - support @TransientReference"
See https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#dependent_destruction for more information.

[2020-01-29 12:59] FroMage commented on #6849
Huh, then I'm wrong, but it's less obvious what the problem could be.

[2020-01-29 13:31] dmlloyd commented on #5630
You cannot proxy `Class` AFAIK?

[2020-01-29 13:46] rsvoboda opened #6860 "Quarkus is not following MP Health spec to disable vendor procedures"
http://download.eclipse.org/microprofile/microprofile-health-2.1/microprofile-health-spec.html#_disabling_default_vendor_procedures states

When using Quarkus specific `quarkus.health.extensions.enabled=false` (specified in application.properties) I'm able to suppress vendor specific checks.
[code]

When using MP Health specific `mp.health.disable-default-procedures=true` (specified in application

[2020-01-29 13:49] gsmet commented on #6860
/cc @kenfinnigan

[2020-01-29 13:53] serranisimo commented on #6849
@FroMage , I tried both workarounds but unfortunately  the error persists

[2020-01-29 13:54] jmartisk commented on #6860
As the newly appointed Health liaison, I will have a look into that tomorrow, unless someone else really wants to do it :)

[2020-01-29 13:58] Sanne commented on #6832
I'm not understanding @gsmet , why would you use the ORM enhancer on the service? Isn't it rather missing the Panache related enhancements?

cc/ @FroMage

[2020-01-29 14:03] gsmet commented on #6832
No, it's missing the fact that we rewrite all public accessor to fields by setters calls.

I think it's called extended enhancement in Hibernate ORM and that's ORM doing that? Or am I mistaken and has it been moved to Panache?

[2020-01-29 14:08] FroMage commented on #6849
OK, in that case I was all wrong. Next possible culprit is a loss of RESTEasy context. Can you try with a fixed stream of `Fruit` instead of making them come via the channel?

[2020-01-29 14:11] gsmet commented on #6860
What I'm a bit worried about is how we will make all those mp.* config working with our configuration framework (typically the build time/runtime separation for instance).

We have that in a lot of extensions (Reactive Messaging, I'm looking at you) and it's not very pretty.

I'm not sure how we can properly deal with that.

[2020-01-29 14:14] xstefank commented on #6860
We haven't run into this problem before so sorry that we didn't implement itit. But can we, for instance, introduce additional annotation in SmallRye that would mark vendor-provided health checks? This would help also with SmallRye inclusion in other runtimes.

[2020-01-29 14:14] FroMage commented on #6832
ORM can do that, but in Quarkus it doesn't and Panache does it.

If there is an unenhanced service class that uses the entity fields it will break indeed.

So it looks like we're enhancing imported entities, but not imported users of the entities. That's rather inconvenient. Perhaps we should be enhancing the entity and its users in the other module ahead of time?

Or we could add a way to tell Qu

[2020-01-29 14:19] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: d0029637ffbcf186456d47b90e95fe93259c099c

* Quickstarts commit: 55715825478bbc251df8faa2e6553827d1eb23da

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-29 14:24] serranisimo commented on #6849
Do you mean something like this?
`@Path("/fruits")
public class FruitPriceResource {

    Logger LOG = LoggerFactory.getLogger(FruitPriceResource.class);

    @GET
    @Path("/stream")
    @Produces(MediaType.SERVER_SENT_EVENTS)
    @SseElementType(MediaType.APPLICATION_JSON)
    public Publisher<Fruit> stream() {
        ArrayList<Fruit> list = new ArrayList<Fruit>();
        IntStream.range(0, 1

[2020-01-29 14:27] FroMage commented on #6849
Yes. Damnit, it's also not a loss of context then. I'm out of idea then.

[2020-01-29 14:28] kenfinnigan commented on #6860
/cc @antoinesd

[2020-01-29 14:44] gsmet commented on #6849
I asked @ia3andy to try to debug that one.

[2020-01-29 14:45] gsmet commented on #6849
I wonder if it's more a RESTEasy issue than a Quarkus one tbh. First thing might be to see if it can be reproduced with plain RESTEasy outside of Quarkus.

[2020-01-29 15:06] galderz commented on #6685
[graal#2111](https://github.com/oracle/graal/issues/2111)

[2020-01-29 15:25] #6817 closed

[2020-01-29 15:28] mkouba opened #6864 "ArC - introduce an annotation to mimic @Observes StartupEvent"
Sometimes it's useful to initialize a bean at startup but perfom all the logic in the constructor and/or in a `@PostConstruct` callback.

The annotation could be named `@Startup` because it would be aligned with `StartupEvent` and also implies that the bean is initialized when the application starts. Another possibilities include `@Eager`, `@EagerInit` or `@Start`.

[2020-01-29 15:29] mkouba commented on #6864
@stuartwdouglas @gsmet @geoand @emmanuelbernard @gastaldi and others... ideas, comments?

[2020-01-29 15:30] geoand commented on #6864
I personally like `@Eager` better since I think it better conveys the intent, however given the fact that we already have `StartupEvent`, I think `@Startup` makes the most sense

[2020-01-29 15:35] #6501 closed

[2020-01-29 15:41] serranisimo commented on #6849
I found the problem
I added the dependency :
        <dependency>
            <groupId>io.quarkus</groupId>
            <artifactId>quarkus-resteasy-jsonb</artifactId>
        </dependency>

And now it works.

I realized this by creating another project following this tutorial.

[2020-01-29 15:43] serranisimo commented on #6849
I found the problem:

I added the following dependency and it worked:
`
        <dependency>
            <groupId>io.quarkus</groupId>
            <artifactId>quarkus-resteasy-jsonb</artifactId>
        </dependency>`

I realized this by starting a new project following this other tutorial: https://quarkus.io/guides/rest-json

[2020-01-29 15:44] gastaldi commented on #6864
`@Startup` sounds like a rip-off from the EJB spec so it may be easier to grasp the idea and as @geoand pointed out: considering that `StartupEvent` exists, that makes more sense.

+1 to `@Startup`

[2020-01-29 15:44] manovotn commented on #6864
I am leaning towards `@Eager` since most people are familiar with the concept of eager/lazy init or they even have personal experience with Weld/ArC being lazy. `@Startup` would be my second choice, but depending on impl, I think people don't even need to know it leverages `StartupEvent` (which is Quarkus-specific).

@mkouba what implementation do you have in mind? Auto-generated observer for `Sta

[2020-01-29 15:46] serranisimo commented on #6849
The tutorial on quarkus and kafka uses this dependency:
`

<dependency>
    <groupId>io.quarkus</groupId>
    <artifactId>quarkus-jsonb</artifactId>
</dependency>

`

[2020-01-29 15:48] FroMage commented on #6849
Hah, we never even thought of returning a plain `Fruit` object to test this. We need to fix the guide.

Thanks for figuring it out!

[2020-01-29 15:49] geoand commented on #6849
@serranisimo thanks for checking!

Would you like to propose a doc fix since you were the one that did all the work figuring it out?

[2020-01-29 15:50] mkouba commented on #6864
The problem with `@Eager` is that it may misunderstood with respect to lazy initialization of normal scoped beans (for which client proxies are injected) which a completely different concept.

I haven't thought about this yet.

[2020-01-29 15:52] serranisimo commented on #6849
@geoand no problem, I will do it.  I am glad to help out. Thank you guys for reacting so quickly!

[2020-01-29 15:53] emmanuelBayle commented on #6747
Hi @pmlopes, @sberyozkin, I'm the user with this special case for the authentication.
After check, it's now possible on our side to support the Basic Auth for obtain the token, so it's no more a problem on my side.
@sberyozkin, as explain in zulip, I must pass an extra parameter during the code call (acr_value=XXXXXX), so if it's possible to support this like in Vertx (setExtraParameters(JsonObjec

[2020-01-29 15:55] geoand commented on #6849
Excellent, thanks!

[2020-01-29 16:14] Mason-Harding commented on #3954
FYI, I have run into this with Kotlin and Native-Image before using Quarkus.  I fixed this by using the Kotlin no-arg compiler plugin.  Then you can use a data class with val, and not needing to set a default value, as it will create a no arg constructor accessible by reflections.

[2020-01-29 16:16] gsmet commented on #6849
OK so I'm still mentally sane, it was indeed implemented already :).

[2020-01-29 16:19] Sanne commented on #6800
@gwenneg 's fix was merged in Hibernate ORM / master, but this will take an ORM release and upgrade Quarkus to fix here.

https://hibernate.atlassian.net/browse/HHH-13833

[2020-01-29 16:23] geoand commented on #3954
Ah, the `no-arg` plugin! I completely forgot about that, I'll give it spin soon

[2020-01-29 16:27] gwenneg commented on #1618
@doublefx The stack trace from your comment looks pretty much like the one from #6800 which was fixed today in Hibernate ORM. Since this is an upstream issue, we don't know yet which Quarkus release will include this fix.

[2020-01-29 16:28] gwenneg commented on #6800
Thanks for your help with this @Sanne!

[2020-01-29 16:34] geoand commented on #3954
Seems like I can get somewhere with the no-arg plugin but it still doesn't work properly - the default value isn't used (when a default value is set)

[2020-01-29 16:40] Mason-Harding commented on #3954
I'm sure we are getting off topic, and a Quarkus dev will yell at us soon, but defaults won't work as they only work when no value is specified, and via that constructor.  Jackson will set them to null.

[2020-01-29 16:42] Sanne opened #6866 "JSch integration tests are failing on a vanilla Fedora installation"
**Description**
The JSch integration test is attempting to open a server on the address returned by `InetAddress.getLocalHost().getHostName()`. This by default on Fedora will result in an address which is bound to Ipv6 exclusively, which in turn gets the JSch server fail to start.

**Implementation ideas**
Simply using the "localhost" constant avoids such problems.

[2020-01-29 16:46] geoand commented on #3954
Nobody is going to yell at anyone, we are as super friendly community :)

The problem is that the behavior is different between JVM and native mode. With the no-arg plugin, in JVM the defaults are used which unfortunately is not the case in native mode.

[2020-01-29 17:12] gsmet commented on #6800
@Sanne let's plan for a new ORM release before the CR1 so before February 21st. I suppose we will have other fixes but this alone will allow us to support JDK 14 (probably) so that's a nice win.

[2020-01-29 17:31] AnakinPt opened #6868 "native image using Spring web is not detecting any Spring rest and beans"
**Describe the bug**
A small application using Spring-web and Spring-di is not working when I build a Docker Native image. The same application runs when I use the dev mode or build a JVM image

**Expected behavior**
The application should detect the Spring Beans and Rest points~

**Actual behavior**
No Spring bean and rest point is being detected in the native image

**Configuration**
Image to bu

[2020-01-29 18:56] Sanne commented on #6800
Sure

[2020-01-29 19:57] pschyma commented on #6800
Thanks for the investigation and update.

[2020-01-29 19:58] fcracker79 commented on #6847
Thanks for the answer,

yes I am proceeding with that direction, as I am in control of my codebase.

In case of libraries that rely on Apache HTTP Client, though (e.g. an OAuth2 library), it would be impossible do use the REST client extension.
Since that may be a common case, I supposed there was something I could do to make it work.

Could you please provide some reference on what I should do in

[2020-01-29 20:00] loicrouchon commented on #5602
@FroMage Isn't the `@required` you're mentioning the `@NotNull` from bean validation spec?
https://jakarta.ee/specifications/bean-validation/2.0/bean-validation_2.0.html#builtinconstraints-notnull
Of course, it just performs the null check, so you need other constraints then to ensure that it's not empty for a string, contains has fields set if it's an object, ...

[2020-01-29 20:02] galderz opened #6869 "NullPointerException in UnmarshalRSSProcess"
More failures with quarkus master with graal master:

[code]

Full stacktrace [here](https://gist.github.com/galderz/41bc45404bce7cf58ca9193d768c7ef3)

[2020-01-29 20:19] Maldivia opened #6870 "ClassCastException in Qute BuiltinTemplateExtensions.map on a TreeMap with {#for entry in map.entrySet}"
**Describe the bug**
BuiltinTemplateExtensions.map() tries to call map.get(String), which is not safe for a TreeMap with a Comparator, as it will try to cast the String to the expected type for the Comparator.
This results in an Internal Server Error due to ClassCastException.

**Expected behavior**
doing {#for entry in map.entrySet} should work equally well for a HashMap and a TreeMap (only the i

[2020-01-29 20:52] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: 829c985a60c2d5c98222910121451adbd62b6348

* Quickstarts commit: 55715825478bbc251df8faa2e6553827d1eb23da

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-29 22:05] gsmet commented on #6870
/cc @mkouba

[2020-01-29 22:13] MusaTalluzi opened #6873 "Quarkus REST extension"
**Describe the extension**
An extension that automatically exposes CRUD endpoints for JPA entities (similar to [Spring Data Rest](https://spring.io/projects/spring-data-rest)) without the need to manually code the `**Resource` classes, which can build on top of [Panache](https://quarkus.io/guides/hibernate-orm-panache). Ideally it provides additional features like pagination, sorting, metadata...

[2020-01-29 22:20] #6828 closed

[2020-01-29 22:21] #6833 closed

[2020-01-29 22:40] fmhwong commented on #5511
@lburgazzoli  What do you think if I create a `@BuildStep` in `HibernateValidatorProcessor` that takes `BuildContainerBuildItem` as an input, read the `ValidatorFactory` instance from `ValidatorHolder` and create a `ValidatorHolderBuildItem`?

[2020-01-29 22:55] #6866 closed

[2020-01-29 23:04] gsmet commented on #6869
@galderz it could be related to package info too. I know I had to fix a few things in Quarkus to get package info properly included in the native image and JAXB properly working.

[2020-01-29 23:45] Imaclean74 opened #6875 "quarkus-gradle-plugin 1.2 not published to mvnrepository"
**Describe the bug**
As per the subject. the latest 1.2 release is referenced here : https://plugins.gradle.org/plugin/io.quarkus but is not published to mvnrepository although the rest of the 1.2 series packages seem to be. ie : https://mvnrepository.com/artifact/io.quarkus/quarkus-gradle-plugin has 1.01 as the latest release but quarkus-core.deployment has 1.2.0.FINAL https://mvnrepository.com/a

[2020-01-29 23:48] gsmet commented on #6875
It's normal. It is pushed to the Gradle plugin portal now: https://plugins.gradle.org/plugin/io.quarkus .

See the 1.1 release notes to see how to use the plugin now: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.1#gradle-plugin .

[2020-01-29 23:48] #6875 closed

[2020-01-30 02:18] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: 05157e5088f2adf03bae522dfce6e64786bda4c6

* Quickstarts commit: 55715825478bbc251df8faa2e6553827d1eb23da

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-30 06:26] geoand commented on #6873
I am going to close this as a duplicate of https://github.com/quarkusio/quarkus/issues/3454. Please follow that issue for the latest information

[2020-01-30 06:26] #6873 closed

[2020-01-30 06:38] geoand commented on #6869
Is this still an issue?

[2020-01-30 06:38] gwenneg commented on #6101
Done in #6792.

[2020-01-30 06:38] #6101 closed

[2020-01-30 07:44] nimo23 commented on #6864
@mkouba there is already an issue for that

https://github.com/quarkusio/quarkus/issues/5955

and I think also that the name `@Startup` is the right choice..`@Eager `is misleading.

[2020-01-30 07:48] geoand commented on #6864
@nimo23 indeed! I am the one that opened that issue and I didn't even remember it existed :)

@mkouba should we close this one and perhaps copy the comments over to that one?

[2020-01-30 08:16] ssindelar commented on #5781
I have the same issue but can't get it to work.

I tried different combinations of plugins/apply plugin und placement (root/modules/both) and always get the same error.

[2020-01-30 08:21] Imaclean74 commented on #6875
well - my point is some of us - aren't able to access the gradle portal from behind a corporate firewall. Whereas mvrepository is mirrored into our internal repository.  Thanks for the link - but I'm familiar with how to use the plugin. In our case the repositories config looks like :

[code]
which is the only source we're able to use

is it possible to *also* publish the newer plugin version to m

[2020-01-30 08:36] guilhem88 commented on #5869
If you copied the failsafe plugin configuration from the docs, system properties are not set properly.

If you configure it like this, it works:
[code]

[2020-01-30 08:37] svilenvul commented on #3387
I also faced this issue while I tried to migrate an existing Vert.x project to Quarkus.

@trsantospt, could you share you solution? I don't have experience writing Quarkus plugins and it might be helpful to quickly check if smt else will pop up.

@gsmet, @cescoffier is it possible to move this issue forward? I think this will be useful for everybody who wants to migrate from Vert.x to Quarkus.

[2020-01-30 08:40] jmartisk commented on #6860
I'm afraid that if we want to (and we do) keep the unified configuration strategy (everything is in the `quarkus.` namespace), we can't ever avoid sorts of clashes with properties that are accepted by the libraries that we depend on.
In my understanding, the meaning of `mp.health.disable-default-procedures` is basically the same as the meaning of `quarkus.health.extensions.enabled`, except that th

[2020-01-30 08:49] #6205 closed

[2020-01-30 08:56] mkouba commented on #6864
Hehe, I also participated in that discussion ;-).

Yes, I think that we should close this one but I don't think it's necessary to copy the comments.

One more important point - we should also make it possible to specify the priority value for the startup annotation. Observers ordering might be sometimes useful.

IMPL. NOTE: I'm currently working on a PR to support synthetic observers added via `Be

[2020-01-30 08:56] #6864 closed

[2020-01-30 08:58] mkouba commented on #5955
For the record - a duplicate issue https://github.com/quarkusio/quarkus/issues/6864 was created by mistake. The comments contain some interesting ideas but we should continue the potential discussion here.

[2020-01-30 09:13] ia3andy opened #6878 "Native build failing when using vertx SockJSHandler"
**Describe the bug**
Getting that error when packaging in native:
[code]

Here is the code that makes it fail:
[code]

And here are the lines that when removed make it pass:
[code]

**Environment (please complete the following information):**
 - Output of `java -version`:
[code]
 - GraalVM version (if different from Java): 19.2.1
 - Quarkus version or git rev: 1.2.0.Final

[2020-01-30 09:22] mkouba opened #6879 "ArC - support synthetic observer methods added at build time"
This is an alternative to `javax.enterprise.inject.spi.AfterBeanDiscovery.addObserverMethod()`. See https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#after_bean_discovery for more information.

[2020-01-30 09:47] loicmathieu commented on #6742
@TheVidAllMayThe when writing the documentation part (#6877 ) two questions arises. If you can try the following and provide feedback this would be great :

- Is the `@BsonCreator` approach works in native mode ?
- Did you try the Kotlin `no-arg` compiler plugin instead of using the `@BsonCreator`

[2020-01-30 09:55] #6761 closed

[2020-01-30 10:27] maxandersen commented on #6809
We can add a warn but it’s a sign of a bigger issue if we need to do it.

we seem to break the expected backwards compatibility of the scaffolding logic that is in the core. You should be perfectly fine using an older or even newer plugin with a platform.

But we now know that is just not happening and its not surprising to me and why I think we either need to remove the tooling/scaffolding from t

[2020-01-30 10:28] DenisKipchakbaev opened #6881 "Compilation error on first run in dev mode"
**Describe the bug**
After updating to Quarkus 1.2.0.Final sometimes me and my teammate get a compilation error when we run
`mvn quarkus:dev`

[INFO] -------------------------------------------------------------
[ERROR] /some/path/SomeService.java:[107,34] multi-catch statements are not supported in -source 6
  (use -source 7 or higher to enable multi-catch statements)

When we repeat the same com

[2020-01-30 11:03] vinicius-pereiradeoliveira opened #6884 "Image generation failed. Exit code: 1 - Ubuntu 18.04"
**Describe the bug**
I can't run native executable with Graalvm.
I'm execute _./mvnw package -Pnative_ following this guide - https://quarkus.io/guides/building-native-image
I just need to create a native executable for demonstrating Quarkus. The code was obtained from Starting Code as an example.

**Expected behavior**
Run a native executable.

**Actual behavior**
I'm execute _./mvnw package -Pna

[2020-01-30 11:19] dmlloyd commented on #6860
I've suggested config aliases before but it was not well-received.  Perhaps though we could allow aliases only if they are defined outside of the `quarkus.` namespace, for use cases like this?

[2020-01-30 11:28] DenisKipchakbaev commented on #6881
`mvn -e quarkus:dev` output
[mvn-quarkus-dev.log](https://github.com/quarkusio/quarkus/files/4133751/mvn-quarkus-dev.log)

[2020-01-30 11:31] geoand commented on #6809
I don't think that is the case. Have we ever said that you can use `1.2.0.Final` of the platform with `1.1.0.Final` of the plugin?
Of course it should perfectly OK to use `1.1.0.Final` of the platform with `1.1.1.Final` of the plugin but I don't think we've ever stated the backward compatibility at this level is needed for minor versions.
@gsmet am I wrong?

[2020-01-30 11:34] geoand commented on #6809
I haven't myself seen any issues specific with the native image functionality. Basically the native image goal is pretty much deprecated and hasn't been included in the projects the tooling generates for a while

[2020-01-30 11:38] michalszynkiewicz commented on #6868
related stackoverflow question: https://stackoverflow.com/questions/59971552/using-spring-di-with-quarkus-the-native-image-doesnt-expose-the-spring-rest-po

[2020-01-30 11:44] geoand commented on #6868
@AnakinPt can you please attach a reproducer project or upload the code to github so we can check?

I would really like this on order to not make any mistakes during copy paste from the issue details.

[2020-01-30 11:46] MarianMacik opened #6885 "Quarkus Infinispan Client Extension in a profile is not visible in Quarkus Unit Tests"
@gastaldi I am writing as we agreed.

**Describe the bug**
When I want to inject some CDI beans from Infinispan Client Extension, i.e. RemoteCacheManager and run unit tests with these components, I am getting:

[code]
However, when I put the extension among the default dependencies of the project, tests will run OK. This happens when I'm injecting a bean both to the tests and my beans. The Infinis

[2020-01-30 11:47] maxandersen commented on #6809
that was the goal and part of the reason why we extracted the tooling so there would be a consistent API and platform, tools and core wasn't tied together at the hip.

[2020-01-30 11:48] maxandersen commented on #6809
What is https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/native.20image.3A.20Class.20initialization.20of.20ApplicationImpl.20failed about if not about native image generation failing due to differences between 1.1 and 1.2 ?

[2020-01-30 11:49] geoand commented on #6868
Also, can you try using the docker image that is described [here](https://quarkus.io/guides/building-native-image#creating-a-container-with-a-multi-stage-docker-build) please?

[2020-01-30 11:51] geoand commented on #6809
The problem isn't limited to native-image, meaning that a problem shows up in JVM mode as well when using the mixed versions

[2020-01-30 11:52] geoand commented on #6809
You would know a lot than me of course. So I'll leave it up to you to decide what's best :)
The issue is howeve that today we can't mix the versions - and people seem to be making the mistake of only upgrading one of the versions fairly often

[2020-01-30 11:58] gsmet commented on #6881
Can you give us more details about your setup? It's a plain Java project?

Do you properly define the compilation target in your pom file?

On Thu, Jan 30, 2020 at 12:28 PM DenisKipchakbaev <notifications@github.com>
wrote:

[2020-01-30 11:59] gsmet commented on #6881
And if you can come up with a simple reproducer project, that would be really helpful!

[2020-01-30 12:01] lordofthejars commented on #6826
@geoand @iocanel Do you know where I could loo at to see why these properties are ignored?

[2020-01-30 12:04] geoand commented on #6826
Hey @lordofthejars ,

I would start debugging the KubernetesProcessor (which would probably lead you into dekorate itself) to see what's going on

[2020-01-30 12:05] AnakinPt commented on #6868
@geoand that's the image I'm using. The only difference, my image has the curl to run the healthcheck.

[2020-01-30 12:06] geoand commented on #6868
Okay, then please make available a reproducer and I will start debugging immediately

[2020-01-30 12:30] #6287 closed

[2020-01-30 12:36] iocanel commented on #6826
This will definitely lead into dekorate, as in the processor we mostly feed the properties directly to dekorate.

Let me pick this up and its the next thing in my list.

[2020-01-30 12:39] Sanne commented on #6770
In a nutshell this issue is about using resource-local EntityManager instances.

While Quarkus is automatically configuring Hibernate ORM to use JTA; I wonder if we should make it possible to use resource-local automatically when detecting the use of `getTransaction().begin();`, or if we should rather throw an exception.

Clearly not having that API at all would be even better, but since it's defi

[2020-01-30 13:02] rsvoboda commented on #6288
Addressed via https://github.com/quarkusio/quarkus/pull/6821

[2020-01-30 13:02] #6288 closed

[2020-01-30 13:02] rsvoboda commented on #6289
Addressed via https://github.com/quarkusio/quarkus/pull/6821

[2020-01-30 13:02] #6289 closed

[2020-01-30 13:10] lordofthejars commented on #6826
Thanks mate.

[2020-01-30 13:16] geoand commented on #6884
Can you please execute ` ./mvnw -e package -Pnative` and paste the output?

Thanks

[2020-01-30 13:27] Sanne commented on #6770
Please forget my previous commit, I was completely off-track: now that I'm debugging I see this is actually unrelated to Hibernate ./

[2020-01-30 13:41] ahofmeister commented on #3905
This would indeed very, very nice to have! :)

[2020-01-30 13:52] Sanne commented on #6770
@barreiro , I'll need your help again :)

The warning logged by Agroal seems to be unnecessarily noisy, but I'm not confident enough with the intent of the `ConnectionWrapper` to be totally sure of this.

At an high level, this is what's happening in the application:

1. a JTA transaction is started
2. a connection is acquired from the pool, so it needs to be enlisted in the existing TX
3. connect

[2020-01-30 14:02] kenfinnigan commented on #6860
I think that's a good idea

[2020-01-30 14:08] aloubyansky commented on #6852
@lburgazzoli I thought I could use the referenced PR as a reproducer but it produced a bunch of other errors, like missing versions in the pom. Is that expected?

[2020-01-30 14:16] cescoffier opened #6891 "Mark Axle and Reactive Java 2 as tech preview"
### Description

Mark Axle and Reactive Java 2 as tech preview

### Tasks
- [ ] _Mailer_
- [ ] _Vert.x extension_
- [ ] _Mongo extension_

[2020-01-30 14:19] DenisKipchakbaev commented on #6881
Here it is, the simplest I could do:
https://github.com/DenisKipchakbaev/bug-example-quarkus

[2020-01-30 14:22] vinicius-pereiradeoliveira commented on #6884
Hi. Thanks for feedback.

Output:

vinicius@vinicius-HP-EliteBook-840-G1:~/Documentos/projects/servicos-testes-pocs/code-with-quarkus-testegraalvm$ ./mvnw -e package -Pnative
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO]
[INFO] --------------< org.acme:code-with-quarkus-testegraalvm >---------------
[INFO] Building code-with-quarkus-testegraalvm 1.0.0-SNAPSHOT
[INF

[2020-01-30 14:24] DenisKipchakbaev commented on #6881
`mvn -X quarkus:dev` output:
[mvn-x-quarkus-dev.log](https://github.com/quarkusio/quarkus/files/4134383/mvn-x-quarkus-dev.log)

[2020-01-30 14:28] geoand commented on #6884
There is some interesting info there:

[code]

See [this](https://www.graalvm.org/docs/reference-manual/native-image/#prerequisites) for more information about what you need.

[2020-01-30 14:36] gsmet commented on #6136
We can close this one, everything is OK with 19.3.1.

Thanks @johnaohara and @haraldatbmw .

[2020-01-30 14:36] #6136 closed

[2020-01-30 14:46] ia3andy opened #6892 "Using -Dquarkus.native.container-build to build container native build should display progress logs"
**Describe the bug**
I was trying to create a container native build using:
[code]
It got stuck for a while without any info, it was pulling the 400MB image in background (which can take a while on a slow network).

**Expected behavior**
It should display docker output in the console.

**Actual behavior**
It doesn't show anything

**To Reproduce**
Steps to reproduce the behavior:
1. Have slow conn

[2020-01-30 14:47] maxandersen commented on #6809
yeah ;/ if only the bom could be applied to plugins....then we could default to keep them aligned ;/

[2020-01-30 14:49] geoand commented on #6809
That's not the first time I've heard that :)

[2020-01-30 14:56] SR-Lut3t1um commented on #6786
Yep, it's a known issue gradle has, https://github.com/gradle/gradle/issues/10248
I'm looking into it maybe fixing won't be this hard, anyway I'm gonne close this issue now, as it's not affiliatet with quarkus directly.

[2020-01-30 14:56] #6786 closed

[2020-01-30 15:05] wedamartinez commented on #6881
I confirm I have the same error.

[code]

[2020-01-30 15:06] wedamartinez commented on #6881
if we do
`mvn clean package quarkus:dev` it works
with `mvn clean quarkus:dev` is when it fails

[2020-01-30 15:09] #6544 closed

[2020-01-30 15:14] ssindelar commented on #4224
I have the same behavior with gradle on Windows. The missing Class is part of the Java Compiler.

I noticed that lombok trys to use the JRE as compiler because "Java.home" is set to the jre folder inside the jdk:

I can't find a way to change it to the root of the JDK. Outside the lombok + Quarkus combination everything works fine and the correct path is used.

[2020-01-30 15:17] DenisKipchakbaev commented on #6881
Seems the problem is in the quarkus-maven-plugin 1.2.0.Final, because when we rollback the version of the plugin to 1.1.1.Final the error never occurred.

[2020-01-30 15:31] gsmet commented on #6881
@gastaldi interested in having a look? Reproducer is here: https://github.com/quarkusio/quarkus/issues/6881#issuecomment-580274533 .

[2020-01-30 15:32] gsmet commented on #6881
My guess is that we somehow miss to pass some settings to the compilation.

[2020-01-30 15:38] vinicius-pereiradeoliveira commented on #6884
Hi.

I executed following the instructions [here](https://www.graalvm.org/docs/reference-manual/native-image/#image-generation-options).
I verified that my system need configure some files as zlib.h and zconf.h. I fixed this.

My last action was executing the application inside directory where jar was generate with this command _native-image java -jar my-jar.jar_

_And this is my new output:_

Fat

[2020-01-30 15:41] geoand commented on #6884
What version of GraalVM are you using? Also, what does your `pom.xml` like like?

[2020-01-30 15:45] vinicius-pereiradeoliveira commented on #6884
**My GraalVM:**
GraalVM CE 19.3.1

**My pom.xml**
`<?xml version="1.0"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd" xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <modelVersion>4.0.0</modelVersion>
  <groupId>org.acme</groupId>
  <artifactId>code-with-quarkus-testegraalvm</artif

[2020-01-30 15:46] geoand commented on #6884
1) GraalVM 19.3.1 the Java 8 version or the Java 11 version?

2) Can you please format the `pom.xml`, it's not very readable :)

[2020-01-30 15:47] AnakinPt commented on #6868
I created this repo https://github.com/AnakinPt/quarkus-spring

When I try to access to http://localhost:8120/hello?name=foo it answers with a 404 and an html page with h1 "Resource not found"

[2020-01-30 15:47] gastaldi commented on #6881
Sure, I'll have a look

[2020-01-30 15:49] vinicius-pereiradeoliveira commented on #6884
1 - GraalVM 19.3.1 the Java 8 version or the Java 11 version?
Java 11.
2 - Can you please format the pom.xml, it's not very readable :)
Sorry!

**pom.xml:**

[code]

[2020-01-30 15:54] geoand commented on #6884
Thanks for the info.
Can you do me a favor and try with the Java 8 version of Graal?

[2020-01-30 16:17] geoand commented on #6868
Thanks, I will have a look soon

[2020-01-30 16:22] vinicius-pereiradeoliveira commented on #6884
@geoand, thanks for help me!!!

Yes, i execute:
_sudo apt-get -y install gcc libc6-dev zlib1g-dev_

My last action was running: _./mvnw  package -Pnative_
And... build success.

[2020-01-30 16:22] #6884 closed

[2020-01-30 16:29] geoand commented on #6884
Excellent, glad to hear it!

[2020-01-30 16:30] Sanne commented on #6847
Hi @fcracker79 ; sounds like essentially you'd want to contribute an extension for the Apache HTTP Client.

The error "no instances of X are allowed in the image heap" means that there's literally an instance of type X in the heap during the native-image compilation process.  Usually the "detail message" following it should give you a good hint of which references are holding it, but when it's not

[2020-01-30 17:26] Sanne commented on #6736
N.B. Gradle doesn't use `~/.m2` by default, it has a separate cache which has a more advanced structure.

A gradle build script can choose to consume the Maven default by using `mavenLocal()`, but there's drawbacks associated to it so I would rather not have our users forced to do so.

[2020-01-30 17:31] Sanne commented on #6514
Hibernate OGM uses the various NoSQL client drivers; to make a new OGM extension we should first have an extension for each NoSQL to be supported.

So in terms of milestones, it would indeed make sense to first provide extensions allowing "raw" direct use of each NoSQL, then think of an OGM extension as a second step.

[2020-01-30 17:32] loicmathieu commented on #6261
@FroMage for the records, Quarkus Spring Data compability layer now support returing a different type for a query, this has been implemented by #6691 the fun part is here : https://github.com/quarkusio/quarkus/pull/6691/files#diff-3e72c8149ec469f75ff8ffc49803d6f2R129-R154 it generates a mapper using PanacheQuery.stream().map() ...

[2020-01-30 17:35] famod commented on #6259
FWIW: I had the same `NoSuchFileException: /project/...` error and for me it turned out to be a limitiation of Docker Toolbox:
http://support.divio.com/en/articles/646695-how-to-use-a-directory-outside-c-users-with-docker-toolbox-docker-for-windows
´The problem vanished once I moved my project to my user home.

PS: I have to use the legacy Docker Toolbox because I need to run some VirtualBox-VMs w

[2020-01-30 17:37] Sanne commented on #6538
@DanHeidinga hi, a suggestion:

I've used flapdoodle myself in the past while working on Hibernate OGM's support for MongoDB, and eventually we decided to get rid of it as it was too problematic to maintain. It might be easier to convert such integration test to use a container image, and start it like we do with various RDBMs integration tests. Not least it would test "the real thing", which is a

[2020-01-30 17:39] gboro54 opened #6896 "AWS Secrets Manager Extension for DB Config management"
Similar to the Vault extension, we should consider adding an extenion that can communicate to AWS Secrets Manager and override DB Connection information (username and passwords) at the time the connection pool is being created in the AbstractDataSourceProducer class.

This would intel perhaps making the CredentialsProvider interface more generic (i.e outside of the the Vault extension) to allow ad

[2020-01-30 17:45] KaenDagger commented on #6855
update @geoand @gastaldi  @ia3andy

[2020-01-30 17:50] geoand commented on #6855
@KaenDagger Hot reload in Gradle doesn't work with current Quarkus either. Some work needs to be done to pass the Gradle configuration to DevContext.

[2020-01-30 17:52] KaenDagger commented on #6855
So plugin is quite good to be tested for maven and integrate into quarkus ?

[2020-01-30 18:01] geoand commented on #6855
Well we haven't tested it yet , hopefully myself @gastaldi and @ia3andy can do that soon.

But we'll also need to figure out the Gradle situation as well in order to provide at least a mostly working solution.

[2020-01-30 18:21] Sanne commented on #5883
An update from the Hibernate team: we decided the previous fix attempt is insufficient; having all such jdbc metadata is actually important.

Since Quarkus can't (typically) connect to the database during the build phase, we will need to provide configuration properties for each such metadata entry; that's not particularly user friendly, so we'll also want to have a reasonable default for each of

[2020-01-30 19:02] geoand commented on #6868
@AnakinPt I wasn't able to build the native image using `./gradlew buildNative`.

FWIW, the Redis stuff you are using almost certainly does not work in native mode.

To conclude there is a lot of stuff going on in your application (additional build args for graalVM,  Redis, Lombok) to be able to easily figure out what is going on. I suggest that you try and minimize the application and see if you

[2020-01-30 19:24] gsmet commented on #6514
I don't think we should include Hibernate OGM in Quarkus so I'm closing this one.

[2020-01-30 19:24] #6514 closed

[2020-01-30 19:48] saharshsingh opened #6898 "Metrics extension causes issues with Resteasy in native runtime"
**Describe the bug**
I followed the [Creating Your First Application](https://quarkus.io/guides/getting-started) guide and created a simple JAX-RS/Resteasy app. I have my code uploaded on [Github](https://github.com/saharsh-samples/sample-quarkus-app). The app runs fine doing a JVM based build. However if I do a native build using the [multi stage Dockerfile](https://quarkus.io/guides/building-nat

[2020-01-30 19:50] geoand commented on #6898
cc @jmartisk

[2020-01-30 19:53] saharshsingh commented on #6898
Here's an example of the stack trace:

[code]

[2020-01-30 19:58] fmhwong commented on #3813
@boonyasukd Your issue https://github.com/oracle/graal/issues/1648 has just been fixed on Jan 29, 2020.  Can you retry your test case when the fix is available in a new release of GraalVM?

[2020-01-30 20:03] nimo23 commented on #6514
@gsmet more information about the reason for closing would be good so others can understand the decision. Does this mean that you think there is no need for no-sql-storages in quarkus?

[2020-01-30 20:07] nimo23 commented on #6514
I also find that >it would indeed make sense to provide extensions allowing "raw" direct use of each NoSQL storages. I think Hibernate OGM is not needed if raw direct access to the no-sql-storages can be provided by quarkus.

If am going to open an issue for an extension of `quarkus-ignite` (with Apache Ignite), do you think you close this issue?

[2020-01-30 20:23] gsmet commented on #6514
No, just that Hibernate OGM is not the right solution for that.

We can have drivers for the various NoSQL databases if there is enough interest in them and people wanting to contribute.

And by interest, I mean people really wanting to use it.

[2020-01-30 21:07] dwamara opened #6900 "quarkus-cache extension not working due to missing libraries"
**Describe the bug**
I was trying to use the new quarkus-cache extension in the 1.2.0.Final version but it does not seem to be possible as the necessary libraries are not found

**Expected behavior**
No compilation error and @CacheResult annotation is found

**Actual behavior**
The class with a method annotated with @CacheResult could not be compiled and the annotation is not found.
I checked the

[2020-01-30 21:15] gsmet commented on #6900
@gwenneg can you have a look?

[2020-01-30 21:25] zeldanerd24 commented on #4767
I disagree in part with @acoburn's assertion. I was able to create a minimal reproducer for the problem in question using `1.2.0.Final`, with a very similar stacktrace when running `./gradlew quarkusBuild`. I am currently in the process of doing a master build to see if the issue is fixed there.

[2020-01-30 21:34] dwamara commented on #6900
I cleaned my local maven repository and recompiled the project. The file _quarkus-cache--1.2.0.Final.jar_ has been downloaded from the internet and is now present in my local repository but still does not appear in IntelliJ. I don't think it's an IntelliJ problem but I can't pinpoint what could be the reason.

<img width="849" alt="Screenshot 2020-01-30 22 32 44" src="https://user-images.githubuse

[2020-01-30 21:40] #3321 closed

[2020-01-30 21:44] #6881 closed

[2020-01-30 21:46] gwenneg commented on #6900
Thanks for reporting this issue @dwamara, I'll investigate it right away.

[2020-01-30 21:48] sberyozkin commented on #6896
@gboro54 Vault extension has been done by Vincent @vsevel such that the alternative `Vault` implementations can be plugged in. However in this case it appears Vault has an [AWS secrets engine](https://www.vaultproject.io/docs/secrets/aws/).
Hi Vincent, I've signed to you for you to review if we should go ahead with the Vault AWS engine
thanks

[2020-01-30 21:57] gwenneg commented on #6900
I don't see any issue locally so far, still investigating...

Would it be possible for you to provide us with a reproducer that fails to build?

[2020-01-30 22:23] sberyozkin commented on #6896
No it looks different really to what @gboro54 is asking about. @vsevel, I suppose one should go using the CredentialsProvider (vault-spi) route if an alternative Vault is required ? thanks

[2020-01-30 22:33] dwamara commented on #6900
It seems to have been solved, just made an update of IntelliJ, strange but I'll close the issue and let you go back to your daily business.

[2020-01-30 22:33] #6900 closed

[2020-01-30 22:40] gwenneg commented on #6900
Since IntelliJ didn't seem to find `quarkus-cache-1.2.0.Final.jar` at first, maybe there was a problem with the `@CacheResult` import in your Java class. I checked everything from the JAR uploaded on Maven Central to the project generation and found no problem so I think your project should be fine now.

Thanks for testing this new extension!

[2020-01-30 23:12] MrShish commented on #5829
@piotrgwiazda just checking, did you manage to get this work with Auth0?

[2020-01-30 23:15] dwamara commented on #6900
Just a quick question: does the cache get persisted or is it gone if I restart quarkus?

[2020-01-30 23:23] gwenneg commented on #6900
`quarkus-cache` stores the cached data into an in-memory Caffeine cache, so the cache will be empty if you restart your server.

[2020-01-30 23:26] maxandersen commented on #6736
@Sanne none of this is for our users...its for having images that build faster for demo purposes only.

Besides the mismatch of gradle there are a bunch of other issues like ignoring users maven proxies and artifact policies etc. (see https://github.com/quarkusio/quarkus/issues/6736#issuecomment-577594878)

[2020-01-31 00:01] jjdestef3 opened #6902 "JAXB Extension Project Issue"
Hi,

Not sure if this is an issue or done by intent. The JAXB extension deployment project has a ReflectiveClassBuildItem, com.sun.xml.internal.stream.XMLInputFactoryImpl (line 178 of JaxbProcessor.java) but not for com.sun.xml.internal.stream.XMLOutputFactoryImpl. On a project I've been working on the absence of this class in the native build caused an exception. When I created an extension to su

[2020-01-31 04:43] jean-merelis opened #6903 "Could CaffeineCache expose "AsyncCache<> cache" field or at least its asMap method?"
I have a cache with a composite key (userId, companyId) and I need to invalidate all entries only by companyId.
I can't currently do that. I have to invalidate the entire cache with `CacheInvalidateAll()`
I think with `AsyncCache.asMap()` I can iterate over it and get what I want

[2020-01-31 04:57] jaikiran commented on #4224
Sorry, I have been a bit busy and wasn't able to look into this sooner. I will try and find some time this weekend and see what's going on and if I can help.

[2020-01-31 05:04] jean-merelis commented on #6903
I think the DefaultCacheKey and CompositeCacheKey classes should be public as well. This way I could interact programmatically with the cache.

[2020-01-31 06:45] boonyasukd commented on #3813
@fmhwong Sure can. Once the fix is part of the official release I'll be testing it and get back to this issue.

[2020-01-31 06:49] loicmathieu commented on #6832
Maybe I'm missing something but as the animal-modue https://github.com/AmsterdamFilho/quarkus-poc/blob/master/modules/animal-module/pom.xml didn't use the Quarkus maven plugin it will not be indexed by Jandex. This is why the entity is not enhanced.

It is even documented on the Panache guide: https://quarkus.io/guides/hibernate-orm-panache#defining-entities-in-external-projects-or-jars

[2020-01-31 07:08] rsvoboda opened #6904 "@DisabledOnNativeImage vs @DisableForNative annotations"
Having `@DisabledOnNativeImage` and `@DisableForNative` annotations to disabling tests for native mode is a bit confusing.

https://github.com/quarkusio/quarkus/blob/master/test-framework/junit5/src/main/java/io/quarkus/test/junit/DisabledOnNativeImage.java is the end-user facing annotation.

https://github.com/quarkusio/quarkus/blob/master/integration-tests/maven/src/test/java/io/quarkus/maven/it

[2020-01-31 07:15] geoand commented on #6904
Well they can't really be merged, but as @gsmet pointed out when I added the annotation, we can drop the annotation altogether and just configure the failsafe and surefire plugins of the `maven` integration-test module to include / exclude only what is necessary

[2020-01-31 07:17] rsvoboda opened #6905 "Vault tests have `@DisabledOnOs(OS.WINDOWS)` without any link to the issue"
Vault tests have `@DisabledOnOs(OS.WINDOWS)` without any link to the issue

[code]

It's hard to figure out why this annotation was added. When tests are disabled, a link to the issues (or at least comment) should be added.

@vsevel, please add link to the issue for Windows disabled tests.

CC @gsmet

[2020-01-31 07:23] fcracker79 commented on #6847
@Sanne thanks for the tips. I am quite a newbie with Quarkus and GraalVM, but I will try on that.

Since my issue is solved, I close the issue.

Thanks all for the support.

[2020-01-31 07:23] #6847 closed

[2020-01-31 07:26] rsvoboda opened #6906 "jacksonDeserilazationIgnoresPersitantAttribute is disabled on native, no link to an issue"
PanacheFunctionalityTest.jacksonDeserilazationIgnoresPersitantAttribute is disabled on native
There is no link to an issue

https://github.com/quarkusio/quarkus/blob/master/integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheFunctionalityTest.java#L83

@the-bug, can you add link to the issue ? Or at least describe the problem on native image ...

[2020-01-31 07:41] cmoulliard commented on #6736
This is a pom file created from n example and containing the core extensions/modules and plugin needed to build/run the Application. Example : https://github.com/halkyonio/container-images/blob/master/maven-offline-repo/pom.xml

[2020-01-31 08:59] rsvoboda opened #6910 "AddGradleExtensionsTest.addExtensionTwiceInTwoBatches disabled, but no issue linked"
AddGradleExtensionsTest.addExtensionTwiceInTwoBatches disabled, but no issue linked
https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/common/src/test/java/io/quarkus/cli/commands/AddGradleExtensionsTest.java#L17

@ia3andy is there an issue to implement/fix this scenario ?

This issue needs to be mentioned as value of `@Disabled` annotation for better auditing

[2020-01-31 09:06] rsvoboda opened #6911 "WebsocketTestCase.testSendMessageOnOpen is disabled but no followup issue is linked"
WebsocketTestCase.testSendMessageOnOpen is disabled but no followup issue is linked

https://github.com/quarkusio/quarkus/blob/master/integration-tests/main/src/test/java/io/quarkus/it/main/WebsocketTestCase.java#L108 says:
test disabled as the message handler may be registered after the messages being sent

@cescoffier
is this something that will not change ? => test is not relevant
something to

[2020-01-31 09:26] #6892 closed

[2020-01-31 09:53] geoand commented on #6902
@jjdestef3 Thanks for reporting!

Would you be willing to submit a Pull Request that includes the fix and a test case that showcases that the fix is needed?

Thanks

[2020-01-31 10:01] machi1990 commented on #6832
I am seeing the presence of a [`beans.xml`](https://github.com/AmsterdamFilho/quarkus-poc/blob/master/modules/animal-module/src/main/resources/META-INF/beans.xml) file, that should be enough for it to be indexed by Jandex.

[2020-01-31 10:59] geoand commented on #6855
@KaenDagger I did the following:

* Checked out the latest master for your https://github.com/KaenDagger/quarkus-allopen
* Built it using `./gradlew publishToMavenLocal`
* Made the following change to in Quarkus to `src/test/resources/projects/classic-kotlin/pom.xml`

[code]
*Launched the tests in the `integration-tests/kotlin`.

But unfortunately things are failing:

[code]

[2020-01-31 11:01] KaenDagger commented on #6855
For maven you have to package and install maven artifact. Checkout the maven part of ReadMe.md

[2020-01-31 11:02] KaenDagger commented on #6855
Just install and package `allopen-maven` module of Quarkus-allopen

[2020-01-31 11:03] iocanel commented on #6580
A fix has been merged. So, its safe to close.

[2020-01-31 11:03] #6580 closed

[2020-01-31 11:07] sberyozkin commented on #6896
@gboro54 `quarkus-agroal` has only [this link](https://github.com/quarkusio/quarkus/blob/master/extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AgroalVaultCredentialsProviderPassword.java) to a `Vault` and you can see how it is linked at the configuration level [here](https://github.com/quarkusio/quarkus/blob/master/integration-tests/vault-agroal/src/test/resources/application-va

[2020-01-31 11:12] #5700 closed

[2020-01-31 11:12] #6746 closed

[2020-01-31 11:14] geoand commented on #6855
OK, I thought the top level goal would work for both.

The integration test does seem to work now, nice

[2020-01-31 11:33] AmsterdamFilho commented on #6832
I removed the beans.xml and added the Jandex plugin just to be sure. The index was generated, but the problem persisted.

[2020-01-31 11:34] sberyozkin commented on #6549
@tpenakov Hi, when you get a time please start from a clean master, #6752 has been merged now, so it might also help with avoiding few of the issues you've seen recently. As agreed lets do DOCx first, thanks

[2020-01-31 11:39] gsmet commented on #6832
Yeah, it won't solve the issue: with the `beans.xml` everything was already fine. The problem is not about the entity, the entity is properly enhanced, but about the service in which all the callers should be rewritten to use the generated setters.

That's expected considering how we do things. Now we need to figure out if/how we can fix it.

[2020-01-31 11:40] gsmet commented on #6832
@stuartwdouglas I affected this one to you so that you can give us your opinion when you're back.

[2020-01-31 12:03] tpenakov commented on #6549
Thank you @sberyozkin
Will let you know about the progress.

[2020-01-31 12:12] zeldanerd24 commented on #4767
Looks like the issue was fixed in master at some point since the `1.2.0.Final` release. @geoand: Do you know if there plans to introduce more integration testing on the Gradle side at some point to prevent this from resurfacing in the future?

[2020-01-31 12:14] geoand commented on #4767
Thanks for checking @zeldanerd24

I'll deflect the integration test question to @gastaldi :P

[2020-01-31 12:15] debae opened #6914 "It should be possible to configure the builderImage via the gradle buildNative task"
**Description**
At this moment we can only configure the docker image used to build a native image via a command line parameter `-Dquarkus.native.builder-image=... `

**Implementation ideas**
We should be able to add a configuration builderImage with the image it should use in the buildNative task inside build.gradle

[code]

[2020-01-31 12:15] sberyozkin commented on #6596
@evanshortiss thanks. OK, thanks, let me close this issue shortly.
Re `quarkus-keycloak-authorization` and `web-app` types, yes, it is not supported for this extension as it is mainly intended for enforcing the bearer token authorization rules using Keycloak defined policies. For `web-app` please use `quarkus-oidc`, or do you have a special requirement for `quarkus-keycloak-authorization` and `web

[2020-01-31 12:16] gastaldi commented on #4767
@zeldanerd24 no plans so far, but feel free to submit a PR and I'll be thrilled to review it :wink:

[2020-01-31 12:26] gsmet commented on #6906
And maybe we should fix the typos in the method name too :).

[2020-01-31 12:33] gboro54 commented on #6896
@sberyozkin - That is my thought. I am currently doing this in my component but am going to work on cleaning it up and moving it out into its own module. I will take a look at docs around extensions to add all the needed pieces and see if I can get a PR in the next week.

[2020-01-31 12:43] sberyozkin commented on #6853
@stefanorg
I'd like to clarify something about this property and also ask a question. So, this property has been introduced to support an OIDC admin configuring the clients with a `redirect_uri` property, for example, the actual Quarkus request may be `https://localhost:8080/a/b/c` but the `redirect_uri` parameter will always have to be `https://localhost:8080/` which can be achieved by setting th

[2020-01-31 12:44] jmartisk commented on #6898
Hm, it seems that the `NoSuchMethodException` occurs during `InMemoryStorageService` injection, but only if that bean contains a method annotated with `@Gauge`. If I remove the gauge, it works. But right now I have no idea why that happens, especially since it's in native mode only.
At build time, we dynamically attach an interceptor binding (`MetricsBinding`) to beans that contain a Gauge, but th

[2020-01-31 13:17] AnakinPt commented on #6868
It's not the Redis. I think it's something related with the spring.
I created a new project, just with the basics and I have the same problem.
The same repo I created yesterday is the most basic thing available. Can you see it again, please?

[2020-01-31 13:22] geoand commented on #6868
Of course, I'll have a look

[2020-01-31 13:30] geoand commented on #6868
I just tried your repo doing the following:

* `/gradlew buildNative`
* `./build/hello-quarkus-1.0-SNAPSHOT-runner`
* `curl http://localhost:8080/greeting` -> `hello`

which indicates that it's working. Am I missing something?

[2020-01-31 13:30] gsmet commented on #6898
@jmartisk could it be that when you have a gauge, the bean is instantiated later and thus might need the constructor to be included in the native image?

[2020-01-31 13:31] geoand commented on #6898
Perhaps we just need to register the bean for reflection when `@Gauge` is used?

[2020-01-31 13:40] AnakinPt commented on #6868
I use the docker image to build the native runner because I can't build it in the windows. Can it be the problem?

[2020-01-31 13:44] stefanorg commented on #6853
Hi thank you for your respone.

I'm implementing the Authorization Code Flow, i need to specify the `redirect_uri` with a value different from "/", i need to set a specific value like "/callback" or "/auth/login" or whatever.

I'm using as oauth/oidc server "ory/hydra" https://www.ory.sh/docs/hydra/

Hope this respond to your question.

[2020-01-31 13:45] nimo23 commented on #5819
The message is irritating even with INFO, because it says quarkus cannot found something, so users think that something is missing..

I think, the message should be inverted. Instead of saying

`INFO: Could not find any META-INF/persistence.xml file in the classpath`

it should say:

`INFO: Found META-INF/persistence.xml file in the classpath.`

or

`INFO: Parse META-INF/persistence.xml file.`

to

[2020-01-31 13:45] geoand commented on #6868
I am assuming that your Dockerfile isn't correct in some way. So I am going to close this issue.

[2020-01-31 13:45] #6868 closed

[2020-01-31 13:48] jmartisk commented on #6898
Including a `@Gauge` does not change when the bean is instantiated I think, it's still a regular `ApplicationScoped` bean, we just attach `@MetricsBinding`, which binds to it an interceptor that intercepts the bean's constructor (via `@AroundConstruct`)

[2020-01-31 13:49] jean-merelis commented on #6903
I think the DefaultCacheKey and CompositeCacheKey classes should be public as well. This way I could interact programmatically with the cache.

[2020-01-31 13:51] geoand commented on #6898
Sorry, I just saw the full error. Maybe we should just register `InMemoryStorageService` for reflection? Well just it's constructors I guess. That would probably be the easiest way to go, although I highly suspect we can get around that.

I can take a look if you like.

[2020-01-31 13:53] Sanne commented on #5819
No need to discuss further, we already agreed that we should get rid of the message.

Any volunteer? Or I can do it, just need to know.

[2020-01-31 13:53] Sanne commented on #5819
Well I'll just do it :)

[2020-01-31 13:56] nimo23 commented on #5819
I would really to contribute but I am not such experienced with quarkus codebase and it will take some time..actually I use wildfly and learn the things around quarkus. I think, in a few month when having more free time and general quarkus knowledge, I will dig into the source code and can contribute..but actually this is not possible.

[2020-01-31 13:58] Sanne commented on #5819
no problem, I normally need to ask for such issues as we're having a lot of them, but this one will only take me a few minutes as I'm already making changes to Hibernate today.

[2020-01-31 14:00] jmartisk commented on #6898
Of course, I will be glad. I'm quite busy with getting MP Metrics 2.3 out the door, so I wouldn't be able to spend a lot of time on this the next few days

[2020-01-31 14:00] tsegismont opened #6917 "Add hot reload tests for Reactive SQL Clients"
Nothing fancy, but make sure the databases can be queried again when after code changes

[2020-01-31 14:01] gsmet commented on #5819
@Sanne this resonates a bit with https://github.com/quarkusio/quarkus/issues/6805 .

I wonder if we should have a configuration property to ignore persistence.xml altogether which would be true by default as we wouldn't care about it most of the time.

Thought I might mention it as it's connected.

[2020-01-31 14:02] geoand commented on #6898
I'll try and take a look over the weekend, but I can't give any promises :). I'll post any updates here

[2020-01-31 14:05] sberyozkin commented on #6853
Hi @stefanorg , thanks, it does not have to be `/`, it can be `/a', for example, given `https://localhost:8080/a/b/c` request URI, the redirect URI could become `https://localhost:8080/a` and then when the user is returned to `https://localhost:8080/a` the original `https://localhost:8080/a/b/c` will be restored, but in your case, as far as I understand, you don't want the original request URI be

[2020-01-31 14:07] tsegismont commented on #6917
@cescoffier I can't change labels, obviously this is not a bug report :wink: :

For implementation, I wonder where I could put such a test. Is it fine in the integration test module?

[2020-01-31 14:09] geoand commented on #6898
Again I spoke without looking at the details :)

I didn't realize that `InMemoryStorageService` was part of the application itself. Anyway, I'll get back with concrete info when I have it

[2020-01-31 14:26] geoand commented on #6898
OK, actually there is no bug in Quarkus.

It's just that the pattern used in the application needs a small fix in order to work in native mode.

Due to the use of:

[code]

it's expected that `InMemoryStorageService` and `PersistentStorageService` can be created from the default constructor.

To make that possilble in native mode, these classes need to be annotated with `@RegisterForReflection(fie

[2020-01-31 14:26] stefvanderwel opened #6919 "Could not resolve dependencies for project"
**Describe the bug**
When having a multi-module project, Quarkus can't seem to package if a submodule has a dependency to another submodule.

**Expected behavior**
The project should be able to compile

**Actual behavior**
It fails with this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
The project can be found [here](https://gitlab.com/stefvdwel/quarkus-dependency-test2).
1. `.

[2020-01-31 14:29] ge0ffrey commented on #5630
@dmlloyd I definitely got the impression during debugging that there was some sort of Class proxy in play there during the "deployment" phase. I even tracked down the code creating it to `BytecodeRecorderImpl.classProxy()`. But then I got stuck in trying to fix this to make the proxy's `asSubClass` return itself.

[2020-01-31 14:31] gsmet commented on #6919
/cc @aloubyansky

[2020-01-31 14:51] gsmet commented on #6903
I wonder if it would be better to make them distinct caches and have an annotation that can add elements to the cache name.

@ben-manes @gwenneg WDYT?

[2020-01-31 15:02] TheVidAllMayThe opened #6921 "properties.config file is not properly read after setting environment variables"
When I launch a quarkus application while setting an environment variable `QUARKUS_HTTP_PORT=8080 ./gradlew quarkusDev` everything works fine. But if I take out the environment variable I get the following error:

`Configuration key "quarkus.http.port" is required, but its value is empty/missing: Property quarkus.http.port not found`

quarkus.http.port is present in the application.properties file

[2020-01-31 15:03] gsmet commented on #6707
@evanchooly could you have a look at that one?

[2020-01-31 15:06] gsmet commented on #6679
@iocanel do you still have this one on your radar? Maybe you should affect it to you?

[2020-01-31 15:09] iocanel commented on #6679
@gsmet: Thanks for the reminder. I had completely forgotten about it.

[2020-01-31 15:10] gsmet commented on #6687
I confirm it's used by Kogito.

[2020-01-31 15:10] #6687 closed

[2020-01-31 15:17] gsmet commented on #6539
@FreifeldRoyi I think we will need some profiling information. @johnaohara should be able to help you with this.

A list of the extensions you are using could be useful too.

[2020-01-31 15:19] Sanne commented on #5819
thanks @gsmet, right definitely connected. Not sure about having it as default but it's worth thinking.

either way, I'm going to need this: https://github.com/hibernate/hibernate-orm/pull/3205

[2020-01-31 15:19] gsmet commented on #6619
@thesteve0 I'm not sure I understand what you're asking here?

[2020-01-31 15:19] camboui commented on #6105
Hi,

I had the same issue and I've been digging in debug mode into your repo.
I found out that there's a default RestEasy RoleBasedSecurityFilter but it's not even registered by default. So you won't manage to override it.

You can enable its registration by adding the following to your "appliccation.properties" file
`resteasy.role.based.security=true`
and voilà !

[2020-01-31 15:44] gwenneg commented on #6903
This sounds like a feature of the API for the more advanced use cases that was discussed in #3306 (it's supposed to be part of the MVP). I think we'll need the opinion of @emmanuelbernard, @Sanne or @galderz on this.

[2020-01-31 15:50] dmlloyd commented on #6921
The correct "spelling" of the environment variable should be `QUARKUS_HTTP_PORT` (with underscores `_` rather than periods `.`).  Could you try that out and see if it helps?

[2020-01-31 15:51] TheVidAllMayThe commented on #6921
Sorry, my mistake. I been doing it as you said. I've corrected it above!

[2020-01-31 15:51] emmanuelbernard commented on #6801
Today the quarkus issue is for the whole platform unfortunately. Got to live with that I don't see any obvious way around it that would not make life harder.
Issues don't get stale anymore except when they come from code.quarkus.io for some reason. Also extension-proposal would be naturally excluded from a stale process (or should).

[2020-01-31 15:58] dmlloyd commented on #6921
OK.  And I assume you're using `application.properties` not `application.config`?

[2020-01-31 16:00] TheVidAllMayThe commented on #6921
Once again correct! Thank you for pointing it out!

[2020-01-31 16:01] dmlloyd commented on #5630
Ah I see, it's in the actual build step that you're having a problem.  And I see that it's not a proxy _of_ `Class`, it's a `Class` of the proxy of the injected type, which makes a bit more sense.

Normally you shouldn't perform too much complex logic in the build step; rather, you farm it out to a recorder class (annotated `@Recorder`) which deals with the real classes, not proxies.  Basically th

[2020-01-31 16:09] elamotte7 commented on #6105
Thx Camboui, indeed it works. Thx again for your help.

@gsmet, it seems it's not a bug only a lack in the documentation.

[2020-01-31 16:13] gsmet commented on #6105
There's something missing but that's definitely not only documentation.

This should be wired by Quarkus.

@sberyozkin could you have a look at that one soon? Looks like something we will want fixed for 1.3.

[2020-01-31 16:15] gsmet commented on #6105
We probably need Stuart's feedback on that one. Affecting it to him so that we can talk about it when he's back.

[2020-01-31 16:15] machi1990 commented on #6917
It is more of a housekeeping issue. I am changing the label to it. @tsegismont WDYT?

[2020-01-31 16:23] tsegismont commented on #6917
@machi1990 Fine with me

[2020-01-31 16:43] nicmarti commented on #6234
I really +1 this idea. I tried to implement a similar solution [here](https://github.com/nicmarti/quarkus-timekeeper-demo/blob/c67b3d4a3aa837ad99c6c04c4e359a58031071f0/src/main/java/com/lunatech/controllers/TimeEntryController.java#L74)

I reach a point where I think that we could really look at what Play2 did with the Java Form and a FormFactory. See`[ the documentation](https://www.playframework

[2020-01-31 16:57] emmanuelbernard commented on #6903
right, let's add this requirement to the programmatic API work we want to do. Maybe referencing this issue from a uber issue.

[2020-01-31 16:58] emmanuelbernard commented on #6903
I anticipate we would offer Mutiny non blocking types and such instead of what Caffeine offers today.

[2020-01-31 17:04] AnakinPt commented on #6868
I tried to add elements one by one and seems to be a problem with lettuce to connect to Redis. Thanks for the help.

[2020-01-31 17:08] evanshortiss commented on #6596
@sberyozkin understood, I didn't realise web-app required a different extension. Thanks for the clarification and help!

[2020-01-31 17:11] gsmet commented on #6531
@andreas-eberle ping?

[2020-01-31 17:14] gsmet commented on #6513
@fmhwong maybe you could have a look at that one too?

[2020-01-31 17:15] gsmet commented on #6490
@kevingty maybe you could give it a try?

[2020-01-31 17:15] andreas-eberle commented on #6531
Oh, sorry, didn't see your answer.

I was talking about an example for how to build a gitlab-ci.yml for my projects I build with Quarkus. So for a user of Quarkus. It would be especially interesting to know how to make a native build with the docker-build in gitlab.

[2020-01-31 17:18] gsmet commented on #6433
You will need the `quarkus-undertow` extension if you want the `web.xml` to be taken into account.

[2020-01-31 17:18] #6433 closed

[2020-01-31 17:18] ahofmeister commented on #988
@dmlloyd Than you should close this ticket? :)

[2020-01-31 17:19] gsmet commented on #6490
@kevingty btw, I think you would be able to use MyBatis by handling things with a CDI bean yourself.

[2020-01-31 17:28] geoand commented on #6868
You are welcome!

There is work in progress for a redis extension so hopefully you'll be able to use that soon in native mode as well

[2020-01-31 17:29] gsmet commented on #6531
So we could include that in our project template (and probably something for GH actions too) but we would need someone to handle that and maintain it.

Do you volunteer? :)

[2020-01-31 18:08] galderz commented on #6869
@gsmet Ok. I did test this with the patched graal version that I had created to fix the other issue. So it could be caused by that fix too. I'll check again next few days.

@geoand What do you mean exactly? As I said on the start, this was happening with quarkus and graal master, and more specifically I was using the patched graal with the fix linked from #6685 (PR not yet integrated, style issues

[2020-01-31 18:09] #5809 closed

[2020-01-31 18:14] geoand commented on #6869
Okay understood, thanks

[2020-01-31 19:19] dmlloyd commented on #988
I suppose so. :-)

[2020-01-31 19:19] #988 closed

[2020-01-31 20:04] manovotn commented on #6898
@geoand You could read the config at build time (if that's an option here) and then generate [synthetic bean](https://quarkus.io/guides/cdi-reference#synthetic-beans) or register [additional bean](https://quarkus.io/guides/cdi-reference#additional-beans). Something like that?

[2020-01-31 20:06] geoand commented on #6898
@manovotn I was basically asking what a user could do.
The pattern that is being used in this application seems common but I would really like to make it easier somehow for a user to choose the implementation (I guess based on some config value)

[2020-01-31 20:55] manovotn commented on #6898
Well, in a way it is similar to those Spring-like profiles we were talking recently. On the same principle you could apply this.

[2020-01-31 22:03] pedroigor commented on #6571
@sberyozkin I have the documentation done but here it is.

The quickstart used in the guide is using Google and Keycloak to authenticate depending on the tenant. It would be really nice if we could show multi-tenancy using a different OP but at the same time that would not work when testing the application.

Do you think it is acceptable to not have tests running for this quickstart?

Other than t

[2020-01-31 22:28] sberyozkin commented on #6853
@stefanorg FYI, #6924 introduces a new property `restore-path-after-redirect` (set to `true` by default because this is how it now works already on the master), alongside few other fixes. So you'd just set that property to `false`, thanks

[2020-01-31 22:34] sberyozkin commented on #6747
@emmanuelBayle thanks, good news. FYI, #6924 adds the extra parameters (I have to test that though :-) ).
@pmlopes Hi Paulo, so it is a low priority issue then :-). I agree the basic authorization property is a bit misleading as it does not make sense for a public client. Perhaps it would make sense to add a  property letting select the confidential client auth type...
thanks

[2020-02-01 00:03] tfactor2 commented on #4224
Had the same problem on OpenJDK 8 but it's gone after switching to GraalVM.

[2020-02-01 03:52] kdubb opened #6931 "mvn clean quarkus:dev not working in mixed Kotlin project"
**Describe the bug**
Project with mixed Java/Kotlin doesn't compile after moving to `quarkus-maven-plugin:1.2.0.Final`.  Either the Kotlin compiler isn't running at all or it it is not running before Java (as required).

Switching the plugin version back to `1.1.1.Final` the project builds/runs correctly again.

**Expected behavior**
Using mixed Java/Kotlin with Quarkus builds correctly.

**Actual

[2020-02-01 05:54] geoand commented on #6898
I woke up thinking exactly that 😂.
I believe it's something we should consider adding

[2020-02-01 10:09] vsevel commented on #6896
@sberyozkin you are right in assuming that the credentials provider had been designed with that kind of extended use cases in mind. however the aws secret engine in hashicorp vault seems to be related to authentication, rather than secret mgmt.

@gboro54 here what you would do to integrate an alternate vault:

create an extension that has all the logic to connect to the aws vault, including config

[2020-02-01 10:13] vsevel commented on #6905
hello @rsvoboda here is the short answer: https://github.com/quarkusio/quarkus/issues/3796

[2020-02-01 11:08] masini opened #6933 "OpenApi NPE using default method with generic types"
**Describe the bug**
OpenApi is unable to undertand the type of generic method in interfaces and throw NPE.

**Expected behavior**
The generic interface is parsed and docs generated

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. mvnw quarkus:dev
2. or
3. mvnw install

**Environment (please complete the following information):**
 - Darwin WMICTLM1P.local 18.7.0 Da

[2020-02-01 11:08] masini commented on #6933
[quarkus-120-issues.zip](https://github.com/quarkusio/quarkus/files/4142457/quarkus-120-issues.zip)

Reproducer project

[2020-02-01 11:14] masini opened #6934 "Jandex WARNING using standard JAX-RS classes"
**Describe the bug**
This is not a real bug but an annoying WARNING if you use classes like javax.ws.rs.core.StreamingOutput:

[code]

**Expected behavior**
No WARNING

**Actual behavior**
This is printed on the console at startup:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. mvnw compile quarkus:dev

**Environment (please complete the following information):**
 - Darwin WMICTLM1P.

[2020-02-01 11:55] nimo23 commented on #6934
Related to https://github.com/quarkusio/quarkus/issues/5871

[2020-02-01 14:41] akoufatzis opened #6935 "Quarkus 1.2.0 native compilation fails when building docker image"
Hello to all.

**Describe the bug**
Trying to build a docker image using GraalVM native compilation with Quarkus 1.2.0 fails using the steps described in the [official guide](https://quarkus.io/guides/building-native-image#creating-a-container)

**Expected behavior**
The docker image build should complete successfully as it did with Quarkus 1.1.X.

**Actual behavior**
`[ERROR] Failed to execute go

[2020-02-01 17:00] rsvoboda commented on #6905
+1

I can prepare PR not to bother you too much. Just say ...

[2020-02-01 17:35] geoand commented on #6935
Hi,

Have you perhaps tried `quay.io/quarkus/centos-quarkus-maven:19.3.1-java8`?

[2020-02-01 18:45] stefanorg commented on #6853
I think that there is somenthing in the flow i don't understand.

Let's say my web app context root is: `my-app` reachable `http://localhost:8080/my-app/`.
I want all my app to be secured, so i put in configuration this:

[code]

I've registered my oidc client in my auth provider like this:

[code]

So i'm telling my auth provider, after successfull authentication, redirect the user in my redirect

[2020-02-01 18:55] vsevel commented on #6905
@rsvoboda no problem I will do it if this is common practice

[2020-02-01 19:13] gwenneg commented on #6935
If there are more details about the errors in the log, could you please add them here?

[2020-02-01 19:51] akoufatzis commented on #6935
@geoand
When running the code using Java 8 and centos-quarkus-maven:19.3.1-java8 I get an other error :
`Exception in thread "surefire-forkedjvm-command-thread" Exception in thread "BasicRepositoryConnector-repo.maven.apache.org-0-2" java.lang.OutOfMemoryError: GC overhead limit exceeded
[INFO]
[INFO] Results:
[INFO]
[INFO] Tests run: 0, Failures: 0, Errors: 0, Skipped: 0
[INFO]
[INFO] -----------

[2020-02-01 19:54] akoufatzis commented on #6935
@gwenneg Posting the error (you can always try the code I included via the link to the repository to get more details):

`Error: Image build request failed with exit status 137
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  04:08 min
[INFO] Finis

[2020-02-01 20:31] gwenneg commented on #6935
Thanks @akoufatzis!

There's an `exit status 137` at the beginning of you last comment. This usually means that the native image generation process ran out of memory. GraalVM requires more memory to generate a native image with JDK 11 than with JDK 8.

Would it be possible for you to increase the memory available for the native image generation process and try again?

[2020-02-01 21:05] jskov commented on #5204
I think this issue should be closed.
I use the new syntax with Gradle 6.1.1/Quarkus 1.2.0.Final without problems.

[2020-02-01 21:21] gwenneg opened #6939 "Stop dealing with the SunEC library during the native image generation"
GraalVM `19.3.0` removed the need to ship the SunEC library with the native image:

Note that the sunec native library of SunEC provider gets statically linked into an image if required (see #951). Thus native images do not depend on the sunec shared library anymore at runtime. However, if SunEC provider gets statically linked into an image on Linux and macOS the image will depend on libstdc++.

W

[2020-02-01 23:49] geoand commented on #5204
@gastaldi OK to close?

[2020-02-02 00:37] akoufatzis commented on #6935
Thank you @gwenneg . You are right, it worked with setting the docker daemon ram resources to **6GB** . Nevertheless this is a huge increase in comparison with only **2GB** needed for Quarkus 1.1.1, GraalVM 19.2.1 and JDK 8. Could it be that there is somewhere a memory leak?

[2020-02-02 03:12] #5204 closed

[2020-02-02 03:39] k0l0ssus commented on #4125
@gsmet I don't understand how the linked PR addresses the OP. It's a documentation update that refers to a component that's supposed to be a substitute, but

1. The dependency that contains the class isn't part of the BOM nor docs
2. Isn't actually working - I'm still not able to inject `org.jboss.resteasy.plugins.server.sun.http.HttpServerRequest` or any of the other children of `BaseHttpServerRe

[2020-02-02 05:46] carlitorendon opened #6940 "Azure Functions - BaseFunction.java triggers a ClassCastException on Azure JavaWorker"
**Describe the bug**
Say you deploy a Quarkus app to Azure Functions (using mvn azure-functions:deploy or mvn azure-functions:run). Later you want to interact with any of your endpoints. You get a ClassCastException (see Actual Behavior section)

**Expected behavior**
Being able to interact with the REST endpoint

**Actual behavior**
`[2/2/2020 5:34:45 AM] Executed 'Functions.quarkus' (Failed, Id=

[2020-02-02 05:51] carlitorendon commented on #6940
Our current solution is to override the following parts of BaseFunction.java in our project code:

`
// Notice the Optional is of String instead of byte[]
protected HttpResponseMessage dispatch(HttpRequestMessage<Optional<String>> request) {
        VirtualClientConnection connection = VirtualClientConnection.connect(VertxHttpRecorder.VIRTUAL_HTTP);
        try {
            return nettyDispatch(c

[2020-02-02 08:21] the-bug commented on #6906
Hello,
@rsvoboda @gsmet thank you for the review!

There exists no issue for this test. There is just an PR: https://github.com/quarkusio/quarkus/pull/5421. There is the bug described.

I have created an PR that fixes the typo and extends the comment belonging to the test to answers @rsvoboda question.

[2020-02-02 08:34] KMUS opened #6943 "JMX and Quarkus logging gelf ext not working together"
[code]
[code]

The Gelf extension will not log anything in Graylog. Removing the JMX settings and the logs will show up again in Graylog. I have tested it with

 and the

 and I always get the same behaviour. The console logs do not show anything about it.

[2020-02-02 09:38] geoand commented on #6935
Closing as there isn't a Quarkus issue in play here

[2020-02-02 09:38] #6935 closed

[2020-02-02 13:04] mailq opened #6944 "MultipartConfig annotation is ignored at HttpServlet by quarkus-undertow"
**Describe the bug**
Adding @MultipartConfig to a HttpServlet gets ignored by quarkus. While POSTing a file to the Servlet an IllegalStateException "UT010057: multipart config was not present on Servlet" is thrown.

**Expected behavior**
Quarkus or undertow should respect the MultipartConfig annotation and act accordingly.

**Actual behavior**
Despite adding the requested annotation, it is ignored

[2020-02-02 13:44] patriot1burke commented on #4125
@k0l0ssus I veto (if I actually have one) adding any mock HttpServletRequest into resteasy-without-servlet.  If you want to inject an HttpServletRequest, add undertow to your build.  The point of resteasy standalone is that there is no servlet overhead and there is a leaner build.  With the ability to obtain the IP addresses from HttpRequest, there is no reason to use servlet spec with Resteasy.

[2020-02-02 13:44] gsmet commented on #6327
@michael-schnell could you try with the latest 1.2.0.Final and GraalVM 19.3.1?

[2020-02-02 13:53] gsmet commented on #6420
This isn't a Quarkus issue. You have a dependency convergence issue on SnakeYaml with 2 different artifacts of differents versions being there:
[code]
and
[code]

[2020-02-02 13:53] #6420 closed

[2020-02-02 13:58] gsmet commented on #6944
@ia3andy maybe you could have a look at that one?

[2020-02-02 14:07] gsmet commented on #4125
@k0l0ssus have you looked at the documentation? There's no reference to `org.jboss.resteasy.plugins.server.sun.http.HttpServerRequest`.

Either you use a standard servlet environment by adding the `quarkus-undertow` extension or you don't and in this case the replacement is: https://docs.jboss.org/resteasy/docs/4.4.1.Final/javadocs/org/jboss/resteasy/spi/HttpRequest.html .

[2020-02-02 14:22] danielpetisme opened #6945 "Entity updates not persisted when using the repository pattern"
**Describe the bug**
When using the repository pattern, the entity changes are not commited to the database.

**Expected behavior**
The entity should be managed thus changes tracked and persisted to the DB.

**Actual behavior**

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/danielpetisme/quarkus-issue-changes-not-commited-with-repository
2. `mvn compile test`

You'l

[2020-02-02 14:27] gsmet commented on #6943
@loicmathieu does it ring any bell?

[2020-02-02 14:46] k0l0ssus commented on #4125
Apologies @gsmet, I meant in https://github.com/resteasy/Resteasy/pull/2176/files, not in the OP. Given

[code]
None of the following injections work:

[code]

So as it stands, neither RestEasy nor Undertow provide the object.

[2020-02-02 16:52] patriot1burke commented on #4125
@k0l0ssus You have to use @Context within a JAX-Rs resource not @Inject.

[2020-02-02 16:58] geoand commented on #6931
Do you perhaps have a project that reproduces this difference between 1.1.1Final and 1.2.0.Final?

[2020-02-02 18:17] michael-schnell commented on #6327
@gsmet Unfortunately problem stays the same with Quarkus 1.2.0.Final and GraalVM 19.3.1

[code]

[2020-02-02 18:36] k0l0ssus commented on #4125
@patriot1burke Thank you! That works.

[2020-02-02 18:53] nirodg commented on #6350
Any update on this regard?

[2020-02-02 18:59] michael-schnell commented on #6327
The library 'com.vladmihalcea:hibernate-types-52' is not in the dependency hierarchy.

[2020-02-02 22:13] nimo23 opened #6947 "PanacheEntity: remain transient properties after refresh/merge"
**Description**
It is normal that JPA/Hibernate will loose all `@Transient` properties after `entityManager.merge()` or `entityManager.refresh()` is called. In a `rich domain model` (in compare to anemic domain model), there can be a need for a lot of `@Transient` properties within an entity which should stay during the whole lifecycle of the application and not only while it is within the Persist

[2020-02-02 23:11] #6905 closed

[2020-02-03 00:44] HonoluluHenk opened #6948 "@Inject Injection into EntityListener not working"
**Describe the bug**
I do have JPA entities annotated with @EntityListeners.
I @Inject some CDI bean (@RequestScoped in my case but happens for other scopes, too) into the EntityListener.
The bean never gets injected, the reference is allways null.

Things I tried:
* placing some CDI scope annotation onto the entity listener.
* Tried different CDI scopes on the injected bean
* Tried all variants o

[2020-02-03 03:06] stuartwdouglas opened #6950 "OIDC now always delegates to a thread pool"
Since the multi tenacy changes OIDC will now always delegate to a blocking thread pool:

https://github.com/quarkusio/quarkus/blob/3c2cb0d8afd39e60f5dfc1fe601a75f32f2a8b0b/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java#L41

This has a negative performance impact, this should only delegate if required.

[2020-02-03 03:24] kdubb commented on #6931
@geoand https://github.com/kdubb/quarkus-kotlin-mixed-test Almost straight from the project generator. Fails with `1.2.0.Final` plugin but works with `1.1.1.Final`.

[2020-02-03 04:04] sherl0cks commented on #6785
Bumping this thread @gsmet @patriot1burke  @jaikiran. This is a must have feature for any one that wants to deploy quarkus to production on AWS Lambda, which is precisely what we want to do. We are interested and willing to contribute a PR here, but we’d like agreement on a general direction before doing so.

[2020-02-03 04:25] patriot1burke commented on #6785
I should be able to look at it on Tuesday.  Looks like a simple fix.

[2020-02-03 04:57] sherl0cks commented on #6785
Great news. Let us know if you need any input / testing / etc.

[2020-02-03 05:31] lburgazzoli commented on #3300
that has been fixed with the latest graalvm

[2020-02-03 05:31] #3300 closed

[2020-02-03 05:46] jmartisk commented on #6860
+1, I guess it would make sense to use that for mapping between Quarkus properties and outside world properties. One unfortunate thing here is that at least in this case, we need to negate the boolean value, so we might need to incorporate some value transformation mechanism, which if we over-design, will get confusing.

[2020-02-03 05:49] lburgazzoli opened #6951 "A dependency with a jandex index is not more accounted as ApplicationArchive"
**Describe the bug**

While testing against the latest quarkus bits for camel-quarkus, I've noticed that the a test named `core-main` started failed because some resources scanned at runtime are not more found, in this case it is about some files located on the classpath under `META-INF/services/org/apache/camel` even if the dependency that brings them has a proper jandex index.

This happens beca

[2020-02-03 06:33] geoand commented on #6931
I reproduced this, but I changed the title to better reflect what actually happens.

The problem only occurs when `quarkus:dev` is not preceeded by `compile`.

[2020-02-03 07:08] geoand commented on #6931
To fix this we would need to also take the kotlin-maven-plugin into account in `DevMojo` when a compilation is detected.
However it's not straightforward since it seems some setup is needed otherwise we get:

[code]

[2020-02-03 07:22] #6879 closed

[2020-02-03 07:39] mkueng1 commented on #6805
Perhaps it helps when it comes to priorization: it's not "just" a legacy topic - I have to use a library with JPA based logic which is also used in an EE application.

[2020-02-03 08:07] saharshsingh commented on #6898
Awesome. Thanks @geoand ! The `@RegisterForReflection(fields = false, methods = true)` annotation worked like a charm.

[2020-02-03 08:09] geoand commented on #6898
:+1:

[2020-02-03 08:15] geoand commented on #6931
#6953 should take care of the issue

[2020-02-03 08:24] debae opened #6954 "When overridding logging handlers for a specific category we get NullPointerException in native mode only"
**Describe the bug**
Whenever we configure specific handlers that we link to a category we get a NullPointerException.
[code]

**Expected behavior**
The behaviour should be the same as when running in JVM and attach the extra handlers to the Logger that belongs to a category.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure named handlers and link to category
2. Build native image
3

[2020-02-03 08:55] loicmathieu commented on #6943
@KMUS can you give us the content of you `application.properties` file ?

The issue you describe looks like a port conflict, can  you check that the port you use for JMX (4711) is available ? On Linux you can use this type of command : `sudo lsof -i -P -n | grep LISTEN` or just try by using a different port for JMX and see if it makes a difference ...

[2020-02-03 09:39] #6787 closed

[2020-02-03 09:43] sberyozkin commented on #6853
@stefanorg thanks, it all makes sense, and this is exactly what is going to be fixed, PR is still pending, as I needed to improve the tests. I'll ping you once it is merged, or if you can find some time, please test against the PR branch....
thanks

[2020-02-03 09:46] sberyozkin commented on #6596
@evanshortiss no problems, thanks for all the comments, let me close this issue now, reopen please (or create a new one :-) ) if needed, cheers

[2020-02-03 09:46] #6596 closed

[2020-02-03 10:26] geoand commented on #6007
I don't know much about Jib, but from a Quarkus perspective I think it would be interesting to produce an image via JIB directly.

[2020-02-03 10:29] gunnarmorling commented on #6007
Yes, that would be my preference, too.

[2020-02-03 10:34] Sanne commented on #6948
Support for JPA Listeners was not implemented yet; please see the limitations documented here:
 - https://quarkus.io/guides/hibernate-orm#limitations

@HonoluluHenk , may I re-classify this report as a feature request?

[2020-02-03 10:36] loicmathieu commented on #6945
@danielpetisme `Fruit` is a standard entity so you should add getters/setters for it as Quarkus only generates getters/setters for classes that extends `PanacheEntity` and `PanacheEntityBase`.

An other solution is to tell hibernate to use the field via `@Entity(access = AccessType.FIELD)`.

[2020-02-03 10:47] lordofthejars opened #6957 "Qute Error with for"
**Describe the bug**

Hi I have got the next POJO:

[code]
Then I am trying to print all the mainCharacters list to an html file template:

[code]

If I remove the previous part the Quarkus app works correctly and the other attributes of Movie are printed but if I add the for then I got the next exception:

[code]

**Expected behavior**

For logic is executed.

**Actual behavior**

An exception is

[2020-02-03 10:50] geoand commented on #6007
I would be willing to look into this on the side if someone from the Jib team pointed me to the proper APIs to be used

[2020-02-03 10:57] gsmet commented on #6957
/cc @mkouba

[2020-02-03 10:57] gsmet commented on #6954
@dmlloyd looks like an interesting puzzle for you!

[2020-02-03 10:59] gsmet commented on #6951
If you're talking about resources and not annotation/class scanning, then it's more related to the class loader infrastructure than to Jandex.

[2020-02-03 11:04] lburgazzoli commented on #6951
Yeah, it is not a jandex issue per se but maybe a conseguence of the classloader changes that does not add extensions as ApplicationArchives even if they have a proper jandex index file

[2020-02-03 11:16] debae commented on #6954
Already has a chat with him, his response was :
[code]

I'm trying this now and see if that solves the issue.

[2020-02-03 11:41] tomjenkinson commented on #6654
Can we assign this to @mmusgrov please?

[2020-02-03 11:57] mkouba commented on #6957
Hi @lordofthejars, do you use [parameter declarations](https://quarkus.io/guides/qute-reference#parameter-declarations) in your template?

[2020-02-03 12:03] gsmet commented on #5781
@ssindelar please open another issue with a reproducer.

Thanks!

[2020-02-03 12:03] lordofthejars commented on #6957
Yes

[code]

[2020-02-03 12:05] mkouba commented on #6898
So I think it is a bug in ArC. It shouldn't be necessary to use `@RegisterForReflection` - ArC should detect this requirement and register the class automatically. For the record - the reflection is used because of the `@Gauge` annotation and the related SmallRye `@AroundConstruct` interceptor.

Reopening...

[2020-02-03 12:06] lordofthejars commented on #6957
In fact, it works with all parameters except the one defined as a list.

[2020-02-03 12:08] geoand commented on #6898
OK :)

[2020-02-03 12:10] gsmet commented on #6935
@akoufatzis just to answer your question: it's the native image build that takes so much memory, not the Quarkus application itself.

GraalVM consumes a lot of memory when building native images and it didn't improve lately.

[2020-02-03 12:12] #6725 closed

[2020-02-03 12:13] pedroigor commented on #6950
@stuartwdouglas We can fix that by checking whether or not the application is producing its own tenant configuration.

The reason why a thread pool is being used is that the configuration can be built in a blocking way.

[2020-02-03 12:15] mkouba opened #6959 "Improve io.quarkus.arc.impl.Reflections.findX() performance"
As described in https://github.com/quarkusio/quarkus/pull/6922:

At runtime we need to find an appropriate `java.lang.reflect` construct for intercepted beans and beans with an injection point that resolves to a dependent bean that injects `InjectionPoint` metadata. The current implementation demonstrates a poor performance for class hierarchies where we need to iterate over subclasses and `NoSuch

[2020-02-03 12:16] ppalaga commented on #676
Blocked by https://github.com/quarkusio/gizmo/issues/32

[2020-02-03 12:25] ppalaga commented on #676
Blocked by https://github.com/wildfly/jandex/issues/71

[2020-02-03 12:46] gsmet commented on #6959
Wouldn't you be able to resolve all this at bootstrap? At least populate a cache of what's needed?

[2020-02-03 12:47] mkouba commented on #6959
Do you mean inside the STATIC_INIT?

[2020-02-03 12:48] jmartisk opened #6960 "SmallRye Metrics - provide a smoke test for base metrics"
Just something that checks the list of registered base metrics and that they conform to what is described in the spec

[2020-02-03 12:54] xhumanoid commented on #2509
is what do you want?

https://quarkus.io/guides/all-config#quarkus-vertx-graphql_quarkus-vertx-graphql

https://github.com/quarkusio/quarkus/commits/master/extensions/vertx-graphql

[2020-02-03 12:55] sberyozkin commented on #6950
@pedroigor Do you mean `TenantConfigResolver` ?

[2020-02-03 13:01] pedroigor commented on #6950
@sberyozkin both `TenantConfigResolver` and `TenantResolver`.

[2020-02-03 13:13] sberyozkin commented on #6950
@pedroigor Thanks, with `TenantResolver`, `OAuth2Auth` have already been precalculated in the recorder per each tenant configuration available in the `application.properties`, and since the only thing that `TenantResolver` does is getting a tenant id out of `RoutingContext`, I'd say it is safe enough to relax around `TenantResolver` and only block if `TenantConfigResolver` is used.
What do you thi

[2020-02-03 13:26] pedroigor commented on #6950
It is fine to check `TenantConfigResolver` only. I was more concerned about corner cases where the `TenantResolver` could potentially perform a more costly operation even though it just resolves the tenant identifier (e.g.: due to unknown reasons invoke some service to decide the tenant, etc).

Could you elaborate more about tweaking `TenantConfigResolver` ?

[2020-02-03 13:26] lordofthejars opened #6963 "Qute iterating by number"
**Description**

Iterate by a number instead of by a list of elements.

**Implementation ideas**

[code]

I think we could do things more complex like in FreeMarker but at least having this structure would help a lot in some cases.

[2020-02-03 13:36] gsmet commented on #6959
Well, Paul was reporting the issue was at pure runtime so that we were still invoking this stuff when requesting the REST endpoints.

I would have thought that we could avoid doing that and collect all these informations when bootstrapping, be it at static init or runtime init (the former being better but if not possible we can live with it).

[2020-02-03 13:40] sberyozkin commented on #6950
@pedroigor Sure, see what you mean. I suppose it is more likely to happen with `TenantConfigResolver` which would load the config from DB...If we ever have a case of `TenantResolver` attempting to do something costly then we can always say that in this case you have to use `TenantConfigResolver`. We can even update `TenantResolver` javadocs now and say that `this provider must be non-blocking and

[2020-02-03 13:46] sberyozkin opened #6964 "Test that smallrye-jwt works in the dev mode"
**Description**
Verify that changing some of the smallrye-jwt properties (perhaps updating the role claim name ?) is effective in the dev mode

[2020-02-03 13:46] jesperpedersen commented on #6770
@Sanne

There are two cases here.

1) Active JTA transaction

`begin()`, `commit() and `rollback()` throws IllegalStateException(). `isActive()` returns `true`, and the rest of the `EntityTransaction` methods are hookup to `TransactionSynchronizationRegistry`.

2) No active transaction

The code looks ok, as I can't see a `close()` method. Hence Hibernate is leaking a connection within the

[code]

[2020-02-03 13:48] pedroigor commented on #6950
All makes sense. Will update things accordingly.

[2020-02-03 13:48] sberyozkin opened #6965 "Test that quarkus-oidc works in the dev mode"
**Description**
Verify that changing some of the OIDC properties is effective in the dev mode.

[2020-02-03 13:52] cescoffier commented on #6764
@gsmet FYI ^ I don't know what are the release plans

[2020-02-03 13:56] geoand commented on #6007
I took a quick look at how Jib builds images and I think I understand what to use. I'll try to put together a PoC from the Quarkus side this week.

[2020-02-03 13:56] bcluap commented on #6770
@jesperpedersen Where should the close() be called? IMHO, the only call to close() should be done at an application level as per the example I posted at the top of this issue - and then cascaded down to agroal which allocates it back into the pool. Application code should be free to get an entitymanager with resource local TX mgt and start and commit transactions as it pleases over a prolonged tim

[2020-02-03 13:58] carldea commented on #588
In the npm/node world you don't want to watch files inside of the node_modules directory.

A popular thing I've seen in the React community is NextJS aka server-side rendering (different routing ability). You may be able to glean from their patterns and structure to get an idea. Maybe there should be an extension for each web framework (angular, reactjs(clientside rendering), nextjs/reactjs(server

[2020-02-03 13:58] ppalaga commented on #676
Blocked by https://github.com/jboss/jboss-parent-pom/issues/87

[2020-02-03 14:03] mejlholm commented on #5686
Looks like there is a 4.1.45 version of netty now - and 4.1.42 has reported vulnerabilities:

https://snyk.io/vuln/SNYK-JAVA-IONETTY-543490
https://snyk.io/vuln/SNYK-JAVA-IONETTY-543669

Is there anything holding bumping the netty version back?

[2020-02-03 14:05] jesperpedersen commented on #6770
@bcluap Inside Hibernate. A connection is associated with a transaction through a `XAResource` instance, and hence a wrapper is returned. See the JCA, Transaction and XA specifications for more information.

[2020-02-03 14:06] pedroigor commented on #6950
@sberyozkin Btw, in regards to changing `CompletableFuture<OidcTenantConfig>` from the main resolver. We only have access to `AuthenticationRequestContext.runBlocking(Supplier<SecurityIdentity> function)` so that we can run any blocking code. We need to do it differently, I would just add a `isBlocking` method to the `DefaultTenantConfigResolver` and check it when authenticating from `OidcIdentity

[2020-02-03 14:06] Sanne commented on #6770
@jesperpedersen bear in mind this isn't WildFly, in Quarkus we configure Hibernate ORM to only close connections on closing of the EntityManager, as that's proven to be the most efficient configuration.
 - https://github.com/hibernate/hibernate-orm/blob/3a813dcbb4b5cf5b13571c63ff0c66b94a83b53c/hibernate-core/src/main/java/org/hibernate/ConnectionReleaseMode.java#L37-L41

In WildFly it needs to clo

[2020-02-03 14:07] gwenneg commented on #5686
Netty should be upgraded to `4.1.44.Final` on the Quarkus `master` branch before the end of the day: https://github.com/quarkusio/quarkus/pull/6956#issuecomment-581427352

[2020-02-03 14:18] sberyozkin commented on #6950
@pedroigor `DefaultTenantConfigResolver.isBlocking` makes sense :-)

[2020-02-03 14:21] ppalaga opened #6966 "Reproducible builds: order native image BuildItems where necessary"
The order of BuildItems consumed by NativeImageAutoFeatureStep (and possibly other steps) impacts the order of instructions output to the runner jar. To make the build binary reproducible, we need to make the ordering of the BuildItems consumed by NativeImageAutoFeatureStep deterministic. This can be done by making those BuildItems implement Comparable.

Note that there are other build items causi

[2020-02-03 14:21] ppalaga commented on #676
Blocked by https://github.com/quarkusio/quarkus/issues/6966

[2020-02-03 14:21] mkouba commented on #6959
Yes, we do for `@RequestScoped` resources.

We could but I'd rather prefer the caching approach because some of the `java.lang.reflect` constructs don't have to be used at all, e.g. if you declare a resource that is never invoked.

Also collecting such info would be probably more complex and so we should probably try to optimize this (= collect the metadata during STATIC_INIT) post 1.3.

[2020-02-03 14:22] dmlloyd commented on #6966
Note that this only affects the reproducibility of the class files.  If two program instructions are truly order-independent, they can be reordered by the JIT, or reordered by the optimizing GraalVM compiler, at run time.

[2020-02-03 14:23] jesperpedersen commented on #6770
@Sanne You will see this WARN is the physical connection is enlisted, and if there are unclosed wrappers. Calling `.close()` doesn't close the physical connection as it will be released back to the pool on the transaction boundary. There is only one physical connection associated to a transaction, as the XAResource methods are called with the Xid of the connection. Does the `EntityManager` keep th

[2020-02-03 14:23] mejlholm commented on #5905
Would be nice to get this sorted out. We are starting to have a substantial amount of applications with this vulnerability baked in.

[2020-02-03 14:25] Sanne commented on #6770
@jesperpedersen we're not closing yet, the WARN is logged when we're attempting to invoke `void transactionCommit()`.  A close is followed immediately after, but the warning is already logged.

[2020-02-03 14:26] sberyozkin commented on #6571
Hi @pedroigor Great, thanks. I suppose we should probably keep it to Keycloak as it also promotes the idea of having the OIDC managing the further delegation if needed, something yourself and Stian recommended. May be also have the docs having a small section on how to connect to Google...If you agree with keeping it around Keycloak only then having a test would be good
thanks

[2020-02-03 14:27] jesperpedersen commented on #6770
@Sanne Sounds like the statements should be swapped.

[2020-02-03 14:35] ppalaga commented on #6966
Yes, I only care for what we output to the runner.jar at build time.

[2020-02-03 14:37] tcsantosdev opened #6967 "Creating JAR native without RestEasy dependency"
**Describe the bug**
I wanted to create a uber-jar project with native command , and there is no need of RestEasy for me on that library.

**Expected behavior**
Be able to remove RestEasy dependency from pom.xml and build happens succesfully.

**Actual behavior**
Normal build is ok (mvn package), but build native does not proceed sucessfuly.

**To Reproduce**
Steps to reproduce the behavior:
1. Re

[2020-02-03 14:40] Sanne commented on #6770
@jesperpedersen right, I suppose this particular sequence was simply not used before

Please see my notes from debugging, I'll repeat them for your convenience:

Looking into Agroal's `ConnectionHandler`, this translated into invoking these methods, in this order:

1. `void transactionStart()`
2. `ConnectionWrapper newConnectionWrapper()` (while enlisted=true so the wrapper is added to the `enlist

[2020-02-03 14:45] jesperpedersen commented on #6770
@Sanne You need 2b. `ConnectionHandler.onConnectionWrapperClose()` which is called from `ConnectionWrapper.close()`.

[2020-02-03 15:01] gastaldi commented on #6963
Maybe the `for` statement could be smart enough to detect if the variable is a Number and iterate through that instead:
Eg.

Having total = 3:

[code]

Would output
[code]

[2020-02-03 15:15] iocanel commented on #6799
@maxandersen: I think that we can close this now. Any objections?

[2020-02-03 15:22] loicmathieu commented on #5905
I tested Jaeger 1.1 and it seems to work fine.
I didn't provide a PR as I don't know if there is some specific stuff on Quarkus side related to Jaeger.

Maybe @jmartisk can give guidance wheter we can just update the Jaeger client without taking care of something else ?

[2020-02-03 15:35] #6931 closed

[2020-02-03 16:01] aloubyansky commented on #6919
Here is your fix
[code]

[2020-02-03 16:01] #6919 closed

[2020-02-03 16:22] azzazzel opened #6974 "NullPointerException with mixed media types"
When there are different `@Produces`/`@Consumes` media types a `NullPointerException` is returned inside the body of a `400 Bad Request` response. No error/stacktrace in the log.

**Steps to reproduce the behavior:**
1. Use the code from rest-json-quickstart (https://github.com/quarkusio/quarkus-quickstarts/tree/master/rest-json-quickstart)
2. Add `quarkus-resteasy-jaxb` dependency to the pom
3. C

[2020-02-03 16:37] ppalaga opened #6975 "Reproducible bean generation"
The ordering of the bytecode generated by Arc is not determininstic. A PR follows.

[2020-02-03 16:40] ppalaga commented on #676
Blocked by https://github.com/quarkusio/quarkus/issues/6975

[2020-02-03 17:01] HonoluluHenk commented on #6948
OMG, sorry for missing this :(

sure!

[2020-02-03 17:06] HonoluluHenk commented on #6948
For all those arriving here via google:

A workaround is to create some other bean and @Inject your bean there... just so Quarkus knows it needs to register your bean for CDI injection.

[code]

Then retrieve your bean instance in the EntityListener like this:
`FooBean fooBean = CDI.current().select(FooBean.class).get();`

[2020-02-03 17:11] #6092 closed

[2020-02-03 17:13] gsmet commented on #6974
I'm unsure this could work if you don't have `quarkus-resteasy-jaxb`. But still this is weird.

[2020-02-03 17:14] gsmet commented on #6974
@ia3andy I think we need to understand where this NPE is coming from. Even if the configuration is invalid, we shouldn't throw a NPE, especially with nothing being logged.

[2020-02-03 17:16] gsmet commented on #6967
Could you create a simple reproducer project? I think it's important we know which dependencies you are using.

Thanks!

[2020-02-03 17:17] gsmet commented on #6967
BTW, have you done a `clean` after having removed the extension?

[2020-02-03 17:18] Sanne commented on #6948
no worries at all :) I realize it's not very visible; also we could do a better job in logging a warning.

[2020-02-03 17:25] azzazzel commented on #6974
1) I do have `quarkus-resteasy-jaxb` (see 2 in the original post)

2) My debugging research points me down to `AbstractJAXBProvider`. [This](https://github.com/resteasy/Resteasy/blob/master/providers/jaxb/src/main/java/org/jboss/resteasy/plugins/providers/jaxb/AbstractJAXBProvider.java#L76) returns `null`.

[2020-02-03 17:30] ia3andy commented on #6974
@gsmet sure I'll look into it tomorrow ;-)

[2020-02-03 18:21] KMUS commented on #6943
@loicmathieu

`INFO: Installed features: [agroal, cdi, flyway, hibernate-orm, hibernate-validator, jdbc-postgresql, logging-gelf, narayana-jta, resteasy, resteasy-jackson, scheduler, servlet, undertow-websockets]`

**application.properties**

[code]
[code]

`export JAVA_TOOL_OPTIONS="-Djava.rmi.server.hostname=127.0.0.1 -Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.ssl=false -

[2020-02-03 18:59] gsmet commented on #6974
@ia3andy my guess would be that we probably need to also consider `@Consumes` for `ContextResolvers` here: https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java#L270 .

[2020-02-03 19:06] #6878 closed

[2020-02-03 19:44] fmhwong commented on #6738
@gunnarmorling I tested this with the latest Quarkus with rest-json-quickstart.  If I commented out `quarkus-resteasy-jsonb`, I will got this warning during startup.

[code]

[2020-02-03 19:48] gsmet commented on #6738
@fmhwong thanks for checking. I think a warning is enough.

Can you add the handling of `SSE_ELEMENT_TYPE`? Once done, I think we can close this one.

[2020-02-03 20:09] tgippi opened #6978 "java.lang.LinkageError from quarkus:dev, using entities from external jars"
**Describe the bug**
Quarkus startup with `mvn quarkus:dev` fails with `java.lang.LinkageError`, as soon as we use `quarkus.index-dependency` for external dependencies which contain `javax.persistence` annotated classes (e.g. JPA Entities).
It doesn't happen when we run the packaged jar file directly by using ` java -jar target/getting-started-1.0-SNAPSHOT-runner.jar`

**Expected behavior**
Startu

[2020-02-03 20:14] nimo23 commented on #6959
Using` java.lang.invoke.MethodHandle/MethodType` instead of` java.lang.reflect `brings some performance benefits. Other approaches like https://github.com/Hervian/lambda-factory are based on `java.lang.invoke.LambdaMetafactory` **which are a lot faster than MethodHandle** (benchmark with example: https://www.optaplanner.org/blog/2018/01/09/JavaReflectionButMuchFaster.html).

However, creating thos

[2020-02-03 21:21] danielpetisme commented on #6945
I confirm using getters/setters do the job with Repository. I have to admit I have been naive on this one..
Now I can see the 2 lines in https://quarkus.io/guides/hibernate-orm-panache#the-daorepository-option

My 2cts, it would worth to add a classic POJO before the repository snippet with a comment like "if the entity does not inherit `PanacheEntity` you must define getter/setters"
And convert t

[2020-02-03 22:12] geoand commented on #6007
Turned out to be pretty easy to create a docker image using Jib from Quarkus. Here is the Draft PR: https://github.com/quarkusio/quarkus/pull/6980

[2020-02-03 22:37] gwenneg commented on #5838
This is already part of `1.2.0.Final` so I'm closing this issue.

[2020-02-03 22:37] #5838 closed

[2020-02-03 22:39] famod commented on #2835
Very much needed for modular monoliths.

[2020-02-04 00:28] nimo23 commented on #6959
@mkouba Would be nice if quarkus provides a layer (reflection utils) on top of `LambdaMetafactory` to handle all its reflections through this layer instead of `java.lang.reflect`.

[2020-02-04 02:13] #6852 closed

[2020-02-04 06:56] haraldatbmw opened #6982 "Document how to create custom SecurityIdentityAugmentor"
**Description**
Please extend the security guide on the extension mechanism for custom augmentors.

[code]

[2020-02-04 07:13] RasmanTuta commented on #6751
I have the same problem. I had to add the following to the pom in order to have the tests run under IntelliJ
[code]

[2020-02-04 07:24] mesejo commented on #6607
Hi, I could take this. What  should be  the name of the configuration property? Is "quarkus.security.default-role-decoder-name"  acceptable?

[2020-02-04 07:42] emmanuelbernard opened #6983 "Document and expose documentation of BuildItems in an automated fashion"
A big value of extensions is the `BuildItem` model.
We need to document them so other extension writers can discover and use them.
They are also part of the extension contract.

1. document all "public" `BuildItem` with adequate JavaDoc
2. build an anotation processor that will collect the `BuildItems` and generate a list of them per extension and a documentation (summary?).

[2020-02-04 08:39] mkouba commented on #6959
We can't use `MethodHandle` because it's not supported in GraalVM/substrateVM.

Also we usually don't use the `java.lang.reflect` constructs to invoke methods but merely to allow users to access some parts of the interceptors/CDI API (see `InvocationContext.getMethod()` in the description).

[2020-02-04 08:57] loicmathieu commented on #6945
@danielpetisme I review the documentation of Hibernate with Panache in the following PR : #6923
I agree with you, I will make it more explicit that if an entity didn't inherit from `PanacheEntity` it needs getters/setters.

It's strange that `AccessType.Field` didn't works but I'm not an Hibernate expert ...

Let's keep this one open untill the rework on the documentation is done.

[2020-02-04 08:58] #6963 closed

[2020-02-04 09:45] machi1990 commented on #6983
Is publishing a JavaDoc another option that has been considered?

[2020-02-04 10:08] KaenDagger commented on #6304
@J00LZZ  could you please further elaborate the issue ?

[2020-02-04 10:40] nimo23 opened #6986 "Provide client for Apache Ignite"
**Describe the extension**
Apache Ignite (https://ignite.apache.org/features/datagrid.html) is a caching provider provides and also provides native persistence by switching from ACID-caching to ACID-persisting which eliminates the need for a typical database provider (such as MySql, etc). It also supports _embeeded_ mode. Would be nice to have the ability to use Apache Ignite within Quarkus.

Btw.

[2020-02-04 11:07] gsmet opened #6988 "Gradle's QuarkusPluginFunctionalTest shouldn't use @TempDir"
When using `@TempDir` in a Junit test, the temporary directory is removed at the end of the execution.

So, right now, if you have a test failing in `QuarkusPluginFunctionalTest`, you don't know what's going wrong.

We should probably create a temporary directory in the `target` dir, that is not removed at the end of execution.

[2020-02-04 11:08] gsmet commented on #6988
@gastaldi could you check? I had a failure when releasing this morning and had to apply:
[code]
to get some useful info.

[2020-02-04 11:15] gastaldi commented on #6988
I'll investigate. Two things I know in advance:

1) The `@TempDir` should refer to a new directory and contain only the generated project sources

2) Gradle test failures logs are uploaded to scans.gradle.com and are kept there for a few days AFAIR - you should see a link in the build.

[2020-02-04 11:21] gsmet commented on #6988
Yes but it's removed even in the case of failures. From the JUnit doc, it seems to be the expected behavior. (but I might have missed something)

Yeah, well, they asked for an email. I stopped there. I don't want to give an email to see my own test failures.

[2020-02-04 13:29] dmlloyd commented on #6983
It would be nice if we could use structural means to validate that a build item is "public": that is, it must be `public` (obviously) but must also reside in an `spi` module (not `deployment`).

[2020-02-04 13:31] emmanuelbernard commented on #6983
We can consider that but then filtered by `BuildItem`? Also how do you get a view of all of them (same problem config had and we ended up creating a all page).

[2020-02-04 13:31] emmanuelbernard commented on #6983
Do you mean module or package?

[2020-02-04 13:33] dmlloyd commented on #6983
Module.  Build items not in separate `spi` modules historically cause dependency issues.

[2020-02-04 14:24] rosell opened #6992 "Coverage with jacoco provoques not intialize configuration"
**Describe the bug**
If you have a class with a **@ConfigProperties** when run the integration test fails because on the configuration not are defined the synthetic fields added by jacoco.

**Expected behavior**
To run the integration test without problems.

**Actual behavior**
The integration tests fails because try to verify the synthetic values inserted by jacoco , and they are not defined on t

[2020-02-04 14:33] patriot1burke commented on #6785
* Propagate the tracing header – Get the X-Ray tracing header from the Lambda-Runtime-Trace-Id header in the API response. Set the _X_AMZN_TRACE_ID environment variable with the same value for the X-Ray SDK to use.

@sherl0cks X-RAY recorder (java)  looks for the env var?  Looks like you can hack env variables within java:  https://stackoverflow.com/questions/318239/how-do-i-set-environment-variab

[2020-02-04 14:45] gsmet commented on #6974
@azzazzel @ia3andy worked on a fix that will be included in our next release.

In the meantime, there is an easy workaround: just create a dummy endpoint with `@Produces(MediaType.APPLICATION_XML)`. It will trigger the JAXB context resolver registration.

Thanks for reporting this will all the details!

[2020-02-04 14:45] sherl0cks commented on #6785
@patriot1burke I’m not an JAVA AWS xray SDK expert, but fortunately the source is oss , and from my reading of the code and docs, there is no other way to set the variable in the SDK than the environment variable. Link to code on github in one of my comments above.

I’m fine with whatever approach y’all want to maintain. Random thought - does process builder have platform specific code which may c

[2020-02-04 14:47] patriot1burke commented on #6785
@sherl0cks See my stackoverflow link above.  I think getenv is hackable.  Can only try it :)

[2020-02-04 14:47] patriot1burke commented on #6785
I just don't want to have to wrap this in a bootstrap shell script.  Would be a big performance hit.

[2020-02-04 14:49] patriot1burke commented on #6785
Sorry for the extra comment, but @sherl0cks scroll down on that stackoverflow link.  Somebody shows how to hack getenv.

[2020-02-04 14:54] sherl0cks commented on #6785
Ah ok. Let us know how/when to test.

[2020-02-04 14:57] gastaldi commented on #6988
@TempDir cleanup can be avoided when https://github.com/junit-team/junit5/issues/2159 is implemented.

[2020-02-04 15:17] mkouba opened #6993 "SmallRye Metrics - @Gauge methods analyzed in MetricsInterceptor should be registered for reflection"
**Describe the bug**
`MetricsInterceptor` does not see the methods annotated with `@Gauge` if they're not registered for reflection by another extension or annotated with `@RegisterForReflection`.

**Expected behavior**
Methods are registered automatically.

**Actual behavior**
Methods are not registered automatically. `MetricsInterceptor` does not register a gauge method. No error or warning mess

[2020-02-04 15:47] #5686 closed

[2020-02-04 15:48] #6418 closed

[2020-02-04 15:50] #5955 closed

[2020-02-04 15:57] patriot1burke commented on #6785
@sherl0cks XRAY kinda sucks for depending on an environment variable.  Especially a value that is per-request dependent.  This means that if you are using xray, you can't process multiple requests at once which is something we wanted to do.

FYI: @n1hility @stuartwdouglas

[2020-02-04 16:01] azzazzel commented on #6974
Thank you @gsmet

[2020-02-04 16:02] ewsni opened #6995 "Pac4j extension for quarkus"
I use the library pac4j in my apps to secure endpoints.
Is it possible to obtain an extension for pac4j ?
Otherwise could somebody give me an alternative to secure endpoints and manage SSO authentication already fonctionnal with quarkus ?
I'm not interrested by full apps like keyclock.

[2020-02-04 16:03] sherl0cks commented on #6785
@patriot1burke perhaps worth a discussion with AWS folks? The Lambda custom runtime docs are pretty clear about [these steps](https://docs.aws.amazon.com/lambda/latest/dg/runtimes-custom.html). That said, the [NodeJS runtime provided by AWS has support for several promises runtime at once](https://aws.amazon.com/blogs/compute/node-js-8-10-runtime-now-available-in-aws-lambda/), so my guess is that

[2020-02-04 16:09] emmanuelbernard commented on #6664
Hey @josejulio
Can you give a concrete example of code using the Sort.by the way you intend it. From what I glimse, you have unknown input and you want to treat no sort / no paging etc as seamlessly as possible in your code. And it seems handling `null` was breaking the flow. I'd love to see the code with the new approach to figure out how you write this "generic" query engine.

[2020-02-04 16:23] loicmathieu commented on #6943
In fact, the issue is not only on the loggin-gelf extension, the Quarkus logging system seems to have issues when activating remote JMX.

When running the main integration test with remote JMX enabled, the log format is not the same (it's the default format from JUL) as when running with remote JMX disabled;

Step to reproduce:

- Create a package of the main integration test: `mvn clean package`

[2020-02-04 16:27] dmlloyd commented on #6943
We don't actually support remote JMX at all in Quarkus AFAIK.  What are you trying to do?

[2020-02-04 16:29] patriot1burke commented on #6785
@sherl0cks Actually instead of hacking System.getenv, which may or may not work, I think I'll just code replace LambdaSegmentContext.getTraceHeaderFromEnvironment

[2020-02-04 16:32] emmanuelbernard commented on #2649
It's something I'd love to go to the bottom of as it affect presentations. But among other things, this is low priority.

[2020-02-04 16:55] nimo23 commented on #6995
You could use JWT https://quarkus.io/guides/security-jwt.

[2020-02-04 17:19] sberyozkin commented on #6995
Or Quarkus OIDC: https://quarkus.io/guides/security-openid-connect
and if the opaque tokens, oauth2: https://quarkus.io/guides/security-oauth2

@ewsni I don't think we will go ahead with some alternative in this space. Let me close this issue soon, thanks

[2020-02-04 18:05] #6957 closed

[2020-02-04 18:18] sberyozkin opened #6997 "Improve OIDC multi-tenancy and "web-app" configuration support"
**Description**
Right now the tenant-specifc `web-app` `application-type` will be ignored unless a default configuration is provided.
For example, configuring only:
[code]
will log a warning that `quarkus.oidc.tenant-1.application-type` property is not supported.
The reason for that is that the `application-type` property is a build time property and as such it is not available at the moment the t

[2020-02-04 18:35] #6974 closed

[2020-02-04 18:49] pedroigor commented on #6997
@sberyozkin I would go for #2 (composite mechanism) so that people can support both bearer and code on a per-tenant basis.

[2020-02-04 20:11] azzazzel commented on #1724
I'm facing the same issue (in 1.2.0.Final) and neither of the workarounds works :(

In my case I have `AbstractUsecaseTest` with all the tests and `abstract SomeService getService()` method in it.
Then I have `ParticularUsecaseTest extends AbstractUsecaseTest` where I only `@Inject SomeService` and return it in `getService()`

- I don't want to change my abstract class to use a delegate (will brea

[2020-02-04 20:35] jonathanvila commented on #1724
@Milen , can you try your code with the local built of Quarkus at master (
999-SNAPSHOT) ? I havent tried deeply but I think it solved this issue for
me.

On Tue, Feb 4, 2020 at 9:11 PM Milen Dyankov <notifications@github.com>
wrote:

[2020-02-04 20:37] patriot1burke commented on #6785
@sherl0cks Ok, I have a [branch](https://github.com/patriot1burke/quarkus/tree/lambda-trace) you can try out.  I don't know if the xray bytecode subsitution works yet as I need to set up an xray example and don't know how to do it.  Its probably gonna be at least a day before I have time to look into XRAY to fully test this out.

YOU DO NOT NEED TO:
* Include the xray maven dependency in your buil

[2020-02-04 20:58] sherl0cks commented on #6785
@patriot1burke thank you very much, we're looking into it now. Would you like us to help set up a reproducer for you?

[2020-02-04 21:02] patriot1burke commented on #6785
@sherl0cks That would be great.  Most of the work though is weeding through all the config and console bits.

[2020-02-04 21:32] #6959 closed

[2020-02-04 21:33] #6738 closed

[2020-02-04 21:35] geoand commented on #6993
Will this also be solved by #6989?

[2020-02-04 21:44] #6995 closed

[2020-02-04 22:34] sberyozkin commented on #6997
@pedroigor I thought I left a comment but looks like I lost it :-). Yes 2) would be good, but 1) is still needed otherwise it would not be possible to configure a `web-app` on the tenant-specific basis.

[2020-02-04 23:22] gboro54 commented on #6896
@vsevel - Thanks for the info. I am working on the details now.

[2020-02-04 23:29] fmhwong commented on #6584
@angelozerr You asked about "mapped property".  Did you mean [this](https://github.com/eclipse/microprofile-config/blob/master/spec/src/main/asciidoc/configsources.asciidoc#environment-variables-mapping-rules)?

[2020-02-04 23:33] christianThor commented on #6785
@patriot1burke I'm on @sherl0cks's team, just tested the change and can confirm it's working!

<img width="1271" alt="itworks" src="https://user-images.githubusercontent.com/25309109/73796607-83b0f180-4762-11ea-8452-67c960ad224b.png">

I can help get the reproducer set up so we can show the configuration we used to get xray working seamlessly. There were several classes that needed to be registere

[2020-02-04 23:51] patriot1burke commented on #6785
@christianThor Yes, please make a list of the refection and proxies that are needed and we can make sure its automatically done.

[2020-02-05 02:16] josejulio commented on #6664
Hello, yes,

Here is how i'm currently using a method to extract the sort [1] out of the query params (along pagination) and a builder to create a Pager [2]. This `Pager` initialize the `Sort` with no arguments to simplify
[code]
to
``` this.sort.ad(column, order);```

When building the `Pager` (see [2]) I just check if the sort has 0 elements and swap it for `null`

At a later point, I want to ve

[2020-02-05 03:20] christianThor commented on #6785
@patriot1burke here's the reproducer which should work if you try deploying the stack to AWS cloud defined by `appTemplate.yml`. I have not tried testing it using SAM local. I included an S3 client because our use case is coupled to the AWS SDK client, so there will be additional configuration necessary in the pom to get S3 client working. Hope this is helpful! Let us know if you need anymore info

[2020-02-05 07:34] masini commented on #6934
I'm not sure it's related because that extension is jandexed and only a single class is reported (StreamingOutput) not all the included classes.

[2020-02-05 07:52] johnaohara opened #6998 "native cron action has hard coded sdkman java version"
**Description**
This action fails when a new version of Java is released in sdkman

**Implementation ideas**
query sdk to obtain latest version before installing in the `Report` script of action

[2020-02-05 07:52] geoand commented on #6304
@J00LZZ which parts of Quarkus do you have in mind for this feature?

[2020-02-05 07:55] mkouba commented on #6993
Nope, that's a different issue. This registration must be perfomed in the SM Metrics extension.

[2020-02-05 08:06] sdaschner commented on #5314
+1 same happens for me `1.0.1.Final`. Are there any updates on this?

[2020-02-05 08:08] emmanuelbernard commented on #6664
Thanks, that's indeed what I had conceptually in mind.
`Sort.empty()` as the default where you can then apply `sort.and` on it does the job.

[2020-02-05 08:09] ppalaga commented on #6966
This is not necessary with the last iteration of https://github.com/quarkusio/quarkus/pull/6972

[2020-02-05 08:09] #6966 closed

[2020-02-05 08:12] akoufatzis commented on #6935
@gsmet Yes I understood that. I opened the issue here because I thought it was related to building natively the Quarkus application and it was also strange that this huge increase in the memory needed ( 2GB ---> 6GB) was after updating both Quarkus and GraalVM. But after the helpful responses here, I opened the issue in the GraalVM repo. So feel free to close it.

[2020-02-05 08:26] angelozerr commented on #6584
I mean for instance [quarkus.datasource."datasource-name".driver](https://quarkus.io/guides/all-config#quarkus-agroal_quarkus.datasource.-datasource-name-.driver) where "datasource-name" is dynamic.

[2020-02-05 08:27] J00LZZ commented on #6304
After doing some research of my own I found out that it might be pretty hard to handle in a generic way. The `callBy` method in `KFunction<T>` can be passed a map of `KParameters` mapped to `Any` (or `Object` in Java) to call the function, any parameters that do not have a value in the map but do have a default value will be set using the default value.

Using this feature it should be possible to

[2020-02-05 08:54] Maralbas commented on #6751
I tried that dependencies and it worked. But now I am getting java.lang.ClassNotFoundException: io.quarkus.undertow.deployment.StaticResourceFilesBuildItem

I tried to find StaticResourceFilesBuildItem in the quarkus code but it does not exist

https://github.com/quarkusio/quarkus/blob/master/extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/StaticResourceFilesBuildItem.java giv

[2020-02-05 09:30] ge0ffrey opened #7000 "QuarkusUnitTest: assertException shadows out setExpectedException"
In the testcase below, this unit test is red (which is correct):
[code]
This unit test is green (which is also correct):
[code]
Obviously, combining both of these (a green and a red test) should give me a red result. But this test is green (which is wrong):
[code]
Full source code:
[code]

Proposal A) Check both (do not shadow)
Proposal B) Fail fast if both are used together.

[2020-02-05 09:33] geoand commented on #7000
And now you contribute a fix to this :)

[2020-02-05 09:44] ge0ffrey commented on #7000
You want proposal A) or proposal B) to be implemented?

[2020-02-05 09:46] geoand commented on #7000
I think B) is more reasonable. A) could perhaps lead to confusion if things fail? With B) I think things will be very clear since we can provide a proper error message

[2020-02-05 09:47] gsmet commented on #6934
It's just that it needed to be added to the ignore list as it has its own provider handling it.

I did it there: https://github.com/quarkusio/quarkus/pull/7001 .

[2020-02-05 09:52] tpenakov commented on #6549
Hi @sberyozkin ,
I was thinking about the problem when the number of classes for docx, xlsx and pptx for native compilation become too big and the result is OutOfMemoryError.
What if we create a separate apache-tika extension per ooxml format? In that way we will have apache-tika-ooxml-docx, apache-tika-ooxml-xlsx, apache-tika-ooxml-pptx extensions.
What do you think - is there a chance this to so

[2020-02-05 10:01] #6998 closed

[2020-02-05 10:04] Jupdi commented on #6349
We got the same Issue in two independent implementations.

[2020-02-05 10:08] gsmet commented on #5314
@asoldano could you confirm that what is described above should work?

[2020-02-05 10:16] #6944 closed

[2020-02-05 10:27] andreas-eberle commented on #6531
Unfortunately, I'm not deep into gitlab. That's why I'm asking for the example.

[2020-02-05 10:32] nimo23 commented on #6934
@gsmet Does this mean that one must put all those classes mentioned in https://github.com/quarkusio/quarkus/issues/5871 into ignore list?

For example:

[code]

[2020-02-05 10:34] gsmet commented on #6934
@nimo23 no. For your other use case, there's probably something that should not be serialized and then drags everything with it.

Either it's an error in your code or it's Quarkus not excluding things properly.

[2020-02-05 10:35] gsmet commented on #5871
I would need a reproducer to understand where this is coming from and see if we need to tweak the rules or not.

[2020-02-05 10:40] #6682 closed

[2020-02-05 11:24] ge0ffrey commented on #7000
And with B) we can always go to A) without breaking backwards compatibility. Not so visa versa. When in doubt, leave it out.
I'll take a look at doing B) later this week.

[2020-02-05 11:31] geoand commented on #7000
Thanks @ge0ffrey!

[2020-02-05 11:35] sberyozkin commented on #5874
I've removed `KeycloakAdminClient does not work because it depends on RestEasy 3.x (#6350)` from this Epic because it is technically not related to both `quarkus-oidc` and `quarkus-keycloak-authorization`

[2020-02-05 11:36] #5874 closed

[2020-02-05 11:37] sberyozkin commented on #4817
Closing it until the users will start asking about UMA

[2020-02-05 11:47] sberyozkin commented on #4415
Closing it for now, verifying against Keycloak is sufficient, there are just too many OIDC servers so adding a test against one extra one will only stress CI more

[2020-02-05 11:47] #4415 closed

[2020-02-05 11:52] geoand commented on #6967
Yeah, the only way you can get to the bottom of this is having a simple reproducer.

[2020-02-05 12:19] manovotn commented on #6983
So you will keep the package the same, but place it in a different module and then your deployment module will depend on the `spi` module? Since that's the only way not to break existing extensions, right?

What I don't like about that is that you will have two equal packages coming from two different JARs which, if I recall correctly, is something Java 9+ doesn't like (I know we don't care about