[2019-05-22 19:40] dmlloyd commented on #1615
It has to come after #284 which also adds support for command-line arguments and configuration changes to support them, which in turn can be used to select a profile.  We do have code to support profiles with SmallRye Config already though, so the bulk of that work is done.  I'm working on #284 now; I'd say I'm about halfway done.  Maybe another week or two.

[2019-05-22 19:43] pedroigor opened #2564 "[quarkus-keycloak] - CORS related properties should be optional otherwise they are set as an empty string"
**Describe the bug**
When some of the CORS related properties are not explicitly set in `application.properties` they are parsed as an empty string.

**Expected behavior**
The CORS properties that map to a `string` are optional and if not defined should resolve to `null`.

The behavior differs from what users have when using any other Keycloak adapter. We need to keep the same behavior and user ex

[2019-05-22 20:09] machi1990 commented on #1615
@dmlloyd thanks for clarification. Let me look on another issue.

[2019-05-22 20:32] gnodet commented on #2417
In the JAXB case, it depends if JAXB is actually used at build time or run time.
If only used at runtime, it seems to me that the substitution applied to `com.sun.xml.bind.v2.runtime.reflect.opt.AccessorInjector` will prevent any access to `com.sun.xml.internal.bind.v2.runtime.reflect.opt.Injector`, so the delay of this class should not be mandatory as it should not be included at all.  If used at

[2019-05-22 20:46] gwenneg opened #2566 "NullPointerException on generic injection with quarkus-arc"
**Describe the bug**
Following the https://github.com/quarkusio/quarkus/issues/2456 issue correction on master, I just ran a quick test with a snapshot version of quarkus. My unsatisfied dependency problem is gone (thanks for that!) but I have now an injection issue at runtime.

**Expected behavior**
I expect injections to work with generics.

**Actual behavior**
[code]

**To Reproduce**
Steps to

[2019-05-22 23:52] Sparow199 opened #2568 "Add support for logging async handler"
**Description**
async-handler
Defines a handler which writes to the sub-handlers in an asynchronous thread. Used for handlers which introduce a substantial amount of lag.

**Implementation ideas**
I tried to implement this feature in my [fork](https://github.com/Sparow199/quarkus/commit/1d79a3be33ac768c105760d0c211d7a1d8cbd50f) based on log rotation integration (Work in progress).
I'm waiting for

[2019-05-23 00:26] dmlloyd commented on #2568
What handler would require wrapping with the async handler?

[2019-05-23 00:34] #2564 closed

[2019-05-23 06:47] Sparow199 commented on #2568
Console and File handlers. It's disabled by default and could be enabled via configuration properties.  This improves the application’s performance because it allows the application to not have to wait for the logging subsystem to complete the action.

[2019-05-23 07:55] Sparow199 commented on #2568
I'm agree with you that's optional, but it's could be interesting to give the developers this feature.

[2019-05-23 08:07] manovotn commented on #2560
Alright, I'll give it a go.

[2019-05-23 09:36] brunobat commented on #2561
Thanks @machi1990 . I've tested my code with your master and it works well. You guys rock! looking forward for next release!

[2019-05-23 10:06] loicmathieu commented on #2558
I more suspect something in this big PR https://github.com/quarkusio/quarkus/commit/b874f88ddc98fb2ed68161006be2af7abb43c95f#diff-f7426777fbbaee3e12175eae8d11f0c4 as I don't see anything in the two others that can cause a severe performance degradation.
I will have a quick look today if I find some times ...

[2019-05-23 10:22] machi1990 commented on #2561
Good to hear that it solves your issue. Do not hesitate to flag it as `duplicate`  and to close the issue.

The next release 0.16.0 is planned for the 29/05.  Stay tuned :-)

[2019-05-23 10:45] gsmet commented on #2558
@loicmathieu could you maybe attach a profiler and see what you can get from it?

[2019-05-23 11:10] manovotn commented on #2566
@gwenneg thanks for pointing this out, it slipped through the original tests because I forgot about lazy init and didn't actually invoke bean method. https://github.com/quarkusio/quarkus/pull/2573 should fix this.

[2019-05-23 11:37] mkouba opened #2574 "Rename HotDeploymentConfigFileBuildItem"
I believe it would sense to rename `HotDeploymentConfigFileBuildItem` as config files are not the only resources that should trigger redeploy. For example we may need this build item for templates. I'm not sure about the name. Maybe `HotDeploymentMonitoredFileBuildItem` or just `HotDeploymentFileBuildItem`.

[2019-05-23 12:54] mkouba opened #2575 "Make it possible to disable multi-module dev mode discovery"
It's causing issues in multi-module maven projects that contain quarkus extension modules.

[2019-05-23 13:02] #2566 closed

[2019-05-23 13:22] #2561 closed

[2019-05-23 13:28] rsvoboda commented on #2328
At the end of https://quarkus.io/guides/building-native-image-guide there is a note about the distroless version.

[2019-05-23 14:09] ah1508 opened #2576 "CDI.current().select(Foo.class).get() does not work if Foo is not injected"
`CDI.current().select(...).get()` is useful to get a bean whose type is known dynamically, with quarkus it only works if the type is injected somewhere.

For example :
`Foo foo = CDI.current().select(Foo.class).get()` causes a javax.enterprise.inject.UnsatisfiedResolutionException

Problem solved with

`
@Inject
Foo foo;
`

even if `foo` is not used.

If it is due to build time optimizations, how

[2019-05-23 14:13] kenfinnigan commented on #2576
@mkouba can confirm but I'd say it's because the class is being removed because ArC can tell it isn't needed

[2019-05-23 15:09] loicmathieu commented on #2558
@gsmet profiling startup is hard, I try using the startup profiler of visualvm but cannot see anything relevant (no OpenAPI specific hotpoint). I will try to investiguate a little more tomorrow if I find some time.

[2019-05-23 15:09] kenfinnigan commented on #2558
https://github.com/quarkusio/quarkus/pull/2569 will hopefully help with startup when OpenAPI is involved as well

[2019-05-23 15:36] polarctos commented on #2470
We are facing the same issue here. The ``<mirrorOf>*</mirrorOf>`` from the ``settings.xml`` is ignored.

The normal build works fine but ``@QuarkusTest`` makes some Maven downloads itself. Why is this even necessary, all dependencies should already be on the classpath when the tests are run via IDE or Maven Surefire?

[2019-05-23 16:02] loicmathieu commented on #2558
Hi, as this commit is merged to master I recompile Quarkus from master to see if it changes something but unfortunatly not ... Still the same startup time ...

[2019-05-23 18:18] tomerz90 commented on #2457
+1 for Jackson support

[2019-05-23 18:26] tomerz90 opened #2578 "Jackson support"
It would be great to have Jackson support (also for native image) to be able to use Jackson directly to serialize and deserialize Java objects using Jackson's `ObjectMapper`

[2019-05-23 19:17] gwenneg commented on #2566
@manovotn I just tested the master branch again and my reproducer repository is fixed, but I still have an issue with a more complex generics injection case. I will try to update the reproducer and maybe create a new issue with more details.

[2019-05-23 19:28] gwenneg commented on #2413
@geoand I've been using the master branch lately to check some other issues corrections and I've been experiencing the issue mentioned in this ticket while using the `./gradlew quarkusDev` tasks (while `./gradlew build` is working fine). I will try to create a reproducer repository later.

[2019-05-23 19:50] Dufgui commented on #2576
I would like to fix this

[2019-05-23 21:57] Dufgui commented on #2578
Hello, I think you can use yasson for this, no?
It's added by jsonb extension:
https://github.com/quarkusio/quarkus/blob/master/extensions/jsonb/runtime/pom.xml#L19
and according to the yasson readme:
https://github.com/eclipse-ee4j/yasson
you can use their mapper:
[code]
Could you try like this ?

[2019-05-23 22:09] tomerz90 commented on #2578
Yes I could, my problem is I have an application that I wanted to migrate to Quarkys but it makes heavy use of Jackson and replacing Jackson is not an option currently

[2019-05-24 05:51] starksm64 opened #2579 "CDI.current().select(...) fails due to bean class being loaded in both RuntimClassLoader and Launcher$AppClassLoader"
**Describe the bug**
In working on a fix for #2528 , I have run into an issue where a request scoped bean is being loaded by two different class loaders and this causes a CDI.current().select(SecurityContextPrincipal.class) query to fail.

**Expected behavior**
The code is similar to what the smallrye-jwt extension is doing to provide a java.security.Principal producer, so I expected similar behav

[2019-05-24 06:27] geoand commented on #2576
A while back I had proposed something in between removing all unused and not removing unused beans at all. The idea was to keep all beans defined in the application - see [this](https://github.com/quarkusio/quarkus/pull/1545).

Perhaps it's something we should reevaluate? If it is something that we think makes sense, then I can redo the Pr

[2019-05-24 06:35] geoand commented on #2413
A reproducer would be great, thanks!

[2019-05-24 06:46] mkouba commented on #2576
@kenfinnigan I confirm.

@Dufgui This optimization can be disabled using `quarkus.arc.remove-unused-beans=false`. See https://quarkus.io/guides/cdi-reference#remove_unused_beans.

@geoand I like both of your ideas. Actually, I've been thinking of the annotation for a long time. It could be just `@Unremovable`. WRT keep app beans - it could be a special "mode", so that we could reuse the `quarkus.a

[2019-05-24 06:52] geoand commented on #2576
@mkouba `@Unremovable` sounds perfect!

I can implement both of these two proposals in the following days if you agree.

[2019-05-24 06:58] mkouba commented on #2576
@geoand of course! ;-)

[2019-05-24 07:04] Dufgui commented on #2576
thanks for your reply. Yes i see the remove unused flag (in the code, not in the doc ;o) )
I just try the approach to keep the optimization. But as I really like the `@Unremovable` idea.

[2019-05-24 08:31] Dufgui commented on #2578
I try to create extension without changing anything and it seems working without doing anything.
https://github.com/Dufgui/quarkus/tree/2578_jackson
https://github.com/Dufgui/quarkus-quickstarts/tree/2578_jackson

What error have you experimented in native ? Could you provide the substrat log ?

[2019-05-24 09:12] stevef1uk opened #2582 "Doesn't install on Windows 10"
I have installed successfully on my macs, but on a Windows Surface Laptop I get when running the first command:
mvn io.quarkus:quarkus-maven-plugin:0.15.0:create \

….

[INFO] using-keycloak ..................................... SKIPPED
[INFO] quickstart-projects ................................ FAILURE [ 11.386 s]
[INFO] ------------------------------------------------------------------------
[IN

[2019-05-24 09:13] #2328 closed

[2019-05-24 10:05] tomerz90 commented on #2578
I didnt try it yet, I just assumed that since it wasnt in the extension list its not supported, I'll close this issue for now then and re-open if I'll run into problems.
Thanks!

[2019-05-24 12:13] loicmathieu commented on #2558
I retry today with the master with #2569 and it seems to help, I think that tommorow my computer was misbehave.
**It will be greate if some others can make the same test with real application with OpenAPI and version 0.13, 015 and a fresh build from master to check if we can close this issue or not.**

[2019-05-24 12:26] ppalaga opened #2585 "Camel servlet extension should set the default RestConfiguration"
Assigning to me, originally a suggestion of @lburgazzoli :

[2019-05-24 12:36] Dufgui commented on #2578
ok ;)

[2019-05-24 12:37] #2578 closed

[2019-05-24 12:43] ppalaga commented on #2585
The fix requires Camel 3.0.0-M3

[2019-05-24 13:02] jycr commented on #2582
Please, can you give us logs with Maven `-e` option?
Thx

[2019-05-24 13:11] #2525 closed

[2019-05-24 13:17] #467 closed

[2019-05-24 13:17] FroMage commented on #467
MERGED!

[2019-05-24 13:18] FroMage commented on #2172
@Sanne up?

[2019-05-24 13:21] FroMage commented on #1923
@cescoffier I'll close this, please reopen if you can reproduce.

[2019-05-24 13:21] #1923 closed

[2019-05-24 13:22] FroMage commented on #1661
Given that this is a few versions behind, I'll close it assuming it has been fixed now. Don't hesitate to reopen if you can reproduce with the latest version.

[2019-05-24 13:22] #1661 closed

[2019-05-24 13:25] FroMage commented on #1537
Now that SR-CP has been merged, perhaps @michalszynkiewicz you can fix this using context propagation? Surely that's the right thing to do, since you're using rxjava underneath so this will break anything that requires ArC, Transactions or RESTEasy unless you use SR-CP.

[2019-05-24 13:25] oscerd commented on #2525
thanks

[2019-05-24 13:27] michalszynkiewicz commented on #1537
Yes, I think it should be doable. Right @manovotn?

[2019-05-24 13:27] FroMage commented on #1399
If you import the `quarkus-smallrye-context-propagation` module (in master, not released yet), you can now write your first endpoint as:

[code]

And it will work. As such, I'll close this issue. Don't hesitate to reopen if it turns out I was wrong :)

[2019-05-24 13:27] #1399 closed

[2019-05-24 13:30] FroMage commented on #646
Let's close this issue since it shipped with the first release.

[2019-05-24 13:30] #646 closed

[2019-05-24 13:32] FroMage commented on #2516
Thanks for reporting. This is a dupe of #1724, so I encourage you to follow the other issue.

[2019-05-24 13:32] #2516 closed

[2019-05-24 13:33] FroMage commented on #1724
@stuartwdouglas or @dmlloyd any opinion what we could do here? Several people have hit this issue and I'm really not sure what to do about it.

[2019-05-24 13:38] FroMage commented on #1537
Note that if you're using rxjava, you get automatic context propagation by importing the `smallrye-context-propagation-propagators-rxjava2` module ;)

So, _in theory_ (Famous Last Words™) that's all it should take for it to to Just Work©

[2019-05-24 14:04] #2574 closed

[2019-05-24 14:29] dmlloyd commented on #1724
We could rewrite the whole thing to do augmentation well before the test phase... other than that I don't know.

[2019-05-24 14:36] FroMage commented on #1724
I'd be fine with that.

[2019-05-24 15:02] stevef1uk commented on #2582
Sure, here you go:
Apache Maven 3.6.1 (d66c9c0b3152b2e69ee9bac180bb8fcc8e6af555; 2019-04-04T20:00:29+01:00)

[INFO] quickstart-projects ................................ FAILURE [  2.101 s]
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  3.026 s
[I

[2019-05-24 15:04] ekans commented on #1609
@enbohm I encountered the same problem : you must set a value for the scopes attribute. It seems that the default is ignored.
[code]

[2019-05-24 15:54] FroMage commented on #2196
So, this is a classloader issue, because if I run the test from Maven it works (with the fix @gsmet indicated of adding the index), but if I run it from the IDE it does not. Actually something really weird happens is that in both cases if I print all the class methods they exist, but when I call them they fail, so in the IDE we really have two versions of the imported entity class visible.

[2019-05-24 19:00] barata0 opened #2590 "smallrye-restclient does not throw correct error"
Hi,

**Describe the bug**
When RestClient gets a code > 400 it is raising an strange error making impossible to identify if its denied, server error, forbidden, etc...

**Expected behavior**
Should raise the error: **javax.ws.rs.WebApplicationException** or an subclass of it  e.g (**NotAuthorizedException**)

**Actual behavior**
The actual error is: **java.lang.RuntimeException: method call not su

[2019-05-24 20:32] gwenneg commented on #2413
@geoand Here is the reproducer: https://github.com/gwenneg/quarkus-jdbc-driver-not-detected

`./gradlew build` is working fine but `./gradlew quarkusDev` is not:

[code]

[2019-05-24 20:44] #2575 closed

[2019-05-24 21:35] michalszynkiewicz commented on #1537
Sorry, I forgot you are working on the project :)
I will try it on Monday.

[2019-05-24 21:48] #2532 closed

[2019-05-24 21:49] haducloc commented on #2532
I was following a tutorial and found that bug. I tried to follow hello tutorial from Quarkus website, no warning found. I closed the bug. Thanks!

[2019-05-24 21:51] haducloc opened #2591 "Please support JSP and Java EE8 Security API. Thanks!"

[2019-05-24 22:07] Dufgui commented on #2582
I will take a look at it

[2019-05-25 07:51] sebastienblanc opened #2592 "building master creates changes on file"
**Describe the bug**
After Quarkus has been locally build with `mvn clean install -DskipTests=true` and I check `git status` I can see changes on files I haven'ts touched :
[code]

**Expected behavior**
 After a build i would expect only changes on the files I changed myself

**To Reproduce**
Steps to reproduce the behavior:
1. `mvn clean install -DskipTests=true`
2. `git status`

**Environment (p

[2019-05-25 11:59] enbohm commented on #1609
@ekans thx - now it works for me as well! :)

[2019-05-25 15:37] kenduraghav commented on #1029
Had the same issue in my terminal as well.
![console-garbage-quarkus-output](https://user-images.githubusercontent.com/45258718/58371682-04abbe00-7f31-11e9-9806-2caa58d7ab04.png)

[2019-05-25 16:53] Dufgui commented on #2582
Ok, understand, it's because command dos don't take account \ to say. According to SOF it's ^

https://stackoverflow.com/questions/605686/windows-how-to-specify-multiline-command-on-command-prompt

but you are true the error message is not clear. So i do a PR to be more clear and avoid NPE

[2019-05-25 20:25] Dufgui commented on #2592
I fix the organize import, but i check the formater chek in the build before create the PR

[2019-05-25 20:28] Dufgui commented on #2592
in fact it's already checked by the build:
 https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=2353

[2019-05-26 14:05] dawuzi commented on #1658
Hi @masini @teriiehina . Any ideas if the native oracle extension now works ?

[2019-05-26 19:32] Dufgui commented on #335
It's already done no ? You can close it no ?@gsmet @dmlloyd @kenfinnigan

[2019-05-27 02:02] #2592 closed

[2019-05-27 03:32] starksm64 opened #2597 "Support a boolean property to enable swagger-ui even not in dev/test modes"
**Description**
There have been several requests to have the swagger-ui context/ui enabled even when not running in dev or test mode, primarily for demos and samples.

**Implementation ideas**

@stuartwdouglas commented on the dev list:
Adding a boolean to enable this would be pretty easy. At the moment for dev mode this is extracted into a temp directory, so this would need to change to be placed

[2019-05-27 04:01] #335 closed

[2019-05-27 04:02] stuartwdouglas commented on #359
This has been fixed for a while

[2019-05-27 04:02] #359 closed

[2019-05-27 04:05] stuartwdouglas commented on #546
@cescoffier is this still relevant?

[2019-05-27 04:16] #2136 closed

[2019-05-27 06:24] stuartwdouglas commented on #2579
This is not a bug, but an issue with the new code. In particular:

- The AdditionalBeanBuildItem is not actually produced
- The test should not include SecurityContextPrincipal in the test archive

I have some fixes at: https://github.com/stuartwdouglas/quarkus/commit/c098540758021f98a3262dc6c34d66a231189a99

[2019-05-27 06:24] #2579 closed

[2019-05-27 06:29] stuartwdouglas commented on #2512
You can add a method that observes io.quarkus.runtime.StartupEvent and your bean will be created at startup.

[2019-05-27 06:29] #2512 closed

[2019-05-27 06:37] geoand commented on #2413
Thanks @gwenneg! I'll take a look over the coming days

[2019-05-27 08:29] FroMage opened #2602 "@Transactional does not work in Quarkus tests"
Running test methods does not respect the `@Transactional` annotation. Since users are testing entity methods in their tests, they expect transactions to work (without transactions, Hibernate does not seem to execute any code #2172).

@mkouba @stuartwdouglas any idea why CDI interceptors would not work for test methods? Is this not supported yet? Or not supported on purpose?

[2019-05-27 08:34] sebastienblanc opened #2603 "Generate REST CRUD Resource based on Entity Model"
**Description**
Like we had in JBoss Forge, it would be nice to be able to generate a REST Resource with the 4 CRUD methods based on an entity.

**Implementation ideas**
Looks like the "framework" to support this is already there (templating etc ..): https://github.com/quarkusio/quarkus/tree/master/devtools/common/src/main/java/io/quarkus

[2019-05-27 08:56] mkouba commented on #2602
AFAIK test instances are not CDI beans and so interceptors are not supported. However, we could make it work using `BeanManager.resolveInterceptors()`... we already use this kind of trick for MP rest client.

[2019-05-27 09:01] stuartwdouglas commented on #2602
It might be easier to just make the test a bean, but it will result in fairly different behaviours between the native image and JVM mode ones. The behaviour is already different though so I don't know if that is really a problem.

[2019-05-27 09:03] mkouba commented on #2602
I think we discussed this already and for some reason (I don't remember the details) we decided not to make them beans...

[2019-05-27 09:03] stuartwdouglas commented on #2603
I think we need to be careful with what we do code generation wise. I think we should definitely support it rather than just doing this ad-hoc I think we need to consider all the use cases and exactly how we want it to work.

[2019-05-27 09:45] stuartwdouglas commented on #2375
In general really need a generated reference guide that contains all the config options. If we just manually include them in the docs they will likely get out of sync with the code.

[2019-05-27 09:50] #2582 closed

[2019-05-27 09:54] stuartwdouglas commented on #2333
This should likely be reported in the Graal tracker

[2019-05-27 10:01] lamtrhieu commented on #2545
Hi @Dufgui
I would like to work on this one. Will try to read all related info and implements this.
Hope that is fine.
Thanks

[2019-05-27 10:03] #2533 closed

[2019-05-27 10:16] michalszynkiewicz commented on #1537
It seems that with `...-rxjava1` and one tiny little fix to the context propagation extension it works !

I'll create a PR soon.

[2019-05-27 10:32] Dufgui commented on #2545
Hi, no problem please do it ;o)
In fact, I already do "some good firt issues", so now I know quarkus better, I try to work on more complex issue.

[2019-05-27 10:59] rsvoboda commented on #2333
OK, going to create one, wanted to report it here first.

[2019-05-27 11:01] rsvoboda commented on #2333
https://github.com/oracle/graal/issues/1338

[2019-05-27 12:32] geoand commented on #2576
@mkouba Now for the second part of proposed solution, how would you like to handle the `quarkus.arc.remove-unused-beans` value? Currently that value is a boolean but we would like to make it an Enum I guess. That would  mean breaking existing applications that define this configuration.
What do you propose we do?

[2019-05-27 12:33] FroMage commented on #2603
I'd much rather have a CRUD extension that allows me to have a Web UI that lets me do CRUD operations on any entity, like we've been using for years for RDEV @sebastienblanc .

This allows people to build admin interfaces super quickly.

[2019-05-27 12:41] aloubyansky commented on #2511
This should be fixed now. Thanks!

[2019-05-27 12:41] #2511 closed

[2019-05-27 12:45] mkouba commented on #2576
Could we just use a string and map it to the following modes?

Mode | Values
------------ | -------------
all | `all`, `true`
framework (keep app beans) | `fwk`
none | `none`, `false`

[2019-05-27 12:48] rafaelkloss opened #2609 "Exception Details on Build step io.quarkus.arc.deployment.ArcAnnotationProcessor#build"
**Description**
When there are a injected bean in a abstract class that is extended for the implementation of the same bean, we have this Exception on start quarkus dev:
`ERROR [io.qua.dev.DevModeMain] Failed to start quarkus: java.lang.RuntimeException: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
	[error]: Build step io.quarkus.arc.deployment.ArcAnnotationProcesso

[2019-05-27 12:53] geoand commented on #2576
That sounds interesting. It wouldn't break existing applications (unless I am missing something) and we could support all the required modes.

Sounds good! I'll take it up soon :wink:

[2019-05-27 13:17] #2253 closed

[2019-05-27 13:17] #2251 closed

[2019-05-27 13:18] FroMage commented on #2196
With a bit more testing I can validate that it works from tests and `quarkus:dev` if I have the index. It probably failed before because the index got removed.

But the trick is that it does not work with the runner jar since the imported entity is kept inside its jar unenhanced, referenced by the `META-INF/MANIFEST.MF`. I guess we could fix this either by producing enhanced jars from the start (e

[2019-05-27 14:40] #1537 closed

[2019-05-27 15:06] loicmathieu opened #2611 "Quarkus is not known in the NVD Database CPE"
**Describe the bug**
Quarkus is not known in the NVD Database CPE (Common Platform Enumeration: https://nvd.nist.gov/products/cpe) Dictionary so when running the OWASP dependency check some false positive are found.

**Expected behavior**
The NVD CPE directory should be aware of Quarkus.

**Actual behavior**
When running the OWASP Maven depency check plugin, false positive are found around quarkus

[2019-05-27 15:46] FroMage commented on #2196
I have been able to change the way we build the jar so that we would generate augmented versions of imported entities, as well as `PanacheEntity`, and now it works also in the `java -jar xxx-runner.jar` case, because the main jar contains the enhanced entities.

But it does not work for `native-image` because apparently it will use the classes from the jars listed in the manifest over the main jar

[2019-05-27 15:48] FroMage commented on #2196
Perhaps an alternative is to enhance the contents of the produced `lib/xxx.jar` from which the entities originated, rather than add them to the main jar.

[2019-05-27 20:56] gunnarmorling commented on #2184
Just noticing that the Kafka guide on the web site still uses the
Wurstmeister image:

    https://quarkus.io/guides/kafka-guide#starting-kafka

Is anyone working already on updating this to Strimzi, too?

[2019-05-27 21:09] gastaldi opened #2615 "Move undertow-handlers.conf to application.properties"
This is a follow-up to https://github.com/quarkusio/quarkus/issues/2533

**Description**
One of the key features in Quarkus is the unified configuration (everything in one place). By allowing configuration to be set in a separate file, this breaks the one-config philosophy.

**Implementation ideas**
Move the `undertow-handlers.conf` contents to an entry in `application.properties` (eg. `quarkus.un

[2019-05-27 21:22] gunnarmorling commented on #2184
Filed https://github.com/quarkusio/quarkusio.github.io/pull/212 for
applying the change from the quick start repo to the docs, too.

[2019-05-27 22:58] jkopcsek opened #2616 "Empty Kotlin files or extensions-only files trigger change detection all the time"
**Describe the bug**
When having an empty kotlin file or a kotlin file that contains only extensions it will be detected as changed in dev mode all the time.

**Expected behavior**
It should be detected as changed only when a real change happened.

**Actual behavior**
It's detected as being changed all the time.

**Example Setup**
https://github.com/jkopcsek/quarkus-kotlin-gradle-demo/tree/bug/qua

[2019-05-28 05:22] sebastienblanc commented on #2603
@FroMage I like this feature as well but it's more like a dynamic scaffolding at runtime , correct ?
My idea idea was more of a "one-shot" code generation command available through a maven/gradle/aesh command.

[2019-05-28 05:49] stuartwdouglas commented on #2602
The conversation just kinda stalled, it was not really decided against. The original PR that made them beans had some unrelelated problems, and there was a lot of debate about how transactions should be handled, so it just kinda got lost.

[2019-05-28 07:30] geoand commented on #2576
@mkouba should we close this now with that we have a couple related solutions in place?

[2019-05-28 08:02] geoand commented on #2413
@gwenneg do you have a db dump perhaps (or a docker script you are using to launch the db)? I am seeing totally different errors when running your sample

[2019-05-28 08:25] #2400 closed

[2019-05-28 08:38] jycr commented on #2219
I hope that #2617 fix your problem

[2019-05-28 08:39] jycr commented on #2470
I hope that #2617 fix your problem

[2019-05-28 08:57] geoand commented on #2219
@jycr thanks for the PR, but this issue won't be fixed I believe by it. This has to do with the maven wrapper that is added when creating a new project

[2019-05-28 08:59] mkouba commented on #2576
@geoand Yes ;-).

[2019-05-28 08:59] #2576 closed

[2019-05-28 08:59] michalszynkiewicz opened #2618 "Hot reload with context propagation/quarkus-smallrye-reactive-messaging-kafka fails"
**Describe the bug**
After a reload, an application that uses quarkus-smallrye-reactive-messaging-kafka fails with
https://gist.github.com/michalszynkiewicz/c71dba7a6f3d10b54adc3b2e2406a603

**Expected behavior**
The application should be reloaded

**Actual behavior**
An app that uses smallrye-reactive-messaging-kafka fails to reload when working with mvn quarkus:dev.
Instead it throws: https://gi

[2019-05-28 10:50] mkouba commented on #2602
I know we had to add quite some hacks because of the test instances are not beans - `InjectionPoint` metadata injection, skip removal of injected beans, etc. So if we decide to go this way (test instance -> bean instance) we should not forget to do a proper cleanup.

[2019-05-28 11:48] bkrahmer commented on #2124
BTW, it looks like I hit this issue trying to follow the "Deploying the application as Java application in OpenShift" example from the website at https://quarkus.io/guides/openshift-s2i-guide ....

[2019-05-28 12:17] #2618 closed

[2019-05-28 12:56] gunnarmorling commented on #2133
@cescoffier, just seeing you recently upgraded Vert.x to 3.7.0 and Kafka client to 2.1.0. That's great, so I'm going to close this issue here.

 @waldimiro, unless I'm mistaken, a newer client should work with older brokers. So I'd recommend you wait for the next Quarkus version bringing in this upgrade and use that one.

[2019-05-28 12:56] #2133 closed

[2019-05-28 12:59] mkouba opened #2622 "RxJava1ContextPropagator does not work correctly in the dev mode"
Quarkus build: https://github.com/quarkusio/quarkus/commit/ef71554148994a2e43e619dc4f5e2b3f692be5eb

# Stack trace:
[code]

# Steps to reproduce:
1. clone https://github.com/mkouba/pulls
2. run `mvn compile quarkus:dev`
3. hit `http://localhost:8080/pulls`
4. make some irrelevant change
5. hit `http://localhost:8080/pulls`

It seems that SM CP is using some outdated `ThreadContextSnapshot` returne

[2019-05-28 13:02] FroMage commented on #2622
Errr, why do we have contexts from the previous deployment lying around?

[2019-05-28 13:40] dmlloyd commented on #2563
Fixed in https://github.com/graalvm/graal-jvmci-8/commit/274940343d45c77a722cbeaeda6529e9a254662a but it will be a bit of time before it gets to a release, according to Christian Wimmer.

[2019-05-28 13:41] #2563 closed

[2019-05-28 15:04] FroMage commented on #2622
Right, we should find out why that stale context is still used after deployment

[2019-05-28 17:58] emmanuelbernard commented on #2602
In particular people need to do the following

[code]

[2019-05-28 18:03] mkouba commented on #2602
This wouldn't work even if the test instances were intercepted beans. "self-invocation" is not a business method from the CDI POV and so interceptors are not applied. Also why the private stuff?

[2019-05-28 18:05] kenfinnigan commented on #2591
I'm not sure JSP is something we'd consider adding ourselves.

What specifically do you need from Java EE 8 Security APIs that isn't covered by SmallRye JWT, Keycloak, or Elytron? @starksm64 might have some thoughts

[2019-05-28 18:20] emmanuelbernard commented on #2602
@mkouba because I would have done it like that not knowing the CDI restrictions. Since it's build time bytecode enhancement, you could make the self invocation intercept ;)
But we would go far from the spec which probably sucks unless we restrict it to tests maybe?

Or simply have a `doInTransaction` helper method that would do the tx start / stop for the user @Sanne ?

[2019-05-28 23:00] larchanjo commented on #2512
Thank you @stuartwdouglas.

For curiosity this works on quarkus 0.15.0 version and there is a tutorial to help you about bean lifecycle https://quarkus.io/guides/application-lifecycle-events-guide

[2019-05-28 23:32] gwenneg opened #2626 "New NullPointerException on generic injection with quarkus-arc"
**Describe the bug**
Following the #2566 issue correction on master, I tested again generics injection on a real project with a snapshot version of quarkus. The #2566 issue is fixed, but I still have an issue (NPE) with a more complex generics injection case (which works with Weld).

**Expected behavior**
I expect injections to work with generics.

**Actual behavior**
[code]

**To Reproduce**
Step

[2019-05-28 23:43] gwenneg commented on #2413
@geoand My reproducer seemed fine a few days ago, but I tested it again today and it's not reproducing the issue anymore. I'm seeing a new error (probably the same you saw) and when I fix it, the `./gradlew quarkusDev` task is working as intended. Something got wrong on my side but I don't know what... sorry about that! I will try again when Quarkus 0.16.0 is released. Let's say everything's fine

[2019-05-29 03:18] stuartwdouglas commented on #2616
This may already be fixed upstream, there will be some changes in this area for the 0.16 release

[2019-05-29 04:35] geoand commented on #2413
OK, no problem 😎

[2019-05-29 05:37] dwamara opened #2628 "javax.persistence.TransactionRequiredException thrown when trying to persist an entity"
**Describe the bug**
No transaction is being created while trying to persist an entity in a method annotated with @Transactional

**Expected behavior**
The entity is persisted in the database

**Actual behavior**
An Exception is thrown trying to persist the entity
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add the Hibernate with Panache extension
2. Create an Entity extending Pan

[2019-05-29 06:12] stuartwdouglas commented on #2628
What happens if you change this to JTA transaction type rather than RESOURCE_LOCAL?

[2019-05-29 06:14] stuartwdouglas commented on #2628
We need to improve our handling of this at any rate. In general the datasource should be defined in application.properties so Agroal is used as the connection pool, and if RESOURCE_LOCAL is used it should either be ignored or an error.

@Sanne @emmanuelbernard what do you guys think we should do when there is a persistence.xml that does not really map to what Quarkus expects?

[2019-05-29 06:16] dwamara commented on #2628
Oh boy, you really make me feel stupid. I just did and it worked, thanks.

[2019-05-29 06:19] dwamara commented on #2628
Do you see any problem with using persistence.xml? I first used the application.properties but I felt it easier to use the persistence.xml that I had when using Payara so that I can reduce the amount of work on migration. And for people like me coming from the world of Payara and other application servers, it's more straightforward.

[2019-05-29 08:27] guanchao-yang opened #2632 "Run test cases in IntelliJ IDEA error and can't run the test cases"
When I clone this project and run the test cases in IntelliJ IDEA, the follow error occurs :

![image](https://user-images.githubusercontent.com/32863418/58541563-5e143580-822e-11e9-957d-da019261eb59.png)

And my IntelliJ IDEA will be stop and responseless ,so I have no method except restart my  IntelliJ IDEA

[2019-05-29 08:28] guanchao-yang commented on #2632
@jmesnil Thanks very much

[2019-05-29 08:32] gsmet opened #2633 "Upgrade Agroal to 1.5"
As soon as it hits Maven Central.

[2019-05-29 08:40] FroMage commented on #2196
https://github.com/stuartwdouglas/quarkus/tree/augmentation-of-archives fixes this. Remains to update the Hibernate and Panache docs to mention that external entities should have the jandex build plugin in order to work. I'll do that.

[2019-05-29 08:50] gsmet opened #2634 "Upgrade Hibernate ORM to 5.4.3.Final"

[2019-05-29 09:11] FroMage commented on #2602
A `doInTransaction` is a very useful thing. Where would it live?

[2019-05-29 09:29] FroMage commented on #1724
Perhaps https://junit.org/junit5/docs/5.3.0/api/org/junit/jupiter/api/extension/TestInstanceFactory.html could get us some distance.

[2019-05-29 09:51] FroMage commented on #2302
Fix is at https://github.com/quarkusio/quarkus/pull/2636

[2019-05-29 09:51] FroMage commented on #2266
Fix is at https://github.com/quarkusio/quarkus/pull/2636

[2019-05-29 09:52] FroMage commented on #2196
Docs are at https://github.com/quarkusio/quarkus/pull/2636

[2019-05-29 10:02] sberyozkin commented on #2280
@Holi60k As I've mentioned earlier, it is up to the concrete implementation whether to support the Path inheritance at the class level or not, the spec says no, but in practice is works in some implementations. TCK does not enforce that such inheritance does not work AFAIK

[2019-05-29 10:30] Holi60k commented on #2280
@sberyozkin Thank you !

[2019-05-29 10:52] johnaohara commented on #2223
@gsmet are you going to create a PR to update hibernate and link to this issue?  thanks

[2019-05-29 11:20] mkouba commented on #2280
Ok, then I'm going to send a PR today.

[2019-05-29 13:37] stuartwdouglas commented on #2632
Downloading the dependencies will take some time. You can't run the test until Intellij has downloaded all the dependencies.

[2019-05-29 13:37] #2632 closed

[2019-05-29 13:41] stuartwdouglas commented on #2602
QuarkusTransaction.doTransaction in the TX module would be my preference. There probably should be a method for each type of transaction attribute though, doInTransaction is not really clear if it would stay within an outer transaction or always create a new one.

[2019-05-29 13:46] stuartwdouglas commented on #2628
You should be able to use it, but if it is wrong you should not just get an error like that, either we should transparently use the correct TX type, or throw a meaningful error.

Same with the datasource properties, I am not actually sure what happens here (it is a question for @Sanne ) I am not sure if they get mapped to agroal internally, or if it ends up using hibernates built in connection poo

[2019-05-29 14:13] FroMage commented on #1886
FTR I tried to change the implicit naming strategy to both `legacy-jpa` and `legacy-hbm` and this did not solve the problem.

[2019-05-29 14:29] FroMage commented on #1943
![Screenshot from 2019-05-29 16-27-21](https://user-images.githubusercontent.com/179265/58565376-e2ff4f00-822e-11e9-9dfc-1d91d02e038b.png)

For example, for a 404.

Note that OOTB there's also a `/@documentation` url that lands me on the current version of the docs, which is pretty sweet.

[2019-05-29 14:32] FroMage commented on #1943
Of course, writing such a page would be a lot easier with templates…

[2019-05-29 14:45] gsmet commented on #2223
Yes. I haven’t started the ORM release yet. I have a personal emergency.

I’ll do it tomorrow but sure I will upgrade for 0.16.0.

[2019-05-29 14:49] dwamara commented on #2628
I am at the office at the moment so I won't be able to paste the info I get when starting quarkus:dev (will do it when I'm home) but it definitely uses the Hibernate built-in connection pool, the message showing that appears in the log.

[2019-05-29 14:53] dwamara commented on #2628
But something that I realized though, when an Entity is mapped in a relationship with another (in my case, it is a @OneToMany) or when the Entity is a property of another (I have one "Checker" which has a property "Addresses", both extend PanacheEntity), only the Checker is persisted in the database, the Addresses are not, although a small toString shows that the Adresses are correctly set.

[2019-05-29 15:02] FroMage commented on #1886
So, in `NameSpaceTablesInformation` I have this code:

[code]

`identifierHelper.toMetaDataObjectName( table.getQualifiedTableName().getTableName() ) ` returns `DirectEntity` while `tables` contains `directentity`.

`identifierHelper` is a `NormalizingIdentifierHelperImpl` with `unquotedCaseStrategy` set to `MIXED` which is either wrong and should be `LOWER`, or it's `tables` that has been filled

[2019-05-29 15:07] FroMage commented on #1886
It looks like we call `dialect.buildIdentifierHelper(..., null)` so we never detect the casing strategy from the DB and we default to `MIXED`. But that must be wrong, surely, since PG will lower-case everything not quoted for us.

[2019-05-29 15:14] FroMage commented on #1886
I can't find in the code in `JdbcEnvironmentImpl` where it would actually use the naming strategy.

[2019-05-29 15:36] FroMage commented on #1886
OK, so here's a workaround:

[code]

And in `HibernateOrmProcessor`:

[code]

This gets me unstuck. I wonder why the postgres dialect does not do that by default? I've never seen a postgres DB configured with unquoted mixed case.

[2019-05-29 15:37] dmlloyd opened #2642 "Exception stack for JDBC connection failure is too much"
**Describe the bug**
The exception stack trace for JDBC connection failure is way too much useless information.

**Expected behavior**
An exception clearly describing the failure with a stack trace leading to the point of failure.

**Actual behavior**
Something like this (note that the first stack trace reflects some prototype code, so don't worry about it):
[code]

**To Reproduce**
Run the main i

[2019-05-29 15:38] dmlloyd commented on #2642
Related to agroal/agroal#8.

[2019-05-29 15:43] dmlloyd commented on #2633
Fixes #2642

[2019-05-29 17:48] Sanne commented on #2602
+1 for a `doInTransaction` helper. We have such helpers within the ORM testsuited and they've proven to be useful.

But let's start simple and not overload it too much? For example I wouldn't personally be able to guess what the differences are between `doInTransaction` and `doInNewTransaction`

Should we really use the _QuarkusX_ prefix ? Seems unnecessary to me.

[2019-05-29 17:52] Sanne commented on #2628
Within Quarkus we recommend using Agroal, so that's the default for applications configured exclusively via the `application.properties` method.

But when booting via a `persistence.xml` you're running in "legacy mode" so to help porting existing applications: in that case we won't be overriding defaults with Quarkus defaults, so indeed you end up having to configure the connection pool yourself,

[2019-05-29 17:57] machi1990 commented on #2210
@mkouba I can take a look at this.

[2019-05-29 23:14] #2633 closed

[2019-05-29 23:14] #2642 closed

[2019-05-29 23:16] #2280 closed

[2019-05-30 03:27] emmanuelbernard opened #2645 "Exception when stopping native image"
[code]

[2019-05-30 06:37] kameshsampath opened #2646 "Define Extensions via stack"
**Description**
The extensions can be defined using stack - stack basically defines list extensions with single logical name. The users can the define it via `-Dstack="mystack"

**Implementation ideas**

e.g.

crud-rest.yaml
[code]

myapp-stack which extends from `crud-rest`:

[code]

It will also be nice if we define it via CLI like

`mvn io.quarkus:quarkus-maven-plugin:0.15.0:create -Dstack="cur

[2019-05-30 07:16] mkouba opened #2647 "SmallRye REST client - warnings about duplicate provider registration"
When I add the `quarkus-smallrye-rest-client` extension to my app I get a bunch of warnings:
[code]

[2019-05-30 07:17] mkouba commented on #2647
Steps to reproduce: once https://github.com/quarkusio/quarkus/pull/2635 is merged, just run `mvn clean test -Dtest=RestClientFallbackTest` in the `extensions/smallrye-rest-client/deployment` directory.

[2019-05-30 08:42] cescoffier opened #2648 "How do we pass password in user configuration"
**Description**
Right now, passwords are written in plain text in the user configuration.

**Implementation ideas**

Several choices:

* a specific encrypted password.properties file
* a mechanism to encrypt and decrypt the password

[2019-05-30 09:21] #2560 closed

[2019-05-30 09:44] emmanuelbernard opened #2649 "Quarkus startup time is 2x or more slower on slow networks"
We had several reports of people on non controlled networks like at conferences where Quarkus startup time was very slow. 2x or much more. I experienced it myself a few times and ended up disabling network on stage.

I think the problem is a JVM issue or one of our framework network stack.

There is a famous slow down of the JVM on macOS if people don't have a local resolution rul in their `etc/ho

[2019-05-30 09:47] emmanuelbernard commented on #2646
So the idea behind it is to defined profile stacks for expected types of apps. The one stack we identified is REST CRUD + DB (Hibernate) but we need to identify a list of stacks we would want to see define. A list of "typical apps really". If we see 7+ emerging, we can consider the extra semantic overhead of stacks vs what we currently have.

So let's try and get a list:

- REST CRUD + Hibernate
-

[2019-05-30 09:48] Dufgui commented on #1943
Have you already implemented it? If not I am interesting to make a pr on this.
For the design. I create a endpoint for this and a custom exception handler to catch the 404 which redirect to it. And ok for the template just like create project ? A ftl file ?
And we can overload the path of endpoint and template with application config ?

[2019-05-30 10:02] emmanuelbernard opened #2650 "Evaluate quarkus:remote-dev vs odo watch vs ksync"
CC @stuartwdouglas @gorkem

We have quarkus:remote-dev which is nice for running live reload from your container based on local file cahnges. I think it's based on websockets?. There are a couple of gotchas I think though:

- @cescoffier was having concerns that websocket has a buffer limit so will it fail at some point?
- it works by having the local dev mode connect the container dev mode and su

[2019-05-30 10:23] dwamara commented on #2628
I tried to use Agroal with the application.properties instead of the persistence.xml file, but one thing though, there seems to be no way to use the Hibernate with Panache in case you have more than one datasource defined. May be I should open another thread for that.

[2019-05-30 11:06] gsmet commented on #2645
Looks like a duplicate of: https://github.com/quarkusio/quarkus/issues/2218 . It should be fixed in current master.

[2019-05-30 11:20] rsvoboda opened #2651 "ListExtensionsTest has never reached code"
https://github.com/quarkusio/quarkus/blame/master/devtools/common/src/test/java/io/quarkus/cli/commands/ListExtensionsTest.java#L143

`checkGuideInLineAfter` is false so code can never be reached.

@Dufgui what was the plan with this `} else if (checkGuideInLineAfter) {`

[2019-05-30 11:23] #2172 closed

[2019-05-30 11:25] #2622 closed

[2019-05-30 11:27] #2597 closed

[2019-05-30 11:45] mar9000 opened #2653 "The option "--debug=true" of quarkusDev is catched by gradle"
**Can't use --debug=true with gradle to activate suspend=y**

As the documentation states this command should be fine:
[code]
but with it gradle complains with this message:
[code]
The option is indeed catched by gradle instead of been passed to QuarkusDev.
**To reproduce**:
I've used the *quarkus quick starts* so it can be used also to reproduce the problem.

[2019-05-30 12:51] dmlloyd opened #2656 "Serialization support"
Introduce support for Java serialization

[2019-05-30 12:52] dmlloyd commented on #2656
Emmanuel says we should wait for someone who needs it, which I agree with.  I believe Bela has some interest in this from a JGroups perspective though.

[2019-05-30 12:53] dmlloyd commented on #2656
See also: https://github.com/oracle/graal/issues/460

[2019-05-30 12:56] dmlloyd commented on #2649
Is there an example app that can be used for testing?

[2019-05-30 13:09] #2210 closed

[2019-05-30 13:31] dwamara opened #2657 ""java.lang.RuntimeException: method call not supported" thrown when using Rest Client"
**Describe the bug**
When using the rest client to call another service, a "java.lang.RuntimeException: method call not supported" is thrown by the calling service

**Expected behavior**
Either a correct response should be returned (the called service has been successfully tested separately)

**Actual behavior**
A strange "java.lang.RuntimeException: method call not supported" is returned when mak

[2019-05-30 14:25] fbricon commented on #447
I'm interested in this, so we can provide a vscode-quarkus extension. We'd prefer having a REST endpoint (i.e backen approach), rather than a solution strictly depending on a browser

[2019-05-30 14:57] gsmet commented on #1840
We now have a Mailer extension thanks to @cescoffier .

[2019-05-30 14:57] #1840 closed

[2019-05-30 15:13] Dufgui commented on #2651
I want to code more test but I wait for the issue on list outdated to do it

[2019-05-30 15:43] #2645 closed

[2019-05-30 16:33] gunnarmorling opened #2663 "Create Quarkus extension for Kafka Streams"
Kafka Streams is an API for implementing streaming queries using Java based on Kafka topics (joining topics, aggregating, etc.). Quarkus (native) might be a great runtime for those. I got a simple PoC working, including native, for running Kafka Streams pipelines. It required quite a bit of fiddling (most notably due to native code called by the RocksDB dependency). A ready-made extension would si

[2019-05-30 16:33] gunnarmorling commented on #2663
Happy to have this issue assigned to me, if possible.

[2019-05-30 16:34] gsmet commented on #2647
@mkouba is it related to some new code? It's probably something we should fix before releasing 0.16.0, no?

[2019-05-30 16:35] gsmet commented on #2626
@mkouba @manovotn you on it? I hoped we could have this fixed for 0.16.0 but I suppose it will have to wait for the next one?

[2019-05-30 16:40] gsmet commented on #2558
If you saw some improvements, let's close it. We can still reopen a new one if not.

[2019-05-30 16:40] #2558 closed

[2019-05-30 16:42] gsmet commented on #2495
@michalszynkiewicz can you confirm this one was fixed by https://github.com/quarkusio/quarkus/pull/2524 ?

[2019-05-30 16:45] gsmet commented on #2556
I can confirm this is not fixed in current master.

[2019-05-30 16:48] gsmet commented on #2590
@barata0 any chance you could prepare a real reproducer (a very simple Maven project would be ideal)?

[2019-05-30 16:50] gsmet commented on #2590
It might be related to: https://github.com/smallrye/smallrye-rest-client/issues/11 .

[2019-05-30 17:54] machi1990 commented on #1302
@mkouba I'd like to give this a shot.

[2019-05-30 18:30] starksm64 commented on #2648
This is on my topic list for the security arch discussion. I have been distracted on getting this kicked off, but I'm going to start something next week one way or another to get a comment direction.

[2019-05-30 18:33] #1998 closed

[2019-05-31 02:31] geoand commented on #2653
If use you plan `--debug` is the option passed correctly to the task or is it intercepted by Gradle?

[2019-05-31 03:40] emmanuelbernard commented on #2628
@dwamara yes open a separate conversation.

[2019-05-31 03:44] emmanuelbernard commented on #2628
@Sanne / @gsmet  maybe we should simply document how to do the `persistence.xml` equivalent of `application.properties` to guide people to complexity:

- agroal config
- preferred transaction managed with JTA

Should we support `RESOURCE_LOCAL` as well. I'm not sure of the implications and how much Quarkus glue code should know about it. Also it means lots of doc and explanation to go to so not su

[2019-05-31 03:51] emmanuelbernard commented on #2602
My proposal would be to have `doInTransaction(Runnable)` doing the nested approach.
Then have an overloaded methid `doInTransaction(Transactional.TxType,Runnable)` to override the semantic the same way `@Transactional` would.

[2019-05-31 04:02] stuartwdouglas commented on #2649
Does -Dquarkus.http.host=127.0.0.1 help at all?

[2019-05-31 06:51] mkouba commented on #2647
I don't believe it's new. I remember someone mentioned this on zulip.

[2019-05-31 06:58] mkouba commented on #2626
@manovotn is on it. But I think it's not critical as it's not very common to use complicated hierarchies with generics. Anyway, we should know the cause and time estimate today.

[2019-05-31 07:20] mar9000 commented on #2653
It's intercepted by gradle as well, logging lots of additional logs as expected:
[code]

[2019-05-31 07:27] manovotn commented on #2626
@gsmet yes, I am on it, just didn't get to it earlier
Is there a publicly visible schedule on release dates or code freezes? Because currently the milestones lack any dates.

[2019-05-31 07:39] geoand commented on #2653
@gsmet I think the only viable option here is to change the name of the property in the gradle plugin. Not a great option admitedly (since the name of the property will differ between Maven and Gradle) but I don't think there are other options.

[2019-05-31 08:09] loicmathieu commented on #2649
Hi,
Maybe this is related to the issue I reported #2558 as I works on WIFI and it is sometimes slow. Maybe the investigation for this one should be focused on OpenAPI. But a commented on #2558 it should be fixed on 0.16.0 as OpenAPI annotations will be processed at build time.

[2019-05-31 08:11] emmanuelbernard commented on #2649
The skeleton app with the rest en point generated by maven does it.

[2019-05-31 08:51] loicmathieu opened #2667 "Missing JaxRS beans in the Jandex index"
**Describe the bug**
When returning a `javax.ws.rs.core.Response` in a RestClient, I have the following WARNING in the log, there seems to be some misisng beans in the Jandex index .

[code]
A returning a Response object is a very common thing (when using POST to create an entity for exemple), these should be included in the Jandex index by default. I check the code in SmallRyeRestClientProcessor:

[2019-05-31 09:01] jesuino opened #2668 "Configuration Property in an Injected Bean is null during Startup (observes startupEvent)"
**Describe the bug**

If I use a bean with property prop, which is injected from a configuration file (`@ConfigProperty`) it is null when reading it from a method that observes `StartupEvent`

**Expected behavior**
Attribute should not be null.

**Actual behavior**
Attribute is null.

**To Reproduce**

1.  Class with the property:

[code]
2.  Class that reads it:
[code]
3. When reading the propert

[2019-05-31 09:38] emmanuelbernard commented on #2375
IF the proeprties are automatically injected in the right guide and the JavaDoc is copied and the JavaDocs is actually meaniningful in what it does and when to use it, yes that would solve the problem. My experience with doc is that 50% of properties needs a small paragraph to explain the true usefulness and usecase.
Just being descriptive makes it much much less useful.

[2019-05-31 09:39] emmanuelbernard commented on #2375
So I'm not a big believer that automation of bad doc will help that problem ;)

[2019-05-31 09:43] rsvoboda commented on #1939
I hit this issue with `quarkus-maven-plugin:create` and having `-Dextensions=io.quarkus:quarkus-resteasy,io.quarkus:quarkus-resteasy-jsonb`.

I ended up with 2 entries for `quarkus-resteasy`

[2019-05-31 10:03] rsvoboda opened #2670 "quarkus-maven-plugin:create doesnt fail when multiple extensions are matching"
quarkus-maven-plugin:create doesnt fail when multiple extensions matching, maven reports `BUILD SUCCESS`.

I think mvn command should fail when multiple extensions are matching.

Command:
[code]

Output:
[code]

[2019-05-31 10:10] rsvoboda commented on #2670
hm, `quarkus:add-extension` doesn't fail on incorrect extension name or multiple multiple extensions matching.

So `quarkus:add-extension` and `quarkus-maven-plugin:create` are aligned, always BUILD SUCCESS

But still not sure it's correct. When scripting stuff users can't be sure the command was executed successfully - e.g. by checking `$?` value

[code]

[code]

[2019-05-31 10:24] gsmet opened #2671 "Gizmo is not considering the type parameters in `DescriptorUtils.typeToString()`"
Panache is using that to generate the return type of the getters.

Right now, considering a field `List<Dog> dogs`, we end up with the following getter `List getDogs()`.

We only see that now because, before ORM 5.4.3, ORM did not see the getters injected by Panache. It's now the case.

This is blocking for the release as we can't upgrade to ORM 5.4.3, which we want to do in this release.

/cc @Fr

[2019-05-31 10:58] gsmet commented on #2670
@rsvoboda yes, you're right, it should fail. Preferably before creating anything but I'm not sure it's possible with the current architecture.

[2019-05-31 11:26] gsmet commented on #2671
With this branch https://github.com/quarkusio/quarkus/pull/2672 , if you do:
[code]
you end up with:
[code]
The issue is caused by the getter generated by Panache losing their potential type parameters (in this case, the `getDogs()` getter has a return type of `List`).

The problem only appears now because, prior to 5.4.3, ORM does not see the getters generated by Panache but this behavior has cha

[2019-05-31 11:32] #1615 closed

[2019-05-31 11:33] #2602 closed

[2019-05-31 11:34] sarxos opened #2673 "Singletons are created twice when observers subsystem is used"
**Describe the bug**

Singletons by definition should be created only once, however, in the scenario I describe in the next section I managed to make Quarkus create singleton beans twice.

**Expected behavior**

Singletons are singletons (single instances of a bean).

**Actual behavior**

Singletons are twinletons (two instances of the same bean).

**To Reproduce**

Have a non-managed bean:

[code

[2019-05-31 11:40] gsmet commented on #2667
Ah, yes, we probably have the ignore rules only in the RESTEasy extension.

[2019-05-31 12:25] loicmathieu commented on #2667
OK, I think I see how to fix this. Is it correct that the way to fix it is the same as what has been done in ResteasyServerCommonProcessor with TYPES_IGNORED_FOR_REFLECTION ?
In this case I can provide a PR for this, I'll be very happy to od it ;)

[2019-05-31 12:30] gsmet commented on #2667
Yes, exactly. We should probably move the list of ignored types to `ResteasyCommonProcessor` in a public constant so that we can share it.

[2019-05-31 12:44] loicmathieu commented on #2667
This will create a dependancy between smallrye-rest-client and resteasy-common, if someone want to make a rest-client from a command line application they will have no need to resteasy right?

[2019-05-31 12:46] loicmathieu commented on #2667
Just saw that resteasy-client already have a dependency to resteasy-common ;)
I will work on it and provide a PR soon.

[2019-05-31 12:53] gsmet commented on #2667
Yes, `resteasy-common` was added exactly for this purpose.

[2019-05-31 13:03] gsmet commented on #2626
@manovotn well, last release was due last Wednesday and it will be released next week so things fluctuate.
I usually try to ping people when the release is coming if I think it might be an issue we want for the release.

Considering what @mkouba says, it's a nice to have for the next release so let's include it if it makes it and otherwise it will be in the next one.

[2019-05-31 13:04] gsmet commented on #2668
@dmlloyd @mkouba not sure if it's expected or something we should fix. Could you have a look?

[2019-05-31 13:05] mkouba commented on #2668
I'm on it.

[2019-05-31 13:09] dmlloyd opened #2678 "Add a config converter for enums"
**Description**
Add a converter for enums that would translate between the idiomatic Java enum syntax and the idiomatic skewered-lowercase syntax of configuration.  For example:

Java enum constant name | Canonical equivalent
---------- | --------
`DISCARD` | `discard`
`READ_UNCOMMITTED` | `read-uncommitted`
`SIGUSR1` | `sigusr1`
`TrendBreaker` | `trend-breaker`
`MAKING_LifeDifficult` | `making-li

[2019-05-31 13:15] mkouba commented on #2668
This issue duplicates https://github.com/quarkusio/quarkus/issues/1632. See [my comment](https://github.com/quarkusio/quarkus/issues/1632#issuecomment-475527981) which explains why the injected field is `null`.

[2019-05-31 13:15] #2668 closed

[2019-05-31 13:22] #2568 closed

[2019-05-31 13:35] gsmet commented on #2628
@dwamara yes, we do not support declaring multiple persistence units with `application.properties` right now but that's certainly something we might want to do in the future. Please open an issue.

@emmanuelbernard I would prefer spending time on ^ rather than documenting 2 different methods of doing the same thing.

[2019-05-31 13:41] Sanne commented on #2628
I agree with @gsmet . The `persistence.xml` approach should not be encouraged, and documenting such things is bound to get out of date; maybe it's not even possible to have a 1:1 match as we do setup some things depending on context / other things.

[2019-05-31 13:45] emmanuelbernard commented on #2628
@gsmet @Sanne Actually to me `persistence.xml` usage was not about multiple PUs (+1 to cover that in app.properties) It was about actual advanced settings that we decided not to cover via `quarkus.hibernate` properties.

[2019-05-31 13:45] mkouba commented on #2673
Ok. So the problem is that `MagicObserver.observe()` should observe **any** event, including all `@BeforeDestroyed` and `@Destroyed` events fired for all built-in contexts. However, **during container shutdown** when app and singleton contexts are destroyed Arc also attempts to terminate the request context after the singleton context is destroyed. As a result, `MagicObserver` is instantiated just

[2019-05-31 13:58] mkouba commented on #2673
Actually, it's probably not a good idea. We should only do this if `Reception.IF_EXISTS` is used.

[2019-05-31 14:22] sarxos commented on #2673
Thank you @mkouba for a detailed explanation.

Can I workaround this somehow? Some workaround I can think of would be to simply ignore this scenario and skip the event since it's useless for me at this stage (since whole stack is already terminated).

Can I do something like:

[code]

The other w/a (but the ugliest one I can think of) would be to somehow destroy my non-managed bean. When I worked

[2019-05-31 14:28] mkouba commented on #2673
You can also use disposer methods for producers in CDI. See for example https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/producer/disposer/DisposerTest.java#L89-L92. For `isScopeActive()` you can either use `BeanManager.getContext()` or Arc-specific `ArcContainer.getActiveContext()`.

WRT workaround: 1) use `@Dependent` for your obse

[2019-05-31 14:34] jesuino commented on #2668
Thank you, sorry I didn't find the original issue.

[2019-05-31 14:38] sarxos commented on #2673
Thank you @mkouba!

I already tried using `@Dependent` for my observer, but this didn't help.

[code]

The problem in fact is not with the multiple instances of `MagicObserver`, but with the fact that Quarkus is spawning new instance of `MagicSystem`. In my case this system has a remoting capabilities and creating cause Java to say "nay, I cannot bind to the already used port".

This is weird beca

[2019-05-31 14:40] mkouba commented on #2668
No problem at all. We should add some FAQ for this particular problem.

[2019-05-31 14:42] mkouba commented on #2673
Yes, because when `MagicObserver` is created it's also injected -> new `MagicSystem` is created as well. And it's created because we destroy request context afterwards. In fact, the request context should probably be inactive but for some reason it may not be and so we attempt to destroy it as well.

[2019-05-31 15:01] oscerd opened #2681 "Add an extension for Camel-AWS SNS"
**Description**
Supporting camel-aws-sns

[2019-05-31 15:02] oscerd commented on #2681
I'm working on this

[2019-05-31 15:53] Sanne commented on #2628
sure. So we'll still allow using `persistence.xml` for any power-user but the power-user better knows what he wants to do ;-)

My point really is more that whatever magic we do with `.properties` is highly dynamic; we could document some of the things it does but I doubt we can do this both comprehensively and keep the docs up to date & an light read.

[2019-05-31 16:10] sarxos commented on #2673
I confirm that change from https://github.com/mkouba/quarkus/commit/a2e0dbcfed8df6f529cf48e60bde56a34b57e21f fixed described problem.

[2019-05-31 16:44] sberyozkin opened #2686 "Native image generation fails with 'Invalid signature file digest' if 'uberJar' is enabled"
**Describe the bug**
If the `quarkus-maven-plugin` enables a `uberJar` property and signed jars such as BouncyCastle ones are pulled in then the native image generation fails with the `java.lang.SecurityException: Invalid signature file digest for Manifest main attributes`.
Excluding `META-INF/*.SF`, `META-INF/*.DSA` and `META-INF/*.RSA` has no effect.

[2019-05-31 16:45] sberyozkin commented on #2686
This can be reproduced with the `integration-tests/keycloak`

[2019-05-31 16:50] sberyozkin commented on #2686
I've assigned it to myself but if someone already knows how to approach this issue please reassign otherwise I'll try to investigate later on, thanks

[2019-05-31 18:45] gwenneg commented on #2626
I just tested https://github.com/manovotn/quarkus/commits/issue2626 with my project, all injections issues are solved. Thanks a lot guys!

[2019-05-31 20:03] machi1990 commented on #2678
Hi @dmlloyd
I was giving this a thought and I have got a question regarding the conversion.
What happens when converting the following values:
-  `makingLifeDifficult`: is it `making-life-difficult`?
-  `READ__UNCOMMITTED`: is it `read-committed` or `read--committed`?

[2019-05-31 20:06] barata0 commented on #2590
@gsmet I believe it's the same problem indeed.

Here it is github project

[https://github.com/barata0/quarkus-rest-client-401
](https://github.com/barata0/quarkus-rest-client-401
)

[2019-05-31 20:11] dmlloyd commented on #2678
I would say:

* `makingLifeDifficult` would be `making-life-difficult` as you say
* `READ__UNCOMMITTED` could go either way (whichever way is easier to specify): such a constant is so poorly named that it probably should be changed. :)

[2019-05-31 21:45] manovotn commented on #2626
Glad to hear that :-)

[2019-06-01 01:52] jclingan opened #2687 "MicroProfile Rest Client @RegisterRestClient ignoring baseUri property"
**Describe the bug**
MicroProfile Rest Client 1.2 added the baseUrl property to the @RegisterRestClient annotation, which seems to be ignored.

**Expected behavior**
Utilize the baseUrl from the @RegisterRestClient(baseUrl = ...) even when.../mp-rest/url property in application.properties does not exist.

**Actual behavior**
"NoSuchElementException: Property org.acme.restclient.CountriesService/mp

[2019-06-01 12:13] gunnarmorling opened #2689 "Warning about failed substitution registrations"
I'm seeing these warnings during native builds:

It's not quite clear to me what the implications of this is and whether it's a real problem or not. Would be good to clarify this, e.g. by adding another message in case this is something originating from SVM but can be ignored.

[2019-06-01 12:58] fiorenzino commented on #2081
some workaround for this?

[2019-06-01 17:44] geoand commented on #2687
Interesting, I'll try and take a look at it soon, unless anyone beats me to it

[2019-06-01 23:23] jclingan commented on #2687
BTW, I'm not sure if [this commit](https://github.com/resteasy/Resteasy/pull/2052/commits/386077e9ef0447b49597f3497b9623b33d950c5b) fixes the problem (RestClientExtension.java). Haven't tracked down if it fixes the problem and, if so, when it will be pulled into Quarkus.

[2019-06-01 23:24] geoand commented on #2687
@jclingan I tried against the latest master and the problem was still there. PR #2690 should take care of the issue

[2019-06-01 23:25] jclingan commented on #2687
Thank you sir!

[2019-06-01 23:26] geoand commented on #2687
You are most welcome :)

[2019-06-02 02:58] dubemarcantoine commented on #2413
I actually have the same issue on a project using Quarkus 0.15.0 and Gradle 5.4.
Tested your repo and get the same stacktrace as in my repo which is:
[code]

[2019-06-02 07:39] gunnarmorling opened #2691 "Separate Kafka-based integration tests from main integration tests"
The Kafka-based integration tests spin up a Kafka node which isn't needed for the majority of tests in _integration-tests_ main. On the other hand, there's an H2 database started up, which isn't needed in the Kafka tests. Separating the tests into two module will make running individual tests quicker, e.g. from within the IDE. I'll send a PR an a bit.

[2019-06-02 20:23] JohT opened #2694 "ValidationException when validating beans without validation annotations"
Without any bean validation annotations, "validator.validate(object)" leads to:
javax.validation.ValidationException: HV000249: Uninitialized bean metadata for class: io.github.joht.quarkvent.message.command.account.CreateAccountCommand. Please register your bean class as a class to initialize when initializing your ValidatorFactory.

StackTrace:
org.hibernate.validator.internal.metadata.Predefine

[2019-06-03 05:02] stuartwdouglas commented on #2671
This is actually just that the generic type was not being passed to ASM.

[2019-06-03 05:02] #2671 closed

[2019-06-03 06:59] mkouba opened #2696 "NPE from ArcContextProvider during app shutdown"
`ArcContextProvider` should count with a case where ArC container is shut down [here](https://github.com/quarkusio/quarkus/blob/master/extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/context/ArcContextProvider.java#L28) and [here](https://github.com/quarkusio/quarkus/blob/master/extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/context/ArcContextProvider.java#L69).

Also it s

[2019-06-03 07:01] mkouba commented on #2696
This issue is a follow-up of https://github.com/quarkusio/quarkus/issues/2622.

[2019-06-03 07:14] #2687 closed

[2019-06-03 07:19] #2626 closed

[2019-06-03 08:55] #2647 closed

[2019-06-03 09:01] #2634 closed

[2019-06-03 09:07] Sanne commented on #2223
Re-opening:  #2672 didn't fix the problem, we simply avoid it affecting Hibernate ORM but there's several more libraries (and possibly user code) that could be affected.

[2019-06-03 09:13] FroMage commented on #2671
Thanks everyone :)

[2019-06-03 10:14] #1609 closed

[2019-06-03 10:28] gsmet commented on #2413
@dubemarcantoine not sure I understand? You tested `master` and you still have a similar issue?

If so, could you open another bug with a reproducer so that we can take a look at it. Thanks!

[2019-06-03 10:32] geoand commented on #2413
If someone that is having the problem could also provide the database dump they are using to view the problem, along with step by step instructions on how to reproduce it, that would be great. When I tried the reproducer mentioned above I could not reproduce the problem.

[2019-06-03 12:36] mkouba opened #2699 "Context propagation and dev mode - RejectedExecutionException thrown during app shutdown"
Steps to reproduce:

1.  clone https://github.com/mkouba/pulls
2.  run `mvn compile quarkus:dev`
3. CTRL + C

This issue is a follow-up of #2696.

[2019-06-03 12:36] #2696 closed

[2019-06-03 12:41] mkouba commented on #2699
[code]

[2019-06-03 13:04] gwenneg commented on #2413
@geoand There might be a bug after all since I'm not the only one who saw it. I will try to reproduce it in a few hours (and I will update the reproducer if needed).

[2019-06-03 13:05] geoand commented on #2413
@gwenneg I would suggest to wait a few hours until `0.16.0` is released :)

[2019-06-03 14:20] dmlloyd commented on #2223
Perhaps we need a feature which registers an error during image build if any `isXxxEnabled` method is called.

[2019-06-03 14:21] rsvoboda commented on #2482
I hit this issue when playing with https://github.com/AdamBien/quarkee

[2019-06-03 14:24] FroMage commented on #1943
This is not implemented yet, but it could be implemented the same way as #2698 (with hardcoded html) until we have support for templating. The trick is going to be how to implement this without depending on RESTEasy which is the one having all the registered URIs that are not servlets.

[2019-06-03 14:28] FroMage commented on #2628
Yes please open an issue, we need to support this in the config, and then I've ideas how to support this in Hibernate ORM with Panache.

[2019-06-03 14:30] Sanne commented on #2223
Isn't it very common to invoke such methods? we do it all the time..
 - https://github.com/hibernate/hibernate-orm/commit/4be05af86d6d9e6acb1a3862ec7bdae5cba54a25

[2019-06-03 14:36] mkouba commented on #2223
IMHO these methods should only be used rarely, e.g. to fix some performance issue in a critical path or when it's expensive to create a log message. Because it's error prone - you need to keep those invocations in sync - e.g. `isDebug()` and `debug()`.

[2019-06-03 14:52] geoand commented on #2667
I assume this was fixed by #2667?

[2019-06-03 14:52] dmlloyd commented on #2223
I was thinking only of image build time - during static initialization - but I guess these methods could legitimately be called at that time as well.  What we'd have to detect is one of these methods called during static init, whose value was also immediately stored into a final field.  Maybe a substrate feature would be more effective - and in this case we could maybe automatically inline these f

[2019-06-03 16:01] loicmathieu commented on #2667
Yes, the PR is merged but it didn't close the issue automatically. As I can close it, I'll do it myself :)

[2019-06-03 16:01] #2667 closed

[2019-06-03 16:18] geoand commented on #2616
I am going to close this since I tested with `0.16.0` which was just released and the problem can no longer reproduce the problem

[2019-06-03 16:18] #2616 closed

[2019-06-03 20:05] gwenneg commented on #2413
@geoand I just updated my reproducer with `0.16.0` and the bug is happening again. I also found out that it's only happening during the second `./gradlew quarkusDev` execution if you're doing it from a freshly cloned repository. It looks like it has something to do with the existence of the `build` directory in the project at the moment of the task execution...

[2019-06-03 23:04] dubemarcantoine commented on #2413
I have the exact same issue as @gwenneg, I tested it on his sample repo and on my project and got the same result. The project structure is a bit different however as I started a multi-module project.

[2019-06-04 00:32] #1733 closed

[2019-06-04 05:50] #2673 closed

[2019-06-04 07:44] xstefank opened #2701 "Arquillian - Failed to locate project pom.xml"
**Describe the bug**
Arquillian adapter doesn't generate pom.xml in created temp directory. The test cannot be run.

**Expected behavior**
Arquillian tests should be able to run.

**Actual behavior**
Integration test with arquillian fails with
[code]

**To Reproduce**
Reproducer: https://github.com/xstefank/learning-tests/tree/master/quarkus/arquillian

**Environment (please complete the following

[2019-06-04 08:15] cescoffier commented on #546
Nope. Closing.

[2019-06-04 08:15] #546 closed

[2019-06-04 08:19] xstefank commented on #2701
I was able to fix this by adding `Files.copy(Paths.get("pom.xml"), tmpLocation.resolve("pom.xml"));` to `QuarkusDeployableContainer`. However, I am not sure this is the right approach.

[2019-06-04 08:25] holtakj commented on #2413
I have the same issue. Quarkus 0.15.0 and 0.16.0.

[2019-06-04 08:35] sarxos commented on #2673
Thank you @mkouba :)

[2019-06-04 08:51] FroMage commented on #2196
@stuartwdouglas can we get a PR for your fix?

[2019-06-04 08:55] emmanuelbernard commented on #1886
I spoke with @Sanne and we will change Quarkus ORM extension behavior to adapt the naming strategy to the dialect. For Postgres, we would go lower case by default. With the expectation that users can change the naming strategy.

[2019-06-04 08:56] emmanuelbernard commented on #1886
This we think will be a better approach that hacking Hibernate or subclassing dialects.

[2019-06-04 08:58] emmanuelbernard commented on #1886
H2 and Postgres go for lower case

[2019-06-04 09:05] geoand commented on #2413
I will reopen this issue since I can reproduce it using the supplied project (https://github.com/gwenneg/quarkus-jdbc-driver-not-detected) with the following simple steps:

[code]

The interesting thing however is that if I do:

[code]

everything works as expected. Not really sure what could be going on here... @gsmet @Sanne any ideas?

[2019-06-04 09:07] FroMage commented on #1886
I have tried setting the naming strategy to no effect. I also did not find in the code where the schema-update code uses the strategy, which may be related to the lack of effect.

[2019-06-04 09:10] gsmet commented on #1886
@emmanuelbernard but that does mean that it will still not work by default with Hibernate ORM?

[2019-06-04 09:11] emmanuelbernard commented on #1886
@FroMage I'll investigate that

[2019-06-04 09:14] FroMage commented on #1886
If we do the change here and people love it, it makes it easier to justify porting it upstream later, for a lower risk to non-Quarkus ORM users.

[2019-06-04 09:23] jfwork opened #2702 "Running Quarkus JVM app on OpenShift requires root access (SCC)"
Running Quarkus app in `jvm` mode on OpenShift requires `root` acces (configuring SCC).
App uses Narayana JTS.

[code]

Setting `-Dcom.arjuna.ats.arjuna.objectstore.objectStoreDir` and mounting volume seems to avoid configuring SCC (witch is better).
Can we add it to documentation?

[2019-06-04 09:27] FroMage opened #2703 "NPE in new QuarkusExceptionHandler"
Just got that for an async jaxrs exception:

[code]

I can work around it by checking if the exception is `null`, but I don't quite understand why it's `null` and where it's actually set.

@stuartwdouglas ?

[2019-06-04 09:36] gsmet commented on #2701
@mkouba can you take a look at this one?

[2019-06-04 11:16] FroMage commented on #2196
This was fixed on master with 705727e784c15d76be90d30de098e38666540c66

[2019-06-04 11:57] geoand commented on #2702
Can you please elaborate on why the application needs to run as root in the first place?

[2019-06-04 12:07] jfwork commented on #2702
What I found is that Narayana uses `ShadowNoFileLockStore`. The line`cannot access root of object store: /deployments/ObjectStore/ShadowNoFileLockStore/defaultStore/` says it all.
I was using `Dockervile.jvm` from examples that uses `fabric8/java-alpine-openjdk8-jre` base image.

If you run it on your laptop (and you have root access) it's OK.

`/deployments` is a `WORKING` directory. Probably app

[2019-06-04 12:13] mkouba opened #2704 "Dev mode - get notifications about file changes without app restart"
Currently, if an extesion produces a `HotDeploymentWatchedFileBuildItem` a change of this file results in hot redeployment when in dev mode. It would be useful if it was possible to get notifications about file changes without app restart. A typical use case is templating engine - a change in a template resource should only result in re-creating the template.

[2019-06-04 12:15] emmanuelbernard commented on #1886
Ok so update for everyone. It turns out that the Dialect has a way to tell whether a DB is upper case or lower case for its identifiers and that setup is separate for quoted identifiers and non quoted ones.

H2 seems to be uppercase for non quoted, and mixed for quoted
Postgresql seems to be lowercase for non quoted, and mixed for quoted

So changing the dialect tree probably would be a better app

[2019-06-04 12:22] geoand commented on #2702
Can you try adding something like:

[code]

in Dockerfile.jvm?

[2019-06-04 12:27] FroMage opened #2705 "external libraries with `beans.xml` should be indexed"
As seen in https://github.com/quarkusio/quarkus/pull/2636#discussion_r288550497, external libs that have a `beans.xml` file are not currently indexed, but they should.

[2019-06-04 12:30] iocanel opened #2706 "Create a remote dev setup goal"
**Description**
Currently, to use the remote dev awesomeness, some manual steps are required:
1. Create a Dockerfile for remote dev that includes sources, mvnw etc.
2. Configure the secret in the application.properties
3. Add a bunch of extensions that enable remote dev mode  (e.g. web sockets etc).

It would be awesome if there was a simple goal that would automate all the above.

[2019-06-04 12:40] geoand commented on #2706
Having a maven goal to set this up in an existing project would be great. Or maybe this should be setup OOTB when a project is created?

[2019-06-04 12:46] gsmet opened #2707 "web-fragment.xml support introduced in 0.16.0 is broken"
`ZipPath` does not support `toFile()` so this code won't work:
https://github.com/quarkusio/quarkus/blob/master/extensions/undertow/deployment/src/main/java/io/quarkus/undertow/deployment/WebXmlParsingBuildStep.java#L109
and throw:
[code]

This is annoying because as long as you have a jar with a `web-fragment.xml`, you're not able to compile your application anymore.

Note: we should probably hav

[2019-06-04 12:57] gsmet commented on #2707
@stuartwdouglas can you have a look at this one?

[2019-06-04 12:59] emmanuelbernard commented on #2502
CC @cescoffier @vietj do we want to support that or not?

[2019-06-04 13:00] emmanuelbernard commented on #2686
Discussing with some others, the best would be for us to filter out the signature files for the moment. If anyone wants to take that action, please open a PR.

[2019-06-04 13:04] gsmet commented on #2502
@leotu any chance you could create a simple reproducer?

[2019-06-04 13:04] #2691 closed

[2019-06-04 13:26] gastaldi commented on #2707
@gsmet I pushed a fix in https://github.com/quarkusio/quarkus/pull/2708 (still missing tests though)

[2019-06-04 13:58] gunnarmorling opened #2709 "Hot replacement upon incoming/outgoing Kafka message"
Details of this are a bit blurry to me, but essentially, what I'd want is to have hot code replacement without having to refresh an application's web view when

* receiving an inbound Kafka message after a code change
* emitting a Kafka message e.g. from af `Flowable` after a code change

Perhaps it could be expanded to work with Reactive Messaging in general, but using Kafka made me wish for this

[2019-06-04 14:02] rsvoboda opened #2710 "Shutdown task failed: java.lang.IllegalArgumentException - quarkus-hibernate-orm and quarkus-smallrye-fault-tolerance enabled"
I see `java.lang.IllegalArgumentException` thrown at the end of test phase when `quarkus-hibernate-orm` and `quarkus-smallrye-fault-tolerance` are enabled.

Stacktrace includes keywords like HystrixThreadEventStream and io.quarkus.smallrye.faulttolerance. This error message is present only if quarkus-hibernate-orm extension is used too. There is no exception when only quarkus-smallrye-fault-tolera

[2019-06-04 14:06] gsmet commented on #2710
It looks related to context propagation and maybe ArC.

@mkouba @FroMage ?

[2019-06-04 14:07] emmanuelbernard commented on #2482
I did some tests as Iw as curious since it goes into my usual demo path.

If you add a `@Entity` and some database.* info in `application.properties` the error is gone.
If you create a default new project (no rest endpoint) and `mvn quarkus:add-extensions -Dextensions=io.quarkus:quarkus-hibernate-orm` it will fail with a similar stack trace as reported.

So I suppose there is a state here when Hib

[2019-06-04 14:08] emmanuelbernard commented on #2482
CC @gsmet to pick your curiosity ;)

[2019-06-04 14:19] patelapurv16 commented on #1534
Happened to come across the same issue with JRE 12, but the issue is solved with JRE 8.

[2019-06-04 14:19] gsmet commented on #2482
Yeah, my curiosity was picked a few weeks ago. I tried to get a viable error from GraalVM and had to tweak the code a bit to avoid some false positives.

In the end I ended up with a suspicion that maybe it could be related to Narayana. But it's really hard to say what's going on.

I was sidetracked (a lot) but this one is still on my list.

[2019-06-04 14:20] FroMage commented on #2710
Isn't there another issue about this that we fixed?

[2019-06-04 14:20] emmanuelbernard commented on #2482
Blame @nmcl ! :)

[2019-06-04 14:34] rsvoboda opened #2712 "Trailing comma for extensions definition of `quarkus-maven-plugin:create` causes NPE"
Trailing comma for extensions definition of `quarkus-maven-plugin:create` causes NPE and mvn command fail

[code]
[code]

[2019-06-04 14:34] rsvoboda commented on #2710
I use latest master

[2019-06-04 14:35] Sanne commented on #2482
I've been in touch with @mmusgrov , he's going to send some improvements to the Narayana extension.

In particular we should be able to get rid of the substitutions, maybe wait for that, it might be easier to figure out what's going on here?

[2019-06-04 14:37] emmanuelbernard commented on #2482
What's your expected timeframe @mmusgrov ? 1d 1w 1m 6m 1y never?

[2019-06-04 14:39] rsvoboda commented on #2712
I will update CreateProjectMojo to eliminate null from the extensions set.

[2019-06-04 16:06] tandraschko opened #2714 "wrong proxy bytecode generated for FacesContext#getNamingContainerSeparatorChar()"
I currently create a extension for JSF/MyFaces and it seems that the proxy generation creates wrong bytecode for this single case:

Steps to reproduce:
- clone https://github.com/apache/myfaces.git, a mvn install -DskipTests
  This may be required as changes may not be in maven repo yet.

- clone https://github.com/tandraschko/quarkus-myfaces
- cd quarkus-myfaces, mvn clean install
- cd quarkus-my

[2019-06-04 16:13] gsmet commented on #2714
@mkouba I think there's a good chance it's a bug in the code generated by ArC? Could you take a look and confirm that?

[2019-06-04 17:20] #2712 closed

[2019-06-04 19:49] solsson opened #2718 "Kafka compressions Snappy and LZ4 not supported with native builds"
This limitation is documented in #977 but not in https://quarkus.io/guides/kafka-guide. My question is what level of effort went in to trying to support snappy and gzip? Is JNI with native somehow ruled out, or might it be worth a try after #2412?

**Describe the bug**

Native builds disable support for message compression types Snappy and Gzip. Any attempt to consume or produce will result in an

[2019-06-04 20:31] chonton opened #2719 "Infinite iteration in LocalProject.loadRootModel"
**Describe the bug**
When <relativePath> of <parent> is set to empty value, loadRootModel iterates indefinitely

**Expected behavior**
iteration should quit

**Actual behavior**
iteration continues forever

**To Reproduce**
Steps to reproduce the behavior:
1. set pom.xml to contain a parent similar to:
[code]

**Environment (please complete the following information):**
  - Quarkus version or git

[2019-06-04 20:32] mgagliardo91 commented on #2470
@famod @jycr I am also experiencing the same issue; however, I am on 0.16.0 which should contain the fix as outlined in #2617 . Prior to the `quarkus-maven-plugin:0.16.0:dev` phase, all dependencies are requested via the mirror defined in my `settings.xml`, however, once the `quarkus-maven-plugin` kicks in, `central (https://repo.maven.apache.org/maven2)` is the resolving repository which ends res

[2019-06-04 20:52] lujop commented on #2020
I have the same problem while running the command from Jenkins that is running as docker image.
The Jenkins docker image has a docker client and parent's docker socket mounted as volume.
Can I do any workaround in my setup?

[2019-06-04 22:13] aloubyansky commented on #2470
Could somebody of those experiencing the issue please verify whether the following helps?
[code]
Thanks.

[2019-06-05 02:16] aaloise opened #2720 "Groovy language support"
It's would be nice to have Groovy supported. It has smooth Java integration, relatively short learning curve and support for unit testing.

Version 3 is being worked on to support the new features that have emerged since Java 9, with support for lambda expressions and JPMS, for instance.

Also, Vert.x has Groovy support and it would be consistent that Quarkus also supports it. Groovy has an averag

[2019-06-05 04:26] #902 closed

[2019-06-05 05:04] tandraschko opened #2721 "Implement BeanManger#isPassivatingScope"
Some frameworks like JSF or DeltaSpike use bm#isPassivatingScope to check if the scope is passivating, and based on this value, the CustomContext#get implementation checks the bean instanceof PassivationCapable (https://github.com/apache/myfaces/blob/4619df600ba130f6e6f8d26d2e7c960d2d36f0de/impl/src/main/java/org/apache/myfaces/cdi/util/AbstractContext.java#L46)

If quarkus would implement isPassi

[2019-06-05 06:39] jfwork commented on #2702
OK, this problem is not Quarkus problem. It's Narayana's 'problem'.
It occurred on every base image with root user.
For fabric8 image, there's no `jboss` user but tried with nobody and it was not successful.

The only solution that worked for me was setting `-Dcom.arjuna.ats.arjuna.objectstore.objectStoreDir` to mounted volume.

Since this is not Quarkus problem I'll close it, but if anyone has an

[2019-06-05 06:39] #2702 closed

[2019-06-05 06:41] geoand commented on #2702
@jfwork :+1:

FWIW, you can use `fabric8/java-centos-openjdk8-jdk` and then the change I suggested above should work

[2019-06-05 08:06] #2205 closed

[2019-06-05 08:13] #2109 closed

[2019-06-05 08:15] mkouba opened #2724 "Dev mode - argument type mismatch when invoking a RUNTIME_INIT build step"
**Describe the bug**

[code]

It's very likely a class loading issue - I've compared the class loader of the [QuteTemplate](https://github.com/mkouba/qute/blob/master/quarkus/deployment/src/main/java/com/github/mkouba/qute/quarkus/deployment/QuteProcessor.java#L184) class coming from the corresponding `java.lang.reflect.Method` and the class loader of the class coming from the  argument and they d

[2019-06-05 08:16] mkouba commented on #2724
@stuartwdouglas do you have an idea what's going on here?

[2019-06-05 08:29] rsvoboda opened #2725 "quarkus-smallrye-jwt (without any additional changes) makes the application build and run fail"
quarkus-smallrye-jwt (without any additional changes) makes the application build and run fail

[code]

[code]

Application execution (app generated via `mvn clean package -DskipTests -DskipITs`)
[code]

After adding following snippet into src/main/resources/application.properties I see a bit different errors
[code]

[code]

And `mvn clean package -DskipTests -DskipITs` fails to produce the jar
[c

[2019-06-05 08:35] clochardpagan opened #2726 "Broken access in openapi and swagger-ui extensions"
**Describe the bug**
Openapi and swagger-ui intergrations are broken. https://github.com/quarkusio/quarkus-quickstarts/tree/master/using-openapi-swaggerui is also broken. It starts up, but /openapi endpoint and /swagger-ui respond with errors.

**Expected behavior**
Cool openapi and swagger pages, heh

**Symptoms**
Adding config key resolves problem in production env, but dev still errors.
[code]

[2019-06-05 08:40] PerfectSlayer opened #2727 "quarkus-generated-openapi-doc.YAM missing"
Hello Quarkus community,

**Describe the bug**
I tried to use the `smallrye-openapi` plugin to serve openapi API description and swagger UI without success. So I fall back to the tutorial and I can't get working neither. So I tried to the sample `using-openapi-swaggerui` and it doesn't seem to work too.

The main issue I have is the `quarkus-generated-openapi-doc.YAM` seems missing.
```2019-06-05

[2019-06-05 08:52] gsmet commented on #2727
This is a duplicate of https://github.com/quarkusio/quarkus/issues/2726 .

Let's close this one and please subscribe to the other one.

[2019-06-05 08:52] #2727 closed

[2019-06-05 08:53] loicmathieu commented on #2558
Hi,
With 0.16 release I see a real boost of performance in quarkus augmentation.
From the 2 projects I am currently working on:
- Quarkus augmentation completed in 3715ms => Quarkus augmentation completed in 1877ms
- Quarkus augmentation completed in 2804ms => Quarkus augmentation completed in 1550ms

And removing openapi extention only improve the performance of the augmentation of 70ms so it's n

[2019-06-05 09:19] emmanuelbernard opened #2728 "Improper shutdown exception"
Upon quarkus:dev mode shutdown via CTRL+C, I receive the following error

[code]

The app uses the extensions mentioned in the log and connect to H2 server.

[code]

[2019-06-05 09:28] gsmet commented on #2728
It looks a lot like https://github.com/quarkusio/quarkus/issues/2699 but people told me it was only in the context of context propagation.

[2019-06-05 09:33] gsmet commented on #2728
@mkouba can you take a look at that one? Seems highly related to the issue I mention above.

[2019-06-05 09:36] gsmet commented on #2726
@clochardpagan when you say `Also it's strange that when I'm not adding this line, openapi is still available in production - not sure how safe is this.`, we agree that you're only talking about openapi, not Swagger UI?

The OpenAPI extension has always been designed to be, well, open. Only Swagger UI is limited to dev mode if you don't explicitly enable it.

[2019-06-05 09:51] gsmet commented on #2726
@stuartwdouglas so my understanding is that the `wiring-classes` directory is not part of the directories handled by the `RuntimeClassLoader` because in dev mode we explicitly target `wiring-devmode` as the wiring directory (we have a few classes generated there but most of them are in `wiring-classes`).

Not sure how to handle this: is it better to add `wiring-classes` to the `applicationClassesD

[2019-06-05 11:32] emmanuelbernard commented on #1886
@Sanne @gsmet @FroMage I looked at the code and I now agree that the dialect `IdentifierHelperBuilder` is most likely the right way to go. I've created a pull request with Quarkus specific dialects.
I also documented how a developer would chose between `quarkus.hibernate-orm.database.generation` `none`, `update`, `drop-and-create`. Let me know if that needs improvements.

I think the dialect chang

[2019-06-05 12:02] #2302 closed

[2019-06-05 12:02] #2266 closed

[2019-06-05 12:10] gsmet commented on #2728
Hmmm, well, you also have the context propagation extension. It's just that the extension is not advertised in the extension list.

[2019-06-05 12:19] emmanuelbernard commented on #2705
This can be closed as not reproducible, right?

[2019-06-05 12:23] #2707 closed

[2019-06-05 12:26] mkouba commented on #2710
It's definitely related to context propagation. From what I see in the stack the `JtaContextProvider` attempts to use ArC after the container was shut down. A similar issue was in `ArcContextProvider` - see https://github.com/quarkusio/quarkus/issues/2696.

Yes, that confirms my assumption that it's a bug in `JtaContextProvider`.

[2019-06-05 12:30] mkouba commented on #2728
Yes, I believe this duplicates https://github.com/quarkusio/quarkus/issues/2699. And I'd bet it's a context propagation bug.

[2019-06-05 12:32] FroMage commented on #2705
Yes, it was worse, it was a PBKAC.

[2019-06-05 12:32] #2705 closed

[2019-06-05 12:40] mkouba commented on #2721
`isPassivatingScope()` returning `false` is probably reasonable because passivation is intentionally ignored ATM. Would you care to send a PR?

[2019-06-05 12:46] FroMage commented on #2710
So `JtaContextProvider` should be updated with a similar fix? What's weird here is that this seems to be hapening due to running cleanup, so perhaps it's a cleanup ordering issue?

[2019-06-05 12:49] FroMage commented on #2710
Seems to me that `HystrixThreadEventStream.getInstance().shutdown()` is also technically invalid, because it will create a new threadlocal (this is what happens here) just to shut it down. There seems to be no way to check if that creation is required, though.

[2019-06-05 12:55] FroMage commented on #2710
@mmusgrov do you agree we should add specific behaviour when CDI is present but there's no transaction manager? I can probably fix this.

[2019-06-05 12:57] FroMage commented on #2728
Only if you show me a stack trace involving CP. I don't see FT, don't see CP, don't see RxJava… The list of extensions does not point to that.

[2019-06-05 13:00] geoand commented on #2728
I tried this just out of curiosity on the simplest `getting-started` quickstart and saw the problem

[2019-06-05 13:25] FroMage commented on #2710
We call:

[code]

This is not the right way to do it?

[2019-06-05 13:28] mkouba commented on #2710
This should be a portable way. If you don't need to be portable, just use `Arc.container() != null`.

I'll fix our `CDIProvider` to throw ISE if it's not available.

[2019-06-05 13:28] FroMage commented on #2710
Ah, `ArcContextProvider` now calls
[code]

But CDI does not appear to have that, is this true @mkouba ?

[2019-06-05 13:28] FroMage commented on #2710
This needs to be portable, it's not in quarkus.

[2019-06-05 13:29] FroMage commented on #2710
OK, if your fix to `CDIProvider` is enough to fix this, then it's much easier than the alternatives :)

[2019-06-05 13:30] mkouba commented on #2710
I'll send a PR shortly...

[2019-06-05 13:59] FroMage commented on #2710
Trying out the PR with the problematic example project.

[2019-06-05 14:00] FroMage commented on #2710
And I confirm it fixes the issue.

[2019-06-05 14:07] FroMage commented on #2728
This is the code which submits the executors:

[code]

This is why there's no stack trace to display. I really don't see how this is related to CP.

[2019-06-05 14:08] FroMage commented on #2728
I guess this is an issue for @stuartwdouglas  then. I don't know how to fix it.

[2019-06-05 14:09] FroMage commented on #2699
Duplicate of #2728. Closing this one just because the other one has more comments, even though this one was first.

[2019-06-05 14:09] #2699 closed

[2019-06-05 15:44] mgagliardo91 commented on #2470
@aloubyansky looks like, even though I have my mirror defined in `~/.m2/settings.xml`, I have to explicitly define our internal nexus repository as a `<repository>` in the quarkus project's `pom.xml`. I did not notice any affect of the addition of `.setRepositories(remoteRepos)` on that front. Thanks for looking into this.

[2019-06-05 16:25] emmanuelbernard opened #2737 "Improve the add-extensions partial match approach"
Today the following algorithm is used:

For each entry in `-Dextensions` do the following:

1. look for extensions with exactly matching tags. e.g. a dep with tag `abracadabra` will match `-Dextensions=abracadabra`
2. look for exensions whose name includes the query in lowercase e.g. `Quarkus AbrAcadabra` will match `-Dextensions=brac`
3. look for exensions whose artifact id name includes the quer

[2019-06-05 16:29] emmanuelbernard commented on #2737
@gsmet Here are my rule change proposal to limit name conflicts and offer a simpler way out than having to write the GAV. I'm interesting to see what hope you can poke at it.

[2019-06-05 16:47] anadollu commented on #2125
I follow the instructions you wrote, does not work.

[2019-06-05 17:02] #2710 closed

[2019-06-05 23:33] mb010865 commented on #2125
Copying the libsunec.so was not enough for me. Copying the whole /jre/lib/amd64 directory works for me. But as its a lot maybe there is a subset of .so files that works too.

[2019-06-06 01:26] stuartwdouglas commented on #2724
This is because the template and the project are in the same project. The 'dev' mode supports multi module projects now, so it will discover the additional modules and attempt to make them hot reloadable, which does not work. You can work around this for now with mvn compile quarkus:dev -DnoDeps, but I might add a simple fix to skip extension modules

[2019-06-06 01:34] stuartwdouglas commented on #2724
Actually I can't really fix this, as it will also include the qtue core itself, which will have similar problems, the real fix it to just add noDeps to the plugin config.

[2019-06-06 01:46] stuartwdouglas commented on #2703
So the issue is that this is implemented by mapping a 500 error page handler, but it is possible for the application to just directly dispatch a 500 error with no associated exception, which is what is happening here.

[2019-06-06 05:08] mkouba commented on #2724
Ah, I'm sorry I actually knew the root cause (I created https://github.com/quarkusio/quarkus/issues/2575) and forgot to use `-DnoDeps`! Marking this as invalid.

[2019-06-06 05:08] #2724 closed

[2019-06-06 05:44] michaelpaesold commented on #810
There is actually some work in progress regarding improved extension documentation, see #1964.

[2019-06-06 05:58] gsmet commented on #2737
Looks good to me. Let's try to tackle that for 0.17.0.

[2019-06-06 06:00] #2728 closed

[2019-06-06 06:02] #2703 closed

[2019-06-06 06:18] #2726 closed

[2019-06-06 08:56] emmanuelbernard commented on #1886
CC @gsmet
@Sanne told me the reason why he thinks the `Identifier` is not a proper solution at least for upstream.
According to him, one can change the behavior of the DB wrt lowercase / uppercase interpretation. I had not seen a flag in PostgreSQL but H2 has one. So the dialects hard codes the *default* value. Since we can't parameterize the dialects that's too strong of a choice to push upstream

[2019-06-06 09:02] michalszynkiewicz commented on #2495
Yes, sorry for not confirming earlier.

[2019-06-06 09:02] #2495 closed

[2019-06-06 09:37] loicmathieu opened #2744 "LockModeType support with Panache"
**Description**
Panache in both mode (Entity and Repository) don't have primary support for JPA LockModeType. So if we want to implements a lock mechanism we must inject the EntityManager and use the lock method on the entity.
This is not very convenient and moreover there is no way to make a lock without first retrieving the entity so hitting the database 2 times.

**Implementation ideas**
I have

[2019-06-06 09:40] michalszynkiewicz opened #2745 "WebSocket Encoder has to be explicitly registered for reflection"
**Describe the bug**
Using a custom encoder in the native mode fails with a failure on reflective instantiation.
A user needs to use `@RegisterForReflection` to make it work.

**Expected behavior**
I'd expect all encoders and decoders to be registered for reflection automatically

**Actual behavior**
Application fails to instantiate a [custom encoder](https://github.com/michalszynkiewicz/failing-e

[2019-06-06 10:04] FroMage commented on #2744
I don't know the first thing about these methods, so I'll let @emmanuelbernard @Sanne and @gsmet pitch in on whether that's useful enough to add here.

If they say it is, the proposed API looks right to me.

You get a core dump, so I assume this is in native mode, right?

[2019-06-06 10:10] Sanne commented on #1886
+1 for such a solution in quarkus. Power users can switch dialects.

[2019-06-06 10:25] anadollu commented on #2125
@mb010865 Thank You Michael, It worked with whole /jre/lib/amd64 directory.
@gsmet  You are right, it should be added to doc. I spent two days on it. The only one thing left that,  Michael already mentioned about, only adding libsunec.so dependencies would be enough.

[2019-06-06 10:58] geoand opened #2746 "Consider adding src/main/resources to native image"
**Description**
It seems to come up somewhat often that application developers want to include the contents of `src/main/resources` into their native image.
Currently we don't provide an easy way of doing that, other making the user add `additionalBuildArgs`.
This has been discussed before in #388, but I believe that this need is not limited to extension authors only (see for example [this](https:

[2019-06-06 11:21] machi1990 commented on #1889
I'll take a look at this.

Thanks @gsmet for the inputs.

[2019-06-06 11:43] lburgazzoli opened #2747 "StringIndexOutOfBoundsException in ApplicationArchiveBuildSt"
**Describe the bug**
Weh running an application in quarkus:dev mode, if the application declares marker files like "org/apache/camel", then ApplicationArchiveBuildStep throws a StringIndexOutOfBoundsException.

This happens bcause accoring to the [code](https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/index/ApplicationArchiveBuildStep.java#L189-L

[2019-06-06 12:33] loicmathieu commented on #2744
Basically it's generating SELECT ... FOR UPDATE query via the JPA support.

[2019-06-06 12:37] lburgazzoli opened #2750 "camel dev mode fire initialization events twice"
**Describe the bug**
I have [this](https://github.com/lburgazzoli/apache-camel-k-runtime/blob/quarkus-runtime/camel-k-runtime-quarkus/camel-k-runtime-quarkus/src/main/java/org/apache/camel/k/quarkus/ApplicationRuntime.java) that listens for camel related events to perform some task and what I see is that when running with `quarkus:dev` the initializing method is fired twice.

When running the jar

[2019-06-06 12:38] lburgazzoli commented on #2750
The stack trace for the two invocations:

[code]

[code]

Looks like event are fire by CamelHotReplacementSetup

[2019-06-06 12:38] lburgazzoli commented on #2750
//cc @gnodet

[2019-06-06 13:42] FroMage commented on #2737
LGTM too

[2019-06-06 14:20] vsodaitis commented on #2413
I don't recall having this on 0.15.0, but with 0.16.{0|1} I have it as well.
[code]
fails.
[code]
works.
As far as I can see, building with quarkusDev does not copy application.properties to build/classes/java/main while buildNative does that and afterwards it works with quarkusDev as well. However if you do some changes in application.properties you have to edit build/classes/java/main/applicatio

[2019-06-06 14:24] cristhiank commented on #2288
I see there is a new tag (release?) of smallrye that includes the fix for this.
https://github.com/smallrye/smallrye-config/releases/tag/1.3.7

Should I create I new issue to bump the smallrye version ? Or I can just do it and associate it to this issue ?
Quarkus is using 1.3.5
https://github.com/quarkusio/quarkus/blob/6fb4b857a14ff757f9a94a1a34dbcf578bddcb1f/bom/pom.xml#L47

[2019-06-06 14:26] kenfinnigan commented on #2288
Associating to this issue is fine

[2019-06-06 14:34] dmlloyd commented on #2288
Just bumping the version isn't going to work; there are some other changes that will be necessary.

[2019-06-06 14:42] cristhiank commented on #2288
Ok, I'm building in localhost at this moment.. Will let you know

[2019-06-06 14:50] geoand commented on #2413
Thanks for the info @vsodaitis . I haven't really looked into this yet, hopefully I will have some time next week.

[2019-06-06 14:52] cristhiank commented on #2288
Yeap, looks like there were more changes in the Smallrye internals. Will try to fix them and push for your revision.

[2019-06-06 17:46] emmanuelbernard commented on #2737
I'm adding a new use cases to it. Some extensions have a very very bad "SEO" because their artifactId is long and painful to write down. It would lead to other extensions or approaching being de facto preferred instead of what would be the more natural path for a Quarkus app.
To fix that, we want to explore the notion of a shortname for extensions (to be added in the JSON file).

That short name i

[2019-06-06 17:47] emmanuelbernard commented on #2737
On a side note, I wonder if we should consider `quarkus-smallrye-` as an optional prefix just like `quarkus-` is today. Or whether that would lead to problems.

[2019-06-06 17:49] kenfinnigan commented on #2737
Could do. In theory there shouldn't be overlap, otherwise it means we're duplicating effort in different places

[2019-06-06 18:34] rikcarve commented on #2470
Same issue here with 0.16.1, only workaround is to set the <repository> in the project's pom.  Issue should probably be re-opened

[2019-06-06 19:19] emmanuelbernard commented on #2737
I not following your effort duplication argument @kenfinnigan

[2019-06-06 19:21] kenfinnigan commented on #2737
If we have a `quarkus-smallrye-{something}` and a `quarkus-{something}` then it likely means `{something}` is implemented both in SmallRye and Quarkus, which would be duplicating effort.

[2019-06-06 19:23] emmanuelbernard commented on #2737
Ah I get your meaning now.

[2019-06-06 19:39] #2478 closed

[2019-06-06 19:41] johnaohara commented on #2238
@lburgazzoli has this issue been resolved now?

[2019-06-06 20:32] aloubyansky commented on #2470
@jycr did fix a related issue but not the one you are reporting here. So, yes, it's worth re-opening it.

[2019-06-06 22:46] markuslackner opened #2751 "Reactive Postgres Client and Flyway/Postgres does not work together"
**Describe the bug**
The use of the reactive postgres client and flyway or classical agroal datasource together in one project does not work. Its not possible to configure both features at the moment because reactive postgres client must be configured with `quarkus.datasource.url=vertx-reactive:postgresql://localhost:5432/quarkus_test`  and flyway with `quarkus.datasource.url=jdbc:postgresql://loc

[2019-06-07 05:52] mb010865 commented on #2125
Surprisingly it now works with adding only libsunec.so. Maybe because of upgrade to 0.16.1?

[2019-06-07 07:09] cescoffier commented on #2751
@tsegismont Any idea?

[2019-06-07 08:31] emmanuelbernard commented on #2744
Hey @loicmathieu I reluctant to add them to the panache contract as I think we are falling into the cases you do less than 20% of the time. Injecting the `EntityManager` seems an acceptable approach to me.

Stef can chime in but I think if we go an port EM methods in the PanacheEntityBase, that would dillute panache value.

[2019-06-07 08:58] loicmathieu commented on #2744
Lock is a common operation on database.

If we didn't give first class support, the user needs to play with the EntityManager but also don't have any way to generate a single `SELECT ... FOR UPDATE` query as it will only be able to use the `EntityManager` to lock the object after retrieving.

So it's also a performance issue :
[code]

I'm agree that it will leak JPA in Panache and it's not a very

[2019-06-07 08:58] FroMage commented on #2744
What we could do is that I make it possible for people to add magic methods to their own magic entity superclass. You could then write:

[code]

This would just wire in any static method annotated with `@PanacheMagicMethod` and forward the call to the mentioned class with an extra first parameter of type `Class<?>`. This would let you get that API as if it were upstream. And we can wait to see how

[2019-06-07 09:06] tsegismont commented on #2751
@cescoffier we could add named datasources support in the reactive pg extension. Then users would be able to:
- stick to the default datasource for Flyway (and blocking db access with Hibernate/Panache
- use a different "named" datasource for Pg client

Config:

[code]

Code:

[code]

[2019-06-07 09:23] emmanuelbernard commented on #2744
On the poerf issue, you can load the entity in the first place from the EntityManager with the find with lock option. You don't have to find by id with panache.

So my main concern is readability creep. If we put lock, we need to duplicate a lot of other Panache methods.
I wonder about the following proposal

[code]

withLock() return type would return all Panache methods that accept a lock at the

[2019-06-07 09:34] FroMage commented on #2744
Probably, but I'm not sure it would be less methods to implement. Since we added support for optional parameters such as `Sort` and query params and Java does not support this except by overloading, we're still going to duplicate all the overloads on the return type of `withLock`  (which must be a new type since those are static methods otherwise).

[2019-06-07 11:24] emmanuelbernard commented on #2744
@FroMage my problem is more that when I do `Todo.<autocomplete>` how many methods do I see?

[2019-06-07 11:46] cescoffier commented on #2751
Looks good (and close to reactive messaging). Just worried about `@Named`, every time I tried to use it @mkouba told me "NO :-)". Should we introduce a qualifier?

[2019-06-07 11:46] cescoffier commented on #2751
@markuslackner would the solution proposed by @tsegismont works for you?

[2019-06-07 11:48] #2681 closed

[2019-06-07 11:50] #2547 closed

[2019-06-07 12:22] tsegismont commented on #2751
Maybe we can reuse the [at]Datasource annotation from Agroal extension.

Le ven. 7 juin 2019 à 13:46, Clement Escoffier <notifications@github.com> a
écrit :

[2019-06-07 12:52] FroMage commented on #2744
Too many, but if we add `Todo.withLock` you will also see too many. To be fair, they all have the same name, this is due to optional parameters.

[2019-06-07 13:02] loicmathieu commented on #2744
I'm playing the devil advocate here but maybe the best is to provide an annotation like Spring data does ... So it will be the work of the extention to generate the correct method call.

With this we will be able to add a lock mechanism to any find* method, we will just need to redefine those methods in the repository interface (or in the Entity).

Or an other solution is to provide some kind of _

[2019-06-07 13:07] emmanuelbernard commented on #2744
@FroMage I'll see half of too many if we go the `withLock` approach. Or the context approach that @loicmathieu mentions.
I don't think the annotation approach would work for Panache as unlike Spring Data we are not imposing usage via interface methods. In panache there is no natural way to host your annotation at the operation level. Not sure I'm super clear.

[2019-06-07 13:33] loicmathieu commented on #2744
@emmanuelbernard What I have in mind is that if we want to use this annotation we need to **override** the inherited findById/find method from the PanacheEntity or the PanacheRepository

[code]

As PanacheRepositoryBase is an interface with default method we cannot call super so it's not very convenient ... at this point maybe this can be reconsider (Quarkus is not yet in version 1 so backward com

[2019-06-07 13:46] cescoffier commented on #2737
I'm on it, trying to see the corner cases.

[2019-06-07 13:57] emmanuelbernard commented on #2744
I don't think that's OK to do so because findById with different lock mode for a given entity is a valid use case.

[2019-06-07 14:04] gsmet commented on #2125
We haven’t changed anything regarding the SSL support for a while.

@anadollu can you check if it’s OK for you too?

[2019-06-07 14:04] FroMage commented on #2744
You can, it's just that nobody remembers how to do it: `PanacheRepositoryBase.super.findById(parameterId)`

[2019-06-07 14:31] loicmathieu commented on #2744
Thanks @FroMage so there is a way to do it, but it's not very elegant

[code]

And I just think that with the current API I can already do this:
[code]

Maybe if we don't have a consensus of a Lock support we can add a Lock section on the Panache Guide with this solution (I can do it with pleasure), this will also work

[2019-06-07 15:33] loicmathieu opened #2755 "Provide a flush() fonction to Panache"
**Description**
Panache doesn't provide a way to flush the persistence context, making difficult to catch exception on repository/entity as they are generated out of the method when the transaction is committed.

For exemple, on the following code, the try/catch block didn't work :
[code]

So we need to implement this:
[code]

**Implementation ideas**
There is multiple way (that can be mixed) to i

[2019-06-07 15:42] belyaev-andrey opened #2756 "Impossible to change OpenApi document URL via application.properties"
**Describe the bug**
If you add a property ```quarkus.smallrye-openapi.path``` to change an OpenApi doc location (I don't like /openapi personally) it fails if you specify something like
[code]
Error is:
[code]

**Expected behavior**
OpenApi document is downloaded

**Actual behavior**
Error 500

**To Reproduce**
Steps to reproduce the behavior:
1. clone https://github.com/quarkusio/quarkus-quickst

[2019-06-07 16:33] emmanuelbernard commented on #2744
@loicmathieu let's leave with that for now and add a quick message in the doc with a pointer for this issue for people to raise +1 if they want a better solution. Then we can monitor.

[2019-06-07 19:06] dwamara opened #2758 ""io.vertx.core.impl.NoStackTraceThrowable: connection has been closed by the server" when trying to send an email"
**Describe the bug**
a "io.vertx.core.impl.NoStackTraceThrowable: connection has been closed by the server" is returned every time a message wants to be sent.

**Expected behavior**
A message is sent to the specified email address

**Actual behavior**
a "io.vertx.core.impl.NoStackTraceThrowable: connection has been closed by the server" is returned every time a message wants to be sent.
I tried us

[2019-06-07 19:09] dwamara opened #2759 "Support multiple datasources when using Hibernate with Panache"
There seems to be no way to use the Hibernate with Panache in case you have more than one datasource defined.
This should be possible and supported as one cannot assume that only one datasource will be used by a service.
As a matter of fact, one of our services that we would like to move to Quarkus needs 3 different datasources and due to the simplicity of code, we would like to use Hibernate with

[2019-06-07 20:30] geoand commented on #2720
Given the fact that everything that Quarkus supports works OOTB on GraalVM native images, I think that it would be very difficult (perhaps impossible) to make Groovy work properly

[2019-06-08 04:18] aaloise commented on #2720
With current Groovy 2.x I agree that it is very difficult (https://speakerdeck.com/wololock/groovy-and-graalvm). I believe in a better horizon with version 3. I suggest leaving this issue open as we follow the evolution of Groovy in the coming months.

[2019-06-08 09:33] anadollu commented on #2125
@gsmet i am using master branch (999-SNAPSHOT) and not working with only libsunec.so file.

[2019-06-08 14:42] dwamara commented on #2758
Problem has been solved using 0.16.1

[2019-06-08 14:42] #2758 closed

[2019-06-08 15:06] segersb opened #2760 "Set datasource password via environment variable (Postgres)"
**Describe the bug**
According to the Quarkus guide it should be possible to set the datasource password via an environment variable QUARKUS_DATASOURCE_PASSWORD
https://quarkus.io/guides/application-configuration-guide

In my case (with a Postgres DB) this was not enough, I has to add the following line to the application.properties file:
quarkus.datasource.password=QUARKUS_DATASOURCE_PASSWORD

Wi

[2019-06-08 15:25] loicmathieu commented on #2744
Hi
Ok I Will do the documentation update next week and we will see if others have similar needs.

[2019-06-08 15:59] dwamara opened #2761 "Add names to the Mailer"
**Description**
It should be possible to add the names of the sender and of the recipient(s) to an email.

[2019-06-08 16:42] patriot1burke opened #2762 "undocumented uberjar behavior"
**Describe the bug**
uberjar switch generates artifact-version-runner.jar and artifact-version.jar.original.  The documentation does not say that the uber jar generated is -runner.jar

[2019-06-08 19:37] Edubits commented on #1656
FYI: Yasson 1.0.4 is available in Maven central containing the fix for eclipse-ee4j/yasson#260.

[2019-06-09 03:36] jadedevin13 opened #2763 "List all Quarkus Managed Built-in Beans"
Spring Boot has actuator that can list Spring Managed Beans by going to /beans endpoint. What is the quarkus equivalent of this? I know that we can programmatically use ...

[code]

But it can be useful if there's equivalent like Spring Actuator or at least a documentation.

[Relevant stack-o link.](https://stackoverflow.com/questions/56511783/list-all-quarkus-managed-built-in-beans)

[2019-06-09 03:49] lamtrhieu commented on #2545
Hi @Dufgui
Just a simple question. for an extension, how can I know it's outdated ? For now, I have created all the new required class and execute the new command. But I seems cannot find any properties in Extension class to see if an extension is outdated ?

[2019-06-09 04:51] yuhaibohotmail opened #2764 "Support distributed configuration with HashiCorp Vault"
**Description**
(Describe the feature here.)

**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design change proposals should be posted to [the Quarkus developer mailing list](mailto:quarkus-dev@googlegroups.com) (or [the corresponding Google Group](https://groups.google.com/group/quarkus-dev); see [the decisions process document](https

[2019-06-09 06:42] waldimiro opened #2765 "Empty property in application.properties throw exception by injecting with @ConfigProperty eaven with defaultValue"
1. Add an empty property in application.properties
`my.empty.property=`

2. Inject property
`	@Inject
	@ConfigProperty(name = "my.empty.property")
	protected String myProperty = null;`

3. Exception
`javax.enterprise.inject.spi.DeploymentException: No config value of type [java.lang.String] exists for: my.empty.property`

[2019-06-09 07:31] mb010865 commented on #2765
I think this is and should be intended. If you want a possible empty Property you can make myProperty an Optional

[2019-06-09 09:56] geoand commented on #2765
I personally think that is should be allowed (and opened #2766) for it. Lets see what others think.

[2019-06-09 11:14] geoand commented on #2763
I personally like the idea of having extra diagnostics printed either in the log (when the level is set to DEBUG for example) or added to some specific endpoint

[2019-06-09 14:02] ldebello commented on #1647
@rgcostea hi , were you able to run the service using jersey client? I am facing the same issue I included JerseyClientBuilder in the reflection file but I am still getting the same error

[2019-06-09 18:48] gwenneg opened #2767 "Compilation fails with quarkus-gradle-plugin while using Hibernate bytecode enhancement"
**Describe the bug**
Quarkus compilation fails when the `org.hibernate.orm` Gradle plugin is used and the dirty tracking feature of Hibernate bytecode enhancement is enabled.

**Expected behavior**
I want to track dirty entities using Hibernate bytecode enhancement in Quarkus (unless there's a better way to do that).

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-06-09 19:38] gwenneg commented on #2767
It seems that adding the following properties in `application.properties` fixes the compilation issue:
[code]

I will close this issue for now but I still have to confirm Hibernate bytecode enhancement works with Quarkus since I'm not observing the expected classes changes while debugging a real project.

[2019-06-09 20:33] Dufgui commented on #2545
for a simple start you can just get the code from the existing list-extension which check version in the bom artifact.
If you want to go further you can try to code something based on the
https://www.mojohaus.org/versions-maven-plugin/examples/display-plugin-updates.html
you can see the code here :
https://github.com/mojohaus/versions-maven-plugin/blob/master/src/main/java/org/codehaus/mojo/versio

[2019-06-09 21:18] Dufgui commented on #1943
we can parse with jandex `@Path`, `@Get`, ... and generate template in io.quarkus.undertow.deployment.devmode package ?

[2019-06-09 21:21] Dufgui commented on #1943
the custom error handler from resteasy can forward to the generated template file?

[2019-06-10 03:36] wargun02 commented on #2224
Yes please. This feature is indeed very important.

[2019-06-10 05:53] wargun02 opened #2768 "Panache Entity @Id Does Not Support Self-Assigned String Value"
**Describe the bug**
if I have an Entity class of:

[code]

And a portion of codes which persist the entity:
[code]
**Actual behavior**
Throws an exception of:
[code]
**Expected behavior**
This should persist without a problem. In fact an Entity class without extending Panache persisted properly without throwing any exception even if the @Id field (with an assigned value of course) has no @Generat

[2019-06-10 09:53] stephenc opened #2770 "More descriptive error message than `java.lang.IllegalArgumentException: Must be a Class or String, got null` when @Produces on a method returning a a non-proxiable bean"
**Describe the bug**
I had an application with a dependency on a jar file that had a `@Produces` annotation on a method returning a non-proxiable bean (and nothing was actually consuming this bean)

When the jar file was included in a WAR file using Apache OpenWebBeans, the webapp would start successfully. But when in Quarkus you would get this rather non-specific error message:

[code]

Single-st

[2019-06-10 10:14] tandraschko commented on #2721
@mkouba created!

[2019-06-10 10:28] klearchos commented on #1850
Hi @Sanne ,
is this issue still valid?
Could you elaborate a bit more towards what parameters and system properties we should be able to pass to the native image.
From the `NativeImageLauncher` I saw that we already have a system properties map that we pass to the `Runtime` as an array.

[2019-06-10 10:36] masini opened #2773 "NullPointerException using @Provider in MP Rest Client"
**Describe the bug**
@Inject doesn't work in @Provider when the Provider is used by MP Rest Client

**Expected behavior**
The Bean injected

**Actual behavior**
The Bean field is null

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/masini/quarkus-rest-client-npe
2. mvn package
3. Server Test Works, Client Test Fails

[2019-06-10 10:42] klearchos commented on #1829
Hi @gastaldi
I found that I will have to update the io.quarkus.runtime.Timing
Do you have any other pointers that I should take care of?

It would be nice to have ascii art during startup as it happens with Spring Boot ?
What do you think?

[2019-06-10 10:50] stephenc commented on #2770
Actually turns out that `Handlebars` is proxyable... but still Quarkus doesn't let me instantiate it

[2019-06-10 11:13] mkouba opened #2774 "Client proxies - skip delegation if proxy is not constructed yet"
The proxy should not delegate if the proxy constructor has not finished yet. See Weld implementation: https://github.com/weld/core/blob/master/impl/src/main/java/org/jboss/weld/bean/proxy/ProxyFactory.java#L686-L714.

[2019-06-10 11:13] machi1990 commented on #2761
Hi @dwamara,
MailMessage properties accepts email fields using the common formats for email with or without real name. So adding adding the sender or recipients emails (with names) following the following format should work.
[code]
or
[code]

[2019-06-10 12:34] gastaldi commented on #1829
@klearchos yeah, I think this is where the Config needs to be read to gather the product name. I am not opposed to an ASCII art, but I'm fine with whatever the Quarkus team decides :)

[2019-06-10 13:30] rquinio opened #2778 "Support scopes on @Bean methods in spring-di"
From spring Javadoc (https://github.com/spring-projects/spring-framework/blob/master/spring-context/src/main/java/org/springframework/context/annotation/Bean.java#L82):

But the current implementation of SpringDiProcessor doesn't conform to this:

1. `@Dependent` scope is added to all beans produced by `@Bean` methods in `@Configuration` classes, so following #2178 in Quarkus 0.14.0+ it generates

[2019-06-10 14:07] dwamara commented on #2761
@machi1990
These are the fields in the Mail class of Quarkus Mailer

[code]
There is no way to add the name of the receiver in that case as you would suggest.

[2019-06-10 14:14] machi1990 commented on #2761
The above example should work as long as `request.getToEmailAddress()` returns a `String` with the suggested format above.

[2019-06-10 14:41] dwamara commented on #2761
Only
[code]
works,

[code]
returns
[code]

[2019-06-10 19:46] mthmulders opened #2781 "Inject ServletContext in Quarkus application"
**Description**
I was trying to get the [`ServletContext`](https://javaee.github.io/javaee-spec/javadocs/javax/servlet/ServletContext.html) injected in my application:

[code]

Packaging failed with:

    [1] Unsatisfied dependency for type javax.servlet.ServletContext and qualifiers [@Default]
    	- java member: exampleapp.GreetingResource#servletContext
    	- declared on CLASS bean [types=[jav

[2019-06-10 20:19] machi1990 commented on #2781
@mthmulders

Is replacing `@Inject` with `@Context` (see code below) work ?

[code]

[2019-06-10 20:51] vorburger opened #2782 "Gradle build fails if there is no src/main/resources/META-INF/resources/"
**Describe the bug**
While looking into reverting #2214 so that I could rebase #1986, I noticed that the Gradle build fails if there is no `src/main/resources/META-INF/resources/`.

**Expected behavior**
Gradle build should work even if there are no `src/main/resources/META-INF/resources`.

**Actual behavior**
Gradle build fails, as shown below.

**To Reproduce**
This can easily be seen in the Qui

[2019-06-10 20:58] vorburger commented on #2782
To unblock #1986 I've proposed a revert of #2214 in #2783 simply by adding a `src/main/resources/META-INF/resources/index.html` (which makes `devtools/gradle-it` build again). Of course that does not fix the problem this bug raises, but works around it.

The underlying problem should eventually still be fixed, so that Gradle build still work even if one does not have src/main/resources/META-INF/re

[2019-06-10 22:20] soberich commented on #2196
@FroMage sorry for pinging you specifically. It's just that you more active. This one is still not working for me. I believe it should work from master now? In a meanwhile I have put my playground on Github to reference in several issues with Quarkus. Maybe you can look at it.

[2019-06-10 22:28] soberich commented on #2413
@FroMage As I pinged you in https://github.com/quarkusio/quarkus/issues/2196
In the playground project on Github please see the [https://github.com/soberich/marvel/README.md](README.md). This issue is also mentioned there, maybe the project help to investigate. It's messy, but the idea is to have as close as possible to production project reproducer and not just minimal, because this is what one w

[2019-06-11 06:04] #1656 closed

[2019-06-11 06:07] #2745 closed

[2019-06-11 07:16] middagj commented on #1843
You have to enable JNI as specified in the error message. Via Gradle this is done by `--enable-jni`, via Maven by `<enableJni>true</enableJni>. Also you need the following reflect config:

[code]

[2019-06-11 07:57] cescoffier opened #2784 "JWT quickstart tests fail with 999-SNAPSHOT"
The JWT quickstarts tests are failing:

1. create project for quickstart
[code]
2. run `mvn package`

You are going to see:
[code]

[2019-06-11 08:12] geoand commented on #2778
I will take a look at this soon

[2019-06-11 08:25] FroMage commented on #1943
No, I think that for RESTEasy we should query the RESTEasy API of registered endpoints. You should be able to get them via `ResteasyDeployment` and `ResourceMethodRegistry`.

[2019-06-11 08:32] FroMage commented on #2755
We can add the `flush()` and/or `persistAndFlush()` methods, but I'll defer to @emmanuelbernard to see if this is a common-enough use-case to warrant.

You can also use `Panache.getEntityManager().flush()` in your method.

I don't think we can add a callback though, because this would either force a `flush()` to run inline, and then the first solution is better, or delay the callback until the ope

[2019-06-11 08:34] FroMage commented on #2759
@emmanuelbernard do we already support multiple data-sources in Quarkus?

@dwamara how do you separate your datasources wrt entities? Do you have a separation where each entity has a datasource, but no entity lives in more than one datasource?

[2019-06-11 08:37] FroMage commented on #2768
Perhaps the bytecode modification for id fields goes wrong and ORM does not see the annotations.

[2019-06-11 08:38] FroMage commented on #2196
OK I'll take a look.

[2019-06-11 08:41] cescoffier commented on #2784
(It may be expected, but the error should be much better)

[2019-06-11 08:42] soberich commented on #2196
@FroMage Just to notice - I have NOT tried from current master! I reread my message which could be confusing and saw you reopened. I meant as a question - should it work from current master?

[2019-06-11 08:44] FroMage commented on #2196
Oh, yeah, please try from the current master it should totally work.

[2019-06-11 08:47] cescoffier commented on #2670
Using the new algorithm does not fail, because of the artifactId that matches.
However, now when there is a partial match (label) it fails.

[2019-06-11 09:18] gsmet commented on #2759
@FroMage Quarkus supports multiple datasources (you can easily do it via the config, see https://quarkus.io/guides/datasource-guide#multiple-datasources for more info) but... there is no way to easily configure multiple persistence units in `application.properties`: it's doable but you have to go back to using a `persistence.xml`. That's something I want to work on.

In Panache, we need a way to a

[2019-06-11 10:08] vsodaitis opened #2786 "--docker-build flag seems to have no effect with Gradle plugin"
Since 0.15.0 version, when buildNative gradle task is invoked it asks for GRAALVM_HOME environment variable regardless of whether it is being run with --docker-build=true or --docker-build=false

**Expected behavior**
I would expect the build to not require GRAALVM_HOME set when using docker image as a build environment

**Environment (please complete the following information):**
 - Output of `un

[2019-06-11 10:18] FroMage commented on #2759
So I'm guessing that this sort of marker should be sufficient (once implemented):

[code]

I don't think we need to put it on the equivalent repository because it can use the one declared on the entity: I don't think it makes sense to have a repo that is not using the same persistence unit as its entity.

[2019-06-11 10:26] sberyozkin commented on #2784
Looks like a duplicate of #2725

[2019-06-11 10:37] #2747 closed

[2019-06-11 10:45] manovotn commented on #1937
Quarkus currently runs only on (modified) `annotated` discovery mode.
That means the to-be bean has to have a [bean defining annotation](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#bean_defining_annotations) in order to be discovered and it has to be something else then scope annotation so it can inherit that one. That leaves us with a single corner case where you have a stereotype as a bean

[2019-06-11 11:47] cescoffier commented on #2761
Can you provide a reproducer?

This works:

[code]

[2019-06-11 11:48] #2721 closed

[2019-06-11 11:52] sberyozkin commented on #2725
[This code](https://github.com/smallrye/smallrye-jwt/blob/1.1.4/implementation/src/main/java/io/smallrye/jwt/config/JWTAuthContextInfoProvider.java#L108) requires either a public key or public key file location.
I will update smallrye-jwt to log something useful there

[2019-06-11 12:59] loicmathieu commented on #2755
@FroMage the callback is to have a way to "compensate" the code that have side effect on the method that have a `@Transactional` annotation. The transaction manager will automatically compensate the database side effect (with a rollback) but if you have other side effect (for exemple an HTTP call to an API that is very common on a microservice architecture) it will not be compensated.

Maybe if we

[2019-06-11 13:19] loicmathieu opened #2789 "Jackson dependencies issue"
**Describe the bug**
Jackson dependency is 2.9.9 in the Quarkus bom but some dependency issue exist linked to smallrye-openapi that downgrade the dependency version to 2.9.8.
Unfortunatly there is an existing CVE on the 2.9.8 so it's important to have the 2.9.9 version.
Moreover, there is a mix of the two versions for different Jackson modules.

**Expected behavior**
All Jackson libraries should b

[2019-06-11 13:29] gsmet commented on #2789
I'm wondering if we should include the `jackson-bom` to fix the issue.

Having mixed Jackson dependencies will cause a lot of problems.

@aloubyansky we discussed a bit the cost of adding new BOMs, I think this one is worth it considering how popular Jackson is, how incompatible versions are and how many security issues there are with Jackson.

[2019-06-11 13:29] sberyozkin commented on #2725
This is what will be shown (as part of the longer trace):
[code]
Note this message is not referring to the specific property names as there could be few different properties across various containers for configuring the public key. The issuer has to be set up as well unless its check has been disabled but I'm not sure it is necessary to advise configuring it in this exception message, there would

[2019-06-11 13:30] sberyozkin commented on #2784
Please see #2725 for a proposed error message

[2019-06-11 13:34] sberyozkin commented on #2503
Hi @pipinet can you retry please with the latest Quarkus release ?

[2019-06-11 13:39] aloubyansky commented on #2789
We already import Jackson BOM.

[2019-06-11 13:48] dmlloyd opened #2792 "GraalVM 19.0 Blocker List"
- [x] oracle/graal/pull/649
- [x] oracle/graal/issues/1183
- [x] oracle/graal/issues/1320 (via oracle/graal/pulls/1321)
- [x] GraalVM 19 release with aforementioned fixes

Problems for post-19:
- [ ] oracle/graal/pull/1371

[2019-06-11 13:59] gsmet commented on #2789
Ah yes, right. So how come we can have 2.9.8 Jackson dependencies?

[2019-06-11 14:09] aloubyansky commented on #2789
Something is not right with quarkus-bom it seems.

[2019-06-11 14:10] loicmathieu commented on #2789
@gsmet see my explaination on the PR #2791 , the Quarkus bom is not imported in the exention and we need to force in the extention own dependencyManagement version ...

[2019-06-11 14:14] aloubyansky commented on #2789
Does importing quarkus-bom in the extension fix it for you @loicmathieu ?

[2019-06-11 14:15] loicmathieu commented on #2789
See my last comment on the PR #2791 that try to summerize it ... unfortunatly it didn't fix the issue so my PR is the best that I can find to fix it (or a derivative version that I explain in it) ... I know it's ugly ...

[2019-06-11 14:18] aloubyansky commented on #2789
Ok, I read your PR comments. Thanks.

[2019-06-11 14:21] aloubyansky commented on #2789
Hold on though. I want to try something.

[2019-06-11 14:28] aloubyansky commented on #2789
The order of importing BOMs is significant. It appears that the reaseasy-bom includes jackson artifacts and is imported before the jackson-bom. If you import the jackson-bom first, you'll get the expected jackson versions all over.

[2019-06-11 14:30] loicmathieu commented on #2789
@aloubyansky I miss this one! Did I change my PR or do you want to create one yourself ?

[2019-06-11 14:30] kenfinnigan commented on #2789
Yes, first BOM to define a dependency wins

[2019-06-11 14:30] aloubyansky commented on #2789
Could you please adjust your PR to do that @loicmathieu? Thanks a lot for reporting the issue.

[2019-06-11 14:40] FroMage opened #2793 "Add mock mailer"
The new mailer extension is nice but there's no way to test emails. I've gotten used to having a `MockMailer` instance in DEV/TEST mode that I can use to test email sending: it stores rendered emails in a bean that you can look up to verify things and prints them on stdout.

I'll make a PR about this because it's very useful.

[2019-06-11 14:45] loicmathieu commented on #2789
OK, I'll update my PR

[2019-06-11 14:47] cescoffier commented on #2793
Did you tried `quarkus.mailer.mock=true` ?

[2019-06-11 14:47] cescoffier commented on #2793
but it does not do what you said, it just prints the content of the mail in the console.

[2019-06-11 14:48] FroMage commented on #2793
No, because it's not documented prominently enough. This is great, but it should be ON by default in DEV/TEST modes, and it should store the emails in a bean so that tests can find it.

[2019-06-11 15:23] FroMage commented on #2793
How far do you want to go to hide Vert.x? In Redpipe, the mock mailer is an instance of `ReactiveMailer` that you can cast to `MockMailer` to get access to emails sent. I can expose the sent emails as `MailMessage` (Vert.x type) or wrap it to hide it.

For Quarkus, either I make the `MockMailer` a subtype of `ReactiveMailer` that you get if `mock=true` (defaults to true for DEV/TEST) and you have

[2019-06-11 15:24] mthmulders commented on #2781
Yep, that works. As I've understood [at Stackoverflow](https://stackoverflow.com/a/56532909/1523342), using `@Inject` for the `ServletContext` only works in a Java EE environment. So I guess it makes sense that Quarkus doesn't do it?

[2019-06-11 15:35] rgcostea commented on #1647
Yes.  I got this working with jersey 2.28.  My reflection.json file looks like this:
` {
    "name" : "org.glassfish.jersey.client.JerseyClientBuilder",
    "allDeclaredConstructors": true,
    "allPublicConstructors": true,
    "allDeclaredMethods": true,
    "allPublicMethods": true
 },
 {
    "name" : "org.glassfish.jersey.internal.inject.InjectionManagerFactory",
    "allDeclaredConstructors":

[2019-06-11 15:37] gsmet commented on #1647
@rgcostea any reason why you do not want to use the SmallRye REST client? Is there anything missing in it that we should add?

[2019-06-11 15:39] rgcostea commented on #1647
I'm coding to a java REST SDK.  The SDK internally uses jersey-client to communicate with the service I want to manipulate.  I don't have any control over that.

[2019-06-11 15:50] dwamara commented on #2470
@rikcarve to set what in the pom?

[2019-06-11 16:12] mgagliardo91 commented on #2470
@dwamara setting an explicit `<repository>` entry in the pom, rather than just relying on maven settings `~/.m2/settings.xml` to use a mirror

[2019-06-11 17:59] markuslackner commented on #2751
@cescoffier yes this solution would be great and working perfectly for me.

[2019-06-11 18:25] cescoffier commented on #2793
It would be confusing if the sent email is not an instance of the `Mail` class the user has sent no? We can just store a reference in the ReactiveMailer.

[2019-06-11 18:33] starksm64 commented on #2725
@sberyozkin I do think it would be good if we can reference one of the property names so that users can use that to search either the doc or google.

[2019-06-11 22:09] geoand opened #2795 "MicroProfile Rest Client property mp/uri is not handled"
**Describe the bug**
In MicroProfile Rest Client we are only handling `mp/url` and not `mp/uri`

**Expected behavior**
The configuration property `mp/uri` is handled like `mp/url` is and also should have the highest priority

[2019-06-11 22:12] geoand opened #2796 "Some MicroProfile Rest Client TCKs throw NoClassDefFoundError"
**Describe the bug**
If one tries to run for example `org.eclipse.microprofile.rest.client.tck.InvokeWithJsonBProviderTest` they would be faced with a stacktrace looking something like:

[code]

It looks the smallrye-rest-client dependency tries to use an older version of RESTEasy

Currently these tests are being [skipped](https://github.com/quarkusio/quarkus/blob/88fb38b914ff027a562cb90f78ca06045

[2019-06-11 22:16] geoand opened #2797 "MicroProfile Rest Client property mp/scope has not been implemented"
**Describe the bug**
MicroProfile Rest Client property mp/scope has not been implemented resulting in some TCK tests failing, like for example `org.eclipse.microprofile.rest.client.tck.cditests.HasAppScopeTest` .

These tests are currently being [skipped](https://github.com/quarkusio/quarkus/blob/88fb38b914ff027a562cb90f78ca060456204da8/tcks/microprofile-rest-client/tck-suite.xml#L25)

[2019-06-11 22:18] geoand opened #2798 "Scope of MP REST Client is singleton by default"
**Describe the bug**
The rest client beans use the `Singleton` scope by default, which seems to be at odds with the spec and leads to some TCK tests failing (for example `org.eclipse.microprofile.rest.client.tck.cditests.CDIInvokeSimpleGetOperationTest`).

These tests are currently being [skipped](https://github.com/quarkusio/quarkus/blob/88fb38b914ff027a562cb90f78ca060456204da8/tcks/microprofile-

[2019-06-11 22:20] geoand opened #2799 "Unable to @Inject MP REST Client beans with the @RestClient qualifier"
**Describe the bug**
We are unable to @Inject MP REST Client beans with the @RestClient qualifier which leads to some TCK failures (like `org.eclipse.microprofile.rest.client.tck.InvokeWithJsonPProviderTest`).

These tests are currently [skipped](https://github.com/quarkusio/quarkus/blob/88fb38b914ff027a562cb90f78ca060456204da8/tcks/microprofile-rest-client/tck-suite.xml#L59).

[2019-06-11 22:24] geoand opened #2800 "Various RESTEasy error messages in MP REST Client TCK"
**Describe the bug**
Some MP REST Client TCK tests (like `org.eclipse.microprofile.rest.client.tck.CustomHttpMethodTest`) are failing with `RESTEASY004560: Failed to buffer aborted response`

while others (like `org.eclipse.microprofile.rest.client.tck.cditests.CDIInterceptorTest`) fail with `RESTEASY003145: Unable to find a MessageBodyReader`

These tests are currently [being](https://github.com/

[2019-06-11 22:27] geoand opened #2801 "Various Provider related problems in MP REST Client TCK"
**Describe the bug**
Some MP REST Client TCK tests (like `org.eclipse.microprofile.rest.client.tck.InvokeWithBuiltProvidersTest`) are failing with the result being different than expected.

These tests are currently being [skipped](https://github.com/quarkusio/quarkus/blob/88fb38b914ff027a562cb90f78ca060456204da8/tcks/microprofile-rest-client/tck-suite.xml#L111).

[2019-06-11 23:04] jclingan opened #2802 "Kubernetes (ap4k) Guide missing deployment documentation"
**Describe the bug**
The last sentence of the [Kubernetes (ap4k) guide](https://quarkus.io/guides/ap4k) is "The next section will walk you through how this can be done." That is the last sentence in the guide. There are no steps that explain how to apply the generated kubernetes.[yaml|json] file.

**Expected behavior**
Include steps to apply the kubernetes resource files

[2019-06-12 07:24] dwamara commented on #2470
@mgagliardo91 Thanks, just did and it worked. I just hope it will be fixed soon, I don't want to be touching all my poms to put the workaround in them.

[2019-06-12 07:49] speedfl commented on #2689
+1

[2019-06-12 07:54] #2795 closed

[2019-06-12 08:24] gsmet commented on #2689
@dmlloyd I think you were discussing this very issue the other day with Bill. Did you end up with a solution?

[2019-06-12 09:05] FroMage commented on #2793
You're right, I was confused by Redpipe's need to make the "sent email" class different to the "email to send" class because I wanted the result of template rendering in the "sent email" class. I did it in #2804

[2019-06-12 09:10] emmanuelbernard commented on #2755
@FroMage There is a static `Panache.` holder? It's not in the guide.

[2019-06-12 09:14] emmanuelbernard commented on #2755
I think `flush()` belongs in the `PanacheEntity` / `PanacheRepository` because we decided to keep the  JPA delayed semantic. T clarify the semantic, maybe we should call it `flushAll()` to explain that we are flushing all objects, not just that specific entity.

[2019-06-12 09:14] loicmathieu commented on #2755
@emmanuelbernard it will be soon => https://github.com/quarkusio/quarkus/pull/2788/files ;)

[2019-06-12 09:14] emmanuelbernard commented on #2755
CC @Sanne ^

[2019-06-12 10:00] geoand commented on #2802
Ah yes, this was left over from the previous implementation that did a whole lot more. Currently that can't be done, but I have opened an ap4k [issue](https://github.com/ap4k/ap4k/issues/227)  to track that.
For the time being I will just remove the sentence.

[2019-06-12 10:08] #2802 closed

[2019-06-12 10:11] waldimiro opened #2806 "quarkus-smallrye-jwt NullPointerException when quarkus.smallrye-jwt.enabled=false"
Added quarkus-smallrye-jwt extension
[code]

Changed property quarkus.smallrye-jwt.enable to false

[code]

Error during mvn compile install process

[code]

[2019-06-12 10:14] nmcl opened #2807 "Define intra-app dependencies"
**Description**
I think this would be useful in general, but speaking just around Quarkus it would be useful to enable a developer to define dependencies between services at build time and deploy them to the same Linux container so they fail as a single unit. Might also be useful if we ever support app migration for fault tolerance or performance reasons so we can migrate dependant apps at the sam

[2019-06-12 10:19] gsmet opened #2808 "CI failure on context propagation tests"
We just had a CI failure on a Windows build in the context propagation tests:

I haven't looked at the test but I think this part might be of interest:
[code]

Full log of the failing test:
[code]

[2019-06-12 10:20] gsmet commented on #2808
@FroMage can you take a look at this one? It seems to be a transient failure but maybe there's a bug hidden.

[2019-06-12 10:27] loicmathieu commented on #2755
@emmanuelbernard I'll prepare a PR tomorrow so we can start discussing about the namming. I have already a prototype working.

[2019-06-12 10:37] sarxos opened #2809 "ClassNotFoundException when using quarkus:dev"
Hello @quarkus Team :)

I have a ~~multimodule~~ [project](https://github.com/sarxos/abberwoult) with ~~one of modules being~~ an example subproject which exposes very simple REST API. Everything works fine when I start this example with a runner:

[code]

The resource is started and I can access REST API. This is ok but takes some time, so I wanted to use `mvn quarkus:dev`. ~~I see that support f

[2019-06-12 11:04] manovotn commented on #2770
@mkouba looking into this issue, I think it is fully resolved by your PR here https://github.com/quarkusio/quarkus/pull/2777
The culprit was the method invocation from constructor (usage of delegation thereof), otherwise the object was proxyable and with your PR this now seems to work as intended.
Is there something else you wanted done in this issue?

[2019-06-12 11:34] sarxos commented on #2809
UPDATE:

After excluding example from a Maven modules and converting it to separate project the issue is still there. This proves that this is not multimodule-related. I'm updating the title and description accordingly.

[2019-06-12 11:56] dmlloyd commented on #2689
I was discussing it with Bob... I think he has a fix for it.

[2019-06-12 12:01] klearchos commented on #588
Very good examples of what you describe can be generated with the help of JHipster.
It would be great for the Quarkus project to be integrated with the JHipster generator.

[2019-06-12 12:19] pipinet opened #2810 "Resteasy @JsonProperty not work"
**Describe the bug**
Resteasy @JsonProperty not work

**Expected behavior**
i can get post data identityType in User class instance

**Actual behavior**
identityType is null

demo is: https://github.com/qwlabs/quarkus-issues/tree/master/2019-06-21-21-00

[2019-06-12 12:27] gsmet commented on #2810
I think the issue is that you have both declared `resteasy-jsonb` and the Jackson provider as dependencies.

You are using Jackson's `@JsonProperty` and I bet it's using JSON-B to serialize the bean.

I would remove `resteasy-jsonb` and see how it goes. Or use `@JsonbProperty` and remove the Jackson dependency.

[2019-06-12 12:53] pipinet commented on #2810
ok, thanks, i remove quarkus-resteasy-jsonb, works!!!

[2019-06-12 12:53] #2810 closed

[2019-06-12 12:53] FroMage commented on #2808
I bet there is a bug hidden, there must be. But how often can you reproduce it?

[2019-06-12 12:55] gsmet commented on #2808
Dunno. So far, I had one failure on a Windows build on one PR. So that doesn't qualify as often and easily reproducible unfortunately :/

[2019-06-12 12:56] FroMage commented on #2808
The code in question is:

[code]

Perhaps @stuartwdouglas would know if there's any way we can have `req.isAsyncStarted()` be true, while having no async context started?

[2019-06-12 13:00] sberyozkin commented on #2725
@starksm64 Which two properties you'd like to use (such that they work in Quarkus/Thorntail/etc) ?

[2019-06-12 13:04] FroMage commented on #2793
Thanks

[2019-06-12 13:04] #2793 closed

[2019-06-12 13:06] FroMage commented on #2755
Huh, true. I should fix that.

[2019-06-12 13:08] FroMage commented on #2755
@loicmathieu I should really backport the work I have in panache-rx to panache that makes it MUCH easier to add magic methods, but now that you have a proto working, I wonder if it would help you or the opposite. Basically with that change, magic methods are automatically wired in, no more changes to the enhancer required.

[2019-06-12 13:11] #2789 closed

[2019-06-12 13:18] #2609 closed

[2019-06-12 13:24] gsmet commented on #2755
@FroMage

Not sure we should advertise the `getEntityManager()` there as, if we support several persistence units, the entity manager will depend on the entity.

[2019-06-12 14:44] jhorstmann opened #2811 "Recompilation kotlin sources in dev mode should use compiler plugins"
**Description**
Using quarkus 0.16.0 in a kotlin project, when hot reloading is triggered it seems like the kotlin files are recompiled without any kotlin compiler plugins. Consider a resource like the following

    @Path("/greeting")
    @ApplicationScoped
    class GreetingResource @Inject constructor(val greetingService: GreetingService) { ... }

In order for this class to work correctly, it n

[2019-06-12 14:48] sberyozkin commented on #2725
@starksm64 Looks like I was wrong :-) as with Thorntail the smallrye-jwt provider non-optional producer will not be called if the Thorntail specific properties are used, let me check it, and then I'll tweak the message to something like:
"...Please make sure that either **mp.jwt.verify.publickey** or **mp.jwt.verify.publickey.location** properties are set"
thanks

[2019-06-12 15:55] loicmathieu commented on #2755
@FroMage This is what I have in mind, I tested it OK, no need of magic methods ;)
https://github.com/quarkusio/quarkus/compare/master...loicmathieu:feat/panache_flush

I add a persistAndFlush method because it's very common but not a shorthand method for the other persist method. I can if needed.

[2019-06-12 16:09] emmanuelbernard commented on #2755
@loicmathieu you really think `persistAndFlush` are important. I'm having doubts so it's on your shoulders. What would be your pitch in fronot of people on stage?

[2019-06-12 16:46] geoand commented on #2811
@jhorstmann would you like to take a stab at it?

[2019-06-12 17:35] poldinik opened #2813 "java.lang.ExceptionInInitializerError for throw new WebApplicationException("Person with id of " + id + " does not exist.", 404);"
I'm trying to implement a simple PUT method with WebApplicationException (in case entityManager doesn't find anything in db). This is my method

[code]
When I run in quarkus dev mode, I get

It works if I remove `throw new WebApplicationException("Person with id of " + id + " does not exist.", 404);`

[2019-06-12 17:37] #2813 closed

[2019-06-12 17:38] poldinik commented on #2813
import arc ext

[2019-06-12 19:51] erkanerol opened #2814 "Quarkus should recommend multi-stage builds for docker builds"
**Description**

Hi Quarkus team. Nowadays I am taking a look at Quarkus and trying to implement a small app. First of all, thanks a lot for this great work! Developer experience is really king with this framework.

When I checked the Dockerfiles in Quarkus projects, I saw that Dockerfiles are not self-contained. We need to run mvn/gradle to create runnable JAR files or native binaries at first an

[2019-06-12 19:53] erkanerol commented on #1610
I shared multi-stage build examples here: https://github.com/erkanerol/quarkus-multistage-docker-build/blob/master/README.md

[2019-06-12 20:02] waldimiro opened #2815 "quarkus-hibernate-orm entity manager merge of detached entity does not work"
With quarkus-hibernate-orm extension, entityManager.merge(entity) for a detached entity in a transactional method does not work. Entity will not be updated.

[2019-06-12 20:07] soberich commented on #2196
@FroMage I checked in current `999-SNAPSHOT` from `OSS-snapshot` which is from 2019-06-12 I think and in didn't work either.
The `runtime-jakarta` module in the one which manages quarkus runtime. `build.gradle.kts` is quite messy, sorry, but it should be working aas you said.
Additionally, when tried to annotate service with `@Transactional` and it throwed

[code]

But the main thing is this issue

[2019-06-12 20:17] waldimiro opened #2816 "Variable replacement does not work for quarkus-smallrye-rest-client /mp-rest/url"
Variable replacement does not work for quarkus-smallrye-rest-client /mp-rest/url

[code]

${my.endpoint} is not resolved.

[2019-06-13 00:18] #2756 closed

[2019-06-13 00:18] #1937 closed

[2019-06-13 07:39] FroMage commented on #2196
This exceptions shows you're running some code which was from my PR but never made it to master. You must have some confused artifact resolution on your machine, can you check? Note that You can try with the latest RC, it should also have the fix.

[2019-06-13 07:45] andrejpetras opened #2819 "OpenAPI does not support the @BeanParam annotation"
**Describe the bug**
The openapi does not support @BeanParam.
If the rest service method uses the @BeanParam this attribute is ignored in the generated openapi.yaml file.

**Expected behavior**
The openapi.yaml contains also the information from the @BeanParam parameter object.

**Actual behavior**
The @BeanParam is ignored and not generated in the openapi.yaml

**To Reproduce**
1. Create rest met

[2019-06-13 07:53] jtama-op opened #2820 "Agroal datasource metrics enablement"
**Description**
It should be made possible to enable agroal metrics gathering via configuration file.

it can still be done programatically but both deployment and runtime config classes simply ignore the metrics point.

[2019-06-13 07:56] FroMage commented on #2768
Ah hold on, you should be extending `PanacheEntityBase` since you have a custom ID. This actually looks correct to me because by extending `PanacheEntity` you have two IDs, one of which is generated, hence the exception. Can you please reopen the bug if it does not work for you when you extend `PanacheEntityBase`?

Thanks.

[2019-06-13 07:56] #2768 closed

[2019-06-13 08:00] FroMage commented on #2755
@loicmathieu #2818 makes it much simpler to add new magic methods, if you want to wait until it's merged. Otherwise I can help you rebase around it.

[2019-06-13 08:02] FroMage commented on #2755
@loicmathieu ok forget it, I see you don't need any magic methods for this, you're right, great :)

[2019-06-13 08:06] emmanuelbernard commented on #2755
@FroMage I can't find a reference to it but at some point we imagine that we would need a `entity.validate()` method right? the persistAndFlush reminded me of that. This method better address the specific exmample @loicmathieu gave. Though I do understand `flush` is useful for other things like optimistic locking.

[2019-06-13 08:08] gsmet opened #2821 "Hibernate ORM user types should be registered for reflection"
From Zulip:
The attribute in my class is:
[code]

I have declared the jsonb type:

[code]

[code]

[2019-06-13 08:14] mkouba commented on #2701
Hm, I wasn't able to reproduce this locally:
[code]
I'm using Maven 3.5.4.

[2019-06-13 08:16] FroMage commented on #2759
@gsmet how should my `persistence.xml` look like? I tried:

[code]

With:

[code]

But it throws with:

[code]

[2019-06-13 08:21] mkouba commented on #2701
Also a full stack trace would be useful ;-)

[2019-06-13 08:37] Panciz opened #2822 "Getting-start example Error running docker native container"
I followed the instruction on https://quarkus.io/guides/building-native-image-guide but I get this error when I run the docker image.

I did all the steps in the tutorial

1. `./mvnw package -Pnative -Dnative-image.docker-build=true`
2. `docker build -f src/main/docker/Dockerfile.native -t quarkus-quickstart/getting-started .`
3. `docker run -i --rm -p 8080:8080 quarkus-quickstart/getting-started`

[2019-06-13 08:42] wargun02 commented on #2768
Excellent, it worked as suggested. Thank you for the heads up.

[2019-06-13 08:46] loicmathieu commented on #2755
@emmanuelbernard My pitch for `persistAndFlush()` is the same as for other existing method like `stream()` : it's a shorthand method for a very common use case calling the method `persist()` then the method `flush()` (like `stream()` is like calling `findAll().stream()`).

But I'm agree it's not really needed and it can feel strange that the other persist methods (`persist(List)`, `persist(stream)

[2019-06-13 09:01] aloubyansky commented on #2470
If anybody has a chance to try this change https://github.com/quarkusio/quarkus/pull/2824 before it gets merged, I would highly appreciate it. Thanks a lot for your patience.

[2019-06-13 09:17] loicmathieu commented on #2611
If someone hit the same issue, the corresponding suppression file is a workaround while waiting for Quarkus to be known in the NVD database.

[code]

[2019-06-13 09:22] loicmathieu commented on #2814
Hello,

I second this, I use a multistage build for my Quarkus demo apps that I use in blog/presentation of Quarkus, you can find my version here : https://github.com/loicmathieu/quarkus-demo/blob/master/src/main/docker/Dockerfile

There is an existing maven-with-Grall image that can be used provided by the Quarkus Team so my version is simpler that yours ;)

I planned to propose a doc upate to in

[2019-06-13 09:50] gsmet commented on #2819
@kenfinnigan @EricWittmann I think it's probably a bug in the SmallRye OpenAPI implementation?

[2019-06-13 09:53] gsmet commented on #2815
@waldimiro could you create a reproducer?

[2019-06-13 09:57] gsmet commented on #2809
@stuartwdouglas could you take a look at this one?

[2019-06-13 10:22] gunnarmorling opened #2827 "Expose information to extensions whether a build targets containers"
See the discussion in https://github.com/quarkusio/quarkus/pull/2794, there should be a way extensions can easily find out whether a build is targeting containers without having to query the `native-image.container-runtime` and `native-image.docker-build` system properties themselves.

[2019-06-13 10:33] manovotn opened #2828 "[ArC] Document build time metadata that extensions can leverage"
We should document how ArC extensions can leverage build time metadata that can be retrieved from [`BuildContext.KEY`](https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BuildExtension.java#L62).

This can differ on a per extension basis, for instance `AnnotationTransformer` is one of the first extensions added and as such can

[2019-06-13 11:05] krishkir opened #2830 "Native compilation again does't like spaces in project directory in 0.15.0 and 0.16.0 ver"
**Describe the bug**
Native compilation doesn't like space in project directory. It is a old bug anf fixed in 0.13.0 release reference ticket no: #1673 . i am facing the samer issue with 0.15.0 and 0.16.0 releases.

**Expected behavior**
Native compilation should allow spaces in the project directory path.

**Actual behavior**
Throwing the below error
12:57:08 Caused by: java.lang.RuntimeException

[2019-06-13 11:05] Panciz commented on #2822
As suggested in by Michal Szynkiewicz in [Quarkus Google-Groups](https://groups.google.com/forum/#!topic/quarkus-dev/dREc4GjsqkE) I change the base image to

`FROM registry.access.redhat.com/ubi8/ubi-minimal
`
and It works

[2019-06-13 11:10] rmpestano commented on #2701
Hi @mkouba,

you're running `PingResourceTest`, to reproduce the issue you need to run `ArquillianIT`, here is the stacktrace:

[code]

Note that as arquillian uses junit4 I needed to add `junit-vintage-engine` dependency to able to run the test from eclipse:

	<dependency>
    <groupId>org.junit.vintage</groupId>
    <artifactId>junit-vintage-engine</artifactId>
    <version>5.4.2</version>
    <

[2019-06-13 11:13] rmpestano commented on #2701
Also, to run via surefire plugin you'll need to add `includes`:

[code]

[2019-06-13 11:20] rmpestano commented on #2701
I'm using Quarkus 0.16.1, don't know if https://github.com/quarkusio/quarkus/pull/2736 is related to this issue though

[2019-06-13 11:25] #2188 closed

[2019-06-13 11:25] #2774 closed

[2019-06-13 11:44] xstefank commented on #2701
For me, it's running by default (mvn clean install, it should be picked up by default when suffix is IT I think). However, here is stacktrace https://pastebin.com/YmkGNbH0

[2019-06-13 11:53] rmpestano commented on #2701
Yea, now I see the failsafe plugin but you probably won't be able to run via eclipse without `junit-vintage-engine` (IntelliJ runs without junit-vintage-engine).

[2019-06-13 11:57] EricWittmann commented on #2819
Yes - this issue should be moved over to **smallrye-open-api**.

[2019-06-13 12:01] mkouba commented on #2701
Ah, of course! Thanks for noticing. And good point with junit versions. Yes, Arquillian currently does not support junit5 and I'm not really sure that using `junit-vintage-engine` is 100% compatible. Anyway, I found the issue - quarkus arquillian adapter expects the `java.io.tmpdir` system property to be set to `${project.build.directory}` (as defined in `jboss-parent`).

So a workaround is to add

[2019-06-13 12:01] chrismanning opened #2831 "AgroalDataSource causes tests to fail with AmbiguousResolutionException"
**Describe the bug**
Injecting an `AgroalDataSource` causes `@QuarkusTest` tests to fail.

**Expected behavior**
Tests to run without error.

**Actual behavior**
Attempting to run tests produces to following output without running any test code:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create project with `mvn io.quarkus:quarkus-maven-plugin:0.16.1:create -DprojectGroupId=org.a

[2019-06-13 12:20] gsmet commented on #2831
@mkouba does it ring a bell? It looks like the producer bean is present twice.

[2019-06-13 12:25] mkouba commented on #2831
Hm, @chrismanning does it only occur when you're running the test from the IDE?

[2019-06-13 13:08] chrismanning commented on #2831
@mkouba it only happens in the IDE for the simplified example I've described, but my actual application also fails with the same error when run with `mvn clean compile test`. I'll see what I can do about making it available

[2019-06-13 13:19] mgagliardo91 commented on #2470
@aloubyansky I tested [#2824](https://github.com/quarkusio/quarkus/pull/2824) locally and it appears to resolve the issue.

[2019-06-13 13:24] #2820 closed

[2019-06-13 13:25] gsmet commented on #2820
@jtama-op thanks to @machi1990 , it will be part of the next release. Thanks for raising the issue.

[2019-06-13 13:28] aloubyansky commented on #2470
Excellent. Thanks a lot @mgagliardo91

[2019-06-13 13:32] gsmet commented on #2819
@EricWittmann I created https://github.com/smallrye/smallrye-open-api/issues/135 .

I let this issue open with the `upstream` label so that we think about upgrading SmallRye OpenAPI as soon as the issue is fixed.

Thanks.

[2019-06-13 13:35] gsmet commented on #2470
I merged the PR. Thanks everyone for the detailed reports and testing!

[2019-06-13 13:35] #2470 closed

[2019-06-13 13:41] gunnarmorling commented on #958
Ha, just came here to report the same issue, but it's there already :) Besides for the reason you describe, I also think it's current name is confusing because of the support for "podman" as container runtime. So the following option config would be valid but quite a bit confusing:

    -Dnative-image.docker-build=myBuilderImage -Dnative-image.container-runtime=podman

[2019-06-13 13:43] gsmet commented on #958
It would be nice if we could do it in a backward-compatible way.

[2019-06-13 13:44] mkouba commented on #2831
That would be great!

[2019-06-13 13:50] jhorstmann commented on #2811
@geoand I had a look into the code and can try to implement this. The rough idea would be

 - In `DevMojo.addProject`, try to extract plugin configuration from the injected `MavenProject` or `MavenSession`. This requires that the mojo be invoked as part of the maven lifecycle. I don't think it would be easy to get this information from the `LocalProject`, as that only contains the raw maven model,

[2019-06-13 13:53] geoand commented on #2811
Perhaps @aloubyansky would care to validate the proposed approach?

[2019-06-13 14:13] jhorstmann commented on #2811
Maybe the above outline is much more complex than needed. For most cases it would probably be enough to configure the `no-arg` and `all-open` plugins for any scope annotations. This should even work with the `NormalScope` meta annotation. I'm not using jpa at the moment, but I guess the no-arg would also be needed for any jpa entitites.

[2019-06-13 14:35] andrejpetras opened #2833 "RestEasy + Panache + OpenApi: did you forget to annotate your entity with @Entity?"
**Describe the bug**
When I add the openApi dependency to the project I get:
This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?

**Expected behavior**
No error

**Actual behavior**
Stacktrace:
java.lang.IllegalStateException: This method is normally automatically overridden in subclasses: did you forget to annotate your entity with

[2019-06-13 14:40] clochardpagan opened #2834 "Is there any way to force validation before Entity.persist() in Panache"
**Description**
Using Panache and hibernate-validation is hard at the moment, due to no applied rules of validation. We can create a pretty validateable entity like:

[code]
But calling:
[code]
Will not fire validation routine and user will be able literally "shoot itself in the foot". If solution exists without adding more source to Panache, it'll be good to have it in docs.

**Implementation ide

[2019-06-13 14:42] gsmet commented on #2833
@andrejpetras

Thanks for reporting the issue.

So what you're saying is that, just adding the openapi dependency to the quickstart project makes it fail?

It's not clear how the first issue is related to `Also I have a issue if the ElementCollection was LAZY`?

[2019-06-13 14:43] machi1990 commented on #2834
@gsmet Is this a duplicate of #1889?

[2019-06-13 14:43] gsmet commented on #2834
@clochardpagan we are working on a better integration between Hibernate ORM and Hibernate Validator in Quarkus as we speak. There is a draft PR here: https://github.com/quarkusio/quarkus/pull/2753 .

[2019-06-13 14:46] chrismanning commented on #2831
https://github.com/chrismanning/quarkus-datasource-test

Forgive the legacy stank on it ;)

[2019-06-13 14:52] clochardpagan commented on #2834
No, it's not a duplicate.  #1889 is about correct table mapping and constrains on DB. There is an ad-hoc solution for #1889 - add Colunm annotation.

My request is more applied to creating a way to prevent persisting entities breaking validation. For example, DB can have any size table, but if field is ought to confront regexp validation, than all entities must confront. It's not possible to solve

[2019-06-13 14:58] gsmet commented on #2834
@clochardpagan so #1889 is indeed also about that: right now HV is not integrated at all in ORM. When we integrate it, it will push the constraints to the database and trigger the validation.

There's a good chance, this will be OK for the next release. I'll ping you here once it's in master so that you can test it on your app.

[2019-06-13 14:58] emmanuelbernard commented on #2759
So it won't work globally for a few reasons:

- today we enlist all `@Entity` classes in the same Scanner that we pass to all persistence units instead of segregating things.
- the `LightPersistenceXmlDescriptor` indeed does not support any reference to datasoruce and therefore one cannot add a reference from a datasource name to the persistence unit starting operation

To be honest I could not fi

[2019-06-13 15:02] FroMage commented on #2759
I tried with:

[code]

But then I can't use `Arc.container().instance(EntityManager.class)` even with a `PersistenceContext` qualifier, as suggested by `JPAResourceReferenceProvider` (this resolver is not even called). We are probably missing something in ORM to support multiple persistence units, which needs to be resolved before ORM with Panache can support that.

Shall I open another issue @emm

[2019-06-13 15:04] geoand commented on #2811
That sounds like a reasonable first step and best avoid all the complexity if we can

[2019-06-13 15:07] FroMage commented on #2834
Sounds a lot like a dupe of #2755, no?

[2019-06-13 15:46] quintesse commented on #958
Wouldn't it be enough to support both and just log a warning saying the older is deprecated and remove it at some point in the future. Also remove mention of it from any docs and only mention the new one.

[2019-06-13 15:48] emmanuelbernard commented on #2759
Yes open an issue please.

[2019-06-13 15:51] gsmet commented on #958
@quintesse yup, exactly.

[2019-06-13 15:55] gsmet commented on #2759
@FroMage Just FYI, making this work on the ORM side is on my list for as soon as we fixed some HV issues and the HV + ORM integration.

[2019-06-13 15:56] FroMage opened #2835 "Support multiple persistence units"
As shown in #2759 comments, while we support defining multiple datasources, we don't actually support defining multiple persistence units:

- we don't support them via `application.properties`
- we can't use the datasources in `persistence.xml`
- we can't seem to be able to inject `EntityManager` for multiple persistence units.

[2019-06-13 16:04] FroMage commented on #2759
Cool. Then this depends on #2835

[2019-06-13 17:25] geoand commented on #2816
Are you sure about this? I just tried it and it worked on Quarkus 0.16.1.

[2019-06-13 18:39] rmpestano commented on #2701
Got it, I also hit another issue after setting the tempDir property.

I was trying arquillian maily because of drone and graphene, do you have any plans to integrate or make  those frameworks compatible with quarkus? cc @MatousJobanek

[2019-06-13 20:32] ricardozanini commented on #1488
For whom might be interested, I made some experimentations with both k8s clients (Fabric8 and the Client Java) in native environment that can be viewed [here](https://github.com/ricardozanini/k8s-svc-discovery/).

Basically both worked pretty well with token authentication relying on registering the domain model to be used with reflection. In a more broader usage scenario, the entire domain model

[2019-06-13 20:52] geoand commented on #1488
@ricardozanini Nice! Could you describe what changes you needed to make? We haven't actually done any real work on our side, but the very simple attempts we had done to use the kubernetes client with quarkus to create a native binary stumbled on some okhttp + ssl issues on graalvm

[2019-06-13 21:20] ruromero commented on #1488
FWIW I did few tests today with kubernetes client and I just had to enable the JNI flag to make the native build do a simple watch.
Monstly what is explained in the infinispan guide https://quarkus.io/guides/infinispan-client-guide

[2019-06-14 04:04] geoand commented on #1488
Very interesting, @iocanel and I will have to take a closer look

[2019-06-14 04:29] waldimiro commented on #2816
@geoand can be related to a multi module scenario?

My case:

**module-1** that exposes REST Endpoint and logic
**module-2** contains the REST Client interface (related to _module-1_)
**module-3** imports _module-2_ and declares in application.properties module-2 classes /mp-rest/url properties

[2019-06-14 04:32] geoand commented on #2816
Would it be possible for you to supply a small reproducer?

[2019-06-14 04:41] waldimiro commented on #2815
@gsmet I have a simple multi module scenario where:

**module-1**
Contains my JPA model (Entities)

**module-2**
Imports _module-1_
Exposes a REST endpoint that consumes a JSON
A service class serialize the JSON in a _module-1_ entity
A transactional method of service class try to merge the entity

[2019-06-14 04:54] waldimiro commented on #2816
Unfortunately I don't have much time right now. But I think the case is very simple to reproduce.

[2019-06-14 04:56] geoand commented on #2816
Sure, I just want to make sure we are doing the same thing. But I'll give it a show later on

[2019-06-14 04:58] waldimiro commented on #2816
Thank you so much for what you are doing! Quarkus is formidable!

[2019-06-14 06:37] andrejpetras commented on #2833
@gsmet
Yes, when I add the openApi dependency I get an error.

"LAZY": Sorry probably I am mixing two different issues. But I have another project where I added the openAPI dependency and I got a lazy load exception on the ElementCollection. When I change it to the EAGER or remove the openAPI dependency it is working.

[2019-06-14 07:15] mkouba commented on #2701
We don't have any plans regarding further Arqullian support ;-).

[2019-06-14 07:21] xstefank commented on #2701
@mkouba so IIUC we should rewrite Arquillian tests to @QuarkusTest? Should this issue be closed then?

[2019-06-14 08:14] mkouba commented on #2701
Yes, you should avoid using Arqullian for regular tests, at least for now.

[2019-06-14 10:41] geoand commented on #2816
So I tried a simplified version of the multi-module set and still couldn't reproduce the problem. Since there are a few moving parts that could affect the outcome, I would very much appreciate it if you could supply a simple reproducer of the problem.

[2019-06-14 12:00] isikemre opened #2842 "Env variable "QUARKUS_RESTEASY_PATH" doesn't work, but parameter "-Dquarkus.resteasy.path=" works"
**Describe the bug**
If you want to add a base-path to your JAX-RS Rest Service then it works only with this steps:

- Write `quarkus.resteasy.path=/some-path` into your `application.properties` file. [here on stackoverflow](https://stackoverflow.com/questions/55104574/how-can-i-set-the-base-path-for-my-resteasy-resources-in-quarkus)
- ~~Pass as a java property `-D` parameter like `java -jar appli

[2019-06-14 13:01] ricardozanini commented on #1488
Hi @geoand!

For the "official" kubernetes client I had to:

1. Add [`--allow-incomplete-classpath`](https://github.com/ricardozanini/k8s-svc-discovery/blob/master/k8s-client-java/pom.xml#L88) because of some incompatibility with Azure libraries. I haven't dig so far to understand why, since I won't use Azure at this stage.
2. [Enable security services and JNI](https://github.com/ricardozanini/k8s

[2019-06-14 13:04] geoand commented on #1488
Thanks for the info!

[2019-06-14 18:19] geoand commented on #2413
The problem stems from the fact that the resources are not output to the same directory as the classes by default in Gradle (as they are in Maven) and the Quarkus Gradle plugin only specifying the class output directory when launching the process.
As a workaround I believe you can use something like the following in your build.gradle.kts:

[code]

For a regular `build.gradle` it would look like:

[2019-06-15 03:43] cstancu commented on #2792
It looks like https://github.com/oracle/graal/pull/1371 is the only outstanding issue. That issue can be avoided by always specifying `--allow-incomplete-classpath`. (We're also considering making `--allow-incomplete-classpath` a default.) Can you check if [19.0.2](https://github.com/oracle/graal/releases/tag/vm-19.0.2) works for you? It contains a number of backported bug fixes.

[2019-06-15 10:18] mthmulders opened #2847 "Testing and packaging fails with ClassNotFoundException: io.quarkus.deployment.steps.ConfigDescriptionBuildStep"
**Describe the bug**
I've followed the [Getting Started Guide](https://quarkus.io/guides/getting-started-guide). Both testing and packaging fail.

**Expected behavior**
Both packaging and testing succeed.

**Actual behavior**
The test phase fails with

[code]

Skipping tests doesn't work either, because the package phase fails with a similar message:

[code]

**To Reproduce**
Steps to reproduce th

[2019-06-15 10:25] mthmulders commented on #2847
The file `quarkus-build-steps.list` in quarkus-core-deployment-0.16.1.jar:/META-INF contains a line with `io.quarkus.deployment.steps.ConfigDescriptionBuildStep`, but in the 0.16.1 source code there is no Java source file with that name. It does exist in master, though; it was introduced in comit [adc2557e](https://github.com/quarkusio/quarkus/commit/adc2557e642a26394a495277c041261068c5499e), one

[2019-06-15 12:30] geoand commented on #2847
I just tried your example and it worked for me.
Could you also post the output of `mvn -version` please?

[2019-06-15 12:33] geoand commented on #2842
Just curious, does `QUARKUS_RESTEASY_PATH="/some-path" java -jar application.jar` work or is the behavior the same as with the `mvn quarkus:dev`?

[2019-06-15 13:33] mthmulders commented on #2847
`mvn -version` gives

Maven home: /usr/local/Cellar/maven/3.6.1/libexec
Java version: 1.8.0_212, vendor: Oracle Corporation, runtime: /Library/Java/JavaVirtualMachines/jdk1.8.0_212.jdk/Contents/Home/jre
Default locale: en_GB, platform encoding: UTF-8
OS name: "mac os x", version: "10.14.4", arch: "x86_64", family: "mac"

[2019-06-15 13:34] geoand commented on #2847
Seems legit. Let's see if others on a Mac can reproduce the issue

[2019-06-15 13:35] mthmulders commented on #2847
Also, for good measure, I've thrown away everything related to io:quarkus:*:0.16.1 in ~/.m2/repository. Just in case I would've downloaded a corrupted JAR somewhere. Retrying indeed downloads a bunch of artifacts from Maven Central, but the problem persists.

@geoand What platform are you on?

[2019-06-15 13:36] geoand commented on #2847
I'm on Linux and couldn't reproduce your issue

[2019-06-15 19:05] mthmulders commented on #2847
A few more observations:

* with `quarkus.version=999-SNAPSHOT` ([a3c12456](https://github.com/quarkusio/quarkus/commit/a3c12456)) on macOS, both `mvn test` and `mvn package` succeed (`mvn package -Pnative` does not, but the error message is clearly different from this issue)
* Inside the [oracle/graalvm-ce:19.0.2](https://hub.docker.com/r/oracle/graalvm-ce) Docker image (based on Oracle Linux Ser

[2019-06-16 08:45] #2663 closed

[2019-06-16 12:07] #2806 closed

[2019-06-16 12:38] j-be opened #2848 "ConcurrentModificationException in TransactionEntityManagers.getEntityManager"
**Describe the bug**

I get `ConcurrentModificationException` at the start of a `ab` (https://httpd.apache.org/docs/2.4/programs/ab.html) benchmark session if the benchmarked REST endpoint needs database access. The issue only seems to appear if a concurrency level > 4 (i.e. `ab -c 5`) is used for the benchmark and `ab` is started prior to any request involving database access.

I think the concur

[2019-06-17 04:37] tveon commented on #2751
AFAIK it should be possible to reuse the standard data source for the reactive jdbc client from vert.x 3.7.1.
https://vertx.io/docs/vertx-jdbc-client/java/
`JDBCClient.create(vertx, datasource);`

[2019-06-17 06:06] #2694 closed

[2019-06-17 07:12] tandraschko commented on #2714
@mkouba this issue is (currently) the last issue of my myfaces extension for quarkus. If this issue is fixed, do you like to host the extension as official quarkus extension?
The extension is here: https://github.com/tandraschko/quarkus-myfaces
I think i would need to create some tests and release MyFaces 3.x M1.

[2019-06-17 07:17] stuartwdouglas commented on #2809
Does it work when running with -DnoDeps? I tried to build the project locally but was missing com.github.sarxos:oss-parent:pom:6-SNAPSHOT

[2019-06-17 07:19] stuartwdouglas commented on #2809
There are some known issues around having both extensions and projects using those extensions in the same project. The multimodule support will assume the extensions should be part of the app, and load them into the wrong class loader. If this is the underlying problem then noDeps should fix it.

[2019-06-17 07:56] gunnarmorling opened #2851 "Allow application to shutdown itself"
I'd like to have my Quarkus app shutdown upon a specific error condition. I'm calling `Application.currentApplication().stop();` but it still remains waiting in `Application#run()`, awaiting the shutdown hook thread to set the `shutdownRequested` flag.

[2019-06-17 08:15] tsegismont commented on #2751
@tveon the Reactive Postgres client is not based on JDBC. It's a fully reactive Java implementation of the Postgres network protocol.

[2019-06-17 09:00] manovotn commented on #2770
The original problem reported here is now solved via #2777, I'll close this issue.
@stephenc if you find any other problem with this, please reopen the issue.

[2019-06-17 09:00] #2770 closed

[2019-06-17 09:42] gsmet opened #2852 "Invalid classpath entry in MANIFEST.MF"
Using that reproducer: https://github.com/vietk/QuarkusReproducer , we end up with the following entry `lib/maven.dependency.pom.xml` in the `Class-Path` entry of the `MANIFEST.MF` file of the runner.

Which is invalid and leads to the following error when trying to build the native image:
[code]

@stuartwdouglas WDYT would be better: Should we filter out the XML files or include just the jar file

[2019-06-17 11:18] axlernwerkstatt opened #2854 "Hibernate ORM MultipleLinesSql Support"
**Description**
In my import.sql file, I have some complex and extensive SQL statements. For a better orientation, I would like to be able to enter SQL commands across multiple lines.

I am using quarkus 0.14.0.

**Implementation ideas**
According to [this answer](https://stackoverflow.com/questions/4674828/how-to-break-expression-into-more-lines-in-hibernates-import-sql), it is possible to use th

[2019-06-17 11:25] sarxos commented on #2809
Hi @stuartwdouglas,

Unfortunately. Option `-DnoDeps` did not fix it.

Just to make things easier I created a very minimal example and uploaded it into a new project https://github.com/sarxos/quarkus-issue-2809. The names of directories and modules are exactly the same as in my original project (I was too lazy to change them all) but all of my code is removed and only very basic reproducer classes

[2019-06-17 11:30] gsmet commented on #2854
@emmanuelbernard I think it would make sense to make it our default (and not introduce a configuration knob for that).

Obvious drawback: it will break all the existing `import.sql` as they would need a semi-colon at the end of each statement.

WDYT?

[2019-06-17 12:35] dmlloyd commented on #2792
I'll be trying it out hopefully today (I have one other issue ahead of it).  With each round of testing, it's possible that more issues will be uncovered though.  We have a few undiagnosed problems yet that might or might not have roots in GraalVM itself.

[2019-06-17 13:01] mkouba commented on #2831
Ok so the real problem is that `quarkus-agroal-deployment` depends on `quarkus-narayana-jta-deployment` but `quarkus-agroal` does not depend on `quarkus-narayana-jta` (runtime artifact). As a result the `NarayanaJtaProducers` class is not found and the `QuarkusTestExtension` fails. However, for some reason the Quarkus attempts to start again and since the generated classes are not removed from `ta

[2019-06-17 13:16] FroMage opened #2856 "OpenAPI bug with RESTEasy `@PathParam` and `@Consumes`"
We made the `quarkus-smallrye-openapi` extension understand the RESTEasy `@PathParam` annotation, but if there is a `@Consumes` annotation on the same endpoint, it will require a body, when this is not the case with the JAX-RS `@PathParam` annotation. This is a bug, we should see if this is a bug in our extension or in SmallRye-OpenAPI.

[2019-06-17 13:31] mkouba commented on #2714
@tandraschko Hm, I've just tried to reproduce the issue. The app starts and nothing happens when I click the button. What version of JDK do you use? And the generated bytecode looks ok.

WRT official extension - you should probably send a question to https://groups.google.com/forum/#!forum/quarkus-dev.

[2019-06-17 13:41] tandraschko commented on #2714
@mkouba  hmmm, works currently @work
@rmpestano can you check it again with the current sources? Works fine for me on Java8 and 11.

[2019-06-17 13:50] gsmet commented on #2856
Could you be a bit more clear about what the problem is?

What does not work and what would be expected where?

[2019-06-17 13:53] rmpestano commented on #2714
@mkouba, which version of Quarkus are you using?

[2019-06-17 13:55] FroMage commented on #2856
In swagger UI, the behaviour changes for this test:

[code]

As I said, with JAX-RS's `@PathParam`, the behaviour is the same with or without the `@Consume`, but if you use RESTEasy's `@PathParam`, Swagger UI requires a body if you add the `@Consume`

[2019-06-17 14:01] mkouba commented on #2714
@rmpestano I did not change the version in the reproducer, so it's 0.16.1. Are you testing against the master branch?

[2019-06-17 14:17] rmpestano commented on #2714
Yea also in 0.16.1. In fact It doesn't happens anymore on the reproducer but still happens (same stack by the way) on my app.

I will isolate the issue and contribute back to the reproducer project.

[2019-06-17 14:43] rmpestano commented on #2714
The issue is still happening on the reproducer, we are just not seeing it.

Set the project stage to development in [MyFacesProcessor here](https://github.com/tandraschko/quarkus-myfaces/blob/481efddf9157f9fd705ea39484170b07fb62844a/quarkus-myfaces/deployment/src/main/java/io/quarkus/myfaces/deployment/MyFacesProcessor.java#L201) (unfortunately I could not override the project stage, we need to lo

[2019-06-17 15:03] mkouba commented on #2714
Hm, what does the development project stage from MyFaces POV?

[2019-06-17 15:08] rmpestano commented on #2714
In the case of this issue it enables [this exception handler](https://github.com/tandraschko/quarkus-myfaces/blob/481efddf9157f9fd705ea39484170b07fb62844a/quarkus-myfaces/runtime/src/main/java/io/quarkus/myfaces/runtime/exception/QuarkusExceptionHandler.java#L39) which prints the exception on the console. So instead of changing the projectStage (if you thing it is related to this issue) you could

[2019-06-17 15:29] tandraschko commented on #2714
What rafael means is that the exception is silently ignored currently as we add our exceptionhandler only in Dev stage currently
Actually MyFaces should send a Error 500, we need to improve rhis5

[2019-06-17 16:07] dmlloyd opened #2860 "Automatic config name management for build and run time config"
**Description**
Sometimes it's nice to have both build and run time config for an extension.  The user should be able to configure both together, like this:

[code]

This means you need two different config roots like this:

[code]

[code]

It's already annoying enough to have to have two classes.  It's doubly annoying to have to give the name twice.  The extension step loader should, in addition

[2019-06-17 16:27] sberyozkin commented on #2856
Perhaps instead Quarkus should fail the deployment if the user combines @Consumes with @GET ?

[2019-06-17 16:38] sberyozkin commented on #2383
Will take care of it once Quarkus gets updated to the next smallrye-jwt-1.1 release

[2019-06-17 17:30] mkouba opened #2861 "Instance.destroy() - support client proxies"
Currently, we only support `@Dependent` contextual instances.

[2019-06-17 18:04] emmanuelbernard commented on #2854
@gsmet we could also try a `MultipleLinesSqlCommandExtractorFallingBackToSingleLineWhenItLooksGood` but that's another soft choice algorithm you won't like :)

Still I think with the doc outside mentioning the import without `;`, it would be nice to detect obvious errors and raise an error at build time.

[2019-06-17 18:31] #2831 closed

[2019-06-17 18:44] rquinio commented on #2778
@geoand I think I've nailed it ! I'll open a PR with the proposed changes.

[2019-06-17 18:48] gunnarmorling opened #2863 "Simplify development of Kafka Streams applications"
As of #2663, there's support for running Apache Kafka Streams stream processing applications on Quarkus. There's still some boilerplate, though, which could be further reduced. Eventually, all that the application developer should have to provide is the actual stream pipeline topology and its configuration. So I could see the following to be done as a follow-up:

- [x] Support that a `Topology` ca

[2019-06-17 19:40] geoand commented on #2778
That's great, I hadn't had a chance to look into this.
I'll take a look at the PR tomorrow

[2019-06-17 20:23] brigolini opened #2865 "Hot Reload on external jars"
**Description**
I have some java classes in a separate JAR file. It's very important to have Hot Reload working for those external JARs too as it's very common for an application to be distributed in more than one Jar file.

[2019-06-17 21:23] rquinio commented on #2284
<sectanchors>true</sectanchors> is already set in this repo asciidoc rendering https://github.com/quarkusio/quarkus/blob/master/docs/pom.xml

This needs actually to be done on quarkusio.github.io repo => https://github.com/quarkusio/quarkusio.github.io/issues/219 (and https://github.com/quarkusio/quarkusio.github.io/issues/196)

[2019-06-17 21:46] dbathon opened #2867 "e.printStackTrace() in TransactionalInterceptorBase"
**Describe the bug**
In da8212107dd210ebc0207273a755e4f3686ca82b e.printStackTrace() was added in TransactionalInterceptorBase#handleExceptionNoThrow(). Now every exception that causes a transaction rollback is printed in the log.

I assume this was added for debugging and then was committed accidentally. So just removing that line again should fix the issue.

**Expected behavior**
The exception a

[2019-06-18 03:55] #2861 closed

[2019-06-18 04:05] stuartwdouglas commented on #2865
If you have a multi module maven project this this should work, as it will monitor the source directories of all the modules in the project.

[2019-06-18 04:12] stuartwdouglas commented on #2852
I think we should just copy jar files, they are the only file type that really make sense in a Class-Path manifest entry.

[2019-06-18 04:21] stuartwdouglas commented on #2860
Wouldn't it be nicer to be able to just specify the build vs runtime on the individual members so that there is no need for multiple classes?

[2019-06-18 04:39] stuartwdouglas commented on #2847
I don't think this is correct "The file quarkus-build-steps.list in quarkus-core-deployment-0.16.1.jar:/META-INF contains a line with io.quarkus.deployment.steps.ConfigDescriptionBuildStep"

I just downloaded it fresh and checked and it is not there.

Is it possible you built from the tag without doing a clean first?

[2019-06-18 06:14] mthmulders commented on #2847
Well, that's strange. I had already removed all 0.16.1 artifacts from my local repo, so Maven would download a fresh copy. After that the problem persisted, and I filed this bug.
But today, I just re-did that exercise and this time, it succeeds. So I guess we can close this one.

[2019-06-18 06:14] #2847 closed

[2019-06-18 06:21] #2867 closed

[2019-06-18 07:21] #2821 closed

[2019-06-18 07:42] haraldatbmw opened #2871 "mvn quarkus:dev aborts with UnknownHostException"
**Describe the bug**
Running the application of the  "Getting Started Guide" failed with java.net.UnknownHostException: repo.maven.apache.org

**This happens at work behind a proxy.**
It seams that the proxy is not used for accessing the maven repo.

**Expected behavior**
The application starts without errors.

**Actual behavior**
running maven:
`mvn -X quarkus:dev`

causes this error:
[code]

**T

[2019-06-18 07:54] #2778 closed

[2019-06-18 08:32] geoand commented on #1157
We will need to update the kotlin compiler dependency to `1.3.40` once it is released (currently in EAP) to pick up the necessary changes

[2019-06-18 08:54] tandraschko commented on #2714
@rmpestano i tried to reproduce it and i really can't. Seems that it just happen on my other machine.
Maybe really a JDK thing.

[2019-06-18 09:17] FroMage commented on #2854
FTR in Panache RX I made that change a few months back in order to allow table defniitions on multiple lines.

[2019-06-18 09:18] FroMage commented on #2856
Well it really depends on what the JAX-RS spec says about that. I suspect the problem here is that OpenAPI thinks RESTEasy's `PathParam` annotation is a body type to deserialise.

[2019-06-18 09:18] FroMage commented on #2867
Wooops, sorry about this and thanks for reporting!

[2019-06-18 09:24] #2828 closed

[2019-06-18 09:48] sberyozkin commented on #2856
Oh, it is the RestEasy specific annotation, I see. Not sure though why would one use it instead of the JAX-RS `PathParam`. I believe the reason the RestEasy specific one changes the OpenApi output is that the RestEasy specific one is simply not recognized and as such OpenApi thinks it is a body (without checking if it is `Get' or not) - but the same would be the case if one would just add some `A`

[2019-06-18 10:03] FroMage commented on #2856
Because it's better and what we recommend since it does not require the value.

It should be, I wrote an extension for them. It's probably missing some part, though.

Absolutely not, this is really the recommended way to write REST apps. I will check our extension points and propose a patch.

[2019-06-18 11:11] rmpestano commented on #2714
I can reproduce on jdk8 and 11, oracle and openjdk:

[code]

[code]

[2019-06-18 11:35] sberyozkin commented on #2856
What is the recommended way, allow combining `Consumes` and `Get` ? And I'm honestly not following what is it that the RestEasy annotation brings compared to the equivalent `PathParam` (based on your example above) but I think I'm simply missing the point of it all so I'll keep quiet

[2019-06-18 11:43] brigolini commented on #2865
I will try this.

[2019-06-18 11:48] sberyozkin commented on #2856
I've looked at the source, right, RestEasy one, as you said, does not require a `PathParam` value, which can be handy, you are right (I guess one has to be careful about the conventions when multiple path parameters are involved, but anyway, I understand).
But as I mentioned before, I thought it was not really about the RestEasy annotation. If someone has `Consumes` and any other annotation (not e

[2019-06-18 12:21] FroMage commented on #2856
Well, no, when there's no body parameter, the `@Consumes` annotation is ignored, which is right: it allows people to put global consumes/produces on the class and only consume a body when they want to.

With my PR to smallrye-openapi I can resolve this bug and have the same behaviour with jax-rs and RESTEasy `@PathParam` annotations. If someone has a `@Consumes` and any other annotation they will

[2019-06-18 12:34] tandraschko commented on #2714
can you make a PR to make my sample fail, so @mkouba can also check it without modifying the code?

[2019-06-18 12:36] rmpestano commented on #2714
I'm using your sample `as is`, the only think @mkouba need is to change the project stage to developement in quarkus-myfaces as described [in this comment](https://github.com/quarkusio/quarkus/issues/2714#issuecomment-502712522).