[2020-08-21 05:29] AnatolyUA opened #11510 "Random `java.lang.ArrayIndexOutOfBoundsException: Index 0 out of bounds for length 0` exception on lambda tests"
While running tests I get a random (usually on the first run) exception:
[code]
(full stack trace is bellow)

I always run `mvn clean ` before tests but get this exception only once, all subsequent tests runs go well.

In the code I have a handler:
[code]
and then I test it with
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: I've got this err

[2020-08-21 05:36] jaikiran commented on #11510
Hello @AnatolyUA, what does your application's application.properties look like?

[2020-08-21 05:39] jaikiran commented on #11510
I just had a look at the code and I think it might us understand this better help if you can paste the complete code of that `CronHandler` class.

[2020-08-21 05:40] AnatolyUA commented on #11510
[code]

[2020-08-21 05:45] AnatolyUA commented on #11510
[code]

[2020-08-21 05:55] jaikiran commented on #11510
Thank you for those details. The reason why you seem to be running into this is because your request handler is of type `RequestHandler<Object, String>` and thus implements:
[code]
There's a specific check in Quarkus to skip such handler methods whose input type is `Object`. If you can change your request handler to accept a more specific input type instead of `java.lang.Object` then I think you s

[2020-08-21 06:00] AnatolyUA commented on #11510
Thank you. I suspected this might be the reason.
But why is this a random error? In most cases tests run with no errors, I get this exception once in a day or two.

[2020-08-21 06:07] jaikiran commented on #11510
The code in that part of the extension is such that it randomly picks a handler method if it doesn't find the exact handler method. It just so happens that sometimes that randomly picked method can end up being the `handleRequest(Object event, Context context)` itself and no further checks are done on it and it ends up handling the request.

[2020-08-21 06:17] rsvoboda opened #11511 "DEV mode doesn't work when path contains international characters, regression against 1.6.1.Final / 1.3.4.Final"
DEV mode doesn't work when path contains international characters, regression against 1.6.1.Final

When the path contains `ěščřžýáíéůú`or `Îñţérñåţîöñåļîžåţîờñ` I receive error `Prepare phase of the quarkus-maven-plugin threw an error: Failed to load current project ...`

This is regression comparing to Quarkus 1.6.1.Final which works fine

**Part of stacktrace**
[code]

**Reproducer:**
Prepare di

[2020-08-21 06:24] AnatolyUA commented on #11510
`private refreshTenantsStat ` will work for me.
@jaikiran , thank you for your support.

[2020-08-21 07:35] bobbyphilip commented on #11440
Latest code looks good! Problem solved

[2020-08-21 07:40] jaikiran commented on #11511
I've opened https://github.com/quarkusio/quarkus/pull/11512 with a potential fix.

[2020-08-21 07:45] sdaschner commented on #11460
@sberyozkin Thanks for the explanation and the PR!

Setting `quarkus.oidc.authentication.verify-access-token=false` in `1.7.0.Final` results in a `NoSuchElementException`, but building your PR SNAPSHOT version works for me, including refreshing the token. What's the release date for `1.7.1` (Final or a CR version)?

[2020-08-21 08:57] tsegismont commented on #11501
@vankofalcon can you try:

[code]

or with Vert.x `JsonObject` type:

[code]

[2020-08-21 09:14] maxandersen opened #11515 "[CI] - code.quarkus.io + Quarkus main"
This issue will be open and closed dependent on the state of code.quarkus.io building against Quarkus master snapshot.

If you have interest in being notified of this subscribe to the issue.

[2020-08-21 09:25] ia3andy opened #11516 "Quarkus CLI should look in parent directories to find maven and gradle wrappers"
**Description**
In multi-module project you don't want to have the wrappers everywhere, right? at least I don't :), but also you want your command to work in sub-modules.

It would be nice if the new Quarkus CLI would look in parent folders to find `mvnw` or `gradlew` (and their windows equivalent) :)

[2020-08-21 13:28] nicolinux72 opened #11524 "NullPointerException reading mongodb bson date (native image)"
Hi,

only native image of my application cause  a NullPointerException parsing mongodb document with date field.

The error occours both with quarkus 1.6.0.final and 1.7.0.final.

Here the full staktrace:
[code]
I'm compiling native image using maven's quarkus standard configuration with these Resource Configuration File:

[code]
Thank you
Nicola

[2020-08-21 13:28] Postremus opened #11525 "Exceptions of @ObservesAsync methods are not logged"
**Describe the bug**
I have an `@ObservesAsync` observer method.
If it throws an exception, it is not logged anywhere.

I have no special logging configuration in this project.

**Expected behavior**
I see all exceptions in the log if not otherwise specified.

**Actual behavior**
The exception is not logged.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the reproducer
2. mvn clean

[2020-08-21 14:09] knutwannheden opened #11527 "Add a new config category quarkus.hibernate-orm.fetch"
The options `quarkus.hibernate-orm.batch-fetch-size` and `quarkus-hibernate-orm.max-fetch-depth` both configure Hibernate's fetching logic and it would thus make sense to move them to a new config category `quarkus.hibernate-orm.fetch`. Of course for some time the original properties should be available as deprecated properties.

See also discussion in #11526.

[2020-08-21 14:51] rvansa opened #11529 "ClassCastException and swallowed original cause"
**Describe the bug**
My code is probably throwing an exception, or maybe there's a problem inside Quarkus itself. However, all I can see in logs is
[code]
and the actual exception that is probably the exception result of the `FutureImpl` is swallowed while the problem above fires.

**Expected behavior**
The original exception is logged.

**To Reproduce**
It's rather hard to isolate what triggered

[2020-08-21 16:36] patriot1burke opened #11531 "Less verbose on project create"
**Description**
Can we please get rid of messages like this?

"Generating Quarkus Codestart Project with data: {java={version=11}, quarkus={maven-plugin={artifact-id=quarkus-maven-plugin, group-id=io.quarkus, version=999-SNAPSHOT}, gradle-plugin={id=io.quarkus, version=999-SNAPSHOT}, version=999-SNAPSHOT, platform={artifact-id=quarkus-bom, group-id=io.quarkus, version=999-SNAPSHOT}}, project={arti

[2020-08-21 20:19] danielochoaglobant opened #11535 "Quarkus GRPC with blocking objects such as Hibernate EntityManager"
**Description**
Hi! we're evaluating quarkus + grpc for a set of microservices that access a relational database using jpa/hibernate. So far the POCs have failed apparently because of the gcrp implementation usage of IO threads. When we use the entity manager to execute a query we have the following error:
"java.lang.IllegalStateException - You have attempted to perform a blocking operation on a I

[2020-08-21 20:24] famod opened #11536 "Hibernate Validator: Consider all superclasses when checking for annotations and add tests"
**Description**
In #11506 (which had another/smaller scope initially) I extended the transformer to look for validation and/or JAX-RS annotations also in the direct superclass.
Theoretically, this is an incomplete solution - the entire hierarchy has to be checked instead.
#11506 did also _not_ add any superclass tests.

_Update_, idea from @gsmet (discussed via private messages on Zulip):

[2020-08-21 23:08] gema20hd opened #11537 "[io.qua.dep.dev.IsolatedDevModeMain] (main) Attempting to start hot replacement endpoint to recover from previous Quarkus startup failure"
**Describe the bug**
(Describe the problem clearly and concisely.)

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help explain your problem.)

**Environmen

[2020-08-21 23:39] jackhu1 opened #11539 "mvnw build a container image successful depsite of a Java exception thrown during build but where is the image created?"
**Describe the bug**
(Describe the problem clearly and concisely.)
My environment:
Windows 10 laptop, 64 bit 8 GB RAM
Running Docker Desktop - allocated 2 CPUs and 3.75 GB  (could not allocate 4GB or more - not enough memory)
Using Windows Command Prompt to create a container image:

`mvnw package -Pnative -Dquarkus.native.container-build=true -Dquarkus.container-image.build=true`

Build succeeded

[2020-08-22 14:45] evialle opened #11541 "{[ and ]} with Qute"
**Description**
Today, based on https://quarkus.io/guides/qute-reference, the bracket {[ and ]} could be used for unspected character data.
This {[ & ]} could be frequent in javascript, for example, this code is used to configure google maps, and it could cause problems if the code is minified and if a space isn't present between } & ] characters.

[code]

**Implementation ideas**
I would recomman

[2020-08-23 19:12] ben-manes commented on #11315
It looks like Quarkus has its own configuration file for logging ([docs](https://quarkus.io/guides/logging)). You could simply specify a default log level in your templates that suppress Caffeine's logging. If the majority of your users setup based on a common init script, it would become an implicit default.

A code workaround would be to translate the error into a success with an error'd value.

[2020-08-23 20:14] JChrist opened #11543 "Error when forwarding request from reverse proxy with Host header"
**Describe the bug**
If the quarkus application is behind a reverse proxy that sets the Host header, then some(?) JAX-RS endpoints fail with a bad request error and the message saying:
[code]
The same endpoint works as expected if hit directly or without the Host header set from the reverse proxy.

**Expected behavior**
The endpoint should work normally regardless of any Host header.

**Actual beh

[2020-08-24 00:23] ddlenz opened #11545 "Oracle support in Panache"
Oracle in Panache would be useful and does not appear to be supported currently.

Panache with Oracle returns 500 in the example below (requires an Oracle instance):
1. clone https://github.com/quarkusio/quarkus-quickstarts.git
2. create test table in Oracle:
[code]
3. open quarkus-quickstarts/hibernate-orm-panache-quickstart for editing
4. in application.properties, replace quarkus.datasource as

[2020-08-24 00:52] ddlenz commented on #11545
Looks like this works with correct datasource configuration. Closing.

[2020-08-24 00:52] #11545 closed

[2020-08-24 01:40] gwenneg commented on #11315
Thanks for your answer @ben-manes!

Your workaround suggestion looks interesting but I have a question. Is using `asMap.remove(key, oldValue)` instead of `asMap.remove(key)` really important? I'm not sure of the best way of getting that old value and I'm wondering what kind of impact it could have on performances.

[2020-08-24 01:44] ben-manes commented on #11315
It isn't necessary, but a nice practice to avoid race conditions. If you use `AsyncCache.asMap()` then the value is the cached future. The reference equality check ensures that a concurrent removal & add doesn't result in your callback accidentally removing the new entry. It's a rare and minor race, but one you can squash if desired.

[2020-08-24 05:23] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/221480253

[2020-08-24 05:41] #11511 closed

[2020-08-24 06:22] vu-bui commented on #11310
Is there any way that we can support Gradle Kotlin DSL `build.gradle.kts` as well? I see the enum io.quarkus.bootstrap.utils.BuildToolHelper.BuildTool#GRADLE is set to `build.gradle` only.

[2020-08-24 06:37] mkouba opened #11547 "Quartz programmatic scheduling - inject Jobs annotated with a scope"
I.e. enhance the `io.quarkus.quartz.runtime.QuartzScheduler.InvokerJobFactory`.

[2020-08-24 06:42] geoand commented on #11442
Actually this is consistent with how the extension behaves for regular Kubernetes deployments. The username is used as the default when `quarkus.container-image.group` is not set.

[2020-08-24 06:54] glefloch commented on #11310
@vu-bui, you right. I forgot about this one. I will add the `build.gradle.kts` in the enum.

[2020-08-24 07:04] geoand commented on #11442
I just tried this and it workd flawlessly when two small configuration settings are applied:

[code]

From my PoV, what is missing is some documentation, which I will add now.

[2020-08-24 07:10] knutwannheden commented on #11492
Works as designed.

[2020-08-24 07:10] #11492 closed

[2020-08-24 07:17] loicmathieu commented on #10873
@jaikiran my understanding is that Yasson already do this, that's how I understand the codehere https://github.com/eclipse-ee4j/yasson/blob/master/src/main/java/org/eclipse/yasson/internal/serializer/OptionalObjectDeserializer.java#L54 and here https://github.com/eclipse-ee4j/yasson/blob/master/src/main/java/org/eclipse/yasson/internal/serializer/OptionalObjectSerializer.java#L87

[2020-08-24 07:18] mkouba commented on #11547
Duplicates https://github.com/quarkusio/quarkus/issues/11496

[2020-08-24 07:18] #11547 closed

[2020-08-24 07:19] loicmathieu commented on #11491
/cc @geoand maybe the latests changes on the way MongoDB clients are created cause this issue ?

[2020-08-24 07:29] geoand commented on #11491
I'll take a look sometime this week - I just got back from PTO and I have a ton of catching up to do :)

[2020-08-24 07:30] kny78 opened #11549 "Quarkus, Jackson and Kotlin 1.4"
**Describe the bug**
* Upgraded to Kotlin 1.4
* Use Jackson and Jackson-module-kotlin
* Running with @QuarkusTest fails
* Same test without @QuarkusTest is ok

Se repository: [https://github.com/kny78/quarkus-kotlin14-jackson-fail](https://github.com/kny78/quarkus-kotlin14-jackson-fail)
See failure output: [https://github.com/kny78/quarkus-kotlin14-jackson-fail/tree/master/failure-logs](https://gi

[2020-08-24 07:35] Ladicek commented on #11442
This totally sounds like something users shouldn't have to do themselves, in case of OpenShift. We probably could distinguish regular Knative and OpenShift Serverless (either via an extension, e.g. `quarkus-openshift-serverless`, or via deployment target, e.g. `quarkus.kubernetes.deployment-target=openshift-serverless`), but I don't know anything about Knative, so I should probably stay silent :-)

[2020-08-24 07:37] geoand commented on #11442
@Ladicek yeah, that is definitely an option.

I am kind of on the fence however since I am a little worried it will make things more confusing.
If however everyone agrees with your proposal, I'll gladly implement it

[2020-08-24 07:53] geoand commented on #11549
Can you please add the output of the failed test run?

[2020-08-24 07:54] geoand commented on #11539
Closing as this isn't a Quarkus bug

[2020-08-24 07:54] #11539 closed

[2020-08-24 07:56] Shohou opened #11550 "quarkus-grpc-protoc-plugin windows script fails with java.exe in Program Files"
**Describe the bug**
protoc compilation fails with "'С:\Program' is not recognized as an internal or external command, operable program or batch file."

**Expected behavior**
protoc compilation successfully runs

**Actual behavior**
protoc compilation fails with "'С:\Program' is not recognized as an internal or external command, operable program or batch file."

**To Reproduce**
Steps to reproduce

[2020-08-24 07:56] geoand commented on #11367
I remember why I did this:

Basically I didn't want `@ConfigProperty.defaultValue` to come into play when using classes, as the default value should just be set in code.
@Ladicek I assume that you want to be able to customize the field names, right? If so, then I guess we can relax the constraint and just disallow `defaultValue`. WDYT?

[2020-08-24 07:59] geoand commented on #10954
@sberyozkin can you please add some more details about what you expect to see with this?

[2020-08-24 07:59] rsvoboda commented on #11407
I think this reproducer doesn't need OpenShift, Michal mentions just Docker, that's why he references mjurc/quarkus-openshift-test-suite/ and local run like `./sql-db/mariadb/target/sql-db-mariadb-1.0.0-SNAPSHOT-runner`

I think small change to the mvn command should be applied: `-DskipTests` => `-DskipTests -DskipITs`

@mjurc is on PTO, he will be back next week, @Sanne please try the reproducer

[2020-08-24 08:04] aloubyansky commented on #11493
This looks like a the failsafe plugin issue. The JAR with the class appears to be on the classpath. But for some reason still isn't found. I cloned and built the current master https://github.com/apache/maven-surefire which is 3.0.0-M6-SNAPSHOT. With this version the tests passed.

[2020-08-24 08:06] aloubyansky commented on #11493
I don't think I am going to be digging deeper into this at this point.

[2020-08-24 08:07] Ladicek commented on #11367
For complex types (with `Converter`s), expressing default values in code doesn't necessarily have to be possible, so I'd say `defaultValue` should work as well. (And if it's set, then it should take precedence.) But yes, when I stumbled upon this, I was mainly after customizing the configuration key.

[2020-08-24 08:09] Shohou opened #11552 "quarkus 1.7.0.Final gradle plugin hides errors from protoc compilation"
**Description**
Gradle build with quarkus plugin and 'io.quarkus:quarkus-grpc' dependency tries to compile protoc files in src/main/proto. It failed for me because of issue #11550 , but finding the real reason wasn't easy task because protoc compilation process errors is not printed anywhere.

**Implementation ideas**
Gradle should print command before executing it when --debug is passed to the gr

[2020-08-24 08:09] rsvoboda commented on #11493
Thanks for the investigation, this should be resolved once 3.0.0.Final gets released and used in Quarkus, right?

[2020-08-24 08:10] Ladicek commented on #10954
I'm also not sure what "security options related to securing Quarkus in OpenShift/Kubernetes" are.

Is this more about highlighting specific Quarkus features that make most sense in K8s/OpenShift, or is this more about highlighting specific K8s/OpenShift features that make most sense with Quarkus?

[2020-08-24 08:10] geoand commented on #11367
OK, I'll add this to the list of things I need to do (the name part at least) :)

[2020-08-24 08:15] aloubyansky commented on #11493
Hopefully. Given that it looks like it also had to do with "-SNAPSHOT", I also re-versioned the master branch of failsafe to 3.0.0-M6 and it also worked.

[2020-08-24 08:24] geoand commented on #11301
I can't reproduce this. Do you have an example project that exhibits this behavior?

[2020-08-24 08:29] rsvoboda commented on #11442
Agree with @Ladicek, this is something users shouldn't have to do themselves. I'm slightly more in favor of `quarkus.kubernetes.deployment-target=openshift-serverless` way instead of introducing another extension,

@tqvarnst, please share your view on this.

[2020-08-24 08:32] aloubyansky commented on #11433
@dearrudam could you please check once again your CI and confirm whether the value of `-s` is an absolute or a relative path? Thanks a lot.

[2020-08-24 08:36] #11387 closed

[2020-08-24 08:50] geoand commented on #11442
Reopening this as we might want a zero-config solution

[2020-08-24 08:52] knutwannheden commented on #11527
I have updated the issue title and description accordingly.

[2020-08-24 08:56] gsmet commented on #11552
/cc @michalszynkiewicz

[2020-08-24 09:00] glefloch commented on #11552
We have the same issue with docker logs and native image builds. I think @jaikiran has done something in order to show native build logs.

[2020-08-24 09:02] gsmet commented on #11550
@Shohou could you provide a PR with the fix? If I can get it by tomorrow evening Paris time, it will be part of 1.7.1.

[2020-08-24 09:03] kny78 commented on #11549
@geoand I added the logs to my example git-repo:
      [https://github.com/kny78/quarkus-kotlin14-jackson-fail/tree/master/failure-logs](https://github.com/kny78/quarkus-kotlin14-jackson-fail/tree/master/failure-logs)

[2020-08-24 09:19] nicolinux72 commented on #11524
good morning,

I have prepared a simple test case [eventi-testcase.zip](https://github.com/quarkusio/quarkus/files/5116906/eventi-testcase.zip) with only four classes:
[code]
Please note that the only dependencies in the pom file, besides quarkus, are jodatime and lombock.

The mongodb collection we try unsuccessfully to update contains documents like:
[code]
This is my version of graalvm and my r

[2020-08-24 09:34] sberyozkin commented on #11543
@JChrist Hi, can you please provide more info about it or reproducer ?

[2020-08-24 09:38] JChrist commented on #11543
Sure, let me try to create a minimal project and I will get back to you

[2020-08-24 09:46] geoand commented on #11134
To fix this, we need dekorateio/dekorate#607 to be merged, a new Dekorate release cut and have Quarkus pick up that release

[2020-08-24 09:46] harry9111985 commented on #7451
Hi Guys,

I am currently doing an evaluation of quarkus framework for reactive routes . The framework looks promising except for this feature of providing support of custom logging fields which is quite easy in spring boot to configure using logback logstash encoder . Could quarkus team help us understand when the feature will be available in quarkus to do custom field logging ?

This feature is c

[2020-08-24 09:48] geoand commented on #11398
@aureamunoz would you be interested in this issue?

[2020-08-24 10:03] harry9111985 opened #11557 "Quarkus Reactive Mutiny - Composite Exception encapsulation on Runtime Exceptions and @ExceptionHandler"
**Description**

I am evaluating quarkus 1.6 and reactive Mutiny for reactive routes.  My experience with quarkus mutiny exception handling is not so great . The current problem I have is if I throw a RuntimeException down in the service layer or data layer . The exception gets encapsulated as a CompositeException with a list of causes where one of the causes is the the RuntimeException thrown. Th

[2020-08-24 10:16] loicmathieu commented on #7451
@harry9111985 if you previously use the logstash encoder, maybe the `logging-gelf` extension would work ?
It can send logs in the GELF format to a central logging solution, it has been tested with logstash, graylog and fluentd.
It allows to add custom fields.

[2020-08-24 10:19] xtaixe commented on #4453
@machi1990 Thanks for this extension!

Can multiple redis clients be configured similar to [](https://quarkus.io/guides/datasource#multiple-datasources)? If not, are there any plans to support this or should I create an issue?

Thanks!

[2020-08-24 10:23] machi1990 commented on #4453
Hi @xtaixe , this is not supported yet. Thanks for opening an issue for that.

[2020-08-24 10:25] aureamunoz commented on #11398
yep!

[2020-08-24 10:27] geoand commented on #11398
Excellent! Let me know if you need anything regarding it

[2020-08-24 10:28] xtaixe opened #11558 "Support multiple redis clients"
**Description**
Support multiple redis clients to different redis instances.

**Implementation ideas**
I assume the implementation should be similar to https://quarkus.io/guides/datasource#multiple-datasources or at least follow the same pattern.

[2020-08-24 10:31] harry9111985 commented on #7451
@loicmathieu : Is there an example I can refer to for populating custom fields in log statements ? We are looking at using structured arguments given by logback/logstash to append custom fields in log statements.

Currently we are using kv or keyValue static methods in our logs to populate custom fields in our logs. Once we use these static methods in our log statements then spring boot (in combin

[2020-08-24 10:39] tapaniantonrundgren commented on #11184
I have this same issue with Windows 10 and quarkus versions 1.6.0 and later. Works with quarkus 1.5.2 and on Ubuntu with WSL2 with all Quarkus versions

[2020-08-24 10:41] mkouba commented on #11447
@famod That would not help in this case. The instance returned by `InvocationContext#getTarget()` is not a client proxy but an intercepted subclass (internal container construct as defined by [Contextual instance of a bean](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#contextual_instance)).

I believe that this behavior is not defined by the spec but I've found a very old TCK test that seems

[2020-08-24 10:42] geoand commented on #10875
Thanks for reporting!

https://github.com/quarkusio/quarkus/pull/11559 should take care of the issue

[2020-08-24 10:50] manovotn commented on #11447
I don't think we state this anywhere officially and due to it being a grey area, I don't think we are bound to keep it that way.

Also, just for any onlookers, here is a comparison of Weld to ArC in these two aspects:
* Weld - self invocations are *not* intercepted && invocation of intercepted method via `InvocationContext#getTarget()` does *not* trigger interception
* ArC - self invocations are i

[2020-08-24 10:53] jaikiran commented on #11184
Hello @tapaniantonrundgren, is it with a (docker) container build of native-image (using `-Dquarkus.native.container-build=true`) or just regular non-container build?

[2020-08-24 11:11] mkouba commented on #11525
This behavior is intentional and defined by the spec: https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#observer_notification and https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#async_exception

If an exception is thrown in any async observer the returned `CompletionStage` is completed exceptionally with `java.util.concurrent.CompletionException` and the exceptions thrown can be obtained via the

[2020-08-24 11:12] jaikiran commented on #11552
I had a look and @glefloch is right. This is a similar issue as the one we fixed in https://github.com/quarkusio/quarkus/pull/10137. I'll see how easy it is to pass the context of which build tool is initiating this code gen, in this part of the code, so that I can reuse this or similar logic here.

[2020-08-24 11:28] cescoffier commented on #11557
Cc @jponge

[2020-08-24 11:39] tapaniantonrundgren commented on #11184
It is with container build. Need to build Linux images

[2020-08-24 11:42] mkouba commented on #11481
Currently, we intentionally don't support any kind of automatic conversion of parameters. The idea is to keep the API as simple as possible. And since `@Param` is just a shortcut for `routingContext.request().getParam(name)` we only support `String`, `Optional<String>` and `List<String>`.

That being said, it should be really straightforward to add param injectors for some other basic types (`Inte

[2020-08-24 11:56] rsynek opened #11563 "[CI] - OptaPlanner + Quarkus main"
This issue will be open and closed dependent on the state of https://github.com/kiegroup/optaplanner building against Quarkus master snapshot.

If you have interest in being notified of this subscribe to the issue.

[2020-08-24 11:59] SetoKaiba commented on #11131
https://quarkus.io/guides/writing-native-applications-tips#including-resources-2
Here's the doc about reflection-config.json and resources-config.json.

@jaikiran Here's the reproduce project and exception. Just build the native image for it on windows. It's working on linux and mac.
https://github.com/SetoKaiba/my-quarkus-project

[code]

[2020-08-24 12:21] Rutzzzz commented on #11301
My bad. It turns out the nested class can have any class name. I was running into this issue, because I was using a dev mode without the clean maven goal. Closing this.

[2020-08-24 12:21] #11301 closed

[2020-08-24 12:23] jponge commented on #11557
Would you mind reformatting the issue? The code is not always in Markdown code blocks, and not indented which makes it hard to read.

[2020-08-24 12:23] loicmathieu commented on #7451
@harry9111985 with the loggin-gelf extension you can add hardcoded additional fields via
[code]
Or you can use the standard MDC fields mechanism to add fields to your log event, by adding the following configuration property

[code]
Please see the configuration reference for more information: https://quarkus.io/guides/centralized-log-management#configuration-reference

[2020-08-24 12:49] Sanne commented on #11407
thanks, I tried with the above reproducer: if you delete `/sql-db/app/src/main/resources/import.sql` the problem is solved.

(It's still a bit hard to actually ensure you get a clean build, as it seems I had trouble with the snapshots system: even after deleting the file and doing a `mvn clean`, at first the second resource copy was still being included).

I wish we could detect duplicate resource

[2020-08-24 12:54] Ladicek commented on #11407
I no longer recall why I added `sql-db/app/src/main/resources/import.sql`, but I _think_ it's for the "unit test" in the `app` module. If I remember correctly, I tried to put it into `sql-db/app/src/test/resources`, but it didn't work. I guess we could rename it and adjust `sql-db/app/src/test/resources/application.properties` accordingly.

[2020-08-24 12:55] RronJahiri opened #11565 "MongoDB - Batch Size On Aggregate Options"
**Describe the extension**
On AggregateOptions in **io.quarkus.mongodb** package add batchSize variable because we want option that can get documents with batches not all documents at once.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
[code]

**Additional context**
(Add any other context about the proposal here.)

[2020-08-24 12:55] Ladicek commented on #11407
But a request for enhancement this totally is. (Hello Yoda!) I currently can't think of a better way of supporting multiple DBs with a single application than what I built in that test suite.

[2020-08-24 12:56] gsmet commented on #11565
/cc @loicmathieu

[2020-08-24 12:58] manovotn commented on #11525
I can confirm this is intentional and per-spec behavior.
Closing issue as it is not a bug.

[2020-08-24 12:58] #11525 closed

[2020-08-24 12:59] cescoffier commented on #9480
Forgot to close this one.

[2020-08-24 12:59] #9480 closed

[2020-08-24 13:03] jmartisk opened #11566 "Queries in import.sql can't be split to multiple lines anymore"
With the latest snapshot (`019f4e7e63`; it doesn't happen in 1.7.0), I noticed that if I have queries in my `import.sql` that are split into multiple lines like
[code]
Then each line is executed as if it were a full query, and the application breaks in this case.
For preserving readability, we should keep allowing splitting queries into multiple lines.

[2020-08-24 13:04] mkouba opened #11567 "Type-safe message bundles - support dynamic keys in templates"
Currently, there is no easy way to obtain a message for a dynamic key in a template.

[2020-08-24 13:12] loicmathieu commented on #11565
@RronJahiri this should be easily feasible ;)

I can do it or you can provide a PR if you want to contribute ?

[2020-08-24 13:14] liavyona commented on #11489
@sberyozkin  Does the framework itself support it at all? Or, should GraalVm or `java` it self should support it in order to be treated as FIPS Compliant?

[2020-08-24 13:17] RronJahiri commented on #11565
Okay i will do a PR.

Thanks !

[2020-08-24 13:31] gsmet commented on #11566
@Sanne looks like your patch didn't work as expected?

[2020-08-24 13:32] jmartisk commented on #10076
@rquinio, are you envisioning any other benefit from this apart from being able to generate documentation automatically?

I'm not sure I understand how the metrics from these annotations would be matched to their underlying implementation/function, for example `Statistics::getSessionOpenCount` for the `hibernate-orm.sessions.open` metric? Reference to the `Statistics` object is only obtained at ru

[2020-08-24 13:34] gsmet commented on #11566
I think the issue is there: https://github.com/quarkusio/quarkus/pull/11353/files#diff-62f3a6c6771d8f3a4819eb119de072ecR12 .

The `INSTANCE` should be an instance of `QuarkusImportSqlCommandExtractorInitiator`.

Let me work on a patch (and add a test).

[2020-08-24 13:44] Serkan80 commented on #10889
I've done the following and I still get the same error:

I've also tried this:

Still no success. But whether I set a value to the _cluster.host_ or not, I see that the cluster can find my both instances during startup. I see this on my console:

    Members {size:2, ver:8} [
	Member [192.168.2.31]:5701 - dca28d28-99f9-4b4d-ac2a-acc1122bc407 this
	Member [192.168.2.31]:5702 - 3faef08c-75f6-4ac6-8d

[2020-08-24 13:46] geoand commented on #11491
https://github.com/quarkusio/quarkus/pull/11568 addressed part of the issue, but we will need @mkouba for the other part.

Martin, it seems like this code (from https://github.com/agelbess/quarkus-mongodb-quickstart/blob/master/src/main/java/org/acme/mongodb/FruitService.java):

[code]

is not injecting the proper `MongoClient`. It should inject the qualified (@MongoClientName("fruits")) `MongoCli

[2020-08-24 13:49] geoand commented on #11336
@gsmet are  targets of `@Constraint.validatedBy` meant to be beans?

[2020-08-24 13:52] geoand commented on #11361
I am in favor of leaving it as is, as the `quarkus-junit5-mockito` extension does not interact with the mockito junit5 extension in any way - it depends on mockito core only and ties into the Quarkus test lifecycle.

We should avoid coupling this extension to another dependency unless there is a very good reason to do so.

[2020-08-24 13:52] #11361 closed

[2020-08-24 13:53] geoand commented on #11379
Thanks for reporting. I'll take a look at what this means sometime this week.

[2020-08-24 13:53] geoand commented on #11358
Thanks for reporting John. I'll see what this implies hopefully sometime this week or the next.

[2020-08-24 14:05] kenfinnigan opened #11571 "Common means of ensuring incompatible extensions are not selected together"
**Description**
Have the ability to fail the build when incompatible extensions are present.

This could be extensions that are meant to be a "select one", such as the container image extensions, or it could be a situation where a particular extension is incompatible when combined with another.

**Implementation ideas**
Currently, the container image extensions achieve this functionality in `Conta

[2020-08-24 14:17] rodolfodpk commented on #11481
Since it seems straightforward to  implement and it just works with quarkus-resteasy + openapi, I think it's worth to have quarkus-vertx-web + openapi on same developer's experience level.

[2020-08-24 14:20] mkouba commented on #11491
@geoand It seems that `@MongoClientName` is not properly registered as a qualifier. The `MongoClientProcessor` only registers it as a bean defining annotation which is a different concept and should not be necessary in this use case. A qualifier that is not included in the bean archive index should be registered via `AdditionalBeanBuildItem`.

Note that `io.quarkus.mongodb.DefaultAndNamedMongoClie

[2020-08-24 14:21] jaikiran commented on #11400
I had assigned this to myself in the hopes of working on a fix. But I've been swamped with some other work this week and probably won't be able to get to this sooner and my investigation into this so far has indicated that I might anyway need some help from @aloubyansky or other folks familiar with this part of the code to get this working.
What's happening is that when the tests are run, (as you

[2020-08-24 14:21] geoand commented on #11491
Ah, great catch! I'll fix it.

WDYM?

[2020-08-24 14:24] davide-malagoli commented on #9300
Same issue here with Quarkus 1.7.0.
I tried an example from here

https://2much2learn.com/uploading-files-to-cloud-native-object-store-from-quarkus-restful-api/

and tried to exclude stax api using

<dependency>
        <groupId>stax</groupId>
        <artifactId>stax-api</artifactId>
        <version>[1.0,]</version>
        <scope>provided</scope>
    </dependency>

but this causes an error in t

[2020-08-24 14:25] borellda commented on #10104
Hello,

I need to trigger this one.
I'm creating a small service to download files and extract text from it. And of course I would like to use a native image.
However, using Quarkus 1.6.1 and GralalVM 20.1.0 (Java 11.0.7), for this file:
[data_viewer_manual_nec_v10.pdf](https://github.com/quarkusio/quarkus/files/5118333/data_viewer_manual_nec_v10.pdf)
I receive the following :
`15:16:52 INFO  [or.

[2020-08-24 14:26] vankofalcon opened #11572 "Reactive messaging Emitter<T> interface is missing Mutiny integration"
Quarkus version: 1.7.0

package org.eclipse.microprofile.reactive.messaging;

Why does the Emitter<T> interface has only the CompletionStage<Void> send(T msg) method and is missing Uni<Void> and Multi<Void> send overloads?

As shown here I can consume the messages using mutiny types https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/emitter/emitter.html#streams

`@Inject

[2020-08-24 14:26] mkouba commented on #11491
@geoand This merely tests the database is there but not if it's the "correct" instance: https://github.com/quarkusio/quarkus/blob/master/extensions/mongodb-client/deployment/src/test/java/io/quarkus/mongodb/DefaultAndNamedMongoClientConfigTest.java#L47-L48

In other words, the test does not fail even if both injected clients are referencing the same object ;-).

[2020-08-24 14:29] geoand commented on #11491
Right, I'll take care of it.

Thanks for your help!

[2020-08-24 14:30] kenfinnigan commented on #11572
Is your project depending on the MP Reactive Messaging API artifact?

[2020-08-24 14:34] jaikiran commented on #11529
Hello @rvansa, is that the complete stacktrace? If not, can you post the rest of it?

[2020-08-24 14:36] vankofalcon commented on #11572
Hi @kenfinnigan
I want to be able to use Mutiny all over my code base.
1. Emitter<T> send method that return Uni<Void> makes sense right?
2. Multi<Void> would also make sense if you want to emit a batch of items in a reactive fashion. I hope that I'm not totally wrong about this

[2020-08-24 14:42] kenfinnigan commented on #11572
Possibly for 1, but I think there are methods to create a `Uni` from a `CompletionStage`.

For 2, right now the emitter sends a single message at a time, I don't believe there is the concept of sending a batch of messages at once. That would require changes to SmallRye Reactive Messaging to support it.

However, if what you want to do is have a stream that emits a message as new things come throug

[2020-08-24 14:43] geoand commented on #11491
@mkouba fixed! Mind taking a super quick look (although I am pretty certain it's OK now)?

[2020-08-24 14:48] vankofalcon commented on #11572
All this makes sense. Don't you think that it will be more consistent if the sending of a message also support Mutiny out of the box? As I have already pointed out the consuming of a message has a first class Mutiny support https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/emitter/emitter.html#streams

[2020-08-24 14:52] kenfinnigan commented on #11572
What would you consider supporting Mutiny in the emitting of messages as well?

Is it returning `Uni` and `Multi`, is it taking them as parameters, or something else?

[2020-08-24 14:56] vankofalcon commented on #11572
As you said Multi might not be OK. So at least returning `Uni<Void>`,
that will be an alternative for `CompletionStage<Void> send(T msg);` in the Emitter<T> interface

[2020-08-24 14:59] kenfinnigan commented on #11572
Please raise an issue here: https://github.com/smallrye/smallrye-reactive-messaging/issues

It can then be discussed and implemented

[2020-08-24 15:08] rvansa commented on #11529
@jaikiran This is really all. Do you know where could I find the piece of code that gets this `.zig` generated?

[2020-08-24 15:12] jaikiran commented on #11529
Going by this, in your stacktrace:

[code]
I think it's in this class https://github.com/quarkusio/quarkus/blob/master/extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusConsumer.java

[2020-08-24 15:20] knupfera opened #11573 "ThreadLocalRandom generates always the same numbers"
**Describe the bug**
(Describe the problem clearly and concisely.)
ThreadLocalRandom.current().nextLong() always generates the same numbers on each startup. This only happens when I run a native image.
**Expected behavior**
(Describe the expected behavior clearly and concisely.)
ThreadLocalRandom.current().nextLong() generates different numbers on each startup.
**Actual behavior**
(Describe the ac

[2020-08-24 15:20] abhisht51 commented on #11527
Hi,
I am beginner at this issue. I get the idea of what we are try to achieve here but it would help if you can let me know what files I need to keep in mind @knutwannheden. Thanks

[2020-08-24 15:29] Ladicek commented on #11571
Could/should this be achieved by reusing the "capability" concept? If more than 1 extension produces a capability, build fails.

[2020-08-24 15:32] kenfinnigan commented on #11571
That could possibly be used, but it might require tightening up the "capability" meaning, as I think it's still somewhat "loose".

[2020-08-24 15:34] vankofalcon commented on #11572
[https://github.com/smallrye/smallrye-reactive-messaging/issues/710](url)

[2020-08-24 15:36] kenfinnigan commented on #11572
Thanks

[2020-08-24 15:47] rquinio commented on #11358
Just to clarify, is this for [headless K8s services ](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services)(ClusterIP=None), for which client-side load balancing towards the endpoints would have to be implemented in MP REST client (round-robin between available endpoints ?) ?

Because for full-blown services (i.e. with a k8s load balancer), it's possible today to use

[2020-08-24 16:05] famod commented on #9354
I have rather bad news for now: **Hibernate can only update from 1.4.196 to 1.4.197 for now!**
The PR for that is here: https://github.com/hibernate/hibernate-orm/pull/3516
And the reasoning for not being able to update to .198, .199 or .200 is here: https://github.com/hibernate/hibernate-orm/pull/3412#issuecomment-678813877 (see also subsequent comments)

Since Quarkus is already using .197, I do

[2020-08-24 17:01] rquinio commented on #10076
@jmartisk No, I don't actually see other benefits, so it may not be worth it.

Sorry I should have put the corresponding runtime init snippet:

[code]
I'm not exactly sure how the metric types should be handled (an attribute of @MetricItem might be enough, if not leveraged by MetricsFactory builders)

[2020-08-24 17:42] jclingan commented on #11358
@rquinio This is still intended to be server-side LB. The primary point is that the information in the /mp-rest/... URL is available via the Kubernetes Service. Why not just use the information from the Service instead of requiring the developer to define a property? It's simply a developer joy/convenience RFE.

[2020-08-24 18:07] gastaldi commented on #11573
Seems to be related to https://github.com/oracle/graal/issues/1610 and the fix should be available in GraalVM 20.2.0

[2020-08-24 18:14] gsmet commented on #11573
/cc @galderz wondering if we would want that one backported to Mandrel?

[2020-08-24 18:17] gastaldi commented on #11573
Bad news: I just tested in 20.2.0 and that doesn't seem to be fixed for `ThreadLocalRandom`s :disappointed:

[2020-08-24 18:29] gastaldi opened #11576 "Make GraalVM 20.2.0 the default version"
Release notes: https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-20.2.0

[2020-08-24 18:42] gsmet commented on #11576
@gastaldi FWIW, you might have to tweak what @galderz did to support multiple versions. I don't think we should drop support for 20.1 yet.

[2020-08-24 18:47] gastaldi commented on #11576
@gsmet if what you're referring to is this:

https://github.com/quarkusio/quarkus/commit/6190179febd50d71db17fd80392c67ec3275191c#diff-99b0ae6b0ce4104e45b9c9d5f6d3b8a6R275-R285

Rest assured that I haven't changed that in my PR :wink:

[2020-08-24 19:20] danielochoaglobant commented on #11535
@Sanne @cescoffier Thanks for your responses, we created a workaround similar to what you described, delegating the job to another thread.
We will move forward with this until reactive Hibernate is available.
Kind regards.

[2020-08-24 19:52] Sanne commented on #9354
Many thanks for all your help @famod !

[2020-08-24 20:56] ebullient commented on #11571
we have this covered already for metrics: there can be only one provider of MetricsFactoryBuildItem, and the build fails if there is more than one  (so you can’t have both smallrye metrics extension and micrometer extension enabled at the same time.

[2020-08-24 21:09] JChrist commented on #11543
It took me quite a while to isolate the required parts to reproduce this, as it is quite weird.
The main point is that the `Host` header was wrong, as it was prefixed with the `\` character, which made resteasy complain (in a very peculiar way though).

In any case, a sample minimal resource is:
[code]

and the reproducing test:
[code]

The strange part is that if the `QueryParam` (commented as pa

[2020-08-24 21:14] harry9111985 commented on #11557
Done @jponge  , is it better now ?

[2020-08-24 22:01] maxandersen commented on #11571
other that has "issues" are the funky ones - not sure if they use capability etc. /cc @patriot1burke

I wish we could see/have this error at "add" time rather than wait until build time.

[2020-08-24 22:02] evialle opened #11586 "Documentation about OIDC: quarkus.oidc.application-type=web_app or quarkus.oidc.application-type=web-app"
**Description**

The documentation https://quarkus.io/guides/security-openid-connect#quarkus-oidc_quarkus.oidc.application-type says that only the value web-app or service are accepted.
But in OIDCTenantConfig.java in the enum of ApplicationType, we can see WEB_APP, SERVICE.

**Implementation ideas**
Fix in documentation _ instead of -

[2020-08-24 22:08] harry9111985 commented on #7451
Thanks for the suggestion and Tried it @loicmathieu

Couple of things:

I am using org/slf4j/slf4j-api/1.7.30/slf4j-api-1.7.30.jar!/org/slf4j/MDC.class for performing MDC Logging.

a) The property quarkus.log.handler.gelf.include-full-mdc=true indeed works but our expectation is that the custom field should be present in the root level and not mdc level .

b) The MDC class doesn't have support of

[2020-08-24 22:20] kenfinnigan commented on #11571
@ebullient that's good, but I think it would help to have something generic that can be applied.

Also, per @maxandersen's comment, I think it also needs to be baked into the plugin as well to prevent extensions being added that shouldn't. Should be doable with extension metadata and changes to the plugin.

[2020-08-24 22:40] maxandersen commented on #11571
Question is if incompatibility is enough to be on wether a capability is unique or not. If it is - is there a way to do that check fast and without loading all dependencies ? I assume there aren't and thus having at least some possible upfront in metadata to signal an issue.

like having "capability-provided": [featureA, featureB] and if other extension list these we warn/error.

Other is to add "

[2020-08-24 22:47] maxandersen opened #11587 "quarkus 1.3.4 has issue deploying to kubernetes on windows"
**Describe the bug**
clone https://github.com/maxandersen/fruit-taster and run the following:

[code]

**Expected behavior**
build and deploy works on both windows and linux

**Actual behavior**
linux passes but on windows gets:

[code]

**Environment (please complete the following information):**
| Key                          | Value

[2020-08-24 22:49] maxandersen commented on #11587
I feel like we had this issue before ..something about that on windows paths not handled properly causing scan for extensions to fail...thought it was fixed before 1.3 but apparently not.

but just a hunch for now. @geoand or @iocanel if you have an idea?

[2020-08-24 23:19] kenfinnigan commented on #11571
Agree that "capability-provided" metadata uniqueness is an easy win, but also think "incompatible-with" could be beneficial to have as well as we may find some extensions are incompatible for a release or two, for various reasons, but then it's fixed in the future

[2020-08-24 23:50] stuartwdouglas commented on #11537
This is the error that is printed if you have a problem in your application (e.g. unresolvable dependency injection, configuration error). You need to fix the error that will be in the logs above this.

[2020-08-24 23:50] #11537 closed

[2020-08-24 23:54] gema20hd commented on #11537
Buenas tardes, tengo error el desplegar.
Subio el proyecto sin problemas.
Error
 at=error code=H10 desc="App crashed" method=GET path="/" host=zumba-distribuida41.herokuapp.com

Ayuda por favor .

Saludos cordiales,

Gema Zumba A.

________________________________
De: Stuart Douglas <notifications@github.com>
Enviado: lunes, 24 de agosto de 2020 18:50
Para: quarkusio/quarkus <quarkus@noreply.githu

[2020-08-25 01:30] dearrudam commented on #11433
@aloubyansky, sorry my delayed answer, the value of ```-s``` is an absolute path.

[2020-08-25 01:55] stuartwdouglas opened #11589 "Lazy loading fails if an entity appears twice in the object graph"
Hibernate lazy loading will fail if a given entity is referenced twice in the object graph (e.g. a diamond pattern, where A lazily loads B and C and both B and C reference an entity D).

A reproducer is here: https://github.com/quarkusio/quarkus/compare/master...stuartwdouglas:lazy-load-problem

In the reproducer a lazily loaded Supervisor class has two Manager's, which both reference the same CEO

[2020-08-25 04:07] jaikiran commented on #11573
It looked surprising that a year old fix didn't make it to 20.2 which was recently released. So I had a look and it appears that this feature isn't enabled by  default in Graal VM. I am not sure if that was intentional. I have opened https://github.com/oracle/graal/pull/2790 with a proposed fix.

[2020-08-25 04:10] #11573 closed

[2020-08-25 05:13] mejlholm commented on #7451
+1 we are also working on streamlining our structured logging where i work.

[2020-08-25 05:24] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/223121733

[2020-08-25 05:27] svinther opened #11591 "Manually created sequence in postgresql is not working correctly"
**Describe the bug**
Given an Entity with a Long type `@Id` column, when manually creating the sequence for the id column `CREATE SEQUENCE giftSeq` the behaviour of assigning is broken.

**Expected behavior**
id's assignment follow the natural series development 1,2,3,...

**Actual behavior**
The id's assigned to follow the path 1,2,-46,-45,... until a collision happens

**To Reproduce**
[code]

R

[2020-08-25 06:19] mkouba commented on #11491
@geoand it should be OK now ;-)

[2020-08-25 06:23] geoand commented on #11491
:+1:

[2020-08-25 06:28] geoand commented on #6588
@michalszynkiewicz this is failing with:

[code]

Can you take a look please?

[2020-08-25 06:31] geoand commented on #8593
@gunnarmorling we have a test failure in `quarkus-universe-integration-tests-debezium-outbox`

[code]

@jamesnetherton is this error similar to what you were seeing in Camel?

@gsmet are you aware of this change in EntityManager?

[2020-08-25 06:39] geoand commented on #8694
@mariofusco @evacchi this is failing with:

[code]

[2020-08-25 06:43] geoand commented on #11587
We did deal with something similar but not exactly the same.

Do you mind sharing the Maven output when `-X` is added?

[2020-08-25 06:49] geoand commented on #11549
@RotBolt do you think this might be similar to the native resources thing you were looking at?

[2020-08-25 07:06] mkouba commented on #11591
I'm no JPA expert but shouldn't be `@GeneratedValue#generator()` used together with `@SequenceGenerator` or `@TableGenerator`?

[2020-08-25 07:07] jponge commented on #11557
Better, although you could have syntax highlighting with ```java fenced blocks 😉

I'll have a look at the issue

[2020-08-25 07:20] jponge commented on #11557
On having something similar to `@ExceptionHandler`: this is not related to Mutiny but to Quarkus, that should could be a suggestion in another issue. I'm however not sure that this is a great match with a reactive programming model, but it can be debated somewhere else.

On using `onItemOrFailure`: in your case you get a handler method that has to deal with both a result or a failure, and do some

[2020-08-25 07:44] harry9111985 commented on #11557
@jponge : if i am throwing one xyz runtime exception from down my chain why should it be wrapped as a CompositeException... can it not be simply thrown up the reactive chain as xyz runtimeException. ?

I will raise a separate issue for @ExceptionHandler. I am coming from a context that if i have multiple APIs need same exceptions handled , it need not be code in the controller reactive chain but s

[2020-08-25 07:56] cescoffier commented on #11557
CompositeExceptions are only created if your first failure (the RuntimeException) triggers a second failure. So, you have at least 2 failures.

Another situation where `CompositeException` is used is when you _combine_ multiple actions and explicitly require to collect all the failures. In this case, if there is more than one a `CompositeException` is used. Again, you have multiple failures.

Note

[2020-08-25 07:57] cescoffier commented on #11557
About `ExceptionHandler`, you can register a reactive route handling failure (set the `type` attribute to `failure`).

[2020-08-25 08:00] rsvoboda commented on #11407
Used `Fixes` keyword in PR in  quarkus-qe/quarkus-openshift-test-suite which triggered auto-close of this issue after merge.

[2020-08-25 08:01] harry9111985 commented on #11557
I am only throwing a single XYZ Runtime Exception and no other failure is triggered. When the exception lands in the Controller its a Composite Exception with one cause which I think is an unnecessary thing to parse exceptions especially if its just one exception thrown.

[2020-08-25 08:02] harry9111985 commented on #11557
Could you help me out with a sample documentation on this please ? Would like to see how its done.

[2020-08-25 08:10] cescoffier commented on #11557
Can you provide the code? What do you call _controller_?

But, as an example, if you use `onItemOfFailure().transform((res, fail) -> { ...})`, and that function is called with a failure (`fail != null`) and the function throwns an exception, you end up with a `CompositeException` with `fail` as primary exception and the other thrown exception.

Check the following example:

https://github.com/quar

[2020-08-25 08:17] #11566 closed

[2020-08-25 08:17] Sanne commented on #11589
thanks @stuartwdouglas ! Yes this looks like an upstream bug related to build-time enhancement and the use of enhanced proxies; neither of these features is enabled on WildFly, so that could explain the portability problem.

We'll need to solve it in Hibernate ORM.  cc/ @dreab8

[2020-08-25 08:18] #11160 closed

[2020-08-25 08:26] svinther commented on #11591
Im not sure. I think I just followed this quickstart guide: https://quarkus.io/guides/hibernate-orm

[2020-08-25 08:32] rvansa commented on #11529
This is the failing bytecode:
[code]
Obviously the local var 1 cannot be both a Future and Throwable, so I think that the offending line is `catchBlock.getMethodParam(0)` in https://github.com/quarkusio/quarkus/blob/master/extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusConsumer.java#L134 - it should really call `catchBlock.getCaughtException()`.

I'll try to compile

[2020-08-25 08:39] #10804 closed

[2020-08-25 08:39] #11315 closed

[2020-08-25 08:40] mkouba commented on #11591
Yes, would you care to send a PR?

CC @Sanne

[2020-08-25 08:44] #10875 closed

[2020-08-25 08:47] michalszynkiewicz commented on #6588
@geoand thanks for mentioning me.
The URL for th epom file works well for me. Is the CI job executed behind some proxy?

[2020-08-25 09:00] geoand commented on #6588
Not that I know of. It's just a cron job running on GH Actions

[2020-08-25 09:22] Sanne commented on #11591
right, this is a bit confusing.

The default ID generation strategy uses an in-memory pool, and assumes an initial value of `1` and a sequence increment of `50` - as these are the values hardcoded in the JPA annotation `SequenceGenerator` ; when mapping the entities like you did without an explicit sequence definition, it will use the defaults and expect (require!) the Sequence to be compatible wi

[2020-08-25 09:26] Sanne commented on #11591
BTW, the quickstart guide isn't necessarily wrong; I'm not sure which entities that example is supposed to use, but it is possible that they have a compatible mapping.

[2020-08-25 09:57] sdaschner opened #11594 "JSON-B transient and property annotation collide unexpectedly"
When mapping a class via JSON-B, and annotating fields as follows, the result either throws an error with type mismatch, or mistakenly serializes the wrong property:

[code]

this results in:

[code]

If both properties `order` and `orderLink` have the same type, it serializes the wrong property:

[code]

[code]

However, if we annotate `@JsonbProperty` on the setter instead, it works:

[code]

Th

[2020-08-25 10:14] hbelmiro commented on #11594
I can take a look at this.

[2020-08-25 10:20] rvansa commented on #11529
Okay, I confirm that this revealed the actual exception. I'll do a PR...

[2020-08-25 10:24] Sanne opened #11597 "Avoid starting Elasticsearch with UseConcMarkSweepGC (on the primary JVM)"
**Description**
For purposes of integration tests we're starting Elasticsearch nodes, which use their default configuration which sets `UseConcMarkSweepGC`.
When GraalVM integration tests are run on Quarkus, the GraalVM master is the primary JVM being used across all tests; this JVM doesn't support the chosen GC.

**Implementation ideas**
It's not particularly important which GC is being used, as

[2020-08-25 10:26] mkouba commented on #11591
@Sanne @svinther there is only one example entity in the guide and the fact that there is no `@SequenceGenerator` is really confusing. Even the entity in the quickstart declares the `@SequenceGenerator`: https://github.com/quarkusio/quarkus-quickstarts/blob/master/hibernate-orm-quickstart/src/main/java/org/acme/hibernate/orm/Fruit.java#L20-L23

[2020-08-25 10:26] sdaschner commented on #6094
@gsmet Sure, done. Happy that I could finally help with something on the build process :)

[2020-08-25 10:26] gsmet commented on #11594
Is it a Quarkus issue or a JSON-B issue? I.e. do you reproduce it with only JSON-B?

[2020-08-25 10:28] hbelmiro commented on #11594
@gsmet It is a JSON-B issue. I just reproduced it with only JSON-B.

[2020-08-25 10:28] sdaschner commented on #11594
@gsmet It might be a Yasson issue, yes...

[2020-08-25 10:31] pelletier197 commented on #10104
I don't know on their side how this is going, but as I said, I found a workaround by running the project with the graalvm tracing agent that detects what classes and resources are instantiated and used at runtime and generates a configuration file you can use to build your native image.

It makes a great overall job, but there will still be missing a few dependencies you'll need to add manually.

[2020-08-25 10:35] gsmet commented on #11594
Yeah so better open a Yasson issue.

[2020-08-25 10:37] Sanne commented on #11591
The annotation is not mandatory, so why is that confusing?

The `Fruit` entity in the quickstart doesn't technically need it either, but I prefer having it as it avoids the need to customize the import script: you'll need either one or the other, or just let Hibernate ORM generate the schema and it will do the right thing.

I'm playing devil's advocate.. I'm open to suggestions but I'm just not su

[2020-08-25 10:47] sberyozkin commented on #11586
@evialle You can see in section `2.4.8` at https://quarkus.io/guides/writing-extensions#configuration that `WEB_APP` would be an equivalent of `web-app`, etc. You can probably type `WEB_APP` as well but it is certainly not something I'd like the users to type.
Do you have some IDE erros like invalid enum value, etc ?

[2020-08-25 10:52] mkouba commented on #11591
I'm sorry for my ignorance but if the annotation is not present then we expect a generator of name `giftSeq` to be defined somewhere because `@GeneratedValue.generator()` does not correspond to a sequence name, or? At least the javadoc does not mention this.

My point is that if you follow the guide you'll not end up with a functional app...

`quarkus.hibernate-orm.database.generation=drop-and-cre

[2020-08-25 11:00] aloubyansky commented on #11433
Thanks @dearrudam. That is really puzzling. I don't understand how it could fail to resolve an absolute path. Does it contain whitespaces?
The only other possibility to fail here is if `MAVEN_CMD_LINE_ARGS` env var isn't available. Which is set in `mvn` script.

[2020-08-25 11:02] geoand commented on #11594
cc @aguibert

[2020-08-25 11:04] #11310 closed

[2020-08-25 11:38] Sanne commented on #11591
no if it refers to a generator `giftSeq` then it implicitly expects a Sequence to exist having that name.
More commonly, ORM will generate this sequence during schema creation, or validate that it does indeed exist during schema validation.

[2020-08-25 11:44] mkouba commented on #11591
Ok, thanks for clarification. In that case, this issue is very likely a bug...

[2020-08-25 12:02] sberyozkin commented on #11586
There is this Visual Studio plugin feature: https://quarkus.io/blog/vscode-quarkus-1.2.0/#quick-fix-for-invalid-enum-value, but I've had that with IntelliJ this can be reported as well.
There is no any problem with the OIDC docs (`WEB_APP` is too technical to recommend setting in the user properties), but perhaps there is some scope for improving the Quarkus IDE integration (assuming this is the r

[2020-08-25 12:02] #11586 closed

[2020-08-25 12:23] galderz opened #11600 "Server shutdown warning when building native with Mandrel"
Using Mandrel 20.1 with cleanup server option shows:

[code]

Native image is built fine, but the warning above is related to server shutdown. Mandrel does not support server (`--no-server` already excludes the use of Mandrel), so we just need to extend server shutdown to non-Mandrel versions.

Related to https://github.com/graalvm/mandrel/issues/107.

[2020-08-25 12:47] bframke commented on #11411
Push

[2020-08-25 12:53] dreab8 commented on #11589
Hi @stuartwdouglas, yes it is definitively an Hibernate problem, created https://hibernate.atlassian.net/browse/HHH-14187 and working on it.

[2020-08-25 12:59] krisgerhard opened #11603 "Quarkus + Kotlin works differently in native mode"
**Describe the bug**
So I've a Kotlin data class (Config) which takes String as a parameter.
The code is this:
`
Config::class.constructors.first().parameters.map {
      log.info("constructor parameter type: " + (it.type).toString())
      log.info("constructor parameter type classifier: " + (it.type.classifier).toString())
}
`

**Expected behavior**
In JVM the code prints
`constructor parameter

[2020-08-25 13:03] evanchooly commented on #11603
uncovered by https://github.com/sksamuel/hoplite

[2020-08-25 13:42] mkouba commented on #11495
`javax.transaction.RollbackException` is a checked exception and so we need to wrap it and RESTEasy should be able to unwrap it: https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java#L331-L332

I have to idea where to fix the arjuna WARN though. Maybe @mmusgrov know

[2020-08-25 13:45] evialle commented on #11586
This is the case with IntelliJ, this is what led me to create that issue...

[2020-08-25 14:16] jeffhubLR opened #11612 "devmode: Quarkus 1.7.0.Final + grpc + smallrye health gRPC Server is DOWN"
**Describe the bug**
After generating a project from code.quarkus.io with grpc and smallrye health extensions, then following the quarkus gRPC quickstart guide, the healthcheck endpoint always reports gRPC server as DOWN despite the endpoint successfully responding to calls.

**Expected behavior**
Healthcheck should report UP if the service is available.

[code]

**Actual behavior**
Healthcheck re

[2020-08-25 14:49] cescoffier opened #11614 "Integrate Mutiny 0.8.0"
**Description**

Mutiny 0.8.0 is coming _soon_, and it will require a bit of integration code:

* [ ] Integrate the dropped exception hook

@jponge volunteered to implement this once Mutiny 0.8.0 is released!

[2020-08-25 14:50] mkouba commented on #11567
https://groups.google.com/g/quarkus-dev/c/t-pDPxDclVo

[2020-08-25 14:50] jponge commented on #11614
🥳

[2020-08-25 15:12] rvansa opened #11616 "Concurrent requests result in IllegalStateException: Request has already been read"
**Describe the bug**
I have a service annotated like this:
[code]
The permissions are checked using OIDC to Keycloak instance (if this matters). When firing 6 concurrent requests to this endpoint (from browser) most of them fail with status 400 and body `java.lang.IllegalStateException: Request has already been read`. There's nothing in the server log. Sometimes some of these requests succeed (I'v

[2020-08-25 15:17] sberyozkin commented on #11616
@rvansa
There have been a few issues related to `Request has already been read`.
Can you please try to narrow down to where this exception is thrown from ?
Please also try Quarkus 1.7.0.Final unless you are already using it.
 Reproducer can help too. CC @stuartwdouglas

[2020-08-25 15:26] sorin-costea commented on #6376
Any ideas so far? I'm also using the JAX-RS handlers on AWS Lambda and I'd love to be able to check stuff from the Lambda execution context (request context, actually). I asked this also in Zulip and StackOverflow and nobody answered :(

[2020-08-25 15:30] rvansa commented on #11529
I cannot link PR directly: https://github.com/quarkusio/quarkus/pull/11596

[2020-08-25 15:31] rvansa commented on #11616
@sberyozkin I don't see that as an exception thrown - `java.lang.IllegalStateException: Request has already been read` is only written in the response body.
I am running on master (with fix for https://github.com/quarkusio/quarkus/pull/11596) already.
I'll see if I can set an exception breakpoint in my dev environment.

[2020-08-25 15:34] Sanne commented on #11614
@gavinking could you look at impact on Hibernate Reactive? Thanks!

[2020-08-25 15:36] rvansa commented on #11616
Hmm, I can't reproduce this in dev setup which is running over plaintext HTTP 1.1 (OIDC over plaintext, too).

[2020-08-25 15:37] gavinking commented on #11614
OK will do.

[2020-08-25 16:05] sberyozkin commented on #11616
@rvansa Have you done these concurrent tests before or is it the 1st time you have done them ? i wonder if it can make sense to isolate the Vertx 3.9.2 update back to 3.9.1 and see if it makes a difference.

[2020-08-25 16:05] waldimiro opened #11617 "Kafka Streams Bootstrap Servers Problem"
**Describe the bug**
Admin client can't establish the connection to bootstrap server. I'm sure that the host name is correct, when I use it in Kafka Messaging like mp.messaging.connector.smallrye-kafka.bootstrap.servers=my.host.name:9093 there are no problems.

**Expected behavior**
Admin client establishes the connection.

**Actual behavior**
Admin client can't establish the connection.

Kafka Co

[2020-08-25 16:07] geoand commented on #11293
I'll likely take a look at this next week with the goal of getting it into 1.8

[2020-08-25 16:19] gsmet commented on #11617
/cc @rquinio

[2020-08-25 16:47] jackhu1 commented on #11539
Hello @jaikiran good spot!  Not sure how you managed to deduce I used JDK 8 as there is no clear statement saying that, but I did use JDK 8.
I was following an online tutorial which specified using JDK 8:  https://quarkus.io/guides/building-native-image

Does anyone know how well is the backward compatibility of Java 11 to Java 8?
Or is there an option to specifying using Java 8 native-image inste

[2020-08-25 16:59] gsmet commented on #11539
Hum, we need to fix this doc. It's incorrect nowadays. I will fix it.

On Tue, Aug 25, 2020 at 6:47 PM jackhu1 <notifications@github.com> wrote:

[2020-08-25 17:02] gavinking commented on #11614
Does Mutiny have a snapshot repo?

[2020-08-25 17:03] gsmet commented on #11539
https://github.com/quarkusio/quarkus/pull/11619

[2020-08-25 17:10] cescoffier commented on #11614
@gavinking yes: https://oss.sonatype.org/content/repositories/snapshots/io/smallrye/reactive/

[2020-08-25 17:16] gavinking commented on #11614
Thanks. Well, I just ran the HR tests on 999-SNAPSHOT and nothing broke ... so that's a good start!

[2020-08-25 17:18] gavinking commented on #11614
And I was able to remove all the `onItem()` calls...

[2020-08-25 17:38] gavinking commented on #11614
... and most of the `onTermination()` calls. Great!

[2020-08-25 18:34] aguibert commented on #11594
Thanks for the ping, this is indeed a Yasson issue and a duplicate of this OpenLiberty issue I received from Sebastian around the same time:
https://github.com/OpenLiberty/open-liberty/issues/13640

I've transferred this to a [yasson issue](https://github.com/eclipse-ee4j/yasson/issues/444), and will provide a resolution there. I'll have to review the spec to determine what it says about this scen

[2020-08-25 18:52] gastaldi opened #11622 "Overall CI improvement"
- [x] Get maven controlled execution of docker containers (avoid starting unused images during build) - TestContainers is a good option. (https://github.com/quarkusio/quarkus/pull/13134)
- [x] For pull-request based builds, introduce a Maven build extension to trigger the build only for modules that are affected by the changes introduced in the pull-request (Trigger the build for downstream projec

[2020-08-25 19:05] glefloch commented on #11390
are those compiled class placed in `build/classes/main/kotlin` ?

[2020-08-25 19:29] waldimiro commented on #11617
I manipulated in debug modus the class io.quarkus.kafka.streams.runtime.KafkaStreamProducer by removing the "< unresolved >" and it works fine.

Please check the method:

    private static String asString(List<InetSocketAddress> addresses) {
        return (String)addresses.stream().map(InetSocketAddress::toString).collect(Collectors.joining(","));
    }

Or is there a workaround?

[2020-08-25 19:36] jeffhubLR commented on #11612
Another data point. This startup output is also missing in 1.7.0.Final, where it exists in 1.6.1.Final:
[code]

Note that I can still make gRPC calls, but the startup output never indicated that the gRPC Server was started (even though it's obviously running as calls succeed).

[2020-08-25 19:46] carlitorendon commented on #9832
Hello @oran0007 I can confirm your findings. Weird thing is, I have managed to run the unit tests once (when the workspace is brand new to IntelliJ say) and then something happens that it messes it up. Productivity killer.

[2020-08-25 20:14] michalszynkiewicz commented on #11612
How do you start the service?
I just did `mvn clean package && java -jar target/*-runner.jar` on your project and I see:
[code]

[2020-08-25 20:15] michalszynkiewicz commented on #11612
and the log says:
[code]

[2020-08-25 20:17] michalszynkiewicz commented on #11612
I see the behavior you described when running `quarkus:dev`, I'll change the subject to reflect that.
Please let me know if you see it with normal execution too

[2020-08-25 20:37] jeffhubLR commented on #11612
Sorry, yes. You are correct.
This only exhibits in dev-mode. Running the jar has the expected behavior, where the smallrye healthcheck passes, and the startup output also includes the gRPC Server startup line.

[2020-08-25 20:47] #6094 closed

[2020-08-25 20:49] #11600 closed

[2020-08-25 20:56] knutwannheden commented on #9832
I suspect in my case the problem was caused by the Quarkus IntelliJ plugin. Don't as me which version or even which one of the two plugins, I don't know. I suspect it somewhen pulled in an old version of Quarkus jars and then IntelliJ for some reason tried to launch my application with those. That's my theory anyway.

[2020-08-25 20:58] survivant commented on #9832
I remove the quarkus plugin from Intellij. Was causing too mush troubles

Le mar. 25 août 2020 16 h 56, Knut Wannheden <notifications@github.com> a
écrit :

[2020-08-25 21:12] stgiaf commented on #8858
Any update?

[2020-08-25 21:25] harry9111985 commented on #11557
Yes I can provide code. And if you can help me out in correcting it so that I can get only one RuntimeException that would be useful.

[code]

[2020-08-25 21:26] maxandersen commented on #6260
related: https://github.com/quarkusio/quarkus/issues/7717

[2020-08-25 21:28] maxandersen commented on #11622
This does not sound right...you would need those snapshots to be from same base master branch...or do you mean that we would have the build use sha1 named versions ?

[2020-08-25 21:32] n1hility commented on #11622
Yeah I think we should skip this idea. We already cache the maven repository. We could cache the local build artifacts as well but this would only save 13 minutes. I think we have bigger problems.

[2020-08-25 21:33] gastaldi commented on #11622
Ok, I removed it, for now :)

[2020-08-25 23:04] patriot1burke opened #11628 "empty create should not generate commandmode examples"
**Description**
create with no extensions currently generates commandmode .java files.  This should be removed as users may want to create a completely empty project.  commandmode should be its own specific example.

[2020-08-26 00:23] vietk commented on #11617
Hello,

Are you sure you have a correct DNS setup ?
It seems that the JVM cannot resolve your DNS : my.host.name.

Now the possible reason why you are seeing a <unresolved> is that you may have upgraded to JDK 14 recently, the way InetSocketAddress.toString() works has evolved there :

You can check it at https://www.oracle.com/java/technologies/javase/14-relnote-issues.html#Diffs.

At least, quar

[2020-08-26 00:58] stuartwdouglas commented on #11616
Maybe we have an SSL issue, but I created https://github.com/quarkusio/quarkus/pull/11629 and ran it locally and there was no issues.

This is not quite the same, as it is not OIDC auth and requests are not run concurrently, but basically just changes the existing tests we had for this problem to use SSL.

[2020-08-26 03:34] jaikiran commented on #8858
Hello @stgiaf, I haven't had a chance to look into this and given some other work, I might not be able to get to this soon.

[2020-08-26 03:35] jaikiran commented on #11529
Fixed in https://github.com/quarkusio/quarkus/pull/11596

[2020-08-26 03:35] #11529 closed

[2020-08-26 05:45] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/224792007

[2020-08-26 06:20] cescoffier commented on #11557
Thanks for the code, which explain why you get a `Composite` exception. In `onItemOfFailure().apply`, throwing an exception creates a composite exception when invoked with a failure.

Here is the code from Mutiny:

[code]

The `CompositeException` is created using {failure, e} where failure is the RollbackException and e the `PAInternalServerException`. That explains the behavior you are seeing.

[2020-08-26 06:29] geoand commented on #11293
https://github.com/quarkusio/quarkus/pull/11630 should take care of this

[2020-08-26 07:21] harry9111985 opened #11632 "@CircuitBreaker failOn doesnt work on Custom exceptions thrown by the method - For reactive downstream code"
**Describe the bug**
@CircuitBreaker failOn doesnt work on Custom exceptions thrown by the method - For reactive downstream code

**Expected behavior**

The assumption of the failOn functionality is that if the execution failure count is greater than requestVolumeThreshold for a  CustomException thrown by the method where the CustomException is part of the failOn exception List.

When the next API

[2020-08-26 07:29] gsmet commented on #11397
This is something we need to fix in the Jackson extension.

[2020-08-26 07:32] rvansa commented on #11616
@sberyozkin I haven't really tried that before, I don't think it makes sense to check old versions.

@stuartwdouglas I would be also surprised if this would be failing in the general case; There's certainly been tons of performance tests with TLS hitting the same endpoint. That's also why I've stressed out OIDC. Another thing worth mention would be that the request body (`Json`) is converted using

[2020-08-26 07:36] geoand commented on #11442
Closing, for now

[2020-08-26 07:36] #11442 closed

[2020-08-26 07:36] #11550 closed

[2020-08-26 07:39] mkouba commented on #11541
@evialle Hm, I can understand that a valid json can contain the the `]}`  sequence (array as a property value of an object). But I don't see a valid use case for the starting sequence `{[` which is necessary to "trigger" unparsed character data. What's the original/unformatted snippet you'd like to include in a template?

[2020-08-26 07:45] mkouba commented on #11541
Ah, now I see the problem - the `]}` sequence is enough to end an unparsed character data section _prematurely_.

[2020-08-26 07:54] #11612 closed

[2020-08-26 08:01] mkouba commented on #11541
Do you have a recommendation? ;-)

[2020-08-26 08:10] andreas-eberle commented on #11549
@kny78: I think you pull some artefacts with the kotlin version 1.3.72 since that is the version in the current quarkus bom. When you do not explicitly specify the 1.4 version for all kotlin artefacts, I think you get mixed versions. Maybe have a look at the dependency tree to verify the versions are all 1.4.

[2020-08-26 08:17] iwasa-kosui commented on #3066
Hello @aloubyansky !

To use AWS ElastiCache for Memcached with Java, we should use local `.jar` file that is provided by AWS. Thus, supporting this is very important for AWS ElastiCache user.

![image](https://user-images.githubusercontent.com/24590869/91279033-fac1dc00-e7bf-11ea-98f1-09a0ccb39d46.png)

Thank you.

[2020-08-26 08:24] mkouba commented on #11632
CC @Ladicek @michalszynkiewicz @cescoffier

[2020-08-26 08:26] rsvoboda opened #11633 "Introduce zero-config solution for OpenShift Serverless"
Introduce zero-config solution for OpenShift Serverless is follow-up action coming from https://github.com/quarkusio/quarkus/issues/11442#issuecomment-678961995

To use OpenShift Serverless users need to add few properties, users shouldn't have to do that themselves.

We probably could distinguish regular Knative and OpenShift Serverless (either via an extension, e.g. `quarkus-openshift-serverless

[2020-08-26 08:28] geoand commented on #11633
Thanks for creating a dedicated ticket @rsvoboda

[2020-08-26 08:31] mkouba commented on #11628
Hm, I've just tried `mvn io.quarkus:quarkus-maven-plugin:create -DcodestartsEnabled -DprojectGroupId=org.acme -DprojectArtifactId=go-go-commando` and `src/main/java` in the generated project is empty; plugin version used: 0.21.2.

[2020-08-26 08:34] mkouba commented on #11628
CC @ia3andy

[2020-08-26 08:36] ia3andy commented on #11628
@mkouba you need to add `-DskipExample` if you want an empty app.

[2020-08-26 08:39] rsvoboda opened #11634 "Update getting-started-knative to adapt to OpenShift Serverless strategy"
For getting started with knative we have
 - guide https://quarkus.io/guides/getting-started-knative - Quarkus - Deploying Knative Application to Kubernetes or OpenShift
 - Quickstart https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started-knative

This guide and related QS are focused on minikube and Skaffold. It was created in February 2019, adapted a bit in February 2020.

P

[2020-08-26 08:41] mkouba commented on #11628
Well, in my case it was empty even without `-DskipExample`. See the snippet above.

[2020-08-26 08:43] Ladicek commented on #11632
SmallRye Fault Tolerance doesn't support "reactive" return types, just `CompletionStage` for now. Tracked in https://github.com/smallrye/smallrye-fault-tolerance/issues/219

[2020-08-26 08:47] ia3andy commented on #11628
@mkouba I don't really get what you mean here, by default and without any extension selected command mode example is activated per spec, if you want an empty app you will need `skipExample`.

[2020-08-26 08:53] #11597 closed

[2020-08-26 08:56] ia3andy commented on #11628
We don't have any "command mode" extension so this is kind of the "default" one.

[2020-08-26 08:57] mkouba commented on #11628
Sorry, an ancient version of `quarkus-maven-plugin` is automatically used if no version is specified. It works as described with 1.7.0.Final.

Do you happen to know why Maven used this ancient version?

[2020-08-26 08:57] gsmet commented on #11397
Fixed here: https://github.com/quarkusio/quarkus/pull/11635 .

[2020-08-26 08:59] rsvoboda commented on #11634
https://www.mohashi.io/blog/kubernetes/knative/setup-a-cloud-native-quarkus-app-in-knative/ is quite helpful starting point, we should have something similar covered in our guides

[2020-08-26 09:00] ia3andy commented on #11628
@aloubyansky 👆?

[2020-08-26 09:00] ia3andy commented on #11628
maybe cache?

[2020-08-26 09:04] sberyozkin commented on #11616
@rvansa thanks, you are right. Indeed, having some reproducer would be good, even trying to comment out `JsonbDeserializer`,  etc

[2020-08-26 09:13] kny78 commented on #11549
@andreas-eberle I have explicitly added dependencies with 1.4.0 for these.

Please see the output of mvn dependency:tree in:
      (https://github.com/kny78/quarkus-kotlin14-jackson-fail/blob/master/failure-logs/dependency-tree.txt)[https://github.com/kny78/quarkus-kotlin14-jackson-fail/blob/master/failure-logs/dependency-tree.txt]

[2020-08-26 09:26] geoand commented on #11634
I am pretty I removed that guide, no?

[2020-08-26 09:26] tsegismont commented on #10889
@Serkan80 can you share a reproducer on GitHub?

[2020-08-26 09:43] andreas-eberle commented on #11549
I think jackson-module-kotlin is not Kotlin 1.4 compatible yet: https://github.com/FasterXML/jackson-module-kotlin/issues/356

[2020-08-26 09:54] RotBolt commented on #11549
@geoand resource classpath is added properly.  Probably Resource is not there itself in Kotlin 1.4

[2020-08-26 10:04] kny78 commented on #11549
@RotBolt @geoand I have two identical tests. The only difference is that the one that fails has the @QuarkusTest annotation. The one without works fine.

So I suspect that Quarkus does some classpath manipulations or other stuff that breaks Jackson / Kotlin

[2020-08-26 10:05] kny78 commented on #11549
@RotBolt @geoand Did any one of you try to clone my github repo, and run the tests your self?

[2020-08-26 10:12] geoand commented on #11549
I have not. Hopefully some time next week, currently I don't have enough time

[2020-08-26 10:15] RotBolt commented on #11549
I will try to run tests on your producer.
Yes Quarkus does add classpath for Jackson. I will take a look then

[2020-08-26 10:17] waldimiro commented on #11617
Using Java 11 solves the problem. Thanks.

[2020-08-26 10:39] Sanne commented on #11589
This will be resolved when we upgrade to ORM 5.4.21

[2020-08-26 10:43] borellda commented on #10104
Thank you for the quick reply.

Could you point me to an entry point on how to do that? The link you provided above seems to be dead.

Regards,
Daniel

[2020-08-26 11:00] pelletier197 commented on #10104
You're right, the link seems dead. There is [this medium post](https://medium.com/graalvm/introducing-the-tracing-agent-simplifying-graalvm-native-image-configuration-c3b56c486271#:~:text=tl%3Bdr%3A%20The%20tracing%20agent,%2C%20resource%2C%20and%20proxy%20usage) that explains well the base configuration.

[2020-08-26 11:02] geoand commented on #11633
cc @iocanel who is working on something as we speak

[2020-08-26 11:11] gsmet commented on #11617
@waldimiro so it's something we should fix in `KafkaStreamProducer` right? We shouldn't use `toString()`, right?

[2020-08-26 11:22] gsmet commented on #11617
@waldimiro could you check if this PR fixes your issue with JDK 14: https://github.com/quarkusio/quarkus/pull/11639 ?

This doc might help https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master (just use my PR branch instead of master)

[2020-08-26 11:37] andreas-eberle opened #11641 "Quarkus 1.7.x: Gradle Kotlin project compilation error"
**Describe the bug**
After upgrading my Quarkus (gradle, Kotlin) project from 1.6.1.Final to 1.7.0.Final, I get a compilation error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download reproducer project and unzip it [2020-08-25_kotlin-compiling-issues.zip](https://github.com/quarkusio/quarkus/files/5129529/2020-08-25_kotlin-compiling-issues.zip)
2. Run `./gradlew check` in the p

[2020-08-26 11:38] andreas-eberle commented on #11641
@glefloch

[2020-08-26 12:13] manusa commented on #10191
Hi @vishalgoel1988

Your issue was tackled in scope of fabric8io/kubernetes-client#2308 and fix implementation was included in our latest release: https://github.com/fabric8io/kubernetes-client/releases/tag/v4.11.0

Please, check if everything works as expected now.

[2020-08-26 12:26] vishalgoel1988 commented on #10191
Thanks. I will give it a try.

[2020-08-26 12:46] Serkan80 commented on #10889
@tsegismont Here you are:
https://github.com/Serkan80/quarkus-vertx-eventbus.git

[2020-08-26 13:02] banovp opened #11644 "Since Quarkus 1.7.0 not able to use a log4j logging any more and getting java.lang.reflect.InvocationTargetException"
**Describe the bug**

Hi Quarkus Team,
we have legacy app migrated and refactored in quarkus. We have some tight dependencies and special configurations for log4j, therefore we've migrated it's usage as well. Since 1.7.0 we are not able to use log4j any more and are getting the exception:

we are using
**log4j-core** in version _2.13.3_

if custom json format would be possible, than we could migra

[2020-08-26 13:04] #11293 closed

[2020-08-26 13:09] ia3andy commented on #11628
Can we close?

[2020-08-26 13:40] Milraun opened #11646 "grpc in Quarkus CLI app: Could not find artifact com.google.protobuf:protoc:exe:osx-x86_64:3.12.3"
**Describe the bug**
I try to write an cli application that consumes an existing grpc service. When starting the app a lot of aritfacts are downloaded inclusive serveral protoc.exe and protoc-gen-grpc-java.exe version for different OS. The application start fails with:

[code]

**Expected behavior**
Application should start

**Actual behavior**
Application didn't start due to above error

**To Rep

[2020-08-26 13:40] patriot1burke commented on #11628
I don't agree that a command mode example should be added if no extensions are specified.  It should be explicit that you want that code.

[2020-08-26 13:43] patriot1burke commented on #11628
You can't assume that somebody wants commandmode example code if they do not specify any extensions when they "create"

[2020-08-26 13:43] #11617 closed

[2020-08-26 13:46] ia3andy commented on #11628
@patriot1burke why not?

TBH, I am not a total fan either, but since there is no command-mode extension, we don't have a lot of options.

@maxandersen 👆

[2020-08-26 13:55] patriot1burke commented on #11628
why not?  Because most people aren't going to know WTF command mode is.  They might assume that a @QuarkusMain app is required.  Also, is there any side effect of having a @QuarkusMain in a service app?

if extensions.contains("commandmode") generate command mode .java files.

[2020-08-26 13:59] 38leinaD opened #11647 "Fast-Jar + quarkus.arc.remove-unused-beans=false causes ClassNotFoundException"
**Describe the bug**
The exact issue is easy to reproduce with the standard quarkus start project.

1. Add the following depnednecy to the pom.xml:
[code]
2. Add the following combination of settings to the application.properties:
[code]
3. mvn package && java -jar target/quarkus-app/quarkus-run.jar

**Expected behavior**
The application should start without problems

**Actual behavior**
[code]
I

[2020-08-26 14:00] ia3andy commented on #11628
Well having a psvm "hello world" in java is very common, command mode is very similar to that

no they are compatible, you could have REST API for a service, and also provide access to it from command line for example.

very inconsistant, bad idea IMO

[2020-08-26 14:01] mkouba commented on #11628
I think that we should support this because a user may need to add extensions and still use the command mode...

[2020-08-26 14:04] ia3andy commented on #11628
@mkouba well, I also think this is a problem, but I don't think this is the solution since we don't have command mode extension.

[2020-08-26 14:08] maxandersen commented on #11628
`quarkus create --no-example` would be my suggestion for the cli syntax.

we've discussed supporting `quarkus crate --example=<tag/explicit named starters>` to "force" specific starter - but that would ignore extensions.

And @patriot1burke commandmode is equivalent to normal launch - no sideeffects.

[2020-08-26 14:08] mahieddine commented on #11390
I'm using java so i put them next to my extension class yes in build/classes/main/java

[code]

[2020-08-26 14:17] mkouba commented on #11628
Ok, I understand. Is there any other flag that can be used to generate stuff in codestarts? I mean other then `-Dextensions`. It could be useful, e.g. for fine-grained configuration for extensions. Let's say you would like add RESTEasy extension to generate a simple endpoint. But then you can have an example of a JAX-RS `ExceptionMapper`...

[2020-08-26 14:25] #11567 closed

[2020-08-26 15:01] mkouba commented on #11647
It's not a myfaces-specific issue. I was able to reproduce the problem only with `quarkus-undertow`.

@stuartwdouglas looks like a class loading problem. Both `Default_ComponentsProvider` and `ServletContext_8154c10ea529795d38da9083f05136178578d788_Synthetic_Bean` are located in `target/quarkus-app/quarkus/generated-bytecode.jar`.

[2020-08-26 15:02] #11397 closed

[2020-08-26 15:25] jaikiran commented on #11131
I've opened https://github.com/quarkusio/quarkus/pull/11649 with a potential fix.

[2020-08-26 15:26] jaikiran commented on #11184
I've opened https://github.com/quarkusio/quarkus/pull/11649 with a potential fix. If anyone of you can verify that change works for you, that would be great.

This doc might help https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master (just use my PR branch instead of master)

[2020-08-26 15:40] patriot1burke commented on #11628
Sorry guys, I just don't agree...but...whatever :-)  You just shouldn't generate .java code for something you didn't ask for :)  But...Again...whatever :)

[2020-08-26 15:41] #11628 closed

[2020-08-26 16:12] jackhu1 commented on #11539
Hello @gsmet, thanks!  I have made a suggestion in #11619 about setting JAVA_HOME for active Quarkus sessions only to avoid risk of affecting existing applications that use older JDK.

[2020-08-26 17:25] jackhu1 commented on #11539
Hello Team, where can I find the image that I built?
Details:  I installed Graalvm CE with Java 11 and set java and JAVA_HOME to this as per my comments in #11619.
Build completed successfully but I am not sure where to find the image.  There is a runner file created in \target folder.

`[INFO] [io.quarkus.deployment.pkg.steps.NativeImageBuildStep] Running Quarkus native-image plugin on GraalVM Ve

[2020-08-26 19:14] patriot1burke opened #11655 "auto-service-loader-registration=true does not work in quarkus/integration-tests"
**Describe the bug**
I'm creating a project in devtools/cli where I want to build a native image and set auto-service-loader-registration=true within src/main/resources/application.properties.  This flag is completely ignored.

**To Reproduce**
Steps to reproduce the behavior:

You can reproduce by going to quarkus/integration-tests/amazon-lambda and adding auto-service-loader-registration=true to

[2020-08-26 19:20] geoand commented on #11655
cc @dmlloyd @radcortez

[2020-08-26 19:45] MisterRnobe commented on #9801
Hi

I've got the same need of automatic index creation. Liquibase seems multipurpose solution but it's not integrated to quarkus. I think it's a good idea to implement this integration and let users configure it with `application.properties`.

For example Spring has integration with flyway and it can be configured with spring config file. I find it quite convenient and easy to use.

[2020-08-26 21:17] harry9111985 commented on #11632
Thanks @Ladicek .. is there a timeline for releasing this feature ? is it part of the next 1,2 or 3 month roadmap ?

[2020-08-26 21:27] harry9111985 commented on #11557
Thanks @cescoffier . that works .

@mkouba : Is there a plan on adding this feature for  exception type based method resolvers in the next 1,2 or 3 month roadmap for vertx-io web ?

[code]

[code]

[2020-08-26 21:40] harry9111985 commented on #7451
@loicmathieu : Is there a planned roadmap for the structured logging with logstash support to be released in the next 1, 2 or 3 month period ?

[2020-08-26 23:07] famod commented on #11174
FTR, I've just updated

to

[2020-08-26 23:16] jackhu1 commented on #11539
I proceeded with a manual docker build using the runner file generated from the previous mvn build and the auto-generated src/main/docker/dockerfile.native and successfully generated a container image:

[code]
Tested with docker run and it runs successfully:
[code]
Open a browser to http://localhost:8080/hello/quarkus%20expert
And it responded as expected with:  Hello quarkus expert!

[2020-08-26 23:22] diogocarleto commented on #9801
I was checking some frameworks and one that get my attention is this.
https://www.mongock.io

I’m going to do some tests with this.

[2020-08-27 01:44] jaikiran commented on #11539
Hello @jackhu1, the `-runner` itself is the native image that's generated.

[2020-08-27 02:06] jaikiran commented on #11655
I think this https://github.com/quarkusio/quarkus/pull/11659 should fix it.

[2020-08-27 02:58] doctau commented on #10796
I'm not sure if this request is about it (it's not clear), but custom formatters is something I'd be interested in too.

My use case is transforming the string prior to being logged, specifically to remove things that match a regex. An example would be dropping '"password": "..."' when a library logs JSON payloads. It wouldn't be hard to write an extension that provides the formatter in the way we

[2020-08-27 04:40] galderz commented on #11573
https://github.com/oracle/graal/issues/1610 is included in both Mandrel 20.1 and 20.2. Hope the improvement fix gets included too.

[2020-08-27 05:27] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/226465923

[2020-08-27 05:44] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/226467194

[2020-08-27 05:48] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/226466755

[2020-08-27 06:34] geoand commented on #11549
This doesn't really look like a Quarkus bug... My bet is that it's some obscure Kotlin issue

[2020-08-27 06:42] nicolinux72 commented on #11524
good morning,

did you find the time to try my test case? Can you reproduce the error?

Is there anything I can do to help?

Nicola

[2020-08-27 06:54] Ladicek commented on #11632
There's no roadmap, but this seems to be requested more and more often. I'm currently busy with another project, but I'll try to find some time to work on this.

[2020-08-27 07:01] kny78 commented on #11549
Yet it only manifests it self if I add the  @QuarkusTest.

Without it, it runs as it should. I can also go up in the stack in the debugger, and it works.

[2020-08-27 07:04] geoand commented on #11549
Yeah I saw that, but still, Quarkus isn't coming into play in any way for this test - except for being started.

[2020-08-27 07:13] amitrajpushkar commented on #4890
i want to contribute in this project how can i fix them

[2020-08-27 07:42] kny78 commented on #11549
@geoand Does it change the class path? If so it could be that it adds / does not add certain jars to the classpath on a parent, and that causes the issue?

[2020-08-27 07:51] loicmathieu commented on #11524
Hi @nicolinux72 the issue is not related to MongoDB but is a native image issue.
Apparently there is some issue around time zone data missing on the native image.

@gsmet there is no `native`label to ping someone for help on native image issue, do you know who can help ?

[2020-08-27 07:57] geoand commented on #11549
The classpath is changed for QuarkusTest and that probably does uncovers the issue. But at this point it looks so low level in Kotlin and 1.4 is so new, so I am reluctant to look further into at this stage

[2020-08-27 08:00] kny78 commented on #11549
I see if I can find the differences in the classpath. Then we might have a startingpoint for either fix Quarkus, og report an upstream bug to the Kotlin project :-)

[2020-08-27 08:05] loicmathieu commented on #9801
For a quick heads up, this issue is still on my radar but I didn't find the perfect solution yet :(

- Mogock is interested but not yet very popular.
- Mongobee is more popular but not under active maintenance.
- Liquibase support is really young and didn't have any clear documentation yet (I didn't find any migration example!), and moreover uses `db.eval()` wich is not supported anymore in MongoD

[2020-08-27 08:51] michalszynkiewicz commented on #11535
Note from the meeting: maybe we could add a `@Blocking` annotation similar to reactive messaging.
Can interceptors be used to offload to a different pool?

[2020-08-27 09:27] #11131 closed

[2020-08-27 09:27] #11184 closed

[2020-08-27 09:34] aloubyansky commented on #3066
https://github.com/aloubyansky/quarkus/commit/289ce6e6fba509ffbf3fdcad824a39ea02bf4270 appears to work.
Our classpath/dependency model is based on artifacts that come from a repo. We completely overlooked direct FS paths.
I'll test the change above on windows and if it goes well, I'll add your reproducer to our testsuite and open a PR.

[2020-08-27 09:45] eugenone opened #11662 "A MongoDB-based store for Quartz"
**Description**
A MongoDB-backed job store for the Quarkus Quartz scheduler.

[2020-08-27 09:47] gsmet commented on #11524
/cc @galderz @jaikiran any idea, guys?

[2020-08-27 09:52] SlyngDK commented on #7451
I have look a the code, and it does not look to be an easy task.

It looks like the `org.jboss.slf4j:slf4j-jboss-logging` dependency, is include in the `quarkus-maven-plugin`.
The JBoss slf4j implementation, also throws away the Markers and Parameters/Args, so it's not possible to send extra infomation to the `JsonFormatter`, and do some custom tagging there.

I see two ways forward:
- Quarkus sup

[2020-08-27 10:04] mkouba commented on #11557
@harry9111985 I like your proposal. We could even consider something like:
[code]
I will create a separate issue. We could target [Quarkus 1.9](https://github.com/quarkusio/quarkus/wiki/Release-Planning).

[2020-08-27 10:09] geoand commented on #11662
Does quartz support this?

[2020-08-27 10:09] andreas-eberle commented on #11641
This error still exists in Quarkus 1.7.1.

[2020-08-27 10:17] mkouba commented on #11662
Hm, I think that Quartz only supports JDBC. So if you have a MongoDB JDBC driver you can try to configure the `JDBCJobStore`, i.e. no changes required.

[2020-08-27 10:23] glefloch commented on #11641
Yes, just found a fix, the `quarkusPrepare` tasks need to be run before any kotlin compilation.
I need to create an integration test and I will open a pull request.
If you don't have grpc code generation, you can just skip `quarkusPrepare` and `quarkusPrepareTest` tasks as a workaround.

[2020-08-27 10:29] gsmet commented on #11641
@glefloch just to make you aware of: https://github.com/quarkusio/quarkus/pull/11624

[2020-08-27 10:33] glefloch commented on #11641
Thanks @gsmet I will rebase my branch.

[2020-08-27 10:35] harry9111985 commented on #11557
@mkouba : that works for me too ... thanks for putting it in the enhancement roadmap.. the code will get more cleaner :-)

[2020-08-27 10:41] harry9111985 commented on #11632
@Ladicek : thank you so much for your reply. It would be really helpful if you could get sometime to look into this feature as it would greatly help us to implement Circuit Breaker on Reactive routes with Mutiny/Webflux objects . This would help have heavy multi-downstream business service methods protected by Circuit breaker in the reactive space.

[2020-08-27 10:42] #11400 closed

[2020-08-27 10:50] andreas-eberle commented on #11641
@glefloch: Thanks! Sounds great. Looking forward to the fix :)

[2020-08-27 10:58] #11424 closed

[2020-08-27 11:10] #10884 closed

[2020-08-27 11:21] gsmet commented on #11632
@Ladicek I think we could focus on the Mutiny types first. That's what we recommend in Quarkus.

[2020-08-27 11:30] #11491 closed

[2020-08-27 11:30] sunmeplz commented on #5657
Hi there!
In my case I'd like to see some @ServiceAccount("tenant") with cooperation with @RegisterRestClient
so all invocations to this client should be filled with token

[2020-08-27 12:00] Ladicek commented on #11632
I need to lay down some ground work, after that it doesn't matter what async types we want to support. So far, it's very `CompletionStage`-specific, and while it can be used as an interop type, it's not really a good fit.

[2020-08-27 12:03] nicolinux72 commented on #11524
Hi @loicmathieu , @gsmet

for my part I can confirm that the problem occurs only in the native version, compiled with graalvm / native-image.

No problem running un JVM.

[2020-08-27 12:38] loicmathieu opened #11667 "log4j librairies not correct inside the logging guide"
**Describe the bug**
The logging guide describe how to integrate log4j inside Quarkus here https://quarkus.io/guides/logging#what-about-apache-log4j and how to add adapaters for other logging frontend here: https://quarkus.io/guides/logging#logging-adapters

The logging adapater part reference incorrect log4j libraries.

[2020-08-27 12:40] eugenone commented on #11662
Interesting idea, unfortunately the MongoDB JDBC driver does not support some features Quartz needs, like autocommit.

[2020-08-27 12:42] eugenone commented on #11662
Here is an example how it can be solved: https://github.com/michaelklishin/quartz-mongodb

[2020-08-27 12:57] Shohou opened #11670 "`gradle compileJava` fails when used with quarkus-grpc"
**Describe the bug**
I have a gradle project which uses quarkus-grpc with some proto files. When I run `gradle build` everything builds successfully, but when I run `gradle compileJava` it fails because proto messages are not generated. It also fails when I run Build in Intellij IDEA as it runs `gradle classes` underneath.

**Expected behavior**
`gradle compileJava` or `gradle classes` should comp

[2020-08-27 13:16] glefloch commented on #11670
@Shohou thanks for reporting this. I'm actually working on this. Right now there is only a `mustRunAfter` links between those two tasks. I will fix this as of #11641

[2020-08-27 13:46] sdaschner commented on #11594
Thanks @aguibert for taking care!

Yes, I tested that scenario with both runtimes, the effect was slightly different, so wasn't sure if same underlying cause...

[2020-08-27 14:29] tmohme opened #11675 "PersistenceException: Unable to build Hibernate SessionFactory"
**Describe the bug**
Trying to create an EntityManagerFactory for tests produces a PersistenceException with Quarks 1.7.1.Final

**Expected behavior**
It should be possible to "manually" create an EntityManagerFactory for tests, like it was with Quarks 1.7.0.Final

**Actual behavior**
Trying to create an EntityManagerFactory for tests produces a PersistenceException with Quarks 1.7.1.Final

**To R

[2020-08-27 14:34] tmohme commented on #11675
The mentioned archive: [reproducer.zip](https://github.com/quarkusio/quarkus/files/5136976/reproducer.zip)

[2020-08-27 14:34] vankofalcon commented on #11501
`Have you tried to_json($1) with string ?`
not working
`Can you try the same query with JDBC datasource?`
works

[2020-08-27 14:42] evanchooly commented on #11662
Does quarkus do anything special for the jdbc support?  I'm not sure this is something that should be done by quarkus itself.  Perhaps a 3rd party extension if anything's necessary.

[2020-08-27 14:45] evanchooly commented on #9801
Why would db.eval() be needed at all?  Index creation has explicit commands that can be run via the driver.

[2020-08-27 14:56] #10859 closed

[2020-08-27 14:57] loicmathieu commented on #9801
@evanchooly most existing mongodb migration tools uses `db.eval()` to avoid mandating Java migrations.
I agree that you can do without them but it's the way it is done so Liquibase is a no-go.

We can always support an `@Indexed` annotation as it was requested if we didn't find a migration tool that satisfies us but we agree that it is not a good solution. Moreover, when transactions lands in, the

[2020-08-27 15:14] 38leinaD commented on #4890
@amitrajpushkar Feel free to take this issue if you like. I am simply not getting to this issue currently.
You can have a look what i did in the old PR. Also, the TCCL hint from @geoand works.

[2020-08-27 15:32] tsegismont commented on #11501
Thanks for the details, I'll come back to you as soon as I can

[2020-08-27 16:42] ddewalle commented on #8384
**Previous workaround is broken since Quarkus 1.5.1.Final (latest 1.7.1.Final too)**

By adding '-Djavax.net.ssl.keyStore' in the previous workaround 'mvnw' command do not fix the problem anymore...

Is this a regression that appeared in version 1.5.1.Final?
Or maybe I'm not doing it right? It is quite disconcerting.
Is there another approach than the one I used? If so, a description in the QUARKU

[2020-08-27 17:22] Meemaw opened #11680 "Missing logs produced inside QuarkusTestResource"
**Describe the bug**
Using logger inside classes wrapped with `QuarkusTestResource`produces no logs. Is this a known issue or is there something wrong with the configuration? (Note that using `System.out.print` works as expected)

Example (anything logged inside `PostgresTestResource` is not in standard output):

[code]

Its a gradle project which includes the following section in `build.gradle`:

[2020-08-27 17:35] Meemaw opened #11681 "Hazelcast fails to locate config from classpath"
**Describe the bug**
When starting new Hazelcast Instance/Client it has extensive logic to locate configuration file (e.g. `hazelcast.xml`) from the environment.

Using quarkusDev (with gradle), Hazelcast fails to locate `hazelcast.xml` location in `resources/hazelcast.xml` and logs the following fallback message: `Loading 'hazelcast-default.xml' from the classpath.` (meaning it didn't find any fi

[2020-08-27 19:09] yuce commented on #11641
I've encountered this problem on Kotlin 1.3.72 + Quarkus 1.7.1 when using `./gradlew build -Dquarkus.package.type=native`. Using `./gradlew buildNative` works fine.
`

[2020-08-27 20:26] anthonyikeda commented on #8655
So I'm having the same issue as post https://github.com/quarkusio/quarkus/issues/8655#issuecomment-615824292 whereby I've configured a single listener in kafka:

[code]

Running kafka in a docker container:

[code]

My Quarkus 1.7.0.Final app is using the `io.quarkus.quarkus-kafka-streams` extension with the following property:

[code]

When I start up the application I'm noticing the logs unable

[2020-08-27 20:48] famod commented on #11680
This is a known limitation. See #10885
There is a hint in the class Javadoc of `QuarkusTestResourceLifecycleManager` starting with 1.7.0: test-framework/common/src/main/java/io/quarkus/test/common/QuarkusTestResourceLifecycleManager.java

[2020-08-27 20:48] #11680 closed

[2020-08-27 21:16] gsmet opened #11687 "MutinyTest#testSSE can be unstable"
Just got this failure on CI. Don't know if the timeout is just not enough or if there is a more problematic issue.

I disabled the test for now.

In this run https://github.com/quarkusio/quarkus/pull/11679/checks?check_run_id=1038350811 , I got the error for both the JDK 14 build and the Windows build.

[code]

[2020-08-27 21:18] anthonyikeda commented on #8655
Downgrading to Java 11 fixed the problem 🤷🏻‍♂️

[2020-08-27 21:33] harry9111985 commented on #11632
Thanks @Ladicek  . one of the other things which i can suggest would be to have exceptions part of the fallback method signature.I did not find that when i was trying out fallback methods with small-rye-fault-tolerance/Quarkus 1.6.1.

something like this

[code]
or

[code]

This will help us on getting control of the exceptions being thrown by circuit breaker and do decision making based on the ex

[2020-08-27 21:59] #11367 closed

[2020-08-28 00:49] VS-AMC commented on #11160
@cescoffier  - thank you for implementing the fix.

[2020-08-28 00:49] #11641 closed

[2020-08-28 01:04] aubelsb2 opened #11688 "@TestProfile and @TestHTTPResource don't play well with quarkus.http.test-port=0"
**Describe the bug**
@TestProfile doesn't fully reset the environment in a way that @TestHTTPResource would work with random ports (ie set with quarkus.http.test-port=0 ). This might be a CDI issue?

**Expected behavior**
If you create more than 1 test which relies on @TestHTTPResource and @TestProfile with random ports. I would expect each test to be able to run with a new random port and a new C

[2020-08-28 01:08] Neisuz commented on #11076
any update?

[2020-08-28 01:16] stuartwdouglas commented on #11076
You probably need to change quarkus.http.read-timeout, which defaults to 60s. If graphql is expecting to be able to read from the client until the client sends it something then you will likely want something a lot larger.

Something that is weird is that the resteasy stack trace does not seem to line up with the sources.

[2020-08-28 04:51] AlexKovynev opened #11692 "Liquibase diffChangeLog generation is broken in 1.7.1"
**Describe the bug**
I use hibernate-liquibase as a plugin for maven or as a plugin in command-line. In both variants fail in 1.7 but work in 1.6.1.

Unexpected error running Liquibase: Duplicate event listener found
liquibase.exception.DatabaseException: org.hibernate.event.service.spi.EventListenerRegistrationException: Duplicate event listener found.

It's like some events now is auto registere

[2020-08-28 05:33] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/228139042

[2020-08-28 05:47] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/228139688

[2020-08-28 06:06] janmaterne opened #11695 "Support @TestSecurity in combination with JWT-Security"
**Description**
If your application uses JWT for security, you could disable the security during tests with `@TestSecurity(authorizationEnabled = false)`.
But if your application requires data (like username or roles) from the JWT, the test will crash with a HTTP-500.

[code]

**Implementation ideas**
Generate a JsonWebToken with the data from the `@TestSecurity` annotation and publish it to CDI c

[2020-08-28 06:12] geoand commented on #11692
Can you please provide a minimal reproducer?

Thanks

[2020-08-28 06:26] gsmet commented on #11692
I think the issue is similar to https://github.com/quarkusio/quarkus/pull/11679 (on Zulip, the OP had the same exception IIRC)

[2020-08-28 06:26] gsmet commented on #11692
And we have a reproducer there but another one might be helpful.

[2020-08-28 06:43] rsvoboda opened #11698 "enforcer-rules project breaks bannedRepositories customization via `insecure.repositories` property"
enforcer-rules project breaks bannedRepositories customization via `insecure.repositories` property.

jboss-parent allows to to lower the lever from ERROR to WARN, e.g. via `mvn clean install -Dquickly -Dinsecure.repositories=WARN`, see https://github.com/jboss/jboss-parent-pom/blob/master/pom.xml#L701

We use internal artifactory to cache maven bits and to upload 999-SNAPSHOT there.

enforcer-rul

[2020-08-28 06:51] rsvoboda commented on #11698
I'm probably wrong about this being the problem, but still can't upload bits of enforcer-rules project, need to investigate more

[2020-08-28 06:51] #11698 closed

[2020-08-28 07:05] glefloch commented on #11670
Close with #11684

[2020-08-28 07:05] #11670 closed

[2020-08-28 07:07] mkouba commented on #11662
I gues we do: https://github.com/quarkusio/quarkus/tree/master/extensions/jdbc ;-)

[2020-08-28 07:13] gsmet commented on #11662
Yeah we just need to make sure we can configure it with the properties we exposed already.

[2020-08-28 07:39] AlexKovynev commented on #11692
It is a problem with a quarkus-hibernate-validator. If i downgrade version to 1.6.1.Final then command work.

Small reproducer with one model and h2 in-memory datasource.

 ./mvnw clean install liquibase:diff

[reproducer.zip](https://github.com/quarkusio/quarkus/files/5140709/reproducer.zip)

[2020-08-28 07:44] Ladicek commented on #11632
I'm not sure if I understand, but if you want access to the "causing" exception in a fallback, you can use `FallbackHandler`.

In any case, any and all suggestions can be submitted in the SmallRye Fault Tolerance issue tracker: https://github.com/smallrye/smallrye-fault-tolerance/issues. I took the liberty of filing https://github.com/smallrye/smallrye-fault-tolerance/issues/274 for your fallback

[2020-08-28 08:04] mkouba opened #11700 "Turn StartupBuildSteps.annotationTransformer() into an AutoAddScopeBuildItem"
See also `AutoAddScopeBuildItem` usages...

[2020-08-28 09:03] acx70 opened #11702 "Error: No instances of sun.nio.ch.FileChannelImpl are allowed in the image heap as this class should be initialized at image runtime"
**Describe the bug**
`mvnw clean package -Pnative`    failed with the following error:

[code]

**Expected behavior**
native image is generated and package succeeds

**Actual behavior**
Got compile error message.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help explain your problem.)

**Environment (pleas

[2020-08-28 09:38] mkouba opened #11704 "Interceptor bindings must not be inherited from interfaces implemented by a bean"
https://github.com/quarkusio/quarkus/commit/d2321964a08e3cfd8583767d590be842e4679b61 introduced a regression where interceptor bindings are inherited from interfaces implemented by a bean.

The spec is very clear that this should not be possible. See https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#inheritance for more info. JSR-250 also mentions in the "General Guidelines for Inheritance of Anno

[2020-08-28 09:45] famod commented on #11704
FTR, this came up here: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/.40Interceptors.3F

[2020-08-28 09:48] glefloch commented on #11215
@danelowe I just ran a test with the latest version of quarkus (`999-SNAPSHOT`) and it worked. I will add a new test in our `integration-test` module to make sure we don't introduce any regression in the future.
Can you test with a `1.7.1.Final` version of quarkus?

[2020-08-28 10:11] sberyozkin commented on #11695
@janmaterne thanks, I wonder if we can have `TestAttribute` (similar to your `TestJwtData`) which by default will be added to `SecurityIdentity` attributes, but also have a `TestSecurity` type property:

[code]
and this `type` will activate a test JWT handler instead of the default `TestSecurity` one.
What do you think ?
CC @stuartwdouglas

[2020-08-28 10:45] janmaterne commented on #11695
Sounds good. The value of the `type`-attribute will specify which handler/strategy to use.

Maybe that could default to the value which is _used_ by the application. Could be done by checking for the existence of _marker classes_ on the classpath (during build time):
[code]

First thought of the name `@TestAttribute` was, that it is more related to the test than the security. So a `@TestSecurityAt

[2020-08-28 11:00] crissi98 opened #11707 "QuarkusClassLoader.getResourceAsStream does not work with directories in quarkus:dev"
**Describe the bug**
When your try to read a directory from the resources-folder using Thread.currentThread().getContextClassLoader().getResourceAsStream("test"), an IOException occurs. The directory can not be read as an InputStream, because the class Loaders uses Files.readAllBytes, which does not work with directories.

**Expected behavior**
According to the Java Spec, getResourceAsStream("test

[2020-08-28 11:50] survivant opened #11710 "Should be able to call a method annotated with @Startup"
and I have a main controller with

[code]

Because it's looping the ICodec list... there @PostConstruct will be called

something like

[code]

so far.. everthing OK.

I added @Startup  on a method to execute after that MainController @PostConstruct complete

[code]

that method will do some installating stuff after that MainController is completed.. but the method is not called.

[code]

I didn't

[2020-08-28 12:05] mkouba commented on #11710
Let me give some background information. Right now, `@Startup` can only be used to initialize a CDI bean at application startup, i.e. the contextual instance is created and, eventually, `@PostConstruct` lifecycle callbacks are invoked.

It could be also useful to be able to annotate one or more arbitrary business methods with `@Startup` with the following semantics:
1. Create a contextual instance

[2020-08-28 12:08] cescoffier commented on #11687
As nothing change in Mutiny around that, it might be a recent change in RestEasy (CC @stuartwdouglas )

[2020-08-28 12:09] sberyozkin commented on #11695
@janmaterne thanks, I actually like your last example, as I guess it all has to be better off grouped together, such extra attributes will not always be used; Stuart will have a better appreciation of it though.
The default mechanism idea is also good, perhaps it can realized via an extra PR, there could be more than mechanism loaded so having a `type` or something similar will likely offer better

[2020-08-28 12:28] stuartwdouglas commented on #11687
@cescoffier I think you meant @asoldano I have nothing to do with RESTEasy :-)

[2020-08-28 12:46] jaikiran opened #11711 "ReactiveMongodbPanacheResourceTest is regularly failing"
ReactiveMongodbPanacheResourceTest has been failing in our CI jobs. Initially the `await` timeout used in that test was 1 second. Given our CI issues, I thought it was just a case of the runtime being slow, so I increased the timeout to 10 seconds, but it still fails:

[code]

[2020-08-28 12:47] jaikiran commented on #11711
Here's the PR which shows this failure https://github.com/quarkusio/quarkus/pull/11690

[2020-08-28 12:52] florianRieb opened #11712 "Ignore hidden OpenAPI schema properties for methods since v1.7.1"
In my TO's I have some methods to convert the object into entities. I don't want a field to be created for them in the api-yaml, so I use the@Schema annotation with hidden = true.
[code]

Today we have updated the version of quarkus to 1.7.1-Final and now there are fields for the methods in the yaml.
[code]

**Expected behavior**

The expectation was that only fields was crated for @Schema annotat

[2020-08-28 13:09] augustobmoura commented on #8950
I don't think it's fixed, the code is still checking for the "correct" directory, why I can't put my tests in a arbitrary dir is beyond me

The check at https://github.com/quarkusio/quarkus/blob/c5da033c2029b21b95804f9fc962b737df3d0e91/test-framework/common/src/main/java/io/quarkus/test/common/PathTestHelper.java#L77 doesn't make any sense

I want to be able to just put my tests in any directory t

[2020-08-28 13:11] #11704 closed

[2020-08-28 13:15] ddewalle commented on #8384
The previous regression has been introduced in 'quarkus-rest-client' 1.5.1-Final.

1. **Workaround**

The class io.quarkus.restclient.runtime.RestClientBase directed me to this workaround because it uses 'Optional<String> maybeKeyStore = this.getOptionalProperty("%s/mp-rest/keyStore", String.class);' and the [eclipse microprofile documentation for rest client](https://download.eclipse.org/micropro

[2020-08-28 13:24] #11655 closed

[2020-08-28 13:54] antoniomacri opened #11715 "OIDC refresh token is lost after ID token expiration"
**Describe the bug**
I've configured the OIDC extension for a web-app in order to refresh the tokens after expiration (refresh-expired=true).

By inspecting the q_session cookie I see it contains all the three tokens (id token, access token, refresh token), however the max-age is set as the access token expiration.

As a consequence the refresh token is never used, since just after the id/access t

[2020-08-28 14:06] jaikiran commented on #11707
I've opened https://github.com/quarkusio/quarkus/pull/11716 with a potential fix.

[2020-08-28 15:19] sberyozkin commented on #11715
@antoniomacri FYI, #11718

[2020-08-28 15:28] pjverity opened #11719 "Use more sensible defaults for BCrypt Password Mapper"
**Description**
This is a proposed change to the default values for the following properties:

    quarkus.security.jdbc.principal-query.bcrypt-password-mapper.salt-index
    quarkus.security.jdbc.principal-query.bcrypt-password-mapper.iteration-count-index

Their current defaults are `0`, but it would be more useful for them to be `-1` to cater for the fully encoded version of a Bcrypt generated

[2020-08-28 16:12] sberyozkin commented on #9965
@ahamed-k will be possible update the upgrade to smallrye-jwt 2.3.0

[2020-08-28 17:51] #10188 closed

[2020-08-28 18:12] knutwannheden commented on #9791
I would like to start looking into this issue. Of course it would be best if it could be integrated into Quarkus, but that will require some decisions on the raised questions. Should this be discussed here in the issue comments?

Alternatively I will look into employing some kind of workaround, so that we don't need the config properties of our custom extensions to all be defined in the `quarkus`

[2020-08-28 20:37] HonoluluHenk commented on #6948
Unfortunately, no.
And it seems like I won't find time anytime soon :(
*sigh*

[2020-08-28 21:00] #9965 closed

[2020-08-28 21:10] #11576 closed

[2020-08-28 22:03] dearrudam commented on #11433
Hi @aloubyansky, what I know is that the CI server is running the build processing with "maven:3.6.3-jdk-11" docker image... it's needed to check it out.

[2020-08-28 22:33] jackhu1 commented on #11539
Hello @jaikiran thanks for your reply. The `-runner` is the native executable.  It is not the container image that I am looking for.
I think I understand the reason for why my `mvnw package ...` execution failed to create a container image now:  I missed adding the required docker extension to my project before build.

Fix:  I first added quarkus-container-image-docker to my project by running bel

[2020-08-28 23:44] GregJohnStewart opened #11725 "Gradle Jar/main directory issues, 1.7.1.FInal"
Just updated to the latest (1.7.1.Final) quarkus, and the tests run fine, but when running `quarkusDev` I get the following output, and no running server:

[code]

Runs fine on `1.6.1.Final`. Let me know what else would be good to put here as far as output.

[2020-08-29 05:59] glefloch commented on #11725
@GregJohnStewart do you have a small reproducer?

[2020-08-29 07:57] svinther commented on #11591
Here goes: https://github.com/quarkusio/quarkus/pull/11728

[2020-08-29 10:17] gavinking commented on #11591
@Sanne

Are you sure about that Sanne? Isn't that only the case when you have actually explicitly defined a `@SequenceGenerator` without specifying `allocationSize`.

`TableGenerator.DEFAULT_INCREMENT_SIZE` and `SequenceStyleGenerator.DEFAULT_INCREMENT_SIZE` are both defined to 1, and isn't that what you get when you don't specify `@SequenceGenerator` anywhere?

[2020-08-29 10:20] svinther opened #11729 "Feature or doc on programmatically creating correct ConnectionProvider with TenantConnectionResolver"
**Description**
When database tenants are completely unknown before "request-time" there is a nice feature in Quarkus to implement a custom `io.quarkus.hibernate.orm.runtime.tenant.TenantConnectionResolver`

This is briefly mentioned at the bottom of this guide:
https://quarkus.io/guides/hibernate-orm#programmatically-resolving-tenants-connections

It would be very helpful with a little more tooli

[2020-08-29 10:25] gavinking commented on #11591
Yeah, if you just use `@Id @GeneratedValue(strategy = SEQUENCE)` you get `initialValue=1, allocationSize=1`. That's what I thought. But perhaps I misunderstood what you were trying to say?

[2020-08-29 10:26] janmaterne commented on #11695
When using a nested structure maybe another name is better:

[code]

* name: specifies the username for the test request (required)
* roles: specifies the roles for this user (required)
* type: specifies the type of the generated injectable types
  - jwt: JsonWebToken
  - oidc: ...
  - ...: ...
  not required, it defaults to the used security infrastructure the application
  depends on.
  TODO: is

[2020-08-29 10:28] gavinking commented on #11591
Oh wait, are you guys talking about a case where you have written `@Id @GeneratedValue(name = "gitSeq")`, but then never actually defined `"gitSeq"` anywhere using `@SequenceGenerator`?

I would have thought that that would be a hard error at startup. AFAIK, that isn't something that's allowed.

[2020-08-29 10:40] gavinking commented on #11591
@Sanne I feel like this is sort of a bug in Hibernate. The `generator` name is being interpreted as the name of a sequence, but I don't see how that interpretation is intended or implied by the JPA spec. Am I wrong?

[2020-08-29 11:43] Sanne commented on #11591
I agree @gavinking , I've also just learned via this issue that it doesn't fail hard - as I would also except.

on the other hand I see how it tries to get out of the way and make a reasonable assumption, and even if it's questionable I don't think we can "fix" this without breaking a lot of existing applications.

But in conclusion this is only a problem in combination with self-defined schemas..

[2020-08-29 11:46] gavinking commented on #11591
Yup. I think we should go with your suggestion above and emit a warning, at least.

And if we had some sort of "strict" mode I would upgrade it to an error in H6.

[2020-08-29 12:25] gavinking commented on #11591
Ufff, I think I found something worse. According to the spec, generator names are global to a persistence unit, and the definition of a `SequenceGenerator` is shared between all the classes in the PU.

But according to my tests, in Hibernate 6 the generator name is local to the class the annotation occurs in, and can't be shared between entities or defined in a separate utility class.

(I haven't

[2020-08-29 14:58] evialle commented on #11541
@mkouba , I didn't copy the complete part of my template that includes a long <script> part... so that's why you don't see {[ . My purpose was to show that {[ or ]} could be common in JS.

What I could recommend, when switching to another sequence:
- {* / *}
- {| / |}

The others that I dont like:
- {: / :} could give misunderstanding with namespace
- {& / &} : misunderstanding with and operators

[2020-08-29 15:12] evialle commented on #11586
Bug Report on https://github.com/redhat-developer/intellij-quarkus/issues/220

[2020-08-29 16:34] sebersole commented on #11591
Starting in 5.3 we added a setting
(`hibernate.jpa.compliance.global_id_generators`) to control whether those
names are global or local.  As you say JPA says they should be global
regardless of placement.  Our setting allows that to happen in a more
natural (imo) paradigm.

I am not sure I have tested that aspect in 6 yet.

On Sat, Aug 29, 2020 at 7:26 AM Gavin King <notifications@github.com> wrot

[2020-08-29 17:50] MartinX3 commented on #11641
Oh I assume we won't get a Quarkus 1.7.2 hotfix release?
We are not able to run JUnit tests anymore.

[2020-08-29 18:04] gavinking commented on #11591
Ah perfect, thanks, I will try that out.

Indeed, I'm tempted to set that by default in Hibernate Reactive, WDYT?

[2020-08-29 18:06] gavinking commented on #11591
Oh wait you mean that in H5 the JPA-compliant behavior already *is* the default. OK that's good.

[2020-08-29 21:15] alexsanzdev commented on #10559
Not sure if this solves the initial issue, but we're running Quarkus on Java 14 on a ubi-minimal (8.2) based image by Eclipse Adoptium (AdoptOpenJDK), `adoptopenjdk/openjdk14:jre-14.0.2_12-ubi-minimal`.

Here's our slightly modified Dockerfile
[code]

[2020-08-30 00:00] jackhu1 opened #11730 "mvnw build in Ubuntu with container-image-s2i successful but did not generate OpenShift manifests"
**Describe the bug**
(Describe the problem clearly and concisely.)
Following on from resolution of issue #11539, I wanted to use s2i to containerise and deploy my quarkus-greeting-app to OpenShift.  Ref https://quarkus.io/guides/container-image#s2i.

I added s2i container-image extension to my project and did a clean build:

`jhu120@DESKTOP-C7JTV74:~/quarkus_java/quarkus-greeting-app$ ./mvnw quark

[2020-08-30 07:43] geoand commented on #11730
I just tried this, and adding `-Dquarkus.kubernetes.deployment-target=openshift` works as expected.

Do you have a reproducer project that exhibits the behavior you mention?

[2020-08-30 09:14] rquinio commented on #11527
@abhisht51 That would be in https://github.com/quarkusio/quarkus/blob/master/extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java#L73-L89

My understanding is you need to find any reference to these in the extension, use the new properties but fallback to the deprecated ones if the new ones are not set, so it stays backward co

[2020-08-30 12:51] kunieda-o commented on #11692
I also found the error like this. 1.7.0 works well but 1.7.1 doesn't work well.
[code]
I use above in Unit test.

[2020-08-30 13:01] geoand commented on #11692
Thanks for reporting. I'll have a look soon

[2020-08-30 13:19] laemm-line opened #11732 "Apply changed constraints via hibernate-orm schema "update" strategy"
**Description**
It seems setting `quarkus.hibernate-orm.database.generation=update` detects only changes in the entity fields and applies them. If I add a new field, I can see that a corresponding DB column is automatically added.
But if I change constraints of existing fields, e.g. adding a not-null constraint via `@Column(nullable = false)`, this change is not applied.

Can the update strategy b

[2020-08-30 14:26] jackhu1 commented on #11730
Hello @geoand , thanks for your quick reply!  I managed to create the OpenShift manifest files after modifying my procedures.

Here are details.
I first tried the tutorial  https://quarkus.io/guides/deploying-to-kubernetes#openshift from scratch, i.e. run the bootstrapping command:

[code]
and then build with

`./mvnw clean package  -Dquarkus.container-image.builder=s2i -Dquarkus.kubernetes.deploy

[2020-08-30 15:50] jackhu1 commented on #11730
Then I encountered another issue trying to deploy the app into OpenShift - just like peeling an onion :-( :
`oc apply -f ./target/kubernetes/openshift_8080.yml` created resources but did not try to build an application image.
Tried manual bc build which completed but deployment failed with error "Error: Unable to access jarfile /deployments/quarkus-greeting-1.0-SNAPSHOT-runner.jar"

Details of the

[2020-08-30 22:30] diogocarleto commented on #9801
Hi @loicmathieu, I think this week I’ll have a prove of concept of this.
Leveraging this, I don’t think it is the properly place to ask, I can move the next question to another thread without problems, so let’s go to the e question :)
I think we should have in MongoDB Panache an optimistic lock feature, just like we have in JPA. What do you think? It makes sense?

Best.

[2020-08-31 00:39] Neisuz commented on #11076
Nope, it does not work. The issue still exists and if a project contain this dependency, it does not allow REST to do "POST,UPDATE..."(as an example) with Graphql.
[code]

[2020-08-31 02:03] danelowe commented on #11215
@glefloch I just upgraded the example to `1.7.1.Final` and still have the same issues with running `quarkusDev` from clean.

https://github.com/danelowe/quarkusmm/tree/16aaf4547a176562a5d7e14177ffe3bbec8bbbc7

To clarify, in order to run this from clean I have to run `quarkusDev`, see the error, then change a source file and re-run `quarkusDev`.

This is an improvement however. I was unable to get

[2020-08-31 05:25] ealcantara22 opened #11733 "updating an entity does not work using the repository pattern"
**Describe the bug**
I'm writing a REST API in quarkus and today I've noticed that all the update methods stop working.  As mentioned in the issue title I'm using the [repository pattern](https://quarkus.io/guides/hibernate-orm-panache#defining-your-entity-2) (personal choise).

Basically, performing a `PUT` or `PATCH` request does not save the changes into the database no matter if the action is

[2020-08-31 05:28] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/232074421

[2020-08-31 05:30] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/232072722

[2020-08-31 05:35] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/232074163

[2020-08-31 05:43] geoand commented on #8593
@gsmet have you seen this error:

[code]

?

[2020-08-31 05:46] geoand commented on #8694
@mariofusco @evacchi there seems to be a legit CI failure:

[code]

[2020-08-31 05:47] geoand commented on #6588
@cescoffier it seems like the JMS quickstart is failing:

[code]

[2020-08-31 05:58] geoand commented on #11730
The generated Openshift manifests assume that a binary s2i build is going to take place. That is why letting Quarkus orchestrate the process is the best way to go.

So you generally use `mvn package -Dquarkus.kubernetes.deploy=true` and Quarkus will apply the manifests and then stgart the proper s2i binary build.

I am going to close this, as I don't see any Quarkus issue here - but feel free to r

[2020-08-31 05:58] #11730 closed

[2020-08-31 06:10] mkouba commented on #11541
I like `{|` and `|}`. We'll keep the original ones for a while though and deprecate it in the docs.

[2020-08-31 06:12] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/232072365

[2020-08-31 07:08] geoand commented on #11692
It turns out that different behavior between `1.7.0.Final` and `1.7.1.Final` is caused by commit e68c5f64c86aedaebf6b59c21b25f225de087181 of #/11494.

Basically what happens is that because that commit added the `org.hibernate.integrator.spi.Integrator` file to the HV extension, now HV seems to be loaded twice when Hibernate is booted manually (which is the case for the Liquibase plugin).

This us

[2020-08-31 07:14] loicmathieu commented on #9801
@diogocarleto yes, this should be a separated thread.

And how would you perform such lock ? MongoDB didn't provide any lock facility like SELECT FOR UPDATE on RDBMS databases.

[2020-08-31 07:31] mkouba commented on #11541
Hm, I've just discovered that `{|` and `|}` is used for [Exact object types in Flow](https://flow.org/en/docs/types/objects/#toc-exact-object-types).

[2020-08-31 08:03] #3066 closed

[2020-08-31 08:08] tapaniantonrundgren commented on #11184
Used the latest 999-SNAPSHOT and yes, the native container build now works on Windows 10 too

[2020-08-31 08:20] avogt-sundn opened #11734 "restassured body() is ignoring public panache fields when using jackson"
**Describe the bug**
I was planning to use Panache entities as parameter types for the rest resource class in the same instant.
I wanted to stick to the Quarkus prefering public fields. Testing fails since the payload does not get transfered to the resource.

**Expected behavior**
public fields in a parameter object on a rest resource should be serialized and transfered to the call during a @Quark

[2020-08-31 08:23] evacchi commented on #8694
@mariofusco related to latest ASM-related / MVEL / unfork changes?

[2020-08-31 08:34] rsvoboda opened #11736 "Active connection to MongoDB required for fresh project based on Quarkus master, wasn't needed for 1.7.0.Final and prior"
Active connection to MongoDB required for fresh project based on master, wasn't needed for 1.7.0.Final and prior.
Getting NPE from SmallRyeMetricsRecorder.registerMetrics(SmallRyeMetricsRecorder.java:217)

Reproducer:
 - build Quarkus master
 - clone https://github.com/quarkus-qe/beefy-scenarios
 - run `mvn clean verify -pl 002-quarkus-all-extensions/`

`mvn clean verify -pl 002-quarkus-all-extens

[2020-08-31 08:34] loicmathieu commented on #11734
@avogt-sundn your example REST services uses `@Produces(MediaType.TEXT_PLAIN)` instead of `@Produces(MediaType.APPLICATION_JSON)`, can you please fix it or you cannot have your `MyEntity` class properly deserialized from the REST call.

[2020-08-31 08:36] rsvoboda commented on #11736
@jmartisk fyi

[2020-08-31 08:37] loicmathieu commented on #11734
My first comment was not very accurate, you send a payload using RestAssured without content-type and without any `@Consumes` annotation so it will not be properly serialized/deserialized.

You need to set a content-type at RestAssured level.
You need to use a `@Consumes(MediaType.APPLICATION_JSON)` annotation inside your rest service if you want your rest operation to deserialize the request body

[2020-08-31 08:43] loicmathieu commented on #11733
@ealcantara22 if your entity didn't extends `PanacheEntity` or `PanacheEntityBase` it must be a valid JPA entity with it's getters and setters. If you don't want to write those getters and setters you can have your entity extends `PanacheEntity` or `PanacheEntitybase` even if you are using the repository pattern.
More info in the guide: https://quarkus.io/guides/hibernate-orm-panache#solution-2-us

[2020-08-31 08:43] FroMage commented on #11711
I dunno, the error I get myself with this test is:

[code]

[2020-08-31 08:44] avogt-sundn commented on #11734
Hi, thanks for your comment. I added @Consumes, of course that is correct. Nevertheless, it does not solve my issue. Seems, resteasy is lenient enough to handle even without explicit @Consumes. In my project there are successful tests, and as described:  adding @JsonProperty to the public field solves the issue. From my debugging session it presented itself to be a problem on the client side (rest

[2020-08-31 09:07] gsmet commented on #11675
It's going to be fixed in 1.7.2 but keep in mind that we don't support creating EMF manually. You lose most of Hibernate ORM Quarkus optimizations by creating the EMF manually. And there's a good chance it won't work at all or work differently (except if you carefully apply all the settings applied by Quarkus).

[2020-08-31 09:07] gsmet commented on #11692
It's going to be fixed in 1.7.2 but keep in mind that we don't support creating EMF manually. You lose most of Hibernate ORM Quarkus optimizations by creating the EMF manually. And there's a good chance it won't work at all or work differently (except if you carefully apply all the settings applied by Quarkus).

[2020-08-31 09:27] AlexKovynev commented on #11692
Ok, thank you, unfortunately liquibase-hibernate does not support quarkus, only spring and pu from dedicated xml. And as i know we have not any analogs in the market now for generate migrations automaticaly.

[2020-08-31 09:43] maxandersen opened #11742 "should we publish cli-runner to maven repo ?"
**Description**
As a precusor for cli packaging it would make sense we publish the quarkus-cli-...-runner.jar as part of our release.

Right now just quarkus-cli-... is published which has no manifest etc. making it impossible to actually launch easily.

i.e. if it was published we could write simple wrapper script to download that archive and package it in various package managers.

It would also

[2020-08-31 09:47] avogt-sundn commented on #11734
added this - no difference - problem is on the client side of the rest call

[2020-08-31 09:49] avogt-sundn commented on #11734
have a look at my screenshot, it shows you where my field "name" wrongly gets removed from the props list. This is where the  run differs once i employ a workaround. and it explains why the field gets skipped

[2020-08-31 09:50] mkouba commented on #11337
UPDATE: A similar problem appears when a RUNTIME_INIT synthetic bean is accessed BEFORE the `SyntheticBeansProcessor.initRuntime()` build step is finished, i.e. the supplier map does not contain relevant suppliers yet.

[2020-08-31 10:01] jmartisk commented on #11736
This doesn't look related to MongoDB, I can reproduce this with Neo4j instead (and it makes sense, because we've only recently added Neo4j metrics support). Your test suite seems to be importing Neo4j, so I think that's the culprit. Otherwise the nature of the issue stays the same.

[2020-08-31 10:01] 38leinaD commented on #11415
I am not sure I understand that comment and what makes it particularly hard. Today, there is only a single JaxRS application; so, there is no need to map rest resources to applications. This information/mapping would need to be collected during build-time and be used to instanciate/configure multiple servlets (one for each applicaton).
The getClasses() method (assuming it just returns a static lis

[2020-08-31 10:02] mkouba commented on #11337
Actually, there is already the `SyntheticBeansRuntimeInitBuildItem` that should be consumed by `RUNTIME_INIT` build steps that access a `RUNTIME_INIT` synthetic bean.

[2020-08-31 10:20] yrodiere opened #11744 "Quarkus YAML configuration keys are implicitly escaped"
**Describe the bug**
When an `application.yaml` file contains keys that include dots (`quarkus.datasource`), these are implicitly escaped and considered as a a single key (`"quarkus.datasource"`).

**Expected behavior**
I would expect the key to be split and interpreted as a composite "path" : `quarkus.datasource` => `quarkus`, then `datasource`.

That behavior would be consistent with Spring's.

[2020-08-31 10:23] gsmet commented on #11744
I think just the fact that the properties end up being ignored and you have no useful error message is a massive issue.

/cc @radcortez @dmlloyd

[2020-08-31 10:34] #11154 closed

[2020-08-31 10:47] Sanne commented on #11591
FWIW I don't agree with the spec on this one and I'm happy we have the option to offer a better strategy.

It would be tempting to switch the Quarkus default to use the non-global definitions.

[2020-08-31 10:50] gavinking commented on #11591
I agree that the single global sequence thing is a bit strange.

[2020-08-31 10:54] Ladicek commented on #11742
I personally think it only makes sense to deploy a `-runner` JAR to a Maven repo when it is a self-contained uberjar. Otherwise, it needs the `lib` directory and is therefore useless on its own.  (Or in case of a `-runner` native binary. That's self-contained too.)

If the CLI runner JAR is an uberjar, then sure, publishing it to Central makes sense. I mean, it's probably a start and not the end,

[2020-08-31 11:13] rsvoboda commented on #11736
Thanks @jmartisk for looking at this, just wanted to comment, that Quarkus based on b35c0bfb2f worked fine, so the changes affecting this had to be merged last Friday.

[2020-08-31 11:19] #11461 closed

[2020-08-31 11:19] gsmet opened #11745 "Our Windows CI does not run all the tests"
Our Windows CI does not run the tests requiring Docker, which is an issue.

I think we would first need an equivalent of our `docker-prune.sh`. If anyone has a Windows box around, I would appreciate if they could contribute a `.bat` equivalent.

I'm making the related changes to the GH workflow in a branch here: https://github.com/gsmet/quarkus/tree/ci-consistency .

[2020-08-31 11:41] #11692 closed

[2020-08-31 11:43] geoand commented on #11729
cc @gsmet @Sanne

[2020-08-31 11:58] jackhu1 commented on #11730
Hello @geoand,  well, my experience so far suggests that there is a documentation issue.  It has been challenging to follow through the documentation to use s2i extension to deploy the sample application to OpenShift.   Following instructions in https://quarkus.io/guides/deploying-to-kubernetes#openshift and combining it with instructions in https://quarkus.io/guides/container-image#s2i  has not l

[2020-08-31 12:02] geoand commented on #11730
Looking at https://quarkus.io/guides/deploying-to-openshift, it seems to be fine, but we always welcome doc updates :)

[2020-08-31 12:08] rsvoboda commented on #11634
Ok, it's removed as part of 1.7.1 release

[2020-08-31 12:09] rsvoboda commented on #11634
So what's the starting point for knative now?

There is still https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started-knative

[2020-08-31 12:09] geoand commented on #11634
Yeah, we should remove that quickstart as well..

[2020-08-31 12:10] rsvoboda commented on #11634
Where should users look for Knative + Quarkus starting point?

[2020-08-31 12:14] jmartisk commented on #11736
Yes, this was introduced via https://github.com/quarkusio/quarkus/pull/11637
I've already submitted a PR to fix it: https://github.com/quarkusio/quarkus/pull/11743

[2020-08-31 12:15] geoand commented on #11634
The only relevant parts are the knative parts in the Kubernetes doc.
Knative is just another deployment target for Kubernetes

[2020-08-31 12:33] ealcantara22 commented on #11733
I see, yeah both suggestions worked just fine. Thanks @loicmathieu

[2020-08-31 12:34] sberyozkin commented on #8559
Hi Stuart @stuartwdouglas and also Clement @cescoffier, here is my [initial attempt](https://github.com/quarkusio/quarkus/compare/master...sberyozkin:oidc_blocking_call_just_in_time?expand=1) at trying to do the blocking calls just in time.

FYI, there are few cases where we expect the blocking calls in the OIDC code flow, this PR only focuses for now on:
1. If the token has expired and `refresh-e

[2020-08-31 12:45] loicmathieu commented on #11733
OK, so I close the issue

[2020-08-31 12:45] #11733 closed

[2020-08-31 13:27] dmlloyd commented on #11744
This is operating as designed.  If an intermediate key was given for a log category (for example), it must be handled as a single string element.  Syntactically, there's no real good way to disambiguate this case.  Having compound keys in YAML is generally unsupported (that is, the concept does not exist nor coherently map to YAML); if you compounded any key *except* for the root "quarkus.xxx" you

[2020-08-31 13:47] iocanel opened #11749 "It should be possible to have kubernetes extension configure image pull secrets"
**Description**
Currently, the extension doesn't configure Image Pull Secrets. It would be nice to have the extension generate and use image pull secrets with the following ways:

- optionally by providing username/password
- optionally using `.docker/config.json`

[2020-08-31 13:52] yrodiere commented on #11744
The documentation suggests to wrap the key with double quotes:

[code]

Is that pointless?

[2020-08-31 13:54] galderz commented on #11524
I'm looking into it.

[2020-08-31 14:00] dmlloyd commented on #11744
The interpretation of quoted or non-quoted keys is actually schema-dependent; while they're syntactically distinct, semantically having a key or value of `"foo"` versus `foo` is equivalent in most contexts AFAICT.  So generally speaking I'd say the quotes are useless unless they are necessary at a lexical level for whatever reason (for example, embedding a `:` or something like that).

[2020-08-31 14:20] geoand commented on #11749
Very good idea

[2020-08-31 14:30] #11688 closed

[2020-08-31 14:38] yrodiere commented on #11744
Ok, I understand.

Apparently Spring Boot does not have this problem because keys including dots are always use in a context where they are expected, and they never have nested keys:

Key | Default Value | Description
-- | -- | --
logging.group.* |   | Log  groups to quickly change multiple loggers at the same time. For  instance, `logging.group.db=org.hibernate,org.springframework.jdbc`.
logging.

[2020-08-31 15:00] evanchooly commented on #9801
Most solutions involve something like an `@Version` annotation to track concurrent modifications.  Both Morphia and Spring Data support that approach.  But before we go too far down either road (indexes and versioning) we should *really* consider if we want to build out such infrastructure and thus introducing yet another mapping framework inside of quarkus or just build on top of another existing

[2020-08-31 15:01] #11736 closed

[2020-08-31 15:15] galderz commented on #11524
@nicolinux72 Couple of questions:

1. I'm unable to run your reproducer. What is are the exact steps? How do you run it from empty state and get to the reproducing it?

2. As we try to narrow down the cause, can you for example try with Java time instead of Joda time and see if it works?

[2020-08-31 15:29] galderz opened #11753 "ClassNotFoundException for VaultException and vault classes"
We've been running Quarkus 1.7.0.Final native tests with Mandrel 20.2 and we've spotted this failure:

[code]

This failure is happening but no native image has been built. Is there some bug in the tooling/maven setup? (see [longer output](https://gist.github.com/galderz/234d8fdc83fbe2c216dd06c90cfd5964))

Issue has been spotted in [this oracle/graal](https://github.com/oracle/graal/runs/101987210

[2020-08-31 15:31] asoldano commented on #11687
@cescoffier are you able to tell the RESTEasy version upgrade that might be related to this?

[2020-08-31 15:35] ia3andy opened #11754 "Codestart files processing order and data override order needs to be relevent"
For now, the order is the same as:
- language is first as it defines the language for the others
- buildtool is second as it is also important for the others
- project then can give overrides on those
- config and tooling could be at the same level
- code needs to be last

For now I think it doesn't really matter as soon as the order is consistent between run, but I am creating an issue for this a

[2020-08-31 15:47] #11700 closed

[2020-08-31 15:49] #10853 closed

[2020-08-31 16:06] loicmathieu commented on #11711
This seems to be related to SSE event comming from different threads not correctly handled by RestEasy.
The same kind of test starts failing at the same time on the `resteasy-mutiny` IT, see https://github.com/quarkusio/quarkus/issues/11687

[2020-08-31 16:06] jponge commented on #11614
@cescoffier perhaps we should also integrate a caller thread check for Vert.x event-loops and blocking calls?

[2020-08-31 16:14] acgray commented on #11725
@glefloch I also experienced this - it seems to occur when there is a submodule with an empty resources folder.

Here's a repro:

https://github.com/acgray/quarkus-issue-11725

[2020-08-31 16:19] gsmet opened #11755 "Support configuring multitenancy per persistence unit"
Right now, we don't support multitenancy with multiple persistence units or at least the configuration is global. We need to fix that but I have a question first.

I wonder if `multitenantSchemaDatasource` is still useful given you can now define the `datasource` used for a given persistence unit? My inclination would be to remove it in favor of using the generic `datasource` property. Does it mak

[2020-08-31 17:00] cescoffier commented on #11687
@asoldano It's a total mystery.

Our investigations (from @loicmathieu and myself) have shown that it requires the item emitted by the `Publisher` to be emitted by the same thread. Otherwise, it may fail (it only fails on CI). So, there is some kind of race conditions. I want to track it a bit more.

What's not clear is why does it start failing know, while nothing changed except the CI that becau

[2020-08-31 17:20] cescoffier commented on #11614
Yes, the blocking code check is going to help a lot.

[2020-08-31 17:25] pwongv commented on #11549
I appear to have run into a possibly related issue investigating a problem with Kotlin based library (Pact consumer) which also results in `java.lang.ExceptionInInitializerError`. The problem only manifests when the Quarkus extension is enabled, regardless of whether the test contains anything quarkus specific.

Kotlin's standard library and Pact both use a similar mechanism to determine their ver

[2020-08-31 17:30] #11715 closed

[2020-08-31 18:08] #11667 closed

[2020-08-31 18:29] gavinking commented on #11755
Does Quarkus have multitenant datasources?

[2020-08-31 19:03] cescoffier commented on #11687
The cause might be different. After a few green runs, it failed again... so might not be a thread issue.

[2020-08-31 20:00] #7591 closed

[2020-08-31 20:00] #11231 closed

[2020-08-31 20:00] #11325 closed

[2020-08-31 20:00] #11589 closed

[2020-08-31 20:51] geoand commented on #11549
@pwongv that is very useful information, thanks! Do you think you can isolate this into a small code snippet?

That should make easy to reproduce the problem and fix what looks like a bug in the `QuarkusClassLoader`

[2020-08-31 20:59] geoand commented on #11358
cc @kenfinnigan

[2020-08-31 22:59] pwongv commented on #11549
Sure thing.
I've spliced the [Pact tutorial example](https://docs.pact.io/implementation_guides/jvm/consumer) from into the [Quarkus quickstart ](https://github.com/quarkusio/quarkus-quickstarts):

[0001-Splicing-in-Pact-test-example-to-demonstrate-11549.patch.TXT](https://github.com/quarkusio/quarkus/files/5153005/0001-Splicing-in-Pact-test-example-to-demonstrate-11549.patch.TXT)

If you set a br

[2020-08-31 23:22] rosscarlisle opened #11761 "Refresh browser on Qute Template change"
**Description**
Hi, I'm wondering if its possible to have a developer experience where we can edit Qute templates and on file save the browser then automatically refreshes. This would be a godsend for developer productivity and making tons of small css changes instead of having to manually refresh the browser every template change.

Is there a way to do this in Quarkus that I missed in the docs?

[2020-09-01 01:15] kostacasa commented on #6463
@sudhirtumati is right. Anyone coming from Spring Boot world would expect a "transactional test" to perform all persistence operations within a test-owned transaction that is rolled back at the end of that test.

The documentation mentions the concept of transactional tests both in the transaction guide and testing guide, but doesn't fully explain what they do which is undoubtedly making people ju

[2020-09-01 01:46] knutwannheden commented on #11525
Coincidentally we stumbled across this same "problem" a few days ago. Only in our case the observer was asynchronous **and** transactional. The spec isn't clear about this corner case.

[2020-09-01 04:48] klenkes74 opened #11762 "liquibase 3.10.2 fixes bug with mariadb"
**Describe the bug**
Up to version 3.10.1 there is a liquibase bug with mariadb that prevents it from running (https://liquibase.jira.com/browse/CORE-3457). It is said to be fixed in version 3.10.2.

**Expected behavior**
Liquibase runs without exception on mariadb.

**Actual behavior**
Liquibase throws an exception

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add liquibase to the

[2020-09-01 04:58] klenkes74 commented on #11762
I wanted to fix it - but in master liquibase is already set to liquibase 4.0.0 - so the next release will fix the problem It can be closed.

[2020-09-01 05:26] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/233769231

[2020-09-01 05:26] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/233770381

[2020-09-01 05:26] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/233769067

[2020-09-01 05:36] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/233769885

[2020-09-01 06:26] mkouba commented on #11525
Transactional observers are inherently asynchronous (called using a JTA `Synchronization`) and the spec is clear that _"Observer methods may throw exceptions. If the observer method is a transactional observer method, any exception is caught and logged by the container."_. It seems that our code swallows and logs errors. @knutwannheden Could you describe your use case more thoroughly?

[2020-09-01 06:50] gsmet commented on #9142
@Mobe91 @beikov apparently the Hibernate ORM upgrade in Quarkus broke Blaze Persistence :/. Looks like you rely on an internal method that has changed.

/cc @Sanne

[2020-09-01 06:51] knutwannheden commented on #11525
In essence we have an `@Scheduled`-annotated method which reads from a queue table in a database and then fires CDI events corresponding to the queue entries. These CDI events are then "consumed" by an observer method which is annotated with `@Transactional(REQUIRES_NEW)` and `@ObservesAsync` on the parameter corresponding to the CDI event. The observer method will run some "command" and then if a

[2020-09-01 07:06] gsmet commented on #11762
Let's fix it in the 1.7 branch.

[2020-09-01 07:07] jaikiran commented on #11681
Hello @Meemaw, is there a simple application which you can share to reproduce this issue (perhaps as a github repo)? Also, can you try this against `1.7.1.Final` of Quarkus and see if it's fixed there?

[2020-09-01 07:25] beikov commented on #9142
That's what I tried to avoid here: https://github.com/hibernate/hibernate-orm/pull/3511#discussion_r479958716

I'm planning to do a release soon anyway, should I incorporate a fix for the new method signature or would you say it's better to revert the IMO unnecessary signature change in Hibernate?

[2020-09-01 07:33] Neisuz commented on #11076
@phillip-kruger, hello, i added some code to your project where you can see what the reason of this issue.

[2020-09-01 07:40] gsmet commented on #9142
My personal opinion is that we should be more cautious in micro releases but, given our Quarkus schedule, I would say this ship has sailed...

If you can adapt and release something before September 10th latest, that would be great.

[2020-09-01 07:42] gsmet commented on #11681
I suspect it might be the Hazelcast library not using the TCCL to load the resources.

/cc @pivovarit

[2020-09-01 07:43] beikov commented on #9142
I brought the issue up, but since it's internal, the others said the change is fine. I will try to fix this in Blaze-Persistence. Releasing before 10th of September should be doable.

[2020-09-01 07:44] pivovarit commented on #11681
I will investigate it. @gsmet can you assign me to the issue?

[2020-09-01 07:58] cescoffier commented on #11711
Investigation in progress in https://github.com/quarkusio/quarkus/pull/11727.
It seems to be the same SSE related issue.

[2020-09-01 08:08] gsmet commented on #9142
Hum. Let me correct that. There's a good chance we will backport this upgrade to the 1.7 branch and thus I would need the Platform upgrade PR by September 8th latest.

Sorry about the confusion.

[2020-09-01 08:11] gsmet commented on #11681
Sure.

@Meemaw as mentioned by @jaikiran , a reproducer would help.

[2020-09-01 08:12] beikov commented on #9142
I see, I'll try to get that in ASAP then :)

[2020-09-01 08:12] squakez opened #11765 "[Mongodb] NPE getting reactive client"
**Describe the bug**
When creating a named "blocking" client connection in a camel application (using quarkus extensions), I am hitting a NPE.

**Expected behavior**
Should not receive the NPE

**Actual behavior**
During startup, the application fail with the following exception:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple application with a named blocking connecti

[2020-09-01 08:13] squakez commented on #11765
I think I spot the possible source of the error though, going to submit a PR for your evaluation

[2020-09-01 08:15] gsmet commented on #9142
Thanks and sorry about the mess.

[2020-09-01 08:28] loicmathieu commented on #11765
Hello,
Before we can pursue with your PR, can you create a minimal reproducer as this code is tested in our CI and we didn't have any NPE.
You mention Camel in your issue description, maybe it's an issue on the way Camel interract with the mongodb-client extension.

[2020-09-01 08:29] geoand commented on #11765
+1 for what @loicmathieu says

[2020-09-01 08:31] Meemaw commented on #11681
Here is the reproducer: https://github.com/Meemaw/quarkus-hazelcast-config-bug-reproducer

Its pretty straightforward, nothing special. You can run dev mode using `/gradlew quarkusDev` and visit http://localhost:8080/hello (it should work) ✅

Then you can build the app using `./gradlew quarkusBuild --uber-jar`, run it with `java -jar build/hazelcast-config-my-version-runner.jar` and visit http://l

[2020-09-01 08:34] Meemaw commented on #11725
I've also experienced this on gradle multi project 👍

[2020-09-01 08:36] loicmathieu commented on #10873
@aguibert did you have time to look at this one ?

I propose to add `java.lang.String` to the ` WHITELISTED_FROM_IGNORED_PACKAGES` of `ReflectiveHierarchyBuildItem` it fixes the issue but I don't know if it can have side effects.

[2020-09-01 08:41] mkouba commented on #11761
It's probably technically possible but not easy to implement...

[2020-09-01 09:02] galderz opened #11768 "Elytron JDBC forbidden native test hangs"
Elytron JDBC `forbidden` native test hangs with Mandrel 20.2 and assertions enabled:

[code]

See [longer output](https://gist.github.com/galderz/d5b6ff8aeb7ff7c61ff1398fe5bb37ce).

When you run the executable and you enable TRACE, there's no sign of any error, nor is there any thread busy (see [here](https://gist.github.com/galderz/c311f5799ca0f7b4a19e75d82f2bb399)). So, this points to some excep

[2020-09-01 09:04] nicolinux72 commented on #11524
Hello,

after long study, I think I have discovered something interesting. Due to this [bug](https://github.com/oracle/graal/issues/911)   , only the current local is reported in the native version of the application: in my case the current local is it_US.

I noticed, following the stack trace, that the code in org.bson.json.*  tries to decode MongoDb dates using the en locale and this determines

[2020-09-01 09:07] galderz opened #11769 "Rest assured timeouts are way too big"
All quarkus tests should timeout way before 30 minutes (see [example](https://github.com/quarkusio/quarkus/issues/11768)). Test, or Rest Assured, should be globally configured to be much smaller (1 minute?).

This issue originates in #11768.

In this particular case, I used the following code to generate Rest Assured configuration (valid in 4.3) that would time out before:

[code]

Then, I'd do:

[2020-09-01 09:14] RossCarlisle commented on #11761
Thought that would be the case. I know [nodemon ](https://nodemon.io/) is used a lot for this exact case where we want to restart as soon as a resource changes but Quarkus seems to work when the resource is requested with Qute templating. I have no idea for how implementation would work.

[2020-09-01 09:24] Sanne commented on #9142
thanks @beikov ! And sorry your comment regarding it breaking Blaze came too late on the other thread :)

I'm considering setting up "downstream integration" CI builds for Hibernate ORM, including e.g. Quarkus (but also Search, Hibernate Reactive, etc..).

I wouldn't mind including Blaze as well: it's one thing to break an internal API, it's another to break an integration we actually care about.

[2020-09-01 09:34] sberyozkin commented on #11753
CC @stuartwdouglas

[2020-09-01 09:39] RossCarlisle commented on #11761
Further looking into this and it seems Spring-Dev-Tools utilities [LiveReload ](http://livereload.com/) according to this [post](https://reflectoring.io/spring-boot-dev-tools/).

[2020-09-01 09:40] loicmathieu commented on #11524
Thanks for the analysis, ideally we should include the en local for all native builds that contains the mongodb-client extension.

@galderz is such functionality possible for Quarkus yet ?

[2020-09-01 10:29] mkouba commented on #11761
Yep, a browser plugin + livereload looks like a viable solution. Feel free to explore the details... ;-)

[2020-09-01 10:31] galderz opened #11773 "FileNotFoundException for /import.sql when running native executable standalone"
Elytron JDBC native tests build natives with application.properties containing:

[code]

However, when you take that native executable and run it on it's own, you see:

[code]

Where is Quarkus expecting import.sql to be? Isn't it inside the binary itself? If you expect it in a classpath, the classpath of what? In this case the client is running in a different host.

I worked around this by copyin

[2020-09-01 10:37] galderz opened #11774 "Test failures not clear on root causes"
While testing Mandrel 20.2, we discovered the following test failure:

[code]

Looking closely we discovered that the issue was this error message printed in json format (??):

[code]

[Full logs](https://gist.github.com/galderz/4dcb80c340358e35910d13fee85bd2df).

The issue is caused by https://github.com/graalvm/mandrel/issues/106, but the Quarkus test should log such errors better: the exception

[2020-09-01 10:40] galderz commented on #11768
Assigning to moi, as I dig into what's the swallowed exception.

[2020-09-01 10:53] galderz commented on #11524
@nicolinux72 Thx for the info, this is really useful. I think the problem that you have is that MongoDB is not using the `it` locale. If it'd do that then, with flag you added to add timezones, it'd work.

There's a bit extra information here to explain why `en` works:

Until JDK 11.0.8, there was some inconsistencies with how time zone name locales were handled. In essence, English ones were adde

[2020-09-01 10:55] galderz commented on #11524
@loicmathieu Including `en` local goes against what [JDK-8236548](https://bugs.openjdk.java.net/browse/JDK-8236548) tries to do, so I'd avoid that. Isn't this an issue of MongoDB assuming en locale?

[2020-09-01 10:59] sberyozkin commented on #10988
@ydalekorey In Quarkus one can register a custom `SecurtyIdentityAugmentor`, for example:

https://quarkus.io/guides/security-customization#security-identity-customization

The main idea behind it is to enhance the identity but one can easily check the existing token, example, with something like `identity.getTokenCredential(IdTokenCredential.class)` and check some individual claims and throw `Aut

[2020-09-01 11:40] loicmathieu commented on #11524
Reading your detailed explaination it should be an issue with MongoDB relying on the presence of the en locale, something that changes recently.

MongoDB stores dates as a 64bit number but the driver (and the shell) manage them as text in the ISO format, and this is the code used to parse them:

[code]

Unfortunatly, they uses some date part pattern that can be letters (HH, z), reading the documen

[2020-09-01 11:47] ydalekorey commented on #10988
Thanks @sberyozkin . Looks like in addition to an Augumentor that extracts auth0 permissions and adds it into SecurityIdentity I also need to create my custom PermissionsAllowed annotation that behaves just like RollesAllowed one but uses extracted permission instead of roles to restrict access. How can I register my own custom security annotation in Quarkus security engine?

[2020-09-01 12:44] glefloch commented on #9892
@dliraf the protobuf plugin seems to have release a new version `0.8.13` which should embed the fix.
Can you try with this new version of the plugin?

[2020-09-01 12:48] mkouba commented on #11761
This issue duplicates https://github.com/quarkusio/quarkus/issues/1418.

[2020-09-01 12:49] sberyozkin commented on #10907
I'll provide a simple PR based around the work already done by Pedro @pedroigor with a few minor updates

[2020-09-01 13:35] glefloch commented on #11215
@danelowe I checked out your commit and `quarkusDev` does not throw any error. I can see `howdydoody` when querying `localhost:8080/hello`. If I update the `ExampleResource`, the `quarkusDev` tasks detects the changes and the result is updated..

[2020-09-01 13:37] dsanchor opened #11779 "ConfigMaps/Secrets prioritization when consuming more than one using kubernetes-config extension"
**Describe the bug**
kubernetes-config extension supports setting more than one ConfigMap names under the property  quarkus.kubernetes-config.config-maps.
What I have observed is that you cannot guarantee which ConfigMap is considered first, so there is no order or prioritization for overriding same properties set in different ConfigMaps

Same for Secrets.

**Expected behavior**

I would expect so

[2020-09-01 13:37] rmanibus opened #11780 "Flyway migrations does not work anymore on JDK8 after upgrade to 1.7.1.Final"
**Describe the bug**

Flyway migration does not work anymore on quarkus 1.7.1 with jdk 8 when executing from inside a jar

Reproducer:

https://github.com/rmanibus/quarkus-reproducer

[code]

This seems to have been introduced by https://github.com/quarkusio/quarkus/pull/11300

**Expected behavior**

Flyway migrations are executed

**Actual behavior**

The application throws with:

[code]

[2020-09-01 13:44] fluoxa commented on #10147
Unfortunately this bug still exist in the version 1.7.1.Final

[2020-09-01 13:45] geoand commented on #11779
Thanks for reporting!

So you expect the latest one you set to take precedence?

@Ladicek @iocanel what do you think is the least surprising behavior?

[2020-09-01 13:46] gsmet commented on #11780
@jaikiran I would be interested in your opinion on this if you have one?

Looks like the fix I made does not work everywhere.

[2020-09-01 13:48] kenfinnigan commented on #11779
I'm not familiar with how the ConfigMap stuff is implemented, but does it require each config map to be its own `ConfigSource`? To then be able to set order/priority?

[2020-09-01 13:48] glefloch commented on #11725
@Meemaw can you push your project? I tried @acgray project and I'm not able to reproduce the issue.
I tried running `./gradlew :webserver:quarkusDev` and accessing `localhost:8080/hello` works.

[2020-09-01 13:48] jaikiran commented on #11780
I will reproduce this locally and see what's going on.

[2020-09-01 13:50] gsmet commented on #11780
Hmmm, thinking about it, I think I should have normalized the path. Let me give it a try.

[2020-09-01 13:50] geoand commented on #11779
@kenfinnigan exactly!

The question is, which ones should have priority? The first ones, or the last ones?

[2020-09-01 13:50] jaikiran commented on #10147
Sorry @pedroigor and others, I forgot about this one. I'll take a look this week.

[2020-09-01 13:50] acgray commented on #11725
@glefloch  did you create the empty `common/src/main/resources` directory before running `quarkusDev`?

[2020-09-01 13:52] dsanchor commented on #11779
Probably yes, that was my intuition when trying it. Honestly, I would not care if the order is different but well documented.

[2020-09-01 13:53] gsmet commented on #11780
Yeah that was it...

[2020-09-01 13:54] gsmet commented on #11780
I created https://github.com/quarkusio/quarkus/pull/11781 .

[2020-09-01 13:58] knutwannheden opened #11782 "Quarkus EnvConfigSource behaves differently from SmallRye ConfigSource"
Looking at the `EnvConfigSource` class in [ConfigUtils.java](https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java), which AFAICT is used at build-time, I notice that `getValue()` never checks for an exact match. Nor does it as a last resort "normalize" the sanitized property name (non-alphanumerics replaced by `_`) by convert

[2020-09-01 13:59] kenfinnigan commented on #11779
@geoand I wonder if it shouldn't be a list, but instead something like:

[code]

I'm butchering the format, but hopefully you get my meaning

[2020-09-01 14:00] gsmet opened #11783 "KubernetesClientTest.testInteractionWithAPIServer is failing"
I will disable the test.

[code]

[2020-09-01 14:09] glefloch commented on #11725
@acgray right, after creating the empty folder, I can see the error

[2020-09-01 14:13] geoand commented on #11779
I kinda want to avoid that, because it could get dangerous - I really think don't think that ConfigMap properties should override system properties or env vars.

That's the reason the ConfigMap currently has a value of `270`

[2020-09-01 14:17] nicolinux72 commented on #11524
[Graal issue 911](https://github.com/oracle/graal/issues/911) indicates a workaround based on "Features" to make different locales available to applications.

In your opinion, that kind of workaround can be integrated into Quarkus' mongodb-client extension.

If so, how?

[2020-09-01 14:23] tsegismont commented on #10889
@Serkan80 so it seems the issue isn't related to config but to the way consumers are registered.

When a method is annotated with `@ConsumeEvent("hello")` the `local` attribute defaults to `true` and so the Vert.x consumer registration isn't propagated to the other nodes.

Then due to a limitation of Vert.x 3, only the first registration of a specific address is propagated to an address, but only

[2020-09-01 14:27] kenfinnigan commented on #11779
True, but there's nothing stopping anyone doing that directly anyway.

We could add a big warning during build/runtime that says the priority means it is ahead of env vars.

The other option is to just define an ordering of config maps with that number and not the actual priority. That way the order is defined in the file, as opposed to based on ordering of the names only

[2020-09-01 14:30] geoand commented on #11779
That's true.

I was initially thinking of just making a rule about the order in which they appear in configuration, but I'll go ahead with your suggestion if others like it as well.

[2020-09-01 14:40] dsanchor commented on #11779
From a quarkus user point of view, I would not have to know about the meaning of that magic number (270)... why should I care?
From the  [docs](https://quarkus.io/guides/kubernetes-config#priority-of-obtained-properties) it is clear that ConfigMaps properties would not override env vars nor sys properties.
Would not be enough to set the order in some way where that order would only affect to this

[2020-09-01 14:46] geoand commented on #11779
That is what I am advocating for as well :)

[2020-09-01 14:55] Ladicek commented on #11779
Inventing some syntax for the `.properties` config format (which we, unfortunately, advertise as the default) sounds ugly to me. Giving a meaning to the ConfigMap/Secret order sounds rather nice, and perhaps even natural. Big question is, is there a priority between ConfigMaps and Secrets? :-)

[2020-09-01 14:58] geoand commented on #11779
Good question about secrets and config maps - they currently have the same priority, but we should address the issue here as well.

I assume secrets should be of higher priority?

[2020-09-01 15:04] dsanchor commented on #11779
I thought about that as well and I would also assume that secrets would have a higher priority than configmaps. About the order in the list, whatever it is decided would make sense to users if it is properly documented.

[2020-09-01 15:05] cpmoore opened #11786 "Allow Command Mode to Run Without HTTP or Socket Input"
**Description**
For command mode there are certain cli utilities that do not need any http or socket input.  However a developer could still desire to use quarkus for the ease of use of some of the plugins and configuration options.
Therefore, I believe quarkus should be allowed to be used even with `quarkus.http.insecure-requests=disabled`
Currently with this value set quarkus throws an IllegalSt

[2020-09-01 15:07] geoand commented on #11779
I'll put somethign together based on the order later on tonight and hopefully we can get it into the next 1.7.x release

[2020-09-01 15:12] jaikiran commented on #11774
I think this should take care of it https://github.com/quarkusio/quarkus/pull/11787

[2020-09-01 15:23] Ladicek commented on #11779
I would also expect that Secrets are higher priority than ConfigMaps, so it seems we've got a quorum here! :grin:

[2020-09-01 15:41] gsmet commented on #11712
@phillip-kruger @EricWittmann @radcortez if it's a regression in 1.7.1, we probably want to address this very soon (before September 8th).

[2020-09-01 15:41] gsmet commented on #11719
/cc @FroMage

[2020-09-01 16:11] phillip-kruger commented on #11712
@florianRieb - from what version of Quarkus are you updating ? 1.7.0 or lower ?

[2020-09-01 17:02] phillip-kruger commented on #11076
@stuartwdouglas - this is a very weird scenario - What is being read it a REST service (not GraphQL) - and that is where the timeout occur. You don't even need any GraphQL code, but if you add GraphQL and undertow to a JAX-RS project that use InputStream as parameter on a POST, it hangs. As soon as you remove either of the GraphQL or undertow extension, it works. I am not sure what is happening.

[2020-09-01 17:07] antoniomacri commented on #11715
Hi Sergey,

I've built the snapshot from master in order to test the fix, however it's still causing a redirect instead of silently refreshing the tokens. I'm using these properties (among others):

[code]

I've tried to debug but I lost myself in the callbacks, tomorrow I'll try to investigate further... any suggestions on things to check are welcome.

Thanks again.

[2020-09-01 17:17] antoniomacri opened #11790 "Customize access token header in OIDC for API"
**Description**
Support changing the header which carries the access token in the OIDC extension for protecting service applications.
Something like `smallrye.jwt.token.header` (except for "Cookie" value).

I'm having some problems trying to integrate with an API gateway which does not support sending the token as "Authorization: Bearer". It instead would allow sending the token as a plain header,

[2020-09-01 17:18] jackhu1 commented on #11730
Hello @geoand, thank you so much for your last comment!  Awesome. The instructions there worked and I managed to deploy the application to OpenShift using the implied s2i binary build.

Two feedback comments for improvement of the documentation:

1. After the build (using s2i to create image stream) only command `./mvnw clean package -Dquarkus.container-image.build=true`, it would be helpful to sh

[2020-09-01 17:21] jackhu1 commented on #11730
I will go back to my original application quarkus-greeting-app and try the new command to make it work.  I will post an update here for information.

[2020-09-01 17:22] geoand commented on #11730
@jackhu1 glad it worked!

Do you fancy sending a PR for the doc updates?
It's often the case that a new perspective brings much needed doc improvements

[2020-09-01 17:31] #11780 closed

[2020-09-01 17:34] ivangreene opened #11792 "Command line app ignores SIGINT (Ctrl+C)"
**Describe the bug**
Quarkus command line apps do not respond to SIGINT

**Expected behavior**
A Quarkus command line app should initiate shutdown when passed SIGINT (Ctrl+C on a terminal)

**Actual behavior**
The signal is ignored, nothing happens

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/ivangreene/my-quarkus-cli
2. Run `mvn clean package`
3. Run `java -jar t

[2020-09-01 18:05] #11765 closed

[2020-09-01 18:16] gastaldi commented on #11792
@ivangreene The recommended procedure is to call `Quarkus.waitForExit()` instead of using `Thread.sleep` in a loop. See https://quarkus.io/guides/command-mode-reference#the-command-mode-lifecycle for more details.

[2020-09-01 18:29] rmanibus commented on #11780
Thank you very much :)

[2020-09-01 19:06] gastaldi commented on #11792
@stuartwdouglas any clue?

[2020-09-01 19:22] gsmet commented on #11780
Thanks for the reproducer. It helped a lot.

[2020-09-01 19:23] gsmet commented on #11786
Have you tried removing the quarkus-resteasy dependency?

[2020-09-01 19:30] cpmoore commented on #11786
Without any dependencies in my pom.xml, this exception is thrown
[code]

This is on 1.7.1.Final using oracle jdk 11.0.2

[2020-09-01 19:56] gsmet commented on #11786
I would add quarkus-core and quarkus-arc.

[2020-09-01 19:57] florianRieb commented on #11712
Yes from 1.7.0-Final

Phillip Krüger <notifications@github.com> schrieb am Di., 1. Sep. 2020,
18:12:

[2020-09-01 20:17] gyannitin opened #11795 "Junit test cases cannot establish ssl connection with mongodb"
**Describe the bug**
Junit test cases cannot establish ssl connection with mongodb

**Expected behavior**
My java class handles the successful connection with mongodb using the certificates. Running the junit calls the same method and it must also establish the connection with the mongodb

**Actual behavior**
I have written junit to call the endpoint url of the application. method that handles the

[2020-09-01 20:36] cpmoore commented on #11786
Okay, yeah that worked!  I remember seeing that in the docs before now that you mention it.  Apologies, i'll close this.

[2020-09-01 20:36] #11786 closed

[2020-09-01 20:38] geoand commented on #11779
https://github.com/quarkusio/quarkus/pull/11796 should take care of this

[2020-09-01 21:25] gastaldi commented on #11792
Found the issue, there is a shutdown hook holding the application. I'll send a PR soon

[2020-09-01 21:36] jackhu1 commented on #11730
Yes, happy to do.  Need a bit guidance about the procedures though.  Would you mind pointing me in the right direction? Perhaps starting with where to find the document source to edit.

I understand the concepts of code branching, code pull and push and raising PR but need to know the whereabout of  Quarkus documents and the specific procedures to make changes.

[2020-09-01 21:57] gastaldi commented on #11792
@ivangreene can you give it a shot with https://github.com/quarkusio/quarkus/pull/11797 and let me know if that works for you?

[2020-09-01 22:24] laguiar commented on #7440
Hi folks... any news on this topic?
@angrymango how is going the extension development?

I'm starting a new project and seems that it's a big pain to not use JPA/Hibernate on Quarkus 😞
Really missing something like spring-data-jdbc/micronaut-data-jdbc.

[2020-09-01 22:45] danelowe commented on #11215
@glefloch So you checked out the commit and immediately ran `./gradlew clean quarkusDev`? That is interesting. Suggests the issue has something to do with my environment?

I tried deleting the project and cloning it again, and still had the issue. I've tried OpenJDK, AdoptOpenJDK, GraalVM. I've tried deleting `~/.gradle`.

[2020-09-02 00:16] MikeEdgar commented on #8415
@phillip-kruger - this was likely fixed with smallrye/smallrye-open-api#333 or smallrye/smallrye-open-api#293.

[2020-09-02 01:37] stuartwdouglas commented on #11076
It would be the combination of the RequireBodyHandlerBuildItem + Undertow. Undertow must not handle requests that have been through the body handler correctly.

[2020-09-02 01:39] stuartwdouglas commented on #11076
Actually there was already a bug about this (#5959) and it should be fixed, so I am not 100% sure what is happening.

[2020-09-02 01:56] jaikiran commented on #11762
https://github.com/quarkusio/quarkus/pull/11776 has been merged.

[2020-09-02 01:56] #11762 closed

[2020-09-02 02:05] stuartwdouglas commented on #11753
This test is setup weird. It does not have any non-test scoped dependencies, so there should be basically nothing in the native image. They also only test native, so the tests are not run on the JVM.

How does this work at all?

[2020-09-02 02:17] #11707 closed

[2020-09-02 05:22] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/235493018

[2020-09-02 05:27] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/235494410

[2020-09-02 05:35] #8415 closed

[2020-09-02 05:36] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/235494319

[2020-09-02 05:46] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/235493573

[2020-09-02 05:58] geoand commented on #11258
Fixed in https://github.com/quarkusio/quarkus/pull/11748

[2020-09-02 05:58] #11258 closed

[2020-09-02 06:03] geoand commented on #11730
Sure thing.

All our docs are here: https://github.com/quarkusio/quarkus/tree/master/docs/src/main/asciidoc

So basically all you need to do is fork the project, edit the files, push the changes and then open a GitHub Pull Request against the Quarkus repo.
You can also check out https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md for more information

[2020-09-02 06:05] geoand commented on #8593
We still need a debezium update in the platform to get the tests passing

cc @gunnarmorling @gsmet

[2020-09-02 06:05] geoand commented on #8694
@evacchi once you have a fix for Kogito and the artifacts are released, please also update the Quarkus platform as well.

Thanks!

[2020-09-02 06:26] maxandersen commented on #7440
Have you tried using statelesssession from an entity manager ? Would be curious to know what you are missing when using that ?

About jooq - it works with hibernate in jvm mode “as is” afaik - we can make it nicer/easier but should work or am I missing something ?

. Is it native mode explicitly  you are after ?

[2020-09-02 06:53] sorin0187 opened #11801 "@Blocking and @Incoming should support return types of CompletionStage and Uni"
I tried creating a method that persists an entity upon receiving a Kafka message.

[code]

When building I get the following exception:
[code]

If I try to return a CompletionStage, as suggested by the exception, I get a different validation failing:
[code]

It looks like it's not allowed to have both `@Blocking` and `@Incoming` annotations on a method that receives a Message<>.
The reason I need

[2020-09-02 07:00] phillip-kruger commented on #11712
Ok, This is the PR that broke (or fixed) this:
https://github.com/smallrye/smallrye-open-api/pull/439

The reason (I think) that this is now showing up, it because the ignore is only on the get method. Try adding it to the field or also to the set method.

Not adding it to the setter indicate that the field is still writeable (so it still needs to be in the schema).

Let me know. If you believe th

[2020-09-02 07:00] #11712 closed

[2020-09-02 07:08] loicmathieu commented on #11795
Hello, can you create a minimal reproducer project to help us understand what's going on ?

[2020-09-02 07:10] pallavimanjare commented on #3312
I have same issue..i have tried all above ways.but still not work.issue is still there of cors

[2020-09-02 07:18] evacchi commented on #8694
@geoand yup!

[2020-09-02 07:35] Serkan80 commented on #10889
@tsegismont thanks ! It's working now, but it would be very helpfull if this get documented in the [Eventbus](https://quarkus.io/guides/reactive-event-bus) guide. Now it looks like some hidden feature that nobody knows about, while it is build and meant to be used.

[2020-09-02 07:48] rsvoboda opened #11805 "mvn io.quarkus:quarkus-maven-plugin:1.7.1.Final:list-extensions is not working from non-quarkus directory"
`mvn io.quarkus:quarkus-maven-plugin:1.7.1.Final:list-extensions` is not working from non-quarkus directory
It works when executed in directory with `pom.xml` which is using Quarkus

`mvn io.quarkus:quarkus-maven-plugin:1.3.4.Final:list-extensions` works from any path
For newer version it worked for Quarkus 1.5.0, not working since Quarkus 1.6.0

[2020-09-02 07:56] rsvoboda commented on #11805
My use case is to get quickly the list of latest extensions, I know that using `mvn io.quarkus:quarkus-maven-plugin:1.3.4.Final:list-extensions` I won't get the list of extensions for Quarkus 1.3.4.Final, I would need to have project using Quarkus 1.3.4.Final and call `mvn quarkus:list-extensions`.

[2020-09-02 07:58] lbroudoux opened #11806 "Serialization of RestEasy JAXB wrapped collections fails in native mode"
**Describe the bug**

When using the `org.jboss.resteasy.annotations.providers.jaxb.Wrapped` annotation in JAX-RS resource to force a specific Collection wrapping XML tag, the collection it not serialized in native mode. However it works as expected in JVM mode.

I use the following code:
[code]
**Expected behavior**

When calling my REST endpoint, I expect something like:

[code]

and that's the

[2020-09-02 08:01] galderz commented on #11768
After a bit of experimentation (see [here](https://gist.github.com/galderz/2dd134128dba04e113913fe5eb176c4e) and [here](https://gist.github.com/galderz/2dd134128dba04e113913fe5eb176c4e)), it turns out the root cause of the test failing is https://github.com/graalvm/mandrel/issues/106:

[code]

The reason the test hangs is because if an exception occurs in the `.subscribe().with()` callback, the `u

[2020-09-02 08:05] galderz opened #11807 "FormAuthenticationMechanism needs to handle exceptions to avoid requests without response."
Exceptions in `io.quarkus.vertx.http.runtime.security.PersistentLoginManager.save()` are not being handled correctly by the caller. This means that if an exception happens, the request will never be fulfilled. You can see this in action in #11768.

`subscribe().with()` callback in `FormAuthenticationMechanism.runFormAuth` needs to check if any exceptions happen and fail the uni if so.

I've got a

[2020-09-02 08:17] dliraf commented on #9892
Can confirm that they fixed the issue in com.google.protobuf:0.8.13

[2020-09-02 08:17] #9892 closed

[2020-09-02 09:01] gsmet commented on #11786
No worries :).

[2020-09-02 09:23] geoand commented on #11806
That makes sense to me, PRs very welcome :)

[2020-09-02 09:29] lbroudoux commented on #11806
Reading the `Writing Extensions` guide while building locally the Quarkus modules. Expect PR in few hours / days depending on distractions ;-)

[2020-09-02 09:43] gsmet opened #11810 "Warnings when running the OpenAPI tests"
When running the OpenAPI tests, we end up with these warnings which don't look like normal:

[code]

/cc @phillip-kruger @kenfinnigan

[2020-09-02 09:47] phillip-kruger commented on #11810
I'll have a look. Thanks :)

[2020-09-02 09:50] cescoffier commented on #11687
After evaluation at https://github.com/quarkusio/quarkus/pull/11727, @FroMage found the culprit.

[2020-09-02 09:51] gsmet commented on #11101
Ok, I reproduced it again. This time I archived the state of the release build so we should be able to get to the bottom of it.

[code]

[code]

[2020-09-02 10:04] famod opened #11812 "Fire CDI events at certain parts of the test lifecycle"
**Description**
This came up here: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Mocking.20an.20interface/near/208800925

For some testing use cases it would be very handy if you could observe CDI events for e.g. test started or test finished.
This could then be used to e.g. reset an `@ApplicationScoped` "mockito interface mock" (see zulip link) in a producer after the test fin

[2020-09-02 10:07] geoand commented on #11812
cc @mkouba

[2020-09-02 10:31] famod commented on #11745
Have you considered running such "CI support scripts" via Git Bash or Cygwin? Maintaining multiple script variants can be tedious.

PS: Less common commands can be a problem in Git Bash since it only has a limited set of commands.

[2020-09-02 10:34] jackhu1 commented on #11730
Hello @geoand great.  Will do (an evening job probably).

[2020-09-02 10:34] jackhu1 commented on #11730
Updated:  tried the two stepped method 1) on my original app quarkus-greeting-app and it worked! i.e.
[code]
Not tried method 2) yet but pretty sure it would work.

[2020-09-02 10:34] gsmet opened #11813 "Gradle tests failing when releasing"
The Gradle tests are failing when I try to release. I already reported that with 1.7 but it's still an issue with 1.8.

It doesn't find the plugin even if it looks like my local repository is taken into account: https://scans.gradle.com/s/eyxzbgoobb3py

maven(file:/data/home/gsmet/git/protean-release/work/repository/)

I archived the failing repository.

Things should be reproducible with this arc

[2020-09-02 10:44] gsmet commented on #11813
![Screenshot_2020-09-02 Build scan for 'quarkus-gradle-plugin' today at 12 25 31 PM CEST Gradle Cloud Services](https://user-images.githubusercontent.com/1279749/91971769-06f6ed80-ed1a-11ea-8e6b-2da4267eb72d.png)

Made a screenshot as it's impossible to properly copy/paste the content :/

[2020-09-02 11:24] gsmet opened #11815 "Range check makes the release fail"
https://github.com/quarkusio/quarkus/pull/11259/files doesn't work when doing the release.

I will revert it for now in the 1.8 branch.

[code]

[code]

[2020-09-02 11:31] michalszynkiewicz commented on #10039
@jamesnetherton I'm looking into it now. Are you interested in programmatically adding services only? Do you plan to do any other modifications to the ServerBuilder?

[2020-09-02 11:53] sberyozkin commented on #5657
@sunmeplz Hi, what token are you referring to here, the bearer access token or the access token returned with the code grant or the service account token which Quarkus will acquire itself ?

[2020-09-02 11:54] jamesnetherton commented on #10039
@michalszynkiewicz yes, it was just about programmatically adding services. Ideally by having some way that allows me to provide a custom `HandlerRegistry`, which the Quarkus gRPC extension can set on the `ServerBuilder` through `fallbackHandlerRegistry`.

[2020-09-02 11:55] rsvoboda opened #11816 "Clean project with quarkus-funqy-google-cloud-functions fails to compile with NPE"
Clean project with quarkus-funqy-google-cloud-functions fails to compile with NPE

[code]
https://github.com/quarkusio/quarkus/blob/master/extensions/funqy/funqy-google-cloud-functions/runtime/src/main/java/io/quarkus/funqy/gcp/functions/FunqyCloudFunctionsBindingRecorder.java#L56, `FunctionRecorder.registry` is `null`.

Possible fix could be to check `FunctionRecorder.registry` for null and throw

[2020-09-02 12:22] lbroudoux commented on #11806
PR #11817 is now submitted

[2020-09-02 12:23] loicmathieu commented on #11816
@rsvoboda this seems to happen because you don't have any function inside your project.

Amazon Lambda have Maven archetype so it didn't happened to them with a clean project.

If @patriot1burke agree, I'm OK to throw a RuntimException if no function exist in a project.

Note that I plan to implement code starts for Google Cloud Functions so that issue may not arise so often.

[2020-09-02 12:33] aloubyansky commented on #11101
Ok, the cause is pretty simple. System properties aren't automatically propagated to the tests. In our case `-Dmaven.repo.local` with a custom value is added to `MAVEN_OPTS`. W/o changing our bootstrap code it could be worked around by either adding
`<maven.repo.local>${maven.repo.local}</maven.repo.local>` to the surefire plugin configuration or adding `-Dmaven.repo.local=XXX` to the mvn command

[2020-09-02 12:35] aloubyansky commented on #11815
I believe the cause it the same as in https://github.com/quarkusio/quarkus/issues/11101#issuecomment-685703481

[2020-09-02 12:40] BastianSperrhacke-Otto opened #11818 "Hibernate ORM: Schema is not generated"
Hey, we are playing around with quarkus. First: Thank you for your work, I like it very much.

Here is my bug:
**Describe the bug**
I noticed, that, when using a schema in an entity, hibernate orm does not create the schema which is used in @Table Annotation, even if you use create/drop-and-create as strategy.
following error are, that tables cannot be created, because there is no such given schem

[2020-09-02 12:43] gastaldi commented on #11813
What happens if you add:
[code]

[2020-09-02 12:44] gastaldi commented on #11813
Ignore my last comment, I see the maven repository is used

[2020-09-02 12:46] #11807 closed

[2020-09-02 12:46] tsegismont commented on #10889
@Serkan80 a former tech lead of mine used to say "if it's not documented it doesn't exist" :smile:

Seriously, the ability to use the cluster manager from Vert.x has not been announced in blogs or documented on purpose:

- it is not tested (in Quarkus)
- the `vertx-infinispan` and `vertx-hazelcast` dependencies versions do not align with those of Quarkus extensions
- neither of them is able to com

[2020-09-02 12:49] sberyozkin commented on #11768
Hi @galderz do you think this issue can now be resolved now that we've merged #11807 ? thanks

[2020-09-02 12:51] aloubyansky opened #11819 "Bootstrap Maven: consult MAVEN_OPTS for relevant options"
Our current bootstrap code initializes the maven context from MAVEN_CMD_LINE_ARGS env var which is set by the `mvn` script and represents the command line that launched the maven build process.
However, it's not uncommon to use MAVEN_OPTS env var to set system properties (e.g. maven.repo.local, etc) and other relevant options. The value of this variable is not added to the value of MAVEN_CMD_LINE_

[2020-09-02 12:51] sberyozkin commented on #11768
Sorry, may be I've misread your last comment above...

[2020-09-02 12:51] aloubyansky commented on #11101
I created https://github.com/quarkusio/quarkus/issues/11819

[2020-09-02 12:53] sberyozkin commented on #11753
@vsevel Hi Vincent, can you clarify please ?

[2020-09-02 12:53] BastianSperrhacke-Otto commented on #11818
I have also a workaround:
1. Create a persistence.xml (which seems to be picked up by quarkus):

<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistenc

[2020-09-02 12:55] aloubyansky commented on #11813
I guess it's all the same cause https://github.com/quarkusio/quarkus/issues/11101#issuecomment-685703481

[2020-09-02 12:58] sberyozkin commented on #11543
@JChrist Thanks it should probably be reported to the RestEasy team. Re `QueryParam` - it is only a guess, perhaps in RestEasy the headers and the queries processing is inter-related.

[2020-09-02 12:59] SlyngDK commented on #7451
I have created an extension inspired by the logstash-logback-encoder, it is just a POC.
I have implemented some of the basic logging data, it's using jackson for the json part.
It's also possible to extends your own custom json.
Be aware slf4j jboss bridge is not forwarding parameters/arguments, in version 1.2.0 [PR to fix](https://github.com/jboss-logging/slf4j-jboss-logging/pull/10)

Is it somet