[2019-04-25 19:38] johnaohara commented on #2223
@dmlloyd what is the default log category? I have tried setting `quarkus.log.level=INFO` but I was still seeing these strack's in the profiling data

[2019-04-25 19:45] LightGuard commented on #2200
@FroMage is this something in the main repo? Are there examples I should be emulating?

[2019-04-25 19:50] dmlloyd commented on #2223
Can you share your whole configuration?

[2019-04-25 19:52] johnaohara commented on #2223
[code]

[2019-04-25 21:07] dmlloyd commented on #2223
Normally the log level is inherited from enclosing category to enclosed category.  However the log configuration that is actually used at run time is an accumulation of log levels set by configuration and by extensions.  In particular there is a possibility that some log categories are being overridden for some reason.

Another possibility is that there is simply a bug, in logging or in SVM itself

[2019-04-25 21:33] starksm64 commented on #2222
I can't see how it would be an expected behavior. I guess the question is why it would happen. I certainly would call it a bug at this point. Some extension is not declaring the dependency adequately to the native layer. Is this a possible dead code elimination issue that requires SVM specific call?

[2019-04-25 22:20] dmlloyd commented on #2223
@johnaohara can you build with #2228 included, then set `quarkus.log.diagnostic.enable=true`, and then hit your native image runner process with a SIGQUIT?  It will tell you exactly how every logger and handler in the system is configured.

[2019-04-25 23:32] johnaohara commented on #2223
I ran with a build of #2228 and this is the output;

https://gist.github.com/johnaohara/e0877d60118a4393135b1a9eda7cacbd

I also ran a simple byteman rule;

[code]
In JVM mode, the rule logged;
[code]

In Native mode, the rule logged;
[code]

[2019-04-26 00:48] brunoborges opened #2229 "Augmentation uses http.port if set instead of default http.test-port"
If `application.properties` has `quarkus.http.port` set (e.g. `80`) alone, then augmentation during build will try to start the server in this port instead of default value in `quarkus.http.test-port`.

Workaround is to manually set `quarkus.http.test-port` as well.

[2019-04-26 02:27] vadly commented on #2217
here is mycode, in resources,
/// CustomerResource.java ///
`package org.acme.config;

import org.acme.dto.CustomerDto;
import org.acme.service.CustomerService;

import javax.inject.Inject;
import javax.validation.Valid;
import javax.ws.rs.*;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.Response.Status;
import java.util.List;

@Path("/api/v1/customer

[2019-04-26 02:41] thiagolocatelli commented on #2143
+1 for this. Quarkus could make available a class similar to io.quarkus.runner.GeneratedMain for development/debugging purposes. I am not sure what exactly goes inside this GeneratedMain, but it could be a simplified version or something like that, just to give developers a chance to run and debug within an IDE.

[2019-04-26 03:27] vadly commented on #2217
i had try to add ErrorMapper.java class with implements ExceptionMapper<Exception>
and solved the problem before.
thanks @geoand, hehe

the code like this:
`package org.acme.exception;

import javax.json.Json;
import javax.ws.rs.WebApplicationException;
import javax.ws.rs.core.Response;
import javax.ws.rs.ext.ExceptionMapper;
import javax.ws.rs.ext.Provider;

@Provider
public class ErrorMapper imp

[2019-04-26 05:33] enbohm opened #2230 "OpenAPI hidden property not hidden"
The following POJO annotated with a property declared as hidden in OpenAPI (``` @Schema(hidden = true) ```) is still visible in the final OpenAPI document

[code]

In SwaggerUI it looks like this, i.e. the hidden property is visible which is wrong.

![quakus-hiddenproperty](https://user-images.githubusercontent.com/4103786/56785335-02045e80-67f5-11e9-8b5b-b5a119815584.png)

The openAPI yaml file l

[2019-04-26 06:06] sebastienblanc commented on #2222
Should I open a separate issue for this ?

[2019-04-26 06:31] manovotn commented on #467
So what we currently have in SR for transactions isn't good enough? I thought Quarkus uses Narayana as well and we had some example with async there (the fullstack test I think?).

So we want to leverage one big pool from quarkus and allow to build all `ManagedExecutor` instances from that? If so then it's going to be quite difficult to manage several ME instance and their limitations on top of th

[2019-04-26 06:39] manovotn commented on #467
If you mean `javax.interceptor.InvocationContext`, then you can use the data there (`getContextData()`) to pass some key/value throughout the interceptor invocation chain.

[2019-04-26 07:00] Dufgui commented on #2230
I will take a look at it.

[2019-04-26 07:20] stuartwdouglas commented on #2229
Where are you observing this? Is this using @SubstrateTest, @QuarkusTest or @QuarkusUnitTest?

This code in question does `return launchMode == LaunchMode.TEST ? testPort : port;` so I am not sure why this would be happening.

[2019-04-26 07:32] ppalaga commented on #2207
Blocked by the current issue: https://github.com/quarkusio/quarkus-quickstarts/issues/166

[2019-04-26 07:34] emmanuelbernard opened #2231 "Improve security guides (or impl) for Quarkus users"
I have been discussing with @stephanj about Quarkus and security recently.
He pointed me to the following blog post. He found the explanations and features great.
https://piotrminkowski.wordpress.com/2019/04/25/micronaut-tutorial-security/

We have likely all the features but maybe we don't explain them as nicely.
Today we have a general security guide https://quarkus.io/guides/security-guide Whic

[2019-04-26 07:59] stephanj commented on #2231
In addition, an example article/document where OAuth is used (with Twitter or Google) would be really helpful.  And if I can stretch my luck... one with and without KeyCloak :)

[2019-04-26 08:01] FroMage commented on #467
Well, propagation is one thing, but we also have to make sure the server part that commits/rollbacks transactions is done at the end of the async request, and not earlier. So that's outside the scope of the thread provider, but still has to be done.

Why would it be harder? They just use another executor service provided by quarkus. Makes it safer to use.

[2019-04-26 08:02] FroMage commented on #467
Yeah, but I want to pass the value from the `UndertowDeploymentTemplate` and I've no access to the interceptor context there. Only the request context.

[2019-04-26 08:08] rsvoboda commented on #2225
@emmanuelbernard I don't think `component:resteasy` is valid label here, websockets are handled by undertow.

[2019-04-26 08:13] ppalaga commented on #2215
Looks like a duplicate of https://github.com/quarkusio/quarkus/issues/2218

[2019-04-26 08:23] emmanuelbernard commented on #2225
There is no undertow labelso I did my best. But I want to discuss a bit labels soon

[2019-04-26 08:26] sebastienblanc commented on #2231
I agree that some consolidation must happen around these 3 guides but not an easy task. As you said, let's start to identify the common parts like :

* The explanation of the annotation `@RolesAllowed` , `@PermitAll` etc ..
*  The common configuration (but this needs also some refactoring like you mention in 5)

Then we could make specific sections for `basic` (or `elytron` this must also been cla

[2019-04-26 08:34] emmanuelbernard commented on #2231
The first thing I see in the guide is the fat configuration table (see https://quarkus.io/guides/jwt-guide)

[2019-04-26 08:35] rsvoboda opened #2233 "Camel extension is too verbose on default log level"
14 log entries during the boo, details taken from camel-java quickstart.
Some are duplicates, some could be probably on debug level

`io.qua.cam` entries from boot sequence
[code]

[2019-04-26 08:38] emmanuelbernard commented on #2231
In a lot of cases, you can just use the jwt extension. The token can be issued by any idm server , like Keycloak server. You can take a look at my example here : https://github.com/sebastienblanc/quarkus-quickstart and I think @starksm64 is also writing a new quickstart showing this.

I do understand that it's not the Keycloak nor the JWT extension core feature to generate a JWT token.
I was just

[2019-04-26 08:38] sebastienblanc commented on #2231
Yeah maybe it should be at the end of the guide (or moved to a general `Quarkus Reference Documentation` when there will be one)

[2019-04-26 08:38] emmanuelbernard commented on #2231
I mean a Quarkus REST client talking to a secured service.

[2019-04-26 08:40] emmanuelbernard commented on #2231
Not necessarily the end but after the "getting started" proper.Like this for example https://quarkus.io/guides/hibernate-orm-guide

[2019-04-26 08:42] sebastienblanc commented on #2231
Ah I see, and yes that would be great and with Quarkus it's so easy, in my example I'm using the rest client in combination with the `propagateHeaders` feature : https://github.com/sebastienblanc/quarkus-quickstart/blob/master/quarkus-rest-username/src/main/resources/application.properties#L3

So you have nothing to do beside calling your secured service.

[2019-04-26 08:48] sebastienblanc commented on #2231
For 1. I think it's still relevant to have it. People might want to try out quickly the `jwt` extension and they don't want to set up a whole identity Server.
For 2. I think Nimbus is for now enough to write tests.

[2019-04-26 09:06] emmanuelbernard commented on #2222
@starksm64 do you want to investigate the DCE hypothesis? Otherwise @kenfinnigan can you take that one?

[2019-04-26 09:09] emmanuelbernard commented on #2217
@vadly I'm trying to understand, you had a custom error mapper that was not doing the right thing? Or did you have to set an error mapper to do the right thing and fix your problem?

[2019-04-26 09:38] FroMage commented on #467
Ah, I succeeded with `ServletRequestContext.current()` but it means `quarkus-narayana-jta` has to depend on `quarkus-undertow`.

[2019-04-26 09:47] mkouba commented on #467
-1 :-(

[2019-04-26 09:53] FroMage commented on #467
Well, either that, or we make it an optional dependency, or we make an abstraction that can tell us if there's a request that turned async and how to get notified when it's done, OR WORSE we add support for async CDI interceptors ;)

[2019-04-26 09:54] FroMage commented on #467
Unless you have an other idea?

[2019-04-26 09:57] sberyozkin commented on #2231
There is a request to enhance MP JWT API with the portable builder API to get the tokens self-issued/generated, can be useful for the tests.  The only dilemma is whether to make that part of MP-JWT or of something independent.
As for combining Keycloak and MP-JWT, if we can make the tokens validated by the KC adapter later accessible from the user code via MP-JWT then we can say the combination is

[2019-04-26 10:06] #2215 closed

[2019-04-26 10:08] sebastienblanc commented on #2231
You mean being able to inject `JsonWebtoken` and also use `@Claim` when using the keycloak extension ? That would be awseome.

[2019-04-26 10:08] sberyozkin commented on #2144
@emmanuelbernard, in the example I typed above, one can't deduce that the 'body' requires an implicit @PathParam. It is a relatively rare case though. Sorry if I've missed your earlier point

[2019-04-26 10:19] lkrzyzanek opened #2235 "quarkus-quickstarts/hibernate-orm-resteasy Postgres for tests is not stopped during mvn package"
When following quick start https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-orm-resteasy#building-the-demo then `mvn package` correctly start the postgres for tests but doesn't stop it.
It leads to error when trying to run the demo by `docker run ....  postgres:10.5`
[code]

The fix is easy - just attach `docker-stop` execution to `prepare-package` phase instead of `post-inte

[2019-04-26 10:28] johnaohara commented on #2223
@dmlloyd Have been debugging another native image issue today, and have logged these exceptions during a native image build;

[code]
When I start the process in JVM mode, I do not see those NoSuchMethodException java.util.logging.* classes

[2019-04-26 10:47] sberyozkin commented on #2231
@sebastienblanc yes, exactly.

[2019-04-26 10:51] lordofthejars opened #2237 "@Metric annotation requires @Inject too"
`@ConfigProperty` field doesn't need to be annotated with `@Inject` although the spec says that the field should be annotated with `@Inject`. In case of `@Metrics` the spec says that `@Inject` should be used too. In Quarkus, if you do not use `@Inject` along with `@Metrics` the field is null.

I think that following the convention started in `@ConfigProperty`, `@Metrics` should not need to be anno

[2019-04-26 11:22] lburgazzoli opened #2238 "High memory usage and OutOfMemoryError"
I have an application that I run with -Xmx300m -Xms150m -Xmn8m in both jvm and native mode and I monitor rss with the following command: mailing list

    ps ax -o pid,rss,command | numfmt --header --from-unit=1024 --to=iec --field 2

When running in JVM mode I see the RSS being almost stable around 120 MB but when running in native mode the RSS starts at 55 MB and grows of ~50 MB for each invocat

[2019-04-26 11:23] lburgazzoli commented on #2238
@johnaohara thi si the issues we have been talking about this morning on zulip.

[2019-04-26 12:08] dmlloyd commented on #2223
That's very interesting, especially considering that:

This tells us that `isTraceEnabled` is not agreeing with what the physical log level actually is.  Can you test to see what `java.util.logging.Logger.getLogger("org.hibernate.loader.entity.CacheEntityLoaderHelper").getLevel()` returns?  I'm starting to think that the problem is the caching in `org.hibernate.loader.entity.CacheEntityLoaderHelpe

[2019-04-26 12:10] dmlloyd commented on #2223
That's pretty normal I think.  Native image mode aggressively initializes classes that might not be initialized in JVM mode, so it's possible that extra probing is happening; based on the methods reported I'd say that it's probably MP-config probing the classes to establish implicit converters.  Though the `toString` one is pretty weird as that method is defined on `Object` (unless it's looking fo

[2019-04-26 12:13] mkouba commented on #2237
Actually, I wonder if we should generalize this feature so that any injection point field annotated with a qualifier could omit the `@Inject` annotation. Hm, but `org.eclipse.microprofile.metrics.annotation.Metric` is not a qualifier although it is used as a qualifier (?). Well, we could reformulate: any quarkus extension is allowed to specify annotations for which `@Inject` is added automatically

[2019-04-26 12:15] lordofthejars commented on #2237
Yes that would be great, maybe we can close this and open the generic one?

[2019-04-26 12:20] dmlloyd commented on #2223
Just to get into a little more detail here - this field was probably created to avoid repeated calls of `isTraceEnabled` in the first place.  However beyond the initialization time problem we're apparently running into, `isTraceEnabled` is normally very performant so this kind of optimization should not be necessary.  In addition I previously experimented with applying `@ForceInline` to level chec

[2019-04-26 12:26] mkouba commented on #2237
No need to close the issue. I'll try to prepare something.

[2019-04-26 12:28] #1477 closed

[2019-04-26 12:28] #2199 closed

[2019-04-26 12:55] johnaohara opened #2241 "PrintAnalysisCallTree cause a lot of heap allocation during native image build"
By default we enabled  -H:+PrintAnalysisCallTree for native binary builds.  For a simple rest-crud application (https://github.com/johnaohara/rest-http-crud) during a native image build;

1) With -H:+PrintAnalysisCallTree; 47.87GB of objects are allocated to the heap
2) Without ; 36.02GB of objects are allocated on the heap

Disabling this option by default would save us 11.85GB of heap allocation

[2019-04-26 13:17] FroMage commented on #467
@manovotn so about the managed executors, what I want to be able to do is to make sure that users don't go around creating executor services and thread pools when quarkus has a thread pool for that. Now, I can do it two ways:

- Extend SmallRye-CP so that if a certain (new) service provider is found, we delegate all managed executor building to it, and Quarkus would return managed executors that u

[2019-04-26 13:26] manovotn opened #2243 "Arc - allow to modify injection points"
Currently, Arc doesn't allow to modify injection points, e.i. doesn't have an equivalent of what CDI's `ProcessInjectionPoint`. It would be handy to have something like this in place.

The idea is to introduce a separate `BuildExtension` which will allow inspection of all injection points. Some helper methods with filtering wouldn't hurt either (as you are usually interested in IPs of given type o

[2019-04-26 13:27] dmlloyd commented on #467
There could be good reasons to allow users to make separated thread pools.  Solution 2 seems better in that regard, though I don't know if we want to support doing it programmatically (as opposed to having e.g. named thread pools configured in the configuration the same way the built-in pool is configured).  Either way though, we would want all managed executors to use our thread pool implementati

[2019-04-26 13:35] manovotn commented on #467
@FroMage for the extension from SR CP I talked to Martin and this is nor currently possible. I created https://github.com/quarkusio/quarkus/issues/2243 to allow Arc to do that. Once that's in place, it should be pretty easy to achieve.

As for the executors, I understand what you want to do and why, I just don't see how you are doing to control, say, 5 different `ManagedExecutor` instances which a

[2019-04-26 13:40] manovotn commented on #467
Not being able to shut down the executor is against spec BTW.
I also don't understand what do you mean by "impossible to create new thread pools via this mechanism"? If you use the builder pattern to create new one, what happens?
You are supposed to be able to have several different executors each of which has varying settings as maxAsync and maxQueued.

-1, this solves next to nothing and you are

[2019-04-26 13:50] dmlloyd commented on #467
So it sounds like MP-CP supports wrapping the same pool with multiple different executors?  I guess I missed that. :)

Would that be in addition to the ability to define separate underlying pools?

[2019-04-26 13:56] FroMage commented on #467
Yeah, and the IBM implementors told us that's what they're doing. Which makes a lot of sense IMO.

[2019-04-26 13:59] tcollignon commented on #2199
Wow thx I will try this

[2019-04-26 13:59] FroMage commented on #467
I guess I'll find a "view" executor service somewhere on stack overflow ;) It's bound to exist. Or we make a single injectable `ManagedExecutor` that uses the Quarkus thread pool and does not care about min/max settings (it can't be configured itself), and then any users of the API who create ManagedExecutors will get new thread pools.

[2019-04-26 14:00] FroMage commented on #467
Pretty sure it's not, for pre-defined container-managed executors. IBM said they were doing exactly this and it makes a lot of sense.

[2019-04-26 14:01] dmlloyd commented on #467
So maybe this is a dumb question, and if so I apologize, but: what happens when you shut down an executor which is wrapping a pool that is shared?  Surely it's allowed to just shut down the wrapping executor?

I think I already have some code in `jboss-threads` that might be reusable for this purpose.  If not though, it's not really difficult to implement.

[2019-04-26 14:03] FroMage commented on #467
I'll go ahead and claim that you can't shut down a container-managed executor. It should either silently pretend to be shut down and do nothing, or throw.

[2019-04-26 14:06] emmanuelbernard opened #2244 "Find a solution for Panache active record to be competitive in these situations"
[code]

I understand the argument that one should validate the JSON entry anways and straight entity reattachment would be banned, we could achieve such validation via Bean Validation annotations and thus be safe when using such model.

Today Panache has no update nor merge option making it less competitive to this kind of example

[code]

[2019-04-26 14:07] emmanuelbernard commented on #2244
@FroMage

[2019-04-26 14:10] FroMage commented on #2244
We can totally expose `merge()`, but that's promoting a bad style that has security implications. So if we do expose it, that's only on the grounds that we can't prevent people from shooting themselves in the foot, but we can't possibly be advertising that strategy IMO. That's good for a demo, not for a real app.

[2019-04-26 14:20] manovotn commented on #467
What I meant is that you need to pretend you did shut it down, basically keep a boolean around and forbid any further use once user called shutdown. There are some TCKs for this I think. Obviously, you are not going to kill whole Quarkus tread pool on a whim ;-)

[2019-04-26 14:24] manovotn commented on #467
Making just one defeats the purpose - you might as well then use `ThreadContext` and delegate on Quarkus thread pool directly. Having several differently set executors has its use cases.

The view layer is IMO best approach, so if it ain't that difficult, all the better!

[2019-04-26 14:24] kenfinnigan commented on #2222
Is it just that `quarkus-smallrye-jwt` needs to have a dependency on `quarkus-jsonb`, or `quarkus-resteasy-jsonb`?

[2019-04-26 14:28] FroMage commented on #467
Frankly I don't think min/max make _any_ sense if the underlying thread pool is shared and container-managed. I can't think of any use-case for that.

What I can totally accept is that there may be need for several `ManagedExecutor` if Quarkus gains multiple thread pools. Vert.x has a worker pool and an IO pool, for example.

Well, if you _really_ want to call `async` methods (and frankly in tests

[2019-04-26 14:30] dmlloyd commented on #467
Well I mean if we do support "view" executors with their own tasks, limits, etc. then it makes sense to be able to shut down the "view", including things like returning submitted-but-not-run tasks from `shutdownNow` etc.  I think it's probably going to be somewhat more complex than just a boolean though.

I think both should be supported.  A view layer works well for many cases, but separate pools

[2019-04-26 14:59] sebastienblanc commented on #2222
`quarkus-resteasy-jsonb`

[2019-04-26 15:05] kenfinnigan commented on #2222
`quarkus-jsonb` doesn't work?

[2019-04-26 15:06] mathianasj commented on #1640
I took a quick look and it looks like that would be better, especially since it does not require reflections.

[2019-04-26 15:06] #1640 closed

[2019-04-26 15:09] sebastienblanc commented on #2222
No, I just tried to compile natively with just adding `quarkus-jsonb` but it fails.

[2019-04-26 15:11] kenfinnigan commented on #2222
That's really weird, as the reflective access for `JsonBindingProvider` is added in `quarkus-jsonb`, which `quarkus-resteasy-jsonb` depends on

[2019-04-26 16:35] emmanuelbernard commented on #2244
@FroMage I think that for the active record pattern, update is better that merge which has a "possibly copy on write" semantic. so the returned entity (the managed one) might not be the instance you passed in.
For the repository, merge is nicer as it's closer to JPA semantics.

So you don't buy my idea of Bean Validation validating the input?

[2019-04-26 16:40] emmanuelbernard commented on #2235
Moved to https://github.com/quarkusio/quarkus-quickstarts/issues/171

[2019-04-26 16:40] #2235 closed

[2019-04-26 16:45] aloubyansky opened #2247 "Bootstrap maven initializer does not handle profile activation configs"
If a profile config in settings.xml includes an activation config, unless it's activeByDefault=true (or explicitly activated using -P or --activate-profiles args), the bootstrap maven initializer will ignore it.

[2019-04-26 16:59] starksm64 commented on #2231
We should look at having the smallrye-jwt extension be able to perform the JsonWebToken and @Claim injection whenever there is a MP-JWT compatible bearer token source. The keycloak extension should just enable this when the adaptor is configured with that type of bearer token.

The thing that needs to be reconciled is the authenticated user account representation that the JsonWebToken and @Claim i

[2019-04-26 17:45] brunoborges commented on #2229
I got a plain project with one REST endpoint, and running in JVM mode.

[2019-04-26 18:13] starksm64 opened #2249 "Wrong level of log message in HystrixInitializer"
I'm seeing the HystrixInitializer print out INFO level messages during shutdown of an app that includes the quarkus-smallrye-fault-tolerance extension:

[code]

That seems like unnecessary noise to be printing out.

[2019-04-26 18:26] gsmet commented on #2249
We have a couple of filters here: https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java#L141 .

But for the ones in SmallRye Fault Tolerance itself, we should probably fix it in SmallRye and get rid of them if they are deemed too verbose for the default SmallRy

[2019-04-26 18:27] #2237 closed

[2019-04-26 18:32] LightGuard commented on #2243
I would find this interesting. With what we currently have in Quarkus and the ability to process injection points, we'd have the majority of useful CDI bootstrapping in place.

[2019-04-26 18:38] gsmet commented on #2230
I suspect it's an issue in SmallRye OpenAPI, not in Quarkus itself.

[2019-04-26 18:58] tcollignon commented on #2199
Hi, I have test with SNAPSHOT, and it's good for live reload mode !  thx you !!

I have test also with graalvm (RC15) and quarkus snapshot and sadly it doesnt't work, same issue that I have describe in first comment.

I have updated my project to add missing annotation : https://github.com/tcollignon/quarkus-jaxb-test/commit/45bc43fcccbff96ce6fb61fbceec0e8b798e0096

[2019-04-26 19:13] gsmet opened #2250 "Include the javax.xml.bind.helpers.Messages resource bundle in the JAXB extension"
It's useful when you have errors as the error message are coming from the resource bundle.

[code]

[2019-04-26 19:17] gsmet commented on #2199
The error is not the same:
[code]

[2019-04-26 21:28] Dufgui commented on #2230
Yes, it seems...
during the scan (OpenApiDataObjectScanner), it 's not filtered in depthFirstGraphSearch neither in AnnotationTargetProcessor.processField. The method readSchemaAnnotatedField handle hidden attribute but what ever the hidden status, it's add after in the shema:
`parentPathEntry.getSchema().addProperty(entityName, fieldSchema);`
So I create a issue in smallrye openapi
https://github

[2019-04-27 07:37] jskov opened #2251 "Maybe split quarkus-bootstrap-core?"
I am able to run quarkus integration tests from Gradle now.

But I cannot run them from Eclipse, because BootstrapAppModelResolver and BootstrapClassLoaderFactory only have a Maven backend to rely on.

What is the best way to add Gradle support?

Maybe split Maven code in quarkus-bootstrap-core into a new quarkus-bootstrap-core-maven project, to be looked up, maybe via java.util.ServiceLoader? Thi

[2019-04-27 10:01] jskov opened #2253 "Integration test cannot be run from Eclipse"
Integration tests fail to run from inside Eclipse, because PathTestHelper assumes either Maven or Gradle as builder.

I have a fix for this.

[2019-04-27 10:17] Dufgui commented on #1232
I do a MR but i remove name resolution. Not sur it’s a Good idea

[2019-04-27 11:08] tcollignon commented on #2199
Hi thx for the tips I will try to see If I find another things with this . The feed.xml is just for the unit test, in my real case I connect to an URL who give me real RSS feed, and the URL is define in application.properties. Maybe I need to add this case in my github example project

[2019-04-27 21:26] Dufgui commented on #1938
I do it, just as defined but I have another format proposal. The artifact id is important, and i prefere to not put inside parenthesis. So here is my format proposal:
`[INFO] 	 * resteasy-jsonb : RESTEasy - JSON-B => https://quarkus.io/guides/rest-json-guide`
or
`[INFO] 	 * resteasy-jsonb : RESTEasy - JSON-B > https://quarkus.io/guides/rest-json-guide`

You can merge directly if the previous forma

[2019-04-28 07:32] pcasaes opened #2258 "Failure to startup with io.quarkus:quarkus-smallrye-reactive-messaging-kafka extensions"
Error during startup:

`Caused by: javax.enterprise.inject.spi.DefinitionException: Normal scoped beans must declare a non-private constructor with no parameters: CLASS bean [types=[io.smallrye.reactive.messaging.impl.StreamFactoryImpl, java.lang.Object, io.smallrye.reactive.messaging.StreamFactory], qualifiers=[@Default, @Any], target=io.smallrye.reactive.messaging.impl.StreamFactoryImpl]`

To re

[2019-04-28 07:45] geoand commented on #2219
Reading [this](https://github.com/takari/takari-maven-plugin/pull/17) from my phone, it looks like it should be possible to do some things. I'll be able to take a closer look next weekend.

[2019-04-29 03:31] gbengataylor opened #2262 "OpenAPI spec not generated correctly when JSR303 Bean Validation annotations used"
When a JSR303 annotation is used on the RequestBody of REST operation, the paths.{operation}.requestBody is not generated in the swagger documentation

This code was tested with OpenJDK Runtime Environment (build 1.8.0_161-b14) and Quarkus 0.14.0.

[code]

This is the generated OpenAPI spec
[code]

[2019-04-29 06:00] johnaohara opened #2263 "Create Byteman Extension"
Create extension to allow injecting byteman rules in to native binary

[2019-04-29 08:09] mkouba opened #2264 "Configuration guide - incorrect description of injecting non-existing properties"
The guide: _"If you do not provide a value for the first property, it will have a null value."_ However, injecting a non-existent property results in `DeploymentException` during app startup, i.e. something like `No config value of type [class java.lang.String] exists for: greeting.message`.

This behavior is defined by the MP Config spec.

[2019-04-29 08:13] johnaohara commented on #2241
Native image build time (for rest-crud application) also reduced from 103771 ms to 84908 ms (~20% reduction)

[2019-04-29 08:54] #2247 closed

[2019-04-29 08:55] FroMage opened #2266 "Hibernate ORM (and Panache) guide should mention `@Transactional`"
Since the annotation is mandatory for write operations, we should mention it as a note on both the Hibernate ORM and Panache guides.

[2019-04-29 09:07] #2264 closed

[2019-04-29 09:10] mkouba commented on #2258
This is a bug in `smallrye-reactive-messaging`:
https://github.com/smallrye/smallrye-reactive-messaging/issues/97

[2019-04-29 09:16] mkouba commented on #2249
+1 for debug level. I've created https://github.com/smallrye/smallrye-fault-tolerance/issues/76.

[2019-04-29 09:18] mejlholm opened #2267 "Two beans with @Scheduled causes jaeger metrics error"
There seems to be an issue with the combination of two (or more) beans using @Scheduled with @Traced at the same time.

Quarkus 0.14
Mvn 3.6.1
Java 11
GraalVM not relevant

Trigger using code sample in this repository:
https://github.com/mejlholm/quarkus-scheduled-error

Though it seems to be an issue with @Traced and @Scheduled in two @ApplicationScoped beans at the same time.

Triggers this erro

[2019-04-29 09:29] FroMage commented on #467
Where? @dmlloyd ? Not immediately locatable in https://github.com/jbossas/jboss-threads/tree/master/src/main/java/org/jboss/threads

[2019-04-29 09:31] FroMage commented on #467
So the funny thing is that the servlet async listener gets notified of completion/error but its notion of error is different to the notion of user error: if RESTEasy maps the exception to a Response then it will not throw to the container, and so the servlet async listener sees completion but no error. That's not acceptable in our case, because here it would mean the transaction interceptor does n

[2019-04-29 09:46] lordofthejars opened #2269 "Random port configuration of port in tests"
Currently, there is one property called `quarkus.http.test-port` where you can set the port number where to start the Quarkus server, but we should provide a special char for setting a random private port (49152 through 65535)

I purpose something like `quarkus.http.test-port=$`

This is important for allowing the system to execute tests in parallel.

If agrees I can send a PR.

[2019-04-29 09:51] mkouba commented on #2267
Hi @pavolloffay, could you pls take look at this one?

[2019-04-29 10:46] ppalaga opened #2270 "The datasources are not ready to be consumed when injecting a DS to CamelLifecycle"
Injecting a `DataSource` into a `CamelLifecycle` fails with the exception below. I am injecting the datasource to be able to bind it to a name in the Camel registry https://github.com/ppalaga/quarkus/blob/e8253198085073559bf35bfc9a0002ab2d83faec/integration-tests/camel-jdbc/src/main/java/io/quarkus/it/camel/jdbc/CamelLifecycle.java#L38

I assume that should work, @gnodet @lburgazzoli ?

[code]

He

[2019-04-29 10:52] ppalaga commented on #2270
If injecting a `DataSource` into a `CamelLifecycle` should work, I'd appreciate any hits how to fix that.

[2019-04-29 10:53] aloubyansky commented on #2251
I guess that's because there is still pom.xml in place and/or deployment.cp.

That was the idea initially.

deployment.cp is supposed to be an optional file, an optimization. Perhaps we'll have to consider that or something like that as an option.

[2019-04-29 12:24] dmlloyd commented on #467
I was thinking of https://github.com/jbossas/jboss-threads/blob/2.x/src/main/java/org/jboss/threads/OrderedExecutor.java which was deleted in the current master.  But upon reread it looks like this doesn't do what I remember it doing (it's focused on sequential execution rather than being an actual "view").

[2019-04-29 12:28] FroMage commented on #467
OK thanks, pity.

[2019-04-29 12:29] dmlloyd commented on #467
If you guys want me to, I can look into implementing a view executor.  I have a pretty clear idea of what is involved, at any rate.

[2019-04-29 12:42] FroMage commented on #467
I'd love if you could, because you would have to review my bug-ridden code and fix it anyway and it would take longer ;)

[2019-04-29 12:50] gnodet opened #2273 "Possible NPE in camel extension"
The fast type converter registry receive an instance of the injector after the init event is fired so in case the type converter registry is used be the event handler it results in an npe.

[2019-04-29 12:54] dmlloyd commented on #467
Okay :)

Should I just add it to `jboss-threads` or is there a place you prefer it to be located?

[2019-04-29 13:03] FroMage commented on #467
Dunno, should I use it or copy it? Is jboss-threads already a dependency of quarkus-core?

[2019-04-29 13:13] dmlloyd commented on #467
It is.  We use it for the thread pool implementation already.

[2019-04-29 13:18] Sanne commented on #2223
hi @dmlloyd , allow me to confirm a bit of history. My knowledge might be out of date, happy to change things but I'd be careful with that.

we have witnessed some performance issues with`isTraceEnabled` in extreme cases; I know it's _normally_ very cheap, but these have been identified by the perf team in the past (@johnaohara but not only, not sure who was involved back then).

The decision back

[2019-04-29 13:19] dansiviter opened #2274 "ArC does not permit the use of 3rd Party CDI libraries"
According to the [CDI Reference#Limitations](https://quarkus.io/guides/cdi-reference.html#limitations):

Therefore, it is not possible to use CDI libraries such as Apache DeltaSpike that utilise the `javax.enterprise.inject.spi.Extension` mechanism.

Although this is documented (via #559), not implementing the CDI specification causes integration and migration headaches as it requires re-implement

[2019-04-29 13:22] dmlloyd commented on #2223
I'd say it's out of date, probably.  The level checks should normally be inlined by JIT as they are monomorphic and below even small thresholds; it *should* boil down to a single volatile field read.  In any event, it's *definitely* a performance problem now, so... :)

[2019-04-29 13:27] dmlloyd commented on #2207
I lied, going to discuss in #2272 .

[2019-04-29 13:28] dmlloyd commented on #2207
What if instead of reverting this, we added an alias for the `map` field in the substitution class?

[2019-04-29 13:32] johnaohara commented on #2223
@Sanne @dmlloyd I currently have a 5.4.2 build with isTraceEnabled() caching removed.  I am running a native test atm, which is showing an improvement in throughput.  I will run a JVM test comparing 5.4.2 with caching and 5.4.2 without caching.  I can also double check that calls to isTraceEnebaled() are being inlined.

[2019-04-29 13:34] Sanne commented on #2223
well Quarkus is not the only runtime we have to support, and also Quarkus will need to support other libraries which might want to do similar things, so I don't think "dodging" such a problem by having ORM change its code is the right approach.

we know that, still this problem we had wasn't too old, maybe just one year ago, so there's more to it.

Anyhow: this is a widespread practice in several

[2019-04-29 13:34] Sanne commented on #2223
@stalep remembers more details maybe ? ^

[2019-04-29 13:37] FroMage commented on #467
OK, in that case that's already a dependency of anything Quarkus, then yes that's a fine place.

[2019-04-29 13:39] dmlloyd commented on #2223
Maybe.  Hopefully John will turn up some more information.

It will have to be, unfortunately.  Caching these in static fields will never work in GraalVM due to its class initialization rules.  Even if it were moved to runtime init, the log level isn't decided until after logging is initialized, which happens after the configuration is read.  So it would still have the same problem in this case, b

[2019-04-29 13:51] ppalaga opened #2275 "Failed to locate current project when the current project is not a module of its parent"
cc @aloubyansky
Steps to reproduce:

1. Go to `integration-tests/pom.xml` and comment out any module, e.g. `<module>jpa</module>`
2. Build the module with `cd integration-tests/jpa && mvn clean validate`

Actual: the following exception happens:

[code]

Expected: Actually I'd expect the above to work simply because I do not remember to have seen a similar case when a maven plugin would require th

[2019-04-29 14:03] pedroigor commented on #2231
I agree with most of the items in that list, mainly those related with clarifications to documentation and the alignment between Keycloak extension and MP-JWT API/extension.

I've looked `micronaut-security-jwt` and the fact that you encourage self-issued tokens is not a good idea. It seems they are kind of trying to force some OAuth2 alignment (see the response and the idea of refresh tokens) whe

[2019-04-29 14:19] Sanne commented on #2223
good point re class initialization. I'm happy to merge @johnaohara fixes to ORM upstream, just keep in mind that we'll eventually find many more of such cases (and not exclusive to Hibernate) so if you all find a better solution in the future that would rock.

In particular, we could set Log categories to silent during native-image build?

I know it's not *correct* in the general sense, but AFAIK

[2019-04-29 14:29] ppalaga opened #2276 "Add support for Camel Undertow component"
Assigning to me.

Work in progress, currently containing an integration test: https://github.com/ppalaga/quarkus/commits/190429-undertow

[2019-04-29 14:35] ppalaga commented on #2276
For the record, the integration test currently fails with the following exception:

[code]

Cc @gnodet @lburgazzoli

[2019-04-29 14:53] johnaohara commented on #2223
Have chatted with Will Reichert on the perf team. Back in 2014, running specj Enterprise 2010, we observed `Jfrs where isTraceEnabled accounted for 8.5% of CPU samples`.  We also observed;

[code]

There were also a large number of calls to `org.jboss.logging.JBossLogManagerLogger.translate()`

This was the PR that was opened to track the hibernate changes: https://hibernate.atlassian.net/browse/H

[2019-04-29 15:38] emmanuelbernard opened #2277 "Improve extension author guide"
- [ ] Describe where to put APIs (runtime, deployment etc?)
- [ ] Describe where Substitutions and templates should live
- [ ] Dealing with META-INF/services files https://github.com/quarkusio/quarkus/issues/2299
- [ ] Offer a getting started section to ease the entry into Extension writing https://github.com/quarkusio/quarkus/pull/2406

[2019-04-29 15:55] #2207 closed

[2019-04-29 16:24] #2040 closed

[2019-04-29 17:08] mkouba commented on #2274
No, it's not a goal to implement all CDI features and pass the CDI TCK. CDI portable extensions are indeed very powerful yet they do not match the Quarkus "design philosophy" (build time metadata processing, reduction in reflection usage, etc.). We would like to provide the **build time extension points** for the most common tasks that are usually solved by CDI  portable extensions.

[2019-04-29 17:24] Holi60k opened #2280 "Injection does not work with interface based rest endpoint"
Hello,

I'm having a problem with this scenario. Tipically we are using interfaces for REST endpoints where the annotations are placed to the interfaces (JAX-RS and OpenAPI annotations), we like to make our implementations super clear.
I don't know if it is a Quarkus based practice or just not working but see the following code:
Project created with this line of codes:
[code]
We have an action, ju

[2019-04-29 17:33] kenfinnigan commented on #2280
It's possible that Arc doesn't support the use of `@Model`.

Can you try adding `@RequestScoped` to `UserResource` and see if that makes it work?

[2019-04-29 17:40] Holi60k commented on #2280
Yes, I have already tried ```@RequestScoped``` and ```@ApplicationScoped``` on ```UserResource``` and on the ```UserAction```.

If you guys need I can push this little thing to a repository, but can be easily copy it.
And yes! I'm using DEV mode, so I'm not using the native option, I'm stuck on Windows yet :)

[2019-04-29 17:42] kenfinnigan commented on #2280
Have you checked if the error occurs when executing the `-runner.jar`?

It might be a DEV mode only problem

[2019-04-29 17:45] dansiviter commented on #2274
This cherry-picking policy is causing more problems than it solves.

[2019-04-29 17:49] Holi60k commented on #2280
Using the ```-runner.jar``` still gives the error. :(

[2019-04-29 17:50] kenfinnigan commented on #2280
Might be a pain, but at least it's consistent.

If you can push a simple repository that would be great.

[2019-04-29 17:51] Holi60k commented on #2280
Of course, will link it in a few minutes.

[2019-04-29 17:55] Holi60k commented on #2280
Here it is @kenfinnigan https://github.com/Holi60k/quarkus-injection

[2019-04-29 17:56] kenfinnigan commented on #2280
Thanks!

@mkouba could take a look when you have a chance? Likely Arc related, but not entirely sure

[2019-04-29 18:08] Dufgui commented on #2262
it's a bug in smallrye openapi.
https://github.com/smallrye/smallrye-open-api/issues/90
I do a analysis and point the bug line

[2019-04-29 18:34] gastaldi opened #2282 "Ctrl+C does not kill the Docker build when running with -Dquarkus.native.container-runtime=docker"
In https://quarkus.io/guides/building-native-image-guide it says that you can build the native image using Docker with `-Dquarkus.native.container-runtime=docker`, however Ctrl +C doesn't kill the docker process.

[2019-04-29 18:48] gnodet commented on #1807
Yes, that's still the case.  Now that native works again, this can be investigated.

[2019-04-29 18:57] gbengataylor commented on #2262
thanks @Dufgui !

[2019-04-29 18:59] gbengataylor commented on #2262
it also doensn't generate if using ```@NotNull```

[2019-04-29 19:02] mkouba commented on #2280
Yes, it's related. When interface is used for JAX-RS annotations the `UserResource` bean is [removed](https://quarkus.io/guides/cdi-reference#remove_unused_beans) because we only exclude resource classes annotated with `@Path` (which is as a bean defining annotation [defined here](https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-server-common/deployment/src/main/java/io/quarkus

[2019-04-29 19:04] tcollignon commented on #2199
I have retry with your option, and with an URL like I said, but I have still the same error, I have updated my example to show new code if it can help ?

https://github.com/tcollignon/quarkus-jaxb-test/commit/74dcc7171f72a042b190bd58e419b1dc6422c7fa

[code]

[2019-04-29 19:05] Holi60k commented on #2280
Thank you @mkouba .

So does it mean, it will be fixed in the new version? :)

[2019-04-29 19:08] mkouba commented on #2280
Yes ;-)

[2019-04-29 19:10] Holi60k commented on #2280
Thank you! :)

[2019-04-29 19:21] gastaldi opened #2283 "Add an Edit button in the Guides"
This eases the contribution with minor fixes and typos

[2019-04-29 19:24] gastaldi opened #2284 "Permlink in the guides"
It would be awesome if each H2 entry in the guides had a permlink next to it (similar to what GitHub does with README.md files). Bonus points if a table of contents with links is generated too based on the document structure

[2019-04-29 20:41] #2250 closed

[2019-04-29 20:45] #2273 closed

[2019-04-29 21:19] #1321 closed

[2019-04-29 21:24] gsmet commented on #2262
yes, any annotation will make it fail.

[2019-04-29 21:32] gsmet commented on #2217
I think this one can be closed. Please reopen if I was wrong.

[2019-04-29 21:32] #2217 closed

[2019-04-29 21:35] gsmet commented on #2211
This is a duplicate of https://github.com/quarkusio/quarkus/issues/1656 .

We are trying to make progress upstream to hopefully support that in the future.

Please follow the other issue if you want some update when it's fixed.

[2019-04-29 21:35] #2211 closed

[2019-04-29 21:38] gsmet commented on #2125
@soberich Having both of them set doesn't hurt :).

@mertmr did you get it to work?

[2019-04-29 21:41] gsmet commented on #2092
This has been done.

[2019-04-29 21:41] #2092 closed

[2019-04-29 21:43] gsmet commented on #1900
Done in https://github.com/quarkusio/quarkus/pull/1983 .

[2019-04-29 21:43] #1900 closed

[2019-04-29 21:48] gsmet commented on #1840
@cescoffier any news on this one? It's really something we need. I'm sure we could find people to help if we had a design document.

[2019-04-29 21:50] #732 closed

[2019-04-29 21:52] gsmet commented on #1029
@rsvoboda we had a new report of this. Any chance you could take a look at how it's done in Maven? If they get it right, we can probably get it right too.

[2019-04-29 21:53] gsmet commented on #1708
@aloubyansky I just noticed this one. I saw several fixes that could be related, do you think it's fixed?

[2019-04-29 21:55] gsmet commented on #988
@dmlloyd is it supposed to work, now?

[2019-04-29 21:57] sberyozkin opened #2287 "Make Keycloak adapter interoperate with certified 3rd party OIDC IDPs"
As has been explained on the dev list by Sebastien, KC `auth-server-url` must point to the root of a Keycloak server for the adapter to be able to build the specific server URLs such as the token introspection endpoint or redirect URL, etc. As such the adapter is unlikely to be able to communicate with the certified 3rd party OIDC IDPs.
**Proposal**:
Introduce Quarkus specific properties, such as

[2019-04-29 22:10] gsmet opened #2288 "An empty entry is added in undefined List<String> config item"
If you have a config item that is a `List<String>` and you don't define any value for it, you end up with a list containing one empty string element.

The expected behavior is that the list should be empty.

See https://github.com/quarkusio/quarkus/pull/2095#issuecomment-487241692 and I also had the issue in the Hibernate Search extension.

[2019-04-29 22:26] Dufgui commented on #2262
If you Add a jsr303 annotations witb an @parameter. It will works. according  to the code

[2019-04-29 22:52] gsmet commented on #2288
I think it's an issue upstream in SmallRye Config: https://github.com/smallrye/smallrye-config/blob/master/implementation/src/main/java/io/smallrye/config/SmallRyeConfig.java#L59 .

We should check if the string is empty and return an empty collection if it is.

@kenfinnigan @dmlloyd does it make sense to you?

[2019-04-29 23:07] pcasaes commented on #2258
Tested against master branch on https://github.com/smallrye/smallrye-reactive-messaging
Issue resolved.

[2019-04-30 00:01] starksm64 commented on #2269
Just use 0 as that is the normal linux way of binding to a system defined random port and could just work on many systems.

[2019-04-30 03:26] cristhiank commented on #2288
@gsmet Actually I traced this error back to: https://github.com/quarkusio/quarkus/blob/a91a034b855cae3f8d474951cb33e8d05707dc13/core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.java#L28-L36

I added a fix in the Flyway PR, please let me know if it is ok there or I can open a new PR.

[2019-04-30 06:01] lordofthejars commented on #2269
Ok, then please assign me this issue and when I finish my current Quarkus issue, I'll start working on it.

[2019-04-30 06:06] mkouba commented on #2280
Actually, I'm just looking at the JAX-RS spec and it seems that only method-level annotations are inherited, **"3.6 Annotation Inheritance"**: _"JAX-RS annotations may be used on the methods and method parameters of a super-class or an implemented interface. ... Note that inheritance of class or interface annotations is not supported."_

In other words, at least the `@Path` annotation must be decl

[2019-04-30 06:36] #2275 closed

[2019-04-30 06:39] aloubyansky commented on #1708
Yes, this should be fixed now. Please, re-open in case there is still any issue with the workspace discovery. Thanks again @masini !

[2019-04-30 06:39] #1708 closed

[2019-04-30 07:11] Holi60k commented on #2280
Just a little note: This scenaria works with Thorntail based applications.

[2019-04-30 07:12] rsvoboda commented on #1029
I think this might be related to:

Info from https://github.com/quarkusio/quarkus/issues/1378#issuecomment-475193932

[2019-04-30 07:13] aloubyansky commented on #2006
@andreaneri if 0.14.0 still doesn't work for you for some reason, 0.15.0 is definitely going to work :) If you have a chance to try the current master branch, please do. That error does not exist any more.

[2019-04-30 07:24] rsvoboda commented on #1029
https://stackoverflow.com/questions/2048509/how-to-echo-with-different-colors-in-the-windows-command-line
[code]

Details on MSDN - https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences

[2019-04-30 07:30] jtama-op opened #2290 "Allow security passthrough"
Actually I don't know of it's a documentation issue, an extension issue or a feature request.

When using smallrye-health in combination with keycloak extension, health check resource become secured, which is certainly not the desired behaviour.

Keycloak extension does not provide a mechanisme I know of to permit all trafic for a given path, and PermitAll annotation can obviously not be applied o

[2019-04-30 08:12] mkouba commented on #2280
@Holi60k Ok, if RESTEasy does support this and no one has any objections we can make it work. However, I'd like to know what the expected behavior is.

[2019-04-30 08:56] rsvoboda opened #2292 "Pretty print of configuration errors"
Users can do (unintended) configuration errors and Quarkus should provide human (not only Java developer) readable message. Currently java stacktrace is provided.

I can imagine several cases
 - decimal instead of integer
 - typo in boolean
 - typo in name for enums/constants - e.g. log level

Quarkus is using MP Config via SmallRye Config code so there could be also an enhancement on that side.

[2019-04-30 09:06] gnodet commented on #2206
Fixed in #2273 / #2278

[2019-04-30 09:25] evacchi opened #2293 "Fallback Native Image rears its ugly head again"
In RC16 they apparently changed the flag to `--no-fallback` because the native-image compilation is now raising this warning:

[code]

the error goes away with

[code]

relates to https://github.com/quarkusio/quarkus/pull/2165

[2019-04-30 09:52] pmlopes commented on #1840
@gsmet the vertx mail client is now "reflection" free but it's still on master no releases yet, you can try going from there. The DKIM feature is still not implemented yet.

[2019-04-30 10:15] gsmet commented on #2288
@cristhiank let's make it a separate PR/discussion so that we can make progress on the Flyway PR independently. I think we would need to add a test in the test extension too so it's really a separate thing.

I think the issue is for the defaults and also for the values (this one is upstream). The behavior should be consistent IMHO.

I don't think your fix is right. You shouldn't filter all the emp

[2019-04-30 10:32] gsmet commented on #1840
@pmlopes OK, so I suppose we would need a release then.

But what I was asking was more about a plan on how to integrate it. Do we have Quarkus config to setup the mail config, if so what is necessary.

If we have some solid plan, I think it would be perfectly suited for a contributor.

/cc @cescoffier

[2019-04-30 10:42] evacchi opened #2294 "BootstrapAppModelResolver assumes that Maven packaging === extension"
Reproducer: https://github.com/evacchi/quarkus-maven-packaging-bug

Our Maven plugin uses the custom packaging type `kjar` and we're getting this error for `mvn compile quarkus:dev`

[code]

the error goes away if I `mvn install` the project before I `mvn quarkus:dev` which I assume is unexpected.

I have narrowed the reason [to this line in BootstrapAppModelResolver](https://github.com/quarkusio/

[2019-04-30 10:47] #2202 closed

[2019-04-30 11:15] cristhiank commented on #2288
Thanks @gsmet , I already reverted the Flyway PR to its original state

Yes, you are right, the default value is "" when the config property is a list

Yes, you are right, this will be way better.

I think it shouldn't, split should do only splitting, further checks are a caller's responsibility.

[2019-04-30 12:31] emmanuelbernard opened #2298 "Investigate cost of new GraalVM policy: static block run at runtime instead of build time init"
- [x] Make 19 run on Quarkus
- [x] Evaluate the cost of these blocks slipping from build time to run time
- [x] Make our main block (generated by Quarkus) a build time strategy
- [x] Optionally allow extensions to define that they are build safe except specific static

We need to define our default strategy for extensions: is extensions expected to be all build time except.

@dmlloyd I assign you

[2019-04-30 12:32] kenfinnigan commented on #2288
@gsmet I think the code as it stands essentially returns `collectionFactory.apply(0)`, albeit with a few redundant calls.

I took a look at `StringUtil.split()`, which is in SmallRye Config, and it returns a zero length array: https://github.com/smallrye/smallrye-config/blob/master/implementation/src/main/java/io/smallrye/config/StringUtil.java#L28

If we wanted to short circuit we could check the

[2019-04-30 12:33] FroMage opened #2299 "Extension author guide: explain how to deal with `META-INF/services` files"
https://quarkus.io/guides/extension-authors-guide#register-resources-for-use-in-native-image led me to believe I only needed to register the file, but actually I need to call `ServiceUtil` to register the contents of the file for reflection, at the very least.

[2019-04-30 12:36] stalep commented on #2223
I'm a bit late to this thread, I remember we added static booleans for logging in hibernate since the `.isEnabled` did cost a fair bit of cpu. AFAIK I only did it for hot methods, but this is so long ago my memory is hazy...

[2019-04-30 12:37] gsmet commented on #2288
@kenfinnigan in this case, the value is not null as it is defined by `default = ""` so it's an empty string.

If an empty string, AFAICS, you end up with a one element list, the element being the empty string.

[2019-04-30 12:38] kenfinnigan commented on #2288
So is it just a case of changing `StringUtil.split()` to check for empty as well?

I presume " " isn't intended to be a valid value? Or could it be?

[2019-04-30 13:35] #1807 closed

[2019-04-30 13:50] gsmet commented on #2270
@ppalaga could you check if https://github.com/quarkusio/quarkus/pull/2301 solved it for you. I run the your tests with success after having deployed this patch.

[2019-04-30 14:09] andreaneri commented on #2006
@aloubyansky 0.14.0 it work, thanks

[2019-04-30 14:09] andreaneri commented on #2006
@aloubyansky 0.14.0 it work, thanks

[2019-04-30 14:11] gsmet commented on #2006
Ah cool, thanks for confirming. Closing, then.

[2019-04-30 14:11] #2006 closed

[2019-04-30 14:18] FroMage opened #2302 "Hibernate ORM with Panache guide: mention regular HQL calls"
The doc should state more obviously that can can pass regular HQL and point to its documentation too.

[2019-04-30 14:23] emmanuelbernard opened #2303 "Add support for optional predicates in Panache"
What people use the example API for is for generic "search" screens that need to accept between 1 to n predicates depending on what the user as filled in. And the example API does allow to do such matching assuming the search fields are all in one entity as properties and by adding side metadata on what property needs to be ignored, ignored if null, have a trailing % in like etc.

The following Pa

[2019-04-30 14:28] FroMage commented on #2303
I like this. This also lets us use `or` instead of `and`, right?

[2019-04-30 14:34] ppalaga commented on #2270
Yes, it does.

[2019-04-30 14:47] #1862 closed

[2019-04-30 14:50] gsmet commented on #2288
That's the big question and why I wasn't sure it could be fixed globally.

[2019-04-30 14:55] gsmet opened #2305 "JAXB not working properly with native images"
In https://github.com/quarkusio/quarkus/issues/2199 , we fixed the issue with live reload mentioned by @tcollignon but it's still not working for native images.

AFAICS, the issue is that the `package-info` required by JAXB is not included in the native image.

I opened https://github.com/oracle/graal/issues/1216 to get feedback from the GraalVM team.

The reproducer of @tcollignon is here: https:

[2019-04-30 14:56] gsmet commented on #2199
@tcollignon I opened https://github.com/quarkusio/quarkus/issues/2305 for the native image issue.

I couldn't find a solution for now. Will keep you posted in the other issue.

[2019-04-30 14:57] cristhiank commented on #2288
I would agree in this assumption.. I can't think in a case where someone wants an empty string as a configuration... but there will be always corner cases. I am in with including the fix in the split method as @gsmet suggested from start.

[2019-04-30 15:04] gnodet commented on #2233
I'm down to the following:
[code]

Those are standard camel logs, so in order to trim them down, we'd better change the log level in the config rather than rewriting those core classes.

[2019-04-30 15:38] prasrvenkat opened #2307 "Unit tests in gradle not running"
Opening it here just in case this needs fix. Please feel free to close.

I am trying to run the simple 'getting-started'-type gradle project with quarkus and my unit test fails everytime with this error

Caused by: io.quarkus.bootstrap.BootstrapException: Failed to locate project pom.xml for C:\Users\myuser\IdeaProjects\myproj\build\classes\java\main

Followed instructions here https://quarkus.io/

[2019-04-30 16:01] dmlloyd commented on #988
No; have a look at https://github.com/quarkusio/quarkus/issues/1887#issuecomment-480978983 for details.

[2019-04-30 16:03] dmlloyd commented on #988
Which is to say, giving an env value only works if there's an existing `application.properties` (or other config source) property to override.

[2019-04-30 16:05] dmlloyd commented on #2288
Presently there is no case in which an empty value is allowed for a property.  It's always treated as "not present", for better or worse.

[2019-04-30 16:05] emmanuelbernard commented on #988
Would be good to document this limitation in the config guide. It will ease the pain until we try and find a better approach. That's acceptable to me.

[2019-04-30 16:07] dmlloyd commented on #2298
Awesome 🎉

[2019-04-30 16:18] #2270 closed

[2019-04-30 16:18] #484 closed

[2019-04-30 16:19] tcollignon commented on #2199
Thx for the nice following up of this issue @gsmet !

[2019-04-30 16:20] lordofthejars opened #2308 "Null Pointer is thrown if no baseDir in MavenRepoInitializer"
Null Pointer is thrown if no baseDir in MavenRepoInitializer

[2019-04-30 17:54] Dufgui commented on #2230
It’s fix on their side. We must wait a release to include it

[2019-04-30 19:10] Sanne commented on #2303
I do like how this looks, but I like the separation of predicates more. Separated predicates could still be checked too I believe? Just need to make sure that the root type is made explicit.

The weak aspects of this solution:
 - searching for fields which match `null` is not possible
 - inability to influence (add) the restrictions from a different component (aspects)
 - doesn't help for those ca

[2019-04-30 20:37] johnaohara commented on #2238
I am seeing different behaviour from the netty NioEventLoop for jvm mode and native mode.
In both modes the first 9 invocations on the route endpoint result in allocations of ByteBuffers. There appears to be a buffer pool that is warmed up.

However, in native mode, there is at least one additional DirectByteBuffer allocation of 16.8MB and a thread local array of the same size.  These allocations

[2019-04-30 22:54] #2233 closed

[2019-04-30 22:54] #2308 closed

[2019-04-30 23:03] johnaohara commented on #2238
A bit further along, the ByteBuf that is passed into this method:
https://github.com/netty/netty/blob/netty-4.1.34.Final/transport/src/main/java/io/netty/channel/nio/AbstractNioByteChannel.java#L268
is a direct buffer for JVM mode, but is not a a direct buffer for Natice mode.  The extra allocation comes from;

https://github.com/netty/netty/blob/netty-4.1.34.Final/transport/src/main/java/io/netty

[2019-04-30 23:13] johnaohara commented on #2238
The buffer types passed to AbstractNioByteChannel.filterOutboundMessage() are;

JVM - io.netty.buffer.PooledUnsafeDirectByteBuf
Native - io.netty.buffer.PooledHeapByteBuf

[2019-04-30 23:43] johnaohara commented on #2238
In native mode this call is failing:

https://github.com/apache/camel/blob/camel-3.0.0-M2/components/camel-netty4-http/src/main/java/org/apache/camel/component/netty4/http/DefaultNettyHttpBinding.java#L370

and the extra allocation is coming from here:

https://github.com/apache/camel/blob/camel-3.0.0-M2/components/camel-netty4-http/src/main/java/org/apache/camel/component/netty4/http/DefaultNetty

[2019-05-01 02:22] johnaohara commented on #2238
Having dug into this, it appears that we are missing some classes in the native image.  In JVM mode, we have  `org.apache.camel.component.netty4.NettyConverterLoader$BaseTypeConverter` and `org.apache.camel.component.netty4.NettyConverterLoader$3`.  They are missing from the native image, so camel falls back to allocating a new 16MB buffer because it can not find a converter to convert a string to

[2019-05-01 07:53] lordofthejars commented on #2069
PR: https://github.com/quarkusio/quarkus/pull/2311

[2019-05-01 08:59] lburgazzoli commented on #2238
@gnodet this may fall in the same problem we have with the XmlConverter

[2019-05-01 10:11] johnaohara commented on #2238
After chatting with @lburgazzoli, org.apache.camel.component.netty4.NettyConverterLoader is auto generated, and appears to be missing from native image, alone with the anonymous convert classes.

A converter is not found, and netty defaults to allocating a new 16MB PooledHeapByteBuf and stores in a buffer pool.  Memory usage increases with every invocation until the pool is full. In jvm mode, the

[2019-05-01 11:19] gsmet commented on #2218
To reproduce this issue:
- get latest Quarkus `master` branch
- `mvn clean install -DskipTests -DskipITs`
- get latest quickstarts `development` branch
- `cd using-opentracing`
- `mvn clean install -Pnative`
- `./target/using-opentracing-1.0-SNAPSHOT-runner`
- in another shell `curl http://localhost:8080/chain`
- go back to previous shell, you should see:
[code]
`JBossThread` inherits from a `java

[2019-05-01 11:28] gsmet opened #2312 "Move to using a config map for quarkus.hibernate-orm.cache.* config properties"
Otherwise, we end up with these warnings:
[code]

We used a workaround while the map config code was still under work but we should be able to migrate to map support now.

[2019-05-01 14:49] juliofalbo commented on #2090
I will get this one!
Today I will configure the environment. I think it is a nice issue to learn quarkus!

[2019-05-01 14:59] gsmet commented on #2090
Ah, too bad for you, it's already in the works: https://github.com/quarkusio/quarkus-quickstarts/pull/163 :).

You will need to find another one!

[2019-05-01 15:14] gsmet opened #2314 "Injected template proxy has a null toString()"
This really doesn't help when debugging because you can assume that the template was not injected whereas it really is.

Per discussion with Justin.

The issue is in `MethodRecorder`: https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/recording/BytecodeRecorderImpl.java#L191 .

We have a good example of how we can make it better just a few lines be

[2019-05-01 15:23] gsmet opened #2315 "JAX-RS resources are only considered if @Path in on the class"
If you don't have `@Path` on the class but only on the endpoint methods, the resource is currently ignored.

It needs to be fixed here:
https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java#L214

And we need a unit test for that added in the main integration tests.

[2019-05-01 15:59] pipinet commented on #1984
it is work after https://github.com/quarkusio/quarkus/pull/2271
thanks.

[2019-05-01 16:05] pipinet commented on #1984
can i close this issue?

[2019-05-01 16:46] sberyozkin commented on #2315
@gsmet Hi, this might affect the subresources. JAX-RS spec does require the root resources to have `@Path`. This may indeed be relaxed, but the issue is probably mainly about the JAX-RS subresources which do not have a root  `@Path`:
[code]
If one adds Sub as one of the root resources then it will most likely not affect Root (it is OK for 2 roots to have the same Path values) but Sub resources wil

[2019-05-01 17:15] juliofalbo commented on #2090
:(

Could be a good idea to put some label like `in progress`.

I will find another task.
Thank you @gsmet

[2019-05-01 18:00] Dufgui opened #2316 "Opentracing build create instable build"
I see sometime my PR fail due to instability of test in build on opentracing due to small timeout

[INFO] Running io.quarkus.smallrye.opentracing.deployment.TracingTest
2019-05-01 17:36:48,698 INFO  [io.qua.dep.QuarkusAugmentor] (main) Beginning quarkus augmentation
2019-05-01 17:36:50,110 INFO  [io.qua.arc.pro.BeanProcessor] (build-13) Found unrecommended usage of private members (use package-pri

[2019-05-01 20:55] dkellenb opened #2317 "Dev mode with maven multi module project takes non referenced dependencies"
Given a simple multi module maven project with two modules (1) _quarkus_ and (2) _config-not-related_. _Quarkus_ Module has no dependency to _config-not-related_. When starting quarkus with `mvn compile && cd quarkus && mvn quarkus:dev` the not related module _config-not-related_ is still compiled and added as dependency.

Simple example: https://github.com/dkellenb/quarkus-multimodule-issue

In t

[2019-05-01 21:54] aloubyansky commented on #2317
Just a note, I added a method to LocalProject collecting its locally present dependencies, so at least there is something to start with. The reason I didn't use it for the dev mode was that I was getting unexpected behavior determining the current project launching the dev mode from different directories.

[2019-05-01 23:30] klebeer opened #2319 "Maven Multi module CDI Injection_ClientProxy ClassCastException"
****

This is a simple project to reproduce a bug (or a misunderstood of how quarkus dev works)

https://github.com/klebeer/quarkus-bug

*Environment:*

* Oracle jdk1.8.0_211
* OS name: "mac os x", version: "10.14.4", arch: "x86_64", family: "mac"
* Apache Maven 3.6.0
* Quarkus 0.14.0

I have a maven multi-module project, one project is an "API" with only _interfaces_.
The second project is the "A

[2019-05-02 06:26] masini commented on #2317
I also wrote in the group about that, is a blocking issue for me.

@aloubyansky can you tell me about the problem you found filtering non related projects ?

[2019-05-02 07:00] Dufgui commented on #447
I start an implementation https://github.com/Dufgui/quarkus-generator

[2019-05-02 07:17] jtama-op commented on #2290
Solution found :
Just created a dedicated conf for /health path in the keycloak configuration file :
[code]

[2019-05-02 08:25] FroMage commented on #467
OK, so I made it work. Now I want to make narayana not depend on undertow+jaxrs, which means I need to abstract these functionality:

- is a request running?
- is it async?
- notify me when it is done

I suspect I can make some service which will be implemented by jaxrs and undertow to provide notifications (I really need both to get exceptions properly), but I'm not sure where to put this abstrac

[2019-05-02 08:27] FroMage commented on #467
It could live in ArC because this is used by a CDI interceptor, and perhaps other interceptors will need that abstraction. @mkouba WDYT?

[2019-05-02 08:40] mkouba commented on #467
@FroMage The problem is that undertow depends on ArC...

[2019-05-02 08:55] FroMage commented on #467
Undertow can depend on ArC and implement a service provider for it, so it can tell ArC how to listen for async request notifications. I don't see the problem.

[2019-05-02 09:00] mkouba commented on #467
Ok. What I meant is that the abstraction API could not contain anything from undertow if you put the abstraction in the ArC deployment module.

[2019-05-02 09:01] FroMage commented on #467
Sure, I cannot make ArC depend on undertow, of course :)

[2019-05-02 09:11] sberyozkin commented on #2280
@mkouba I don't know what exactly caused adding that line about the class/inheritrance, but AFAIK the JAX-RS implementations have ignored this line :-), not 100% sure about Jersey only

[2019-05-02 09:41] emmanuelbernard opened #2320 "Consider creating a jar with the main and core annotations and API Quarkus uses"
This issue is opened not for action but instead for evaluation of popularity.
If you want the feature, please comment - ideally with your reasons.

An argument has been made that it can be confusing for newcomers unfamiliar with CDI, MP Config etc to find the right annotations and APIs to use. A proposal is to shade these APIs and place them under a `io.quarkus.core` or equivalent.
Some also disli

[2019-05-02 10:10] aloubyansky commented on #2317
Basically, it was not clear to me how it would locate the module that contained the application to launch. I could launch the app from the root project and also from the app module dir. I'll need to look into it again. At the time, nobody complained about it and I had other issues to work on, so just left as it was.

[2019-05-02 11:31] machi1990 commented on #2312
Is having config values like these ones
[code]
an option?

[2019-05-02 12:04] gsmet commented on #2312
No, the config needs to be like this, according to our map config support:
[code]
the `"` allows the dots to be escaped.

Basically, you will have a:
[code]
and `CacheConfig` will contain the configuration properties `memory.object-count` and so on.

You can see an example of the map support in the Agroal extension config.

[2019-05-02 12:31] dmlloyd commented on #467
The view executor implementation is complete, I'm just writing tests now.

[2019-05-02 12:42] machi1990 commented on #2312
@gsmet thanks for getting back.

Yes. Looking at the current implementation, the corresponding `hibernate.cache` config property key is "same" as the one for `quarkus.hibernate-orm.cache`,  I though of an implementation where the config property is double quoted e.g `"<region_name>.memory.object-count"`. The quoted config property will be the key of a map i.e
[code]

This narrowed down `HibernateO

[2019-05-02 12:50] gsmet commented on #2312
The idea is to propose a consistent approach to the Quarkus users.

It might not be the most optimal if you consider the number of lines of code but it will be better in the long term.

So yes, we need a layer to translate the configuration.

[2019-05-02 12:53] machi1990 commented on #2312
Solid point. +1.

I'll work on this over the weekend.

[2019-05-02 13:01] gsmet commented on #2316
It's a duplicate of this one: https://github.com/quarkusio/quarkus/issues/2187 . Closing.

[2019-05-02 13:01] #2316 closed

[2019-05-02 13:02] gsmet commented on #2187
@pavolloffay I'm not sure what I can do to help. Do you need help from someone else? @kenfinnigan maybe?

[2019-05-02 13:24] pavolloffay commented on #2187
Someone from FT community should have a look why the invocation number varies.

[2019-05-02 13:27] FroMage commented on #467
OK, I have a version ready for review at #2321.

[2019-05-02 13:30] FroMage commented on #467
@dmlloyd great! But I'm not sure how we will be able to use it since ATM the configuration annotations are blocked by #2243, and the builder API does not allow for custom `ExecutorService`, which is why for now I've hard-coded that the injectable `ManagedExecutor` is backed by the Quarkus thread pool, but it is not built using the MP-CP builder API.

We can extend the SmallRye-CP builder API, or p

[2019-05-02 13:48] pavolloffay commented on #2267
I was able to reproduce with `0.14.0` but not with `999-SNAPSHOT`. It might have been fixed in https://github.com/quarkusio/quarkus/pull/2156

[code]

[2019-05-02 13:50] manovotn commented on #467
Why couldn't we use the builder API with the executor service? E.g. build new `ManagedExecutors` from Quarkus pool?
We should be able to just provide these services once to bootstrapping SR CP via some config or perhaps extend `SmallRyeContextManager` to have a getter for it which in SR impl returns `null` and here we override it in extending class. You would then use the services whenever its not

[2019-05-02 13:55] gsmet commented on #2187
@kenfinnigan could you ping the right people in the SmallRye world so that we get someone taking a look at it?

[2019-05-02 13:58] emmanuelbernard commented on #447
Awesome @Dufgui !
Vert.x did something interesting, it generates the artifacts and the zip from javascript on the client side
https://vertx-starter.jetdrone.xyz/

[2019-05-02 13:58] gsmet commented on #2267
@mejlholm any chance you could test with a freshly built Quarkus?

Just clone master and run `mvn clean install -DskipTests -DskipITs` then use 999-SNAPSHOT as the version.

Thanks!

[2019-05-02 13:59] FroMage commented on #467
Because there's no API in place for that in MP-CP builder API: you can specify min/max threads but not an `ExecutorService`. So either we add this API in SmallRye-CP, or I make it a global deployment option, but then nobody will be able to use the builder API to get a non-quarkus-backed thread pool.

[2019-05-02 14:00] kenfinnigan commented on #447
If we can do something that doesn't require a "backend", then it might scale better

[2019-05-02 14:07] dmlloyd commented on #467
I haven't gotten to review the PR yet, or even the SmallRye implementation, but it seems to me that we absolutely need to be able to specify a custom `ExecutorService` implementation one way or another.  Maybe not as a plain `ExecutorService` though because that API doesn't allow for passing configuration in to the implementation, but maybe some factory interface that accepts the configuration and

[2019-05-02 14:13] FroMage commented on #467
Well, in SmallRye-CP or MP-CP? I agree (doesn't matter where), but I also think this does not need to block this PR, since it's already useful and we want it to be tested ASAP.

[2019-05-02 14:18] dmlloyd commented on #467
SmallRye IMo

[2019-05-02 14:19] kenfinnigan commented on #2187
@michalszynkiewicz, @mkouba, @antoinesd, @Ladicek can one of you take a look?

[2019-05-02 14:44] FroMage commented on #467
https://github.com/smallrye/smallrye-context-propagation/issues/50 then, but that will probably mean something like:

[code]

In order to get the new methods. I don't care that much, I think this is rare code.

[2019-05-02 15:01] dmlloyd commented on #467
That's basically what I'm doing for config already.

[2019-05-02 15:04] mkouba commented on #2187
What's the current stack trace? I can see that the test waits at most 5 seconds. Could it be that CI is very slow and hystrix does not manage to run all the requested commands in time? Although I know that 5 seconds is sooo much time...

[2019-05-02 15:07] FroMage commented on #2187
I see FT and context propagation and I'm wondering if this is really the same problem we're solving with MP-CP… If yes we should totally talk about it.

[2019-05-02 15:09] FroMage commented on #467
Yeah, I don't see any better option.

[2019-05-02 15:26] ppalaga commented on #2276
https://github.com/ppalaga/quarkus/commits/190429-undertow now contains a working solution that needs more testing.

[2019-05-02 15:54] pipinet opened #2322 "ConfigProperty not work when use gradle"
quarkus version is after 8d447d47 commit

demo is: https://github.com/qwlabs/quarkus-issue

in src/main/resources/application.properties
[code]
use ConfigProperty in java
[code]

error info
[code]

[2019-05-02 15:54] gentletom2004 opened #2323 "Quarkus Support for MySQL"
Currently there's no support for MySQL on Quarkus. Can this be consider as there are some legacy application currently running on MySQL and need to migrate to Quarkus.

[2019-05-02 16:00] gsmet commented on #2323
It's the second time someone is asking for that. @gunnarmorling had a Debezium demo using MySQL.

I think it should probably not be too hard as the MariaDB is heavily derived from the MySQL one.

So it would mostly be about copying the `jdbc-mariadb` extension, the `jpa-mariadb` integration tests and see if it works.

There's some driver related logic in either the Agroal or the Hibernate ORM exte

[2019-05-02 16:09] pipinet commented on #2322
change ConfigProperty target to Optional . work!
[code]

[2019-05-02 16:43] FroMage commented on #2187
Yeah, I did not mean to derail the issue, we'll talk about this via email/chat.

[2019-05-02 16:56] gsmet commented on #2290
@starksm64 is there something we can improve from a user experience point of view? I don't know if it can be done automatically?

Not sure it's entirely secure either as your health checks might contain sensitive information and you might want to secure them somehow.

Interested in your feedback.

[2019-05-02 22:00] #2230 closed

[2019-05-02 22:36] cristhiank opened #2326 "Flyway: Filter SQL files included in the native image"
Flyway uses a custom script to create the metadata table in some databases. This file is located in `org/flywaydb/core/internal/database/<databaseEngine>`

The Flyway extension is including all the files that are available in the library when creating the native image.
We should include only the SQL file for the database being used in the app.
We could filter them somehow, maybe using the driver n

[2019-05-02 22:50] gsmet commented on #2319
@mkouba can you take a look?

[2019-05-02 22:51] gsmet commented on #2315
OK, we did discuss that with Justin and if JAX-RS requires it, it probably makes sense to keep it.

[2019-05-02 22:51] #2315 closed

[2019-05-03 03:11] pipinet commented on #2307
same issue
quarkus version is after 8d447d4 commit
demo is: https://github.com/qwlabs/quarkus-issue

command is
[code]
error is
[code]

[2019-05-03 03:11] #2322 closed

[2019-05-03 05:21] gunnarmorling opened #2327 "BuildMojo does not take into account project's packaging (assuming it's a jar)"
I'm running into an odd error when building a Quarkus project: it fails when the Quarkus Maven plug-in tries to resolve the project's dependencies. You can try it by building this project here: git@github.com:debezium/debezium-examples.git/kstreams-live-update/aggregator.

[code]

It works, if the project's artifact is already installed from a previous run. I also tried with 0.14.0, but it's the s

[2019-05-03 05:21] gunnarmorling commented on #2327
Hey @aloubyansky, could you take a look into this one? @gsmet told me you're the SME around the resolver :) Thanks!

[2019-05-03 05:50] aloubyansky commented on #2327
Sure, will do in a bit.

[2019-05-03 05:57] Dufgui commented on #447
Yes it's interesting without backend, but in this way we cannot mutualize code between maven generator and web generator. Or you want the maven generator call the js ?

[2019-05-03 06:38] enbohm opened #2328 "Guide for creating a Docker image with a custom Java 11 JRE"
As Helidon describes in https://helidon.io/docs/latest/#/guides/04_dockerfile, it would be nice to see a Quarkus guide how to build an Docker image with a custom Java 11 JRE using ```jlink```

[2019-05-03 06:53] manovotn commented on #467
My initial understanding was that you want quarkus-backed thread pools only. That's why I suggested baking it into it. Is there a use/need for creating other pools as well?

[2019-05-03 07:09] emmanuelbernard commented on #2303
What's your alternative syntax or API look like for the examples I gave @Sanne ?

[2019-05-03 07:29] jtama-op commented on #2290
Hi,
Health check is certainly to be used by your Container orchestrator, and should not be secured (I think).

It may be that documenting the multiples security related extensions is enough.

As it works now, Keycloak extension security handler has high priority in the server filter chain, and the health servlet is placed way down in the stack.

From my understanding, if security pass through is t

[2019-05-03 07:44] tsegismont commented on #447
Le jeu. 2 mai 2019 à 15:58, Emmanuel Bernard <notifications@github.com> a
écrit :

For the record, this is not the official starter (https://start.vertx.io)

It's an alternative starter from Paulo.

[2019-05-03 07:52] ataxexe opened #2330 "Using custom serializers in kafka requires an extension for native builds"
I have:

- A Core project with the object I'm passing through Kafka
- Projects that depends on the core project and receive/send that object

I'm trying to use a custom serializer for that object on the core project to be used by the dependants. Here's what I tried without success:

- Annotating the serializer with `@RegisterForReflection`
- Creating a static method making use of the serializer

T

[2019-05-03 08:00] aloubyansky commented on #2327
I have a fix for the resolver. There is another issue though. The packaging of your project is `war`, while the Quarkus maven plugin produces a `jar` which won't be accepted by the Maven install goal.

[2019-05-03 08:06] mkouba commented on #2319
So the problem only occurs in the dev mode. It seems that `HelloService` (from the api jar) loaded for an application wiring class (`HelloResource_Bean`) is different from the the `HelloService` loaded for a framework class (`HelloServiceImpl_ClientProxy`; note that `HelloServiceImpl` and relevant bean metadata are considered fwk constructs because the classes come from non-app maven modules).

@s

[2019-05-03 08:08] #1575 closed

[2019-05-03 08:08] #1925 closed

[2019-05-03 08:10] gsmet commented on #2327
On Fri, May 3, 2019 at 10:00 AM Alexey Loubyansky <notifications@github.com>
wrote:

Could we detect that and provide a useful error? Or do we already?

[2019-05-03 08:19] emmanuelbernard commented on #447
We wondered about the same thing. No clear cut answer but maintenance wise, a single template would be much easier. I don't know how much would that would be on the build tool side to use the js template.

[2019-05-03 08:31] aloubyansky commented on #2327
While in most cases we could fail fast, I'd still need to look into custom packaging types to make sure it won't break them.

[2019-05-03 08:55] enbohm commented on #1537
I have the same issue with vanilla JPA. A simple class such as
[code]
generates the below stacktrace when  ```SomeService#find(id)``` is called.

What is a bit interesting is that if I add the ```@Bulkhead``` annotation is seem to be working (i.e. no exception is thrown and I get a valid result back).

[code]

[2019-05-03 09:04] mkouba commented on #2319
Ok. I didn't know we do support [quarkus:dev in multimodule projects](https://github.com/quarkusio/quarkus/issues/1484) but it seems the support does not count with the generated wiring classes. In other words, when ArC generates a bean from a dependent module it has no way to detect a class from a multimodule project and thus the bean class is loaded as a framework class.

[2019-05-03 10:01] mkouba commented on #2319
I have a solution for ArC and I'm going to send a PR shortly but basically any integration that generates wiring classes for both the application and framework classes could be affected.

[2019-05-03 10:38] Dufgui commented on #447
maybe we can use https://mustache.github.io/ for templating. This way we can use same template from java or js side ? Maybe must talk about this on ziplib ? or google groups

[2019-05-03 10:40] rsvoboda opened #2333 "opentracing - java.net.UnknownHostException in native mode, not in JVM mode"
When Playing with https://github.com/quarkusio/quarkus/issues/2218#issuecomment-488259704 reproducer via quarkus-quickstarts/using-opentracing I noticed UnknownHostException in native mode(1.0.0-rc-16), not in JVM mode

I'm at home and my hostname is set to RS, no dns around.
Of course when I update my /etc/hosts this issues goes away even for native mode.
But sometimes users don't have rights to

[2019-05-03 10:45] rsvoboda commented on #2333
GraalVM/Substrate VM simple example confirms it's native image bug.

[code]

[code]

[code]

[2019-05-03 10:55] jskov commented on #2251
Ah, yes. I did not express that properly. My bad.

I made a hack to generate the deployment.cp file from Gradle.
And then changed the code in quarkus-bootstrap-core to just load this without consulting Maven.

My questions are:
 - would the use of the cache file deployment.cp be OK as a primary mechanism
 - would a split of the project into common+maven+gradle project reluy on ServiceLoader, or do

[2019-05-03 11:05] Dufgui commented on #447
i am sad for my dying PR ;o) lol

[2019-05-03 11:24] emmanuelbernard commented on #447
@Dufgui +1 to talk about it on the ML

[2019-05-03 11:24] rsvoboda opened #2335 "Identify JVM version / GraalVM version in Quarkus log"
More and more users are exploring native image, Quarkus is usually checked with certain version of GraalVM, plus there are issues related to certain GraalVM version.

I think it would be nice to identify JVM version / GraalVM version in Quarkus log.
Can be handy for investigation. Maybe even in production to see on what an app is based.

A) Additional log entry
B) Extending `INFO  [io.quarkus] (ma

[2019-05-03 11:48] aloubyansky commented on #2251
No. At least in general. IMO, that could be considered for Gradle only, atm. Until we have something better.

In principle that could be good. I'd like to clarify the common part first though.

Great! Perhaps you can help me figure something out. Have you seen LocalWorkspace/LocalProject API? The local workspace discovery is based on POMs. Do you think an equivalent model can reliably and relative

[2019-05-03 12:10] enbohm opened #2336 "Broken pipe (Write failed) using Hibernate ORM and MariaDB"
Using ```quarkus-hibernate-orm``` along with ```quarkus-jdbc-mariadb``` with the following application.properties doesn't always work after the application been idle for a few hours. After the application been idling during the night the first few transaction fails (see stacktrace). Could it be that stale connections doesn't get evicted from the connection pool properly?

(Quarkus version 0.14.0,

[2019-05-03 12:25] FroMage commented on #467
That's what I mentioned originally: we currently don't have any API to specify if we want a new thread pool or not. I can make it so the quarkus thread pool is always the default, and allow users to override it (for the API, not for container-managed instances).

[2019-05-03 12:50] kenfinnigan commented on #447
One option is that the templates are deployed to Maven.

So JS could access them directly, or even package them into website in some way, and then Maven CLI can embed those templates into itself directly so no download required

[2019-05-03 13:24] jskov commented on #2251
Yes, I think it can be done with the Gradle Tooling API (https://docs.gradle.org/current/javadoc/org/gradle/tooling/GradleConnector.html)
I can try and give it a shot.

[2019-05-03 13:29] #2005 closed

[2019-05-03 13:32] aloubyansky commented on #2251
Looks Interesting, thanks for the link! If you feel like researching it further, go for it! Feel free to ping me on zulip about it as well.

[2019-05-03 13:43] klebeer commented on #2319
thanks!  it works perfectly

[2019-05-03 14:32] FroMage commented on #467
@dmlloyd I've tried to use `ViewExecutor` in SmallRye-CP to constrain any custom passed `ExecutorService` but it's only an `Executor` and not an `ExecutorService`, so I'm not sure how to use it, since I need all the extra methods.

[2019-05-03 14:49] dmlloyd commented on #467
It extends `AbstractExecutorService` so it should implement `ExecutorService`?

[2019-05-03 15:06] FroMage commented on #467
DUH

I blame my IDE and poor assign-to-local-variable.

[2019-05-03 19:01] mejlholm commented on #2267
I've tried with a locally build version of quarkus from master and it started the first time. After that it has been failing on me at least 5-6 times in a row. Is this some kind of race condition issue?

[2019-05-03 19:29] gunnarmorling commented on #2327
Great news! But is there anything I can do on my end to circumvent this issue before the fix is released? I'm curious about the details, what is so special about my project that it exposes this issue?

[2019-05-03 20:03] gunnarmorling commented on #2327
Ok, so I got it working by changing the packaging to JAR. Then install fails as you say, but package at least runs.

[2019-05-03 21:23] geoand commented on #2219
I looked into this and unfortunately there is nothing we can do on our end.
Although the WrapperMojo does have access to the Maven `Settings` object (see [here](https://github.com/takari/takari-maven-plugin/blob/maven-0.7.4/src/main/java/io/takari/maven/plugins/WrapperMojo.java)) and I verified all user settings are passed to the wrapper invocation (via the debugger), `proxies` however are never c

[2019-05-04 08:30] geoand commented on #2307
@aloubyansky this is something you have been looking into, correct?

[2019-05-04 12:53] chrisjleu opened #2339 "Use of @Valid causes request body to be ignored from generated OpenAPI/Swagger YAML"
It appears as though the presence of `javax.validation.Valid` confuses the generation of the OpenAPI specification:

[code]

Generates the following YAML:

[code]

One would expect the `requestBody` to be present in `/create1`, just like in `/create2`. `/create3` works fine too (just for information).

[2019-05-04 14:55] danieloh30 opened #2376 "Container registry secrets link is broken"
GETTING STARTED KNATIVE GUIDE[1] > Container registry secrets[2] link is broken.

[1]https://quarkus.io/guides/getting-started-knative-guide

[2]https://github.com/knative/docs/tree/master/serving/samples/build-private-repo-go#creating-a-dockerhub-push-credential

[2019-05-04 19:44] aloubyansky commented on #2307
Yes, that's a very well known issue with the highest priority on my list.
I do have a branch where it's working for both maven and gradle, however I'm doing more research on this, atm.

[2019-05-04 19:46] geoand commented on #2307
Awesome, thanks for the update!

[2019-05-04 21:28] vepo opened #2342 "Native build + MongoDB"
I had create a sample project using Quarkus and then I added a MongoDB.

For running using JVM everything works find, but when try to build a docker image using graalvm, I got the error bellow.

    [INFO] --- maven-jar-plugin:2.4:jar (default-jar) @ quarkus-backend ---
    [INFO] Building jar: /home/victor/sources/quarkus-mongo/target/quarkus-backend-1.0-SNAPSHOT.jar
    [INFO]
    [INFO] --- qua

[2019-05-05 07:24] masini commented on #2317
Ok clear.

Do you suggest any workaround ? My dev workflow is blocked by this issue.

Thanks.

[2019-05-05 07:38] sebastienblanc commented on #1655
+1
That would be really nice and would enhance considerably the developer experience, I admit I appreciate this feature in intellij when I work with Spring Boot apps.
For Intellij, at least, I think it's a matter of generating some meta-data in the META-INF that can be processed then by Intellij's Annotation processor. https://blog.rufer.be/blog/knowledge-base/Configuration-properties-meta-data-su

[2019-05-05 08:06] cescoffier commented on #2184
@gunnarmorling Work done in https://github.com/quarkusio/quarkus-quickstarts/pull/185.

A big thank you to @scholzj that provided the docker-compose file

[2019-05-05 10:38] aloubyansky commented on #2317
@masini I'll look into this again in the next few days.

[2019-05-05 11:59] gunnarmorling commented on #2184
Excellent, thanks a lot! Jakub, I'd suggest you tweet about it, everything
on Quarkus + Kafka is super-hot.

[2019-05-05 13:02] jskov commented on #2251
I worked on it yesterday, and have something working.
I will spend some time on cleaning it up before I will ask you take a look at it.

[2019-05-05 13:37] aloubyansky commented on #2251
Excellent, looking forward to that!

[2019-05-05 16:01] jskov commented on #2251
You can have a look at https://github.com/jskov/quarkus/tree/gradleBootstrap - not sure how to make a diff without a Pull Request, which I am not ready for.

But I think the code is mostly there - if a project has a pom.xml file, it will use the Maven implementation. If only a build.gradle file is found, it will use the Gradle implementation.
I have not done a lot to change the existing Maven code

[2019-05-05 21:05] #2131 closed

[2019-05-06 07:11] mkouba commented on #2267
@pavolloffay ^ ?

[2019-05-06 07:26] pavolloffay commented on #2267
@mejlholm would you be able to share your reproducer/app?

[2019-05-06 07:46] aloubyansky commented on #2251
The deployments are injected by the bootstrap model resolver. the deployment.cp contains only the deployment-specific deps excluding those that are already included into the runtime (original) app deps.

I glanced through your changes. I think I am going to actually check out your branch and try a few things to see how it works.

Thanks!

[2019-05-06 09:14] lordofthejars opened #2344 "FallbackHandler seems to not taken into consideration"
I have created an example of fault tolerance using `@Fallback` annotation with the class approach:

[code]

[code]

But the fallback is never executed. Doing the same but with `fallbackMethod` property then it works as expected.

[2019-05-06 10:51] geoand commented on #2339
This seems to be a duplicate of #2262 and I have a [PR](https://github.com/smallrye/smallrye-open-api/pull/98) in smallrye that should fix both

[2019-05-06 11:16] mkouba commented on #2243
Yes, we could introduce a new extension point, probably something like `InjectionPointConfigurator`. Nevertheless, I think that the only reasonable thing you can do is to change the set of qualifiers.

[2019-05-06 12:13] mejlholm commented on #2267
@pavolloffay it is still the reproducer in github that is causing the issue. Here is a full log from the reproducer:

λ mvn clean compile quarkus:dev
Java HotSpot(TM) 64-Bit Server VM warning: Ignoring option PermSize; support was removed in 8.0
[INFO] Scanning for projects...
[INFO]
[INFO] ----------------------< org.acme:getting-started >----------------------
[INFO] Building getting-started 1.0

[2019-05-06 12:23] ppalaga opened #2346 "CamelConfig.BuildTime.disableJaxb and disableXml need defaults"
The `@ConfigItem` annotation on `io.quarkus.camel.core.runtime.CamelConfig.BuildTime.disableJaxb` and `io.quarkus.camel.core.runtime.CamelConfig.BuildTime.disableXml` has no `defaultValue` which currently leads to build errors like the following:

[code]

As agreed with @gnodet, both properties should default to `false`.

A PR follows.

[2019-05-06 12:33] ppalaga opened #2347 "Still: Could not find field com.sun.beans.WeakCache.map on class com.sun.beans.WeakCache"
The fix for https://github.com/quarkusio/quarkus/issues/2207 is not perfect, still getting the following error when building `integration-tests/camel-core` with `-Dnative-camel`:

[code]

Adding `@Substitute` on `io.quarkus.camel.core.runtime.graal.Target_com_sun_beans_WeakCache.map` seems to solve the issue.

A PR follows.

[2019-05-06 13:27] geoand commented on #1610
I looked into this and it should be rather easy to implement on the technical side of things using a multi-stage docker builds as @rhuss mentioned (basically we would trigger this other type of docker build instead of the regular build we do [here](https://github.com/quarkusio/quarkus/blob/2d062220e1287f530b7e94430657d8164a4c764b/core/creator/src/main/java/io/quarkus/creator/phase/nativeimage/Nati

[2019-05-06 13:48] pavolloffay commented on #2267
@mejlholm I have cloned your repository and changed quarkus version to `999-SNAPSHOT`, and run `./mvnw compile quarkus:dev` but I wasn't able to reproduce your issue

[code]

[code]

[2019-05-06 14:25] aloubyansky commented on #2317
@masini you could try the PR I just linked as a fix.

[2019-05-06 15:08] mkouba opened #2350 "Config properties validation - ConfigProperty#name() is not mandatory"
If not specified, the name is derived automatically.

[2019-05-06 15:12] mkouba commented on #206
UPDATE: I was able to run a [simple arquillian test](https://github.com/mkouba/quarkus/blob/arquillian-next/test-framework/arquillian/src/test/java/io/quarkus/arquillian/test/SimpleTest.java) and even the MicroProfile Config TCK test suite. I'm still struggling with some weird class loading problems though.

WIP branch: https://github.com/mkouba/quarkus/tree/arquillian-next

Tomorrow, I'd like to

[2019-05-06 16:09] gentletom2004 commented on #2323
@gsmet the MariaDB driver works seamless with MySQL server by setting the dialect to MySQL as recommended by John Clingan. This properties makes it work for me :
quarkus.hibernate-orm.dialect=org.hibernate.dialect.MySQL5Dialect

[2019-05-06 16:26] dmlloyd commented on #2288
So what was the conclusion here?  Will there be a separate PR to fix this in Quarkus, or will there be a SmallRye fix, or what?

[2019-05-06 16:30] dmlloyd commented on #2185
This duplicates #1218.  OK to close?

[2019-05-06 18:41] masini commented on #2317
Hi @aloubyansky, I tried, the project structure is:

1) parent-pom
   1.1) quarkus module
   1.2) shared-module referenced by quarks
   1.3) another module which is not referenced by quarks

this are my tests:

Changed source Q in Quarkus module: recompile Q and hot relead OK
Changed source S in shared module: recompile S and hot relead OK
Changed source A in "another" module: recompile A reload *

[2019-05-06 18:52] kenfinnigan commented on #2288
I think it makes sense to adjust SmallRye

Sent from my iPhone

[2019-05-06 19:39] ppalaga opened #2351 "CamelInfinispanITCase fails"
After applying the fixes for #2346 and #2347, the CamelInfinispanITCase is failing. I am disabling it with a reference to this issue.

[code]

[2019-05-06 21:15] aloubyansky commented on #2317
From which project (dir) is the application launched? The mojo loads the project `${project.build.outputDirectory}` belongs to and its local dependencies are going to be watched for changes.

[2019-05-06 22:01] aloubyansky opened #2353 "Document bootstrap config options and tooling"
System properties used as config options by the bootstrap and `quarkus-bootstrap:build-tree` maven plugin goal should be described in the relevant guide.

[2019-05-07 06:27] mkouba opened #2354 "@Inject @ConfigProperty javax.inject.Provider not supported"
Validation fails.

[2019-05-07 08:06] aloubyansky commented on #2294
This appears to be working in current master. I mean the launch of course fails, given there is nothing to launch but the original issue appears to be fixed. Could you please try again?

[2019-05-07 08:09] aloubyansky commented on #2294
The general issue though about relying on the packing is still not fixed. My comment was about your reproducer.

[2019-05-07 08:52] aloubyansky opened #2357 "Get the resulting jar path directly from the gradle jar task"
This code is working with the hope there is only one jar in the `libs` directory
https://github.com/quarkusio/quarkus/blob/master/devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java#L159-L184

It's very fragile given that there could be sources and/or javadoc jars, or the destination could be moved to a different location.

[2019-05-07 11:00] #2354 closed

[2019-05-07 11:56] geoand commented on #2339
Once `1.1.3` lands in Central I will open a PR to add it

[2019-05-07 13:04] geoand commented on #2339
I'll close this as a duplicate of #2262. A PR has been opened for that issue.

[2019-05-07 13:04] #2339 closed

[2019-05-07 13:35] #2344 closed

[2019-05-07 13:45] rsvoboda commented on #2328
Dockerfile for JVM mode is based on fabric8/java-alpine-openjdk8-jre which is 75MB small.
Quarkus getting-started example has size ~8MB, if more deps are added I think the size is still <20MB so it makes image size less than 100 MB for Quarkus app in JVM mode.

Helidon example ends up with ~140MB.

I don't think there is any special need for further customization.

With native image you can go eve

[2019-05-07 14:15] dmlloyd commented on #1534
We already have a number of bytecode creation tools at our disposal.  I'd say that we should use Gizmo to generate these proxies; it shouldn't be too hard to do.

[2019-05-07 14:48] #2327 closed

[2019-05-07 14:57] #2262 closed

[2019-05-07 15:59] mejlholm commented on #2267
I dont really know how to progress this any further. I tried pulling from master and building again with the same result.

Only conclusion I can come to is that this must be mvn/os specific.

The app I found the issue in has evolved to a single schedule class, which solves the issue and some other things as well, so perhaps we should close the issue for now?

[2019-05-07 16:06] pavolloffay commented on #2267
You could provide us your env info and commit SHA of quarkus master you have built.

[2019-05-07 16:16] dmlloyd opened #2363 "TracingTest failures in CI on Windows"
Test failures:
* https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=1768 (from #2321)
* https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=1744 (from #2352)
* https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=1716 (from #2343)

Possibly others?

The test was introduced in https://github.com/quarkusio/quarkus/commit/0277f3cff9cbdab7de55b950bc3b34a2247a8cb9.

[2019-05-07 16:17] dmlloyd commented on #2363
@pavolloffay is of the opinion that this seems like a bug in FT.

[2019-05-07 16:18] evacchi commented on #2294
ok I will check again and get back to you ASAP

[2019-05-07 16:19] dmlloyd commented on #2363
My recommendation would be to disable `TracingTest` as a workaround until the problem is resolved.

[2019-05-07 16:29] machi1990 commented on #2363
Possibly a duplicate of #2187 ?

[2019-05-07 16:32] ppalaga commented on #2363
Also in https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=1770 (from #2361)

I saw it happening only on Windows, so we should maybe exclude it only in the Windows job, e.g. via adding `-Dtest=!TracingTest` ?

[2019-05-07 18:12] dmlloyd commented on #2363
You're right, this is a duplicate of #2187.

[2019-05-07 18:12] #2363 closed

[2019-05-07 18:21] #2350 closed

[2019-05-07 18:30] dmlloyd commented on #2288
This seems strongly related to this forgotten-until-very-recently issue: https://github.com/smallrye/smallrye-config/issues/84

/cc @jmesnil

[2019-05-08 02:02] dmlloyd commented on #2288
This would be fixed by https://github.com/smallrye/smallrye-config/pull/102.

[2019-05-08 04:59] #2357 closed

[2019-05-08 07:40] pavolloffay commented on #2363
@dmlloyd yeah, it looks like a bug in FT. The method should be retried 3 times but in some cases it is only retried 2 times for more see https://github.com/quarkusio/quarkus/issues/2187#issuecomment-486600799.

We could change the asserts to deal with it if you prefer that.

[2019-05-08 08:20] uberto opened #2367 "Quarkus 0.14 problem with sourceDirectory specified in Pom"

[2019-05-08 08:26] uberto commented on #2367
I have a Kotlin project on Quarkus
https://github.com/uberto/quarkus-quickstarts/tree/master/kotlin-rest-http4k

since I upgrade to 0.14 hot replacement stopped working (still work if I revert to 0.13)

After a bit of digging, I found that it works if I remove the project.base dir property, from this:
        <sourceDirectory>${project.basedir}/src/main/kotlin</sourceDirectory>
        <testSource

[2019-05-08 09:08] Holi60k commented on #2280
Any information about the proof that is truly supported by JAX-RS ? :)

[2019-05-08 09:36] jmtd commented on #2098
Sorry late response, I am not aware of a community java image with prometheus baked in although one may exist. This has been useful for me though in terms of planning the direction of [openjdk/openjdk-11-rhel7](https://github.com/jboss-container-images/openjdk) (etc) images. Thanks for looping me in

[2019-05-08 11:16] sarxos opened #2368 "@Inject BeanManager in @QuarkusTest annotated class does not work"
Hi @mkouba,

This is in regards to the issue we discussed on Zulip.

I cannot `@Inject` `BeanManager` into a `@QuarkusTest` annotated class. When I have a test class like this one:

[code]

It fails with the following error:

[code]

In the same time I can get BeanManager from CDI (and this is what I did as a workaround to the problem):

[code]

This happens on Quarkus `0.14.0`.

[2019-05-08 14:16] evacchi opened #2370 "Modules should allow multiple sourceDirectories"
CompilerProviders rely on the core file-watch routine for hot-reloading. However, the internal data model (`DevModeContext.ModuleInfo`) only allows for *one* single `sourcePath` per module.

For Kotlin, the work-around is to override the default `sourceDirectory` in the Maven project to point to `scr/main/kotlin`. However, this affects the regular Java compilation process.

This is a limitation fo

[2019-05-08 14:32] evacchi opened #2371 "CompilerProvider: hot code reloading should not assume class-file name correspondence"
CompilerProviders are invoked each time one watched file has *changed* or it is *new*. Current process assumes a source file to be new if no corresponding class file exists. However, the correspondence assumes the names to match, i.e. `$src/foo/bar/Baz.$ext` is assumed to need compilation when `$src/foo/bar/Baz.class` does not exist.

More often than not, this approximation is good enough, but it

[2019-05-08 14:52] evacchi opened #2372 "CompilerProvider: consider allowing to claim multiple file extensions"
CompilerProviders can only claim one file extension, but some compilers may process more than one file types. This can be circumvented by creating one abstract class with the main logic, and then overriding `handledExtension()` in the subclasses, but it might be limiting.

Proposal: allow to return multiple handled extensions, or use a predicate of the form `boolean handlesExtension(String ext)`

[2019-05-08 14:59] evacchi opened #2373 "CompilerProvider: CompilerContext should provide more details on the build"
Currently `CompilerContext` is limited to `Set<File> classpath, File outputDirectory`. Extra information could be useful. For instance sourcesRoot (e.g. consider a case when changing file $src/A causes $src/B to need rebuilding as well). Can we come up with a set of values to bring over to the compiler context?

I can't give a general suggestion but for the extension that we are developing we also

[2019-05-08 17:48] emmanuelbernard opened #2375 "Cannot find the property to change the http port in the documentation"
I looked at the getting started guide and https://quarkus.io/guides/rest-json-guide and looked for `port` but found nothing

it's `quarkus.http.port`

[2019-05-08 17:50] mejlholm commented on #2267
Tried this on the same machine, but on a linux OS instead. Same issue, but interestingly it worked the first time I started mvn clean compile quarkus:dev. If I close down and start again, it starts throwing the error. Both on 0.14.0 and 999-SNAPSHOT.

mejlholm@usb:~/sandbox/quarkus-scheduled-error$ mvn -version
Apache Maven 3.6.1 (d66c9c0b3152b2e69ee9bac180bb8fcc8e6af555; 2019-04-04T21:00:29+02:00

[2019-05-08 20:05] starksm64 commented on #2290
I'm including this issue in the security arch discussion doc I'm putting together to address our inconsistencies

[2019-05-08 20:12] #2372 closed

[2019-05-09 06:17] geoand commented on #2367
Hi,

I tried to run your example, but it seems like compilation is failing.

[code]

Is there something I am missing (all I did was `mvn compile`)? If not, could you update it so I can check about the second problem you mention?

[2019-05-09 07:21] gnodet commented on #2347
Did you create a PR with the fix https://github.com/ppalaga/quarkus/commit/eceeb8684489b8c30bb28bc595e7d10bb4bd7302 ?

[2019-05-09 07:41] mkouba opened #2378 "Provide ArC version of javax.enterprise.inject.spi.Unmanaged"
ArC does not fully support some parts of the CDI SPI such as `AnnotatedType`, `InjectionTarget`. However, we should be able to [inject unmanaged instances](https://github.com/quarkusio/quarkus/blob/master/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcTestResourceProvider.java#L21-L54). We should provide an ArC version of `Unmanaged`.

[2019-05-09 07:57] mkouba commented on #2368
For the record: the problem is that we don't provide the real beans for built-in beans (`BeanManager`, `Event`, etc.) but resolve them directly during build. This works fine for beans but not for `@QuarkusTest`.

[2019-05-09 07:59] mkouba opened #2379 "MP Config integration - support injection of arrays and custom types"
See SR config extension: https://github.com/smallrye/smallrye-config/blob/master/implementation/src/main/java/io/smallrye/config/inject/ConfigExtension.java#L65-L125

[2019-05-09 08:01] aloubyansky commented on #2294
Yes, the fix was a side effect of adding more dep scopes (such as `provided`) to the dev mode classpath. The dep resolution is performed differently in this case, i.e. the root artifact (which is the app artifact) is not added as a root dependency but simply as a root artifact to the dep collection request and is not resolved (unless you are familiar with the Maven resolver API that might not make

[2019-05-09 08:17] uberto commented on #2367
Sorry I forget to commit the updated pom, now it should be ok.

I checked and same behaviour is with graalVM rc14 and rc16

Uberto

On Thu, 9 May 2019 at 07:18, Georgios Andrianakis <notifications@github.com>
wrote:

[2019-05-09 08:26] ppalaga commented on #2347
Yes, it is a part of this one: https://github.com/quarkusio/quarkus/pull/2352 where I am still solving `Error: Class that is marked for delaying initialization to run time got initialized during image building: com.sun.xml.internal.bind.v2.runtime.reflect.opt.Injector`

[2019-05-09 08:48] geoand commented on #2367
OK thanks! I will check it again soon.

[2019-05-09 08:54] tpenakov commented on #2048
Is it possible to port and reactive mongo client too?

[2019-05-09 09:00] geoand commented on #2367
Not sure what the problem is with your project, but if you follow the steps in: https://quarkus.io/guides/kotlin to create a Kotlin project, things work as expected.

[2019-05-09 09:18] uberto commented on #2367
Mmmh... actually not. At least on my machine.
It was the first think I tried and now I retested to be sure.

I did:
1)
mvn io.quarkus:quarkus-maven-plugin:0.14.0:create     -DprojectGroupId=org.acme     -DprojectArtifactId=rest-kotlin     -DclassName="org.acme.rest.GreetingResource"     -Dpath="/greeting"     -Dextensions="kotlin"

2)
mvn compile quarkus:dev

3)
see the hello in the browser at loc

[2019-05-09 09:25] mkouba opened #2380 "Observers - finish EventMetadata support"
The injection part is incomplete.

[2019-05-09 09:36] geoand commented on #2367
Gotcha, I'll need to go over it more extensively over the weekend and see what exactly breaks it and why.

[2019-05-09 10:07] sberyozkin commented on #2263
+1. Making debugging the native images in Quarkus easier than elsewhere would be a very unique feature

[2019-05-09 10:25] #2167 closed

[2019-05-09 10:28] sberyozkin opened #2383 "Document how to use JWT default groups, custom headers, custom group and sub path/defaults, kid, whitelists, jwk rotation"

[2019-05-09 13:30] dmlloyd commented on #2376
Fixed by #2377.

[2019-05-09 13:30] #2376 closed

[2019-05-09 13:33] jskov commented on #2251
Almost gave up figuring that out - but found the clue in DeploymentInjectingDependencyVisitor.
So the artifacts contain a link to the deployment artifact that should replace them.

This can be done in Gradle, no problem. But it cannot be done via the API I have been using.

I need to make a Gradle task that extracts the necessary information. Which becomes part of the build lifecycle - and basical

[2019-05-09 13:35] #2319 closed

[2019-05-09 13:35] #2380 closed

[2019-05-09 13:42] FroMage opened #2384 "ArC: support async `PostConstruct`?"
As seen in https://github.com/quarkusio/quarkus/pull/1816/files#diff-31226afb2b118a1ed2d1a0c11980d202R147 some users will have async tasks to do in `@PostConstruct` methods. The workaround is to tell them to do a `join()` on them, effectively blocking startup until the task is completed.

It's not very important I think in most applications to block startup, but we could perhaps support `@PostCons

[2019-05-09 13:44] FroMage commented on #447
@dmlloyd you sure this was meant to be closed?

[2019-05-09 14:38] maebl opened #2386 "Hibernate Panache: methods and annotations are missing building jar with Maven on Windows 10"
After discussion with the Quarkus community on zulipchat, it seems that there is a bug when a project using hibernate orm with Panache is  builded with Maven on Windows. The runner jar does not work.

I have tested the build of the quarkus-quickstart/hibernate-orm-panache-resteasy project (https://github.com/quarkusio/quarkus-quickstarts commit#2cd8f7d2174b177d2fe663c75c30a82b7862e1f7):
* Directly

[2019-05-09 14:42] aloubyansky commented on #2251
AppModelGradleResolver does that for the build. Although not exactly.

[2019-05-09 14:43] FroMage commented on #2386
Not sure what to label this because it is more general than Panache since even Hibernate methods are missing. Also, not sure how to debug this without a Windows machine.

[2019-05-09 14:48] geoand commented on #2367
OK, I have figured out why setting `<sourceDirectory>${project.basedir}/src/main/kotlin</sourceDirectory>` doesn't work.
The culprit is this piece of code: https://github.com/quarkusio/quarkus/blob/158df1697313fc3f7d1e2294747648fe6876fae9/independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/workspace/LocalProject.java#L189

Basically `getRawModel().getBuild().getSo

[2019-05-09 14:53] aloubyansky commented on #2367
It's a bug. We should be getting this into from the maven plugin instead. For now though, we could fix the LocalProject to resolve it properly.

[2019-05-09 14:58] geoand commented on #2367
@aloubyansky I'd be glad to fix it on `LocalProject` if you give a pointer on where to look for resolving properties. I very superficial look at the code didn't give me any clues :)

[2019-05-09 14:58] dmlloyd commented on #2384
Could `@Priority` cause a problem there?

[2019-05-09 15:02] aloubyansky commented on #2367
Just check whether the path begins with `${project.basedir}` and if it does replace it with `this.dir.toString()`.

[2019-05-09 15:04] geoand commented on #2367
Ah ok :), I was thinking about actually resolving the maven property :P. Will follow your suggestion :)

[2019-05-09 15:14] geoand commented on #2367
@aloubyansky PR opened: https://github.com/quarkusio/quarkus/pull/2389

[2019-05-09 15:19] dmlloyd commented on #447
That's a question for @Dufgui I guess?  His PR closed this automatically.

[2019-05-09 15:43] Dufgui commented on #447
I think it must be reopened.
I still have my repo website with backend here : https://github.com/Dufgui/quarkus-generator
Please tell me if you want it inside quarkus repo or outside. (I prefer outside personally). If outside, please create an empty repo and I put inside it.

For the backend-less approach, I can push a specific branch on the same repo.

[2019-05-09 18:21] #2367 closed

[2019-05-09 21:16] emmanuelbernard opened #2393 "Make add-extensions -Dextension and -Dextensions behave the same"
Today `mvn quarkus:add-extensions -Dextension=agroal,validator` will fail

[2019-05-09 21:16] emmanuelbernard commented on #2393
@cescoffier as discussed.

[2019-05-09 22:05] jycr commented on #2386
I also reproduce this issue on my Windows10 pro with my JDK (AdoptOpenJdk)

[2019-05-10 04:56] emmanuelbernard commented on #2335
It would be nice to not clutter the logs too much. Can we at least make this DEBUG level?

[2019-05-10 05:52] #1938 closed

[2019-05-10 07:19] mkouba opened #2394 "ArC build time extensions - provide an alternative of BeforeBeanDiscovery#addInterceptorBinding"

[2019-05-10 09:14] jycr commented on #2386
I have launched both Maven build in debug mode (with @maebl's JDK : Amazon Coretto).
Main differences are at the end of `quarkus-maven-plugin:0.14.0:build`

On linux, we have:
[code]
On Windows:
[code]

So on Windows, `org.hibernate.bytecode.enhance...` is not launched.

For more information, normalized partial Maven logs:
* [mvn-windows.normalized.log](https://github.com/quarkusio/quarkus/files/3

[2019-05-10 09:15] jycr commented on #2386
I also reproduce this issue on project: quarkus-quickstarts/hibernate-orm-resteasy (project without Panache)

[2019-05-10 10:23] mkouba commented on #2384
Hm, so first of all `@PostConstruct` != application startup. Even for `@ApplicationScoped` beans this callback is invoked when the contextual instance is being created which is the first time a method is invoked upon the instance (be it an observer method or a business method invocation).

This would work but I'm not sure it's worth the effort because `toCompletableFuture().join()` is the only boi

[2019-05-10 11:14] #2086 closed

[2019-05-10 12:37] goblinbr opened #2396 "Config doesn't work with multi module and quarkus:dev"
I've created a multi module project based on https://github.com/quarkusio/quarkus/tree/master/devtools/maven/src/test/resources/projects/multimodule

But when I run with "mvnw compile quarkus:dev" the @ConfigProperty doesn't work, it doesn't load the configuration and even the defaultValue doesn't work. But when I compile and run  the runner.jar it works.

The project:
https://github.com/goblinbr/

[2019-05-10 14:02] #2379 closed

[2019-05-10 14:10] dmlloyd commented on #284
Just as an update, I've been working on a design proposal for this which I hope to have ready sometime next week.

[2019-05-10 14:20] goblinbr commented on #2396
Just built quarkus from master and this is already fixed.

[2019-05-10 14:20] #2396 closed

[2019-05-10 14:43] gsmet commented on #2396
@goblinbr I plan to release the next one on Monday.

[2019-05-10 15:56] gastaldi opened #2400 "ServletContainerInitializer implementations are never invoked"
I want to use [Sentry](https://sentry.io/) in my Quarkus JVM App. For that, they provide the following dependency that contains a `io.sentry.servlet.SentryServletContainerInitializer`:

[code]

However the initializer is never triggered when the dependency is added to a Quarkus app.

[2019-05-10 16:00] gastaldi commented on #2400
I just tested and `ServletContainerInitializer` implementations are not invoked even if they are declared inside the Quarkus app (through the `META-INF/services/javax.servlet.ServletContainerInitializer`file)

[2019-05-10 17:08] jskov commented on #2251
Hi @aloubyansky
I have created a pull-request with the parts decoupling the common code from the maven implementation.
It should be easier to review.
When it is merged, I will make another pull-request with the actual Gradle support (which also affects the Gradle plugin).

[2019-05-10 18:22] nmcl opened #2404 "We call our "standards compliant" but don't actually mention any standards"
In quarkus repo the README states:

"Standards-based: Based on the standards and frameworks you love and use (RESTEasy, Hibernate, Netty, Eclipse Vert.x, Apache Camel...)"

Everything listed in parentheses is a project and whilst some standards are implied (e.g., JAX-RS or JPA) they're not called out explicitly. If this is an oversight then let's add a few standards (I'd also suggest MicroProfile)

[2019-05-11 14:25] cescoffier commented on #2221
Odd, but if the resteasy dependency is not there, then there is no injected vertx instance. Need to look into this with @mkouba.

[2019-05-11 15:05] gastaldi commented on #2400
I think a method like the following may be missing in `UndertowDeploymentTemplate` (and the necessary code to invoke it, obviously :smile: :

[code]

Any thoughts @stuartwdouglas?

[2019-05-11 15:09] gastaldi opened #2409 "Support custom logging handlers"
It would be great if Quarkus supported registration of custom logging handlers (some frameworks like [Sentry](https://sentry.io) use it as the integration point by registering custom JUL handlers - see an example [here](https://github.com/getsentry/examples/blob/master/java/java.util.logging/src/main/resources/logging.properties))

[2019-05-11 15:59] michael-simons opened #2410 "Graal CE 19.0 fails to build native images"
In several integration tests, i.e. Vertx and my upcoming Neo4j extension, native images cannot be build with Graal CE 19.0:

[code]

Environment:

Java:

openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-20190420112649.buildslave.jdk8u-src-tar--b03)
OpenJDK GraalVM CE 19.0.0 (build 25.212-b03-jvmci-19-b01, mixed mode)

Native Image

GraalVM Version 19.0.0 CE

[2019-05-11 16:50] michael-simons commented on #2410
You'll see those errors when trying to build the vertx example / integration test "by hand" and adding ` -H:+ReportExceptionStackTraces`

I created this option to have this in the Maven and Gradle plugins.

https://github.com/quarkusio/quarkus/pull/2411

[2019-05-12 20:35] Sanne opened #2412 "Support GraalVM v. 19.0"
Several things changed, making GraalVM 19 currently not compatible with Quarkus.

So far I noticed:
 - [x] `native-image` is no longer included by default. Need to install it by running "gu install native-image" -> adapt documentation, adapt CI, adapt container images.
 - [x] `SubstrateAutoFeatureStep` needs to invoke different methods; e.g. `delayClassInitialization` was renamed to `initializeAtR

[2019-05-12 23:52] gwenneg opened #2413 "JDBC driver not detected while building Quarkus with Gradle"
Hi Quarkus team!

I am in the middle of migrating a Thorntail project to Quarkus and it looks like I'm blocked by a bug that was supposed to be fixed here: https://github.com/quarkusio/quarkus/issues/1645

Here is a reproduction repository: https://github.com/gwenneg/quarkus-quickstarts/tree/master/hibernate-orm-resteasy

Run the `./gradlew clean build --stacktrace` command to get the following er

[2019-05-13 02:46] idiotwithalaptop opened #2414 "Native Image build fails with --docker-image=false"
Hi,

First of all, my apologies if this has already been raised.

Now, I have recently been trying to build native images using quarkus inside of my own docker container.  To do this, I opted to set the `--docker-image` flag to false to avoid the quarkus toolset creating a docker container within a docker container and dealing with the issues that come from that.  To my surprise though, this lead

[2019-05-13 07:26] cescoffier commented on #1940
That's something I would love to have!

It would require that the extension list give the set of properties that need to be copied to the application configuration.

[2019-05-13 08:12] geoand commented on #2413
Can you try and use `master`? It is quite possible that is has been fixed (I did a super quick and dirty test and it looks fixed).

[2019-05-13 08:46] ppalaga opened #2417 "Injector marked for delaying initialization but gets initialized during image build"
Related to JAXB and Camel core.

Found during the work on https://github.com/quarkusio/quarkus/pull/2352.

Steps to reproduce:

1. Make sure the changes from https://github.com/quarkusio/quarkus/pull/2352 are either merged in master or you rebase on top of https://github.com/quarkusio/quarkus/pull/2352

2. Remove `quarkus.camel.disable-jaxb=true` or replace it with `quarkus.camel.disable-jaxb=fals

[2019-05-13 08:55] mkouba commented on #2221
It seems that `SmallRyeReactiveMessagingLifecycle#onApplicationStart(StartupEvent)` is notified before Vertx is initialized. We need to produce a Vertx `ServiceStartBuildItem` to delay the notification. I'll send a PR shortly.

[2019-05-13 09:27] #2258 closed

[2019-05-13 09:33] #2346 closed

[2019-05-13 09:33] #2347 closed

[2019-05-13 10:00] evacchi commented on #2410
#2412 is duplicate @Sanne

[2019-05-13 10:57] #2393 closed

[2019-05-13 11:02] mswiderski opened #2419 "Allow to register JAX-RS endpoints generated by extensions"
Currently when Quarkus extension produces JAX-RS resource it is not registered by the RESTEasy extension as it does not take into account anything else that the source of the project.

This issues aims at providing a BuildItem to allow to register JAX-RS resources produced by extensions.

[2019-05-13 11:55] #2221 closed

[2019-05-13 11:55] gsmet commented on #2221
Closed via https://github.com/quarkusio/quarkus/pull/2418 .

[2019-05-13 12:54] sebastienblanc opened #2422 "[keycloak extension] policy-enforcer should be disabled by default"
You have to now explicitly disable it in the properties, it's a bit confusing :
[code]

[2019-05-13 13:23] sberyozkin commented on #2419
+1. That would be nice.

[2019-05-13 13:53] #2185 closed

[2019-05-13 13:56] emmanuelbernard commented on #1218
OK so it seems to exist in some form https://github.com/geoand/quarkus/blob/46dc078de494b331d83d39df8dddcc97e516bf85/core/runtime/src/main/java/io/quarkus/runtime/configuration/ApplicationPropertiesConfigSource.java#L70

But it's not in the Guide https://quarkus.io/guides/application-configuration-guide so on the Schrodinger scale, this feature is more dead than alive. Is `config/application.prope

[2019-05-13 14:08] lordofthejars commented on #1218
Yes also, I'll update the Quarkus cheat sheet accordantly

[2019-05-13 14:43] #2184 closed

[2019-05-13 15:31] LightGuard commented on #2200
Did I fix this with the documentation added for Agoral? @FroMage @gsmet

[2019-05-13 15:37] gsmet commented on #2200
I think @FroMage wanted a reference of the JDBC URLs that should be used for each RDBMS we support. I don't think we have that yet?

[2019-05-13 15:38] LightGuard commented on #2200
We do not have that yet. Where would this live?

[2019-05-13 15:43] gsmet commented on #2386
@jycr could you try to add breakpoints and understand why the enhancement is not done?

The first step would probably be to check if entities are passed to the enhancer.

BTW, do you somehow have a special character in the path to your classes (space, non ascii characters)?

[2019-05-13 15:46] gsmet commented on #2336
@barreiro does it ring any bell?

[2019-05-13 15:48] gsmet commented on #2414
@idiotwithalaptop I think it makes perfect sense to wrap the value. We already had a similar report.

Could you make the change, check it fixes your issue and submit a PR soon for inclusion in the next release (it should be released tomorrow or the day after)?

Thanks!

[2019-05-13 15:50] gsmet commented on #2200
I think an additional paragraph explaining how to setup each RDBMS we support in the doc about datasource configuration you added would make sense.

[2019-05-13 16:02] emmanuelbernard opened #2425 "Define how extensions are hosted and listed"

[2019-05-13 16:27] ml5174 commented on #2342
"There is work in progress in this  area." @cescoffier

Duplicate of #2048
https://github.com/quarkusio/quarkus/issues/2048#

[2019-05-13 18:24] dmlloyd commented on #1218
It is the recommended way, but this issue includes setting an alternative location IMO; also there was a user report that there may be circumstances where the filesystem file is not used under native image for some reason.  Once all the cases have been chased down, I'll resolve the issue.

[2019-05-13 18:48] masini opened #2426 "Exclusion of log4j Reactive Messaging Kafka"
The extension:

[code]

has a transitive dependency from log4j.

This print a WARNING with quarkus:dev, and prevent logging in @QuarkusTest.

I needed to exclude it:

[code]

to let tests log again correctly.

[2019-05-13 19:06] masini commented on #2317
Hi @aloubyansky I pulled your fork and now it seems to work.

Did you fixed the problem or I'm trying an incorrect test-case ?

[2019-05-13 19:08] rsvoboda commented on #2412
It's true for Linux and macOS distribution.

graalvm-ce-19.0.0 for Windows contains native-image, on the other hand there is no "gu".

This may change in the future releases, but for now Windows + GraalVM are special (GraalVM has Early Adopter Windows Support atm)

[2019-05-13 20:13] aloubyansky commented on #2317
Which one of my branches are you using? Haven't done anything more than in the PR linked to this issue.

[2019-05-13 20:15] masini commented on #2317
* master 1da1c8e1e Merge pull request #2421 from
gsmet/remove-duplicate-dependency

Il giorno lun 13 mag 2019 alle ore 22:14 Alexey Loubyansky <
notifications@github.com> ha scritto:

--
****************************************
http://www.lucamasini.net
http://twitter.com/lmasini
http://www.linkedin.com/pub/luca-masini/7/10/2b9
****************************************

[2019-05-13 20:40] #2422 closed

[2019-05-13 20:42] dmlloyd commented on #2412
Maybe we want a dedicated project board and separate issues for each GraalVM 19 issue?

[2019-05-13 21:15] dmlloyd opened #2428 "Class init controls have changed"
Original comment by Sanne:

In addition, the "rerun init" method is gone in favor of a direct singleton call.  We need to update this class to call these new methods in the new way, probably with more ugly reflection until/unless we can get an artifact with these types in it.

[2019-05-13 21:24] jclingan commented on #1199
@kenfinnigan I'm guessing this can be closed.

[2019-05-13 21:34] gsmet commented on #1199
Yes, thanks for following up.

[2019-05-13 21:34] #1199 closed

[2019-05-14 00:17] ryanbrown-iress commented on #2414
Sure, i'll sort that out today

[2019-05-14 06:42] jycr commented on #2386
Thanks to your reply @gsmet
My workspace is in c:\tmp\quarkus-quickstarts\hibernate-orm-resteasy

Do you know where to put first breakpoints ?
Indeed, I do not know how the enhancer works. Is there any documentation that explain how it works ?

[2019-05-14 08:11] aloubyansky opened #2430 "Confusing version override message logging in the Gradle plugin"
I initially thought interpreting the detected version override there as a "user enforced version" would be correct and warning that it's different than what's coming from the platform extension would appropriate.
However, it might not be exactly a "user enforced version" but a Quarkus BOM-enforced version, which is a recommended thing to do. In that case the logging I added initially doesn't make

[2019-05-14 08:18] emmanuelbernard commented on #1218
@dmlloyd let's document it as it stand (mark it WIP if you want). Because right now, while a common question, there is nowhere  to point users to.

[2019-05-14 08:43] aloubyansky opened #2432 "Add a note about configuring gradle build using locally built Quarkus version"
The recommended configuration for a released Quarkus version does not appear to work due to an issue in Gradle. There is a buildscript workaround though that may be useful to include in the docs.

[2019-05-14 10:33] #2432 closed

[2019-05-14 12:03] #2430 closed

[2019-05-14 12:03] #2426 closed

[2019-05-14 12:23] rsvoboda opened #2437 "smallrye-config update from 1.3.5 to 1.3.6 or 1.3.7 introduces failures"
smallrye-config update from 1.3.5 to 1.3.6 or 1.3.7 introduces failures

1.3.6 reports Failures: 3, Errors: 4, details below.

Few hours old 1.3.7 resolves many of the fails, one still remains.
https://github.com/smallrye/smallrye-config/compare/1.3.6...1.3.7
[code]

@dmlloyd can you look into it as you did fixes in smallrye-config 1.3.7 ?

1.3.6 details:
[code]

[2019-05-14 12:29] dmlloyd commented on #2437
Don't update it. The update has to be coordinated with other changes.

[2019-05-14 12:34] rsvoboda commented on #2437
ok, closing the issue (assuming you are handling that multi-changes effort).

[2019-05-14 12:34] #2437 closed

[2019-05-14 13:31] rsvoboda commented on #1610
Quarkus Quickstarts have an example of combined approach - https://github.com/quarkusio/quarkus-quickstarts/blob/master/getting-started-knative/Dockerfile

building the app ++ building the native image ++ building the final Docker image

building the native image is done directly via native-image command
https://github.com/quarkusio/quarkus-images/tree/graalvm-1.0.0-rc16/centos-quarkus-maven could

[2019-05-14 13:33] geoand commented on #1610
@rsvoboda interesting, I'll have to take a look

[2019-05-14 13:47] gsmet commented on #2054
OK, I think this was a temporary issue probably due to outdated artifacts. Let's close it and reopen if need be.

[2019-05-14 13:47] #2054 closed

[2019-05-14 13:48] gsmet commented on #1511
So let's close it :).

[2019-05-14 13:48] #1511 closed

[2019-05-14 14:09] dmlloyd opened #2438 "AJP init failure under Graal 19"
Output looks like this:

[code]

[2019-05-14 14:11] dmlloyd commented on #2438
My initial thought was that by setting `--initialize-at-build-time=` we've somehow undermined run-time-init, but now I don't think so: the entry points seem to come from methods that are run only from `main`.

[2019-05-14 14:16] dmlloyd commented on #2438
TBH it may not be running the AJP code at all.  The root problem is that there's a native buffer on the heap.

[2019-05-14 14:17] dmlloyd commented on #2438
It's probably complaining about `io.undertow.server.protocol.ajp.AjpServerRequestConduit#READ_BODY_CHUNK`.  I'll just mark it as run time init and see if that helps.

[2019-05-14 14:18] dmlloyd commented on #2438
Ah `UndertowBuildStep` already does it.  So, there is some conflict with the init option.

[2019-05-14 14:23] gsmet commented on #2267
@pavolloffay any chance you could take another look? Apparently, it's triggered if you run it multiple times.

[2019-05-14 14:24] gsmet commented on #2317
Should be fixed by https://github.com/quarkusio/quarkus/pull/2349 .

[2019-05-14 14:24] #2317 closed

[2019-05-14 14:26] gsmet commented on #2294
Fixed by https://github.com/quarkusio/quarkus/pull/2391 .

[2019-05-14 14:26] #2294 closed

[2019-05-14 14:40] pavolloffay commented on #2267
I have run it multiple times and I could not reproduce, I can give it another try this week.

[2019-05-14 15:11] evacchi commented on #2370
Hi @aloubyansky I have just thrown together #2439 a first attempt that we can iterate upon together, if you'd like. Let me know what you think, especially on how to do proper tests (missing now).

[2019-05-14 15:39] dmlloyd commented on #2438
Caused by: https://github.com/oracle/graal/issues/1183

[2019-05-14 15:43] dmlloyd commented on #2438
There appears to be no workaround; I think we'll have to wait for 19.0.1 or whatever.

[2019-05-14 16:47] dmlloyd commented on #2218
Minimal reproducer: https://github.com/oracle/graal/issues/1200#issuecomment-492315564

[2019-05-14 17:44] evacchi commented on #2370
**caveat**:  because I am relying on Mojos updating the source directories, it requires that users willingly invoke `mvn $some-other-phase quarkus:dev` instead of `mvn quarkus:dev` alone, otherwise the other mojos won't be triggered and therefore, only the default source directory will be there. e.g. `mvn compile quarkus:dev`. Because this might be surprising for users, it's important to decide wh

[2019-05-14 21:23] bellrauthien opened #2440 "Cannot produce native executable in Windows 10"

[2019-05-14 21:25] bellrauthien commented on #2440
I am not able to create a native executable file in Windows 10. I am able to do this in RHEL7 but no in Windows. This is the error I'm facing when running mvnw.cmd package -Pnative.

Found "c:\Leo\repositories\Femsa\microservices\rest\ReceiveGPS\ReceiveGPSData\.mvn\wrapper\maven-wrapper.jar"
[INFO] Scanning for projects...
[INFO]
[INFO] -----------------------------< femsa:gps >-------------------

[2019-05-14 23:12] gwenneg commented on #2413
I just tried a Gradle build with the 0.15.0 release and the bug is gone.

Thanks for your time @geoand !

[2019-05-14 23:39] jclingan commented on #2440
GraalVM RC15 does not support windows native binaries, so Quarkus 0.14.0 cannot compile to a Windows binary.  Track [this issue](https://github.com/quarkusio/quarkus/issues/2412) to stay on top of Windows native binary support as we work our way to support GraalVM 19.0.0.

[2019-05-15 01:04] geoand commented on #2413
Glad to hear it!

[2019-05-15 08:07] aloubyansky commented on #2370
That's good enough as a first step. It's merged. We'll create new issues for subsequent improvements. Thanks for your contribution!

[2019-05-15 08:07] #2370 closed

[2019-05-15 08:22] rsvoboda opened #2442 "Update openshift-s2i-guide.adoc to use ubi8-minimal"
https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/openshift-s2i-guide.adoc refers to `ubi7-dev-preview/ubi-minimal`

Not sure if it's available anymore (couldn't find it in https://access.redhat.com/containers/)

The guide should be updated to use https://access.redhat.com/containers/#/registry.access.redhat.com/ubi8-minimal

[2019-05-15 10:12] SamyBacha opened #2445 "Expose metrics in a UI similar to what we have with Swagger UI for the endpoints"
----- English version -----

Hello,

I advice you to integrating in the way of swagger-ui, a "metrics-ui" in order to see properly different metrics of the application

Best Regard

BACHA Samy

----- French version -----

Bonjour,

Suite au JUG Paris du 14/05/2019 je vous propose comme convenu de penser à intégrer à la façon de swagger-ui un metrics-ui qui permettra du gagner de temps et aux dev b

[2019-05-15 11:08] pavolloffay commented on #2267
I was able to reproduce it. There is a race condition in https://github.com/quarkusio/quarkus/blob/991e5a31b1d4e87739c807df89accaa66f17b994/extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/QuarkusJaegerTracer.java#L41

[code]
The func supplied to `updateAndGet` can be executed multiple times and the function should be "side-effect-free" which is not in this case because it creates

[2019-05-15 11:48] dmlloyd opened #2448 "Some nicer way to configure data sources than URLs"
It would be nice if we had some kind of smart configuration that could assemble JDBC URLs for us.  Every JDBC driver has different features and syntax and it's really annoying to have to look it up in a special guide.

So we should have some generic properties that apply to all data sources, like a host list, instance name, user name, and password, along with a "data source type" indicator.  Speci

[2019-05-15 12:20] soberich commented on #2198
This would be first such an ability on the market, I think. Right now the only decision non-JPA implementation which allow to map Entities with JPA annotations, generate schema, migrate, support SQL 2011 History, triggers, etc is Ebean. Ebean uses plain JDBC (again with JPA annotations - which is very nice). But of course those are standard blocking drivers. On the other hand non-blocking clients

[2019-05-15 12:59] sylvain-colucci-sg commented on #2386
Hello,

I think i have found the source of the problem.
In the class `AugmentPhase` (line 330), you are doing this :

[code]

The problem on windows, is that the `pathName` contains `\` instead of `/`. So the replacement is doing nothing, and any visitor can be found due to this (the visitor has to be executed to enhance the panache entities classes).

Hope it can help you to solve this problem.

[2019-05-15 13:41] geoand commented on #2445
@SamyBacha Although there are plenty of people that can understand French working on the project, would it be possible for you to convert to English since chances are that more people will be able to understand it?

Thanks

[2019-05-15 13:57] #2267 closed

[2019-05-15 14:16] mkouba opened #2450 "Introduce configurable management endpoint prefix"
Based on the [Avoid polluting the URI namespace with Quarkus endpoints](https://groups.google.com/forum/#!searchin/quarkus-dev/Avoid$20polluting$20the$20URI$20namespace$20with$20Quarkus$20endpoints$3F%7Csort:date/quarkus-dev/FMnmlDIcGRY/TFSKE5TIAAAJ) thread.

The prefix should be `/quarkus` by default.

All extensions that expose non-app endpoints should use this prefix: `/quarkus/health`, `/quark

[2019-05-15 14:26] dmlloyd opened #2451 "Introduce type and config converter for memory sizes"
The idea is to have a type for data sizes.  It would recognize strings in this format (shown as a regular expression):

[code]
If no suffix is given, assume bytes.  I would also say that we should we should probably disregard [IEC binary prefixes](https://en.wikipedia.org/wiki/Binary_prefix) unless we want to annoy 90% of our users (and make the other 10% insufferably smug).

[2019-05-15 14:26] dmlloyd commented on #2451
Use cases:

* Native image GC and stack size settings
* Log rotation threshold

[2019-05-15 14:50] rsvoboda commented on #2450
I'm not sure it's a good idea.
Many tools expect path at root.

E.g. https://prometheus.io/docs/introduction/first_steps/ :
Prometheus expects metrics to be available on targets on a path of /metrics. So this default job is scraping via the URL: http://localhost:9090/metrics.

https://prometheus.io/docs/prometheus/latest/configuration/configuration/#static_config … just host and port can be specif

[2019-05-15 14:55] dmlloyd opened #2452 "Introduce lenient Duration converter"
The Converter should accept values which start with a number by implicitly appending a `PT` to them.  If the value consists *only* of a number, it should implicitly treat the value as seconds.

[2019-05-15 15:11] kenfinnigan commented on #2450
While there are certainly tools that expect certain endpoints at root, they can also be configured to use different paths.

Whatever is done here needs to be configurable such that a user can choose whether endpoints go under `/quarkus` or root. But by default we should have everything under `/quarkus`

[2019-05-15 16:04] aloubyansky opened #2453 "Manually added paths are ignored in BootstrapClassLoaderFactory.newDeploymentClassLoader()"
Originally, this method was meant to return a CL with only the deployment dependencies. However the way BootstrapClassLoaderFactory is designed, allowing to add extra paths to the classpath (originally meant for the complete "all-inclusive" app classpath), appears to be confusing for users creating deployment classloaders.
In addition, there is a case when it'll be useful to create a deployment cl

[2019-05-15 16:20] #2353 closed

[2019-05-15 16:21] #2312 closed

[2019-05-15 16:30] dmlloyd commented on #284
The design proposal is [here](https://gist.github.com/dmlloyd/d271f6a19bd60990a5977fe7b2a43950) and has been posted to the mailing list for review [here](https://groups.google.com/forum/#!topic/quarkus-dev/d39bd4gMb8I).

[2019-05-15 17:15] rsvoboda commented on #2450
+1 to have configuration option for MP-related and (eventually) Quarkus-specific endpoints at root

`/quarkus` could help users by listing available endpoints, sort of index page

[2019-05-15 19:53] mejlholm commented on #2267
Just for the sake of good order - I've also check this with current master as of this writing. Issue is fixed.
Nice work!

[2019-05-15 22:57] gwenneg opened #2456 "Unsatisfied dependency with quarkus-arc not happening with Weld"
I am currently stuck in a project migration from Thorntail to Quarkus because the following type of injection (classes changed for example purpose) is not working with quarkus-arc:0.15.0 while there's no problem with Weld.

[code]

The following exception is thrown during a Quarkus build (with the Gradle plugin):

[code]

I reproduced this in the following repository: https://github.com/gwenneg/qu

[2019-05-16 03:58] tomh2013 opened #2457 "quarkus-resteasy-jsonb deserializes collection of Enums as collection of Strings."
Quarkus version 0.15.0

An enum type and a class containing a Set of the enum type are defined below.

public enum DummyEnum {
	XXX;
}

public final class DummyObject {

	private final Set<DummyEnum> _enums = new HashSet<>();

	@JsonbCreator
	public DummyObject(
			@JsonbProperty("enums") final Set<DummyEnum> enums) {
		_enums.addAll(enums);
	}

	public Set<DummyEnum> getEnums() {
		return _enums;

[2019-05-16 06:13] michalszynkiewicz opened #2458 "Reactive messaging, kafka and native: No ReactiveStreamEngine implementation found"
A native binary for a project using reactive messaging fails with the error below.

Project's source code: https://github.com/michalszynkiewicz/preview-search-engine

[code]

[2019-05-16 06:19] manovotn commented on #2456
Doesn't seem expected to me, it looks like the IP didn't inherit the proper type (e.g. operates on `T` rather then `PetrolEngine`).

As a side note, you should try and avoid using `private` members (`private T engine`) in order for Substrate VM to work better. Take a look here https://quarkus.io/guides/cdi-reference#private-members

[2019-05-16 06:29] manovotn commented on #2456
Hmm the gradle build wasn't working for me for some reason, so I cobbled together a Maven equivalent inside Arc testsuite - https://github.com/manovotn/quarkus/tree/issue2456

[2019-05-16 07:20] gwenneg commented on #2456
Yes, I removed all `private` modifiers from my real project but I forgot to do it in the reproducer. Thanks for the reminder!

Old habits die hard...

[2019-05-16 07:27] gsmet commented on #2458
I think adding `quarkus-smallrye-reactive-streams-operators` to your dependencies would fix it.

The question is: do we need to fix some of our dependencies?

[2019-05-16 07:31] #2200 closed

[2019-05-16 07:33] mkouba opened #2459 "Make it possible to inject built-in beans through BeanManager.getInjectableReference()"
This is a follow-up of https://github.com/quarkusio/quarkus/issues/2368. Currently, we don't provide the real beans for built-in beans (`BeanManager`, `Instance`, `Event`, etc.) but resolve them directly during build. This works fine for beans but not for `BeanManager.getInjectableReference()` and `@QuarkusTest`.

[2019-05-16 07:34] #2368 closed

[2019-05-16 07:58] sarxos commented on #2368
Thank you @mkouba!

[2019-05-16 08:08] mkouba commented on #2368
Not at all. I've merged the PR from @geoand and we'll address other built-in beans in https://github.com/quarkusio/quarkus/issues/2459.

[2019-05-16 08:12] geoand commented on #2021
Was this addressed by #2066? That PRs title seems to indicate it

[2019-05-16 08:47] pavolloffay commented on #2267
:+1: Thanks for reporting @mejlholm!

[2019-05-16 09:41] HemanandRajamani opened #2461 "Add Extension for AWS Alexa Skill Kit (ASK SDK v2 for Java)"
Adding the extension for AWS Alexa Skill Kit (ASK SDK v2 for Java) will enable supersonic start up of the aws lambda function and will help Alexa skills to get around the cold start delay without compromising the use of the already existing quarkus extensions.

[2019-05-16 10:04] #2453 closed

[2019-05-16 10:30] #2458 closed

[2019-05-16 10:53] lburgazzoli commented on #2206
tested

[2019-05-16 10:53] #2206 closed

[2019-05-16 11:01] gsmet commented on #2457
Could you check if this is a Quarkus specific issue or a JSON-B issue?

[2019-05-16 11:06] gsmet commented on #2452
@machi1990 would you be interested in taking this one?

The converter can already be written but I think we need to wait for https://github.com/quarkusio/quarkus/pull/2399 to go in for the declaration as it changes the way converters are declared.

[2019-05-16 11:08] gsmet commented on #2451
@machi1990 would you be interested in taking this one?

The converter can already be written but I think we need to wait for #2399 to go in for the declaration as it changes the way converters are declared.

[2019-05-16 14:03] emmanuelbernard opened #2463 "list-extensions shows badly on small screens"
`mvn quarkus:list-extensions` is un usable with the added URL. You guys have tiny eyes and big screens. But for me I can't click on the url as it goes on two lines.
I'd recommend we put the URL in a second line.

[code]

[2019-05-16 14:08] emmanuelbernard commented on #2463
CC @Dufgui

[2019-05-16 14:09] Dufgui commented on #2463
Ok i will do it

[2019-05-16 14:13] #2218 closed

[2019-05-16 14:17] rsvoboda opened #2464 "*Rotating*LoggingTest failures on Windows"
`*Rotating*LoggingTest` failures on Windows
Module: core/test-extension/deployment

Issue with strict file locking on Windows comparing to Linux.

Maybe something can be done in https://github.com/quarkusio/quarkus/blob/master/test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java#L278, but not really sure.

First executed `*Rotating*LoggingTest` passes, but but I guess

[2019-05-16 14:20] gsmet commented on #2464
Looks like a JBoss Logging issue to me. @dmlloyd WDYT?

[2019-05-16 14:22] rsvoboda commented on #2464
I did small app which generates log entries and logs are properly rotated.
So I think it's more testsuite issue tbh. Anyway, lets hear from David.

[2019-05-16 14:24] rsvoboda commented on #2464
The app had this bean:
[code]

Executed with `java -Dquarkus.log.level=ALL -Dquarkus.log.file.enable=true -Dquarkus.log.file.level=INFO -Dquarkus.log.file.rotation.max-file-size=9024  -Dquarkus.log.file.rotation.rotate-on-boot=false -Dquarkus.log.file.rotation.max-backup-index=10 -Dquarkus.log.file.rotation.file-suffix=yyyy-MM-dd -jar target\getting-started-1.0-SNAPSHOT-runner.jar` command

[2019-05-16 14:27] dmlloyd commented on #2464
Maybe there are multiple tests running at once in the same directory?  BTW it looks like we might want to fix that suffix from `YYYY-MM-DD` to `.YYYY-MM-DD`...

James's rotation code uses `java.nio.file.Files#move` so it doesn't hold it open AFAICT.  Maybe the CI environment is opening these files for printing to the console?  It would be nice if we could tell what other process was holding the fi

[2019-05-16 14:30] rsvoboda commented on #2464
I think it is NTFS related so maybe that's why we don't see it on CI.

[2019-05-16 14:34] dmlloyd commented on #2464
Ah I misread the issue.  I thought we *did* see it on CI.  Is CI not using NTFS then?

[2019-05-16 14:36] dmlloyd commented on #2464
I wonder, is it failing to access the source file or the destination file?

/cc @jamezp by the wey.

[2019-05-16 14:38] rsvoboda commented on #2464
@CI - It's there too ...

Weird thing about this issue is that it doesn't fail the build, there are just errors in log but the tests are marked as passed I think.

I looked at https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=2002&view=logs - download the log - unzip it - open it - search for `Failed to move file target`

[2019-05-16 14:43] rsvoboda commented on #2464
File locking - Process Explorer can help - https://www.mysysadmintips.com/windows/clients/593-find-what-is-locking-a-file-using-sysinternals-process-explorer

[2019-05-16 14:44] dmlloyd commented on #2464
I'll have to leave it to those of you who have Windows available :)

[2019-05-16 14:46] rsvoboda commented on #2464
Everybody has :) Our CI ...

I don't have bandwidth to look into this today, but I will dig a bit more tmr.

For now I did https://github.com/quarkusio/quarkus/pull/2466

[2019-05-16 15:21] jamezp commented on #2464
Looking at the properties file I don't see a file name specified. I assume it must get a default name of some sort. What the issue *might* be is the rotated file, `whatever.logyyyy-MM-dd`, is in use by something like a virus scanner so it can't be deleted then created during the move.

[2019-05-16 16:57] emmanuelbernard opened #2469 "Generate the missing no-args constructor for normal scoped CDI beans"
This should work

[code]

but I have to add the default constructor

[code]

Can we simply add it @mkouba

[2019-05-16 17:45] machi1990 commented on #2452
@gsmet sure.

I'll have a look once https://github.com/quarkusio/quarkus/pull/2399 lands.

[2019-05-16 18:08] dwamara opened #2470 "Quarkus bypasses Nexus and downloads artefacts directly from maven central"
Good evening,

trying to work with Quarkus 0.15.0 from the office this afternoon, I realised that even though my Maven installation had our Nexus repository configured, Quarkus tried to download artefacts directly from Maven central, which didn't work as such a connection is prohibited at the office.
I thought that it was a misconfiguration of my Maven but working from home, also with Nexus as rep

[2019-05-16 18:30] dmlloyd opened #2471 "AbstractDelegatingConfigSource doesn't delegate ordinal"
It should.

[2019-05-16 20:41] #2471 closed

[2019-05-16 20:47] machi1990 commented on #2464
I think this could be the cause of the issue. Since file name is not specified, `quarkus.log` is picked by the three tests cases.

I am not on Windows, but what I would also try is to specify different file paths for each test case and see if that solves the issue.

[2019-05-16 20:57] emmanuelbernard commented on #2463
Thanks!

BTW what’s the status and updated version representing precisely?
I’m asking because at least the status is empty most of the time. Maybe these should be after the extension make and artifact id.
and if the url in the console could be made to cut vs overflow (not a console guru), that would solve the problem.

Finally depending on the usefulness of the status and version thing, maybe simp

[2019-05-16 21:30] rsvoboda commented on #2464
Yes, quarkus.log is picked by the three tests cases. Customization of file name doesn't work in tests.
I tried to define `quarkus.log.file.path=xxx.log` but the log file was still quarkus.log

It's because of `PropertyTestUtil.setLogFileProperty();` in QuarkusUnitTest which sets `quarkus.log.file.path` to target/quarkus.log
See https://github.com/quarkusio/quarkus/blob/master/test-framework/common

[2019-05-16 21:32] rsvoboda commented on #2464
@machi1990 your code proposal won't work because of PropertyTestUtil.java as I wrote above ...

[2019-05-16 21:41] jycr commented on #2203
I think I found the origin of problem.
Aether artifact resolver (used by Quarkus to download "custom dependencies") use proxy configuration defined on each remote repository.
See: https://github.com/apache/maven-resolver/blob/maven-resolver-1.1.1/maven-resolver-transport-http/src/main/java/org/eclipse/aether/transport/http/HttpTransporter.java#L132

But, Quarkus do not configure proxy for remoteRe

[2019-05-16 21:56] Dufgui commented on #2463
The status is previously their. So I don’t remove it. If the extension dependency have a fix version, it check if it is outdated.  but most of the time people use the bom, so it s useless.
For url, i can check the width of the console with the following lib and adapt the layout to the width, no?
https://github.com/jline/jline3

I don't understand the end of the message ? what do you talk the prope

[2019-05-16 22:44] jclingan opened #2477 "Kubernetes (AP4K) Guide has unapplied templating artifacts"
The [Generating Kubernetes Resources](https://quarkus.io/guides/ap4k) guide has UI template artifacts like {project-name} and {project-version}, making a copy/paste of instructions fail.

[2019-05-17 03:26] tomh2013 commented on #2457
I re-tested using yasson (1.0.3) and javax.json (1.1.2) and the problem is still present.  So it appears it is a JSON-B issue and not a Quarkus specific issue.

However, this is then a clear problem with JSON-B as serialization/deserialization should be symmetric, and is not.  JSON-B is not recognizing that the generic type of the Set is an Enum and is not converting it from the Enum name String t

[2019-05-17 05:04] johnaohara opened #2478 "Setting @NamedQuery to cacheable=true cause hibernate to generate N queries for Collections"
I noticed that quarkus was generating a lot more DB load than another framework when returning simple findAll queries against postgres.

For an entity annotated with;

[code]
I see the following query sent over the wire;

[code]
with postgres returning one result at a time from the table. N queries are sent for the number of records stored in the table.

If I remove the QueryHint "org.hibernate.ca

[2019-05-17 05:12] gastaldi opened #2479 "Support different context path for Undertow resources"
It would be nice if one could configure a different context path (instead of `/`) in the Undertow resources served inside `src/main/resources/META-INF/resources`

[2019-05-17 05:15] gastaldi opened #2480 "Support web fragments"
Some Servlet 3.0-compatible libraries provide a `web-fragment.xml` which may contain listeners and init parameters that would be initialized when the server starts.

It would be nice if Quarkus could support that.

[2019-05-17 07:49] luisnuxx opened #2482 "quarkus-hibernate-orm extension is breaking native-image generation"
Java version: OpenJDK GraalVM CE 1.0.0-rc16
OS: MacOS (but also breaks the docker image generation)
Quarkus Version : <quarkus.version>0.15.0</quarkus.version>

[code]

`mvn package -Pnative`

is throwing the following errors:

[code]

if I comment the dependency in pom.xml , everything starts working as expected

[2019-05-17 08:32] gsmet commented on #2482
It's weird because AFAICS the error looks more related to Undertow than to Hibernate ORM.

Any chance you could share a minimal reproducer?

[2019-05-17 08:57] rsvoboda commented on #2464
So I have prepared this change: https://github.com/rsvoboda/quarkus/commit/ac8fbc0ac33ce687847d7b9fe93b69ba067f6e45

It works nicely on Windows Server 2016.

@dmlloyd > we might want to fix that suffix from YYYY-MM-DD to .YYYY-MM-DD
I did this change for the tests in ^^^
Should we add it as default value for fileSuffix in https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/

[2019-05-17 09:05] gsmet commented on #2464
IIRC, the rotation feature is enabled if it is defined so we can't define a default. But we could certainly improve the javadoc with an example.

[2019-05-17 09:12] luisnuxx commented on #2482
[issue_2482.zip](https://github.com/quarkusio/quarkus/files/3190764/issue_2482.zip)

[2019-05-17 09:42] leotu opened #2483 "Update to GraalVM 19.0.0 failed to generate a native image"
quarkus.version: 0.14.0
[code]

[SDK Since: 19.0](https://www.graalvm.org/sdk/javadoc/org/graalvm/nativeimage/hosted/Feature.html)

[2019-05-17 09:59] gsmet commented on #2483
See https://github.com/quarkusio/quarkus/issues/2412 .

You need to use the GraalVM version we indicate when we release:
- Quarkus 0.14.0 supports rc15
- Quarkus 0.15.0 supports rc16

We are working on supporting GraalVM 19 but we are not there yet.

Closing as duplicate.

[2019-05-17 09:59] #2483 closed

[2019-05-17 12:46] loicmathieu opened #2488 "Console log and file log minimum level are not the same"
The Console log have a default minimum level of INFO and the File log of ALL.
This is awkward, and it confuses developers as they usually use the console logging during developement and DEBUG level for debugging.

I think that the defaut minimum level for the console must be ALL.

I can make a PR with this chage (a one liner ;) for the code and the same for the doc)

[2019-05-17 13:27] johnaohara commented on #2478
I am not entirely sure this is an actual issue, or expected behaviour.

I saw this behaviour when I had QueryCache enabled for a select all query `SELECT f FROM Fruit f ORDER BY f.name` but I had disabled the second level entity cache for Fruit.  In this scenario, if hibernate finds a cached query result, but no entities in the 2lc, does hibernate send a query for each entity id it finds in the qu

[2019-05-17 13:41] dmlloyd opened #2489 "Add validation parameters to ConfigItem"
Add something like the following to `ConfigItem`:

[code]

The behavior of the `minValue` and `maxValue` parameters should be that for each parameter, if it is given and the value is `Comparable`, then the value should be `convert`ed using the defined converters and compared to the given value, registering an error if it is not within range (which will lead to Quarkus not starting up).  Specifying

[2019-05-17 13:47] dmlloyd commented on #702
Fixed by #2399.

[2019-05-17 13:47] #702 closed

[2019-05-17 13:50] #2464 closed

[2019-05-17 13:53] dmlloyd opened #2490 "Introduce startup config validation diagnostic context"
We need a diagnostic context that can be used while parsing the configuration.  The idea would be that we would parse the full configuration, and use the diagnostic context for things like:

* Reporting config value validation errors
* Reporting conversion errors
* Warning about unrecognized configuration keys

We'd then be able to log the results and exit Quarkus if there was one or more configur

[2019-05-17 13:55] dmlloyd commented on #2292
This relates to #2490 and #2489.  But it's a distinct issue because this comes down to SmallRye's implicit converters.

[2019-05-17 13:56] gsmet commented on #2478
I'm not sure how exactly the entity are loaded when a query is cached and you don't have a 2nd level cache for the loaded entities.

@gbadner could you shed some light on this behavior?

[2019-05-17 14:18] politrons commented on #1354
Ok maybe I´m dumb but I dont get it how to make it works

I have my microprofile file with this content
[code]

And then in my code I´m using SLF4J

[code]

But still I cannot see the log in the console or quarkus.log in the target folder. Also in the /tmp/ there no debug.log

Any idea what I´m doing wrong?

[2019-05-17 14:19] politrons opened #2491 "cannot see logs in console or file"
Ok maybe I´m dumb but I dont get it how to make it works

I have my microprofile file with this content
[code]

And then in my code I´m using SLF4J

[code]

But still I cannot see the log in the console or quarkus.log in the target folder. Also in the /tmp/ there no debug.log

[2019-05-17 14:21] dmlloyd commented on #2491
Try adding:

[code]

It's defaulting to `INFO` at present.

[2019-05-17 14:22] geoand commented on #1354
Have you tried also setting `quarkus.log.level=DEBUG` as explained [here](https://stackoverflow.com/a/55044088/2504224)?

[2019-05-17 14:48] politrons commented on #1354
something so silly like that thanks!

[2019-05-17 14:48] politrons commented on #2491
thanks has been solved!

[2019-05-17 14:48] #2491 closed

[2019-05-17 14:59] dmlloyd commented on #2489
Additional ideas:

[code]

The distinctions between these values and their interactions with `defaultValue` would not be clear until the MP config issues and discussions are resolved:

* eclipse/microprofile-config#407
* smallrye/smallrye-config#83

[2019-05-17 15:18] sarxos opened #2493 "AnnotationsTransformer not applied to METHOD_PARAMETER kind"
Hello,

I noticed that the `AnnotationsTransformer` is not applied to `Kind.METHOD_PARAMETER` when configured by `AnnotationsTransformer::appliesTo(Kind)`.

I have the following method:

[code]

And a `@BuildStep` like this:

[code]

And `AnnotationsTransformer` implementation given below. It does nothing but prints `TransformationContext` target to `stdout`.

[code]

This should print a bunch of

[2019-05-17 16:01] dmlloyd commented on #2489
Another idea: print a deprecation warning if the property is populated but is marked `@Deprecated`.  If we wanted to get very fancy we could print out the summary string from the `@deprecated` doc tag.

[2019-05-17 17:02] michalszynkiewicz opened #2495 "Kafka producer gets closed after first request in the native mode"
Due to `declaredMethods` of `BeforeDestroyed` not being present at runtime, destroying request scope causes a call to https://github.com/smallrye/smallrye-reactive-messaging/blob/master/smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaMessagingProvider.java#L28

Also see: https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/runtime/src/

[2019-05-17 17:54] machi1990 commented on #2452
@gsmet @dmlloyd I started working on this issue. Your early feedback is welcomed.

[2019-05-17 18:36] andrejpetras commented on #562
@cescoffier any update on AMQP support? For me it is the last missing piece to migrate JMS application.

[2019-05-17 19:42] Sanne commented on #2478
yes this is expected behaviour: caching of queries works via two independent levels: identify the ids of matching entities, then load the entities individually; in such a case you'd want to enable 2LC on the entity as well.

I guess Thorntail didn't have the same caching configuration?

[2019-05-17 19:55] Sanne commented on #2482
Thanks for the reproducer!

That kind of exception usually means we have a substitution for some component which is also being substituted by graalvm.

We'll need to debug the compiler to figure out the details, but I suspect it's not a specific issue of the `quarkus-hibernate-orm` extension, more likely a core issue.

[2019-05-17 20:45] dmlloyd commented on #2410
Duplicate of #2412.

[2019-05-17 20:45] #2410 closed

[2019-05-17 21:06] goblinbr opened #2498 "Exception org.objectweb.asm.MethodTooLargeException with a lot of entities"
I'm trying to convert a project that is running on wildfly to use quarkus.

But this project has more than 1,000 entities. When I try to run or compile it throws an Exception "org.objectweb.asm.MethodTooLargeException"

[code]

This Exception can be reproduced with this project:
https://github.com/goblinbr/quarkus-multimodule-test

Quarkus version: 0.15.0
Java version:
openjdk version "1.8.0_171-1

[2019-05-17 22:28] famod commented on #2470
You could try defining your Nexus server as the [mirror](https://maven.apache.org/guides/mini/guide-mirror-settings.html) for everything (`<mirrorOf>*</mirrorOf>`).

[2019-05-17 22:37] dwamara commented on #2470
It already is...

[2019-05-18 02:49] tomh2013 commented on #2457
This appears to be a known problem in Yasson (I assume this is being used under the covers by Quarkus), and is related to the use of the @JsonbCreator annotation.   See: https://github.com/eclipse-ee4j/yasson/issues/230  I have confirmed that for a POJO with setters and getters using no annotations that deserialization works as expected.

[2019-05-18 05:53] emmanuelbernard commented on #2463
Right know I need to use something like -Dquarkus.foo.format=simple to use the simpler format, that's really long and hard to remember as a property.

Do you know what the status mean? Anyone else?
So these extra columns seem to be about the extensions you already have in your POM and for which you want to check whether an update is necessary? I could see that be a different command actually.

[2019-05-18 05:57] emmanuelbernard opened #2500 "Add a list-extensions -Dsearch=foo"
Right know extensions are all displayed. What do people thing of a `-Dsearch=jdbc` filter capability.
We already have the algorithm in AddExtensions  which searches artifact ids, name and labels.

Looks like a quick win.

[2019-05-18 05:58] emmanuelbernard commented on #2463
BTW on a parallel subject, I think this would add value https://github.com/quarkusio/quarkus/issues/2500

[2019-05-18 06:38] waldimiro commented on #2133
I'm evaluating Quarkus (awesome!) as substitute of Thorntail. In the company, Kafka platform supports org.apache.kafka:kafka-clients:2.0.1 (at most). I tried to solve the problem in POM dependencies:

    ...
	<dependency>
	  <groupId>io.quarkus</groupId>
	  <artifactId>quarkus-smallrye-reactive-messaging-kafka</artifactId>
		<exclusions>
			<exclusion>
				<groupId>org.apache.kafka</groupId>

[2019-05-18 07:27] geoand commented on #2469
:+1: for this! We already do something similar for the RESTEasy classes so further simplifying things would be great from a user perspective!

@mkouba if you have too much on your plate I can take this

[2019-05-18 08:23] Dufgui commented on #2463
So I propose to change column and order. Because the artefact Id must not be split on 2 line too.
The default format may be the simple one, this:
Artefactid description
GuideUrl

For the other display format I propose to start from the use case.

The full format will be rename by upgrade format: this format need too search on maven central the last available version of quarkus bom and quarkus exte

[2019-05-18 08:24] Dufgui commented on #2463
It’s based on your idea @emmanuelbernard but my proposal is more a way of thinking

[2019-05-18 08:42] leotu opened #2502 "Vertx ClusterManager failed when generate a native image"
Because of "io.quarkus.vertx.runtime.ClusterConfiguration" without cluster manager class "ConfigItem".
It work well and can load ClusterManager in normal mode (quarkus:dev),
but if transform to native image raise error: "No ClusterManagerFactory instances found on classpath".

Does it possible add a cluster manager configure property for built time (UnremovableBeanBuildItem) or runtime load class

[2019-05-18 11:48] pantaoran commented on #1928
I think I have this problem with Quarkus 0.15.0 when running the quickstarts (with slight modifications from playing with the code). Are you sure this is fixed?

[2019-05-18 12:10] pipinet opened #2503 "[Gradle] JWTAuthContextInfoProvider config not Inject"
###  quarkus version 0.15.0
### application config
[code]

### error log
[code]

![image](https://user-images.githubusercontent.com/6096680/57969345-acad0e80-79a8-11e9-97fe-ac4c6cce9832.png)

[2019-05-18 15:09] Dufgui commented on #2463
I start the dev by set simple format by default and add carriage return before guide.
Do you want I rename the full format to upgrade and I change the way we extract version from bom and get it from somewhere else (what is the reference for delivery of quarkus extension? ), because I find this a little strange. And I am not sure it's our job to fin if plugin must be upgraded (there is already http

[2019-05-18 15:11] #2477 closed

[2019-05-18 15:15] mkouba commented on #2469
@geoand I'm working on it and even have a working prototype but I didn't know we have something for RESTEasy. Could you point me to the relevant sources?

[2019-05-18 15:18] geoand commented on #2469
The CDI case is probably more complex, but in the RESTEasy case all we did was this: https://github.com/quarkusio/quarkus/blob/74f18b366aed381dd25588fd454c362e702bde38/extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java#L366

[2019-05-19 07:27] Dufgui commented on #1204
If you talk about something like this: https://www.eclipse.org/tycho/sitedocs/index.html
it's more a problem of hosting.
And maybe css if you want something close to the official web site.

[2019-05-19 07:29] Dufgui commented on #1232
I think we can clone this one, since PR #2385
@gsmet

[2019-05-19 07:46] Dufgui commented on #1840
Hello, Could I help on this?

/cc @gsmet @cescoffier

[2019-05-19 11:28] politrons opened #2507 "How to implement Performance test"
I´m using @QuarkusTest to make IT test and works fine.
Now I would like to do some StressTest, so any idea which solution it's the best fit to do this sort of testing?.

Normally I use Gatling, but it seems it does not work well with Quarkus.

Any suggestion?

Regards

[2019-05-19 15:48] geoand commented on #2507
@johnaohara I believe you would be the most appropriate person to shed some light on this one 😉

[2019-05-19 16:21] BechirLandolsi opened #2509 "GraphQL"
Hello, is it possible to use GraphQL and the GUI GraphiQL with Quarkus? @gsmet

[2019-05-19 17:15] politrons opened #2510 "QuarkusTest and TestNG together"
This is not an issue but a question. It´s possible use @QuarkusTest to start the service and then use @Test of TestNG to have some Stress test.

Regards

[2019-05-19 19:12] jkopcsek commented on #1584
Yeah, that works nice for kotlin, but i still can't seem to the get the tests running, as i can't configure the "build/classes/kotlin/test" folder for test classes anywhere. Could you please make sure to include test class configuration as well? :-)

[2019-05-19 19:28] jkopcsek opened #2511 "Swagger-ui webjar not found in gradle setup"
Hi there,

i'm trying to add swagger ui to my kotlin/gradle quarkus project (yeah, testing your non java/maven support to the bones ;-)). Sadly, when i start the app in dev mode, i get an error.

Basic project setup:
* build.gradle.kts
** quarkus dirs and 0.15.0 dependencies set up and working
** add api("io.quarkus:quarkus-swagger-ui")

What do i see?
* "gradle build quarkusDev" reports:
[code]

[2019-05-19 19:47] Dufgui commented on #2425
Hello, just a little interesting input, I don't i you know it, but jhipster handle it, by keyword on npm registry and use the npm registry api:
https://www.npmjs.com/search?q=keywords:jhipster-module

Maven repo api/pom reference not provide keyword  notion but we can use artifactid suffix like maven-plugin for exemple.

Hope my input help a little
Bye

[2019-05-19 20:30] #2463 closed

[2019-05-19 21:00] #2452 closed

[2019-05-19 21:40] soberich commented on #1584
@jkopcsek stumbled upon the same... so the problem does actually exist. I though my setup is incorrect. The build is rather complex, and uses many gradle features. My guess is quarkus generally not going well with multi-module builds. Think this is the first issue to address here.

[2019-05-20 00:16] larchanjo opened #2512 "[Doubt] Is it possible to start a bean[EAGER] on startup time?"
I have been testing Quarkus for one month...and now I want to inject some configuration at startup time, and this kind of beans is more infrastructure configuration than a business bean, so in quarkus, it is not possible to create a bean that creates a Queue on Rabbit, etc..

Can anyone help me with it?

[2019-05-20 04:51] stuartwdouglas commented on #2511
Do you have a simple reproducer you can share on github, it will make debugging this quicker.

Looking at the error I am guessing there must be something different with how gradle builds its class path. This is handled via https://github.com/quarkusio/quarkus/blob/a184500ad4f0410d161307db69c21333afd7c3f7/core/deployment/src/main/java/io/quarkus/deployment/index/ClassPathArtifactResolver.java#L37,

[2019-05-20 04:54] stuartwdouglas commented on #2510
At the moment we have no real plans to support TestNG. It should not be too hard to implement by just copying what the JUnit extensions do, but I am not sure we would want it in core at this stage.

We are working to enable a community ecosystem, so once this is ready we may end up with a community supported TestNG extension.

[2019-05-20 04:55] #2510 closed

[2019-05-20 06:39] emmanuelbernard commented on #2463
I am not sure about the upgrade format. @aloubyansky how are people expected to discover the need for updates? Via `list-extensions` or differently? And if the use case is about the upgrade, then I guess a user does not care about extensions not present in its POM. My gut feeling says it should be in a separate command.

[2019-05-20 06:45] aloubyansky commented on #2463
Yes, I would also have a separate command for checking for the available updates.

[2019-05-20 06:49] Dufgui commented on #2463
Like `list-outdated`

[2019-05-20 07:07] evacchi commented on #2371
PR merged

[2019-05-20 07:07] #2371 closed

[2019-05-20 07:08] evacchi commented on #2373
PR merged, we can close this for now

[2019-05-20 07:08] #2373 closed

[2019-05-20 07:35] johnaohara commented on #2507
@politrons please could you describe why your Gatling test is not working with Quarkus?

[2019-05-20 07:36] mkouba commented on #2469
@geoand Thanks! The CDI case is also simple but now I wonder how to avoid "bytecode transformer conflicts" - resource classes are also beans and so we should not generate the constructor twice. Jandex index does not help here. Any idea?

[2019-05-20 07:43] geoand commented on #2469
Ah yes... We do have a disconnect here that I guess would arise sooner or later... But in this case Resource classes should be `@Singleton` shoouldn't they? Meaning that no extra constructor would be needed on the CDI side right?
The extra constructor was only added to make RESTEasy happy (or at least that is what I understood from the discussion I had on the RESTEasy JIRA)

[2019-05-20 07:58] politrons commented on #2507
It’s seems I cannot exclude JBoss log, and use logback, as Gatling need to use.
Try some options described here, but I could not make it works.
Anyway I just dedicate an hour so it might be an option, but I could not make it work yet

[2019-05-20 07:58] mkouba commented on #2469
You could annotate the resource with `@RequestScoped` or `@ApplicationScoped`... But you're right that CDI does not require proxies for `@Singleton`.

[2019-05-20 08:02] geoand commented on #2469
I think we have created the RESTEasy extra constructor creation in a way that wouldn't cause a problem. Specifically, we only create the constructor if the default (Singleton) scope is used (see [here](https://github.com/quarkusio/quarkus/blob/74f18b366aed381dd25588fd454c362e702bde38/extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasySer

[2019-05-20 08:07] mkouba commented on #2469
This should be ok. I'll send an email to quarkus-dev about resolving the possible conflicts though.

[2019-05-20 08:07] geoand commented on #2469
Makes sense :+1:

[2019-05-20 08:32] johnaohara commented on #2507
Please could you clarify how you are using Gatling to load test?
Gatling should be run in a separate VM from the application you are trying to test, and for reliable results a completely separate machine, there should not be any dependency conflicts between the application you are testing and Gatling as they should be completely separate processes.

[2019-05-20 08:48] politrons commented on #2507
Yes, I normally use in another JVM process, but for a simple POC I was trying to run the server using @QuarkusTest, but you are right it might not been a good idea.

It’s just that it’s really handy how @QuarkusTest start the application.

[2019-05-20 08:52] geoand commented on #2507
One more reason to not use `@QuarkusTest` with a load test, is that the application started in this case is not exactly the same as when starting with a typical `java -jar myapp.jar` where `myapp.jar` has been produced by `mvn package`. So in effect you would not only be testing in a unrealistic environment (like @johnaohara mentions), but you would also not be testing the artifact that you would

[2019-05-20 08:53] tchlyah opened #2516 "Adding a static method breaks Panache tests"
When I try to add a static method with a Panache Entity return type, the PanacheEntity static methods (for instance : `PanacheEntityBase#listAll()`) doesn't work anymore. In the other hand, instance methods continue to work as expected (`PanacheEntityBase#persist()` ...)

# How to reproduce
Fork [quarkus-quickstarts/hibernate-orm-panache-resteasy](https://github.com/quarkusio/quarkus-quickstarts/t

[2019-05-20 08:58] johnaohara commented on #2507
I would look at controlling the stress tests with a Gatling Maven or Gradle plugin, and run them as part of a build process, rather than trying to use the testing framework for something it has not been designed to do. Hope that helps

[2019-05-20 10:05] politrons commented on #2507
That’s what I normally do. And actually I was trying with the Gatling plugin, using the simulations, but also with the @quarkustest there as well.

You can close this ticket. I would just run the java jar generate as I normally do, and then. I will run the Gatling scenarios against that process

[2019-05-20 10:05] #2507 closed

[2019-05-20 10:54] #2456 closed

[2019-05-20 10:59] gsmet opened #2518 "Add a default toString() implementation for PanacheEntities"
Nothing fancy but having a default `toString()` implementation for `PanacheEntity` with something like `MyClass<id>` could be helpful.

I would use the simple class name for now, and switch to the full name if people complains about it.

[2019-05-20 11:13] mkouba commented on #2469
@emmanuelbernard PR sent. The constructor is not generated for more complex use cases (e.g. if your bean extends another bean that does not declare a no-args constructor). It should work in simple cases though.

I'd like to write a short blog post on quarkus.io about all those nice little improvements we did around CDI...

[2019-05-20 11:48] mkouba opened #2520 "@BeforeDestroyed and @Destroyed events fired incorrectly for request context"
Currently, both events are fired for every contextual instance found in the context. If there is no contextual instance the events are not fired at all.

See https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/RequestContext.java#L150-L160.

[2019-05-20 12:30] #2419 closed

[2019-05-20 12:35] #2480 closed

[2019-05-20 13:26] jycr commented on #2386
Thanks to your reply @sylvain-colucci-sg

You right, problem fixed

See: #2522

[2019-05-20 13:28] #2314 closed

[2019-05-20 13:32] mkouba opened #2523 "Register all qualifiers for reflection to fix resolution in native image"
I'm pretty sure this worked in earlier versions of graalvm - the qualifier annotations were registered automatically (note that we generate `AnnotationLiteral` classes for them and instantiate the literals during STATIC_INIT). But there's no doubt it does not work anymore.

[2019-05-20 13:55] oscerd opened #2525 "Camel-AWS S3 integration test: Env variable substitution doesn't work anymore"
[code]

[2019-05-20 13:56] oscerd commented on #2525
cc @gnodet @lburgazzoli

[2019-05-20 14:50] antoinesd opened #2527 "Update SmallRye Health Check to 2.0"

[2019-05-20 15:26] emmanuelbernard commented on #2469
@mkouba +1 for the blog :)
Also if you need a shared non  duplicated change, the pattern we want to promote is a shared extension that exposes BuildItems that can be generated by CDI and RESTEAsy. In this case it would be a default constructor generator. Would that work / be better than what you guys did.

[2019-05-20 15:53] mkouba commented on #2469
Ok, so instead of a custom transformer we could have a specialized transformer. That would probably work.

[2019-05-20 15:56] emmanuelbernard commented on #2469
@mkouba to be clear, I am just asking if that would be a better design. I don't have skin in the game.

[2019-05-20 16:01] starksm64 opened #2528 "Missing default java.security.Principal producer for SecurityContext"
**Describe the bug**
Trying to inject a java.security.Principal fails with a UnsatisfiedResolutionException

**Expected behavior**
One should expect that there is a default java.security.Principal that maps to the JAX-RS SecurityContext#getUserPrincipal()

**Actual behavior**
A failure with:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Principal injection to io.quarkus.securi

[2019-05-20 18:01] cescoffier opened #2529 "Detect and register event bus codec automatically"
**Description**
Detect and register event bus codec automatically

**Implementation ideas**
We need to collect `@ConsumeEvent` method and check for received type:
* direct payload (so type T)
* Message<T>

Once the types are collected, a `GenericCodec` must be registered. It the `@ConsumeEvent` specified a specific behavior this one must be registered.

The generic codec does the following:

* pas

[2019-05-20 18:34] #2523 closed

[2019-05-20 19:20] #2386 closed

[2019-05-20 19:28] #2500 closed

[2019-05-20 19:31] #2451 closed

[2019-05-20 19:40] gastaldi opened #2531 "ClassLoader.getSystemResourceAsStream does not work in quarkus:dev"
**Describe the bug**
Some 3rd-party libs use `ClassLoader.getSystemResourceAsStream` to get resources from a given path inside the JAR.

**Expected behavior**
It works when running Quarkus with `java -jar`, but returns `null` with `mvn compile quarkus:dev`

**Actual behavior**
`ClassLoader.getSystemResourceAsStream` should not return `null` when `mvn compile quarkus:dev` is used

**To Reproduce**

[2019-05-20 19:47] jkopcsek commented on #2511
I created a setup for this problem here:
https://github.com/jkopcsek/quarkus-kotlin-gradle-demo/tree/bug/swagger-ui-not-found

As you can see, the project is fine on the master and breaks by adding the swagger-ui dependency.

If you can give me an indication on how to debug the deployment code, i'm happy to investigate the problem myself. At the moment, intellij doesn't find those classes at all.

[2019-05-20 20:32] haducloc opened #2532 "Warning message about com.sun.xml.bind:jaxb-osgi:jar:2.2.10 when executing: mvnw compile quarkus:dev:"
[WARNING] The POM for com.sun.xml.bind:jaxb-osgi:jar:2.2.10 is invalid, transitive dependencies (if any) will not be available, enable debug logging for more details

[2019-05-20 20:36] gastaldi opened #2533 "Support undertow-handlers.conf"
**Description**
It would be nice if Undertow supported a custom `undertow-handlers.conf` inside the application's `META-INF` (the Undertow documentation specifies putting inside `WEB-INF`, but that doesn't work either).

This is necessary to configure single-page applications (to return `index.html` when different context paths are requested) and reverse proxies

[2019-05-20 20:49] jkopcsek commented on #1584
Here is a setup of a gradle/kotlin test that is not being recognized: https://github.com/jkopcsek/quarkus-kotlin-gradle-demo/tree/bug/quarkus-test-not-found

It is not found at all in quarkusBuild and when executing the test in IntelliJ the following error pops up:
[code]

[2019-05-21 00:22] stuartwdouglas commented on #2531
You should be using Thread.currentThread().getResourceAsStream(). Resources inside the deployment are not on the system class path in dev mode, as we need a new class loader to enable hot deployment.

Note that this code won't work in application servers such as WildFly either.

[2019-05-21 00:24] gastaldi commented on #2531
@stuartwdouglas The code falls back to ServletContext.getResource() which doesn't work either, maybe that needs to be fixed?

[2019-05-21 00:26] gastaldi commented on #2531
This is the filter implementation: https://github.com/paultuckey/urlrewritefilter/blob/master/src/main/java/org/tuckey/web/filters/urlrewrite/UrlRewriteFilter.java#L264

[2019-05-21 01:41] stuartwdouglas commented on #2414
I don't think this is correct. There should be no escaping going on as it is a ProcessBuilder.

I am not really sure where docker actually comes into the gradle build? It looks like the build that fails is not using docker, then you do a different build with docker that has an escapting problem that then works after you fix it? I don't think this is actually related to the original failure.

I am

[2019-05-21 01:49] stuartwdouglas commented on #2531
So the ServletContext.getResource() will serve out of META-INF/resources, so META-INF/resource/META-INF/file.txt would work.

Because this is a jar and not a war there is not really a standard layout. We can't serve from the root of the jar because that is where all the class files are, and we don't want to serve them to the outside world. META-INF/resources is a standard location according to the

[2019-05-21 02:01] gastaldi commented on #2531
That makes sense to me. I'll close this issue for now. Thank you @stuartwdouglas

[2019-05-21 02:01] #2531 closed

[2019-05-21 02:21] #2488 closed

[2019-05-21 06:54] mkouba commented on #2469
Ah, I was missing the question mark ;-). Anyway, it is probably a better design but as usual - more generic design is harder to implement. So I would propose to create a new issue to address this problem. @geoand WDYT?

[2019-05-21 06:54] oscerd opened #2537 "Add Extension for Camel-AWS-SQS"
**Description**
To support AWS SQS component from Camel.

[2019-05-21 07:02] oscerd commented on #2537
I'm working on this

[2019-05-21 07:47] #2203 closed

[2019-05-21 08:56] #2469 closed

[2019-05-21 11:45] #1984 closed

[2019-05-21 11:55] #2520 closed

[2019-05-21 12:31] #2537 closed

[2019-05-21 13:46] emmanuelbernard commented on #2412
Hey @dmlloyd, can you tell the status on this. I’m a little but in the dark.

[2019-05-21 13:52] dmlloyd commented on #2412
The best place to look would be the GraalVM 19 board: https://github.com/quarkusio/quarkus/projects/8

However right now we're stuck on https://github.com/oracle/graal/issues/1183.  I'm waiting for a GraalVM branch to test with.

[2019-05-21 17:53] jiekang opened #2544 "quarkus-vertx-web hangs if port is in use"
**Describe the bug**

When starting a quarkus vertx web app that listens on a port that is in use, the quarkus process hangs and does not respond to SIGTERM.

**Expected behavior**

It would be acceptable for the application to exit with error message informing that the port is in use.

**Actual behavior**

The application hangs with no logs and does not respond to SIGTERM.

**To Reproduce**
Steps

[2019-05-21 18:34] Dufgui opened #2545 "maven list-outdated extension"
**Description**
goal for maven to list outdated extension and remove the feature from current list-extensions

**Implementation ideas**
create the command. remove the code from current list-extension.
Test with and without bom. Check if current implementation works with maven repository in pom or not?

[2019-05-21 18:34] Dufgui commented on #2545
see #2463

[2019-05-21 18:35] Dufgui commented on #2545
please add maven component label and maybe good-first issue

[2019-05-21 18:37] Dufgui commented on #2532
Hello,
could you provide your pom please ? Is it a multi module project?

[2019-05-21 18:54] machi1990 commented on #2518
I'll work on this one.

[2019-05-21 19:04] Dufgui commented on #2518
lol more quick then me ;o)

[2019-05-21 19:04] FroMage commented on #2518
Great!

[2019-05-21 19:59] ekans commented on #2323
@gsmet I'm interested in working on this issue but is it still necessary if it works with the MariaDB extension?

[2019-05-21 20:21] ppalaga opened #2547 "Camel servlet extension"
Assigning to me ( @ppalaga ).

@lburgazzoli mentioned in the Fuse chat:

Following up https://github.com/quarkusio/quarkus/pull/2542

[2019-05-21 21:01] michalszynkiewicz opened #2548 "reactive-messaging-kafka: CNFE: io.quarkus.netty.runtime.NettyTemplate"
**Describe the bug**
A project with `quarkus-smallrye-reactive-messaging-kafka` and `quarkus-smallrye-reactive-messaging` works fine in the `quarkus:dev` mode but fails to start from jar.
Also fails to build to a native image.

**Expected behavior**
The application should start without error and it should be possible to build a native image.
Adding a dependency on `quarkus-vertx` solves the proble

[2019-05-22 00:16] gastaldi opened #2549 "NullPointerException in DevMojo when running mvn compile quarkus:dev"
**Describe the bug**
Running `mvn compile quarkus:dev -rf web` in the root of https://github.com/fabric8-launcher/launcher-backend gives the following error when using the 999-SNAPSHOT version

[code]

**Expected behavior**
Quarkus should start appropriately. It works in 0.15.0
[code]

**Actual behavior**
Fails with NPE.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://gith

[2019-05-22 05:37] evacchi commented on #2549
Interesting, I am taking a look today

[2019-05-22 06:52] cescoffier commented on #2548
Can you try to add the `quarkus-vertx` extension and if you still have an issue the, `smallrye-reactive-stream-operators` extension?

[2019-05-22 07:02] cescoffier commented on #2548
Don't worry, I've reproduced it... Fix on its way.

[2019-05-22 07:05] michalszynkiewicz commented on #2548
Adding quarkus-vertx works around the problem, yes

[2019-05-22 07:12] cescoffier commented on #2548
at the same time, I'm fixing a native build issue.

[2019-05-22 07:25] cescoffier commented on #2548
Can you check #2551?

[2019-05-22 07:29] mkouba commented on #2493
Hi @sarxos, so `Kind.METHOD_PARAMETER` is not supported and as explained in `AnnotationTransformer`s javadoc: _"The container should use AnnotationStore to obtain annotations of any org.jboss.jandex.ClassInfo, org.jboss.jandex.FieldInfo and org.jboss.jandex.MethodInfo."_ In other words, if you want to modify the annotations of a method param you'll need to transform a method info annotations.

I a

[2019-05-22 07:35] cescoffier commented on #2544
@jiekang I've fixed it in #2552.

[2019-05-22 07:46] #2518 closed

[2019-05-22 07:48] sarxos commented on #2493
Hi @mkouba, thank you for clarifying this! I will take your suggestion into account and implement some w/a using `target().kind()` :)

[2019-05-22 07:48] #2493 closed

[2019-05-22 10:35] rsvoboda commented on #2548
@cescoffier any idea why `quarkus:dev` worked fine ?

@michalszynkiewicz can you share your sample app ?

[2019-05-22 10:37] rsvoboda commented on #2548
kafka-quickstart doesn't reveal the problem as it has explicit dependency on quarkus-vertx

[2019-05-22 10:48] rsvoboda commented on #2548
Plus there is https://github.com/quarkusio/quarkus-quickstarts/issues/145

[2019-05-22 12:14] masini opened #2556 "Adding javax.validation @Valid in JAX-RS resource method which override an interface break HibernateValidatorTemplate"
**Describe the bug**

I have an interface with a single method:

[code]
and a JAX-RS resource which implements it:

[code]

**Expected behavior**

The parameter is "validated" with javax.validation.

**Actual behavior**

At startup with:

    mvn clean compile quarkus:dev

I got this Exception:

[code]

When the executable of the:

    org.hibernate.validator.internal.properties.javabean.JavaBeanE

[2019-05-22 12:38] #2548 closed

[2019-05-22 12:47] #2544 closed

[2019-05-22 12:47] jiekang commented on #2544
Looks good, thanks!

[2019-05-22 12:51] mkouba opened #2557 "BeanManager.resolveInterceptors() does not work correctly"
The method or constructor must have all the interceptor bindings of the interceptor and not vice versa. See https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/ArcContainerImpl.java#L496-L504.

[2019-05-22 12:57] loicmathieu opened #2558 "Startup performance issue with OpenAPI"
**Describe the bug**
Startup performance degradation between releases observed specifficaly when using the OpenAPI extention.

**Expected behavior**
Startup performance should be better or at least consistent between releases.

**Actual behavior**
Switching Quarkus versions with the stock demo OpenAPI application from the tutorial, we can see the following augmentation time increasing releases aft

[2019-05-22 13:02] kenfinnigan commented on #2558
Are you able to verify similar degradation with JDK 8?

[2019-05-22 13:13] michalszynkiewicz commented on #2548
@rsvoboda the simplest possible reproducer: https://github.com/michalszynkiewicz/quarkus-kafka-error-reproducer
It's enough to build the project to observe the problem

[2019-05-22 14:16] loicmathieu commented on #2558
From my "real world apps" with Java 8 :
- 0.15 => Quarkus augmentation completed in 4256ms
- 0.13 => Quarkus augmentation completed in 2009ms

The degradation seems to be worse but as I make realy quick test with some stuff running on my computer I don't think that the differences between 8 and 11 are relevant. But what is relevent is that still in Java 8 startup time have a huge regression betwee

[2019-05-22 14:19] mkouba opened #2560 "MP rest client interfaces do not support MP FT annotations"
SmallRye FT implementation is using an additional interceptor binding `@HystrixCommandBinding` to bind `HystrixCommandInterceptor` to all bean clasess that declare an MP FT annotation (such as `@Fallback`). In order to make it work SM FT portable extension adds `@HystrixCommandBinding` to [all FT annotations](https://github.com/smallrye/smallrye-fault-tolerance/blob/master/implementation/src/main/

[2019-05-22 14:24] mkouba commented on #2560
@manovotn Would you care to take this one? ;-)

[2019-05-22 15:27] kenfinnigan commented on #2558
As far as I can tell the only changes to OpenAPI between those releases are:

- https://github.com/quarkusio/quarkus/commit/760adaf07eb5f01e91e36e8dd23a613976ade2b8#diff-f7426777fbbaee3e12175eae8d11f0c4
- https://github.com/quarkusio/quarkus/commit/c2aca1525516975709a16639bb02c0f4dda8fd70#diff-f7426777fbbaee3e12175eae8d11f0c4
- https://github.com/quarkusio/quarkus/commit/b874f88ddc98fb2ed68161006b

[2019-05-22 15:41] #2557 closed

[2019-05-22 15:44] #206 closed

[2019-05-22 15:49] #2243 closed

[2019-05-22 15:50] brunobat opened #2561 "Build failure when using many OpenApi anotations"
**Describe the bug**
We have an application with ~10 endpoints, each one have CRUD+List operations and they are extensively documented with:
`@Operation`
`@RequestBody` (when it makes sense)
`@APIResponse` (at least 5 different ones for OK and error conditions)
`@Parameter` (when it makes sense)

We Also use:
`@OpenAPIDefinition` and `@Schema` on 20+ DTOs and their fields.

The build fails with th

[2019-05-22 16:41] machi1990 commented on #2561
A dup of #2498? https://github.com/quarkusio/quarkus/pull/2550 was proposed to fix the issue.

@brunobat could you please try with a clean build of the master to see if it solves the issue?

[2019-05-22 16:51] dmlloyd opened #2563 "Native image fails for Hibernate Validator (Graal 19)"
[code]

[2019-05-22 16:54] #2428 closed

[2019-05-22 16:54] brunobat commented on #2561
@machi1990 Do you mean build quarkus master, change my project dependency and see if it fixes the issue?

[2019-05-22 16:54] #2438 closed

[2019-05-22 16:57] machi1990 commented on #2561
Hey @brunobat Yes, that's what I meant.

Sorry, I could have been more clear in my message.

[2019-05-22 17:22] dmlloyd commented on #2563
See also https://github.com/oracle/graal/issues/1320

[2019-05-22 17:40] #2549 closed

[2019-05-22 19:22] dmlloyd commented on #2412
We've gotten past oracle/graal#1183, now we're stuck on oracle/graal#1320.

[2019-05-22 19:23] machi1990 commented on #1615
@dmlloyd @gsmet what's the status of this?

If no one is not working on  it yet, I can give it a go: basing my work on a design decision if it exists or the help of a mentor.