[2019-10-07 10:19] jaikiran commented on #3316
@devauxbr, this has now been implemented and merged in https://github.com/quarkusio/quarkus/pull/4395.
@gsmet, I think we can close this one now.

[2019-10-07 10:25] gsmet commented on #3316
Yes, closing, thanks!

[2019-10-07 10:25] #3316 closed

[2019-10-07 10:27] marcinczeczko commented on #4406
Well, honesty there were no a good reason for that, except the counter-example for async client that was my primary goal :) It's fairly easy to add such support as AWS SDK supports it.

[2019-10-07 11:11] manovotn commented on #4393
@acoburn BTW if you really need it to be `@Nested` for some reason, then you can make it `static` and that will work too.

[2019-10-07 11:13] geoand commented on #4393
I think that `@Nested` in JUnit 5 is not supposed to be `static`.

But of course the question of the usefulness of `@Nested` is still valid. I personally haven't encountered it.

[2019-10-07 11:16] manovotn commented on #4393
Ah, you're right, just spotted that in their docs - https://junit.org/junit5/docs/current/user-guide/#writing-tests-nested

Yeah, I've got similar experience.

[2019-10-07 12:44] Sanne commented on #4311
@maxandersen Gradle plugins can decorate other plugins; the goal should be to require users to just

`
plugins {
    id 'io.quarkus'
}
`

(the 'java' plugin should be unnecessary - unless there's need to differentiate for the Kotlin projects but I think that could be skipped or handled as a different plugin id)

[2019-10-07 13:15] gsmet commented on #3817
The second issue is fixed but it would be nice if we could improve the error message somehow.

[2019-10-07 13:18] gsmet commented on #1517
Using `@DataSource` is the way to go.

I'm closing this one as we have tests checking it's working well with `@DataSource`.

[2019-10-07 13:18] #1517 closed

[2019-10-07 13:19] gsmet commented on #2326
This one is nice to have but really not critical at all.

[2019-10-07 13:22] gsmet commented on #2336
We need to check if the connections are properly validated by the Agroal logic.

[2019-10-07 13:23] wburns commented on #4285
Currently the `hotrod-client.properties` file is read at compile time only at https://github.com/quarkusio/quarkus/blob/master/extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java#L92. I think leaving this as it is probably good for a set of "default" values that are burned into the native image.

We could then add a runtime c

[2019-10-07 13:23] gsmet commented on #2815
We had several reports of this. We should try to investigate.

[2019-10-07 13:24] lordofthejars opened #4411 "MicroProfile Config escape character not respected"
**Describe the bug**
If you set a property as a list:

[code]

The List should contain the next values: "!!", "How, are you?", "??" but it contains four elements instead of 3:  "!!", "How",  "are you?", "??

**Expected behavior**

Contain an array with 3 elements as escape char.

**Actual behavior**

Escape char is not an escape char but it is used as a separator.

[2019-10-07 13:25] gsmet commented on #2815
This might be related to this issue: https://github.com/quarkusio/quarkus/issues/3127 .

[2019-10-07 13:27] gsmet commented on #3127
@masini so this one is expected: if you force JSON-B to use fields, then the dirty tracking code is not triggered as this code is in the setters.

[2019-10-07 13:27] #3127 closed

[2019-10-07 13:28] gsmet commented on #3429
This has been addressed.

[2019-10-07 13:28] #3429 closed

[2019-10-07 13:36] ricardozanini commented on #4285
Hi @wburns thanks for your reply!

That's what we need. So reading those properties from an external hotrod file is the approach that we can take? Something like this:

https://github.com/kiegroup/kogito-runtimes/pull/176/files#diff-aae8338d8564c59f83a5aa8615950b5fR97

[2019-10-07 13:42] gsmet commented on #3284
There is a tentative PR here: https://github.com/hibernate/hibernate-validator/pull/1049 .

While I suppose the PR fixes the issue mentioned here, it looks like there is something weird going on so we need to fully understand the issue before merging.

[2019-10-07 13:43] dodalovic opened #4414 "quarkus:dev not working well for kotlin projects"
Anytime I change project, I need to restart my `./mvnw clean compile quarkus:dev` command.

Otherwise, I get errors such as:

[code]

By just restarting the runner, the things work well again.

[2019-10-07 13:44] dhartford commented on #2615
@gsmet  Based on my initial experience and cross-referencing 'the internet' (i.e. stackoverflow, quarkus dev group on google, blogs, quarkus extensions and guides, etc) there is confusion, at least for me, on where/how to do 'non-functional-feature x' (such as setup the nocache headers).  My first thought was undertow, which may have gone down a path that may not be correct.

Would you have an exa

[2019-10-07 13:47] geoand commented on #4414
Most likely related to: https://github.com/quarkusio/quarkus/pull/4397#issuecomment-538770929

[2019-10-07 13:49] #4301 closed

[2019-10-07 13:52] wburns commented on #4285
It seems fine to me, I am not sure what the stance is from the Quarkus guys though. @gsmet have an opinion?

[2019-10-07 14:13] yntelectual commented on #4224
Its probably related to #1502.

[2019-10-07 14:39] Sanne commented on #2815
@dreab8 could you add a test for this?

[2019-10-07 14:44] emmanuelbernard commented on #4394
I don't know how we could do both Java and Kotlin examples. I'm not sure two different guides each time would scale.

[2019-10-07 14:44] emmanuelbernard commented on #4394
vs having two examples, one for J and one of K

[2019-10-07 14:45] emmanuelbernard commented on #4394
Of course it looks like Panache is a counter example as things are relatively different due to the Kotlin way of doing things

[2019-10-07 14:59] dodalovic commented on #4394
@emmanuelbernard I agree with you that we should have only one guide
, in Java. On top - the same sample written in both languages, and the kotlin one mentioned in Java guide.

My bigger concern is that we currently do not mention limitations related to Kotlin support clearly in the documentation.

What I could do from my side is to prepare sample app in kotlin demonstrating extensions that fully

[2019-10-07 15:02] emmanuelbernard commented on #4394
@dodalovic I think that would be great to have quickstarts for Kotin for the key extensions indeed to make sure we don't regress too.

[2019-10-07 15:17] Sanne commented on #2336
@enbohm did you enable the new configuration properties?

[code]

And how did you set other existing properties? These could be related, but I guess we could use to see them all.
[code]

[2019-10-07 15:56] sberyozkin commented on #4392
Hi Stian, sure, as per the PR discussion we will support the discovery seamlessly, either by having the adapter to recognize the `auth-base-url` fits the standard discovery URL pattern or by sticking to the path based approach and adding a relative discovery path property or may be indeed introducing a dedicated `discovery-url` property as per your original proposal as it may offer a cleaner separ

[2019-10-07 16:06] enbohm commented on #2336
@Sanne

These are the properties I have
[code]

I have not tried
[code]
but will enabled it and see the outcome. Will update with the result within a few days, ok?

[2019-10-07 16:13] sberyozkin opened #4415 "Test that quarkus-oidc can validate JWT tokens from non Keycloak OIDC servers"
**Description**
With `vertx-oauth2` supporting the token introspection non Keycloak and the opaque tokens should now be verifiable, as long as a given OIDC or 3rd party OAuth2 provider supports the introspection

**Implementation ideas**
Add two profiles such as `docker-okta` and `test-okta` (or `docker-auth0` and `test-auth0`, etc) to `integration-tests/oidc/pom.xml`, alongside the [docker-keyclo

[2019-10-07 16:24] paulolieuthier commented on #4229
Looks like [here](https://github.com/quarkusio/quarkus/blob/7a0679e6cd06084a3aa8db2b74bd08fdec1dc3a7/devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java#L311).

[2019-10-07 16:24] sberyozkin opened #4416 "Discuss the possibility of dropping quarkus-elytron-security-oauth2"
**Description**
`quarkus-oidc`which depends on `vertx-oauth2` will now be able to do the token introspection and also will attempt to link the verified tokens with smallrye-jwt.
It may be beneficial to avoid having both `quarkus-oidc` and `quarkus-elytron-security-oauth2` duplicating each other

@loicmathieu Hi Loic, I know `quarkus-elytron-security-oauth2` is the one you've put the effort into :-

[2019-10-07 16:58] sberyozkin commented on #3441
It is looking good, will follow with the PR soon

[2019-10-07 17:21] dhartford commented on #3905
The spec file generated by smallrye/quarkus -- I'm not sure how to have the spec file available for the openapigenerator maven plugin, any advice (I tried application.properties mp.openapi.scan.disable=true without any success)?

I see it in the final *-runner.jar, but it isn't in any of the /target/ locations during maven build phases:

`META-INF/resources/quarkus-generated-openapi-doc.YAML`

[2019-10-07 17:28] kenfinnigan commented on #3905
If you're looking to pass a file to Quarkus to represent the OpenAPI document, it needs to be in `META-INF/openapi.yaml`

[2019-10-07 17:39] gastaldi opened #4418 "Gradle quarkusDev keeps running in background after Ctrl+C is issued"
**Describe the bug**
During `gradle quarkusDev`, if you press Ctrl+C to terminate the Gradle execution, you can see that the application is still running in the daemon process

**Expected behavior**
Application is killed

**Actual behavior**
Application is still running in the Gradle daemon thread.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a Gradle project
2. Run `gradle quark

[2019-10-07 17:42] gastaldi commented on #4418
Using `gradle quarkusDev --no-daemon` is another workaround

[2019-10-07 17:43] dhartford commented on #3905
Actually, it looks like the openapi tools can pull the spec file from inside a jar file.  A completely raw workaround to pivot from (using openapi maven plugin):

[code]

[2019-10-07 17:56] gastaldi commented on #4418
The Daemon thread is marked as `CANCELED` and is removed after any other `gradle` task is executed.

[2019-10-07 18:14] FreifeldRoyi commented on #3516
I got a similar problem with `0.23.2`. I had to revert to `0.22.0` in order to deploy my changes.
I have a `KAFKA_SERVER` env var that wasn't resolved (kafka producer logs showed `bootstrap.servers = [${KAFKA_SERVER}]`), but other env vars worked.
Also, locally it worked great for both versions... Not sure how to reporo it

[2019-10-07 18:41] Sanne commented on #2336
@enbohm that would be great, thanks!

[2019-10-07 20:15] Sparow199 commented on #3968
I think that adding support for CompletableFuture && Optional to wrap the responses could be interesting. Panache is already supports Java 8 Streams, so the integration will not be difficult ?
@machi1990 @FroMage, I can try to do it, if you are interested with this enhancement.

[2019-10-07 20:44] gastaldi commented on #4311
My user doesn't have permission to push to the portal. Since this is part of the release process, I am assigning this issue to @gsmet . The Gradle plugin is all set to be published, all that's left is the API key and secret with permission to publish the `io.quarkus` plugin. See https://github.com/quarkusio/quarkus/issues/1793#issuecomment-523654527,

[2019-10-07 21:00] #4365 closed

[2019-10-07 22:12] #4407 closed

[2019-10-08 01:00] #4392 closed

[2019-10-08 01:01] #4229 closed

[2019-10-08 01:19] stuartwdouglas commented on #4334
We should have a switch, and we should default to DenyAll if security annotations are present IMHO.

On an only tangentially related note I think we should also have the option to auto deny all REST endpoints (basically an option to require rest endpoints to have explicit security config).

[2019-10-08 02:36] stuartwdouglas commented on #4396
IMHO this is not something we want to be recommending users do, and if they really want to then the solution is to just add a test scoped dependency.

[2019-10-08 06:31] michalszynkiewicz commented on #4334
SmallRye JWT defaults to `@PermitAll` and if a specific file (`/META-INF/MP-JWT-DENY-NONANNOTATED-METHODS`) is created, switches to applying `@DenyAll` for all methods of classes with any security annotations. Maybe better be somewhat consistent with that?

(this switch is not MP JWT-wide, it's SmallRye specific and I'd rather have it as a property)

[2019-10-08 06:44] michalszynkiewicz commented on #4334
Note: handle `@Authenticated`

[2019-10-08 07:06] stuartwdouglas commented on #4334
This needs to be a normal config property, not a magic marker file.

[2019-10-08 07:24] rashmi-ibm commented on #4372
@jaikiran  when i try to run ./mvnw clean install i m getting the below errors.

[INFO] Running io.quarkus.mongodb.CollectionManagementTest
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.122 s <<< FAILURE! - in io.quarkus.mongodb.CollectionManagementTest
[ERROR] io.quarkus.mongodb.CollectionManagementTest  Time elapsed: 0.122 s  <<< ERROR!
java.lang.IllegalArgumentExcept

[2019-10-08 07:40] FroMage commented on #3968
We already have an issue open for `Optional`, and as I said, Async is not useful unless we have an async driver, so I was more leaning towards closing this issue…

[2019-10-08 08:30] rashmi-ibm commented on #4372
@jaikiran After debugging more I found the error is thrown from MongoTestBase.java:61>>src/main/java/de/flapdoodle/embed/mongo/Paths.java

From below function:

private String getBitSize(Distribution distribution) {
        String sbitSize;
        switch (distribution.getBitsize()) {
            case B32:
                if (distribution.getVersion() instanceof IFeatureAwareVersion) {

[2019-10-08 08:32] jaikiran commented on #4372
Are you building (and running these tests) on a 32 bit system?

[2019-10-08 09:17] sberyozkin opened #4429 "quarkus-oidc should support a discovery endpoint"
**Description**
Right now `quarkus-oidc` has the following mechanism to configure the IDP endpoint addresses:
[code]
Stian recommends supporting a discovery endpoint as a better alternative, the users will only configure a discovery endpoint address and the adapter will find out about all the required endpoints and other IDP properties.

**Implementation ideas**
Here are few possible options.
1. I

[2019-10-08 09:28] cescoffier commented on #4371
In #4430 I've allowed the user to specify the profile he wants.

[2019-10-08 09:36] lordofthejars opened #4431 "Bean Validation and Eclipse MicroProfile Spec"
**Description**

Hi today I was thinking that it would be interesting to have bean validation integrated with Config API (maybe not per spec but as a feature we are offering in Quarkus) so for example, you can do:

[code]

And if a criteria is not met at runtime, then we can abort the boot process and show the message.

**Implementation ideas**

https://groups.google.com/forum/?utm_medium=email&ut

[2019-10-08 10:07] Sanne commented on #4035
many thanks @ppalaga , had the same issue when reviewing #3832 now :)

[2019-10-08 10:25] sberyozkin opened #4433 "elytron-jdbc-security tests are unstable"
**Describe the bug**
Fails in this [build](https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=9286&view=logs):
[code]
No further clues are available in the rest of the trace.

@danielpetisme @stuartwdouglas can you please check if you have few secs ?
On my Fedora laptop it passes:
[code]

[2019-10-08 10:31] sberyozkin commented on #4433
Let me rebase again and see if it helps

[2019-10-08 10:34] FroMage commented on #3621
Fixed otherwise.

[2019-10-08 10:34] #3621 closed

[2019-10-08 10:36] FroMage commented on #4329
This actually re-opens #2961 because we index `java.lang.Object` and some friends to avoid openapi using reflection during build time, but the fix here adds an exclusion pattern for anything in `java.lang` so our extra indexed classes are ignored and we revert to reflection.

[2019-10-08 10:55] Sanne commented on #4418
I wouldn't consider it "fine", it's highly annoying if the ports are still occupied.

[2019-10-08 10:55] FroMage commented on #4329
Reopening this issue due to the regression.

[2019-10-08 11:36] sberyozkin commented on #4433
No, they are still failing on Windows, different test this time:
[code]
`MultipleDataSourcesTest` which was failing earlier is passing

[2019-10-08 11:59] jaikiran commented on #2326
FWIW - these files no longer exist in/since Flyway 6.0.4 version (the one used in Quarkus) and it looks like they were inlined within Java code in Flyway as part of this effort https://github.com/flyway/flyway/commit/91094e520f86b4f1e1bb7ee96d0b001cb0b50767#diff-a39a7b25c14dcbb898f4df3e00d02176

So the current code, you see in that Flyway processor is actually a no-op (I can remove it, if that's O

[2019-10-08 12:23] rafaelkloss commented on #4377
Hi Guillaume, i'll do asap

Best

Em sex, 4 de out de 2019 às 12:44, Guillaume Smet <notifications@github.com>
escreveu:

--

{ name     : "Rafael Kloss",

  location : "Curitiba, PR",

  iata     : "CWB",

  twitter  : ["@rafa_kloss <https://twitter.com/rafa_kloss>"}

[2019-10-08 12:57] Ladicek commented on #3312
I'm testing CORS using http://www.test-cors.org on Quarkus 0.23.2 and also the latest `master` branch, with this config file:

[code]

It seems to work just fine.

[2019-10-08 12:59] Ladicek commented on #3598
I'm testing CORS using http://www.test-cors.org on Quarkus 0.23.2 and also the latest `master` branch, with this config file:

[code]

It seems to work just fine.

[2019-10-08 13:02] ricardozanini commented on #3598
@Ladicek cool! I'll try to upgrade after I give my presentation demo and will report the results here.

[2019-10-08 13:10] dwamara commented on #2759
@gsmet another project fell on my lap today that would need this. Until it's done, do you have any alternative? Or should I just skip quarkus on this one plain and simple?

[2019-10-08 13:18] haraldatbmw commented on #2702
I figured out the same problem when using JTA.

Because OpenShift does not allow to run a docker image with root user (like fabric8 alpine image does), the docker image has to create a running user with all access rights needed.

I extended the quarkus generated Dockerfile.jvm to solve this problem by adding a quarkus user with all needed rights.

[code]

[2019-10-08 14:08] jaikiran commented on #2482
So debugging this a bit, I have been able to narrow this down and solve one part of this issue. I can reproduce the issue consistently if I use a simple application with a dependency on the `quarkus-hibernate-orm` extension (and no other extension) and then run:

[code]

(even against latest upstream master). With that command it throws a bunch of substrate exceptions which are hard to understand.

[2019-10-08 14:21] gsmet commented on #2482
The big question is: why does it work when you really use Hibernate ORM :).

On Tue, Oct 8, 2019 at 4:08 PM Jaikiran <notifications@github.com> wrote:

[2019-10-08 14:50] gsmet commented on #2482
@Sanne says in the issue that he could get rid of the entire class to solve the issue for him so I'm not sure it applies to the case where we delete the entire class.

[2019-10-08 14:57] sberyozkin commented on #4433
Looks like it was failing for my PR only, the tests are green now, sorry about the noise

[2019-10-08 15:00] gastaldi commented on #4433
I still see them failing in my Windows box, I'll investigate

[2019-10-08 15:07] jaikiran commented on #2482
Actually, even that project fails *if I add the following in the pom.xml* and run `mvn clean verify -Pnative`:
[code]
It fails with:
[code]
Quarkus version : latest upstream master
Graal VM version: 19.2.0.1

Removing that ```--report-unsupported-elements-at-runtime``` gets it to pass fine.

None of this looks right, so let me take a step back and see what part of this is Graal specific and what p

[2019-10-08 15:20] gsmet commented on #2590
@barata0 thanks for the feedback!

[2019-10-08 15:21] gsmet commented on #4260
@mmusgrov could you send me an email with a description of the use case of this extension? I want to add it to the announcement but I have no idea what it brings to the plate.

[2019-10-08 15:25] gsmet commented on #4433
Marked as invalid for now. Feel free to reopen and remove the label if needed.

[2019-10-08 15:27] rafaelkloss commented on #4377
i'm trying to reproduce the issue using "hibernate-orm-resteasy" project, but i cant :(
Any other suggestion  ?

[2019-10-08 15:44] aguibert opened #4442 "Quarkus support for Derby"
**Description**
Derby is a lightweight database that is commonly used for testing purposes or for applications that do not have a large volume/flow of data and are OK sacrificing some robustness and performance for easy of setup/use. In a nutshell, it is very similar to H2, which Quarkus already supports.

There are two main branches of the Derby database:
 - Derby embedded: most commonly used, si

[2019-10-08 15:57] gsmet commented on #4433
I'm reopening it: the Windows tests on CI are red because of this extension.

Please let's get a fix quickly as we need to fix that for tomorrow's release.

/cc @stuartwdouglas

[2019-10-08 16:02] aureamunoz commented on #3992
fixed in part on RESTEasy [PR 2177](https://github.com/resteasy/Resteasy/pull/2177)

[2019-10-08 16:08] yrodiere commented on #2336
@enbohm @Sanne I can confirm it's a bug. I just sent a PR.

[2019-10-08 16:16] mswiderski commented on #4285
@gsmet any feedback? would like to tackle this by end of the week so it can be included for the next release

[2019-10-08 16:41] gsmet commented on #3174
@gastaldi @maxandersen if you're working on improving the Gradle support, this one is important.

[2019-10-08 16:51] geoand commented on #3174
I can also help out on this

[2019-10-08 17:04] sberyozkin commented on #4429
Right now it is [still tied to Keycloak](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/VertxKeycloakRecorder.java#L54) apparently so does not look like it will work with other providers for 0.24.0.

[2019-10-08 17:13] #3441 closed

[2019-10-08 17:17] sberyozkin opened #4446 "Add a test for quarkus.oidc.credentials.secret"
**Description**
Right now this property is set in both integration-tests/oidc and the quickstarts but removing it has no difference, the test still passes

[2019-10-08 17:18] sberyozkin commented on #4446
Hi Pedro, @pedroigor, FYI

[2019-10-08 17:45] gastaldi commented on #4433
I'm seeing the following errors while debugging the `BcryptPasswordMapperTest` in my Windows machine (not sure if it's related):

[code]

[2019-10-08 17:49] gastaldi commented on #4433
Yes, that was the problem, I'll provide a PR shortly

[2019-10-08 17:53] danielpetisme commented on #4433
Do the test are properly isolated on Windows ? (Normally the datasource connection string defines different schemas...).
The quick and dirty solution would be to add `drop table` statements before creating tables.

[2019-10-08 17:54] sberyozkin opened #4447 "Support a client certificate credentials MTLS property"
**Description**
It was supported by the original KC adapter
(MTLS authentication)

[2019-10-08 17:56] sberyozkin opened #4448 "quarkus-oidc adapter has to support KeycloakConfigResolver alternative available in VertxOAuth2"
@pedroigor FYI

[2019-10-08 18:12] gastaldi commented on #4433
@danielpetisme yes, the solution is to perform a `DROP TABLE IF EXISTS`. I have created a PR in
https://github.com/quarkusio/quarkus/pull/4449

[2019-10-08 18:23] danielpetisme commented on #4433
What I don't understand is why it fails only on Windows?
There is a deeper problem because the tests isolated. Normally each suite has its own schema...

[2019-10-08 19:02] pedroigor commented on #4429
I think `auth-server-url` should be enough to support different providers. I've looked other providers such as Google and Azure, and for them, you can use the following URIs:

* `Google`: https://accounts.google.com/.well-known/openid-configuration
* `Azure`: https://login.microsoftonline.com/{tenant}/.well-known/openid-configuration

Maybe we could rename the `auth-server-url` to `issuer-url`?

[2019-10-08 19:25] #4433 closed

[2019-10-08 19:26] #2336 closed

[2019-10-08 21:42] emmanuelbernard opened #4452 "Document that one can override runtime properties via config/application.properties"
You can override runtime properties in bulk by placing a `config/application.properties` int he working directory of the application.
This is useful for users but not documented.

https://github.com/quarkusio/quarkus/issues/1218#issuecomment-491832844
https://github.com/geoand/quarkus/blob/46dc078de494b331d83d39df8dddcc97e516bf85/core/runtime/src/main/java/io/quarkus/runtime/configuration/Applicat

[2019-10-08 21:45] emmanuelbernard opened #4453 "Offer a Redis extension"
**Describe the extension**

Offer Redis client support via an extension

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**

[code]

- redis cluster
- unername / password
- ???

**Additional context**
(Add any other context about the proposal here.)

[2019-10-09 00:28] stuartwdouglas opened #4455 "Read timeout for Servlet"
Undertow should have a read timeout for blocking IO. This should be inherited from the vert.x config.

[2019-10-09 00:57] soberich opened #4456 "Spring Data can't see `@Id` in parent class (with `@Access(PROPERTY)`"
**Describe the bug**
[code]
While there IS an `@Id` property in type hierarchy in

probably related to `@Access(PROPERTY)`

**To Reproduce**
Steps to reproduce the behavior:
[code]

Darwin MacBook-Pro.local 18.7.0 Darwin Kernel Version 18.7.0:
Java 1.8.0_222

[2019-10-09 05:23] geoand commented on #4456
Thanks for reporting @soberich!

I'll take a look soon

[2019-10-09 05:59] jaikiran commented on #4372
Hello @sarveshtamba, are you and @rashmi-ibm working on the same issue? If it's about the MongoDB test failing while building Quarkus on this setup, then it looks like the library used by MongoDB doesn't correctly detect your platform and is probably not supported https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/master/src/main/java/de/flapdoodle/embed/process/distribution/BitSiz

[2019-10-09 06:14] rashmi-ibm commented on #4372
@jaikiran yes myself and Sarvesh working on the same issue. Yes i too later drilled down the issue withe de.flapdoodle.embed.process as it is not detected ppc64le and marking it default 32bit .

I tried the build with below option and it runs successfully on ppc64le
mvn clean install -DskipTests=true

[2019-10-09 06:47] stuartwdouglas opened #4460 "Bootstrap resolver should log if it is accessing the network"
When running tests or building for the first time the bootstrap resolver might need to download -deployment artifacts and their dependencies. If the network is slow this can appear that tests or the build are hanging. If we need to hit the network we should log a message and update the user on our progress in a similar way to a normal maven build,

[2019-10-09 07:36] machi1990 commented on #4453
Hi @emmanuelbernard  I'll be interested to work on this :-)

[2019-10-09 07:38] stianst commented on #4429
Actually I would default to assuming Discovery endpoint is available.

With Discovery the config would be:

Without Discovery I would support setting config fields from the [Discovery endpoint](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata) directly in the config:

A note here is that the base URL of the endpoints can be different. For example `authorization_endpoint`

[2019-10-09 07:44] HelvetiaAppDev commented on #4452
Thank you for adding this to the documentation!

When running quarkus:dev the "config" folder needs to be inside target/classes, however the hot code replacement (?) seems to get rid of it.

Could maybe also add how to deal with this for quarkus:dev? Or am I missing something?

[2019-10-09 07:44] flo-ryan commented on #4452
Thank you for adding this to the documentation!

When running quarkus:dev the "config" folder needs to be inside target/classes, however the hot code replacement (?) seems to get rid of it.

Could maybe also add how to deal with this for quarkus:dev? Or am I missing something?

[2019-10-09 07:54] geoand commented on #4452
Let me check and see how `quarkus:dev` behaves with this feature.

[2019-10-09 08:02] geoand commented on #4452
I just checked and `quarkus:dev` works file with this feature. I will add a note however in #4452 on how to use it.

[2019-10-09 08:17] geoand commented on #4452
Note added in #4452 about dev mode

[2019-10-09 08:36] FroMage commented on #3803
So the problem with generating a single page for all properties is that each extension only builds its own config documentation page. As a result there's no step where we run the doc generation for "all extensions".

We can fake this, by generating two files for each extension:

- `$ext-config.adoc`: contains the table title, headers and includes `$ext-config-data.adoc`
- `$ext-config-data.adoc` w

[2019-10-09 08:37] #4456 closed

[2019-10-09 08:38] #4452 closed

[2019-10-09 09:04] gsmet commented on #4198
This one has been fixed, it was the http handler not being declared in the quickstarts.

[2019-10-09 09:04] #4198 closed

[2019-10-09 09:05] gsmet commented on #3666
I think this one can be closed now.

[2019-10-09 09:05] #3666 closed

[2019-10-09 09:05] gsmet commented on #3636
RESTEasy + Vert.x can serve static resources now.

[2019-10-09 09:05] #3636 closed

[2019-10-09 09:06] gsmet commented on #3600
This has been solved.

[2019-10-09 09:06] #3600 closed

[2019-10-09 09:07] geoand commented on #3600
Closed via #4412

[2019-10-09 09:15] rsvoboda commented on #4198
@gsmet - https://github.com/quarkusio/quarkus-quickstarts/commit/167803fb5cf4d0632d3847422ee656d0ce45055a ?

Seems `enableHttpUrlHandler` should be by default true :) It's in every QS.

[2019-10-09 09:34] FroMage commented on #3803
Ah, yes, that's also possible.

[2019-10-09 09:37] manovotn opened #4467 "Change how Arc handles around invoke interception"
Original problem description is here, text below is a shameless copy and paste - https://groups.google.com/forum/#!topic/quarkus-dev/POdMKKe24ts

tl;dr:
MP FT `@Asynchronous` relies on unspecified behavior of
javax.interceptor.InvocationContext (Interceptors spec). Quarkus impl of
InvocationContext does not allow an interception to continue on a
different thread after the intercepted method return

[2019-10-09 09:41] michalszynkiewicz opened #4469 "CNFE on scope defining annotations in the default package"
**Describe the bug**
Quarkus fails ungracefully with scope-defining annotations on beans in the default package.
The error: https://gist.github.com/michalszynkiewicz/c489af90ed958b4ff43c7236f4a1b09a

**Expected behavior**
Either just work or produce a user-friendly message.

**To Reproduce**
Steps to reproduce the behavior:
1. clone https://github.com/michalszynkiewicz/quarkus-krakow/tree/failing-

[2019-10-09 10:06] gsmet commented on #4198
Yeah, we need to think about it, and also how to potentially only enable https.

[2019-10-09 10:09] gsmet commented on #4469
@michalszynkiewicz could you paste the error in the issue description? This way, it's properly indexed. Thanks!

[2019-10-09 10:18] michalszynkiewicz commented on #4469
@gsmet good, point, here it is;
[code]

[2019-10-09 10:58] fbricon commented on #3904
@emmanuelbernard is there a timeframe for application.yaml support in Quarkus? It'll have a significant impact on our Quarkus tooling, so we need to plan accordingly. cc @angelozerr

[2019-10-09 11:16] marcinczeczko commented on #4406
Please see #4471

[2019-10-09 11:40] vc-void opened #4472 "Duplicate ids after live reload"
**Describe the bug**
After a live reload (Dev mode) i can no longer use EntityManager to merge new entities of the same type if I had merged anything before.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Using EntityManger merge a Entity with its id = 0.
2. Induce a live reload.
3. Using EntityManger attempt to merge another Entity of the same class (also with i

[2019-10-09 11:47] emmanuelbernard commented on #3904
Nothing that I am aware of. When someone start that work, please ping fred and angelo.

[2019-10-09 11:51] gastaldi commented on #3904
Are you still working on it @gwenneg ? I might have a look instead

[2019-10-09 13:15] wburns commented on #4285
I would say just go ahead :)

[2019-10-09 13:30] sberyozkin commented on #4429
Quarkus has a '-' pattern

[2019-10-09 13:33] yrodiere commented on #2556
Several comments here:

1. This is definitely caused by a bug in HV, namely HV-1730. The pending PR [here](https://github.com/hibernate/hibernate-validator/pull/1055) fixes the problem.
2. For some reason, the bug only occurs if the method with the annotated parameter is declared in a superinterface. If the method is declared directly in the implementing class, the bug does not occur.
3. The `@Val

[2019-10-09 13:37] gsmet commented on #2556
Urgh, that's definitely not intended... well, except if the classes are annotated with BV/HV annotations. I'll have a closer look as soon as I can.

[2019-10-09 13:39] manovotn commented on #4469
Similar problem happens when we would create a proxy on top of any class from `java.*` package (`List`, `String`....). And looking into code, we then use a default package which is `Arc.class.getPackage().getName() + ".generator"`.

I suppose we could use the same for default packages.

[2019-10-09 13:47] wburns commented on #1322
This is fixed in ISPN 10.0.0 Final with https://issues.jboss.org/browse/ISPN-10488

[2019-10-09 13:47] #1322 closed

[2019-10-09 13:47] yrodiere opened #4477 "Hibernate Validator processes classes that should not be validated"
**Describe the bug**

In some cases,
`org.hibernate.validator.internal.metadata.PredefinedScopeBeanMetaDataManager#PredefinedScopeBeanMetaDataManager` gets called with a *lot* of classes in `beanClassesToInitialize`, most of which don't seem necessary because they will definitely not be validated.

While not a problem _per se_, it means Hibernate Validator will perform reflection on all these clas

[2019-10-09 14:29] gsmet commented on #4218
/cc @cescoffier @dmlloyd please have a look at the added elements in the description. @cescoffier especially the Netty upgrade part for you.

[2019-10-09 14:54] geoand commented on #4344
FWIW, this is how the Hibernate Validator integrates with JAX-RS resource methods: https://github.com/quarkusio/quarkus/blob/master/extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/MethodValidatedAnnotationsTransformer.java#L49

[2019-10-09 15:01] geoand commented on #4334
I've been looking at the security stuff today and FWIW I think handling all the security related annotations via CDI interceptors makes perfect sense.

For one thing, it would allow us in the future (if we so desire) to do more advanced filtering based on the values bound to Resource Methods.
Another issue is implementation uniformity, as Hibernate Validator already uses CDI interceptors on JAX-RS

[2019-10-09 15:04] dhartford commented on #3312
Just tested 0.23.2, hopefully I'm the minor but still not getting the Access-Control-Allow-Origin headers (tested both mvn quarkus:dev and a production build running the java -jar *-runner.jar).

application.properties

[code]

[2019-10-09 15:06] FroMage commented on #3803
So, currently https://github.com/quarkusio/quarkus/pull/4381 has a bunch of things, including the start of an "All config" page.

Except I don't have the name/description of the extensions in `all-configuration-roots-generated-doc.properties` so I can't have nice section titles for the extensions.

And search is slow, becuase the table is huge. I can probably make it faster, but we should open a n

[2019-10-09 15:09] Ladicek commented on #3312
@dhartford Can you please provide more details? For example, do you have a reproducer using `curl` (or HTTPie)?

Also, do you perhaps use some kind of a caching proxy or something similar? I've noticed that the Quarkus CORS handler should at the very least include `Vary: Origin` (and perhaps other values for the `Vary` header).

[2019-10-09 16:23] gnodet opened #4479 "@Overridable does not play well with @Record"
This may be a design decision, but when using `@Overridable` with `@Record`, we end up with an exception because there are multiple instances of a `SimpleBuildItem` and an exception is thrown.

[2019-10-09 16:24] vc-void commented on #4472
After changing `quarkus.hibernate-orm.database.generation` to update the problem no longer occurred

[2019-10-09 16:24] gsmet commented on #4479
@dmlloyd ^

[2019-10-09 16:54] sberyozkin opened #4480 "Support the authorization code flow for Server Web Apps"
**Description**
The OIDC adapter has to be able to authenticate the users accessing the server web apps/confidential clients using the best practice code flow.
Stian recommends to distinguish between the bearer only and code flow modes using very user friendly property values something like:
[code]

etc. @stianst, @pedroigor FYI.

[2019-10-09 16:55] dhartford commented on #3312
Using postman and curl for direct functional testing, and 'npm start' with a webapp with a fetch for applied testing (which states the no Access-Control-Allowed-Origin header problem), all localhost or 127.0.0.1 without any caching proxy.

curl -v http://localhost:8080/openapi/app

[code]

[2019-10-09 16:56] sberyozkin commented on #4480
Pedro, we will need to test that the static resources are accessible as part of it, I can wire in the test for sure :-)

[2019-10-09 17:04] sberyozkin opened #4481 "Enhanced Logout support"
**Description**
The authenticated users should have an option to logout out of OIDC adapter protected web applications.
The recommendation from the Keycloak experts is to have a combination of the RP-Initiating logout in combination with initial form of the OIDC back channel logout flow.

@stianst @pedroigor FYI

**Update**: Pedro has already done some work around supporting it as part of the code

[2019-10-09 17:08] sberyozkin opened #4482 "Support the access token binding to the client MTLS authentication"
**Description**
When the client uses the same certificate to authenticate to both IDP when requesting a token and Quarkus adapter, it can help the adapter to link the access token to the client certificate thus achieving an extra guarantee that the token is coming from the same client which requested it from IDP. Per the KC team recommendation

Hi Stian @stianst, Pedro, @pedroigor FYI

[2019-10-09 17:17] Ladicek commented on #3312
Ah, so it's on the OpenAPI endpoint, I didn't try that. I'll check tomorrow, thanks for the info.

[2019-10-09 17:47] #4467 closed

[2019-10-09 18:07] pedroigor commented on #4480
@sberyozkin, I'll be working on this one.

I'm not sure about yet how to indicate whether or not the app should start the code dance or just accept bearer tokens.

Meanwhile, I'll be working on making the necessary changes to get code flow working.

[2019-10-09 18:13] rafaelkloss commented on #4377
HI Guys, there are news about the issue:
For example, in this relationship:
Class 'Solicitacao' have a relationship below with 'Usuario'
`@ManyToOne(fetch = FetchType.LAZY)
  @JoinColumn(name = "`idUsuarioSolicitacao`")
  private Usuario usuarioSolicitacao;`
Class 'Usuario' have relationship below with 'Cargo'
`@ManyToOne(optional = true, fetch = FetchType.LAZY)
  @JoinColumn(name = "`idCargo`")

[2019-10-09 18:36] dmlloyd commented on #4479
Can you give an example?  Where are you putting the `@Overridable` annotation?

[2019-10-09 18:41] pedroigor commented on #4480
@sberyozkin I guess we should leverage Vert.x OAuth2 in order to implement code flow in the extension, right?

[2019-10-09 18:44] Sanne commented on #4377
Hi @rafaelkloss , if you could share a little project reproduing it we will debug it.

Alternatively, could you try building a snapshot from Hibernate ORM master and try that?
We already fixed a related issue, so I'm wondering if it's the same (or not ..)

[2019-10-09 19:31] #4469 closed

[2019-10-09 20:33] Sanne commented on #2482
I've had numerous problems with "report-unsupported-elements-at-runtime";
if you're using it the compiler follows quite different logic in the flow
analysis.

I don't think we should support that mode, we certainly don't test for it
so please don't use it :)

On Tue, 8 Oct 2019 at 16:08, Jaikiran <notifications@github.com> wrote:

[2019-10-09 20:34] pedroigor commented on #4480
@sberyozkin, I manage to something work for code flow. But I have some questions:

* In order to leverage code flow from Vert.x I'm invoking `OAuth2Auth#authenticate` so that we are able to both redirect to the IdP as well as handle the authorization response (with the code param). That means async invoking the `IdentityProviderManager` once the callback used to call the `OAuth2Auth#authenticate`

[2019-10-10 03:33] jaikiran commented on #2482
Same here. It does look like a bug the way it's implemented. So I've raised it at graal https://github.com/oracle/graal/issues/1725

[2019-10-10 05:34] stianst commented on #4481
Me and @pedroigor has been working on some plans around logout:

Stateless applications can check validity of ID token using token introspection endpoint. However, this will have a performance impact as every request would require a request to the IdP.

An improvement to the above is the addition of a token introspection cache. This will not only be useful for ID tokens, but also for access tokens

[2019-10-10 05:35] stianst commented on #4481
1. Add support for RP initiate logout both to Keycloak and to quarkus-oidc extension
2. Use token introspection endpoint to validate ID token for every request
3. Add token introspection cache to validate ID token only every X minutes
    - Probably with pluggable store types, with a built-in support for Infinispan cache?
    - Entries in the cache expires after a configurable amount of minutes

[2019-10-10 06:23] dfranssen commented on #4349
Currently we have different microservices with similar `application.properties` as below. Authorization is externalised in Keycloak with policies, permissions and scopes ([see Keycloak doc](https://www.keycloak.org/docs/7.0/authorization_services/)).
With this approach there are no explicit role checks in the different rest endpoints and fine-grained authorization is externalized.

With the latest

[2019-10-10 06:41] dfranssen commented on #4120
@Context
ResourceContext resourceContext;

[2019-10-10 06:53] stianst commented on #4429
auth-base-url is fine by me. I wouldn't do `discovery-url` though, I'd just stick with `auth-base-url` in both cases. As I was thinking about it some more I found discovery-url a bit to technical.

In documentation I would start with assuming IdP supports Discovery and ask users to set `auth-base-url` to the IdP base url (which from OIDC discovery spec by adding .well-known/openid-configuration yo

[2019-10-10 07:30] #4045 closed

[2019-10-10 07:35] lhauspie-adeo commented on #4338
I still working on it, I just spend more time than I expected due to difficulties with integration tests.

[2019-10-10 07:57] machi1990 commented on #4338
@lhauspie or is it @lhauspie-adeo :-) it is okay, take the time you need. If you think you can use some help from the team, you can also open a draft PR so that others contributors/maintainers can look at it and give their inputs.

[2019-10-10 08:03] Sanne opened #4489 "Expose Hibernate ORM option to disable 2LC"
**Description**
Currently the 2LC is enabled globally, so to opt-in on specific entities.

During development, it's handy to be able to turn it off quickly to diagnose issues. This is currently possible, but only when configuring ORM via the persistence.xml - which makes it quite inconvenient.

[2019-10-10 08:14] Sanne opened #4490 "ArcContainerImpl could skip SecureRandom initialization"
**Description**
The 'ArcContainerImpl' is eagerly initializing an `uuid` field, which requires a Secure random call; according to flamegraphs including native time, this is taking 30% of the time it takes to boot Arc so it would be nice to skip it.

**Implementation ideas**
The `uuid` field seems only necessary for `toString()`. I think it could be lazily initialized, I'm not sure what expectation

[2019-10-10 08:25] yrodiere commented on #4477
In order to reproduce the problem, you actually need to have a generic interface looking like this:

[code]

The gist of it: Quarkus will detect the `@Valid` annotation on type `T`, resolve the upper bound to `Object`, and consider that all subclasses of `Object` need to be inspected by Hibernate Validator, because instances could potentially be validated when passed to this method.

I pushed a re

[2019-10-10 10:01] gnodet commented on #4479
See https://github.com/gnodet/quarkus-conditional-buildstep/tree/pb-overridable-record where the last commit makes the project fail when building.
See https://github.com/gnodet/quarkus-conditional-buildstep/commit/19675cbea0cc5ae1900cfea49efe0d1d474e2ea9

[2019-10-10 10:11] lordofthejars opened #4493 "jwt.verify.publickey.location property should support HTTP"
**Describe the bug**

According to MP JWT spec `mp.jwt.verify.publickey.location` property should support HTTP/S protocol: https://github.com/eclipse/microprofile-jwt-auth/blob/master/spec/src/main/asciidoc/configuration.asciidoc#http-url-scheme

Then I published public key at https://gist.githubusercontent.com/lordofthejars/9a0b47298c807739a9eb1adfba50795e/raw/5f8c5b7a9c11ed455f4910ed2032d79612b5

[2019-10-10 10:13] sberyozkin commented on #4349
@dfranssen we will try to get an OIDC policy-enforcer for 0.25.0. apologies for the headaches with the migration...

[2019-10-10 10:28] dfranssen commented on #4349
Not sure if it are claims, but more info on [scopes](https://www.keycloak.org/docs/7.0/authorization_services/#scope).

Please aslo have a look at https://github.com/quarkusio/quarkus/pull/4376 as info is now on different tickets

[2019-10-10 10:44] flo-ryan commented on #4452
Is there a list or similar of runtime properties? Or some other way to find out which properties are build and which are runtime? Thanks!

[2019-10-10 10:54] geoand commented on #4452
@machi1990 @gsmet I think this one is for you

[2019-10-10 11:02] gsmet commented on #4329
Should be fixed with the latest OpenAPI upgrade.

[2019-10-10 11:02] #4329 closed

[2019-10-10 11:09] sberyozkin commented on #4493
@lordofthejars the keys have to be in the JWK format, it is kind of a restriction but it is the one which can actually make sense in the production because the key rotation is spec-ed about JWK sets in OIDC for example, so say Keycloak will rotate if needed.
Would you be OK if I converted your PEM file to a JWK set ?

[2019-10-10 11:10] gwenneg commented on #4411
It works for me as long as the backslash is doubled in the properties file:
`greeting.suffix=!!, How \\, are you?,??`

The first backslash is treated as an espace character during [Properties.load()](https://docs.oracle.com/javase/7/docs/api/java/util/Properties.html#load(java.io.Reader)) and then the second one is treated as an espace character by `smallrye-config`.

[2019-10-10 11:15] gwenneg commented on #3904
@gastaldi Yes, I am. I was away last week so it didn't progress much, but this is now on top of my priority list.

[2019-10-10 11:16] lordofthejars commented on #4411
Ok then I think we can close this.

[2019-10-10 11:16] #4411 closed

[2019-10-10 11:17] sberyozkin commented on #4493
Well I can update `smallrye/smallrye-jwt` to support HTTPS PEMs (I'll just pass on the `HTTP` location) but there will be no cashing and periodic refresh, so we'd close the gap but it won't be really something we can recommend to do in the production :-)

[2019-10-10 11:18] lordofthejars commented on #4493
Yeah I agree about production but I am thinking more in terms of offering a similar experience in case of static file and URL.

I have tried to trnasform to JWKS (https://gist.githubusercontent.com/lordofthejars/9a0b47298c807739a9eb1adfba50795e/raw/31678c9d5de9efe10207da6ce1378bb51ff12a43/quarkus.jwt.pub.jwk.json) but now I am getting `Failed to resolve a key from: https://gist.githubusercontent.c

[2019-10-10 11:25] sberyozkin commented on #4493
@lordofthejars, sure, I'll get [this issue](https://github.com/smallrye/smallrye-jwt/issues/134) done for the next release.

You may want to drop a 'kid' unless the token has a matching 'kid' claim, try it please

[2019-10-10 11:32] sberyozkin commented on #4429
@stianst
Sounds good, we just say then that all one has to do is to set `auth-base-url` if the IDP is known to implement the discovery. The adapter can try to discover, if 404 then check if the specific URLs are available (or may be it can do both actions, etc).
Thanks

[2019-10-10 11:32] emmanuelbernard commented on #4452
@flo-ryan it should be describe in each relevant guide. We are also in the process of rolling out a unified rendering of the property list. See Hibernate ORM's for example, you will see the different icon depending on the lifecycle (build time vs runtime) see https://quarkus.io/guides/hibernate-orm-guide#properties-to-refine-your-hibernate-orm-configuration

PS @gsmet should we rename the `lifecyc

[2019-10-10 11:37] flo-ryan commented on #4452
@emmanuelbernard A unified list of all available properties (for all microprofiles?) including the build/runtime info would be very helpful and highly appreciated! Thanks!

[2019-10-10 11:40] sberyozkin commented on #4480
@pedroigor Hi Pedro, it all sounds good, thanks; I mean, we can tweak/optimize things going forward if something proves a bit sub optimal :-) Please consider to have a dedicated config group for the various redirect properties.

As per choosing between the bearer-only and the code flow, as per our discussion with Stian, lets start with a property such as 'mode' and set it to either `authorization`

[2019-10-10 11:55] sberyozkin commented on #4448
A comment from a user:
[code]

[2019-10-10 11:56] sberyozkin commented on #3396
@reste85 Please watch #4448

[2019-10-10 11:56] #3396 closed

[2019-10-10 12:10] emmanuelbernard commented on #4452
@kenfinnigan we don't have a MP list of properties right in the Quarkus guides? I also felt we would be better with the list described. whether unified or in each guide, I personally was leaning towards each guide.

[2019-10-10 12:10] sberyozkin opened #4495 "OIDC adapter has to provide HttpPermissionChecker"
**Description**
Example of the original `quarkus-keycloak` configuration:
[code]
@dfranssen:

E.g. Keycloak javascript permission using the request-uri. Our path is like /asset-service/resources/tenants/abc where abc is the tenant name (uriPart[4] in the code below) for which we check the actual authenticated user is part of. In Keycloak we have a group per tenant (e.g. /abc/users) where the user

[2019-10-10 12:10] flo-ryan commented on #4452
For example: It is unclear to me if/how I can set user + password + roles at runtime using "quarkus.security.embedded.*" in application.properties in a "config" folder (to be able to set user passwords more securely at runtime).

[2019-10-10 12:12] sberyozkin commented on #4349
@dfranssen I've put all your comments related to the policy-enforcer to #4495, lets work there

[2019-10-10 12:20] sberyozkin commented on #4480
Hi @pedroigor we have a priority issue for 0.25.0, #4495 as the 0.24.0 users are now starting to feel some pain due to the missing configuration :-). If you reckon you can finalize this one quickly enough then please do a PR, but otherwise lets work on #4495 (may be I can help)

[2019-10-10 12:21] sberyozkin commented on #4495
@pedroigor FYI. Pedro, is all we need to do here is parse the KC specific scope claim to get it going for @dfranssen ? What ate those numbers `1`, `10`, `12` etc ? May be I can do a PR...

[2019-10-10 12:24] johnaohara opened #4497 "High contention on TransactionManager class"
The current Narayana integration frequently calls TransactionalInterceptorBase.invokeInOurTx(), which looks up the current configured TX timeout via
((TransactionManagerImple) com.arjuna.ats.jta.TransactionManager.transactionManager()).getTimeout()

This is a very expensive call, as com.arjuna.ats.jta.TransactionManager.transactionManager() is synchronized on the com.arjuna.ats.jta.TransactionMana

[2019-10-10 12:29] geoand commented on #3592
Could the folks that reported this issue perhaps try out #4498 and see if it addresses the issue?

[2019-10-10 12:43] gsmet opened #4499 "quarkus.application.name is not taken into account in stop message"
If I add this to my `application.properties`:
[code]

Startup message is OK:
[code]

But not the shutdown message:
[code]

We should fix the shutdown message to be consistent.

Also we need to find a place to document this feature properly. But I couldn't find an obvious place.

Initial PR with the startup name: https://github.com/quarkusio/quarkus/pull/4302

[2019-10-10 12:43] gsmet commented on #4499
@machi1990 maybe you could have a look?

[2019-10-10 12:44] sberyozkin commented on #4495
@stuartwdouglas, if we have @RolesAllowed, how would the users configure path/verb, as the configuration in your PR activates the default checker ?
By the way, we can introduce, as part of this issue, or later, @Scope annotation, to support the OIDC-centric experience better...
@stianst FYI as well

[2019-10-10 12:48] gsmet opened #4500 "Gradle tests not passing when releasing"
If you get this tag: https://github.com/quarkusio/quarkus/commits/0.24.0 and removes the commit skipping the Gradle tests (the one before the last one), you will have the Gradle tests failing.

We need to fix that as it's blocking the release process.

Note that I haven't pushed this commit to master so if we don't find a solution by next release, I will have to do it.

[2019-10-10 12:50] pedroigor commented on #4495
@sberyozkin, it is not really related with the `scope` claim. But `authorization` claim which holds the permissions (for resources and scopes) granted by Keycloak.

In a nutshell, what we need to do is somehow parse this `authorization` claim and enforce permissions accordingly depending on the resources that were granted and how they are mapped to specific paths in your application.

This is the

[2019-10-10 12:56] pedroigor commented on #4495
@sberyozkin about those numbers. They are the index for each path you are configuring (backed by a list of paths).

[2019-10-10 13:01] lordofthejars commented on #4493
without `kid` I am getting the same error, but if I added a kid with the correct `kid` then it worked.

[2019-10-10 13:09] sberyozkin commented on #4493
@lordofthejars do you mean you've added `kid` as the token header ?
If the JWK set has a single key only with `kid` then it should work but I'll add a test

[2019-10-10 13:15] sberyozkin commented on #4495
@pedroigor OK, thanks. I believe it should work for any IDP, not only Keycloak, at the adapter level we don't really mind I guess where the token is coming from.
Can you please type an example of the KC `authorization` claim ?
I suppose for a complete UMA we may consider an extension, but for simpler cases we may ship few checkers with the `quarkus-oidc`

[2019-10-10 13:28] gastaldi commented on #4499
I took a stab at it and created https://github.com/quarkusio/quarkus/pull/4501

[2019-10-10 13:31] mswiderski commented on #4285
pull request created https://github.com/quarkusio/quarkus/pull/4502

[2019-10-10 13:31] Sanne opened #4503 "Agroal: failure to connect on boot is swallowed"
**Describe the bug**
The datasource has an "housekeeping thread" which is being used to open the initial connections; when these are failed to be opened, exceptions are being swallowed as it's happening in this alterenative thread.

It's not a big deal as exceptions are shown properly when a connection is actually requested by application code, but it's a bit confusing as e.g. there's no visible e

[2019-10-10 13:37] sberyozkin commented on #4495
@pedroigor If it is really Keycloak specific then may be we can introduce `quarkus-oidc-keycloak` (configuration group `quarkus.oidc.keycloak`) which would only ship KC specific bits, but I reckon we should try to keep generalizing

[2019-10-10 13:55] Sanne commented on #4345
@geoand assiging this to you :)

@asoldano could you help / mentor ? We might need some fixes from resteasy too

[2019-10-10 14:04] geoand commented on #4345
For the JSON part of things, I'll try and revive #3553 which has fallen far behind the latest RESTEasy + JSON-B developments.

[2019-10-10 14:05] abner opened #4505 "DataSource configuration is not passed to PgPool instance when using quarkus-reactive-pg-client and quarkus-hibernate-orm within the same project"
I got io.vertx.pgclient.PgException: password authentication failed for user "user" when trying the Reactive Postgres Client extension in a project after i added  quarkus-hibernate-orm.

If i comment out the dependency quarkus-hibernate-orm, then the datasource configurated works just fine.

[2019-10-10 14:08] abner commented on #4505
@FroMage i know you are the guy to help me with this. :sos:
Thanks in advance!

[2019-10-10 14:49] #4499 closed

[2019-10-10 14:55] sberyozkin commented on #4482
Related to #4447

[2019-10-10 15:01] asoldano commented on #4345
@Sanne yes, I can help, or ask someone in the team to do that if I run out of time.
As for #3553, is it really related to what this issue is about?

[2019-10-10 15:11] Sanne opened #4507 "Agroal datasource should be initialized eagerly"
**Describe the bug**
Currently the datasources are flagged as `@ApplicaitonScoped`, which means they are wrapped by a proxy making them initialized on first use.

This is annoying as
 - we don't respect the configuration of pre-filling the pool on boot
 - we can't validate the connection properties, deferring any failure (however also affected by #4503)
 - it's an overhead

[2019-10-10 15:35] CSTDev commented on #4324
I've attempted to resolve this, what I've done works (as far as I've tested) but I'm having issues getting the unit test to work, if anyone could take a look and offer suggestions that'd be great, thanks!

[2019-10-10 15:36] dmlloyd commented on #4479
Ah I see.  So the problem is that you're producing two things from your build step: one which is overridable, and one (the implicit generated bytecode) which is not.  You *should* be able to solve the problem by specifying `@Record(optional=true)`.  This should prevent the generated bytecode from being supplied unless the overridable item ends up being consumed.

[2019-10-10 15:38] dmlloyd commented on #4479
BTW that should be specified on both `@Record` annotations.

[2019-10-10 15:51] emmanuelbernard commented on #4452
CC @sberyozkin

[2019-10-10 16:03] dodalovic opened #4510 "Mail sending (Gmail) doesn't work"
I was following [official guide](https://quarkus.io/guides/sending-emails#sending-simple-emails)
[app.zip](https://github.com/quarkusio/quarkus/files/3713499/mailer.zip)

[2019-10-10 16:03] dodalovic commented on #4510
[code]

[2019-10-10 16:04] gwenneg commented on #3904
@fbricon @angelozerr I'll submit a PR shortly, so the YAML configuration should be part of `0.25.0` hopefully.

[2019-10-10 16:17] #4472 closed

[2019-10-10 16:22] FreifeldRoyi commented on #3516
If it helps... Docker version of 0.23.2 did not work locally. It's the one I downloaded from our servers. I'll try creating one locally and see if it behaves the same

[2019-10-10 16:42] pedroigor commented on #4495
[code]
The mapping of resources (rsid/rsname) to paths is what makes possible to enforce access accordingly to the resource/path being requested.

The PEP also allows you to enforce access by querying Keycloak in case the token is a regular access token. So that clients don't need beforhand to obtain a token with permissions.

If you make this a priority, I would say that we should start without U

[2019-10-10 17:12] angelozerr commented on #3904
@gwenneg thank a lot for your feedback, I create the issue https://github.com/redhat-developer/quarkus-ls/issues/112 to try to support YAML configuration.

[2019-10-10 21:32] sberyozkin commented on #4495
@pedroigor Thanks (though still not sure how the above `authorization` is mapped to something like what is posted by the user :-) ) and totally agree, lets deal with UMA later on.

But we need to decide what to do for 0.25.0 per my [earlier comment](https://github.com/quarkusio/quarkus/issues/4495#issuecomment-540586571).

I'm going offline now, but lets try to finalize tomorrow, may be Stian will

[2019-10-10 22:22] pedroigor commented on #4495
@sberyozkin, sure. Let's sync this.

In a nutshell, we just need to re-use the policy enforcer from the Keycloak Adapter.

[2019-10-10 22:40] pedroigor commented on #4480
@sberyozkin, I should be able to deliver this quickly, if tests allow me to do so :)

So far, I have the authorization code flow working by leveraging Vert.x OAuth2. Where a cookie is set by the extension to create a session for the user after successful authentication. Where session time on the application is bound to the ID Token lifetime.

This covers pretty much the basics. The missing points

[2019-10-11 05:12] johnaohara commented on #796
No longer an issue

[2019-10-11 05:12] #796 closed

[2019-10-11 06:41] rashmi-ibm commented on #4372
@jaikiran I skipped the mongodb unit tests and proceeded with the build but its further failing with below error.

Caused by: java.util.NoSuchElementException: Property test.url not found
        at io.smallrye.config.SmallRyeConfig.propertyNotFound(SmallRyeConfig.java:221)
        at io.smallrye.config.SmallRyeConfig.getValue(SmallRyeConfig.java:112)
        at io.quarkus.runtime.configuration.Co

[2019-10-11 06:52] stianst commented on #4495
As the policy enforcer is very Keycloak specific I think the ideal solution would be to have a quarkus-keycloak-authz extension that depends on quarkus-oidc to do the rest

[2019-10-11 07:02] Ravisankar-Challa commented on #4406
@marcinczeczko Tested it with 999-SNAPSHOT in aws lamda with **quarkus.dynamodb.sync-client.type=URL**. Workd fine. How to get this property in vscode auto complete feature. Do I have to raise a separate feature request for this?

[2019-10-11 07:11] jmartisk opened #4512 "Mismatch in ConfigProviderResolver instances after boot"
During runtime init we explicitly build an instance of `SimpleConfigurationProviderResolver` and pass it to `ConfigProviderResolver.setInstance()`[1][2], but there is also the static field `ConfigProvider.INSTANCE` [3] that initializes by calling `ConfigProviderResolver.instance()` BEFORE we do `ConfigProviderResolver.setInstance()`, which leads to instantiation of a `SmallRyeConfigProviderResolve

[2019-10-11 07:25] jmartisk commented on #4512
Hey @dmlloyd, is it really required by design that we use `SimpleConfigurationProviderResolver` instead of `SmallRyeConfigProviderResolver`? Because another problem that blocks the mentioned test is:
While `SimpleConfigurationProviderResolver`'s very simple implementation allows calling `registerConfig` and then retrieving the new config, if the app later calls `releaseConfig` (https://github.com/

[2019-10-11 07:27] jmartisk commented on #4512
CC @kenfinnigan this is the issue with the MP Metrics TCK I mentioned on yesterday's call

[2019-10-11 08:35] Heni-ghodbane commented on #3312
The same issue is still produced as @dhartford describe, even with the latest version 0.23.2
Hopefully, it will be fixed in the next release!

[2019-10-11 10:00] sberyozkin commented on #4495
@pedroigor, @stianst thanks, so we are going the keycloak specific extension of the oidc adapter, `quarkus-keycloak-authz` is fine if it will only deal with this policy-enforcer issue, but perhaps there will  be more requirements to support something KC specific not related to the actual authorization ? Though `quarkus-keycloak-authz` can cover all the cases I guess.

[2019-10-11 10:14] FroMage commented on #3803
OK, so the table is not "huge" by any Java measure: 570 rows, 166 of which are collapsible. BUT JavaScript DOM is indeed super slow, wich actions often taking longer than 2s.

I've removed jQuery usage to regular DOM to shave a few hundred ms, incorporated a delay when searching to not search three times when typing "abc", use a shadow DOM to work on modifications in an invisible tree copy (double

[2019-10-11 10:18] Heni-ghodbane commented on #4493
After updating the Quarkus dependency to the latest version 0.23.2, I realized that mp.jwt.verify.publickey.location does not  retrive the jwks kew from the endpoint

The console prints this working message:

`2019-10-11 10:41:49,877 WARN  [io.sma.jwt.aut.pri.DefaultJWTTokenParser] (executor-thread-95) Token is invalid: Failed to load a key from: http://localhost:14145/jwks
2019-10-11 10:41:49,879

[2019-10-11 10:21] Heni-ghodbane commented on #4493
After updating the Quarkus dependency to the latest version 0.23.2, I realized that mp.jwt.verify.publickey.location does not retrieve the jwks key from the endpoint.

The console prints this working message:

`2019-10-11 10:41:49,877 WARN  [io.sma.jwt.aut.pri.DefaultJWTTokenParser] (executor-thread-95) Token is invalid: Failed to load a key from: http://localhost:14145/jwks
2019-10-11 10:41:49,87

[2019-10-11 10:23] lordofthejars commented on #4493
I am using the 0.23.2 and it works. I recommend you set the logging level to TRACE and check what's happening:  quarkus.log.level=TRACE

[2019-10-11 10:25] maxandersen commented on #3136
related to https://github.com/quarkusio/quarkus-platform/issues/7

[2019-10-11 10:28] Heni-ghodbane commented on #4493
@lordofthejars  yes I used and it shows this error:

[code]

[2019-10-11 10:30] lordofthejars commented on #4493
And you tried to access with curl to localhost:14145/jwks to validate that
it is returning a valid JWKS object

Missatge de Heni-ghodbane <notifications@github.com> del dia dv., 11 d’oct.
2019 a les 12:28:

[2019-10-11 11:16] dmlloyd commented on #4512
This is a known issue.  There is a fix pending in SmallRye Config which will allow us to customize the config provider resolver to the degree that we need to do so.

[2019-10-11 11:23] stianst commented on #4495
@pedroigor would need to look into how feasible it is to create a pure policy enforcement extension, but for OIDC in general we shouldn't need KC specific stuff. Also, I think if we'd have quarkus-keycloak that would confuse folks thinking that they didn't need quarkus-oidc, and that is somehow did more than just authz

[2019-10-11 11:28] sberyozkin commented on #4493
@lordofthejars, @Heni-ghodbane may also be related to the `kid` mismatch

[2019-10-11 11:39] ppalaga commented on #3136
Yes, quarkusio/quarkus-platform#7 is our proposal, how the current issue should be solved so closing this one.

[2019-10-11 12:20] sberyozkin commented on #4495
@stianst +1, we are all in total agreement that `quarkus-oidc` is going the generic way now :-).  `quarkus-keycloak-authz` is just fine for me as well if you and Pedro like this name.

[2019-10-11 12:50] pedroigor commented on #4495
We are aligned. We should go for a new extension. The name `quarkus-keycloak-authz` sounds good for me.

@stianst a generic PEP should be possible and it is pretty much possible based on the permission checker Stuart is doing. So that you can have custom checks or interact with a PDP by providing your custom checker implementation.

But yeah, we still need to provide something that works OOTB and

[2019-10-11 12:56] kenfinnigan commented on #4512
@dmlloyd is there a SmallRye Config issue already that this relates to?

[2019-10-11 13:02] geoand commented on #4497
With #4496 should this be closed?

[2019-10-11 13:04] johnaohara commented on #4497
Yes, closing

[2019-10-11 13:04] #4497 closed

[2019-10-11 13:10] #4336 closed

[2019-10-11 13:18] dmlloyd commented on #4512
It was part of https://github.com/smallrye/smallrye-config/pull/168.

[2019-10-11 13:18] kenfinnigan commented on #4512
So we just need a release of it, and update Quarkus?

[2019-10-11 13:19] dmlloyd commented on #4512
Basically it's pending release and corresponding Quarkus fixes, but I have been waiting to ask for a release until all the Quarkus work is done.

[2019-10-11 13:19] kenfinnigan commented on #4512
I know Sonatype is a pain at the moment, but do you want me to try releasing Config? Or there's more work still?

[2019-10-11 13:20] dmlloyd commented on #4512
It won't fix the problem until the Quarkus config setup is modified.  We could do a separate pull for that but I'm already in the midst of another mega config fix which will cover that so I was just going to do it all at once, as is my wont.

[2019-10-11 13:21] kenfinnigan commented on #4512
Ok, but are there more changes to SRye Config needed? Or you think we're done and a release would help you finalize the mega fix?

[2019-10-11 13:25] dmlloyd commented on #4512
There might or might not be more changes needed: I won't be sure until I finish the Quarkus change, TBH.

[2019-10-11 13:26] kenfinnigan commented on #4512
Fair enough, keep us posted

[2019-10-11 13:36] Heni-ghodbane commented on #4493
@lordofthejars yes, it returns the JWKS object.
@sberyozkin also the kid is correct

[2019-10-11 14:05] jaikiran commented on #3592
@dmlloyd, I was able to get my hands on a Windows system and I was able to reproduce this consistently and narrow this down. An important higher level detail - this is reproducible only on recent (definitely on Java 11 but probably since Java 9?) JDK versions. It probably is because the code in recent JDK versions of  `com.sun.tools.javac.file.FSInfo#getJarClassPath` changed from something like:

[2019-10-11 14:13] sberyozkin commented on #4495
@pedroigor
If it is based on specs then it should be in `quarkus-oidc` per our strategy. `quarkus-keycloak-authz` would keep the old `quarkus-keycloak` users happy with the KC only specific feature, but once your idea of PEP is realized at some later stage we can may be deprecate `quarkus-keycloak-authz` given a more generic solution (I guess you were referring to UMA) is available

[2019-10-11 14:15] dmlloyd commented on #3592
That's expected/normal.  This is a relative URI (even though it's an absolute path... a relative URI is one with no "scheme" component), so according to the JAR specification, this is allowed.

Yes, it handles the URI encoding for us, essentially creating a relative URI as the JAR file specification demands.  Note that the block you mentioned is not meant to be entered for the `/C:` case, it's mea

[2019-10-11 14:18] dmlloyd commented on #3592
See https://docs.oracle.com/javase/10/docs/technotes/guides/jar/jar.html#Main_Attributes for the exact spec verbiage.  Note that this is the most recent one I could find.

[2019-10-11 14:21] dmlloyd commented on #3592
The most common cause for this kind of issue in the JDK, historically, is mistaking "relative URL" to mean "relative path" as the authors of the bad javac code seem to have done.

[2019-10-11 14:22] geoand commented on #3592
Is there any easy workaround we can apply on our side to remedy the problem temporarily?

[2019-10-11 14:25] geoand commented on #3592
Sounds reasonable and I would assume it would address the most common case.

[2019-10-11 14:30] geoand commented on #3592
@jaikiran would you like to give @dmlloyd 's suggestion a shot?

[2019-10-11 14:31] jaikiran commented on #3592
@geoand - Yes, I'm experimenting a few ways to get past this, one of them being what @dmlloyd just suggested :) I'll update this thread once I have something.

[2019-10-11 14:33] geoand commented on #3592
Great, thanks!

[2019-10-11 14:43] geoand commented on #4345
I took a super quick look at part of this and it seems like `org.jboss.resteasy.core.providerfactory.Utils.createHeaderDelegate` is being used heavily in the glue code in Quarkus (see `io.quarkus.resteasy.runtime.standalone.VertxHttpResponse#transformHeaders`).
I'll take a closer look soon

[2019-10-11 14:49] machi1990 commented on #3803
Wooot 🔥 Is there a PR / branch somewhere so that I can take look also? @FroMage

[2019-10-11 14:54] kenfinnigan opened #4516 "MP Config TCK - Fix excluded tests"
Currently, the below tests are excluded from execution when running the MP Config TCK. We need to either fix Quarkus so the test passes or challenge and fix the TCK if it's a problem there.

- [x] [ArrayConverterTest.*](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-config/tck-suite.xml#L17)
- [ ] [ConfigProviderTest.testInjectedConfigSerializable](https://github.com/quarkusio/

[2019-10-11 14:59] sberyozkin commented on #4495
Hi Pedro, copying one idea for to initialize the checker here:
@pedroigor You can probably have something like this, have .runtime.PolicyEnforcer bean and get it initialized in a new extension's deployment processor, and pass it to the runtime recorder where you'd set this PolicyEnforcer instance on the CDI producer which produces a custom HttpPermissionChecker:

@Recorder
public class KeycloakPol

[2019-10-11 14:59] FroMage commented on #3803
Not yet, I was hoping to be able to get the extension names first.

[2019-10-11 15:03] kenfinnigan opened #4517 "MP Context Propagation - Fix excluded Tests"
Currently, the below tests are excluded from execution when running the MP Context Propagation TCK. Fixing this is currently blocked by https://github.com/quarkusio/quarkus/issues/3878

- [ ] [JTACDITest](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-context-propagation/pom.xml#L34)

[2019-10-11 15:06] kenfinnigan opened #4518 "MP Metrics TCK - Fix excluded tests"
Currently, the below tests are excluded from execution when running the MP Metrics TCK.

- [ ] [GlobalTagsTest](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-metrics/api/pom.xml#L36)

[2019-10-11 15:09] machi1990 commented on #3803
Using JavaScript?

[2019-10-11 15:09] kenfinnigan opened #4519 "MP OpenAPI TCK - Fix excluded tests"
Currently, the below tests are excluded from execution when running the MP OpenAPI TCK.

- [ ] [OASFactoryErrorTest](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-openapi/pom.xml#L35)
- [x] [AirlinesAppTest](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-openapi/pom.xml#L38)

[2019-10-11 15:27] geoand commented on #4345
A first simple PR for RESTEasy has been opened [here](https://github.com/resteasy/Resteasy/pull/2180)

[2019-10-11 15:31] kenfinnigan opened #4520 "MP REST Client TCK - Fix excluded tests"
Currently, the below tests are excluded from execution when running the MP REST Client TCK.

- [ ] [timeout](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-rest-client/tck-suite.xml#L22)
- [ ] [HasConversationScopeTest.*](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-rest-client/tck-suite.xml#L28)
- [ ] [HasSessionScopeTest.*](https://github.com/quarkusio/q

[2019-10-11 16:11] FroMage commented on #3803
Not sure I follow. I was wondering where to get the name of the extension as we don't have that info. I've used a workaround until we do.

Check out https://github.com/quarkusio/quarkus/pull/4522

[2019-10-11 16:36] gastaldi commented on #4088
@johnaohara I ran your project using the H2 driver and I see the following output:

[code]

Was it supposed to show the NPE you mentioned?

This is my application.properties:

[code]

[2019-10-11 16:44] sberyozkin opened #4523 "Review HttpPermissionChecker priority mechanism"
**Description**
`HttpPermissionChecker` requires the implementations to set a priority.
 The possible problem is that it complicates the process.
**Implementation ideas**

Proposal: in scope of the security checks, every checker must have an equal chance to assert if the current request is allowed to proceed or not (based on possibly orthogonal requirements) and as such the use of the priorities s

[2019-10-11 16:48] sberyozkin commented on #4523
Hi @stuartwdouglas, @gsmet I'll add `0.25.0` just to make sure this issue is resolved somehow: keep the interface as it is now or might be without the priorities, since after 0.25.0 it won't be really an option to change the interface...

[2019-10-11 16:49] dmlloyd commented on #4523
The key question is: are there any significant use cases that are difficult or impossible to solve without the "tri-state" logic that is enabled specifically by the order/priority approach?

[2019-10-11 16:56] machi1990 commented on #3803
Sorry my bad, I thought you wanted to get the extension names on the javascript's side. I only realised it was not the case (hence the deleted comment) after I connected to Zulip (was away the whole day).

Thanks for the PR, I'll check it out over the weekend.

[2019-10-11 17:08] sberyozkin commented on #4523
@dmlloyd
Hi David, thanks for the fast feedback. I'd say all cases can probably be handled with the priority approach, but my concern is that for the security checks, I believe all of them have to run, so it is not clear to me why to sort them.
Perhaps having a `default` `getPriority` method can be a good compromise. If there will be some real requirement to have the checks in the specific order t

[2019-10-11 17:46] dmlloyd commented on #4523
They would all have to run only if the rule is that all checks have to explicitly pass.  I thought @stuartwdouglas had proposed that checks should be able to either explicitly pass, explicitly fail, or delegate the decision to the next handler - meaning that any handler would have the power to preemptively approve the request without consulting the rest of the handlers.

So my question is basicall

[2019-10-11 19:44] sberyozkin commented on #4523
@dmlloyd It is very helpful; that was my concern I commented about in the PR, if a checker can preemptively approve by design then there will always be a risk of some major check being ignored. It appears to me that the correct ordering, if it is really needed, can only be reliably set up at the custom checker level :-) but not via the generic properties mechanism; thanks

[2019-10-11 19:55] sberyozkin commented on #4493
@Heni-ghodbane Right, I see now. It is because you have an `http` scheme, JWKS are only fetched via HTTPS. A user has already opened a similar issue. Note I will fix it, but there will be no caching/periodic refresh (=> no key rotation)

I'll update here once the progress has been made

[2019-10-11 20:00] sberyozkin commented on #4493
Hi @lordofthejars can you please clarify your earlier comment about `kid` - did you have an incorrect `kid` in the `JWK` key or in the token itself, before you've set a correct `kid` ? Thanks

[2019-10-11 21:12] lordofthejars commented on #4493
I had kid in token and no kid in jwks, and although I had one key, it
didn’t work. If I set both valid and equal kid then it worked

El El vie, 11 oct 2019 a las 22:00, sberyozkin <notifications@github.com>
escribió:

--
Enviat amb Gmail Mobile

[2019-10-12 04:07] mvniekerk opened #4526 "Keycloak + Kotlin = Always 403"
**Describe the bug**
Keycloak protected resources always return a 403 when using a Kotlin class

**Expected behavior**
Keycloak policy enforcer should pass through or enforce according to the policy enforcer rules

**Actual behavior**
Regardless of the setup, given a Kotlin resource it will always return a 403 (even if it is explicitly marked as enforcement-mode DISABLE)

**To Reproduce**
Steps to

[2019-10-12 07:30] dodalovic commented on #4510
I’m wondering if someone came across the same issue as I did 😞 ?

[2019-10-12 08:40] jaikiran commented on #3592
@dmlloyd @geoand I decided to go a different approach in fixing this, instead of using the `SystemDrive` value to decide whether or not to write out the classpathe entries. Given that the real issue is in JDK, plus the fact that using the `SystemDrive` approach wasn't foolproof (like David already noted), I thought it's better to go with the approach that I propose in https://github.com/quarkusio/

[2019-10-12 09:01] rmh78 commented on #2125
I was not able to get it working. I tried to copy the libsunec.so next to the native executable but still get the "can't load EC library" error.

Is this whole SSL issue a Quarkus or a Graal issue?? Is anyone trying to fix this?

[2019-10-12 09:31] simongun opened #4528 "java.lang.NoClassDefFoundError: org.apache.commons.logging.LogFactory in @Observes StartupEvent in GraalVM"
**Describe the bug**
Running the in OpenJDK, the following code works
[code]
... but in GrallVM, org.slf4j.Logger can be initialized, but org.apache.commons.logging.Log can not, and one gets the following exception:

[code]
**Expected behavior**
Once a class is loaded (i.e. org.apache.commons.logging.LogFactory) subsequent class lookup should not result in a java.lang.NoClassDefFoundError.

**Actu

[2019-10-12 10:59] jaikiran commented on #4528
What does your project pom look like, especially the dependencies that you have included?

[2019-10-12 12:01] jaikiran commented on #3297
Perhaps this PR might help https://github.com/quarkusio/quarkus/pull/4457?

[2019-10-12 12:36] jaikiran commented on #4372
The MongoDB test failure should be taken care off once this PR (from someone else) is merged and that library released and integrated by MongoDB https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/109/

As for this latest `RestClientTestCase` failures, is this consistently reproducible? Is it against latest upstream master?

[2019-10-12 12:47] jaikiran commented on #4510
I haven't checked the app, but do you see any errors or exceptions when you invoke that endpoint? Any logs?

[2019-10-12 12:54] dodalovic commented on #4510
@jaikiran Absolutely nothing :)

[2019-10-12 13:16] dufoli commented on #3343
hello, I have start to work on this one. It was pretty complicated because I do not understand all the concept in quarkus right now. But I have start to work on it. How Can I tag my branch to this bug and get some help ?

[2019-10-12 13:28] dufoli commented on #3343
here is the branch https://github.com/dufoli/quarkus/tree/mongo-cluster

[2019-10-12 13:29] geoand commented on #3343
Hi, you can create a draft Pull Request where you mention that it fixes this issue.
In that PR you describe the details of what you need help with, what might not be working currently, what you think the limitations of your approach are etc.

[2019-10-12 14:03] simongun commented on #4528
This is the pom that I used:
[pom.xml.txt](https://github.com/quarkusio/quarkus/files/3720754/pom.xml.txt)

[2019-10-12 14:38] gsmet commented on #4254
@oztimpower , I'm curious about this part: how did you create your project? IIRC we enable the handler when in the Maven project template.

[2019-10-12 14:50] oztimpower commented on #4254
I used Gradle, hand crafted from the documentation.

Is there a way to force this in the code? The Amazon lambda extension has a lot of http calls in the Quarkus wrapper runtime code.  The bootstrap of native-image does not appear to module aware.

[2019-10-12 14:52] gsmet commented on #4254
Yeah, it's probably something we should push via the extension mechanism.

Could you create a specific issue for that?

I'm leaning towards closing this one as you fixed the initial issue. It will be clearer if we have a specific one.

Thanks!

[2019-10-12 14:57] dodalovic commented on #4510
Saw that `MockMailboxImpl` is being executed while sending, not sure if mock should be executed in runtime 😕

[2019-10-12 15:03] dodalovic commented on #4510
@jaikiran
![image](https://user-images.githubusercontent.com/6358061/66703362-1dffac00-ed12-11e9-9b82-a5ae89174247.png)

[2019-10-12 15:06] #4254 closed

[2019-10-12 15:21] dodalovic commented on #4510
When I set `quarkus.mailer.mock=false` in my `application.properties`, I get the following (I'm sure I'm using proper credentials) :

[code]

[2019-10-12 21:02] acoburn commented on #4393
@manovotn thanks for fixing this so quickly. While it would be nice to use `@Nested` classes at some future point, I can work around that. The NPE issue described here has been fixed, so I am going to close this issue.

[2019-10-12 21:02] #4393 closed

[2019-10-12 21:41] cstancu commented on #4218
Additional patch required for GraalVM 19.3.0:
[code]
The `onlyWith = JDK8OrEarlier.class` is necessary for classes that Quarkus as substitutions for but have been removed on JDK11.

The `LocalizationSupport` -> `LocalizationFeature` change will be necessary due to some changes in GraalVM internals wich [Quarkus depends on](https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/j

[2019-10-12 23:37] stuartwdouglas commented on #4523
The main use case is 'default deny' which is not really possible with pure boolean logic. At the moment this works more like an access control list.

Maybe I could leave it as tri state, but record the results of every checker. If all 'IGNORE' then the default is used, if any return DENY then it will be denied. If at least one has permitted and the rest IGNORE then it will be permitted.

[2019-10-13 07:13] #4526 closed

[2019-10-13 07:19] cescoffier opened #4531 "Health check called on the event loop"
**Describe the bug**

With the following class:

[code]

The call fails because it tries to access the database from an IO Thread.

**Expected behavior**
It should use a worker thread.

**Actual behavior**
It uses the event loop thread

[2019-10-13 07:52] cescoffier commented on #4531
The issue is that the route would also require the request scope.

[2019-10-13 09:55] dufoli commented on #3343
I have commit and send the draft PR with some fixes.
I just need help to fix one remaining test because error is really strange to me.
CollectionManagementTest

[2019-10-13 11:00] tmplcl opened #4532 "Running a quarkus application with debug mode does not suspend the vm"
When running a quarkus application with maven and the debug property as described in [https://quarkus.io/guides/maven-tooling#debugging](url) the vm does not wait for a debugger to attach.

**Expected behavior**
The VM should be suspended until a debugger is attached.

**Actual behavior**
The application starts without suspending the VM.

**To Reproduce**
1. Create simple quarkus application:
<pre

[2019-10-13 11:28] jaikiran commented on #4532
This looks like because of hte change I recently did https://github.com/quarkusio/quarkus/pull/4395. For now, you can additionally pass `-Dsuspend=true` to have the VM suspended when `-Ddebug=true`. I'll submit a PR tomorrow, to have `-Ddebug=true` behave like it used to before.

[2019-10-13 12:51] dmlloyd commented on #4523
How does that differ from the boolean approach in practice? What I meant by "use case" is some user situation that wouldn't be solvable with the simpler boolean approach.

[2019-10-13 15:04] tpenakov commented on #2052
I've created a bare minimum Eureka Client which works on Quarkus:
https://github.com/tpenakov/org-otaibe-eureka-client
It is not build as Quarkus extension, but you can embed the code in your project.

[2019-10-13 15:24] geoand commented on #4532
I am little lost with the change to `-Ddebug`. It was my understanding that that the fact that it no longer suspends was intentional.
Is that not the case?

[2019-10-13 15:33] #4500 closed

[2019-10-13 15:35] jaikiran commented on #4532
When I did that change I was only thinking about the port override and hadnt considered changing the debug=true case. But I think the current behaviour of letting suspend decide whether or not to suspend, I guess, makes it more consistent. We will have to fix our documentation about it.

[2019-10-13 15:44] geoand commented on #4532
Yes, let's at least have some documentation

[2019-10-13 15:45] hantsy commented on #4104
Upgraded to 0.24.0, and [my spring sample](https://github.com/hantsy/quarkus-sample/tree/master/spring-post-service) get the following error:

[code]

[2019-10-13 15:46] geoand commented on #4104
That's a new one. I'll look into it soon

[2019-10-13 17:37] kenfinnigan commented on #4531
Can we define specific routes to execute on the worker instead of IO thread?

I presume it's fine to have /health and /metrics served from a worker thread instead?

[2019-10-13 20:09] dufoli commented on #3343
I need review and help to format. Because it seems to be ok now( all test pass) but failing on code format....

[2019-10-13 21:55] lburgazzoli opened #4536 "Create a BodyHandleBuildItem to share vert.x body handler"
**Description**
In camel-quarkus we programatically attach a route to quarkus' vertx router and we have to manually configure the body handler as you can see [here](https://github.com/apache/camel-quarkus/blob/master/extensions/platform-http/runtime/src/main/java/org/apache/camel/quarkus/component/platform/http/runtime/QuarkusPlatformHttpConsumer.java#L94-L129) but it would be nice to re-use the b

[2019-10-14 06:15] cescoffier commented on #4536
@lburgazzoli the body handler should always be there no?
In that case, you can retrieve the body from the routing context.

[2019-10-14 06:35] geoand commented on #4345
@Sanne I am not seeing `SseEventSinkInterceptor` anywhere in the benchmarks I am running. Is there any specific one you see it in?

[2019-10-14 07:32] lburgazzoli commented on #4536
For what I can see the body handler is attached on per route basis:

- https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java#L142
- https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java#L69

Am I wrong ?

[2019-10-14 07:56] ochaloup commented on #3878
@kenfinnigan not so far, but I finally have some time to look into it. Hopefully I'll have some better new this week.

[2019-10-14 08:56] geoand commented on #4345
Added another RESTEasy [PR](https://github.com/resteasy/Resteasy/pull/2181) to address a small performance optimization.

[2019-10-14 09:19] cescoffier opened #4538 "Static file not served when there are no resource classes"
**Describe the bug**

Static files from `META-INF/resources` are not served if you only have the RestEasy extension.

**Expected behavior**

They should be served.

**Actual behavior**
404.

**Configuration**
[code]

[2019-10-14 09:31] maxandersen opened #4539 "quarkus-extension manifests and their formats ?"
In https://github.com/quarkusio/quarkus/pull/4423 we are pushing towards a model where instead of a singular manually maintained `extensions.json` in core we'll have each extension contain a manifest file. Then each manifest file will be used as input to a platform definition - of which one part will be the list of extensions.

For the manifest the current PR suggests a file per extension jar call

[2019-10-14 09:36] cescoffier opened #4540 "MediatorManager was already initialized!"
**Describe the bug**

Hot reload does not work anymore with 0.24.0

**Expected behavior**

It should work

**Actual behavior**

MediatorManager was already initialized!

[2019-10-14 09:45] cescoffier opened #4541 "Error during WebSocket handshake: net::ERR_INVALID_HTTP_RESPONSE"
**Describe the bug**

WebSocket does not work anymore in 0.24.0

The following code:
[code]

triggers: ERR_INVALID_HTTP_RESPONSE

[2019-10-14 09:49] cescoffier commented on #4510
The issue is gmail does not accept username and password anymore:
AUTH XOAUTH2 failed 535-5.7.8 Username and Password not accepted. Learn more at
535 5.7.8  https://support.google.com/mail/?p=BadCredentials m18sm20578699wrg.97

[2019-10-14 09:53] aloubyansky commented on #4539
As I mentioned before, I propose to deprecate this one and simply use something like `quarkus-extension-deployment` that would contain `io.quarkus:quarkus-vertx-core-deployment:999-SNAPSHOT`. That way we won't have to parse some formatted file containing other stuff during the build/test setup.

Otherwise a possibly categorization could be build-time info and the rest with the idea of getting the

[2019-10-14 09:55] Sanne commented on #4345
@geoand I've seen those running the POC for techempower which I shared here:
 - https://github.com/FroMage/FrameworkBenchmarks/pull/1

When reporting this I was testing Quarkus / master 2 weeks ago, so I guess it's possible other things changed in the mean time -- I'll run this all again when we have those RESTEasy patches merged, I guess ignore those for now if you can't reproduce it.

[2019-10-14 09:59] maxandersen commented on #4539
yes, makes sense for that file but does it make sense to also have `quarkus-config-roots.list` ? not sure when it is used but at the moment we seem to end up what looks like "random" files from a enduser perspective. Not saying need to remove them - but looking to grok why we have them and if it can be improved.

[2019-10-14 10:03] cescoffier commented on #4538
Even weirder, the resteasy extension is not enabled in the project I use to reproduce it:

[code]

[2019-10-14 10:04] cescoffier commented on #4538
no resource files...

[2019-10-14 10:06] dodalovic commented on #4510
Seems they are, considering this sample project: [mail-sending-example.zip](https://github.com/quarkusio/quarkus/files/3723935/mail-sending-example.zip)

[2019-10-14 10:08] maxandersen opened #4542 "issue with extension generator nulls when m2e involved"
in https://github.com/quarkusio/quarkus/pull/4423 we noticed that generation of quarkus-extension.json ended up with null values.

not yet identified but belief is that m2e for some reason don't have the right values available to it when building.

Something we need to be aware of as extension writers would bump into these too if using eclipse or code.

[2019-10-14 10:33] lordofthejars opened #4543 "Datasource configuration wrong in docs?"
**Describe the bug**

I think that this https://github.com/quarkusio/quarkus/pull/4462/files#diff-339c141d88e1376f63c9e3d7e733b5adR284 properties should be `permissions` instead of `roles` as the datasource is defined as `permissions`.

[2019-10-14 10:37] kevin-al-pixel opened #4544 "@RoleAllowed Issue with Reactive Routes"
**Describe the bug**
Vert.x route always accessible instead of throw unauthorized exception ( 401 ) If I send a request without a bearer token.

**Expected behavior**
Quarkus must throw unauthorized exception 401 if the request doesn't came with the bearer token

**Actual behavior**
The request without bearer token is accepted without throw unauthorized 401.

**To Reproduce**

*UserRoutes.class*
[

[2019-10-14 10:41] mkouba opened #4545 "Shared lifecycle interceptor instances use wrong CreationalContext"
Each interceptor instance should receive a new child `CreationalContext` from the CC of the intercepted bean. This issue follows up on #3530.

[2019-10-14 10:49] mkouba commented on #4490
Interesting. How much time does this 30% represent?

Yes, it is. Although it could be accessible through the `ArcContainer` interface in the future. The idea is to have a unique identifier of a container instance. On the other hand, we don't support running parallel container instances ATM and so it's mostly useful for debugging. In theory, we could use a simple static counter as well.

[2019-10-14 10:54] #833 closed

[2019-10-14 10:55] #4317 closed

[2019-10-14 10:59] sberyozkin commented on #4544
Possibly related to #3049

[2019-10-14 11:02] rsvoboda commented on #4369
Sorry, miss-click :(

[2019-10-14 11:23] gcollin commented on #4383
I found out this is the same issue than
#3721
I had maven installed in a non-standard directory (c:\apps\maven), didn't set MAVEN_HOME, didn't have ~/.m2/settings.xml.
  Maven was using the settings.xml in c:\apps\maven\conf whereas Quarkus test assumed no settings.xml existed.
  It works fine if you set MAVEN_HOME

[2019-10-14 11:23] #4383 closed

[2019-10-14 11:24] sberyozkin commented on #4523
The checkers would still return the status (ignore/deny/permit) so the recording suggested by Stuart will support all the variations;
Simple boolean logic should work too, though the checkers which ignore have to return 'permit'; or yes, I think I see what Stuart meant, if all ignore, then the code which decides what to do will only see permit (true) so no way to decide if it is either default per

[2019-10-14 11:24] gcollin commented on #3721
Got the same kind of issue:

with maven installed in a non-standard directory (c:\apps\maven), and MAVEN_HOME not set, with no ~/.m2/settings.xml file.

Maven was using the settings.xml in c:\apps\maven\conf whereas Quarkus test assumed no settings.xml existed.

It works fine if you set MAVEN_HOME

[2019-10-14 11:28] dreab8 commented on #2815
Hi @waldimiro,
 I created a project https://github.com/dreab8/qurkus-merge-detached that tries to replicate the issue you described but without any luck, can you please give a look at it and tell me if I am missing anything?  thanks a lot

[2019-10-14 12:05] FroMage commented on #4539
Aside from the issue of where to store the info, I'd like to open up the question of where it comes from.

Given that we pretty much force people to use Maven for building (our extension plugin has to run), it could make sense to generate that descriptor file from Maven properties, like:

[code]

[2019-10-14 12:16] maxandersen commented on #4539
If that is not already there in the plugin then sure. It is already generated by merging pom.xml and whatever file you have.

I would still like to have a consistent format that users can decide to use or implement support for in Other build systems. Personally I remove everything I can from pom.xml as possible and keep in relevant artifacts.

[2019-10-14 12:20] FroMage commented on #4539
Not sure what file you refer to?

I'm saying that if name/labels are the only two infos we need to be in this new extension descriptor, I'd rather not require the users to create a file for it. Especially since they have to repeat the `groupId:artifactId` they already have, and they already must have a `pom.xml` file.

[2019-10-14 12:22] sberyozkin commented on #4544
@stuartwdouglas Hi Stuart; should adding `@Authenticated` be effective in this case ? (with or without @RolesAllowed) ?

[2019-10-14 12:25] rsvoboda commented on #4539
I have only slightly related comment to this so bare with :) Today I was looking at MicroProfile (MP) stuff Quarkus is covering and it's not easy to find out all guides and extensions related to MP even-though Quarkus and MP relationship is stressed quite often.

https://quarkus.io/guides/ - only few hits with Command/Ctrl+F, an example: OpenTracing doesn't contain MicroProfile keyword. Maybe ther

[2019-10-14 12:32] maxandersen commented on #4539
i'm referring to quarkus-properties.json and there already are a plugin to add the groupid/artifactid - It should also support the other values; if not we for sure should add that.

primarily in this issue interested in cleaning up our current list of "manifests" files, there are 4 of them using 3 different formats ;)

[2019-10-14 12:32] #4545 closed

[2019-10-14 12:33] sberyozkin commented on #4480
@pedroigor Hi Pedro, thanks, I've actually missed this comment, sorry; IMHO, tests and a property for choosing between the type of the flow, plus some minor tweaks around making both types of tokens available would be all we need for a start to get it going; we can then agree on some follow tasks alongside what you've suggested, I'd say, having some basic logout support afterwards would be the 1st

[2019-10-14 12:39] FroMage commented on #4539
I just noticed that it does not auto-generate the file, I'm a sad panda. I'll comment there, then.

[2019-10-14 12:41] aloubyansky commented on #4539
That's a nice idea. One thing though, now that we may have `extension.json` which is an extension descriptor (you can see it in any runtime artifact if you rebase) that could be put in `src/resources`, you may have two places to define values, which could be confusing. That could be caught by the plugin though and you could be forced to make your choice i.e. provide (the conflicting) values in the

[2019-10-14 12:41] aloubyansky commented on #4539
It should be generating the file. At least with groupId and artifactId. We could add support for other properties with basic defaults.

[2019-10-14 12:43] FroMage commented on #4539
I meant, as part of the build, by our extension maven plugin. Not manually.

[2019-10-14 12:44] FroMage commented on #4539
Cool. Yes indeed it would have to avoid ambiguity, as you say. Should I open a new issue for this, then?

[2019-10-14 12:45] aloubyansky commented on #4539
Sure.

[2019-10-14 12:55] #4536 closed

[2019-10-14 13:24] loicmathieu commented on #4539
I have some concern about extension identifier (feature name from the build step, should be the artifact name without the quarkus prefix) and config root (that should be but is not always the same of the identifier).
I think it must be specified somewhere, maybe this should aslo be added in the JSON file:

[code]

[2019-10-14 14:05] cescoffier commented on #4541
Fun fact: it only happens from the browser.

[2019-10-14 14:23] rafaelkloss commented on #4377
Hi @Sanne, what is the related issue ?

[2019-10-14 14:28] FroMage opened #4551 "Generate extension descriptor from `pom.xml`"
Follow-up on #4539, it would be nice if we could generate the extension descriptor entirely from `pom.xml` properties, such as:

[code]

[2019-10-14 14:36] loicmathieu commented on #4416
Hi @sberyozkin just come back and needs to have a look at `quarkus-oidc` to see if it can offers the same functionalities.

OIDC is "an identity layer on top of the OAuth2 protocol", so it should be based "on top of OAuth2" so you should have the OIDC extension that uses the OAuth2 one ...
Reading the [spec](https://openid.net/specs/openid-connect-core-1_0.html) OIDC don't support all the OAuth2 s

[2019-10-14 15:16] mkouba opened #4552 "Cleanup and optimize InvocationContext implementation"
- allocate less `InvocationContext` instances
- cache interceptor bindings
- refactor the code

[2019-10-14 15:19] mkouba commented on #4552
Follows up on https://github.com/quarkusio/quarkus/pull/4468.

[2019-10-14 15:42] geoand commented on #4345
Added one more RESTEasy PR [here](https://github.com/resteasy/Resteasy/pull/2183).

[2019-10-14 15:43] sberyozkin opened #4553 "OIDC token verification failures should be correctly reported in the log"
**Description**
As discovered by Markus

**Implementation ideas**
Fix at the [VertxOAuth2 OAuth2UserImpl level](https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/OAuth2UserImpl.java#L231) (in all places where the logging of the exception is done).

[2019-10-14 15:46] pipinet commented on #3552
still not work in 0.24.0

[2019-10-14 16:56] dreab8 commented on #3314
https://hibernate.atlassian.net/browse/HHH-13665 is the cause of this failure, here the related PR https://github.com/hibernate/hibernate-orm/pull/3064

[2019-10-14 17:04] waldimiro commented on #2918
I have more information about this problem. When I add to MyIntercepted another interceptor (in my case @Lock from https://www.knitelius.com/2016/01/25/concurrency-control-for-cdi/), the invocationContext.getTarget() object in MyInterceptor. postConstruct is different as when I have only MyIntercepted interceptor.

[2019-10-14 17:05] waldimiro commented on #2815
Hi @dreab8

Thank you for your time. The differences are:

model module
1. there are no application.properties, persistence properties are declared in service.
2. All my entities inherits from AbstractEntity<Object> (with an abstract getId, setId)

service moule
1. application.properties contains persistence properties (quarkus.hibernate-orm.database.generation=none)
2. TestEntityService inherits

[2019-10-14 17:12] waldimiro commented on #2815
mhh I ask me if it is related to https://github.com/quarkusio/quarkus/issues/2918, please read my last comment.

[2019-10-14 17:33] gastaldi commented on #3904
I created https://github.com/smallrye/smallrye-config/issues/171 in the smallrye-config side

[2019-10-14 17:38] geoand commented on #4540
Oh darn!

What kind of error does it throw?

[2019-10-14 17:38] #4442 closed

[2019-10-14 18:10] machi1990 commented on #4540
Just a general question, do we have CI setup for a release branches/tags? @cescoffier @geoand

[2019-10-14 18:14] geoand commented on #4540
WDYM  @machi1990 ?

[2019-10-14 18:18] geoand commented on #4540
@cescoffier I couldn't reproduce this with `master` and the `kafka-quickstart`

[2019-10-14 18:18] machi1990 commented on #4540
Is this reproducible with current master? I was just curious if we (re)run  CI jobs on release branches or just before releases with the test suite that we already have in the master branch.

[2019-10-14 18:28] #4531 closed

[2019-10-14 19:18] dcdh opened #4557 "Unable to run test with debezium"
**Describe the bug**
This [commit](https://github.com/quarkusio/quarkus/commit/a669395416370755452ab664f8c721fc3254d073) add the ability to detect if a blocking op is performed in the IO thread.

My POC ensure that we can do testing with debezium.
However it fails because the kafka consumer should be executed in the same thread than the test and so I am unaware to make entity request in test and a

[2019-10-14 19:41] kenfinnigan commented on #4539
+1 to using a plain properties file format for the generated extension metadata. We don't want to require a JSON parser just to read what are a bunch of properties for an extension.

+1 to the content of the file coming from `pom.xml` properties and not a file that's manually edited in the extension source.

[2019-10-14 20:04] aloubyansky commented on #4539
As long as our values are simple.

I think it's important to take into account that the number of properties may grow and some of them will be relatively long text content, which may be more convenient to keep outside of the pom. For example actual descriptions. @ia3andy wants to have a few kinds of those.

[2019-10-14 20:08] kenfinnigan commented on #4539
I'd question any kind of metadata that can't be expressed in a simple manner

Why does it matter how many properties we might have in `pom.xml`, or how long some of the values might be? It's a natural place to store metadata about the artifact.

If we didn't have or didn't want, there to be a Maven plugin that executes during the build for an extension, then I can understand the argument for a fil

[2019-10-14 20:11] dodalovic opened #4558 "Unable to understand extension-authors-guide docs"
Anyone knows what underlined thingy means? Taken from https://quarkus.io/guides/extension-authors-guide#some-types-of-extensions

![pasted_image](https://user-images.githubusercontent.com/6358061/66779810-73cd8300-eecf-11e9-948a-1186a8945074.png)

[2019-10-14 21:21] gastaldi commented on #4558
Yeah, that sentence is confusing, I think it should read:
[code]

[2019-10-14 21:45] maxandersen commented on #4320
Just realized this notion of overrides has a challenge - might not be a problem; but something to be aware of. The manifest metada in quarkus-extension.json I assume will be or already is (@aloubyansky ?) available at build and runtime as metadata.

These would always read the data from the manifest and not from the platform - thus the overrides in the platform will be purely cosmetic for when usi

[2019-10-14 21:47] maxandersen commented on #4361
relevant #4539

[2019-10-14 22:27] maxandersen commented on #4539
I'm really not talking about files in source tree here - I'm talking about the 4 files we currently have in every extension. We need to document them IMO for how a plugin is written.

How and where you put the info should be up to you - we should make it easy to do from your pom.xml but the pom is not something we can/should rely on during runtime thus how its created is separate from the end resu

[2019-10-15 00:10] galderz commented on #4343
@Sanne Yeah, I can help with this. Do you have a link to the ORM app?

[2019-10-15 05:25] rashmi-ibm commented on #4372
I tried to use the release 0.24.0 code of quarkus that doesnt fail for the RestClientTestCase. Issue is with the latest code in master branch.

[2019-10-15 05:27] alfsch commented on #4453
I've done some investigation on it. I tried to get Redisson working with quarkus and native compile --> failed.
After this i tried the lettuce redis driver and got this running also with native compile. Currently I'm using the implementation without an extension. An extension would be very helpful...

BR,

Alfred

[2019-10-15 05:28] jmartisk commented on #4518
GlobalTagsTest is not working due to https://github.com/quarkusio/quarkus/issues/4512

[2019-10-15 05:29] #2135 closed

[2019-10-15 05:48] machi1990 commented on #4453
I have been giving this a thought and here are some early ideas that I have: In terms of design, the quarkus-mailer client is an inspiration - so I am thinking of  having an extensions which will offer a blocking redis-client, a reactive one, and a mocked one for tests (?).

I have been thinking to use `https://lettuce.io` as an underlying library. @emmanuelbernard @gsmet WDYT? Any other design id

[2019-10-15 06:11] alfsch commented on #4453
During my experiments I got https://lettuce.io with following entries in dynamic-proxy-config.json
[code]
and following aditional entries to reflect-config.json

[code]
working with native compile.

BR,

Alfred

[2019-10-15 06:11] cescoffier commented on #4540
I need to do further investigation.
It was probably related to the web socket issue.

[2019-10-15 06:15] cescoffier commented on #4125
I fixed it already. Sorry, I forgot to update the issue.

[2019-10-15 06:16] cescoffier commented on #3174
Anything done on this issue? It's marked for 0.25.0, but I doubt it was fixed already.

[2019-10-15 06:18] geoand commented on #3174
@gastaldi have you done anything with this? I know I haven't :P

[2019-10-15 06:23] aloubyansky commented on #4320
It will be available, yes. It also depends what kind of overrides we will be doing. And what it would be consumed for.

[2019-10-15 06:24] dodalovic commented on #4558
@gastaldi #4559

[2019-10-15 06:37] mkouba commented on #4355
Superseded by https://github.com/quarkusio/quarkus/issues/4552.

[2019-10-15 06:37] #4355 closed

[2019-10-15 06:47] mkouba commented on #2918
@waldimiro could you be more specific? Also your interceptor is `@PostConstruct` whereas the `LockInterceptor` is `@AroundInvoke`...

[2019-10-15 06:49] machi1990 commented on #4453
@alfsch Yes, I suspect we’ll have to register some classes for reflection for things to work out of the box in native image. The extension will handle all that and more (CDI, configuration) as I suggested.

[2019-10-15 07:02] cescoffier commented on #4558
Merged!

Thanks @dodalovic !

[2019-10-15 07:02] #4558 closed

[2019-10-15 07:06] emmanuelbernard opened #4560 "Adjust memory and startup time numbers for 1.0 on website and presentations"
Let's adjust the memory usage for REST/REST+CRUD for both RSS and time to first request :

- on the website
- on slides

We need @stuartwdouglas to give the go before rerun (stable enough), @johnaohara to run the numbers and @jkbrock for both website new images and slides.

[2019-10-15 07:16] emmanuelbernard commented on #4453
I have not dived but this sounds good.

[2019-10-15 07:23] dodalovic commented on #4558
@cescoffier The pleasure is whole mine!

[2019-10-15 07:34] emmanuelbernard commented on #4539
If a file is 100% generated and therefore not seen by an extension developer, then I don't care too much even though rationalization of # of files makes sense).
If the file might be manually edited, then JSON is really unfriendly. I'd argue two formats are friendly for the kind of list and nested structures we have:

- YAML
- .properties

even though .properties is not as great at lists.

[2019-10-15 07:36] ia3andy commented on #4539
I think we should pick only one format and one possible location for this (to avoid confusion), I don't have any thought on the format and location. As you said we discussed @aloubyansky, it should be a format that let define textual fields (like long and possibly formatted descriptions).

[2019-10-15 07:47] jmartisk commented on #4375
I came up with a crude implementation that I'd like to get feedback on (the Health changes are obviously not part of the proposal, just an example how it can be used): https://github.com/jmartisk/quarkus/commit/2be8e99a08ad5220804fe839cc3201653b8ec0bf

It introduces `AdditionalMetricBuildItem` that any extension can produce, SmallRye Metrics extension will then pick it up and register the metric.

[2019-10-15 07:53] geoand commented on #4375
The `AdditionalMetricBuildItem` could be moved to a new `spi` module. Then each extension that needs to produce it would just depend on that SPI module.
This is how similar problems have been dealt with in other parts of the code (for example `smallrye-health` also contains an `spi` module which is used by the `agroal` extension).

[2019-10-15 07:56] geoand commented on #4345
The last PR was closed because it could lead to a DoS but maybe we could just hide it behind a flag that could only be turned in certain circumstances?

[2019-10-15 07:57] jmartisk commented on #4375
Good to know, thanks @geoand ! Will do that if this model gets generally accepted

[2019-10-15 07:59] FroMage commented on #4125
Well, it's not really fixed unless we decide that exposing vert.x is the way to do it. My PR got merged and we're waiting for a release.

[2019-10-15 08:03] FroMage commented on #4539
Well, `pom.xml` has a `<description>` element that nobody knews why it's there, we might as well use it for our extension description :)

As for Gradle, I'm pretty sure you'll be able to express those properties in it as well.

[2019-10-15 08:04] FroMage commented on #4539
It even has `<name>`, just sayin'…

[2019-10-15 08:04] FroMage commented on #4539
So really we're missing labels and guide, is all.

[2019-10-15 08:11] loicmathieu commented on #4375
The build item must be in an SPI and the extension must define the metric
extention as *optional dependency *so when a user don't include it the
dependencies are not added to the artifact.
You really should check how we did it for extension health check:
https://quarkus.io/guides/extension-authors-guide#extension-health-check
An we need a way to disabled it, by extension, as collecting metrics hav

[2019-10-15 08:17] geoand commented on #4375
Which dependency needs to be optional?
I don't think that in this case anything needs to be optional since the "client" extension by depending on the SPI only will not be bringing in any dependencies at all.

[2019-10-15 08:18] asoldano commented on #4345
Actually, I think you might want to experiment with a fixed size cache (you could clear up the cache once it reaches a configurable size threshold).

[2019-10-15 08:19] geoand commented on #4345
@asoldano do you have any candidate classes in mind?

[2019-10-15 08:20] Sanne commented on #4345
@asoldano does RESTEasy have a caching implementation around? We have a cache based on Caffeine based in Quarkus; I guess we could use that one, if RESTEasy could allow to "inject" a custom cache implementation.

[2019-10-15 08:21] geoand commented on #4345
@Sanne the cache would mostlikely move to Quarkus anyway - at least based on the latest implementation I had done that only cached things when a request was successful.

[2019-10-15 08:30] maxandersen commented on #4539
Pom.xml Is not inside the generated artifact. Also do we really want to limit extension writers to maven ?

Could we focus on agreeing on what the end result will be ? We can have plenty of intermediate ways to get to that result - Pom.xml, a yaml file, gradle contents etc.

[2019-10-15 08:31] geoand commented on #4345
@Sanne the problem would be that we would have to include the caffeine extension in the `quarkus-resteasy` extension. Do we really want to do that?

[2019-10-15 08:34] maxandersen commented on #4539
Actually - if noone really seem to care of the resulting format then .properties is the way to go. No extra dependencies and we have ways to map between XML/yaml/JSON to .properties so we can have it in pom.xml or separate file.

Its not pretty but it's simple :)

[2019-10-15 08:34] FroMage commented on #4539
Well, first I think that's wrong because `pom.xml` ends up in the generated artifact, but I was only saying we should make the extension descriptor generated, so we'd only use the `pom.xml` file as a source for the info we use to generate it at build time. And I also mentioned it'd be possible to do it in Gradle as well.

As for what type of descriptor gets generated, I don't care if it's generate

[2019-10-15 08:35] asoldano commented on #4345
@Sanne @geoand , RESTEasy has a caching mechanism, but that's really for the HTTP Cache control only. I also unsure the scenario here deserves relying on Caffeine, creating a mechanism for plugging that into RESTEasy, etc. How about a ConcurrentHashMap that's evicted when it reaches a given size? The threshold could be controlled with a property (MP Config), the cache migh even be disabled by defa

[2019-10-15 08:42] maxandersen commented on #4539
Well I disagree on it being 100% generated as I personally dislike frameworks requiring layers of intermediate formats when it can easily avoided.

Even if pom.xml is inside be artifacts it's not something we want to start parsing at runtime is it ? Nor want to require users to have when using gradle, right?

Anyway sounds like noone cares about the end result inside the artifact so I say we just

[2019-10-15 08:43] geoand commented on #4345
@asoldano I'm fine with that. Let me create a RESTEasy and a corresponding Quarkus PR with that I have in mind when I say that I want to move the caching stuff into Quarkus.

[2019-10-15 08:43] maxandersen commented on #4539
That doesn't answer what the other files are for - if anyone knows would be great to know if should stay separate or not.

[2019-10-15 08:54] FroMage commented on #4539
I've said this enough times here that I'm starting to think you haven't read me or I can't express myself correctly ;)

At this point, users _must_ have a `pom.xml` (or gradle equivalent) to build an extension, and it already has much of the info we want to end up in the extension descriptor, so it doesn't make a lot of sense to require users to hand-write that descriptor. It's unnecessary complex

[2019-10-15 08:54] cescoffier opened #4562 "SwaggerUI not displaying new resources"
**Describe the bug**

* Create a project and run it in dev mode
* Check the swagger ui (http://localhost:8080/swagger-ui/#/default)
* Add a new resource with at least one endpoint
* Refresh the swagger-ui page
* The new endpoint is not displayed

Even new methods added to existing resources are not displayed.

[2019-10-15 09:01] ia3andy commented on #4539
I agree with @FroMage, I think having those info in the pom or equivalent is the simplest for the developer since it already contains some of the extension info. Like you would do with npm or some other similar project, the project configuration file contains those info.

I am against having many different possibilities to configure it (in the pom or in the properties), it makes things more confus

[2019-10-15 09:02] FroMage commented on #4539
As for who uses those files:

- `quarkus-config-roots.list` is used by `ExtensionAnnotationProcessor.java` to produce it, and `ExtensionLoader.java` to load it when loading the extension at build time. Also by `RunnerJarPhase` to ignore the file when building a jar.
- `quarkus-extension.properties` is ignored by `DevMojo` and `RunnerJarPhase`. It's written by our maven extension plugin and used by

[2019-10-15 09:04] andreabreu-me commented on #2811
Sorry for asking, but is there some workaround for this until this is fixed?

[2019-10-15 09:08] lburgazzoli opened #4564 "Vert.x routes are paused when RESTEasy is in the classpath"
**Describe the bug**
After switching to quarkus 0.24.0 in camel-quarkus, the platform http component is unable to handle request because the vert.x route is paused when resteasy is added to the classpath.

A workaround is top resume routes, like we do here:
https://github.com/lburgazzoli/apache-camel-quarkus/blob/quarkus-0.24.0/extensions/platform-http/runtime/src/main/java/org/apache/camel/quarku

[2019-10-15 09:08] lburgazzoli commented on #4564
//cc: @stuartwdouglas

[2019-10-15 09:08] FroMage commented on #4539
Now, what do they contain?

- `quarkus-config-roots.list` contains the list of config roots, but it could be inferred by:
- `quarkus-javadoc.properties` which contains the list of config javadoc in the form `configroot.property=doc` so we can infer the list of config roots from this file
- `quarkus-extension.properties` contains a pointer from the extension runtime jar to its deployment counterpar

[2019-10-15 09:10] geoand commented on #2811
Not yet unfortunately.
There where some Java compiler related changes that went into dev mode recently which might make tackling this a lot easier if someone wants to give it a shot.

[2019-10-15 09:11] dufoli commented on #3343
@gsmet @geoand why not reuse Datasource attribute of agroal instead of new attribute connection to name the connection ?

[2019-10-15 09:11] FroMage commented on #4539
Now, does it matter that different parts of the build generate different descriptors? Not sure. But they do get mostly generated at different build phases (APT, extension maven plugin) and would be impossible to generate at the same time, so it's justified to have them in separate files when producing them.

Now, if we absolutely must consolidate them, we could consolidate them in the (generated)

[2019-10-15 09:14] geoand commented on #3343
@dufoli I haven't really been involved in the data source stuff so I don't have an opinion I'm afraid.

[2019-10-15 09:14] maxandersen commented on #4539
@i3andy I must be missing something here - why are everyone happy to force users to use pom.xml to write this kind of info ? Sure it's convenient that you can but require it I don't grok it. Shouldn't we have application.properties specified in pom.xml too ? I'm missing something in this reasoning :)

[2019-10-15 09:17] aloubyansky commented on #4539
Both of those do use the bootstrap maven resolver though.

[2019-10-15 09:17] aloubyansky commented on #4539
https://github.com/quarkusio/quarkus/issues/4539#issuecomment-541585513

[2019-10-15 09:20] FroMage commented on #4539
Sorry, I meant "this file is explicitely skipped by DevMojo and RunnerJarPhase", but as you say, lost of stuff depends on the boostrap maven resolver.

[2019-10-15 09:22] FroMage commented on #4539
Because we only need two user inputs for that file: labels and guide. All the rest comes from other places. The GAV, the name, description are already present in `pom.xml`.

`application.properties` on the other hand is a (sometimes) run-time thing that can be tweaked to change runtime behaviour.

[2019-10-15 09:23] maxandersen commented on #4539
Thanks for the details @fromage.

I'm also fine with separate files if it makes sense and due to the different phases in play at both build and runtimes it probably.makes sense.

Reason why I care about their number and formats is that it's the way I learn how things work. I get annoyed by complex build systems and often to remove any misunderstanding I go look at the generated result to grok how

[2019-10-15 09:24] Sanne commented on #4345
well that's better than nothing but it's not ideal. If someone had a large anough application to cross the threshold with legit URLs you'd occasionally see performance go up/down.  And in case of non-legit URLs it's again exposing you to DDOs by both adding load on the dumb cache and by slowing down the system by wiping legit cache users - compounding the load which is not good when under attack.

[2019-10-15 09:29] FroMage commented on #4539
My problem ATM is that I have a set of config root class names and need to find which extensions they belong to, and what those extension names are. Not sure how to solve that, frankly.

But yeah, if we do aggregate all the current info into one file, then I should be able to get that.

[2019-10-15 09:35] maxandersen commented on #4539
You don't have these classes package/loader roots ? Should make it possible to locate manifest from there, right ?

[2019-10-15 09:38] FroMage commented on #4539
Well, it depends what phase I look this info up. For config we have two phases:

- during APT, once per extension, but that's during compilation and it may be in runtime or deployment, so the other descriptor may not be there, probably the wrong phase then
- during the documentation module building, but it currently doesn't depend on any extension, so I'd have to add a dependency to the extensions

[2019-10-15 09:41] asoldano commented on #4345
Sure, it would be a compromise.

Well, if you're willing to go this way, that's ok with me.
How about you propose a PR for this integration and then we decide whether it makes sense to have a generic enough cache interface for resteasy to be used in multiple points?

[2019-10-15 09:46] FroMage commented on #3297
I just merged #4457 on master, can you try it out?

[2019-10-15 09:49] gsmet commented on #4539
I don't have a strong opinion about the format but there's one thing we
need to support: the ability to define lists - we will need it for the
categories as an extension can be attached to several categories.

On Tue, Oct 15, 2019 at 11:38 AM Stéphane Épardaud <notifications@github.com>
wrote:

[2019-10-15 09:50] gastaldi commented on #3174
@geoand no, I'll have a look at that open PR

Me neither, I'll have a look at that open PR and see what is missing

[2019-10-15 09:51] geoand commented on #3174
Cool, thanks

[2019-10-15 10:01] emmanuelbernard commented on #4539
Note that you will need more properties down the line :
- display-in-list
- category
- label
- quality status (beta)
- list-of-guides
- pointer-to-smoke-test (at some point)

Etc

All that can be in a Pom and gradle if it can fit naturally. We would still
need a generated version because no way we read a gradle file to find what
we are looking for.

On Tue 15 Oct 2019 at 11:23, Stéphane Épardaud <

[2019-10-15 10:32] jamesnetherton opened #4565 "BuildStep utilizing InterceptorBindingRegistrarBuildItem results in IllegalArgumentException"
**Describe the bug**

I followed the example from the CDI guide for implementing [additional interceptor bindings](https://quarkus.io/guides/cdi-reference#additional-interceptor-bindings). It fails with:

[code]

Presumably `InterceptorBindingRegistrarBuildItem` should be declared as `final` like the other `BuildItem` implementations?

**Expected behavior**

`InterceptorBindingRegistrarBuildItem`

[2019-10-15 10:49] paulrobinson opened #4566 "Platform & Tools MVP"
@maxandersen this needs cleanup moving back to the backlog

- [ ] Document quarkus-extension.properties #4361
- [x] Generation of extension.json should allow for overrides #4320
- [ ] Document what it takes to be added to the platform #4319
- [x] curate extensions in core #4316
- [x] create tooling SPI to allow platform separation #4315
- [x] Define and create platform bound extensions.json #4313

[2019-10-15 10:55] gsmet commented on #4565
Right, thanks for the report, I created a PR for that but we will also need to add a test.

We should release 0.25.0 tomorrow so your issue should be fixed shortly.

[2019-10-15 11:18] gwenneg opened #4568 "CORSConfig is not representable as YAML"
As seen during #4525 development, `CORSConfig` cannot be represented as YAML because we'd need the `quarkus.http.cors` key to be both the key of a key/value pair and the key of a dictionary, which is not possible.

A properties-based CORS filter configuration currently looks like this:
[code]

We only need to change the `quarkus.http.cors=true` property to `quarkus.http.cors.enabled=true` to make

[2019-10-15 11:28] gwenneg commented on #3904
@angelozerr There's an opened discsussion in #4525 about the integration SmallRye Config into the YAML configuration extension. The extension availibility might be delayed depending on the conclusion of this discussion.

[2019-10-15 11:29] gsmet commented on #4568
As discussed on Zulip, +1 for this.

[2019-10-15 11:36] #4538 closed

[2019-10-15 11:40] gsmet commented on #4311
I got no feedback from the Gradle Portal team. Sanne said that we would need the plugin to be in its very own repo so we apparently would need to move the plugin out of the tree to its own repo. I'm unassigning myself from this as I don't really see how I can help for now.

[2019-10-15 11:41] gsmet commented on #3174
@gastaldi any chance you could have a look at some point? Not sure if you will have the cycles?

[2019-10-15 12:10] angelozerr commented on #3904
Thank's again @gwenneg for ping me. We will see with @fbricon when and how we could support yaml config file.

[2019-10-15 12:34] ivangfr opened #4571 "Environment Variables not replaced in application.properties when running as Docker container"
**Describe the bug**
In my application.properties, I have the following property
[code]

When I run the application in development mode `./mvnw compile quarkus:dev
` the url to local kafka cluster is written correctly, i.e, `localhost:9092`

Then, I build the Docker image
[code]

Finally, when I run the container
[code]

I get the following in the logs
[code]

**Expected behavior**
The correct url

[2019-10-15 12:46] enbohm opened #4572 "Sporadic 503 responses from Quarkus MP application"
**Describe the bug**
After upgrading from 0.22.0 to 0.23.x and/or 0.24.0 we see some http response "503 Service unavailable" when calling any of our Quarkus endpoints. Even /openapi and /health endpoint seem to fail from time to time. After a few retries it works again. This seem to happen only after the application has been idle for a some time (> 5 min or so) but a very sporadic behavior. For in

[2019-10-15 12:50] Sanne commented on #4343
@galderz sorry I take that back, best if I do it as 1)the ORM app is complex to setup 2)I'm heavily refactoring some related code, we'd step on each others toes.,.

thanks though!

[2019-10-15 12:51] gsmet commented on #4572
@stuartwdouglas this looks like an important regression. Not sure how we will figure out when it comes from though...

@enbohm do you have a proxy in front of your Quarkus app? Or is it Quarkus itself serving the 503?

[2019-10-15 12:54] enbohm commented on #4572
@gsmet I have a proxy in front (Envoy 1.9.0) which reports the 503. I can't see anything in any logs from Quarkus app.

[2019-10-15 12:56] loicmathieu commented on #4375
@geoand as in the heath check in extension implementation, the SPI will not depends on metrics, but as the extension (jaeger for example) will provides metrics, it must have an optional dependency to the metrics extensions.

For ex:
- quarkus-jaeger-deployement => dependency to quarkus-metrics-spi
- quarkus-jaeger-runtime => optional dependency to quarkus-metrics (the runtime module)

So if someon

[2019-10-15 13:03] ia3andy commented on #4539
We also need some kind of manual ordering of the output extension list. I have no idea on how to make that nicely 😅

[2019-10-15 13:05] filippobuletto opened #4573 "Wrong behavior in Using JWT RBAC guide"
Following the [Using JWT RBAC guide](https://quarkus.io/guides/jwt-guide) section "finally-secured-access-to-securedroles-allowed" the expected curl result is `hello + jdoe@quarkus.io, isSecure: false, authScheme: MP-JWT, hasJWT: true` but the outcome differs.

Also this warning is reported: `WARN: Unrecognized configuration key "quarkus.smallrye-jwt.auth-mechanism" provided`

**Expected behavior*

[2019-10-15 13:11] gsmet commented on #4573
@sberyozkin could you have a look at that one?

[2019-10-15 13:12] ia3andy commented on #4539
I need to check if it is possible to use Markdown in the pom.xml description. I find that the current description we have on most of the extension are not clear enough. This is why I would like the description to really give the user information about what he can expect from the extension and maybe a few hints/examples on how to use it.

What I have in mind is:
1. abstract is visible in Code Quark

[2019-10-15 13:15] geoand commented on #4375
OK yeah, I see what you are saying. For that use case it makes sense!
However not all cases need a dependency on the runtime artifact.
In any case, thanks for writing it down.

[2019-10-15 13:24] cescoffier commented on #4572
@enbohm did you try with the `quarkus-undertow` dependency?

[2019-10-15 13:35] dmlloyd opened #4574 "Better static init/runtime alignment in JVM mode"
**Description**
Right now our static init tasks run as one blob before our run time init tasks run.  This is due to a generalized alignment between native image mode and JVM mode.

This is non-optimal however.  Among the negative side effects of this behavior are:

* Logging and any other conceptually runtime-configured, monitoring/observability-oriented services are initialized relatively late in

[2019-10-15 13:38] gastaldi commented on #3174
@gsmet sure, I'll have a look now.

[2019-10-15 13:40] vietj commented on #4572
@enbohm it is not clear whether the proxy replies 503 and cannot connect or that's Quarkus that returns 503, can you elaborate ?

[2019-10-15 13:43] maxandersen commented on #4539
@ia3andy If you are looking for markdown to put on a page about the extension then i suggest to take a page from visual code extension playbook. They look up the readme.md from specified github location. Then you can go crazy all you want.

I wouldn’t put such things in this metadata file.

[2019-10-15 13:44] stuartwdouglas commented on #4572
My guess would be that connections are timing out, and then the proxy is using dead connections. It looks like the default Netty timeout is 30s (as far as I can tell by reading the code).

[2019-10-15 13:46] maxandersen commented on #4539
@ia3andy by manual ordering what do you mean ? If you mean what kind of order the extension list in the platform is sorted thenthat Is something to handle when generating the platform. Not affecting the core manifests imo.

[2019-10-15 13:46] ia3andy commented on #4539
@maxandersen yeah that makes total sense, so maybe we need to add the github location of the extension?

[2019-10-15 13:47] maxandersen commented on #4539
@gsmet define lists as in something more advanced than a comma separated list of ids/labels ?

[2019-10-15 13:59] #4523 closed

[2019-10-15 14:05] gsmet commented on #4574
So I might have missed some discussions while travelling but I'm not convinced this is such a good idea.

We would have the JVM bootstrap significantly different from the native one and I wonder how much fun it will be to track the potential bugs generated by this different sequencement.

[2019-10-15 14:12] #4565 closed

[2019-10-15 14:13] mkouba opened #4576 "Create a test for InterceptorBindingRegistrarBuildItem"
See https://github.com/quarkusio/quarkus/pull/4567.

[2019-10-15 14:30] vietj commented on #4572
@stuartwdouglas Vert.x HTTP server will not configure idle timeout by default unless it is configured in `HttpServerOptions` with `idleTimeOut`, what are you referring to ?

[2019-10-15 14:33] stuartwdouglas commented on #4572
Actually I mis-read the code

[2019-10-15 14:50] enbohm commented on #4572
@cescoffier No, but will try it out and see the result, will get back within shortly

@gsmet here are the dependencies I use:

quarkus-resteasy-jsonb
quarkus-arc
quarkus-smallrye-health
quarkus-smallrye-openapi
quarkus-smallrye-metrics
quarkus-smallrye-opentracing
quarkus-smallrye-fault-tolerance
quarkus-hibernate-orm
quarkus-jdbc-mariadb

[2019-10-15 14:53] vietj commented on #4572
@enbohm can you also try investigate what is going on between the proxy and the server (i.e using TCP dump or wireshark) ?

[2019-10-15 14:56] enbohm commented on #4572
@vietj Currently, we can see that the requests going through our envoy proxy reports 503 from time to time when calling Quarkus 0.24.0 application. We have quite a few other services (Helidon, node.js, python) running behind the Envoy proxy working just fine. When downgrading to Quarkus 0.22.0 everything works fine. We also have a Swagger UI which direct tries to access the openapi-endpoint which

[2019-10-15 14:56] yrodiere commented on #4477
As discussed, there's not much we can do. Closing.

[2019-10-15 14:56] #4477 closed

[2019-10-15 14:58] gsmet commented on #4377
@rafaelkloss any progress on the reproducer? We really need it to be able to fix that one. And it really looks like a nasty bug so the sooner the better!

Thanks!

[2019-10-15 15:00] gsmet commented on #4377
BTW, the issue Sanne was talking about is this one: https://hibernate.atlassian.net/browse/HHH-13653 . It has been fixed in the current master of Hibernate ORM but we do not know if it's the same bug or not.

[2019-10-15 15:03] gsmet commented on #4477
Thanks for digging into this!

[2019-10-15 15:09] dmlloyd commented on #4574
The only differences would be based on undefined behavior.  We already have many such differences: for example, JVM mode already lazily initializes classes whereas native image eagerly does so; many implementations of things differ between JVM and native image.  In addition we have many existing cases where ordering is indeterminate, and probably innumerable other potential cases where behavior is

[2019-10-15 15:09] gsmet commented on #2815
@waldimiro I don't think we will be able to make progress on this this way.

Could you create a simple reproducer so that we can clearly see what's going wrong. It shouldn't be too hard and it would help us a lot.

Thanks.

[2019-10-15 15:31] emmanuelbernard commented on #4539
Hum read me are really working ?
Does it find older versions by tags? People need to be disciplined and on
GitHub.

Also I tend to put how to build things in readme so that’s another
discipline to have.

On Tue 15 Oct 2019 at 15:44, Max Rydahl Andersen <notifications@github.com>
wrote:

[2019-10-15 15:44] gsmet commented on #3592
So this one should be fixed now, hopefully.

I'm closing it, please reopen if 0.25.0 is (again) not fixing your issue.

Thanks everyone.

[2019-10-15 15:44] #3592 closed

[2019-10-15 15:47] geoand commented on #4345
Well for the time being I think we'll be fine with keeping the caching in Quarkus like https://github.com/quarkusio/quarkus/pull/4563 suggests

[2019-10-15 15:54] Sanne commented on #4345
Agreed. But let's not forget to implement the proper solution later, could
you track it as a subsequent improvement issue?

On Tue, 15 Oct 2019, 16:47 Georgios Andrianakis, <notifications@github.com>
wrote:

[2019-10-15 16:00] geoand commented on #4345
@Sanne Definitely! If #4563 gets in I'll open a new issue to track improvements

[2019-10-15 16:04] FroMage commented on #3803
Code at #4584

[2019-10-15 16:05] jaikiran commented on #4372
@rashmi-ibm, thank you for the details. Just to understand this fully - you have a docker container and the container's OS is PowerPC64LE and you build Quarkus within that container and this test keeps failing there consistently with latest upstream master? That does look like a genuine issue then.
It would be good if you can create a new issue and explain the details in that so that we can try an

[2019-10-15 16:11] #4243 closed

[2019-10-15 16:20] machi1990 commented on #4568
@gwenneg Hi, is this issue only for the CORSConfig? or for all config items inheriting parent's name with
[code]
?

[2019-10-15 16:25] gsmet commented on #4568
I think the issue is related to having something like:
quarkus.extension.foo = ...
quarkus.extension.foo.bar = ...

On Tue, Oct 15, 2019 at 6:20 PM Manyanda Chitimbo <notifications@github.com>
wrote:

[2019-10-15 16:28] aloubyansky commented on #3803
It means they were missing from the `extensions.json` which was manually maintained. What I did was simply split it into pieces and put those pieces into the corresponding extensions. We need cover the missing ones of course.

[2019-10-15 16:48] chaminnk opened #4586 "Typo in Elytron Security Properties config guide"
Property name `quarkus.security.users.file.plain-test` is used instead of `quarkus.security.users.file.plain-text` in the `example application.properties file section for property files realm` provided in the guide. Please correct it. I think this property deserves to be in the configuration properties table as well. Adding a 'Testing the Application' section will also be great(like the 'Testing t

[2019-10-15 17:05] neomatrix369 commented on #4228
`--static` has limited functionality atm, see [PR for docs on Graal repo](https://github.com/oracle/graal/pull/1602)

[2019-10-15 17:15] misl opened #4587 "Reactive messaging fails when using PublisherBuilder or ProcessorBuilder"
When switching from Quarkus 0.23.2 to 0.24.0 my application resulted in the following error:

[code]
While looking around with the debugger I noticed `ProcessorMediator.processMethodReturningAPublisherBuilderOfPayloadsAndConsumingPayloads()` is being called. This message tried to invoke the handler with just the payload instead of the surrounding `Message` object. The reason for this `Production.S

[2019-10-15 17:26] #4586 closed

[2019-10-15 17:46] misl commented on #4587
Fixed this locally and indeed I get the expected behavior now.

[2019-10-15 17:50] gsmet commented on #4587
@misl looks like you're ready to prepare a PR (and add a test!) :).

[2019-10-15 18:01] vietj commented on #4572
@enbohm it is not clear wether using quarkus-undertow is different from the default vertx based solution. Can you clarify ?

[2019-10-15 18:06] gwenneg commented on #4568
Yes, that's a good point @machi1990.

I was planning on checking all classes config while fixing `CORSConfig` :)

[2019-10-15 18:12] stuartwdouglas commented on #4572
So Undertow used to time out the connections, so I guess one of the changes here is that this no longer happens.

[2019-10-15 18:12] enbohm commented on #4572
@vietj I added the ```quarkus-undertow``` as a dependency, nothing else. According to https://quarkus.io/blog/quarkus-0-24.0-released/
_"If Undertow is present, RESTEasy will detect this and will fall back to running as a Servlet."_

but that made no difference what so ever - still a random 503 after a while. Should I have made any other configuration changes or removed any other dependency such q

[2019-10-15 18:16] stuartwdouglas commented on #4572
No, it won't make any difference here, I was referring to Undertow as it was configured before the change to vert.x.

[2019-10-15 18:31] machi1990 commented on #4568
Great, thanks @gwenneg

We have the test-extension with possible configuration values - https://github.com/quarkusio/quarkus/tree/master/core/test-extension/runtime/src/main/java/io/quarkus/extest/runtime/config with a rather large test suites here - https://github.com/quarkusio/quarkus/tree/master/core/test-extension/deployment/src/test/java/io/quarkus/extest

not sure if we must have the same co

[2019-10-15 19:34] gwenneg commented on #4543
From what I can see in [JdbcRecorder](https://github.com/quarkusio/quarkus/blob/master/extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/JdbcRecorder.java#L38-L39), `roles` is never used in the extension code, so its value doesn't really matter.

The link between the datasource and the query is done by `quarkus.security.jdbc.principal-query.roles.datasource=pe

[2019-10-15 19:35] DonSimo opened #4591 "quarkus - scheduled job"
Hello @emmanuelbernard, as discussed at RedHat forum

can quarkus helps to run a scheduled job using spring framework faster ?

[2019-10-15 20:40] geoand commented on #4587
Exactly what @gsmet said 😁

[2019-10-15 21:43] maxandersen commented on #3136
reopening as by accident issues were enabled on platform - no need to spread that thin across.

here is comment from @ppalaga on latest progress with title "Run third party integration tests ":

@aloubyansky agreed to try this proposal. cc @maxandersen

Third party side:

* The third party projects are required to deploy standard test-jars for their integration tests to a public Maven repo, e.g. C

[2019-10-15 22:06] pedroigor commented on #4495
@stuartwdouglas @sberyozkin In order to plug the policy enforcer, I'm exposing a custom `HttpAuthorizer` so that I can perform the necessary steps and integration to enforce access using Keycloak Authorization Services. The custom implementation is marked as `AlternativePriority`.

That would mean replace the default authorizer, which I think is fine. Any thoughts?

[2019-10-15 22:14] maxandersen commented on #4318
@quarkusio/quarkus-platform  for info PR builds are enabled now for quarkus-platform repo at https://dev.azure.com/quarkus-ci/quarkus/_build/latest?definitionId=12

[2019-10-15 22:18] pedroigor commented on #4495
I'm also not sure whether or not we should rewrite the implementation we have in Keycloak in order to better fit the reactive model in Quarkus. One of the things being that we use Apache HttpClient and would be nice if we could use vertx client instead.

However, it is quite a lot of work (I tried to start something) and error-prone. In addition to having two distinct codebases for the same purpos

[2019-10-15 22:45] n1hility commented on #4334
@michalszynkiewicz does this look still on track for completion in the next week or so?

[2019-10-15 22:47] n1hility commented on #4349
https://github.com/quarkusio/quarkus/pull/4555

[2019-10-15 23:03] n1hility commented on #4367
I talked to @patriot1burke and this won't make 1.0

[2019-10-16 01:16] chaminnk commented on #4586
Thank you :)

[2019-10-16 01:53] gastaldi commented on #4311
I'll reassign the issue to myself and look into that. Is it OK if I create a separate repository in the quarkusio org and move the Gradle plugin sources there?

@Sanne forgive me if I am mistaken, but I may have heard you mentioned that you had permission to push the plugin to the portal? Everytime I do that by following the steps in the Gradle Portal I also, like @gsmet, get an authorization erro

[2019-10-16 03:49] rashmi-ibm commented on #4372
sure :) I would raise a new issue for the error I am facing with the latest upstream.
@jaikiran Thanks a lot for your prompt response on my queries

[2019-10-16 04:42] enbohm commented on #4572
@stuartwdouglas thx for clarifying. Are there any configuration changes I can try out such as changing timeouts in vert.x, evection time of stale connections, thread pool size, etc. that could be one step forward to understand what is going on?

[2019-10-16 05:10] rashmi-ibm opened #4597 "RestClientTestCase fails with latest code of master branch"
**Describe the bug**
Error:
Caused by: java.util.NoSuchElementException: Property test.url not found
at io.smallrye.config.SmallRyeConfig.propertyNotFound(SmallRyeConfig.java:221)
at io.smallrye.config.SmallRyeConfig.getValue(SmallRyeConfig.java:112)
at io.quarkus.runtime.configuration.ConfigExpander.accept(ConfigExpander.java:55)
at io.quarkus.runtime.configuration.ConfigExpander.accept(ConfigExp

[2019-10-16 05:11] rashmi-ibm commented on #4372
Issue raised :: https://github.com/quarkusio/quarkus/issues/4597
You can close this ticket.

[2019-10-16 05:37] #4562 closed

[2019-10-16 05:44] jaikiran commented on #4532
Documentation has now been updated https://github.com/quarkusio/quarkus/pull/4596. I think we can close this one now.

[2019-10-16 06:15] #4532 closed

[2019-10-16 06:15] gsmet commented on #4532
Thanks everyone!

[2019-10-16 06:42] michalszynkiewicz commented on #4334
@n1hility I hope to have it done next week.
Last week I paused working on it to prepare for the talks I gave this week but now I'm back on it.

[2019-10-16 06:48] geoand commented on #4334
@michalszynkiewicz If you would like a hand with anything, let me know. I was looking into the security stuff to get a deep understanding of how things work so I can definitely help out if needed.

[2019-10-16 07:09] aloubyansky commented on #4311
@gastaldi fyi, i have platform/tools related changes to the gradle plugin dependencies.

[2019-10-16 07:40] FroMage commented on #4367
What's the reason, then?

Note that I recently discovered that the test that my PR made fail sometimes, was in fact already failing on master sometimes, and so it wasn't my doing. Which means that my PR might be working and could perhaps be used.

[2019-10-16 08:01] Sanne commented on #4311
@gastaldi no I don't think I have permissions to deploy *this* plugin. I have a working account, which I use regularly to publish _other_ plugins. So I can share my experience but I doubt I would have more luck with this plugin as the authorization is specific to each plugin, and needs to be granted first.

[2019-10-16 08:25] ia3andy opened #4601 "Adding extension using gradle plugin erase gradle config files content"
**Describe the bug**
When adding an extension using gradle plugin:
[code]

It erases gradle config files content:
- build.gradle
- gradle.properties
- settings.gradle

**Expected behavior**
It should update the files with the new extension but not erase it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a gradle project
2. Add an extension using `./gradlew addExtension --extensions="

[2019-10-16 08:54] vietj commented on #4572
it would be good to understand what is going on without the proxy in front

[2019-10-16 08:56] michalszynkiewicz commented on #4334
@geoand at this point the biggest help would be to review the code

[2019-10-16 08:57] FroMage commented on #3803
OK lemme add them, then

[2019-10-16 08:59] geoand commented on #4334
@michalszynkiewicz Will do! Once I figure some gradle issues I'll take a look :)

[2019-10-16 09:32] sberyozkin opened #4602 "Document the use of addAllCharsets for Tika extension"
**Description**
As noticed by Guillaume @gsmet, one of the native Tika tests reports an unsupported charset exception

**Implementation ideas**

`TikaProcessor` has to produce `NativeEnableAllCharsetsBuildItem`, possibly optionally

[2019-10-16 10:30] waggy55 opened #4604 "DeploymentException not thrown when using @ConfigProperties"
`@ConfigProperties` does not behave the same as `@ConfigProperty`

When using `@ConfigProperty` to inject configuration, if the property is missing, a DeploymentException is thrown at start-up.

For example, adding the following to a Controller:
[code]
and the following to application.properties (notice additional r on node) :
[code]
results in an exception at start-up:
[code]

However, when using

[2019-10-16 10:35] dreab8 commented on #4377
Hi @rafaelkloss,
I have created a branch https://github.com/dreab8/qurkus-merge-detached/tree/issue-4377 on my repo with a test `ManyToOneTest#testRequestHasAnAssociatedClient()` trying to reproduce the issue you described but without any success, can you please tell me if I missed anything?

Thanks

[2019-10-16 10:44] Manu206 commented on #3598
Hmm I just tested it again with 0.25.0 and for me the cors headers are not showing op on the response headers :( Could somebody verify that?

[2019-10-16 10:50] gsmet commented on #3598
@Manu206 and you use the new `quarkus.http.cors` prefix?

[2019-10-16 10:54] Manu206 commented on #3598
This is my config:

[code]

[2019-10-16 10:54] devauxbr commented on #3316
That's awesome! :tada: Thanks ! :pray:

[2019-10-16 10:55] Ladicek commented on #3598
One thing I'd like to highlight: if the request doesn't have the `Origin` header, the response won't have CORS headers either.

This is perfectly fine IMHO. (What's worse is that this doesn't necessarily play well with caching proxy servers. My understanding is that we should at least always include `Vary: Origin` if CORS is enabled.)

[2019-10-16 11:20] misl commented on #4587
PR should be easy, except for the test :-(

I think the current tests are very limited. This makes me wonder what the test coverage is. Is there any test coverage information available?

[2019-10-16 11:22] enbohm commented on #4572
@vietj yes will try without the proxy in front and see the outcome. Still weird that the proxy (Envoy) should fail here since all other services we have, node.js, Helidon and Python work 100% and the Quarkus 0.22.0 works like a charm but of course that could be the case.

I also add the tracing error (from Jeager UI) not very informative but one can at least see the response size and status code.

[2019-10-16 11:24] geoand commented on #4587
The library itself has plenty of tests. The Quarkus integrations has fewer but that's the point, to improve that :)

[2019-10-16 11:29] enbohm commented on #4572
I also noticed that a new version of Quarkus is out (0.25.0) - I will try that one as well and see if the error occurs.

[2019-10-16 11:51] sberyozkin commented on #4544
Hi @kelvinbt just a quick question, is it only with the reactive routes that you see this issue ? Or with some 'plain' JAX-RS endpoint as well ? (I'll confirm anyway, but if you've already tried, let me know please)

[2019-10-16 11:57] isikemre commented on #1888
Is there any updates/news for this issue?

[2019-10-16 12:03] enbohm commented on #4572
Unfortunately, same behavior in Quarkus 0.25.0 - 503 occurred after a few minutes

[2019-10-16 12:04] jaikiran opened #4606 "Investigate possibility to use a lazy threadpool for Quartz backed scheduler"
A recently merged PR https://github.com/quarkusio/quarkus/pull/4554 adds code which doesn't start the `Scheduler` if there's no `@Scheduled` annotations detected. A side-effect of this is that the `Schduler` if injected and used programmatically to start timers, will no longer function.

The reason why the `start()` of the scheduler has been skipped, when no `@Scheduled` is present is to prevent Q

[2019-10-16 12:45] stephenc commented on #4134
Ok I got a bit further. I can reproduce this error with maven tooling or with our custom dockerfile that runs native-image directly.

The issue goes away if I disable `https` protocol. (I'm using Quarkus 0.24.0)

The strange thing is the same dockerfile works just fine on a different project of essentially the same code... this is leading me to suspect some dependency being pulled in might be the

[2019-10-16 12:46] galderz commented on #4343
Ok, keep me posted if you need a hand :)

[2019-10-16 12:58] rafaelkloss commented on #4377
Hi guys, sorry for delay, i'm out of office until tomorrow. I'll try to
reproduce this asap.

Em qua, 16 de out de 2019 às 07:35, Andrea Boriero <notifications@github.com>
escreveu:

--

{ name     : "Rafael Kloss",

  location : "Curitiba, PR",

  iata     : "CWB",

  twitter  : ["@rafa_kloss <https://twitter.com/rafa_kloss>"}

[2019-10-16 13:38] gastaldi opened #4608 "Generate a README.md with instructions on how to build the project in CreateProject"
**Description**
It would be nice if the `CreateProject` class created a README.md inside the project with instructions on how to build the project and a quick description of what was generated.

**Implementation ideas**
Probably define a README.md that will be used as default and allow to override that during the project creation

[2019-10-16 13:44] stuartwdouglas commented on #4544
This can be solved with the new HTTP permission layer on 0.25:

[code]

[2019-10-16 13:51] jordanglassman commented on #4088
@gastaldi problem seems to be confined to maven!

Confirmed that I can reproduce when running *from maven only*:

[code]
[code]

[2019-10-16 13:54] paulrobinson opened #4610 "Create RSS test bed"
- [x] Lab automation scripts for quarkus-quickstart building against master
- [x] Create PerfRepo metrics, tags and test defintions
- [x] Create Jenkins pipeline, scheduled to run daily
- [x] Configure regression alerts
- [x] Configure lab smtp mail service
- [x] Validate alerting

[2019-10-16 13:56] paulrobinson commented on #4610
@johnaohara Are there any outstanding issues, for the RSS testbed work, that need fixing for 1.0.0?

If not, you can mark this Epic as done :-)

Otherwise, can you list the issues in the Epic description, using the check-list markup? See here for an example Epic: #4566

[2019-10-16 13:57] paulrobinson opened #4611 "Pass critical MicroProfile TCK tests"
- [x] [AirlinesAppTest](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-openapi/pom.xml#L38) from #4519
- [x] Metrics TCK (#4518) waiting on a config update
- [x] Metrics TCK excluded tests (#5014)
- [x] Context Propagation TCK (#4517). Currently waiting on solution to #3878
- [x] [ArrayConverterTest.*](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-config/tc

[2019-10-16 14:07] FroMage commented on #3803
I noticed we're documenting lists of values the same as their values, so `string` for a `List<String>`, which is confusing because it's really a comma-separated list.

I've changed it to `(string)*` but not sure if that's much clearer, WDYT?

I can document required keys, but how? I can add `(required)` next to their key, but, not sure.

[2019-10-16 14:09] dmlloyd commented on #3803
How about `List of String`?  Syntactically this can be generalized to any generic or collection type.

[2019-10-16 14:26] tcampili opened #4613 "Route conflict if Swagger and OpenAPI have a common path prefix"
After upgrading quarkus version to 0.24.0 (even 0.25.0) swagger-ui interface is not displayed.
Swagger file is downloaded instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Pick a working swagger-ui configuration with quarkus version 0.23.2
2. Upgrade quarkus to version 0.24.0 or 0.25.0
3. Access page http://localhost:8080/swagger-ui/
4. Swagger file is downloaded instead of showing sw

[2019-10-16 14:28] paulrobinson commented on #4366
@stuartwdouglas is this still an accurate list of what's needed for this Epic for 1.0.0?

[2019-10-16 14:31] stuartwdouglas commented on #4369
yes, although exactly what is required for OIDC is still up in the air. I don't think all the OIDC enhancements will make it for 1.0

[2019-10-16 14:33] stuartwdouglas commented on #4366
It is now, the 2nd vert.x instance will likely be deferred.

[2019-10-16 14:36] paulrobinson commented on #4366
BTW, the GitHub automation doesn't like the use of a 'dot' at the start of the list. It seems to fail to find the done issues. I've not had chance to figure out why. I made a change to #4369 (hope you don't mind) to validate this theory.

[2019-10-16 14:36] gsmet commented on #4613
From what I can see, you don't have the issue if you define `quarkus.smallrye-openapi.path` to `foo`. So I would bet that `/swagger` somehow catches everything starting with `/swagger`, `/swagger-ui` included.

[2019-10-16 14:38] FroMage commented on #3803
For now I've put "REQUIRED" in the "default" column. Not sure this is the best way to visualise it, but it's better than nothing.

[2019-10-16 14:44] FroMage commented on #3803
Interestingly, on https://quarkus.io/guides/all-config we have an empty TOC which turns into an ugly blue bar floating at the right of the input search field :(

[2019-10-16 14:48] FroMage commented on #3803
I'm not sure which layout it should use, and where I can override it.

This is the entire file:

[code]

[2019-10-16 14:52] gsmet commented on #3803
The guides.html layout is the one used by default by the guides.

If you want another one, you need to define it with the appropriate header:
---
layout: guides-configuration-reference
---

Then create a _layouts/guides-configuration-reference.html similar to
_layouts/guides.html but without the TOC.

--
Guillaume

On Wed, Oct 16, 2019 at 4:48 PM Stéphane Épardaud <notifications@github.com>
wrote:

[2019-10-16 15:42] gastaldi commented on #4311
Plugin available in https://plugins.gradle.org/plugin/io.quarkus Right now I, @gsmet and @cescoffier are the plugin owners, may add more if necessary (through the Gradle maintainers directly)

[2019-10-16 15:42] #4311 closed

[2019-10-16 15:46] aloubyansky commented on #4311
@gastaldi did you extract the gradle plugin module to its own repo?

[2019-10-16 15:47] paulrobinson opened #4616 "Tidy Extensions"
Using this document to coordinate:

https://docs.google.com/spreadsheets/d/1ngALlwB7UqTX_OxnOglo2HeFmoZkXjxJvfMwhX5LOlM/edit#gid=0

## Plan

### Now:

- [x] Review the assessment criteria (items in the top row).
- [x] Review the maintainer list.

### When the above is confirmed:
- [x] Extension maintainers fill out the questionnaire for their extensions

### In parallel to the above:
- [x] Establi

[2019-10-16 15:47] paulrobinson opened #4617 "Release Activities for 1.0.0.RC1"
In addition to making the required code changes (covered by other Epics), there are several other tasks that need to be competed for the 1.0.0 release. These are as follows:

- [x] Prepare Blog post for 1.0 @jclingan @tqvarnst @emmanuelbernard
- [x] Prepare website change for proper RSS and boot time numbers #4560 @jkbrock @johnaohara
- [x] Prepare announcement tweet @emmanuelbernard
- [x] Prepare

[2019-10-16 15:49] gsmet commented on #4311
No, it was pushed from the main repo.

If there's no strong reason to extract it, we can keep it the way it is.

[2019-10-16 15:55] aloubyansky commented on #4311
Ok, thanks!

[2019-10-16 16:12] emmanuelbernard commented on #4367
OK so after conversation with @n1hility and @FroMage we decided to give it a shot for 1.0. Stef will resuscitate his work but talk to @stuartwdouglas and @patriot1burke first to get the hang of the latest developments.

[2019-10-16 16:12] emmanuelbernard commented on #4367
We will resync in a week to know if we give that one up or pursue for 1.0

[2019-10-16 16:34] Sanne commented on #2326
@jaikiran if you'd like to clean that up, would be great! Thanks

[2019-10-16 16:43] aguibert commented on #3817
hi @gsmet, I can have a go at fixing this issue

[2019-10-16 18:29] emmanuelbernard commented on #4367
Sorry I miscalculated the time we have, so let's scrap that plan and do this after 1.0.

[2019-10-16 18:36] UnvirtualHH opened #4619 "Quarkus OIDC shouldn't fail, when Auth Server is not up"
**Describe the bug**
When I start a quarkus application with the oidc extension used, the startup will fail, when the auth server is not reachable.

**Expected behavior**
Application should start normal, maybe with a warning and an automatic retry

**Actual behavior**
Application stops with following exception:
`java.util.concurrent.CompletionException: io.netty.channel.AbstractChannel$AnnotatedCo

[2019-10-16 18:48] dodalovic commented on #4510
Bug still present in `0.25.0`

[2019-10-16 18:49] genehi opened #4621 "RuntimeException: Failed to start quarkus"
Exception in thread "main" java.lang.RuntimeException: Failed to start quarkus
        at io.quarkus.runner.ApplicationImpl1.doStart(ApplicationImpl1.zig:185)
        at io.quarkus.runtime.Application.start(Application.java:93)
        at io.quarkus.runtime.Application.run(Application.java:213)
        at io.quarkus.runner.GeneratedMain.main(GeneratedMain.zig:34)
Caused by: java.lang.IllegalAccess

[2019-10-16 19:10] rikcarve commented on #3592
Just tested 0.25.0 and the issue is still there with JDK11:
java.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/Users/rik/.m2/repository/javax/inject/javax.inject/1/javax.inject-1.jar
It is however fixed for JDK8...

[2019-10-16 19:26] genehi commented on #4621
Nevermind, I resolved that the issue is that the Converters class is not public in smallrye config 1.3.4 version, but it is correct in 1.3.9 version.  Now I just have to figure out WHY plugin bundled an older version into the boostrap lib

[2019-10-16 19:26] #4621 closed

[2019-10-16 19:55] gwenneg commented on #4543
I'm closing this and removing the `bug` label since the doc seems to be ok. Do not hesitate to reopen the issue if you think there's something wrong.

[2019-10-16 19:55] #4543 closed

[2019-10-16 20:27] dmlloyd commented on #3592
I submitted a JDK bug for the issue where it can't understand drive letters in the URI.  I don't have a bug ID yet though.

[2019-10-16 20:44] emmanuelbernard commented on #4591
Hey there.

So, it would not be "using the Spring framework" but when @DonSimo and I talked, he told me that a lot of the job execution is around start time, whether it be cron or form cold start.

So I was wondering which part of a job could be prepared at build time and whether in that case we would need the embedded extension framework so that people could embed build time operations in their a

[2019-10-16 20:52] machi1990 opened #4626 "ci failures for BearerTokenAuthorizationTest"
**Describe the bug**
CI native build for the mentioned test fails
**Expected behavior**
CI to pass

**Screenshots**
[code]

**Additional context**
the following PRs from https://github.com/quarkusio/quarkus/pull/4609 to https://github.com/quarkusio/quarkus/pull/4623 seems to have hit this failure.

[2019-10-16 21:04] gsmet commented on #3817
I think @dreab8 already has a solution for that one. @dreab8 , can you confirm?

[2019-10-16 21:38] aguibert commented on #3817
hi @emmanuelbernard, what version of Quarkus were you using in this code example? I tried to reproduce the issue using 0.25.0 and also the latest 999-SNAPSHOT (as of writing this) and was not able to reproduce the issue -- the init script always ran fine for me.

Here is the exact script I used:

### import.sql
[code]

[2019-10-16 21:49] pedroigor commented on #4495
@sberyozkin @stuartwdouglas An initial implementation is available here https://github.com/pedroigor/quarkus/tree/issue-4495.

The missing bits are:

* Read config from `aplication.properties`. I'm going to reuse the code we were using in the old keycloak extension. Do we want to also support `keycloak.json` ?
* Native (already tried to run on native but I will hold the discussion a little bit ...

[2019-10-16 22:10] viniciusfcf commented on #4619
Another error ocurres when the keycloak is up, however the REALM is incorrect. Is it a good idea open another Issue?

[code]

[2019-10-16 23:47] clochardpagan opened #4627 "Spontaneous error on accessing swagger"
**Describe the bug**
Spontaneous error on accessing swagger

**Expected behavior**
Swagger loads OK, and shows api doc

**Actual behavior**
Fails to load static parts of content. Error is strange NumberFormatException - no idea, why, how, etc.

304 | GET | localhost:8080 | /swagger-ui/
200 | GET | localhost:8080 | swagger-ui.css
500 | GET | localhost:8080 | swagger-ui-bundle.js
500 | GET | localho

[2019-10-17 02:19] jaikiran commented on #3592
@rikcarve, that's not good :( Can you please paste the stacktrace and a few more details about which Windows OS and what command you use to trigger the build?

[2019-10-17 04:11] jaikiran commented on #4627
It looks like the `if-modified-since` header being sent, in the request for the resource, isn't in expected date format. Can you enable brower's console and get the network screenshot to show what request headers are being sent when this happens?

Having said that, I think the StaticHandlerImpl in vert.x needs to be lenient in such cases and reserve the content instead of throwing an error IMO.

[2019-10-17 04:18] jaikiran commented on #4613
Unrelated to the issue at hand, I find it strange that log message's timestamp is `00:00:00,000`. I find it a bit hard to believe that the message was really logged at exactly 12 AM. It looks like this `SwaggerUiServletExtension` (which seems to be generating that log message) is a generated class. So perhaps there's something interesting going on in there in terms of logging.

[2019-10-17 05:54] jaikiran commented on #4627
FYI https://github.com/vert-x3/vertx-web/issues/1423

[2019-10-17 06:01] patoessy commented on #4311
Thanks all for this.

[2019-10-17 06:19] geoand commented on #4626
I am seeing a lot of the hit this failure.

[2019-10-17 07:39] UnvirtualHH commented on #4619
Well, at least a better error handling would be great. An info that the realm is not found would be very helpful, instead of just a "not found"

[2019-10-17 07:39] misl commented on #4587
I created the following pull request: https://github.com/quarkusio/quarkus/pull/4628

Unfortunately no additional unittest. I tried various ways of triggering the error. This indeed resulted in `NotAssignable` (leading to `STREAM_OF_PAYLOAD` instead of `STREAM_OF_MESSAGE`) but the unittests still ran successfully.

[2019-10-17 07:43] geoand commented on #4587
@misl Which unit test are you talking about?

[2019-10-17 07:47] geoand commented on #4587
Would it not be possible to add a test like the ones we have at: https://github.com/quarkusio/quarkus/tree/master/extensions/smallrye-reactive-messaging/deployment/src/test/java/io/quarkus/smallrye/reactivemessaging ?

[2019-10-17 08:17] gsmet commented on #1888
After a discussion with @mkouba , here is what we should do:
* in the processor, we would analyze the hierarchy of constrained classes and determine the methods of the subclasses that are constrained because they override a constrained method
* then we add an annotation transformer with a goal similar to `MethodValidatedAnnotationsTransformer` that add the interceptor binding annotations for the a

[2019-10-17 08:18] gsmet commented on #1888
@aguibert this one is yours if you're interested. It's a good opportunity to have a look to the Jandex and annotation transformer infrastructures.

[2019-10-17 08:23] gsmet opened #4629 "Clarify which logging APIs are supported and what do we recommend"
We have some paragraph here: https://quarkus.io/guides/logging-guide#supported-logging-apis but maybe we should push more JBoss Logging and put the paragraph at the top.

We should also be clear that some of them might need to add an adapter as a dependency.

/cc @emmanuelbernard

[2019-10-17 08:25] masini opened #4630 "Undocumented properties migration"
**Describe the bug**
Migrating to 0.25.0 I have this WARNINGS:

WARN  [io.qua.config] (main) Unrecognized configuration key "quarkus.smallrye-jwt.auth-mechanism" provided
WARN  [io.qua.config] (main) Unrecognized configuration key "quarkus.security.users.embedded.auth-mechanism" provided

but in the guides those two are documented.

**Expected behavior**
No warnings

**To Reproduce**
Configure eyl

[2019-10-17 08:28] FroMage commented on #3803
@gsmet actually if I set the layout then I can't build the docs in the quarkus repo, because the layout is missing from there;

[code]

[2019-10-17 08:33] jaikiran commented on #3592
This is the jar that's getting generated during the build in the `target` directory of your project? What is the full directory path where your project is located? Are any symlinks present in this path?

[2019-10-17 08:35] FroMage commented on #3803
Ah I can ignore it with `<skip-front-matter>true</skip-front-matter>`

[2019-10-17 08:38] rikcarve commented on #3592
c:\Users\rik\dev\github\rikcarve\quarkus>

No symlink, just the standard Users directory

[2019-10-17 09:01] lhauspie commented on #4338
Damn! I miss clicked when choosing my github account :/

[2019-10-17 09:02] stianst commented on #4495
On Wed, 16 Oct 2019, 23:49 Pedro Igor, <notifications@github.com> wrote:

added to Keycloak admin console.

[2019-10-17 09:08] loicmathieu commented on #4338
@lhauspie I you are still blocked you can open a PR and ask for help. When we have the code we will be able to help you.

[2019-10-17 09:09] FroMage opened #4632 "Dev mode compiler does not use `-parameters`"
Due to the RESTEasy version of `@*Param` which requires no value and uses the reflection parameter name, we'd ideally like the compiler to default to `-parameters` but we can't, so we tell users to set `<maven.compiler.parameters>true</...>` in their `pom.xml`.

This setting is ignored by the dev mojo. Similarly the longer configuration is also ignored:

[code]

I'd rather we just always add the `

[2019-10-17 09:19] geoand commented on #4632
@FroMage I am pretty sure it already does, see: https://github.com/quarkusio/quarkus/blob/master/core/devmode/src/main/java/io/quarkus/dev/JavaCompilationProvider.java#L31

Did you see something to make you think otherwise?

[2019-10-17 09:26] FroMage commented on #4632
Huh, well it doesn't work I just tried it and nothing could make it work except if I used `<compilerArgs><args>-parameters` which is the only setting it reads. Also this would make dev mode use parameters even if the `pom.xml` is badly configured not to, and would lead to differences between dev and jar/native.

I do see it, but in practice it doesn't work.

[2019-10-17 09:29] geoand commented on #4632
The idea is that you can change things in devmode configuration, but I expect not many people would be doing that.

I'll take a look and see if I can spot the problem in a quickstart or something.

[2019-10-17 09:31] FroMage commented on #4632
[code]

This is enough to see this in the logs:

[code]

[2019-10-17 09:32] FroMage commented on #4632
Well, if dev mode adds parameters (good) but the users's pom does not (bad) then dev mode will give the user a false sense of his application working.

[2019-10-17 09:34] gsmet commented on #4632
(bad) then dev mode will give the user a false sense of his application
working.

FWIW, I pushed something in 0.25.0 to enable `-parameters` in the Maven
templates.

So it will get much more common that people have it properly enabled.

On Thu, Oct 17, 2019 at 11:32 AM Stéphane Épardaud <notifications@github.com>
wrote:

[2019-10-17 09:35] geoand commented on #4632
Definitely yes. I am looking at the problem now.

[2019-10-17 09:35] FroMage commented on #4632
Very nice, except I have `<maven.compiler.parameters>true</maven.compiler.parameters>` and it's not being used by dev mode :(

[2019-10-17 09:39] #4602 closed

[2019-10-17 09:43] CSTDev commented on #3592
Just to make things more difficult (maybe)... I've tried both JDK11 and 12.0.1 and using 0.25.0 neither is causing this issue for me anymore. This is using the latest getting-started and making some changes, now works fine 😄  (it doesn't if I change back to 0.24.0).

Java Versions:
[code]

[2019-10-17 09:46] geoand commented on #4632
@FroMage I can't reproduce the problem... I tried generating a project with `0.25` and added

[code]

and everything worked as expected

[2019-10-17 09:49] sberyozkin commented on #4619
@viniciusfcf can you please open another issue with your stacktrace. I don't think we can figure the realm is incorrect if not found is thrown but at least we should have a more useful message logged, such as, `please make sure the 'quarkus.oidc.auth-server-url' is correct`

[2019-10-17 09:51] andersnor opened #4634 "NullPointerException when unmarshaling JSON, when quarkus-elytron-security-properties-file is used"
When adding the dependency quarkus-elytron-security-properties-file, and setting up security in application.properties, calling a REST endpoint with a JSON body fails to map JSON to a POJO

[code]

Steps to reproduce:

Clone latest rest-json

[code]
Add to POM

    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-elytron-security-properties-file</artifactId>
    </depende

[2019-10-17 09:52] geoand opened #4635 "Incorrect debugging advice in extension authors guide"
**Describe the bug**
[This](https://quarkus.io/guides/extension-authors-guide#troubleshooting-debugging-tips) of the extension author's guide mentions the use of `-Dquarkus.debug.generated-classes-dir` for `mvn install` which is incorrect.

That flag only applies to dev mode. In regular building mode the generated classes can be found in `target/wiring-classes`.

[2019-10-17 09:54] sberyozkin commented on #4619
@UnvirtualHH  For the endpoints to be protected the IDP should be up and running at the moment the endpoint is up. If we retry, then when it should be done, on the 1st  request ? But that will slow things down and we'll need to block before the server is up and running

[2019-10-17 09:56] gsmet commented on #4634
Thanks for the report. Do you have a `curl` command line (or any other command line) to reproduce the issue?

[2019-10-17 09:56] FroMage commented on #4632
This is my `pom.xml` with the issue:

[code]

[2019-10-17 09:57] FroMage commented on #4632
I run it with `mvn clean quarkus:dev`

[2019-10-17 10:05] geoand commented on #4632
@FroMage If you add

[code]

as a maven property and then also configure the plugin like so:

[code]

then everything will work as expected.

Note that this configuration is done automatically when you create a new project.

[2019-10-17 10:10] FroMage commented on #4632
WTF. It's using the 3.1 compiler!!! https://maven.apache.org/plugins-archives/maven-compiler-plugin-3.1/compile-mojo.html says it doesn't even support `-parameters` option.

How do I end up with such an ancient compiler??

[2019-10-17 10:10] gsmet commented on #4632
Ah, yes, so to be clear maven.compiler.parameters is only supported by
recent versions.

And IIRC, if you don't define the Maven Compiler Plugin version, you end up
with 3.1 instead of 3.8.1.

That's why I fixed the template and defined the version there.

On Thu, Oct 17, 2019 at 12:05 PM Georgios Andrianakis <
notifications@github.com> wrote:

[2019-10-17 10:11] geoand commented on #4632
@FroMage should we close this then?

[2019-10-17 10:12] andersnor commented on #4634
[code]

[2019-10-17 10:12] FroMage commented on #4632
Yeah, sorry about this, but thanks for figuring it out. I can't believe this. `-parameters` is Java 8, so 2014. My Maven is 3.6 from end of 2018. Why would it default to such an ancient compiler?!?!

[2019-10-17 10:17] geoand commented on #4632
That's a very good question :)

[2019-10-17 10:22] rikcarve commented on #3592
Weird, just newly cloned the latest getting-started, ran "mvn clean compile quarkus:dev" made a change to the GettingResource.java --> hot deploy failed

[2019-10-17 10:32] gsmet commented on #4632
The funny think is that Maven 3.6 called without a POM will resolve the compiler plugin to 3.8.1.

But if you have a POM (or at least a Quarkus one), you end up with 3.1 for whatever reasons. Maven plugin resolution is pretty obscure.

The nice thing is that it should be fixed for all the new projects created with 0.25.0+.

BTW, @geoand do you know if Gradle automatically enables it?

[2019-10-17 10:34] geoand commented on #4632
@gsmet It does not, but we in out gradle templates we enable it with

[code]

[2019-10-17 10:36] sberyozkin commented on #4626
Hi All, this test passes on my machine; it appears the` docker-keycloak` profile is taking awhile to complete the initialization of the KC server instance.

[2019-10-17 10:40] gsmet commented on #4632
OK cool \o/.

[2019-10-17 10:41] FroMage opened #4636 "Shorter JSON classes in guides"
Our guides, such as https://quarkus.io/guides/rest-json-guide (but all of them, really) feature JSON data classes with getters/setters which are super long and verbose, and totally not useful for the guides. Can we switch them to public fields?

Consider:

[code]

Versus:

[code]

[2019-10-17 10:41] lhauspie commented on #4338
@loicmathieu, I think you know that it's mainly a planning issue. I've to work on an other subject, my deadline is tomorrow so I will continue to work on that issue tomorrow ;)

[2019-10-17 10:42] FroMage commented on #4636
@emmanuelbernard @gsmet @cescoffier ?

[2019-10-17 10:43] gsmet commented on #4636
If it works OK, I don't really care. We need to upgrade the quickstarts too though so that everything is consistent.

[2019-10-17 10:49] sberyozkin commented on #4626
@geoand may be have some wait code in the test, ping the KC server endpoint for 30 secs or so ?

[2019-10-17 10:56] gsmet commented on #4626
AFAICS, the OIDC test is run last and it's native tests so the ones before take time.

Not entirely sure this is the problem.

[2019-10-17 11:01] geoand commented on #4626
I haven't done any testing on this so my idea above might have been totally off :P

[2019-10-17 11:02] jaikiran commented on #3592
@rikcarve, How easy or difficult will it be for you to build a custom quarkus locally and then use it to run this app against and get us some logs? I can provide you a repo/branch with some additional debugging log statements which might help us narrow this issue down. I'm glad that the issue was solved for @CSTDev so I think we might have something specific that we need to handle in your case too

[2019-10-17 11:08] jaikiran commented on #3592
@rikcarve Actually, you know what - would it possibel for you to share the -dev.jar that is generated in your target directory somehow? Attach it to this issue or perhaps upload it somewhere and point me to it?

[2019-10-17 11:09] rikcarve commented on #3592
Ok, I will try that

[2019-10-17 11:17] rikcarve commented on #3592
Hope this helps. I also started mvn with -X to get the debug logs and I could not see the message <Dev mode runner jar " + file + " won't be added to compilation classpath of hot deployment>

[2019-10-17 11:26] jaikiran commented on #3592
Thank you for that jar. Based on what I see in the data that's available in it, the location of the runner jar is being considered as `c:/dev/target/quarkus-dev.jar`? Is that the correct location from where you are running this project?

The next step to do (without changing the location of the project) is to add the following logger configuration in your `application.properties` and rerun the `mv

[2019-10-17 11:34] jaikiran commented on #3592
So one interesting thing that I had noticed in your comment as well as the jar that you uploaded was that the data embedded into the jar suggests that the drive letter is `c:` (lower case). It also matches with the post comments that you have posted so far, of your directory paths. However, looking at one of the `MANIFEST.MF` entry that you have pasted, it uses `C:\` (upper case). The entries in t

[2019-10-17 11:36] enbohm commented on #4572
@vietj I've now tried to reproduce this in a Quarkus standalone app, i.e. no Envoy proxy in front. I have not been able to get the error (only tried for ca 30 min but the error should have occurred). This could mean that something does not work as expected between Envoy and Quarkus > 0.22. I also tried all kinds of config in Envoy to drop stale connections, timeouts, stream timeouts etc. but with

[2019-10-17 11:51] rikcarve commented on #3592
Interesting observation!
I just attached to logfile (althought I don't see any debug/trace messages?) and the pom.xml
[quarkus.zip](https://github.com/quarkusio/quarkus/files/3739032/quarkus.zip)

[2019-10-17 11:52] jaikiran commented on #3592
I was reading some (java)docs of File/URL and there's a very small mention about "standard case for drive letters" on Windows OS here[1]. So it does seem that the drive letter is playing a role here. I have a fix for it here https://github.com/jaikiran/quarkus/commit/57d31637bb3d41a8785e254c21c34eaacc935003. I just need to see how to deliver that to you for a quick test with instructions.

[1] htt

[2019-10-17 11:54] rikcarve commented on #3592
What is the fasted way to build quarkus (without any tests) ?

[2019-10-17 12:05] jaikiran commented on #3592
If you are planning to build it off my branch here https://github.com/jaikiran/quarkus/tree/windows-path then be sure to do a:
[code]
to switch to this branch before building.

[2019-10-17 12:18] johnaohara commented on #4610
I have fixed some issues with PerfRepo and updated our perf lab with a newer version, regression alerting will be enabled today

[2019-10-17 12:19] gsmet commented on #3592
mvn clean install -DskipTests=true -DskipITs is even better!

On Thu, Oct 17, 2019 at 2:04 PM Jaikiran <notifications@github.com> wrote:

[2019-10-17 12:21] geoand opened #4637 "Spring Controller's don't show up in quarkus:dev 404 page"
The live reload mode (quarkus:dev) provides a great error page that displays all the endpoints.
However it currently only displays JAX-RS endpoints and should be extended to support Spring Controllers as well

[2019-10-17 12:39] wicksim opened #4638 "REST Assured-Test with Basic Auth fails since 0.24.0"
**Describe the bug**
I've a test, which uses REST Assured to test an REST-endpoint. This endpoint is secured with a `@RolesAllowed`-annotation. In production, we use MP-JWT, in test-environment the Basic-Auth-Mechanism `quarkus.security.file` is used. Since 0.24.0, i get an HTTP-Status-Code 403 instead of 200. Last working version is 0.23.2.

[code]

**Expected behavior**
Returned HTTP-Status-Code

[2019-10-17 12:42] FroMage commented on #4636
Yes it works the same, it's just a lot less scary in documentation.

[2019-10-17 12:53] misl commented on #4587
@geoand I had a look at those. Initially I thought the coverage was not too well, but this turned out to be wrong. Coverage is quite good it is mostly error conditions that lack coverage.

I also looked at smalrye message provider to see if I could steal/copy a unittest. But it appears unittests here and at smallrye do not use any subclasses of (MicroProfile) `Message`. So in that case both `argum

[2019-10-17 12:55] rikcarve commented on #3592
Building it for the first time, so it takes some time, will remove some extensions and integration-tests, please be patient with me ;-)

[2019-10-17 12:57] geoand commented on #4587
@misl thanks for the great update!

Lets see what @cescoffier wants to do about tests.

[2019-10-17 13:10] FroMage commented on #3803
FTR #4584 has been merged.

[2019-10-17 13:11] rikcarve commented on #3592
OK, build finished, used @jaikiran 's version and now it worked for me!

[2019-10-17 13:11] FroMage commented on #4636
@cescoffier we do test the quickstarts in this CI, right? Or somewhere else? Can I get some confidence that my changes on the quickstarts will not break somehow?

[2019-10-17 13:30] sberyozkin commented on #4573
@filippobuletto FYI, I'm going to update the guide to refer to `Basic`, `MP-JWT` was not really an authentication scheme, it is used to configure the login modules in some cases, but it is a really a `Basic` authentication scheme which is used to pass the bearer JWT token

[2019-10-17 13:41] haraldatbmw opened #4640 "error on ssl handshake with database in native image mode"
**Describe the bug**

- I have a quarkus application which makes a flyway database migration at startup.

- My database is a postgres db allowing only ssl connections.

- I compile a native image successfully.

[code]

- If i run the application it fails with the following error.

[code]

- Same error happens when building and running a docker image from the native image.
- Same error happens when

[2019-10-17 13:42] dodalovic commented on #4510
@jaikiran @cescoffier Is there someone available for support? Or to point me out if I can provide any? As stated above, I suspect `vertx-mail-client` has some issues

[2019-10-17 14:01] mat2e commented on #3164
Pleased to see, this one has already come up. I agree, most static settings are fine, but without `auth-server-url` as runtime-property we cannot easily address our dynamic environments.

[2019-10-17 14:12] #4601 closed

[2019-10-17 14:17] rafaelkloss commented on #4377
HI guys, i updated to Quarkus 0.25.0, but now there are other issue before described above.
[org.hib.pro.poj.byt.ByteBuddyInterceptor] (executor-thread-1) HHH000179: Narrowing proxy when i find the Company of User.
I suspect there are any problem with my (generic) .equals or hashcode methods in my "abstract model" persistent class.
Any other way for me to go and find out the root cause of the issu

[2019-10-17 14:23] rafaelkloss commented on #4377
Do you think the two problems are linked to each other?
For reproduce the main error in this issue, i need to back to Quarkus 0.23.2

[2019-10-17 14:25] filippobuletto commented on #4573
@sberyozkin looks good to me, the configuration key `quarkus.smallrye-jwt.auth-mechanism` has been superseded by another one or has been removed?

[2019-10-17 14:42] geoand commented on #4638
@sberyozkin is this something you are aware of perhaps?

[2019-10-17 15:09] dreab8 commented on #3817
I managed to reproduce it and I opened https://hibernate.atlassian.net/browse/HHH-13673 , working on it

[2019-10-17 15:35] jaikiran commented on #4510
@dodalovic Sorry, I haven't been able to find some time to look into this. I will see if I can find some time later this week, if no one else get to it before that.

[2019-10-17 15:40] emmanuelbernard commented on #3817
It ran Andy? That’s really surprising. I would expect it to fail and was
hoping for a more graceful failure. The official line is that we ask people
to use `;` between statements.
It’s possible the DB you use was letting this go through. I must have used
H2 or PostgreSQL. These are my natural choices.

On Wed 16  2019 at 23:38, Andrew Guibert <notifications@github.com> wrote:

[2019-10-17 15:40] kenfinnigan commented on #4510
I encountered something similar last week in setting up some home networking.

It was simply not possible for me to send an email to the GMail SMTP server with a simple email/password combination of the account.

You need to create an application passcode that can be used with the email address. See https://support.google.com/accounts/answer/185833?hl=en

[2019-10-17 16:02] sberyozkin commented on #4573
@filippobuletto yes. I should've made sure it was mentioned in the 0.25.0 release notes :-)

[2019-10-17 16:07] clochardpagan commented on #4627
First request - 304 - thought we've been there
![request_screen_1](https://user-images.githubusercontent.com/5306834/67026648-e8433480-f110-11e9-9ff3-0918d860661a.png)

500 - here comes trouble. And yeah you're right there is "If-Modified-Since" header.
![request_screen_2](https://user-images.githubusercontent.com/5306834/67026649-e8433480-f110-11e9-9240-1a4bcea8e4ee.png)

500 - same here
![reques

[2019-10-17 16:19] jaikiran commented on #4627
So the underlying issue got fixed a few minutes back in vert.x https://github.com/vert-x3/vertx-web/issues/1423 and it seems it's being targeted for 3.8.3 release of that library. I don't know when that is and whether or not that will be in time for next Quarkus release.
In the meantime you can probably disable caching in Firefox (see if it allows disabling caching for certain domains) and that sh

[2019-10-17 16:26] jaikiran commented on #2326
@Sanne, done - https://github.com/quarkusio/quarkus/pull/4643

[2019-10-17 16:33] sberyozkin commented on #4573
@filippobuletto I've no idea what I was talking about. Hmm, it must be a Bearer scheme

[2019-10-17 16:50] clochardpagan commented on #4627
Fired up Chromium 77.0.3865.120 - no problemo :)
Wrong behavior occurs on Firefox 69.0.3. So until 3.8.3 released will switch to Chromium.

Closing ticket, will reopen if next release won't fix issue.

[2019-10-17 16:52] Sanne commented on #2326
thanks @jaikiran ! Closing this one.

[2019-10-17 16:52] #2326 closed

[2019-10-17 16:59] geoand commented on #4634
I can take a look at this tomorrow if no one else beats me to it.

[2019-10-17 17:09] dreab8 commented on #3817
@emmanuelbernard the exception comes from the antlr parser, it looks for one of the following terminal chars ';' , ' ' , '\t ' , '\r' , '\n'

[2019-10-17 17:14] cerias opened #4644 "ObjectMapperCustomizer with Hibernate5Module for lazyloading"
**Describe the bug**
Jackson ObjectMapperCustomizer not working as expected.

**Expected behavior**
If the  Hibernate5Module would be set with the Hibernate5Module.Feature.SERIALIZE_IDENTIFIER_FOR_LAZY_NOT_LOADED_OBJECTS feature, i would expect that on every jax-rs endpoint with the jackson module would use the given Objectmapper feature.
So that lazy loaded relations would shown only as id lists.

[2019-10-17 17:19] gnodet opened #4645 "ClassLoader not closed"
**Describe the bug**
During builds, a classloader created by the quarkus maven plugin is not closed completely, thus not releasing the jars after the build. This can cause problems when embedding maven.  This mainly happens when using concurrent builds and a maven daemon (this always occurs the second time).  This means that a reference to a zip file is not released correctly (even though the clas

[2019-10-17 17:47] filippobuletto commented on #4573
@sberyozkin that’s true, I’ve been biased by your statement.
So, it’s a bug of the extension or of the smallrye implementation?
May this be a security issue? Reporting the wrong scheme may lead to wrong authentication behavior

[2019-10-17 17:48] dreab8 commented on #4377
Hi @rafaelkloss can you please modify my project in order to reproduce the last issue you described?  Thanks

[2019-10-17 19:01] sberyozkin commented on #4638
@geoand Not yet, @stuartwdouglas, Stuart, is http security policy setting required to let the requests pass, something along the lines advised for #4544 ?

[2019-10-17 19:22] sberyozkin commented on #4573
@filippobuletto I'm looking into it. I think it is just somewhere on the call path the fact that it was `Bearer` is ignored and the wrong auth scheme reported (I'm still kicking myself for the fact I've so convincingly typed earlier about the Basic scheme used to pass the Bearer tokens - this is the worst line I've ever typed :-), I'll blame the demo for confusing me with reporting `Basic` :-) )

[2019-10-17 19:25] sberyozkin commented on #4573
Really a lol at myself moment :-), given how many time I wrote the code parsing the bearer schemes :-)

[2019-10-17 19:38] aguibert commented on #3817
@emmanuelbernard yea it ran for me, I pushed the code to [this repo](https://github.com/aguibert/basic-quarkus/blob/jpa/src/main/resources/import.sql) to recreate. Looks like @dreab8 has it fixed though so no further need to investigate

[2019-10-17 19:59] sberyozkin opened #4646 "Authenticated annotation is not supported for the reactive routes"
**Description**
@Authenticated is meant to resolve the problems similar to the one at #4544 where an access to the resource has to be denied by simply requiring that a user must've been authenticated.

**Implementation ideas**
Stuart @stuartwdouglas recommends that CDI interceptor has to be created to support  `@Authenticated` on the reactive routes.
@michalszynkiewicz FYI, given that you are alre

[2019-10-17 20:13] BeneStem opened #4647 "Using alpine or busybox:glibc as Dockerfile.native basimage"
**Description**
I'd like to use alpine or busybox:glibc as a baseimage for the Dockerfile.native to further reduce the image size.

**Implementation ideas**
I tried to make this work by statically linking the glibc references with `--static` into the container while building the native image following this [guide](https://blog.softwaremill.com/small-fast-docker-images-using-graalvms-native-image-9

[2019-10-17 20:25] sberyozkin commented on #4573
@filippobuletto see #4648

[2019-10-17 20:50] emmanuelbernard opened #4649 "Offer a way for an extension to know the types of files changed upon hot reload"
Problem space:

Recreating the database schema for Hibernate ORM at each change is expensive. All operations not involving @Entity (and friends) files, can force schema generation off. And possibly import.sql off too (TBD).

To do that, Quarkus between how deployment should give the list of resources that changed with the previous deployment.

The API need to be thought out but that would be power

[2019-10-17 20:58] maxandersen commented on #4539
things that uses readme from your project:

- visual code, i.e. [Quarkus](https://github.com/redhat-developer/vscode-quarkus) vs [Quarkus extension](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-quarkus)
- python pypi i.e. [Homeassistant-cli](https://github.com/home-assistant/home-assistant-cli) vs [Homeassistant pypi](https://pypi.org/project/homeassistant-cli/)
- javascript n

[2019-10-17 21:01] michalszynkiewicz commented on #4646
it's almost there: https://github.com/quarkusio/quarkus/pull/4413/files#diff-2e5dbf19cb91f299787caf7fac571c08R1 ;)
I think a dedicated handler to translate the exception to a proper status code would be required. But it should be easy to implement it.

Should we target it in 1.0 or can it be done later? If it's for 1.0 I'll try to make it work in my current PR.

[2019-10-17 21:45] gwenneg commented on #4568
Here's the complete list of config keys that are currently not representable as YAML, based on the `ALL CONFIGURATION OPTIONS` doc page (I'm glad it existed to do this check!):

[code]
^ `quarkus.hibernate-orm.database.generation` could be replaced with `quarkus.hibernate-orm.database.generation.auto` to match the original Hibernate property. @gsmet WDYT?

[code]
^ `quarkus.hibernate-orm.dialect`

[2019-10-17 22:18] dmlloyd commented on #4568
I understand the problem with the `ConfigItem.PARENT` items, but why are the hardcoded config key names a problem?

[2019-10-17 22:18] dmlloyd commented on #4568
And for `PARENT`, what about having a special key for the parent value like `_` or `*`?

[2019-10-17 22:51] gwenneg commented on #4568
I just realized [AsyncConfig.java#L14](https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/logging/AsyncConfig.java#L14) is the cause of the three last cases. Removing `ConfigItem.PARENT` would add `.enable` (should it be `.enabled` instead?) at the end of `quarkus.log.file.async`, `quarkus.log.syslog.async` and `quarkus.log.syslog.async`.

Regarding `_`

[2019-10-17 23:42] dmlloyd commented on #4568
Right.  Rather than upend the entire configuration system to accommodate YAML, maybe we can hack YAML a bit to accommodate the config system.  So if I have `foo.bar` and `foo.bar.baz`, then in the YAML maybe in addition to looking for a `bar` inside of a `foo`, we should look for a `*` within a `bar` within a `foo`.

Ah well empty keys is probably the exact right thing to use in this case since it

[2019-10-18 01:30] jaikiran commented on #4627
I spent some more time on this because it would be really surprising if Firefox was sending invalid header values for something as basic as `If-Modified-Since`. I think the root cause of this issue is this https://github.com/vert-x3/vertx-web/issues/1429.

I think this issue needs to be reopened so that @gsmet or someone can track a vert.x release back to this and prioritize it accordingly.

Thank

[2019-10-18 04:17] jaikiran commented on #4640
[code]
Can you post the output of:
[code]
or even the output of:

[code]

[2019-10-18 05:35] gwenneg commented on #4568
I like the idea. I guess this would have to be done in the `YamlConfigSource` that is currently being donated from `micrprofile-extensions` to `smallrye-config`, as discussed in #4525.

I'll give empty YAML keys a try with #4525 as it is currently using the same YAML parser (snakeyaml) than the future `smallrye-config` version.

[2019-10-18 05:43] haraldatbmw commented on #4640
Output of jre/lib/amd64:

[code]

And the tree output:

[code]

[2019-10-18 06:15] filippobuletto commented on #4573
@sberyozkin don't be too hard on yourself, I’m also into sec and I’ve been also tricked 😄 I’ve seen the PR, “TODO fixme” are the root of all evil!
Thank you

[2019-10-18 06:17] jaikiran commented on #4640
Thank you. While I have you here, can you also post us the output of:

[code]
and then
[code]
and
[code]

[2019-10-18 07:12] mkouba commented on #2954
I think that this one is fixed. Feel free to reopen.

[2019-10-18 07:12] #2954 closed