[2020-03-29 14:26] patriot1burke commented on #8226
I think this is a matter that the root path is /api.  Is there a way to change swagger to look at a different root path?  I'll have time to look at this next week.

[2020-03-29 14:37] rhuan080 commented on #7046
Hi @all,
I'm sorry, I didn't know about this issue. I know it is already closed, but I think it good to have the equals and hashcode methods on the PanacheMongoEntity, because it can be cached or worked with another feature that does not guarantee the same memory address to the same entity. Now, If we use cache and read an entity from cache, the equals and hashcode will be different to the same en

[2020-03-29 14:56] sirf commented on #8254
The reproducing code packaged as a .tar.gz

[hibernate-orm-panache-quickstart-8254.tar.gz](https://github.com/quarkusio/quarkus/files/4399102/hibernate-orm-panache-quickstart-8254.tar.gz)

[2020-03-29 15:30] sirf commented on #8254
What happens is that queries like these
`select distinct o from Order o left join fetch o.lineItems`
are translated into
`SELECT COUNT(*) select distinct o from Order o left join fetch o.lineItems`
which clearly is not valid syntax.

[2020-03-29 15:49] marc-christian-schulze commented on #7974
I'm facing the same issue (with Quarkus 1.3.1.Final) when using multiple test methods inside the same test class:
[code]

Reproducer available here:
https://github.com/marc-christian-schulze/quarkus-reproducer-7974

[2020-03-29 16:09] sirf commented on #8254
I made an attempt at fixing it
https://github.com/quarkusio/quarkus/pull/8255

[2020-03-29 17:04] 38leinaD opened #8256 "Quarkus Native Image build on Windows fails"
**Describe the bug**
I am currently trying to evaluate if Github Actions can be used to build Quarkus Native Images for all major operating system. Linux and MacOS work find. Only the Windows build fails with.

[Build Result](https://github.com/38leinaD/quarkus-with-gh-actions/runs/543498454?check_suite_focus=true)

[code]

If you look at the repo you will see: It is Quarkus 1.3.1; and the build i

[2020-03-29 17:40] UnvirtualHH opened #8257 "Quarkus Kubernetes - Host is ignored"
**Describe the bug**
When using the Kubernetes Extension and adding exposed=true and host=service.bla.com
the host entry is not added to the generated ingress part. Host is always ""

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a small application
2. add Kubernetes extension
3. Add config properties and build by execute package
4. Check the configs

**Configuration**
[code]

**Env

[2020-03-29 19:36] alexander-dammeier commented on #7884
I use "exists" to prove if an id really refers to an existing aggregate when i only hold the id in another aggregate. It is a business rule in our system so i have to check it but i do not need the hole entity, only the already given id.

[2020-03-29 20:51] corepdk opened #8258 "quarkus-mongodb-panache & quarkus-mailer in same project problem"
I create a new quarkus project using maven:

mvn io.quarkus:quarkus-maven-plugin:1.3.1.Final:create \
    -DprojectGroupId=org.acme \
    -DprojectArtifactId=rest-json-quickstart \
    -DclassName="org.acme.rest.json.FruitResource" \
    -Dpath="/fruits" \
    -Dextensions="resteasy-jsonb"

then i add extension with:
mvn quarkus:add-extensions -Dextensions="mongodb-panache"

then i add extension w

[2020-03-29 20:56] lodrantl opened #8259 "Quarkus OIDC web-app cleanup state & code"
When using OIDC extension in web-app mode the authorization code flow looks like this:

1. user accesses http://localhost:8080/locked
2. get redirected to http://keycloak/auth.....?redirect_url=http://localhost:8080/locked
3. logs in and gets redirected back to http://localhost:8080/locked?state=.....&code=......

Now the OIDC extension has the authorization code and is able to request the token.

[2020-03-29 22:22] geoand commented on #8257
Thanks for reporting,

I'll take a look

[2020-03-29 22:55] Honza-cz opened #8260 "Prohibited package name: java.util.concurrent"
**Describe the bug**
I tried to upgrade quarkus version (platform + plugin) to 1.3.0.Final and 1.3.1.Final, but maven build failed due to error in instantiation of test:

[code]
I guess, it is somehow project related, because I couldn't reproduce the issue in basic demo application. The test was executed fine with quarkus 1.2.0.Final

I tried to search in all project depedencies if I spot a class

[2020-03-29 23:11] Honza-cz commented on #6067
Hi,
 I guess, I bumped into similar issue. I am using quarkus 1.2.0.Final. The maven build is fine on my local PC. However, same code built in Jenkins server lead to error in test instantiation, because custom artifact is looked up in root maven repo which doesnt exist of course . Unfortunately, I don't have direct access to Jenkins server, so I can just share the error message.

I tried all sugge

[2020-03-29 23:14] maxandersen commented on #6499
@dodalovic sorry - didn't see your ping here before now - see #7681  for current progress

[2020-03-29 23:15] maxandersen commented on #6499
@stuartwdouglas  how much of this is fullfilled by #7681 ?

[2020-03-29 23:20] gwenneg commented on #8221
The `@AroundInvoke`-annotated method of [CacheResultInterceptor](https://github.com/quarkusio/quarkus/blob/master/extensions/cache/runtime/src/main/java/io/quarkus/cache/runtime/CacheResultInterceptor.java) is not invoked when the `@CacheResult`-annotated method of the `RestClient` is invoked.

@mkouba: Does it look like an ArC limitation or could there be something missing in the `quarkus-rest-cl

[2020-03-30 00:12] stuartwdouglas commented on #6499
Most of it, except for exception mapping for exit codes, which is going to be a follow up. Also failure due to config issue does not have it's own exit code, however that can be done as part of the exception mapping work.

[2020-03-30 02:07] stuartwdouglas commented on #6096
So this is relatively complex, as there are a few places where the identity is accessed (e.g. the roles allowed interceptor). We may need to make some minor API changes to make sure there is a unform way to handle this instead of every consumer of the security API needing to handle it in an ad hoc manner.

[2020-03-30 02:09] stuartwdouglas commented on #8260
is it possible you have a class from the java.util.concurrent package in your project or in your dependencies?

If not can you post the full stack trace?

[2020-03-30 03:02] lfmunoz commented on #7038
@geoand with 1.3.1.Final I still get same error.   Do you know why am I getting this error and what is the fix? I don't understand what you said above. Clearly in my project I have (https://github.com/lfmunoz/quarkus-bridge)

[code]

The project generator has been adding that since before 1.3.0 so don't know what difference 1.3.1.Final would have done.

According to this ticket this issue should h

[2020-03-30 03:33] stuartwdouglas commented on #8250
You need to add

        <dependency>
            <groupId>org.jboss.resteasy</groupId>
            <artifactId>resteasy-validator-provider</artifactId>
        </dependency>

We really need a way to automatically include this if both modules are present, we should be able to do this now the class loader changes are in.

[2020-03-30 04:51] daniel-alonso-sanchez commented on #8166
Thanks for your support @gwenneg !!!

[2020-03-30 05:03] #8210 closed

[2020-03-30 06:01] Honza-cz commented on #8260
I suspected that some class is in that package. I checked the source code and then all dependencies (jars). But I haven't found any class.

Regarding stack trace, I am not able to get it from build. Everything I have is just:

`
[ERROR] Tests run: 2, Failures: 0, Errors: 1, Skipped: 1, Time elapsed: 12.991 s <<< FAILURE! - in com.ZZZTest
[ERROR] fileDownload  Time elapsed: 0.013 s  <<< ERROR!
java

[2020-03-30 06:45] geoand commented on #7038
@lfmunoz it has been fixed, but only for Maven unfortunately... I opened https://github.com/quarkusio/quarkus/pull/8262 which should fix it for Gradle as well.

[2020-03-30 06:53] carlosthe19916 commented on #8250
@gastaldi @stuartwdouglas thank you very much for your reply. I was able to fix it in my project...

[2020-03-30 06:56] galderz commented on #7914
Testing with latest on 30.3.2020 (last Friday) showed this error instead:

[code]

Maybe just adding jaxb as dependency is enough.

[2020-03-30 07:09] loicmathieu commented on #8258
@corepdk to better understand the issue can you give us the dependencies from your pom.xml generated by the two add-extension command and the working dependencies after you update your pom.xml ?

[2020-03-30 07:22] devisions commented on #6096
@stuartwdouglas Thanks for the feedback, Stuart.
I gave it a first try last weekend, but implementing the aforementioned initial thought turned out to be working for _PermitAll_, but broke the _RolesAllowed_. :/
We would need this feature quite soon, so how can I help in this matter?

[2020-03-30 07:29] corepdk commented on #8258
the not working tree:

[INFO] org.acme:rest-json-quickstart:jar:1.0-SNAPSHOT
[INFO] +- io.quarkus:quarkus-resteasy:jar:1.3.1.Final:compile
[INFO] |  +- io.quarkus:quarkus-vertx-http:jar:1.3.1.Final:compile
[INFO] |  |  +- io.quarkus:quarkus-development-mode-spi:jar:1.3.1.Final:compile
[INFO] |  |  +- io.quarkus.security:quarkus-security:jar:1.0.1.Final:compile
[INFO] |  |  +- jakarta.enterprise:ja

[2020-03-30 07:31] corepdk commented on #8258
The working dependency tree with mailer before mongodb-panache:

[INFO] Scanning for projects...
[INFO]
[INFO] -------------------< org.acme:rest-json-quickstart >--------------------
[INFO] Building rest-json-quickstart 1.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-dependency-plugin:2.8:tree (default-cli) @ rest-json-quickstar

[2020-03-30 07:33] corepdk commented on #8258
Working:

  <dependencies>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-resteasy</artifactId>
    </dependency>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-junit5</artifactId>
      <scope>test</scope>
    </dependency>
    <dependency>
      <groupId>io.rest-assured</groupId>
      <artifactId>rest-assured</artifactId>
      <sc

[2020-03-30 07:34] corepdk commented on #8258
Not working:

    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-resteasy</artifactId>
    </dependency>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-junit5</artifactId>
      <scope>test</scope>
    </dependency>
    <dependency>
      <groupId>io.rest-assured</groupId>
      <artifactId>rest-assured</artifactId>
      <scope>test</sco

[2020-03-30 07:42] geoand commented on #8260
The stacktrace might have been swallowed somewhere...

Would it be possible to put together a reproducer that we can check?

[2020-03-30 07:43] galderz commented on #7914
Cloned to https://github.com/apache/camel-quarkus/issues/996

[2020-03-30 07:48] geoand commented on #8258
@aloubyansky does this ring a bell?

[2020-03-30 07:51] geoand commented on #8256
Hi,

Can you please give version `1.3.1.Final` a try?

[2020-03-30 07:53] geoand commented on #8250
I have a few more cases in mind where this would help.

[2020-03-30 08:00] Honza-cz commented on #8260
I checked out quarkus source code and and added some debug info to quarkus-junit5 module (modified code attached). I was able to get the stack trace:

`[INFO] Running com.ZZZTest
!!! ensureStarted
!!! ensureStarted if
!!! doJavaStart
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/honza/.m2/repository/org/jboss/slf4j/slf4j-jboss-logging/1.2.0.Final/slf4j

[2020-03-30 08:02] JiriOndrusek opened #8266 "quarkus-tika-deployment missing in the deployment BOM"
A PR follows

[2020-03-30 08:05] geoand commented on #8260
Thanks for checking this @Honza-cz!

Seems like the root of the problem is: `Caused by: java.lang.SecurityException: Prohibited package name`.

It would be awesome if you could upload/attach a reproducer for this.

[2020-03-30 08:06] mkouba commented on #8221
@gwenneg That's very likely because the `@CacheResult` is not an interceptor binding. Note that RestClient impl does not care about the Quarkus annotation transformers. In fact, RestClient interception is a bit special use case in a way that the RestClient impl must take care of the interception itself because CDI does not support anything like interception of synthetic beans or interfaces.

Anywa

[2020-03-30 08:06] aloubyansky commented on #8258
Looks like a BOM issue. The order should not matter in this case.

[2020-03-30 08:08] FroMage commented on #8258
@cescoffier doesn't that ring a bell?

[2020-03-30 08:12] FroMage commented on #8235
Yeah, static method references are broken in Java for some reason. I should report this bug. Not much we can do on our end, though, unfortunately, so I'm going to close this issue. Thanks for reporting it though.

[2020-03-30 08:16] FroMage commented on #8152
Can you show me the new stack trace then?

[2020-03-30 08:23] #7698 closed

[2020-03-30 08:28] guldner commented on #8166
I get a null pointer exception when using `@CacheResult` in combination with jaeger. Could it be related?
[code]
If I set `quarkus.jaeger.enabled=false` the caching works fine.

[2020-03-30 08:30] danielpetisme commented on #8235
Does it worth a note in the panache documentation?

[2020-03-30 08:30] FroMage commented on #8136
@gavinking had some ideas too.

[2020-03-30 08:30] jargelo commented on #8210
Thanks for the quick turnaround @geoand

[2020-03-30 08:33] geoand commented on #8210
You are welcome

[2020-03-30 08:45] FroMage commented on #8235
We can probably detect it while we're scanning for the field access visitor. But I don't think we can make them work because at this point the information is lost.

OK lemme try to detect it.

[2020-03-30 08:49] Meemaw commented on #7979
@gastaldi any update on this?

[2020-03-30 08:53] danielpetisme commented on #8235
Generally speaking `Caused by: java.lang.IllegalStateException: This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?` is a very generic message...
So far, I produced this message when:
* I actually forgot the `@Entity` (dev's fault)
* Classloader issues in testing (fixed by now)
* method reference.

I think it would have value to spec

[2020-03-30 08:56] galderz commented on #7914
PR with fix sent to https://github.com/apache/camel-quarkus/pull/997

[2020-03-30 08:57] FroMage commented on #8235
It is too generic, but I can't really detect what led to this error…

[2020-03-30 09:07] loicmathieu commented on #8235
Method reference is very common, at least we should add a WARNING inside the documentation gudies (hibernate and mongodb Panache) that method reference should not be used and can lead to the exception described here.

[2020-03-30 09:09] gsmet commented on #8250
No you don't. We have our own implementation in the HV extension as things are slightly different (especially the CDI part).

[2020-03-30 09:14] 38leinaD commented on #8256
I am sorry, i wrote down the wrong version. I am actually already using 1.3.1.Final.
I am also seeing the issue locally. Did the steps as listed here: https://github.com/oracle/graal/issues/1852#issuecomment-572892384

Running like this:

[code]

Result:

[code]

[2020-03-30 09:18] gsmet commented on #8250
So just creating the `src/main/resources/META-INF/beans.xml` file fixes the issue.

Now, the only remaining question is to know why this used to work with 1.2.1.Final. I think it's due to the fact that we now use the `BeanArchiveIndexBuildItem` to allow handling the generated beans. This was a Kogito requirement. So we need all the submodules to be bean archives.

I will add a note in the migratio

[2020-03-30 09:18] #8250 closed

[2020-03-30 09:19] gwenneg commented on #8221
The cache interceptor bindings contain things that I didn't want to expose in the extension API. For example, `CacheResultInterceptorBinding` contains a `cacheKeyParameterPositions` parameter that is valued at build time by `CacheProcessor`.

[2020-03-30 09:21] gsmet commented on #8250
https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.3#hibernate-validator

[2020-03-30 09:25] #8266 closed

[2020-03-30 09:27] mkouba commented on #8221
Fair enough. Ideally, the RestClient impl should expose some SPI that can be implemented by Quarkus to handle interception in this special case.

[2020-03-30 09:29] cescoffier opened #9328 "Improve developer experience and hot reload support"

[2020-03-30 09:30] tomekl007 commented on #7876
I have a question regarding the structure of the quarkus extensions and layout of the modules.
- Do we need to keep the same structure that is used in the `quarkus` repo, and for example in the `camel- extension`?
- Do we need to have dedicated poms directory with `build-parent`, `bom` and `bom-deployment` modules?
- do we need to have an intermediary `extensions` module that has our extension in

[2020-03-30 09:35] gwenneg commented on #8166
@guldner I don't see any obvious link betwen your Jaeger issue and this one. Could you please create a new GitHub issue and provide us with a minimal reproducer if possible? I'll take a look at it.

[2020-03-30 09:38] lkrzyzanek commented on #5936
I confirm that this issue is fixed. Thank you!

[2020-03-30 09:38] #5936 closed

[2020-03-30 09:52] knutwannheden opened #8268 "CDI not functional for Hibernate Envers RevisionListeners"
**Describe the bug**
When using Hibernate Envers the dependency injection does not work for the `RevisionListener`s which are referenced from `@RevisionEntity` annotations.

**Expected behavior**
As in standard Hibernate it should be possible to annotate an entity class with `@RevisionEntity` and via `RevisionEntity#value()` reference a class implementing `RevisionListener`. Hibernate / Quarkus sh

[2020-03-30 09:53] sberyozkin commented on #8259
One extra redirect is already done when the original request_uri overlaps with the `request_uri`. So with this feature we can have one more extra redirect in that case. So if we do it it would likely need to be optional.

[2020-03-30 10:13] maxandersen commented on #8235
@FroMage i'm curious - what is it that you consider is broken about the static method references in java ?

[2020-03-30 10:14] sberyozkin opened #8269 "OIDC initialization race condition in DefaultTenantConfigResolver in the native image"
**Describe the bug**
Guillaume has reported it earlier, so we added some checks, and the latest #7940 [native build](https://github.com/quarkusio/quarkus/pull/7940/checks?check_run_id=543714208) failed with:
[code]

`staticTenantsConfig` is initialized in `oidcRecorder` and then set as a `DefaultTenantConfigResolver` property.

I think what I can try to do is to pass it to `DefaultTenantConfigReso

[2020-03-30 10:15] gsmet commented on #8268
Could you create a simple Maven project reproducing the issue?

[2020-03-30 10:16] knutwannheden commented on #8268
Let me look into it.

[2020-03-30 10:27] zeljkot commented on #8152
I already changed it because of the issues, but I will try to reproduce it again, maybe later today.

[2020-03-30 11:30] cescoffier commented on #8258
Yes, it’s the same issue again due to the weird dependencies between context propagation and RESTEasy. Until we reverse it, I don’t see a good way to fix it.

Also, with the class loading change, the tweak we do in SR co text propagation does not work reliably.

[2020-03-30 11:35] cescoffier commented on #7885
I believe the only way would be to add a way in the AMQP connector to not use an anonymous sender. This should be an opt-in as it breaks the ability for the application to indicate the address in the message.

[2020-03-30 11:44] cescoffier commented on #7885
I have created https://github.com/smallrye/smallrye-reactive-messaging/issues/474.

[2020-03-30 12:05] FroMage commented on #8258
What tweak? When are we going to fix the dependencies?

[2020-03-30 12:09] FroMage commented on #8235
Given:

[code]

`Bottom.foo()` will be encoded as `INVOKESTATIC Bottom.foo` while `Bottom::foo` will be encoded as an INDY calling `INVOKESTATIC Top.foo`.

[2020-03-30 12:11] gastaldi commented on #7979
@Meemaw @aloubyansky is working on something that might fix it, let's wait for his PR

[2020-03-30 12:18] Honza-cz commented on #8260
Well, I am not able to reproduce it. I made one test. I added one class to demo application.

`java.util.concurrent.Dummy`

When tried to test (mvn clean install) jax-rs resource, I was able to see the error `Prohibited package name java.util.concurrent` but it's not same issue. There is stack trace despite of original version.

`2020-03-30 14:08:34,780 WARN  [io.qua.boo.res.mav.MavenRepoInitializ

[2020-03-30 12:38] Sanne commented on #7046
hi @rhuan080 sorry but I disagree, it's not merely about looking at "helping the majority of use cases": adding a default equals / hashcode is at most a _convenience_ for such people, while providing a wrong implementation would be cause of serious bugs.

Such bugs are also hard to identify, while when encouraging people to implement their own people have at least to thinkg about what they are doi

[2020-03-30 12:47] knutwannheden commented on #8268
See here for a reproducible test: https://github.com/knutwannheden/quarkus-mcve-8268

Note: The test intentionally uses an `@Inject` annotated constructor, as this will require CDI to function properly.

[2020-03-30 12:47] Sanne commented on #8110
I hope you don't mind, I'll close this as it's either too broad or not related to Quarkus.

If you have any specific issue with our code, please open a new issue

[2020-03-30 12:47] #8110 closed

[2020-03-30 13:03] emmanuelbernard commented on #7884
note that count is not too far from what you have in exists.

if ( !Person.exists(1L) ) { ... }
// vs
if ( Person.count("id", 1L) != 1 ) { ... }

On Sun, Mar 29, 2020 at 9:36 PM Alexander Dammeier <notifications@github.com>
wrote:

[2020-03-30 13:07] aloubyansky commented on #7876
I'd say you should be able to set up your project the way it's comfortable for you.
The naming convention that we'd like to see respected though is the one for the runtime and the deployment artifact and bom (assuming your provide the BOMs) names, as described here https://quarkus.io/guides/writing-extensions#maven-setup.
Actually, it will still work if you don't follow it but for your users (us i

[2020-03-30 13:11] galderz commented on #7914
PR has been integrated, closing this now.

[2020-03-30 13:11] #7914 closed

[2020-03-30 13:12] galderz commented on #8081
A similar issue was appearing with Labs JDK, so I expect this latest failure with jdk11u-dev to go away. I'll test in the next few days.

[2020-03-30 13:23] kenfinnigan opened #8272 "Decouple internal Metrics SPI from MP Metrics API"
**Description**
Currently, the SPI for Extensions to register metrics (https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-metrics/spi) bleeds the MicroProfile Metrics API into the Extension. We should shield our Extensions from changes to the API that don't impact how metrics are registered for Quarkus.

See https://quarkus.io/guides/writing-extensions#extension-metrics for what

[2020-03-30 13:47] aloubyansky commented on #7979
I just tried the project with the branch I'm working on. The tests still fail but differently. If I follow your instructions, I get only one failure and 71 ignored tests. It looks like the error you see is happening early and the rest of the tests are pretty much ignored.
In `PasswordResourceImplTest` with 1.3.1.Final I get 1 failure and 14 ignored tests. With my branch I get 15 failures out of 15

[2020-03-30 13:52] emmanuelbernard commented on #8195
I'm trying to collect the ideas that are scattered so far.

Sanne mentioned to me that

- @johnaohara has very scattered numbers when reproducing. Do you confirm @johnaohara ?
- the extra time is about class initialization (paid for once at startup time of dev mode).
- he was not aware of the ~10% RSS increase (JVM).

Since this 10% bump in startup and RSS in JVM mode is a number important for Qua

[2020-03-30 13:53] dmlloyd commented on #8168
I think this is the first usage I've seen of JAAS in native mode.  In general, I'd avoid it (because it is a poor framework)!  But nothing special should be necessary, just the usual registering of things.

[2020-03-30 13:58] MarianMacik commented on #6885
Any updates guys?

[2020-03-30 13:59] emmanuelbernard commented on #7876
Also it's not a known pattern yet but I would set up the structure so that you can host the documentation (guide) and the quickstarts as well in the same repo. These are the artefacts we end up using in Quarkus and it would make sense for an extension to host them together.

[2020-03-30 14:00] n1hility commented on #8195
Wow thats a lot of memory for a single entity. Could there be something wrong, I mean generating one extra class should only add like a K to memory usage. Are more classes getting loaded than without this change?

[2020-03-30 14:01] cemnura opened #8273 "Kubernetes extension replicas configuration"
**Describe the bug**

Im trying out the Kubernetes extension have stumbled upon a bug. I have the following dependencies

     <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-kubernetes</artifactId>
    </dependency>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-container-image-jib</artifactId>
    </dependency>
    <dependency>
      <gr

[2020-03-30 14:01] n1hility commented on #8195
Ah perhaps its the byte code framework getting loaded, even though it's not really needed at runtime later?

[2020-03-30 14:02] alexander-dammeier commented on #7884
But is exists faster?
Are all databases intelligent enough not to go through all rows to count duplicates in a column with an unique constraint?

[2020-03-30 14:10] emmanuelbernard commented on #7884
What do you want for the feature? The existence of the entity? Or the existence of some column value?
I thought the former based on the issue description. In this case, I don't think my count approach is any different than whatever a custom exist implementation would do performance wise. If anything it could be made more memory efficient than a `select id from entity where id = ?`. The count is do

[2020-03-30 14:14] geoand commented on #8273
Note that `kubernetes.replicas=3` **does** work and the documentation **does** mention the `quarkus.kubernetes.replicates` setting [here](https://quarkus.io/guides/deploying-to-kubernetes#changing-the-number-of-replicas), so this is definitely a bug.

[2020-03-30 14:15] Honza-cz commented on #6067
I update quarkus junit5 integration in order to get stack trace. It doesn't help me to fix the issue, but maybe you will some idea:

<details>
  <summary>Test execution + stacktrace</summary>
[INFO] Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 10.862 s - in com.ZZZ.EmbeddedCassandraTest
[INFO] Running com.ZZZ.MyTest
!!! createTestInstance
!!! e4
java.lang.IllegalStateException:

[2020-03-30 14:19] adutra commented on #7876
Thank you @aloubyansky and @emmanuelbernard  for your input, much appreciated! Out of curiosity, is it a requirement to inherit from `jboss-parent` pom?

[2020-03-30 14:23] geoand commented on #8273
Here is some general information on how this can be fixed:

* First of all we need to add the `replicas` field to the `io.quarkus.kubernetes.deployment.PlatformConfiguration` in order to make that field available to `KubernetesConfig`, `OpenshiftConfig` and `KnativeConfig`.
* Then we need to use that field to apply a `io.dekorate.kubernetes.decorator.ApplyReplicasDecorator` to each type (see `io.q

[2020-03-30 14:23] andreas-eberle opened #8274 "Quarkus 1.3.x: AMQP Emitter<JsonObject> does not set content-type"
**Describe the bug**
When using an `Emitter<JsonObject>` of the `quarkus-smallrye-reactive-messaging-amqp` extension, Quarkus 1.2.1.Final added the Content-Type: application/json to the properties of the message. This is also documented under https://smallrye.io/smallrye-reactive-messaging/#_forwarding_messages_to_amqp: `(Vert.x) JSON Array or JSON Object (send as binary with content type set to a

[2020-03-30 14:25] Meemaw commented on #7979
@aloubyansky let me know if I can be of assistance somehow.

FYI, I've also tried upgrading to 1.3.1.Final but got different kind of errors in regards to class loading.

[2020-03-30 14:46] aloubyansky commented on #7979
Yes, i did see LinkageErrors.

[2020-03-30 14:48] aloubyansky commented on #7876
No, however our platform is using it as its parent.

[2020-03-30 14:58] #8257 closed

[2020-03-30 15:07] danielpetisme commented on #8235
😕 this one is tricky...
As discussed, if it's a Java limitation I think we should accept it but at least help the dev to troubleshoot with a clear message.

[2020-03-30 15:09] mkouba commented on #8135
WIP is here: https://github.com/mkouba/quarkus/tree/issue-8135

One thing I don't like is that the `quarkus.arc.selected-alternatives=` approach does not scale well if there are multiple alternative classes we need to enable. YAML could be a little bit more readable. I've also tried to switch to regular expressions - that would be pretty powerful but not very nice for simple cases (a user would ha

[2020-03-30 16:02] iocanel commented on #8181
At the moment any extension can contribute build items that the kubernetes
extension can consume and modify the generated resources accordingly
Along, with smallrye, the container-image and kubenretes-client extensions
already do that.

I agree with you that in many cases it would be really cool, to have more
immediate control over the generated resources.
I am not 100% sure though if we should gi

[2020-03-30 16:09] lordofthejars commented on #8181
Can you write me down a quick example for a newbie on how I could add an
annotation to the generated resource from an extension?

Missatge de Ioannis Canellos <notifications@github.com> del dia dl., 30 de
març 2020 a les 18:03:

[2020-03-30 16:10] famod commented on #8135
Not the prettiest solution, but may something like `quarkus.arc.selected-alternatives=%regex[...]` could be used, e.g.:
http://maven.apache.org/plugins/maven-assembly-plugin/advanced-descriptor-topics.html#Using_Regular_Expressions_to_Exclude_Files

[2020-03-30 16:39] arvidvillen opened #8277 "Support java 14 records in quarkus:dev"
**Description**
Support the usage of Java 14 records (preview feature) in quarkus:dev.

I’m trying to get java 14 records to work in Quakrus and I’m (quite easily) able to get the tests to pass and the final jar to run but DevMode fails with the following error:
[code]

[Reproducer](https://github.com/arvidvillen/quarkus-records)
Run `./mvnw quarkus:dev` to replicate the error.

Run `./mvnw packag

[2020-03-30 16:56] bluemonk3y commented on #8239
Getting closer when running in DEBUG node

[code]

[2020-03-30 17:01] gsmet commented on #8239
/cc @asoldano

[2020-03-30 17:05] gsmet commented on #8277
We would also need to update the version of bytecode we use to ASM8 and I don't know if it's still the case but ByteBuddy has a flag for enabling experimental features.

[2020-03-30 17:06] sberyozkin commented on #8050
After another painful round of self-doubt and comparing pros and cons I'm settling on the option 1, PR is coming shortly.
The last line of reasoning I'd like to try to hold on to is that the configuration is done in scope of `Credentials` and the only credential here is `Secret` - all 3 `client_secret_*` methods are different in the way it is used. `client_secret_jwt` is of course special, but it

[2020-03-30 17:15] alukin commented on #8035
I tried my small reproducer application with 1.3.1-Final and it does not work too as with 1.3.0.Final. I updated reproducer application pom.xml with Quarkus 1.2.1.Final to show that it works with previous 1.2.1.Final fine.

I use GraalVM version is 20.0.0-jdk11 in all cases.

Please see comments in pom.xml how to change version and reproduce this bug
https://github.com/alukin/polyglot-test-quarkus

[2020-03-30 18:05] 38leinaD commented on #8256
So, the execption looks to be the same as here: https://github.com/quarkusio/quarkus/issues/6884
But this is under ubuntu and not Winodws. According to that issue, it got resolved after installing some library dependencies (sudo apt-get -y install gcc libc6-dev zlib1g-dev).
I am not expert on graalvm. Does this in some give a hint to my problem? am i missing some libraries? Did i miss to install s

[2020-03-30 18:08] bluemonk3y commented on #8239
Debugging RestEasy in JVM Mode it looks like the param should resolve to `org.jboss.resteasy.plugins.providers.DefaultNumberWriter`, changing to Long flipped it to `org.jboss.resteasy.plugins.providers.DefaultTextPlain` which also failed. I have added them to a reflection-config.json for graal registration..... guessing thats why it failed although I believed the core providers were already regist

[2020-03-30 19:01] bluemonk3y commented on #8239
Changing to Long and adding the DefaultNumberWriter also failed. You can see the other Readers processing the payload.

[code]

[2020-03-30 19:01] michalszynkiewicz commented on #7962
@Ladicek isn't it somewhat done by the test you added for opentracing propagation?

[2020-03-30 20:06] mkouba commented on #8135
Hm, I was thinking about the syntax used in [CDI exclude filters](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#exclude_filters), i.e. `org.acme.*` to match all classes from the given package and `org.acme.**` to match the package and subpackages. And maybe also the possibility to only match the simple name, i.e. `Foo` to match `org.acme.Foo`.

[2020-03-30 20:14] manovotn commented on #8135
+1 to similarity with CDI filters

This can be misleading, what happens when you have `Foo` and `FooBar` or `BarFoo` beans?

[2020-03-30 21:08] Legion2 commented on #7519
Im now getting `2020-03-30 23:00:11,392 WARN  [io.qua.dev.DevModeMain] (main) Unable to copy .env file`, I'm on Windows 10 and enabled the Windows Developer Mode, to be able to create symlinks without admin permissions. Nevertheless the environment variables from `.env` are not available in quarkus. I'm using version `1.3.1.Final`.

[2020-03-30 21:28] pyranja opened #8282 "Cannot use base image from private registry with container-jib extension"
**Describe the bug**

Building an image of a quarkus application with the container-jib extension fails, if the base image is hosted in a private registry.

**Expected behavior**

The jib build discovers docker credentials from well known locations or uses provided `quarkus.container-image.username` and `quarkus.container-image.password` to authenticate when pulling the base image from a private r

[2020-03-30 22:02] stuartwdouglas commented on #8260
I think something must have a copy of java.util.concurrent.ConcurrentHashMap in one of the dependencies.

I can just add a guard to the class loader to stop this being a problemm

[2020-03-30 22:51] aloubyansky commented on #7934
[code]
However, the dev mode is not really working.

[2020-03-31 01:08] fredmtyro opened #8286 "Regression: Strange @ClassCastException when running tests"
**Describe the bug**
A `@QuarkusTest` that worked properly with 1.2.1 fails with 1.3.1 with an odd `ClassCastException` where a class can't be cast to its own type, but this failure only occurs during a mvn clean install when a second unrelated unit test is run. When any of the test classes are run in isolation, they pass.

**Expected behavior**
All tests pass as under 1.2.1.

**Actual behavior**

[2020-03-31 01:11] fredmtyro commented on #8286
This is similar to the structure I have in my problem project:

[code-with-quarkus 2.zip](https://github.com/quarkusio/quarkus/files/4406164/code-with-quarkus.2.zip)

ExampleResourceTest is like the `@QuarkusTest` that fails above, ExampleResource2Test is like the test I need to comment out to get a successful build.

[2020-03-31 01:56] lodrantl commented on #4922
This setting work with vertx http, but as soon as quarkus-undertow is added it breaks. Maybe just the ForwardedHandler should be added to the deployment?

[2020-03-31 02:37] stuartwdouglas commented on #4922
This is a bug that will be fixed by https://github.com/quarkusio/quarkus-http/pull/20

For now you can use the forwarded handler as a workaround.

[2020-03-31 05:29] geoand commented on #7519
@Legion2 can you please open an issue where you give more information about the problem you are facing?

[2020-03-31 06:03] geoand commented on #8286
@fredmtyro Thanks for reporting.

It would be a tremendous help if you could come up with a reproducer that fails and shows the problem.

[2020-03-31 06:13] troosan commented on #7095
Sure, but application is fine with it, so swagger-II should too. But this might definitely help pinpoint the problem.

[2020-03-31 06:28] mkouba commented on #8135
I don't think so. It would be exact match only, i.e. neither `FooBar` nor `BarFoo` would match...

[2020-03-31 06:32] wicksim commented on #7809
Same problem here. Since adding

`<dependency>
 <groupId>io.quarkus</groupId>
 <artifactId>quarkus-vertx</artifactId>
 </dependency>`

I'm getting the same exception. I already have (and had before) `quarkus-resteasy`. Manually adding `org.jboss.resteasy:resteasy-context-propagation` seems to resolve the problem.

[2020-03-31 06:58] juanmbellini opened #8287 "Allow xml mapping for hibernate ORM"
**Description**
Allowing XML mapping for Hibernate ORM could enable creating quarkus applications using clean architecture without having to create auxiliary JPA entities.
I mean, when following the clean architecture approach, models should not be aware of anything outside the core of the application, including how they are stored and/or retrieved. This includes JPA. In order to avoid this, with

[2020-03-31 07:09] geoand commented on #8282
Thanks for reporting!

#8288 should fix the problem

[2020-03-31 07:13] geoand commented on #8277
In ASM8  you don't need to use the experimental features, just the regular ASM8 flag to get around the issue.

Like @gsmet said, once all dependencies are in place, we'll update Quarkus and things will work as expected.

[2020-03-31 08:07] SchulteMarkus commented on #7936
Yesterday I presented Quarkus including native image to my company. Would not have worked out without your fix. What a timing guys!

[2020-03-31 08:17] jmartisk commented on #8049
Yes, let's close this and discuss in the original issue. Thanks!

[2020-03-31 08:17] #8049 closed

[2020-03-31 08:32] sandeepsai39 opened #8291 "Quarkus unable to launch when both quarkus.datasource.db-kind and quarkus.datasource.driver are set"
I am trying to integrate h2 DB with quarkus. I refereed documentation from the quarkus web site and written a sample application that have one rest controller, which call save operation on h2 database.
But while trying to launch application in dev mode(mvn compile quarkus:dev). I am getting below exception.

[code]

[2020-03-31 08:34] ia3andy commented on #8291
Transferred this issue as this is a core issue..

[2020-03-31 08:35] #8282 closed

[2020-03-31 08:50] sandeepsai39 commented on #8291
FYI. Below is my environment details.
[code]

[2020-03-31 08:51] Ladicek commented on #7962
Kinda sorta, yes. I'd like to have a test that doesn't involve OpenTracing, too.

[2020-03-31 08:52] geoand commented on #8291
Can you please also try with Quarkus `1.3.1.Final` ?

[2020-03-31 08:56] bluemonk3y commented on #8239
Project deps,  note - I'm using maven dependency enforcer to prevent collisions

[code]

[2020-03-31 09:35] ia3andy opened #8292 "@ConfigProperty of List<String> with empty default value fail with error"
**Describe the bug**

Using this:
[code]

**Expected behavior**
Should return an empty list (at least I would expect)

**Actual behavior**
Throw an exception:
[code]

**To Reproduce**

Run the tests in:
https://github.com/ia3andy/check-list-config-empty

**Environment (please complete the following information):**
 - Quarkus version or git rev: 1.3.1.Final

[2020-03-31 09:35] ia3andy commented on #8292
@geoand I know you love me right now :-)

[2020-03-31 09:40] geoand commented on #8292
As explained in: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Empty.20list.2Farray.20as.20the.20default.20value.20for.20a.20.40ConfigItem
the proper way to do what you want is to use:

[code]

[2020-03-31 09:40] #8292 closed

[2020-03-31 09:47] ia3andy commented on #8292
@geoand I still believe that's is an issue, IMO having a `Optional<List<String>>` is counter intuitive as Collection are already capable of being empty, why would we want to wrap it in an optional?

When you do things from intuition and it fails, I think we should, most of the time, consider it a bug..

[2020-03-31 09:49] geoand commented on #8292
I can see your point, no doubt :)

[2020-03-31 09:50] ia3andy commented on #8292
@dmlloyd up to you to reopen it ;-)

[2020-03-31 09:51] sandeepsai39 commented on #8291
Tried with 1.3.1.Final. Same issue

[2020-03-31 09:55] geoand commented on #8291
Could you please upload the application so we can check it?

[2020-03-31 09:56] ia3andy opened #8294 "Using @ConfigProperty with Optional<List<String>> throw an exception"
**Describe the bug**
Using:
[code]

**Expected behavior**
Return an empty list when unset

**Actual behavior**
Throws an exception:
[code]

**To Reproduce**
Reproducer:
https://github.com/ia3andy/check-list-config-empty

**Environment (please complete the following information):**
 - Quarkus version or git rev: 1.3.1.Final

[2020-03-31 09:57] ia3andy commented on #8292
The provided solution is not working either: https://github.com/quarkusio/quarkus/issues/8294

[2020-03-31 09:58] ia3andy commented on #8294
@geoand 😇

[2020-03-31 09:58] geoand commented on #8294
I'll take a look

[2020-03-31 10:01] iocanel opened #8295 "Enrich Kubernetes SPI with build items other extensions might need."
**Description**

Often we have other extension need to contribute to the strucutre of the generated kubernetes manifests. Some examples:

- smallrye-health contriubtes Probe configuration
- vertx contributes port configuration
- container-image-xxx contribute image configuration
- kubernetes-client contributes service account & role binding configuration

As discussed in the mailiing list we shoul

[2020-03-31 10:05] fredmtyro commented on #8286
@geoand I agree, but no luck so far :(

While I experiment with that, is there anything else I can do that will provide some insights about the problem?

[2020-03-31 10:11] geoand commented on #8286
Short of debugging quarkus source code, not that I can think of :)

[2020-03-31 10:13] iocanel commented on #8295
@lordofthejars @geoand @maxandersen

[2020-03-31 10:14] geoand commented on #8295
:+1:

[2020-03-31 10:22] lordofthejars commented on #8295
ConfigMaps
Secrets

[2020-03-31 10:42] Legion2 opened #8297 "Unable to copy .env file in dev mode"
**Describe the bug**
The `.env` file for environment variables at project root can't be used on Windows 10.
When creating this file and running `mvnw quarkus:dev` it produces a warning in the log and the environment variables are not used by quarkus.
**Expected behavior**
I can define environment variables in `.env` file and use it in `application.properties` like this:
`greeting.message = ${MESSA

[2020-03-31 10:43] schulzp commented on #8097
Hi, I ran into the same class loading issue with quarkus 1.3.1.Final.

I created a shared maven artifact `com.exmaple:test-shared` which provides classes to be used with `@QuarkusTestResource`. Those implement `QuarkusTestResourceLifecycleManager` and launch multiple, pre-defined and custom containers, e.g. the `org.testcontainers.containers.MySQLContainer` and a custom `com.example.KafkaContainer

[2020-03-31 10:44] Legion2 commented on #7519
@geoand I created #8297. This can be reproduced with the `config-quickstart` example.

[2020-03-31 10:49] mkouba commented on #8292
I can confirm that `Optional<List<String>>` works for `@ConfigItem` (quarkus-specific extension config). However, the behavior is probably undefined in the spec and so it might not work for `@ConfigProperty`...

[2020-03-31 11:00] geoand commented on #8292
There is a bug in `@ConfigProperties` and it does not behave the same as `@ConfigProperty` does - I'm working on a fix now.

[2020-03-31 11:05] Sanne commented on #7936
great to hear, thanks @SchulteMarkus !

[2020-03-31 11:09] Sanne commented on #8287
Agreed, we should eventually find some time to do this.

Although, just for the record I don't think JPA annotations express in any way "how they are stored and/or retrieved": implementation details are intentionally not an inherent aspect of the annotations; this point is also proven by the fact that there's multiple implementations, including implementations which interpret those annotations as

[2020-03-31 11:14] survivant opened #8298 "Should be able to run Integration tests without native mode"
[INFO] Running org.acme.NativeExampleResourceIT
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.088 s <<< FAILURE! - in org.acme.NativeExampleResourceIT
[ERROR] org.acme.NativeExampleResourceIT  Time elapsed: 0.088 s  <<< ERROR!
org.junit.platform.commons.JUnitException: Quarkus native image start failed, original cause: java.lang.RuntimeException: Unable to automatically

[2020-03-31 11:17] Sanne commented on #5691
Is the checklist up to date?

We can probably close this "epic" and defer some of the minor polishing tasks?

[2020-03-31 11:21] sdaschner opened #8299 "Error when putting Qute include inside if/when/for"
**Describe the bug**
When putting an `{include}` inside a `{for}`, `{if}`, or `{with}` (maybe others), the inclusion fails with an error.

**To Reproduce**

The following works as expected:

[code]
[code]
[code]

The following...

[code]

fails with:

[code]

And putting `{include}` inside a `{for}` (for example) fails with:

[code]

However, if the `{include}` is empty, like in the following, the

[2020-03-31 11:24] Sanne opened #8300 "Warn or refuse configuration files with duplicate keys"
**Describe the bug**
I've already encountered a couple of users having misunderstood how a properties file is to be used.

For example, one has the following duplicate property keys and expects multiple datasources to be made available:

[code]

**Expected behavior**
I think we should fail fast and abort the build right away with a clear error.

**Actual behavior**
We boot fine, we don't log anyth

[2020-03-31 11:34] sdaschner opened #8301 "Qute collection access requires restart of quarkus:dev"
**Describe the bug**
When coding Qute templates in `quarkus:dev`, the first time we access a `list.get(index)` fails with a `java.lang.ClassNotFoundException: io.quarkus.qute.runtime.extensions.CollectionTemplateExtensions_Extension_ValueResolver_get_646e8480881185b6bc78b6698eeafb5d7b01c85c$$function$$2`

Once we restart `quarkus:dev` and then the resolver is "known" once, it works as expected (ev

[2020-03-31 11:46] dmlloyd commented on #8292
Because every config property may or may not be empty, yet not every type has an empty representation. Additionally, this is a natural consequence of the necessary logic to handle empty values consistently.

I'm sorry you feel this way, but do not make the mistake of assuming that intuition is uniform to all, or that it is necessarily correct. After all, intuition tells us that the Earth is flat..

[2020-03-31 11:48] gsmet commented on #5691
I think it mostly is, I updated it yesterday.

I prefer to have one issue that centralizes this personally so that we can be sure we don't forget anything.

[2020-03-31 11:50] geoand commented on #8292
LMAO :)

[2020-03-31 11:51] dmlloyd commented on #5691
The main task - requiring 11 - doesn't even have an issue yet, so there's a bit more than "minor polishing" left... :-)

[2020-03-31 11:58] lodrantl commented on #4922
I tried with the master version of quarkus-http and nothing changes. X-Forwarded-Proto and X-Forwarded-Port are used correctly, but X-Forwarded-Host is just disregarded completely. Tracked it down to getHostandPort() method in HttpServerExchange.java.
https://github.com/undertow-io/undertow/blob/master/core/src/main/java/io/undertow/server/HttpServerExchange.java#L646

The ForwardedHandler from Un

[2020-03-31 12:02] ia3andy commented on #8292
@dmlloyd I would handle all Optional<..> as we currently do, but I would also make it work with types which have an empty representation. This would also be a consistent way to handle empty IMHO.

Well, do you want me to create a rocket trying to prove that `Optional<List<..>>` is an heresy 😂

[2020-03-31 12:06] #5924 closed

[2020-03-31 12:10] geoand commented on #8297
This is weird since the feature is being tested in Windows as well. We would need someone with a Windows machine to take a look and find the root cause of this.
@jaikiran would you be able to take a look?

[2020-03-31 12:11] geoand commented on #8097
@schulzp would you be able to provide a reproducer we can check?

[2020-03-31 12:20] dmlloyd commented on #8292
To do so would require extra handling specific to collections and strings.  It doesn't seem worth it to me when we can use `Optional` and have it mean the exact same thing for every possible type.  OTOH, a user can always use `orElse` to get whatever their desired empty value representation is, regardless of type.

Put another way: what does "required" mean in this context?  Our interpretation is

[2020-03-31 12:39] #8260 closed

[2020-03-31 12:42] sandeepsai39 commented on #8291
[jpa-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/4409043/jpa-with-quarkus.zip)
uploded my application

[2020-03-31 12:54] ia3andy commented on #8292
Ok ok, I think you convinced me :-)

When I have time I will update the configuration doc,  your explanation here is really good. The doc should say that:
- having `defaultValue=""` is never making sense, I think we should have a warning for that case.
- required fields (non Optional) must either provide a non `""` defaultValue or be defined.
- Using `Optional<...>` with a defaultValue is not real

[2020-03-31 13:02] Sanne commented on #5691
Fair enough, just checking this wasn't an abandoned issue.

Ok, but note that this issue is named "migration" not "requiring" - so I assumed we were good enough.

@dmlloyd when imporing the Quarkus sources in IDEA, at least in my case it defaults to JDK11 and then it fails to compile because of:

[code]

in `io.quarkus.runtime.Application` . Is that something on your radar?

[2020-03-31 13:03] mkouba commented on #8301
That's really odd. I was able to reproduce this issue with the [qute quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/qute-quickstart) **but only once**.

Steps:
1. `mvn clean`
2. `mvn quarkus:dev`
3. Open `http://localhost:8080/items` -> OK
4. add `{items.get(0)}` to the `src/main/resources/templates/items.html` file.
5. Reload the browser -> NCDF for `CollectionTemplateEx

[2020-03-31 13:04] dmlloyd commented on #5691
That's odd.  Those classes are present in 11 (in the `jdk.unsupported` module) and I don't seem to have that problem, despite also using 11 as my default.

[2020-03-31 13:07] dmlloyd commented on #8292
Yeah effectively `""` is always the default if no other is given.

Disagree on both of these.  Whether a property has a default value is orthogonal to whether the property is required.  For example, I could have an optional property of type `List` which contains `"foo,bar"` by default, but is also allowed to be empty (and the user could explicitly make it empty by giving an empty string).  An exam

[2020-03-31 13:12] geoand commented on #8291
I'm going to close this, because it's actually an error in the configuration (`application.properties` the datasource declaration twice).

https://github.com/quarkusio/quarkus/issues/8300 should be implemented to make these errors more clear.

[2020-03-31 13:26] geoand commented on #8291
Actually I am reopening this one for the specific issue that we currently can't seem to set both:

[code]

Not being able to set them together is fine (I guess, although when they "match", it probably should be allowed), but we at least need a good error message.

[2020-03-31 13:27] ia3andy opened #8306 "Improve doc regarding Configuration"
**Description**
We could improve the https://quarkus.io/guides/config to further explain how to deal with required/optional props and be really precise on how "defaultValue" works.

[2020-03-31 13:28] ia3andy commented on #8292
Thanks for all the info @dmlloyd, following our discussion, I created a housekeeping issue and will improve the doc asap: https://github.com/quarkusio/quarkus/issues/8306

[2020-03-31 13:35] geoand commented on #8300
I'm going to remove the `good first issue` tag since this isn't really that easy to implement - it requires some tinkering with the Quarkus config system.

[2020-03-31 13:50] andrejpetras commented on #6607
@adrianfiedler will start work on it.

[2020-03-31 13:52] andrejpetras commented on #6607
@gastaldi could we assign this issue to @adrianfiedler?

[2020-03-31 13:58] gastaldi commented on #6607
@andrejpetras hm, I think he needs to belong to a certain team, which unfortunately I don't have access to do that :(

@gsmet might help here I think

[2020-03-31 14:35] #8269 closed

[2020-03-31 15:00] BigFatDog commented on #8064
Hi @sberyozkin, @pedroigor
I believe this is a duplicate of #8207
My latest configuration is:
1. in `application.properties`, I separate `public endpoints`(swagger, health) from `rest endpoints` via avoiding using `root context path`:
[code]
2. in rest endpoints:
[code]
3. in keycloak, only `/api/workbench/*` is configured
4. Still gets `401 error` with public endpoints, saying `not resource defin

[2020-03-31 15:24] #8254 closed

[2020-03-31 15:45] rahulwagh opened #8309 "Unrecognized configuration key "quarkus.http.insecure-requests" was provided; it will be ignored"
**Describe the bug**
I was trying to implement a rest endpoint and it worked properly. After that, I was trying to disable the insecure-requests by defining the following property in application.properties

`quarkus.http.insecure-requests=disabled`
`quarkus.http.ssl.certificate.key-store-file=/keystore/keystore.jks`
`quarkus.http.ssl.certificate.key-store-password=mypassword`

But what happened is

[2020-03-31 15:49] #8299 closed

[2020-03-31 15:52] camboui commented on #6105
Hi,

Did you find a way to fix this ?

Thanks !

[2020-03-31 15:52] sean-scott-lr commented on #7140
@stuartwdouglas Can you provide some guidance on this?  Maybe a suggested workaround?  We are have this issue with our Pact testing as well.

[2020-03-31 15:55] geoand commented on #8309
The `quarkus.http.insecure-requests` option was added in Quarkus `1.3.0.Final` while you are using `1.2.1.Final`.

[2020-03-31 15:55] #8309 closed

[2020-03-31 16:35] Sanne commented on #8195
hi @n1hility , right that's a good chunk of the time: we're loading the whole infrastructure to perform such things.

The "define the new class" is taking some time as well, but I'm not sure how we could mitigate that.

There might be something else at play as well? According to the samples in John's flamegraphs, this new proxy stuff is responsible for just `4.8%` of the overall bootstrap time.

[2020-03-31 17:31] #8294 closed

[2020-03-31 17:53] j-be commented on #6948
@knutwannheden For completness: the workaround from https://github.com/quarkusio/quarkus/issues/6948#issuecomment-581516291 works fine for me.

As a side-note: you need to inject your bean **somewhere** (it seems to neither matter where, nor if it is actually used there) for it to be available for programmatic lookup via `CDI.current()`.

[2020-03-31 18:16] ppurdy commented on #7140
1.3.1 Final has changed this bug slightly.  Now the method is found, but the method cannot be invoked and produces an IllegalArgumentException.

In runExtensionMethod:

            List<Object> originalArguments = invocationContext.getArguments();  // These arguments come from the System Class Loader
            List<Object> argumentsFromTccl = new ArrayList<>();
            for (Object arg : orig

[2020-03-31 18:54] diogocarleto opened #8311 "quarkus-mongodb-panache paging problems"
Suppose we have 10 livingPersons:

`PanacheQuery<Person> livingPersons = Person.find("status", Status.Alive);`

and I've decided to page:

`livingPersons.page(Page.of(3, 3)).list();`

It is supposed to returns livingPersons with 1 element in the list, since it is the latest page.

But... it returns 3 elements in livingPersons.

I've discovered that the problem is in the `PanacheQueryImpl`, in the

[2020-03-31 18:56] juanmbellini commented on #8287
Yes, I could only add the annotations to the models.
But if I want to map a field to a column with another name (if storing in an SQL database), I would need to add the `@Column` annotation specifying the column's name. This would not be an implementation detail of JPA, but I'm forcing the model to know that it is being stored in an SQL database, which are the columns being used, and also forcing

[2020-03-31 19:26] knutwannheden commented on #6948
@j-be The workaround you mention appears to be working for JPA entity listeners, but I don't see it working for Envers revision listeners. Explicitly injecting a revision listener instance somewhere else doesn't help with the instantiation that is required for Envers.

To my example I have now however added an `@Dependent` annotation to `MyRevisionListener` and then also inject it into `MyRevision

[2020-03-31 19:42] bpechiney commented on #6276
Has there been any work done to support contract testing in Quarkus?

[2020-03-31 20:01] sherl0cks commented on #7999
@emmanuelbernard @n1hility bumping this. It would be really nice to have clear guidance on the kotlin guide here. I'm happy to submit a PR, but I don't know how you want to frame this. Also worth noting that there is now progress with Graal and kotlin coroutines which should be released in Graal 20.1 https://github.com/oracle/graal/issues/1330.

The other item that came to mind is the way the AWS

[2020-03-31 20:02] MawsFr commented on #7095
Oh I didn't know that if you set both `quarkus.http.root-path=/custom-root` and `@ApplicationPath("/v1")` the final root-path would be `custom-root/v1/`

The manner you used to set servers.url is not a hack, as you pointed with the documentation, it's the equivalent to the use of [@OpenAPIDefinition](https://github.com/swagger-api/swagger-core/wiki/Swagger-2.X---Annotations#openapidefinition) or [

[2020-03-31 20:04] sherl0cks commented on #7919
@kenfinnigan bump. Is there a quick fix here where the extension registers `java.lang.String` for reflection?

[2020-03-31 20:06] j-be commented on #6948
@knutwannheden that is weird indeed. I am using the workaround in an envers `RevisionListener` to accees the userId from the OAuth Cookie and save it inside the revision. What I am doing is:

* Define a `@ApplicationScoped SecurityService`
* `@Inject` all the needed stuff there
* `@Inject SecurityService` in one of my JaxRS classes
* Use `CDI` in the `RevisonListener`

I'm not sure whether the `Se

[2020-03-31 20:17] kenfinnigan commented on #7919
TBH I don't know, my concern would be if the extension does that then it will always be present irrespective of whether it's needed. In and of itself it's not a huge impact, but if we take the same approach in all places something like this happens it becomes a bigger problem fast.

I'd also be curious to know whether a reproducer outside AWS Lambda has the same issue.

[2020-03-31 20:17] knutwannheden commented on #6948
@j-be Using `CDI.current()` in the `RevisionListener` should work as expected, but normally it should be possible to use `@Inject` in the `RevisionListener` implementation.

The problem is then that the `@Inject` annotated fields are `null`.

[2020-03-31 20:20] Sanne commented on #8195
I've been staring a bit more at those flamegraphs, and there's a couple more weird things:

 - apparently the "create schema" tool was invoked as well, and it managed to complete in only two samples. I can't believe that connecting to the DB and creating the schema is faster than loading most classes, as I see many class load events taking about ~10 samples.

 - there's many other events which are

[2020-03-31 20:24] j-be commented on #6948
@knutwannheden sorry, my bad, only saw your "Oops" comment just now. Nevermind then, I didn't get `@Inject` to work either, but it sure would be nice to have 😃

[2020-03-31 20:28] sherl0cks commented on #7919
@kenfinnigan well `java.lang.String` here is a reflective dependency of the logging framework in the RESTEast client. If the extension is used without swapping out the logging, that class is required.

Probably the reason this was not caught is because folks use Java so graal always sees `java.lang.String` on the heap. We're using Kotlin, which has its own String impl, which is what I think expose

[2020-03-31 20:59] #5640 closed

[2020-03-31 21:29] dforsl commented on #7549
+1 on this.

Fixing this would be so appreciated... It's a really frustrating dev-experience when `native-image` is failing and you can't see why.

[2020-03-31 23:45] samjdacanay opened #8314 "Scheduler - Configurable Init Delay"
**Description**
In the @Scheduled annotation, it is possible to specify a delay attribute, which will cause the scheduled method to not initially run until that delay has expired. It is defined as follows:

[code]

This feature is working as is, but requires that the delay be defined in a hardcoded fashion when called.

It seems like a reasonable ask to request that this variable be parsed similar

[2020-04-01 03:21] stuartwdouglas commented on #8301
I could not reproduce this, but I think I have a fix.

[2020-04-01 04:00] jaikiran commented on #8297
I borrowed a Windows setup and gave this a quick try and I haven't been able to reproduce this. I even tried hot reload and a few other things and even that worked fine.
I've opened https://github.com/quarkusio/quarkus/pull/8319 so that we atleast know why it's failing on @Legion2's setup

[2020-04-01 05:20] geoand commented on #8297
Thanks a lot @jaikiran!!!

[2020-04-01 05:28] #8295 closed

[2020-04-01 05:33] lordofthejars commented on #8295
Great!!! Thanks.

[2020-04-01 06:43] #4922 closed

[2020-04-01 07:02] Ladicek commented on #4723
I agree with @gastaldi: users typically already have their own corporate parent POM. In such case, pushing "common stuff" into a parent POM in an example makes the example harder to use / less useful. If the example has everything that one needs to use Quarkus, you immediately see it. If it's pushed out to a parent POM, it's not immediately obvious, and you even need to figure out what exactly fro

[2020-04-01 07:29] loicmathieu commented on #8311
This has already been fixed in master, we know correctly set the `skip()` value:

The fix will be included in 1.4

[2020-04-01 07:41] schulzp commented on #8097
@geoand, I tried but it's quite flaky behavior. Here is what I found out: The problem comes from code running inside the common `ForkJoinPool` whose threads might have not set a `QuarkusClassLoader` set via `Thread.setContextClassLoader` but use the system default `jdk.internal.loader.ClassLoaders.AppClassLoader`.

In my case I start multiple testcontainers in parallel using `Stream.of(container1,

[2020-04-01 07:57] geoand commented on #8311
@loicmathieu if this has already been fixed in `master`, then I presume we should close the issue?

[2020-04-01 08:22] loicmathieu commented on #8311
@geoand yes, closing it

[2020-04-01 08:22] #8311 closed

[2020-04-01 08:42] Postremus opened #8323 "ClassCastException from HV when validating lazy child entities"
**Describe the bug**
In my resource, I create an parent entity, with multiple child entities.
The child entities are all lazy.
The first call works.
No exception from the hibernate-validator.

In the second call, more child entities are added to the same parent.
The hibernate-validator throws an exception

**Expected behavior**
Lazy entities get validated correctly in all cases.

**Actual behavior

[2020-04-01 09:02] pivovarit commented on #8094
And https://github.com/quarkusio/quarkus/pull/6758 :)
Which now lives [here](http://github.com/hazelcast/quarkus-hazelcast-client/) and is getting ready for the first release.

[2020-04-01 09:10] tpenakov opened #8324 "Spring Web API - implicit PathVariable annotation name"
This code works on Spring Web Framework:
[code]
In order to make it to work for [Quarkus Extension for Spring Web API](https://quarkus.io/guides/spring-web) I have to explicitly specify the name of the `PathVariable` annotation:
[code]
The logic in Spring Web Framework seems to be something like this: If the `PathVariable` annotation `name` attribute is empty we have to assume that the name is the

[2020-04-01 09:21] geoand commented on #8324
@tpenakov

Have you tried setting: `<maven.compiler.parameters>true</maven.compiler.parameters>`?

[2020-04-01 09:36] tpenakov commented on #8324
I did not.
IMO this have nothing to do with maven.
The path `/destination/{destinationId}` does not have a maven property inside. It is a path variable.

[2020-04-01 09:44] gytis commented on #8186
@geoand do you think it should be added to a [config docs](https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/config.adoc) or would it make more sense to create a separate guide?

[2020-04-01 09:45] geoand commented on #8324
That is not entirely true.

In order for the construct above to work, method parameter name information needs to be in the bytecode (alternatively uses debug information, but that we definitely won't support).
When using `<maven.compiler.parameters>true</maven.compiler.parameters>`contains the necessary method parameter names are added to the bytecode and the usecase above should work.

[2020-04-01 09:54] geoand commented on #8186
I don't think it should be added in that section, but I don't have any good solutions. My initial thought was to just shove it into a section [here](https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/spring-cloud-config-client.adoc)

[2020-04-01 09:56] gytis commented on #8186
I agree that it shouldn't be added to the generic config section. I just wasn't sure what you meant by config client guide.

[2020-04-01 10:01] gytis commented on #8186
But I'm also not sure about the `spring cloud config client` section. Spring Boot properties could be used without a configuration server, so people might not even look at this guide if they only need to access local properties.

[2020-04-01 10:03] tpenakov commented on #8324
@geoand ,
Thank you!
I've tested it.
In the main project it works fine - no needs to add `<maven.compiler.parameters>true</maven.compiler.parameters>`, however when the `@RequestMapping` is in a third party project - it does not work in both cases.

[2020-04-01 10:06] geoand commented on #8324
When you say third party project, you mean a jar that you include in your project?
If that is the case, then that third party project needs to be built with `<maven.compiler.parameters>true</maven.compiler.parameters>`.

[2020-04-01 10:07] geoand commented on #8186
That is true. If you want to add new doc instead of adding it there, go right ahead :)

[2020-04-01 10:07] #8220 closed

[2020-04-01 10:11] agoncal opened #8326 "Property quarkus.banner.path not found"
**Describe the bug**

Reading the [Quarkus Configuration](https://quarkus.io/guides/all-config#quarkus-core_quarkus-core) documentation, there is the `quarkus.banner.path` with the following description:

[code]

So when I get the configuration property `quarkus.banner.path` I expect the value `default_banner.txt` but I get a `NoSuchElementException: Property quarkus.banner.path not found`

**Expe

[2020-04-01 10:20] keinproblem commented on #6376
I am currently looking for a way to access the context information of an Lambda HTTP Integration Request.
There are currently a few model implementations available: https://github.com/quarkusio/quarkus/tree/master/extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/model

Generally it might be reasonable to separate Context and Request.
If you deal with the amazon-lam

[2020-04-01 11:12] geoand commented on #8323
cc @gsmet @Sanne

[2020-04-01 11:14] tpenakov commented on #8324
You are absolutely right :)
I confirm - It is working now with the third party project compiled with `<maven.compiler.parameters>true</maven.compiler.parameters>`
Thank you!

[2020-04-01 11:14] #8324 closed

[2020-04-01 11:16] geoand commented on #8326
[BannerConfig](https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/banner/BannerConfig.java#L7) is a build-time only property (due to the default of `@ConfigRoot`), meaning that it isn't visible at all at runtime.

See [this](https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/annotations/ConfigPhase.java) for more de

[2020-04-01 11:16] #8326 closed

[2020-04-01 11:17] geoand commented on #8324
You are very welcome!

[2020-04-01 11:51] agoncal commented on #8326
Thanks.

Why not adding an extra column in the config documentation (https://quarkus.io/guides/all-config#quarkus-core_quarkus-core) adding the config phase ? That would be a precious information.

[2020-04-01 11:59] geoand commented on #8326
https://quarkus.io/guides/all-config#quarkus-core_quarkus.banner.path has an icon with a tooltip saying that it's fixed at build time.
But I have to admit that isn't the first time I have heard of someone not noticing it :).

@gsmet @maxandersen ^

[2020-04-01 12:03] #8301 closed

[2020-04-01 12:12] emmanuelbernard commented on #7999
On the co-routine aspect I would frame it as such. GraalVM and Kotlin co-routines are work in progress blah blah. You can use them in Quarkus apps but native executable support is hit and miss. The Quarkus way to do reactive is via Mutiny and vert.x as it brings more to the table than co-routines. See https://blog.softwaremill.com/will-project-loom-obliterate-java-futures-fb1a28508232 for a great

[2020-04-01 12:15] emmanuelbernard commented on #8195
What is surprising is that the REST app does not see the startup time and RSS degradation. Only the CRUD+REST one. So Hibernate could be incidental with something else, or it is the root cause.
@johnaohara how could we proceed to get some more clues?

[2020-04-01 12:21] caiquecastanho commented on #2931
I'd like to use this feature too...please !

[2020-04-01 12:26] Sanne commented on #8195
I have no doubt that my change in Hibernate is the _primary_ cause, I just wonder if something else is going on as well as the change only justifies a (good) portion of the difference. Just to fairly asses how urgent this is - I still believe it's not that urgent compared to other focus options.

[2020-04-01 12:40] agoncal commented on #8326
Oh, the little lock ?! Ok, makes sense. Well, I should have paid more attention to the icon then. Sorry.

Thanks for your help

[2020-04-01 12:41] geoand commented on #8326
You are welcome :)

[2020-04-01 12:57] #8135 closed

[2020-04-01 13:09] Karm opened #8329 "FaultToleranceDefinitionException: Member applyOn on annotation class com.sun.proxy.$Proxy34 doesn't exist or is not accessible"
**Describe the bug**
Small Fault tolerance example code throws ```FaultToleranceDefinitionException: Member applyOn on annotation class com.sun.proxy.$Proxy34 doesn't exist or is not accessible``` with Quarkus 1.3.0.Final and 1.3.1.Final.  It works fine with Quarkus 1.2.1.Final.

**Expected behavior**
Reproducer returns text: "Fallback answer due to timeout"

**Actual behavior**
[code]

**To Repro

[2020-04-01 13:19] gytis commented on #8186
Guide PR: https://github.com/quarkusio/quarkus/pull/8330
Quickstart PR: https://github.com/quarkusio/quarkus-quickstarts/pull/516

[2020-04-01 14:08] emmanuelbernard commented on #352
@Sanne should we close this as won't fix? At least not in this form?

[2020-04-01 14:10] emmanuelbernard commented on #3454
@FroMage Feels like https://github.com/quarkusio/quarkus/issues/474 is a dupe of this issue for the most part? Should we merge them?

[2020-04-01 14:17] FroMage commented on #3454
We should, but #474 has some ideas not present here.

[2020-04-01 14:21] emmanuelbernard commented on #290
Hey there, I'm thinking of closing this issue. If you feel that would be wrong, can you say so and tell why.

[2020-04-01 14:25] gastaldi commented on #290
+1 to close it

[2020-04-01 14:26] emmanuelbernard commented on #624
@gastaldi is it fixed and orphan or still pending work? No rush, just doing some cleaning

[2020-04-01 14:28] gastaldi commented on #624
@emmanuelbernard It's still pending work. PR is in #6496

[2020-04-01 14:31] emmanuelbernard commented on #1016
is that still a thing? cc @patriot1burke

[2020-04-01 14:35] #1310 closed

[2020-04-01 14:37] gytis commented on #3454
This issue is directly tied to Panache and defines a controller with CRUD operations for entities. #474 is a more abstract version of it which doesn't require data access nor specifies a set of standard operations.
If #474 is implemented, this issue could probably reuse it. However, do you think that we could reuse bits from this PR https://github.com/quarkusio/quarkus/pull/7840 and refactor it in

[2020-04-01 14:41] emmanuelbernard commented on #1499
now moved to @insectengine

[2020-04-01 14:42] #1508 closed

[2020-04-01 14:46] dmlloyd commented on #290
It's still needed IMO - as are a few other really fundamental design changes - but OTOH we've scraped by with our current more ad-hoc error reporting.  Perhaps as the world turns, the right conditions to fix this will come around again in the future and we can address it then.

[2020-04-01 14:46] #290 closed

[2020-04-01 14:58] emmanuelbernard commented on #8134
@ia3andy can you figure our whether you want to close this one or #1940 and add the surviving one to the roadmap board?

[2020-04-01 15:06] emmanuelbernard commented on #2971
Is it obsolete?

[2020-04-01 15:08] emmanuelbernard commented on #3105
I'll close this one as you have a reactive task for mutiny likely already done.

[2020-04-01 15:08] #3105 closed

[2020-04-01 15:08] emmanuelbernard commented on #3106
Closing as Qute is not a thing

[2020-04-01 15:08] #3106 closed

[2020-04-01 15:09] #3107 closed

[2020-04-01 15:10] stianst commented on #4481
Adding my 2 cents to this one:

For initiating the logout that's simple it's RP initiated logout endpoint, which we support.

For pushing logout that's more tricky. Front-channel logout is pretty much EOL due to third party cookies becoming blocked (Safari already blocks these, and Chrome will follow suite in 2022). That leaves two options:

a) Stateless - we basically need to invoke token introsp

[2020-04-01 15:10] patriot1burke commented on #1016
@emmanuelbernard I implemented this as part of a larger brach, but never merged the changes for this.  Keep the issue open please.  I had the ability to pass around a ResteasyDeployment object that could be added to and the creation of this deployment with a recorder rather than having Undertow do it.

[2020-04-01 15:12] emmanuelbernard commented on #3217
@cescoffier is that still something to be done? Or is it done? Just for cleanup purposes

[2020-04-01 15:12] emmanuelbernard commented on #3232
We did our best :D

[2020-04-01 15:12] #3232 closed

[2020-04-01 15:13] kenfinnigan commented on #7919
I wonder if we need to exclude Apache Commons Logging from the RESTEasy Client dependency?

I think Quarkus as a whole uses JBoss Logging instead

[2020-04-01 15:14] mkouba commented on #3106
@emmanuelbernard What do you mean "not a thing"? ;-) Anyway, +1 for closing this issue.

[2020-04-01 15:14] emmanuelbernard commented on #3324
CC @murphye as he did some work in the area

[2020-04-01 15:16] johnaohara commented on #8195
To address the comments so far

-  yes there are variances in the results.  I have compared averages of 50 runs

- the extra time is seen for starting the -runner.jar after build time. it does not affect native mode, I have not profiled dev mode

- there is an increase of heap space caused by classlaoding in bytebuddy. The classes do not appear to be entity classes, but from initialization of the

[2020-04-01 15:20] #3782 closed

[2020-04-01 15:21] #3968 closed

[2020-04-01 15:25] sekaijin opened #8335 "quarkus:dev don't close DB connections"
**Describe the bug**
Wthen you run `mvn quarkus:dev`
hit CTRL+C to stop. on windows 10 the process are killed. And the db connections never closes.

**Expected behavior**
clean server shutdown

**Actual behavior**
process killed

**To Reproduce**
Steps to reproduce the behavior:
1. create project with datasource and select data
2. run mvn quarkus:dev
3. hit Ctrl+C

**Configuration**
[code]

**Scre

[2020-04-01 15:25] emmanuelbernard commented on #4324
Fixed by #7588 I think

[2020-04-01 15:25] #4324 closed

[2020-04-01 15:26] emmanuelbernard commented on #4367
Done unless the single loop had babies after 1.3

[2020-04-01 15:26] #4367 closed

[2020-04-01 15:27] emmanuelbernard commented on #4431
I like the idea but will close it. Can you open a sister issue in SmallRye so we can implement it there. And then we can propose it to the MP to improve the spec. cc @kenfinnigan

[2020-04-01 15:27] #4431 closed

[2020-04-01 15:28] emmanuelbernard commented on #4431
that was a remark to @lordofthejars - forgot to add ;)

[2020-04-01 15:28] jeremyrdavis commented on #7809
I experienced this with 1.3.1.Final
Adding quarkus-smallrye-context-propagation solved this for me

[2020-04-01 15:29] emmanuelbernard commented on #4505
Hey @abner we did some work in that area in Quarkus 1.3. Can you try it out and reopen if that's still an issue?

[2020-04-01 15:29] #4505 closed

[2020-04-01 15:38] emmanuelbernard commented on #3106
s/not/now/ Sorry :D

[2020-04-01 15:44] #4616 closed

[2020-04-01 15:45] emmanuelbernard commented on #4693
@geoand isn't this one fixed or planned via SR fix? Feels like a duplicate.

[2020-04-01 15:53] emmanuelbernard commented on #5113
@dmlloyd does that mean we can close this one?

[2020-04-01 15:54] emmanuelbernard commented on #5175
can you check again on Quarkus 1.3+ Lots has happened since then. Please reopen as needed

[2020-04-01 15:54] #5175 closed

[2020-04-01 15:57] geoand commented on #4693
There is a fix in the works on the smallrye side of things so yeah, let's close this

[2020-04-01 15:57] #4693 closed

[2020-04-01 15:59] emmanuelbernard commented on #5579
is that out of data @patriot1burke ?

[2020-04-01 16:00] dmlloyd commented on #5113
I think so.

[2020-04-01 16:01] #5594 closed

[2020-04-01 16:04] ia3andy commented on #1940
This is a must have and going to be part of #8134

[2020-04-01 16:09] emmanuelbernard commented on #5754
I'm unclear what would be reason for some to write his entity as final if it knows it will be written by Hibernate down the line? I'm not saying it's good/bad, but I'm not sure of the train of thoughts

[2020-04-01 16:10] lucas-dclrcq commented on #4766
Configuring smallrye-openapi like below I have the same issue :
[code]
I can successfully login, but am redirect to /oauth2-redirect.html.

When I manually prefix this path with /swagger-ui it works.

[2020-04-01 16:40] patriot1burke commented on #5579
@emmanuelbernard Its out of date once my latest PR gets in.

[2020-04-01 16:47] #5113 closed

[2020-04-01 16:50] emmanuelbernard commented on #5579
Keeping it open until it gets in then. Thanks.

[2020-04-01 16:59] ddewalle opened #8336 "Unable to listen startup event and to schedule when insecure-requests is disabled (SSL/TLS)"
**Describe the bug**
When using SSL/TLS with property quarkus.http.insecure-requests = disabled :

- onStart(@Observes StartupEvent evt) is not called
- Method annotated with @Scheduled are not invoked

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project
[code]
2. In src/main/java/org/acme add FooService.java
[code]
3. In src/main/resources , Create a foo.jks file with self-signe

[2020-04-01 17:19] Sanne commented on #352
I was actually in favour of the idea of allowing a sub-set of dialects to be included; as long as:
 - the user makes an explicit list
 - people understand that the binary size will be quite larger

Also, we'll need something like this either way to be handled as we're currently lacking precise metadata from the DB: we normaly get this at connection time, now we're going with the defaults but that'

[2020-04-01 17:20] Dufgui commented on #1940
Could I help on this. ? Nobody reply to me but I am really interested on this

[2020-04-01 17:20] Dufgui commented on #8134
Could I help on this ?

[2020-04-01 17:40] nimo23 commented on #5754
I was thinking about having an entity with finalized properties through all layers and not only on ORM-level (which could be achieved by `org.hibernate.annotations.Immutable` or `read-only` entityManager).

For example:

// the properties of a user entity cannot be changed after it was created
[code]

Such _finalized entities_ can be similar to a Java Records (JEP 359) and the ORM (or Panache) can

[2020-04-01 17:40] #5754 closed

[2020-04-01 18:15] maxandersen commented on #8326
@agoncal so you think the lock is enough ? before we had both a lock (build time) and a gear (runtime) but I suggested we just showed lock so we only put a visual icon for things that has "limitations"....but sounds like you still missed it ;)

[2020-04-01 18:17] ge0ffrey commented on #8331
Thanks!

[2020-04-01 18:42] stianst commented on #4481
Adding some more details:

I can think of a few options to invalidate the "authentication context" for stateless applications when logout is initiated from a different application, which is important since we are talking about SSO here:

1. Session management session status change notification - this should not be considered for two reasons. First, "logout" doesn't happen until user actively uses

[2020-04-01 18:56] hartimcwildfly commented on #6606
Just reverting the delete commit is easier: hash is ba3eaf8965912dc41a706bed2c530837961e94b0

[2020-04-01 19:17] pedroigor commented on #4481
Yeah, a combination of both approaches should be OK. Although not yet bulletproof, as you mentioned (not surprisingly when talking about global logout).

[2020-04-01 19:32] Sanne commented on #6112
This should follow up onto #3894

[2020-04-01 20:33] agoncal commented on #8326
@maxandersen well, if I am the only who missed the lock, never mind. But if I'm not the only one, maybe the UI coud be improved. For me, an extra column with this information would have been better (but it's personal taste)

[2020-04-01 21:36] #6350 closed

[2020-04-01 21:40] sberyozkin commented on #8064
@BigFatDog Did you mean #6807 ? If you agree it is a duplicate then please close this one

[2020-04-01 21:41] sberyozkin commented on #7862
@dmlloyd I'm sorry, I've missed your question. I'll check asap and update

[2020-04-01 21:53] sberyozkin commented on #4481
@stianst thanks for the detailed analysis, yes, as @pedroigor mentions, we can start from a) + b) (I can check what can be done around b) with Vertx) and depending on the demand I guess - c) (stateful backchannel logout).
The other few things I'd like to comment about:
- It would be good to have a logout mechanism pluggable so that you and Pedro can innovate with the new ideas
- I'm curious if `qu

[2020-04-02 02:13] stuartwdouglas commented on #4272
The synthetic bean stuff takes care of my use case.

[2020-04-02 02:13] #4272 closed

[2020-04-02 05:00] #8186 closed

[2020-04-02 05:59] sebastienblanc commented on #4481
When building an app with Qute Templating, then yeah, you have a stateful application.

[2020-04-02 06:01] gattytto commented on #5920
the best would be an OCI compliant runtime for CRI-O, like [gVisor](https://github.com/google/gvisor) could I sugest qVisor?

[2020-04-02 06:22] #8180 closed

[2020-04-02 06:46] lordofthejars opened #8342 "DataSource properties are not taking priority when using TestContainer"
**Describe the bug**

DataSource properties are not taking priority when they are returned from TestContainer in form of Map

When using TestContainers with more than one driver in the classpath, and you want to use one specific for the test, driver or dialect properties are ignored.

**Expected behavior**

Properties returned needs to be supported.

**Actual behavior**

An exception

**To Reprodu

[2020-04-02 07:21] emmanuelbernard commented on #352
Ok so that means that we would prebuild metadata for each dialect and discard the useless ones at runtime. Looks like quite some work on the Hibernate extension side but would help the layered products.

[2020-04-02 07:48] geoand commented on #6717
I ran the test locally and everything passed so I think the test failure was just an infrastructure issue.

[2020-04-02 08:14] loicmathieu commented on #5433
@FroMage reading this Zulip thread: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/panache.20sequence

I think that we need to implements for both Panache flavors a chech that if PanacheEntity is used and an ID is defined (via JPA `@Id` or Mongo `@BsonId` annotation) an exception is thrown at build time.
This avoid unexpected behaviour ...
WDYT ?

[2020-04-02 08:18] loicmathieu commented on #4193
I close this one as:

- Transaction support is curently prototyped in two PRs: #6365 and #7222
- A lot of works has been done to avoid reflection at runtime
- String concatenation is as powerful as using a `StringBuilder` since Java 9 (new string concat factory). I've done tests and modifying the `MongoParserVisitor` in various way to avoid String concatenation without substential performance impr

[2020-04-02 08:18] #4193 closed

[2020-04-02 08:33] geoand commented on #8342
@lordofthejars I think that in `master` you won't have the same problem.

[2020-04-02 08:41] lordofthejars commented on #8342
No worries, for this evening talk I am just creating a different module, so different classpath.

[2020-04-02 08:44] Xanas80 opened #8344 "Injection on @QuarkusTest too late for @ExtendWith"
**Describe the bug**
Since version 1.3.0.Final for example injected UserTransaction on @QuarkusTest ist too late if we use @ExtendWith. All @Inject fields on the test class are null on BeforeEachCallback.

**Expected behavior**
We expect the fields to be injected before BeforeEachCallback, as they were until Quarkus version 1.2.1.Final.

**Actual behavior**
(Describe the actual behavior clearly an

[2020-04-02 08:53] loicmathieu commented on #6095
@nimo23 support for `@NamedQuery` is on it's way via #8071 and _read only transactions_ are investigated via #7455

Does these two issues cover your needs?
Can we close this one?

[2020-04-02 08:55] mkouba commented on #7124
@rsearls Unfortunately, your reproducer requires some SNAPSHOTs, e.g. `org.jboss.resteasy:resteasy-wadl:jar:4.5.0-SNAPSHOT`.

Anyway, I've tried to modify the `io.quarkus.arquillian.test.SimpleTest` to throw an exception from an `@Observes @Initialized(ApplicationScoped.class)` observer:
[code]

And I can see the following error:
[code]

[2020-04-02 08:56] loicmathieu commented on #3969
@FroMage WDYT of this one ?

Should we  provides `persistOrUpdate` for Hibernate with Panache with an implementation close to what I propose here: https://github.com/quarkusio/quarkus/issues/3969#issuecomment-570586080 or should we close it ?

Maybe @Sanne has some ideas around this as well ;)

[2020-04-02 09:01] loicmathieu commented on #3966
@hantsy we have the `spring-data-jpa` extension that provides this capabilities https://quarkus.io/guides/spring-data-jpa.
Panache philosophy is to provides querying via String not via custom methods, we simplify writing query String for this purpose.

There is openned PR around validating the query string at build time that will provides build safety (and maybe we will create / integrate an annot

[2020-04-02 09:03] mkouba commented on #4842
FYI the `RuntimeBeanBuildItem` was deprecated and removed. We now have the `SyntheticBeanBuildItem` that can be used for both the STATIC_INIT and RUNTIME_INIT. See `io.quarkus.arc.deployment.SyntheticBeanBuildItem.ExtendedBeanConfigurator.setRuntimeInit()` for more info.

@geoand Pls could you review this issue and let us know if it fits your needs?

[2020-04-02 09:04] geoand commented on #4842
@mkouba will do, thanks for the heads up!

[2020-04-02 09:04] loicmathieu commented on #2244
This is related to #3969 also

[2020-04-02 09:06] loicmathieu commented on #4017
There is an open issue for supporting projection inside Hibernate with Panache: #6261

Projection should be a better implementation than a mapper as it will send the projection to the database returing only the needed column.

If you really want a mapper, you can still use MapStruct anyway ;)

Can we close this one and focus on projection support ?

[2020-04-02 09:08] loicmathieu commented on #7612
I'll close this one as it works fine with Graylog 3.2.2.
If you still think there is an issue, please reopen it and provides a reproducer.

[2020-04-02 09:08] #7612 closed

[2020-04-02 09:09] geoand commented on #8342
Although I absolutely understand what you are trying to do and I can see why you would think it would work, unfortunately it does not for the following reason:

[code]

is a build time property which means that you can't change it by setting it in your `InfrastructureTestResource`.
So essentially what is happening is that the test is being built with  `quarkus.datasource.driver=org.h2.Driver` whil

[2020-04-02 09:09] loicmathieu commented on #6943
Closing it as JMX is not supported and the user that reports it don't reply since the 4th of feb.
@KMUS you can still reopen it if you need support or really think it is an issue.

[2020-04-02 09:09] #6943 closed

[2020-04-02 09:11] loicmathieu commented on #3166
The logging-gelf extension covers this, and the guide explain how to use it for the three major central log management system (ELF, EFK, Graylog) so I close this one.

[2020-04-02 09:11] #3166 closed

[2020-04-02 09:12] lordofthejars commented on #8342
Well ok not a bug then but still a valid use case. If not we should start promoting to users to create multi test module to avoid having these problems.

[2020-04-02 09:12] loicmathieu commented on #453
Sending logs to Fluentd is documented using both logging-gelf extension (needs EFK): https://quarkus.io/guides/centralized-log-management#send-logs-to-fluentd-efk and the syslog appender: https://quarkus.io/guides/centralized-log-management#fluentd-alternative-use-syslog

So I'm closing this one now.

[2020-04-02 09:12] #453 closed

[2020-04-02 09:14] mkouba commented on #3699
So we could follow the logic used for normal injection (including producers), i.e. that `@Dependent` instances will be dependent objects of the synthetic bean and thus destroyed when the synthetic bean instance is destroyed.

We could add a default method to the `BeanCreator`:
[code]

@tandraschko @manovotn WDYT?

[2020-04-02 09:14] geoand commented on #8342
I don't think you need multiple modules for this use case. Just a proper setup of maven filtering or maven profiles.

[2020-04-02 09:14] lordofthejars commented on #8342
Ok so you mean that URL is not a  build config, but driver is? Because the URL can be overriden.

[2020-04-02 09:15] geoand commented on #8344
@loicmathieu IIRC you had some experience with `@ExtendWith`. Does this ring a bell?

[2020-04-02 09:16] geoand commented on #8342
Yes exactly, `quarkus.datasource.url` is a runtime property.
`quarkus.datasource.driver` is a build time property.

[2020-04-02 09:19] mkouba commented on #4831
To sum it up - we could:
1. Allow users to skip `@Produces` for producer methods with at least one qualifier by default (similar to our "autoinject" feature) and make it configurable.
2. Implement a special case for MP Health extension.
3. Do nothing ;-)

I vote for 1). @manovotn @lordofthejars WDYT?

[2020-04-02 09:22] mkouba commented on #7565
This feature is already implemented. However, it's currently hardcoded in https://github.com/quarkusio/quarkus/blob/master/extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java#L812-L852.

[2020-04-02 09:22] #7565 closed

[2020-04-02 09:24] geoand commented on #4842
@mkouba I have to hand it to you! `SyntheticBeanBuildItem` is awesome!
So I will close this issue since it's covered by `SyntheticBeanBuildItem` perfectly.

[2020-04-02 09:24] #4842 closed

[2020-04-02 09:25] lordofthejars commented on #4831
I vote for 1 for consistency with the other parts.

[2020-04-02 09:29] loicmathieu commented on #3651
@victorl2 multi-tenancy is already tracked via #2835 and #5681

Can I close this one ?
You can still subscribe to the aformentioned issue if you want.

[2020-04-02 09:40] lordofthejars opened #8345 "Remove false warning when quarkus.test.profile is used"
**Describe the bug**

Remove false warning when quarkus.test.profile is used.

If you use this property, the next warning is shown:

2020-04-02 11:36:34,556 WARN  [io.qua.config] (main) Unrecognized configuration key "quarkus.test.profile" was provided; it will be ignored

**Expected behavior**

No warning

**Actual behavior**

False warning.

**Configuration**

Quarkus 1.3.1

[2020-04-02 09:40] loicmathieu commented on #8344
If it works before 1.3 it should be something related to the new classloader implementation, maybe @stuartwdouglas have an idea.

And also, `@ExtendWith` didn't play well with Quarkus, see #7199 so @Xanas80 can you provides more details onto how to reproduce this issue?

@Xanas80 if you use `@ExtendWith` to load a custom JUnit extension, you need to use it also for the Quarkus JUnit extension via

[2020-04-02 09:41] mkouba commented on #7464
@nicmarti could you pls verify it's still a problem with v1.3.1 or master?

[2020-04-02 09:41] lordofthejars commented on #8345
@geoand ^^^

[2020-04-02 09:51] sberyozkin commented on #7543
I'm going to close this one because we have a test confirming the HTTPS connection works now, we can reopen more specific TLS related issues going forward

[2020-04-02 09:51] #7543 closed

[2020-04-02 10:03] sberyozkin commented on #5003
@stianst Right I have abandoned the timer idea for now and PR in the works to the support an on-demand pull. The tricky bit is how to test it :-).
Re the access tokens, it had some vague recollection of the discussion to do with caching something related to ATs, and now I see it was about introspection endpoint results. I recall doing something awhile back around a hawk authentication scheme which

[2020-04-02 10:08] nimo23 commented on #6095
Hi @loicmathieu thank you. To sum up,

PanacheEntities is able to
- have read only transactions
- have @NamedQuery

This issue also asks about:
- no proxy (but I think such future of "no-proxy" can be ignored, or are there any big performance benefits in having no entity proxies?)
- detached entities with `StatelessSession` (with https://github.com/quarkusio/quarkus/issues/6095#issuecomment-571289

[2020-04-02 10:15] loicmathieu commented on #6095
Yes, I'll stick it inside PanacheQuery so it will be something like

[code]

Can you close this issue and open a new one that ask for support of stateless session inside Panache ?
I don't know if it's an easy task but at least we will track it and by closing this one avoid too broad issues ...

[2020-04-02 10:15] sberyozkin commented on #4214
@stuartwdouglas Hi Stuart, I think I'll close this one as we have another issue for the token exchange and also there will be an issue related to the JAX-RS + Security sync epic about a possibility of launching the security from the JAX-RS chain - this will make it possible to auto-propagate MP REST Client headers. And right now one can also use MP Context Propagation or `JsonWebToken.getRawToken(

[2020-04-02 10:15] #4214 closed

[2020-04-02 10:16] #4716 closed

[2020-04-02 10:20] sberyozkin commented on #3064
Copying from the related issue:

Right now we have to double parse the token in the adapter code to create JsonWebToken because VertxOAuth2 has already got it parsed and it has no way to map that to JsonWebToken.

Implementation ideas
It is impossible to avoid the double parsing unless VertxOAuth2, at the moment of seeing the parsed token, could map it to JsonWebToken (possibly with the help of sm

[2020-04-02 10:25] stianst commented on #4481
Not sure if logout mechanism should be pluggable per say. I would perhaps rather argue we should have configurable alternatives/strategies.

quarkus-oidc for backchannel logout needs to be able to receive request at a specific endpoint. Wouldn't say that should be a jax-rs endpoint though, but rather something more low-level than that.

For initiating logout I would assume a Java method is called,

[2020-04-02 10:26] Xanas80 commented on #8344
@loicmathieu Yes, this is simple the execution order.

I tried the workaround with the CDI Scope, but that did not work either. as seen at #7199
@Singleton
@ExtendWith(QuarkusTestExtension.class)
@ExtendWith(MyExtension.class)

[2020-04-02 10:26] Sanne commented on #352
Right. Also, in ORM6 some changes in how Dialects are structured will help to allow some minor adjustements while not needing to fully switch D implementation.

[2020-04-02 10:27] anthonydenecheau opened #8346 "Create container within travis"
Try to create container within travis.
Run this command :
`./mvnw clean package -Pnative -Dquarkus.native.container-build=true -Dquarkus.native.container-runtime=docker
`
I expect to build an image docker and push it to DockerHub.
But mvnw command raise an exception

[code]

**Environment (please complete the following information):**
 - OS name: "linux", version: "4.4.0-101-generic", arch: "amd64

[2020-04-02 10:28] sberyozkin opened #8347 "Move OidcTenantConfig out of the runtime package"
**Description**
Right now `OidcTenantConfig` is in the runtime package: `io.quarkus.oidc.runtime` but since it is now visible to `io.quarkus.oidc.TenantConfigResolver` it could be a bit better to move `OidcTenantConfig` out of `runtime` as it is really part of the API now, and we'll offer a builder support around it too.

**Implementation ideas**
Move `OidcTenantConfig` to `io.quarkus.oidc`

The o

[2020-04-02 10:30] sberyozkin commented on #8347
@pedroigor @stuartwdouglas - if you have concerns about it please let me know.

[2020-04-02 10:33] sberyozkin commented on #7286
I'll open a new issue to do with the introspection endpoint response caching once this issue is resolved.
CC @stianst

[2020-04-02 10:36] sberyozkin commented on #5001
Hi @pedroigor, I'll just close this one for now as I'm trying to clean a bit - I think we can achieve it anyway while looking at the id token refreshment, and also can be done as part of oidcclient enhancement issue

[2020-04-02 10:36] #5001 closed

[2020-04-02 10:38] loicmathieu commented on #8344
So can we close this issue ?
You can comment or subscribe on #7199 if needed as it's the same issue

[2020-04-02 10:39] sberyozkin commented on #8064
@BigFatDog Hmm, probably not a duplicate of #6807, lets keep it open for a while so that we discuss it with Pedro a bit more

[2020-04-02 10:42] nimo23 opened #8348 "Provide StatelessSession for Panache"
**Description**
Actually, Panache retrieves its entities always with managed entity sessions.

Would be good if Panache has the possibility to query entities with `StatelessSession` because loading lots of data or doing bulk operations with `StatelessSession` is better in terms of performance and memory consumption in compare to using no stateless session.

See
- https://github.com/quarkusio/quark

[2020-04-02 10:43] nimo23 commented on #6095
@loicmathieu see https://github.com/quarkusio/quarkus/issues/8348

[2020-04-02 10:43] #6095 closed

[2020-04-02 10:59] geoand commented on #8348
@maxandersen will also be interested in this :)

[2020-04-02 11:01] geoand commented on #8346
Can you please try with `1.3.1.Final`?

[2020-04-02 11:26] Xanas80 commented on #8344
yes

[2020-04-02 11:28] #8344 closed

[2020-04-02 11:28] Xanas80 commented on #7199
Is there a solution in sight? Otherwise we cannot update to 1.3.1.Final

[2020-04-02 11:39] anthonydenecheau commented on #8346
@geoand : thanks for your support

The update to 1.3.1.Final produced this error
It's much less verbose

Can I send you pom.xml or someting else ?

[code]

[2020-04-02 11:40] mmesaric opened #8350 "Failure to boot Hibernate ORM metadata on presence of abstract super entities"
**Describe the bug**
After migrating to Quarkus version 1.3.0 from version 1.2.1, there is an error related to hibernate defined entities which results in the following stacktrace after running `mvn clean compile quarkus:dev` which ran successfully before migrating:

[code]

Data model is implemented as follows.
All entities extend `DataIdentity`, which is a `@MappedSuperclass` based on composite

[2020-04-02 11:41] geoand commented on #8346
@anthonydahanne perhaps if you add the `-e` flag to the maven command execution you will find more data in the output?

[2020-04-02 11:46] gsmet commented on #8329
/cc @Ladicek @jmartisk @michalszynkiewicz

[2020-04-02 11:55] nicmarti commented on #7464
Sure, will do a test :)

[2020-04-02 12:04] gsmet commented on #2971
No, I just never had the time to get to it.

[2020-04-02 12:05] gsmet commented on #3217
No, it's not done and we had several people asking for it.

[2020-04-02 12:13] gsmet commented on #7919
@kenfinnigan Commons logging is banned from our dependencies via the enforcer.

@sherl0cks do you have something else bringing commons-logging? If so you should get rid of it and make sure you have `org.jboss.logging:commons-logging-jboss-logging` instead. If not, we really need a reproducer.

[2020-04-02 12:18] gsmet commented on #8335
This is weird. The datasources are supposed to be closed. Do you have a remaining Java process maintaining the connection?

[2020-04-02 12:19] anthonydenecheau commented on #8346
I got these warnings

[code]
I notice this :
[code]
Wouldn't there be a version problem with this environment ?

[2020-04-02 12:21] anthonydenecheau commented on #8346
Then I try to add this to my pom.xml (because it's too slowly)

`<additionalBuildArgs>-J-Xmx6G</additionalBuildArgs>
`
But no way :(
`Exception in thread "ForkJoinPool-2-worker-1" java.lang.OutOfMemoryError: Java heap space`

[2020-04-02 12:24] hantsy commented on #3966
I hope to consider it in the future if there is no plan now.
Using an interface is more simple in most cases, and this idea is improving the portability from Spring Data and Apache Deltaspike when migrating applications to Quarkus.
I remember Apache Deltaspike has similar features, it is also baed on CDI, but I am not sure if it can work in Quarkus.

[2020-04-02 12:26] hantsy commented on #4017
The Apache DeltaSpike also has similar feature, not sure if possible to make it work in Quarkus.

[2020-04-02 12:29] geoand commented on #8346
Why do you say that?

[2020-04-02 12:29] gsmet commented on #5226
This one needs to be reopened. The PR was reverted because it didn't work in native mode.

I don't think anybody worked on it since then.

[2020-04-02 12:30] hartimcwildfly commented on #5226
Corresponding ticket is #6606

[2020-04-02 12:31] anthonydenecheau commented on #8346
See ubi-quarkus  image with tag _java11_ or GraalVM Version 19.3.1 ...

[2020-04-02 12:32] stianst commented on #7286
Simple approach is obviously to use token introspection endpoint for every request, but a cache to prevent subsequent requests with same token to flood the IdP would be a nice addition.

[2020-04-02 12:33] geoand commented on #8346
I don't see the problem - can you elaborate?

[2020-04-02 12:34] stianst commented on #7286
I wonder if we can auto-detect token format? A token is typically a JWS, JWE or just a reference. Should be possible to auto-detect this.

[2020-04-02 12:34] stianst commented on #7286
Then again that may impact performance, and not sure if there would be a mix of tokens, or if one always expects a single token type

[2020-04-02 12:35] gsmet commented on #8336
This looks very odd to say the least.

@mkouba could you have a look?

[2020-04-02 12:36] anthonydenecheau commented on #8346
I will try to avoid thinking by asking questions in writing
I'm Apologize for that

[2020-04-02 12:39] emmanuelbernard commented on #8348
I would like to get a clear set of use case where we would recommend people to use this alternative model. I am not sure detached entities plays that nicely with the Panache pattern. Sanne and I pulled our hair on a couple of related cases.
Or are we talking about a panache model that is 100% separated and independent from the existing Hibernate ORM with Panache one?

So can we literally write the

[2020-04-02 12:40] geoand commented on #8346
No worries!

In any case:

[code]

is an OutOfMemory expection.

You can experiment with `quarkus.native.native-image.xmx` and whatever settings Travis has for controlling the memory of the executor.

So I am closing this since it's not a Quarkus issue.
If you feel that is should be reopened, feel free to do so after and add your thoughts.

[2020-04-02 12:40] #8346 closed

[2020-04-02 12:45] jmartisk commented on #8329
Seems that's happening because the reproducer's `pom.xml` application declares a dependency on MicroProfile 3.2 while current Quarkus is at 3.3, so the application is somehow using `microprofile-fault-tolerance-api` 2.0 in instead of 2.1. If I change the MP dependency in the pom to 3.3, it works.

[2020-04-02 12:48] Karm commented on #8329
@jmartisk Dependency on MP 3.2 is intentional here.

[2020-04-02 12:49] manovotn commented on #4831
I can see why you want 1) but I am not sure it makes the code more readable. TBF, you then have beans such as:

[code]

Which to me personally seems hard to read unless you (apart from knowing CDI) also know that Quarkus has these extra few cherries on top that sometimes let you omit an annotation, but then in other cases they require you to specify the very same annotation.

BTW you can make 1) w

[2020-04-02 12:49] Karm commented on #8329
@jmartisk Unless we want to star building a spreadsheet with what MP version is dropped with which Quarkus version, people expect it to work...

[2020-04-02 12:49] gsmet commented on #6606
@hartimcwildfly could you create a new PR again? That would be easier to track and we definitely want this so let's get a new PR and work on fixing that native issue.

Be clear in the description that this needs work on the native side.

Thanks!

[2020-04-02 12:53] hartimcwildfly commented on #6606
Ok, sure! I will do it today.

[2020-04-02 12:55] lbernardomaia commented on #3670
Hi all,

I was testing this change and I noticed that when an env variable is not provided in the .env file, quarkus it's not falling back to try to use the env system. Is this expected? Thanks

[2020-04-02 12:56] jmartisk commented on #8329
I agree this should probably work OOTB. The problem is if the application pom imports an older version of a dependency and Quarkus does not know how to work with that older version.
My opinion is that the correct behavior would be that devmode uses the version from Quarkus and doesn't let the application's pom to override that version (?!). In all other running modes, Quarkus seems to pick the ver

[2020-04-02 12:56] mkouba commented on #4831
That's a good point.

Yes, in this case using the `@Inject` and `@Produces` everywhere makes perfect sense.

On the other hand, the following snippet is IMHO OK:
[code]

[2020-04-02 12:59] geoand commented on #3670
@lbernardomaia

You mean that if you do have a `.env` file but that doesn't contain an env var (like `QUARKUS_HTTP_PORT`), then if you do set that (using `export` for example), it's not applied?

[2020-04-02 13:01] gsmet commented on #7862
For the record, I also tried to use optional config groups for my datasource PR and I got some very weird issues.

It was totally in the way and I already got other blocking issues in the way so worked around it.

[2020-04-02 13:03] nicmarti commented on #7464
@mkouba you can mark this issue has resolved. I tested with 1.3.1.Final and I cannot reprodue the issue.

The generated file in target/wiring-devmode folder does not exist anymore.

[2020-04-02 13:04] mkouba commented on #7464
Great! Thanks for confirmation.

[2020-04-02 13:04] #7464 closed

[2020-04-02 13:07] sekaijin commented on #8335
Nothin else
[code]
And AlertType Entity

[2020-04-02 13:11] #8345 closed

[2020-04-02 13:11] geoand commented on #3670
I was not able to reproduce what you mention @lbernardomaia, but I might have understood it wrong.

[2020-04-02 13:17] manovotn commented on #4831
Don't let my scepticism stop you ;-)
If I were to choose between a general approach and a specific for MP extension, then I'd go with the general one as well (which means option 1).

True.

[2020-04-02 13:27] mkouba commented on #4831
The PR is almost finished :D

[2020-04-02 13:36] gsmet commented on #8342
Yup, that's how things are. The driver needs to be a build time property.

[2020-04-02 13:38] geoand commented on #8342
I'll close this since it's not a bug.

[2020-04-02 13:38] #8342 closed

[2020-04-02 13:39] gsmet commented on #3651
BTW, if someone wants to provide a PR with some ITs covering multi-tenancy, that might help making it a reality.

[2020-04-02 13:43] gsmet commented on #8347
Hum. I have some serious concerns about making some config class part of the API.

I'm not sure how the user is supposed to implement this?

[2020-04-02 13:52] Rupert-RR opened #8357 "Missing Liquibase properties in native image"
**Describe the bug**
When using Quarkus with a Postgre database (but this may apply to other database types also) and Liquibase, if an (as yet unapplied) database migration uses the `autoIncrement` property on a column the application fails to start with an exception ` java.lang.IllegalStateException: liquibase.exception.UnexpectedLiquibaseException: Property [autoIncrement] was not found for obje

[2020-04-02 13:58] gsmet commented on #8358
/cc @mariofusco

[2020-04-02 13:58] sberyozkin commented on #8347
@gsmet Hi, it is not an interface, yes. it is what the custom implementations of this [interface](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/TenantConfigResolver.java) have to provide and as such it feels it belongs in [this package](https://github.com/quarkusio/quarkus/tree/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc) wh

[2020-04-02 14:01] sberyozkin commented on #8347
It probably does not matter much, but I recall I was thinking about the other day so decided to open an issue

[2020-04-02 14:02] gsmet commented on #7199
@Xanas80 if the workaround of adding a CDI scope doesn't work for you, could you provide a reproducer?

@loicmathieu do you plan to work on that one?

[2020-04-02 14:03] gsmet commented on #8350
Could you provide a full reproducer in the form of a simple Maven project?

Thanks!

[2020-04-02 14:04] sberyozkin commented on #8347
@gsmet, FYI, @pedroigor has also suggested a builder support around this class but for now we just keep adding setters/getters to make it easy for the users to init it

[2020-04-02 14:05] pedroigor commented on #4481
To initiate a logout you don't need a java method call but just the app itself to reach the logout endpoint. Considering we agreed about starting with RP-Initiated, after the logout is initiated by the app the server should expect a request to the `post_logout_redirect_uri` where we can then invalidate any state (e.g.: cookies) managed by the extension.

Regarding backchannel, are we considering t

[2020-04-02 14:05] Rupert-RR commented on #8357
It should be noted that the `addAutoIncrement` change type works fine, so we can create columns without the autoincrement initially then add the autoincrement in a separate changeset.

[2020-04-02 14:09] gsmet commented on #8335
@stuartwdouglas looks like this is an unexpected behavior?

[2020-04-02 14:29] carlosthe19916 commented on #8358
@gsmet @mariofusco This question has been answered in https://github.com/kiegroup/kogito-examples/issues/145. Sorry for having duplicated the issues.

[2020-04-02 14:30] gsmet commented on #8357
@andrejpetras could you have a look at that one?

Thanks!

[2020-04-02 14:31] Agh42 commented on #4766
I'm having the same problem here. I'm getting redirected to
"http://localhost:8070/oauth2-redirect.html".
The correct path in my case would be
"http://localhost:8070/swagger-ui/oauth2-redirect.html".

Can I change that within the @SecurityScheme annotation somehow?

When I change the URL manually, the oauth2-redirect.html file is there (I can view the HMTL source), but authorization won't continue

[2020-04-02 14:32] victorl2 commented on #3651
@loicmathieu no problem, we can close this issue,  the two issues you listed already cover what i described.

[2020-04-02 14:35] mkouba commented on #4831
Here we go: https://github.com/quarkusio/quarkus/pull/8359

[2020-04-02 14:43] andrejpetras commented on #8357
@gsmet Yeah sure, I'll have a look later today

[2020-04-02 14:52] mkouba commented on #8336
I've tried the reproducer locally and it seems that the HTTP server is stuck if `quarkus.http.insecure-requests=disabled` is used. We'll need to investigate this further.

[2020-04-02 14:52] geoand commented on #6745
This should now be fairly easy to implement because we have the notion of a bootstrap configuration (see https://github.com/quarkusio/quarkus/blob/master/extensions/spring-cloud-config-client/runtime/src/main/java/io/quarkus/spring/cloud/config/client/runtime/SpringCloudConfigClientRecorder.java#L19).
Perhaps I'll take this up soon on some spare time.

[2020-04-02 14:54] sberyozkin commented on #5003
@stianst @pedroigor Unfortunately it is not possible to implement `cleanly` it on top of Vertx in the short term since its `JWK` class does not record its `kid` header and instead uses an internal algorithm to calculate a `kid` property. The verification is done by iterating over all JWKs which match an algorithm which is OK perfomance wise as I don't really expect that OIDC servers would return a

[2020-04-02 15:02] sberyozkin commented on #5003
Actually, if the attacker has caused a refresh just a few mins before the good client token with a stale kid arrives then there would be no harm, the good client would just get a matching JWK.
But I believe there would always be some edge cases with the `min-jwk-refresh-interval` anyway.
I think I can open a draft PR pretty soon, though I'll still open a Vertx issue

[2020-04-02 15:06] stianst commented on #5003
All I can do is say again that this approach is completely wrong.

When verifying a token the jwt header is important. Only keys that march kid, alg and use should be considered. Anything else is a security risk.

New keys must be fetched on demand. Otherwise you will have issues everytime keys are rotated at the idp.

[2020-04-02 15:14] stianst commented on #5003
Adding any measurements to protect against a dos with invalid keys should be in terms of minutes, not hours or days. The longer this value is the bigger risk that you are actually creating a dos yourself. Fail to fetch keys and your not fetching the new keys for days will result in service unavailability in that period of time. Fetching keys is not a massively expensive operation, especially not i

[2020-04-02 15:14] manovotn commented on #3699
That sounds good. But if you grant user access to the `Instance`, they might handle destruction themselves. Which means you cannot know if they did it already or if you should.

Also, keeping both methods opens up a way to implement both differently and we wouldn't know which one to invoke (well, we'd invoke the new one anyway but still). I know it doesn't make sense to do that, but it introduces

[2020-04-02 15:24] sberyozkin commented on #5003
@stianst thanks, I think I indirectly came to a similar conclusion above but I did not suspect that making this refresh interval in minutes was in fact the best solution, interesting.
I'm not sure if I can influence the Vertx changes (even though I agree), one should expect I guess that any certified OIDC would not return a set with keys which can actually not be used for the verification. I'll su

[2020-04-02 15:26] mmesaric commented on #8350
Sure. I created a reproducer project and added you as collaborator.

[2020-04-02 15:33] Sanne commented on #8350
thanks @mmesaric , could you share it with me as well? Or make it open would be even better :)

[2020-04-02 15:35] stianst commented on #5003
So this is a plain bug in Vert.x, there really is not discussion about that, if you open a bug against Vert.x and it is rejected let me know and I'll comment on it, as it is important to pick the correct key from a JWKs set, not just randomly check them all.

[2020-04-02 15:42] mmesaric commented on #8350
No problem, repository is public now.

[2020-04-02 15:48] sberyozkin commented on #2231
@stefnotch thanks for these links, but it is not a security doc bug, I'm not sure we need to start deleting the doc texts everytime an issue is open which points to some inconsistency with the docs and the actual quarkus behaviour :-).
We are discussing with @pedroigor how to deal with #6807, hopefully it be addressed soon enough.

Let me close this issue then, thanks

[2020-04-02 15:49] #2231 closed

[2020-04-02 15:57] sberyozkin commented on #5003
Hi Stian I'm sure the Verx guys will support us :-) as they have done before. OK, let me deal with it. thanks

[2020-04-02 15:58] lbernardomaia commented on #3670
Hi @gastaldi,

My bad! You're right, It's working with all scenarios I tried.

Thanks

[2020-04-02 16:00] geoand commented on #3670
Thanks for checking @lbernardomaia!

[2020-04-02 16:03] sberyozkin commented on #5003
@stianst I was not quite correct, `kid` is detected if it is available and calculated otherwise. But in any case it will be a straightforward fix, thanks

[2020-04-02 16:11] giova333 opened #8362 "Customize bootstrap file"
Greetings.
I'm trying to build quarkus lambda function with SSL support.
I am referring to this doc file https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/amazon-lambda.adoc

I am trying to modify `function.zip` by creating zip.native under the `src/main` directory and add cacerts and libsunec.so and custom `bootstrap` file there. But at the end standard function.zip is produ

[2020-04-02 16:21] ebullient commented on #6544
As alternative (experiment), I created a quarkus extension to use micrometer directly: https://github.com/ebullient/quarkus-micrometer-extension

[2020-04-02 16:42] stianst commented on #5003
@sberyozkin that's okay then. Calculating kid is probably there for some weirdness we had in Keycloak in the olden days, can probably be removed. There's nothing standard on how a kid is generated really so can never be portable cross different IdPs and Keycloak has had the kid in the token for a long time now.

[2020-04-02 16:44] stianst commented on #4481
I think we should split this work into two issues:

* Initiate logout
* Support for backchannel logout

[2020-04-02 16:45] stianst commented on #4481
"To initiate a logout you don't need a java method call but just the app itself to reach the logout endpoint. Considering we agreed about starting with RP-Initiated, after the logout is initiated by the app the"

Not sure what you mean about that. The app needs to know the logout endpoint, and it also needs ti include the id_token_hint. You don't want the app to have to create the logout endpoint

[2020-04-02 16:54] marc-christian-schulze opened #8363 "quarkusDev task fails with "Unable to find quarkus-gradle-plugin dependency""
**Describe the bug**
Follow up for [issue#5781](https://github.com/quarkusio/quarkus/issues/5781).
Running the `quarkusDev` task in a multi-module project produces an exception:
[code]

**Expected behavior**
Quarkus application would start in dev. mode and endpoint http://localhost:8080/hello is reachable.

**Actual behavior**
Quarkus application does not start but an exception is raised.

**To Re

[2020-04-02 17:05] geoand commented on #6745
I'll hopefully try and get a first version of this for 1.4

[2020-04-02 17:25] pedroigor commented on #4481
If you mean the logout request to the {{end_session_endpoint}} I see no problem with the app creating it by itself. That is what I meant by "don't need a java method to initiate logout" as you previously suggested. Applications have access to all tokens managed by the extension at runtime and the {{end_session_endpoint}} is part of the OIDC discovery document.

Now, for the {{post_logout_redirect_

[2020-04-02 17:36] pedroigor commented on #4481
The only constraint I see with backchannel is that in order to test the implementation we would need, ideally, to have it in Keycloak for testing. Otherwise, I'm not sure how we can write tests.

[2020-04-02 17:45] nimo23 commented on #8348
Good question..a `StatelessSession` would be a good alternative of mybatis or jooq when it comes to performance..having the convenience of JPA/Hibernate with the benefits of the performane of myBatis, jooq,..I would like to see have the option to opt out from the statefullness of hibernate..maybe something like creating a view query with

UserViewObject view = em.createQuery("SELECT NEW org.User(c

[2020-04-02 18:26] alexander-dammeier opened #8364 "no license information in quarkus security pom"
Hello,

i built our quarkus application with our internal Ci/CD system and it gave me an alert that the artefact `io.quarkus.security:quarkus-security` has no license information. We are using Quarkus 1.3.1 but i wonder that the version of the artefact is 1.0.1.final.
`mvn dependency:tree` says:
[code]

Can you please add license information to your pom.xml for this artefact?

[2020-04-02 18:45] mkouba commented on #3699
That is not a problem. A destroyed `@Dependent` bean is removed from the relevant `CreationalContext` and so if there are no `@Dependent` instances left then `InstanceImpl.destroy()` is just a no-op.

Yes, we would always call a new one and the default impl would be to call the old one. The only problem I see is that we would have to make the old one also `default` (it's very similar to the `Obser

[2020-04-02 18:46] hartimcwildfly commented on #6606
Magic! Seems like the IT works now also in native image. I did not change anything. Just applied the diff onto the current master. I will open the PR soon.

[2020-04-02 20:45] Sanne commented on #8350
Thanks, I've sent a fix proposal.

[2020-04-02 21:04] andrejpetras commented on #8357
@Rupert-RR Yes, I can reproduce the bug. There are missing register methods for native image.

@gsmet we need to register more methods of Liquibase classes for native image

[2020-04-02 21:27] #7256 closed

[2020-04-02 21:44] diogocarleto commented on #8311
Thanks, guys.

[2020-04-02 21:56] diogocarleto opened #8369 "quarkus-mongodb-panache"
Hi guys, I'd like to know if it is possible to define a custom convention in PojoCodecProvider. Today in `AbstractMongoClientProducer`, method `createMongoConfiguration(MongoClientConfig config)`, we have the following:

<pre>
PojoCodecProvider.Builder pojoCodecProviderBuilder = PojoCodecProvider.builder()
                .automatic(true)
                .conventions(Conventions.DEFAULT_CONVENTION

[2020-04-02 22:07] famod commented on #8331
H2 in Quarkus seems to be pinned to 1.4.197 because of this: #1522
Back then 1.4.200 was not yet available so maybe that might be worth a try?
The changelog is rather long: https://h2database.com/html/changelog.html

[2020-04-02 22:13] sberyozkin commented on #8364
CC @stuartwdouglas

[2020-04-02 23:00] GregJohnStewart commented on #7156
... so any path forward for this? I would think it's possibly and environmental issue if it wasn't also happening to Travis.. @mkouba I am interested to see why it worked on yours.

[2020-04-02 23:01] murphye opened #8371 "Should be ManagedExecutor in the Reactive Messaging Doc"
There is an error on the doc here:
https://quarkus.io/guides/reactive-messaging#implementing-fire-and-forget-interactions

Not correct:
`@Inject Executor executor;`

Correct:
`@Inject ManagedExecutor executor;`

[2020-04-02 23:28] maxandersen commented on #8348
I think the question is wether its worth it for Panache to integrate with StatelessSession as opposed to just use stateless session directly ?

[2020-04-03 03:22] jaikiran commented on #8297
@Legion2, the linked PR has been merged to upstream master branch. Would it be possible for you to build the latest Quarkus master branch and then use the `999-SNAPSHOT` version of Quarkus in your application and get us the exception stacktrace that you would see when the .env file copying fails?

[2020-04-03 04:17] maxandersen commented on #7148
see #8348 for issue where this would be relevant for Panache too

[2020-04-03 04:21] geoand commented on #1157
I'm closing this since @KaenDagger worked on it and encountered Kotlin issues and since we have since decided to go another route.

[2020-04-03 04:21] #1157 closed

[2020-04-03 04:22] geoand commented on #3436
Has been implemented

[2020-04-03 04:22] #3436 closed

[2020-04-03 04:23] geoand commented on #4037
Has been implemented

[2020-04-03 04:23] #4037 closed

[2020-04-03 04:24] geoand commented on #5206
I think we discussed this as part of Panache RESTEasy

[2020-04-03 04:26] geoand commented on #5371
@aureamunoz I think that you can add the log message that maps to the corresponding Quarkus property, right?

[2020-04-03 06:05] stianst commented on #4481
@pedroigor I completely disagree - apps should not have to create a logout URL. The underlying protocol details should be hidden. For an app to have to create this they would have to know how to create the url, what's the url for the IdP, what parameters should be included, etc. Why would we ask an app to generate that when we don't for a login URL?

[2020-04-03 06:07] stianst commented on #4481
Initial scope is good. We should have a separate issue for backchannel logout, and yes we don't want to contribute that to Quarkus until we have it in Keycloak.

[2020-04-03 06:34] mkouba commented on #7156
It would be great if someone else could test it too. @gastaldi do you have some spare cycles?

[2020-04-03 06:43] mmesaric commented on #8350
Great, thanks @Sanne. In what version will the fix be live?

[2020-04-03 06:46] aureamunoz commented on #5371
Sure, I'll take a look! thank you @geoand

[2020-04-03 07:04] loicmathieu commented on #4017
@hantsy I understand it, but as I said I think that projection is a better use case and allow to map an entity to a POJO with the advantage of also restricting the number of columns to load from the database (if possible, still investigating).

As it provides the same kind of functionality, I propose to close this one.

[2020-04-03 07:05] #3651 closed

[2020-04-03 07:14] loicmathieu commented on #8369
@diogocarleto why is your conventions inside `org.bson.codecs.pojo` ? You should not create any classes inside a package used by another library.

The issue you have seems to be a classloading issue from JPMS (the module system), if you can create a reproducer we can have a look. Quarkus has a special classloader so the issue can be on our side.

Some side notes:

- You can provide your own codec

[2020-04-03 07:22] loicmathieu commented on #7199
@gsmet I have no plan to work on this one in a near future. I have other things to finish on my Quarkus todo list ;)

If nobody have time to work on it soon, I can have a look in a few weeks but I don't now anything about Quarkus junit extension so it will take me some times ...

[2020-04-03 07:45] #4017 closed

[2020-04-03 08:14] Sanne commented on #8350
yes: it's aiming 1.4, but might also be backported to a 1.3 micro.

[2020-04-03 08:30] mkouba commented on #8336
@gsmet So it seems that `quarkus.http.insecure-requests=disabled` actually never worked. I've sent a PR with a minimal fix. @ddewalle it would be great if you could test the PR.

[2020-04-03 08:31] #4831 closed

[2020-04-03 08:33] Legion2 commented on #8297
I didn't get the exception printed in english, but here is the corresponding translation: "A required privilege is not held by the client".
[code]
But I can create the symlink by hand from the same terminal I started quarkus dev:
[code]

[2020-04-03 08:39] JiriOndrusek opened #8375 "Tika: image parser fails in JVM mode with java.lang.LinkageError"
**Describe the bug**
According to the documentation of quarkus tika, almost all parsers should be native ready if they are correctly registered.

[code]
 There are several excluded ones (see https://github.com/quarkusio/quarkus/blob/master/extensions/tika/deployment/src/main/java/io/quarkus/tika/deployment/TikaProcessor.java#L39)

Previous text states that eg. imageParser should work correctly
I'v

[2020-04-03 08:41] galderz commented on #4071
The script I have is mostly for bare metal testing end-to-end, and try out fixes...etc.

[2020-04-03 09:01] mkouba commented on #8329
I don't think that we can support multiple MP versions given the fact that new versions may break compatibility. In other words, it's more like "best effort". @kenfinnigan and @jclingan know more about our strategy ;-).

[2020-04-03 09:08] Karm commented on #8329
@mkouba That is a topic to be clearly communicated here: https://wiki.eclipse.org/MicroProfile/Implementation

With my Eclipse MicroProfile hat on, I kinda frown on what you say here.

Users read https://quarkus.io/blog/quarkus-eclipse-microprofile-3-3/ and learn nothing about having to drop MP 3.2.

I believe this thread needs @cealsair and @kenfinnigan to chip in. I would also love to hear from

[2020-04-03 09:12] mkouba commented on #8314
`String delay()` would break backwards compatibility. I think that we should avoid such changes if possible. On the other hand, I agree that it could be useful to be able to configure the value. We could introduce a new method, e.g. `String delayConfigProperty()`, or derive the config property name from the annotated method, .e.g. `quarkus.scheduler.org.acme.Foo/ping/delay=10`.

[2020-04-03 09:17] nimo23 commented on #8348
Two examples to show the boilerplate code needed when using StatelessSession directly in compare to Panaches stateless CRUDs:

**Read operation:**

[code]

instead of

`PanacheEntity.find(query, params).stateless().list()`

**Bulk delete operation:**

[code]

instead of

`PanacheEntity.delete(query, params).stateless();`

[2020-04-03 09:17] gastaldi commented on #7156
@mkouba I wish I had but unfortunately nope :(
@GregJohnStewart can you reproduce it in 1.3.1.Final? I believe  @aloubyansky made some in that area

[2020-04-03 09:18] jmartisk commented on #8329
It's not a problem of MicroProfile 3.3 breaking compatibility for applications written for 3.2, it's a problem of Quarkus being at 3.3 and not expecting that someone will put MP 3.2 on its classpath (which is something else than Quarkus was compiled with), in which case Quarkus would have to detect this and not try to access any constructs which are not present in 3.2.
Possible, but it would be a

[2020-04-03 09:20] Ladicek commented on #8329
I haven't look into this, but I guess it's a classloading issue. I'm pretty sure the `applyOn` attribute (of whatever annotation) is new in MP Fault Tolerance 2.1 (which is in MP 3.3). SmallRye Fault Tolerance 4.1+ (which is currently in Quarkus) implements MP Fault Tolerance 2.1, so it naturally looks for that attribute. But if we have MP Fault Tolerance 2.0 version of the annotation class on cla

[2020-04-03 09:26] FroMage commented on #8348
This looks to me like you want a substitute of not only the Panache API but also the transactional interceptor and the CDI bit that allocates a new `EntityManager` to each request, so that it would allocate a stateless session instead.

[2020-04-03 09:27] FroMage commented on #5433
I thought Hibernate ORM would throw in this case. If it doesn't, I agree we should check at build-time. I just don't want two extensions (ORM and ORM with Panache) throw for the same error.

[2020-04-03 09:29] FroMage commented on #3969
Well, we're still trying to avoid exposing `merge` at this point, so let's hold.

[2020-04-03 09:29] loicmathieu commented on #8348
I agree with @FroMage this has nothing to do with Panache but directly to Hibernate ORM support. I would re-target this issue to Hibernate ORM extension.

To implements this, we will need something close to what we try to do for readonly transaction (that are read only Hibernate sessions) in PR #7455

By the way, is a stateless session different from a read only session performance wise ?
What wil

[2020-04-03 09:35] Ladicek commented on #8329
Ah, one other thing: I see the `org.eclipse.microprofile:microprofile:3.2` dependency is `<scope>provided</scope>`. That's correct. But why does Quarkus load classes from there? That's the right question to ask.

This is not a problem in compatibility with older MicroProfile version, like, at all.

[2020-04-03 09:38] jmartisk commented on #8329
IMO it's an issue in Quarkus' Maven resolution, in `prod` mode we get the dependency versions which are taken from Quarkus directly, in `dev` and (i think) `test` mode we get the versions which are declared in pom. That's inconsistent and should be unified (I don't know whether to the Quarkus versions or to the pom.xml versions)

[2020-04-03 09:47] nimo23 commented on #8348
I wanted to have a **layer** over Hibernate/JPA (e.g., Panache API) which gives up some ORM overhead with the aim to have a (near) equal competitor for iBatis, jooq, This **layer** only uses _on-board means of Hibernate/JPA/Quarkus_ (e.g., Stateless Session,..). Having such a layer could make the integration of iBatis, jooq, etc. needles..

Also good questions, I don't know:) maybe @Sanne can answ

[2020-04-03 10:07] sberyozkin commented on #8375
@JiriOndrusek Thanks, unfortunately not all parsers are native ready, or more precisely, probably many of them are, but since there are many of them, I don't know for sure, I'll need to commit to updating the text. And we need to keep fixing the native issues related to specific parsers. I know OOXML parsers have problem, Image parser is another one.

[2020-04-03 10:14] gsmet commented on #8364
I created https://github.com/quarkusio/quarkus-security/pull/7 .

[2020-04-03 10:26] maxandersen commented on #8348
same as if you had two statelesssessions or two stateful session on same transaction - they would work in same transactional boundary but you risk some state in your objects to be out of sync.

But that is not necessarily a bad thing; but my recommendatin would though to generally don't mix and match blindly ;)

[2020-04-03 10:40] Agh42 commented on #4766
The problem is that the redirect-url is determined in [index.js](https://github.com/swagger-api/swagger-ui/blob/master/src/core/index.js) without looking at the URL path:

[code]

I did not find any place where I could overwrite this default. This means that Swagger-UI will not work for any path other than '/', correct?

[2020-04-03 10:45] Rupert-RR commented on #8357
@andrejpetras Thanks for having a look.

[2020-04-03 10:59] Agh42 commented on #4766
Ok - this is a top level configuration item for swagger-ui. It must be configured as described here:

https://github.com/shockey/swagger-ui/blob/master/docs/usage/configuration.md#how-to-configure

[2020-04-03 11:23] sberyozkin commented on #4481
Hi Pedro, @pedroigor, re that java method - IMHO we definitely do not want the user code deal with anything related to creating a redirect etc, etc.

It has to be completely managed by `quarkus-oidc`. All I'd expect as an application developer is to update my HTML page's logout button to point to something like `https://localhost:8080/myapp/logout` and add few configuration properties into `applic

[2020-04-03 11:30] pedroigor commented on #4481
@sberyozkin @stianst OK. Let's provide some built-in capability for building the logout request and initiate the logout.

Now that we have agreed about the initial scope, we can discuss any other detail once we have the initial set of changes.

[2020-04-03 11:36] pedroigor commented on #4481
@sberyozkin Yeah. The built-in logout endpoint is probably what provides a better UX. This endpoint should be protected to only authenticated users, do not accept XHR requests.

I'm just not sure about CSRF. If we are mainly covering server-side apps, where content is served by the application, I don't see an issue. Makes sense ?

[2020-04-03 11:45] ddewalle commented on #8336
I tested the PR, merging the modifications of VertxHttpRecorder.java in top of extensions/vertx-http/runtime with latest Quarkus 1.3.1.Final tag.
I only rebuilt quarkus-vertx-http-1.3.1.Final.jar locally and executed the bug reproducer (with Java 11) -> the bug seems to be fixed and the Quatkus Ascii logo is back too ;-)

I also tested the fix on a real project with multi quarkus servers communica

[2020-04-03 11:52] mkouba commented on #8336
@ddewalle Thanks for confirming!

[2020-04-03 12:09] jmartisk commented on #8272
Sorry I didn't notice this right away, feel free to @mention me next time so I get a notification.
So to list all things that we use in the SPI and would need changes:

- The `Metadata` interface and its builder
  - We could introduce some sort of alternative class representing `Metadata`. The bad thing is that extensions will not be able to use the fluent `MetadataBuilder` from the API. So to mai

[2020-04-03 12:10] kenfinnigan commented on #8329
1) We will not be supporting multiple MP versions within a single Quarkus release. Thorntail never did that either.

2) I agree that the error is entirely related to having MP 3.2 as a dependency, though provided, on the project. I think it's a two-headed problem, one is that having an entire spec as "provided" might have been the way applications were written with App Servers it's not really the

[2020-04-03 12:59] gsmet commented on #4766
@Agh42 considering we already update the URL in `SwaggerUiProcessor#updateApiUrl()`, I wonder if we could override that `oauth2RedirectUrl` too?

Would you be interested in giving it a try?

[2020-04-03 13:03] stianst commented on #4481
@pedroigor that's my problem with something like a "/logout" endpoint is CSRF. Needs to be protected that it can only be invoked from the app directly and not linked externally.

[2020-04-03 13:17] adrianfiedler commented on #6607
Can this issue please be assigned to me? I already prepared a pull request here:
https://github.com/quarkusio/quarkus/pull/8307

[2020-04-03 13:28] gastaldi commented on #6607
Ah now it works :) Not sure what changed

[2020-04-03 14:24] michael-schnell commented on #5681
Discussion ongoing: https://groups.google.com/forum/#!topic/quarkus-dev/2jJvXPHWBLQ

[2020-04-03 14:33] sberyozkin commented on #7286
@stianst Yeah, I'd say we can have just a property mandating that the opaque tokens are accepted per a specific tenant, it is still managed at the Vetx level, but in Quarkus we can tweak the producer code if needed. As you say, a mix of token formats may not be really there :-) so based on that property we can easily enforce that no JWS formats tokens are accepted if only opaque ones are expected,

[2020-04-03 14:39] sberyozkin commented on #4481
Hi Pedro, Stian, I suppose we can still check there in `logout` that the existing `q_session` which only `quarkus_oidc` can set is available ?
If needed we can also require that the applications wishing to use this `logout` handler must ensure that a hidden form field such as `g_logout` and also a cookie with the same name is set for us to enforce the match, I'm not 100% sure (or even not 50% :-))

[2020-04-03 14:50] pedroigor commented on #4481
@stianst Yer ... UX-wise it is better than forcing developers to write code and invoke a method, right? If we don't provide this, developers will need the implement something by themselves (e.g: using the java method to generate the logout request) and the same concern (CSRF) is also true when doing this.

However, I don't think this is a big problem because the OP should query the End-User if he/

[2020-04-03 14:54] pedroigor commented on #4481
That would force a POST request and make things a bit more complicated? And the cookie would still be sent to the application from a different origing ...

[2020-04-03 14:56] famod opened #8378 "(Outdated) Wiremock should not be defined in BOM?"
**Describe the bug**
A fellow developer has just introduced Wiremock in our current project and I was surprised that he did not have to define a version for it. I then discovered that suddenly Junit4 popped up on the test classpath (Eclipse asked me to choose between two `@Test` annotations).
This is when I stumbled upon https://github.com/tomakehurst/wiremock/issues/684#issuecomment-600127042:

w

[2020-04-03 14:57] stianst commented on #4481
The OP will only prompt the user if not presented with a valid id_token_hint or app requires consent. So it will be important that the logout endpoint does some csrf protection.

[2020-04-03 15:01] geoand commented on #8378
Yeah, I think it should be removed.

[2020-04-03 15:02] pedroigor commented on #4481
@stianst That is the problem when doing drafts ... There I did not see anything about this condition but  that "OP SHOULD ask ...".

[2020-04-03 15:05] pedroigor commented on #7286
@sberyozkin Isn't Vert.x going to fallback to introspection/opaque tokens if the bearer token sent in the request can not be parsed or validated based on the local JWKS ?

[2020-04-03 15:07] stianst commented on #4481
I see that, but that's a pretty annoying experience from a user experience. If you can trust the app based on the passed id_token_hint, why then ask the user again if they want to logout?

[2020-04-03 15:07] IRQs commented on #3298
The integration of Quarkus OpenTracing with Elastic APM does not seem to be straightforward due to two reasons:
1. The (Elastic) APM Agent focuses primarily on [Servlet-based APIs][1] and does not support Vert.x. I have not tested Quarkus' support for Servlets via Undertow though.
2. Ideally, one could use the [Elastic APM OpenTracing Bridge][2] by switching the tracer implementation. Unfortunatel

[2020-04-03 15:07] stianst commented on #4481
Also, that's a mute point from a csrf perspective as even if OP asks, the user should already be logged out of the app.

[2020-04-03 15:10] sberyozkin commented on #4481
@pedroigor Hi,

Let me open an enhancement request :-)

And per your discussion with Stian - OP can ask, Keycloak will, and I'm quite sure other known OIDC providers will.

We'd return an HTML Form while will auto-submit itself to Keycloak, I agree it is more complex; we can do though if it will be required

Why ? We can configure CORS in Quarkus, and also can configure the name of the custom logo

[2020-04-03 15:16] murphye opened #8379 "Add config to override DEFAULT_MAX_CHUNK_SIZE from HttpServerOptions"
**Description**
When using SSE you are limited to 8192 bytes per chunk by default from Vert.x:
https://vertx.io/docs/apidocs/io/vertx/core/http/HttpServerOptions.html#DEFAULT_MAX_CHUNK_SIZE

In order to send larger payload sizes per chunk (think Base64 encoded images that might be multiple megabytes), this should be configurable.

I am not sure if there are downsides to large chunk sizes for memor

[2020-04-03 15:32] derKrischan commented on #8286
Perhaps this is a suitable reproducer for the described problem: https://github.com/derKrischan/quarkus-reproducer-8286
I'm unable to get Mockito working right now and I don't like the Quarkus way to mock via mock implementations as it makes the tests less readable imho.

[2020-04-03 15:42] geoand commented on #8286
@derKrischan your issue is: https://github.com/quarkusio/quarkus/issues/7199

[2020-04-03 16:00] ia3andy opened #8381 "The platform maven resolver doesn't work when the remote "repositories" is set in the pom.xml"
**Describe the bug**
The platform maven resolver doesn't work when the remote "repositories" is set in the pom.xml

Quarkus: 1.3.1.Final

The workaround is to specify it using `-s custom-settings.xml`

[2020-04-03 16:01] ia3andy opened #8382 "The platform maven resolver doesn't use the correct platform groupId when it's set via a maven property from a profile in the pom.xml"
**Describe the bug**

The platform maven resolver doesn't use the correct platform groupId when it's set via a maven property from a profile in the pom.xml

It works if the property is in the global properties, or defined with -D...

Quarkus version: 1.3.1.Final

[2020-04-03 16:03] geoand commented on #8358
So should this be closed if it's being tracked in kogito?

[2020-04-03 16:15] sberyozkin commented on #8375
There are 69 parsers :-) and a huge number of supported formats.

[2020-04-03 16:20] murphye commented on #8371
Opening issue for website.

[2020-04-03 16:24] GregJohnStewart commented on #7156
@gastaldi Yeah I updated to 1.3.1.Final around when it was released, same issues unfortunately. I updated the OP to include travis and git urls to hopefully make it easier to see

[2020-04-03 16:29] derKrischan commented on #8286
@geoand Thanks. You're right.

[2020-04-03 16:36] pedroigor commented on #4481
I see. Another path we can explore ...

@stianst @sberyozkin We have the most important bits defined so I'm going to start implementing something.

[2020-04-03 17:10] #8350 closed

[2020-04-03 17:17] machi1990 commented on #8357
Fixed by https://github.com/quarkusio/quarkus/pull/8368

[2020-04-03 17:17] #8357 closed

[2020-04-03 17:30] phact commented on #7876
@tomekl007 is the mapper in scope for this?

[2020-04-03 17:42] maxandersen commented on #8381
I assume using ~/.m2/settings.xml  works?

[2020-04-03 17:57] Sanne commented on #8323
Ok, I have a fix but this will require an upgrade of Hibernate ORM; that will take a little longer.

[2020-04-03 18:41] adutra commented on #7876
@phact yes.

[2020-04-03 19:43] ebullient commented on #8272
This grew somewhat out of my attempt to see if we could get micrometer support to work natively with Quarkus. The extension was easy enough to write. If, however, we wanted to allow that extension to be an alternate provider for metrics, we run into a lot of trouble.

The SPI surfaced to other extensions is very MP-centric: base/api/vendor concepts, for example. I was trying to disentangle things

[2020-04-03 21:39] pschyma commented on #8362
The documentation seems incomplete. You need to change the assembly to reflect your modifications. See #5968.

[2020-04-03 21:43] sberyozkin commented on #4481
Hi @pedroigor @stianst thanks

[2020-04-03 21:47] sberyozkin commented on #7286
@pedroigor Yeah, I was looking at the code the other day and it did look that it will do it as I happily noted [above](https://github.com/quarkusio/quarkus/issues/7286#issuecomment-598717216) :-), it may well already work, but at the quarkus level it may make sense to give users an option to qualify the format. I'm also not sure if Vertx will create JWT out of the introspection response. I'll need

[2020-04-03 22:26] ddewalle opened #8384 "SSL/TLS two-way is not working properly on client side"
**Describe the bug**
When running 2 quarkus servers communicating with SSL/TLS two-way between each other, the client key store is not properly managed.

**To Reproduce**
Steps to reproduce the behavior:

Nota: all keys used here follow the chain
- FOOBAR_ROOT_CA (self-signed) -> FOO (as client certificate)
- FOOBAR_ROOT_CA -> BAR (as server certificate)

1. Create a server (Bar server)
[code]
1.1

[2020-04-03 23:55] murphye commented on #2081
I ran into this issue, and am instead using: http://commons.apache.org/proper/commons-imaging/ to read image data.

However, it has significant limitations as it cannot read many JPEGs that have been compressed. Also PNGs cannot even be ready in native image mode with Commons.

Tried to find other solutions and nothing is available.

[2020-04-04 01:12] zakkak opened #8385 "ArC - Tests fails on eCryptfs directories"
**Describe the bug**
Running `./mvnw install -DskipITs -DskipDocs` from an [eCryptfs](https://www.ecryptfs.org/) directory results in `ARC - Tests` failure. eCryptfs developers [suggest](https://unix.stackexchange.com/a/32834/14050) using filenames that are less than 140 characters long. However, `ARC - Tests` generates a class file named `ProducerOnClassWithoutBeanDefiningAnnotationTest_StringPro

[2020-04-04 02:30] zakkak commented on #8385
As a workaround I am currently using only the first 20 digits of the SHA1 hash.

[code]

[2020-04-04 06:20] michael-schnell commented on #5681
I started working on this issue.

[2020-04-04 07:57] aloubyansky commented on #8381
yes

[2020-04-04 08:02] michael-schnell commented on #5681
I added the first classes for tenant support:
https://github.com/michael-schnell/quarkus/commits/master

In general the design is inspired by the existing ODIC multitenant code:
- [TenantResolver](https://github.com/michael-schnell/quarkus/blob/master/extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/tenant/TenantResolver.java) = Allows user to create the tenant ID fr

[2020-04-04 09:06] giova333 commented on #8362
Yes, thanks, make sense. This docs just claims that everything should work out of the box
and developers just need to follow certain folder structure and naming conventions.

_There are times you may want to set a specific system properties or other arguments when lambda invokes your native quarkus lambda deployment. If you include a bootstrap script file within zip.native, the quarkus extension w

[2020-04-04 09:17] ieugen commented on #6026
I can't wait for Quarkus to get cli support !! I expected things to be much better in this area.

[2020-04-04 13:06] shahparthiv opened #8386 "Error while creating the native imgae on mac os"
**I am running the below command**

`./mvnw package -Pnative -Dquarkus.native.container-build=true`

**I am getting following error**

[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: `Darwin Parthiv.local 18.2.0 Darwin Kernel Version 18.2.0: Thu Dec 20 20:46:53 PST 2018; root:xnu-4903.241.1~1/RELEASE_X86_64 x86_64`
 - Output of `java -version`

[2020-04-04 13:39] michael-schnell commented on #2835
Do you see multiple persistence units as a requirement for implementing #5681? It could be done independently as a config per tenant that does not use `quarkus.datasource.*`, but defines it's own.

[2020-04-04 14:32] dmlloyd commented on #2081
Have we tried again recently?

[2020-04-04 14:40] michael-schnell commented on #2835
Sorry for the multiple commits... Had a problem with git

[2020-04-04 14:46] maxandersen commented on #8381
okey so not a massive blocker as having them in pom.xml isn't really recommended.
It is still quite critical because this would mean users having their own extensions or libraries in repos referred in pom.xml would not be resolved properly.

Do we know why our resolver does not listen to the pom's settings ?

[2020-04-04 15:07] famod commented on #8378
@geoand

The follwing two tests use WireMock:
- `quarkus\extensions\spring-cloud-config-client\runtime\src\test\java\io\quarkus\spring\cloud\config\client\runtime\SpringCloudConfigClientGatewayTest.java`
- `quarkus\integration-tests\elytron-security-oauth2\src\test\java\io\quarkus\it\elytron\oauth2\ElytronOauth2ExtensionResourceTestCase.java`

So the fix would be to move the WireMock dependency to

[2020-04-04 15:10] geoand commented on #8378
Yeah, I don't see why not

[2020-04-04 15:33] geoand commented on #8386
Is there any more information in the output?

Perhaps if you add `-X`?

[2020-04-04 16:04] cescoffier opened #9327 "Add interceptor to enable hot reload on incoming gRPC requests"

[2020-04-04 18:03] barthanssens opened #8391 "MethodNotFoundException io.netty.buffer.ByteBuf.isContiguous()"
**Describe the bug**

With a very simple (hello-world-like, based on https://quarkus.io/guides/rest-client) example with quarkus bom, quarkus-resteasy and quarkus-rest-client in the pom.xml, I get a warning  / exception

**Expected behavior**

No warning

**Actual behavior**

**Environment (please complete the following information):**

Quarkus 1.3.1 on AdoptOpenJDK 11, MS-Windows 10 64-bit, with

[2020-04-04 18:34] k0staa commented on #6513
Maybe it will be useful to someone. This is a quick workaround

[code]
One thing. I use Kotlin in Gradle configuration so if you don't use Kotlin, remove extensions in `build.gradle.kts` and `settings.gradle.kts` files.

[2020-04-04 18:48] gastaldi commented on #6513
@k0staa we're deprecating `gradle buildNative` in favor of `gradle build -Dquarkus.package.type=native`. See #8325 for more details

[2020-04-04 20:57] nimo23 commented on #8348
If StatelessSession is faster for read operation then it could be an alternative for https://github.com/quarkusio/quarkus/pull/7455.

Now, I also think it is not worth to include a full support of StatelessSession patterns within Panache. The StatelessSession can be used directly and this should be sufficient. So I will close this issue.

[2020-04-04 20:57] #8348 closed

[2020-04-04 21:17] jclingan opened #8392 "Hyperlink Rest Resources on 404 page"
**Description**
When an application attempts to access an invalid REST endpoint, Quarkus will provide a 404 page with a list of valid endpoints. There are some additional developer joy opportunities here:

1. Make non-parameterized resource access a hyperlink to application endpoint on 404 pages. Seems like low-hanging fruit with a nice upside.
2. Optional: Make resource parameters editable in 404

[2020-04-05 03:07] k0l0ssus opened #8394 "Unable to inject with @Context in unit tests"
**Describe the bug**
Given the following JUnit 5 test for a custom JAX-RS exception mapper, `JAXRSExceptionMapper`, annotated with `@Provider`:
[code]
The provider:

[code]

**Expected behavior**
The injection of the provider container succeeds; the unit test passes

**Actual behavior**
An NPE indicating that `javax.ws.rs.ext.Providers` wasn't injected:

[code]
**To Reproduce**
Steps to reproduce

[2020-04-05 05:40] shahparthiv commented on #8386
I have ran the command using `-X`.
Please check the attached log file.
[logs.log](https://github.com/quarkusio/quarkus/files/4433003/logs.log)

[2020-04-05 05:49] geoand commented on #8386
Hm... I see `[ERROR] [io.quarkus.deployment.pkg.steps.NativeImageBuildStep] Unable to get GraalVM version from the native-image binary.` in the logs.

Can you please try and execute the following command:

[code]

?

[2020-04-05 06:28] geoand commented on #8394
Interesting....

Can I ask why you expect this would work? Is it supported in some other framework or mentioned in some documentation?

[2020-04-05 06:29] geoand commented on #8392
@ia3andy would you like to take a stab at this one?

[2020-04-05 08:19] majonga88 opened #8396 "OIDC code flow fails when Auth0 returns a binary access token"
Hello guys,

I'm trying to securized one of my endpoints with scopes via Auth0 provider. The connection with Oauth provider working but i cannot able to put scope management into my api with quarkus.

I compare the js solution which is working and quarkus solution which i have an issue.

**In JS sample provided by Auth0**

Following this [tutorial]( https://auth0.com/docs/api-auth/tutorials/repres

[2020-04-05 09:02] cescoffier opened #9324 "Add support for compressor"

[2020-04-05 10:51] marc-christian-schulze opened #8398 "Support LoganSquare as compile-time alternative to Jackson"
**Description**
JSON de-/serialization requires the reflection information of the de-/serialized classes to be present which increases the memory requirement of Quarkus applications - at least when using Jackson. [LoganSquare](https://github.com/bluelinelabs/LoganSquare) is a JSON de-/serializer that relies mostly on compile-time code generation to avoid reflective access of the entities subject t

[2020-04-05 12:55] agoncal commented on #7188
Any update on this one ? I'm using 1.3.1.Final and I have the same issue (impossible to persist an entity with the repository because of transaction not being activated)

[2020-04-05 13:17] sberyozkin commented on #8396
@majonga88 Hi, `quarkus.oidc.role-claim-path=scope` will get a `scope` claim checked.

`quarkus.oidc.authentication.scopes` is about configuring `quarkus-oidc` to request that a token which will be obtained as part of the code flow should get these scopes.

The debug message you are seeing seem to confirm that Auth0 returns an opaque token (not JWT) so Vertx asks Auth0 to introspect it.

Try the a

[2020-04-05 14:42] cescoffier commented on #5627
Work done in https://github.com/quarkusio/quarkus-grpc.

[2020-04-05 15:16] sberyozkin opened #8399 "Provide a CSRF prevention feature"
**Description**
[CSRF](https://owasp.org/www-community/attacks/csrf) prevention can be difficult to do correctly for the regular Quarkus applications. Some extensions such as `quarkus-oidc` do some work around it, with some users might be trying CORS to minimize the risks (which is deemed insufficient, search for `CSRF CORS`).

Pedro @pedroigor pointed out that it would be good if Quarkus could of

[2020-04-05 16:07] timounet commented on #8258
Well I get same class not found exception:
Caused by: java.lang.ClassNotFoundException: org.jboss.resteasy.context.ResteasyContextProvider
when running in a dev mode a new project created:
`mvn io.quarkus:quarkus-maven-plugin:1.3.1.Final:create -DprojectGroupId=com.my.group     -DprojectArtifactId=my-project     -DclassName="com.my.group.myproject.StatisticResource"     -Dpath="api/stats"     -Dex

[2020-04-05 17:36] stijnhoskens opened #8400 "Liquibase in dev mode detects duplicate changeLog file"
**Describe the bug**
During startup of quarkus dev mode, Liquibase tries to parse the configured (yaml) file containing the changeLog, this fails due to 2 such files being found in the classpath.  This error does not occur in normal mode (running the runner jar).

**Expected behavior**
Liquibase only finds one changeLog file and parses it.

**Actual behavior**
The following exception is thrown, bl

[2020-04-05 19:21] vsevel commented on #7900
@lordofthejars

I ended up drafting a proposition based on discussions in this issue https://github.com/quarkusio/quarkus/issues/7900 and associated PR https://github.com/quarkusio/quarkus/pull/8248.

no PR at this point. everything is in: https://github.com/vsevel/quarkus/commit/ca68d6f1f45eff7caca6caf148fca10b81131eba

it has a complete implementation including tests for response wrapping applie

[2020-04-05 20:12] zeljkot commented on #8152
@FroMage here is the log.
[log.txt](https://github.com/quarkusio/quarkus/files/4434704/log.txt)

[2020-04-05 21:48] Sanne commented on #8323
https://hibernate.atlassian.net/browse/HHH-13929

[2020-04-05 22:28] r00ta opened #8401 "Quarkus exports Openapi json specs without @PathParam parameters"
**Describe the bug**

The openapi specs downloaded from `/openapi` contains all the properties, but the json specs downloaded from `/openapi.json` is different and for example it does not contain the `@PathParam` parameters.

**Expected behavior**
Parameters annotated with `@PathParam` should be included in the specs downloaded from `/openapi.json`

**Actual behavior**
Parameters annotated with `@

[2020-04-05 22:51] #7199 closed

[2020-04-05 22:51] xmlking opened #8402 "with quarkusPlatformVersion=1.3.1.Final unit tests fails with error: Cannot invoke method startsWith() on null object"
**Describe the bug**
with `quarkusPlatformVersion=1.3.1.Final` unit tests fails with error:

`java.lang.NullPointerException: Cannot invoke method startsWith() on null object`

same works find with  `quarkusPlatformVersion=1.3.0.Final`

To Reproduce
change to `quarkusPlatformVersion=1.3.1.Final` at
https://github.com/xmlking/micro-apps/blob/develop/gradle.properties#L14

run  ` gradle :apps:greeti

[2020-04-06 00:39] #8379 closed

[2020-04-06 00:40] #8378 closed

[2020-04-06 01:32] stuartwdouglas commented on #8335
I wonder if this is windows specific, although I don't really see how there could still be a connection after the process has been killed.

I testing this out locally on my mac and onStop is called as normal.

[2020-04-06 01:54] stuartwdouglas commented on #8391
What does mvn dependency:tree look like? Can you reproduce this with the Quickstart from the quickstarts repo, I just tried and I could not reproduce it.

[2020-04-06 01:56] stuartwdouglas commented on #8385
I don't think we are going to support filesystems that are so limited, especially not for building Quarkus itself.

The actual build of an application assembles files in memory, so this should not be a problem.

[2020-04-06 01:56] #8385 closed

[2020-04-06 02:06] stuartwdouglas commented on #8331
Can you add ;DB_CLOSE_DELAY=-1 to the connection URL?

According to the h2 docs the in memory DB will be closed after the last connection is closed, and agroal with its default config will time out connections after 5m.

http://www.h2database.com/html/features.html

[2020-04-06 03:17] xmlking opened #8404 "kotlin changes to code cause hot-reload fail with error: Intercepted bean must not be final"
How to reproduce:
git clone https://github.com/xmlking/micro-apps.git
gradle :apps:greeting-service:quarkusDev

now change code in  `GreetingResource.kt` and reload page `http://localhost:8080/api/v1/greeting`

Error when reloading page:
**Intercepted bean must not be final: CLASS bean [types=[micro.apps.greeting.GreetingResource, java.lang.Object], qualifiers=[@Default, @Any], target=micro.apps.g

[2020-04-06 03:51] xmlking opened #8405 "new project created with gradle, kubernetes, jib fails for task quarkusBuild"
[code]

[code]

[code]

[2020-04-06 03:53] xmlking commented on #8405
same as https://github.com/quarkusio/quarkus/issues/8220

[2020-04-06 03:56] gastaldi commented on #8405
Closing as duplicate of #8220

[2020-04-06 05:01] #6540 closed

[2020-04-06 05:16] fredmtyro opened #8406 "quarkus-container-image-jib: add support for labels"
**Description**
Support adding labels to the image produced by quarks-container-image-jib.

**Implementation ideas**
The feature seems to already exist in jib itself (see [jib docs](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#extended-usage))

[2020-04-06 05:41] viniciusfcf opened #8407 "Openapi should not be Resteasy dependent"
**Describe the bug**
Quarkus does not startup with extensions: quarkus-smallrye-openapi and quarkus-vertx-web and  without quarkus-resteasy

**Expected behavior**
Startup and openapi and swagger-ui displaying Static OpenAPI files inside META-INF folder (if it exist)

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone git@github.com:viniciusfcf/quarkus-issues

[2020-04-06 06:25] mkouba commented on #7188
@gsmet  Yes, as described [here](https://github.com/quarkusio/quarkus/issues/7102#issuecomment-586945242) the repository class is transformed and the methods are generated and so the CDI container does not see the methods at all.

[2020-04-06 06:59] #4460 closed

[2020-04-06 07:17] lordofthejars commented on #7900
In my opinion is that we can close this one and send a new PR.

[2020-04-06 07:26] majonga88 commented on #8396
Hello,

Thank you to reply me, I try this configuration :

[code]

But i have the same issue, the scope is not checked, and i have this error again :
[code]

If you want to try my source feel free to ask the clientId and secrets.

[2020-04-06 07:38] gsmet commented on #2081
@dmlloyd I don't think so.

[2020-04-06 07:40] barthanssens commented on #8391
I haven't tried the quickstart yet, so I'll give that one a try

Dependency tree:

[code]

Starting with mvn compile quarkus:dev  works without error, but the warning / exception is thrown as soon as I try a GET request.

[2020-04-06 07:44] gsmet commented on #8400
@stuartwdouglas is it expected we have the resources in `./build/classes/`? Looks like a bug. Not sure if it's specific to Gradle or not.

@gastaldi could you do a quick check?

[2020-04-06 07:44] mariofusco commented on #8358
@geoand yes you can close this, thank you.

[2020-04-06 07:46] geoand commented on #8358
Thanks @mariofusco

[2020-04-06 07:46] #8358 closed

[2020-04-06 07:49] gsmet commented on #8402
@gastaldi @geoand could one of you check this one? We have a reproducer (but it's Gradle + Kotlin).

[2020-04-06 07:57] gsmet commented on #8406
/cc @iocanel @geoand

[2020-04-06 07:59] geoand commented on #8406
Good idea. I'll get it done for `1.4`.

[2020-04-06 08:01] geoand commented on #8402
Sure, I'll check it out

[2020-04-06 08:06] gsmet commented on #8407
There's an issue with the reproducer:
[code]

[2020-04-06 08:09] geoand commented on #6717
The build seems to be failing with a weird GraalVM error:

[code]

[2020-04-06 08:12] #8336 closed

[2020-04-06 08:15] geoand commented on #8402
I wasn't able to reproduce the error unfortnately.

The tests pass when I run `gradle :apps:greeting-quarkus:test` with either `1.3.0.Final` or `1.3.1.Final`.

[2020-04-06 08:17] stuartwdouglas commented on #8391
Looks like the older version in being pulled in by vert.x, however this should not happen because we include the netty bom. What does your pom look like?

[2020-04-06 08:32] barthanssens commented on #8391
I spotted the problem, my bad, I didn't use quarkus-bom correctly in my pom.xml

I've compared it to the one from the quickstart, and now it works as expected (now uses netty buffer 4.1.45 instead of .42)
Thanks for the help and sorry for the confusion.

[2020-04-06 08:37] geoand commented on #8404
I am pretty sure that this has already been fixed in `master`. Would you be willing to give it a try?

[2020-04-06 08:47] PHameete commented on #4961
What is the status on this? Can I help in any way to move this forward - for example by testing?

[2020-04-06 09:04] gunnarmorling commented on #4961
The PR of @alesj is here, and I think it's good to go: https://github.com/quarkusio/quarkus/pull/7417. Essentially just needs merging by @gsmet or someone else with the right permissions.

If you could build Quarkus from that PR branch and give it a test run in your environment, that'd be welcomed very much. Thanks!

[2020-04-06 09:16] richardbischof commented on #6615
Hey guys,

I tried to build and use Quarkus as a native image with Hibernate, Hibernate-Spatial and PostGIS. In my understanding this is what @thesteve0 was trying to do next, but didnt't provide reproducer code. So I extend his issue here.

In development mode it works perfectly, but as soon as I run as native image, I got the following error:

**Error:**
```java.lang.InstantiationException: Type

[2020-04-06 09:18] #8391 closed

[2020-04-06 09:22] FroMage commented on #8152
I still see GZIP:

[code]

[2020-04-06 09:39] FroMage commented on #8258
So in the first case, when it does not work, we have no dependency on the `resteasy-context-propagation` module at runtime. But it must have been imported at build-time, because it's been detected and should be initialised.

In the second case, I'm guessing the build time deps were different (have to find why) and you get no context propagation for resteasy so it doesn't fail at runtime.

[2020-04-06 09:54] FroMage commented on #8258
Looks like a variant of #7809 (fix: #8409)

[2020-04-06 10:08] jmartisk commented on #8272
But what are we going to do about extensions which don't use this SPI at all, because their underlying libraries use MP Metrics API directly? It does not seem very realistic that we could refactor all such libraries (at the moment I can think of Infinispan and most SmallRye projects, but there will probably be more in the future) to use an abstracted API.

Jaeger is another potentially problematic

[2020-04-06 10:22] vsevel commented on #7900
ok, so I created https://github.com/quarkusio/quarkus/pull/8411
please feel free to review
I have done userpass, but that should be very similar

[2020-04-06 10:32] sberyozkin commented on #8396
@majonga88 OK, the problem seems to do with the fact that `Auth0` returns a binary (non-JWT) access token as part of the code flow. Vertx does have some code where it tries to introspect such binary tokens but only when such a token is already provided to `quarkus-oidc` as a bearer token (there is an issue to verify it). But in your case it is a code flow. I don't see any workaround but to update

[2020-04-06 10:34] majonga88 commented on #8396
@sberyozkin I will be patient :), if you want client-id and secret please contact me in pm, i really enjoy what you're doing guys ! Thank you !

[2020-04-06 10:51] #8406 closed

[2020-04-06 11:06] dwamara opened #8413 "Internationalization and Qute"
**Description**
I am actually doing an application for a client and I will be using Quarkus and Qute to make the frontend.
The only problem that I have at the moment is the fact that as the client is a multinational, the first version of the application/UI has to be in both English, German and French.
I would be good if Qute could support some internationalization so one could only make one templa

[2020-04-06 11:08] sberyozkin commented on #8396
@majonga88 Thanks; in meantime perhaps you can configure Auth0 to send JWT token instead ?

According to [this doc](https://auth0.com/docs/tokens/guides/validate-access-tokens), Auth0 can return the binary token, and I've read somewhere else that it may return the binary tokens in all cases on the so called legacy pipelines. If you can make it return JWT it will work, I believe we've had the users

[2020-04-06 11:13] mkouba commented on #8413
Hi @dwamara, thanks for the report. However, this issue duplicates https://github.com/quarkusio/quarkus/issues/7665.

[2020-04-06 11:13] #8413 closed

[2020-04-06 11:14] nimo23 commented on #8413
Maybe I18N in Qute can work like JSF I18N (with `i18n.properties` files). However, I am in doubt if this is the right approach for Qute to re-invent or re-implement the JSF-stuff again (expressions, security, xss, i18n)..

[2020-04-06 11:16] dwamara commented on #8413
Sorry, I made a search with "internationalization" and got no result, reason why I created this one, I should have also searched "i18n" :-) Thanks for the heads up.

[2020-04-06 11:16] nimo23 commented on #7665
I JSF I18N can be made with `i18n.properties` files. Maybe Qute can adapt from it?

[2020-04-06 11:24] sean-scott-lr opened #8414 "Quarkus generated OpenAPI documentation for @BeanParam does not reflect inherited parameters"
**Describe the bug**
Generated API documentation does not accurately reflect the API for JAX-RS resource method that accept @BeanParam parameters which inherit behaviors from a parent class.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to reproduce the behavior:

1.

[2020-04-06 11:24] geoand commented on #8401
cc @phillip-kruger

[2020-04-06 11:26] sean-scott-lr commented on #8414
Note. I did some digging and found that quarkus uses smallrye to implement OpenAPI. I found this enhancement request in their backlog.
https://github.com/smallrye/smallrye-open-api/issues/239

[2020-04-06 11:28] gsmet commented on #7665
@mkouba btw, there are a few neat ideas in this project: https://projectfluent.org/ .

[2020-04-06 11:31] mkouba commented on #8413
No problem ;-)

[2020-04-06 11:40] geoand commented on #6745
#8376 contains an implementation of this

[2020-04-06 11:46] geoand commented on #4960
This was fixed in `1.3.x`

[2020-04-06 11:46] #4960 closed

[2020-04-06 11:47] geoand commented on #6322
I'll close this in favor of #6025

[2020-04-06 11:51] geoand commented on #7374
The Kubernetes Client team has agreed to looking into creating a smaller client - this will really help us trim down the compilation time of application that only need basic features, instead of the entire massive model.
Once that is done, we can incorporate that model in Quarkus.

[2020-04-06 11:51] geoand commented on #8414
cc @phillip-kruger

[2020-04-06 11:54] sean-scott-lr opened #8415 "Quarkus OpenAPI Generated documentation for @BeanParam does not reflect @Parameter if you are using a setter"
**Describe the bug**
Quarkus OpenAPI Generated documentation for `@BeanParam` does not reflect the information coded in an `@Parameter` annotation if you are using a setter.

It appears that you must annotate a member variable instead of a setter method with Both `@QueryParam` and `@Parameter` in order for the API Doc to work properly.  However, in our case, we are setting the value into a delegat

[2020-04-06 11:54] viniciusfcf commented on #8407
My bad. Now is ok, or not working in the right way...😅

[2020-04-06 11:56] geoand commented on #5296
This has since been fixed, so I'm closing the issue.

[2020-04-06 11:56] #5296 closed

[2020-04-06 11:56] geoand commented on #5920
I added checkboxes to what has already been done.

[2020-04-06 11:58] geoand commented on #6799
This has since been fixed, so I am closing

[2020-04-06 11:58] #6799 closed

[2020-04-06 12:03] geoand commented on #7185
This has since been fixed in #8322

[2020-04-06 12:03] #7185 closed

[2020-04-06 12:09] geoand commented on #2811
We have since decided that we will most likely go down the road of **not** requiring any Kotlin compiler plugins, but instead have Quarkus apply the necessary transformations.
This will make the Kotlin experience frictionless no what matter what the build tool.

[2020-04-06 12:10] geoand commented on #6304
I'm going to close this as it is unclear what is required.

Feel free to reopen with more information if desired.

[2020-04-06 12:10] #6304 closed

[2020-04-06 12:16] zeljkot commented on #8152
You are right, it disappeared just from the cause "java.lang.IllegalStateException" (java.util.zip.GZIPOutputStream).

[2020-04-06 12:24] maxandersen opened #8416 "if something is already running on port startup has no warning /signs of problems"
**Describe the bug**
Start two quarkus:dev or something else confilciting on port 8080 and your second run will not show any warning/errors.

**Expected behavior**
Warning or even full error if ports cannot be bound.

[2020-04-06 12:34] geoand commented on #8416
That's weird, I got a bunch of errors in the console when I tried it...

[2020-04-06 12:59] geoand commented on #6814
In #8343 we added `@IfBuildProfile` and `@UnlessBuildProfile` which I think covers this use case.

[2020-04-06 12:59] #6814 closed

[2020-04-06 13:12] lodrantl opened #8417 "Quarkus OIDC with cookie-path does not remove cookie"
**Describe the bug**
When using Quarkus OIDC with type web-app and a cookie-path set, the whole authentication process only works the first time. When the tokens expire, a new challenge is sent out but the old session cookie is never removed. The call to remove cookie at https://github.com/quarkusio/quarkus/blob/7e969004866b195a4ee20b5e16ff005b9e3c4d84/extensions/oidc/runtime/src/main/java/io/quar

[2020-04-06 13:42] aldettinger commented on #2746
In [Camel Quarkus](https://github.com/apache/camel-quarkus), we let the user choose resources to be embedded in the native executable via [configuration](https://github.com/apache/camel-quarkus/commit/b0600f9f7a637b1a17167f86f7208fcc98739012). We basically specify [include/exclude patterns](https://github.com/apache/camel-quarkus/blob/abb274d1d3ecd0aa3458c2ee0628d756d78825d2/docs/modules/ROOT/page

[2020-04-06 13:43] ercalamar commented on #6355
Hi all,

I managed to compile on Windows 10.  Steps (only a few ;) ):

- in build.gradle you need:
plugins {
    id "io.quarkus" version "1.3.1.Final"
}

dependencies {
    //at least the first one if you want "listExtensions etc" working
    implementation enforcedPlatform('io.quarkus:quarkus-bom:1.3.1.Final')
    testImplementation enforcedPlatform('io.quarkus:quarkus-bom:1.3.1.Final')
}
- insta

[2020-04-06 13:48] mkouba commented on #7665
@gsmet _"translation resources used by Fluent is called FTL"_ seems like a name conflict with FreeMarker ;-). Anyway, thanks for the tip!

[2020-04-06 14:31] EricWittmann commented on #8401
I'll have a look, but it's likely to be some problem in the Quarkus extension.  We have pretty extensive tests in SmallRye to make sure that the output is the same regardless of whether it's YAML or JSON formatted.

I have no idea right now how the `/openapi` and `/openapi.json` endpoints might differ.  But hopefully it won't be hard to figure out. :)

[2020-04-06 14:39] EricWittmann commented on #8401
Question for @r00ta - is there any chance you have an `openapi.json` file bundled in your application?  Perhaps in `META-INF` for example?

[2020-04-06 14:43] r00ta commented on #8401
@EricWittmann Thanks!
Nope, I don't have any `openapi.json` file in my `META-INF`. The strange thing is that without the following dependencies
[code]
The `/openapi.json` is not available at all! I will create a sample project to reproduce the issue in few hours!

[2020-04-06 14:44] galderz commented on #8081
@geoand Have you already updated the Spring dependency to avoid this issue? If not, any estimates when you expect to do this?

[2020-04-06 14:45] geoand commented on #8081
@galderz yes, the fix is in Quarkus `master`

[2020-04-06 14:53] EricWittmann commented on #8401
OK a sample app would be good.  I don't think the Quarkus OpenAPI extension defines a `/openapi.json` endpoint - so it's perhaps coming from one of those dependencies.  I just created a sample Quarkus app with OpenAPI enabled and I get a 404 for that endpoint.

[2020-04-06 14:55] galderz commented on #8081
Awesome @geoand, one less patch I need to keep track of :)

[2020-04-06 14:59] galderz commented on #8081
With the spring and ooxml-schemas issues integrated, I think I can close this for now. I still need to test Camel, but if that fails I'll open an issue on their project. Thx everyone for their help!

[2020-04-06 14:59] #8081 closed

[2020-04-06 15:02] EricWittmann commented on #8401
You were right, this is the dependency that is adding "support" for `/openapi.json`:

[code]

When I add/remove that it enables/disables the `/openapi.json` endpoint.  In my example case that endpoint just returns an empty OpenAPI document.

So this is now well outside my area of knowledge.  :)  I don't know why you have that dependency enabled or what it does.

[2020-04-06 15:13] geoand commented on #8081
Thanks for reporting and for your help @galderz!

[2020-04-06 15:16] #6745 closed

[2020-04-06 15:34] xmlking commented on #8404
sure I need to try other issues also which is fixed in master.
could you please guide my how to get master SNAPSHOT dependencies? or should I have to build myself ?
Thanks

[2020-04-06 15:41] geoand commented on #8404
You can build quarkus from `master` using `./mvnw clean install -DskipTests -DskipITs -DskipDocs`.

and then use `quarkus-bom` instead of `quarkus-universe-bom`.

[2020-04-06 15:43] EricWittmann commented on #8407
@phillip-kruger - should you be the owner of the Quarkus OpenAPI extension?  All I can say about this issue is that it's not a problem with SmallRye - since resteasy is only a **test** scoped dependency in SmallRye OpenAPI.  So unlikely to be the cause of this.

[2020-04-06 15:45] xmlking commented on #8402
@geoand thanks for looking into it.
can you please try with this repo:
https://github.com/xmlking/micro-apps

change `quarkusPlatformVersion=1.3.0.Final` to `quarkusPlatformVersion=1.3.1.Final ` in `gradle.properties`  in the project root and

run ` gradle :apps:greeting-quarkus:test`

my environment
[code]

still get the following error

[code]

[2020-04-06 15:47] r00ta commented on #8401
Maybe it was my misunderstanding but reading the following documentation https://quarkus.io/guides/openapi-swaggerui I was expecting that an export of a json specs was supported by the `quarkus-smallrye-openapi` addon. Is it correct?
I tried many other packages to export swagger api, but all of them are not exporting properly all the parameters.

[2020-04-06 15:48] rsearls commented on #7124
Yes some of the "cause by"  classes I see as well.  This issue is still the root cause never gets printer to the terminal or any log file I can find.
I have updated the project to use quarkus 1.3.1.Final and resteasy 4.5.2.Final.
This should allow you to build the project.
Here is the stacktrace I get upon setting a breakpoint on
io.quarkus.arc.Arc.initialize(Arc.java:28).  The true cause of the f

[2020-04-06 16:07] gsmet commented on #8401
By adding the Swagger jar, you get Swagger to generate the JSON.

What you need to do is either:
- GET /openapi?format=json
- GET /openapi with an Accept header `application/json`

And you will get the output of the file generated by SmallRye OpenAPI as JSON.

[2020-04-06 16:19] Ladicek opened #8421 "NPE in ClassTransformingBuildStep when building multi-module application"
**Describe the bug**
I have a multi-module application, set up like this:

- `core` is almost the entire application, except of a JDBC driver, and it doesn't have the `quarkus-maven-plugin`
    - it uses the `quarkus-hibernate-orm-panache` and `quarkus-openshift` extensions
- a `mariadb` module adds the MariaDB JDBC driver and runs the `quarkus-maven-plugin`
- there's also a bunch of other modules

[2020-04-06 16:20] Ladicek commented on #8421
CC @aloubyansky as he authored the offending commit. Also CC @iocanel and @geoand as the `dekorate-dependencies` JAR is involved.

[2020-04-06 16:35] Ladicek opened #8422 "environment variables in OpenShift resources are not generated correctly"
**Describe the bug**
If I configure a well-known S2I image to be used, some environment variables (`JAVA_APP_JAR`, `JAVA_LIB_DIR`, `JAVA_CLASSPATH` and `JAVA_OPTIONS`) are supposed to be generated into the `target/kubernetes/openshift.yml`. However, that doesn't happen.

This is because some callsites use the `KubernetesEnvBuildItem` constructor incorrectly.

**Expected behavior**
Environment vari

[2020-04-06 16:35] Ladicek commented on #8422
Fix is simple, I'll submit a PR.

[2020-04-06 16:43] aloubyansky commented on #8421
It looks like the class to be transformed was collected from an non-root application archive but is being looked for in the root app archive. So if it worked before that commit, it seems like this class was not transformed?

[2020-04-06 16:47] Ladicek commented on #8421
I have no idea. It's possible. What I know is that the NPE occurs because the `path` variable is `null`, and that happens for some `io.fabric8.kubernetes` classes, which are not found in the `dekorate-dependencies` archive, even though the index for this archive contains those classes.

[2020-04-06 16:48] sberyozkin commented on #8417
@lodrantl Thanks for spotting it, please check #8424

[2020-04-06 16:48] xmlking commented on #8402
Node: following `RestAssured` works
[code]
but not
[code]
so I suspect some JSON related  dependencies in **BOM** has been chaned in `1.3.1.Final`

[2020-04-06 16:53] xmlking commented on #8402
could you please share how you are testing? are you using  `RestAssured` API in your tests?

PS: in my tests,  logs showing which version I am using `Quarkus 1.3.1.Final ` or `Quarkus 1.3.0.Final `
[code]

[2020-04-06 17:21] xmlking commented on #8404
built local quarkus and using `999-SNAPSHOT` now.

**Result: hot-reload is completely disabled...**

I have to restart server to get new changes applied :(.

[code]

[code]

[2020-04-06 17:25] emersonl91 commented on #7102
Find a way around this problem, in the test files I did not do operations with the database directly, I did all through API. It worked for me.

[2020-04-06 17:32] xmlking commented on #8405
I tested with local quarkus build from master, with following settings and it did not work
[code]

@gastaldi please re-open this issue

[code]

[2020-04-06 17:34] geoand commented on #8404
OK, thanks for checking

[2020-04-06 17:35] gastaldi commented on #8405
You need to change the `quarkusPluginVersion` to 999-SNAPSHOT too, can you do that before we reopen it?

[2020-04-06 17:36] phillip-kruger commented on #8407
@EricWittmann @gsmet I can have a look for sure.

[2020-04-06 17:39] phillip-kruger commented on #8414
Thanks @geoand . @MikeEdgar is working on this. We will let you know once it's fixed.

[2020-04-06 17:40] geoand commented on #8414
Excellent, thanks!

[2020-04-06 17:42] xmlking commented on #8405
sure, testing now

[2020-04-06 17:49] xmlking commented on #8405
same error  with
[code]

[2020-04-06 17:54] lordofthejars opened #8425 "Creates Documentation for Vault TOTP"
**Description**

Creates Documentation for Vault TOTP

[2020-04-06 17:57] arvidvillen commented on #8297
I have the same issue, is there any known workarounds?

[2020-04-06 18:02] r00ta commented on #8401
Thank you very much @gsmet , that works like a charm!

[2020-04-06 18:02] #6464 closed

[2020-04-06 18:03] #8401 closed

[2020-04-06 18:04] geoand commented on #8297
Not unless we can figure out what exactly is causing the symlink creation failure on Windows (it works on Windows CI)

[2020-04-06 18:09] Legion2 commented on #8297
Does the windows CI use administrator rights?

[2020-04-06 18:20] gastaldi commented on #8405
@xmlking I tried locally and the error does not occur:

[code]

Can you make sure you're building quarkus master from the latest sources?

[2020-04-06 18:55] provcristianmaluenda opened #8427 "Update Netty library to `4.1.46.Final` or higher to improve GraalVM support"
**Description**
Netty has an issue with GraalVM.
The explanation from micronaut [ticket](https://github.com/micronaut-projects/micronaut-core/issues/2335#issuecomment-570151944) (Sorry, I know is the competition):

[Netty ticker 9928](netty/netty/issues/9928)

**Implementation ideas**
Update the Netty dependency to `4.1.46.Final` or higher.

[2020-04-06 19:03] gsmet commented on #8427
We shouldn't be affected by this issue: we initialize it at runtime exactly for that reason.

[2020-04-06 19:05] gastaldi commented on #8400
I can confirm this bug is reproducible. Here is the project: https://github.com/gastaldi/liquibase-gradle-bug

Just run `gradle quarkusDev` (it uses an H2 memory DB)

[2020-04-06 19:13] 38leinaD opened #8428 "Command-mode applications in Gradle quarkusDev mode should allow passing commandline args"
**Description**
This is in regards to command-mode application-support implemented by https://github.com/quarkusio/quarkus/pull/7681.
I have been already playing around with the feature based on a Gradle-project.
Running "gradle quarkusDev" allows to run the command-mode application in dev-mode; however, for command-mode applications it would be useful to pass command-line args to the application.

[2020-04-06 19:26] provcristianmaluenda commented on #8427
Thanks!

[2020-04-06 19:27] #8427 closed

[2020-04-06 19:27] shahparthiv commented on #8386
hey I ran the given command and output is:  `GraalVM Version 19.3.1 CE`

In ma bashrc I have set the path as below:
`export GRAALVM_HOME=/Library/Java/JavaVirtualMachines/graalvm-ce-java11-20.0.0/Contents/Home`

and in path `$GRAALVM_HOME/bin`

please let me know If I configure something wrong.

[2020-04-06 19:40] Sanne commented on #8323
fixed Hibernate ORM released, upgrade PR sent for Quarkus.

[2020-04-06 19:42] tandraschko commented on #6421
@nimo23 M2 now supports even native images ;) have fun

[2020-04-06 19:44] lodrantl commented on #8417
Looks good to me if that is how vertx does it. Although it seems pretty redundant to send the token value back in the expired cookie. When debugging the network requests it is not immediately obvious that the cookie is meant to be removed.

[2020-04-06 20:05] nimo23 commented on #6421
@tandraschko wow that's fanstastic news. Thanks for your effort, I will use the JSF-extension in the next time when switching the view layers from wildfly to quarkus..

[2020-04-06 20:54] #7030 closed

[2020-04-06 21:19] sberyozkin commented on #8417
yes I have seen that an empty value/etc is set, but if the browsers work as expected then it is not too bad

[2020-04-06 21:22] patriot1burke commented on #8258
For the record, please don't "revert the weird Resteasy dependency changes"

The changes are not weird.  The context propagation stuff was removed as part of an effort to reduce the ridiculous amount of dependencies that were pulled into a generic Resteasy project.  I'd bet my $5 that most Resteasy projects are not reactive, so I just can't support pulling in a bunch of SmallRye stuff and bloating

[2020-04-06 21:27] patriot1burke commented on #8258
I think one part of the solution might be to remove ContextFeature [1].  I'm not sure WTF the point of this class is other than some "weird" defensive coding.  Then I wouldn't mind adding resteasy-context-propagation (there's only one class) to quarkus-resteasy as the smallrye dependencies could be excluded

[1] https://github.com/resteasy/Resteasy/blob/master/resteasy-reactive-context/src/main/ja

[2020-04-06 21:36] xmlking commented on #8405
that works for me, default build don't generate  docker image.
can you please try this:
[code]

[2020-04-06 21:44] sberyozkin commented on #7359
@tgippi Thanks for this information.
Right I see its XMLInputFactory having
[code]
I think we can most likely exclude this API from `quarkus-tika`

[2020-04-06 21:57] sberyozkin commented on #7359
Hmm... Excluding from `quarkus-tika` causes
[code]
I wonder if we should update `quarkus-narayana-jta` to set `javax.xml.stream.XMLInputFactory` to whatever the default provider in Java is set to right now so that it is `protected` from the external dependencies like `xml-apis` setting a non default provider ?

@gsmet Hi Guillaume, what do you think ?

[2020-04-06 22:11] phillip-kruger commented on #8407
Hi @EricWittmann @gsmet .
SmallRye OpenApi is not pulling in RESTEasy, However, the OpenAPI quarkus extension does via
```quarkus-resteasy-deployment```
It needs that because of the RESTEasy AnnotationScannerExtension.

I am not sure how to fix this. @kenfinnigan maybe you can give some guidance ?

[2020-04-06 23:02] MikeEdgar commented on #8415
@sean-scott-lr , do you have the `name` and `in` properties specified in the `@Parameter` annotation?

[2020-04-06 23:30] stuartwdouglas commented on #8428
DevModeContext would be the best place for this.

You could also add an enhancement to allow changing the args on restart (at the 'press enter to restart' prompt), although I am not sure what best UI for that would be. Maybe press 'q' to quit, 'm' to run with modified args, any other key to restart with the same.

[2020-04-07 00:21] sean-scott-lr commented on #8415
Here is an example of what we have:

[code]

[2020-04-07 00:23] gastaldi commented on #8405
It seems to be an incompatibility with the kotlin plugins. If you remove them and add `id 'java'` it works.

@geoand any clue?

[2020-04-07 03:07] stuartwdouglas commented on #8400
The problem appears to be here: https://github.com/quarkusio/quarkus/blob/1b4d8f26339d7d152e89003bbc71841c22ab721b/devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusDev.java#L323

Basically we add `build/classes/java/main/`and `build/resources/main/`, and the same files are in both. It appears that all the files in `build/resources/main/`are then copied over, so I am not sure why we act

[2020-04-07 03:11] k0l0ssus commented on #8394
Sure @geoand !

-  With a lot of trouble, I can manually (`@Inject Provider<ExceptionMapper>`) obtain the reference by throwing in Arquillian into the mix. One problem with that is that it's not idiomatic for working with providers in CDI or JAX-RS. Another thing is that there's no official support for Arquillian with JUnit 5 (matter of fact, I could only get it working with JUnit 4.1x). I imagine

[2020-04-07 05:49] codeninja55 commented on #4629
Have a question whether log4j2 is supposed as well. Is there any way to adapt Quarkus to use log4j2 rather than JBoss?

[2020-04-07 05:53] geoand commented on #8400
It's very odd that we are just seeing this... Maybe Gradle 6 did change something like you said, I'd have to look into it.

[2020-04-07 06:13] geoand commented on #8394
Thanks for the explanation.

I'm going to convert this to an enhancement, since we don't mention anywhere that such a thing is supported.

[2020-04-07 06:16] mkouba commented on #7124
@rsearls ^

[2020-04-07 06:18] geoand commented on #8405
I can reproduce the problem. I'm looking to see if there is any fix.

[2020-04-07 06:33] fredmtyro commented on #6488
I am also having this problem and would like to find a solution as we are migrating from KIAM to IAM Roles for Service Accounts.

It seems that for this to work, the AWS SDK WebIdentityTokenFileCredentialsProvider needs to be able to use WebIdentityCredentialsUtils to identify that the StsWebIdentityCredentialsProviderFactory in the optional AWS SDK sts package has been loaded.

The Quarkus Dynamo

[2020-04-07 06:40] phillip-kruger commented on #8407
I was wondering, should the RESTEasy AnnotationScannerExtension not maybe move to the quarkus-resteasy-extension ? Not sure if that is even possible...

[2020-04-07 06:44] geoand commented on #8405
The problem comes from the fact that the Kotlin compiler jar contains its own version of `com.google.common.base.Strings`.

[2020-04-07 07:07] 38leinaD commented on #8428
Thanks for giving direction. Basics work now.
I am unsure how much value it brings. Because if the commandline args should be changed it will be easier for a lot of people to just stop and start the task again because the will have the familiar tools of their shell; e.g. jump to start/end of line etc. But maybe it is a good idea for experimenting with minor changes to the command. On the other han

[2020-04-07 07:07] geoand commented on #8405
@stuartwdouglas I know what needs to be done to solve this, but I need your blessing or an alternative idea.

Basically what happens in this case is that the kotlin compiler jar has its own very stripped down version of `com.google.common.base.Strings`, so when Jib tries to access this class (in the AugmentationClassLoader), instead of loading it from the Guava jar, it loads it from the Kotlin jar

[2020-04-07 07:21] stuartwdouglas commented on #8405
Ugh, why would they do that, have they never heard of shading?

The problem with your approach is that if google changes the API (which does happen) Kotlin will stop working if it is depending on an old version. That said it may be the best way forward, the classloader already supports ordering, so you would just need some way to indicate this as part of the build system/app model.

Another option

[2020-04-07 07:28] geoand commented on #8405
Yeah I know, I couldn't believe it when I saw it...

I'll try this and see how it goes. It does seem to have a few more stripped down dependencies, but I they seem to be all internal to the Kotlin compiler jar.

If that doesn't work, I'll look into the ordering of the classpath elements on the ClassLoader.

[2020-04-07 08:05] rainmanhhh opened #8435 "How to make quarkus-smallrye-openapi return correct response schema for vertx?"
**Please use StackOverflow for questions.**

This helps the community to be able to find answers to their similar issues more easily.

[Click this link to ask on StackOverflow with the "quarkus" tag](https://stackoverflow.com/questions/ask?tags=quarkus).

if I use io.quarkus.vertx.web.Route:
[code]
localhost:8080/swagger-ui report "No operations defined in spec!"

[2020-04-07 08:14] majonga88 commented on #8396
@sberyozkin Indeed, but you have to handle JWT generation inside your front end application [here an example](https://auth0.com/docs/architecture-scenarios/server-api/api-implementation-nodejs#check-the-client-permissions) and i don't want to. I want to have authentification/authorization flow outside my applications (front and back). I know it's a step to unlock the problem, but i prefer wait a p

[2020-04-07 08:16] r00ta commented on #8415
@sean-scott-lr What about
[code]

[2020-04-07 08:32] banovp opened #8436 "SmallRyeFaultToleranceProcessor#hasFTAnnotations(line 222) - crashes on java.lang.Object Beans -> no Super Class"
**Describe the bug**
Version 1.3.1. In case a cdi bean does not have a super class -> java.lang.Object, we are getting:
[code]

suggestion would be to add at line 222 in SmallRyeFaultToleranceProcessor:
[code]
for instance the method hasFTAnnotaions would look like that:

[code]

**Expected behavior**
no exception

**To Reproduce**
Steps to reproduce the behavior:
1.  Use myfaces 2.3-next-M2 (down

[2020-04-07 08:34] ppalaga opened #8437 "Include native resources via application.properties"
As discussed on the mailing list [1] We should introduce a new build time application.properties config that would allow users to add resources to the native image. Something like

[code]

Let me prepare a PoC.

[1] https://groups.google.com/forum/#!topic/quarkus-dev/SLuS7DiDMVA

[2020-04-07 08:35] gsmet commented on #8436
@Ladicek @jmartisk any chance you could have a look at that one today?

[2020-04-07 08:50] stuartwdouglas opened #8439 "Improved production mode ClassLoader"
We should use a faster ClassLoader for production mode, and pre-index the lib directory so lookups are O(1) instead of O(n) on the number of classes.

[2020-04-07 08:51] geoand commented on #8405
Using `parentFirst` unfortunately leads to even more problems.

[2020-04-07 09:14] rainmanhhh commented on #8435
I found that with resteasy api(@Get @Path) and jdk8 CompletionStage, openapi works fine. Will it be a performance bottleneck using resteasy http handler instead of vertx.web?

[2020-04-07 09:30] geoand commented on #8400
I just tried Gradle both with a super simple Java SE application and with a Spring Boot project, and there the contents of `build/classes/java/main/` and `build/resources/main/` are **not** the same in those cases.
So it seems like we are doing something that results in those directories containing the same files.
I'll keep looking and see what that might be.

[2020-04-07 10:13] rainmanhhh commented on #5860
I defined a Provider but quarkus do not use it, why?
[code]

[2020-04-07 10:20] MikeEdgar commented on #8415
@sean-scott-lr , please try:

`@Parameter(name = LIMIT_QP_NAME, in = ParameterIn.QUERY, description = "The maximum number of results that a response page can contain.")`

[2020-04-07 10:22] jmartisk commented on #8436
I've submitted a PR

[2020-04-07 10:25] #7028 closed

[2020-04-07 10:26] gastaldi commented on #8437
AKA Glob pattern :wink:
You can use java.nio's PathMatcher for that: https://javapapers.com/java/glob-with-java-nio/

[2020-04-07 10:28] sberyozkin commented on #8375
@stuartwdouglas Hi Stuart, do you have ideas why would `LinkageError` be thrown in this case ?

@JiriOndrusek Can you give me a favour please and try the same reproducer but without configuring anything in `application.properties` (that configuration is mainly about the optimization of the native image size, etc), example, in [this project](https://github.com/zemiak/movies/blob/master/src/main/res