[2020-10-12 09:23] geoand commented on #12649
So @iocanel this is a case of breakage. Can you have a look?

[2020-10-12 09:46] loicmathieu commented on #12625
So what do you propose here ? For OAuth2 to work we need an OAuth2 server. Typically, a user will use embedded security in localhost and OAuth2 when deploying on a server. We already explained a little later on the guide how to mock an OAuth2 server for integration test but for local if you don't want to use an embedded authentication you must configure a valid OAuth2 server.

[2020-10-12 09:54] #6513 closed

[2020-10-12 09:58] aloubyansky commented on #12528
Here is what happens and how to make it work.
First of all, Quarkus dev mode does not support live reloading of extensions. Which while you do have in your workspace, the extension artifacts themselves are added to the classpath as JARs, so not hot re-loadable. Which is totally fine but the issue is that there is also `optaplanner/optaplanner-core` which is a dependency of the extension, is discov

[2020-10-12 10:41] ge0ffrey commented on #12528
About the last question, missing quickstart: that's because it's in a seperate profile in 7.x because it's not productized. On master (8.x) that's all ironed out and it nicely part of it in the repo optaplanner-quickstarts.

[2020-10-12 11:14] xumk commented on #12300
@gsmet @gastaldi
I debugged this task and came to the following conclusions: Resource with constructor injection is not hava default constructor with `@Deprecated` annotation, but without its default constructor is added to resource. I cannot to find place where it happens to added default constructor to resource class.
Maybe its does do JVM, then this task is not bug?

[2020-10-12 11:21] AmsterdamFilho commented on #4005
@Dufgui When is this extension expected to be released? I am trying to convince Telefonica to start using Quarkus instead of Spring Boot, but they have so many legacy SOAP web services. Maybe work together with @shumonsharif to release this extension sooner?

[2020-10-12 11:25] AmsterdamFilho commented on #10212
This would be very interesting to have. Is there any workaround for now?

[2020-10-12 11:30] xumk commented on #4005
@AmsterdamFilho you can use [this](https://github.com/shumonsharif/quarkus-cxf). It extension is being developed and relesed there

[2020-10-12 11:59] ge0ffrey commented on #12528
For clarity: @aloubyansky diagnozed and fixed another issue (a LinkageError) that was also occuring on that branch. The NPE on UnixPath.normalizeAndCheck is unrelated and hard to reproduce. But George and Guihaume have seen it too (see linked thread). I don't see it any more currently (yet my quarkus version hasn't really changed IIRC).

[2020-10-12 12:02] aloubyansky commented on #12528
The NPE is not difficult to reproduce actually. If you run `mvn clean` on the main project and then try launching the dev mode you'll see the NPE. I'll open a PR with the fix shortly.

[2020-10-12 12:03] aloubyansky commented on #12528
ah, any perhaps you should remove the optaplanner artifacts from the local repo.

[2020-10-12 12:22] cescoffier commented on #5633
Reopening - it has never been completely fixed.

[2020-10-12 12:32] crivera commented on #12640
ah makes sense !!! thank you!

[2020-10-12 12:50] gastaldi commented on #12607
I think it would be nice to also have a description of what's partially supported in this case

[2020-10-12 12:53] bonocore opened #12658 "NoProxy settings for quarkus RestClient"
**Description**
Hello, as per

https://github.com/quarkusio/quarkus/issues/6522

It is possible to set http proxy settings into RestClient.

However, it seems that the underlying RestEasy config does not allow to configure a "no-proxy" list of host, for which proxy should not be used. This is a very useful feature for some enterprise setup

**Implementation ideas**
It whould be great to have a con

[2020-10-12 12:56] gastaldi commented on #12634
Closing then as it is fixed in 1.8.3. Thanks!

[2020-10-12 12:56] #12634 closed

[2020-10-12 12:57] dinabogdan commented on #12626
Hi! I'm facing the same issue when I'm trying to run a `@QuarkusTest`, even with the above changes added into the code. Any idea about this?

[2020-10-12 12:58] dinabogdan commented on #12626
The received error is:

[code]

[2020-10-12 13:06] gsmet commented on #12626
@dinabogdan any chance you could prepare a simple Maven reproducer so that we can have a look?

[2020-10-12 13:24] dinabogdan commented on #12626
I will try to create a sample project on Github. I should let you know that the issue goes away when I'm downgrading to version `1.7.1.Final`.

[2020-10-12 13:35] cgruver commented on #2611
It looks like this issues may have gone stale.  Is there an update?

I just ran into the following with Quarkus 1.8.3:

[code]

Given the age of these CVEs, they are likely false positives, with the probable exception of: `CVE-2020-25633`.

[2020-10-12 13:35] vsevel commented on #12634
@gastaldi well the issue is for 1.9.0.CR1 (which as the problem), not for 1.8.X

[2020-10-12 13:36] dhoffer commented on #12591
I was able to find a/the solution to this issue.  The key was learning that multiple threads were using the same EntityManager,  In Quarkus @Transactional does not automatically account for org.eclipse.microprofile.faulttolerance.@Asynchronous.  The solution was to annotate all classes that use @Asynchronous with either @Transactional(Transactional.TxType.REQUIRES_NEW) or @Transactional(Transactio

[2020-10-12 13:45] gastaldi commented on #12634
Ah maybe the fix wasn't available when 1.9.0
CR1 was released? Can you give it a try with the latest master?

[2020-10-12 13:50] gsmet commented on #12626
Yeah it's not surprising. As mentioned, we changed how the EM beans are initialized in 1.8.

[2020-10-12 14:01] bonocore commented on #12658
Added related issue on RestEasy: https://issues.redhat.com/browse/RESTEASY-2729

[2020-10-12 14:05] gsmet commented on #12634
Yes, 1.9.0.CR1 does not contain the fix. It will be included in 1.9.0.Final.

[2020-10-12 14:13] loicmathieu commented on #2611
`CVE-2020-25633` is on the wrong artifact because Quarkus is not known in the CVE database so the artifact resultion wrongly resolves quarkus resteasy to resteasy itself (cpe:2.3:a:redhat:resteasy:1.8.3).

This issue is still valid

[2020-10-12 14:15] aldettinger opened #12659 "Logging issues with log4j2-jboss-logmanager"
**Describe the bug**
When using the **log4j2-jboss-logmanager**, logs are not printed when running tests.
Furthermore, when using a log4j logger next to a jboss logger, a stack trace is reported "Maximum number of attachments exceeded".

**Expected behavior**
I would expect logs to be printed during tests.
I would also expect the runner jar to start when using log4j + jboss loggers.

**To Reproduc

[2020-10-12 14:20] xumk commented on #12654
@gsmet, @Sanne
I think that need to add
` public enum NullOrdering {
            NONE,
            FIRST,
            LAST
        }
`
for write only valid value in `defaultNullOrdering` property.
And default value for `queryPlanCacheMaxSize` property because is good and do not confuse users.
I can do it

[2020-10-12 14:21] gsmet commented on #2611
@sberyozkin could we (or someone at Red Hat) take care of this?

[2020-10-12 15:10] dmlloyd commented on #12659
I've created a possible fix in https://github.com/quarkusio/quarkus/pull/12662 though it will take about 24 hours for the update to propagate to Maven.

[2020-10-12 16:05] tbglazer commented on #12644
Thank you for your answer.
I need the result from the redis cache inside the gRPC thread to do additional work,
How can I get the result without blocking the thread ?

[2020-10-12 16:29] asoldano commented on #12647
@weli, is this perhaps something you can have a look?

[2020-10-12 16:48] lucas-dclrcq commented on #12521
The has maven section has often custom steps, but the solution section is pretty much the same everywhere, do I still need to provide an include for this part ?

Can we maybe add a test that ensures the maven section is present for guides ?

[2020-10-12 17:01] gsmet commented on #12647
I think there's a misunderstanding here: `gzip.max-input` is about the maximum size above which we won't try to gzip the content.

You're probably looking for this instead: https://quarkus.io/guides/http-reference#http-limits-configuration .

[2020-10-12 17:09] famod commented on #12282
I'm even getting this in a specific case on initial dev mode start (not reload). I still have to check if rest-client is involved.

[2020-10-12 17:49] #12113 closed

[2020-10-12 20:14] zakkak opened #12666 "NativeImageMojo: Make `additionalBuildArgs` not override `quarkus.native.additional-build-args` property"
**Description**
When debugging a native-image `-Dquarkus.native.additional-build-args` can be very handy, since it allows the users to pass various flags to `native-image`.

For instance, `-Dquarkus.native.additional-build-args='-H:Log=dwarf.*:3,-Dgraal.LogFile=log.txt'` will enable verbose logging for dwarf symbols generation and store the output in `log.txt`.

However, in the case where the pom

[2020-10-12 21:11] bobbyphilip opened #12667 "Reduce error logging in vertx proxy address forwarding"
I see a error log when an ipv6 address of the condensed format  `2001:db8:85a3:8d3:1319:8a2e:370::` is used. (Basically ends in a ::)

https://github.com/quarkusio/quarkus/blob/9d5f82255ee8a994bcffd16c0cbcc24edd6ab226/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java#L204

Would a change like https://github.com/bobbyphilip/quarkus/commit/98a52d8b1135470

[2020-10-12 22:31] doublefx commented on #11968
Hi Guys,

Somehow I cannot read secrets from application.yml, not sure it is link to this fix but I asked the question [here](https://stackoverflow.com/questions/64326124/how-to-use-quarkus-kubernetes-config-secrets-enabled-in-application-yml), can one of you have a quick look?

[2020-10-12 22:37] stuartwdouglas commented on #11616
Can you test out https://github.com/quarkusio/quarkus-http/pull/44

[2020-10-12 23:57] #12528 closed

[2020-10-13 00:40] jw941 commented on #12569
I tried but it didn't work.

[2020-10-13 00:49] zhfeng commented on #10180
@mmusgrov since the PR is closed. Do you mind if I create a new one to try to fix this issue ?

[2020-10-13 06:07] cescoffier commented on #12644
If you use the ReactiveRedisClient it will be non-blocking:

[code]

[2020-10-13 06:08] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/303693146

[2020-10-13 06:42] geoand commented on #12486
I am seeing:

[code]

[2020-10-13 06:49] evacchi commented on #12486
@cristianonicolai @mariofusco I think we changed something recently there (it tests) do you know what is happening?

[2020-10-13 06:58] suchwerk commented on #7359
I am facing the same problem.
`2020-10-13 08:56:05,657 ERROR [io.qua.dep.dev.IsolatedDevModeMain] (main) Failed to start quarkus: java.lang.RuntimeException: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
        [error]: Build step io.quarkus.narayana.jta.deployment.NarayanaJtaProcessor#build threw an exception: javax.xml.stream.FactoryConfigurationError: Provider co

[2020-10-13 07:14] gsmet commented on #12569
"didn't work" meaning?

[2020-10-13 07:20] gsmet commented on #12592
@patriot1burke any chance you could have a look, it looks quite serious?

[2020-10-13 07:20] suchwerk commented on #8375
Any progress?

[2020-10-13 07:30] Ladicek commented on #11968
I've answered (or tried to :-) ) the question.

At this point, I believe that instead of adding the `quarkus.kubernetes-config.secrets.enabled` config property (defaulting to `false`), I should have added a property called `quarkus.kubernetes-config.generate-roles-for-secrets` and default it to `true`. Oh well :-(

[2020-10-13 07:40] ineednousername commented on #12625
It is all fine what you write here, my point only was that the test should run out of the box which does not seem to work.
This can just be confusing at first if you create the example via `mvn io.quarkus:quarkus-maven-plugin:1.8.2.Final:create` and it does not work. Not sure if you can pass application.properties during the project scaffold generation to disable oauth2 `quarkus.oauth2.enabled=fal

[2020-10-13 07:49] dinabogdan commented on #12626
Hi! You can find the reproducere here: https://github.com/dinabogdan/quarkus-sample-project-issue-12626.

[2020-10-13 08:16] aloubyansky commented on #12586
@famod I tried to create a reproducer here https://github.com/aloubyansky/playground/tree/quarkus-12586 unsuccessfully so far. Could you give it a quick look? Perhaps, you'll notice something I need to adjust to reproduce your issue. Thanks!

[2020-10-13 08:45] rsvoboda commented on #7359
@suchwerk what version of Quarkus are you using? Workaround is to add com.fasterxml.woodstox:woodstox-core to the deps of the app.

@sberyozkin, will you have chance to look into into soon-ish, or do you have any pointers for possible fix?

[2020-10-13 08:45] 38leinaD opened #12671 "NPE on Arc in combination with Myfaces extension: Producer for Object type"
**Describe the bug**
When using the MyFaces Quarkus extension, the build fails with a NPE since Quarkus 1.9.0.CR1

[code]

When debugging into BeanProcessor, ClientProxyGenerator, AsmUtilCopy, it is this producer of type Object where he is chocking:
https://github.com/apache/myfaces/blob/master/impl/src/main/java/org/apache/myfaces/cdi/JsfArtifactProducer.java#L178

He is trying to get the parent

[2020-10-13 08:47] 38leinaD commented on #12671
/cc @tandraschko

[2020-10-13 08:50] gsmet commented on #12658
/cc @asoldano

[2020-10-13 08:51] loicmathieu commented on #12625
OK then, I think the best is to improve the documentation.

If you follow the OAuth2 guide, it means you want to test OAuth2 so for me it's OK that you have an error as long as you didn't configure OAuth.

I'll create an issue to describe the modifications I proposes for the security guides (mostly re-organizing them to have more logical steps by moving the configuration part upper). When done I'l

[2020-10-13 08:53] gsmet commented on #12666
I don't think it's worth doing anything about it given `additionalBuildArgs` is deprecated and shouldn't be used.

[2020-10-13 08:55] suchwerk commented on #7359
@rsvoboda Version is 1.8.3

[2020-10-13 08:56] gsmet commented on #12667
@bobbyphilip yeah I think your proposal would be a good first step (except for the comment I added). Could you prepare a pull request? I would like to have it in 1.9.0.Final so if you prepare the PR today, that would be perfect.

[2020-10-13 09:00] mkouba commented on #12671
I'll send a PR and ask @FroMage who is the author of the `AsmUtilCopy` for review...

[2020-10-13 09:01] loicmathieu commented on #12521
Even the solution section is different the guides, I oversee when creating the issue but it often contains a sentence explaining what's inside the quickstart and sometimes link to multiple quickstarts.

Si it's better first to update the guides and see if a pattern really emerges.

It may be a good idea, I wonder what others think about this one and how it will works. @gsmet @machi1990 WDYT about

[2020-10-13 09:04] gsmet commented on #12658
I'm closing this one as it's really a RESTEasy issue, we can't do anything about it in Quarkus.

[2020-10-13 09:04] #12658 closed

[2020-10-13 09:18] famod commented on #12282
It *is* related!

@phillip-kruger @gsmet @patriot1burke any idea why this happens?

[2020-10-13 09:19] rvansa commented on #11616
@stuartwdouglas Yes, that works for me. Thanks!

[2020-10-13 09:20] galderz commented on #12659
I saw this just yesterday while trying to help Infinispan lot with their log4j integration issues. To be precise, I was trying https://github.com/GluuFederation/oxauth-config/issues/165#issuecomment-691041339 to fix https://github.com/quarkusio/quarkus/issues/11644.

So @dmlloyd, what do people that want to use log4j do? Exclude any log4j dependencies and depend on `log4j2-jboss-logmanager`? @ryan

[2020-10-13 09:24] darren-bell-nanthealth commented on #11428
@dylanenabled Did you manage to get this resolved? I am falling into the same issue.
Thanks

[2020-10-13 09:30] glefloch commented on #12620
I have been able to fix tests disabled in :

- some tests in the CLI module: b4551ff
- some tests in the Codestarts module: 630a9d3

I still have a weird error in the GradleIT tests where it cannot find a dependency in my local maven repo:
[code]

[2020-10-13 09:31] ryanemerson commented on #12659
Infinispan exposes the current log4j configuration via a [REST endpoint](https://github.com/infinispan/infinispan/blob/aad7cba441e8bf4e2acdf8c870f9775df7b089bf/server/rest/src/main/java/org/infinispan/rest/resources/LoggingResource.java#L29), allowing the currently configured loggers and appenders to be listed, as well allowing loggers to be set/removed.

For this to occur we need to be able to ac

[2020-10-13 09:32] zeljkot commented on #12651
Here is the workaround for GitLab:
[code]

[2020-10-13 09:44] kny78 commented on #11549
Tried with jackson 2.11.3, but it still fails.

[2020-10-13 09:51] doublefx commented on #11968
Many thanks @Ladicek

[2020-10-13 10:04] aloubyansky commented on #12620
Looks like it's missing the local maven repo URL. Which test is it @glefloch?

[2020-10-13 10:15] glefloch commented on #12620
This is the `GroovyBuildFileTest#getDependencies` and `KotlinBuildFileTest#getDependencies` from `integration-tests/gradle` module.

[2020-10-13 10:53] gsmet commented on #12643
Thanks for the detailed test case. Fix is here: https://github.com/quarkusio/quarkus/pull/12677 .

[2020-10-13 10:59] zakkak commented on #12666
Uh interesting, I was not aware of that. So moving forward only `quarkus.native.additional-build-args` should be used for this functionality right?

In that case shall I open a PR replacing the use of `additionalBuildArgs` with `quarkus.native.additional-build-args` in the integration tests `rest-client` and `redis-client`?

@Karm FYI (you are using additionalBuildArgs in https://github.com/Karm/m

[2020-10-13 11:11] famod commented on #12586
@aloubyansky
You'll need a `@QuarkusTest` in that test-only module.

[2020-10-13 11:17] geoand commented on #12666
`additionalBuildArgs` needs to be removed from the maven plugin as this is not the first time it has caused confusion...

[2020-10-13 11:28] zakkak commented on #12666
Or at least make the maven plugin print a warning that this is deprecated, it overrides `quarkus.native.additional-build-args`, and is going to be removed in the near future :)

[2020-10-13 11:29] geoand commented on #12666
I don't know if that is possible, but if it is, then it would surely make sense

[2020-10-13 11:32] zakkak commented on #12666
I think this should do it:

[code]

I'll prepare a PR.

[2020-10-13 12:02] sberyozkin commented on #7359
@rsvoboda When I was looking at it last time, here is the proposal I did, https://github.com/quarkusio/quarkus/issues/7359#issuecomment-610058345, but it was likely not sound enough, so may be `xml-apis:xml-apis` dependency can be emulated in some other way... I'm sorry, 2 Tika issues have been fixed very recently, so I'm slowly but surely :-) trying to pick the issues, I''ve committed to fixing #

[2020-10-13 12:03] #12632 closed

[2020-10-13 12:09] loicmathieu opened #12678 "Unable to add a channel config property from an environement variable inside smallrye reactive messaging Kafka"
**Describe the bug**
When using smallrye reactive messaging Kafka and channels on multiple broker, the configuration of the broker must be done on each channel and not on the global `kafka.*` configuration properties.

In typical developement process, you use a local broker on dev and an SSL secured broker on production, in this case you will only have the needed configuration properties on your `

[2020-10-13 12:13] #8776 closed

[2020-10-13 12:24] mmaryo opened #12680 "Okhttp version is old in quarkus-universe-bom"
I'm facing this error https://github.com/square/okhttp/issues/5818
And realize I have 2 okhttp versions

One from quarkus-universe-bom (version 3.x.x)
One from org.web3j (version 4.x.x=)

There are breaking change between that versions

Have you plan to upgrade okhttp ?

[2020-10-13 12:29] #10420 closed

[2020-10-13 12:30] loicmathieu commented on #12602
@michalszynkiewicz I can work on providing a PR for this if you agree this is something desirable.

[2020-10-13 12:41] aloubyansky commented on #12620
Those tests need to refactored probably. The use-case is still relevant of course but loading a project based on Quarkus 0.23.2 is not. We should think of a different way to test version overrides.

[2020-10-13 12:58] aldettinger commented on #12659
I don't know about infinispan, in the context of an extension including 3rd party libraries with distinct kind of loggers, it worked by:
1. Cutting 3rd party log4j dependencies
2. Depending upon log4j2-jboss-logmanager
3. Bumping jboss-logmanager-embedded to 1.0.5 (should not be needed as of quarkus > 1.9.0.RC1)

@dmlloyd So well done, the fix with jboss-logmanager-embedded 1.0.5 looks fine when u

[2020-10-13 13:05] gsmet commented on #12659
@aldettinger do you have this defined: https://github.com/quarkusio/quarkus-quickstarts/blob/master/validation-quickstart/pom.xml#L59 ?

[2020-10-13 13:12] aldettinger commented on #12659
@gsmet I think so. From the effective-pom abstract below:
[code]

[2020-10-13 13:23] dmlloyd commented on #12659
I think that the lack of logs for surefire is a long standing problem. The configurator classes are installed into Quarkus apps but none of that infrastructure is guaranteed to be available to surefire tests.

[2020-10-13 13:30] michalszynkiewicz commented on #12602
I certailny don't see a problem with it :)
I assume both, `grpc-common/base` and `grpc-common/base-deployment` are needed?

[2020-10-13 13:38] #12671 closed

[2020-10-13 13:55] patriot1burke commented on #12362
I'll take a look, but remember that Quarkus has a lot of Gradle users.  'manage.sh' is more of a "Getting Started" solution.    Eventually we want to get a "quarkus deploy/undeploy" command that we can hook into instead.  Even then, I don't think we'll be able to be much use beyond a "getting started" mode considering that managing deployment can vary greatly between organizations.

Not sure what

[2020-10-13 14:26] encodeering commented on #11725
I can also see this in 1.8.3 in a multi module gradle project. It seems that an _existing_ but _empty_ `src/main/resources` directory is not materialized to `build/resources/main`, leading to this exception.

My current work around is to define at least one file within `src/main/resources` in every submodule of the project. Hope this might help in the meantime.

[2020-10-13 14:56] dinabogdan opened #12685 "Quarkus ignores SKIP_PARSE_PERSISTENCE_XML when started in development mode"
**Describe the bug**
I'm trying to start Quarkus by running `mvn compile quarkus:dev` command and passing the system property `-DSKIP_PARSE_PERSISTENCE_XML` property. It fails with the following error:
`2020-10-13 17:39:29,254 ERROR [io.qua.dep.dev.IsolatedDevModeMain] (main) Failed to start quarkus: java.lang.RuntimeException: io.quarkus.builder.BuildException: Build failure: Build failed due to

[2020-10-13 15:09] tbglazer commented on #12644
Clement, can you be a little more specific ?
I am not strong in reactive, in my application when a method is called inside the gRPC server thread it retrieves a value from the Redis server and using this value it does additional work before returning to the client.
The reactiveRedis returns a Uni and in my understanding if I need the value inside the gRPC thread I need to call some kind of wait th

[2020-10-13 15:26] ivannov opened #12686 "Export Micrometer metrics to SignalFX"
**Description**

At the moment Quarkus exports Micrometer metrics to several registries: Prometheus, Datadog, Azure to name a few. One other such registry is SignalFX (part of Splunk).

Add a configuration and implementation or SignalFX meter registry.

**Additional notes**

As a workaround SignalFX can also work Prometheus output:

https://docs.signalfx.com/en/latest/integrations/agent/monitors/p

[2020-10-13 15:29] cescoffier commented on #12644
That's the code I wrote in my previous comment:

[code]

If you implement the Mutiny base class, your method will return a `Uni`. Just return the uni as shown in my snippet.

Can you post the method signature?

[2020-10-13 15:47] jmtd commented on #10559
Hi @loicmathieu, oh, that's interesting. I'm afraid it's not in the full-fat UBI, either, it must not be in the set of RHEL8 packages that are distributed in UBI. That might be a mistake, though, I'll see if (and how) we can get it included.

[2020-10-13 16:03] gsmet commented on #12615
I created https://github.com/jboss-logging/slf4j-jboss-logging/issues/15 .

[2020-10-13 16:46] #12666 closed

[2020-10-13 16:48] cescoffier commented on #12678
@loicmathieu Fixed by https://github.com/smallrye/smallrye-reactive-messaging/pull/801.

[2020-10-13 16:49] jamezp commented on #12615
@gsmet I think the proper solution will be to switch to using https://github.com/jboss-logging/slf4j-jboss-logmanager/. I made some updates yesterday and can cut a release if it's something you want for Quarkus.

[2020-10-13 17:51] SlyngDK commented on #12615
@gsmet @jamezp I am looking at, a solution on switching to https://github.com/jboss-logging/slf4j-jboss-logmanager/, as sugested by @jamezp. I think i have something working local, there is a changed required to the slf4j-jboss-logmanager, and updating the required dependencies in quarkus.
The changes in version 1.2.1.Final of slf4j-jboss-logging, should be rollback.

[2020-10-13 18:17] SlyngDK commented on #12615
@jamezp I have created https://github.com/jboss-logging/slf4j-jboss-logmanager/pull/10, to fix the issue I have seen.

[2020-10-13 18:19] loicmathieu commented on #12678
Cool thanks.
Will it be part of Quarkus 1.10 ?

[2020-10-13 18:29] galderz commented on #11644
@rolandhaas I think it's something specific to log4j itself (independent of Quarkus), see this [stackoverflow question](https://stackoverflow.com/questions/64155872/classnotfoundexception-org-apache-logging-log4j-util-stacklocatorfqcncallerloc). Best exclude log4j dependency and use Quarkus' blessed log4j dependency.

[2020-10-13 18:33] cescoffier commented on #12678
Yes.

[2020-10-13 18:35] #12678 closed

[2020-10-13 18:44] javadevmtl commented on #6810
Actually it's very good idea to keep separate config files per profile.

There's no reason we would want a production password inside a dev config file and viseversa. Unless we try to do all that stuff through CI/CD and scripting. Not all of us are pulling from places like vault etc... Or have the resources to so yet.

[2020-10-13 19:11] jmtd commented on #10559
Hi: Further, actually that package is not in RHEL8 at all. It *is* in the EPEL repositories, however. Does that help?

[2020-10-13 19:23] tbglazer commented on #12644
The gRPC server thread gets as input a key to an xml value it keeps in Redis.
After retrieving the xml from Redis it uses as input to a third party library that builds some data using this xml and puts it in queue for further processing.
There is no way I can make all the processing async so I can use a Uni, at some point it needs the value from the Uni to pass to the third party library and there

[2020-10-13 19:31] pilhuhn opened #12691 "Native compilation fails with MP Rest Client"
See also https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Native.20and.20rest-client

**Describe the bug**

Create an app with the MP RestClient (or apparently also GraphQL client -- see https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/graphql.20microprofile/near/198970978 )

then try to compile this to native

This ends up in something like

[code]

**Expected be

[2020-10-13 19:39] SlyngDK commented on #12615
#12659 have solve the issue.
I have created a draft PR #12692 on the change of the slf4j implementation.
Test run local looks promising, I will look at the CI results tomorrow.

[2020-10-13 19:49] Karm opened #12693 "smallrye-config fails to generate native-image: io.quarkus.it.smallrye.config.Server$Log which is incompatible with types in state: MTypeMObject"
**Describe the bug**
Smallrye-config integration test fails to generate native-image.

**Expected behavior**
Integration test generates native-image.

**Actual behavior**
[code]

**To Reproduce**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:  Centos 8, 4.18.0-193.19.1.el8_2.x86_64
 - Output of `java -version`:   OpenJDK 11.0.8+10
 - GraalVM

[2020-10-13 19:50] Karm commented on #12693
FYI, @galderz , @zakkak . I am not sure whether this is an error on the Quarkus side or on the Mandrel side. Filing it here for the time being...

[2020-10-13 20:09] #12254 closed

[2020-10-13 20:13] Karm opened #12694 "native-image specific micrometer-mp-metrics test failure in io.quarkus.micrometer.runtime.registry.json.JsonExporter, java.lang.NumberFormatException"
**Describe the bug**
Micrometer test fails to parse output when run with native-image. It works just fine in JVM mode.

**Expected behavior**
The test passes for JVM mode and native-image alike.

**Actual behavior**
### JVM mode :heavy_check_mark:
[code]

### Native-image :x:
See the whole log:  https://gist.github.com/Karm/85b8a1cd46b3c0764ef2ef3f64adf439
Snippet:
[code]

**To Reproduce**
[code]

[2020-10-13 21:02] Karm opened #12695 "Kafka Avro integration test fails to generate native-image, Discovered unresolved type during parsing: com.google.common.collect.ImmutableMap"
**Describe the bug**
Kafka Avro integration test fails to generate native-image due to: `Discovered unresolved type during parsing: com.google.common.collect.ImmutableMap`.

**Expected behavior**
Kafka Avro integration test generates native-image and carries on with the test.

**Actual behavior**
[code]

**To Reproduce**
[code]

**Environment (please complete the following information):**
 - Outpu

[2020-10-13 21:33] radcortez commented on #12693
Hi @Karm, thank you!

We added this in Quarkus 1.9. I've tried this with 20.2.0.r11-grl and seems to work fine. I can try to check it out with Mandrel.

[2020-10-13 21:37] anthonydahanne opened #12697 "Truststore should be added but replaces default one"
**Describe the bug**
Hello all,
Following the documentation at : https://quarkus.io/guides/native-and-ssl  /. https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/native-and-ssl.adoc , I have created a new truststore with my company certificates.

**Expected behavior**

According to the documentation using:

    quarkus.native.additional-build-args=-J-Djavax.net.ssl.trustStore=/

[2020-10-13 21:43] Karm commented on #12693
@radcortez , nice to "meet" you again! :)
I run it with ```-Dquarkus.native.builder-image=registry.redhat.io/quarkus/mandrel-20-rhel8:20.1-12``` and that failed, Mandrel 20.1.0.2.Final.

When I run with Mandrel 20.2.0.0.Beta1 it all works just fine:

[code]

[code]

So, it kinda comes down to whether Quarkus 1.9 is supposed to support Graal/Mandrel 20.1 or 20.2+.   If the latter, the issue can be

[2020-10-13 22:30] radcortez commented on #12693
Likewise :)

Cool!

[2020-10-14 00:25] stuartwdouglas commented on #12497
Looking at your workflow this is not actually remote, you are running both the remote agent and the mvn quarkus:remote-dev agent in the same directory.

You need to either:

- copy the target somewhere else and run it from there
- put it in a container

previously the agent would just handle sending files, while now it handles local compilation as well.

[2020-10-14 00:56] ebullient commented on #12694
Have a patch if you want to try it?

[2020-10-14 03:18] gastaldi opened #12701 "Removing @Produces("application/json") does not work for Map results"
@stuartwdouglas apparently this PR does not support this:

[code]

I get the following error while hitting the endpoint:
[code]

_Originally posted by @gastaldi in https://github.com/quarkusio/quarkus/pull/12566#issuecomment-708130133_

[2020-10-14 03:26] gastaldi commented on #12701
Apparently returning a List doesn't work either:

[code]

[2020-10-14 03:27] gastaldi commented on #12701
Nevermind, I forgot to add `quarkus-resteasy-jackson` to my sample project

[2020-10-14 03:27] #12701 closed

[2020-10-14 03:43] #12694 closed

[2020-10-14 04:26] cristianonicolai commented on #12486
@evacchi yep, I think it is related to the changes to use the local repo instead of pulling the deps, will take a look.

[2020-10-14 05:30] #3585 closed

[2020-10-14 06:07] lsolier commented on #3226
I have the same problem that @Funmi5160

[2020-10-14 06:11] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/305797034

[2020-10-14 06:36] cescoffier commented on #12644
As I said, we will provide blocking ability, but gRPC is designed to be non-blocking and async (not our implementation, gRPC itself).

Let me propose a second approach a bit easier maybe. You still return a `Uni` but you do it in a synchronous manner:

[code]

[2020-10-14 06:54] xumk opened #12703 "At create from command line are have wrong version dependency"
If create quarkus project from command line like indicated on site
for gradle:
[code]
for maven:
[code]
we getting created by `gradle.properties` and `pom.xml` files with 1.9.0.CR1 version instead 1.8.3.Final

[2020-10-14 07:02] xumk commented on #12703
@gastaldi what you think about it

[2020-10-14 07:16] #5633 closed

[2020-10-14 07:16] #8914 closed

[2020-10-14 07:22] leosilvadev commented on #5633
Thanks @cescoffier !!!!
Which version should contain the fix?
Thank you again!

[2020-10-14 08:22] cescoffier commented on #5633
@leosilvadev Quarkus 1.10 should contain the fix.

We can try to convince @gsmet to backport it in a future Quarkus 1.9.1 maybe.

[2020-10-14 08:26] leosilvadev commented on #5633
@cescoffier having it in 1.10 would be fine for me
Thanks a lot

[2020-10-14 09:09] ia3andy opened #12706 "Dockerfile codestart could be factorized to ease maintenance"
**Description**
https://github.com/quarkusio/quarkus/blob/master/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.fast-jar,
https://github.com/quarkusio/quarkus/blob/master/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.

[2020-10-14 09:09] ia3andy commented on #12706
@glefloch would you take this one?

[2020-10-14 09:20] glefloch commented on #12706
yes :)

[2020-10-14 09:32] ia3andy commented on #12252
This issue is poping again with a different class:
[code]

[2020-10-14 09:33] ia3andy commented on #12252
@geoand should we also add jackson to the list?

[2020-10-14 09:38] Sanne commented on #12685
Hi, the `SKIP_PARSE_PERSISTENCE_XML` is meant as an advanced, temporary solution - not a feature. That's why it's not documented and why it is modelled as a system property.

The fact that people seem to really want using it makes me think that perhaps it should become a configuration property - but I'd prefer to avoid it if possible.

Could you expand on why you want to use this, and why in devel

[2020-10-14 09:39] geoand commented on #12252
No, that could be very problematic

[2020-10-14 09:43] ia3andy commented on #12252
I will have a look at Sentry to find out why they use a JSON marshaller and if I can disable that feature..

[2020-10-14 09:45] dinabogdan commented on #12685
Ok. I found it on the PR that I was talking about in the blog post. I'm trying to use it because I'm working on migrating an existing project from a JavaEE application deployed on JBoss to a Quarkus fat-jar app. Also, I can't use the current `persistence.xml` because it involves a JTA data source which is managed in the application by referencing it via JNDI. I prefer to keep the data source confi

[2020-10-14 09:56] Sanne commented on #12685
Ok, but why not deleting the `persistence.xml` file you have? It sems to me that this would be the first step in a migration: adapt to the new configuration files.

[2020-10-14 10:00] dinabogdan commented on #12685
I forgot to mention that we should keep running for a while both versions of the app. :) My bad!

[2020-10-14 10:08] AShynkevich commented on #12647
@gsmet You're right it fixed my issue using property `quarkus.http.limits.max-body-size` and a good guide referrence. Nevertheless, as far as I enabled 'quarkus.resteasy.gzip.enabled=true' doesn't it mean that we're gzipping the content? Maybe, I understand something wrong.

[2020-10-14 11:27] gsmet commented on #12703
@aloubyansky didn't we fix this behavior recently?

[2020-10-14 12:08] sberyozkin commented on #11927
Hi All, I'd like to close this issue but I'll work on the documentation update suggesting registering a custom filter as shown above if tracing the principal is needed.

[2020-10-14 12:11] kenfinnigan commented on #12693
Current supported GraalVM is 20.2.0

[2020-10-14 12:11] #12693 closed

[2020-10-14 12:15] aloubyansky commented on #12703
Ah, no, we still need to adjust the upper boundary. It's up to "final" exclusive, so the CR got included.

[2020-10-14 12:18] cemnura opened #12709 "@ConfigProperty injection during @QuarkusTest"
Hello,

**Description**
During the discussion with @sberyozkin of the PR quarkusio/quarkus-quickstarts/pull/529 for the `quarkus-quickstart` repository there was an idea if a URL configuration (**quarkus.oidc.auth-server-url** specifically) can have a random port rather then a fixed port.

However, this URL is not only used as a quarkus configuration but a URL that is also used in the test code. S

[2020-10-14 12:18] cemnura commented on #12709
@stuartwdouglas

[2020-10-14 12:19] sberyozkin commented on #12709
@cemnura Thanks for opening this issue

[2020-10-14 12:21] aloubyansky commented on #12703
https://github.com/quarkusio/quarkus/pull/12710 should fix it. Thanks @xumk !

[2020-10-14 12:32] dteleguin opened #12711 "Update to Agroal 1.9"
**Description**
Agroal 1.9 is out with important fixes, including [possible connection leak](https://issues.redhat.com/browse/AG-140).

**Implementation ideas**
Update BOM to Agroal 1.9

[2020-10-14 12:57] mkouba commented on #12709
Hi @cemnura, the problem is that injection is not supported for [native image tests](https://quarkus.io/guides/getting-started-testing#injection-into-tests#native-executable-testing).

[2020-10-14 12:59] #8700 closed

[2020-10-14 13:35] sberyozkin commented on #12709
@mkouba OK, thanks, it explains it, @cemnura so let me close this one then, sorry I did not know that myself

[2020-10-14 13:35] #12709 closed

[2020-10-14 13:45] ge0ffrey opened #12715 ""mvn quarkus:dev" workspace discovery should respect default maven profiles"
See second part of discussion here:
  https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/ClassLoading.20error.20in.20hot.20deploy

In optaplanner 7.x, the quarkus-school-timetabling-quickstart's "mvn quarkus:dev" was failling because the optaplanner-parent has a maven module that includes the optaplanner-quarkus-integration - and that maven profile is on by default - but Quarkus ignor

[2020-10-14 13:57] lkrzyzanek opened #12716 "MongoHealthCheck doesn't work with ReactiveMongoClient"
**Describe the bug**
When app uses purely `ReactiveMongoClient` client then `MongoHealthCheck` doesn't recognize such client and readiness check returns UP even no connection to mongo.

**Expected behavior**
Should return DOWN

**Actual behavior**
calling /health/ready returns UP

**To Reproduce**
Inject in your app just `ReactiveMongoClient` and make sure that mongo is down.

and  call `/health/r

[2020-10-14 14:00] lkrzyzanek commented on #12716
The fix is quite simple.
Do the same logic in `init` but search for `ReactiveMongoClient`
[code]

and in `call` do the same check logic but retrieve document in Async way:
[code]

[2020-10-14 14:31] honza-pavlovsky commented on #12644
Hi, do you have any idea why this behaviour occurs only in development mode? When i run the application in normal mode, this probllem does not exist. In my case the external library is different (DSS Europa = electronic signatures, timestamps etc.), but the problem seems the same and none of the workarounds mentioned here seem to do the trick. I tried to use the Uni block, but to no success.

[cod

[2020-10-14 14:52] lkrzyzanek commented on #12716
Sure, I can take a look on PR. Should be really straightforward.

[2020-10-14 15:03] gaetancollaud opened #12719 "grpc compile fail with google-protobuf"
**Describe the bug**
I use GRPC and I use to [google protobuf ](https://github.com/protocolbuffers/protobuf/tree/master/src/google/protobuf) like for example [timestamp.proto](https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/timestamp.proto). I'm my other microservices (spring-boot), I easily include the maven dependency `com.google.protobuf:protobuf-java` and I can use

[2020-10-14 15:23] crivera commented on #12640
this here provided the solution in case anyone else needs it: https://nderwin.wordpress.com/2020/01/20/augment-your-quarkus-identity/

[2020-10-14 15:25] gytis opened #12721 "Create a MongoDB REST Data with Panache guide"
New experimental MongoDB REST Data with Panache extension does not have a guide yet.

[2020-10-14 15:38] loicmathieu commented on #12716
Cool, don't hesitate to ping me if you need some help

[2020-10-14 16:36] derekm opened #12723 "Quiting quarkus:dev with Ctrl+C doesn't allow @PreDestroy hooks to finish"
**Describe the bug**
When exiting `quarkus:dev` mode with Ctrl+C, `@PreDestroy` hooks rarely have enough time to complete.

**Expected behavior**
Other CDI containers I've used trap the Ctrl+C signal to finish completion of all `@PreDestroy` hooks before exiting the container.

**Actual behavior**
`@PreDestroy` appear to be called, but it looks like thread pools are terminated before they're done

[2020-10-14 17:04] gsmet commented on #12723
/cc @mkouba

[2020-10-14 17:23] famod commented on #1710
Am I right in assuming that it is ok to use `@ApplicationScoped` resource classes in conjunction with `smallrye-jwt`, **as long as I don't use `@Claim`**?
Or are there any other known problems, e.g. `@Inject JsonWebToken jwt;`?

[2020-10-14 17:48] neon-dev opened #12724 "`hibernate.*` properties in Hibernate-ORM extension"
**Description**
I am missing a way to configure `hibernate.event.merge.entity_copy_observer` ([see](https://docs.jboss.org/hibernate/stable/orm/userguide/html_single/Hibernate_User_Guide.html#pc-merge-gotchas)) from `application.properties`.
Using a `persistence.xml` I can set all kinds of properties but as I read, in terms of Quarkus it's "the old way" of doing things and not encouraged.

**Imple

[2020-10-14 17:52] ebullient commented on #9832
Is this fixed, then? (dep issue?)

[2020-10-14 17:53] ebullient commented on #9398
I recommend we close this. w/ micrometer extension, you can add (and obtain a direct reference to) a prometheus meter registry.. and from there can use prom client APIs directly if you choose.

[2020-10-14 17:57] ebullient commented on #4675
I think some of this is changing as we switch over to micrometer: kafka instrumentation and hibernate instrumentation (and agroal.. ) all seem consistently enabled at this point..

[2020-10-14 17:58] ebullient commented on #4650
the micrometer extension detects a double annotation like this and flat out ditches one of them with a warning. Is there a reason you would need both Metered AND Timed? (don't all Timed metrics include a count?)

[2020-10-14 18:22] kenfinnigan commented on #10403
Can you provide some details on the use case that requires you to interact with a Prometheus endpoint of another service?

[2020-10-14 18:24] kenfinnigan commented on #10403
Also, is the data from http://localhost:9090/api/v1/query?query={__name__=~".*lastTimestampScrapped"} returned in JSON or plain text?

[2020-10-14 18:25] kenfinnigan commented on #9398
+1

[2020-10-14 18:26] #9398 closed

[2020-10-14 18:37] #12423 closed

[2020-10-14 18:37] #12424 closed

[2020-10-14 18:37] #12461 closed

[2020-10-14 18:48] cescoffier commented on #12644
Can you provide a reproducer? Hard to understand what's going on like this. I never used that library.

[2020-10-14 19:33] survivant commented on #10403
my usecase was that I needed to monitor data from Prometheus to detect if a pod was created, down... I couldn't use the health probes in those applications because they weren't implemented correctly, so I had to figure out another way.  I planned to use Prometheus to scrap those metrics and from the last timestamp, I was able to detect if the application was down or not.

Since a enter that defect

[2020-10-14 19:56] #12604 closed

[2020-10-14 19:59] famod commented on #12724
I have a similar problem: I need to register a custom `StatementInspector`.
See also: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Hibernate.20StatementInspector

[2020-10-14 20:40] kenfinnigan commented on #10403
Is this still an issue to be investigated or it can be closed?

[2020-10-14 20:42] survivant commented on #10403
no one works on that issue, so it will still need to be check.  so Yes it's still a open issue.

[2020-10-14 21:12] kenfinnigan commented on #10403
As the use case you describe appears to be more a work around because of incorrect health probe implementations in another application, it wouldn't be a high priority for the core team to resolve as it's very specific to your situation.

Without a way to reproduce the problem, with steps or GH projects, it requires a large amount of effort to set up to begin investigating the problem.

[2020-10-14 22:10] stuartwdouglas commented on #11927
There are no privacy issues here, if you are using a system you should absolutely expect that there is a record of the actions you take in your system. This is a fundamental requirement of almost every business system.

[2020-10-14 23:26] misaunde commented on #5639
I'd like to configure swagger-ui to display the request duration. It's just one tiny line of configuration. I'm new to Quarkus, but I was hoping I could just put `displayRequestDuration=true` in application.properties (the one config file to rule them all) and have it work, but it didn't appear to.

I also tried adding a `swagger-config.yaml` file at project root and even under the resources folde

[2020-10-14 23:54] cristianonicolai commented on #12486
@evacchi see https://github.com/kiegroup/kogito-runtimes/pull/830

[2020-10-15 00:38] patriot1burke commented on #12592
@gsmet Been on PTO. looking now

[2020-10-15 01:07] patriot1burke commented on #12592
I cannot reproduce this problem.  Closing until I get more information

[2020-10-15 01:07] #12592 closed

[2020-10-15 03:16] Namphibian commented on #2720
I have seen Groovy being used extensively in production Camel applications. Groovy makes mapping objects super easy and efficient. It is the XSLT of the JSON world for a lot of people. This is not a nice to have this is a requirement to be taken seriously as a contender for Springboot/Karaf etc.

[2020-10-15 03:52] stuartwdouglas commented on #12723
Are you sure they are not actually running? Ctrl + C will kill the outer maven process, which has forked the dev mode process. It is likely that what is happening is the threads that read the output from the forked process and print it to stdout are being shutdown, so the output does not get printed. If you change it to writing to a file rather than stdout does this change the effect?

[2020-10-15 05:04] #12703 closed

[2020-10-15 05:24] borellda opened #12730 "Tika nativ-image build error"
Hi,

The build for a native-image fails for a small pure quarkus app including the Tika extension.
This is maybe related to #10104 and #6549
I'm using quarkus 1.8.3 and GraalVM CE 20.2.0 for Java11

Best regards,
Daniel

Here is the exception

[18:28:00] :	 [Step 2/2] 18:28:00,865 INFO  [org.jbo.threads] JBoss Threads version 3.1.1.Final
[18:30:36] :	 [Step 2/2] [resource-leech-1.0.60-runner:25530

[2020-10-15 05:53] DylanSale commented on #11428
No, I just ended up not using the library that required it sorry.

[2020-10-15 06:06] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/307896292

[2020-10-15 06:41] mkouba commented on #12723
I can confirm that Stuart is right. I've modified the [lifecycle quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/lifecycle-quickstart):
[code]
And run `mvn quarkus:dev` and then hit CTRL+C:
[code]

[2020-10-15 07:29] mkouba commented on #12723
@stuartwdouglas would it be possible to wait for the dev mode process to finish after CTRL+C?

[2020-10-15 07:36] #12438 closed

[2020-10-15 07:56] honza-pavlovsky commented on #12644
Sure, I have made a reproducer that observes StartupEvent, so the only thing needed is to build and run the example.
[https://github.com/honza-pavlovsky/await-deadlock]()

**Expected behavior**
The call should return.

**Actual behavior**
The call fails with thread blocked error.

**Steps to reproduce**

When run by mvn quarkus:dev, the application hangs with last output into log being
`Running an

[2020-10-15 08:16] borellda commented on #12730
Hi,

after building with `quarkus.native.additional-build-args=--initialize-at-run-time=ucar.nc2.grib.grib2.Grib2JpegDecoder, -H:+TraceClassInitialization`, the error is as follows:
Error: Unsupported features in 2 methods
Detailed message:
Error: com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved method during parsing: ucar.nc2.grib.grib2.Grib2JpegDecoder.<ini

[2020-10-15 08:16] stuartwdouglas commented on #12723
I think we just need to catch InterrupedException in DevMojo and then stop the Runner, which will wait for it to finish.

[2020-10-15 08:22] loicmathieu opened #12731 "Create a "Deploying to Google Cloud" guide"
**Description**
Quarkus applications can be deployed to Google Cloud Platform in various ways:
- Functions
- AppEngine
- Cloud Run

But none are currently documented inside Quarkus.

During the development of Quarkiverse Google Cloud Services I tested these deployment methods to check that all the services works on all the deployment mode.

**Implementation ideas**
I propose to create a guide to e

[2020-10-15 08:47] ia3andy commented on #12633
@The-Nightwing it would be nice to have it for `1.10`, any update?

[2020-10-15 08:51] ia3andy commented on #12633
You can take inspiration from https://quarkus.io/guides/picocli

[2020-10-15 09:29] sberyozkin commented on #2611
@gsmet I'll investigate, also CC @stuartwdouglas. I believe it is the sync issue between the public Red Hat CVE DB and NVD, as I can often see NVD CVEs referring to the original Red Hat reported CVEs

[2020-10-15 09:35] loicmathieu commented on #2611
@sberyozkin if nobody declares the Quarkus maven artifact to the NVD database it resolves to what it knows (usually redhat libraries), as explained here https://nvd.nist.gov/products/cpe someone needs to contact the NVD CPE team via its email cpe_dictionary@nist.gov

[2020-10-15 09:45] sberyozkin commented on #11927
@stuartwdouglas I'm not going to close this issue.
As I have said above, it can leak a complete user name when JWT is used, not just `myloginname`. IMHO it is not something Quarkus should be doing, where it is acceptable the users can do it themselves

[2020-10-15 09:58] sberyozkin commented on #12730
@borellda Can you please attach a file (a test file if needed), what format/parser is that ?

[2020-10-15 10:01] sberyozkin commented on #11927
Or maybe, if it is supported (since as Stuart @stuartwdouglas mentioned an access log %u is there to log it anyway) then we can just doc some warning that it should be done with care, something like that. So please don't mind me :-), if someone will open a PR (opentracing, etc) then I'll be happy to review as well (suggest the doc updates, etc)

[2020-10-15 10:06] cescoffier commented on #12644
The issue is not related to gRPC anymore, it's the library you use that seem to do something conflicting with Quarkus:

[code]

@mkouba Does that ring a bell? Even moving the blocking code on another thread _deadlock_ in dev mode.

[2020-10-15 10:10] borellda commented on #12730
Hi @sberyozkin,

unfortunately I can not connect it with a specific file that can not be parsed. It fails on build to create the native image.

[2020-10-15 10:13] The-Nightwing commented on #12633
Hello andy,

I'm writing you this mail, because i have been tested +ve for coronavirus.
I'm not in the condition to work on the issue. I know it's highly
unprofessional, but can you please assign this issue to someone else?,
because i wont be able to work on it even if i want to.

On Thu, Oct 15, 2020 at 2:18 PM Andy Damevin <notifications@github.com>
wrote:

[2020-10-15 10:28] Tockra commented on #6259
I have the same issue when I create a docker image inside a linux host machine with following Dockerfile:
[code]
`docker run -v /var/run/docker.sock:/var/run/docker.sock -it build_test /bin/bash`

Inside this container docker seems to work. But when I try to build my project, which builds properly on host systems, I get the path not found problem:
[code]

Maybe it's related ?

[2020-10-15 10:33] mkouba commented on #12644
@honza-pavlovsky @cescoffier So the problem only occurs in the development mode, right?

[2020-10-15 10:37] honza-pavlovsky commented on #12644
Yes, it only occurs in the development mode, which is the most confusing part for me. The library is quite complex, so some conflicts with quarkus wouldn't surprise me that much, if it weren't for the fact, that it is only the dev mode that is broken.

[2020-10-15 10:56] famod commented on #11927
FWIW, we are implementing a German health related application and although it is not used for emergency cases, we have very strict compliance rules. One of these rules is that we are not allowed to log the username (loginname), but only the user's database id.

[2020-10-15 10:58] sberyozkin commented on #12730
@borellda By the way are you actually using `quarkus-tika` extension ? I thinks it marks Grib parser (looks like the trace is pointing to it) as non native ready

[2020-10-15 11:00] mkouba commented on #12644
Hm, it seems that the deadlock occurs when you invoke `TLValidationJob.onlineRefresh()`, and then inside `TLValidationJob.executeLOTLSourcesAnalysis()` a `CountDownLatch` is created but never decremented. It might be that the underlying `ExecutorService` is somehow "crippled" during the dev mode...

[2020-10-15 11:09] honza-pavlovsky commented on #12644
Yeah, I got to the same conclusion, the library supports setting different `ExecutorService` by calling `job.setExecutorService(...);` in the `public static TLValidationJob job(...)` method, but all the implementations get stuck the same way. It's not a major problem, but a pretty big inconvenience.

[2020-10-15 11:10] mkouba commented on #12644
After some debugging I have an `ExceptionInInitializerError` thrown somewhere inside the  `eu.europa.esig.dss.tsl.runnable.LOTLWithPivotsAnalysis.run()` method, and the cause is:
`java.lang.RuntimeException: XPathFactory#newInstance() failed to create an XPathFactory for the default object model: http://java.sun.com/jaxp/xpath/dom with the XPathFactoryConfigurationException: javax.xml.xpath.XPathF

[2020-10-15 11:12] knutwannheden opened #12733 "Some documentation examples are not correctly highlighted"
Some code examples (like for example the Java code starting here: https://github.com/quarkusio/quarkus/blame/master/docs/src/main/asciidoc/security-jwt.adoc#L670) either lack the property declaring source type. As a result the rendered HTML guide doesn't have proper syntax highlighting, which is unfortunate.

[2020-10-15 11:16] borellda commented on #12730
@sberyozkin Yes, amongst other extensions for reactive, I'm using the `quarkus-tika` extension.
full dependency list in the pom:
  <dependencies>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-resteasy</artifactId>
    </dependency>
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-junit5</artifactId>
      <scope>test</scope>
    </depe

[2020-10-15 12:32] mickroll opened #12735 "documentation lacks information about annotation configuration inheritance"
**Description**
A discussion on zulip chat about jax-rs annotation handling lead to these findings:
- different features have different behaviour regarding evaluation of annotations on interfaces vs beans
  - bean validation
  - cdi
  - jax-rs
- there seems to be no documentation, if annotations on interface (methods) are taken into account or are ignored

See also https://quarkusio.zulipchat.com/

[2020-10-15 12:51] ia3andy commented on #12633
@The-Nightwing had to withdraw from this feature for personal reason. I will reassign it, @jantosi are u up?

[2020-10-15 12:53] ia3andy commented on #12633
and @The-Nightwing no worries, let me know when you are back to business and rested and I will find you a nice issue :)

[2020-10-15 13:03] mickroll opened #12736 "harmonize bean interface annotation handling across features"
**Describe the bug**
While jax-rs annotations like `javax.ws.rs.Path` are handled perfectly well when used in interfaces, `javax.annotation.security.RolesAllowed` and the like are silently ignored.
If i understood correctly, the reason for this is that the security annotation handling is implemented as CDI interceptor, and CDI does not inherit interceptor bindings of mehods.
Info: Other implementa

[2020-10-15 13:14] sberyozkin commented on #12736
Marked it as `enhancement`, hope it makes sense

[2020-10-15 13:29] sberyozkin opened #12738 "Support disabling HTTP policies"
**Description**
Given a policy definition like this one:
[code]

it is not currently possible to disable the whole group of properties related to `roles1`.

**Implementation ideas**
Introduce an option to have, in this case, `quarkus.http.auth.permission.roles1.enabled=false`

CC @stuartwdouglas

[2020-10-15 13:55] xtaixe commented on #12377
@geoand I played a bit with this and by the time the `QuarkusTestAfterConstructCallback` is called the field instance is gone cause it's already been replaced by the corresponding bean that is initially injected in the test. So I wonder, is there a way to tell Quarkus to not inject a specific field (not adding `@Inject` is not enough if you still need qualifiers due to https://quarkus.io/guides/cd

[2020-10-15 14:07] ebullient commented on #12686
working on this now. ;)

[2020-10-15 14:20] AlbozDroid opened #12740 "Support JPA Entity Lifecycle Callbacks"
**Description**
Implement JPA Callbacks

JPA defines the following Entity lifecycle callbacks:
`@PrePersist` - before a new entity is persisted (added to the EntityManager).
`@PostPersist` - after storing a new entity in the database (during commit or flush).
`@PostLoad` - after an entity has been retrieved from the database.
`@PreUpdate` - when an entity is identified as modified by the EntityMan

[2020-10-15 14:25] lferna commented on #7451
I want to change predefined fields as "traceId" and "spanId" to others, is there any way to do it? Because when i use json format, there is no way. Thx

[2020-10-15 15:04] Tockra opened #12741 "Native build problem with quarkus.native.additional-build-args=-J-Djavax.net.ssl.trustStore="
**Describe the bug**
If you doesn't use native-image, the maven scripts uses a docker container while native build.
If you set a trust-store in application.properties `quarkus.native.additional-build-args=-J-Djavax.net.ssl.trustStore=<path>`the docker container can't find the given path.

**Expected behavior**
Successfull native build

**Actual behavior**
Doesn't build

Use:
1. clone https://githu

[2020-10-15 15:21] geoand commented on #12377
Unfortunately no, there is no way to disqualify a valid injection point from injection.

Not at the moment I am afraid

[2020-10-15 15:25] SlyngDK commented on #7451
@lferna As I remember these are added to the mdc context, by the tracing library.
At the time right now it is not possible.
In the POC(https://github.com/SlyngDK/quarkus-logging-json-structured) it was possible to add your own custom JsonProvider, with that you can do it.
One of the next task I am looking into, is to add this to quarkiverse-logging-json also.

[2020-10-15 15:56] nosaku opened #12743 "quarkus:dev in Eclipse maven run configurations will not stop the Java server process"
When running quarkus:dev using Eclipse run configurations, the Java process is not killed when using the "red stop button". As per the below issue, the bug seems to be fixed. But it doesn't work for me, and I have to kill the process using Windows task manager.

[Issue #232](https://github.com/quarkusio/quarkus/issues/232)

My Eclipse version:

Eclipse IDE for Enterprise Java Developers.
Version:

[2020-10-15 16:09] cescoffier commented on #12358
Will be fixed with SmallRye Reactive Messaging 2.5.0

[2020-10-15 16:42] mgonzaga1990 commented on #12358
thanks for.the update.

On Fri, Oct 16, 2020, 12:09 AM Clement Escoffier <notifications@github.com>
wrote:

[2020-10-15 17:07] famod commented on #12740
Hm, this documentation bit seems outdated. Both `@PrePersist` and `@PreUpdate` are working as expected in my/our Quarkus app.

/cc @Sanne @gsmet

[2020-10-15 17:13] gastaldi commented on #4005
Closing this issue since the extension already exists and is maintained in https://github.com/shumonsharif/quarkus-cxf/

[2020-10-15 17:13] #4005 closed

[2020-10-15 17:33] dufoli commented on #4005
Hello, I need help to fix native on
https://github.com/shumonsharif/quarkus-cxf/
Can someone use
https://cxf.apache.org/docs/java-to-wsdl.html
or
https://cxf.apache.org/docs/java-to-ws.html
to generate wrapperbean.
You can use integration-test class for that. else any other can be usefull.
Goal is to see what is generated class expected because I have generated it for native (not realtime generati

[2020-10-15 18:40] reachlakstar commented on #6232
any update on this issue

[2020-10-15 18:41] geniusit opened #12745 "Reactive postgresql improvement- server failure recovery"
Hi everyone,

I use reactive postgresql driver.

Once a week, the server reboots. My microservice stops to work after it.

**Actual behavior**
Here is the stacktrace
[code]

How to make the microservice safe even after some rebooting or network failure ?

Here is the code

[code]

Thank you!

[2020-10-15 18:45] geniusit opened #12746 "Reference Quarkus with NVD"
Hi,

Actually the Quarkus framework doesnt appear in the NVD database (https://nvd.nist.gov/products/cpe)

Is it possible to add it ?

Thank you.

[2020-10-15 19:15] knutwannheden commented on #12733
I have cleaned the examples up by using:

* the `bash` language for bash commands and bash scripts
* the `shell` language whenever the code has a leading `$` command prompt and output following the command
* the `text` language when the code example joust shows some command output or log messages

AFAICT this should yield decent HTML rendering.

[2020-10-15 19:23] #12733 closed

[2020-10-15 20:00] geoand commented on #10297
If someone wants to take a stab at this, I'd be willing to review. Otherwise it's pretty low in my queue of things to do :(

[2020-10-15 20:20] famod commented on #12746
Duplicates #2611. Anyway, thanks for reporting!

[2020-10-15 20:20] #12746 closed

[2020-10-15 21:34] wilbertjoosen commented on #10735
If a config property is injected by the resource I get the same error reported by @aksth, how can I solve this?

[2020-10-15 22:15] famod commented on #12282
This also happens with the "official" quickstart: https://github.com/quarkusio/quarkus-quickstarts/tree/master/rest-client-quickstart

With this quickstart, I can reproduce the problem with all 1.8 versions but *not* with 1.7.3 and also *not* with (drumroll)...1.9!

@Postremus Can you try 1.9.0.Final? Thanks!

[2020-10-15 23:08] jantosi commented on #12633
@The-Nightwing all the best - hope you'll get better soon!

@ia3andy Sure, you can assign that to me. 👍

[2020-10-16 01:10] xiaomogu1 opened #12751 "oidc use Programmatically Resolving Tenants Configuration BUT hangs"
https://quarkus.io/guides/security-openid-connect-multitenancy#programmatically-resolving-tenants-configuration

if i used configuration ways, it works fine BUT when uses programmatically way  it hangs there and keep waiting.

I use intellj debug mode and dive into the source code, I found the issue is in this part,

in DefaultTenantConfigResolver.java

if (tenantContext == null) {

[2020-10-16 01:15] xiaomogu1 commented on #12751
Hi
@sberyozkin
@pedroigor

can you please have a look, thanks!

[2020-10-16 01:23] #12686 closed

[2020-10-16 04:46] thangthan commented on #6948
Thank you so much, you saved me 24 hours searching for injecting Microprofile JsonWebToken to EntityListeners

[2020-10-16 05:46] #12139 closed

[2020-10-16 07:07] geoand commented on #10735
@wilbertjoosen best to ask on the chat for help.
In any case, you'll need to provide details about what your code looks like and what the exact error is

[2020-10-16 07:24] mickroll opened #12753 "multi layered entity inheritance not supported by JpaRepository"
**Describe the bug**
Imagine a simple JpaRepo:
[code]
Now dependending on the amount of layers between `ExampleEntity` and the definition of `id`, this repository works or doesn't work:
- works:
[code]
- doesn't work:
[code]

**Expected behavior**
- `id` - property is found by JpaReposiory, regardless of hierarchy size.

**Actual behavior**
- build error `io.quarkus.spring.data.deployment.UnableTo

[2020-10-16 07:27] famod commented on #12753
/cc @geoand

[2020-10-16 07:33] #11398 closed

[2020-10-16 08:06] ia3andy commented on #12633
@jantosi cool! No worries for the delay, make it ready when it fits you 🚀

[2020-10-16 08:09] xiaomogu1 opened #12754 "oidc use Programmatically Resolving Tenants Configuration BUT hangs"
Hi
@sberyozkin
@pedroigor

regarding to this:
https://quarkus.io/guides/security-openid-connect-multitenancy#programmatically-resolving-tenants-configuration

if i used configuration ways, it works fine and can redirect to keycloak,

BUT when uses programmatically way it hangs there and keep waiting.

//////////////////////////
I use intellj debug mode and dive into the source code, I found the is

[2020-10-16 08:09] #12751 closed

[2020-10-16 08:10] xiaomogu1 commented on #12751
duplicate with the new one
https://github.com/quarkusio/quarkus/issues/12754

[2020-10-16 09:08] gaetancollaud commented on #12719
For convenience and to workaround this issue I tried to copy the google proto inside the project itself, but now I have this issue when using `StringValue.of`:

[code]

Same package, but not same class loader.

So I cannot find any way to make it work with the quarkus auto reload feature. :disappointed:

[2020-10-16 09:13] sberyozkin commented on #12754
@xiaomogu1 What version of Quarkus is it ? There are a few tests passing where a custom `TenantConfigResolver` is used, and other users have it working as well AFAIK. Is it a dev mode ? Having a reproducer would help

[2020-10-16 09:27] haraldatbmw opened #12755 "OIDC introspection of opaque access-token does not fill principal of SecurityIdentity"
**Describe the bug**
My service uses OIDC (application-type=service) and is called with an **opaque access-token**. The REST endpoints are protected with @RolesAllowed annotations.

Because of the opaque access-token, the introspect endpoint is called by Quarkus/Vert.x to get the JWT.
Because my identity-provider is **ForgeRock** the response of the introspection endpoint does not contain a key "u

[2020-10-16 10:01] michalszynkiewicz commented on #12719
I'm currently looking into this issue. I'm a bit surprised that copying the proto files doesn't work.

protobuf-maven-plugin scans classpath and adds `*.proto` files from all the jars to includes for compilation. I think I need to add the same for the grpc code-gen, possibly with some control that would allow opting out from scanning or scanning only selected dependencies so that the impact on per

[2020-10-16 10:03] sberyozkin commented on #12755
@haraldatbmw Unfortunately it will take it awhile to fix it given that all the unrecognized values are dropped in Vert.x.
I can suggest a workaround, call the introspection endpoint manually from the custom `SecurityIdentityAugmentor` and replace the principal

[2020-10-16 10:20] haraldatbmw commented on #12755
@sberyozkin Yes sure that will be a valid workaround. I was wondering if all the keys that Vert.x is using are not standardized but the values KeyCloak uses.

[2020-10-16 10:47] sberyozkin commented on #12755
@haraldatbmw `username` in particular is a [standard property](https://tools.ietf.org/html/rfc7662#section-2.2), but in general, including the unrecognized properties would be a good idea - then you'd be just use a custom principal claim property.

[2020-10-16 11:13] ineednousername commented on #12625
@loicmathieu

That is fine, proceed as fits best for you :-)

[2020-10-16 11:14] haraldatbmw opened #12756 "OIDC with REST-endpoint using "code" query-parameter fails"
**Describe the bug**
My service uses OIDC (type=web-app) and has a REST-API /hello?**code**=abc.
The **Query-Parameter code** conflicts with the OIDC authorization code flow.

[code]

**Expected behavior**
I can use any query-parameter name in my REST API without conflicting with OIDC extension.

**Actual behavior**
The REST API returns wrong response status code.

**To Reproduce**
Follow the step

[2020-10-16 11:34] loicmathieu commented on #4262
What is the status on this one ?
I just tested our getting started application on Cloud Run and it works.
Can we close it?

[2020-10-16 11:48] AmsterdamFilho opened #12757 "Quarkus can't consume a soap web service"
Consider code1:

And code2:

The web service classes are generated with cxf-codegen-plugin:wsdl2java plugin.

When executed in Java SE main class, the web services are consumed just fine.

When executed inside Quarkus application, the following exceptions are thrown:
code1: javax.xml.ws.soap.SOAPFaultException: Fault occurred while processing
code2: javax.xml.bind.UnmarshalException: unexpected el

[2020-10-16 12:04] xumk commented on #3403
@maxandersen
Can I help this task?
I think to take its in work, but I don't know where to begin.
Maybe need add something like `isRequired` and 'helpComment' properties to `@ConfigItem`, so that analyze its for generate documentation (`isRequired`) and use for this task (`isRequired` and 'helpComment' ).
Also, I would like to know place, where I can add analyze for documentation.
How I understande

[2020-10-16 12:07] AmsterdamFilho commented on #12757
If someone could take a look and provide at least a workaround, it would be much appreciated.

I already have an application in Quarkus using reactive Kafka and Postgres, and the only thing missing is consuming a legacy web service.

[2020-10-16 12:08] loicmathieu commented on #12625
Thanks ;)

I improve the guide with more logical steps in the PR: https://github.com/quarkusio/quarkus/pull/12742
I close this one now, thanks for your feedback.

[2020-10-16 12:08] #12625 closed

[2020-10-16 12:09] Postremus opened #12758 "CNFE when using Smallrye @ConfigMapping"
**Describe the bug**
I am using configmappings for a Map<String, Configuration>.
https://smallrye.io/docs/smallrye-config/mapping/mapping.html#_collections_config_mapping

When I run in dev mode, I get a CNFE for my `Configuration` class.
When I run as jar (mvn clean install), everything works as expected.

**Expected behavior**
ConfigMapping works in dev mode as it does as jar.

**Actual behavior

[2020-10-16 12:43] dmlloyd commented on #4262
This I believe was fixed via https://github.com/oracle/graal/pull/2746.

[2020-10-16 12:43] #4262 closed

[2020-10-16 12:54] xiaomogu1 commented on #12754
Hi @sberyozkin

I used the 1.8.1.Final and in a dev Mode

Only the programmtical way is not working,

https://quarkus.io/guides/security-openid-connect-multitenancy#programmatically-resolving-tenants-configuration

for TenantConfigResolver, do you have any samples so that i can have a look?

after the server started, http://localhost:8080/default worked fine coz it used the default quarkus config,

[2020-10-16 13:36] famod commented on #12753
@mickroll The reproducer does not contain a `pom.xml`. Can you check please?

[2020-10-16 13:39] geoand commented on #12753
@aureamunoz is this something you'd be interested in tackling?

[2020-10-16 13:44] famod commented on #12753
A quick look at the code reveals that this does not seem to be the root problem.

The exception message is created here:
https://github.com/quarkusio/quarkus/blob/1.8.3.Final/extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/MethodNameParser.java#L197
I'd say it should use `fieldName`, not `part`.
See also: https://github.com/quarkusio/quarkus/blob/1.8.3.Final/e

[2020-10-16 14:02] famod commented on #1710
Another user just started a Zulip topic about "RBAC with ApplicationScoped resources": https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/RBAC.20with.20ApplicationScoped.20resources

Quoting @sberyozkin:

So I think my previous question is answered. 🙂

[2020-10-16 14:19] radcortez commented on #12758
I'll have a look.

[2020-10-16 14:20] mickroll commented on #12753
forgot to create that, will do on monday

[2020-10-16 14:24] #12577 closed

[2020-10-16 14:41] radcortez commented on #1710
Depends, using `@Claim` with a proxyble class is fine. The issue is with non-proxyble classes, where of course, the injected value is the one retrieve when the `@ApplicationScoped` bean was created and stays there forever.

Additional references from the MP JWT Spec:
https://github.com/eclipse/microprofile-jwt-auth/pull/180

[2020-10-16 14:51] knutwannheden commented on #1710
I think it would make sense to add some more details to the documentation (guides). I found two slightly contradictory statements there (see Zulip), which may also apply to others. The explanations here make perfectly sense and explain the limitations very well.

[2020-10-16 15:14] asodja opened #12761 "Add option to @InjectMock/QuarkusMock.installMock() services with Generics"
**Description**
Currently it is not possible to use `@InjectMock` with services with generic interface. For example check this case:
https://github.com/asodja/quarkus-generic-mock/blob/master/src/test/java/org/my/group/MyResourceTest.java

When running test you get:
[code]

To workaround this you have to use rawtypes everywhere (also in production code) which is not nice.

It would be great if the

[2020-10-16 15:19] sberyozkin commented on #1710
My statement was indeed about JWT, not about some of its individual claims, especially those with the non-proxiable types.
This particular issue is about `JsonString`, I'm hoping we can close this really soon now :-), but need some help from @mkouba to clarify a few bits :-)

[2020-10-16 16:11] snowe2010 opened #12763 "buildRunnerJar threw an exception: java.lang.NullPointerException"
**Describe the bug**
Encountering [this bug](https://github.com/quarkusio/quarkus/pull/9798) on 1.8.1.Final and 1.8.3.Final using Java 8. I've attached a reproducer.

Building with these flags

[code]

results in an exception

[code]

**Expected behavior**
Should be able to build without an exception

**Actual behavior**
NPE occurs when flags are enabled.

**To Reproduce**

Reproducer[ - quarkus_n

[2020-10-16 16:12] snowe2010 commented on #12763
@aloubyansky

[2020-10-16 16:26] famod commented on #12753
I was curious so I simply took the [quickstart pom](https://github.com/quarkusio/quarkus-quickstarts/tree/1.8.3.Final/spring-data-jpa-quickstart) and adjusted it a little: [spring-data-jpa-issue-12753.zip](https://github.com/quarkusio/quarkus/files/5393000/spring-data-jpa-issue-12753.zip)

Stacktrace:
[code]

[2020-10-16 16:38] shumonsharif commented on #12757
For reference:  https://github.com/shumonsharif/quarkus-cxf/issues/8#issuecomment-710134800

[2020-10-16 16:52] sberyozkin commented on #1710
As proposed by @famod we can try to log a warning if a non-proxyable type is used in the AS bean. @mkouba Hey Martin, may be it is already possible in Quarkus ?

[2020-10-16 16:59] sberyozkin commented on #12754
@xiaomogu1 Does it work in the JVM Mode ? And can you please try the latest `1.9.0.CR1` ?

[2020-10-16 17:06] tkalmar commented on #12753
That is what we noticed in the debugger. Working case generates `id` non working case (2 levels of inheritance) generates `Id` in the hql query.

[2020-10-16 17:15] Postremus commented on #12758
This is already fixed in smallrye-config by https://github.com/smallrye/smallrye-config/pull/419.
I tested the reproducer against current master of SR-config, and it works as expected.

[2020-10-16 17:18] famod commented on #12753
**I found the problem** and might be able to create a PR on sunday evening.

But in case you @aureamunoz want to do it here is the root cause:
This wrong: https://github.com/quarkusio/quarkus/blob/1.8.3.Final/extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/MethodNameParser.java#L590

For each loop it calls this:
[code]
but `entityClass` never changes.
This is

[2020-10-16 17:23] famod commented on #12753
@tkalmar This is because it ends up on the wrong code path:
https://github.com/quarkusio/quarkus/blob/1.8.3.Final/extensions/spring-data-jpa/deployment/src/main/java/io/quarkus/spring/data/deployment/MethodNameParser.java#L195-L196
`fieldInfo` should not be `null` here but as a consequence of the problem I described in my previous comment it in fact *is* `null`.

[2020-10-16 17:25] famod commented on #12753
Btw, another adjustment to the reproducer (`application.properties` were missing): [spring-data-jpa-issue-12753-2.zip](https://github.com/quarkusio/quarkus/files/5393316/spring-data-jpa-issue-12753-2.zip)

[2020-10-16 18:31] famod commented on #12761
/cc @geoand

[2020-10-16 18:37] famod commented on #12757
We do include CXF in our multimodule Maven Quarkus app (without a CXF extension) and so far we did not have any major problems in JVM mode.
If I find some time I can post some details about our integration approach.
One first heads-up: Have you tried `quarkus-jaxb`?

[2020-10-16 19:16] radcortez commented on #1710
Yes, so if there is an issue with injection and proxyable types, we need to fix it. I can try to write some tests in SR JWT side to see where we are with it.

[2020-10-16 19:16] radcortez commented on #12758
Great. Thanks! I'll push a SR Config release soon.

[2020-10-16 19:44] famod commented on #12743
Have you tried the Quarkus tools (part of Jboss tools)?
https://marketplace.eclipse.org/content/quarkus-tools

IIRC, there is a special run configuration.

[2020-10-16 20:04] AmsterdamFilho commented on #12757
@famod If you could share your integration approach, at least the pom.xml, it would be of great help. Just adding quarkus-jaxb did not solve for me.

[2020-10-16 21:49] jfrantzius opened #12766 "Support multiple application.properties files"
**Description**
Currently Quarkus supports only a single `application.properties` file in the classpath. More exactly, if there are multiple such files in the classpath, an arbitrarily chosen one will be loaded, leading to confusion as the restriction is not obvious.

Having to use a single configuration file has a number of severe drawbacks when used in a Maven multi-module project. It requires h

[2020-10-17 04:14] xiaomogu1 commented on #12754
Hi @sberyozkin

Still not working even if I uplift to 1.9.0.CR1
this is my pom https://github.com/xiaomogu1/getting-started-oicd/blob/master/pom.xml

I have other mode
1. ./mvnw package and then with java -jar ./target/getting-started-1.0-SNAPSHOT-runner.jar
2. native mode ./mvnw package -Pnative and then ./target/getting-started-1.0-SNAPSHOT-runner

I also committed my latest code regarding the c

[2020-10-17 05:13] rohit-s8 opened #12768 "Missing documentation for agroal datasource configuration property"
https://github.com/quarkusio/quarkus/blob/5c5410e9834febc90b4252a3a507b075119033e2/extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceJdbcRuntimeConfig.java#L112

There is no documentation for this configuration property in any of the guides in https://quarkus.io/guides

[2020-10-17 07:37] ge0ffrey opened #12769 "Quarkus:dev is unkillable if StartupEvent has infinite loop"
To reproduce, put this in a quarkus project:

[code]

and then run `mvn quarkus:dev` in the terminal (I used the IntelliJ terminal). As your computer starts acting wierd, hit `ctrl-c`, which will give you back your terminal prompt. Then look at your OS task navigator. Notice that a process is still running at full CPU usage and it refused to die: that ctrl-c didn't kill it.

[2020-10-17 08:34] AmsterdamFilho commented on #12757
@famod @shumonsharif I rewrote the issue and the reproducer in a much more specific way.

[2020-10-17 09:15] mmaryo commented on #12680
also the same for web3j
from quarkus-universe-bom (version 3.6.0)
lastest org.web3j (version 4.7.0)

[2020-10-17 10:31] lferna commented on #10035
Is there any way to use logback with Spring libraries? Although it is not implemented for jvm, thanks.

[2020-10-17 11:43] mmaryo opened #12770 "Quarkus Crash during runtime with web3j dependency"
Hello

I provide you a simple project with
Gradle 6.6.1
Kotlin 1.4 (Java 11 is set in IntelliJ)
Quarkus 1.8.3.Final
Resteasy
SwaggerUi
Health
Web3j

And one rest route

[quarkus-bug-web3j.zip](https://github.com/quarkusio/quarkus/files/5395569/quarkus-bug-web3j.zip)

I compile and start with gradle quarkusDev
No error
Then I go to http://localhost:8080/swagger-ui
And see this stacktrace

![quarkus

[2020-10-17 11:49] mmaryo commented on #12770
Try to remove this dependcy
'org.jboss.logmanager:log4j2-jboss-logmanager:1.0.0.Beta1'

And at startup that throw exception

Caused by: java.lang.IllegalArgumentException
        at org.objectweb.asm.ClassVisitor.<init>(Unknown Source)
        at io.quarkus.gizmo.GizmoClassVisitor.<init>(GizmoClassVisitor.java:22)

[2020-10-18 06:37] xiaomogu1 commented on #12754
some updates:
@sberyozkin  && @pedroigor

I dive into the code into the class OidcRecorder

found this line

I tried to bypass getJwkPath() (By setting onfig.setDiscoveryEnabled(false);)
It no longer hangs but keep looping redirect after authentication and never ends the redirect

if I manually set JwkPath （the value set to .well-known/jwks.json）
it still hangs

private static OAuth2Auth setOidcEn

[2020-10-18 15:01] missourian55 opened #12773 "Quarkus Kubernetes extension conflict with Micrometer extension"
Quarkus 1.9.1.CR1

**Describe the bug**
When I add Micrometer extension to existing Quarkus project with S3 extension, I am getting below compilation error
`java
Failed to build quarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors [ERROR] [error]: Build step io.quarkus.deployment.index.ApplicationArchiveBuildStep#build threw an exception: java.lang.Runt

[2020-10-18 16:46] ebullient commented on #12773
Can you provide a full list of enabled extensions?
Also, can you try with the following settings added to your application.properties:

[code]

[2020-10-18 17:41] missourian55 commented on #12773
Installed feature

`
2020-10-18 17:33:26,915 INFO  [io.quarkus] (main) Profile prod activated.
2020-10-18 17:33:26,916 INFO  [io.quarkus] (main) Installed features: [amazon-s3, cdi, kubernetes, kubernetes-client, micrometer, resteasy, resteasy-jsonb, smallrye-health]
`

The workaround suggested here works for me

https://github.com/quarkusio/quarkus/issues/12289

[2020-10-18 18:02] geoandri commented on #9482
May I give it a try, if no one else hasn't started working on this?

[2020-10-18 19:53] ebullient commented on #12773
Thanks for the full list of extensions. The conflict isn't with the s3 extension, it is with the kubernetes extension. ;)
I've update the topic to match, will chase that now.

[2020-10-18 21:27] sberyozkin commented on #12754
So, looks like it is hanging if there was an error during the auto-discovery; probably some exception has to be caught correctly, will have to be fixed; probably the same reason with the wrong jwk path

[2020-10-18 21:44] mklueh opened #12776 "quarkusBuild / quarkusDev stuck using PanacheRepositoryResource with Quarkus > 1.8.0"
Hello,

I´m trying to use PanacheRepositoryResource with Quarkus 1.8.3 and running the application is getting stuck with the following trace

[code]

I´ve tried other versions like 1.8.1 with the same problem, but **1.7.3 works fine**.

[2020-10-19 00:51] oscarfh commented on #9482
I am working on it, but I cannot promise you any dates, so feel free to do it if you want.

[2020-10-19 01:20] miluxhd opened #12777 "Native build problem with sqlite"
I have a simple application that inserts a row to the SQLite database and selects data from it.
I can run the fat jar without any problem. But after creating a native executable realized that it could not load the native library.
here is my stack-trace:

`Caused by: java.lang.Exception: No native library found for os.name=Linux, os.arch=x86_64, paths=[]
        at org.sqlite.SQLiteJDBCLoader.loadS

[2020-10-19 05:01] havwig commented on #12389
Can't be implemented in a way that is aligned with the project arcitecture, a generic and configurable JSON formatter should be implemented as an extension instead.

[2020-10-19 05:01] #12389 closed

[2020-10-19 05:20] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/314744029

[2020-10-19 05:49] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/314743941

[2020-10-19 06:03] geoandri commented on #9482
Thanks @oscarfh .

[2020-10-19 06:27] triceo commented on #11563
This is a regression on our end. We're working on a fix:
https://github.com/kiegroup/optaplanner/pull/975

[2020-10-19 06:40] xiaomogu1 commented on #12754
![jwk](https://user-images.githubusercontent.com/5001581/96409841-aa03b800-1231-11eb-977d-0ba809c3057c.png)

Hi @sberyozkin
thanks your helping, is it possible to open a to-do ticket so that I can closed this ticket? or just simply leave it here to wait for your fix.

BTW
I have attached a screenshot to show I actually provide the VALID JWK path, should be correct and help you just wonder even if

[2020-10-19 07:06] mickroll commented on #12753
Thanks for that!
And for the fix, of course. That was fast 😎 🚀

@geoand Do you think this fix can make it into the next quarkus release? That would be great!

[2020-10-19 07:15] loicmathieu commented on #12776
/cc @gytis

[2020-10-19 07:24] #12753 closed

[2020-10-19 07:25] geoand commented on #12753
Thanks for the contribution!

This will most likely be part of Quarkus 1.9.1

[2020-10-19 08:32] phillip-kruger commented on #6202
No response. Closing. @lordofthejars please reopen if this is still an issue.

[2020-10-19 08:32] #6202 closed

[2020-10-19 08:36] phillip-kruger commented on #2445
As a start we can add the `/metrics` endpoint(s) - similar to what we have done for `/health`. (see #12044 )
w.d.y.t ?

[2020-10-19 08:41] #12773 closed

[2020-10-19 08:45] gaetancollaud commented on #6134
Instead of having a "noop" web resource you can also use the health check (if you have one). I have apps that don't have any http resource (kafka processor or just grpc clients), but they all have an health check so I use this.

http://localhost:8080/health

[2020-10-19 08:45] ia3andy opened #12779 "Support comments in application.properties/yaml (codestarts)"
**Description**
Currently comments are not supported for application.properties/yaml

Reason behind is that codestart definition is written using yaml and then converted to yaml or properties depending on if config-yaml extension is selected or not. And Jackson yaml doesn't support comments. java Properties also doesn't support comments.

Current algo:
[code]

Here is the java file in charge of pr

[2020-10-19 08:46] ia3andy commented on #12779
cc @glefloch @dmlloyd @gastaldi any inspiration?

[2020-10-19 08:48] latyaodessa opened #12780 "Constructor Injection in @Provider annotated classes throwing NullPointerException"
**Describe the bug**

Implementing ContainerResponseFilter.

[code]

Works with field injection.

**Actual behavior**
throws exception on
[code]

**To Reproduce**

Github repo: https://github.com/latyaodessa/quarkus-constructor-injection

**Configuration**
[code]
 to help explain your problem.)

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:  MINGW64

[2020-10-19 09:31] ia3andy commented on #11348
We now support this using the singleton tag: https://github.com/quarkusio/quarkus/blob/master/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/singleton-examples/amazon-lambda-example/codestart.yml#L6

[2020-10-19 09:31] #11348 closed

[2020-10-19 09:31] mkouba commented on #12780
AFAIK the constructor injection is not supported for JAX-RS providers (I'm not sure about JAX-RS resources). @geoand Do you happen to know? I did not find anything in the docs.

[2020-10-19 09:32] ia3andy commented on #11130
Duplicate of https://github.com/quarkusio/quarkus/issues/12522

[2020-10-19 09:32] #11130 closed

[2020-10-19 09:34] geoand commented on #12780
Although I am not 100%, I do also remember that constructor injection doesn't work in this case

[2020-10-19 09:36] mkouba commented on #6948
I'm not quite sure what the original problem is but if the `FooBean` is simply [removed because it's considered unused](https://quarkus.io/guides/cdi-reference#remove_unused_beans) a simpler solution is to annotate the `FooBean` class with `@io.quarkus.arc.Unremovable` (such beans are never removed even if not injected anywhere in the app).

[2020-10-19 09:45] gytis commented on #12776
@mklueh any chance that you could provide a reproducer? It seems to be working correctly on an example app that I have.

[2020-10-19 10:01] xumk commented on #12300
@geoand Maybe close this task, because PR #12760 solved this?

[2020-10-19 10:05] geoand commented on #12300
Ah, I thought the PR linked to the issue. No worries though

[2020-10-19 10:06] #12300 closed

[2020-10-19 10:06] geoand commented on #12300
Fixed by #12760

[2020-10-19 10:25] rsvoboda opened #12786 "devtools/cli generates quarkus-cli-999-SNAPSHOT.jar.original as directory and BuildMojo code can't handle it"
devtools/cli generates quarkus-cli-999-SNAPSHOT.jar.original as directory and BuildMojo code can't handle it

To reproduce just call twice `mvn package -pl devtools/cli/ -DskipTests`. Important piece is that `clean` is not part of the command.

mvn command ends with:
[code]

Details from `mvn -X ...` execution
[code]

Code in BuildMojo expects file, not directory like in devtools/cli case
[code]

[2020-10-19 11:38] #12738 closed

[2020-10-19 11:50] sberyozkin commented on #1710
@radcortez @mkouba has confirmed that `Optional<JsonString>` can not be proxied,
I've had a branch opened awhile back to check it:
https://github.com/sberyozkin/quarkus/commit/5ef334901c806ad0a80de45a020c745711912e21
which is indeed failing. But `JsonString` should work.

[2020-10-19 11:58] radcortez commented on #1710
I supposed this is because `@Optional` cannot be proxied, right?

[2020-10-19 12:11] mkouba commented on #1710
Yes, `java.util.Optional` is final and at least in standard CDI this is not proxyable and must not be bound to a normal scope.

[2020-10-19 12:16] ashatch commented on #12780
I took a look at the repo provided. This is reported during boot:

[code]

Switching to this might help:

[code]

[2020-10-19 12:18] geoand commented on #12780
Unfortunately that is RESTEasy limitation that we have to live with (for the time being)

[2020-10-19 12:27] alimalek71 commented on #10909
@loicmathieu Could you help with where to start on this issue and give more details?

[2020-10-19 12:43] FroMage commented on #2759
I think so, https://quarkus.io/guides/hibernate-orm-panache#multiple-persistence-units says yes.

[2020-10-19 12:43] #2759 closed

[2020-10-19 12:45] loicmathieu commented on #10909
There is two ways it can be done.
1. create an annotation like `@ReadPreferences`. Then update `MongoOperations` to read them from the entity class and use them where needed.
2. allow to specify it only for PanacheQuery with a method like `.readPreference()`, it will allow to specify read preferences per request and not per collection and will mandates the user to use the `.find()` operation but i

[2020-10-19 13:00] jamesnetherton commented on #11996
I've been looking into this. The problem stems from this `quarkus-spring-di` plugin configuration:

[code]

Which effectively bans dependencies that some of the camel-quarkus extensions depend on.

I can work around this in camel-quarkus, but was wondering if it could make sense to have a `BuildItem`, or some other way for extensions to unexclude these artifacts if they really need them. WDYT @geo

[2020-10-19 13:03] geoand commented on #11996
Unfortunately a BuildItem is executed way too late for that to be possible.

[2020-10-19 13:06] ia3andy opened #12792 "Qute data eval mechanism"
**Description**
It would be nice to have some kind of eval mechanism in Qute so that a data is processed as part of the template with evaluation:

[code]

template:
[code]

output to:
[code]

**Implementation ideas**

We could check that `foo` doesn't use `eval` to avoid any dangerous implementation, or we could see that as the developer problem no? I mean you don't need qute to create infinite lo

[2020-10-19 13:06] FroMage commented on #7405
No, sorry, no update ATM.

[2020-10-19 13:10] FroMage commented on #10695
I mean if we use the return value, to pass things to the template, we can only have one return value, so we can only pass a single parameter to the template. This is super rare, which makes this not very useful.

Yes, but then we lose all type safety.

[2020-10-19 13:12] FroMage commented on #11295
I was replying to your question "I'm not sure if "context propagation" is in some way suggesting that this should be doable."

No, it should not be doable, so yes you can close this, though it'd be nice to be able to detect this.

[2020-10-19 13:31] FroMage commented on #12540
Do you think you could take a look @loicmathieu ?

[2020-10-19 14:26] DorianMaliszewski opened #12794 "[OIDC Multi tenant] Environment variable doesn't take when not present in application.properties"
**Describe the bug**
I'm working on a multi tenant application. I find that when you don't put any properties for a tenant in the application.properties file (like quarkus.oidc.test.auth-server-url), then compile it and when launching the application with the environment variables, Quarkus doesn't take care of them:

Application.properties file :
[code]

Environment variables :
[code]

**Expected

[2020-10-19 14:37] galderz opened #12795 "Smallrye graphql native missing classes with Mandrel"
Building native with Mandrel 20.1 can throw some CNFEs, similar to issues like [this](https://github.com/quarkusio/quarkus/issues/8081#issuecomment-604014138). The fix is to add missing dependencies, which have no impact in runtime but help Mandrel based native image analysis resolve all classes. Exceptions:

[code]

And after fixing that:

[code]

Related to https://github.com/graalvm/mandrel/iss

[2020-10-19 14:43] galderz commented on #12795
This has appeared as a result of fixing https://github.com/graalvm/mandrel/pull/142. Before that fix, classpath issues while resolving default methods were being swallowed without notice unless incomplete classpath was allowed (should have been the opposite).

[2020-10-19 14:44] galderz commented on #12795
PR sent for 1.7 branch. Checking next if quarkus master is also affected.

[2020-10-19 14:46] michalszynkiewicz commented on #12719
@gaetancollaud I created a pull request for it: https://github.com/quarkusio/quarkus/pull/12797

[2020-10-19 14:50] latyaodessa commented on #12794
I had the same issue.
You need to specify "test-b-tenant" tenant in application.properties like

[code]

basically you need to specify every property and then it will be overridden by env. variables.

[2020-10-19 14:56] sberyozkin commented on #12794
@DorianMaliszewski Which property in from the original configuration is not overridable ? Adding the new tenant via the system properties is not even possible. Please either follow what @latyaodessa suggested or try a custom `TenantConfigResolver`

[2020-10-19 15:00] galderz commented on #12795
Master does not show same issue. Smallrye graphql runtime pom.xml looks the same, but integration tests pom.xml for this test is different (see https://github.com/quarkusio/quarkus/commit/5658025582f8738280bbd74136c50f911cf8b3f6).

[2020-10-19 15:07] #4890 closed

[2020-10-19 15:13] DorianMaliszewski commented on #12794
@sberyozkin @latyaodessa,

Okay, I understand, I tough that not only to override but to add more too.
So may be this can be an improvement :joy:

Have a good day,

[2020-10-19 15:13] #12794 closed

[2020-10-19 15:18] dufoli opened #12799 "jaxp issue"
The code is inside cxf extension for quarkus. I try to fix the native support. But I am stuck on an issue with jaxp.
I have added a substitution to debug and my schema seems right but the namespace is not returned.

Utilisation of JAXP in native with Document()
Code executed
DOMSource domSource = new DOMSource(d);
        StringWriter writer = new StringWriter();
        StreamResult result = new

[2020-10-19 15:21] JohZed opened #12800 "OIDC Introspection and Userinfo Cache"
**Description**
(see also discussions on #4481)

Currently, opaque OIDC access tokens need to invoke the token introspection and userinfo endpoint for each request.

An improvement would be the addition of a token introspection/userinfo cache. The cache should be configurable with a cache expiration. Applications would first check the token by invoking cache if not found it would invoke the token

[2020-10-19 15:24] #12786 closed

[2020-10-19 15:27] dufoli commented on #12799
I have added many class which seems loaded by reflection in cxf or in jab jaxp but still failing.

reflectiveItems.produce(new ReflectiveClassBuildItem(true, true,
                "com.sun.org.apache.xpath.internal.domapi.XPathEvaluatorImpl",
                "com.sun.xml.internal.stream.events.XMLEventFactoryImpl",
"com.sun.xml.internal.bind.marshaller.NoEscapeHandler",
                "com.sun.xm

[2020-10-19 15:30] chris-aeviator opened #12801 "Build error when using `AbstractKafkaSchemaSerDe` when using confluent kafka avro serializer"
`Build step io.quarkus.kafka.client.deployment.KafkaProcessor#build threw an exception: java.lang.NoClassDefFoundError: io/confluent/kafka/serializers/AbstractKafkaSchemaSerDe`

`Caused by: java.lang.ClassNotFoundException: io.confluent.kafka.serializers.AbstractKafkaSchemaSerDe
	at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:602)
	at java.base/jdk.internal.l

[2020-10-19 15:33] chris-aeviator commented on #12801
can successfully compile when using

[code]

[2020-10-19 15:33] #12801 closed

[2020-10-19 16:01] dufoli commented on #12799
yes I have added it ;-)

[2020-10-19 16:01] dufoli commented on #12799
the whole project is in https://github.com/dufoli/quarkus-cxf

[2020-10-19 16:33] #12758 closed

[2020-10-19 16:34] oscarfh commented on #9482
@geoandri If you want to keep an eye on the progress, here is my current fork/branch: https://github.com/oscarfh/quarkus/tree/logger-extension/extensions/loggers

This is a WIP. Until now I wanted to grasp the concepts and get any test to interact with the extension and pass, but if you want to check it out and let me know if I am on the wrong track somewhere, feel free to do so.
BTW, you might re

[2020-10-19 16:35] #11524 closed

[2020-10-19 17:04] djnalluri opened #12802 "gRPC: Configurable proto input directory"
**Description**
Currently, the input directory for compiling .proto files with the 'generate-code' goal is hard coded to 'src/main/proto'. It would be nice to make this configurable to a different directory. This is useful in use cases where the definitions are generated or downloaded at build time and hence, should be located in the target folder.

**Implementation ideas**
The generation code cou

[2020-10-19 17:29] andbin opened #12803 "Duplicated root-path in OpenAPI document for JAX-RS sub-resource"
**Describe the bug**
I have found that OpenAPI duplicates the root-path (from `quarkus.http.root-path` property in application.properties) when there is a JAX-RS "sub-resource".

**Expected behavior**
The path in OpenAPI document should be something like:

`/therootpath/some/subresource`

**Actual behavior**
The path in OpenAPI document is instead:

`/therootpath/therootpath/some/subresource`

**T

[2020-10-19 17:52] missourian55 commented on #12800
We have similar requirements, in our organizations its a mandatory requirement to cache the userinfo for certain duration. It would be nice if Quarkus supports token introspection (OAuth2/OIDC) with a caching feature.

[2020-10-19 18:09] jfrantzius opened #12804 "Cannot use multiple persistence units in same transaction"
**Describe the bug**
Given two Java packages configured in two separate persistence units, it is not possible to query entities in both of them within the same transaction. The query for the second persistence unit will always fail, while the first one works (i.e. no matter which PU is queried first, the other will fail). Querying the PUs outside of a transaction succeeds, though.

**Expected beha

[2020-10-19 18:34] phillip-kruger commented on #12803
This will be a SmallRye bug. I am duplicating in SmallRye. Let's keep this open here until the updated version is pulled in. see https://github.com/smallrye/smallrye-open-api/issues/518

[2020-10-19 18:40] dufoli commented on #12799
I have nother exception upper:
2020-10-19 14:19:53,767 FINE  [com.sun.xml.bin.v2.sch.XmlSchemaGenerator] (executor-thread-1) Writing XML Schema for com.sun.xml.bind.v2.schemagen.XmlSchemaGenerator@7fcae7477c78[http://cxf.it.quarkus.io/=com.sun.xml.bind.v2.schemagen.XmlSchemaGenerator$Namespace@7fcae7477ef8]: com.sun.xml.bind.v2.util.StackRecorder
	at com.sun.xml.bind.v2.schemagen.XmlSchemaGenerato

[2020-10-19 19:32] mklueh commented on #12776
@gytis Sure. https://github.com/mklueh/quarkus-panache-repository-resource-freeze

[2020-10-19 20:07] #12731 closed

[2020-10-19 20:46] #12763 closed

[2020-10-20 02:29] BloodShura commented on #10162
The absence of support for Kotlin coroutines is really the only thing keeping my team from using Quarkus right now. Guess we gotta stick with Spring+WebFlux for a while...

[2020-10-20 05:27] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/316931105

[2020-10-20 05:32] yuhaibohotmail commented on #12804
I have the same problem in my project，@Sanne

[2020-10-20 05:50] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/316930806

[2020-10-20 05:57] #12706 closed

[2020-10-20 06:05] ia3andy opened #12815 "Invalid dockerfile fast-jar doc"
**Describe the bug**
@glefloch I missed that in the review, but I think it's `-Dquarkus.package.type=fast-jar`

https://github.com/quarkusio/quarkus/blob/master/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/dockerfiles/base/src/main/docker/Dockerfile.tpl.qute.fast-jar#L2

Could you fix that asap?

[2020-10-20 06:08] glefloch commented on #12815
yes

[2020-10-20 06:09] ia3andy opened #12816 "Use buildtool data to generate requested dockerfile buildtool command"
**Description**
Use buildtool data to generate requested dockerfile buildtool doc command:

Need to add `package-fast-jar` here: https://github.com/quarkusio/quarkus/blob/master/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/buildtool/maven/codestart.yml#L29

maybe rename `package-uberjar` to `package-uber-jar`

Then use these in the different dockerfiles templates

[2020-10-20 06:15] cescoffier commented on #10162
I believe Kotlin co-routines are supported in JVM mode. I don't see why they should not. Also, with the recent GraalVM changes, it may work in native (but I would be a bit more careful about that).

Ping @evanchooly

[2020-10-20 06:15] Postremus commented on #12799
@dufoli If I understand correctly, the problem is that `d.getDocumentElement().getNamespaceURI()` returns null, even though the namespace is set using `xmlns:xs="http://www.w3.org/2001/XMLSchema"`.

I am myself not that familiar with jaxp / jaxb apis, but managed to find a place a bit earlier where the nsUri is returned as blank:
https://github.com/eclipse-ee4j/jaxb-ri/blob/master/jaxb-ri/txw/runt

[2020-10-20 06:22] triceo commented on #11563
The native image generation will be failing for a few more days still. We are working on a fix in one of our upstream projects.

[2020-10-20 06:34] latyaodessa commented on #12780
@ashatch yes, I guess it is workaround. Thanks!

[2020-10-20 06:34] #12780 closed

[2020-10-20 06:36] ia3andy commented on #12816
@glefloch do you receive a notification when assigned?

[2020-10-20 06:39] AShynkevich commented on #12647
@gsmet any comments?

[2020-10-20 06:42] glefloch commented on #12816
Yes, I did. I started working on it. This is a good idea. We could also use the `buildtool.cli` for Gradle project.

[2020-10-20 07:42] loicmathieu commented on #12540
I'll have a look

[2020-10-20 07:53] janknobloch opened #12818 "Quarkus Caching extention: Invalidation does not work"
**Describe the bug**

Running quarkus 1.8.3.Final:
`<quarkus.platform.version>1.8.3.Final</quarkus.platform.version>
`

[code]

[code]

**Expected behavior**
Cache invalidation should work, neither @CacheInvalidateAll nor @CacheInvalidate seem to do anything?
I also tried to pass a second parameter to the invalidation function (non cache key)
`private void invalidateCache(@CacheKey long onlineId,

[2020-10-20 07:59] jfrantzius commented on #12804
It seems that io.quarkus.hibernate.orm.runtime.entitymanager.TransactionScopedEntityManager (TSEM) uses the following as the key for registering a "real" `EntityManager` with the current thread's transaction:
[code]
As the TSEM itself has the name of the persistence unit as a constructor argument, the TSEM seems to be meant only for a single persistence unit. But the key above is a static object (

[2020-10-20 08:18] gsmet commented on #12818
My guess is that it's because you're annotating a private method for which we won't install the interceptors. Annotating a public method should work.

@gwenneg should we maybe throw an error in this case?
@mkouba I have a very vague recollection that you added support for interceptors in more cases, it's still something we don't support, right?

[2020-10-20 08:23] #5639 closed

[2020-10-20 08:33] mkouba commented on #12818
@janknobloch How and upon which instance do you call the `invalidateCache()` method?

@gsmet Interceptors should work for private methods.

[2020-10-20 08:38] #12723 closed

[2020-10-20 08:39] loicmathieu commented on #12540
@Duduxs can you add to your README or in this issue how to launch your database ? Docker commands perhaps ?

[2020-10-20 08:52] encodeering opened #12819 "gradle quarkus:dev task should be more lenient when analysing project dependencies"
**Describe the bug**

It's a gradle multi module project with two projects

* application - kotlin jvm
* ui - kotlin js

The ui module produces a jar file with a `META-INF/resources` directory containing the web application (html, js, ..) and is linked
as project dependency to the application.

Gradle mentions that the ["preferred way"](https://docs.gradle.org/current/userguide/cross_project_publi

[2020-10-20 08:57] gsmet commented on #12540
I would bet the issue is that things are not compiled with `-parameters`.

See https://github.com/quarkusio/quarkus-quickstarts/blob/master/hibernate-orm-panache-quickstart/pom.xml#L71 .

[2020-10-20 08:58] gsmet commented on #12818
FWIW, these annotations are working properly in the Backports app so there's something specific to this app.

[2020-10-20 09:08] jfrantzius commented on #12804
Can reproduce the bug with 1.9.0.Final as well, using above example project.

[2020-10-20 09:10] r00ta opened #12820 "Kafka event in a @Startup application is not emitted"
**Describe the bug**
Using the smallrye kafka extension, if a `@PostConstruct` method of an application annotated with `@Startup` creates an event, it is not emitted at all. See below an example:
[code]

**Expected behavior**
The event should be pushed to the kafka topic.

**Actual behavior**
The event is not pushed.

**To Reproduce**
I've created a project to reproduce the issue: https://github.c

[2020-10-20 09:15] michalszynkiewicz commented on #12802
If we are going to do it, I think it should rather be a maven/gradle property, probably called: `quarkus.generate-code.grpc.input-dir`.

Could you write a bit more about your use case? Do you plan to use the downloaded proto files as sources for generation or includes?

[2020-10-20 09:29] gsmet commented on #12804
Yeah, you're right, there's something fishy.

Let me clean this up.

[2020-10-20 09:50] #12815 closed

[2020-10-20 10:03] jfrantzius commented on #12804
OK I was able to fix it using a key for the transaction as described above. Will try to provide a Merge-Request.

[2020-10-20 10:10] jfrantzius commented on #12804
Looks like accessing two PUs in one transaction wasn't covered by a test yet? `io.quarkus.hibernate.orm.multiplepersistenceunits.MultiplePersistenceResourceInjectionUnitsTest` looks like the right place for it, but didn't cover it so far?

[2020-10-20 10:22] RotBolt commented on #8981
It again started to fail behind proxy
We have already added as mentioned in https://github.com/gradle/gradle/issues/5052#issuecomment-517580162
also set proxyhost and proxypassword

[2020-10-20 10:40] gsmet commented on #12804
@jfrantzius if it wasn't clear, I'm working on it (mostly because I wanted to do other cleanup in the file)

[2020-10-20 10:42] jfrantzius commented on #12804
I was a bit in a hurry because our project development is stalled due to this bug ...

[2020-10-20 10:43] jfrantzius commented on #12804
Also, to be honest, I'd be happy to contribute a PR :)

[2020-10-20 10:52] gsmet commented on #12804
OK, I suppose I will reapply my cleanups on top of your fix.

[2020-10-20 11:05] sberyozkin commented on #12794
Hey @DorianMaliszewski thanks, a given `OidcTenantConfig` can be arbitrary complex, so creating a new tenant with N system properties would be quite brittle :-). `TenantConfigResolver` is the best way to control tenants dynamically IMHO, and you can have some custom properties there as well, etc

[2020-10-20 11:30] eminn opened #12824 "Kubernetes extension does not generate init containers properly"
**Describe the bug**
When `io.quarkus:quarkus-smallrye-health` dependency is in the classpath and an init container added to the application.properties file, it generates liveness and readiness probes for the init container which is wrong as per https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#differences-from-regular-containers and generated `kubernetes.[yml|json]` cannot be ap

[2020-10-20 11:38] geoand commented on #12824
cc @iocanel

[2020-10-20 12:02] iocanel commented on #12824
Yeah, I'll have a look

[2020-10-20 12:34] Sanne commented on #11295
Can you think of a way to detect and prevent such a mistake?  This seems very important to me, but I'm not familiar at all with the context propagation design.

[2020-10-20 12:37] Sanne commented on #12740
@famod I'm pretty sure they won't work in native, and users will also be likely to expect CDI integrations to work.

[2020-10-20 12:51] #12654 closed

[2020-10-20 13:10] hyperman1 opened #12826 "Kubernetes - multiple problems in generated kubernetes.yml after merging"
I want to add a securityContext to the Deployment and leave all else unchanged.  but I run into some snags with the generated kubernetes.yml.

Steps to reproduce -- Following this guide: https://quarkus.io/guides/deploying-to-kubernetes

* Generate a new application, quarkus 1.8.3-FINAL, extension: Kubernetes (and Jib which is not relevant)
* Copy kubernetes1.yml or kubernetes2.yml to src/main/kub

[2020-10-20 13:33] jfrantzius commented on #12804
Thanks @gsmet for the quick responses and looking at the PR!

[2020-10-20 13:35] geoand commented on #12826
cc @iocanel

[2020-10-20 13:38] evanchooly commented on #10162
Yeah, coroutines should absolutely work in JVM mode.  There were some significant hurdles the last time someone looked at native mode but I haven't had a chance just yet.  It's on the list to revisit soon, though.  Hopefully JetBrains and the graalvm team have worked out some of the issues.

[2020-10-20 13:39] evanchooly commented on #10162
now dev mode might be another issue but I think that's literally the next item on my list to tackle.

[2020-10-20 14:30] agoncal opened #12829 "Maven plugin should be able to create a new Quarkus module when there is a root `pom.xml file"
**Description**

This issue is the follows up of a Zulip discusson[1]. Today, if you use the Maven plugin to create a new project (`mvn quarkus-maven-plugin:create`) and that there is a root `pom.xml` file, it errors[2]:

[code]

Instead it should create the project, and add a module into the `<modules>` section. In some use-cases, you can have a `pom.xml` at the root of several non-Quarkus module

[2020-10-20 14:31] dufoli commented on #12799
hello @Postremus ,
thanks for help.
I have added proxy because of cxf:
https://github.com/apache/cxf/blob/dc2f6af9ad09888cafb350f95935e9ec6abf8aee/core/src/main/java/org/apache/cxf/common/jaxb/JAXBUtils.java#L1585

[2020-10-20 14:57] #12719 closed

[2020-10-20 15:04] gytis commented on #12776
I looked through your application and there are a few issues that need to be addressed (I'm not sure what has changed since the 1.7.3. maybe other guys could expand on that).

First of all, fix the `BaseEntity` class to have an ID (this might be an issue in REST Data extension because vanilla Panache Hibernate doesn't seem to complain about this):
* Extend either `BanacheEntityBase` or nothing. Wi

[2020-10-20 15:14] iocanel commented on #12826
Thanks for the detailed report. I will have a look asap.

[2020-10-20 15:17] hyperman1 commented on #12826
Thanks. Let me know if you want this split up in multiple reports.

[2020-10-20 15:34] iocanel commented on #12826
*Problem1*: The NPE, is due to the fact that the port doesn't have a name which is considered mandatory. I will address that asap.

[2020-10-20 15:49] DariusMR opened #12831 "Table of map substition with environement variable not working in yaml properties files"
**Describe the bug**

Substitution of env variable which is a table of map produce this error at launch with an application.yml file :
[code]

**Expected behavior**

launching app with this env variable should work :

[code]

**Actual behavior**

when I put directly
```[{type: test, host: localhost, port: 443, scheme: https}]```
 in the conf file i'ts working, but when I want to build a seemless j

[2020-10-20 15:55] famod commented on #12740
@Sanne I see. Maybe we should refine the docs?
I and my team are not the only ones using those callbacks already (see other issues).

[2020-10-20 17:27] djnalluri commented on #12802
We currently generate protobuf definitions via Maven plugin during each build. The definitions help define our gRPC services that map to a proprietary interface. So the definitions are not a source of truth as the interface may evolve underneath them. This plugin also allows us to limit generation to subsections of the entire interface depending on what is needed for a particular application so pa

[2020-10-20 18:27] sberyozkin commented on #12756
It is a tricky one. The only way for us to assume that a `code` is a custom query parameter is when a code flow `state` cookie is missing so instead of failing the authentication we can issue a challenge. The problem with this solution is that there were a lot of redirect loops reported earlier when a state cookie was lost due to the wrong cookie path/etc, and also we can hide a CSRF attempt.
I've

[2020-10-20 18:41] glefloch commented on #12819
@encodeering could you share a small reproducer, I have worked on a fix, I would like to make sure it works.

[2020-10-20 18:48] gsmet commented on #12647
I'm not sure what you're asking.

If you expect what you post to be gzipped, it's the client that should gzip the content, not the server.

[2020-10-20 18:59] radcortez commented on #12766
I think we may be able to support this.

Remember that if we do this, this should only be applied to the runtime build, since we don't want to pollute the CL at build time. We may find resources that may not be available at runtime.

[2020-10-20 19:12] mklueh commented on #12776
@gytis Thanks. You are right, some things are missing in the reproducer. I´ve fixed that

Thank you for the hin. I think MappedSuperclass is what I want here :)

However it doesn´t affect the original issue, it still exists.

[2020-10-20 19:12] radcortez commented on #12419
Just to clarify, this is for runtime, not build time, right? We need to be careful at build time since the resources may not be available at runtime, since the class path may be different.

[2020-10-20 19:19] radcortez commented on #12507
I guess we could try to load a profile based file in `getConfigOverrides` default implementation.

There are some other issues related with profile aware files that may be related with this as well.

[2020-10-20 19:39] gytis commented on #12776
I didn't mean that you only need to add the annotation. You should do all three things.

I'll look separately into why is this needed, because vanilla Hibernate with Panache doesn't seem to need it. It could be that REST Data tries to access ID but it's not where it expects it.

[2020-10-20 19:44] radcortez commented on #11273
We maybe be able to support this with SR Config `FileSystemConfigSource`, with some additional tweaks.

[2020-10-20 19:48] TheGeekPharaoh opened #12836 "Failed to run lambda: com.fasterxml.jackson.databind.exc.InvalidDefinitionException: Cannot construct instance of `com.amazonaws.services.lambda.runtime.CognitoIdentity`"
**Describe the bug**
Running a lambda from the Quarkus Lambda example page yields a Jackson deserialization exception

**Expected behavior**
"TestLambda" lambda from the example should execute appropriately

**Actual behavior**

An exception is thrown:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1.   Create a Lambda project, as outlined [here](https://quarkus.io/guides/amazon-lambd

[2020-10-20 19:50] radcortez commented on #12766
This is actually a duplicate of #9869. Closing this one and following up there.

[2020-10-20 19:50] #12766 closed

[2020-10-20 19:55] #4571 closed

[2020-10-20 20:03] mklueh commented on #12776
Could you please be more specific what is wrong with using PanachEntity in that case, which provides the ID attribute automatically? I've always used it that way without any issues and in this case it works perfectly.

[2020-10-20 20:14] geoandri commented on #10412
I can help with this if no one else hasn't started working on it.

[2020-10-20 20:24] famod commented on #12831
/cc @radcortez

[2020-10-20 20:30] ppalaga opened #12837 "Memory leak via MojoLogger.logSupplier"
`MojoLogger.logSupplier` is a static field holding a reference to the following chain of refs:

`BuildMojo` -> `BuildMojo.repoSession` -> `DefaultRepositorySystemSession.cache`

When building Camel Quarkus with [mvnd](https://github.com/mvndaemon/mvnd), this prevents the cache (900+ MB on the heap) from being garbage collected after the build.

A PR follows.

[2020-10-20 21:29] cemnura commented on #10412
Hello @geoandri,

I was going to work on this regarding to conversation with @sberyozkin  on

https://groups.google.com/g/quarkus-dev/c/SVM4GDj9jM4

Would you like to work on this?

[2020-10-20 21:48] akoufa commented on #10162
@evanchooly @cescoffier  Kotlin Coroutines can be used in Quarkus JVM mode but If I am not mistaken there are some heavy limitations. For example:

It is not possible to define `suspend` Jax-RS Routes. Currently a workaround has to be used to convert from a coroutine to Jax-RS Mutiny. Also Quarkus does not provide any executors needed to run Kotlin Coroutines. Again we have to use the ones from `I

[2020-10-20 22:49] hrstoyanov commented on #11273
Also, is Quarkus the right place to fix this, or MP Config? I know it is too late for MicroProfile 4, so maybe Quarkus?

[2020-10-21 00:17] Duduxs commented on #12540
Hi guys, i alredy resolved this "bug", btw thanks! It's a logical problem with @transactional annotation from JPA.

[2020-10-21 00:17] #12540 closed

[2020-10-21 00:36] #12711 closed

[2020-10-21 00:50] #12804 closed

[2020-10-21 03:19] sherl0cks opened #12842 "Amazon S3 Extension: Interceptors Configuration Fails to AWS Shipped Interceptors"
**Describe the bug**
`quarkus.s3.interceptors=com.amazonaws.xray.interceptors.TracingInterceptor` results in a failure to configure the s3 client.

**Expected behavior**
AWS shipped S3 interceptors, like the XRay Tracing Interceptors, work with extension configuration model.

**Actual behavior**
(Describe the actual behavior clearly and concisely.)
[code]

**To Reproduce**

Don't have a reproducer

[2020-10-21 04:15] geoandri commented on #10412
Hi @cemnura,

no worries, I will pick up another one. Thanks for your response.

[2020-10-21 05:25] fmcejudo commented on #8834
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/319144856

[2020-10-21 05:29] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/319145467

[2020-10-21 06:30] encodeering commented on #12819
Hi @glefloch,

thanks for taking care of this so quickly!

I have pushed a small reproducer to this repository:  https://github.com/encodeering/quarkus-kotlin-jvm-js

Please let me know if you need something else.

[2020-10-21 06:38] overthetop commented on #12594
@gsmet is there a chance that issue gets a little attention?

[2020-10-21 07:09] aloubyansky commented on #12837
Fixed in https://github.com/quarkusio/quarkus/pull/12838

[2020-10-21 07:09] #12837 closed

[2020-10-21 07:57] marcinczeczko commented on #12842
@sherl0cks - looks like it's due to the fact the `com.amazonaws.xray` package is not added as archive market so combined index can't find this interceptor. I did a WIP PR #12843 that might potentially solve the issue, could you please take a look how it works in your setup ?

[2020-10-21 08:24] ismailsalloo opened #12844 "Quarkus configs to cater for multi nested properties"
**Description**
Quarkus configs to cater for multi nested properties

**Implementation Idea**
Example of how the application.properties/application.yaml file can be set up with nested properties:
eg application.properties:
[code]
eg application.yaml:
[code]

We then  can have a Java Config Class as follows:
[code]

[2020-10-21 08:31] xiaomogu1 commented on #12754
Hi @sberyozkin

any updates for the actions about this issue？For above comments?

Thanks

[2020-10-21 08:31] maconic commented on #12287
Flyway supports this and it is really a disadvantage when using Liquibase (you would have to work around it).

[2020-10-21 08:32] #12816 closed

[2020-10-21 08:49] janknobloch commented on #12818
Hey all sorry for the delayed response,
and thanks for your super quick replies.

@gsmet : You've been correct the private method basically broke the interceptor as you described. Making my method public did the trick, thanks for pointing that out. Setting it to private again shows the behaviour described above.

I think a side note at: https://quarkus.io/guides/cache
would be helpful about the in

[2020-10-21 08:52] janknobloch commented on #12818
Just out of curiosity - also for private methods?

[2020-10-21 09:01] YunaBraska opened #12845 "extensions/mongodb-client ignores timeout"
**Describe the bug**
Mongodb Client ignores timeouts and returns connection issues right after start instead of waiting for the configured 15 seconds.

**Expected behavior**
Mongodb prints only timeout errors when the time is reached

**Actual behavior**
You can see that the timeout is set but throws an socked exception right milliseconds without waiting for a timeout
[code]

**To Reproduce**
* Us

[2020-10-21 09:04] gsmet commented on #12818
No the methods are public, thus why I asked about the visibility.

But if @mkouba says interceptors should work on private methods, we should probably check what's going on.

@mkouba I see the interceptor bindings being installed on all methods, there's no "is public" filter. Could you check what's going on?

[2020-10-21 09:20] Sanne commented on #12740
Sure we could refine the docs, but it bothers me to have some funtionality which only works in JVM mode; I'd much rather keep it simple and document this is not supported yet - if it works for you you're "trespassing" the intent :)

It would set a bad precedent for other extension developers to have some features that behave differently in native-images - everything becomes more complex if each su

[2020-10-21 09:24] gytis commented on #12776
Sorry, I might not have been clear enough. It is not wrong to use `PanacheEntity`. What I meant is that I had to remove it to make your reproducer function as expected and that is most likely caused by an issue in the REST Data extension.

[2020-10-21 09:32] AlbozDroid commented on #12740
Personally, I think Quarkus should strive to have full support for **Microprofile** specs and **Hibernate** (fully JPA compliant). They're the backbone of Java Web Apps and the only serious alternative to Spring/SpringBoot.

[2020-10-21 09:36] Sanne commented on #12740
@AlbozDroid agreed, and no worries we'll implement these JPA callbacks. It's a limitation we inherited from the very initial POC, we simply never had the time but it's not inherently too difficult :)

To me it was also interesting that nobody had opened this issue yet ;-) It's a strategy to prioritieze things.

[2020-10-21 09:45] rmanibus commented on #12769
I think you should not block quarkus threads.
instead you can do something like:
[code]

[2020-10-21 09:50] famod commented on #12740
@Sanne

I totally get the "it shall work in native" goal.

Please don't! If you do I am sure you will see more issues than you want. 😉

There is another one, more or less: #6948

Not the worst thing to happen I would say.

[2020-10-21 09:51] aritabrito opened #12846 "GraphQL schema generation does not handle sealed classes"
**Describe the bug**
Sealed classes are ignored when generating the schema, causing issues with inner classes with same name.

**Expected behavior**
[code]

Generated schema:
[code]

**Actual behavior**
Generated schema:
[code]

[2020-10-21 09:56] sberyozkin commented on #10412
@cemnura Hi Cem, thanks, I updated `integration-tests/oidc-wiremock` a little bit yesterday to only return a jwk key set. as nothing else is needed for verifying the bearer JWT tokens.

I was thinking that it would be helpful for others to see how to test the opaque/binary tokens, which require an `introspection_path` be set in the discovery doc. FYI, Keycloak introspection endpoint is called even

[2020-10-21 10:11] sberyozkin commented on #10412
@geoandri Thanks, would you like to consider #11695 ? I suggested earlier to @cemnura that may be he would also be interested in #11695, but I believe we can continue in parallel :-), while we can later focus with @cemnura on `@TestSecurity` support for all the injection types supported in OIDC (`@IdToken JsonwebToken jwt`, etc), #11695 is independent of OIDC.
But you are also welcome to pick up a

[2020-10-21 10:20] gytis commented on #12776
A bit more information about the issue. This is not Gradle related, I'm able to reproduce it with Maven too.
Also, this is not exactly caused by a `PanacheEntity`. Dev mode gets stuck when an entity extends a class which also extends a class (e.g. Person < AbstractPerson < AbstractEntity). I'll keep investigating.

[2020-10-21 10:38] radcortez commented on #11273
Not everything has to go to MP Config and I think it is good to try out the features first in the wild, before moving it into the spec.

Moving forward, we can add this to SR Config. My idea was to use this as a base, enhance it and support it here: https://github.com/smallrye/smallrye-config/blob/master/sources/file-system/src/main/java/io/smallrye/config/source/file/FileSystemConfigSource.java

[2020-10-21 11:08] Sanne commented on #12740
thanks @famod ! Sure no worries I'm not disabling it yet, we are otherwise busy :)

[2020-10-21 11:15] #12262 closed

[2020-10-21 11:25] radcortez commented on #12831
Hum, it seems you are trying to use a custom converter to convert the substitution yaml.

I suspect that the issue is in the model used to convert the yaml. Can you try using only `{type: test, host: localhost, port: 443, scheme: https}` (without the square brackets)?

[2020-10-21 11:27] sberyozkin commented on #12754
@xiaomogu1 Hi, I'll look into making sure the exception reported during the tenant connection init is correctly reported.

[2020-10-21 11:44] AShynkevich commented on #12647
Ok, thanks a lot for the help! Quarkus is a quite interesting platform. The issue can be closed.

[2020-10-21 11:44] #12647 closed

[2020-10-21 11:49] gytis commented on #12776
I found a bug that causes this entity hierarchy to fail. Will raise a PR today.

[2020-10-21 12:09] haraldatbmw commented on #12756
@sberyozkin That sounds complicated. I was wondering why the `code` and `state` query-parameter are not only relevant for my configured static redirect-path: `quarkus.oidc.authentication.redirect-path=/api/oidc/callback`.

[2020-10-21 12:15] jmartisk commented on #12846
I don't think that the class being sealed or not is really relevant here. The problem here is that you have two GraphQL types that map to the same name, because we use the unqualified class name by default. Perhaps we should improve the code to detect that and throw an error... Anyway would it help if you differentiated your classes with `@Name("CUSTOM-NAME")` to mitigate the name clash?

[2020-10-21 12:17] DariusMR commented on #12831
Yes but as I said, I need a table of map in input

I tried ```[{type: test, host: localhost, port: 443, scheme: https}] ``` directly in the conf file
(or

[code]

)

so directly written in the application.yaml file and it's working (I need this table of map in input)

without the bracket it's not working because it's not how we design our input

For instance we can have one stream or many and we d

[2020-10-21 12:18] Sanne commented on #12724
+1 to have way to observe merge events.

But as @famod linked to, I believe that we shouldnt' expose the configurfation properties but rather expose a simple way to register listeners and customized components linked to the persistence unit.

I definitely don't want to "forward" all `hibernte.*` properties; we're restricting them for various good reasons.

[2020-10-21 12:19] mickroll opened #12847 "spring data - support manual method implementations in intermediate interfaces"
**Description**
We use JpaRepository throughout our project. Works like a charm.
We besically want to extend all our JpaRepository subtypes with the same method. As this method is "generically" dependent on the entity class, we cannot simply implement a fragment that forwards to entitymanager:

[code]

As we want to have that default method available in all our repositories, it would be great if t

[2020-10-21 12:21] geoand commented on #12847
cc @aureamunoz in case you find this interesting

[2020-10-21 12:28] jskovjyskebankdk opened #12850 "quarkus-rest-client-mutiny should also support Many/SSE return types"
**Description**

The quarkus-rest-client-mutiny allows handling of Uni return types.

I would like to be able to call a resource that uses server-sent events (SSE) to return multiple values.

On the client side, it would be nice to handle this with the MP rest-client as a Many return type.

So on the client side I would have a resource interface similar to this:

[code]
and use it like this:

[cod

[2020-10-21 12:30] iocanel commented on #12826
*Problem 2*: Is misconfiguration from the user side. The `securityContext` under the `Container` *DOES NOT* have any property related to `supplementalGroups`. There is however a `securityContext` under the `PodSpec` that does.

If configuration is moved under there, its expected to work.

[2020-10-21 12:37] Sanne commented on #352
Is this still going to be needed?

[2020-10-21 12:46] gsmet commented on #12842
@sherl0cks the following section might be useful: https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master

(except you need to build the branch instead of master)

[2020-10-21 12:48] loicmathieu commented on #12845
I'm not sure there is an issue here. There is no timeout as the message `com.mongodb.MongoSocketOpenException: Exception opening socket` means that there had an exception while trying to open the socket.

If your database is not up, you will have an exception immediatly.

Timeout is used when waiting for a connection (for example, network latency, un-responsive database but the port is open, ...).

[2020-10-21 12:51] radcortez commented on #12831
I understand.

In that case, it seems you may need to adjust the mapping model. At least by looking into this portion of the stacktrace:

[code]

Do you have your own custom converter to pick up the expression result and convert it to some sort of model? Can you try running `ConfigProvider.getConfig().getValue("block.sink", String.class); and check you get the right expression back as a String?

[2020-10-21 12:59] aritabrito commented on #12846
The error handling would be a nice thing to add, since it's very hard to understand the root cause. This is the error I currently have: _Validation error of type FieldUndefined_.
I've tried to use the @Name tag, but the name is not being overridden and the class name is the one used in the schema.

[2020-10-21 13:12] phillip-kruger commented on #12846
Do you have a reproducer ?

[2020-10-21 13:15] aritabrito commented on #12846
@phillip-kruger I don't, sorry

[2020-10-21 13:17] DariusMR commented on #12831
Yes, I've done this with the tool envsubst and after that I've controlled the number of spaces by pipe and sed the file

after that I had exact same application.yml (which is working without using env var) so it's quite strange

I obtained the exact same conf file with the exact same number of spaces

[2020-10-21 13:18] phillip-kruger commented on #12846
If you can create one, that would help a lot

[2020-10-21 13:22] jmartisk commented on #12846
I'll try and create something (I already did for a bit of experimenting), at least we'll make sure we're all on the same page

[2020-10-21 13:27] jmartisk commented on #12846
btw I think you might be the first person ever trying the GraphQL extension with Kotlin... This thing will definitely need some more care.

[2020-10-21 13:38] sberyozkin commented on #12756
@haraldatbmw I agree it sounds complicated but from the user perspective it will be an extra single property only in the configuration :-). I have a test working now.

`code` (and `state`) are special query parameters in the code flow, they are set by IDP on redirecting the user back to Quarkus.
The problem you are facing is not happening when the user is redirected back, but on the the initial re

[2020-10-21 13:42] gsmet commented on #12594
These configuration properties are fixed at build time so changing the profile won't change anything.

[2020-10-21 13:44] gsmet commented on #12594
(I'm not saying it's a good thing they are but that's a fact :))

[2020-10-21 13:45] jmartisk commented on #12846
https://github.com/jmartisk/graphql-kotlin-experiment
This is what I understood from the description that you're trying to do. I added the `@Name` annotations in `SealedA.kt` and `SealedB.kt` to demonstrate that after differentiating the two classes, it works properly:
[code]
the schema now is:
[code]

Without the annotations, both response classes are wrongly mapped to the same GraphQL type, and

[2020-10-21 14:30] rumengnian commented on #6982
in this augment method how can I use   EntityManager  ?

for example:

 private Supplier<SecurityIdentity> build(SecurityIdentity identity) {
        // String sql = "";
      //  em.createNativeQuery(sql);
}

[2020-10-21 14:44] missourian55 opened #12856 "Add Support for OAuth 2.0 Authorization Code with PKCE Flow"
**Description**
For SPA & Native apps (public clients) this is the recommended way to implement the Authorization code flow

**Implementation ideas**
Some of the reference materials I looked into are

https://developer.okta.com/blog/2019/08/22/okta-authjs-pkce

https://dzone.com/articles/securing-web-apps-using-pkce-with-spring-boot

https://www.stefaanlippens.net/oauth-code-flow-pkce.html

[2020-10-21 14:49] rgf2004 commented on #11646
I have the same issue but it appears only when using the private nexus maven repository (caching proxy)

[2020-10-21 14:50] radcortez commented on #12831
I was not able to reproduce it, in the sense that I get the error both with the expression and the inline value: https://github.com/radcortez/smallrye-config/commit/0cf26bbe03f5ca9b7f6102524e0057b916e4faba

Is this a fair reproducer?

[2020-10-21 14:54] aritabrito commented on #12846
Sorry, I cannot try with your demo at the moment, but will do that later.
The main difference I see is in the model, I have only one file like this, let's say SealedClasses.kt:

[code]

[2020-10-21 15:03] aloubyansky opened #12858 "Failure to boot in kubernetes in dev mode"
This is a regression compared to 1.9.0.Final.

1) Generate a the default REST app
2) add the jib and the minikube extensions
3) add the following properties to the application.properties
[code]
4) execute `mvn clean package -DskipTests -Dquarkus.kubernetes.deploy=true`

Pointing the browser to the hello endpoint results in
[code]

[2020-10-21 15:10] sberyozkin commented on #12856
Sure, we've been planning to do it even for the confidential clients

[2020-10-21 15:11] YunaBraska commented on #12845
Okay, well then I would need a timeout for the socked as well as my embedded database is not starting that fast on the first test

[2020-10-21 15:19] aureamunoz commented on #12847
yes, I will take a look asap! thank you @geoand

[2020-10-21 15:21] aritabrito commented on #12846
I managed to make it work in your demonstration. Thanks!

[2020-10-21 15:28] loicmathieu commented on #12845
`connect-timeout` is a socket timeout.
What you need is a way to start your database before your test.
How do you start your database ?

You can find how to enforce external service start before your test in this guide: https://quarkus.io/guides/getting-started-testing#quarkus-test-resource

[2020-10-21 15:36] evanchooly commented on #8404
It would appear this is fixed in the latest release.  @xmlking if you can confirm this for me, i can close this one out.

[2020-10-21 15:39] evanchooly commented on #9688
confirmed fixed.

[2020-10-21 15:39] #9688 closed

[2020-10-21 16:03] geoand commented on #12858
Thanks for picking up this issue (as well as the others) @iocanel !

[2020-10-21 16:05] geoand commented on #12847
Excellent, thanks!

[2020-10-21 16:35] acastele commented on #12831
Hello @radcortez , thanks for the reproducer. Here is a modification that represents more accurately the issue we are facing: https://github.com/acastele/smallrye-config/commit/812cdeace80dcf8839ae87d35063cc5a0346c678

[2020-10-21 16:42] #12846 closed

[2020-10-21 17:07] sherl0cks commented on #12842
Thanks to you both. Will find time to test it out and provide feedback.

[2020-10-21 17:17] javadevmtl commented on #7451
How did you manage to pull it off do you have the details?

[2020-10-21 17:18] gastaldi commented on #372
You can inject the arguments using `@Inject @CommandLineArguments List<String> arguments`. Closing

[2020-10-21 17:18] #372 closed

[2020-10-21 17:33] gastaldi commented on #12585
Closing for now as it seems to have been resolved

[2020-10-21 17:33] #12585 closed

[2020-10-21 17:36] FcoJavierSainz commented on #12585
I am still confused if this is expected or is a workaround of a bug

[2020-10-21 17:37] gastaldi commented on #12210
Fixed in https://github.com/quarkusio/quarkus/commit/9c742302558f15582ae12958adb91ad4565c093d

[2020-10-21 17:37] #12210 closed

[2020-10-21 17:40] gastaldi commented on #12047
Closing this issue as it's supported by the extension mentioned in https://github.com/quarkusio/quarkus/issues/12047#issuecomment-697627732

[2020-10-21 17:40] #12047 closed

[2020-10-21 17:41] gastaldi commented on #12021
Closing as mentioned above

[2020-10-21 17:41] #12021 closed

[2020-10-21 17:46] gastaldi commented on #11170
Improvements in the JSON logging is currently being done in https://github.com/quarkiverse/quarkiverse-logging-json

See https://github.com/quarkusio/quarkus/issues/7451#issuecomment-704430638 for more details

[2020-10-21 17:46] #11170 closed

[2020-10-21 17:48] ge0ffrey opened #12864 "Recorder must fail fast when it can't find the getter/setter instead of siliently replacing a field with null"
[code]
When recording this:
[code]
It ends up with bar being null on the other side, for example:
[code]

Instead of replacing bar silently with null, it should fail fast and mention that it can't serialize bar.

See discussion here:
https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/synthetic.20beans.20and.20recorder

[2020-10-21 17:49] gastaldi commented on #2720
IMHO JBang (https://www.jbang.dev/) is much nicer than Groovy and already runs Quarkus applications

[2020-10-21 17:52] radcortez commented on #12515
At this time, this is not possible because the `ConfigSource` lifecycle is managed by the `Config` and not CDI, so we cannot use injections in a `ConfigSource`. In certain cases, you may call the programmatic CDI API to retrieve a bean, but not for initialisation blocks, since Config objects are built before CDI Beans.

I already thought about this in the past. It may be possible to let CDI manage

[2020-10-21 17:55] gastaldi commented on #2763
It's `/quarkus/arc/beans` when running with `mvn quarkus:dev`.

See https://quarkus.io/guides/cdi-reference#dev-mode

[2020-10-21 17:55] #2763 closed

[2020-10-21 17:59] gastaldi commented on #4551
+1 on @gsmet's comments above. Closing this

[2020-10-21 17:59] #4551 closed

[2020-10-21 18:09] gastaldi commented on #12350
Your xmlrpc-client dependency should exclude xml-apis. See https://stackoverflow.com/questions/17360000/provider-for-javax-xml-parsers-documentbuilderfactory-cannot-be-found/32766405

[code]

[2020-10-21 18:09] #12350 closed

[2020-10-21 18:12] thomas-mc-work commented on #12350
Funny, I found exactly the same answer! I just didn't find the time to answer here. Thank you anyways. @gastaldi !

[2020-10-21 18:12] knutwannheden commented on #9791
I believe some of the existing extensions in Quarkus would also benefit from a `namespace` for `@ConfigRoot`. One example being `smallrye-jwt` for which the config properties are documented [in the guide](https://quarkus.io/guides/security-jwt#additional-smallrye-jwt-configuration) as well as in the [SmallRye documentation](https://smallrye.io/docs/smallrye-jwt/configuration.html#_smallrye_jwt_pro

[2020-10-21 18:33] gastaldi commented on #12371
A small reproducer project would help also

[2020-10-21 18:34] gastaldi commented on #12799
Are you depending on the `quarkus-jaxp` extension from Quarkus 1.9.0.Final?

[2020-10-21 18:35] geoandri commented on #10412
@sberyozkin I could definitely give it a try.

Thanks.

[2020-10-21 18:38] gastaldi commented on #2603
There are `PanacheEntityResource` and `PanacheRepositoryResource` classes for this matter.

More info at https://quarkus.io/guides/rest-data-panache

[2020-10-21 18:38] #2603 closed

[2020-10-21 18:49] gastaldi commented on #1378
Using `quarkus.log.console.darken` resolves the problem. Closing this issue for now

[2020-10-21 18:49] #1378 closed

[2020-10-21 19:02] serrodcal commented on #12371
I can't share the project because it belong to my company, but I'll try create a small reproducer project as you mentioned  as soon as possible :).

[2020-10-21 19:18] vsevel commented on #12515
thanks for this analysis @radcortez
a solution would be to use new dedicated phase (e.g. `CONFIG`) for extensions initializing config sources. it would be assumed that those `CONFIG` extensions would only have access to lower level config sources (file, system property and environment).
but that is what the `BOOTSTRAP` phase is for (as described by the javadoc _These values are used to configure C

[2020-10-21 19:35] EfraimLA commented on #11842
Hello i notice there's an accepted and merged pull request but i'm actually using 1.9.0.Final version and still experiencing this issue

Here's my output log:

[code]

[2020-10-21 20:14] radcortez commented on #12515
The only possible phase where this could work is `BOOTSTRAP` since it is done before the `Config` object is initialised.

In reality, with the `ConfigSourceFactory` approach, you don't really need a Config model class, except for documentation purposes and validation, because you can read the configuration properties directly from the `ConfigContext` in the factory. It is an option, but maybe ther

[2020-10-21 20:32] sherl0cks commented on #12842
#12843 does fix the issue. I can see the tracing interceptor executing. Nice job!

[2020-10-21 22:24] neon-dev commented on #12724
Could you please elaborate? It works with a `persistence.xml`, so why artificially limit configuration properties for datasources defined purely in `application.properties`?
Also, is there currently a way to set `hibernate.event.merge.entity_copy_observer=allow` without a dedicated `persistence.xml`?

[2020-10-21 22:57] hrstoyanov commented on #11273
@radcortez thanks. I just want to make sure you are not fixated on file in the file system only, and this is possible:
```java -jar myproject.jar --spring.config.location=file:/tmp/myapplication.config;http://githib.com/myproject/myother.config```
e.g configurations are merged  from files or urls in the order of enumerating them on the command line

[2020-10-21 23:53] radcortez commented on #11273
Well, I think that we should probably start with the file system first, simple because we already have most of the work to support it.

Adding more url handlers requires additional work that we can do later.

[2020-10-21 23:55] xmlking commented on #8404
will test and conform ASAP

[2020-10-22 00:06] xmlking commented on #8404
yes it works now. Thanks a lot.

[2020-10-22 00:06] #8404 closed

[2020-10-22 01:51] oscarfh opened #12871 "QuarkusUnitTest does not restart Quarkus between tests"
I am developing an extension and writing tests for it.
With my extension, the user is able to modify level of loggers by calling a REST endpoint.

[Here](https://github.com/quarkiverse/quarkiverse-logging-ui/blob/quarkus-interdependent-tests/deployment/src/test/java/io/quarkiverse/loggingui/quarkus/logging/ui/deployment/QuarkusLoggingUiTest.java) you can see a example test that I wrote.
They are e

[2020-10-22 02:28] oscarfh commented on #9482
@geoandri https://github.com/quarkiverse/quarkiverse-logging-ui
Just  add
[code]
to use.

[2020-10-22 03:58] Namphibian commented on #2720
@gastaldi  it might be nicer but converting an entire system where the mapping have been done in Groovy over is not going to fly. Note that this is particular to Camel.

[2020-10-22 04:42] gastaldi commented on #2720
@Namphibian thanks for the feedback!

Yes, I agree with you, I was talking about greenfield applications.

It's a good thing we have https://github.com/apache/camel-quarkus/issues/1746 (as part of Camel Quarkus), since we're talking Camel use cases here.

[2020-10-22 04:46] gastaldi commented on #9482
I'm closing this issue. Future issues/requests please use https://github.com/quarkiverse/quarkiverse-logging-ui/issues

[2020-10-22 04:46] #9482 closed

[2020-10-22 05:16] maxandersen commented on #2720
I don't think jbang would help here. Jbang is about bootstrapping the app from simpler means.

Here the ask is that one can use groovy classes similar to how we support kotlin, Scala etc.

Since groovy is quite compatible with Java and can compile to a .class I'm wondering if not at least something like using it for mapping or other auxiliary work would "just" work at least in Java mode ?

Native

[2020-10-22 05:19] geoand commented on #2720
Groovy should definitely just work with Quarkus apps in JVM mode. Not sure about how compatible the latest Groovy versions are with native mode though...

[2020-10-22 05:24] stuartwdouglas commented on #12820
The issue is here: https://github.com/smallrye/smallrye-reactive-messaging/blob/master/smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/MediatorManager.java#L171

As part of the connection process this will get a reference to the bean. This results in the post construct method being called before everything is connected.

[2020-10-22 05:25] fmcejudo commented on #8834
Build fixed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/321328731

[2020-10-22 05:41] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/321329372

[2020-10-22 06:12] mklueh commented on #12776
Interesting. Wasn't sure if the inheritance was the cause but had not tested it without. Thanks for your help

[2020-10-22 06:32] glefloch commented on #12871
@oscarfh have you try adding the `@QuarkusUnitTest` annotation on your test class?

[2020-10-22 06:54] xtaixe commented on #12419
@radcortez build time would work for our current use case, but runtime should be fine too. Not sure how resources work with Quarkus/GraalVM, but would be nice to not have to define additional parameters when building/running if the resource is already defined somewhere.

[2020-10-22 07:01] jmartisk commented on #12846
Great to hear it's working. I reported https://github.com/smallrye/smallrye-graphql/issues/482 to fix the issue where we don't throw an error if multiple classes map to the same GraphQL type

[2020-10-22 07:03] #12136 closed

[2020-10-22 07:05] Namphibian commented on #2720
Yeah look I love the Qaurkus project. And I am dying to push it into production just several key features are not there quiet yet.

[2020-10-22 07:05] YunaBraska commented on #12845
@loicmathieu thank you, that really worked out! 👍 amazing! Just the documentation was hard to get how to do it, but after I searched for an example like this https://github.com/quarkusio/quarkus/blob/beceadd2102ddffbb2bee0844dc635d30071d590/integration-tests/kafka-avro/src/test/java/io/quarkus/it/kafka/KafkaAvroIT.java, it was much more clear then.

[2020-10-22 07:05] #12845 closed

[2020-10-22 07:11] loicmathieu commented on #12845
Cool!
Don't hesitate to propose documentation improvements! It's important to us.

[2020-10-22 07:54] hyperman1 commented on #12826
@iocanel  Thanks for looking in this.
Re problem2:  I would suggest giving an error message instead of silently dropping unrecognized items.   I indeed still make many junior mistakes, and it helps if the build points them out.

[2020-10-22 08:14] mkouba commented on #12818
So I think that the problem is that private methods are invoked via `invokespecial` if called from within another method in a bean class and so even if the intercepted subclass "overrides" the private method it's not invoked. However, interceptors would work e.g. for an intercepted private observer method where it's the container that calls the method. FYI package-private and protected methods sho

[2020-10-22 08:46] aritabrito commented on #12846
Anyway, not being able to use the @Name tag on our project, due to not wanting to add new dependencies, it would be nice to have a way of fixing this other than having data classes with different names.

[2020-10-22 08:49] jmartisk commented on #12846
@aritabrito Not sure what you mean, if you're using GraphQL then you must have the `org.eclipse.microprofile.graphql` package available anyway, and `@Name` is in that package?!

[2020-10-22 08:55] aritabrito commented on #12846
It's in two different services, one just for the dtos where I have the sealed classes. That's the one without the package

[2020-10-22 09:01] geoand commented on #2720
What key features do you have in mind @Namphibian ?

[2020-10-22 09:07] ahofmeister opened #12873 "Hibernate does not perform an update statement without setters"
**Describe the bug**

If an entity (see example below) is attached to the persistence context (or a merge is called manually) and the application tries to update a property AND there are not setters for this property (or in general), the update is not perfomed.
See following discussion with @Sanne https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/hibernate.20(merge).20with.20public

[2020-10-22 09:11] sberyozkin commented on #2611
@loicmathieu I'm going to look into it shortly, thanks

[2020-10-22 09:21] lmagomes opened #12874 "A gradle project with kotlin and grpc fails compilation"
**Describe the bug**
Following the [gRPC getting started guid](https://quarkus.io/guides/grpc-getting-started) but using gradle and kotlin, the code fails compilation, because it doesn't find the generated proto classes. The protoc compiler does generate them successfully.

Using the same helloworld.proto and HelloService.kt on a maven project compiles and starts a gRPC server successfully.

**Exp

[2020-10-22 09:24] lmagomes commented on #12874
/cc @michalszynkiewicz

[2020-10-22 09:30] phillip-kruger commented on #12846
You can also use jsonbproperty to name it

[2020-10-22 09:37] jmartisk commented on #12846
That AFAIK only affects the output JSON, not the schema, so the schema would still be invalid?

Anyway, I think another problem here is that if a model class is nested, we only use the inner class' name for the type, perhaps we should translate it to `OuterClass_InnerClass`?? I think that would solve @aritabrito 's problem, the `Response` classes in the description are nested.

[2020-10-22 09:41] aritabrito commented on #12846
Yep, that would solve the issue! 👍

[2020-10-22 09:41] phillip-kruger commented on #12846
I added a config option that allow the naming strategy a while back, you can even use the full package name, or inner classes can be pretended with their parent class

[2020-10-22 09:43] andlinger commented on #11923
Following line produces the same stacktrace:
`DnsClient dnsClient = vertx.createDnsClient();`

[code]

Is there a temporary workaround to get the build running again?

[2020-10-22 09:44] haraldatbmw commented on #12090
@sberyozkin I just tried the fix with Quarkus-1.9.0.Final. It works for the flow and the REST endpoints but breaks my unit-tests which are using the @TestSecurity(user = "harald") annotation.

[2020-10-22 09:52] #12776 closed

[2020-10-22 09:52] phillip-kruger commented on #12846
Try setting quarkus.smallrye-graphql.auto-name-strategy=MergeInnerClass

[2020-10-22 09:52] gsmet commented on #12776
This fix will be backported in 1.9.1.Final that I will release next week.

[2020-10-22 09:53] phillip-kruger commented on #12846
Or Full to get the whole package

[2020-10-22 09:53] jmartisk commented on #12846
Oh I didn't know that, ok. Note that this is only available since Quarkus 1.9.0

[2020-10-22 09:56] vsevel commented on #12515
the only drawback is that you are losing the databinding I suppose? we would still have to implements methods such as `VaultConfigSource.loadRuntimeConfig()` for instance.

[2020-10-22 09:57] #9122 closed

[2020-10-22 10:02] osaka-svg opened #12876 "Add guide how to build extension"
**Description**

https://quarkus.io/guides/building-my-first-extension

The below guide dose not have that how to build the extension.

**Implementation ideas**

Add it.

[2020-10-22 10:08] radcortez commented on #12515
If we are using the `ConfigSourceFactory` approach, yes. This is because the factory init is part of the `Config` init, meaning that you don't have access to the `Config` object and use it to bind the config items.

An alternative, it to use the `RunTimeConfigurationSourceValueBuildItem`. You are able to databind and pass the the config item to the recorder. Internally, this uses a separate Config

[2020-10-22 10:12] #12716 closed

[2020-10-22 10:15] sberyozkin commented on #12856
@missourian55 I'd like to clarify, we can't do anything around making sure the tokens acquired by the SPA scripts or public clients use PKCE as Quarkus OIDC adapter does not control the code flow for these types of clients. We can only get PKCE applied to the code flow run for Quarkus `web-app` applications.

[2020-10-22 10:24] gsmet commented on #12873
Could you provide a reproducer? Thanks!

[2020-10-22 10:24] gsmet commented on #12864
@stuartwdouglas not sure if it's an oversight or a feature? Could you confirm?

[2020-10-22 10:31] aritabrito commented on #12846
Wow! It worked! Thanks a lot 💯

[2020-10-22 10:32] BeneStem opened #12877 "Qute Asynchronous Data Resolution not working as stated in example"
**Describe the bug**
I am trying to use asynchronous data resolution within qute data as mentioned here https://quarkus.io/blog/qute/#asynchronous-data-resolution-on-the-way-to-reactive.

But it is not working for me at all...

I am trying to setup a completion stage from panache reactive mongodb and it always gives me the same error...

[code]

Here is the code:

[code]

And the HTML:

[code]

He

[2020-10-22 10:34] sberyozkin commented on #12755
Labelling it as an enhancement since the introspection response uses a non-standard property

[2020-10-22 10:39] sberyozkin commented on #12756
@haraldatbmw I've opened a PR but in  meantime you may also want to consider the  browser frontend always starting from some specific authentication path, such as `/login`, etc, once the login is done, and the session is established, the custom `code` and `state` parameters will be accepted without any problems.

[2020-10-22 10:55] gsmet commented on #12620
What's the progress on this? I reckon part of the issues were fixed but not all?

We need all of this fixed before I try to release the next CR.

[2020-10-22 10:58] oscarfh commented on #12871
@glefloch Oh, is there such a thing?  I thought that `QuarkusUnitTest` was an extension, like used here (https://quarkus.io/guides/building-my-first-extension#testing-the-greeting-feature) and here (https://quarkus.io/guides/writing-extensions#testing-extensions)

[2020-10-22 11:00] glefloch commented on #12620
Exactly the Gradle IT are still failing when setting `maven.repo.local`. I will give an other try to fix those two tests.

[2020-10-22 11:02] haraldatbmw commented on #12756
@sberyozkin In my current project all OIDC endpoints are static. My frontend calls `/api/oidc/login` to start the flow. My redirect url is always `/api/oidc/callback`. My fontend calls `/api/oidc/logout` for logging-out. And I configured a post-logout endpoint for `/api/oidc/post-logout` which redirects to the start-page. So in my case the `code` and `state` query-parameters of the OIDC flow are r

[2020-10-22 11:05] sberyozkin commented on #12756
@haraldatbmw OK, so in this issue description you mention ` /hello?code=abc.` At what point this call is executed ?

[2020-10-22 11:09] haraldatbmw commented on #12756
@sberyozkin This is a protected endpoint of my application which uses the query-parameter code because our business-entity attribute is named code (has nothing to do with OIDC code). It is called after the login. So the user is already authenticated. But if called without authentication before it should return 499.

[2020-10-22 11:29] sberyozkin commented on #12756
@haraldatbmw If it is a protected endpoint, then the `code` must not be interfering after the authentication. It can only interfere after the authentication if the session cookie is not detected so if you rename it to `id` and it all starts working then my best guess is that the user is auto-redirected to IDP, and silently re-authenticated, and it may be happening on every request.
Can you please

[2020-10-22 11:36] haraldatbmw commented on #12756
@sberyozkin Just look at my reproducer project and there the unit-test. The conflict is only at accessing the endpoint without any authentication before. It results 401 instead of 499.

[2020-10-22 11:47] sberyozkin commented on #12756
@haraldatbmw Oh I see, it is quite confusing, the description says the wrong code is returned, but what you expect is 499 on the very 1st request or perhaps, when the session has expired in which case the flow starts again. It does not matter what is expected, 401 or 499 then.

In this case the PR I provided is the reasonable workaround IMHO.

[2020-10-22 11:50] haraldatbmw commented on #12756
@sberyozkin Sorry for confusion!

[2020-10-22 11:53] glefloch commented on #12871
My bad, I was confused with the `QuarkusTest` annotation.
BTW, I checked out your repo and tests a ok on my machine.

[2020-10-22 11:55] sberyozkin commented on #12756
@haraldatbmw No problems :-), the PR should not only allow the custom code/state on the first or re-auth requests, but also let users select the way they want to handle the case where a state cookie is missing, so it is not in vain :-), and I'd definitely would not consider tat enhancement without you opening this issue :-)

[2020-10-22 12:02] sberyozkin commented on #12754
@xiaomogu1 I've reproduced the problem and hopefully have a fix ready soon. There is a real problem here which you detected, it is impossible to create the `web-app` tenants from `TenantConfigResolver`. We have tests where the `service` tenants are created, but no `web-app` tenants.

[2020-10-22 12:08] sberyozkin commented on #12754
The only workaround is to use the introspection only for now and no discovery which is what you've also confirmed.

[2020-10-22 12:22] haraldatbmw commented on #12090
@sberyozkin Should I create a new issue therefor?

[2020-10-22 12:47] oscarfh commented on #12871
@glefloch Can you please confirm that you are on the `quarkus-interdependent-tests` branch?

[2020-10-22 12:54] evanchooly commented on #10909
Having inherited something similar in Morphia, I definitely lean toward the query option.  Such options rarely apply generically across all uses of an entity and benefit more from a targeted application in specific use cases.

[2020-10-22 13:06] glefloch commented on #12620
@gsmet, Gradle IT tests are ok on my machine after cleaning my custom local maven repo.
In order to make sure everything is fine WDYT if we update the snapshot-ci job to set a custom `-Dmaven.repo.local`  ?

[2020-10-22 13:07] nakamura-to opened #12881 "Doma extension"
**Describe the extension**

[Doma](https://github.com/domaframework/doma) is a database access framework for Java 8+.

Quarkus Doma extension provides the following features:

- Build time initialization, configuration, and injection
- Hot reloading of SQL files
- Automatic SQL execution on startup
- Multiple Datasources

Interested in this extension, please +1 via the emoji/reaction feature of Gi

[2020-10-22 13:09] gsmet commented on #12620
I think we need a specific job run maybe once a week as we need to start from an empty repo and I wouldn't like to have the snapshots job to do that.

[2020-10-22 13:13] glefloch commented on #12871
ah yes, it fails too on my machine. I haven't seen your link was on a different branch..

Maybe @geoand could help here?

[2020-10-22 13:15] glefloch commented on #12620
ok, I will work on that, and push a PR.

[2020-10-22 13:18] TheGeekPharaoh commented on #12836
Confirmed to still exist in v1.9.0.Final

[2020-10-22 13:19] loicmathieu commented on #10909
This is also the easiest way to implement this ;)
@ShqiprimBunjaku will having a way to specify read preferencies per query fit your needs ?

[2020-10-22 13:21] missourian55 commented on #12856
Makes sense to me. Thanks!

[2020-10-22 13:30] #12842 closed

[2020-10-22 13:40] haraldatbmw opened #12882 "Disabled proactive authentication and @TestSecurity does not work"
**Describe the bug**
My quarkus app uses OIDC (type=web-app) with `quarkus.http.auth.proactive=false` to disable the proactive authentication witch causes unit-tests to fail because the annotation `@TestSecurity(user = "myuser")` does not work any more. `SecurityContext.getUserPrincipal()` returns `null`.

If setting `quarkus.http.auth.proactive=true` the unit-tests works fine.

**Expected behavio

[2020-10-22 13:47] sberyozkin commented on #12882
CC @stuartwdouglas

[2020-10-22 13:50] iocanel commented on #12826
It makes sense. I'll have a look at it!

[2020-10-22 14:17] ge0ffrey opened #12883 "SyntheticBeanBuildItem: helpers for parameterized types"
This injects a `SolverFactory<TimeTable>` instance:
[code]
It would be nice if we can simplify that to:
[code]

[2020-10-22 14:20] ge0ffrey commented on #12864
If it's a feature, the ability to add a strict=true mode to have it fail fast would be very useful.

optaplanner-core's SolverConfig hierarchy is very rich and when parts of it _might disappear_ (replaced by null) when going through the Recorder will lead to difficult to diagnose bugs, much later down the line.

[2020-10-22 14:22] ge0ffrey commented on #12769
Writing that infinite loop in the startup event was not intentional :)

Trying to kill it when I realized my mistake, was intential, yet quarkus:dev didn't actually kill it.

[2020-10-22 14:28] ge0ffrey commented on #5630
Closing this as it's no longer needed on my side and there is little expectation that others need it.

[2020-10-22 14:28] #5630 closed

[2020-10-22 14:29] #7034 closed

[2020-10-22 15:03] iocanel commented on #12826
*Probelm 5*: Created https://github.com/quarkusio/quarkus/pull/12884

[2020-10-22 15:04] radcortez commented on #12831
Hi @acastele. Thank you!

I can see the issue now. Yes, the problem here is the difference on how an inline or a replaced property is interpreted by the YAML parser.

When the value is inline, it is put in the context of the `servers` and the YAML parser know it is an array and stores at such. When using the replaced value, the context is not there anymore, so the YAML parser doesn't know anything

[2020-10-22 15:12] radcortez commented on #12419
Ok, I may have some ideas. I'll have to prototype and experiment with them first. I'll update later.

[2020-10-22 15:25] #12819 closed

[2020-10-22 15:46] Temdegon commented on #12168
I've checked that with similar code and it looks like the problem exists only in dev-mode. If I start the app in the normal mode it works fine. Could you pls recheck and probably adjust the bug description?

[2020-10-22 16:01] felipewind opened #12886 "Change quarkus.hibernate-orm.log.sql to run time property"
According to https://quarkus.io/guides/all-config , the `quarkus.hibernate-orm.log.sql` property must be set at build time.

I tried to pass the parameter at run time and got the error:
[code]

It would be great if I could set it up at run time.

Nowadays, if I have any problem in production and I want to turn this log to true, I'll have to make a new build.

Besides that, I only generate one dock

[2020-10-22 17:10] #10390 closed

[2020-10-22 17:10] #11921 closed

[2020-10-22 17:26] csotiriou commented on #8543
@shireenmagdy The issue still persists in Quarkus 1.8.3. We decided to put a ClientRequestFilter to catch the error and propagate it gracefully ourselves, until this is fixed.

[2020-10-22 17:27] gastaldi opened #12887 "Make https://quarkus.io/guides/all-builditems reuse the same style as https://quarkus.io/guides/all-config"
It would have been nice to have the same style as the config page, and also the search box. Who worked on that?

_Originally posted by @FroMage in https://github.com/quarkusio/quarkus/issues/733#issuecomment-714505862_

[2020-10-22 18:34] famod commented on #12886
Closely related to #9275.

[2020-10-22 18:39] gastaldi commented on #12881
@nakamura-to hey! It appears that you are already maintaining the extension with several releases going on. That's really great!

Moving to the Quarkiverse organization would require your extension to be renamed to the `io.quarkiverse.doma` groupId. It would also affect the package name. Is that something you think it's worth doing?

If your intention is to get your extension listed in our tooling

[2020-10-22 19:26] Sanne commented on #12886
hi @felipewind , thanks for raising this! Yes I agree we need to do this - no need to persuade me. But it's not an easy change currently to make any ORM settings reconfgurable - there's a general underlying issue that needs to be fixed first, as @+famod mentioned.

[2020-10-22 19:32] #12602 closed

[2020-10-22 19:33] geoand commented on #12871
@oscarfh can you give some context on what exactly you are trying to achieve?

[2020-10-22 19:49] rober710 opened #12889 "Additional Manifest entries via POM"
**Description**
This is related to https://github.com/quarkusio/quarkus/issues/5023 .
I have configured my project to generate a fat jar via application.properties, but in my pom, I have configured the [build number maven plugin](https://www.mojohaus.org/buildnumber-maven-plugin/usage.html) to get the commit ID and the branch the jar is being built from. In the jar plugin's configuration, I have t

[2020-10-22 20:57] nakamura-to commented on #12881
@gastaldi  Hi. Thanks for your reply.

Yes, it's worth doing.
I want to join the Quarkiverse community.

[2020-10-22 21:32] felipewind commented on #12886
Hi @Sanne , thanks for the reply.
I didn't know it was so difficult.
For my user perspective, this feature would be good. But as I don't have any idea about the work necessary to do this, if you prefer I can close this issue.

[2020-10-22 21:38] Sanne commented on #12886
no worries, let's keep the issue open as I agree it's important. I can't work on it now but I hope to find some time in the near future, or find another volunteer.

[2020-10-22 22:06] oscarfh commented on #12871
Sure, @geoand.
The idea is writing this extension that allows me to call an endpoint to change the log level (see [LoggerHandler](https://github.com/quarkiverse/quarkiverse-logging-ui/blob/master/runtime/src/main/java/io/quarkiverse/loggingui/quarkus/logging/ui/LoggerHandler.java).

I want now, to test this extension, and I will do that by:
- Verifying the current log level, whether it is the expe

[2020-10-22 22:46] felipewind commented on #12886
Thanks a lot @Sanne !

[2020-10-22 22:51] stuartwdouglas commented on #12864
Originally it was a feature, as we were passing in some objects that were not designed to be recorded, and they could have things like isFooSet() {return foo != null;}. fooSet appears to be a property, but is not something we can record.

I will look at making it strict by default, and adding a @RelaxedValidation annotation for the recorder parameters to deal with any problematic cases.

[2020-10-22 23:10] #12190 closed

[2020-10-23 01:15] xiaomogu1 commented on #12754
Thanks for that!! @sberyozkin

So by work flow
  can I close MY ticket? or Simply you close it for me.

[2020-10-23 04:38] LiaFoteini commented on #12876
In actual, all we need is add `$ mvn install` to the document.

[2020-10-23 05:25] fmcejudo commented on #8834
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/323476106

[2020-10-23 06:30] SumaiyaSafdar commented on #12887
hi, I would like to work on this project. Can you suggest me ways to get started?

[2020-10-23 06:38] rsvoboda opened #12894 "deployment-target=knative not working with Quarkus 1.9"
`quarkus.kubernetes.deployment-target=knative` not working with Quarkus 1.9, works fine with Quarkus 1.8.2.Final / 1.7.5.Final. Running on OpenShift 4.5 with OpenShift Serverless.

The main message I see in log of the final pod is `ERROR Neither $JAVA_MAIN_CLASS nor $JAVA_APP_JAR is set and 0 JARs found in /deployments (1 expected)`

The problem I see is that with knative `/deployments` is still l

[2020-10-23 06:39] rsvoboda commented on #12894
@geoand / @iocanel fyi

[2020-10-23 06:52] geoand commented on #12894
@iocanel a regression I assume?

[2020-10-23 08:17] juangon opened #12896 "CDI: programmatic lookup problem detected - Nayarana - 1.9.0.Final"
**Describe the bug**
A warning message is printed when using `@Transactional` in 1.9.0.Final

**Expected behavior**
No warning message should show up.

**Actual behavior**
This message on startup is shown:

[code]

**To Reproduce**

Create any project using `@Transactional` annotation in some bean. Then just package and startup application.

**Configuration**

**Screenshots**

**Environment (pleas

[2020-10-23 08:44] sebstr1 commented on #11535
Im unable to get data from DB in my GRPC service.

Im using Quarkus 1.9.0.final and javax.persistence.EntityManager

I've tried using Executor, ManagedExecutor and just running the dao call inside a thread. Also tried what is suggested in https://smallrye.io/smallrye-mutiny/#_how_do_wrap_blocking_calls

[code]

Just to see if I can make the call to db.. In every diffrent attempt I've made it compl

[2020-10-23 08:55] manovotn commented on #12896
There doesn't seem to be a change in the bean declaration (e.g. it was always removeable).
 I think it's the added logging in ArC causing this to pop up - what does the application do? Just dynamic `Instance<UserTransaction>` resolution?

[2020-10-23 08:58] juangon commented on #12896
I am not doing that resolution in code, just using `@Transactional`, and some other configs. Maybe this line in properties is related, as it may join a transaction?
`quarkus.quartz.store-type=jdbc-cmt`

[2020-10-23 09:00] juangon commented on #12896
Here is my extension list:
`Installed features: [agroal, cdi, flyway, hibernate-orm, hibernate-validator, jdbc-mariadb, mutiny, narayana-jta, rest-client, resteasy, resteasy-jsonb, resteasy-mutiny, scheduler, security, security-jpa, smallrye-context-propagation, smallrye-health, smallrye-jwt, smallrye-openapi, swagger-ui, vertx, vertx-web]'

[2020-10-23 09:01] cescoffier commented on #11535
Yes, it will.
However, I don't understand why it would complain here as you are not accessing the database with the I/O thread.

[2020-10-23 09:03] ia3andy opened #12897 "Remove legacy codegen code"
**Description**
We could remove it for `1.11` or `1.12` if we get no objection until then..

cc @maxandersen @gsmet

[2020-10-23 09:04] xtaixe opened #12898 "`@RedisClientName` can't be applied to parameters"
`@RedisClientName` can't be applied to parameters and thus named redis clients can't be injected to constructors or producer methods.

[2020-10-23 09:05] manovotn commented on #12896
[This commit](https://github.com/quarkusio/quarkus/commit/ed966e31fb1ee64f2d768fb876ba93f223ba07e9) expanded logging to include dynamic resolution (`Instance`) and was part of 1.9. I think this change is "intended" - as in, someone is trying to (presumably dynamically) resolve `UserTransaction` at runtime but that bean was removed because there was no injection point detected for it at build time.

[2020-10-23 09:12] cescoffier commented on #11535
wow... sorry, missed it!

Use:
[code]

[2020-10-23 09:12] mkouba commented on #12896
Yes, it is expected and the naryana extension should fix the problem; i.e. either make the bean unremovable or don't attempt to use `CDI.current().select(UserTransaction.class)`.

[2020-10-23 09:25] encodeering commented on #12819
Awesome, looking forward to it!

[2020-10-23 09:25] cescoffier commented on #11535
That is a dumb example but works:

[code]

[2020-10-23 09:30] sebstr1 commented on #11535
@cescoffier Many thanks for your help! I will make a new attempt with your helpful information

[2020-10-23 09:37] aomsweet commented on #7968
log4j2 is excellent, please support it.

[2020-10-23 09:52] ahofmeister commented on #12873
@gsmet Wont make it today I guess. But yes, it's on the way :)

[2020-10-23 10:09] #12864 closed

[2020-10-23 10:18] xtaixe opened #12900 "Micrometer: support StatsD registry"
Support [StatsD registry](https://micrometer.io/docs/registry/statsD) in Micrometer extension.

[2020-10-23 10:22] acastele commented on #12831
Thanks, your solution is working here : https://github.com/radcortez/smallrye-config/commit/6fe66de879942ac4f4c2a031cbcd4a7f69055b4d This is a weird behaviour since we cannot access the values the same way when using a environment variable or an inline value.

[2020-10-23 10:48] radcortez commented on #12831
I wouldn't say it is a weird behaviour. Is just that the YAML Parser does not have enough context to know that the variable is an array.

Expression replacement happens only when you retrieve the configuration value, not when the YAML file is read. If replacement would happen before the file being parsed, then it would work as you expect. Unfortunately, we cannot change that behaviour. MP Config a

[2020-10-23 10:52] radcortez commented on #12844
Hi @ismailsalloo,

The YAML ConfigSource already behaves that way. Check here: https://github.com/smallrye/smallrye-config/blob/6665fbd406d0d2f46c852df9a506b1ec3c2198c2/sources/yaml/src/test/java/io/smallrye/config/source/yaml/YamlConfigSourceTest.java.

Let me know if that works for you.

[2020-10-23 12:03] sberyozkin commented on #2611
@loicmathieu Hi Loic, do you know how does the OWASP matching algorithm work ?
For example, if we have the association in NVD between `cpe:2.3:a:quarkusio:quarkus:1.9.0:Final` and a given CVE, is having `.quarkus.` in this CPE entry enough for the OWASP plugin to detect that that CVE is resolved when scanning a package like `io.quarkus:quarkus-netty` in any version of Quarkus after `1.9.0.Final` ?

[2020-10-23 12:39] machi1990 commented on #12898
Upon a quick check I realized that it might be the case for the Mongo client too https://github.com/quarkusio/quarkus/blob/5b874da798b14eb3aa53228e4962b3d9a5f37b3d/extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/MongoClientName.java#L30

/cc @geoand @loicmathieu @cescoffier

[2020-10-23 12:41] ismailsalloo commented on #12844
Hi @radcortez, that works well if you only have Strings in your list. The moment you start nesting the list, that's when Quarkus requires a Converter which is unable to cater for this scenario. It's not YAML configuration specifically, but we picked this up using YAML configuration and when we converted it to normal application.properties, we were unable to map the configs to Java using `@ConfigPr

[2020-10-23 12:46] loicmarchal commented on #1658
Hello everyone, For those who need to use Oracle and would like a native image, I got my Quarkus application working out of the box as a native image with Oracle using the Helidon Oracle JDBC drivers. It's a "JDBC driver for Oracle database with native-image support". Didn't need any extra native-image build args nor any reflect-config.json. It's open source and distributed under Apache 2.0 licens

[2020-10-23 12:56] gastaldi commented on #1658
IMHO we may still run into licensing issues since the Oracle's JDBC driver is resolved transitively. @Sanne?

[2020-10-23 13:18] loicmathieu commented on #2611
@sberyozkin I have no idea how it is declared inside the NVD database.

[2020-10-23 13:22] loicmathieu commented on #12898
@machi1990 would you provide a fix, or @geoand ?
If not, can you open an issue for MongoDB ?

[2020-10-23 13:23] gastaldi commented on #12881
@nakamura-to I created the https://github.com/quarkiverse/quarkiverse-doma extension and sent you an invite to become the lead maintainer of the repository.

Please set your extension coordinates' to the groupId: `io.quarkiverse.doma`and use the `io.quarkiverse.doma` as the package root.

Instructions to perform a release are here: https://github.com/quarkiverse/quarkiverse/wiki/Release

Let me kn

[2020-10-23 13:23] #12881 closed

[2020-10-23 13:28] machi1990 commented on #12898
Working on a fix.

[2020-10-23 13:38] iocanel commented on #12894
For some of build strategies we are using `target` as the root of the build context. For s2i this pretty means that the artifacts will end up under `/deployments/target`. This is ok as long as we ensure that the environment variables are aligned. Apparently this is not the case for knative.

I think that we need to do two things here:

- Ensure that the environment variables are updated everywhere

[2020-10-23 14:01] loicmarchal commented on #1658
Yes, possibly. I don't have deep knowledge about licenses, that's why I mentioned it :). I just suggested it in case it might help.
If a Quarkus extension is not possible with those drivers, I guess people can still use them with the following in their application.properties

[code]

It might help those who would want to use Quarkus but need a native image and are stuck with an Oracle DB. Unless o

[2020-10-23 14:04] Sanne commented on #1658
I don't think it would be a problem to depend on an helidon component (or anything else that is in Maven Central for that matter), but considering the next Oracle JDBC driver is going to be released soon - and is expected to feature GraalVM native-image support - I think I'd rather wait another couple of weeks.

[2020-10-23 14:10] DorianMaliszewski opened #12904 "Hibernate Filter when testing are not enabled in RequestScoped service"
**Describe the bug**
Filter are not always applied is test :
- I have a RequestScoped service that has @PostConstruct method which apply a filter
- With System.out.print I see that this method is triggered
- I use a claim in the token to set this filter (with @Claim)
- In testing my database in H2 in memory and when launching on dev mode it's a postgres database
- When my service call (PanacheEnti

[2020-10-23 14:13] Meemaw opened #12905 "[CDI]: Unsatisfied dependency for a bean defined in a Gradle multi module project"
**Describe the bug**
After trying to update to v1.9.0 (from 1.6.3) there seems to be some regression with CDI and bean discovery for a Gradle multi module project. This is the [PR](https://github.com/insights-io/Insight/pull/777/files) where the only change was quarkus version bump.

**Expected behavior**
CDI bean discovery should work god a Gradle multi module projects.

**To Reproduce**

This is

[2020-10-23 14:41] loicmarchal commented on #1658
Sure, fair enough :). I guess the solution with Helidon drivers and `quarkus.datasource.db-kind=other` is still good to know for those (like me) who couldn't afford to wait another couple of weeks before the Quarkus solution was abandoned for production due to lack of native-image with Oracle DB. I'll use it and stay tuned for the official release and the Quarkus extension ;)

[2020-10-23 15:07] sberyozkin commented on #12754
@xiaomogu1 It will be closed once the PR has been merged

[2020-10-23 15:20] iocanel commented on #12545
This can be closed now that https://github.com/quarkusio/quarkus/pull/12655 is merged

[2020-10-23 15:20] #12545 closed

[2020-10-23 15:21] iocanel commented on #10564
This can be closed now that https://github.com/quarkusio/quarkus/pull/12655 is merged.

[2020-10-23 15:21] #10564 closed

[2020-10-23 15:26] #12398 closed

[2020-10-23 15:45] glefloch commented on #12620
@gsmet, While running a full build using `-Dmaven.repo.local`, I'm having error in grpc deployment test about :

    Could not find artifact io.quarkus:quarkus-grpc-protoc-plugin:jar:shaded:999-SNAPSHOT

Did you have to disable those tests too ?

[2020-10-23 16:21] iocanel commented on #12824
Not a regression after all. I think that this has been around forever.

[2020-10-23 16:22] iocanel commented on #12824
And I think its a decorate bug.

[2020-10-23 19:30] grossws commented on #11646
Got same issue, it's not specific for Quarkus.

Generally you have three workarounds:
- add `mavenCentral()` to repos in gradle/maven;
- disable content type validation on proxied Maven Central in Nexus (so it will store osx executables) as in https://github.com/google/protobuf-gradle-plugin/issues/50#issuecomment-228569144;
- exclude osx executables from dependencies manually.

[2020-10-23 20:04] manovotn commented on #12905
What's the CDI-related stack trace you are seeing?
From the log I can see some NPE at one point and later on `java.lang.ClassNotFoundException: org.jboss.logmanager.LogManager`. None of those looks much like CDI bean discovery issues.

[2020-10-23 20:46] huw0 opened #12909 "Constraints only appear in OpenAPI when annotations are against the field"
**Describe the bug**
When constraints (such as @Max) are specified on a class field, these correctly display in OpenAPI (and via Swagger UI).
However when the fields are on the get method, they are not displayed in OpenAPI, although validation still occurs.

**Expected behavior**
Annotations should perform at the field and getter level in the same way. This is necessary because otherwise it is not

[2020-10-23 20:52] MikeEdgar commented on #12909
@huw0 - how does it look if you add `@Schema` to the `getId` method?

[2020-10-23 20:57] huw0 commented on #12909
Hi Mike - I have some instances of @Schema in the project and these work correctly on getters.
I have tested with combinations of javax.validation annotation, javax.validation annotation + @Schema and just Schema to ensure that one is not overriding the other etc.

[2020-10-23 21:03] MikeEdgar commented on #12909
The `@Schema` annotation is the one that drives the selection of which of the class's members are used for the OpenAPI properties. At this time, the annotations on fields and methods are not combined. Since there were no OpenAPI annotations on either of the `id` members (the field and the `getId` method), the scanner defaults back to the field, which does not have the validation annotations.

To g

[2020-10-23 21:16] huw0 commented on #12909
The example from the first post was a slimmed down example. Based on your suggestion if I have the following:

[code]

Everything works as expected, although this does add additional boilerplate to every method.

However in reality these annotations are on an interface. e.g.

[code]
[code]
And in this case, the problem still occurs. I'd like to avoid the module with the interfaces from having any

[2020-10-23 23:17] eriknyk commented on #1904
same here.

[2020-10-24 00:53] dcdh opened #12913 "java.lang.NoSuchMethodError when using json-schema-validator and quarkus-resteasy-jackson"
**Describe the bug**
Assertion on json schema is not working in Quarkus `1.9.0.Final` (it works with version `1.8.3.Final`).

**Expected behavior**
Test should be running.

**Actual behavior**
This exception is thrown

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. git clone https://github.com/dcdh/quarkus-sample-json-schema-assertions.git
2. do `mvn clean test` or run tests from In

[2020-10-24 03:15] SumaiyaSafdar commented on #12522
hi,  I would like to work on this issue, can you please suggest me ways to get started?

[2020-10-24 06:11] maxandersen commented on #1658
@loicmarchal this is very nice as a workaround.

Please be aware afaics this dependency has a compile dependency on https://mvnrepository.com/artifact/com.oracle.ojdbc/ojdbc10/19.3.0.0. Thus I'm surprised Helidon is able to ship this under ASL2 if they are literally reshading the oracle driver jar.

IANAL, but just be aware that you are most likey shipping bits that are under Oracle Free Use Terms

[2020-10-24 06:41] phillip-kruger commented on #12803
Fixed in https://github.com/smallrye/smallrye-open-api/issues/518

[2020-10-24 06:41] #12803 closed

[2020-10-24 09:48] jeffmaury opened #12914 "mp.messaging.connector.smallrye-kafka.cloud-events listed twice in application.properties"
**Describe the bug**
(Describe the problem clearly and concisely.)
We noticed some tests failures in Quarkus Tools for IntelliJ after we updated our test applications to 1.9.0.Final. The problem is that the property `mp.messaging.connector.smallrye-kafka.cloud-events` is listed twice

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Application should be listed once on

[2020-10-24 09:49] jeffmaury commented on #12914
Closing at it is a smallrye issue

[2020-10-24 09:49] #12914 closed

[2020-10-24 10:09] dcdh commented on #12913
I will change my projects to use JSON-B implementation instead of Jackson.

[2020-10-24 10:17] gsmet opened #12915 "Kubernetes Invoker tests deploy to OpenShift cluster if logged in"
The Kubernetes Invoker tests deploy to an OpenShift cluster if you're logged in to one and fail:
[code]
We need to fix that and log out from the cluster before running these tests.

/cc @geoand @iocanel

[2020-10-24 10:23] jeffmaury commented on #12914
See https://github.com/smallrye/smallrye-reactive-messaging/issues/831

[2020-10-24 10:29] geoand commented on #12915
Makes sense

[2020-10-24 10:31] dufoli commented on #12799
OK, I have gone further...
issue is located in
    com.sun.xml.bind.v2.schemagen.XmlSchemaGenerator.write
        com.sun.xml.bind.v2.schemagen.XmlSchemaGenerator.Namespace.writeTo
            com.sun.xml.bind.v2.schemagen.xmlschema.Schema._namespace
indeed  com.sun.xml.bind.v2.schemagen.xmlschema.Schema implement TypedXmlWriter which is a proxy interface

com.sun.xml.txw2.ContainerElement handle

[2020-10-24 10:42] gsmet commented on #12915
BTW, maybe we just need to override some environment variables in the build.

[2020-10-24 10:43] geoand commented on #12915
Could be. I don't really remember what these tests do, so I'd have to check it out

[2020-10-24 11:17] gsmet commented on #12915
They are trying to deploy to a cluster and they are supposed to fail because you're not connected.

[2020-10-24 11:22] geoand commented on #12915
Right. I just don't remember what their original purpose is.

[2020-10-24 11:42] #12898 closed

[2020-10-24 11:44] #12535 closed

[2020-10-24 12:31] ghokun commented on #12829
Hi, I am working on this issue. Covered most of the parts:

- Check parent poms packaging, continue if it is "pom" or fail if not.
- Add modules section to parent pom or do nothing if it already exist.
- Add parent section to newly created projects pom.
- IT for submodule creation

I only checked existence of pom.xml file so it already assumes you are in a maven project. Should I be worried about

[2020-10-24 12:45] agoncal commented on #12829
I don't know if the Quarkus team wants both Maven and Gradle to have the same set of functionalities. @quarkusbot added the "area/maven" label, so I suppose it's Maven only ;o)

[2020-10-24 13:31] andrzejszywala commented on #7462
I have similar problem.
I've created entity with two collections which have orphanremoval property.
[code]
I've added one record to the database:
```insert into parent(id, name) values (1, 'name');```
In resource I just merge my entity with new name
[code]
In result I've get error:

[code]
Here is the reproducer [code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/5432944/code-with-q

[2020-10-24 14:57] cssrumi opened #12918 "ReactivePG and Jandex problem during mvn install"
Hi,

I found that after migration from 1.8.x to 1.9.0.Final it's impossible to build (mvn install/package) library, that use quarkus-reactive-pg-client and bean indexing with jandex (jandex-maven-plugin). I tried it with jandex version 1.0.7 and 1.0.8.

Same thing happen during integration tests with @QuarkusTest.

Error message:
`[ERROR] 	[error]: Build step io.quarkus.arc.deployment.ArcProcessor

[2020-10-24 14:59] cemnura commented on #10412
Hi @sberyozkin,

I will have a look to gain a further understanding.

Okey, I will try to implement a `BearerOpaqueTokenAuthorizationTest` test in a dedicated module `integration-tests/oidc-mock` and setup a WireMock that includes the introspection_path.

I will give it a shot and get back to you asap

[2020-10-24 16:35] cssrumi commented on #12918
I verified that same problem occur during quarkus:dev

[2020-10-24 17:01] eriknyk commented on #8940
@martinformanko  this plugin is very helpful https://plugins.jetbrains.com/plugin/14242-quarkus-integration

[2020-10-24 17:32] loicmarchal commented on #1658
Thanks @maxandersen, that's a good point! I was also unsure about the ASL2 since it's shipped with Oracle drivers, but again I really don't know much about all the legal aspects of licenses. Better to have it in mind though.

Also, I checked the jar that comes with the https://mvnrepository.com/artifact/io.helidon.integrations.db/ojdbc/2.1.0 dependency and there is only a transitive dependency to

[2020-10-24 18:00] maxandersen commented on #1658
yes. You'll notice we've done similar for those with non-propritary licenses :)

As Sanne said we've worked with oracle to make the next release of oracle jdbc drivers native friendly.

[2020-10-24 19:12] michalszynkiewicz commented on #11646
@Milraun can you confirm that what @grossws described helps you?

Thanks @grossws !

[2020-10-24 20:17] nderwin opened #12919 "JWT RBAC guide lists incorrect authentication scheme"
**Description**
While researching issue #8202 and following the instructions in the guide, I noticed that the documented responses list `authScheme` as being `MP-JWT`.  The results I had were showing `Bearer` for that value.  This was tested with 1.9.0.Final.

**Implementation ideas**
Change the documentation to say `Bearer` instead of `MP-JWT`.

[2020-10-24 20:20] ghokun commented on #12918
Problem goes away if you add an application.properties file containing:
[code]

[2020-10-24 20:35] loicmarchal commented on #1658
You guys did an amazing job :) I was initially compiling to native images manually, but had to write the bash scripts, the Dockerfiles and sometimes had to run the native-image-agent to fix the config for the reflection. It's nice having it out of the box using Quarkus (and even the performances on the JVM are great, although I still wanted a native-image).

I first used Postgres for my own projec

[2020-10-24 20:53] Milraun commented on #11646
Sry, Im currently not on that project, but I worked around that problem by creating a dummy file for the missing one.

[2020-10-25 01:36] jw941 opened #12923 "Entity is loaded twice and error happens for the 2nd loading"
Hi,

We have migrated our project from Wildfly to Quarkus. When sometimes a fields is marked as eager loading or in a query with "join fetch", entities may be loaded twice and the exception happens for the 2nd loading. We'll have to make them all lazy loading or remove "fetch" in the query to workaround them. However, it never happened before the migration. And I have tried hard but still couldn't

[2020-10-25 05:46] geoandri commented on #11695
Hi @sberyozkin ,
I am a bit lost with this.
Should I replicate something similar to the way the `SecurityIdentity` is built and added to the CDI ?
https://github.com/quarkusio/quarkus/blob/5fa53762d6de9d05ad0db8fac33df361e66cabf6/test-framework/security/src/main/java/io/quarkus/test/security/QuarkusSecurityTestExtension.java#L60

I am a bit confused about the role of those `*Association` classes u

[2020-10-25 06:19] maxandersen commented on #1658
they are not - I misread their setup. Its a wrapper jar; still triggers oracle license in use though.
Thus just something to be aware off.

[2020-10-25 06:30] agoncal opened #12924 "Maven plugin should be able to create a project with properties"
**Description**
When we create a new Quarkus application with the Maven plugin, we pass a certain number of parameters (`className`, `path`, etc.):

[code]

It would be nice to be able to pass properties so they end-up in the `application.properties`.

**Implementation ideas**

We could have a `properties` parameter that would take a list of key/value pairs. Something like:

[code]

The properties

[2020-10-25 08:05] maxandersen commented on #12829
maven and gradle should aim for same set of functionallities - the bot added area/maven because you only mentioned maven in your title ;)

[2020-10-25 08:16] agoncal commented on #12829
@maxandersen I thought the bot was a clever bot ;o)

[2020-10-25 08:55] ghokun commented on #12829
I will try to make required adjustments to my PR #12916

[2020-10-25 09:07] gavinking commented on #12886
Can you just use the `org.hibernate.SQL` log category instead?

At least as a workaround for now?

[2020-10-25 09:41] dufoli commented on #12799
ok got the point. Indeed, I end exactly to the same place. So XMLNamespace target (package) must be loaded.
        for (AnnotationInstance xmlNamespaceInstance : index.getAnnotations(DotName.createSimple("com.sun.xml.txw2.annotation.XmlNamespace"))) {
            reflectiveClass.produce(new ReflectiveClassBuildItem(false, false, xmlNamespaceInstance.target().asClass().name().toString()));

[2020-10-25 11:04] felipewind commented on #12886
@gavinking thanks.

Sorry about my lack of knowledge, but how could I use the `org.hibernate.SQL` log category in an Quarkus application?

I've tried to pass it as an argument, but didn't work:
[code]

I built my application (`mvn clean package`)  using the `quarkus.hibernate-orm.log.sql=false` and then tried to pass this property you told.

[2020-10-25 11:08] gavinking commented on #12886
Well I've not tried but Google sent me here https://quarkus.io/guides/logging

[2020-10-25 11:12] cssrumi commented on #12918
Thx a lot :)
It helped.

[2020-10-25 11:27] tlvlp opened #12925 "Quarkus Panache Repository call silently fails when called from an EventBus @ConsumeEvent"
**Describe the bug**
Reproduced in: Quarkus **1.8.3.Final** and in **1.9.0.Final**

Making a direct call to a method that accesses a PanacheRepository works as expected, but when calling the same method via the EventBus, the call reaches the method and executes every line until it reaches any repository call and then just silently fails/exits without any indication of what happened.

According to

[2020-10-25 12:11] aloubyansky commented on #12829
@ghokun feel free to open a separate PR for Gradle in case that's what you meant. Whatever you prefer. And thanks!

[2020-10-25 13:54] kristijan-rusu commented on #12844
Hi, @ismailsalloo This feature is supported by the latest SmallRye Config, supporting Map<?,?> config properties (i.e. grouping). [SmallRye Config Documentation](https://smallrye.io/docs/smallrye-config/mapping/mapping.html#_collections_config_mapping).
The following mapping works when using SmallRye Config independently of Quarkus. It also supports interface based grouping of properties.
I've tri