[2019-12-02 17:39] nimo23 commented on #5906
`Task` has not a no-arg constructor defined and is included as a library in my application - I cannot add a no arg constructor.

[code]

[2019-12-02 18:14] geoand commented on #5906
Can you try using the resteasy-jackson dependency instead of resteasy-jsonb?

[2019-12-02 19:03] nimo23 commented on #5906
I cannot use`resteasy-jackson` as **my application** uses `resteasy-jsonb`, that means: **my application has jsonb-annotated classes**. The `Task`-class is from a **third party dependency** which internally uses jackson. But my application does **NOT** use jackson. The same configuration worked in wildfly - wildlfly also uses jsonb as json-provider while the 3rd party dependency internally uses ja

[2019-12-02 19:40] geoand commented on #5602
I also want to add  OOTabsupport for [JsonView](https://www.baeldung.com/jackson-json-view-annotation).
I should add that Spring already has this

[2019-12-02 20:02] nimo23 commented on #5906
I cannot use`resteasy-jackson` as **my application** uses `resteasy-jsonb`, that means: **my application has jsonb-annotated classes**.

I do **NOT** use Jackson annotations in my application: The `Task`-class is from a **third party dependency** which internally uses jackson. But my application does **NOT** use jackson. The same configuration works well in wildfly - wildlfly also uses jsonb as js

[2019-12-02 20:19] paulolieuthier commented on #2307
Workaround:
[code]

[2019-12-02 20:54] geoand commented on #5906
Your 3rd party library is most probably using Jackson.
Can you post the imports of the Task class?

The situation is quite simple (unless I have totally misunderstood it):
Your 3rd party library is using Jackson annotations, while your Quarkus application uses resteasy-jsonb instead of resteasy-jackson. That combination won't fly 😉

[2019-12-02 20:58] irenakezic commented on #5908
Ok, thanks for such a great description. I will take a look and get back to you.

[2019-12-02 21:04] nimo23 commented on #5906
As I said, yes.

yes, exactly. So I must change my json provider only because of a 3rd party lib? That`s  ugly limitation: imagine 2 other libs using two different json providers and I can only use one of the lib because quarkus cannot handle those cases.

Quarkus should not bother about the json provider of any 3rd party library.

Would it help if quarkus generates missing no args constructors fo

[2019-12-02 21:20] stuartwdouglas commented on #5832
http.port will never work, as hot replacement is based on HTTP requests. I could make it work if we really want it but I don't really think it is worth it?

[2019-12-02 21:21] geoand commented on #5906
Now of course we could do various things to get this specific use case working, but anything we do that involves mixing two JSON providers will be hack.
You just can't honestly expect two different json libraries to play nicely together in all cases.
I would really much like to see your Wildfly application, but I am assuming that if it does work, its only by coincidence (since it also uses a lot o

[2019-12-02 21:29] nimo23 commented on #5906
I do not bother which json provider a 3rd party library uses, such scenarios works in java since ages. I do only use one json-provider in my application. What other libs are using is not my money. The app runs in wildfly long ago without such troubles. You can try it yourself: create a simple project with the scenario above - you will see no errors. You see no errors, because in general: annotatio

[2019-12-02 21:32] nimo23 commented on #5906
I do not bother and have no influence which json provider a 3rd party library uses, such scenarios works in java as usual. I do only use one json-provider in my application. What other libs are using is not my money. The app runs in wildfly long ago without such troubles. You can try it yourself: create a simple project with the scenario above - you will see no errors. You see no errors, because i

[2019-12-02 21:37] geoand commented on #5906
We can (and do for other safe cases) generate a default constructor.
However this wouldn't help much in this case since the fields are all final and there are no setters.
I'm short if you expecting input that is going to be deserialized to class with Jackson annotations, you need to use a Jackson JAX-RS provider.

Another hacky solution would be for Quarkus to add the corresponding JSON-B annotati

[2019-12-02 21:40] jglick commented on #4606
Perhaps the title of this issue should be amended to clarify that 0.25.0 will break apps that were working in 0.24.0? I had to bisect versions and search for a while to get here. Workaround: add somewhere

[code]

[2019-12-02 21:49] asoldano commented on #5860
@geoand sorry for the late answer; no, RESTEasy does not have OOTB param converter for these types afair.

[2019-12-02 21:50] geoand commented on #5860
Thanks @asoldano!

I guess the it might be interesting to add them at some point 😉

[2019-12-02 22:25] Sanne commented on #5880
I'd be cautious in not applying such a fix. Why should we support a change of libraries after build?

I'd think a better solution is to ensure you're building on the correct target platform - your workaround mentions copying the library to the target, isn't that the right approach?

[2019-12-02 22:35] Sanne commented on #5865
I suspect the option `AUTO_SERVER=TRUE` could be problematic.

Quarkus would initialize a connection pool, and it's quite fast to boot this up; this implies there's possible multiple connections attempting to create a server - backed by filesystem locks - all at approximately the same time.

This is just a theory though, I'd need to find some time to be able to reproduce this.

You might want to t

[2019-12-02 22:36] Sanne commented on #5865
BTW, Quarkus doesn't patch the H2 database so if it's being corrupted, it's either a bug in H2 or a consequence of "driving" it into an unsupported way. So while I'd like to investigate, it might also make sense to report this to the H2 issue tracker.

[2019-12-02 22:37] #5880 closed

[2019-12-02 22:42] Sanne commented on #5819
If someone sends a PR to improve this I'll be happy to merge it.

A suggestion: It shouldn't confuse you as it's not yelling at you, nor stating anything which implies this is "wrong" in any way.  It's just stating a fact, and as such it's stated as INFO.

[2019-12-03 01:40] jaikiran commented on #4606
Hello @mkouba, would you happen to know if the recent enhancements done in master branch, around the scheduler, would fix this issue where if there are no annotated "schedules" then we don't start the scheduler and thus using such an injected scheduler for programatic scheduling, by the applicaiton, will fail?

@jglick Any chance you can test this against latest upstream master, if it's easy for y

[2019-12-03 01:46] jaikiran commented on #5832
@stuartwdouglas, The only reason I can think of why the user might have changed the value is probably because that port is already being used by some other process. In that case the dev mode startup itself would (should) fail and that would mean changing the port in the application.properties will actually be hot deployed. So I personally don't see any genuine use case where we might want to suppo

[2019-12-03 07:31] nimo23 commented on #5865
I used the same h2 database connection with `AUTO_SERVER=TRUE` in wildfly since a few years without any problems.

Anyway, I reported it also to h2 https://github.com/h2database/h2database/issues/2310

[2019-12-03 07:47] AlexanderHofmeister commented on #5878
Thanks for reporting the issue! I totally forgot about it. Multi-Catch was indeed my solution!

[2019-12-03 08:14] angelozerr commented on #5229
I read documentation and it seems it's very good. It exists sourceType, sourceMethod but what about sourceField? Perhaps the source field name in Spring Boot is get from the last suffix of the property name?

[2019-12-03 08:43] jaikiran commented on #5848
@misl, Thank you for those logs. They helped. Based on what I see in them, I'm certain that the Java version being used _within_ that container (and I don't mean during `mvn package`) is for some reason different from the one I see being used in mine. That's a really odd thing and I can't think of a reason why.
Maybe you can add the following to the Dockerfile.jvm and rebuild the container and see

[2019-12-03 08:58] misl commented on #5848
For me it's:
[code]

[2019-12-03 09:09] misl commented on #5848
Hmm, doing a `docker pull fabric8/java-alpine-openjdk8-jre:latest` manually indeed pulls in a new version. Now I get the same results as you:
[code]

Also, the SSL issues are gone now. Next is getting native to work as well.

[2019-12-03 09:36] misl commented on #5848
With @cescoffier his tip native works too.

For me personally this issue is done. The only thing is how to prevent others run into this? Does it make sense to explicitly mention FROM image version (latest) in Dockerfile?

[2019-12-03 09:40] cescoffier commented on #5848
I need to check, we must NOT use `latest` (anywhere...)

[2019-12-03 09:41] cescoffier commented on #5848
and it does... `FROM fabric8/java-alpine-openjdk8-jre`

[2019-12-03 09:48] cescoffier commented on #5848
opened: https://github.com/quarkusio/quarkus/pull/5914

[2019-12-03 10:04] loicmathieu commented on #5885
@FroMage this bug uses a similar construct to what has been fixed via #5274 but it generates a different Hibernate error. The construct seems legit to me, maybe you will have an idea about it ...

[2019-12-03 10:08] FroMage commented on #5885
Perhaps it's due to a generics issue not being properly instantiated. I guess we should look at the generated bytecode for `findById`

[2019-12-03 10:09] FroMage commented on #5885
Yeah, it looks like we're generating `Session.find(AbstractBaseEntity.class, id)` instead of `Session.find(ExampleEntity.class, id)`. So it seems like a generics problem.

[2019-12-03 10:52] emmanuelbernard commented on #5878
@stuartwdouglas could it be related to incorrect bytecode generation?

[2019-12-03 10:56] FroMage commented on #4404
OK, it looks like header propagation is not on by default, because users need to have an explicit `ClientHeadersFactory` implementation to enable it, and they can pick which ones they propagate, so I think it's acceptable.

I've a fix for this in RESTEasy.

[2019-12-03 10:59] FroMage commented on #4404
BTW, I've decided to not propagate all contexts automatically because this doesn't require all contexts, and we can tackle this later.

[2019-12-03 11:01] mehdi-reza commented on #5859
Hi

I am facing the same problem, no idea how to set -Djava.io.tmpdir=/tmp and
-Dvertx.cacheDirBase=/tmp/vertx -Djava.io.tmpdir=/tmp system property in aws lambda deployment.

Tried by setting --environment flag in aws lambda create-function by defining JAVA_OPTS property, but did not make any difference.

The cloudwatch events are showing
--
java.lang.IllegalStateException: Failed to create cache

[2019-12-03 11:02] FroMage commented on #5338
So, it turns out that this was not really the cause of #4404, and it causes some questions as to which context should be propagated, because we have both a RE client and server context.

I've added code to fix https://issues.jboss.org/browse/RESTEASY-2401 so that the server context never leaks to the clients.

I'd rather we wait a bit more for user feedback to know if we should propagate the clien

[2019-12-03 11:12] mehdi-reza commented on #5859
Hi

Have you tried printing java.io.tmpdir system property in rest endpoint and invoke it with sam local ... the set value should be printed!! The problem is it is not clear how to set java.io.tmpdir system property at build/run time in native image.

[2019-12-03 11:38] FroMage commented on #4404
Fix in https://github.com/resteasy/Resteasy/pull/2238.

[2019-12-03 11:44] sberyozkin commented on #5899
Hi Stian @stianst, Pedro @pedroigor, right now we have either a `service` or `web-app` application types which are exclusive. I believe @yuhaibohotmail  is asking to have both of these application types supported at the same time, i.e, the adapter checks for some headers and tries to figure out whether to redirect or just respond with 401. Is it correct ?
If yes then I propose to have a `hybrid` a

[2019-12-03 12:36] FreifeldRoyi commented on #4712
Version 1. But you already said that it will be released in 1.1 but that was the less important part.
I'm more concerned about the reactive stream part. I would really like to know somehow that the Stream is still live and nothing made it crash.

[2019-12-03 12:39] FreifeldRoyi commented on #5889
Won't it break compatibility to MP or JAX-RS?

[2019-12-03 12:56] loicmathieu commented on #4712
This will be delivered via #5125 that is under review. I hope it will be part of 1.1 but cannot guarantee it.

[2019-12-03 13:11] jaikiran commented on #5878
Hello @pilhuhn,
Is this class:
[code]
available for reference somewhere in github or some other place?

[2019-12-03 13:16] jaikiran commented on #5878
Never mind, I found that class in your PR in the other repo here https://github.com/RedHatInsights/custom-policies-ui-backend/pull/6/files

[2019-12-03 13:25] emmanuelbernard commented on #351
yes that's what I had in mind

[2019-12-03 13:27] stianst commented on #5899
I'm not 100% sure about this one for several reasons:

* Quarkus is a micro-service framework and in general it doesn't make that much sense to have a web-app and a REST service in the same does it?
* Ideally you should have different client for the web-app and the service, not re-use the same client for both use-cases
* The auto-detect based on headers was always a bit hacky - would be better to

[2019-12-03 13:52] maxandersen opened #5917 "Document and Extend dev mode to be more accessible/integrated with existing tools"
### Description
devmode currently rely on a mixture of source and built file change detection. For now it is mainly looking at source changes which means it relies on having build tools available on the same host/container.

We should document and if needed extend/adopt devmode to fit into existing technologies especially if we can avoid requiring build tools on the same host/container as where th

[2019-12-03 13:52] jaikiran commented on #5821
This got fixed as part of the recently merged https://github.com/quarkusio/quarkus/pull/5793. Closing.

[2019-12-03 13:52] #5821 closed

[2019-12-03 14:03] maxandersen opened #5918 "Clickable stacktraces"
### Description
in devmode we have reversible stacktraces which are really nice but would it not be nice to have them be clickable and open up your local editor.

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks
- [ ] add copy to clipboard for stacktrace block (to use in IDE's that can understand stacktraces)
- [ ] implement client s

[2019-12-03 14:15] maxandersen opened #5920 "Kubernetes / OpenShift zero-config/install operation"
### Description
With fmp/jkube maven/gradle plugins and dekorate we have the opportunity to provide a initial experience with openshift/kubernetes that literally only require account credentials for a cluster.

we should make that happen while having a gradual way of allowing users to configure/expand to use full features of other tools.

### Analysis
(links to analysis docs containing architectur

[2019-12-03 14:34] geoand commented on #5878
I am planning on hoping to take a look at this today if I can get all other things done :P

[2019-12-03 15:20] #5910 closed

[2019-12-03 15:29] #3985 closed

[2019-12-03 15:45] dmlloyd commented on #3904
The PR smallrye/smallrye-config#197 has been merged.  There are a couple of things blocking the SmallRye Config 1.5 release that I'll try to work out.

[2019-12-03 16:28] sberyozkin commented on #5899
@stianst thanks, it would be cleaner indeed to have a path segment specific configuration.
@yuhaibohotmail how do you have it set up in your case ?

[2019-12-03 17:55] geoand commented on #5878
I have added my analysis [here](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Caused.20by.3A.20java.2Elang.2EVerifyError.3A.20.20Bad.20type.20on.20operand.20stack/near/182474717). It looks like a Panache (or even an ASM) issue to me.

[2019-12-03 18:03] geoand commented on #5479
To be clear, I am not in favor of the Spring Security way of doing things, it leaves too much uncertainty. I would much prefer solution closer to what @FroMage proposes

[2019-12-03 19:12] otcyury opened #5921 "Database connections are leaked in AWS Lambda"
**Describe the bug**
While testing JPA with Lambda I've encountered situation when Lambda runs JPA query, which connects to database, but doesn't close connection.

**Expected behavior**
If running in Lambda it's reasonable (if possible) to close connection on lambda exit. If there is some way to use connection pool, it would be ideal.

**Actual behavior**
If I keep using Lambda, it looks like, it

[2019-12-03 20:11] FroMage commented on #5878
I bet it's due to `QuarkusClassWriter.getCommonSuperClass` trying to find the common supertype between the exception types and we return `Object`. I don't know how to fix it, though.

[2019-12-03 20:15] geoand commented on #5878
That sounds very reasonable!

I didn't know about that one to be honest. I can take a look at it tomorrow, maybe a fresh pair of eyes will help

[2019-12-03 20:44] #5904 closed

[2019-12-03 23:11] viniciusfcf opened #5924 "Update entities method with Mongo"
We need an update static method to update multiple documents.

Related with [stackoverflow](https://stackoverflow.com/questions/58987136/hibernate-panache-update-multiple-rows-query) and [PR 5753](https://github.com/quarkusio/quarkus/pull/5753)

[2019-12-03 23:42] #5868 closed

[2019-12-03 23:48] sberyozkin opened #5926 "OIDC integration-tests/oidc-code-flow is unstable"
**Description**
It has failed recently with a `Too much redirect ...` error but it appears to be failing randomly.
It is really an html unit level issue.

**Implementation ideas**
Perhaps a newer version can be used or some alternative html-friendly test framework can be plugged in

CC Pedro @pedroigor

[2019-12-04 00:03] yuhaibohotmail commented on #5899
@stianst @sberyozkin thanks.

1. My legacy system is deployed in wildfly  using keyclock adapter ，it use the following configuration:
[code]
"Keycloak auto-detects SOAP or REST clients based on typical headers like X-Requested-With, SOAPAction or Accept."
So the easiest way to migrate is for quarkus to support autodetect bear.

2.
 I agree it's not a good idea that auto-detect based on headers. If

[2019-12-04 00:19] gwenneg commented on #5608
I made the changes tonight but then I got local tests failures related to missing converters for the optional config groups: `IllegalArgumentException: No Converter registered for class class my.optional.config.Group`. It's a bit late here so I'll investigate this tomorrow :)

[2019-12-04 00:34] odilonjk commented on #3954
I have faced the same problem on Java (JDK 8). The problem just appears running natively.
The `@RegisterForReflection` workaround as @rdifrango mentioned did the trick.

If someone want to check the code, [this is the repository](https://github.com/odilonjk/delayed-rest-product).

[2019-12-04 02:17] #5878 closed

[2019-12-04 04:11] stuartwdouglas commented on #5926
Do you have an example of such a failure?

[2019-12-04 04:13] stuartwdouglas commented on #5921
Are you sure the process is being terminated, and it is not just a case of multiple lambda instances running at once?

Also is this in JVM or native mode?

[2019-12-04 04:18] stuartwdouglas commented on #5921
I think the linked PR should fix this.

[2019-12-04 04:24] jaikiran commented on #5848
Hello @cescoffier, should we close this one, now that the Dockerfile change has been merged?

[2019-12-04 05:31] otcyury commented on #5921
I am invoking Lambda from command line, so yes, only one instance is running at a time. This is native mode.

Thank you for looking into this. What release will this be available in?

[2019-12-04 05:36] stuartwdouglas commented on #5921
If this is native mode then that commit is not the answer, it only applies to JVM mode. Can you get the logs from the instances that are not closing their DB connections? Does it appear that they are doing a clean shutdown?

[2019-12-04 06:22] geoand commented on #3954
@odilonjk the problem you are seeing is different. In your case it is not a bug but because you are returning `Response`, it is necessary to use `@RegisterForReflection`, see: https://quarkus.io/guides/rest-json#using-response

[2019-12-04 07:02] cescoffier commented on #5848
@jaikiran yes!

[2019-12-04 07:02] #5848 closed

[2019-12-04 08:16] maxandersen opened #5931 "Kubernetes Operator support"
### Description
Operators main usecase are to support users in automating install/setup/maintanence tasks *outside* the application. This proposal is NOT about having a generic quarkus operator or some auto-wiring operator required to setup services, but about making it easy for users to setup and write an operator for their own app.

There are two parts, and both will be optional:
1. have a way t

[2019-12-04 08:18] maxandersen commented on #5931
https://github.com/quarkusio/quarkus/issues/3053 is related but I think that is taking an assumption of a generic quarkus enabled operator  - I would say the ideas in that issue would be nice to be able to easily enable in a operator implemented by the user.

[2019-12-04 08:18] stianst commented on #5899
I'd say the ideal here then is to have this as a requirement for the multi-tenancy solution. Ideally the multi-tenancy solution should allow having multiple configs, and allow selecting the right config in an easy way (based on path or headers).

[2019-12-04 08:21] maxandersen commented on #3053
I've opened a [proposal for epic](5931) on making it easy to use quarkus for configuring and writing a kubernetes native operator - slightly different scope than this; but should definitely consider the same capabilties of updating etc.

[2019-12-04 08:39] debae commented on #5794
Do we want to allow every type of handler to be linked to a category, and reuse ConsoleConfig, FileConfig and SysLogConfig like below :

[code]

How to tackle the level ? since it can be configured both on category level and on handler ...

[2019-12-04 08:44] mkouba opened #5933 "Create Qute quickstart"

[2019-12-04 09:04] fiorenzino commented on #5933
wow!

[2019-12-04 09:33] yuhaibohotmail opened #5935 "How to config hibernate.implicit_naming_strategy?"

[2019-12-04 09:44] lkrzyzanek opened #5936 "Env variable QUARKUS_LOG_CONSOLE_* do not override at runtime"
**Describe the bug**
quarkus console log should be configurable at runtime by env variables but seems to not working.

**Expected behavior**
`export QUARKUS_LOG_CONSOLE_ENABLE=false ; java -jar target/app-runner.jar`
should not log anything to console but it does.

However when trying
`java -Dquarkus.log.console.enable=false -jar target/rhaccount-eloqua-bridge-runner.jar` it doesn't log as expecte

[2019-12-04 10:20] paolodedo opened #5939 "ENV Variables doesn't work anymore with Quarkus 1.0.1.Final"
As of https://github.com/quarkusio/quarkus/issues/3516,

this bug has come back to annoy at **Quarkus version 1.0.1.Final**.

Here's my application.properties:
`quarkus.http.port=${SERVER_PORT:8080}`

Here is the log at startup:

    11:10:17,372 ERROR [io.qua.dev.DevModeMain] Failed to start Quarkus:
    java.lang.NumberFormatException: For input string: "${SERVER_PORT:8080}"
	at java.base/java.l

[2019-12-04 10:26] stuartwdouglas commented on #5921
Re-opening, as I am not sure if that PR is sufficient

[2019-12-04 10:39] gsmet commented on #5939
I has never been gone :). It should be fixed for the upcoming 1.1.0 as stated in the issue. Could you try current master and report back?

Thanks!

[2019-12-04 11:08] paolodedo commented on #5939
Ok thank you very much!

[2019-12-04 11:08] #5939 closed

[2019-12-04 11:09] sberyozkin commented on #5899
@stianst @yuhaibohotmail thanks
@yuhaibohotmail would you be OK then if I close this issue as a duplicate of #4448 (multi-tenancy support) ?

[2019-12-04 11:13] yuhaibohotmail commented on #5899
@sberyozkin  OK！ thanks！

[2019-12-04 11:35] gsmet commented on #5939
A CR is planned on next Monday. And the Final on December 16th.

But please, test master to be sure the issue is resolved!

[2019-12-04 11:45] metacosm commented on #5931
@maxandersen jvm-operators is already using Quarkus, though I guess improvements could be made. I have started looking into it, especially when it comes to developing operators because I am considering re-writing halkyon using quarkus. As part of the halkyon work, I developed a framework to make it easier to write operators. That framework, however, is written in Go but I don't think it'd be too d

[2019-12-04 12:11] FroMage commented on #3655
Now fixed upstream, leaving open until they release and we can upgrade.

[2019-12-04 12:11] FroMage commented on #4404
Fixed upstream, leaving open until they release and we can upgrade.

[2019-12-04 12:17] paolodedo commented on #5939
How can I?

I mean running a clean install on master fails... how to import this version to my project

[2019-12-04 12:18] gsmet commented on #5939
It shouldn't. What's the issue you have?

[2019-12-04 12:21] gsmet commented on #5939
In any case, you can just do `mvn clean install -DskipTests -DskipITs`. After that, the idea is to import the quarkus-bom in version 999-SNAPSHOT. You might have to change your pom a bit to point to quarkus-bom instead of the universe one.

[2019-12-04 12:28] galderz commented on #3306
Hi all! Thanks a lot for your patience with this, in particular @gwenneg who has been working really hard on the implementation 👏👏👏.

With the help of @Sanne and @emmanuelbernard I’ve been reviewing the current design and progress, to decide whether we’re ready to release or not. The short answer is that we are but we will go a bit conservative in what we expose initially. We’ve noted a few areas

[2019-12-04 12:43] nimo23 opened #5940 "Extensions/Support for MachineLearning-libs"
**Description**
Would be nice to include support for the following java libraries:

- https://github.com/awslabs/djl (Deep Java Library)
- https://github.com/eclipse/deeplearning4j
- https://github.com/tensorflow/tensorflow

_I don`t know if **djl** and **d4j** are already supported (for jvm and native mode) because it is already java._

[2019-12-04 13:15] #3833 closed

[2019-12-04 13:21] paolodedo commented on #5939
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-enforcer-plugin:3.0.0-M2:enforce (enforce-java-version) on project quarkus-parent: Some Enforcer rules have failed. Look above for specific messages explaining why the rule failed. -> [Help 1]

[2019-12-04 13:28] nimo23 commented on #5906
**To sum up:**

There are a lot of 3rd party libs using jackson for json processing under the hood. Actually, all these libs cannot be used in quarkus if they do not comply with the json provider used by the main application.

For example:

[code]

Quarkus should encapsulate the json provider of any 3rd party library from the host  application.

[2019-12-04 13:35] nimo23 commented on #5906
**To sum up:**

There are a lot of 3rd party libs using jackson for json processing under the hood. Actually, all these libs cannot be used in quarkus if they do not comply with the json provider used by the _host application_.

For example:

[code]

Quarkus should encapsulate (isolate) the json provider of any 3rd party library from the _host  application_.

[2019-12-04 13:42] geoand commented on #5906
@nimo23 that sounds like a worthwhile goal to explore for Quarkus.

However, this would require that all RESTEasy - JSON integrations are always on the classpath so Quarkus can choose the appropriate one. That is kind of antithetical with the goal of keeping things as lean as possible.

[2019-12-04 14:05] uaihebert opened #5942 "Flyway is not executed before Hiberrnate inside a docker container"
**Describe the bug**
hello, I noticed a strange behavior with Flyway.

when I run the project inside a docker container sometimes Flyway is not invoked.

What I do is:
1) set Flyway to run on every start-up
2) use hibernate to validate the schema

basically, these are my configs:
[code]

for hibernate:
`quarkus.hibernate-orm.database.generation=validate`
At the logs I have this output:

2019-12-03

[2019-12-04 14:07] gytis opened #5943 "Spring Web JAX-B provider NullPointerException"
**Describe the bug**
Quarkus Spring Web application with an endpoint producing "application/xml" content fails with a NullPointerException when trying to get JAXB context:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  git clone https://github.com/gytis/reproducer-quarkus-spring-web-jaxb
2. cd reproducer-quarkus-spring-web-jaxb
3. ./mvnw test

**Environment (please complete the foll

[2019-12-04 14:07] gytis commented on #5943
cc @geoand

[2019-12-04 14:21] dmlloyd commented on #5936
Hi Libor, I believe this is a duplicate of #3516 which is fixed in 1.1.0.

[2019-12-04 14:23] miron4dev commented on #2125
It doesn't work for the maven plugin as well.
In the documentation https://quarkus.io/guides/native-and-ssl I see

So, I expect to get a native app with included SunEC library.

However, when I execute my app I receive

[code]

[2019-12-04 14:33] lkrzyzanek commented on #5936
ok. will test once 1.1.0 is out. Thanks.

[2019-12-04 14:41] sberyozkin commented on #5899
@yuhaibohotmail thanks, please watch #4448 :-)

[2019-12-04 14:41] geoand commented on #5943
Thanks @gytis. Let me take a look!

[2019-12-04 14:42] #5899 closed

[2019-12-04 14:43] sberyozkin commented on #4448
The discussion at the now closed #5899 is relevant.

[2019-12-04 15:08] loicmathieu commented on #3306
@galderz great description/analysis ! Maybe we need to keep this kind of _design document_ somewhere ?

Two remarks here:
- Default cache name : for readonly case it can be easily set to <className>.<methodName> as the parameters will be used by the key so there cannot be any overlap due to overloads. But for read/write cache this is more complex as one method will read and another write. In this

[2019-12-04 15:21] otcyury commented on #5921
As far as logs go, there are nothing abnormal and they only contain output from lambda code.

I know lambda finishes completely because I get its result returned with data from handler's return object. Below are two classes that show pretty much everything lambda is doing.

[code]

[2019-12-04 15:27] otcyury commented on #5921
Conceptually, decorator that facilitates database connectivity concerns needs to take care of closing connection, even if handler code exited abnormally.

[2019-12-04 15:43] jaikiran commented on #5942
Hello @uaihebert, can you please enabled `DEBUG` log for `io.quarkus.flyway` package and get us the logs? Details and examples on how to enable logging is explained here https://quarkus.io/guides/logging#examples

[2019-12-04 15:47] gsmet commented on #5942
We had a few issues similar to this on CI.

I wouldn't be surprised if we have some sort of timing issues and that we would need a build item to mark the datasources as migrated and inject it in all the steps manipulating the datasources (in ORM and the Quartz scheduler typically).

[2019-12-04 15:48] otcyury commented on #5921
Below is lambda's output from CloudWatch.

[code]

[2019-12-04 15:48] Sanne commented on #3306
hi @loicmathieu !

The reason we went for requiring a cache name in this first round is really that it's easy to start by requiring it, and relax later. There's a couple of tradeoffs in the different options which we believe need a bit further discussion, so let's go with requiring it now - we can always follow up with quick, small adjustements.

Essentially, striving for forward compatible design

[2019-12-04 15:59] uaihebert commented on #5942
hello, @jaikiran that is the frustrating part. I tried with log in debug, the only difference is that it adds one line:
[code]
it points out that it found the migration file.

let me know if there is anything else that I can provide.

[2019-12-04 16:01] sberyozkin commented on #5829
@piotrgwiazda PR #5944 will offer an alternative where you'd just set an `issuer` as a `quarkus.oidc.claims.issuer` property which will disable the default Vertx Oauth2 issuer validation which only does a comparison based on the site URL. (FYI, Vertx OAuth2 fix for this issue has also been merged by Paulo) but going forward I think we will encourage the users to set the expected issuer, audience,

[2019-12-04 16:21] mkouba opened #5946 "Log a big warning if an application bean observes @Initialized(ApplicationScoped.class)"
There is a big difference in behavior when working with native images. More details are explained in the guide: https://quarkus.io/guides/lifecycle#what-is-the-difference-from-initializedapplicationscoped-class-and-destroyedapplicationscoped-class.

[2019-12-04 16:22] mkouba commented on #5946
@manovotn would you care to take this issue?

[2019-12-04 16:25] evanchooly commented on #5859
I'm not convinced you're using the correct module, honestly.  if you're wanting to use resteasy based services, you should be using `amazon-lambda-http` instead which explicitly supports resteasy based services and routing.

[2019-12-04 16:30] mehdi-reza commented on #5859
+1

On Wed, 4 Dec 2019 at 9:25 PM, Justin Lee <notifications@github.com> wrote:

[2019-12-04 16:37] ia3andy opened #5947 "@ConfigProperty with defaultValue="" are not working on master"
**Describe the bug**
When using `@ConfigProperty` with a `defaultValue=""`, it is never set with the defaultValue.

**Expected behavior**
"" should be used when no configuration is set

**Actual behavior**
the attribute is null

**To Reproduce**
1. Add a @ConfigProperty with defaultValue
2. Add a test which checks that it's not null

**Environment (please complete the following information):**
 -

[2019-12-04 16:40] sberyozkin opened #5948 "Setting JAX-RS SecurityContext with Principal has no effect on RolesAllowed"
**Describe the bug**
It is related to the fact Quarkus security layer operates before the JAX-RS chains start.
As such setting a custom JAX-RS `SecurityContext` containing a principal such as `JsonWebToken` has no effect on the RBAC.
(the other related issue is that the JAX-RS exception mappers can not catch the security exceptions)

**Expected behavior**
(Describe the expected behavior clearly an

[2019-12-04 16:41] dmlloyd commented on #5947
Also relevant: eclipse/microprofile-config#475

Arguably, we should disallow `null` values for `@ConfigProperty` and require use of `Optional` instead to be consistent with the basic `Config` API.  Related to eclipse/microprofile-config#446 as well.

[2019-12-04 16:50] ia3andy commented on #5947
[test-default-value.zip](https://github.com/quarkusio/quarkus/files/3922966/test-default-value.zip)

On this project, the test passes on `1.0.1.Final` and fails on master.

The bug is narrowed down to only `defaultValue=""` not working, other case work

[2019-12-04 17:09] dmlloyd commented on #5947
This was discussed in chat.  In conclusion, having a default value of `""` effectively means "if this value is not given, it is empty", which is already the effective default value for all properties.

Empty values (as discussed in eclipse/microprofile-config#446) are used when a value is missing.  So in order to represent a value that can be emptiable, be it a `String`, a collection type, etc., o

[2019-12-04 17:32] ia3andy commented on #5947
as discussed in the chat, there is a bug with `Optional` not being `empty` unless `defaultValue=""` is used, this needs to be covered in that issue (or in another new one) too

[2019-12-04 17:59] nimo23 commented on #5906
_Not_ always, but only if the user decides to include both in its `pom.xml`. For example, if user knows that the 3rd party dependency makes use of `jackson` but another makes use of `json-b`, then the user includes both, otherwise not:

[code]

[2019-12-04 18:16] gsmet commented on #5906
We don't plan on supporting modular class loaders in Quarkus for now so I think I'm gonna close this one.

The error message is easy to understand: just add a default constructor. It's needed by most serialization library anyway.

[2019-12-04 18:16] #5906 closed

[2019-12-04 18:20] nimo23 commented on #5906
With default-constructor you mean a "no-arg-constructor". But how should I add this - the class is within a library only included in my `pom.xml.`

So the only reason why this work in wildfly is that it has a modular class loader (jboss modules). Am I right?

[2019-12-04 19:15] gunnarmorling opened #5950 "Pull up adduser in Dockerfile.jvm"
The generated Dockerfile.jvm runs `RUN adduser...` very late in the game, in particular after adding the JARs of the application. This prevents this layer from being cached if the application or its dependencies change and the image is rebuilt.

Happy to file a PR for re-ordering it, but I need to know where the template is located.

[2019-12-04 19:21] #5733 closed

[2019-12-04 19:24] pedroigor commented on #5926
@sberyozkin I think we can try to solve that by using some approaches we do here at Keycloak project. But I would like to know the line shown in logs when the failure happens. Do you have it ?

[2019-12-04 19:37] stuartwdouglas commented on #5921
Instances can serve multiple requests (i.e. lambda will keep the same process running for a while in case new requests come in). If the instance was being killed even if we did not shut down the DB connection the operating system would terminate it for us.

Maybe we need to avoid connection pooling with lambdas and connect on demand instead.

[2019-12-04 20:07] otcyury commented on #5921
I am not exactly clear on comment "...if we did not shut down the DB connection the operating system would terminate it for us", but from my observation, once lambda makes a new connection I see them in pgAdmin (PostgreSQL admin tool) for hours. I haven't checked if and when they actually go away, but if the rate of creation outpaces the rate of destruction there is a chance DB will run out of con

[2019-12-04 20:12] Teg79 opened #5951 "NPE if security-properties is enabled and a user has no roles prop"
**Describe the bug**
Activating the module elytron-security-properties-file and configuring it in embedded mode, if a user has not the roles property, Quarkus fails to boot

**Expected behavior**
Run Quarkus with base security from file and a user without roles

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Quarkus Application from the Star Coding site
2

[2019-12-04 20:26] nimo23 commented on #5906
Would be nice to include this kind of limitation in quarkus documentation, maybe within https://quarkus.io/guides/rest-json#whats-different-from-jakarta-ee-development:

- If you use a 3rd party dependency which uses jackson under the hood, then your  application must also use jackson.
- If you use json-b in your application and one of your dependencies uses jackson, then it will not work.
- It wi

[2019-12-04 21:15] stuartwdouglas commented on #5921
It means that if there are more than 5 some of the idle ones will be closed after idle-removal-timeout. If you want it to create 5 connections immediately you need to set initial-size.

[2019-12-04 21:17] stuartwdouglas commented on #5921
I think you will find that lambda is keeping the processes alive, which is why they still have an open connection. If lambda killed the process then the operating system would clean up any resources it had open including open sockets, so the connection would be closed. Can you try setting the min size to 0 and setting a short idle-removal-timeout and see what happens?

[2019-12-04 21:19] dmlloyd commented on #5794
Yes, I think so.

For levels, we continue to allow to configure on both the handler and the category.

[2019-12-04 21:23] otcyury commented on #5921
Yes, thanks. I found documentation for initial-size property. That's why I removed my question.

[2019-12-04 21:28] #5943 closed

[2019-12-04 21:28] otcyury commented on #5921
Looking at documentation for idle-removal-interval, its default value is 5 minutes. I just checked pgAdmin and lambda connection established at 2:52 PM is still there.

I will try setting min size to 0 and idle-removal-interval to 1M and see what happens.

[2019-12-04 21:30] stuartwdouglas commented on #5921
idle-removal will only remove connections if there are more than min-size, so unless you set min-size to 0 it will always leave connections open.

[2019-12-04 21:36] #5424 closed

[2019-12-04 21:41] dreab8 commented on #5903
I have opened a Jira https://hibernate.atlassian.net/browse/HHH-13766 for this issue

[2019-12-04 21:50] otcyury commented on #5921
Unfortunately, quarkus.datasource.min-size = 0 and quarkus.datasource.idle-removal-interval = 1M didn't help - new connection did not go away after 1 minute and is still there 10 minutes later.

[2019-12-04 22:04] otcyury commented on #5921
FYI, connection established at 2:52 PM disappeared, but I saw it at least 10 minutes ago. May be it happened at 4:52 MP.

[2019-12-04 22:09] Karm commented on #5728
Merged. Closing.

[2019-12-04 22:09] #5728 closed

[2019-12-04 22:13] maxandersen commented on #5931
@metacosm very nice jvm-operators already uses quarkus - that makes this much easier :)
If you have some ideas we are all ears on seeing how well and smooth we can fit it in...I have some naive dream of just having a quarkus-kubernetes-operator extension and then with a few annotations be able to implement just what I need and any other scaffolding dealt with by the extension. Looking a bit more i

[2019-12-04 22:53] maxandersen commented on #3886
if this is just about having devmode pick up changes from additional locations isn't this better done as something devmode needs to become aware of ?

[2019-12-04 22:58] gsmet commented on #5950
I think the template is there: https://github.com/quarkusio/quarkus/tree/master/devtools/platform-descriptor-json/src/main/resources/templates

[2019-12-05 02:16] diogocarleto commented on #5683
@Arcnor you can use some like that as a workaround:

        <artifactId>maven-resources-plugin</artifactId>
        <version>3.1.0</version>
        <executions>
          <execution>
            <id>copy-resources</id>
            <phase>verify</phase>
            <goals>
              <goal>copy-resources</goal>
            </goals>
            <configuration>
              <outputDirectory>${p

[2019-12-05 05:41] piotrgwiazda commented on #5829
Thanks. That sounds like a good idea. The OIDC providers have these minor, painful differences in implementation.

[2019-12-05 10:20] geoand commented on #5950
Yup, that is the correct directory

[2019-12-05 10:22] sberyozkin commented on #5926
@stuartwdouglas, @pedroigor Sorry, it would keep failing with a "Too much redirect on someurl" where `someurl` would be a URL prepared by Keycloak after the authentication has been done and the (test) user is redirected back. I'll check if the builds still have it

[2019-12-05 10:29] gunnarmorling commented on #5950
Ok, thanks. I'll file a PR shortly.

[2019-12-05 10:30] geoand opened #5955 "Allow the easy instantiation of CDI beans"
**Description**

I was wondering if it would make sense to make eager instantiation super easy for users via either an annotation (for per bean control) and / or a config property that would make bean instantation eager by default.

**Implementation ideas**

We could basically generate the necessary `void startup(@Observes StartupEvent event)` under the hood - or perhaps tie deeper into Arc to mak

[2019-12-05 10:30] geoand commented on #5955
cc @mkouba @manovotn

[2019-12-05 10:44] gunnarmorling opened #5956 "Provide an extension for MapStruct"
**Describe the extension**

MapStruct is a compile-time code generator (JSR 269 annotation processor) for bean-to-bean-mappings, useful e.g. to map an internal (entity) model to the external (REST) model of an application. As the generated code avoids any kind of reflection, MapStruct leans itself to being a perfect match with Quarkus and GraalVM.

Interested in this extension, please +1 via the e

[2019-12-05 10:46] gunnarmorling commented on #5956
Hey @chris922, together with @gsmet and @Sanne we were discussing to have an official Quarkus extension for MapStruct. As you nicely point out in your post, MapStruct really works out of the box here, but such extension would still make for a nicer getting started experience and people could choose it from the extension catalogue etc. Would you perhaps be interested in leading this effort?

[2019-12-05 10:48] gunnarmorling commented on #5956
Btw. a related yet general question is: how should annotation processors such as MapStruct or the JPA metamodel generator integrated into Quarkus? I was thinking whether it'd make sense to have a JSR 269 `Filer` implementation which takes the generated source code and builds byte code right away. Just thinking out loud, perhaps it doesn't add value.

[2019-12-05 11:00] manovotn commented on #5955
Note that this annotation would only make sense for something like `@ApplicationScoped` or `@Singleton`. We would need to either document that, or log a warning if it's used in combination with others (which could be tricky given that you could add it via annotations transformer).

[2019-12-05 11:03] tqvarnst opened #5957 "Support for Liquibase"
**Describe the extension**
An extension to be able to use Liquibase database migration (https://www.liquibase.org/) as part of a Quarkus project.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
[code]

**Additional context**
(Add any other context about the proposal here.)

[2019-12-05 11:06] Sanne commented on #5956
@gunnarmorling we don't dislike annotation-processors; as you pointed out during one of the brainstorming meetings, while their API is a hard nut they provide nice integration with the IDEs, allowing auto-completion to work on the fly: seems fitting for MapStruct and JPA metamodel.

I think we should keep that - unless I misunderstood what you have in mind?

[2019-12-05 11:09] tqvarnst opened #5958 "Support for Liquibase database migrations"
### Description
I have a customer request for adding support for Liquibase database migration.

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks
- [ ]  Create an extension - https://github.com/quarkusio/quarkus/issues/5957
- [ ]  Write an guide

[2019-12-05 11:16] gunnarmorling commented on #5956
Ok, cool. I somehow had the impression that you'd want to move away from annotation processors, but it's good to know that this isn't the case.

Btw. a related issue in this context is https://github.com/quarkusio/quarkus/issues/1502, which prevents from APs to be re-run during Dev mode in certain set-ups. Would be nice to have this addressed, as currently the set-up we recommend (using the `annot

[2019-12-05 11:21] gastaldi commented on #5955
+1 for a `@Startup` annotation. In some classes writing an observer method just to initialize (which does nothing) during the startup is annoying

[2019-12-05 11:28] paulrobinson commented on #5958
@emmanuelbernard Can you schedule this one, and if soon find an assignee?

[2019-12-05 11:35] Sanne commented on #5956
Following your advice :)

Regarding #1502 I don't know, need to leave that to others. Sad to see it's rather old and yet unaddressed.

[2019-12-05 11:41] manovotn commented on #5955
Mostly, you shouldn't do that as it defeats the lazy init approach that Arc does. But I agree that from time to time, it is indeed handy. I am just scared people will toss that annotation on every bean out there :-)

What I am not so sure about is calling it `@Startup`; while it is familiar, it could be mixed up with [EJB startup](https://docs.oracle.com/javaee/7/api/javax/ejb/Startup.html) and th

[2019-12-05 11:43] tpenakov opened #5959 "Keycloak Claim Information Point - NPE when trying to read body"
When you try to read body through Claim Information Point the result is Null Pointer Exception.

When you add the following to your application.properties file:

`quarkus.keycloak.policy-enforcer.claim-information-point.claims.claim-from-body={request.body}`

And execute the post request against the endpoint /api/auth-entry

The result is:
[code]

Here is the [Sample Project](https://github.com/tp

[2019-12-05 11:43] geoand commented on #5955
Or just plain `@Eager`?

We have so far in Quarkus provided a lot of such conveniences to users, so I think this would fit nicely in the general developer experience theme.

[2019-12-05 11:44] gastaldi commented on #5955
I wonder how can people use EJB's Startup if the EJB jars are not available in Quarkus?

I'm fine with any other name, just thought this would be more intuitive :)

[2019-12-05 11:44] mswiderski commented on #1505
has anyone considered to use kogito (workflow) as an option to cover this?

[2019-12-05 11:55] gsmet commented on #5957
We already have Flyway. What would this one bring to the plate?

[2019-12-05 11:59] mkouba commented on #5955
+1

The observer approach has also some advantages. For example, you can inject a `@Dependent` bean, use it in the observer and afterwards the bean is transparetnly destroyed.

@gastaldi You could be surprised ;-). For example, there was a bug in the `jakarta.interceptor-api` -> pom declared a dependency on `jakarta.ejb-api`. It should be fixed in the next version though: https://github.com/eclips

[2019-12-05 12:23] gsmet commented on #5959
@sberyozkin @pedroigor any chance you could have a look at that one before tomorrow evening?

[2019-12-05 12:40] andrejpetras commented on #5957
Hi,

we have lot of JEE applications using the liquibase tool to manage the database changes. We would like to move to the quarkus and also minimize the migration effort and keep the liquibase tool.

I managed to build the liquibase in the native image (it is crazy project) with a postgresql driver. https://github.com/1000kit/liquibase
I believe it should be possible to write the liquibase quarkus

[2019-12-05 12:41] geoand commented on #5662
@kenfinnigan I am assuming you were referring to [this](https://github.com/smallrye/smallrye-config/issues/196) issue?

[2019-12-05 13:00] kenfinnigan commented on #5662
Yes

[2019-12-05 13:06] mkouba commented on #5955
Implementation note: the easiest solution from impl POV would be to introduce an interface, e.g. `StartupCallback` with default no-op `startup()` method and then in the [LifecycleEventRunner](https://github.com/quarkusio/quarkus/blob/master/extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/LifecycleEventRunner.java#L22-L24) iterate over all beans that implement this interface and invoke

[2019-12-05 13:16] geoand commented on #5955
@mkouba and maybe we can use a new annotation to transform the beans to add that interface to classes that are annotated?

[2019-12-05 13:42] mkouba commented on #5955
I'd personally try to avoid transformations if possible. Recently, I did some quick and dirty tests and it seems that transformations are pretty expensive.

[2019-12-05 13:44] sberyozkin commented on #5926
@stuartwdouglas @pedroigor I'm not sure I can find it, I'll close it and reopen if it fails again

[2019-12-05 13:48] geoand commented on #5955
Expensive in what way?

[2019-12-05 13:49] gytis commented on #5816
While this approach makes sense, it will not align with a standard Spring Web behaviour. I've been experimenting with exception handler and found that custom content type will be returned only if a client has  added `Accept` header. Otherwise, even if a controller method has different content type, object returned by an error handler will be mapped to JSON. Here's an example that I have tried:

Co

[2019-12-05 13:50] gytis commented on #5816
Even though it might not be correct to look into a controller for a content type, we should definitely look into request headers before defaulting to `application/json`.

[2019-12-05 13:56] maxandersen opened #5962 "One universe with multiple platforms"
### Description
in 1.0 we released one universal platform; this epic is gathering the tasks/features needed to cleanup/expand the notion of platform.

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks
- [ ] define version compatibility setup
- [ ] bom-less add/remove extension

## Epic items
(this section is auto-generated - manual ed

[2019-12-05 14:03] maxandersen opened #5963 "Adapt code.quarkus.io to the future registry.quarkus.io"
### Description
Various highlevel features for code.quarkus.io

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks
- [x] [push generated project to github](https://github.com/quarkusio/code.quarkus.io/pull/227
)
- [x] [shorten url](https://github.com/quarkusio/code.quarkus.io/pull/178) (require storage)
- [X] Add backend analytics (htt

[2019-12-05 14:04] sberyozkin opened #5964 "Support grouping the OIDC configuration by the IDP names"
**Description**
Stephane @FroMage has opened a discussion about the application directly supporting the social/well-known provider logins (Google, Facebook, GitHub, etc) without expecting that the on-site IDP like Keycloak is installed which can support the delegation to these providers. So the application can offer some local login option (name/password for ex plus try to enrich it with some publ

[2019-12-05 14:04] sberyozkin commented on #5964
CC @stianst @pedroigor

[2019-12-05 14:09] stianst commented on #5964
I would discourage supporting social providers directly beyond allowing users to configure them as OIDC providers. It requires a lot of maintenance, documentation and testing.

Then there's also the case that in most such cases you want to add multiple providers, not just a single one, which raises a lot of problems. How does a user select which one they want to do? Do you know add a login page wh

[2019-12-05 14:11] stianst commented on #5964
By the way we have this great thing called Keycloak that does all of the above. So I would rather see blog posts and ideas on how to enable social login on Quarkus using Keycloak. Let's focus on making that experience super simple and nice rather than duplicating the effort here.

[2019-12-05 14:18] sberyozkin commented on #5964
@stianst thanks. As long as it is OIDC it should be fine I guess, the brokering is something I'd recommend as well, see [the thread](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/OpenId).

I'm not really sure if the users are ever doing it directly. Stephane, @FroMage, can you comment please ?

[2019-12-05 14:30] sberyozkin commented on #5964
@stianst Hi Stian, re Keycloak and the social login, am I right in assuming that as far as Quarkus OIDC adapter is concerned, the existing `web-app` application would just work right now with Facebook/etc if the KC autentication page is customized and KC itself is configured accordingly ?

[2019-12-05 14:43] belfo opened #5965 "Build of native image generate a core dump"
**Describe the bug**
Building a simple rest app as native image using the multi-stage Docker build https://quarkus.io/guides/building-native-image fail with a core dump

**Expected behavior**
Should work

**Actual behavior**
[code]

**To Reproduce**
I created a docker with:
FROM quay.io/quarkus/centos-quarkus-maven:19.3.0-java11 AS build
COPY src /usr/src/app/src
COPY pom.xml /usr/src/app
USER roo

[2019-12-05 14:45] stianst commented on #5964
Comment on the thread. What he's asking for is basically Keycloak ;)

[2019-12-05 14:48] stianst commented on #5964
For social there's really only 3 options that makes sense:

* Allow users to use a single social provider as the IdP
* Recommend using Keycloak (or some other similar thing)
* They can obviously implement it all themselves, but I think they will quickly realise that they wish they had just picked something that already implemented it for them

It's way out of the scope of Quarkus to become some so

[2019-12-05 14:48] sberyozkin commented on #5964
@stianst Yeah I was just about to comment, Stephane was concerned it (or whatever the immediate IDP the users work with) could not be available in some cases, but Keycloak is freely downloadable :-).

[2019-12-05 14:51] FroMage commented on #5964
Well, no, I'm not asking to reimplement Keycloak, but what our story is for people who want to provide social logins as an option without having to use Keycloak.

A LOT of sites handle login by delegating to whatever OpenID provider, like this: https://doodle.com/login

I didn't think we could afford to tell users that to use external openid providers they had to use Keycloak, but it looks like yo

[2019-12-05 14:52] sberyozkin commented on #5964
@stianst Definitely but Sebastien's proposal is only about selecting an OIDC adapter connection configuration. Actually, may be we are talking about the multitenancy here :-)

[2019-12-05 14:53] FroMage commented on #5964
Same for https://gitter.im/

[2019-12-05 14:54] FroMage commented on #5964
My question is: what's our user story for an app developer to use openid of any of the famous providers, without using keycloak?

I want to write a Quarkus app that delegates login to Google/Github/Facebook: what does my app look like?

[2019-12-05 14:56] geoand commented on #5816
@gytis thanks for the detailed analysis!

I agree with your suggestions

[2019-12-05 14:57] stianst commented on #5964
@FroMage not at all. Users can use whatever external OpenID Connect provider they choose. That could be Google, Auth0, Octa, or Keycloak. Now if they want to use multiple providers, have users locally registered, etc. they should make a choice on an IdP that supports that for them.

[2019-12-05 14:58] sberyozkin commented on #5964
@FroMage It looks like to me now this issue is effectively a duplicate of #4448. Of course we'd recommend to use Keycloak and I don't see the users preferring to work with the quality IDP like Keycloak as per @stianst 's advice starting doing it all manually, but once #4448 is fixed, the users would be free to do whatever they want really since the configuration would be dynamically loaded

[2019-12-05 14:58] stianst commented on #5964
Doodle for instance quite likely uses an IdP or they've gone and implemented a whole bunch of stuff themselves.

[2019-12-05 15:00] stianst commented on #5964
@sberyozkin that's correct with #4448 users can configure multiple IdPs, then create some sort of login page that let's users select which IdP they want to use.

[2019-12-05 15:01] mkouba commented on #5955
Simple transformations are probably fine but complex transformations like the ones perfomed by hibernate take quite a lot of time. For example, the augmentation phase in `hibernate-orm-quickstart` takes approx. 2s on my machine. And if I do `mvn clean package -X -DskipTests | grep Finished | sort -nr -k 7` I can see that `ClassTransformingBuildStep#handleClassTransformation` takes ~ 560 ms and `Hi

[2019-12-05 15:03] sberyozkin commented on #5964
@stianst Yeah, sounds like exactly what @FroMage is asking about :-)

[2019-12-05 15:03] geoand commented on #5955
Gotcha thanks. We can always try it out and see what kind of effect it will have on performance

[2019-12-05 15:04] sberyozkin commented on #5964
@FroMage Please watch #4448, I think we can close this issue as a duplicate

[2019-12-05 15:05] FroMage commented on #5964
OK fine.

[2019-12-05 15:06] #5964 closed

[2019-12-05 15:13] Sanne commented on #4218
this can be closed @gwenneg @gsmet ?

[2019-12-05 15:15] gsmet commented on #4218
I think so.

[2019-12-05 15:15] #4218 closed

[2019-12-05 15:15] belfo commented on #5965
ok graal 19.3 not supported yet.
Will fallback to 19.2.1

[2019-12-05 15:15] #5965 closed

[2019-12-05 15:28] lordofthejars opened #5966 "KubernetesMockServerTestResource overrides Fabric8 Kubernetes"
**Describe the bug**
KubernetesMockServerTestResource overrides Fabric8 Kubernetes instead of the Quarkus kubernetes-client properties which make that the URL of mocked Kubernetes API server is not overriden correctly and the real kubernetes cluster is used during the test execution.

**Expected behavior**
Use the mocked server URL

**Actual behavior**
Uses the real one cluster.

**Additional cont

[2019-12-05 15:34] gwenneg commented on #5631
Done in #5358.

[2019-12-05 15:34] #5631 closed

[2019-12-05 15:41] sberyozkin commented on #4448
@pedroigor sure, the question is how to group/scope the configurations which be selected dynamically. @emmanuelbernard suggested earlier we should follow the way it is done for supporting multiple DB providers, I suppose we should have some convention:
[code]
and then the handler would decide on the qualifier and load it. Or may be to simplify things we can start from expecting the users construct

[2019-12-05 16:11] jbourbo opened #5968 "Is there a way to make SSL work with amazon-lambda-http ?"
Hello,

I would like to create a AWS lambda that calls other services with https protocol.
I would like to know how to embed the sunec library in the lambda and reproduce the  options
`-Djava.library.path=/work/lib", "-Djavax.net.ssl.trustStore=/work/cacerts" ` explained here https://quarkus.io/guides/native-and-ssl in the context of a AWS lambda.

Thanks a lot.

[2019-12-05 16:14] InfoSec812 commented on #3687
I am having a similar issue with dev mode on a multimodule project. I have the following modules structure:

todo:
  - jsclient
  - javaclient
  - server
  - implementation
  - frontend

The `jsclient`, `server`, and `javaclient` are all generated using the OpenAPI Generator, but I am using custom templates to ensure that they are correctly configured for Quarkus.

I then compile together `server`

[2019-12-05 16:24] InfoSec812 commented on #2319
I am seeing this on Quarkus 1.0.1.Final, so perhaps a regression?

Reproducing example here: https://github.com/InfoSec812/quarkus-openapi-todo-demo/tree/switch-to-maven-multimodule

[2019-12-05 16:26] FroMage commented on #5593
I'm trying this on a rebased RESTEasy 4.5.0-SNAPSHOT, but it comes with jakarta.xml.bind apparently, which trips up our enforcer. @gsmet any idea how I should proceed?

[2019-12-05 16:34] gsmet commented on #2319
@InfoSec812 could you open a new issue? Thanks!

[2019-12-05 16:35] gsmet commented on #2319
Please detail how we can reproduce your issue.

[2019-12-05 16:41] nimo23 opened #5969 "Quarkus ignores mapped jackson annotations of 3rd party libraries"
**Describe the bug**
I included a **3rd party library** in my application. This library makes use of `Jackson` and `Jersey` for its rest webservices and json-(un)marshallings. My main application uses `Json-B` annotated classes and I included the `quarkus-resteasy-jsonb` in my `pom.xml`. However, with such configuration, quarkus totally ignores the jackson-mappings from the 3rd-party library and t

[2019-12-05 16:46] sberyozkin commented on #5277
Hi Pedro @pedroigor, Paulo @pmlopes has just merged a fix into Vertx Oauth2.
Yeah, some kind of a grouping concept may be done as part of #4448, but that would be up to the user how to qualify the configurations, the adapter is generic so it would be simpler if if we can try to keep the configuration generic. That said, I'm not sure with the current fix the new property is needed :-), so I'll like

[2019-12-05 16:48] InfoSec812 opened #5970 "Maven Multi-Module Project And Class Cast Errors"
**Describe the bug**
I have a multi-module Maven project (https://github.com/InfoSec812/quarkus-openapi-todo-demo) which has the following structure:

todo:
  - jsclient
  - javaclient
  - server
  - frontend
  - implementation

The `server`, `jsclient`, and `javaclient` are all generated using OpenAPI Generator and custom templates to make them "Quarkified".

I have added Jandex indexing to the `

[2019-12-05 16:48] InfoSec812 commented on #2319
@gsmet Issue is here: https://github.com/quarkusio/quarkus/issues/5970

[2019-12-05 17:47] #5750 closed

[2019-12-05 17:47] #5826 closed

[2019-12-05 17:49] gsmet commented on #5970
@mkouba could you have a look and check if it's an issue with ArC or something else?

[2019-12-05 17:54] brunotitata opened #5971 "RestTemplate not supported when compiling to image-native"
**Describe the bug**
Hi Team Quarkus, I'm trying to compile a project for `image-native` using `Spring Web` dependencies, but I come across the following message:

[code]
I am currently using Quarkus version 1.0.1.FINAL with GraalVM CE 19.2.1

**Expected behavior**
Image should be successfully generated for compilation

**Configuration**
[code]

Service call
[code]

**Screenshots**
[Screenshot 1](

[2019-12-05 18:17] pedroigor commented on #5959
@gsmet Looking ...

[2019-12-05 18:22] pedroigor commented on #4448
@sberyozkin I think both solutions should be considered. So users can either have a static definition of their tenants or a more dynamic version they can define/choose during runtime.

FYI, in Keycloak we pretty much do #2, where the adapter configuration is built at runtime based on whatever logic you have for choosing a tenant.

Maybe, for #2, it should be just a matter of allowing applications

[2019-12-05 18:48] nimo23 commented on #5955
Where there is a `@Startup`, there should also be a `@Shutdown` - then you will likely thinking of re-using the already established annotations of EJB:

[code]

Btw, maybe quarkus can implement its own _light_ version of ejb which fit in the quarkus-world..because the concepts are already there..

[2019-12-05 20:15] JuMp3 opened #5974 "Quarkus + Spring Data + SQL Server"
I'm trying to run `package` maven goal in my new Quarkus project, that i'm porting from Spring Boot to Quarkus.
But...I'm experiencing this problem during execution 'package' phase:

`[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.0.1.Final:build (default) on project configurations: Failed to build a runnable JAR: Failed to augment application classes: Build failure: Build failed

[2019-12-05 20:26] jglick commented on #4606
Tried to build this repo from sources, but it died almost at once in the `arc/runtime` module:

    Plugin org.apache.maven.plugins:maven-compiler-plugin:3.8.0-jboss-1 or one of its dependencies could not be resolved: Could not find artifact org.apache.maven.plugins:maven-compiler-plugin:jar:3.8.0-jboss-1 in <my-mirror>

I assumed there was some issue with the `pluginRepositories` specified in `az

[2019-12-05 21:27] JuMp3 opened #5976 "Use java.util.Locale in Quarkus (i18n)"
Is it possible to use the Locale (java.util.Locale) object in a controller with Quarkus, for the management of the i18n? If yes, how?

I'm having the following error, if I use the local object as a parameter of the method:

`public ResponseEntity<Prefixes> prefixes(Locale locale) {`

[code]

[2019-12-05 21:45] gsmet commented on #5974
Do you use our Quarkus BOM? Because it looks like inconsistent artifact versions.

[2019-12-05 22:16] JuMp3 commented on #5974
Hi, yes i do.

this is my pom:

[pom.zip](https://github.com/quarkusio/quarkus/files/3929350/pom.zip)

[2019-12-05 22:31] nimo23 commented on #5962
**one question about:**

Is this really makeable without having a _module system in quarkus_ (such as, `jboss modules` or `JSR-376`)? For example, think of not conflicting (transitive) dependencies, etc.

[2019-12-06 00:04] pedroigor commented on #5959
@gsmet @tpenakov I think I'll not be able to deliver this fix until tomorrow.

Although I managed to fix the original issue so that we can properly read the request body, it is not possible to read the body again by the application. For this one, I'm stuck and I don't have yet a clue how to allow the request inputstream to be read twice (by security handlers + later on by the application).

@sbery

[2019-12-06 00:09] pedroigor commented on #5959
Regarding the original problem (NPE when obtaining the body) the cause of the exception is that the body needs to be read first by a handler. The solution I found is to reuse the `VertxInputStream` from Resteasy extension.

[2019-12-06 00:13] gwenneg commented on #5682
I created a GraalVM issue tonight about the remaining problem in Quarkus with JDK 11: https://github.com/oracle/graal/issues/1941. I'm not sure whether the cause is in Quarkus or in GraalVM.

Debugging the native image generation didn't give much information so far because the issue is happening with a proxied annotation (and I couldn't tell what was the proxied interface from the debugging data).

[2019-12-06 00:37] pedroigor commented on #5959
I think I have something that might work. But not sure whether or not it is the best way to achieve it. Here are the changes https://github.com/quarkusio/quarkus/compare/master...pedroigor:issue-5959?expand=1.

Basically, after reading the request from the security layer, we set a buffered stream in the routing context so that later it can be reused. There is a change to Resteasy that checks wheth

[2019-12-06 00:59] maxandersen commented on #5957
@gsmet Liquibase has an abstraction layer so you can express migrations at a higher level which then gets converted into specific dialect so nicer to use if targeting multiple databases (like h2 for dev and postgresql for prod). Flyway is more "tuneable" but less generic so I say its worth getting both supported.

@andrejpetras contribution will be welcome! lets see what we can make happen!

[2019-12-06 01:00] maxandersen commented on #5957
btw. looks like https://www.baeldung.com/quarkus-extension-java have a good start - i haven't tested if it works :)

[2019-12-06 05:25] geoand commented on #5974
Hi,

The pom does looks like it's importing the BOM. Would it be possible for you to share a minimum version of the project that exhibits this behavior so we can debug?

One thing I noticed that is (probably) unrelated is the use of springfox for Swagger which won't work. Swagger will be supported when [this](https://github.com/quarkusio/quarkus/issues/4693) issue is addressed.

[2019-12-06 05:28] geoand commented on #5971
Hello,

Indeed Spring's `rest-template` is not supported by Quarkus. I would suggest that instead you use the `rest-client` extension as is described [here](https://quarkus.io/guides/rest-client)

[2019-12-06 05:30] geoand commented on #5971
I am going to close this since it's unlikely we will support the rest-template.

Thanks for trying Quarkus and please file any other issues you might encounter.

[2019-12-06 05:30] #5971 closed

[2019-12-06 06:52] maxandersen commented on #5962
For this I'm not really talking about having a full blown module system; but more an extension system - maybe a better analogy is a "marketplace" like vscode, eclipse, intellij marketplace - its about having a place where the quarkus extensions are possible to find, links to documentation, etc.

[2019-12-06 07:26] mkouba commented on #5955
@nimo23 `@PostConstruct` and `@PreDestroy` are not EJB annotations and both callbacks are supported on CDI beans. Also both the application and singleton context are destroyed during the app shutdown. So any existing bean instance of a bean with the `@ApplicationScoped` or `@Singleton` scope is destroyed during shutdown.

Currently, the following snippet works just fine:

[code]

[2019-12-06 07:37] mkouba commented on #4606
So there is a backward incompatible change in the scheduler API for 1.1.0 - the `Scheduler#startTimer()` method was removed (we believe it was a mistake). In other words, programatic scheduling is not supported anymore. Furthermore, the default scheduler implementation does not create its own thread pool anymore.

I think that we can close this issue.

Note that thte scheduler extension was marked

[2019-12-06 07:55] pschyma commented on #5968
Hi,

I have the same issue. My current solution is to modify the assembly to include the necessary files and use a custom `bootstrap` script. Additionally I had to add many things to proxy and reflection configuration for GraalVM depending on the services used. I wonder if there is an easier approach or if we need to wait for the rewrite of the AWS plugins.

[code]
[code]

[2019-12-06 07:59] mkouba commented on #5970
@InfoSec812 I've just tried to build the project with `mvn clean install` and I get:
[code]
And I get the same error when running the `1-build-js-client.sh ` script. Is there any further configuration required?

Should I use the master or the `switch-to-maven-multimodule` branch?

[2019-12-06 08:44] nimo23 commented on #5955
yes, `@PostConstruct` and `@PreDestroy` are CDI annotations. However, instead of annotating the bean with `@Startup` which calls automatically `@PostConstruct`, in quarkus I add the `@Startup` to a method, and when this method is called the bean also calls the `@PostConstruct` because the bean is instantiated. The same would go for a `@Shutdown` which destroys the bean and calls implicitly `@PreDe

[2019-12-06 09:24] mkouba commented on #5955
Not really, those annotations come from `javax.annotation` and are supported by both EJB and CDI.

That was the original intention of this issue. My point was that:
1. From impl POV it would be easier to add a callback interface
2. Observers are well-defined in the CDI world and so we don't have to re-invent the wheel and handle all corner cases. For example, what happens if you declare the `@Star

[2019-12-06 09:29] loicmathieu commented on #5800
Fixed via #5937

[2019-12-06 09:30] #5800 closed

[2019-12-06 09:43] nimo23 commented on #5955
yes, you are right. Using observers for `@Startup` makes sense.

To be honest, I have never a need to use `@DependsOn` and I think it can be easily achieved by alternatives (such as a @Startup-method which simply calls a sequence of other methods.)

[2019-12-06 09:54] nimo23 commented on #5955
Maybe using cdi stereotype where

[code]

is the same as

[code]

[2019-12-06 09:59] geoand commented on #5823
@aureamunoz will you have time to get this one in for 1.1 (which is in a few days)? If not, please let me know so I can take it since it would be nice to have a fix for it.

Thanks

[2019-12-06 10:03] uaihebert commented on #5823
hello, here there is the project that reproduces this issue:
https://github.com/uaihebert/quarkus-small-issues

If you search for ISSUE-3 in the code you will be able to find the query that is failing

[2019-12-06 10:15] pedroigor commented on #5959
@gsmet I have tested changes from @stuartwdouglas and they will serve as a baseline for this fix. Once the PR is merged I'll apply other minor changes and we should be good.

[2019-12-06 10:28] tpenakov commented on #5959
@pedroigor - You are referring fix in Resteasy. Is this means that the fix will not going to work for Reactive Routes?

[2019-12-06 10:32] geoand opened #5980 "Quarkus shows warning messages for properties that are actually used but not part of config classes"
**Describe the bug**
It seems like the big config PR removed he list of false positives keys that wouldn't trigger a warning when set.

**Expected behavior**
Setting `-Dquarkus.profile` (as is mentioned for example [here](https://quarkus.io/guides/config#configuration-profiles)) should not trigger the logging of any warning.

**Actual behavior**
Setting `-Dquarkus.profile` yields:

[code]

**To Re

[2019-12-06 10:33] geoand commented on #5980
cc @dmlloyd

[2019-12-06 10:38] loicmathieu commented on #3306
@Sanne `@CacheInvalidate` is a side effect annotation, I expect side effect to occurs only after a method successful invocation (it's more a design best practice).

One use case I can think of is for a method that will have both `@CacheInvalidate` and `@CacheResult` in order to replace a cache item inside the cache. If this method takes long time to compute and the invalidation happens before but

[2019-12-06 10:50] emmanuelbernard commented on #3306
I don't tend to rule in absolute, while the invalidation is a side effect, it is the safer choice to over invalidate than to under invalidate. At least safer for your data.

[2019-12-06 10:59] gastaldi commented on #5980
Duplicate of https://github.com/quarkusio/quarkus/issues/5855?

[2019-12-06 11:00] geoand commented on #5980
Yes it is. Although I'm pretty certain that it's not a `Good first issue` :), that is unless I missed something

[2019-12-06 11:05] gastaldi commented on #5980
According to @stuartwdouglas, the fix is to create a Config object for the missing properties, that's why I marked as a good first issue :)

[2019-12-06 11:06] geoand commented on #5980
That works for sure. But there are plenty of properties that need to be ignored: https://github.com/quarkusio/quarkus/blob/1.0.1.Final/core/deployment/src/main/java/io/quarkus/deployment/configuration/ConfigDefinition.java#L70

so I'm not sure if adding all those Config objects is the right way to go.

[2019-12-06 11:18] Sanne commented on #3306
thanks @loicmathieu , it's a good point to keep in mind, although I prefer like @emmanuelbernard said to be safe by default. We haven't talked about transactional caches, but in case we wish to get there we should also consider isolation levels for such semantics.

Specifically for your use case of the long running computation; it sounds like you would favour reading the possibly out-of-date data

[2019-12-06 11:22] geoand commented on #5823
Thanks for the link @uaihebert !

[2019-12-06 11:30] gsmet commented on #5980
I think it's OK to create a proper config for these. @gastaldi did you plan to work on it? I think we need it for CR so basically today.

If nobody's working on it, I'll do it.

[2019-12-06 11:31] gastaldi commented on #5980
Nope, I'll leave the fun for you this time ;)

[2019-12-06 11:31] geoand commented on #5980
Having Config objects still won't solve the problem for `quarkus.profile` and `quarkus.version`

[2019-12-06 11:33] gsmet commented on #5980
@geoand why?

[2019-12-06 11:36] geoand commented on #5980
What Config object would you use to capture `quarkus.profile`? I guess there is some fundamental piece I am missing :)

[2019-12-06 11:45] sberyozkin opened #5982 "Map config item with the map values gets the wrong keys"
**Describe the bug**

With this config item:
[code]

the first segment following the name of the config item (`pdf`) is lost.

Before the major config update I was seeing the map initialized as follows, given the above config fragment:

`pdf` (key):  `sort-by-position` = `true` (single entry map value, `sort-by-position` - key, `true` - value)

Now I'm seeing:

`sort-by-position` (key):  `sort-by-

[2019-12-06 11:47] gsmet commented on #5980
Hum. That's a good question.

Maybe a config root called `profile` and then a config item with a `ConfigItem#PARENT` name would work.

@dmlloyd is there a cleaner trick we could use? If at some point we want to add a `quarkus.locales` thing, it might be nice to have a proper config root with all these root properties.

[2019-12-06 11:48] pieterdegraeuwe commented on #3592
I'm facing the same issue.
It seems this issue is already fixed, but I can't see if this fix is already in the latest release (1.0.1.Final)
Anyhow, I did build quarkus locally (using 999-SNAPSHOT), but still getting

`java.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/Users/Pieter/.m2/repository/io/quarkus/quarkus-spring-web/999-SNAPSHOT/quarkus-spring-web-999-SNAPSHOT.jar
	at ja

[2019-12-06 11:49] gsmet commented on #5982
@dmlloyd Dunno how hard it will be to get this fixed but we would probably need a fix for 1.1.0.

[2019-12-06 11:51] gsmet commented on #5976
So basically you would want to inject the Locale as resolved per the `Accept-Language` header in a JAX-RS method?

I don't know if it's supported. If it were, you would have to add a `@Context Locale locale` but can't say if it will work.

@asoldano any idea?

[2019-12-06 11:53] gsmet commented on #3592
@pieterdegraeuwe can we see the full stacktrace, please?

[2019-12-06 12:00] gsmet commented on #5947
@ia3andy can you clarify the bug of the last comment? If you we get back to it in a week, we will have forgotten what it is about.

[2019-12-06 12:04] pieterdegraeuwe commented on #3592
`java.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/Users/Pieter/.m2/repository/io/quarkus/quarkus-spring-web/999-SNAPSHOT/quarkus-spring-web-999-SNAPSHOT.jar
	at java.base/sun.nio.fs.WindowsPathParser.normalize(WindowsPathParser.java:182)
	at java.base/sun.nio.fs.WindowsPathParser.parse(WindowsPathParser.java:153)
	at java.base/sun.nio.fs.WindowsPathParser.parse(WindowsPathParse

[2019-12-06 12:05] gsmet commented on #5817
@uaihebert sorry, I missed your comment somehow. The best solution would be to create the templates. I think they would be useful, at least for Kotlin (not totally sure about Scala as I'm not sure Spring Web + Scala is a common combination).

@geoand WDYT?

[2019-12-06 12:05] gsmet commented on #5400
@mkouba is this still on track for 1.1.0? Meaning basically tonight :)

[2019-12-06 12:07] geoand commented on #5980
The old exclude list also had `quarkus.version`

[2019-12-06 12:07] pieterdegraeuwe commented on #3592
The manifest contains the following:
`Manifest-Version: 1.0
Class-Path: /C:/Users/Pieter/.m2/repository/io/quarkus/quarkus-spring-we
 b/999-SNAPSHOT/quarkus-spring-web-999-SNAPSHOT.jar /C:/Users/Pieter/.m2
 /repository/io/quarkus/quarkus-spring-di/999-SNAPSHOT/quarkus-spring-di
 -999-SNAPSHOT.jar /C:/Users/Pieter/.m2/repository/io/quarkus/quarkus-re
 steasy-jackson/999-SNAPSHOT/quarkus-resteasy-ja

[2019-12-06 12:07] geoand commented on #5817
Ouch... Yeah, we need to fix this one

[2019-12-06 12:11] geoand commented on #5817
I'm on it, I'll have a PR momentarily

[2019-12-06 12:22] geoand commented on #5817
PR is: https://github.com/quarkusio/quarkus/pull/5983.

I tested it locally and everything works

[2019-12-06 12:23] mkouba commented on #5400
@gsmet Nope. But it's still on track for future versions ;-).

[2019-12-06 12:32] paulrobinson commented on #5706
@emmanuelbernard it sounds like @Sanne is the lead for this Epic, is that right?

[2019-12-06 12:32] paulrobinson commented on #5711
@emmanuelbernard are we ready to assign a person to this Epic?

[2019-12-06 12:33] paulrobinson commented on #5634
@emmanuelbernard are we ready to assign a person to this Epic?

[2019-12-06 12:34] paulrobinson commented on #5701
@emmanuelbernard are we ready to assign a person to this Epic?

[2019-12-06 12:35] paulrobinson commented on #5701
@emmanuelbernard also, is it 50% or 80% coverage that we seek? There seems to be an inconsistency between the title and the first sentence of the description.

[2019-12-06 12:38] paulrobinson commented on #5707
@emmanuelbernard is it @cescoffier that we need to lead this Epic?

[2019-12-06 12:40] paulrobinson commented on #5637
@emmanuelbernard I think you closed this as a duplicate. I'll remove it from the project so that it doesn't give the impression that this work is complete.

[2019-12-06 12:43] emmanuelbernard commented on #5707
yes

[2019-12-06 12:43] emmanuelbernard commented on #5701
Jan has been leading the charge and Loic has been involved too

[2019-12-06 12:44] emmanuelbernard commented on #5634
It's Davide, Stef, Gavin, Martin and Sanne

[2019-12-06 12:44] machi1990 commented on #5980
The good thing with having a config root handling these false unknowns is that they'll be properly documented with the generated documentation.

[2019-12-06 12:45] emmanuelbernard commented on #5711
yes don't know who though.

[2019-12-06 12:46] emmanuelbernard commented on #5706
yes

[2019-12-06 12:47] paulrobinson commented on #5701
I've assigned to @jmartisk based on the definition of Epic lead/assignee here: https://github.com/quarkusio/quarkus/wiki/High-Level-Planning-Process#ive-been-assigned-an-epic-what-do-i-need-to-do.

Any linked sub-issues would be assigned to whoever is responsible for that part of the work. It sounds like that is where @loicmathieu would become assignee.

[2019-12-06 13:20] jaikiran commented on #4606
Thank you @mkouba. Closing based on Martin's input.

[2019-12-06 13:20] #4606 closed

[2019-12-06 13:25] jaikiran commented on #3592
Hello @pieterdegraeuwe,

Those entries in the Manifest file are "fine" (at least in the context of what we are seeing here). In 1.0.1.Final, we fixed this in a different way by not including this jar file in the list of jar files that we pass to the programatic compilation API.

Can you get us the `DEBUG` level logs of `io.quarkus.dev` package?

[2019-12-06 13:30] geoand commented on #5855
Closing in favor if #5980 (which contains a larger discussion).
Sorry @gastaldi :P

[2019-12-06 13:30] #5855 closed

[2019-12-06 13:35] jaikiran commented on #3592
Hello @pieterdegraeuwe, I just noticed that you mentioned you are using `999-SNAPSHOT` of Quarkus. If that's the case, then the entries in the Manifest file should actually be `file` scheme absolute URLs. Are you sure the `999-SNAPSHOT` is actually the latest one from `master`? How did you build it and what does your pom.xml look like?

[2019-12-06 13:42] pieterdegraeuwe commented on #3592
the pom.xml of the quarkus-parent shows this:
    <groupId>io.quarkus</groupId>
    <artifactId>quarkus-parent</artifactId>
    <name>Quarkus - Parent pom</name>
    <version>999-SNAPSHOT</version>
    <packaging>pom</packaging>

this is the current logging:
2019-12-06 14:36:27,109 INFO  [io.quarkus] (main) Quarkus 999-SNAPSHOT started in 1.969s. Listening on: http://0.0.0.0:8080
2019-12-06 14:36:

[2019-12-06 13:49] pieterdegraeuwe commented on #3592
[consoleoutput.log](https://github.com/quarkusio/quarkus/files/3932420/consoleoutput.log)

The last loging '!!!!! is something of me, I've added in the JavaCompilationProvider, just before fileManager.setLocation(...) is called

[2019-12-06 13:55] dmlloyd commented on #5980
For root properties, either create a group and use the parent name like suggested above, or else we could enhance the config parser to support empty root names.  Either way isn't too hard.

[2019-12-06 13:59] geoand commented on #5980
The second solution seems more intuitive to me.

[2019-12-06 14:01] dmlloyd commented on #5980
I'll have a patch ready in moments ;)

[2019-12-06 14:02] geoand commented on #5980
:100:

[2019-12-06 14:04] nimo23 commented on #646
@emmanuelbernard are there any chance to use `hibernate-panache` also in wildfly or is and will it only be exclusivly available for quarkus?

I think, `hibernate-orm` will also benefit from panache capabilities. Having something like `hibernate-panache` would simplify hibernate development in general.

[2019-12-06 14:07] FroMage commented on #646
The problem is that this relies on build-time enhancements inherent in Quarkus. Someone could write an APT processor to do the same, I guess.

[2019-12-06 14:13] jaikiran commented on #3592
I see what's happening. So you are using Gradle and looks like we missed adding these fixes into the Gradle plugins and just focussed on Maven (ouch!). I'll send a PR.

[2019-12-06 14:32] jaikiran commented on #3592
Hello @pieterdegraeuwe, I've opened https://github.com/quarkusio/quarkus/pull/5988. If you can give it a try against your setup and see how it goes, that would be helpful.

[2019-12-06 14:37] #3904 closed

[2019-12-06 14:37] #4568 closed

[2019-12-06 14:43] pieterdegraeuwe commented on #3592
Ok, I'll give it a try. I'll keep you posted!

[2019-12-06 15:03] pieterdegraeuwe commented on #3592
PR does not fix it.
To be honest, I don't underdstand what this PR should fix. It sets now the jarfile on the DevModeContext.
I see that the ClassLoaderCompiler checks for this file.

However, the error occurs BEFORE the compilation is comilation is started.: In JavaCompilationProvider:48 (setLocation)

[2019-12-06 15:07] jaikiran commented on #3592
Can you attach/share the generated -dev.jar file with this change introduced in the PR?

[2019-12-06 15:10] geoand commented on #5980
Who wants to take this after #5989 is in? If no one wants to, I can do it

[2019-12-06 15:16] ia3andy commented on #5947
@gsmet here is a better description of what I meant:

An exception is thrown when using this without providing `my-prop`:
[code]
It should not fail and instead give a `Optional.empty` (as described by @dmlloyd above)

Note:
Adding `defaultValue=""` makes it work and return `Optional.empty`
[code]

[2019-12-06 15:18] pieterdegraeuwe commented on #3592
[test-api-unspecified-dev.zip](https://github.com/quarkusio/quarkus/files/3932810/test-api-unspecified-dev.zip)

The manifest does not contain file: urls.

[2019-12-06 15:20] jaikiran commented on #3592
I'm guessing the latest gradle plugin (with this code change) didn't get used to build this jar. I'm not saying you didn't build the latest, but I'm just not sure the gradle plugin used during this application build is the one which has the fix.

[2019-12-06 15:20] mkouba opened #5992 "ArcProcessor - ApplicationClassPredicate only considers the root application archive"
This could cause problems in the dev mode for multi-module Maven projects.

[2019-12-06 15:21] dmlloyd commented on #5982
I wrote a test for this case... and the test passes.  The keys are correctly mapped.  I'll keep trying to reproduce though.

[2019-12-06 15:27] sberyozkin commented on #5982
@dmlloyd You can reproduce it real fast in `integration-tests/tika` with `mvn test -Dtest=TikaPdfInvoiceTest` in #4360.

[2019-12-06 15:47] jaikiran commented on #5942
This does indeed look like an issue. I will see if I can reproduce this and see what's causing this, sometime over the weekend.

[2019-12-06 15:48] rsvoboda opened #5993 "integration-tests/jackson fails in native mode"
integration-tests/jackson fails in native mode, I see it on latest macOS with latest GraalVM, I see it on RHEL 7 with latest GraalVM too

[code]

Interesting part is https://github.com/quarkusio/quarkus/blob/master/ci-templates/stages.yml#L328 which means CI is passing (probably).

[code]

[2019-12-06 16:01] pieterdegraeuwe commented on #3592
You are correct.
It took me a while to find out why my locally built plugin was not used.
It seems that the name of the plugin did change (recently).

I've generated my testproject on code.quarkus.io. (as a gradle project).
the build.gradle does contain this:

[code]

Looking at the installed artifacts when I was building quarkus locally, I saw (after a while) a subtle difference in the artifactna

[2019-12-06 16:37] Teg79 opened #5994 "No UserPrincipal in SecurityContext with @PermitAll in test mode"
**Describe the bug**
A Rest method with a `@Context SecurityContext ctx` param works from Postman in Dev mode but in test mode it returns a null Principal

**Expected behavior**
The call to `ctx.getUserPrinipal()` must return the current logged username

**Actual behavior**
From tests `ctx.getUserPrinipal()` returns null

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project wi

[2019-12-06 16:39] rsvoboda commented on #5993
Ok, there is problem with CI, it's not executing sub-modules for jackson
https://github.com/quarkusio/quarkus/tree/master/integration-tests/jackson

https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=13173&view=logs&jobId=c27ee6a9-ba10-582a-72b6-8a770e76588d

[code]

[2019-12-06 16:41] rsvoboda commented on #5993
@misl / @geoand / @machi1990 can you take a look ?

[2019-12-06 16:55] MartinX3 commented on #1374
Thank you for the workaround here
https://github.com/aesteve/quarkus-test/blob/2e59516162298c67e54d812eca2753a7a21912c1/build.gradle.kts#L21-L28
I got the same error with the newest gradle / kotlin / quarkus and this fixed it.

[2019-12-06 17:05] geoand commented on #5993
I'll take a look soon

[2019-12-06 17:10] #5959 closed

[2019-12-06 17:11] #5817 closed

[2019-12-06 17:19] #5829 closed

[2019-12-06 17:23] uaihebert commented on #5942
hello @jaikiran thank you for the help

If you need any other input just let me know. I do not have yet this deep knowledge in the framework to find this problem.

this is a big pain for us now because if we have a new migration I need to run locally pointing to staging or production because the deploy fails when the project runs inside a docker container.

[2019-12-06 17:23] sberyozkin commented on #5829
@piotrgwiazda thanks, so we have this solution and with the VertxOauth2 update it will work OOB anyway, though with the merged PR you can also check the audience which would be a good idea, cheers

[2019-12-06 17:31] gsmet commented on #5993
if I follow @rsvoboda instructions, I have a NPE even in JVM mode.

[2019-12-06 17:45] dmlloyd commented on #5982
I have a fix, but #5989 has to be merged first due to conflicts.

[2019-12-06 17:45] manovotn commented on #5992
Can you elaborate on what problems do you mean?

[2019-12-06 17:46] sberyozkin commented on #5982
@dmlloyd thanks, I will follow up with the #4360 rebase after the fix is in

[2019-12-06 17:56] pedroigor commented on #5959
I was just talking about reusing some class to fix the issue, which is part of the PR that fix this issue.

AFAIK, you should also have it working for reactive routes as per changes from Stuart.

[2019-12-06 18:07] dmlloyd commented on #5947
This is fixed in upstream with smallrye/smallrye-config#209.

[2019-12-06 18:09] sberyozkin opened #5996 "OIDC Claim Annotation based authorization"
**Description**
JWT token contains a lot of claims which can be used to support a generic claim based authorization beyond what can be offered by mapping the role claims to `@RolesAllowed`.

**Implementation ideas**

We can start with introducing the annotations such as `@AuthenticationMethod`/etc mapping to the well-known OIDC claims, for example, given `"amr": ["iris"]` ([RFC8176](https://tools.

[2019-12-06 18:15] sberyozkin commented on #5996
I've dropped a requirement for smallrye-jwt but may be it should be included as well, since it also works with JWT. The only issue is that with smallrye-jwt we don't know for example, if a claim like `amr` was set by a self-issuing client or not.

[2019-12-06 18:18] pedroigor commented on #5996
@sberyozkin What about providing a `HttpSecurityPolicy` for path-based protection ?

I'm also wondering if we could use `HttpSecurityPolicy` to enforce access based on annotations ...

[2019-12-06 18:32] sberyozkin commented on #5996
Hi @pedroigor sure, I guess we can use one of the existing security mechanisms to enforce such annotations, this issue is mainly about introducing some cool factor into the OIDC protected applications :-), instead of for example of the users getting an `amr` claim manually from `JsonwebToken` and parsing it, etc.
What do you mean about a path based protection ? It is also possible, no ?

[2019-12-06 18:48] jglick commented on #4606
Meaning what, that this package is not unusable except for cron-like tasks, and for everything else I would need to use `java.util.concurrent` or the like directly?

[2019-12-06 18:55] pedroigor commented on #5996
Sorry, I mean through the properties file ...

[2019-12-06 19:23] sberyozkin commented on #5996
That is fine; that could be another issue I guess (One caveat is that with the properties files the runtime init is not possible but we can discuss that separately for sure) thanks

[2019-12-06 19:33] geoand commented on #5993
I've identified the issue and I'll have a PR shortly

[2019-12-06 19:39] geoand commented on #5993
#5997 should take care of it

[2019-12-06 20:36] JuMp3 commented on #5976
Thanks guy; I tried and if set Content-Type in header as json i've not runtime error, but the locale is null :D so I think there will be some other way to do it.
Thanks a lot anyway for the timely reply ;)

[2019-12-06 20:51] JuMp3 commented on #5974
It seems that removing the dependencies of swagger works :) thanks a lot!

[2019-12-06 20:55] geoand commented on #5974
Great to hear! So I'll close this issue and be sure to keep an eye on the OpenAPI issue for upcoming Swagger support

[2019-12-06 20:55] #5974 closed

[2019-12-06 20:59] misl commented on #5993
@geoand can you explain what you identified?

I see a lot of changes which look like refactoring to me, but I can not clearly see what actual root cause got solved. Was it CI or was it the testcases itself?

[2019-12-06 21:03] geoand commented on #5993
The basic problem was a change I had introduced regarding retrieval of the ObjectMapper.

CI was also sort of misconfigured due to the fact that the project was a multi module project

[2019-12-06 21:04] misl commented on #5993
BTW, multi module was actually by design. Initially I ran into issues with stuff missing when building native. Back then I created a reproducer which I later modified into these test cases. So I wonder if changing it into single module will actually reproduce the original case.

[2019-12-06 21:09] geoand commented on #5993
I understand, but I am pretty sure that cases are being addressed now.
Furthermore I wanted this integration test to be similar to the others we have to keep things consistent.

[2019-12-06 21:28] misl commented on #5993
It is good that you are confident, but I have my doubts. That tests still run fine is no guarantee that the actual code flow is exactly the same in case of single module. If I understood correctly in single module the Jackson annotated model classes will be indexed. In the multi module scenario they were not. So I wonder if the test scenario is still the same.

See #3652 for the original issue.

[2019-12-06 21:35] geoand commented on #5993
One could argue that we should take the same approach for modules we have, but we haven't so far :).

If an issue arises that requires that we specifically use a multi-module test, we can always reconsider.

[2019-12-06 21:46] gsmet commented on #5993
My understanding of the original issue is that multi module was not the issue. So I think we will be fine.

[2019-12-06 22:07] misl commented on #5993
Indeed multi module was not the issue itself, but quote from #3562 `Both the model and builder are in a separate (reusable) jar library`. How to reproduce this separate jar library in a test case without using multi module?

Sorry for being persistent, but I am just worried that future changes might break things unnoticed.

Also it is a pity to see README gone for which I got a 100  ([see here](ht

[2019-12-06 22:20] geoand commented on #5993
We can't of course guarantee that nothing will break, but we are pretty confident that the extension and the test cases are good.
Moreover from a maintenance perspective, having integration tests that are consistent across all extensions is a huge plus. The past month or so every time I looked at this integration test I was getting the feeling that it was a little odd due to module split. That cou

[2019-12-06 22:25] jkwasniak commented on #5897
I have the same problem.

[2019-12-06 22:28] SlyngDK opened #5998 "JaxRS Security wrong content-type"
**Describe the bug**
When security is enabled, and you are calling a JaxRS endpoint, without any matching roles.
The "Forbidden" is return as plain text, but content-type is "application/json".

**Expected behavior**
Returned with content-type matching content.

**Actual behavior**
The "Forbidden" is return as plain text, but content-type is "application/json".

**To Reproduce**
Reproducer can be

[2019-12-07 00:46] sherl0cks commented on #4254
@oztimpower was there a resolution to this on lambda? The suggestions for OpenShift do not work on lambda for me.

[2019-12-07 00:57] gwenneg commented on #5682
It seems I found the cause and it looks very much like a GraalVM bug. The good news is that there's an easy and harmless workaround in Quarkus so it shouldn't be a problem for our GraalVM 19.3.0 JDK 11 support :) This needs to be confirmed with some extensive tests which I will run tomorrow.

[2019-12-07 01:14] #5993 closed

[2019-12-07 03:54] jaikiran commented on #3592
Hello @pieterdegraeuwe, thank you for reporting this and verifying the fix. The PR has been merged and the fix should be available in next Quarkus release.

As for the artifact id change for the gradle plugin, I've pinged the relevant developers so that they can help with whatever is needed to update code.quarkus.io.

[2019-12-07 05:48] SetoKaiba commented on #5883
Is there any update for it?

[2019-12-07 06:25] cielo opened #6001 "Syscall warnings while running Quarkus in Google Cloud Run."
I am excited with Quarkus, so I tried running it in Google Cloud Run to test out running app serverless with low startup latency.

When I build the docker image (using Dockerfile.jvm variant that is included) of [gettingstarted](https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started) quickstart project and deploy it to Cloud Run, the page loads fine in the browser, but I am s

[2019-12-07 09:13] nimo23 commented on #3106
Maybe templating can be done by  [Jakarta Expression Language](https://projects.eclipse.org/projects/ee4j.el)?

[2019-12-07 13:36] gwenneg commented on #5682
@gsmet: How would you like to communicate in the doc about the GraalVM + JDK 11 support in Quarkus? Since CI doesn't run JDK 11 native tests for now, I suppose we can't just write that we provide a production-grade support. Should it be qualified as `preview` in the doc instead?

[2019-12-07 13:39] gunnarmorling commented on #5950
PR is at https://github.com/quarkusio/quarkus/pull/6002

[2019-12-07 14:29] jaikiran commented on #5942
Hello @uaihebert, I was able to reproduce this (even without docker) and I've opened https://github.com/quarkusio/quarkus/pull/6003 with a potential fix.

[2019-12-07 15:37] oztimpower commented on #4254
Hi @sherl0cks yes the issue was resolved for Amazon Lambda. I recall seeing a similar question about OpenShift that forcing the /tmp folder did not work. Recommend you search the issues or create a new issue to track it.

[2019-12-07 16:51] #4793 closed

[2019-12-07 17:03] Dufgui commented on #5236
hello. I am back and i will try this one.

[2019-12-07 17:03] gsmet commented on #5682
@gwenneg well, GraalVM says the JDK 11 support is preview for them so it will be for us too.

That being said, we need to tackle the CI issue.

[2019-12-07 18:54] Sergey80 opened #6004 "Quarkus wrong tracing for async rest-client calls. Hierarchy of calls at jaeger"
**Describe the bug**
https://stackoverflow.com/questions/59221305/quarkus-tracing-for-async-rest-client-calls-hierarchy-of-calls-at-jaeger

**Expected behavior**
span would be generated properly with the call hierarchy in mind (span-parent: span-child), even for async calls.

**Actual behavior**
spans are generated independently for each async call

--
I may miss something. But may expectation it

[2019-12-07 19:35] benneq commented on #5211
I have a similar issue, but with a completely different use case:

My Quarkus app is running behind an API Gateway. The API Gateway is responsible for validating the JWT. Though it's unnecessary to validate the JWT again within the Quarkus app. **But** I still want to be able to access the JWT's payload.

The request flow works like this:
1. Client sends request to `https://example.org/foo/bar`
2.

[2019-12-07 19:58] Sergey80 commented on #3578
seems still a problem for me at quarkus 1.0:
https://stackoverflow.com/questions/59229567/resteasy002020-unhandled-asynchronous-exception-with-quarkus-1-0-final-and-rest

[2019-12-07 20:32] Sergey80 opened #6006 "RESTEASY002020: Unhandled asynchronous exception with quarkus 1.0 Final and RestEeasy JAX-RS Resource"
**Describe the bug**

https://stackoverflow.com/questions/59229567/resteasy002020-unhandled-asynchronous-exception-with-quarkus-1-0-final-and-rest

**Expected behavior**
No exception,

**Actual behavior**
RESTEASY002020: Unhandled asynchronous exception, sending back 500: java.lang.NullPointerException

**To Reproduce**
Steps to reproduce the behavior:
1. use similar to this code (that prove that

[2019-12-07 20:53] jclingan commented on #5920
One interesting use case that came up at KubeCon is that some organizations (banks, Gov) don't allow  Docker on the desktop. If this could be done in a manner that that did not require a local docker registry it would address the needs of more secure environments.

[2019-12-07 21:27] maxandersen opened #6007 "Use jib to generate container images during build phase"
**Description**
jib allows you to make container images directly from java. Would be interesting to have a quarkus extension that would during build directly make the container image well knowing the various layers of dependencies and app allowing for fast and efficient image generation WITHOUT requiring docker nor podman installed for the build.

**Implementation ideas**
Idea came from @gunnarmor

[2019-12-07 21:41] gunnarmorling commented on #5920
Might be provided via https://github.com/quarkusio/quarkus/issues/6007

[2019-12-07 21:41] maxandersen commented on #5920
@jclingan #6007 talks about generating the container - you'll still need a registry to push to from whereever you build and then pull from it where you want to run it. With this you can do the build but still can't run it...

[2019-12-07 21:45] maxandersen opened #6008 "Add version check of graalvm / javavm's into build tasks"
**Description**
With all the funky version combinations we are ending up with using bleeding edge graalvm it would be useful if we would at least print a warning if users are using a graalvm / javavm's version combinatons that is not the recommended one.

**Implementation ideas**
like current master should warn if you use graalvm < 19.3; and jdk target > 8.

[2019-12-07 21:48] geoand commented on #6008
It does [fail](https://github.com/geoand/quarkus/blob/8a1c12d268ac2b03f9eb7f86f436800beac09944/core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java#L316) if the GraalVM version is not the anticipared one and I recall seeing the error recently.
What scenario did you encounter were the failure wasn't being displayed?

For jdk target > 8 indeed I don't think there i

[2019-12-07 21:50] geoand commented on #5998
@sberyozkin @stuartwdouglas I assume this is a bug right? I am not sure what the proper behavior should be in this case.

[2019-12-07 22:22] uaihebert commented on #5942
@jaikiran thank you very much! that is good news!

[2019-12-07 22:31] #3702 closed

[2019-12-07 22:42] #5731 closed

[2019-12-07 22:47] gwenneg opened #6009 "quarkus-integration-test-kafka build fails in native mode with JDK 11"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior from the `master` branch:
1. (Optional) Set the `JAVA_HOME` environment variable to a JDK 11 installation directory (OpenJDK 11 or GraalVM 19.3.0 JDK 11 edition). Add the JDK 11 `bin` directory to the path.
2. (Optional) Run `./mvnw clean install -Dmaven.test.skip=true` to build all the Quarkus sources with the JDK 11.
3

[2019-12-07 22:48] geoand commented on #5994
This turns out to be due to how REST Assured handles basic auth.

Basically the problem is that REST Assured does not send the authentication header unless it receives a challenge when used the way you show.
To force REST-Assured to always send the auth headers, you need to use something like:

[code]

where I added **preemptive** to what you had. You can read more about this here: https://github.

[2019-12-07 22:48] #5994 closed

[2019-12-07 22:51] gsmet commented on #6008
For the record, it didn't fail if you were using a plain JDK to build and GraalVM only to build the native image.

I fixed that a few days ago in master: https://github.com/quarkusio/quarkus/pull/5972 .

[2019-12-07 23:02] geoand commented on #6009
I remember @dmlloyd had added https://github.com/quarkusio/quarkus/blob/master/extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java#L127 to get over some kind of similar issue in the past.

[2019-12-07 23:07] #5980 closed

[2019-12-07 23:09] gwenneg commented on #6009
@geoand You remember right, I making some changes in this area as we speak :)

[2019-12-07 23:11] geoand commented on #6009
Cool!

[2019-12-07 23:40] maxandersen commented on #6008
ah - so its fixed in master already ? then closing this down :)

[2019-12-07 23:40] #6008 closed

[2019-12-08 00:02] majonga88 opened #6010 "Cannot access to swagger-ui page when native image is running"
Hi folks,

Following this guide : https://quarkus.io/guides/openapi-swaggerui
And this project : https://github.com/quarkusio/quarkus-quickstarts/tree/master/openapi-swaggerui-quickstart

I check the swagger-ui path after execute : `mvn quarkus:dev`, i have the swagger page, on this path `http://0.0.0.0:8080/swagger-ui`

But when i ran the native image with these following commands :

`mvn package

[2019-12-08 00:51] Karm opened #6011 "quarkus-credential FORM auth cookie does not get renewed in the expected way"
There are three generally accepted behaviors for timeout and renewal for credential session cookies.

1. [absolute-timeout](https://cheatsheetseries.owasp.org/cheatsheets/Session_Management_Cheat_Sheet.html#absolute-timeout)
1. [idle-timeout]( https://cheatsheetseries.owasp.org/cheatsheets/Session_Management_Cheat_Sheet.html#idle-timeout)
1. [renewal-timeout](https://cheatsheetseries.owasp.org/che

[2019-12-08 05:51] see-quick opened #6014 "Example for websocket client"
**Description**
Before i start i also looked at https://quarkus.io/guides/websockets, but this not help my use case.

As an user,  i want to web socket secure client, because i need to download dozens of data. The example should just show how easy can be wss client written in Quarkus. Moreover, it would be great if that client download data from some wss (stream) and do some agregation of that dat

[2019-12-08 08:50] maxandersen commented on #5897
is this not a true duplicate of #5196 ?

[2019-12-08 10:32] gunnarmorling opened #6015 "Support CDS (class-data sharing)"
**Description**

Dynamic CDS Archives ([JEP 350](https://openjdk.java.net/jeps/350)) are a feature new in JDK 13 that allows to compile an archive of classes accessed by an application at system exit, which then can used for class-data sharing in future runs of the application.
That way, classes are pre-verified and the archive file is memory-mapped, reduced in decreased start-up time.

Creating a

[2019-12-08 10:53] #6009 closed

[2019-12-08 11:13] gunnarmorling commented on #6015
One interesting question is how to make creation of the CDS archive file as simple as possible. One approach would be to do so while running the test suite, which -- if it's reasonably extensive -- should trigger the load of all classes of the application. In that case the user would not have to run any extra recording run.

One challenge with that approach is that -- IIUC -- classpaths for produc

[2019-12-08 11:41] #5950 closed

[2019-12-08 11:58] gsmet commented on #6010
Did you add:
[code]
to your `application.properties`?

[2019-12-08 12:08] majonga88 commented on #6010
Yes it works, apologize i miss read the paragraph for production environment, could you please change the label bug to question ?

Thank you again.

[2019-12-08 12:12] sberyozkin commented on #5998
@geoand Hi, not sure yet
@SlyngDK what do you mean `Forbidden` is returned as Plain text ?
Do you see something being returned in the body, beyond the `403` HTTP status ?
`Content-Type` is probably just redundant...(should not be returned at all)

[2019-12-08 12:29] geoand commented on #5998
Thanks for checking @sberyozkin !

[2019-12-08 12:36] KaenDagger commented on #5267
Do I also have to implement the banner as extension just like in the quarkus-superheroes-workshop ?

[2019-12-08 12:43] jaikiran commented on #6015
I remember there was a thread in OpenJDK mailing list around a year back, where Volker Simonis had linked to this tool https://github.com/simonis/cl4cds (he's the author of it). I don't know what state it is in though, but perhaps something to experiment with?

[2019-12-08 12:47] gwenneg opened #6017 "quarkus-integration-test-kogito build fails in native mode with JDK 11"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior from the `master` branch:
1. (Optional) Set the `JAVA_HOME` environment variable to a JDK 11 installation directory (OpenJDK 11 or GraalVM 19.3.0 JDK 11 edition). Add the JDK 11 `bin` directory to the path.
2. (Optional) Run `./mvnw clean install -Dmaven.test.skip=true` to build all the Quarkus sources with the JDK 11.
3

[2019-12-08 12:48] gwenneg commented on #6017
I will probably have time to fix this tonight, but feel free to do it earlier if you can. The sooner this is fixed, the better.

[2019-12-08 12:49] SlyngDK commented on #5998
@sberyozkin Yes the body returned this "Forbidden", which don't match the `Content-Type` of `application/json`.
Take a look at the test in the reproducer.
https://github.com/SlyngDK/quarkus-jaxrs-security-wrong-content-type/blob/master/src/test/java/org/acme/quickstart/GreetingResourceTest.java
[code]

[2019-12-08 12:51] gwenneg opened #6018 "ConcurrentModificationException during native image generation with JDK 11"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior from the `master` branch:
1. (Optional) Set the `JAVA_HOME` environment variable to a JDK 11 installation directory (OpenJDK 11 or GraalVM 19.3.0 JDK 11 edition). Add the JDK 11 `bin` directory to the path.
2. (Optional) Run `./mvnw clean install -Dmaven.test.skip=true` to build all the Quarkus sources with the JDK 11.
3

[2019-12-08 12:51] geoand commented on #6015
@gunnarmorling is there an API that can be used to write the archive files manually?

[2019-12-08 12:54] gwenneg opened #6019 "quarkus-integration-test-jpa-mysql build fails in native mode with JDK 11"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior from the `master` branch:
1. (Optional) Set the `JAVA_HOME` environment variable to a JDK 11 installation directory (OpenJDK 11 or GraalVM 19.3.0 JDK 11 edition). Add the JDK 11 `bin` directory to the path.
2. (Optional) Run `./mvnw clean install -Dmaven.test.skip=true` to build all the Quarkus sources with the JDK 11.
3

[2019-12-08 12:54] jaikiran commented on #6018
[code]
I think this one should be fixed by the bug fix that was done recently for the issue reported by @stuartwdouglas  here https://github.com/oracle/graal/issues/1927

[2019-12-08 12:57] gwenneg opened #6020 "quarkus-integration-test-jpa-mssql build fails in native mode with JDK 11"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior from the `master` branch:
1. (Optional) Set the `JAVA_HOME` environment variable to a JDK 11 installation directory (OpenJDK 11 or GraalVM 19.3.0 JDK 11 edition). Add the JDK 11 `bin` directory to the path.
2. (Optional) Run `./mvnw clean install -Dmaven.test.skip=true` to build all the Quarkus sources with the JDK 11.
3

[2019-12-08 12:58] gwenneg commented on #6020
This is probably a consequence of the JAXB removal in JDK 11. See https://www.dariawan.com/tutorials/java/using-jaxb-java-11/ for more details about it.

[2019-12-08 12:59] gwenneg commented on #6020
The `h2`, `mariadb`, `postgresql` and `derby` integration tests are also affected by this.

[2019-12-08 12:59] jaikiran commented on #6019
[code]
Relates to https://github.com/oracle/graal/issues/1927

[2019-12-08 13:07] gsmet commented on #6020
The obvious fix would be to add the `quarkus-jaxb` dependency to the ORM extension.

But tbh, I thought we chose to not support the XML mappings for now. @Sanne ?

[2019-12-08 14:53] jtsnr opened #6021 "JAXB annotations on a Panache entity causes REST call to fail"
I want to include JAXB annotations on my Panache entity so that I can return the entity in XML format in a REST response.
Adding `@XmlAttribute` on the public property of the entity causes the REST call to fail with an exception.
It is possible to change the access modifier of the property to private to prevent the exception however this approach then loses one of the benefits of Panache.

[code]

[2019-12-08 14:56] gsmet commented on #6021
@FroMage could you have a look at that one?

[2019-12-08 14:57] #5073 closed

[2019-12-08 16:21] gsmet commented on #5926
FWIW, I just saw a similar failure in a PR so I think it's a real issue. Unfortunately, I was in a hurry and rerun the failed check.

[2019-12-08 16:22] gwenneg commented on #6017
I'll take care of this one unless someone started working on it.

[2019-12-08 16:31] gwenneg commented on #5682
Here's the list of issues related to failing Quarkus integration tests using GraalVM + JDK 11:
- [ ] #6009 - `kafka` - fixed in #6012
- [ ] #6017 - `kogito` - fix in progress
- [ ] #6018 - `spring-data-jpa` - upstream bug: https://github.com/oracle/graal/issues/1927
- [ ] #6019 - `jpa-mysql` - upstream bug: https://github.com/oracle/graal/issues/1927
- [ ] #6020 - `jpa-derby`, `jpa-h2`, `jpa-maria

[2019-12-08 16:54] #5360 closed

[2019-12-08 18:09] sberyozkin commented on #5998
@SlyngDK Thanks...
Well, at least AFAIK, [403](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403) should not return anything in the body at all, because if it does it raises the issues like the one you have opened. For example, what if the Content-Type is `application/xml` ?
IMHO rather than going the path of formatting the `Forbidden` value, it would be better just not return it in the

[2019-12-08 18:16] sberyozkin commented on #5998
I'm nearly 100% sure that the Content-Type was about the content negotiation on the normal, non-exceptional path, example, the client sets `Accept: application/json`, or as in your case it is a wildcard, JAX-RS figures out from the resource method (in your case it is `forbidden` producing JSON) that the response ContentType is `application/json` and sets it on the response HTTP context, and now th

[2019-12-08 18:24] sberyozkin commented on #5998
Alternatively. @SlyngDK, you may be able to intercept it with `ExceptionMapper<ForbiddenException>` and provide a format you prefer.
But IMHO we should not be starting trying to format `Forbidden` per the content type set by the client on the normal path

[2019-12-08 18:37] sberyozkin commented on #5998
That said it looks like all you are suggesting is that Content-Type is set to `text/plain` :-). This can work but note that having `Forbidden` in the body does not add anything to the information which `403` already provides :-), i.e 403 == `Forbidden`

[2019-12-08 18:38] pmlopes commented on #5277
Hi @sberyozkin the fix is already on 4.0.0rc5 but not backported to 3.8 branch yet (the branches are quite apart so it's not a trivial backport if no new 3.8 release is planned soon).

[2019-12-08 19:11] SlyngDK commented on #5998
I created this issue because behavior have changed, to something wrong.
I am just pointing out that, content returned needs to match the `Content-Type`.

[2019-12-08 19:22] #6010 closed

[2019-12-08 19:41] sberyozkin commented on #5998
@SlyngDK I agree that because it is already the way it works, i.e, some extra text is returned in the body, this issue is relevant, thank you. (I'd fix it by not returning anything at all :-) but I realize not everyone may like this solution :-) )

Thanks

[2019-12-08 20:52] gwenneg opened #6024 "quarkus-integration-test-main build fails in native mode with JDK 11"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior from the `master` branch:
1. (Optional) Set the `JAVA_HOME` environment variable to a JDK 11 installation directory (OpenJDK 11 or GraalVM 19.3.0 JDK 11 edition). Add the JDK 11 `bin` directory to the path.
2. (Optional) Run `./mvnw clean install -Dmaven.test.skip=true` to build all the Quarkus sources with the JDK 11.
3

[2019-12-08 21:38] maxandersen commented on #5600
this is related to #5496 and #6007 to give a zero-config/zero-install build/deploy mechanism.

[2019-12-08 21:48] maxandersen opened #6025 "Scaffold generation driven by extensions"
### Description
There are various usecases where it is useful where extensions can generate code into users projects and potentially do other actions.  Today there are a supposedly single path of code generation but it is impossible to maintain with a lot of duplication where there shouldn't be. We should get this cleaned up and have a more structured scaffolding system in quarkus that extensions

[2019-12-08 21:52] maxandersen commented on #5656
where is that ? link ?

[2019-12-08 21:56] maxandersen opened #6026 "Quarkus CLI"
### Description
start with "Quarkus CLI" i.e. qtl or qu focused on giving an easy getting started experience; remove or at least make mvn/gradle commands optional/secondary and from there derive a CLI framework.

### Analysis

short name: `qs` as in ( _Q_ uarku _S_ ) aliased or linked to `quarkus`

distribution: initally a zip with .cmd/.bat + shell script + uber.jar'ed Quarkus command mode app. E

[2019-12-08 22:01] maxandersen opened #6027 "IDE/Main devmode Launchable"
### Description
Make it possible from IDE's to launch devmode

### Analysis
https://github.com/stuartwdouglas/quarkus/tree/launcher has POC

### Tasks
- [ ] related to #2143

[2019-12-08 23:08] stuartwdouglas commented on #5998
I think we could vary this based on the accept header. If the client is expecting a HTML page then we can return 'Forbidden', otherwise we should leave it blank, and ideally provide some way for the user to customise it.

[2019-12-08 23:29] nimo23 opened #6028 "tweak special classes with @ApplicationScoped or @Singleton by default"
**Description**
There are classes in quarkus which are `@ApplicationScoped` by default, for example, classes annotated with `@Path`.

Classes annotated with `@javax.persistence.Converter` could also be `@ApplicationScoped` by default. So user does not need to annotate such classes explicitly with `@ApplicationScoped`. Maybe some other types of annotated classes can also be `@ApplicationScoped` by

[2019-12-08 23:35] stuartwdouglas commented on #5926
So a quick google reveals that the most common cause of these issues is the cache. I think will open a PR that disables the cache for the HTML tests, and we can see if this fixes it.

[2019-12-09 00:22] geoand commented on #2811
#6030 should hopefully take care of the issue

[2019-12-09 01:36] stuartwdouglas commented on #5789
The issue is that the config properties guide links to the JDK Level which does not list the JBoss logging levels. They should be documented somewhere.

[2019-12-09 07:10] stalep opened #6033 "Quarkus CLI basics"
Update the current CLI code so it works similar to Maven/Gradle.
The work is happening here: https://github.com/stalep/quarkus/tree/aesh_updates
Commands implemented:

- list-extensions
- add-extension
- create-project
- compile-project
- dev-mode

The user can choose to start an interactive CLI or call the commands one by one as needed.

[2019-12-09 08:20] maxandersen commented on #6026
duplicates #418

[2019-12-09 08:21] maxandersen commented on #418
closing this as things moved/changed this issue was created; #6026 is the new epic.

[2019-12-09 08:21] #418 closed

[2019-12-09 08:27] mkouba commented on #4606
That means that the Scheduler extension API only supports declarative approach via the `@Scheduled` annotation.

Not really. You can use `@Scheduled(every="10s")` where the value is parsed  with `Duration#parse()`. The value is always rounded to full second.

For programmatic approach you could try `Vertx.setTimer(long, Handler<Long>)` and `Vertx.setPeriodic(long, Handler<Long>)` methods for non-b

[2019-12-09 08:50] mkouba commented on #5992
Ok, I will try to ;-). So when generating beans, proxies and other internal constructs we use this predicate to test the original bean class because we have to load these classes with the same ClassLoader as the original bean class (for example to access package-private members). In the dev mode a separate CL is used for app classes so that we can drop the CL when a class is modified. In a multi-m

[2019-12-09 08:59] Teg79 commented on #5994
Thanks a lot @geoand ! Now it works
Just a typo in your response, the method name is `preemptive()` ;)

[2019-12-09 09:00] geoand commented on #5994
Thanks @Teg79, that's what happens when I don't copy paste :P

[2019-12-09 09:07] jtama-op commented on #6001
Hi,
I have containers running quarkus on Cloud Run fully managed that also have the logs without any further issues.

If I'm not wrong, those warning would disapear running CLoud Run on GKE.

[2019-12-09 09:12] mkouba commented on #5970
@InfoSec812 I still have problems to run the app

[code]

https://github.com/quarkusio/quarkus/issues/5992

[2019-12-09 09:21] mkouba commented on #5970
Hm, actually I'm not so sure I will be able to send a PR so soon. It seems that the problem is a bit more complicated.

[2019-12-09 09:33] mkouba commented on #5992
Hm, I was probably wrong - I fixed this 7 months ago ;-). See https://github.com/quarkusio/quarkus/blob/master/core/devmode/src/main/java/io/quarkus/dev/DevModeMain.java#L157-L170.

[2019-12-09 09:53] #5992 closed

[2019-12-09 09:56] Sanne commented on #6020
Hi, yes we currently don't support XML mappings in Hibernate ORM (although FYI we might have to implement it eventually as there's no other way to support mapping of a 3rd party dependency).

Related to this issue: something else is going on, we already have changes in the ORM bootstrap which will enforce it to not initiate the xml mapping parsers.

One of the errors above refers to Javassist as w

[2019-12-09 09:56] nimo23 opened #6034 "encrypt/obfuscate/secure quarkus app on compile"
**Description**
Actually, we can use jvm or native mode when compiling quarkus projects. These can be distributed to cloud servers or devices. Would be nice if quarkus provides integration of something like **proGuard** or **protector4J** to secure the app on compile.

**Implementation ideas**
For example, the quarkus secure build can be used by a new task:
`./mvnw compile quarkus:guard`

[2019-12-09 09:57] Sanne commented on #6020
@gwenneg please consider this assigned to me, I'll look at it soon. Is there some other work-in-progress branch I should apply first to be able to work on this one?

[2019-12-09 09:58] gastaldi commented on #5249
Closing as requested

[2019-12-09 09:58] #5249 closed

[2019-12-09 10:04] gwenneg commented on #6020
@Sanne You can start from `master`. Thanks for taking care of this one!

[2019-12-09 10:04] gastaldi commented on #3174
Closing this as in https://github.com/quarkusio/quarkus/pull/5761 support for functional tests were added which IMHO should be enough. Reopen if needed.

[2019-12-09 10:04] #3174 closed

[2019-12-09 10:09] gastaldi opened #6035 "Pass Kotlin compiler plugin options to dev mode in Gradle"
Nope, it will require a lot of work to get it working in Gradle as well. That is because in Gradle we can't just read the configuration, we'll need to read the Kotlin Gradle plugin data. It should definitely be done when all the other Gradle improvements things are in place.

_Originally posted by @geoand in https://github.com/quarkusio/quarkus/pull/6030#issuecomment-563152467_

[2019-12-09 10:09] gwenneg commented on #6024
I didn't spend much time on this one yesterday and I won't be able to work on it before tonight, so feel free to take it over if you're able to submit a PR today.

[2019-12-09 10:25] gunnarmorling commented on #6015
So turns out using CDS with Quarkus actually works without the manifest change I did originally, i.e. -jar my-runner.jar is supported and the classpath will be obtained from the manifest. So the key question is whether/how we could simplify creation of the archive file for a Quarkus app. I'm not sure whether there's a (public) API, would be worth checking within the OpenJDK source.

[2019-12-09 10:46] geoand commented on #2811
Reopening as we still need to address the Gradle part in #6035

[2019-12-09 10:48] mkouba commented on #5970
@InfoSec812 after some debugging I found out that the dev mode fails because you're using properties in the dependency definition for the `todo-server` module in the `implementation/pom.xml`: https://github.com/InfoSec812/quarkus-openapi-todo-demo/blob/master/implementation/pom.xml#L58-L62

I've tried to hard-code the `groupId` and `version` and it works fine.

I'm not sure whether it's legal to u

[2019-12-09 10:51] #6017 closed

[2019-12-09 10:55] rsvoboda opened #6037 "keycloak-authorization - ProtectedResource - if-check in bodyClaim"
https://github.com/quarkusio/quarkus/blob/master/integration-tests/keycloak-authorization/src/main/java/io/quarkus/it/keycloak/ProtectedResource.java#L62

current `if (body == null && !body.containsKey("from-body")) {` is weird

shouldn't it be
 * `if (body != null && !body.containsKey("from-body")) {`
or
 * `if (body == null || !body.containsKey("from-body")) { `
?

[2019-12-09 11:02] aloubyansky commented on #5970
At this point, our bootstrap LocalWorkspace impl does not support `parent.project.XXX` props. Changing them to `project.XXX` (which is ok in the given example) can be a workaround.

[2019-12-09 11:08] gunnarmorling opened #6038 "Cannot delete contents of package name on https://code.quarkus.io/"
When I have the cursor in the package name field and I hit backspace until all characters are gone, it's repopulated with "org.acme". Browser is FF 71.

[2019-12-09 11:25] paulrobinson commented on #5634
@FroMage, @gavinking, @Sanne is there an obvious person between you that will be organising this work? Just working out who to assign it to. FYI: this is how we decide who is assigned: https://github.com/quarkusio/quarkus/wiki/High-Level-Planning-Process#ive-been-assigned-an-epic-what-do-i-need-to-do

Also, can you ping "Davide and Martin" on this. I'm not 100% sure who Emmanuel refers to (I could

[2019-12-09 11:28] geoand commented on #5970
Can we maybe provide a better error message?

[2019-12-09 11:29] FroMage commented on #5634
They are Davide d'Alto (Hibernate team) and @mkouba.

You can assign the epic to me.

[2019-12-09 11:29] geoand commented on #6038
cc @ia3andy.

Should this issue be moved to the code.quarkus.io project?

[2019-12-09 11:47] computefx opened #6039 "Include dependency versions to quarkus-bom to properties section"
**Description**
Generated child projects contains such dependency quarkus-bom in dependencyManagement section which specify versions of dependencies developer has to use. To override version of a dependency i have to add dependency in dependencyManagement section with newer version.

On other hand spring-boot-depencies moved dependency versions to properties section and to override any version is

[2019-12-09 11:54] gunnarmorling commented on #6038
Ah, yes, I suppose so. Sorry, wasn't aware that there's a separate tracker
for that.

[2019-12-09 11:55] geoand commented on #6038
Not a problem at all!
I assume @ia3andy will just move the issue.

Thanks for reporting in any case!

[2019-12-09 11:56] serg-bs opened #6041 "Kotlin data class not work without annotation"
I try https://quarkus.io/guides/rest-json  on kotlin. I want to use simple data class, without any annotation.
[code]

if I use quarkus-resteasy-jackson
**(no Creators, like default construct, exist): cannot deserialize from Object value (no delegate- or property-based Creator)**
If I use quarkus-resteasy-jsonb
I get   **No default constructor found.**
This is bad practice to use default construct

[2019-12-09 11:59] gsmet commented on #6037
@sberyozkin can you make sure this gets fixed soon? I think we will want a fix in 1.1.0.

[2019-12-09 11:59] emmanuelbernard opened #6042 "Add extension status to guides"
Add an extension status to the guides so it's explicit.

[2019-12-09 12:47] loicmathieu commented on #6041
Can you try with `quarkus-resteasy-jackson` and the Jackson kotlin module ?

[code]

[2019-12-09 13:47] nimo23 commented on #6041
I guess it is related to https://github.com/quarkusio/quarkus/issues/5969 and https://github.com/quarkusio/quarkus/issues/5906.

[2019-12-09 13:59] miron4dev commented on #2125
Any news ?

[2019-12-09 14:13] angelozerr commented on #5229
@maxandersen I'm refactoring our JDT Quarkus LS extension to use the Spring format. Here a sample:

[code]

As you can notice we have extra fields compared to Spring configuration metadata:

 * `sourceField`: Spring doesn't provide this information. I have add it because otherwise it's little complex to retrieve the field name `keyStoreFileType` from the `quarkus.http.ssl.certificate.key-store-fil

[2019-12-09 14:31] stachera commented on #5968
Nice approach @pschyma, it works for me

[2019-12-09 15:00] willr3 opened #6056 "WebClient.post().sendJson(Entity) throws EncodeException for PanacheBaseEntity"
**Describe the bug**
I have a Hibernate `@Entity` which extends `PanacheEntityBase` with String, Integer, Boolean member variables and I want to send it as the json body in a vert.x WebClient. When I call `webClient.post(...).sendJson(entity)` I see:
[code]
**Expected behavior**
I would expect to be able to use the json encoding that gets used when I return the Entity from a method with `@GET` ann

[2019-12-09 15:01] #4908 closed

[2019-12-09 15:03] maxandersen commented on #5229
`sourceField` - why not just have that encoded in `source` ? isn't that just a fully qualified reference ? like `io.quarkus.kubernetes.Config#myField" ?

if not - then sure, could be added as separate value.

please note we haven't yet solidified using this format in all extensions; but its more likely than any other custom format ;)

[2019-12-09 15:49] willr3 opened #6059 "@ConsumeEvent() method has no request context"
**Describe the bug**
I have an `@Entity` that extends `PanacheEntityBase` with String, Integer, Boolean member variable and when I try and call `Entity.find("attr = ?1",value)` from a method with `@ConsumeEvent(blocking=true)` I get the following excpetion:
[code]
(Describe the problem clearly and concisely.)

**Expected behavior**
I expect I would be able to use the Panache find() from anywhere I

[2019-12-09 16:11] FroMage commented on #5593
Depends on https://github.com/resteasy/Resteasy/pull/2170

[2019-12-09 16:19] belfo commented on #3500
@gunnarmorling any update?
I'm especially interessed in having the kakfa stream metrics when using a produce method. As stated in #5471 it's not possible to access the underling object to manually get the metrics (as explained here: https://quarkus.io/blog/kafka-streams-applications-with-quarkus-and-microprofile/)

[2019-12-09 16:21] FroMage commented on #5593
I've restarted this and implemented the right async writer stuff for quarkus (resteasy on vertx). This needs some tests, but also decisions.

ATM, this is implemented by:

- Adding a new `AsyncMessageBodyWriter` interface which is a subtype of the `JAX-RS `MessageBodyWriter` which supports writing to async streams. This means not every provider will support async writing. I can do most of the stan

[2019-12-09 16:22] FroMage commented on #5593
Also, not sure how to start showing my branch, because it requires a custom-built RESTEasy, so CI will never build. Opinions?

[2019-12-09 16:27] FroMage commented on #6056
This uses a different serialiser to the default jsonb used by RESTEasy, but it should still serialise entities properly.

[2019-12-09 16:28] FroMage commented on #6059
We should think about adding a request context for those methods @cescoffier @mkouba, no?

[2019-12-09 16:36] angelozerr commented on #5229
I have followed Spring format and they have sourceType (class or interface) and sourceMethod but they have not sourceField, that's why I have added it.

When you will have something, please ping me, thanks!

[2019-12-09 16:47] mkouba commented on #6059
Hm, I think so - it's a kind of "request". Currently, you can add the `javax.enterprise.context.control.ActivateRequestContext` annotation as a workaround.

This is a little bit odd. `@Transactional` itself should not activate the context unless I'm mistaken...

[2019-12-09 17:04] vsevel opened #6062 "Vault documentation improvement secret-config-kv-path vs kv-secret-engine-mount-path"
**Description**
improve vault documentation with respect to how `https://quarkus.io/guides/vault#quarkus-vault_quarkus.vault.secret-config-kv-path` and `https://quarkus.io/guides/vault#quarkus-vault_quarkus.vault.kv-secret-engine-mount-path`

see [SO issue](https://stackoverflow.com/questions/59198181/cannot-get-vault-kv-v2-secrets-in-quarkus-using-token-auth) and [zulip thread](https://quarkusio.

[2019-12-09 17:09] sberyozkin commented on #5341
See https://github.com/smallrye/smallrye-jwt/pull/153

[2019-12-09 17:36] patriot1burke commented on #5593
My early benchmarks showed that buffering was significantly less performant than the blocking IO approach that currently exists.  This was a simple synchronous REST service hello world get service.  I'm guessing its because you're not using direct buffers and doing more memory allocations.  Don't know.  IMO, more in-depth benchmarks should be done to:

* Show that buffering doesn't hurt performanc

[2019-12-09 17:44] evanchooly commented on #5897
It is.

[2019-12-09 17:44] #5897 closed

[2019-12-09 17:49] chanseokoh commented on #6007
Jib dev here. @gunnarmorling told us that Quarkus doesn't build a container image itself but rather relies on external tools (https://github.com/GoogleContainerTools/jib/issues/1555#issuecomment-562307435).

Then, is this issue about having a built-in image building facilities with Quarkus (using the Jib Core API to programmatically build an image)? Or, is it more like having a sealmess integratio

[2019-12-09 18:04] nimo23 commented on #6056
I think it is not working because of the use of jackson within vertx. I guess, all the following issues:

- https://github.com/quarkusio/quarkus/issues/6041
- https://github.com/quarkusio/quarkus/issues/5906
- https://github.com/quarkusio/quarkus/issues/5969

are similar: quarkus cannot handle the propagation of the dedicated serialiser (either Json-B or Jackson) to its RS-component. It always use

[2019-12-09 18:07] rafaelkloss opened #6063 "HibernateProxy at runtime is not allowed when the configured BytecodeProvider"
**Describe the bug**
When run the native image, the hibernate can't load the proxy

**Expected behavior**
Load proxy of all collections and lazy relations

**Actual behavior**
Throw exception -> HibernateProxy instances at runtime is not allowed when the configured BytecodeProvider  is 'none'; your model requires a more advanced BytecodeProvider to be enabled.

**To Reproduce**
Steps to reproduce

[2019-12-09 18:10] rafaelkloss commented on #6063
The stacktrace
![Screen Shot 2019-12-09 at 3 09 45 PM](https://user-images.githubusercontent.com/6857475/70460864-0f294180-1a96-11ea-981c-02b31f176706.png)

[2019-12-09 18:22] gunnarmorling commented on #6007
Hey @chanseokoh, things for joining here! So personally, I'd could see both ways being useful:

* have seamless integration with the existing Maven/Gradle plug-ins for Jib (would require Jib to be configurable, so it can pick up the runner JAR and the JARs from target/lib)
* use Jib directly from within Quarkus to produce an image, e.g. without writing out the dependencies to target/lib first

The

[2019-12-09 19:04] patriot1burke commented on #5593
@FroMage Another problem with your approach is the SeeEventSink code.  It sits *around* response processing and works directly with the OutputStream to setup initial response and to flush between send events.  I don't see how buffering coudl work in this scenario as I do think we'd want to flush between sent events rather than sending them all at once.

[2019-12-09 19:05] sherl0cks commented on #4254
@oztimpower @cescoffier @gsmet can you share the resolution for lambda? I see #4327, but that file is no longer present in master (moved in 0.27) and it is unclear to how I can set this command line switch in the lambda custom runtime. I've tried all sorts of ways to disable vertx caching to no effect.

To be clear, I'm not interest in OpenShift, only aws lambda native. I'm using 1.0.1.final of qu

[2019-12-09 19:49] zakhdar opened #6065 "Swagger-ui dont format correctly java.lang.LocalTime"
**Describe the bug**

swagger-ui dont take care of jackson objectMapper/@jsonformat ,
let's consider with have a REST endpoint that consume a POJO with LocalTime as attribute with correct @JsonFormat
We have configured ObjectMapper, but in swagger-ui java.time.LocalTime  is not represented by a String but has an entity

Exemple of swagger-ui output
[code]

POJO
[code]
Object Mapper configuration

[2019-12-09 20:08] FroMage commented on #5593
@patriot1burke so first I'm only back on this stupid issue because you ran away with your PR after I thought I had dodged the bullet by slipping you the damn task ;) If you have a working solution that is better than mine, once again by all means please push it and I'll be very happy to move on to another bug.

I'm really not convinced my PR is the best way to move forward. It seems the right logi

[2019-12-09 20:12] FroMage commented on #5593
FTR here's the quarkus side of the async-io branches: https://github.com/quarkusio/quarkus/compare/master...FroMage:resteasy-asyncio?expand=1

[2019-12-09 20:31] patriot1burke commented on #5593
Yup I suck, sorry...

I told you before I was worried about your approach because it doesn't fit with JAX-RS as interceptors assume i/o will be processed on the same thread call stack.

I also think that the benefits of your approach should be proven that they are actually more performant before we have to maintain it.  What's wrong with that?

As for SSE the API is there, but the implementation i

[2019-12-09 22:20] irenakezic commented on #5908
@gsmet As agreed I pushed partial implementation for the fix to my branch (https://github.com/irenakezic/quarkus/tree/issue5908). Please take a look.

[2019-12-09 22:41] #5982 closed

[2019-12-09 22:44] geoand commented on #6041
Like @loicmathieu says, adding `jackson-module-kotlin` should do the trick (and Quarkus we even add it automatically in version `1.1.x` when the kotlin and jackson extensions are both present).
This is not a Quarkus limitation but stems from how Kotlin and Jackson interact, so I am going to close it. Feel free to reopen with more data if you still feel there is something that Quarkus should be doi

[2019-12-09 22:48] stuartwdouglas commented on #5593
So here is an alternate approach:

- Remove the exceptions for blocking IO from our output stream impls, and instead if a write is done that would block the IO thread we switch to buffering internally
- If the buffer gets past a threshold we spill over to disk. This will be slow but should not be something that happens regularly.

This could be the least bad option, as it does not require changes

[2019-12-09 23:02] gsmet commented on #6063
/cc @Sanne

[2019-12-09 23:02] #6042 closed

[2019-12-09 23:30] Boertie opened #6067 "Test error while building a Quarkus native. Project can't find dependencies on private maven repository"
**Describe the bug**
When the project is being build it finds all necessary dependencies to build the project.
However, when it wants to run it's tests it tries to find the dependencies on maven central.

The logs show the following during the tests:
Caused by: io.quarkus.bootstrap.resolver.AppModelResolverException: Failed to resolve dependencies for nl.****.service:********:jar:1.0.9-SNAPSHOT
Ca

[2019-12-09 23:46] Sergey80 commented on #6006
https://stackoverflow.com/questions/59257978/quarkus-resteasy-ws-rs-resource-completionstage-exception-handling - if I don't use CompletionStage then seems it is stable. But I have to block thread on the Resource.

[2019-12-10 00:30] geoand commented on #5823
@aureamunoz sorry, I took this one since it's something we should really have for `1.1.0` and was unlikely to have any more time this week to help out.

@uaihebert with #6068 you should be able to get around your issue. However you will either have to explicitly add a `countQuery` to `@Query`, or make the method name something that would result in select statement that would return the proper numb

[2019-12-10 00:58] benneq commented on #4031
I guess, I have the same issue, but with a different set of exceptions:

`ExceptionMapper<Exception>` (same applies to `ExceptionMapper<Throwable>`) won't catch `ResteasyViolationException`.

**But** with `ExceptionMapper<ResteasyViolationException>` (or `ExceptionMapper<ValidationException>`) it works.

Very weird behavior.

I'm using Quarkus 1.0.1

<details>
  <summary>pom.xml (Click to expand)<

[2019-12-10 01:28] gwenneg commented on #6024
This one is caused by `HystrixInitializer` which is an `@ApplicationScoped` bean eagerly initialized at application startup. When it is constructed, it injects a `DefaultHystrixConcurrencyStrategy` instance which itself calls `Executors.privilegedThreadFactory()` during its own construction. This last call is forbidden during the native image build time as it initializes the `FilePermission` class

[2019-12-10 02:43] patriot1burke commented on #5593
@stuartwdouglas Would still need an internal resteasy SPI to handle backpressure suppliers.  Probably not that ugly.

[2019-12-10 02:58] stuartwdouglas commented on #5593
Well you could avoid any need for backpressure by just spilling all the overflow onto disk (basically treating the disk as an effectively unlimited buffer), although I guess you still need something for the SSE case.

[2019-12-10 06:19] geoand commented on #6067
cc @aloubyansky

[2019-12-10 07:21] mkouba commented on #6024
Hm, the `HystrixInitializer` declares an `@Observes @Initialized(ApplicationScoped.class) Object` observer and there is currently no easy way to ignore/change this observer. I think that we'll need to add an `ObserverTransformer` build-time extension so that it would be possible to transform the observer. But the problem is the event type. So in this particular case, we would need a replacement fo

[2019-12-10 07:41] cescoffier commented on #4254
@sherl0cks setting `-Dvertx.cacheDirBase=/somewher/in/the/cloud/that/is/writable` should still work.

[2019-12-10 08:04] gwenneg commented on #6024
Oh then I wasn’t that silly :) Combining StartupEvent and a veto on the bean is exactly what I tried to do but I couldn’t find a way to make it work. Thanks for your quick answer!

[2019-12-10 08:08] #5823 closed

[2019-12-10 08:41] gsmet commented on #6024
BTW, I tried to fix the issue in a different way with a substitution but it didn't work.

@mkouba do you see a reason why it wouldn't work? Should I substitute the code of a generated bean somehow?

See https://github.com/gsmet/quarkus/commit/79d8fd8cbdaaff1c5f5b7ceee066ec2ea8f5173b .

[2019-12-10 08:46] mkouba commented on #6024
I'm not sure. What error do you get?

No, the generated bean does not contain the logic. It's more like a metadata holder.

[2019-12-10 09:03] mkouba commented on #6059
For the record: the `@Transactional` fixes the problem because if a transaction is active the `RequestScopedEntityManagerHolder` is not used and so the request context does not have to active. See https://github.com/quarkusio/quarkus/blob/master/extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/entitymanager/TransactionScopedEntityManager.java#L52-L72.

[2019-12-10 09:17] gsmet commented on #6024
Absolutely no error. I will add more debug logging.

That was my understanding too.

[2019-12-10 09:18] uaihebert commented on #5823
@geoand thank you very much!

[2019-12-10 09:21] geoand commented on #5823
@uaihebert you are welcome!

[2019-12-10 09:24] jamesnetherton opened #6070 "JAXB extension cannot handle empty lines in jaxb.index"
**Describe the bug**
I'm tweaking a Camel extension so that it makes use of the JAXB extension capability to discover classes from `jaxb.index`.

Here's the content of `jaxb.index` that is causing problems:

[code]

The whitespace after the license header results in:

[code]

**Expected behavior**
The JAXB extension ignores empty lines in `jaxb.index` and continues to process the file.

**Actual b

[2019-12-10 09:43] mkouba commented on #6059
@cescoffier I wonder 1) if we should only activate the request context for `@ConsumeEvent(blocking=true)`  2) if we should do the same for reactive routes?

[2019-12-10 09:59] misl commented on #5234
Any progress on this one?

Somehow my `onErrorResumeWith` stopped working with the latest Quarkus releases (1.0.0 and 1.0.1). I will have to check in which version it actually did work.

Then the question remains how to make message handlers fault tolerant. For example the Quarkus mqtt quickstart stop receiving message once a single none integer get posted on the `prices` topic. The process needs

[2019-12-10 10:06] cescoffier commented on #6059
For reactive routes yes,
For `@ConsumeEvent`, it may not come from an HTTP request, what would be in the request scope in this case?

[2019-12-10 10:07] cescoffier commented on #5234
Nothing has changed on this in the latest Quarkus, so it would be a bug.

The work is going to be done in Smallrye Reactive Messaging first.

[2019-12-10 10:10] misl commented on #5234
I will check in which Quarkus version did work. And report the bug on Quarkus.

[2019-12-10 10:11] mkouba commented on #6059
The request context is not tied to an HTTP request. The "request" could be anything. In this particular case, the request may represent an event notification. Even in the CDI spec, the request context is activated during `@PostConstruct` callback of a bean and during notification of an asynchronous observer method (no HTTP request).

[2019-12-10 10:17] oztimpower commented on #4254
@sherl0cks have you tried using the SAM CLI as per the latest Aquarius documentation?

Amazon lambda works for me, the Maven deployment automated the bundling and the /tmp folder issue was migrated to code, and thus dropped from the script.

Possible to post your error message, particularly with SAM local?

I use Quarkus with native lambda in Prod, works well.

[2019-12-10 10:27] gsmet commented on #6065
/cc @EricWittmann

Not sure OpenAPI supports Jackson specific stuff, though.

[2019-12-10 11:27] zakhdar commented on #6065
I think it's  openAPi generator config  [https://stackoverflow.com/questions/40525468/java-8-localdate-displaying-in-swagger](url) , the question is now,  it's possible to configure openapi generator in Quarkus ?

[2019-12-10 12:49] manovotn commented on #6024
Hmm, last time I mentioned observer transformation for this specific event, @mkouba was against ;-)
For this specific case, shouldn't we instead look into making the the init in smallrye extensible, so that in Quarkus there is a bean that listens to `StartupEvent` instead and performs the init? I feel like the transformation is kind of an overkill here. Or, we could remove the observer and perform

[2019-12-10 12:58] emmanuelbernard commented on #5267
Good question @KaenDagger. Yes try and do so. But it might be an extension we always add and will need to interact witht he Quarkus messages we see at boot (Quarkus version etc).

[2019-12-10 12:58] manovotn commented on #6024
If we don't do transformers (and want to fix this purely in quarkus code), then yes, we need a way to veto observers and then add a custom one. Ideally, we don't even want to create metadata for vetoed OM which is where it would get tangled a bit...

[2019-12-10 13:18] cescoffier commented on #6059
ok, then we can enable the `RequestScope` on `ConsumeEvent`

[2019-12-10 13:35] mkouba commented on #6024
That's possible. I often change my mind when I see a real use case ;-).

+1. On the other hand, this looks like a common pattern.

You mean in SM, right? The problem is that we don't always control the codebase.

My initial idea was to create an `ObserverTransformer` that can:
1) modify the observed type,
2) modify the set of qualifiers,
3) veto the observer.

[2019-12-10 14:06] manovotn commented on #6024
For general use case, this is very dangerous. Imagine you observe any non-Object type. Your code can attempt to do anything with it and now we would allow people to change that type which will blow up of course. I know CDI extensions allow to break a lot of things already, but this just smells fishy...

The other two capabilities are fine by me.

Yes, I meant in SM codebase. I know we don't always

[2019-12-10 14:07] loicmathieu opened #6073 "BulkheadException: when using @Retry with the rest-client"
**Describe the bug**
When using `@Retry` with the Quarkus REST Client (standard, not async), I have some exception thrown when doing a load test.

[code]

After some discussion on Zulip: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Fault.20tolerance.20.22could.20not.20acquire.20a.20semaphore.22.20error it appears that the Fault Tolerance extension uses Hystix that internaly us

[2019-12-10 14:10] loicmathieu commented on #6073
I propose to automatically configure the number of Hystrix semaphore to the numver of Vert.x worker thread (20 per default) inside the fault tolerance extension.

This should be OK for fault tolerance features around I/O operation (rest client, database) but not needed for fault tolerance on "memory operation" so maybe it's not a good idea.

Feedback are welcome on this topic.

[2019-12-10 14:17] mkouba commented on #6024
You're right. It would be safer not to support that kind of stuff!

[2019-12-10 15:13] maxandersen opened #6075 "@Fallback failing to add non-public methods during DCE"
**Describe the bug**
following https://quarkus.io/quarkus-workshops/super-heros/#_adding_fallbacks works in vm mode, but you eventually bump into that when using native that it will fail with an error like:

[code]

by adding `public` to the method declarations it works in both vm and native mode.

[2019-12-10 15:17] misl commented on #5234
Hmm, apparently I was wrong. Modified `mqtt-quickstart` to look more like my code with a `onErrorResumeWith` and a `PublisherBuilder`. Replacing the `process`-method in `PriceConverter` with the following:

[code]

Running showed no issues. Sending incorrect messages did not disturb further processing of correct messages.

My failing server was actually using a `ProcessorBuilder` instead of a `Pub

[2019-12-10 15:24] patriot1burke commented on #5593
Kinda feel like just handing off to a worker thread and blocking would be simpler, which is what I have in a branch right now.  With that case there is no heap buffering, or overflowing to disk and you'd always write to direct buffers.

[2019-12-10 15:39] FroMage commented on #5593
So, why again don't we have the same issue for reading data? Since reading is blocking in JAX-RS, if we're on the IO thread it will block just as well, no?

@patriot1burke note that my solution of using async IO does not do any more buffering than the blocking solution: all it does is make sure IO is queued when ready rather than block.

@stuartwdouglas honestly I've said from the start that I thi

[2019-12-10 16:05] otcyury commented on #5921
Hi, I was wondering when this will be fixed and how.

I think the best way to handle connections in lambda is to have a single connection and close it after lambda exits because AWS will keep creating new instances if the same lambda is called concurrently or when it gets "cold". Under these conditions, it's almost pointless to keep connection pool and can put extra stress on DB connections since

[2019-12-10 17:10] nimo23 opened #6080 "Panache: provide entityManager instance/proxy"
**Description**
Please provide a thread-safe `entityManager`(-proxy) from within a `PanacheEntity`. For example by `PanacheEntity.entityManager`:

[code]

Actually I need to have a `PanacheRepository` if I want to access an `entityManager`-instance:

[code]

[2019-12-10 17:34] nimo23 commented on #3483
Please support `NamedQuery`. I have a bunch of namedQueries in old jee project and want to reuse it:

For example:

// this NamedQuery also has jpa hints which must be considered in panache
`@NamedQuery(name = User.byName, query = "select distinct u from User u where u.name =:name", hints = @QueryHint(name = QueryHints.COMMENT, value = "User.name: Get User by name."))`

and use it:

`User.find("Us

[2019-12-10 18:23] sherl0cks commented on #4254
Just got this working. Below are the steps I took. @cescoffier would you be interested in a PR to [the maven archetype](https://github.com/quarkusio/quarkus/tree/master/extensions/amazon-lambda/maven-archetype) for step 7 and info in [the docs](https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/amazon-lambda.adoc) to explain how this works for future users?

1) unzip `function

[2019-12-10 19:00] damianoneill opened #6083 "logging: Provide a /loggers endpoint for configuring the services log levels at runtime"
**Description**
Provide a loggers endpoint that gives access to the service's loggers and the configuration of their levels.

**Implementation ideas**
The solution should consider providing the logger(s) through GET requests to the endpoint for the collection of loggers or appending to the GET endpoint a logger name to filter a specific logger.

The solution should consider setting the log level t

[2019-12-10 19:23] elamotte7 commented on #3516
The issue is solved with 1.1.0.CR1 many thanks

[2019-12-10 20:28] #5921 closed

[2019-12-10 20:32] maxandersen opened #6084 "build native via docker could have more informative error messages"
**Describe the bug**
Someone did the superhero workshop and kicked of native builds on windows via docker (`./mvnw package -Pnative -Dquarkus.native.container-build=true
`) for all 4-5 services exhausting his docker allocated resources.

For the user the experience was three very slow builds (10-20 minutes) and a fourth that errored with something the lines: "Docker build exited with exit code 137

[2019-12-10 20:35] gsmet commented on #6084
We had two users asking the exact same thing yesterday and today.

I’m wondering if it’s something we should get fixed in GraalVM instead?

[2019-12-10 21:24] pedroigor opened #6087 "Support `application/jwk-set+json` content type when processing responses from JWKS Endpoint"
**Describe the bug**
`quarkus-oidc` not considering the `application/jwk-set+json` content type when processing responses from the JWKS endpoint.

**Expected behavior**
Accordingly with the [specs](https://tools.ietf.org/html/rfc7517) the `application/jwk-set+json` can be used to indicate that the content is a JWKS.

**Actual behavior**
Cannot handle content type: application/jwk-set+json; charset

[2019-12-10 21:30] hguerrero opened #6088 "Kafka Streams - Missing topic holds app execution but there is no warning"
**Describe the bug**
(Describe the problem clearly and concisely.)
If topics are  declared in the application.properties, the admin client waits for them to be created to start running the kafka streams application. There is no message in console or log about this behavior.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Should produce a WARN mentioning app can't sta

[2019-12-10 21:31] pedroigor commented on #6087
@sberyozkin @pmlopes Vert.x OAuth seems to be considering only `application/json` when processing JWKS responses. Does make sense to also include `application/jwk-set+json` in the list of valid content types ?

[2019-12-10 22:06] gwenneg opened #6089 "BootLoader.hasClassPath() NPE during native image execution with JDK 11"
**Describe the bug**

The following error happens with most (if not all) Quarkus integration tests during the native image startup (after the generation ended successfully):

[code]

It seems `ClassLoaders.bootLoader()` returns `null` which shouldn't be possible from what I can see in the JDK code (but I may read it wrong). This looks like an upstream bug but I'd like some opinions about it here b

[2019-12-10 22:13] gwenneg commented on #6089
I'm self-assigning this because I'm currently trying to work around this NPE using subtitutions (which might not be the good way to fix it).

[2019-12-10 22:33] sberyozkin commented on #6087
@pedroigor it is a standard JWK set type, so yes :-). Let me open a Vertx issue

[2019-12-10 22:54] pedroigor commented on #6087
@sberyozkin btw, shall we start documenting the OPs we can integrate with ? As well as have a "interoperability" label to differentiate such issues ?

[2019-12-10 22:59] #5946 closed

[2019-12-11 00:39] patriot1burke commented on #5593
Shouldn't this queueing and disk dumping be done at the Vert.x level instead?

[2019-12-11 02:09] gastaldi opened #6091 "mvn quarkus:dev freezes in a project with bidirectional JPA relationships"
**Describe the bug**
Having the following entities in a Quarkus app makes `mvn compile quarkus:dev` freeze:

[code]

And
[code]

**Expected behavior**
Application should run

**Actual behavior**
Application is frozen. This is the output of jstack:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Unzip the project in [jpa-example.zip](https://github.com/quarkusio/quarkus/files/3948053/j

[2019-12-11 02:21] patriot1burke commented on #4254
Did you increase your cold start latency?

[2019-12-11 02:23] gastaldi commented on #6091
The application works if run with `java -jar`

[2019-12-11 03:21] murphye commented on #6091
For what it's worth: This is a blocker for me on a blog post that I am writing. Thanks.

[2019-12-11 03:21] whisper-bye commented on #5240
@cescoffier any chance to native mode?

[2019-12-11 03:29] willr3 opened #6092 "mvnw clean package fails when Entity extend PanacheBaseEntity and multi-class catch in ExampleResource"
**Describe the bug**
`./mvnw clean package` fails when trying to run `ExampleResourceTest.testHelloEndpoint` from the project boilerplate if you add an `@Entity` that extends PanacheBaseEntity and use multi-class catch blocks `catch(IOException | NullPointerException e)` in the ExampleResource. Changing to separate catch blocks or not extending PanacheBaseEntity fixes the problem.

**Expected beha

[2019-12-11 05:39] serg-bs commented on #6041
This question looks more trick. I made some investigation. Add jackson-module-kotlin is not enough.
By default java and kotlin in runtime does not know about field name.
You should pass **javac -parameters** for compiler
Spring boot 2 in spring-boot-starter-parent set up it by default

[code]
If you add this parameter to quarkus, it will work with kotlin data class perfect.
**### I suggest to chan

[2019-12-11 06:28] #6059 closed

[2019-12-11 07:54] cescoffier commented on #5240
@whisper-bye not yet, we don't have a cluster manager working in native mode.

[2019-12-11 08:10] geoand commented on #6041
Thanks for the analysis  @serg-bs !

AFAIR we do add that module automatically, but I needs to be verified how it behaves with Kotlin, so I'll reopen the issue.

[2019-12-11 09:02] sdaschner opened #6094 "Validator doesn't inject CDI bean unless @ApplicationScoped"
**Describe the bug**
A bean validator doesn't `@Inject` an application-scoped CDI bean if the validator itself is not `@ApplicationScoped`.
While it's described on https://quarkus.io/guides/validation that
validators are recommended to be application-scoped it doesn't read that
it's a requirement. There is no error, the bean is simply `null`.

**Expected behavior**
Same behavior as in stock EE 8 r

[2019-12-11 09:27] nimo23 opened #6095 "provide NoCache for PanacheEntity queries"
**Description**
Using PanacheEntity to retrieve entities from the database needs at least JPA `first-level-cache`. We can
- circumvent the `first-level-cache`in jpa by using `@NamedQuery` (https://github.com/quarkusio/quarkus/issues/3483)
- `@NamedQuery` can be used with `fetchGraph` to avoid proxies and jpa `lazyInitExceptions`
- we can also improve that by using `setHint` with `org.hibernate.rea

[2019-12-11 09:32] EricWittmann commented on #6065
The Microprofile OpenAPI spec doesn't really have much to say about how to handle specific java types and annotations.  But the SmallRye OpenAPI implementation does try to do sensible things whenever possible - in general as well as specifically in regard to data types.  There are, of course, a lot of data types and not all of them are currently handled ideally.  This is a good example.

If @MikeE

[2019-12-11 09:42] Mulgikapsas opened #6096 "JWT is being processed when permit policy is set"
**Describe the bug**
JWT token is processed even if http policy is set to permit.

**Expected behavior**
I expect to see 200 (OK) response with metrics payload.

**Actual behavior**
I see 401 (Unauthorized) response.

**To Reproduce**
1) Define the following in microprofile-config.properties:
[code]

2) Execute the following:
 ` curl --request GET --url http://localhost:8080/metrics --header 'auth

[2019-12-11 10:12] sdaschner commented on #4872
How about adding both a flag (such as `-DhotTests`, `-DcontinuousTests`, `-DwatchTests`, etc.) to the Maven phase, as well as an interactive way, e.g. pressing `<Enter>`, to fire up both surefire & failsafe tests on demand.

The Open Liberty Plugin does it this way, and for me this way runs the tests quicker than in the IDE (due to initialization)

[2019-12-11 10:18] andrejpetras commented on #5957
I am back on the quarkus track ;) If nobody picked up this issue then please assign it to me, I will prepare the PR for it

[2019-12-11 10:18] gsmet commented on #6088
/cc @gunnarmorling

[2019-12-11 10:40] haraldatbmw opened #6097 "URL codeSource location for path c:\... could not be created."
**Describe the bug**
If i start the quarkus dev server on windows using mvn quarkus:dev i get the following error.
The error is only logged on windows CMD.

[code]

[2019-12-11 10:58] gsmet commented on #6097
@jaikiran any chance you could have a look at that one?

[2019-12-11 11:02] sberyozkin commented on #6096
@Mulgikapsas I think we've had similar issues before, I'm sorry but I don't see it as a bug. `@PermitAll` does not mean that an invalid token can be sent along the way.
What is the use case ?

[2019-12-11 11:05] jaikiran commented on #6097
Hello @gsmet, I think @mkouba fixed it upstream recently. Let me try and find that commit.

[2019-12-11 11:06] Mulgikapsas commented on #6096
@sberyozkin Prometheus is supplying JWT token when scraping /metrics page. I would like it to be ignored as there is no security on /metrics or /health endpoints by default.

[2019-12-11 11:08] jaikiran commented on #6097
Here - it went in as part of this commit https://github.com/quarkusio/quarkus/commit/52c6757c5e4c92cda8291eeab2d143d7c59d3466#diff-b62330d7854dac18b08037dee3101ee4L534.

@haraldatbmw, any chance you can build our latest upstream branch and give it a try? You will need to use `999-SNAPSHOT` as the quarkus version, after you build the Quarkus project.

[2019-12-11 11:10] sdaschner opened #6100 "quarkus:remote-dev doesn't update pom dependencies"
**Describe the bug**
When running `:remote-dev`, additions to the pom.xml dependencies have no effect on the remotely running Quarkus.

**Expected behavior**
Dependencies in the remote dev mode are updated and potentially loaded from Maven Central (similar to local process).

**Actual behavior**
The remote dev mode doesn't seem to be notified about the change; the
locally running `:remote-dev` doe

[2019-12-11 11:10] gsmet commented on #6097
Oh, this one was sneaky :).

@haraldatbmw you can even try 1.1.0.CR1. You need to use the `quarkus-bom` for that, not the `quarkus-universe-bom`.

[2019-12-11 11:12] gsmet opened #6101 "Deprecate enableJni option as GraalVM 19.3 requires JNI support"
With GraalVM 19.3.0, JNI always needs to be enabled.

We should:
- deprecate enableJni (and any other option allowing to set it)
- always consider it true
- warn if it has been set to false

[2019-12-11 11:15] sdaschner opened #6102 "--- name: Bug report about: Report a bug in Quarkus title: '' labels: bug assignees: ''"
---

**Describe the bug**
(Describe the problem clearly and concisely.)

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help explain your problem.)

**Envir

[2019-12-11 11:15] sdaschner commented on #6102
Sorry, my CLI went wild :) Feel free to delete.

[2019-12-11 11:15] #6102 closed

[2019-12-11 11:16] gunnarmorling commented on #6088
A message is logged, but probably not shown due to the log level config, see [here](https://github.com/quarkusio/quarkus/blob/master/extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsTopologyManager.java#L145-L152). @hguerrero, could you enable DEBUG logging and confirm whether you see it? That said, it'd probably make more sense to log the await case on a

[2019-12-11 11:26] sdaschner opened #6103 "Improve developer experience of remote-dev"
**Description**
We should consider improving the developer experience of containerized
workflows:

- If developers run multiple contains locally during development, e.g. databases, external systems, mockservers, Quarkus dev mode should be supported easier to be run in Docker containers.
- Developers might need to run a Quarkus (dev mode) inside a container, that is connected to the (cluster / Dock

[2019-12-11 11:37] haraldatbmw commented on #6097
@gsmet I switched to 1.1.0.CR1 and the error disappeared :-)

[code]

So I'm fine again.

[code]

[2019-12-11 11:39] deejcheeze commented on #6063
Experiencing the same issue when I attempt to fetch a parent class of an Inheritance (JOINED) strategy. Works fine when I run outside native mode, but once I build my native image and test the issue resurfaces.

I've read Quarkus already configures all bytecode enhancement options, so why does the error say _BytecodeProvider is 'none'_ ?

[2019-12-11 11:42] gsmet commented on #6097
Cool, thanks to both of you.

[2019-12-11 11:42] #6097 closed

[2019-12-11 11:45] sberyozkin commented on #6087
@pedroigor Good idea, right now such issues are indirectly described as such in #5874. I can add  `oidc-interoperability` label. I'd like to retain though the option of clicking on `component:oidc` and seeing all the OIDC issues, so please add both labels for the interop issues

[2019-12-11 11:55] maxandersen commented on #5957
@andrejpetras there you go - looking forward to it :)

[2019-12-11 11:58] maxandersen commented on #6084
Its not really graalvm failing - it’s the container running out of memory causing docker containers/process to fail.

Of course graalvm could probably add better out of memory handling but since we are the one starting docker and receiving the 137 error code; we are in the position to give a better/more informative error message.

[2019-12-11 12:00] jmartisk commented on #5701
I would suggest splitting this into two, one for Metrics and one for Health, as they are quite separate, and create new descriptions based on the recommended template. I also assume that I will be the main assignee for Metrics and Loïc for Health. Does that sound good? If so, I will create a new epic for Metrics, I'd like to have the permission to keep the description up to date without having to

[2019-12-11 12:11] gsmet commented on #6084
On Wed, Dec 11, 2019 at 12:58 PM Max Rydahl Andersen <
notifications@github.com> wrote:

No, it's GraalVM failing. You have the exact same exit code with plain old
GraalVM.

I had it a couple of times on my laptop and I don't do container builds.

--
Guillaume

[2019-12-11 12:12] gsmet commented on #6100
/cc @stuartwdouglas

[2019-12-11 12:42] FlorinAlexandru commented on #3842
@stuartwdouglas  I saw a similar error message when running an application in K8s in AWS. I deleted the pod, waited for K8s to create a new one  and checked the logs of the new pod but the error didn't appear. It seems that is a intermittent issue. Beside the error logs, in my case, the app seemed to respond to an http request(last line is a log from my controller).

[code]

[2019-12-11 13:25] rafaelkloss commented on #6063
Hi Diyan, thanks for your contribution, in my case also works fine outside native mode.
We have similar models, using inheritance joined strategy.
About error, i think this stack is incorrectly.
If you rollback to Quarkus 0.21, works fine even in native mode.

[2019-12-11 13:27] elamotte7 opened #6105 "Overriding security context doesn't work anymore"
**Describe the bug**
We are facing an issue with the common security annotations @RolesAllowed, @DenyAll, @PermitAll on REST endpoints. These annotations seems not to work with the roles authorized with a specific security context.
PS : I am anticipating the migration from quarkus 0.19.1 to 1.1.0 (I was waiting for the fix of this issue https://github.com/quarkusio/quarkus/issues/3516, that's why

[2019-12-11 13:28] alexzimmer96 opened #6106 "Document the usage to application.yaml"
**Describe the bug**
In contrast to the 1.10.CR1-Annoucement, it does not seem like Quarkus or atleast Hibernate accepts the YAML-Format for configuration. Starting with only a application.yaml file containing all necessary informationen does not come up. Hibernate fails to identifiy the provided driver (at least, this is the Exception).

**Expected behavior**
The driver in the  `application.yaml`

[2019-12-11 13:29] deejcheeze commented on #6063
Wow! Thanks for the heads-up.
Unfortunately we updated to 28.1 due to an issue with CORS headers not returned on authorization exceptions which was only fixed in more recent versions.

It's funny how this seems to be the only report of this on the web from my search. Any idea on a timeline for getting this fixed?

[2019-12-11 13:32] gsmet commented on #6106
@dmlloyd could you have a look?

[2019-12-11 13:32] gsmet commented on #6105
/cc @stuartwdouglas @sberyozkin

[2019-12-11 13:36] gsmet commented on #6063
@dreab8 @Davide would anyone of you be able to check why we need the proxy and how we could solve this?

FTR, proxies are completely disabled in Quarkus but if some features really need them, we might have to reconsider.

Thanks.

[2019-12-11 13:56] sberyozkin commented on #6096
@Mulgikapsas OK, thanks.
Here is another scenario: the user code would like to access `JsonWebToken` in the `@PermitAll` method, irrespective of what the token `groups` claim is set to. The policy configuration in your case should work on the `@PermitAll` if there is no token, but I don't think we can just dismiss the available token based on the fact it is a `permit` policy.

Can you configure Pr

[2019-12-11 14:03] dmlloyd commented on #6106
@alexzimmer96 could you give the exact exception?  Is it saying the driver is missing or the driver is invalid?

[2019-12-11 14:06] dmlloyd commented on #6106
Also - did you remember to include `quarkus-config-yaml` as a dependency in your POM?

[2019-12-11 14:09] #5948 closed

[2019-12-11 14:10] sberyozkin commented on #6105
This was reported before, #5948, but I've closed #5948 as a duplicate

[2019-12-11 14:17] sberyozkin commented on #6105
@stuartwdouglas Hi Stuart, I think we may have a case for an Epic :-), we now have several issues to do with the disconnect between the JAX-RS chains and the Quarkus security layer (this issue, not possible to use JAX-RS exception mappers to handle the security exceptions)
On the JAX-RS Path we should have `SecurityIdentity.getPrincipal` == `SecurityContext.getUserPrincipal` but I'm not sure yet s

[2019-12-11 14:29] mswiderski opened #6107 "Infinispan has an Elytron security dependency but the WildFly security substitutions are not included"
**Describe the bug**
Building sample services that use following quarkus extensions
- quarkus-smallrye-reactive-messaging-kafka
- quarkus-infinispan-client
- quarkus-vertx-web
- quarkus-kogito
- quarkus-resteasy

 in native mode fails with following exceptions

[code]

**Expected behavior**
build should finish without errors and produce native executable

**Actual behavior**
native image build fai

[2019-12-11 14:33] gsmet commented on #6107
@mswiderski can you tell me what happens if you add `quarkus-elytron-security` as an extension?

[2019-12-11 14:36] dreab8 commented on #6063
Hi @gsmet , that are one case where we create a proxy and it is when we have an association and the target entity has subclasses this to avoid an extra query which would be necessary  to determine the exact subclass to instantiate.

[2019-12-11 14:39] mswiderski commented on #6107
just adding that extension it fails with

[code]

[2019-12-11 14:47] sberyozkin commented on #6105
@stuartwdouglas, @gsmet I think what can work is that we register our own ContainerRequestFilter very late in the chain but before the RBAC filter is run, and all this filter will do it will align `JAX-RS SecurityContext` with `Quarkus SecurityIdentity`, how does it sound ?

[2019-12-11 14:48] MikeEdgar commented on #6065
SmallRye OpenAPI currently supports `date` and `date-time`, but not `time` for the `java.time` classes, likely because they are not mentioned in the OpenAPI spec itself. As @EricWittmann suggested, it would probably be good to support time, following along with the formats outlined by [RFC3339](https://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14) for `partial-time` and/or `full-time`.

[2019-12-11 14:51] gsmet commented on #6107
Very helpful stacktrace.

[2019-12-11 14:53] sberyozkin commented on #6087
Paulo fixed it in Vertx OAuth2

[2019-12-11 14:55] gsmet commented on #6107
Do you have a reproducer somewhere?

[2019-12-11 14:55] gsmet commented on #6107
@gwenneg it looks a bit like the security provider NPE issue or is it just me?

[2019-12-11 14:56] mswiderski commented on #6107
see steps to reproduce in the beginning of the issue

[2019-12-11 14:56] Mulgikapsas commented on #6096
@sberyozkin Unfortunatey I can't change that prometheus instance.
The token is invalid because I need to supply a different public key to SmallRye JWT for signature validation. Not sure if it is possible to specify multiple public keys to SmallRye JWT?

Another issue is that /metrics is not a JAX-RS endpoint (correct me if I am wrong), it is exposed by quarkus-metrics extension, so I am not sure h

[2019-12-11 14:57] gsmet commented on #6063
@Sanne how should we handle that?

This is the second time we see a need for proxies in valid use cases (Envers being the other one). Should we relax this and allow proxies somehow now that we understand a bit more how they can be used in GraalVM?

[2019-12-11 14:59] gsmet commented on #6107
Ah, missed it, sorry. Thanks!

[2019-12-11 15:01] hartimcwildfly commented on #5226
I started implementing this on monday. Today my first tests we're sucessfully. I think on friday I can do a PullRequest.

[2019-12-11 15:01] hartimcwildfly commented on #5226
How can I assign this issue?

[2019-12-11 15:08] gwenneg commented on #6107
@gsmet Yes, that's the same exception.

[2019-12-11 15:11] alexzimmer96 commented on #6106
@dmlloyd Allright, that helped. Now i'm just confused of how i would define profile-depedent configuration. Would you give me a hint?

[2019-12-11 15:11] gwenneg commented on #6107
One of the errors from the first comment also looks very much like the one from https://github.com/oracle/graal/issues/877.

[2019-12-11 15:24] gsmet commented on #6107
Yes, but we have substitutions for these ones, it's just they are not triggered.

What I don't understand is how we can get the NPE again as it was fixed.

[2019-12-11 15:25] ia3andy opened #6108 "[Tooling] Maven add-extension should add the extension before the "test" dependencies"
**Describe the bug**
I like clean pom.xml, when using Quarkus Maven plugin "add-extension", if there are grouped "test" dependencies at the end, the extension should be added before it.

**Expected behavior**
Keep the pom.xml clean

**Actual behavior**
The extension is added at the end

[2019-12-11 15:28] InfoSec812 opened #6109 "Improve Kafka Streams Guide to be more progression based"
**Description**
Currently, the Kafka Streams guide for Quarkus jumps straight into a lot of concepts without much context. I'd like to propose (and submit a PR for) a change which shows a progression from:

1. Start with a simple single stream use case
2. Add a Join
3. Add an aggregate
4. Add TimeWindows to the aggregate
5. Show the use of suppressed() and how that works with TimeWindows and the g

[2019-12-11 15:29] InfoSec812 commented on #6109
Tagging @gunnarmorling as requested

[2019-12-11 15:30] #6070 closed

[2019-12-11 15:30] gsmet commented on #6106
That's indeed a good question.

[2019-12-11 15:38] gastaldi commented on #6108
Same for Gradle

[2019-12-11 15:40] ia3andy commented on #6108
Bonus point if all Quarkus extensions try also to be grouped together..

[2019-12-11 15:53] sherl0cks commented on #4254
I can’t say until I find a way to change vertx temp without this extra script. That said, I’m getting about 300 ms init and 200 ms duration on a cold start right now with 128mb for hello world, which is just amazing. That flattens out around around 150ms init at 512mb. Really incredible numbers

[2019-12-11 16:06] lburgazzoli opened #6110 "Move jsch bits out of quarkus-jgit"
**Description**
in camel-quarkus we do use jsch as part of the camel-quarkus-ftp extensions and the same library is also used by the quarkus-jgit extension which provides some dedicated build items and substitutions so it could make sense to create a quarkus-jsch extension that can be re-used by camel-quarkus-ftp  and quarkus-jgit

[2019-12-11 16:09] dmlloyd commented on #6106
You have to specify the profile in the same way, so you'd need an outer map key of `%profilename` for each profile-specific configuration.

[2019-12-11 16:09] dmlloyd commented on #6106
Someone should probably write docs for this!

[2019-12-11 16:10] gsmet commented on #6106
@dmlloyd if you're not already on it, I can do it.

[2019-12-11 16:11] alexzimmer96 commented on #6106
I justed started to add this to the docs.

[2019-12-11 16:12] dmlloyd commented on #6106
I'll be happy to fill in any holes/do a second level of detail if you want to sketch out the basics.

[2019-12-11 16:27] hartimcwildfly commented on #5226
See #6111 . Tests and documentation are missing atm.

[2019-12-11 16:44] vc-void opened #6112 "Support Hibernate Envers configuration properties"
**Description**
Currently Envers supports several configuration properties, e.g. `org.hibernate.envers.default_schema`. To me it makes sense to add support for some or all of these properties on the application.properties file.

[2019-12-11 16:53] Sergey80 opened #6113 "1000 parallel requests get 65 seconds to finish. Rest easy resource load test."
**Describe the bug**
Not sure it is a bug or feature. But it is slow feature then :)
1000 parallel requests get 16 seconds to finish. Each request 1 seconds (simulation of http call). with @Timeout annotation
1000 parallel requests get 65 seconds to finish. Each request 1 seconds - without @Timeout annotation
Both 16 and 65 seconds is too slow.

**Expected behavior**
2-3 seconds to complete?

**Ac

[2019-12-11 16:56] FroMage commented on #5593
@patriot1burke can you answer my questions?

If we're not going with fully buffering input/output, which is simpler than my PR, @vietj just suggested that I tweak my PR to still implement async IO but if we encounter a `MesageBodyWriter` which does not support async IO (user-provided for example, because the standard RESTEasy ones can all be adapted) we add an SPI that checks if we're allowed to b

[2019-12-11 17:05] psycho-ir commented on #6113
Just to ensure I got your test correctly.
Due to the`Thread.sleep` Every request takes 1 second to return response, and given that you used `dataSingle.blockingGet()` the thread will be blocked.

So your throughput should be the same as the # of working threads you have per second.

If you expect to get the load test done in ~3 you should at least have 340 working threads? assuming 0 overhead for

[2019-12-11 17:06] nomadgis opened #6114 "Kafka Streams and Alpine linux incompatibility"
**Describe the bug**

There is a known issue about an incompatibility of Kafka Streams and Alpine linux, which is really seems to be a RocksDB issue. https://issues.apache.org/jira/browse/KAFKA-4988 Anyway, I don't think the Kafka Streams extension is working OOTB in Quarkus using Dockerfile.jvm with fabric8/java-alpine-openjdk8-jre as base image.

**Expected behavior**
Normal startup and running

[2019-12-11 17:12] gsmet opened #6115 "Neo4j doesn't work in native mode anymore"
Apparently, CI didn't run the Neo4j tests and we missed that the Neo4j extension doesn't work in native mode anymore:

[code]

[2019-12-11 17:22] gsmet commented on #6115
Superseded by https://github.com/quarkusio/quarkus/pull/6117 .

[2019-12-11 17:28] brunotitata opened #6118 "NullPointerException when running image-native application"
**Describe the bug**
I created an application to test the behavior, and when I compile the project for image-native and run it, I get a NullPointerException, and when I compile in the JVM the application works normally ...

Command executed:
[code]

Build Info:
[code]

After compilation, when will I run:
[code]
**Screenshots**
[Screenshot 1](https://i.ibb.co/3BmyWXs/Captura-de-Tela-2019-12-11-a-s-

[2019-12-11 17:30] sberyozkin commented on #6105
The only problem here is that `SecurityIdentityAugmentor` has the methods like `addRole` but the role names are not available from `SecurityContext`

[2019-12-11 17:35] gsmet commented on #6114
/cc @gunnarmorling

Not sure we will want to change our default image for that.

[2019-12-11 17:41] gsmet commented on #6118
/cc @gwenneg is it the issue you're trying to fix here: https://github.com/quarkusio/quarkus/pull/6090 ?

[2019-12-11 17:55] zakhdar commented on #6065
Thank you @EricWittmann  and @MikeEdgar  for your information , i will use @Schema as workaround and  open an issue in smallrye-open-api for adding out-ofbox support for LocalTime. thk you for your support

[2019-12-11 18:33] michael-simons commented on #6115
I'm investigating as well.
So far:
* Pre 1.0.0 with our 4.0.0-alpha is fine
* Pre 1.0.0 with our 4.0.0-beta03 without any additional things in Quarkus is fine
* 1.0.1 works fine with 4.0.0-beta03 and 4.0.0 final (with some changes to the test)

After that, things get's messy somewhere.

[2019-12-11 18:51] dmlloyd commented on #6107
@cstancu any thoughts as to why this is cropping up again?

[2019-12-11 18:54] gsmet commented on #6107
So there are two different issues:
- the missing substitutions: this is an easy fix
- the SecurityProvider registered at static init issue striking again. `org.infinispan.client.hotrod.RemoteCacheManager` registers them in a static block.

So it should all be fixable in Quarkus.

[2019-12-11 18:57] michael-simons commented on #6115
Update: it seems not to be SSL related, but there’s somewhere a class either from us or the shaded netty that gets initialized at buildtime and causes our message handlers to mess up. Cc @zhenlineo

[2019-12-11 20:17] gastaldi commented on #6118
This seems to be a duplicate of https://github.com/quarkusio/quarkus/issues/6089

[2019-12-11 20:18] gastaldi commented on #6118
@brunotitata you need to use the `19.3.0.r8-grl` in this release

[2019-12-11 20:18] michael-simons commented on #6115
Here's a plain reproducer. It's not Quarkus related, but GraalVM:

https://github.com/michael-simons/neo4j-java-driver-native-example

Something changed between 19.2 and 19.3.

Maybe @shelajev can ask if someone from the Graal team might have a look here.

[2019-12-11 20:37] brunotitata commented on #6118
Thanks a lot, really the GraalVM version was with JDK 11 instead of JDK 8.

[2019-12-11 20:39] gastaldi commented on #6118
Closing as the bug above is already being handled in a separate issue

[2019-12-11 20:39] #6118 closed

[2019-12-11 20:41] sreev opened #6122 "quarkus-maven-plugin default version mismatch with quarkus"
**Describe the bug**
run this command to create a sample quarkus project.
`$ mvn io.quarkus:quarkus-maven-plugin:create -DprojectGroupId=com.company -DprojectArtifactId=sample-kogito -Dextensions="kogito"
`

**Expected behavior**
create project successfully.

**Actual behavior**
Fails with this error because quarkus-maven-plugin default version mismatch with quarkus.

`[ERROR] Failed to execute go

[2019-12-11 20:42] sreev commented on #6122
hack/fix: match the plugin version and run, again.

`
$ mvn io.quarkus:quarkus-maven-plugin:1.0.1.Final:create -DprojectGroupId=com.company -DprojectArtifactId=sample-kogito -Dextensions="kogito"
`

[2019-12-11 20:48] mesutcelik opened #6123 "NoClassDefFoundError while native build generation: com/fasterxml/jackson/databind/JsonSerializer"
**Describe the bug**
Native build fails with that exception.
`Caused by: java.lang.NoClassDefFoundError: com/fasterxml/jackson/databind/JsonSerializer`

**Expected behavior**
Native build image generated.

**Actual behavior**
failure with Exception.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/hazelcast-guides/hazelcast-quarkus-kubernetes.git
2. `mvn p

[2019-12-11 21:19] rafaelkloss commented on #6063
The issue is the "main" issue of other serious bugs in my api today (i think).
All business rules that depends of this point of model, doesn't work.

[2019-12-11 21:21] rafaelkloss commented on #6063
Like this -> [https://github.com/quarkusio/quarkus/issues/4377](url) where existent object is like a "new" object

[2019-12-11 22:09] stuartwdouglas commented on #3842
That exception is because the servlet path matching expects a path to begin with a / which is not the case for CONNECT requests. It should not really be an exception but I am not really sure what the correct behaviour should be, probably a method not allowed response.

[2019-12-11 22:14] gsmet commented on #6123
If you use Jackson, you need to add the `quarkus-jackson` extension. AFAICS, it's missing from your pom.

[2019-12-11 22:15] gsmet commented on #6122
/cc @aloubyansky it looks like an undesired behavior.

[2019-12-11 22:21] murphye commented on #6091
I downgraded to 1.0.1.Final and the reproducer started up.

This appears to be a regression, maybe due to a change in Hibernate version?:
5.4.8 (1.0.1.Final)
5.4.10 (1.1.0.CR1)

[2019-12-11 22:31] stuartwdouglas commented on #6100
I will try and get this into 1.2, as well as a CRC/hash based sync on connect to make sure everything is up to date.

[2019-12-11 22:47] gwenneg commented on #6118
Duplicate confirmed, this is the same issue as #6089 which is in the process of being fixed in #6090.

[2019-12-11 23:48] murphye commented on #3273
I would like to see this implemented with Qute

[2019-12-11 23:50] stuartwdouglas commented on #5926
I take it this failed again? Is there a link to the failure?

[2019-12-11 23:53] gwenneg commented on #6107
I'm trying to reproduce the initial issue (without `quarkus-elytron-security`) but all builds ended successfully so far.

[2019-12-11 23:57] stuartwdouglas commented on #6096
Basically at the moment we do pro active authentication, so if there is a credential there we will attempt to verify it, and actively block invalid credentials even if the resource is unprotected.

I think we can do this by simply having a setting that ignores auth failure and lets the request proceed. If the request does not require security then it will work as expected, if it does then the fail

[2019-12-12 00:12] geoand commented on #6113
cc @johnaohara

[2019-12-12 00:14] geoand commented on #6103
cc @maxandersen

[2019-12-12 00:14] geoand commented on #6095
cc @FroMage

[2019-12-12 00:17] geoand commented on #6094
@gsmet maybe we can implicitly add make validator an application scoped bean implicitly by just detecting the implementations of `ConstraintValidator`?

[2019-12-12 00:32] geoand commented on #6123
Thanks for the reproducer!

I just tried it and indeed I see the problem, however the easy fix is just to use:

[code]

instead of

[code]

Or you can just add

[code]

like @gsmet mentions

[2019-12-12 00:36] geoand commented on #6091
cc @stuartwdouglas @Sanne

[2019-12-12 00:36] gwenneg commented on #6107
Could you please run `./mvnw clean package -Pnative -Dquarkus.native.container-build=true -Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-native-image:19.3.0-java11` from `06-kogito-travel-agency`? You will need Docker installed to do this.

I tried generating the native image using various configurations and couldn't reproduce the initial issue.

[2019-12-12 00:38] geoand commented on #6123
@mesutcelik I am going to close this one since I tested the changes I mention above and they work. Feel free to reopen if you feel that the resolution is unsatisfactory.

Thanks

[2019-12-12 00:38] #6123 closed

[2019-12-12 00:41] geoand commented on #6122
I wasn't able to reproduce this actually...

Just doing `mvn io.quarkus:quarkus-maven-plugin:create -DprojectGroupId=com.company -DprojectArtifactId=sample-kogito -Dextensions="kogito" ` worked just fine for me.

[2019-12-12 01:14] gastaldi commented on #6122
Because Maven resolves to the latest available version and the `quarkus-platform` 1.1.0.CR1 artifact doesn't exist yet, you need to add ` -DplatformArtifactId=quarkus-bom` to the command.

[2019-12-12 01:21] gwenneg opened #6127 "BootLoader.loadClassOrNull() NPE during native tests execution with JDK 11"
The following exception is thrown during the `quarkus-integration-test-spring-data-jpa` native tests execution:
[code]
This issue is similar to #6089 as they have the same root cause: `ClassLoaders.bootLoader()` is `null` in native mode. They require different substitutions to be fixed though.

[2019-12-12 02:54] stuartwdouglas commented on #6107
I have also been unable to reproduce this

[2019-12-12 05:38] jcordes73 opened #6130 "Support Failover and SSL protocol for Artemis JMS"
**Description**
Communication to an Artemis message broker sometimes needs to be secured via TLS. Also for high-availability a client side failover should be possible.

**Implementation ideas**
Use Artemis "ssl" and "failover" protocol extensions, i.e.

failover://ssl://<host>:443

This would also require the ability to add key- and truststores.

[2019-12-12 06:31] johnaohara commented on #6113
@Sergey80

Some points to note;

1) The test is making blocking calls from the vert.x worker pool. The default pool size is 20, so that is the maximum number of parallel requests you could make without tuning the vert.x worker pool. The fastest this test could theoretically run is 50seconds, without tuning the worker thread pool.
2) `@Timeout` will be cancelling the request before it is complete,

[2019-12-12 06:40] jaikiran commented on #6092
A similar issue was recently fixed in `master` branch https://github.com/quarkusio/quarkus/issues/5878. That fix has made it to `1.1.0.CR1` of Quarkus which was released recently. Is there any chance you can test against that?

[2019-12-12 07:10] michael-simons commented on #6115
Well it turns out that I cannot even compile anything natively anymore with GraalVM 19.3 on macOS 10.15 (I think that is this https://github.com/oracle/graal/issues/1920)

[code]

[2019-12-12 08:09] mswiderski commented on #6107
sorry guys, I forgot that I pushed the sample with the additional config that makes it work, if you remove this line from pom.xml you should see the error
https://github.com/mswiderski/kogito-travel-agency-tutorial/blob/master/06-kogito-travel-agency/pom.xml#L138

[2019-12-12 08:40] dufoli commented on #4005
I do not know how to ask for review.. (in PR or in issue). Anyway, now, PR test are ok and I need a full review. thanks

[2019-12-12 08:47] Dufgui commented on #4005
in PR top right corner if it's available. If not leave a comment on the PR

[2019-12-12 08:52] FroMage commented on #6095
I deflect all caching topics to @Sanne ;)

[2019-12-12 09:17] maxandersen commented on #1724
junit seem to have implemented this - can we fix this now then ?

[2019-12-12 09:26] nomadgis commented on #6114
I would suspect not -- perhaps offering an alternative base image would provide a working solution for Kafka Streams apps.

[2019-12-12 09:41] loicmathieu opened #6131 "ExceptionInInitializerError inside a JUnit5 unit test (not a @QuarkusTest) since 1.1.0.CR1"
**Describe the bug**
After migrating to 1.1.0.CR1 from an application running on 1.0.1.Final I have the following error when launching a JUnit5 _raw_ test (a test without using Quakus support via `@QuarkusTest`).

[code]

**Expected behavior**
No exception thrown

**To Reproduce**
I still don't know exactly what happend so it's hard to give a reproducer.

**Environment (please complete the followi

[2019-12-12 09:41] gunnarmorling commented on #6109
Hey @InfoSec812, that all sounds great to me. Agreed that the current Kafka Streams extension guide is quite dense and would benefit from a more incremental approach. If possible, I'd like if we could stick to the current example (domain) overall but as you say, build it up more piece-meal wise.

In terms of a quick-start, there's one accompanying the current guide (i.e. the full example):

    ht

[2019-12-12 09:45] mkouba commented on #6131
I'm a bit confused. How do you run the test if not using `@QuarkusTest`?

[2019-12-12 09:52] pedroigor commented on #5926
@stuartwdouglas If you don't mind I can take this one.

[2019-12-12 10:02] #6110 closed

[2019-12-12 10:04] gunnarmorling commented on #6114
In the quickstart example [we use](https://github.com/quarkusio/quarkus-quickstarts/blob/master/kafka-streams-quickstart/aggregator/src/main/docker/Dockerfile.jvm#L17) fabric8/java-centos-openjdk8-jdk. Is there an UBI Java image by now? If so, that'd be a nice alternative.

If you don't want to switch the default image, it'd need mentioning in the Kafka Streams reference guide.

That said I was su

[2019-12-12 10:07] gunnarmorling commented on #6114
So, on UBI Java, that's what Drools currently [is doing](https://github.com/kiegroup/openshift-drools-hacep/blob/master/springboot/Dockerfile):

    FROM registry.access.redhat.com/ubi8/ubi-minimal:latest
    RUN microdnf install java-1.8.0-openjdk-headless && microdnf clean all

I like that. I can send a PR for updating the existing example and also add a mention to the guide.

[2019-12-12 10:12] loicmathieu commented on #6131
Raw JUnit5 test, I mock all dependencies (for a service: all repositories, for a rest endpoint, all services, ...).

According to me, using `@QuarkusTest` is for integration test, my definition of a unit test is a test testing only one composant without any dependencies ... So this is a best practice to use raw unit test (without any framework support) and mocking everything so all my tests runs i

[2019-12-12 10:17] emmanuelbernard commented on #6131
@loicmathieu who starts / calls RESTEasy in your test? Do you start Quarkus yourself somehow?

[2019-12-12 10:19] mihapolak commented on #5859
@evanchooly , I agree with you to use amazon lambda http. But I guess there are other components using vertx?
@mehdi-reza, local sam invoke shows /var/tmp/ (if not changed with custom bootstrap file), which obviously works within local tests but not in case of actual aws deployment.