[2021-09-09 13:15] rmanibus opened #20028 "SmallRye Metrics: Gauge not showing up"
### Describe the bug

when using the gauge annotation

[code]
The metric does not exist in quarkus 2.2.2.Final

### Expected behavior

q/metrics/application contains the gauge

### Actual behavior

the gauge is not present

### How to Reproduce?

https://github.com/rmanibus/quarkus_20028

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

openjdk version "15.0.1" 2020

[2021-09-09 13:21] geoand commented on #19862
👍🏼

[2021-09-09 13:22] geoand commented on #19989
YW

[2021-09-09 13:27] karesti commented on #19697
@kshpak I will raise the issue to the team

[2021-09-09 13:41] cescoffier commented on #19718
@vietj
I've something breaking in dev mode:
[code]

Is there anything that changed regarding the HTTP server (like restarting or closing)?

[2021-09-09 13:46] 0x4a616e commented on #19862
Sorry for asking this again, but is the poll loop really not enabled when the quarkus lambda is deployed in a real Lambda environment? At least native builds AFAIK do enable the poll loop as they run in a custom environment and otherwise there would not be a way for them to retrieve new events.

[2021-09-09 14:00] patped commented on #13856
Just want you guys to know that this is still an issue and the [guide](https://quarkus.io/guides/building-native-image#debugging-native-executable) is still pointing macOS users to install objcopy.

 Is there anything that I'm missing?

[2021-09-09 14:53] vincenzocorso commented on #20020
Solved.

Reading #13233 I found that Hibernate Validator needs the complete lists of the constraints used, scanning the Jandex index file.

I added this plugin in the module containing the interface and now it works:
[code]

[2021-09-09 14:54] #20020 closed

[2021-09-09 15:04] JithendraKatkam opened #20030 "@IfBuildProperty is NOT working as expected in false scenarios"
### Describe the bug

IfBuildProperty's stringValue is false, getting the exception - unsatisfied dependency exception -
[1] Unsatisfied dependency for type com.abc.def.MyProperties and qualifiers [@Default]

### Expected behavior

It must ignore the exception (as user is intended to not to load the bean...)in such cases if stringValue is not matching the value in the properties

### Actual behavi

[2021-09-09 15:23] geoand opened #20031 "RestResponse usability"
### Description

I expected to be able to write something like:

[code]

However I can't because `notFound()` returns `RestResponse<Void>`.

This really limits the usability of `RestResponse`

### Implementation ideas

_No response_

[2021-09-09 15:23] geoand commented on #20031
cc @FroMage

[2021-09-09 17:06] snscaimito opened #20034 "@TestTransaction in combination with Junit5 @Nested does not roll back"
### Describe the bug

In a `@QuarkusTest` placing `@TestTransaction` on methods inside a Junit5 `@Nested` class does not roll back the transaction - the test data stays in the database. Moving the test method out of the `@Nested class` makes it work.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_

[2021-09-09 17:45] sberyozkin opened #20036 "Improve Security Documentation"
### Description
TODO

### Analysis

In progress

[2021-09-09 17:48] geoand commented on #18559
So the problem is that you seeing decreased code coverage when moving to Quarkus 2.x?

[2021-09-09 17:59] geoand commented on #20030
This works exactly as intended.

You either need to have some other (likely `@DefaultBean` annotated) `MyProperties` bean implementation, or use `@Inject Instance<MyProperties>` instead of `@Inject MyProperties` in `Application`

[2021-09-09 17:59] #20030 closed

[2021-09-09 18:01] edeandrea opened #20037 "Dev Services to bootstrap "random" services"
### Description

Say I have a system that looks like this:

![superhero](https://user-images.githubusercontent.com/363447/132736111-4da4aa66-8c1a-44d7-b3d8-8a6826eae844.png)

Maybe the **Hero** & **Villain** services have a source repo somewhere or a container image published somewhere and I now want to work on the **Fight** service. It would be _really_ slick if somehow I could configure Quarkus

[2021-09-09 18:08] edeandrea commented on #20037
True, _if_ that's how the developer writes the code :)

[2021-09-09 18:11] kenfinnigan opened #20038 "`@WithKubernetesTestServer` integration with `PodWatcher`"
### Description

I'm not sure if this would be a Quarkus thing or a fabric8 Kubernetes client thing but raising here first.

When using `@WithKubernetesTestServer` it would be great if it was possible to more realistically simulate the environment in tests, particularly in relation to `PodWatcher`.

If I have some Quarkus code that defines a `PodWatcher`, it would be fantastic if I could add a pod

[2021-09-09 18:15] kenfinnigan opened #20039 "`@WithKubernetesMockServer` not cleaning up pods on delete"
### Describe the bug

When creating pods in the mock server with `mockServer.getClient().pods().create(pod1)`, deleting them at the end of a test with `mockServer.getClient().pods().delete()` does not result in the pods being removed in subsequent tests

### Expected behavior

Calling `mockServer.getClient().pods().delete()` removes all pods from the mocked server

### Actual behavior

`mockServer

[2021-09-09 18:35] bvarner commented on #17767
I'm seeing the same behavior as described by this ticket -- but only intermittently -- in a containerized CI environment.

It _seems_ like if the startup takes too long, or the CPU is slow, I get these errors. I've managed to run _a handful of times_ out of hundreds and get the Integration Tests to function properly.

My project is using maven & the failsafe plugin, but I'm still seeing the same i

[2021-09-09 18:39] geoand commented on #17767
https://github.com/quarkusio/quarkus/blob/2.2.2.Final/test-framework/common/src/main/java/io/quarkus/test/common/IntegrationTestStartedNotifier.java is what I was referring to

[2021-09-09 18:49] bvarner commented on #17767
So, I'm testing an app with HTTP rest endpoints.
Why would I need to implement a Notifier? And can you think of a good reason why there's some sort of race condition resulting in my log files being non-existent when I'm using a single forked failsafe test?

[2021-09-09 18:50] geoand commented on #17767
You should not need it.

I can't think of a reason why you don't have the logs of the running application

[2021-09-09 18:59] bvarner commented on #17767
I don't get any output through failsafe either, that implies that quarkus is actually starting up.
it looks like it's hanging.

But when I run the commands and forks being dumped into logging by `./mvnw -X` -- the quarkus app starts up just fine.

[2021-09-09 19:05] geoand commented on #17767
If you have an example application that exhibits this behavior, please attach it

[2021-09-09 19:10] FGRCL opened #20040 "Documentation page for micrometer metrics shows wrong quarkiverse extension depedency"
### Describe the bug

In the quarkus guide titled "MICROMETER METRICS" located here: https://quarkus.io/guides/micrometer, it is shown that to add a quarkiverse extension the following maven dependency must be added:
[code]

However, the maven is unable to retrieve this dependency. The maven repository instead shows that the following dependecy should be added:
[code]

### Expected behavior

The d

[2021-09-09 19:18] ebullient commented on #20040
oops! You're right. How did I manage that? yikes. Easy to fix.

[2021-09-09 20:03] famod commented on #20022
/cc @radcortez

[2021-09-09 20:37] bvarner commented on #17767
Unfortunately this is a real life customer app, not a reproducer.

[2021-09-09 21:46] bortolonrodrigo commented on #19740
Hello guys, any news about this thread?

@gsmet
@Sanne

[2021-09-09 22:32] #18977 closed

[2021-09-09 23:29] #19971 closed

[2021-09-09 23:44] oleksandr-manko opened #20045 "quarkus-oidc doesn't work if jwks endpoint has a different domain (like it's done in AWS Cognito)"
### Describe the bug

I tried to use quarkus-oidc with AWS Cognito and It doesn't work 'cause quarkus-oidc assumes that JWKS endpoint ALWAYS should have  the same domain as the authorization server has. It's not always true. For instance, AWS Cognito has different domains for authorization servers and JWKS. In our case We have the following OIDC Configuration in Cognito:
[code]
We have `https://co

[2021-09-09 23:55] #20045 closed

[2021-09-09 23:55] oleksandr-manko opened #20046 "quarkus-oidc doesn't work if jwks endpoint has a different domain (like it's done in AWS Cognito)"
### Description

 tried to use quarkus-oidc with AWS Cognito and It doesn't work 'cause quarkus-oidc assumes that JWKS endpoint ALWAYS should have  the same domain as the authorization server has. It's not always true. For instance, AWS Cognito has different domains for authorization servers and JWKS. In our case We have the following OIDC Configuration in Cognito:
[code]
We have `https://cognito-

[2021-09-10 01:58] stuartwdouglas commented on #20037
I have actually been talking to @cescoffier about this for a while, it's just that we have not had time to act on it

- This will need mutable jars in the images for Dev Services support
- DevServices already supports discovery, so we can actually share things like databases that have the same discovery label. This lets you select which services are shared and which are new instances (especially r

[2021-09-10 05:38] jmartisk commented on #20028
Hi @rmanibus  - the reason you're not seeing your gauge is probably because gauges get registered only when the owning bean is instantiated. You need to make sure that your REST endpoint, or application-scoped bean, is called first.

This applies to only gauges - it is because gauges are a bit special in the sense that to be able to register a gauge, you need an actual bean instance to already exi

[2021-09-10 05:54] jmartisk opened #20047 "IllegalAccessError for gauges with Micrometer + MP Metrics binder"
### Describe the bug

Creating an annotated `org.eclipse.microprofile.metrics.annotation.Gauge` when I use the Micrometer with the MP Metrics binder causes an error during gauge registration:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

openjd

[2021-09-10 06:00] geoand commented on #20038
Great idea!

Is there something we can do in Quarkus about this @iocanel or would this capability be added upstream?

[2021-09-10 06:07] geoand commented on #20039
Seems like an upstream issue as we pass do pass the `crud=true` flag to the `io.fabric8.kubernetes.client.server.mock.KubernetesServer`

[2021-09-10 06:07] #20040 closed

[2021-09-10 06:10] denis-anisimov opened #20049 "It's not possible to use QuarkusIntegrationTest in case default Java version is less than 11"
### Describe the bug

If you use `quarkus-maven-plugin` then `QuarkusIntegrationTest` allows to execute quarkus in a separate JVM using `java` command.
The setup can be this:
- default Java version is 8
- maven is executed with Java 11 (e.g. via setting $JAVA_HOME).

The result is : maven and everything inside it is executed using Java 11 as required for Quarkus.
But integration test executes `jav

[2021-09-10 06:23] geoand commented on #20049
Good point! https://github.com/quarkusio/quarkus/pull/20050 should fix the issue

[2021-09-10 06:24] denis-anisimov commented on #20049
Very fast. Thank a lot !

[2021-09-10 06:26] geoand commented on #20037
This idea intersects somewhat with https://github.com/quarkusio/quarkus/issues/17861.
We really need to figure out a great developer experience for this super common scenario.

[2021-09-10 06:29] geoand commented on #20049
YW!

[2021-09-10 06:59] cescoffier commented on #20037
@edeandrea Your system looks quite similar to the one from the Quarkus workshop :-)
I'm going to update it to Quarkus 2.2.x next week and use dev services.

[2021-09-10 07:00] #19996 closed

[2021-09-10 07:42] geoand commented on #18559
My initial guess was that this happens because Quarkus loads the applications in a special classloader.
However this turns out to not be true, because the same problem occurs when `legacy-jar` or `uber-jar` are used as the package types.

I have actually never used Jacoco myself, so I had to debug the code and see what was going on.
It turns out that Jacoco assumes the bytecode of the compiled app

[2021-09-10 08:14] rmanibus commented on #20028
thanks @jmartisk , this make sens. I tried to add a StartupEvent listener on the bean containing the gauge so it get instantiated

[code]
but I still can't see it !

[2021-09-10 08:24] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1220011345

[2021-09-10 08:34] jmartisk commented on #20028
In the Edit, I meant that they don't work with Micrometer. With pure SmallRye Metrics extension it should work.

Are you sure you can't see the gauge after adding `@Observes StartupEvent`? I just tried it and it appeared immediately after start.

[2021-09-10 08:50] rmanibus commented on #20028
yes I just saw that it is working on the demonstrator but not on my project.
in fact I was counting some data in DB and I needed a transaction. but it failed without any messages in the logs !

[2021-09-10 08:54] Lahres-Dev opened #20053 "@QuarkusIntegrationTest not working with Docker Image when doing security testing on Quarkus 2.2.2"
### Describe the bug

mvnw clean verify -Pdocker-deploy aborts build process with "[ERROR] WARNING: An illegal reflective access operation has occurred"

I am using quarkus-test-keycloak-server plugin to simulate a Keycloak instance for security testing. Running mvnw clean verify works fine, also mvnw quarkus:dev continuous tests are running successfully.

Reproducer: https://github.com/Lahres-Dev

[2021-09-10 08:54] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1220019308

[2021-09-10 08:55] siwee opened #20054 "Console output garbled characters"
### Describe the bug

`quarkus.console.enabled=false` works fine, otherwise the output is garbled.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Windows 10 20H1

### Output of `java -version`

11

### GraalVM version (if different from Java)

21.2.0

### Quarkus version or git rev

2.2.2.Final

##

[2021-09-10 09:07] michalszynkiewicz commented on #20027
@kjq passing path params through bean param seemed really weird to me, that's why I didn't implement it.
What's your use case for doing so?

[2021-09-10 09:17] geoand commented on #20053
I just tried this and it worked properly.

[2021-09-10 09:23] michael-simons commented on #8530
Hi @AndreasBoehme @sdaschner it would be nice if you can try out Neo4j-OGM 3.2.26, it uses latest Classgraph and should work on JVM mode with both legacy and fast jar. Thanks.

[2021-09-10 09:23] Lahres-Dev commented on #20053
Oh, no. Then there's a problem on my side.

[2021-09-10 09:25] sberyozkin commented on #20053
@Lahres-Dev Hi, not sure what can be the cause of this reflection access op issue, hard to see how it being a Quarkus problem, may Georgios, @geoand, have you seen such errors before ?

@Lahres-Dev By the way, we now recommends running the integration tests against Keycloak using Dev Services for Keycloak, please see https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/security-op

[2021-09-10 09:25] geoand commented on #20053
I would assume that `--illegal-access=deny` is being set somewhere

[2021-09-10 09:25] #20053 closed

[2021-09-10 09:25] sberyozkin commented on #20053
@geoand thanks for testing it :-)

[2021-09-10 09:48] Lahres-Dev commented on #20053
@sberyozkin I tried to follow the documentation, but there doesn't seem to be a utility class
`io.quarkus.test.keycloak.client.KeycloakTestClient` in that dependency

[code]
![image](https://user-images.githubusercontent.com/58905132/132835191-0440801e-e767-487e-82f7-0a16d2701df1.png)

Is this maybe in Version 2.3?

@geoand @sberyozkin Thanks for your help. I look further into it.

[2021-09-10 09:50] sberyozkin commented on #20046
@oleksandr-manko thanks for not marking it as a bug :-).

Can you let me know please, what is returned with `https://my-test.auth.eu-central-1.amazoncognito.com//.well-known/openid-configuration` ? If the JWKS URI is different there to what you use, can you clarify why you need to use different keys ?

thanks

[2021-09-10 10:37] radcortez commented on #20022
This is working as intended.

The reason for this is that we have to remember that each property is handled individually and that configuration sources are additive not replacements. In this case, the `main` and `test` `application.properties` are different sources and both contribute to the final `Config` instance. The `test` file overrides index `0` and `1`, but since there is no index `2` in `t

[2021-09-10 10:41] edeandrea commented on #20037
@cescoffier It was taken from that as an example. Always easier to try to explain something when everyone has a visual :)

@stuartwdouglas for a full experience though I'm not sure we could assume all services are written using Quarkus?

[2021-09-10 10:56] #20027 closed

[2021-09-10 11:05] #20049 closed

[2021-09-10 11:37] geniusit opened #20059 "Enhance healthcheck exclude parameter for reactive datasource"
### Describe the bug

Hi,

I have a microservice with a JDBC datasource (elytron-security-jdbc) and several reactive datasources.
First of all, the healthcheck returns DOWN as a global status for reactive datasource even if everything is UP.
The JDBC shouldn't be part of the Reactive datasource healthcheck one ...

Currently the exclude-healthcheck only works for JDBC datasource BUT it has no effe

[2021-09-10 11:53] kjq commented on #20027
Hello Michal.

1. I actually didnt think the MicroProfile REST spec supported it but since
it does I assumed it followed the same conventions as JAX-RS.
2. I use them in my REST resources and wanted to follow the same
conventions with my REST client services for consistency.
3. I have pretty standard base set of header, path and query parameters -
it is a lot nicer to use than having to explode th

[2021-09-10 12:14] oleksandr-manko commented on #20046
Hi @sberyozkin!
`https://my-test.auth.eu-central-1.amazoncognito.com/.well-known/openid-configuration` is a wring url:
![image](https://user-images.githubusercontent.com/48056536/132851202-1bcdf9ba-b2cd-4283-83de-5f4715764cb8.png)
The right one is `https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_t12NbxXXX/.well-known/openid-configuration`
![image](https://user-images.githubusercontent.

[2021-09-10 12:24] sberyozkin commented on #20046
@oleksandr-manko thanks, in that case it should just work if you set

`quarkus.oidc.auth-server-url=https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_t12NbxXXX`

Have you tried it ?

[2021-09-10 12:29] xstefank commented on #20059
@cescoffier ^^

[2021-09-10 13:04] oleksandr-manko commented on #20046
@sberyozkin It work only if we work in `service` mode (`quarkus.oidc.application-type=service`) when we receive JWT token from outside and just validate the token and perform authorization based on the token. But If we want work in `web-app` mode when we perform authentication (obtain the token inside the app) it doesn't work 'cause we need all the endpoints e.g. :

[code]

[2021-09-10 13:18] sberyozkin commented on #20046
@oleksandr-manko I'm sorry, I don't understand why it does not work.
As documented [here](https://quarkus.io/guides/security-openid-connect-web-authentication#provider-endpoint-configuration) one should only disable the discovery and set individual (relative) endpoint paths if the discovery does not work.
But in your case it does work - `https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_

[2021-09-10 13:34] kenfinnigan commented on #20039
Ok @geoand, I'll open an upstream issue

[2021-09-10 13:36] kenfinnigan commented on #20039
See https://github.com/fabric8io/kubernetes-client/issues/3461

[2021-09-10 13:39] geoand commented on #20039
Great, thanks

[2021-09-10 13:45] sberyozkin commented on #20046
@oleksandr-manko I must be slow today on Friday, sorry :-). Why do say the implementation enforces it must be the same domain ?
What is the error are you getting ? Do you see the code which enforces it ?

If it does then it is a bug but which I'd consider not related to the calculation of the actual URLs (linked to in the issue desription)

THanks

[2021-09-10 13:59] sberyozkin commented on #20046
@oleksandr-manko

`quarkus.oidc.auth-server-url=https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_t12NbxXXX` will return all those endpoint URLs you have shown in your discovery doc above - and Quarkus will just use them - I don't see why it would not - so please help with more clarifications

[2021-09-10 14:03] sberyozkin commented on #20046
Note I'll review the possibility of supporting all the endpoint URLs being the absolute ones when the auto-discovery is disabled - I recall looking into it - but for now I'd expect it to work without users having to be concerned about finding the JWKs URLs and other individual endpoint URLs

[2021-09-10 14:08] oleksandr-manko commented on #20046
@sberyozkin Error the following
[code]
place in the extension: https://github.com/quarkusio/quarkus/blob/c317c45d3ee47b9ec66ae01188f07ddc877fb151/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java#L271

[2021-09-10 14:09] fsudrot commented on #20022
Thanks for the answer. I understand your point of view.
But in my personal developer life, I never needed a use case to override just a few attributes in a list. I just replace the entire list with diffrent order, different attributes, ...
I 'm going to see which solution is the better in my case.

Any way, great work on Quarkus !

[2021-09-10 14:43] oleksandr-manko commented on #20046
@sberyozkin thanks it works. But how did it figure out endpoints?
Ok got it
I found it here
[code]

[code]
Thanks you @sberyozkin!

[2021-09-10 14:51] bbcjunior commented on #6112
@Sanne Is there a way of changing the name of the TableSuffix and the name of the REV and REVTYPE columns of the Hibernate Envers auditing tables in Quarkus without using the persistence.xml properties? I couldn´t find those properties for the Envers extension in the application.properties.
That would be org.hibernate.envers.auditTableSuffix, org.hibernate.envers.revisionFieldName and org.hibernat

[2021-09-10 14:55] sberyozkin commented on #20046
@oleksandr-manko Np at all, glad it worked, nonetheless, as I said, I'll just take care of supporting the absolute URLs when the auto-discovery is disabled - it should also just work :-).

Let me re-open this issue and rename it so that the enhancement request is tracked

[2021-09-10 15:06] antoniomacri commented on #9464
Any news on this?

Should I open another issue?

[2021-09-10 15:12] nikosk686 opened #20063 "io.quarkus.qute.i18n.MessageBundle annotated class not found for multi-module gradle project in dev mode"
### Describe the bug

Seems to be related to [this](https://github.com/quarkusio/quarkus/issues/11188)  but it affects all quarkus v1 releases.

We have a custom multi-module setup in our services.
When we use a `@MessageBundle` annotated class
[code]
with several localized implementations generated from the provided `messages/alert_xx.properties` files
we get the following error when trying to ru

[2021-09-10 15:22] nikosk686 opened #20064 "io.quarkus.qute.i18n.MessageBundle annotated class *__Bundle not found for multi-module gradle project in test mode"
### Describe the bug

Kind of related to [this](https://github.com/quarkusio/quarkus/issues/20063)

In a similar multi-module gradle setup,
when we use a @MessageBundle annotated class

@MessageBundle(value = "alert")
public interface AlertMessages {

    @Message("")
    String withoutParams();

    @Message("")
    String withParams(String name);
}
with several localized implementations generate

[2021-09-10 15:47] #20047 closed

[2021-09-10 15:49] metacosm opened #20065 "Kubernetes extension doesn't generate labels for `RoleBinding` resources"
### Describe the bug

See title

### Expected behavior

Labels should be generated.

### Actual behavior

No labels are generated.

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

2.2.2.Final

### Build tool (ie. output o

[2021-09-10 15:51] iocanel commented on #20065
It seems that we are adding labels to all resources that have a specific name.
Since rolebindings are using a suffix, the are excluded.

I'll fix  that shortly.

[2021-09-10 16:25] pjgg opened #20066 "`quarkus.log.min-level` doesn't overwrite `quarkus.log.level`"
### Describe the bug

According to the Doc:

There are two logging level settings: logging level and minimum logging level. The default logging level is INFO, the default minimum logging level is DEBUG. You can adjust both either globally, using the quarkus.log.level and quarkus.log.min-level property, or by category.

When you set the logging level below the minimum logging level, you must adjust

[2021-09-10 16:38] radcortez commented on #20022
We can certainly investigate if the use case of overriding the entire collection in config makes more sense than just a few elements/properties and change the behavior, but this will be a breaking change.

Let me know if the profiles approach works for you.

[2021-09-10 17:08] florentgarin opened #20067 "Config property not found when in ForkJoin common Pool thread"
### Describe the bug

Fetching a config property on ForkJoin common Pool thread failed.
Be aware that the behavior is not the same in dev mode and in prod mode as it's work in dev mode.

### Expected behavior

Same behavior in prod and dev mode is expected, cfg must be returned.

### Actual behavior

In prod mode, reading a property set in application.properties fails (return null).

### How to Re

[2021-09-10 17:22] kjq opened #20068 "Blocked Method Exception when calling a reactive REST client that returns a Multi<?>"
### Describe the bug

I don't know if this is how I am using it but wanted to check before creating a ticket.

I have a REST endpoint which injects a service and the service calls a RESTclient.  That RESTclient returns a Multi<?> but i get a "BlockedMethodNotAllowed" exception.

It would look like this: Resource --> Service --> REST Client.

Currently:
- I use the RESTClients with Uni<?> now and t

[2021-09-10 17:36] cescoffier commented on #20059
CC @tsegismont

[2021-09-10 17:44] netodevel commented on #19861
@dufoli,

Oops, I have a question.
This snippet of code
[code]
I understand that it to scan directories into resources and register the resource to a native image and read all lines from jaxb.index and register for reflection.
The question is it looks like the extension already read the automatic jaxb.index, right?
if I declare a property `quarkus.jaxb.jaxb-index-path=path1,path2`, will this prope

[2021-09-10 17:57] brianwyka commented on #6506
Spock 2.0 has been released: https://github.com/spockframework/spock/releases/tag/spock-2.0

[2021-09-10 18:45] dhoffer opened #20069 "Quarkus REST client fails to process all path variables"
### Describe the bug

I am creating a REST client programmatically using Quarkus.  E.g.

service= RestClientBuilder.newBuilder()
                    .baseUrl(new URL(URL))
                    .build(SomeService.class);

It seems there is a problem with it reading path params.  Actually two separate problems.

Problem 1:
public interface SomeService {
@Path("{currentUserId}/{fileName}")
Response se

[2021-09-10 20:49] #19894 closed

[2021-09-10 21:11] #20017 closed

[2021-09-10 22:22] amitkumar7566 opened #20072 "DynamoDbEnhanceClient not returning data in dev mode and also throws error in native build"

[2021-09-10 22:25] amitkumar7566 opened #20073 "DynamoDbEnhancedClient not working in dev mode and also throwing error during native build"
### Describe the bug

DynamoDbEnhancedClient not working in dev mode and also throwing error during native build

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

Java 11

### GraalVM version (if different from Java)

21.2

### Quarkus version or git rev

[2021-09-10 22:25] #20072 closed

[2021-09-11 01:06] ncorai opened #20074 "quarkus-jackson should depend on jackson-modules-java8"
### Description

Currently  `io.quarkus:quarkus-jackson` depends on `com.fasterxml.jackson.module:jackson-module-parameter-names`, which is actually deprecated.
It would make sense to depend on `com.fasterxml.jackson.module:jackson-modules-java8` instead, which additionally brings support for Java 8 Date/Time and Optional classes.

### Implementation ideas

_No response_

[2021-09-11 05:59] geoand commented on #20074
Actually `jackson-modules-java8` does not depend on any of the mentioned modules, It's just a Maven parent that specifies them.

[2021-09-11 05:59] #20074 closed

[2021-09-11 06:22] ncorai commented on #20074
Let me try again:

1. `jackson-module-parameter-names` is deprecated
2. It's been replaced by `jackson-modules-java8`
3. Therefore, it makes sense that `io.quarkus:quarkus-jackson` should depend on `jackson-modules-java8`

[2021-09-11 06:24] ncorai commented on #20074
On page https://github.com/FasterXML/jackson-module-parameter-names it states:
"NOTE: This module has become part of Jackson Java 8 Modules as of Jackson 2.8.5
This repo still exists to allow release of patch versions of older versions; it will be hidden (made private) in near future."

[2021-09-11 06:58] geoand commented on #20074
The repositories have been deprecated, however the Maven artifacts have
not. Their source has just moved to the new repository you mention

On Sat, Sep 11, 2021, 09:24 Nicolas Corai ***@***.***> wrote:

[2021-09-11 07:16] ncorai commented on #20074
OK, I never thought of opening that reference to see it was only a pom.xml, I saw the code changed repository and I had wrongly assumed the artifacts had followed suit. Thanks for pointing that out

[2021-09-11 07:22] geoand commented on #20074
No problem 👍.

It is indeed confusing... But with Jackson 3 (whenever that arrives), we won't have all that anymore 🙂

[2021-09-11 07:41] AmsterdamFilho commented on #17280
+1

[2021-09-11 11:55] ineednousername commented on #19316
hi @radcortez thank you for having a look at this reproducer.

this is correct, the use case is the following:
- I have a build time configuration to detect on build time which client should be registered on runtime [see 1)] then I pass the matching runtime configuration to a recorder to do the runtime recording [see 2)].
- on runtime the runtime config is read which contains the key something you

[2021-09-11 13:35] rupipal commented on #19950
Following this guide for knative deployment ( https://quarkus.io/guides/deploying-to-kubernetes#knative ), which sets up a maven quickstart using the same Java class ( org.acme.quickstart.GreetingResource ), I'm facing exactly the same issue on minikube.

[ERROR] Failed to execute goal io.quarkus.platform:quarkus-maven-plugin:2.2.2.Final:build (default) on project kubernetes-quickstart: Failed to

[2021-09-11 13:40] geoand commented on #19950
Fixed by #20016

[2021-09-11 13:40] #19950 closed

[2021-09-11 13:46] rupipal commented on #19950
Thanks @geoand

[2021-09-11 14:49] michalszynkiewicz commented on #20069
@geoand nope, this is the old rest client.

@radcortez do you by any chance have some time to fix this?

[2021-09-11 17:44] michalszynkiewicz commented on #20027
Your welcome :)
And thanks for the explanation

[2021-09-11 21:17] famod commented on #18559
FWIW, I wouldn't hold my breath w.r.t. new jacoco-maven-plugin features: https://github.com/jacoco/jacoco/issues/902#issuecomment-885683031

[2021-09-11 23:36] sksamuel commented on #19749
So my understanding (and it's been a while since I looked) - is that the testing support for JUnit in Quarkus is built using a bunch of JUnit extensions, and you do the compilation magic as part of the junit lifecycle.

My guess is that as long as Kotest can map its own lifecycle callbacks into the junit ones, then we should be able to just use the junit rule. The caveat being that junit is built

[2021-09-11 23:48] sksamuel commented on #19749
Kotest could have its own version of this: https://github.com/quarkusio/quarkus/blob/4b728c83684547e3c5b8fa54933f23c9d13e53a8/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java

But at 1300 lines of code, that's unlikely to happen by an someone who isn't a quarkus expert! So I think the quickest path forward would be to hook each of those junit extensions into a ko

[2021-09-12 06:03] geoand commented on #18559
I see, thanks!

In that case, the alternative I proposed should work and it's likely not hard to do.
I'll put it on my list.

[2021-09-12 08:50] geoand commented on #18559
https://github.com/quarkusio/quarkus/pull/20075 takes care of the problem

[2021-09-12 09:07] mschorsch opened #20076 "Resteasy Reactive: PatternSyntaxException named capturing group is missing trailing '>'"
### Describe the bug

Resteasy Reactive fails with the following exception if `@Path` contains a regex whose group name contains `_`.

Note: Resteasy Classic works fine.

### Expected behavior

_No response_

### Actual behavior

[code]

### How to Reproduce?

1. https://code.quarkus.io/?e=resteasy-reactive&e=kotlin&extension-search=kotlin
2. Add the following Endpoint

[code]

### Quarkus version

[2021-09-12 09:38] geoand commented on #18559
Once https://github.com/quarkusio/quarkus/pull/20075 is in, https://github.com/quarkusio/quarkus/pull/20077 will boost the code coverage by removing the false negative on the default constructor

[2021-09-12 13:10] gsmet commented on #20076
From what I can see `_` is not a valid character for a Java Pattern named group (see https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html#groupname). So I don't think we should support that.

The only thing I'm wondering is if the regexp should be validated at build time.

[2021-09-12 13:15] mschorsch commented on #20076
Resteasy Classic seems to support that.

Validation on build time would be great.

[2021-09-12 16:50] #16797 closed

[2021-09-12 17:48] haschi opened #20079 "Application cannot be compiled when RestEasy Reactive is used together with LRA extension"
### Describe the bug

An Exception occurs when building a Quarkus application with `quarkus-resteasy-reactive` and `quarkus-narayana-lra`:

`Failed to build quarkus application: java.lang.IllegalArgumentException: Multiple matching properties for name "security.jaxrs.deny-unannotated-endpoints" property was matched by both public boolean io.quarkus.resteasy.runtime.JaxRsSecurityConfig.denyJaxRs an

[2021-09-12 20:20] famod commented on #20034
@stuartwdouglas @geoand I might be lacking a bit of creativity, but ain't that pretty much a "no-fix"? IIRC, there is no proper way to get a nested instance to be managed by ArC, which is also why `QuarkusTestExtension` is creating nested instances on its own.

[2021-09-12 22:11] famod commented on #18833
@sberyozkin I see smallrye-jwt was released recently and Java 17 will be released tomorrow, so time to bump smallrye-jwt? 🙂

[2021-09-12 22:41] famod commented on #18571
For `mvn`, we could check the trace for `org.apache.maven.surefire`.

But for gradle? These are the first stack frames for a test in `devtools/gradle` (don't have another example ATM):
[code]
`org.gradle.api.internal.tasks.testing` maybe? I don't like the `internal` bit though...

/cc @glefloch

[2021-09-13 05:21] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1228221793

[2021-09-13 05:23] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1228232263

[2021-09-13 06:13] geoand commented on #20034
I haven't looked into it, but that is likely the case.

[2021-09-13 06:38] maxandersen commented on #16547
Just to be clear here - reason we need(ed) is that rhoas bind did not support DeploymentConfig but that is being added in https://github.com/redhat-developer/app-services-cli/issues/589.

If that is done what are the reasons to make openshift extension have option for using Deployment ?

[2021-09-13 06:42] maxandersen opened #20085 "Create Service Binding Custom Resource for identifiable services"
### Description

We should have a way for quarkus (possibly via the service binding extension?) to have service binding resources created for requested services with as little additional config as possible - preferably no config but doubt that will be possible for all cases.

p.s. I'm pretty sure this request exist somewhere but search did not find it so creating it here.

### Implementation ideas

[2021-09-13 06:43] maxandersen commented on #20085
related to #16547

@iocanel didn't you mention at some point decorate already knows how to generate these ?

[2021-09-13 06:49] iocanel commented on #20085
yes. it does

[2021-09-13 06:57] geoand commented on #20079
This one is interesting...

The `quarkus-narayana-lra` extension has a hard dependency on `quarkus-resteasy-jackson` and `quarkus-rest-client`.
None of these dependencies are strickly necessary to create the application.
What the Narayana LRA code does need at **runtime** is a JAX-RS implementation - that does not have to be RESTEasy Classic.

So we could remove the aforementioned hard dependencie

[2021-09-13 07:00] #20002 closed

[2021-09-13 07:39] wtrocki commented on #16547
Considering complexity and little end user value I think this issue can be closed (at least from my perspective)

[2021-09-13 07:56] tsegismont commented on #20059
@geniusit I can't see an `exclude` parameter in the Quarkus config snippet. Would you mind updating it with what you tried to fix the issue?

[2021-09-13 08:12] geoand commented on #20076
https://github.com/quarkusio/quarkus/pull/20087 does this

[2021-09-13 08:29] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1228222990

[2021-09-13 09:06] irenakezic opened #20088 "Kafka SASL GSSAPI exception"
### Describe the bug

Connecting to a Kafka broker using SASL GSSAPI works fine without the quarkus-infinispan-client extension. However, when quarkus-infinispan-client extension is added as a dependency the exception occurs when connecting to Kafka.

### Expected behavior

Kafka connection is sucessful.

### Actual behavior

The following exception occurs:
[code]

### How to Reproduce?

Reproduce

[2021-09-13 09:10] vicentini opened #20089 "Keycloak authorization: "Invalid identity" (userId=null)"
### Describe the bug

Trying the [security-keycloak-authorization-quickstart](https://quarkus.io/guides/security-keycloak-authorization), there is a problem when running in a containerized environment (Kubernetes or even single node docker installation). The retreived access token is not working and I see the following log outputs when running both Keycloak and quickstart application running in co

[2021-09-13 09:23] r00ta commented on #16541
@geoand
I have the same issue with quarkus v2.2.2 (and previous) and with testcontainer v1.16.0 (and docker installed on my system).

But testcontainer v1.15.3 works without any issue.

[2021-09-13 10:06] radcortez commented on #20067
Yes, most likely the issue is that the classloader being returned does not have any `Config` associated, so a new default `Config` is created and that may or may not work, depending on the configuration being retrieved.

The safe way to do this is to just retrieve the configuration value before and just pass down the value.

Yes, I think I remember something about this as well, but can't find it.

[2021-09-13 10:11] sberyozkin commented on #20089
Hi @vicentini

in
[code]

`InternalServerError` is happening in Keycloak itself and I'm not aware of the protocol details (what keycloak authorization sends to Keycloak), my guess `useId` is not related to the problem.
@pedroigor Hi Pedro - can you look into it please ?
Are you aware where this warning may be originating from ?

[2021-09-13 10:13] radcortez commented on #20069
Yes, I'll have a look.

[2021-09-13 10:33] florentgarin commented on #20067
Yes

Yes I guessed that.

Yes, we implemented that workaround but not always as easy as it seems as the value could be loaded by third library. For instance io.smallrye.jwt.build.Jwt read "smallrye.jwt.sign.key.location".

[2021-09-13 10:42] florentgarin commented on #20067
One more thing, the workaround does not look acceptable for a long term solution in my opinion as it breaks the Dev/prod parity principle.

[2021-09-13 10:43] cescoffier commented on #20088
I guess we will have to relax some checks.

[2021-09-13 10:48] cescoffier commented on #20088
@sberyozkin any advice?

[2021-09-13 10:50] radcortez commented on #19316
Yes, but I was referring to the actual configuration set in `application.properties`.  In the one present in the reproducer we have:

[code]

This is only mapping values in `something` which is only available in the runtime mapper config. Because you want values in your build time config mapper, you need to use (to correctly map `AsBuildTimeConfiguration`):

[code]

Did you try adding these config

[2021-09-13 11:56] geniusit commented on #20059
@tsegismont

In order to fix my problem I got this properties file :

[code]

But as you can see, it's incoherent for reason :

1 : quarkus.datasource.reactive.url=postgresql://localhost:5432/dbuser

=> this line shouldn't be part of the file since the reactive datasource is specialized (.react.)

2 : quarkus.datasource.react.health-exclude=true

=> if I don't set the reactive datasource as exlude

[2021-09-13 12:25] yrodiere commented on #19867
I just [gave it a try](https://github.com/yrodiere/quarkus/tree/i19867-attributeoverride) on Quarkus 2.2.3.Final, and it works for me...

Are you using the latest version of Quarkus, 2.2.3.Final? If not, which one?

Are you sure you're using `javax.persistence.AttributeOverride`, and not some similarly-named, but incorrect annotation from your classpath (for example `jakarta.persistence.AttributeO

[2021-09-13 12:30] SLedunois opened #20092 "GraphQL authenticated subscription"
### Describe the bug

Using a subscription behind an authentication system produces a `DataFetchingException` like :
[code]

Like this class (https://github.com/SLedunois/authenticated-graphql/blob/master/src/main/java/fr/sledunois/AuthenticatedGraphql.java) Graphql allow queries and mutation behind an authentication mechanism. Opening a subscription accept the websocket. However, it seems that se

[2021-09-13 12:31] phillip-kruger commented on #20092
/cc @sberyozkin

[2021-09-13 12:39] fkeichfe commented on #19867
* If tried it with all versions of Quarkus >= 2.0.1, including 2.2.3.Final, and it doesn't work (with Quarkus 1.x, it worked correctly)
* I am using the correct version (`javax.persistence.AttributeOverride`).
* I am *not* using Panache.

I will try to strip down my current project so that I can extract a reproducer.

[2021-09-13 13:23] aldoborrero commented on #16602
Care to comment @stuartwdouglas ?

[2021-09-13 13:26] sberyozkin commented on #20092
#16847 is probably related

[2021-09-13 13:28] phillip-kruger commented on #20092
Sounds right yes, as we are using Websockets under the covers.

[2021-09-13 13:35] kliebhart opened #20094 "KeyFactory with Bouncy Castle not working in Native Mode"
### Describe the bug

Please note there has been an issue #18642 which already improved security provider compatibility for Bouncy Castle in native mode! Unfortunately I discovered a new problem related to the _KeyFactory_ class.

**Quarkus Platform:** 2.2.1.Final

Related Dependencies:

[code]
Register Security Provider in application.properties

[code]
According to migration guide (https://githu

[2021-09-13 13:36] pedroigor commented on #20089
@vicentini I run your steps with some changes:

* `podman run -d --name keycloak -e KEYCLOAK_USER=admin -e KEYCLOAK_PASSWORD=admin -e DB_VENDOR=H2 -p 8080:8080 quay.io/keycloak/keycloak -b=0.0.0.0`
* `podman run -d -e QUARKUS_OIDC_AUTH_SERVER_URL="http://192.168.0.17:8080/auth/realms/quarkus" -e QUARKUS_OIDC_TOKEN_ISSUER="http://192.168.0.17:8080/auth/realms/quarkus" -p 8081:8080 localhost/quarkus

[2021-09-13 13:37] ebullient commented on #20028
Are we good to go? Can this be closed?

[2021-09-13 13:54] SLedunois commented on #20092
Do we have a workaround ?

[2021-09-13 14:09] vicentini commented on #20089
Thanks @pedroigor for having a look at it.

I see what key information is missing or not clear from my original post.

The problem starts, when the service can't access the "public" domain or ip address of the Keycloak server. In a setup where Keycloak and other services are deployed in the same cluster, the services should access Keycloak with the internal ip address and not the public domain/ip.

[2021-09-13 14:30] vicentini commented on #20089
Sorry, poor choice of words.

When using the internal Keycloak url in a cluster as auth-server-url it's still no connection problem, but I get the log above with the PERMISSION_TOKEN_ERROR.
When using the "public" url as auth-server-url instead, it's working correctly.

[2021-09-13 14:32] sberyozkin commented on #20092
@SLedunois Where doe the credentials come from ? Do you mean you'd like to authenticate into Quarkus first say with the bearer JWT token and then have it associated with the GraphQL channel ?

[2021-09-13 14:33] aldoborrero commented on #16602
Playing around with the code, inside `VertxWebSocketHttpExchange` we do have access to the original `RoutingContext` in the class attribute `exchange`.

![image](https://user-images.githubusercontent.com/82811/133102173-3b635134-78ca-432e-bf24-6bef95c14f1c.png)

Upon closer inspection, I can see the `principal` is correctly populated inside the map the `exchange.data()` map like we can see below:

[2021-09-13 14:33] sberyozkin commented on #20092
@SLedunois Where do the credentials come from ? Do you mean you'd like to authenticate into Quarkus first say with the bearer JWT token and then have it associated with the GraphQL channel ?

[2021-09-13 14:34] JithendraKatkam opened #20099 "@IfBuildProperty needs to allow multiple property names"
### Description

@IfBuildProperty does not allow multiple property names to be checked on the optional beans- similar to spring - @ConditionalOnProperty

-

### Implementation ideas

Should able to declare like the below -

`@IfBuildProperty( { name = "kafka.test.flag1", stringValue = "true"},
{ name = "kafka.test.flag2", stringValue = "false"},
{ name = "kafka.test.flag3", stringValue = "true"})`

[2021-09-13 14:42] SLedunois commented on #20092
@sberyozkin It's just a Cookie authentication provided by [build int authentication system](https://quarkus.io/guides/security-built-in-authentication#form-auth).

[2021-09-13 14:44] geoand opened #20100 "Add the ability to set HTTP headers and Response status when returning Reactive Types from RESTEasy Reactive"
### Description

Currently when returning a `Uni` or `Multi`, there is no easy way to set a response header or a  the HTTP status.
We should provide and document a way to do this.

### Implementation ideas

There are two ways I can think of:

1) We introduce `@Header` and `@Status` annotations that can be placed on a resource method and if the method was executed properly, these annotations set th

[2021-09-13 14:47] bvarner commented on #17767
I am able to reproduce this behavior by resource-constraining my system while building.

The threshold for triggering the condition appears to be highly variable and system-dependent.

For example, on my laptop, by disabling all but 2 cpu cores and forcing them to throttle to 800Mhz, I can reproduce this with a high degree of reliability.

None of the time-out settings for the maven-failsafe-plugi

[2021-09-13 14:47] mkouba commented on #20099
It probably make sense to support repeatable `@IfBuildProperty` and `@UnlessBuildProperty` annotations. And the logic should be AND-like, i.e. all declared "conditions" must be satisifed. @geoand WDYT?

[2021-09-13 14:48] geoand commented on #20099
Yeah, that sounds most reasonable to me.

[2021-09-13 15:04] geoand commented on #17767
Which property are you using to set the wait timeout?

[2021-09-13 15:08] Sanne commented on #19740
hi @bortolonrodrigo , sorry for the delay - I've been away.

So like @gsmet mentioned, we shouldn't allow changes to the SessionFactory after the application was started - that opens up to various problems.

But +1 to allow registering interceptors in some way, that's certainly useful. We need to think how to make that happen in the most convenient way.

[2021-09-13 15:10] JithendraKatkam opened #20102 "@ConfigMapping does not load Map if there are >=3 dot(.) separators in properties"
### Describe the bug

If property name contains more than 2 dot separators, its  not loading the values in the Map<String, String> and getting the error as below.

- xyz.z.abcd.efgh does not map to any root

### Expected behavior

All property names with multiple dot separators should be allowed to be loaded in the Map object if there are matching the prefix and the java attribute name or withName

[2021-09-13 15:15] yrodiere commented on #19740
I'm on it.

[2021-09-13 15:21] sberyozkin commented on #20092
@SLedunois I don't think the cookies are retained in a web socket channel.

The following suggests how it can be done:

https://coletiv.com/blog/using-websockets-with-cookie-based-authentication/

One can probably have a random value created at the server concatenated with the cookie obtained via the form auth. And bind to the web socket channel - and then when it comes in back to Quarkus via WebS

[2021-09-13 15:25] Sanne commented on #19740
thanks @yrodiere !

[2021-09-13 15:31] JithendraKatkam commented on #20099
Yes, that works.

[2021-09-13 15:48] sberyozkin commented on #20089
@vicentini np, thanks for the clarification.
Is Quarkus endpoint itself configured to require the authentication and/or authorization or you only depend on the realm authorization config directly in Keycloak ? If it is the case, can you try to configure it locally in Quarkus ? I'm not sure it will help though

[2021-09-13 16:01] #20028 closed

[2021-09-13 16:02] rmanibus commented on #20028
yes thanks @ebullient

[2021-09-13 16:52] bortolonrodrigo commented on #19740
Hello guys!

@Sanne , thank you very much for the answer and thank you all about the effort regarding this question.

I really appreciate that!

Regards,
Rodrigo Bortolon

[2021-09-13 17:05] SLedunois commented on #20092
@sberyozkin Hum. A nice option could be to switch on Cookie authentication for loading my application and using a JWT to consume GraphQL API if GraphQL susbription authentication works fine with JWT ?

[2021-09-13 17:09] ethan-gallant commented on #20092
The biggest problem I'm seeing with all the  WebSocket implementations is their lack of an ability to handle contextual data.

Would it possibly be beneficial to add some form of abstracted extension capability to allow users to populate the security identity for websocket requests? And possibly refresh them?

My thinking is that users with a single Quarkus application running can just create an i

[2021-09-13 17:11] sberyozkin opened #20106 "Document OidcWireMock annotation"
### Description

Information about `OidcWireMock`should be added to https://quarkus.io/guides/security-openid-connect#integration-testing

See #20035

### Implementation ideas

_No response_

[2021-09-13 18:56] psaraf opened #20109 "Maven Build fails if DB Configuration is missing in default file or test"
### Describe the bug

if DB Configuration is  missing from  default properties or test.properties. Most of application run build with mocking db connection and missing DB details should not cause build fail.

### Expected behavior

build should be successful

### Actual behavior

Build is Failed

### How to Reproduce?

Create project from start coding at quarkus.com
add hibernate, rest and postgre

[2021-09-13 19:07] leonardowestphal opened #20111 "Nullpointer at SchemaManagementIntegrator.disintegrate"
### Describe the bug

I upgraded from version 2.1.2.Final to version 2.2.2.Final and now I got this error on Quarkus startup:

[code]

I'm using 2 persistences units with postgres Database. Example:

[code]

I'm using cache. Example:

[code]
Almost all objects attributes on method 'SchemaManagementIntegrator.disintegrate' are empty or with their default values :
[code]

### Expected behavior

_No

[2021-09-13 19:16] #20065 closed

[2021-09-13 19:24] bvarner commented on #17767
This is my failsafe configuration. The tests fail around 20seconds into the plugin executing. Regardless of my settings.

[code]

[2021-09-13 19:27] geoand commented on #17767
With the latest quarkus version?
Can you please also post any logs you have?

[2021-09-13 19:27] leonardowestphal commented on #20111
@Sanne
Do you have any idea what it might be?

[2021-09-13 19:34] bvarner commented on #17767
Quarkus 2.2.1.Final

The only logs I get are what's listed in: https://github.com/quarkusio/quarkus/issues/17767#issuecomment-916356709
Which I am reposting here:
[code]

[2021-09-13 19:36] geoand commented on #17767
Thanks.

And you said it always fails after 20 seconds?

[2021-09-13 19:36] leonardowestphal commented on #20111
All Stack:

[code]

[2021-09-13 19:38] bvarner commented on #17767
It seems to be consistently around that timeframe. The log reports elapsed times that vary from what I see on a stop-watch when I try to time it.

In real life it seems like it's closer to 25-30s after failsafe first starts logging that it's running, but I've not been super scientific about it. Really it's pretty bothersome to reproduce since I have to throttle the tar out of my system, or use an

[2021-09-13 19:40] bvarner commented on #17767
Also confirmed on 2.2.2.Final.

[2021-09-13 19:40] geoand commented on #17767
Understood, thanks

[2021-09-13 19:51] Sanne commented on #20111
hi @leonardowestphal , thanks for the report! yes I can see a simple mistake :)

will fix it soon.

[2021-09-13 19:53] leonardowestphal commented on #20111
@Sanne
Thanks!

[2021-09-13 19:57] #18782 closed

[2021-09-13 19:57] Foobartender commented on #18166
Now it fails with this stacktrace:
[code]

[2021-09-13 20:21] #14283 closed

[2021-09-13 20:22] patriot1burke commented on #12039
I think this is fixed now.

[2021-09-13 20:22] #12039 closed

[2021-09-13 20:22] Foobartender opened #20114 "@Nested JUnit test doesn't inherit lifecycle of @QuarkusTest"
### Describe the bug

`@Nested` test of a test annotated with `@QuarkusTest` and `@TestInstance(TestInstance.Lifecycle.PER_CLASS)` is run with a new instance of its outer test.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. Run the test below. It passes.
2. Annotate it with @QuarkusTest and run it again. The outer test passes, but the nested te

[2021-09-13 20:24] #13655 closed

[2021-09-13 20:25] #13248 closed

[2021-09-13 20:30] #16901 closed

[2021-09-13 20:45] Sanne commented on #20111
actually while I can see how  that could theoretically produce an NPE, I'm not able to reproduce this.

Do you think you could contribute an integration test please?

[2021-09-13 20:48] Sanne commented on #20111
Maybe I just need more details from your configuration. Is your SessionFactory named in some way?

[2021-09-13 21:09] Sanne commented on #20111
I've a sketch here : - https://github.com/quarkusio/quarkus/compare/main...Sanne:SchemaManagementIntegration?expand=1

Would rally like to be able to reproduce it before sending a PR though. Going to sleep, let's look at it with a fresh mind tomorrow :)

[2021-09-13 21:14] gastaldi commented on #20013
@x80486 would you be interested in leading an Apache Flink extension?

[2021-09-13 21:27] netodevel commented on #19861
@gsmet @dufoli,
any feedback on the above question?

[2021-09-13 21:42] famod opened #20117 "Provide JUnit 5.8 test class orderer for efficient ordering of `@TestProfile`"
### Description

As Quarkus "reboots" for each different `@TestProfile`, much time might be wasted if you have x > 1 QuarkusTests without a profile and y QuarkusTests with a profile (or any similar combination).

JUnit 5.8 comes with a global test class ordering feature that could be very helpful, in that with such an orderer we could sort non profile QuarkusTests to the beginning and QuarkusTests

[2021-09-13 21:57] #20076 closed

[2021-09-14 00:35] clay07g opened #20121 "CurrentVertxRequest is not set for coroutine routes"
### Describe the bug

Using RestEasy Reactive, you can easily get the current request by injecting an instance of "RoutingContext" and then calling ".request()" on it in your routing methods.

However, this doesn't work for suspending functions with Kotlin. It seems like the CurrentVertxRequest isn't set when Quarkus uses the coroutine dispatcher, perhaps similar to this: https://github.com/quarku

[2021-09-14 05:01] #9791 closed

[2021-09-14 05:10] stuartwdouglas opened #20124 "OidcTestSecurityIdentityAugmentorProducer generates a new RSA key for every test (even non OIDC ones)"
### Describe the bug

OidcTestSecurityIdentityAugmentorProducer generates a new RSA key for every test, which is very very slow.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

#

[2021-09-14 05:23] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1232318423

[2021-09-14 05:24] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1232307416

[2021-09-14 05:50] wicksim opened #20125 "Duplicate javax.annotation.Priority in dependencies"
### Describe the bug

Since the update to Quarkus 2.2.1.Final (from 1.13.7.Final), we recognized a problem while building our backends. Message was something about Lombok, but we could track it down to this line of code `void onStart(@Observes @Priority(Interceptor.Priority.APPLICATION) StartupEvent startup)`. We found out that there are 2 Versions of the class `javax.annotation.Priority` in the d

[2021-09-14 05:53] iocanel commented on #16968
I will have a look again!

[2021-09-14 05:54] wicksim commented on #20125
BTW: Build works when excluding the tomcat-dependency:
[code]

But I don't know, if that has other impact.

[2021-09-14 06:16] iocanel commented on #16968
I think we have internally a race, we close the stream from one thread while reading it from another.

[2021-09-14 06:22] #20106 closed

[2021-09-14 06:39] ThoSap opened #20128 "IsDockerWorking does not use property quarkus.docker.executable-name"
### Describe the bug

When using property `quarkus.docker.executable-name` to set a custom Docker executable, the strategy `DockerBinaryStrategy` of BooleanSupplier `io.quarkus.deployment.IsDockerWorking` does not use the property `quarkus.docker.executable-name` to override the executable name.

### Expected behavior

If `quarkus.docker.executable-name` is set also `io.quarkus.deployment.IsDocker

[2021-09-14 06:46] ThoSap commented on #20128
Also if Podman was used this would be useful.

[2021-09-14 06:48] geoand commented on #17767
One last think (hopefully): When you run:

[code]

manually, how does the application behave?

[2021-09-14 07:19] Sgitario commented on #16968
Another example:

[code]

[2021-09-14 07:33] galderz commented on #13856
@patped Looks like some parts of this might have fallen through the cracks.

What's exactly still an issue? Is the binary still getting killed? Or the fact that documentation is misleading? Or both?

Even though the issue was closed and from what I can see from the commits associated with this, I don't see the `macOS` aspects where addressed. It seems `objcopy` should not be used at all on macos a

[2021-09-14 07:34] Sgitario commented on #16968
And another example:

[code]

The above two examples are based on 2.2.3.Final.

[2021-09-14 07:35] glefloch commented on #18571
Yes, looking at the stack while running a test from gradle, the first test trace I can see is `org.gradle.api.internal.tasks.testing` and `org.gradle.api.internal.tasks.testing.junitplatform`.

[2021-09-14 07:35] geoand commented on #20121
FWIW, you can do something like:

[code]

to get around the problem.

[2021-09-14 07:39] dufoli commented on #19861
@netodevel processor read the jaxb.index but only on ressource within the path.
the property will generate a new JaxbFileRootBuildItem  so it will be added to path to process.

[2021-09-14 07:39] geoand commented on #20099
@mkouba are you going to take this, or should I?

[2021-09-14 07:43] #18833 closed

[2021-09-14 07:45] famod commented on #18571
@glefloch do you think it's stable enough to use it to detect a non-IDE run? I'm not familiar with how IDEs run Gradle tests.

[2021-09-14 07:46] yrodiere commented on #19740
Interceptors support: https://github.com/quarkusio/quarkus/pull/20131

[2021-09-14 07:48] glefloch commented on #18571
Yes I think we can.

[2021-09-14 07:52] geoand commented on #6588
@loicmathieu it seems like with the restructuring of the vert.x extensions, google cloud functions quickstarts are failing.
Mind taking a look please?

[2021-09-14 08:06] loicmathieu commented on #6588
@geoand this seems to be easy: `'dependencies.dependency.version' for io.quarkus:quarkus-vertx-web:jar`
Is this artifact be relocated ? Do you have a mail/Zulip thread about this restructuring ?
I'll also need to update the guides, then.

[2021-09-14 08:07] geoand commented on #6588
TBH, I wasn't aware of this either. But it came in https://github.com/quarkusio/quarkus/pull/19933 and https://github.com/quarkusio/quarkus/pull/20058

[2021-09-14 08:18] loicmathieu commented on #6588
OK, so the new name is `quarkus-reactive-routes` this should have been the correct one from day one so this makes sense :)
I'll try to send a PR today

[2021-09-14 08:24] geoand commented on #6588
Thanks!

[2021-09-14 08:41] hex1r0 opened #20132 "Kotlin suspend endpoint throws NotSupportedException"
### Describe the bug

It seems that kotlin.coroutines.Continuation is considered as one of the endpoint's parameters. it should not be assumed as a endpoint parameter and should be handled under the hood.

### Expected behavior

Tests should pass
HTTP STATUS 200 OK

### Actual behavior

HTTP ERROR 415

APPLICATION LOG:

2021-09-14 11:21:59,590 ERROR [org.jbo.res.res.i18n] (executor-thread-0) RESTE

[2021-09-14 09:11] #19497 closed

[2021-09-14 09:17] mkouba commented on #20099
I can take a look tomorrow. So if you have some spare cycles now, go and grab it! ;-)

[2021-09-14 09:18] geoand commented on #20099
If you don't take it tomorrow, then I will. I'm looking at something else for now :)

[2021-09-14 09:54] #16968 closed

[2021-09-14 09:56] MikkelVestergaard commented on #19359
I have the same issue. Still the same with 2.2.2.
I also tested other versions and version 2.0.2 was the youngest version I did not get the issue with. So I also have the issue with version 2.0.3. So it must be something changed from 2.0.2->2.0.3.

[2021-09-14 10:09] #16596 closed

[2021-09-14 10:47] vicentini commented on #20089
I used the security-keycloak-authorization-quickstart example without any changes with the provided [realm configuration](https://github.com/quarkusio/quarkus-quickstarts/blob/2.2.2.Final/security-keycloak-authorization-quickstart/config).

In the example all authorization configuration is specified in the 'backend-service' client on the Keycloak server.
The application.properties file is as follo

[2021-09-14 10:59] jsmrcka opened #20139 "Inconsistency in mongodb-client integration tests"
### Description

While checking for Mongo test coverage, we noticed an inconsistency introduced by https://github.com/quarkusio/quarkus/pull/12902.

Originally, there were two tests in `integration-tests/mongodb-client/src/test/java/io/quarkus/it/mongodb/BookResourceTest.java` which were removed:
- `testVehicleEndpoint` (https://github.com/quarkusio/quarkus/pull/12902/files#diff-adad68742f7dc85185

[2021-09-14 11:18] zakkak commented on #19711
Hi @vsevel sorry for the delay, I was on PTO. I 'll have a look at it (and #19942) this week and come back to you.

[2021-09-14 11:37] #19059 closed

[2021-09-14 11:40] #19892 closed

[2021-09-14 11:42] loicmathieu commented on #20139
@jsmrcka nice catch! This should have been a merge issue, those two tests can be re-integrated.
Would you mind sending a PR ?

[2021-09-14 12:42] jsmrcka commented on #20139
@loicmathieu Sure thing, I'll make it ready.

[2021-09-14 12:52] loicmathieu commented on #20139
Thanks

[2021-09-14 12:59] antonwiens opened #20142 "Resteasy Reactive response Content-Type string taken from request and cached badly"
### Describe the bug

I noticed that resteasy reactive takes the content type string from the request and reuses it for the response if it is the same media type.

Also it seems to get cached and reused in subsequent responses.

For example consider following content types for a request/response:

Request No# | Request | Response
-- | -- | --
1 | application/json | application/json
2 | Application

[2021-09-14 13:18] yrodiere commented on #9174
This should be fixed by #20141, though that does not really address the problem described in this issue.

I think logs on "error" responses (status 4xx, 5xx, etc.) are a reasonable feature in dev mode, but maybe we should address that more globally, not just for constraint violations? Maybe introduce a configuration option in resteasy?

[2021-09-14 13:19] fedinskiy opened #20143 "Code example from WebSockets guide contains an error"
### Describe the bug

If code from examples on https://quarkus.io/guides/websockets is copied to a real project, then tests will fail with an exception.

### Expected behavior

Examples should contain a working code

### Actual behavior

Tests from examples will fail with an exception:
` SupersonicChatSocketTest.testWebsocketChat:33 expected: <>> stu: hello world> but was: <>> stu: _ready_>`

###

[2021-09-14 13:24] #20125 closed

[2021-09-14 13:44] andrewlunin opened #20144 "AuthorizationController is not working after 2.2.0.Final"
### Describe the bug

AuthorizationController is not working any more after 2.2.0.Final.

[code]

### Expected behavior

Authorization is skipped.

### Actual behavior

**401Unauthorized** returned if token not provided or invalid.

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Microsoft Windows [Version 10.0.18363.1734]

### Output of `java -version`

java version "11.0

[2021-09-14 14:18] psaraf opened #20145 "hibernate not loading default schema"
### Describe the bug

we have different postgresql schema for each of environment, and each of those are defined into respective properties file under
dev properties file

[code]
[code]
we are setting using OS environment variable QUARKUS_PROFILE
All the properties of application are loading correct for each of environment except default schema

the default is getting populated whatever is set for

[2021-09-14 14:24] yrodiere commented on #20145
Thanks for the report.
This duplicates #19660. Closing.

[2021-09-14 14:24] #20145 closed

[2021-09-14 14:59] #20139 closed

[2021-09-14 15:09] Dieken commented on #18228
Just for your reference,  this comment may help: https://github.com/quarkusio/quarkus/issues/15182#issuecomment-915814501

[2021-09-14 15:23] bvarner commented on #17767
When my system is throttled, it takes a while to start, but it starts and runs just fine.

[2021-09-14 15:26] geoand commented on #17767
https://github.com/quarkusio/quarkus/pull/20129 should likely take care of it

[2021-09-14 15:27] bvarner commented on #17767
I'm building / testing now from main.

Any chance this can end up in a maintenance release on 2.2 soon?

[2021-09-14 15:34] geoand commented on #17767
This fix will likely be part of `2.2.4`, hopefully to come out next week.

[2021-09-14 15:47] galderz commented on #19789
A draft PR to fix this: #20148

[2021-09-14 15:52] vsevel commented on #19711
HI @zakkak np. hope you had some good time.
note that @matthyx tested a pure java native serialization example, which works fine: https://github.com/matthyx/graalvm-serialization (with no reflection or serialization specific configuration).
it appears that something is getting the array list constructors to get dropped. hope it rings some bells.

[2021-09-14 16:01] sberyozkin commented on #20144
@cemnura Hi Cem, do you still have a branch where you were looking at a similar issue ? Have a look please if yes

[2021-09-14 16:27] sberyozkin commented on #20089
@vicentini `unauthorized_client` may indicate the the client and its secret have not been recognized.
Might be worth trying to launch Keycloak with `KEYCLOAK_FRONTEND_URL` system property set to the externally accessible base URL...

[2021-09-14 17:07] leonardowestphal commented on #20111
It's not named. The datasource and hibernate configurations in my application.properties are the same as in the example of this issue.

Other Settings I have in Dev mode:

[code]

[2021-09-14 17:22] leonardowestphal commented on #20111
I didn't understand why it goes into this method. Maybe if you give me more details I can help you to reproduce it. I didn't have time to investigate, sorry...

[2021-09-14 18:00] aldoborrero commented on #16847
I can confirm as well that even using a basic implementation from `HttpAuthenticationMechanism` does not populate correctly `SecurityIdentity` on `websocket` methods. I do see value as well on having the proper `SecurityIdentity` populated and accessible over websocket.

In or particular case, we can check in `onMessage` if the token is stale or not and take action depending on the result (which i

[2021-09-14 18:40] #20142 closed

[2021-09-14 19:16] Sanne commented on #20111
No worries, I understand. I'll try to tinker a bit more with this, worse case we merge my little patch as it makes sense either way, and hopefully you'll be able to let me know it solved the problem after the next release.

[2021-09-14 19:52] radcortez commented on #20069
@dhoffer

1 - @dhoffer You can't ignore the annotation, because we don't know the parameter type. It can be a path, query, header, etc., so you still need to annotate the parameter to state the type. Using `javax.ws.rs.PathParam` won't work, because the `value` is mandatory, so you need to use `org.jboss.resteasy.annotations.jaxrs.PathParam`, which doesn't require you to set the `value`. Finally,

[2021-09-14 20:16] mswiderski opened #20152 "SROAP04005: Could not find schema class in index: java.lang.Void when using rest-client-reactive with Uni<Void>"
### Describe the bug

When using rest-client-reactive that uses following method on the interface

[code]

with OpenAPI extension in the project, following warning is logged

[code]

### Expected behavior

No warning is logged

### Actual behavior

Logged warning `SROAP04005: Could not find schema class in index: java.lang.Void`

### How to Reproduce?

It can be reproduced with `rest-client-reacti

[2021-09-14 20:16] mweber03 opened #20153 "Gradle - quarkusDependency runs for all submodules when attempting to build one"
### Describe the bug

In a monorepo with multiple subprojects, any build will cause `quarkusDependency` and `quarkusDependencyCopy` tasks to always run for all subprojects. This is particularly concerning in a 30 project monorepo when trying to build a single project (i.e. `./gradlew project:build`), which takes 3-4 minutes on every build.

### Expected behavior

The `quarkusDependency` and `quark

[2021-09-14 20:19] bvarner commented on #17767
I've locally branched off the upstream 2.2, cherrypicked in e1bb4f2, and I'm still seeing the same behavior.
Is there some debug log setting I can use to make things a bit more verbose without having to pour through `./mvnw -X` output?

[2021-09-14 20:26] bvarner commented on #17767
I get exceptions that the JVM failed to be created -- because the paths (absolute with `/app` as the prefix) don't match my local system. If I adjust those to be absolute and actual resolve to my system, things work fine.

[2021-09-14 20:52] pedroigor commented on #20089
@sberyozkin @vicentini Perhaps Sergey is right and the error is related to the issuer mismatch. We lack a better message but you can try to force the frontend URL and see if it helps.

That setting should for Keycloak to issue tokens using the same issuer despite the URL you are using to reach out to the server. By default, the server calculates the issuer based on the host from the request.

[2021-09-14 20:53] glefloch commented on #20153
Hi @mweber03 this will be fix in #20112

[2021-09-14 21:32] #20124 closed

[2021-09-14 22:04] dhoffer commented on #20069
@radcortez
1.  The Quarkus documentation says you can ignore the parameter annotation.  https://quarkus.io/guides/rest-client-reactive#programmatic-client-creation-with-restclientbuilder.  Specifically `No @PathParam annotation is necessary on countryName as the name of the parameter matches the value used in the @Path annotation`.  Furthermore the example shown in that same section uses javax.ws.

[2021-09-14 22:22] cemnura commented on #20144
@sberyozkin Hi Sergey, I still have the branch. Let me update it to the latest Quarkus V2 and see what I can do for this.

[2021-09-15 01:18] #19370 closed

[2021-09-15 01:32] stuartwdouglas opened #20158 "Reactive Messaging should generate ConfigDescriptionBuildItem"
### Description

Currently the config editor does not display `mp.messaging` properties. By looking at the annotations in the application we could generate `ConfigDescriptionBuildItem` instances for each incoming/outgoing channel, to allow the user to easily wire them up in the config editor of the Dev UI.

e.g. if you have an `@Incoming("prices")` we should generate a build item for `mp.messaging

[2021-09-15 01:32] stuartwdouglas commented on #20158
cc @cescoffier

[2021-09-15 03:34] liuzhaozhao opened #20159 "The query is very slow when some nodes of the redis cluster are unavailable"
### Describe the bug

application.yml
The first three addresses in the configuration "quarkus.redis.hosts" are unavailable and do not belong to the cluster node (redis cluster shrinkage)
[code]

code
[code]
[code]

When I request http://localhost:8080/redis/key1, I need to wait 5-10 seconds before there is a return value. If I remove the first three unavailable addresses configured by "quarkus.red

[2021-09-15 04:27] obszczymucha commented on #6506
Even with the latest version of Spock, which supports JUnit 5, the `@QuarkusTest` annotation doesn't seem to be injecting.

[2021-09-15 04:33] cescoffier commented on #20158
The list cannot be exhaustive as part of the configuration depends on how the channel and underlying client is configured. However we can at least create a description based on our @ConnectorAttribute which would cover 80-90% of the cases.

[2021-09-15 04:41] cescoffier commented on #20158
Actually, to detect the configurable channel, we will have to run the graph traversal (wiring) during Quarkus build. It will require qui some change in reactive messaging to allows this, as the traversal could happen with some work but need to be decoupled from the materialization.

[2021-09-15 04:44] jayv opened #20161 "RestEasy SPI HttpRequest injection in ContainerRequestFilter fails silently in native image"
### Describe the bug

We followed the documentation here ( https://quarkus.io/guides/rest-json#servlet-compatibility ) to obstain the remote address in a JAX-RS app from a `ContainerRequestFilter`. It certainly works in dev mode, but it doesn't inject in the same project compiled to native image. The `request` property is never injected (remains `null`). There isn't any failure logged about it eit

[2021-09-15 04:49] stuartwdouglas commented on #20158
I don't know if this needs to be exhaustive. Even if we just listed the simple properties it would be better than nothing.

[2021-09-15 05:07] wicksim commented on #18450
What if we are not returning a reactive CompletionStage from our transactional method and don't want to change that at the moment? Just modified your example:

[code]

Just doing `emitter.send(record).toCompletableFuture().join();` didn't resolve the problem. Is there any other way?

We now implemented `@Transactional(TxType.REQUIRES_NEW)`-workaround and moved emitting to an other bean, but are no

[2021-09-15 05:10] #20094 closed

[2021-09-15 05:22] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1236315400

[2021-09-15 05:25] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1236324924

[2021-09-15 05:55] geoand commented on #17767
You can set the Quarkus logging to DEBUG in your application.properties and run the test with that

[2021-09-15 05:57] iocanel opened #20162 "Provide more descriptive erros when deployment fails due to missing CRDs"
### Description

When people are trying to deploy on knative or openshift it's possible that deployment will fail if no matching version of the required CRDs is found (e.g. `serving.knative.dev/v1`).

In this case we should provide a better message than the 404 we currently do.

### Implementation ideas

Before we deploy the resources, we should first check if the required CRDs are available.

1.

[2021-09-15 06:24] michalszynkiewicz commented on #20069
We have RESTEasy Reactive, I don't think such a rewrite is of high priority.

👍🏻

If everything works now, let's close the issue. @dhoffer if you find what was causing the error, please reopen (or create a new issue) with a reproducer.

[2021-09-15 06:24] #20069 closed

[2021-09-15 06:24] michalszynkiewicz commented on #20069
@radcortez thanks a lot for investigating this!

[2021-09-15 06:26] michalszynkiewicz commented on #20152
@mswiderski thanks for the report :)
Do I understand correctly that it works okay without openapi and causes an error if openapi is added?

[2021-09-15 06:35] mswiderski commented on #20152
in general it all works but it logs the warning, only when the open api is added

[2021-09-15 06:36] michalszynkiewicz commented on #20152
CC @phillip-kruger

[2021-09-15 06:41] phillip-kruger commented on #20152
This seems like a but, we probably do not treat `Void` in Uni as `void` . This will need to be fixed in SmallRye. @mswiderski would you open an issue there ?

[2021-09-15 07:46] AMordaka opened #20164 "Lambda extension: Class not found: io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler"
### Describe the bug

Describe the bug
I downloaded init project Quarkus ver: 2.2, I ran into an issue with SAM local:

Class not found: io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler: java.lang.ClassNotFoundException

### Expected behavior

Class QuarkusStreamHandler is found, Lambda function can be tested properly using SAM local

### Actual behavior

Mounting /tmp/tmpa23xv84i as /var/tas

[2021-09-15 07:47] zakkak commented on #19711
FWIW that's not entirely true.
https://github.com/matthyx/graalvm-serialization/blob/f0941a80c8fbca8c81a24c0b81799258a2223535/Dockerfile#L5
essentially generates the necessary configuration.
[code]

Without this the generated binary fails with:
[code]

[2021-09-15 07:48] matthyx commented on #19711
Yes, I never said there wasn't one... but at least that's not something I had to write (or figure out).

[2021-09-15 07:49] vicentini commented on #20089
@sberyozkin @pedroigor Defining the frontend url is unfortunately not working in this case, because the authorization_endpoint url from the OIDC discovery endpoint is then forced to the frontend url (which can't be accessed from the internal application).

As far as I understand and tested it, it's also no solution to disable OIDC discovery and manually define quarkus.oidc.authorization-path, beca

[2021-09-15 07:58] machi1990 commented on #20159
Interesting, thanks for reporting @liuzhaozhao would you be able to come up with a complete reproducer, especially the redis cluster setup? Thanks

/cc @pmlopes would you have an idea of this behaviour?

[2021-09-15 08:03] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1236316474

[2021-09-15 08:30] mswiderski commented on #20152
@phillip-kruger issue created https://github.com/smallrye/smallrye-open-api/issues/914

[2021-09-15 08:48] sberyozkin commented on #20144
Hi @cemnura #16852 is addressing a different problem :-), I recall you started looking at the issue similar to what is described in this issue and then I asked you to look at #16852, since we now have `@TestSecurity` where one can easily disable `authorization` . So I wonder if you still have that branch

[2021-09-15 09:17] ineednousername commented on #19316
Hi @radcortez

I am unsure where to start, because all of this is not about the main point of the issue I reported, but I'll try.

You are most likely not referring to the only config present in the reproducer because there are multiple. You are referring to the only one available in the integration-test project. This reproducer consists of 3 project runtime, deployment and integration-test.
After

[2021-09-15 09:19] gwenneg opened #20166 "AsyncHealthCheck does not work with Hibernate Reactive"
### Describe the bug

The following health check based on the `AsyncHealthCheck` example from the [smallrye-health doc](https://quarkus.io/guides/smallrye-health#reactive-health-checks) works perfectly fine with Quarkus `1.13.7` when Hibernate Reactive is used:

[code]

With Quarkus `2.2.2.Final`, the same code no longer works because the `call` method isn't run on the Vert.x event loop thread.

#

[2021-09-15 09:35] sberyozkin commented on #20089
Hi @vicentini @pedroigor We've had several issues before with the internal vs external set ups but they were all affecting `quarkus-oidc`, the way it verifies the tokens, issuers etc, and with have a few way of dealing with such cases.
The important point is that `quarkus-keycloak-authorization` would not even get the opportunity to call to Keycloak if  `quarkus-oidc` had failed to verify the inco

[2021-09-15 09:35] liuzhaozhao commented on #20159
This is the redis server information

info Server
[code]

cluster info
[code]

cluster nodes
[code]

Quarkus health information
The redis status is DOWN，but i can get key value
[code]

[2021-09-15 09:44] liuzhaozhao commented on #20159
You can try to add some non-existent node addresses before the quarkus.redis.hosts configuration value of a redis cluster to simulate the problem @machi1990

[2021-09-15 09:50] Sanne commented on #20166
thanks @gwenneg !

I suppose it would work if you injected the `Mutiny.SessionFactory` type instead, to then use either `withSession` or `withTransaction` or possibly best in this case - `withStatelessSession` / `withStatelessTransaction` ?

@stuartwdouglas | @mkouba  | @FroMage this is more likely in your area of expertise? The producer for `Mutiny.Session` isn't running on the vertx context, but

[2021-09-15 10:03] gwenneg commented on #20166
Sorry I forgot to mention that I tested `SessionFactory` as well and it didn't work.

Thanks for suggesting the stateless session for this check, that's a better choice indeed. 😃

[2021-09-15 10:06] DavideD commented on #20166
I will check the example to see if I can reproduce it

[2021-09-15 10:07] gwenneg commented on #20166
@DavideD I added a reproducer in the issue: https://github.com/gwenneg/quarkus-async-health-check

[2021-09-15 10:11] mkouba commented on #20166
Just to be clear - CDI does not care about the thread context a bean is created on, i.e. on which thread the `ReactiveSessionProducer.createMutinySession()` producer method is invoked. Also note that beans are created lazily and so the the context of the first bean in the request that declares the dependency on `Mutiny.Session` "wins".

[2021-09-15 10:32] fkeichfe commented on #19867
I found out what is triggering the faulty-behaviour:
If I add an `orm.xml`-file to `resources\META-INF`, then the `AttributeOverride` is ignored.

[2021-09-15 10:53] DavideD commented on #20166
Yep, the reproducer shows the error. Hibernate Reactive is working as expected, it throws the exception because the thread if not the Vert.x Loop thread. I think you have the error now because in previous versions of Quarkus the check was disabled. @Sanne, is that true?

[2021-09-15 11:28] radcortez commented on #20069
@dhoffer I believe the issue is that you were trying to use the MP REST Client API (and not the reactive one, like your link in the documentation), which is a little bit different and the documentation is here: https://quarkus.io/guides/rest-client.

Ideally, both clients should behave in the same way, but it requires some rewrite in the non-reactive version. I guess we will need to align them at

[2021-09-15 11:29] gwenneg commented on #20166
That's correct, the check was added with Quarkus 2.1.

[2021-09-15 11:58] pmlopes commented on #20159
@liuzhaozhao @machi1990 I've tried to reproduce the issue in a unit test (upstream at the vertx-redis-client):

[code]

The cluster is using the ports 7000 to 7005

I see the following output:

[code]

So the baseline is using a cold jvm (test runs during a maven test phase) find and connect to all nodes 214ms

If I add fake entries:

[code]

I see:

[code]

Which gives almost the same result, so

[2021-09-15 13:01] lostiniceland opened #20169 "ConstrainValidator is wrongly cached"
### Describe the bug

When using a ConstraintValidator in Quarkus, its "initialize" method is called as often as the Validator is applied in the project, but on the same cached instance.

In our case we want to use a Validator for a date-interval and the rules applied by the validator need to be different for certain cases (e.g. in one case the interval is allowed to be open, so a null value in th

[2021-09-15 13:01] fkeichfe commented on #19867
@yrodiere
I have modified the Reproducer so that the test now fails:
[code]

[2021-09-15 13:10] FroMage opened #20170 "Kakfa extension logs too much"
### Describe the bug

Starting a Quarkus app which uses reactive-messaging with kafka logs the following by default:

[code]

I'm pretty sure most of this is garbage. Can we remove those logs?

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

[2021-09-15 13:22] Sanne commented on #20111
@leonardowestphal does it happen only in "dev mode"?

[2021-09-15 13:26] Sanne commented on #9464
hi @antoniomacri , yes please open a new issue, I definitely risk losing track of it otherwise :)

[2021-09-15 13:52] famod commented on #20169
Have you tried adding `@Dependent` to `MyValidator`?

[2021-09-15 14:05] gkfirst8 commented on #19773
Sorry to bother again but this still does not help enough. Let me explain:

* I did update the example project as to your suggestion (hope I understood correctly: add @DefaultBean to main-scope-class-validators)
* Add logging to tests to show the different steps each test will take
* Notice that the one test that does not use QuarkusMock.installMockForType cannot find any Validator implementations

[2021-09-15 14:33] dhoffer commented on #20069
Yes I was using the MP REST Client API.  I thought that is the docs I was using.  In any case, the 2 path params could not be parsed with the original code I posted.  I see then I was using **@BeanParam() MultipartBody** for the body and now am just using InputStream w/o any annotations and now it works.  No idea why.

[2021-09-15 14:39] leonardowestphal commented on #20111
Hi @Sanne
I've tested it now and it only occurs in dev mode. Running the 'quarkus-run.jar' it works.

[2021-09-15 15:08] Sanne commented on #20111
I still can't reproduce, I'll send my fix without a test. Thanks!

[2021-09-15 15:23] bvarner commented on #17767
Setting Quarkus logging to DEBUG didn't change the outcome.
I'm still getting...
[code]

Shouldn't `-Dquarkus.test.wait-time=120` be included if my pom.xml is specifying:
[code]

[2021-09-15 15:25] geoand commented on #17767
https://github.com/quarkusio/quarkus/pull/20101 fixed the issue of `quarkus.test.wait-time` not being taken into account.
Can you try using the legacy `quarkus.test.jar-wait-time` in the meantime?

[2021-09-15 16:08] leonardowestphal commented on #20111
Thanks!

[2021-09-15 16:17] #19613 closed

[2021-09-15 16:19] lostiniceland commented on #20169
Indeed, adding `@Dependent` did solve the issue. I wonder why? Isn't this the default-scope? If so, should this be fixed in Quarkus.

[2021-09-15 16:24] bvarner commented on #17767
I do not see wait-time arguments when running the integration tests using either or both of those properties.
I'm using a local build of quarkus 999-SNAPSHOT off the `main` branches of quarkus-platform and quarkus.

[2021-09-15 16:42] geoand commented on #17767
I don't think you are running from main, because the `Executing...` format is a little different in main

[2021-09-15 16:50] famod commented on #20169
It's `@Singleton` by default since #11598, which is not the best choice IMO.

We might want to try being clever by checking whether the `ConstraintValidator` implements `initialize()`.
If not, `@Singleton` might be a nice optimization. If yes, then obviously `@Depenent` is required.
If we cannot safely determine that we have to resort to `@Dependent`.

And the docs should mention this as well (wha

[2021-09-15 16:54] radcortez commented on #20069
If you can provide me a reproducer for that second case, I can look at it. Thanks!

[2021-09-15 16:58] radcortez commented on #20067
Some additional information here (to not replicate, since it is a bit long conversation):
https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/ForkJoin.20CL/near/253421142

[2021-09-15 17:03] famod commented on #20169
It might actually be a bit different than I first thought: Your validator is not using any injections, so it's probably not getting the singleton scope at all. See `requiresContainerServices()` here: https://github.com/quarkusio/quarkus/blob/2.2.3.Final/extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java#L162

So for yo

[2021-09-15 17:04] famod commented on #20169
@loicmathieu can you share a small reproducer project? That would speed things up!

[2021-09-15 17:05] radcortez commented on #20067
@florentgarin a more acceptable solution might be to use the `ManagedExecutor` (either by injection one or building your own) instead of the default FJ pool. The `ManagerExecutor` should have the right CL set and you shouldn't have any issues retrieving the `Config` instance inside the task.

[2021-09-15 17:27] florentgarin commented on #20067
ManagedExecutor does not permit to delay execution (see my sample code), otherwise I would use it.
Anyway, I'm not looking for a workaround for my personal case (already wrote one) but I'm reporting that issue to improve that awesome framework!

[2021-09-15 17:28] antoniomacri opened #20177 "Multiple files in sql-load-script"
### Describe the bug

Cannot use `quarkus.hibernate-orm.sql-load-script` to specify a list of files.

### Expected behavior

As #9464 is closed, specifying multiple import.sql files should be supported.

### Actual behavior

An exception is thrown:

[code]

### How to Reproduce?

1. Take hibernate-orm-quickstart
2. Add two files `import-1.sql` and `import-2.sql`
3. Edit `application.properties` an

[2021-09-15 17:28] antoniomacri commented on #9464
@Sanne Done, thanks!

[2021-09-15 17:31] radcortez commented on #20067
Thanks. I already know what the issue is. It may take some time to get to an agreeable solution and I didn't want to leave you without a quick answer.

[2021-09-15 17:42] bvarner commented on #17767
My local quarkus platform build was using 2.2.1.Final...

[2021-09-15 18:05] psaraf commented on #19660
as there is upstream changes, what is alternate solution to this? can we configure this property at runtime like at startup?

[2021-09-15 18:15] cescoffier commented on #18450
What is calling the doTransactionalStuff method?

[2021-09-15 18:16] cescoffier commented on #18450
Not that at the moment, even if the emission fails it won't affect your transaction. So even if your message can't be sent to Kafka (or whatever broker), your transaction will not be rolled back.

[2021-09-15 18:19] cescoffier commented on #20158
Yes, we just need a good way to run the wiring algorithm at build time, as this is the only thing that can tell you which channel could be managed by connectors. I need to think about that. That should not be hard, the only runtime part is the connector registry but that can be changed.

[2021-09-15 18:34] martinffx opened #20179 "./gradlew quarkusTest does not include the test/resources on the classpath"
### Describe the bug

When I load files from the `src/test/resources` in my unit tests run via `./gradlew quarkusTest` I get null back. If I run the same test using `./gradlew build` the resource is successfully loaded. The same happens when I run the test from the `quarkus dev` cli tool.

### Expected behavior

When running tests with `./gradlew quarkusTest` or `quarkus dev` my tests should be ab

[2021-09-15 18:46] bvarner commented on #17767
Ok, finally getting everything to use 999-SNAPSHOT, and I can confirm this solves the issue.

[2021-09-15 19:09] patped commented on #13856
Yes, the binary is still getting killed if I have `objcopy` installed on macOS Big Sur v.11.6. So feel the documentation is misleading on this one.

I'm not sure if `objcopy` can't be used at all with macOS but it's not working out of the box with the current state of the bootstrapped project you get from the command:
[code]

[2021-09-15 19:20] geoand commented on #17767
Awesome 👍.

Thanks for checking!

[2021-09-15 19:20] #17767 closed

[2021-09-15 19:30] glefloch commented on #20179
@stuartwdouglas could you have a look ? the devmode context contains the correct resource dir.

[2021-09-15 21:18] stuartwdouglas commented on #20166
@Sanne is this 'only use on IO thread' requirement really necessary? Shouldn't it just be 'all work is done on the IO thread', so you just dispatch to the IO thread transparently if a call is made from the wrong thread?

The current model does not actually enforce 'only one thread', as you can make invocations from different IO threads, so I don't really understand why it is necessary.

[2021-09-15 21:23] #20111 closed

[2021-09-15 21:34] smolloy opened #20184 "Only the first @Gauge annotation is scanned on a class when using MPMetrics and Micrometer"
https://github.com/quarkusio/quarkus/blob/09b25988d58ef3927c9a3d652a47f32e16265457/extensions/micrometer/deployment/src/main/java/io/quarkus/micrometer/deployment/binder/mpmetrics/GaugeAnnotationHandler.java#L50

Because of (I think) the line referenced above, only the FIRST @Gauge annotation is actually captured.  This is due to the "name" not including the method info, as several methods can hav

[2021-09-15 21:56] murphye opened #20185 "Support io.vertx.mutiny.ext.web.Router through @Observes CDI event"
### Description

I cannot implement `void init(@Observes io.vertx.mutiny.ext.web.Router router)` as only `io.vertx.ext.web.Router` seems to be supported. When I need the Mutiny Router, it forces me to do `Router.newInstance(router)` to convert the regular `Router` to a Mutiny `Router`.

When using libraries such as `smallrye-mutiny-vertx-web-openapi` this becomes an annoyance, as the Mutiny varian

[2021-09-15 21:59] ebullient commented on #20184
This sounds about right. I don't recommend using annotations for things like Gauges (though I understand the practice was common because of how the MP spec was written). Oversight on my part. Will rectify.

[2021-09-15 22:00] thomasdarimont opened #20186 "Hibernate bytecode enhancement applied by quarkus generates invalid bytecode for embeddedId value objects"
### Describe the bug

Given the following JPA Entity class with an EmbeddedId class modeled as a value Object, the Hibernate bytecode enhancement that is triggered by Quarkus generates invalid bytecode (shown below). This leads to `java.lang.IllegalAccessError: Update to non-static final field com.example.Drink$DrinkId.id attempted from a different method ($$_hibernate_write_id) than the initializ

[2021-09-15 23:12] Sanne commented on #20166
well yes I'm trying to enforce "all work" on the IO thread, but opening a
session implies potentially needing to establish a connection

On Wed, 15 Sep 2021, 22:18 Stuart Douglas, ***@***.***> wrote:

[2021-09-15 23:15] stuartwdouglas commented on #20166
How? Won't anything that requires a connection return a Uni<>, so you can just delegate that to an IO thread?

[2021-09-15 23:16] netodevel commented on #19861
Hi @dufoli,

I opened the pull request for this issue. https://github.com/quarkusio/quarkus/pull/20188
but I need help to finish.

1. Am I following the correct path for the specified problem?

2. I'm trying to run the `integration-tests/jaxb` project but this error always happens:
Exception in thread "main" java.lang.RuntimeException: java.util.ServiceConfigurationError: io.quarkus.dev.spi.HotRep

[2021-09-15 23:44] murphye commented on #20185
Example located here
https://github.com/murphye/vertx-web-openapi-quarkus-petstore/blob/main/src/main/java/org/acme/Main.java#L57

[code]

[2021-09-16 00:44] leozin commented on #19737
Yeah I'd say the only issue is the support of JDK16 Records. There are some constraints when it comes to creating a native image and I imagine some reflection procedures are not yet allowed.

When I try to build a JAX-RS endpoint like this:

[code]
It fails. However, if I just change to:
[code]
then the native image is successful.

Will it be possible to have Java Records in native images?

[2021-09-16 03:03] liuzhaozhao commented on #20159
@pmlopes @machi1990 I tried to build a new redis cluster, but this problem still exists.
By tracking the code, I found the reason for the slow request. The code execution order of redis request is as follows:

1. io.quarkus.redis.client.runtime.RedisClientImpl.get(String arg0)
2. io.vertx.redis.client.impl.RedisAPIImpl.send(Command cmd, String... args)
3. io.vertx.redis.client.impl.BaseRedisClient

[2021-09-16 03:12] liuzhaozhao commented on #20159
Or the client can periodically check the cluster topology and update the endpoints

[2021-09-16 05:26] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1240299393

[2021-09-16 05:46] cescoffier commented on #20185
Thanks @murphye, that is something we can add easily.

[2021-09-16 06:47] #20179 closed

[2021-09-16 06:50] SLedunois commented on #19617
Hi @gastaldi
This also happens on github CI env on default "Quarkus Codestart CI" github action. See: https://github.com/SLedunois/uptimr/runs/3518422708#step:5:2465

[2021-09-16 06:55] aloubyansky commented on #8593
@ppalaga fyi
[code]
Some more logs
[code]

[2021-09-16 07:15] fwippe opened #20190 "MP-Config: Failing integration tests for custom `ConfigSource` implementations"
`@QuarkusTest` integration tests run by the `maven-failsafe-plugin` are failing when being run in projects with custom `ConfigSource` implementations. The error message is:

[code]

Note that the same tests run successfully when being initiated by the `maven-surefire-plugin`.

Reproducer:

[code]

See https://github.com/fwippe/custom-config-source for a reproducing project (just run `./mvnw verify

[2021-09-16 07:33] mschorsch opened #20191 "quarkus-openapi: `@Schema(hidden=true)` on class level has no effect"
### Describe the bug

`@Schema(hidden=true)` on class level has no effect.

See reproducer `HiddenFruit`

### Expected behavior

Classes annotated with `@Schema(hidden=true)` should not be visible in the openapi document.

### Actual behavior

`@Schema(hidden=true)` is ignored.

### How to Reproduce?

1. https://code.quarkus.io/?e=resteasy-reactive-jackson&e=smallrye-openapi
2. Add the following l

[2021-09-16 07:51] natalia-pokrovskaya opened #20193 "HTTP messages are ignored"
### Describe the bug

Hello, I'm not really sure it's a Quarkus bug, but however...
We have a Quarkus application running on Docker container with OpenJDK 11 JVM on Kubernetes. Some messages seems to be ignored but JVM and after a lot of days of debugging I cannot still find the problem.
What I've noticed, when running tcpdump on docker container, I see that the IP message is received and ACKed by

[2021-09-16 08:09] geoand commented on #20193
Hi,

what kind of messages are being ignored?

[2021-09-16 08:11] geoand commented on #20186
Thanks for reporting!

@Sanne this looks like an issue in Hibernate itself, not Quarkus. Correct?

[2021-09-16 08:19] geoand commented on #20161
I tried this (in Java) with Quarkus `1.13.7.Final` and the latest version and they both worked.

Perhaps you need to make the field `lateinit var`?

[2021-09-16 08:20] geoand commented on #20190
cc @radcortez

[2021-09-16 08:20] geoand commented on #20132
Kotlin corroutines only work with RESTEasy Reactive - they are not supported by RESTEasy Classic.

[2021-09-16 08:20] #20132 closed

[2021-09-16 08:25] robp94 opened #20196 "QuarkusDevModeTest add dynamic port like test-port=0"
### Description

If you have a multimodule maven build with multiple extensions, and you run them in parallel, it often fails because the port 8080 is already in use. I could not find an option like quarkus.http.test-port=0 for the QuarkusDevModeTest in https://quarkus.io/guides/all-config. Could an option like this be added? Or maybe directly use quarkus.http.test-port?

### Implementation ideas

[2021-09-16 08:26] natalia-pokrovskaya commented on #20193
Hello, it's HTTP messages that are ignored. So the whole situation is the following. We have a frontend application which tries to save an entity. If I wait 5 minutes, my JWT token is expired. When the frontend tried to save, it gets 401 (which is normal) and in that case it will try to refresh the token, there is first a preflight message send to the refresh token enpoint (OPTIONS) and directly a

[2021-09-16 08:37] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1240291803

[2021-09-16 08:38] yrodiere commented on #19867
Thanks @fkeichfe . It seems to be a bug in Hibernate ORM; I filed a ticket upstream: https://hibernate.atlassian.net/browse/HHH-14827 . I will see what needs to be fixed in Hibernate ORM.

[2021-09-16 08:40] natalia-pokrovskaya commented on #20193
Here the network activity on docker container:
[code]

so message is getting ACK by the network layer but nothing happens afterwards at all during 1 minute

[2021-09-16 08:40] FroMage commented on #20170
Is this your area @cescoffier or perhaps @ozangunalp ?

[2021-09-16 08:59] ozangunalp commented on #20170
We were discussing about suppressing some of those standard logs.
As a start you can change the level of those loggers
[code]

[2021-09-16 09:02] ozangunalp commented on #20170
What is the best way of doing this inside the Quarkus extension? Registering a default config for the log level as such or adding a `LogCleanupFilter`?

[2021-09-16 09:32] yrodiere commented on #20186
@geoand Quarkus does its own bytecode enhancement on Hibernate ORM entities too, so it might be either, or both. We need to investigate to be sure. I'd be inclined to blame Quarkus in this case, though.

[2021-09-16 09:32] knutwannheden opened #20197 "Reload of dev-services broken"
### Describe the bug

When the Quarkus application is restarted in the dev-mode and a dev-service also needs to be restarted, the application can after the restart no longer access the newly started dev-service.

I debugged this in the case of a PostgreSQL database, where I explicitly set the property `quarkus.datasource.devservices.image-name` in `application.properties` to cause the dev-service

[2021-09-16 09:35] machi1990 commented on #20197
I think this is a duplicate of https://github.com/quarkusio/quarkus/issues/17069 which will be fixed by https://github.com/quarkusio/quarkus/pull/19046

[2021-09-16 09:37] Sanne commented on #20186
I'm not sure which one it would be; might be best to test in ORM upstream first.

[2021-09-16 09:45] knutwannheden commented on #20197
Yes, looks like it.

[2021-09-16 09:47] knutwannheden commented on #20197
I will investigate the problem with the setting of the image name causing a reload a bit further and possibly report an issue for that.

[2021-09-16 09:53] nikosk686 commented on #20064
A follow-up on this.
Running the test with the `-Dquarkus.debug.generated-classes-dir=build/dump-generated-classes` property
I can see that synthetic beans are generated.
![quarkus-qute-220-error](https://user-images.githubusercontent.com/3072384/133590542-555139b0-460e-4c6b-8a94-446c43a174bb.png)

I don't know if it helps but the error seems to be thrown from https://github.com/quarkusio/quarkus/

[2021-09-16 09:54] yrodiere commented on #20186
Actually I didn't look at the reproducer close enough; the problem is caused by the property being `final`, not by the fact it's an identifier.

I'm not sure `final` properties have ever been supported in embeddables. I don't think Hibernate ORM supports `final`, non-transient properties? When Hibernate ORM will eventually have to instantiate the `DrinkId`, it will do so though the default constru

[2021-09-16 09:59] #20153 closed

[2021-09-16 10:09] mkouba commented on #20064
It would be helpful if you could share the maven version of the reproducer as well.

[2021-09-16 10:25] wicksim commented on #18450
It is called from a REST-Resource. So i guess changing to reactive-based Resources would save that problem?

[2021-09-16 10:29] test210820 commented on #19918
+1

[2021-09-16 10:37] nikosk686 commented on #20064
@mkouba thanks.
here it is https://github.com/nikosk686/quarkus-message-bundle-poc-maven
you should be able to run successfully the following
`./mvnw clean test -Dquarkus.debug.generated-classes-dir=target/dump-generated-classes`
in the `master` branch, in which the test is in the same submodule with the `@MessageBundle` interface
but it will fail in the `multi-module-error` branch where the test

[2021-09-16 10:48] DavideD commented on #19918
The latest version available of Hibernate Rective doesn't support schema update and validation.
We are working on it.

[2021-09-16 10:56] thomasdarimont commented on #20186
@yrodiere et al. thanks for looking into this :)

The [same thing](https://github.com/odrotbohm/spring-restbucks/blob/main/server/src/main/java/org/springsource/restbucks/drinks/Drink.java#L54) (with `private final` being added via lombok) works fine (without bytecode enhancement) with Spring Data JPA backend by hibernate.

In the Spring-Restbucks example the following (decompiled) Java bytecode i

[2021-09-16 11:01] mkouba commented on #20064
Yes, it's definitely some weird class loading problem. Let me check your reproducer first...

[2021-09-16 11:06] Sanne commented on #20186
yes it should be OK to have immutable identifiers - and in this case the embeddable component is the identifier.

[2021-09-16 11:15] Sanne commented on #20166
The big difficulty is that mutators can operate on any managed entity; we can't constrain "all work" to be routed and potentially dispatched by the Session instance.

yes right, there's an open discussion on HR in which I've tried to persuade others to change the open-session operation to return an Uni of Session, but we've been back on forth on that and there's reasons this should be unnecessary.

[2021-09-16 11:18] Sanne commented on #20166
BTW a "KISS" approach I've attempted in the recent past is to simply remove the ability to inject a Session - forcing people to inject a SessionFactory. That approach hit a wall with the Panache integrations though.

[2021-09-16 11:25] yrodiere opened #20198 "Vert.x-http: response body of HTTP status 500 should be human-readable by default"
### Description

Currently, when a critical (unhandled) error occurs in a REST endpoint, we generate a default response with HTTP status 500 and an HTML webpage describing the error. This is done in `QuarkusErrorHandler`.

While I doubt this matters in production, it can be really annoying when developing, as you perform an HTTP request through `curl`, and you get dozens of lines of HTML in respon

[2021-09-16 11:25] geoand commented on #20196
`QuarkusDevModeTest` tests don't start Quarkus in test mode, so `quarkus.http.test-port` is not taken into account.
You could use `quarkus.http.port=0` to get the random port assigned, but unfortunately for the time being that means that RestAssured won't be properly configured.

[2021-09-16 11:35] geoand commented on #20193
Any chance you could run a tcpdump on the node that contains the Quarkus application to see if the traffic is actually getting through?

Furthermore, is there anything useful in the logs if you use the DEBUG level?

[2021-09-16 11:43] Ladicek opened #20199 "GraphQL + Fault Tolerance fails to compile to native"
### Describe the bug

If my GraphQL endpoint injects a CDI bean that uses SmallRye Fault Tolerance, the resulting application can't be compiled to native.

A simple example is:

[code]

[code]

Native compilation fails with:

[code]

This is because SmallRye GraphQL asks the CDI container to instantiate all GraphQL beans during bootstrap (`Bootstrap.verifyInjectionIsAvailable`). In this case, the

[2021-09-16 11:49] radcortez commented on #20102
In this case, you need to quote the dotted key like:

[code]

Added a test to SR Config: https://github.com/smallrye/smallrye-config/commit/2b7b1f120397f1a5e633c21596bc1bfc6652db41

[2021-09-16 11:49] #20102 closed

[2021-09-16 11:54] robp94 commented on #20196
Ok thanks.

[2021-09-16 11:59] mkouba commented on #20064
So for some reason the `org.acme:api` dependency is considered a library, and not an application archive when executing the tests. `quarkus.class-loading.reloadable-artifacts=org.acme:api` in `application.properties` can be used to work around the problem. @aloubyansky Do you have an idea what could be wrong?

BTW I think that the parent pom shouldn't define the `<dependencies>` - these should be

[2021-09-16 12:01] ambition-consulting commented on #15182
With https://github.com/quarkusio/quarkus/pull/19225, tracing with the QuarkusContextStorage should work again. Obviously MDC will continue to not work due to it's ThreadLocal nature, but maybe we could add something similar that also gets stored to the VertX localData, maybe even inside the QuarkusContextStorage, and use that similar to MDC for additional tracing/logging information.

[2021-09-16 12:03] nikosk686 commented on #20064
Thanks, @mkouba let me try and I ll come back.
About the pom dependencies, I agree but I just wanted a quick and dirty demo.
I use gradle anyway in the project that I have this issue, as I explain in the first comment.

[2021-09-16 12:12] natalia-pokrovskaya commented on #20193
@geoand  the tcpdump I provided comes from the docker container running Quarkus application, so the message reach the container, after that I don't know how, it's not taken by the JVM at all. Nothing shown even it I have loglevel=ALL set....
If you have any idea.... Already spent days on it.... :'(

Thank you in advance!

[2021-09-16 12:24] nikosk686 commented on #20064
@mkouba the `quarkus.class-loading.reloadable-artifacts=org.acme:api` workaround works with the maven project.
Does not seem to have any impact on the Gradle project though :(

[2021-09-16 12:33] aloubyansky commented on #20064
I can see it being added to the `ApplicationArchivesBuildItem` as
[code]

[2021-09-16 12:35] nikosk686 commented on #20064
Sorry I was wrong I have a typo in my gradle poc and the group name is `org.org.acme`
some `quarkus.class-loading.reloadable-artifacts=org.org.acme:api` works in my gradle project which is good enough for me!

[2021-09-16 12:37] FroMage commented on #20170
If we disagree that their logs should be at INFO, and they have real INFO logs that we should allow because they're important, then yeah we can use `LogCleanupFilter`, that's for individual logs where we disagree about their levels.

[2021-09-16 12:41] natalia-pokrovskaya commented on #20193
with JMX I don't see any deadlocks neither....

[2021-09-16 12:42] geoand commented on #20193
I can't say I have any more ideas... @cescoffier can you think of anything?

[2021-09-16 12:47] mkouba commented on #20064
@aloubyansky I think I can see the problem - ArC and Qute have a slightly different application class predicate implementation (used by the `io.quarkus.deployment.GeneratedClassGizmoAdaptor`). I'll try to explore this path further...

[2021-09-16 13:01] radcortez commented on #19316
Correct. This is because we always create an instance for each `@ConfigRoot`. All configurations have to be present (or the validation will fail). Configuration may be set in any source, or just (like in this case) fallback to a default set in the `@ConfigItem` directly to pass the validation. There are some exceptions to a configuration required to be present: when you use an `Optional` or a `Map

[2021-09-16 13:11] JithendraKatkam commented on #20102
Thank you...!

[2021-09-16 13:43] davecramer opened #20200 "cannot deserialize from Object value (no delegate- or property-based Creator)"
### Describe the bug

This only happens in the native version..

Stacktrace:

[code]

Here is the definition of Clusters

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Darwin Daves-MacBook-Pro.local 20.6.0 Darwin Kernel Version 20.6.0: Mon Aug 30 06:12:21 PDT 2021; root:xnu-7195.141.6~3/REL

[2021-09-16 14:04] moritz-bruder opened #20201 "QuarkusEntryPoint assumes URL contains a file path"
In https://github.com/quarkusio/quarkus/blob/cac51a60158212f662adb6ed086ce9c675215c65/independent-projects/bootstrap/runner/src/main/java/io/quarkus/bootstrap/runner/QuarkusEntryPoint.java#L30-L32 it is assumed that the returned `URL` contains a file path.  However, the class may have been loaded from another source.  Unfortunately, there is no `getParent` in `URL` but perhaps you could use `toURI

[2021-09-16 14:06] test210820 opened #20202 "@ServerExceptionMapper seems to not support handle multi exception type"
### Describe the bug

![image](https://user-images.githubusercontent.com/65008815/133625613-fa3cafdd-5d85-4e9e-8d06-79fe9835e39d.png)

then build time error

io.quarkus.resteasy.reactive.server.deployment.ServerExceptionMapperGenerator#getTargetMethodParamsInfo:533

![image](https://user-images.githubusercontent.com/65008815/133626562-293eda8b-cc3f-4ead-8585-e1509160f8c7.png)

### Expected behavio

[2021-09-16 14:24] yrodiere commented on #19867
This will get fixed in ORM 5.6.0.Beta2/5.5.8.Final.

[2021-09-16 14:53] fwippe commented on #20190
Update: Work-around: Downgrading failsafe-plugin to version 2.22.2 resolved the issue.

[2021-09-16 14:54] phillip-kruger commented on #20191
This is fixed in SmallRye. I'll close this when we up the SmallRye OpenAPI version

[2021-09-16 15:01] jayv commented on #20161
I actually tried a bunch of variations of that field, including lateinit, added setters with the annotation, made the field and class open, …. I guess I can try making it a java class instead, not the end of the world. Just a bit curious that injection anywhere else works fine in both dev/native.

Just to be sure, you did try this natively compiled? Cause it does work for me in dev mode.

[2021-09-16 15:02] geoand commented on #20161
Oh sorry, my bad.

I didn't try in native mode, so let me reopen

[2021-09-16 15:02] mkouba commented on #20064
@nikosk686 https://github.com/quarkusio/quarkus/pull/20204 should fix the problem. Keep in mind that you would have to move the `quarkus-maven-plugin` definition from the parent to the `api` module otherwise you'd run into different type of problems ;-).

[2021-09-16 15:11] johnaohara commented on #19359
I tried recreating this issue running on openshift 4.7, and i can not re-create. I tried with graalvm CE 21.1 and 21.2. Please see below;

![cpu-native-2 0 2 Final](https://user-images.githubusercontent.com/959822/133636717-5c50670f-a39c-4c04-a9a5-82c4ef62f4e7.png)
![cpu-native-2 1 2 Final](https://user-images.githubusercontent.com/959822/133636721-16185a02-96a0-4440-a2e4-c3c9d7a4f3c9.png)
![cpu-n

[2021-09-16 15:12] johnaohara commented on #19359
@MikkelVestergaard

Are you also running on AWS EKS, or a different environment?

[2021-09-16 15:18] phillip-kruger commented on #20191
Sorry, the merge in SmallRye closed this. I'll close once it's updated

[2021-09-16 15:21] afalhambra opened #20205 "QuarkusTestResourceLifecycleManager is not called when used in QuarkusIntegrationTest annotated classes"
### Describe the bug

I'm currently trying to test a Quarkus application by running some integration tests.
However, I have scenarios where I need sometimes to dynamically change some of the runtime properties accordingly before the Quarkus app is launched.

To achieve this, I have my integration test classes annotated with @QuarkusIntegrationTest and using QuarkusTestResourceLifecycleManager reso

[2021-09-16 15:22] #20099 closed

[2021-09-16 15:26] test210820 opened #20207 "Serialized results that shouldn't appear when CompletableFuture as return value in reactive resteasy with jsonb"
### Describe the bug

![image](https://user-images.githubusercontent.com/65008815/133628407-7b722bdc-49ca-44b4-a8e4-9a41ef8c1a49.png)

but return body in postman:

![image](https://user-images.githubusercontent.com/65008815/133639754-ca102013-b3a6-45cc-8ca5-e62c741d3a18.png)

expected:
![image](https://user-images.githubusercontent.com/65008815/133639919-51167d87-a2dd-4aa7-a378-ac1552b0917e.png)

[2021-09-16 15:27] geoand commented on #20161
https://github.com/quarkusio/quarkus/pull/20206 fixes the issue

[2021-09-16 15:37] #20064 closed

[2021-09-16 15:40] jayv commented on #20161
Thanks for the quick turnaround!

[2021-09-16 15:42] geoand commented on #20161
YW

[2021-09-16 15:49] test210820 opened #20210 "The locale-related configuration (e.g. quarkus.default-locale, quarkus.locales) currently only works on hibernate-validator. Will resteasy implement LocaleResovler and LocaleContext in the future?"
### Description

The locale-related configuration (e.g. quarkus.default-locale, quarkus.locales) currently only works on hibernate-validator. Will resteasy implement LocaleResovler and LocaleContext in the future?

### Implementation ideas

_No response_

[2021-09-16 15:53] yrodiere commented on #20210
/cc @geoand

[2021-09-16 16:12] cemnura commented on #20144
I will have to search. But I can try to quickly create a reproducer.

[2021-09-16 17:25] jsmrcka opened #20211 "mongodb-rest-data-panache integration tests use custom MongoTestResource"
### Description

Integration tests in `mongodb-rest-data-panache` use a custom test resource:
https://github.com/quarkusio/quarkus/blob/main/integration-tests/mongodb-rest-data-panache/src/test/java/io/quarkus/it/mongodb/rest/data/panache/MongoTestResource.java

An equivalent one is available in `test-framework`:
`https://github.com/quarkusio/quarkus/blob/main/test-framework/mongodb/src/main/java/

[2021-09-16 17:56] cemnura commented on #20144
I created a reproducer([here](https://github.com/cemnura/quarkus-quickstarts/tree/reproducer/20144/security-keycloak-authorization-quickstart)) to see that the `DisabledAuthController` will work.

I tried with the `security-keycloak-authorization-quickstart`. Both in dev mode and test the authorization endpoint always returned 2XX status codes.

Could the configuration property be incorrect? Added

[2021-09-16 17:57] cemnura commented on #20144
Testing with `@TestSecurity` now

[2021-09-16 18:00] knutwannheden opened #20214 "Only restart dev-service when properties added / changed / deleted"
### Description

Currently setting any dev-service property except for `quarkus.datasource.db-kind` results in a restart of all dev-services: https://github.com/quarkusio/quarkus/blob/0f0f0c309971ede46be4e8632a000408441a3562/extensions/datasource/deployment/src/main/java/io/quarkus/datasource/deployment/devservices/DevServicesDatasourceProcessor.java#L73-L82

It looks like the code doesn't quite w

[2021-09-16 18:01] knutwannheden commented on #20197
For the other issue I filed #20214.

[2021-09-16 19:01] cemnura commented on #20144
I messed around a little with `@TestSecurity` ([here](https://github.com/cemnura/quarkus-quickstarts/tree/reproducer/TestSecurity/20144/security-keycloak-authorization-quickstart))

It seems to be working just fine. I removed the oauth tokens from the test.

Tests such as

[code]

Worked perfectly. However, I could get the following test to pass despite adding `@TestSecurity` with identity.

[code

[2021-09-16 19:11] famod opened #20215 "Java 17: In CI swap 16 with 17 and in EA job swap 17-ea with 18-ea"
### Description

Java 17 reached GA, so regular CI should make the move and EA job accordingly.

We need to wait for the Eclipse Temurin binaries:
- https://github.com/adoptium/adoptium/issues/74
- https://github.com/adoptium/adoptium/issues/73

Ironically, the EA job has more >11 coverage than regular CI so it might be worthwhile to have a nightly "EA" run, but with 17 (additionally to the normal

[2021-09-16 19:23] machi1990 commented on #20197
Thanks @knutwannheden, I'll be marking this as duplicate and close it.

[2021-09-16 19:23] #20197 closed

[2021-09-16 19:41] geoand commented on #20211
I closed https://github.com/quarkusio/quarkus/pull/20212, see my comment about why.
The proper solution here would be to make `MongoTestResource` configurable.

[2021-09-16 19:50] geoand commented on #20200
What does the JAX-RS resource look like?

[2021-09-16 20:04] davecramer commented on #20200
Assume I have no clue (pretty much true). I'm going to presume this JAX-RS is the server part. I didn't write that part this is just the client so there is no JAX-RS
https://github.com/davecramer/crunchybridge-cli is the code.

[2021-09-16 20:22] ppalaga commented on #8593
@jamesnetherton could you please have a look?

[2021-09-16 20:43] jamesnetherton commented on #8593
It's a flaky test. Same issue as https://github.com/apache/camel-quarkus/issues/2957.

[2021-09-16 20:55] andrewlunin commented on #20144
Hi @cemnura, @sberyozkin. Thanks for help with that issue.
Actually your [reproducer](https://github.com/cemnura/quarkus-quickstarts/tree/reproducer/20144/security-keycloak-authorization-quickstart) indeed works fine, but the problem appears only if you annotate your method with **@RolesAllowed("some.role")**. If I set **@PermitAll** or set nothing, everything works fine - authentication being ski

[2021-09-16 21:42] 9too opened #20219 "quarkus.keycloak.devservices.port is not exposed"
### Describe the bug

Using `quarkus.keycloak.devservices.port` in `application.properties` yields the following exception :
[code]

### Expected behavior

No stacktrace displayed.

### Actual behavior

The container starts properly, configurations are also applied (i.e. `quarkus.keycloak.devservices.realm-path`).
It looks like a false positive AFAIK.

The error probably stems from [KeycloakDevSer

[2021-09-16 21:44] 9too opened #20220 "quarkus.keycloak.devservices.port is not exposed"
### Describe the bug

Using `quarkus.keycloak.devservices.port` in `application.properties` yields the following exception :
[code]

### Expected behavior

No stacktrace displayed.

### Actual behavior

The container starts properly, configurations are also applied (i.e. `quarkus.keycloak.devservices.realm-path`).
It looks like a false positive AFAIK.

The error probably stems from [KeycloakDevSer

[2021-09-16 21:45] #20219 closed

[2021-09-16 21:46] 9too commented on #20219
Someone double posted...
see https://github.com/quarkusio/quarkus/issues/20220

[2021-09-16 21:56] x80486 commented on #20013
@gastaldi, I can give it a try, depending on how you folks do this. My only constraint is time these days, but I can definitely drive this one — even though I'm not a Quarkus expert, so expect some delays while I get more familiar with the ins and outs.

[2021-09-16 23:06] Foobartender opened #20221 "Kotlin live reloading fails when having PicoContainer as dependency"
### Describe the bug

When having org.picocontainer:picocontainer:2.15 as dependency (probably rare, but for example [JaVers](https://javers.org/) depends on it), Kotlin live reloading fails.

The cause is a conflict with an old version of PicoContainer in the IntelliJ codebase (involved regardless of the IDE, see stacktrace below):
https://github.com/JetBrains/intellij-community/blob/master/platf

[2021-09-16 23:25] famod commented on #20202
Fixed via #20216.

[2021-09-16 23:25] #20202 closed

[2021-09-17 00:08] #20184 closed

[2021-09-17 05:23] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1244241710

[2021-09-17 05:57] cescoffier commented on #20193
This is weird.

Your log shows that you use HTTP/2. Did you try HTTP 1.1?
Also, you mention a "huge" payload. Can it be possible that the request got rejected, but we didn't recover correctly after that?

About the security flow, we would need to ask @sberyozkin to see if the sequence makes sense or not.

[2021-09-17 06:04] cescoffier commented on #20170
LEt's take them one by one:

[code]

I'm not sure we want to set the level to WARN, they may be some additional interesting messages.
However, some of them are useless to regular users, and I'm +1 to hide them.  We can start with setting the log level to WARN and see if we get feedback.

The two first messages are on our side, so we can just change the level.

[2021-09-17 06:05] #20161 closed

[2021-09-17 06:07] stuartwdouglas commented on #20166
What I mean is that you basically have a Session proxy, and then every call to a method will check if the current thread is the IO thread, and if not delegate to it.

e.g.

[code]

The complexity here lies in that with the current API's we don't know what the correct IO thread is until the connection is allocated, so this would need to be done inside hibernate itself.

[2021-09-17 06:09] geoand commented on #20210
In which JAX-RS objects would you expect to see support for this?

[2021-09-17 07:32] geoand commented on #20205
Thanks for reporting!

https://github.com/quarkusio/quarkus/pull/20223 fixes the issue

[2021-09-17 07:43] geoand commented on #20200
Thanks for information.

Given that code, how would I reproduce the problem you are seeing?

[2021-09-17 08:10] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1244251536

[2021-09-17 08:14] mswiderski opened #20224 "RestEasy Reactive app locks all worker threads"
### Describe the bug

An application based on following extensions

- quarkus-resteasy-reactive
- quarkus-resteasy-reactive-jackson
- quarkus-arc

Locks all worker threads while running load tests

### Expected behavior

all worker threads are in `TIMED_WAITING` state, see attached thread dump

### Actual behavior

application should continue to operate and not lock worker threads

### How to Repr

[2021-09-17 08:20] geoand commented on #20200
In any case, https://github.com/quarkusio/quarkus/pull/20225 should fix  the issue

[2021-09-17 08:21] knutwannheden commented on #20214
/cc @stuartwdouglas

I could provide a PR, but I am not 100% sure on what the original intention was here.

[2021-09-17 08:23] zakkak opened #20226 "Signature of com.oracle.svm.core.configure.ResourcesRegistry.ignoreResources changed in GraalVM/Mandrel 21.3-dev"
https://github.com/oracle/graal/pull/3774 changed the signature of `ignoreResources` as follows:
[code]

This results in Quarkus throwing a `NoSuchMethodError` exception at the code generated by: https://github.com/quarkusio/quarkus/blob/9b1424df9aee33a2e89058d9d879d58ab8a80e3b/core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java#L78-L80

[2021-09-17 08:31] geoand commented on #20224
Thanks for reporting.

I'll try and have a look next week.

[2021-09-17 08:59] gsmet commented on #20200
In the meantime, you can use @RegisterForReflection to register your model classes for reflection manually.

[2021-09-17 09:00] jsmrcka commented on #20211
@geoand Second try in https://github.com/quarkusio/quarkus/pull/20227.

[2021-09-17 09:31] #20200 closed

[2021-09-17 09:32] davecramer commented on #20200
Thx for the quick response!

[2021-09-17 10:04] dicolasi commented on #19775
2.2.3.Final  still uses v1.15.3 @gsmet

[2021-09-17 10:21] jamesnetherton opened #20228 "RestAssured not configured to use the correct port when `quarkus.http.test-ssl-port` is set"
### Describe the bug

When a custom value for `quarkus.http.test-ssl-port` is set, RestAssured seems to not be configured to use it. Digging into the code, it appears that it's actually attempting to be set by resolving config property `quarkus.https.test-port`.

https://github.com/quarkusio/quarkus/blob/main/test-framework/common/src/main/java/io/quarkus/test/common/RestAssuredURLManager.java#L11

[2021-09-17 10:21] Sanne commented on #20166
If we did that, then you'd have the entity loaded by a Session in a different thread, and then possibly mutated by the current thread. You see the problem? we can't allow that.

Example of user's code:

    Person p = new Person();
    Uni<Void> persisted = session.persist( p );
    p.setAge( 18 );
    return persisted;

And this is oversimplified; imagine re-attaching some complex entity graph vi

[2021-09-17 10:23] Sanne commented on #20166
BTW CDI already provides a "Session proxy" - so I don't disagree in principle with your idea, but we need the whole function operating on the Session proxy to be dispatched; which is what I suggested above.

[2021-09-17 10:50] #20185 closed

[2021-09-17 10:53] Sanne commented on #20166
@stuartwdouglas , @geoand looks like we went on a tangent, shouldn't we discuss first why this Uni returning method is run by the blocking executor?

I thought the deal was that any method with such a signature would run on the reactive threads.

[2021-09-17 11:04] geoand commented on #20166
Indeed, but that didn't cover health endpoints, probably because we didn't think about this case.
It does sound reasonable to me that these should be run on the event loop.

[2021-09-17 11:06] mkouba commented on #20063
@nikosk686 isn't this a duplicate of https://github.com/quarkusio/quarkus/issues/20064?

[2021-09-17 11:06] andrewlunin commented on #20144
And what I discovered as well is that the problem occurs for Smallrye JWT RBAC, but not for OIDC.

[2021-09-17 11:11] mstruk commented on #18398
This issue happens with Quarkus native due to nimbus-jose-jwt dependency version mismatch.

Typically you control a consistent set of dependency versions for Quarkus application by importing a quarkus-platform-bom:

[code]

This bom also contains a dependency version for nimbus-jose-jwt, the most recent one (2.2.2.Final) contains the version 9.10 which is the correct version for strimzi-kafka-oaut

[2021-09-17 11:23] ismailsimsek commented on #20190
for me it fails with quarkus 2.2.X and 2.1.X and works with 2.0.X

[2021-09-17 11:24] matthyx commented on #20200
Hi, I have the same issue when trying to create a `io.fabric8.certmanager.api.model.v1.CertificateList` (also in native only):
[code]

Do you think #20225 also fixes it? How can I test that?
cc @vsevel

[2021-09-17 11:25] zbendhiba commented on #18398
Hello @mstruk  yes, there was a problem coming from the camel-quarkus bom. I fixed it for  quarkus 2.1.x.
You should upgrade the example to the latest version of quarkus.

[2021-09-17 11:29] geoand commented on #20200
It depends, how is this used?

[2021-09-17 11:35] matthyx commented on #20200
I try to populate a list of objects found in the namespace:
[code]

[2021-09-17 11:38] geoand commented on #20200
I doubt it's the same problem. Please open a new Github issue, preferably with a small reproducer project

[2021-09-17 11:39] #20211 closed

[2021-09-17 11:42] mswiderski opened #20229 "RestEasy reactive with smallrye metrics throws NoSuchMethodException"
### Describe the bug

Running quarkus app in native mode with rest easy reactive and smallrye metrics.  Endpoint when invoked fails with following error

[code]

### Expected behavior

No errors are thrown and metrics for JAX-RS are collected

### Actual behavior

Error is thrown and service returns 500

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Darwin MacBook-Pro.lo

[2021-09-17 11:50] ennishol opened #20231 "Please add -Dtest= option for continuous testing like in maven"
### Description

"It would be cool that quarkus:test mimic mvn test and support the same options."

https://groups.google.com/g/quarkus-dev/c/uWPxahituwg/m/LifIc1PWCQAJ?utm_medium=email&utm_source=footer

### Implementation ideas

_No response_

[2021-09-17 11:51] zakkak commented on #20226
FTR https://github.com/oracle/graal/pull/3803 will bring back the methods as deprecated default implementaions.

[2021-09-17 11:54] geoand commented on #20229
Thanks for reporting.

Are you registering the `JaxRsMetricsFilter` filter manually by any chance?

[2021-09-17 11:55] mswiderski commented on #20229
nope, was not even aware of that class until I saw it in the stack trace

[2021-09-17 11:57] geoand commented on #20229
I can get that class to be activated, so I am wondering what is going on...

[2021-09-17 12:08] mswiderski commented on #20229
I just noticed that it does fail like that also for resources from a dependency. Meaning I have another maven project that has REST resource class, that maven project contains `META-INF/beans.xml` but ends up with the same error. I will try to use this as reproducer and see if that fails on simple case. Will try to do it by the end of the day.

just wanted to add this as note...

[2021-09-17 12:09] geoand commented on #20229
Thanks!

[2021-09-17 12:14] andrewlunin commented on #20144
btw, you get this java.net.ConnectException in your reproducer most probably due to wrong **quarkus.oidc.auth-server-url** option in application.properties. If you set up your keycloak server according to README file, then the option should be:

quarkus.oidc.auth-server-url=**http**://localhost:**8180**/auth/realms/quarkus

[2021-09-17 12:16] jmartisk commented on #20199
This will be fixed by upgrading to SmallRye GraphQL 1.3.4. I have a Quarkus-side test that will go in with it.

[2021-09-17 12:20] Ladicek commented on #20199
Great to hear that!

[2021-09-17 12:37] Sanne commented on #20166
@geoand awesome, if that could be done then this should be solved; I guess some other similar components might need to be identified and get the same treatment, but I suspect that would be far better than trying to work around it in HR's code base.

[2021-09-17 12:38] geoand commented on #20166
If @stuartwdouglas also agrees with this approach, I can certainly take it on.

[2021-09-17 13:01] jeffmaury opened #20233 "Provide a CLI like API"
### Description

I am thinking on enhancing the Quarkus Tools (Eclipse / Intellij) in order to offer users a better view of their Quarkus project. Idea is to decorate the project view in IntelliJ/Eclipse with the list of Quarkus extensions. I've looked at the cli code and plan to use the various command (ListExtensions, Add extension). Found out a good starting point in the QuarkusProjectHelper. F

[2021-09-17 13:06] mswiderski commented on #20229
@geoand no luck with simple reproducer :( could you maybe give me some hints to debug the process of collecting resources that should be registered for reflection? Maybe that way I could try to figure out why some classes are not there...

[2021-09-17 13:13] radcortez commented on #19970
Unfortunately, there is nothing we can do on the Quarkus side because this is caused by an issue in the MP Config API. Opened https://github.com/eclipse/microprofile-config/issues/716 to see if we can fix it there.

[2021-09-17 13:19] famod commented on #19970
Thanks for looking into it!
I expected this to be an upstream issue right from the start and not something that can be fixed in SR Config (or even Quarkus).
That's why I added the upstream label and so I'm now a little surprised that you removed it. 🤔
But anyway, a label is just a label. 😉

[2021-09-17 13:19] yrodiere commented on #20186
Confirmed as a bug in Hibernate ORM.

Upstream ticket: https://hibernate.atlassian.net/browse/HHH-14828

I'll see how that can be fixed.

[2021-09-17 13:23] tsegismont commented on #20059
@geniusit  Can you try adding this to your original config?

[code]

When you define a datasource, both the JDBC and Reactive parts are prepared unless you explicitly disable them.
That's why, I think, you get a failing `default` reactive datasource and a failing `react` JDBC datasource in your health check.

@jmartisk @cescoffier while looking into this, I noticed that, in #13375, we got a way to

[2021-09-17 13:26] radcortez commented on #19970
Sorry, I've removed it because I thought this is already "triaged" and that we now have a linked issue to the upstream dependency.

[2021-09-17 13:33] maxandersen commented on #20233
@jeffmaury whats your requirements for compatbility over time ?

[2021-09-17 13:37] jeffmaury commented on #20233
Depends on the design:
- IDE embeds a specific version of Quarkus that can deals with Quarkus project (we can assume starting from 2.x) , I'm good if that API changes and needs to adapt IDE if I decide the change the version of embeded Quarkus
- the IDE dynamically loads the API matching the one from the project but then that API needs to be stable

[2021-09-17 13:41] geoand commented on #20229
I would start with debugging `org.jboss.resteasy.reactive.common.processor.scanning.ResteasyReactiveInterceptorScanner#scanForInterceptors` and seeing if the filter in question is being picked up.

[2021-09-17 13:50] ia3andy opened #20235 "Websocket should have a codestarts instead of a singleton example"
### Describe the bug

Currently, websocket is linked to a singleton example:
https://github.com/quarkusio/quarkus/tree/main/devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/examples/undertow-websockets-example

Instead we should provide a starter codestarts which can be combined with other codestarts.

[2021-09-17 13:52] rsvoboda opened #20236 "Provide more details about extensions when "Multiple matching properties for ..." error occurs"
### Description

Provide more details about extensions when "Multiple matching properties for name ..." error occurs

One gets only:
[code]

Use experience should be improved by providing the list of colliding extrensions

### Implementation ideas

_No response_

[2021-09-17 14:38] gastaldi opened #20238 "Deploy a SQL Client UI in the Dev UI"
### Description

It would be really cool if the Dev Console provided an SQL Client UI to query the configured databases quickly

### Implementation ideas

[SQLPad](https://getsqlpad.com/) is a nice SQL Client Web UI that is provided as a Docker image and could be used in conjunction with TestContainers.

See an example using Docker Compose here: https://github.com/sqlpad/sqlpad/blob/master/docker-

[2021-09-17 14:47] famod commented on #19970
Ah ok. I thought we also use it to flag issues that are waiting for upstream changes. 🤷‍♂️

[2021-09-17 14:58] GavinRay97 commented on #19749
Maybe we could start by limiting the implementation of the Quarkus <-> Kotest functionality to JUST the `AnnotationSpec`, since that will behave identically to plain JUnit `@Test`s?

That seems like it might be the "easiest" to get running properly since it at least maps 1-to-1 with JUnit behavior.

This weekend I will return to the Kotest + Quarkus repo and minimize the implementation, got caught

[2021-09-17 15:04] geoand commented on #20166
I took a super quick look at this, and it seems like it would require more than just Quarkus work.

Essentially what is going on now is that Quarkus creates a `Route`  (which is always blocking) and when that route is called the various health checks are called as part of that request - there is no separation between sync and async health checks.
So this likely needs some smallrye work.
cc @radcor

[2021-09-17 15:07] maxandersen commented on #20233
for option 1 you would need that embedded jar to handle past and as many future versions of Quarkus as possible.
for option 2 it just needs to understand the version of Quarkus it is used with.

correct?

[2021-09-17 15:15] ebullient commented on #20229
Curious if you see this if you flip to the micrometer extension?

[2021-09-17 15:17] ebullient commented on #20233
QuarkusProjectHelper is not safe right now (and I would not consider that API).
QuarkusCommandOutcome is the right/better thing, but it is essentially writing to an output stream (rather than filling in a result), as the commands are all otherwise command-line oriented.

[2021-09-17 15:20] jeffmaury commented on #20233
Yes

[2021-09-17 15:30] mswiderski commented on #20229
@ebullient there reason is I have to move to the micrometer as currently I still use these

[code]

so it is not just to change the pom dependency :(

[2021-09-17 15:35] ebullient commented on #20229
The micrometer extension has a compat layer for the MP API. Just try it .;)

[2021-09-17 15:35] mswiderski commented on #20229
is that like another dependency?

[2021-09-17 15:37] mswiderski commented on #20229
In meantime this change made it to work https://github.com/mswiderski/quarkus/commit/f3661c767695807648767b7540127303b6fb381d

not sure though it is what it should be but looking at what `org.jboss.resteasy.reactive.server.spi.ResteasyReactiveResourceInfo.getMethod` does (looking up methods via reflection) I guess having these classes registered for it makes sense.

[2021-09-17 15:38] ebullient commented on #20229
nope. baked in. It is enabled if any MP Metrics usage is detected.

[2021-09-17 15:39] geoand commented on #20229
Yeah, but that is what we want to avoid :). We don't want to register things for reflection unless necessary. In your case, if we can find out why the filter is getting included, we can also register all the JAX-RS Resource classes for reflection.

[2021-09-17 15:40] ebullient commented on #20229
This is why I'm curious to see if Micrometer hits the issue, too. The smallrye metrics extension uses more reflection than micrometer does.. but this may be a case where resources need to be handled differently..

[2021-09-17 15:41] mswiderski commented on #20229
alright, let me try to move to micrometer then - stay tuned!

[2021-09-17 15:41] tsegismont commented on #20059
@geniusit sorry I made a mistake, actually you need this:

[code]

[2021-09-17 15:46] geoand commented on #20229
In general we detect when reflection is needed, but there might be cases we have missed. But if micrometer solves the problem, then all is good :)

[2021-09-17 15:47] falcantaracano opened #20243 "Getting error message:SRCFG00027 in quarkus-2.2.3.Final and quarkus-2.2.2.Final, while test case worked correctly in quarkus-2.2.1.Final"
### Describe the bug

I  have develop a configuration PoC. This PoC works correctly with Quarkus 2.1.1.Final, but it fails with Quarkus 2.2.2.Final and Quarkus 2.2.3.Final.

I'm getting the following error:
sept. 17, 2021 5:15:19 P. M. org.examples.quarkus.configuration.MdPConfigurationMapping
ERROR: Getting MdP Configuration Mapping, message:SRCFG00027: Could not find a mapping for org.examples.q

[2021-09-17 15:54] famod commented on #20243
I _suppose_ this is the result of #19937 but I'll let @radcortez answer that.

[2021-09-17 15:58] geoand commented on #20221
I have an idea about how this can be fixed. Can you attach a reproducer that I can use to check?

[2021-09-17 16:01] geoand commented on #19773
Essentially `@Mock` makes Arc (our DI container) prefer that bean over any other.
What `QuarkusMock.installMockForType` does is stuff a delegate into the existing CDI bean.

[2021-09-17 16:01] geoand commented on #19919
This can be done after https://github.com/quarkusio/quarkus/pull/20195

[2021-09-17 16:15] sberyozkin commented on #1710
@mkouba Hi Martin, can we at least warn that there is a problem with injecting a non proxyable type into `@ApplicationScoped` ?

@andreas-eberle has got the same problem as well: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/OIDC.3A.20Injected.20claims.20are.20not.20request.20scoped

So it would be better if Quarkus could act somehow in such cases, warn or if possible, fail to

[2021-09-17 16:21] Sanne commented on #20238
yea I'd love that!

[2021-09-17 16:32] aloubyansky commented on #20233
The mentioned command API (ListExtensions, AddExtension, etc) should be stable (they are not CLI specific, they come from quarkus-devtools-common) and should be evolved to support the IDE use-cases.
The big part that should be refactored is the `QuarkusProject` initialization, which is what @ebullient is going to look into.

[2021-09-17 17:33] Foobartender commented on #20221
I already attached a reproducer under "Steps to reproduce".

[2021-09-17 18:36] mswiderski commented on #20229
so it does work indeed with micrometer extension instead! thanks a lot for the hint @ebullient

I relied on the MP compatibility mode but need to look more into the micrometer api instead to do the same as I see on build following warning

[code]

[2021-09-17 19:02] mkouba commented on #1710
What exactly do you mean? If I understand it correctly the relevant producer is `@Dependent` and it's perfectly fine to inject a `@Dependent` bean into an `@ApplicationScoped` bean.

[2021-09-17 19:11] geoand commented on #20221
Actually it looks like Kotlin uses an old version of picocontainer, so there is not much we can do unfortunately.

[2021-09-17 19:11] #20221 closed

[2021-09-17 19:40] ebullient commented on #20229
yep.

There is a cost to using the wrapper (some extra objects are used), but we'll be supporting the MP Metrics API for a long while yet.  Please do look into it, but don't panic. ;)

[2021-09-17 22:20] famod opened #20250 "Hibernate extension logs warning "Unable to find a build time generated proxy for entity com.blazebit.[...].ValuesEntity""
### Describe the bug

When starting my Quarkus app (or running tests) that is using Blaze Persistence, I see:
[code]

### Expected behavior

No warning

### Actual behavior

Warning is logged

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Linux *** 5.10.16.3-microsoft-standard-WSL2 #1 SMP Fri Apr 2 22:23:49 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### Output of `java -ve

[2021-09-18 00:12] cemnura commented on #20144
Hello @andrewlunin,

I created a reproducer [here](https://github.com/cemnura/quarkus-quickstarts/tree/reproducer/jwt-rbac-disable-auth-controller/security-jwt-quickstart) to have a look.

I can disable and enable the Authorization with a custom `AuthorizationController`.

[code]

and by adjusting the configuration

[code]

Then I run

`./mvnw clean quarkus:dev`

and curl works

[code]

When I cha

[2021-09-18 00:16] cemnura commented on #20144
@sberyozkin I am trying out `@TestSecurity` as you said to see whether it will disable the authentication or not. Shouldn't the following test pass?

[code]

[2021-09-18 03:20] zohar-soul commented on #19919
Thanks a lot

[2021-09-18 03:20] #19919 closed

[2021-09-18 04:36] jaikiran commented on #20054
Hello @aomsweet, could you add the text that shows this garbled output. What command are you using which triggers this output?

[2021-09-18 04:52] jaikiran commented on #19359
Hello @holledauer,

Given that you have access to this setup plus are able to test both 2.0.2.Final and 2.1.2.Final to reproduce this, perhaps you could generate 3-4 thread dumps (using maybe `jstack`) against each of these instances? Try to generate each thread dump with a gap of around 5 seconds each and do this against both 2.0.2.Final and 2.1.2.Final versions. Maybe that will have some hint on

[2021-09-18 04:55] jaikiran commented on #20201
Hello @moritz-bruder, could you add some background context on what issue this piece of code is causing. Perhaps with a reproducible example? This code may or may not have issues and I haven't paid detailed attention to it, but knowing the context will help us understand if there are better ways to deal with it.

[2021-09-18 04:58] jaikiran commented on #20193
One other thing you could do is, when this hang/timeout is happening - i.e. when the request is sent from the client (but not yet responded back), you could take a thread dump (2-3 of them separated by around 5 seconds each) of the Quarkus Java process (`jstack` is one way to get thread dumps). You can then attach those thread dumps to this issue and maybe those will show us what activity if any i

[2021-09-18 05:04] jaikiran commented on #19737
com.oracle.svm.core.util.UserError$UserException: Annotated class must be final: class io.quarkus.amazon.lambda.http.graal.LambdaContainerHandlerSubstitution
        at com.oracle.svm.core.util.UserError.abort(UserError.java:68)

This error has been fixed as part of https://github.com/quarkusio/quarkus/pull/19887 so that should be available in the already released 2.2.2.Final (and subsequent relea

[2021-09-18 05:20] jaikiran commented on #18065
This error is a bug in GraalVM itself. Looking at the commit history in that repo, I think this commit https://github.com/oracle/graal/commit/0f01c5af54468ecd5e2148705dfe8e36ae6d1c84 has fixed that issue and going by the tag associated with that tag I think it's available in 21.2.0 release of native-image. I see that the first description in this issue says:

I don't know if Quarkus has a 21.2.0 J

[2021-09-18 05:40] mswiderski commented on #20229
Not afraid of support but more since the name of the metrics change anyway so better to move completely to micrometer and be done in one go

[2021-09-18 07:13] #20205 closed

[2021-09-18 08:15] mswiderski commented on #20229
Just moved all my stuff to micrometer and it was easier than expected

from my point of view this issue can be closed as the solution is to use micrometer extension instead of smallrye-metrics

thanks for really good support @ebullient @geoand

[2021-09-18 09:06] geoand commented on #20229
Thanks @mswiderski !

[2021-09-18 09:06] #20229 closed

[2021-09-18 11:04] test210820 opened #20254 "@ServerResponseFilter annotated filter is called repeatedly after the filter throws an exception"
### Describe the bug

FilterA throw exception -> catched by ExceptionMapper and then be handled -> FilterA throw exception

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

windows10

### Output of `java -version`

java11

### GraalVM version (if different from Java)

_No response_

### Quarkus versio

[2021-09-18 11:22] test210820 commented on #20207
Use `CompletionStage` instead, you can solve this problem

[2021-09-18 11:48] test210820 opened #20255 "io.quarkus.jackson.ObjectMapperCustomizer DEFAULT_PRIORITY value should less than QUARKUS_CUSTOMIZER_PRIORITY?"
### Description

![image](https://user-images.githubusercontent.com/65008815/133887579-58691983-6d23-4659-841f-a0b617e0836d.png)

In order to ensure that the user-defined can overwrite the built-in, DEFAULT_PRIORITY value should less than QUARKUS_CUSTOMIZER_PRIORITY ?

### Implementation ideas

_No response_

[2021-09-18 12:42] jaikiran commented on #19994
I think the command you are running to send the signal will kill both the client (curl) as well as the server. So it's not an accurate test.

Instead, find the Java process representing Quarkus (using `jps -l`) and then send SIGTERM to it:

`kill -s SIGTERM <pid>`

That should work. I just gave this a try locally and it shutdown gracefully after the request completed.

[2021-09-18 13:20] joggeli34 opened #20256 "Prometheus micrometer metrics are slow on native binary"
### Describe the bug

Requests to the /q/metrics endpoint on a project with prometheus micrometer metrics, are much slower when build native compared to the jvm build.

### Expected behavior

The calls should take around the same duration.

### Actual behavior

When calling a native build, I get times around 420ms. When calling the same but in jvm mode, I got times around 10ms. I noticed also, tha

[2021-09-18 14:06] geoand commented on #20255
`DEFAULT_PRIORITY` being `0` means that the user customizer will be executer **after** the Quarkus customizer (which a priority of less than `0`).
That way Jackson will keep the the changes applied by the user customizer if there are conflicting settings

[2021-09-18 14:06] #20255 closed

[2021-09-18 14:06] geoand commented on #20254
Can you attach a small reproducer please?

[2021-09-18 14:08] geoand commented on #20256
`420ms` seems very high...

[2021-09-18 14:54] test210820 commented on #20255
From the code point of view, it seems that the user-defined will be executed earlier than the built-in quarkus, if the user-defined priority is greater than the built-in quarkus ...

![image](https://user-images.githubusercontent.com/65008815/133892753-6ee551b1-40be-44a9-8acd-72eb7190b52d.png)

![image](https://user-images.githubusercontent.com/65008815/133892728-8f0932e0-0a45-46e6-8f4c-f221f9e5ab

[2021-09-18 14:56] test210820 commented on #20255
@geoand

[2021-09-18 15:09] geoand commented on #20255
Feel free to open a PR that improves the javadoc or the Jackson related docs

[2021-09-18 15:15] test210820 commented on #20254
Filter:
[code]

ExceptionMapper:

[code]

[2021-09-18 15:15] test210820 commented on #20254
@geoand

[2021-09-18 16:59] nikosk686 commented on #20063
@mkouba
Could be but not quite sure.
They are similar for sure but this one is about Quarkus v1.x.x while #20064 is for v2.
The problem here is that the multi-module application cannot start in dev mode (the other issue is about test mode)
due to a similar CNFE.
Didn't try the work around with the `quarkus.class-loading.reloadable-artifacts=org.org.acme:api` tbh, I ll let you know when I do.
Also

[2021-09-18 18:20] cescoffier commented on #18065
21.2.0-java16 should be available.

[2021-09-19 09:02] maxandersen commented on #18843
duplicate of #20235

[2021-09-19 11:52] emiste opened #20257 "Configuration injection regression after migrating from 1.12.2.Final to 2.2.3.Final"
### Describe the bug

I'm getting  the following exception after runing a unit test . The same test is OK when using the quarkus's version 1.12.2.Final.
[ERROR] com.xxx.core.api.CustomerSettingResourceTest.shouldCustomerUserLongIn  Time elapsed: 0.018 s  <<< ERROR!
java.lang.RuntimeException: java.lang.ExceptionInInitializerError
Caused by: java.lang.ExceptionInInitializerError
Caused by: java.lan

[2021-09-19 15:16] test210820 opened #20258 "The configuration item quarkus.native.container-runtime will cause the configuration item quarkus.native.container-build=false to be invalid"
### Describe the bug

application.properties

![image](https://user-images.githubusercontent.com/65008815/133932659-40de6455-75d8-4fea-bf92-021feb1f62af.png)

![image](https://user-images.githubusercontent.com/65008815/133932813-1331dc40-7e82-45b3-a24b-679a97249313.png)

![image](https://user-images.githubusercontent.com/65008815/133932786-a242466c-7dcb-4c05-aa7f-8f731ead0667.png)

### Expected be

[2021-09-19 15:18] cescoffier commented on #20088
@sberyozkin by any chance, you have an idea where this "wildfly.sasl.relax-compliance" property is managed in wildfly? I would like to see what it is actually doing.

[2021-09-19 16:05] irenakezic commented on #20088
@cescoffier
I think you can find this here: https://github.com/wildfly-security/wildfly-elytron/blob/1.x/sasl/gssapi/src/main/java/org/wildfly/security/sasl/gssapi/GssapiClient.java

[2021-09-19 17:05] JHahnHRO commented on #19526
The spec also does not forbid to add the @Default qualifier. On the contrary: That is explicitly allowed and the reference implementation handles this correctly. The @Default qualifier is not the absence of qualifiers, it is a valid qualifier in and of itself. The only special property the spec requires is that it is added automatically to injection points and bean without other qualifiers. In par

[2021-09-19 18:00] cescoffier commented on #20088
Thanks @irenakezic !

I'm seeing https://github.com/wildfly-security/wildfly-elytron/blob/021ae1a096f5e864bbe4fc153256e2a2871ea0d3/sasl/gssapi/src/main/java/org/wildfly/security/sasl/gssapi/AbstractGssapiMechanism.java#L76, so I'm wondering why the system property does not work in Quarkus.

[2021-09-19 18:01] manovotn commented on #19526
I never said Quarkus ignores the qualifier or that it cannot handle default qualifier. You can easily check with standard beans that this works.

The "issue", which isn't an issue but a design choice, is that Quarkus adds other than `@Default` qualifier to those config beans. It adds `@ConfigProperties` auomatically, so that you can then inject those configs as shown in https://quarkus.io/guides/c

[2021-09-19 22:27] gwenneg commented on #20166
For anyone who might be affected by this issue, here's a workaround you can use until it's been properly fixed:

[code]

[2021-09-19 23:02] stuartwdouglas commented on #20166
@Sanne you already have that problem though, as the IO thread that HTTP happens to be on may not be the same IO thread that has been allocated to the database.

[2021-09-20 05:22] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1252326216

[2021-09-20 05:43] mkouba commented on #20063
I don't think that https://github.com/quarkusio/quarkus/pull/20204 will not be backported in 1.x.

[2021-09-20 06:01] geoand commented on #20254
According to the JAX-RS specification, what we are doing **is** correct. The spec mentions:

WriteTo interceptor chain (if an entity is present in the mapped response). The number of entries in these
chains depends on whether a resource method has been matched or not at the time the exception is thrown.

So you'll have to make sure your response filter does not throw an exception in order to preve

[2021-09-20 06:01] #20254 closed

[2021-09-20 06:14] cescoffier commented on #20198
#20230  and #20251  are touching the same code base. We probably need to combine both.

[2021-09-20 06:16] cescoffier commented on #15168
Closing as `won't fix` as that feature is available in RESTEasy Reactive (which replaces reactive routes for such a use case).

[2021-09-20 06:16] #15168 closed

[2021-09-20 06:40] ia3andy commented on #18843
Thanks @maxandersen @rsvoboda.

Let's close this one, as the other one is more precise on the fix.

[2021-09-20 06:40] #18843 closed

[2021-09-20 07:25] jw941 opened #20264 "Hibernate generates wrong SQL"
### Describe the bug

The update SQL Hibernate generated was wrong which caused exception.

HQL:
`update Document d set d.processed=false, d.error=false where d.documentGroup.domain=:domain and d.documentTypeDefinition=:documentTypeDefinition`

SQL:
`update
        recognition_document cross
    join
    set
        processed=false,
        error=false
    where
        domain=?
        and docume

[2021-09-20 07:57] MikkelVestergaard commented on #19359
I am running on a self-managed Kubernetes cluster (on AWS platform).

[2021-09-20 07:58] mkouba commented on #20257
CC @radcortez

[2021-09-20 08:25] geoand commented on #19819
Done in https://github.com/quarkusio/quarkus/pull/20195

[2021-09-20 08:31] xtaixe commented on #18559
@geoand thanks for looking into this!

My understanding is that the JaCoCo extension was solving that somehow, but it's not working for integration tests. Maybe @stuartwdouglas knows more?

That said, @geoand, your solution seem really simple to make that part work... Does JaCoCo work out-of-the-box then or is  the JaCoCo extension still needed? I hope we can get this solved soon. Thanks!

[2021-09-20 08:32] ennishol opened #20265 "Quick starts example 'Using HTTP with Reactive Messaging' is not working"
### Describe the bug

Following ['Using HTTP with Reactive Messaging'](https://quarkus.io/guides/reactive-messaging-http.html)
I cloned the repo and started the app. However, after clicking add price on [the HTML page](http://localhost:8080/index.html)
I get an error in log

[code]

### Expected behavior

the app should work as described in the guide

### Actual behavior

_No response_

### How to

[2021-09-20 08:35] geoand commented on #18559
It turns out that https://github.com/quarkusio/quarkus/pull/20075 could cause subtle issues so it was not merged. Stuart has proposed an alternative that might work, but I have not looked into it.

[2021-09-20 08:35] JHahnHRO commented on #19526
I'm not sure I understand what you're saying. Are you saying that the error lies not with the CDI implementation, but with the MicroProfile Config  implementation and/or spec, because MP Config expects every injection point to have a `@ConfigProperties` qualifier, whether or not the injectable Bean can be identified without that qualifier?
If so, then I'm not sure that's really the case. The MP Co

[2021-09-20 08:43] geoand commented on #6588
@glefloch @aloubyansky there is some weird gradle failure in quickstarts now. Can you please take a look (you can see the logs from the link above)?

[2021-09-20 08:48] aloubyansky commented on #6588
https://github.com/quarkusio/quarkus-quickstarts/pull/940 should fix it

[2021-09-20 08:49] geoand commented on #6588
Thanks!

[2021-09-20 08:49] ozangunalp commented on #20265
Seems like `quarkus.http.test-port` is provided even though you are not running the tests. @ennishol can you remove that from the `outgoing-costs.url` property in the `application.properties` and retry?

[2021-09-20 08:56] geoand commented on #20224
I tried the sample and couldn't reproduce the behavior.
I even reduced the number of threads (by a lot) and the application still behaved as expected.

[2021-09-20 09:17] geoand commented on #20258
Well, we need to pick on or the other - in this case we seem to picking the latter.

I guess we could make this an error though, WDYT @zakkak ?

[2021-09-20 09:21] geoand commented on #20243
Also, this looks like a duplicate of https://github.com/quarkusio/quarkus/issues/20257, no?

[2021-09-20 09:37] ennishol commented on #20265
@ozangunalp changed to `mp.messaging.outgoing.outgoing-costs.url=http://localhost:8080/cost-collector` still same error

[2021-09-20 09:37] famod commented on #20243
Or the other way around. 😉

[2021-09-20 09:43] mkouba commented on #19526
Well, I'm not an MP Config expert but all the examples mentioned in the spec use `@Inject @ConfigProperties`. The truth is that in "pure" CDI the example snippet should work the way you expect. However, `@Default` should not be used explicitly because the intention of the default qualifier is clear: _"If a bean does not explicitly declare a qualifier other than `@Named` or `@Any`, the bean has exa

[2021-09-20 09:52] radcortez commented on #20243
Correct.

We added a new PR to fix the issue is a better way: https://github.com/quarkusio/quarkus/pull/20103

[2021-09-20 09:55] radcortez commented on #20166
cc @xstefank

[2021-09-20 09:57] radcortez commented on #20257
This seems related to the revert of https://github.com/quarkusio/quarkus/pull/19937, but can only be sure if I have a reproducer. @emiste are you able to provide one? Thanks!

[2021-09-20 10:01] radcortez commented on #19526
Correct. For additional information, please check https://github.com/eclipse/microprofile-config/issues/629.

[2021-09-20 10:02] JHahnHRO commented on #19526
The use-case is: There is a class that collects *all* self-defined config properties (basically everything that's named "com.example.my.application.*" instead of "quarkus.*" from application.properties) in one central place. It is clear that the class `AllMyConfig` contains config properties. I had hoped that annotating that bean with `@Default` I can inject it without repeating `@ConfigProperties

[2021-09-20 10:18] Sgitario opened #20266 "quarkus-jdbc-db2 does not work with latest DB2 image"
### Describe the bug

Using the image: `ibmcom/db2:11.5.6.0` (the latest one), it does not work with the extension `quarkus-jdbc-db2`.
Runtime error:
[code]

The DB2 container is up and running.

Only works using either `ibmcom/db2:11.5.5.1` or `ibmcom/db2:11.5.5.0`

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Either follow the guide from https:

[2021-09-20 10:23] matthyx opened #20267 "fabric8.certmanager extension: CertificateList cannot deserialize from Object value (no delegate- or property-based Creator)"
### Describe the bug

This only happens in the native version... I try to get a list of all `Certificates` in a namespace.

Stacktrace:
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

I have tried to make a reproducer here:
https://github.com/matthyx/quarkus-certmanager/blob/main/src/test/java/org/acme/GreetingResourceTest.java

However, the

[2021-09-20 10:23] matthyx commented on #20267
/cc @vsevel

[2021-09-20 10:31] radcortez commented on #19526
@JHahnHRO this is not on Quarkus. This is how it was defined in the MP Config spec. Please check https://github.com/eclipse/microprofile-config/issues/629.

Feel free to bring this up in the MP Config spec if you believe this should change.

[2021-09-20 10:38] mswiderski commented on #20224
hmm interesting. I can constantly reproduce it. So I moved to run the test in container just to see if that is maybe Mac related or so but it also is reproducible there too. You can see if you can reproduce with this image
`mswiderski/code-with-quarkus:1.0.0-SNAPSHOT`

what is interesting that it always ends up around 16300 request

`Total of 16340 requests completed`

it sometimes resumes executi

[2021-09-20 10:41] geoand commented on #20267
Thanks for reporting.

In the real code, where is `CertificateList` used?
The reason I am asking is because if it is used only the body of some method, Quarkus doesn't know about it and therefore does not register it for reflection.
Furthermore, we don't register all the classes of the Kubernetes model for reflection, as that would result in a huge native binary.

Another workaround aside for the

[2021-09-20 10:42] geoand commented on #20224
@stuartwdouglas can you also give it a try when you have a few minutes to spare?

[2021-09-20 10:43] mkouba commented on #19526
Note that in Quarkus you can replace the `@Inject AllMyConfig allMyConfig` with ` @ConfigProperties AllMyConfig allMyConfig` as described in https://quarkus.io/guides/cdi-reference#qualified-injected-fields

[2021-09-20 10:48] JHahnHRO commented on #19526
@radcortez Alright, I will do that.

Thank you all for the discussion.

[2021-09-20 11:05] vsevel commented on #20267
But that should not be the responsability of the developer to know what classes to register. Right?

Should there be a dedicated extension for the cert manager? That way we would register whatever is necessary for the app. WDYT?

[2021-09-20 11:09] geoand commented on #20267
Yes, that does make sense. However due to what I mentioned above, it's not practical for the Kubernetes extension.
We only register for the model's classes for reflection when we they they are going to be used.

What would this extension register? And under what circumstances?

[2021-09-20 11:35] holledauer commented on #19359
How can I create a thread dump with a native image built with GraalVM CE?

[2021-09-20 11:38] mmusgrov commented on #20079
If I update the extension to use `quarkus-rest-client-reactive[-deployment]` instead of the classic versions would that help or would we get the reverse problem when users wish to use classic resteasy.

[2021-09-20 11:39] zakkak commented on #20258
If I recall correctly the reasoning behind this was that if you are setting `container-runtime` then you probably are interested in using a container to build the native image. I can see however that someone might have this set in the application properties file while experimenting with `-Dquarkus.native.container-build=false` on the command line.

I would personally prefer honoring `container-bui

[2021-09-20 11:39] geoand commented on #20079
It would cause the reverse problem :)

[2021-09-20 11:46] johnaohara commented on #19359
Native images will still dump the stack traces if you send a SIGQUIT signal to the process.
`$ kill -3 {PID}` from within the container will print the stack trace to the container console

[2021-09-20 11:56] JJBRT commented on #17957
Please take a look at my new article that explain [how to export all modules to all modules at runtime in Java 16 and later](https://dev.to/jjbrt/how-to-avoid-resorting-to-add-exports-and-add-opens-in-jdk-16-and-later-j3m) without using any JVM parameter

[2021-09-20 12:18] mswatosh commented on #20266
Did you update your port number when you switched to the latest db2 image?

This wasn't well advertised, but the default port number for db2 11.5.6.0
changed from 50000. The new port number is documented as 25000, but when I
tried it, the new port number was actually 25010.

https://www.ibm.com/support/pages/db2-db2-server-tcpip-port-numbers

On Mon, Sep 20, 2021, 5:19 AM Jose Carvajal ***@***.***

[2021-09-20 12:38] holledauer commented on #19359
That only works with the Enterprise Edition (see [docs](https://www.graalvm.org/reference-manual/native-image/NativeImageHeapdump/))

[2021-09-20 12:42] radcortez commented on #19549
Ideally, we need to skip the registration of such sources. We could probably find some clever way to ignore the values coming from the sources, but the case where you have a non-readable file will always crash the application.

I believe we have two options:

1. Have some kind of way for us to recognize that we are running a Quarkus CLI, and so when we are generating the Config, we can pick which

[2021-09-20 12:45] johnaohara commented on #19359
Stack traces work in CE, heap dumps require EE.  I think the way that doc is worded is misleading.

[2021-09-20 12:50] Sgitario commented on #20266
Using 25010 works, thanks for sharing!

So, should we update https://quarkus.io/guides/datasource#db2 to state this change? It's unlikely users will go to the official documentation link.

[2021-09-20 12:53] ebullient commented on #19549
+100 on skipping registration. That is by far the cleanest.

[2021-09-20 12:54] matthyx commented on #20267
@geoand thanks for the suggestion, as planned if I add the annotation to the Java file where I use the certmanager client it works:
[code]

[2021-09-20 12:54] #20267 closed

[2021-09-20 12:57] ebullient commented on #20256
it does. I'll have to look at it.. with some help.

[2021-09-20 13:35] michalszynkiewicz commented on #20265
I have just followed the quickstart and I cannot reproduce the problem.
@ennishol I think you'd have to share your project to get more help on this

[2021-09-20 13:48] radcortez commented on #19549
From what I can tell, on the CLI code, we don't have many options to influence how Quarkus is going to behave, because it just calls `Quarkus.run` and that is it. Are there any build steps that are CLI-specific only that we can use?

I guess that one easy option is to add a build-time configuration property that can be used by the CLI module and allows you to control how these sources are register

[2021-09-20 13:55] holledauer commented on #19359
Thread dumps are attached
[dump_2_0_2.txt](https://github.com/quarkusio/quarkus/files/7196203/dump_2_0_2.txt)
[dump_2_1_2.txt](https://github.com/quarkusio/quarkus/files/7196204/dump_2_1_2.txt)

[2021-09-20 13:56] andrewlunin commented on #20144
Hello @cemnura. I finally understood what is the reason. Actually it doesn't work with JWT RBAC and quarkus-resteasy-reactive. This combination stopped working. I made reproducer [here](https://github.com/andrewlunin/quarkus-quickstarts/tree/disable_auth_controller/security-jwt-quickstart). It works again after I set Quarkus version to 2.1.4 [here](https://github.com/andrewlunin/quarkus-quickstart

[2021-09-20 14:22] ennishol commented on #20265
@ozangunalp actually removing `quarkus.http.test-port` did help. somehow the file was not saved by IDE.

[2021-09-20 14:53] yrodiere commented on #20186
https://github.com/hibernate/hibernate-orm/pull/4231 should fix the problem. Once it's merged and released, we can upgrade Hibernate ORM in Quarkus and get the fix.

[2021-09-20 15:08] kivan-mih commented on #8136
Anything going on the way to typesafe compile time queries in Quarkus at this moment?

By the way QueryDSL status is now again "maintained" for more than a year, so probably it will be a good idea to integrate it https://github.com/querydsl/querydsl/graphs/contributors . And yeah in my experience typesafe queries are good not only for big projects, you mostly benefit from them when the project is

[2021-09-20 15:20] yrodiere commented on #19660
I don't think there is a workaround at the moment.

As I said above, we will need a fix upstream to also support changing the schema at runtime.

@Sanne, care to confirm? There's no way to override build-time Hibernate ORM properties during static init, is there? Even as an ugly, unsupported hack?

[2021-09-20 15:35] mmusgrov commented on #20079
@geoand If I remove the dependency on resteasy from the extension it doesn't work because the extension needs resteasy to be present in order to communicate with a coordinator. This happens even when I add the `io.quarkus:quarkus-resteasy` dependency to the quarkus application. The error is `ClassNotFoundException: org.glassfish.jersey.client.JerseyClientBuilder`.

[2021-09-20 15:40] ozangunalp commented on #20265
Cool! Then the question is why do the quarkus app launched in dev mode has the `quarkus.http.test-port` property defined? Or shall we use the property with profiles such as `%test.quarkus.http.test-port` ?

[2021-09-20 15:40] xtaixe opened #20274 "Bump `org.glassfish:jakarta.el` due to vulnerability"
### Description

https://app.snyk.io/vuln/SNYK-JAVA-ORGGLASSFISH-1297098

### Implementation ideas

_No response_

[2021-09-20 15:43] xstefank commented on #20079
@mmusgrov try to add `io.quarkus:quarkus-rest-client`

[2021-09-20 15:44] geoand commented on #20079
Or likely `quarkus-rest-client-reactive` of it in this case :)

[2021-09-20 15:45] mmusgrov commented on #4399
@gsmet pr/17903 resolves this issue. Should I close it or are there other actions that need doing first?

[2021-09-20 15:54] mmusgrov commented on #20079
Thanks @xstefank and @geoand. But if the end user application does not need rest-client then he's unlikely to include it, i.e.e we would be asking him to include dependency that he isn't using that sounds a bit hacky.

[2021-09-20 16:04] essobedo opened #20275 "Allow to disable MP ConfigProperties and ConfigMapping"
### Description

Up to now, if we want to ease the mapping of the configuration, we can rely on the annotations `@ConfigProperties` from MicroProfile Config and/or `@ConfigMapping` from SmallRye Config. If used, Quarkus will check at runtime that the corresponding properties are available in the configuration which can be a problem if this part of the configuration only makes sense for production

[2021-09-20 16:04] geoand commented on #20079
Yes, it's hack. We need to figure out the proper way to address this.

[2021-09-20 16:19] dhoffer opened #20277 "Add support for CredentialsProvider in the MongoDB client"
### Description

We use a custom credential provider to manage login credentials for all Argoal data sources, we need the same for MongoDB.  Currently MongoDB only supports plain text passwords in the application.properties/yml file which is not an acceptable solution.

Please add support for same credential provider in MongoDB.

Custom Credential Provider: https://quarkus.io/guides/credentials-pr

[2021-09-20 16:22] dhoffer commented on #20277
Discussed this here: https://groups.google.com/g/quarkus-dev/c/a5p4CHvA5to/m/Mee3r77TCgAJ?utm_medium=email&utm_source=footer

[2021-09-20 16:28] pjgg opened #20278 "Spring `@RequestMapping` doesn't work with `quarkus-resteasy-reactive-qute`"
### Describe the bug

Quarkus version: upstream

`quarkus-spring-web` is not working anymore with `quarkus-resteasy-qute` due to dependency conflicts, so I have to move on to `quarkus-resteasy-reactive-qute`,  but this library doesn't support Spring `@RequestMapping` annotation without method (Is supported in previous versions).

Extensions involved:
[code]

Code example:

[code]
Stacktrace:
[code

[2021-09-20 16:29] geniusit commented on #20059
@tsegismont This is what i was looking for! Thank you very much

[2021-09-20 16:29] #20059 closed

[2021-09-20 17:04] geoand commented on #20278
Thanks.

We should probably make `@RequestMapping` default to GET.
That should fix this issue

[2021-09-20 19:30] mweber03 opened #20281 "ConfigMapping Optional in constructor injection error"
### Describe the bug

When using `@ConfigMapping` on an `Optional` in constructor injection, there is a build error.

### Expected behavior

Successful build.

### Actual behavior

[code]

### How to Reproduce?

Reproducer: `service5` in https://github.com/mweber03/quarkus-test

1. `./gradlew service5:quarkusBuild`

Code:
[code]

The build NPEs when using:
[code]

### Output of `uname -a` or `ver`

[2021-09-20 19:38] mweber03 commented on #20281
/cc @radcortez

[2021-09-20 19:43] RustamSultansoy opened #20282 "Hibernate entities fields access level was broken after migration from 1.12 to 2.2.3"
### Describe the bug

I have a base entity like that
[code]
And some child classes.
In old version of quarkus after compilation it still stayed public.
In 2.2.3 after compilation I noticed that all fields except id and transiens are protected. All direct access was changed to getters and setters.
My code:
<img width="842" alt="Screenshot 2021-09-20 at 22 05 25" src="https://user-images.githubuserc

[2021-09-20 19:53] mweber03 opened #20283 "ConfigMapping throws crazy bytecode exception"
### Describe the bug

Given the `@ConfigMapping` example in the Reproducer section, a massive exception is thrown on service startup.

### Expected behavior

Successful startup

### Actual behavior

[code]

### How to Reproduce?

Reproducer: `service3` in https://github.com/mweber03/quarkus-test

1. `./gradlew service3:quarkusBuild`
2. `docker build -t service3 -f modules/service3/Dockerfile .`
3.

[2021-09-20 19:54] mweber03 commented on #20283
/cc @radcortez

[2021-09-20 20:10] habimt commented on #19789
[code]
I ran the jar using headless mode `-Djava.awt.headless=true` since that is used in native image. I edited the original comment to include that info

[2021-09-20 21:22] sberyozkin opened #20286 "Try to have Dev UI for Keycloak use Swagger UI for testing `quarkus.oidc.application-type=web-app`"
### Description

Right Dev UI for Keycloak has a very nice integration with Swagger UI after Philiip's enhancement. It all works very well but the only problem it can only be use to test Quarkus OIDC service applications (`quarkus.oidc.application-type=service` ) where Quarkus does not do the authentication itself (SPA does it) but only accepts `HTTP Authorization Bearer ey...` bearer tokens sent

[2021-09-20 21:26] mmDonuts commented on #19956
Just a heads up that this change changes the following behavior: if setting the group to empty using a trailing space, you need to replace it with an empty quoted string

[2021-09-20 21:37] gastaldi commented on #20264
Sounds like an Hibernate Core bug?

[2021-09-20 21:45] Sanne commented on #8136
@gavinking , might want to comment? ^

[2021-09-20 22:31] Sanne commented on #19660
I can confirm it's not possible to override build-time properties. What @yrodiere outlined above seems to represent the better path forward - it might not be too hard, certainly worth trying that before considering hacking the compiler semantics :)

Hi @psaraf , it seems you're suggesting that upstream changes are hard to achieve. For clarity, both Yoann and me work on Hibernate more often than on

[2021-09-20 22:39] thomasdarimont commented on #20186
Thank you guys for the quick fix :)

[2021-09-20 22:55] Sanne commented on #19740
Let's close this as

1. injecting a SessionFactory was already supported
2. the real ask here was about suprporting interceptors, which was implemented in #20131

Thanks for the feedback @bortolonrodrigo !

[2021-09-20 22:55] #19740 closed

[2021-09-21 01:47] danelowe opened #20289 "io.undertow.websockets.handshake.ExchangeHandshakeRequest - Allow access to remote IP address"
### Description

io.undertow.websockets.handshake.ExchangeHandshakeRequest implements javax.websocket.server.HandshakeRequest, which doesn't allow access to the remote IP address.

However, it seems that [other implementations do allow access to the remote IP address](https://stackoverflow.com/questions/14644629/getting-ip-address-of-the-remote-peer-in-websocket-api-for-java-ee-7).

I am not sure

[2021-09-21 04:24] #20170 closed

[2021-09-21 04:49] vsevel commented on #20267
`CertificateList`, whenever the hypothetic `kubernetes-cert-manager` extension would be added as a dependency.
Registering ourselves in our app this class solves the issue for us, but others will have to do the same thing.
I understand we do not want to register by default all k8s model classes. but how do we make easy for people to use the cert manager feature, without knowing that they have to r

[2021-09-21 04:58] moritz-bruder commented on #20201
Hello @jaikiran,

We are trying to make Quarkus work on JamaicaVM.  However, the code source for builtin classes is not a `URL` with the `file` protocol in our case.  The code in `QuarkusEntryPoint` seems to get the working directory through the code source (the path of the jar in this case).  Am I right in that assumption?  I am afraid it may not be easy to provide an example to you.

Would it be

[2021-09-21 05:20] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1256276975

[2021-09-21 05:23] jw941 commented on #20264
Yea, seems Hibernate doesn't convert HQL to SQL correctly. As far as I am aware, this happens to update only. Not sure if select or others are affected.

[2021-09-21 05:29] danelowe commented on #20289
It would also be good to be able to access the response, e.g.

[code]

[2021-09-21 05:45] cescoffier commented on #19718
The problem mentioned in my previous comment has been fixed. Restassured didn't have the right port.

[2021-09-21 05:46] cescoffier commented on #20170
The PR setting the log level to warning has been merged.
A PR reducing the log level of some messages from SR Reactive Messaging is going to be merged soon.

[2021-09-21 05:48] danelowe commented on #20289
And finally, It would be really useful to be able to generate a value in `modifyHandshake` and inject it into the session.

[2021-09-21 05:51] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1256288674

[2021-09-21 06:01] geoand commented on #20267
I was going to suggest the property.  A new extension just for this is overkill

[2021-09-21 07:13] jmartisk opened #20293 "Correct handling when empty GraphQL requests arrive"
### Describe the bug

When an empty POST request arrives at the `/graphql` endpoint, the client receives a `500 Internal Server Error` and this appears in the log:
[code]

an empty GET request yields `204 No Content`

### Expected behavior

I believe that the correct behavior for both cases is to issue `400 Bad Request`, per the spec: https://github.com/graphql/graphql-over-http/blob/40a50a351a887

[2021-09-21 07:37] #19711 closed

[2021-09-21 07:56] michalszynkiewicz commented on #19849
@mkonzal fyi, I checked classic RESTEasy and it behaves the same as REST Client Reactive

[2021-09-21 08:12] michael-simons opened #20294 "Add paragraph about DevServices for Neo4j to 2.3 release notes."
As kindly requested here https://github.com/quarkusio/quarkus/pull/20269#issuecomment-923519271

See latest commit here: https://github.com/michael-simons/quarkus.wiki.git

I have attached a patch file, don't know what's easier for you people:  [devservices-neo4j-release-notes.patch.txt](https://github.com/quarkusio/quarkus/files/7201530/devservices-neo4j-release-notes.patch.txt)

[2021-09-21 08:32] geoand commented on #20266
A docs PR would indeed be nice

[2021-09-21 08:38] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1256288255

[2021-09-21 08:38] galderz commented on #13856
@patped I'm looking into it :)

[2021-09-21 08:59] ambition-consulting commented on #20100
Hate to be pushing again - but yes, we definitely need this. Not sure if we are the first enterprise application using reactive server+client with quarkus, but this stuff is fundamental!

[2021-09-21 09:01] geoand commented on #20100
We'll likely add this soon.

[2021-09-21 09:14] martinffx commented on #20179
When is 2.3 expected to be released?

[2021-09-21 09:31] SLedunois commented on #19617
This can't works for me because it's the verify maven goal that is throwing the previous error. However, building the image application an running it still throw the error:
[code]

[2021-09-21 09:35] aloubyansky commented on #20179
2.3.0.CR1 release is planned for tomorrow. 2.3.0.Final is at the end of the month (next week).

[2021-09-21 09:43] FroMage commented on #17808
I've changed my mind, I think it's useless now to display the DEV UI URL because I can press `d` on the DEV console and get there.

[2021-09-21 10:03] Ladicek opened #20296 "Interceptors (and decorators?) should "inherit" annotations from stereotypes"
### Description

As far as I understand, interceptor classes (and decorator classes too?) may declare stereotypes (because they are beans), in which case, they should inherit the relevant annotations. That is:

- in case of interceptors:
  - default scope, if it's `@Dependent` (otherwise an error? unless the class explicitly declares `@Dependent`?)
  - the set of interceptor bindings
  - the `@Pri

[2021-09-21 10:10] Sanne commented on #20264
Let's keep in mind that a cross join might be deemed necessary by Hibernate ORM depending on how the relations are modelled.

So, yes this could be an issue in Hibernate, but it could also be an issue with your mapping.

@beikov could you have a look please, and try to classify & prioritize this issue?

[2021-09-21 10:14] beikov commented on #20264
Thanks for the issue report, but this is not a "bug" but a feature request. You can't access non-FK attributes of an association directly in a DML statement as that would require inner join semantics as per the JPA specification. We currently wrongly "allow" this and render a join. The "workaround" is to use an exists subquery predicate:

[code]

[2021-09-21 10:20] Sanne commented on #20264
Ok right let's close this then. @jw941 you're right that we might need to improve the feedback (such as disallowing this explicitly like @beikov suggests), but that belongs on the Hibernate issue tracker, and I should say it's unlikely to be fixed in Hibernate ORM 5. Let's track it for version 6!

Thanks

[2021-09-21 10:20] #20264 closed

[2021-09-21 10:33] galderz commented on #13856
@patped Sent a PR to fix it once and for all (see https://github.com/quarkusio/quarkus/pull/20297), but there's a very easy workaround here: Either do `brew uninstall binutils`, or remove it from the default `PATH` and only bring it into PATH when you really need it.

[2021-09-21 10:40] mkouba commented on #20296
-1 from me. I don't think this feature would bring any benefit to users. It would just complicate the logic and implementation code. You would have to handle situations (which are not clearly defined in the spec) like what if my interceptor declares multiple stereotypes where each declares an interceptor binding with a different value of a binding member (!)...

Interceptors/decorators are beans,

[2021-09-21 10:45] SelimHorri commented on #2052
Hi @fmcejudo,
Is there any demo so to check your library consistency plz !?
Kindest,

[2021-09-21 10:50] fmcejudo commented on #2052
Hi @SelimHorri , sure I did this as example:

https://github.com/currofy/coffee-shop-parent

Check it out and if you have any issue, don't hesitate to contact me

[2021-09-21 10:52] SelimHorri commented on #2052
@fmcejudo, sure, i'll try it later and get back to you soon
Thank you

[2021-09-21 11:13] #20278 closed

[2021-09-21 11:16] Postremus opened #20298 "resteasy-reactive jaxb support"
### Description

I am needing jaxb support in resteasy-reactive (server), since some of my resources return xml.
Currently, I use the whole resteasy-classic stack, combined with resteasy-jaxb for my application.

Jaxb support in the server part of resteasy-reactive is (afaik) the last missing piece for my migration away from resteasy-classic.

### Implementation ideas

Support jaxb in a similar fa

[2021-09-21 11:33] zakkak opened #20300 "Provide a separate annotation for registering classes for serialization"
### Description

As discussed in https://github.com/quarkusio/quarkus/pull/20167#issuecomment-920629104 the use of `@RegisterForReflection(targets = String.class, serialization = true)` is a bit confusing since it doesn't make clear whether the corresponding class should also be registered for reflection in general (right now it does not).

At the moment it's also not clear how to register a class

[2021-09-21 11:36] radcortez commented on #20275
I'm not totally sure if we should add this. Can you please elaborate more on a concrete use case? Thanks!

[2021-09-21 11:38] jamesnetherton opened #20301 "Live reload instrumentation steps executed when instrumentation is disabled"
### Describe the bug

Raised off the back of this Zulip thread:

https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Live.20reload.20with.20instrumentation.20disabled

When `quarkus.live-reload.instrumentation = false`, it seems that intrumentation logic still runs.

### Expected behavior

Instrumentation steps are not run on live reload if it's disabled.

### Actual behavior

Instrume

[2021-09-21 12:02] #20296 closed

[2021-09-21 12:13] rsvoboda opened #20302 "quarkus-resteasy-reactive and undertow can't coexist in one application"
### Describe the bug

quarkus-resteasy-reactive and undertow can't coexist in one application

JAX-RS endpoint (`/hello`) is not available, 404 got returned, when checked Dev UI the enpoind was listed.

[code]

### Expected behavior

http://localhost:8080/hello serves content and returns 200.

### Actual behavior

404 error

### How to Reproduce?

rm -rf app-generated-skeleton && mvn io.quarkus:qu

[2021-09-21 12:22] radcortez commented on #20281
Hi @mweber03,

A `@ConfigMapping` or (Quarkus old `@ConfigProperties` and MP `@ConfigProperties`) are not meant to be used wrapped in an Optional. They are already a "container" type so any `Optional` configuration can be mapped inside the mapping / properties classes.

Can you please elaborate on why do you need to wrap the mapping in an `Optional`?

[2021-09-21 12:26] rsvoboda commented on #20302
close of the issue was miss-click

[2021-09-21 12:52] bortolonrodrigo commented on #19740
Hello all,

Thank you very much guys!

@Sanne , do you have a forecast when a 2.3 release will be released with this new feature?

Best regards,
Rodrigo Bortolon

[2021-09-21 12:57] essobedo commented on #20275
In my use case I have several profiles that we will call `a` and `b`,  the code of both profiles is shared as they have a lot in common, so they also share some configuration classes. We rely on build time conditions to indicate Quarkus which Beans/JAX-RS Components/Configuration classes/properties... to enable or not according to the profile used at build time. Consequently, we have some specific

[2021-09-21 12:59] #20293 closed

[2021-09-21 13:24] afalhambra opened #20303 "Logging doesn't work on integration test (@QuarkusIntegrationTest)"
### Describe the bug

When running integration tests in Quarkus, ie. test classes annotated with @QuarkusIntegrationTest, logging doesn't work for any of the classes used in both the test and the quarkus app itself. Nothing is displayed in the logs.

For maven-failsafe-plugin plugin, I applied the same configuration I followed for the @QuarkusTest annotated classes which work fine, but in this cas

[2021-09-21 13:52] cemnura commented on #20144
I will take a look @andrewlunin. Thanks for the reproducer seams interesting.

[2021-09-21 13:56] Sanne commented on #19740
We should have one in 2 days.
 - https://github.com/quarkusio/quarkus/wiki/Release-Planning

[2021-09-21 14:06] FroMage commented on #20100
Can't we return a `Uni<RestResponse<>>` ATM? The docs say we can from filters and exception mappers, so I assume we can from endpoints too.

[2021-09-21 14:11] mweber03 commented on #20281
@radcortez Basically my configuration may or may not contain `app.config`, which is why I was trying to wrap it in an `Optional`.

[2021-09-21 14:15] bortolonrodrigo commented on #19740
@Sanne, thank you very much!

Regards,
RB

[2021-09-21 14:42] rquinio1A commented on #18135
We faced the same issue with hyphens in channel names.

Discovering channel names at runtime (https://github.com/smallrye/smallrye-reactive-messaging/blob/dcbf3fc61ee05cec4ee39799e404ebf243d454fa/smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/impl/ConfiguredChannelFactory.java#L91-L109) seems wrong in a Quarkus context:

- Channel names should be determined at bu

[2021-09-21 14:49] mweber03 opened #20305 "ConfigMapping build error for List of Maps"
### Describe the bug

I'm trying to get a `Map` of each set of configurations in a list, but there is an error on build. See the example in the reproducer section.

If there is a better way to do this let me know.

### Expected behavior

Successful build.

### Actual behavior

[code]

### How to Reproduce?

Config:

[code]

Code:
[code]

### Output of `uname -a` or `ver`

Ubuntu 20.04

### Output

[2021-09-21 14:53] amnsinha opened #20306 "@ModelAttribute is not there in quarkus-spring-web 2.0.2.Final"
### Describe the bug

@Modelattribute annotation is not present in quarkus-spring-web 2.0.2.Final

Not able to upload mulitpart file through a model using form data as in the post request.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

-

### GraalVM ve

[2021-09-21 16:03] fastluca opened #20310 "Native image start error: Hibernate Search application startup failure"
### Describe the bug

I'm building a native image which depends on Hibernate Search quarkus extension. At the image startup, it fails with the following error. I'm using quarkus version 2.2.3.Final.
`
__  ____  __  _____   ___  __ ____  ______
 --/ __ \/ / / / _ | / _ \/ //_/ / / / __/
 -/ /_/ / /_/ / __ |/ , _/ ,< / /_/ /\ \
--\___\_\____/_/ |_/_/|_/_/|_|\____/___/
2021-09-21 15:55:31,631 INFO  [

[2021-09-21 16:14] radcortez commented on #20283
This is an SR Config issue. This will fix it: https://github.com/smallrye/smallrye-config/pull/643.

[2021-09-21 16:22] radcortez commented on #20275
If I remember correctly, `@IfBuildProfile` does not include the bean during runtime, so it is effectively removed. If that is the case, then we can pick my other PR here https://github.com/quarkusio/quarkus/pull/19965/ and apply the same logic. If a bean that you use is unused and injects a mapping / properties, that one is also removed. In this way, you don't need additional annotations and it is

[2021-09-21 16:25] radcortez commented on #20281
Yes, you can do something like:

[code]

[2021-09-21 16:27] #20281 closed

[2021-09-21 16:28] geoand commented on #20100
https://github.com/quarkusio/quarkus/pull/20311 is what I had in mind

[2021-09-21 16:41] radcortez commented on #20305
Yes, we don't support a combination of `List<Map<?, ?>`. I can probably add it, but I don't see much need, because it means you have an indexed followed by a name. If that is the case, why don't flatten this in all indexes or all key names? I guess is because you have dynamic properties and you don't know the key names?

[2021-09-21 17:11] mswatosh commented on #20266
I reached out to one of the Db2 architects to hopefully get clarification on the new port numbers (particularly why the docker image uses 25010 when the documentation says 25000).  Once I hear back I can create a PR to update the Quarkus doc.

[2021-09-21 17:23] sberyozkin opened #20312 "Support Kerberos Authentication"
### Description

Quarkus HTTP endpoints have to be able to accept Kerberos service tickets/Spnego tokens sent as `HTTP Negotiate` authentication scheme values

### Implementation ideas

_No response_

[2021-09-21 17:59] #20310 closed

[2021-09-21 18:00] fastluca commented on #20310
Solved applying the dependency management suggested in this link: https://quarkus.io/guides/logging#logging-adapters

[2021-09-21 21:48] famod opened #20315 "Flaky MultiModuleIncludedBuildTest"
### Description

This test is failing a lot recently, e.g.:
- https://github.com/quarkusio/quarkus/pull/20309#issuecomment-924371761
- https://github.com/quarkusio/quarkus/pull/20291#issuecomment-923685759

Usually you can then find something like the following in the log:
[code]
and before that many errors liek the following:
[code]

### Implementation ideas

_No response_