[2022-11-10 21:20] edeandrea commented on #29191
Or maybe is my understanding of how `fireAsync` is supposed to work? Should the observer method still return `void`? If so, how would that work in the reactive world, where maybe the observer method is interacting with something else reactive (i.e. Hibernate reactive).

_Something_  needs to be able to subscribe to whatever the observer does...

[2022-11-10 21:55] pedroh-pereira commented on #14789
I also have more ideas in mind.
Maybe could exists a way to insert a collection prefix dinamically, because some companies implement multi-tenancy in this way.
For example:
ClientA and ClientB. They will use the same database and the collections could be something like: ClientA.users and ClientB.users

Another approach that I wasn't able to reproduce is mongo client name dynamic selection, we need

[2022-11-10 22:00] mswatosh commented on #28913
Using `integratedSecurity=true` and `authenticationScheme=JavaKerberos` should be able to pick up the AD credential off the system (it uses the default ccache on the system to look for credentials). Are you getting an error message when running in JVM mode with those properties and the SQLServer JDBC driver?

[2022-11-10 22:09] evanchooly commented on #14789
IMO, multitenancy should absolutely not be a concern for quarkus/panache.  These are ODM concerns and we (well, I ...) really don't want panache to slowly accrete ODM functions when there are functional ODMs out there already.

[2022-11-10 23:06] pedroh-pereira commented on #14789
@evanchooly I understand your point. So how about do we have at least the capability to dynamically select the database?
I think it’ll be sufficient for the most common cases as mine, for example me and my team are developing some POCs to replace the Spring and win all the amazing features and benefits from Quarkus, currently we are providing a multi-tenancy product, certainly we can provide it us

[2022-11-11 05:47] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3442639143

[2022-11-11 05:53] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3442637214

[2022-11-11 06:38] geoand commented on #29188
Weird... I don't see why disabling Ryuk would affect this

[2022-11-11 06:51] Sgitario commented on #21440
Receiving files using `Multi<Byte>` is still not supported, so we can't close this issue yet.

[2022-11-11 06:54] geoand commented on #21440
Okay, thanks

[2022-11-11 07:03] mkouba commented on #29191
Yes, CDI observer methods must always return `void`.

The returned `CompletionStage` is completed when _all_ async observer methods are notified. The payload is the event object, i.e. `String` in your case.

CDI async observers were not designed to participate in a reactive stream. The logic used inside observer method is expected to be synchronous/blocking.

You can only subscribe to the result o

[2022-11-11 07:04] rhotz-bossard opened #29196 "Add "hibernate.query.in_clause_parameter_padding" as a supported configuration parameter"
### Description

We're using `quarkus.hibernate-orm.unsupported-properties."hibernate.query.in_clause_parameter_padding"=true` to improve the statement caching for heavily used IN clause queries.

I propose to add `hibernate.query.in_clause_parameter_padding` as a supported Quarkus parameter.

Thanks!

### Implementation ideas

_No response_

[2022-11-11 07:09] geoand commented on #27725
I am going to close this as there is no good way to address the issue

[2022-11-11 07:10] #27725 closed

[2022-11-11 07:10] geoand commented on #16208
@sberyozkin what should be done with this issue?

[2022-11-11 07:11] geoand commented on #26818
Can you show what that looks like @deathwaiting?

[2022-11-11 07:38] geoand commented on #29191
@mkouba do we perhaps need to improve the documentation?

[2022-11-11 07:46] geoand commented on #29187
Let me know if you need any help on this

[2022-11-11 07:46] #29089 closed

[2022-11-11 07:49] mkouba commented on #29191
Well, our documentation does not cover the details of _standard_ CDI functionalities. We could try to add something somewhere. But where is the border line, i.e. which features to mention and which not...

[2022-11-11 07:51] geoand commented on #29191
My point on this is that it's mixing standard and non-standard behavior, so it's really hard for users to know what exactly to expect. I think a few examples in the documentation would go a long way

[2022-11-11 08:00] mkouba commented on #29191
Well, most (if not all) non-standard features are [described in the docs](https://quarkus.io/guides/cdi-reference#nonstandard_features) and everything else should be _standard_. And this behaves as defined by the spec. It's the user creativity that mixes apples and oranges ;-). But I get your point.

We could add something like "CDI in the reactive world". But it would be basically just an incompl

[2022-11-11 08:02] Ladicek commented on #29191
Even though the CDI specification doesn't seem to require observer methods to declare a return type of `void`, I believe we should just treat non-`void`-returning observer methods as a definition error, frankly.

[2022-11-11 08:03] geoand commented on #29191
Right, I see your point @mkouba.
Perhaps we should just take the pragmatic approach off adding examples of things that we **know** are confusing people.

[2022-11-11 08:03] geoand commented on #29191
Yeah, that's a good idea - making things explicit for users is usually very helpful

[2022-11-11 08:12] Reamer commented on #4227
@OOTS
Have you figured out how to enable this feature in Quarkus?

[2022-11-11 08:13] mkouba commented on #29191
Yes, that would make sense. The truth is that the CDI spec _implicitly_ mandates to ignore the return type but it would not hurt to fail the build.

[2022-11-11 08:15] #29095 closed

[2022-11-11 08:29] computerlove opened #29198 "IllegalProductException: Normal scoped producer method may not return null"
### Describe the bug

When upgrading to Quarkus 2.14.0 one of our applications fails to complete requests for non existing resources, in this case /favicon.ico:
[code]

### Expected behavior

Response is 404.

### Actual behavior

Response is 500.

### How to Reproduce?

Haven't managed to create a reproducer. A simple app with undertow, micrometer, and quarkus-resteasy-reactive-jackson did not re

[2022-11-11 08:40] sparnord1337 opened #29199 "Vertx context doesn't get propagated with microprofile faultolerance"
### Describe the bug

When using the microprofile faultolerance `@Retry` annotation, the Vert.x context doesn't get propagated to the retries. From a quick debugging session it looks to be because the retry annotation uses the microprofile executor system which does not included context propagation for Vert.x

The problem can be worked around with https://github.com/quarkusio/quarkus/issues/25818#

[2022-11-11 08:44] manovotn commented on #16626
@geoand I assume this issue is still revelant for RR to this day, correct?

[2022-11-11 08:45] geoand commented on #29199
Have you tried Quarkus `2.13` or Quarkus `2.14`?

[2022-11-11 08:46] geoand commented on #16626
Let's close this as this has never actually been needed.

[2022-11-11 08:46] #16626 closed

[2022-11-11 08:47] sparnord1337 commented on #29199
I've checked 2.10 and 2.13.3.Final. I'll give 2.14 a shot.

[2022-11-11 08:48] geoand commented on #29198
Any chance you can put together a sample application that has this problem in Quarkus `2.14`?

[2022-11-11 08:48] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3442639143

[2022-11-11 08:50] computerlove commented on #29198
Will make another attempt later :)

[2022-11-11 08:50] sparnord1337 commented on #29199
It's still broken in 2.14.Final.

I meant to say that it I have bisected the problem to have started in 2.10.Final and working file in 2.9.3.Final but github made my \> into a quote.

To be completely clear. The problem seems present in every version after 2.9.3.Final.

[2022-11-11 08:51] geoand commented on #29199
Thanks for checking

[2022-11-11 08:54] gaetancollaud commented on #29124
For the lazy that don't want to lookup the workaround in https://github.com/oracle/graal/issues/5303

*src/main/resources/application.yaml*
[code]

[2022-11-11 08:56] mkouba commented on #19280
I was able to reproduce the issue on 2.14.0 with `mvn quarkus:dev` and `curl -X POST http://localhost:8080/reproducer/import -F 'flag=true' -F 'myMapping={"foo":"bar"}'` (I'm not sure if it's 100% correct though).

By the way, this [hack](https://github.com/MarcusBiel/quarkus-multipart-reproducer/blob/main/src/main/java/org/acme/rest/json/ReproducerResource.java#L29-L33) is not necessary. You shou

[2022-11-11 09:08] JFeoks commented on #29133
@DavideD, thank you very much for your comment! So it became really clearer, because this thing is not obvious at first glance.

[2022-11-11 09:13] manovotn commented on #19375
I tried this and I am no longer seeing the error.
@artempl feel free to reopen if you disagree.

[2022-11-11 09:13] #19375 closed

[2022-11-11 09:14] DavideD commented on #29133
I'm closing this issue, but feel free to ask more question or reopen it if something else comes up related to it.

[2022-11-11 09:14] #29133 closed

[2022-11-11 09:21] JFeoks commented on #29133
@DavideD, thanks!

[2022-11-11 09:25] Ladicek commented on #29199
Your instructions for reproducing the issue are very vague. SmallRye Fault Tolerance includes support for retrying methods on a Vert.x context, if the original method call also happened on a Vert.x context. Could you please upload a complete reproducer? Thanks!

[2022-11-11 09:29] loicmathieu commented on #14789
We want MongoDB with Panache to keep it simple, but if we can have some kind (not all kind) of multi-tenancy with low cost it's OK for me. Your proposed PR seems to be simple enhought.
But maybe the multi-tenancy should be at MongoDB client side directly (like multi-tenancy is done at Hibernate ORM side not Hibernate with Panache side) as it would also be usable for people using MongoDB without Pa

[2022-11-11 10:19] sparnord1337 commented on #29199
It turns out the `@Asynchronous` annotation was also important. I've created the [repro](https://github.com/sparnord1337/quarkus-verx-cp-repro) you requested. I'll also be adding the link to the top post to make it easier to find.

In the repro you can see that the second printf writes `Running null` since the MDC context has been lost.

[2022-11-11 10:52] mkouba commented on #16077
I'm going to close this one. We didn't have any similar complaint and AFAIK neither EL nor SpringEL support this out of the box.

[2022-11-11 10:52] #16077 closed

[2022-11-11 11:19] ozangunalp commented on #28848
@anchou-bockhorn thanks for the reproducer, and sorry to keep you waiting. It was hard for me to pinpoint the reason. There seems to be a bug in the apicurio avro serde while registering the schema with references (IIUC https://github.com/Apicurio/apicurio-registry/issues/2676 is the one affecting your case).

You can bump your quarkus version to 2.14.0.Final, which depends on the version 2.3.1.Fi

[2022-11-11 11:32] tugcesahin commented on #29188
With upgrading the quarkus version from 2.13.3.Final to 2.13.4.Final and 2.14.0.Final, same error is happening.

Even if devservices datasource configurations exist, we get following error:

`java.lang.RuntimeException: java.lang.RuntimeException: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
	[error]: Build step io.quarkus.datasource.deployment.devservices.DevServic

[2022-11-11 11:35] tugcesahin commented on #29188
With upgrading the quarkus version from 2.13.3.Final to 2.13.4.Final and 2.14.0.Final, same error is happening.

Even if devservices datasource configurations exist, we get following error:

[code]

I tried with enabling devservices on test profile and trigger the build without running tests, following error is happening:

[code]

However, running the build second time before spot fleet instance i

[2022-11-11 11:44] mmusgrov commented on #29157
In the JTA specification the transaction can only be shared between two threads if is suspended on one thread and resumed on the other.

Some implementatations of MicroProfile Context Propagation do support sharing the context [1] and behind the seen the narayana implementation does the suspend and resume management. But to use this feature you would need use the MP Context Propagation APIs.

[1]

[2022-11-11 11:50] jorsol commented on #29188
Found and fix the issue: https://github.com/quarkusio/quarkus/pull/29201

Basically, it was failing with a NoSuchMethodException when calling `configurationClass.getMethod("instance")`, the correct method is `getInstance`.

[2022-11-11 12:01] mmusgrov commented on #29157
So the MP CP providers are present in the JTA quarkus extension but I don't know where the tests would be - is their a test suite that checks quarkus for MP compliance?

[2022-11-11 12:02] manovotn commented on #29157
@mmusgrov MP TCKs are all here - https://github.com/quarkusio/quarkus/tree/main/tcks/microprofile-context-propagation
I have no idea how much of the JTA stuff is there because IIRC, some of those tests were optional (since,as stated here, parallel transaction may or may nor be supported, depending on the impl)

[2022-11-11 12:03] mmusgrov commented on #29157
The optionality, if that's a real word, is in the implementation of the spec - the smallrye-jta one implements the option.

[2022-11-11 12:13] mmusgrov commented on #29157
@manovotn it's been a while since I looked (the first smallrye implementation of the spec definitely tested parallel use of JTA transactions using the narayana based implementation) so I am checking now to verify that my statement is still accurate ...

[2022-11-11 12:26] edeandrea commented on #29191
Lots of good info on this thread. Thank you all for your comments.

After I created it I kinda felt like the issue was mine in that I wasn't understanding how it should work.

Based on all these great comments my understanding is that observer methods shouldn't be used with reactive and that we should find a different solution for what we're trying to do?

Maybe use the Vert.x `EventBus`?

In my c

[2022-11-11 12:34] edeandrea commented on #29191
This is key info! The `CompletionStage` completes simply when all observers have been notified. Has nothing to do with _if_ they've completed.

This is also key info and would be great if it were documented somewhere. Maybe it is and I was just lazy and didn't go looking for it :)

[2022-11-11 12:41] edeandrea commented on #29191
@ingmarfjolla lots of good info here...

[2022-11-11 12:44] edeandrea commented on #28376
Is there anyone who can take a look at this?

When I'm demoing Quarkus and I have some changes "pre-baked" as a stashed commit, I have to stop the Quarkus app, unstash my changes, then restart my Quarkus app.

I've had people ask me "how come you have to restart dev mode & continuous testing? I though live coding meant you never had to restart it?"

If it helps I could probably put together a more

[2022-11-11 13:21] mkouba commented on #29191
Yes, you can try the [`EventBus` and `@ConsumeEvent`](https://quarkus.io/guides/vertx-reference#eventbus). But I wonder if you  need events at all. What does your use case look like?

That could be difficult. It's part of the CDI API that is not released very often...

I don't think it's documented in quarkus. And the reason is that CDI itself is very _mature_ (2009 ;-) and was not designed with r

[2022-11-11 13:29] edeandrea commented on #29191
The use case actually comes from the Debezium outbox extension. @Ingmarfjolla has been working on trying to contribute a "reactive" version.

The way the current blocking implementation works is the consumer creates the Outbox event, and using the `Event`, does a `fire` (https://github.com/debezium/debezium/blob/main/debezium-quarkus-outbox/integration-tests/src/main/java/io/debezium/outbox/quarku

[2022-11-11 13:33] sberyozkin commented on #29187
Thanks, I'll try to have a look next week

[2022-11-11 13:34] computerlove commented on #29198
I have made another attempt, without any luck.
I have attached a image of the generated code throwing the excpetion and the state when throwing. ![Breakpoint](https://user-images.githubusercontent.com/769579/201350265-d1df4444-1394-43d7-aec1-2565e7d08844.png)

The project in question did not actually use undertow, so removing the dependency made the problem go away.
Because of this I cannot justif

[2022-11-11 13:45] mkouba commented on #29191
So it's going to use hibernate-reactive, right? CC @DavideD

Plus our reactive team... CC @cescoffier @jponge

[2022-11-11 13:47] edeandrea commented on #29191
Yes, using `Mutiny.SessionFactory`

@ingmarfjolla has a prototype he's been working on (that I've been helping him with): https://github.com/ingmarfjolla/debeziumreactive/tree/quarkus-outbox-reactive-refactor/debezium-quarkus-outbox-reactive

[2022-11-11 14:05] rsvoboda opened #29206 "spring-di - WARN Failed to index org.osgi.annotation.bundle.Requirements"
### Describe the bug

spring-di - WARN Failed to index org.osgi.annotation.bundle.Requirements

This wasn't happening in previous Quarkus releases

[code]

### Expected behavior

No warning

### Actual behavior

`2022-11-11 14:57:43,349 WARN  [io.qua.arc.pro.BeanArchives] (build-13) Failed to index org.osgi.annotation.bundle.Requirements: Class does not exist in ClassLoader QuarkusClassLoader:Depl

[2022-11-11 14:29] sberyozkin commented on #27942
Sorry for a delay, I missed it all, I'm just not sure it is a generic kind of feature, we have a dedicate multi-tenancy support in `oidc`, `hibernate`. This one should probably be called `quarkus-multitenancy-web`, as far as I understand it is really about facilitating the web dev in the multi-tenant environment.

Aaron mentions OIDC multi-tenant compatibility, so it means it is also OIDC centric.

[2022-11-11 14:31] sberyozkin commented on #24790
Hi @geoand I'm just checking issues and have found your comment, sorry. I think so, Michal, @michalvavrik, you've fixed it, right ?

[2022-11-11 14:32] geoand commented on #24790
👌

[2022-11-11 14:33] sberyozkin commented on #23547
@michalvavrik Looks like it is resolved as well ?

[2022-11-11 14:36] sberyozkin commented on #17591
@michalvavrik Have a look at this one if it can be of interest please

[2022-11-11 14:38] ingmarfjolla commented on #29191
we are going to try the https://quarkus.io/guides/vertx-reference#eventbus

[2022-11-11 14:42] sberyozkin commented on #16728
@michalvavrik This one would have a very good impact, so among all the issues you may want to choose from, that would be most interesting IMHO.
It should be done in phases IMHO, first we do it nice and easy to set anything related to the built-in authentication: basic, form, mtls, proactive/on/off, path-based HTTP policies, etc. It is a large enough phase though.
Then I reckon we should add `oidc`

[2022-11-11 15:12] rmarting opened #29208 "javax.validation.NoProviderFoundException error in a native executable"
### Describe the bug

We are developing a Quarkus application to be used in a Serverless design (coordinated with Knative Brokers and Triggers) exposing a REST API with validations that it is working successfully in JVM mode, however it is not working with native mode.

The REST API exposes endpoints with DTO objects, integrated with validations, however, when we tested as native we are getting th

[2022-11-11 15:25] loicmathieu opened #29209 "Kubernetes resources generation log not on par with what is generated"
### Describe the bug

When you generate a container image and Kubernetes resources but not push the image to a remote Docker registry, the following logs is shown

[code]

However, the generated resouce have `imagePullPolicy: Always`.

### Expected behavior

Either the log is updated either the generated resource is updated to match each other.

### Actual behavior

_No response_

### How to Repro

[2022-11-11 15:25] Manfred73 commented on #29160
Sample project added: https://github.com/Manfred73/file-repository-rest-service

[2022-11-11 15:33] famod commented on #29160
FWIW, in one of my projects I have lombok and quarkus-jacoco and lombok.config is used just fine (Quarkus 2.13.3 and 2.14.0).

[2022-11-11 15:50] michalvavrik commented on #23547
yeah @sberyozkin, Martin speaks about resource method and that's resolved.

There is related problem with bean methods annotated with RBAC running on IO thread that returns something in a synchronous manner (e.g. you have non-blocking resource method that call service method like String getMe() annotated with @RolesAllowed), but that's really difficult to fix if authentication didn't happen furthe

[2022-11-11 16:09] StephenOTT commented on #23757
Is there a final solution for this?  1207 is closed in hibernate-reactive.  But as of latest releases of Quarkus, you still have to manually fetch the relationships.  This further breaks when you return Entities in rest responses where the fetching does not occur and you get the error: Fetch the collection using 'Mutiny.fetch', 'Stage.fetch', or 'fetch join' in HQL

[2022-11-11 16:20] michalvavrik commented on #17591
Will do, thank you.

[2022-11-11 16:22] famod commented on #29206
I'm also seeing this during image build (quarkus-maven-plugin -> jib):
[code]
Mapstruct is a `provided`  dependency.

[2022-11-11 16:23] michalvavrik commented on #16728
Sure, thank you for suggestion.

[2022-11-11 16:26] Manfred73 commented on #29160
Do you have lombok.config in the roof of your project or under the src folder? And your sonar is not complaining about unused private fields in your data/dto classes where you use Lombok?

[2022-11-11 16:48] famod commented on #29160
Root of the project.

I'm not using sonar, we are using a Jenkins plugin instead.
It seems others have had your issue before: https://stackoverflow.com/questions/58319017/sonarqube-remove-this-unused-private-field-code-smell-using-lombok-data

To me it seems it's more of a sonar-specific issue.

No.

[2022-11-11 17:04] DCCSKrezovic commented on #29162
@sberyozkin I have applied first two patches in my own branch to build a shaded version and the redirect problem is gone. Consider this a first feedback for your great work :)

[2022-11-11 17:06] DCCSKrezovic commented on #29144
@sberyozkin I have a working prototype that I have tested in production-like scenarios. Should I submit a PR, or have you already done something?

[2022-11-11 17:09] DavideD commented on #23757
I don't know why this issue is still open, I will have a second look at it later.

https://github.com/hibernate/hibernate-reactive/issues/1207 was a performance issue, it doesn't affect the LazyInitializationException.

With Hibernate Reactive, there is no alternative to eagerly load associations or fetching them when needed.

Briefly, the problem is that associations are declared as non async typ

[2022-11-11 18:04] sberyozkin commented on #29144
@DCCSKrezovic I've been working on it since yesterday, just about to open a PR; glad you are willing to help :-)

[2022-11-11 18:08] DavideD commented on #29189
The problem is that the default equals/hashcode from the entities includes the associations.
So, when you run the first select query, if they are called before you've fetched the association, it will cause the error.

You need to change your entities to something like:
[code]

Normally, you shouldn't include the identifier, but there are no other fields this simple example.
The Hibernate ORM docum

[2022-11-11 18:09] #29189 closed

[2022-11-11 18:31] DavideD commented on #23757
I'm going to close this issue:
the only way to avoid the LazyInitializationException is to make sure that the required association has been fetched, one way or another. There's no alternative at the moment.

Note that Hibernate Reactive has several different ways to load an association eagerly and which one is better depends on the use case. Loading an entity with  a join fetch query or using an e

[2022-11-11 18:31] #23757 closed

[2022-11-11 18:32] StephenOTT commented on #23757
I feels like the current default config of reactive handling in quarkus for lazy joins is problematic for default serialization: When you do something with panache such as: `Uni<SomeItem> myItem = repository.findById(someId).....` and then return SomeItem, if SomeItem has a lazy join then it fails.  It seems like lazy joins should not be auto-serialized ?

[2022-11-11 18:33] StephenOTT commented on #23757
@DavideD see above

[2022-11-11 18:35] DavideD commented on #23757
Shouldn't one serialize the object only after the association has been fetched? Or, as you said, you can ignore the association for serialization.

What's the use case you have in mind?

[2022-11-11 18:38] DavideD commented on #23757
Basically, one solution would be to have:
[code]
but you can also use a projection:
[code]

But yeah, before seirialization you need to make sure that all the data you need has been fetched.
I'm not sure if this is a Hibernate Reactive specific problem.

[2022-11-11 18:39] StephenOTT commented on #23757
If you create a simple entity with a lazy join and return it in a rest controller it fails by default.  If the join was not fetched IMO it should not return in the serialization (equiv of doing JsonIgnore).  It leads to having to add more complex configs such as JsonViews and other "tricks" to prevent the error.

having to explicitly add JSON ignore then becomes problematic because what happens wh

[2022-11-11 18:45] StephenOTT commented on #23757
also given that Joins are lazy by default it becomes additional configs that need to be "always added" or else you get the LazyInitializationException

[2022-11-11 18:49] DavideD commented on #23757
I mean, if you know that you always need it, you can map it as EAGER.

I suppose we could assume that if the association is an uninitialize proxy, than it doesn't need to be serialized (not sure if it's doable though).
But I prefer developers to be mindful and explicit about what they want. If you see a LazyInitializationException you know that you have to make a choice:
* load the association bef

[2022-11-11 18:56] rsvoboda opened #29215 "Kafka complaining about common unknown properties, regression in 2.14"
### Describe the bug

Kafka complaining about common unknown properties, it's a regression, we had fix https://github.com/quarkusio/quarkus/pull/22504 since 2.6

Seems the message slightly changed in the latest Kafka client version.

[code]

### Expected behavior

Warning is deffered

### Actual behavior

Warning about `wildfly.sasl.relax-compliance`

### How to Reproduce?

Run app with kafka clie

[2022-11-11 18:56] rsvoboda commented on #29215
I will prepare the PR

[2022-11-11 18:58] DavideD commented on #23757
I also think it's reasonable to have a separate class to map a JSON response if the entity doesn't fit your use case. I expect this to be the most common scenario actually.

[2022-11-11 19:01] StephenOTT commented on #23757
I agree those are the scenarios that complex impl end up creating as they need all of the various projections.  But by default and from the examples: https://quarkus.io/guides/hibernate-orm-panache#writing-a-jax-rs-resource, the moment you use Reactive and add a **default** join, the rest request fails. :)

[2022-11-11 19:05] DnEgorWeb commented on #29189
Thank you for detailed explanation, Davide.

[2022-11-11 19:08] DavideD commented on #23757
¯\_(ツ)_/¯
I think all the alternatives I've heard so far would be worst :)

You are basically asking the library to pick for you:
* we can load the lazy association: it might lead to performance issue or stackoverflows in case of bidirectional associations (if doable at all)
* we don't load the association: you might expect the association to be loaded (hard to figure out what's going on, if you a

[2022-11-11 19:11] DavideD commented on #23757
We should improve the guide and this example if it's not included already, though

[2022-11-11 19:19] DavideD opened #29217 "Add lazy association example in the Hibernate with Panache guides"
### Description

The guides on Hibernate with Panache don't have an example on how to load lazy associations.
This might be problematic for people trying it for the first time because the will have a LazyInitializationException when returning the JSON response with Resteasy.

We should show some examples on how to do joins and how to load collections eagerly when needed.
This is more important for

[2022-11-11 19:20] DavideD commented on #23757
Thanks for the feedback.
I've created this issue to update the guides: https://github.com/quarkusio/quarkus/issues/29217

[2022-11-11 20:14] rkorver commented on #9123
I have a quarkus (2.13.1.Final)  application with quartz for scheduled jobs (over multiple pods). I'm using a postgres as a service DB from Azure and I'm regularly, but randomly getting `Acquisition timeouts`. I've activated db metrics and I seem to have plenty of available connections, nor are all my connections 'active'.

I have JSON/REST endpoinst where we query something from the database (and

[2022-11-11 20:27] kostacasa commented on #9123
Not sure if this is helpful/useful but all the services we migrated to the reactive driver stopped experiencing these issues. Not discounting the possibility that same issues are occurring but being silently swallowed, but if anything it seems to me like the Vert.x driver has a better "dead connection" detection/restarting approach than the Agroal DS.

[2022-11-11 20:31] michalvavrik commented on #24790
@sberyozkin nope, I only fixed it for RESTEasy Reactive, but I just got familiar with how RESTEasy Classic process requests and there is a way to fix it too. Will do, thx for a hint

[2022-11-11 20:39] Manfred73 commented on #29160
Maybe, but i still don't understand why it works for a spring boot configuration where I don't get these issues reported in sonar. The difference is that I have configured the jacoco plugin which is not the case in my quarkus project where I only use the quarkus-jacoco dependency, which leads me to believe this is somehow working differently.

[2022-11-11 21:25] AhmetTurner opened #29221 "Quarkus upgrade from 2.11.3 to 2.14.0 fails due to resteasy reactive (kotlin)"
### Describe the bug

Im using Kotlin + Quarkus 2.11.3 and wanted to migrate to the platform version 2.14.0.
Before the migration everything worked except for the **"`hot reload`"** _dev feature_ of Quarkus.
I hoped to fix it magically with the upgrade :smile:

Dependencies that I changed are:

Updated:
* **quarkus-resteasy-reactive-kotlin** to **quarkus-resteasy-reactive** (Looked like the extens

[2022-11-11 21:36] OOTS commented on #4227
@Reamer
No, but I haven't even tried seriously so far (the project that I needed this for was put on hold).

[2022-11-11 22:09] vincejv opened #29222 "Native Image build fails with Jackson >2.14.0"
### Describe the bug

Quarkus fails to build native image if jackson is upgraded to `2.14.0`, affects both Quarkus `2.13.x` and `2.14.x` (as per my testing), not sure if GraalVM related or Quarkus issue, but see the logs and reproducer below

Sample quarkus github project, it should only contain files/modifications from code.quarkus.io + Jackson 2.14.0 + CI stuff https://github.com/vincejv/playgro

[2022-11-11 22:14] StephenOTT commented on #15433
Any movement on this?

[2022-11-11 22:56] vincejv commented on #29222
Closing the issue, turns out the correct way of upgrading jackson involves modifying the version defined by `jackson-bom.version` in `properties` by adding this in in pom file like so

[code]

[2022-11-11 22:56] #29222 closed

[2022-11-12 06:03] geoand commented on #29221
This is interesting...

Do you have a sample application that I could look at that exhibits the aforementioned behavior?

[2022-11-12 06:23] deathwaiting commented on #26818
@geoand

`
    @Test
    @Sql(executionPhase = BEFORE_TEST_METHOD, scripts ="sql/test_data.sql")
    @Sql(executionPhase = AFTER_TEST_METHOD, scripts ="sql/clear_database.sql")
    public void getEventsList(){
        //test logic
    }`

    springs annotation targets both classes and methods, in the case of annotating a test class, it will run for each test method inside it

[2022-11-12 06:23] geoand commented on #26818
Great, thanks

[2022-11-12 07:31] piyush-1234 commented on #28502
@geoand & @OleKsimov, I m working on this parallel. any suggestion?

[2022-11-12 07:33] geoand commented on #29208
This is a Hibernate Validator issue. I have a draft PR open, but it needs more work

[2022-11-12 12:39] cescoffier commented on #21443
Yhe idea as far as I understand is to annotate a REST client method with the `ClientQueryParam` to add the specified params as query parameters to the call.  We have the same kind of feature for headers, but not for query parameters.

[2022-11-12 12:41] cescoffier commented on #29141
Yes, how STMP works prevents its initial usage (and later, as soon as the connection needs to be established) from a n ordered blocking context.

[2022-11-12 12:43] cescoffier commented on #17839
Would be great to have an update reproducer, as I never encountered the issue.

[2022-11-12 12:47] cescoffier commented on #21444
We do something similar for gRPC, I was thinking we could "copy" the idea.

[2022-11-12 13:20] agoncal opened #29225 "Jakarta - EE 10 - RestAssured not supporting JSON-B 3.0"
### Describe the bug

With Quarkus 3.0.0.Alpha1, when we use the `ObjectMapperType.JSONB` in a RestAssured test, we get a `NoClassDefFoundError` because it looks for the old `javax/json/bind/Jsonb` package and not the new one `jakarta/json/bind`.

[code]

RestAssured 5.2.0 still does not support it. See: https://github.com/rest-assured/rest-assured/issues/1651

Relates to https://github.com/quarku

[2022-11-12 13:28] geoand commented on #21444
I'll have a look

[2022-11-12 13:53] marcwrobel opened #29226 "Some release candidate or or alpha versions are not marked as "Pre-release""
### Description

Usually release candidates or alpha versions in https://github.com/quarkusio/quarkus/releases, such as https://github.com/quarkusio/quarkus/releases/tag/2.13.0.CR1, are marked in GitHub as "Pre-release".

But some are not :

- https://github.com/quarkusio/quarkus/releases/tag/1.5.0.CR1
- https://github.com/quarkusio/quarkus/releases/tag/1.4.0.CR1
- https://github.com/quarkusio/qua

[2022-11-12 14:35] ingmarfjolla commented on #29191
maybe a silly question, but is there a way when using the event bus to create codecs in the deployment module of an extension and then use them in an application? i saw [this](https://github.com/quarkusio/quarkus/blob/main/extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/MessageCodecBuildItem.java) but I wasn't sure how to make use of it

[2022-11-12 14:35] AhmetTurner commented on #29221
I can't explain my frustration but I think I found the problem...

After downloading a newly created project and copying my code peu à peu it looked like everything worked.
Until I copied the resources directory. It seems like the problem was the **_port_** specification in the **application.yml**.
When setting it to 9000 (my initial used port number) the exception started to occur.
When switching

[2022-11-12 14:40] kjq opened #29227 "Upgrading to 2.14 breaks REST resources (potentially because of BeanParam)"
### Describe the bug

Upgrading from 2.13.4 (everything working/tests run) to 2.14 and have run into an issue it appears with the @BeanParams. This prevents us from upgrading other dependencies such as Stork and Helm as well as being able to take advantage of some nice enhancements in 2.14.

There looks to be two issues but they might be related.

1. Implementing an interface from a REST client in

[2022-11-12 14:45] kjq commented on #29227
What is interesting, is this is the first failure in a test that almost does nothing...

[code]

Giving this error:

[code]

These are the classes:

[code]

[code]

[code]

[2022-11-12 14:52] gsmet commented on #29226
Yeah we automated it at some point but the releases prior to that point were not marked appropriately.

It should be fixed now.

[2022-11-12 14:52] #29226 closed

[2022-11-12 14:54] marcwrobel commented on #29226
Thanks, fix confirmed.

[2022-11-12 14:59] akHelix4444 commented on #29141
@cescoffier sorry me, i did not fully understand, this SMTP behavior, what you explain, it's correct way?
And i should not try to use it from blocking context in GraphQL?
But what different with REST, why it is allow me initialize and work with SMTP in blocking manner?

[2022-11-12 15:15] kjq commented on #29227
I may of found one of the issues when "just building" - have `@BeanParam` at all was throwing everything into a tizzy.  Removing it everywhere allows me to get past this issue of ambiguous beans.

[code]

[2022-11-12 15:25] kjq commented on #29227
Now, i have a hunch that because I removed `@BeanParam` this is causing the next issue having two arguments...

Now:
[code]

Before:
[code]

[2022-11-12 16:10] AhmetTurner commented on #29221
Update: It still happens once when requesting a GET endpoint with invalidating cache (CTRL + SHIFT + R on Chromium) through the browser. It maybe is related to the missing **favicon.ico** which is requested initially

[2022-11-12 16:14] andrzejszywala commented on #7462
I've ran my test case on Quarkus 2.14.0.Final and there is still an exception.

As I can see HHH-14387 has been fixed in Hibernate 6.1.3 but Quarkus uses Hibernate 5.6.12.Final so the fix is not included.

I've attached updated test case:
[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/9995340/code-with-quarkus.zip)

Run `mvn test`

It should pass but there is an exception:
`jav

[2022-11-12 16:22] kjq commented on #29227
I decided to start over because I was getting lost in what I was testing.  I still cannot reproduce it with a simple reproducer but I can verify that flip-flopping back and forth either resolve/brings back the issues...

1. Created a new branch from 2.13 - works
2. Upgraded Quarkus to 2.14 / jandex / updated Stork (Configuration interface changed)
3. mvn install - Fails with "ambiguous bean" on a

[2022-11-12 16:37] #29188 closed

[2022-11-12 19:46] kjq commented on #29227
I cobbled the hec out of the projects to try and get you a reproducer.  Hopefully this helps.

In all case, just running `mvn install` should be enough...

**Working as-is with 2.13.4**
[before.zip](https://github.com/quarkusio/quarkus/files/9995780/before.zip)

**Here is the "ambiguous" bean error and then after removing `@BeanParam`**
[issue-1.zip](https://github.com/quarkusio/quarkus/files/9995

[2022-11-12 19:47] cescoffier commented on #29141
It suspect that the blocking action from graphql is using: ordered: true (need to be checked, and wh, if that's the case)

The mailer cannot be used from such a context as you cannot enqueue another task (as it would break the order).

I wanted to have another look to see if we can change the connection establishment logic, but it was not that simple.

[2022-11-12 19:50] cescoffier commented on #29191
Why do you need a codec? Quarkus generates one for you automatically. If you need one just add a codec class in your app, and it will pick it for you.

If you are in an extension, just produce the build item you found.

[2022-11-12 23:45] ingmarfjolla commented on #29191
For some reason when Quarkus starts I was getting an error that the codec would be generated, and then that quarkus failed to start because it couldn't find the class. (here)[https://github.com/ingmarfjolla/debeziumreactive/blob/quarkus-outbox-reactive-refactor/debezium-quarkus-outbox-reactive/runtime/src/main/java/io/debezium/outbox/quarkus/internal/EventDispatcher.java] The logs would say `could

[2022-11-13 00:34] drmalex07 opened #29230 "Failing to create decorator bean on interface with overloaded methods"
### Describe the bug

I am trying to create a simple CDI decorator on an interface with multiple methods. Some of the interface methods are overloaded.

We have an interface like:
[code]
And a decorator like:
[code]

And finally, a bean class like:
[code]

### Expected behavior

Expected a FooService bean to be created as a `SomeFooServiceDecorator` wrapping (decorating) real service bean of type

[2022-11-13 08:42] vietj commented on #28997
## hpack/4.2  Sends a dynamic table size update at the end of header block

Netty defect: https://github.com/netty/netty/pull/12988

[2022-11-13 10:19] syr commented on #28552
@Ladicek @brunobat @brunobat @radcortez
Is there some list of libraries that are instrumented by quarkus-opentelemetry?
I guess it must be a subset of https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/supported-libraries.md

[2022-11-13 11:49] #29144 closed

[2022-11-13 11:56] #24790 closed

[2022-11-13 12:24] tomas1885 opened #29234 "Better gradle composite build support"
### Describe the bug

When using Quarkus on a composite build gradle project I noticed a couple of issues:
1. When including a multi-module gradle project as a composite build the dependency loading doesn't actually work.
2. Hot reloading doesn't work for composite builds (source directory isn't watched).
3. Using a local extension as a composite builds doesn't work

The current method of loading

[2022-11-13 13:39] usr000 opened #29235 "Upgrade from 2.13.3.Final breaks aws-lambda-rest with sam jvm integration"
### Describe the bug

When upgrading from 2.13.3.Final both to 2.13.4.Final and 2.14.0.Final
and following https://quarkus.io/guides/amazon-lambda-http guide and choosing
`mvn archetype:generate \
       -DarchetypeGroupId=io.quarkus \
       -DarchetypeArtifactId=quarkus-amazon-lambda-rest-archetype \
       -DarchetypeVersion=2.14.0.Final`

When performing
`sam local start-api --template target/

[2022-11-13 14:54] cescoffier commented on #24751
With the new gRPC server, it reuses the same port as HTTP. So, it will be covered that way.

Marking is as won't fix - as it's somehow already fixed using the new server.

[2022-11-13 14:54] #24751 closed

[2022-11-13 14:56] cescoffier opened #29236 "Add metrics to the gRPC client and server"
### Description

The idea is to provide a set of meaningful metrics for the gRPC client and server (using the new gRPC backend), such as:
- response time
- the amount of errors + code
- payload size
- ...

### Implementation ideas

_No response_

[2022-11-13 14:58] cescoffier commented on #24409
Related to #21445

[2022-11-13 15:01] cescoffier commented on #26560
@ozangunalp has a quick look, and it does not look nice. It could be fixed with a hack, but we may need to re-implement the codegen support of Avro to use resources instead of the file system (as it could potentially access files from outside the project scope (like ../../../etc/passwd). I will let @ozangunalp give more details.

[2022-11-13 15:16] cescoffier commented on #29019
@ozangunalp should we close this one?

[2022-11-13 15:55] cescoffier commented on #9987
It seems that both Vert.x and Micronaut uses that convention. I suspect any lib using gRPC Java uses the same convention.

[2022-11-13 15:59] #29215 closed

[2022-11-13 16:00] cescoffier commented on #28848
@ozangunalp , Should we close this issue?

[2022-11-13 16:05] cescoffier commented on #18604
@ozangunalp  / @sberyozkin What's the status on this one?

I'm still not feeling very comfortable with the idea to leak the token into persistent storage (kafka).

[2022-11-13 16:06] cescoffier commented on #17005
Closing.
Please re-open when the service binding operator produces the OAUTH configuration

[2022-11-13 16:06] #17005 closed

[2022-11-13 16:07] cescoffier commented on #23471
Closing, see workaround.

[2022-11-13 16:07] #23471 closed

[2022-11-13 16:12] cescoffier commented on #18859
Closing see comment.

[2022-11-13 16:14] cescoffier commented on #29040
Do you have a reproducer?

The issue is that the security provider seems to be blocking the I/O thread.

[2022-11-13 16:45] sean-huni commented on #11062
This issue is still there in Quarkus 2.14.0.Final alongside with Mapstruct 1.5.3.Final.

` <properties>
        <compiler-plugin.version>3.8.1</compiler-plugin.version>
        <maven.compiler.release>17</maven.compiler.release>
        <maven.compiler.source>17</maven.compiler.source>
        <maven.compiler.target>17</maven.compiler.target>
        <project.build.sourceEncoding>UTF-8</project.bu

[2022-11-13 18:11] spaykit opened #29238 "overriding ServerEndpointConfig.Configurator's 'modifyHandshake' with blocking code"
### Describe the bug

Hey,
I'm modifying the handshake of Websocket by implementing ServerEndpointConfig.Configurator and overriding 'modifyHandshake', but the code is blocking and running on IO thread, how can I force it to run on a worker thread?
'quarkus.websocket.dispatch-to-worker=true' is working only for @ServerEndpoint @OnOpen.

I tried to annotate the 'modifyHandshake' with @Blocking but

[2022-11-13 19:56] agoncal opened #29240 "Jakarta - EE 10 - @Inject should work instead of the deprecated @Context in RESTEasy Classic"
### Describe the bug

In JAX-RS we used to use `@Context` to inject several managed objects, including `UriInfo`:

[code]

With Jakarta EE 10 and JAX-RS 4 we can use `@Inject` [instead](https://jakarta.ee/specifications/restful-ws/4.0/):

[code]

ATM, this code breaks with RESTEasy Classic (it works with RESTEasy Reactive) with the following exception:

[code]

[code]

See https://jakarta.ee/speci

[2022-11-13 20:58] kjq opened #29241 "Upgrading to 2.14 ignores custom Kubernetes manifests (based on profile)"
### Describe the bug

You used to be able to apply a custom manifest based on the profile when generating the Kubernetes manifests.  Now, it does not and it creates two paths at the root prefix.

The `application.yml` that is used in the service when generating the manifest looks like this:
[code]

The service has a `kubernetes.yml` (under `service/src/main/resources`) which was applied based on t

[2022-11-13 22:57] famod commented on #29142
Pretty much a duplicate of #20034, no?

[2022-11-13 23:09] #24486 closed

[2022-11-13 23:18] villain-bryan opened #29243 "AWS APIGatewayManagementAPI - Native image build failure Random/SplittableRandom GraalVM"
### Describe the bug

I'm trying to bridge a couple of AWS services together and having some trouble. I'm using API Gateway WebSockets and would like to "use" or "access" my WebSocket [connections](https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-how-to-call-websocket-api-connections.html) in my Quarkus Funky Lambda using [APIGatewayManagementAPI](https://docs.aws.amazon.com

[2022-11-13 23:22] jcsim1024 commented on #28502
Hello @geoand, I am following the "create a config group and then add a property" advice.
I am trying to find an elegant way to configure PostgreSQLConfigurationExtension then I'll make the test work.
Any suggestion is welcomed
https://github.com/quarkusio/quarkus/compare/main...jcsim1024:quarkus:main

[2022-11-14 02:25] alexkolson commented on #7019
Not sure if it interests anyone but I [whipped up an example](https://github.com/HamburgChimps/quarkus-programmatic-datasource-configuration) of how do to this. It's not as straightforward as it maybe ought to be but is definitely doable. In addition, perhaps the docs could be extended to include concrete examples of implementing TenantConnectionResolver?

[2022-11-14 05:42] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3458686400

[2022-11-14 05:54] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3458683567

[2022-11-14 06:27] geoand commented on #29241
@Sgitario can you take a look please?

Thanks

[2022-11-14 06:31] geoand commented on #29227
@FroMage This looks like it could be due to the changes made to unify `@BeanParam` and multipart handling.
Can you take a look?

[2022-11-14 06:43] ruby-ts commented on #26487
I'm new to Quarkus. In my case, the issue is resolved after deleting this folder in my home directory: `~/.m2`.  It must be some really old Maven cache.

[2022-11-14 06:53] geoand commented on #29142
It does indeed look like that but let's let @Sgitario confirm

[2022-11-14 06:54] geoand commented on #28502
@jcsim1024 you should not have to populate the new config group, Quarkus will do that automatically, see [this](https://quarkus.io/guides/writing-extensions#configuration) for more information.

[2022-11-14 07:01] geoand commented on #29221
I tried your sample and everything works fine. Perhaps you have some other process running on port `9000` on your machine

[2022-11-14 07:01] #29221 closed

[2022-11-14 07:14] Sgitario commented on #29241
This issue is a consequence of using the latest Fabric8 Kubernetes Client 6.x. To be precise, now you need to provide the `apiVersion` of the resource (see more here: https://github.com/fabric8io/kubernetes-client/blob/master/doc/MIGRATION-v6.md#deserialization-resolution).

Therefore, to fix this issue, you need to add this line `apiVersion: networking.k8s.io/v1` in your `service/src/main/kuberne

[2022-11-14 07:16] geoand commented on #29241
Absolutely

[2022-11-14 07:19] Sgitario commented on #29142
I had a look into this issue and when running the reproducer, the transaction was not active at all when running the nested tests (not only when rolling it back). But the root cause is the same, so yes, it's a duplicated issue.

[2022-11-14 07:21] geoand commented on #29142
Thanks for checking @Sgitario

[2022-11-14 07:21] #29142 closed

[2022-11-14 07:28] iocanel commented on #29241
Came to say that this doesn't seem to be related in a way with the profiles, but @Sgitario has given a more specific response.

[2022-11-14 07:30] geoand commented on #29206
The Spring code producing this has not changed for a while, so this is probably indeed due to the Jandex update.
I wonder if the `WARNING` should be downgraded to `DEBUG`...

[2022-11-14 07:37] Felk commented on #6262
Just for the record: I found a solution for [my specific usecase](https://github.com/quarkusio/quarkus/issues/6262#issuecomment-1061997570). You can now register custom [log filters](https://quarkus.io/guides/logging#console-log-handler), which get passed every `LogRecord`. I was then able to just manually send each log record's contents to fluentd using the (somewhat outdated) [fluent-logger-java

[2022-11-14 07:39] geoand commented on #29160
I tried your reproducer and everything worked as expected.

[2022-11-14 07:45] anchou-bockhorn commented on #28848
@ozangunalp many thx for the fix. I'll try it asap.

[2022-11-14 07:55] Manfred73 commented on #29160
When I look in Sonar, I see these major issues.
![image](https://user-images.githubusercontent.com/13829887/201604900-daa8fe4b-523b-4ee6-8732-e4232b2cb1ff.png)

What about the pitests when you run with ```mvn verify -Pit``` ?

[2022-11-14 07:57] geoand commented on #29240
Are you using `quarkus-resteasy` or `quarkus-resteasy-reactive`?

Asking because the latter should already support what you are asking for (I don't know about the former)

[2022-11-14 08:00] geoand commented on #29160
I just ran that and it worked

[2022-11-14 08:08] cescoffier commented on #28848
Closing - please reopen if the described fix does not work for you.

[2022-11-14 08:08] #28848 closed

[2022-11-14 08:15] AhmetTurner commented on #29221
Yep, I thought so as well. But the weird thing is that the **lsof** command didn't return anything. Furthermore, downgrading quarkus and trying it again worked fine.

Well I don't know what happened there, I'm just happy that it works on another port now. Anyway, thx for your time!

[2022-11-14 08:18] Manfred73 commented on #29160
Sorry, I meant: ```mvn verify -Ppit```.   The previous only runs the integration test, this one runs pit tests.

[2022-11-14 08:24] geoand commented on #29221
🙏🏼

[2022-11-14 08:28] computerlove commented on #29040
No, havent been able to create a reproducer.

[2022-11-14 08:28] geoand commented on #29160
I haven no idea what pitest, does, so I can't really debug that

[2022-11-14 08:30] Manfred73 commented on #29160
We use pitest maven-plugin for our mutation testing: https://pitest.org/

[2022-11-14 08:32] geoand commented on #29160
Yeah, I understand that, my point is that because I don't know how it works, I can't really dig into what's going on in your application

[2022-11-14 08:52] geoand commented on #21444
The way it's implemented for gRPC seems very gRPC specific and I mean that in a good way as it seems to avoid the marshalling / unmarshalling problems we would have if we try to replicate this for the REST Client.
I am afraid that if we do something similar for the REST Client, Jackson (or Jsonb) configuration could lead to hard to diagnose issues

[2022-11-14 09:00] manovotn commented on #23637
This issue got a little stale.
@radcortez is there something the PR is waiting for? It seems to have passed CI and got an approval as well.

[2022-11-14 09:27] agoncal commented on #29240
@geoand good point. I've just updated the title and body of the issue. It works with RestEasy Reactive but not RestEasy Classic

[2022-11-14 09:28] geoand commented on #29240
Thanks for checking.

cc @jamezp @gsmet for RESTEasy Classic

[2022-11-14 09:57] joyitaevolphin commented on #28222
Hello @tveon,
Would you mind sharing how did you fix the issue?
I was busy with some other project, so this problem took a backseat. Now I am trying to upgrade to 2.14.0.Final and facing the same issue.

Thanks.

[2022-11-14 10:12] brunobat commented on #28552
Hi Syr,
There is no such list for the time being and we currently don't follow that [list](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/supported-libraries.md).
We prefer to instrument Quarkus ourselves and make sure context propagation and native mode behave correctly.
I can tell you that inside Quarkus, today we instrument:
* Vertx, including the HTTP serve

[2022-11-14 10:21] ia3andy opened #29247 "Qute: Provide a clean way to return multiple fragments in one response (Htmx OOB Swap)"
### Description

HTMX allow to do Out of band swapping of content:
https://htmx.org/attributes/hx-swap-oob/

This means that the response contains multiple fragments of the view to be updated.

Example:
![Kapture-2022-11-14-at-09 33 16](https://user-images.githubusercontent.com/2223984/201635523-32c967ab-f597-45a6-91ce-fcf83e94d5b0.gif)

When you click on the note, you need to update both the edit

[2022-11-14 10:25] silviu-negoita opened #29248 "Panache reactive sequence - default schema not applied"
### Describe the bug

I'm tying to persist a simple entity, in a custom schema using Panache Reactive
[code]

And REST call to test:
[code]

I have configured a default schema in yaml ( `ncs` )
[code]

Confirming that `notification_id_seq` exists under my schema.

### Expected behavior

Im assuming hibernate can map `ncs.notification_id_seq` and do the persist correctly.

### Actual behavior

My R

[2022-11-14 10:38] geoand commented on #21443
Okay cool, I'll add it.

[2022-11-14 11:02] cescoffier commented on #21444
Too bad 😟

Thanks for looking into this. Should we close the issue?

[2022-11-14 11:26] ozangunalp commented on #27243
I believe this is fixed by #28702. @loicmathieu can you verify it again?

[2022-11-14 11:28] brunobat commented on #26250
Have you guys added this property to the resource under sam.*.yaml?
`Tracing: Active`

[2022-11-14 11:34] ozangunalp commented on #29019
No, I'll close this one after the Kafka guide update.

[2022-11-14 11:43] RobDTech commented on #26250
Hi @brunobat we aren't using SAM. Does that setting have a non-SAM equivalent?

[2022-11-14 11:53] kjq commented on #29241
I can verify adding that line works recognizes the manifest but it still adds a root path which may muck with a catch-all rule in another service under the same ALB.

[code]
**BUT...**

Trying out the new ingress rules and it merged every file under the `/kubernetes` folder to the generated manigest regardless of profile or filename (in my case there could be a `kubernetes.yml` and `minikube.yml`

[2022-11-14 11:59] #23547 closed

[2022-11-14 12:04] geoand commented on #21444
You are welcome

Yeah, I'd prefer we close.

[2022-11-14 12:04] #21444 closed

[2022-11-14 12:21] brunobat commented on #26250
Did you follow the configuration instructions in here?
https://aws.amazon.com/blogs/opensource/auto-instrumenting-a-python-application-with-an-aws-distro-for-opentelemetry-lambda-layer/

[2022-11-14 12:28] Sgitario commented on #29241
I think this is the expected behaviour as it's the default path of a Quarkus application. You can configure this rule by setting the property: `quarkus.kubernetes.ports.http.path=<THE NEW PATH>` (by default, this value is '\'). More info in [this link](https://quarkus.io/guides/deploying-to-kubernetes#adding-ingress-rules).

About the problem of the duplciated Ingress path rules, the problem is th

[2022-11-14 12:31] kjq commented on #29241
Yes, the multiple "paths" would be an issue - we have many modules, not all services but potentially contributing configuration to the services.

As for the path, it is not that I want to change the base path.  I just dont want it as an ingress rule for prefix matching.  We deploy all of the services into a single ALB with target groups bound to the prefix that way they can co-exists, in this case

[2022-11-14 12:31] asimpson2004 commented on #26250
I did not use the aws ADOT layer as in that example, I followed this guide:
[https://quarkus.io/guides/opentelemetry]

where the instructions set  up the same configuration as the AWS layer. (I was comparing them whilst doing it)

I have attached some logs:

[quarkus-logs.txt](https://github.com/quarkusio/quarkus/files/10002934/quarkus-logs.txt)

[2022-11-14 12:56] loicmathieu commented on #27243
@ozangunalp no, I can still saw Ruyk started twice when using the Kafka Companion using Quarkus 2.13.4.

[2022-11-14 12:57] kjq commented on #29241
What about it blindly merging "any" files in the Kubernetes folder even if they don't match a profile name?

[2022-11-14 13:10] Sgitario commented on #29241
The property `quarkus.kubernetes.ports.http.path=/x` is only used to set the default ingress rule path, so I don't see any side effects. Anyway, @iocanel to confirm.

Your custom ingress rules configuration can then be replaced with the following configuration:

[code]

[2022-11-14 13:13] Sgitario commented on #29241
Do you mean that not matching profiles (like kubernetes.yml or minikube.yml) should be always merged? If so, then you have to name it `common.yml` and it will do this (see more information [here](https://quarkus.io/guides/deploying-to-kubernetes#using-common-resources)).

[2022-11-14 13:21] zakkak opened #29252 "Transition to Mandrel builder images by default"
### Description

Hi all,

Due to https://github.com/oracle/graal/issues/5303 that came up with the latest GraalVM release, the Quarkus team decided (see #29182) to transition Quarkus to using Mandrel builder images (which are not affected by https://github.com/oracle/graal/issues/5303) instead of the GraalVM CE ones that were used by default till now, at least until the issue gets resolved in Graa

[2022-11-14 13:23] kjq commented on #29241
All right, its been a long morning (been up all night with a sick child). That looks to read the manifests correctly.  Apologies for any confusions there.

So, for my own sanity:
1. I can create a default path using `quarkus.kubernetes.ports.http.path=<THE NEW PATH>`. It is just a dummy root but will not affect anything.
2. Adding the `apiVersion: networking.k8s.io/v1` to the custom manifest fixes

[2022-11-14 13:26] mkouba commented on #29247
I'm not quite sure this would be useful outside HTMX so it might be reasonable to introduce a static util method like this:
[code]

[2022-11-14 13:28] jacobdotcosta commented on #28897
Yes, I'll take a look.

[2022-11-14 13:30] brunobat commented on #26250
[asimpson2004](https://github.com/asimpson2004), the https://quarkus.io/guides/opentelemetry is a generic guide that assumes an OTLP collector will be available. It doesn't include the AWS specific configurations that you need to perform at your AWS account in order to activate tracing on your lambdas.

[2022-11-14 13:37] Sgitario commented on #29241
Glad it worked!
About the duplicated ingress rules paths, this was already fixed in Dekorate: https://github.com/dekorateio/dekorate/pull/1092
Once Quarkus bumps Dekorate, it will be fixed.

[2022-11-14 13:43] #29241 closed

[2022-11-14 13:52] FroMage commented on #29227
Sure.

[2022-11-14 13:54] geoand commented on #29227
🙏🏼

[2022-11-14 14:05] FroMage commented on #29227
I think this has to do with getters not being supported by bean params, but I'm pretty sure I didn't _remove_ that, we talked about it: I think this was never implemented. So let's dig in.

[2022-11-14 14:05] FroMage commented on #29227
Oh wait, this is client, not server.

[2022-11-14 14:17] mkouba commented on #15192
Do I understand it correctly that [Clement's proposal](https://github.com/quarkusio/quarkus/issues/15192#issuecomment-783204844) should end up in the `quarkus-vertx-http` extension?

[2022-11-14 14:20] ia3andy commented on #29247
This seems like a very good solution, I'll add it to the Renarde HxController for now.

[2022-11-14 14:20] #29247 closed

[2022-11-14 14:20] ia3andy commented on #29247
Thanks!

[2022-11-14 14:21] kjq commented on #29227
It it adds to the conversation, I removed all occurrences of @BeanParam and got rid of POST/PUT methods specifically in the REST clients and was able to get it working (or at least I think it did - tests passed and REST smoke tests worked). For whatever reason it seems to throw the exceptions on those (# 1 above).

[2022-11-14 14:30] mkouba commented on #27872
@fedinskiy Is `quarkus-resteasy-reactive-qute` a viable solution of your problem?

[2022-11-14 14:39] cescoffier commented on #15192
Yes, or in a new extension.

[2022-11-14 14:44] fedinskiy commented on #27872
@mkouba my "problem" was to test `quarkus-resteasy-reactive-qute` and `quarkus-resteasy-qute`  :)

As I mentioned earlier, this behaviour doesn't happen when `quarkus-resteasy-reactive-qute` is used.

[2022-11-14 14:48] mkouba commented on #27872
Yes, I know. My question is whether switching to `quarkus-resteasy-reactive-qute` is an option?

[2022-11-14 14:48] YassinHajaj opened #29253 "Resteasy + Hibernate Validator : @Produces on super interface is not taken into account, JSON is default"
### Describe the bug

I have a `ResourceInterface` and a `ResourceImplementation`.

The `ResourceInterface` defines everything related to JAX-RS and OpenAPI.x

It looks like this

[code]

The `ResourceImplementation` looks like this

[code]

When I get a validation exception, it gets outputted as JSON, even though I specified XML on the class as described by the JAX-RS specification.

The guilty p

[2022-11-14 15:05] fedinskiy commented on #27872
Option for who?

We (Quarkus QE team) have coverage for both classic[1] and reactive[2] scenarios and will keep it for foreseeable future anyway. This quirk does not stop us from performing other tests, so it is not a problem for us.
I can not predict, if it will be a problem for other users, and whether they can switch from regular `quarkus-resteasy-qute` to `quarkus-resteasy-reactive-qute` to so

[2022-11-14 15:22] radcortez commented on #23637
I guess we were waiting for @gsmet answer regarding which version to include.

[2022-11-14 15:24] pallavi0412 commented on #27818
Need help for resolving HTTPS required error in development mode. Is it possible to go with http in development mode for keycloak quarkus?

[2022-11-14 15:24] evanchooly commented on #14789
The PR itself seems reasonably non-invasive though I do agree that it would probably be better to do at the mongo-client level instead.  However, we don't really deal with databases there but just the clients themselves so this is probably only really doable inside panache.  At a minimum it offloads any "unwanted" complexity to users' code.  I left some questions on the PR.

[2022-11-14 15:28] jamezp commented on #29240
It should work with RESTEasy 6.2 if the `org.jboss.resteasy:resteasy-cdi` dependency is used. Method parameter injection does not currently work, but it's also not required in Jakarta REST 3.1.

[2022-11-14 15:43] mkouba commented on #27872
Ok, I forgot that you're from the Quarkus QE team and the description did not mention this. So I thought that it's a problem of a user ;-).

In any case, I have no idea how to fix this in `resteasy-classic` and as I mentioned in https://github.com/quarkusio/quarkus/issues/27872#issuecomment-1243786296 - it's expected from the qute point of view.

[2022-11-14 15:46] YassinHajaj commented on #29253
I just noticed that adding the `@Produces` on the method of the interface does not fix it.
It should really be put on the classes method to workaround the problem.

[2022-11-14 16:03] agoncal commented on #29240
Correct, if I have the following 2 dependencies, it works. Will it stay like that or will depending just on `quarkus-resteasy` be enough in future releases?

[code]

[2022-11-14 16:22] kjq commented on #29227
Hah, that makes me feel better. I tried creating a simple reproducer at first using my standard template and I could not reproduce it.  The only I could replicate it was to take our entire project, gut it, and then try...

[2022-11-14 17:11] djnalluri commented on #9987
I should mention that this may no longer be blocking my use case so I'm fine with closing this issue as part of triage.

[2022-11-14 17:45] wernert75 opened #29254 "Infinispan cache annotations with Panache-Entity"
### Describe the bug

The new cache annotations for infinispan works fine. But in case there is an JPA - Action (e.g. findById) then the method seems to be hanging. No response is submitted to the client.

### Expected behavior

Infinispan Cache-Annotations should work, even if a JPA - action invoked.

### Actual behavior

If an JPA - action is invoked within a method, annotated witch CacheResult

[2022-11-14 19:08] tomas1885 opened #29257 "Allow setting Reactive Mysql client additional properties"
### Description

Currently the Vertx MysqlPool allows settings the connection timeout, authentication plugin and possibly other properties. I didn't see any way to set it using the Quarkus Reactive Mysql extension. So currently we use a customized cloned extension which allows setting the properties mentioned above.
The authentication plugin is quite important as it allows connecting to AWS RDS da

[2022-11-14 19:18] pjgg commented on #29208
To me this is a  "hibernate-validator" + "cloudevents-api" issue.
More in detail the issue is here:
[code]

Looks that for some internal issue "CloudEvent" is not able to get an instance of Quarkus Validator (`javax.validation.Validator`). So maybe as a workaround could be inject the validator by your self and then use it in cloudEvents

[code]
I think that this patch could work until the issue fi

[2022-11-14 19:19] geoand commented on #29208
Yes, that would work.

But there is probably more code out there that obtains the Validator via the standard API

[2022-11-14 21:25] rmarting commented on #29208
Thank you @pjgg for your debug and identify the root cause of my issue. Your workaround worked for me, and I could go ahead with a native image of my application.

Maybe I am not using the CloudEvents API in the best way (no latest version of `cloudevents-api` artifact, and some hacking in my classes), but it was the way that worked for me for sending CloudEvents to a Knative Broker from a Quarkus

[2022-11-15 01:35] stuartwdouglas commented on #28376
Can you test out the linked PR?

[2022-11-15 05:43] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3467591449

[2022-11-15 06:00] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3467588933

[2022-11-15 08:00] mkouba commented on #18443
I think that it makes sense to extract the `io.quarkus.runtime.annotations` package into a separate artifact, e.g. `quarkus-core-annotations`. The core should have its own artifact for public api but it's probably too late for this kind of discussion.

@aloubyansky @gsmet @geoand WDYT?

[2022-11-15 08:02] geoand commented on #18443
Yeah, I can see why this might be useful

[2022-11-15 08:05] mkouba commented on #16275
@maxandersen Any progress here? I've removed the `needs-triage` label because it seems that stakeholders agree that it should be improved somehow ;-)

[2022-11-15 08:13] aloubyansky commented on #18443
No objections from me. I don't think it's late to do some refactoring in core either. We just have to agree on the plan :)

[2022-11-15 08:46] Ladicek commented on #29206
So the `@Requirement` annotation comes from MP Config's `@ConfigProperty`, and it's been there for quite a while. The only reason why it shows now is that Jandex 3 also indexes class-retained annotations, while Jandex 2 only indexed runtime-retained annotations.

Since this happens during creation of the bean archive index, I'd probably suggest to ignore class-retained annotations altogether, beca

[2022-11-15 08:50] Ladicek commented on #29206
Hmm, except we can't distinguish class-retained annotations from runtime-retained annotations during indexing, as `ClassSummary` only has annotation names. Uhm...

[2022-11-15 09:31] mkouba commented on #29206
It does not have to be. It could also happen when computing an additional class info, i.e. when a `BeanArchiveIndexBuildItem` client does something like `index.getClassByName(Requirements.class.getName())`...

[2022-11-15 09:38] Ladicek commented on #29206
Right, wrong language on my side. It isn't during _creation_ of the bean archive index, but it is still a meta-annotation looked up from the bean archive index. Which I _think_ could just pretend that class-retained annotations do not exist.

Not entirely pretty -- but I'm fairly confident that failing to find a class-retained annotation during `SpringDIProcessor`'s annotation traversal is harmles

[2022-11-15 10:11] #16674 closed

[2022-11-15 10:18] alexkolson opened #29269 "Do not require a default datasource definition if TenantConnectionResolver is implemented"
### Description

Hi there,

Would it be possible / an okay idea to not require a default datasource definition if multi-tenancy / programmatic datasource configuration is used? I'm not sure how at all this would be implemented, but from a developer experience point-of-view, this would be nice. No having to define extra non-used properties in application.properties hanging around just to avoid erro

[2022-11-15 10:39] gsmet commented on #29269
Which errors do you get exactly? Could you share a small Maven project showing the problem you have?

Thanks!

[2022-11-15 10:41] gsmet commented on #29240
We should definitely add `resteasy-cdi`. I will take care of it.

[2022-11-15 10:43] gsmet commented on #29248
Also cc @DavideD as I'm wondering if it could be a Hibernate Reactive issue.

@silviu-negoita I think it would help if you could provide a simple reproducer.

[2022-11-15 11:13] sberyozkin commented on #29269
Not sure it is relevant, in `quarkus-oidc` we have a `tenant-enabled` property to disable the default properties (tenant), or other tenant if needed, so in a multi-tenant setup the users only do `quarkus.oidc.tenant-enabled=false` for OIDC to avoid dealing with the main/default properties. I'm thinking of making sure to have `quarkus.oidc.tenant-enabled=false` not be even necessary as OIDC will re

[2022-11-15 12:13] #28860 closed

[2022-11-15 12:37] gsmet commented on #18570
I don't think we want to change that. There are the default behavior of Jackson and Yasson and people will expect them to behave like this if they are already using either the former or the latter.

[2022-11-15 12:42] zakkak opened #29275 "Native image in 2.13 not compatible with epsilon GC"
### Describe the bug

Prior to https://github.com/quarkusio/quarkus/pull/28295 (i.e., 2.14) Quarkus unconditionally passes `-H:InitialCollectionPolicy=com.oracle.svm.core.genscavenge.CollectionPolicy$BySpaceAndTime` to `native-image`, but this option is only available when using the SerialGC.

### Expected behavior

Using `-Dquarkus.native.additional-build-args=--gc=epsilon` should not fail the bu

[2022-11-15 12:47] geoand commented on #18570
I agree, let's close this

[2022-11-15 12:47] #18570 closed

[2022-11-15 12:56] Ladicek commented on #29206
Okay so my comment above is not correct: during bean archive index creation, only annotations directly present on classes are indexed. Meta-annotations are not.

This prevents a simple solution: just remember missing classes during bean archive index creation, so that when the on-demand-indexing `IndexWrapper` is asked for `@Requirements`, it can just straight return `null` without trying to load

[2022-11-15 13:12] geoand commented on #21443
https://github.com/quarkusio/quarkus/pull/29277 brings in this future

[2022-11-15 13:54] mkouba commented on #29206
Just to be clear - you're talking about indexing additional bean classes coming from `AdditionalBeanBuildItem`, right?

I agree that we could just index meta-annotations as well and prefill the `BeanArchives.IndexWrapper` with _"known misses"_.

[2022-11-15 14:01] loicmathieu opened #29279 "More coherent ingress root path configuration"
### Description

When using the Kubernetes extension to generate Kubernetes ressources at build time, you can generate an ingress.

Currently, to configure the default ingress host you use `quarkus.kubernetes.ingress.host=prod.svc.url` but to configure the default ingress path you must use `quarkus.kubernetes.ports.http.path` which is not logical as a port didn't have a path !

Moreover, when conf

[2022-11-15 14:04] Ladicek commented on #29206
Correct.

Okay, @geoand expressed the same opinion in the PR, so I'll do that.

[2022-11-15 14:47] Sgitario commented on #29279
I think this makes totally sense. What do you think @iocanel ?

[2022-11-15 14:49] pjgg opened #29281 "Missing cloudevents artifacts definitions on Quarkus BOM"
### Describe the bug

I have an HTTP endpoint that directly consume CloudEvents

For example
[code]

EventDTO
[code]

Request example through rest assurance

[code]

And What I see is that Quarkus are missing the following artifacts on Quarkus BOM

[code]

Also the  `Hibernate-validation` annotations doesn't look that are working with HTTP CloudEvents.

I saw that other extensions as Funqy or Kafk

[2022-11-15 15:07] karesti commented on #29254
Thanks for raising the issue! Opening a JIRA

[2022-11-15 15:32] #23618 closed

[2022-11-15 15:46] gsmet commented on #29225
Yeah. We will have to live with it until REST Assured provides a Jakarta-compatible version.

I will document it but I think we can close it. We will update REST Assured when available.

[2022-11-15 15:51] gsmet commented on #29080
No reproducer, closing.

[2022-11-15 15:51] #29080 closed

[2022-11-15 15:53] gsmet commented on #29124
Closing:
- it will be fixed once GraalVM release a fixed version
- in the meantime, you can use Mandrel as it is not affected by the issue

[2022-11-15 15:53] #29124 closed

[2022-11-15 15:54] maxandersen commented on #29225
@gsmet if we close these is there another way to find list of dependencies/blockers we have identified thus far that are still open?

[2022-11-15 15:54] gsmet commented on #29177
We added a note in the migration guide. I will close this one.

@mkouba could you add a small comment in the top level class and the nested class so that we avoid renaming them in the future (or document it in the migration guide if there are no other options)? Thanks!

[2022-11-15 15:54] #29177 closed

[2022-11-15 15:55] gsmet commented on #29196
I think it's a good idea. Looks like a good first issue!

[2022-11-15 15:57] gsmet commented on #29208
I wonder if we should rewrite the standard API call to actually call ArC and use the ArC instance. Using the standard API won't work and we don't plan on making it work as it definitely will never work in native executables.

@geoand WDYT?

[2022-11-15 15:59] gsmet commented on #29225
Not really. Let's keep it open then. I wouldn't call it a blocker really but yeah better have it in mind.

[2022-11-15 16:04] ozangunalp commented on #28425
@samodadela Thanks for the reproducer.

By default, messages in reactive messaging are invoked sequentially, inside the Vert.x event loop.
For the RabbitMQ connector, messages from different channels are dispatched on the same Vert.x event loop.
Even using `@Blocking`, which offloads the execution to the a worker pool, sequential execution is the default.
You'd need to pass `ordered = false` to th

[2022-11-15 16:06] geoand commented on #29208
That's actually a very good idea!

[2022-11-15 16:55] beikov commented on #28942
In PostgreSQL the `with` keyword after the `start` keyword is indeed optional: https://www.postgresql.org/docs/current/sql-createsequence.html

But for H2 2.0+ the `with` keyword is mandatory: http://www.h2database.com/html/grammar.html#sequence_option

Like I wrote, Hibernate itself always emits the `with` keyword, so whatever it is that is generating this statement, it's AFAICT not Hibernates fa

[2022-11-15 17:08] GavinRay97 opened #29283 "Docker templates and docs say to use `JAVA_OPTS` but `run-java.sh` docs say `JAVA_OPTIONS`, and `JAVA_OPTS_APPEND` does not exist"
### Describe the bug

We ran into a production issue where the `JAVA_OPTS` variable was not being honored.
Some of our users have stringent vulnerability requirements so we cannot use the default Dockerfile image.

To get around this, we created a custom Dockerfile where we use a more recent base image and emulate the same functionality:

[code]

The generated Docker template says this:

https://g

[2022-11-15 17:21] #28376 closed

[2022-11-15 17:23] aloubyansky commented on #22122
The re-augmentation process would require a significant refactoring to eliminate dev services related classes from the augmentation process. I am not sure it's worth the effort, tbh. I am going to close this one but feel free to (re)start a discussion about this.

[2022-11-15 17:23] #22122 closed

[2022-11-15 17:23] edeandrea commented on #28376
Hi @gsmet - why did you close this issue? The PR which was linked does not solve the issue...

[2022-11-15 17:23] gsmet commented on #29208
Ah OK. I was going to take a stab at it but tomorrow is release day and there's little chance I will be able to focus :). Let me know if you have questions or if you're sidetracked by other things.

[2022-11-15 17:27] geoand commented on #29208
Sure thing, I'll let you know

[2022-11-15 17:34] gsmet commented on #29208
Probably a good idea to have a check if the ArC container is started and throw an exception if not.

[2022-11-15 18:02] Ntung029 commented on #28913
It turns out that we don't have the integrated authentication config for microservice. It is working with JTDS driver which can  log in to SQL server using AD credentials by providing both username and password.

[2022-11-15 19:34] iqnev opened #29285 "SROAP04005: Could not find schema class in index: java.lang.Object when using rest-client-reactive Uni<?>"
### Describe the bug

I am using `quarkus-resteasy-reactive`  with following code
[code]
with OpenAPI extension in the project, following warning is logged

`[WARNING] [io.smallrye.openapi.runtime.scanner] SROAP04005: Could not find schema class in index: java.lang.Object`

### Expected behavior

No warning is logged

### Actual behavior

Logged warning: `[WARNING] [io.smallrye.openapi.runtime.sca

[2022-11-15 21:37] Sanne commented on #28942
Hibernate might skip these keywords if it's configured to use the PostgreSQL Dialect.

@Muhamedkaric perhaps you're forcing the PostgreSQL Dialect even when using H2 ?

If that's not the problem, please could you provide a reproducer as I have no other ideas.

[2022-11-15 23:02] stuartwdouglas commented on #28376
So the remaining issue is actually an annotation processor/mapstruct issue, basically a duplicate of https://github.com/quarkusio/quarkus/issues/1502.

[2022-11-15 23:25] alexkolson commented on #29269
Hi @gsmet! Thank you for responding! [Here is a reproducer](https://github.com/alexkolson/quarkus-no-default-datasource-reproducer) for you, as requested.

@sberyozkin This definitely sounds related! Perhaps the multi-tenancy feature for hibernate could do something similar?

[2022-11-16 00:04] edeandrea commented on #28376
Interesting. Honestly I didn't even think about that, nor did I realize that annotation processors weren't picked up/re-run in dev mode.

How does dev mode work with Panache? isn't the `quarkus-panache-common` defined as an annotation processor?

[2022-11-16 00:11] stuartwdouglas commented on #28376
Annotation processors work fine if the class being processed is the class being changed. For panache it works on the entity itself, if you change the entity the entity is recompiled and the processor is run.

In this case the Hero is changed but HeroMapper is not, and HeroMapper is the class that the annotation processor runs against. Modify the mappers as well would result in this working.

The o

[2022-11-16 03:03] GregJohnStewart opened #29290 "Qute- Let let refernce previous assignments"
### Description

Currently, the following fails, as the first variable assignment isn't present when the second is processed:

[code]
It would be nice to be able to do this and be able to assign more variables based on previous assignments in the same `let` statement

### Implementation ideas

_No response_

[2022-11-16 03:09] cjdxhjj opened #29291 "The current operation requires a safe (isolated) Vert.x sub-context, but the current context hasn't been flagged as such"
### Describe the bug

i'm using quarkus with reactive mode, that my code

![image](https://user-images.githubusercontent.com/5616997/202074363-0d751b3c-6cd5-4e7b-8d3a-7ddbea0ff548.png)
when i repeat click to invoke the function. it sometime throw an error

### Expected behavior

the function call not throw that error expect the db can't connect to

### Actual behavior

[code]

### How to Reproduce

[2022-11-16 03:13] cjdxhjj commented on #29291
the table dingcorp is empty,the only one query called, when i use sessionfactory.withSession, the error much more then the sessionfactory.withStatelessSession

[2022-11-16 03:42] apatrida commented on #21991
this seems like something that can be a PR to Quarkus Kotlin support no?

[2022-11-16 05:33] #21443 closed

[2022-11-16 05:49] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3476531079

[2022-11-16 06:04] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3476528364

[2022-11-16 06:21] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3476570658

[2022-11-16 06:53] mkouba commented on #29177
Done: https://github.com/quarkusio/quarkus/pull/29292

[2022-11-16 07:00] iqnev commented on #29285
The above problem with warning message is resolved with `@APIResponse`

[code]

[2022-11-16 07:00] #29285 closed

[2022-11-16 07:53] cescoffier commented on #29141
So, just to explain.

This cannot work:

        Vertx vertx = Vertx.vertx();
        MailConfig config = new MailConfig()
                .setAuthMethods("DIGEST-MD5 CRAM-SHA256 CRAM-SHA1 CRAM-MD5 PLAIN LOGIN")
                .setHostname("smtp.gmail.com")
                .setPort(587)
                .setStarttls(StartTLSOptions.REQUIRED)
                .setUsername("clement.escoffier@gmail.co

[2022-11-16 07:55] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3476570658

[2022-11-16 08:07] rsvoboda commented on #6588
spring-data-rest-quickstart is failing with latest Quarkus main, cc @geoand @Sgitario

[2022-11-16 08:15] Sgitario commented on #6588
Error:
[code]

For some reason, the FruitsRepository instance is lost when running the quickstart in Native (in JVM, it works).

[2022-11-16 08:27] jmartisk commented on #29141
Then I assume we need to change this call https://github.com/quarkusio/quarkus/blob/2.14.0.Final/extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/spi/datafetcher/BlockingHelper.java#L28
I can give it a try

[2022-11-16 08:39] akHelix4444 commented on #29141
@cescoffier and @jmartisk thank you so much for detailed explain and help with this issue!

We believe in GraphQL like API layer and it is great if this nuance could be resolved well.

[2022-11-16 08:53] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/3476570265

[2022-11-16 08:56] geoand commented on #29208
It turns out the your idea worked marvelously 🎉
[This]( https://github.com/quarkusio/quarkus/pull/29294) is the PR that implements it.

[2022-11-16 09:09] jmartisk commented on #29141
Yeah big kudos to Clement for explaining this. I'm testing the change right now, and it indeed seems to work. I don't think we need to preserve the order. I'll probably submit a PR with the fix soon

[2022-11-16 09:10] phillip-kruger commented on #29141
We definitely do not need it to be ordered for queries. Mutations might be another story. Maybe check the spec?

[2022-11-16 09:12] geoand commented on #6588
@Sgitario it's not working in JVM mode either, which suggests there is some serious problem with spring-data-rest.
Can you have a look?

[2022-11-16 09:16] geoand commented on #29283
Perhaps Things have changed in the run-java script and we have not updated the comments in our generated Dockerfile?

[2022-11-16 09:17] geoand commented on #28801
Closing this as we never got a reproducer.

Feel free to reopen if you do come up with one.

[2022-11-16 09:17] #28801 closed

[2022-11-16 09:18] geoand commented on #25672
Is there any update on this?
Is it still an issue?

[2022-11-16 09:27] sacnoth opened #29296 "Unable to @Override delete methods from PanacheRepositoryBase in an interface"
### Describe the bug

When I create a repository extending `PanacheRepositoryBase` I want to override the `#deleteAll()` method in my application.
This works, when I have a repository directly implementing `PanacheRepositoryBase`, but not when I place another interface inbetween the repository for my entity and `PanacheRepositoryBase`.

### Expected behavior

[code]

[code]

[code]

I would expect

[2022-11-16 09:33] jmartisk commented on #29141
You mean that if a request has multiple mutations, we might not execute them in order?
It seems we always execute them serially in the order in which they appear in the request (even with this change)
Or what other scenario do you have in mind that might break?

[2022-11-16 09:45] geoand commented on #6588
Thanks

[2022-11-16 09:58] pilhuhn opened #29297 "Span naming is problematic for REST-endpoints: Using the method is too generic"
### Describe the bug

In 2.11.3 the REST-server spans were named after the rest-method called (e.g. /api/bla/...) while since 2.12.1 (at least) they are just "HTTP GET".
This is problematic from a user / admin point of view, as in Jaeger e.g. the search is for "operation is populated by span name
Also both in Jaeger and Tempo UI, the span name is what is shown in the list of traces. Meaning that n

[2022-11-16 10:00] brunobat commented on #29297
Not sure if this is a bug... We need to evaluate.

[2022-11-16 10:00] phillip-kruger commented on #29141
Yea multiple mutations needs to run in order

[2022-11-16 10:02] pilhuhn commented on #29297
I (as User) consider it a bug as it is a regression. If I had an ops team trained with the old behaviour, I could not upgrade Quarkus without re-training them. Potentially even rewriting standard operation procedures

[2022-11-16 10:04] Sgitario commented on #6588
Fix: https://github.com/quarkusio/quarkus/pull/29298

[2022-11-16 10:04] zedbeit commented on #29196
Would love to take a stab at this, any ideas on how to go abt this @gsmet ?

[2022-11-16 10:18] brunobat commented on #29297
It's a bug.
According to the OTel Guidelines the current behaviour is wrong and it should be not to general, human readable and low cardinality, like:
* `get_account`
* `get_account/{accountId}`
https://opentelemetry.io/docs/reference/specification/trace/api/#span

`HTTP_GET_account/{accountId}` or
`http_get_account/{accountId} `

would be optimal.

[2022-11-16 10:27] syr commented on #28552
Hi @brunobat, thanks for the info. Could you please add this list to the opentelemetry guide? IMO it's crucial to decide if the extension fits or if otel agent must be used to get more auto-instrumenation, like in our case using quartz and aws sdk libs.

Might be a silly question, but is there a recommended way atm for production applications?
OpenTracing is deprecated and OpenTelemetry experiment

[2022-11-16 10:28] pilhuhn commented on #29297
+1 on something like `<method> path`  as in `GET get_account/{accountId}` . The HTTP is not necessarily needed, but the method is helpful, as the same REST-path can be served with multiple methods in parallel.

[2022-11-16 10:48] tsegismont commented on #27386
@diegoherrojo the fix has been merged in https://github.com/eclipse-vertx/vertx-sql-client/pull/1257

I tried a snapshot version with your reproducer and the problem goes away.

Vert.x 4.3.5 will be released very soon. When Quarkus upgrades to this version we can close this issue.

[2022-11-16 11:13] silviu-negoita commented on #29248
@DavideD yeah, of course I added that :smiley:

[2022-11-16 11:15] silviu-negoita commented on #29248
Ok, I'l try to add a reproducer ASAP. Are there any guidelines for that? or I just zip a full starter quarkus project with maybe a test endpoint to reproduce the issue?

[2022-11-16 12:02] jmartisk commented on #29141
Ok I'm trying multiple blocking mutations in one request and they are executed serially in the order specified in the request, so I think we should be fine here.

[2022-11-16 12:09] Chexpir opened #29301 "Rest-client-mutiny issue, exhausting thread pool"
### Describe the bug

When using rest-client-mutiny, returning a Uni, it starts failing after configured pool size is exhausted, default appeared to be 50.
`quarkus.rest-client.config-key.connection-pool-size=5`

connect-timeout,read-timeout,connection-ttl variables don't affect the result.
Sometimes, it manages to do "yet another round" of requests, so if pool-size is N, it appear to get 2*N work

[2022-11-16 12:45] loicmathieu opened #29303 "Kubernetes extension generates two Ingress rules"
### Describe the bug

When using the Kubernetes extension and enabling the Ingress generation via `quarkus.kubernetes.ingress.expose=true`, two rules are created.

[code]

### Expected behavior

Only one rule should be created.

[code]

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Ubuntu 22.04

### Output of `java -version`

17

### G

[2022-11-16 12:47] Sgitario commented on #29303
This is already fixed by https://github.com/quarkusio/quarkus/pull/29264.

[2022-11-16 12:47] #29303 closed

[2022-11-16 13:12] afalhambra opened #29304 "Some tests are failing for rest and reactive data panache"
### Describe the bug

It seems that since this commit https://github.com/quarkusio/quarkus/commit/d24ec2ec6720e559b798ebf4dc7cc3a320e2c7e4 was merged, we got some failures in our test suite related to it.

For instance:
[code]

It's actually calling a rest data panache based [endpoint](https://github.com/quarkus-qe/quarkus-test-suite/blob/main/sql-db/panache-flyway/src/test/java/io/quarkus/ts/sqld

[2022-11-16 13:13] afalhambra commented on #29304
@Sgitario fyi

[2022-11-16 13:19] DavideD commented on #29248
I've been bitten by this before :)

[2022-11-16 13:51] mmusgrov opened #29307 "Upgrade narayana dependencies to version 5.13.1.Final"
### Describe the bug

This is a standard narayana version upgrade.
The release notes are https://issues.redhat.com/secure/ReleaseNote.jspa?projectId=12310200&version=12392792

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM vers

[2022-11-16 14:05] DavideD commented on #29248
O zip of a full quarkus project to see the error would work for me.

[2022-11-16 14:07] jacksoncastro commented on #24581
Hello everyone!

I basically had the same problem. When running `./mvnw verify` Quarkus uses the profile "prod" instead of "test". This ends up forcing me to use `test` settings in the `default` profile.

Can anyone help?

[2022-11-16 14:09] gastaldi opened #29309 "Javadoc Warnings in the Gradle plugin"
### Description

While building Quarkus (using `./mvnw -B clean install -DskipTests -DskipITs -DskipDocs -Prelocations`), I get the following warnings while building the Gradle plugin:

[code]

### Implementation ideas

Fix the Javadoc warnings

[2022-11-16 14:17] geoand commented on #24581
For now, you can use the legacy `quarkus.test.native-image-profile` configuration property set whatever property you like

[2022-11-16 14:22] cescoffier commented on #29301
That's the expected behavior. We limit the number of outgoing connections to the same endpoints. The`5` magical numbers come from browsers. I recommend increasing it but also understanding that the target system may not have infinite concurrency.

Using RequestScope creates a new pool every time; it's inefficient in terms of resource usage.

[2022-11-16 14:23] cescoffier commented on #29301
BTW, you can increase the number of connections and combine them with `@Bulkead`.

[2022-11-16 14:24] #29206 closed

[2022-11-16 14:32] Chexpir commented on #29301
@cescoffier thank you very much Clement for dedicating time to this.

Just to be clear, connections are not concurrent, so I was expecting to reuse the connections, or TTL configuration to drop those connections.
I know RequestScoped is not efficient, hence here I am writing (also it's a short-term solution, I'll be back on rest client reactive as soon as I can configure SSL for RestClientBuilder)

[2022-11-16 14:38] Eng-Fouad commented on #29107
This is an example of using `ProcessBuilder`:

[code]

However, it doesn't work unless we add `NotifyAccess=all` to the service unit file:

[code]

The following warning appears in logs if we don't specify `NotifyAccess=all`:

---

cc @Sanne, @aloubyansky, @gsmet, @radcortez, @stuartwdouglas @geoand @dmlloyd @grossws

[2022-11-16 14:50] Eng-Fouad commented on #29107
Which class in Quarkus codebase can we include `SystemdNotifier.notify()`?

`io.quarkus.runner.ApplicationImpl`'s `doStart()` and `doStop()`?

Also, I think it is good to have a corresponding config to enable/disable this feature. Something like:

[2022-11-16 14:54] Chexpir commented on #29301
@cescoffier I will create one as soon as I have a short-term fix for my project and put it here.

[2022-11-16 15:13] fjtirado opened #29311 "Async API"
### Description

This extension will define a set of java interfaces that allows accessing information hold by an AsyncAPI file  (An interface equivalent in functionality to [OpenAPI](https://github.com/swagger-api/swagger-core/blob/master/modules/swagger-models/src/main/java/io/swagger/v3/oas/models/OpenAPI.java))

As part of its deployment part, this extension will parse a set AsyncAPI file and

[2022-11-16 15:17] stefan-pavlovic-ded opened #29312 "NPE thrown when trying to connect to existing Keycloak devservice"
### Describe the bug

We have a setup where we got multiple Quarkus apps working together. As such, when starting it locally in development mode, we rely on devservices provided by Quarkus and share the Keycloak instance. We do not really configure anything on the devservice except fixing the port and this was working fine before Quarkus 2.14.0.Final. After the update, we keep getting the followin

[2022-11-16 15:21] gastaldi commented on #29311
I think it makes sense to name it `quarkus-asyncapi`, and separate into Maven modules if necessary, WDYT?

[2022-11-16 15:30] fjtirado commented on #29311
Ill take a deeper look, since the purpose of this one is unclear to me

[2022-11-16 15:45] fjtirado commented on #29311
I would create one quarkus-async-api foled and under it quarkus-async-api-config-generator and quarkus-async-api-metadata, wdyt?

[2022-11-16 15:49] gastaldi commented on #29311
You can skip the `quarkus-async-api` prefix in the subfolders' names (while keeping it in the artifactId)

[2022-11-16 15:51] mkouba commented on #16767
In Quarkus, you can try to use [testing profiles](https://quarkus.io/guides/getting-started-testing#testing_different_profiles) and enable an `@Alternative` bean for the specific profile.

[2022-11-16 15:54] sberyozkin commented on #29312
Sorry about it, I forgot about the sharing case, will fix now

[2022-11-16 17:01] #29240 closed

[2022-11-16 17:14] jacksoncastro commented on #24581
Thanks for the answer.

I did the test and actually when running the final jar it added the `-Dquarkus.profile=test` argument, but the scope of the application remains `prod`.

<details>
  <summary>Detailed code</summary>

[code]
</details>

What ends up generating this error:

`Driver does not support the provided URL` - which in turn is an H2 driver for test scope only.

Is it possible to run th

[2022-11-16 17:15] GavinRay97 commented on #29283
I guess literally nobody is setting non-default JVM options on their Quarkus containers? 🤣
Quite wild

[2022-11-16 17:46] damonsutherland opened #29316 "ServerJacksonMessageBodyReader and JacksonBasicMessageBodyReader "should" catch JsonProcessingException"
### Describe the bug

When de-serializing JSON in a request, we want to catch client input errors due to malformed data. Unfortunately, we have run into situations where the exception Jackson is throwing is one of several JsonProcessingExceptions, i.e., a JsonMappingException, JsonParseException or DatabindException. As a result, the intended BAD_REQUEST is met with a SERVER_ERROR.

Using Exceptio

[2022-11-16 17:50] damonsutherland commented on #29316
As a side note, the work-around is easy; just posting this bug to help keep the intention of the ServerJacksonMessageBodyReader pure.

[2022-11-16 17:53] danielbobbert commented on #25630
Has this been fixed? I just tested with Quarkus 2.14.0.Final and the workaround doesn't seem to be necessary any longer.

[2022-11-16 18:21] DavideD commented on #25630
This has not been fixed yet.
It might look like it works for your specific use-case but you shouldn't rely on this.

[2022-11-16 18:42] Sgitario commented on #29304
Those tests were working before because you were overriding the `findAll` method in the UserRepository: https://github.com/quarkus-qe/quarkus-test-suite/blob/main/sql-db/panache-flyway/src/main/java/io/quarkus/ts/sqldb/panacheflyway/UserRepository.java#L12

From https://github.com/quarkusio/quarkus/commit/d24ec2ec6720e559b798ebf4dc7cc3a320e2c7e4, we're not using the `findAll()` method any longer,

[2022-11-16 18:42] #29304 closed

[2022-11-16 18:43] pjgg opened #29317 "Bump `com.google.protobuf:protobuf-java` to a newer version"
### Describe the bug

There is a [new](https://github.com/protocolbuffers/protobuf/releases/tag/v21.7) JavaProtobuf artifact released that contains some performance improvements. Would be great to upgrade the current BOM version to a newer version

[2022-11-16 20:14] oliv37 commented on #6356
I had the same problem, I solved it by adding `@Column(columnDefinition="uuid")` on the `UUID` field of the entity.

[2022-11-16 20:48] #29312 closed

[2022-11-16 21:05] fikrutm opened #29319 "Expose Quartz underlying configuration in Quarkus/quartz for perfomance tuning"
Currently we are using Quarkus/quartz cluster mode with `store-type: jdbc_tx`, in a situations where the scheduler has very large numbers of triggers that need to be fired at or near the same time.

Per quartz official documentation http://www.quartz-scheduler.org/documentation/quartz-2.3.0/configuration/ConfigMain.html#configuration-reference the performance expected to improve by setting:

`org.

[2022-11-16 22:44] sgrissom-rxss commented on #22844
@glefloch did anything come of this from the Gradle forums? I tried searching there as well but didn't find any related conversations.

[2022-11-16 23:07] michalvavrik commented on #29110
We discussed this with @brianmolinaspring in https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/7028 sufficiently, and this is definitely a duplicate of #28915, hence we should close the issue.

[2022-11-16 23:07] #29110 closed

[2022-11-17 01:23] fleyer commented on #5485
Hey there, sorry to bump this issue but I ve encounter a strange behavior. I ve set as the documentation shows the quarkus.http.auth."permission".policy to authenticated with the appropriate paths and I m using the oidc package. So here is the problem : when I pass a good token, the server returns 200, when I pass a bad token the server returns 401. But if I don t pass a token the server retruns 2

[2022-11-17 05:49] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3485496072

[2022-11-17 06:04] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3485497985

[2022-11-17 06:20] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3485534162

[2022-11-17 08:10] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/3485533540

[2022-11-17 08:20] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3485534162

[2022-11-17 08:25] Sirz3chs opened #29325 "Named oidc-client configuration from .env file is null"
### Describe the bug

I'm creating an named oidc-client in my application and the configuration come from a `.env` file. When quakus starts the config properties are loaded correctly but the injected client is `null`, same when injecting `OidcClients`, there's no client inside. The exact same configuration in `application.properties` file is working fine. If the client is not a named one, it seem'

[2022-11-17 09:08] sberyozkin commented on #29325
Hey @radcortez, can you have a quick look please, I recall you were advising to have `application.properties` contain empty declarations anyway due to `oidc-client` containing a `-`, not sure it is related, please clarify again and I'll doc it, thanks

[2022-11-17 09:48] geoand commented on #29316
Are you sure that `JsonProcessingException` isn't too broad? I can't really tell from its Javadoc whether it's only about malformed input

[2022-11-17 09:51] YassinHajaj commented on #29253
Hi @gsmet,

Here it is : https://github.com/YassinHajaj/quarkus-issue-29253

[2022-11-17 10:19] geoand commented on #15863
@sberyozkin should this be closed?

[2022-11-17 10:20] HerrDerb commented on #28402
Works like a charm 👍👌 Thank you

[2022-11-17 10:25] geoand commented on #28402
👌

[2022-11-17 10:46] kjozsa opened #29328 "Camel component gets created twices if using CDI"
### Describe the bug

When using the Camel Quarkus extension, if a Camel component is also marked with a CDI annotation, it gets created twice.

[code]

the initialization messages is shown twice. If I remove `@ApplicationScoped` then the class only gets instantiated once.

### Output of `uname -a` or `ver`

Linux manta 6.0.8-arch1-1 #1 SMP PREEMPT_DYNAMIC Thu, 10 Nov 2022 21:14:24 +0000 x86_64 GN

[2022-11-17 11:07] geoand commented on #29319
Seems reasonable to me

[2022-11-17 11:22] machi1990 commented on #29319
Makes sense to me as well.

@fikrutm will you be interested in implementing it? We are happy and will be here to guide you. Thanks

[2022-11-17 11:26] StFS opened #29331 "Add a clarification to the documentation for AWS Lambda about the DISABLE_SIGNAL_HANDLERS env variable"
### Description

The documentation [for how to deploy a Quarkus based AWS Lambda](https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/amazon-lambda.adoc#deploy-to-aws-lambda-custom-native-runtime) mentions that when deploying a lambda, the DISABLE_SIGNAL_HANDLERS=true environment variable needs to be set.

However, it doesn't explain anything about why this is needed or reference

[2022-11-17 13:03] gastaldi commented on #29311
Actually I think `quarkus-asyncapi` makes more sense, I'll create the repository now

[2022-11-17 13:05] mmusgrov commented on #29157
The answer I got is that an implementation should raise IllegalStateException if the feature is unsupported and therefore the TCK cannot test compliance. So we'd need to add our own tests if we want to support this behaviour.

[2022-11-17 13:12] #29311 closed

[2022-11-17 13:34] qaltrakadmin opened #29336 "kotlinx.serialization.SerializationException: Serializer for class 'ArrayList' is not found."
### Describe the bug

Hi,
thanks for the fix of https://github.com/quarkusio/quarkus/pull/28134

But it looks like this has introduced a new issue.
When using Lists, with a ResponseBuilder `RestResponse.ResponseBuilder.ok(mutableListOf("apples"))`

### Expected behavior

I expect a response body should be `["apples"]`.

### Actual behavior

Respnse:
[code]

Stack trace:
[code]

### How to Reproduc

[2022-11-17 13:38] geoand commented on #29336
Thanks for reporting.

I'll have a look soon

[2022-11-17 13:38] qaltrakadmin commented on #29336
Thanks @geoand

[2022-11-17 13:40] cescoffier commented on #21437
And .... ..... ..... DONE! Awesome work @ozangunalp !

[2022-11-17 13:40] #21437 closed

[2022-11-17 13:42] #29317 closed

[2022-11-17 14:14] cescoffier commented on #9987
ah ah ah!

@mkouba  fixed this issue already (#27183)

Just adding a few tests to verify!

[2022-11-17 14:16] #29307 closed

[2022-11-17 14:29] loicmathieu commented on #8671
This has been provided inside the Google Cloud Services extension pack in https://github.com/quarkiverse/quarkus-google-cloud-services/pull/336

[2022-11-17 14:29] #8671 closed

[2022-11-17 14:31] cescoffier commented on #9987
Here are the tests: https://github.com/quarkusio/quarkus/pull/29339

[2022-11-17 15:48] pcaceresf commented on #21860
i have the same problem, but my solution  its no using more quarkus until really mature System.
Bye quarkus

[2022-11-17 16:47] damonsutherland commented on #29316
We could certainly be more targeted. JsonProcessingException seemed appropriate to me. That said, there are two general issues I am hoping to address:

1. **Malformed JSON:** Missing a closing brace, comma's in the wrong place, i.e., basic syntax issues. From what I can tell, these types of issues manifest as a JsonParseException (which inherits StreamingReadException, which inherits JsonProcessin

[2022-11-17 16:59] syr commented on #28552
OK sounds good. I was referring to the status shown at code.quarkus.io.
Is there a rough roadmap weeks/months/2023 when to expect these extended otel support beeing released?
This info would be very helpful to decide how much effort we put in otel agent fixes.

Yes I noticed quite some issues (mainly three points in https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/7120#i

[2022-11-17 19:29] spolti commented on #23832
Hi @iocanel do you know if the fixes are already on Quarkus 2.14?

[2022-11-17 22:08] viswatejan opened #29345 "Add support for web-app type OIDC applications to forward specified query params to the OIDC provider"
### Description

Many OIDC Identity providers use the `login_hint` query param to auto-fill the username/email on the login page.

In addition to that, Keycloak uses `kc_idp_hint` to force authentication with a specific configured identity provider like google, facebook, etc. And also Keycloak JS adapter supports forwarding kc_idp_hint and login_hint from the app URL to the identity provider autho

[2022-11-17 23:23] sberyozkin commented on #29345
Makes sense

[2022-11-18 05:21] fikrutm commented on #29319
@machi1990 I am glad to take the implementation, and needs a guide how to get started?

[2022-11-18 05:34] kstan79 commented on #23015
tried, me too. no matter use cli or download .zip from code generator

[2022-11-18 06:01] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3494311829

[2022-11-18 06:17] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3494353677

[2022-11-18 06:49] geoand commented on #29316
I think this is the safest thing to do. Would you like to contribute this fix?

[2022-11-18 06:54] #9987 closed

[2022-11-18 07:03] mkouba commented on #29328
In fact, the component itself is not created twice but CDI injects a [client proxy](https://quarkus.io/guides/cdi#client_proxies) for each normal scoped bean and a client proxy is created via a no-args constructor of a bean; and `@ApplicationScoped` is a normal scope. That's the reason why you see the kotlin initializer block called twice (because it's placed in the class constructror; no-args con

[2022-11-18 07:03] #29328 closed

[2022-11-18 07:24] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3494353677

[2022-11-18 07:26] mcanzerini opened #29348 "Reactive - Support multi hosts connection to Postgres"
### Description

I need to connect to multiple postgres hosts with hibernate-reactive.

With the classic jdbc driver, we can define this property to connect to our HA postgres instance:

`quarkus.datasource.jdbc.url=jdbc:postgresql://my.host-1.com,my.host-2.com,my.host-3.com:5432/myDB`

But [here](https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-pg-client/src/main/java/io/vertx/

[2022-11-18 07:32] maxandersen commented on #26487
Any chance you got the full error/stack trace ?

[2022-11-18 08:15] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/3494352944

[2022-11-18 08:43] kjozsa commented on #29328
Thanks @mkouba, it makes sense, and I do agree on the `@PostConstruct` part too. The part I don't see is that why this client proxy is only causing this in case the CDI-enabled component is a Camel one. Anyway, it might be worth to note this somewhere in the Camel extension's documentation because it's a bit counter-intuitive, and at the first glance it really looks like a trivial bug.

[2022-11-18 09:21] gsmet commented on #13765
This is a very old issue and SSL support significantly improved in GraalVM. Let's close it. If you encounter a similar issue, please open a new issue with a reproducer.

[2022-11-18 09:21] #13765 closed

[2022-11-18 09:22] gsmet commented on #22464
@cescoffier @alesj any idea if this has been addressed?

[2022-11-18 09:24] #29275 closed

[2022-11-18 09:32] manovotn commented on #29328
The behavior @mkouba  explained will happen with any bean that needs a proxy (any normal scoped bean); it has nothing to do with Camel.

[2022-11-18 09:36] alesj commented on #28609
Linking the issue: #29328

[2022-11-18 09:38] manovotn commented on #28783
@luca-bassoricci can you please create a new issue and attach a reproducer?

[2022-11-18 09:40] kjozsa commented on #29328
Thanks for the explanation, much appreciated.

[2022-11-18 09:54] brunobat commented on #28552
@syr This is the current Roadmap: https://quarkus.io/blog/quarkus-observability-roadmap-2023/

[2022-11-18 10:18] syr commented on #28552
Wow this sounds really promissing and gives a very specific picture. Thanks for sharing @brunobat

[2022-11-18 10:37] syr commented on #28552
Wow this sounds really promissing and gives a very specific picture. Thanks for sharing @brunobat

I would wrap it up here now and close the ticket as we have a perspective for 2023.

For everyone looking for a workaround/fix to get traceId, spanId set in logs when using libs which are not instrumented by quarkus-opentelemetry atm (e.g. quartz, aws sdk) I woud advice to use otel agent, by:

1. upd

[2022-11-18 11:31] fberthelon opened #29349 "Thread blocked when starting multiple instances of gRPC server with SSL"
### Describe the bug

After upgrading from Quarkus 2.10.4 to 2.13.3, our gRPC server was throwing thread blocked exception indefinitely. After investigation, we found that the issue started with Quarkus 2.13.1 and still occurs in 2.14.1.

We are able to reproduce the issue with a minimal application (code sample generated from Quarkus.io) including gRPC with SSL and multiple instances.

This issue

[2022-11-18 11:44] loicmathieu opened #29350 "Enhancements to the Kubernetes extension"
### Description

I recently try the Kubernetes extension to generates Kubernetes ressources and I have some feedback / enhacement proposals :

- When specifing container ressources, there is a log that seems not necessary
[code]
- The Ingress is using port value instead of port name, the deployment specify a port name of `http`, it would be better to use it instead of the port value.
- When adding

[2022-11-18 12:44] cescoffier commented on #29349
The question is whether the same happen with the new gRPC server.

[2022-11-18 12:46] cescoffier commented on #22464
We have a partial fix in place, but it causes other issues. @ozangunalp looked at it recently, and we may need to change how Avro imports are referenced.

[2022-11-18 13:26] timonzi opened #29351 "quarkus-undertow removes/clears entity stream"
### Describe the bug

Given is a very basic project with RESTEasy Classic and an implementation of the `ContainerRequestFilter` interface.

When including the io.quarkus:quarkus-undertow Maven dependency, the entity stream of the HTTP request (respectively `ContainerRequestContext`) is empty.

`IOUtils.toString(requestContext.getEntityStream())` returns an empty string.

Without the dependency I g

[2022-11-18 13:34] kjq commented on #29227
Curious if you have had any luck with this since we are putting together a plan to either hold-off or remove all use of @BeanParams because it is starting to cause us other issues downstream.

[2022-11-18 13:36] Karm commented on #29349
Hello, @fberthelon, you included Mandrel version, does it mean this issue is native-image specific? If so, building Java classes with JDK 18 and compiling to native with JDK 17 based Mandrel is ill advised.

Please, clarify if this is a native-image specific bug report.

Cheers

[2022-11-18 13:39] fberthelon commented on #29349
Hello @Karm,
I was able to reproduce the issue in both cases native image and running test locally (JVM).
The only case where this issue cannot be reproduced is starting the application in dev mode.

[2022-11-18 13:41] Karm commented on #29349
@fberthelon Ack. I will remove the native image label then.

[2022-11-18 14:19] Karm commented on #25404
Hello, @mbchangellc, have you tried with https://github.com/quarkusio/quarkus/pull/24474 ?

[2022-11-18 14:21] Karm commented on #14613
Hello @ewoks, is this still an issue for you?

[2022-11-18 14:23] ozangunalp commented on #22464
Even before the fix I am working on, avro imports already work. You can add `avro.codegen.avsc.imports=id.avsc` (comma separated directory or file name, relative to src/main/avro) and those files will be parsed before other files in `src/main/avro`, so that they can be referenced.
I don't know how the config key `avro.codegen.avsc.imports` translates to yaml though, I couldn't make it work inside

[2022-11-18 14:36] Karm commented on #25672
With these modifications to the original reproducer:
[code]

The build completes for me just fine, the memory consumption is nothing outlandish or unexpected:

[code]

[2022-11-18 14:36] #25672 closed

[2022-11-18 14:45] mkouba commented on #23407
Have you tried the [custom log handler](https://github.com/quarkiverse/quarkus-logging-json#custom-log-handler) from the `io.quarkiverse.loggingjson:quarkus-logging-json`?

[2022-11-18 14:45] Karm commented on #18000
Hello @pjgg, can you still reproduce this with the contemporary Mandrel & Quarkus?

[2022-11-18 14:46] ielkhalloufi opened #29354 "UserError$UserException Feature io.quarkus.runtime.graal.ResourcesFeature class not found on the classpath"
### Describe the bug

Hi,

I get the following error when I try to build a native image with docker:
[code]
I cannot install graalvm locally because of company policy.

**Error exception:**
[code]

When I run in debug mode, we can see that it failed because of the following error:
[code]

**Maven config:**
[code]

### Expected behavior

Building an executable

### Actual behavior

Fails in the bui

[2022-11-18 14:57] luca-bassoricci commented on #28783
[issue-28783.zip](https://github.com/quarkusio/quarkus/files/10042202/issue-28783.zip)
I have uploaded a reproducer
Error is

[code]

Removing `@Transactional` from `org.acme.Service#txMethod()` get rid of the problem

[2022-11-18 15:08] mkouba commented on #17808
So `INFO  [io.qua.grp.run.GrpcServerRecorder] (Quarkus Main Thread) Registering gRPC reflection service` and `INFO  [io.qua.grp.run.GrpcServerRecorder] (vert.x-eventloop-thread-0) gRPC Server started on 0.0.0.0:9000 [SSL enabled: false]` are still there. I did not try the GraphQL WARN.

I think tha the `gRPC Server started ...` is useful and does not need to be merged with `Listening on...` which

[2022-11-18 15:09] gsmet commented on #29354
Please provide a simple Maven reproducer.

[2022-11-18 15:12] Manfred73 commented on #15891
When I use ```RestResponse<StreamingOutput>``` I get a compilation error in Intellij:

[code]

Both are the same classes (maybe different libs on the classpath?). Both seem to point to io:quarkus.resteasy:resteasy-reactive-common:2.12.3.Final though.

[code]

[2022-11-18 15:25] Manfred73 commented on #28385
This workaround is a lifesaver!
Been troubleshoothing for hours why I got some weird result back from the StreamingOutput (when processing it showed the classname$1..... instead of the filecontent).
Adding this ```StreamingOutputMessageBodyWriter``` does the trick.

[2022-11-18 15:30] FroMage commented on #29227
We don't support bean params with annotations on the accessors, but it doesn't seem to be your case.

[2022-11-18 15:30] FroMage commented on #29227
Would you be willing to build Quarkus from sources with my fix to verify that it works for you?

[2022-11-18 15:40] kjq commented on #29227
Absolutely.  And no rush - we just need to put a mitigation plan together
on on end.

On Fri, Nov 18, 2022 at 10:30 AM Stéphane Épardaud ***@***.***>
wrote:

--

*KimJohn ***@***.*** ***@***.***>*

*Logicdrop**O* 888.229.2817
*M* 248.882.0728
*www.logicdrop.com <http://www.logicdrop.com/>*

[2022-11-18 15:56] JFeoks commented on #28975
Hi!
@DavideD , I also have a problem with Lazy loading, but I would like to make sure that this happens under similar circumstances so as not to open a new issue. Can you take a brief look at my case too, please? Is this the same thing, or do I need to start a new issue?

For simplicity, I trimmed the model:
[code]

Join fetch query:
[code]

This leads in my mapper to::
[code]

From the interestin

[2022-11-18 16:09] kjq commented on #29227
Yes, I will give it a try tonight/this weekend and let you know...

On Fri, Nov 18, 2022 at 11:02 AM Stéphane Épardaud ***@***.***>
wrote:

--

*KimJohn ***@***.*** ***@***.***>*

*Logicdrop**O* 888.229.2817
*M* 248.882.0728
*www.logicdrop.com <http://www.logicdrop.com/>*

[2022-11-18 16:11] ielkhalloufi commented on #29354
@gsmet What is a maven reproducer? I updated the bug report with my maven configuration. It is a simple console app, with 6 Java classes.

[2022-11-18 16:42] damonsutherland commented on #29316
Sure

[2022-11-18 16:59] DavideD commented on #28975
I think it's the same issue. [I've already sent a fix in Hibernate Reactive](https://github.com/hibernate/hibernate-reactive/commit/13fb7c31abcbe158ad0caae9c614610d1d05a2ee?diff=unified).

This should work in the next release (maybe you can test the snapshot on `main` and let use know).

[2022-11-18 18:15] cescoffier commented on #17808
Indicating that the reflection service is useful to know if you can use the gRPC toolings (like grpcurl).

It's something we enabled by default in dev but disable by default in prod. So, for a regular users it may not be simple to understand if it's enabled or not.

[2022-11-18 18:17] cescoffier commented on #22464
I think there is an issue open about yaml. I think we need some quote in yaml, but not totally sure.

[2022-11-18 18:36] zakkak commented on #25404
Note: The actual changes are in https://github.com/quarkusio/quarkus/pull/27551

[2022-11-18 23:44] kjq commented on #29227
Quick update, I finally got your fork/ref to compile (had to disable gradle for some reason), and I can match up your changes...

At a quick pass, it seems to compile with `@BeanParams` now and is failing very specifically on one @BeanParam usage.  I am going to dig into it more.

Looks like progress though ;)

[2022-11-19 00:55] dmlloyd commented on #29107
This is a good point and would be a tradeoff that perhaps some would not wish to make.

There is a third option.  Since Java 16, Java has had support for `UNIX` type sockets. The `sd_notify` function simply sends a string on a datagram socket, so it should be possible to do the same thing from Java. Here's a totally untested example:

[code]

I think this would suffice, though it's possible that t

[2022-11-19 01:39] kjq commented on #29227
I think I found it, or at least the cause.  Once we got past the ambiguous bean compilation error it seem to have nothing more to do with that.

What I realized was that only methods referencing a specific bean was causing the problems.  Didn't matter if it came from a RESTClient, had a @BeanParam or not, just annotating it as a REST method, Lombok or not - they all failed.

The failure was the sa

[2022-11-19 02:47] TheBlindM opened #29360 "AWT ERR"
### Describe the bug

Compilation exception after adding quarkus-awt

[code]

[code]

### Expected behavior

How to use DaskTop in quarkus

 Desktop.getDesktop().browse(uri);

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

19

### GraalVM version (if different from Java)

22.3

### Quarkus v

[2022-11-19 09:49] lecodeski commented on #23277
Since I have the very same issue in the current 2.14.1 – has the PR been merged yet?

[2022-11-19 11:46] syr opened #29363 "sqs dev services not respecting quarkus.sqs.devservices.service-name"
### Describe the bug

I set quarkus.sqs.devservices.service-name for a profile like

[code]

as documented in
https://quarkiverse.github.io/quarkiverse-docs/quarkus-amazon-services/dev/amazon-sqs.html#_provision_sqs_locally_via_dev_services

I start quarkus application with quarkus profile 'localstack'

There is no container created with name 'localSQS'

### Expected behavior

container created wi

[2022-11-19 14:50] abhishekS14 commented on #29309
Hi, is anyone investigating this? If not, I'd like to work on it. Thanks!

[2022-11-19 15:31] gastaldi commented on #29309
@abhishekS14 it's up for grabs, go ahead and submit a PR 😉

[2022-11-19 16:50] Postremus opened #29364 "Opentelemetry for scheduler"
### Description

I am using `quarkus-scheduler` and `quarkus-opentelemetry`.
Right now, a scheduler invocation does not create a new span.

[code]

This outputs `2022-11-19 17:44:16,006 INFO  [org.acm.Sched] (vert.x-worker-thread-0) 0000000000000000`, which is an invalid span id - no span is open at that point.

Can this please be added?

### Implementation ideas

_No response_

[2022-11-19 18:17] maxandersen commented on #25795
@sberyozkin is there something blocking us for doing this rename + relocation of artifacts?

[2022-11-19 18:22] Eng-Fouad commented on #28656
@cescoffier vetx-redis-client 4.3.5 is released, which has the fix for this issue.

[2022-11-19 21:16] michalvavrik opened #29366 "Native image contains over 2 thousand BouncyCastle classes by default"
### Describe the bug

My native image contains BouncyCastle classes, but I don't think I need all of them. Quarkus Security registers BouncyCastle classes for reflection here https://github.com/quarkusio/quarkus/blob/main/extensions/security/deployment/src/main/java/io/quarkus/security/deployment/SecurityProcessor.java#L164, here https://github.com/quarkusio/quarkus/blob/main/extensions/security/d

[2022-11-19 21:17] michalvavrik commented on #29366
/cc @sberyozkin

[2022-11-19 21:35] michalvavrik commented on #29366
I opened the issue as I'm having zero luck to reproduce https://github.com/quarkusio/quarkus/issues/28250, any hints / information are welcomed.

[2022-11-19 23:18] Ashyum commented on #29196
Hey, I want to contribute to this project, but I don't know how to start. I know Java. What else do I need to learn before I can start contributing? Please help me little in understanding this issue or give me some direction. Thank you

[2022-11-20 08:05] nagin commented on #29088
This happens in dev mode only and not in Production.

[2022-11-20 08:05] #29088 closed

[2022-11-20 09:47] abhishekS14 commented on #29309
#29367

[2022-11-20 09:49] abhishekS14 commented on #29309
#29367
Javadoc Warnings in the Gradle plugin #29367

[2022-11-20 10:00] abhishekS14 commented on #29309
Hi @gastaldi ,
"First-time contributors need a maintainer to approve running workflows" - Can you please approve the PR for the required checks?

[2022-11-20 10:47] debu999 commented on #21110
Hi @Sanne  seems there has been somework on this. Is this now being planned for being supported in Quarkus. We now do Reactive APP + Jdbc Database conneciton via agroal.

[2022-11-20 11:10] sberyozkin commented on #29366
I suppose this is how BC is structured, initializing one of provider classes has a chain effect

[2022-11-20 13:43] cescoffier commented on #28656
Yes, I know. We will update vertx in Quarkus 2.15 (December)

[2022-11-20 14:26] JFeoks commented on #28975
@DavideD, thanks! I'll try to experiment with it. So far, my WA is to use the parameter not as a foreign key, but as an id.

[2022-11-20 16:51] michalvavrik commented on #28250
Hello @erik-wramner ,

please give me one example (algorithm, signature or message digest) that needs to be registered for reflection. I could easily be wrong, but I don't think it is really necessary as all providers algorithms seems to be registered. Just give me one example that's failing.

Thank you,

Michal

[2022-11-20 17:02] michalvavrik commented on #29366
Yes @sberyozkin , I went through BC provider impl. and I think you are right, but in that case:

- we don't really need to do these registrations for reflection, do we? We have got ITs, so we will know if things has changed
- it's really pity; it seems we can't explicitly exclude them https://github.com/oracle/graal/issues/3225 and also judging by `org.bouncycastle.jce.provider.BouncyCastleProvide

[2022-11-20 17:18] abhishekS14 commented on #29309
Hi @gastaldi
Can you please review my new PR? I have squashed the commits in one PR

[2022-11-20 17:43] gastaldi commented on #29309
@abhishekS14 thanks, good job

[2022-11-20 19:07] sberyozkin commented on #29366
Hi @michalvavrik I think what matters is how much the native image is affected, I'd not be surprised if some other 3rd party libraries were having a similar impact. BC has a lot of nested classes, a single outer class can have 10 or so number of micro size nested classes, and perhaps the real impact is not that critical...
Thanks

[2022-11-20 19:21] michalvavrik commented on #29366
Thanks for feedback

[2022-11-20 19:21] #29366 closed

[2022-11-21 04:03] TheBlindM commented on #29360
anyone there? Help

[2022-11-21 05:55] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3511638689

[2022-11-21 06:06] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3511638689

[2022-11-21 06:07] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3511601704

[2022-11-21 06:40] geoand commented on #29363
This issue should opened in https://github.com/quarkiverse/quarkus-amazon-services as SQS related code is no longer part of the core repo

[2022-11-21 06:40] #29363 closed

[2022-11-21 06:58] cescoffier commented on #29236
We already have metrics in place, so this issue is modestly about verifying we have meaningful ones.

[2022-11-21 06:59] cescoffier commented on #17465
The new gRPC server uses the HTTP port (which can be random), so it fixes this issue.

[2022-11-21 06:59] #17465 closed

[2022-11-21 07:36] mkouba commented on #17808
Thanks @cescoffier.  In that case, gRPC is fine.

[2022-11-21 07:37] geoand commented on #15891
The problem you mentione above has nothing to do with Quarkus, it's a limitation of the `var` usage. If you use `final StreamingOutput streamingOutput`  then everything works as expected

[2022-11-21 07:59] geoand commented on #29360
@zakkak @Karm is this a known limitation of GraalVM?

[2022-11-21 08:07] iocanel commented on #29350
Thanks @loicmathieu these are some pretty valid points, especially regarding probes.

[2022-11-21 08:20] zakkak commented on #29360
It looks like https://github.com/oracle/graal/issues/5372. @Karm might be able to help a bit more.

[2022-11-21 08:32] mkouba commented on #29364
I wonder if annotating the method with [`@io.opentelemetry.extension.annotations.WithSpan`](https://quarkus.io/guides/opentelemetry#cdi) would work?

[2022-11-21 08:35] zedbeit commented on #29196
@Ashyum to learn about quarkus, the [quarkus guides](https://quarkus.io/guides/) is the best place to get started. You should also try to play around with it by building some applications with it.

[2022-11-21 08:39] machi1990 commented on #29364
I was wondering the same. This issue seems to be related to https://github.com/quarkusio/quarkus/issues/28552

[2022-11-21 08:40] geoand commented on #29336
https://github.com/quarkusio/quarkus/pull/29373 takes care of the problem

[2022-11-21 08:45] AndreasPetersen opened #29374 "OpenTelemetry: 'Failed to export spans' of ignored endpoints, on Kubernetes if otel-collector container starts after Quarkus container"
### Describe the bug

I have a Quarkus 2.14.1 service running on Kubernetes in a pod with an otel-collector. The Quarkus service connects to this otel-collector correctly.

In some cases, the otel-collector container may start after the Quarkus container has started. Every time Kubernetes probes Quarkus at `q/health/live` and `q/health/ready`, Quarkus tries to export spans to the otel-collector, d

[2022-11-21 08:51] zedbeit commented on #29196
I reckon the task is to add a configuration property as a supported Quarkus parameter, so I'm thinking that may be there should be a list of properties somewhere, but I checked in the hibernateorm extension but could not find it. @gsmet

[2022-11-21 08:51] ozangunalp commented on #29019
Documentation changed by #29176

[2022-11-21 08:51] #29019 closed

[2022-11-21 09:13] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/3511638301

[2022-11-21 09:18] grasfrosch opened #29376 "Build error processing type annotation on nested generic method parameters"
### Describe the bug

In a kotlin quarkus project compiled with the compiler argument `-Xemit-jvm-type-annotations`, the build fails if a nested type parameter of a method parameter is annotated with a type parameter, for example

    fun foo(bar: List<List<@Valid String>>) {

    }

### Expected behavior

The build should complete without exceptions

### Actual behavior

The build fails with the

[2022-11-21 09:29] ozangunalp commented on #27205
Lazy-initialized Kafka clients are merged on #29176 and can be enabled by the config flag `lazy-client=true` on incoming or outgoing channels.

[2022-11-21 09:31] ozangunalp commented on #27205
Closing this one.

[2022-11-21 09:31] #27205 closed

[2022-11-21 10:07] pjgg commented on #18000
This scenario now is covered on: https://github.com/pjgg/quarkus-test-suite/blob/main/messaging/infinispan-grpc-kafka/src/test/java/io/quarkus/ts/messaging/infinispan/grpc/kafka/InfinispanKafkaSaslIT.java

is working as expected with: `quay.io/quarkus/ubi-quarkus-native-image:22.3-java17`

[2022-11-21 10:09] brunobat commented on #29364
It is the same @machi1990 and using `@WithSpan` on a CDI bean will start a span. However, we should start an Otel context  once a job is started like with in other cases where we are using managed threads... Right @mkouba ?

[2022-11-21 10:17] #18000 closed

[2022-11-21 10:20] mkouba commented on #29364
I believe that since 2.14.0.CR1 we execute the scheduled methods using the managed thread pool (for both `quarkus-scheduler` and `quarkus-quartz`).

@Postremus which version of quarkus do you use?

[2022-11-21 10:21] syr commented on #28552
Reopened for visibility in Observability roadmap  https://github.com/quarkusio/quarkus/projects/20#card-86193431

[2022-11-21 10:24] jyterrien opened #29379 "Quarkus picocli -V default."
### Description

Hi,

Quarkus-picocli extension
When running the command with the -V option
It is not possible to display the version of the Quarkus application.

Indeed the version of the Picocli command is defined in the annotation
[code]
Or with versionProvider which must be a class.
However in Quarkus the name and the version of the application are only available by injection.
[code]
This info

[2022-11-21 10:29] syr commented on #29364
Correct, OTel context init. on quartz job execution is not implemented yet but was moved to the observability roadmap.
https://github.com/quarkusio/quarkus/issues/28552#issuecomment-1277299326

@Postremus
I worked around the issue for now like: https://github.com/quarkusio/quarkus/issues/28552#issuecomment-1319823367

[2022-11-21 10:34] geoand commented on #29376
@Ladicek I am sure you'll have fun with this one 😉

[2022-11-21 10:35] jyterrien commented on #29379
[code]

[2022-11-21 10:36] Ladicek commented on #29376
Looks like a Jandex bug indeed.

[2022-11-21 10:58] Serkan80 opened #29381 "QueryParam not validated if rest controller implements an interface"
### Describe the bug

When the Rest Controller implements an interface where all the JAXRS & Bean Validation annotations are present, then the validation doesn't occur.

Example:

[code]

[code]

Call via HttPie:
`http :8080/v1/mycontroller?myparam=1`

Output:
[code]

pom.xml:

[code]

Note that, as soon as I remove the interface and add all the JAXRS & Validator annotations directly on the Contro

[2022-11-21 11:08] ielkhalloufi commented on #29354
@gsmet @geoand I pushed the code to [Github](https://github.com/ielkhalloufi/graalvm-bug-quarkus)

[2022-11-21 11:12] Karm commented on #29360
@TheBlindM my reply from https://github.com/oracle/graal/issues/5445#issuecomment-1317030624 stands.

We are operating in a headless mode.  Your usage:

is not in the scope of what we support in Quarkus native at the moment. You can do a text user interface though, e.g. spit a link to to terminal the user can click on and have a browser started. You can leverage Picoli to have a quite rich text us

[2022-11-21 11:18] geoand commented on #29360
@Karm so I guess we should close this issue?

[2022-11-21 11:41] geoand commented on #29354
There are a few things wrong in your application from a Quarkus standpoint:

* You are not including any Quarkus dependencies
* You are not actually booting Quarkus in the application
* You are using the shade plugin

It looks to me like you are basically trying to create a CLI application, in that case you need to follow [this](https://quarkus.io/guides/command-mode-reference) guide.

[2022-11-21 11:41] #29354 closed

[2022-11-21 11:42] geoand commented on #29381
Can you please attach a sample application that exhibits this behavior?

[2022-11-21 12:35] geoand commented on #29331
It seems like the env var was added long ago in c8ba30fda793913d468db43ff55bce04aa8be696. And yes, it's only relevant for native-image.

Can anyone test and see if a native application on AWS behaves properly without the environment variable? We probably want to remove it..,

[2022-11-21 12:42] mkouba commented on #29230
I can confirm that quarkus fails to generate the intercepted subclass and the NPE thrown from gizmo does not really help. I'll try to investigate the issue and if possible fix the problem in Arc and improve the error handling in gizmo.

[2022-11-21 12:45] StFS commented on #29331
I could possibly help with that but it would help to know what behavior to look for as undesirable. Do you have any idea why installing the signal handler (which executes a System.exit()) was undesirable to begin with in a native executable?

[2022-11-21 12:49] geoand commented on #29331
I am not privy to why that was done at the time. @dmlloyd @evanchooly do you remember?

[2022-11-21 12:52] brunobat commented on #29374
I Tried to reproduce this using Smallrye HealhCheck and I could't reproduce the issue.
Filtered spans will not trigger span export.
However, if even one non existing endpoint is called, this will kick the export.
Also... Could this be related with DB calls that are done inside a health check?

[2022-11-21 12:56] geoand commented on #29331
I checked and didn't see much :)

[2022-11-21 13:04] manovotn commented on #28783
Thanks, I'll take a look at it today or tomorrow.

[2022-11-21 13:17] edeandrea commented on #23612
Some GH actions in some other repo have been flaky the last few days, so this could just be a hiccup. I'll give this another day to see if it sorts itself out. If not then I'll start digging into it.

[2022-11-21 13:22] AndreasPetersen commented on #29374
You could be right, we have a connection to a database

[2022-11-21 13:22] radcortez commented on #29297
In previous versions, we used the request URI as the span name, which is not recommended by the spec (due to high cardinality): https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#name

We are now using the route name if we can determine it. If we are getting a `HTTP {METHOD_NAME}`, we could not determine the route. I know there

[2022-11-21 13:38] AndreasPetersen commented on #29374
This reproduces the issue https://github.com/AndreasPetersen/quarkus-issue-29374

[2022-11-21 14:12] manovotn commented on #4918
I think a lot of problems discussed here are now offset by users being able to start coding from archetypes (quickstarts for instance) that bring in the dependencies for them.
On top of that, there is now a sizeable chunk of information provided in SO, Zulip chats and GH issues/discussions that are google-able with some effort and can provide guidance in a lot of cases.

I also agree that hardcode

[2022-11-21 14:12] #4918 closed

[2022-11-21 14:13] tsegismont commented on #29348
@geoand do you know if it is possible to customize connect options in user code?

@mcanzerini as a workaroud, you create the PgPool directly in your application (with your own config options)

[2022-11-21 14:17] #28875 closed

[2022-11-21 14:22] FroMage commented on #29227
Ah, OK, so that explains the second issue that I could not reproduce. Good work hunting it down! I didn't expect `@DefaultValue` to trigger it, I thought it was limited to `@Rest*` and `@*Param`. Thanks a lot!

[2022-11-21 14:24] brunobat commented on #29374
@AndreasPetersen I couldn't reproduce the issue with your reproducer:
The severe line will not show. Please mind you need Entities in oder to launch the entity manager.
<img width="1512" alt="Screenshot 2022-11-21 at 14 21 59" src="https://user-images.githubusercontent.com/2318030/203078909-9f508c24-6dc4-47b4-a3ad-cfafcf1b6e34.png">

[2022-11-21 14:31] patriot1burke commented on #29331
It also might have been related to SSL as well.  I don't remember why its there, but I remember that it was required to run things.  Would be great if it could be removed.

[2022-11-21 14:33] AndreasPetersen commented on #29374
Very strange. It was able to reproduce the issue on my end, but now it does not. I'll investigate further.

[2022-11-21 14:44] AndreasPetersen commented on #29374
Just a side observation, /q/dev does seem to trigger the issue at least

[2022-11-21 15:04] geoand commented on #29348
If you are looking for a way to customize the `PgConnectOptions` that Quarkus creates, then no. But I do think it would be something useful.

[2022-11-21 15:37] #29336 closed

[2022-11-21 15:43] asimpson2004 commented on #26250
I managed to spend some time on this and figured out what the problem is. The problem is **not** Quarkus specific, it is an opentelemetry / lambda issue that the lambda invocation ends and pauses before the BatchSpanProcessor has time to flush it's contents to the collector, therefore nothing is being sent to the collector.

[The problem has been detailed here in point 2.1.](https://github.com/ope

[2022-11-21 15:45] tsegismont commented on #29348
Are there some extensions which do something similar and which I could
inspire from?

[2022-11-21 15:48] AndreasPetersen commented on #29374
Okay, I'm able to reproduce it again now.

![image](https://user-images.githubusercontent.com/2496648/203097294-f4ec5bee-bca9-47f5-8590-2e7f43622c99.png)

(The changes to the files in the screenshot is just some proxy settings to get through my company proxy)

The trick is to ctrl+F5 in the browser (I've tried on both Brave and Chrome). I noticed that if I just make a simple curl request

[code]

[2022-11-21 15:50] geoand commented on #29348
None of the datasource extensions do this IIRC.

I'll open a draft tomorrow to show you what I have in mind (which is in line with the way other extensions like Jackson for example handle such cases)

[2022-11-21 15:51] Serkan80 commented on #29381
@geoand can the problem be caused because the interface `MyApi` is included as an external jar to the application ?
This jar is created with the openapi Maven plugin and the project resources folder doesn't include `META-INF/beans.xml`.

Can this disable the scanning of this interface ?

[2022-11-21 15:54] tsegismont commented on #29348
Cool, thanks

[2022-11-21 15:57] eduleon commented on #25177
yeah. I think it has to do with Gradle caching dependencies. Sometimes when you upgrade Quarkus version and then run a Gradle task you get the error. Another related cause might me the `build` folder 🤔

[2022-11-21 16:15] asimpson2004 commented on #26250
Just to add, I've managed to prove that this is the issue by setting the following environment variables:

OTEL_BSP_MAX_QUEUE_SIZE = 0
OTEL_BSP_SCHEDULE_DELAY = 0

Setting these allows the BatchSpanProcessor to flush data occasionally before the lambda invocation ends but not 100% of the time.

[2022-11-21 16:22] brunobat commented on #29374
Because the span is related with `curl 'http://localhost:8080/favicon.ico'` Not the Healthcheck.

[2022-11-21 16:38] HerrDerb opened #29387 "Mockitos inOrder does not work with @InjectSpy"
### Describe the bug

When using `@InjectSpy` to get a spyable bean during testing, it is not possible to make inOrder verification with the injected spy.

eg.
[code]
which will result in a `org.mockito.exceptions.misusing.UnfinishedVerificationException`

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ve

[2022-11-21 16:40] #29387 closed

[2022-11-21 16:43] brunobat commented on #26250
We would need an implementation of a SimpleSpanProcessor. However, right now there is no way to wire that in Quarkus.
I also think think this is a bug:
https://github.com/open-telemetry/opentelemetry-java/blob/60cc5f452a3609ce748441c6ad75cac471b35bfd/exporters/otlp/all/src/main/java/io/opentelemetry/exporter/otlp/trace/OtlpGrpcSpanExporter.java#L66

The spans might be lost because the thread doing

[2022-11-21 17:12] jsemohub opened #29389 "Allow multiple build profiles, update @IfBuildProfile functionality to recognize provided build profile (out of multiple)"
### Description

Allow multiple build profiles  to enable/disable certain features

@IfBuildProfile functionality could be extended to recognize a provided profile out of many.
Currently, it matches based on a full comma separated string specified via ` -Dquarkus.profile `(or env variable).

For example, the following build parameter/env variable specified -`Dquarkus.profile=db-admin,k18s,prod` co

[2022-11-21 17:13] Schuppel1 commented on #23093
Apache Maven 3.8.6
java version "11.0.17" 2022-10-18 LTS
graalvm-ce-java11-22.3.0

command
mvn -U io.quarkus:quarkus-maven-plugin:create

Still crashes same error

[2022-11-21 18:04] thatjasonbourne opened #29390 "mutliple values in quarkus.oidc.token.header"
### Description

I am using io.quarkus:quarkus-websockets and would like to authorize the handshake request. Since the JavaScript WebSocket API doesn't allow the Authorization header to be sent, I'd like to use the Sec-WebSocket-Protocol header for this, and it works fine when I set `quarkus.oidc.token.header=Sec-WebSocket-Protocol` (quarkus.oidc.token.header is used in BearerAuthenticationMechani

[2022-11-21 18:24] 10101010101010001 commented on #25112
Checkout this link: [https://github.com/keycloak/keycloak/discussions/11464](url)

Keep your knees in the breeze.

[2022-11-21 18:32] Serkan80 commented on #29381
This can be closed.

Adding beans.xml to the external jar solved the problem.

[2022-11-21 18:40] geoand commented on #29381
Thanks for checking

[2022-11-21 18:40] #29381 closed

[2022-11-21 20:01] Postremus commented on #29364
@mkouba

2.14.1.Final

Using `@WithSpan` works, I now get a proper SpanId (like 95d38a815ef4498c).

[2022-11-21 20:02] Serkan80 commented on #28844
It would have been nice if the the all args constructor requirement was not necessary for projections because this way we could directly use the models generated from OpenApi.

[2022-11-21 20:09] #29360 closed

[2022-11-21 20:30] Manfred73 commented on #15891
When I test above endpoint with RestAssured, returning a StreamingOutput, I do get a status code 204, even though I created a RestResponse.Ok, I would expect status code 200. Is this expected behaviour that I get a 204 in this case? Acutally I've tried this with also with the reactive variant Uni<RestResponse<StreamingOutput>>, but with the same result.

[2022-11-22 01:44] TheBlindM commented on #29360
Ok, I understand

[2022-11-22 01:46] TheBlindM opened #29396 "Quarkus AWT"
### Description

Support AWT function:

[code]

### Implementation ideas

_No response_

[2022-11-22 05:38] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3520511601

[2022-11-22 05:54] maxandersen commented on #18087
looks like this fell through the cracks. @ppalaga I don't follow your comment on it affecting users, particularly with QuarkusTestResourceLifecycleManager can you remember it? if you or @stuartwdouglas do, just go and add entry to the migration guide for completeness or add the info here and I can put it.

If no update we should just close it as its been 2 years and afaik still makes sense to have

[2022-11-22 05:58] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3520514043

[2022-11-22 06:02] maxandersen commented on #15844
@aloubyansky this issue was done except for the documentation was not marked as done.

I see https://quarkus.io/guides/conditional-extension-dependencies is there.

Thus closing this. If things missing in docs please open separate more dedicated issue.

[2022-11-22 06:02] #15844 closed

[2022-11-22 06:43] geoand commented on #29348
If you do this, make sure to make the `PgPool` a bean in order to override the Quarkus provided bean.

[2022-11-22 07:10] mkouba commented on #17311
@Paul6552 did you get a chance to verify this problem with a more recent version of Quarkus?

[2022-11-22 07:25] #29389 closed

[2022-11-22 07:45] geoand commented on #29348
@tsegismont https://github.com/quarkusio/quarkus/pull/29397 is what I have in mind (cc @gsmet for awareness as well)

[2022-11-22 07:52] jcsim1024 commented on #28502
Just to keep you up to date, I have not made a lot of progress this weekend , I've mostly read the documentation I'll try to have something working this sunday

[2022-11-22 08:08] loicmathieu commented on #28844
@Serkan80 it's a per design requirement as it's a way to select fields from the database and not retrieve all columns.

@FroMage maybe we need an `asReturnType()` that will replace the parameterized class, this would enable more use cases without broken everything.

I think the signature was not a mistake as it covers  most use cases, and Panache purpose was to cover most use cases not all.
When y

[2022-11-22 08:17] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/3520551497

[2022-11-22 08:41] cescoffier commented on #28997
With the update to Vert.x 4.3.5, the following issues are fixed:

- http2/8.1.2.3 Sends a HEADERS frame with empty ":path" pseudo-header field

[2022-11-22 08:41] cescoffier commented on #28656
Fixed.

[2022-11-22 08:41] #28656 closed

[2022-11-22 09:26] loicmathieu commented on #28844
[code]

`asReturnType()` changes the parameterized type of the `PanacheQuery` but not the query itself (where project chage the query to DTO projection query).

[2022-11-22 09:57] zakkak opened #29402 "MongoDB Client integration-test fails in native mode"
### Describe the bug

MongoDB Client integration-test, and more specifically `io.quarkus.it.mongodb.NativeBookResourceIT.health`, started failing in the CI of [Mandrel](https://github.com/graalvm/mandrel/actions/runs/3519788151) and [GraalVM](https://github.com/oracle/graal/actions/runs/3520053674)

First observed failing commit: 3c920f76932d66a05f2dbee129a8b2571fb4ebc1 in https://github.com/graal

[2022-11-22 10:01] ppalaga commented on #18087
IIRC, the only issue was that accessing the values via System.getProperty() stopped working because of that change. I agree it is a good change and I guess now everybody must have noticed and fixed their test code.

[2022-11-22 10:01] #18087 closed

[2022-11-22 10:04] FroMage commented on #17808
OK but a single line as suggested by Michal was a nice idea: `gRPC server: 0.0.0.0:9000 [SSL
enabled: false, reflection enabled: true]`

[2022-11-22 10:22] FroMage commented on #22211
Yes: https://github.com/quarkiverse/quarkus-renarde/tree/22211

`mvn clean install` will produce this issue:

[code]

[2022-11-22 10:37] FroMage commented on #27623
Good question. I guess it should delay startup, like regular startup listeners, no?

[2022-11-22 10:43] ivansenic opened #29403 "Excluding exception mappers in the Arc results in `NoSuchMethodException`"
### Describe the bug

When a dependency defines exception mappers, the exclusion using the `-Dquarkus.arc.exclude-types` does not work. Even worse, it's ending up in the `NoSuchMethodException`.

The exception mapper is defined as:

[code]

Exclusions that we tried:
* `-Dquarkus.arc.exclude-types=io.stargate.sgv2.api.common.exception.*`
* `-Dquarkus.arc.exclude-types=io.stargate.sgv2.api.common.ex

[2022-11-22 10:44] zakkak commented on #29402
Hmm I was also able to reproduce with the last known working Quarkus revision (https://github.com/quarkusio/quarkus/commit/ff044fff4a1e46cef4dca011ba07de18cc317451) locally, so it looks like it is something not triggered by a Quarkus or GraalVM/Mandrel change...

[2022-11-22 11:01] AndreasPetersen commented on #29374
You're right. I just put the example service up on a Kubernetes cluster with the following probes:

[code]

without a otel-collector container (to simulate it not having started yet). Every 30 seconds I'm getting the error.

[2022-11-22 11:05] FroMage commented on #28844
That's OK for `PanacheQuery` I guess, if a bit too verbose, but in this case we could achieve the same with:

[code]

I've never had the time to test this, but I really wonder what it would cause to drop the constraint.

[2022-11-22 11:17] AndreasPetersen commented on #29374
I had prometheus scraping for metrics:

[code]

Disabling that, the service not longer produces the error. I guess this is what is causing the issue, though I wouldn't think prometheus would be able to scrape on a pod, where all containers are not yet ready?

Anyway, I tried adding a

[code]

to the service (we expose a custom metrics endpoint like this in our service, we don't use the micrometer

[2022-11-22 11:20] joes opened #29404 "[Extension Proposal] Pretty Time NLP"
### Description

PrettyTime :: NLP is an OpenSource, Java Library – enabling simple parsing and computer understanding of natural language, and social date references like, “let’s go to dinner at 6,” or “I’ll be on vacation for three days”.

This extension would allow you to use this library in Quarkus native applications.

The extension provides a singleton `org.ocpsoft.prettytime.PrettyTimeParse

[2022-11-22 11:26] DavideD commented on #28844
I like this approach, but having both `.list` and `.find` seems unnecessary.
At first glance, it seems that changing the signature will give us the flexibility we need to implement this and I don't see any benefit in having `<T extends PanacheEntityBase> PanacheQuery<T> find(String)` over this `<T> PanacheQuery find(String)`:

1. If no return type and no select is specified, we can assume it's goi

[2022-11-22 11:29] brunobat commented on #29374
@AndreasPetersen We filter out URLs from frameworks... You created a user endpoint. Has the same path but we know it's yours.
I think this is issue is not a bug.

[2022-11-22 11:30] AndreasPetersen commented on #29374
The issue does not appear when using the micrometer extension `/q/metrics` endpoint. We'll be looking into filtering our user endpoint then. Thanks for the help, and apologies for the confusion.

[2022-11-22 11:32] brunobat commented on #29374
No worries at all. Your question will certainly help someone else.
Thanks for contributing!

[2022-11-22 11:36] loicmathieu commented on #28844
If we remove the type parameter, people will need to make cast or use method type hints. This will not be a good idea (there is already places where type inference didn't work well and it already feels akward).

@DavideD

`list()` is a shorthand for `.find().list()`.

Here you just declare a parameter type without using it. People will get a raw `PanacheQuery` wich, in most cases, they will cast t

[2022-11-22 11:45] smrtyvz commented on #29403
Hi Ivan,

Have you tried to exclude it with class path in application.properties as it is described [here](https://quarkus.io/guides/cdi-reference#how-to-exclude-types-and-dependencies-from-discovery)

Like :
quarkus.arc.exclude-types=io.stargate.sgv2.api.common.exception.WebApplicationExceptionMapper

[2022-11-22 12:02] mkouba commented on #29403
If you exclude the exception mapper class via `quarkus.arc.exclude-types` then resteasy-reactive attempts to use the no-args constructor to create a mapper instance but fails with `java.lang.NoSuchMethodException: io.stargate.sgv2.api.common.exception.WebApplicationExceptionMapper$GeneratedExceptionHandlerFor$WebApplicationException$OfMethod$webApplicationException.<init>()`.

To be honest, I'm no

[2022-11-22 12:09] mkouba commented on #29403
CC @geoand @FroMage

[2022-11-22 12:15] geoand commented on #29403
Yeah, I wouldn't say this is really supported.
What exactly are you trying to accomplish?

[2022-11-22 12:19] DavideD commented on #28844
It's not about removing it, but there's no benefit in extending `PanacheEntityBase` (I think).

Usually, people wants the entity type or something that maps the select clause.
Anyway, I'm not particularly interested to this, it's fine by me to call an extra method if it makes me return the right type.

Something like this, would seem similar to what we already have:
[code]

[2022-11-22 12:28] gastaldi commented on #29404
@joes I prefer having this extension as another module in https://github.com/quarkiverse/quarkus-prettytime

[2022-11-22 12:41] manovotn commented on #22211
From the current code, it looks like `@RequestScoped` is coming from `RenardeProcessor` via `AutoAddScopeBuildItem`.
The `@Singleton` is indeed a default scope coming from RR processor (`ResteasyReactiveScanningProcessor`) via `AdditionalBeanBuildItem`.

When Arc processes the default scope addition (here), it doesn't check if there is a non-custom scope already present.

[2022-11-22 12:57] manovotn commented on #22211
@FroMage please take a look at https://github.com/quarkusio/quarkus/pull/29407 and if possible test with that.

[2022-11-22 13:15] geoand commented on #7442
@radcortez am I right to assume that we don't currently integrate with [this](https://smallrye.io/smallrye-config/2.12.1/config/secret-keys/) yes in Quarkus?

[2022-11-22 13:28] radcortez commented on #7442
Right now, not automatically. Users can add their own `SecretKeysInterceptor` and manually list the secret keys:
https://smallrye.io/smallrye-config/Main/config/secret-keys/. (We changed the docs to reflect this better).

We have another issue open to provide better integration:
https://github.com/quarkusio/quarkus/issues/29027

[2022-11-22 13:42] Ladicek commented on #29376
Okay so this one is interesting. The method

[code]

is compiled to a JVM method with the following `Signature` attribute:

[code]

In Java syntax, this corresponds to

[code]

The type annotation is compiled down to this:

[code]

So the annotation is correctly attributed to the 1st (or 0th if you wish) parameter of the method, but the type annotation path is wrong.

The type annotation path is b

[2022-11-22 14:02] ia3andy opened #29410 "Quarkus project update tool"
### Description

Following on https://github.com/quarkusio/quarkus/issues/29000

- [x] Create a "Quarkus project update" repo and find a structure (streams, platforms, extensions)
- [x] Find a way to plug the CLI update command to this repository

[2022-11-22 14:13] nscuro opened #29411 "Kafka Streams topology in Dev UI is empty when source topic uses `Pattern`"
### Describe the bug

The Dev UI for Kafka Streams shows no / an empty topology when the source topic uses a `Pattern` instead of static names.

[code]

Upon startup, this logs:

[code]

### Expected behavior

The Dev UI should show display the topology, even when the input topic uses a pattern.

### Actual behavior

The Dev UI does not pick up the topology. It is neither available in image, nor i

[2022-11-22 14:42] ia3andy commented on #29410
cc @quarkusio/devtools

[2022-11-22 14:45] cescoffier opened #29412 "Integrate io_uring support"
This epic is about allowing using io_uring as native transport with Quarkus.

It's:

- only for the JVM mode
- requires io_uring support in Vert.x (in progress)
- going to be experimental

[2022-11-22 14:48] Karm commented on #29402
It has been excluded as not working test in native for some time IMHO:

https://github.com/graalvm/mandrel-packaging/blob/master/jenkins/jobs/tests/Constants.groovy#L38

[2022-11-22 14:54] ivansenic commented on #29403
I want to have the generic mappers in a common-project. But then let anybody use that commons project and avoid having predefined mappers and create their own.

Can I can control mapper inclusion with a property, for example:

[code]

Or is there any other way to conditionally register an exception mapper?

[2022-11-22 14:54] Ladicek commented on #29376
TBH, I'm not sure what's the best solution here. I agree Jandex shouldn't fail like this, but it can't be denied that the Kotlin compiler emits internally inconsistent bytecode. I'm thinking Jandex should probably just skip this type annotation.

[2022-11-22 15:06] zakkak commented on #29402
Interesting, note however that this is not the case for Quarkus GHA, see https://github.com/quarkusio/quarkus/blob/main/.github/native-tests.json#L30.

[2022-11-22 15:12] zakkak opened #29413 "Recent change introduced warnings while building native image of MongoDB Client (and possibly others)"
### Describe the bug

With a recent change native compilation of the MongoDB Client integration test results in warnings.

See https://github.com/quarkusio/quarkus/actions/runs/3523161137/jobs/5909184730#step:12:380

### Expected behavior

No warnings should be printed.

### Actual behavior

[code]

### How to Reproduce?

1. `git clone git@github.com:quarkusio/quarkus.git`
2. `cd quarkus`
3. `./mv

[2022-11-22 15:35] manovotn commented on #17242
The above issue has been resolved (fairly long time ago, too) - closing this issue.
@alexlitovsky feel free to reopen or continue the discussion if you think this isn't resolved.

[2022-11-22 15:38] manovotn commented on #17463
@JiriOndrusek @ppalaga is this issue still relevant? Linked GH issues are now resolved.

[2022-11-22 15:39] edeandrea commented on #23612
@geoand / @ozangunalp / @gsmet Something is either broken or has changed on Quarkus `main`. The failures here over the last several days I can reproduce on my local machine.

Something has change with regards to the way message ack'ing is happening. I'm not sure if something in Quarkus (or some other downstream dependency) needs to be fixed, or something needs to change in https://github.com/quark

[2022-11-22 15:40] jerboaa commented on #29402
GHA runner OS difference? I see `Ubuntu 20.04` for the passing one and `Ubuntu 22.04` for the failing one.

[2022-11-22 15:46] jerboaa commented on #29402
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo.packageresolver/commit/e236b5bf0c402fe6e04ed863cf195cfce6bfbe98 should fix it? Not sure where that dep is declared though.

[2022-11-22 15:52] JiriOndrusek commented on #17463
I will check the issue tomorrow and let you know, whether it can be simulated with the current version of Quarkus. From the first (fast) glance at related tickets, there can not be a fix on jetty side. There are only some hints, how it could be solved on quarkus side - https://github.com/eclipse/jetty.project/issues/6399#issuecomment-859458414.

[2022-11-22 15:55] cescoffier commented on #17808
Yes, a single statement would be nice. Actually, with the new gRPC server I would change it a bit and only indicate the gRPC port if it's not the http one.

[2022-11-22 16:00] ozangunalp commented on #26560
I looked at this more closely.
The primary utility of `avro.codegen.avsc.imports` config is to allow schema files to reference each other and codegen coherently without setting up a complex schema resolver. It is the same functionality as the avro-maven-plugin `imports` config. (Same applies for avdl, avpr files) It'll basically parse imports before the files in the main source directory, for the

[2022-11-22 16:20] joes commented on #29404
I could make a pull request which introduces `prettytime-nlp` to https://github.com/quarkiverse/quarkus-prettytime if that is desirable @gastaldi.

But I need to understand what exactly do you mean with ”another module”. Another maven submodule (another pair of deployment and runtime)? Or do you mean to add a new `AdditionalBeanBuildItem` into `PrettyTimeProcessor`?

[2022-11-22 16:23] jerboaa commented on #29402
Thanks!

[2022-11-22 16:31] ozangunalp commented on #23612
@edeandrea looking at it now.
I remember that we've already fixed something before on this code.
Maybe we've introduced something else with the Reactive Messaging 3.22.0.

[2022-11-22 16:33] edeandrea commented on #23612
Thank you @ozangunalp - this (https://github.com/quarkusio/quarkus-super-heroes/pull/151) is what you fixed before.

[2022-11-22 16:40] gastaldi commented on #29404
I mean another Maven submodule with another pair of deployment and runtime, like https://github.com/quarkiverse/quarkus-micrometer-registry

[2022-11-22 17:10] Ladicek commented on #29376
So this will be fixed in Jandex 3.0.4, but note that the annotation will be just ignored. Kotlin needs to fix their compiler to emit the type annotation path correctly.

[2022-11-22 17:20] Ladicek commented on #29376
Yea, I should do that. Tomorrow :-)

[2022-11-22 17:21] cthiebault commented on #16103
Hello
I have the same problem with version 2.14.1
How did you manage it?

[2022-11-22 17:35] cthiebault commented on #16103
Have a look to
https://github.com/quarkusio/quarkus/blob/2.14/extensions/vertx/deployment/src/test/java/io/quarkus/vertx/MyPetCodec.java

[2022-11-22 17:38] ozangunalp commented on #23612
I may have isolated a change that can lead to this. I am working on a fix.

[2022-11-22 18:02] jerboaa commented on #29402
It references `1.0.12` so hopefully fixes this. https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/blob/de.flapdoodle.embed.mongo-3.5.2/pom.xml#L499

[2022-11-22 18:03] joggeli34 opened #29417 "Unable to add oidc tenants with runtime configuration"
### Describe the bug

I try to add new oidc tenants with runtime configuration. As far as I see in the documentation, the properties are not buildtime-only.
When adding following environment-variables for configuration:
[code]
I assume to have a tenant xxx usable. But in the `OidcConfig`, the tenant is missing in the namedTenanants and can therefore not be used as expected.

### Expected behavior

[2022-11-22 18:45] joggeli34 commented on #29417
Probably related to #29325

[2022-11-22 20:56] quarkusGorilla opened #29421 "@QuarkusTest fails to load MyFaces injections that Quarkus app loads fine"
### Describe the bug

We use Quarkus and Primefaces.

Some of our objects are created with @ViewScoped which is a Myfaces construct.   This requires us to use the myfaces-quarkus extension.  While running in dev mode and deploying the application as normal, everything works fine.

We just started to try using @QuarkusTest instead of mocking so much.  We want to inject our beans in to our tests jus

[2022-11-22 21:10] rsvoboda opened #29422 "DevUI - config editor doesn't notify user when something goes wrong"
### Describe the bug

DevUI - config editor doesn't notify user when something goes wrong

When the value gets updated there is "Configuration update successful" window in the top right corner.

But when things do not get updated, the is no notification to the end used
One needs to open console of web browser to see something like 403 Forbidden.

Users need to be informed when their config changes

[2022-11-22 21:12] rsvoboda commented on #29422
CC @maxandersen / @gsmet / @geoand

[2022-11-22 21:28] gastaldi commented on #29404
I'm closing this issue as this should be implemented as a new extension in https://github.com/quarkiverse/quarkus-prettytime

[2022-11-22 21:28] #29404 closed

[2022-11-22 21:29] Manfred73 commented on #29160
OK, https://github.com/hcoles/pitest/issues/1072 might have a solution for that, so hopefully this will be solved by a newer version of the pitest maven plugin.
With regards to the sonar issue: we use ```sonar-scanner``` in our pipeline task, so we may have to try running ```mvn sonar:sonar``` instead as described in the posting https://stackoverflow.com/questions/58319017/sonarqube-remove-this-un

[2022-11-22 22:37] famod opened #29425 "Indexed `provided` annotation breaks `build` goal (or app startup) in 2.14"
### Describe the bug

While trying to upgrade from 2.13.3 to 2.14.0/1 I was greeted with a strange `java.lang.ClassNotFoundException: lombok.NonNull` very early in the boot process of the app.

This is in a multi-module project that is working just fine with Quarkus 2.13.3 (and the "old" Jandex 1.2.3).

In a non-app module, a class is using `lombok.NonNull` on a field alongside `lombok.RequiredArg

[2022-11-22 22:59] janderssonse opened #29426 "DOCKER_HOST-strategy in class isDockerWorking.java excludes expected "unix:"-path where it should include "unix:" - broken."
### Describe the bug

In the file
IsDockerWorking.java.
line 129 -see https://github.com/quarkusio/quarkus/blob/main/core/deployment/src/main/java/io/quarkus/deployment/IsDockerWorking.java#L129

 the check for the DOCKER_HOST-variable is negatated. However, setting the DOCKER_HOST variable to a unix socket usually involves a path like "unix:\\\the\path\to\socket". This is also clearly mentioned a

[2022-11-22 23:04] manovotn commented on #29421
This won't be a bug simply because `@ViewScoped` is a so-called custom CDI scope - Arc/Quarkus has no control over how and when to activate and deactivate this scope. This is also true for any other custom scope such as `@Transactional`.

Now, I don't really know how this scope works in terms of activation, but I am going to assume it is not always active (as for instance app context) and therefor

[2022-11-22 23:09] ambition-consulting opened #29427 "quarkus.oidc.auth-server-url causing weird start-up failure"
### Describe the bug

adding this line makes all the difference:

`%ecom-dev.quarkus.oidc.auth-server-url=http://ecom-portal-keycloak:8080/realms/quarkus`

makes the application crash without much explanation on DEBUG log level:

[code]

The keycloak server 19.0.3 is ready and reachable:

[code]

Any ideas why such a configuration would make the application not start-up anymore?

### Expected beha

[2022-11-23 01:08] guitcastro opened #29428 "Quarkus otel reporting to Jaeger but not propagating http headers"
### Describe the bug

I am using the follow libraries and extensions to enable otel.

[code]

I've managed to get all span (event the one using resteasy client) working using jaeger collector as follow:

[code]

However I expected those span to be propagated in the response headers as I've configure:

`quarkus.opentelemetry.propagators=tracecontext,baggage`

### Expected behavior

The trace should

[2022-11-23 05:21] geoand commented on #29160
Thanks for the update.

I am going to close this as it's not a Quarkus issue

[2022-11-23 05:21] #29160 closed

[2022-11-23 05:45] Postremus opened #29429 "ObserverExceptionHandler for non async observers"
### Description

I am facing a production issue right now, where all my log says is:
[code]
(I removed the FQCN, and replaced them with placeholders).

The above log is obiously not enough to figure out what the original exception was. Was it a TimeoutException while publishing to RabbitMQ, or was it a LazyInitException from some hibernate entity? The range of possibilities is simply to wide figur

[2022-11-23 06:07] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3529353777

[2022-11-23 06:07] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3529355667

[2022-11-23 06:45] geoand commented on #29422
cc @radcortez @phillip-kruger

[2022-11-23 07:00] geoand commented on #29413
When did this start, do you know?

[2022-11-23 07:05] geoand commented on #29413
Is it GraalVM that is printing this warning?

[2022-11-23 07:06] geoand commented on #29425
cc @Ladicek @mkouba

[2022-11-23 07:11] geoand commented on #29426
@Sanne you seem to have added the `!dockerHost.startsWith("unix:")` check in 7dc74758 to make Podman work.
Do you know if it's still needed?

[2022-11-23 07:15] geoand commented on #29429
cc @mkouba @manovotn

[2022-11-23 07:17] geoand commented on #29403
That's what I thought. In that case, this looks like a duplicate of https://github.com/quarkusio/quarkus/issues/29115, do you agree?

[2022-11-23 07:20] manovotn commented on #29421
@quarkusGorilla Actually, you might be interested in how request context is activated for those tests and mimic the same approach.

See [`ArcTestRequestScopeProvider`](https://github.com/quarkusio/quarkus/blob/main/extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ArcTestRequestScopeProvider.java) which implements a `TestScopeSetup` interface. All of these are loaded via service loader m

[2022-11-23 07:21] ambition-consulting commented on #29427
Unlikely, I will only stay in this project for another week, and probably won't find time for a reproducer.

To increase logs, is there anything else I can do other than:

[code]

?

[2022-11-23 07:27] manovotn commented on #29429
Standard CDI sync observers throw an exception and show you the track trace.
What you're seeing is only linked to transactional observers - I'll see if I can spot why we chose this approach in the first place...

[2022-11-23 07:41] geoand commented on #29403
It looks like adding support for `@IfBuildProfile`, `@UnlessBuildProfile`, `@IfBuildProperty` and `@UnlessBuildProperty` on methods annotated with `@ServerRequestFilter` is going to be very messy, so for now, I'll just make it a build time error.
It's definitely not ideal, but it will at least make it clear to users what is supported and what's not.

[2022-11-23 07:44] erik-wramner commented on #28250
Since I registered things correctly (as suggested in the linked discussion) things are working and this is more of a nagging fear. If you think everything is registered, then it is probably fine. However, I will write a test program that uses some of the more exotic but still likely algorithms to see if I can find one that fails. I'm a bit busy with other things, but hopefully I should have an ans

[2022-11-23 07:45] geoand commented on #29427
I doubt it, the problem is that the exception happens in async code, so we don;t have a proper stacktrace

[2022-11-23 07:48] michalvavrik commented on #28250
That's great Erik, please take your time. So far we have established here https://github.com/apache/camel-quarkus/issues/2922 that what Camel Quarkus is also unnecessary. It would be nice to have it confirmed from you, thanks.

[2022-11-23 07:49] rsvoboda opened #29431 "DevUI - config editor doesn't work well over https, UI doesn't get updated"
### Describe the bug

DevUI - config editor doesn't work well over https, the value gets updated in `application.properties` but the UI gets grey for the updated entry and new value is not reflected.

Browser console shows `GET http://localhost/q/dev/io.quarkus.quarkus-vertx-http/config net::ERR_CONNECTION_REFUSED` when I access I https://localhost:8443/q/dev/io.quarkus.quarkus-vertx-http/config a

[2022-11-23 07:52] manovotn commented on #29429
The change comes from this PR - https://github.com/quarkusio/quarkus/pull/23944
Notably, the behavior is also identical to that of [Weld](https://github.com/weld/core/blob/master/modules/jta/src/main/java/org/jboss/weld/module/jta/DeferredEventNotification.java#L84-L86) (compatible CDI impl).

Although it is not clear to me why we decided to do this for transactional observers instead of keeping i

[2022-11-23 08:06] mkouba commented on #29429
I don't remember but we should at least log the exception cause as Weld does.

[2022-11-23 08:14] geoand commented on #28066
Let's close this as won't fix

[2022-11-23 08:14] #28066 closed

[2022-11-23 08:15] geoand commented on #28035
Is this still an issue?

[2022-11-23 08:23] ambition-consulting commented on #29427
I forgot the min-level before, now I get additionally:
"message":"OIDC Server is not available:","processId":1,"processName":"quarkus-run.jar","sequence":5093,"stackTrace":"javax.net.ssl.SSLHandshakeException: Received fatal alert: handshake_failure\n\tat java.base/sun.security.ssl.Alert.createSSLException(Alert.java:131)\n\tat java.base/sun.security.ssl.Alert.createSSLException(Alert.java:117)\n\

[2022-11-23 08:23] ambition-consulting commented on #29427
despite having specified http scheme, it seems to insist on ssl

[2022-11-23 08:29] ivansenic commented on #29403
What about @LookupIfProperty, would this be easier?

[2022-11-23 08:29] zakkak commented on #29413
I did not bisect but based on the CI runs it appears to be between a2e7f7e8502b0e730083a301892e5a26251393c7 and 93b08464f0a6abe5aaa19744d4aad9c04a925d16

Correct, see https://github.com/oracle/graal/blob/829e49f551f44835f7b81ec9e28ae92bd220bc9e/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/configure/ReflectionConfigurationParser.java#L181

[2022-11-23 08:31] grasfrosch commented on #29376
Awesome, thanks for the quick fix! Just ignoring the annotation should be good enough for most cases. It's certainly good enough for our case where that bug got triggered by the implicit `Continuation` parameter of a suspending method - I would expect that's probably the easiest way to trigger it.

[2022-11-23 08:33] geoand commented on #29403
I have actually never used `@LookupIfProperty` (and even forgot it existed)...

Unfortunately no, it would not make things any easier

[2022-11-23 08:43] Ladicek commented on #29425
I think the `AnnotationLiteralProcessor` could and should do 2 things:

1. Ignore class-retained annotation[ instance]s. Annotation literals should only be generated for runtime-retained annotations.
2. Ignore annotation[ instance]s for which the annotation class can't be found. As stated in the Lombok discussion and on many other places, missing annotation classes are perfectly fine.

I'll submit

[2022-11-23 08:45] geoand commented on #29425
+100, this is very easy to forget, but it's very important to realize that it's perfectly valid from a JVM perspective

[2022-11-23 08:50] manovotn commented on #29429
Looking some more into the original issue, I think the reason might have been to reduce the noise from observer methods that can (deliberately?) sometimes throw an exception.
It looks like @famod and @gsmet both commented in favor of that, see https://github.com/quarkusio/quarkus/pull/23944.

I agree. I wouldn't even mind showing the whole error but due to the above, I don't think I'll get by with

[2022-11-23 08:52] #29230 closed

[2022-11-23 08:56] manovotn commented on #29425
Agreed.

Not so sure about this - if you ignore a missing CDI annotation (say, a qualifier), that breaks your application but might let you still start it making it very hard to identify the cause.

[2022-11-23 08:57] janderssonse commented on #29426
@geoand If the logic is correct then the documentation is wrong - It says to set this as

https://quarkus.io/guides/podman#setting-docker_host-on-linux which makes perfectly sense. I would in practice still argue that it is the

that should not have an !

[2022-11-23 08:59] geoand commented on #29426
I'll let @Sanne comment as I have never used podman

[2022-11-23 09:00] Ladicek commented on #29425
Yeah, I'm looking at the code and indeed missing annotation classes for CDI annotations are likely a problem we want to report.

[2022-11-23 09:19] famod commented on #29425
FTR, this is the boot error when using ECJ:
[code]

[2022-11-23 09:21] zakkak commented on #29402
Well it's been like this for a while now. Furthermore, both the failing run and the passing run on graalvm/mandrel repo are using the Github runner version 2.299.1, so it doesn't look like a change in the runner either :/

FWIW, I tried [the update of flapdoodle to 3.5.2](https://github.com/quarkusio/quarkus/pull/29414) and I still get the failure on CentOS 9 Stream, which appears to not be presen

[2022-11-23 09:21] janderssonse commented on #29426
Thanks, note though that one does not have to run Podman though to see that the documentation line refered and the condition logic contradicts each other.

[2022-11-23 09:22] geoand commented on #29426
I agree, I just don't know which one is wrong :)

[2022-11-23 09:24] mkouba commented on #29429
The root cause class and exception message should be enough.

[2022-11-23 09:33] mkouba commented on #29425
I wonder if we should try to solve this problem more generally because ArC might not be the only user of jandex that got hit by the fact that Jandex 3 does index annotations with `RetentionPolicy.CLASS` (and Jandex 2 does not ;-)...

[2022-11-23 09:33] benjaminrau opened #29434 "Application startup fails using Lombok's @NonNull on a method annotated with @ConsumeEvent"
### Describe the bug

When annotating a method parameter with @NonNull for a Vertx Consumer Method (means its annotated with @ConsumeEvent) then the application startup fails, throwing an exception.

Mentioned on: https://github.com/quarkusio/quarkus/discussions/29322

### Expected behavior

No exception is thrown when using @NonNull.

### Actual behavior

Exception is thrown when using @NonNull,

[2022-11-23 09:40] jerboaa commented on #29402
I'm seeing this for the [passing one](https://github.com/graalvm/mandrel/actions/runs/3484788102/jobs/5829991956):

[code]

... and this for the [failing one](https://github.com/graalvm/mandrel/actions/runs/3493647357/jobs/5861267577):

[code]

So while the runner image version is the same, the underlying OS is different.

Makes sense. It probably needs support for centos stream/rhel 9. Could you

[2022-11-23 09:42] syr opened #29436 "io.vertx.core.eventbus.EventBus cannot decode List<Long> payload (???)"
### Describe the bug

I do something like

`eventBus.send("myBusAddress", List.of(1L,2L));`

and having a consumer method like
[code]

### Expected behavior

Was hoping this would just work, meaning that in doAsync the longList = [1L,2L]

### Actual behavior

Instead I get
[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

[2022-11-23 09:44] brunobat commented on #29428
@guitcastro Not sure if I follow. The spans themselves are not propagated, just the span contexts.
Aren't you able to see spans from multiple services as part of the same trace?

[2022-11-23 09:53] Ladicek commented on #29425
So I found that most of the time, `AnnotationLiteralProcessor` is used with CDI annotations (qualifiers and interceptor bindings) and there are just a few places where it can be used with other annotations (when it's fed with all annotations from an injection point). So from ArC perspective, it's probably best if `AnnotationLiteralProcessor` actually not only checks that the annotation class is av

[2022-11-23 10:02] zakkak commented on #29402
Good catch, apparently we are being bitten (or not, since it allowed us to catch the issue) by https://github.com/graalvm/mandrel/blob/bd852ea0608739578fcf7aaa713831f3ca415a96/.github/workflows/base.yml#L88 . I thought I had those fixed to a specific version...

Sure

[2022-11-23 10:08] mkouba commented on #29425
Not really. We could have returned runtime visible annotations only by default and optionally include `RetentionPolicy.CLASS` annotations to make it backward compatible. But it's too late.

I do not say we should move back but it was an incompatible change that may lead to problems like this. And my point is that ArC might not be the only one affected.

[2022-11-23 10:11] zakkak commented on #29402
Closed through #29414

(Confirmed in https://github.com/graalvm/mandrel/actions/runs/3530682797/jobs/5923305802)

[2022-11-23 10:11] #29402 closed

[2022-11-23 10:13] Ladicek commented on #29425
Yeah, agree that the default API could have returned only runtime-retained annotations and class-retained annotations could have been available only through some special-purpose methods. It didn't occur to me back then, unfortunately :disappointed:

It really only covers half of the problem here, though. You can still have runtime-retained annotations whose classes are missing, so that needs fixin

[2022-11-23 10:17] mkouba commented on #29425
I agree that a missing annotation is a problem for CDI.

[2022-11-23 10:22] Ladicek commented on #29425
Weld doesn't have to, because reflection silently filters out annotations whose classes are missing. Since we're processing bytecode, we have to do that ourselves.

[2022-11-23 10:31] gsmet commented on #29425
Might be an unpopular opinion but given it's a very new feature, if we think it was a bad decision and we want to fix it, it's probably still possible if we document it properly in the announcement. I don't think it's widely used in the wild.
Better than live with it forever.

[2022-11-23 10:38] Ladicek commented on #29425
Okay, so what I'm doing is:

1. `AnnotationLiteralProcessor` will still throw if the annotation class is `null`, and most callers don't check that. That's because most callers deal with qualifiers and interceptor bindings, and those must always exist. So if a qualifier class or an interceptor binding class is missing, we'll still fail. There are 2 places that deal with arbitrary annotations on inj

[2022-11-23 10:41] luca-bassoricci commented on #29434
I had a vague memories about something similar
Found in [this]( https://github.com/quarkusio/quarkus/discussions/28406) discussion

[2022-11-23 10:48] ivansenic commented on #29403
OK, but I still assume that if I move the exception mappers to [JAX-RS style](https://quarkus.io/specs/jaxrs/2.1/index.html#exceptionmapper) with `ExceptionMapper<T>` and then conditionally have the producer method for it. Right? This has to work?

[2022-11-23 10:49] Ladicek commented on #29376
@grasfrosch if you have some other code that also fails with this error, especially if it includes suspending functions, please share, I'd like to check my fix with it. And thanks for the report!

[2022-11-23 10:49] HugoVinhal98 opened #29440 "class io.quarkus.restclient.runtime.RestClientRecorder$1 cannot be cast to class org.jboss.resteasy.reactive.common.jaxrs.RuntimeDelegateImpl"
### Describe the bug

I am upgrading my quarkus-bom version from the **2.12.2.Final** to the most recent one. I am getting the following error when making a call to my REST endpoints or running my integration tests:

`2022-11-23 10:39:36,457 ERROR [com.ctw.lm.dom.exc.map.RuntimeResponseMapper] (executor-thread-0) class io.quarkus.restclient.runtime.RestClientRecorder$1 cannot be cast to class org.

[2022-11-23 10:55] Sirz3chs commented on #29325
Thanks for the answer, that's actually what i did as workaround.

[2022-11-23 11:01] geoand commented on #29403
Ah damn it... I thought we were talking about filters here, 🤦🏼 .

It does seem like we'll need to do the same thing for exception mappers as the combination of annotation is currently not supported.

You can't have a producer method for JAX-RS style exception mappers, they aren't registered like that.

[2022-11-23 11:09] HugoVinhal98 commented on #29440
Ok I was able to solve the issue. I was using the _quarkus-resteasy-reactive_ dependency and at the same time I was using the _quarkus-rest-client_ and _quarkus-rest-client-reactive-jackson_ . Looks like from the **2.13.1.Final** version this is not possible so I made the change to the _quarkus-rest-client-reactive_ and _quarkus-rest-client-reactive-jackson_ dependencies and everything looks to be

[2022-11-23 11:09] #29440 closed

[2022-11-23 11:16] pjgg opened #29442 "Backchannel logout is closing the Http connection before reach the enduser endpoint"
### Describe the bug

In case the logout token is valid, the OIDC logout backchannel request in not hitting the endpoint defined by the user.

QuarkusVersion: 2.13.3.Final
Extension: `quarkus-oidc`

application.properties

[code]

Enduser backchannel logout endpoint
[code]

### Expected behavior

The following log should be logged on the terminal after a logout request
[code]

### Actual behavior

[2022-11-23 11:17] geoand commented on #29440
The fact that it worked before was an accident

[2022-11-23 11:19] HugoVinhal98 commented on #29440
But why is the REST Client dependency (which is responsible to communicate with external services) is related to the REST client of the actual project?

[2022-11-23 11:20] geoand commented on #29403
After looking at this, I have concluded that we will need a smarter way of handling both the filters and exception mappers case.

I need to sleep on how that can be done

[2022-11-23 11:20] wlybe opened #29444 "The configuration quarkus.smallrye-openapi.servers ignores the order in the swagger ui"
### Describe the bug

Setting servers on the application properties is randomly ordered.

These two settings show the servers in the same order on the swagger ui:

[code]

or

[code]
Maybe this is because on application.properties or application.yaml: quarkus.smallrye-openapi.servers is types java.util.Set<String>. on openapi.yaml, server: array (and not a set)

### Expected behavior

https://my.p

[2022-11-23 11:23] sberyozkin commented on #29442
Hi @pjgg But we don't support any user defined backchannel logout endpoints, why should we ? Quarkus is taking care of the backchannel request. I'm afraid this issue is invalid

[2022-11-23 11:24] famod commented on #29434
I'm under the impression that this has the same root cause as #29425. /cc @Ladicek

[2022-11-23 11:30] radcortez commented on #29325
If you use something like:

`quarkus.oidc-client.env-client.auth-server-url=${QUARKUS_OIDC_CLIENT__ENV_CLIENT__AUTH_SERVER_URL}`

This will work because the value is looked up with the exact name as expected from the Env Source.

I believe the client must always have the configuration available if the property is present. @sberyozkin can you confirm?

[2022-11-23 11:49] #29442 closed

[2022-11-23 11:51] Ladicek commented on #29434
Okay, it is _not_ the same issue. Looks like someone uses `Type.toString()` to generate a class name, which is wrong. Let me check.

[2022-11-23 12:01] Ladicek commented on #29434
Found it: https://github.com/quarkusio/quarkus/blob/2.14.1.Final/extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusCodecProcessor.java#L91

Here, `entry.getKey()` is a Jandex `Type`, so `entry.getKey().toString()` may include type annotations. Fix is simple: `entry.getKey().name().toString()`.

[2022-11-23 12:16] holly-cummins commented on #28035
I suspect it is, and that we don't see it every day because the tests are disabled. I've rebased #28082 (which enables the tests and shows the problem) to force a new build so we can check.

[2022-11-23 12:21] mkouba commented on #29396
Isnt' this covered by the `quarkus-awt` extension?

CC @zakkak @Karm

[2022-11-23 12:37] mkouba commented on #17147
@Ladicek would you care to take a look at the ArC part? You fixed the Jandex issue, hence a perfect candidate :wink: .

[2022-11-23 12:40] geoand commented on #29426
That would be great, thanks

[2022-11-23 12:40] geoand commented on #28035
Great, thanks

[2022-11-23 12:44] mkouba commented on #15905
CC @iocanel

[2022-11-23 12:49] zakkak commented on #29396
No, see @Karm's answer in https://github.com/quarkusio/quarkus/issues/29360#issuecomment-1321889149

[2022-11-23 12:59] Ladicek commented on #17147
Sure thing!

[2022-11-23 13:02] manovotn commented on #28783
So the paramers I am seeing passed into that constructor are:
* `ApplicationConfig` (this is the expected param)
* `InitializedInterceptor` (the around construct interceptor instance; in the reproducer this is the HV interceptor instance)
* `TransactionalInterceptorRequired` (around invoke interceptor; in the reproducer it's JTA interceptor linked with `@Transactional`)

From a quick glance at the

[2022-11-23 13:49] grasfrosch commented on #29376
@Ladicek I can't  share the original code, but effectively we had a suspending lambda looking something like this:

    val pair = runBlocking {
        Pair(JavaClass().notNullAnnotatedFunction(), "sth else")
    }

When Quarkus 2.14 updated the jetbrains annotations dependency, `TYPE_USE` got included as target for the `@NotNull`-Annotation and so the inferred return type changed from `Pair<Stri

[2022-11-23 14:09] asimpson2004 commented on #26250
@brunobat I agree the proper solution would be the ability to use SimpleSpanProcessor so that we don't need to call force flush  :)

[2022-11-23 14:10] brunobat commented on #26250
Have you added an issue in the OTel side. I think this should be reported as a bug.

[2022-11-23 14:11] Ladicek commented on #17147
So the reproducer actually builds and runs just fine (I believe due to #27631), but I can't inject the produced bean anywhere, nor can I look it up programmatically -- and I don't even have an idea how to express such injection or programmatic lookup. I'm trying this:

[code]

But I'm not exactly sure if that's supposed to work or not. Any opinions? :-)

[2022-11-23 14:15] brunobat opened #29448 "SimpleSpanProcessor support in OTel"
### Description

We need to support SimpleSpanProcessor in OTel, in order to allow lambda functions on cloud providers to report, in time their traces.
See #26250

### Implementation ideas

This should be trivial after the OTel SPI access is available after the #26444 work is finished.
Should be a mater of documenting the procedure.

[2022-11-23 14:16] Felk commented on #17147
In my original case I injected a concrete type, e.g.

[code]

[2022-11-23 14:16] brunobat commented on #26250
Added an issue on the Quarkus side to support SimpleSpanProcessor... And others, effectively.
Probably we should close this issue. Do you agree @asimpson2004 ?

[2022-11-23 14:23] mkouba commented on #28783
I need to look at the generated code.

Like adding an `@AroundConstruct` callback to the `SimpleBean`? I believe that this should not be supported.

[2022-11-23 14:32] Ladicek commented on #17147
Yeah, I originally thought about that, but I'm not sure that's supposed to work as well. If I'm reading _Assignability of raw and parameterized types_, it probably should. It currently doesn't, because our `AssignabilityCheck.findAssignables` relies on presence of the types in Jandex -- I'll try to figure something out there, but `getAllKnownSubclasses` or `getAllKnownImplementors` can't really wo

[2022-11-23 14:38] asimpson2004 commented on #26250
@brunobat Agree this can be closed

agree [this ](https://github.com/open-telemetry/opentelemetry-java/blob/60cc5f452a3609ce748441c6ad75cac471b35bfd/exporters/otlp/all/src/main/java/io/opentelemetry/exporter/otlp/trace/OtlpGrpcSpanExporter.java#L66)does seem like a bug as it is getting batched up and this is what the BatchSpanProcessor is using, I've not opened a report.

[2022-11-23 14:51] sberyozkin commented on #29427
Hi @ambition-consulting Does it work without `%ecom-dev.` ? There a  few issues around related to `-` in env properties

[2022-11-23 14:52] #26250 closed

[2022-11-23 15:18] sberyozkin commented on #29325
Hi @radcortez Thanks for the advice,
`quarkus.oidc-client.env-client.auth-server-url=${QUARKUS_OIDC_CLIENT__ENV_CLIENT__AUTH_SERVER_URL}`

Looks OK to me, and @Sirz3chs has confirmed it works.
I can work on a doc PR adding a note to the config docs and to OIDC docs to clarify https://github.com/quarkusio/quarkus/issues/29325#issuecomment-1322078347

[2022-11-23 15:29] sberyozkin commented on #29417
Hi @joggeli34 I think the hint suggested at https://github.com/quarkusio/quarkus/issues/29325#issuecomment-1324912729 is the best option we have, can please you try to apply the same idea to the oidc tenants configuration ?

[2022-11-23 15:55] anderscore-alambertz commented on #29059
Simple Reproduction:

- Use Quarkus "Start Coding" with following configs:
    - Build Tool: Maven (Gradle probably also works, not tested it)
    - RESTEasy Reactive Jackson Dependendy

In generated GreetingResource class:
- change return type to "Response"
- use Response.ResponseBuilder to create a variable "responseBuilder" and initializie it with "Response.ok("Hello World")
- next line, use "r

[2022-11-23 16:01] Ladicek commented on #29376
Thanks, I'll take a look at the additional cases, but I expect my fix I merged yesterday should cover them.

That would be expected, because Jandex since version 3.0 looks at class-retained (aka runtime-invisible) annotations as well.

That sounds about right. Invariant declaration sites in Kotlin would naturally lead to invariant use sites in the bytecode -- it's declaration sites that use varian

[2022-11-23 16:06] janderssonse commented on #29426
Thanks @Sanne . Heads up, Another note is that the current documentation example mentioned above for setting DOCKER_HOST is also pointing to a podman socket path that might differs on different setups of linuxes. To see which is the correct path see

` podman info | grep -A2 'remote'`

and you should get roughly like
![bild](https://user-images.githubusercontent.com/37870813/203593262-36996ced-267

[2022-11-23 17:55] michalvavrik opened #29451 "OpenShift deployment don't generate command when arguments are provided"
### Describe the bug

When `quarkus.openshift.arguments` are provided, first one is used as command is not generated. I think the behavior was introduced by https://github.com/quarkusio/quarkus/pull/27733, but the PR description says _The command may still be generated if the user provides arguments without command._

### Expected behavior

One of:
- Behavior is same as in 2.12 - command is genera

[2022-11-23 19:19] #29429 closed

[2022-11-23 21:09] guitcastro commented on #29428
@brunobat The trace are okay, but they are not returned in the response header.

[2022-11-23 21:45] Karm commented on #29396
I would have some use for desktop GUI with Quarkus capabilities under the hood, yet neither Swing nor JavaFX would be my choice. We can perhaps go the https://fiji.sc/ way and use good old AWT or better, fully leverage GraalVM's C interoperability and use https://github.com/ocornut/imgui in a much more interesting way than via JNA/JNI Java bindings https://github.com/SpaiR/imgui-java.

We can leav

[2022-11-23 22:19] LazaroR94 opened #29455 "Quartz startup error before full application initialization"
### Describe the bug

Hello all! I've currently been testing out Quartz for Quarkus and have come to an error whenever the application starts. It seems as though Quartz starts too prematurely and does not let the application fully start before initializing its scheduled methods. I am using Kafka in my application and the emitters unfortunately do not get immediately injected and thus prompt a quic

[2022-11-23 22:32] tttomat19 opened #29456 "Flag to disable SchemaManagementIntegrator schema validation"
### Description

To keep it short, in some bloatware applications validation with SchemaManagementIntegrator takes a long time and results in huge output.
How can one bypass this check? sorry :)

### Implementation ideas

_No response_