[2019-11-14 02:16] jaikiran commented on #5461
Hello @gastaldi, this has actually been reported before https://github.com/quarkusio/quarkus/issues/3786

[2019-11-14 02:19] gastaldi commented on #5461
@jaikiran Thank you! I'll close this issue as duplicate of #3786

[2019-11-14 02:19] #5461 closed

[2019-11-14 02:31] gastaldi commented on #3786
This also happens in Windows 10 when using Git bash. See #5461

[2019-11-14 02:34] gastaldi commented on #5461
Here is the solution for this problem in Git bash: https://github.com/moby/moby/issues/24029#issuecomment-250412919

[2019-11-14 02:40] gastaldi commented on #5461
@jaikiran actually this bug is different from #3786 but I found the solution in the link above (use double slashes  (`-Dpath="//hello"`) or set `MSYS_NO_PATHCONV=1`

[2019-11-14 02:54] hantsy commented on #5434
If I copy the data from Java 8 `Stream`,  reactive `Publisher` to a DTO wrapper in the Service/Repository codes,  etc. the codes will look good ugly and need much work for this transforming.  Can we provide Spring WebFlux like programming experience in Quarkus?

[2019-11-14 03:53] brunoabdon commented on #5354
Important to notice that, while starting the app with `mvn quarkus:dev`causes the `java.lang.LinkageError`, this doesn't happens when running the same build with `java -jar target/java -jar target/quarkus-app-0.0.1-SNAPSHOT.jar`

[2019-11-14 05:19] stuartwdouglas commented on #5419
@patriot1burke do you have any ideas how to make this work? This is implemented as a combination of RESTEasy feature + Servlet filter. The Feature seems to start the tracing, then it relies on the Servlet filter to either close it or register a listener to close it when the request is done.

Is it possible to do this all in RESTeasy?

[2019-11-14 05:45] #3890 closed

[2019-11-14 05:45] #5393 closed

[2019-11-14 06:15] jaikiran commented on #5359
@bdesemb I was able to reproduce this issue. Looks like the `Class-Path` parsing of `jar` `MANIFEST` has gone wrong again (within the JDK). I need to understand why/how this has regressed before I bring this up with the JDK team. For now, this isn't really something Quarkus can fix reliably across JDK versions (unless, there's some workaround I'll stumble upon during investigation). I'll keep this

[2019-11-14 06:47] machi1990 commented on #3128
Did not notice the other issue. Let's close :-)

[2019-11-14 07:04] cescoffier commented on #5454
Can you give a stack trace?
Don't forget that we don't support SRV in native.

[2019-11-14 07:05] cescoffier commented on #5449
I believe it was fixed in 1.0.0.CR1.

[2019-11-14 07:06] cescoffier commented on #5403
The `XhrTransport` class must be declared as runtime only.

[2019-11-14 07:08] cescoffier commented on #5403
Try to add `--initialize-at-run-time=io.vertx.ext.web.handler.sockjs.impl.XhrTransport` to the additional argument of the native build.

[2019-11-14 07:34] dufoli commented on #5454
I have update jira.
What do you mean by SRV ?

[2019-11-14 07:46] jmartisk commented on #2027
I guess I could have a look at this, after https://github.com/quarkusio/quarkus/pull/5272/ is finished and merged, because the work here will need to based on that PR

[2019-11-14 08:01] mkouba commented on #3241
@Postremus It is a circular dependency because when the container creates a `ProducerBugExample` instance it has to inject `SomeBean` which is produced by `ProducerBugExample` -> cycle. AFAIK in Thorntail, Weld registers an incompletely initialized instance of `ProducerBugExample` through the `CreationalContext#push()` method. This helps with the circular dependency but may cause unpredictable pro

[2019-11-14 08:17] Sanne commented on #3128
N.B. for the record the other issue isn't aiming at JSR-107 compliance. But I'm fine closing this one, as I was recommending against it: as I explained during design meetings, the spec is enforcing several aspects which are not really optimal nor "modern" anymore.

[2019-11-14 08:22] Sanne commented on #5434
Yes we can certainly explore such things. Would be really cool.

Just bear in mind that this wasn't done yet, so please be patient and write "ugly code" - that's a personal opinion BTW, as personally as I mentioned above it's the better design. I'd suggest to look at mapper libraries which nicely solve this problem, like MapStruct : makes it realy elegant, and yet allows you to separate the API yo

[2019-11-14 08:23] Sanne commented on #2815
Reopening, we crafted a reproducer in ORM.

[2019-11-14 08:27] #2750 closed

[2019-11-14 08:28] Sanne commented on #1394
Re-opening: It wasn't fixed, like you just explained to me on the mailing list you decided to not go for the Jakarta artifacts.

We're having:

- javax.xml.bind:jaxb-api - brought by rest-assured
- org.jboss.spec.javax.xml.bind:jboss-jaxb-api_2.3_spec - most Quarkus components - especially Resteasy

The good news is that rest-assured is mostly a test component - but it's expected to be used for te

[2019-11-14 08:31] objectiser commented on #3298
The application can currently trace Elasticsearch explicitly, using https://github.com/opentracing-contrib/java-elasticsearch-client.

I guess this issue is more about implicitly being able to instrument the Elasticsearch client. Not sure this is currently possible.

[2019-11-14 08:39] Postremus commented on #3241
@mkouba

I at least get a different error when I add `@ApplicationScoped` to `produceSomeBean()`.

[code]

[2019-11-14 08:57] yuhaibohotmail commented on #5443
@johnaohara   I've simplified my program and can reproduce it in several of my environments.

**My endpoint:**
[code]
**Run wrk**
[code]
When the wrk is running, the endpoint can be accessed through the browser.
Once the wrk is finished, the program reports some exception and then does not respond to the request.
[code]
**source code**
[load-test.zip](https://github.com/quarkusio/quarkus/files/384

[2019-11-14 09:01] johnaohara commented on #5443
@yuhaibohotmail thanks a lot for the reproducer, I will use it to test a potential fix.

[2019-11-14 09:10] johnaohara commented on #5443
@yuhaibohotmail what hardware are you running on? I am not reproducing the error on my local machine, but will also test in our lab

[2019-11-14 09:11] loicmathieu commented on #3298
@objectiser if the issue is about using https://github.com/opentracing-contrib/java-elasticsearch-client then it's just about testing it and if it works adding something in the guide :)

That's what I did for JDBC tracing, you can see the section of the documentation here: https://quarkus.io/guides/opentracing#additional-instrumentation

[2019-11-14 09:12] machi1990 commented on #3298
While at it, it will be awesome to  check that it works in native mode.

[2019-11-14 09:14] tqvarnst commented on #2442
I can fix it, but I need to verify and test with the new ubi8-minimal containers. Because of other priorities, I will not be able to look at this until next week, but it is on my todo.

[2019-11-14 09:15] johnaohara commented on #5443
I can re-create now

[2019-11-14 09:21] loicmathieu commented on #5457
For what I understand, opentracing is boostraped at build time to allow build time optimisation.

But you can disabled jaeger at runtime, in this case a no-op tracer is used, if when using `-Dquarkus.jaeger.enabled=false` you still saw traces send to Jaeger, then it's a bug.

[2019-11-14 09:23] loicmathieu commented on #3298
@machi1990 yes, I was a little less explicit of the works that needs to be done:

- Test the dependency in both native and JVM mode
- Include it inside the bom, maybe you will need to fix some dependency issue as we use an old opentracing-api version ...
- Document it

[2019-11-14 09:25] loicmathieu commented on #3298
But in fact, if it's what @objectiser wants it's a different issue as this one that is related to Elasticsearch APM instead of Jaeger, so maybe the best is to open a different issue.
So @objectiser if it's what you want, please open a different issue for this with the steps to follow to fix it (see my previous comment).
If you want to take care of it, please proceed with it, otherwise I can take c

[2019-11-14 09:29] fmarchioni opened #5463 "Make an explicit section on Hibernate ORM in production with the different defaults"
The default import.sql file is not executed when running in Native mode. According to the docs, Hibernate ORM, upon boot, will read and execute the SQL statements in the /import.sql file (if present).
That works in JVM Mode. In native mode the script is not executed. As workaround, you have to set explicitly the property:
`quarkus.hibernate-orm.sql-load-script=import.sql`
I have used this project

[2019-11-14 09:30] objectiser commented on #3298
@loicmathieu I am unclear what the issue author was asking - but if they want implicit tracing then I don't think that is possible currently - so the ticket should be closed.

Regarding your suggestion about adding to docs - we need to be careful with this, as there are a wide range of instrumentations available in opentracing-contrib. Are we intending to add them all here? How will they be tested

[2019-11-14 09:30] loicmathieu commented on #5454
@cescoffier this has nothing to do with SRV mongodb URI.

The issue can be express more simply like this:

I have the following in `application.properties`
[code]
The following code works in JVM but not in native:
[code]
In native the config property is not found:
[code]

As an help to find the issue, adding `application.properties` as a `NativeResourceBuildItem` workaround the issue but we're aga

[2019-11-14 09:33] hpehl commented on #1349
I'll update the extension and open a PR.

[2019-11-14 09:34] emmanuelbernard commented on #5463
Use %prod.quarkus.hibernate-orm.sql-load-script=import.sql if you really want import.sql to be used in production and thus in java -jar or native.
My experience is that this behavior is only useful for demos.

See https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.sql-load-script

[2019-11-14 09:35] gsmet commented on #2442
Hi Thomas, I affected it back to you then. Thanks!

[2019-11-14 09:37] mkouba commented on #3241
Are you sure that `SomeBean` declares a non-private constructor with no parameters? This is a requirement for normal scoped beans...

[2019-11-14 09:37] manovotn commented on #3241
Circular dependencies should only be supported when at least one bean in the chain is normal scoped. That isn't the case in the above posted code where both beans are dependent.
See [Dependency injection and lookup chapter](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#injection_and_resolution).

TCK tests for circular deps are [here](https://github.com/eclipse-ee4j/cdi-tck/blob/master/impl/sr

[2019-11-14 09:38] MossabTN commented on #5403
Thanks!

[2019-11-14 09:38] #5403 closed

[2019-11-14 09:39] gsmet commented on #1394
Well, the only thing we can do here is wait for REST Assured to move to Jakarta.

We can keep it open if you prefer but there's nothing we can do on our side.

[2019-11-14 09:40] Sanne commented on #5463
@emmanuelbernard don't rush it please - @fmarchioni mentioned it's working differently in JVM mode, that's not expected.

@fmarchioni please confirm it's different when running in JVM / production? Or did you only compare /dev mode?

[2019-11-14 09:43] gsmet commented on #3128
Thanks for the precision, will be useful if someone stumbles upon this particular issue.

[2019-11-14 09:45] loicmathieu commented on #3298
@objectiser what we do to JDBC tracing is just manual testing in both JVM and native, documentation and dependency management. We didn't add any automated testing, nor did we add them automatically as dependencies.

And, as we didn't add any automatic test, nor do any manual testing, there is some (very low) risk that this didn't works in some point after some changes done on Quarkus/OpenTracing/.

[2019-11-14 09:52] FroMage commented on #4644
Try `@JsonbTransient`: https://javaee.github.io/jsonb-spec/users-guide.html#ignoring-properties

[2019-11-14 09:52] #1720 closed

[2019-11-14 09:54] gsmet commented on #4059
This will require a new Quarkus HTTP release.

[2019-11-14 09:54] emmanuelbernard commented on #5463
Note that in my demos, what I described worked as expected with 0.28.1 aka 1.0.0.CR1

[2019-11-14 09:59] yuhaibohotmail commented on #5443
@johnaohara   you can reproduce it now？

I tested it in two environments.
1. Our private cloud:  8CPU/16GMemory/ Centos 7
   The code and wrk run on the same machine
2. My VM: 1CPU/4GMemory/ Centos 7 .     Run on  VMware  15.5
   The code and wrk run on the same machine

[2019-11-14 10:00] anamarija commented on #4059
yes :)

[2019-11-14 10:04] objectiser commented on #3298
@loicmathieu Yes - and it also might be worth defining the version of Quarkus it was last tested with?

[2019-11-14 10:10] loicmathieu commented on #3298
I don't think the version adds any information as it's support will depends on the changes on native/opentracing/quarkus ... and some user uses it on production and make upgrade (like me, I use it without any issue with Quarkus 0.28.1).

[2019-11-14 10:13] fmarchioni commented on #5463
@emmanuelbernard @Sanne
I have compared JVM mode for both prod and dev. In JVM Prod mode (mvn package  -Dquarkus.profile=prod; java -jar target/app-RUNNER.jar) the import.sql script is not executed as well.
So I guess with @emmanuelbernard clarification this can be closed. Maybe it could be worth mentioning about the %prod.quarkus.hibernate-orm.sql-load-script=import.sql in the docs though.

[2019-11-14 10:14] #4992 closed

[2019-11-14 10:15] aloubyansky commented on #3702
I think I have a fix for this one.

[2019-11-14 10:16] Sanne commented on #5463
Thanks @fmarchioni . This is actually mentioned in the docs - I guess you were expecting it in a different location?

Please point me to were you'd have expected to see such a note.

[2019-11-14 10:17] emmanuelbernard commented on #5463
It is documented twice in https://quarkus.io/guides/hibernate-orm

Once here https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.sql-load-script (unroll the property description)
And once here https://quarkus.io/guides/hibernate-orm#hibernate-orm-in-development-mode

Do you think we need more @fmarchioni ?

[2019-11-14 10:19] FroMage commented on #1942
OK: #5465

[2019-11-14 10:21] FroMage commented on #1942
And https://github.com/quarkusio/quarkusio.github.io/pull/371

[2019-11-14 10:21] mkouba commented on #3311
@dkellenb Are you sure the injection point is `Instance<Exporter<? extends Exportable>>` and not something like `Instance<? extends Exporter<? extends Exportable>>`? It seems the bug I've found only occurs if the `Instance` param is wildcard or type variable... it should work if the param is a parameterized type though.

[2019-11-14 10:26] wglanzer commented on #3298
The idea behind this ticket was that I wanted to use the Elastic-Stack as a tracing server / performance data receiver.
They offer a product called APM ( https://www.elastic.co/products/apm ) and if you install an elasticsearch server, you get APM as well.

[2019-11-14 10:40] Xendar commented on #5453
Actually, I'm not so sure it worked as expected...
The native command does not throw any error, still I cannot find the runner file.
I thought yesterday that it worked, but actually I realize that whatI saw (the runner.jar file) is there because of the `JarResultBuildStep` that is processed before the `NativeImageBuildStep`

[2019-11-14 10:56] manovotn commented on #4831
Theoretically we could eliminate the need for `@Produces` **on any methods** if there is at least one CDI qualifier annotation.

However, note that there are also **producer fields** in CDI and in that case we cannot apply this as we already automagically add `@Inject` if we detect any qualifier. Hence it wouldn't be intuitive when you do/don't need `@Produces` overall.

It might make sense for he

[2019-11-14 11:08] objectiser commented on #3298
@wglanzer Ah ok - sorry totally misunderstood. I guess a question for the maintainers, but if you are interested in submitting a PR I think it would be a good addition.

[2019-11-14 11:26] mkouba commented on #4831
Yes, for fields a qualifier without `@Produces` implies an injection point.

We don't add automagically `@Inject` to initializers/setters either.

I'd personally vote for the generic approach + config flag (we have the same for "autoinject") OR nothing. In other words, I don't think it's reasonable to implement this only for health checks.

[2019-11-14 11:27] geoand commented on #5454
@dufoli @loicmathieu can you please try ` ConfigProviderResolver.instance().getConfig().getConfig("quarkus.mongodb.database")`?

[2019-11-14 11:28] fmarchioni commented on #5463
Pardon that's almost a nit-picky, however there is no "Hibernate ORM in
Production mode" so maybe the following Information box might be enriched
with a couple of more words:

- By default, Hibernate ORM, upon boot, will read and execute the SQL
statements in the /import.sql file (if present). You can change the file
name by changing the property quarkus.hibernate-orm.sql-load-script in
applicatio

[2019-11-14 11:32] gsmet commented on #5454
/cc @dmlloyd

[2019-11-14 11:34] maxandersen commented on #5448
hmm - why ? didn't we say if an extension eventually will be native we keep them active and listed ?

[2019-11-14 11:38] gsmet commented on #5448
My understanding of this one is that there's a good chance we don't want to expose it for now as we might add graphql support with a totally different implementation.

[2019-11-14 11:44] maxandersen commented on #5448
ok - that’s a valid reason.

[2019-11-14 11:55] rsvoboda commented on #3018
@gsmet this issue originates from https://github.com/quarkusio/quarkus/issues/2917 where @stuartwdouglas said "We do need some solution for serving files that does not involve storing them in the native image (e.g. an external directory)."

It seems https://github.com/quarkusio/quarkus/issues/3886 is also covering this topic

[2019-11-14 11:58] rsvoboda commented on #3886
Adding ideas from #3018:

Expose just files in the root directory vs. all content and directories recursively

Possibility to expose multiple directories under multiple endpoints (mapping 1:1)

Possibility to expose multiple directories under one endpoint, mapping n:1, challenge with duplicate file names and same sub-directories structure

[2019-11-14 12:00] Postremus commented on #3241
@mkouba Yes. I have no constructor in `SomeBean` at all. It should therefore have the default public constructor, with no args.
I tested this by copy and pasting the above code, and adding `@ApplicationScoped` to `produceSomeBean()`.

[2019-11-14 12:04] gsmet commented on #3018
@rsvoboda yup, that's why I marked it as a duplicate of #3886 , especially since we have an ongoing PR targeting #3886 .

[2019-11-14 12:11] mkouba commented on #3241
@Postremus Ah, I can see the problem - `SomeBean` is an inner class (non-static) and so it has an implicit constructor with `ProducerBugExample` as an argument (generated by the compiler).

[2019-11-14 12:14] johnaohara commented on #5443
@yuhaibohotmail I have your test running without hanging the application.  Now waiting on CI and approval for the PR. Thanks

[2019-11-14 12:42] emmanuelbernard commented on #2611
Not on top of my head. I don't even know the process

[2019-11-14 12:48] dufoli commented on #5454
@loicmathieu thanks to make the explanation clearer.
I just add that definition of config is done inside MongoDb module and use of config is done inside panache mongodb module.

[2019-11-14 12:52] sberyozkin commented on #5342
It took it awhile to understand it, because when it depended on the full vertx the Jackson was there and all worked but started failing eventually once we optimized on vertx-http.

[2019-11-14 13:08] muirandy opened #5471 "Opentracing with Kafka Streams"
Quarkus: 1.0.0.CR1
Java: 1.8.0_232
Maven: 3.6.1

**Description**
The opentracing already within Quarkus allows reporting to Jaeger. This works for HTTP endpoints, and also allows DB requests to be traced. I'd like my Kafka Streams also to be traced.

**Implementation ideas**
This [confluent blog](https://www.confluent.io/blog/importance-of-distributed-tracing-for-apache-kafka-based-applications) t

[2019-11-14 13:08] muirandy commented on #5471
Ping @gunnarmorling

[2019-11-14 13:10] johnaohara opened #5579 "AWS Lambda project is not created if user includes "AWS Lambda" extension"
**Describe the bug**
If a user selects the "AWS Lambda" extension when creating a new project at code.quarkus.io the project that is created is a normal RESTEasy JAX-RS project with the aws lambda extension included in the pom.xml

AWS lambda projects have a different template and include classes and shell scripts to upload and invoke a Lamda onto AWS.

I was also unable to select the "RESTEasy JA

[2019-11-14 13:15] rmpestano commented on #3021
Hi guys, I actually don't know because I ended installed graal and configured graal_home on my machine.

I think we can close it.

[2019-11-14 13:16] kenfinnigan commented on #3262
From a quick look through the extensions, it appears we only take into account `@ApplicationPath`, and not what might be defined by `Application` child.

[2019-11-14 13:18] kenfinnigan commented on #2985
I think this was raised after we began using RESTEasy.

I believe it's not a problem

[2019-11-14 13:24] sberyozkin commented on #5397
@stuartwdouglas let me open a discussion in a new issue :-)

[2019-11-14 14:19] ktulinho commented on #2003
Any updates on this? I was trying to get multi module to work on my test project but I haven't been able to make it work yet

[2019-11-14 14:19] cescoffier opened #5472 "OpenId connect extension should be associated with the OIDC tag"
We need to add the `oicd` tag to the extension.

[2019-11-14 14:19] dmlloyd commented on #5454
Either way this is likely fixed by #5387.

[2019-11-14 14:21] iocanel opened #5474 "Provide a build item that contains the module root path."
**Description**
Every now then when working with extensions, I need to use the path to the module root directory. This information is currently not available and one can only use workarounds.

It would be great if there was a build item provided that contained this information.

**Implementation ideas**
The maven BuildMojo does have access to this information so does the gradle BuildTask.
From the

[2019-11-14 14:27] sean-scott-lr commented on #5457
Thanks @loicmathieu....  Yeah, the code for the check for enablement happens at build time, not run time. Which is why I feel this is a bug.

[2019-11-14 14:46] dmlloyd commented on #2152
Yes it's still not solved for Java agents.  I think we need a more resilient solution.

[2019-11-14 14:47] FroMage commented on #3655
This seems to be a bug in RESTEasy, probably due to the exception being wrapped by RxJava, and we should unwrap it before calling the exception mapping.

[2019-11-14 14:48] dmlloyd commented on #2081
No they did not, but it might be a non-issue with GraalVM soon.  I think we still should think about implementing this ourselves though in a more lightweight way.

[2019-11-14 14:53] dmlloyd commented on #2765
Ongoing.  I would say that 50%+ of the weekly meetings have been cancelled in the past few months so progress has been slow.

What I'm thinking is that the policy should be that primitives (other than `char`) would default to `0`/`false` but would still be required like we do for `@ConfigItem`.  Objects should not and would be considered required unless they're explicitly `Optional`.  That means t

[2019-11-14 14:54] dmlloyd commented on #3013
Yes, I think this can be considered solved.

[2019-11-14 14:54] #3013 closed

[2019-11-14 14:57] FroMage commented on #3655
Can you please file an issue at https://issues.jboss.org/secure/CreateIssue!default.jspa and I'll make sure it's taken care of?

[2019-11-14 14:59] Sanne commented on #5463
Fixed by #5469

[2019-11-14 14:59] #5463 closed

[2019-11-14 15:02] geoand opened #5479 "Support arbitrary auth expressions in an annotation"
Spring Security's `@PreAuthorize` provides users the ability to write arbitrary expressions for auth checks using an expression language.

Some examples are:

[code]

Do we feel that Quarkus should have something similar?

[2019-11-14 15:02] geoand commented on #5479
cc @FroMage @emmanuelbernard

[2019-11-14 15:05] pavolloffay commented on #5419
The servlet filter is used because JAX-RS response filter is not being invoked if there is an exception thrown during the invocation. The servlet filter is only used to finish the span and log exceptions (if any).

If RestEasy or any other underlying stack provides API to wire in after the request processing the fix should be easy.

Servlet filter:
https://github.com/opentracing-contrib/java-jaxrs

[2019-11-14 15:07] FroMage commented on #5479
This looks a lot like Seam's UEL support for auth, which I used back in the day and which allowed us to write security rules in drools.

Except I can't make sense of the semantics at play here. Can you explain what the annotation does (besides have some EL) and what its relation to the method is?

[2019-11-14 15:07] loicmathieu commented on #5457
This is a runtime config, used as a `RUNTIME_INIT` build step.
So this is runtime.

The build step will be run during the maven/gradle buid of your project, the output of the buildstep will be 'recorded' then executed at runtime, so when you start your JAR.

This is how Quarkus works, so for Quarkus this is runtime even if the check (seems to be) is done inside the deployment module.

According to

[2019-11-14 15:10] dmlloyd commented on #5457
That is incorrect unfortunately.  It is in fact used in a `RUNTIME_INIT` build step, but the step is executed at build time, and it currently exploits a bug in config processing that doesn't raise an error when the run time config is accessed at build time.

Only calls to the recorder object are recorded.  All the other field references and method calls are not recorded and are executed immediatel

[2019-11-14 15:11] FroMage commented on #5479
The first two examples only yield this use-case:

- be able to specify boolean logic combinations of role checks

I don't know what the third does.

In Seam, we frequently used those rules to check if the user had roles and was an actor for some object (as in: must be admin, or be the author of this comment entity).

[2019-11-14 15:14] geoand commented on #5479
The examples I added were a little confusing due to how I wrote them. I updated them to hopefully make them more clear.

The third example basically checks whether the method parameter is the same as the logged in user. My guess it's useful if you want to limit the data a logged in user can see.

[2019-11-14 15:17] geoand commented on #5479
I also added a couple more examples

[2019-11-14 15:19] #2299 closed

[2019-11-14 15:27] sberyozkin commented on #5419
@gsmet `quarkus-smallrye-jwt` needs to work with the authentication mechanism directly and now depends on the `vertx-http` one. For it to also work with Undertow, we'd have to split it into `quarkus-smallrye-jwt-common` and the existing `smallrye-jwt`(-vertx is default)  and `smallrye-jwt-undertow`. Or perhaps, have `HttpAuthenticationMechanism` located in the shared module which both Undertow (bl

[2019-11-14 15:28] Sanne commented on #1394
https://github.com/rest-assured/rest-assured/pull/1228 ;-)

[2019-11-14 15:31] jkristof94 opened #5480 "--initialize-at-build-time added with empty value"
Is there a specific reason `--initialize-at-build-time` gets added every time with empty value to the native-image argument list? It comes from [here](https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java#L175)

[2019-11-14 15:33] loicmathieu commented on #5457
@dmlloyd if it exploit a bug this is scary as it works now and maybe it will not works later anymore ... and this construct can be seen in other extensions I think ...

[2019-11-14 15:35] mkouba commented on #455
Here we go: https://github.com/quarkusio/quarkus/pull/5481

[2019-11-14 15:48] jaikiran commented on #2219
That's a good idea. Over the weekend, I'll see if this can be done in a reliable way.

[2019-11-14 15:56] sean-scott-lr commented on #5457
@loicmathieu I think you misunderstand the issue... this setting ONLY works in the quarkus:dev runtime...  if you build a jar or run in native mode, you can not change the value of that config item and have quarkus honor the setting.

[2019-11-14 16:01] dmlloyd commented on #5457
Right it only *appears* to work, it doesn't *actually* work.  If you change the flag at run time it has no effect.  My PR #5387 simply formalizes the existing, actual behavior by marking this property as a build time property.

[2019-11-14 16:12] emmanuelbernard commented on #5480
We use the programmatic API to pass these informations, so we pass a much bigger command line virtually than what you see :)

[2019-11-14 16:14] jkristof94 commented on #5480
Good to know, but it makes things confusing, to say the least. Is there any way to see what actually gets executed?

[2019-11-14 16:17] dmlloyd commented on #5480
It is not really possible because the native image compiler considers something called "features" which exist in the class path of what is being compiled, and there are tons of them (plus a few which we add as well).  They can do pretty much anything.  The command line is really a small subset of what actually happens in a native image build.

[2019-11-14 16:26] jkristof94 commented on #5480
Thank you for the clarification! Would it make sense (and be possible) to remove that line from the command line output to reduce confusion?

[2019-11-14 16:36] FroMage commented on #5479
OK thanks. Let's assume those methods are CDI methods then, and the annotation checks for permissions rather than extracts some data related to permissions from the method's return value.

## Role combination

I'm going to assume that many of these role checks are reused over several methods, because security rules are rarely one-offs.

We could write them like this:

[code]

It is longer, but reu

[2019-11-14 16:37] FroMage commented on #5479
Keep in mind those are ideas. Perhaps they're better, perhaps they're worse. They're only here to help discussing potential solutions to use-cases.

[2019-11-14 16:40] dmlloyd commented on #5480
No, the command line that is printed is the one that is actually run in order to correctly produce the native image.  Removing the option would result in an incorrect/non-functional build.  The option is really present in the build.  What Emmanuel was alluding to is that the command line options do not completely describe what is happening in the build.  But they are still needed (in this case, th

[2019-11-14 17:08] evacchi commented on #3023
sure, I'll see if I can spare some cycles

[2019-11-14 17:09] loicmathieu commented on #5457
@sean-scott-lr sorry, I misunderstand it as I use this config item ... in dev mode only ...

@dmlloyd for this to works it should be a config with `ConfigPhase.BUILD_AND_RUN_TIME_FIXED` right ? This is how we do for activating/disactivating the different security related extension. Or will it still only works on dev mode ?

[2019-11-14 17:22] dmlloyd commented on #5457
Setting it to `BUILD_AND_RUN_TIME_FIXED` avoids it becoming a build error after #5387 is merged but otherwise changes nothing: the property is only examined during build.  To fix it to work at run time, the configuration object as a whole has to be passed to a recorder object which then does some run time decision based on the value.

[2019-11-14 17:25] patriot1burke commented on #5419
@pavolloffay IIRC, JAX-RS response filters should be run no matter what, even if there is an exception thrown from the method.

[2019-11-14 17:47] piotrgwiazda commented on #5323
I generally agree. On the other hand, sometimes you want to e.g. hide the button if rhe user is missin a permission. Then the backend-for-frontend (web-app) will need the permission details to pass to the GUI.

[2019-11-14 17:47] looorent opened #5484 "OIDC does not support environment variables"
**Describe the bug**
Instead of configuring Quarkus in `application.properties`, we use environment variable according to the MicroProfile specification. However, the extension `quarkus-oidc:1.0.0.CR1` does not recognized these values at start up.
This happens when running Quarkus with: `./gradlew quarkusDev`.

**Expected behavior**
Quarkus OIDC uses values from the environment variables.

**Actua

[2019-11-14 17:48] dmlloyd commented on #5484
Fixed by #5387.

[2019-11-14 17:53] sberyozkin opened #5485 "Enable authentication by default if a SecurityIdentity-providing module is enabled"
**Description**
Lets consider a case where only the authenticated users can access a given endpoint.  At the moment, one has to enable the `SecurityIdentity`-providing module, example, `quarkus-oidc` and express a requirement that the authentication is required (in `application.properties`, see below, or with `@Authenticated`):
[code]
This is a process familiar to a good number of developers. Howe

[2019-11-14 17:57] #1942 closed

[2019-11-14 18:01] #5472 closed

[2019-11-14 18:26] gastaldi commented on #5453
I get a `Segmentation fault` error when running the `native-image.cmd`.

[2019-11-14 18:31] geoand commented on #5453
That sounds like a GraalVM bug

[2019-11-14 18:50] geoand commented on #5479
Excellent points!

[2019-11-14 19:10] 4ntoine opened #5488 "EntityManager in not injected when using devmode with gradle"
**Describe the bug**
I'm using JPA + Hibernate without Panache. application.properties seems to be configured correctly. Beans injecting annotations are set. However `EntityManager` instance is not injected.

**Expected behavior**
`EntityManager` instance is instantiated by Quarkus (Arc) and injected.

**Actual behavior**
`EntityManager` instance is `null`.

**To Reproduce**
Steps to reproduce the

[2019-11-14 19:13] #5399 closed

[2019-11-14 19:30] sberyozkin commented on #5479
IMHO it might make sense to keep the authentication constraint check out of it, given we already have `@Authenticated` as per Stephane's comment, and it seems a little bit too flexible :-), having something like `isAuthenticated() and isAdmin()`, I'm assuming if someone says `isAdmin()` then the security identity has to be available ?

[2019-11-14 19:47] cescoffier commented on #5254
Any hint to run a kafka broker with the same config?

[2019-11-14 20:04] objectiser commented on #5419
@patriot1burke Just checked, the `ContainerResponseFilter` is not called when an exception is thrown, so looks like using the `HttpServletFilter` is the only way to deal with the exception case, and finish the span.

Tried out the example from the original issue, and the tracing information is still recorded, including the exception (stream closed):

![quarkus-jtw-error-trace](https://user-images.

[2019-11-14 20:14] dufoli commented on #5454
@geoand sadly still failing with the change.

[2019-11-14 20:22] xfh commented on #4571
I think more of the properties with the `mp.messaging.*` should be evaluated at runtime. I've found another issue in combination with confluentinc's [Schema Registry](https://docs.confluent.io/current/schema-registry/schema_registry_tutorial.html#java-producers): the URL of the schema registry should be configurable for different environments as well.

A non-breaking strategy would be to make all

[2019-11-14 20:39] dmlloyd opened #5492 "RestEasy ServletConfigSourceImpl is broken"
**Describe the bug**
`org.jboss.resteasy.microprofile.config.ServletConfigSourceImpl` is essentially nonfunctional in a native image.  In addition it is context-sensitive which can lead to unexpected behaviors (specifically that two reads of the same key from the same configuration object will yield the same value).

For now I've blacklisted this implementation from being registered to the native

[2019-11-14 21:00] #5374 closed

[2019-11-14 21:02] iocanel opened #5493 "Allow triggering container builds and deployments during the build."
**Description**
Currently, every quarkus project comes with a set of Dockerfiles for jvm and native images. Also, its trivial to have kubernetes/openshift manifests generated using the `kubernetes` extension.

To further bump the developer joy, it would be great if we could trigger a docker build and deployment from the command line, with something like:

    mvn clean package -Dquarkus.container.

[2019-11-14 21:15] Sergey80 opened #5494 "%test.quarkus.http.root-path does not have effect when run @QuarkusTest test"
**Describe the bug**
%test.quarkus.datasource.url does not have effect when run @QuarkusTest test.

https://stackoverflow.com/questions/58841384/quarkus-reading-application-properties-from-the-quarkustest

**Expected behavior**

in test/resources/application.properties

%test.http.root-path=/my-service/api/v2

[code]

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-11-14 22:05] majonga88 opened #5497 "Cannot build native image on WSL"
Hi guys,

I have an other issue (not directly related with this one : #5363).

I have two kind of machine for building native image : one in WSL (v1) and another one on Mac OSX.

I would like to build a native image following this guide : https://quarkus.io/guides/building-native-image.html

When i do the following cli :

cli | MacOSX | WSL1
--- | --- | ---
`./mvnw verify -Pnative` | ✔️ | ✔️
`./mv

[2019-11-14 22:06] majonga88 commented on #5363
Ok thinks a lot for your support on this issue !

[2019-11-14 22:19] #5323 closed

[2019-11-14 23:04] gwenneg commented on #4218
I just submitted a PR that should make the netty upgrade optional by introducing the GraalVM `allowUnsafeAccess` support for fields through the Quarkus reflection registration API. See #5500.

[2019-11-14 23:06] evanchooly commented on #5037
So i've updated the `amazon-lambda` to provide these templates and improved the scripts generated to be in sync with the template files.  I've pushed to my fork at https://github.com/evanchooly/quarkus/tree/lambda-sam.  If you want to look it over and see if that's what you had in mind, I can work on a PR once you're done.  The templates should be all but identical to the `amazon-lambda-http` temp

[2019-11-14 23:26] gwenneg commented on #4218
@gsmet Can I safely create a PR that would introduce the JDK 11 native build in the CI? I don't want to disturb the CI because of additional artifacts or jobs right before the `1.0.0.Final` release :)

[2019-11-14 23:47] aloubyansky opened #5501 "Platform resolver fails in offline mode when the local repo contains metadata but not the artifacts"
In that case, the resolver is able to determine the latest version of the platform but fails to actually resolve it.
Unless the user has requested explicitly the desired platform coordinates, the agreed upon behavior in this case is to log a warn and fallback to the platform bundled with the tools.

[2019-11-15 00:00] #5261 closed

[2019-11-15 00:17] gsmet commented on #4218
@gwenneg let's wait a bit. CI is sufficiently unstable right now. Let's do that mid next week.

[2019-11-15 03:59] jaikiran commented on #5497
Hello @majonga88, can you please paste the complete output of that mvn command execution? I'm mainly interested in the command execution message that gets logged by our native image build step.

[2019-11-15 04:17] jaikiran commented on #5399
For future reference - Quarkus uses ZipFileSystem for handling the jars. There's a JDK enhancement to help fix this problem within the ZipFS implementation https://bugs.openjdk.java.net/browse/JDK-8211917. For now the workaround @geoand added has helped us get past this.

[2019-11-15 04:39] jaikiran commented on #4099
FWIW, here's how it actually looks like, now that this has made into the release - this image https://user-images.githubusercontent.com/846671/68887904-afac7000-073b-11ea-8b7b-34bdad16f71b.png from https://github.com/quarkusio/quarkus/issues/5488

[2019-11-15 05:57] johnaohara commented on #5443
@yuhaibohotmail #5451 fixes this issue and will be included in the next release. Thank you for your help

[2019-11-15 05:57] #5443 closed

[2019-11-15 07:12] geoand commented on #5488
Hi,

The CDI configuration is indeed not correct - you need to add `@ApplicationScoped` to `QuarkusEntityManagerFactory` and `Configuration`.

However even after doing that, there seems to be a bug which is most likely another manifestation of https://github.com/quarkusio/quarkus/pull/4905#issuecomment-546851800

[2019-11-15 07:15] geoand commented on #5471
cc @pavolloffay @objectiser

[2019-11-15 07:35] geoand commented on #4693
@ebullient will most likely be tackling this one

[2019-11-15 08:04] 4ntoine commented on #5488
@geoand Thanks for the reply, any [known] workaround for Gradle bug that you are aware of? BTW is it Gradle or gradle quarkus plugin?

[2019-11-15 08:07] oztimpower commented on #5037
The simplification via manage.sh and the lambda role env. variable is great to see.

I quite liked the detail and script content on the former documentation, it is a shame to remove all of that; it allowed me to construct Gradle equivalents for example, without having to generate the maven archetype.

The sam.jvm.yaml and sam.native.yaml template still have the API Gateway detail in the template,

[2019-11-15 08:30] pavolloffay commented on #5419
Unfortunately, this is not true for any JAX-RS implementation I could find.

[2019-11-15 08:34] yuhaibohotmail commented on #3482
When will this function be implemented?

[2019-11-15 08:37] vongosling commented on #3903
Hi, community. I wonder how are things going on.

[2019-11-15 08:38] geoand commented on #5488
It's a gradle quarkus plugin issue, not gradle itself.

We are working on having great gradle support, but currently it's incubating :). Stay tuned however, we should have more updates soon.

@maxandersen FYI

[2019-11-15 08:40] bframke commented on #5390
Not sure if it is helpful, gradle does not really show much information in the stacktrace.

[code]

[2019-11-15 08:45] geoand commented on #5390
@bframke what GraalVM version are you using?

[2019-11-15 08:46] RongtongJin commented on #3903
@ShannonDing
I am also a developer from Apache RocketMQ community.
I can join you to make rocketmq can do the same thing like kafka in quarkus and donate the code to the community.
As a beginner of quarker, it would be better if anyone in quarkus community can guide me.

[2019-11-15 08:46] bframke commented on #5390
19.2.1

[2019-11-15 08:48] geoand commented on #5390
That's the correct version, :+1: .

Any chance you could provide a small sample project that exchibits this behavior so we can try and reproduce?

[2019-11-15 08:53] lburgazzoli commented on #5493
Shouldn't the deploy task a "tooling" task ?
Something like `mvn quarkus:deploy`

[2019-11-15 08:53] loicmathieu commented on #5457
@dmlloyd I was afraid that you answer this ...

Regarding #5387 I'm not comfortable with changing RUN_TIME to BUILD_TIME config even if it fixes the bug as your fix changes the intent of the developer. I understand that you cannot make it works as expected easily, maybe you should open followup issue for the extension maintainer to have a look and, if possible, make it works as intended (so at run

[2019-11-15 08:57] maxandersen commented on #5488
thanks for the headsup @geoand !

I've updated the title to reflect the specific issue as I see it and yeah; this is the kind of issue we need to go fix proper in the context of maturing gradle work at #5101

[2019-11-15 09:01] loicmathieu commented on #5454
@dufoli @geoand I was afraid that it changes nothing as I'm pretty sure that I tested it (but we tested so much things that I was not 100% sure anymore ...)

If @dmlloyd thinks that #5387 will fix this, does we wait for it to be merged, I don't know if it will be sooner or later.

@dufoli what you can do to be 100% sure is to try to rebase **locally** on https://github.com/dmlloyd/quarkus/tree/con

[2019-11-15 09:01] lburgazzoli opened #5508 "[hibernate-validator] NoClassDefFoundError: org/joda/time/ReadableInstant"
**Describe the bug**
We are working an an extension for camel-bean-validator (based on hibernate-validator) and experiencing this error while building in native mode:

[code]

**Expected behavior**
Joda is not on classpath so it should not fail

**To Reproduce**
Steps to reproduce the behavior:
1. clone https://github.com/lburgazzoli/apache-camel-quarkus/tree/camel-bean-validator
2. mvn clean inst

[2019-11-15 09:10] objectiser commented on #5471
@muirandy As an interim solution, I would recommend setting the `quarkus.jaeger.propagation=jaeger,b3` [property](https://quarkus.io/guides/opentracing#quarkus-jaeger_quarkus.jaeger.propagation) to allow B3 trace context propagation to be supported in your quarkus service, and then use brave to instrument your Kafka Topology.

However it would be a good enhancement to auto-instrument the injected

[2019-11-15 09:12] #5501 closed

[2019-11-15 09:33] bframke commented on #5390
So made a minified version of our project. Showed me the same error with a buildNative.

https://github.com/bframke/quarkus-examples

[2019-11-15 09:36] geoand commented on #5508
Interesting!

I don't see joda-time in the dependency tree, which dependency brings it in?

cc @gsmet

[2019-11-15 09:43] geoand commented on #5390
Do I have to do anything specific to reproduce the error with your sample?

I am getting:

[code]

when doing `./gradlew buildNative`

[2019-11-15 09:52] geoand commented on #5508
Just as an FYI, I tried adding joda-time to the validation-quickstart to see what would happen and it built just fine

[2019-11-15 09:54] bframke commented on #5390
okay, added the resources in a minified version back, should work now. Gradle gave me that error only when I didn't had the resources lying around there.

[2019-11-15 10:07] geoand commented on #5390
I am seeing:

[code]

Notice ` /project/build/resources/main/reflect-config.json` which obviously doesn't exist. Is your build script doing anything weird that would cause `/project` to be used at the root of the project?

[2019-11-15 10:08] Xendar commented on #5453
It's strange that I did not get any error returned on my side, did you do something special to see the error?

I would tend to say that it's the case indeed...

[2019-11-15 10:11] bframke commented on #5390
No, forgot to remove the build/ from the path in the application.properties. I added the build/ because I wanted to try and add the whole build dir as a mount to the project, which did work, but it had no impact.

Colleagues of mine only added the file as a mount, which also worked, but had then problems removing it, because it was created with root only permissions.

[2019-11-15 10:37] oztimpower commented on #5037
Tested it, works fine.  Nice one!

Is there a way to make manage.sh executable via the archetype rather than having to use sh to invoke it? i.e., ./manage.sh

Since there is also a sample payload.json, the sam docs could be updated to refer to it?
`sam local invoke --template sam.native.yaml --event payload.json `

ProcessingService.process has a typo (it's currently proces).

Docs look great simp

[2019-11-15 10:39] geoand commented on #5390
I am not really sure what's wrong with the whole setup (I checked with another project and the configuration in `application.properties` does work correctly)

but when I do comment out the properties and instead add this configuration:

[code]

Downloading: Component catalog from www.graalvm.org
Processing component archive: Native Image
Component Native Image (org.graalvm.native-image) is already

[2019-11-15 10:43] geoand commented on #5390
I'll check it out some more later on

[2019-11-15 11:11] #3311 closed

[2019-11-15 11:25] #4377 closed

[2019-11-15 11:28] Sanne commented on #4377
hi @rafaelkloss we merged the Hibernate ORM upgrade, this should be fixed now thanks to @dreab8 .

Since he ported your test to be incorporated into the ORM integration tests, I'm closing this one but please could you check on your original case as well :)

[2019-11-15 11:39] gastaldi commented on #5453
I only copy and pasted the command that was shown.

[2019-11-15 11:46] sberyozkin commented on #3797
@vsevel Can you please update the links, thanks

[2019-11-15 12:13] lburgazzoli commented on #5508
I think Joda is an optional dependency of hibernate validator

[2019-11-15 12:20] gsmet commented on #5413
I'm reopening this one. Let's close it when we upgrade MP Rest Client.

[2019-11-15 12:43] lburgazzoli opened #5511 "[hibernate-validator] Provide ValidatorFactory as BuildItem"
**Description**
Would be nice to have the `ValidatorFactory` computed by the `HibernateValidatorProcessor` available also as build item so we can configure resources that leverage need it on `STATIC_INIT`,

i.e. the camel-bean-validator now looks up `ValidatorFactory` through CDI but we could bound the  factory to the component at `STATIC_INIT` if a build item were present

[2019-11-15 12:55] sberyozkin commented on #5479
Hey Georgios, @geoand, I was wondering, if one could write not only `isAdmin()` (i.e various variations about the roles) but also say `jwtClaim("email")== someuser@gmail.com`, etc, i.e expand it to claims based authorization or to whatever else is available in Quarkus `SecurityIdentity` then ot could be somehow different to just a Spring like syntax. Well, we'd still want to control the claim base

[2019-11-15 13:03] mkouba opened #5513 "ArC - support static producers"
See https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#producer_method.

[2019-11-15 13:06] dmlloyd commented on #5454
The problem was that the original config properties weren't replicated into the target artifact if they didn't have a run time visible scope.  That was changed in #5387; now all configuration properties that were set at build are copied into the native image.

[2019-11-15 13:08] geoand commented on #5479
Hey  @sberyozkin

Are you asking if Spring Security currently offers a similar capability?

[2019-11-15 13:10] geoand commented on #5508
Ok, thanks. Let's wait for the expert @gsmet :). Following his input, I can then take if no one else wants to.

[2019-11-15 13:15] dmlloyd commented on #5457
Unfortunately it's going to start being an error to access run time config from a build step (unless it's just to proxy the object in to a recorder).  If you do want to fix it before #5387 is merged, I understand.

We always should have had a strict check for this, however we also wanted to be able to send run time config objects in to recorders so they need to be proxied to do that.

I think we s

[2019-11-15 13:20] dmlloyd opened #5514 "Run time config objects should be disallowed in build steps completely"
**Describe the bug**
Users are using run time configuration object values in build steps, expecting the effects to happen at run time.  See https://github.com/quarkusio/quarkus/issues/5457#issuecomment-554270894 for some examples.

Usage of fields of run time configuration objects during build steps should be marked as an error.  However this is impossible unfortunately.  So the next best thing wo

[2019-11-15 13:24] loicmathieu commented on #5454
@dmlloyd `quarkus.mongodb.database` is a runtime property.
And it works before the changes dones by @dufoli for mutiple mongo connection support.

[2019-11-15 13:27] geoand commented on #5390
Now I see you are using Docker to build the native image... I hadn't noticed that before. Let me see what that entails

[2019-11-15 13:32] mkouba commented on #1525
So the current simplified approach is highly optimized for our primary goals. But it probably doesn't fit all the use cases we'd like to support. I'm going to add some comments and leave the discussion open so that we could potentially revisit the bean discovery in quarkus 1.1+.

Not really. The final set of bean defining annotations also contains annotations registered by quarkus extensions (e.g.

[2019-11-15 13:34] gsmet commented on #4218
@cstancu btw, I wanted to apologize for us not having been very reactive on that one. We were all busy preparing 1.0. As you can see, it's in good hands now and we are making good progress.

Thanks for raising all these issues and your advice on how to fix them!

[2019-11-15 13:36] Sanne commented on #5508
Indeed joda-time is an optional dependency, so adding it on the classpath would work around the issue - but it should be possible to fix it in a better way.

I think the compiler needs a stronger hint that this class is not possibly initialized when the optional dependency is not around.

This could be hard, essentially there's something among those other dependencies that makes the GraalVM compil

[2019-11-15 13:37] gsmet commented on #5508
Note that HV is working correctly in other examples. So there's something specific to Luca's setup.

[2019-11-15 13:46] dufoli commented on #5454
@loicmathieu @geoand @dmlloyd  great news, with 5387, I have succeed to build the module and run integration test.
command run
./mvnw clean install -Pnative

[2019-11-15 13:47] dufoli commented on #5454
@loicmathieu I have change config from runtime to BUILD_AND_RUN_TIME_FIXED. Maybe it come from that...

[2019-11-15 14:02] sberyozkin commented on #5479
Hi @geoand Not really :-), the hope is that Spring Security developers will ask, can we have what is done in Quarkus about PreAuthorize and JWT claims (and more as needed from SecurityIdentity) :-)

[2019-11-15 14:05] loicmathieu commented on #5454
@dufoli maybe close this issue and add a note on #4529 that it is waiting for #5387 ?

I don't know if there is a plan to merge #5387 soon ...

[2019-11-15 14:06] geoand commented on #5479
Gotcha, thanks!

I definitely don't have the answers here :), I'm just stating what Spring Security supports and wondering what sort of experience we can bring to Quarkus

[2019-11-15 14:16] sberyozkin commented on #5479
Sure thanks; It was only a suggestion, alongside Stephane's ones, on how we might try to differentiate around it. I'll ping you later to discuss it in more detail if the work on this issue goes ahead. thanks

[2019-11-15 14:18] geoand commented on #5390
This turns out to be a bug in how we handle the build of the native image when docker is used.

Essentially what happens is the following:

When a native image is being built, the working directory is a directory named "${artifactId}-${version}-native-image-source-jar" and resides inside the build directory (`build` for Gradle, `target` for Maven).
For gradle the resources are inside `build/resour

[2019-11-15 14:22] gastaldi commented on #5390
That makes sense, but I think writing an extension would be enough to get rid of these json configuration files

[2019-11-15 14:23] lburgazzoli commented on #5508
https://github.com/apache/camel/blob/master/components/camel-bean-validator/src/main/java/org/apache/camel/component/bean/validator/HibernateValidationProviderResolver.java
https://github.com/quarkusio/quarkus/blob/master/extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/ValidatorProvider.java

[2019-11-15 14:28] emmanuelbernard commented on #3107
We could close this one and have a uber issue listing the extensions that should and don't have them.

[2019-11-15 14:28] gsmet commented on #5508
I'm wondering if this could be the issue: https://github.com/apache/camel/blob/master/components/camel-bean-validator/src/main/java/org/apache/camel/component/bean/validator/HibernateValidationProviderResolver.java .

Normally, all this stuff should be handled by the Quarkus extension and the `HibernateValidator` class shouldn't be used.

[2019-11-15 14:31] geoand commented on #5390
@gastaldi you mean make users write an extension?

That is certainly possible an in this case easy to do, but I really think it's not necessary and would be a lot more user friendly to just provide config options that would work for 95% of the use cases

[2019-11-15 14:33] lburgazzoli commented on #5508
Yes, that class is used outside quarkus, in my extension I do leverage the validator from quarkus but the presence of the class itself causes seems to cause the issue

[2019-11-15 14:37] gsmet commented on #5508
Yes because there's a good chance it will drag all the HV initialization code to the native image. Whereas in a standard setup, it's not part of the native image.

[2019-11-15 14:38] loicmathieu commented on #3107
This is the purpose of #5073 :)
If you feel that some extensions are missing health check, please add them to the list !

[2019-11-15 14:45] gsmet commented on #4059
This one has been solved by @anamarija in quarkus-http: https://github.com/quarkusio/quarkus-http/pull/11

[2019-11-15 14:45] #4059 closed

[2019-11-15 14:46] #5370 closed

[2019-11-15 14:48] geoand commented on #5370
I forgot to add tests, but actually they shouldn't be needed since all relevant the tests were added in RESTEasy

[2019-11-15 14:49] #5214 closed

[2019-11-15 14:51] cescoffier commented on #5240
Vert.x clustering is not yet supported.

[2019-11-15 14:51] gsmet commented on #5252
The immediate issue is solved.

[2019-11-15 14:51] #5252 closed

[2019-11-15 14:53] gsmet commented on #4774
This has been solved by the RESTEasy upgrade.

[2019-11-15 14:53] #4774 closed

[2019-11-15 14:59] #5454 closed

[2019-11-15 15:00] gsmet commented on #5254
@irenakezic @anamarija maybe you could help on setting up a Kafka config that triggers the issue for us? I suppose you're familiar with that?

The fix should be easy once we have that.

[2019-11-15 15:21] xfh commented on #4571
Hi @dmlloyd does #5387 also fix this issue?

[2019-11-15 15:29] #5397 closed

[2019-11-15 15:32] irenakezic commented on #5254
@gsmet ok, we will take a look

[2019-11-15 15:34] Sanne commented on #5269
As discussed on the mailing list, we should have the MySQL extension set the "all timezones" flag by default.

[2019-11-15 15:36] sberyozkin commented on #5419
@pavolloffay I'd expect this to work as well (with at least one implementation I'm aware of), the exception had to be mapped, either to a custom or default exception (WebApplicationException) and the exceptional Response - routed through the response filters. CC @asoldano - Hi Alessio, FYI, is there a way to make it work with RestEasy ?

[2019-11-15 15:51] Sanne commented on #5508
as I said above:

the presence of that class affects possible code flows: the code analysis of the compiler is no longer sure of how exactly the Validator(s) are going to be initialized - bypassing the guidance that the Quarkus extension normally provides to avoid such issues.

It's very similar to what was happening with #5343 - which was driving me nuts debugging the compiler and yet the solutio

[2019-11-15 16:08] cescoffier commented on #5240
I've a patch.

[2019-11-15 16:32] majonga88 commented on #5497
Hi,

Here they are : [error-log.txt](https://github.com/quarkusio/quarkus/files/3852347/error-log.txt)

Thank you.

[2019-11-15 16:55] paulrobinson commented on #4369
@stuartwdouglas is this all done for 1.0.0.Final now?

[2019-11-15 17:01] gsmet commented on #5508
Well, the issue is not in the HV extension IMHO. You really don't want to include all the initialization code in the native image.

Any chance you could get rid of the resolver pointing to a bootstrap class? If you only use the instance the extension produce, everything will be OK I think. And I think it's the way to go.

[2019-11-15 17:15] lburgazzoli commented on #5508
To be clear, the issue is now solved from camel/quarkus so I'm fine to close the issue.

What I meant is that, but I'm just thinking aloud as I do not know all the details of the hv initialization, you may think to improve how optional classes are taken into account so that the chance to fall into this issue for 3th party libraries is lower.

[2019-11-15 17:19] dmlloyd commented on #4571
Yes it *should* but we'll need to explicitly verify it to be sure.

[2019-11-15 17:42] 4ntoine opened #5521 "Unsatisfied dependency for type javax.persistence.EntityManager and qualifiers"
**Describe the bug**
Quarkus does not inject `EntityManager` given `application.properties` is created and 2 module dependencies are added in `pom.xml`

**Expected behavior**
`EntityManager` is injected into controller to the field marked with `@Inject`

**Actual behavior**
`./mvnw compile quarkus:dev` result in error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone git@gith

[2019-11-15 17:42] 4ntoine commented on #5488
I've jut tried it with maven and also failed to make it working: https://github.com/quarkusio/quarkus/issues/5521

[2019-11-15 17:45] gsmet commented on #5508
I don't really want to improve that because I don't want people to initialize their own `ValidatorFactory`.

It won't work properly as it's not a good idea to initialize it yourself: it has to be initialized at static init and carefully configured (it's not entirely impossible to do it manually but it requires some advanced knowledge, access to the Jandex index and it doesn't appear as a good idea

[2019-11-15 17:47] #5508 closed

[2019-11-15 17:48] gsmet commented on #5521
It might be a stupid question but do you have at least one entity and are they properly detected?

They need to be indexed in Jandex.

[2019-11-15 17:51] 4ntoine commented on #5521
@gsmet Hi, thanks for the reply. I've noted it:

I guess "missing dependency" and "misconfigured EM" are different things

[2019-11-15 17:54] gsmet commented on #5521
Ah sorry, I read too fast.

We decided to not create the EM if we don't have any entity so that's why you have this issue.

It's a conscious decision, I don't think we will change that.

/cc @Sanne

[2019-11-15 17:59] 4ntoine commented on #5521
Ok, but again i think it makes sense to output the reason for better understanding.
I will add 1 entity and retry to double check.
Thanks for the explanation.

However in updated generated there are no db entities, but in my project there is a [dependency](https://github.com/4ntoine/NotesServerApp/blob/issue-5-quarkus-maven/app-quarkus/pom.xml#L39) to `db` module and there is an [entity](https://g

[2019-11-15 18:10] mcrose opened #5522 "LogManager GENERIC_FAILURE on Windows 10"
**Describe the bug**
when auto redeploy occurs, an exception with log file rises

**To Reproduce**
Steps to reproduce the behavior:
1.  deploy the app
2. change some thing relevant

**Configuration**
[code]

**Environment (please complete the following information):**
 - Output of `java -version`: 11, project based on 8
 - Quarkus version: 1.0.0.CR1
 - OS: Windows 10

[2019-11-15 18:11] 4ntoine commented on #5521
Yup, i've modified the file in generated project to be the following (added 1 db entity):
[code]

Now i can compile and run and the output is good:

So i guess the problem is in transitive jar which is not reached by Quarkus. Any thoughts on it?

[2019-11-15 18:44] Sanne commented on #5521
Regarding the last issue, you might be hitting this extra requirement?
 - https://quarkus.io/guides/hibernate-orm#defining-entities-in-external-projects-or-jars

Regarding the NPE on missing entities, I agree we should provide for a better error message. Could you choose between re-purposing the description/title of this issue or open a new one?

[2019-11-15 18:47] Sanne commented on #5448
@cescoffier I regularly build the whole thing with `-Dnative` and this extension keeps nagging me. It's the last one so not too bad :)  But could we disable its native tests as well until this is "made compliant" ?

Could we consider that part of the tasks for this issue?

[2019-11-15 18:48] 4ntoine commented on #5521
@Sanne Thanks for the link, i will try.

Well, this was a combination of 2 issues. I guess transitive jar is the major one. Please do what you feel is better here.

[2019-11-15 18:49] Sanne commented on #5432
Agreed, thanks for opening this issue.

Look @dmlloyd , that didn't take too long for your prediction to materialize :+1:

[2019-11-15 18:54] 4ntoine commented on #5521
I [did it](https://github.com/4ntoine/NotesServerApp/blob/issue-5-quarkus-maven/app-quarkus/src/main/resources/META-INF/beans.xml) but it did not help, still having the same issue.

[2019-11-15 19:23] geoand commented on #5390
If we think that was I described makes sense, I can take it and implement it

[2019-11-15 19:36] vsevel commented on #3797
@sberyozkin done

[2019-11-15 20:28] gintsgints opened #5523 "Test with beforeEach for entity data update fails with strange message."
**Describe the bug**
I have project jpa, Panache with apropriate test - https://github.com/gintsgints/quarkus-ws
Test try to recreate data in tables with before each procedure.

**Expected behavior**
Tests fail with endpoint error or execute without error.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository
2. Start database with docker docker-compose up -d db
3. Start project,

[2019-11-15 23:40] Sanne commented on #5521
hi @4ntoine

the `META-INF/beans.xml` resource shuld not be added to your main application but to each jar that you want Quarkus to "scan" for any additional components.

So in this case you need to add it to `infra-gateway-jpa/src/main/resources/META-INF/beans.xml`

I tested it locally, and works as expected so I'll close this :)

[2019-11-15 23:40] #5521 closed

[2019-11-15 23:47] Sanne opened #5525 "Better error message when EntityManager can't be produced for injection"
**Describe the bug**
Follow up on #5521 :

when there are no entities, we automatically disable the Hibernate ORM extension, this implies that code attempting to use an injected EntityManager will get an error as the EntityManager producer is not generated either.

[code]

We should find a way to produce a better error message to explain this particular `UnsatisfiedResolutionException`.

@mkouba c

[2019-11-15 23:47] Sanne commented on #5521
I've created #5525 as follow up.

[2019-11-16 04:14] #4369 closed

[2019-11-16 04:23] 4ntoine commented on #5521
@Sanne awesome, thanks!

However i doubt it's good approach as it requires modification of existing modules - it prevents reusage of existing modules. It can be highly undesired to ask people to recompile the jars  because of 2 reasons:
1) "cost": recompilation takes time and can be pretty "expensive"
2) conceptual: it means you suggest to add some knowledge about the framework into that transitiv

[2019-11-16 05:59] 4ntoine opened #5526 "[Solved] REST Controller in transitive jar is not detected"
**Describe the bug**
I have a [controller](https://github.com/4ntoine/NotesServerApp/blob/issue-5-quarkus-maven/infra-rest-jax-rs/src/main/kotlin/name/antonsmirnov/notes/controller/rest/Hello2Controller.kt) in [transitive jar](https://github.com/4ntoine/NotesServerApp/blob/issue-5-quarkus-maven/app-quarkus/pom.xml#L44) and it's not detected

**Expected behavior**
Controllers in transitive jars are

[2019-11-16 06:01] 4ntoine commented on #5526
Can be solved with adding of empty `META-INF/beans.xml` into transitive jar:
https://github.com/4ntoine/NotesServerApp/commit/d24280679678d020d08702330c966980b6e1ae10

[2019-11-16 06:02] 4ntoine commented on #5526
It's mentioned in https://quarkus.io/guides/hibernate-orm#defining-entities-in-external-projects-or-jars but there it's written in context of ORM/JPA. I'd suggest to mention it in REST docs too

[2019-11-16 06:06] zerocode opened #5527 "Interface with RegisterRestClient doesn't inherit Rest API definitions correctly."
**Describe the bug**
When using an interface to describe a rest API, interfaces that inherit that API and are annotated with RegisterRestClient, don't appear to inherit the API's definition. When adding a Path annotation to the client interface, the test passes instead of throwing 404.

**Expected behavior**
It should be possible to inherit API definitions and for the injected client to respect th

[2019-11-16 06:21] zerocode commented on #3954
Would be nice to have this fixed.

[2019-11-16 07:11] 4ntoine opened #5528 "`EntityManager` is not injected"
**Describe the bug**
`EntityManager` instance is not injected into @ApplicationScoped object so i'm having the following exception for ``:
[code]

**Expected behavior**
`EntityManager` instance is injected and ready -to-use, no exception are thrown

**Actual behavior**
during `./mvnw compile quarkus:dev` i have the following exception
[code]
The app is shutdown.

**To Reproduce**
Steps to reproduc

[2019-11-16 15:08] geoand commented on #5526
@4ntoine would you like to submit a PR to improve the docs?

[2019-11-16 16:44] machi1990 commented on #5526
We also have it here https://quarkus.io/guides/cdi-reference#how-to-generate-a-jandex-index maybe we can reference it somehow.

[2019-11-16 17:25] 4ntoine commented on #5526
@machi1990  It sounds a bit inconsistent that for same transitive deps one just need to add "META-INF/beans.xml" and for some one need to generate some index. BTW why not just generate index for all the transitive beans? Is it compiling performance the reason?

[2019-11-16 21:00] rpdeadly opened #5531 "constraint mappings specified in META-INF/validation.xml aren't applied"
Hibernate's  Validator implementation fails to catch any violation.  I've got all of my validation rules specified in an XML ( because I do not have access to the source code ).
[code]

In my service I'm trying to validate the object

@Inject
Validator validator;
...
Set<ConstraintViolation<Organization>> violations = validator.validate( myOrg );
	if( ! violations.isEmpty() ) return false;

The vi

[2019-11-16 22:29] geoand commented on #5528
Is this similar to another issue you had opened @4ntoine ?

[2019-11-16 22:29] geoand commented on #5527
cc @kenfinnigan @michalszynkiewicz

[2019-11-16 22:32] machi1990 commented on #4626
I am seeing a likely similar issue for these builds among others
- https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=12297&view=logs
- https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=12298&view=logs
- https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=12274&view=logs&jobId=a6aa59f2-f7fc-5b83-1893-1108437bc330

The failure is
[code]

[2019-11-17 04:34] 4ntoine commented on #5528
@geoand Hi, I'm still trying to make it working and I've created a couple of similar issue while doing that, but all of them are different from this one:
1. https://github.com/quarkusio/quarkus/issues/5488 - this was with Gradle (and the problem is in Quarkus Gradle plugin classloading) - waiting for it
2. https://github.com/quarkusio/quarkus/issues/5521 (Migrated to Maven. This was my misconfigur

[2019-11-17 06:18] jaikiran opened #5536 "BearerTokenAuthorizationTest is failing"
The `io.quarkus.it.keycloak.BearerTokenAuthorizationTest` has been consistently failing against the CI runs, causing recent (unrelated PRs) to fail. The failure logs show this:

[code]
It seems that the test tries to connect to `http://localhost:8180/auth` and fails to do so. I haven't been able to get this test running locally either.

[2019-11-17 06:22] jaikiran commented on #5536
I've issued https://github.com/quarkusio/quarkus/pull/5537 to temporarily disable this test

[2019-11-17 08:10] geoand commented on #5531
I am not sure that violation.xml is even supported.
@gsmet can of course shine all the necessary light here

[2019-11-17 09:19] machi1990 commented on #4626
@jaikiran opened https://github.com/quarkusio/quarkus/issues/5536.

[2019-11-17 09:19] #4626 closed

[2019-11-17 09:31] machi1990 commented on #5531
I can see that the file it is hot reloaded https://github.com/quarkusio/quarkus/commit/45f875bd1c4b651f7a43617012a4a2c2ae786895#diff-b325242f07b81465b410fd3c1e40914aL78 but we are not trying to parse it anywhere. Let's wait for @gsmet to give his thoughts.

[2019-11-17 10:50] gaetancollaud commented on #5254
I had this issue when using confluent cloud platform. Here is my config:

[code]

When using the JVM mode it works. It's really just the native mode that fail with:

[code]

[2019-11-17 11:22] soberich opened #5539 "Multiple sourceDirs for Gradle are not supported."
**Describe the bug**
Multiple `sourceDir`s for Gradle are not supported.

**Actual behavior**
[code]
if specify
[code]

a non-sence forlder structure created
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Configuration**
[code]

**Environment (please complete the following information):**
[code]

**Additional context**
Quarkus `1.0.0.CR1`

[2019-11-17 16:46] rodrigofujioka opened #5544 "Quarkus Fail on startup with quarkus-smallrye-openapi"
Hi I am preparing a demo for my computer science undergraduate students from semester 2020.1 and am having this error when adding Swagger.

**Describe the bug**
Fail on startup with Swagger with quarkus-smallrye-openapi

**Expected behavior**
Start Swagger Ui on   /swagger-ui

**Actual behavior**
Fail on startup

**To Reproduce**
Steps to reproduce the behavior:
1. ADD   Dependency on Quarkus Vers

[2019-11-17 16:58] machi1990 commented on #5544
Hi @rodrigofujioka thanks for reporting this. It looks to me the samms issue as
https://github.com/quarkusio/quarkus/issues/5376
Do you have an Optional param or return type? If so can you try the workaround suggested on the issue.

@EricWittmann has opened https://github.com/smallrye/smallrye-open-api/issues/210 to discuss on potential fixes on smallrye-openapi side.

[2019-11-17 17:05] rodrigofujioka commented on #5544
Exactly that, the bug is the same. Thanks, I already made changes here. I'll be following to update my code later. After all, I will only use it at the beginning of 2020.1 for Java Web classes.

Thanks @machi1990 .

[2019-11-17 18:00] gsmet commented on #5522
@mcrose can you try @machi1990 's PR: https://github.com/quarkusio/quarkus/pull/5535 and see if it fixes your issue?

[2019-11-17 18:08] machi1990 commented on #5544
Closing as duplicate of #5376

[2019-11-17 18:08] #5544 closed

[2019-11-17 18:47] cescoffier commented on #5234
The current behavior is the one dictating by reactive streams. I agree with the expected behavior, but it needs to be done carefully to avoid breaking the TCK.

[2019-11-17 19:02] cescoffier commented on #5448
@Sanne +1

[2019-11-17 20:11] mk2301 opened #5546 "Unable to register classes for reflection (Jandex)"
**Describe the bug**
My application uses gradle and kotlin.
I see the following warning in the log:
[code]
I was able to find the piece of code causing this warning:
[code]

**Expected behavior**
As I am not familiar with the details of registering the class hierarchy, I am not sure if it is a bug in Quarkus or misconfiguration on my end. I opened this issue on demand of @gsmet (see https://stacko

[2019-11-17 21:30] fmcejudo commented on #2052
Hi, recently we have released a Quarkus extension to integrate with Eureka, which covers a good bunch of features. You might want to take a look and see if this helps you in your projects.

The coordinates of the github project are:
https://github.com/fmcejudo/quarkus-eureka
where you can find how to use it.

and the dependency can be found at:
https://search.maven.org/artifact/com.github.fmcejudo

[2019-11-17 21:55] Sanne commented on #5521
@4ntoine yes it's actuaully not required to modify existing modules, you can also use a configuration property `quarkus.index-dependency to register a jar for indexing without modifying it.

It's mentioned in the CDI guide:
 - https://quarkus.io/guides/cdi-reference#how-to-generate-a-jandex-index

[2019-11-17 22:33] Sanne opened #5548 "Attempt to change a build-time only configuration at runtime should fail"
**Describe the bug**
There's many people making the mistake of expecting a build-time-only configuration property to be picked up, either after the build, or during dev-mode.

Latest example:
 - https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Mysql.20driver.3A.20What.20to.20use.3F

I would suggest we introduce better checks against such mistakes, especially as both types of confi

[2019-11-17 23:28] gsmet commented on #5546
Yeah, I don't think we take into account the `@JsonIgnore` annotations and we probably should, together with the `@JsonbTransient` one.

[2019-11-17 23:33] gsmet commented on #5531
Right now, we only support annotations in Quarkus. It should probably be documented if it's not already.

I'm still unsure if we should implement more of the logic in Quarkus or if we should move all this discovery to HV somehow.

[2019-11-17 23:42] gsmet opened #5549 "Repeated constraints are not supported"
Right now, I don't think we properly support repeated constraints in the Hibernate Validator extension. I was recently made aware that Jandex does not return the repeated annotation occurrences when querying the index and that we should query the index with the container annotation too.

That means that for all the repeatable constraints (`@Pattern` is a good example of that and could be used for

[2019-11-17 23:43] gsmet commented on #5549
@irenakezic I think that would be a good starting point for you.

Feel free to ask any questions you have here or on Zulip, I'll be happy to guide you.

[2019-11-17 23:47] gsmet commented on #5548
/cc @dmlloyd

[2019-11-18 00:42] daggerok commented on #5138
Hello,

please, let us know what we must to to make quarkus native flyway works?

Thanks

[2019-11-18 00:49] gsmet commented on #5138
It's supposed to work. Please open a separate issue with the issue you have, and preferably a reproducer.

[2019-11-18 01:37] daggerok commented on #5138
Hello @gsmet, thanks for feedback

I was able to setup it like [here](https://github.com/daggerok/quarkus-elytron-security-jdbc-postgresql-example/blob/master/src/main/java/daggerok/FlywayMigrate.java) only with manually implemented FlywayMigrate ApplicationScoped bean...

Just by using application.properties configurations, flyway migration is not started in native mode...

[2019-11-18 03:46] jaikiran commented on #5536
Handled in https://github.com/quarkusio/quarkus/pull/5547

[2019-11-18 03:46] #5536 closed

[2019-11-18 04:09] rpdeadly commented on #5531
I found a partial work around. The rules specified in validation.xml are applied if i create a dummy class that extends the class I'm trying to validate. But validation cascading doesn't work.

``
	<field name="owner">
		<valid></valid>
		<convert-group
				from="demo.NewOrgCheck"
				to="demo.NewOwnerCheck" />
	</field>
``
The fields within the owner class aren't validated.

[2019-11-18 05:32] 4ntoine commented on #5521
@Sanne Thanks for linking. It's very unclear what should be indexed and why. I want to say that nobody wants to cause you troubles explicitly and such tickets are created as it's very unclear how to do it properly.

This is very unclear default behaviour - to index only what is presented in **exactly this one module**. So i'd prefer to have this index to be included by default for all the transiti

[2019-11-18 05:42] jmartisk commented on #5525
Do we want to forbid the whole application from running in this case? If not, one option would be that the processor can log a warning and include a mock implementation of `EntityManager`  that can be injected, but whose all methods throw a reasonable exception.
Not sure what you guys think about letting the application work in this case - but to me it kinda makes sense, at least with devmode, the

[2019-11-18 06:24] 4ntoine commented on #5528
@geoand anything i can check (if i did it correctly) to save your time?

[2019-11-18 07:09] geoand commented on #2052
Thanks for the input and your works @tpenakov @fmcejudo !

[2019-11-18 07:32] emmanuelbernard commented on #3965
If I'm not mistaken, the entity filtering is really how to expose arbitrary query restriction via your REST endpoint, correct @johnbanq? I think it's akin to the simplification of the REST en

[2019-11-18 07:34] geoand commented on #5546
Makes sense

[2019-11-18 07:36] emmanuelbernard commented on #3965
I agree with @loicmathieu I think the optional predicate will offer the same flexibility as specification and the same type safety once we plug the HQL resolver. I'd prefer we start with this approach before going on the heavyweight Specification approach Spring went to.

[2019-11-18 07:39] emmanuelbernard commented on #4016
Optional predicates #2303 and type safe HQL might be a good replacement for QueryDSL. We looked at QueryDSL but it does not seem to be maintained anymore, that's why we hesitated to invest in it. If you can be a bit patient, let's see if the solution ^ solves your problems. Or you can try and contribute QueryDSL to Quarkus.

[2019-11-18 08:08] michalszynkiewicz opened #5550 "Simplify CDI security"
**Description**
Try to simplify the CDI security logic

**Implementation ideas**
I think we could have:

1. a single annotation that would be bound to an interceptor, let's say `@QuarkusSecuredInternal` (ideas for a better name are welcome :) ) - it would eliminate the need to have multiple interceptor classes, binding registrar, etc

2. a build item to say that an annotation is a security annotat

[2019-11-18 08:09] michalszynkiewicz commented on #5550
CC @geoand

[2019-11-18 08:10] geoand commented on #5550
@michalszynkiewicz Nice list, I'll look into it soon!

[2019-11-18 08:19] rboei opened #5551 "Resteasy @NoCache Annotation doesn't work"
Hey,
we were using the `@NoCache` Annotation of RESTEasy to disable the caching for some rest interfaces. It is not working with Quarkus 1.0.0.CR1

It is ignored and no cache related headers are set.

[2019-11-18 08:21] michalszynkiewicz commented on #5550
There is one thing that I see now may not be as clean as I'd like it to be.
We may need to differentiate between a build step that says "there is a security annotation on a class" and "we have added a security annotation on a class". In case someone e.g. uses deny unannotated and has the Spring's `@Secured` annotation on a class.

[2019-11-18 08:23] geoand commented on #5550
TBH I'm not sure if we want to have something like `deny unannotated` for Spring security stuff.

[2019-11-18 08:33] 4ntoine commented on #5528
@geoand oh, that's strange. I will doublecheck today.

[2019-11-18 08:40] emmanuelbernard opened #5552 "Integrate HQL compile time checker in Quarkus"
Needs to take @gavinking solution and improve it to support both `EntityManager` query methods and Panache query methods.
One question is whether we keep it full annotation provider or also have a fallback build time (extension time) checking in case someone does not set the AP. The error report would be less useful at extension build time of course but would still block the build.

[2019-11-18 08:46] geoand commented on #5528
Thanks

[2019-11-18 08:49] 4ntoine commented on #5528
@geoand I forgot to commit/push the required changes, sorry. The revision should be `32c8240dfd6672471cdd73f613e092522fb6528e`

[2019-11-18 08:51] geoand commented on #5528
Okay, I'll try it out later

[2019-11-18 08:51] emmanuelbernard commented on #2303
I reviewed this issue and my proposal is to implement this and see how much the other approaches are still sorely missed.
This would need to go hand in hand with https://github.com/quarkusio/quarkus/issues/5552 to achieve the target objective.

I understand the limitations:

- can't easily compose and be "type checked"
- can't change the fundamental query structure based on parameters input

Note

[2019-11-18 08:55] irenakezic commented on #5549
ok, thanks

[2019-11-18 09:05] emmanuelbernard commented on #3870
@loicmathieu it's similar to JPA's `query.setFirstResult(startIdx).setMaxResult(endIdx)`, correct?
I'd change your implementation to not use `Page.of`.

@FroMage happy with the API `range(startIndex, endIndex)`?

[2019-11-18 09:06] rsvoboda opened #5554 "integration-tests/infinispan-client fails to compile with Java 13"
integration-tests/infinispan-client fails to compile with Java 13 saying [ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.0-jboss-2:compile (default-compile) on project quarkus-integration-test-infinispan-client: Fatal error compiling: java.lang.ArrayIndexOutOfBoundsException: Index 1 out of bounds for length 1 -> [Help 1]

The key element from stack trace
[code]
j

[2019-11-18 09:10] #3967 closed

[2019-11-18 09:15] emmanuelbernard commented on #1368
Looking at @loicmathieu implementation proposal #4809,
I think I prefer an optional root vs maybe, it's more explicit. In decreasing priority:

1. `optionalFindById(Object id)` // short and pre filter auto completion with optional in case we want more methods like that
2. `optionallyFindById` //note the double `ll`
3. `findByIdOptional`

@FroMage @loicmathieu le'ts just discuss to converge on the

[2019-11-18 09:21] FroMage commented on #2303
So, the proposal is to auto-remove AST nodes of the `predicate` type when their LHS or RHS `expression` is of type `path` with a question mark:

[code]

The "only" issue is that we'll need to use the HQL parser, which is probably a bit more expensive than what we do ATM. And we can't use it because it will reject identifiers with `?` at the end, but we forked it so we can actually add a special no

[2019-11-18 09:27] emmanuelbernard commented on #2744
I spent some time on this issue last night.
Your solution is interesting @loicmathieu , you don't have lock everywhere but users have a relatively simple workaround by going to the find method.

The big question is whether we are fine with such a forced workaround for users or do we need to offer withLock for all methods including `findById`.

@FroMage ^

[2019-11-18 09:27] emmanuelbernard commented on #2744
BTW I'm not sure `withHint` is acceptable at least unless one can disable a hint. would `withHint("some.hint", null);` disable it? @loicmathieu

[2019-11-18 09:28] anamarija commented on #5254
Hi, has anybody solved the issue already or can I make a fix?

[2019-11-18 09:29] FroMage commented on #1368
`optionalFindById` is good if you're looking for methods returning `optional`, but probably fails the auto-completion goal of making the method discoverable for people trying `Entity.find[COMPLETE]`, where `findByIdOptional` works.

I guess it has my preference for that reason, despite it being longer.

Unless we have more methods that can return `Optional` which we could group by starting with `o

[2019-11-18 09:30] loicmathieu commented on #3870
@emmanuelbernard yes, and I'm not happy with my implementation, but currently PanacheQuery implementation always use pagination.

I can think of two options:
- Using directly the indexes when making a range query and throwing an error if a range is use then a page (to avoid inconsistent usage)
- Using directly the indexes when making a range query and returning a different interface after using a

[2019-11-18 09:32] FroMage commented on #3870
Well, `PanacheQuery` has plenty of `page` methods that can't make any sense if we set a range like `range(7, 19)` which does not have a corresponding page index/size. What do we do about this?

[2019-11-18 09:33] FroMage commented on #3870
Also, can I have some example use-cases of ranges? I've never seen APIs that use non-pageable ranges before, so I hope this is not one of those "hey it would be cool" features with no actual use-case ;)

[2019-11-18 09:35] emmanuelbernard commented on #2744
I've been toying with the problem of `withLockMode` on `PanacheEntityBase` and like @loicmathieu figured out, the only solution is to use thread local.

My proposal, if we go that way, would be for `PanacheEntityBase` to have a thread local `EntityOperationState` that would be set by methods like:

- `Book.withLock()`
- `Book.withHint()`
- `Book.withFlushMode()`

and *unset* by any of the static m

[2019-11-18 09:39] emmanuelbernard commented on #4809
I tried to offer my comments on the specific issues but there are a couple of general comments that I'll add here.

[2019-11-18 09:41] emmanuelbernard commented on #4809
@loicmathieu your `JpaOperations` implementation uses `java.beans.Introspector` is something we try and avoid using. It’s a slow framework and brings lots of dependencies. So it's a no no at runtime. Better implement your own or get the one from ORM, Validator or Search.

[2019-11-18 09:42] FroMage commented on #2744
So, first, while I appreciate the origininality of the proposal, I am strongly against adding one static thread-local per entity type, because these simply won't work in reactive settings and the MP-ContextPropagation implementation complexity required to make those work would be horrible.

Second, I think adding an optional param (or 2)  for `findById` and `withXXX` methods in `PanacheQuery` is G

[2019-11-18 09:43] loicmathieu commented on #2744
@emmanuelbernard I'm not very found of ThreadLocal, they have some caveats (possible leaks, compatible with reactive/asynchrone mode?, performance cost).

I think the aproach on PanacheQuery is simple and could be a first good implementation. Personaly I will also add a `PanacheEntityBase.findById(Object, LockModeType)` method to allow to lock when finding by id as it's a very common construct.

A

[2019-11-18 09:43] FroMage commented on #2299
Famous Last Words: it's been days and no resolution in sight :(

[2019-11-18 09:49] geoand commented on #5528
I was able to reproduce the problem. I'll update with more information soon.

[2019-11-18 09:50] 4ntoine commented on #5528
Thank you. Let me know if you need any assistance

пн, 18 нояб. 2019 г., 14:49 Georgios Andrianakis <notifications@github.com>:

[2019-11-18 09:51] ge0ffrey opened #5555 "Docs: Create extension with quarkus-maven-plugin fails to mention required attritube artifactId"
When I run this:

[code]
As shown exactly like that in this guide: https://quarkus.io/guides/extension-authors-guide#create-new-extension-modules-using-maven

I get:

`[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:999-SNAPSHOT:create-extension (default-cli) on project quarkus-extensions-parent: Either artifactId or both artifactIdPrefix and artifactIdBase must be specified; found:

[2019-11-18 09:54] loicmathieu commented on #1368
@FroMage `try` is connoted with the idea that it will return a value or an error, like in Vavr Try: https://www.baeldung.com/vavr-try

I think the `optionally` variants are semantically better (they sound better to me but I'm not an english expert) but I don't care :). And the Spring users can write queries like `findOptionalByName(name)` so it is already a popular choice.

One thing to note is th

[2019-11-18 09:56] #5240 closed

[2019-11-18 09:57] FroMage commented on #1368
Yeah, `try` was not a very good proposal, as I explained why. I'm not pushing for it, just listing a shot-down solution.

[2019-11-18 09:57] emmanuelbernard commented on #4809
## Extensibility of find / list and all Panache query methods.

@FroMage @loicmathieu
I am foreseeing a general problem of having a lot of overloaded `find`, `list` etc methods.

The original API has been designed to accept strings that are PanacheQL and HQL queries.
But we are seeing requests to support:

- named queries
- typed queries (passing a JPA Query in)
- some weird composable Predicate p

[2019-11-18 09:59] emmanuelbernard commented on #4809
@loicmathieu what are the usecase for the new `find(Query query, Map<String, Object> params)?` method you added? It says "Find entities using a JPA query, with optional indexed parameters." but I don't get it.

[2019-11-18 09:59] emmanuelbernard commented on #4809
Also as I mentioned in the https://github.com/quarkusio/quarkus/issues/2303 I think we should not try and do an example API before we do this one.

[2019-11-18 10:00] loicmathieu commented on #3870
In my previous Job, we implement pagination for all our API (more than 30 APIs) using HTTP range: https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests

So the user will include a `?range=1-10` query parameter and we will return the range header to him (including HTTP link header for HATEOAS navigation between pages).

I would say, range are as common as pagination but I'm not sure.
You

[2019-11-18 10:00] danielpetisme commented on #1368
Silly but why Optional couldn't be the norm rather than having the 2 semantics? Would be consistent with the `Stream` finders would only return an optional

[2019-11-18 10:01] #5513 closed

[2019-11-18 10:07] FroMage commented on #4809
We could alternately get rid of ambiguity with `Book.find("#myNamedQuery")` or some such syntax?

[2019-11-18 10:08] geoand commented on #5528
It turns out to be a problem with how CDI is being used in the supplied code:

If you use something like:

[code]

everything works as expected.

Note that you can simplify things even more by removing `QuarkusEntityManagerFactory` completely and using something like:

[code]

So I'm going to go ahead and close this since it's not a Quarkus bug. If you feel that this resolution is not correct, fee

[2019-11-18 10:08] #5528 closed

[2019-11-18 10:10] loicmathieu commented on #4809
I know, it's a basic implementation to show that it's possible, if we decide to implement Query by example we will need a better implementation.

**Named queries**

I think having `find("Country.findAllWithWeirdQuery") that first try to find an existing named queries then if none is found build a Query is OK. As @FroMage suggested we can use a maker char to avoid the ambiguity if needed.

I don't

[2019-11-18 10:22] mkouba commented on #5525
So one thing you could do now is to inject the `BeanRegistrationPhaseBuildItem` in a build step and analyze all injection points obtained from `BeanRegistrationPhaseBuildItem.getContext().get(BuildExtension.Key.INJECTION_POINTS)` and if there's an injection point with required type `EntityManager` then throw a specific exception. Note that injection points are resolved/validated in the next phase

[2019-11-18 10:24] geoand commented on #5555
@ge0ffrey Thanks for spotting it! Would you like to provide a PR for the guide?

[2019-11-18 10:26] rsvoboda commented on #4059
I tried to use access log for getting started project but didn't see any access log entries.
I think it's because `quarkus-http` is not used in getting started project :/
Will create new issue for this.

[code]

[2019-11-18 10:31] #5419 closed

[2019-11-18 10:36] gsmet commented on #4059
This issue is not solved in CR1 so that's probably why you don't see it fixed.

[2019-11-18 10:37] asoldano commented on #5419
I think so, but we'd have to try. Is this still relevant, given the PR is now closed?

[2019-11-18 10:38] rsvoboda opened #5556 "Support access log logging when using RESTEasy with Vert.x"
I tried to use access log for getting started project (when looking at #4059) but didn't see any access log entries.

I think it's because quarkus-http-core is not used in getting started project :/
So all "quarkus-resteasy" apps won't be able to produce access log

[code]

[2019-11-18 10:39] rsvoboda commented on #4059
Using master, the issue is that no access log is produced with getting-started sample app, issue linked now

[2019-11-18 10:41] gsmet commented on #5254
It's not solved. I think it's really just about adding a couple of reflection registrations.

The question being: how much will it add to the native image to do it by default. We should really do a comparison of the native image size on a sample project with and without the registrations.

A sample project can be found here: https://github.com/quarkusio/quarkus-quickstarts/tree/master/kafka-quicks

[2019-11-18 10:46] 4ntoine commented on #5528
That's an interesting research. It looks like "everything that is involved in CDI should happen in scope of smth annotated with CDI annotations". So CDI framework was unable to understand that EM should be instantiated and injected during `val gateway = JpaGateway(QuarkusEntityManagerFactory().entityManager, mapper)` and it's not in CDI-annotated scope though it is later used in CDI-annotated scop

[2019-11-18 10:49] emmanuelbernard commented on #2744
On Mon 18 Nov 2019 at 10:42, Stéphane Épardaud <notifications@github.com>
wrote:

Of course they would work. The with* and list* will be used in the same
block of code. Or do you have use cases where you would separate the calls?

[2019-11-18 10:53] geoand commented on #5528
Yes exactly. The fact that you were creating `QuarkusEntityManagerFactory` on your own meant that CDI was never involved in the process for that class.

FWIW, this is not specific to CDI, but would be the same with any dependency injection framework / library (such as Spring or Guice)

[2019-11-18 11:04] FroMage commented on #2744
Someone is bound to write code like this at some point:

[code]

It's horrible and wrong, but it could happen. And I am not sure that locks are so common that we need all those thread-locals just for `list/stream` when the `find` methods using the query suffice.

If I'm wrong an those methods are really common, then it's something else. But since we started without them, I think they don't fall in

[2019-11-18 11:07] chriskn opened #5558 "ClassNotFoundException: com.sun.xml.bind.v2.ContextFactory when using jaxb for native image"
**Describe the bug**
I try to desirialize xml content based on quarkus-jaxb and a set of classes generated from schema. When I run my service in jvm mode everything work as expected. When I run it in native mode the ContextCactory can't be found. The issue persists even when I set `javax.xml.bind.context.factory`  property. Stack trace:
[code]

I work on windows and build the native image inside t

[2019-11-18 11:14] gsmet commented on #5558
Any chance you could show me the sources of the reproducer?

What I'm wondering is if you are using annotations to declare your JAXB entities? Or if maybe the JAXB entities are in a separate module that is not included in the Jandex index?

[2019-11-18 11:25] gsmet commented on #5300
@cescoffier have you seen this one? I wonder if we use the API taking into account the profiles in SmallRye Reactive Messaging?

[2019-11-18 11:26] gsmet commented on #4200
This one should have been fixed by https://github.com/quarkusio/quarkus/pull/4286 .

[2019-11-18 11:26] #4200 closed

[2019-11-18 11:26] #4021 closed

[2019-11-18 11:29] gsmet commented on #1819
I'm closing this one for now. This `test-extension` is in the core module and it's probably better to avoid having dependencies to other extensions.

My intuition is that this extension should be moved to the ITs instead but it can probably wait.

[2019-11-18 11:29] #1819 closed

[2019-11-18 11:31] emmanuelbernard commented on #2303
I think the parser you describe is what @loicmathieu has done for MongoDB right? At least I see the panacheql module with a grammar. While I'm no grammar guy, I think supporting the `?` and behaving differently on `?` path should not require too much extra work. Or am I naive?
I guess complex nested and / or could lead to empty () so the query would need to be rewritten or replace it with `( 1 ==

[2019-11-18 11:31] loicmathieu commented on #4394
@FroMage @geoand  @emmanuelbernard Maybe we can provides something using Kotlin extensions: https://kotlinlang.org/docs/reference/extensions.html

We should be able to provides, inside Hibernate with Panache, extension fonctions for Kotlin.

For exemple the following construct compiles:
[code]

This is not static methods as there is no static methods inside Kotlin but this is more easy to use than

[2019-11-18 11:36] chriskn commented on #5558
You can find the code here https://github.com/chriskn/data.provider.static
I am using annotations. See package eu.datex2...
I tried it also with the dependencies located in an external jar but no success

[2019-11-18 12:43] rafaelkloss commented on #4377
Hi folks, thanks for your effort, this is a great new !
Very best :)

Em sex., 15 de nov. de 2019 às 08:28, Sanne Grinovero <
notifications@github.com> escreveu:

--

{ name     : "Rafael Kloss",

  location : "Curitiba, PR",

  iata     : "CWB",

  twitter  : ["@rafa_kloss <https://twitter.com/rafa_kloss>"}

[2019-11-18 12:49] gastaldi commented on #5551
@rboei I just wrote some tests and I see that `@NoCache` and `@Cache` works as expected. Do you have a reproducer project?

[2019-11-18 13:02] dmlloyd commented on #5548
Sure, this could be done as a warning I think.

[2019-11-18 13:16] gastaldi commented on #5549
This is the Jandex issue asking to support @Repeatable annotations:  https://github.com/wildfly/jandex/issues/67

[2019-11-18 13:23] mkouba commented on #5020
https://github.com/quarkusio/quarkus/pull/5481 was merged. The default scheduler impl delegates execution to an `ExecutorService` obtained from the `ExecutorBuildItem`. `quarkus-quartz` has a configurable thread pool.

[2019-11-18 13:23] #5020 closed

[2019-11-18 13:24] gsmet commented on #5549
As explained above, if we can fix it directly in Quarkus, let's do it. That will give us more time to properly think how and if we should fix that in Jandex.

[2019-11-18 13:25] FroMage commented on #4394
Frankly I'm not a fan of adding those as instance methods, because it doesn't make sense to instantiate those objects to throw them away.

[2019-11-18 13:27] mkouba commented on #455
Closig this issue. Feel free to re-open if needed.

[2019-11-18 13:27] #455 closed

[2019-11-18 13:48] #1371 closed

[2019-11-18 13:53] kenfinnigan commented on #5527
@zerocode which version of Quarkus are you using?

[2019-11-18 13:53] geoand commented on #5390
#5566 fixes the issue both for docker and also makes things simpler configuration-wise

[2019-11-18 14:13] 4ntoine commented on #5528
@geoand were you able to access the controllers? I've applied your patch and i don't have Quarkus compile-time errors but the controllers are not registered (and thus unavailable)

[2019-11-18 14:14] geoand commented on #5528
Yup, both `/hello1` and `/hello2` worked correctly

[2019-11-18 14:19] zerocode commented on #5527
@kenfinnigan 1.0.0.CR1

[2019-11-18 14:36] kenfinnigan commented on #5527
The TCK has a test for this situation: https://github.com/eclipse/microprofile-rest-client/blob/master/tck/src/main/java/org/eclipse/microprofile/rest/client/tck/interfaces/ssl/ClientWithKeystoreFromClasspathAndTruststore.java

Maybe it's a problem with Kotlin, as that looks like what you're using?

Can you verify if there's a problem without Kotlin?

[2019-11-18 14:52] gsmet commented on #5558
I fixed the first issue, it was an easy one.

But I stumbled upon another one that is a bit harder to diagnose/fix. I'll let you know when I come up with something.

[2019-11-18 15:00] miron4dev commented on #3354
Check the handler definition, it should be `io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler::handleRequest`

[2019-11-18 15:04] jaikiran commented on #5359
I've brought this up on OpenJDK mailing list to ask for their inputs https://mail.openjdk.java.net/pipermail/core-libs-dev/2019-November/063491.html

[2019-11-18 15:11] jkristof94 commented on #3354
And it really works using https://github.com/quarkusio/quarkus/issues/3354#issuecomment-555052647 this method 😮 Can you share how you got to the solution?

[2019-11-18 15:17] tjwatson commented on #1762
I've hit this issue, but adding `com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderFactoryImpl` and `com.sun.org.apache.xerces.internal.jaxp.SAXParserFactoryImpl` to the reflect configuration for the native image build seem to work around it.  Is that unexpected?  Or I assume it must have some downsides.

[2019-11-18 15:48] gsmet commented on #5558
@chriskn https://github.com/quarkusio/quarkus/pull/5568 should solve your issues and there were 3 different ones :).

Thanks for reporting it!

[2019-11-18 15:50] gsmet commented on #5558
@chriskn btw, you should remove all the `javax.xml.bind.context.factory` properties from your code. Otherwise, it doesn't even work in JVM mode.

[2019-11-18 15:53] chriskn commented on #5558
@gsmet thank you for the fast reply and fix! I will remove the properties. I just added them for testing.

[2019-11-18 16:05] jaikiran commented on #5359
The JDK 13 `Class-Path` details in the `jar` spec[1] has additional details explaining what constitutes as valid `Class-Path` entries. Plus the linked mailing list thread makes it clear that this change is intentional. So I will try and come up with a fix to our `Class-Path` value generation to make it work against Java 13 as well as previous versions of Java.

[1] https://docs.oracle.com/en/java/

[2019-11-18 16:09] loicmathieu commented on #4394
If we want to keep using static method, as static method only target the host type on Kotlin, we need to provides special method for Kotlin inside a new component in Panache, like a `KotlinPanacheEntity` with methods like

`public <T> List<T> find(Class<? extends T>, String query, String... params)`

But having object created that didn't escape the method and dies immediatly doesn't impact perform

[2019-11-18 16:12] gsmet opened #5569 "MicroProfile TCK OpenTracing failures"
I just stumbled upon this test failure in the TCK run on CI:
[code]

@stuartwdouglas I wonder if it could be related to your changes or not?

[2019-11-18 16:31] evanchooly commented on #5037
I just put up a draft PR if you want to take one last look before I submit it.

[2019-11-18 16:33] mcrose commented on #5522
done! is fixed

[2019-11-18 16:43] emmanuelbernard commented on #4394
What is your alternative @FroMage ?

[2019-11-18 17:04] evanchooly commented on #3354
The docs are being updated as we speak (release pending) but here you can see the handler definition:  https://quarkus.io/guides/amazon-lambda#create-the-function

I was able to run your project using the correct handler and correcting for a bug in checking the path ( if there is no path, the healthcheck code gets an NPE ).  The `HealthCheckService` is properly injected.  Updating accordingly shou

[2019-11-18 17:15] evanchooly commented on #3352
This has been fixed in recent builds.  1.0.0-rc1 should be sufficient.

[2019-11-18 17:15] #3352 closed

[2019-11-18 17:25] dmlloyd commented on #1762
The downside to registering things for reflection is that they (and all of their dependents) effectively become ineligible for dead code elimination.  In this case it's probably fine though as the class is clearly used.  But we want to come up with a general solution to cases like this one, which doesn't involve reflection registration.

[2019-11-18 17:26] geoand commented on #5569
I saw this in a PR as well

[2019-11-18 17:59] 4ntoine commented on #646
I've jumped into the same issue. Since the first version is released i wonder if this should be reopened?

[2019-11-18 18:15] emmanuelbernard commented on #646
Did you hit a bug @4ntoine? This issue was more a list of features we wanted for Panache. That's why it's closed. Or are you referring to a specific feature mentioned here?

[2019-11-18 19:40] lhauspie opened #5572 "Allow to choose precisely the health checks to be activated."
**Description**
Issue created after a review on the PR https://github.com/quarkusio/quarkus/pull/5125/files/28579d94052eb47ae54ebe44ac5955f205fcf55c#r345089164.

For the moment, `xx.health.enabled` properties can only take 2 values : `true` or `false`.
So it will be complexe if we would like to choose https://github.com/quarkusio/quarkus/pull/5125/files/28579d94052eb47ae54ebe44ac5955f205fcf55c#r34

[2019-11-18 19:44] machi1990 commented on #5572
[code]

Is the above pseudo code an option?

[2019-11-18 20:29] lhauspie commented on #5572
I think we will need to be more specific than just liveness vs. readiness.
Typically, If we want to only use Liveness then we'll use `/health/live` endpoint and if we want to only use Readiness then we'll use `/health/ready` endpoint.

[2019-11-18 20:34] machi1990 commented on #5572
The semantics with the enum approach above is that the health check could be defined or not (when prope is set to `NONE`). Either `/health/ready` or `/health/live` checks if set to `READINESS` or `LIVENESS` respectively. `ALL`which can be the  default will define the two checks `/health/ready` and `/health/live`

[2019-11-18 21:39] gsmet commented on #2648
I think I will close this one as we have already some issues to track the Vault effort and that seems the way to go.

[2019-11-18 21:39] #2648 closed

[2019-11-18 21:42] gsmet commented on #2949
Closing, please reopen a new one if you encounter this issue. It might have different causes.

[2019-11-18 21:42] #2949 closed

[2019-11-18 21:43] gsmet commented on #3021
OK thanks.

[2019-11-18 21:43] #3021 closed

[2019-11-18 21:43] #2985 closed

[2019-11-18 21:48] gsmet commented on #3340
@ia3andy isn't this one solved for a long time?

[2019-11-18 21:51] gsmet commented on #3319
I'm closing this one in favor of the SmallRye Reactive Messaging one. We can revisit once something has been done upstream.

[2019-11-18 21:51] #3319 closed

[2019-11-18 21:53] gsmet commented on #3296
Closing. Please reopen a new one if you can reproduce.

[2019-11-18 21:53] #3296 closed

[2019-11-18 21:56] gsmet commented on #3479
Closing this question. We don't really have a recommendation so far. Feedback is welcome.

[2019-11-18 21:56] #3479 closed

[2019-11-18 21:56] #5376 closed

[2019-11-18 21:56] gsmet commented on #3433
This has been implemented and is optional.

[2019-11-18 21:56] #3433 closed

[2019-11-18 21:57] #3408 closed

[2019-11-18 21:57] gsmet commented on #3385
Right.

[2019-11-18 21:57] #3385 closed

[2019-11-18 22:01] gsmet commented on #3347
I generalized this older issue for reactive messaging: https://github.com/quarkusio/quarkus/issues/3217 .

Closing this one as duplicate.

[2019-11-18 22:01] #3347 closed

[2019-11-18 22:04] gsmet commented on #3673
@jmartisk is it still an issue?

[2019-11-18 22:06] gsmet commented on #3645
This particular issue has been fixed and we are making progress toward JDK 11 support.

But in any case, we need JDK 11 support in GraalVM.

I'm closing this one as the original issue has been fixed recently.

[2019-11-18 22:06] #3645 closed

[2019-11-18 22:08] #4744 closed

[2019-11-18 22:08] gsmet commented on #3566
Including the HTTP URL handler is now the default in the native image building process so I think this one is fixed.

[2019-11-18 22:08] #3566 closed

[2019-11-18 22:10] gsmet commented on #3548
@wburns @karesti can you check this, please?

[2019-11-18 22:12] gsmet commented on #3535
@geoand @mkouba could you have a look at that one?

[2019-11-18 22:13] gsmet commented on #3620
@lburgazzoli did this trick work? If so maybe you could document it in the Writing extensions guide?

[2019-11-18 22:13] geoand commented on #3535
Sure thing, I'll check it out

[2019-11-18 22:17] gsmet commented on #3883
I think I would keep the methods for now and mark them as deprecated.

[2019-11-18 22:18] gsmet commented on #3860
This has been fixed with the introduction of the `quarkus-resteasy-jaxb` extension.

[2019-11-18 22:18] #3860 closed

[2019-11-18 22:21] gsmet commented on #3690
Yes, it's fixed.

[2019-11-18 22:21] #3690 closed

[2019-11-18 22:23] gsmet commented on #3721
@aloubyansky do you have any idea if this one is fixed right now?

[2019-11-18 22:24] gsmet commented on #3741
I'm closing this one for now. If at some point you get it to work, we will be happy to host the related documentation.

[2019-11-18 22:24] #3741 closed

[2019-11-18 22:25] gsmet commented on #3781
Yeah, this should have been fixed now.

[2019-11-18 22:28] gsmet commented on #3787
@jaikiran would you be interested in having a look to that one?

[2019-11-18 22:29] gsmet commented on #3803
I think we are good with this one now.

[2019-11-18 22:29] #3803 closed

[2019-11-18 22:30] gsmet commented on #3813
There's a good chance we would need a JAXP extension.

[2019-11-18 22:38] gsmet commented on #3947
@kenfinnigan ping?

[2019-11-18 22:40] gsmet commented on #3928
The PR has been merged so closing this one.

[2019-11-18 22:41] aloubyansky commented on #3721
I'll check tomorrow. Most probably, no. Doesn't look like a difficult one though.

[2019-11-18 22:42] gsmet commented on #3920
@stuartwdouglas is this one considered fixed then?

[2019-11-18 22:42] gsmet commented on #3918
This one should be fixed by now.

[2019-11-18 22:42] #3918 closed

[2019-11-18 22:45] gsmet commented on #4088
This has been fixed by @anamarija 's PR.

[2019-11-18 22:45] #4088 closed

[2019-11-18 22:47] gsmet commented on #4125
@FroMage for now, please document it at the end of the `rest-json` guide. Hopefully, we will find a more appropriate place for it once we have a reference guide but let's collect as much as we can for now.

[2019-11-18 22:49] sberyozkin commented on #5569
I wonder why all the checks have passed message was displayed, TCK tests do not run as part of the PR builds ?

[2019-11-18 22:50] gsmet commented on #4041
@geoand has this been implemented? I remember having seen a PR that looked related.

[2019-11-18 22:51] gsmet commented on #4038
@geoand hasn't this been implemented?

[2019-11-18 22:53] gsmet commented on #4031
@kenfinnigan @asoldano could you have a look at that one? Not sure if the server or the client is the culprit. There is a reproducer.

[2019-11-18 22:54] gsmet commented on #4029
@machi1990 any thoughts on this one?

[2019-11-18 22:58] gsmet commented on #4190
Yeah, it has been fixed a while ago.

[2019-11-18 22:58] #4190 closed

[2019-11-18 22:58] gsmet commented on #4189
Has been fixed a while ago.

[2019-11-18 22:58] #4189 closed

[2019-11-18 23:00] gsmet commented on #4131
This has probably been fixed.

[2019-11-18 23:00] #4131 closed

[2019-11-18 23:02] gsmet commented on #4228
I don't think we will support that for now.

[2019-11-18 23:02] #4228 closed

[2019-11-18 23:04] gsmet commented on #4253
I think `keycloak.json` is probably not supported anymore. @sberyozkin @pedroigor could you check if this issue still makes sense with the new architecture?

[2019-11-18 23:06] gsmet commented on #4275
@gunnarmorling do you see anything we need to improve or should we close?

[2019-11-18 23:07] gsmet commented on #4298
https://github.com/quarkusio/quarkus/pull/5571 has fixed this one.

[2019-11-18 23:07] #4298 closed

[2019-11-18 23:11] gsmet commented on #3973
Closing this as the question about the native image profile is there: https://github.com/quarkusio/quarkus/issues/4371 .

[2019-11-18 23:11] #3973 closed

[2019-11-18 23:12] gsmet commented on #4408
@lburgazzoli @ppalaga should this one be closed?

[2019-11-18 23:14] gsmet commented on #4366
@stuartwdouglas what's the status of this? I see one of the issue is still open but I'm not sure if it has been addressed or not.

[2019-11-18 23:15] stuartwdouglas commented on #4366
It has been deferred.

[2019-11-18 23:15] #4366 closed

[2019-11-18 23:17] stuartwdouglas commented on #3673
It was fixed by https://github.com/quarkusio/quarkus-http/commit/d1025c5368125f294ef03330d4ca25df36978bd0

[2019-11-18 23:17] #3673 closed

[2019-11-18 23:17] #4560 closed

[2019-11-18 23:18] gsmet commented on #4564
@lburgazzoli @stuartwdouglas is it still an issue? I know we fixed several similar issues recently.

[2019-11-18 23:19] gsmet commented on #4539
@maxandersen can we close this one?

[2019-11-18 23:19] gsmet commented on #4510
The documentation has been updated.

[2019-11-18 23:19] #4510 closed

[2019-11-18 23:22] #4630 closed

[2019-11-18 23:24] gsmet commented on #4597
Do you still have the issue with our latest releases?

[2019-11-18 23:25] gsmet commented on #4572
@stuartwdouglas do you think there is any action left on our part?

[2019-11-18 23:27] gsmet commented on #4839
The infrastructure is now here but we should probably add the logging dependencies we banned in the build-parent pom.

[2019-11-18 23:32] gsmet commented on #4788
Closing as duplicate of https://github.com/quarkusio/quarkus/issues/4890 .

[2019-11-18 23:32] #4788 closed

[2019-11-18 23:34] gsmet commented on #5071
This will be fixed by upgrading SmallRye Metrics to 2.3.1.

[2019-11-18 23:35] stuartwdouglas commented on #4564
@lburgazzoli I believe this is fixed?

[2019-11-18 23:35] gsmet commented on #5062
@mkouba did you create a PR for this one, in the end?

[2019-11-18 23:36] gsmet commented on #4996
/cc @aloubyansky

[2019-11-18 23:39] stuartwdouglas commented on #4572
I would like to understand why this was happening. We now have a HTTP idle-timeout config option that can be used to control when connections time out, I think if this was set to a sufficiently large number is should be enough to stop this occurring. The default is now 30m (as running with no default can result in running out of open sockets if there are lots of clients with long lived connections

[2019-11-18 23:40] stuartwdouglas commented on #3947
Looks like the reproducer has been removed

[2019-11-18 23:44] stuartwdouglas commented on #3920
Not really. We will likely never support the full spec as it is tied to JASPIC but there are parts of it we may want to implement in future.

[2019-11-18 23:46] gsmet commented on #5523
Can you try with 1.0.0.CR1? I know we fixed a related issue recently.

[2019-11-18 23:47] gsmet commented on #5401
@zeljkot it would definitely help if you could set up a small reproducer. Thanks!

[2019-11-18 23:49] gsmet commented on #5480
Closing. This is how it should be.

[2019-11-18 23:49] #5480 closed

[2019-11-18 23:50] gsmet commented on #5335
The PR has been merged.

[2019-11-18 23:50] #5335 closed

[2019-11-18 23:52] gsmet commented on #5354
@stuartwdouglas could you have a look to that one?

[2019-11-19 00:02] #5558 closed

[2019-11-19 00:08] stuartwdouglas commented on #5569
I am pretty sure this is because of a race between the span being closed and the response being sent.

I think previously most (but not all) JAX-RS responses would close the span before sending the response, after my change all JAX-RS responses do not have the span closed until after the response has been successfully sent.

This means that when using a REST client it is now possible that there is

[2019-11-19 00:10] stuartwdouglas commented on #5354
I think https://github.com/quarkusio/quarkus/pull/5106 will fix this

[2019-11-19 00:38] yuhaibohotmail commented on #5527
@kenfinnigan  I had same problem in java.
[code]
[code]
[code]

when  I changed interface as blow,  it worked!
[code]

[2019-11-19 00:49] kenfinnigan commented on #5527
In the TCK test it doesn't appear to have `@Path` on either interface and it works.

An issue could be that the spec currently doesn't define whether interfaces should be inherited or not

[2019-11-19 00:56] yuhaibohotmail commented on #5527
If inheritance is supported, many things will be easier in my client side.

[2019-11-19 02:16] #2404 closed

[2019-11-19 03:29] hantsy commented on #3920
Quarkus Security is accepted now, but I think it should be compatible with the existing security context, such as jaxrs `SecurityContext`, etc.

Additionally, besides the annotation aware security declaration, if possbile provide a central place to configure security by Http path matching, WebSocket routing, etc.  like the solution in Spring security's [`WebSecurityConfigurer`](https://docs.spring

[2019-11-19 03:34] stuartwdouglas commented on #3920
You can provide a io.quarkus.vertx.http.runtime.security.HttpSecurityPolicy CDI bean that allows you to add custom permission checks

[2019-11-19 03:57] jaikiran commented on #3787
Hello @gsmet, it looks to me that @dcdh fixed this in this PR https://github.com/quarkusio/quarkus/pull/3793 that got merged?

@dcdh is this still an issue in 1.0.0.CR1 of Quarkus or can we close this as fixed now?

[2019-11-19 04:43] jaikiran opened #5574 "Scheduler extension fails compilation"
I'm seeing the following exception when building Quarkus:

[code]
I have tried both with the Maven version which I've locally `3.6.1` and the `mvnw` version `3.5.4` and it fails for both.
[code]

[code]

[2019-11-19 06:11] geoand commented on #4041
No @gsmet, this one has not been implemented yet. There was other related that were implemented but this one has not.
It's very marginal and requires a lot of work so it's on the backburner for now :)

[2019-11-19 06:12] geoand commented on #4038
Not yet, but it will be soon

[2019-11-19 06:22] #5390 closed

[2019-11-19 06:36] 4ntoine commented on #5528
Both worked before even without that [CDI-related ]changes (as both does not require EntityManager injected). AddNoteController and ListNotesController do not work. Update: i've made them working with additional changes

[2019-11-19 06:47] geoand commented on #5528
@4ntoine what I meant was that without the changes I mentioned above the application wouldn't start but with them it did and the endpoints worked.

Glad to hear you got the application working

[2019-11-19 06:48] lordofthejars commented on #3947
Well it is really easy to reproduce, just check https://redhat-developer-demos.github.io/quarkus-tutorial/quarkus-tutorial/0.27.0/06-quarkus-reactive.html#quarkusrpb-demo-overview

[2019-11-19 06:51] 4ntoine commented on #5528
@geoand Thanks for the support - it's absolutely awesome!

[2019-11-19 07:02] geoand commented on #5528
You are welcome!

[2019-11-19 07:13] jaikiran commented on #5574
Closing. This `DelegatingThreadPool` is actually a class which is local to my workspace and was lying around since my previous attempt to make scheduler thread pool customizable. Marking this as a invalid issue.

[2019-11-19 07:13] #5574 closed

[2019-11-19 07:20] geniusit commented on #5497
Hello,

I got the same issue.

Here is my [error-log-quarkus.txt](https://github.com/quarkusio/quarkus/files/3862434/error-log-quarkus.txt)

Any help appreciated.

Thank you

[2019-11-19 07:22] gintsgints commented on #5523
Same with 1.0.0.CR1. (repo updated)

[2019-11-19 07:23] gintsgints commented on #4253
I did need keycloak.json to allow some paths go without checking. If it is possible via annotattions now, then it is ok.

[2019-11-19 07:46] ppalaga opened #5576 "A BuildItem for excluding resources from the application archive"
**Description**
We (Camel Quarkus) would need a MultiBuildItem that would allow excluding resources from the application archive.

In our case, it is an XSL template file that the user can place to src/main/resources. We compile it into a translet at build time so there is no point in having the source XSLT in the archive. We'd prefer to mark the file as ignored/excluded from the application jar s

[2019-11-19 07:48] mkouba commented on #5062
Nope, I didn't receive a confirmation that it's an acceptable solution ;-). Shall I?

[2019-11-19 07:49] schulzp commented on #2751
Hi,

I followed @FroMage's idea and excluded `quarkus-agroal[-deployment]` from the POM and tweaked `FlywayProducer` to require `javax.sql.DataSource` instead of `io.agroal.api.AgroalDataSource`.  Then In my own project I created a producer for a `org.postgresql.ds.PGSimpleDataSource` et voilá: it works (see snippets below).

So here are a few things I noticed:
* `io.quarkus.agroal.runtime.AgroalR

[2019-11-19 07:56] ppalaga commented on #5576
cc @geoand @gastaldi

[2019-11-19 08:05] ppalaga opened #5578 "BuildItem holding the current project's basedir"
We currently have OutputTargetBuildItem and ArchiveRootBuildItem that provide access to target and target/classes of the current project respectively. In addition to them, it would be handy to have a BuildItem for the current project's base directory (`${basedir}` for Maven projects).

Our (Camel Quarkus) specific use case is using paths relative to the `${basedir}` in the application.

[2019-11-19 08:11] geoand commented on #5576
This would tie in nicely if we do: https://github.com/quarkusio/quarkus/issues/2746

[2019-11-19 08:24] agiertli commented on #1724
Hi, somebody closed my previous issue:
https://github.com/quarkusio/quarkus/issues/2949

But it seems that it was duplicate of this one anyway, so I won't reopen a new one.

I have executed my test case against 1.0.0.CR1 and here are the results:

-------------------------------------------------------------------------------
Test set: org.NoSuchMethodTest
-----------------------------------------

[2019-11-19 08:26] geoand commented on #3535
I looked into this one and it turns out to be a timing issue. Basically when `Application` is created the ServletContext isn't a bean yet which means it can't be injected via `@Context`.

Is constructor injection even supported for `Application` classes by the spec? I am asking because I don't know if it makes sense to work on this or not.

[2019-11-19 08:32] mkouba commented on #3535
So I've just verified that injecting `javax.servlet.ServletContext` works fine in 1.0.0.CR1 - it's a bean provided by undertow extension. However, it's injected by CDI and not resteasy and the `@Context` annotation is simply ignored.

[2019-11-19 08:37] maxandersen commented on #4539
I would say no as we didn't clean anything up nor documented these yet so its still an issue that should be  looked at.

[2019-11-19 08:49] ia3andy commented on #3340
@gsmet no it's only solved on Code Quarkus. I started something with common zip and need some time to complete it. I am adding it to my task list..

[2019-11-19 08:59] lburgazzoli commented on #4564
need to test it, will do it tomorrow

[2019-11-19 09:01] lburgazzoli commented on #3620
adding this to my todo list for tomorrow

[2019-11-19 09:01] machi1990 commented on #2751
Is this envisageable post 1.0? May be for 2? @gsmet @FroMage @cescoffier WDYT?

[2019-11-19 09:12] #5522 closed

[2019-11-19 09:22] FroMage commented on #2751
Well, the plan was to make all datasources use the same configuration prefix, and agroal would skip all datasources that are not JDBC. It's just that we didn't get there yet, but I don't think they should have separate config prefixes.

[2019-11-19 09:24] FroMage commented on #4394
What I suggested above, that kotlin subclasses include `companion object : Functions<MyEntity> {}` in their entities. But perhaps we should ask kotlin users for ideas because we may be missing options due to lack of expertise.

[2019-11-19 09:29] ia3andy commented on #5579
I've moved this issue to GitHub since this case is affecting all the code generation tooling.

[2019-11-19 09:38] loicmathieu commented on #5572
@machi1990 @lhauspie I think the idea is to be able to select which health check (regardless to the health check being a liveness or a readiness) to activate for an extension.

As an extension a provides an arbitrary number of health check, we definitively should use a String instead of a boolean. And it's the work of each extension to provides this.

[2019-11-19 09:40] gunnarmorling commented on #4275
@gsmet, I think it can be closed.

[2019-11-19 09:43] gunnarmorling commented on #5471
@muirandy, can you expand a bit on that one:

Could the Quarkus KafkaStreams extension automatically apply the required configuration to produced the `KafkaStreams` object? Perhaps based on some configuration or other produced item(s) you define?

[2019-11-19 09:44] loicmathieu commented on #4394
@FroMage I don't understand wich part is provided by Quarkus and wich part is provided by the user. On my proposal, Quarkus will provides extension methods for all static methods of Panache and the user will use them.

For the records, Scala didn't have static methods so we also needs to do something for it. And it also supports extension methods and companion objects.

I'm not an expert on Kotlin

[2019-11-19 09:57] FroMage commented on #4394
https://github.com/quarkusio/quarkus/issues/4394#issuecomment-538916878 explains it.

Users have to include `companion object : Functions<MyEntity> {}` in their entities, and they can place whatever static methods in there if then want it, and then they get all the static methods for free.

[2019-11-19 09:57] loicmathieu commented on #1368
@danielpetisme  this is not a silly question :) this has been proposed (this is also my favourite choice) and dismiss as we don't want to break compatibility.

So, as both @emmanuelbernard and @FroMage like `findByIdOptional` I propose to go with this name.

Should we also for for `PanacheQuery.findFirstOptional` and `PanacheQuery.findOneOptional` or should I open a new issue to discuss them ?

[2019-11-19 10:01] loicmathieu commented on #2744
I'm agree with @FroMage if users can break it, it will happen :(

Regarding lock as common or not, the more common usage is can think of is to lock for update a record from the database. That's why I ask for the overload `PanacheEntityBase.findById(Object, LockModeType)`.

[2019-11-19 10:11] emmanuelbernard commented on #2744
I hate users, life is so much easier without these constraints ;P
OK, so we go for `find` only and I think I agree with loic on the overloaded `findById(..., LockMode)`.

[2019-11-19 10:16] johnaohara commented on #5579
@ia3andy one question about code.quarkus.io, "I was also unable to select the "RESTEasy JAX-RS" extension"  the only dep for an aws projext created with quarkus-amazon-lambda-archetype is on `quarkus-maven-plugin`  Is the `RESTEasy JAX-RS` option mandatory?

[2019-11-19 10:49] emmanuelbernard commented on #1368
yes let's be consitent

[2019-11-19 10:52] FroMage commented on #4125
Done: https://github.com/quarkusio/quarkus/pull/5581

[2019-11-19 11:01] tsegismont commented on #2751
Agreed. The Pg/MySql extensions will be updated to support named
datasources (as Agroal extension does). Then you will be able to use the
default datasource for Hibernate / Flyway and create a separate datasource
for reactive data access.

[2019-11-19 11:06] FroMage commented on #2299
Follow up at https://github.com/quarkusio/quarkus/pull/5582

[2019-11-19 11:14] FroMage commented on #2751
@tsegismont didn't we have an issue open to support those shared datasource declarations?

[2019-11-19 11:14] FroMage commented on #2751
I can't find it.

[2019-11-19 11:16] Sanne commented on #2751
@aguibert this one might be a good issue for you, want to try?

[2019-11-19 11:22] #4125 closed

[2019-11-19 11:47] oztimpower commented on #5037
Templates look much simpler. There is still some API Gateway config in it, which can be removed:

  Globals:
     Api:
       EndpointConfiguration: REGIONAL
       BinaryMediaTypes:
         - "*/*"

[2019-11-19 11:51] oztimpower commented on #5037
In the docs, would it be better to change that paragraph to always add the -D param, since that's consistent with the other docs on building for a container.  It would actually be nice to have this written as code block like:
`mvn -Pnative -Dnative-image.docker-build=true`

===>
If you want a lower memory footprint and faster initialization times for your lambda, you can compile your Java  code to

[2019-11-19 11:54] #5569 closed

[2019-11-19 11:57] oztimpower commented on #5037
Majority of the macro code in the template can go?  Certainly all the Region related stuff can.

#set($resourceName = $artifactId)
 #macro(replaceChar $originalName, $char)
 #if($originalName.contains($char))
 #set($tokens = $originalName.split($char))
 #set($newResourceName = "")
 #foreach($token in $tokens)
 #set($newResourceName = $newResourceName + $token.substring(0,1).toUpperCase() + $token.

[2019-11-19 11:58] oztimpower commented on #5037
Congrats, looks super simple and easy to follow.  It's a big improvement, allowing people to test out of the box locally.  No other feedback!

[2019-11-19 12:10] ia3andy commented on #5579
Maybe you found this bug before we added the flag and tooltip:
![image](https://user-images.githubusercontent.com/2223984/69145353-c4875b80-0acd-11ea-9149-c0e708c300f9.png)

This is probably going to change in the future since extension selection is going to direct the code generation..

@johnaohara Does that answer your question?

[2019-11-19 12:36] muirandy commented on #5471
@gunnarmorling I'll do my best :)

### Quarkus Kafka Streams
Following the Quarkus guide on Kafka Streams, we create a `Topology` which quarkus looks after running for us (we don't have access to the `KafkaStreams`), ie:
[code]

### Open Tracing
Looking at the Kafka Streams section under [open tracing](https://github.com/opentracing-contrib/java-kafka-client#kafka-streams-1:), we need access to a

[2019-11-19 12:44] geoand commented on #5578
cc @iocanel

[2019-11-19 12:46] geoand commented on #5578
@iocanel has a PR about this: https://github.com/quarkusio/quarkus/pull/5478

Also it's mentioned in https://github.com/quarkusio/quarkus/pull/5496 (@stuartwdouglas I assume this is very similar to what @iocanel is trying to do)

[2019-11-19 12:51] muirandy commented on #5471
If its of help, you can find what I'm doing with the Zipkin workaround [here](https://github.com/muirandy/quarkus-kafka-streams-xml-json-converter/blob/master/src/main/java/com/aimyourtechnology/quarkus/kafka/streams/StreamingApp.java).

[2019-11-19 13:06] zerocode commented on #5527
It would be good to fix this. It's a useful pattern to be able to separate API from server and client implementations, and share a common definition across both.

[2019-11-19 13:08] geoand commented on #5527
I agree that this sort of pattern seems useful

[2019-11-19 13:09] hantsy commented on #3965
@emmanuelbernard  yes, the flexibility is important. Another concern is the Java  **type-safe** query, which is provided by JPA Criteria API.

[2019-11-19 13:17] antonwiens opened #5584 "quarkus-resteasy NPE with special character in request uri"
**Describe the bug**
When making a HTTP GET Request with an "{" (special character) in the request line and the quarkus-resteasy extension is used in the application, the server returns a NPE with statuscode 500.
Used quarkus version is 1.0.0.CR1.

The following stacktraces show that calculation of the absoluteURI for the resteasy extension fails:

        at java.net.URI$Parser.fail(URI.java:2848

[2019-11-19 13:18] patriot1burke commented on #5037
So, I want the docs to describe the AWS CLI commands that are supposed to run.   Not sure why you wanted to take that out.

[2019-11-19 13:22] patriot1burke commented on #5037
and why do you want to strip the API Gateway stuff from the template?  This is needed for HTTP to work.  You CANNOT remove the binary config from API Gateway.  API Gateway has to be explicitly told what the binary media types are and will ignore the isBase64Encoded flag if set.

[2019-11-19 13:23] patriot1burke commented on #5037
And why do you want to build native via docker?

[2019-11-19 13:23] patriot1burke commented on #5037
I just don't see any of this as improvements.

[2019-11-19 13:24] oztimpower commented on #5037
This is for the Amazon-Lambda extension, not the Amazon-Lambda-HTTP.  The difference being the later has API Gateway.

I think you may be confusing the earlier work, this work is to bring the Amazon-Lambda extension in line with the HTTP extension and add the SAM CLI

[2019-11-19 13:25] patriot1burke commented on #5037
Why do we want to use SAM if we don't have to?

[2019-11-19 13:25] oztimpower commented on #5037
Ha?  SAM is for local testing.

[2019-11-19 13:26] tsegismont commented on #2751
@FroMage I don't believe there is any issue filed other than this one

[2019-11-19 13:26] patriot1burke commented on #5037
Ya, but it sucks

[2019-11-19 13:28] oztimpower commented on #5037
Hmm, at least provide the documentation for people to test.

It's super simple and you have it on the HTTP extension, it is strange to have inconsistent docs.  With respect this is a big improvement over what was there.  Indeed it help resolve another issue submitted wherein a person was testing on Windows using the Docker Toolkit, and yet did not have an AWS Account.  There were path formatting i

[2019-11-19 13:36] yrodiere commented on #5305
The problem is solved in smallrye-config 1.4.0, but Quarkus is still using smallrye-config 1.3.9 at the moment. Upgrade PR: https://github.com/quarkusio/quarkus/pull/5387

[2019-11-19 13:40] oztimpower commented on #5037
For event based testing, which is what this is, SAM CLI is fast and efficient.  There is little complexity when compared to the API Gateway integration.

The issue I referred to which was resolved via the help of SAM (which is just Docker) is #5360.

[2019-11-19 13:54] patriot1burke commented on #5037
Apologies for the freakout, I'm change resistant (aka old).

Beyond the ridiculous .yaml soup, another big reason I don't like sam is that it is yet another thing you have to install.  The docs need to make clear that SAM is optional and that you don't have to install it to create a "Hello World" lambda.  The time it takes from project generation to deployment is important.

The same is true about

[2019-11-19 13:59] rsvoboda opened #5586 "@DisabledOnNativeImage is not working on class level"
`@DisabledOnNativeImage` is not working on class level, works only on method level, `@Target` is set to `ElementType.TYPE` and `ElementType.METHOD`.

I expect that no tests are executed in native mode when this annotation is put on class level.

https://github.com/quarkusio/quarkus/blob/0796d712d9a3cf8251d9d8808b705f1a04032ee2/test-framework/junit5/src/main/java/io/quarkus/test/junit/DisabledOnNat

[2019-11-19 14:00] oztimpower commented on #5037
My initial feedback was that I liked the AWS CLI breakdown in the documentation too, as I'm a Gradle user and it helped me test my Lambda code without having to use Maven (and I have the same feelings towards Maven that you describe about SAM).

There are many reasons to test locally, I agree not all users will have Docker locally installed especially in a corporate environment where Docker for De

[2019-11-19 14:05] FroMage commented on #2751
We should open it, then. Do you remember the plan? We wanted to abstract the configuration of data sources to a neutral new module and agroal and the reactive sql clients would use it for the named (or default) datasources they supported, right?

[2019-11-19 14:10] gastaldi commented on #5586
It looks like the annotation is missing a `@Inherited` annotation, I'll have a look.

[2019-11-19 14:10] kenfinnigan commented on #4031
I think the issue is that the REST Client doesn't have a media type set: https://github.com/irishshagua/quakus-exception-handler-issues/blob/master/src/main/java/demo/SomeRestClient.java#L13

Meaning it can't find a writer

[2019-11-19 14:20] irishshagua commented on #4031
Hey @kenfinnigan ,
I tested again with a Produces and Consumes anno on the Rest client method and it didn't make any difference to the failing test case. Just to be clear, the actual REST client call in the test should fail. The unexpected behavior is that the ExceptionHandler is not being triggered.

[2019-11-19 14:27] mkouba commented on #5586
Well, it does not make any sense to disable all the tests, or?

[2019-11-19 14:28] tsegismont commented on #2751
@FroMage the plan was to

1/ support named datasources in the reactive database client extensions
2/ in a second phase, avoid duplication by abstracting shared config properties in a generic datasource extension

[2019-11-19 14:30] rsvoboda commented on #5586
Why ? https://junit.org/junit5/docs/current/user-guide/#writing-tests-disabling

[2019-11-19 14:30] evanchooly commented on #5037
generally, Quarkus's dev mode can be used to test locally but I can see why someone might prefer to stick to Amazon's tooling.

[2019-11-19 14:51] FroMage commented on #5113
I've been using this one in prod for years: https://github.com/jeremyh/jBCrypt/blob/master/src/main/java/org/mindrot/BCrypt.java

Probably it compiles to native, due to not using exotic stuff?

[2019-11-19 14:53] mkouba commented on #5586
I think that `@Disabled` semantics is a little bit different. `@DisabledOnNativeImage` basically means do not run the test methods inherited from the test class and in that case the test class annotated with `@NativeImageTest` does not have to extend the `@QuarkusTest` at all. What's your use case?

[2019-11-19 14:56] dmlloyd commented on #5113
I don't think `char[].clone()` is considered exotic. :)

[2019-11-19 15:06] rsvoboda opened #5588 "Native image gets generated even when all classes are unchanged / up to date"
Native image gets generated even when all classes unchanged / are up to date
maven-compiler-plugin detects that case, quarkus-maven-plugin always runs the build

Discussed in https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/skip.20native.20%28re%29build.2C.20run.20just.20test/near/181113795

[code]
[code]

[2019-11-19 15:06] FroMage commented on #5113
Ah, I didn't look properly :)

[2019-11-19 15:13] loicmathieu opened #5589 "PanacheQueryImpl.firstResult() retrieves more than one item from the database"
**Describe the bug**
Reading the code of `PanacheQueryImpl.firstResult() ` it seems to retrieves more than one item from the database.

[code]

As the `setMaxQueryResult` is called after listing the results, it is useless and the query will be sent to the database with the previously set max result (Integer.MAX_VALUE by default)

**Expected behavior**
`firstResult()` retrieve one or zero item from

[2019-11-19 15:26] mkouba commented on #5588
For the record - the fact that no class has changed does not imply that the native image generation should be skipped - for example you can add extesions, change the configuration, resource files, etc.

It's possible to skip the native image manually. Which is not very practical but sometimes it could be useful ;-)

- configure the `maven-failsafe-plugin` outside the "native" profile and skip the

[2019-11-19 15:41] mkouba opened #5591 "Reactive routes - declarative way of defining Filter"
Currently, it's possible to declare an observer method and register an instance of `Filter` - see https://quarkus.io/guides/reactive-routes#intercepting-http-requests. It could be useful to declare a filter method like this:
[code]

[2019-11-19 15:48] rsvoboda commented on #5586
To me `@DisabledOnNativeImage` on class level is shortcut to disable all the tests in that class for native mode, I think user should have this option available.

If `@DisabledOnNativeImage` was just ElementType.METHOD I wouldn't file this issues, but it can be put on class level too.

Do understand what you mean by this.

[2019-11-19 15:48] ppalaga commented on #5578
Yes this is a duplicate of https://github.com/quarkusio/quarkus/issues/5474

[2019-11-19 15:49] #5578 closed

[2019-11-19 15:59] paulrobinson opened #5593 "Reduce down to a single Vert.x instance"
### Description
Having two instances of Vert.x running is a large source of bugs.

@FroMage has done some initial work.

### Analysis
_Links to analysis docs (E.g Design, Requirements, etc)_

### Tasks
- [ ] _Checklist of sub tasks goes here_

[2019-11-19 15:59] rsvoboda commented on #5588
dev mode can detect these things, standard quarkus build could leverage these capabilities too

I'd rather have `mvn verify -Dquarkus.native.skip-build=true` for better out-of-the-box experience

[2019-11-19 16:03] paulrobinson opened #5594 "Qute MVP"
### Description
Release the first version of Qute.

### Analysis
_Links to analysis docs (E.g Design, Requirements, etc)_

### Tasks
- [x] Initial PR - includes qute-core, core quarkus integration and RESTEasy integration
- [x] Basic Guide
- [x] Reference Guide
- [x] Quickstart - https://github.com/quarkusio/quarkus-quickstarts/pull/395
- [x] Mailer extension integration

[2019-11-19 16:04] gastaldi commented on #5586
PR created: https://github.com/quarkusio/quarkus/pull/5590

[2019-11-19 16:28] paulrobinson opened #5597 "Classloader Isolation Model"
### Description
Due to the Gradle specificities and the bug around Panache entities + typed queries, we need this clarified CL model.

### Analysis
Design work has started on the public list https://groups.google.com/forum/#!topic/quarkus-dev/3u24xR6H7zs and https://docs.google.com/document/d/1XOD4_OWi93gD0mAT39fyZvDCVSwPbH3yVpkBbM1yPVg/edit?usp=sharing once everyone is happy I will start to imple

[2019-11-19 16:32] paulrobinson opened #5600 "Extension Driven Build Artefacts"
### Description
Allow extensions to create/modify build artefacts. This is of particular importance for things like Function deployment to the big platforms, Google App Engine etc.

### Analysis
_Links to analysis docs (E.g Design, Requirements, etc)_

### Tasks
- [ ] _Checklist of sub tasks goes here_

[2019-11-19 16:33] paulrobinson opened #5601 "Expose mini extension APIs for applications"
### Description
Allow applications write build-time operations or resource enlistment for GraalVM without having to use the nasty command line arguments or write a full extension.

### Analysis
_Links to analysis docs (E.g Design, Requirements, etc)_

### Tasks
- [ ] Support for reflective hierarchies
- [ ] Support for Runtime Initialised classes
- [ ] Support for Runtime Reinitialised classes
- [

[2019-11-19 16:39] paulrobinson opened #5602 "Improve the usability of RESTEasy"
### Description
There have been various comments about RESTEasy's small usability quirkiness (E.g named parameters being optional). These issues might have gone with some of the recent work, but maybe not.

This Epic is about identifying the complaints and fixing the important issues.

### Analysis
_Links to analysis docs (E.g Design, Requirements, etc)_

### Tasks
- [ ] _Checklist of sub tasks go

[2019-11-19 16:39] wburns commented on #5554
This looks like a bug in upstream protostream that needs to be fixed
outside of Quarkus. Thank for the heads up.

On Mon, Nov 18, 2019, 10:06 AM Rostislav Svoboda <notifications@github.com>
wrote:

[2019-11-19 16:42] gsmet commented on #5588
I don’t see how that could become a priority anytime soon.

[2019-11-19 16:43] paulrobinson opened #5603 "RESTEasy: Move more startup to build-time"
### Description
While RESTEasy's startup part being at runtime doesn't penalize us too much on native, I think it does penalize us possibly for RSS on JVM mode. The idea is to get someone to explore the work and possible gain.

### Analysis
_Links to analysis docs (E.g Design, Requirements, etc)_

### Tasks
- [ ] _Checklist of sub tasks goes here_

[2019-11-19 16:44] aguibert commented on #2751
perhaps we could part out the datasource configuration into separate host/port/dbname elements instead of URLs?

So this:
[code]

would become:
[code]

This would allow the extension to provide the appropriate protocol (i.e. `jdbc:` or `reactive-datasource:`). The tricky part would be getting the sub-protocol in there or properly building up extra properties that typically come in at the end of th

[2019-11-19 17:28] 4ntoine opened #5604 "Failed to package to native image with error: "No instances are allowed in the image heap for a class that is initialized or reinitialized at image runtime: io.netty.buffer.UnpooledByteBufAllocator""
**Describe the bug**
`./mvnw package -Pnative` failed with the following error:
[code]

**Expected behavior**
native image is generated and package succeeds

**Actual behavior**
Got compile error message.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone git@github.com:4ntoine/NotesServerApp.git
2. cd NotesServerApp
3. git checkout 7c7e3dc9ba0760d2a4d5c52e6e9fe30eb7f449e3
4. ./gradle

[2019-11-19 17:34] machi1990 commented on #5604
Hi @4ntoine I noticed that you are using GraalVM `19.1.1`, do you have the same output with  `19.2.1`?

[2019-11-19 17:43] 4ntoine commented on #5604
@machi1990 I haven't checked so far. Any reason think it should help?

[2019-11-19 17:48] machi1990 commented on #5604
This is the latest GraalVM release in use. I cannot recall what is fixed between `19.1.1` and `19.2.1` hence my curiosity about see if we have the same error with the later.

[2019-11-19 18:31] 4ntoine commented on #5604
I've just tried with GraalVM CE 19.2.1 and the issue is gone. Feel free to close the ticket.
However instead i'm getting:

I do understand H2 is not meant to be used in production, but is it expected behaviour?

[2019-11-19 18:34] machi1990 commented on #5604
Glad the issue is solved.

Yes, H2  Embedded is not yet nativified :-)

@gsmet I remember having seen an issue for it?

[2019-11-19 18:38] #5604 closed

[2019-11-19 19:33] aloubyansky commented on #3721
Yes, there is a problem.

[2019-11-19 19:51] stuartwdouglas commented on #5474
The issue with this is that it assumes that augmentation always happens from within the context of a Java project. One of our initial goals with Quarkus was the ability too easily do upgrades in a cloud based environment without needing to rebuild your project. This use case would involve augmenting a pre-built jar that does not necessarily still have the Java project present.

In addition to this

[2019-11-19 19:57] mkouba opened #5606 "Reactive routes - usability improvements"
1. if neither `Route.path()` nor `Route.regex()` use the method name as the `Route.path()` value
2. make it possible to declare `@Route` on the class level -> values are considered defaults for all declared routes; `path` is used as a prefix if a route declares `Route.path()`

[2019-11-19 20:03] mkouba commented on #5586
So the use case is that you would like to inherit some instance methods from the `GreetingResourceTest` but you don't want to run any of the test declared there? Looks like a legitimate but very rare use case.

That's a good point. But it could be a mistake too.

@rsvoboda in your example, if you don't want to "inherit" the methods from `GreetingResourceTest` then simply remove the `exends Greetin

[2019-11-19 20:53] #5586 closed

[2019-11-19 21:25] dmlloyd opened #5608 "Hibernate ORM should use new optional config groups"
**Description**
After #5387 is merged, we gain support for optional config groups.  Optional config groups, as explained in the docs, allow a config group _as a whole_ to be considered optional, which also implies that the required properties in the group are _only_ required when _any other_ property within the group or its nested children are specified.

This should fit the Hibernate ORM configur

[2019-11-19 21:38] rsvoboda commented on #5586
The benefit of disabled tests is that you see warnings in the log, e.g `[WARNING] Tests run: 131, Failures: 0, Errors: 0, Skipped: 1`. I lose this when I remove `extends GreetingResourceTest`. And of course, disabling tests should be just temporary thing ;)

[2019-11-19 21:57] anamarija commented on #5254
Hi,
I tried to reproduce the behaviour with a one node broker/replica setup on my local machine. I used various options PLAINTEXT, SSL, SASL_SSL they all seem to work fine on my machine in dev and native. The only problem I did came across was that profile %prod isn't working with reactive messaging and native but thats another issue. Below is the configuration I used. I tried also required and no

[2019-11-19 22:56] stuartwdouglas commented on #3947
I just ran those steps and it works fine for me. BTW there are some errors on that page, if you copy/paste the examples BeerGateway is missing the ClientHeaderParam import, and BeerService is all screwed up as it looks like some opening braces have gone missing.

[2019-11-19 23:16] #3721 closed

[2019-11-20 02:20] jaikiran commented on #5453
Interestingly, this crash occurs only when `-J-Dio.netty.leakDetection.level=DISABLED` is passed to the native image command. Quarkus sets it by default, so right now that can't be skipped. Plus, I don't yet know why setting that param would result in a crash.

[2019-11-20 06:08] jaikiran commented on #5453
I created https://github.com/oracle/graal/issues/1843 to have it tracked in Graal

[2019-11-20 06:51] jaikiran commented on #4414
Hello @Arcnor, can you share an application and steps which reproduces this? Perhaps as a github repository?

[2019-11-20 06:53] lordofthejars commented on #3947
To reproduce you need to open in dev mode, do a request, then go to the code, do a modification, and then do the request again, then is when you have the error.

[2019-11-20 07:17] stuartwdouglas commented on #3947
That is what I did.

[2019-11-20 07:17] stuartwdouglas commented on #3947
I am on a mac, I wonder if that makes a difference.

[2019-11-20 07:24] lordofthejars commented on #3947
I am on Mac too, let me try it again being 100% sure it is in CR1.

[2019-11-20 08:38] mkouba commented on #5062
BTW once https://github.com/quarkusio/quarkus/pull/5387 is merged my workaround cannot be used anymore and we'll have to send a PR to SmallRye instead.

[2019-11-20 08:44] yuhaibohotmail opened #5613 "Provides query cache support for Hibernate with Panache"
**Description**
Panache does not support hint at this time，so can't support query cache.

**Implementation ideas**
I think add a method is better than using hint.
`
Book.find("id", 12).withCache().list()
`

[2019-11-20 08:52] gsmet opened #5614 "Vert.x also provides a JSON implementation so no warning should be emitted"
Since https://github.com/quarkusio/quarkus/pull/4165 , we emit a warning if our REST services produce JSON and we don't have any of the RESTEasy JSON extensions:

Problem is: Vert.x also has the ability to serialize JSON via the Vert.x JSON types.

I think we should drop the warning also when we have the full Vert.x extension around.

See the Reactive MySQL client IT for an example of this issue.

[2019-11-20 08:52] gsmet commented on #5614
@machi1990 could you have a look at that one? I'd like to get it fixed for the Final we plan to release on Monday.

[2019-11-20 08:55] lordofthejars commented on #3947
I have sent you an email with a video recording

[2019-11-20 09:06] mkouba commented on #5586
Hm, I don't see any benefit in seeing warnings for methods annotated with `@DisabledOnNativeImage`. Rather the opposite - these methods are not supposed to be "temporarily disabled". They're mostly supposed to be always skipped. Most probably because they're using injected values or something like that.

And my point is that `@DisabledOnNativeImage` is not a temporary thing ;-).

Anyway, I do unde

[2019-11-20 09:12] machi1990 commented on #5614
Will check it a bit later :-)

[2019-11-20 09:14] #5589 closed

[2019-11-20 09:32] gaetancollaud commented on #5254
Hello @anamarija

I tried again with
[code]
but same result. This was the only difference with my initial config.

I use confluent cloud. You can create a cluster at https://confluent.cloud/. You have to enter a credit card, but it's cheap ( $0.22 / Gb).

[2019-11-20 09:33] cescoffier commented on #5300
There is a draft pr about config that would address this.

Note that smallrye reactive messaging cannot used a quarkus specific API.

[2019-11-20 09:37] cescoffier commented on #5254
OH here is how I can reproduce it. Let me know, which that info I should be able to troubleshoot that issue.

[2019-11-20 09:43] anamarija commented on #5254
Can you export your broker configuration from confluent cloud. Or give me temporal access to it so I can troubleshoot.

[2019-11-20 10:08] loicmathieu commented on #5613
Hi, this can be supports in different ways:

- Your proposal via a dedicated Query cache support
- Via a Query hint: #3482
- Via JPA Query support: named query (#3483) or direclty `PanacheEntity.find(Query query, ...)`

You can join these discussions ;)
There is also an umbrella issue for several Panache improvements: https://github.com/quarkusio/quarkus/issues/4809

Query caching is already enabl

[2019-11-20 10:11] gaetancollaud commented on #5254
@cescoffier @anamarija Please contact me at gaetan.collaud (at) spoud.io so I can give you access to my confluent cloud cluster.

[2019-11-20 10:47] loicmathieu opened #5619 "Unable to use @RegisterRestClient(configKey = "some.config.key")"
**UPDATE: this is not a bug, only the error message is misleading.**

Unable to use @RegisterRestClient(configKey = "some.config.key") ot have a more friendly configuration key for the rest client URL.

**Describe the bug***

When defining a rest client with `@RegisterRestClient(configKey = "some.config.key")`
[code]

And having the following line in my `application.properties`
[code]

It fails wi

[2019-11-20 11:00] lburgazzoli commented on #4564
I confirm it is fixed.
Do you have any commit I can use on my side as a reference ?

[2019-11-20 11:17] #5071 closed

[2019-11-20 12:01] anamarija commented on #5254
Well I tried to reproduce the error with your confluent node. Everything seems to be working fine on my setup. I provided a sample app for you https://github.com/anamarija/quarkus-kafka-5254-ssl-sasl.git. Which version of quarkus are you using?

[2019-11-20 12:02] machi1990 commented on #5619
+1. IIRC this is not implemented yet so I'd qualify it as enhancement rather than a bug.

[2019-11-20 12:41] rsvoboda commented on #5588
I think https://github.com/quarkusio/quarkus/pull/5609 addresses this quite well

Native image gets built only once when following commands are used
[code]

[2019-11-20 12:45] #2744 closed

[2019-11-20 12:48] loicmathieu commented on #5619
@machi1990 the code read this annotation property and the error message quote it so, according to me it's implemented but not document ... and buggy

[2019-11-20 13:00] loicmathieu commented on #5619
Wait, there is no bug, it's just me not understanding how to works because of the lack of documentation.

The configKey is a root config key, we still need to add the `/mp-rest/url`at the end:

The following works:
[code]

With the following configuration:
[code]

I will provides a fix to the error message that is incorrect and some documentation on it.

[2019-11-20 13:01] paulrobinson opened #5626 "Refactor GitHub Repositories"
### Description
We need to decide if https://github.com/quarkusio/quarkus should continue to be a mono-repo or if it should be broken up.

Regardless of the outcome form that decision, we need to allow independent releases and CI runs.

This Epic covers the analysis of the above situation as well as any changes that are decided to be needed.

### Analysis
(links to analysis docs containing archite

[2019-11-20 13:16] paulrobinson opened #5627 "gRPC support"
### Description
Implementing support for [gRPC](https://grpc.io/) is likely to be a long running task. This Epic is to cover the Minimum Viable Product implementation, so that we can release something useful ASAP and then iterate on it going forwards.

An early task needs to be to decide what should be included in the MVP and to maybe schedule some follow-up Epics for future work.

### Analysis
(l

[2019-11-20 13:18] rboei commented on #5551
Sadly no, it happens in our own project. I will look into it and come back to you.

[2019-11-20 13:54] gaetancollaud commented on #5254
I tried your fork and set the version to `1.0.0.CR1`. I still have the error. => https://github.com/gaetancollaud/quarkus-kafka-5254-ssl-sasl/blob/master/pom.xml#L10.

I'm trying to compile the master branch from quarkus to use the latest snapshot but no luck so far (dependency issues).

[2019-11-20 13:56] gsmet commented on #5254
@gaetancollaud could you explain step by step what you do to reproduce the issue?

How you build the application and run it?

There might be something weird going on. Thanks!

[2019-11-20 14:03] lkrzyzanek commented on #5252
Nicely works in 1.0.0.CR2.
Thanks guys!

[2019-11-20 14:12] gaetancollaud commented on #5254
Ok, so first checkout my fork: https://github.com/gaetancollaud/quarkus-kafka-5254-ssl-sasl

You can change the version from `1.0.0.CR1` to `999-SNAPSHOT` I just tried I have the same outcome.

create a file `quarkus-properties.properties` with this content (just adapt the variables)
[code]

compile using maven (I'm on Windows 10 using maven 3.6.0 with java 1.8.0_191 from Oracle):
[code]

Then bui

[2019-11-20 14:13] ge0ffrey opened #5630 "RecorderContext.proxyClass(...).asSubClass(...) should return the proxy"
RecorderContext.proxyClass() returns Class<?>, but sometimes we need Class<? extends Animal>.
The JDK supports that:

[code]

However, this code fails in deployment module:

[code]

Because the proxy class passes the invocation along, instead of shortcutting it to return this.

[2019-11-20 14:18] iocanel commented on #5626
Definitely not an analysis but here are my two cents:

In the past I've worked with two pretty similar projects:

- Apache Camel
- Apache ServiceMix

Camel used a monorepo style (core and compoents were part of a single repo).
ServiceMix used different repos (core and compoents were split and released individually).

My experience as a user was that it was so much simpler to have everything releas

[2019-11-20 14:30] ge0ffrey commented on #5630
**Workaround**:
Class<? extend Animal> animalClass = (Class<? extend Animal>) recorderContext.proxyClass("org.acme.Dog");

**Difficulty to fix with a Pull Request**
Hard: BytecodeRecorderImpl.classProxy() builds the proxy,
but there are no obvious ways to implement/override one of the proxy methods (the asSubClass method) to return the proxy itself.

[2019-11-20 14:30] gsmet commented on #5362
I just pushed a fix to the website.

[2019-11-20 14:30] #5362 closed

[2019-11-20 14:54] Sanne opened #5631 "Remove the workaround for ForkJoin to spin up threads"
**Describe the bug**
We set `-J-Djava.util.concurrent.ForkJoinPool.common.parallelism=1` in `NativeImageBuildStep`
to workaround for
 - https://github.com/oracle/graal/issues/660

It seems the GraalVM issue was resolved; are we safe to remove the workaround from Quarkus?

@stuartwdouglas needs your opinion at least

[2019-11-20 15:08] gsmet commented on #5631
I'm not sure the commit has been included in 19.2.x:
https://github.com/oracle/graal/commit/e78fc21f53488848f791dca3db394031698177f2

From what I can see, it's only in 19.3 but I might be wrong.

[2019-11-20 15:18] MossabTN opened #5633 "Build native : kafka + avro"
Hi, i trying to use kafka with schema registry and i got this error on native build

[code]
application.properties
[code]
pom.xml
[code]
please check this project example that contains the same problem: https://github.com/MossabTN/quarkus-kafka-avro

[2019-11-20 15:43] anamarija commented on #5254
I managed to reproduce it...yeeey! So this only happens when the application is run as a docker-native image. When its run as a java native runner everything works.
Do you want me to investigate further why this happens or should I fix it and enable the reflection through some property.

[2019-11-20 15:53] gsmet commented on #5254
This is really weird.

The main difference between Docker builds and standard builds is this: https://quarkus.io/guides/native-and-ssl#working-with-containers .

I'm wondering if properly including SSL in the container would fix the issue.

I don't really see how just adding reflection could work. Or maybe... the Kafka client is trying to initialize some SSL support and it can't due to the SunEC l

[2019-11-20 15:56] gsmet commented on #5584
@asoldano not sure about that one? Is this the expected behavior or not?

[2019-11-20 15:57] gsmet commented on #5584
(I saw it's in the Vert.x implementation but I'm mostly wondering what the behavior should be)

[2019-11-20 16:00] angelozerr commented on #5229
In Quarkus LS, here information that we collection with JDT Search in JSON format for `quarkus.datasource.driver`:

[code]

In other words we need list of Quarkus properties name and for each name, we need:

* `the Java type`
* the `documentation`
* the `extension name`
* the `source `of the Quarkus property which could comes from:
  * `java field`. We use the following syntax className#fieldName.

[2019-11-20 16:19] paulrobinson opened #5634 "Create Panache RX (via Hibernate) MVP"
### Description
Create an initial Minimal Viable Product for Panache RX (via Hibernate).

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks
- [ ] _Checklist of sub tasks goes here, represented as links to GitHub issues_

[2019-11-20 16:21] paulrobinson opened #5635 "Create Panache RX (via MongoDB) MVP"
### Description
Create an initial Minimal Viable Product for Panache RX (via MongoDB).

This work is in progress, with a draft PR: #5567

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks
- [ ] _Checklist of sub tasks goes here, represented as links to GitHub issues_

[2019-11-20 16:23] valones opened #5636 "Vault Extension Serialization Error in Native Mode at Runtime"
**Description**
Following the implementation of the Vault guide (https://quarkus.io/guides/vault) generates serialization error in native mode at runtime, [stacktrace attached](https://github.com/quarkusio/quarkus/files/3870212/stacktrace.txt).

As a workaround, I added the following `reflection-config.json`:
[code]

**Steps to reproduce the behavior**
1. Follow the guide: https://quarkus.io/guide

[2019-11-20 16:31] paulrobinson opened #5637 "Implement typesafe queries"
### Description
We have the implementation work done by Gavin, but now we need to integrate it into Quarkus and find the JPA, Hibernate ORM and Panache queries and valid them.

### Notes
Notes from Emmanuel:

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks
- [ ] _Checklist of sub tasks goes here, represented as links to GitHub issue

[2019-11-20 16:39] valones opened #5638 "[Vault]: Add Support to Multiple Vault KV Paths"
It would be nice if the `quarkus.vault.secret-config-kv-path` property supported multiple vault kv-path entries.

[2019-11-20 16:41] gsmet commented on #5638
/cc @vsevel

[2019-11-20 16:42] gsmet commented on #5636
/cc @vsevel

[2019-11-20 17:17] dmlloyd commented on #5630
I don't think this analysis can possibly be correct.  `asSubClass` checks the type and returns `this`.  If calling that method fails, then the unsafe cast you mention will also fail (just later rather than sooner).

[2019-11-20 17:35] valones opened #5639 "[openapi] Add Ability to Configure Swagger UI"
I can configure Swagger UI via URL query params, but would be nice if I could configure some params in `application.properties` file, like the `docExpansion` param for example.

swagger oficial doc: https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/

[2019-11-20 17:35] jabby commented on #4218
FYI it seems that graalvm 19.3.0 is available now.

* https://www.graalvm.org/downloads/
* https://twitter.com/graalvm/status/1197199129593597952

[2019-11-20 17:46] gsmet commented on #5639
If you're familiar with Swagger UI, that could be a nice first issue to start contributing!

[2019-11-20 17:46] valones opened #5640 "[oidc] Add Ability to Skip TLS Verify"
For development purposes it would be interesting to be able to skip the tls verification of the oidc auth server.

[2019-11-20 17:47] gsmet commented on #5640
/cc @sberyozkin @pedroigor

[2019-11-20 18:00] valones commented on #5639
To be honest, my first contact with swagger was thanks to quarkus!  :)
I just investigated how I could load the interface with the elements collapsed:
`http://localhost:8080/swagger-ui/?docExpansion=none`

[2019-11-20 19:27] #5342 closed

[2019-11-20 19:45] cstancu commented on #4218
FYI the version road map for GraalVM is here https://www.graalvm.org/docs/release-notes/version-roadmap/

[2019-11-20 20:24] #5614 closed

[2019-11-20 20:39] mathianasj commented on #4946
@sberyozkin yes it did resolve the issue, thanks!

[2019-11-20 21:12] vsevel commented on #5636
@valones you are right both of those classes are missing `implements VaultModel`, which is the marker for creating a `ReflectiveClassBuildItem` in `VaultProcessor`
@gsmet it is an easy fix. you can assign to me. I will try to do it these coming days.

[2019-11-20 21:22] vsevel commented on #5638
@valones it is pretty easy (and backward compatible) if we just make it a comma separated list of paths.
it is a bit more involved if there could be collisions on some names (for instance 2 paths with the same key `password`), which would require to be able to specify a prefix (eg mount all properties at vault path `secret/myconfig` as `myconfig.XXX` properties).
@sberyozkin what do you think?
@gs

[2019-11-20 21:22] EfraimLA commented on #4644
It works, thanks & waiting for the solution :D

[2019-11-20 21:38] gwenneg commented on #4218
Thanks for the info @jabby!

[2019-11-20 22:29] gwenneg commented on #5631
This was included in 19.3.0 indeed.

[2019-11-20 22:35] stuartwdouglas commented on #5631
This would be a good fix to have, I think it may speed up our native builds as I know the native compilation does use fork join internally in places.

[2019-11-20 22:37] machi1990 commented on #5631
@gwenneg Good to know. Any chance you could take this as part of your on going work with `19.3.0` ?

[2019-11-20 22:48] gwenneg commented on #5631
@machi1990 Sure, this could be part of #5358

[2019-11-20 22:49] machi1990 commented on #5631
Thanks @gwenneg

[2019-11-20 22:57] stuartwdouglas commented on #4564
I think it was https://github.com/quarkusio/quarkus/commit/86a790ada8fef9e4a744b7d4e735316f5f138d47

[2019-11-20 22:57] #4564 closed

[2019-11-20 23:44] aoudiamoncef commented on #5639
@gsmet, what approach would you like to implement for configuring Swagger UI ?

Swagger UI accepts configuration parameters in four locations.
From lowest to highest precedence:

1. The swagger-config.yaml in the project root directory, if it exists, is baked into the application
2. configuration object passed as an argument to Swagger UI (SwaggerUI({ ... }))
3. configuration document fetched from

[2019-11-20 23:48] maxandersen commented on #5229
since this would be stored per extension and in a jar you are not going to get `extensionName`, nor location those are not relevant for the extension to state afaics.

I don't grok what you are needing `source` for exactly - since you can't locate them already what is it that expect to actually get here ? what is its usecase for you ?

Here is my initial suggestion for a descriptor of these:

[cod

[2019-11-21 03:47] hantsy commented on #5392
@geoand Another small issue. https://stackoverflow.com/questions/58966932/httpservletresponse-set-charset-does-not-wok-in-quarkus-undertow

Great work done in 1.0.0.CR2, I think the spring extensions are ready for production now.

[2019-11-21 06:39] AdamBien opened #5647 "Error message on start (/etc/hosts permissions)"
**Describe the bug**
At start of stock quarkus without any extensions I get the following message:

2019-11-21 07:25:46,065 WARN  [io.net.res.HostsFileParser] (main) Failed to load and parse hosts file at /etc/hosts: java.io.FileNotFoundException: /etc/hosts (Permission denied)

The application is still working

**Expected behavior**

No superfluous error message.

**Actual behavior**

WARN  [io.n

[2019-11-21 06:49] geoand commented on #5392
Thanks @hantsy , I'll check it out

[2019-11-21 07:26] Xendar commented on #5453
Thank you!

[2019-11-21 07:58] ppalaga opened #5648 "quarkus-maven-plugin pulls bad -deployment dependencies"
Originally reported as https://github.com/apache/camel-quarkus/issues/454

Steps to reproduce:

1. generate a starter app with just RESTEasy JAX-RS and Camel Quarkus Netty HTTP on https://code.quarkus.io or use the attached
[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/3873434/code-with-quarkus.zip)
2. `./mvnw clean install` results in
[code]

EXPECTED: it should pass

## Some

[2019-11-21 08:23] aloubyansky commented on #5648
Looking

[2019-11-21 08:32] ppalaga commented on #5648
Hm... changing this line to camel-quarkus-bom-deployment https://github.com/quarkusio/quarkus-platform/blob/1.0.0.CR2/bom/deployment/pom.xml#L40 does not help.

[2019-11-21 08:51] gitBroker opened #5649 "Bean discovery via configuration"
I miss the cdi configuration of alternatives e.g. via beans.xml. I want to configure the use of beans without the need of recompiling my app, or did I miss something? Is there any other option than beans.xml?

[2019-11-21 08:54] ia3andy commented on #5649
I don't really understand your question, could you give more details and some example maybe?

[2019-11-21 09:01] aloubyansky commented on #5648
I see how that happens. Working on a fix.

[2019-11-21 09:35] mkouba commented on #5606
Hm, for 1) I'm not so sure it's a good idea because a) `Route` is repeatable and b) we would break the current behavior (undocumented ATM) - "If both value() and regex() are empty strings a route that matches all requests or failures is created.". On the other hand, we will have `@RouteFilter` and it's a very rare use case imho.

For 2) I think it would be better to introduce a new annotation; ie.

[2019-11-21 09:49] sberyozkin commented on #5638
@vsevel we'll probably need to update [Vault KV interface](https://github.com/quarkusio/quarkus/blob/master/extensions/vault/runtime/src/main/java/io/quarkus/vault/VaultKVSecretEngine.java) with a new method accepting a set of paths too.
@vsevel, perhaps we should block such cases for now at least if the collisions occur ?

[2019-11-21 09:51] chriskn opened #5651 "ClassNotFoundException: com.sun.xml.bind.v2.ContextFactory when using jaxb for native image with jaxb classes in external jar"
Hi, the bug #5558 was fixed with the CR2 version but the same problem still occurs when I  copy the jaxb generated classes in an external jar. I updated my showcase at https://github.com/chriskn/data.provider.static/tree/external_jaxb_jar and created this branch.

See #5558 for more details.
@gsmet I mention you because you fixed  #5558 .
Thanks in advance.

[2019-11-21 10:14] gitBroker commented on #5649
@ia3andy Sorry ... Thanks for inspiring me to think  again ... The feature request can be closed or better deleted. Sorry for wasting your time!)

(I was searching for dynamic cdi injection at runtime. E.g. I have an interface with 2 implementations.  In another class I @Inject the interface. Now the cdi container has to know which concrete implementation should be injected. I guess the right was

[2019-11-21 10:14] gitBroker commented on #5649
I close ....

[2019-11-21 10:14] #5649 closed

[2019-11-21 10:16] mkouba opened #5653 "ArC build-time metadata - make it possible to query the registered beans"
Currently, an extension can obtain the list of all beans from the `BuildExtension.BuildContext` and filter it manually. It could be useful (and more efficient) to provide some query API, e.g. to find all beans that have a specific type in the set of bean types.

[2019-11-21 10:16] iocanel commented on #5474
So, it seems that we won't proceed with this change.
I am closing the issue for now.

[2019-11-21 10:16] #5474 closed

[2019-11-21 10:18] FroMage commented on #5653
Cool!

[2019-11-21 10:27] ia3andy commented on #5649
I am glad you found a solution to your problem! Have fun with Quarkus :-)

[2019-11-21 10:33] sberyozkin commented on #5640
@valones are you working with `quarkus-oidc` only or with `quarkus-keycloak-authorization` ?

[2019-11-21 10:33] anamarija commented on #5254
I think the SSL handshake was completed. This is a problem with the SASL login which is done after  . I tried to add the extra reflections which were needed
´´´
reflectiveClass.produce(new ReflectiveClassBuildItem(false, false, SaslClientCallbackHandler.class, DefaultLogin.class, DefaultLoginCallbackHandler.class));
´´´

but it now fails

´´´
Caused by: java.util.MissingResourceException: Resource

[2019-11-21 13:25] angelozerr commented on #5229
We need extensionName (to display it), but quarkus-extensions.yaml or quarkus-extensions.json seems contains this information. See https://github.com/redhat-developer/quarkus-ls/issues/133 Let's give up this information for the new metatada.

Ctrl+click on property defined in application.properties open the proper Java file and set the cursor to the proper field/method. Without this source informa

[2019-11-21 13:49] paulrobinson opened #5656 "Command Line Mode support (initial)"
### Description
Having the ability to launch Quarkus as a short live, command line application. For example with Aesh or Picocli (the later is already GraalVM compatible and very popular)

### Analysis
Discussion currently happening on the mailing list:
* [Thoughts on Command Mode](https://groups.google.com/forum/#!msg/quarkus-dev/hxSVglF-zhA/6uCIUgafBAAJ)
* [Command Mode](https://groups.google.co

[2019-11-21 13:51] sniew opened #6801 "EclipseLink"
**Description**
(Describe the feature here.)

Could you please add support to eclipselink ORM

[2019-11-21 14:01] valones commented on #5640
quarkus-oidc only, following the https://quarkus.io/guides/security-openid-connect-web-authentication guide. But I used a keycloak server running on openshift

[2019-11-21 14:07] gsmet commented on #5648
This is probably something we want fixed for Final.

I marked it as `backport?`.

[2019-11-21 14:08] gsmet commented on #5651
You have to get your external jar properly indexed or the JAXB annotations won't be found.

See https://stackoverflow.com/a/55513723 .

[2019-11-21 14:10] cescoffier commented on #5254
@anamarija

Looking at https://github.com/frohoff/jdk8u-dev-jdk/blob/master/src/share/classes/javax/security/auth/login/LoginContext.java#L711.

The stack you have is because it got a NoClassDefFoundError` because it cannot load the _module_ (class). Thus,  it tried to internationalize the message and fails because the i18n file (Resource) is not available.

We would need to know which module it i

[2019-11-21 14:44] sberyozkin opened #5657 "Support service-account OIDC/OAuth2 applications"
**Description**
Some Quarkus endpoints may act as `service-account` OIDC/OAuth2 applications where they need to acquire a token before accessing some other downstream endpoints.

**Implementation ideas**
Proposal is to have it supported at 2 levels:
1. Enhance the OIDC adapter itself with a new application type `service-account` - the users will have `JsonWebToken` or `AccessTokenCredential` injec

[2019-11-21 14:50] gsmet opened #5658 "Indicate in the guides the extensions that are preview"

[2019-11-21 14:57] jdang67 opened #5659 "Failed to read files that reference in application.properties after upgrade from 0.23.2 to 1.0.0.CR2"
**Describe the bug**

We are working on an application using quarkus 0.23.2 for months without any problem.
Today, we upgrade our app to 1.0.0.CR2 and it fails to load files that reference in application.properties
[code]
**Expected behavior**

The application should work just like version 0.23.2.

**Actual behavior**

The application throw exception
[code]
**To Reproduce**
Steps to reproduce the

[2019-11-21 14:57] stalep commented on #5656
Just a FYI, Æsh is GraalVM compatible as well (had it earlier than picocli :)
- not a popular as I have not had time to work on docs/webpage much and push it to projects, but AFAIK there are no features picocli has that's not in Æsh. - and Æsh have command mode with support for custom CommandInvocations so that it's very easy to add Quarkus specific capability when invoking the commands. Eg: look

[2019-11-21 14:59] sberyozkin commented on #5657
Andrej Petras shared [this code](https://quarkusio.zulipchat.com/user_uploads/11321/tfxXcjFkRS5PSPz1d3pZ2pq_/OpenIDConnectInterceptor.java) they are using at the moment.

[2019-11-21 15:00] FroMage commented on #4347
It's almost done here: https://github.com/quarkusio/quarkus/pull/5660

[2019-11-21 15:00] chriskn commented on #5651
Does this count only for native images? Because fot the jvm image it works without indexing.

[2019-11-21 15:00] kenfinnigan commented on #5657
Could you add the code directly, the link requires logging in to Zulip which is a bit annoying

[2019-11-21 15:01] FroMage commented on #5113
Actually, for https://github.com/quarkusio/quarkus/pull/5660 I need more than this, I need a real Modular Crypt Format implementation to get all iteration/salt/hash in one standard bCrypt string, as documented in https://en.wikipedia.org/wiki/Bcrypt

[2019-11-21 15:03] andrejpetras commented on #5657
Example implementation:
[OpenIDConnectInterceptor.zip](https://github.com/quarkusio/quarkus/files/3875303/OpenIDConnectInterceptor.zip)

[2019-11-21 15:12] sberyozkin commented on #5640
@valones In this case it is controlled at the Vertx Oauth2 level. @cescoffier Hi Clement, do you if it is possible to configure Vertx somehow to skp the TLS verification ?

[2019-11-21 15:16] cescoffier commented on #5640
That's a question for @pmlopes.

[2019-11-21 15:32] #5549 closed

[2019-11-21 15:34] #5619 closed

[2019-11-21 15:46] paulrobinson opened #5662 "Spring Config support"
### Description
We need to see how much of Spring Config make sense. Do we want to add support for Config Server both as the server and as a client?

The idea for this came from the Micronaut vs Quarkus talk at Devoxx where the speaker mentioned that Micronaut could work well in environments where Spring Config Server is being used

For reference: https://github.com/vert-x3/vertx-config/tree/maste

[2019-11-21 15:53] paulrobinson opened #5663 "Spring Security Support"
### Description
Decide on what features from Spring security should be supported then implement the important ones for this Epic.

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks
- [x] Support Spring Security's `@Secured` (#5225)
- [ ] Support Spring Security's `@PreAuthorize` (in progress by @geoand)

[2019-11-21 15:57] aloubyansky commented on #5648
The linked PR was tested on the attached project and passed the platform testsuite.

[2019-11-21 15:57] dmlloyd opened #5665 "Introduce a consistent deprecation methodology"
We need a consistent deprecation methodology.  I'm not talking about a policy for when to drop things that are deprecated - this issue is about how to actually deprecate things.

There are two major areas where this applies:
* APIs (classes and members)
* Configuration properties and groups

Both I think can be handled the same way for the most part.  I would propose the following rules for both:

[2019-11-21 16:01] FroMage commented on #5113
Generally, I think our security extensions simply lack support for MCF encoding and always separate the parts, which is less than ideal. I'll open an issue around that.

[2019-11-21 16:04] ppalaga commented on #5648
Thanks, @aloubyansky !

[2019-11-21 16:06] dmlloyd commented on #5113
The Elytron password library has complete support for MCF.

[2019-11-21 16:09] geoand opened #5666 "Support classpath resource loading in Spring's @Value"

[2019-11-21 16:10] FroMage opened #5667 "Security: support Modular Crypt Format or its successor PHC"
ATM our security extensions support several sorts of algorithms:

- security-properties says clear or `HEX( MD5( username ":" realm ":" password ) )`
- security-jdbc says clear or bCrypt (but not in MCF/PHC format: all fields separated)

We should support [MCF](https://passlib.readthedocs.io/en/stable/modular_crypt_format.html) and/or its successor [PHC](https://github.com/P-H-C/phc-string-format/

[2019-11-21 16:13] FroMage commented on #5667
https://www.npmjs.com/package/@phc/bcrypt has examples of the PHC format for bcrypt.

[2019-11-21 16:14] FroMage commented on #5113
Done: #5667

[2019-11-21 16:15] geoand opened #5668 "Support injecting a list of Spring beans"
Originally brought up by @tpenakov

[2019-11-21 16:16] FroMage commented on #5113
@dmlloyd ok great. Is it this class? http://wildfly-security.github.io/wildfly-elytron/1.9.x/api-javadoc/org/wildfly/security/password/util/ModularCrypt.html

[2019-11-21 16:17] gwenneg commented on #3928
Let's close it for real!

[2019-11-21 16:17] #3928 closed

[2019-11-21 16:19] Sanne commented on #4218
Thanks for volunteering @gwenneg ! I was having a look too (was too curious... ) and noticed this isn't a small task; feel free to delegate / ask help for some aspects?

Noticed you will likely need also : b64b92ea3

[2019-11-21 16:24] loicmathieu commented on #3482
@emmanuelbernard @FroMage Hint support has been proposed via `entity.find().withHint()` as it has been down for `withLock()`.
It is a highly demanded features as it allows to set the cache hint to cache Hibernate queries from Panache.

I have a working prototype and successfully test that using the Hibernate caching this way allow to cache a query. If I have your GO I can propose a PR :)

[2019-11-21 16:25] loicmathieu commented on #3870
@FroMage WDYT of this ?

[2019-11-21 16:28] gwenneg commented on #4218
@Sanne Thanks for mentioning the `groupId` change, I've already included it in #5358 which should be merged soon into `master`. I've also submitted #5500 and #5353 which have already been merged. AFAIK, Quarkus is ready for GraalVM `19.3.0` with these three PRs :)

[2019-11-21 16:28] Sanne commented on #5665
Sounds good. I'm missing one aspect: warning users when they are using deprecated configuration properties.

Do you intend to have the configuration tooling to automatically generate some warning based on the `@Deprecated` annotations on the configuration objects?

[2019-11-21 16:29] Sanne commented on #4218
Awesome, eager to try it out :100:

[2019-11-21 16:30] FroMage commented on #5113
OK, fine, it works great :)

[2019-11-21 16:31] FroMage commented on #5667
http://wildfly-security.github.io/wildfly-elytron/1.9.x/api-javadoc/org/wildfly/security/password/util/ModularCrypt.html has support for MCF, so it's just a matter of being able to use it.

As for PHC, we probably need to add support for it in Elytron, WDYT @dmlloyd ?

[2019-11-21 16:31] aloubyansky commented on #5648
Actually, thank you @ppalaga, that's a pretty nasty bug.

[2019-11-21 16:32] gwenneg commented on #4218
I forgot to mention that @galderz also did a part of the GraalVM `19.3.0` compatibility job with #5336

[2019-11-21 16:32] FroMage commented on #3482
That's fine by me.

[2019-11-21 16:35] FroMage commented on #3870
Well, how can we do ranges if the paging part of `Query` does not support it? It's not clear to me.

Also, fine: on the surface it looks fine, and you've used it before. I still think we should wait until other users request it, because so far you're the only user so perhaps you're an outlier?

[2019-11-21 16:37] emmanuelbernard commented on #3870
@FroMage try and implement range on the paging API of Panache, you'll see you can't naturally build one on the other. You can off the JPA API which does support range.

[2019-11-21 16:38] emmanuelbernard commented on #3870
That was a reply to " how can we do ranges if the paging part of Query does not support it? It's not clear to me."

[2019-11-21 16:41] FroMage commented on #3870
Yeah, I know they don't map, which is why I asked what the paging methods should do if we're ranging.

Sorry I can't parse that :(

[2019-11-21 16:48] dmlloyd commented on #5665
Yes, I think that would be the right way to do it.  We could even include text derived from the `@deprecated` doc tag as well, e.g. `The property "foo.bar.baz" is deprecated: Please use "foo.blah.baz" instead.`  It should be possible to translate content of `{@link SomeConfig#someField}` to a property name string so that the JavaDoc can reference the field but the config message would reference th

[2019-11-21 16:54] dmlloyd commented on #5667
If PHC is, as they claim, a "well defined subset of the Modular Crypt Format" then it's just a question of adding support for whatever additional formats we are missing.  The PHC document at https://github.com/P-H-C/phc-string-format/blob/master/phc-sf-spec.md mentions a few password types which are not supported presently by Elytron, specifically the "argon" group of algorithms.

/cc @darranl, @f

[2019-11-21 17:13] sberyozkin commented on #5657
Vertx OAuth2 example:
[code]
So I think we can easily enough update the adapter

[2019-11-21 17:27] aguibert commented on #2751
sounds like the general agreement is to have a separate `vertx-reactive` prefixed config source. If that's the case I can go ahead and implement/deliver that change

[2019-11-21 17:48] #5591 closed

[2019-11-21 17:49] gwenneg commented on #5658
I'll take care of it.

Should I improvise about the way it is indicated or is there already an existing generic sentence somewhere and/or a way to display the info (a warning block maybe?).

[2019-11-21 17:55] machi1990 commented on #5658
Hi @gwenneg maybe we can have something similar to https://quarkus.io/guides/mongodb-panache ?

[2019-11-21 18:17] gsmet commented on #5658
I would make it a NOTE instead of warning and maybe change "is still
experimental" for "is considered `preview`" to be consistent with the
code.quarkus.io wording.

If I can have it before Sunday evening, I'll include it in 1.0.0.Final as
it seems to be important information.

Thanks!

On Thu, Nov 21, 2019 at 6:55 PM Manyanda Chitimbo <notifications@github.com>
wrote:

[2019-11-21 18:29] gwenneg commented on #5658
Thanks for the link @machi1990!

@gsmet I'll submit the PR in a couple hours.

[2019-11-21 18:44] gsmet commented on #5659
@gunnarmorling can you have a look?

I think it's a bit weird to pass a path like that but I don't know nothing about how Kafka Streams loads the resources.

[2019-11-21 18:46] gsmet commented on #5651
Well, most of the JAXB processor work is there to tune native image building.

If we think that JAXB is useless (and this is the case if we don't find any root JAXB annotations), then we don't configure things for the native image (in particular, we don't include some classes necessary for JAXB to work to reduce the size of the native image).

[2019-11-21 18:58] #5037 closed

[2019-11-21 19:17] gunnarmorling commented on #5659
Are you using a different Java version by any chance, too? I'd kinda suppose that those references are resolved by the JDKs SSL implementation.

[2019-11-21 19:27] kenfinnigan commented on #5662
This also ties into the discussions around "dynamic config" for MP Config and SmallRye Config, and how far down that road we want to go

[2019-11-21 21:15] anamarija commented on #5254
Well looking at https://github.com/apache/kafka/blob/trunk/clients/src/main/java/org/apache/kafka/common/network/SaslChannelBuilder.java#L147
the login module is resolved from the provided configuration
[code]

[2019-11-21 21:23] alexander-dammeier opened #5673 "writing-native-applications-tips including-resources filename in snippet wrong"
Hello,

i tried to add a reflection- and a ressources-config.json. I copied the given snippet from the tutorial to include both files via applications.properties but one filename is wrong. It should be `resources-config.json` not `resource-config.json`. There is an `s` missing.
[code]
https://quarkus.io/guides/writing-native-applications-tips#including-resources

Can you please correct it? Thank y

[2019-11-21 21:23] Dudecake commented on #3626
I was also surprised because I saw some merged PR's mentioning ALPN.

In my fork on the `alpn` branch I've exposed the HttpServerOptions.useAlpn setting via a new property `quarkus.http.use-alpn`, but it requires one of two things to work:

- A JRE newer than 9;
- The netty-tcnative-boringssl-static dependency (only on JRE version 8).

But this might not be well received because the extra/weird de

[2019-11-21 22:40] gwenneg commented on #5673
Hi @alexander-dammeier and thanks for reporting this!

[2019-11-21 22:59] #5673 closed

[2019-11-22 02:07] gdoenlen opened #5675 "Native image build fails with unknown arguments on Windows"
**Describe the bug**
mvn package -Pnative fails with an unknown arguments error

It seems to have to do with the args being passed with -J

[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:  windows 10
 - Output of `java -version`:
openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment (build 11.0.5+10-jvmci-19.3-b05-LTS)
OpenJDK 64-Bit

[2019-11-22 03:13] jdang67 commented on #5659
No,  everything the same. Actually, switching from 0.23.2 to  0.24.0 already throw an exception.

[2019-11-22 03:35] jaikiran commented on #5675
Hello @gdoenlen, Any chance you can quickly try this against the previous `19.2.1` of Graal VM native image? By the way, we also have `1.0.0.CR2` of Quarkus released. Although the Quarkus version shouldn't be a factor in this issue, it would be good if you could try it against that.

This looks odd, since I don't see any obvious issue here other than Graal VM 19.3 and Java 11 that you are using.

[2019-11-22 03:38] jaikiran commented on #5659
Hello @jdang67, can you please paste the complete exception stacktrace that you see in `1.0.0.CR1` of Quarkus?

[2019-11-22 04:10] gdoenlen commented on #5675
So I tried a few things:
CR2 with 19.3 and Java 11 still fails with the same message.
CR2 with 19.3 and Java 8 still fails with the same message.

With CR2 and 19.2.1 and Java 8 I get different message, about failing to augment application classes:

[code]

For reference my project can be found here, and I can push a branch without any Java 11 features if needed: https://github.com/gdoenlen/rovert

[2019-11-22 04:12] jaikiran commented on #5675
A Java 8 branch would be good, if possible. Thank you.

[2019-11-22 04:17] gdoenlen commented on #5675
https://github.com/gdoenlen/rovert/tree/graal8

[2019-11-22 04:39] viniciusfcf commented on #4232
@gintsgints and @gsmet  I'm doing some tests using Flyway too. Is it a good idea flyway property "clean-and-migrate-at-start" to this situation?

With this property, I can use in all profiles:

1. quarkus.hibernate-orm.database.generation = none
2. quarkus.hibernate-orm.sql-load-script = no-file

To create a load script per profile instead of quarkus.hibernate-orm.sql-load-script:

%test.quarkus.f

[2019-11-22 07:23] JohT commented on #2751
Would it be possible to let reactive-pg-client provide another way to attach it? Is it possible to write a sort of datasource decorator/interceptor/qualified producer? It would be less easier to use reactive-pg-client, but it would be more reusable (use/reuse relation in modularization)?

[2019-11-22 07:27] esteban-aliverti opened #5677 "shade-like transformers for uberjar creation"
**Description**
When creating an uberjar with Quarkus, there is no way to deal with duplicated resources in the dependencies. The first resource found will be used and any other subsequent resource will be omitted.

This is a typical problem when working with spring or many other frameworks that have duplicate entries under `/src/main/resources/META-INF` in the different .jar files that compose th

[2019-11-22 07:45] pmlopes commented on #5640
Vertx oauth2 option class extends the netclient options so it can be disabled there:

[code]

Please check the API, I'm typing out of my head...

[2019-11-22 08:41] mejlholm opened #5678 "@QuarkusTest and Maven with range in parent pom: Failed to create the boostrap class loader"
**Describe the bug**
Seems like there has been a regression in the latest version of Quarkus 1.0.0.CR2, where we can't run tests using @QuarkusTest, because we have a range in our parent pom. Something like this in the main pom.xml:

[code]

Makes our builds fail like this:

[code]

I've verified that this is an issue across multiple of our Quarkus projects. We are not using GraalVM.

**Expected b

[2019-11-22 08:42] johnpoth commented on #3888
I ran into the same problem regarding application specific properties.

As a workaround I used the `ConfigProvider.getConfig().getOptionalValue` API which works in both `@QuarkusTest` and `@SubstrateTest`.

Thanks !

[2019-11-22 08:47] stianst commented on #5657
I'm not sure option 1 is possible. Use-cases for a service account include:

* A background job that is not executing in the scope of a user request
* Invoking a service with a different token to the incoming user request

Then there is also token exchange which can be used to get a different token to the incoming token from the user request to consider.

Ideal is probably something along the line

[2019-11-22 08:48] Sanne commented on #4218
@cescoffier the Netty upgrade is the main blocker now. Please suggest if we should assume you're getting us that upgrade soon, or if we should rather re-package the same substitutions?

[2019-11-22 09:02] Sanne commented on #4218
ah, ignore my previous comment, that was already done as well via #5500

[2019-11-22 09:34] #5651 closed

[2019-11-22 09:39] Sanne commented on #4218
There's some more work necessary;  The code generated by `io.quarkus.deployment.steps.NativeImageAutoFeatureStep` can no longer access the internal API of `import org.graalvm.nativeimage.impl.RuntimeClassInitializationSupport`; I guess it should be updated to use the static methods on `org.graalvm.nativeimage.hosted.RuntimeClassInitialization` instead.

[2019-11-22 09:49] gwenneg commented on #4218
@Sanne How did you see that? I ran `19.3.0` tests with runtime-intialized classes and the runtime initalization seemed to work well.

[2019-11-22 09:51] Sanne commented on #4218
@gwenneg ah, I guess you're testing with the JDK8 distribution? I was using the JDK11 powerer version, which enforces modularity via Jigsaw: the classes in package `org.graalvm.nativeimage.impl.` are not accessible.

If it works with "GraalVM 19.3 / JDK8" I guess we could merge this and work on the support for JDK11 as a separate issue?

[2019-11-22 09:52] loicmathieu commented on #3870
There is three popular ways to limit the list to a certain number of items and allow to fetch them:

- Pagination with pageNumber and pageCount
- Cursors: stateful but surpisingly still used accross various big player's APIs
- Offset based: with limit and offset (or startIndex lastIndex)

The first is possible with the current API.
The second should also be possible but as it's stateful I don't re

[2019-11-22 09:52] gsmet commented on #5678
/cc @aloubyansky

[2019-11-22 10:04] FroMage commented on #2751
Yeah, we want to keep the datasource in a single `url` property, and we want to declare jdbc and vertx-reactive datasources in the same list, so with the same `quarkus.datasource` config prefix. But for that we need to be able to extract the list of datasources conf away from agroal into a new common module that agroal and vertx-sql-clients would depend on.

[2019-11-22 10:17] FroMage commented on #3870
That's not the issue. The issue is that if we allow for this (and again, I'm recommending to wait for a few more users asking for it), what will the behaviour of the current paging methods be? Methods like `page()` and `pageCount()`? Should they throw once a non-pageable range method has been called? Should we have two sorts of queries `PageableQuery` and `RangeableQuery` to avoid throwing in some

[2019-11-22 10:22] gwenneg commented on #4218
You're right, I don't have the machine I used for the tests of #5353 at hand right now, but I'm almost sure they were run using the JDK8 version of GraalVM.

I can work on the JDK11 runtime initialization tonight or you can do it earlier if you'd like to :) I agree this can be treated in a separate issue.

[2019-11-22 10:26] gsmet commented on #4218
@cescoffier mentioned that supporting JDK 11 would require more work regarding the build images.

So I think we could move to GraalVM 19.3/JDK 8 and create another issue for JDK 11 support as it will require some other changes anyway.

[2019-11-22 10:34] geoand commented on #5675
@gdoenlen

I am seeing:

[code]

I see the same error both in `mvn clean package -Pnative` or when trying to run the jar using ` java -jar target/rovert-1.0.0-SNAPSHOT-runner.jar`