[2021-11-07 10:55] hieunc278 opened #21251 "Mechanism to extend console command for Quarkus dev running"
### Description

Current, when run Quarkus application with Quarkus:dev profile, we saw several built-in console command like below.

The following commands are currently available:
== Completed Application

[ ] - Restarts the application
[e] - Edits the command line parameters and restarts ()

== Continuous Testing

[r] - Resume testing
[o] - Toggle test output (disabled)

== HTTP

[w] - Open the

[2021-11-07 11:04] Legion2 opened #21252 "Aws Sdk Opentelemetry TracingExecutionInterceptor can not be used with quarkus"
### Description

With the configuration `quarkus.*.interceptors` it should be possible to add aws `ExecutionInterceptor`'s to aws sdk clients. However, the Opentelemetry TracingExecutionInterceptor can not be added this way, because of the follwing exception:
[code]
see also #12842 for a similar issue.

Also, `TracingExecutionInterceptor` does not have a default constructor and cannot be instantia

[2021-11-07 11:22] shoebxsiddiqui commented on #10049
I want to work on this

[2021-11-07 11:24] shoebxsiddiqui commented on #17770
I want to work on this.

[2021-11-07 12:08] MartinX3 commented on #13425
This issue is blocking my workaround for https://github.com/quarkusio/quarkus/issues/19302

[2021-11-07 14:17] Moicen commented on #21215
I switch from `hibernate-panache-reactive` to `hibernate-panache`, and all the transaction related problems are gone. I guess this is the correct way for my usage scenario. Thanks for help!

[2021-11-07 14:17] #21215 closed

[2021-11-07 14:54] pipinet opened #21253 "Datasource / Dev Service"
### Describe the bug

build.gradle is:
[code]

config is:
[code]

### Expected behavior

./gradlew services:api-service:quarkusDev    running success

### Actual behavior

[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

20.6.0 Darwin

### Output of `java -version`

openjdk version "11.0.2" 2019-01-15

### GraalVM version (if different from Java)

_No response_

###

[2021-11-07 14:55] pipinet commented on #21253
i enable dev service work well.

[2021-11-07 15:12] cescoffier commented on #20612
Fixed with SmallRye Reactive Messaging 3.11 (which is not included in Quarkus).

[2021-11-07 15:12] #20612 closed

[2021-11-07 16:47] geoand commented on #21247
cc @famod

[2021-11-07 17:08] fooock commented on #3322
thank you for pointing me in the right direction! 😀

[2021-11-07 17:18] MartinX3 commented on #18786
Same issue here.
I get a `Uni<List<User>>` response from the `find` function, but if I access it's `@ManyToMany List<Role>` I get this exception, so using `FetchType.EAGER` for now.

[2021-11-07 17:25] MartinX3 commented on #19302
I created a workaround
[code]

[2021-11-07 17:27] MartinX3 commented on #19302
I created a workaround
[code]

[2021-11-07 17:42] MartinX3 commented on #19302
I created a workaround
[code]

[2021-11-07 17:43] heubeck commented on #7999
Still experiencing this with Quarkus 2.4.1, Kotlin 1.5.31 using compiler target 16 and Mandrel 21.3-java17

[2021-11-07 17:44] MartinX3 commented on #19302
I created a workaround
[code]

[2021-11-07 17:44] MartinX3 commented on #19302
I created a workaround

[code]

[2021-11-07 18:20] famod commented on #21247
@aalmiray can you please try `maven-enforcer-plugin` 3.0.0-M3 (the version before 3.0.0)?
There is a problem in 3.0.0 regarding `provided` dependencies: https://issues.apache.org/jira/browse/MENFORCER-394

[2021-11-07 18:37] mklueh opened #21255 ""Unsatisfied dependency for type" with Quarkus 2.4.1 in Gradle multi-module project"
### Describe the bug

In my multi-module project, I'm running into the issue that Quarkus cannot load beans from sub-modules, which works in 2.3.1.

I guess it should be easily reproducible, so I won't provide a reproducer for it, but for clarification, I'll add my project's structure:

-root
-- application
-- module_a
-- module_b
-- module_c
module_a uses b and c, the application uses all of them

[2021-11-07 18:39] aalmiray commented on #21247
@famod I did already. Tried both `3.0.0-M3` and `3.0.0`. Both versions yield warnings.

[2021-11-07 18:41] famod commented on #21247
@aalmiray sorry, I wasn't reading your description properly. I'll try to have a closer look later.

[2021-11-07 20:15] RolandGanaus opened #21257 "Guide security-jwt mentions smallrye.jwt.key.verify.location instead of smallrye.jwt.verify.key.location"
The verification key paragraph in the JWT guide (https://quarkus.io/guides/security-jwt#dealing-with-the-verification-keys) wrongly mentions "smallrye.jwt.key.verify.location" instead of the correct "smallrye.jwt.verify.key.location".

[2021-11-07 21:12] glefloch commented on #21255
Thanks for reporting this @mklueh.
A reproducer will help a lot. There are sample projects in our integration test suite that match your project description and tests are passing.
However we may be missing some project setup there and this could help improve our test coverage.

[2021-11-07 21:16] gsmet commented on #21257
Transferred to the main repo as the doc is managed there.

[2021-11-07 22:14] famod commented on #21247
Status: A fundamental decision has to be made on this, see: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Maven.20enforcer.20requireUpperBoundDeps

[2021-11-07 22:30] stuartwdouglas commented on #10813
@bbntrk this is likely a different issue, please file a new one with a reproducer.

[2021-11-07 22:52] stuartwdouglas commented on #21251
What use cases do you have in mind?

You could do this by writing an extension, if I added support for this into the application itself then the utilities commands would end up in the final application.

[2021-11-07 22:55] #21225 closed

[2021-11-08 01:15] hieunc278 commented on #21251
Dear @stuartwdouglas,

Thanks for your feedback.

This suggestion come when I need to add some continuous command line to test such as login step, then call register command to wait response from Grpc server as server side streaming.

And as I saw, Quarkus dev running is great interactive as well. So I would like to add some my console command to add to exists built-in console command like restart

[2021-11-08 02:20] ebullient commented on #20256
That is great news! And thank you for the pointer ;)

[2021-11-08 02:59] hieunc278 commented on #21251
Dear @stuartwdouglas,

I just wonder about another point, could you please review it also ?

In ConsoleStateManager class, we have the instance variable as below :

public static final ConsoleStateManager INSTANCE = new ConsoleStateManager();

However, when I tried to access that variable with below line :

ConsoleStateManager.ConsoleContext consoleContext = ConsoleStateManager.INSTANCE.createCont

[2021-11-08 03:00] jonatan-ivanov commented on #20256
Fyi: JMX has challenges on on native, you can try to call the methods that the binder does on the mbeans, if you find a slow one, you can filter it out using a `MeterFilter`.

[2021-11-08 03:00] hieunc278 commented on #21251
Dear @cescoffier,
Could you please review it also ?

[2021-11-08 04:39] #21257 closed

[2021-11-08 05:37] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/1433328806

[2021-11-08 05:38] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1433328948

[2021-11-08 06:11] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1433330660

[2021-11-08 06:15] #21131 closed

[2021-11-08 06:50] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1433340482

[2021-11-08 07:18] geoand commented on #21219
This is expected behavior. `quarkus:dev` invokes the compiler if necessary, but it doesn't invoke the entire Maven `compile` phase.

[2021-11-08 07:18] #21219 closed

[2021-11-08 07:43] stuartwdouglas commented on #21250
https://github.com/quarkusio/gizmo/pull/92 should fix this.

[2021-11-08 07:43] michalszynkiewicz commented on #21249
Vertx HTTP Client has a `setLogActivity` method but that only takes a `boolean` as parameter and supposedly logs tons of netty stuff. I think it's worth adding an option to enable it but it would be an overkill for most of users.

JAX-RS filters can be used to log the request and the _final_ response. I.e. if a request is redirected, it won't be reflected in the logs. That would probably be enough

[2021-11-08 07:48] yrodiere commented on #21253
Your config is incorrect; the `datasource` block should be indented so that's it's part of the `quarkus` block.

As it is, you set the `datasource.jdbc.url` property, not `quarkus.datasource.jdbc.url` as you should have. So it looks to Quarkus as if you didn't configure your datasource at all. Which explains why it works with devservices: in that case, Quarkus fills in the gaps in your configurati

[2021-11-08 07:48] #21253 closed

[2021-11-08 08:08] pipinet commented on #21253
@yrodiere no, config is right.

[2021-11-08 08:19] tarilabs commented on #21219
@geoand okay sorry for raising a known behaviour; am I right when I recalibrate my understanding and expectations, the "usual" phases are NOT meant to be executed by the `quarkus:dev`,
that is, `generate-sources ... generate-resources ... compile` are **not** _implicitly_ called when I call `mvn clean quarkus:dev` ?

[2021-11-08 08:20] xstefank commented on #21245
@phillip-kruger do you want to look into this? I will have time only later this week,

[2021-11-08 08:22] geoand commented on #21219
Yes, that is correct.

[2021-11-08 08:27] #20555 closed

[2021-11-08 08:34] #21009 closed

[2021-11-08 08:37] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1433339984

[2021-11-08 08:39] phillip-kruger commented on #21245
I'll have a look

[2021-11-08 08:49] geoand commented on #20846
In case https://github.com/quarkusio/quarkus/pull/21190 is not clear, to make this work you need to
include `quarkus-vertx-http-deployment-spi` (it's just a SPI module, so it does not bring any dependencies in other than `quarkus-core-deployment`) and then generate `AdditionalStaticResourceBuildItem` in your `public class KogitoQuarkusResourceUtils#registerResources` for resources that are suppose

[2021-11-08 08:55] gsmet commented on #21236
@joggeli34 could you create a PR for https://github.com/quarkiverse/quarkus-hivemq-client/pulls ? That would be appreciated.

Closing this as not a Quarkus issue.

[2021-11-08 08:55] #21236 closed

[2021-11-08 09:00] gsmet commented on #21145
@stuartwdouglas this looks like an issue for you.

[2021-11-08 09:01] andreas-eberle commented on #21009
Hi @Sgitario! Thanks for the implementation. Does this implementation also apply to the resteasy reactive client?

[2021-11-08 09:01] gsmet commented on #21226
@mettwm it would help if you could prepare a small reproducer.

[2021-11-08 09:03] gsmet commented on #21240
@jamesneb could you try with the latest Quarkus 2.4.1.Final? If it doesn't solve your issue, a small project reproducing the issue would help.

[2021-11-08 09:03] michalszynkiewicz commented on #21249
I'm thinking of adding a config property:
[code]

Where request-response would log request, response, and info about redirects, and `all` would also enable the lower level logging. WDYT @maxandersen @geoand ?

We could also have a possibility to overwrite it for a specific client, e.g.

[code]

[2021-11-08 09:12] geoand commented on #21249
I like it!

[2021-11-08 09:16] geoand commented on #20634
@maxandersen do you know if there is any sort of support for this?

[2021-11-08 09:20] geoand commented on #20031
I am not sure either, but this is severely limiting the usability of `RestResponse`

[2021-11-08 09:51] naah69 opened #21263 "Support Redis used in cache"
### Description

Support Redis used  in cache

### Configuration suggestion

_No response_

### Additional context

_No response_

[2021-11-08 10:00] Paul6552 opened #21265 "No instance of TenantResolver was found for persistence unit <default>"
### Describe the bug

After updating from quarkus 2.2.0 to version 2.3.1.Final (I tried also with version 2.4.1.Final) I added the annotation @PersistenceUnitExtension as mentioned in the migration guide here:
[Migration Guide 2.3 Quarkus](https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.3)

I am dynamically retrieving the schema. No named persistence Unit.

Quarkus is working with the

[2021-11-08 10:10] gsmet commented on #21033
For now, I think we should add `org.eclipse.microprofile.metrics:microprofile-metrics-api` to the Infinispan Client extension always. It's just an API, nothing big.

Until we consider moving to Micrometer but I'm not sure how easy it will be to coordinate this for all the consumers of Infinispan.

[2021-11-08 10:13] #20532 closed

[2021-11-08 10:19] takesson commented on #8983
Does convertScopes work for Named beans?

I am getting exactly the same error regardless of convertScopes setting:
[code]

Quarkus 2.4.1.
[code]

[2021-11-08 10:21] geoand commented on #8983
Can you please open a new issue? Attaching an example application that fails like you mention would be very helpful

[2021-11-08 10:21] ChMThiel commented on #20408
I tried it with Quarkus 2.4.1 ....still @Suite annotatione TestSuites not working (see above)
Any Ideas?

[2021-11-08 10:22] geoand commented on #20490
I think we can close this in favor of https://github.com/quarkusio/quarkus/issues/20891 which has more analysis by @zakkak

[2021-11-08 10:22] #20490 closed

[2021-11-08 10:25] famod commented on #20408
So far, it seems nobody had the capacity to take a closer look.

/cc @geoand @stuartwdouglas

[2021-11-08 10:27] geoand commented on #20497
Is this still an issue?

[2021-11-08 10:39] geoand commented on #20109
Can you provide more info about what the exact failure is? Also, which extensions are you using and what does `application.properties` look like?

[2021-11-08 10:41] geoand commented on #20013
Sounds like something for the Quarkiverse :)

[2021-11-08 10:41] cescoffier commented on #21044
Sorry, I just discovered this issue. Having a look.

[2021-11-08 10:43] geoand commented on #19911
This limitation exists in order to be able to properly support dev-mode. It should probably be documented somewhere, the problem is I don't know where :)

[2021-11-08 10:45] naah69 opened #21266 "@CacheKey support value that is parameter name in object type"
### Description

there is not any parameter in @CacheKey now .
we need add parameter named value or key or keyTemplate in @CacheKey.
it like `key` of @Cacheable in spring-cache.
it is used to generate cache key.

### Implementation ideas

_No response_

[2021-11-08 10:50] maxandersen commented on #20634
as things are quite new its kinda upto us and everyone using this to define the "defacto" standards.
I would assume these would make sense to make very specific and put them under `jdbc_options` key.

we can add it to enable it at least; but really should end up being part of defacto standard/convention for SBI for database services.

[2021-11-08 10:51] maxandersen commented on #20634
that said - jdbc options can/is very dependent on the client app so just wondering if a user can set datasource options and they will "merge" with service binding auto detected settings?

[2021-11-08 10:53] geoand commented on #20634
Sure, we can definitely do that as well

[2021-11-08 10:54] ChMThiel commented on #20408
If i don't use @Suite-Classes but use groups-property in the surefire-plugin, Tag-filtering works fine. (see https://maven.apache.org/surefire/maven-surefire-plugin/examples/junit-platform.html -> "Filtering by Tags")

[2021-11-08 10:55] gsmet commented on #21033
I created https://github.com/quarkusio/quarkus/pull/21267 (fun fact: there is another issue hidden by this one).

[2021-11-08 11:05] radcortez commented on #21249
How about RESTEasy Tracing Feature: https://docs.jboss.org/resteasy/docs/4.7.3.Final/userguide/html_single/index.html#d4e4403?

[2021-11-08 11:23] radcortez commented on #20497
I don't think so.

[2021-11-08 11:26] MartinX3 commented on #15069
Same issue here with Reactive, the `@RestClient` was needed while using constructor injection in kotlin.

[2021-11-08 11:41] Sanne commented on #18786
@MartinX3 are you aware that lazy initialization requires an explicit invocation?
 - http://hibernate.org/reactive/documentation/1.0/reference/html_single/#_fetching_lazy_associations

My guess is that you didn't notice that; if that's not the case please share a test or some code we could look at.

[2021-11-08 11:41] #18786 closed

[2021-11-08 11:41] ebullient commented on #21033
Suspense.... which other bug?

[2021-11-08 11:56] #20580 closed

[2021-11-08 12:01] MartinX3 commented on #18786
Thank you for the link.
I should stop looking only at the quarkus guides and instead look into the root docs of the used technologies directly.
I just need to find a source how to use it with panache queries to run it on a single result.

[2021-11-08 12:13] wiradikusuma opened #21269 "" Unable to resolve Oracle CURSOR JDBC type code" and other errors when upgrading to 2.2.x and above"
### Describe the bug

I'm trying to upgrade Quarkus `2.1.4` to `2.2.1`, but native compilation gives me this error:

[code]

It could be due to my dependencies (`pom.xml` attached), but the error messages are confusing, as I don't use Oracle, and I don't have GraphQL `background-color`.

### Expected behavior

Native compilation should succeed.

### Actual behavior

Native compilation fails.

###

[2021-11-08 12:21] gsmet commented on #21033
I explained things in detail here: https://github.com/quarkusio/quarkus/pull/21267/commits/a3ea8822aa04742b41c5acf8eb0233ff912a05f5

[2021-11-08 12:21] aloubyansky commented on #21066
Just FYI, this PR in JaCoCo https://github.com/jacoco/jacoco/pull/1246 will make it work.
However, it shows that we are relying on debug symbols to be present in this case, which we probably shouldn't. Having a more reliable fallback would be good.

[2021-11-08 12:29] geoand commented on #20497
Okay thanks. Let's close then.
Please reopen if it's still an issue

[2021-11-08 12:29] #20497 closed

[2021-11-08 12:38] radcortez commented on #21252
Hi @Legion2

Any change you can provide an example project? Thanks!

[2021-11-08 12:42] Sgitario commented on #21009
No, the reactive rest client does not support multipart formdata yet.

[2021-11-08 12:43] Legion2 commented on #21252
Will do, give me a second

[2021-11-08 12:51] #21218 closed

[2021-11-08 12:53] knutwannheden commented on #12286
I am also trying to call a service that expects `application/x-www-form-urlencoded` using an MP REST client. I get the same exception as above when annotating my input parameter(s) using either `@FormParam` or `@MultipartForm`. Is this supposed to work in Quarkus? Are there some test cases you can point me at so that I can compare with my code? Thanks!

[2021-11-08 13:14] Legion2 commented on #21252
@radcortez Here is the repoducer project: [quarkus-reproduce-21252.zip](https://github.com/quarkusio/quarkus/files/7497152/quarkus-reproduce-21252.zip)

[2021-11-08 13:28] #21046 closed

[2021-11-08 14:01] #21174 closed

[2021-11-08 14:09] FroMage opened #21273 "Webjars: support DEV UI"
### Description

Webjars are nice, but DEV UI support that would list the files would be nice, because it's not obvious what the URIs are, and they're not listed as static resources.

https://quarkus.io/guides/http-reference#webjar-locator-support

### Implementation ideas

_No response_

[2021-11-08 15:02] yrodiere commented on #21265
Thanks for reporting.

Could you please provide the full stacktrace, and ideally a small reproducer project?

[2021-11-08 15:04] akapsalis-msynthesis opened #21275 "Java-based flyway migrations scripts are applied to all schemas"
### Describe the bug

In [this blog post](https://flywaydb.org/blog/multipleschemas) the flyway team describes the patterns that you can use for schema-based multi-tenancy. We tried to use the pattern with a single database, multiple schema with multiple histories. The migration table for each schema is stored in the schema itself. According to Quarkus guides this case is supported (in [the quarku

[2021-11-08 15:08] Paul6552 commented on #21265
Following the stacktrace. Tomorrow I will try to build an reproducer.

[code]

[2021-11-08 15:11] survivant opened #21277 "Quarkus didn't detect that the port 8080 was already used"
### Describe the bug

I started my Quarkus application with  ``mvn quarkus:dev``

but my port 8080 is already used by docker for keycloak (13:0:0) image

[code]

[code]

I'm on Windows 10.

[code]

### Expected behavior

I was expecting to receive a error in the console log telling me that the port was already in use

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Ou

[2021-11-08 15:13] iompo opened #21278 "websocket client throws a Invalid handshake response getStatus: 400 Bad Request when connecting to a node server"
### Describe the bug

I have a quarkus app that tries to connect to a node websocket server. When I try to connect to it I get the error: "_io.netty.handler.codec.http.websocketx.WebSocketClientHandshakeException: Invalid handshake response getStatus: 400 Bad Request_".
If the server is not node, but a quarkus app, then the connection works fine.
It also works fine if I use _javax-websocket-client

[2021-11-08 15:34] rsvoboda opened #21280 "Warnings about `@io.quarkus.arc.runtime.devconsole.Monitored` on private methods"
### Describe the bug

I see several warnings about `@io.quarkus.arc.runtime.devconsole.Monitored` on private methods of Infinispan classes when using Quarkus main in dev mode. Noticed when looking into https://github.com/quarkusio/quarkus/pull/21267

I think these warnings should be eliminated, it's distraction when using dev mode.

[code]

### Expected behavior

No warnings related to `@io.quarku

[2021-11-08 15:35] rsvoboda commented on #21280
/cc @karesti @wburns

[2021-11-08 15:44] mkouba commented on #21280
Hm, this is a follow-up of https://github.com/quarkusio/quarkus/pull/21260. Unfortunately, we can't just ignore the private methods when generating a subclass because private observer methods should be intercepted according to the spec. However, we can emit the warning only if method-level bindings are defined.

[2021-11-08 16:45] geoand commented on #20634
Actually, we already have `quarkus.datasource.jdbc.additional-properties` and in concert with the fact that options are totally client specific, I am going to close this as `won't fix`.

[2021-11-08 16:45] #20634 closed

[2021-11-08 16:46] sberyozkin commented on #21047
Sure, will investigate soon

[2021-11-08 17:06] snowe2010 opened #21282 "2.4.1 causes strange HTTP failure in devmode"
### Describe the bug

When starting [this](https://github.com/quarkusio/quarkus/files/7498713/demo1.zip) example project, I receive repeating error messages, over and over again (without doing anything, literally just starting it up). The project was generated with quarkus.io, with the only modifications made to remove/add dependencies to duplicate the error.

[code]

It appears to happen as soon

[2021-11-08 17:40] rquinio1A opened #21283 "Quarkus config and Maven property interpolation"
### Description

With Quarkus 2.2.3 there's a limitation when setting a Quarkus config (via a Maven property): you can't reference any other Maven properties in it via `${}` interpolation.

For instance:

[code]

Results in the following error when running quarkus:build

[code]

I've also noticed this behavior in dev mode, when trying to reference a Maven property from within application.propertie

[2021-11-08 17:43] haschi opened #21284 "Connect the MockServer testcontainer to the DevService testcontainer Docker network in the integration test"
### Description

As already asked in the [question on Stackoverflow](https://stackoverflow.com/questions/69855376), I would like to connect a [testcontainer (MockServer)](https://www.testcontainers.org/modules/mockserver/) to the Docker network that was started by Quarkus DevService in the integration test. I would like to explain my problem using this [graphic](https://drive.google.com/file/d/1q_

[2021-11-08 18:01] sberyozkin opened #21285 "Improve OidcClient docs"
### Description

https://quarkus.io/guides/security-openid-connect-client docs need some improvement - some sections are misaligned, examples with specific grants are not visible in TOC, and it would be worth adding a summary section suggesting how to choose between `OidcClientFilter` or `TokenPropagationFilter`

[2021-11-08 18:03] #21245 closed

[2021-11-08 18:41] geoand commented on #21282
This has nothing to do with `kogito-quarkus`  you can get a similar problem by just adding `quarkus-vertx-web`.
When I was trying this, I consistently got:

[code]

This seems to be due to the fact that `io.quarkus.amazon.lambda.runtime.MockEventServer` is being started on port `8080` because of https://github.com/quarkusio/quarkus/blob/2.4.1.Final/extensions/amazon-lambda/common-deployment/src/ma

[2021-11-08 19:05] geoand commented on #21284
Thanks for reporting.

I looked into it and I think I have a solution which I'll try out soon.

[2021-11-08 19:21] famod commented on #21219
@tarilabs you can mitigate that "limitation" by  using a Maven profile with `defaultGoals` (in which you can put whatever you need).
You'd then only pass that profile to `mvn`, no goals whatsoever.

[2021-11-08 19:37] famod commented on #21283
/cc @radcortez

[2021-11-08 19:57] tarilabs commented on #21219
Thank you for the hint @famod !

Given I need to have executed: `generate-sources` maven phase AND `quarkus:dev` maven goal, I was previously under the assumption the`<build>`'s `defaultGoal` was meant to be a single one, but I can see StackOverflow answers suggesting multiple goals separated by space, like on the command line... nice! I will consider it.

[2021-11-08 19:58] michalszynkiewicz commented on #21249
https://github.com/quarkusio/quarkus/pull/21286 proposes a solution

[2021-11-08 19:59] geoand commented on #21284
https://github.com/quarkusio/quarkus/pull/21287 is what I propose

[2021-11-08 20:27] tttomat19 opened #21288 "-DdebugHost=127.0.1.3 wrong test for debug port already in use"
### Describe the bug

Given 2 apps in devmode, run subsequently, trying to run them on different loopback addresses:

Case 1:
`./mvnw quarkus:dev`
ok
`./mvnw quarkus:dev -DdebugHost=127.0.1.3`
Error, port 5005 already in use, not running in debug mode. _A little unexpected_

Case 2:
`./mvnw quarkus:dev -DdebugHost=127.0.1.2`
ok
`./mvnw quarkus:dev -DdebugHost=127.0.1.3`
ok

Case 3:
`./mvnw quarkus

[2021-11-08 20:31] famod commented on #21219
You can even run specific executions, e.g. `antlr4:antlr4@your-execution-id`.

[2021-11-08 20:51] PVergneau commented on #21174
Great, thanks for the reactivity !

[2021-11-08 21:18] snowe2010 commented on #21282
@geoand great! I thought I had duplicated it with the vertx-web dependency as well, but then disabled it and it was still happening and had traced it to kogito-quarkus. Glad you were able to track down the real issue.

[2021-11-08 21:37] Sanne commented on #18786
Thanks for confirming!

[2021-11-08 21:40] Sanne commented on #20831
In PR ##21289 I've added some configuration properties - in particular, the ones mentioned here.

I don't want to expose all configuration properties, but rather be selective to the ones actually useful (many configurations in Hibernate exist only because of backwards compability) - so please do let me know which other properties you'd really like to see by opening more issues. thanks :)

[2021-11-08 22:21] stuartwdouglas commented on #20408
If you run with `-e` you get the following: ` [[engine:junit-platform-suite]/[suite:org.acme.TestSuite]/[engine:junit-platform-suite]/[suite:org.acme.TestSuite]]`.

The issue is that `@SelectPackages` is recursive because the suite is in the selected packages. Move the suite class outside this package structure and it appears to work fine.

Not sure if this is intentional or not, but this is nothi

[2021-11-08 22:21] #20408 closed

[2021-11-08 22:39] stuartwdouglas commented on #20031
I have proposed a solution at https://github.com/quarkusio/quarkus/pull/21293

[2021-11-08 22:57] stuartwdouglas commented on #21145
I think https://github.com/quarkusio/quarkus/pull/21294 should fix it, although I could not reproduce it locally.

[2021-11-08 23:27] famod commented on #18571
So the above report means that this is not only an IDE problem.
(Btw, in my project I disabled report generation altogether as Jenkins or the IDEs themselves are doing it for us).

I had another look amd that `OverlappingFileLockException` approach won't work reliably because there is no guarantee who comes first (the jacoco agent or the quarkus ReportCreator), so the creator might run too early a

[2021-11-09 00:03] mweber03 commented on #18500
@geoand any updates on this?

[2021-11-09 02:44] rgmz opened #21297 "Expand Kotlin "coroutines and Mutiny" documentation"
### Description

Presently, the [Kotlin guide](http://quarkus.io/guides/kotlin) includes a small section about using coroutines: ["Kotlin coroutines and Mutiny"](https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/kotlin.adoc#kotlin-coroutines-and-mutiny). However, the linked `mutiny-kotlin` documentation only describes the extension functions, not how to use coroutines with Kotl

[2021-11-09 05:23] #20031 closed

[2021-11-09 05:32] geoand commented on #18500
@radcortez mind taking a look?

Thanks

[2021-11-09 05:37] #21284 closed

[2021-11-09 05:40] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1438023292

[2021-11-09 05:41] #18154 closed

[2021-11-09 05:41] #21145 closed

[2021-11-09 05:42] #18571 closed

[2021-11-09 05:57] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1438025223

[2021-11-09 05:58] #21280 closed

[2021-11-09 06:38] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1438035153

[2021-11-09 07:04] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1438024987

[2021-11-09 07:07] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1438035153

[2021-11-09 07:16] mklueh commented on #21255
@glefloch while building a reproducer based on my multi-module-template I found out that I was missing META-INF/beans.xml in my actual application

[code]

For whatever reason it worked without those files under Quarkus 2.3.1 and stopped working without them under 2.4.1.

[2021-11-09 08:07] geoand commented on #21227
cc @gsmet

[2021-11-09 08:23] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1438034867

[2021-11-09 08:24] glefloch commented on #21255
Right, without this file (or a jandex index), quarkus won't scan module for CDI beans. That's really weird that it used to work before.

Here the documentation on how bean can be discovered: https://quarkus.io/guides/cdi-reference#bean_discovery

[2021-11-09 08:40] geoand commented on #21217
I was able to reproduce this.

What seems weird to me is that we have integration tests that use this same pattern and test native mode.

[2021-11-09 08:49] geoand commented on #18360
Is this still an issue? Especially now that GraalVM has moved to `21.3`.

[2021-11-09 08:50] geoand commented on #18293
Closing as we have no received any updates.

Feel free to comment or reopen if it's still an issue.

[2021-11-09 08:50] #18293 closed

[2021-11-09 08:51] geoand commented on #18249
This would be enough

[2021-11-09 08:52] geoand commented on #18345
Should we close this given ^ ?

[2021-11-09 09:28] geoand commented on #18065
Closing this as it seems to be fixed and also we now have newer images (`21.3.0-java17`)

[2021-11-09 09:28] #18065 closed

[2021-11-09 09:32] geoand commented on #17568
If you are willing to provide a Pull Request, I'd be willing to include it.

[2021-11-09 09:34] #17413 closed

[2021-11-09 09:37] geoand commented on #16979
Closing this as we didn't get any feedback.

[2021-11-09 09:37] #16979 closed

[2021-11-09 09:54] takesson commented on #8983
I now understand the issue better.
 - I have confirmed that convertScopes works fine in combination with Named.
 - The issue I saw was the final method that forced the use of Singleton in the first place. We have Named beans that extend a class with a final method and tons of other methods (out of our control).

In that situation, the error message is identical regardless of convertScopes setting

[2021-11-09 10:00] geoand commented on #16914
I tried this with Quarkus from `main` (what will be `2.5.0.CR1` in a few days) and the problem no longer exists

[2021-11-09 10:00] #16914 closed

[2021-11-09 10:02] geoand commented on #21227
I was able to reproduce this issue with Quarkus `2.4.1.Final`.

However, with Quarkus from `main` (which will be `2.5.0.CR1` in a few days), the problem no longer exists, so let's close this.

P.S. I don't know what fixed the issue, perhaps @gsmet knows.

[2021-11-09 10:02] #21227 closed

[2021-11-09 10:03] mkouba commented on #18345
Well, we can still do better and save few tens of kilobytes of heap ;-). I'd like to keep this issue open but the priority is very low.

[2021-11-09 10:23] glefloch commented on #21255
I'm closing the issue as there won't be any fix.

[2021-11-09 10:23] #21255 closed

[2021-11-09 10:29] radcortez commented on #18500
Sure.

[2021-11-09 10:37] kdubb opened #21304 "RESTEasy Reactive and Kotlin coroutines throws "No RESTEasy Reactive request in progress""
### Describe the bug

When implementing a RESTEasy Reactive endpoint using Kotlin coroutines any attempt to access the current request throws IllegalStateException("No RESTEasy Reactive request in progress"). For example, any attempt at retrieving headers from an injected JAX-RS `HttpHeaders` interface throws the exception.

### Expected behavior

You are able to implement RESTEasy Reactive method

[2021-11-09 10:44] geoand commented on #16884
Closing this as `quarkus-oidc-client-reactive-filter` is available.

[2021-11-09 10:44] #16884 closed

[2021-11-09 10:46] geoand commented on #16799
Closing as out of date.

Please comment or reopen if this is still an issue.

[2021-11-09 10:46] #16799 closed

[2021-11-09 11:00] geoand commented on #16720
This is what [Dev Services](https://quarkus.io/guides/dev-services) is all about

[2021-11-09 11:00] #16720 closed

[2021-11-09 11:05] geoand commented on #16115
@iocanel this is completed isn't it?

[2021-11-09 11:10] iocanel commented on #16115
Kinda, It works but I am hoping for a more `automagic` experience.

[2021-11-09 11:11] #15627 closed

[2021-11-09 11:14] #21288 closed

[2021-11-09 11:18] geoand commented on #14566
Closing this as out of date.

Feel free to reopen or comment if it's still an issue

[2021-11-09 11:18] #14566 closed

[2021-11-09 11:21] davideginna opened #21306 "Problem with quarkus kafka smallrye consumer multithreading"
### Describe the bug

By setting "partitions" parameter to 3.
I have 3 different consumer ids, but the messages are processed sequentially.

- quarkus version 2.X
- smallrye

Properties that i set

[code]

### Expected behavior

the messages should be processed concurrently for  each partition

### Actual behavior

the messages are processed sequentialy though we have different partitions

### Out

[2021-11-09 11:30] hikemachado opened #21307 "Form based Authentication and LDAP not working"
### Describe the bug

I`m trying to authenticate the users using form based and LDAP.

When I configure the app to use Basic authentication everything works as expected
_quarkus.http.auth.form.enabled=false
quarkus.http.auth.basic=true_

But when I try to use form authentication _quarkus.http.auth.form.enabled=true_
after send the credentials from the login page its possible to see in the logs tha

[2021-11-09 11:39] rsvoboda commented on #21280
Thanks for quick fix @mkouba, no warnings present now.

[2021-11-09 11:51] liamor opened #21310 "OIDC client needs extra flexibility"
### Description

I am attempting to authenticate with an NHS service that uses an idiosyncratic Microsoft OAuth implementation and I have hit an edge case that suggests some extra flexibility may be needed.
Their service only has one endpoint which is the token endpoint. There is no auto-discovery. Due to this lack of auto-discovery, I have to set the token-path so I took the last part of the serv

[2021-11-09 11:56] mkouba opened #21311 "Provide a useful error message when a user is not logged into an OpenShift cluster"
### Description

And attempts to build/deploy a container image.

### Implementation ideas

_No response_

[2021-11-09 11:57] liamor commented on #21310
Possibly another way would be to have some flag that allows the token-path to be omitted when discovery-enabled is set to false.

[2021-11-09 12:04] #20158 closed

[2021-11-09 12:05] geoand commented on #21311
I think this makes a lot of sense.

@iocanel is there any utility in the client we can use here?

[2021-11-09 12:05] geoand commented on #21311
I think this makes a lot of sense.

@iocanel is there any utility in the client we can use here?

[2021-11-09 12:15] manovotn commented on #21230
So which annotations do we generate literals for? I.e. what impact would this change have for an application? Because most of CDI annotations have literals predefined and those are subclasses of `javax.enterprise.util.AnnotationLiteral`.

[2021-11-09 12:20] sberyozkin commented on #21310
@liamor Hi, you can configure it as

[code]

Can you try it please ? I've opened an issue to improve the OidcClient docds

[2021-11-09 12:23] sberyozkin commented on #21310
@liamor That is not correct - I'll have to investigate

[2021-11-09 12:27] sberyozkin commented on #21310
@liamor by the way, one should be able to drop a key id configuration if the key represented in a JWK format with a `kid` property

[2021-11-09 12:38] liamor commented on #21310
Yes, that was the first thing I tried but as you've no doubt seen it just adds to the form fields.

[2021-11-09 12:40] #18155 closed

[2021-11-09 12:40] mkouba commented on #21230
Qualifiers and interceptor bindings, and also annotations of an injection point that resolves to a dependent bean that injects `InjectionPoint` metadata :-). A typical runtime examples are `BeanAttributes.getQualifiers()` and `Interceptor.getInterceptorBindings()`.

[2021-11-09 12:42] sberyozkin commented on #21310
@liamor IMHO it would make sense to add a dedicated `audience` parameter - it is possible to configure a grant request with as many parameters as needed (such as `audience`) - but that affects what is included in the actual token form request (as I've just seen you confirming as well :-)).
Can you please try `smallrye.jwt.sign.new-token.audience` for now ? I'll finish some other task and then add

[2021-11-09 12:49] liamor commented on #21310
Hmm, doesn't seem to work. Does this get overridden by the explicit audience being set in the `signJwtWithKey` method?

[2021-11-09 12:50] sberyozkin commented on #21310
@liamor My fault, forgot it has to be accompanied with `overrid-matching-claims`, see https://quarkus.io/guides/security-jwt-build#smallrye-jwt-builder-configuration

[2021-11-09 13:01] liamor commented on #21310
Interesting... that worked but only when I also set the 'smallrye.jwt.new-token.issuer' as well. But the important thing is that it worked. Thanks, and I'll test with the new settings when you are able to get those out there.

[2021-11-09 13:07] sberyozkin commented on #21310
@liamor thanks, good it works now,

Can you clarify please ? Did you have to set a different issuer value as well (different the client id) ?

[2021-11-09 13:09] geoand commented on #14240
Looking at your extension @radcortez, I think we should pretty much copy what you did for Quarkus with the change being that it would be super tightly integrated.

[2021-11-09 13:10] Koekebakkert commented on #19080
Any progress on this? It worked in 2.1.0.CR1 and Final only. It still broken in 2.4.1.Final. Desperately needed.

[2021-11-09 13:13] brunobastosg opened #21313 "Hibernate Reactive with Panache can't insert into a jsonb column"
### Describe the bug

I'm using [Quarkus Hibernate Types](https://github.com/quarkiverse/quarkus-hibernate-types) to map some attributes of my entity to PostgresSQL's `jsonb` column type.

If I use the regular JDBC driver, it works normally.

However, when using Hibernate Reactive, querying works, but inserting new entities fail with the error:

[code]

### Expected behavior

It should insert the

[2021-11-09 13:32] famod commented on #14240
Wouldn't mixing flyway and liquibase be a bit confusing?

[2021-11-09 13:33] #20810 closed

[2021-11-09 13:33] geoand commented on #14240
Mixing? How so?

[2021-11-09 13:33] Koekebakkert commented on #19080
Thanks for your quick response.

I am using a WireMockServer inside an implementation of QuarkusTestResourceLifecycleManager to stub a graphql service.

During integration test phase on Linux using the application image, the application gets lauched as:

`docker run --rm -p 9990:9990 -p 8444:8444 --env QUARKUS_HTTP_PORT=9990 --env QUARKUS_HTTP_SSL_PORT=8444 --env TEST_URL=http://0.0.0.0:9990 --env

[2021-11-09 13:33] michalszynkiewicz commented on #21249
The config properties added in #21286 should be automatically added to all properties list, is this enough for documentation?

[2021-11-09 13:34] senzu opened #21314 "[2.4.1] Kubernetes extension does not expose the correct port?"
### Describe the bug

Hi!

I have just started to get to know the Kubernetes extension, and I found something strange.

I have created the project from: [](https://quarkus.io/guides/deploying-to-kubernetes)

**mvn io.quarkus.platform:quarkus-maven-plugin:2.4.1.Final:create -DprojectGroupId=org.acme -DprojectArtifactId=kubernetes-quickstart -DclassName="org.acme.rest.GreetingResource" -Dpath="/gree

[2021-11-09 13:36] kaqqao commented on #2671
@stuartwdouglas How was this addressed exactly (there's no related PR)? I was hoping to see what changed and understand how to use Gizmo to generate a method with a generic return type...

[2021-11-09 13:38] geoand commented on #21314
Thanks for reporting.

This works as expected, see https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.0#service-port-mapping

[2021-11-09 13:38] #21314 closed

[2021-11-09 13:41] liamor commented on #21310
Sorry, I just re-checked and I didn't need to set the issuer. I must have got something wrong previously.

[2021-11-09 13:59] brianwyka commented on #18726
I was able to get this to work, but only with a "hack":

Plugin Declaration:
[code]

Test Dependency:
[code]

Jacoco Configuration
[code]

The key parts were disabling `jacoco` within `test.jacoco.enabled` and setting the `executionData` to the quarkus generated exec file.

[2021-11-09 15:16] yrodiere commented on #19660
Created [HHH-14921](https://hibernate.atlassian.net/browse/HHH-14921) to track this on the ORM side.

[2021-11-09 15:38] geoand commented on #19080
This should be taken care of in `2.5.0.CR1` (likely to be released in a few days) via https://github.com/quarkusio/quarkus/pull/21316

[2021-11-09 15:52] vnhim commented on #21111
Hello, have the same issue here. (in quarkus 2.4.1.Final)

Just have a test project (all in a reactive way) with the following dependencies :

- quarkus-smallrye-graphql
- quarkus-hibernate-reactive-panache
- quarkus-reactive-pg-client

I set a resource class which calls a PanacheRepository (something like `find("id", id).singleResult<MyEntity>()`)

Then my resource method should return the Uni<My

[2021-11-09 16:02] radcortez commented on #14240
Sure. Feel free to copy what you want. Or if you prefer, I can pick this up and do it.

[2021-11-09 16:06] #21033 closed

[2021-11-09 16:09] geoand commented on #14240
Go ahead :)

[2021-11-09 16:10] ozangunalp commented on #21306
Partitions config will create multiple consumers each one with its own consumer thread. However, consumer methods are called sequentially.
You can consult this page for further information: https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.11/signatures/signatures.html

If you really need to do parallel processing you can check `@Blocking(ordered=false)`.  : https://sma

[2021-11-09 16:31] ruromero opened #21317 "Unable to retrieve status for gRPC service"
### Describe the bug

When running IntegrationTests with `@grpcService` and not an HTTP server, Quarkus is not able to retrieve the status of the running process and it fails with the following error:

[code]

### Expected behavior

The IntegrationTests fail to start because the process status cannot be retrieved

### Actual behavior

The IntegrationTests start normally

### How to Reproduce?

The

[2021-11-09 16:56] rquinio1A commented on #21283
Sorry, please ignore this issue: I found out that the 2 properties were in separate profiles that were not active at the same time...

[2021-11-09 16:56] #21283 closed

[2021-11-09 18:06] sberyozkin commented on #21310
@liamor Please see #21319 - so once it is merged it will work for you without having to customize the audience - the provider you are dealing with has implemented the JWT authentication processing very precisely and correctly  :-)

[2021-11-09 18:59] phillip-kruger commented on #21111
Hi @vnhim , can you please provide a reproducer?

[2021-11-09 20:16] vnhim commented on #21111
Hi @phillip-kruger, the reproducer is in the  zip file on my previous comment (just your hibernate reactive quickstart with a graph ql resource instead of rest)

[2021-11-09 21:05] phillip-kruger commented on #21111
Got it. Thanks, I'll have a look.

[2021-11-09 22:26] fastluca opened #21323 "quarkus-smallrye-jwt dependency brokes quarkus-amazon-lambda support"
### Describe the bug

If the dependency `quarkus-smallrye-jwt` is added to the project generated by
[code]
Then the generated unit test `LambdaHandlerTest` will fail. I tried it because I integrated `quarkus-smallrye-jwt` in a project having `quarkus-amazon-lambda` and I was not able to successful run the lambda handler unit test, so I tried starting from scratch with the generated project and I'm

[2021-11-09 22:29] mweber03 opened #21324 "hibernate-orm - config values don't make sense for YAML"
### Describe the bug

The documentation for `hibernate-orm` (https://quarkus.io/guides/hibernate-orm) lists 3 configuration properties that cannot be set together when using `application.yaml`.

[code]

When writing the YAML, in order to set all 3 properties, this would require `quarkus.hibernate-orm.database.generation` to be both a string and object.

### Output of `java -version`

OpenJDK 11.0.

[2021-11-09 22:36] mweber03 commented on #21324
Looks like the same issue exists with:

[code]

[2021-11-09 22:52] famod commented on #21324
Have you tried this? https://quarkus.io/guides/config-yaml#configuration-key-conflicts

[2021-11-09 23:11] famod opened #21326 "Quarkus 2.4 dev mode wrongly detects ambiguous beans when using workspace artifacts with classifiers"
### Describe the bug

Dev mode "sees" duplicate classes when there is a dependency with a classifer that is produced by a workspace module.

E.g.
- module B depends on module A
- module A also produces a "secondary" artifact with a classifier, containing e.g. test-support mocks for interfaces A depends on
- module B also depends on module A's secondary artifact, e.g. via a Maven profile
- the seco

[2021-11-10 00:01] stuartwdouglas commented on #2671
I think this was actually an issue in how Gizmo was being used from Quarkus, it did not result in any Gizmo changes.

[2021-11-10 00:02] stuartwdouglas commented on #2671
https://github.com/quarkusio/quarkus/pull/2672/commits/6fef5e5b78a35e67a73b3efa29c942667d3649e9 was the actual fix for the Quarkus issue.

[2021-11-10 00:48] zakkak commented on #18360
That would be nice, especially using GraalVM 21.3

If you don't want to wait for 2.5 you could give 2.4.1 a go with 21.3, just make sure you use `-Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-native-image:21.3-java11` and `-Dquarkus.native.additional-build-args=-H:-ParseOnce` (see https://github.com/quarkusio/quarkus/pull/21018 for more details).

[2021-11-10 05:54] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1442704672

[2021-11-10 05:55] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1442706291

[2021-11-10 06:38] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1442716156

[2021-11-10 06:39] #19080 closed

[2021-11-10 07:04] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1442705857

[2021-11-10 07:08] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1442716156

[2021-11-10 07:48] damian-burda opened #21332 "Property expression `quarkus.http.test-port` with rest-client not working with 2.4.1"
### Describe the bug

I'm having problems after upgrading from 2.3.1.Final to 2.4.1 Final. I'm using property expressions to test my RestClient. The test application.yaml has following properties

[code]
so if the tests starts with random port like 61234 then the URL should be http://localhost:61234 . This works when using RestAssured. But this does not work for injected RestClient. But it did wor

[2021-11-10 07:52] kasyauqi opened #21333 "Unable to create new project using quarkus maven plugin"
### Describe the bug

Following this guide: https://quarkus.io/guides/getting-started
and running:
[code]

should result in a new project getting created. But I get:

[code]

Few weeks ago, things are fine. Today I tried with 2.3.1.Final and 2.4.1.Final, both having the same issue.

### Expected behavior

New project should be created

### Actual behavior

Getting this error:

[code]

### How to R

[2021-11-10 08:13] #21304 closed

[2021-11-10 08:22] sandronm commented on #20624
Hello @michael-simons , any news about this feature to be able to set a port for this Dev Service? It will be very convenient! :)

[2021-11-10 08:29] Koekebakkert commented on #19080
Looking forward to 2.5.0 ;)

[2021-11-10 08:31] geoand commented on #19080
If all goes well, `2.5.0.CR1` will be out today :)

[2021-11-10 08:40] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1442705857

[2021-11-10 08:45] geoand commented on #20121
This was actually fixed by https://github.com/quarkusio/quarkus/pull/21328

[2021-11-10 08:45] #20121 closed

[2021-11-10 09:19] #21307 closed

[2021-11-10 09:25] bumbel42so opened #21334 "%custom.quarkus.config.profile.parent=dev in 2.4.1 not working (as in 2.4.0)"
# Describe the bug
Hello,

i´m using custom profiles with profile parents and in 2.4.1 profile.parent is not used as backup as expected:

application.properties
[code]

Config.java
[code]

GreetingResource.java
[code]

# Expected behavior
*Output at localhost:8080 with Quarkus 2.4.0:*
config1 is dev; config2 is custom

# Actual behavior
*Output at localhost:8080 with Quarkus 2.4.1:*
config1 is pro

[2021-11-10 09:26] HelvetiaAppDev opened #21335 "Event Observer BEFORE_COMPLETION transaction timeout causes strange behaviour"
### Describe the bug

If you use BEFORE_COMPLETION events and a transaction timeout occurs during that event the expected rollback does not work like expected.

### Expected behavior

Current transaction is rolled back.

### Actual behavior

In our project (with postgresql) the commit happens despite timeout and manually calling setRollbackOnly(). (with and without the setRollbackOnly)
When we att

[2021-11-10 09:31] #21310 closed

[2021-11-10 09:43] computerlove opened #21336 "Hashicorp Vault integration stopped working in 2.4.0"
### Describe the bug

Our application has a Rest-Client defined with `@RegisterRestClient(configKey = "aclient")`, and config
[code]
Most of the config lives is Hashicorp Vault when not running locally.
When upgrading to 2.4.0/.1 startup fails with
[code]

Changing the config key to `quarkus.rest-config."aclient".url`, `quarkus.rest-config.aclient.url`, `quarkus.rest-client.aclient.url` has no eff

[2021-11-10 09:55] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1442715777

[2021-11-10 10:18] sberyozkin commented on #21323
I think the same would happen with any other extension which requires HTTP support from Vert.x - looks like the server is started twice

[2021-11-10 10:33] dthommes commented on #7442
Hi everybody,

we were searching for a solution for encrypting certain configuration properties to obscure their plain text in our client app (native image). The properties should be read from our existing `application.properties` file.

We came up with the following [ConfigSourceInterceptor](https://smallrye.io/docs/smallrye-config/interceptors/interceptors.html), that uses a hard-coded AES key/i

[2021-11-10 11:36] sberyozkin commented on #21323
It may be better, in this case, add a `smalltye-jwt` dependency - as my understanding `quarkus-amazon-lambda` gets a JWT token without relying on the `HTTP Authorization` header

[2021-11-10 11:39] radcortez commented on #7442
@dthommes Thanks. I'll have a look.

[2021-11-10 12:19] aloubyansky opened #21340 "Fallback or guide the user to use the default platform in case extension registry is not fully operational"
### Description

Currently we are falling back to the default platform catalog (or suggesting user to do that manually) when we find that none of the configured registries is available.
However, today we had a case when the registry was returning its descriptor, indicating that it's available, but was failing to resolve the catalog artifacts. That would still be equivalent of the registry not bein

[2021-11-10 12:37] franden opened #21341 "MP REST Client configuration at runtime does not work since quarkus 2.4.0-final"
### Describe the bug

In versions before quarkus 2.4.0-final the configuration of MP REST clients was possible during the runtime of the application. It was very helpful e.g to switch an client to a backup system if the productive system was not available. since quarkus 2.4.0-final the mutation of the Microprofile Rest Client properties during the runtime does not have effect.

Example:

Resource:

[2021-11-10 12:44] liamor commented on #21310
Thank you very much.

[2021-11-10 12:50] zhfeng opened #21342 "Kafka DevService return null when reloading application in quarkus:dev"
### Describe the bug

This issue comes across https://github.com/apache/camel-quarkus/issues/3284
It throws the NPE when runing with ```mvn quarkus:dev```

I think it might be an issue in Quarkus DevServicesKafkaProcessor.
https://github.com/quarkusio/quarkus/blob/362199e0638e86ab57aa7e0c1fadfa16f4766bd8/extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/DevService

[2021-11-10 12:57] nikosk686 commented on #21175
I am suffering from the same issue and I can verify that the workaround is switching from `quarkus-rest-client-mutiny` to `quarkus-rest-client-reactive` as suggested in the answer of the linked SO question.

[2021-11-10 13:16] apat59 commented on #20538
I may be wrong but I think this is introducing a new bug.
While running in a cluster, jobs will be rescheduled anytime you scale up (new pod) your app right?

So imagine your start your app with few jobs running on start and supposed to run every 24h.
If you scale up, all jobs are going to be rescheduled, and ran immediately, which is not what you want.

[2021-11-10 14:36] #20953 closed

[2021-11-10 14:41] SvenWoltmann opened #21345 "REST Client Configuration via Uppercase/Underscore Environment Variables Stopped Working in 2.4.0"
### Describe the bug

I have the following REST client:

[code]

I used to configure it via the following environment variable (as we can only use uppercase characters and underscores in our environment):
[code]
This worked perfectly fine up to Quarkus 2.3.1.

In Quarkus 2.4.0 + 2.4.1, I get the following error message (I've added line breaks for better readability):
[code]

First of all, there's

[2021-11-10 14:42] fastluca commented on #21323
I have a JWT generated from another API using `quarkus-smallrye-jwt` to validate in my custom lambda function implementation. I tried changing the dependency to `smallrye-jwt`, but doing so I loose all the dependency injection feature about the JWTParser.

[2021-11-10 15:07] mmusgrov commented on #21335
I tried adding (a variation of) your test to our own narayana CDI testsuite and it behaves as we expect it to. Is there any chance you can provide us with some trace logs. Even the stacktrace should give us some data to debug your issue, and similarly you should be seeing one of the `ARJUNA0xxx` warning codes.

Also does anyone know how to enable the underlying arjuna logging (normally we just nee

[2021-11-10 15:30] klutzer opened #21346 "quarkus-amazon-lambda doesn't work after 2.3.0+"
### Describe the bug

This is easy to simulate with a fresh quarkus project (I'm using Kotlin but the problem happens on a Java project as well).

To simulate the bug, just create a project with the lambda-rest/lambda-http extension and then try to execute the tests twice (or open the swagger-ui to invoke the greeting endpoint more than once):
[code]
When creating the same project, with the same d

[2021-11-10 15:39] sberyozkin commented on #21323
@fastluca The only line in `quarkus-smallrye-jwt` which is relevant is this one, https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-jwt/deployment/src/main/java/io/quarkus/smallrye/jwt/deployment/SmallRyeJwtProcessor.java#L90, which just adds this bean.

I think you can add it to your application with Jandex, for example, https://stackoverflow.com/questions/55513502/how-to-create-a

[2021-11-10 15:44] SvenWoltmann commented on #21345
I could finally get this running with the help of this comment: https://github.com/quarkusio/quarkus/issues/12968#issuecomment-950851206

If I add this to my application properties:
[code]
Then I can overwrite the setting with this environment variable:
[code]
Is it intended to be like this?

[2021-11-10 16:04] geoand commented on #21346
Can you please enhance the description with information about what exactly is not working?

Thanks

[2021-11-10 16:05] davideginna commented on #21306
Hi, thanks for reply.
I try @Blocking(ordered=false) --> not work
I try with many different signatures on method --> not work

Maybe I miss any configuration to apply?

[2021-11-10 16:06] geoand commented on #21341
@radcortez @michalszynkiewicz I think we have had similar reports, right?

[2021-11-10 16:12] radcortez commented on #21341
Yes.

The problem here is that since the Rest Client configuration is now handled by the `RestClientsConfig` ConfigRoot, this is only loaded at application start and any changes to the configuration have no further effects (like setting the system property in the test).

I think I'm going to open a separate issue to group all these problems so we don't have the discussion spread between several is

[2021-11-10 16:23] radcortez opened #21348 "REST Client Config - Limitations of ConfigRoot `RestClientsConfig`"
### Describe the bug

We are seeing several issues with the REST Client Config move to the `RestClientsConfig` ConfigRoot added in https://github.com/quarkusio/quarkus/pull/17220.

Related issues:
- https://github.com/quarkusio/quarkus/issues/21341
- https://github.com/quarkusio/quarkus/issues/21336
- https://github.com/quarkusio/quarkus/issues/21332
- https://github.com/quarkusio/quarkus/issues/2

[2021-11-10 16:25] radcortez commented on #21348
/cc @geoand @michalszynkiewicz @TomasHofman

[2021-11-10 16:33] radcortez commented on #21348
I've been thinking about this for a while and I can't come to a good way to fix this. For most cases, we assume that our configuration is immutable and cannot be changed, but in this case, this is not true.

One issue is the actual expansion of `quarkus.http.test-port=0` (for a random port). The real actual port is only set in the `VertxRecorder` way after we initialized the configuration. What it

[2021-11-10 16:42] patriot1burke commented on #21346
I'll check it out.

[2021-11-10 16:58] snowe2010 commented on #21282
In the meantime, is there anyway to 'unconfigure' that port?

[2021-11-10 17:00] rkraneis opened #21349 "Logs spanning several lines end up as separate log events on AWS using quarkus-amazon-lambda"
### Describe the bug

Using the `quarkus-amazon-lambda` extension to deploy Quarkus functions leads to log entries containing newlines spanning several log events in CloudWatch logs, as the extension relies on the console output to be picked up by the CloudWatch service and does not send CloudWatch events itself. This is especially annoying for stack traces or formatted JSON output.

[code]
Consol

[2021-11-10 17:04] geoand commented on #21348
Can you provide an example of what users do that just happened to work in the past and that does not now?
I'm in favor of sticking our ground and not supporting it officially, but would like to see what exactly users were doing and what there options are now.

[2021-11-10 17:08] vsevel commented on #18360
I did as you suggested. with 21.3, I see the same build time with or without option `<compilerArgument>-XDstringConcat=inline</compilerArgument>`:
- without the option: 3min26s, 3min26s, 3min28s for the native part
- with the option: 4min16s, 3min22s, 3min27s, 3min15s

builds were done using `Running Quarkus native-image plugin on GraalVM 21.3.0 Java 11 CE (Java Version 11.0.13+7-jvmci-21.3-b05)`.

[2021-11-10 17:08] #18360 closed

[2021-11-10 17:10] ia3andy opened #21350 "Support "Uncategorized" extensions"
### Description

Currently extensions without category are not processed and not visible in code.quarkus.io

### Implementation ideas

Use "uncategorized" as category here (if empty): https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/devtools-common/src/main/java/io/quarkus/platform/catalog/processor/CatalogProcessor.java#L25

Add "Uncategorized" as category last in `ordere

[2021-11-10 17:12] rkraneis commented on #21349
#10796 seems to be somewhat related.

[2021-11-10 17:28] klutzer commented on #21346
Done.

[2021-11-10 17:41] michael-simons commented on #20624
Glad you asked, @sandronm  :) See attached PR and check whether it makes sense for you.

You can build Quarkus from my fork like this

[code]
[qdevservices.zip](https://github.com/quarkusio/quarkus/files/7514840/qdevservices.zip)

and test it with the attached project for example.

[2021-11-10 18:12] geoand commented on #21348
The way I see it, #21341 worked by accident - it was never something we advertised, so I would not put any effort into making it work again

[2021-11-10 18:59] mweber03 commented on #21324
That worked, thank you.

[2021-11-10 18:59] #21324 closed

[2021-11-10 19:12] patriot1burke commented on #21346
Ok, I am able to run in dev mode and invoke on the service multiple times and also access swagger ui and execute swagger ui multiple times.

I can only reproduce the bug when I re-run tests in test mode.

[2021-11-10 19:29] patriot1burke commented on #21282
@geoand So, you cannot mix **amazon-lambda** plugin with **quarkus-vertx-web**.  The Amazon Lambda dev service starts a MockEventServer under port 8080 so that you can invoke on your lambdas using http.  See the [docs ](https://quarkus.io/guides/amazon-lambda#live-coding-and-unitintegration-testing )for more info.  You shouldn't be starting a web server within a lambda endpoint anyways!!!

Not sur

[2021-11-10 19:31] franden commented on #21348
The problem is not with the implementation of the test. The problem is that there is a reasonable requirement to change the target system of the REST client at runtime, e.g. to address a backup server when the productive server is not available.

There is also a possibility to specify the scope at the REST client. If the scope "@RequestScoped" is specified, then it is only logical that the configu

[2021-11-10 19:32] patriot1burke commented on #21282
If you want to use HTTP libraries like resteasy, vertx, or servlet with lambda, you need the amazon-lambda-http or amazon-lambda-rest extensions.  See [docs](https://quarkus.io/guides/amazon-lambda-http)

[2021-11-10 19:37] cescoffier commented on #21306
Can you post your code where you consume the stream of message?

[2021-11-10 19:37] geoand commented on #21282
Thanks for the info @patriot1burke .

The quarkus-kotlin extension shouldn't be starting anything, but likely the kogito extension depends on Vertx

[2021-11-10 19:39] geoand commented on #21348
What is mention is not something we ever said would work.

Could you not make your use case work with the REST Client builder API?

[2021-11-10 19:39] cescoffier commented on #21342
Can't the KafkaProcessor handles null? Most dev services are doing this.

[2021-11-10 19:53] franden commented on #21348
That only the behavior I assumed makes sense, because the configuration framework behaves exactly the same in other cases as in my example. Otherwise the scope specification at `@RegisterRestClient` is meaningless.

REST client builder API would be a possibility but then we would have to inject all configuration parameters with @ConfigProperty and pass them to the builder. These are parameters we

[2021-11-10 20:30] geoand commented on #21348
I have stated my opinion, but it's ultimately up to @radcortez and @mschnitzler

[2021-11-10 21:07] klutzer commented on #21346
Yes, but if you just open de DevUI (even with tests not running), the application breaks too:

![image](https://user-images.githubusercontent.com/10657645/141193604-0658eae8-d557-48cd-a469-ca19232d28bd.png)

[2021-11-10 21:22] snowe2010 commented on #21282
@patriot1burke well that would have been good to know. We've been writing our own endpoints and directing them at the lambda handler itself. Where is this documented? What is the exact endpoint to hit? just `localhost:8080/`? What's the data format?

@geoand so where should this get directed to?

[2021-11-10 21:27] snowe2010 commented on #21282
oh, I see it's in the guide. I thought those were all just tutorials, not that they would contain detailed info like that...

[2021-11-10 21:32] patriot1burke commented on #21282
https://quarkus.io/guides/amazon-lambda#live-coding-and-unitintegration-testing

Data format is whatever you want to POST.  This is new stuff BTW introduced in 2.4.0.

[2021-11-10 21:39] snowe2010 commented on #21282
@patriot1burke ah, that explains it. I thought we had tried it last year and it didn't work. Ok, thanks!

[2021-11-10 21:41] patriot1burke commented on #21346
PR should fix things

[2021-11-10 23:00] famod opened #21355 "Continuous testing fails to run any tests due to `ClassNotFoundException`"
### Describe the bug

I'm getting the following exception when resuming/running tests:
[code]
`SomeKey` is just an `@Embeddable` from our `register-core` module. Dev mode is started in the `register-server` module and we have 6 other modules that the server module depends on as well.

I tried continuous testing various times before 2.4 and got similar exceptions, but mentioning other classes.
But

[2021-11-11 00:09] stuartwdouglas commented on #21342
Can't you just get this info from 'io.quarkus.deployment.builditem.DevServicesLauncherConfigResultBuildItem' ? It contains all the resulting dev service properties.

[2021-11-11 01:06] zhfeng commented on #21342
Thanks @stuartwdouglas and we use the following codes to consumer ```DevServicesKafkaBrokerBuildItem```

[code]

I'll try to use ```io.quarkus.deployment.builditem.DevServicesLauncherConfigResultBuildItem``` to see if it works.

[2021-11-11 01:25] zhfeng commented on #21342
yeah, it should work and I wil fix it in ```camel-quarkus-kafka```. Thanks all for helping !

[2021-11-11 01:25] #21342 closed

[2021-11-11 01:33] vladykin opened #21358 "Can't use GlobalInterceptor gRPC annotation with interceptor produced by a method"
### Describe the bug

I have a server interceptor produced by a method:
[code]

I want to make it global by putting io.quarkus.grpc.GlobalInterceptor annotation.

I can't put this annotation on the producer method, because the annotation has `@Target({ FIELD, PARAMETER, TYPE })` (not applicable to methods).

And I can't put this annotation on LoggingServerInterceptor class, because the class does

[2021-11-11 06:05] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1447412544

[2021-11-11 06:37] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1447421971

[2021-11-11 07:04] #21346 closed

[2021-11-11 07:26] evacchi commented on #21282
it looks like a it is a transitive dependency for quarkus-undertow, which is being addressed at https://github.com/kiegroup/kogito-runtimes/pull/1669

[code]

I think you can exclude `quarkus-undertow` from `kogito-quarkus` in the meantime

[2021-11-11 07:41] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1447421971

[2021-11-11 08:11] Paul6552 commented on #21265
Sry, in the last days i tried to make a reproducer, but have many troubles to get it working with an schema database online. I hope the stacktrace can help or another person has also the same error.

In the meantime i am running quarkus 2.4.1 succesfully in production. This error is only at startup, everything else is working correctly

[2021-11-11 08:38] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1447412142

[2021-11-11 08:43] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1447421722

[2021-11-11 08:54] TomasHofman commented on #21348
Hello @franden, when you talk about the requirement to change the target system of the REST client at runtime, I'm not sure we understand it in the same way.

Changing the rest client configuration at runtime is a reasonable and supported feature, but it requires a restart of the application process. How would you change a system property of a running process anyway? If I understand things correct

[2021-11-11 08:59] davideginna commented on #21306
[code]

[2021-11-11 09:10] zakkak opened #21359 "Integration tests using postgresql fail to compile natively with Java 17"
### Describe the bug

Native compilation of integration tests using postgresql fails with GraalVM CE 21.3 Java17 (`quay.io/quarkus/ubi-quarkus-native-image:21.3-java17`)

Namely the following tests fail to build:
* main
* jpa-db2
* jpa-mysql
* jpa-postgresql
* jpa-postgresql-withxml
* hibernate-orm-tenancy
* vault-app
* smallrye-opentracing

See https://github.com/graalvm/mandrel/actions/runs/1445

[2021-11-11 09:28] franden commented on #21348
You are right. Runtime configuration means that you can do a configuration without rebuilding the application. In our case it is necessary to change the configuration at runtime and without restarting the application. The reason is quite simple. The configuration can be changed for example in Azure Key Vault or Azure App Configuration by a key user (Role A). However, restarting the application can

[2021-11-11 09:34] geoand commented on #21348
At the risk of sounding like a broken record, this is **not** what Quarkus means by runtime configuration and supporting on the fly changing of configuration is something we have **explicitily**  said we don't support.

For your use case, I don't see what the problem is with the Client Builder API. If your concern is that you would need to reconfigure some of the values you have in `application.pr

[2021-11-11 09:46] jerboaa commented on #21359
@zakkak tells me that the relevant code in the PG Java driver is: https://github.com/pgjdbc/pgjdbc/blob/master/pgjdbc/src/main/java/org/postgresql/util/internal/Unsafe.java

It's interesting that it's only surfacing during a native-image build. It seems to suggest it's a latent bug bound to surface in plain JVM mode when run on JDK 17 (which has [stronger encapsulation enabled](https://openjdk.jav

[2021-11-11 09:47] geoand commented on #21359
I don't pretend to know what the driver is doing here (@Sanne perhaps knows), but could we not solve this with a simple substitution that returns `false`?

[2021-11-11 09:50] zakkak commented on #21359
I also don't know what the driver is doing. Since it's checking for the presence of a cache and it handles the case where the cache is not present your suggestion seems safe to me (as a work around). I am not sure what side effects that could have though...

FWIW the internal api reference was added in https://github.com/pgjdbc/pgjdbc/commit/705b660a11a975be958ed81ce2e2c2a8e48aaede

[2021-11-11 09:53] #21221 closed

[2021-11-11 09:55] #5704 closed

[2021-11-11 10:03] #18500 closed

[2021-11-11 10:15] geoand commented on #21359
But does this happen in practice?

[2021-11-11 10:16] Sanne commented on #21359
encryption is commonly used so it would be sad to have to disable support for it. Would be good to know more about this "credentials caching" check specifically though, not sure what its implications are.

[2021-11-11 10:22] Sanne commented on #20471
I don't think we should work on this, unless it's really trivial to put such an adapter in place.

It's extremely easy to use any other RDBMs with Quarkus nowadays, so there is no compelling reason to use in-memory testing helpers anymore.

[2021-11-11 10:28] fwippe opened #21361 "Resteasy-Reactive: Add LocalDate-Support for Form Parameters"
### Description

Pull request https://github.com/quarkusio/quarkus/pull/15451 (via bug https://github.com/quarkusio/quarkus/issues/5860) introduced `LocalDate` support for RESTeasy parameters of type `Query` and `Path`. IMHO there is really no compelling reason not to support parameters of type `Form` as well.

I hereby request the feature to support automatic `LocalDate` conversion of Form parame

[2021-11-11 10:30] geoand commented on #21361
Sounds reasonable to me. Would you like to try to add this feature?

[2021-11-11 10:33] fwippe commented on #21361
Sure, I'll give it a try

[2021-11-11 11:04] ozangunalp commented on #21306
I cannot reproduce this. Are you sure there isn't any other gate somewhere?

[2021-11-11 11:23] maxandersen commented on #16355
@quintesse consider converting https://github.com/quintesse/jbang/commit/15e7e85a4932722353a95483787271da083d50a6 to quarkus extension?

[2021-11-11 11:28] HelvetiaAppDev commented on #21335
The stacktrace in our real project is a bit too clustered, but the testcase of the reproducer results in pretty similar logs:
[code]

[2021-11-11 12:05] radcortez commented on #21348
I understand the use case and there are many other use cases where reloading the configuration might make sense.

The issue is that officially supporting dynamically reloading the configuration (and affected services) is super tricky, and in some cases, it doesn't even work (don't ask hibernate to reconfigure itself mid-flight). So for consistency, our position was always: we don't support it offi

[2021-11-11 12:06] damian-burda commented on #21348
I see this more as a hidden feature for tests :) Off course we can rewrite our tests, but I see this in as a valuable feature even if not advertised.

This way one can easily use parallel build with maven or CI and not have to worry about multiple instances of Quarkus being started at the same time.

Would it be still acceptable to change the behavior in tests only? I did not test it yet but maybe

[2021-11-11 12:15] radcortez commented on #21348
Yes, you get a hold of an instance of RestClientConfig and modify it before the REST Client is created you should be able to get the same behaviour (but don't tell anyone :) )

[2021-11-11 12:46] #20681 closed

[2021-11-11 12:51] franden commented on #21348
If Client Builder API is used all properties must be looked up manually and the passed to the builder API.  Something like this:

[code]

This is exactly the same logic which MP REST Client implementation would do during the start up. It is not a problem but additional effort to implement something what is already implemented.

[2021-11-11 12:52] franden commented on #21348
Can you please give me an example of what the code would look like?

[2021-11-11 12:53] radcortez commented on #21336
As a workaround, adding the properties in another source (application.properties) with empty values should work. This will list the properties in `getPropertyNames()` and on value lookup, it will retrieve the one from Vault because it has an higher ordinal.

In the meanwhile, we will fix this. Sorry for the inconvenience.

[2021-11-11 12:54] geoand commented on #21348
Which is why I metioned above that we should provide some way for the values in `application.properties` to be easily usable.

[2021-11-11 12:55] yuhaibohotmail opened #21366 "Report error about unsupported features when update to quarkus 2.5.0.CR1 and graalvm 21.3.0 java 17"
### Describe the bug

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Windows 10  or  Linux localhost.localdomain 3.10.0-1062.4.1.el7.x86_64 #1 SMP Fri Oct 18 17:15:30 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### Output of `java -version`

 openjdk version "17.0.1" 2021-10-19 OpenJDK Runtime

[2021-11-11 12:55] franden commented on #21348
Ahhh. Got it. Thanks

[2021-11-11 13:02] radcortez commented on #21348
It depends on how you want to code it but, dynamic config retrieval could be done here by entending this class and overriding the `build` method.

https://github.com/quarkusio/quarkus/blob/1e517c8cc58a743e879f437821d1cfd9c0c79e0a/extensions/resteasy-classic/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/QuarkusRestClientBuilder.java#L234

Registration is just a static call to `org

[2021-11-11 13:06] famod commented on #20471
I cannot comment on the effort/benefit ratio of creating such a driver, but in general h2 is still usually much faster than any automatic containerized db approach.

[2021-11-11 13:11] maxandersen commented on #20471
I agree we should just consider this if we can make it fairly easily, but..

is not necessarily true. h2 is faster than devsservice and it runs everywhere where as devservice requires docker/containers which is not available everywhere no matter how much we wish that would be true .

[2021-11-11 13:17] HelvetiaAppDev opened #21367 "When receiving Kafka record request context gets incorrectly active"
### Describe the bug

When Kafka processor receives record the request context gets automatically activated. The problem is the data of RequestScope objects are not cleared.

### Expected behavior

Every record received via Kafka starts with no/new request context.

### Actual behavior

Every record received via Kafka uses same request context. When increasing the counter variable at the request c

[2021-11-11 13:23] davideginna commented on #21306
no, i don't have any more.
do you have an example to give me?

[2021-11-11 13:26] sberyozkin opened #21368 "Explain in JWT and OIDC docs why RequestScoped may be required"
### Description

Follows #21365.

### Implementation ideas

* Update the `Using the JsonWebToken and Claim Injection` section to clarify that RequestScoped ensures the birthday claim is current
* Add `Supported Injection Scopes` section in the Reference guide part and clarify that `ApplicationScoped`, `Singleton` and `RequestScoped` are supported, use `RequestScoped` if individual claims are injec

[2021-11-11 13:31] Sanne commented on #20471
But H2 is not the same DB that people then run in production, so while it's true that it might be slightly faster to start it's still not a valid replacement, it's still only a good choice for limited phases of development only, and still needs "the real thing" to run at various other phases in the development cycle. So you can't avoid running the non-H2 flavour.

This is a tradeoff that was heavi

[2021-11-11 13:41] radcortez commented on #19549
Not completely fixed yet. https://github.com/quarkusio/quarkus/pull/20385 add a way to be able to fix it.

@ebullient will take care of the rest :)

[2021-11-11 13:54] aaron-axisa commented on #20471
I agree that in an ideal world that we would use the same database to test against however in older ocmpanies even getting docker installed on some servers is a whole beurocratic process that often ends in failure. As such H2 is the only otpion for tests sometimes.
At this point the only options available are either have to setup a full database for tests to run against, swap over to a non-reactiv

[2021-11-11 14:08] zakkak opened #21370 "Integration tests using avro fail to compile natively with GraalVM CE 21.3 Java 17"
### Describe the bug

Native compilation of integration tests using apache avro fails with GraalVM CE 21.3 Java17 (`quay.io/quarkus/ubi-quarkus-native-image:21.3-java17`)

Namely the following tests fail to build:
* kafka-avro
* kafka-avro-apicurio2

See https://github.com/graalvm/mandrel/runs/4170345140?check_suite_focus=true

Note that this is not a Quarkus issue. The underlying issue is only re

[2021-11-11 14:11] gastaldi opened #21371 "Partial PathParam doesn't work in RESTEasy Reactive"
### Describe the bug

Having an endpoint defined as:

[code]

And if a request is done to http://localhost:8080/hello/a-hoy, a 404 is returned

### Expected behavior

The following should be returned:

[code]

### Actual behavior

It returns:

[code]

### How to Reproduce?

1. Generate a project with RestEasy Reactive: https://code.quarkus.io/?e=resteasy-reactive&extension-search=reac
2. Add `@Pat

[2021-11-11 14:14] zakkak opened #21372 "Integration test jgit fails to compile natively with GraalVM CE 21.3 Java 17"
### Describe the bug

Native compilation of integration test `jgit` fails with GraalVM CE 21.3 Java17 (`quay.io/quarkus/ubi-quarkus-native-image:21.3-java17`)

See https://github.com/graalvm/mandrel/runs/4170345504?check_suite_focus=true

Note that this is not a Quarkus issue. The underlying issue is only reproducible on Java 17 and has been fixed upstream in https://github.com/oracle/graal/issues

[2021-11-11 14:24] zakkak opened #21374 "Integration test bouncycastle-fips fails to compile natively with GraalVM CE 21.3 Java 17"
### Describe the bug

Native compilation of integration test `bouncycastle-fips` fails with GraalVM CE 21.3 Java17 (`quay.io/quarkus/ubi-quarkus-native-image:21.3-java17`)

See https://github.com/graalvm/mandrel/runs/4170345254?check_suite_focus=true

Note, I need to look further in this issue but it looks similar to https://github.com/quarkusio/quarkus/issues/21359.

### Expected behavior

bouncy

[2021-11-11 14:48] kdubb opened #21375 "RestEasy Reactive Client + byte[] generates invalid classes"
### Describe the bug

The following simple interface generates an invalid class file.
[code]

Any attempt to load the class results in the following error:
[code]

### Expected behavior

Using Kotlin interfaces with `ByteArray`s results in valid classes.

### Actual behavior

Invalid classes are generated for the Kotlin interface with `ByteArray`s.

### How to Reproduce?

[code-with-quarkus.zip](h

[2021-11-11 14:51] GregJohnStewart opened #21376 "Provide redirect support for UI auth, Qute template redirection"
### Description

I am using Qute to implement a web ui in the following way:

[code]

I am getting jwt authentication through a cookie and restricting access to web pages via `@RolesAllowed`. This works as intended, except for a user whose cookie or token expires and tries to go to `/overview`, the page simply doesn't load at all. Ideally there would be a way to specify "if no auth, redirect to th

[2021-11-11 14:59] maxandersen commented on #21371
afaik jaxrs path template syntax states {} placeholders only works between slashes.

[2021-11-11 15:10] gastaldi commented on #21371
@maxandersen it works with RESTEasy classic: https://github.com/quarkusio/registry.quarkus.io/blob/main/src/main/java/io/quarkus/registry/app/maven/RepositoryMetadataResource.java#L39-L43

[2021-11-11 15:11] computerlove commented on #21336
Empty values in application.properties does work :)

[2021-11-11 15:20] fastluca commented on #21323
@sberyozkin not sure about that. In order to use Jandex I should be able to modify the pom of the library, and this is a dependency not directly managed by me.
I included the beans declared with the following properties added in the `application.properties` file:
[code]
IMO, this is a workaround. We should be able to use both `quarkus-amazon-lambda` and `quarkus-smallrye-jwt` without issues, or at

[2021-11-11 15:27] maxandersen commented on #21371
Interesting well then sure :)

[2021-11-11 15:29] geoand commented on #21371
Let me check

[2021-11-11 15:30] mkouba commented on #21376
Hm, this is more a question of RESTEeasy/Qute integration. And I'm not an expert in this area. @FroMage and @geoand might have some ideas...

[2021-11-11 15:31] geoand commented on #21376
@FroMage is working on something that I think would address this.

[2021-11-11 15:59] radcortez commented on #21336
Great!

[2021-11-11 16:05] senzu opened #21379 "Hibernate Mapping for class in library"
### Description

Hi!

I have a library which will be handed over an unwrapped Session from EntityManager, it would be nice if it were possible to expand the mapped Hibernate classes with the the ones in the library, so I could use saveOrUpdate() for the classes in the library.

Best regards,
Viktor

### Implementation ideas

_No response_

[2021-11-11 16:12] sberyozkin commented on #21376
@GregJohnStewart
Are you managing it from SPA ? If yes then it would be better to handle HTTP errors at the SPA level, example, catch `401` and redirect the user to the login page.
If it a direct browser access then you can enable the [proactive authentication](https://quarkus.io/guides/security-built-in-authentication#proactive-authentication) - which will let you capture the authentication excep

[2021-11-11 16:16] kdubb commented on #21375
Discovered the issue happens with Java interfaces that return `Uni<byte[]>` as well.

[code-with-quarkus 2.zip](https://github.com/quarkusio/quarkus/files/7521736/code-with-quarkus.2.zip)

[2021-11-11 16:17] sberyozkin commented on #21374
@zakkak Hi, `sun.security.internal.spec.TlsKeyMaterialParameterSpec` - perhaps it has been renamed or moved ?

[2021-11-11 16:17] GregJohnStewart commented on #21376
@sberyozkin SPA? And that might be an option, except this service also has regular rest endpoints I would rather not have redirected.

Similarly, the proactive seems to be a blanket for the entire service, where I would prefer a more programmatic, per-endpoint approach

[2021-11-11 16:18] geoand commented on #21375
cc @michalszynkiewicz

[2021-11-11 16:21] zakkak commented on #21374
@sberyozkin good point. It looks like it's still present just deprecated. See https://github.com/graalvm/labs-openjdk-17/blob/master/src/java.base/share/classes/sun/security/internal/spec/TlsKeyMaterialParameterSpec.java

Judging by https://github.com/quarkusio/quarkus/issues/21359 it's probably not accessible due to stronger encapsulation.

[2021-11-11 16:32] geoand commented on #21371
https://github.com/quarkusio/quarkus/pull/21380 should take care of it

[2021-11-11 16:34] sberyozkin commented on #21376
@GregJohnStewart
In case of SPA you'd not get the regular endpoints invoked so you'd not get those errors.
With `ExceptionMapper` you can have `UriInfo` injected and make it per endpoint specific.
A dedicated annotation can be of interest as well, sure - but a workaround is possible now

[2021-11-11 16:40] MartinX3 commented on #12457
I can confirm that.
I use a VueJS-Frontend and quakus can't simply acces the pages via GET, because the vue-router returns a 404.

[2021-11-11 17:28] #21361 closed

[2021-11-11 17:32] Sanne commented on #21379
This should be possible already, there are a couple of approaches. Do you just want the entities in this additional jar to be included, or is this other library having a dedicated Quarkus extension?

In the first case it should work by ensuring the 3rd party jar is indexed. See https://quarkus.io/guides/all-config#quarkus-core_quarkus.index-dependency.index-dependency-artifacts-on-the-classpath-th

[2021-11-11 17:51] tarasmurzenkovv commented on #8386
Another possible issue would be that the Docker or Docker daemon is not running

[2021-11-11 18:18] sberyozkin commented on #21376
Note though it would not make much sense to redirect in case of 403 IMHO. So an annotation to deal with 401s would not help to cover what happens with `403` - the token is valid, the user just has no required role - so a message would be better IMHO in case of 403s - which can be sorted by the use of `ExceptionMapper` or at the SPA level and if you do that then managing 401s at that level may not

[2021-11-11 18:38] senzu commented on #21379
Thank you very much, I'll look at the indexing solution.

[2021-11-11 18:38] #21379 closed

[2021-11-11 19:29] rsvoboda opened #21384 "https://quarkus.io/guides/ doesn't contain 2.2 version"
### Describe the bug

https://quarkus.io/guides/ doesn't provide 2.2 version.

Quarkus 2.2 is important for product and there should be version of guides / documentation attached to 2.2 stream.

CC @maxandersen @gsmet @clem

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of

[2021-11-11 19:31] crionuke opened #21385 "Use one vertx context for all @ConsumeEvent handlers from one bean"
### Description

Hi, quarkusers!

Docs from vertx.io promises that all code from one verticles executed on the same event-loop, so no more worrying about synchronized and volatile fields.

And same i expected from quarkus, but.

If i will create bean with more that one @ConsumeEvent handlers i get **not** thread-safe construction if handlers will change any common data as ones will be executed wit

[2021-11-11 19:41] gsmet commented on #21384
I'll work on it.

[2021-11-11 19:48] tarasmurzenkovv commented on #18065
@geoand @chrigiansen issue is fixed, tested under `21.3.0-java17`. Used this two-stage docker file

[code]

[2021-11-11 19:59] OleKsimov commented on #21045
@cescoffier
Considering there won't be any Kafka downgrade in Quarkus because of CVE fixes in the 2.8.1 version, I believe it would be fine to have SASL connection configured with domain name instead of IP address and have a more secure version.
Thanks for your help and for what you're doing.

[2021-11-11 21:12] #21371 closed

[2021-11-11 21:44] alexbarbosix opened #21387 "Named datasource not found on DevServices"
### Describe the bug

While using Dev Services and hibernate, a named datasource that includes a jdbc configuration (e.g. _quarkus.datasource."datasource-name".jdbc.min-size_) while cause the following error when starting Quarkus.

`Caused by: java.lang.RuntimeException: io.quarkus.runtime.configuration.ConfigurationException: Model classes are defined for the default persistence unit nameds but c

[2021-11-11 22:18] radcortez commented on #21345
No. Unfortunately, one big change we did on the REST Client config broke a few things. I'm sorry for the inconvenience. We will have a look.

[2021-11-11 22:23] famod commented on #17271
I was just having the same problem, mainly while working in Eclipse.

I started with a test with a template in `src/test/resources/templates` and when it was green I continued to add a `Template` injection point to a class in `src/main/java` and I placed the respective template in `src/main/resources/templates`.
That's when trouble started. The respective test (a different one than I first mention

[2021-11-11 22:32] famod opened #21393 "Configurable base path for Qute templates"
### Description

"templates" (resolving to `src/(main|test)/resources/templates`) seems to be hard-coded here: https://github.com/quarkusio/quarkus/blob/2.4.1.Final/extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.java#L1186

This is a bit inflexible if you have a project/module that has different kinds of templates that you want to separate from each other, e.g:
[

[2021-11-11 22:40] sberyozkin commented on #21323
@fastluca I think the solution you have found is simple and effective - `quarkus-smallrye-jwt` is `smallrye-jwt` + `Vert.x HTTP` supporting an HTTP channel for delivering the tokens and this channel is redundant in the Amazon Lambda envronment.

Using `JWTParser` in such contexts makes sense and given `quarkus-smallrye-jwt` bring nothing extra to `JWTParser` butr registering it as a bean, using `s

[2021-11-11 22:50] famod opened #21394 "Make Qute "No template found for ..." error message more user-friendly"
### Description

`@Inject Template foo;` will result in the following exception in case you made a mistake naming the file or you put it in the wrong place:
[code]

The main issue I have with this is that there is zero indication of which templates _were actually found_ (if any).
With a list of found templates, one could easily see what's wrong.

Another issue comes into play when using constructo

[2021-11-11 22:55] famod commented on #14240
`junit-flyway-extension` is based on flyway, so what does that mean if I'm using liquibase to manage my migrations (in general, not just for test)?

[2021-11-11 23:16] GregJohnStewart commented on #21376
@sberyozkin remember that we are talking specifically for web UI's :)
As a user I want to be sent to a login screen rather than come up to a blank screen

[2021-11-12 00:05] delmobispo commented on #10870
is there some progress on this issue?

[2021-11-12 00:08] radcortez commented on #14240
I guess we just write a similar one for liquibase. Or ideally, try to come up with a way that is able to use one or the other transparently in the API.

[2021-11-12 04:42] #21285 closed

[2021-11-12 05:34] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1451754238

[2021-11-12 06:02] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1451754516

[2021-11-12 06:51] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1451764818

[2021-11-12 07:03] vnhim commented on #21111
Hi @phillip-kruger, any update on this ?

[2021-11-12 07:18] phillip-kruger commented on #21111
Not yet.

[2021-11-12 07:42] jdussouillez opened #21396 "Unrecognized configuration key "quarkus.jacoco" warning when starting app"
### Describe the bug

I have a warning when running an app with Jacoco enabled.

[code]

Quarkus configuration :

[code]

The options exist in the doc and works fine when building the app but a warning is logged when the app starts.

### Expected behavior

No warning

### Actual behavior

A warning is logged when the app starts

### How to Reproduce?

1. Clone the [getting-started project in quick

[2021-11-12 07:44] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1451764818

[2021-11-12 07:46] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1451764818

[2021-11-12 08:14] geoand commented on #21396
Where did you find `quarkus.jacoco=true`? I don't see it anywhere

[2021-11-12 08:52] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1451764465

[2021-11-12 09:03] jdussouillez commented on #21396
I messed up with the project to reproduce it, sorry!

Actually, the `quarkus.jacoco` must be removed. And when I run `mvn quarkus:dev` I get the warning on the `quarkus.jacoco.title` property when running `mvn quarkus:dev` :

[code]

[2021-11-12 09:12] geoand commented on #21396
Understood, thanks.

This behavior is actually expected. You can avoid it by prefixing the jacoco configuration values with `%test.`, so something like `%test.quarkus.jacoco.title`

[2021-11-12 09:12] #21396 closed

[2021-11-12 09:37] sberyozkin commented on #21376
@GregJohnStewart

Not sure which of my comments assumed it ?

[2021-11-12 09:43] mzellho opened #21397 "Resteasy JavaTimeModule not working properly"
### Describe the bug

When adding e.g. java.time.OffsetDateTime as a @QueryParam to an endpoint, Quarkus fails to startup (RESTEASY003875), despite stating "To improve user experience, Quarkus registers the three Jackson Java 8 modules so you don’t need to do it manually." in the [docs](https://quarkus.io/guides/rest-json).

I created a [plain project for reproduction](https://github.com/mzellho/q

[2021-11-12 09:43] alphamikevictor opened #21398 "Unable to compile native image when using quarkus-openshift-client or quarkus-kubernetes-client"
### Describe the bug

I am trying to compile to native a Quarkus program with

- Dependencies
  - quarkus-resteasy-jsonb
  - quarkus-resteasy
  - quarkus-rest-client
  - quarkus-arc
  - quarkus-picocli
  - quarkus-openshift-client
  - quarkus-smallrye-health
  - quarkus-scheduler
 - Quarkus version: 2.4.1.Final
 - Image used to build: quay.io/quarkus/ubi-quarkus-native-s2i:21.2.0-java11

Compiling

[2021-11-12 09:46] geoand commented on #21398
Thanks for reporting.

Do you perhaps have a project that exhibits this behavior you could attach to the issue?
Asking because I have a pretty good idea what the problem is, but I would like to be able to verify the fix.

[2021-11-12 09:54] alphamikevictor commented on #21398
Hello @geoand

Unfortunately I can not share the code, I've tried before raising the ticket:
* Create a dumb project with the dependencies, but then compiles
* Add to that project the ability to watch for namespaces (which is part of our logic) and then was also able to work

What I can do, if you have an idea about the problem, is try to just share the piece of code which can be raising the probl

[2021-11-12 10:13] danielpetisme commented on #21059
Hi, I started to have a look at the UI issue.
I found a way to trim the top white space but I have to lose the width's diagram constraints (cf. the screenshot attached). You have to scroll to the right to see it all.

I'm considering going in another direction, I'm not sure it brings a lot of value to see both the Topology text description and Graph at the same time. Usually, you need either one (

[2021-11-12 10:14] hogmuzzle commented on #21111
I simplified my project in order to provide a reproducer but the problem is gone and I can not send the whole project. I decided to use vertx pgclient + jooq sql builder.

[2021-11-12 10:19] geoand commented on #21398
I opened https://github.com/quarkusio/quarkus/pull/21400 which should fix this

[2021-11-12 10:24] joachimglink opened #21401 "Qualifier on alternative bean - duplicate element error"
### Describe the bug

I have a bean with annotations:

`@ApplicationScoped
@MyQualifier("some-value")
public class MyBean { .. }`

In the tests I have an alternative bean for it with following annotations:

`@ApplicationScoped
@MyQualifier("some-value")
@Alternative
@Priority(5)
public class TestMyBean extends MyBean { .. }`

When running the tests, an IllegalArgumentException happens with:
_dupli

[2021-11-12 10:33] famod commented on #21393
I just realized that there is `@CheckedTemplate.basePath`, but this is actually the part _after_ the "root" base path so to say (and this not available for "unchecked" templates, AFAICS).

[2021-11-12 10:36] gemmellr opened #21402 "bootstrap bits use old version of jsoup when outside quarkus build, platform bom manages old version"
### Describe the bug

https://github.com/quarkusio/quarkus/pull/19590 updated the jsoup version in the build-parent after dependabot (and now various other scans) flagged it. The version property sits in a group commented "Align various dependencies that are not really part of the bom".

The bootstrap bits do have a transitive dependency on jsoup however, via the maven resolver and its use of wago

[2021-11-12 10:38] gemmellr commented on #21402
Tree from bootstrap-core to jsoup
[code]

[2021-11-12 10:41] gunnarmorling commented on #21059
+1 for the option to switch between the two representations.

[2021-11-12 10:45] gemmellr commented on #21402
^ @aloubyansky

[2021-11-12 10:51] DavideD commented on #19918
I've sent a PR that should fix the issue: https://github.com/quarkusio/quarkus/pull/21404

[2021-11-12 11:08] famod opened #21405 "Support setting locale and charset for "default" Qute `Variant`"
### Description

If I do _not_ want to set the `Variant` [for each `TemplateInstance`](https://quarkus.io/guides/qute-reference#template-variants) then the only way I could find to set it seems to be via `TemplateLocator`.
But usually I'm fine with how and from where templates are loaded, so implementing a `TemplateLocator` for this seems like overkill.

So it would be nice to have some way to con

[2021-11-12 11:13] mkouba commented on #21393
Well, you can use `src/main/resources/templates/html` and `src/main/resources/templates/pdf`. It not flexible but it was good enough so far ;-)

We can do this but I'm not really sure it's worth the effort...

Yes, the `CheckedTemplate#basePath()` is relative to the templates root, i.e. relative to `src/main/resources/templates`.

[2021-11-12 11:52] mkouba commented on #17271
Yes, that would be my guess as well. I always do `mvn clean test` just to be sure...

[2021-11-12 12:25] mkouba commented on #21405
Yes, there's even a TODO in the code :D
https://github.com/quarkusio/quarkus/blob/main/extensions/qute/runtime/src/main/java/io/quarkus/qute/runtime/EngineProducer.java#L233-L236

We could start with `quarkus.qute.default-locale` and `quarkus.qute.default-encoding`. Although for encoding I'd encourage users to stay with the default - UTF-8.

[2021-11-12 12:48] rudiger3d opened #21407 "Error with ConfigMapping using Maps, Nested Groups and Optional"
### Describe the bug

I'm seeing an error when mapping configuration to objects using a combination of nested groups (https://quarkus.io/guides/config-mappings#nested-groups) and maps (https://quarkus.io/guides/config-mappings#maps) that I think is a bug.

Specifically I'm specifying that a nested group should be Optional **while** specifying ConfigMapping.NamingStrategy.VERBATIM in my ConfigMappi

[2021-11-12 12:56] #21398 closed

[2021-11-12 13:26] geoand commented on #21397
A JAX-RS `@QueryParam` is not handled by Jackson (or any JSON serialization framework).

If you want this feature, I suggest opening an issue on the RESTEasy issue tracker.

[2021-11-12 13:26] #21397 closed

[2021-11-12 13:26] #19918 closed

[2021-11-12 13:26] #10665 closed

[2021-11-12 13:39] survivant opened #21409 "Enhancement : Allow to use named oidc client on RestClient"
### Description

it could be useful to allow to choose which oidc client we want to use in @RestClient

like
[code]

### Implementation ideas

_No response_

[2021-11-12 13:40] survivant commented on #21409
something like that

[code]

[2021-11-12 13:46] #6112 closed

[2021-11-12 14:06] sberyozkin commented on #21374
Hey @zakkak, I see you have it under control with a somewhat related #21408, so hope the same can be possible for this case - in meantime I'll also try to report the problem in the bouncycastle fips project for them to start considering how to avoid depending on this now deprecated internal sun code

[2021-11-12 14:17] GregJohnStewart commented on #21376
Sorry, didn't mean to sound snarky. I had assumed your previous message was more general rest focused.

[2021-11-12 14:19] GregJohnStewart commented on #21376
@sberyozkin Sorry, didn't mean to sound snarky. I had assumed your previous message was more general rest focused.

[2021-11-12 14:20] sberyozkin commented on #21409
@survivant Thanks, but it is a duplicate :-), see #16397, it may be not technically possible - but I'll try to experiment with what is suggested at #16397 when I get a chance.
Note there is a simple solution which can be sufficient if you only have one `OidcClientFilter` in a given endpoint, `quarkus.oidc-client-filter.client-name=admin-cli`.
If you have more than one OidcClientFilter in a single

[2021-11-12 14:20] #21409 closed

[2021-11-12 14:25] krashnakant commented on #15782
any further development happen here.

[2021-11-12 14:54] dhoffer commented on #20344
@cescoffier @pmlopes  I'm not clear what version of Quarkus has this fix.  I just updated an app to 2.4.2.Final, and Maven reports its using vertx 4.1.5.  Do we have to wait for Quarkus 2.5.x to get this fix?

[2021-11-12 14:57] yrodiere commented on #21265
I see in your stacktrace that you have several classes in package `at.tanzauswertung.shared`.

Is your tenant resolver in a shared JAR? If so, are you sure beans from that JAR are correctly discovered (see how beans are discovered in dependencies [here](https://quarkus.io/guides/cdi-reference#bean_discovery))? If not, you might simply be missing a Jandex index for this JAR: https://quarkus.io/guid

[2021-11-12 15:02] mzellho commented on #21397
Hi and thanks for your reply, @geoand. I don't think we need a feature request at Resteasy since the feature is there already (JavaTimeModule). Also, this module gets registered in Quarkus via L69, L76, L226 of https://github.com/quarkusio/quarkus/blob/main/extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java and is also documented in [Quarkus docs](https

[2021-11-12 15:06] geoand commented on #21397
Hi,

As I mentioned above, the deserialization of the value of a `@QueryParam` has **nothing** to do with Jackson or any other JSON serialization / deserialization framework (although I understand why one would think it does).

[2021-11-12 15:12] mzellho commented on #21397
@geoand, ah, I think I understand, no JSON here...my bad.
I'll have a look at `ParamConverter` instead.
Thank you and sorry for the bug request.

[2021-11-12 15:15] geoand commented on #21397
You are welcome!

[2021-11-12 15:36] pjgg commented on #21070
We could not reproduce the issue anymore on upstream so let's close it from now!.
Thank you anyway @geoand

[2021-11-12 15:36] #21070 closed

[2021-11-12 15:42] geoand commented on #21070
Thanks for the info

[2021-11-12 16:52] cescoffier commented on #20344
Yes.

[2021-11-12 16:53] cescoffier commented on #21045
Yes, we cannot downgrade.

Closing this issue.

[2021-11-12 16:54] #21045 closed

[2021-11-12 17:11] pjgg opened #21412 "Confluent + confluent kafka-avro-serializer version 7, throw a KafkaException in native mode"
### Describe the bug

Quarkus version: `999-SNAPSHOT`
Reproducer: https://github.com/quarkus-qe/quarkus-test-suite
And this serializer:
[code]

cmd: ` mvn clean verify -Pmessaging-modules -Dnative -Dit.test=ConfluentKafkaAvroIT -pl messaging/kafka-avro-reactive-messaging`

When I am running Kafka Confluent + AVRO test, I am getting the following exception:

[code]
Note: if you are going to reprodu

[2021-11-12 17:22] rkraneis commented on #21226
We also face this problem. The cause seems to be having a dependency on another maven module in the reactor. Will follow up with a reproducer.

[2021-11-12 17:38] ozangunalp commented on #21412
Kafka extension's `kafka-avro-serializer` support has only been tested on version 6.1.1
With the latest version of confluent schema-registry we need to register for reflection the class `io.confluent.kafka.serializers.context.NullContextNameStrategy` and maybe others.

[2021-11-12 17:47] sberyozkin commented on #21376
@GregJohnStewart Np at all :-), I certainly did not take that way - I think the discussion is good.

Just to clarify: IMHO having a new annotation as you proposed can be a useful feature - however I don't see it being useful when the RBAC control fails - as asking the user to re-authenticate would not help - hence if both the authentication and authorization failures have to be managed then it mig

[2021-11-12 18:03] radcortez commented on #21407
I'll have a look.

[2021-11-12 19:20] GregJohnStewart commented on #21376
@sberyozkin Good to hear! I would argue it depends on how the authentication failed. If they didn't have a token or it was expired, then re-logging in is the way to go. If they don't have the roles, then that is a different story.
So there might be a couple of cases that need handled. Unsure of the best implementation, I don't know the attitude of adding new annotations, maybe an annotation for no

[2021-11-12 20:38] dgarcia-saaskun opened #21414 "Quarkus application cannot find codec for MongoDB Clients"
### Describe the bug

Running a quarkus application with MongoDB (Panache) shows warnings on the startup,

It is a rest service application that loads data from MongoDB database hosted on Atlas MongoDB.

The Warnings logged are similar:

[code]
Then in any operation to get data from the database, an StackOverflowError is generated showing cyclically this stacktrace:
[code]
Dependencies configured

[2021-11-12 20:44] luneo7 commented on #21252
That's how I did a workaround to get it running in Quarkus:

1. Created a delegated execution interceptor:
[code]

2. Added the interceptor config to the `application.properties` file
[code]

3. Listen to the startup event to set the AWS SDK tracing interceptor:
[code]

[2021-11-12 20:45] heubeck commented on #7999
Don't know if it's directly related to this ticket, but maybe helps:
Even without coroutines, my Kotlin project doesn't work in native mode, when build with the default build container `quay.io/quarkus/ubi-quarkus-native-image`, tested with  `21.1-java11`, `21.2-java11`, `21.3-java11` and `21.3-java17`.

Native app starts, but on first operation it fails with the beloved `KotlinBuiltIns.getBuiltIn

[2021-11-12 20:49] ThomasKriechbaum opened #21415 "oidc-client: grant.type=password additional grant options are not supported"
### Description

I have just started playing around with quarkus-oidc-client to obtain tokens form our Ping-Identity server.

In case of quarkus.oidc-client.grant.type=password additional grant options are not supported as only password.username and password.password are considered while initializing the tokenGrantParams (see https://github.com/quarkusio/quarkus/blob/main/extensions/oidc-client/ru

[2021-11-12 21:26] heubeck commented on #21297
WDYT @rgmz
https://github.com/quarkusio/quarkus/pull/21416

Something more, you would like to add?

[2021-11-12 21:40] geekiyer commented on #21350
I will try to take a stab at this!

[2021-11-12 21:46] dgarcia-saaskun commented on #21414
Trying to generate a project to reproduce the issue. I see my mates added the org.mongodb to the jandex index.

[code]

I removed the configuration from the application.properties, the issue has gone. But the compilation warning appears.

The compilation process shows a warning that the class is not on the index:
[code]

[2021-11-12 21:46] #21414 closed

[2021-11-12 22:26] sberyozkin commented on #21415
@ThomasKriechbaum Thanks for marking it as enhancement - but it is a bug - I updated the docs yesterday claiming the password grant can also be customized :-)

[2021-11-12 22:50] ThomasKriechbaum commented on #21415
@sberyozkin if it's ok for you I'll do further testing with Ping Identity - as for password grant it has some specific behaviour - but I'll check it with some colleagues before

[2021-11-13 00:31] famod opened #21420 "Qute should not try to parse files not having the configured suffixes"
### Description

I'm currently migrating a Qute setup that is based on manual template loading to the `@CheckedTemplate` approach.
During that migration, I got this build error because there was an image in `templates/images/my-image.jpg`:
[code]

I don't think Qute should parse anything _not_ matching the configured suffixes because it may make sense to place images under `templates` (which is a

[2021-11-13 04:14] ncorai opened #21422 "Gradle project throws ConcurrentModificationException in :quarkusGenerateCode"
### Describe the bug

Running `.\gradlew build` generates a `ConcurrentModificationException` in `GradleApplicationModelBuilder.initProjectModule(...)` for some plugins (Avro code generation in my case) added to `build.gradle`.

### Expected behavior

Build succeeds

### Actual behavior

preparing quarkus application

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed fo

[2021-11-13 07:37] maxandersen commented on #19549
looking at #20385 why is this connected to picocli in any shape or form ? @ebullient @radcortez ?

One should be able to configure/set this up for any kind of Quarkus no matter if you use picocli or not ...maybe the code can do that but just seeing that the commit adds config build steps to picocli extension which to me sounds very wrong?

[2021-11-13 08:33] #14264 closed

[2021-11-13 09:13] akoufa opened #21423 "Quarkus Kafka Kotlin Coroutines does not work"
### Describe the bug

Hello to all. When trying to use Kotlin suspending functions together with Quarkus Kafka I am getting the following exception:

[code]

I have simply defined the following code:

[code]

After analysing the issue I found that the code is not being called on a Vertx Thread as the exception is thrown from the following snippet:

[code]

in the `AbstractSubscribingCoroutineInvok

[2021-11-13 09:56] loicmathieu commented on #21414
Thanks  for the information. Indexing the Bson library was the cause then.
Can you answer your question on stackoverflow to help people how might have the same issue ?

The remaining warning log is normal, I should try to do something about it some day ...

[2021-11-13 09:58] mkouba commented on #21420
I don't think that the `templates` dir is a good place for static files. See also [Serving Static Resources](https://quarkus.io/guides/http-reference#serving-static-resources). In any case, you can exclude any file in quarkus 2.5+ via [`quarkus.qute.template-path-exclude`](https://quarkus.io/version/main/guides/qute-reference#quarkus-qute_quarkus.qute.template-path-exclude).

[2021-11-13 10:45] indalaterre commented on #21359
Same error here. I tried the build both on MacOS and CentOS.

[code]

[2021-11-13 11:02] cescoffier commented on #21423
Can you provide a reproducer?

[2021-11-13 11:57] glefloch commented on #21422
@ncorai you can rely on the `quarkus-avro` extension dependency. This will handle code generation as part of the built, you won't need any additional plugin.

[2021-11-13 12:11] famod commented on #21420
In my case it's not about serving static resources, it's about generating emails from xhtml templates. In those emails we have to embed images. So there is a strong correlation, hence placing the respective files in close proximity does make sense for us. YMMV!

But very nice that there's an exclude in 2.5!
It might just feel a little verbose when you just want xhtml and nothing else, because you'

[2021-11-13 12:12] #21420 closed

[2021-11-13 13:43] naah69 opened #21424 "support Event Bus Custom Exception Handler"
### Description

it didn't support custom exception handler now  in `io.quarkus.vertx.core.runtime.VertxCoreRecorder` of depency `quarkus-vertx`,as below.
can it support custom exception handler?
![image](https://user-images.githubusercontent.com/25682169/141645903-2e3e982c-b281-458e-ac47-a8d47662fbd3.png)

### Implementation ideas

For example, use a default bean that can be covered in code or ex

[2021-11-13 14:22] Raffaello opened #21425 "Micrometer extension allow to change root-path"
### Description

like for example `quarkus.smallrye-health.root-path`
having a similar option for eg: `quarkus.micrometer.root-path`
or similar

to allow to define a different url from `/q/metrics` (in this case for the `/q` part)

### Implementation ideas

it should be enough to add that config property to the "root-path" to have the overriden option for the `/q`

[2021-11-13 14:48] Raffaello commented on #21425
actually the `quarkus.micrometer.export.prometheus.path` can do that already.
the documentation led me think differently as it reports the default is `/metrics`

when instead the deafult path is `/q/metrics`

[2021-11-13 16:43] famod commented on #21424
/cc @stuartwdouglas @cescoffier

[2021-11-13 16:53] cescoffier commented on #21424
The exception handler you register on vertx is more than just for the event bus. It's catching every exception thrown the event loop. While it can be a good idea to allows the customization, for the event bus, I would recommend to use request/reply and handle failure.

[2021-11-13 18:05] ebullient commented on #21425
The documentation is correct. The default value is the relative "metrics" value, which is resolved relative to the "non-application" endpoint root ("q"), which in turn is resolved relative to the http root path.

Using absolute paths (leading slash) for any of these values will remove them from relative path resolution.

This change was originally noted here:
https://quarkus.io/blog/path-resolutio

[2021-11-13 18:08] ebullient commented on #19549
If you feel strongly that it applies more generally, fine, but IMO, the picocli extension is the most likely to need this out of the gate (where it might not be as common elsewhere).

I don't see a problem with it (nor do I see it as very wrong), but I don't have a problem with it being generalized either.

[2021-11-13 18:24] ebullient commented on #21425
Would this be clearer?

[code]

[2021-11-13 18:26] Raffaello commented on #21425
yes.
Thanks.

[2021-11-13 18:51] maxandersen commented on #19549
Picocli is not necessary to use @quarkusmain so seems like it should be possible without being tied to picocli imo.

[2021-11-13 18:52] languitar opened #21427 "Kotlin no-arg/jpa compiler plugin ignored when recompiling in continuous testing mode"
### Describe the bug

In a Kotlin project that uses the no-arg / jpa Kotlin compiler plugin, entities cannot be changed in continuous testing mode because the compiler plugin is not used when the affected entity class is recompiled on demand. As a result, tests the fail due to a missing no-arguments constructor.

### Expected behavior

Entites can be changed just as any other code and tests simply

[2021-11-13 22:31] akoufa commented on #21423
@cescoffier I have a created a reproducer. You can check it out here https://github.com/akoufa/quarkus-kafka-kotlin . Just send a value to the orders topic then the following exception is thrown:
[code]

[2021-11-13 23:11] ncorai commented on #21422
That's the Avro Maven plugin, right? It doesn't quite do what I want.  The custom Gradle Avro plugin I use offers more configuration options.
At any rate, I have moved on to other areas at work and I don't have time to revisit our Avro code. As noted, the above plugin used to work with older Quarkus versions, but if you find that they're doing something wrong, I'll log a bug with them.

[2021-11-14 07:41] mschorsch opened #21428 "Support kotlin coroutines in quarkus-scheduler"
### Description
`quarkus-scheduler` does not support suspend functions.

In the past i bridged the gap with custom code, but i think it should be supported by quarkus.

I had this requirement multiple times.

[code]

### Implementation ideas

_No response_

[2021-11-14 07:42] mschorsch commented on #21428
@geoand 😃

[2021-11-14 07:52] geoand commented on #21428
Interesting idea!

[2021-11-14 07:59] cescoffier opened #21429 "Update to Vert.x 4.2.x or Vert.x 4.3.0"
### Description

Before Quarkus 2.6, we should update to the latest Vert.x version available at that time.
At the moment, Quarkus uses Vert.x 4.2.1. We can continue using Vert.x 4.2.x or switch to Vert.x 4.3 is needed.

This epic references the issue that is related to Vert.x and that should be fixed with an update to the chosen version.

### Issues

_No issues at the moment_

CC @tsegismont @viet

[2021-11-14 08:04] cescoffier opened #21430 "Integrate Mutiny 1.3"
### Description

This epic is about the integration of Mutiny 1.2.x which should provide:

* Multi _onNoItem_ support
* New Context support
* Replay last n items in Multi (see open RFE at https://github.com/smallrye/smallrye-mutiny/issues/536)
* Review current deprecated and experimental APIs

The performance level is good, but there are areas for throughput/allocation wins, especially in transfor

[2021-11-14 08:09] cescoffier opened #21431 "Improve @Blocking support when multiple extension handles this annotation"
### Description

At the moment, when a method or a class uses several extensions handling @Blocking, it may result in two consecutive dispatchings on worker threads. It introduces a performance penalty that should be avoided.

This issue is particularly visible when using Fault Tolerance annotations.

[2021-11-14 08:11] cescoffier opened #21432 "Integrate the Reactive Oracle SQL Client"
### Description
Vert.x 4.2 ships the first version of the Vert.x Oracle client.
This client should be included in Quarkus. This includes:

* Having a Quarkus extension
* Verifying the native build (and adding the required substitutions)
* Ensure basic support in Hibernate Reactive

[2021-11-14 08:14] cescoffier opened #21433 "Handling @Blocking / @NonBlocking in GraphQL APIs"
### Description

When implementing GraphQL APIs, the `@Blocking` and `@NonBlocking` annotation should be supported as well as the default dispatching rules.

As a verification, it should be possible to implement a GraphQL Query method using:

* Panache  (Blocking)
* PAnache Reactive (Non-Blocking)

[2021-11-14 08:17] cescoffier opened #21434 "Improving GraphQL subscriptions support"
### Description

The current GraphQL subscription supports should be improved to allow producing a `Multi` in which the notifications can transit.
This epic is about adding this feature and making sure it works correctly.

As a validation, having a quickstart broadcasting the notifications to a web socket would be great.
Another possibility would be to emit the notifications as Kafka records.

[2021-11-14 08:23] cescoffier opened #21435 "Add Cloud Event support to the AMQP connector"
### Description

This epic is about adding support for Cloud Events to the AMQP connector. At the moment only the Kafka connector supports Cloud Events.

[2021-11-14 08:26] cescoffier opened #21436 "Integrate a Kafka UI to the Dev UI"
### Description

AKHQ, among others, is providing a very nice and useful API when developing with Kafka. It lets you see the content of the topic, handle schema, update consumer offsets, verifies assignments… Having an equivalent UI in the Quarkus Dev UI (as well as in a standalone way) would improve our development experience a lot.

[2021-11-14 08:28] cescoffier opened #21437 "Reactive Messaging (Kafka) - Kafka Checkpointing"
### Description

Extend reactive messaging to support offset checkpointing and potentially state reload.

- [x] Commit & Failure SPI in Reactive messaging https://github.com/smallrye/smallrye-reactive-messaging/pull/1838
- [x] Checkpointing commit handler & State store APIs
- [x] State store implementations Redis, Infinispan

[2021-11-14 08:29] cescoffier opened #21438 "Integrate Service Discovery with Stork"
### Description

SmallRye Stork provides service discovery and client-side load balancing features. This task is about the integration of Stork into Quarkus. It mainly targets the REST Client and gRPC client for now. The graphQL client could be added if time allows.
The inclusion should only support static discovery, DNS, Consul (community only), and Kubernetes.

[2021-11-14 08:29] cescoffier commented on #21438
It has already been implemented.

[2021-11-14 08:29] #21438 closed

[2021-11-14 08:32] cescoffier opened #21439 "Allow applications to access Apicurio Schema Registry using the Service Binding Operator"
### Description
Allow applications to access Apicurio Schema Registry using the Service Binding Operator.

CC @secondsun

[2021-11-14 08:35] cescoffier opened #21440 "Allow large file download and upload using the Reactive REST Client."
### Description

Allow large file downloads and uploads using the Reactive REST Client.
Large means that the file size does not fit in memory and back-pressure must be used.
Typically it would allow passing a Multi as a parameter or receiving a Multi.

[2021-11-14 08:37] cescoffier opened #21441 "Allows consuming SSE endpoint as Multi using the Reactive REST Client"
### Description

Allows consuming SSE endpoint as Multi using the Reactive REST Client.
If the server produces an SSE response, it should be able to stream the items in a Multi. The item type can be recreated from JSON (from the data part). Additionally, a type including the other metadata could be defined.

[2021-11-14 08:40] cescoffier opened #21442 "Allows consuming a JSON Array as Multi using the Reactive REST Client"
### Description

Allows consuming a JSON Array as Multi. If the service returns a large JSON Array, the consumer could process the item one by one. Each item would be re-created from the JSON objects. This approach would avoid having to accumulate the JSON Array in memory before starting the processing.

[2021-11-14 08:42] cescoffier opened #21443 "Configuring query parameter from configuration using the Reactive REST Client"
### Description
This epic is about configuring per-class and per-method query parameters, with an annotation.
Values may come from the configuration.

[2021-11-14 08:44] cescoffier opened #21444 "Extend the Dev UI to list and use the REST Clients"
### Description

Extend the Dev UI to:

* list the REST Client that are defined in the application
* allows invoking the method to verify the result (a la Swagger)

[2021-11-14 08:47] cescoffier opened #21445 "JAX-RS like gRPC experience"
### Description

Java-first gRPC - provide JAX-RS-like experience for implementing gRPC endpoints:

* Support various marshallers (including Protobuf and in that case, it can generate the protobuf file )
* Allows implementing partial services

[2021-11-14 08:49] cescoffier opened #21446 "Collect gRPC client and server metrics"
### Description

Collect gRPC metrics for each service and clients.

### Analysis

[Some work](https://github.com/micrometer-metrics/micrometer/issues/656) has already been done in this area.

[2021-11-14 13:04] Xendar opened #21447 "Vertx thread blocked at startup"
### Describe the bug

When starting the dev mode on my machine on a fresh Quarkus project (for instance, just downloading a new app with no extensions from _code with quarkus_), I am getting some thread blocked at dev mode startup time. It does the same when starting the Jar file.
It does not prevent the app to start properly, but it delays the startup time of dozens of seconds.

### Expected beha

[2021-11-14 16:06] cescoffier commented on #21423
I got the reason - the ack comes from the Kafka polling thread and not from a Vert.x thread. That Kafka thread is required by the Kafka client execution model. We need to think about a way to fix that issue:

* emitting the callback on the Vert.x context is possible, but won't be free
* doing it only when co-routine are used?
* should we in this case, just create a Vert.x context is non-available?

[2021-11-14 16:09] cescoffier commented on #21367
I need to check why we activate the request context. It's not clear _when_ it should be deactivated, as the record processing is async (at least the acknowledgment will be) and so the thread can be used to manage other records. Basically, I would rather disable the request context when receiving messages.

@mkouba WDYT?

[2021-11-14 20:16] marcozanghi commented on #10716
I am also facing with the following error when I try to inject Flyway in a @Singleton @Startup annotated class :

`
2021-11-14 20:56:41,902 ERROR [io.qua.dep.dev.IsolatedDevModeMain] (main) Failed to start quarkus: java.lang.RuntimeException: io.quarkus.builder.BuildException: Build failure: Build failed due to errors  [error]: Build step io.quarkus.arc.deployment.ArcProcessor#validate threw an ex

[2021-11-14 20:17] Paul6552 commented on #21265
Sadly my tenant resolver is not in the shared JAR.

[2021-11-14 22:07] heubeck opened #21449 "Kubernetes extension: Add StatefulSet as manifest generation option"
### Description

As briefly discussed in [Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/k8s.20manifest.20generation), it would be great to being able to select StatefulSet as Kubernetes manifest generation option.

This issue is for discussion and tracking, I'd like to contribute this enhancement.

### Implementation ideas

Already started the implementation in [my fork]

[2021-11-14 23:37] stuartwdouglas commented on #21447
This looks like it is something network (DNS?) related on your machine, it looks like this bit is slow:

[code]

Unfortunately this is probably something Windows specific rather than something Quarkus related, so I am not really sure what the solution is here.

[2021-11-15 00:52] poulad commented on #3620
I'm evaluating Quarkus atm. It'd be nice to have a screenshot of this dependency graph in the docs.

https://github.com/geoand/quarkus/blob/master/docs/src/main/asciidoc/writing-extensions.adoc#239-visualizing-build-step-dependencies

[2021-11-15 00:57] stuartwdouglas commented on #21278
I just tested this out and it worked fine for me on Linux.

[2021-11-15 01:04] rgmz commented on #21297
Thanks for opening a PR, @heubeck.

Is there a compelling reason why a user would want to use `resteasy` instead of `resteasy-reactive`? In other words, is there a downside to recommending `resteasy-reactive` by default? I'm not familiar with the pros and cons of each.

[2021-11-15 01:27] stuartwdouglas commented on #21427
Where does the JPA plugin come from? If you use the `no-arg` plugin and set `<option>no-arg:annotation=javax.persistence.Entity</option>` I see this working fine.

[2021-11-15 01:43] stuartwdouglas commented on #21427
Ok, so it looks like somehow when it sees the 'jpa' plugin it maps it to `no-arg` with specific parameters, it seems like we don't take these presets into account: https://github.com/JetBrains/kotlin/blob/master/plugins/noarg/noarg-cli/src/NoArgPlugin.kt#L53

[2021-11-15 01:44] stuartwdouglas commented on #21427
Also note that this applies to dev mode in general, its not really continuous testing related.

[2021-11-15 02:57] kdubb commented on #21423
@cescoffier An identical exception is raised when using RabbitMQ connector.

This method:
[code]

Produces this stacktrace:
<details>
java.lang.IllegalStateException: No Vertx context found
	at io.quarkus.smallrye.reactivemessaging.runtime.kotlin.AbstractSubscribingCoroutineInvoker.invoke(AbstractSubscribingCoroutineInvoker.kt:16)
	at io.quarkus.smallrye.reactivemessaging.runtime.kotlin.AbstractSu

[2021-11-15 04:33] samueltan3972 opened #21450 "Ambiguous error description in UnableToParseMethodException for query is null in spring data jpa repository"
### Description

In line 85 of MethodNameParser.java of function parse in Spring Data JPA extension, where UnableToParseMethodException is throwed if the queryType is null. I found this error description is ambiguous or does not provide clear instruction on where the error is. This error is actually caused by does not defined @Query in the spring repositories or using wrong repositories which caus

[2021-11-15 05:29] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1460742726

[2021-11-15 06:10] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1460743068

[2021-11-15 07:01] cescoffier opened #21453 "Fairness issue when merging streams with Mutiny"
### Description
When merging streams with Mutiny, if one of these streams emits lots of items, it may starve the other streams as this fast-paced stream receives all the requests. This is a problem when using Kafka as the other streams (other partitions) receive the records but do not process them which leads to timeout issues.

### Analysis

It's a very complicated issue leading to the fact that

[2021-11-15 07:13] michalszynkiewicz commented on #21348
@radcortez WDYT about resigning from FallbackConfigSourceInterceptor for REST clients?

[2021-11-15 07:13] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1460752704

[2021-11-15 07:26] tgippi opened #21454 "Support for FileSystem Config Source"
### Description

I would like to mount external configuration sources which appear as a folder structure
[code]

I could write my own `ConfigSource` to read the properties, or I could use the `FileSystemConfigSource` from [smallrye-config-source-file-system](https://smallrye.io/docs/smallrye-config/config-sources/config-sources.html#filesystem-config-source).
Unfortunately, `smallrye-config-source

[2021-11-15 07:53] heubeck commented on #21297
I would for sure stay with RESTeasy, if it's about best possible stability.
But when using the Kotlin extension, which is considered experimental by itself, there's no reason against RESTEasy Reactive in my opinion - especially as you tent to use coroutines in a Kotlin app.

Happy to ready your obstacles in first adopting the Quarkus/Mutiny/Kotlin stack.

[2021-11-15 07:55] Ladicek commented on #21431
Note to self: this probably could be handled by manipulating the Fault Tolerance annotation model (which is constructed at build time in Quarkus). If the Quarkus SmallRye Fault Tolerance extension can determine that a method has `@Blocking` && is subject to Fault Tolerance && something else will offload to another thread, then the extension can replace the `@Blocking` annotation with `@Nonblocking

[2021-11-15 08:08] #21402 closed

[2021-11-15 08:16] michalszynkiewicz commented on #21358
@vladykin Thank you for your report!

A workaround, if you cannot add a scope-defining annotation on the interceptor class, would be to subclass it and add the annotations on the subclass:

[code]

[2021-11-15 08:35] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1460752249

[2021-11-15 08:57] apat59 opened #21455 "Quarkus quartz should not reschedule jobs on start"
### Describe the bug

Bug introduced by https://github.com/quarkusio/quarkus/issues/20538

Anytime quarkus starts it will reschedule jobs, not matter if the job config changed or not.
It's a tough decision, at best it should only detect changes and WARN, nothing else.
This can have serious collateral damages depending on what your jobs are doing.

If you are cleaning up your data once a year, you

[2021-11-15 09:29] #21012 closed

[2021-11-15 09:48] jerboaa commented on #21374
@sberyozkin Yes, getting those kinds of issues fixed upstream would be the best avenue.

[2021-11-15 09:50] mkouba commented on #21428
Hm, what's the point of turning a scheduled method into a coroutine? I mean it's not called directly from a user code and it's always executed on the main executor for blocking tasks. But I'm probably missing something here...

[2021-11-15 09:51] geoand commented on #21428
I assume so users can use coroutine enabled APIs

[2021-11-15 09:52] #21047 closed

[2021-11-15 10:04] gemmellr commented on #21402
Thanks @aloubyansky, change looks good.

[2021-11-15 10:41] mkouba commented on #21367
Hm, I cannot find the place where the request context is activated. Let me try to dig deeper...

[2021-11-15 10:46] sjaakd opened #21457 "HTTP CORS headers not included."
### Describe the bug

We have the following settings in our `application properties`

[code]

### Expected behavior

CORS headers included

### Actual behavior

CORS headers not included.

However, changing the configuration (strangly enough) to

[code]

Or omitting this setting altogether will trigger the headers.

which seems to be in conflict to the [documentation](https://quarkus.io/guides/htt

[2021-11-15 11:00] sberyozkin commented on #21457
@sjaakd Thanks, what happens if you do:
[code]

? Would like to see if the system property replacement is a problem or not

[2021-11-15 11:03] pjgg commented on #21412
Kafka-avro-serializers 6.2.1 is also covered by [this](https://github.com/quarkus-qe/quarkus-test-suite) testsuite

But yes definitely I think that we should also support in native mode the newest confluent serializer library. Please let me know if you need some support in order to move on to this issue.

[2021-11-15 11:09] mkouba commented on #21367
@cescoffier The request context is activated by SmallRye Context Propagation, and not only once for a given kafka message. I can see the similar stack traces:
[code]

[2021-11-15 12:24] cescoffier commented on #21367
That's why I wasn't able to find the reason in reactive messaging itself.

When context propagation is enabled, we capture the context in the subscription and restore it in each 'Mutiny stage'. We could try to configure context propagation to not propagate the request scope using Smallrye specific annotations, but I'm not totally sure where I would need to put them.

@FroMage any idea?

[2021-11-15 12:25] mkouba commented on #21420
Ok, in that case it might make sense. The thing is that `quarkus.qute.suffixes` does not prevent you from using any suffix/pattern in your app; it's merely a hint that is used by the locator so that you don't need to use the suffix for injection points.

Yes, it's a bit verbose, on the other hand it's not a common use case...

+1

[2021-11-15 12:31] kazik666 commented on #21110
Any news?

[2021-11-15 12:36] #21394 closed

[2021-11-15 12:57] radcortez commented on #19549
We discussed in the PR to provide a way to register the specific builders to customize how the Config is used. I can add the support for it in a separate PR.

[2021-11-15 12:59] radcortez commented on #21348
Fine by me.

[2021-11-15 13:20] #21425 closed

[2021-11-15 13:28] #21415 closed

[2021-11-15 13:32] Xendar commented on #21447
You got me digging into my network setup, and I noticed that I had ~20 network adapters created by VirtualBox for some reason I can't explain.
After doing some cleanup in there, the app starts more quickly (still taking ~10 seconds) but the exceptions are gone! The startup time is probably linked to something on my machine, so I guess I can close the ticket.
Thanks @stuartwdouglas for having a loo

[2021-11-15 13:35] languitar commented on #21427
So, as there already is something like the jpa preset in the code, that doesn't trigger because the no-arg plugin is not in the compiler plugin list? Or what is the bug here?

[2021-11-15 14:06] sjaakd commented on #21457
Just tried that locally.

![image](https://user-images.githubusercontent.com/6173283/141795306-ce9861b5-b8f6-4682-86c2-8cd906a5b768.png)

No effect.

[2021-11-15 14:10] sjaakd commented on #21457
Furthermore, I do use 2 `RouteFilter` (vertex). To include the `API-Version` and to make sure that openapi supports json-by-extension.

[code]

[code]

could that somewhat be related (did not find the time yet to investigate further and making a minimum reproducer).

[2021-11-15 14:14] lentgrew commented on #9123
@tgallin Hi, were you able to solve this? Can you provide more details? Thanks.

[2021-11-15 14:49] tgallin commented on #9123
Hi, unfortunately, I never solved this issue. As @typelean suggested it was a problem in the code of connections not properly closed I had a second look at our code but couldn't find places where I forgot to close the connections. I ended up disabling the pooling. I know this workaround is not great but the only that has worked for me so far. I haven't tried the latest quarkus version though.

qua

[2021-11-15 15:16] sjaakd commented on #21457
That is true.. I test locally. But the headers are included if i change to `quarkus.http.cors=false`. Also locally.  Moreover, the problem occurs also if you test with a remote browser (check my public reproducers).

And.. important: external verification fails on cors headers. Checkout: https://developer.overheid.nl/apis/minbzk-bro-grondwatermonitoringput-(gmw)-uitgifte/score-detail . Note: tonig

[2021-11-15 15:30] soframel commented on #17885
Hello,
I agree with goafabric, the solution using yaml on different lines in a configMap data does not work, Kubernetes expects configMap entries to be given as one line key-value pairs.
Is there a workaround for this? Because for now, we can either change the log levels for all categories at once in Kubernetes (using quarkus.log.level), or rebuild the application completely, to change the level i

[2021-11-15 16:38] #20624 closed

[2021-11-15 17:23] sberyozkin commented on #21457
@sjaakd So looks like it is about `quarkus-smallrye-openapi`. Vert.x CORS filter just does not do any work at all if no `Origin` is included - and it itself is not included if the CORS is disabled.
@phillip-kruger hey Phillip, can you check it please ? I see `OpenApiHandler` checks  `quarkus.http.cors` but not sure what are the expectations

[2021-11-15 18:13] #21323 closed

[2021-11-15 18:13] #21368 closed

[2021-11-15 21:06] artkonr opened #21469 "@Valid annotation treated as a bean"
### Describe the bug

If I create a config mapping interface and try to inject it anywhere (e.g. in a `@Producer` method) and place `@Valid` annotation on it, Quarkus seems to think that `@Valid` is actually the type of injected bean. Is this intended? Maybe config validation is supposed to be done only via `Validator`? With other beans it works.

I've also stumbled upon a ticket that describes a

[2021-11-15 21:11] typelean commented on #9123
I did spend a lot of time fiddling with my custom Jdbc library (jdbc 4.0 with postgres) and a lot of testing
all kinds of database operations... to get it working well.   So I am really hoping something could be
changed like mentioned (above) ("picky" modes vs easy-simple modes)... because for a while, I felt the pain
of having to support production with the "picky" Agroal, yet still needing conne

[2021-11-15 21:19] stuartwdouglas commented on #21427
Something in our code basically does not handle presets, only the plugin + parameters form. I had a quick look but it was not really obvious what was missing. As a workaround you can use no-arg directly and just list the annotations.

@Sanne on a semi related note, what do you think about having Quarkus automatically add no-arg constructors to JPA entities if it is missing?

[2021-11-15 21:22] crilofer commented on #20891
Same issue here. Working adding `--report-unsupported-elements-at-runtime` but shouldn't be the best option IMO...

[2021-11-15 21:44] languitar commented on #21427
Thank you for the explanations! We'll try that.

[2021-11-15 21:52] famod commented on #10870
I'm having a look!

[2021-11-15 23:23] famod commented on #21469
/cc @radcortez

[2021-11-15 23:23] mostafacs commented on #19280
Try add this dependency

[code]

instead of

[code]

probably it will fix it.

[2021-11-16 04:26] #21375 closed

[2021-11-16 04:55] mschorsch commented on #21428
That's the point.

With this change other suspend functions can be called directly.

[2021-11-16 05:26] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1465387534

[2021-11-16 05:37] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1465388008

[2021-11-16 06:34] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1465399040

[2021-11-16 07:17] sjaakd commented on #21457
An interesting observation: after a rerun of the test last night I noticed that another design rule is failing. The API-Version header (see `@RouteFilter` above) which seems suddenly gone missing. That suggests that the now included CORS headers remove the other response headers somehow (set by the `@RouteFilter`). Checkout: https://publiek.broservices.nl/gm/gmw-v1.1/openapi.json and this [report

[2021-11-16 07:23] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1465387534

[2021-11-16 07:50] phillip-kruger commented on #21457
Hi @sjaakd @sberyozkin - Happy to have a look. Please provide a small reproducer that I can run locally. Thanks :)

[2021-11-16 07:56] galderz opened #21479 "Kogito native quickstarts failing"
### Describe the bug

See https://github.com/quarkusio/quarkus-quickstarts/runs/4219679853?check_suite_focus=true

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quar

[2021-11-16 07:56] mkouba commented on #21428
Ok, contributions are welcome. I have no idea what needs to be implemented ;-).

[2021-11-16 07:58] galderz commented on #21479
This also affects optaplanner:

[code]

[2021-11-16 07:58] galderz commented on #6588
Kogito and Optaplanner quickstarts affected: https://github.com/quarkusio/quarkus/issues/21479

[2021-11-16 08:07] sjaakd commented on #21457
Hi @phillip-kruger thanks.. I'll do my best to provide one as soon as possible (hopefully a bit later this week).

[2021-11-16 08:23] cescoffier commented on #21370
Closed by #21464

[2021-11-16 08:23] #21370 closed

[2021-11-16 08:38] evacchi commented on #21479
@galderz just to isolate the issue, has the GraalVM changed recently or...? it doesn't look like it comes from a recent change on our side. That said, we will look into it

[2021-11-16 08:44] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1465398763

[2021-11-16 09:03] galderz commented on #21370
Nice fix! Thx @cescoffier

[2021-11-16 09:05] galderz commented on #21479
@evacchi It has been failing for almost 2 weeks. First failure is [here](https://github.com/quarkusio/quarkus-quickstarts/runs/4087781704?check_suite_focus=true).

[2021-11-16 09:08] galderz commented on #21479
[Update to GraalVM 21.3](https://github.com/quarkusio/quarkus/pull/20894) happened 2 weeks ago, so chances are it's related to that.

[2021-11-16 10:50] mariofusco commented on #21479
@galderz @evacchi I gave it a try locally, but I have to say that `it works on my machine`. I'm running with graal 21.3.0, see log below, am I missing something?

[code]

[2021-11-16 10:58] Sanne commented on #21427
I'm skeptical - if the default constructor is missing, it implies another one was added explicitly - most likely to initialize some state - which the user then expects to be initialized. I doubt people add unnecessary constructors for fun. How would you handle that?

In particular, can you guarantee we produce valid bytecode if there's `final` fields that require initialization?

I tend to prefer

[2021-11-16 11:01] mariofusco commented on #21479
@galderz We're exactly on the same version of graal: `GraalVM 21.3.0 Java 11 CE (Java Version 11.0.13+7-jvmci-21.3-b05)`
The only difference that I see is that in your case the native image builder ran inside docker, but I don't see how this could make any difference.

[2021-11-16 11:03] maxandersen commented on #18879
issue is not correct. no matter what option you take you need to restart/refresh your shell to have quarkus in the path after this (unless you already have jbang installed).

[2021-11-16 11:03] #18879 closed

[2021-11-16 11:12] Sanne commented on #9123
@typelean could you share some more details please?

To be fair I really do like Agroal being very precise in its demands, as otherwise people seem to have many ways to shoot themselves in the foot without even realizing how critical it is to get this right.

But of course details matter, especially if you know what you're doing we could use your feedback to make it better and/or more flexible.

[2021-11-16 11:53] mariofusco commented on #21479
@galderz @evacchi just to be sure I also tried to build it against latest quarkus main (see `999-SNAPSHOT`) which I also built locally, but it still works for me.

[code]

[2021-11-16 12:22] michalszynkiewicz commented on #21317
@geoand do you remember what's the reason for checking if host:port that Quarkus listens to is printed in the log and not for the info that Quarkus has started?

[2021-11-16 12:25] geoand commented on #21317
This is needed to support HTTP services that have a random port set.

If this should not be done for gRPC services, then we might need something custom

[2021-11-16 12:30] michalszynkiewicz commented on #21317
With grpc, and without http, we don't have this line in the log at all. I'll try to figure something out for this case.

[2021-11-16 12:46] maxandersen opened #21481 "Support Java 17"
### Description
Java 17 is out and Quarkus JVM works with Java 17 but native image needs updating and devtools/code quarkus not fully covered.

Using this epic to track status

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

[2021-11-16 12:47] #10870 closed

[2021-11-16 13:02] famod commented on #21481
One question here would be about CI (or nightly jobs). Do we need more Java 17 coverage? It seems so.

[2021-11-16 13:17] artkonr commented on #21469
Thanks, @radcortez , got it.

I was just trying to apply the general approach to validation, figured it should work this way. The part of the documentation which describes config value validation seemed a bit vague to me on this account, it doesn't mention that the validation is done automatically. I'd probably add a note that client code does not need to validate the config-mapped interfaces manu

[2021-11-16 13:22] gsmet commented on #21469
I agree this is a bit weird, `@Valid` shouldn't have any implications on CDI beans. @radcortez could you have a quick look at the reproducer?

[2021-11-16 13:24] typelean commented on #9123
To be honest, I am not confident of being able to help much... I am sorry... Yes, I have my own jdbc library because
I don't like the bloat of JPA and I don't even like the complexity of weird things like Ibatis, when all it really takes is
a thin layer over Jdbc (I am basing the queries on RowSet JDCB 4.0) and my close statements are like (below).
And these close statements are called at various

[2021-11-16 13:29] radcortez commented on #21469
Sure. Let's clarify the documentation.

The `@Valid` is not required, but it shouldn't fail either. I'll have a look. For now, just remove the annotation, it will work without it anyway.

[2021-11-16 13:29] radcortez commented on #21469
Sure, I'll have a look.

[2021-11-16 13:47] radcortez commented on #21407
For a workaround, you can place a `@ConfigMapping(namingStrategy = ConfigMapping.NamingStrategy.VERBATIM)` in the
`ClientConfiguration`.

[2021-11-16 13:51] survivant opened #21484 "Enhancement : Send commands to extension in the dev console"
### Description

I'm using the extension oidc.  I'm running to application with `` mvn quarkus:dev``

I would like to export my realms from keycloak.  I can't use the UI because the users and secrets won't be exported from the admin UI.  So I need to launch a command to docker to export the realm followed by a command to retrieve the file.

The commands look like that
[code]

I would like to be ab

[2021-11-16 14:13] Sanne commented on #9123
Don't worry :) Just trying to understand your perspective.

Ok you don't like JPA - fair enough, it's not a fit for all use cases. But this doesn't imply you have to use your own JDBC library - what do you mean by that, not a custom JDBC implementation but rather you're suggesting you have your own thin layer **above** the JDBC datasource pool, right?

Interesting point there; I'll think about it.

[2021-11-16 14:24] maxandersen commented on #21481
good question @famod - what java 17 coverage do we actually have enabled in CI now ?

[2021-11-16 14:28] maxandersen commented on #21484
interesting idea - we've discussed in past  to have api endpoints in devui we could access from a terminal ...this is a bit more where you can navigate list of commands of extensions.

@stuartwdouglas wdyt?

[2021-11-16 14:28] ccarv commented on #19660
@yrodiere Ah, as with most with things. Thank you for spearheading this.

[2021-11-16 14:50] hmchangm commented on #21297
Hi @rgmz
I have a sample project with quarkus & kotlin coroutines and also arrow kt.
https://github.com/hmchangm/quarkus-reactive-kotlin

[2021-11-16 14:59] ia3andy commented on #20323
@aloubyansky @ebullient  currently the hardest thing to maintain in codestarts is forward compatibility (non updated tooling with recent platforms). For this we could easily introduce a warning (or even fail) when the version gap is too big (TBD).

[2021-11-16 15:10] typelean commented on #9123
At this point I am fine with the way Agroal works and I don't need a "picky" mode (The way it is now) or a "lenient" mode (like DBCP was in my experience) because I have fixed my "thin layer" over JDBC and all is working fine in Dev and Production.   The point I'm trying to make is not to run a different mode in production... but while I was in a state where I had not resolved all the "picky" issu

[2021-11-16 15:17] sberyozkin commented on #21484
@survivant `DevServicies for Keycloak` start their own container - so no sure about starting another standalone container from the Dev Console - but other than that, indeed, being able to request Dev Services to do some actions from the console is interesting as Max also said.

In meantime, you can export the realms using a `Keycloak Admin` option in the Dev UI.

@stuartwdouglas I wonder if #20628

[2021-11-16 15:24] survivant commented on #21484
@sberyozkin I'm not talking about launching a new container, but rather sending commands to container launched by ``DevServices for Keycloak``

for Keycloak, we can really used the export in the UI because the export won't include users and secrets.  To get a full export we need to connect into the container and use the export option .  I have a example that is working.

main script launch on the

[2021-11-16 15:32] zenonwch opened #21487 "quarkus.arc.test.disable-application-lifecycle-observers doesn't work for the dependency .jar"
### Describe the bug

I have a dependency jar in which there is an ApplicatonScoped class with method onStart(@Observes StartupEvent ev)

When I run my tests with the quarkus.arc.test.disable-application-lifecycle-observers=true all events in methods with StartupEvent in my application are disabled, but method from the dependency lib a still works :(.

### Expected behavior

quarkus.arc.test.disab

[2021-11-16 15:39] xstefank opened #21488 "quarkus.rest-client.* properties not present in all-config guide"
### Describe the bug

`quarkus.rest-client.*` properties are not included in https://quarkus.io/guides/all-config. Not sure if this is intended.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

[2021-11-16 16:02] mvmandapati opened #21490 "@RolesAllowed annotation broken for resources returning a Multi"
### Describe the bug

`@RolesAllowed` is being ignored for endpoints returning a Multi. I think the issue introduced by #21270

### Expected behavior

When expected roles are missing, API should fail with Forbidden Error (403)

### Actual behavior

Received 200 OK response

### How to Reproduce?

https://github.com/mvmandapati/reactive-routes

Steps:

1. Run mvn clean verify to see the failure

##

[2021-11-16 16:02] sberyozkin commented on #21484
@survivant Sure, you typed the command which starts a separate container so I assumed this is what you wanted to do - but I see it was just an example.
OK, so as I said I agree it would be interesting to request something from Dev Services via the console and hopefully Stuart will figure out how it can be done in a generic way; perhaps each `DevServices` can provide a resource listing the supporte

[2021-11-16 16:14] radcortez commented on #21407
Fixed in SR Config. Will require SR Config 2.6.1.

[2021-11-16 16:14] survivant commented on #21484
@sberyozkin fyi (https://github.com/keycloak/keycloak-documentation/blob/main/server_admin/topics/export-import.adoc)

[code]

That was my issue.  The admin UI is not a backup/restore solution.  Now a have a manual solution to export my config after I'm done playing with the data.

[2021-11-16 16:29] evanchooly commented on #21428
I'm not convinced the complexity is worth it.  It's trivially simple to launch subsequent suspend functions via `runBlocking` or `launch`.  Given the asynchronous out-of band execution of the functions it feels like time could be better spent on more user facing concerns.

[2021-11-16 16:50] mkouba commented on #21487
So we intentionally only disable the `StartupEvent` and `ShutdownEvent` observers declared on _application bean classes_ during the tests (i.e. classes from the application root and possibly other modules in a multi-module app). See also the config property description: https://quarkus.io/guides/cdi-reference#quarkus-arc_quarkus.arc.test.disable-application-lifecycle-observers and the discussion i

[2021-11-16 16:50] #21487 closed

[2021-11-16 16:59] famod commented on #21481
The following modules are _not_ executed with Java 17:
- integration-tests/devtools
- integration-tests/gradle
- integration-tests/maven
- tcks

Plus: No native tests, AFAICS, but I'm not really up to date with which GraalVM version we are running currently.

Ironically, the nightly EA job (using 18-ea currently) is covering all those (except native).
PS: Seems I forgot to create a houskeeping iss

[2021-11-16 17:16] sberyozkin commented on #21484
@survivant I see; can you check please if `quarkus-keycloak-admin` can do it ? (Most likely with `keycloak.realm("myRealm").toRepresentation();`). I think it has to work via the admin API for Dev Services for Keycloak to support it via the action request from the console

[2021-11-16 17:22] #21454 closed

[2021-11-16 18:10] edeandrea opened #21492 "ConstraintViolation - Reactive endpoint in RESTEasy reactive doesn't behave the same as a blocking endpoint"
### Describe the bug

When using RESTEasy reactive, code which throws `ConstraintViolationException` behaves differently whether or not the jax-rs endpoint is a reactive endpoint or not.

### Expected behavior

I would expect that any downstream code which throws `ConstraintViolationException` to be interpreted by RESTEasy reactive and handled appropriately, returning an http `400` status.

### Ac

[2021-11-16 18:21] zenonwch commented on #21487
Thanks,  quarkus.class-loading.reloadable-artifacts works for my case.

[2021-11-16 18:23] survivant commented on #21484
@sberyozkin I checked that few days ago and I think the problem was that the API doesn't return all the contents.  Let me explain.  getRealmRepresentation will return the root of the Realm, without the users/roles/... we have to do a call to retrieve each of them manually.  It's painful to do and you could miss information.

[2021-11-16 18:57] cescoffier commented on #21297
We are recommending RestEasy reactive. See https://quarkus.io/blog/resteasy-reactive-smart-dispatch/.

RestEasy is still supported, but the reactive variant provides more features.

[2021-11-16 19:03] cescoffier commented on #21412
I should be able to fix it. Is there a way to extract a reproducer from your test suite? It would be great to have something in Quarkus itself.

[2021-11-16 20:18] teksupp12 commented on #16613
I am also facing the same issue. Could someone please help!

I expect quarkus:dev to use my db2jcc_license_cisuz dependency as it works with mvn install + run jar

It worked fine till 1.13.* version. However after upgrading quarkus version to 2.0.* I am seeing this issue :(

[2021-11-16 20:40] Sanne commented on #16613
hi @mswatosh - could you have a look at this please?

[2021-11-16 20:52] michalszynkiewicz commented on #21358
I took a deeper look into it and it's not trivial to implement.
Moreover, I believe the workaround above should let users handle all their use cases.
Please let me know if it doesn't work for you.

[2021-11-16 21:57] rgmz opened #21500 "OIDC `CodeAuthenticationMechanism` should not fail silently"
### Description

When users are [redirected](https://quarkus.io/guides/security-openid-connect-web-authentication#redirection) back to Quarkus  after authentication, it's possible for their request to 'fail silently' (return a 401 with no body) if there's an issue calling the token endpoint. Because no body is returned, and errors are logged at `debug` level, it can be difficult to troubleshoot th

[2021-11-16 22:37] sberyozkin commented on #21500
Hi @rgmz

Thanks for opening this issue, but IMHO it won't need to be addressed.
The same guide has a section, [How to check the errors in the logs](https://quarkus.io/version/main/guides/security-openid-connect-web-authentication#how-to-check-the-errors-in-the-logs) (it is less visible in the `2.4-LATEST` guide) - 401 does warrant checking the logs.

Let me also comment further

We don't do it fo

[2021-11-16 22:40] sberyozkin commented on #21500
Marking it as a OIDC web-app guide bug

[2021-11-16 22:42] sberyozkin commented on #20627
I'll be looking at this doc issue quite soon

[2021-11-16 22:43] rgmz commented on #21500
@sberyozkin: Thanks for the quick reply; I'll provide a thoughtful response later.

I also noticed that the [UserInfo section](https://quarkus.io/guides/security-openid-connect-web-authentication#user-info) of that guide refers to `quarkus.oidc.user-info-required`, which isn't a known configuration key (it should be `quarkus.oidc.authenticaton.user-info-required`).

If I noticed any other issues w

[2021-11-16 22:47] sberyozkin commented on #21500
Hi @rgmz Oh, thanks for spotting it :-). It would be fine to open dedicated issues, the epic issue is a high level one to improve the security docs. If you'd like, please create the one for the userinfo typo, a PR will be welcome too

[2021-11-16 22:53] rgmz opened #21504 "OIDC Web Application guide has invalid user info property"
### Describe the bug

In the "Using OpenID Connect (OIDC) to Protect Web Applications..." guide, the [User Info section](https://quarkus.io/guides/security-openid-connect-web-authentication#user-info) refers to `quarkus.oidc.user-info-required`, which isn't a known configuration key.

### Expected behavior

It should be `quarkus.oidc.authentication.user-info-required`.

[2021-11-16 23:01] sberyozkin opened #21506 "OidcClient should not require 3 properties to point to a non-discoverable token endpoint"
### Description

Several users have to deal with configuring `OidcClient` to talk to non-standard OIDC or OAuth2 servers which do not support the discovery, for example:
[code]

The first 2 properties should not be required given that even now `quarkus.oidc-client.token-path` can be set to an absolute URL such as `http://server.com/token`.

The above pattern is used because `OidcClientConfig` shar

[2021-11-16 23:23] snowe2010 commented on #21282
@patriot1burke Creating an app on quarkus.io with just the `kotlin`, `lambda`, and `rest-client` options results in an unrunnable build due to the 8080 thing. It automatically adds all the rest assured/rest easy stuff. I think that's why I encountered this issue.

[2021-11-17 01:22] weir2010 opened #21507 "tekton task mvn report error 401 Unauthorized"
### Describe the bug

Reference articles：https://www.infoq.com/articles/microservicilities-tekton/

error info:

[INFO]
[INFO] --- quarkus-maven-plugin:2.4.2.Final:build (default) @ quarkus-member-system ---
[INFO] [org.jboss.threads] JBoss Threads version 3.4.2.Final
[INFO] [org.hibernate.Version] HHH000412: Hibernate ORM core version 5.6.1.Final
[INFO] [io.quarkus.container.image.jib.deployment.

[2021-11-17 03:24] rgmz opened #21508 "Quarkus testing guide: "TestContainers example" no longer exists"
### Describe the bug

In the ["Starting services before the Quarkus application starts"](https://quarkus.io/guides/getting-started-testing#quarkus-test-resource) section, the link to the TestContainers example returns a 404:

[Based on the commit that removed `KafkaResource`](https://github.com/quarkusio/quarkus-quickstarts/commit/10fc4263915837221ec310acd5fb424828a099e0), TestContainers may have

[2021-11-17 05:16] rgmz opened #21509 "SmallRye OpenAPI includes coroutine context in schema"
### Describe the bug

When using the `quarkus-smallrye-openapi` extension with routes that use `suspend fun` (Kotlin coroutines), the generated OpenAPI specification will show coroutine continuations (`ContinuationSuperResponse` or `ContinuationSuperList`)  as the request body schema.

<details>
<summary>OpenAPI sample (click to expand)</summary>

[code]
</details>

### Expected behavior

The inte

[2021-11-17 05:27] rgmz commented on #21509
Here's the decompiled code from the reproducer, for reference. It seems like ignoring `kotlin.coroutines.Continuation` should do the trick.

<details>
<summary>Decompiled Kotlin code (click to expand)</summary>

[code]

</details>

[2021-11-17 05:55] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1470111384

[2021-11-17 06:33] plopezm commented on #3532
Is there any solution to this issue? A workaround is very welcome

[2021-11-17 06:34] vladykin commented on #21358
Thank you, I can use the suggested workaround or put the CDI annotation directly on the LoggingServerInterceptor.
My personal preference is to use producer methods for constructing and configuring beans, but if that's not possible in this case, I can live with that.

[2021-11-17 06:57] ishumov opened #21512 "Add support of mTLS in Spring Cloud Config Client"
### Describe the bug

I'd like to use Spring Cloud Config Client to connect to our Spring Cloud Config Server using mTLS. But after providing corresponding truststore.ks an keystore.ks in spring-cloud-config section I figured out that keystore.ks is used as a parameter for webClientOptions.setTrustStoreOptions instead of webClientOptions.setKeyStoreOptions. So no client certs could be sent to serv

[2021-11-17 07:57] magnusvage opened #21514 "java.lang.OutOfMemoryError: Direct Buffer Memory in Netty"
### Describe the bug

I'm running Quarkus 2.3.1, Redisson 3.16.0. Whenever the application comes under a bit of load, I start getting out of memory errors in Netty. Googling makes me suspect garbage collection issues, but deciphering the run-java shell script in the Quarkus included Dockerfile is a challenge. The issues started when moving from imperative to reactive REST endpoints in my applicati

[2021-11-17 08:10] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1470111113

[2021-11-17 08:25] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1470111113

[2021-11-17 08:33] sjaakd commented on #21457
@phillip-kruger , @sberyozkin : the reproducer can be found [here](https://github.com/sjaakd/reproducer_corrs). Thanks for looking into this!.

[2021-11-17 09:21] ThoSap opened #21515 "No 2.5.0.CR1 artifacts exist for Quarkus Gradle Plugin and Gradle Application Plugin"
### Describe the bug

In the MVN repository, no artifacts exist for Quarkus version `2.5.0.CR1`
- Quarkus Gradle Plugin -> https://mvnrepository.com/artifact/io.quarkus/io.quarkus.gradle.plugin?repo=gradle-plugins
- Gradle Application Plugin -> https://mvnrepository.com/artifact/io.quarkus/gradle-application-plugin

### Expected behavior

Artifacts should exist for Quarkus version `2.5.0.CR1` in t

[2021-11-17 09:25] gsmet commented on #21515
Thanks for the report. We stumbled upon it a few days ago.

It should be fixed for 2.5.0.Final: https://github.com/quarkusio/quarkus/pull/21485 .

[2021-11-17 09:25] #21515 closed

[2021-11-17 09:33] michalszynkiewicz commented on #21358
I understand it's more convenient in some cases, I'm not closing this issue.
What I wanted to say is that, having a work around, and being non-trivial, I don't consider this a high priority feature request.

[2021-11-17 09:35] #21504 closed

[2021-11-17 09:42] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1470120817

[2021-11-17 09:43] #21412 closed

[2021-11-17 09:43] #21469 closed

[2021-11-17 10:21] ozangunalp commented on #21306
@davideginna if you add a work-in-progress counter you'll see that many threads enter the method.

[code]

[2021-11-17 10:32] zakkak commented on #21481
@famod regarding native-image testing I am planning to create pipelines for testing Quarkus (running its integration tests) with Mandrel on Java 17. This would give us some info, but it would of course not ensure that no breaking changes make it to Quarkus moving forward.

We are currently running with 21.3-java11

[2021-11-17 11:52] manovotn commented on #3532
No solution or workaround ATM. I don't think we came up with a viable way to do this.

This feature is very much runtime oriented (as dictated by spec) and anything we could do would be Quarkus-specific as we'd need an upfront information on what classes to generate at build time.
The closest thing is what Martin suggested in https://github.com/quarkusio/quarkus/issues/3532#issuecomment-896609666

[2021-11-17 11:53] pjgg opened #21516 "`quarkus-hibernate-validator` brings a dependency that is not supported in native mode"
### Describe the bug

Quarkus version: Upstream / `999-SNAPSHOT`

`quarkus-hibernate-validator` brings `javax/ws/rs/ext/ExceptionMapper` that throw a not found exception in native mode

Error trace:

[code]

### Expected behavior

Same behavior in JVM and native mode

### Actual behavior

Fails in native mode

### How to Reproduce?

`git clone https://github.com/quarkus-qe/beefy-scenarios.git`
`mv

[2021-11-17 11:55] gsmet commented on #21516
Which GraalVM version are you using, just to be sure?

[2021-11-17 12:13] pjgg commented on #21516
`GraalVM 21.3.0 Java 11 CE (Java Version 11.0.13+7-jvmci-21.3-b05)`

[2021-11-17 12:24] #21350 closed

[2021-11-17 12:28] #21514 closed

[2021-11-17 13:37] moisaluc commented on #6112
Hi, are these guys already supported?

- org.hibernate.envers.audit_strategy

- org.hibernate.envers.do_not_audit_optimistic_locking_field

And if not, would it be possible for them to be added?
We are migrating from an EJB application and would like to drop the existing persistence.xml file and go full application.properties in configuring it.

[2021-11-17 13:40] survivant opened #21517 "Health-UI call the wrong URL for health"
### Describe the bug

I have this dependency in my pom.xml (Quarkus 2.4.2.Final)
[code]

if I enter this url : http://localhost:8080/q/health

I'll obtain this
[code]
but if I enter this : http://localhost:8080/q/health-ui/

I'll obtain this error

Why the url in the UI is trying to retreive this http://localhost:8080/health instead of http://localhost:8080/q/health

### Expected behavior

_No res

[2021-11-17 13:42] gsmet commented on #21517
@phillip-kruger you might also be interested by this one given it's a UI issue.

[2021-11-17 13:50] phillip-kruger commented on #21517
I'll have a look. as a workaround, you can set the url by clicking the gear icon in the UI and change the url in the for to /q/health

[2021-11-17 14:08] michalszynkiewicz commented on #21044
unfortunately the fix caused security annotations not to work on endpoints returning Multi

[2021-11-17 14:12] Sanne commented on #6112
hi @moisaluc - no these aren't supported yet; please open a new issue to track the request: it should be really straight forward.

You could also try to contribute the patch yourself; have a look at the previous patch for an example:
 - https://github.com/quarkusio/quarkus/pull/21289/files

[2021-11-17 14:16] Itoriem opened #21519 "Kotlin: ArcUndeclaredThrowableException since 1.13.x"
### Describe the bug

Hello,
since Quarkus 1.13.x an ArcUndeclaredThrowableException is thrown when the method has no annotation @Throws(Exception::class) and an exception is thrown by called method.

My code is written in Kotlin and it works in Quarkus 1.12.x but not in 1.13.x.

Exception thrown :
[code]

Thanks

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to

[2021-11-17 14:19] michalszynkiewicz commented on #21444
I assume invoking is for CDI-registered clients only, programmatic ones have no configuration in the MP Config.

I'll see if I can include the ones that have no CDI beans in the list too

[2021-11-17 14:32] jeffmaury opened #21520 "Gradle builds are now failing"
### Describe the bug

Generated a Quarkus app on code.quarkus.io (using Gradle) and ran:

`./gradlew build`

### Expected behavior

Build should be ok

### Actual behavior

Missing dependencies:

[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

#

[2021-11-17 14:35] glefloch commented on #21520
Thanks for reporting this. We fixed this in #21485. it should be ok for 2.5.0.Final

[2021-11-17 14:35] #21520 closed

[2021-11-17 14:45] sberyozkin opened #21521 "Improve OIDC web-app guide with an example singing in to Google"
### Description

It would help if we could show, with another quickstart, how Quarkus can directly integrate with Google Sign In process

### Implementation ideas

_No response_

[2021-11-17 15:04] mswatosh commented on #16613
@Sanne Let me know if I'm not reading this right, but it sounds like this is a classloading issue with Dev mode? Since it's working with mvn package

[2021-11-17 15:30] Sanne commented on #16613
hi Mark! Yes I agree, it's most likely related to classloaders. The
puzzling aspect is that such things generally work fine, so it would be
useful to look at what the driver code is doing which is particular in this
case.

On Wed, 17 Nov 2021, 15:04 Mark Swatosh, ***@***.***> wrote:

[2021-11-17 15:37] nvrs commented on #21265
For what it's worth, we are seeing the same issue and -- as far as I can tell by looking at the posted configuration -- one thing we have in common with @Paul6552 is that we are using Flyway and we have set too
`quarkus.flyway.migrate-at-start=false
`

In our case the error gets printed in our case just before flyway migration kicks in.

[2021-11-17 15:57] #18105 closed

[2021-11-17 17:26] barreiro commented on #9123
A few features were added to Agroal and exposed on Quarkus to help developers with the correctness of their applications.

- [Transaction Requirement](https://quarkus.io/guides/datasource#quarkus-agroal_quarkus.datasource.jdbc.transaction-requirement) - this setting ensures that all connections are acquired on the context of a transaction.
- [Extended leak report](https://quarkus.io/guides/datasou

[2021-11-17 17:44] mswatosh commented on #16613
I just realized this is the about JDBC driver (the JCC driver) not the reactive driver. Unfortunately I don't have access to the JCC driver, it's maintained by a third party company now. Based on the license file however, I can guess that all the JCC driver is doing is checking if the classes provided by the license jar are on the classpath, and if so then it allows the connection. So I believe th

[2021-11-17 17:53] #21490 closed

[2021-11-17 18:33] snowe2010 opened #21523 "amazon-lambda fails when paired with oidc-client in dev mode"
### Describe the bug

I'm attempting to call an api from an Amazon Lambda. The api is authenticated by OIDC, so with help from @sberyozkin [in zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/.E2.9C.94.20OAuth.202.20authorization.20for.20RestClient), I got OIDC working through a regular jaxrs Resource. But when attempting to switch this out for a RequestHandler (or RequestS

[2021-11-17 18:53] sberyozkin commented on #21523
@snowe2010 The reproducer repo does not show any OIDC configuration

[2021-11-17 20:59] vhmolinar commented on #20896
Hello @gsmet @glefloch ;

The fix had solved the issue until I added a new quarkus extension (quarkus-keycloak-admin-client) which brought back commons-logging dependencies.

So it seems that it is not okay yet. Should this be reopened?

[2021-11-17 21:29] snowe2010 commented on #21523
@sberyozkin yes, but it should at least succeed at starting up, which is does with rest-client and it doesn't with amazon-lambda. I don't know what OIDC config I could put in here that would actually work for demonstration purposes. If you have one I can update the reproducer, but as it is, it demonstrates the issue as I see it even with the config missing.

[2021-11-18 02:46] snowe2010 commented on #21282
@patriot1burke it also appears that kogito depends on using vertx regardless, so I'm not sure how I'm supposed to remove the dependency here. Following Edoardo's suggestion just results in more and more errors, the more dependencies I exclude. A config option to disable or change this port would probably resolve the problem until it can get figured out a different way.

[2021-11-18 05:21] delongmeng commented on #18727
Hi @radcortez I'm working on this issue. Can you reminder me in your original post where can I find the java code:
[code]
? Thanks!

[2021-11-18 06:00] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1474958457

[2021-11-18 07:22] mkouba commented on #21044
Do we have a test for this particular use case?

[2021-11-18 07:53] delongmeng commented on #18727
Hi @radcortez I'd like to work on this enhancement but am not familiar enough with the smallrye-config. Could you please elaborate a little bit more on the potential steps of implement the enhancement? Thanks!

[2021-11-18 08:14] ennishol commented on #20231
Hi @stuartwdouglas, any chance to add this handy option soon?

[2021-11-18 08:16] ennishol opened #21528 "Mutiny Uni.join().first(list) dosn't compile"
### Describe the bug

        Uni<String> c = Uni.createFrom().item("C");
        Uni<String> d = Uni.createFrom().item("D");
        List<Uni<String>> asList = new ArrayList<>();
        asList.add(c);
        asList.add(d);

        Uni.join().first(asList).withItem();

'Cannot resolve method 'first(java.util.List<io.smallrye.mutiny.Uni<java.lang.String>>)'

### Expected behavior

_No response_

[2021-11-18 08:24] iompo commented on #21278
Hi,
tried again on ubuntu 18.04.6 with openjdk 11.0.11+9 and node 12.6.0. It does not work. @stuartwdouglas
what version of linux/node are you using?

[2021-11-18 08:31] rsynek commented on #11563
@danielezonca hasn't been the https://issues.redhat.com/browse/KOGITO-6236 already fixed? I can see the same error that requires the `quarkus-resteasy-jackson` to be available on the classpath (I can reproduce locally).
It looks like the `optaplanner` capability has been properly detected, but the REST generation proceeds nevertheless; see the logs:
"Disabling Kogito REST generation because OptaPl

[2021-11-18 08:44] evacchi commented on #11563
it's a similar issue, for a different file. This is the PR that should fix it https://github.com/kiegroup/kogito-runtimes/pull/1726

[2021-11-18 09:03] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1474968463

[2021-11-18 09:09] michalszynkiewicz commented on #21044
Apparently we only have a test for `Uni` :(

[2021-11-18 09:15] jponge commented on #21528
This is due to generics, the following works:

[code]

[2021-11-18 09:28] rmarting commented on #20890
I can confirm that this issue is already present with the latest versions of:

* Quarkus 2.4.2.Final
* Apicurio 2.1.2.Final (apicurio-registry-serdes-avro-serde, quarkus-apicurio-registry-avro)

The latest stacktrace with these versions is:

[code]

So, definitely it is blocking to use it for native mode. Ideas?

@EricWittmann Do you think that this issue should be tracked also in Apicurio project

[2021-11-18 09:33] mmusgrov commented on #21335
The output that you posted says:

[code]
This log entry says that the transaction timed out and we called rollback and that produced this trace because your example application is still active (in the call to `Thread.sleep(6000);`). That indicates that the transaction manager is correctly trying to rollback the transaction.

[2021-11-18 09:41] mayankkunwar commented on #21335
I tried to run the reproducer code in my system with Quarkus CDI and I can see that it is working as expected. And I am not able to reproduce errors as mentioned in the previous statements.

[2021-11-18 09:45] VoidAspect opened #21529 "quarkus-avro: support UUID logical type"
### Description

Currently, the "uuid" logical type in the .avsc schema is interpreted as a String, and there's no validation to check if this string is a valid UUID.

### Implementation ideas

We can use an existing `org.apache.avro.Conversions.UUIDConversion` class and register it on the compiler.

[2021-11-18 09:50] phillip-kruger commented on #21517
@xstefank will look at this

[2021-11-18 10:09] ennishol commented on #21528
@jponge Yes, but not practical, if we get unis list (`List<Uni<String>>`) from elsewhere then additional code is required:
[code]

[2021-11-18 10:12] jponge commented on #21528
Yes I'm thinking of revisiting generics here.

[2021-11-18 10:21] sberyozkin commented on #21523
@snowe2010 The following answer provides a good summary, https://stackoverflow.com/a/38721897/1133928

[2021-11-18 10:54] rmarting commented on #20890
I created a sample application where you could check and verify this issue: https://github.com/rmarting/kafka-clients-quarkus-sample/tree/feat-quarkus-2.4

If you compile in native mode, you will get the issue. Tested and verified in CRC.

[2021-11-18 11:52] mmusgrov commented on #21335
@HelvetiaAppDev I added a CDI test for this to our narayana test suite [1]. If you want to have a similar test in quarkus then please raise an issue for it.

[1] https://github.com/jbosstm/narayana/blob/master/ArjunaJTA/cdi/tests/classes/com/hp/mwtests/ts/jta/cdi/transactionScoped/TransactionScopeLifecycleEventsTest.java#L184

[2021-11-18 11:58] nikosk686 opened #21533 "quarkus-rest-client-reactive related configuration properties problem"
### Describe the bug

Seems to be related to this [one](https://github.com/quarkusio/quarkus/issues/15032)

Tests ignore the `%test` properties for rest clients and try to use the `%prod` ones instead.
So having properties like these causes a failure in test that try to expand the prod value
[code]

### Expected behavior

Tests should use the correct profile's properties of rest clients

### Actua

[2021-11-18 12:05] pjgg opened #21534 "quarkus-smallrye reactive Kafka + strimzi AVRO fails on OCP4.6/9"
### Describe the bug

Quarkus Version: `999-SNAPSHOT`
Openshift: `4.6/4.9`
Extensions that are involved:
[code]
**Works as expected with Quarkus 2.3.0.Final**

When I produce some events serialized with AVRO in a Quarkus app deployed into Openshift, we got the following error:

[code]

Reproducer:

Update and compile your upstream Quarkus bits and then

`git clone https://github.com/quarkus-qe/qua

[2021-11-18 12:20] radcortez commented on #18727
Hi @delongmeng

Thanks for the help. Please have a look at the following sources:

https://github.com/smallrye/smallrye-config/blob/main/implementation/src/main/java/io/smallrye/config/ConfigMappings.java
In here, you can find how mappings are registered and retrieved

https://github.com/smallrye/smallrye-config/blob/main/implementation/src/main/java/io/smallrye/config/ConfigMappingProvider.java
M

[2021-11-18 12:32] sjaakd commented on #21457
I checked the latest release: 2.4.2.Final  .. behavior is identical

[2021-11-18 12:55] knutwannheden opened #21535 "Provide OpenTelemetry OTLP/HTTP exporter"
### Description

The current `quarkus-opentelemetry-exporter-otlp` extension exports OpenTelemetry traces using the OTLP/gRPC protocol (using the `OtlpGrpcSpanExporter` from the `io.opentelemetry:opentelemetry-exporter-otlp-trace` module). The OpenTelemetry SDK however also includes a `OtlpHttpSpanExporter` (in module `io.opentelemetry:opentelemetry-exporter-otlp-http-trace`).

We would like to be

[2021-11-18 12:57] phillip-kruger commented on #21457
@sjaakd I had a look and in terms of CORS, everything seems to be ok. One issue that exist, is that your custom (api version) header gets removed when OpenAPI adds the defailt CORS (i.e when you do not have any cors config in application.properties)
(So I added a fix for that)

Here the results from my investigation:

When cors is not configured:
[code]
gives this response headers:

[code]

Before

[2021-11-18 13:05] ebullient commented on #20323
y.. have to think about something for codestarts for sure.
though I think project creation in general would still work.

[2021-11-18 13:15] #21500 closed

[2021-11-18 13:29] sberyozkin opened #21540 "OidcTokenCredential prevents the use of OIDC tokens for running the background tasks"
### Description

OIDC `AccessTokenCredential` and `IdTokenCredential` require `RoutingContext` which prevents the use of either of these tokens for running the background tasks when `RoutingContext` is not available, example:
[code]

The reason behind it is that both `AccessTokenCredential` and `IdTokenCredential` extend `OidcTokenCredential` whose only purpose was to carry a `RoutingContext` for

[2021-11-18 13:57] klezovics commented on #21177
@Sanne

Hi ! Thank you for this comment !
I have a follow up question ... I am using `PanacheRepository` with Quarkus.
And I am doing a load test for which I need to collect statistic.

I can @Inject an `entityManager` and my `xxxRepository` class. How do I get the session, which is used by my `xxxRepository` class to get the statistics out of it.

[2021-11-18 14:15] phillip-kruger commented on #21111
OK I manage to recreate this issue. I will debug when I start working on #21433

[2021-11-18 14:50] Karm opened #21542 "RegisterForReflectionITCase, JPAReflectionInGraalITCase, ResourcesITCase, consistent failures"
### Describe the bug

TS keep failing consistently:   main, da20f74cb11a2d
[code]
[code]

I couldn't find it on GH issues as already opened...is this expected?

[code]

### Expected behavior

TS passes

### Actual behavior

_No response_

### How to Reproduce?

./mvnw  clean verify -f integration-tests/pom.xml -pl main -Pnative

### Output of `uname -a` or `ver`

Linux x64

### Output of `java -ve

[2021-11-18 15:29] sjaakd commented on #21457
I can confirm. My observation is consistent with yours. I do get the headers this way.

That's interesting. It would be nice if the user would have some control over the headers regardless the `origin` request header. I need to investigate myself how this is supposed to work. The [standard ](https://publicatie.centrumvoorstandaarden.nl/api/adr/#api-51)I try to implement states:

[code]

I noticed,

[2021-11-18 16:13] fsomme2s commented on #6531
`Error: Unrecognized option: -c`
 +1

but maybe I'm doing it wrong:

[code]

without -Dnative and image: maven:3-jdk-11 it works fine (but has slow cold starts on a lambda, of course)

[2021-11-18 16:18] mmusgrov commented on #21335
Update: Mayank reports that he has now ran it in the debugger and he saw that transaction *is* getting rolled back.
[Note that the commit is still attempted when the business method (the one annotated with @Transactional) returns because that's what the quarkus interceptor is designed to do [1].

[1] https://github.com/quarkusio/quarkus/blob/main/extensions/narayana-jta/runtime/src/main/java/io/qu

[2021-11-18 17:46] #21517 closed

[2021-11-18 18:47] #21528 closed

[2021-11-18 19:37] maxandersen commented on #20323
Where are we with the cross testing we use to identify we even have issue we can't fix and  break users ?

[2021-11-18 19:37] jponge commented on #21528
@ennishol There's a Mutiny 1.2.0 release in the coming days, so it will quickly be available.

[2021-11-18 19:46] micheljung opened #21548 "java.lang.IllegalStateException: Response head already sent"
### Describe the bug

Similar issue as #19621

Doing a call to my `/graphql` with an existing (but not sure if expired) JWT token results in:

[code]

### Expected behavior

Don't throw an exception

### Actual behavior

Throws an exception

### How to Reproduce?

I don't exactly know

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM versi

[2021-11-18 19:49] itboy87 commented on #20963
@pmlopes can you please check this issue thanks...

[2021-11-18 19:50] itboy87 commented on #20962
@pmlopes any update on this issue?

[2021-11-18 20:31] marcogutto commented on #9123
I'm getting the same problem.

I'm running Quarkus on 2.4.0.Final.

I'm using a AWS RDS Postgres Database.

This is my configuration:

quarkus.datasource.db-kind = postgresql
quarkus.datasource.username = xxxxx
quarkus.datasource.password = xxxxx
quarkus.datasource.jdbc.url = jdbc:postgresql://xxx.xxx.xxx.xxx:5432/xxxxxx

I tried this configuration too:

quarkus.datasource.jdbc.max-size = 1000
qua

[2021-11-18 20:32] Sanne commented on #21359
I've figured out what is going on;

the "unresolved type" mentioned by the error message is the method `sun.security.krb5.Credentials.acquireTGTFromCache`, which belongs to the Java module `java.security.jgss/sun.security.krb5`.

Apparently in Java 17 this module is not exposed by default, so one needs to add an explicit export instruction to make this available to the pg client code.

The "normal

[2021-11-18 21:04] Sanne commented on #21177
The Panache repository is using the same EntityManager that you'd get by injecting it, as it will look it up via CDI from the same context.

You can also use `Panache.getEntityManager()` if there is a single persistence unit, or you can use `Panache.getEntityManager(Clazz)` to get the one managing that specific type if you need to manage ambiguity.

[2021-11-18 22:02] Postremus opened #21552 "dev mode Startup time regression between 2.2.3.Final and 2.5.0.CR1"
### Describe the bug

I just migrated from 2.2.3.Final to 2.4.2.Final.
Noticed that my project is starting a bit slower in dev mode.
I also cross checked against 1.13.1.Final, which was a bit faster still than 2.2.

For the reproducer project, I get following dev mode startup times on my machine:

2.5.0.CR1: 2.493s
2.2.3.Final: 2.273s
1.13.1.Final: 2.059s

Flamegraphs:
[flamegraphs.zip](https://gi

[2021-11-18 22:04] heubeck opened #21553 "Kubernetes extension: Configure additional role policies for generation"
### Description

The Kubernetes extension generates a ClusterRole based on the requirements of the Deployment (ConfigMap, Secret, CRD access...).

When building operators, there may be additional policies required.
I propose to make them configurable, and would like to contribute this enhancement.

### Implementation ideas

Add a new `@ConfigGroup` item to the `KubernetesConfig` containing basical

[2021-11-18 22:18] #21506 closed

[2021-11-19 02:18] #14487 closed

[2021-11-19 02:18] #19866 closed

[2021-11-19 04:39] delongmeng commented on #18727
Thank you very much @radcortez for the explanation! That sounds a little challenging to me but I'll take a closer look later.

[2021-11-19 05:55] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1479643647

[2021-11-19 06:55] cescoffier opened #21557 "Switch from distroless to micro"
### Description

The distroless approach we are using at the moment is very experimental and may lead to unexpected issues (like broken linking). Only experienced users should use this approach. Recently a new compatible runtime image has been produced which would avoid these issues. The size difference between both approaches is relatively minimal (and will prevent a lot of headaches). The object

[2021-11-19 07:06] phillip-kruger commented on #21457
I do not think it makes sense to have the header in the response if no origin is available ? (cross ORIGIN being the thing we are solving here)

But, what I would suggest :

1) create an issue that ask for a feature that allows the .json and .yaml content negotiation in Quarkus  for openapi (then you would not need your filter)
2) create an issue that ask for ability to add custom header in openap

[2021-11-19 07:16] delongmeng commented on #20928
Hi @TheoCadoret I'm trying to take a look at this. But it seems I'm getting opposite observations by brief check: parameters work when provided in the command line but not by hardcoding in the properties file? Do you know how I can create a set of nexusUser / nexusPassword / nexusGradlePluginPortalRepoUrl to fully test this issue?

[2021-11-19 07:38] sjaakd commented on #21457
@phillip-kruger .. Thanks for you quick answers. Just to clarify:

That would be great. I'm trying to do some reading up and found [this ](https://swagger.io/docs/open-source-tools/swagger-ui/usage/cors/) on the swagger documentation. Are you suggestion a feature that CORS is handled automatically according this documentation?  Does this (openapi) somehow deviates from the regular way that Quarkus

[2021-11-19 07:40] johan-hanson opened #21558 "SseEventSource does not get the close call from server after upgrading to Quarkus 2.1.0.Final or later"
### Describe the bug

I have created an application that uses a SseEventSource to consume events from a service. The service in some cases close the connection to the client. Using Quarkus 2.0.3.Final or earlier builds the client gets the disconnected and auto connect. So far so good. Upgrading to Quarkus 2.1.0.Final or later the client does not get disconnected. The client just stops receiving ev

[2021-11-19 07:50] zakkak commented on #21542
It looks like this is related to using `-Pnative` vs `-Dnative`.

## Works
[code]

## Doesn't work
[code]

Note that the tests fail in JVM mode not in native mode, that indicates that when using `-Pnative` tests that should only be run in native are now being run in JVM mode as well.

[2021-11-19 08:19] apat59 commented on #21455
basically https://github.com/quarkusio/quarkus/pull/20546 should be reverted.
Damages are done by
`                        } else {
                            scheduler.rescheduleJob(trigger.getKey(), trigger);
                            LOGGER.debugf("Rescheduled business method %s with config %s", method.getMethodDescription(),
                                    scheduled);

[2021-11-19 08:31] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1479653473

[2021-11-19 08:33] freddieFishCake opened #21559 "LambdaHttpHandler does not properly handle multiple Accept headers"
Scenario:
1. Create a simple Quarkus REST application
2. Verify that the application works locally with mvn quarkus:dev and calling your endpoint from a browser
3. Add a dependency to quarkus-amazon-lambda-http
4. Deploy to AWS using sam.cmd deploy (either jvm or native, it doesn't matter)
5. Use a browser to test if the application works as expected by visiting the link produced by the SAM tool.

[2021-11-19 08:36] glefloch commented on #20928
I also tried with a custom task that uses param and was not able to reproduce this. Also, dependency resolution should occur way before quarkus extensions starts doing anything, this is really weird.

[2021-11-19 08:40] stefanorg commented on #21265
Hi, same problem here.
After changing `@PersistenceUnit` with `@PersistenceUnitExtension` in the resolver class i get the same error.
I think because the `io/quarkus/hibernate/orm/runtime/tenant/HibernateMultiTenantConnectionProvider.java` try to resolve the `PersistenceUnitLiteral` on row number `109`

[code]

and there is no annotation `@PersistenceUnit` but is `@PersistenceUnitExtension`

[2021-11-19 08:41] stefanorg commented on #21265
this is my trace

[code]

[2021-11-19 08:43] Karm commented on #21542
@zakkak Thnaks! It totally eluded me. :man_facepalming:

[2021-11-19 08:43] #21542 closed

[2021-11-19 08:59] michalszynkiewicz commented on #21444
Initial take on it. Clicking on the client class opens it in the IDE:
![image](https://user-images.githubusercontent.com/3901322/142594831-8182ce69-016e-4d0d-a7bb-1ea9a1e5eb53.png)

[2021-11-19 09:17] kshpak commented on #21516
Investigated with @pjgg and everything works fine with `GraalVM CE 21.2.0`
The fail appears with  `GraalVM CE 21.3.0`

[2021-11-19 09:23] michalszynkiewicz commented on #21444
we can further add:
- listing classes that might be interfaces but contain some problems, with the problems we found
- invoking the client (as the issue description mentions) - @cescoffier could you explain a bit what use case did you mean for this?

[2021-11-19 09:32] radcortez commented on #18727
@delongmeng thanks for taking a look into it. There is indeed some effort involved in this.

Maybe I can suggest something smaller?

[2021-11-19 09:46] michalszynkiewicz commented on #20896
@vhmolinar Even though the fix is similar, it should be a different issue, not this one reopened, IMO.
Could you create a pull request for it?

[2021-11-19 09:58] #21359 closed

[2021-11-19 09:58] phillip-kruger commented on #21457
Quarkus OpenAPI already support CORS (that is the default I refer too), but it can be set by the client too. There are two scenarios here:
1) Getting the schema document (either in yaml or json format). This is the scenario we discussed so far. CORS is only applicable when the origin is different that where the schema document is hosted. So for example if you would add the url of the schema docume