[2019-08-06 16:13] sberyozkin commented on #3342
@zaretskyy thanks for reporting this issue. Can you please try the latest Quarkus release ? The Tika extension there adds a build item requesting a JNI capability. By the way, the java version also looks old, GraalVM 19.0.0 was rebased against 212, while the latest Quarkus uses GraalVM 19.1.1.
Let me know please how it goes

[2019-08-06 16:20] sberyozkin commented on #3262
Probably a property should be introduced to optionally disable the auto registration if the custom Application exists

[2019-08-06 16:45] sberyozkin opened #3434 "smallrye-jwt extension should be able to use JAX-RS security filters instead of elytron"
**Description**
Right now the users can not intercept the token validation and access authorization exceptions using JAX-RS `ExceptionMapper`
**Implementation ideas**
`smallrye-jwt` ships JAX-RS authentication and authorization filters and the exceptions thrown from them can be caught with the custom exception mappers. These filters should be used by the `smallrye-jwt extension` if the elytron ext

[2019-08-06 16:53] sberyozkin opened #3435 "The OAuth2 extension should be able to set SSLContext with a server certificate in the native mode"
**Description**
The OAuth2 extension makes an HTTPS call to the token introspection endpoint requiring a server certificate. The only option right now in the native mode is to update the global java key store. The user application should be able to ship public certificates only without having to depend on the admin work be done first on a given host

**Implementation ideas**
Investigate how to fix

[2019-08-06 16:53] sberyozkin commented on #3435
@loicmathieu FYI.

[2019-08-06 17:01] sberyozkin commented on #3434
A property like `quarkus.security.enabled` may need to be introduced to disable all the elytron extension, seeing no other alternatives for the moment

[2019-08-06 17:41] n1hility opened #3436 "Investigate Spring API-only deps"
We should probably think about whether its worth creating a spring API only dependency, vs the current real artifacts, that way we don't end up with issues caused by spring implementation classes conflicting with our code or inadvertently getting picked up by the native-image generation process. It also would help establish what APIs we do and don't support.

[2019-08-06 17:45] geoand commented on #3436
@n1hility I was thinking the same exact thing yesterday

[2019-08-06 17:57] geoand opened #3437 "Spring annotation project creation"
As mentioned [here](https://github.com/quarkusio/quarkus/pull/3432#pullrequestreview-271504287), it would be good to have Quarkus ` io.quarkus:quarkus-maven-plugin:create` generate a Spring Controller instead of a JAX-RS Resource when `spring-web` dependency is used.

[2019-08-06 18:37] danielpetisme opened #3438 "Doc How to fix the OOM Exception when importing Quarkus into IntelliJ"
This issue is the result  of the following discussion:
https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/IntelliJ.20OOME/near/171923769

[2019-08-07 06:48] galderz commented on #3306
Was away last week, catching up on things. I'll be replying to all your comments during the day :)

@emmanuelbernard

You can indeed use `@CacheKey` to annotate several parameters. It's explained in the spec and our Infinispan code matches that.

JCache has both options annotation and SPI methods. Spring Cache does not have key specific annotation but they use `Cacheable.key` attribute can indicat

[2019-08-07 07:06] #3438 closed

[2019-08-07 07:07] geoand commented on #3437
@aureamunoz assigning to you :)

[2019-08-07 07:38] loicmathieu commented on #3435
@sberyozkin this is on my todo list, it's possible for hotspot with a non-documented configuration property, but the native part still needs to be done.

[2019-08-07 07:39] galderz commented on #3306
@ben-manes

Thx for the background info on the origins of sync attribute and extra explanations.

I think your default behaviour makes more sense from a caching perspective: lock-free on cache hit, lock on cache miss. This minimises the amount of locking done.

If we add an option to control this, the other option would be: lock-free on cache hit, lock-free on cache miss. I can't think of a good n

[2019-08-07 08:07] loicmathieu commented on #2611
There is two more quarkus libraries that are wrongly detected by the OWASP dependency check maven plugin :

- quarkus-resteasy-0.20.0.jar (pkg:maven/io.quarkus/quarkus-resteasy@0.20.0, cpe:2.3:a:redhat:resteasy:0.20.0:*:*:*:*:*:*:*) : CVE-2011-5245, CVE-2012-0818, CVE-2016-9606
- quarkus-undertow-0.20.0.jar (pkg:maven/io.quarkus/quarkus-undertow@0.20.0, cpe:2.3:a:redhat:undertow:0.20.0:*:*:*:*:*:*

[2019-08-07 08:27] galderz commented on #3306
@gwenneg

Well spotted, this premise doesn't work as well. Let's revise it, I see two options:

1. Change the default such that: each annotated method use a namespaced cache whose name is derived from the FQN of the type. This would make naturally lead to all annotated methods in same class to share the same cache namespace by default. You'd still have the possibility to use `cacheName` to tweak t

[2019-08-07 08:31] aureamunoz commented on #3437
I'm not able to assign to me

[2019-08-07 08:35] geoand commented on #3437
Yes I know, don't worry though, consider it assigned :)

[2019-08-07 08:35] galderz commented on #3306
@gwenneg

Hmmm, don't like the idea of adding an annotation for this.

Over the years we've had a lot of problems due to the default cache in Infinispan. It forces you to think in a slightly different way to those caches that represent a namespace. These days we're trying to move away from the default cache. That's why I'd like all Quarkus user caches to have a namespace by default and avoid havin

[2019-08-07 08:50] galderz commented on #3306
@gwenneg

First of all, kudos on coming up with the example. It's a non-trivial example that requires some thought 👏

Before we delve into the issue, note that the code could be simplified since `@CacheKey` would not mandatory. If the method has a single parameter, it can be safely assumed that this is the key:

[code]

Even if the method has multiple parameters, we could assume that all parameter

[2019-08-07 09:17] sberyozkin commented on #3435
@loicmathieu Hi Loic, I've only CC-ed FYI :-). if you can find some cycles to investigate then it would be good, or perhaps we can collaborate on this one later on. Surely we'll sort this issue out eventually :-). And thanks for getting it highlighted with your PR in the 1st place, cheers

[2019-08-07 09:17] gwenneg commented on #3306
@galderz

The merit goes to @ben-manes, I only relayed here with this example a question he asked in the draft PR :)

Thanks for your comments, I will update the PR todo list and content accordingly.

[2019-08-07 09:22] sberyozkin opened #3441 "OIDC adapter should reuse Quarkus CORS filter"
**Description**
Right now there are 2 CORS filters that can be used, if KC is active - the KC one has to be enabled, if not - the Quarkus one. Ideally the users should be able to use the Quarkus one with KC as well
**Implementation ideas**
Feedback from the KC experts, @pedroigor , @sebastienblanc will be welcome :-). Perhaps the KC extension can detect the Quarkus CORS capabiity and depend on it.

[2019-08-07 09:30] gwenneg commented on #3306
I like the first option too. I'll do a first implementation right away and prepare a dedicated code example for the future Quarkus caching guide.

[2019-08-07 09:31] loicmathieu opened #3442 "The version of undertow is vulnerable to CVE-2019-10184"
**Describe the bug**
The current version of undertow, the 2.0.21.Final, contains a know vulnerabilities CVE-2019-10184 (https://nvd.nist.gov/vuln/detail/CVE-2019-10184) that has a CVSS Score v3 of 7.5 - HIGH.

**Expected behavior**
No CVE with a high score for undertow.

**Actual behavior**
One CVE with a high score is found for undertow.

**To Reproduce**
Steps to reproduce the behavior:
1. You c

[2019-08-07 09:32] loicmathieu commented on #3442
Update to undertown 2.0.23.Final or later is advised

[2019-08-07 11:05] gjeraj opened #3443 "CDI tries to inject variables passed to lambda function"
The problem lies with the `quarkus-arc` extension where it tries to inject parameters passed to lambda expression. To illustrate this I've created a simple project https://github.com/gjeraj/quarkus-cdi-bug

[code]
As you can see the event observer function fails to build with the following error:

[code]
Whats interesting if `event` parameter is first assigned to another variable, it also works:

[2019-08-07 11:29] matheus-meneses opened #3445 "Amazon SSM Sdk Erro on native image mode"
Someone que can help me about this:
https://stackoverflow.com/questions/57340126/how-to-fix-org-apache-commons-logging-logconfigurationexception-java-lang-clas

I couldn't resolve this error above

[2019-08-07 11:44] clochardpagan commented on #3312
Found two more strange scenarious:

1. If I put * in quarkus.http.cors.origins - Quarkus block everything. Expected to allow all. Adding custom ContainerResponseFilter may fix it.

[code]

2. PATCH HTTP method is not respected. Was not able to get it working even with explicit declaration in ContainerResponseFilter

[code]
For some reason PATCH requests are not catched by ContainerResponseFilter a

[2019-08-07 11:52] Ladicek commented on #3312
Ad 1., that's because the CORS servlet filter expects to find the value of the `Origin` header in the set of configured allowed origins. Supporting `*` is probably a good idea.

Ad 2., that's probably also because the `CORSFilter` and `ResteasyFilter` interact in a weird way. I didn't have time to look into it yet, but I should get to it this week.

[2019-08-07 12:26] reste85 commented on #3396
@sberyozkin Unfortunately not yet, we've a lot of stuff to do and it's not something i can do soon. I'm sorry, maybe in next weeks i can take a look...

[2019-08-07 13:37] loicmathieu commented on #3435
@sberyozkin this will need to be investiguated by a GraalVM expert as the current code to include a server certificate contains a call to `SSLContext.getInstance()` and the current SSLContext substitution that Quarkus provides only contains substitution for `SSLContext.getDefault()`

I enabled SSL for the extension using a `ExtensionSslNativeSupportBuildItem` but it didn't works.

I don't know who

[2019-08-07 14:00] antoniomacri opened #3448 "Cleanup on live reload also removes generated classes"
**Describe the bug**
Generated classes are removed during live reload.

**Expected behavior**
Generated classes are not deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/antoniomacri/quarkus-rocker-class-cleanup.git`
2. `mvn install`
3. `ll target/classes/views` ->  `HostingPage.class`
4. `mvn quarkus:dev` (+ `mvn install` + F5 on `http://localhost:8080/`

[2019-08-07 14:05] JohT opened #3449 "Flyway should support named datasources"
**Description**
"application.properties" support defining multiple named datasources:
`
#default datasource:
quarkus.datasource.url
#datasource for database1:
quarkus.datasource.database1.url
#datasource for database2:
quarkus.datasource.database2.url
`

Currently, flyway only uses the default datasource.
It would be nice, if it can be configured for every named datasource in a similar manner:
`
#

[2019-08-07 14:09] JohT commented on #3449
Example (format corrected):
`
#default datasource:
quarkus.datasource.url
#datasource for database1:
quarkus.datasource.database1.url
#datasource for database2:
quarkus.datasource.database2.url

#flyway for default datasource:
quarkus.flyway.migrate-at-start
#flyway for database1 datasource:
quarkus.flyway.database1.migrate-at-start
#flyway for database2 datasource:
quarkus.flyway.database2.migrat

[2019-08-07 14:26] dmlloyd commented on #3433
No, this is not right.  The JavaDoc ends up on a JavaDoc site.  It's not hard to parse the JavaDoc and then put it in to Asciidoc correctly.  Let's do it right.

[2019-08-07 17:05] #3442 closed

[2019-08-07 17:15] #2305 closed

[2019-08-07 17:33] aloubyansky commented on #3136
That's a tricky one. The issue is that the test deps should be loadable by the surefire plugin. For that to work there are a few options:
1) the way it is now, i.e. test scope should be banned for test artifacts;
2) the test scope deps should be duplicated in the platform testsuite pom;
3) some kind of classloading hack.

Personally, I find 2 is the worse than 1. Test artifacts are supposed to be

[2019-08-07 17:38] ben-manes commented on #3306
@galderz

Caffeine currently supports `refreshAfterWrite(duration)`, making an entry eligible for refresh based on a fixed time after the entry's last write (create/update). When eligible, the entry will be refreshed on its next read asynchronously and the old value returned while that is in-flight. This is not scheduled refresh, where all entries are reloaded regardless of usage, since that is tr

[2019-08-07 18:08] yntelectual opened #3450 "Generated-sources not resolved in dev mode"
hi there,

**Describe the bug**
Using annotation processor e.g. mapstruct, the generated sources end up in `target/generated-sources` folder. Compilation works fine, however during dev mode, these generated classes are not present in classpath, causing ClassNotFoundError.
This seems to be a regression from version 0.19.0 as it works fine there.

**Expected behavior**
Generated classes should be pr

[2019-08-07 21:17] aloubyansky commented on #3136
The way I see it, the Maven way to import test JARs applied to Quarkus suggests separation of the test application (the app used in the tests) and the tests themselves by moving them into their own modules. So the test app would be developed in one module and the tests - in a different one which would depend on the test app artifact.
When Maven resolves dependencies of a project it does not includ

[2019-08-07 22:42] gwenneg commented on #3413
I ended up running native tests from another quickstarts project without Docker and the native image started much faster (below 60 seconds), so I no longer need to make the image wait time configurable.

I'm not sure what caused the original issue (with the huge wait time) but I reproduced it from several quickstarts projects with much lower wait times (but still over 60 seconds). Since I've alrea

[2019-08-08 02:09] #3413 closed

[2019-08-08 02:28] #3419 closed

[2019-08-08 07:15] NF13 opened #3454 "PanacheRestRepository"
**Description**
Are there any plans to implement PanacheRestRepository like SpringDataRest

**Implementation ideas**
Default-Methods to get/put/post/delete a resource and to use the implemented search methods

[2019-08-08 07:38] gwenneg commented on #3425
Hi @matheus-meneses and thanks for reporting this.

We may need a reproducer to investigate your issue, but first let's ask @mkouba and @manovotn if they have an idea about what's causing this.

[2019-08-08 07:43] gwenneg commented on #3443
Hi @gjeraj and thanks for reporting this.

@mkouba, @manovotn: Could you take a look at this please?

[2019-08-08 07:49] ppalaga commented on #3136
Thanks for the analysis, @aloubyansky . Let me check if we can hack our build process to modify the test jars as you need. Because I do not like the idea to have separate test modules on our side, I'd write a piece of groovy that generates a pom.xml for the tests jar as-if in a separate module and installs/deploys it together with the test jar under the coordinates of the synthetic module.

[2019-08-08 08:54] loicmathieu commented on #3435
@sberyozkin I create the PR #3456 that enables SSL in native builds and document the already existing `quarkus.oauth2.ca-cert-file` property.

I tested a lot of different way of trying to make this property works on native mode (including playing with the substitution of SSLContext!) but I ended up in the conclusion that this is not possible. SSLContext cannot be redefined in GraalVM in the Quarku

[2019-08-08 08:54] Curious-Bear opened #3457 "How to use web.xml with Quarkus?"
Using web.xml as a document descriptor is not explained in the documentation

[2019-08-08 09:03] rsvoboda commented on #3370
I played with rest-json quicstart, having 8081 occupied by `python -m SimpleHTTPServer 8081`

Server boots well:
[code]

I can access properly (only) `http://[::]:8081/fruits`.
`http://127.0.0.1:8081/fruits` and `http://MY_LOCAL_IP:8081/fruits` return 404 from SimpleHTTPServer.

With `java -Djava.net.preferIPv4Stack=true -Dquarkus.http.port=8081 -jar target/rest-json-1.0-SNAPSHOT-runner.jar` I rec

[2019-08-08 10:11] geoand commented on #3457
I haven't tried it personally, but I think if you add `web.xml` in `src/main/resources/META-INF` it should be picked up. Can you give it a shot?

[2019-08-08 10:14] geoand commented on #3454
cc @FroMage @emmanuelbernard

[2019-08-08 10:16] rsvoboda opened #3458 "ReflectiveHierarchyStep warning - unable to properly register for reflection"
When building Quarkus there are 4 ReflectiveHierarchyStep warning in testsuite saying unable to properly register for reflection.

Some of the warnings are a bit wierd - e.g. io.vertx.core.json.JsonArray case which should be covered in [ResteasyDotNames.java#L62](https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployme

[2019-08-08 10:40] ia3andy commented on #3339
This has been fixed by https://github.com/quarkusio/quarkus/pull/3397

[2019-08-08 10:40] #3339 closed

[2019-08-08 12:12] gwenneg commented on #3416
Hi @rhuan080 and thanks for reporting this bug!

It looks like the same issue as #3409.

[2019-08-08 13:19] masini commented on #3448
Hi, we are using Rocker as a compile time replacement for some old JSPs, with this issue all generated Rocker classes are deleted during development.

As a quick fix we copy/pasted them, does exist a switch to disable this feature until is fixed ?

[2019-08-08 13:33] sberyozkin opened #3460 "Enhance TikaParser to support the embedded documents"
**Description**
PDF, ODT and other formats may have the embedded documents (with their own text and metadata). This embedded content should be easily accessible

**Implementation ideas**
Minor update to `TikaParser` will be required to use a native Tika recursive parser which stores all the embedded attachments content into the top level Metadata. `TikaContent` should have few utility methods adde

[2019-08-08 13:50] danielpetisme opened #3461 "Quarkus and continuous testing"
**Description**
Quarkus focus Developer eXperience, the best example is `quarkus:dev` which mimics frontend livereload practice. Livereload is very efficient when you're with a client (SPA, API consumer etc.) and tends to hide the unit/integration testing practices.

The purpose of this feature request is to propose a similar behavior with testing (why not a `quarkus:test`command.

The idea is not

[2019-08-08 14:12] machi1990 commented on #3370
@rsvoboda I had similar results.

[2019-08-08 14:32] nderwin opened #3462 "TypeNotPresentException during entity augmentation"
**Describe the bug**
I'm seeing Maven build failures from the package phase (and later phases) due to entity class augmentation failures.

**Expected behavior**
Jar files are created for the project.

**Actual behavior**
No jar files are created.  This is failing on an entity that is catching a `NoResultException` or a `NonUniqueResultException`.  These classes are in the dependency tree of the pr

[2019-08-08 14:33] nderwin commented on #3462
[quarkstart.zip](https://github.com/quarkusio/quarkus/files/3482236/quarkstart.zip)

[2019-08-08 14:34] geoand commented on #3436
@gytis will try and take a look at this while I am on PTO

[2019-08-08 16:31] aloubyansky commented on #3138
It clearly isn't just any app with `@ApplicationPath` and `maven-failsafe-plugin`. There has to be some other detail which breaks it. As an example, I've adjusted https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started following the description but it still worked. Would you mind trying that exercise and communicating the instructions to make it fail as in your original scenar

[2019-08-08 17:16] jordanglassman commented on #568
For posterity, the easiest way to use this paradigm alongside a mocking library is to just pass a delegate mock instance from your mock library of choice to the `@Alternative`.

Here's a jmockit example:

[code]

[2019-08-08 20:01] geoand commented on #3462
@Sanne something you could look at perhaps?

[2019-08-08 20:07] gwenneg commented on #2786
Hi @vsodaitis and thanks for reporting this issue!

I'm really sorry you had to wait so long, but it should be fixed in Quarkus `0.21.0`.

[2019-08-08 20:53] jclingan opened #3465 "quarkus-kubernetes extension throws NullPointerException during maven test phase"
**Describe the bug**
When compiling a very basic Quarkus application (see reproduce steps), running "mvn package" throws a NullPointerException in the test phase:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sample application using `mvn quarkus:create`
2. Run `mvn quarkus:add-extension -Dextensions="quarkus-kubernetes"`
3. Run `mvn compile package`

**Environment (please

[2019-08-09 04:06] Curious-Bear commented on #3457
Thank you for the reply. That solution worked. I needed to implement my Java web application that has a web.xml configuration file using Quarkus.

[2019-08-09 04:07] #3457 closed

[2019-08-09 06:03] machi1990 commented on #3457
@Curious-Bear glad to hear that the solution worked for you. It is not documented, would like to contribute it by updating [undertow guide](https://github.com/quarkusio/quarkus/blob/581b5118acc83cdb82359e5df775577559db48bd/docs/src/main/asciidoc/undertow-reference.adoc)?

[2019-08-09 06:20] gwenneg commented on #3465
Hi @jclingan, I just tried to reproduce this but the build worked fine, without any exception.

Is there a more detailed stacktrace in the Maven output?

[2019-08-09 08:46] geoand commented on #3465
@jclingan I was able to reproduce the problem, looking into it now

[2019-08-09 09:05] vivynz commented on #3448
An additional workaround is to launch “mvn compile quarkus:dev” instead of “quarkus:dev” only

[2019-08-09 09:05] geoand commented on #3465
@jclingan I opened a PR with a fix. It should work fine for now, but it's one thing that @iocanel and I need to look into as part of the tighter Dekorate - Quarkus integration

[2019-08-09 09:06] seseso opened #3467 "quarkus:dev hot reload changes default charset?"
Running a project with quarkus:dev, everything works fine. When triggering hot reload (changing some source), the behavior changes and Strings that exists in the code seems to be interpreted in a different charset.

I created a small project to reproduce this error: https://github.com/seseso/quarkus-hot-reload
Steps:
1. mvn clean install -DskipTests quarkus:dev
2. curl http://localhost:8085/hello/

[2019-08-09 09:11] seseso commented on #3450
I found that same error when I upgraded my project from version 0.15.0 to 0.20.0.

I was using jsonschema2pojo to generate some classes but after upgrading, the run stopped working. In the meantime, and since my code is stable, I included the generated sources on my source tree but it would be great to have it work as it should!

I'll keep an ey on this one!

[2019-08-09 09:38] drissamri commented on #3354
@evanchooly any idea on this one?

[2019-08-09 11:11] jmartisk opened #3468 "Superfluous metrics are being created from SmallRye internal classes"
Classes in `io.smallrye.metrics.interceptors` package are annotated in a way that when scanned as application classes, some metrics will be created out of them, but these are internal classes and are not meant to be scanned for metric annotations. This means we register some metrics unnecessarily, which hinders performance and makes the export contain superfluous metrics whose values will always b

[2019-08-09 12:08] gwenneg commented on #3467
Hi @seseso! I just tried to reproduce this using your project on a MacBook but the curl call always returned `hello Boss!`. Could you please verify that the source file encoding is not changed when you edit it? That could also be a Windows specific issue.

[2019-08-09 12:25] seseso commented on #3467
I doubt that the save action do a change on charset as if I stop / start the project, everything works fine again.
I bet more on a Windows specific issue. Tested on a WSL Linux in my Windows machine and everything works fine also.

- Output of uname -a: Linux DESKTOP-4ICQ7FU 4.4.0-18362-Microsoft #1-Microsoft Mon Mar 18 12:02:00 PST 2019 x86_64 GNU/Linux

[2019-08-09 12:29] gwenneg commented on #3467
Yes I agree the charset change on save is very unlikely but since it can happen, I had to ask :)

Thanks for testing this with Linux!

[2019-08-09 12:46] Ladicek commented on #3312
Ad 1. again: the CORS filter already allows all origins, if `quarkus.http.cors.origins` is not set. Not sure if adding support `*` is worth it.

[2019-08-09 12:56] gwenneg commented on #3467
I'm not sure this is related, but during a hot reload, we're recompiling the changed sources [here](https://github.com/quarkusio/quarkus/blob/master/core/devmode/src/main/java/io/quarkus/dev/JavaCompilationProvider.java#L45) using a `StandardJavaFileManager` which relies on the `platform default charset` because we're not providing a specific charset (which does not look like a good idea at first

[2019-08-09 13:20] evanchooly commented on #3354
i'll take a look today.  it's on my list to revisit that module today.

[2019-08-09 13:27] evanchooly commented on #3354
having the serverless framework in the mix muddies the waters a bit but I'll see what I can find out.  I think they're circumventing what what the quarkus module is doing somehow.

[2019-08-09 14:06] #3468 closed

[2019-08-09 14:47] sberyozkin commented on #3435
Hi Loic, closing this issue for now, thanks for the PR

[2019-08-09 14:47] #3435 closed

[2019-08-09 15:21] jclingan commented on #3465
Thx @geoand. Yeah, I should have mentioned the test phase.

[2019-08-09 15:25] geoand commented on #3465
Now all we need is someone to approve my PR 😁

[2019-08-09 16:07] drissamri commented on #3354
Serverless Framework only uploads the deployment package and doesn't impact any code, the same can be done with SAM CLI or CloudFormation

[2019-08-09 16:26] #2786 closed

[2019-08-09 17:24] Dufgui commented on #3102
@aloubyansky could you assign to me

[2019-08-09 17:26] Dufgui commented on #1790
@aloubyansky could you assign to me or close it. Please. I have done the based of it in #3415   We just need to call it from the task

[2019-08-09 17:36] gwenneg commented on #3102
@Dufgui Did you code this already? I have some code sleeping on a branch for this issue that’s not far from being reviewable.

[2019-08-09 17:46] Dufgui commented on #3102
yes just right there : https://github.com/quarkusio/quarkus/pull/3415/files#diff-18b35164523e4adadddda8b73af26c1aR34

It's reviewed and ready to be merged after CI.
I just need to add it in gradle task now

[2019-08-09 17:47] Dufgui commented on #3102
sorry. I do it  in create project...

[2019-08-09 17:48] gwenneg commented on #3102
Ok then the issue is yours :)

[2019-08-09 17:50] Dufgui commented on #3102
thanks ;o)

[2019-08-09 18:10] drissamri commented on #3352
Alright, then this can be closed for now? Doing local validation with SAM Local works. Are there any plans to support this out of the box in the future?

[2019-08-09 18:25] evanchooly commented on #3352
I have a PR that rounds out the sam/local support.  dev mode is slightly trickier...

[2019-08-09 18:28] gwenneg commented on #3102
Don't worry about it, it's my fault for putting this on hold for too long, I chose to focus on another enhancement.

[2019-08-09 19:17] matheus-meneses commented on #3425
Hi, @gwenneg what information do you need?

[2019-08-09 19:39] gwenneg commented on #3467
I forced a wrong charset and obtained similar results during a hot reload with your project, but I couldn't exactly reproduce the issue since I don't have any Windows computer to test it right now.

@geoand: WDYT of the fix in the PR? I'm not sure it's ok to have a hardcoded charset in JavaCompilationProvider since the charset usually comes from the `project.build.sourceEncoding` Maven property or

[2019-08-09 19:58] #3101 closed

[2019-08-09 20:01] machi1990 commented on #2110
Fixed by #3317.

[2019-08-09 20:01] #2110 closed

[2019-08-09 20:01] ppalaga commented on #3321
Blocked by https://github.com/quarkusio/quarkus/issues/1594

[2019-08-09 20:03] aloubyansky commented on #3101
Just to make it clear, we are not offering this feature in a pure Gradle way. Instead, the existing Maven plugin has been enhanced with `buildTool` parameter which when set to `GRADLE` will make it produce the initial Gradle project.

[2019-08-09 20:39] geoand commented on #3467
@gwenneg I think that it would be OK to have UTF8 for now since that is by far the most common scenario.

[2019-08-09 20:49] sberyozkin commented on #3460
The embedded documents are already processed OOB but the output contains their text appended to the text of top-level/master document. This issue is about supporting of having `TikaContent` for the master doc plus  `TikaContent` for each of the embedded documents.

[2019-08-09 21:52] #3318 closed

[2019-08-09 23:44] Dufgui commented on #3102
In  fact i do it, without changing the structure.

[2019-08-09 23:54] Dufgui opened #3473 "Align QuarkusListExtensions and ListExtensionsCommand to ListExtensionsMojo"
**Description**
List extension don't display the same format, because it's not using the same code

**Implementation ideas**
Align QuarkusListExtensions and ListExtensionsCommand to ListExtensionsMojo implementation

[2019-08-10 00:04] Dufgui commented on #3101
gradle have n't custom "project free" task, so I am not sure we can do it, and keep a tool usefull.

[2019-08-10 09:19] geoand commented on #3408
@wargun02 thanks for the reproducer!

Here is the SQL that Hibernate is generating based on your query:

[code]

which seems to me that you are not executing the query you intended

[2019-08-10 09:20] geoand commented on #3326
@jbourbo Hi

Do you still have this problem with Quarkus 0.20.0 and GraalVM 19.1.1?

[2019-08-10 09:21] geoand commented on #3331
@ia3andy is this still an issue?

[2019-08-10 09:23] geoand commented on #3343
@MMarus I don't see anyone assigned to it or anyone mention they are working on it, so if you would like to take it up, feel free :)

[2019-08-10 09:24] geoand commented on #3348
@ia3andy Has this been fixed perhaps in `master`?

[2019-08-10 09:25] geoand commented on #3347
Last I knew, this was expected (since the live-reload is triggered on incoming http requests). @stuartwdouglas, @cescoffier has anything changed in that area?

[2019-08-10 09:27] geoand commented on #3363
@FroMage I like the idea! But

[2019-08-10 09:29] geoand commented on #3369
I just checked and this issue is still present when using `master`

[2019-08-10 09:46] geoand commented on #3369
So I looked at this a little and although I understand the rationale of what you are trying to do, I'm not sure it makes sense from a CDI perspective (@mkouba or @manovotn would know more).

I propose you do something like the following:

[code]

[code]

[code]

You can even simplify things even more in `CustomFilter` by doing something like:

[code]

That way the classes that extend `CustomFilter

[2019-08-10 10:16] wargun02 commented on #3408
Changing the query in the repository class to:
[code]

with the "**select gs from GeoStateEntity gs...**" seems to work (instead of just "**from GeoStateEntity gs...**").

Anyway, I'm just following some example jpql from the documentation on Panache, thought I could save a few "keyboard typings".

If this is not a bug and it is intended to work at such, please close this issue.

[2019-08-10 10:18] wargun02 commented on #3408
But having the repository method returning "List< GeoStateEntity >", seems odd to me that the JSON output doesn't quite conform to what is in "GeoStateEntity".

[2019-08-10 10:20] geoand commented on #3408
Yes, which is why I think (from the little I looked at it) that you are not really returning GeoStateEntity from the query (due the join).

[2019-08-10 11:55] gwenneg commented on #3425
@matheus-meneses Well, for now we just need to wait for an answer from the dependency injection experts :) It might take a bit longer than usual if they are on vacation.

[2019-08-11 02:57] jclingan commented on #3409
I just ran into this problem as well when starting to test spring MVC annotation support w/PanacheRepository. Reproducer:

1) Clone the [project](https://github.com/jclingan/quarkus_panache_problem).
2) Run `mvn compile quarkus:dev`
3) Run `http POST http://localhost:8080/license licenseId=1 organizationId=org productName=myproduct licenseType=T licenseMax=5 licenseAllocated=1 comment="comment"` #

[2019-08-11 10:14] #2307 closed

[2019-08-11 14:12] lburgazzoli opened #3474 "Failed to start quarkus with quarkus:dev becauProvider org.apache.camel.k.listener.ContextConfigurer not a subtypese of"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. clone https://github.com/lburgazzoli/apache-camel-k-runtime/tree/github-57
2. build the project
3. go to `camel-k-runtime-examples/camel-k-runtime-example-quarkus-yaml`
4. run `mvn clean compile quarkus:dev`

[2019-08-11 21:04] sberyozkin commented on #3092
@gsmet sorry, missed this question. I believe it should be an extension, and the users will make it run as part of their application if needed by adding this extension - which is what Thorntail did.

[2019-08-11 21:14] tandraschko commented on #2378
@mkouba is there any progress?
I would really like to get a something like in DS: https://github.com/apache/deltaspike/blob/master/deltaspike/core/api/src/main/java/org/apache/deltaspike/core/api/provider/BeanProvider.java#L460

[2019-08-12 00:29] Curious-Bear commented on #3457
Sure

[2019-08-12 05:02] pipinet opened #3476 "SmallRyeConfigBuilder.getConverterType NoSuchMethodException"
version is 0.20.0
error project is https://github.com/qwlabs/quarkus-issues/tree/master/2019-06-21-21-00

[code]

[2019-08-12 05:10] mkouba commented on #3425
Hi @matheus-meneses, does it only happen in the development mode? It would be great if you could put together a minimal reproducer app.

[2019-08-12 05:27] mkouba commented on #2378
Hi @tandraschko, no progress yet. Anyway, the `BeanProvider#injectFields()` method is not a good example. First of all the name is misleading because it also invokes initializer methods. Furthermore, if a `@Dependent` bean instance is injected it is never destroyed correctly. This is fine unless the `@Dependent` bean declares a `@PreDestroy` callback. Finally, the `InjectionTarget` is primarily de

[2019-08-12 06:14] mkouba commented on #3369
Hm, I've just checked the generated beans and the code looks correct. However, when I tried to debug the filters I've noticed that for `SonFilter` a client proxy is correcly used but for `FatherFilter` RESTEasy works directly with an uninitialized instance of a bean class. I'll need to verify the RESTEasy integration code...

[2019-08-12 07:14] mkouba commented on #3369
I've found the problem. When RESTEasy attempts to find a bean for the `FatherFilter` the lookup fails with ambiguous dependency exception because there are two beans for this type: `FatherFilter` and `SonFilter`. As a result, RESTEasy is using a fallback and instantiates the `FatherFilter` without injection. The easies **workaround** is to annotate the `SonFilter` class with `@Typed(SonFilter.clas

[2019-08-12 07:23] mkouba commented on #3369
By the way, you don't need to re-declare the `exampleService` injected field because it's package-private and both `FatherFilter` and `SonFilter` are located in the same package.

[2019-08-12 07:26] MMarus commented on #3343
@geoand Great, thank you very much :).

[2019-08-12 07:45] antoniomacri commented on #3369
Yes, of course, it was just for the purpose of showing the error.

[2019-08-12 08:08] gsmet commented on #3326
Looks suspicious. A reproducer would help.

[2019-08-12 08:21] mkouba commented on #3443
Hi @gjeraj, I've just tried your reproducer and it builds and runs just fine. What JDK version are you using?

[2019-08-12 08:22] ia3andy commented on #3348
@geoand yes!!

[2019-08-12 08:22] #3348 closed

[2019-08-12 08:22] ia3andy commented on #3331
@geoand yes, I'll provide a PR ;-)

[2019-08-12 08:23] geoand commented on #3331
OK, thanks :)

[2019-08-12 08:37] ia3andy opened #3478 "Getting a different instance when injecting @ApplicationScoped in a test"
**Describe the bug**
Trying to reproduce this guide to spy on a service: https://quarkus.io/guides/getting-started-testing#mock-support

I encountered an issue with the `@ApplicationScoped` annotation. I get different instance between the one injected in the app and the one in the test.

*Using `@Singleton` solved the problem.*

**Expected behavior**
I am not sure about the expected behavior.

**A

[2019-08-12 08:38] gwenneg commented on #3476
Hi @pipinet!

I just had a quick look at the dependency tree of your reproducer and found two versions of the `smallrye-config` dependency:

[code]

Could you try again after adding the following line to at the beginning of the `dependencies { }` closure of your `build.gradle` file? `implementation enforcedPlatform('io.quarkus:quarkus-bom:0.20.0')`

After that, the `smallrye-config` version from `

[2019-08-12 08:42] chrismelikian opened #3479 "SOAP client"
Hi, what's considered the best way to run a SOAP client within Quarkus. Are any supported at all? There's no mention of SOAP in the docs. Our microservices are REST-based but connect to SOAP services for their data. Quarkus looks great but until we can solve this we can't move further with it.

[2019-08-12 08:53] ia3andy commented on #3331
@geoand PR submitted ;-)

[2019-08-12 09:00] gwenneg commented on #3476
@kenfinnigan @dmlloyd Please note that we have two different versions of `smallrye-config` in the Quarkus dependency tree. We're good on the Quarkus side because of the BOM, but downgrading the dependency to `1.3.5` could have consequences on `org.jboss.resteasy:resteasy-core`.

[2019-08-12 09:06] debae opened #3481 "Extension quarkus-amazon-lambda does not consume SQS payload correctly"
**Describe the bug**
When we invoke our Lambda with an SQS event payload we get the events but the records are null.

The code below can be used to see the problem

`
public class ExampleLambdaSqs implements RequestHandler<SQSEvent, Void> {

    private static final Logger LOG = Logger.getLogger(ExampleLambdaSqs.class);

    @Override
    public Void handleRequest(SQSEvent input, Context context)

[2019-08-12 09:12] debae commented on #3481
The reason behind the field not being mapped is that the event.json had a field "Records", but the field in SQSEvent is records with a lowercase **r**.

Within the AmazonLambdaRecorder#59 , quarkus converts the inputstream to an object.
There should be some kind of configuration present to support mapping Records to the records field.

AWS does this mapping correctly and not taking capital letters

[2019-08-12 09:19] FroMage commented on #3363
Right. We could invert the logic, and require service interfaces to have `@Service` except for "well-known interfaces" (those that belong in EE that we can't touch). This way we can look for all subtypes of those service interfaces. It's a bit more expensive, but easier for users since there are less interfaces than implementations.

[2019-08-12 09:19] mkouba commented on #3474
If you using `mvn compile quarkus:dev` inside a multi-module maven project that also contains an extension you need to use `mvn compile quarkus:dev -DnoDeps` to exclude the local project dependencies from the dev mode. Otherwise, quarkus attempts to monitor the extension classes and this results in various classloading issues.

See https://github.com/quarkusio/quarkus/blob/master/devtools/maven/sr

[2019-08-12 09:20] FroMage commented on #3454
It would be nice.

[2019-08-12 09:20] FroMage commented on #3395
Yeah, I think we should merge it.

[2019-08-12 09:22] FroMage commented on #1724
This is what @dmlloyd suggested. We would need @stuartwdouglas 's opinion about this.

[2019-08-12 09:28] stuartwdouglas commented on #1724
That won't help when running from an IDE.

I will need to look into this. JUnit 5 is actually really restrictive around this, in a lot of ways it is less extensible than JUnit 4.

[2019-08-12 09:34] mkouba commented on #3478
Hi @ia3andy, this is not a bug. The `ExampleService` is a normal scoped bean and therefore a client proxy is injected instead of a direct reference. A client proxy has no state (hence `ExampleService.callRef` is `null`) and delegates all method calls to the current instance.

To fix your test simply add a getter for `ExampleService.callRef` and use this getter instead of the direct access in your

[2019-08-12 09:34] #3478 closed

[2019-08-12 09:37] geoand commented on #1724
I assume this JUnit 5 issue is relevant?  https://github.com/junit-team/junit5/issues/201

[2019-08-12 10:12] #3102 closed

[2019-08-12 10:13] #1790 closed

[2019-08-12 10:17] gwenneg commented on #3306
@emmanuelbernard Here are a few examples of what's already working so far in the draft PR:

The `cacheName` parameter is optional for all annotations. If it is absent, the class FQN is used as the cache name. It means there's no need for some kind of `@CacheDefaults` annotation like the `JCache` one to specify a default cache name at class level. For example, all of the following methods will use

[2019-08-12 10:51] gjeraj commented on #3443
Hi, I was using JDK 8, more precisely jdk1.8.0_191

[2019-08-12 11:05] matheus-meneses commented on #3425
@mkouba what information do you need? I'm in quarkus zullip chat, if you want we can speak there

[2019-08-12 11:17] galderz opened #3482 "Query hint support for Panache"
So that queries can be easily cached. Support for this was suggested in #646 but was not included there.

[2019-08-12 11:20] galderz opened #3483 "Support named queries in Panache"
Named query invocations are missing in Panache.

Adding named queries can make #3482 less of a priority, since hints can be directly defined in the annotated named query.

[2019-08-12 11:48] debae opened #3484 "Documentation about writing-native-applications-tips does not contain gradle examples"
**Describe the bug**
The documentation about writing-native-applications-tips only contains examples on how to achieve this via maven.

**Expected behavior**
Gradle examples are provided as well.

**Maven setup**
[code]
**Gradle setup**
If we want to achieve the same via gradle we need to specify it like this
[code]
**Remarks**
There is some extra caveat being that the config files must end up in

[2019-08-12 11:58] mkouba commented on #3443
Interesting. Is it Oracle JDK, OpenJDK, or something else? I've also tried maven 3.6.1 and `mvn clean package` => BUILD SUCCESS.

[2019-08-12 11:59] anadollu commented on #3425
please check it out you have already add resources/META-INF/beans.xml files to any module projects.

[2019-08-12 12:06] Manu206 opened #3485 "Swagger UI @OpenAPIDefinition"
I tried to change the title of the generated oneapi documentation. However adding @OpenAPIDefinition to the Controller does not work as it is usually defined in the Application.class. In Quarkus I do not have such an class. Can you give me an example of how and where to define it?

`
@OpenAPIDefinition(info =
    @Info(title = "XXX API", version = "1.0", description = "BLABLA")
)
`

[2019-08-12 12:06] gsmet commented on #3425
@matheus-meneses if you could set up a simple project that you can share reproducing the issue, that will help us debugging it.

[2019-08-12 12:10] Manu206 commented on #3485
Found it on the Microprofile documentation:
`
import javax.ws.rs.ApplicationPath;
import javax.ws.rs.core.Application;

@ApplicationPath("/")
@OpenAPIDefinition(info = @Info(title = "XXX API", version = "1.0", description = "BLABLA") )
public class App extends Application {
}
`

[2019-08-12 12:10] #3485 closed

[2019-08-12 12:10] gsmet commented on #3485
While you don't have to create an Application class in Quarkus, you can do it if you need it.

In this case, that's what I would do.

[2019-08-12 12:15] matheus-meneses commented on #3425
i will do that, just a moment and i will post the link here.

[2019-08-12 12:16] matheus-meneses commented on #3425
Is configured in all maven module

[2019-08-12 12:17] #3465 closed

[2019-08-12 12:17] kenfinnigan commented on #3476
Unfortunately, that's going to happen a lot the more MP Config is used within different projects

[2019-08-12 12:23] gjeraj commented on #3443
Weird, I've just tried this on another machine and it also works fine, same maven and java. Could be some weird incompatibility with something. I'll try to investigate this tomorrow.

[2019-08-12 12:37] gwenneg opened #3486 "Hot reload: the sources encoding used during recompilation should be dynamic"
**Describe the bug**
Since #3467 got fixed, we're using a hardcoded `UTF-8` encoding during a hot reload compilation.

**Expected behavior**
Ideally, the encoding should come dynamically from the `project.build.sourceEncoding` Maven property or a Gradle equivalent.

[2019-08-12 13:09] rsvoboda commented on #2333
Fixed in released GraalVM

https://github.com/bobmcwhirter/graal/commit/6efe23d1038238ef0cebd4c18be8a3bca696e9ef
https://github.com/oracle/graal/commit/1976639d80685eb3de77bc5a9c6c7930e5e9df08
https://github.com/oracle/graal/blame/vm-19.1.1/substratevm/src/com.oracle.svm.core.posix/src/com/oracle/svm/core/posix/PosixJavaNetSubstitutions.java#L3605

[2019-08-12 13:09] #2333 closed

[2019-08-12 13:13] n1hility commented on #3092
Hmm I'm not sure about this one. IIUC KC has an extensive set of dependencies so I suspect anyone that uses this extension would end up with a large image output. Another issue is that we are encouraging service centric decoupling, and this is likely not a setup you would want to roll to production with, since it would either create a single point of failure, constrain the setup of REST nodes to t

[2019-08-12 13:16] kenfinnigan commented on #3092
Though we did it in Thorntail, it was mostly a "hack" to give ourselves an easily runnable Keycloak server.

Given the interest with Quarkus, similar to Camel, it's probably best to leave the creation of a Keycloak Server on Quarkus to the Keycloak team. Then they can maintain and update it with each of their releases

[2019-08-12 13:25] rsvoboda commented on #2482
Any update / plan for this issue ?

[2019-08-12 13:37] loicmathieu commented on #3483
@galderz which named queries do you want Panache to support?

Named queries via the `@NamedQuery` annotation so someone can annotate it's entity with a query and use it in one of the find method of Panache like this:

[code]

Or adding to the existing find/list/stream/count/Delete methods an overload to allow passing a Query object ?

[code]

Personaly I favor the second one, but the first one can

[2019-08-12 13:38] ia3andy commented on #3478
Thanks @mkouba!! Very nice explanation..

[2019-08-12 13:47] galderz commented on #3483
I don't really mind which TBH, I'm happy with whatever is more idiomatic for Panache.

[2019-08-12 13:48] matheus-meneses commented on #3425
@gsmet i posted the code on github and sent an invite to @mkouba. Do you an invite to repository too?

[2019-08-12 14:00] galderz commented on #3306
@ben-manes

Good point.

There's an extra point to add here about annotations having timeout details. Timeouts can differ depending on the environment, so actual durations might be better provided by runtime properties, while the annotation can maybe define what to do?

So for example, the annotation could be configured with the refresher SPI to use, but when the duration after which refresher the

[2019-08-12 14:01] Dufgui commented on #3103
@aloubyansky you have fixed it no ? You can close it ?

[2019-08-12 14:11] #3103 closed

[2019-08-12 14:27] mkouba commented on #3425
It turns out that it's not a regression but an application error that was previously hidden by a Spring DI extension bug fixed in this commit: https://github.com/quarkusio/quarkus/commit/91ed6ee7ffef4f1958c8d48fbbd1998460ed2286.

[2019-08-12 14:27] #3425 closed

[2019-08-12 14:44] drissamri commented on #2063
I'm not sure if this is the same issue, but when building in native mode, you still need to set the GRAALVM_HOME property. This shouldn't be required since it's not being used.

Should I open a new bug or is this the same?

[2019-08-12 15:15] #3331 closed

[2019-08-12 17:39] #3395 closed

[2019-08-12 17:49] barata0 commented on #3253
Thanks guys. Working fine on 0.20.0

[2019-08-12 19:34] jglick commented on #2706
As noted in #1720, the [documentation](https://quarkus.io/guides/maven-tooling#remote-development-mode) is rather thin. What is involved in

exactly?

[2019-08-12 19:36] lburgazzoli commented on #3474
@mkouba it fixes it thx

[2019-08-12 19:36] #3474 closed

[2019-08-12 21:27] #2782 closed

[2019-08-12 21:31] #3308 closed

[2019-08-13 05:45] gjeraj commented on #3443
I figured it out, the problem is the old java version. Apparently `jdk1.8.0_131` has this issue. So if anyone else is experiencing this, update java :)

[2019-08-13 05:45] #3443 closed

[2019-08-13 06:13] mkouba commented on #3443
Oh yes, I do remember a similar issue in Weld: http://weld.cdi-spec.org/news/2015/09/15/jdk-8u60-problem/ and even though it's a JDK issue I believe we should ignore the synthetic members as well. I'll send a PR shortly.

[2019-08-13 06:21] mkouba commented on #3474
FYI I've just sent a PR to mention this property in the extension guide.

[2019-08-13 07:55] aesteve opened #3496 "Smallrye JWT isn't compatible with native image"
**Describe the bug**
Securing APIs through the smallrye-jwt extension works fine in dev mode (and I'm guessing jar mode is OK too) but fails with an exception when used in a native image.

**Expected behavior**
It should work the same way in native mode than in dev mode, and not fail with an exception

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
Follow [the tutori

[2019-08-13 09:05] Dufgui opened #3497 "Use gradle model instead of string parsing for manipulating gradle files"
**Description**
Actually we use string parsing and manipulation to add extension, complete existing gradle file, or simply read gradle files. It's fragil, On maven side, we use an external model and parser.

**Implementation ideas**
I am just dig a little more to not use string and delegate parse of model to gradle lib.
I see how eclipse do it:
https://github.com/eclipse/buildship/blob/master/org.

[2019-08-13 09:06] Dufgui commented on #3497
could you add gradle label. and maybe assign to me if nobody want it.

[2019-08-13 09:07] lburgazzoli opened #3498 "Provider io.quarkus.runtime.configuration.TemporaryConfigSourceProvider not found"
**Describe the bug**
I've added a custom ConfigSourceProvider and as per documentation I've created the related service file.

When running in JVM mode everything works as expected but when compiling as native image, then the application throws the following exception:

[code]

[2019-08-13 09:08] Dufgui commented on #3497
In fact I am thinking my self, it could be interesting to have an independent project wich manage all kind of model externaly (maven, gradle, ivy , sbt ...) out of quarkus.... but for now I will manage gradle first

[2019-08-13 09:52] sberyozkin commented on #3496
@aesteve Hi, not sure yet if the JNI issue is only the first one, please see this [guide](https://quarkus.io/guides/native-and-ssl-guide), but can you try to [enable JNI](https://github.com/quarkusio/quarkus/blob/0.19.1/integration-tests/tika/pom.xml#L106) and see how it goes ?

[2019-08-13 10:08] gsmet commented on #3496
In fact, it's the whole `quarkus.ssl.native = true` that should be added to your `application.properties`.

@sberyozkin I think the SmallRye JWT extension should produce a `ExtensionSslNativeSupportBuildItem` as in real life it will always point to an HTTPS resource.

[2019-08-13 10:09] lordofthejars opened #3499 "Comments inline are not skipped in application.properties"
**Describe the bug**
If my `application.properties` looks like:

[code]

Then the URL string is also the comments part `# <1>`.

**Expected behavior**
Inline comments should be skipped.

**Actual behavior**
The URL string is also the comments part `# <1>` so it makes the connection fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an `application.properties` file with inline comme

[2019-08-13 10:19] gunnarmorling opened #3500 "Further improvements to Kafka Streams extension"
**Description**
(Describe the feature here.)

**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design change proposals should be posted to [the Quarkus developer mailing list](mailto:quarkus-dev@googlegroups.com) (or [the corresponding Google Group](https://groups.google.com/group/quarkus-dev); see [the decisions process document](https

[2019-08-13 10:23] sberyozkin commented on #3496
Hi @gsmet thanks for the advice, yes if `mp.jwt.verify.publickey.location` points to a remote JWK set then it will always be HTTPS. But one thing I'm not sure about is, `mp.jwt.verify.publickey.location` can also point to the collocated public keys/ or JWK sets, in which case the native SSL won't be needed.
So may be `quarkus.ssl.native = true` is the way to go given that `mp.jwt.verify.publickey.

[2019-08-13 10:27] gsmet commented on #3499
I don't think it's a bug.

AFAIK, Java property files do not support inline comments.

We fixed the callouts recently on the website to avoid this very issue.

[2019-08-13 10:31] gsmet commented on #3496
@sberyozkin is it a runtime config or build time config?

[2019-08-13 10:34] gsmet commented on #3496
Well, in any case, it should be runtime to be easily overridable. So maybe we should leave it at that.

@sberyozkin could you add a note in the documentation just after the config property table?

[2019-08-13 10:36] lordofthejars commented on #3499
Yeah maybe not a bug and could be changed to feature, but maybe we could support this so `application.properties` is documentation friendly.

[2019-08-13 10:38] gsmet commented on #3499
Well, documentation is supposed to remove the callouts when copy/pasting. At least, that's what Asciidoc does.

I don't think implementing our own property files parser is a good idea.

[2019-08-13 10:40] #3486 closed

[2019-08-13 10:47] lordofthejars commented on #3499
Yeah that's true. The problem I faced doing copy-paste directly from `adoc`. Ok nevermind probably a crazy idea of my tired mind in my last week before PTO 😆

[2019-08-13 11:00] #3473 closed

[2019-08-13 11:01] #3225 closed

[2019-08-13 11:19] sberyozkin commented on #3496
@gsmet will do and post to this issue once I'm done, finalizing the other PR right now, thanks

[2019-08-13 11:28] matheus-meneses commented on #3445
Problem solved!

Follow https://stackoverflow.com/questions/57340126/how-to-fix-org-apache-commons-logging-logconfigurationexception-java-lang-clas and see how to resolve the question.

[2019-08-13 11:28] #3445 closed

[2019-08-13 11:43] gwenneg commented on #3467
Fixed in #3471 and #3487.

[2019-08-13 11:43] #3467 closed

[2019-08-13 11:49] stefankurzbach opened #3501 "Quarkus Test Resources with same order are considered equal"
**Describe the bug**
I have implemented a QuarkusTestResourceLifecycleManager with default order (0). When running my tests, the LambdaResourceManager is never started.

**Expected behavior**
All Test Resources should be started.

**Actual behavior**
When debugging into TestResourceManager I noticed that Test Resources are gathered in a TreeSet.
`Set<QuarkusTestResourceLifecycleManager> testResour

[2019-08-13 11:52] gwenneg commented on #3497
The Gradle Tooling API could help here, but it also has a lot of limitations. When I worked on the add extension feature, I tried to push the tooling API usage as much as I could, but it didn't help that much.

[2019-08-13 11:54] manovotn commented on #3369
That sounds very awkward, is there is reason this is preferred to blowing up with ambig. dependency?
Alternatively, RESTEasy could instantiate the object manually and then let arc inject into it. If arc supports injection target factory that is, @mkouba will surely know from the top of his head ;-)

[2019-08-13 11:56] mkouba commented on #3369
It doesn't.

[2019-08-13 12:08] gwenneg commented on #3498
Did you name this provider `TemporaryConfigSourceProvider`? Because the exception seems to be about a class that already exists in Quarkus: [TemporaryConfigSourceProvider.java](https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/configuration/TemporaryConfigSourceProvider.java)

[2019-08-13 12:14] lburgazzoli commented on #3498
No, the set-up is:

- https://github.com/lburgazzoli/apache-camel-k-runtime/blob/github-57/camel-k-runtime-quarkus/camel-k-runtime-quarkus/src/main/java/org/apache/camel/k/quarkus/ApplicationRuntime.java#L100
- https://github.com/lburgazzoli/apache-camel-k-runtime/blob/github-57/camel-k-runtime-quarkus/camel-k-runtime-quarkus/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi

[2019-08-13 12:21] aesteve commented on #3496
Hi and thanks for your answers.

So if I understand correctly, since the endpoint where JWKS is located is using https, thus JNI, which is not configured in my application.

I'll try to add it and see how it goes.

[2019-08-13 12:36] gsmet commented on #3498
Could you check what happens in `ConfigurationSetup#addDiscoveredSources()` ?

Because this source should be added in the `ServiceProviderBuildItem` and thus added for reflection. So there's something fishy going on.

[2019-08-13 12:40] gsmet commented on #3496
To be clearer: you need SSL support as you are connecting to a https URL, it's not enabled by default as it makes the native images significantly larger.

You need to define the following property in your `application.properties`:
[code]
It will enable JNI and more.

Note that if you want to create a Docker container supporting SSL, you should refer to https://quarkus.io/guides/native-and-ssl-guid

[2019-08-13 12:45] aesteve commented on #3496
Thanks for the link, so I have other things to add in addition to the properties option. I'm gonna try.

A small note in addition, I have been surprised to face that issue when a request hits the server and not at startup.

It makes sense if the JWT check is lazy, and therefore JWKS are not read when application starts. Why not, but I'd like to be sure that those JWKS are stored in a cache and not

[2019-08-13 12:47] gsmet commented on #3496
The sources are here: https://github.com/smallrye/smallrye-jwt/ .

Not familiar with this project so I can't help you on that.

[2019-08-13 12:57] lburgazzoli commented on #3498
I see only mine:

![image](https://user-images.githubusercontent.com/1868933/62943359-93b2ce80-bdda-11e9-9112-7ddb63ec2cda.png)

[2019-08-13 13:18] aesteve commented on #3496
`quarkus.ssl.native=true` + adding the configuration mentioned [here](https://quarkus.io/guides/native-and-ssl-guide) fixes the issue perfectly.

Sorry for the report :\

As for the caching thing, I may ask for help on the repo you linked right above this comment.

Thanks a lot.

[2019-08-13 13:18] #3496 closed

[2019-08-13 13:26] gsmet commented on #3496
@aesteve we definitely need a pointer in the JWT doc though so we will add one.

[2019-08-13 14:10] lburgazzoli commented on #3498
@gsmet I confirm:

1. if I remove the custom source provider, then the image works
2. the workaround of declaring TemporaryConfigSourceProvider for reflection make the app working

[2019-08-13 14:14] gsmet commented on #3498
So what we need to understand is what triggers the issue when adding a custom source provider.

[2019-08-13 14:39] gsmet commented on #3352
Reopening as it seems @evanchooly has something in the works on the subject.

[2019-08-13 14:46] sberyozkin commented on #3496
@aesteve ping me please if you have any questions re smallrye-jwt. The key resolution is typically done once, inside Jose4J key location resolver. HTTPS located keys are managed  by Jose4J HTTPS cache.

[2019-08-13 14:50] sberyozkin opened #3502 "Specify in the JWT guide that using HTTPS mp.jwt.verify.publickey.location requires quarkus.ssl.native in the native mode"
**Description**
The JWT documentation is missing this information
**Implementation ideas**
Update the docs as suggested in the issue title

[2019-08-13 17:18] Dufgui commented on #3497
The gradle approch is based on script not on model.:
See https://github.com/gradle/gradle/blob/master/subprojects/core/src/main/java/org/gradle/groovy/scripts/internal/DefaultScriptCompilationHandler.java

I don't how you try to start but GradleConnector and projectConnection seems to be too limited for us.

So I think, we can choose one of this option :

-  implement all handlers in https://githu

[2019-08-13 18:07] gwenneg commented on #3497
There's also a model approach in Gradle using the [Tooling API](https://docs.gradle.org/current/javadoc/org/gradle/api/Project.html), this is what I used. We're already using some parts of it in `quarkus-gradle-plugin`.

[2019-08-13 19:02] Dufgui commented on #3497
I see it. The connector. It seems limited

Le mar. 13 août 2019 à 20:07, Gwenneg Lepage <notifications@github.com> a
écrit :

[2019-08-13 21:18] lburgazzoli commented on #3498
Added a reproducer here: https://github.com/lburgazzoli/quarkus-config-factory

[2019-08-14 02:04] jglick opened #3505 "Kubernetes client extension native: IntOrString$Serializer has no default (no arg) constructor"
**Describe the bug**

I have a Quarkus app which manipulates K8s resources using the standard extension for the Fabric8 client. It works fine in OpenJDK. When I run it in native mode, I get a cryptic error from Jackson.

Vaguely reminiscent of #3077, but distinct, and not due to use of watches.

**Expected behavior**

Call works as in regular JVM mode.

**Actual behavior**

I get

[code]

Note tha

[2019-08-14 02:15] jglick commented on #3505
I suspect https://github.com/quarkusio/quarkus/blob/0251070f82d25190a427da0ca965b9974c50a488/extensions/kubernetes-client/deployment/src/main/java/io/quarkus/kubernetes/client/deployment/KubernetesClientProcessor.java#L82-L88 needs to be extended to process `JsonSerializer`s so that resources can be modified and not merely retrieved.

[2019-08-14 06:54] #3501 closed

[2019-08-14 07:14] sirf commented on #3462
I ran into the exact same problem and decided to give it a shot.
This simple change fixes the issue, without breaking anything else as far as I can tell: https://github.com/quarkusio/quarkus/pull/3507

[2019-08-14 08:43] sirf commented on #3462
PR #3508 seems to fix the issue.

[2019-08-14 11:45] #3462 closed

[2019-08-14 12:27] gwenneg commented on #3306
Quick question about cache names: should the following case be allowed?

[code]
[code]

This can be detected and forbidden at build time in multiple ways:

- A prefix (for example `default_`) can be added to default cache names and disallowed at the beginning of a user chosen cache name.
- Default cache names can be listed at build time and then user chosen cache names can be disallowed if they ma

[2019-08-14 12:56] #3502 closed

[2019-08-14 13:15] #3167 closed

[2019-08-14 13:18] #3460 closed

[2019-08-14 13:40] manovotn commented on #2990
Sorry for the delay, the notification slipped my attention.

You're going to have to replace the `Map<BeanInfo, ResultHandle> beanToResultHandle` with something like `Map<BeanInfo, Supplier<ResultHandle>> beanToResultHandleSupplier`.
And then we'll only call the supplier once we really need it which would be after the generation.

[2019-08-14 13:46] sberyozkin commented on #3342
@zaretskyy Hi, I'd like to close this issue. Have you had a chance to confirm the JNI issue has gone ?

[2019-08-14 13:48] sberyozkin opened #3512 "Provide Apache Tika extension guide"
**Description**
The guide for the Apache Tika extension is currently not available.

**Implementation ideas**
Add a tika-guide.adoc

[2019-08-14 14:07] zaretskyy commented on #3342
@sberyozkin yes sorry for late reply it works on quarkus 0.20

[2019-08-14 14:07] #3342 closed

[2019-08-14 14:15] loicmathieu commented on #2744
Hi, I found a more easy implementation.
Instead of doing `Book.withLock(PESSIMISTIC).findById(12);` we can propose a `withLock` method on PanacheQuery so one could write `Book.find("id", 12).withLock(PESSIMISTIC).list();`

This will be a little more verbose and will only covers queries with the `find()` methods and not the shorthand methods `list()/stream()/findById()` but it's very easy to implem

[2019-08-14 14:26] barreiro commented on #3382
I have push a fix to remove unnecessary calls to ```Connection.clearWarnings()``` in Agroal.

[2019-08-14 14:42] #3505 closed

[2019-08-14 15:18] elamotte7 opened #3516 "ENV Variables doesn't work anymore with Quarkus 0.20.0"
**Describe the bug**
I am upgrading quarkus 0.19.1 to 0.20.0.

First kubernetes crash during the Unit tests, but there is already an issue opened.

Secondly, when I launch an "mvn clean install", the result for my unit test is :
...
Unknown level "${CONSOLE_LOG_LEVEL:DEBUG}"
Caused by: java.lang.IllegalArgumentException: Unknown level "${CONSOLE_LOG_LEVEL:DEBUG}"

It seems there is a regression, a

[2019-08-14 15:22] gsmet commented on #3516
Which one is it?

[2019-08-14 15:22] gsmet commented on #3516
Could you create a failing reproducer (something that worked before with 0.19.1 and now fails with 0.20.0)?

Thanks!

[2019-08-14 15:23] gsmet commented on #3499
Yeah, let's close it, I don't think it's a good idea to diverge from the default properties format.

[2019-08-14 15:23] #3499 closed

[2019-08-14 15:24] gsmet commented on #3484
I'm all for adding them. Could you maybe create a pull request?

[2019-08-14 15:29] lordofthejars opened #3518 "Relax HTTPS option"
**Description**

 I was thinking that for testing purposes it will be great to have a configuration flag that configures MP Rest client to accept any request to any https site by disabling trust manager. I think that for testing purposes this might be really helpful.

[2019-08-14 15:41] elamotte7 commented on #3516
#3465

[2019-08-14 15:59] sberyozkin commented on #3342
@zaretskyy np, thanks for the confirmation

[2019-08-14 16:14] #3512 closed

[2019-08-14 16:40] elamotte7 commented on #3516
Have a look @ https://github.com/elamotte7/quarkus.git

this is a complete example of all the features we are using on my project.

There are two branches, 0.19.1 and 0.20.0

Hope it can be helpful

[2019-08-14 18:16] masini opened #3520 "Make Quartz Extension configurable for clustered scheduler engine"
**Description**
Quartz supports clustered JobStores that use JDBC and locks to synchronize between nodes:

[Configure Clustering with JDBC-JobStore](http://www.quartz-scheduler.org/documentation/quartz-2.3.0/configuration/ConfigJDBCJobStoreClustering.html)

The current Quartz extension has the RAMJobStore hardwired so this cannot be used.

**Implementation ideas**
As discussed here:

https://group

[2019-08-14 18:47] rafaelszp commented on #3520
I support this enhancement. Our company will move projects from old wildfly(legacy, swarm and thorntail) to quarkus soon, but the absence of this feature will cause some delays or we wont be able to migrate to this amazing framework.

[2019-08-14 19:33] gsmet commented on #3174
Just got hit by yet another Gradle regression while releasing 0.21.0.

We really need to work on this.

[2019-08-14 19:33] geoand commented on #3174
What kind of Gradle regression was it this time?

[2019-08-14 19:36] gsmet commented on #3174
https://github.com/quarkusio/quarkus/pull/3522

[2019-08-14 19:39] geoand commented on #3174
So it's actually blowing up on something that is a problem but we hadn't noticed it, interesting :)

[2019-08-14 19:42] gsmet commented on #3174
Yup. It would be interesting to notice it before having all the artifacts
pushed to Central :).

[2019-08-14 21:08] barata0 opened #3523 "delete error on neo4j-guide"
The neo4j-guide has an error on delete method

[code]

To fix the problem the sentence must be replaced to:

`                "MATCH (f:Fruit) WHERE id(f) = $id DELETE f
`

or including the **DETACH** to remove all the relations as well

`                "MATCH (f:Fruit) WHERE id(f) = $id DETACH DELETE f
`

[2019-08-14 22:27] barata0 commented on #3523
Environment:

ubuntu-18.04
neo4j-3.5.6 (tested on 3.5.8 with the same result)
quarkus-0.20.0

[2019-08-14 22:33] jglick commented on #3505
Confirmed fixed in 0.21.0. Thanks for the amazingly fast resolution!

[2019-08-15 04:17] rarguello opened #3526 "Error when building a Native Image on Fedora 30 (Linux Kernel 5.2.7)"
**Describe the bug**
When packaging the native image for any project it fails in Fedora 30 with Linux Kernel 5.2.7 with this error:

[code]

**Expected behavior**
The native image gets created without errors.

**Actual behavior**
The native image creation using -Pnative fails with an error, and no native image gets created

**To Reproduce**
Steps to reproduce the behavior:
1. Install Fedora 30 and

[2019-08-15 04:22] rarguello commented on #3526
Might be related:

https://github.com/oracle/graal/issues/1582

[2019-08-15 07:03] stefankurzbach commented on #3352
In my setup the unit tests using `LambdaClient `succeed because the `quarkus-test-amazon-lambda` module is running an integrated Undertow server (`LambdaResourceManager`) to poll against.

However several `UnknownHostExceptions `are thrown by `AmazonLambdaRecorder `at the end of the tests, when shutting down the Undertow server. Can this behaviour be fixed too? It seems to be a matter of timing wh

[2019-08-15 07:10] mkouba opened #3528 "Arquillian adapter - @Before and @After callbacks are not invoked"
It seems that Arquillian's `ClientBeforeAfterLifecycleEventExecuter` invokes the callbacks only if `org.jboss.arquillian.container.test.impl.client.protocol.local.LocalProtocol` is used. Which is not the case for Quarkus.

See
https://github.com/arquillian/arquillian-core/blob/master/container/test-impl-base/src/main/java/org/jboss/arquillian/container/test/impl/execution/ClientBeforeAfterLifecycl

[2019-08-15 07:39] mkouba commented on #3528
An ugly solution would be to invoke the callbacks manually, i.e. find all callbacks and invoked them via reflection.

[2019-08-15 08:40] muirandy commented on #3500
@gunnarmorling Will this override the need for #3202 ?

[2019-08-15 08:48] Dufgui commented on #3497
The more I think about it, the more I think we must not integrate gradle but just the AST of groovy and Kotlin.
Groovy:
http://docs.groovy-lang.org/next/html/gapi/org/codehaus/groovy/ast/builder/AstBuilder.html
For Kotlin I will search it.

[2019-08-15 08:55] gunnarmorling commented on #3500
Hey @muirandy, good question; essentially the first bullet ("Auto-register the default key and value SerDes for reflection") captures the same requirement as #3202. Now that my work on #2863 has been merged into master, you'd actually be in a good position to file a PR for tackling this, if you're still interested. IIRC, you had the actual work done already, so perhaps all that's needed is to reba

[2019-08-15 08:58] gunnarmorling commented on #3202
Hey @muirandy, sorry for the long delay -- holidays and such :) Do you still encounter the issue above after rebasing your work to the current master (my work on #2863 has been merged by now)? As you say, `LogAndFailExceptionHandler` is already registered for reflection, so it's a bit puzzling.

[2019-08-15 09:07] mkouba opened #3530 "Intercepted subclass does not share interceptor instances"
"The lifecycle of an interceptor instance is the same as that of the target class instance with which it is associated."

[2019-08-15 11:08] mkouba opened #3532 "Consider adding support of InterceptionFactory"
https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#interception_factory

The problematic part is `InterceptionFactory#configure()`.

[2019-08-15 11:11] mkouba opened #3533 "Support interception of interface default methods"

[2019-08-15 12:48] kenfinnigan commented on #3528
I'd modified the QuarkusExtension to register an observer for https://github.com/arquillian/arquillian-core/blob/master/container/test-impl-base/src/main/java/org/jboss/arquillian/container/test/impl/execution/BeforeLifecycleEventExecuter.java which works, but they're operating on different instances of the test class.

[2019-08-15 12:50] kenfinnigan commented on #3528
Can we extend https://github.com/arquillian/arquillian-core/blob/master/container/test-impl-base/src/main/java/org/jboss/arquillian/container/test/impl/client/protocol/local/LocalProtocol.java for Quarkus to then have our own execute method creation?

[2019-08-15 13:16] kenfinnigan commented on #3528
So I just tried extending it, but I get errors complaining about two Local Protocols being registered

[2019-08-15 13:23] manovotn commented on #3528
Or we would need a way to fully provide the test instance to Arquillian so that it operates on the enhanced version right away, that should solve it too.
But for that we would need to update Arquillian (from what I know you cannot do that now) and then I am not sure it would work correctly with various TCKs which are presumably relying on older versions...

[2019-08-15 13:26] kenfinnigan commented on #3528
Ok, so I've now got `LocalProtocol` working and the `@Before` and `@After` are triggered, but the test instance being used for Before/After is different from the one used in the test execution.

Having looked at `Arquillian`, I'm not sure there's a way to override it creating an instance directly.

[2019-08-15 13:33] manovotn commented on #3528
Hmm, looks like (MP) TCKs are already running on older version (1.1.13 BOM) then what Quarkus hopes to have (1.4.1 BOM). So maybe it would be possible to make a change in Arq and dep. on newer version?

[2019-08-15 16:03] dteleguin opened #3535 "Injecting @Context parameters into application constructor doesn't work"
**Describe the bug**
When trying to inject `@Context` data as JAX-RS application's constructor arguments, non-working instances are injected. At the same time, obtaining the instances directly from ResteasyContext works just fine.

**Expected behavior**
Valid context data should be passed to the constructor.

**Actual behavior**
Proxy instances are injected, but any actual invocation results in an

[2019-08-15 16:22] elamotte7 commented on #3516
Same behaviour with quarkus 0.21.1

see https://github.com/elamotte7/quarkus/tree/0.21.1

[2019-08-15 17:56] gunnarmorling commented on #3202
@muirandy, so the issue above should be fixed by @gsmet's PR https://github.com/quarkusio/quarkus/pull/3534. I had misread -- `LogAndFailExceptionHandler` was already registered, but `LogAndContinueExceptionHandler` wasn't. Have you configured this one explicitly? If so, it'd make sense to automatically register the configured handler in the extension, similar to what you plan to do fo the default

[2019-08-15 18:07] kenfinnigan commented on #3528
Bit of an update before going on PTO.

Switching the Arquillian container to use the `LocalProtocol` means that the `@Before` methods are executed. However, test class instances are still different.

I tried creating a `TestEnricher` to see if we could replace the test class instance with the one Quarkus creates, but that results in the `@Before` methods executing with a different instance, as the

[2019-08-15 18:49] Holi60k opened #3537 "byte array in request class with OpenAPI extension works on 0.18.0 and not on 0.19.0+"
**Describe the bug**
I started to migrate an existing Thorntail application to Quarkus. This project has some REST based endpoints. The classes that are used in the REST endpoints are documented with OpenAPI, and we would like to separate our REST interfaces and implementations so we have an ```IExampleRest``` where the methods are documented with OpenAPI or not but in this case does not matter, a

[2019-08-15 18:59] avboy72 opened #3538 "quarkus-resteasy-jsonb Marshaling Generic Type results in WARNINGS on each request"
Using quarkus-resteasy-jsonb for my RESTful service

and with this class
[code]

Returned from this resource method:
[code]
The result from my GET request returns the correct payload, however,  I get this warning in the log each time the request is made.

[code]

If I switch to quarkus-resteasy-jackson, the warning is not logged. ( however I have to include other dependencies to get "Instant" to s

[2019-08-15 19:33] jordanglassman commented on #1218
FYI, for running on the command line with maven, the `config` directory needs to live in `target/classes`.

Consider clarifying this in the cheat sheet too, as "current working directory" was not obvious to me.

+1 for allowing this file to live somewhere that doesn't get wiped by `mvn clean`.

[2019-08-15 19:45] sean-scott-lr commented on #3538
Also, I just tried to run in Native mode.  And neither option above produces output from my endpoint.  just '''{}''' is returned

[2019-08-15 20:14] sean-scott-lr commented on #3538
More Information.  Turns out the anonymous class is merely changing the behavior what is being logged for the very first request.  After a hot-redeploy.    ( Adding the {} makes the first request not get logged with a warning, but subsequent ones do )

So the anonymous class was just a red herring.  I always get the warning.

[2019-08-15 20:22] sean-scott-lr commented on #3538
Adding @RegisterForReflection Fixed the issue with Native mode.  Generics must not be supported in the Quarkus auto-registration?

So the only issue seems to be the noisy warning message

[2019-08-15 20:24] jglick opened #3539 "QuarkusTestExtension does not support -ntp in Maven 3.6.1"
**Describe the bug**

If I run Maven commands using `-ntp`, an option added in Maven 3.6.1, I get an error during Quarkus tests.

**Expected behavior**

Just runs.

**Actual behavior**

The test crashes with

[code]

**To Reproduce**

Given a sample app,

[code]

[code]

crashes. If `-ntp` is removed, the build works.

**Environment**

Ubuntu, Docker 19.03.1

**Additional context**

I suspect http

[2019-08-16 03:04] rarguello commented on #3526
linux-headers-5.2 and proper use of SIOCGSTAMP:

https://lkml.org/lkml/2019/7/20/108

[2019-08-16 05:23] solsson commented on #2718
From https://github.com/quarkusio/quarkus/issues/2999 it looks like JNI support is being strengthened.

[2019-08-16 06:09] mkouba commented on #3528
Yeah, this was the first thing I was trying to use but unfortunately we can't use the local protocol because the test class must be loaded by the `RuntimeClassLoader`.

AFAIK `TestEnricher` cannot be used to replace the test instance.

A quick and dirty solution would be to [invoke the callbacks via reflection](https://github.com/quarkusio/quarkus/issues/3528#issuecomment-521547637). Maybe we coul

[2019-08-16 08:06] sbert opened #3541 "Create Kotlin project fail due to pom.xml-template.ftl"
**Describe the bug**
The command
[code]

failed due to :
`[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:0.21.1:create (default-cli) on project standalone-pom: Template resource is missing: /templates/basic-rest/kotlin/pom.xml-template.ftl -> [Help 1]`

**Environment (please complete the following information):**
 - Quarkus version or git rev: 0.21.0 and 0.21.1

[2019-08-16 08:41] #3523 closed

[2019-08-16 08:54] muirandy commented on #3202
@gunnarmorling & @gsmet I guess that some of the other classes that are being registered here could also be read from the properties. I'll look after `LogAndContinueExceptionHandler` and indeed the default SerDes. I expect that `LogAndFailExceptionHandler` and `ByteArraySerde` should also be dependant on the properties?

[2019-08-16 09:02] mkouba commented on #3528
I've created a branch with the JUnit-specific short-term workaround: https://github.com/mkouba/quarkus/tree/issue-3528. @kenfinnigan it would we great if you could verify whether this helps with the MP Metrics TCK.

@manovotn is going to try to find a "correct" solution, i.e. to make it possible to slip the test class instance on the Arquillian side.

[2019-08-16 09:03] gunnarmorling commented on #3202
Yes, for any types whose need for registration for reflection we can derive from the config, we should do it. The ones I had hard-coded were essentially the default values I had to enable in order to make things initially.

So taking a step back, I think for each property that takes the name of class(es) reflectively instantiated by Kafka (Streams), we should register the configured classes or reg

[2019-08-16 12:03] fbricon commented on #1655
Here's a Quarkus LS in action in Red Hat's upcoming [vscode-quarkus](https://github.com/redhat-developer/vscode-quarkus/blob/master/CONTRIBUTING.md):

![vscode-quarkus](https://user-images.githubusercontent.com/148698/63166320-5ba3c980-c02e-11e9-82af-55dabf350d73.gif)

Because quarkus (extensions) have no metadata to read -yet-, we basically index the jars with JDT (via a jdt.ls/vscode-java extens

[2019-08-16 12:29] manovotn commented on #3528
So I spent half a day poking around Arq and how it works with junit. I tried to create an extension point in Arq where we could supply the test instance through simple service loader mechanism.
However, I ran into bunch of problems, biggest of which is the fact that Arq. junit operates with pre-created `org.junit.runners.model.FrameworkMethod` from junit. That class still has wires to the "wrong"

[2019-08-16 12:53] BiggA94 opened #3544 "Docs: Using Vertx guide tells the user to specify versions"
The [using-vertx](https://quarkus.io/guides/using-vertx) guide tells the user to specify the versions of the apis (with env vars).

This shouldn't be necessarry, as the versions of the api's are also included in the quarkus bom.

[code]

[2019-08-16 13:01] mkouba commented on #3528
For the record - #206 describes some of the problems I encountered when trying to leverage the existing Arq protocols.

Note that the Arquillian adapter is still considered an internal tool required for MP TCKs. In other words, I'm fine with adding a hack just to make the TCK pass ;-).

[2019-08-16 13:05] mkouba commented on #3058
Closing the issue. Feel free to reopen if needed.

[2019-08-16 13:05] #3058 closed

[2019-08-16 13:07] #2918 closed

[2019-08-16 13:17] gunnarmorling commented on #3058
Thanks, it makes sense!

[2019-08-16 14:28] galderz commented on #3306
@gwenneg I think that should be allowed. It would of course be better if the user defined their own cache names in such case, but it is fine as is.

[2019-08-16 18:19] muirandy commented on #3202
@gunnarmorling @gsmet I've created a PR for this. Looking forward to the feedback!

[2019-08-16 19:33] JurrianFahner commented on #1534
The problem stil exists in 0.21.1 version

[2019-08-16 20:06] sean-scott-lr opened #3548 "quarkus-infinispan-client Unable to read (unMarshall) a cached item before you write (Marshall) one."
I have set up a remote Infinispan server. And have code that will read and write from a cache on that server.

The issue is that Quarkus is unable to unmarshall items from the cache, unless it has first marshaled into the cache.

**Expected behavior**
I am able to read cached items without first writing to the cache

**Actual behavior**
If you read a cached item before writing one, you get this ex

[2019-08-17 05:53] debae commented on #3484
Here you go : https://github.com/quarkusio/quarkus/pull/3550

[2019-08-17 07:59] 38leinaD commented on #284
@dmlloyd Any update on the status of this? No pressure; just highly interested :-)

[2019-08-17 08:36] masini opened #3551 "Correct URL is not configured if Undertow context-path is configured"
**Describe the bug**
If the property "quarkus.servlet.context-path" is different than "/" Rest Assured integration is unable to configure correctly the test-cases so everything end with a 404

**Expected behavior**
The documented [integration with rest-assured](https://quarkus.io/guides/getting-started-testing#recap-of-http-based-testing-in-jvm-mode) must account for the different context-path

**

[2019-08-17 08:41] masini commented on #3551
As a workaround you can configure a test profile for the context path:

[code]

[2019-08-17 11:45] pipinet commented on #2307
https://github.com/qwlabs/quarkus-issue/2019-06-21-21-00

[2019-08-17 11:54] pipinet opened #3552 "[gradle] gradle test still not work"
### quarkus version: 0.21.1
### rep: https://github.com/qwlabs/quarkus-issues/tree/master/2019-06-21-21-00
### run ./gradlew test
### console error log
[code]
### test report error log
[code]

[2019-08-17 12:16] Dufgui commented on #3497
I test 2 approachs. On différent branches. I will push the gradle tooling api version.

But we have a small limitation: we cannot get dependencies from zipped project. It’s not used. So we can go for it I think

[2019-08-17 13:01] julicjung commented on #3294
Just did a retest with quarks v.0.21.1 out of curiosity — as far as I can tell the issue is still open, so I assume the Smallrye version changes might be outstanding.

[2019-08-17 13:51] mthmulders commented on #2990
Yeah, figured out that you must've meant something like the edit instead of the original comment :-).

Having lambdas is indeed quite some overhead but I don't really know if we should have a Collection of `ResultHandle` instances where some of them refer to a `Supplier` instance and some of them to a `*_Bean` instance. Wouldn't that complicate things?

Anyway, I think I have the circular dependen

[2019-08-17 15:56] manovotn commented on #2990
That's what we ideally want so that with no circ deps you have no extra lambdas in place.
So in the end it should simplify things maybe :)

Sure! Bring up a draft PR and let's go from there.

[2019-08-17 18:37] mthmulders commented on #2990
I've created the draft PR.

I'll see if I can get rid of the many lambda's being created currently. Maybe things can be simpler than I thought at first - we'll see. If so, I'll update the PR.

[2019-08-17 22:54] Dufgui commented on #3552
I will take it, could you assign me please ?

[2019-08-18 12:39] gwenneg commented on #3481
Hi @debae and thanks for reporting this issue!

I think using `MapperFeature.ACCEPT_CASE_INSENSITIVE_PROPERTIES` is a good way to solve it. Would you like to contribute to Quarkus by submitting this in a PR?

[2019-08-18 12:59] gwenneg commented on #3541
Hi @sbert and thanks for reporting this issue!

Would you like to contribute to Quarkus and submit a pull request to fix it?

[2019-08-18 13:07] geoand commented on #3541
I linked to #3542 which addresses the issue

[2019-08-18 13:12] geoand commented on #3539
@aloubyansky does this seem like something that should be fixed in bootstrap?

[2019-08-18 13:51] geoand commented on #3538
I opened #3557 to handle the case you mentioned about needing `@RegisterForReflection` - that should not be necessary.

As for the log message, it is coming from Yasson, not sure what we could do about it.

[2019-08-18 14:59] mthmulders commented on #2990
I noticed that there had been quite some activity on the master branch since I started my work. I'm rebasing against master first and will create a new PR afterwards.

[2019-08-18 16:13] machi1990 opened #3558 "WebSocket ITs failure"
**Describe the bug**
`integrations-test/main` are failing with the following NPE message:
[code]
**Expected behavior**
build to succeed
**Actual behavior**
build failure

**To Reproduce**
Steps to reproduce the behavior:
1. `cd integration-tests/main`
2. `mvn clean install`

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: macOs
 - Output of `java -ver

[2019-08-18 16:27] machi1990 commented on #3558
Windows CI failures for the following PRs seem to be related:
- https://github.com/quarkusio/quarkus/pull/3557,
- https://github.com/quarkusio/quarkus/pull/3556
- https://github.com/quarkusio/quarkus/pull/3428

[2019-08-18 16:47] geoand commented on #3558
Yup, I have been seeing flakiness in CI since yesterday

[2019-08-18 17:33] machi1990 commented on #3558
I have prepared PR - https://github.com/quarkusio/quarkus-http/pull/2 in attempt to fix the issue.

/cc @stuartwdouglas @gsmet @geoand

[2019-08-18 20:34] tandraschko commented on #2378
@mkouba yep, i understand
i generell i can't use Unmanaged in this case as JSF artifacts provides wrapping via constructors.

What could be a good alternative?
Loop all methods and manually invoke PostConstruct/PreDestory and also loop a fields for Injection points and try to get them via CDI.current()?

[2019-08-18 21:46] soberich opened #3560 "java.nio.file.NoSuchFileException thrown for string delimited with ':' (path) supplied by Gradle when multiple source path used (e.g. Kotlin of generated sourceSet)"
**Describe the bug**
java.nio.file.NoSuchFileException thrown for string delimited with ':' (path) supplied by Gradle when multiple source path used (e.g. Kotlin of generated sourceSet).

**To Reproduce**
Steps to reproduce the behavior:
1.  `git clone -b quarkus-spring-mvc git@github.com:soberich/marvel.git`
2.  `./gradlew -x test app:quarkusDev`

**stacktrace**
[code]

[2019-08-19 06:24] cescoffier commented on #3410
@evanshortiss If you follow the guide (https://quarkus.io/guides/openshift-s2i-guide), you will see you need to increase the memory limit of your build. Compiling to native requires a huge amount of memory.

[2019-08-19 06:57] rsvoboda opened #3562 "Native mode ++ websockets ++ Vert.x based http layer failure"
I see failure for native mode ++ websockets ++ Vert.x based http layer
Using Quarkus master  3d86ef180 - (HEAD -> master, upstream/master, origin/master, origin/HEAD) Merge pull request #3506 from stuartwdouglas/quakus-http (2 days ago) <Jason T. Greene>

Issue found via Quarkus quickstart `using-websockets`.

JVM mode test passed.

Native mode test failed with following stacktrace:
[code]

[2019-08-19 07:34] gsmet opened #3563 "Duplicate dependencies netty-all and split netty artifacts"
This gives us warnings like:

We should either use netty-all or the split artifacts but definitely not both.

[2019-08-19 07:35] gsmet commented on #3563
Typically, we have this warning when building:

[code]

[2019-08-19 07:55] aloubyansky commented on #3539
Yes, definitely.

[2019-08-19 08:01] machi1990 commented on #3562
Duplicate of https://github.com/quarkusio/quarkus/issues/3558

[2019-08-19 08:20] rsvoboda commented on #3562
@machi1990 thanks, you saw that in JVM mode ? I'm seeing it only in native mode ...

[2019-08-19 08:20] #3562 closed

[2019-08-19 08:55] gsmet opened #3565 "Add META-INF/io.netty.versions.properties to the uberJar ignore list"

[2019-08-19 09:05] gwenneg commented on #3565
Do you need some help to submit a PR or are you already on it?

[2019-08-19 09:22] gsmet commented on #3565
Feel free to take a stab at it, I'm just collecting the issues right now.

[2019-08-19 10:28] machi1990 commented on #3562
Yes I saw them in JVM mode too.

[2019-08-19 10:31] msmsimondean opened #3566 "Gradle not enabling http in native image"
**Describe the bug**
When using Gradle to build a native image for an AWS Lambda function, it does not enable the `http` protocol in the native image

**Expected behavior**
Native image runs successfully executes.

**Actual behavior**
The following exception is thrown when the native image starts:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. $ git clone https://github.com/msmsimon

[2019-08-19 10:51] sberyozkin opened #3568 "Let the users control CORS Preflight requests from their JAX-RS code"
**Description**
Right now the preflight request is controlled from the filter only.

**Implementation ideas**
Add a @Preflight annotation:
[code]
This might require the Quarkus CORS filter have a configuration option instructing it to skip processing the preflights if the users know their code will do it and/or some build processing step to check this annotation for the CORS filter to notice that

[2019-08-19 10:58] rsvoboda commented on #3476
I see the same issue when I tried to update to `<smallrye-config.version>1.3.9</smallrye-config.version>` (from version 1.3.5).

I think @dmlloyd planned to update SR Config at some point, but not 100% sure.

What are possible detection and mitigation strategies for these multi-version collisions in dependency tree ?

[2019-08-19 12:37] rsvoboda opened #3571 "Regression in list-extensions of quarkus-maven-plugin 0.21.1, case when pom.xml is not present"
quarkus-maven-plugin `0.21.1` has regression in `list-extensions` goal.

Getting error when invoking `mvn io.quarkus:quarkus-maven-plugin:0.21.1:list-extensions` command in directory without `pom.xml` .

`mvn io.quarkus:quarkus-maven-plugin:0.20.0:list-extensions` doesn't require pom.xml presence. So from this perspective it's a regression. `list-extensions` shouldn't require presence of pom.xml.

[2019-08-19 12:49] gsmet commented on #3571
I don't know if it was supposed to be supported but we sure at least need a better error message.

[2019-08-19 13:31] gsmet commented on #3538
@geoand well, it could be a Yasson issue or a RESTEasy issue (with RESTEasy not providing the correct information to Yasson).

@sean-scott-lr could you try to reproduce the issue with simple Yasson code. If you can reproduce it then it's likely a Yasson issue and it should be reported here: https://github.com/eclipse-ee4j/yasson/issues

[2019-08-19 13:40] cescoffier commented on #3571
Will have a look, that's a good "back from PTO" issue.

[2019-08-19 13:46] sean-scott-lr commented on #3538
@gsmet I will give it a shot, but this week will be tough because my schedule is packed.

[2019-08-19 13:55] #2529 closed

[2019-08-19 13:59] gsmet commented on #3537
Outch, you're unlucky on this one: I think you hit 2 different bugs in 2 different versions.

@mkouba see the 0.19 log file, it seems we should exclude primitives types (and arrays of primitive types) from indexing here: `BeanArchives`. Or there should be a safeguard somewhere. Maybe it has already been taken care of?

The failure for 0.20 has been fixed in https://github.com/smallrye/smallrye-ope

[2019-08-19 14:07] gsmet commented on #3563
`netty-all` is coming from `quarkus-http-core` whereas the Vert.x layer depends on the separate Netty components.

It needs to be fixed before the next release.

[2019-08-19 14:12] gsmet commented on #3448
@machi1990 could you take a look? It looks related to the work you did on removing classes?

[2019-08-19 14:46] Dufgui commented on #3571
oh sorry, i don't see you work on it.
I close my PR

[2019-08-19 14:47] Dufgui commented on #3571
but you can take my unit test from my pr and integrate it in yours

[2019-08-19 14:48] cescoffier commented on #3571
Oups! Sorry, @Dufgui. Generally, I mark the issue I'm working on by assigning them to myself (to avoid this). Fortunately, it's a trivial fix.

[2019-08-19 14:49] Dufgui commented on #3571
I cannot assign, sorry, it's my fault , i don't do a comment

[2019-08-19 14:51] cescoffier commented on #3571
@Dufgui I will copy your unit test.

[2019-08-19 14:55] gsmet opened #3575 "Duplicate entry in the bom for quarkus-http-core"
I have the following warning when building:
[code]

[2019-08-19 14:58] lburgazzoli commented on #3136
I'm a little worried to have a script to workaround this issue on an external extension side for a number of reasons:

1. each extension need to implement the very same workaround
2. each extension need to maintain the script and be sure it is compatible with quarkus
3. is is fragile

A better solution would be to have support from the quarkus tooling side so each extension can just use it and wha

[2019-08-19 15:16] ppalaga commented on #3136
Thinking of it again, the generation of the POM for the synthetic tests module and installing it to the local maven repo [1] could be also run on the Quarkus side. That would indeed solve the problems named by @lburgazzoli above. WDYT, @aloubyansky ?

[1] https://github.com/apache/camel-quarkus/pull/140

[2019-08-19 15:19] Dufgui commented on #3552
I wait some input from @aloubyansky @gsmet  because. I can do it simply in bootstap project by adding gradle dep. But maybe you want a bigger refactor to split maven and gradle dependence in sub project ?

[2019-08-19 15:29] gsmet opened #3576 "When running the Maven plugin tests, a lot of JVM instances stay running"
I noticed that because my laptop was becoming totally unresponsive when running the Maven plugin tests due to all the memory being consumed by these running JVMs.

@geoand could you confirm if you have the same issue.

Basically I did:
[code]

Then when the `RemoteDevMojoIT` starts being executed, I have a lot of JVMs started that are not properly stopped, whereas I would expect them to be stopped

[2019-08-19 15:30] #3410 closed

[2019-08-19 15:36] #3565 closed

[2019-08-19 15:40] FroMage opened #3578 "async REST return types will throw when used reactively"
Due to the new HTTP-vertx merge, we're starting to see the following exception:

[code]

Which happens when you return something like:

[code]

So, what happens is that we run a client HTTP call, which notifies us of its result on the IO thread, then RESTEasy registers for this async result and proceeds to write the response to the client.

RESTEasy ATM doesn't care which thread it's invoked on, a

[2019-08-19 15:51] geoand commented on #3576
@gsmet I will try it out tomorrow and let you know because I am traveling for the next few hours

[2019-08-19 18:00] wburns commented on #864
No longer an issue.

[2019-08-19 18:00] #864 closed

[2019-08-19 18:05] machi1990 commented on #3575
I noticed this when working on https://github.com/quarkusio/quarkus/pull/3404. I could make a separate PR for this.

[2019-08-19 18:26] Holi60k commented on #3537
The question is that if it happens with other primitives too. At this case right know, using InputStream or MultipartFormData would be better for file uploading, but this older project had byte[] :D Hope it will be fixed soon!

[2019-08-19 20:28] rsvoboda opened #3581 "Narayana upgrade to 5.9.6.Final causes fail in native"
Narayana upgrade to 5.9.6.Final causes fail in native mode

Revealed in https://github.com/quarkusio/quarkus/pull/3572#pullrequestreview-276620114

[code]

[2019-08-19 21:11] gwenneg commented on #3566
Could you run the build again with `./gradlew buildNative --docker-build=true --enable-http-url-handler=true`?

[2019-08-19 21:46] Dufgui commented on #3552
I reproduce the error in 0.21.1 but not in 999-SNAPSHOT:
[code]

As I can see the error in 0.21.1 is because the "quarkus-deployment-cp" properties containing the class path is not set or empty by the Quarkus gradle plugin. The default treatement try to calculate the classpath on a maven plugin.

There is one remaining error after:
Expected status code <200> but was <415>

I strange, I must debug

[2019-08-19 21:47] gwenneg commented on #3581
The `ConfigurationInfo.getBuildTimeProperties()` was removed from Narayana recently:
https://github.com/jbosstm/narayana/commit/6a6b9b3943e06a1726cc638688d46b17b8ecb7dd#diff-ca74e7d5775a087fc3023c7dee796eb0

[2019-08-19 22:16] gwenneg commented on #3544
Hi @BiggA94 and thanks for reporting this!

[2019-08-19 22:20] gwenneg commented on #3541
Fixed in #3399.

[2019-08-19 22:20] #3541 closed

[2019-08-19 22:46] gwenneg commented on #3120
Was this issue fixed with #3250?

[2019-08-19 22:53] danielpetisme opened #3585 "Create the test structure when using `create-extension` Maven Mojo."
**Description**
When initializing an extension with the `create-extension` Maven Mojo it would be neat to create the `src/main/java` folders, plus create a blank test.

**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design change proposals should be posted to [the Quarkus developer mailing list](mailto:quarkus-dev@googlegroups.com) (o

[2019-08-19 23:00] danielpetisme opened #3586 "Enhance Elytron Security extension to support a database as identity store"
**Description**
(Describe the feature here.)
The goal of this feature would be to enhance the existing quarkus-elytron-security extension (which covers only a file based identity store currently) to take benefits of Elytron Security supports for Database as identity store.

**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design change

[2019-08-19 23:02] gwenneg commented on #3585
That's a great idea! I would also add a blank dev mode / hot reload test:

[code]

[2019-08-20 05:11] pipinet commented on #3552
@Dufgui sorry, 415 is right,  resource is post , but test is get.

[2019-08-20 06:37] Dufgui commented on #3552
Ok so wait for next release please. Can you close this issue?

[2019-08-20 06:45] #3544 closed

[2019-08-20 07:15] aloubyansky commented on #3552
Hold on closing it. Is it fixed in master?

[2019-08-20 07:34] aloubyansky opened #3588 "devtools/maven to provide a test framework for extensions"
ATM, devtools/maven aggregates tests for various extensions (such as kotlin, kogito, etc) that are added as test dependencies. It would help a lot productization to avoid building dependencies that shouldn't be productized. Instead of adding tests to directly to devtools/maven, devtools/maven could provide a test framework that extensions could import into their testsuites and keep their tests in

[2019-08-20 07:36] dcdh commented on #3120
It only works in jvm mode, not un native.

Regards,

Damien

Le mar. 20 août 2019 à 00:46, Gwenneg Lepage <notifications@github.com> a
écrit :

[2019-08-20 07:53] jmartisk commented on #3528
Ken is now on PTO, so for now I tried the temporary solution and it seems it works. Will use it to dig deeper into the TCKs and find more issues :)

[2019-08-20 07:57] loicmathieu commented on #3586
@danielpetisme the quarkus-elytron-security extension only cover basic authentication via  a user/password file or embedded in application.properties not Oauth2.
But it's the right place to add an other identity store (an IdentityManager in Elytron security).

[2019-08-20 08:12] gsmet commented on #3120
@dcdh what's the issue you have with native?

[2019-08-20 08:12] #3581 closed

[2019-08-20 08:14] geoand commented on #3576
@gsmet I followed your steps and couldn't reproduce the problem

[2019-08-20 08:14] msmsimondean commented on #3566
@gwenneg that worked!  I had to pass it without the `=enabled` though as it complained that `Command-line option '--enable-http-url-handler' does not take an argument`

[2019-08-20 08:20] aloubyansky commented on #3552
It appears Gradle is not applying the Quarkus plugin in your config. If you change it like @Dufgui suggested it will work with 0.21.1. The test will fail as noted but the plugin will be working correctly.

[2019-08-20 08:22] aloubyansky commented on #3552
Just in case, I tested with the following changes
[code]

[2019-08-20 08:25] gwenneg commented on #3576
I'll try on my computer.

[2019-08-20 08:27] #3571 closed

[2019-08-20 08:28] gsmet commented on #3576
Basically, what I do is having a `top` running sorted by memory. And `java` instances keep piling up while the tests are running.

[2019-08-20 08:33] geoand commented on #3576
I pulled the latest master but still couldn't reproduce 😣

[2019-08-20 08:38] gsmet commented on #3576
FWIW, it's instances of `quarkus:remote-dev`. Let me try again.

[2019-08-20 08:40] gsmet commented on #3576
Running:
[code]
shows the problem very well.

I just reproduced it.

[2019-08-20 08:46] geoand commented on #3576
Trying again

[2019-08-20 08:48] geoand commented on #3576
Seems like I was able to reproduce this time around

[2019-08-20 08:50] gsmet commented on #3576
I think I found the culprit: https://github.com/quarkusio/quarkus/blob/master/devtools/maven/src/test/java/io/quarkus/maven/it/verifier/RunningInvoker.java#L55

We should also kill the `remote-dev` instances. I'm preparing a PR.

Note that it's a bit brutal IMHO but I suppose we can't do better for now.

[2019-08-20 08:50] geoand commented on #3576
I think it will be just fine :wink:

[2019-08-20 09:22] loicmathieu commented on #3107
I someone working on this now? I'm interesting of providing an implementation for agroal

[2019-08-20 09:24] sbert opened #3591 "Kotlin + Live Reload + @Valid not working in DEV Mode"
**Describe the bug**
If you use @Valid annotation in a rest Method, it doesn't work if hot swap is applied

**To Reproduce**
Steps to reproduce the behavior:
1. Generate an application with kotlin + Resteasy + quarkus-hibernate-validator
2. Create a data class with validation rules on field
3. Create your Rest Ressource with a post and add @Valid
4.  Launch your application in dev mode : everythin

[2019-08-20 09:29] gwenneg commented on #3566
Great! Sorry about the argument thing, I forgot it was not required for boolean Gradle options :)

Can I consider this issue fixed and close it?

[2019-08-20 09:30] gsmet commented on #3566
I don't know. I wonder if the sample project shouldn't include it, considering we do include it in the Maven project.

[2019-08-20 09:38] gwenneg commented on #3566
@gsmet Which project exactly? I don't see any quickstarts project or guide about Amazon Lambda.

[2019-08-20 09:38] Dufgui commented on #3552
Maybe we must add a log to see if the plugin is well loaded and call

Le mar. 20 août 2019 à 10:22, Alexey Loubyansky <notifications@github.com>
a écrit :

[2019-08-20 09:57] gsmet commented on #3566
Don't we have something to create a Gradle project?

[2019-08-20 10:03] msmsimondean commented on #3566
The Maven plugin automatically enables HTTP.  The Gradle plugin doesn't.

@evanchooly has an example project for the Amazon Lambda extension at https://github.com/evanchooly/quarkus-demo-apps/tree/master/amazon-lambda that uses Maven.  In his codebase he doesn't have to explicility enable HTTP as Maven is doing it implicitly.  When I ported this example codebase to use Gradle, I found that Gradle

[2019-08-20 10:11] msmsimondean commented on #3566
It would be great if there was a guide for the Amazon Lambda extension.  It took quite a few hours to work out how to create a new codebase using the extension without the help of a guide.

[2019-08-20 10:14] gsmet commented on #3566
Sorry, I'm talking about initializing a bare Gradle project.

We have this in the Maven basic-rest template: https://github.com/quarkusio/quarkus/blob/master/devtools/common/src/main/resources/templates/basic-rest/java/pom.xml-template.ftl#L99 . Was wondering if we should have the same in the Gradle one.

But TBH, I'm not even sure we have a Gradle template and a Gradle project creation tool.

[2019-08-20 10:15] dirkweil opened #3592 "Hot reload fails with InvalidPathException on Windows"
Starting with Quarkus 0.21.0 hot reload failes with InvalidPathException (at least) on Windows.

When a Quarkus application runs in dev mode, i. e. using mvn quarkus:dev, a REST call will trigger a hot reload, if one of the source files has changed before. That worked like a charm up to version 0.20.0. With 0.21.0 the REST response contains an error message:

`<header>
    <h1 class="container">Er

[2019-08-20 10:19] aloubyansky commented on #3552
It's not applied. Its tasks are not listed for the build. I think we should create a minimal reproducer and open a Gradle issue.

[2019-08-20 10:34] machi1990 commented on #3592
To be fixed by https://github.com/quarkusio/quarkus/pull/3561 ?
@gsmet

[2019-08-20 10:34] gwenneg commented on #3592
Hi @dirkweil, I just tried (from a MacBook) with both `0.21.0` and `0.21.1` (which is the latest Quarkus release) and couldn't reproduce the issue.

[2019-08-20 10:35] machi1990 commented on #3592
I guess it is the Windows thingy :-)

[2019-08-20 10:38] gwenneg commented on #3592
Oh right, I missed that detail in @dirkweil's message :)

[2019-08-20 10:41] gsmet commented on #3592
No, I don't think it's the same issue as #3561. Looks like a different one.

@dirkweil could you provide the full stacktrace? No Windows box here :).

Thanks!

[2019-08-20 10:46] msmsimondean commented on #3566
@gsmet it's all making sense now.  I notice the demo app includes the same setting in its Maven pom.xml: https://github.com/evanchooly/quarkus-demo-apps/blob/master/amazon-lambda/pom.xml#L127

[2019-08-20 11:25] #3575 closed

[2019-08-20 11:30] jorsol opened #3593 "hibernate-validator + kubernetes-client native-image is slow and resource intensive"
**Describe the bug**
Including the quarkus-hibernate-validator on a fairly dummy project makes the compilation time to last the double or triple, and increase the CPU and Memory usage.

On an idle and relatively powerful workstation (AMD Ryzen 7 2700X, 64GB RAM), the compilation time without quarkus-hibernate-validator in three runs:
01:20 min
01:23 min
01:21 min

Creating a final file size of 39

[2019-08-20 11:41] #3576 closed

[2019-08-20 11:46] jmartisk opened #3594 "Wrong bean metadata injected into interceptor using @Intercepted when using dependent scope"
I'm trying to run MP Metrics TCK, in particular `ConcurrentGaugedClassBeanTest` [1]. I am facing an issue that when a `ConcurrentGaugeInterceptor` is being constructed during the test to intercept calls to methods of `ConcurrentGaugedClassBean` [2], wrong bean is injected into its `@Intercepted` injection point [3] - the `bean` parameter should contain the `ConcurrentGaugedClassBean` that is being

[2019-08-20 11:46] jmartisk commented on #3594
@mkouba @manovotn  please look, and if something is not clear, I will try to explain further

[2019-08-20 12:04] geoand commented on #3591
I'll try and take a look at this some time this week

[2019-08-20 12:04] geoand commented on #3593
@gsmet is the SME here

[2019-08-20 12:13] gwenneg commented on #536
Fixed in #537

[2019-08-20 12:13] #536 closed

[2019-08-20 12:36] gwenneg commented on #2063
@drissamri It looks like the same issue as #2786 which should have been fixed in Quarkus `0.21.1`. Could you try with `0.21.1` and confirm it's all good now please?

[2019-08-20 12:36] Karm commented on #1310
@kenfinnigan @jclingan Tracked here: https://github.com/eclipse/microprofile-starter/issues/195

[2019-08-20 12:53] Karm opened #3596 "MicroProfile JWT application works with Payara Micro, Thorntail, TomEE and fails with Quarkus"
Hello,

I am working on adding Quarkus runtime to https://start.microprofile.io/ project generator, [MicroProfile Starter issue 195](https://github.com/eclipse/microprofile-starter/issues/195), [Quarkus issue 1310](https://github.com/quarkusio/quarkus/issues/1310). I seem to be having a weird issue with our JWT example that fails with Quarkus unless Java code is modified. I do realize Quarkus is n

[2019-08-20 12:55] Karm commented on #1310
Blocked by #3596

[2019-08-20 13:03] gsmet commented on #3516
@gwenneg would you be interested in taking a look at what's happening here?

It would be nice to have it fixed before the next release so I'm looking for a volunteer :).

[2019-08-20 13:09] gwenneg commented on #2063
@renannprado Thanks for asking us to reopen this issue! There was a bug in our Gradle plugin which I just fixed.

[2019-08-20 13:18] gwenneg commented on #3516
@gsmet I actually already took a quick look at this one without finding a way to fix the issue. I will investigate this again.

[2019-08-20 13:28] jglick commented on #1605
Resources are addressed more specifically in #2746.

[2019-08-20 13:30] jglick commented on #2746
The principle of least surprise says that all of `src/main/resources/` should be included in the native image by default. If you did not want to use a resource, why did you create it to begin with? Developers should not have to go down a Google/stackoverflow.com rabbit hole to find a hard-to-remember POM addition just so that what works out of the box in JVM mode also works in native mode.

[2019-08-20 13:32] manovotn commented on #3594
Hmm, that's interesting.
If I play around with existing [test](https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/intercepted/InterceptedBeanInjectionTest.java) and try to simulate the scenario, it works just fine.

And [this class](https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/runtime/src/main/

[2019-08-20 13:54] gsmet commented on #3516
Did you understand what was going on and the difference between the 2 versions? That might ring a bell for someone.

[2019-08-20 14:23] Manu206 opened #3598 "CORS not working correctly"
**Describe the bug**
I have a simple REST interface that needs to be accessed by a SPA which is failing because of CORS. I checked again and tried to call my interface via POSTMAN and I do not see any cors headers.

[code]

However if I implement the JAX-RS filter the cors header is showing up.
Is there a known BUG or could anybody confirm with version 0.21?

[code]

**UPDATE:**
I figured out that

[2019-08-20 14:29] sberyozkin commented on #3596
Hi @Karm I think I may not what is going on, or at least it rings a bell :-).
The code in the smallrye/smallrye-jwt does not wrap custom claims whose values are strings into JsonValue.String to meet the TCK requirements (at the moment only enforced at the Thorntail level), there is a faulty TCK test which expects a `String`, while [Quarkus does](https://github.com/quarkusio/quarkus/blob/master/ext

[2019-08-20 14:38] evanchooly commented on #3566
@msmsimondean Those docs are coming.  the underlying mechanics of the extension are being reworked and so the configuration and usage might change.  I'm waiting on those aspects to stabilize a bit hopefully in the next month or so.

[2019-08-20 14:43] gsmet commented on #3593
Interesting. I'll have a look.

[2019-08-20 15:21] gsmet opened #3600 "The new HTTP layer depends on Jackson and Jackson Databind"
- vertx-core depends on Jackson Core
- quarkus-vertx depends on Jackson Databind

so the new Vert.x web layer brings Jackson in virtually every apps.

Is it really what we want?

[2019-08-20 15:36] #3530 closed

[2019-08-20 15:48] lesha-red commented on #3592
Hello!

I'm getting virtually the same walkback, but with the different JAR file:

<pre>
java.nio.file.InvalidPathException: Illegal char &lt;:&gt; at index 2: /C:/Users/serov/.m2/repository/io/quarkus/quarkus-undertow-common-substitutions/0.21.1/quarkus-undertow-common-substitutions-0.21.1.jar
	at java.base/sun.nio.fs.WindowsPathParser.normalize(WindowsPathParser.java:182)
	at java.base/sun.nio.f

[2019-08-20 16:08] sberyozkin commented on #3596
@Karm to be honest we can just drop the Quarkus code enforcing the wrapping of unknown claim Strings and worry about if the TCK will ever try to force it, looks like no one is actually expecting JsonValue where a String is just a natural fit

[2019-08-20 16:09] gsmet commented on #3593
So I built the HV integration tests native executable again and the result is:
[code]
which is in the ballpark of what I had in mind.

There's something wrong going on that is specific to your environment.

When building, you should have the following output:
[code]
Could you send me these files in both cases? It should just contain package names, class names and method names but if they contain s

[2019-08-20 16:41] jorsol commented on #3593
Done! files send to you @gsmet

If you need something else feel free to ask, I could try to help debugging if time allows me.

Thanks!

[2019-08-20 17:23] #2063 closed

[2019-08-20 17:31] machi1990 commented on #3598
@Manu206 hi, thanks for reporting this issue. The pas couple of days `cors` behaviour has been reworked and it should be much better.  It is my hope that it fixes the issue you have too.

If possible, could you provide a simple producer so that I check if it is the case? Or otherwise, can you try to build  a SNAPSHOT version using the master branch and see if the issue is still present?
Thanks.

[2019-08-20 17:40] rikcarve commented on #3592
Same here, with 0.21 and 0.21.1 with Windows 7 and 10:
[code]

[2019-08-20 18:48] gwenneg opened #3604 "Upgrade GraalVM to 19.2.0"
GraalVM 19.2.0 was released today: https://github.com/oracle/graal/releases/tag/vm-19.2.0

This new version is needed at least for #3394.

I don't know exactly what needs to be done in Quarkus (especially the `ubi-quarkus-native-image` part) to upgrade the GraalVM version, so I'm not sure I can do this by myself.

[2019-08-20 18:57] Karm commented on #3596
THX @sberyozkin

I can remove the Quarkus specific hack and share the same code with all other servers :+1:

[2019-08-20 20:24] #3596 closed

[2019-08-20 20:52] p-zalejko opened #3605 "Vert.x - No ReactiveStreamsFactory implementation found!"
I started playing with Reactive Streams and ran into a problem with a missing implementation of the `ReactiveStreamsFactory`.

**To Reproduce**
Follow this tutorial https://quarkus.io/guides/using-vertx :
1. Create a hello world application
2. Add `vertx` extension
3. Implement a simple endpoint (using the Axle provider)
4. Build a native app

My pom.xml dependencies looked as follows:

[code]
The

[2019-08-20 21:11] tandraschko opened #3606 "Allow class excludes for indexing third party dependencies"
Currently it's possible to index third party dependencies with:

quarkus.index-dependency.<name>.group-id=
quarkus.index-dependency.<name>.artifact-id=

it would be great to enhance this config by something like excludeClasses=**/*Tag.class,**/*Blub.class
as those classes may required unused dependencies

[2019-08-20 22:50] gwenneg commented on #3516
The regression may be a consequence of #3263. If I'm not mistaken, before this commit, there was a property "expansion" being performed on the `quarkus.log.console.level` and now the expansion is no longer done. During this expansion, its value was transformed from `${CONSOLE_LOG_LEVEL:DEBUG}` to `DEBUG`.

[2019-08-21 06:22] rsvoboda opened #3607 "rest-assured 4.0.0 and junit4 collision on hamcrest-core"
I tried to upgrade rest-assured from 3.3.0 to latest 4.0.0 but I get collision on hamcrest-core

[code]

JUnit 4 is used in several Quarkus modules and attached independent-projects.

When excluding hamcrest-core from junit or rest-assured I see compilation errors.
Feels like we will be stuck with rest-assured 3.3.0.

Any idea how to solve this collision?

[2019-08-21 06:27] debae opened #3608 "Discovery of the Lambda function does not work when there is a parent class not in the project that implements RequestHandler"
**Describe the bug**
We for example have a base / common library that holds a baseLambda containing some common code. So we end up with only a subclass of that baseLambda in the project where we will use Quarkus. In this case no Lambda is discovered.

Code inside the project :
`
public class LambdaInProject extends BaseLambda
`

Code inside a library :
`
public class BaseLambda implements RequestH

[2019-08-21 06:31] debae commented on #3608
A workaround to get this working is to also implement the RequestHandler in the lambda within the project, so ending up with :

Code in project :
`
public class LambdaInProject extends BaseLambda implements RequestHandlerRequestHandler<APIGatewayProxyRequestEvent, APIGatewayProxyResponseEvent
`

Code in library :
`
public class BaseLambda implements RequestHandlerRequestHandler<APIGatewayProxyRequ

[2019-08-21 06:59] FKatenbrink commented on #2831
@stuartwdouglas Same issue with version 0.21.1.

[2019-08-21 07:07] dcdh commented on #3120
Hello Guillaume,

When I start my application it fails with this stacktrace:

2019-08-21 02:57:21,580 WARN  [io.qua.jae.run.JaegerDeploymentRecorder]
(main) Jaeger service name has not been defined, either as
'quarkus.jaeger.service-name' application property or JAEGER_SERVICE_NAME
environment variable/system property
2019-08-21 02:57:21,587 INFO  [org.fly.cor.int.lic.VersionPrinter] (main)
Flyway

[2019-08-21 07:34] Dufgui commented on #3552
According to my tests, the plugins block fail, the apply works.
The plugins is a new feature:
https://stackoverflow.com/questions/32352816/what-the-difference-in-applying-gradle-plugin

It's not clear if the local repo is compliant with this syntax.
https://docs.gradle.org/current/userguide/plugins.html#sec:plugins_block

maybe we must publish in gradle portal
https://github.com/quarkusio/quarkus/

[2019-08-21 07:35] loicmathieu commented on #3606
It may also be interesting to be able to only index some classes (or a single classes)

[2019-08-21 08:16] aloubyansky commented on #3552
Our plugin is not the Gradle plugins repo, so we should be sticking to `apply`.

[2019-08-21 09:00] dirkweil commented on #3592
There is no error shown in the log; it says only

2019-08-21 10:55:14,638 INFO  [io.qua.dev] (executor-thread-1) Changed source files detected, recompiling [C:\GEDOPLAN\projects\gedoplan\showcase\quarkus-demo\quarkus-getting-started\src\main\java\de\gedoplan\showcase\service\GreetingService.java]

The error message is in the response of the REST call triggering hot reload - see attached file.
[err

[2019-08-21 09:16] gwenneg commented on #3516
@gsmet I just confirmed locally that reverting #3263 fixes this issue. What should we do about it? Wait for @dmlloyd's return before changing anything? Try fixing it without a revert (I'm really not sure about how to do that)? Revert it now to fix the regression in `0.22.0`?

[2019-08-21 09:19] gsmet commented on #3516
@dmlloyd should be back from PTO today AFAICS so better ask him the question.

@dmlloyd could you take a look at that one? It's an important regression that would need fixing before the next release. @elamotte7 provided a reproducer.

[2019-08-21 09:32] gsmet commented on #3608
So, the root of the issue is that you need your library code to be indexed in Jandex. Otherwise, Quarkus can't know that `LambdaInProject` implements `RequestHandler` because we don't know what `BaseLambda` is.

See my answer here: https://stackoverflow.com/a/55513723 . I recommend you to use the Jandex Maven plugin to build the index at build time if you can.

[2019-08-21 09:33] gsmet commented on #3605
@cescoffier can you take care of this one?

[2019-08-21 09:51] machi1990 commented on #3448
@gsmet I'll take a look.

[2019-08-21 09:51] p-zalejko commented on #3605
I created a PR with the same change as its was made for https://github.com/quarkusio/quarkus/issues/1495 (I added this dependency to the deployment module). Unfortunately I cannot verify if it solves the problem. My OS is Fedora 30 and I'm not able to build native images due to https://github.com/quarkusio/quarkus/issues/3526

[2019-08-21 10:02] gsmet commented on #3607
Maybe one way of fixing this would be to upgrade our tests to use JUnit 5?

[2019-08-21 10:36] sbert commented on #3591
Some extra information :
If I remove : <option>all-open:annotation=javax.ws.rs.Path</option>
And add open to the Resource Class.
When I launch the application the @Valid is ignored

So I think that the live reload problem is the same that : #2811

To apply @Valid you need to use the maven plugin compiler all-open and it is not used by live reload

[2019-08-21 10:37] geoand commented on #3591
Yeah, that makes perfect sense. Would you like to take a stab at it?

[2019-08-21 10:38] lbernardomaia opened #3612 "Kotlin all-open plugin options"
**Describe the bug**
Hi, by default when a Rest Kotlin Project is created, following the quarkus-maven-plugin create, the code below is added in the pom to suppress the need to open a class if a class is annotated with `@Path` and to be able to use `@Inject` in other variables.

[code]

If I want to add other annotations to follow the same behaviour as below, it doesn't work:

[code]

If I update

[2019-08-21 10:39] geoand commented on #3591
Closing since this looks like a dup of #2811

[2019-08-21 10:39] #3591 closed

[2019-08-21 10:40] rsvoboda commented on #3607
That's partial fix, we provide JUnit 4 extension - https://github.com/quarkusio/quarkus/tree/master/test-framework/junit4

[2019-08-21 10:42] gsmet commented on #3607
Yes, and you wouldn't be able to use it with REST Assured.

[2019-08-21 11:28] manovotn commented on #3594
@jmartisk rebase your branch against master so that you have [this PR included](https://github.com/quarkusio/quarkus/pull/3546). With that in place, the test passes for me. So by the looks of it, I already "accidentally" fixed this prior to this issue creation :-D

[2019-08-21 11:45] rmarting commented on #3526
I found a similar issue:

`Error: Error compiling query code (in /tmp/SVM-772838697049441671/PosixDirectives.c). Compiler command  gcc /tmp/SVM-772838697049441671/PosixDirectives.c -o /tmp/SVM-772838697049441671/PosixDirectives output included error: /tmp/SVM-772838697049441671/PosixDirectives.c:942:101: error: ‘SIOCGSTAMP’ undeclared (first use in this function); did you mean ‘SIOCGRARP’?`

My en

[2019-08-21 11:50] machi1990 commented on #3448
@antoniomacri @masini thanks for reporting and I was able to reproduce the bug thanks to your reproducer. We have a fix in place in #3613 (could you confirm ? :-) ), but till that is merged launching the dev mode command as @vivynz suggested `mvn compile quarkus:dev` is a good workaround.

[2019-08-21 11:59] aloubyansky opened #3615 "Test framework: only add the test jar as additional archive if it's different from the app jar"
Currently, when initializing the RuntimeRunner in the QuarkusTestExtension we assume the test location and the app location are different (in case the tests are provided in a JAR). This could not be the case. In which case, we shouldn't be adding the JAR containing the tests as an additional archive to be indexed. Otherwise the same location gets indexed twice which leads to build errors.

[2019-08-21 12:09] gsmet commented on #3593
So... the issue is using Hibernate Validator + Kubernetes Client.

Mostly all the fields in the Kubernetes API model are marked with `@Valid` which leads to the whole model being marked for reflection by HV and the whole model being included in the native image.

The model is huge thus leading to the native image being enormous.

FWIW, there is also another issue, there are a lot of classes define

[2019-08-21 12:22] arnostv commented on #1372
I guess this issue is duplicate of #2143

[2019-08-21 12:25] dansiviter commented on #1372
Or is #2143 is a duplicate of this as this appeared first?! 😄

Happy to close this as it's covered in the aforementioned.

[2019-08-21 12:25] #1372 closed

[2019-08-21 12:53] wburns commented on #1322
This has to be fixed in Infinisipan directly. The issue is that we are invoking at runtime `RemoteCacheManager.class.getPackage().getImplementationVersion()` and this is always null in native mode. The Infinispan code should be changed to use `Version.printVersion()` method instead as this uses a staticly defined instance that is written at build time.

[2019-08-21 12:56] wburns opened #3617 "Add Infinispan Embedded extension"
**Description**
We need an extension that allows a user to use an embedded Infinispan cache. This would include features such as stores, off heap, clustering, querying and parsing xml files at runtime.

**Implementation ideas**
The initial extension will have minimal support to get the various features of Infinispan embedded. Later revisions can visit optimizing the native image and adding proper

[2019-08-21 13:16] gsmet commented on #3484
Closing!

[2019-08-21 13:16] #3484 closed

[2019-08-21 13:23] dmlloyd commented on #3476
Right the solution is going to be to upgrade SmallRye Config.  I was waiting for eclipse/microprofile-config#407 to reach some kind of resolution before I committed Quarkus to what might end up being non-spec behavior.

[2019-08-21 13:26] dmlloyd commented on #3516
It's probably an easy fix, but I'll need a full stack trace.  I'm playing catch-up with emails and stuff for now so if you want to post one here it'll save me some time.  Otherwise once my backlog is cleared I'll try out the reproducer.

[2019-08-21 13:30] gwenneg commented on #3516
Here's the stacktrace:
[code]

[2019-08-21 13:31] dmlloyd commented on #3516
That was quick, thanks :)

[2019-08-21 13:32] dmlloyd commented on #284
I've been on vacation for a few weeks and just got back.  I intend to bring #2866 up to date with all the concerns addressed ASAP.

[2019-08-21 13:49] gwenneg commented on #3617
There's been some discussions in #3306 about adding Infinispan as a caching provider to the Quarkus application data caching extension which is currently under review. The first development iteration is almost done and consists in an annotations-based caching implementation with Caffeine as the first and only caching provider for now. The plan is to add other providers as well as a caching API in

[2019-08-21 13:56] wburns commented on #3617
@gwenneg Yes, we would definitely want to add Infinispan embedded as a provider. We could even discuss about having Infinispan client as a provider even. But the former should be simpler.

[2019-08-21 13:58] jmartisk opened #3619 "Issue with generic bean injection"
When there's a generic bean with an unbounded type parameter T [(example)](https://github.com/eclipse/microprofile-metrics/blob/2.0.1/tck/api/src/main/java/io/astefanutti/metrics/cdi/se/ConcurrentGaugedMethodBean.java#L21) and an injection point that declares a particular type for T [(example)](https://github.com/eclipse/microprofile-metrics/blob/2.0.1/tck/api/src/main/java/io/astefanutti/metrics/

[2019-08-21 13:59] jmartisk commented on #3619
FYI @mkouba @manovotn
Also @kenfinnigan this affects Metrics TCK

[2019-08-21 14:02] geoand commented on #3612
Kotlin has been bumped to `1.3.41` in `master` and should be present in the upcoming `0.22.0`.

The issue with dev-mode is covered by #2811

[2019-08-21 14:04] swiss-chris commented on #1029
I have the same problem using quarkus-maven-plugin on windows 10. Any solutions for this ?

[2019-08-21 14:04] geoand commented on #3612
I am going to close this as partly addressed and partly a dup, feel free to reopen if you feel that it wasn't properly addressed

[2019-08-21 14:04] #3612 closed

[2019-08-21 14:07] gsmet commented on #1534
Yes, it does, we haven't changed anything in this regard.

The idea is that we should get rid of the JBoss Invocation dependency which uses JBoss ClassFileWriter:
[code]

[2019-08-21 14:09] geoand commented on #3593
As discussed with @gsmet, one solution would be to use https://github.com/quarkusio/quarkus/blob/0.21.1/core/deployment/src/main/java/io/quarkus/deployment/builditem/substrate/ReflectiveClassBuildItem.java#L56.

Another solution might be for us to look into providing generated classes for libraries like Jackson and Hibernate Validator that are heavily used in third party libraries.
That way we cou

[2019-08-21 14:22] debae commented on #3608
Thanks Guillaume, will try that.

But I guess we do still want an exception to be thrown when no lambda is found right ?

[2019-08-21 14:24] gsmet commented on #3608
That's a question for @evanchooly . Usually, we try to not throw an error when you just add an extension because it can be a bit counter productive when using dev mode (it's nice to be able to add the extension, start dev mode and then start coding).

But I'm not sure if it makes sense for Amazon Lambda so I'll let @evanchooly answer.

[2019-08-21 14:25] gsmet commented on #3593
We have an ongoing PR in HV but it predates Quarkus release so we were in stealth mode and implemented everything via ByteBuddy.

I will work on investigating porting it to Gizmo and see how it goes.

[2019-08-21 14:28] geoand commented on #3593
I'd be happe to help out with Gizmo (although my HV experience is limited)

[2019-08-21 14:29] manovotn commented on #3619
Looking at Arc resolution, what it actually does is that it translates `T` into plain `Object` and does resolution on top of that. E.g. in time of comparison, it compares required type `ConcurrentGaugedMethodBean<Long>)` with bean that has `ConcurrentGaugedMethodBean<Object>)` and according to [CDI spec](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#assignable_parameters) this then falls under

[2019-08-21 14:30] lburgazzoli opened #3620 "Object dependency graph"
**Description**
As an "extension developer", I find sometime hard to understand the hierarchy of the various steps and objects in particular when you want to re-use something created by another extension you do not master.

It would be very nice if quarkus could provide a tool to visualize the dependencies and relations between the various build steps, arc objects and so on and eventually report p

[2019-08-21 14:36] edewit commented on #2036
I don't know if it's related, but I had this problem because my build was done with another docker user and the references in the generated `target/quarkus/bootstrap/deployment.cp` where false.

[2019-08-21 14:41] FroMage opened #3621 "Undertow ServletChangeTestCase fails most of the time"
It's semi-random, and I can't reproduce it in the IDE where the test always passes, but on the CLI it fails every time now for me, even though I've bumped the sleeps to 3s.

Running them, I do observe some behaviour differences between the CLI:

[code]

And the IDE:

[code]

For instance, in the IDE, there is a sleep of 3s that is not observed in the CLI (for some reason), and the in the IDE the c

[2019-08-21 14:51] #3448 closed

[2019-08-21 15:25] evanchooly commented on #3608
The general consensus on throwing exceptions is to *not* throw them.  It's entirely feasible that one could add the extension (say, in dev mode) before adding any code that uses.  Throwing exceptions in that window would lead to a terrible user experience.  For the most part, extensions seem to be following the quietly do nothing school of thought in the absence any work to do.

[2019-08-21 15:26] dmlloyd commented on #3516
Notes (mostly to myself): basically the problem is trying to populate actual config object instances for run time config roots.  Really we shouldn't be converting the values or populating the objects.  We should just be noting the raw values to record back into the default values file for run time.

[2019-08-21 15:37] gunnarmorling opened #3624 "Request parameters not injected in POST/PUT REST methods"
**Describe the bug**
When running the rest-json and hibernate-orm-resteasy quickstarts in dev mode, the `Fruit` param isn't injected, causing an NPE in the ORM example, causing null to be appended to the fruit list in the former. This only happens during dev mode, but not when running the actually built JAR. As per @gsmet, things work as expected on 0.21.1.

**Expected behavior**
The fruit paramet

[2019-08-21 15:41] FroMage commented on #3621
That's not the issue. The issue is that we're writing the test file at time 1000 (ms), then the dev mode server catches the current time millis which say 2025 ms, and we do the modification at 2000 ms and the modification isn't picked up.

Proof:

[code]

So there are two mysteries:

- Why does the lastModified file round on seconds
- Why does the initial `currentTimeMillis()` used by `lastChange`

[2019-08-21 15:41] gsmet commented on #3624
@stuartwdouglas as it's working properly with 0.21.1, I suspect it's an issue with the new HTTP layer.

Tagging the issue appropriately.

Reproducing it is easy:
- get the quickstarts
- cd rest-json
- mvn clean compile quarkus:dev
- go to http://0.0.0.0:8080/fruits.html
- try to add a fruit
- you end up with the following error in the log:
[code]
Looks like somehow the correct JSON input is not pu

[2019-08-21 16:07] FroMage commented on #3621
OK, ferget it, I needed this:

[code]

Instead of:

[code]

Duh. I'll make a PR.

[2019-08-21 18:15] seseso opened #3626 "Support http/2 and make it available"
**Description**
It would be nice if http/2 would be made available to use, for instance, serving a rest api with it. Today, to have it working, I have to create and use a reverse proxy.

[2019-08-21 18:22] gwenneg commented on #1534
@gsmet Yes, I'll gladly help on this one. I'm not sure there will be a PR ready for `0.22.0` though, I'll be pretty busy until the release.

[2019-08-21 18:31] dcdh opened #3627 "The application fails to start when using Hibernate Envers in native mode."
[EDIT] I have created a poc to focus on this issue.

**Describe the bug**
The application fails to start when using Hibernate Envers in **native** mode.

**Expected behavior**
The application starts and expected entities are audited using Hibernate Envers.

**Actual behavior**
The application fails to start by throwing an exception at startup:

[code]

**To Reproduce**
Steps to reproduce the behav

[2019-08-21 18:38] dmlloyd commented on #2951
PR is #2952

[2019-08-21 19:39] teriiehina commented on #1658
Hi,

sorry, I found a way to use Oracle in a native executable and forgot to share it here :sweat_smile:

I have been using two natiive applications in production for one month :tada: , using the followings settings. I didn't put the `<additionalBuildArgs>` for the `quarkus-maven-plugin` as there are related to the compiled code and the `native-image` messages are straightforward.

It is a complet

[2019-08-21 20:07] debae commented on #3608
Agree, however if you made a mistake , like I did with the parent class not being picked up by Jandex ... it's hard to figure this out without debugging. Maybe logging a warning might be usefull ?

[2019-08-21 21:21] Dufgui commented on #1793
I create a merge request to have better information display in gradle portal.
So now you must create a quarkus release account in gradle portal :
https://plugins.gradle.org/user/register

Get the API Keys :
[code]

So to do it, during the release process, you must call in `devtools/gradle` (with key and secret replace by the previous API Keys values) :
[code]
No more

[2019-08-21 21:23] Dufgui commented on #3552
The publication in gradle portal of a temporary version, doesn't change anything. We are stick to `apply` :(

[2019-08-21 21:49] mcrose commented on #3314
well, finally...
@gsmet the producer is on air at [quarkus-issues](https://github.com/mcrose/quarkus-issues/)
is on private mode and added you as a collaborator or I can make it public

[2019-08-21 21:56] Dufgui commented on #232
I test it @cescoffier @FroMage  with current 999-SNAPSHOT and it seems working.
Could one them test and close it, if it 's fix for you too. I test with the getting started project

[2019-08-21 22:23] Dufgui commented on #1276
we can close it no? @stuartwdouglas
Quarkus have amazon pipeline :)

[2019-08-21 22:33] Dufgui commented on #1394
I take a look at old issue, as I can see it's still the case:
[code]

Which one do you want to keep . jakarta.xml.bind-api (jaxb-api) or jboss-jaxb-api ?

[2019-08-22 02:49] jesuino opened #3632 "Error using Quarkus Panache Entities with Generic Java programming"
I am trying to create a very known generic resource for my Panache Entities, however, it does not seem to play well with Java generics. What I wanted to do is avoid repeat myself with common REST operation. I want to change the HTTP meta info (like: auth or not, the resource path, etc), but all the time the actual response building is the same, so I built this generic class:

[code]
So I could ext

[2019-08-22 02:50] jesuino commented on #3632
Note: originally I opened this -> https://stackoverflow.com/questions/57347388/error-using-quarkus-panache-entities-with-generic-java-programming
@geoand asked me to open this issue because it looks like a bug

[2019-08-22 06:27] #1276 closed

[2019-08-22 06:28] cescoffier commented on #1276
Marked as invalid as it has been fixed a long time ago.

[2019-08-22 06:38] debae opened #3634 "Getting the remaining time in millis from AWS Lambda Context returns negative value"
**Describe the bug**
When you call the getRemainingTimeInMillis() method from the AmazonLambdaContext you get a negative value.
We use this value for example when our Lambda function needs to perform an HTTP call, and we want to limit the request timeout to this value.

**Expected behavior**
Normally this should return the amount of milliseconds before the lambda stops.

**Actual behavior**
It ret

[2019-08-22 06:45] debae commented on #3634
The bug resides in AmazonLambdaContext
`
    @Override
    public int getRemainingTimeInMillis() {
        return (int) (runtimeDeadlineMs - Math.round(System.nanoTime() / 1_000_000d));
    }
`

If you look in the documentation :  https://docs.aws.amazon.com/lambda/latest/dg/java-context-object.html , it states : **Returns the number of milliseconds left before the execution times out.**
and in ht

[2019-08-22 07:38] geoand commented on #3563
@gsmet I opened https://github.com/quarkusio/quarkus-http/pull/3 which should fix this issue

[2019-08-22 07:47] gsmet commented on #3563
I think we also need to ban the `netty-all` dependency from Quarkus. We already have a list of banned dependencies.

[2019-08-22 07:48] gsmet commented on #3563
Note that this ban should be a draft PR for now as we will need to upgrade `quarkus-http` first.

[2019-08-22 07:49] geoand commented on #3563
Sure thing, I'll add it

[2019-08-22 07:54] geoand commented on #3563
Draft [PR](https://github.com/quarkusio/quarkus/pull/3635) opened.

[2019-08-22 07:58] loicmathieu commented on #3632
Can you give the source code of TheEntity ? It should be a valid JPA entity

[2019-08-22 08:01] gsmet opened #3636 "Add the Undertow dependency to all the quickstarts containing static resources"
Once https://github.com/quarkusio/quarkus/pull/3631 is in, having RESTEasy only won't allow to serve static resources so we will need to add the Undertow dependency.

[2019-08-22 08:14] djajcevic commented on #1584
Has anyone found a way to fix [this](https://github.com/quarkusio/quarkus/issues/1584#issuecomment-494145670)?
I'm having the same problem but with project with only Java code. Don't know if it has to do with having MapStruct as apt, but it may be the case where Quarkus Gradle plugin uses only one source directory; it should be changed in a way that it can handle multiple source dirs (eq. `source/

[2019-08-22 08:25] manovotn commented on #3594
Hmm, so the problem seems to occur only when an interceptor uses the `@Intercepted` metadata more then once - e.g. when you have `@AroundInvoke` and `@AroundConstruct` on the same interceptor.

I think it is still linked to the previously mentioned issue - #3530
Apparently I missed post/around construct interceptors as bytecode for those is generated elsewhere and currently different instances are

[2019-08-22 08:39] lbernardomaia opened #3637 "Env Variable not recognized using MicroProfile Restclient and Quarkus dev mode"
**Describe the bug**
When a project it's using the configuration properties to load the Rest Client following the guide (
https://quarkus.io/guides/rest-client-guide) and the value is an Env variable as below, it works fine but if the app is running in the dev-mode and some change is performed, then after the Hot Replace, the Env variable it's not identifiable anymore.

_Config Properties:_
`
org.

[2019-08-22 08:42] #3481 closed

[2019-08-22 08:44] gsmet opened #3638 "Add quarkus-jackson dependency to all the extensions using Jackson"
We have several extensions using Jackson (Amazon Lambda, Vert.x) that do not depend on `quarkus-jackson`. We should fix that.

[2019-08-22 08:59] fbascheper commented on #3409
I can confirm @emmanuelbernard 's suspicion.

Hot code replacement works fine when I use the following `application.properties`
[code]

Log file upon code replace:

[code]

But when I use configuration profile properties, like so:

[code]

And try hot code replacement, I hit this bug:

[code]

[2019-08-22 09:37] Sanne commented on #1793
Reopening as it's not published yet.

[2019-08-22 09:38] gsmet commented on #3637
@dmlloyd does it ring a bell? Could it be related to the other env variable issue?

[2019-08-22 09:46] gsmet commented on #1793
Raaah, it was closed automatically by the PR. Thanks @Sanne

[2019-08-22 10:38] fbascheper opened #3643 "QuarkusTestExtension fails to instantiate test class: java.lang.VerifyError in enhanced Entity class"
**Describe the bug**
I have converted the Spring PetClinic domain model to Quarkus and created a simple repository and REST resource; both are working fine. After writing a Mock repository I wrote an initial QuarkusTest for the REST resource.

Running the test produces a `java.lang.VerifyError` in the enhanced entity:

[code]

**Expected behavior**
A failing unit test, which can be fixed by adding

[2019-08-22 10:50] fbascheper commented on #3643
Demo project:
[quarkus-petclinic.tar.gz](https://github.com/quarkusio/quarkus/files/3529714/quarkus-petclinic.tar.gz)

[2019-08-22 11:37] fbascheper opened #3644 "PanacheRepositoryEnhancer causes NPE in SignatureReader when a Repository does not directly implement PanacheRepository"
**Describe the bug**
A QuarkusTest fails to startup if a Repository does not does not directly implement `PanacheRepository<EntityType>`. The reason is a that a NullPointerException is thrown inside the `org.objectweb.asm.signature.SignatureReader` class, whose constructor was called with a `null` value for its `signature`.

**Expected behavior**
Successful startup of QuarkusTest, either resulting

[2019-08-22 12:19] joan-miralles commented on #2760
Related with #988

[2019-08-22 12:26] zeldanerd24 opened #3645 "Native build fails on GraalVM built with JDK11"
**Describe the bug**
When building a native executable on a project with the Vert.x extension, using a GraalVM built with JDK11, the build fails.

**Expected behavior**
The build completes successfully.

**Actual behavior**
Build completes exceptionally with the following stacktrace:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set the JAVA_HOME env variable to the JDK11 path
2. Bu

[2019-08-22 12:31] gsmet commented on #3645
GraalVM does not support JDK 11 yet. You need to use JDK 8 for GraalVM - at least for the time being.

[2019-08-22 12:33] gsmet commented on #2760
and to https://github.com/quarkusio/quarkus/issues/1887#issuecomment-480978983

[2019-08-22 12:36] greyskyy commented on #3645
@gsmet doesn't this seems to be a quarkus issue? not a GRAAL one?  it seems like the vert.x extension is missing an annotation property.  JDK8 doesn't flag the issue, but it manifests in JDK11.  I could be miss-reading though.

[2019-08-22 12:36] patriot1burke opened #3646 "Resteasy without vertx - Add Error Page support"
Error page support.  We will probably want to look at accept header to see if its from a browser or not and send text or html depending on this.

_Originally posted by @gsmet in https://github.com/quarkusio/quarkus/pull/3631#issuecomment-523795569_

[2019-08-22 12:41] gsmet commented on #3645
Well this one looks like a Quarkus issue: the Vert.x substitution should probably be conditioned so you're right there's something we should fix.

But in any case, GraalVM still has issues with JDK 11 so there's a good chance it won't run in the end. But you might get lucky as there is steady progress on this.

[2019-08-22 12:44] gsmet commented on #3645
The fact that GraalVM does not support it means we don't test it and thus you might have issue with it.

This issue could be fixed by adding an `onlyWith` clause to the annotation (it's a simple predicate to code) testing the JDK. But you might have to implement another substitution for the new JDK 11 code.

Feel free to give it a go if you're interested in it, we would love to be more prepared fo

[2019-08-22 12:46] gsmet commented on #3646
What would really be nice is having a consistent experience across RESTEasy with/without Undertow.

[2019-08-22 12:50] rsvoboda opened #3647 "Vertx 3.8 and new sql client break compatibility / quickstart"
Vertx 3.8 and new sql client (introduced in https://github.com/quarkusio/quarkus/pull/3513) break compatibility / quickstart

Apps using reactive pg client can't be compiled with artifacts from master, main problem is `package io.reactiverse.axle.pgclient does not exist`. Example of such app is `using-vertx` quickstart.

Package io.reactiverse.axle.pgclient is present in smallrye-axle-postgres-cli

[2019-08-22 12:54] gsmet commented on #3647
No, we change the package.

Let's not pile up compatibility code while we are not 1.0 yet.

But... let's make it a noteworthy-feature so that I include a note in the announcement.

[2019-08-22 12:57] rsvoboda commented on #3647
OK, so I will prepare PR for Quickstarts + PR for reactive-postgres-client.adoc

[2019-08-22 12:59] gsmet commented on #3647
Thanks! And thanks for catching it, otherwise I would have had to fix it when releasing!

[2019-08-22 13:03] dmlloyd commented on #3637
Yeah this looks like a duplicate of #3516.

[2019-08-22 13:14] rsvoboda commented on #3647
https://github.com/quarkusio/quarkus/pull/3648
https://github.com/quarkusio/quarkus-quickstarts/pull/259

[2019-08-22 13:18] fbascheper commented on #3643
The root cause of this issue may well be [HHH-13446 - java.lang.VerifyError for compile time enhancement in Hibernate](https://hibernate.atlassian.net/browse/HHH-13446).

[2019-08-22 13:20] jmartisk opened #3649 "Incorrectly registered metrics inherited from superclasses"
[code]

This setup should create 5 metrics
- `A.A` (for the constructor of A)
- `A.a`
- `B.B` (for the constructor of B)
- `B.b`
- `B.a`

However,
- instead of `B.B` we get `A.B`
- instead of `B.b` we get `A.b`
- `B.a` we don't get at all

The problem is basically that when registering metrics for subclasses, we use a `ClassInfo` of the subclass, which however does not by itself include informatio

[2019-08-22 14:17] blxbrgld commented on #1888
We can workaround by adding @Valid annotations on on both interface and implementation, but the fact that the annotations are gettting ignored on the interface leads to triggering of **io.quarkus.hibernate.validator.runtime.interceptor.MethodValidationInterceptor** instead of **io.quarkus.hibernate.validator.runtime.jaxrs.JaxrsEndPointValidationInterceptor**. Hence the exception is not wrapped as

[2019-08-22 14:27] danielpetisme commented on #3586
@loicmathieu can you provide some guidance for the DB identity store please?

What I understood:
- the feature will be hosted by the existing `quarkus-elytron-security` extension
- Provide a `DatabaseRealmConfig` with properties to define (define a datasource or reuse the one define by hibernate, define the SQL queries, etc.)
- I can look `SecurityDeploymentProcessor#configureFileRealmAuthConfig`

[2019-08-22 14:40] #3594 closed

[2019-08-22 14:44] #3615 closed

[2019-08-22 15:18] loicmathieu commented on #3586
For the implementation, you should create a new identity store based on [Elytron Database Identity Store](https://docs.wildfly.org/14/WildFly_Elytron_Security.html#configure-authentication-with-a-database-identity-store) and configure it inside  `io.quarkus.elytron.security.deployment.SecurityDeploymentProcessor`.

As you said, I think it's just providing your realm like it is done in the `Securit

[2019-08-22 15:54] victorl2 opened #3651 "Multitenancy support using the application.properties file"
**Description**
Multitenancy is used by many apps implementing the hibernate interfaces, in order to make those applications in *the quarkus style*, would be interesting enable the possibility of using multitenancy with only **application.properties**,  avoiding the creation of a **persistence.xml** as recommended by the docs.

[2019-08-22 16:02] rikcarve commented on #3592
I guess it has something to do with commit c2949cb2f4a375b968a0f57737c71001b951724a. Particular with ClassLoaderCompiler line 56ff:
[code]
My local META-INF/MANIFEST.MF e.g. contains this Class-Path: "/C:/Users/rik/.m2/repository/io/quarkus/arc/arc/0.21.0/arc-0.21.0.jar"

[2019-08-22 16:31] misl opened #3652 "Using Jackson support for builder pattern fails in native mode"
When using Jackson builder pattern support (@JsonPOJOBuilder) things work fine in JVM mode, but fail in Native mode.

Simple example of a POJO Builder:
[code]

Both the model and builder are in a separate (reusable) jar library.

Using this library to deserialize a JSON message results in the following error (native compilation only):

[code]
Somehow it seems native compilation makes the build() m

[2019-08-22 16:38] iamvvra opened #3653 "Could not deserialize watch event - exception only when run in native mode"
My small k8s object watcher app - https://github.com/iamvvra/k8swatcher - throws the below deserialization exception only when the app is run as binary, I never faced this exception running with maven or with the uber jar. I am connecting to an Openshift cluster.

[code]

**Expected behavior**
Should deserialize and provide the received value as object

**To Reproduce**
Steps to reproduce the beha

[2019-08-22 16:57] gwenneg commented on #3652
Hi @misl!

I'm not sure this will help considering the `InvalidDefinitionException` message you had, but could you try adding the `@RegisterForReflection` to the `Builder` class? I have some doubts because this annotation usually solves issues about missing classes during Jackson serialization/deserialization, but maybe this will have an effect in your case.

[2019-08-22 17:09] Sanne commented on #3526
I confirm, built with the fix for https://github.com/oracle/graal/issues/1582 and it solves this problem.

[2019-08-22 17:29] MaartenTutak commented on #3297
I'm having this issue as well with IntelliJ IDEA.

[2019-08-22 18:34] gwenneg commented on #3306
(I didn't click the right button sorry!)

[2019-08-22 18:35] dmlloyd commented on #3592
I have a preliminary fix at https://github.com/dmlloyd/quarkus/tree/fix-3592 which I am still testing for this.

[2019-08-22 19:50] csotiriou opened #3655 "REST Client false exception mapping when using `CompletionStage`"
**Description**

It seems that when using the asynchronous REST Client operators (either CompletionStage, or rxJava 2.x operators), when the REST client encounters an error like 404, it is not able to call any exception mappers correctly, thus making it impossible to handle any HTTP errors from the rest client.

**Expected behavior**
The exceptions returned from asynchronous HTTP Client calls from

[2019-08-22 20:50] misl commented on #3652
Just the `@RegisterForReflection` does not help. I tried that. According to the mail thread I also need to index my model library:

[code]

[2019-08-22 20:57] misl commented on #3652
I want to try and fix this one myself, but I have no clue where to start. Obviously the Jackson extension needs to be enhanced. How:

- Fix all classes annotated with Jackson's `@JsonPOJOBuilder`.
- Make sure these classes (and all of their methods) will not be eliminated

But how can I achieve this? Is these any extension that already does something similar?

[2019-08-22 21:12] Dufgui commented on #2670
please close it, it's fix by https://github.com/quarkusio/quarkus/pull/2785
I test it and it's works

[2019-08-22 21:14] gsmet commented on #3652
Yes, there are a lot of examples but it's hard to find a simple one.

The best one I could find out of my head is:
https://github.com/quarkusio/quarkus/blob/master/extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java#L134-L139
.

You need to create a @BuildStep in which you inject the Jandex index and
the reflective classes producer, look for your annotation and p

[2019-08-22 21:35] gsmet commented on #3653
@geoand looks like an issue for you :)

[2019-08-22 21:37] gsmet commented on #3647
Both PRs have been merged, closing.

[2019-08-22 21:37] #3647 closed

[2019-08-22 21:39] #3638 closed

[2019-08-22 21:42] geoand commented on #3653
Sure thing, I'll take a look!

[2019-08-22 22:15] Dufgui commented on #2833
I check with his branch on 0.18 it fail, on 0.21.1 it's works. Please close it.

[2019-08-22 22:20] Dufgui commented on #1157
@geoand it's seems they forget you PR. :(

[2019-08-22 22:23] geoand commented on #3652
Like @gsmet said there a lots of examples scattered throughout the codebase.
Looking at the various methods that produce a ReflectiveClassBuildItem should get you pretty far.

[2019-08-22 22:24] geoand commented on #1157
Indeed... If you would like to also ping on the Kotlin GitHub to show that is has some activity, that would be great!

[2019-08-22 22:26] geoand commented on #3653
Can you please try with Quarkus 0.21.1 and see if the problem is still there?

Thanks

[2019-08-22 22:28] geoand commented on #3653
I'll also check your reproducer tomorrow and see how it's different from what I had used to test watch of pods (which worked)

[2019-08-23 05:20] #2670 closed

[2019-08-23 06:40] cescoffier commented on #3526
@Sanne do you know when a new Graal release with the fix will be released?

[2019-08-23 06:52] geoand commented on #3653
I was able to reproduce the problem. Looking into it now

[2019-08-23 07:25] iamvvra commented on #3653
The issue persists.

[2019-08-23 07:39] geoand commented on #3653
I have figured out the root cause of this, unfortunately it's tricky...

So to begin with, we need some context:

When building a native binary with GraalVM, we need to tell GraalVM which classes need reflection. In a lot of cases Quarkus can determine this precicely and will gradly register everything for the developer automatically.
The Kubernetes model posses a unique challenge in that it is ve

[2019-08-23 08:02] geoand commented on #3653
Since frankly I see no elegant way around this problem that could be applied in Quarkus itself, I suggest that you add classes like the following to your application:

[code]

I know that from a purely Java language perspective it shouldn't be needed, however it's the best compromise I think in order to efficiently leverage the capabilities (and work around the limitations) of GraalVM.

[2019-08-23 08:05] geoand commented on #3653
@gsmet @gastaldi  since there is no good way around this issue and an explicit coding pattern is required, I wonder if it should be documented?

[2019-08-23 08:20] FroMage commented on #2751
ATM Flyway is configured using the default datasource, by depending on agroal (and narayana but I'm not sure why), which means we can't use it for reactive-pg-client (and soon mysql).

Flyway depends on JDBC, and reactive-pg-client doesn't provide JDBC access, but there's no reason people couldn't use the JDBC driver for flyway without having to define an extra datasource just for flyway.

I think

[2019-08-23 08:21] FroMage commented on #3646
That's error pageS. We have one for any error and one for 404 which lists all available endpoints.

[2019-08-23 08:22] iamvvra commented on #3653
Exactly what I had designed it earlier. As the generics had the maturity to infer the types automatically, and also the details I was interested exited in the parent class (`io.fabric8.kubernetes.api.model.HasMetadata`) I went with this design.

Anyhow, I am now testing implementing just for `Pod` and see if this work.

Beside, I wish certain things are documented explicitly.

[2019-08-23 08:25] geoand commented on #3653
It should, I tested it locally and it worked as expected.

This is why I asked two colleagues what they think about documenting a specific coding pattern :)

[2019-08-23 08:31] geekrumper commented on #3552
Hey guys, I've been watching several issues concerning "gradle test" (with annotation '@QuarkusTest') and can confirm that version "0.21.1" works by adding the plugin in the legacy format. Here's a quick example of my build.gradle file:

`
buildscript {
    repositories {
        mavenCentral()
    }
    dependencies {
        classpath 'io.quarkus:quarkus-gradle-plugin:0.21.1'
    }
}

plugins {

[2019-08-23 08:35] tqvarnst opened #3661 "Hibernate SQL load script is not reloaded during dev mode"
**Describe the bug**
When updating the Hibernate SQL load script (e.g. default `import.sql`) during dev mode the changes are not reloaded after a new request

**Expected behavior**
Using drop-and-create I would expect the changes to the Hibernate SQL load script to trigger a reload and changes relected

**Actual behavior**
Nothing happens and the creating or updating the import.sql doesn't trigger

[2019-08-23 08:49] aloubyansky commented on #3552
Excellent, thanks you @geekrumper. We'll take your suggestion into account. BTW, feel free to create github issues and possibly PRs ;) where you see a fix or an improvement is needed.

[2019-08-23 08:52] geekrumper commented on #3552
@aloubyansky thank you for the heads up... Next time, I'll consider making a PR.

[2019-08-23 08:57] gastaldi commented on #3653
@geoand +1 to document that. Is there any way to issue a warning during augmentation?

[2019-08-23 09:02] geoand commented on #3653
@gastaldi In this specific case, yes. The augmentation phase could warn that  no generic type could be bound / matched (I don't know what the proper verb is here) for `com.k8swatcher.ResourceWatcher` during build time.
That's a very good idea actually. It might be a false warning in some cases, but probably best to warn anyway.

[2019-08-23 09:12] iamvvra commented on #3653
@geoand Could you tell me how you tested? I get deserialization errors because of no empty arg constructor found in the `EventMessageDeserializer` - though I have one explicitly defined.

Also, I have defined the `Jackson`'s class `com.fasterxml.jackson.databind.ObjectMapper` in `reflection-config.json` and passed it to GRAAL in `<additionalBuildArg>-H:ReflectionConfigurationFiles=${project.basedi

[2019-08-23 09:16] geoand commented on #3653
All I did was add:

[code]

and then changed `WatchConfigurer` to use it:

[code]

[2019-08-23 09:23] FroMage commented on #2833
Great, thanks!

[2019-08-23 09:23] #2833 closed

[2019-08-23 09:29] marcinczeczko opened #3663 "vertx event look thread blocked Warning messages"
**Describe the bug**
Pretty much every time I build projects from quickstart, or running some runner jars throws WARNING messages that vertx event loop is blocked as below
[code]

**Expected behavior**
No warning

**Actual behavior**
Warning message about event loop blocked

**To Reproduce**
I build integration test of dynamodb module (see PR #3172)
1. Just build `mvn clean install` the `integrati

[2019-08-23 09:31] NF13 opened #3664 "gradle quarkusDev reloading not working with windows"
**Describe the bug**
If I change my code with windows and change of the source file detected after reload i get the following error:
[code]

**Expected behavior**
Reloaded Resource

**Actual behavior**
Exception

**To Reproduce**
Steps to reproduce the behavior:
1. Set up quarkus with gradle
2. run gradle quarkusDev
3. Change Source file
4. Reload

**Environment (please complete the following info

[2019-08-23 09:36] gsmet commented on #3664
This is a duplicate of https://github.com/quarkusio/quarkus/issues/3592 . Thanks for reporting!

[2019-08-23 09:36] #3664 closed

[2019-08-23 09:39] NF13 commented on #3664
sry not found by searching

[2019-08-23 09:42] iamvvra commented on #3653
Surprise! I get the below error, however I have changed the deserializer inherit from `StdDeserializer` and invoke `super(EventMessage.class)` in its constructor.

<img width="1577" alt="Screenshot 2019-08-23 at 2 52 24 PM" src="https://user-images.githubusercontent.com/8179108/63582253-60302b00-c5b6-11e9-90ce-944ae2a1c166.png">

<img width="698" alt="Screenshot 2019-08-23 at 2 59 28 PM" src="http

[2019-08-23 09:44] geoand commented on #3653
When I checked out your code there was no `EventMessageDeserializer`.
To get passed that problem, simply annotate that class with `@RegisterForReflection`

[2019-08-23 10:01] Dufgui commented on #1232
Please close it
@FroMage

[2019-08-23 10:12] FroMage commented on #1232
Well, that's more a question for @rsvoboda no?

[2019-08-23 10:55] rsvoboda commented on #1232
Now I get error saying: ❌ Multiple extensions matching 'SmallRye'

[2019-08-23 10:55] #1232 closed

[2019-08-23 11:03] gsmet commented on #3664
No worries, it's not always easy to find an already opened issue. Subscribe to the other one, there's a good chance we will have a fix for the next version. Have a nice day!

[2019-08-23 11:20] gsmet opened #3666 "New HTTP layer checklist"
This is about all the elements we should think about when working on the new HTTP layer and RESTEasy without Undertow

- [x] One Vert.x instance
- [ ] CORS support: the feature needs to be there and configured via existing `application.properties` configuration properties
- [ ] Unified welcome page
- [ ] Unified error pages - nice error page, nice 404 page with the list of endpoints
- [ ] OpenAPI

[2019-08-23 12:03] loicmathieu commented on #3646
I just tested it on master and the error page from Resteasy is correclty displayed in both representation (html: the default and json).

So the only issue is to add a default error page to Vert.x similar that the one generated by the undertow `QuarkusErrorServlet`.

Nothing to be done at Resteasy level.

[2019-08-23 12:05] matheus-meneses opened #3667 "info-url in smallrye-health"
**Description**
As actuator does, would be really useful exposes an url that show the application build properties, such as, build version number from build.properties. Actuator does something like that exposing our info on (GET) /info.

[2019-08-23 12:13] atzoum commented on #3450
I can confirm that this bug is still present in `0.21.1`. This is keeping us from upgrading from `0.19.0`

[2019-08-23 12:33] lbernardomaia opened #3669 "Lombok Debug Slf4j"
**Describe the bug**
Hi, I'm using Lombok and I changed the application properties to have the min log level as debug, but when trying to log something as debug, the information is not displayed.

application.properties
`
quarkus.log.min-level=DEBUG
`

Code
`
log.debug('Some {}', "thing")
`

If I use log.info('Some {}', "thing"), it works.

I'm running it in the dev mode.

**Expected behaviour**
W

[2019-08-23 12:40] Holi60k commented on #3669
Where did you see the ```min-level``` attribute?
https://quarkus.io/guides/logging-guide
This page has no attribute like this.

[2019-08-23 12:41] lbernardomaia opened #3670 "Quarkus dev Mode loading a Env file"
**Description**
Hi, Just an idea, would be nice to have the quarkus dev:mode accepting an env.file as an argument and all variables that eventually match one of the ${ENV_VARIABLE} in the application.properties, would be replaced.

Example:
`
mvn quarkus:dev  -Denv-file="/path/.env"
`

[2019-08-23 12:57] lbernardomaia commented on #3669
Thanks, it works that way.

I generated the application.properties from `mvn quarkus:generate-config`

I'm going to close this ticket!

[2019-08-23 12:57] #3669 closed

[2019-08-23 13:13] Sanne commented on #3526
No I don't know. No big deal for me, I'm running a local built snapshot now and Quarkus seems fine

OpenJDK Runtime Environment (build 1.8.0_222-20190711120915.buildslave.jdk8u-src-tar--b08)
OpenJDK 64-Bit GraalVM 19.3.0-dev (build 25.222-b08-jvmci-19.3-b01, mixed mode)

Still, annoying for all our users on Fedora.

[2019-08-23 13:15] Sanne commented on #3526
Actually what concerns me more is that I sometimes need to run an old GraalVM version to verify something: reports/regressions, etc.. I will need to build each of those each time, as this recent Fedora upgrade broke all older versions too.

[2019-08-23 13:51] #2651 closed

[2019-08-23 13:56] #3649 closed

[2019-08-23 13:58] #3604 closed

[2019-08-23 14:03] Dufgui commented on #3552
I let other people rewrite the doc, every time l haved try, i remember my english sucks.

[2019-08-23 14:25] jmartisk opened #3673 "Feeding long non-ascii string into a servlet response trims it"
When I feed a non-ascii string longer than 8192 characters into a servlet response writer, only the first 8192 characters appear in the output, no matter if I set UTF-8 encoding or don't set it at all (in which case it somehow defaults to ISO-8859-1). The workaround is splitting the large string into smaller chunks and calling `flush()` in between feeding them one by one to the writer. See https:/

[2019-08-23 14:58] aureamunoz opened #3674 "Resolve the extensions before creating the project"
**Description**
As mentioned [here](https://github.com/quarkusio/quarkus/pull/3492#discussion_r313299096), it would be good to resolve the extensions before creating the project so that we can have a list of the extensions that will be added.

**Implementation ideas**
The idea would be to pass a list of the active extensions to CreateProject so it can then decide what needs to be done without havi

[2019-08-23 15:38] soberich commented on #3600
@gsmet There are couple of things which I would like to bring to your attention.
Jackson is de facto standard and I am super happy as many others I believe that Quarkus supports it. To be honest I don't think it would've be viable to NOT to support it.
On the other hand we have this https://issues.jboss.org/browse/RESTEASY-2327
...

[2019-08-23 15:52] #3653 closed

[2019-08-23 16:01] gastaldi opened #3676 "Introduce Logging message codes in the log output"
**Description**
It would be nice to have some predefined logging message codes to help googling common errors and also i18n in the future if necessary

(eg `INFO  [io.quarkus] (main) QUARKUS001: Quarkus 0.21.1 started in 1.320s. Listening on: http://[::]:8080`

**Implementation ideas**
Use JBoss Logging may be necessary. See #699

[2019-08-23 16:15] dmlloyd opened #3677 "Run time configuration consumed from VertxWebProcessor.kubernetes()"
**Describe the bug**
A build step (`VertxWebProcessor#kubernetes`) is consuming a run time configuration object during build time to determine the HTTP listen port.  This is not allowed because run time values cannot be resolved (#3516, #3637) or accessed during build time.  The run time configuration objects can only correctly be used to pass as proxies to recorders for run time actions (though i

[2019-08-23 16:16] dmlloyd commented on #3677
/cc @stuartwdouglas

[2019-08-23 17:40] Dufgui commented on #1940
In my opinion, it's quite simple to add some extra data in devtools-common, but I think we want something not centralized. Each plugin must provide it's own templated files.
So 2 ways:

1. We ask to gradle or maven to download it, and the we explore them to get the templated file and produce them
2. We let them with a properties in maven or gradle and on the next build we generate the file by the

[2019-08-23 18:01] gsmet commented on #3600
It’s not about not supporting it: we want to support it.

What we do not want is it being a dependency of our low level layers.

[2019-08-23 19:31] Davio commented on #3306
Me too, it will only go wrong if you explicitly define your own cache names, not if you use the default ones.

[2019-08-23 19:44] gwenneg commented on #3306
Thanks for your comment @Davio! This case is completely allowed, without any kind of build time check or prefix usage in the current version of the PR.

We've discussed many details of this extension here, but there are also some discussions in the PR (#3394). Do not hesitate to take a look and leave some comments :)

[2019-08-23 20:40] soberich commented on #3497
@Dufgui Could we try to use 5.6 straight away? It has more in common with upcoming 6.0.I am eager for better Gradle support as now it's really a room for improvement. Can't really run non simplistic Quarkus projects with Gradle now. Great work. Any other plans for Gradle? So we can form issues/PR out of those?

[2019-08-23 21:01] gwenneg opened #3678 "Jandex re-indexing warning for narayana-jta-5.9.6.Final.jar when Quarkus starts"
**Describe the bug**
The following warning is being displayed each time I start Quarkus in dev mode with the `narayana-jta` extension from the `master` version:
[code]

I'm in the middle of a bug fix, I'll come back later to this ticket to add missing information.

[2019-08-23 21:06] gunnarmorling commented on #3249
I reckon this is a manifestation of [KAFKA-8398](https://issues.apache.org/jira/browse/KAFKA-8398). I think we can simply ignore this, as this is not in Quarkus or the Kafka client code we use, but on the Kafka server side when shutting down the Kafka cluster started for tests.

[2019-08-23 21:07] gunnarmorling commented on #2863
@gsmet, shouldn't this one have be closed with the last release?

[2019-08-24 00:25] soberich commented on #3600
@gsmet Could you please comment also on the scope of the issue I raised for Resteasy (link above). I am a bit surprised that such a dependency hell is been ignored for so long (for years overall). Or am I missing something..? Maybe this is not important at all?

[2019-08-24 04:49] brunoabdon opened #3681 "CORS Allowed-Headers shouldn't be case sensitive"
**Describe the bug**
CORS config `quarkus.http.cors.headers` shouldn't be case sensitive, since [HTTP headers are case-insensitive](https://tools.ietf.org/html/rfc2616#section-4.2).

**Expected behavior**
Setting  `quarkus.http.cors.headers=Content-Type` on `application.properties` should cause [pre-flight `OPTIONS` http requests](https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request

[2019-08-24 05:56] wiradikusuma commented on #1413
I use Grade 5.2.1 and followed https://quarkus.io/guides/gradle-tooling but I still can't make `gradlew quarkusDev` to run on my Java/Scala project.

First, it complains when the source dir is separate (`src/main/java` and `src/main/scala`). When I merged them together (`src/main/java`), it complains that it can't find some stuff that the Java classes rely on (basically, `gradlew quarkusDev` compl

[2019-08-24 07:54] geoand commented on #1413
The Scala PR has been merged but there is no release that contains it yet.
0.22.0 which is the next release will have this support

[2019-08-24 08:47] gwenneg commented on #3681
Thanks for reporting this @brunoabdon!

[2019-08-24 09:32] gastaldi commented on #3676
Example using JBL: https://github.com/thorntail/thorntail/blob/master/core/container/src/main/java/org/wildfly/swarm/container/util/Messages.java

[2019-08-24 15:29] fabricepipart commented on #1887
I ran into the same problem today and I had to refer to this issue to understand how to use a Kubernetes secret to define the datasource password (quarkus.datasource.password property).

According to me the current behaviour is fine. You define the property in application.properties but you can override it via environment variables. I even prefer that, this way all properties are declared in the s

[2019-08-25 07:59] #3551 closed

[2019-08-25 08:09] #1234 closed

[2019-08-25 11:17] belyaev-andrey opened #3685 "CORS should return correct headers even if an authorization header is wrong"
**Describe the bug**
When CORS is enabled and "authorization" header is present and incorrect (wrong username and/or password), CORS filter does not return proper headers and browser doesn't even get HTTPS 401 because the response is rejected by the CORS policy.

**Expected behavior**
I guess we should add CORS filter BEFORE security check.

**Actual behavior**
Security (username/password) is veri

[2019-08-25 12:09] lburgazzoli commented on #3300
Is https://github.com/oracle/graal/issues/1524 included in GraalVM 19.2.0 ?

[2019-08-25 15:39] NorthFuture opened #3687 "running quarkus multimodule project in dev mode leads to Ambiguous dependencies error"
**Describe the bug**
I have a multi module maven project
testmultimodule-root
  | testmultimodule-runner (depends on testmultimodule-presentation-adapter, quarkus-resteasy)
  | testmultimodule-presentation-adapter ( depends on testmultimodule-service-adapter,quarkus-resteasy+quarkus-maven-plugin)
  | testmultimodule-service-adapter

if I package the application (mvn package) and run the resulting

[2019-08-25 19:34] misl commented on #3652
Finally I managed to enhance the Jackson extension, however I noticed extensions hardly have any tests (if at all). Why is that?

I used my reproducer project for testing, so it can probably also be used for automated testing of the extension.

[2019-08-25 19:43] geoand commented on #3652
Best add an integration test project for Jackson (if there isn't one already).

[2019-08-25 23:09] dcdh opened #3690 "The application fails to start when using Hibernate Search with Envers in dev mode (and so in native mode)"
**Describe the bug**
The application fails to start when using Hibernate Search with Envers in **dev mode** (and so in **native mode**)

**Expected behavior**
The application starts and expected entities are audited using Hibernate Envers and stored using Hibernate Search.

**Actual behavior**
The application fails to start by throwing an exception at startup:
[code]

**To Reproduce**
Steps to rep

[2019-08-26 00:39] #3558 closed

[2019-08-26 00:49] aaronanderson opened #3691 "Support runtime deployment of non-annotated websocket endpoints"
**Describe the bug**
When attempting to register a web socket endpoint through an implementation of the ServerApplicationConfig interface an exception is generated.  The endpoint class implements the web socket Endpoint interface but it is not annotated with any web socket annotations.

**Expected behavior**
Quarkus/Undertow successfully deploys the websocket Endpoint implementation.

**Actual beh

[2019-08-26 01:27] stuartwdouglas commented on #3578
So this was always a problem, only now it is a more serious one.

Before this change Undertow was doing blocking IO on the vert.x IO thread, which could cause major performance problems. After this change Undertow now detects this and throws an exception, as the IO threads are now shared this could actually result in a deadlock if the IO thread is blocked, as unblocking is done by the IO thread.

[2019-08-26 01:33] stuartwdouglas commented on #3691
Can you remove the getAnnotatedEndpointClasses() method and see if this works?

This is not an annotated endpoint (but an Endpoint interface implementation) so it should not be returned from this method.

[2019-08-26 01:40] #3588 closed

[2019-08-26 03:22] aaronanderson commented on #3691
Thanks for the tip! I returned an empty Set.of() in the getAnnotatedEndpointClasses() method and sure enough the endpoint was reported as being successfully deployed.

[io.und.web.jsr] (main) UT026005: Adding programmatic server endpoint class graphql.servlet.GraphQLWebsocketServlet for path /graphql-ws

Also once Quarkus was aware of a websocket endpoint the "javax.websocket.server.ServerContaine

[2019-08-26 03:22] #3691 closed

[2019-08-26 06:59] geoand commented on #3687
@mkouba @manovotn perhaps you would like to take a look?

[2019-08-26 07:00] geoand commented on #3655
@cescoffier or @kenfinnigan perhaps this is something you could take a loot at?

[2019-08-26 07:04] tandraschko opened #3699 "Synthetic beans / BeanRegistrarBuildItem doesn't support injection of the produces item like CDI producers"
**Description**
Syntetic beans / BeanRegistrarBuildItem doesn't support injection of the produces item like CDI producers
e.g. https://github.com/tandraschko/quarkus-myfaces/blob/master/quarkus-myfaces/runtime/src/main/java/io/quarkus/myfaces/runtime/producer/SimpleBeanCreator.java

**Implementation ideas**

[2019-08-26 07:09] geoand commented on #3677
The `KubernetesPortBuildItem` is used to populate the Kubernetes resources and is only ever used at build time - meaning that changing the port value at runtime wouldn't affect the Kubernetes code in any way, since none of that code even exists at runtime.

If we can't consume the runtime config value at build time, what is the alternative?
We need to be able to use whatever value is configured in

[2019-08-26 07:31] geoand commented on #3699
cc @manovotn @mkouba

[2019-08-26 08:02] geoand commented on #3600
@gsmet did some initial digging and it seems hard to remove the Jackson dependency for the time being. I will do some investigation, but we might have to wait for Vert.x 4.x

[2019-08-26 08:08] stuartwdouglas commented on #3563
This should be resolved in Alpha3

[2019-08-26 08:08] #3563 closed

[2019-08-26 08:12] gsmet commented on #3600
FWIW, the issue is that the native image requires Jackson in the classpath as the codec is registered in Vert.x.

[2019-08-26 08:27] drissamri commented on #3354
Were you able to revisit that part @evanchooly? Does this have anything to do with the LambdaRecorder in native vs JVM mode?

[2019-08-26 08:49] stuartwdouglas commented on #3677
For now I would just directly use MP config to get the values. Long term we
might need something better but this is a somewhat odd case.

On Mon, 26 Aug 2019 at 17:09, Georgios Andrianakis <notifications@github.com>
wrote:

[2019-08-26 08:52] loicmathieu commented on #3347
@geoand I saw that a PR will provides hot replacements for kafka-stream (#3500) so if a messaging technology provides live reload I think all should provides it.

[2019-08-26 08:52] mswiderski opened #3702 "QuarkusTest does not take into consideration dependencies defined in the maven profile"
**Describe the bug**
When running maven build with tests (`@QuarkusTest`) that requires dependencies defined in the profile that fails with Arc dependency resolution exceptions due to missing classes.

**Expected behavior**
`@QuarkusTest` should see dependencies define in the profile when the profile is active

**Actual behavior**
Dependencies defined in the profile are not seen by `@QuarkusTest`

[2019-08-26 08:53] gsmet commented on #3347
Sure, that would be the ultimate goal. But for now, I think only HTTP and soon Kafka Streams are supported.

[2019-08-26 08:54] geoand commented on #3347
Yeah, the live reload for Kafka looks really Kafka specific at this point

[2019-08-26 09:00] mkouba commented on #3699
Well, synthetic/custom beans in CDI do not support injection as the extension controls the implementation of `Contextual.create(CreationalContext<T>)`. For normal scoped beans it's ok to use `CDI.current().select()` or `Arc.container().instance()` methods inside the `BeanCreator#create()` method. For dependent beans you would have to handle `@PreDestroy` callbacks correctly.

In theory, we could t

[2019-08-26 09:06] geoand commented on #3677
PR incoming

[2019-08-26 09:17] tandraschko commented on #3699
I think the handling in MyFaces is also bit weird:

- we collect all classes annotated with @FacesConverter (they are probably already scanned by CDI and are beans as @FacesConverter is a @Qualifier)
- for each converter, we create a synthetic bean again with @Dependent scope

i think for this special case, we should avoid to create a synthetic bean again and i will try to refactor MyFaces here

H

[2019-08-26 09:19] sberyozkin commented on #3685
Hi, I'm not sure it will be a good strategy, changing the order to accommodate the applications doing the faulty Authorization header submissions.
The problem I see with it is that, if the CORS policy is more than just a allow all wildcard but a more fine-grained one, then the attackers can just learn about it without even needing to bypass the authorization barrier.
This should be consistent with

[2019-08-26 09:41] geoand commented on #3600
Perhaps @gsmet we could use a custom `io.vertx.core.eventbus.impl.CodecManager`. But that seems very heavy handed and who know what other problems we might encounter...

[2019-08-26 10:37] rsvoboda opened #3705 "Narayana-jta getting reindexed, too old Jandex used"
Narayana-jta getting reindexed, too old Jandex version used

[WARNING] [io.quarkus.deployment.index.ApplicationArchiveBuildStep] Re-indexing /Users/rsvoboda/.m2/repository/org/jboss/narayana/jta/narayana-jta/5.9.6.Final/narayana-jta-5.9.6.Final.jar - at least Jandex 2.1 must be used to index an application dependency

@ochaloup can you bump Jandex version to 2.1+ ? https://github.com/jbosstm/naray

[2019-08-26 10:40] machi1990 commented on #3705
Dup of https://github.com/quarkusio/quarkus/issues/3705 ?

[2019-08-26 10:41] rsvoboda commented on #3705
ah, dup of #3678.

[2019-08-26 10:41] #3705 closed

[2019-08-26 11:17] manovotn commented on #3699
The addition of beans in Quarkus is designed to be as close to CDI's original means as possible. And even in CDI you cannot really have injectable params for when you add synthetic bean.

The approach with `Instance` that Martin mentions could work but I think that it lies with user to handle destroy of dependent instance properly. And at that point, you might as well just get the instance yoursel

[2019-08-26 11:25] rsvoboda commented on #3458
quarkus-integration-test-main
[code]

quarkus-integration-test-neo4j
[code]

[2019-08-26 12:52] manovotn commented on #3687
This isn't really coming from Arc - when Arc gets its hands on list of all `ApplicationArchive`s (used [here](https://github.com/quarkusio/quarkus/blob/master/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/BeanArchiveProcessor.java#L34)), there is already a duplicate.

Looking at how this is created,[ I can see that at certain point, Quarkus is looking for marker files (`beans.x

[2019-08-26 13:08] yntelectual commented on #3450
resolved by #3613 in master

[2019-08-26 13:08] #3450 closed

[2019-08-26 13:18] loicmathieu commented on #3646
Just saw that if all still works on master it's because there is no more undertow but still quarkus-undertow as a dependency of resteasy so the `QuarkusErrorServlet` is still used. Maybe it should be replaced by a dedicated route in Vert.x, see [Vert.x Error Handling](http://vertx.io/docs/vertx-web/java/#_error_handling)

Just for the records, there is 3 error pages(and not two), security related

[2019-08-26 13:45] dmlloyd commented on #3677
The port value might not be present at build time, so reading it from the config only works if the user happened to supply it to the build.  Maybe there should just be a separate configuration item for the Kubernetes port?

[2019-08-26 13:46] geoand commented on #3677
If the port is not supplied, wouldn't we just use the default http port?

[2019-08-26 13:48] dmlloyd commented on #3677
Run time config is read & used at run time, so the port number could change from run to run.

[2019-08-26 13:52] kenfinnigan commented on #3476
Unfortunately, it looks like that issue is considered a "breaking change", so it wouldn't be included in a release anytime soon.

[2019-08-26 13:53] geoand commented on #3677
That is true, but the kubernetes resources can't be changed in any case. It's just a file that the users can choose (or not) to use when the they build the application.

[2019-08-26 14:00] aloubyansky commented on #3687
We should add this to our testsuite.

[2019-08-26 14:23] manovotn commented on #3528
@kenfinnigan just as an FYI, these were the things that @jmartisk found blocking it and I tried fixing in the meantime:
* https://github.com/quarkusio/quarkus/pull/3614
* https://github.com/quarkusio/quarkus/issues/3594
* https://github.com/quarkusio/quarkus/issues/3619

Last of these is still open as my previous solution was flawed but it now has a PR (by Martin) that fully solves it.

A little o

[2019-08-26 15:11] loicmathieu opened #3709 "Metrics - Add more base metrics"
**Description**
Currently, base metrics uses the `java.lang.management.OperatingSystemMXBean` to retrieve it's base metrics. By switching to the `com.sun.management.OperatingSystemMXBean` we can access more metrics.

**Implementation ideas**
I have a work in progress prototype that cast the `OperatingSystemMXBean` to the internal one in the sun package and add some metrics if the cast is successfu

[2019-08-26 15:35] loicmathieu opened #3710 "[Smallrye Metrics] Some memory pool metrics are missing"
**Describe the bug**
When using quarkus-smallrye-metric extension, some memory pool metrics are missing. Looking at the code in `SmallRyeMetricsRecorder.memoryPoolMetrics` it registers metrics for all pools.

Running Java 11 I have the following pools
[code]

But only metrics for three pools are displayed:

[code]
All non-heap memory pools are missing.

**Expected behavior**
Metrics for all memory

[2019-08-26 16:47] loicmathieu commented on #3710
Yes this was the cause. Some pools use Usage instead of CollectionUsage.
See my PR that fixes it, at least for Java 11 on HotSpot

[2019-08-26 20:59] dcdh commented on #3690
Hello, it is an hibernate search issue. I have open a [ticket](https://hibernate.atlassian.net/browse/HSEARCH-3667) to them.

[2019-08-26 22:16] #3619 closed

[2019-08-26 22:57] dwamara commented on #2759
Any news on this one? We have the gateway API from one of our applications that can't go live without it, unless we don't go with Quarkus on this one, what will be a bummer.

[2019-08-27 01:42] gastaldi opened #3717 "Ambiguous dependencies for type java.util.concurrent.ExecutorService and qualifiers [@Default] when using SmallRye Context Propagation"
**Describe the bug**
Having a bean injecting an ExecutorService `@Inject ExecutorService executorService`, an Ambiguous dependencies error is thrown:
[code]
**Expected behavior**
The ExecutorService produced by the Context Propagation extension is used (it works in 0.21.1)

**Actual behavior**
The build fails with the stacktrace above

**To Reproduce**
Steps to reproduce the behavior:
1. `mvn io.q

[2019-08-27 05:59] machi1990 commented on #3372
Re-opening this one since https://github.com/quarkusio/quarkus/pull/3404 is not merged yet - waiting for a new release of `quarkus-http` after https://github.com/quarkusio/quarkus-http/pull/1 landed.

[2019-08-27 06:08] jmartisk commented on #3528
@kenfinnigan Welcome back! I've been digging into the TCK quite heavily for a week and I think I'm getting close to sending an initial PR. Some tests will still be excluded because of unimplemented things, some will be excluded because of things that can't work in Quarkus by design.
Unfortunately we will require some changes in the TCK as well, which is a bit weird, but.. See the [list of Quarkus

[2019-08-27 06:14] #3624 closed

[2019-08-27 06:16] #3677 closed

[2019-08-27 06:49] kameshsampath opened #3721 "Unable to Run tests with non-standard maven settings"
**Describe the bug**
When using non-standard maven settings, typically the user maven repository is no configured at `$HOME/.m2`, the test fails with exception unable to find the project artifact at $HOME/.m2/repository

**Expected behavior**
Test should run successfully

**Actual behavior**
Test fails with the following exception

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Dele

[2019-08-27 06:57] mkouba commented on #3717
There are evidently two beans that satisfy an injection point of `ExecutorService`. The first comes from SM context propagation - see `SmallRyeContextPropagationProvider` and the other one is registered by `io.quarkus.netty.deployment.NettyProcessor.createExecutors()`. And Netty is probably included because Undertow runs on top of Vertx now.

[2019-08-27 07:08] #3409 closed

[2019-08-27 07:10] manovotn opened #3722 "Arc - client proxy should delegate toString() to contextual instance"
According to CDI spec, methods on proxies inherited from `Object` are undefined except for `toString()`. See [this](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#client_proxy_invocation) chapter. In combination with chapter 5.4 this indirectly requires `toString()` to be delegated to contextual instances.

ATM Arc doesn't do that (in comparison, Weld does).

@mkouba @jmartisk FYI

[2019-08-27 07:21] jmartisk opened #3723 "AroundConstruct not called when interceptor is defined on the bean's class"
When a bean's constructor is annotated with an interceptor binding for an interceptor that contains an `@AroundConstruct` method, the interceptor will not be applied.

[2019-08-27 07:44] jmartisk commented on #3709
I think this makes sense. +1 that these new metrics should be in the `vendor` scope.

Thinking which of these metrics actually will be useful:
- systemCpuLoad,  processCpuLoad, ProcessCpuTime, FreePhysicalMemorySize, FreeSwapSpaceSize - yes
- committedVirtualMemorySize - maybe
- totalSwapSpaceSize, TotalPhysicalMemorySize - I'd say not much as these don't typically change during runtime

Also not

[2019-08-27 07:46] gsmet commented on #3678
@gwenneg is this really a bug or is narayana providing an index generated with an outdated version?

[2019-08-27 07:48] jmartisk commented on #3722
Aha, I thought this was some kind of intentional optimization :) We already merged the workaround in Metrics TCK for Metrics 2.1, but if this gets fixed in Quarkus, we might just drop the backport to Metrics 2.0.

[2019-08-27 07:56] FroMage commented on #3717
Thanks @stuartwdouglas for the fix. I wonder if I should not use the `@Type` annotation to limit the injectable type to `ManagedExecutor` instead of also its supertype `ExecutorService`, in the case of MP-CP.

[2019-08-27 08:04] manovotn commented on #3722
It's not a bug, it's a feature! ;-)

[2019-08-27 08:04] mkouba commented on #3717
Sounds reasonable.

[2019-08-27 08:39] loicmathieu commented on #3709
@jmartisk if I understand it correctly:

- **base** metrics are system level metrics (the Jaeger extension also provides base metrics, it feels strange I would assume that Jaeger should provides vendor metrics).
- **vendor** metrics are JVM level metrics: this is where the new metrics will land
- **application** metrics are the one we delcare on our application

As you suggest, I will add the miss

[2019-08-27 08:46] rsvoboda opened #3728 "SmallRye OpenAPI 1.1.6 / 1.1.7 causes Failed to augment application classes"
SmallRye OpenAPI version bump from 1.1.3 to 1.1.6 / 1.1.7 causes build failure `Failed to augment application classes` in main module of integration tests.

Run example `mvn clean install -DskipTests -DskipITs -Dsmallrye-open-api.version=1.1.7`

[code]

1.1.7
[code]

1.1.6
[code]

@EricWittmann any idea how to handle this error ?

[2019-08-27 08:49] FroMage commented on #3717
OK: #3729

[2019-08-27 08:53] jmartisk commented on #3709
Jaeger extension provides metrics in `base`? In that case please report an issue, that's definitely wrong.

Base metrics should be just the ones listed in the  [MP Metrics specification](https://github.com/eclipse/microprofile-metrics/blob/2.0.1/spec/src/main/asciidoc/required-metrics.adoc). `vendor` scope is for what we add on top of the spec, so this would include your metrics and the ones from

[2019-08-27 08:57] loicmathieu commented on #3709
@jmartisk OK, I will add this one to base and the other one to vendor. I will open a PR soon.

I will also open an issue for the Jager metrics.

[2019-08-27 09:08] jmartisk commented on #3709
@loicmathieu great, thanks! :)

[2019-08-27 09:13] loicmathieu opened #3730 "[Jaeger] Metrics are wrongly added to base metrics"
**Describe the bug**
The Jaeger metrics are displayed as **base** metrics, but they should be **vendor** metrics as **base** metrics should only be the one listed on the [MP metrics specification](https://github.com/eclipse/microprofile-metrics/blob/master/spec/src/main/asciidoc/required-metrics.adoc)

**Expected behavior**
Jaeger metrics are displayed under **vendor** metrics.

**Actual behavior*

[2019-08-27 09:21] gsmet commented on #3728
It looks related to https://github.com/quarkusio/quarkus/issues/3537 but the newer versions of SmallRye OpenAPI were supposed to fix it.

[2019-08-27 09:45] rverma-nikiai commented on #2143
This is similar to what spring-boot does, with spring-devtools. This proved to be good for spring, I think we don't need to reinvent the wheel here :). If someone needs a hot reload they can use this else can skip this. I am more inclined towards frameworks which can sync code changes directly inside a kubernetes pod with minimal layer rebuilds. Bonus if it can work with google's jlib (https://git

[2019-08-27 09:53] geoand commented on #2143
Quarkus' remote-dev can be used in Kubernetes pods and it's much much more efficient that anything else I have seen.

[2019-08-27 10:08] belyaev-andrey commented on #3685
Yes, it returns correct headers along with 401 code if there is no `authorization` header. Which is a bit inconsistent, to my mind.

[2019-08-27 10:49] sberyozkin commented on #3685
Thanks, so what does it return when the Authorization value is incorrect ?

[2019-08-27 11:39] cescoffier commented on #3605
Fixed by #3611

[2019-08-27 12:26] rsvoboda opened #3737 "Native mode, app with quarkus-smallrye-fault-tolerance, getting java.lang.NoClassDefFoundError"
I see `java.lang.NoClassDefFoundError` in native mode with app using `quarkus-smallrye-fault-tolerance`, native build passes if you comment out quarkus-smallrye-fault-tolerance dependency.

The main cause is `Caused by: java.lang.ClassNotFoundException: io.smallrye.context.propagators.rxjava2.RxJava2ContextPropagator` (part of smallrye-context-propagation dependency)

This issue is not present whe

[2019-08-27 12:38] belyaev-andrey commented on #3685
Using my application and Fiddler,, I got the following:

### No authorization:
Request:
[code]
Response:
[code]
### Wrong authorization header:
Request:
[code]

Response:
[code]

[2019-08-27 12:47] FroMage commented on #3663
@stuartwdouglas why is this not running on a worker thread?

@vietj is it really using the netty async dns that has so many issues?

[2019-08-27 13:15] stuartwdouglas commented on #3663
Can you follow the instructions at https://thoeni.io/post/macos-sierra-java/ and see if it fixes the issue?

[2019-08-27 14:17] #3723 closed

[2019-08-27 14:19] #3717 closed

[2019-08-27 17:34] rverma-nikiai opened #3741 "Support and example for using bazel, preferrably with java_image"
**Description**
Tried below config
[code]
But its missing a target to run. Can't figure out what/how pass the correct target.

May be dependent on https://github.com/quarkusio/quarkus/issues/2143

[2019-08-27 19:53] gwenneg commented on #3678
@gsmet: You're right, the warning is caused by an outdated index version in `narayana-jta` and @rsvoboda asked for an update in #3705.

[2019-08-27 20:59] sberyozkin commented on #3685
The response in 2nd case (with the wrong authorization header) is what I'd expect as well (this is a response from the Keycloak, right ?).
Is it what the Quarkus CORS filter does as well ? IMHO it is correct by default, even if it is too strict.
The 1st case can be tackled separately (I agree it is inconsistent, whichever way you look at it :-) ).

[2019-08-27 21:45] machi1990 commented on #3644
I'll take a look.

[2019-08-27 22:33] machi1990 opened #3743 "Amazon Lamda IT raises exceptions"
**Describe the bug**
Amazon integration tests raises

**Expected behavior**
Tests to pass correctly without raising exception

**Actual behavior**
I am seeing the following errors:
[code]

Which is followed by this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `mvn clean install` on integration test directory and observe the console.

**Environment (please complete the f

[2019-08-28 02:32] greyskyy opened #3745 "Setting `quarkus.servlet.context-path` breaks `quarkus-smallrye-metrics`"
**Describe the bug**

When the context-root is set to a non-default value, the metrics extension always returns a 500 error with the following message:
[code]

**Expected behavior**
The `/metrics` endpoint is provided under the provided context-root (in this case /myroot/metrics)

**Actual behavior**
see description above

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a simple quark