[2021-04-08 07:45] geoand commented on #16218
Let me know if you need anything from me

On Thu, Apr 8, 2021, 10:42 Phillip Krüger ***@***.***> wrote:

[2021-04-08 07:55] phillip-kruger commented on #16218
Thanks, will do

[2021-04-08 08:05] mukhtarhussainbaloch commented on #16343
https://github.com/mukhtarhussainbaloch/quarkus-smallrye-openapi-bug

[2021-04-08 08:23] el10686 opened #16347 "quarkus-jacoco bug in Quarkus 1.13.0"
## Describe the bug
We (@chris-asl) create a simple project by running:
[code]

Then we add the jacoco dependency:
[code]
Running tests with `./mvnw clean verify` we can generate the jacoco report and everything works as expected.

However when we add kubernetes client dependency
[code]
and rerun the tests they fail with build errors:

[code]

The docs here https://quarkus.io/guides/tests-with-cov

[2021-04-08 08:36] mkouba commented on #16337
It's the default method that was not handled correctly.

[2021-04-08 08:37] el10686 commented on #16347
closing as it's resolved in referenced PR

[2021-04-08 08:38] el10686 commented on #15853
closing as it's resolved in referenced PR

[2021-04-08 08:38] #15853 closed

[2021-04-08 08:45] #16126 closed

[2021-04-08 08:45] #16128 closed

[2021-04-08 09:06] geoand commented on #16347
cc @stuartwdouglas

[2021-04-08 09:10] glefloch commented on #16328
@asodja Thanks for reporting this. We currently don't handle the gradle toolchain extension.
I will push a PR that handles it.

[2021-04-08 09:12] devflorence opened #16350 "Remote dev mode doesn't recognise changes to static resources"
## Describe the bug
Using remote dev mode any changes to static resources under the META-INF/resources folder doesn't trigger the update like with local dev mode

### Expected behavior
Changes to static resources trigger the update when a new http request is made

### Actual behavior
Changes to static resources are ignored when a new http request is made

## To Reproduce

*) Install Microk8s and e

[2021-04-08 09:22] ia3andy opened #16352 "qs add some-ext broken always adding bom"
The mvn command is now fixed, but the cli is still adding the bom:

[code]

It shouldn't add the bom.

CC @aloubyansky

[2021-04-08 09:31] ia3andy opened #16353 "Tooling should display a message saying the extension to add has not been found"
## Describe the bug

Quarkus CLI "qs add not-found" is not showing any output (even when a valid extension is in the list)
[code]

### Expected behavior
It should tell the user something like "No extension have been found matching 'not-found'"

I guess it should add the other extensions if they are found.

[2021-04-08 09:32] ia3andy commented on #16353
I think the maven command has a similar problem:
[code]

[2021-04-08 10:02] geoand commented on #16343
Things work properly if you switch from `quarkus-resteasy-jsonb` to `quarkus-resteasy-jackson`

[2021-04-08 10:02] #16343 closed

[2021-04-08 10:07] yoobi opened #16354 "Kmongo for Quarkus"
## Describe the extension
[Kmongo](https://litote.org/kmongo/) is a really good toolkit for mongo on Kotlin

it supports aggregation and lookup which panache don't.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

## Configuration suggestion
[code]

## Additional context
(Add any other context about the proposal here.)

[2021-04-08 10:19] XakepSDK commented on #16336
Works with FF 87; It's firefox beta bug
https://bugzilla.mozilla.org/show_bug.cgi?id=1673534

[2021-04-08 10:19] #16336 closed

[2021-04-08 10:52] #16337 closed

[2021-04-08 11:10] geoand commented on #16350
I just tried this and it worked like a charm

[2021-04-08 11:15] mkouba opened #16355 "Picocli extension - consider generating command metadata during build"
ATM picocli builds the `CommandSpec` metadata using reflection every time the application is started. This is OK in most situations but may represent considerable overhead for applications that finish instantly, e.g. some Quarkus CLI commands. It might make sense to analyze the commands during build and either generate some "builder" classes or record the metadata (e.g. using `AnnotationProxyBuild

[2021-04-08 11:18] geoand commented on #16354
Sounds like a candidate for the Quarkiverse

[2021-04-08 11:20] phillip-kruger opened #16356 "Paths issues in main branch (Quarkus 2)"
## Describe the bug
I am testing the main branch (Quarkus 2) and found some issues with paths.

1) In dev mode, the `404 - Resource Not Found` page (go to a page that does not exist) shows some wrong paths

Example the swagger-ui and health-ui now have a * in the path

![404](https://user-images.githubusercontent.com/6836179/114016757-76fac280-986b-11eb-9b22-12feacf63f17.png)

2) If you click on `

[2021-04-08 11:21] mkouba commented on #16355
WDYT @mgorniew?

[2021-04-08 11:21] gsmet commented on #16355
Yeah I had the same thought the other day. I'm just unsure how much time it takes. Given displaying the help is slow enough even in native, I suppose it takes quite some time.

[2021-04-08 11:28] mkouba commented on #16355
My super unreliable measurement showed that it could be hundreds of ms (quarkus cli has 1 top command + 10 subcommand classes).

[2021-04-08 11:32] devflorence commented on #16350
Hi Georgios,

I don't know what to say, I've just tried and it doesn't work to me.
Changing index.html content and then making a request with curl nothing happens.
If I change the string returned by the rest service then the update and reload of content is triggered.

[2021-04-08 11:34] maxandersen commented on #16355
big part of this one is probably due the console width calculation which can be expensive even in native.

that said - i do think picoclis annotation parsing is quite slow - its signficiant in jbang too.

[2021-04-08 11:36] phillip-kruger commented on #16356
Some more info.

version 1.13.1.Final works fine, and there it seems like `/q/dev` forward/redirect to `/q/dev/`

[2021-04-08 11:42] mkouba commented on #16355
This part should be solved in https://github.com/quarkusio/quarkus/pull/16320.

[2021-04-08 11:44] jc commented on #16230
This is no longer an issue in 1.13.1.Final. Thanks!

[2021-04-08 12:04] snazy opened #16358 "quarkus-jacoco produces tons of logged excepiions in 1.13 like `Cannot transform java.lang.Object`"
## Describe the bug
After some experiments how to change our code to get "proper code-coverage" of tests running via Quarkus, we've realized that 1.13.0 introduced the quarkus-jacoco extension, which solved our problem that the code-coverage with jacoco+Quarkus didn't work. However it introduced a new issue that Quarkus now complains that it can no longer instrument classes with messages like `Can

[2021-04-08 12:07] mkouba commented on #16043
FTR with https://github.com/quarkusio/quarkus/pull/16320 and native I get:
[code]
compared to:
[code]

I agree with Guillaume that most real commands will be slow anyway. However, I believe that we should really improve the startup time for simple commands because it just doesn't look good ;-).

[2021-04-08 12:11] Postremus opened #16359 "Resteasy Reactive wants to instantiate abstract ContainerRequestFilter's in dev mode"
## Describe the bug

First of all, I tried to create a reproducer, but was unable to reproduce this issue in an isolated project.

This only happens in dev mode. The app works when starting as fast-jar.

I debugged the problem a bit, and found out that the InstantiationException is thrown because an abstract class was tried to instantied - AbstractAuthenticationFilter.

See the stacktrace, and the

[2021-04-08 12:12] #16230 closed

[2021-04-08 12:13] maxandersen commented on #16353
I believe this is a duplicate of https://github.com/quarkusio/quarkus/issues/16044

[2021-04-08 12:16] remkop commented on #16355
I’ve been wanting to do something like this: https://github.com/remkop/picocli/issues/539 but never got around to it.

[2021-04-08 12:16] loicmathieu commented on #16354
We aready have a MongoDB with Panache extension for Kotlin (not yet documented) so our prefered way to simplify MongoDB with Kotlin is to use this one.

Note that as Kmongo uses extension method it should not need a tight integration with Quarkus so it should works easily on JVM mode with ou Quarkus MongoDB Client extension. Not sure for native mode.

[2021-04-08 12:19] remkop commented on #16355
Can you put some numbers on that? How long does displaying the help take in native and in JIT mode?

[2021-04-08 12:20] geoand commented on #16359
Can you try and give https://github.com/quarkusio/quarkus/pull/16360 a shot?

[2021-04-08 12:21] ia3andy commented on #16353
@maxandersen it's close, but the case is a bit different here, so both cases need to be handled and tested.

[2021-04-08 12:44] theseeker58 commented on #16315
I just pushed to github a small project to reproduce the issue https://github.com/theseeker58/code-with-quarkus.git
The README.md files explains how to. In short, if you compile and execute the quarkus project you'll fine that protostream stuff is correctly generated (I mean serialization context initializer and marshaller).
Then uncomment mapstruct-processor in pom, follow the instructions in the

[2021-04-08 13:01] yoobi commented on #16354
I have tried using Panache and it's nice for simple query, right now I'm trying to do aggregation, lookup and such but Panache doesn't support this, then it's mandatory going back and forth between mongodb-client and panache while Kmongo can do everything Panache does and more.

[2021-04-08 13:44] lssoares commented on #14688
This is not a Quarkus bug.

The problem is that all addresses in Artemis are default created as multicast, and Apache QPID might negotiate destinations different from Artemis client.

Anyway, in the uploaded test case, every test will pass if broker.xml changes the default protocol for newly created addresses on Artemis broker like this:

        <address-settings>
            <address-setting mat

[2021-04-08 13:44] #14688 closed

[2021-04-08 14:16] sberyozkin commented on #16294
Hi @pedroigor @mrizzi Not quite - what has changed is now, by default, the `issuer` is verified - while up to `1.13.x` - it was not verified at all for the bearer tokens unless the user manually set `quarkus.oidc.token.issuer`

[2021-04-08 14:34] pedroigor commented on #16294
I see. The default behavior looks more correct to me.

But I think this is not an issue in Quarkus. But missing config in Keycloak. As previously mentioned.

Suppose your app is set to `quarkus.oidc.auth-server-url=http://localhost:8180/auth/realms/quarkus`.

But you set the `frontendUrl` in Keycloak to `http://mykeycloak/auth`.

In this case, the issuer will be `http://mykeycloak/auth/realms/quar

[2021-04-08 14:35] sberyozkin commented on #16294
@pedroigor thanks for the explanation

@mrizzi can you clarify please why setting `KEYCLOAK_FRONTEND_URL` can be problematic in your case ?

[2021-04-08 14:38] CJUnderhill commented on #16358
We are experiencing the same/a similar bug.

[2021-04-08 14:41] jglink commented on #12740
Are there any plans on implementing the JPA callback support for native mode in the near future?

[2021-04-08 14:44] nicolinux72 commented on #15124
@loicmathieu @diogocarleto

Hi, this change could be **very** useful, especially when the same collections on MongoDb are used simultaneously by Quarkus and SpringData.
Do you plan to release it soon?

[2021-04-08 14:49] okothhc opened #16364 "graphql schema creator throws java.lang.NullPointerException when Query return type has a List<T> or an array."
When graphql query has a return type that has a list or an array object in it, a null pointer exception is raised in io.smallrye.graphql.schema.creator.ReferenceCreator.getReference(ReferenceCreator.java:275)

Sample code:
@GraphQLApi
class CoreResource {

@Query("listxyz")
    @Description("Lists the xyz")
    fun listXyz(@Name("code") code: String) :
        CompletionStage<ServerResponse<**List

[2021-04-08 14:53] diogocarleto commented on #15124
morning @nicolinux72, I'm waiting for the considerations of @loicmathieu and guys, I think I'll have to do some adjusts related to the part where I'm using reflection, not sure yet.

I'm using this out of the box in one project, with some adjusts, and it is working pretty good.

Best,

[2021-04-08 14:54] phillip-kruger commented on #16364
I think the issue is actually Generics (ServerResponse). Maybe @velias can comment ?

[2021-04-08 14:56] mrizzi commented on #16294
I think the solutions proposed, from my perspective, are the same: in any case the user has to set a property at runtime (i.e. the keycloak's URL) or in the `quarkus.oidc.token.issuer` in the backend application or as `KEYCLOAK_FRONTEND_URL` in the keycloak instance.
Both give me no way to provide a k8s/OCP template that can work for setting up a development application instance without requiring

[2021-04-08 14:57] tsegismont commented on #16338
Thanks for the heads-up @geoand . I'll look into it

[2021-04-08 14:59] cescoffier commented on #14940
Done - the TestResource is out of date.

[2021-04-08 14:59] #14940 closed

[2021-04-08 15:00] #14870 closed

[2021-04-08 15:02] geoand commented on #15756
Closing in favor of https://github.com/quarkusio/quarkus/issues/16227

[2021-04-08 15:02] #15756 closed

[2021-04-08 15:03] gavinking commented on #12740
Would the old legacy Hibernate `Interceptor` work here?

[2021-04-08 15:05] tsegismont commented on #16338
@lucafuji this might not be a bug.

The `rowCount` method returns the affected rows for each `RowSet`. If the query executed affects one row per batch, then calling `rowCount` on each `RowSet` will return 1.

Can you try to iterate using `RowSet.next` until it returns `null`, and verify `RowSet.rowCount` returns 1 every time?

[2021-04-08 15:15] Postremus commented on #16359
@geoand The app now starts in dev mode with your PR. Thank you!

[code]

[2021-04-08 15:19] geoand commented on #16359
Awesome, thanks for checking @Postremus

[2021-04-08 15:34] maxandersen commented on #16353
what is the different case ? the issue I see is that when there is an extension not found the cli fails siliently.

[2021-04-08 15:40] okothhc commented on #16364
Not sure if this is helpful, but, others that return ServerResponse<class instance> works just fine. @phillip-kruger is there a workaround you would recommend?

[2021-04-08 16:03] velias commented on #16364
Have you tried to add type for that List? Without type graphql schema can't be finished as it requires types everywhere.

[2021-04-08 16:59] maxandersen commented on #16033
What does create-cli actually do ? Just create quarkus project without default resteasy ?

[2021-04-08 17:04] maxandersen commented on #16033
I kinda have mixed feelings that list works for both platform and extensions.

not sure what implications are of the multiple platform notion.

Wondering if list should be for extensions and a more generic query command to get info from the registry data ?

[2021-04-08 17:04] #16359 closed

[2021-04-08 17:12] igor-dmitriev commented on #15831
@sberyozkin I tried your proposal with `1.13.1.Final`, it is working, now I can see that start-up time is ~0.3 second. So, auth stuff  is deferred to the first call.

<img width="1150" alt="Screenshot 2021-04-08 at 20 11 57" src="https://user-images.githubusercontent.com/4592740/114068527-ae3a9500-98a6-11eb-8829-b818e137d4ac.png">

[2021-04-08 17:13] #15728 closed

[2021-04-08 17:20] #15889 closed

[2021-04-08 17:34] ebullient commented on #16033
create-cli creates a client project.. --without-jbang would apply there to remove the jbang wrapper.

elevates the nature of using quarkus to create cli projects (where jbang wrapper would be included by default)

[2021-04-08 17:46] ebullient commented on #16033
I can see the mixed feelings re: platforms and extensions.

In my head: platforms are a limiter on the extensions that are available (they are essentially an extension constraint).

I see the following output for list (MAKING THIS UP):
[code]

Or:
[code]

There is a linkage between platform(s) and extensions. Reminding people which platform their project is using isn't a bad thing.

[2021-04-08 18:25] ajhajj commented on #16326
It seems that if I want to create a container output as documented in https://quarkus.io/guides/building-native-image#creating-a-container.  There it mentions a dependency on container-image extensions (https://quarkus.io/guides/container-image).  There are three as I understand it.  But for usecases outside of OpenShift just jib and docker.  Unfortunately jib also requires docker in some cases as

[2021-04-08 18:26] pedroigor commented on #16294
@mrizzi So your proposal is more a dev option than actually something for production?

Ignoring the issuer is really a problem for production-grade applications.

Perhaps you can use some placeholder to resolve the issuer for your templates based on an environment variable that can be set in your template.

However, even though devs don't have access to Keycloak configuration, I would expect this

[2021-04-08 18:42] ajhajj commented on #16326
I updated my previous comment as I had forgotten to enable the jib extension on my first run output.

[2021-04-08 18:47] ajhajj commented on #16326
The fact that it will automatically register with the local docker registry if a remote registry is not provided but not do the same for podman is the issue I am trying to describe really.

[2021-04-08 19:34] #16139 closed

[2021-04-08 19:40] famod opened #16369 "LegacyNamedMongoClientConfigTest is flaky"
Seen this fail multiple times in the last days, e.g. https://github.com/quarkusio/quarkus/pull/16367/checks?check_run_id=2299302627
[code]
Further up in the log there are a couple of `ConnectException: Connection refused`, not sure this is expected.

[2021-04-08 19:41] famod commented on #16358
/cc @stuartwdouglas

[2021-04-08 19:46] famod commented on #16319
/cc @mkouba @ppalaga @jamesnetherton

[2021-04-08 19:56] famod opened #16370 "Verify architecture and implementation rules with ArchUnit"
## Description
Validating things like https://github.com/quarkusio/quarkus/pull/16368#issuecomment-816053540 is a perfect task for [ArchUnit](https://www.archunit.org/).

## Implementation ideas
To cover all relevant modules, rules/tests chould be implemented in test branches of modules like core/x, chould be exposed via test-jar and could then be executed via [surefire's `dependenciesToScan`](htt

[2021-04-08 20:06] geoand commented on #16370
Thanks for opening this!

[2021-04-08 20:13] famod opened #16371 "SslKafkaConsumerTest and SaslKafkaConsumerTest are both flaky"
Both fail frequently these days with `java.net.SocketTimeoutException: Read timed out`, e.g: https://github.com/quarkusio/quarkus/pull/16360#issuecomment-815985649

Before the failure, there many warnings like:
[code]
Further up in the log:
[code]
And this at beginning of the test doesn't look healthy either:
[code]

[2021-04-08 20:15] maxandersen commented on #16033
so `create-cli` replaces `create-jbang` ?

Not a big fan as jbang projects using quarkus is just as able to be non-cli as a standard quarkus app.

like `qs create --jbang resteasy,openshift` should be as doable as `qs create resteasy,openshift` just like `qs create-cli --jbang picocli,jackson` and `qs create-cli --gradle picocli,jackson` would both create a cli - just that with jbang lots of the c

[2021-04-08 20:28] ebullient commented on #16033
ok. If --jbang is shorthand for "create a jbang wrapper" .. then that should be the option and create-jbang should go away, and we don't need one to create a client. :-P

[2021-04-08 20:37] ppalaga commented on #16319
Duplicate of https://github.com/apache/camel-quarkus/issues/2441

[2021-04-08 20:37] #16319 closed

[2021-04-08 21:27] ebullient commented on #16329
Can you send me a sample/reproducer application? I'd like to see how you're declaring the OPTIONS handler..

[2021-04-08 21:43] phillip-kruger commented on #16356
I'll still do that in the morning

[2021-04-08 23:37] danieloh30 opened #16376 "Unable to obtain configuration for Secret objects from Kubernetes API Server in Funqy apps"
## Describe the bug
(Describe the problem clearly and concisely.)

Funqy application can't refer to the secret in Kubernetes/Openshift cluster via Quarkus Kubernetes Config extension. When I deploy a normal pod(i.e. RestEasy) rather than knative service, the Quarkus app can obtain the secret details properly.

For a workaround, I have to grant admin permission to SA to access the secret manually l

[2021-04-09 00:50] survivant opened #16378 "Quarkus 1.13.1.Final build native with Madrel ->Invalid version string '20.3.1.2.Final'."
I wanted to test the native mode with Quarkus.  I followed this guide : https://quarkus.io/guides/building-native-image#container-runtime

PS.  I'm on Windows 10 using docker to build/run images

I created a small project using quarkus code.io

[quarkus-native.zip](https://github.com/quarkusio/quarkus/files/6282426/quarkus-native.zip)

I did 3 tests.

#1 - compile without native (normal.. so not i

[2021-04-09 00:54] survivant commented on #16378
and a little question.  What that means those logs ?  **6,98 GB**
[code]
just curious

[2021-04-09 04:58] okothhc commented on #16364
Yes, I believe I did.

This fails. The variants for Array and Collections also fails.
`@Query("listSubscriber")
    @Description("Lists the subscribers")
    fun listSubscriber(@Name("code") code: String) :
        CompletionStage<ServerResponse<List<SubscriberPayload>>>
            = subsciberService.list()`

This works fine.
`@Query("getSubscriberByCode")
    @Description("Gets the subscriber by

[2021-04-09 04:59] okothhc commented on #16364
Caused by: java.lang.NullPointerException
        at io.smallrye.graphql.schema.creator.ReferenceCreator.getReference(ReferenceCreator.java:275)
        at io.smallrye.graphql.schema.creator.ReferenceCreator.collectParametrizedTypes(ReferenceCreator.java:356)
        at io.smallrye.graphql.schema.creator.ReferenceCreator.getReference(ReferenceCreator.java:310)
        at io.smallrye.graphql.schema

[2021-04-09 05:39] fmcejudo commented on #8834
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/731930373

[2021-04-09 05:39] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/731929521

[2021-04-09 05:48] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/731936035

[2021-04-09 05:53] geoand commented on #16376
So essentially what you are saying is that the Role and RoleBinding are not properly generated when deploying knative applications?

[2021-04-09 05:53] geoand commented on #16376
Cc @iocanel

[2021-04-09 05:56] #16356 closed

[2021-04-09 06:06] iocanel commented on #16376
I will look at it ASAP

[2021-04-09 06:11] geoand commented on #16376
Thanks!

[2021-04-09 06:11] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/731930765

[2021-04-09 06:21] iocanel commented on #16376
The issue has to be fixed in the kubernetes-client.
I'll raise an issue and take fix it there.

[2021-04-09 06:30] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/731930765

[2021-04-09 06:32] geoand commented on #16326
OK, thanks for the information.

As implied by the names of the different properties, (`quarkus.native.container-runtime` and `quarkus.native.container-build`) these are two different things.
So although I understand you would like to use `podman` throughout, these are two different things, so you would need to configure the registry (`-Dquarkus.container-image.registry=....`) to do what you want.

[2021-04-09 06:43] richiethom commented on #15909
@patriot1burke @gsmet any chance this can be put into a hypothetical 1.13.2.Final release? From what I've been reading a 1.14 release is unlikely, and it'd be a shame to have to wait for v2 for such a small code change. Without it it's not really possible to use Quarkus on AWS's newer (cheaper) gateway, at least not for an API where the content-type is important!

Thanks again!

[2021-04-09 06:47] geoand commented on #16378
@zakkak it looks like GraalVM does not like the `Final` suffix that Mandrel adds

[2021-04-09 07:06] geoand commented on #16370
I actually have a slightly different idea I want to explore

[2021-04-09 07:07] cescoffier opened #16381 "Missing secret injection in kubernetes.yml (but present in openshift.yml)"
## Describe the bug

The secrets are not injected in the kuberntes.yml file, but are in the openshift.yml file. Secrets are not openshift specific, so they should be available in both.

## Pseudo-reproducer

Imagine the following configuration:

[code]

You expect the secrets to being injected into the container.

The `openshift.yml` file contains:

[code]

But the `kubernetes.yml` does not contai

[2021-04-09 07:12] geoand commented on #16381
cc @iocanel

[2021-04-09 07:15] Ladicek commented on #16381
My understanding is that whatever is configured under `quarkus.openshift.*` is OpenShift-specific and hence doesn't go into `kubernetes.yml`.

If you configured the secrets under `quarkus.kubernetes.*`, they would go into `kubernetes.yml`. (And maybe also into `openshift.yml`? Not sure about that.)

[2021-04-09 07:25] geoand commented on #16381
Ah, good point.

I didn't notice that in the supplied configuration!

[2021-04-09 07:25] cescoffier commented on #16381
Oh! Right, I didn't realize that, but then, why is the kubernetes.yml generated if I don't have the kubernetes extension (only the openshift one). Also, secrets are Kube, so should we only allow configuration only from kubernetes.

[2021-04-09 07:27] cescoffier commented on #16381
So, I just checked with:
[code]

And now... they are in the `kubernetes.yml` but not in the `openshift.yml`.

[2021-04-09 07:30] cescoffier commented on #16381
Even more funny,

If you have:
[code]

Both got the secrets, however (and that was a mistake), I never configured the secret name for openshift, but it was still getting it.

[2021-04-09 07:33] Ladicek commented on #16381
If you have the OpenShift extension, you also automatically have the Kubernetes extension :-)

I vaguely recall some debates about whether `quarkus.kubernetes.*` should also affect `openshift.yml` or not, but I'm not sure about the outcomes. I'll defer to @iocanel on that.

[2021-04-09 07:51] ia3andy opened #16382 "Possible Leak in quarkus-micrometer on 1.13.0.Final not anymore on 1.13.1.Final"
## Describe the bug
If you start 1.13.0.Final with quarkus-micrometer in dev mode, and stop it, some process are not stopped forcing to kill them manually.

It seems to be fixed on 1.13.1.Final, but I thought it wise to be sure the team was aware of this. You can close this if this is under control.

I made a reproducer: https://github.com/ia3andy/reproducer-micrometer-leak

To reproduce:
- Start

[2021-04-09 08:10] okothhc commented on #16364
Created issue https://github.com/smallrye/smallrye-graphql/issues/740 Closing this issue. Thanks!

[2021-04-09 08:10] #16364 closed

[2021-04-09 08:37] eddiecarpenter opened #16384 "OIDC Issuer Verification"
The returned issuer value of the authentication provider is compared the configured issuer value and if there is a mismatch the authentication fails.

The problem I am experiencing is that we are using Microsoft's authentication (Azure) allowing multiple Microsoft tenants to access our system. The Issuer string on their side is defined as https://login.microsoftonline.com/{tenantid}/v2.0 where the

[2021-04-09 08:48] famod commented on #16384
/cc @sberyozkin

PS: not sure I chose the right label

[2021-04-09 08:49] sberyozkin commented on #16384
@famod it is fine, thanks, I also added `oidc`

[2021-04-09 08:55] sberyozkin commented on #16294
Hi @pedroigor - we have another issue, #16384

[2021-04-09 09:01] sberyozkin commented on #16384
@eddiecarpenter Hi, what happens if you do not configure `quarkus.oidc.token.issuer` ? i.e, what `issuer` is returned as part of the discovered well-known configuration ?

[2021-04-09 09:01] sberyozkin commented on #16384
What Quarkus version is it ?

[2021-04-09 09:16] sberyozkin commented on #16294
Hi @mrizzi and @pedroigor - I've been thinking about it as well, so there is one option you can use right now, even without this PR to disable the issuer verification - disable the auto-discovery - set `auth-server-url`, `discovery-enabled=false`, and `jwks-path=/certs` (point to the correct KC path) - and no `issuer` will be discovered - and the check will be skipped.

Pedro, given the above - wh

[2021-04-09 09:18] mrizzi commented on #16294
@pedroigor yep, my proposal is to let devs have full control without having to request any change to the authentication application (keycloak in my case) and the change for allowing the usage of `any` seems reasonable to me.

@sberyozkin sorry, I know it's not my business, but for https://github.com/quarkusio/quarkus/issues/16384, I think that my previous suggestiong about `quarkus.oidc.token.issu

[2021-04-09 09:21] sberyozkin commented on #16294
@mrizzi You are welcome to comment on other issues for sure :-). It won't work unfortunately - it is a dynamic case so they can't be pre-configured statically.

[2021-04-09 09:31] sberyozkin commented on #16294
@mrizzi

By the way, I had another question - who is controlling the code (SPA script) which uses IP host address ? Are these the same developers who may have to set `quarkus.oidc.token.issuer=my-ip-address/issuer` ?
If it is the case then it is not a restriction IMHO - if the devs how to write their script with the specific IP address in mind - then nothing really changes for them when it comes t

[2021-04-09 09:35] sberyozkin commented on #16384
@eddiecarpenter does it work now :-) ?

[2021-04-09 09:36] Sgitario opened #16386 "Regression issue: Infinispan and Kafka extensions stopped working"
## Describe the bug
Using the Infinispan and Kafka extensions:

[code]

And having functionality to use Kafka consumer/producers and remote caches, stopped working using 999-SNAPSHOT. The test fails with this exception:

[code]

Without using Kafka, everything works fine.

Maybe this is related to the recent Vert.4 upgrade.

## To Reproduce
Steps to reproduce the behavior:
1. git clone https://git

[2021-04-09 09:37] eddiecarpenter commented on #16384
I am using the latest version 1.13.1 :-)

[2021-04-09 09:39] sberyozkin commented on #16384
@eddiecarpenter

OK, so believe it works now, thanks

[2021-04-09 09:40] sberyozkin commented on #16294
@pedroigor @mrizzi so #16384 is not related and has been closed by the user

[2021-04-09 09:41] #16376 closed

[2021-04-09 09:45] eddiecarpenter commented on #16384
No, it does not work as expected. If I define an issuer with a known tenant-id the mechanism works. As explain above, the problem is that the issuer value return is dynamic and unknown at configuration/startup time.

[2021-04-09 09:50] eddiecarpenter commented on #16384
My apologies, I somehow click on the wrong link and closed the issue.

[2021-04-09 09:52] sberyozkin commented on #16384
@eddiecarpenter I'm getting confused - sorry, so why did you close the issue ?

and,

Do you mean the literal `{tenant-id}`, i.e, not `/my-tenant/v2.0`, etc but `{tenant-id}` ? While, when the user is authenticating, you have `/my-tenanr/v2.0`, etc ?

[2021-04-09 09:53] sberyozkin commented on #16384
@eddiecarpenter OK, np :-)

[2021-04-09 09:56] eddiecarpenter commented on #16384
Microsoft literally returns  `https://login.microsoftonline.com/{tenantid}/v2.0` in their well known service response, but in the openid OAUTH2 response replaces the {tenantid} tag with actual tenant-id the user/email address belongs too.

[2021-04-09 09:58] sberyozkin commented on #16384
@eddiecarpenter Got it - thanks. Well, yeah, in this case we can't match it - unless we start going the JAX-RS path and take `tenant-id` as a template var :-), but it would be too messy.... CC @pedroigor

[2021-04-09 10:00] sberyozkin commented on #16294
So, #16384 is related after all - but in a different way - both issues are to do with the fact the issuer is verified by default if it has been discovered - at least here we can control Keycloak....

[2021-04-09 10:02] sberyozkin commented on #16384
@eddiecarpenter Ok, we'll sort it out - in meantime, here is a workaround:

 Set `auth-server-url`, `discovery-enabled=false`, and `jwks-path=/certs` (point to the correct Azure path relative to `auth-server-url`) - and no issuer will be discovered - and the check will be skipped

[2021-04-09 10:03] mutasemhidmi commented on #16225
Is this a Macbook m1 issue or Quarkus ?

[2021-04-09 10:34] eddiecarpenter commented on #16384
Thanks

[2021-04-09 10:55] Sgitario opened #16389 "Inconsistent path for @HealthGroup annotations"
## Describe the bug

For example, having this health check:

[code]

According to the javadocs in the `@HealthGroup` annotation (see [here](https://github.com/smallrye/smallrye-health/blob/f33a89959d4e6b21b300f7c536942fd2f0be3da4/api/src/main/java/io/smallrye/health/api/HealthGroup.java#L52)), the path for this Health group should be `/health/greeting`. The problem is that the Smallrye Health Quar

[2021-04-09 10:55] MartinX3 commented on #4394
Getting the same issues in 1.13 since I switched to the kotlin based hibernate stuff

[code]

[2021-04-09 10:59] janknobloch commented on #14695
Seems to be fixed in 1.13.1 ?

was facing the same issue using:
`quarkus.http.enable-compression=true`

in non-native mode, seems to be gone by now - maybe implicity updating netty under the hood?

Thx @stuartwdouglas

[2021-04-09 11:03] #16179 closed

[2021-04-09 11:18] antoniomacri opened #16390 "Endless "VertxException: Thread blocked""
## Describe the bug

On one node in our Production environment the application started logging "Thread blocked" continuously.

### Expected behavior

A possibly temporary condition that caused the block is recovered from.

### Actual behavior

This warning is logged continuously on one node:

[code]

The other 4 nodes are fine. Vert.x is not even listening:

[code]

## To Reproduce

Sorry, I don't

[2021-04-09 11:23] gytis commented on #13662
I just looked through the extension code and I agree, it looks nice.
I only have a question to @FroMage and @geoand. Is it OK to include a Zalando dependency to the core extension? Or would it be better to replace the `Problem` classes that come from there with new implementations inside the extension?

[2021-04-09 11:25] geoand commented on #13662
I would be in favor of the latter

[2021-04-09 11:36] danieloh30 commented on #16376
@geoand Yeah, I think so because it works when I do RoleBinding manually.

[2021-04-09 11:44] #16328 closed

[2021-04-09 11:53] ebullient commented on #16382
Yes, we know about this issue.

It was reported in #16130, and fixed by both #16140 (in 1.13.1, this fixes the issue), and #16164 (removes the condition that surfaced the issue, which is in main).

[2021-04-09 11:53] #16382 closed

[2021-04-09 12:05] edeandrea commented on #16182
@FroMage FYI this is an issue with Panache Reactive as well - same issue. I assume this fix will fix that as well?

[2021-04-09 12:07] geoand commented on #16390
Does this happen with newer Quarkus versions? Quarkus `1.8.x` is rather old at this point...

[2021-04-09 12:11] jtama commented on #9985
ok so it does work with reactive client with the following dependencies (choose one depending on your os):
[code]

and the following configuration :
[code]

I think we should document it.

[2021-04-09 12:15] Sgitario opened #16392 "Regression issue: Reactive and Vertx JWT stopped working"
## Describe the bug
When using Reactive routes and authenticating the app using the Vertx jwt dependency, the app fails when calling to the service:

[code]

I could not find out what is the root cause of the problem as we're also using the Quarkus Redis extension, but I've provided a reproducer for better understading.

This must be a regression issue with the upgrade of Vertx 4.

## To Reproduce

[2021-04-09 12:19] Sgitario commented on #16392
I've found out the cause of this issue. Closing...

[2021-04-09 12:19] #16392 closed

[2021-04-09 12:24] gsmet commented on #16392
@Sgitario what is the cause?

[2021-04-09 12:25] FroMage commented on #16182
Ah good point, let me fix it there too.

[2021-04-09 12:27] Sgitario commented on #16392
Vertx JWT has changed the API to generate tokens and I was not using the right `buffer` value.

[2021-04-09 12:28] edeandrea commented on #16182
If you'd like me to submit a separate ticket for that I can (so you can keep commits isolated if you want). Up to you.

[2021-04-09 12:31] gsmet commented on #16392
Shouldn't we use SmallRye JWT Build to generate tokens?

[2021-04-09 12:38] fwippe opened #16393 "Oidc-Client: Allow named injections of OidcClients and Tokens"
## Description

`OidcClient` and `Tokens` injections currently only support the default OIDC client. This pull request enables injection of specific named OIDC client by introducing a new Qualifier `NamedOidcClient`.

Usage:

[code]

## Implementation ideas

For every named OIDC client that is referenced by `NamedOidcClient` a new qualified tokens producer and OidcClient bean is dynamically synthe

[2021-04-09 12:39] fwippe commented on #16393
Corresponding pull request: https://github.com/quarkusio/quarkus/pull/16388

[2021-04-09 12:56] zakkak commented on #16378
Yes, that's [a known issue](https://github.com/graalvm/mandrel/issues/218) fixed in the latest Mandrel images.

@survivant can you please try with `-Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-mandrel:20.3.1.2-Final-java11` or even better `-Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-mandrel:20.3-java11`.

What I don't understand is why https://quarkus.io/guides/buildin

[2021-04-09 13:05] antoniomacri commented on #16390
Hi @geoand, I don't know, unfortunately I'm still on that version, but I never detected this problem before.

Do you think something changed in newer versions that could avoid such a problem?

[2021-04-09 13:06] bcluap opened #16394 "Multi-Module Project with SOAP clients fail with circular reference error"
Describe the bug
As of 1.13.X , multi-module projects with soap clients fail when initiating the client:

javax.xml.catalog.CatalogException: JAXP09010001: Circular reference is not allowed: 'jax-ws-catalog.xml'.
	at java.xml/javax.xml.catalog.CatalogMessages.reportRunTimeError(CatalogMessages.java:84)
	at java.xml/javax.xml.catalog.GroupEntry.verifyCatalogFile(GroupEntry.java:528)
	at java.xml/ja

[2021-04-09 13:06] geoand commented on #16390
A lot of things have changed in the meantime that could affect this

[2021-04-09 13:08] ebullient commented on #16234
Would be nice if I could get a review for the datadog micrometer registry support as a bonus. ;)

[2021-04-09 13:17] jsmrcka opened #16395 "Regression issue: SmallRye OpenAPI generates incorrect content type when using Spring Web annotations"
## Describe the bug
Regression of https://github.com/quarkusio/quarkus/issues/15443.

## To Reproduce
See https://github.com/quarkusio/quarkus/issues/15443

OR

1. `git clone git@github.com:jsmrcka/beefy-scenarios.git && cd beefy-scenarios`
2. `git checkout gh#15443-reproducer`
3. `mvn clean verify -pl 603-spring-web-smallrye-openapi -am`

### Quarkus version or git rev
999-SNAPSHOT

[2021-04-09 13:35] survivant commented on #16378
it passed, but I don't see Docker building this application container image.  Do I have to include docker dependances in my pom.xml ?   and Another question.  I'm on Windows.  There is no point of building the native image if I don't use it in docker/podman ?

[code]

[2021-04-09 13:36] phillip-kruger commented on #16395
Thanks @jsmrcka - Yes I need to release the 2.1 branch in SmallRye and pull the latest version in Quarkus.

[2021-04-09 13:39] ebullient opened #16396 "Micrometer support for undertow-based websockets"
The Quarkus websockets extension uses undertow rather than Vert.x. Some glue is required to record metrics for registered websockets.

Either: a hidden conditional feature, or a websocket spi module to allow the micrometer extension (or smallrye-metrics) and eventual opentelemetry extension to probe upgrade/connect/disconnect of websocket connections (with properly templated URIs)

[2021-04-09 13:48] sberyozkin opened #16397 "Enhance OidcClientFilter to select named OIDC clients"
@fwippe has noticed that `OidcClientFilter` only works with the default `OidcClient`.

It would be useful to have something like this:
[code]

If this property is set then the filter implementation would just have to be updated to do `OidcClients.getClient("my-client")` - what is not clear though is how `OidcClientFilter` can find out about the client id it needs to use.

[2021-04-09 13:48] Sgitario commented on #16392
We have other test cases that cover the usage of the SmallRye JWT and also the OIDC Token extensions.

[2021-04-09 13:53] gsmet commented on #16395
@phillip-kruger I will probably release a 1.13.2 next Wednesday FYI.

[2021-04-09 13:56] sberyozkin commented on #16397
May be OidcClientFilter configuration can have a `client-id` property - and we'd register an already initialized object as a resteasy provider as opposed to a class; I'll have a look

[2021-04-09 13:56] zakkak commented on #16378
If I understand correctly you are interested in https://quarkus.io/guides/building-native-image#creating-a-container

Correct, unless you build the native image without `-Dquarkus.native.container-build=true` and by setting `GRAALVM_HOME` to point to the local installation of GraalVM. This will allow you to generate a native image that can run on Windows. Note however that this is a bit more compl

[2021-04-09 14:03] ebullient commented on #15231
I broke #15047 apart in the end. Will use this to track rest client support after all.

[2021-04-09 14:21] survivant commented on #16378
my goal is to try to use the native build for my docker image that I'll deploy in Kubernetes

What I'm using right now is this command line :

[code]

or this
[code]

PS.  I added this in my pom.xml demo

[code]

when I'm build my demo with this command line
[code]

it doesn't build the docker image.  What is the param that is missing ?

[2021-04-09 14:22] YunaBraska opened #16399 "Panache @BsonIgnore for methods"
## Describe the bug
Since Panache is more Domain Driven, I added also some methods with small logic which like convert a different input parameter e.g. Date to LocalDateTime or get max Date from an Array...
But for some reason `@BsonIgnore` only works on additional methods which are not setting fields.

### Expected behaviour
I expect that the method which I mark with `@BsonIgnore` gets actually i

[2021-04-09 14:24] bcluap commented on #16394
FYI I've worked around the issue by making the jax-ws-catalog.xml file names unique in each sub module. E.g. jax-ws-catalog-1.xml and jax-ws-catalog-2.xml

So must be related to finding resources on the classpath and getting conflicts if the same file name sits in the same relative path in 2 different jars. Its fine for me now that I have a workaround but this could cause issues for other use case

[2021-04-09 14:25] FroMage opened #16401 "OpenAPI generator for Quarkus REST Client"
ATM there doesn't seem to be any way to generate REST client stubs from openapi for Quarkus, leading some of our users to use the following combination of pom.xml:

[code]

and template:

[code]

Now, perhaps I'm wrong and there's a better way to generate the client stubs. @phillip-kruger @michalszynkiewicz @geoand do you know?

If there isn't, perhaps we should provide our own upstream, or write

[2021-04-09 14:29] phillip-kruger commented on #16395
Thanks @gsmet.

[2021-04-09 14:46] FroMage commented on #13662
Same.

[2021-04-09 14:46] sberyozkin commented on #16397
That said, a custom filter would do quite well too; so `OidcClientFilter("myclient")` would be nice - but the trick is to make it visible to `OidcClientFilter` implementation as its post-construct time

[2021-04-09 14:56] aldettinger opened #16402 "Quarkus Dev Mode: xml resources seems ignored"
## Describe the bug
I face a situation where changing an xml resources should trigger a quarkus dev restart while it's not the case.

### Expected behavior
I would expected the dev mode to restart the service.

### Actual behavior
The service is not restarted.

## To Reproduce
git clone git@github.com:aldettinger/quarkus-devmode-restdsl-not-reloaded-reproducer.git
mvn quarkus:dev
http :8080/steps

[2021-04-09 14:58] zakkak commented on #16378
I don't see anything missing :/

I can build a container image with:
[code]

[code]

Keep in mind that this is on Linux using podman though.

[2021-04-09 15:02] joggeli34 commented on #16329
By trying to reproduce it, it only happend when I added the `quarkus-undertow-websockets` extention. Otherwise I couldn't reproduce it and always got `uri="root"` as metric which is also ok.
It's even fixed with `quarkus-websockets`

[2021-04-09 15:05] FroMage commented on #16399
Mmm, perhaps we drop the annotations somehow during transformation of the setter…

[2021-04-09 15:07] geoand commented on #16401
Great idea!

[2021-04-09 15:15] FroMage commented on #16401
Perhaps something for Qson as well, I'm not sure if the model generator works with it. Do we already support Qson in RR?

[2021-04-09 15:21] survivant commented on #16378
I found the issue... man.. it wasn't clear.   check that

Your
[code]

Mine
[code]

the param  **-Dquarkus.container-image.build=true**    was missing in my command line.  Should it be enabled when we specify -Dquarkus.native.container-build=true ?

[2021-04-09 15:31] geoand commented on #16401
We do yes.

[2021-04-09 16:06] lucafuji commented on #16338
@tsegismont It seems the returned row set is empty, I made the following changes:
[code]
and immediately got a NoSuchElementException
[code]

[2021-04-09 16:40] mrizzi commented on #16294
@sberyozkin Thanks for the further solution: I've just found the time to test it.
So I can confirm that adding the properties:
[code]
works without requiring further application or keycloak configuration.
I'm fully aware that disabling checks decrease the security and I want to emphasize that is not meant for production for whoever will read this issue in the future.

[2021-04-09 16:45] mrizzi commented on #16294
@sberyozkin during the test I had to debug the Quarkus code to understand that in the hurry of testing I put the absolute URL for `quarkus.oidc.jwks-path` property instead of the relative one, because the `OIDCException` exception was "mute".

So, if it's fine for you, I would open a PR to instantiate the `OIDCException` with a message like
`String.format("Received %s %s due to %s", resp.statusCod

[2021-04-09 16:45] pazkooda commented on #13662
You might then be interested in (still-in-progress) [PullReq#62](https://github.com/TietoEVRY/quarkus-resteasy-problem/pull/62).

Consider providing suggestions there if you'd like it to be flavored the way it will suit you in Quakrus

[2021-04-09 17:35] yoobi opened #16403 "CollectibleCodec with ObjectId"
## Describe the bug
When I try to decode my Object instead of having the ObjectId I get a timestamp and a date.
I don't see what I'm missing, I've followed the tutorial of https://quarkus.io/guides/mongodb#simplifying-mongodb-client-usage-using-bson-codec

[code]

### Expected behavior
[code]

### Actual behavior
[code]

### Configuration
[code]

[2021-04-09 17:38] zakkak commented on #16378
Uh right! I thought you had tried that, my bad.

* `-Dquarkus.container-image.build=true` indicates that you want to package your application in a container
* `-Dquarkus.native.container-build=true` indicates that you want to build a native image of your application using a container builder image (instead of using a local installation of GraalVM`).

So yes if you want a native application package

[2021-04-09 17:44] #16378 closed

[2021-04-09 18:23] gastaldi commented on #16226
@srisatya1197 hey, I just saw the conversation now. I needed this feature so I provided a PR, hope you don´t mind? 😃

[2021-04-09 18:32] pazkooda commented on #13662
`master` branch of our extension is now Zalando-independent, yet with optional support when lib is present on classpath.

[2021-04-09 18:52] famod commented on #16402
Have you tried https://quarkus.io/guides/maven-tooling#quarkus-live-reload-live-reload-config_quarkus.live-reload.watched-resources ?

[2021-04-09 19:22] heubeck opened #16406 "Paths trailing slash treatment RESTeasy Reactive vs. RESTeasy classic"
## Description

Please find the original discussion [in Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Resteasy.20Reactive.3A.20trailing.20slash.20paths).

Essence: RESTeasy classic ignored trailing slashes, e.g. `@Path("/call/")` catches `/call` as well as `/call/`.
RR is more... precise, and matches only exact path (with or without trailing slash).

## To be discussed:

[2021-04-09 19:23] ebullient commented on #16329
if you have cors enabled (and are looking for preflight checks) you'll see this. If you want to try the PR, that should make the preflight checks all come under /cors-preflight (which is a more accurate representation of what they are.. )

[2021-04-09 19:29] ebullient commented on #16033
Above draft PR will let you play with options as I've messed with them so far.. and we can keep going more interactively.
[code]

create:
[code]

create-cli:
[code]

[2021-04-09 19:42] hrstoyanov commented on #14330
See sample configs here:
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Need.20some.20help.20with.20Smallrye.20ConfigMapping/near/233873807

[2021-04-09 19:45] gsmet commented on #16396
Hmmm. The new websocket extension should use Vert.x, Stuart worked on that specifically.

[2021-04-09 19:47] #16226 closed

[2021-04-09 19:47] buuhsmead commented on #13856
I am on macOS Big Sur 11.2.3 and the native compiled app got also killed during startup, both under iTerm and Terminal. Removing the objcopy steps as mentioned. Gives for me a working application startup. So I am not using binutils / objcopy any more.

native-image --version
GraalVM Version 21.0.0.2 (Java Version 11.0.10+8-jvmci-21.0-b06)

[2021-04-09 20:06] ebullient commented on #16396
it does use vertx.. but also still undertow for Java EE prog model semantics.

[2021-04-09 20:26] gsmet commented on #16396
Maybe I'm missing something but this one shouldn't use Undertow at all: https://github.com/quarkusio/quarkus/tree/main/extensions/websockets/runtime .

But again, maybe I don't understand what you're saying.

[2021-04-09 20:41] insectengine commented on #16275
Alternative: Light background.

I've created a version that has a light background to minimize the contrast between the left configure side verses the right extension side.

https://xd.adobe.com/view/912a7d79-0836-4e21-8987-fc4d8b5e07ae-c479/
(all of the screens are the same)

[2021-04-09 20:43] insectengine commented on #16275
Alternative: Light background with sticky generate bar.

I created a version with the light background but addresses the posted concern that the generate button isn't visible enough. This uses a sticky bar on that will align with the bottom of the user's screen.

https://xd.adobe.com/view/d97672f6-9a4f-4e1e-979d-71b90f2dd3bb-8c25/
(all of the screens are available as in the original posted wirefra

[2021-04-09 20:47] PotemkinAlexey opened #16408 "Problem with rest-client"
## Describe the bug
I have 2 different applications
in the first application I registered a rest-client

[code]
in the second

[code]

### Expected behavior
Get messages in the 2 app from the 1

### Actual behavior
The 1 send message but the 2 doesn't get

On version 1.9 worked without problem

### Screenshots
in the first
![image](https://user-images.githubusercontent.com/9607254/114238682-b45771

[2021-04-09 21:17] sberyozkin commented on #16397
I think what we can do, is at the point of registering the provider with RestEasy, we can check if the constructor accepting the activating annotation is available, for example, `OidcClientRequestFilter(OidcClient)` where we can check the annotation properties.

[2021-04-09 21:53] bfontana commented on #14835
@glefloch, sorry for the delay. I missed this notification. I'll test it tomorrow and we'll see.

[2021-04-09 22:27] casell commented on #14695
I still see this exception on 1.13.1 (resteasy-reactive) in JVM mode.

To me it seems related to the response body size (small responses do not seem to throw the exception)

@stuartwdouglas , is your PR on netty related to bigger responses?

[2021-04-09 23:26] gorshkov-leonid commented on #16059
I am going to spend some time preparing an example that reproduces strange behavior that I found out after migration from 1.9.2 to 1.13.
So,
1. I had an application where there was one place that is rest-service where I used the thread context to wrap CompletableFuture-s and it used to work.
1. Also I used `CompletableFuture.completedFuture` and `CompletableFuture.allOf` all over the code (I've ju

[2021-04-10 02:23] srisatya1197 commented on #16226
@gastaldi No worries Sir.

[2021-04-10 05:42] geoand commented on #16059
An example would be great, thanks

[2021-04-10 06:23] wiradikusuma commented on #10025
@gastaldi Any news regarding Scala 2.13 support?

[2021-04-10 09:18] janknobloch commented on #14695
Thanks for your input @casell - I’ll try again soon with some bigger responses!

[2021-04-10 12:55] fwippe commented on #16397
I like the idea of introducing a new optional annotation value `clientName` for annotation `@OidcClientFilter`. In a build step one could:

1. discover the actually used annotations  `@OidcClientFilter` with `clientName != default`
2. synthesize corresponding annotations ` @OidcClientFilter_clientName`
3. synthesize corresponding filters `OidcClientRequestFilter_clientName`
3. register annotations

[2021-04-10 13:06] gastaldi commented on #10025
@wiradikusuma I think Debezium needs to support Scala 2.13 before we migrate that.

@gunnarmorling is that possible already?

[2021-04-10 16:04] famod commented on #16371
So it seems these tests can even cause a build to hang until it is aborted due to timeout: https://github.com/quarkusio/quarkus/pull/16249/checks?check_run_id=2310380201

[2021-04-10 16:46] famod opened #16415 "KafkaStreamsITCase is flaky causing endless TimeoutException warnings leading to job being aborted"
E.g. [here](https://github.com/quarkusio/quarkus/runs/2309475289?check_suite_focus=true) and multiple times in #16249:
[code]
The same can also happen in `KafkaSnappyProducerITCase`, e.g. [here](https://github.com/quarkusio/quarkus/runs/2309287178?check_suite_focus=true).

There seems to be a configuration issue, because before those timeouts the log is flooded with warnings like these (just en ex

[2021-04-10 16:49] famod opened #16416 "Job "Native Tests - Windows - hibernate-validator" fails very often with: unable to load mspdbcore.dll"
E.g. here: https://github.com/quarkusio/quarkus/runs/2309028360
[code]

[2021-04-10 19:28] #15389 closed

[2021-04-10 19:29] #9985 closed

[2021-04-11 00:18] kucharzyk commented on #12740
@gavinking @Sanne
I've checked if Hibernate Interceptors works in native mode and my results are really suprising .
With Quarkus 1.13.1.Final both ```Interceptor``` and ```@PrePersist` WORKS IN NATIVE MODE.

Maybe this issue was already fixed ( intentionally or not)

[2021-04-11 07:21] Postremus opened #16422 "Resteasy Reactive - Multipart does not accept text/plain bigger than 2048 bytes"
## Describe the bug

I am currently migrating a small app from Resteasy Classic to Resteasy Reactive.

One of my resources uses multipart to accept form input from users.

2048 or less bytes work, the text field contains the input text.
If the users enters more than 2048 bytes, the text field is null.
No exception is thrown.

My resource:
[code]

[code]

### Expected behavior
A text/plain field sh

[2021-04-11 09:00] geoand commented on #16422
Thanks for reporting. I'll have a look tomorrow

[2021-04-11 09:37] gorshkov-leonid commented on #16059
@geoand I prepared an example
https://github.com/gorshkov-leonid/quarkus113_header_propagation
See "v1-fail", "v2-fail, "v3-fail"  and respective examples with "wa" suffix.
All tests are passed with quarkus 1.9.2 (see pom.xml), but these tests are failed with 1.13

[2021-04-11 10:03] geoand commented on #16059
Thanks

[2021-04-11 10:13] geoand commented on #15909
It does look innocent enough to backport but I would like @patriot1burke to weigh in

[2021-04-11 11:16] #16222 closed

[2021-04-11 11:16] #16289 closed

[2021-04-11 15:46] gsmet commented on #16352
@aloubyansky did https://github.com/quarkusio/quarkus/pull/16290 fix it?

[2021-04-11 15:47] gsmet commented on #16403
/cc @loicmathieu

[2021-04-11 15:48] gsmet commented on #16408
@PotemkinAlexey I think it would help if you could prepare a self contained reproducer. Thanks!

[2021-04-11 15:48] aloubyansky commented on #16352
No, the cli is not resolving the model properly, like the plugin does.

[2021-04-11 17:04] yoobi commented on #16403
I needed to add this:

[code]

[2021-04-11 17:04] #16403 closed

[2021-04-11 18:00] Postremus commented on #12214
Hi @andrejpetras

I had reported the same problem in #12443. `@Valid Object` does not iterate over all subclasses anymore.

[2021-04-11 18:13] #12214 closed

[2021-04-11 18:14] gsmet commented on #12214
Thanks @Postremus

[2021-04-11 21:16] heubeck opened #16425 "RESTEasy Reactive - GZIP support"
## Description

RESTEasy classic has gzip support via `@org.jboss.resteasy.annotations.GZIP` or `quarkus.resteasy.gzip.enabled=true`.
It would be great if RR could get gzip support, too.

## Implementation thoughts

Reference to RESTEasy classics gzip implementation: [DecodingInterceptor](https://github.com/resteasy/Resteasy/blob/main/resteasy-core/src/main/java/org/jboss/resteasy/plugins/intercep

[2021-04-11 21:37] rachidbm commented on #8386
@mutasemhidmi make sure to follow [the instructions from BigFatDog](https://github.com/quarkusio/quarkus/issues/8386#issuecomment-753322720) a few comments above...

I had the same issue, but my Docker Desaktop only had 2gb configured. When I changed its preferences to 8gb I could successfully build the native image with:

[code]

[2021-04-12 01:44] jimbogithub opened #16427 "Quarkus 1.13.x WebSocket Client - wrong ClassLoader?"
Since upgrading from 1.12.x to 1.13.x the WebSocket Client callbacks no longer interact with the container correctly.  I am seeing issues such as:

[code]

I'm guessing a ClassLoader issue?

I observed this initially on a server-side WS Client but it is also reproducible in the ChatTest example (attached).
[Reproducer: websockets-quickstart.zip](https://github.com/quarkusio/quarkus/files/6293295/w

[2021-04-12 02:13] stuartwdouglas commented on #14695
The fix is in Netty 4.1.61 which has not been included yet.

[2021-04-12 02:20] maidanhcongtu commented on #16122
I have the same issue do we have any workaround solution?

[2021-04-12 03:12] mutasemhidmi commented on #8386
@rachidbm I did that already. Please note thwt I have a MacBook m1 pro so I think this is the problem because the type of the quarkus image that is being used is amd64 and not arm64

[2021-04-12 04:38] ixre opened #16429 "gradle quarkusBuild has error : SRCFG00035: Failed to load resource"
Since upgrading from to 1.13.x, run below command
[code]
Gradle made a error: SRCFG00035: Failed to load resource, full stacktrace is:
[code]
My system jdk version :
[code]
when I use `adoptjdk15-openj9` or downgrade quarkus version to `1.12.2.Final`, it' all fine.

[2021-04-12 05:22] nicolas-vivot commented on #16234
Do you have an idea when this extension would be approved ?

Just to know if it's still doable before end of April as i'm going to be quite busy from May.

@ebullient
When using the statsD registry, i found the name of the JVM metrics does match what datadog is expecting and therefore count these metrics as custom metrics. (potential increase of the billing depending on your subscription plan and

[2021-04-12 05:28] fmcejudo commented on #8834
Build fixed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/739934035

[2021-04-12 05:28] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/739933242

[2021-04-12 05:35] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/739933040

[2021-04-12 05:49] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/739940685

[2021-04-12 05:55] #16427 closed

[2021-04-12 06:13] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/739934417

[2021-04-12 06:21] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/739934417

[2021-04-12 07:19] Sgitario opened #16430 "Regression Test: Validation errors on Reactive routes are no longer propagated"
## Describe the bug
Having these two routes:

[code]

The `insert` route will insert a fruit item into the database. The `databaseConstraintFailure` handler will map the database constraints into a 400 Status code.

The above scenario works fine using 1.13.1.Final or later, but not using 999-SNAPSHOT which fails with the next exception:

[code]

## To Reproduce
Steps to reproduce the behavior:
1.

[2021-04-12 07:20] cescoffier commented on #16386
I don't believe anything changed around this.
For the error message, it seems like Infinispan is not completely initialized.

We would need someone from the infinispan team to look into it.

[2021-04-12 07:21] cescoffier commented on #16170
That's probably is a "if (! response.isEnded())" missing.

[2021-04-12 07:21] #14779 closed

[2021-04-12 07:22] cescoffier commented on #14779
Integration done.

[2021-04-12 07:22] cescoffier commented on #16050
@geoand should it be closed?

[2021-04-12 07:22] cescoffier commented on #15593
@ebullient should this one be closed?

[2021-04-12 07:23] cescoffier commented on #15166
Closing as we explicitly don't support this case. See comment.

[2021-04-12 07:23] #15166 closed

[2021-04-12 07:23] cescoffier commented on #14905
@ebullient is this one done?

[2021-04-12 07:24] geoand commented on #16050
Yeah, I think we can close it. @bcluap please reopen if you feel it has not been addressed properly

[2021-04-12 07:24] #16050 closed

[2021-04-12 07:27] geoand commented on #16422
@Postremus https://github.com/quarkusio/quarkus/pull/16432 will address the issue.

However I have a question: Did you really mean to send the input as a form attribute or as a file? Because if you meant to do the latter, you are not doing it correctly :)

[2021-04-12 07:35] geoand commented on #16425
@FroMage Vert.x has built-in gzip support doesn't it?
If so, it would be great if we could tie into it somehow

[2021-04-12 07:44] Sgitario opened #16433 "Reactive Transactions: Example in guide is not working"
## Describe the bug
I tried to replicate the same example than in https://quarkus.io/guides/reactive-sql-clients#transactions:

[code]

When calling this method, my app fails with:

[code]

## To Reproduce

Steps to reproduce the behavior:
1.  git clone `https://github.com/Sgitario/quarkus-examples`
2.  cd quarkus-examples/reproducers/reactive-sql
3. mvn clean verify -Dtest=FruitResourceTest#shoul

[2021-04-12 07:44] geoand commented on #16406
Actually I wasn't able reproduce this in a couple in a couple simple endpoints.

Can you attach an example to the issue description please?

[2021-04-12 07:47] Namphibian commented on #16257
So I used the spring-boot  camel examples to test this. While I can import a file and compile it there are some problems in running it. Let me do some testing on Springboot a little further when I get a chance. What strikes me as odd is that it will compile in Springboot but not in Quarkus.

[2021-04-12 07:54] jtama commented on #9985
@gsmet We still need to document how to connect using unix domain socket for use with reactive pg driver.

[2021-04-12 07:56] geoand commented on #16430
cc @mkouba

[2021-04-12 07:57] geoand commented on #16433
cc @tsegismont

[2021-04-12 08:01] michalszynkiewicz commented on #16257
How do you compile the proto files with spring? Do you use the `protobuf-maven-plugin`?

I think imports are definitely worth implementing in Quarkus code generation. But if you use the maven plugin, it is also possible to use the plugin with Quarkus.

[2021-04-12 08:03] #16347 closed

[2021-04-12 08:03] rachidbm commented on #8386
I see @mutasemhidmi. I thought I read in some other Github issue that ARM is not supported. That you have to build your native Quarkus image yourself as well in that case. I can't find back where I read this, but this helps your search...

[2021-04-12 08:15] tsegismont commented on #16338
@lucafuji it is expected that the `rowset` is null if the query does not return results (e.g. `INSERT` or `UPDATE` without `RETURNING` clause). I guess this is why you get a `NoSuchElementException` by calling `next()` on the `rowset` **iterator**.

My suggestion was to invoke `next()` on the result directly:

[code]

[2021-04-12 08:19] maxandersen commented on #15415
@gsmet what version of OpenShift are you doing this on ?

[2021-04-12 08:22] Namphibian commented on #16257
Yeah with the following plugin:
[code]

I have a really nasty cold so will get back to you when I get better.

[2021-04-12 08:23] geoand commented on #16338
@tsegismont is your suggestion something we should document somewhere?

[2021-04-12 08:23] gsmet commented on #15415
So this was the old error with OpenShift 3. The problem with 4 is slightly different: it complains about manifest.

Unfortunately, for my last deployment, I didn't get the error in the console (dunno why) and the build pod in OpenShift is gone. I'll take note of the error next Sunday.

[2021-04-12 08:33] geoand commented on #16227
I was periodically able to reproduce this locally but I still don't know what the cause is.

A packet capture seems to show that the server returns the proper data in all cases so judging from that it looks like a client issue.

[2021-04-12 08:34] mkouba commented on #16430
It does not seem to be a problem in the routing layer. The vertx sql client fails to rollback the transaction but previously the `PgException` was thrown. We will need some eyes from the vertx/pgclient/mutiny team...

@cescoffier Do we have a label for isssues that are probably a consequence of the Vertx 4 the migration?

1.13.1.Final stack trace:
[code]

999-SNAPSHOT:
[code]

[2021-04-12 08:38] tsegismont commented on #16338
@geoand we could do that. First let's see if this is a misuse of the API or actually a bug.

[2021-04-12 08:48] maxandersen commented on #15415
gotcha - just to check you are using quarkus mvn command to do the deploy,right ?

i have a hunch what could be causing it. let me check.

[2021-04-12 08:51] FroMage commented on #16227
Huh, that could be very helpful, narrows it down quite a lot !

[2021-04-12 08:54] FroMage commented on #16425
Yes. Let's absolutely not do this ourselves if we can avoid it. Especially not with jaxrs interceptors.

[2021-04-12 08:57] geoand commented on #16227
I'm looking at `MultiInvoker` and I am wondering whether the `MultiRequest` you added is still needed. Asking because it looks like the bug you mention seems to be fixed in Mutiny.
So perhaps the code can be simplified?

[2021-04-12 09:10] FroMage opened #16437 "Cannot mock `EntityManager` anymore"
#15092, and more specifically https://github.com/quarkusio/quarkus/pull/15092/files#diff-dc1ed2e710fe857008635f1b3280c2adb1fc6b90b0925bd508e24d89f696050fR39 prevents me from mocking `EntityManager`:

[code]

This leads to:

[code]

[2021-04-12 09:11] FroMage commented on #16182
I filed https://github.com/quarkusio/quarkus/issues/16437 for the `EntityManager` mocking bug.

[2021-04-12 09:12] zakkak commented on #16225
No, both commands will do exactly the same. `quarkus.native.container-runtime` is used to specify the container engine/runtime and in most cases is not required since Quarkus automatically detects the right engine (`docker` in your case).

[2021-04-12 09:12] maxandersen commented on #15415
okey so just for my own sanity to keep track of what happens:

[code]

will generate a `target/kubernets/openshift.yml` that refer to https://quay.io/repository/quarkus/ubi-quarkus-native-binary-s2i?tab=tags using

[code]

which definitely gets bumped every week.

i'm a bit confused why that gives an error since the image stream policy should be be `IfNotPresent` by default meaning it should just

[2021-04-12 09:17] maxandersen commented on #15415
its as if openshift does actually use the cached sha but then remotely fetches the manifest which of course wont exist anymore ...kinda beating the whole purpose of imagestreams.

I must be missing something here.

[2021-04-12 09:20] heubeck commented on #16406
Interesting.
I had to remove the trainling slash here: https://github.com/heubeck/api.adoptium.net/pull/1/files#diff-c3a4165254c943488e6ce1d4165aec65b6d386d257c836141e076bf39bd2bfd4R22
to make this test happy: https://github.com/heubeck/api.adoptium.net/blob/feature/ResteasyReactive/adoptopenjdk-api-v3-frontend/src/test/kotlin/net/adoptopenjdk/api/PlatformsPathTest.kt#L15
after changing to RR (als

[2021-04-12 09:27] gsmet commented on #15415
Yes I use the OpenShift extension and a simple `mvn clean package -Dquarkus.kubernetes.deploy=true -Dquarkus.native.container-build=true -Dnative`.

You might be on the right path as IIRC the message complains about the manifest not being found.

In this very case, I think we would want to upgrade to the latest version as we are using floating tags to push security fixes.

[2021-04-12 09:27] maxandersen commented on #15415
I wonder if a "fix" is to do as documented in https://docs.openshift.com/container-platform/4.7/openshift_images/image-streams-manage.html#images-imagestreams-update-tag_image-streams-managing

[code]

to force an update or even have it scheduled:

[code]

note: these are workarounds to the problem and I don't grok why there is a pull of images that the cluster already knows...that should not happ

[2021-04-12 09:27] geoand commented on #16227
It seems like in the cases of failure,

https://github.com/quarkusio/quarkus/blob/c37330647fefd5993f568ec5a48de84707bfbc8e/independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/MultiInvoker.java#L161

is getting called **before**

https://github.com/quarkusio/quarkus/blob/c37330647fefd5993f568ec5a48de84707bfbc8e/independent-projects/resteasy-re

[2021-04-12 09:29] maxandersen commented on #15415
yes, but if you used the same cluster to push previously why is it fetching manifest to check...it will quite often fail on a floating tag...so there is either some bug in how openshift does this or we configured it wrong :)

[2021-04-12 09:35] geoand commented on #16227
FWIW, I ran thousands of tests with the above fix in place and they all passed

[2021-04-12 09:38] maxandersen commented on #15415
long shot: could there be a policy on the cluster pruning the images somehow ? causing the cache to be partially fullfilled -i.e. sha1 is there but image gone, so it tries pulling the manifest using the sha rather than the tag?

[2021-04-12 09:43] pjgg commented on #16430
Looks like in the previous version, when you were running a DB statement with Mutiny, you didn't need to propagate the failures (that could be handler by a reactive route failure handler), and now in upstream, you need to propagate these failures.

For example:
**Version `1.13.1.Final** `:

[code]

 then you will handler the failure in a reactive route failure handler
[code]

**Upstream**:

[code]

[2021-04-12 09:47] cescoffier commented on #16430
@vietj @tsegismont anything changed around transaction management in Vert.x 4?

@pjgg
```.onFailure().recoverWithUni(failure -> Uni.createFrom().failure(failure));```

It should not be required, as it just propagates the failure downstreams.

[2021-04-12 09:48] geoand commented on #16227
The same thing exact also applies to `SseEventSourceImpl`. I will open a PR

[2021-04-12 09:53] geoand commented on #16227
Here it is: https://github.com/quarkusio/quarkus/pull/16438

[2021-04-12 10:18] mkouba commented on #16076
I belive that it's better for production (the less impl details leak to the end user the better), not so for the dev mode. We could use a different default value for the dev mode but I'm not sure whether it fits the quarkus UX, i.e. whether we change the default value based on the profile?

[2021-04-12 10:20] mkouba commented on #16076
Hi @Andro999b, where did you observe this exception? A reproducer would be helpful...

[2021-04-12 10:25] zakkak opened #16439 "CI: Reduce time spent in native tests by grouping more tests in the same native image"
## Description
Native Tests in CI are taking too long, mainly due to the long compilation time of native images.

### Main ~8m
<details>
<pre>
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  07:50 min
</details>
</pre>

### Data1 ~27m
<details>
<pre>
[INFO] Quarkus - Integration Tests - JPA - Derby .......... SUCCESS [04:36 m

[2021-04-12 10:39] geoand commented on #16439
+1 on what @gsmet says

[2021-04-12 11:00] loicmathieu commented on #16369
@cescoffier you wrote the original tests of the mongodb-client extension, I see that on the integration test we have the following piece of code that are not present in the mongodb-client extension (they didin't use a test resource as they are using QuarkusUnitTest).

[code]

Maybe adding it will avoid such issue ?

Note that for the LegacyNamedMongoClientConfigTest we can also delete the old anno

[2021-04-12 11:18] zakkak commented on #16439
Do I understand correctly that the main concern is not about dependencies but about the different native-specific setup that happens in the different extensions (e.g. different substitutions, native features, etc.)?

Would it be possible to have the same tests run "combined" in PRs and "isolated" in some Nightly workflow? Would something like this be possible without a lot of code duplication?

[2021-04-12 11:23] cemnura commented on #16276
@sberyozkin would love to take a look 👍

[2021-04-12 11:27] cemnura commented on #13205
Looking into this 👍

[2021-04-12 11:38] geoand commented on #16406
The following worked just fine for me:

[code]

That resource responded just fine to `http://localhost:8080/test/test2`

[2021-04-12 11:41] janknobloch commented on #14695
yep my bad -> still existent but seems to actually be related to larger responses.

[2021-04-12 11:48] zakkak opened #16442 "[native] hibernate-search-orm-elasticsearch extension not working with GraalVM 20.3-dev"
## Describe the bug
As of 7f8617e6767bc435f19aae198614b617e9703a65 native apps using `hibernate-search-orm-elasticsearch` cannot be compiled using GraalVM/Mandrel dev versions.

The issue is caused by the usage of `graalVMVersion.isSnapshot()` as a mean to see if the JVM is GraalVM or not.
`graalVMVersion.isSnapshot()` however is not meant to be used for that purpose and returns true not only in O

[2021-04-12 11:52] Postremus commented on #16422
@geoand Yes, that is intended :)

Back then when I created this app, this was the only way I know how to achieve this.
The text is input into a simple html form, which is then send as multipart/form-data to the application.

The app also has another multipart endpoint for accepting a complete file - which is working fine already in resteasy reactive :)

[2021-04-12 11:56] sberyozkin commented on #16397
@fwippe yes, I agree :-), I'm hoping the fix will be simpler such that it can also work generically, I'll have a look shortly

[2021-04-12 11:57] geoand commented on #16422
Understood, thanks for the info

[2021-04-12 12:09] mutasemhidmi commented on #8386
@rachidbm yes I will build it myself

[2021-04-12 12:12] pjgg opened #16444 "Reactive DB pool - keep IDLE connection on database"
## Describe the bug

Extension: Reactive SQL
Even If I set an `idle-timeout` the connection remained on DB, for example, on `pg_stat_activity` with state `IDLE`

**Note:** there is also, at least one active connection

[2021-04-12 12:18] loicmathieu commented on #16399
Can you create a small reproducer project or at least provides the full stack trace ?
I wonder if the PojoCodec didn't enforce the method signature prior to checking the annotation.

@FroMage we do treat fields annotated via `@BsonIgnore` specifically (we exclude them from the entity model) but not methods so I don't think something will be missing in the generated class.

[2021-04-12 12:24] tsegismont commented on #16430
@cescoffier this may be related to https://github.com/eclipse-vertx/vertx-sql-client/issues/930

[2021-04-12 12:25] loicmathieu commented on #16403
For the records, MongoDB with Panache have serializer/deserialisez for ObjectId that are automatically added to Jackson.

But as you are using only the mongodb-client extension, you'll need to deal with this by yourself.

[2021-04-12 12:25] tsegismont commented on #16433
This looks like a duplicate of https://github.com/quarkusio/quarkus/issues/16430

There is an issue upstream that seems related https://github.com/eclipse-vertx/vertx-sql-client/issues/930

[2021-04-12 12:26] #16294 closed

[2021-04-12 12:26] #16384 closed

[2021-04-12 12:29] kenfinnigan commented on #16234
@ebullient I think it would be confusing to have a Datadog OpenTracing extension in amongst OpenTelemetry extensions. It's probably best in a separate repo.

[2021-04-12 12:30] luce98 commented on #15131
Hey everyone, I created a small demo to reproduce the issue; there is also the script to create the DB container, you just need to run that and then run the tests. Hope this can help!
You can find it here: https://github.com/avimedical/quarkus-reactive-demo

[2021-04-12 12:30] #16329 closed

[2021-04-12 12:40] heubeck commented on #16406
That's unlikely to my test... any ideas what I should try?

`@Path("platforms/")`:
`GET platforms`: 404
`GET platforms/`: 200

`@Path("platforms")`:
`GET platforms`: 200
`GET platforms/`: 200

---

![image](https://user-images.githubusercontent.com/40993644/114391085-59916580-9b97-11eb-9d98-738b4173ef60.png)
![image](https://user-images.githubusercontent.com/40993644/114391041-4b434980-9b97-11eb-9

[2021-04-12 12:43] #16442 closed

[2021-04-12 12:45] #14905 closed

[2021-04-12 12:46] ebullient commented on #15593
Close as duplicate of #15231

[2021-04-12 12:46] #15593 closed

[2021-04-12 12:47] kenfinnigan commented on #16406
Are you using Kotlin? That appears to be the main difference between your example and @geoand

[2021-04-12 12:47] ebullient commented on #16396
It uses the undertow websockets support. It does not use undertow servlets.

[2021-04-12 13:06] heubeck commented on #16406
You're right, it's Kotlin - do you think that makes a difference?

[2021-04-12 13:17] ia3andy commented on #8306
I will never do it it's been in my todo list for months. I am putting the Good first issue instead.

[2021-04-12 13:18] ia3andy commented on #8392
I removed myself as assigned, it's still in my TODO, but if someone want to take it I would be happy :)

[2021-04-12 13:51] sberyozkin commented on #15863
@hogmuzzle80 Hi,
It has been documented here for a while: https://quarkus.io/guides/security-built-in-authentication#proactive-authentication

It says it is a blocking operation - I'll add a note about `@Blocking`

[2021-04-12 13:52] sberyozkin commented on #15863
Hmm, no, that doc is different

[2021-04-12 13:57] kenfinnigan commented on #16406
I believe it could be. It's worth trying without Kotlin to verify it does work

[2021-04-12 14:06] #16141 closed

[2021-04-12 14:15] lrotim commented on #16170
What do you mean by that? Missing as-if in quarkus source code?

[2021-04-12 14:27] jglink commented on #12740
I played a bit more with my simple test case.
If you annotate the JPA callback class with `@RegisterForReflection` it works quite nicely.

Could someone from the Quarkus team comment on this if this is an expected behavior and if this approach is safe to use.
Thanks

[2021-04-12 14:54] YunaBraska commented on #16399
I would really like to share my project or make a sample project but I have so many issues and learnings due the new quarkus land that I am already overloaded...

My Class:
[code]
The Error:
[code]

[2021-04-12 15:16] Sanne commented on #12740
yes the pending issue relates with the missing reflective rules.

So I believe `@RegisterForReflection` is a reasonable workaround; I plan to make it unnecessary in the future though.

[2021-04-12 15:16] Sanne commented on #12740
BTW the solution I'm aiming for does not automatically add the reflection rules; I'm aiming for a more optimal solution.

[2021-04-12 15:17] kucharzyk commented on #12740
@jglink I've cleaned project and tried again in native mode. It works.

Maybe you have something ususual in your setup.

My classes:

[code]

[code]

[code]

Really simple example but It works without any issues

[2021-04-12 15:18] Shohou opened #16448 "Misleading exception message on @Transactional(Transactional.TxType.NEVER)"
## Describe the bug
When method marked with `@Transactional(Transactional.TxType.NEVER)` is called inside the transaction, exception is thrown with "ARJUNA016110: Transaction is required for invocation", but the situation is opposite, it requires no transaction for invocation

This line requires new message - [TransactionalInterceptorNever.java:36](https://github.com/quarkusio/quarkus/blob/923ee07

[2021-04-12 15:45] jglink commented on #12740
@kucharzyk
In your case this works out-of-the-box because you have the @PrePersist added to a method in the entity itself.
In my case, I had an own class with the @PrePersist to use it for all of my entities. And for this I had to annotate it with the @RegisterForReflection annotation.

[2021-04-12 16:02] ebullient commented on #15410
This set: https://github.com/vert-x3/vertx-micrometer-metrics/blob/master/src/main/java/io/vertx/micrometer/impl/VertxPoolMetrics.java ?

[2021-04-12 16:19] samodadela opened #16450 "Accessing EntityManager prevents loading of lazy entities"
## Describe the bug
Entity A has OneToOne to entity B, which has OneToMany to entity C. Iterating through all A's, B's and all C's.
(see attached project below)

[code]

### Expected behavior
reproducer_Case1() should pass.

Entities should be retrieved/listed like this:
A1, B1, C1

### Actual behavior

... but this happens:
reproducer_Case1() fails... like C1 does not exist:
A1, B1, (access EM he

[2021-04-12 17:13] aldettinger commented on #16402
Many thanks @famod , it works like a charm to set it via configuration :+1:
Now, I wonder what would be the correct way to handle this from an extension, maybe having an extension adding configuration is ok.

[2021-04-12 17:36] greenatatlassian commented on #13156
A bit more about our configuration:
- we do call `setLevel()`: We explicitly set the level of the root logger (i.e. the one named "") to `Level.INFO`. All other config is done on our particular loggers, which are under `com.`
- On startup, our application explicitly removes all existing JUL handlers from the root logger.
- We seem to only see this message once, right after JVM startup. No other TR

[2021-04-12 17:40] dmlloyd commented on #13156
Programmatically removing handlers from the root logger at run time is generally not expected to work or be supported.  If you do not want log handlers on the root logger, then this should be established in your configuration; if you want to customize your logging beyond what the configuration supports, then you should look into writing an extension for that purpose, which would allow logging to b

[2021-04-12 17:44] famod commented on #16402
Glad it worked for you.

For extensions you should have a look at `LiveReloadBuildItem`. There should be plenty examples in the Quarkus code base.

[2021-04-12 17:44] #16402 closed

[2021-04-12 19:10] bbemis017 opened #16451 "Support for Proto3 Optional Fields"
## Description

We should be able to use the quarkus grpc extension with optional fields defined in our proto files like this:
[code]

I believe the newest version of [jprotoq](https://github.com/salesforce/grpc-java-contrib/releases) now supports optional proto fields. There is some documentation on their [github page](https://github.com/salesforce/grpc-java-contrib/tree/master/jprotoc/jprotoc#im

[2021-04-12 19:17] famod commented on #16448
/cc @mmusgrov @gsmet

[2021-04-12 19:20] famod commented on #16450
/cc @FroMage and maybe also @Sanne

[2021-04-12 19:26] famod commented on #16439
While I'm all for making CI more efficient in general: Is this mainly about PR build time (which are incremental these days) or about `main` (always a full build)?

[2021-04-12 19:32] wansors commented on #16124
Hi @radcortez ,

I created a PR, there will be some things to analyze.

The problem of using ConfigSourceContext to obtain the config items, makes quarkus complain when configuring the module:
`Unrecognized configuration key "quarkus.jdbc-config.key-column" was provided`

Where should I put a guide or readme explaining how to configure it?

Thanks

[2021-04-12 19:37] zakkak commented on #16439
@famod I am personally more interested in `main` since we often have to test all the native tests to ensure that `native-image` updates don't break anything.

I have to admit that I have not tested how well the incremantal builds work with native tests and changes affecting the native build process, but it looks like it's doing a pretty good job (judging by https://github.com/quarkusio/quarkus/act

[2021-04-12 20:00] fmarissel opened #16453 "Upgrading from 1.11.x to 1.13.x breaks kubernetes authentication for quarkus-vault extension"
## Describe the bug

I use quarkus-vault extension to access secrets dynamically.

I use client-token authentication for local development and kubernetes authentication for production (see below for configuration).

I upgraded from version 1.11.x to 1.13.x and everything works fine for local development. But when I tried to deploy into kubernetes, I get the following exception during kubernetes au

[2021-04-12 20:26] famod commented on #16439
To be fair, incremental builds are no silver bullet, e.g. a change early on the critical path (i.e. core) will give you an (almost) full build, and so they don't rule out other efficiency improvements.

[2021-04-12 20:26] Postremus opened #16454 "HV does not validate NotNull constraint on rest resources"
## Describe the bug

I have a resource defined like this:
[code]

In my tests, I do not fill this QueryParam, and would therefore expect to get a response code 400 for this rest call.
However, I do get an 204er, indicating that:
* the method was executed
* and the param was null (null is mapped to status code 204)

This happens with resteasy classic, as well as with resteasy reactive.

I also test

[2021-04-12 20:31] kucharzyk commented on #12740
You have right @jglink in '''@PrePersit''' now works in entity but '''@EntityListeners''' needs '''@RegisterForReflection''' annotation.

[2021-04-12 20:32] ochaloup opened #16455 "JTA CDI should roll-back when intercepted method throws Error"
Currently when a `@Transactional` method throws an `java.lang.Error` the transaction is not rolled-back.
But, the `java.lang.Error` is an un-checked exception and such behaviour is wrong and the transaction should be rolled-back.

This is an issue that was fixed in Narayana - WildFly integration by issue:
https://issues.redhat.com/browse/JBTM-3454
This issue should bring the same fix to Quarkus JT

[2021-04-12 21:53] ajhajj commented on #16326
I agree that they are different.  My concern was the overall consistency of user experience.  Maybe that is something we can consider down the road some time.

[2021-04-13 02:33] Postremus commented on #16454
I am closing this issue, Just noticed that I Imported  `import io.smallrye.common.constraint.NotNull;` instead of the javax.validation one...

[2021-04-13 02:33] #16454 closed

[2021-04-13 03:28] #16170 closed

[2021-04-13 03:29] #16227 closed

[2021-04-13 04:01] ntkoopman commented on #14012
Seems it's very specific to the environment. E.g. in the below project, building with Gradle 7 works for me, but Gradle 6.8.3 only works with Kotlin 1.3.72. But on Gradle 7 it doesn't work with Quarkus 1.11.1.Final.

I managed to get our build working by upgrading to Gradle 7.0 + Quarkus 1.13.1.Final + Kotlin 1.4.32

settings.gradle.kts:
[code]
build.gradle.kts:
[code]

[2021-04-13 05:09] vsevel commented on #16453
hello @fmarissel, try setting a bigger read timeout. the default is 1 sec: `quarkus.vault.read-timeout=5S`

[2021-04-13 05:26] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/743569418

[2021-04-13 05:33] mutasemhidmi commented on #16225
I think the problem is coming from the fact that this image is for linux/amd64 and not arm64

[2021-04-13 05:37] fmcejudo commented on #8834
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/743570267

[2021-04-13 05:41] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/743569094

[2021-04-13 05:44] geoand commented on #16326
Yes, that is a good point.

Maybe we could introduce some global setting.

WDYT @zakkak, @gsmet ?

[2021-04-13 05:48] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/743577722

[2021-04-13 06:03] jmartisk opened #16461 "Remove FunctionGaugeSupport from the Micrometer extension"
This interface is no longer needed with MP Metrics 3.0 dependency

[2021-04-13 06:12] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/743571113

[2021-04-13 06:14] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/743571113

[2021-04-13 07:20] #16422 closed

[2021-04-13 07:21] yrodiere opened #16463 ""could not prepare statement" ("Connection is closed") when reusing a session for another transaction after a rollback"
## Describe the bug

This sequence of actions causes ORM to reuse a connection that was closed implicitly by Agroal, ultimately throwing an exception:

* Open session manually
* Open JTA transaction manually
* Do stuff in ORM => ORM opens a transaction
* Roll back the transaction => ORM should have closed the connection, but it didn't, so Agroal closes the transaction without telling it.
* Start a

[2021-04-13 07:21] #16182 closed

[2021-04-13 07:22] yrodiere commented on #16463
I opened https://hibernate.atlassian.net/browse/HHH-14557 to resolve the problem upstream.

In Quarkus itself, we mostly need to add a test. I suspect the mass indexing test we currently have uses a trivial dataset, resulting in only processing a single batch when mass indexing...

[2021-04-13 07:54] gsmet commented on #16430
@tsegismont I don't know how much of a priority it is for Vert.x but I think it's gonna be a very annoying bug for us. Any ETA for a fix?

[2021-04-13 08:11] rsvoboda opened #16464 "Documentation build fails on JBang error"
Documentation build fails on JBang (0.7.0) error with current Quarkus main 1bb72b43c7

Reproducer: `mvn clean package -X -rf :quarkus-documentation` using JDK 11

[code]

[code]

[2021-04-13 08:14] tsegismont commented on #16430
@gsmet I don't know yet but will tell you as soon as I know

[2021-04-13 08:14] maxandersen commented on #16464
Pretty sure this is not jbang related but some issue in the script being run.

[2021-04-13 08:16] FroMage opened #16465 "ORM with Panache Kotlin: mocking persist static methods does not work"
This is the Kotlin follow-up of #16182 which affects the Kotlin variants of ORM with Panache (and possibly Mongo/HR if they exist, I didn't keep track).

[2021-04-13 08:16] FroMage commented on #16182
Filed https://github.com/quarkusio/quarkus/issues/16465 for the Kotlin remainder.

[2021-04-13 08:26] FroMage commented on #16450
Would you mind trying to rewrite your example without the Panache APIs? In plain JPA/Hibernate-ORM? That will help us figure out if this is a pure-ORM issue or in the Panache layer.

[2021-04-13 08:28] axblu commented on #1502
My setup/situation is similar to what @famod mentions above.

Annotation processors:
- MapStruct
- jpa-modelgen
- Lombok

Instead of Eclipse I use IntelliJ IDEA. And in such a project with these annotation processors it seems to me that Quarkus has to do a **full restart** every time.

In another project, I use Kotlin without Lombok, MapStruct and jpa-modelgen. And there a lot of the changes can b

[2021-04-13 08:49] arnoutvw commented on #12324
Yes it is still an issue. Azure devops has this error too.

[2021-04-13 08:58] gsmet commented on #12324
But is your `lib` directory empty? That looks very suspicious. I wonder if you're not in the case where the extensions are forcing an `uberjar` build. Have a look at the `target` directory and tell us if you have a runner.jar or a `quarkus-app` dir.

[2021-04-13 09:16] TomasHofman commented on #14771
I'm going to take a look at this.

[2021-04-13 09:19] famod commented on #16437
Might be fixed already by #16341?

[2021-04-13 09:25] tsegismont commented on #16444
@pjgg can you please share a reproducer?

[2021-04-13 09:27] samodadela commented on #16450
@FroMage I replaced the previous example with the one without Panache:
- modified the base entity to use Hibernate only
- replaced dependency quarkus-hibernate-orm-panache with quarkus-hibernate-orm

See repro-case-no-panache.zip in post above. It seems Panache has nothing to do with the problem.

[2021-04-13 09:27] fmarissel commented on #16453
hello @vsevel, I increased the value (I also tried 30S) but i still got the same error :/

[2021-04-13 09:40] sberyozkin commented on #16453
It might be a configuration issue ? (vault.url is not substituted ?, etc). It can make sense to report the connection URL at a trace log level if the connection fails

[2021-04-13 10:19] mkouba commented on #14534
https://github.com/quarkusio/quarkus/pull/16466 should fix this issue, although it's not checking the undeclared variables. It merely validates that a template only contains expressions that can be validated at build time, i.e. the following template definition would not fail because `todos123` is bound to a parameter declaration:
[code]

[2021-04-13 10:23] Sanne commented on #16463
I'm not convinced that this is a good idea. There is wide-spread cargo-cult about this pattern but as far as I know it's better to still commit.

[2021-04-13 10:26] yrodiere commented on #16463
@Sanne Glad to hear that: https://github.com/hibernate/hibernate-search/pull/2545. That was very old code, I think :)

[2021-04-13 10:49] Sanne commented on #16463
hoo yes I remember some discussions about that :)

+1 to just commit, but it's worth remembering the reason it used to be like that (as far as I remember now) : users might have dodgy code in their entities which makes it flagged dirty just because we've loaded it. Make sure to disable flushing.

[2021-04-13 11:10] famod commented on #15892
Update: With #16302 now merged, Quarkus 2.0 will try plain java serialization first, falling back to XStream on error.

Unless that JUnit hook or XStream 1.5 becomes available before Quarkus 2.0 is released, you will need to have your records implement `Serializable` (and everything they reference).
This is only a workaround, which is why I'd leave this issue open. Your decision @geoand & @stuartw

[2021-04-13 11:17] geoand commented on #15892
Let's keep it open for now

[2021-04-13 11:36] smsajid opened #16469 "Add support for Java 16 record class in Qute templates"
## Description

Java 16 finalized record classes. Add support for reading record classes and their fields in Qute template

[2021-04-13 11:50] cypressious opened #16470 "Kotlin + Panache MongoDB: ObjectId isn't serialized as String"
## Describe the bug
I have the following code

[code]

When running this, I can create a document by calling

[code]

The response contains the created entity

[code]

### Expected behavior
The `id` field is a String.

### Actual behavior
The `id` field is an Object.

## Environment (please complete the following information):

### Output of `uname -a` or `ver`
Microsoft Windows [Version 10.0.1904

[2021-04-13 11:55] zakkak commented on #16326
+1 being able to define the container engine globally (or even better detect it automatically) would be nice.

I have only tried podman with `container-image-docker` though, so I am not sure how it would work with JIB and S2I.

[2021-04-13 11:56] geoand commented on #16451
cc @michalszynkiewicz

[2021-04-13 12:00] cescoffier commented on #16369
Looking at the log it seems that the Mongo process didn't start correctly. I'm actually surprised that only one test failed as there are multiple stack traces.

About the `RejectedExecutionException`, this has been fixed in #16434 .

[2021-04-13 12:14] flygarej opened #16471 "Wrong location for java.security used in Dockerfile.jvm and others"
When creating a project on quarkus.io, the Dockerfile for jvm and legacy-jar use Java 11 while assuming an old location of java.security.
In src/main/docker/Dockerfile.{jvm, legacy-jar}:

RUN microdnf install curl ca-certificates ${JAVA_PACKAGE} \
    && microdnf update \
    && microdnf clean all \
    && mkdir /deployments \
    && chown 1001 /deployments \
    && chmod "g+rwX" /deployments \

[2021-04-13 12:36] sberyozkin opened #16472 "Closed OidcClients should throw ISE in its methods and OidcClients should ignore close IO Exceptions"
## Description

Closed `OidcClient` should report ISE in its `getTokens/refreshTokens` method, while `OidcClients` should just ignore all close related exceptions - as the individual `OidcClient` (s) can be independently injected hence leading to redundant close requests

CC @fwippe

[2021-04-13 12:52] #16461 closed

[2021-04-13 12:54] sberyozkin commented on #16397
@fwippe While you are looking into the named clients, here is a more concrete proposal:

- [Here in RestClientProcessor](https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-classic/rest-client/deployment/src/main/java/io/quarkus/restclient/deployment/RestClientProcessor.java#L241) a list of provider classes is found and passed to [RestClientBase](https://github.com/quarkusio/quarkus

[2021-04-13 13:14] ricardozanini commented on #12486
On it: https://issues.redhat.com/browse/KOGITO-4882
It seems that we might be having problems with the already deprecated Smallrye HTTP connector with Vertx 4.x.

[2021-04-13 13:19] FroMage commented on #16450
OK thanks a lot. Perhaps @yrodiere or @Sanne can take a look?

[2021-04-13 13:19] fmarissel commented on #16453
After some research, it seems vault authentication is now handled by vertx web client. And vertx web client ignore JVM settings like NON_PROXY_HOSTS (for VAULT_URL) which is the cause of the timeout

[2021-04-13 13:20] FroMage commented on #16437
Ah yes indeed. We still have to add a test for it, though.

[2021-04-13 13:37] mkouba commented on #16469
I did a quick and dirty test and it seems that the reflection-based `ValueResolver` fallback does work in the JVM mode (the generated getter is used). @smsajid it would be helpful if you could setup a simple reproducer app.

[2021-04-13 13:39] #16393 closed

[2021-04-13 13:47] chris-asl opened #16475 "RESTEasy Singleton resource with constructor injection failing with RESTEASY003190"
## Describe the bug
When using constructor injection in a non annotated resource ([reproducer link](https://github.com/chris-asl/quarkus-mcve/commit/2234069170ec55e341388ad5e12445269eb320a3#diff-c1e351af7879a35f1479bc0907392e13720790b0c7ccabcd4acbf4da3ef175bcR11-R19)), e.g.

[code]

the program spins up successfully.

Given the default resource scope, as defined by [`quarkus.resteasy.singleton-res

[2021-04-13 13:53] vsevel commented on #16453
it seems you found out the root cause. separately I validated that running a kubernetes auth with a `VAULT_URL` env variable actually worked for me. so it is not an issue with property injection.
it sounds like we would need something like https://github.com/eclipse-vertx/vert.x/issues/2600
/cc @cescoffier

[2021-04-13 13:53] cristian-com commented on #12924
@ia3andy @maxandersen @agoncal

Could someone have a look at https://github.com/quarkusio/quarkus/pull/16476

I couldn't see how to assign reviewers or if this is automatically, thanks

[2021-04-13 14:01] DuncanDoyle opened #16477 "Quarkus Kafka Client ServiceBinding no longer works with app-services service binding"
## Describe the bug
Since a camelCase/lowerCase bug has been solved in the ServiceBinding operator/sdk, the binding files created by SBO respect the lowercase and uppercase defined in the metadata of the CRD.

Since the KafkaConnection CRD uses camelCase for `bootstrapServer`, `saslMechanism` and `securityProtocol`, and the Quarkus Kafka client uses all lowercase names, service binding for Kafka n

[2021-04-13 14:09] brundipub commented on #9397
Hi guys,
any progress on this issue pls ?  While planning to update Quarkus to version 13, we hoped this exception would dissapear with new Quarkus.
Unfortunatelly we're still facing it with Quarkus 13 (smallrye-fault-tolerance 4.3.2)
Neither JDK update (15.0.2) has any impact.

[2021-04-13 14:22] gsmet commented on #9397
@brundipub have you seen some of the workarounds proposed in the thread?

[2021-04-13 14:24] geniusit opened #16479 "PgPool is closed in test"
## Describe the bug
Hello,
During my JUnit test, the PgPool switch to closed after the first request.

### Expected behavior
The PgPool should keep opened.

### Actual behavior
the PgPool is closed after the first request.

## To Reproduce
Here is the function I try to test :
[code]

Here is my test :
[code]

I try to test the

[code]

part of the function. However I got this error even if the fir

[2021-04-13 14:29] #13363 closed

[2021-04-13 14:35] mkouba commented on #16475
I can confirm that the behavior varies. If there is no scope annotation present then the no-args constructor is generated automatically. However, if the `javax.inject.Singleton` is added you need to add the no-args constructor manually. It's interesting that if you add `@RequestScoped` the no-args constructor is also generated although I don't see the `javax.enterprise.context` package in the list

[2021-04-13 14:36] sberyozkin commented on #2611
Hey @loicmathieu - can you please add an exception rule for `quarkus:quarkus-security` (and `quarkus-http` if needed) and post it here if it makes a difference ? I'll just update the docs with these rules - as it might take some time for the OWASP plugin to auto-exclude them

[2021-04-13 14:36] gsmet commented on #16479
Any chance you could prepare a small Maven reproducer? That would help a lot!

[2021-04-13 14:43] mkouba commented on #16475
In this case, the no-args constructor is generated by ArC because `@RequestScoped` is a normal scope.

[2021-04-13 14:46] mkouba commented on #16475
@geoand I think that we could just add the `javax.inject` to the list of compatible packages. I can send a PR tomorrow.

[2021-04-13 14:49] Xnyle opened #16482 "ConfigSource processed after @Initialized(ApplicationScoped.class) which is too late"
For my project to work I need smallrye to load a custom ConfigSource before anything else.
After that a @Observes @Initialized(ApplicationScoped.class) annotated observer is able to do initial tasks.

Problem is the observer is called prior to the ConfigSource being processed

This is only happening when using a fast-jar, when using an uber-jar everything works fine.
With the fast-jar I can tell f

[2021-04-13 14:50] geoand commented on #16475
@mkouba yeah, that makes perfect sense!

[2021-04-13 15:03] gorshkov-leonid commented on #16059
@geoand maybe it's better to create a separate ticket? I think it does not matter which is the environment.

[2021-04-13 15:04] geoand commented on #16292
So I had a quick look at this one, and it seems that the way `includeAll` works (which is by reading the contents of the actual directory file), does not work well in GraalVM.
I even tried registering the directory as a resource (which worked with a small fix in Quarkus), but that still didn't do the trick.

So if we want to make this work, we'll need to change the Liquibase implementation to **no

[2021-04-13 15:05] geoand commented on #16059
What do you mean exactly?

[2021-04-13 15:09] Ladicek commented on #9397
I guess my opinion didn't change on this: this is not a Quarkus bug. One, most of the time, you should use the thread pool that Quarkus gives you (`@Inject org.eclipse.microprofile.context.ManagedExecutor`). Two, if you use a custom thread pool (including the default FJ pool, which I'd personally consider a custom thread pool from Quarkus perspective) and require some sort of context propagation (

[2021-04-13 15:23] famod commented on #16292
Thanks for looking into this @geoand! I had a feeling that it would turn out this way.

@nvoxland would you be open to making Liquibase more GraalVM friendly?
If yes we would create an upstream issue to track this.

[2021-04-13 15:42] hrstoyanov commented on #14847
Please re-open based on this onversation:
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Need.20some.20help.20with.20Smallrye.20ConfigMapping

[2021-04-13 15:43] gorshkov-leonid commented on #16059
Sorry for my English. I mean It makes no difference if it is Windows or not. I checked cases in a docker container. The result was the same. But I can see labels on this ticket. ... And I mixed up the words "issue" in github's terms with "ticket"

[2021-04-13 15:48] holomekc opened #16484 "reactive-pg-client sslMode=verify-full not working"
## Describe the bug
When using reactive-pg-client it is not possible to use sslMode verify_full because it fails with:

[code]

But it is not possible to set host verification algorithm. We tried to set it as an uri parameter (hostnameVerificationAlgorithm) which is normally used by vertx but this does not work either.

### Expected behavior
You can configure hostnameVerificationAlgorithm the same

[2021-04-13 15:58] dhoffer opened #16485 "Allow datasources to be enabled/disabled at runtime"
## Description

Add support in Quarkus for data sources to be enabled/disabled.

Currently Quarkus supports multiple named datasources which is good, and we can switch between them at runtime with our apps configuration which is also good.  Regarding the following I will refer to these as datasources A & B.

However currently Quarkus generates a nasty stack trace for the datasource(s) that are not

[2021-04-13 16:02] geoand commented on #16059
Understood, thanks!

I'll hopefully take a look at this soon

[2021-04-13 16:23] geoand commented on #16470
Can you attach a reproducer project please?

[2021-04-13 16:33] geoand commented on #16470
If you are using `quarkus-resteasy-jackson`, then you can easily configure Jackson's behavior using a `ObjectMapperCustomizer` (see https://quarkus.io/guides/rest-json) and register a custom serializer like so: https://stackoverflow.com/a/14399797/2504224

[2021-04-13 17:05] geniusit commented on #16479
[getting-started.zip](https://github.com/quarkusio/quarkus/files/6305417/getting-started.zip)

Here is, but you can't reproduce the error until you have a relevant connection to my database...
It can't be reproduced with the "automatic dockerized database"

On my laptop, when I type the mvn clean install command, I get the following error :

[code]

[2021-04-13 17:25] ideal opened #16487 "Add MyBatis extension"
## Describe the bug
With mybatis, when run in native mode, error occured:

org.jboss.resteasy.spi.UnhandledException: com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for class java.lang.IllegalStateException and no properties discovered to create BeanSerializer (to avoid exception, disable SerializationFeature.FAIL_ON_EMPTY_BEANS)

### Expected behavior
It should

[2021-04-13 18:21] lucafuji commented on #16338
seems working now @tsegismont thanks a lot

[2021-04-13 18:23] mutasemhidmi commented on #16225
I built a graalvm arm64 docker image using https://github.com/graalvm/container/tree/master/community. Now, the build doesn't get stuck, but when I run sam local invoke for my lambda, I get the below error.

msg="Init failed" InvokeID= error="fork/exec /var/task/bootstrap: no such file or directory"

[2021-04-13 18:46] famod commented on #16482
Hm, let's see:
/cc @radcortez for config relevance
/cc @mkouba for ArC side of things and
/cc @stuartwdouglas as there might be something related to classloading

...phew! 😉

[2021-04-13 18:47] cypressious commented on #16470
Please see this related StackOverflow question and comment by @loicmathieu https://stackoverflow.com/questions/67072421/quarkus-panache-mongodb-serialize-objectid-as-string/67072422?noredirect=1#comment118556507_67072422

[2021-04-13 18:48] laurentperez opened #16488 "legacy mysql5 driver throws java.lang.NoClassDefFoundError, com/mysql/cj/exceptions/CJCommunicationsException"
## Describe the bug
We are trialing quarkus1.12/13, so far it's great except we are using an old mysql5, so our jdbc driver has to be mysql:mysql-connector-java:5.1.49
I know our legacy db is old, and quarkus bom / jdbc-driver-mysql bundles the 8.0.23 jdbc driver.
Quarkus runDev fails to compile with 5.1.49 driver at MySQLJDBCReflections with :
[code]

Located at https://github.com/quarkusio/quark

[2021-04-13 18:48] geoand commented on #16470
Aha, that's interesting.

So it's a Kotlin + Jackson issue, that's interesting

[2021-04-13 19:08] laurentperez commented on #16488
cf https://github.com/quarkusio/quarkus/issues/2323

[2021-04-13 19:14] Xnyle commented on #16482
In the meantime I'd also be grateful for a hint regarding replacing ApplicationScoped in @initialized(ApplicationScoped.class) with something else that is guaranteed to be initialized afterwards (if that's possible)

[2021-04-13 19:16] gsmet commented on #16488
Have you tested to use the new driver with your old database? Often, drivers support old versions pretty well.

Apart from that, that's not a usage we will support so if you want to do that, don't use the MySQL extension. Set the db-kind to other and define the driver yourself by adding the dependency directly. Just adapt the example we have in the doc for Oracle: https://quarkus.io/guides/datasou

[2021-04-13 19:23] wernert75 commented on #16255
I had the same problem. The moment more than one query ends in a database insert, the query and the http-request hangs.
Is there any solution? In my opinion, it´s a serious problem.

[2021-04-13 19:54] #16477 closed

[2021-04-13 20:02] gavinking commented on #16255
So the question is *why*, precisely, is this wrong?

Perhaps we do the work in an incorrect tx context?

[2021-04-13 20:09] gavinking commented on #16255
Wait, @stuartwdouglas are you saying that somewhere we are maintaining an association of threads to vert.x connections? Is this to do with the workarounds @Sanne had to do for the issues with the vert.x connection pool (prior to 4.1)?

[2021-04-13 20:10] gavinking commented on #16255
(I don't now remember precisely what it was we decided we had to do as a (temporary) solution for that issue.)

[2021-04-13 21:28] zaneschepke commented on #16338
For anyone wanting to have all of the actual inserted results from their RETURNING * query instead of just rowCount, this seems to work.

.executeBatch(batch).map(res -> {
                    Set<Row> rows = new HashSet<>();
                    do {
                        res.forEach(rows::add);
                    } while ((res = res.next()) != null);
                    return rows;

[2021-04-13 21:47] stuartwdouglas commented on #16255
Every Vert.x connection has an associated thread, which may be different to the other connections threads. In this code when the future is complete it dispatches on the current thread, which will always be a vert.x thread but not necessarily the vert.x thread for the connection that was waiting.

Usually this causes problems in the form of IO issues, where the connections actual thread receives an

[2021-04-13 21:58] stuartwdouglas commented on #16482
@Startup is probably what you are after. @Initialized will run as part of static init, so you don't have access to runtime config (i.e. in a native build this will happen as the image is built).

[2021-04-14 05:26] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/747109705

[2021-04-14 05:37] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/747109137

[2021-04-14 05:38] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/747110220

[2021-04-14 05:45] yuriytkach commented on #14980
I've updated to latest Quarkus 1.13.1.
With it I've received a different error on application close related to Kafka producer: `Producer closed while send in progress`.
That one is much more clear than NPE that was before :)
I was doing `emitter.send()` but didn't wait for completion and just exited from the app. I've added `.toCompletableFuture().join()` after `send()` and that resolved the issue

[2021-04-14 05:45] #14980 closed

[2021-04-14 06:02] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/747111086

[2021-04-14 06:19] mkouba commented on #16482
@Xnyle Stuart is right, `StartupEvent` is always fired after the runtime config has been setup. See also https://quarkus.io/guides/lifecycle#listening-for-startup-and-shutdown-events for more info. And AFAIK there is no guarantee that  `@Initialized(ApplicationScoped.class)` is fired before/after all config sources are processed.

[2021-04-14 06:21] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/747111086

[2021-04-14 06:36] #16131 closed

[2021-04-14 06:44] geoand commented on #16487
Can you attach a reproducer project please?

[2021-04-14 06:44] Xnyle commented on #16482
@Startup is EJB so that's a no go. StartupEvent might be an option but that would create a hard dependency on quarkus (this whole initialization feature should be portable)

**Additional Info**

The @Initialized(ApplicationScoped.class) method fires two events one sync, one async. Both trigger the creation of the same bean that uses a ConfigProperty. If I omit the async event, the sync part works

[2021-04-14 06:45] geoand commented on #16482
Stuart and Martin mean `@io.quarkus.runtime.Startup`

[2021-04-14 06:47] geoand commented on #16470
A small reproducer project would nevertheless be very useful

[2021-04-14 06:52] brundipub commented on #9397
@Ladicek  @gsmet  Sorry for not testing the workaround proposed by Ladicek before.  Tested today, it DOES FIX our issue.  Ignore my comment pls.

[2021-04-14 06:54] juliaaano commented on #9884
This is good stuff. I confirm I'm having the same issue and have no idea how to proceed. Can somebody help? Thank you.

[2021-04-14 06:58] fiorenzino commented on #16234
@nicolas-vivot waiting a Quarkiverse repository,  can you share your actual repository, to see your code?

[2021-04-14 07:00] geoand commented on #16059
It looks like `ResteasyContext.getContextData(HttpHeaders.class)` is returning `null` even though `org.eclipse.microprofile.rest.client.propagateHeaders=Authorization` has been configured.

@michalszynkiewicz any idea what is going on?

[2021-04-14 07:05] cescoffier commented on #16371
Should be fixed by #16435

[2021-04-14 07:06] cescoffier commented on #16415
Hopefully fixed by #16435

[2021-04-14 07:07] cescoffier commented on #16479
@tsegismont does that ring a bell?

[2021-04-14 07:08] mkouba commented on #16482
I don't think you'll be able to come with something portable unless there's something specific defined in the MP Config spec. Note  that ``ConfigSource``s are loaded via the `java.util.ServiceLoader` mechanism and there does not seem to be a connection to the CDI container lifecycle.

[2021-04-14 07:15] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/747117244

[2021-04-14 07:36] smsajid commented on #16469
Yes, you are right. It works for me too. The issue was that I was using json-b and it does not support record serialization yet. I switched to jackson and it works fine.

[2021-04-14 07:36] #16469 closed

[2021-04-14 07:52] Xnyle commented on #16482
How frustrating after 20+ years of JEE this is still no portable solution for the standard usecase: get something pluggable reliably to run after all the DI voodoo has been done.

Regarding @io.quarkus.runtime.Startup that's in quarkus core, no spi/api package available, right?
My usecase is that I just have a library with some beans and a startup that has to run whenever I plug in this lib.

Ther

[2021-04-14 08:01] cypressious commented on #16470
@geoand Here you go: https://github.com/cypressious/quarkus-kotlin-issue

You'll have to configure a MongoDB connection string.

[2021-04-14 08:04] michalszynkiewicz opened #16497 "`quarkus:create` adds `quarkus-resteasy` to a project even when `quarkus-resteasy-reactive-jackson` is specified"
## Describe the bug
When generating a project with `quarkus-resteasy-reactive-jackson`, `quarkus-resteasy` extension is added to the project's pom.

Related to https://github.com/quarkusio/quarkus/issues/15997

### Expected behavior
`quarkus-resteasy-reactive` and `quarkus-resteasy` are mutually exclusive, the latter should not be added when the former is used, and `quarkus-resteasy-reactive-jacks

[2021-04-14 08:05] geoand commented on #16497
CC @ia3andy

[2021-04-14 08:06] glefloch commented on #16429
@ixre, I just tested with a simple project generated from `code.quarkus.io` and the build was successful with your command, Can you share a reproducer and also the full stacktrace of the gradle output ? (you can get it with `-S` flag on the gradle command)

[2021-04-14 08:18] ia3andy commented on #16497
This due to `resteasy` being the default example, I need to make that dynamic...

[2021-04-14 08:25] loicmathieu commented on #16470
We do register ObjectId serializer/deserializer for Jackson here: https://github.com/quarkusio/quarkus/blob/main/extensions/panache/mongodb-panache-common/deployment/src/main/java/io/quarkus/mongodb/panache/deployment/BasePanacheMongoResourceProcessor.java#L391

It works on Java, but on Kotlin it didn't work so their might be something Kotlin specific to do.

[2021-04-14 08:27] geoand commented on #16470
The reproducer doesn't contain `quarkus-jackson` however...

[2021-04-14 08:32] pazkooda commented on #13662
RESTeasy Reactive support is now also present in our code, see: [PullReq#67](https://github.com/TietoEVRY/quarkus-resteasy-problem/pull/67/files)

[2021-04-14 08:34] geoand commented on #16470
In your reproducer if you swap `quarkus-resteasy` with `quarkus:quarkus-resteasy-jackson`, everything works as expected

[2021-04-14 08:34] #16470 closed

[2021-04-14 08:37] pjgg opened #16499 "Opentelemetry - reactiveRoutes / vertx"
## Describe the bug
I am working with opentelemetry extensions over a [Quarkus application](https://github.com/quarkus-qe/beefy-scenarios/pull/166) with Reactive routes:

[code]
When I am running my application in JVM mode my jaeger `ServiceName` is set to `<<unset>>` but on native mode is set to `300-quarkus-vertx-webclient` (my app-module name), as you can see on [my test](https://github.com/qua

[2021-04-14 08:42] tsegismont commented on #16479
No it doesn't.

@geniusit as discussed off-list, it's hard to say what's wrong if we can't reproduce.
Alternatively, I suggest to run the test in debug mode with a break point on the `ThreadLocalPool.close` methods to understand why the pool is closed at some point.

[2021-04-14 08:54] geniusit commented on #16479
@tsegismont is that what you need ?

![image](https://user-images.githubusercontent.com/3659037/114682874-cc255100-9d0f-11eb-82c0-1549855dfd78.png)

[2021-04-14 09:02] cypressious commented on #16470
I was using the New Project wizard by Intellij IDEA Ultimate with this setting for generating the project. I'm not sure where it takes the configuration from.

![grafik](https://user-images.githubusercontent.com/1191816/114683714-89b04400-9d10-11eb-975e-31d4ca453705.png)

[2021-04-14 09:06] geniusit commented on #16479
@tsegismont Doing it solve the problem :)

[code]

But why ?

[2021-04-14 09:14] geniusit commented on #16479
The PgPool is closed because on a JUnit perspective, the test is considered as a success even if the .subscribe() has no yet finished.
I see that I got the junit green mark (success) and THEN I have the stacktrace PgPool is closed. So I simply add a Thread.sleep() of 10s to let the code of the .subscribe time to execute...

The JUnit test should know that the test isn't yet finished until all the

[2021-04-14 09:18] loicmathieu commented on #16470
@cypressious can you give us the pom.xml generated by your IDE wizard ?

[2021-04-14 09:23] cypressious commented on #16470
The Wizard provides multiple settings. I've used the following:

![grafik](https://user-images.githubusercontent.com/1191816/114687046-a39f5600-9d13-11eb-9984-edfba0968fa9.png)

If I switch from Gradle to Maven, here's what is generated:

[code]

[2021-04-14 09:27] famod commented on #16416
Let's assume #16423 fixed it for good. If not then we can always reopen this issue.
/cc @gsmet

[2021-04-14 09:29] famod commented on #16415
Thanks @cescoffier! I'll close this one. In case the problem pops up again we can always reopen this issue.

[2021-04-14 09:29] #16415 closed

[2021-04-14 09:30] famod commented on #16371
Thanks @cescoffier! I'll close this one. In case the problem pops up again we can always reopen this issue.

[2021-04-14 09:30] #16371 closed

[2021-04-14 09:33] #16284 closed

[2021-04-14 09:41] gavinking commented on #16255
Right. So this is the thing that's supposed to be fixed with the new connection pool in vert.x 4.1. (I had thought it was coming in 4.0 but Sanne corrected me when we chatted last week.)

So I'm actually struggling to see how we can even in principle implement the behavior we need on 4.0.

[2021-04-14 09:42] tsegismont commented on #16479
The stacktrace on the screenshot makes sense.

Subscribing is an asynchronous operation. So the test completes successfully before the asynchronous operation completes. Therefore, the Quarkus test extension closes the app which closes the pool.

Instead of subscribing, you can [wait on the `Uni`'s item](https://smallrye.io/smallrye-mutiny/guides/reactive-to-imperative#awaiting-on-unis-item) with:

[2021-04-14 09:46] #16479 closed

[2021-04-14 09:49] stuartwdouglas commented on #16255
I guess either dispatch back to the original thread, or have one ID generator per thread, so each thread allocates from its own ID range (which will perform better, but means ID's won't be sequential).

[2021-04-14 09:50] loicmathieu commented on #16470
So, rest data panache didn't provides any serialization features by itself, you'll need to choose `quarkus-jackson` or `quarkus-jsonb`.
When adding one of the two you'll have the serializer automatically added.

[2021-04-14 09:58] kraeftbraeu opened #16504 "quarkus:dev with quarkus-jdbc-d2 ignores db2jcc_license_cisuz dependency"
## Describe the bug
Trying out quarkus-jdbc-db2 to connect to our mainframe db2 I found a weird behaviour:

After adding the dependencies quarkus-jdbc-db2 and my db2jcc_license_cisuz the maven commands install and verify both work fine and I can to the db.

But when I start quarkus:dev and query the db I get a "missing license" error (see below).

### Expected behavior
I expect quarkus:dev to use

[2021-04-14 10:00] kenfinnigan commented on #16499
There's a couple of factors at play here. One is that OpenTelemetry has not been tested with Reactive Routes yet, and likely won't because my understanding is in Quarkus 2.x it won't be a recommended approach anymore. And two, I haven't reached a point of adding much customization to the extensions yet

[2021-04-14 10:07] ideal commented on #16487
@geoand This is a minimal demo project:
[resteasy.zip](https://github.com/quarkusio/quarkus/files/6310035/resteasy.zip)

Before running, you need to modify datasource config in application.yml, and create a table in mysql db with:
CREATE TABLE abcd (id bigint, name varchar(20));

Build with mvn package -Pnative, running and visit it.

[2021-04-14 10:21] karesti commented on #16386
@cescoffier I get the point with @wburns

[2021-04-14 10:32] Postremus opened #16505 "Resteasy classic - Content-Length is not validated properly"
## Describe the bug
The Content-Length header is not validated before the request body is read, leading to the io thread being blocked for the duration of the http read timeout (one minute).
This is independend of Content-Type. In my reproducer I provide examples for multipart/form-data and application/json.
I was able to verifiy all cases with resteasy classic. They might affect resteasy reactive

[2021-04-14 10:33] Sanne commented on #14117
@mswatosh could you have a look please?

I'm afraid I don't have the right licenses and environment to test this.

[2021-04-14 10:43] gsmet commented on #16463
@suchwerk a workaround is coming in 1.13.2.Final!

[2021-04-14 11:16] gavinking commented on #16255
Well I personally have no idea how to despatch to a specific thread. I guess maybe there is some API for that somewhere.

As for your second suggestion: that was how I wrote it originally (twice). But the thing is it means that in highly concurrent systems you waste a lot of hi values, and everyone hates that. So I changed it.

[2021-04-14 11:19] gavinking commented on #16255
Excuse me, that's wrong, I didn't have a generator per thread, I just let the retrieval of hi values happen concurrently. Your suggestion is a little better, perhaps, but kinda hard to implement in HR itself, which doesn't really know anything about threads.

[2021-04-14 11:31] pjgg opened #16507 "Opentelemetry - VertxHttpClient doesn't have his own span"
## Describe the bug

I am working with opentelemetry extensions over a [Quarkus application](https://github.com/quarkus-qe/beefy-scenarios/pull/166), Reactive routes, and vert.x HttpClient:

[code]

Based on [this doc ](https://quarkus.io/blog/quarkus-1-13-0-final-released/#opentelemetry-extension) I expected that If I have an HttpClient behind an endpoint, I will have two spans with the same trac

[2021-04-14 11:40] TomasHofman commented on #16318
@mkouba can I take a look at this?

I think we could add a `qs completion [bash|zsh]` command, that would generate the bash completion script, similarly like `oc completion` does.

[2021-04-14 11:59] kenfinnigan commented on #16507
Not all usages of OpenTelemetry have been tested/verified at present.

Right now I expect RESTEasy Classic, REST Client, and Reactive Messaging with Kafka to work. Other extensions may "work", but there are no guarantees at present.

In addition, the existing extensions in 1.x will likely change significantly for the 2.x/main stream

[2021-04-14 12:05] yrodiere commented on #16450
@dreab8 This seems very similar to the problem you are currently working on. Maybe it's the same problem? Otherwise just tell me, and I'll have a closer look.

[2021-04-14 12:18] mkouba commented on #16318
@TomasHofman Yep, it seems that we can try to reuse the built-in [subcommand](https://picocli.info/autocomplete.html#_distribution).

[2021-04-14 12:29] ebullient commented on #16318
I have this in my draft PR already (that we can test).
Note: the draft PR has isolated/stopped calling the pieces that do any actual work (so we can focus on command structure and make sure dumb things like --help are performant, which they should be, as they don't need to touch anything requiring any loading of resources).

Will add function back once we settle #16033

https://github.com/quarkusi

[2021-04-14 12:29] tsegismont commented on #16338
@zaneschepke this would work too:

[code]

[2021-04-14 12:31] yrodiere commented on #16463
Also, an actual fix was merged into Hibernate ORM: https://github.com/hibernate/hibernate-orm/pull/3918

This issue should be completely fixed in Quarkus once we upgrade to ORM 5.4.31.Final (not released yet).

[2021-04-14 12:59] Sanne commented on #16255
My suggestion is that we can't have users of HR which aren't already running on the vertx thread, so making "the current thread" and the "io thread" the same.

I've said this before but others said that such restriction is too strong, but I believe we have to as such issues are otherwise going to manifest in many unpredictable ways.

[2021-04-14 13:00] FroMage commented on #16437
No, this is what I get now:

[code]

But the underlying issue is:

[code]

So there's a combination of failure from ORM and mocking setup.

[2021-04-14 13:04] FroMage commented on #16437
This is way above anything I can comprehend.

I've pushed a reproducer at https://github.com/FroMage/quarkus/tree/16437

I don't know if this is more of an issue for @yrodiere @Sanne @geoand or @mkouba but I think it is probably important, not just for Panache, since I don't think we can mock `EntityManager` for ORM anymore. Unless I'm missing a mocking strategy that is better than this?

[2021-04-14 13:05] FroMage commented on #16437
Repro is `PanacheMockingTest` class in `integration-tests/hibernate-orm-panache`

[2021-04-14 13:11] glefloch commented on #14835
@bfontana were you able to test it?

[2021-04-14 13:12] yrodiere commented on #16437
@FroMage The transaction-scoped EntityManager are now exposed as Sessions as well, so that people can use `@Inject Session session`. It's been that way for a few months, though?

In any case... maybe try that?

[code]

Not saying that's a long-term solution, but if it works that's at least a workaround.

[2021-04-14 13:15] yrodiere commented on #16437
Ok I should have read the rest of the thread... So no, I have no idea what's going on :]

[2021-04-14 13:17] Sanne commented on #16437
it's a feature! :)

[2021-04-14 13:22] geoand commented on #16437
I'll have a look tomorrow

[2021-04-14 13:24] gavinking commented on #16255
But isn't this just a temporary issue until vert.x 4.1?

[2021-04-14 13:27] stuartwdouglas commented on #16255
'an IO thread' is a kinda useless restriction, it needs to be 'the IO thread' that belongs to the current connection. It also needs to be the same as the HTTP and messaging IO threads. AFAIK I think Vert.x will mostly handle this, so it's only situations like this where it is an issue.

In the HTTP stuff I do with Vert.x you can cast to the underlying connection impl to get the event loop, and I t

[2021-04-14 13:31] stuartwdouglas commented on #16255
Also it is a pretty serious issue, as even a tiny bit of load break HR and then inserts just stop working, and I am not 100% sure that my analysis is correct because I did not spend a lot of time on it. It is definitely hanging in the ID generator under even tiny amounts of load, but I have not verified that my thread theory is correct, it could be something else.

[2021-04-14 13:50] laurentperez commented on #16488
Yep, we have a mysqld5.1 rdbms, I know, it's old. Unfortunately the 8.0.23 from quarkus bom/jdbcmysql does not support it, it requires mysqld5.5.

Also, the quarkus flyway extension requires mysqld >= 5.7. This is because it's the community edition of flyway, older rdbms are supported only with the paid version.

Thank you for the Oracle tip, we'll look into it.

[2021-04-14 13:53] Sanne commented on #16255
I suspect not, but we can see how it behaves when we have 4.1.  @DavideD is going to work on more extensive integration tests, this needs to be bullet proof.

[2021-04-14 13:59] FroMage commented on #16399
So I confirm I can reproduce.

This works:

[code]

But if you comment out the method I get the same error.

I can also confirm that the method has the right annotation:

[code]

So at this point I'm not sure why BSON is complaining. Note that in my case I don't actually have a helpful message:

[code]

[2021-04-14 14:01] FroMage commented on #16437
Thanks!

[2021-04-14 14:03] FroMage commented on #16399
Pushed a test at https://github.com/FroMage/quarkus/tree/16399, do you think you can figure out what BSON is complaining about @loicmathieu ?

[2021-04-14 14:05] gsmet opened #16512 "Config issue with live reload and .env file"
I provide my configuration with a `.env` file, I don't know if it's relevant. But during a live reload today, I had the following error:
[code]

I stopped `quarkus:dev`, relaunched it without changing anything in my app and the application started again.

I know the information is scarce but it's not really reproducible, I just had it once.

[2021-04-14 14:22] vietk opened #16514 "KafkaStream extension should report better that no topology is found"
Not really a bug ... but :
Inside KafkaStreams the topology that will build the logic of the application is supposedly be exposed a CDI bean.

We had a case with native compilation where, by mistake, no topology was provided by our maven dependencies.
It was a little hard to understand why our native application was not processing anything ... we found by switching to log level to DEBUG.

So I gon

[2021-04-14 14:26] #16455 closed

[2021-04-14 14:26] vietk commented on #16514
Last thing, can we ask a backport to 1.11 when issue is closed?

[2021-04-14 14:31] #16514 closed

[2021-04-14 14:34] gastaldi commented on #16514
@vietk not sure about 1.11, but it should be possible for 1.13.2.Final

[2021-04-14 14:41] FroMage commented on #14709
So, I'm a bit puzzled by the state of this issue. What is wrong and what can we fix?

It looks like we're getting cryptic exceptions such as `java.lang.IllegalStateException: session is currently connecting to database` which is a totally bogus error message which does not _at all_ reflect what's going on.

I was sorta believing that the issue was that we were invoking an operation on a worker thr

[2021-04-14 14:47] loicmathieu commented on #16399
I suspect this is a limitation of the AutomaticPojoCodec that we use that mandates that getters/setters use the same dataType.
I'll need to dig on the code as the limitation is not written inside the documentation, we should be able to reproduce this behaviour without Quarkus I think.

[2021-04-14 14:50] loicmathieu commented on #16399
So, searching the github repo is easy ;)

This is indead a limitation of the PojoCodec, it check that the parameter class of the setter is the same than the class of the property (the field of your class): https://github.com/mongodb/mongo-java-driver/blob/5008b2a9445e477d563258eaaf4786f0f0ed83aa/bson/src/main/org/bson/codecs/pojo/PojoBuilderHelper.java#L151

So you can:
- Change the name of your m

[2021-04-14 15:05] FroMage commented on #15131
I'm trying to see if I can reproduce this in our ITs, but I'm running into this issue @DavideD:

[code]

Any idea how I can work around this?

[2021-04-14 15:06] FroMage commented on #15131
It appears that if `Session.withTransaction` allows us to get scheduled on the IO thread, but getting a session requires the caller to be in an IO thread, we have a bootstrapping problem.

[2021-04-14 15:07] pjgg opened #16520 "Opentelemetry: Distributed tracing with Reactive Routes"
## Description

As far as I see with reactive Routes (Vert.x) and openTelemetry we are not propagating trace headers between different microservices.

As a cloud-native developer, most of the applications are a composition of several microservices, distributed in several places, some of them are under our platform as ocp/k8s and some others are in third-party services (even in serverless platforms

[2021-04-14 15:09] FroMage commented on #16399
OK, so this is not a bug then?

If not, can you add a note in our docs explaining not to do that, and what kind of exception it will cause? This way people can find it.

[2021-04-14 15:11] kenfinnigan commented on #16520
As mentioned on #16499, Reactive Routes has not been tested with OpenTelemetry at present

[2021-04-14 15:16] loicmathieu commented on #16399
I can have a note explaing that we are using the automatic pojo codec, that rules exists, and that if a `CodecConfigurationException` occurs they need to check if they break one of these rules or provides a custom Codec.

I'm reluctant to specifically add this rule as it's not on the official documentation and we cannot list all the rules becasue they are written nowhere.

In fact a third solution

[2021-04-14 15:48] famod commented on #16437
FWIW, you can also do something like this with Mockito:
[code]

[2021-04-14 15:49] DavideD commented on #15131
1..0.0.CR2 should be available on Maven Central now

[2021-04-14 15:50] DavideD commented on #15131
Although, it should already fixed: https://github.com/quarkusio/quarkus/pull/16506

[2021-04-14 15:56] famod opened #16521 "Drop jprocesses in favor of java.lang.ProcessHandle"
## Description
As per https://github.com/quarkusio/quarkus/pull/16249#issuecomment-815263204

[`jprocesses`](https://github.com/profesorfalken/jProcesses) has not seen any activity for 3 years and with JDK 8 support now dropped (in main), the OOTB `ProcessHandle` should be used instead.

## Implementation ideas
Remove code, write a tiny bit of new code, remove dependency - be happy! 😉

[2021-04-14 15:56] laurentperez commented on #16488
Thank you Guillaume, "other" worked. We just had to exclude the 8.0.23 driver too from the BOM with

[code]
Any possible tradeoffs when not using the extension, impacts on Agroal/JTA XA, maybe (?)

Apart from the native obviously.

[2021-04-14 15:56] famod commented on #16521
/cc @gastaldi @geoand

[2021-04-14 15:57] pjgg commented on #16444
You could reproduce it by running this test:

`mvn clean install test -pl 303-quarkus-vertx-sql -Dtest=PostgresPoolTest#checkIdleExpirationTime`

over this branch:
`https://github.com/pjgg/beefy-scenarios/tree/reproducer/reactive-sql-pool`

This is the test:
`https://github.com/pjgg/beefy-scenarios/blob/reproducer/reactive-sql-pool/303-quarkus-vertx-sql/src/test/java/io/quarkus/qe/vertx/sql/dbpool

[2021-04-14 16:04] geoand commented on #16521
Interesting, I didn't even know about jprocesses.

I actually had custom code for the IDE link handling that I just removed, so I'm obviously +1 for this

[2021-04-14 16:11] sberyozkin opened #16522 "Enhance RestClient Reactive to support registering providers via custom annotations"
## Description

The following is possible with `quarkus-rest-client`, for example, with `OidcClientRequestFilter`

[code]
where the `quarkus-oidc-client-filter` extension registers `OidcClientFilter annotation and OidcClientRequestFilter.class` pair, and where `quarkus-rest-client`'s RestClientProcessor [discovers such registrations](https://github.com/quarkusio/quarkus/blob/main/extensions/restea

[2021-04-14 16:16] gastaldi commented on #16521
@famod fancy providing a PR?

[2021-04-14 16:19] gastaldi commented on #16521
I'm guessing the code in `DevModeTestUtils` would be something like:

[code]

[2021-04-14 16:26] sberyozkin opened #16523 "Make quarkus-oidc-client-filter work with reactive RestClient"
## Description

- `quarkus-oidc-client-filter` depends on `quarkus-rest-client` (to register itself as `OidcClientFilter`) and it is also blocking when it is auto-refreshing or if the initial token acquisition has been postponed until the first request.

## Implementation ideas

For it to work with the reactive client, the code which registers `OidcClientFilter` annotation should be made optional

[2021-04-14 16:31] famod opened #16524 "DevMojoIT.testThatNewResourcesAreServed is flaky"
Seen e.g. [here](https://github.com/quarkusio/quarkus/pull/16519/checks?check_run_id=2344427204) and [here](https://github.com/quarkusio/quarkus/pull/16249/checks?check_run_id=2342175326):
[code]

[2021-04-14 16:31] famod commented on #16524
/cc @aloubyansky @geoand

[2021-04-14 16:43] ebullient commented on #16033
Trying to use shared option groups (e.g. the GAV groups for create and create-cli) is a little awkward when it comes to specify defaults because we use a different default "code-with-quarkus" vs. "cli-with-quarkus" .. I'm tempted to simplify and either use "code-with-quarkus" always.

[2021-04-14 16:44] ebullient commented on #16033
@ia3andy @mkouba .. see above

[2021-04-14 16:48] sberyozkin commented on #16523
It is not gong to work, unless the same `RestClientAnnotationProviderBuildItem` currently shipped with `quarkus-rest-client` is also known to `rest-client-reactive`.

But given it would still remain blocking in some situations as described above, it does feel the dedicated extension is the way to go. The question is, @geoand, @michalszynkiewicz, is there a rest client reactive specific non-blockin

[2021-04-14 16:49] famod commented on #16521
Looks like you implemented it already. 😄

[2021-04-14 16:51] geoand commented on #16523
We will have to add that functionality, we have something similar in the server, but I don't think we have it in the client

[2021-04-14 16:54] sberyozkin commented on #16523
@geoand That would be very cool once it becomes available

[2021-04-14 17:01] geoand commented on #16523
I'll add it to my TODO list

[2021-04-14 17:02] famod commented on #16521
But yeah, I can provide a PR later this week.

[2021-04-14 17:13] geoand commented on #16487
For this to work in native mode, we would need to have a `mybatis` extension.

[2021-04-14 17:34] felipewind commented on #14814
I had a similar problem, but I believe is not a bug.

I have one rest endpoint which uses one class as the openapi schema:

[code]

The OrderDto class has one attribute that refers to another class, that exists on my project:
[code]

When I access the swagger-ui, I am receiving the error:
[code]

![image](https://user-images.githubusercontent.com/47837222/114753755-364cee80-9d2e-11eb-999d-bdf9b8ef

[2021-04-14 17:35] gsmet commented on #16487
There is already one here: https://github.com/quarkiverse/quarkus-mybatis .

[2021-04-14 17:36] geoand commented on #16487
Ah, cool

[2021-04-14 17:36] #16487 closed

[2021-04-14 17:49] geoand commented on #16437
@FroMage I pushed a couple of commits to: https://github.com/geoand/quarkus/tree/16437

It does make mocking work, but the test still doesn't pass because you (hopefully) need to mock the required EntityManager methods in the test like you did for `persist`.

[2021-04-14 17:54] tosix1988 opened #16526 "QuarkusTestResourceLifecycleManager still started/stopped multiple times in Quarkus 1.13.1.Final"
Hello,

when updating to Quarkus 1.13.1.Final from Quarkus 1.12.0.Final, I observe that the resource lifecycle managers are run multiple times during a build (when compared with 1.12.0.Final). I have recently reported #16108, which is fixed in 1.13.1.Final, however, there is still a regression when compared with 1.12.0.Final.

The setup to reproduce the issue is basically the same:

Lifecycle mana

[2021-04-14 18:08] #16475 closed

[2021-04-14 18:21] MikeEdgar commented on #14814
Seems like another scenario not handled properly... @felipewind - would you mind opening an issue in [smallrye-open-api](https://github.com/smallrye/smallrye-open-api)?

[2021-04-14 18:25] geoand commented on #16524
I have an idea what might be the cause of this issue

[2021-04-14 18:38] independentid commented on #8210
I am receiving this issue with 1.13.1.Final.  In my case it is triggered trying to load the JwtEncryptionBuilder class which is part of quarkus-smallrye-jwt-build.

[2021-04-14 18:38] geoand commented on #16524
https://github.com/quarkusio/quarkus/pull/16527 should take care of the issue.

I used `@RepeatedTest` to run the test with the fix and it passed (as oppoed to prior to the fix where I could easily reproduce the problem)

[2021-04-14 19:31] famod commented on #16524
Good catch! But why did it not fail every time?

[2021-04-14 19:36] geoand commented on #16524
My assumption is that something changed with Vert.x - maybe it caches for longer.
I didn't look to closely at the implementation

[2021-04-14 20:19] geoand commented on #16526
I'll take a look soon

[2021-04-14 20:24] famod commented on #16524
Well, a fix is a fix.

[2021-04-14 20:38] YunaBraska commented on #16399
When I rename the method then it's complaining that the field is not defined

[2021-04-14 20:40] gastaldi commented on #16521
@famod I put my code in a PR for your appreciation: https://github.com/quarkusio/quarkus/pull/16529

[2021-04-15 01:31] nicolas-vivot commented on #16234
@fiorenzino Unfortunately for now, as explained in the first post, my extension is hosted on a private repository owned by my actual company. The code also refers to the company names (artifacts, group id, package names) so i'm not going to share it.

I was thinking to wait for the repository to be available as it would automatically includes the correct names from the prepared structure, and then

[2021-04-15 03:46] hhovhann opened #16531 "Doesn't read configuration values from environment"
## Environment
Quarkus version 1.13.1.Final
Java version 11

## Describe the bug
Hi there, thanks for your hard job.

Wondering that something was changed or broken in the new version regarding some default configurations and reading from the environment.

### Expected behavior
The email was successfully sent

### Actual behavior
Email notification sent was failed: java.lang.RuntimeException: Erro

[2021-04-15 05:26] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/750793253

[2021-04-15 05:38] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/750793004

[2021-04-15 05:41] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/750793597

[2021-04-15 05:47] geoand commented on #16526
Actually, this works as expected. The Javadoc of `QuarkusTestResource#restrictToAnnotatedClass` specifically mentions that `meta-annotations are considered per-test are only considered for the current test class or test profile`

[2021-04-15 05:47] #16526 closed

[2021-04-15 05:48] aloubyansky commented on #16033
That makes sense, IMO, especially if it allows reusing some options and code.

[2021-04-15 05:57] ntkoopman commented on #14012
upstream issue: https://youtrack.jetbrains.com/issue/KT-43678

[2021-04-15 06:12] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/750794474

[2021-04-15 06:13] mkouba commented on #16033
So I wonder whether it would make sense to turn such complicated commands (`create-extension`...) into a wizard-like multi-step process? IIRC jboss forge supported something similar, or? @gastaldi

[2021-04-15 06:37] cescoffier commented on #16369
@famod @gsmet Did you see that one during the last _few_ days?

[2021-04-15 06:42] fwippe commented on #16397
@sberyozkin

Sounds like a reasonable approach! But there's a serious drawback: We're no longer talking about CDI beans here, do we? As we're creating the instance ourselves, no injections and scopes will be possible, right? Is that a price you're willing to pay?

[2021-04-15 07:13] kraeftbraeu commented on #16504
Hooray, quarkus 1.13.2.Final fixed it. That went fast, thank you @gsmet !

[2021-04-15 07:13] #16504 closed

[2021-04-15 07:15] loicmathieu commented on #16399
@YunaBraska can you paste your updated class ?

Maybe the fact that your return the User from the setter make the PojoCodec not considering your setter as a regular setter and generate an error.

[2021-04-15 07:27] gsmet opened #16532 "Flaky scheduler tests"
We are seeing quite a few scheduler test failures lately with the following issue:
[code]

Could someone have a look?

[2021-04-15 07:34] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/750801130

[2021-04-15 07:38] mkouba opened #16534 "Dev UI - DevConsolePostHandler.flashMessage() results in EOFException"
Steps to reproduce:
1. Start [cache-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/cache-quickstart) in the dev mode
2. Open http://localhost:8080/q/dev/io.quarkus.quarkus-cache/caches in the browser
3. Clear the cache - the cache is cleared but the following exception is thrown:

[code]

NOTE: The same behavior can be reproduced with the [scheduler-quickstart](https://gith

[2021-04-15 07:39] mkouba commented on #16534
It seems that the `_flash` cookie is empty...

[2021-04-15 07:40] mkouba commented on #16532
I'll take a look. These tests were added recently...

[2021-04-15 07:53] gavinking commented on #16255
I might be being dense, but i'm still not convinced that this issue is about *threads*. I don't think a `CompletionStage` should really care which thread it's executed on. I think it's an issue with connection affinity. It seems to me that it's the assumption that threads map to connections that is broken. Am I wrong?

The thing that is especially confusing me is that in principle the reactive ses

[2021-04-15 08:00] mrizzi commented on #15961
Hi guys,
upgrading to Quarkus 1.13.1, we've spotted another issue very close to this one.
Now it seems like also the `POST` method is affected by the issue in managing associations.
The issue appeared from Quarkus 1.13.0 so I've updated the reproducer adding:

- `PersonEndpointTest#testInsertWithReferencedCollection` as a reproducer
- `quarkus-12` profile to run the tests with Quarkus 1.12.2
- mis

[2021-04-15 08:20] FroMage commented on #16534
Huh, I have ZERO recollection of using that `ObjectOutputStream`.

[2021-04-15 08:24] stuartwdouglas commented on #16255
I just hit this in the debugger again and I don't think this is about threads as such, although if the model is that you can only operate on the IO thread for a given connection I do think this has the potential to cause problems.

I see the following stack trace being the problem when it hits that IllegalStateException:

[code]

[2021-04-15 08:24] phillip-kruger commented on #16395
For Quarkus 2, this will be in SmallRye 2.1.3 (see https://github.com/smallrye/smallrye-open-api/milestone/37?closed=1)

[2021-04-15 08:27] stuartwdouglas commented on #16255
So it his this because the connection is closed, and the closed connection is still awaiting an ID. Because the calling code does not guard again this throwing (rather than returning a failed CompletionStage) the whole system locks up.

[2021-04-15 08:30] 0SkillAllLuck commented on #14820
@FroMage, @Sanne I figured out a way around this issue that potentially helps to find the cause. When using hibernate-reactive the „normal“ way (without panache) and using all tricks like withTransaction and runSubscriptionOn it still doesn‘t work in gRPC. But when using a SessionFactory instead of Session in the Inject and then manually closing the session after the call it works fine. So I guess

[2021-04-15 08:35] FroMage opened #16537 "Dev UI: exception related to log streaming"
Looking at the reproducer for https://github.com/quarkusio/quarkus/issues/16534, and hitting `http://localhost:8080/weather` and `http://localhost:8080/q/dev/io.quarkus.quarkus-cache/caches` I've seen this exception several times:

[code]

Steps to reproduce:

- Start `cache-quickstart` in the dev mode
- Open `http://localhost:8080/weather`
- Open `http://localhost:8080/q/dev/io.quarkus.quarkus-ca

[2021-04-15 08:35] FroMage commented on #16537
Perhaps @phillip-kruger ?

[2021-04-15 08:36] stuartwdouglas commented on #16255
The EM is closed because the RESTEasy Reactive request is considered completed, before the ID has been generated, which seems very odd.

[2021-04-15 08:36] FroMage commented on #16534
Fixed in https://github.com/quarkusio/quarkus/pull/16536, but I'll raise you one with https://github.com/quarkusio/quarkus/issues/16537.

[2021-04-15 08:41] FroMage commented on #15131
Thanks!

[2021-04-15 08:42] stuartwdouglas commented on #16255
Ok, the bug is actually ridiculously simple. When the queue is processed 'session' refers to the session that just generated the ID, not the session that is asking for the ID. Because we call result.complete() earlier if this finishes off the request it can close the EM, so you are calling generate with a closed session.

[2021-04-15 08:50] FroMage commented on #15131
This is worse. Turns out the HR/Panache IT tests don't appear to even run ATM. I wonder why CI doesn't run them?

[2021-04-15 08:54] phillip-kruger commented on #16537
I'll have a look a.s.a.p

[2021-04-15 09:09] 0SkillAllLuck commented on #14820
Also when using the non reactive version of panache and enabling metrics you can see that the sessions stay in the active state for ever

[2021-04-15 09:10] #16233 closed

[2021-04-15 09:20] iocanel commented on #16089
This has been fixed in dekorate. Will update to the latest version and align tests asap!

[2021-04-15 09:30] gsmet commented on #16089
Is it an issue in 1.13 too? If so, we would need a fix there too.

[2021-04-15 09:41] iocanel commented on #16089
It shouldn't affect 1.13 as this is a regression introdcued with dekorate 2.x.

[2021-04-15 09:43] FroMage commented on #16437
Thanks!

[2021-04-15 09:47] FroMage commented on #16437
Well I'm actually getting this exception now, which makes no sense, unless Mockito isn't able to implement that method for some reason:

[code]

[2021-04-15 09:51] sberyozkin opened #16540 "Injecting into custom ClientRequestFilter does not work with Reactive RestClient"
## Describe the bug
Reported by Simone DiCola.

For example, injecting a `RequestScoped` `Tokens` shipped with `quarkus-oidc-client` into a custom filter:

[code]

works with `quarkus-rest-client` but it is `null` with `quarkus-rest-client-reactive`.

[2021-04-15 09:54] gsmet commented on #16488
That will be missing https://github.com/quarkusio/quarkus/blob/1.13/extensions/jdbc/jdbc-mysql/runtime/src/main/java/io/quarkus/jdbc/mysql/runtime/MySQLAgroalConnectionConfigurer.java#L19 as it's configured automatically under the hood.

I don't think we provide a way to configure it manually though. But this feature is new so it should work OK.

[2021-04-15 10:08] vietj commented on #16433
do you know hwat is failing the transaction ? I don't get why inserting two valid fruits is making this fail

[2021-04-15 10:09] dreab8 opened #16541 "Could not find a valid Docker environment"
## Describe the bug

I'm trying to run a bug reproducer (see https://github.com/quarkusio/quarkus/issues/16450#issuecomment-819466666) and the build fails because it is not able to find a valid Docker environment.

Podman is installed on my machine

### Expected behavior
The build detect and use Podman

### Actual behavior
Failure with the error message
[code]

[2021-04-15 10:09] geoand commented on #16437
Did you try to mock that method?

[2021-04-15 10:10] geoand commented on #16089
Yeah, this affects main only

[2021-04-15 10:18] karesti commented on #16386
@cescoffier I did the PR to upgrade to latest Infinispan btw

[2021-04-15 10:26] gavinking commented on #16255
Haha. OMG. Oooops.

I really did stare at that code for a long time without noticing that. How embarrassing!

[2021-04-15 10:30] gavinking commented on #16255
I have opened https://github.com/hibernate/hibernate-reactive/issues/707.

[2021-04-15 10:33] DavideD commented on #16255
If it can be of any consolation, you are not the only one who looked at that code.

[2021-04-15 10:39] mkouba commented on #16033
picocli [interactive options](https://picocli.info/#_interactive_password_options) might also help...

[2021-04-15 10:44] famod commented on #16416
Still happens: https://github.com/quarkusio/quarkus/pull/16533#issuecomment-820324489

[2021-04-15 10:49] sberyozkin commented on #16397
@fwippe Good point. well, if they are passed directly as classes to `RestEasy` - how does it create them for the injection to work ?

[2021-04-15 11:22] cescoffier opened #16544 "Improve serializer / deserializer detection the Kafka connector"
## Description

At the moment, the user must specify the key and value serializer/deserializer when using reactive messaging with Kafka:

[code]

(for key, if not set "String" is used).

In Quarkus we can detect the right value by inspecting the code:

* methods having an `@Incoming("foo")
* methods having an `@Outgoing("bar")
* injection of the `@Channel("foo") (Multi/Publisher<X>, Multi/Publishe

[2021-04-15 11:31] Reamer commented on #10559
@andreas-eberle and @alexsanzdev
I think you have a bug in your Dockerfile for jdk9 and above.
`java.security` is located under `/etc/alternatives/jre/conf/security/java.security`

I have not tested whether `/etc/alternatives/jre/lib/security/java.security` overrides the default. I have not found any documentation on this either.

[2021-04-15 11:33] fwippe commented on #16397
My best guess is `org.jboss.resteasy.core.providerfactory.ResteasyProviderFactoryImpl.injectedInstance(Class<? extends T>)`. It will involve picking the constructor with most parameters, though. I'm not sure how to hook into that construction process yet.

[2021-04-15 11:44] sberyozkin commented on #16397
@fwippe Sure - lets assume the provider has only a default constructor - what I'm curious about, does Resteasy do anything special to ensure the field injection (@Inject Tokens t; etc) into this provider works, how does it create an instance, once it finds the best match constructror

[2021-04-15 11:46] #16497 closed

[2021-04-15 11:48] vietj commented on #16430
can a reproducer without quarkus and only mutiny be provided ?

[2021-04-15 11:49] wtrocki opened #16547 "Quarkus OpenShift plugin should have option to deploy using Deployment instead of DeploymentConfig"
## Describe the extension

 Using deployment config is particularly problematic with SBO use cases as it requires to roll new deployment to see bindings etc. This way many people will be forced to use kubernetes plugin that is somewhat limited (doesn't expose routes etc.).

 It will be great to be able to use openshift features but have option to still use Deployment.
Deployment is also recommende

[2021-04-15 11:54] hhovhann commented on #16531
FYI: If you are using the script, it should be run via `source /scripts/init_email_test_env_variables.sh`, which works and init variables and email will be sent.
Tried also with the `.env` and added there the values but after running application via `mvn clean compile quarkus:dev` it gives an exception
[code]

[2021-04-15 12:00] geoand commented on #16547
I think we've heard this request in the past as well, right @iocanel?

It does sound useful to me

[2021-04-15 12:05] #16484 closed

[2021-04-15 12:15] ebullient commented on #16033
create-extension does have interactive prompting for options you don't specify..
Also, just by the bye -- I was messing with the existing create extension behavior, and the way it determines the layout and makes assumptions as a result is.. REALLY confusing. So that's something I also want to sort out.

See more conversation in the PR? @gsmet made some comments..

[2021-04-15 12:24] ge0ffrey opened #16548 "Default favicon.ico for quarkus-resteasy"
When adding an `index.html` file in `src/main/resources/META-INF/resources/` and opening it in a browser, the development console shows this error in the console:

![image](https://user-images.githubusercontent.com/176880/114868208-f5201180-9df5-11eb-8f41-32a46bad83fc.png)

_If and only if_ the user did not create a `src/main/resources/META-INF/resources/favicon.ico` file, Quarkus should automatic

[2021-04-15 12:33] #16534 closed

[2021-04-15 12:35] FroMage commented on #16437
Oh hold on. So yeah, I did mock it (and it's not getting called), but also, this isn't the mock that fails to implement it: it's the `ClientProxy`… Wow that's weird…

Huh, it's a covariant method `org.hibernate.query.Query createQuery(String queryString);`, where `org.hibernate.query.Query` extends the `javax.persistence.Query` interface returned by the supertype method, so perhaps something weird

[2021-04-15 12:42] mkouba commented on #16437
How do I reproduce the issue in few steps?

[2021-04-15 13:00] mkouba commented on #16033
Does it? I can't see it anywhere but it could be that I just need more caffeine ;-)

[2021-04-15 13:12] phelioz opened #16550 "Problem with loading resources with fast-jar"
## Describe the bug
In our project we load "directories" with resources under the class path.
So we get the class loader with ```Thread.currentThread().get_contextClassLoader()```
and the root of the class path would be  ```Thread.currentThread().get_contextClassLoader().getResource("")```

With legacy-jar packing this work great with both the file protocol (dev, test) and jar protocol (running ja

[2021-04-15 14:03] bpasson opened #16552 "kubernetes client extension fails when using in @Scheduled method"
## Describe the bug
When using the Kubernetes client extension inside an @Scheduled annotated method only the first few calls to the scheduled method give the expected results. Invocations after about 1 or 2 minutes give: Request Forbidden by administrative rules.

### Expected behavior
Every invocation of the @Schedules method should list services, see the reproducer project.

### Actual behavior

[2021-04-15 14:04] geoand commented on #16552
@iocanel @gastaldi @Ladicek do you have any ideas on why this could be happening?

[2021-04-15 14:11] gastaldi commented on #16552
Maybe there is a API Throttle threshold configured in the server to prevent DDoS attacks?

@bpasson which K8s server are you using? OpenShift?

[2021-04-15 14:29] Sanne opened #16553 "Explore DDL scripts from Hibernate ORM in the DevUI"
## Description

Hibernate ORM can automatically generate create/update/drip scripts for the database schema.

This is normally done when it's started (see #16483 ), as we expose some configuration properties which allow it to generate the `.sql` files when it starts.

However this feature is very useful during development, as one makes changes to the domain model and its mapping we want to immedia

[2021-04-15 14:33] Ladicek commented on #16552
I'd guess that if first few requests work and subsequent ones start failing with `Request Forbidden by administrative rules.`, without any obvious reason, it truly is "forbidden by administrative rules".

[2021-04-15 14:39] geoand commented on #16552
Is there maybe some Istio magic going on?

[2021-04-15 14:45] drissamri commented on #15652
This would be very cool, there's quite a bit of features unsupported in the current extensions (example: https://github.com/quarkusio/quarkus/issues/12168) this would probably solve that

[2021-04-15 14:46] #16089 closed

[2021-04-15 14:49] ia3andy commented on #16033
@ebullient there are 3 differents cases handled:
- in quarkus or quarkus/extensions: (quarkus layout)
- in an empty dir: standalone layout
- in an empty dir with io.quarkiverse.xxx as groupId: quarkiverse layout

Is it that confusing?

[2021-04-15 15:02] #16395 closed

[2021-04-15 15:07] ebullient commented on #16033
It is how it is determined and what attributes are (or are not) required that is magical/confusing.

[2021-04-15 15:08] ia3andy commented on #16033
If too confusing, we could make the layout part of the options or different subcommands `create-extension quarkus-core/standalone/quarkiverse` or something, I am not against it.

[2021-04-15 15:10] patriot1burke commented on #15652
I don't see a difference from specifying one artifact, 'quarkus-aws-sdk2', and specifying what features you want in app.props

vs.

specifying the mvn artifact for each feature you want.  The latter creates smaller JDK-based deployments.  So my vote would be to keep it the way it is.

I'm not sure the new AWS SDK will help us with Lambda.   We have to override JSON parsing because we need to have

[2021-04-15 15:15] pjgg opened #16555 "Vert.x 4 Serialization error (Native mode)"
## Describe the bug

Quarkus: 2.X Native mode.

I am working in a Vert.x application over Quarkus 2.x and I am getting the following error when I am trying to encode a `io.vertx.ext.auth.User` into a Json String through this method `Json.encode(user)` (Note that the user is empty).

Error:

[code]

I have tried to register an auth "user", for reflection through a `reflection-config.json` file or b

[2021-04-15 15:32] bpasson commented on #16552
@gastaldi This is plain Kubernetes 1.20 running. API server is placed behind HAProxy which validates the client certificate before submitting the request to the backend. I am under the impression after some time the client certificate is missing for some reason. It might be something with the proxy, but is there a way I can get some more information on the actual requests?

[2021-04-15 15:38] bpasson commented on #16552
@gastaldi @Ladicek I will test it against the API server without the proxy in front of it to see what happens.

[2021-04-15 15:40] turing85 opened #16556 "Mock of CrudRepository in QuarkusTest leads to ClassCastException"
## Describe the bug
When some `public EntityInterface extends CrudRepository<...>` is mocked in a `@QuarkusTest` and then installed through `installMockForType(...)`, a `ClassCastException` occurs.

### Expected behavior
The mock should be injected.

### Actual behavior
A `ClassCastException` occurs.

## To Reproduce

- Checkout https://github.com/turing85/quarkus-test-mock-bug
- Execute `./mvn te

[2021-04-15 15:40] drissamri commented on #15652
I don't mind one or multiple artifacts, I do think its important that we can leverage all the SDKs and features in GraalVM without having to provide extra settings or extensions if its already supported in the framework? I think that's the main point of @oztimpower

If the SDK provides GraalVM out of the box for all clients, what has to happen now in Quarkus to use them if there is not a specific

[2021-04-15 15:41] #14771 closed

[2021-04-15 16:06] geoand commented on #16556
For cases like this, you should use Quarkus' `@InjectMock` as mentioned in https://quarkus.io/guides/getting-started-testing#further-simplification-with-injectmock.

To do that you should remove `quarkus-junit5` and `mockito-core` dependencies and instead add `quarkus-junit5-mockito`.

Your code would like something like:

[code]

[2021-04-15 16:06] #16556 closed

[2021-04-15 16:51] fwippe commented on #16397
@sberyozkin The injection mechanism is abstracted in multiple layers. I guess it boils down to using the `Arc`-`BeanContainer` in `io.quarkus.resteasy.common.runtime.QuarkusInjectorFactory`.

[2021-04-15 17:05] fwippe opened #16557 "Oidc-Client-Filter: Retry with refreshed token on authorization error"
## Description

The OIDC Client Filter (`OidcClientRequestFilter`) should retry failed requests with a refreshed access token. Retries must only be done on authorization errors, maybe really only on return status `401`, and only once.

## Implementation ideas

We could introduce a new `RequestScoped` bean `RetryIndicator` with a property `retrying`. A new `@Interceptor` could wrap the REST client

[2021-04-15 17:05] kdubb commented on #16057
@barreiro In `1.13.2` #16372 bumps Agroal  to `1.11`. That contains the fix for this issue correct?

[2021-04-15 17:18] barreiro commented on #16057
@kdubb yes, correct! `1.13.2` has the fix for this issue.

[2021-04-15 17:18] #16057 closed

[2021-04-15 17:19] gsmet commented on #16057
@kdubb I was hoping you would confirm :)

[2021-04-15 17:23] sberyozkin commented on #16557
@fwippe thanks for the idea;
I was thinking about it but I really did not want it going beyond its role of acquiring the tokens - dealing with the failures related to the actual use of tokens is out of scope for what it has been created for which is to facilitate the token acquisition.
The only safe retry is when the token has expired - the filter has no idea if the token's signature has been brok

[2021-04-15 17:23] barreiro commented on #11330
Fixed in Quarkus `1.13.2` by #16372 updating Agroal to `1.11`. The issue in Agroal tracker is [AG-165](https://issues.redhat.com/browse/AG-165)

[2021-04-15 17:23] #11330 closed

[2021-04-15 17:24] kdubb commented on #16057
@gsmet Yes. Will confirm here soon.

[2021-04-15 17:28] sberyozkin commented on #16397
@fwippe the providers registered as classes are submitted directly into MP RestClient's RestClientBuilder. And yet the injection into these providers works. So it may well work with the instances as well. I'll experiment

[2021-04-15 17:32] barreiro commented on #16279
@apat59 Agroal `1.10` introduced on Quarkus `1.13.1` comes with improved leak detection. Unfortunately there is still some more work to be done on the Quarkus side to enable that feature, so stay tuned for that.

One possible cause for the leak could be [AG-154](https://issues.redhat.com/browse/AG-154) that is fixed in the same version.

[2021-04-15 17:38] kwakiutlCS commented on #14720
I believe this regressed in 1.13.1.Final (same in 1.13.2.Final). In 1.13.0.Final it was ok.

[2021-04-15 17:41] patriot1burke commented on #15652
I'm saying that its probably NOT as simple as "Hey if we include the new SDK everything will work on Graal".  We also need to investigate exactly what they've done as their graal switches might not be compatible with what Quarkus is doing.  Quarkus pushes a lot to static init by default, for example.

[2021-04-15 17:43] geoand commented on #14720
I'll take a look tomorrow

[2021-04-15 18:18] fwippe commented on #16557
@sberyozkin

We've been using the request filter for a few weeks now (using a time skew of 5 minutes). Sometimes the filter seems stuck in a state where it would simply reuse the token every time, never refreshing the token. I was not yet able to reproduce this state reliably, but I suppose there might be a race condition in the CAS Code of the `TokensHelper`. I was hoping this MR might offer a la

[2021-04-15 18:37] bpasson commented on #16552
@gastaldi @Ladicek testing confirmed it is an issue with HAProxy and the fabric8 kubernetes client. Not an issue for Quarkus. I'm closing this for now and will open one with fabric8 if I have more details around the cause. If you have any ideas on what could be happening I'd love to hear them.

[2021-04-15 18:37] #16552 closed

[2021-04-15 18:43] #16557 closed

[2021-04-15 19:05] sberyozkin commented on #16557
@fwippe Hi, OK, I see.

I agree with

big +1 :-)

If we get 401 - it could be N reasons - so even if there were no concerns about the race condition then attempting to refresh in all of those N-1 (which is exp issue) would only stress the system unnecessarily.

Please open an issue to investigate the CAS code.

[2021-04-15 19:48] tioback opened #16561 "Add `cleanDisabled` to Flyway configuration"
## Description

As mentioned in #6240 , `flyway.cleanDisabled` is not currently supported by Quarkus.

It might be needed in cases where you need to run Flyway manually and need to change behaviour through configuration, instead of coding.

## Implementation ideas

- Add to `io/quarkus/flyway/runtime/FlywayCreator.java:54`:

    `configure.cleanDisabled(flywayRuntimeConfig.cleanDisabled);`

- Add

[2021-04-15 20:15] bpasson commented on #16552
I have the issue solved, leaving a comment here if someone else hits a similar issue.

In HAProxy there are two ACL checks for verifying a client certificate was used in the request:
* ssl_fc_has_crt
* ssl_c_used

I was using the wrong one (ssl_fc_has_crt) for the purpose of checking for the presence of a client certificate.

Both accomplish verify if a client certificate was used, but with a subt

[2021-04-15 20:25] ntrp commented on #8461
I guess we are still far away from getting opentracing 0.33 in quarkus?

[2021-04-15 20:32] famod commented on #16550
/cc @stuartwdouglas

[2021-04-15 20:35] barreiro commented on #11929
This issue was addressed in [AG-158](https://github.com/agroal/agroal/pull/30) with feedback from Narayana team. Quarkus `1.13.1` has this fix.

[2021-04-15 20:35] #11929 closed

[2021-04-15 21:43] hrstoyanov commented on #14113
Please re-open:
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Need.20some.20help.20with.20Smallrye.20ConfigMapping

[2021-04-16 00:19] Paul6552 opened #16568 "Undertow request failed HttpServerExchange (...) Servlet path match failed"
## Describe the bug
I'm sorry if it's inappropriate, I wasn't sure if it was Quarkus, a library which is quarkus using, or maybe a badly secured endpoint.
I have the following error messages in the Quarkus log (pls see below)
The problem is not only the error message but also the Russian or Chinese websites. (e.g.` http://check.best-proxies.ru/azenv.php`)

[code]

### Expected behavior
No error me

[2021-04-16 03:57] jimbogithub opened #16569 "1.13.x WebSocket client Dev mode threading inconsistency"
1.13.x WebSocket client callbacks occur on the IO thread in Prod (e.g. in Docker image) but not in Dev mode (as if quarkus.websocket.dispatch-to-worker was set to true).  Hence in Dev mode we don't get the "blocking on I/O" warning if using an EntityManager or similar.

[2021-04-16 04:06] jimbogithub opened #16570 "1.13.x WebSocket server root problems"
The old Undertow WebSocket root path could be configured via `quarkus.servlet.context-path`.

This does not exist in the new implementation so I tried `quarkus.http.root-path`.  This appears to move the root but now at least in the context of WebSockets (I didn't experiment with REST) both `\` and the new root location both 404.

This can be reproduced by tweaking the ChatTest example config.

Wit

[2021-04-16 05:24] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/754441067

[2021-04-16 05:33] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/754440887

[2021-04-16 05:34] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/754441737

[2021-04-16 05:42] rpr13 commented on #16429
I have same error code.

`gradle clean build --debug --stacktrace`
[code]

I needed to add symlink from project to `/home/rpr/.gradle/daemon/7.0/.env`

[2021-04-16 06:03] TomasHofman commented on #16553
I'm going to investigate next week.

[2021-04-16 06:07] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/754442145

[2021-04-16 06:48] kwakiutlCS commented on #14720
I created a small reproducer explaining what I did because I think this is for jackson only, with jsonb works good
https://github.com/kwakiutlCS/reactive-scores

[2021-04-16 06:49] geoand commented on #14720
Thanks

[2021-04-16 06:53] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/754442145

[2021-04-16 07:12] YunaBraska commented on #16399
@loicmathieu its the same class as above... In that example I have the field `lastActivity` and want to have a custom setter with an array. As described at the start it doesn't matter how I name my additional method as I always get strange errors like `Unable to get value for property`. I tested it now with void instead of returning the object itself without any difference. Its somehow impossible

[2021-04-16 07:15] YunaBraska commented on #16399
I have finally found an ugly but simple workaround by not using words like `set` or `get` but that's not a nice convention specially as I am able to use `@BsonIgnore` on methods it should be recognised.

[2021-04-16 07:18] gwenneg opened #16571 "Request has already been read (Vertx)"
## Describe the bug
I updated Quarkus from `1.9.0` to `1.13.x` in a project recently and ran into the following exception:

[code]

It is thrown randomly if a `BodyHandler` is appended to a route and that route is then called from an HTTP request:

[code]

### Expected behavior
No exception thrown.

### Actual behavior
HTTP request is served sometimes, and sometimes it fails because of the excepti

[2021-04-16 07:20] gwenneg commented on #16571
[BodyHandlerBean](https://github.com/quarkusio/quarkus/blob/main/extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/devconsole/BodyHandlerBean.java) may play a role in this but I'm really not sure.

[2021-04-16 07:23] gwenneg commented on #16571
cc @cescoffier @stuartwdouglas

[2021-04-16 07:26] geoand opened #16572 "Add the ability to change the scope (and maybe other attributes) of beans"
## Description

Parts of the build may for some reason want to change the scope of a bean.
Currently there is no built in way to do this - one would need to manually hack together some annotation transformer related changes

[2021-04-16 08:00] mhautman opened #16573 "Quarkus Hibernate-orm-panache-common count throws NoResultException"
**Issue**: When executing a count() on a table which is empty a javax.persistence.NoResultException: No entity found for query is thrown.
**Expected behavior**: Returns 0 if the table is empty.

**The Problem**:

The class located here: https://github.com/quarkusio/quarkus/blob/main/extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtim

[2021-04-16 08:13] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/754449230

[2021-04-16 08:42] dreab8 commented on #16450
I managed to reproduce it in Hibernate and the fix for https://hibernate.atlassian.net/browse/HHH-14549 should resolve this issue

[2021-04-16 09:26] gwenneg commented on #16571
It seems the exception is only thrown for requests which are not supposed to have a body (`GET` for example). On the other hand, a request with a body (like `POST`) seems to always be served correctly.

[2021-04-16 09:27] pegrc opened #16576 "QuarkusClassLoader ignores method hierarchy when overriding overloaded methods in v1.13.x"
We seem to have encountered a bug, but it could very well be a configuration issue on our side as well. However, it's symptomatic that it only started happening after upgrading Quarkus to 1.13.x. Any help would be appreciated.

## Describe the bug

We are extending an abstract class and thus overriding an abstract method from a third party library(https://github.com/jboss-logging/jboss-logmanager/

[2021-04-16 09:28] jiayaoO3O commented on #14883
I had the exact same problem, until I read this issue, I didn't know that I had to use **Panache.withTransaction()**, which I think is very important information and should be explained in the **guides**

[2021-04-16 09:31] pegrc commented on #16576
Label is wrong it should be macOS.

[2021-04-16 09:32] michalszynkiewicz opened #16577 "Rest Client Reactive - passing headers with async return type doesn't work"
with
[code]

passing `MyHeader` works but with the following, it doesn't:
[code]

[2021-04-16 09:34] loicmathieu commented on #16399
I suggest you raised this issue at the Mongo Java driver side.
I agree that you should be able to have arbitrary methods starting with set as long as you annotate them to be ignored

[2021-04-16 09:51] iocanel commented on #16547
Yeah, this is something that has been requested quite a few times in the past and eventually we will have to address this request.

My biggest concern is that I am not comfortable adding an additional option into the mix (which will translate to at least 4 new major combinations), before we short out our CI around kubernetes/opesnhift.

[2021-04-16 10:11] famod commented on #16576
/cc @stuartwdouglas

[2021-04-16 10:14] gwenneg commented on #16571
Workaround: append a `BodyHandler` only to routes that actually need to access the request body.

[2021-04-16 10:16] famod commented on #16531
/cc @radcortez

[2021-04-16 10:22] geoand commented on #14720
https://github.com/quarkusio/quarkus/pull/16578 should fix the issue

[2021-04-16 10:43] wtrocki commented on #16547
I see this architecture as different things.

Instead of kuberentes and openshift as targets quarkus properties should control what additional objects will be included into spec.

So instead of Openshift.yml or kubernetes.yaml - there could be app.yaml - with deployment (kubernetes concept), route openshift concept etc. This way people could also add their own extensions in the future if they need

[2021-04-16 10:45] rsvoboda opened #16580 "devtools - BuildFile - possible NPE"
https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/buildfile/BuildFile.java#L131

[code]

`return isDefinedInRegistry(catalog.getExtensions(), key);` would throw NPE for `catalog` if it is reached

[2021-04-16 11:03] rsvoboda opened #16582 "registry client - MavenRegistryClientFactory - identical code in if-else branches"
https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/registry-client/src/main/java/io/quarkus/registry/client/maven/MavenRegistryClientFactory.java#L198

[code]

[2021-04-16 11:25] maxandersen commented on #16471
@flygarej could you make a PR for the change ? i'm not sure I would do it proper justice :)

just to be clear - what image does "the Docker image" refer to here specifically ?

[2021-04-16 12:01] cmoulliard commented on #12324
I also experimented this error on centos7 VM using podman.

[2021-04-16 12:06] geoand commented on #16576
Any chance we can get a simple reproducer?

[2021-04-16 12:10] 0SkillAllLuck commented on #14820
For anyone experiencing the same issue I have found a workaround by appending all grpc calls with:
[code]

[2021-04-16 12:13] iocanel commented on #16547
Hi @wtrocki.

Thanks for sharing your thoughts. The documentation could need some love as its currently easy to get lost into the maze of different configuration possible.

Please find some comments inline:

I like having a platform agnostic name, however this means that we will no longer be able to let users generate manifests for multiple platforms in a single step and then decide were to deploy

[2021-04-16 12:53] kenfinnigan commented on #8461
This is present in `main` and will be released as part of the 2.x stream

[2021-04-16 12:53] #8461 closed

[2021-04-16 13:22] famod commented on #16524
Unfortunately, this still happens: https://github.com/quarkusio/quarkus/pull/16250/checks?check_run_id=2361425088

[2021-04-16 13:55] Sanne commented on #11929
thanks @barreiro . Please when you upgrade Agroal it would help if you mark it with "Fixes #issuenumber"  on the PR, that would help to track which versions have the bugfixes.

[2021-04-16 14:15] flygarej commented on #16471
I'll give it a shot.
I tested using1.13.1.Final, and created a sample project.

In the src/main/docker/Docker.jvm there is an error, resulting i a build that does not match what was intended.

The problem is the line

**&& echo "securerandom.source=file:/dev/urandom" >> /etc/alternatives/jre/lib/security/java.security**

The problem with this is that the location is not valid for Java > 8. Up to a

[2021-04-16 14:28] pegrc commented on #16576
Hey @geoand I've provided a small project as a zip in the original post which includes the offending library.

[2021-04-16 15:08] bfontana commented on #14835
@glefloch, I tested again and it worked like a charm. Thanks for your help.

[2021-04-16 15:12] glefloch commented on #14835
Great, thanks for the feedback.  I close the issue then.

[2021-04-16 15:12] #14835 closed

[2021-04-16 15:21] sberyozkin commented on #13205
@cemnura Hi,  by the way, please check `TestSecurity`'s `authorizationEnabled` attribute - perhaps setting it to `false` is more effective. For example, `integration-tests/oidc-code-flow` has one test involving `TestSecurity`

[2021-04-16 15:34] sberyozkin commented on #13205
@cemnura Let me ping you offline as indeed it is effective - sorry, I was not really aware of this flag until recently. I'll resolve this issue with a doc update

[2021-04-16 15:43] nragon commented on #14431
I have third level child module with META-INF/branding which is not going to generated-bytecode on swagger-ui during package.
Is this related?

[2021-04-16 15:46] geoand commented on #16576
Thanks

[2021-04-16 16:13] yrodiere opened #16589 "Simultaneous use of persistence.xml and quarkus.hibernate-orm.* properties is not actually forbidden"
## Describe the bug

The [Hibernate ORM guide](https://quarkus.io/guides/hibernate-orm#setting-up-and-configuring-hibernate-orm-with-a-persistence-xml) states:

But it's not true.

### Expected behavior

We should either remove this statement from the documentation, or actually enforce it and test it correctly.

I'd say unless we have good reasons, we should just allow mixing `persistence.xml` wit

[2021-04-16 16:14] yrodiere commented on #16589
@Sanne, @gsmet , any opinion on this one?

[2021-04-16 16:18] manuelbl opened #16590 "Qute type-safe expression in type-safe message results in NPE"
## Describe the bug
If a collection-like parameter for a Qute template is declared using the `{@type name}` syntax and collection items are then used as a parameter for type-safe messages, Quarkus is unable to build and start.

### Expected behavior
Type-safe message parameters work whether the argument type has been declared in the template or not.

### Actual behavior
Quarkus is unable to build

[2021-04-16 16:48] tsegismont commented on #16444
@pjgg I filed https://github.com/eclipse-vertx/vertx-sql-client/issues/935

[2021-04-16 17:16] csotiriou opened #16592 "RESTEasy + Jackson + PATCH application/merge-patch+json gives error 500"
## Describe the bug
RESTEasy gives error 500 on PATCH requests when combined with the `quarkus-resteasy-jackson` module, and the content type is `application/merge-patch+json`

### Expected behavior
The PATCH request should proceed normally

### Actual behavior
An error of 500 is being returned, with a message: `javax.ws.rs.ProcessingException: GET method returns the patch/merge json object target

[2021-04-16 17:20] geoand commented on #16592
@ronsigal care to take a look at this one?

[2021-04-16 17:29] ronsigal commented on #16592
Hi @geoand, yes, I'll can take a look, assuming the problem occurs in Linux. I don't have a functioning Windows machine or any Mac machine.

[2021-04-16 17:30] geoand commented on #16592
Thanks!

I assume the problem is not Windows specific, I'd be surprised if it is 🙂

[2021-04-16 17:45] csotiriou commented on #16592
Just to be 100% certain, I just tested it on Linux and I can confirm that the issue also exists there.

[2021-04-16 19:19] kdubb commented on #10162
@akoufa Until RESTEasy Reactive includes coroutines support.  I used your guidance to create the following "scope" function to adapt resource methods.

[code]

It's used as...

[code]

Is this considered to be efficient or is it dispatching to worker threads and waiting on them? Other than knowing the executor is the Mutiny default executor I have no idea if that's the executor Quarkus uses intern

[2021-04-16 19:26] geoand commented on #10162
Barring unforeseen events, Kotlin Coroutine support will be present in the first Alpha of Quarkus 2.0 (see th linked PR for details)

[2021-04-16 19:48] ronsigal commented on #16592
Ok, thanks.

[2021-04-16 20:15] famod commented on #16369
@cescoffier You mean in the last 4 days or so? No, I don't think so.

[2021-04-16 20:30] evanchooly commented on #10162
2 more CI jobs to finish and then I can merge.  Hopefully in the next hour or so.

[2021-04-16 21:04] #10162 closed

[2021-04-16 21:15] asodja opened #16596 "Quarkus Gradle plugin breaks Gradle incremental compilation"
## Describe the bug
After upgrading to Quarkus 1.13.x I've noticed that all modules that use Quarkus plugin are fully rebuilt everytime. That increases our build times. The issue seems to be related to these fixes: https://github.com/quarkusio/quarkus/pull/16214 and https://github.com/quarkusio/quarkus/pull/15365.

From Gradle logs I get:
[code]

I think that putting whole compile classpath to ann

[2021-04-17 03:39] kdubb commented on #16057
@gsmet @barreiro Switching to `1.13.2` removes all of our leaked connection warnings. 👍

[2021-04-17 06:15] essobedo opened #16599 "Allow to filter dependencies in multi-build mode"
## Description

Thanks to #16053, it is now possible to build several artifacts from one module but it is not yet possible to have a way to filter out some dependencies such that we could end up with artifacts containing useless dependencies. The idea of this feature is to go a little bit further by proposing a way to filter out the dependencies.

## Implementation ideas

The idea could be to mark

[2021-04-17 06:43] essobedo commented on #16599
The corresponding PR https://github.com/quarkusio/quarkus/pull/16600

[2021-04-17 06:45] asodja commented on #16596
I was thinking about it a bit more. It's just my opinion: modifying users classpaths/annotation paths by plugin is from my "user" view not a good thing. Since I don't have control over my app. I see some issues here when user defines his own annotation paths, but then plugin overrides it. Also there might be issues with order of annotation processors, for example if user uses lombok.

Maybe it mig

[2021-04-17 07:10] glefloch commented on #16596
Thanks for reporting this @asodja.
User annotation processor are not lost. We append user annotation processors alongside quarkus annotation processors.
Regarding the order, I think user comes first but I will double check. We can make it configurable if this becomes an issue.

I don't understand why this triggered a full build. I will check. But if this become an issue we will definitely have to

[2021-04-17 11:52] maxandersen opened #16601 "migrate from master to main in quarkiverse"
## Description
ecosystem-ci repo default branch are being renamed from master to main. need to update all the quarkiverse repos.

We want to rename the https://github.com/quarkusio/quarkus-ecosystem-ci default branch from `master` to `main`, however by doing so, this might break the builds for a CI participant unless a small update to their `.github/workflows/quarkus-snapshot.yaml` files is perfor

[2021-04-17 11:53] oberstrike opened #16602 "OIDC authentication for websockets doesn't work in 1.13.*"
As @devauxbr mentioned, the bug is not related to Kotlin and may be fixed in the future.

[2021-04-17 12:02] maxandersen commented on #16601
step 1: git clone all quarkiverse quarkus extensions:
[code]

step 2: remove all ref: master lines
[code]

if on non-osx use `sed -i` without ''

step 3: add the expected file:
[code]

step 4: fork all repos using hub
[code]

step 5: switch branch
[code]

step 6: commit locally
[code]

step 7: push to own branch
[code]

step 8 create shared pr msg:
[code]

step 9: submit prs
[code]

[2021-04-17 12:28] asodja commented on #16596
Thank you for fast response. I believe that full recompilation happens, because Gradle has incremental annotation compilation and that is why a separate annotation classpath. And any change on annotation processor classpath is basically a signal to Gradle: some annotation processor changed, you will have to do a full recompilation otherwise incremental compilation will produce incorrect result.

I

[2021-04-17 12:44] vladykin opened #16603 "Health check for quarkus-smallrye-reactive-messaging-amqp reports UP when message broker is down"
## Describe the bug
My application uses quarkus-smallrye-reactive-messaging-amqp to connect to Apache Artemis.
When application is starting up and can't connect to Artemis, `/q/health` endpoint correctly reports `[DOWN]`.
When Artemis becomes available, application's health endpoint correctly reports `[UP]`.
But when Artemis goes down again and application loses connection with it, the health endp

[2021-04-17 12:52] gastaldi commented on #16601
Fantastic! Thank you so much!

[2021-04-17 13:04] maxandersen commented on #16601
keeping it open until all prs closed.

[2021-04-17 16:39] sberyozkin commented on #16602
Hi @oberstrike It is hard to do anything about this issue without a reproducer - please create the one for us to have a look

[2021-04-17 19:53] mattiaforc opened #16605 "JsonB with ssl and http/2 almost always receive null payload"
## Describe the bug
When quarkus is running with ssl enabled and requests are made using HTTP/2, almost all the times the JsonB deserializer fails due to a I/O exception when reading the payload. The exception is generated by the underlying input stream from which the request is read, which is empty after the initial handshake.
I believe this happens only with the combination of JsonB, HTTP/2 and

[2021-04-17 20:47] oberstrike commented on #16602
@sberyozkin its really hard to make a reproducer because it has so many dependencies like keycloak configuration etc. But I'll try my best to do one.

[2021-04-17 22:23] heubeck commented on #16406
Hi @kenfinnigan,

I did tests with clean code-with-quarkus projects, the behavior of Java and Kotlin is exactly the same as described below.

Just for clarification: I don't have an opinion whether that behavior should be changed, there was a short discussion in Zulip with the result to create an issue for discussing about and an open outcome.

The root course, why this came up, is, that RESTEasy

[2021-04-18 00:14] gwenneg opened #16607 "Cache the item emitted by a Uni instead of the Uni itself"
As discussed on [Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Quarkus.20Cache.20on.20method.20which.20returns.20Uni/near/234875432), when a method that returns a `Uni` is annotated with `@CacheResult`, the `Uni` is cached which is not very helpful because it is executed on each method call. We should cache the item emitted by the `Uni` instead of the `Uni` itself.

[2021-04-18 06:49] nosaku commented on #12743
@gastaldi Sorry I have not tried as of yet with new version. I will check in a day and comment here. @brunobastosg Thank you for the tip. I will try soon.

[2021-04-18 07:25] nosaku commented on #12743
@gastaldi @brunobastosg Just now tested with Eclipse 2021-03 and I can confirm that the red button is stopping the Java process. Thanks for the followup and I can close this issue as resolved.

[2021-04-18 07:25] #12743 closed

[2021-04-18 08:25] cescoffier commented on #16603
The behavior is "expected". Let me explain (and we should improve that).

The AMQP connector has a retry policy. By default, it retries 100 times, with exponential back-off. It does not report "down" until all these retries have been attempted.
The retry is configured as follows:

[code]

`retryInterval` is 10 by default, and `retryAttempts` 100 by default.

In your test, you wait for 30 seconds.

[2021-04-18 15:47] harrison-nc opened #16610 "Cannot access Quarkus microservices running in wsl 2 from windows when using development mode."
## Describe the bug
I have a quarkus application in WSL 2 using Maven. While building the application in development mode with `mvn compile quarkus:dev` I can access it with cURL or Httpie in WSL.  But, connecting to the application from windows using a browser fails.

However, when the application is packaged and the jar is run with `java -jar path/to/jar` it can be access from both WSL and Windo

[2021-04-18 17:37] mschorsch commented on #10162
@kdubb What do you think of the following? This should be much more efficient because we dont dispatch to worker threads and stay on the Vert.x event loop.

[code]

[2021-04-18 20:26] bpasson opened #16612 "Controlling Service Account roles when using the Kubernetes and Kubernetes Client extension"
## Description
It currently is impossible to disable the service account generation when using the Kubernetes en Kubernetes Client extension in a project. It gererates a service account and a rolebinding linked to view role. Sometimes this is not strict enough. It is possible to work around using Kustomize, but this way using the deployment feature of the Kubernetes extension is impossible.

Being

[2021-04-18 20:30] geoand commented on #16612
cc @iocanel

[2021-04-19 01:30] jiayaoO3O commented on #14883
Hi @FroMage ,
I would like to ask a question, when I use **@Transactional**, I tend to add **@Transactional** annotation in the **service layer** of the application, where there are many methods in a service, and when these methods throw an exception, **the whole transaction is rolled back**. But when I use **quarkus-hibernate-reactive-panache**, I find that I have to use **Panache.withTransaction

[2021-04-19 03:20] phillip-kruger commented on #14431
No I do not think this is related. We only scan first level.

[2021-04-19 05:05] geoand commented on #14113
Do you have an example I can use to test this?

[2021-04-19 05:23] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/762395623

[2021-04-19 05:32] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/762395483

[2021-04-19 05:38] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/762396422

[2021-04-19 05:47] stuartwdouglas commented on #16576
@mkouba sounds like an arc issue, looks like ArC is trying to override a final method.

[2021-04-19 05:49] kraeftbraeu opened #16613 "quarkus:dev with quarkus-jdbc-d2 ignores db2jcc_license_cisuz dependency"
## Describe the bug
Trying out quarkus-jdbc-db2 to connect to our mainframe db2 I found a weird behaviour:

After adding the dependencies quarkus-jdbc-db2 and my db2jcc_license_cisuz and running mvn package I can run the quarkus-run.jar and it connects to the db.

But when I start quarkus:dev and query the db I get a "missing license" error (see below).

### Expected behavior
I expect quarkus:dev