[2019-12-31 05:04] thomaswue commented on #6222
Issues https://github.com/oracle/graal/issues/1995 and https://github.com/oracle/graal/issues/1927 are mentioned as fixed in 19.3.0.2 release notes. Other issues seem closed except for https://github.com/oracle/graal/issues/1984 (where a JDK backport fix into 8u is proposed by @adinn). Let us know if there are other issues to consider or issues to reopen @emmanuelbernard.

[2019-12-31 10:19] zapho opened #6363 "quarkus bypasses maven Nexus when running 'mvn test'"
**Describe the bug**
Same as https://github.com/quarkusio/quarkus/issues/2470
Case reproducer here https://github.com/zapho/issue-quarkus-bypass-nexus

**Expected behavior**
mvn test should run normally

**Actual behavior**
mvn test fails because of maven dependency resolution issue

**To Reproduce**
See https://github.com/zapho/issue-quarkus-bypass-nexus

**Configuration**
See https://github.com/

[2019-12-31 11:24] machi1990 commented on #6222
I have opened a draft PR #6364 to update the Graal version and add neo4j IT tests in CI.
/cc @gsmet @gwenneg @michael-simons

[2019-12-31 13:50] gunnarmorling opened #6366 "Raise more meaningful exception when referencing non-existent type in Qute template"
I have a type `com.example.Item` but accidentially referred to it using a different name in a Qute template: `{@org.acme.Item item}`. There should be a clear error message indicating that `org.acme.Item` doesn't exist, instead I'm getting this stacktrace which isn't very helpful:

[code]

[2019-12-31 13:50] gunnarmorling commented on #6366
CC @mkouba.

[2019-12-31 13:52] gunnarmorling opened #6367 "Document Qute template expression language"
I couldn't find any reference documentation for Qute template expressions, only some examples in [its guide](https://quarkus.io/guides/qute). There should be a reference for supported expression constructs and syntax.

[2019-12-31 14:12] nimo23 commented on #6339
I read the issue and dont like it..why does "quarkus do homebrew again" instead of focusing or improving jakarta specs. If jcache has limitations, then please consider to improve it by contributing to the spec instead of doing homebrew and splitting the community. Why not using already established jcache providers and simplifiying the use in Quarkus with `PanacheCache` (with the same idea as Panac

[2019-12-31 14:23] nimo23 commented on #6339
I read the issue and dont like it..why does "quarkus do homebrew again" instead of focusing or improving jakarta specs. If jcache has limitations, then please consider to improve it by contributing to the spec instead of doing homebrew and splitting the community. Why not using already established jcache providers and simplifiying the use in Quarkus with `PanacheCache` (with the same idea as Panac

[2019-12-31 16:01] gsmet commented on #6363
@aloubyansky is it something you already fixed or is it a new one?

[2019-12-31 16:03] gsmet commented on #6355
We are still using GraalVM 19.2.1 (see https://quarkus.io/blog/why-graalvm-19-2/ for more details about the why) and it might be due to the Windows support in GraalVM still being experimental.

One option would be to try latest master with GraalVM 19.3.0.2 and see how it goes.

[2019-12-31 16:17] gsmet commented on #6367
Have you seen the more complete reference guide? https://quarkus.io/guides/qute-reference

[2019-12-31 16:52] gunnarmorling commented on #6367
Ah, no, I haven't. Thanks, that's largely what I was looking for. Would
just be good to add a link from https://quarkus.io/guides/qute to the
reference for easier navigation, otherwise this issue can be closed.

[2019-12-31 17:19] machi1990 commented on #6367
Aaah did not know we had this. Thanks @gsmet

Let me propose a PR.

[2020-01-01 08:40] extraclassi commented on #6355
I'm really looking forward to the day when they get that good job on windows 10 too

[2020-01-01 11:40] gunnarmorling opened #6369 "Support complex expressions in Qute"
I'd like to use boolean operators like `&&` and `||`.  Currently, when using an expression such as `{update && todo.completed}`, I'm getting a stacktrace like this (both `update` and `todo` are variables in the template context):

[code]

Interestingly, behavior is different when using an `if`:

[code]

In this case no exception is raised but it seems the second operand is silently ignored.

[2020-01-01 17:21] tobad357 commented on #3041
@Dufgui / @cescoffier Any update on this or anything I can help with to get this added?

[2020-01-01 22:11] #6367 closed

[2020-01-02 07:31] BornToRain commented on #2019
Is it settled now? I had the same problem.

[2020-01-02 08:39] rsvoboda opened #6372 "integration-tests/jpa-mysql test fails against docker instance"
integration-tests/jpa-mysql test fails against docker instance - `mvn clean install -Dtest-mysql -Ddocker -pl integration-tests/jpa-mysql`

From the stacktrace the most important message seems `Caused by: java.io.EOFException: Can not read response from server. Expected to read 4 bytes, read 0 bytes before connection was unexpectedly lost.`

Tests are passing when running against already running d

[2020-01-02 08:39] sebastienblanc commented on #305
+1 I was also triggered by the K8S guide mentioning support of ConfigMap and I could not find anything in the Configuration guide.

[2020-01-02 08:42] geoand commented on #6372
Let me check and see

[2020-01-02 09:14] cescoffier commented on #3041
The protobuf support should be in its own extension and manage the generation of the classes and registration.
Same would be required for Avro (even if Avro is a bit more flexible as it support "generic" classes).

[2020-01-02 09:15] cescoffier commented on #2019
The number of instances can only be set if you pass the class name (and not the instance of the verticle).

[2020-01-02 10:01] lssoares opened #6374 "Duplicate method Error on @QuarkusTest when PanacheRepositoryBase method is @Overrided"
**Describe the bug**
When a PanacheRepositoryBase is @Overrided, tests on a @QuarkusTests annotated class will fail with a duplicated method message error.

**Expected behavior**
Tests should run using the method code that overrides the PanacheRepositoryBase method.

**Actual behavior**
Tests fail with the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a class

[2020-01-02 10:47] emmanuelbernard commented on #6222
Thanks @thomaswue Looking at oracle/graal#1984, I see the following actions:

- [ ] @johnaohara to double check the JDK 11 memory usage. In his tests, JDK 11 was having a similar "extra" memory usage as JDK 8 which does not match the reading of the code and proposed backport of the patch from 11 to 8.
    - if the extra memory for JDK 11 is confirmed, then we are back to square 1 having to find a

[2020-01-02 10:57] adinn commented on #6222
@emmanuelbernard jdk8u is currently frozen pending release of 8u242. I prepared and successfully tested the backport and posted an RFR today asking to push to the jdk8u-dev tree. So, it ought to be available in  u252 released in early April.

[2020-01-02 11:36] #6372 closed

[2020-01-02 12:12] iain-raidiam opened #6376 "Access AwsProxyRequest object with amazon-lambda-http"
**Description**
We should be able to access the AwsProxyRequest object when usng the amazon-lambda-http extension. This could be to retrieve context information from a lambda authorizer https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-lambda-authorizer-output.html or cognito https://aws.amazon.com/blogs/compute/authorizing-access-through-a-proxy-resource-to-amazon-api-gatew

[2020-01-02 12:15] geoand commented on #6344
@debae I was able to make `./gradlew clean build` work on your reproducer for Quarkus `1.1.0.Final`.

Basically all I did was follow the [migration guide](https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.1#gradle-plugin) and apply version `1.1.0.Final` to all necessary properties.

For reference, here is the `git diff` of the changes I made:

[code]

[2020-01-02 12:32] sfcoy opened #6377 "Maven create-extension does not create associated integration test stubs"
**Describe the bug**
[Quarkus - Writing Extensions §2.2.1. Create new extension modules using Maven](https://quarkus.io/guides/writing-extensions#create-new-extension-modules-using-maven) describes the steps required to generate the modules and source code stubs to build a Quarkus Extension.

It states that it "Creates four new Maven modules".

However, it only creates the first three modules list

[2020-01-02 12:49] johnaohara opened #6379 "native image build fails on graal-ce-java11-19.3.0.2"
**Describe the bug**
Native image build fails with the following exception using graal ce 19.3.0.2
[code]

[2020-01-02 13:03] gsmet commented on #6379
@johnaohara I added a commit here: https://github.com/quarkusio/quarkus/pull/6364

[2020-01-02 13:17] johnaohara commented on #6379
The native image builds successfully after removing the Bootloader substitutions ( https://github.com/machi1990/quarkus/commit/c64acd61ccfa13e363418a895e989a7a64608050)

[code]

[2020-01-02 13:18] irenakezic commented on #6374
I think you should inject ExampleRepository in your test and it should work as expected.
[code]

[2020-01-02 13:18] geoand commented on #6379
I made the fools errand of trying to remove them one by one and of course they are all needed :)

[2020-01-02 14:14] lssoares commented on #6374
Trying to avoid the instance variable as suggested on issue: https://github.com/quarkusio/quarkus/issues/1724

Anyway, the example is just overriding an interface method... it should work either by using @Inject or by manually getting an Instance of the bean. What am I doing wrong?

[2020-01-02 14:54] Mason-Harding opened #6382 "Access pre-compiled reflection information at run-time"
**Description**
It would be great to have a way to access reflection information that has been pre-compiled into a class, at runtime.  Writing my own extension seems like a fairly daunting task.  If I could just add an annotation to a class, then Quarkus would compile that reflection information and provide a way to access it at runtime, it would make using it in my own code very simple.  This is

[2020-01-02 16:46] geoand opened #6383 "Using mvn package -Pnative instead of -Dnative, leads to CCE"
**Describe the bug**
When executing `./mvnw package -Pnative` against a newly generated project, instead of a getting a native image built, we get the following error:

[code]

This only happens with `master`, Quarkus `1.1.0.Final` works fine.

The issue was originally found by @aureamunoz when she was working on some Quarkus material.

There is a workaround which is to use `-Dnative`, but we shou

[2020-01-02 16:47] geoand commented on #6383
I have a fix for this incoming.

[2020-01-02 21:11] zapho opened #6385 "ConfigProperty quarkus.profile always set to "prod""
**Describe the bug**
When using `@ConfigProperty(name = "quarkus.profile") String profile`, `profile` is always set to "prod" regardless of the execution mode (dev, test, prod).

**Expected behavior**
When running quarkus:dev, `profile` should be "dev".
When running @QuarkusTest, `profile` should be "test".

**Actual behavior**
When running quarkus:dev, `profile` is "prod".
When running @QuarkusTe

[2020-01-02 21:34] #6383 closed

[2020-01-03 07:10] KaenDagger commented on #1157
@geoand according to @mkouba comment we should open the classes which are annotated with with these annotations like `@ApplicationScoped, @RequestScoped`, I didn't understand other functions which this compiler plugin has to perform. If we can directly add these annoations in `all-open` plugin

[2020-01-03 07:15] geoand commented on #1157
@KaenDagger the idea is to have our own compiler plugin so that we don't have to configure the `all-open` plugin for every Quarkus application using Kotlin.
If we had the plugin, all we would do is configure that plugin and everything would be taken care of.

It makes things easier in the following ways:

* Less configuration in `pom.xml` (or `build.gradle`)
* By having a plugin we can update it i

[2020-01-03 07:20] KaenDagger commented on #1157
I get it now. I myself added some options to configure. Developer of the project has to manage those options themselves. By making the compiler plugin we would make that work easy for that developer of the project.
I get it now. thanks

[2020-01-03 07:23] geoand commented on #1157
Exactly :+1:

[2020-01-03 09:31] Tayeh opened #6389 "Qute with JS and Css Failed on build"
**Describe the bug**
the Qute parser not sure how to deal with the JS and CSS on the template

**Expected behavior**
https://pastebin.com/B807iJxH

**To Reproduce**
Steps to reproduce the behavior:
1. I'm trying to use qute with a html templete
2.  the quarkus faild on bulid and get the error on the link above
3.

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help ex

[2020-01-03 09:57] KaenDagger commented on #1157
i have gone through the spring wrapper of all-open

In the maven version. They have added this [KotlinSpringMavenExtension](https://github.com/JetBrains/kotlin/blob/d73e6c855baa6066ba784bf2c77a1ca5854e70fc/libraries/tools/kotlin-maven-allopen/src/main/kotlin/AllOpenMavenPluginExtensions.kt#L43)

For gradle they created [SpringGradleSubPlugin](https://github.com/JetBrains/kotlin/blob/d73e6c855baa60

[2020-01-03 10:00] geoand commented on #1157
Yes that's what we tried to do and the Kotlin team prefered to go a different route... See https://github.com/JetBrains/kotlin/pull/2421

[2020-01-03 10:08] tsegismont commented on #4900
@yuhaibohotmail I downloaded your code but can't reproduce (even after removing resteasy-jackson-jsonb dependency)

@fandiluo I tried to download your code but the link has expired.

Can one of you please share on GitHub a reproducer project? Without commented code and a list of reproduction steps, expectations/failures? Thank you

[2020-01-03 10:33] gunnarmorling opened #6391 "Build-time validation of Qute templates"
I was expecting that an invalid reference in a Qute template (e.g. typo in variable name) would raise an error upon `mvn clean package`, but that's not the case. Is this planned for the future?

[2020-01-03 11:02] gsmet opened #6392 "Infinispan Embedded: config file not included in native image"
This one was reported by a user so we apparently have people using this extension.

Currently the configuration file is configured at runtime (see https://github.com/quarkusio/quarkus/blob/master/extensions/infinispan-embedded/runtime/src/main/java/io/quarkus/infinispan/embedded/runtime/InfinispanEmbeddedRuntimeConfig.java#L19) and not included in the native image which makes the native image fail

[2020-01-03 11:02] KaenDagger commented on #1157
I see. I will contact yanex for more info

On Fri, 3 Jan, 2020, 3:30 PM Georgios Andrianakis, <notifications@github.com>
wrote:

[2020-01-03 12:15] geoand commented on #6385
You can retrieve profile information is via  `ProfileManager#getActiveProfile`. However I'll take a look at your issue and see if we can do something about it

[2020-01-03 12:17] geoand commented on #6385
@gsmet @dmlloyd should we perhaps document the proper way to retrieve the profile?
This is not the first time the problem has shown up...

[2020-01-03 12:29] zapho commented on #6385
@geoand thanks for the tip, it works fine.

`ProfileManager#getActiveProfile` vs `@ConfigProperty(name = "quarkus.profile")`, it is indeed confusing from an external point of view...

[2020-01-03 12:30] geoand commented on #6385
@zapho Yes, that is absolutely understandable and we should make the situation more clear

[2020-01-03 12:44] geoand commented on #6385
Documentation has now been added in the configuration guide.

Thanks for reporting!

[2020-01-03 12:44] #6385 closed

[2020-01-03 13:25] HelvetiaAppDev commented on #3485
Unfortunately I cannot get this to work. I'm on quarkus 1.0.1.Final and followed the example(s) here:
https://quarkus.io/guides/openapi-swaggerui#providing-application-level-openapi-annotations

I added a class that extends _javax.ws.rs.core.Application_ with the _@OpenAPIDefinition_ annotation, just like the ExampleApiApplication from the guide (actually exactly that code snippet).

The endpoints

[2020-01-03 13:26] flo-ryan commented on #3485
Unfortunately I cannot get this to work. I'm on quarkus 1.0.1.Final and followed the example(s) here:
https://quarkus.io/guides/openapi-swaggerui#providing-application-level-openapi-annotations

I added a class that extends javax.ws.rs.core.Application with the @OpenAPIDefinition annotation, just like the ExampleApiApplication from the guide (actually exactly that code snippet).

The endpoints and

[2020-01-03 14:24] loicmathieu commented on #3969
@hantsy for MongoDB with Panache we provide `entity.saveOrUpdate()` that save the entity if not existing in the database otherwise update it.

Will the same functionality on Hibernate with Panache OK for you ?

Some pseudo code implementation would be :

[code]

Warning that as `isPersistent` uses `EntityManager.contains()` it will not works if the entity is not yet managed by the entity manager b

[2020-01-03 14:45] dirkweil opened #6394 "Tests fail with java.lang.ClassNotFoundException: java.lang.reflect.Method"
Running a test with mvn test failes with java.lang.ClassNotFoundException: java.lang.reflect.Method

The failure appeares since Quarkus 1.1.0.Final after adding two (harmless?) dependencies into pom.xml.

https://github.com/GEDOPLAN/quarkus-test-reflect-method-not-found contains a small project for reproducing the behaviour. The project is based on the guide project https://quarkus.io/guides/getti

[2020-01-03 14:58] fandiluo commented on #4900
I just tried different versions.
Found that 1.1.0 does not happen.
But 1.0.1 and 1.0.0 exist this bug

@tsegismont  Try it. Thanks!
https://github.com/fandiluo/reproduce

[2020-01-03 15:14] fcracker79 commented on #2461
Up to this point I managed to use Quarkus to implement an Alexa skill, not natively. Unfortunately, though, it seems to be that when I try to make it native, the compilation fails because of references to unsupported methods (mostly from `java.lang.Thread`).
I have opened an issue on StackOverflow (https://stackoverflow.com/questions/59531126/native-quarkus-with-aws-lambda-does-not-build/59576326#

[2020-01-03 15:15] lordofthejars commented on #5877
@geoand it was created but no feedback

[2020-01-03 15:18] geoand commented on #5877
@lordofthejars Thanks.

Under what condition do you envision that we would revert to https? I mean how would this be configured by the user?

[2020-01-03 15:43] mkouba commented on #6391
Expressions are only validated if "parameter declarations" are used in a template, see https://quarkus.io/guides/qute-reference#parameter-declarations for more information. Otherwise it wouldn't be possible e.g. to connect an expression with a type. In other words, a template without param declarations does not know anything about the data that will be available at runtime.

[2020-01-03 15:45] fcracker79 opened #6395 "Alexa SDK not working in native mode"
**Describe the bug**
When trying to use Alexa SDK with Quarkus, it works in non-native mode, but fails when compiling in native mode.

**Expected behavior**
I would expect it to compile smoothly in native mode.

**Actual behavior**
The compilation fails because of reference to unsupported methods.

For instance:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `mvn archetype:generate

[2020-01-03 15:49] mkouba commented on #6369
Neither of these is supported ATM (and it's documented ;-). I personally tend to avoid complex expressions in templates (as it usually leads to more error prone code) and follow the idea of templates with minimal logic. However, the `{#if update && todo.completed}` use case makes sense and we'll need to support it sooner or later.

[2020-01-03 15:52] mkouba commented on #6366
Yes, good catch. We should definitely report that the class does not exists. I thought that we had a test for this but apparetnly I was wrong ;-).

[2020-01-03 15:53] gsmet commented on #6369
FWIW, we also need some expression language support in the Spring Security extension. /cc @geoand

It might be worth it to use the same implementation.

For the record, Hibernate Validator uses Jakarta EL.

[2020-01-03 15:58] geoand commented on #6369
Yeah I had to do a pretty lame implementation of a small subset of SpEl for the security stuff.
It would be nice if we had some kind of actual EL support we could use everywhere.

[2020-01-03 16:05] mkouba commented on #6369
So I don't want to repeat myself but I really don't think it's a good idea to build template expressions on top of a complex EL by default, of course it could be optional... ;-)

[2020-01-03 16:11] gsmet commented on #6369
@mkouba I don't think we want to push you to do what you don't feel right, just wanted to say that there is a common need for this sort of things.

[2020-01-03 16:14] loicmathieu commented on #6095
@Sanne @FroMage we already discuss _read only_ transactions that will do the same optimization as part of https://github.com/quarkusio/quarkus/issues/2997

So we can add a `readOnly` attribute to the `@TransactionConfiguration` annotation that will set the underlying Hibernate session to `readOnly` and the flush type to `FlushType.MANUAL`.

In our current implementation, this annotation will only

[2020-01-03 16:40] #6240 closed

[2020-01-03 16:47] gunnarmorling commented on #6391
Here's an idea: how about collecting implicitly declared parameters by statically analysing the names passed to the `data()` method in the byte code? It wouldn't be 100% safe as names might be generated dynamically, but most of the times I'd expect this to be invoked with string literals that can be obtained quite easily from class files.

[2020-01-03 16:50] gunnarmorling commented on #6369
Complexity surely is in the eye of the beholder, but boolean expressions with && or || are fairly common in template logic to conditionally display contents. I also was missing method calls, in particular equals(), as otherwise string comparisons are impossible.

[2020-01-03 16:56] gsmet commented on #6369
Yeah, my intuition is that using an existing EL implementation will be easier than implementing our own EL implementation/parser rules but I'll let @mkouba and @geoand decide.

I agree that keeping the templates simple is a good thing but I also foresee we will at least need some  advanced features.

[2020-01-03 17:02] dmlloyd commented on #6369
I'm not sure an EL makes sense when you've already got a template language: then you have two languages, possibly with overlap, certainly with combinatorial effects...  Wouldn't it be better to define one language with a complete grammar and predictable behaviors?

[2020-01-03 17:03] gsmet commented on #6395
That basically means we need an extension for making Alexa SDK work with GraalVM.

[2020-01-03 17:04] gsmet commented on #6369
Well, if included in the template engine, at least let's make the syntax consistent with what we will use for Spring Security where we definitely need an EL.

[2020-01-03 17:33] gunnarmorling opened #6396 "Native build failed due to UnresolvedElementException: Discovered unresolved method during parsing: io.quarkus.hibernate.orm.panache.PanacheEntityBase.count()"
This is with Quarkus 1.1.

[code]

[2020-01-03 17:34] gunnarmorling commented on #6396
Hey @gsmet, does this ring a bell by any chance?

[2020-01-03 17:36] gsmet commented on #6396
Nope. A reproducer would help. /cc @FroMage

[2020-01-03 17:38] Sanne commented on #6095
@loicmathieu good points, I like were your proposal is going but it's good optimisations for a different thing than what is being asked here if I understand correctly?

This issue seems to be around asking for a simpler, "stateless" access pattern which is more similar to ROR. I believe it's a reasonable request, but the pattern is so very different than when using Hibernate / JPA that I don't thi

[2020-01-03 17:38] gunnarmorling commented on #6396
A reproducer is here: https://github.com/gunnarmorling/quarkus-qute (not minimal, but not huge either). I got this when running

    ./mvnw package -DskipTests=true -Pnative -Dquarkus.native.container-build=true

[2020-01-03 17:42] sebastienblanc commented on #4481
With `Qute` gaining popularity I guess in the coming weeks, I think adding proper logout support is getting a higher priority ? What do you think ?

[2020-01-03 17:42] Sanne commented on #6392
I believe the configuration aspect is very much work in progress: we shouldn't parse the whole thing at runtime of course :)

But I'll leave it to @wburns to decide if we should implement a stop-gap solution by including the resource, or if he'd rather directly go for the better long term solution.

thanks @gsmet.

[2020-01-03 17:43] gunnarmorling commented on #6396
Note I'm not invoking this method `count()` at all. Only thing vaguely related is that I call `size()` on a result list returned by Panache in one of the templates (todos.html). But I don't quite understand what this error is about.

[2020-01-03 17:57] geoand commented on #6369
From my PoV, if we define the minimum common set of expressions we could reuse everywhere, it would be great.
I don't think anyone here wants to have multiple mini ELs all over the place

[2020-01-03 18:04] aelfric commented on #6350
I'm bumping into this same issue.  The cause seems to be that the Keycloak admin client depends on RESTEasy 3 while the Quarkus RESTEasy extension uses version 4, which had some breaking changes.

[2020-01-03 18:34] #6255 closed

[2020-01-03 18:49] lordofthejars commented on #5877
Well, there is a lot of options and I don't know what is best.

* Adding a boolean flag on the annotation to indicate if we want to use the HTTPS or the HTTP port. Default to HTTP.
* As a configuration property in `application.properties`. I don't like this approach as the configuration of the test is outside the test.
* Inject the port in property and configure RestAssured manually.
* Create a sp

[2020-01-03 21:47] nimo23 commented on #6095
yes, the "zero level cache" is more than only read-only-queries. It is not exactly the counterpart of ORMs "First level cache" (which is enabled by default and cannot be disabled in regular) but more a (memory and speed) performant way to retrieve the queries from PanacheEntity.

@Sanne At the time, I dont know, I thought the switch from cached to zero-cached query results can be provided within P

[2020-01-03 23:48] nimo23 commented on #6369
It would be a good idea to provide `Jakarta EL` as the primary choice EL language in Quarkus. I understand that Qute is optimized for build time but why not provide a quarkus extension on top of `Jakarta EL` which is also optimized for build time? With this, there is no need Qute.

[2020-01-04 04:26] jaikiran commented on #6395
Hello @fcracker79,

Does using the following command work:
[code]

[code]

[2020-01-04 06:55] fcracker79 commented on #6395
Thanks @jaikiran, it worked!

Please let me know if I need to close the issue.

[2020-01-04 10:51] Tayeh commented on #6389
hi @gsmet
I'm trying to move all of my assets to "\src\main\resources\META-INF\resources\assets"
and keep the HTML pages that serve with qute on the qute location "\src\main\resources\templates"

and it's work correctly
because all of the assets resources serve from "\src\main\resources\META-INF\resources\assets"
and my pages serve using qute from "\src\main\resources\templates"

[2020-01-04 11:48] gsmet commented on #6395
If it just needs JNI to work, I think we can close that one as JNI will be always enabled once we move to GraalVM 19.3.

[2020-01-04 12:40] #6115 closed

[2020-01-04 12:45] gsmet commented on #6389
Ah yes, I missed that you were having the JS files in the templates.

@mkouba does Qute parse all the files in `templates` even if they are not used as templates and are not in the extension list managed by Qute?

[2020-01-04 12:46] gsmet commented on #6344
@debae can you confirm it's all good for you?

[2020-01-04 13:15] #6336 closed

[2020-01-04 14:43] flo-ryan commented on #3485
I figured out what I did wrong:
I was using the annotations from the swagger core annotations dependency rather than the ones from the microprofile (they have almost the exact same naming). 🤦‍♂

[2020-01-04 16:04] mk2301 opened #6399 "Mime mappings in web.xml are ignored by undertow extension"
I need to serve my wasm file with 'Content-Type' header `application/wasm` instead of `application/octet-stream`. I explicitly use the quarkus-undertow extension.

I tried to add a web.xml under src/main/resources/META-INF with a mime mapping for wasm files like this:
[code]
The web.xml mime mapping seems to be ignored by the undertow extension.

**Expected behavior**
The Content-Type header for w

[2020-01-04 17:19] halber opened #6400 "Exception in thread "main" java.lang.ExceptionInInitializerError"
**Describe the bug**
I get an java.lang.ExceptionInInitializerError when I try to run the docker container created from the Dockerfile.jvm file.

I'm on a macOS Catalina Version 10.15.2

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Environment (please complete the following information):**
 - Output of `java -version`:
openjdk version "13.0.1" 2019-10-15
OpenJDK Runtime Envi

[2020-01-04 17:20] masini opened #6401 "Need to declare function open in Kotlin for dev-mode"
**Describe the bug**
The attached test-case was created using Quarkus generator to code with Kotlin, JAX-RS, Panache.
[test-case-kotlin.zip](https://github.com/quarkusio/quarkus/files/4022205/test-case-kotlin.zip)

Hot Code Replace doesn't work if methods are not declared open

**Expected behavior**
Compile modified classes

**Actual behavior**
 javax.enterprise.inject.spi.DeploymentException: Int

[2020-01-04 17:28] dmlloyd commented on #6369
Qute is not an EL, it's a template language which also supports expressions.  The choice of expression language should be a technical decision, not a political one: it seems possible that Jakarta EL is not going to be the right fit.

[2020-01-04 17:35] halber commented on #6400
Ok, finally I saw my failure. Im compiling this on java 13 and the docker image uses java 1.8

[2020-01-04 17:35] #6400 closed

[2020-01-04 18:44] fcracker79 commented on #6395
My issue is solved.

[2020-01-04 18:44] #6395 closed

[2020-01-04 19:37] nimo23 commented on #6369
Ok, then `qute` makes sense. It is something like `velocity` or `freemarker` but optimized for quarkus runtime. The Jakarta EL is primarly uses in JSF but can also be used standalone. There will be definitly a need for more advanced expressions in the future because we see it in the use cases of `velocity` or `freemarker` or `jsf`.

[2020-01-04 19:47] nimo23 commented on #6369
Ok, then Qute makes sense. It is something like Velocity or Freemarker but optimized for quarkus runtime. The `Jakarta EL` is primarly uses in JSF but can also be used standalone.

I dont know why Jakarta EL is not the right fit for Qute but there will be definitly a need for more advanced expressions in the future because we see it in the use cases of velocity or freemarker or jsf.

[2020-01-04 21:06] debae commented on #6344
@gsmet With the changes proposed by @geoand it's working fine. I totally overlooked the fact that i mixed the versions of the plugin and quarkus itself.

[2020-01-04 21:06] #6344 closed

[2020-01-04 21:15] geoand commented on #6344
Glad to hear it worked!

[2020-01-04 22:25] nimo23 commented on #6369
Ok, so Qute is something like Velocity or Freemarker but optimized for quarkus runtime. The `Jakarta EL` is primarly used in JSF but can also be used standalone.

I dont know why Jakarta EL is not the right fit for Qute but there will be definitly a need for more advanced expressions in the future because we see it in the use cases of velocity or freemarker or jsf. There is a possibility that Jaka

[2020-01-04 22:57] louisbros commented on #5859
I'm also facing this issue when using the `quarkus-mailer` with `quarkus-amazon-lambda`:
[code]

[2020-01-05 03:28] hantsy commented on #3969
@loicmathieu  if Mongo used `saveOrUpdate`, I think use the same naming is better.

[2020-01-05 10:05] geoand commented on #5877
I was also thinking of 1) or 4), but I'm not sure either...

@gsmet @gastaldi what do you think?

[2020-01-05 13:25] FreifeldRoyi opened #6404 "Has anyone managed to use KafkaContainer with Quarkus?"
I feel there's a chicken and egg problem regarding port mapping. Ports are mapped in `application.properties` but testcontainers map random ports and forces me to statically init everything.

I'd be happy for some working examples
Thanks!

[2020-01-05 13:46] rquinio commented on #6404
Faced same issue with a `@QuarkusTest` when using an embedded kafka broker that uses a random port.
A workaround was to get the random port and set the System property `kafka.bootstrap.servers` in static init, as it's taken into account by smallrye-reactive-messaging.

[2020-01-05 14:34] gastaldi commented on #5877
There is more to consider when hitting an HTTPS URL than just the port like, for example, the truststore to be used or certificates to be used for authentication but I think the majority of the use cases will use `given().relaxedHTTPSValidation()` anyway

[2020-01-05 14:35] gastaldi commented on #5877
Perhaps the URL injected by `@TestHTTPResource` could have a secure attibute?

[2020-01-05 15:37] gsmet commented on #6399
I pushed a fix here: https://github.com/quarkusio/quarkus/pull/6407 .

I'll try to get it in the upcoming 1.1.1.Final.

[2020-01-05 16:09] FreifeldRoyi commented on #6404
I did something similar, but then I had to manually start kafka

[code]

[2020-01-05 17:45] debae commented on #6341
Maybe it's possible to trigger the configured enforcer plugin when running the quarkus plugin. This should be possible via https://github.com/TimMoore/mojo-executor

[2020-01-05 18:28] cedric-lamalle opened #6408 "Container Port is 0 in Manifests generated by Kubernetes Extension"
When generating Kubernetes Manifest with `./mvnw package` the resulting containerPort in the Pod Spec is always 0. As a side effect the Service is generated with port and targetPort set to 0 too.

**Expected behavior**

The Pod containerPort should be the same as `quarkus.http.port`, and consequently port and targetPort in service Spec.

**Actual behavior**

The Pod Template Spec generated is:
[co

[2020-01-05 21:11] #6399 closed

[2020-01-05 21:15] rafaelkloss commented on #6063
Hi guys, any update on this ?

[2020-01-06 05:56] stuartwdouglas opened #6412 "Lot's of logging if class is not in index"
When using the reproducer for https://github.com/quarkusio/quarkus/issues/5354 I noticed that there is a lot of logging about the same class not being in the index:

IMHO this should be logged once at most, and probably we should automatically index (and cache the result, as we don't want to do it multiple times).

[code]

[2020-01-06 07:14] gsmet commented on #6408
/cc @iocanel

btw, the SSL port should probably be taken into account too if SSL is configured.

[2020-01-06 08:11] mkouba commented on #6389
That's the correct approach - `src\main\resources\templates` is not accessible via web server. In other words, even if we skipped the parsing of the files it would not work.

Yes, currently it does.

[2020-01-06 08:14] geoand commented on #6408
Ouch.... That's weird.
I'll try and take a look soon if @iocanel doesn't beat me to it.

[2020-01-06 08:17] geoand commented on #6401
Hi,

First of all thanks for reporting.

Are you sure you have a uploaded the proper reproducer? I am asking because you mention Quarkus version `1.1.0.Final` in the issue description but your reproducer uses `1.0.1.Final`.

[2020-01-06 08:19] geoand commented on #6408
@gsmet should we come up with a quick fix, it probably makes sense to have it in `1.1.1`

[2020-01-06 08:21] gsmet commented on #6408
Yes, my thought exactly. I'll mark it to think about it.

FYI I will wrap up `1.1.1` this evening.

[2020-01-06 08:22] geoand commented on #6408
OK, I'll look at this one ASAP then. If it's just a matter of fixing the extension we can almost certainly get a fix in quickly. If it instead requires fixes in Dekorate, I doubt we will be able to make it

[2020-01-06 08:30] mkouba commented on #6391
Unfortunately, we don't have the tools (in quarkus API/jandex) to collect this information yet. And what's more important - a user can pass different objects as data for the same template. E.g. there could be a template `My name is {person.name}` and you can pass a `Person` POJO or a `javax.json.JsonObject` with a `data()` method. That's why parameter declarations are necessary if you need to vali

[2020-01-06 08:39] geoand commented on #6408
The problem seems to not be the fault of either Dekorate or the Kubernetes extension. I have a work-around, but I'm trying to see if there is something even deeper going on here...

[2020-01-06 08:51] mkouba commented on #6412
So we do automatically index a class if `BeanArchiveIndexBuildItem` is used. However, it seems that in this particular case some other index (possibly `CombinedIndexBuildItem`) is used. We should look at the reproducer and identify the place where the class info is needed...

[2020-01-06 09:04] tsegismont commented on #4900
@fandiluo if it's fixed on 1.1.0 I would recommend to upgrade to this version.

@cescoffier there will be no other 1.0.x release correct?

[2020-01-06 09:17] geoand commented on #6408
This boils down to the fields of `io.quarkus.vertx.http.runtime.HttpConfiguration` not being populated with the default values in `VertxHttpProcessor#kubernetes`.

We can work around this problem easily for this instance for `1.1.1`, but the problem seems general.

@dmlloyd any idea why this is happening?

[2020-01-06 09:44] loicmathieu commented on #3969
This was an error of mine, I updated my comment, MongoDB with Panache uses `persistOrUpdate()` so we should use the same here.

@dwamara To make an update on an entity inside Hibernate with Panache you can load the entity from the database (via findById() for exemple) then update it's fields. There is no need to use `merge` from the Entity manager as all managed entity will have there modification

[2020-01-06 09:49] loicmathieu commented on #6095
@Sanne I will open an issue with my design proposal for "read-only transaction".

@Sanne @nimo23 there is a proposal to create a MyBatis extension: #1958. MyBatis is lighter than Hibernate as it just maps a request to a Pojo so maybe it is more suitable for what is asked here ...

[2020-01-06 10:06] loicmathieu opened #6414 "Provides read-only transactions."
**Description**
Provides performance optimized read only transactions inside Hibernate ORM.

Some discussions about it has been made on #2997 and #6095.

**Implementation ideas**
We can add a readOnly attribute to the `@TransactionConfiguration` annotation that will set the underlying Hibernate session to `readOnly` and the flush type to `FlushType.MANUAL`.

In our current implementation, this ann

[2020-01-06 10:49] mkouba commented on #6369
"Method calls" are supported but not available out of the box. You can use [`@TemplateData`](https://quarkus.io/guides/qute-reference#templatedata) or [Template Extension Methods](https://quarkus.io/guides/qute-reference#template_extension_methods).

`{#if foo.name is 'bar'}`, `{#if foo.name eq bar.name}` and `{#if foo.name == 'bar'}` - all these should work.

@gunnarmorling FYI ;-)

[2020-01-06 10:51] MartinX3 commented on #1374
@jnizet what's the current workaround for Quarkus 1.1.0?
The setSourceDir & setOutputDirectory don't exist anymore.

[2020-01-06 10:52] geoand commented on #6369
That's very similar to what I have in `@PreAuthorize` for Spring Security :)

[2020-01-06 10:52] FroMage commented on #6369
Didn't we want to auto-register methods for classes we know are used in the template thanks to typing info?

I definitely vote for supporting boolean, math and comparison expressions.

[2020-01-06 10:53] geoand commented on #1374
@MartinX3 I propose that you generate a project using

[code]

to see what the proposed configuration looks like

[2020-01-06 11:02] gunnarmorling commented on #6369
IMO a strict subset of Unified EL would be good, if we can or don't want to support the full thing. This would reduce friction when coming from or combining Qute and Unified EL in a project, e.g. when using HV.

[2020-01-06 11:56] #6408 closed

[2020-01-06 12:16] mkouba commented on #6369
That's the plan. But so far we only support "properties" because it's much simpler to implement.

[2020-01-06 12:52] MartinX3 commented on #1374
Thank you for your response @geoand

I fixed it now in my build.gradle.kts with
[code]

[2020-01-06 12:54] maxandersen commented on #6095
this sounds like a job for hibernate stateless session... that is more or less one-for-one the same as how mybatis works (afaik).

[2020-01-06 12:57] maxandersen commented on #6095
@nimo23 what is your expectation on what happens when you navigate relationsships that was not fetched in this "no-cache-world" ? Do you expect them to try attempt to try load or throw an error?

[2020-01-06 12:58] geoand commented on #1374
Which command is that?

[2020-01-06 13:23] ia3andy opened #6417 "Dev mode not working anymore when META-INF/resources is generated"
**Describe the bug**
Dev mode is not working correctly when using `./mvnw compile quarkus:dev` on a project where the `target/classes/META-INF/resources` is generated.

![image](https://user-images.githubusercontent.com/2223984/71820356-26585080-308f-11ea-8914-4e579a9053f4.png)

**Expected behavior**
Should work without any error

**Actual behavior**
It works once every few page refresh

**To Repr

[2020-01-06 13:34] MartinX3 commented on #1374
I mean if I should still execute
`mvn io.quarkus:quarkus-maven-plugin:1.1.0.Final:create     -DprojectGroupId=org.acme     -DprojectArtifactId=gradle-kotlin-test     -DclassName="org.acme.GreetingResource"     -Dpath="/greeting"  -Dextensions="kotlin" -DbuildTool=gradle` for you, since my new gradle commands fixed this issue for me on 1.1.0 ?

[2020-01-06 13:39] geoand commented on #1374
That command was just to create a new project that is properly configured so you can compare.

[2020-01-06 13:56] maxandersen commented on #6417
@ia3andy if you do your workaround on precreating the dir I assume the content is lost anyways, right ?
it’s a bit surprising devmode wants to nuke the whole META-INF/resources folder...that seems wrong.

[2020-01-06 14:06] ia3andy commented on #6417
@maxandersen I have two workaround:
- create an empty `src/main/resources/META-INF/resources` directory
or
- copy the files directly to `src/main/resources/META-INF/resources` (instead of target) and use `.gitignore` to keep them out of sync

[2020-01-06 14:21] cescoffier commented on #4900
Yes, there are no 1.0.x release planned. It's now 1.1.x and 1.2.x

[2020-01-06 14:48] jamesnetherton opened #6418 "Upgrade MongoDB dependencies to 3.12.0"
**Description**

It'd be useful if the Quarkus MongoDB dependencies could be bumped to the latest version(s) - currently 3.12.0, as it'd help the Camel Mongo extension to remain compatible.

[2020-01-06 15:00] masini commented on #6401
Georgios you're right, I downgraded the version to let the real application
run and then I forgot to put them back.

Using 1.1.0.Final I'm unable to reproduce, I'll try to upgrade the real
application and if you don't mind I'll give you feedback this week to close
the issue.

Thanks again for your valuable time.

Il giorno lun 6 gen 2020 alle ore 09:17 Georgios Andrianakis <
notifications@github.c

[2020-01-06 15:00] gastaldi commented on #6418
For the record, there is a PR that changes the drivers used by MongoDB: https://github.com/quarkusio/quarkus/pull/6375

[2020-01-06 15:01] geoand commented on #6401
You are welcome!

I will go ahead and close the issue then and you can re-open if you find an issue with `1.1.0.Final`.

Thanks

[2020-01-06 15:01] #6401 closed

[2020-01-06 15:05] gastaldi commented on #6418
And there is a PR that fixes this issue: https://github.com/quarkusio/quarkus/pull/6347

[2020-01-06 15:07] gastaldi commented on #6418
Assigning to @loicmathieu as he already started working on it

[2020-01-06 15:10] FroMage commented on #6396
I guess this is due to the `count` method not being registered for reflection by Qute, right @mkouba ?

[2020-01-06 15:12] FroMage commented on #6396
Ah no this isn't reflection. I wonder what the method call looks like in `PanacheEntityBase_ValueResolver.resolve` because this is a static method and it won't work if called directly. Not that this should be able to cause this issue since it's not actually calling it.

[2020-01-06 15:13] nimo23 commented on #6095
Thanks. Yes, I did not know about the existence of a `StatelessSession` in Hibernate. This would match most of the requirements of the "zero-level-cache". I like the approach to use `StatelessSession` instead of myBatis because with this we can stay in jpa/hibernate world.

Good question, with `StatelessSession` collections are ignored. However, I think this issue can be closed because we can use

[2020-01-06 15:15] FroMage commented on #3969
Yeah, this is code built around unserialising the entity itself rather than a DTO which is a very dangerous way to build applications with many security risks that we don't want to promote.

[2020-01-06 15:17] aesteve commented on #1374
Thanks for your investigations @MartinX3  I did upgrade [my repo](https://github.com/aesteve/quarkus-test) to 1.0.1.Final

[2020-01-06 15:27] pawan2014 opened #6420 "adding a openapi extension to existing project starts giving NoSuchMethodError error for org.yaml.snakeyaml.events.MappingStartEvent"
Using latest version of quarks. project is compiling fine until quarkus-smallrye-openapi is added to maven. Not sure if this is a error or some missing configuration.

Stacktrace
[code]

Other dependencies
[code]

[2020-01-06 15:34] gsmet commented on #6420
Looks like there is a mismatch between the SnakeYaml version and the Jackson one.

Are you using our BOM?

[2020-01-06 15:34] mkouba commented on #6396
I'll take a look tomorrow.

[2020-01-06 15:35] #6379 closed

[2020-01-06 15:42] nimo23 opened #6421 "Extension: JSF for native mode?"
**Describe the extension**
In quarkus, the view layer can only be created by static html with client side frameworks (e.g. react, angular). Those frameworks also provide server side rendering (SSR). However, for _java developers_ those things can also be done by JSF (Jakarta Server Faces). Quarkus provides support for servlet (by undertow), web.xml and CDI.

Is there an easy way to provide support

[2020-01-06 15:45] kjozsa commented on #4005
do we have any update on this component? We would love to use it.. would even volunteer test-driving it. cc @dufoli

[2020-01-06 15:54] gsmet commented on #6421
We won't support JSF in Quarkus itself but you can talk with @tandraschko here: https://github.com/tandraschko/quarkus-myfaces .

[2020-01-06 15:54] #6421 closed

[2020-01-06 16:06] tandraschko commented on #6421
NOTE: i moved this to the JSF implementation MyFaces and we already did a release.
A sample application is here: https://github.com/apache/myfaces/tree/master/extensions/quarkus/showcase

Native is currently not supported and i dont have time to work on it. Feel free to contact me if you would like to invest many hours to get it working ;)

[2020-01-06 16:25] gsmet commented on #6222
@thomaswue so to keep you in the loop, most issues are fixed **except**:

 * the RSS usage regression which is blocking for us, see @adinn and @emmanuelbernard 's comments above
 * Camel Quarkus ITs failing with `/usr/bin/ld: /opt/jprt/T/P1/225159.buildslave/s/jdk/src/share/native/java/lang/reflect/Proxy.c:97: undefined reference to `VerifyFixClassname'`  - see https://github.com/oracle/graal/issu

[2020-01-06 16:27] dmlloyd commented on #6408
Run time configuration values are not available during build time under any circumstances.

Yep, this doesn't make sense to do.  It's an error.  If we want to derive a build time property, then we should have a separate HTTP port build time property which represents the default port, have the run time HTTP port default to that, and have the kubernetes port also default to that, or something simila

[2020-01-06 16:31] geoand commented on #6408
Thanks for the explanation, I wasn't aware of the change

[2020-01-06 16:37] MartinX3 opened #6423 "Kubernetes Docker java.lang.ClassNotFoundException: io.quarkus.runtime.Application"
**Describe the bug**
Sadly trying to execute the quarkus backend in kubernetes results into the following error.
Executing the file on my local development machine works.

Maybe something in the gradle cache is missing?

**Expected behavior**
A working backend.

**Actual behavior**
In the jar file exist the files
Application.class -> 6.5 kB
Application$1.class -> 855 Bytes
Application$2.class -> 9

[2020-01-06 16:53] gsmet commented on #6423
The runner.jar is not a fat jar: you need to also include the `lib/` directory.

See the default Dockerfiles you have in the `src/main/docker` of your application (if it has been generated).

[2020-01-06 17:01] nimo23 commented on #6095
Thanks. Yes, I did not know about the existence of a `StatelessSession` in Hibernate. This would match most of the requirements of the "zero-level-cache". I like the approach to use `StatelessSession` instead of myBatis because with this we can stay in jpa/hibernate world.

Good question, with `StatelessSession` collections are ignored. Maybe, `PanacheEntity` can provide a comfortable way to retri

[2020-01-06 17:16] aesteve opened #6424 "[PosgreSQL] JDBCConnectionException: Unable to release JDBC Connection"
**Describe the bug**
Unable to release connection using PostgreSQL + 1.1.0.Final/1.1.1.Final AND testcontainers

**Expected behavior**
With 1.0.1.Final, the same integration test (using testcontainers) was working perfectly. Upgrading to 1.1.0.Final makes it break every time.

**Actual behavior**
Running the same integration test (spawning a pg image using testcontainers, running a query, shutting

[2020-01-06 17:28] MartinX3 commented on #6423
Thank you
It generates a libs/ folder with s
Sadly that didn't change my issue copying it into the docker container
(Runner jar in root and libs folder with another single jar file in the same place)

If I remove the file locally , I can still execute the 65mb big runner file.

But you're sure that will be the issue @gsmet ?

[2020-01-06 18:17] mattyb678 opened #6425 "Add ability to disable swagger ui"
**Description**
It would be nice to be able to disable the swagger ui, even in dev/test mode. My company has a custom swagger-ui that we want to continue using.

**Implementation ideas**
I'm new to quarkus, but it seems that adding a `disable` boolean to `SwaggerUiConfig` and then checking that boolean in the `BuildStep`s would suffice.

[2020-01-06 18:53] andreas-eberle commented on #4453
Since the PR of @machi1990 has been closed again: Is there any progress on this extension?

Or maybe, can someone (@pmlopes?) outline how one would use the vert.x redis client with quarkus (including native builds)?

Thanks + BR

[2020-01-06 19:44] rsearls opened #6426 "url-pattern not configured properly in Vertx"
Quarkus is not handling some contents of a web.xml file properly.
Specifically the url-pattern on a servlet-mapping does not appear
to get set properly in Vertx.

    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/myresources/*</url-pattern>

[2020-01-06 19:46] FreifeldRoyi opened #6427 "How to test a service that integrates with kafka?"
I hope this is not extremely out of topic, but I'm trying to figure out the best way to consume a Kafka test message and compare it to an expected message.

A few thoughts (that might be wrong):
- I think that it's possible to inject an already configured (from application.properties) KafkaConsumer (actually I'm not sure It is possible to Inject a consumer which is not with the reactive extension

[2020-01-06 19:55] Sanne commented on #6095
I guess we could introduce a simple method like ".loadStateless( id )" ?
We could consider having this helper only on simple types which don't do relations; or have it on all types but throw an exception when a relation is accessed.

Regarding the `return list("status", Status.Alive).noCache();` : I'm not sold on calling this "noCache" as it might be unclear - in many situations the Session isn't

[2020-01-06 19:59] andreas-eberle commented on #2814
Can you add a gradle version of this guide as well?

[2020-01-06 20:18] Teg79 opened #6428 "NPE launching in dev mode with Kotlin and version 1.1.0.Final"
**Describe the bug**
I have upgraded the project from 1.0.1.Final to 1.1.0.Final and executing Quarkus in DEV mode I get this maven error (-X):

[code]

**Expected behavior**
Run in dev mode

**Actual behavior**
NPE on Maven Plugin

**To Reproduce**
Steps to reproduce the behavior:
1. take a project with Kotlin plugin configured without the pluginOptions
2. upgrade to 1.1.0.Final
3. run ./mvnw com

[2020-01-06 20:40] nimo23 commented on #6095
yes, `Entity.stateless().list()`. With such a stateless pattern, there is no need to use additionally orm alternatives, such as myBatis, Jooq, reQuery, etc. when it comes to performance and overhead. The only problem is that `StatelessSession` cannot access relationships. This makes it less usable in compare to custom `@NamedEntityGraph` or `@NamedQuery`.

**Thus, I dont know if this issue is wort

[2020-01-06 20:48] gsmet commented on #6428
Good catch! I prepared https://github.com/quarkusio/quarkus/pull/6430 .

Hopefully, I will be able to include it in 1.1.1.Final.

[2020-01-06 20:56] pmlopes commented on #4453
@andreas-eberle I don't have experience with writing extensions, what I can say is that if you create a bean injecting the vertx instance you can use the vertx api. Since the vertx redis client uses no reflection or features incompatible with graalvm native images it will work on native too.

Be aware that redis has been total rewrote for 4.0 and that's where all features, sentinel/cluster support

[2020-01-06 21:00] machi1990 commented on #4453
Hi @andreas-eberle @pmlopes I'll work on this extension and be able to make progress on it once I am back from vacations (in a week time from now).

[2020-01-06 21:01] geoand commented on #6428
Thanks for reporting this!

[2020-01-06 21:06] jordanglassman opened #6431 "empty configuration property behavior change"
**Describe the bug**
Up through 1.0.0.RC2, an optional configuration property that is left blank in `application.properties` would have its default set.  Upon upgrading to 1.1.0.Final, these properties now throw with `Caused by: java.util.NoSuchElementException: Required property some.boolean.prop not found`.

**Expected behavior**
Expected a property with a blank entry to use the default entry.

[2020-01-06 21:12] gsmet commented on #6431
I think that is the intended behavior but /cc @dmlloyd to be sure.

[2020-01-06 21:13] gsmet commented on #6425
Looks like you're ready to prepare your first PR :).

[2020-01-06 21:14] gsmet commented on #6426
/cc @stuartwdouglas

[2020-01-06 21:17] gsmet commented on #6423
No, I'm talking about a `lib/` directory and you should have much more than one jar in it.

That being said, if your runner jar is 65 MB, maybe you are generating an uberjar? Hard to say without your config. If so, it should be self contained.

Can you check if the aforementioned class is in the jar?

[2020-01-06 21:22] sean-scott-lr commented on #5627
Is there any chance that official support for GRPC in quarkus will end up looking like the PoC here?
https://github.com/quarkusio/quarkus/issues/820

[2020-01-06 21:42] gastaldi commented on #6425
I'd recommend it to be named `enable` as how other extensions also do it: https://github.com/quarkusio/quarkus/blob/e07575d916f7b2229264070f99327fca8685059f/extensions/logging-json/runtime/src/main/java/io/quarkus/logging/json/runtime/JsonConfig.java#L20

[2020-01-06 22:24] #6428 closed

[2020-01-06 22:25] dmlloyd commented on #6431
Yes, this is intended behavior.  Blanking a property explicitly sets it to an empty value, overriding any default or other value set on the property.  There is no mechanism for explicitly specifying a default value other than specifying that value directly.

[2020-01-06 22:25] #6431 closed

[2020-01-06 22:28] rsearls opened #6433 "web.xml's filter-class not configured properly in Vertx"
Quarkus is not handling some contents of a web.xml file properly.
A filter-class defined in a web.xml is never called by Vertx,
nor is an error message or warning about lack of support of this
element provided.

    <filter>
        <filter-name>Resteasy</filter-name>
        <filter-class>
            org.jboss.resteasy.plugins.server.servlet.FilterDispatcher
        </filter-class>
        <init

[2020-01-06 22:47] dufoli commented on #4005
@kjozsa  still working on It. It is working for jvm but still need work to fix native build.
I do not know this part and do not know who can help me on that part.

[2020-01-06 22:50] nimo23 commented on #6421
@tandraschko plz consider to provide this extension in https://github.com/quarkusio/quarkus-platform so users can easily use it.

[2020-01-06 23:32] MartinX3 commented on #6423
Yes, I create an uber jar with `gradle quarkusBuild --uber-jar` as an attempt to fix this problem.
Another attempt was to create a native Image.
But every attempt ended with this error in the openJDK8 docker container in kubernetes, but with a working application on my local Linux machine with openJDK

Yes, the Application class files exist in the needed path inside the jar file
I listed the ones

[2020-01-07 00:42] viniciusfcf opened #6434 "Centralized log management with graylog not working"
**Describe the bug**
I followed guide steps, however all graylog messages are with error.

**Expected behavior**
Log messages available on http://localhost:9000/search

**Actual behavior**
Log are available in http://localhost:9000/system/indices/failures

**To Reproduce**
1. [Use graylog guide](https://quarkus.io/guides/centralized-log-management)
2. After access: http://localhost:8080/gelf-loggi

[2020-01-07 02:16] 1017727621 opened #6436 "Does quarkus support distributed transactions?"
**Description**
(Describe the feature here.)

**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design change proposals should be posted to [the Quarkus developer mailing list](mailto:quarkus-dev@googlegroups.com) (or [the corresponding Google Group](https://groups.google.com/group/quarkus-dev); see [the decisions process document](https

[2020-01-07 02:22] 1017727621 commented on #6436
Below
 http://seata.io/en-us/

[2020-01-07 02:57] stuartwdouglas commented on #6426
This is actually a weird part of the JAX-RS spec that lets you map RESTeasy as an implicit Servlet.

We should probably support it but there are already a few other ways to set this such as quarkus.resteasy.path and using the ApplicationPath annotation, so it is not a high priority.

[2020-01-07 03:08] pawan2014 commented on #6420
I think so. the entry in POM i see this <quarkus.platform.artifact-id>quarkus-universe-bom</quarkus.platform.artifact-id>

Just for reference the sample project POM  https://github.com/pawan2014/microrofile-quarkus/blob/master/projectservice/pom.xml

[2020-01-07 04:34] #4900 closed

[2020-01-07 04:40] hantsy commented on #3969
This depends on the session/transaction boundary. If the modifying entities happen in an active session it works. `@Transcational` must ensure there is an active session available and commit the transaction when the session is close.

[2020-01-07 06:11] liebig commented on #5957
Any news here? A Liquibase support would be great.

[2020-01-07 06:32] andrejpetras commented on #5957
@liebig PR for liquibase extension https://github.com/quarkusio/quarkus/pull/6334

[2020-01-07 06:40] liebig commented on #5957
Oh great, thanks for the information and the implementation.

[2020-01-07 07:28] alfsch commented on #5254
Hello together, any progress in this topic? BR, Alfred

[2020-01-07 08:45] paulrobinson commented on #5597
@stuartwdouglas are the related issues planed for completion as part of this Epic? Or, are they issues that we can fix once this Epic is complete?

The reason I ask, is because GHIssues uses the checklists in the description as a measure of progress. So unfortunately, it doesn't work well if checklists are used for other things.

[2020-01-07 08:46] tandraschko commented on #6421
the extension is in maven central ;)
https://search.maven.org/search?q=myfaces-quarkus

[2020-01-07 08:48] paulrobinson commented on #5874
@sberyozkin Are you the Epic lead for this? See here for an explanation of the role: https://github.com/quarkusio/quarkus/wiki/High-Level-Planning-Process#ive-been-assigned-an-epic-what-do-i-need-to-do.

If so, can you assign this issue to yourself? Thanks :-)

[2020-01-07 08:48] mkouba opened #6438 "Qute - support @TemplateExtension declared on a class"
A `ValueResolver` will be generated for every public, protected and package-private static method declared on the class. Methods that return `void` or have no arguments are ignored.

[2020-01-07 08:52] maxandersen commented on #6095
stateless session can query relationships - thus I'm pretty sure @namedentitygraph and @namedquery are feasible. As long as the relationships can be fetched in one query/session. it is just not possible to navigate/query the object graph *afterwards* - which is why I asked what your expecations was when accessing relationships ...since if you don't want proxies at all, the answer will basically be

[2020-01-07 08:53] maxandersen commented on #6417
@ia3andy yes, I get that - but i'm asking that that when you don't do that workaround the content is lost, right ? you have to manually run your other task to regenerate the content, correct ?

Then i'm just curious how if at all this ever worked before ? as i assume in the past this folder would be recreated too...

[2020-01-07 09:31] loicmathieu commented on #6434
It seems that Graylog didn't correctly create the index in Elasticsearch as the Thread field is of type long but it should be a String.

Can you add to the issue :
- A screenshot of the detail of a working log
- The logs of your application from the console to have them in text

Also, do you have other log configuration option inside `application.properties` ?

Apparently, what happened is that th

[2020-01-07 09:33] marceloverdijk opened #6439 "Add possibility to define default sort for Panache entities"
As discussed briefly https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/quarkus-dev/ktb7DF9a08g/yPk_aDfzDAAJ it would be useful to define a default sort for Panache entities.

This default sort should then be used implicitly by e.g. `list*()`, `find*()` when no explicit sorting/ordering is provided.

[2020-01-07 09:38] FroMage commented on #6439
This should be trivial with an annotation on the class. Pity that https://docs.oracle.com/javaee/7/api/javax/persistence/OrderBy.html is not allowed on a class.

This can be useful for mongo too, right @loicmathieu ?

[2020-01-07 09:39] FroMage commented on #6439
Given that neither JPA's `@OrderBy` and Hibernate's `@Sort` are allowed on classes, do @emmanuelbernard or @Sanne have ideas for an annotation name we can use that would not clash with the existing ones?

[2020-01-07 09:50] MartinX3 commented on #6423
If I download the built jar file and run it locally or in a local docker, it works.

If I run the same jar file in the kubernetes docker container with the same root image `openjdk:8-jdk-slim`

So the only difference between my local machine and the kubernetes docker container is the underlying host system.

Do the native/jvm(uber jar and normal) image needsomething outside of the container itself

[2020-01-07 09:52] stuartwdouglas commented on #5597
Most of the issues will be fixed by the PR, I referenced the ones I have explicitly tested. Once this PR goes in though the epic is done, and anything else that needs to happen is just a normal bug.

[2020-01-07 09:54] ia3andy commented on #6417
@maxandersen no the content was kept in previous versions without any problem.

@geoand any idea of who we could assign to that one so it doesn't get lost?

[2020-01-07 10:26] geoand commented on #6417
Perhaps @machi1990 would like to take a look at it?
I can as well, but it won't be a for few days because of travel obligations

[2020-01-07 10:26] nimo23 commented on #6421
@tandraschko Which artefact must I add to my pom.xml? `myfaces-quarkus`, `myfaces-quarkus-deployment` or `myfaces-quarkus-runtime`?

Adding

[code]

to my pom.xml does not download anything.

[2020-01-07 10:32] #6331 closed

[2020-01-07 10:49] nimo23 commented on #6095
If user defines a `@NamedEntityGraph` and omits the relationship `x`, then accessing `x` afterwards leads to fail/error. That`s the right approach. Having null or empty collection implies there exists no relationship which is misleading in such cases.

@Sanne I am unsure if this is worth to implement because with https://github.com/quarkusio/quarkus/issues/3483 I get such stateless pattern in Pana

[2020-01-07 11:00] loicmathieu commented on #6439
@FroMage yeah, sure if we define a `@DefaultSort` annotation (or whatever we named it) this should be easy to use it for both Hibernate and MongoDB with Panache.

Idealy don't use `@DefaultOrderBy` as it referes to the SQL ORDER BY clause and Panache try to use higher level abstraction ...

[2020-01-07 11:08] FroMage commented on #6439
Huh, actually we could pervert the `@OrderBy` annotation to place it on the field we want to sort by, rather than on the entity class. But that'd only work for single field sort…

[2020-01-07 11:23] nimo23 opened #6440 "Allow partial rendering in qute"
**Description**
I dont know if this is actually possible. How can I partially render fragments in html with qute? Actually the rendering will be done on the whole document.

**Implementation ideas**
Maybe partial rendering can be done by given id on an element or by introducing a new template tag, something like `{fragment name="render-1"}`

[2020-01-07 11:24] stefanorg commented on #6209
Hi i've the same problema after adding the openapi extension.

[code]

[2020-01-07 11:37] loicmathieu commented on #6439
Please use `@SortBy` and it can works on mutiple field if you add an optional `ordinal` property on the annotation to know in which order you need to sort. Each sort field will be annotated ...

[2020-01-07 11:43] Teg79 opened #6441 "The quarkus-maven-plugin 1.1.1.Final is missing"
**Describe the bug**
Building a fresh project results in an error

**Expected behavior**
Compile working

**Actual behavior**
Maven error:
`The POM for io.quarkus:quarkus-maven-plugin:jar:1.1.1.Final is missing`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project from START CODING
2. Run `./mvnw compile`

**Environment (please complete the following information):**

 - Outpu

[2020-01-07 12:23] rsearls commented on #6426
OK.  I've been asked to get all of resteasy's integration tests running with quarkus.  Do you want me to continue to filing like issues I encounter with web.xml elements or skip it for now?

[2020-01-07 12:28] gsmet commented on #6441
Your mirror might be lagging a bit. It’s on Central: https://search.maven.org/artifact/io.quarkus/quarkus-maven-plugin/1.1.1.Final/maven-plugin

[2020-01-07 12:52] viniciusfcf commented on #6434
1. Started my dockers using: docker-compose -f graylog-docker-compose.yml up -d
1.1 [graylog-docker-compose.txt](https://github.com/quarkusio/quarkus/files/4030682/graylog-docker-compose.txt)
2. elasticsearch log:
[elasticsearch.log](https://github.com/quarkusio/quarkus/files/4030688/elasticsearch.log)
3. graylog mapping:
[elasticsearch-mapping.txt](https://github.com/quarkusio/quarkus/files/40307

[2020-01-07 13:01] tandraschko commented on #6421
As i said, here is a sample project: https://github.com/apache/myfaces/tree/master/extensions/quarkus/showcase

[2020-01-07 13:05] tandraschko commented on #6421
i dont play to change the naming (but the correct naming would be quarkus-myfaces) as i don't know the project structure of quarkus extensions that good.
But feel free to create a issue in MyFaces Jira, so we can discuss the changes in detail and you can easily provide a PR.

[2020-01-07 13:07] tandraschko commented on #6421
also, just for your knowledge: it's a M1, now it's the right time to discuss some changes.
Also please dont expect a 100% bugfree version.
Any help is welcome here.

[2020-01-07 13:20] loicmathieu commented on #6434
So this is really a Graylog issue as your mapping has been created with `long` type instead of `String` and that can happens when the first log event is wrong or during some other Grayog operations: https://community.graylog.org/t/incompatible-index-mappings/5304

To try to understand what happened.

Can you give the content of the Elasticsearch index ?
This curl should do the trick
[code]

Can yo

[2020-01-07 13:22] tobad357 opened #6442 "quarkusDev doesn't work in multi module gradle project"
**Describe the bug**
If using a multi module gradle project quarkusDev will fail complaining that beans are defined multiple times. This is due to both common/buld/classes and common/buld/lib/common.jar being on the classpath inside of dev-mode-context.dat

Project Structure
[code]
App depends on common via
[code]

The error that happens is

[code]

Inside META-INF/dev-mode-context.dat
[code]

**E

[2020-01-07 13:23] tobad357 commented on #6442
quarkusDev does work if I delete ```commons/build/classes/java/main``` quickly between common build and quarkusDev starting the jvm for the app

[2020-01-07 13:26] tobad357 commented on #4224
Any luck with this as we are hitting the same issue?

[2020-01-07 13:59] kenfinnigan commented on #6345
One problem with that is it makes the application non-portable, in that you no longer can use it with any MP Reactive Messaging implementation. Maybe that's not an issue.

Can you elaborate on the benefits of "play nicer"? Are you wanting all MicroProfile configuration to be settable as `quarkus.*`?

At present they're nicely separated to know which properties are Quarkus specific and which are Mi

[2020-01-07 14:08] kenfinnigan commented on #6208
Could you use WireMock as the endpoint of the REST Client so you can then capture how many times it was executed?

[2020-01-07 14:16] aelfric commented on #4224
No luck on my side.  As a (albeit poor) workaround, we've resorted to minimizing use of Lombok in new code, but we have just been restarting maven whenever we make changes to older code with Lombok annotations.

[2020-01-07 14:18] loicmathieu commented on #5905
jaeger 1.1 has been released with dependency on libthrift:0.13 but as we rely on smallrye-opentracing I don't know if we can upgrade jaeger as it's still an old version (0.34)

[2020-01-07 14:19] paulrobinson commented on #5597
Great, thanks.

[2020-01-07 14:29] dwamara commented on #6441
Had exactly the same problem a couple of minutes ago. I had to restart the command that I use

to get it working

[2020-01-07 14:54] Teg79 commented on #6441
Resolved, repo2.maven.org received the artifact hours ago but the repo1 only now, our proxy is on repo1, sorry

[2020-01-07 14:54] #6441 closed

[2020-01-07 15:10] manovotn commented on #6412
Like Martin said, we do have auto-indexing where possible and only log this later in the process where we still fail to find the class.
However, this util class is used from multiple places that rely on lookups which could lead to multiple logging even though it's still the same underlying class missing in index. We can add simple `Set<DotName>` as a cache and with that log only once.

[2020-01-07 15:52] Sanne commented on #6095
A _named_ query isn't loaded via a stateless session, so any loaded entities would still be _managed_. Maybe I misunderstood but I thought you wanted the super-light experience from raw records to bypass the Session's statefulness?

[2020-01-07 15:54] nimo23 commented on #6095
@Sanne yes, then it makes sense to have something like `Entity.stateless().list()` to have the super-light experience :)

[2020-01-07 16:01] nimo23 commented on #6095
I think to have an overloaded method for `Entity.list()` with an optional property `isStateless` or `isStatelessQuery` would be better:

`Entity.list(boolean isStateless)` would be better than `Entity.stateless().list()`.

[2020-01-07 16:01] viniciusfcf commented on #6434
File:
[elasticsearch-index.txt](https://github.com/quarkusio/quarkus/files/4030976/elasticsearch-index.txt)

![Captura de tela de 2020-01-07 12-56-44](https://user-images.githubusercontent.com/14058396/71908973-be1c7400-314d-11ea-825a-3e8a1b25b022.png)
![Captura de tela de 2020-01-07 12-55-48](https://user-images.githubusercontent.com/14058396/71908981-c2489180-314d-11ea-9304-996a8c746069.png)

Ye

[2020-01-07 16:31] Sanne commented on #6095
That might work, but I'm not sure how far it scales if we're to add several more flags and hints.

@FroMage WDYT ? you're the master of usability and it's your API :)

BTW to be clear I won't be able to work on implementing this any time soon unfortunately, I have a lot on my plate. Any volunteer?

[2020-01-07 16:46] loicmathieu commented on #6434
OK, it's a tricky one! The thread ID is used instead of the ThreadName because the thread that generates the event is no longuer available. It's a build thread.
So packaging the application and initializing the index from it will make the trick (native will also works as we have a substitution).
Or initializing the index from an application that didn't include Flyway as it's the flyway extension t

[2020-01-07 16:53] geoand commented on #6423
@MartinX3 could you create a minimal reproducer that exhibits the said behavior? I'd like to take a look

[2020-01-07 16:56] viniciusfcf commented on #6434
After delete the wrong index, all work fine:
![Captura de tela de 2020-01-07 13-52-52](https://user-images.githubusercontent.com/14058396/71912875-19059980-3155-11ea-93ee-2788489594ab.png)
[elasticsearch-index-right.txt](https://github.com/quarkusio/quarkus/files/4031592/elasticsearch-index-right.txt)

[2020-01-07 17:00] loicmathieu commented on #6434
@viniciusfcf cool, but it remains a workaround as the issue is real.

[2020-01-07 18:10] Sanne commented on #6346
+1 to allow configuring a naming strategy, but in my experience people will need far more flexibility than having 3 basic choices.

[2020-01-07 19:15] marceloverdijk commented on #6346
As asked on the discussion forum, I would really like to see this in `1.2`. Will remove a lot of boilerplate from my entities.

[2020-01-07 19:18] #6412 closed

[2020-01-07 19:39] #5281 closed

[2020-01-07 19:45] x80486 commented on #6345
I think that separation only brings confusion, unless you know the framework/library that's using them: the keys outside the `quarkus` namespace.

For instance, Hibernate, Flyway, the (abstracted) logging library, and so on, they all live under that namespace, so I was suggesting to make the rest to play like that...but again, if it makes it so-complicated, discard it. I don't really know the side

[2020-01-07 21:22] rsearls opened #6450 "quarkus-arquillian / REST proxy builder / IllegalArgumentException"
Quarkus 1.0.1.Final is using quarkus-arquillian 1.0.1.Final via quarkus-universe-bom.
A resteasy test run using  quarkus and arquillian is executing only the @Before
method.  The @After method nor the 2 @Test methods are executed.  The @Before
method causes an interface proxy class to be created and then called. Object
creation and call succeeds with out error however the quarkus-arquillian code
t

[2020-01-08 01:58] andreas-eberle commented on #4394
@emmanuelbernard: Sorry, for the off-topic, but regarding the examples for Java and Kotlin, the Google Android Developers pages could be a very nice inspiration. https://developer.android.com/topic/libraries/architecture/livedata#kotlin. You can easily switch betwen the languages for every example.

[2020-01-08 02:47] KaenDagger opened #6452 "Project Creation is not working properly on Windows Powershell"
**Describe the bug**
For the project creation on windows with maven plugin along with command line arguments is not working
[code]

But if project is creation starts with only , it creates project
[code]

**Expected behavior**
- It should have created the project according to given arguments

**Actual behavior**
 - Project creation fails with the following error
[code]

**To Reproduce**
Steps to r

[2020-01-08 03:41] jaikiran commented on #4224
Hello @tobad357, Any chance you can share a reproducer for this (maybe as a github repo with the source)?

[2020-01-08 03:48] jaikiran commented on #6417
Hello @ia3andy,

As far as I know copying anything to `target` was never supported (at least not intentionally). Quarkus only watches certain well known source locations (which isn't the `target` dir) for hot deployment. @stuartwdouglas or @machi1990 might be able to confirm this.

[2020-01-08 05:11] tobad357 commented on #4224
@jaikiran please see https://github.com/tobad357/quarkus-lombok-test
To trigger the issue do the following
1. Start quarkus dev (./gradlew quarkusDev)
2. Edit src/main/java/org/acme/ExampleResource.java and change the log message
3. Reload the url http://0.0.0.0:8080/hello

This will give you the error if using the following JVM

```OpenJDK 64-Bit GraalVM CE 19.2.1 (build 25.232-b07-jvmci-19.2-b03

[2020-01-08 05:49] stuartwdouglas commented on #6426
I have submitted a fix

[2020-01-08 07:09] dmlloyd commented on #6434
I can't think of another workaround offhand.

[2020-01-08 07:11] vicentini opened #6454 "How to configure claim to use for name in UserPrincipal with OIDC adapter"
Following the [OIDC guide](https://quarkus.io/guides/security-openid-connect), we've been able to secure our web applications, but are struggling with the token content.

Is it possible to use another claim as name in UserPrincipal than preferred_username?
We've been using thorntail with the Keycloak Java Adapter where it's possible to configure _principal-attribute_ as documented [here](https://w

[2020-01-08 07:29] gsmet commented on #6454
/cc @sberyozkin @pedroigor

[2020-01-08 07:31] gsmet commented on #6450
@mkouba could you have a look? IIRC, it's you who pushed the Arquillian connector?

[2020-01-08 07:34] mkouba commented on #6450
I can take a look but note that quarkus Arquillian adapter is not meant to be used for anything other than MicroProfile TCK.

[2020-01-08 07:57] mkouba commented on #6450
@rsearls is your reproducer using the resteasy master?

[2020-01-08 07:59] marceloverdijk opened #6457 "Provide option on the @ConfigProperties annotation to control the kebab-case naming of properties"
As discusses https://groups.google.com/forum/#!topic/quarkus-dev/NgbXygc1rps

Looking at https://quarkus.io/guides/all-config all config properties seem to use a kebab-case naming strategy.

When creating a custom config properties class (or interface in this case) like:

[code]

I would expect that these would also follow the kebab-case, but this isn't the case :-)

It is expecting the Java bean

[2020-01-08 08:07] marceloverdijk opened #6458 "Panache second-level caching for @ManyToOne relations seem not to be working"
Hi,

As discussed here https://groups.google.com/forum/#!topic/quarkus-dev/lqlQqGSqONs

I'm trying to implement second-level caching with Panache but `@ManyToOne` relations seem not to be cached.

E.g. when having Continent / Country entities likes:

@Entity
@Cacheable
public class Continent extends BasePanacheEntity {

    @Id
    public String id;
    public String code;
    public String name;

[2020-01-08 08:48] mkouba opened #6459 "RestAssuredURLManager - make it possible to set useSecureConnection through a config property"
It is possible to use `QuarkusUnitTest.withSecuredConnection()` to use the secure protocol for `RestAssured.baseURI`. It should be possible to change this behavior for `@QuarkusTest` as well.

I propose to read the `quarkus.secure-connection` config property in `RestAssuredURLManager.setURL()` and if not set use the `RestAssuredURLManager.useSecureConnection` value.

[2020-01-08 08:54] geoand commented on #6459
@mkouba isn't this a duplicate of https://github.com/quarkusio/quarkus/issues/5877? Mind adding your comment there and closing this one?

[2020-01-08 08:55] mkouba commented on #6459
@geoand ah sorry, of course it is. I'll close this one.

[2020-01-08 08:55] #6459 closed

[2020-01-08 08:56] geoand commented on #6459
Thanks @mkouba!

[2020-01-08 09:01] mkouba commented on #5877
Although I like the annotation approach I think that we should be consistent and allow the users to configure the "secure connection" through config (system property, properties file, etc.) like we do for `quarkus.http.test-port`, `quarkus.http.host` and `quarkus.http.root-path`. For example we could introduce a "quarkus.secure-connection" config property read the value in `RestAssuredURLManager.s

[2020-01-08 09:07] lordofthejars commented on #5877
I agree with you, but what I see about this approach is that as a tester viewer you never know directly if you are testing http or https until you look at `application.properties`. That's fine, maybe it is not important at all in this case, but usually, for me as a test viewer I really like to have as much as information in the test itself as possible.

[2020-01-08 09:13] mkouba commented on #5877
You don't see the host, port, etc. anyway. These are just defaults and you can always set the values manually.

Actually, I think that you can use a system property or ENV in which case you don't see it anywhere ;-).

[2020-01-08 09:33] cescoffier commented on #5707
The integration of mutiny in Quarkus has started, see #6416, it's definitely WIP and lots of work is still required.

[2020-01-08 09:38] loicmathieu commented on #6434
@gsmet this is a dev mode only issue. It impact only Graylog (Logstash have predefined Elasticsearch templates, not sure for Fluentd) and under certain circumstances only (when a log event is generated during the build phase: this is the case for Flyway for exemple). There is an easy workaround (initialize the Graylog index with a run of the application from a JAR or a native package).

There will

[2020-01-08 10:17] FroMage commented on #6095
Well, it really depends on how often this feature will be useful. `listAll(Sort?)` and `list(String, Sort?, Params?)` already have optional params and overloads.

If this is not so common I'd stick it on the query object like we do for lock type and hints.

[2020-01-08 10:19] MartinX3 commented on #1374
I optimized it based on the generated quarkus example project

[code]

[2020-01-08 11:15] famod commented on #2224
We are currently evaluating which way to go for migration a not so moduluar monolith based on JBoss EAP 6.4 and Quarkus seems promising but we use `TransactionPhase` quite often.
So a strong+1 from me!

[2020-01-08 11:37] famod commented on #5015
Is this going to be fixed with #6411?

[2020-01-08 11:40] stuartwdouglas commented on #5015
It should be, but I don't have a reproducer handy for this particular issue.

[2020-01-08 12:31] Tayeh opened #6460 "JWT cookies bug"
**Describe the bug**
using mp-jwt with cookies
all request get 401 Unauthorized  and also the request with @PermitAll annotation

**Expected behavior**
the page with @PermitAll Expected to work without token

**Actual behavior**
the page with @PermitAll required token to work

**Configuration**
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/9280478/71978127-491b6e00-322

[2020-01-08 12:45] rsearls commented on #6450
Yes.   But you do need to install in your local repo the provided archive.

[2020-01-08 14:20] mkouba commented on #6440
Pls describe what _"partially render fragments in html"_ actually means?

[2020-01-08 14:28] FroMage commented on #6396
Famous Last Words™

[2020-01-08 14:51] Sanne commented on #6063
hi @rafaelkloss , didn't forget about this one but I won't be able to work on this for a couple of weeks yet: just back from holidays, and need to catch up with other things first.

@deejcheeze :

Yes I suspect it might be simple, I just need to trace back which enhancer is failing and make sure it's run upfront.

I don't know :)

[2020-01-08 14:59] aesteve commented on #6424
After a few more investigations: there's definitely something odd happening between TestContainers and QuarkusTest.

Running the exact same test suite without starting the docker image through `@TestContainers` but manually (before running the test suite from the IDE) works like a charm.

[2020-01-08 15:02] gastaldi commented on #6452
@KaenDagger I tried to reproduce your issue in my Windows 10 VM but I can't. Can you double-check if `mvn io.quarkus:quarkus-maven-plugin:1.1.1.Final:create  -DprojectGroupId=org.acme  -DprojectArtifactId=getting-started -DclassName="org.acme.quickstart.GreetingResource" -Dpath="/hello"` fails for you?

Run with `-X` for more details if possible

[2020-01-08 15:20] KaenDagger commented on #6452
Here the output with -X
[code]

[2020-01-08 15:28] seseso opened #6462 "JWT - Token is invalid when claim "exp" is not present"
**Describe the bug**
Token is invalid: JWT (....) rejected due to invalid claims or other invalid content. Additional details: [[2] No Expiration Time (exp) claim present.]

**Expected behavior**
The RFC states that there are no required claims, only Optional ones so I think it shouldn't fail (https://tools.ietf.org/html/rfc7519#section-4.1)

**Actual behavior**
Token is invalid: JWT (....) reject

[2020-01-08 15:32] gsmet commented on #6462
/cc @sberyozkin @pedroigor

[2020-01-08 15:33] gsmet commented on #6460
/cc @sberyozkin

[2020-01-08 15:34] nimo23 commented on #6440
Example adapted from https://quarkus.io/guides/qute:

[code]

How can qute render only _fragment-2_ without re-rendering _fragment-1_? Maybe  SSE or socket connections can be used to only re-render the fragment which is actually requested instead of the whole document.

[2020-01-08 15:34] #6426 closed

[2020-01-08 15:37] aesteve commented on #6424
With 1.1.1.Final:
` gradle -q --configuration testRuntimeClasspath  --dependency org.testcontainers`
Gives:
[code]

Whereas with 1.0.1.Final:
[code]

[2020-01-08 15:40] gastaldi commented on #6452
Ah you're using PowerShell. Indeed, I get the same error when running on the Powershell console. Can you confirm it works for you in the command prompt?

[2020-01-08 16:03] mkouba commented on #6440
Ok, so you mean something similar to JSF/Facelets where AJAX was used to update some parts of the rendered view? So I don't think this can be implemented in Qute because we don't store the state of the view (unlike JSF). However, you can try to use a different approach to build smooth SPA-like views - see https://www.morling.dev/blog/quarkus-qute-test-ride/#_smoother_user_experience_via_unpoly for

[2020-01-08 16:03] #6440 closed

[2020-01-08 16:11] #6438 closed

[2020-01-08 16:16] mkouba commented on #6396
@FroMage progress made: assigned to myself ;-)

[2020-01-08 16:26] sudhirtumati opened #6463 "@Transactional annotation doesn't work in JUnit tests"
**Describe the bug**
Database changes made during JUnit tests are not rolled back even when test class and/or method is marked @Transactional

**Expected behavior**
Database changes must be rolled back when test method is annotated with `@Transactional `

**Actual behavior**
Database changes are not rolled back causing other tests to fail

**To Reproduce**
Steps to reproduce the behavior:
1. Clone

[2020-01-08 16:30] nimo23 commented on #6440
Not exactly. I wanted the partial rendering to be done by JAX-RS `SseEventSink`. As Qute templates can be returned by Jax-Rs, a corresponding GET Request can only the return the Qute-`Template` part which is refreshed by `SseEventSink`.

Thanks for the tip.

[2020-01-08 16:31] FroMage commented on #6396
:tada:

[2020-01-08 16:34] MartinX3 commented on #6423
I changed the project name in the project and build pipeline, now it works.
I am unable to reproduce it any more.
So I better close it.
Maybe someone will humble on this problem, too, then I can try to give help solving his problem.

[2020-01-08 16:34] #6423 closed

[2020-01-08 17:24] aesteve commented on #6424
@cescoffier if you still have the demo you were mentioning in #2022 , could you try to upgrade it to 1.1.1.Final? Maybe you'll face the same issue?

[2020-01-08 18:03] rafaelkloss commented on #6063
Tks @Sanne :)

[2020-01-08 18:37] x80486 opened #6464 "JVM arguments should be an array instead (under Gradle's QuarkusDev task)"
## Description

Currently, `jvmArgs` is just a `String` member; I think it's more appropriate to "convert it" into an array/list of `String`s.

[code]

[2020-01-08 18:58] aelfric commented on #4224
Sorry I was never able to contribute a minimal reproducer, but this one is behaving the same for me.  Additionally, I am not using GraalVM, and I still get the error.  I'm running on Windows 10.

[code]

[2020-01-08 19:13] #6346 closed

[2020-01-08 19:31] gastaldi commented on #6452
In Powershell, the `-D` parameters need to be executed in double quotes.

The following command works:

[code]

[2020-01-08 19:31] #6452 closed

[2020-01-08 19:32] gastaldi commented on #6464
Good idea, want to provide a PR?

[2020-01-08 20:01] cescoffier commented on #6424
@aesteve in https://github.com/cescoffier/quarkus-todo-app, I'm using that approach.

[2020-01-08 20:19] x80486 commented on #6464
Do you have any pointers for backwards-compatibility? Overloading `setJvmArgs` is easy, but if someone is just using `jvmArgs` and the type is changed it's going to break the build script.

[2020-01-08 20:22] gastaldi commented on #6464
Maybe deprecate jvmArgs and create jvmArgsList?

Em Qua, 8 de jan de 2020 17:19, x80486 <notifications@github.com> escreveu:

[2020-01-08 20:29] x80486 commented on #6464
OK, I'm going to go that route 🤣

[2020-01-08 20:38] zakhdar opened #6466 "Display proper error message when setting invalid configuration at runtime"
I want to start a project deployed on kubernets (not compiled in native)
i get this message
`Exception in thread "main" java.lang.RuntimeException: Failed to start quarkus
	at io.quarkus.runner.ApplicationImpl.doStart(ApplicationImpl.zig:307)
	at io.quarkus.runtime.Application.start(Application.java:87)
	at io.quarkus.runtime.Application.run(Application.java:210)
	at io.quarkus.runner.GeneratedMai

[2020-01-08 21:07] marceloverdijk commented on #6346
Nice.

Maybe this can be even improved by just defining a `@ApplicationScoped`? `PhysicalNamingStrategy` bean. In that case Quakrus could set it automatically and the user does not have to set the property explicitly. Of course if the user sets the property explicitly that one should be used always.

[2020-01-08 21:15] gastaldi commented on #6346
I think the problem with that is that it's all fun and games until 2 or
more PhysicalNamingStrategy beans exist in the app :)

Em Qua, 8 de jan de 2020 18:07, Marcel Overdijk <notifications@github.com>
escreveu:

[2020-01-08 22:31] danielpetisme opened #6469 "How to fetch graph of entity with Panache"
I have an entity User and Role with a lazy ManyToMany relation between them.

In some case, when I look for a user I want to fetch the associated roles too (the entity graph).

The panache examples focus on applying a `WHERE` clause but I didn't find any exemple of join. How can I do?

**Please use StackOverflow for questions.**

This helps the community to be able to find answers to their similar

[2020-01-08 22:35] danielpetisme commented on #6469
I discussed the question with @FroMage and keep the answer here for the record.

Panache can receive a HQL (Hibernate Query Language, a JPA Query language flavor) query just as one would write in a standard JPA/Hibernate contexte.

With JPQL/HQL you can load the dependant entities using the `FETCH JOIN`.

In my case, the following line does the job
`User.find("from User u left join fetch u.roles w

[2020-01-08 22:35] #6469 closed

[2020-01-08 22:53] geoand commented on #6466
Hi,

Would it be possible to have a minimum reproducer project for this? I am very very interested in seeing it because so far I have been unable to reproduce the problem.

cc @gsmet

[2020-01-08 23:15] geoand commented on #6457
I only had a little battery left on my laptop but I was able to complete the actual fix for this. Sadly I don't have enough juice to clean it up and write docs, that will have to wait until tomorrow :)

[2020-01-09 05:11] kevingty opened #6470 "Bootstrap Guice Injector within Quarkus？"
For my project I use Mybatis as persistance layer . Considering Quarkus Arc (CDI) may not be quite stable, I'm trying to use Guice as DI tool within quarkus. I'm using MyBatis-Guice. But from quarkus doc, I only see startup event as application initialization and seems custom main-method is not supported as entry point by Quarkus. (https://github.com/quarkusio/quarkus/issues/284 ; https://github.c

[2020-01-09 07:37] aesteve commented on #6424
Thanks a lot!
I'll give the `jdbcURL` approach a try 🤞

[2020-01-09 08:03] #6366 closed

[2020-01-09 08:11] FroMage commented on #6356
That's an ORM question, @Sanne @emmanuelbernard

[2020-01-09 08:14] FroMage opened #6471 "Extend transaction boundary for `@Suspended` JAX-RS methods."
In JAX-RS we can make async requests by returning an async type, or with a `@Suspend` parameter. We already support extending the transaction boundary in the narayana transaction interceptor for async return types but we also need to do the same for `@Suspend` methods.

We can do that by adding an SPI that lets us know if an intercepted method is async or not.

[2020-01-09 09:05] emmanuelbernard commented on #6356
I am not sure what the problem is, so you use the `UUID` type (not string) and it works for H2 but not for MariaDB?
Can you check whether your MariaDB uuid field is not empty on creation?
In other words, is it a query problem?

[2020-01-09 09:14] dodalovic opened #6473 "Show companies using quarkus on the homepage"
Hi, first of all - thanks for all the effort put into this very interesting project!

I was thinking - nowadays it's very hard to convince companies to use **quarkus**, instead of brutally dominant Spring Boot.
It may help to show somewhere on the home page some list of companies using **quarkus**. Something like logos carousel or whatever.

People and companies hesitate less when seeing other com

[2020-01-09 09:20] Sanne commented on #6356
Did you maybe build with H2 as a dialect first, and change configuration after that?

In such cases the Dialect will still be H2; just mentioning it as we don't provide a good error/warning to such configuration issues yet.

[2020-01-09 09:25] #6442 closed

[2020-01-09 09:34] emmanuelbernard commented on #6439
I don't understand the use case. You want every single possible find/list operations to always be using a uniquely defined sort order for a given entity type? I am having a hard time to see this as the real use case.

I generally find *static* (aka annotation) definitions for such settings the incorrect approach.

What will we do for queries? If they don't override sort, will it be used? How will

[2020-01-09 09:57] marceloverdijk commented on #6439
The use case is to define a default natural order for an entity. And yes I would expect that all query methods would use this default sort if not overridden.

The alternative is that I basically in all query where no "specific" order is needed, I have to pass the default sort my self. Which is cumbersome, but could also be forgotten.

Other ORM tools like Grails support such a feature as well: see

[2020-01-09 10:23] Sanne opened #6476 ""Quarkus augmentation completed in" message includes native-image build time"
**Describe the bug**
Just noticed that now the log message of "Quarkus augmentation completed in [time]" is including all the time it takes to build a native-image:

    Quarkus augmentation completed in 211620ms

This doesn't look too good.

**To Reproduce**
Steps to reproduce the behavior:
1. Build any native-image
2. Read the logs

[2020-01-09 10:37] loicmathieu commented on #6418
@jamesnetherton Apache Camel Mongo still use the uberjar `mongodb-java-driver` that includes the legacy API. Quarkus will now use the new drivers (mongodb-driver-synch and mongodb-driver-reactivestreams) so there can be some issues after  #6375 and if Camel Mongo relies of some legacy stuff they need to migrate or to include the legacy driver (mongodb-driver-legacy).

[2020-01-09 10:50] dmlloyd opened #6477 "Extensions should be Jandex'd"
We are talking about adding more annotation-based discovery of things from extensions.  We should consider using Jandex on extensions as a primary source of extension metadata.

Doing so improves extension forward compatibility because extension metadata would use the annotation compatibility model, which is well-understood.  It should be able to reduce - or maybe even eliminate - the amount of ex

[2020-01-09 10:51] jmartisk commented on #1505
Hey guys, I recently started experimenting with this a little bit, trying to integrate JBeret 1.3.x into Quarkus. I'd like to start a discussion to decide whether JBeret is indeed the way to go here, or I am walking into a dead end, before I invest any significant amount of time in this.

First problem I found was that if we want to parse job definitions in `STATIC_INIT` and pass them to a recorde

[2020-01-09 10:56] Sanne commented on #6063
Thanks for the reproducer, I managed to see what is going on in native-image and opened https://hibernate.atlassian.net/browse/HHH-13804

[2020-01-09 11:23] FroMage commented on #6471
Actually it's not as simple as asking the SPI extension if we should extend the transaction boundary. Because we do that extension by wrapping the returned CompletionStage with an extra "andThen" action that will handle the commit/rollback.

And in the case of @Suspended methods there's no return type and the way to get notification about the request end is by hooking into the async response as a

[2020-01-09 11:36] #6164 closed

[2020-01-09 11:47] manovotn opened #6479 "Converter for extension config in deployment module fails in tests"
**Describe the bug**
Assuming a custom extension with a configuration that uses custom converter, then placing this converter in a deployment module results in failures within `@QuarkusTest` (while working in dev mode). The config is `ConfigPhase.BUILD_TIME` so it shouldn't be needed in runtime at all.
However, some digging shows that the generated class `io.quarkus.runtime.generated.Config` conta

[2020-01-09 12:48] KaenDagger commented on #6452
@gastaldi It might be good idea to include in Documentation IG

[2020-01-09 13:06] gastaldi commented on #6452
I agree. Fancy submitting a PR? :)

Em Qui, 9 de jan de 2020 09:48, Rohan Maity <notifications@github.com>
escreveu:

[2020-01-09 13:14] KaenDagger commented on #6452
I am up for this :)

[2020-01-09 14:06] jamesnetherton commented on #6418
@loicmathieu thanks for the heads up. I need to verify, but I think using `mongodb-driver-legacy` will work ok in the short term. Ideally we'd migrate the Camel component to use newer driver dependency. I'll create an issue over on the Camel side to investigate.

[2020-01-09 14:15] FroMage commented on #5602
More examples from @kenfinnigan:

= Setting HTTP Response Codes

Currently to set success response codes you need to return a Response object to be able to use something like Response.created(). Maybe it could be done with annotations instead?

[code]

= Handling Exceptions

Currently you can create providers to handle exceptions, but this separates the resource code from handling exceptions for i

[2020-01-09 14:42] codemwnci commented on #3954
Is there something specific needed to do to solve this issue, other than upgrading to 1.1.1?
I am still getting the same issue when running in native mode `com.fasterxml.jackson.databind.exc.InvalidDefinitionException: Cannot construct instance of `xxxx` (no Creators, like default construct, exist): cannot deserialize from Object value (no delegate- or property-based Creator)`

This works fine in

[2020-01-09 14:50] geoand commented on #3954
@codemwnci is your To-do class is a different module perhaps?

[2020-01-09 14:53] codemwnci commented on #3954
Not that I am aware of. All the Kotlin code is contained within that one KT file.

[2020-01-09 14:55] geoand commented on #3954
Okay, I'll have to give it a look over the few days

On Thu, Jan 9, 2020, 15:53 Wayne Ellis <notifications@github.com> wrote:

[2020-01-09 14:55] geoand commented on #3954
There might be another issue that we haven't taken into account yet

On Thu, Jan 9, 2020, 15:54 Georgios Andrianakis <geoand@gmail.com> wrote:

[2020-01-09 15:08] gastaldi commented on #6477
Would it be enough to add the jandex plugin to build-parent/pom.xml?
[code]

[2020-01-09 15:12] gastaldi commented on #6473
We have https://github.com/quarkusio/quarkus/blob/master/ADOPTERS.md, but I agree it would be nice to have that linked somewhere in the homepage

[2020-01-09 15:30] MartinX3 commented on #3954
Do we maybe need Jackson 2.10.x ?
(The bom enforces 2.9.x)

[2020-01-09 15:41] codemwnci commented on #3954
Just to confirm, the workaround (var replacing val, and default values) works.
I will test upgrading Jackson from 2.9.7 to 2.10.10 and feedback shortly.

[2020-01-09 15:41] geoand commented on #3954
The Jackson version shouldn't be an issue, but I need to check

[2020-01-09 15:43] guldner opened #6481 "Upgrading quarkus 1.0.1 to 1.1.0/1 fails with "Property quarkus.package.runner-suffix not found""
**Describe the bug**
After upgrading from 1.0.1 to 1.1.1, running the application fails with
`java.util.NoSuchElementException: Property quarkus.package.runner-suffix not found`

**Configuration**
[code]
Same for 1.1.0

https://quarkus.io/guides/all-config#quarkus-core_quarkus.package.runner-suffix

[2020-01-09 15:46] geoand commented on #3954
I see a couple issues in your reproducer:

* You are not using version `1.1.1.Final`
* class `Todo` needs is **not** a Kotlin `data-class`.

[2020-01-09 15:50] dmlloyd commented on #6477
I think so.  I'm not sure if third-party extensions are meant to use that though?

[2020-01-09 15:53] gsmet opened #6483 "Double GraalVM compatibility effort"
The idea is to try to support both GraalVM 19.2.1 and GraalVM 19.3.0.2 (we will upgrade to 19.3.1).

- [ ] Create an internal CI job with GraalVM branch https://github.com/oracle/graal/tree/release/graal-vm/19.3 in JDK 11 mode to test Quarkus master (@geoand) -> create proper issues as @gwenneg doesn't have access to it
- [ ] Fix the `LocalizationFeature` incompatibility (@gwenneg)
- [ ] Go back t

[2020-01-09 15:54] gastaldi commented on #6477
Probably not. Ideally it would be nice to have an extension-parent pom for cases like that

[2020-01-09 15:59] codemwnci commented on #3954
I hadn't uploaded the latest version of the POM to Github, but I am using the 1.1.1.Final locally. I'll change `data class`, to just `class` and see if it works.

I can also confirm that using 2.10.1 of Jackson doesn't make a difference.

[2020-01-09 16:01] geoand commented on #3954
OK, let us know how it goes please

[2020-01-09 16:07] gsmet commented on #6481
/cc @dmlloyd

Apart from the issue, I wonder if we should try to improve the error message a bit?

[2020-01-09 16:10] gsmet commented on #6424
Could you create a simple reproducer? Preferably a simple Maven project?

[2020-01-09 16:10] zakhdar commented on #6466
@geoand  i find the problem ,  in my project  i have a pipeline in gitlab that build and deploy the project on kubernetes .

I had a problem in one of my gitlab scripts which defined the quarkus profile to be used in function of the branch,

on my script  if have a line like
`sed -i 's/_BUILD_/'"$QUARKUS_PROFILE"'/g' src/main/docker/Dockerfile-java.multistage ;`

and my Dockerfile-java line are :

[2020-01-09 16:11] gsmet commented on #6479
/cc @dmlloyd

[2020-01-09 16:18] codemwnci commented on #3954
Same error with
`class Todo(val id: Long, val txt: String, val completed: Boolean = false)`
or
`data class Todo(val id: Long, val txt: String, val completed: Boolean = false)`

I'll try a clean project (just drop in the config and TodoResource.kt) as a final test, but I am not expecting this to make any difference.

Just for completeness, I am also running the build and run inside of docker, but a

[2020-01-09 16:26] geoand commented on #6466
@zakhdar Thanks very much for the analysis!

I was able to reproduce this using `-D.quarkus.profile=`. We'll need to fix the error message for this

[2020-01-09 16:28] alfredopalhares commented on #5814
Hello,  here is a fully reproducible [project](https://github.com/lssoares/single-maven-quarkus), test with:
[code]

The docker starts and run, but if you try these 3 endpoins:
- http://localhost:8080
- http://localhost:8080/example/hello
- http://localhost:8080/swagger-ui

Only **the first** will work, if you stop docker, and then run ``mvn quarkus:dev`` the project will start and all the endpoin

[2020-01-09 16:59] geoand commented on #3954
I'll reopen this since I was able to reproduce it as well

[2020-01-09 17:12] aesteve commented on #6424
I'll try to, but that's gonna be a hard task.
The docker image I'm using for my tests is a PgSQL one, but containing a subset of real-life data.

For the reproducer to be public I'd need to publish such an image to a public docker registry.

That's why I was hoping for Clément's repo to have the same issue. But it doesn't (I ran it locally).

No seriously, I have absolutely no clue what's going on

[2020-01-09 17:32] geoand commented on #6466
@dmlloyd it seems that `ConfigDiagnostic#missingValue` is logging the fact that `quarkus.profile` is missing (because the value is set to empty), but that error is never actually logged in the console.

Any idea what's going on? Is there something I need to do with the `DelayedHandler` perhaps?

[2020-01-09 17:37] galderz commented on #6321
You can probably workaround this if you add `--enable-all-security-services` to the `native-image` call that quarkus makes so that all security algorithms are added. By default this is false, since each Quarkus service adds only what it needs. I've not looked at the Quarkus code in detail, but chances are that the Quarkus/Vert.x integration should add RSA as one of the security algorithms it shoul

[2020-01-09 17:55] dmlloyd commented on #6466
At one point we had a thing which would ensure that the logging got flushed even if configuration failed, before the application exited.  But at the very least, the caused-by of the exception should have been something like "Failed to read configuration".

One thing we talked about briefly today was maybe we should be adding suppressed exceptions for each individual validation error.  However that

[2020-01-09 17:57] dmlloyd commented on #6481
@guldner am I correct in assuming that the property `foo` is not defined in the configuration?

The correct way to express that a property should expand to the empty string if missing would be like this:

[code]

That said, the exception message is incorrect, it should be something like `Property quarkus.package.runner-suffix is invalid: Property foo not found`, so that's a legitimate bug IMO.

[2020-01-09 17:59] gastaldi commented on #290
Is this still a thing? I see we have `io.quarkus.builder.diag.Diagnostic` which seems to provide the information above.

[2020-01-09 18:00] dmlloyd commented on #290
I suppose the real issue isn't the lack of API, but rather that we aren't using it in any way at present.

[2020-01-09 18:16] marceloverdijk opened #6485 "Adding Groovy plugin to Gradle project fails quarkusDev"
When adding the Groovy plugin like:

[code]

then `quarkusDev` fails with:

[code]

It seems the `src/main/groovy` folder is expected.

I'm only adding Groovy to run Spock tests from `/src/test/groovy`.

When creating an empty `src/main/groovy` folder it keeps complaining about `build/classes/groovy/main`.

[2020-01-09 18:24] gastaldi commented on #624
How does this realm compare to the existing `elytron-security-properties-file` extension?

[2020-01-09 19:05] aesteve commented on #6424
I found something that may lead me on a track though.

1. The first test method in the class actually works, every time
2. The second (and the following) don't
3. If I'm running the tests independently (split every test in different classes: 1 single method per class), then there's absolutely no issue. The whole test suite is green.
4. If I don't use testcontainers and manages the docker image by

[2020-01-09 19:05] heike2718 commented on #5015
I just got this error too and thus would really appreciate it if this could be fixed since I'm now forced to produce a lot of code duplicates.

[2020-01-09 19:52] #6425 closed

[2020-01-09 20:53] guldner commented on #6481
Solved.
@dmlloyd Well, _foo_ is defined. The problem was that I actually had the same property defined for `%dev` with no value:
[code]
This doesn't cause any problems on 1.0.1, but fails on 1.1.0.
I can close the issue, unless you want to keep it for improving the error message.

[2020-01-09 20:57] viniciusfcf commented on #6293
@aguibert db2 running on z/OS too?

[2020-01-09 21:43] x80486 commented on #6485
Had a [very similar](https://stackoverflow.com/questions/59503068/gradles-kotlin-dsl-script-cannot-start-quarkus-application), if not the same issue with Kotlin; it was fixed with `1.1.1.Final` so this should be really straightforward 😉

[2020-01-09 21:46] aguibert commented on #6293
@viniciusfcf initially just DB2 on LUW but hopefully we can add z/OS support soon after

[2020-01-09 21:52] x80486 opened #6486 "Should Flyway run again with hot reload (a.k.a. ./gradlew quarkusDev)"
I think this question doesn't fit on StackOverflow, because I don't know if that is the intended behavior of the framework (or not), but in my opinion it shouldn't.

Let's say I have a project; I'm using JPA and Flyway. I also stated `clean-at-start` for Flyway. I'm not expecting this to be triggered on a hot-reload, but only on the first application start, because what I have in mind with hot-rel

[2020-01-09 23:17] geoand commented on #6466
Thanks for the input @dmlloyd.

I'll look into it soon since we really should have better error messages for 1.2

[2020-01-09 23:24] chengfang commented on #1505
@jmartisk I'm open to making such changes in JBeret to make it work with Quarkus. JBeret 1.3.x branch is a maintenance branch, so I would prefer not to apply these new changes to that branch. JBeret master branch (JBeret 1.4) is currently a place holder for any small enhancement or fixes that are not applicalbe to 1.3.x branch, and should be okay try out your changes.

[2020-01-09 23:52] gastaldi commented on #6486
I'll jump in the conversation and say yes. IMHO during hot reload the Quarkus app should behave like it was stopped and started again, therefore if your configuration states that it should `clean-at-start` that's exactly what is doing :)

[2020-01-09 23:58] dmlloyd commented on #6481
Aha.  In that case the error message is "correct", but possibly could be worded better.  The explicitly empty profile-specific value overrides the original value, which is intended behavior.

[2020-01-09 23:58] gastaldi commented on #6485
That doesn't seem related to the Quarkus plugin. It looks like you need to set the source directories like in https://docs.gradle.org/current/userguide/groovy_plugin.html#sec:changing_groovy_project_layout

[2020-01-10 00:10] dmlloyd commented on #624
It is more flexible, supporting a variety of credential types and authentication methods with (iirc) one user per file.

[2020-01-10 00:11] gastaldi commented on #624
Interesting, I'd like to give it a try if @starksm64 doesn't mind :)

[2020-01-10 02:29] gastaldi commented on #624
Just started it: https://github.com/gastaldi/quarkus/pull/new/security-filesystem

Working on tests now

[2020-01-10 06:42] skarampudi opened #6488 "Support for EKS IRSA for dynamoDb credentials"
**Description**
This feature request is related to EKS, which now supports IAM Roles for Service Accounts. IRSA-enabled AWS SDK performs an sts:assume-role-with-web-identity call to assume the IAM role  and receives temporary credentials which have permissions to access DynamoDb API. Using this mechanism we don't have to fetch credentials from external process .

[2020-01-10 07:12] mkouba commented on #5015
Stuart is currently working on a new class loading mechanism. So we should probably wait until it's merged and verify this use case afterwards. @stuartwdouglas WDYT?

[2020-01-10 07:28] anadollu commented on #2224
We need so much this feature  when migrating legacy applications to quarkus. Please consider to schedule implementation of it

[2020-01-10 08:01] stuartwdouglas commented on #5015
If anyone has a reproducer ready it would be good to test against my branch, but I am pretty sure it will be fixed.

[2020-01-10 08:52] #6470 closed

[2020-01-10 08:55] kevingty commented on #6470
Have posted the same question on [StackOverflow](https://stackoverflow.com/questions/59657084/how-to-bootstrap-guice-injector-within-quarkus/59660119), and got replies from @gsmet . I'll open another issue about MyBatis-CDI on quarkus later.

[2020-01-10 09:13] Sanne commented on #6339
We have tried that in the past. Several people who are contributing ideas and design on #3306 have previously worked on the JCache spec, and even some of the implementations; for example both Galder and myself have worked for 10+ years on Infinispan, and we have had conversations with many other smart people from the caching community including Ignite, cache2k, caffeine, ehcache - feels like lots

[2020-01-10 09:15] marceloverdijk commented on #6485
@gastaldi I never had to configure the Groovy source directories explicitly for any project so far.
And in those projects there were no `src/main/groovy` folders either, only `src/test/groovy`.

Btw even creating an empty `src/main/groovy` folder I still get:

[code]

But I will have another look this evening.

[2020-01-10 09:16] gastaldi commented on #6485
Interesting. I'll have a closer look. Thanks for the feedback

Em Sex, 10 de jan de 2020 06:15, Marcel Overdijk <notifications@github.com>
escreveu:

[2020-01-10 09:18] gastaldi commented on #6485
Can you share a small reproducer project? That would help a lot.

[2020-01-10 09:31] kevingty opened #6490 "Provide an extension for MyBatis"
Hi,
Considering using JPA would cost a lot of efforts on migration from original Spring/MyBatis projects to Quarkus. I'm trying with [MyBatis-CDI](http://mybatis.org/cdi/injection.html) for rebuilding the project within Quarkus.  But I got these Build failure Errors:

        [error]: Build step io.quarkus.arc.deployment.ArcProcessor#validate threw an exception: javax.enterprise.inject.spi.Deploym

[2020-01-10 09:38] donkon commented on #2224
this seems to be also the only missing functionality for migrating our existing Wildlfly based application to Quarkus

[2020-01-10 09:57] marceloverdijk commented on #6485
Sure, will do it this evening.

[2020-01-10 10:11] manovotn commented on #2224
I will look into this sometime next week and see how it can be done.
We will probably need an API similar to what Weld uses.

[2020-01-10 10:21] gsmet commented on #6490
@kevingty it would help if you could put together a small Maven reproducer.

[2020-01-10 10:54] dkuzmenkov17 opened #6491 "AWS lambda could not deserialize SNS and SQS events"
If I subscribe to an AWS lambda for SNS or SQS event, QuarkusStreamHandler could not deserialize the timestamp field from SNS class. It happens because the timestamp is using DateTime from JodaTime library and Jackson could not deserialize it correctly.

My stack trace
[code]

[2020-01-10 10:59] danielpetisme opened #6492 "Caching NONSTRICT_READ_WRITE fails during test"
**Describe the bug**
`@Cache(usage = CacheConcurrencyStrategy.NONSTRICT_READ_WRITE)
` on an entity works with `quarkus:dev` but not on tests

**Expected behavior**
When an entity is annoted `@Cache(usage = CacheConcurrencyStrategy.NONSTRICT_READ_WRITE)
` it should have the same behavior when we test or run the application.

**Actual behavior**
The test fail with a cryptic error

**To Reproduce**
S

[2020-01-10 11:25] geoand commented on #5877
+1

[2020-01-10 12:43] when-nobody-expects opened #6494 "How can I build AWS Lambda using quarkus with gradle?"
**Describe the bug**
Buildng quarkus project with quarkus-amazon-lambda produces different jars when build by maven than by gradle.
**Expected behavior**
Jars builded by different build tools should be pretty much the same.
**Actual behavior**
Differences between extracterd jar are:
[code]
**To Reproduce**
Steps to reproduce the behavior:
    1. Generate project using maven archetype like in https

[2020-01-10 12:59] dforsl commented on #6491
I'm having the same problem with the SNSEvent from `aws-lambda-java-events`. The library is quite convenient, so that one can avoid having to define the event classes anew.

I assumed that I'd be able to solve it by adding the `JodaModule` to a `ObjectMapperCustomizer`, to get the deserialisation working. But then I noticed that `AmazonLambdaRecorder`, which seems to be handling the invocations(?)

[2020-01-10 14:13] starksm64 commented on #624
Have at it George.

[2020-01-10 14:17] gunnarmorling commented on #6369
A related issue was documented in a comment [here](https://www.morling.dev/blog/quarkus-qute-test-ride/#comment-4752132518):

[2020-01-10 15:16] gastaldi commented on #6485
The following `build.gradle` works with quarkusDev. There is not much we can do because the error comes from Gradle and happens before the quarkusDev task is executed.

[code]

[2020-01-10 15:22] dmlloyd opened #6497 "Introduce config-based command line argument binding"
**Description**
Introduce a way to bind command line arguments to configuration values.

- [ ] Introduce an annotation or annotations to indicate that a `@ConfigItem` corresponds to a command line argument with long and/or short forms and the corresponding configuration property name, with a sensible default naming strategy for the long form (if any)
- [ ] Create a backing `BuildItem` to carry thi

[2020-01-10 15:35] iocanel commented on #6303
I think that this can be closed now.

[2020-01-10 15:35] #6303 closed

[2020-01-10 15:47] dmlloyd opened #6498 "Introduce an exit request API with wait-for-exit method"
**Description**
Introduce an exit request API with wait-for-exit method.  Methods should be defined as follows:

- A method to request that the application exit with a given exit code (non blocking) (e.g. `requestExit(int)`; code must be between 0 and 255 (inclusive))
- A method to request that the application exit with no code (0 is implied) (non blocking) (e.g. `requestExit()`)
- A method to wai

[2020-01-10 15:48] dmlloyd opened #6499 "Introduce ability to recognize and execute user main method(s)"
**Description**
Introduce ability to recognize and execute user main method(s).

**Requirements**
- Introduce a means to identify a method as a main method (e.g. an annotation)
- Allow build-time configuration to specify which main method (if any) should be used for the build (can `@Named` be used for this?)
- The main method should be allowed to optionally accept a `String[]` or `List<String>` wh

[2020-01-10 15:49] dmlloyd commented on #284
Superceded by #6499.

[2020-01-10 15:49] #284 closed

[2020-01-10 16:18] bric3 commented on #5656
@maxandersen I think that's a typo, and @stalep refers to this PR : https://github.com/quarkusio/quarkus/pull/1301/files

[2020-01-10 16:46] #6457 closed

[2020-01-10 18:11] kdkanishka opened #6501 "Data source Connection Issue After Updating Quarkus (0.25.0 to 1.1.1.Final)"
**Describe the bug**
After updating Quarkus to 1.1.1.Final the bootstrap process fail with java.sql.SQLException saing Access denied. But it works without any issue with Quarkus 0.25.0 without any configuration change. Apparently quarkus doesn't detect the environment variables.

**Expected behavior**
It should create the data-source connection successfully.

**Actual behavior**
I am using the qua

[2020-01-10 18:14] emmanuelbernard commented on #6439
I find it a bit surprising that for some entity you always want an order. But it maye make sense for focused apps.

Ideally that would be a Hibernate feature @Sanne ? But we could make it a panache one temporarily.

I think `@DefaultOrderBy` makes sense as it mimics https://javaee.github.io/javaee-spec/javadocs/javax/persistence/OrderBy.html which is about attribute level ordering (@loicmathieu I

[2020-01-10 18:43] marceloverdijk commented on #6485
@gastaldi here is an small demo project: https://github.com/marceloverdijk/quarkus-spock

`./gradlew clean quarkusDev` fails as stated earlier.

I also added the `application` plugin and executing `./gradlew clean run` does not give the problem. The main class runs successfully.

Also when building the runner jar and executing that one no problems occur, it seems really relates to the `quarkusDev`

[2020-01-10 18:55] gastaldi commented on #6485
Try adding the following snippet to your build.gradle file:
[code]

[2020-01-10 19:07] dufoli commented on #6172
I think I have found the issue I used git bash instead of cygwin terminal to run under windows. BTW there is nothing on documentation about windows native support.
I install cygwin-devel  (replace glibc)+ gcc-core +  zlib-devel + libstdc
Hope it will worked. If it worked, I will add this solution to adoc to help other window guys.
Else I will use a linux docker.

[2020-01-10 19:28] marceloverdijk commented on #6485
@gastaldi yes that works, but it is only a workaround I assume?

It also requires `implementation 'org.codehaus.groovy:groovy-all:2.4.15'` and that's not desired. Groovy is only needed in the test scope.

[2020-01-10 21:20] rsvoboda commented on #4455
@michalszynkiewicz what's the status and plan here ?

[2020-01-10 21:26] michalszynkiewicz commented on #4455
So far i exposed the idle timeout (that's the thing vert.x gives us for free), it made the issue less urgent.
I have it on my todo list but haven't come back to it yet.
If it's urgent, I can pick it up in parallel with my current assignment. Do you find it high prio?

[2020-01-10 21:28] rsvoboda commented on #4455
I don't want to dictate priority, let's see what @gsmet thinks

[2020-01-10 21:37] marceloverdijk commented on #6458
@Sanne, I have created this sample https://github.com/marceloverdijk/quarkus-hibernate-caching
See the README.md for details.

[2020-01-10 22:14] gastaldi commented on #6485
@marceloverdijk Ah I see what's wrong. I created a PR with the fix: https://github.com/quarkusio/quarkus/pull/6504

Can you give it a try and let me know if that works for you?

[2020-01-10 22:16] gastaldi commented on #6485
Thanks for the reproducer project, that helped a lot :wink:

[2020-01-10 22:23] gastaldi commented on #6501
It looks like the database is not specified in the URL? Maybe that is required in the latest MariaDB driver updated in 1.1.1.Final?

[2020-01-11 03:22] jaikiran commented on #6501
It appears to me that the password isn't being used while getting the connection?

I haven't yet caught up on recent config related changes in Quarkus, but how does that `QUARKUS_DATASOURCE_PASSWORD` environment variable translate in the value for `quarkus.datasource.password` property? I don't see that environment variable being used in the config file that you posted.

[2020-01-11 05:08] kdkanishka commented on #6501
It should work according to the convention.
https://quarkus.io/guides/config

So far it worked.

[2020-01-11 05:09] kdkanishka commented on #6501
closed mistakenly.

[2020-01-11 05:10] kdkanishka commented on #6501
I tried providing the database in URL as well. But it doesn't solve the problem.

[2020-01-11 05:51] dmlloyd commented on #6497
There also should be a way to optionally bind the remaining arguments to a configuration item.  It should automatically "listify" the values.

[2020-01-11 06:09] kdkanishka commented on #6501
Further I tried building docker image based on JVM approach rather than building native image.

[code]
Then it works as expected with latest Quarkus version(1.1.1.Final). So I am pretty sure this problem occurs only with dockerized native image.

[2020-01-11 06:13] heike2718 commented on #5015
Hi Stuart,

I would like to test against your branch but I don't know where I can find it. Could you please give me a hint?

[2020-01-11 07:07] heike2718 commented on #5015
Hi Stuard,

I just wrote a minimal reproducer for this issue:

[classloader-reproducer](https://github.com/heike2718/classloader-reproducer)

Hope that helps.

[2020-01-11 09:44] marceloverdijk commented on #6485
@gastaldi I've build the code from the PR locally and now I can indeed run `quarkusDev` without having to define the Groovy sourceSet and adding the Groovy dependency 👍

[2020-01-11 09:52] geoand commented on #6481
So should we close this one?

[2020-01-11 09:53] dmlloyd commented on #6481
Yeah I suppose so.

[2020-01-11 09:53] #6481 closed

[2020-01-11 09:54] geoand commented on #6501
@kdkanishka do you a small reproducer (with the a docker command for running the database as well) that we can use to reproduce?

[2020-01-11 09:56] heike2718 commented on #5015
Hi Stuard,

unfortunately I was not successful by now. After switching to your quarkus-branch I could not install my quarkus application artifact via maven and when running the server it died quietly (no stack trace)

So at the moment I am stuck.

I did check in my own branch:

[https://github.com/heike2718/minikaenguru/tree/classloader-reproducer](https://github.com/heike2718/minikaenguru/tree/cl

[2020-01-11 10:19] #6485 closed

[2020-01-11 10:26] marceloverdijk commented on #6485
I've also updated the [spock demo project](https://github.com/marceloverdijk/quarkus-spock).
It uses `999-SNAPSHOT` from your PR.

But adding `QuarkusTest` does not work unfortunately in combination with Spock.
Probably some Spock extension work is needed like Micronaut [has](https://github.com/micronaut-projects/micronaut-test/blob/master/test-spock/src/main/java/io/micronaut/test/extensions/spoc

[2020-01-11 10:29] geoand commented on #6485
Those cases can absolutely be made to work flawlessly, it's just that they need some extra attention :)

[2020-01-11 10:32] marceloverdijk commented on #6485
Yes, that's why I'm posting these issues :-)

[2020-01-11 10:33] geoand commented on #6485
Thank you for all your suggestions and help!

[2020-01-11 10:40] marceloverdijk opened #6506 "Support @QuarkusTest in Spock tests"
Using `@QuakusTest` in Spock tests is currently not yet supported.

Probably because the `@QuakusTest` extensions are Junit5 bases and Spock still uses Junit4.

I have a small demo project showing `@QuakusTest` does not work with Spock here: https://github.com/marceloverdijk/quarkus-spock

Relates issue https://github.com/quarkusio/quarkus/issues/4797 and other related thread https://github.com/sp

[2020-01-11 11:31] #6466 closed

[2020-01-11 13:10] marceloverdijk commented on #6458
@Sanne I also created a similar Spring Boot variant [here](https://github.com/marceloverdijk/spring-boot-hibernate-caching) and there the Hibernate second-level caching works as expected.

Do note that I had to add the `@org.hibernate.annotations.Cache` annotation on class level (for both `Continent` and `Country` to get it working.
I also added these to the Panache entities in my Quarkus demo pro

[2020-01-11 15:22] srinivma1 commented on #6355
I am also facing the same issue on Windows 10. Any updates on this?

[2020-01-11 18:07] heike2718 commented on #5015
Hi Stuart

finally I did succeed with a minimal reproducer: see [https://github.com/heike2718/classloader-reproducer](https://github.com/heike2718/classloader-reproducer)

Without JPA it was not possible to reproduce the ClassCastException, but as soon as I used Hibernate JPA I got the Exception running with Quarkus 1.1.1.Final.

Switching to your branch in deed fixed the class loader issue but no

[2020-01-11 18:25] heike2718 commented on #5015
Hi Stuard,

Now I fixed the JPA configuration problem in my reproducer too:

[https://github.com/heike2718/classloader-reproducer](https://github.com/heike2718/classloader-reproducer)

I was forced to include a persistence.xml into the maven dependency used by the quarkus artifact. Annotating EntityManager with Inject leeds to the above mentioned NPE, but annotating with PersistenceUnit works but

[2020-01-11 20:11] alesj commented on #5062
I get this as well -- having Java13, but using maven-compiler-plugin::release==1, and then running it inside Docker with "FROM fabric8/java-alpine-openjdk11-jre"

Exception in thread "main" java.lang.ExceptionInInitializerError
	at io.quarkus.runner.GeneratedMain.main(GeneratedMain.zig:27)
Caused by: java.lang.RuntimeException: Failed to start quarkus
	at io.quarkus.runner.ApplicationImpl.<clinit>

[2020-01-11 20:54] Frintrop opened #6508 "Support for SpringData MongoRepository and MongoTemplate"
Please add support for SpringData´s MongoRepository and MongoRepository.
Companies can reuse existing codebase.

[2020-01-11 22:02] plevart commented on #5062
Hi guys. I'm new to Quarkus and have just stumbled upon this problem. For me, I was building using JDK 13 and running using JDK 11. If I understand this correctly, this is a general problem. If a Quarkus app is built with one version of library, then the same version of library must also be used at runtime or you risk errors like that when for example types in that library rearrange inheritance fr

[2020-01-12 02:32] nimo23 commented on #5871
I think it can be closed if https://github.com/quarkusio/quarkus/issues/6477 is done.

[2020-01-12 02:34] nimo23 commented on #5871
Related to https://github.com/quarkusio/quarkus/issues/6477.

[2020-01-12 09:54] fcracker79 opened #6509 "Error: the trustAnchors parameter must be non-empty"
**Describe the bug**
I managed to create a native AWS lambda with Quarkus, but when I attempt to interact with DynamoDB, I get the error: "the trustAnchors parameter must be non-empty".

I followed the instructions at [Quarkus - Using SSL With Native Executables](https://quarkus.io/guides/native-and-ssl), without any success.
This is the structure of my project:

[code]
`ssl/libsunec.so` comes fro

[2020-01-12 10:19] nimo23 opened #6510 "allow encryption of application config file"
**Description**
Actually, `application.properties` (`application.yaml`) is stored in plain text. However, it can have sensible information which should not be not stored in plain text **while running**. There are also use cases when the contents of the application config file should not be allowed to change by the user while running. Would be nice to have **automatic encryption of `application.pro

[2020-01-12 10:28] nimo23 opened #6512 "allow rename of application config file"
**Description**
Allow the renaming of `application.properties` (`application.yaml`) while compiling the project by a new property in `pom.xml `(or if possible in the config file directly). For example, `quarkus.config.file="app.lic"`.

**Implementation ideas**
Provide a new ("build-time-only-")-property in `pom.xml` (or if possible in the config files directly) `quarkus.config.file="string-value"`

[2020-01-12 10:35] marceloverdijk commented on #6506
PS: For me personally this is currently not a blocking issue, I will continue my demo project using Junit5/Mockito instead.

[2020-01-12 10:46] nimo23 commented on #6095
The use of Hibernate `StatelessSession` is a good alternative to things like myBatis, Jooq, reQuery, etc when it comes to performance.

[2020-01-12 10:57] Meemaw opened #6513 "Provide Gradle GraalVM compatible builder image"
**Description**
In [creating-a-container-with-a-multi-stage-docker-build](https://quarkus.io/guides/building-native-image#creating-a-container-with-a-multi-stage-docker-build) guide there is a Maven docker base image with GraalVM capabilities.

It would be nice if there was one for projects using Gradle as well.

[2020-01-12 11:03] gsmet commented on #6512
We don't want that. We want the Quarkus experience to be as streamlined as possible.

[2020-01-12 11:03] #6512 closed

[2020-01-12 11:04] gsmet commented on #6509
/cc @marcinczeczko

[2020-01-12 11:09] gsmet commented on #6491
@dforsl would you like to give it a shot? That would be an awesome contribution!

[2020-01-12 11:11] gsmet commented on #6509
@fcracker79 hmmm, do you use the Amazon DynamoDB extension?

[2020-01-12 13:10] gsmet commented on #5015
@heike2718 you shouldn't have to use a `persistence.xml`. Did you index your external module with Jandex?

[2020-01-12 14:00] geoand commented on #5062
I am not a CDI expert, but I don't think we can impose such a restriction because of the fact that one can use `Arc.container().instance(...)` to get beans at runtime without there being an injection point.

What I propose we do for now, is that we just hard-code an exclusion for the two problematic interfaces (which are used by String in Java 12+) in the Arc code (I made a small modification to A

[2020-01-12 15:29] fcracker79 commented on #6509
@gsmet thanks for your response. No, I do not use DynamoDB extension, I am just using the AWS SDK, as follows:

[code]

[2020-01-12 16:05] heike2718 commented on #5015
@gsmet

The situation is this: the new classloader mechanism works well for CDI without JPA, so one bug vanished with the above mentioned fix. And you are right, either beans.xml or jandex.idx is sufficient.

But there is one detail, that I overlooked the last time: the EntityManager does not properly get injected inside an external dependency. No matter if there is a persistence.xml or not, it is

[2020-01-12 17:17] gsmet commented on #5015
Do you have a beans.xml in the module consuming the EntityManager?

[2020-01-12 17:54] gsmet commented on #6509
Could you try using the extension instead?

[2020-01-12 18:31] plevart commented on #5062
Ah, yes. That's what I realized soon after writing the comment. If a bean can be requested by its type programmatically, then Quarkus can't know at compile time what type will be requested.
I'm wondering why do all the super-types of a bean need to be resolved at compile time and then hard-coded into generated code? Is this just so that at run-time the generated code can "find" the bean as quickly

[2020-01-12 18:32] heike2718 commented on #5015
@gsmet

No. I changed it to generating a jandex.idx. Btw you can clone or fork the reproducer and check the configuration. It is really minimal.

 I left a renamed beans.xml and persistence.xml so that you can easily test it with different configurations.

[2020-01-12 18:41] gsmet commented on #5062
Frankly, I’m not sure it’s worth the hassle. Is there a good reason to build with JDK 11 and run with JDK 8?

[2020-01-12 19:28] fcracker79 commented on #6509
I tried the quickstart:

[code]

 and I got:

[code]
In addition to that, I found out that the plugin uses a completely different API compared to the official AWS SDK, which is really annoying.

Finally, even in case of successful usage of the plugin, I would have the feeling that, whenever I have to interact via SSL that is not DynamoDB, I would get that error again (e.g. access to S3 or a third

[2020-01-12 20:37] fcracker79 commented on #6509
I have verified at runtime that the SSL system properties are correctly set.

I have also noticed that the error `WARNING: The sunec native library, required by the SunEC provider, could not be loaded` does non appear any more after adding `libsunec.so`.

I have tried setting the system properties `javax.net.ssl.trustAnchors` and `javax.net.ssl.trustStorePassword` in addition to `javax.net.ssl.tru

[2020-01-12 22:16] nimo23 opened #6514 "Provide Hibernate OGM"
**Describe the extension**
With https://hibernate.org/ogm/, we can connect different NoSql stores (e.g., Cassandra, CouchDB, Apache Ignite, Infinispan, MongoDB, etc.). Would be nice to add  Hibernate OGM as extension. Its OGM-entities could also be simplified with PanacheEntity for OGM.

However, I dont know if it would be better to provide extensions for the NoSql-Database directly instead of usi

[2020-01-12 23:01] geoand commented on #5062
@gsmet isn't valid to a lower release? I mean it's probably not terribly common for an application, but it seems like the price to pay (banning these arcane interfaces from CDI injection is small)

[2020-01-12 23:15] misl commented on #6424
I ran into the same issue:

[code]
I created a reproducer here: https://github.com/misl/QuarkusIssueReproducer
The reproducer is basically the Hero service from the workshop. Only change is that there are 2 (identical) @QuarkusTest annotated classes HeroResourceTest and Hero2ResourceTest with the container stuff moved to a base HeroTestBase class. If either one of the ResourceTest classes is remov

[2020-01-12 23:21] stuartwdouglas commented on #5062
I think we should just hard code restrictions around the problematic interfaces. Enough people seem to be affected by this that it is worth doing.

[2020-01-13 01:24] stuartwdouglas commented on #5015
I am going to have a look into this and see what it going on

[2020-01-13 01:46] k0l0ssus opened #6515 "Server Sent Events components aren't being resolved"
**The code kit**: [quarkus-getting-started.zip](https://github.com/quarkusio/quarkus/files/4053740/quarkus-getting-started.zip)

**Describe the bug**
None of the componentry necessary for SSE per the JAX-RS standards are being CDI-resolved in a vanilla bootstrapped Quarkus project
**Expected behavior**
I should be able to successfully startup and inject (with `@Context`) `javax.ws.rs.sse.SseBroadc

[2020-01-13 01:49] stuartwdouglas commented on #5015
Were you using my new-class-loading2 branch? I just tested this out and I don't see any NPE, or any other failure. There are some issues with the app itself but they don't seem to be related to this bug.

[2020-01-13 01:50] 1017727621 commented on #6436
Did anyone reply to me?

[2020-01-13 02:57] kevingty commented on #6490
Hi @gsmet , I use gradle to build the project and upload the code to [my repository](https://github.com/kevingty/reproduce-mybatis-cdi-quarkus). Hope you could check it out. Thank you.

[2020-01-13 05:33] jmartisk commented on #1505
Cool, thanks @chengfang. So unless someone comes up with the idea that JBeret is not the way to go, I'll try and continue my experiments, basing it on JBeret master and assume that we will get 1.4.0 out with the Quarkus compatibility fixes. I noticed one more significant problem and that's the usage of JBoss Marshalling, that's not compatible with native compilation, fortunately it isn't used that

[2020-01-13 07:03] geoand commented on #5712
@jclingan have you thought how this guide should look?

[2020-01-13 07:14] geoand commented on #6513
cc @cescoffier

[2020-01-13 08:24] mkouba commented on #5062
So the hard-coded restrictions are a superugly hack and as @plevart mentions there will be probably other similar use cases. On the other hand, I agree that we should fix the most common use case now and possibly work on a better solution in the future.

[2020-01-13 08:25] geoand commented on #5062
Agreed, I did that in #6517

[2020-01-13 08:34] sdaschner commented on #6131
I'm having the same issue and thus not updating to `1.1.1.Final` yet. IMO it's crucial to run plain unit tests that can access the regular JAX-RS client without using a config creation workaround and without switching the JAX-RS impl to Jersey or else.

Maybe some tests on running components such as the JAX-RS client (`ClientBuilder...`) standalone would help mitigating this in the future?

Are th

[2020-01-13 08:35] cescoffier commented on #6513
Yes, that's relatively easy. We already have a module installing Gradle.

We just need:

1 - add Gradle to https://github.com/quarkusio/quarkus-images/blob/master/quarkus-maven-overrides-java8.yaml#L27
2 - Rename the image
3 - Update the documentation

The hardest, as usual, would be to find the right name for this image...

[2020-01-13 08:45] aesteve commented on #6424
Thank you so much for the reproducer!
I really struggled to create one. This helps a lot.

[2020-01-13 08:49] FroMage commented on #6439
Yeah, not sure how useful this would be, perhaps it's premature to add it without waiting for more user requests?

My vote would go to applying it on all queries without order indeed. Not hard to implement.

[2020-01-13 09:24] marceloverdijk commented on #6439
Yes, that's exactly what I would expect.

[2020-01-13 10:00] mkouba opened #6519 "Qute - fix default template extensions for java.util.Map"
`Map.get()` and `Map.containsKey()` are not handled correctly. A workaround exists:

[code]

[2020-01-13 10:01] gsmet commented on #6492
@danielpetisme could you prepare a reproducer (a simple Maven project woulr be perfect)? Better do that than describing each file. Thanks!

/cc @Sanne

[2020-01-13 10:16] andreas-eberle opened #6520 "Native build fails when adding quarkus-smallrye-reactive-messaging-amqp extension"
**Describe the bug**
The quarkus native build fails when adding the `quarkus-smallrye-reactive-messaging-amqp` extension. This also fails in a newly generated (empty) project (see steps to reproduce). When I try to create the native image build with `./mvnw package -Pnative -Dquarkus.native.container-build=true`, I get the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

[2020-01-13 10:26] gytis opened #6521 "Implement Spring Data REST extension"
This extension would provide a Spring Data REST API wrapper around the REST Data Panache extension.

[2020-01-13 10:57] csotiriou opened #6522 "Rest Client Builder ignores http proxy properties"
**Describe the bug**
(Describe the problem clearly and concisely.)
Rest Client Builder ignores http proxy properties.

Consider this piece of code that creates a customized REST Client implementation according to the microprofile specification:

[code]

**Expected behavior**
Calls to services usiing this client should pass through the proxy.

**Actual behavior**
Proxy is totally ignored, and no ma

[2020-01-13 10:59] geoand commented on #6522
cc @kenfinnigan @asoldano

[2020-01-13 11:15] geoand commented on #6522
@csotiriou thanks for reporting!

Have you perhaps omitted to attach the reproducer project?

[2020-01-13 11:20] danielpetisme commented on #6492
My bad I prepared it but forgot to paste it

https://github.com/danielpetisme/quarkus-caching-test-error

The listed files come from this repo

Le lun. 13 janv. 2020 à 11:01, Guillaume Smet <notifications@github.com> a
écrit :

[2020-01-13 11:29] csotiriou commented on #6522
@geoand you are right, I attached now the project, thanks.

[2020-01-13 11:33] gsmet commented on #6520
Are you compiling with JDK 12+ and pushing that to GraalVM? If so, it won't work.

GraalVM 19.2.1 requires JDK 8 code.

[2020-01-13 11:33] gsmet commented on #6520
Related to https://github.com/quarkusio/quarkus/pull/6517 .

/cc @geoand

[2020-01-13 11:35] geoand commented on #6520
Thanks for the heads up @gsmet.

This does indeed look like a duplicate of #5062

[2020-01-13 12:30] #5062 closed

[2020-01-13 12:32] geoand commented on #6520
I will however take another look soon

[2020-01-13 12:59] andreas-eberle commented on #6520
@gsmet: Thanks, using JDK8 resolved the issue.

[2020-01-13 12:59] plevart commented on #5062
Is there an issuer already to track a more general solution?

[2020-01-13 13:00] geoand commented on #6520
Closing this as a duplicate of #5062 (which has been fixed in `master`)

[2020-01-13 13:00] #6520 closed

[2020-01-13 13:00] geoand commented on #5062
@plevart There is not. Feel free to open one containing all the information you think is relevant.

[2020-01-13 13:01] sberyozkin opened #6526 "Update to Vertx 3.8.5"
**Description**
Vertx 3.8.5 will have a number of fixes expected by `quarkus-oidc`

**Implementation ideas**
Update `bom/parent/pom.xml`

CC @cescoffier

[2020-01-13 13:08] plevart opened #6527 "Super-types of bean resolved at compile-time but not present at run-time cause start-up failure"
One example of the problem is described in issue  #5062 which has been fixed with a work-around for that particular bean type (String) and its super-types. This issue is about investigation and proposals to find a more general fix for the problem.

[2020-01-13 13:51] Sanne commented on #6492
thanks @danielpetisme !

@galderz will you be able to have a look?

[2020-01-13 13:54] Sanne commented on #6439
Same, which in my mind makes this more a Panache feature than an Hibernate feature; incidentally, it would also be far harder in Hibernate so if people feel it belongs in Hibernate I'd indeed wait for many more votes.

[2020-01-13 13:56] FroMage commented on #6439
Yeah, I think panache is a good low-risk incubation layer. We don't need to add stuff in Hibernate until we try them there.

[2020-01-13 14:26] gastaldi commented on #6522
I haven't tested it yet, but does it work if you set the `http.proxyHost` system property?

[2020-01-13 14:26] dmlloyd commented on #6527
During the build, we may do any or all of the following:

1. Reflectively examine and/or index classes on the class path for structure
2. Reflectively analyze the method bodies of classes on the class path and their dependencies
3. Execute some code on the class path
4. Store information dependent on any of the above

Because of this, differences in the JDK at build and run time have a much greate

[2020-01-13 14:40] csotiriou commented on #6522
@gastaldi seems like it has the same behavior, perhaps for different reasons.

Still, setting this proxy setting will make all http clients use this proxy, which is not what I need for this project.

[2020-01-13 14:59] loicmathieu commented on #6414
This has alread been discussed on the mailing list: https://groups.google.com/d/msg/quarkus-dev/01GSKgzQ9dA/GjgE2c7nAwAJ

[2020-01-13 14:59] loicmathieu commented on #3257
Closes as a more up-to-date issue has been created: #6414

[2020-01-13 14:59] #3257 closed

[2020-01-13 15:23] mkouba opened #6529 "ArC - exception thrown in @PreDestroy callback of a application/singleton bean prevents container shutdown"
All `javax.enterprise.context.spi.Contextual.destroy()` implementations should catch any exception and log an error message.

[2020-01-13 15:27] dmlloyd commented on #6527
Note that this will (at least in theory) affect building on Mac/Windows and deploying to Linux/etc.

[2020-01-13 15:28] nimo23 commented on #588
How does quarkus treats the `src/main/resources/node_modules`-folder (which can have a vaste amount of data in different formats(js, css, html, txt)? Will it be scanned and included all over the time while (hot) compiling the project?

[2020-01-13 15:31] dmlloyd commented on #6527
Correct, this applies to JVM mode.  Native images don't actually have this problem because in a sense, they carry the JDK inside of them.

[2020-01-13 16:23] maxandersen commented on #6527
So in theory this could even be an issue if you build your app on a linux box based on ubunutu but in production runs on centos/rhel based openjdk ?

[2020-01-13 16:25] andreas-eberle opened #6531 "Request: Example gitlab-ci.yml with jvm and native builds"
Can you add an example gitlab-ci.yml file to the documentation? I haven't been able to find such an example and it would be especially interesting to include tasks for tests, native tests, jvm builds and native builds. Including such an example allows an easier start into Quarkus.

[2020-01-13 16:44] martinscmb commented on #5814
Hi @alfredopalhares,

In your sequence of steps you need to add the command _mvn clean package_ before docker build:

So, now you have:
`
git clone https://github.com/lssoares/single-maven-quarkus
cd single-maven-quarkus
mvn clean package
docker build -f docker/Dockerfile -t simple-maven-quarkus:latest .
docker run -t -p 8080:8080 simple-maven-quarkus:latest
`

Conclusions:
- With first and second

[2020-01-13 16:54] dmlloyd commented on #6527
I think that is unlikely *if* the JDK is identical between them (because the class structure and API implementations of the JDK will not differ in this case).

[2020-01-13 17:41] heike2718 commented on #5015
@stuartwdouglas

No, I was on the master.

Just now I checked out new-class-loader2 but could'nt install it and thus cannot test with this branch: Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.6.0:exec (gradle) on project io.quarkus.gradle.plugin: Command execution failed.: Process exited with an error: 1 (Exit value: 1) -> [Help 1]
(I have openjdk version "1.8.0_232" and Gradle 3.2

[2020-01-13 17:46] gastaldi commented on #6513
`centos-quarkus-gradle`?

[2020-01-13 18:11] unsichtbarer commented on #6501
I have the same issue. It doesn’t use the password and username provided in the config.
It is also not working if I add dem as parameter in the url.

The first exception regarding this issue I see is the following. After that the app tries to use root and no password.

`DEBUG [io.qua.agr.run.AbstractDataSourceProducer] (main) Started data source io.agroal.pool.DataSource@7f14bcfc7760 connected to

[2020-01-13 18:12] sberyozkin commented on #6462
@seseso it is the same as supporting the unverified tokens really, even though the spec texts make it optional, the token with the unlimited lifetime can be used by anyone.
I don't know. In the case of supporting the unverified tokens we have them actually validated somewhere at the barrier, so the users do not want them verified.
What is your use case ?

[2020-01-13 18:14] sberyozkin commented on #6460
@Tayeh As discussed at Zulip, this is no longer a bug, thanks

[2020-01-13 18:14] #6460 closed

[2020-01-13 18:19] sberyozkin commented on #6350
@TheGeekPharaoh @aelfric FYI, `quarkus-keycloak-authorization` uses the keycloak client though I'm not sure if it the same one that you'd like to use. If not the same then may be there is a case for a new `quarkus-keycloak-client` extension, unless all these client calls can be done via the the standard oidc client protocols (they'd go to `quarkus-oidc-client`).
Hey Pedro @pedroigor FYI

[2020-01-13 20:00] csotiriou commented on #6522
I took a stub in fixing this in Resteasy, @gastaldi @geoand . I hope I made the correct fix (https://github.com/resteasy/Resteasy/pull/2268).

On a side note, it seems that the microprofile rest-client specification hasn't yet implemented setting the http-proxy either through a `RestClientBuilder`, or through the application.properties configuration (ref: https://github.com/eclipse/microprofile-re

[2020-01-13 20:04] cescoffier commented on #6513
The same image would provide maven and gradle.

[2020-01-13 20:43] #6434 closed

[2020-01-13 20:49] danielpetisme opened #6536 "Database/Cache not shared between the integration test and the application"
**Describe the bug**
I have a dummy CRUD application.
In the integration tests, when I update the database data, the modifications are not visible to the application I'm testing.

I'm not pretty sure where the issue comes (cache or database flush)

**Expected behavior**
When I update a database in an integration test, the modification should be visible from the application under test (cache shared

[2020-01-13 20:57] fmhwong opened #6537 "[Native] Can't create instance of a class: class java.util.Properties, No default constructor found."
**Describe the bug**
When running the native image, the following code throws `javax.ws.rs.ProcessingException: RESTEASY008200: JSON Binding deserialization error: javax.json.bind.JsonbException: Can't create instance of a class: class java.util.Properties, No default constructor found.`

Code snippet
[code]

**Expected behavior**
The code run without throwing exception.  It works fine in dev mode

[2020-01-13 21:15] geoand commented on #6501
@unsichtbarer do you perhaps have a small project that exhibits this behavior so we can try
?

[2020-01-13 21:21] geoand commented on #6537
This is interesting because we need a way to register classes for reflection whose source can't be changed and therefore the `@RegisterForReflection` annotation cannot be added.
So some kind of configuration via `application.properties` would make sense

@dmlloyd @gsmet @FroMage @stuartwdouglas have we perhaps discussed this one before?

[2020-01-13 21:22] nimo23 commented on #6537
For native mode, you must register the class for reflection. Normally, it can be done by `@RegisterForReflection` on class level. However, in your case it is `java.util.Properties`, which could be added to `reflection-config.json`. However, maybe classes coming from jdk should be registered for reflection by default.

[2020-01-13 21:24] geoand commented on #6537
In this case can't know the type anyway because `Response` does not have a generic type.

[2020-01-13 21:27] DanHeidinga opened #6538 "Ensure Quarkus in JVM-mode works on Eclipse OpenJ9"
### Description
The Eclipse OpenJ9 JVM is an alternative to the Hotspot JVM.  It provides a cross-platform Java environment that includes support for the P (Power) & Z (s390) architectures.  The OpenJ9 team is interested in ensuring that Quarkus in JVM mode runs well on OpenJ9 and provides a great user experience.

This issue is to help coordinate any issues found while testing Quarkus on OpenJ9 o

[2020-01-13 21:28] geoand commented on #6537
@fmhwong as a workaround you can just return `Properties` instead of `Response`

[2020-01-13 21:36] fcracker79 commented on #6509
Apologies for the mess, I accidentally included a symlink of `cacerts` in `function.zip`.

[2020-01-13 21:36] #6509 closed

[2020-01-13 21:41] danielpetisme commented on #6536
Since there is nothing annotated `@Cacheable` I can't blame the Hibernate 2L cache, nevertheless in a hopeless attempt I disable it too... as expected nothing happens
[code]

[2020-01-13 21:54] FreifeldRoyi opened #6539 "Performance degradation 0.22.0->1.1.0.Final"
While upgrading a service from version 0.22.0 to 1.1.0.Final I noticed an increase in latency with the same amount of HTTP request/sec.

Things that were changed:
1. Upgrade quarkus 0.22.0 to 1.1.0.Final
2. `@Context HttpServletRequest` changed to `@Context HttpRequest`
3. Json logging integration was added instead of solution from #1847
4. `@Stream` Changed to `@Channel`

I noticed an increase in

[2020-01-13 22:08] sberyozkin commented on #6454
@vicentini No, unfortunately it is not possible yet. Let me update the labels.

[2020-01-13 22:11] sberyozkin commented on #5874
@paulrobinson sorry, just got back from a trip home...

[2020-01-13 22:12] stuartwdouglas commented on #6537
You can use io.quarkus.runtime.annotations.RegisterForReflection#targets to register classes you cannot change.

[2020-01-13 22:13] geoand commented on #6537
Aha! I never saw that one, thanks

[2020-01-13 22:14] FreifeldRoyi commented on #6539
Upgrade to 1.1.1.Final lowered the memory consumption to ~300mb

[2020-01-13 22:16] geoand commented on #6537
So I I'll go ahead and close this since we already have a mechanism for dealing with such cases.

[2020-01-13 22:16] #6537 closed

[2020-01-13 22:29] fmhwong commented on #6537
Okay, I have created `reflection-config.json`

[code]
and the native binary doesn't throw the exception anymore.  Thanks!

[2020-01-13 22:36] nimo23 commented on #6537
That would be nice.

However, maybe these would lead to bigger size for the native executables?

Btw, you only need the constructor for reflection. Maybe this is sufficient?

[code]

[2020-01-13 22:38] geoand commented on #6537
That should probably get it working.

And yes, we don't add things automatically for reflection because (among other things), the more you add, the larger the image size

[2020-01-13 22:45] nimo23 commented on #6537
Would it be possible for quarkus to scan only those classes needed for reflection on compile? For example: If quarkus analyzes/scans the application source code on compile and sees that the constructor for `java.util.Properties` is needed then it could automatically register this class for reflection on compile.

[2020-01-13 22:48] stuartwdouglas commented on #6537
If you were returning the Properties object directly from the REST endpoint then we could. Unfortunately we can't really do that for programatically build responses.

[2020-01-13 23:11] ebullient commented on #6205
Working on this, just so ppl know. I'm going slowly (distracted).. but there is progress

[2020-01-14 01:53] viniciusfcf opened #6540 "Tool to generate Rest Client code"
**Description**
OpenAPI and Rest Client are microprofile specs and does not exist a tool to generate a Rest Client code based on an OpenAPI generated yaml/json.

**Implementation ideas**

1. VSCode Quarkus extension upgrade to generate Rest Client based on an OpenAPI generated yaml /json file
2. Maven target to generate Rest Client based on an OpenAPI generated yaml/json
3. "Generate Rest Client"

[2020-01-14 03:04] stuartwdouglas commented on #6527
The linked issue is not about package private members of the JDK, the issue is that additional interfaces have been added to java.lang.String and other constant types. These will be present no matter the minor version.

We should not be introspecting implementation details of the JDK unless the users code is using it directly in their application.

I don't think this will be a big problem outside

[2020-01-14 04:01] heike2718 commented on #5015
@stuartwdouglas

I just fixed createUser. Please pull the new version.

But I could not check if this now works either because the entity manager is null.

[2020-01-14 04:20] stuartwdouglas commented on #5015
It works for me now.

[2020-01-14 04:38] heike2718 commented on #5015
OK, thanks a lot.

A view minutes ago I also fixed the ID generation and the quarkus.hibernate-orm.database.generation property. I tested it without external dependency and this worked.

Now I will wait for the new Quarkus release.

[2020-01-14 06:32] galderz commented on #6492
@Sanne Sure, looking into it.

[2020-01-14 06:51] galderz commented on #6492
The second-level cache implementation for nonstrict-read-write requires entry versioning. The error you're getting is because entities do not have versioning information.  With nonstrict-read-write caches are allowed to return stale values, so versions are required to figure out which entry is newer. You have two options to solve this:

* Stick to nonstrict-read-write and add versioning to your en

[2020-01-14 07:01] geoand commented on #6205
Cool, thanks for the update

[2020-01-14 07:42] gsmet commented on #6492
Shouldn't we throw an error at build time?

On Tue, Jan 14, 2020 at 7:51 AM Galder Zamarreño <notifications@github.com>
wrote:

[2020-01-14 07:56] edewit commented on #588
@nimo23 that is why I put organised [the frontend project](https://github.com/quarkusio/quarkus-quickstarts/pull/286) into 2 modules one for the frontend and one for the backend. That way only a `pom.xml` is needed extra in the frontend project (that also builds with the maven frontend plugin and copies the project into `src/main/resources/`) and using a proxy you can still to `npm start` and have

[2020-01-14 08:45] rsvoboda commented on #2263
@johnaohara this issue mentions native part.

What about JVM mode? I guess it should be as easy as any Java application.

[2020-01-14 08:51] jmartisk opened #6544 "Micrometer compatibility mode for Metrics"
Users migrating from Spring Boot and Micrometer might want to expose the same JVM metrics as they used to, so that they don't have to rework their Grafana dashboards.
The naming and organization of base/vendor metrics exposed by Quarkus is different than what Micrometer does, so it would be useful to have a configuration option that changes them to align with that scheme. In particular, we should

[2020-01-14 08:57] johnaohara commented on #2263
@rsvoboda JVM mode continues to function in the same way as using Byteman with a JVM right now, so it is possible to include the Byteman JVM agent, and load/unload rules into a running application.

The native binary is a bit more complicated but possible. The byteman agent and rules need to be used in the JVM that is bootstrapped and used to generate a native image.  As the native image generatio

[2020-01-14 09:10] rsvoboda commented on #2263
That's one way for sure. I'm also considering Byteman as very nice tool for fault injection testing ([BMUnit](https://developer.jboss.org/wiki/BMUnitUsingBytemanWithJUnitOrTestNGFromMavenAndAnt) stuff)

JVM mode - I assume it work out of the box ;)
Native mode - I guess same story as in the above comment

[2020-01-14 09:16] nimo23 commented on #588
@edewit So we need to watchers: one for quarkus:dev (server code) and the other for the frontend-code (for example, by webpack hot redeploy).

Is it possible to bind tasks by pom.xml to quarkus:dev to watch/rebuild the frontend-module also on any change?

[2020-01-14 09:20] jmartisk commented on #6544
The main obstacle in the road that I currently see is that the MP Metrics implementation works with the base/application/vendor scopes (as is required by the spec) and prepends the scope of each metric before its name in the Prometheus output. Micrometer doesn't do anything like that.
To overcome that, I suppose we would physically place all these new jvm metrics in the `vendor` registry and add f

[2020-01-14 09:27] danielpetisme commented on #6492
@galderz could you point me some documentation please ? I'm not familiar with this versioning...
The only versioning info I have is `private static final long serialVersionUID = 1L;` for Serialization

[2020-01-14 09:29] loicmathieu opened #6545 "src/test/resources/import.sql not loaded"
**Describe the bug**
In **test** mode, when we put the `import.sql` script inside `src/test/resources` it is not taken into account by Hibernate but it is taken into account when it is inside `src/main/resources`.

**Expected behavior**
In **test** we could be able to put the import script inside `src/test/resources`.

**Actual behavior**
In **test** we must put the import script inside `src/main/

[2020-01-14 09:34] gsmet commented on #6544
Couldn't you just add some sort of aliases if a configuration property is enabled?

[2020-01-14 09:42] nimo23 commented on #588
While developing, the frontend-code (react) is bound to the backend-code (quarkus) by a proxy. So every change on the frontend-code is rebuild by its _frontend-watcher_ while every change on the backend-code is rebuild by _quarkus:dev_. So there is no need to put the frontend-code in `src/main/resources/` on every change.

[2020-01-14 09:48] rsvoboda commented on #2263
I'm starting to think that guide or blog post around Quarkus and Byteman could attract some people, Byteman is nice added value.

[2020-01-14 09:48] elamotte7 commented on #6105
Hi everyone,
when do you think this bug will be fixed? For the next release?
thx for your help.

[2020-01-14 09:50] rsvoboda commented on #3354
@evanchooly can be this closed ?

[2020-01-14 10:05] geoand commented on #6545
@loicmathieu I don't agree with this.
Why do you believe that `src/test/resources` should be taken into account when running the dev mode?

Nothing else from `src/test` is taken into account in dev mode, so why would this case be an exception?

cc @gsmet

[2020-01-14 10:06] geoand commented on #6544
@ebullient I think you were also interested in this?

[2020-01-14 10:11] loicmathieu commented on #6545
@geoand Sorry, this is **test** mode of course. I update my issue.

[2020-01-14 10:14] geoand commented on #6545
OK, thanks!

Then yeah, this sounds like a legitimate issue

[2020-01-14 10:15] jmartisk commented on #6544
The metrics that Micrometer exposes are actually quite different. For example MP Metrics has a `gc.time` counter for each garbage collector, while Micrometer has three distinct metrics (count, max, sum) that differentiate major and minor GCs and they even need to subscribe to JMX notifications to gather data of this granularity on-the-fly.
So I can't quite imagine that right now - the mapping woul

[2020-01-14 10:50] #6529 closed

[2020-01-14 11:15] gsmet commented on #6544
@jmartisk makes perfect sense!

[2020-01-14 11:22] dima-fedotovs opened #6546 "Hibernate ORM Implicit Naming Strategy Config"
Initial discussion - https://groups.google.com/forum/#!topic/quarkus-dev/F2Xu_1dKick

We need to support implicit naming strategy in application.properties

[2020-01-14 11:33] gsmet commented on #6546
We had a lot of reservations about implementing the customization of the implicit strategy.

So here is a question for you: why do you need that? What's your use case exactly?

[2020-01-14 11:38] rsvoboda commented on #2751
Can somebody please summarize current status and future plans with this (long) issue?

I tried vertx-quickstart and added quarkus-flyway + quarkus-jdbc-postgresql.

I received following error: Caused by: java.lang.IllegalArgumentException: Multiple matching properties for name "datasource.url" property was matched by both public java.util.Optional io.quarkus.agroal.runtime.DataSourceRuntimeConfig.

[2020-01-14 11:41] rsvoboda commented on #2219
@jaikiran do you have plans for this issue ?

[2020-01-14 11:47] rsvoboda commented on #1724
@stuartwdouglas when that big classloader PR is merged this gets resolved too ?

[2020-01-14 11:48] dima-fedotovs commented on #6546
We have pretty strict naming conventions that are different for naming entities/properties and tables/columns. For example, all our entities are named in singular, camel case, and suffixed with "Entity" (UserEntity, UserAddressEntity), but table corresponding to the entity must be named in the plural, snake_case and without any suffixes (users, user_addresses).
Similarly, columns should be camel_c

[2020-01-14 11:50] rsvoboda commented on #1710
@mkouba @sberyozkin @kenfinnigan can you comment on https://github.com/quarkusio/quarkus/issues/1710#issuecomment-553567917 ?

[2020-01-14 11:59] #3354 closed

[2020-01-14 12:03] gastaldi commented on #6546
PR created in https://github.com/quarkusio/quarkus/pull/6547. I'll let @gsmet decide whether that PR should be integrated or not :smiley:

@dima-fedotovs can you give that PR a try and see if that works for you?

[2020-01-14 12:25] gastaldi commented on #6486
Closing. Please start a discussion in the [Mailing list](https://groups.google.com/forum/#!forum/quarkus-dev) if you need more information :wink:

[2020-01-14 12:25] #6486 closed

[2020-01-14 12:33] gastaldi commented on #2150
Issue #2851 requests a proper shutdown API. Closing this issue now. Thanks!

[2020-01-14 12:33] #2150 closed

[2020-01-14 12:35] gastaldi commented on #2851
It looks like #6498 has more information about this. Should we close this issue?

[2020-01-14 12:43] gastaldi commented on #6498
Dumb question, but after the application exits, what is a valid use case for `awaitExit()`?

[2020-01-14 12:47] dmlloyd commented on #6498
The `awaitExit` method would be used to wait for someone to call `requestExit`.  Once exit is requested, `awaitExit` returns the requested exit code.

[2020-01-14 12:56] gunnarmorling commented on #2851
Sure, feel free to close it, if this requirement is tracked elsewhere.

[2020-01-14 13:00] gastaldi commented on #2851
@gunnarmorling thanks. Closing in favor of #6498

[2020-01-14 13:00] #2851 closed

[2020-01-14 13:02] jaikiran commented on #2219
Hello @rsvoboda, I had forgotten about this. I'll spend some time on this. Thank you for checking.

[2020-01-14 13:17] tpenakov opened #6549 "Apache Tika can not parse Microsoft Docx format in native mode"
The test project in order to reproduce the problem is created [here](https://github.com/tpenakov/otaibe-apache-tika-docx-native-project).

Steps to reproduce:

- create a native executable: `./mvnw package -Pnative`
- start the binary: `./target/otaibe-apache-tika-docx-native-1.0-SNAPSHOT-runner`
- call the service
    - Option 1 : `curl -v -H "Content-Type: application/octet-stream" -X POST --dat

[2020-01-14 13:45] sberyozkin commented on #6549
@tpenakov thanks, we've covered some cases, but since so many formats  are supported not all code paths have been likely covered

[2020-01-14 13:50] wzzrd opened #6550 ":remote-dev mode stopped working with 1.1.0.Final"
**Describe the bug**
Since 1.1.0.Final, :remote-dev seems to have stopped working (unless I'm missing some additional steps that have to be taken with 1.1.0.Final). Connection from the local to the remote side times out with:
[code]
Command on the "local" side:
[code]
Command on the "remote" side:
[code]
(I have some more -D options set, but I left those out for the sake of conciseness.)

When sta

[2020-01-14 13:53] gastaldi commented on #6513
Maybe something like `centos-quarkus-builder` since it's meant to be used to build the app :)

[2020-01-14 13:54] sberyozkin commented on #6549
Adding a step which loads `org.apache.xerces.xni.parser.XMLParserConfiguration` provider resource in `TikaProcessor` should fix it.

[2020-01-14 13:58] tpenakov commented on #6549
@sberyozkin thanks - Is it possible to do it on my project via configuration?

[2020-01-14 14:04] Sanne commented on #6492
yes we should provide a better error. But also, we don't support caching of writeable entities: there's no way to keep these caches coherent across multiple nodes.

@danielpetisme could you explain why you're trying to change the caching access? I hope you've seen the warnings documented on https://quarkus.io/guides/hibernate-orm#limitations-of-caching

[2020-01-14 14:08] mkouba commented on #1710
So I have no idea what the problem in this issue is. However, if a producer returns `javax.json.JsonString` it's ok, because interfaces are proxyable and CDI does not care about the impl class. It's true that in CDI normal scoped beans (`@RequestScoped`) may not be declared final. In fact, even `@Dependent` bean may not be final if it has a bound interceptor.

[2020-01-14 14:12] ebullient commented on #6544
Just as commentary, jvm_* (as done by Spring micrometer) is more parallel to what other runtimes do, e.g. the default labels used by a popular nodejs prometheus client: https://www.npmjs.com/package/prom-client

The micrometer implementation is also pulling in/referincing the prometheus java client: https://github.com/micrometer-metrics/micrometer/blob/master/implementations/micrometer-registry-pr

[2020-01-14 14:14] sberyozkin commented on #6549
@tpenakov may be with the SubstrateVM configuration, something like `-H:ReflectionConfigurationFiles=reflect-config.json`, but I can't find an example where one would set it to include some extra `META-INF/services` resource.
@dmlloyd, @gsmet do you know if it is possible to do ?

just for my record, it is `org.apache.tika.parser.microsoft.ooxml.OOXMLParser` which is not working in the native mode

[2020-01-14 14:24] tpenakov commented on #6549
@sberyozkin - I've tried to dig by my self and ended up with this configuration (below), but the error is still there :( Just a different configurations is missing.

Here is my reflection-config.json

[code]

[2020-01-14 14:26] tpenakov commented on #6549
@sberyozkin - if needed I can add the reflection-config.json to the test project?

[2020-01-14 14:30] sberyozkin commented on #6549
@tpenakov thanks, I'll try to fix it at the processor level when I get to it

[2020-01-14 14:38] gsmet commented on #6549
Maybe @tpenakov would be interested in contributing?

[2020-01-14 14:46] danielpetisme commented on #6492
To be franck I stupidly migrate a config from jhipster so I didn't
challenged the need right now.
I'm not an expert of caching so tel me know what would be the best
configuration please.

Daniel PETISME
+33 (0) 6 69 29 45 55
daniel.petisme@gmail.com

On Tue, Jan 14, 2020 at 3:05 PM Sanne Grinovero <notifications@github.com>
wrote:

[2020-01-14 14:46] tpenakov commented on #6549
Thank you @gsmet ,
I do not know how to do this.
Could you please send me some links/guides?
I can try to read them and then to make a decision...

[2020-01-14 14:53] gastaldi commented on #6545
I created a test and I can't reproduce the problem you're describing. If I add a `import.sql` script in src/test/resources, that file is used when my @QuarkusTest is run. What am I missing?

[2020-01-14 14:56] geoand commented on #6545
@loicmathieu if you have a reproducer ready, that would be great

[2020-01-14 14:59] tpenakov commented on #5959
I've just tested it with 1.1.1.Final and can confirm that is fixed.
Thank you!

[2020-01-14 15:03] geoand commented on #6550
Thanks for reporting, I'll check it out

[2020-01-14 15:07] FroMage commented on #6536
This is probably because your test is in its own transaction: https://github.com/danielpetisme/database-integration-tests-issue/blob/master/src/test/java/org/acme/FruitResourceTest.java#L25

We can't make tests modify the DB without a transaction because the `EntityManager` requires a transaction, so it becomes hard to inject DB data for tests.

We also can't make the REST endpoints join the trans

[2020-01-14 15:18] gastaldi commented on #6545
This is my test case: https://github.com/gastaldi/quarkus/commit/3e0b74feed43c5e14986990492e357f8be52b759

[2020-01-14 15:27] edewit commented on #588
right it's not needed on every change to put the frontend-code in `src/main/resources` only when you do a maven production build will that be done.

[2020-01-14 15:30] hartimcwildfly commented on #5226
As the PR is merged, the issue can be closed.

[2020-01-14 15:33] geoand commented on #6550
Two things so far:

1) I was able to reproduce your problem
2) The problem goes away if you add something like

[code]

Now I will look at why system property doesn't work

to `application.properties`

[2020-01-14 15:33] danielpetisme commented on #6536
If I remove the annotation I have a warning...

[2020-01-14 15:47] danielpetisme commented on #6536
Regarding testing strategy, my 2cts

**Strategy 1: Everything via HTTP**
The simpler/naive method but the context init is complex.
Running a test setup via HTTP (ie. creating data in the DB, etc) implies that the creation endpoint exists. Not very TDD/isolation-compliant (your creation endpoint may have a bug while your actual method under test works just fine)

**Strategy 2: Mocking Database**
A

[2020-01-14 15:48] dasniko commented on #6519
Thanks, the workaround works like a charm.
I wasn't aware of the second param option. 👍

[2020-01-14 15:57] danielpetisme commented on #6492
For the record
https://github.com/jhipster/generator-jhipster/issues/9250

[2020-01-14 16:34] cescoffier opened #6553 "STM - File System Exception"
I've an issue when running the STM quickstart in native mode on Github Actions:

[code]

[2020-01-14 16:38] gastaldi commented on #6553
It looks like this is caused by a call to `System.getProperty("user.home")` in a class initialized during build time.

My investigation points to the constructor of `com.arjuna.ats.arjuna.common.ObjectStoreEnvironmentBean`, where it does: `this.objectStoreDir = System.getProperty("user.dir") + File.separator + "ObjectStore"`

[2020-01-14 16:52] emmanuelbernard commented on #6536
I don't think strategy 3 would solve things, neither should 2 because as Stef said, the fact that your data is not visible in the rest end point is expected as you are having two transactions here. One for your test writes, and one for your REST endpoint (read in your case I imagine).

So what stef proposes (to be able to inject a transaction API to control the scope in your test). Maybe as a test

[2020-01-14 16:55] emmanuelbernard commented on #6536
An alternative is for the test engine to allow you to tag a methoid as a fixture initialization method that we can `@Transactional`

[code]

Note that this idea should be refined to allow post test data cleanup.
At which stage the yaml fixture might be better?

What do other framework do in this case? E.g. Spring?

[2020-01-14 17:05] FroMage commented on #6536
I could get behind:

[code]

But it's clearly suboptimal and it makes me wonder if we should not question the refusal of our `EntityManager` to function outside of transactions _when in test context_. Is there any valid use-case for refusing transaction-less tests?

This would allow us to write:

[code]

[2020-01-14 17:15] evanchooly opened #6554 "Running mvn package -DskipTests=true doesn't produce the runner jar"
**Describe the bug**
Skipping the tests sidesteps the entire execution of the BuildMojo

**Expected behavior**
I should be able to skip running the tests and still package up the runner jar.

**Actual behavior**
The standard jar is built but not the runner.

**To Reproduce**
Steps to reproduce the behavior:
1. mvn clean package -DskipTests=true
2. ls target/

[2020-01-14 17:23] gsmet commented on #6554
@evanchooly it's specific to something or it's for all the Quarkus applications?

[2020-01-14 17:26] danielpetisme commented on #6536
I don't know the deep details of Spring but I know they use Repository Mocking there is no hidden DB.

[2020-01-14 17:37] evanchooly commented on #6554
I get it trying to build an integration-test, e.g.  It seems the `skip` parameter on `BuildMojo` is picking up on that property somehow and getting set incorrectly

[2020-01-14 17:39] evanchooly commented on #6554
doh.  just [found it](https://github.com/quarkusio/quarkus/blob/master/integration-tests/pom.xml#L20).  This should be removed maybe?  Not entirely useful but I can work around it.

[2020-01-14 17:40] evanchooly commented on #6554
that did it.  i can explicitly set that property when I need it.  (mostly) false alarm.

[2020-01-14 17:40] #6554 closed

[2020-01-14 20:30] rsvoboda commented on #3538
@aguibert any idea when 1.0.6 will be released ?

[2020-01-14 20:38] rsvoboda commented on #3539
@aloubyansky How is https://github.com/quarkusio/quarkus/pull/5464 connected to this ?

[2020-01-14 20:40] aguibert commented on #2751
hi @rsvoboda, discussion on this topic has primarily moved to the mailing list here:
https://groups.google.com/forum/#!topic/quarkus-dev/3r0lquVsUsc

I believe this proposal by @dmlloyd is the current best option, but we don't have consensus on it:
https://groups.google.com/d/msg/quarkus-dev/3r0lquVsUsc/xkqiIA0aAwAJ

[2020-01-14 20:51] rsvoboda commented on #4460
@aloubyansky any plans with this issue ? Asking because it's assigned to you and it makes impression it's on the radar or in progress

[2020-01-14 21:07] aloubyansky commented on #3539
#5464 isolated certain parts of Bootstrap's maven artifact resolver initialization (including command line parsing) by loading classes directly from the Maven's lib directory if `maven.home` property is set (which is set the Maven build process). Otherwise, it expects the necessary Maven API and impl to be on the classpath.
I've been working on a general approach to enable initialization of all Ma

[2020-01-14 21:09] aloubyansky commented on #4460
I'll have a look into it once we get the new classloading in, as it touches a bit the relevant classes.

[2020-01-14 21:15] fcracker79 commented on #2461
All in all, I managed to implement a fully functional Alexa Skill using Quarkus native.
You can find all the details [here](https://medium.com/@fcracker79/implementing-alexa-skill-using-quarkus-native-459f04cded10).
Hope this help to move forward to the implementation of an extension.

[2020-01-14 21:27] seseso commented on #6462
I wanted to use a token as a service to service authentication mechanism,
more or less like an API key but, for that to work, the token shouldn't
expire.  For now, I  define the expiration date as the long max value as
its required but, since the spec doesn't require any field, I was curious
about the implementation.

On Mon, 13 Jan 2020, 18:12 sberyozkin, <notifications@github.com> wrote:

[2020-01-14 21:30] geoand commented on #6549
@tpenakov You can find some information at: https://quarkus.io/guides/writing-native-applications-tips

The real hard-core information however can be found here: https://quarkus.io/guides/writing-extensions.

The people on the Quarkus team would be glad to help you out should you decide to take this on

[2020-01-14 21:40] maxandersen commented on #6497
Will this auto-read of arguments and then removal before calling to user own "main" be forced or something that user can turn on/off ?

And how about when user have their own validation and shell completion support; like what picocli can provide - how would such libraries become aware of these "magical" property settings ?

[2020-01-14 21:43] maxandersen commented on #6499
Reading the proposed items I'm struggling to figure out if I'll be able to as follows:

[code]

here I'm just using a method reference, but could also be a class.

Main point is that I'll have a plain static main that can be booted by Quarkus.

Or is the expectation all is always handled by Quarkus ?

[2020-01-14 21:57] dmlloyd commented on #6499
That seems doable to me.  We just have to be sure that the Quarkus build process has a way to know which entry point main to use during build.

[2020-01-14 22:01] dmlloyd commented on #6497
I would think it would probably be forced, otherwise we could end up with some truly bizarre behavior.

I'm not sure what the right solution is for this, but I do know that this is a problem that has to be solved twice: once because *we* consume some arguments, and once again because GraalVM's main method consumes some more arguments.

[2020-01-14 22:04] maxandersen commented on #6499
Yes, I assume we'll have a way to do both - the explicit main() method is mainly just for easy launching from IDE or command line jar runs.

[2020-01-14 22:22] aguibert commented on #3538
@rsvoboda it's been a while since we released Yasson 1.0.5 so I suppose we're about due for a new release. I'll work on cutting a new Yasson release this week and getting Quarkus updated

[2020-01-14 22:26] rsvoboda commented on #5305
smallrye-config 1.5.1 is used now, can be this issue closed ?
https://github.com/quarkusio/quarkus/blob/master/bom/runtime/pom.xml#L34

[2020-01-14 22:31] rsvoboda commented on #5683
@gsmet @jaikiran any plans around this issue ?

[2020-01-14 22:35] rsvoboda commented on #5752
RESTEasy update PR was merged 10 days ago, is this issue fixed now ?

[2020-01-14 22:42] rsvoboda commented on #5791
PR is in https://github.com/resteasy/Resteasy/commits/4.4.2.Final
Master now uses 4.4.2.Final

Can be this issue closed ?

[2020-01-15 05:06] stuartwdouglas commented on #1724
yes

[2020-01-15 06:10] geoand commented on #5752
@rsvoboda yes, I'll close it.

[2020-01-15 06:10] #5752 closed

[2020-01-15 06:12] geoand commented on #5791
Has been fixed in RESTEasy

[2020-01-15 06:12] #5791 closed

[2020-01-15 06:31] #3538 closed

[2020-01-15 06:42] #5305 closed

[2020-01-15 06:43] gsmet commented on #5305
@rsvoboda good catch

[2020-01-15 07:00] tpenakov commented on #6549
@geoand , @gsmet , @sberyozkin - I can try to do it.

[2020-01-15 08:37] geoand commented on #6483
Now that 19.3.1 is released, we should just rely on it for CI I think and not on the `19.3` branch

[2020-01-15 09:09] loicmathieu commented on #6545
@gastaldi there is an existing import.sql inside src/main/resources in the jpa integration test so this is not the same test case.
I triple check and I still have the issue in my project. I will try to provide a reproducer

[2020-01-15 09:10] jmartisk commented on #6544
After some more thinking, I guess we'll have to place these JVM metrics in the `base` scope instead of `vendor`, because `vendor` might potentially contain metrics published by various Quarkus extensions, and I suppose we want to keep all other metrics unaffected by this special mode. This will allow us to simply skip prepending the `base_` prefix for all metrics in the `base` scope (if we placed

[2020-01-15 09:22] #6324 closed

[2020-01-15 09:44] rsvoboda commented on #3539
Is it something you will discuss with wider team or you will just create PRs for it ?

[2020-01-15 09:46] rsvoboda commented on #2751
@aguibert thanks for the update

[2020-01-15 09:46] kevingty commented on #6490
@gsmet Hi, I find out that Quarkus ArC differs a lot from Weld implementation,  which is used within MyBatis-CDI. So it seems i got to write some glue code or customize an extension. Hope there would be a extension of MyBatis soon, since MyBatis as persistance layer with better SQL optimization is kind of mainstream in East Asia for dealing with high performance requirements.

[2020-01-15 09:47] aloubyansky commented on #3539
I briefly mentioned that to @gsmet at the f2f, he thought it made sense.

[2020-01-15 09:50] wfrank2509 commented on #6327
Not sure if it helps - having the same issue - I could narrow it down to make it work when I don't use the Postgres extended types from 'com.vladmihalcea:hibernate-types-52' library.

For me adding this dependency breaks the native build.

[2020-01-15 10:04] geoand commented on #3454
@gytis @FroMage can you add the points you discussed please?

[2020-01-15 11:11] radcortez commented on #5814
Because you are running a multi module maven build, you need to use `mvn install` so Maven can add the project dependencies from `repository`, `service`,  `resource`, etc. to `quarkus-root`.

Since you are using `package` only, jars for each module are only going to be placed in the own module target folder. When you run `java -jar *runner`, it doesn't call the Maven reactor, so it seems fine, but

[2020-01-15 11:38] geoand commented on #6544
I think it's a valid first step

[2020-01-15 12:21] gwenneg commented on #6483
I can take care of this update as part of the double compatibility final PR which will be submitted tonight.

Unless there's a last minute issue, Quarkus `1.2` will use the GraalVM SDK from `19.2.1` and support native image generation from both GraalVM `19.2.1` and `19.3.1`.

[2020-01-15 12:26] tpenakov commented on #5959
@pedroigor - I need your help here :)
I've tried to add a custom `ClaimInformationPointProvider`. The provider is dummy and just read the request body and log it to the console. It is updated in the [same sample test project](https://github.com/tpenakov/org-otaibe-enforcer-claim-can-not-read-body).
The provider class is: `org.otaibe.enforcer.claim.can.not.read.body.cip.FhirClaimInformationPointPro

[2020-01-15 12:27] gwenneg commented on #6483
I forgot we need @cescoffier for the Docker image generation :)

@cescoffier could you please create `ubi-quarkus-native-image:19.3.1-java8` and `ubi-quarkus-native-image:19.3.1-java11`?

[2020-01-15 12:30] cescoffier commented on #6483
@gwenneg  push to quay in progress.
See https://github.com/quarkusio/quarkus-images/commit/e391ec4a39b92854419a4e14e2f7ea3ba510738a/checks?check_suite_id=401920973

[2020-01-15 12:41] geoand commented on #6483
Things are looking good I think, thanks a lot folks

[2020-01-15 12:49] HeavyTobi commented on #5275
Any news on that?

[2020-01-15 13:02] andreas-eberle opened #6561 "QuarkusDev does not start with Kotlin subprojects"
To see the full disucssion on this subject, please refer to this chat: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Quarkus.20Dev.20not.20working.20with.20Kotlin.20and.20Subprojects

**Describe the bug**
I have a Quarkus gradle project with two modules `project-a` and `project-a-models`. `project-a` is a quarkus project having a dependency on the plain Kotlin `project-a-models

[2020-01-15 13:14] iocanel opened #6562 "Generated openshift manifests should use the runner jar"
**Describe the bug**
Generated openshift manifests should use the runner jar

**Expected behavior**
Generated manifests should include a `DeploymentConfig` that references the runner jar.

**Actual behavior**
The plain jar is referenced instead.

**To Reproduce**
Steps to reproduce the behavior:
1. add the kubernetes extension.
2. add kubernetes.deployment.target=openshift
3. build

[2020-01-15 13:19] jmartisk opened #6563 "Dev mode: reload on infinispan-embedded.xml-config file changes"
In dev mode, we should trigger a reload when there is a change in the `quarkus.infinispan-embedded.xml-config` file

[2020-01-15 14:06] francois-travais commented on #3113
Hi @jmartisk, for MQTT, I think you could also check `mqttClient.isConnected()`

[2020-01-15 14:36] FroMage commented on #3454
So, to recap, it would be nice to get the following features:

- `CrudController` (or service or endpoint, whatever we end up calling our controllers) interface (best try to keep this in an interface unless we must use a class) which is parameterised by an `EntityType` and `Id` type.
[code]
- We would generate their implementation in any type which implements this interface.
- Entities of the type

[2020-01-15 14:39] rsvoboda commented on #5337
This is native only issue ?

[2020-01-15 14:47] FroMage commented on #5602
So after discussion, we'll start with these features:

- Add a `Controller` class (or interface?) that REST endpoints extend to:
-- opt-in to using their class name as the default `@Path()` annotation if not present (with special mapping for removing trailing `Resource` and turning camel-case into brochette-case).
-- opt-in to treating public methods as `@GET` unless another method annotation is p

[2020-01-15 14:49] FroMage commented on #5602
Note that this requires being able to tell openapi and resteasy about the magic.

[2020-01-15 14:49] FroMage commented on #3454
Note that this requires being able to tell openapi and resteasy about the magic.

[2020-01-15 14:50] geoand commented on #5602
cc @gytis

[2020-01-15 14:51] geoand commented on #3454
cc @gytis

[2020-01-15 14:51] TheVidAllMayThe opened #6566 "PanacheMongoRepository does not deal well with instants"
When using the PanacheMongoRepository to query the database using Instants the Inventory does not find any results unless the query is written in mongo syntax.

`fun getByCreationInstantBefore(time: Instant) = list("endAt < ?1", time)`

Should return the Commands present in the database with endAt < time but returns an empty list.

Steps to reproduce the behavior:
1.  Create a Database populated w

[2020-01-15 15:17] gytis commented on #3454
@geoand @FroMage feel free to assign this to me. I don't have enough karma to assign myself.

[2020-01-15 15:18] sberyozkin commented on #4975
No nimbus-jwt dependencies exist now, neither in the master nor quickstarts, so I will close it

[2020-01-15 15:18] #4975 closed

[2020-01-15 15:27] geoand commented on #3454
Done. Once I have a little more free time I'd like to work on this as well

[2020-01-15 15:28] sberyozkin commented on #6462
@seseso but [MP JWT requires it](https://download.eclipse.org/microprofile/microprofile-jwt-auth-1.1.1/microprofile-jwt-auth-spec.html#_minimum_mp_jwt_required_claims).
I think I'll close this issue as I'm not sure we  can let the tokens without the `exp` claims without introducing the risk for the users to make a mistake.
Hope you are OK with it, since you have a reasonable workaround for your us

[2020-01-15 15:32] sberyozkin commented on #6462
Note we are actually going to introduce a `ttl` property to let the users to block the tokens with too long `exp` values, but the good news it would be not set by default :-)

[2020-01-15 15:32] Sanne commented on #6492
Thanks @danielpetisme , I've commented on https://github.com/jhipster/generator-jhipster/issues/9250#issuecomment-574712451 so that people there can see this too.

Regarding the Quarkus/jhipster work, would it be possible to generate these only for immutable entities?

We only (exclusively) support `@Cache(usage = CacheConcurrencyStrategy.READ_ONLY)` ; clearly this could evolve, but that's not pla

[2020-01-15 15:35] #6462 closed

[2020-01-15 15:42] jclingan opened #6577 "GELF extension guide missing in "open guide" menu option"
**Describe the bug**
When clicking the extension menu (verticle "...")for gelf, selecting the "Open Guide" option links to a [non-existing guide](https://quarkus.io/guides/central-logging).

**Expected behavior**
Should link to this url: https://quarkus.io/guides/centralized-log-management

**Actual behavior**
Links to wrong URL

[2020-01-15 16:23] Sanne commented on #6546
Ok, I think we should allow this.

Wondering though: should we explore ways to automatically discover a custom naming strategy rather than expose a configuration property?

[2020-01-15 16:26] gastaldi commented on #6546
Perhaps in a separate issue. Specifying the class name works for the
presented use cases.

Em Qua, 15 de jan de 2020 13:23, Sanne Grinovero <notifications@github.com>
escreveu:

[2020-01-15 16:56] JamieChapman8462 opened #6568 "Couldn't find artifact"
**Describe the bug**
when building the project the artifact io.quarkus:quarkus-bom:pom:999-SNAPSHOT cannot be found

**Expected behavior**
[code]

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/quarkusio/quarkus-quickstarts.git
2. cd quarkus-quickstarts
3. mvn io.quarkus:quarkus-maven-plugin:1.1.1.Final:create \

[2020-01-15 16:58] #6568 closed

[2020-01-15 16:59] JamieChapman8462 commented on #6568
I was attempting to build this inside the cloned repo.

[2020-01-15 17:43] dforsl commented on #6491
@gsmet sure, would be fun! I'm completely swamped for this week, but I'll try to have a look next week.

Without really knowing anything, the `BeanContainer` looks interesting for this! I'll get back if I get the time.

[2020-01-15 18:04] LuisAzeved commented on #3318
I'm still having this problem. Tests run locally, however, when the jenkins pipeline runs the tests, they fail. Printing this to the console:
[code]

If I remove that dependency from the project, it just founds another dependency to complain about:
[code]

And again, everything runs smoothly locally... Any suggestions? @aloubyansky

[2020-01-15 18:09] Sanne commented on #6546
presented use cases.

I would prefer to not expose an additional configuration property: if we can keep such things simpler, we should explore that first.

[2020-01-15 18:10] aloubyansky commented on #3318
How is Maven launched in your case? Does it fail if you configure the proxy using https://maven.apache.org/guides/mini/guide-proxies.html?

[2020-01-15 18:26] gastaldi commented on #6546
I'm not sure how would that work TBH, I'm open for suggestions

[2020-01-15 18:41] Sanne commented on #6546
I'm thinking we could have an annotation to allow Quarkus to find extensions to frameworks; I've not thought much about it though, we should probably send a proposal to the mailing list - but I'm in meetings this weeks and struggling to find proper think time :)

We could have either a `@HibernateExtension` (name unimportant but I hope it gives the idea) which people could slap on implementations

[2020-01-15 22:24] #4448 closed

[2020-01-15 22:27] gsmet commented on #6549
@tpenakov let us know about your progress. If you don't get to it, maybe @irenakezic will be able to help.

[2020-01-15 22:28] gsmet commented on #6531
Are you talking about the Quarkus build or the projects we generate?

[2020-01-15 22:29] gsmet commented on #6566
@loicmathieu could you have a look?

[2020-01-15 22:36] #6553 closed

[2020-01-15 22:43] dcdh commented on #4557
I have fixed it by returning a **CompletionStage.supplyAsync** cf this [commit](https://github.com/dcdh/poc-quarkus-persistence/commit/09e86941551f4c934b84495fad69bff0586320a7)

I guess the rule would be to always return an **CompletionStage.supplyAsync** when processing data.

I close it. Thanks.

[2020-01-15 22:43] #4557 closed

[2020-01-15 23:07] sberyozkin opened #6571 "Document OIDC Multi-Tenancy feature"
**Description**
The new OIDC multi-tenancy mechanism has been implemented by Pedro and now needs to be documented

@pedroigor Hey Pedro, you may already have some docs in progress, please do a follow PR, thanks

[2020-01-15 23:16] sberyozkin opened #6572 "Update to smallrye-jwt 2.0.12"
**Description**
It brings a new JWT builder API and the ability to support custom schemes such as DPoP

[2020-01-16 07:02] tpenakov commented on #6549
@gsmet and @sberyozkin ,
I have some progress. But I am a little bit stuck here. Now the exception is:
[code]

Adding this code to TikaProcessor does not fix it:

[code]

I will need more time to take a closer look. May be on Friday and during the weeknd...

[2020-01-16 07:24] geoand commented on #6483
The latest PR is https://github.com/quarkusio/quarkus/pull/6574, correct?

[2020-01-16 08:04] mkouba commented on #6396
Ok. So we generate a value resolver for `PanacheEntityBase` because there is a [param declaration](https://github.com/gunnarmorling/quarkus-qute/blob/master/src/main/resources/templates/todo.html#L1) in `todo.html` which binds `dev.morling.demos.quarkus.Todo` -> value resolver is generated automatically for the class and all subclasses. However, there is a bug in the generator - we don't skip stat

[2020-01-16 08:38] dima-fedotovs commented on #6546
I'm not sure how annotation can help. It isn't possible to define multiple Implicit Naming Strategies in Hibernate. So it will be required to introduce a mechanism/rules on how to select a single one if there are more than one class annotated.

[2020-01-16 08:45] ia3andy commented on #6577
It seems the link is wrong in the extension metadata:
https://github.com/quarkusio/quarkus/blob/master/extensions/logging-gelf/runtime/src/main/resources/META-INF/quarkus-extension.yaml

[2020-01-16 08:47] #6577 closed

[2020-01-16 08:55] loicmathieu commented on #6566
@TheVidAllMayThe `<` will map to `$lt` if you want to map to `$lte` you need to use `<=`.

Can you try with
[code]

You can active query logging to check that the correct query is created by MongoDB with Panache via

[code]

Please activate it and give us the query to help diagnose the issue.

[2020-01-16 09:17] geoand commented on #3454
Thanks for the list @FroMage. I think it's complete :)

[2020-01-16 09:22] gsmet commented on #6546
Yeah, frankly, we already merged the physical naming strategy as a
configuration knob, I would rather be consistent.

On Thu, Jan 16, 2020 at 9:38 AM Dimitrijs Fedotovs <notifications@github.com>
wrote:

[2020-01-16 09:42] dima-fedotovs commented on #6546
BTW I've tested the PR. It works perfectly for me. Thanks! I really hope it will be a part of the next release

[2020-01-16 09:50] TheVidAllMayThe commented on #6566
That was my bad, I really wanted the behavior to be of "<", not "<=".

@loicmathieu when trying as you suggested I get this:

`[io.qua.mon.pan.run.MongoOperations] (executor-thread-1) {'endAt':{'$lt':'2020-01-16T09:45:21.283Z'}} ` and the result is again an empty list.

I'm guessing it should be translated to `{'endAt':{'$lt':ISODate('2020-01-16T09:45:21.283Z')}}` instead