[2020-11-25 12:40] #13274 closed

[2020-11-25 13:19] #13073 closed

[2020-11-25 14:10] michael-simons commented on #13438
How would you see this implemented, @machi1990 ?

Pro using Neo4j Testharness:
* Speed
* No docker
* Dedicated methods to provide fixtures
Contra
- Tons of dependencies
- Using enterprise edition is not that straight forward

Pro using Testcontainers
* No dependencies
* Using a more realistic approach in regards of network
* Easy to switch image between community and enterprise edition
Contra
* Do

[2020-11-25 14:31] Meemaw opened #13470 "Hibernate validator does not work with extending interfaces"
**Describe the bug**
`quarkus-hibernate-validator` does not work if class implements a resource interface that extends another interface.

[code]

This used to work in Quarkus 1.6.2 but seems to be broken in some of the higher versions.

**Expected behavior**
`quarkus-hibernate-validator` should correctly validate even such resources.

**Actual behavior**
`quarkus-hibernate-validator` does not val

[2020-11-25 14:41] michalszynkiewicz commented on #13430
@sshaaf thank you for your report.
The issue with import is fixed in 1.10.0.Final.

You can use io.quarkus:quarkus-bom:1.10.0.Final as the platform to have it working :)

[2020-11-25 14:41] #13430 closed

[2020-11-25 16:04] ppalaga opened #13472 "Workaround graal#3003 by passing IncludeResources via AutomaticFeature instead of command line argument"
https://github.com/oracle/graal/issues/3003 makes our ResourcesITCase fail on GraalVM 20.3.0
A workaround is possible to pass the IncludeResources via AutomaticFeature instead of command line argument.
The workaround would unblock the upgrade to GraalVM 20.3.0.

A PR follows.

[2020-11-25 16:21] ppalaga opened #13475 "Add quarkus.native.resources.excludes"
We have `quarkus.native.resources.includes` in [NativeConfig](https://github.com/quarkusio/quarkus/blob/1abba828f4538f7f13a829d8909792cadc126ab7/core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java#L264)

This is easy to implement after https://github.com/oracle/graal/issues/2347 was fixed in GraalVM 20.3.0

A PR follows.

[2020-11-25 16:58] #12412 closed

[2020-11-25 18:21] machi1990 commented on #13438
Good question @michael-simons , I do not have a recommendation or strong opinion on either really. I've seen both approaches used on the repo.

Maybe @gsmet and @geoand would know better.

[2020-11-25 18:28] geoand commented on #13438
Great idea!

I generally prefer the embedded way when it's an option.

Testcontainers for me is great when the service is not a JVM service.

[2020-11-25 18:31] michael-simons commented on #13438
One good reason for test containers is that selecting the version would be ideally an init parameter of the test support, pointing to the image in use. Which might even be one held in a local repo with a fixture build in. Quarkus users than wouldn't need to deal with the dependencies of the embedded Neo4j product.

I personally do recommend embedded for stored procedure development and where I am

[2020-11-25 19:01] defnull opened #13478 "HTTP Server does not support `Expect: 100-continue`"
**Describe the bug**
A `HTTP/1.1` request with `Expect: 100-continue` is not handled correctly by the HTTP server implementation (vert.x / undertow). This causes timeouts or delays for clients that follow the spec.

**Expected behavior**
The HTTP server implementation should send `100 Continue` or an error response immediately, or at least as soon as the application tries to read from the message

[2020-11-25 19:11] defnull commented on #13478
Also confirmed for `1.10.0.Final`

[2020-11-25 19:29] RustamSultansoy opened #13479 "Vault doesn't work with profiles"
**Describe the bug**
I want to use vault only for prod profile, so I added this in my properties:
`%prod.quarkus.vault.url=http://localhost:8200
...
%prod.quarkus.datasource.password=${pass-from-vault}

`
**Expected behavior**
I expect that for all profiles except prod it won't work because optional url is empty.
But when prod is active then it should work.
**Actual behavior**
It doesn't work with

[2020-11-25 20:12] sebthom opened #13484 "Maven Devmode in Quarkus 1.10.0 not working when maven-toolchains-plugin is configured"
**Describe the bug**
When migrating from Quarkus 1.9.2.Final to 1.10.0.Final launching our maven projects (which have the [maven-toolchains-plugin](https://maven.apache.org/plugins/maven-toolchains-plugin/) configured) in dev mode fails.

**Expected behavior**
Executing `mvn quarkus:dev` should not fail to launch the application with Quarkus 1.10.0.Final

**Actual behavior**
Executing `mvn quarkus

[2020-11-25 20:31] defnull commented on #13478
I guess what's missing is `io.undertow.server.handlers.HttpContinueAcceptingHandler`. Is there a way to add this handler to the stack without waiting for a new quarkus release?

[2020-11-25 20:42] glefloch commented on #12874
Thanks @lmagomes for reporting this. It looks like the generated java code is not compiled after generation.
If you add the following configuration in your `build.gradle` configuration it should work. I'm working on fixing this in the plugin:

    sourceSets {
        main.java.srcDirs = ["build/classes/java/quarkus-generated-sources/grpc"]
    }

[2020-11-25 20:46] gsmet commented on #13478
/cc @stuartwdouglas

[2020-11-25 21:13] sberyozkin opened #13485 "Support ID and Refresh token strategy for keeping the OIDC token state"
**Description**
Default `TokenStateManager` keeps ID, Access and Refresh tokens.
It looks like that for a good number of OIDC `web-app` applications, only ID and RT are required.

Access token is only needed to
1) get UserInfo - this maybe redundant for example for Keycloak users who configure ID token to contain a `groups` claim
2) make outbound requests to the downstream services - which is like

[2020-11-25 21:14] geoandri commented on #13209
Hi @ia3andy ,

While running the generated JBang project I am getting the following error:

[jbang] Post build with io.quarkus.launcher.JBangIntegration
Warning: failed to load configurator: java.util.ServiceConfigurationError: org.jboss.logmanager.EmbeddedConfigurator: io.quarkus.bootstrap.logging.InitialConfigurator not a subtype
	at java.base/java.util.ServiceLoader.fail(ServiceLoader.java:588)

[2020-11-25 22:00] seseso commented on #13301
@loicmathieu, sorry, I forgot the link. Here it is: [https://github.com/seseso/mongodb-panache-quickstart.git](url)

[2020-11-25 22:08] samodadela commented on #13393
@ebullient

I have:

[code]
On another note: The only thing I did here is comment out the Interceptor. Some time ago, on another issue, you told me to add it for the registration of tags... seems not needed - the tags are added even without it. I also moved MonitoringConfig from a 'common' jar directly to the app, just in case.

Then:
[code]

I DO NOT have this:
[code]

Can't find CombatMetrics in

[2020-11-25 22:23] samodadela commented on #13393
Output when running mvn:quarkus dev from IJ without redirection to file:

run1:
[code]

run2:
err... can't get it again ;)

It's behaving very quantum mechanics - if you observe it you change the result.
Could it be some concurrency problem?

[2020-11-25 22:37] samodadela commented on #13393
Almost forgot, my pom.xml:
[code]

[2020-11-25 23:05] ebullient commented on #13393
The default interval for stackdriver is 1 minute between batches, which will definitely feel like a long time when you're drumming your fingers to wait for something to happen. ;)

CombatMetrics wraps registration of some custom metrics in my application, it isn't relevant to what we're doing.

I think you're right that the interceptor isn't needed anymore. Quarkus is actively looking for `@Produc

[2020-11-26 02:14] weir2010 commented on #13446
@mkouba thanks

[2020-11-26 02:15] #13446 closed

[2020-11-26 05:55] geoand commented on #8593
Seems like `org.apache.camel.quarkus.component.geocoder.it.GeocoderNominationTest` failed.

cc @ppalaga @lburgazzoli

[2020-11-26 06:54] lukaszlenart commented on #2611
Thanks a lot @loicmathieu for the clarification!

[2020-11-26 07:02] geoand commented on #13459
We can probably set that under the covers if necessary

[2020-11-26 07:45] samodadela commented on #13393
I know about the 1 minute interval, and from the log excerpt above (/tmp/pause.log) you can see that I did wear my fingers with tapping ;) 11 minutes of excruciating pain. The log above is:
[code]
Using DEBUG I only see the lines "successfully sent"...

I'll play around with:
[code]

I'll also turn off prometheus just in case... but I'm pretty sure that the Noop histogram was called from within St

[2020-11-26 07:46] samodadela commented on #13393
BTW: Which metric were you watching while debugging? I was observing jvm/gc/pause...

[2020-11-26 08:21] ppalaga commented on #8593
@jamesnetherton noticed that, filed https://github.com/apache/camel-quarkus/issues/2033 and disabled the test for now.

[2020-11-26 08:24] jamesnetherton commented on #8593
Also https://github.com/quarkusio/quarkus-platform/pull/158.

[2020-11-26 08:32] geoand commented on #8593
Cool, thanks folks

[2020-11-26 08:38] agoncal commented on #13459
In the [RESTAssured documentation](https://github.com/rest-assured/rest-assured/wiki/Usage#content-type-based-serialization), it's written:

. JSON using Jackson 2 (Faster Jackson (databind))
. JSON using Jackson (databind)
. JSON using Gson
. JSON using Johnzon
. JSON-B using Eclipse Yasson
. XML using JAXB

As for the use of `ObjectMapperType` the [RESTAssured documentation ](https://github.com/

[2020-11-26 09:25] cihati opened #13489 "`IfBuildProfile` is not respected for gRPC `ServerInterceptor`"
**Describe the bug**
[code]

**Expected behavior**
`AuthInterceptor` should not be activated unless `prod` profile is used.

**Actual behavior**
I see the output `rpc error: code = Unauthenticated desc = We should not be here in this profile: test` when running in `test` profile

**To Reproduce**
Relevant code piece is given above

**Configuration**
[code]

**Screenshots**
(If applicable, add scre

[2020-11-26 09:32] ia3andy commented on #13209
@geoandri could you push the generated project to github and share it?

cc @maxandersen

[2020-11-26 10:36] mmaryo commented on #12680
Can you update web3j version ?

That make I cannot use Quarkus because bom contains very old web3 version

https://github.com/web3j/web3j/releases

https://oss.sonatype.org/service/local/repositories/releases/content/io/quarkus/quarkus-universe-bom/1.9.2.Final/quarkus-universe-bom-1.9.2.Final.pom

[2020-11-26 10:47] #13276 closed

[2020-11-26 10:50] sberyozkin commented on #13363
I've done some work on this PR, could not fix the form+basic authentication test, so more time is needed

[2020-11-26 11:15] gsmet commented on #12680
@vsevel IIRC okhttp is used by Vault? Any chance we could upgrade there?

@mmaryo you can simply override the dependency version in your local project.

[2020-11-26 12:12] Erfankam commented on #13420
I have been used .env files and also we **need to not ignore** this file automatically. I think this feature is very when development environments are very in each organization.

[2020-11-26 12:17] Erfankam commented on #13412
I m interested to work on this issue. How to assign issue to myself?

[2020-11-26 12:21] medvedev commented on #13412
@Erfankam the PR is already merged. But you can pick other Sentry's options from `DefaultSentryClientFactory` stack and make them configurable in Quarkus, in scope of a separate ticket.

[2020-11-26 12:31] galderz commented on #12691
@gsmet @geoand The workaround might work but I feel it's hiding the real issue: why is SSL connection factory being created a cached? Seems to me something like that should be done at runtime... which if you follow back to the top, the question is, why is the HTTP client be initialised at image build time? Does it make sense to make such a thing at image build time? I feel that's the real issue to

[2020-11-26 12:52] machi1990 commented on #13412
Closed by https://github.com/quarkusio/quarkus/pull/13414

[2020-11-26 12:52] #13412 closed

[2020-11-26 14:05] lmagomes commented on #12874
Thank you for the workaround. It works great.

[2020-11-26 14:19] marcuspaulo commented on #10855
Hi folks,
I have a question, how I recover Salt and Iterations with a saved password?

[2020-11-26 14:22] cescoffier commented on #13489
@mkouba At runtime we do a simple lookup for all beans implementing `ServerInterceptor`. How can we handle the `IfBuildProfile` in this case? Should I filter out the bean directly, or there is some magic happening somewhere?

[2020-11-26 14:43] mkouba commented on #13489
I think that the bean should not be available at all, i.e. no need to filter anything. Is there a reproducer available? CC @geoand

[2020-11-26 15:19] raffaelespazzoli commented on #10637
hello, I'm having this issue with 1.8.3.

[2020-11-26 15:30] vsevel commented on #12680
yes. sure.
it is being used by the kubernetes client extension as well. it has a dependency on an even older version [3.12.12](https://github.com/fabric8io/kubernetes-client/blob/master/pom.xml#L83)
so I can make a quick try, but I have no idea if the k8s client will support it beside vault.
may be @gastaldi would know.

[2020-11-26 15:35] #11824 closed

[2020-11-26 15:46] maxandersen commented on #13209
looks like logmanager is not set right or classloader error - please share the actual command used to run and what is in the .java file ?

[2020-11-26 15:57] vsevel commented on #12680
I used okhttp client 4.9.0
vault is ok, but I have some errors with the kubernetes client:
[code]
we would need an update in the fabric8 project first before we change the version in the bom.

[2020-11-26 16:03] jtama-op commented on #13451
Fails with io.quarkus:quarkus-maven-plugin:1.10.0.Final

Works with Fails with io.quarkus:quarkus-maven-plugin:1.9.2.Final

[2020-11-26 16:39] tassadar81 opened #13495 "java.lang.NoClassDefFoundError: org/springframework/expression/spel/SpelEvaluationException"
Hello guys, i'm meeting an error during startup of my quarkus app launching it with **java -jar command** but di doesn't happens through **maven quarkus:dev**. Someone can help me?

Exception in thread "main" java.lang.ExceptionInInitializerError
at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
at java.base/jdk.internal.reflect.NativeConstructorAccessorIm

[2020-11-26 16:45] geoand commented on #13495
What does your `pom.xml` look like?

[2020-11-26 16:47] FroMage commented on #10855
It's encoded in there: https://en.wikipedia.org/wiki/Bcrypt

[code]

[2020-11-26 16:49] gastaldi commented on #12680
I can have a look, but I am not so confident that would happen soon (/cc @iocanel @geoand).

Any chance to have https://github.com/quarkusio/quarkus/issues/4162 fixed soon?

[2020-11-26 16:52] tassadar81 commented on #13495
@geoand do you need the whole pom? It doesn't include any spring library explicity. I just wonder why launching with quarkus:dev it works

[2020-11-26 16:58] Erfankam commented on #5485
I like to work on it. May I?

[2020-11-26 17:01] geoand commented on #13495
Does it however include any libraries that bring in spring transitively?

An `mvn dependency:tree` would show that.

[2020-11-26 17:03] tassadar81 commented on #13495
i tried adding this:

<dependency>
    <groupId>org.springframework</groupId>
    <artifactId>spring-expression</artifactId>
    <version>5.3.1</version>
</dependency>

and the problem disappeared, so i guess that i've a library that need this one. I close this issue as it's my problem. Still wonder why quarkus:dev doesn't report this

[2020-11-26 17:03] #13495 closed

[2020-11-26 17:11] gsmet commented on #12680
Well, moving Vault away from Okhttp won't change a thing if the Kubernetes client uses it: it will still be in the bom.

So we will definitely need an upgrade to the Kubernetes Client.

BTW, I was pleasantly surprised by okhttp, it works perfectly in native without any changes.

[2020-11-26 17:23] geoand commented on #12680
Yeah, OkHTTP is great

[2020-11-26 17:24] pier4r opened #13496 "Allow quarkus to write to differentiate the log filespaths (containers/kubernetes)"
Hello!

### Problem
In our project we have encountered the case that an application using quarkus, deployed in multiple pods (through kubernetes and pod replicas) ends up writing always in the same filepath.

If the log folder is on the same persistent volume claim in kubernetes, and the pods use the same config map for quarkus (cannot be otherwise) this has the consequence that multiple pods end

[2020-11-26 17:43] geoand commented on #13496
@dmlloyd is there any setting we can use in the logging configuration that would result in each instance of the application writing to a file with a different name?

[2020-11-26 17:44] gsmet commented on #13495
@tassadar81 are you using our Spring compatibility layer? If so, I think it would be interesting for us to have a reproducer.

[2020-11-26 18:31] geoand commented on #12691
That is probably right, but I am not very familiar with the implementation of the client.

@michalszynkiewicz care to take a look at this one?

[2020-11-26 18:41] vsevel commented on #9991
the issue was in the vault extension. see https://github.com/quarkusio/quarkus/pull/13300

[2020-11-26 18:41] #9991 closed

[2020-11-26 18:41] sberyozkin opened #13499 "Add smallrye-jwt-build extension"
**Describe the extension**
smallrye-jwt-2.4.0 has moved JWT build API into its own module, `smallrye-jwt-build`. The main idea is that the users could use it as an independent API without having to deploy MP JWT endpoints, as JWT may need to be generated in scope of non-MP JWT endpoints.
`quarkus-smallrye-jwt`/`quarkus-oidc` still indirectly depend on it: `quarkus-smallrye-jwt` users expect this b

[2020-11-26 18:49] BeneStem commented on #7451
Hey guys, for everyone who is here because of better logging to GCP. You can use the following library, as stated before:

[code]

And configure it by writing your own JsonLoggingProvider to match GCP requirements:

[code]

[code]

If you know any other way please reach out to me. The default google libraries don't work together with quarkus as I understand it.
Because they are either using JUL or

[2020-11-26 19:01] vsevel commented on #13479
should be fixed by https://github.com/quarkusio/quarkus/pull/13498

[2020-11-26 19:02] marcuspaulo commented on #10855
Thank you @FroMage

[2020-11-26 19:16] michalszynkiewicz commented on #12691
Thanks @geoand, added to my todos :)

[2020-11-26 19:21] eamelink opened #13500 "Qute extension method with parameters not working in loop"
**Describe the bug**
Given the following extension method:

    static Set<String> tags(Item item, String category) { return item.tagsForCategory(category); }

The following works:

    {item.tags('foo')} // This prints ['foo', 'bar']

But the following doesn't:

    {#each item.tags('foo')}
      {it}
    {/each}

The Quarkus build fails with:

    io.quarkus.qute.TemplateException: Found templat

[2020-11-26 19:27] geoandri commented on #13209
@ia3andy you can have a look at the generated project at https://github.com/geoandri/jbangGreetting .

@maxandersen I used the command `./jbang src/GreetingResource.java`  and the .java file is https://github.com/geoandri/jbangGreetting/blob/master/src/GreetingResource.java .

[2020-11-26 19:35] maxandersen commented on #13209
This is using very first poc repo. It won't work :)

Please see wat jbang init -t qrest test.java generates in comments.

[2020-11-26 20:09] geoandri commented on #13209
Hi @maxandersen ,

The generated project in the repo that I posted was generated using the code from https://github.com/quarkusio/quarkus/pull/13004#issue-511665592 .

I have created a new command using the latest master that generates the project using
[code]
How can I switch to the latest one?

[2020-11-26 20:12] cardil commented on #10499
Any news on this? I saw there is https://github.com/smallrye/smallrye-opentelemetry POC, but work there halted. What's the plan on it?

CloudEvents (Knative Eventing) supports only W3C distributed tracing, so it's hard to integrate that with Quarkus service as there's only incompatible OpenTracing Quarkus extension, which uses old Jaeger (0.33). In Jaerger 1.2.0, this https://github.com/jaegertrac

[2020-11-26 20:36] mkouba commented on #13500
@eamelink Thanks for reporting! Yes, it's a validation problem. I need to check the validation algorithm. You can remove/comment out the parameter declaration as a workaround.

[2020-11-26 20:50] maxandersen commented on #13209
Remove the //Repos
Remove the line setting log manager
Remove q:config

[2020-11-26 22:13] stuartwdouglas commented on #5485
We already have the option in resteasy to deny access to endpoints without security annotations, which IMHO is enough. Applying a blanket 'authenticated' by default is IMHO a bit confusing, as it means @PermitAll annotations would not work (as the request would be rejected before it reaches the bean).

[2020-11-26 22:22] Sanne commented on #13256
I'll reopen this as we only implemented a small amount of these ideas so far...
Let me know if I should break it up in smaller items.

[2020-11-26 23:16] oscarfh opened #13506 "Rest-client extension is not compatible with YAML extension"
The rest-client extension is not compatible with the yaml extension.

Steps to reproduce:
- Follow this tutorial as written: [https://quarkus.io/guides/rest-client](https://quarkus.io/guides/rest-client) . It will work
- Add the yaml extension and migrate your application.properties to application.yaml

The previous definition
[code]
Will become
[code]
 Your application will not start anymore with

[2020-11-27 01:58] gastaldi commented on #12680
I love OkHTTP, the only sad thing is that their latest version is written in Kotlin and that requires the Kotlin runtime to run, making the dist bigger

[2020-11-27 04:30] phillip-kruger commented on #13506
@radcortez I think this is more a config issue than a rest client issue ?

[2020-11-27 05:03] cihati commented on #13489
I was just trying to create a reproducer for this, and I failed. Then I realized that this might be due to my multi-project setup with gradle (I have a `common` project where I implement this `ServerInterceptor`, and another project that uses this `common` project to do some business logic), and voila, it worked! (I basically applied the plugin as suggested here https://quarkus.io/guides/cdi-refer

[2020-11-27 06:10] geoandri commented on #13209
Thanks @maxandersen ,

To my undestanding, there are two separate issues.

1. The template file (https://github.com/quarkusio/quarkus/blob/master/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/code/jbang-resteasy-code/java/src/%7Bresource.class-name%7D.tpl.qute.java) for generating the quarkus-jbang project needs updating.

2. Something has changed after 1.9.2.Final

[2020-11-27 06:18] geoand commented on #13256
I guess we can just keep it open for the time being 😎

[2020-11-27 07:02] mkouba commented on #13489
I have no idea. @aloubyansky or @glefloch might know more...

[2020-11-27 07:05] maxandersen commented on #13209
Okey that #2 ain't good.

Can you open separate issue on that ? Seems time we get better test coverage for jbang builds.

[2020-11-27 07:14] vsevel commented on #12680
when I initially worked on vault I started with the apache httpclient, but I endep up choosing okhttp client because that's what the kubernetes client was doing already, so at least I was bringing in another lib.
and the way I had to approach the config source did not allow me to use the rest client as explained here https://github.com/quarkusio/quarkus/issues/4162.
but with progress on https://gi

[2020-11-27 07:33] geoandri opened #13508 "JBang project fails to start using 1.10.0.Final version"
**Describe the bug**
JBang project fails to start using 1.10.0.Final version for dependencies version

**Expected behavior**
It should be able to start

**Actual behavior**
Fails to start with the following postBuild error

[jbang]     Resolving io.quarkus:quarkus-resteasy:1.10.0.Final...Done
[jbang] Dependencies resolved
[jbang] Building jar...
[jbang] Post build with io.quarkus.launcher.JBangInt

[2020-11-27 07:34] geoandri commented on #13209
Sure @maxandersen ,

created #13508 .

[2020-11-27 07:36] tassadar81 commented on #13495
@gsmet no, simply i'm working on a project and a collegue added a library with a transitive dependency to spring-expression. Sorry for the invalid report.

[2020-11-27 07:37] jtama-op commented on #13506
You should try :
[code]

[2020-11-27 07:56] geoand commented on #13459
AFAIR, we don't configure any of RestAssured's json settings. We only configure http related settings

[2020-11-27 08:00] geoand commented on #13496
It doesn't look like we do, maybe it makes sense to have some kind of config option to easily allow this?

[2020-11-27 08:24] geoand commented on #13496
Actually, I see that Kubernetes sets the `HOSTNAME` environment variable to the name of the pod.
So a reasonable solution would be use to configure quarkus like so:

[code]

[2020-11-27 08:36] agoncal opened #13510 "What about being able to inject a Logger?"
**Description**

Loggers are everywhere and Quarkus even [supports several ones](https://quarkus.io/guides/logging). So why not being able to inject a logger?

This issue was created from a [discussion in Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Injecting.20a.20logger).

**Implementation ideas**

Today we use static loggers:

[code]

But we could also be able to inj

[2020-11-27 08:43] agoncal commented on #13459
I was having a look at the RESTAssured samples, and I don't see any differences between Jackson and JSon-B configuration (expect that Jackson is the number one choice). Weird, it should work the same.

Well, either Quarkus can configure it.... or you can close this issue but maybe add something on the documentation. In the [testing guide](https://quarkus.io/guides/getting-started-testing) there is

[2020-11-27 08:46] geoand commented on #13459
More documentation is always welcome :).

Would you like to contribute that (you had to see that one coming :laughing:)?

[2020-11-27 08:48] agoncal commented on #13459
@geoand Yes, I saw that one coming ;o)

You can assign this issue to me if you want (and maybe change the tag to documentation or something like that ?)

[2020-11-27 08:50] geoand commented on #13459
Done :)

[2020-11-27 09:15] ia3andy opened #13511 "Experiment adding codestarts to an exisiting project"
**Description**
Following a discussion with @aloubyansky, we define a few rules which could make it work:
- only declared compatible example codestarts (the simplest without config)
- we would ignore everything bug the sources (.java, .kt, .scala)
- adding dependencies would be delegated to the parent api

**Implementation ideas**
1. Modify the `void CodestartProjectGeneration.generateProject(fina

[2020-11-27 09:27] maxandersen commented on #13511
sounds sensible - how would we mark a codestart as being "incremental" ? a tag/label in the yaml or ?

[2020-11-27 09:27] maxandersen commented on #13511
btw. I assume you would also keep *additional resources*, like html, templates, etc. not just .java, .kt, .scale...

[2020-11-27 09:36] ia3andy commented on #13511
I guess yeah

yeah I guess we need to include everything in the `src` directly which don't need to be merged (config, index.html), all other resources, templates, html are fine)

[2020-11-27 10:00] mkouba commented on #13500
I can confirm that we have a bug in a loop section validation. We need to rework the validation algorithm.

For now there are 2 workarounds:
1. Remove the `{@java.util.List<org.acme.qute.Item> items}` param declaration, i.e. skip the validation completely
2. Redeclare the param declaration inside the loop, i.e.:
[code]
<1> This tells qute to treat `it` as `String`.

And yes, neither of the two is

[2020-11-27 10:21] maxandersen commented on #13508
@quarkusio/devtools

[2020-11-27 10:23] maxandersen commented on #13508
@maxandersen @quarkusio/devtools

@maxandersen, @quarkusio/devtools

[2020-11-27 10:28] RustamSultansoy opened #13512 "SimpleScheduler: pause doesn't work"
**Describe the bug**
When you try to inject SimpleScheduler and then call SimpleScheduler::pause nothing happens.

**Expected behavior**
Scheduled jobs should be paused

**Actual behavior**
Nothing happens

**To Reproduce**
Add some method annotated by @Scheduled
Then try to pause scheduler using SimpleScheduler::pause method.

<img width="521" alt="Screenshot 2020-11-27 at 12 26 40" src="https://

[2020-11-27 10:30] ambition-consulting commented on #12048
@benDeMtp The proxy support for RestClient is only for the programmatic RestClient, right?

[2020-11-27 10:52] oscarfh commented on #13506
@jtama-op Unfortunately the issue still persists.

[2020-11-27 11:18] gradinac commented on #13472
Hey @ppalaga! Thank you very much for this contribution!
After looking at the new and previous changes, @olpaw and I had a discussion on how to best move forward on this. In order to reduce the complexity of this part of native-image, we've decided on taking a completely different approach to argument passing from the native-image driver to the builder JVM.
The new approach has been integrated in:

[2020-11-27 11:19] mkouba commented on #13512
Uf, that's a stupid bug :-(. @RustamSultansoy Would you care to send a PR? The fix is very straightforward. A test could be a little bit more challenging ;-)

[2020-11-27 11:27] loicmathieu commented on #7451
@BeneStem this is indead interesting.

A new "Deploying to Google Cloud" guide has been created on 1.10 (soon to be released).

GCP specific libraries resides in https://github.com/quarkiverse/quarkiverse-google-cloud-services there nothing related to log and monitoring yet, they may be some stackdriver related support some day.

Maybe this information and piece of code can resides in one of these

[2020-11-27 12:03] Ladicek commented on #13510
FYI I did a little experiment with simplifying logging using bytecode transformation. Basically, transform `static` method invocations like `Log.info(...)` to instance method invocations on a generated `private static final Logger quarkusSyntheticLogger = Logger.getLogger(... class name ...)`.

The experiment is here: https://github.com/Ladicek/quarkus/commits/logging-experiment It's crude, becaus

[2020-11-27 12:04] Ladicek commented on #13510
Ah now I know where I've seen this idea! I think @FroMage proposed basically the same thing a while ago?

[2020-11-27 12:10] renegrob commented on #7148
I'm having the same issue with a module that defines a Singleton that offers some generic operations. The entities are defined in the more specific modules. A module/library must not always have a single use.

[2020-11-27 12:16] gavinking commented on #7148
Very tangential to this and sorry for hikacking, but I think it's about time we introduced clean new `Session` and `StatelessSession` APIs for people who want access to Hibernate features that aren't available in JPA. The current APIs have 15 years of evolution written all over them and it's time to make a break. The new APIs in HR are much cleaner, IMO.

[2020-11-27 12:41] radcortez commented on #13506
I'll have a look.

[2020-11-27 12:57] FroMage commented on #13510
Haha, yes!!! And it depends on https://github.com/wildfly/jandex/pull/85 to be efficient.

[2020-11-27 12:58] mincel commented on #8268
Hi, any news about this problem? I have the same problem when trying to inject `TransactionSynchronizationRegistry`

[2020-11-27 12:59] FroMage commented on #13510
It's https://github.com/quarkusio/quarkus/issues/10929 but from what you describe it's the same thing, so +1

[2020-11-27 13:05] Ladicek commented on #13510
I found a constant pool scanning utility in the bytecode transformation code, so I used it, but agree it would be even better to have that info in Jandex.

[2020-11-27 13:24] mkouba commented on #13510
So here's a complete solution for "injectable logger": https://github.com/mkouba/quarkus/commit/31b19a1fc992db54135ce71a81bd9aa9226e9699

[code]

The impl is very straightforward (and lacks any transformation magic) but of course there are some drawbacks (mentioned below).

pros:
- no transformation needed
- intuitive usage in CDI beans
- easy way to use a shared logger (with name other than FQCN)

[2020-11-27 13:31] radcortez commented on #13506
This is related with https://github.com/quarkusio/quarkus/issues/11744.

One way to have it working is to just add each path to the yaml file like this:

[code]

Alternative, I recommend to set the `configKey` in `@RegisterRestClient` with a simple key like `countries-services-api`. Then you can just use:

[code]

[2020-11-27 13:36] RustamSultansoy commented on #13512
@mkouba yeap, will send a pull request from my personal account later

[2020-11-27 13:37] blxbrgld commented on #12312
Hi @jimbogithub I faced an issue similar with yours today while trying to upgrade from **1.7.3.Final** to **1.10.1.Final**. My project's structure is similar to yours and the problem seems to be fixed by adding:

`<property name="hibernate.archive.autodetection" value="class" />`

in **persistence.xml** properties. Give it a try if you haven't already done so.

[2020-11-27 13:54] jmartisk commented on #13385
I've started tinkering with the integration of SR Context Propagation into SR GraphQL. Hope to know more next week, it's kind of an uncharted territory for me :)

[2020-11-27 13:55] vsevel commented on #12515
I ended up using a config source provider https://github.com/quarkusio/quarkus/pull/13498#event-4045690184
so this evolution is not needed for vault anymore

[2020-11-27 14:01] agoncal commented on #13510
@mkouba what about having both (injection and used in static method) ? If we change the naming so it "looks" the same, we could have:

[code]

Of course it's complitely different things, but because `@Log` and `Log` have the same name, it feels the same.

[2020-11-27 14:12] rsvoboda opened #13517 ".debug file next to the native executable is not present when building on macOS using the docker image"
https://quarkus.io/guides/building-native-image#debugging-native-executable says `To generate debug symbols, add -Dquarkus.native.debug.enabled=true flag when generating the native executable. You will find the debug symbols for the native executable in a .debug file next to the native executable.`

I'm on macOS and when using mandrel image to build native I don't see `.debug` file.
Using the same

[2020-11-27 14:16] mkouba commented on #13510
Maybe. I can update my branch to reflect this proposal.

[2020-11-27 14:19] rsvoboda opened #13518 "Native image - sources folder is not generated at the location mentioned by documentation"
Native image - sources folder is not generated at tle location mentioned by documentation

https://quarkus.io/guides/building-native-image#debugging-native-executable - `The location of source cache is target/{project.name}-{project.version}-native-image-source-jar/sources folder.`

Sources directory produced during the build is `target/sources`

While the docs are expecting `target/{project.name}

[2020-11-27 14:28] mkouba commented on #13510
Updated. You can do `@Inject Logger`, `@Log Logger` and `@Log("myApp") Logger`. And of course it works for constructor/setter injection as well:
[code]

[2020-11-27 14:30] jtama-op commented on #12607
Could it be part of the `quarkus-extension.yaml`, just like the status is ?

[2020-11-27 14:31] xstefank opened #13519 "-Dquarkus.args is not working in dev mode"
**Describe the bug**
Following https://quarkus.io/guides/command-mode-reference#dev-mode the command `mvn compile quarkus:dev -Dquarkus.args='--help'` should pass the argument in dev mode but nothing is passed in args.

**Expected behavior**
quarkus.args are passed in `@QuarkusMain` method

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**

Quarkus main;
[

[2020-11-27 14:32] eliaharm opened #13520 "in ORM REST Data Panache add option to query on fields other than ID ex: GET /people?name=jack"
**Description**
when using quarkus-hibernate-orm-rest-data-panache it would be good to have the option to query on fields other than ID ex: GET /people?name=jack
I needed it for example to get a list of all cities for a given country but will have to create an additional REST API while using the Panache auto-generated JAX-RS resources.

**Implementation ideas**
none

[2020-11-27 14:32] agoncal commented on #13510
Beautiful !

[2020-11-27 14:56] zakkak commented on #13518
Good catch @rsvoboda. Thanks!

[2020-11-27 14:56] radcortez commented on #12515
Ok. Thanks :)

[2020-11-27 14:56] #12515 closed

[2020-11-27 15:06] yrodiere opened #13522 "Infer database capabilities without opening a JDBC connection on runtime init"
**Description**

cc @Sanne , as discussed. Creating to keep track of this potential enhancement.

#13435 made sure that we correctly infer database capabilities when the application boots, by opening a connection to the database and requesting database metadata from the JDBC driver.

This connection is problematic if the database is not available when the application boots. In that case, the conne

[2020-11-27 15:39] zakkak commented on #13517
@rsvoboda is `objcopy` in your `PATH`?
Do you see any message like:
[code]
when using `quarkus.log.level=DEBUG`?

[2020-11-27 15:43] #11026 closed

[2020-11-27 15:44] gastaldi commented on #12607
Sure, I think it should be part of the `metadata` entry in that YAML file

[2020-11-27 15:53] geoand opened #13523 "@ConfigProperties doesn't handle unset primitives"
**Describe the bug**
When primitives are used in a class annotated with `@ConfigProperties`, then Quarkus fails at runtime if the primitive is not set.

**Expected behavior**
Unset primitives should not prevent Quarkus from starting and their value should just be the default set by the JVM

[2020-11-27 16:06] loicmathieu commented on #13520
/cc @gytis

[2020-11-27 16:27] zakkak commented on #10637
@raffaelespazzoli can you please share info on how to reproduce it? Using `code.quarkus.io/api.download` and editing the pom.xml file to use 1.8.3 works as expected for me.

[2020-11-27 16:34] Ladicek commented on #13332
I started looking into this and got it somewhat working, and then stumbled upon this part of the Interceptors spec:

If you interpret this to the letter, this says that repeatable annotations are not permitted (unless their members are `@Nonbinding`, in which case why bother?). Do I read that correctly? :-)

[2020-11-27 16:43] gwenneg commented on #13332
Thanks for taking care of this @Ladicek!

Having two instances of the same interceptor binding with `@NonBinding` members is exactly what made me create this issue.

Here's my use case:

[code]

[code]

There are other ways to achieve the same result (two methods calls instead of one) but this behavior has actually been supported by the Quarkus cache extension for a while because when the intercep

[2020-11-27 16:47] raffaelespazzoli commented on #10637
the link doesn't work can you give me the link of the app?
I was using the following tutorial:
http://web-m3-quarkus-bjrvk-guides.apps.cluster-952wq.952wq.sandbox763.opentlc.com/workshop/quarkus-lab/lab/springstrangle

but I am convinced it can be reproduced with any project. It seems to me
the issue depends on the combination of OS and podman.
I my case:
FC 33
podman version 2.1.1

and podman is

[2020-11-27 16:49] gwenneg commented on #13332
If the repeated interceptor bindings hold different binding membre values, I understand the spec like you do, it does not seem to be allowed.

Whether my use case should be allowed or not, I think Arc behavior should be the same if the bindings come from the source code or from the result of an AnnotationTransformer execution.

[2020-11-27 16:53] paulrobinson opened #13527 "Error adding JIRA client to JBang+Quarkus"
I'm trying to make a JBang script that runs Quarkus and invokes Atlassian's JIRA client.

I've taken the simple example from https://quarkus.io/guides/scripting (which works), then added the Atlassian repo and 2x JIRA deps. See: https://github.com/paulrobinson/jbang-jira

When I run it (using: jbang --verbose ./quarkusapp.java), I get the following error: https://pastebin.com/YmkfyRth.

I also tri

[2020-11-27 16:55] zakkak commented on #10637
I did

[code]

[code]

I am on Fedora 33 with podman 2.1.1 as well

[2020-11-27 16:57] raffaelespazzoli commented on #10637
that server has been retired, hashidoc of the tutorial can be found here:
https://github.com/RedHat-Middleware-Workshops/quarkus-workshop-m1m2/tree/rhtr2020/docs

On Fri, Nov 27, 2020 at 11:46 AM raffaele spazzoli <
raffaele.spazzoli@gmail.com> wrote:

--
ciao/bye
Raffaele

[2020-11-27 16:58] msogrin commented on #12985
This seems to be an ARC issue after all.
Error happens in the code block https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanArchives.java#L241-L243
[code]
`BeanArchives.index()` returns `true`, but `index.getClassByName(className)` returns `null` afterwards.

There were two class names with which I saw this error to happen

[2020-11-27 17:07] oscarfh commented on #13506
@radcortez thanks for the reply. I cannot use the `configKey` parameter because the rest client is being generated by the open api code generator for microprofile.
I will try the approach you mentioned

[2020-11-27 17:07] raffaelespazzoli commented on #10637
it worked with this option `-Dquarkus.native.container-runtime=podman`, perhaps it should be made more apparent in the docs.

[2020-11-27 17:10] #13506 closed

[2020-11-27 19:05] sorin-costea commented on #10128
The solution suggested here (and in the documentation) doesn't work - the 'commons-logging-jboss-logging' doesn't have 'LogFactoryImpl'

[2020-11-27 19:07] jimbogithub commented on #12312
@blxbrgld Your suggestion works if I place a **persistence.xml** file in the service project (hibernate-orm-svc-quickstart in my reproducer), however in the real world we have a large number of these services so we are using the https://quarkus.io/guides/hibernate-orm#defining-entities-in-external-projects-or-jars approach.  Adding that setting to the shared **persistence.xml** there (hibernate-or

[2020-11-27 19:18] sorin-costea opened #13528 "ClassNotFoundException: org.apache.commons.logging.impl.LogFactoryImpl"
**Describe the bug**
The native lambda crashes with the above message.

**Expected behavior**
No crash :)

**Actual behavior**
The "official" suggestion to add `commons-logging-jboss-logging` doesn't help as that package doesn't provide `LogFactoryImpl` and the alternative usage of reflection.json seems a REAL overkill... :(

**To Reproduce**
Both `org.elasticsearch.client:elasticsearch-rest-high-

[2020-11-27 19:18] #11549 closed

[2020-11-27 19:21] sorin-costea commented on #13528
PS: I need the `software.amazon.awssdk:apache-client` because the AWS SSM client is not "quarkified" (yet?) and can't find a HttpClient otherwise. But even without this, the Elasticsearch client will use commons-logging...

PPS: the project works fine as a JAR deployed in Java11 Lambda runtime. Just the native not.

[2020-11-27 19:21] gsmet commented on #10128
@sorin-costea What it needs is the `LogFactory`. It doesn't need `LogFactoryImpl` as the `LogFactory` uses JBoss Logging instead.

What's your issue exactly?

[2020-11-27 19:23] sorin-costea commented on #10128
@gsmet see #13528

[2020-11-27 19:27] gsmet commented on #13528
Could we have the full stack trace? Also a reproducer would be useful. It doesn't need to be a lambda if what you suspect is true.

[2020-11-27 19:31] sorin-costea commented on #13528
Reproducer will follow...

[code]

[2020-11-27 19:32] #13523 closed

[2020-11-27 19:56] jimbogithub commented on #12312
@blxbrgld Apologies, you may be right, I think I didn't have a clean build above.  Adding that setting to the shared **persistence.xml** does appear to resolve the problem.  I'll confirm once I have things going in the real system.

[2020-11-27 20:17] rsvoboda commented on #13517
Doing
[code]
before running maven helped, .debug file is present.

Thanks for pointer it wasn't obvious what's wrong and I didn't consider running with `quarkus.log.level=DEBUG`

What about changing `log.debug("Cannot find executable (objcopy) to separate symbols from executable.");` to `log.info...` in NativeImageBuildStep? And Native guide could have a note about `objcopy` in debug section. wdyt

[2020-11-27 21:43] gsmet commented on #13470
Thanks for the detailed report and the reproducer.

I created https://github.com/quarkusio/quarkus/pull/13529 to fix it.

[2020-11-27 21:53] gsmet commented on #13528
Are you sure you don't have a `commons-logging` jar around? Because that's the error I would have expected if you had the commons-logging jar around.

[2020-11-27 21:54] gsmet commented on #13528
Or `commons-logging-api` ?

[2020-11-27 22:59] jimbogithub commented on #12312
@blxbrgld Confirmed, all working using your suggested change with **1.9.2.Final** (I'm not using **1.10.1.Final** due to an unrelated issue).

@Sanne If you think this is a sensible solution, then you can close this issue.  Maybe recommend this `<property name="hibernate.archive.autodetection" value="class" />` setting in the https://quarkus.io/guides/hibernate-orm#defining-entities-in-external-pr

[2020-11-27 23:04] gsmet commented on #12312
@jimbogithub

Which issue?

Yeah I had to change this when working on the multiple persistence units implementation.

It should be in the migration guide for 1.8.

That being said, I think we should clearly state that using a `persistence.xml` is not really recommended.

[2020-11-27 23:13] gsmet commented on #12312
I pushed a PR here: https://github.com/quarkusio/quarkus/pull/13530 and added a note to the migration guide.

[2020-11-27 23:20] jimbogithub commented on #12312
quarkus-maven-plugin does not recognise source / target / jvmArgs in configuration.  I haven't dug any deeper.

[2020-11-27 23:21] missourian55 opened #13531 "AWS Lambda - APIGatewayV2 adoption and warning"
**Describe the bug**

We are migrating our Rest based AWS lambdas to HTTP Lambdas with Payload 2.0 format. During compilation I am getting below error.

I ignored the warning and tested the functionalities. Java mode working correctly, but in the native mode I am always getting null authorizer from *APIGatewayV2HTTPEvent*. I want to resolve below warning and give it a try, any recommendations on h

[2020-11-28 00:38] sorin-costea commented on #13528
I do have a commons-logging around because I added it after seeing the very above exception :) and the same exception came. Maybe I should rather EXCLUDE it from the Elasticsearch and AWS SSM dependencies?

[2020-11-28 05:14] jaikiran commented on #10682
Hello @tcollignon,

[code]

This is a different error and in fact a new bug. It looks like the `java.lang.String` constructor which takes (only) a `byte[]` is being invoked from JNI and that constructor isn't enrolled for JNI access in GraalVM and hence this error. I had a look at the JNI code of the JDK and I don't see any reference to this constructor. All references go the `java.lang.String` co

[2020-11-28 07:46] Meemaw commented on #13470
Great, thanks @gsmet. Does this by any change also fixes https://github.com/quarkusio/quarkus/issues/13029? It seems related.

[2020-11-28 09:39] jtama-op commented on #13519
Duplicate of #13451

[2020-11-28 11:16] gsmet commented on #13528
So a few things:

* you should use our Elasticsearch high level client extension and it shouldn't come with commons-logging
* you should get rid of all the commons-logging dependencies and add `commons-logging-jboss-logging` instead
* if you have `commons-logging` around it will fail anyway because it uses `LogFactoryImpl` via reflection and if you don't do anything about it, `LogFactoryImpl` is n

[2020-11-28 11:48] gsmet commented on #13029
Sorry I missed this one.

@mkouba do we support interceptors on interface default methods with ArC?

AFAICS, the annotation transformer I have in HV is not called for the default method of the interface so I wonder if it's supported at all. If it's not I should probably raise an error.

[2020-11-28 12:03] Meemaw commented on #13029
Let me just mention that this works in Quarkus v1.6.1

[2020-11-28 12:33] jaikiran commented on #13447
The linked PR has been merged. Closing this issue.

[2020-11-28 12:33] #13447 closed

[2020-11-28 12:34] gsmet commented on #13029
Yeah, that's a bit weird. I don't see the annotation transformer called for the default method. I'll try to compare with the behavior in 1.6.1 later today.

[2020-11-28 12:40] gsmet commented on #13451
@aloubyansky could you have a look at this one? If @jtama-op is right, it would be a regression introduced by one of your changes.

Thanks!

[2020-11-28 12:42] jaikiran commented on #13129
Hello @blsouthr,

As per the javadoc on the relevant class[1], it stands for:

`Remote logical username from identd (always returns '-')`

[1] https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/accesslog/AccessLogHandler.java#L50

[2020-11-28 12:53] jaikiran commented on #13129
Hello @blsouthr, @andrerigon,

Looking at the code in the `ResponseTimeAttribute`[1] which is responsible for providing the response time value, it requires the request start time to be set in the exchange. The HTTP configuration of Quarkus, by defaults disables it[2]. Can you add the following to your `application.properties` file and see if it works:

[code]

[1] https://github.com/quarkusio/qua

[2020-11-28 13:12] KMUS opened #13533 "Kafka Streams with avro serde not working in native mode"
Building a Kafka streams application with avro serializer not working in native mode. In JVM mode everything works fine.

Quarkus version 1.10.1

        <dependency>
            <groupId>io.quarkus</groupId>
            <artifactId>quarkus-jsonb</artifactId>
        </dependency>
        <dependency>
            <groupId>io.quarkus</groupId>
            <artifactId>quarkus-kafka-streams</artifact

[2020-11-28 13:37] Meemaw opened #13534 "Async-Await methods"
**Description**
Quarkus code seems to be highly async. As this has obvious advantages, there is also one major disadvantage:
- Code can quickly become unreadable and convoluted in some non-trivial scenarios

In those scenarios Aync-Await paradigm could be a more readable alternative. https://github.com/electronicarts/ea-async is a library that allows programmers to write asynchronous code in a seq

[2020-11-28 13:37] gsmet commented on #13029
Yeah, so, I think the problem is in ArC and more precisely at this line: https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java#L205 .

The last parameter being `true` makes all the methods level annotations ignored.

I have  no idea why this parameter is true in this case but it has been introduced precisely here: ht

[2020-11-28 13:43] gsmet commented on #13129
I wonder if we could at least raise a warning in this case. And in any case, we would need a mention in the table here: https://quarkus.io/guides/http-reference#configuring-http-access-logs as it's not exactly obvious :).

[2020-11-28 17:07] #11536 closed

[2020-11-28 17:07] #13470 closed

[2020-11-28 17:53] anborg opened #13536 "gRPC Synthetic bean NullPointerException"
**Describe the bug**

My quarkus project has grpcservices, and rest resources that internally calls that grpc services.
- In runtime NO ISSUES. rest calls, grpc etc.
- In junit @QuarkusTest (h2 ) the grpc bean **personSvc** is not getting injected.

What do I change in the below class to have **personSvc** injected successfully and avoid below error?
[code]

Junit integ test with H2:

[code]

[cod

[2020-11-28 19:22] #13512 closed

[2020-11-28 20:13] mkouba commented on #13029
@gsmet Yes, we do support interceptors on default methods.

WRT the change - it's described in the [issue description](https://github.com/quarkusio/quarkus/issues/11704#issue-687947582). CDI beans cannot inherit interceptor bindings from the implemented interfaces.

[2020-11-28 21:02] gsmet commented on #13029
@mkouba even for a default method?

[2020-11-28 21:22] xstefank commented on #13519
thanks @jtama-op

[2020-11-28 21:22] #13519 closed

[2020-11-28 22:26] jtama-op commented on #13451
I will try to find the exact lines on monday.

[2020-11-28 23:16] Solido commented on #12965
Got myself bite too !
This block the use of RouteBase as for now.
Thx

[2020-11-29 09:00] aloubyansky commented on #13451
It is a regression. Here is a fix https://github.com/aloubyansky/quarkus/commit/e81638925977af9152d1a0faabfc0888addf0124
Apparently we have no tests for this. I'll add some and open a PR. Gradle is fine.

[2020-11-29 10:03] zakkak commented on #10637
Hi @raffaelespazzoli, this is documented in https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/building-native-image.adoc#creating-a-linux-executable-without-graalvm-installed
Improvements (through PR) or suggestions are welcome :)

[2020-11-29 10:20] gsmet commented on #10637
Do we have a way to detect if `docker` is in fact podman and automatically enable the podman specific bits?

[2020-11-29 12:57] gauravrmsc commented on #13239
@sberyozkin
I was trying to add **quarkus-oidc** extension as a dependency in my extension as I will need to write an implementation for  **TokenStateManager** interface. But now if I am trying to test it, I am getting runtime exception - **auth-server-url** not configured. Can you guide me how to include the **TokenStateManager** interface in my extension.

[2020-11-29 13:37] MarcusBiel opened #13539 "RESTEASY: Unable to find a MessageBodyReader for media type: text/plain; charset=us-ascii and class type java.util.Map"
[code]
---

[code]

Exception:
[code]
---
media type: text/plain is confusing, since I set APPLICATION_JSON as the type - but it gave me the hint for a quick hack:
Putting media type: text/plain and a String Java type, then converting the raw Json String with a Jackson Objectmapper in my Java code myself. I guess I need to provide a custom MessageBodyReader, but I couldn't get this to work quickly

[2020-11-29 15:29] nandorholozsnyak commented on #9123
I have just bumped into this problem, and I understand the problem, but should not it be fixed somehow?

I was running stress tests on a Quarkus based application with JMeter, the thread number was 300 and the loop count was 100 and it started to throw this exception around the half of the test, so it was really annoying that it was creating exceptions, the error rate was really small, 0.01-0.02%

[2020-11-29 16:16] gsmet commented on #9123
@nandorholozsnyak if you can get us a reproducer, that would help.

[2020-11-29 16:21] geoand commented on #10637
That's a good idea. I am sure it should be possible. @gastaldi any ideas? Perhaps just `docker --version` when backed by podman is enough?

[2020-11-29 18:20] sorin-costea commented on #13528
To use the Quarkus Elasticsearch client I must rewrite the entire code because the whole API is different. This is VERY unfortunate, to say at least...

[2020-11-29 18:22] gsmet commented on #13528
What do you mean by that? We use the official clients...

You can either use the low level one or the high level one depending on your needs.

And both are the official clients.

[2020-11-29 19:44] cescoffier commented on #12965
There is a workaround. The `@Route` annotation is repeatable, so you can declare it twice on the same method.

[2020-11-29 19:46] cescoffier commented on #13536
Which quarkus version are you using?

[2020-11-29 19:58] gwenneg commented on #8221
I have a fix for this issue based on Quarkus changes only, but #13332 has to be addressed first.

[2020-11-29 20:14] nandorholozsnyak commented on #9123
Hey @gsmet , I will create one as soon as I can.

[2020-11-29 20:23] gsmet commented on #9123
/cc @Sanne FYI, there might be some odd issue lurking here.

[2020-11-29 20:49] maxandersen opened #13540 "default package breaks @Scheduled"
**Describe the bug**
when having code class with out a package used with `@Scheduled` errors.

[code]

gives errors like:

[code]

notice how it is trying to write to root filesystem indicating bad assumption about there always being a package.

**Expected behavior**
should not fail due to default package.

[2020-11-29 20:49] maxandersen commented on #13540
repoted originally in jbang at https://github.com/jbangdev/jbang/issues/561

[2020-11-29 21:08] gastaldi commented on #10637
Yeah `docker --version` should work AFAIK. I'm on PTO until Dec 2nd but I can provide a PR with this auto-detection algorithm

[2020-11-29 21:35] gsmet opened #13542 "Failing OpenShift deployment not reporting the error to the Maven build"
When deploying a native app to OpenShift, I had the following error on deployment on the OpenShift side:

[code]

and my app wasn't deployed.

The Maven build was successful though:

[code]

but here is the output of a really successful build:

[code]

As you can see, it has a lot more steps.

So it looks like we are not propagating the error correctly to the Quarkus side.

[2020-11-29 21:36] maxandersen commented on #13542
@iocanel is that similar to the bug you mentoined last week about mvn build not failing properly ?

[2020-11-29 21:48] anborg commented on #13536
Quarkus platform version 1.8.1.Final

[code]

[2020-11-29 21:52] gsmet commented on #13536
We also need to have a look at the `ReflectiveHierarchyStep` warning. We should avoid the `null` there and also we should avoid having all those classes there.

[2020-11-29 22:07] anborg commented on #13536
Add you to the project source: https://github.com/anborg/m-app-rest

[2020-11-29 22:26] sorin-costea commented on #13528
My mistake above, I included the low level by mistake instead of the high level.
Still, I can't use an elasticsearch client configured via static properties (because dynamic host, request signing...) and I can't find any mention how to do it except that it was mentioned in your pull request discussion (which doesn't help me much)

[2020-11-29 22:47] DorianMaliszewski commented on #9123
@gsmet @Sanne Hi,
There are sometimes since I create this issue. I really think that the problem due to the different scope.
Another possibility is that I found that sometimes Jackson throw me an error.. may be this doesnt close the transaction.
On the other hand I found that the @Path which is normally RequestScoped by default doesn't update request variable (Like Claim for oidc) So may be there

[2020-11-29 23:53] iocanel commented on #13542
@maxandersen yeah, it's the exact same issue

[2020-11-29 23:58] sorin-costea commented on #13528
Ok forget that. I just produced my own RestHighLevelClient with @Named and there we go.
So basically what I needed was to:
- use the Quarkus Elasticsearch client (which I didn't know it existed)
- exclude commons-logging from the AWS SSM client (not obvious to me).
Thank you @gsmet !

[2020-11-29 23:58] #13528 closed

[2020-11-30 00:05] oscarfh commented on #13144
@kenfinnigan I stumbled on this coming from #2450 and I was thinking about grabbing this one when I have some time.
My initial proposal (I am coming from that issues, where only a prefix is required) would be to have some `BuildItem` produced by the quarkus-core project, that could be observed by all the extensions and it would be the extension's responsibility to observe it and prepend the value

[2020-11-30 00:21] goranopacic opened #13544 "AWS Lambda S3Event deserialization fails"
**Describe the bug**
AWS Lambda triggered by S3Event fails to start due to deserialization problem.
S3Event class is a part of AWS Lambda Java Events v3 library.

**Expected behavior**
Compiling exactly the same code with non-quarkus compiled AWS Lambda results in properly deserialized S3Event object.

**Actual behavior**

Logged Error in AWS CloudWatch log:

[code]

**To Reproduce**

1. create pr

[2020-11-30 01:44] stuartwdouglas commented on #13508
We also need this jbang change https://github.com/jbangdev/jbang/pull/562 and there will be a Quarkus config fix involved as well to get around the lack of platform properties.

[2020-11-30 02:46] stuartwdouglas opened #13547 "JBang integration fails to pick up platform properties"
The JBang integration does not populate the managing project, which means that the platform properties are not picked up. This means JBang will fail to start as the platform.quarkus.native.builder-image property is missing.

[2020-11-30 02:47] stuartwdouglas commented on #13547
cc @maxandersen @aloubyansky

[2020-11-30 04:41] geoandri commented on #12685
I can give it a try.

[2020-11-30 05:36] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/390888572

[2020-11-30 07:12] ambition-consulting commented on #6522
Thanks for implementing the proxy configuration for RestClientBuilder. I am having troubles however running a @InjectMock RestClient built with RestClientBuilder instead of @RegisterRestClient - it's basically either complaining about not being able to mock a proxy class when I don't use @RestClient identifier, or can't deal with ambiguous beans (when I use @RestClient identifier).

Do we have any

[2020-11-30 07:20] mkouba commented on #13029
AFAIK the relevant specs do not mention default methods at all.

CC @manovotn @Ladicek

[2020-11-30 07:38] mkouba commented on #12985
If `BeanArchives.index()` returns `true` but `index.getClassByName(className)` returns `null` then it's very likely a bug in Jandex `org.jboss.jandex.Indexer.Indexer`. Hm, I wonder if `scala.collection.immutable.TreeMap$TreeMapBuilder$adder$` is actually a legal class name? It's probably not legal in Java but it might be legal in JVM?

FYI @n1hility

[2020-11-30 07:50] maxandersen commented on #13547
this should get fixed but there is something wrong if *lack* of platform properties makes things fail - there should still be a default even without platform present IMO.

[2020-11-30 07:52] aloubyansky commented on #13547
There must always be a platform. The minimal required platform is quarkus-bom. Regardless of the platform properties issue.

[2020-11-30 07:59] glefloch commented on #13489
that's really weird, gradle should not be part of something special here. Could you share your module with failing integration test?

[2020-11-30 08:04] mkouba commented on #13332
Hm, but this part of the spec speaks about the **set of interceptor bindings of a component class**, i.e. it does not include the interceptor bindings declared on methods. Note that _An interceptor binding declared on a method or constructor replaces an interceptor binding of the same type declared at class level or inherited from a superclass_. So it's OK to have an binding declared on the class

[2020-11-30 08:15] Ladicek commented on #13332
@mkouba No, I agree, I reproduced the test from Weld (linked above), which only has method-level bindings, and that was rather straightforward to implement. Then started wondering about class-level bindings and it became interesting :-) I'll tie some loose ends and submit a PR, then we can discuss.

[2020-11-30 08:16] mkouba commented on #13540
Although it's legal to use the default package in any Java app I don't believe there is any _legal_ use case other than jbang ;-).

[2020-11-30 08:22] geoand commented on #6588
@ge0ffrey the OptaPlanner quickstart is failing:

[code]

Can you please take a look?

[2020-11-30 08:24] Ladicek commented on #13332
OK and of course binding and non-binding annotation attributes make the situation even more interesting :-)

[2020-11-30 08:35] maxandersen commented on #13547
@aloubyansky thats a new requirement. It wasn't the case until now. I think that is a wrong direction to go towards. whats the reasoning for having that hard enforced now ?

[2020-11-30 08:36] gsmet commented on #13029
The use case presented here has a case IMHO. It looks like something we should support somehow.

[2020-11-30 08:40] FroMage commented on #13510
@Ladicek It's not really scanning in the sense that you have to scan every class to find the ones that have the constant, which is why I did this PR. If we can merge it, we can implement this by not scanning every class so it's reasonably efficient.

Otherwise +1 on having an annotation to get a logger injected, but @agoncal we can't use the same class name for the annotation and the logger utilit

[2020-11-30 08:48] aloubyansky commented on #13547
We couldn't have guaranteed things would work w/o the BOM. If there was a case where an app couldn't be built because it didn't import at least the quarkus-bom we would ask to fix the app by importing at least the quarkus-bom instead of fixing our bootstrap. Which means we never supported apps that didn't import at least the quarkus-bom.
What's new now is we actually fail if the BOM isn't there, t

[2020-11-30 08:57] maxandersen commented on #13547
oh I definitely agree its about luck - but I would say if user explicilty setup a set of dependencies correctly (i.e. uses expplicit dependencies and/or another BOM) things should still work without platform properties being present - wouldn't you say so ?

[2020-11-30 09:17] Ladicek commented on #13332
Submitted #13553. There's one TODO in the code, related to repeatable class-level interceptor bindings :-), but feedback to anything else (including tests) is of course also welcome.

[2020-11-30 09:43] manovotn commented on #13029
Yeah, interceptors spec doesn't mention default method which means standard rules apply and that's precisely what Martin said. Basically, if you want to intercept default method, you have to use a class-level interceptor binding on the implementing class.

I agree it is somewhat weird but it's per spec and what's worse - changing the inheritance rule to apply to interfaces would break existing app

[2020-11-30 09:43] Ladicek commented on #10929
@FroMage continuing from #13510: my prototype implementation of this idea (https://github.com/Ladicek/quarkus/commits/logging-experiment) indeed scans all classes in the application, which is a waste of resources. The scanning is minimal, but it's still extra work -- one that Jandex already does, because it already scans all classes. In other words, I totally agree with you, we need to get constan

[2020-11-30 09:45] #13508 closed

[2020-11-30 09:55] FroMage commented on #10929
Great news. If you have some time, could you  get wildfly/jandex#84 unstuck by measuring index size changes with the patch to some common quarkus extensions or sample applications?

[2020-11-30 09:58] Ladicek commented on #10929
I can do that, sure.

FYI, I got into this because I wanted to play with something interesting for a bit, so this isn't my top priority. But I should be able to dedicate a few hours here and there to it.

[2020-11-30 10:02] aloubyansky commented on #13547
Things get more complicated as we move forward in this regard, unfortunately.

First of all, if we don't locate the "platform properties" then what would they be initialized from? As we agreed, the config options are initialized to `${platform.xxx}`, that have to be resolvable at build time.
If they aren't resolvable it may be a sign of misconfiguration. In most cases it will be. So simply silentl

[2020-11-30 10:02] Ladicek commented on #13510
Yea I agree we need to figure out nice names. Because I _totally_ want the "simplified" calls to be `Log.info`, because that needs to be very close to what people otherwise do, which is `log.info` :-)

[2020-11-30 10:03] mkouba commented on #13510
That's a good point. Hm, `@Logger Logger` is probably out of game. For FQCN-based logger we don't need a qualifier at all (simply `@Inject Logger`) but we need one for a logger with custom name. `@javax.inject.Named` cannot be easily used, mainly because its `value()` is binding and so we would have to create a bean for every Logger injection point, also `@Named` qualifier is not "counted" in CDI

[2020-11-30 10:03] geoand commented on #13534
I know @FroMage has input on this

[2020-11-30 10:03] FroMage commented on #10929
Great news. I think this is a big UX win if we get this done.

[2020-11-30 10:07] geoand commented on #13544
Is there in JVM mode or native mode?

[2020-11-30 10:08] FroMage commented on #13510
Indeed `@Logger Logger` is out, but as you mention, `@Inject Logger` is enough.

Can we assume that the named variant is a lot less common? All the examples I've seen use the current class name for the category.

If it is indeed less common, then `@LogName` seems fine, and make it auto-inject so you don't need it and `@Inject` both.

[2020-11-30 10:11] FroMage commented on #13534
Yeah, that project didn't work in native back when I tried it, but recent graalvm improvements might have changed that. It was however much less versatile/useful than Quasar, which is what the JDK Loom work is based on. Perhaps you can try EA-Async with the latest `native-image` and let us know if it works now?

[2020-11-30 10:16] Sanne commented on #9123
yes this looks tricky, I should investigate. I need to finish some releases, but hope to switch to this on Wednesday.

[2020-11-30 10:17] Sanne commented on #9123
Unless @barreiro maybe has some time to look into this? Please let me know :)

[2020-11-30 10:19] goranopacic commented on #13544
jvm mode

[2020-11-30 10:22] mkouba commented on #13510
Well, it's very like a lot less common if you use FQCN-based loggers everywhere. However, if you e.g. use interface-based loggers it's common to define certain parts of your app and group the log messages (but then you would probably not need an  injected logger ;-).

This woks for qualifiers out of the box in quarkus ;-).

[2020-11-30 10:23] agoncal commented on #13510
I quite like the `LOG` idea actually ;o)  Its purpose is for static content, so why not having it UPPER case ? `@Log` and `LOG`.... I wonder if it feels natural though.

As for the other choice, maybe that's an "English" bias, but for me "log" is the trace in it self, as "logger" is the all thing. So for me `@LoggerName` is more natural than `@LogName`

[2020-11-30 10:23] mkouba commented on #13029
+1

[2020-11-30 10:33] msogrin commented on #12985
After going back to 1.6.0, I've paid attention to the compile log...
[code]
Same classes that cause NPE with Quarkus >= 1.6.1.
All of them end with '$'.

That's with
[code]

Without that, compile messages are:
[code]

[2020-11-30 10:38] FroMage commented on #13510
I think `Log` and `LOG` are bad UX because users will be confused by the completion and trying to guess what they do and how they differ.

I did wonder about using `@LogName` which is an abbreviation and is generally bad UX. But now that you mention it, we can totally justify `@LoggerName` and `Log.info` because `Log` is not an abbreviation here but an action: "log this at info level".

[2020-11-30 10:42] mkouba commented on #13510
Ok, then `@Inject Logger log` and `@LoggerName("foo") Logger log` it is... I'm going to send a PR shortly.

[2020-11-30 10:48] sberyozkin commented on #5657
This issue is on track; some more time is needed to tune a few things for the initial PR.

[2020-11-30 11:16] jlannoy commented on #9791
I would like to see the same feature too. When writing an extension that can not be available directly from the Quarkus repository, it could be less strange imho to propose an alternative prefix in this specific case.

[2020-11-30 11:23] loicmathieu commented on #13437
@waldimiro can you enable debug logging from Arc processor to determine if it's a bean being removed ?

[code]

Then copy/paste here the Arc debug logs.

[2020-11-30 11:30] msogrin commented on #12985
The reason why `index.getClassByName(className)` doesn't find it:
1. className is
![image](https://user-images.githubusercontent.com/9539622/100605027-39a38880-32ff-11eb-82f9-b70ab2bdecdc.png)
2. index contains
![image](https://user-images.githubusercontent.com/9539622/100605084-4de78580-32ff-11eb-9bd0-271dd28c1512.png)

Same class name is split differently into prefix and local parts. DotName.has

[2020-11-30 11:32] manovotn commented on #13029
I have created https://github.com/eclipse-ee4j/interceptor-api/issues/84 to track this on a spec-level.

[2020-11-30 11:35] gsmet commented on #13437
I think it would be easier if we could get a simple project reproducing your issue. It shouldn't be too much work to prepare it AFAICS.

[2020-11-30 11:38] gytis commented on #13520
This would be an interesting feature to add. But we should be cautious on what extra features do we add. I don't think it would be a good idea to overcomplicate the extension and try to generate every possible CRUD API variation.
Adding filtering by column value would make sense IMO. But should we go further and support more complex queries?

[2020-11-30 11:47] gsmet commented on #13029
So basically we can't support constrained default methods for JAX-RS? Or is there a clever workaround we could apply?

[2020-11-30 11:59] defnull opened #13559 "Throwing AuthenticationFailedException from IdentityProvider.authenticate stalls connection."
**Describe the bug**
The documentation of `IdentityProvider.authenticate` is a little bit unclear on how one should throw `AuthenticationFailedException` or return the same exception wrapped in an `Uni`. I got it wrong and noticed that throwing `AuthenticationFailedException` stalls the client connection without any warning in the logs. Other exceptions (e.g. `RuntimeException`) are properly logge

[2020-11-30 12:39] sberyozkin commented on #13559
@defnull Please do

`return Uni.createFrom().failure(...)`

It is a FAQ so I'll update the docs and resolve this issue once the doc update is merged

[2020-11-30 12:52] defnull commented on #13559
I did, and that works as expected. I know that the error was on my side, not following the documentation exactly, but leaking client connections until they timeout is still something that should not happen I think. Perhaps there is room to improve stability even in case of application errors.

[2020-11-30 12:53] sberyozkin commented on #13559
Hi @cescoffier @jponge
I wonder, is is possible somehow to have a Quarkus code which catches the escaped exception outside of Uni, for example, here, https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java#L96, and awakens the Uni which would otherwise be activated with `Uni.createFrom().failure(.

[2020-11-30 12:59] defnull commented on #13559
IMHO it would be nice if any `Uni`-returning API that is supposed to be implemented by application developers is at some point wrapped with a stupidity-protection-wrapper that logs and wraps unchecked exceptions and tells the developer to get some more coffee and take a break. It took me a while to find my error, because I first thought it was related to  #13478 somehow or the HTTP client I'm usin

[2020-11-30 13:01] #13451 closed

[2020-11-30 13:11] kenfinnigan commented on #10499
It's in progress @cardil.

My plan, and hope, is to have an initial extension available in 1.11, which should be January's release

[2020-11-30 13:26] #10180 closed

[2020-11-30 13:27] mkouba commented on #13332
Hm, so I've just found: _"An interceptor binding declared on a bean class replaces an interceptor binding of the same type declared by a stereotype that is applied to the bean class."_ in [9.3. Binding an interceptor to a bean](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#binding_interceptor_to_bean) and there is even a TCK test: https://github.com/eclipse-ee4j/cdi-tck/blob/2.0.3.Final/impl/s

[2020-11-30 13:28] mkouba commented on #13029
I'm not aware of _any_ workaround.

[2020-11-30 13:38] gsmet commented on #13029
OK. That's what I thought. From a user perspective, it's really not good.

I think I will have to throw an error in this case but I need to figure out how I will be able to handle this case and only this one.

[2020-11-30 13:45] kenfinnigan commented on #13144
I'd gone back and forth in figuring this out over the last week.

The solution I'm in the process of implementing is to modify the `RouteBuildItem` to have a flag indicating whether the endpoint is a "Framework endpoint" and should be treated differently, then modifying the extensions to set this flag.

That then enables the Vert.x processor to create a separate Router for all those endpoints, whi

[2020-11-30 13:49] mkouba commented on #13029
I agree :-(. Unfortunately, there seems to be a spec mismatch...

[2020-11-30 13:49] manovotn commented on #13029
To sum up, the current way it works is also against what CDI spec says (normally, you wouldn't be able to inherit member-level metadata). Quarkus uses `io.quarkus.hibernate.validator.deployment.MethodValidatedAnnotationsTransformer` to work around this by inspecting hierarchy and then adding bindings programmatically.

So initially I thought you could twist this annotation transformer and make it

[2020-11-30 13:54] mkouba commented on #13029
Yes, this could work but seems to be a "fragile" solution, also it would be a mess if a more complex class hierarchy is used...

[2020-11-30 13:56] gsmet commented on #13029
Well, if you put the spec aside, I think the only issue is where I pointed it here: https://github.com/quarkusio/quarkus/issues/13029#issuecomment-735232180 .

If we consider default methods for bindings, then I think it would all work.

[2020-11-30 14:02] manovotn commented on #13332
Hmm, you are sort of correct. However, interceptors spec refers to CDI as possibly applying additional rules and this could be just one of them. Furthermore, this still doesn't eliminate duplicate class-level bindings coming from transitive bindings, right? You still have a possible conflict that you need to resolve accordingly to interceptors spec (which reads "blow up").
I'd say this part of CDI

[2020-11-30 14:03] #13518 closed

[2020-11-30 14:42] Ladicek commented on #13332
Such fun! If it was up to me, interceptor bindings would have to be declared only on methods, no inheritance whatsoever! :-)

[2020-11-30 14:53] matejvasek commented on #13544
@goranopacic  Just guessing here: shouldn't be there `S3EventNotification`? https://stackoverflow.com/questions/36730266/aws-lambda-s3event-deserialization

[2020-11-30 14:57] goranopacic commented on #13544
@matejvasek you can see this example: https://docs.aws.amazon.com/lambda/latest/dg/with-s3-example-deployment-pkg.html#with-s3-example-deployment-pkg-java
With no-quarkus lambdas I use S3Event, not, S3EventNotification and it works fine.

[2020-11-30 14:59] Jurricane opened #13564 "Inlined attachments for MailTemplateInstance"
**Description**
A method that allows adding inlined attachments to instances of MailTemplateInstance.

Right now, adding inlined attachments seems to only be possible via
[code]
However, in this example `body` has to be a `String`.

The use of a Qute template like this (where hello is a `MailTemplate`)
[code]
does not allow adding inlined attachments because there is no such method present in `Mai

[2020-11-30 15:00] goranopacic commented on #13544
@matejvasek please be aware that this is SDK v2 and Lambda Java Events v3 library is a separate project that is included in pom.xml when you add quarkus lambda extension

[2020-11-30 15:02] mkouba commented on #13332
Well, it's a mess. Interceptor bindings are transitive, stereotype declarations are transitive, ... Anyway this spec rule seems to make sense for all non-repeatable bindings. For repeatable bindings, it should _not_ blow up if declared on the bean class but it probably does not make any sense to support interceptor classes with repeatable bindings. We should probably put together a list of common

[2020-11-30 15:19] patriot1burke commented on #13544
So, Quarkus integration with Lambda in JVM mode is done by using a RequestStreamHandler wrapper which uses the Jackson JSON parser to deserialize the stream to the target object of the Lambda.  We do it this way so that Quarkus can control the creation of your Lambda class.

The problem is that S3Event is not a class that is deserializable by Jackson.  We are going to have to have specific integra

[2020-11-30 15:27] patriot1burke commented on #13544
Oh...and there would be a similar issue with native lambdas for S3Events.

[2020-11-30 15:35] kenfinnigan commented on #13144
The following endpoints will be accessible under the new root for non-application endpoints:

- Health
- Health UI
- Metrics
- Micrometer registries (if applicable)
- OpenAPI

What I'd like some feedback on is whether Swagger UI should also be on that list or not? As it's only available in dev or test without explicitly configuring otherwise, I'm not sure whether it should be moved to the same roo

[2020-11-30 15:40] oscarfh commented on #13144
I agree with this list, but I think that this is up to the extension developer to device. I would like to add my own extension (https://github.com/quarkiverse/quarkiverse-logging-ui) under this path.

[2020-11-30 15:46] defnull opened #13565 "Credentials are ignored for websocket connections."
**Describe the bug**
There is currently no way (I know of) to protect a `@ServerEndpoint` with standard basic auth. The `Authorization` header is ignored and the `Session.getUserPrincipal()` property is not populated, which contradicts the "Proactive Authentication" principle described in quarkus docs.

Security annotations like `@RolesAllowed` are applied and work as expected (they prevent the an

[2020-11-30 15:50] patriot1burke commented on #13544
I'll work on a patch to support this.

[2020-11-30 15:53] kenfinnigan commented on #13144
Didn't intend to imply it wouldn't, this is just an initial list of where I will be changing the extension to say "I'm a framework endpoint".

It won't preclude any extension from saying it is part of it as well

[2020-11-30 16:16] sberyozkin commented on #13565
@defnull but WebSockets work over the upgraded channel where no `Authorization` header is available, right ?

[2020-11-30 16:23] Ladicek commented on #10929
Just FTR, I have mostly finished the bytecode transformation in my branch, the only thing that needs finalizing is how to best declare the logger field. So I'll get to the Jandex work next.

[2020-11-30 16:27] defnull commented on #13565
They work with or without `Authorization` header, with or without `@RolesAllowed`. Both are ignored. There is an error in the logs if `@RolesAllowed` is used but the websocket still works as if no annotation were present.

[2020-11-30 16:45] geoand opened #13566 "Add Jackson's @JsonView support to RESTEasy Reactive"
**Description**
Jackson's `@JsonView` is pretty widely used by developers on the REST layer (see https://www.baeldung.com/jackson-json-view-annotation).
Let's support it in RESTEasy Reactive.

[2020-11-30 16:45] defnull commented on #13565
Okay, more details: If `@RolesAllowed` is on the class, then the websocket handshake is accepted, but the socket is then closed abnormally (code 1006, no end frame) no matter if the credentials are present, right or wrong. If `@RolesAllowed` is on the `@OnOpen` method, then the same exception (UnauthorizedException) is logged, but with a different stack and this time, the connections is not closed

[2020-11-30 16:48] galderz opened #13567 "Support AWT Image IO in native image"
An extension, new or existing, should add the following to support AWT Image IO in native image. See attached JSON files containing write and read registration registrations.

[imageio-read-native-image-config.zip](https://github.com/quarkusio/quarkus/files/5617323/imageio-read-native-image-config.zip)
[imageio-write-native-image-config.zip](https://github.com/quarkusio/quarkus/files/5617328/image

[2020-11-30 16:51] galderz commented on #13567
Credit to @jerboaa who came up with the the [instructions](https://github.com/graalvm/mandrel/issues/180#issuecomment-734873511) to get all of this working 👏. Note that as @jerboaa mentions in that issue, jpg is not yet fully working. More details in https://github.com/oracle/graal/issues/3031.

[2020-11-30 17:04] geoandri commented on #13209
@ia3andy I have submitted a PR. Who should I ping for a review?

[2020-11-30 17:21] defnull commented on #13565
The security annotations probably work as intended, but they always fail because the principal is never authenticated for websockets. The `UnauthorizedException` is then handled like a normal application error during initialisation or method calls, depending on where the annotation was applied. You could argue that an error during `@OnOpen` should close the socket, but that's not required by the s

[2020-11-30 17:21] gsmet commented on #13567
Just a note that we already have some ImageIO related tweaks in https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/ImageIOProcessor.java .

[2020-11-30 17:24] jerboaa commented on #13567
Thanks @galderz

Note that the config is highly dependent on the JDK code in use. JDK 11.0.8+11 might need slightly different config to JDK 11.0.10.

Consider perhaps to drive the app from java first (with the `native-image-agent` running). That would generate the config on-the-fly. As a second step, produce the native image with the config in `META-INF/native-image` that got produced in step 1. S

[2020-11-30 17:28] gsmet opened #13568 "CodeStarts - When using -DnoExamples, src/main/java is not created"
Even when using `-DnoExamples`, we should create `src/main/java`.

[2020-11-30 17:33] manovotn commented on #13332
We'd have to just guess those use cases. Maybe we could look into what Weld supports and copy the behavior to be consistent. But I don't know what that is from the top of my head; someone will have to play around with it and check it :-)

[2020-11-30 17:47] Meemaw commented on #13029
In case you decide not to support this, I think error should be thrown so users don't expect this to work, while in reality in doesn't.

[2020-11-30 17:56] cescoffier commented on #13559
@sberyozkin I don't understand.

In a Uni, if any stage throws an exception, that exception is propagated. However, in the code you mention, there are no unis, it's just a plain routing context handler.

[2020-11-30 18:05] mkouba commented on #13564
In fact, something like this should work as well:

[code]

But I agree that  `MailTemplateInstance.addInlineAttachment()` makes sense.

[2020-11-30 18:05] #5453 closed

[2020-11-30 18:19] thorstenhirsch commented on #6320
Current status still is "[embedding the whole database engine into a native executable is currently not implemented](https://quarkus.io/guides/datasource#in-memory-databases)". Any plans to implement this feature?

[2020-11-30 18:24] gsmet commented on #6320
No. We don't really have plans for it.

But if anyone wants to give it a try, it will probably require some GraalVM surgery.

[2020-11-30 19:03] gsmet commented on #13484
@aloubyansky could it be due to the same patch causing the issue with the arguments?

[2020-11-30 19:09] #13566 closed

[2020-11-30 19:38] #12933 closed

[2020-11-30 19:44] maxandersen commented on #13547
The way i understood it we would let platform be able to override. Never required it must be there.

And thus have fallback value set on the property.

[2020-11-30 20:13] aloubyansky commented on #13484
@sebthom you should adjust the toolchain plugin config. I.e. the `configuration` element should be moved out of the `executions`.
The reason it didn't fail in 1.9.2.Final is because the toolchain was completely ignored there. It was fixed in 1.10.0.CR1 with https://github.com/quarkusio/quarkus/pull/12973
However, be aware of https://github.com/quarkusio/quarkus/issues/12943. Toolchain isn't suppor

[2020-12-01 00:39] sebthom commented on #13484
@aloubyansky I can move the configuration element out of the executions element, as a workaround, however leaving it where it is is perfectly legal and should be handled correctly by quarkus. as background: we are using multiple execution elements with different configurations bound to different life cycle phases in our parent pom. so we can use different jdks for compilation, unit and integration

[2020-12-01 00:40] nicklynberg opened #13574 "Native Image Build Failures"
**Describe the bug**
I am attempting to do a native build of an AWS Lambda function in a Maven project.  The build fails with the messages shown in `Actual Behavior`.  There appear to be unsupported features in 3 methods:
- A detected MBean server in the image heap (similar to https://github.com/oracle/graal/issues/2669, not sure if this was ever confirmed fixed. I also attempted to add com.sun.jm

[2020-12-01 00:46] sorin-costea opened #13575 "org.apache.logging.log4j.message.ReusableMessageFactory can not be instantiated reflectively"
**Describe the bug**
Generated native image, Elasticsearch bulk writer crashes already in BulkProcessor$Builder (stacktrace below). I closed a related issue yesterday (see #13528) because at the time I only tried ES searches (via QueryBuilder) and they worked fine. It might be that it needs some extra reflection config json (no idea how, sorry) but I hoped I can live without digging that deep...

[2020-12-01 05:35] jefrog1844 opened #13576 "Add a verify method to BcryptUtils"
**Description**
BcryptUtils allows a plain text password to get encrypted , but has no methods to verify a plain text password.  It would be  nice to have an utility method for verification as other open source libraries for bcrypt appear to have.

**Implementation ideas**
Below is my unit test method testPasswordHash() that uses BcryptUtils.bcryptHash(String password) method.

I based the verifyP

[2020-12-01 06:41] geoand commented on #7293
Is this still the case?

[2020-12-01 06:46] geoand commented on #7292
Is this still a problem in the latest Quarkus versions?

[2020-12-01 06:54] geoandri commented on #12685
Hi @gsmet,

having a look at the code I have a couple questions on this.

Given the documentation I would expect to have an exception raised when having set `quarkus.hibernate-orm.*` properties in `application.properties` file and `persistence.xml` is present at the same time. I suppose the documentation refers to this.https://github.com/quarkusio/quarkus/blob/4f17da34b56b87f740b927884aa385bac3333

[2020-12-01 08:30] evacchi commented on #12486
Issue with hot-reload. We changed nothing on our end. Has this something to do with the following?

[code]

/cc @cristianonicolai @tiagodolphine @mariofusco

[2020-12-01 08:41] aloubyansky commented on #13484
@sebthom yes, we are not picking execution configs. This https://github.com/quarkusio/quarkus/pull/13577 should fix it. At least it works for your reproducer.

[2020-12-01 09:16] gsmet commented on #13575
@sorin-costea I think it's a valid issue. Can you create your reproducer?

[2020-12-01 09:33] JuanCamiloRada opened #13579 "Quarkus quarkusBuild failing when gradle buildSrc dependency"
**Describe the bug**
quarkusBuild fail with error

[code]

**Expected behavior**
quarkusBuild to success

**Actual behavior**
quarkusBuild always fail with the same error

**To Reproduce**
1. Extract sample project [my-artifactId.zip](https://github.com/quarkusio/quarkus/files/5621570/my-artifactId.zip)
2. Execute `./gradlew app:quarkusBuild`

**Notice that**
If dependency "com.jayway.jsonpath:jso

[2020-12-01 09:50] Ladicek commented on #13332
I'm in favor of looking at (and adding) test cases :-) The Weld ones for repeatable interceptor bindings linked above, unfortunately, only use method-level interceptor bindings. Does perhaps Weld have test cases for repeatable class-level interceptor bindings?

I've added some tests for repeatable interceptor bindings to my PR (https://github.com/quarkusio/quarkus/pull/13553), both method-level, c

[2020-12-01 10:10] sberyozkin commented on #13576
@jefrog1844 thanks, I'll close it as a duplicate of #10855, I'll copy your proposal there with CC to you, thanks

[2020-12-01 10:11] #13576 closed

[2020-12-01 10:11] sberyozkin commented on #10855
Here is a proposed code from @jefrog1844  at #13576 (which I've closed as a duplicate of this issue)

[code]

CC @FroMage

[2020-12-01 10:11] manovotn commented on #13332
So I scanned Weld tests and CDI TCKs. To my surprise, there are no tests apart from the one you discovered already.
Which is really weird, I have no idea why we test method-level bindings, but omit class-level ones. Sorry for my previous misleading comment, I really thought there would be more...

I think this will do ;-)

[2020-12-01 10:42] JuanCamiloRada commented on #10189
#13579 should be consider too as part of this ticket.

[2020-12-01 11:07] ia3andy opened #13581 "Generated project have wrong package when using `org.acme.something`"
**Describe the bug**
Holy guacamole, the package is acting weird when generating an app with `org.acme.something`   as package name (only affecting spring-web and resteasy)..  which is pretty bad since it's the first getting started example: https://quarkus.io/guides/getting-started
[code]

The output is:
[code]

The problem is because `org.acme` is being replaced twice when using `resteasy` and `

[2020-12-01 11:11] ia3andy commented on #13581
By luck, the bug is consistent, and the project does work.. so the "only" problem is the wrong package name and dir..

[2020-12-01 11:56] zakkak commented on #10637
While at it, could we make `-Dquarkus.native.container-runtime=podman` optional, i.e., only required when both `docker` and `podman` are available?

If `docker` is not present and `podman` is available Quarkus should automatically chose it and vice versa.
If both `docker` and `podman` are available, Quarkus should default to one of them and check if it's an alias to the other, to enable the specif

[2020-12-01 12:15] ge0ffrey commented on #6588
Taking a look

[2020-12-01 12:21] ge0ffrey commented on #6588
Is it possible that this CI job doesn't do the normal `-Dnative` for native jobs?

Because it looks like our quarkus profile `native` isn't activated:
  https://github.com/quarkusio/quarkus-quickstarts/blob/master/optaplanner-quickstart/pom.xml#L184
And it doesn't pick up this line in application.properties:
  https://github.com/quarkusio/quarkus-quickstarts/blob/master/optaplanner-quickstart/src/

[2020-12-01 12:37] sc3n opened #13584 "Session config from web.xml not passed to undertow"
**Describe the bug**
Session config is not read from `web.xml`.

**Expected behavior**
Session config is read from `web.xml`.
`HttpOnly` attribute of cookie created by `GreetingResource` is `true`.

**Actual behavior**
`HttpOnly` attribute of cookie created by `GreetingResource` is `false`.

**To Reproduce**

See attached archive: [code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/

[2020-12-01 12:47] ge0ffrey commented on #6588
It fails locally too, somehow this slipped through on my end. Working on it.

[2020-12-01 12:52] michalszynkiewicz commented on #13536
hi @anborg, I cannot access your example project, is it public?

[2020-12-01 12:54] gastaldi commented on #10637
@zakkak sure, the auto-detection should kick in only if the `-Dquarkus.native.container-runtime` is not specified

[2020-12-01 13:05] ge0ffrey commented on #6588
Related conversation: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/-Dnative.20ignores.20my.20quarkus.2Eprofile

[2020-12-01 13:12] sberyozkin commented on #13584
CC @stuartwdouglas

[2020-12-01 13:12] ge0ffrey commented on #6588
Ah, I realize what is causing this.
Basically, until https://github.com/quarkusio/quarkus/issues/13341 is fixed, the user has to add `-Dquarkus.profile=native` on the command line too. Obviously that's not ok for the CI here, so I 'll revert my changes that switched to this approach (and deviate from how we do it on optaplanner itself). Fix PR coming soon.

[2020-12-01 13:14] sorin-costea commented on #13575
@gsmet maybe not the most minimal reproducer but I wasn't sure what causes it.
Usage: after generating and starting the native executable `bootstrap`, connect to `http://127.0.0.1:8080/test` and witness the crash.
https://github.com/sorin-costea/escrash

[2020-12-01 13:22] MarcusBiel commented on #13539
Seems like I am onto something here - I updated my POM to 1.10.2 today - and now the issue has become worse - I get the same kind of issue for a simple boolean now:

14:18:03 ERROR [co.ma.co.er.ApplicationExceptionHandler]] (executor-thread-1) java.lang.RuntimeException: RESTEASY007545: Unable to find a MessageBodyReader for media type: text/plain; charset=us-ascii and class type boolean, errorId:

[2020-12-01 13:22] MarcusBiel commented on #13539
Rollback back to 1.8.1.Final. This is a BIG blocker for me.

[2020-12-01 13:22] sberyozkin commented on #13559
@cescoffier Sorry, missed your comment, yes, Stuart added an extra catch block in #13573

[2020-12-01 13:22] ge0ffrey commented on #6588
@geoand Here's the fix: https://github.com/quarkusio/quarkus-quickstarts/pull/722
My apologies for the disruption

[2020-12-01 13:24] geoand commented on #13539
Thanks for checking.

@asoldano any chance the RESTEasy team can look into this one?

[2020-12-01 13:28] geoand commented on #6588
@ge0ffrey thanks for the fix!

Not a problem at all :)

[2020-12-01 13:36] geoand commented on #13539
@gastaldi, @gsmet as you guys have used multipart support more than anyone else I know, any idea what might be going on here?

[2020-12-01 13:49] gsmet commented on #13539
Well, I have absolutely no knowledge of RESTEasy. We need someone from RESTEasy having a look.

But we also need a complete reproducer.

[2020-12-01 14:13] Ladicek commented on #13332
I've just added tests that verify repeatable interceptor bindings inherited from a superclass and from a stereotype to the PR.

I also added a few tests that verify [what I believe is] correct behavior when it comes to transitive stereotypes and stereotype inheritance, but those things are not implemented in ArC yet, so I left those tests as `@Disabled`.

I'd love to hear everyone's opinion on tho

[2020-12-01 14:30] Ladicek commented on #41
I can confirm that stereotype inheritance doesn't work, as well as transitive stereotypes (stereotype declared on another stereotype). I added some `@Disabled` tests for these in a mostly-unrelated PR (#13553).

[2020-12-01 14:39] rsearls commented on #7293
Yes it still fails.  I have updated the test case to quarkus version 1.9.0.Final

[2020-12-01 14:40] rsearls commented on #7292
Yes it still fails.  I have updated the test case to quarkus version 1.9.0.Final

[2020-12-01 14:41] geoand commented on #7293
Thanks for checking

[2020-12-01 14:41] geoand commented on #7292
Thanks for checking

[2020-12-01 14:44] #13510 closed

[2020-12-01 15:17] languitar opened #13588 "javax.ws.rs.ProcessingException: RESTEASY008200 when using Json-B and sending an invalid UUID"
**Describe the bug**

I have a REST service that expects a UUID in a post payload. That service is using resteasy-jsonb. When sending an invalid UUID string representation, the current exception is not a `ValidationException` and results in a 500.

**Expected behavior**

An instance of `ValidationException` is thrown.

**Actual behavior**

[code]

**To Reproduce**

This is a the stripped down data

[2020-12-01 16:40] geoand opened #13591 "Support global exception mappers with the annotation style in RESTEasy Reactive"
**Description**
Currently `@ServerExceptionMapper` only works for Resource Class specific exception handlers.
We should allow for registering a global exception mapper as well.

Furthermore, we should the return type to be `Uni<Respone>` or `CompletionStage<Response>`.

[2020-12-01 16:42] geoand opened #13592 "Support Async return types for @ServerResponseFilter in RESTEasy Reactive"
**Description**
Currently the response type of any method annotated with  `@ServerRequestFilter` and ``@ServerResponseFilter`` must be `void`, meaning that there is no way to right an async filter using these annotation.
We should support such async filters.

[2020-12-01 16:43] anborg commented on #13536
Hi  @michalszynkiewicz , added.

I also see native image generation issues.  when I run "mvn package -Pnative -DskipTests"

Perhaps I've to find substitute for HikariConnectionPool...

Will search for fix later.

[code]

[2020-12-01 16:44] geoand opened #13593 "Support CDI beans in Resource method parameters via qualifiers in RESTEasy Reactive"
**Description**
An example best demonstrates this:

Currently we need to write:

[code]

but we should be able to write:

[code]

[2020-12-01 16:45] geoand commented on #13593
@mkouba @manovotn the bot was being overly aggressive in pinging you. This is about RESTEasy Reactive so I'll probably take it :)

[2020-12-01 16:47] geoand opened #13594 "Use JSON as the default media type when returning objects in RESTEasy Reactive"
**Description**
Currently we default to `text/plain` for String but we don't default to JSON for objects.
We should make this simplification (it has already been done for the quarkus-resteasy) extension

[2020-12-01 16:47] geoand commented on #13594
cc @FroMage @stuartwdouglas

[2020-12-01 16:57] nicklynberg commented on #13574
For what it's worth, I just attempted to rerun the build on 1.10.2.Final and got the same errors.  I also attempted to upgrade GraalVM to 20.3.0 (even though Quarkus only claims to support 20.2.0), but was unable to get 20.3.0 to work - `java -version` resulted in `"graalvm-ce-java11-20.0.0" is damaged and can't be opened.` Verified SHA sum is correct, so not sure what's going on there.

[2020-12-01 17:24] EzxD opened #13595 "AWS Funqy Lambda native image Timeout"
**Describe the bug**
Deploying my funqy lamda function in jvm works perfectly fine.
After cleaning and building new with ``mvn package -Pnative -Dquarkus.native.container-build=true`` and deploying with ``./manage.sh native create`` the functions times out https://i.imgur.com/JVfUfIy.png

**Expected behavior**
Maybe any response? :)

**Actual behavior**
Not getting any response :(

**To Reproduce*

[2020-12-01 18:28] Barbiero opened #13596 "(kubernetes) add properties for affinity specs for pod templates"
**Description**
More info: [Affinity and anti-affinity](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity)

Sometimes it's useful to set certain pods to have affinity or anti-affinity for the nodes in your cluster. It would be nice if we could use properties like `quarkus.kubernetes.affinity.nodeAffinity.requiredDuringSchedulingIgnoredDuringExecuti

[2020-12-01 18:33] geoand commented on #13596
@iocanel Does dekorate support these?

[2020-12-01 18:50] kenfinnigan opened #13598 "Information endpoint"
**Description**
Capture information about the Quarkus instance during build/runtime that can be surfaced as an endpoint off of the new non-application endpoint root.

Could display information such as:

- JVM version (not applicable for native)
- Quarkus version
- List of extensions packaged

**Implementation ideas**
One option is to generate a resource file containing some of the information, suc

[2020-12-01 19:23] serrodcal opened #13599 "Quarkus raises RuntimeException 'Error injecting...' when try to inject Singleton beans in Native when run within Docker container"
**Describe the bug**
In a native application running in Docker, it seems the injection for Singleton beans don't work when I send a request:

[code]

The beans are annotated as is given below:

[code]

Finally, they are injected with:

[code]

**Expected behavior**
The application should response to the request.

**Actual behavior**
After the application started fine, when I send a request I get a

[2020-12-01 19:38] serrodcal commented on #13599
Same behavior in native on the local maching (avoiding Docker). To reproduce the bug:

1. Compile the application: `./mvnw clean package`
2. Start Postgresql using Docker: `docker run --ulimit memlock=-1:-1 -it --rm=true --memory-swappiness=0 --name quarkus_test -e POSTGRES_USER=quarkus_test -e POSTGRES_PASSWORD=quarkus_test -e POSTGRES_DB=quarkus_test -p 5432:5432 postgres:10.5`
3. Start the appl

[2020-12-01 19:50] matejvasek commented on #13595
@EzxD Could you please try adding some input pram for the helloWorld function? I have suspicion there is an issue when function takes no input.

[2020-12-01 19:50] vsevel opened #13600 "quarkus:generate-config should document application specific properties"
**Description**
if I execute `./mvnw quarkus:generate-config`, a config example file is generated with all quarkus extension properties, but not the application specific properties, such as:
[code]

It is a missed opportunity, since it would provide a _free_ configuration documentation for the application.
Proposal: when executing `quarkus:generate-config`, the generated file should contain both t

[2020-12-01 19:56] matejvasek commented on #13595
I think that this is caused by this code:
https://github.com/quarkusio/quarkus/commit/4e2502bee17e21b8870592abedd4bcad95301426#diff-b0bcdc4c5807481b0e5fc7652e0ea523623924d6e2acfc0f555deb1a001082d3R66-R70

[2020-12-01 20:02] famod commented on #13598
Maybe the version of the actual application could be displayed as well?

[2020-12-01 20:03] iocanel commented on #13596
I don't think that it does. Let's create a dekorator for that on Quarkus and we can remove it, when dekorate provides one

[2020-12-01 20:08] steve-hb commented on #13595
Doesn't this only apply for JVM based artifacts?

[2020-12-01 20:11] kenfinnigan commented on #13598
Don't see why not

[2020-12-01 20:19] kenfinnigan opened #13602 "Separate binding/port config for non application endpoints"
**Description**
Once #13144 is complete, add the ability for the non-application endpoints to be configured as local binding only and a separate port.

A separate port can be defined without local binding, but local binding requires a separate port to be configured.

If either of these items are specified in the configuration, they should be ignored in development and test.

When a different port

[2020-12-01 20:20] kenfinnigan commented on #13144
Created #13602 as a separate issue for implementing the local binding and port options. Anyone else is welcome to take that on

[2020-12-01 20:23] machi1990 commented on #12434
+1 on removing it. I am only seeing this issue now.

I think this was removed in https://github.com/quarkusio/quarkus/commit/22c529ec7b9739a24c152e5075caa4e19bd0ded5#diff-5eb6cadf7e590257e4ebc716bc138293c1b011d9fa5d10f31b18625c050b9a72, is this still an issue? Or it can be closed?

[2020-12-01 20:28] EzxD commented on #13595
Even using the native image with the createUser method the function is timing out

[2020-12-01 20:31] machi1990 commented on #13574
Hi @nicklynberg looking at the stack trace it seems that you are  a redis client, is it via the `redis-client` extension?

[2020-12-01 20:34] zakkak commented on #12434
This was not actually removed in https://github.com/quarkusio/quarkus/commit/22c529ec7b9739a24c152e5075caa4e19bd0ded5#diff-5eb6cadf7e590257e4ebc716bc138293c1b011d9fa5d10f31b18625c050b9a72 it just got moved to https://github.com/quarkusio/quarkus/commit/22c529ec7b9739a24c152e5075caa4e19bd0ded5#diff-035501212b24aa9e91f6944e140fd1146ea2659a6855fa6ac685a6f3f09369b2

So this is still an issue, I'll ope

[2020-12-01 20:38] EzxD commented on #13595
I am even getting a timeout using following application.properties ```properties
quarkus.datasource.db-kind=h2
quarkus.datasource.jdbc.url=jdbc:h2:tcp://localhost/mem:test
quarkus.hibernate-orm.log.sql=true
quarkus.hibernate-orm.database.generation=drop-and-create
quarkus.funqy.export=createUser
[code]

[2020-12-01 20:51] steve-hb commented on #13595
We'll try to replace the H2 and use an in-memory list

[2020-12-01 21:05] nicklynberg commented on #13574
The redis client is jedis version 2.9.3, via
[code]

[2020-12-01 21:12] machi1990 commented on #13574
Thanks,  Is there any reason why you are not using the `redis-client` extension?

[2020-12-01 21:13] steve-hb commented on #13595
Ok, we tried the "UserCreate" function of our example and it worked. Conclusion would be, that it's really a problem with function not having parameters at all.

[2020-12-01 21:16] mklueh opened #13604 "LazyInitializationException accessing Many-To-Many even when using @Transactional and modified child collection not updated after reloading"
**Scenario**

The scenario of my [reproducer](https://github.com/mklueh/quarkus-panache-repository-returns-old-entity-state) project is having a simple user entity who can follow others or be followed by others.

In my QuarkusTest I´m loading some entities from a PanacheRepository in the @BeforeEach.

Each tests performs operations on the child entity collections, such as following and unfollowing

[2020-12-01 21:19] serrodcal commented on #13599
Finally, It also doesn't work using `@ApplicationScoped` for all the injections in Native, but the error is different:

[code]

[2020-12-01 21:19] wjglerum opened #13605 "Hibernate throwing exceptions when using MS SQL and `quarkus.hibernate-orm.database.generation=update`"
**Describe the bug**
Just after upgrading to 1.10.2.Final we noticed that Hibernate can not longer update our tables. Even if they are in sync the underlying JDDBC driver will start throwing exceptions and Quarkus does not even start.

**Expected behavior**
Quarkus and Hibernate are able to introspect the tables on MS SQL and update them if needed.

**Actual behavior**
Quarkus fails to start
[code

[2020-12-01 21:24] EzxD opened #13606 "AWS Lambda Funqy @Transaction Exception"
**Describe the bug**
I deploy following [app](https://github.com/EzxD/Quarkus-Funqy-Native-Example) to aws lambda with the createUser function.
Running in jvm no issues
Running native I get following stacktrace:

[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:  Linux Pauls-PC 4.19.128-microsoft-standard #1 SMP Tue Jun 23 12:58:10 UTC 2020 x86_

[2020-12-01 21:25] EzxD commented on #13606
Seems like an error according to ``	@Transactional`` because the dto get`s printed

[2020-12-01 21:27] machi1990 commented on #13599
From the log above it, I'd say this is not something in relation to the bean scope but an operation that blocks the main event loop.

[code]

What sort of `init` operation are you running on your `EmployeeDao`?

/cc @cescoffier @mkouba for additional insights.

[2020-12-01 21:55] nicklynberg commented on #13574
This was an existing codebase that was already using `jedis`, which I am now trying to compile a native image of.  Do you think the build issues are from using `jedis`?  It is only used in one class, I can try to switch to `redis-client`.

[2020-12-01 22:06] serrodcal commented on #13599
Yes, that's correct. I forgot I have an await in EmployeeDao. The init method just populate the database when the bean os created.

In previous versions I didn't get any error.

[2020-12-01 22:07] patriot1burke commented on #13544
@goranopacic See linked PR.

[2020-12-01 22:18] matejvasek commented on #13595
I'll submit PR then.

[2020-12-01 22:24] Sanne commented on #13604
Hi,
it's a bit late here, but let me try clarify some things; if there's still something wrong I should have a better look tomorrow.

2#

## _Hibernate.initialize_

You can only use this helper when the object is managed by a Session which is still open. We can't otherwise load its state, as the transaction to which this object relates to is already terminated - the object might no longer exist, o

[2020-12-01 22:33] gastaldi commented on #13539
Sounds like a RESTEasy bug, @MarcusBiel can you provide a simple project reproducing the issue?

[2020-12-02 00:09] sorin-costea commented on #13575
I just noticed that after switching to using only commons-logging-jboss-logging, unit testing doesn't work anymore. ES wants for some reason a wrong LogManager, which it cannot find (no log4j dependencies in sight)... I guess I'll have to stop fiddling with native generation for a while :(
[code]

[2020-12-02 02:03] kdubb opened #13611 "Make configured AwsCredentialsProvider(s) injectable"
**Description**
Having the ability to inject the credentials providers for configured AWS clients (e.g. S3) would be _very_ helpful so advanced usages can share the configuration without duplication.

Our current specific use case is we need access to an `S3Presigner` and we are forced to initialize it separately, even though it shares an almost identical configuration.

**Implementation ideas**

[2020-12-02 05:37] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/395367418

[2020-12-02 06:58] geoand commented on #13596
@iocanel do you have the cycles to do this? I know I don't :)
If you don't as well, let's find someone else to work on this :)

[2020-12-02 07:37] mkouba commented on #13599
The problem is that you can't block inside a `@PostConstruct` callback of a bean that is injected in a bean that declares a reactive route. You would have to mark the route as blocking (e.g. via `@Route(type = HandlerType.BLOCKING)`). Becaue normally when a route is invoked we assume it's non-blocking, i.e. invoked on the event loop thread.

I'd recommend you to initialize the DB eagerly, when the

[2020-12-02 07:37] #13500 closed

[2020-12-02 07:41] jtama-op commented on #12633
@ia3andy If I have a good comprehension, this is just about writing a very simple demonstrator that uses the picocli extension and a yaml file. Am I right ? If so, and issue has not been taken care of, I can do that. I may not be very efficient in Kotlin but I should be able to write 20 lines of code or so. Let me know if you're interested.

[2020-12-02 07:55] serrodcal commented on #13599
Just annotating the `EmployeeDao` bean with `@Startup` it works fine. Even using `@Singleton`.

Thanks a lot for your help. So, I think we can close this issue.

[2020-12-02 08:01] #13305 closed

[2020-12-02 08:08] ia3andy commented on #12633
sure @jtama-op you are welcome to give it a shot :)

I'll update the doc & publish a script later today to help developing codestarts.. you should wait for it.

[2020-12-02 08:12] rbraeunlich opened #13612 "Wrong generics on ReactivePanacheMongoRepositoryBase.kt findById"
**Describe the bug**
The generic type on `findById` in the `ReactivePanacheMongoRepositoryBase` class doesn't match it's JavaDoc and the Java counterpart.

**Expected behavior**
The Kotlin signature of the method in my opinion should by
[code]

**Actual behavior**
The actual implementation cannot return null, since it's typed to `Entity`:
[code]

**Additional context**
Also the Javadoc states:
[co

[2020-12-02 08:50] #13599 closed

[2020-12-02 09:02] ia3andy opened #13614 "Add a new Codestart project type to create Quarkus Example Codestarts (inception)"
**Description**
It would be pretty basic, and interactive:
[code]

[2020-12-02 09:17] sebastienblanc opened #13615 "Implicit JSON Content-type impacts swagger-ui POST endpoints"
**Describe the bug**
Since 1.10.2 the default content-type is JSON, so we can remove `@produces` and `@consumes` but I noticed that on `swagger-ui` for a POST method when doing `try it out` I can not fill in the body with JSON content (the input box is not visible)

**Expected behavior**
I can put a JSON body with swagger-ui in POST endpoints with using `try it out`

**To Reproduce**

Steps to rep

[2020-12-02 09:22] phillip-kruger commented on #13615
Hi @sebastienblanc - Thanks for the issue. I'll have a look at it a.s.a.p.

[2020-12-02 09:37] maxandersen opened #13617 "Support for Service Binding Specification to pick up external service configuration "automagically""
**Description**
[The k8s service binding specification](https://github.com/k8s-service-bindings/) has a notion of "application projection" which defines how directory with files gets used to map a configuration of external services, like a postgres database or a kafka source.

My thinking is that Quarkus should have a way for user to load that configuration to be available in two ways:

1) as raw

[2020-12-02 09:50] gsmet commented on #13606
I wonder if it's related to https://github.com/quarkusio/quarkus/pull/13088 .

Could you try with latest master?

You can follow the instructions here: https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master .

[2020-12-02 10:01] gsmet commented on #13574
javax.management is not supported by GraalVM. So if you want to use the Redis client you use, you will probably have to write GraalVM substitutions to get rid of this feature.

And I suspect you will also need to register the Jackson `IntervalDeserializer` for reflection.

Here you see one of the strenghs of Quarkus:
- if you stay in the limits of the extensions we support, you should be covered
-

[2020-12-02 10:01] iocanel commented on #13596
I'll do it!

[2020-12-02 10:09] gsmet commented on #13575
The Elasticsearch client is using Log4j 2 so it has nothing to do with commons-logging.

If you can provide a reproducer for the second issue, I can have a look too.

Are you sure you didn't exclude the JBoss Logging Log4j 2 adapter?

[2020-12-02 10:10] gsmet commented on #13611
/cc @marcinczeczko

[2020-12-02 10:12] geoand commented on #13596
Thanks!

[2020-12-02 10:14] #13472 closed

[2020-12-02 10:16] #12434 closed

[2020-12-02 10:31] goranopacic commented on #13544
superb! it works both ways - jvm and native.

Here is my log from simple lambda showing uploaded file name (Native). Init and second execution with 1ms billing :).

REPORT RequestId: c420634a-1e21-49b3-bb8e-9098667f451c Duration: 106.86 ms Billed Duration: 398 ms Memory Size: 256 MB Max Memory Used: 63 MB Init Duration: 290.92 ms
REPORT RequestId: 7ef6691f-e321-490b-ad0c-03f14c5832e0 Duration: 1.0

[2020-12-02 10:32] #13568 closed

[2020-12-02 10:48] mkouba commented on #12985
It's actually not split. For className the prefix + local = `scala.collection.parallel.mutable.ParArray$ParArrayIterator$` but in the index the prefix + local = `scala.collection.parallel.mutable.ParArray$ParArrayIterator` (no `$` at the end). `toString()` however returns the same value because of https://github.com/wildfly/jandex/blob/master/src/main/java/org/jboss/jandex/DotName.java#L236.

I'm

[2020-12-02 10:50] jtama-op commented on #12633
Just let me know when it's pushed.

[2020-12-02 10:50] machi1990 commented on #13574
I see. Please check @gsmet comment that better sums up the advantage of using a Quarkus extension.

[2020-12-02 10:51] sberyozkin commented on #13485
As part of this issue the configuration checks should be added to prevent the use of access token with this strategy as well as with the `ID_TOKEN_ONLY` one (and RT with the latter one)

[2020-12-02 10:54] machi1990 commented on #13599
@serrodcal  FYI: If you are populating the database, using a migration extension [Flyway](https://quarkus.io/guides/flyway) or [Liquibase](https://quarkus.io/guides/liquibase) will be suitable for the job.

[2020-12-02 11:07] msogrin commented on #12985
It's actually className = prefix + $ + local.
So $ is present at the end when local="".

[2020-12-02 11:15] sberyozkin commented on #13239
@gauravrmsc sorry, I've missed your questions.

Yes, it has to be a new extension, in its `runtime` it will have this `TokenStateManager` implementation, in its `deployment` register it as an unremovabable bean

I think you can copy and paste `integration-tests/oidc-code-flow` and there in the `CodeFlowTest` keep the very 1st test only and in the `application.properties` - the very first (default)

[2020-12-02 11:53] mkouba commented on #12985
Sure. My point was that those values are not equal.

See https://github.com/quarkusio/quarkus/issues/12985

[2020-12-02 11:59] galderz commented on #13567
@gsmet But according to the description of the issue in https://github.com/graalvm/mandrel/issues/180, the tweaks available are not enough, otherwise you'd not get the `NoSuchMethodError`. Converting @jerboaa's example into a test would be desirable too, if no similar tests exist?

Also, could this be a good first native issue for the community?

[2020-12-02 12:16] serrodcal commented on #13599
@machi1990 thanks for the recommendation. I knew those tools are available but, personally, I don't like to use them because  the application will be coupled to the database. Anyway, this project is just for learning.

[2020-12-02 12:29] andreas-eberle opened #13621 "quarkus.http.root-path should not be a compile time config"
**Describe the bug**
Currently `quarkus.http.root-path` is a compile time config. This leads to issues when the root-path depends on the deployment environment. This config should not be a compile time but a runtime config.

[2020-12-02 12:42] #13484 closed

[2020-12-02 12:55] andreas-eberle opened #13622 "Quarkus Jib fails if username contains a space although it is not even used"
**Describe the bug**
When adding the jib extension to a freshly created quarkus project (generated with code.quarkus.io), `gradlew assemble` fails with

[code]

It seems the jib dependency uses my username (Windows user, hence with a space in the name), as the group for the image as default value. One improvement would be if you replace spaces with a `-` to prevent such issues.

However, the more

[2020-12-02 13:01] stevefavez opened #13623 "Constraints on Optional value throw java.lang.IllegalArgumentException: Not a parameterized type!"
**Describe the bug**
I'm trying to add a constraint on an Optional attribute in a Bean. My understanding is that if the attribute is empty it's ok, otherwise, validation is performed on the value. According to spec, I'm supposed to add it like this :

[code]
please see the following attachement for all the code sample : [mytest.zip](https://github.com/quarkusio/quarkus/files/5629380/mytest.zip)

B

[2020-12-02 13:13] maxandersen opened #13624 "OpenShift Container Manager API"
**Description**
To use with #5931 having an OCM (OpenShift Container Manager) api client would be useful.

Initial effort should be to just get a prototype up and running and iterate from there based on feedback from the teams doing operator or  other work using ocm api

**Implementation ideas**
use existing go client https://github.com/openshift-online/ocm-sdk-go similar to how its done for
fabri

[2020-12-02 13:40] EzxD commented on #13606
Its working without an error

[2020-12-02 13:40] #13606 closed

[2020-12-02 13:40] mswiderski opened #13627 "OpenAPI branding does not seem to work"
**Describe the bug**
Following recent blog post about branding support in swagger u I tried to use custom styles and log but neither of these seem to work. Tried both dev mode and runner jar

This looks that in production profile (when building runner jar) it cannot find the file (logo.png) as it tries to search it as regular path while the root points to jar file

`/Development/git-repos/quarkus-

[2020-12-02 13:44] danieloh30 opened #13629 "A mutable jar can't be accessible in OpenShift for remote development"
**Describe the bug**
(Describe the problem clearly and concisely.)
A mutable jar on OpenShift can't be running with the following error:

Error: Unable to access jarfile /deployments/target/quarkus-run.jar

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
The Quarkus pod(mutable jar) runs well without

**Actual behavior**
(Describe the actual behavior clearly and conci

[2020-12-02 13:44] danieloh30 commented on #13629
@stuartwdouglas

[2020-12-02 13:47] phillip-kruger commented on #13627
Hi @mswiderski.

Do you have a reproducer ? This is working fine for me. Any small project will do.
Thanks.

Also have a look at https://github.com/phillip-kruger/openapi-example, see if that work for you and let me know.

[2020-12-02 13:57] mklueh commented on #13604
Thanks for the explanation. If the session is still open, why do I need this call then and can´t just access the collection like **user.getFollowers()**?

Great thing to know. That means in case of having a queue in your application where entities are processed asynchronously by a scheduler for example, involving multiple database operations in each stage of the process, you would just reload the

[2020-12-02 14:00] mswiderski commented on #13627
@phillip-kruger many thanks for the example, that helped to solve the issue. It turned out it was my configuration of Quarkus-maven-plugin that was only executing build phase and apparently that cause the issue.

P.S.
Maybe worth adding this link (example) to the blog post, really very useful as reference.

Closing as it's not an issue (I assume the quarkus-maven-plugin config was already in migra

[2020-12-02 14:00] #13627 closed

[2020-12-02 14:12] geoand commented on #13622
Thanks for reporting.

@iocanel in dekorate do you handle this in some specific way?

[2020-12-02 14:15] geoand commented on #13629
Thanks for reporting @danieloh30 .

@iocanel FYI as well.

[2020-12-02 14:20] phillip-kruger commented on #13627
Great ! I'll update the blog post.

[2020-12-02 14:35] Sanne commented on #13604
you're right, if the Session is still open that would be good enough. In fact, I rarely ever need Hibernate#initialize : I'm not suggesting to use it.

Probably. It depends if you need the data to be "fresh" as in just loaded? Especially if you then need to write it back,you might want to open the transaction, load the data, make changes, commit.  If you don't need to make such changes, you might

[2020-12-02 14:44] galderz commented on #5869
I've just encountered this issue in master. Started a [Zulip discussion](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Multiple.20native.20test.20executions.20with.20different.20sys.20props) to see how to do this.

[2020-12-02 15:10] gsmet commented on #13623
Sure looks like a bug. I'll have a look.

[2020-12-02 15:39] FroMage opened #13632 "Reactive Messaging too verbose"
[code]

Can we shut it up?

[2020-12-02 15:47] cescoffier commented on #13632
The new wiring algorithm I'm working on remove all these logs.

[2020-12-02 16:18] ia3andy commented on #12633
@jtama-op ok, it's still a PR, but you can already follow it and give feedbacks:
https://github.com/ia3andy/quarkus/blob/cs-doc/independent-projects/tools/codestarts/README.adoc

The PR is here: https://github.com/quarkusio/quarkus/pull/13633

[2020-12-02 16:25] laurentgo opened #13635 "Updating project's jackson version causes container creation to fail"
**Describe the bug**
When updating jackson's version in a Maven project using quakus, build failed when building the container.
From https://github.com/projectnessie/nessie/runs/1475113588?check_suite_focus=true:
[code]

This seems to also impact quarkus itself in #13570:
[code]

_Originally posted by @gsmet in https://github.com/quarkusio/quarkus/issues/13570#issuecomment-736349289_

**Expected b

[2020-12-02 16:33] #13591 closed

[2020-12-02 16:43] sorin-costea commented on #13575
Update re. second issue: oops you're right. I removed too much stuff when trying... so there's no second issue.

[2020-12-02 16:43] geoand opened #13636 "Make value field of @ServerExceptionMapper optional in RESTEasy Reactive"
**Description**
We should be able to write something like:

[code]

[2020-12-02 16:44] gsmet commented on #13635
Could you add the `quarkus-jackson` extension to your project if not already there?

I suspect one of the reasons it's failing is because the Jib extension doesn't depend on `quarkus-jackson`.

[2020-12-02 16:54] gsmet commented on #13635
It's not enough.

Looks like we will need to customize the `ObjectMapper` used by Jib to register the appropriate module. But really, it should be Jib doing that.

[2020-12-02 16:58] geoand commented on #13635
Pffff... That sucks really...

[2020-12-02 17:02] gavinking commented on #13604
Well if we're already processing bytecode at build time, it would be rather easy to make `@Transactional` work for self-invocations. Except that it's specifically defined to _not_ work that way. So I'm not quite sure how I feel about that.

[2020-12-02 17:05] gsmet commented on #13635
It should probably be reported to the Jib project. They will probably figure it out when upgrading Jackson.

What I don't understand though is that the JSR 310 extension has a service file pointing to the module so I would have expected Jackson to register it automatically?

[2020-12-02 17:10] geoand commented on #13635
Great idea! @laurentgo would you like to do that?

IIRC, in Jackson you need to call a method in order for it to find modules, I don't think it does it automatically.

[2020-12-02 17:17] danieloh30 opened #13638 "Listening on: http://localhost:8080 by default when a mutable jar is deployed to OpenShift"
**Describe the bug**
(Describe the problem clearly and concisely.)
When a mutable jar is deployed to OpenShift via a binary build, localhost:8080 is listening by default than 0.0.0.0:8080 so the endpoint(i.e. REST API) can't be accessed externally via a router.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Listening on: http://0.0.0.0:8080

**Actual behavior**
(Des

[2020-12-02 17:20] gsmet commented on #13635
Yeah, I don't see why the service files, then :).

But I can live with this mystery :).

[2020-12-02 17:31] gsmet commented on #13638
@stuartwdouglas I suppose it's due to the changes we made to the host.

It's not the first time that I think remote dev should be its own mode. Dunno how much work it would be though.

[2020-12-02 17:36] laurentgo commented on #13635
There's no automatic registration of module by default (probably for backward compatibility with existing code registering modules manually?), but if desired, one can use `ObjectMapper#findAndRegisterModules`.

[2020-12-02 17:39] laurentgo commented on #13635
That's my plan, but the reason why I opened this bug in the first place was to understand why changing jackson version of my project would impact generating the docker image, and if there's something to be done in quarkus about it.

[2020-12-02 17:46] geoand commented on #13635
We don't deal with the ObjectMapper that Jib uses at all. We probably could if we wanted to, but I would prefer not to unless it's absolutely necessary.

[2020-12-02 17:54] geoand commented on #13638
Which change is that?

[2020-12-02 17:57] laurentgo commented on #13635
I was not thinking of changing `ObjectMapper` but more on how Quarkus Maven plugin manages dependencies for extensions maybe?

[2020-12-02 18:03] geoand commented on #13635
Most likely your update to Jackson breaks what Jib expects for Jackson.

[2020-12-02 18:07] laurentgo commented on #13635
But is it expected that a code dependency update breaks a build/tool dependency? For regular maven project, it would be a bug if changing a code dependency would break the jar plugin for example...

[2020-12-02 18:08] laurentgo commented on #13635
fyi proposed patch for Jib: GoogleContainerTools/jib#2908

[2020-12-02 20:10] gsmet commented on #13638
@geoand https://github.com/quarkusio/quarkus/pull/13223

[2020-12-02 20:38] gsmet commented on #13623
This is due to the `setOptionalMessage()` method created by Lombok not playing well with Jandex.

We end up with a `@Size` annotation instance which is referenced as being attached to a parameterized type attached to a `EmptyTypeTarget` in Jandex. My decompiler doesn't show me the annotations so I don't really know where they are but I wonder if somehow Lombok incorrectly attaches the `@Size` anno

[2020-12-02 20:41] Xendar opened #13643 "Redoc support for OpenAPI"
**Describe the extension**
(Describe the extension clearly and concisely.)

Similarly to the swagger-ui extension, it would be good to have a redoc extension to read the provided OpenAPI spec

**Configuration suggestion**

Options provided by redoc

**Additional context**
(Add any other context about the proposal here.)

[2020-12-02 22:30] jtama-op commented on #12633
Ok I didn't wait but already have something in java, I will follow your guide to add kotlin.
I have a few questions though :

- I think this exemple should be a singleton-exemple. What do you think ? Waiting for your input I added dedicated unit tests, and excluded it from the IT.

- The code isn't tested. In fact it already bothers me for my project, there aren't any testing samples. How do I fak

[2020-12-02 22:48] famod commented on #10743
Have there been any changes? I recreated my fork not long ago but still keep getting dependabot PRs.

[2020-12-02 22:54] gastaldi commented on #10743
@famod try force pushing to your master a commit similar to what I have in github.com/gastaldi/quarkus

[2020-12-02 23:30] bobocu commented on #3426
Is this issue solved? Have the same problem

[2020-12-02 23:38] bobocu opened #13648 "jwks path can not be read from property mp.jwt.verify.publickey.location, local and https"
**Describe the bug**
When setting in application properties:
mp.jwt.verify.publickey.location=META-INF/resources/key.jwks
or
mp.jwt.verify.publickey.location=https://www.googleapis.com/oauth2/v3/certs

the pem from googleapis can not be loaded.

**Expected behavior**
Expecting jwks to be loaded

**Actual behavior**
2020-12-03 00:33:50,297 DEBUG [org.jos.htt.Get] (vert.x-eventloop-thread-1) HTTP GE

[2020-12-02 23:46] bobocu opened #13649 "Can not verify jwt from firebase authentication"
**Describe the bug**
When trying to authenticate jwt from firebase, I get an InvalidJwtException

I obtain a token from:
https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=
And payload:
{ "username" : "user", "password" : "password" }

Use one of the public keys from here:
https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com

and try jwt a

[2020-12-03 02:26] Basheyev commented on #13539
I'm having the same issue.

[2020-12-03 04:24] gastaldi commented on #13539
It's easier to fix with a sample reproducer project ;)

[2020-12-03 04:57] mutasemhidmi opened #13650 "Mongo+srv protocol"
Hey,

When it will be possible to support mongo+srv protocol in native mode ?

[2020-12-03 05:36] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/397641791

[2020-12-03 06:53] Sgitario opened #13652 "Outdated section "Checking Permissions Programmatically" in security-keycloak-authorization guide"
**Description**
The section "Checking Permissions Programmatically" in [the Security Keycloak Authorization](https://quarkus.io/guides/security-keycloak-authorization#checking-permissions-programmatically) guide is out-to-date:

[code]

The method `thenCompose` does not exist any longer.

**Implementation ideas**
(If you have any implementation ideas, they can go here.)

In the Quarkus repository,

[2020-12-03 07:54] ia3andy commented on #11198
yeah I guess we can close that one a it's a duplicate of #10212

[2020-12-03 07:54] #11198 closed

[2020-12-03 08:04] galderz commented on #5869
Moreover, as indicated in that zulip chat, `QuarkusTestResourceLifecycleManager` might just be enough for this since it enables to tailor the sys properties passed into the integration test. However, it doesn't seem to take into account that each the lifecycle is only associated with 1 of 2 tests and it seems to run with same sys properties for all tests.

[2020-12-03 08:28] aloubyansky opened #13653 "uberJar may appear to be ignored in Quarkus Maven plugin configuration"
This is a regression in 1.10.0.Final-1.10.2.Final and works properly in 1.9.2.Final.

If the Quarkus Maven plugin config looks like
[code]
The `uberJar` will not be effective. This is a consequence of the refactoring done for 1.10.0.Final.
The workarounds are:
1. if your project does not use gRPC it should be safe to remove `generate-code` and `generate-code-tests` goals and that will fix the uber

[2020-12-03 09:01] jonathanroques opened #13655 "HTTP Lambda doesn't work with AWS Custom Domains"
**Describe the bug**
I have an issue when I'm using my REST API with Custom Domain.
_Note_ : When I use the InvokeURL it's all good though.
I'm using the maven archetype from the [quarkus guide](https://quarkus.io/guides/amazon-lambda-http).

The issue is that with a Custom Domain (base path = hello) the root endpoint /hello doesn't work (missing token error). I can call /hello/myName for instance

[2020-12-03 09:07] loicmathieu commented on #13650
Duplicated with #9476 you can watch this issue and provide feedback on it.

This is not an easy issue as it uses JNDI that is not supported in  native.

[2020-12-03 09:07] #13650 closed

[2020-12-03 09:25] Sgitario commented on #13358
About this issue, I'm annotating my gRPC method with `Blocking`, see example:

[code]

The above code fails with this exception:

[code]

The problem is that the Infrastructure.canCallerThreadBeBlocked() call returns false.

Am I doing something wrong or is this a defect? If so, it should be tracked separately?
Thanks in advance,

[2020-12-03 09:29] Sgitario opened #13656 "Add security support for gRPC"
**Description**
At the moment, securing gRPC servers must be implemented manually. It would be good to support the same security annotations as in HTTP services, for example:

[code]

It would not make sense to use the oidc Quarkus extension, but maybe the jwt extension does.

**Implementation ideas**
See an example of implementing security using JWT in this post: https://sultanov.dev/blog/securin

[2020-12-03 09:32] gsmet commented on #13567
@galderz I wasn't saying no additional work was needed, just that we had preliminary work there.

BTW, this is blocking the GraalVM 20.3 upgrade, things that used to work don't work anymore:

https://github.com/quarkusio/quarkus/pull/13644#issuecomment-737779519

[2020-12-03 09:45] famod commented on #10743
@gastaldi Dependabot it checking such a file? 😮

Seems many users are affected by this (in general): https://github.com/dependabot/dependabot-core/issues/2198

[2020-12-03 09:50] jonathanroques commented on #6376
Same question here, couldn't find any answer

[2020-12-03 10:04] #13581 closed

[2020-12-03 10:12] sberyozkin commented on #13648
@bobocu I think this issue is invalid. As you can see from the logs the keys are downloaded, but since none of those keys has a matching `kid` which is what your token has, `tB0M2A` no match is possible. Make sure the token has a matching kid like
[code]

[2020-12-03 10:12] #13648 closed

[2020-12-03 10:16] zakkak commented on #13517
@rsvoboda I am closing this since you got it working and #13582 hopefully improved the documentation

[2020-12-03 10:16] sberyozkin commented on #13656
@Sgitario Hi, I guess it falls into the same category as web sockets, the metatada keys if any containing the tokens are not standardized in either case.
This should be done in the grpc interceptor I guess which would populate a `SecuryIdentity` it it can be demoed in the quicktart...

[2020-12-03 10:31] sberyozkin commented on #13649
@bobocu I don't know why is it a Quarkus bug; Jose4J believes that the verification key you have provided can not verify the signature.

Maybe it is due to you signing with the public certificate according to your description, instead of the private key

[2020-12-03 10:35] #13559 closed

[2020-12-03 10:35] #13499 closed

[2020-12-03 11:01] eliaharm commented on #13520
Is it possible in case of more advanced queries to allow overriding a specific method in order to customize it?

[2020-12-03 11:32] atomicmass commented on #11929
Is there any solution or work around for this? My transaction is getting rolled back, but I have no idea what the actual error might be. I have extracted the SQL statements and they execute without errors.

[2020-12-03 11:34] michalszynkiewicz opened #13658 "Mongo tests get stuck in CI"
I noticed that on at least two PRs the Windows JVM tests timed out for me (I'm not sure if other systems are impacted).
Maybe that is a coincidence but in both situations it was on mongo tests. I captured the output of one of the failures: https://gist.github.com/michalszynkiewicz/c77523d8974f4eebd7d548ea4eb65b63#file-mongodb-kotlin-test-stuck-txt

[2020-12-03 12:23] maxandersen commented on #13629
just to clarify - your title says "remote development" but I assume you just mean deployment of quarkus app fails in openshift and is not relate to what we refer to as remote devmode, right?

[2020-12-03 12:28] #13653 closed

[2020-12-03 12:38] danieloh30 commented on #13629
It's a remote dev mode because a mutable jar needs to be deployed to the OpenShift as running a remote dev mode. However, a mutable jar can't be accessed like the above screenshot when I deployed it via Quarkus OpenShift extension. Hope it helps you clarify the issue. Thanks.

[2020-12-03 13:05] Sgitario opened #13660 "Rest Client using @ClientHeaderParam annotation fails in Native mode"
**Describe the bug**
Using the annotation `@ClientHeaderParam` in a Rest Client as follows

[code]

The above example fails running using in Native mode. In JVM, it works file.

**Expected behavior**
It should work as in the JVM mode.

**Actual behavior**
The above example fails running using in Native mode. In JVM, it works file.

**To Reproduce**

Find in [this link](https://github.com/Sgitario/

[2020-12-03 13:35] Sgitario commented on #13660
As a workaround to provide the token this way, you could move this logic into another class:

[code]

As this class is marked with the @RegisterForReflection annotation, it will be included in the native image. Then, using this method:

[code]

[2020-12-03 13:46] jfrantzius commented on #13363
Anyone using OIDC will have to workaround this issue by stripping the `www-authenticate:` from responses, if there hopefully is an upstream proxy that can do this.

[2020-12-03 13:56] FroMage commented on #13594
One of the strategies that would be possible is to add a `@DefaultConsumes/Produces(MediaType)` that we can place on `MessageBodyReader/Writer`:

[code]

And then we can do similar for all types, including JSON and (eventually) XML.

At build time we collect all those, and we can infer that if the return type is `String` and there's no `@Produces` we make it default to `text/plain`. For any other

[2020-12-03 13:57] FroMage commented on #13593
I wonder if we can't extend this to any CDI bean even without a qualifier. Can we detect that something is available from CDI at build time @mkouba?

[2020-12-03 14:07] FroMage opened #13661 "RESTEasy Reactive: investigate request streaming"
ATM we can stream responses for chunks of data (or json but no special support) or SSE, but nothing for streaming request data.

We should support the same sort of streaming, with a `Multi` for reading chunks. I don't believe there's such a thing as request SSE so let's not do that.

[2020-12-03 14:09] FroMage opened #13662 "RESTEasy Reactive: support json error RFC"
https://tools.ietf.org/html/rfc7807 appears to be super useful for most JSON/XML APIs, so we should support it.

[2020-12-03 14:10] FroMage opened #13663 "RESTEasy Reactive: investigate JSON streaming"
There are several existing competing mime types / RFCs for streaming JSON in requests/responses.

We should investigate them and possibly support one or more.

[2020-12-03 14:11] FroMage commented on #13663
@gytis this is what @geoand talked to you about.

[2020-12-03 14:11] FroMage commented on #13663
Note that for the "response streaming" part this may depend on #13661

[2020-12-03 14:11] FroMage commented on #13662
@gytis this is what @geoand talked to you about.

[2020-12-03 14:16] mkouba commented on #13593
We can treat method params as injection points (similar to observer methods) but I don't think we should do this. At least not for any method. We could only consider methods annotated with `@Inject` (note that it can't be used for params) but even then we need to think about the consequences, e.g. what happens with injected `@Dependent` beans. Also for "normal clients" (user code) it does not make

[2020-12-03 14:16] FroMage commented on #9947
@cescoffier would you welcome a PR to fix this?

[2020-12-03 14:22] krnkhanna1989 opened #13664 "Quarkus Kafka: Retry attempts are not working as expected and application tries to connect to the Kafka Broker forever."
**Describe the bug**
I am working on a Quarkus application and intend to use Kafka to receive messages, however I want to stop the application if the application is not able to reach Kafka broker after retrying for a certain number of times. The default configuration is to try infinite number of times to reconnect. In the documentation at Smallrye Reactive Messaging Kafka, it says we can use kafka

[2020-12-03 14:26] gytis commented on #13662
Yes, I'm happy to take this one.

[2020-12-03 14:27] gytis commented on #13663
Great! I'm happy to take this one. Feel free to assign me.

[2020-12-03 14:29] FroMage opened #13665 "RESTEasy Reactive: change default name mapping strategy for `@RestHeader`"
ATM if you define your param as `@RestHeader String contentType` it will map to the `contentType` header, but it should map to `Content-Type`, so we have to adjust the name mapping rules to make it work for all HTTP headers by default.

[2020-12-03 14:30] sberyozkin opened #13666 "Add `OidcConfigurationMetadata` injectable request-scoped bean"
Sometimes Quarkus endpoints need to access the discovered or manually prepared OIDC configuration, so we should have a way to inject it.
It has to be request-scoped because in a multi-tenant environment it will be request specific

[2020-12-03 14:30] FroMage commented on #13593
Just to clarify @mkouba this is _only_ for REST endpoint methods and a few jax-rs extension methods (exception mappers, filters…)

[2020-12-03 14:31] FroMage commented on #13593
So, for methods invoked by the framework, never by users.

[2020-12-03 14:31] FroMage commented on #13663
Great!

[2020-12-03 14:31] FroMage commented on #13662
Excellent!

[2020-12-03 14:37] mkouba commented on #13593
Ok, I got confused by this sentence: "I wonder if we can't extend this to any CDI bean even without a qualifier"...

In any case, a qualifier is not needed - in CDI the absence of a qualifier means the qualifier of the injection point is defaulted to `@Default`.

[2020-12-03 14:40] evacchi commented on #12486
@aloubyansky I don't know if it's 100% related to the way we generate code though, because it looks like only 1 of the hot reload tests is breaking, not all of them. I don't think we will be able to leverage the same approach of GRPC because we may need reflection information from user-provided classes to do our codegen. /cc @mariofusco

[2020-12-03 14:48] #13209 closed

[2020-12-03 14:50] gastaldi commented on #10637
I think we can even simplify the auto-detection algorithm by returning `podman` if `podman --version` returns something like `podman version 2.1.1` and fallback to `docker` otherwise.

[2020-12-03 14:54] sberyozkin commented on #13666
Just making this comment here - and add an optional `idtoken` hint to the logout request - I've been planning to do it for a while but @danielpetisme has reminded me about it by showing his code

[2020-12-03 15:01] evanchooly commented on #13658
I don't see any jobs at the moment stalled or timed out.

[2020-12-03 15:02] TheGeekPharaoh opened #13667 "Unable to invoke request: javax.ws.rs.ProcessingException: RESTEASY003215: could not find writer for content-type application/x-www-form-urlencoded type: javax.ws.rs.core.Form$1"
**Describe the bug**
Exception after updating project to Quarkus 1.10.2 when leveraging the Keycloak client class.  Attempting to programmatically get an OIDC access token using the client fails.

**Expected behavior**
Calls using the Keycloak client would return the OIDC access token.

**Actual behavior**
An exception:

[code]

**To Reproduce**

[code]
**Configuration**

Quarkus 1.10.2, Keycloak

[2020-12-03 15:05] #13544 closed

[2020-12-03 15:10] FroMage commented on #13593
Sure, but in order to be able to support that, we need to know at build time if a bean of that type exists.

[2020-12-03 15:11] Sanne opened #13668 "Panache / Hibernate Reactive integration tests are not run on CI"
**Description**
The module for `:quarkus-integration-test-hibernate-reactive-panache` is apparently not being run on CI - I found two probems when testing it locally in **native mode**. Maybe it's not being run in native?

**Implementation ideas**
I propose we fix it :-)

I'll follow up with links to the existing failures: no point in enabling CI on this module until it actually works.

Pre-requis

[2020-12-03 15:16] Sanne opened #13670 "Missing reflective registration of ReactiveOneToManyPersister"
**Describe the bug**
Having a one-to-Many association in Hibernate Reactive will cause a failure to boot in native mode.

**Expected behavior**
No issues.

**Actual behavior**
[code]

**To Reproduce**

We have an existing test for this; it's not being run on CI apparently (see #13668 ). Run tests from module `quarkus-integration-test-hibernate-reactive-panache`.

[2020-12-03 15:21] plevart opened #13671 "Cannot find 'jvmArgs' in class io.quarkus.maven.GenerateCodeMojo"
Hi,

After upgrading to 1.10.2 (including maven plugin) from 1.9.2, I'm geting the following error when I run `mvn quarkus:dev` alone:

`[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.10.2.Final:dev (default-cli) on project btrdkr: Unable to execute mojo: Unable to parse configuration of mojo io.quarkus:quarkus-maven-plugin:1.10.2.Final:generate-code for parameter jvmArgs: Cannot

[2020-12-03 15:23] Sanne opened #13672 "Reactive Panache: Entity bytecode replacements seem ignored by native-image"
**Describe the bug**
It seems like the entities compiled into native are missing the replacement implementations for the template methods.

Running

I get:
[code]

As @FroMage pointed out, the stack should point to the `deleteAll` method in `Dog` entity, not to the one in `PanacheEntityBase`. Did the enhancer run successfully? Are we compiling the right code?

**To Reproduce**

Run

 1. `podman ru

[2020-12-03 15:45] mkouba commented on #13593
It's an easy task from inside ArC, but not so easy from a build step. You can obtain a set of beans (e.g. via `BeanRegistrationPhaseBuildItem.getContext().beans()`) but you'll need to perform the type-safe resolution manually.

I think that I can add something like `BeanStream.resolvesTo(Type type, AnnotationInstance... qualifiers)` but the question is how to handle the unused beans elegantly. In

[2020-12-03 15:48] geoand commented on #13593
So I assume from this conversation that we should hold off working on this until @mkouba has the proper infra in place that we can then use?

[2020-12-03 15:55] aguibert commented on #11035
I'm going to close this issue since there hasn't been any activity for a while. The main thing is to call `row.getLocalDateTime(0)` instead of `row.getString(0)`. For the Vertx reactive drivers if you try to retrieve a row value with an incorrect type, then it will return `null`.

[2020-12-03 15:55] #11035 closed

[2020-12-03 16:12] sberyozkin opened #13676 "Support OIDC `id_token` flow"
**Description**
In some cases the users would like to get hold of the ID token in their SPA before making it available to Quarkus.
**Implementation ideas**
Introduce `IdTokenAuthenticationMechanism` which will handle the redirect from IDP as the form post response:
https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html

The difference between the SPA using for example `keycloak.js` is

[2020-12-03 16:18] #13670 closed

[2020-12-03 16:33] languitar opened #13678 "Using @Embedded with Kotlin results in PropertyNotFoundException exception"
**Describe the bug**

When using Quarkus with Kotlin, Embedding one Entity into another using the `@Embedded` annotation, the application fails to start with a `org.hibernate.PropertyNotFoundException` exception. Here is a code fragment that triggers the issue:

[code]

**Expected behavior**

Things work as documented

**Actual behavior**

The application fails to start with the following exceptio

[2020-12-03 16:34] AlbozDroid commented on #13676
Nice one.

One thing though, the SPA (front-end) doesn't really get hold of the `id_token`, the IdP uses a `form_post` to auto-post the `id-token` to Quarkus.
The only difference from Quarkus' perspective is that Quarkus is getting an `Id-token` directly from the IdP instead of getting a `code`.
This means the last step which exchanges the `code` for the `id-token & access-token` can be skipped.

[2020-12-03 16:35] krisraich opened #13679 "OutgoingKafkaRecordMetadata not workink with SmallRye"
**Describe the bug**

OutgoingKafkaRecordMetadata as described here https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/kafka/kafka.html#_outbound_metadata does not work with an Emitter.

eg:

[code]
When executed, it throws an Error, because the Message<> cant be casted to a String. If fixed, with an Custom Serializer, the topic set in the metadata is ignored.

**Expecte

[2020-12-03 16:49] sberyozkin commented on #13676
@AlbozDroid I don't we'd do it just for the sake of the optimization, the code flow would be preferred. If you don't need this ID token in the SPA then I'm not sure there is much point in this extension

[2020-12-03 16:51] kenfinnigan commented on #13679
Whether using a payload or `Message`, the `Emitter` only refers to the payload type, so I think it's a problem of wrapping.

If you change your emitter to be `Emitter<String>` even when calling `emitter.send(message)` it should work

[2020-12-03 16:55] cescoffier commented on #9947
I need to check., but I believe it's already fixed by https://github.com/smallrye/smallrye-reactive-messaging/pull/801.

[2020-12-03 16:55] sberyozkin commented on #13676
@AlbozDroid

This is not correct - Quarkus would be getting it from the user browser.

[2020-12-03 16:57] cescoffier commented on #13358
@Sgitario do you have a reproducer?

[2020-12-03 16:58] AlbozDroid commented on #13676
I'm not saying to do it just to save the last step.

It's to support the OpenId Connect Protocol, this is the only `flow/response_type` added specifically by the OIDC specs to the existing OAuth2 flows.

The back-end application then can return it to the SPA/Front-end/UI. This would be App-specific behaviour.

[2020-12-03 16:58] #3044 closed

[2020-12-03 17:03] AlbozDroid commented on #13676
Yes, and the `code` comes from the user's browser too. Instead of the `code`, you get the `id_token`.
What's not correct?

[2020-12-03 17:12] pismy opened #13681 "Invalid JSON returned from the default QuarkusErrorHandler (Vert.x)"
**Describe the bug**
Using vertx-http and quarkus-resteasy, if an exception is thrown in a JAX-RS endpoint and no ExceptionMapper catches it gets forwarded to [QuarkusErrorHandler](https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/QuarkusErrorHandler.java).

In case of `application/json` Accept header, the stack does not get

[2020-12-03 17:18] aloubyansky commented on #12486
It's https://github.com/quarkusio/quarkus/commit/71891910bd39e5c806daa18ae82bb4c3de996188 that broke it

[2020-12-03 17:36] cody-pope commented on #7166
@aklemp @dzou I'm running into the exact same issue, and it only happens when the Instana agent is enabled.  Were you guys able to resolve it?

[2020-12-03 17:46] #13622 closed

[2020-12-03 17:49] sberyozkin commented on #13676
@AlbozDroid
Sure what you say is technically correct; but with the code flow we are having a confidential client, the Quarkus endpoint, authenticating with its secret, requesting the id token with the code. if the front channel is compromized then the attacker won't be able to use a a one time only code without a secret - with the ID token in the frontchannel a not carefully protected ID token (no

[2020-12-03 17:54] aklemp commented on #7166
Unfortunately, I didn't find a solution yet. Played around with some of the configuration settings but nothing seemed to help.

[2020-12-03 17:55] #13652 closed

[2020-12-03 18:08] gsmet commented on #13681
@pismy would you like to prepare a PR?

[2020-12-03 18:19] aguibert commented on #13355
@cescoffier I attempted to reproduce this issue on Quarkus 1.10.2.Final and was not able to force any unexpected errors with the scenario you described. Are you still able to reproduce this issue? If so, you can please push up a reproducer so I can take a look?

FYI here is the repo I used for an attempted reproducer: https://github.com/aguibert/basic-quarkus-mvn/tree/quarkus-bug-13355
Different s

[2020-12-03 18:31] gavinking commented on #13593
Well that's the only thing that could possible make sense, it seems to me.

[2020-12-03 18:37] dzou commented on #7166
I'll try my best to help - basically I had the same situation where the build for my application worked locally but failed in the CI.

For me the problem was I had a class in my project which should have been initialized at runtime instead of build-time. See: https://www.graalvm.org/reference-manual/native-image/ClassInitialization/

The runtime vs. build-time initialization concept is important t

[2020-12-03 18:51] AlexandreGuidin commented on #7451
It's wrong use default console logging, and configure console.format like this:

[code]

Logs will be showing like this:
[code]

[2020-12-03 19:28] Postremus opened #13683 "OASFilter is called twice"
**Describe the bug**
I have a custom OASFilter. It gets executed twice, which can be easily seen in the ui.

**Expected behavior**
Each filter should only be executed once for a openapi document.

**Actual behavior**
Filter is executed twice.

**To Reproduce**

Steps to reproduce the behavior:
1. Download the reproducer:
[duplicate-oas-filter.zip](https://github.com/quarkusio/quarkus/files/5638444

[2020-12-03 19:43] ebullient opened #13684 "Micrometer Stackdriver registry support including support for native mode"
quarkiverse-micrometer-stackdriver-registry (?)

**Describe the extension**
This extension will pull together required/related extensions to make support for the micrometer stackdriver registry work in native mode.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
This extension will borrow/reuse `quarkus.micrometer.export.

[2020-12-03 19:47] gsmet commented on #13684
As discussed with @ebullient on Zulip, let's go with `quarkiverse-micrometer-registry-stackdriver` so that we can have others with the same naming convention.

/cc @gastaldi

[2020-12-03 19:56] gsmet commented on #13683
/cc @phillip-kruger

[2020-12-03 19:57] gastaldi commented on #13684
Repository https://github.com/quarkiverse/quarkiverse-micrometer-registry-stackdriver created. I'm assuming @ebullient will lead this?

[2020-12-03 19:57] gsmet commented on #13667
/cc @asoldano we had several reports of similar issues. We suspect a regression in RESTEasy. Could you have a look?

It's pretty serious.

/cc @geoand

[2020-12-03 19:58] gsmet commented on #13667
See https://github.com/quarkusio/quarkus/issues/13539 for the other similar issue.

[2020-12-03 19:59] geoand commented on #13667
It indeed looks similar to the other issue

[2020-12-03 20:02] gastaldi commented on #13684
Invitation sent! @ebullient have fun and let me know if you need any help 😉

[2020-12-03 20:04] #13684 closed

[2020-12-03 20:12] AlbozDroid commented on #13676
Yes, the `Authorization code flow` is more secure, that's why it's the recommended `OIDC flow` for apps that have a back-end.
Thanks for taking this into consideration, the `id_token` with `form_post` is not that bad security-wise :)

[2020-12-03 20:19] AlbozDroid commented on #13676
@sberyozkin  One more thing: Can we have a property named `responseType` to set the flow, with possible values `code` or `id_token` instead of the `application-type` property?

This is sort of a standard way for many frameworks, and it's the same language used in the specs.

[2020-12-03 20:23] panchitoboy commented on #11045
Hi @stuartwdouglas , im writing you because i want to know if we could work together to make this happen. I know that you show interest in the past

#461

In fact, I think that the cucumber integration is not difficult but it needs a lot of quarkus testing knowledge.

Cucumber has already integration with other similary cases (spring, micronaut) and as you can see in the [cucumber documentation](h

[2020-12-03 20:45] famod commented on #13671
@plevart can you please run `mvn -e quarkus:dev` and post the stacktrace? Thanks!

[2020-12-03 20:47] tosix1988 commented on #13667
I am running into the same (or very similar) issue as well. I can actually reproduce with the following simple setup:

Resource class:
[code]

Test class:
[code]

When running on Quarkus 1.9.2.Final, the test passes, but it fails with Quarkus 1.10.2.Final (or any 1.10 version) with the following exception:
[code]

The error message is slightly different, but I think the underlying cause is similar

[2020-12-03 20:51] geoand commented on #13667
@tosix1988 thanks for the analysis.

Would you be able to provide a small reproducer project that contains the code you mention?

[2020-12-03 21:07] tosix1988 commented on #13667
Sure, here you go: [quarkus-rest-formparams.zip](https://github.com/quarkusio/quarkus/files/5638913/quarkus-rest-formparams.zip)

[2020-12-03 21:19] geoand commented on #13667
Excellent 👌

[2020-12-03 21:20] Andro999b commented on #1997
Any plans for this?

[2020-12-03 21:21] plevart commented on #13671
Here's the whole output:

[code]

[2020-12-03 21:29] gsmet commented on #13671
Can you try removing:
[code]
?

[2020-12-03 21:31] #13668 closed

[2020-12-03 21:31] #13672 closed

[2020-12-03 21:31] plevart commented on #13671
So, with just build goal:

[code]

I get the same stack trace:

[code]

[2020-12-03 21:35] gsmet opened #13685 "Hibernate Reactive Panache test failure"
Just got this in a CI run:
[code]

Doesn't look normal to me. I think that's what caused the test failure we see in the CI run.

Details in this run: https://github.com/quarkusio/quarkus/pull/13682/checks?check_run_id=1494907762 .

/cc @gavinking @FroMage @DavideD

[2020-12-03 21:37] gsmet commented on #13685
More details:

[code]

[2020-12-03 21:37] gavinking commented on #13685
I think @Sanne and @FroMage already know about this.

[2020-12-03 21:37] gsmet commented on #13685
Ah OK, it might be related to the PR I just merged then. I'll let @FroMage close this one if it's the same issue.

[2020-12-03 21:41] famod commented on #13671
Yeah, the problem that this workaround doesn't work is that `DevMojo` is triggering the `generate-code` goal when it finds quarkus plugin, but it doesn't check whether the goal is actually defined. See also `DevMojo.executeIfConfigured(...)`.
I think that should be changed. But that's another problem.
/cc @aloubyansky

[2020-12-03 21:45] plevart commented on #13671
Do you have any idea why jvmArgs are ineffective when I execute `mvn compile quarkus:dev`. In that case the program starts, but without jvmArgs applied.

[2020-12-03 21:47] Sanne commented on #13685
well no this is not one of the two issues we solved today. Might be similar though.

[2020-12-03 21:48] famod commented on #13671
Not yet, but it would be helpful if you could post debug output: `mvn -X compile quarkus:dev`
⚠️ This will print _a lot_ so best redirect it to a file. I'm interested in the config summary that is printed at the beginning of the `dev` goal execution.

[2020-12-03 21:49] tisoft commented on #11045
I am currently using this class as a workaround to combine cucumber with QuarkusTest:

[code]

It converts each scenario into a dynamic junit5 test, which is then executed inside the normal QuarkusTest scope. Steps get injected by CDI, so they need to be properly annotated e.g. with @ApplicationScoped. Additionally if run as main class, it behaves as if it would be a cucumber CLI, this allows e.g.

[2020-12-03 21:52] plevart commented on #13671
You probably want the following section:

[code]

[2020-12-03 21:55] plevart commented on #13671
This was executed with the following goals configured:

[code]

If I uncomment the commented goals, I get:

[code]

I don't know it it is same or not.

[2020-12-03 21:56] plevart commented on #13671
I looks like the jvmArgs *are* applied. Hm. Strange that I get SSL exceptions afterwards.

[2020-12-03 22:00] Sanne commented on #13685
OT, but this log also contains a ton of other exceptions of this style:

[code]

I can't think these are expected? Looks dodgy.

[2020-12-03 22:00] famod commented on #13671
It means that the value is mapped properly to the plugin class but there might be a regression in how the value is propagated further into Quarkus.

[2020-12-03 22:02] plevart commented on #13671
I checked if there is any difference when running with 1.10.2 vs 1.9.2:

1.10.2:

`[DEBUG] Launching JVM with command line: /usr/lib/jvm/java-11-openjdk-11.0.9.11-4.fc32.x86_64/bin/java -Xverify:none -Djavax.net.ssl.trustStoreType=JKS -Djavax.net.ssl.trustStore=/home/peter/work/git/btrdkr/target/classes/META-INF/security/cacerts -Djavax.net.ssl.trustStorePassword=changeit -XX:TieredStopAtLevel=1 -

[2020-12-03 22:09] plevart commented on #13671
Still, running only `mvn quarkus:dev` clearly has a problem too. I suspect the following patch has changed behavior:

https://github.com/quarkusio/quarkus/commit/d31f232c0fb6b49e29fe6a13b030504d6a1bbbfe#diff-dbfecb8ead57f5ad197c876b824b224ea62a3711ba4a3d2c0bb07da027aa11d1L369

Previously `configuration()` has been called to obtain configuration for executing generate-code goal from withing dev, af

[2020-12-03 22:15] sberyozkin commented on #13676
@AlbozDroid I'm sorry but I'm not sure what you mean; right now I'm considering to close this issue as there is no practical justification to support a less secure `id_token` flow

[2020-12-03 22:16] Sanne opened #13687 "Unsafe concurrent ClassLoader use"
**Describe the bug**
I've noticed the following exception stack being ignored but logged in a CI test run:

[code]

It would seem that there is no protection in `io.quarkus.bootstrap.classloading.JarClassPathElement` against a concurrent `close()` while an ongoing classloading event being performed.

[2020-12-03 22:18] famod commented on #13671
Well spotted! `configuration()` is basically an empty configuration, so before that change, _no_ change would have been passed to `generate-code`, which isn't correct either.

The thing is that Maven just ignores unknown parameters but the way the DevMojo is invoking other goals internally is obviously not that lenient.

Let's see what @aloubyansky thinks about this.

[2020-12-03 22:22] Sanne commented on #13685
Should I not be concerned about the "OUCH" or the "boom" errors?

[code]

boom:

[code]

Also, I logged #13687 -  that's definitely an issue.

[2020-12-03 22:24] plevart commented on #13671
Well, in fact, I'm using released version 1.10.2 and the code has had further changes since than in that part:

https://github.com/quarkusio/quarkus/commit/d4250ca24adbe991dadc9eb10cacdc176327837a#diff-dbfecb8ead57f5ad197c876b824b224ea62a3711ba4a3d2c0bb07da027aa11d1L422

Perhaps it is already fixed?

[2020-12-03 22:38] famod commented on #13671
I don't think so. The commit you referenced is about merging plugin level configuration with goal level configuration.

But what you could try as a workaround is:
[code]
and then `mvn quarkus:dev@dev`. Yeah I know, really ugly and verbose...

[2020-12-03 22:44] Sanne commented on #13685
So there's several instances of:

[code]
followed by stacktraces which are _pages_ long involving Mutiny, but I couldn't reproduce it locally - not even after reverting @FroMage 's patch.

I hope someone more familiar with Mutiny could have a look and suggest if it's at all reasonable for i to swallow a `StackOverflowError` !? and what could be going on?

[2020-12-04 00:48] radcortez commented on #13227
I'm wondering if we should just add the YAML source to the list of the default sources.

[2020-12-04 05:39] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/399962986

[2020-12-04 06:29] phillip-kruger commented on #13683
Thanks @Postremus - I am looking at this now.

[2020-12-04 06:33] cescoffier commented on #13355
I may likely have been fixed in the meantime.
The application I was using mixed gRPC and Hibernate Reactive.

Let's close this issue and if I see it again, I will provide a reproducer.

[2020-12-04 06:33] #13355 closed

[2020-12-04 07:27] vsevel commented on #13227
@radcortez as yaml configuration looks more and more the standard nowdays, I completely agree.

[2020-12-04 07:28] Sgitario commented on #13358
Hello @cescoffier , I've created a small reproducer. See [this test](https://github.com/Sgitario/beefy-scenarios/blob/baa02201b1b327c0ee9262544e945d34c23d1f31/009-quarkus-infinispan-grpc-kafka/src/test/java/io/quarkus/qe/greeting/GreetingServiceTest.java#L18).

How to reproduce?
- git clone https://github.com/Sgitario/beefy-scenarios
- cd 009-quarkus-infinispan-grpc-kafka
- mvn clean test -Dtest=G

[2020-12-04 07:30] mutasemhidmi commented on #9476
is there a timeline for this feature?

[2020-12-04 07:32] ekarlso opened #13690 "Flyway + OpenTracing configuration"
**Describe the bug**
Is there a smart way to combine in-app flyway migrations when using the OpenTracing instrumentation?

We have a issue with the jdbc:tracing:postgres://.... not being supported in the default datasource url by flyway when the application comes up to migrate the datasource. The examples for both just show them alone and not in combination with each other.

**Expected behavior**

[2020-12-04 07:41] geoand commented on #13667
I will have a look

[2020-12-04 07:48] mbarcikowski commented on #6228
I'm currently work on a quarkus extension, because my microservice use couchbase (version 2.7.16).
It's in WIP, but my microservice is starting and running with couchbase dependency 🚀
I will try to propose a PR

[2020-12-04 07:59] geoand commented on #13667
@gsmet this turns out to be caused by 347015bdd515a8b3c60f20782592bf71343e8fc0 - the fact that we are not including the built in providers means that `ServerFormUrlEncodedProvider` is no longer available.

I am not really familiar with the change in the linked commit, so I'll leave it up to you to decide what to do, but a quick fix would be to register this provider manually.

[2020-12-04 08:33] ntrp opened #13692 "Fail to generate native image"
**Describe the bug**
I am running `mvn package -Pnative` on a demo project and the build fails

**Expected behavior**
The build completes

**Actual behavior**
The build fails with:
[code]
Whit debug:
[code]

**To Reproduce**
Generate project with
[code]
run `mvn package -Pnative`.

With `./mvnw clean install -Dnative -Dnative-image.docker-build=true` give the same problem

**Environment (please co

[2020-12-04 08:45] ntrp commented on #13692
I tried now the getting started project and looks likely to be some outdated pom config in the specific archetype `quarkus-amazon-lambda-http-archetype` since the other one works fine

[2020-12-04 08:47] panchitoboy commented on #11045
@tisoft  Thank your for sharing your idea

I tested in my project and i see that the test are running. But in my case I need to use @InjectSpy and @InjectMock from quarkus, do you have any idea to add this to your example?

Regards,

[2020-12-04 08:48] geoand commented on #13692
cc @patriot1burke

[2020-12-04 08:50] geoand commented on #13687
Thanks @Sanne.

Are you planning on sending a PR for this?

[2020-12-04 09:16] tisoft commented on #11045
Yes. They need to be added into the `DynamicCucumberTest` class. Here is an excerpt of my real class:

[code]

And inside your Step classes you can then mock/verify, but since the mocks in the step classes are CDI injected, you need to fiddle the real object out of the wrapper:

[code]

As you can see, you can use text profiles, test resources, `@InjectMocks`, or manual mocks. `@InjectSpy` should

[2020-12-04 09:21] avdev4j commented on #9801
Hi @albert0815
I'm working on JHipster Quarkus Blueprint and I would like to support the MongoDb option. I can make it works (with panache) but I struggling a bit for migration feature. We initialize the db with such data like users and authorities.

I see you did a POC using Mongock, is this POC is available somewhere on GitHub? What about the Liquibase extension, have you tested it?

I'm working

[2020-12-04 09:33] pismy commented on #13681
Sure

[2020-12-04 09:51] Sanne commented on #13687
I can try for the fun of it :)
but I'll need to cap my time on this, don't expect extensive stress testing

[2020-12-04 09:58] geoand commented on #13687
Yeah, I don't, as this CL is used for dev-mode, so I don't think stress-testing makes much sense :)

[2020-12-04 10:15] #13258 closed

[2020-12-04 10:22] krisraich commented on #13679
Yes that would work, but than i can't pass the topic or message key to the kafka-producer.

[2020-12-04 12:08] sberyozkin commented on #11695
@geoandri Hi, I've missed it, sorry. I think all this issue is about to to make sure that that `setTestIdentity` methid accepts a `Secutiyidentity` instance with its `Principal` being a `JsonWebToken` instance created as required by `TestSecurity` annotation

[2020-12-04 12:52] jtama-op commented on #13664
From the way the kafka-stream extension works, configuration entries picked must begin with `quarkus.`
You should try :
[code]
I think it would work bet if indeed you are using the kafka-streams extension.

[2020-12-04 12:53] languitar commented on #13678
Seems this is a general bug in Hibernate. I ended up with the exact same situation when porting the code to spring boot. Thus, I opened an issue in the Hibernate bug tracker: https://hibernate.atlassian.net/browse/HHH-14359

[2020-12-04 12:57] kenfinnigan commented on #13679
@krisraich All you need to do in your above code sample is change it to use `Emitter<String>`.

The content of the `send()` method will still work. `Emitter` has overloaded send methods for the payload variant, in this case, a String, or for a `Message`.

[2020-12-04 13:03] gsmet commented on #13667
@geoand hmmm, this was a hidden issue then. Because this patch doesn't really change the behavior we had before IF the `@Produces` and `@Consumes` annotations were properly defined.

[2020-12-04 13:07] gsmet commented on #13667
Yeah and I see the example doesn't set the `@Produces` annotation for a `@POST` so it was indeed including all the providers before JSON becoming the default.

There's a good chance you can reproduce it with 1.9 if you define the `@Produces` annotation to JSON.

The big issue is that `ServerFormUrlEncodedProvider` should be available considering the `@Consumes`.

I'll have a look.

[2020-12-04 13:19] gsmet commented on #13667
The issue is that these providers are registered manually in RESTEasy instead of being registered via the service files.

See `ResteasyDeploymentImpl`:
[code]

Thus they are not part of the providers list we categorize in Quarkus.

[2020-12-04 13:27] galderz opened #13702 "Random Gradle build error when building Quarkus"
I've seen this happen several times now and it's very odd. When I reboot my machine, the Quarkus Gradle plugin fails to build, complaining with the following:

[code]

See [longer](https://gist.github.com/galderz/47c1d087263ba45847cb1263228e70d7).

When I look at the `~/.m2/repository/org/jboss/spec/javax/annotation/jboss-annotations-api_1.2_spec/1.0.2.Final` directory, I see only this:

[code]

I

[2020-12-04 13:34] cescoffier commented on #13358
Oh, yes! I'm working on activating the request context automatically. I need to restart working on this.

[2020-12-04 13:41] gsmet commented on #13431
@xpete I just stumbed upon this: `@ConstrainedTo(RuntimeType.SERVER)` that you can use on a provider.

Could you have a look if it fixes your issue? If so I will document it properly.

[2020-12-04 13:50] glefloch commented on #13702
I used to see this error when working on the Release test build job.
A sample gradle project used in `integration-test`. I fixed the issue by removing that dependency..

Also, I had nothing in the `_remote.repositories` file, I'm not a maven expert and I don't know if this is a problem..

[2020-12-04 13:54] AlbozDroid opened #13703 "Quarkus 1.10.2.final issue with SSL config"
**Describe the bug**
A Quarkus web app that has configured SSL (keystore, password) would not build in developer mode with the latest Quarkus.
This used to work fine in Quarkus 1.9.2.final.

**Expected behavior**
Application to start normally

**Actual behavior**
The application throws this error:
[code]
There is NO other application running in that port.

**To Reproduce**
1. configure the followi

[2020-12-04 13:56] gsmet commented on #13667
https://github.com/quarkusio/quarkus/pull/13704 should help.

[2020-12-04 13:56] gsmet commented on #13539
Maybe https://github.com/quarkusio/quarkus/pull/13704 will help but I'm not sure given I don't have any reproducer.

[2020-12-04 13:59] gsmet commented on #13453
I wonder if we should force the providers to be added when we add an extension such as `resteasy-jaxb`.

Why would you add it if you didn't want the providers around?

[2020-12-04 14:37] avdev4j commented on #12514
Hi,
I confirm, this error is still present with the latest Quarkus version (1.10.2). Do we have some news about why this happen?

This is a blocking bug for using MongoDb in a Quarkus application. Put all classes in the same package is a workaround but we can't imagine this solution for real projects.

Thanks

[2020-12-04 14:37] Sabartius opened #13705 "TestSecurity(@RolesAllowed): returning Bad Request instead of Forbidden"
**Describe the bug**
when configuring Roles for Rest-Resources there are two ways: @RolesAllowed-Annotation and in application.properties
when using the application.properties all requests with wrong roles (even with wrong body) return 403(Forbidden).

But when using @RolesAllowed-Annotation requests with wrong roles return 400 BadRequest instead of 403.
The Json gets evaluated even bevor the role

[2020-12-04 14:42] #13687 closed

[2020-12-04 14:48] zakkak commented on #13567
I tested the code examples from https://github.com/graalvm/mandrel/issues/180#issuecomment-734873511 with GraalVM 20.2 as well and they don't work there either. So I think that this specific issue is not related to the 20.3 upgrade and doesn't need to be resolved for Quarkus to move to upgrade to 20.3.

[2020-12-04 15:16] gsmet commented on #13703
So first, we need to fine tune the message introduced in https://github.com/quarkusio/quarkus/pull/12683 because the bind exception could also be due to the SSL port not being available.

Now I can't reproduce this on Linux:
- I have a permission denied exception if using 443 and not root, which is expected
- if I change the port back to the default 8443, the app starts OK

I have the exact same b

[2020-12-04 15:21] jerboaa commented on #13567
Thanks for testing it, @zakkak. I would have been surprised if it was any other way.

[2020-12-04 15:21] aloubyansky commented on #13671
@plevart thanks for reporting the issue. Is there a chance you can give https://github.com/quarkusio/quarkus/pull/13701 a try? Just to make sure it solves all the issues in your app. Thanks.

[2020-12-04 15:30] #13681 closed

[2020-12-04 16:17] yrodiere commented on #12026
I think this might be the reason :)

[code]

I'll have a closer look.

[2020-12-04 16:26] joggeli34 opened #13711 "IDE Launcher fails for gradle project containing a submodule without resources"
**Describe the bug**
We have a gradle project with some submodules. Some submodules have an empty resource folder.
When starting the main method directly from the Intellij, we receive a null pointer exception.

[code]

**Expected behavior**
Empty resource directories should probably be ignored.

**To Reproduce**
[submodule-no-resources.zip](https://github.com/quarkusio/quarkus/files/5643966/submod

[2020-12-04 16:54] glefloch commented on #13711
thanks for reporting this @joggeli34, I think we handle this case in the gradle plugin, I can remember of an issue on this.

[2020-12-04 17:16] michalszynkiewicz commented on #12691
In @pilhuhn 's project, the problem seems to occur only if the `RbacFilter` (a `ContainerRequestFilter`) is injecting a rest client impelmentation.
Digging deeper :pick:

[2020-12-04 17:34] gsmet commented on #13703
@cescoffier so no need to do anything, we figured it out.

Actions:
* also point to the SSL port in the message is SSL is enabled
* clarify why the keystore is not taken into account

[2020-12-04 17:38] gsmet commented on #13690
@ekarlso could you prepare a reproducer (i.e. a small Maven project reproducing the issue)? Thanks!

[2020-12-04 17:43] plevart commented on #13671
I found out what was wrong with that SSL client configuration. On quarkus 1.9.2, the following plugin configuration:

[code]

...gets propagated to JVM as 3 separate arguments (delimited with spaces) so this defined 3 system properties, while on Quarkus 1.10.2, it gets propagated as a single argument, so only one system property gets defined with:

[code]

No wonder that such SSL client configurat

[2020-12-04 17:47] famod commented on #13671
@plevart So are you saying that there seems to be a bug in Quarkus 1.10 jvmArgs parsing logic?
In that case, can you please create another issue? Thanks!

Or did you somehow fix it yourself?

[2020-12-04 17:50] gsmet commented on #13671
I don't think we need another issue. Let's keep this one open, it has all the context.

[2020-12-04 17:50] plevart commented on #13671
No, I didn't fix it. I tried specifying as as:

[code]

Put it is not supported: `Basic element 'jvmArgs' must not contain child elements`

Will create another issue. So while I could try https://github.com/quarkusio/quarkus/pull/13701, I couldn't specify my arguments because I have 3 and it would only work with one correctly.

[2020-12-04 17:58] gsmet commented on #13671
@plevart can you try with https://github.com/quarkusio/quarkus/pull/13713 ?

[2020-12-04 18:33] joggeli34 opened #13714 "Apply OASFilter at runtime to modify security schemes in openapi"
**Description**
Sometimes, some values in the openapi files must be adjusted at runtime to have a correctly working api description. For example, the security scheme changes for each deployment.

Therefore it would be great if the OASFilters can be applied at runtime (when first hitting the /openapi endpoint or at startup)

Example code for changing the security scheme:
[code]

And in the applicat

[2020-12-04 18:43] phillip-kruger commented on #13714
Hi @joggeli34 - What version of Quarkus are you using ?

[2020-12-04 18:46] joggeli34 commented on #13714
Hi @phillip-kruger  I'm currently using 1.10.2

[2020-12-04 18:52] phillip-kruger commented on #13714
Ok, I would have thought that it works then. We moved the filter to runtime a while back. (We left it in complile time too, and that caused https://github.com/quarkusio/quarkus/issues/13683 - but I am fixing that as we speak).

can you create a small project that recreate the issue ? that will help to get a fix in quicker.

Thanks :)

[2020-12-04 18:56] phillip-kruger commented on #13683
What happend here is that we moved the filter to runtime, to allow people to do dynamic filtering based on runtime config, but never removed the compile time filter, so the filter now gets called twice. #13715 fixes that.

[2020-12-04 18:57] joggeli34 commented on #13714
I checked again, and I mixed something up with mp.openapi.model.reader and the filter as I was testing both. Then I was confused by the compile time call too.

So it works as it should. I apologize for the circumstances.

[2020-12-04 18:57] #13714 closed

[2020-12-04 18:57] phillip-kruger commented on #13615
This is now fixed in #13715

[2020-12-04 18:57] #13638 closed

[2020-12-04 19:20] gsmet opened #13716 "Reflective access warning in Qute"
We have these warnings in the build logs:

[code]

[2020-12-04 19:39] krisraich commented on #13679
Your right, didn't see that. Sorry for the inconvenience.

[2020-12-04 19:39] #13679 closed

[2020-12-04 20:06] #13612 closed

[2020-12-04 20:35] xpete commented on #13431
@gsmet It works. Thanks!

[2020-12-04 20:37] evanchooly commented on #10571
updated the generics definitions so this is no longer an issue

[2020-12-04 20:37] #10571 closed

[2020-12-04 22:50] nicklynberg commented on #13574
Thank you for the replies.  I ripped out the code that was using Jedis for a quick test (converting to quarkus-redis-client was actually going to be somewhat involved), and it did result in some progress.  The errors about `Detected a MBean server in the image heap` and `Error: type is not available in this platform: org.graalvm.compiler.hotspot.management.AggregatedMemoryPoolBean` are now gone.

[2020-12-05 03:05] ncioj10 opened #13719 "Qute: Not able to access data variables in object"
**Describe the bug**
I have a data class that needs to insert its own data into a template.
It seems that it is not possible to Inject Templates or access data variables within the same class that is passed as data context.
Only Reflection loading seems to work.

**Expected behavior**
Template gets injected by name and object values can be accessed.

**Actual behavior**
Attributes of the data obje

[2020-12-05 03:11] kenfinnigan commented on #13679
No problem, glad it's working

[2020-12-05 09:44] mkouba commented on #13719
This is not a bug. You create a new `Engine` instance in the `org.acme.qute.Item.testString()` method and this engine has no value resolver registered. You should use the `Engine` provided by quarkus (i.e. `@Inject Engine`).

Furhtermore, injection does not work if you instantiate an object yourself, e.g. the `new Item()` in your code. Injection only works for instances managed by the container. S

[2020-12-05 11:57] machi1990 commented on #13574
Great news.

Have you tried to register `org.joda.time.Interval` for reflection too? Most likely, I think it has been detected as dead code and hence eliminated during native compilation.  If you do that and ran into similar issues, [GraalVM native image agent](https://medium.com/graalvm/introducing-the-tracing-agent-simplifying-graalvm-native-image-configuration-c3b56c486271) to help you with the

[2020-12-05 12:36] ncioj10 commented on #13719
Hi,
thank you for your quick reply!
We currently have a Spring Boot Service (we can't port it to quarkus just yet) which receives input via GRPC, the Input is then converted to Java POJO Objects and mapped to database via Hibernate (so the POJO objects are not CDI managed).
On the POJO we want to have a `createText()` method, that uses the variables of the object itself and injects them as context

[2020-12-05 15:50] #13671 closed

[2020-12-05 16:41] ge0ffrey commented on #6588
`Error:  Failed to execute goal org.apache.maven.plugins:maven-failsafe-plugin:3.0.0-M5:verify (default) on project kafka-streams-quickstart-aggregator: There are test failures.`

[2020-12-05 19:10] mostafacs opened #13722 "Error on quarkus:dev after upgrade to 1.10.2.Final only with multiple persistence units"
After upgrading my project to quarkus 1.10.2.Final. I got an exception while running `mvn quarkus:dev`
I'm sure the issue because multiple persistence units configured in my project.

**StackTrace**
[code]

**To Reproduce**
I can reproduce the issue easily by defining multiple persistence units in a new standalone project.

**Configuration**
[code]

[2020-12-05 22:09] gsmet commented on #13722
Any chance you could prepare a reproducer? A simple Maven project reproducing the issue would be really useful.

[2020-12-05 22:10] gsmet commented on #13722
Hmmm, no need, I think I know what's going on.

[2020-12-05 22:14] #13615 closed

[2020-12-05 22:14] #13683 closed

[2020-12-06 10:41] tpenakov opened #13723 "Quarkus AWS Lambda - ConfigProperty annotation is not working"
**Describe the bug**

* Create a Quarkus project from here: https://code.quarkus.io/
* Select only AWS Lambda and Jackson extension.
* Add to the `application.properties`
[code]
* Add the following to the GreetingsLammbda.java
[code]
* Try to build the project with `mvn clean package`

**Expected behavior**
Project is compiled successfully and the tests are executed.

**Actual behavior**
Build fai

[2020-12-06 11:27] Meemaw opened #13724 "CDI Injection error in Multi Module Gradle Test task on 1.10.2Final"
**Describe the bug**
I'm facing a weird CDI injection error in Gradle Test task after upgrading to `1.10.2Final`. Previously `1.6.1Final` was used where such error was not thrown. Error seems related to a bean that is coming through a dependency of `testImplementation project` and does not make much sense. I've also tried to include that module directly without luck. In any case that bean should n

[2020-12-06 12:24] raffaelespazzoli commented on #1218
I also think that this feature would be very useful. Not just passing an argument at command line, but also via environment variable (which are easier to manage in containers).
I tried to pass the `APPLICATION_PROPERTIES` environment variable as suggested by the code, but it does not seem to have any effects.

[2020-12-06 12:57] gsmet commented on #13724
Since 1.8, the reactive SQL client pools are not created by default. They need to be configured through the unified datasource configuration introduced in 1.3.

See for an introduction: https://quarkus.io/guides/datasource#reactive-datasource .

Let me know if it doesn't solve your issue.

[2020-12-06 14:40] Meemaw commented on #13724
@gsmet Ahh thanks! I have been hit with this one for the 2. time now. Fixed by adding just 1 line:
[code]

It's a bit weird that this would prevent server to start, since `datasource` is not actually used in the module but is included just as a `test` dependency. Not sure if this could be detected and improved? Also error is not very helpful and could perhaps be improved? Feel free to close if not

[2020-12-06 15:56] SaumyaSingh1 commented on #12521
Hey @loicmathieu , so the test has been added that ensures maven section is present for guides (extensions introduction)?

[2020-12-06 15:58] SaumyaSingh1 commented on #12521
If not then I would like to work on improving the extensions guides introduction .

[2020-12-06 16:10] SaumyaSingh1 commented on #12521
@loicmathieu I realized some of the extension guide are not following above schema you mentioned.
![image](https://user-images.githubusercontent.com/46818757/101285526-afca5280-380b-11eb-9321-92172fe7e93e.png)

[2020-12-06 17:06] cescoffier commented on #11501
@tsegismont Did you look into this one?

[2020-12-06 17:06] cescoffier commented on #12358
Was fixed by SmallRye Reactive Messaging 2.5.0 (In Quarkus 1.10)

[2020-12-06 17:06] #12358 closed

[2020-12-06 19:02] gsmet commented on #13722
@mostafacs thanks for the detailed report. I created https://github.com/quarkusio/quarkus/pull/13727 .

It should be fixed in the upcoming 1.10.3.

[2020-12-06 20:16] cescoffier commented on #13664
I've reproduced the issue.
It's the admin client (for health check) that don't get the right retry amount.
In the meantime, disable the health check or just the readiness health check:

[code]

[2020-12-06 23:22] mostafacs commented on #13722
@gsmet Great, thanks.

[2020-12-07 05:28] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/405036001

[2020-12-07 05:38] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/405037248

[2020-12-07 06:32] cescoffier commented on #13664
Actually, it won't be enough. The underlying Kafka consumer always attempt to reconnect.

[2020-12-07 06:34] cescoffier commented on #13664
We woulld need https://cwiki.apache.org/confluence/display/KAFKA/KIP-53+-+Add+custom+policies+for+reconnect+attempts+to+NetworkdClient which is not yet integrated.

[2020-12-07 07:50] mkouba commented on #13719
`Engine.builder().addDefaults().addValueResolver(new ReflectionValueResolver()).build()`. Note that the `ReflectionValueResolver` is considered a fallback and something that is not recommended for idiomatic qute apps.

The problem with manually created `Engine` is that most of the quarkus-specific stuff will not work (e.g. template validation).

Yes, that would work. However, keep in mind that if

[2020-12-07 07:51] geoandri commented on #11695
Hi @sberyozkin,

thanks for your help. I have submitted a PR.

[2020-12-07 08:01] geoand commented on #13617
For reference, he is how Spring Cloud handles this use case: https://github.com/spring-cloud/spring-cloud-bindings/tree/main/src/main/java/org/springframework/cloud/bindings/boot

[2020-12-07 08:18] loicmathieu commented on #12521
@SaumyaSingh1 no test has been added and nothing has been done for this issue.

The situation is a little more complex as not all guides follow the same semantic, and not all extensions have quickstarts. And sometimes one guide has multiple quickstarts and some other didn't have one for a good reason.

You pointed out some guides that have not the good schema, you can update them if you want, this

[2020-12-07 08:34] #13592 closed

[2020-12-07 08:40] FroMage commented on #13685
No, I don't know about this. How can I reproduce? Given the stack trace it looks like either an infinite recursion in Mutiny (@cescoffier @jponge ) or perhaps one area where either HR or the Panache layer forgot to trampoline, no @gavinking ?

[2020-12-07 08:44] #13636 closed

[2020-12-07 08:56] tsegismont commented on #11501
No. It is possible to insert when using a Vert.x `JsonObject` instead of `String`. I'm busy with Vert.x 4 release for now, but I can come back to this later this week.

[2020-12-07 09:07] jponge commented on #13685
A narrow reproducer would help 👍

[2020-12-07 09:53] jerboaa commented on #13517
@rsvoboda @zakkak This doesn't make sense to me. Why would one need to install `objcopy` on the host system for a container-based-native-image-build? For a native-image generation using the Linux container quoted above, Quarkus should be using `objcopy` from the container. The container has it installed. Why the failure then?

[code]

[2020-12-07 10:02] jerboaa commented on #13517
If it's actually using the host system, this is a bug. It should be using the container instead. It might entail calling the container a second time after the native-image build for stripping debug symbols using `docker run -v <host-path>:/project:z ... --entrypoint /bin/objcopy <objcopy-args>`

[2020-12-07 10:03] SaumyaSingh1 commented on #12521
@loicmathieu I completely agree that not all guides follow same semantic.

As of now I am going to manually prepare a list of the quickstarts that are missing in the guide.

Like **amqp Quickstart** is not in the guide ( though " **_AMQP with Reactive messaging_**" topic is present there)🤔
![image](https://user-images.githubusercontent.com/46818757/101337289-77755380-38a1-11eb-9b34-1a7ee89cbae1.pn

[2020-12-07 10:04] #13722 closed

[2020-12-07 10:04] SaumyaSingh1 commented on #12521
@loicmathieu once done with manual checking, then will start adding the missing quick-start in the guide 🎉

[2020-12-07 10:14] bollerdominik opened #13730 "Quarkus Micrometer not publishing Agroal metrics"
**Describe the bug**
Using Quarkus Micrometer all the Agroal metrics such as `agroal_acquire_count_total` are always 0. Using the same setup but with `quarkus-smallrye-metrics` instead of `quarkus-micrometer` the metrics are published correctly.

**To Reproduce**

pom.xml

        <dependency>
            <groupId>io.quarkus</groupId>
            <artifactId>quarkus-hibernate-orm</artifactId>

[2020-12-07 10:16] gsmet opened #13731 "Take into account PartType in RESTEasy's provider detection"
When working with multipart, `org.jboss.resteasy.annotations.providers.multipart.PartType` can reference other media types and might require additional providers to be registered.

At the moment, we totally ignore it.

This is more important with JSON being the default as a lot of users didn't properly registered the Consumes/Produces and thus all the providers were registered. Now that we only re

[2020-12-07 10:25] geoand commented on #13617
I went through the Spring Cloud code and the specification and it seems to me that from the spec the only part we care about is: https://github.com/k8s-service-bindings/spec#application-projection.

Here is what I propose we do to implement this:

* Create a new extension  (something like `quarkus-kubernetes-service-binding`) which will hook into Quarkus' bootstrap config (we want bootstrap config

[2020-12-07 10:44] machi1990 commented on #13617
Exactly what I had in mind. I'd would be willing to help wherever my help will be needed.

[2020-12-07 10:44] geoand commented on #13617
@machi1990 thanks! I'll let you know :)

[2020-12-07 11:08] radcortez commented on #13617
Sure, go ahead. Also have a look into this:
https://github.com/smallrye/smallrye-config/tree/master/examples/configmap

And:
https://github.com/smallrye/smallrye-config/blob/master/implementation/src/main/java/io/smallrye/config/ConfigSourceFactory.java

Ideally, I would prefer to have this implemented in SR Config side and then integrated in Quarkus.

[2020-12-07 11:13] geoand commented on #13617
OK, I'll start a PoC in Quarkus itself (as it will be faster to see the whole picture) and then we discuss it and move the proper parts to SR Config.

[2020-12-07 11:25] hakdogan opened #13733 "NoClassDefFound error for PolicyContextException at native compilation time of entity-less app"
I have a simple application that listens to a Kafka topic and writes to another topic. It is `QuarkusApplication` and has `hibernate-orm` dependency.

One of the app's dependencies includes the entity the app uses and the dependency has `bean.xml`.

I got `NoClassDefFoundError` exception for `javax/security/jacc/PolicyContextException` at native complation time.

After that, I added the `javax.sec

[2020-12-07 11:27] gsmet commented on #13724
@Meemaw the stacktrace says the pool is needed here: `com.meemaw.shared.sql.client.pg.TracedPgPool#pgPool`.

[2020-12-07 11:34] paschm commented on #13273
This even seems to be an issue in the spec

https://github.com/eclipse-ee4j/jpa-api/issues/162

The workaround

`Unwrapping and calling getOutputs().release() work as a workaround.`

works. The tracked statement is released, before the connection is closed and the leakage warning disappears.

` WARN  [io.agr.pool] (executor-thread-1) Datasource '<default>': Closing open connection prior to commit`

[2020-12-07 11:56] rsvoboda commented on #13517
https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java#L710 ... system based `objcopy` is invoked

 => this is a bug

Thanks for second eyes on this