[2019-09-18 19:54] maxandersen opened #4095 "On Windows in native mode detect proper color handling"
**Description**
In #1029 we avoided the windows ansi mess by disabling it by default on windows and not in known detectable ansi terminal. The only reason we didn't handle it better is that to do so we need to use native apis.

native apis to differentiate between wether content is being piped or not. Java cannot do that alone.
native apis to use setConsoleMode to activate the ansi capable feature

[2019-09-18 20:02] maxandersen commented on #1029
This is now improved in #4076 so on windows default cmd.exe/powershell won't enable colors.
You can also now force control the use of color using `-Dquarkus.log.console.color=<true|false>`.

In #4095 we'll see if we can at least in native mode be better by activating windows 10 built-in support for ansi terminals

[2019-09-18 20:05] #1029 closed

[2019-09-18 20:39] kenfinnigan opened #4097 "Better Error messages for invalid REST Client interface"
**Description**
If I define a REST Client interface but forget to add the HTTP verb annotation, an exception is received that the method doesn't exist. It's not very intuitive as to what the issue is.

**Implementation ideas**
Provide a more meaningful error message when HTTP verb annotations are missing from an interface with `@RegisterRestClient` present.

[2019-09-18 20:55] emmanuelbernard opened #4099 "Write down exception stack in reverse order in 500 error page"
Play had a nice feature where they showed the most nested cause exception text and stack first and then moved up the chain.
A lot of time, you want to see the nested one which has the most context.

[2019-09-18 21:22] gastaldi opened #4100 "java.lang.IllegalStateException: Shutdown in progress exception while destroying Quarkus app"
**Describe the bug**
When CTRL+C'ing a Quarkus app, the following stacktrace appears in the console:

[code]
**Expected behavior**
No stacktrace

**Actual behavior**
Shows stacktrace

**To Reproduce**
Steps to reproduce the behavior:
1. Any Quarkus app running latest master
2. Press Ctrl +C
3. Stacktrace is shown

**Environment (please complete the following information):**
 - Output of `uname -a`

[2019-09-18 22:29] maxandersen commented on #4095
After lots of fun figuring out how to build native-image on windows I hit https://github.com/oracle/graal/issues/1675 making it impossible to know what errors I got in native code on windows. So putting this on hold until found a way around that (probably need new graalvm release)

[2019-09-18 23:20] #4100 closed

[2019-09-18 23:21] #4094 closed

[2019-09-19 00:51] hguerrero commented on #4081
This is JVM mode, I haven't tried native.

[2019-09-19 04:39] masini commented on #3666
We dependes on Undertow Handlers, there is an alternative way to configure them (or something with the same feature) in this redesign?

Some handlers we depends on:

access-log
path-template --> request-limit
path-template --> stuck-thread-detection

[2019-09-19 04:53] hantsy opened #4104 "Add Custom Interface Support in Spring Data JPA"
In original Spring Data JPA, it supports custom interface to extend the standard interface.

Inherit custom PostRepository.

[code]
Define a custom interface.

[code]
Implements the custom interface.

[code]

In your codes, just call it from `PostRepository` directly.

[code]

[2019-09-19 05:49] stuartwdouglas commented on #3666
These will still work as normal if you are using Servlet. Longer term we will aim to provide similar functionality in the vert.x layer.

[2019-09-19 06:23] FreifeldRoyi commented on #4090
[code]

[2019-09-19 06:34] manovotn opened #4105 "Arc - fully move testing to Junit5"
As mentioned in #3607, we should drop Junit4 and fully replace that with Junit5.
This entails rewriting Junit4 `@Rule` `ArcTestContainer` into a Junit5 extension and then rewriting all tests.

[2019-09-19 06:35] manovotn commented on #3607
If you mean completely drop, then we'd need to rewrite `ArcTestContainer` into junit5 extension and then obviously rewrite all the tests.
Since you so nicely volunteered me, I've already assigned #4105 to myself

[2019-09-19 06:50] jmartisk opened #4106 "Reactive Messaging - Handle inheritance of mediators"

[2019-09-19 07:55] geoand commented on #4056
This was fixed in #4098

[2019-09-19 07:55] #4056 closed

[2019-09-19 07:59] geoand commented on #4041
@hantsy FYI, the issue you encountered with not being able to return `ResponseEntity<Page<Customer>>` has now been fixed on `master`

[2019-09-19 08:15] geoand commented on #4038
Prerequisite Quarkus - native work is being done at #4075

[2019-09-19 08:18] masini commented on #3666
I use only JAX-RS services, they are mounted as servlets so this should works as expected.

[2019-09-19 08:41] ia3andy opened #4108 "Allow mvn create-extension outside of quarkus"
**Description**
In the guide, https://quarkus.io/guides/extension-authors-guide, the extension dev happen directly in Quarkus. When I try to use the maven `create-extension`, I get "Creating standalone extension projects is not supported yet. Only adding modules under and existing pom.xml file is supported. -> [Help 1]"

I think the plugin (and the guide) should allow (demonstrate) creating an ext

[2019-09-19 08:47] FroMage commented on #4099
Didn't know of this feature, but yeah, it's nice.

[2019-09-19 09:25] jaikiran commented on #4099
@emmanuelbernard Does this look like what you had in mind https://github.com/quarkusio/quarkus/pull/4109?

[2019-09-19 10:01] jmartisk opened #4110 "Clean up dependency version overrides in MP Metrics TCK"
https://github.com/quarkusio/quarkus/blob/a79287cef3424777009edc8c98db91134411459d/tcks/microprofile-metrics/api/pom.xml#L57
https://github.com/quarkusio/quarkus/blob/a79287cef3424777009edc8c98db91134411459d/tcks/microprofile-metrics/rest/pom.xml#L61

If possible we should get rid of them

[2019-09-19 11:30] bamling commented on #3166
Any idea when a solution for this will be introduced? We're currently experimenting with Quarkus and would like to end up using it in production, but we require (if possible, easily configured) JSON logging for our ELK stack.

[2019-09-19 11:35] gsmet commented on #3166
We have preliminary work here: https://github.com/quarkusio/quarkus/pull/2348 .

But it needs to be moved to a separate extension to avoid having the JSON dependency in our core artifacts.

It's typically something a new contributor should be able to do. Would you be interested? I can provide some guidance along the way.

[2019-09-19 11:39] gsmet commented on #3166
@dmlloyd I was thinking a bit more about https://github.com/quarkusio/quarkus/pull/2348 and I wonder if we should just merge it and add instructions about how you should explicitely add the `quarkus-jsonp` extension if you want to use JSON log formatting.

It doesn't look so bad to me. What do you think?

[2019-09-19 11:56] sberyozkin commented on #3064
@stuartwdouglas FYI

[2019-09-19 12:07] geoand commented on #4041
Note for future implementation:

This could probably be implemented as follows:

* Update RESTEasy to use `Parameter.ParamType.CONTEXT` for known Spring Data types
* Since RESTEasy should not depend on Spring Data in any way, the `ContextResolver` needed to inject the property into the controller method should be generated by either the Spring Web or Spring Data JPA extensions (conditionally of co

[2019-09-19 12:40] asoldano commented on #4069
https://docs.jboss.org/resteasy/docs/4.3.0.Final/userguide/html/JAX-RS_Resource_Locators_and_Sub_Resources.html

[2019-09-19 13:11] manovotn commented on #3607
@mkouba @rsvoboda here is the Arc PR - https://github.com/quarkusio/quarkus/pull/4112

[2019-09-19 13:11] masini commented on #3666
Thank you, I'll check it out on the master branch soon and let you know.

Il giorno gio 19 set 2019 alle ore 07:49 Stuart Douglas <
notifications@github.com> ha scritto:

--
****************************************
http://www.lucamasini.net
http://twitter.com/lmasini
http://www.linkedin.com/pub/luca-masini/7/10/2b9
****************************************

[2019-09-19 13:21] rsvoboda commented on #3607
you are quick!

[2019-09-19 13:31] dmlloyd commented on #3166
TBH I think it wouldn't be too much more work to do it "right": basically add a multi build item for extra handlers (to support custom logging targets), and a single build item for the console format which the log processor can optionally consume.  If the format item is present, the configured format is ignored and the injected formatter is used.

This wouldn't be much more work than just rebasing

[2019-09-19 13:36] dmlloyd commented on #4064
Not date offset: rather, record the dates for each file and compare to see if they've changed (in any way).  Don't do arithmetic of any kind on filesystem dates/timestamps *or* dates/timestamps returned by the JVM - such operations are inherently unreliable in the face of DST, NTP, human error, etc.  Just see if it's different or not different than it was before.

[2019-09-19 14:45] gsmet opened #4113 "Properly manage the order of Vert.x filters"
Right now, the Vert.x filters are added in a totally unordered way.

This definitely won't work: we need to be able to order them properly.

@cescoffier I'm assigning this one to you for 0.24.0. It will definitely be needed for security + cors.

[2019-09-19 14:48] VBorikic opened #4114 "Support for @Conditional Spring annotation"
**Description**
I would like Quarkus to have support for @Condtional annotation. This would allow optional Bean initialization, when some conditions are met.

At the moment, `@Conditional` annotation is not recognized by Quarkus, my defined condition is not evaluated at all

[2019-09-19 14:54] geoand commented on #4114
Hi @VBorikic,

The trouble with `@Conditional` is that with a general `@Conditional` there could certainly be conditions that don't fit the everything evaluated at build time view of the world that Quarkus takes.

Would you like to elaborate on which specific `@Conditional` derivatives you would like to see and explain your use cases a little more?

Thanks

[2019-09-19 15:30] ppalaga opened #4115 "Make vertx-web handleFileUploads, uploadsDirectory, bodyLimit. etc. configurable"
The proposed options translate to the fields of `io.vertx.ext.web.handler.impl.BodyHandlerImpl`. I am primarily interested in the `uploadsDirectory` because when running integration tests, the default directory `file-uploads` is created under the root directory of the current Maven project instead of under `target`.

**Implementation ideas**

It seems to be easy to implement in `io.quarkus.vertx.w

[2019-09-19 15:41] gastaldi commented on #4115
I think it would make sense to add to `HttpConfiguration` as a new set of properties.

[2019-09-19 15:43] gastaldi commented on #4115
And it looks like those options could be set here: https://github.com/quarkusio/quarkus/blob/5b5907093e56f38e964eb5d7d3e42df8694bcece/extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java#L87

[2019-09-19 15:52] ppalaga commented on #4115
Thanks @gastaldi . I can prepare a patch. Feel free to assign to me.

[2019-09-19 15:57] machi1990 commented on #4115
I think body limit is currently supported. See:

 https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java#L81-L87

And
https://github.com/quarkusio/quarkus/blob/master/extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java#L319-L323

for the undertow part.

[2019-09-19 16:01] cescoffier commented on #4113
Great, thanks @gsmet. I will add this feature next week. I will be able to discuss with Stuart next week, do we sure to set up our filters "order" correctly.

[2019-09-19 18:25] gastaldi commented on #4013
Since https://github.com/quarkusio/quarkus/pull/4043 was merged I think this issue can be closed?

[2019-09-19 18:26] gastaldi commented on #4013
Also worth adding a `noteworthy` label on it ;)

[2019-09-19 18:27] gastaldi commented on #3526
https://github.com/quarkusio/quarkus/pull/4043 was merged, this issue can be closed

[2019-09-19 18:29] #3526 closed

[2019-09-19 18:36] gastaldi commented on #4069
The above link seems to answer the question:

[2019-09-19 19:04] rkraneis commented on #3985
In the meantime, something like this could help:
https://github.com/quarkusio/quarkus/issues/1847 (additionally registering SentryHandler and configuring the `ConsoleHandler` with `PatternFormatter` as is done in https://github.com/quarkusio/quarkus/blob/6cb8707e56b16100e2ec27b67f975da3237eeb6a/core/runtime/src/main/java/io/quarkus/runtime/logging/InitialConfigurator.java#L46).

[2019-09-19 19:24] csotiriou commented on #2409
+ 1 for this.

I see that JBoss logging is added as a dependency, which (taking example from the Jboss Logging Doc) supports log4j (among others). Maybe we can leverage that someway?

[2019-09-19 19:36] emmanuelbernard commented on #4069
Ok so in my case the resource locator also had no `@GET` hence was not a resource locator. Thus I had the bug.

It would be nice for the RESTEasy extension or core to scan and detect that mistake and either

1. stop the build with a nice error
2. show the error in the Error 500 page in dev mode if somehits the path maybe?

[2019-09-19 19:43] #4013 closed

[2019-09-19 20:15] XciD opened #4119 "ENV Variable not substituted"
**Describe the bug**
When I build in local with `mvn package` and run the following command:
`export MP_OPENAPI_SERVERS=https://prod.server; java -jar target/app-1.0.0-SNAPSHOT-runner.jar`
My variable `mp.openapi.servers` is replaced.

When I do the same in a docker container from `maven:3.6.1-jdk-11-slim`
The variable in the Swagger is not replaced.

**To Reproduce**
Steps to reproduce the behavi

[2019-09-19 20:24] XciD commented on #4119
OK I think I found that variables are injected at build time...

So is there a way to change variable at run time ?

[2019-09-19 20:41] forevergenin commented on #1413
Looks like 0.22 release doesn't include scala support.

[2019-09-19 20:43] gsmet commented on #4013
I removed the label as the PR already has one.

[2019-09-19 20:44] geoand commented on #1413
That is true.

0.22 turned out to be an intentionally small release because we only wanted to get some of the stuff out.
Stay tuned for newer Quarkus releases soon 😉

[2019-09-19 21:32] dfranssen opened #4120 "Transactional not working in JAX-RS subresource"
**Describe the bug**
A method annotated with `@Transactional` in a JAX-RS subresource doesn't persist the entity

**Expected behavior**
The entity should be persisted

**Actual behavior**
The entity is not persisted

**To Reproduce**

see https://github.com/dfranssen/quarkus-tx-issue-subresources for a reproducer

Parent resource:
[code]

Subresource:
[code]

**Environment (please complete the fol

[2019-09-19 22:25] kenfinnigan commented on #4110
I added those, and I'm 99% sure they're still needed due to what's brought in through other versions.

By all means, give it a shot though.

[2019-09-20 01:18] emmanuelbernard commented on #4099
Turns out it wasn’t from play. They do something different. But I still
think it’s a good feature.

On Thu 19 Sep 2019 at 01:47, Stéphane Épardaud <notifications@github.com>
wrote:

[2019-09-20 02:46] #2951 closed

[2019-09-20 02:49] #4072 closed

[2019-09-20 07:50] HeavyTobi opened #4123 "MP-Configuration: Environment variables not resolved in prod mode"
**Describe the bug**
I am trying to configure the REST client base url using the application.properties, which is working

**Expected behavior**
If no environment variable called SERVICE_URL is set, a default value should be used as URL, if it is set, it should use the env variable.

**Actual behavior**
the application is not even resolving the expression in the application.properties file when us

[2019-09-20 07:55] rsvoboda opened #4124 "Stuck Quarkus process when port 8080 is already assigned, kill -9 needs to be used, user not informed about used port"
Stuck Quarkus process when port 8080 is already assigned, `kill -9` needs to be used, user not informed about used port.

This is regression comparing to 0.22.0 when user is informed via `Caused by: java.net.BindException: Address already in use` and user can press Ctrl+C to stop the process.

Master based app doesn't react to Ctrl+C and `kill -9` needs to be used.
Stacktrace informs just about NP

[2019-09-20 07:55] HeavyTobi commented on #4119
Could be related to this one --> https://github.com/quarkusio/quarkus/issues/4123

[2019-09-20 08:22] VBorikic commented on #4114
Hi @geoand,

For my use case evaluating based on application properties would be enough. (Similar like @ConditionalOnProperty SpringBoot annotation)

I would like to initialize a Bean only in some cases, which are controlled by an boolean application property

Thanks and Regards,
Vlada

[2019-09-20 08:26] geoand commented on #4114
Thanks for the information @VBorikic.

What you describe although useful in certain circumstances, kind of runs counter to the general Quarkus philosophy (and how Arc handles beans, @mkouba or @manovotn can confirm this) so I am not sure we will be bringing support for that.
It's definitely something worth looking into however.

[2019-09-20 08:34] gsmet opened #4125 "Provide a replacement for injecting HttpServletRequest"
When using RESTEasy without Undertow, we can't inject `HttpServletRequest` so we need a replacement for it (and all the other servlet related injections).

A good example of that is the REST JSON quickstart: https://github.com/quarkusio/quarkus-quickstarts/blob/master/rest-json/src/main/java/org/acme/rest/json/LoggingFilter.java .

I think we need something for 0.24.0 as adding Undertow in the qui

[2019-09-20 08:41] manovotn commented on #4114
That's true. What you describe is sort of like CDI alternatives but only enabled sometimes, which Arc doesn't have (in CDI you could use beans.xml to achieve that, but also in a slightly different way then you seek).

You could also make a CDI producer for that bean - from within the producer method, you are free to check the system property and based on that return some result. It can even be `nu

[2019-09-20 09:19] ge0ffrey opened #4126 ""Failed to inject extension deployment dependencies: zip END header not found" error should mention the corrupt jar in my local maven repo"
I managed to sync maven in intellij at the same time as running "mvn" on the command line.
So one of my jars got corrupted. No idea which one (I am still trying to figure out which one).

When I run "mvn quarkus:dev" now, it doesn't tell me which one:

[code]

**The Quarkus exception should include the name of the broken zip file (= corrupted jar file in my maven repo).** This messes up the gettin

[2019-09-20 09:31] ge0ffrey commented on #4126
**WORKAROUND**

1. Run "mvn quarkus:dev -e" and put a breakpoint on the ZipFileSsystem line that throws the error.
2. Run `mvnDebug quarkus:dev -Ddebug` (note that `mvn quarkus:dev -Ddebug` is not enough).
3. Connect with a remote debugger on port 8000 (=non standard port)
4. Wait for breakpoint, in Frames, look at the "this" var of 1 call up in the stacktrace. It will mention the corrupted jar na

[2019-09-20 09:47] gsmet commented on #4126
Looks like a good opportunity for a first contribution :).

[2019-09-20 12:54] #4105 closed

[2019-09-20 13:38] gsmet opened #4131 "Transient test error in io.quarkus.it.main.JaxRSTestCase#testMaxEntityServerOptionConfig in native mode"
We have the following from time to time on CI:

[code]

[2019-09-20 14:03] machi1990 commented on #4131
Second time we are having this one, I'll have a look over here https://github.com/quarkusio/quarkus-http over the weekend or early next week if no one beats me to it.

[2019-09-20 15:26] #3935 closed

[2019-09-20 15:26] mgagliardo91 opened #4134 "NPE in native-image compilation when upgrading to 0.22 with rest-client"
**Describe the bug**
We currently have a quarkus app at 0.19.1 that uses the `quarkus-smallrye-rest-client` and builds as a native executable successfully.

Recent feature updates have led to finding a bug within `quarkus-smallrye-rest-client` and the decision to upgrade to 0.22.0 which replaces this client with `quarkus-rest-client`. The implementation works great; however, this simple change has

[2019-09-20 15:49] geoand commented on #4134
Hi,

Would you be able to supply a small reproducer project? It would go a long way in helping figuring out the root cause of the issue (and even making sure it's still an issue or if it has been addressed already in `master`)

[2019-09-20 15:58] gsmet commented on #4134
@mgagliardo91 just to be sure, you are using the latest GraalVM (`19.2.0.1`)?

[2019-09-20 16:18] #4080 closed

[2019-09-20 18:30] mgagliardo91 commented on #4134
@gsmet we are using the graal version as defined in the docker image `ubi-quarkus-native-image:19.1.1`. @geoand it would be hard to provide a small reproducer (honestly, the biggest issue here is that I have _no_ idea where this NPE is coming from). I can try to provide a list of dependencies we use, and the graal resource/reflection config we use. The `native-image` command that is run is in the

[2019-09-20 18:32] mgagliardo91 commented on #4134
The only changes that caused this NPE is going from quarkus v0.19.1 to v0.22.0, replacing the `smallrye` client with `quarkus-rest-client`, and using the udpated `ubi-quarkus-native-image:19.1.1` to build the native-image. Nothing else has changed in the repo

[2019-09-20 19:17] geoand commented on #4134
It would be awesome to have some kind of cut down version of your application that exhibits this behavior.
Otherwise we'll just be shooting in the dark I'm afraid

[2019-09-20 21:10] geoand commented on #4131
Payload too large? Never seen that Http error code before...

[2019-09-20 21:16] geoand commented on #4104
Given the fact that we already support repository fragments, this shouldn't be hard to handle.

Actually it would probably be a good exercise for  anyone who wants to dive in to the code 😉

[2019-09-20 21:32] geoand commented on #4123
I tried the general idea with the a modified version of the `application-configuration` [quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/application-configuration) (basically setting the value `greeting.message` to `${ENV_GREETING:hello}`) and things worked as expected.
I remember this working because I had added a SO [answer](https://stackoverflow.com/a/55806466/2504224)

[2019-09-20 21:51] geoand commented on #4123
@dmlloyd I looks like the `ExpandingConfigSource` is not used at runtime so when an attempt is made to pull a property value from `Config`, it never gets expanded.
Is there any reason we can't use `ExpandingConfigSource` for the in-jar properties?

[2019-09-20 21:54] dmlloyd commented on #4123
If not it's a bug.  We definitely should be adding the expander to all config sources.

That said it might not be worth fixing right now because (apart from the config work I'm already doing which would definitely conflict) I expect MP-config and thus SmallRye Config to formally support property expansion sometime in the next few weeks.

[2019-09-20 21:55] geoand commented on #4123
Nice! I think then it makes sense to wait.

[2019-09-20 23:42] gastaldi commented on #2269
I gave a shot at this and implemented https://github.com/quarkusio/quarkus/pull/4140. I'd appreciate a review ;)

[2019-09-21 03:20] hantsy commented on #4104
In the Spring Data pattern, the `Custom` postfix is a must(can be changed), and the `Impl` class does not required an extra bean declaration, no `@Component`, `@Singleton` on it.

I Changed my `PostRepositoryImpl` , add a `@Component`, `@Singleton` on it

[code]

[2019-09-21 06:19] geoand commented on #4104
I reopened the issue to align with what you mention.

[2019-09-21 06:47] hantsy commented on #4114
@geoand  Hope Quarkus provide a general similar mechanism to activate CDI beans by conditions.

[2019-09-21 08:03] Dufgui commented on #4005
please assign to me

[2019-09-21 08:14] geoand commented on #4114
A general @Condition type annotation seems out of the question because as explained above those conditions could change at runtime, breaking the "everything known at build time" philosophy of Quarkus.

That said, I am sure we can provide some types of conditional support (Quarkus already has the @DefaultBean annotation which is similar to Spring Boot's @ConditionalOnMissingBean)

[2019-09-21 14:50] #4124 closed

[2019-09-21 18:29] patoessy commented on #2701
Running tests using gradle fails with the same error, do we need a pom.xml for gradle really?

[2019-09-21 18:56] patoessy commented on #1793
Why is this always been moved to another milestone? Is it always hard to publish?

[2019-09-21 18:56] patoessy commented on #1793
How can I assist?

[2019-09-22 02:41] nomadgis commented on #4081
+1
Quarkus 0.22.0

[2019-09-22 06:53] jaikiran commented on #4126
I have created a PR with a potential fix for this https://github.com/quarkusio/quarkus/pull/4145

[2019-09-22 09:45] cescoffier commented on #4106
@mkouba I will need your help on this one.

[2019-09-22 09:46] cescoffier commented on #4115
Configuration should be in the quarkus "http" config (as well as cache).

[2019-09-22 12:31] jaikiran commented on #3889
It looks to me, the MongoDB server is presenting a cert which doesn't match the IP address to which you are connecting to. Can you change your mongo DB connection URL (quarkus.mongodb.connection-string=mongodb://[redacted]@[redacted]:10255/?ssl=true&replicaSet=globaldb) to use a hostname instead of an IP address?

[2019-09-22 12:56] machi1990 commented on #3803
We have a work  in progress for this TODO item here https://github.com/quarkusio/quarkus/pull/4050

[2019-09-22 13:29] lbernardomaia commented on #3883
Agree, but that would be a breaking change for the previous version. Is that a problem?

Removing the those booleans, the class would be:

`
@Retention(RetentionPolicy.RUNTIME)
@Target(ElementType.TYPE)
public @interface RegisterForReflection {

    Attributes[] enableAttributes() default {Attributes.ALL};

    enum Attributes {
        ALL,
        ALL_DECLARED_CONSTRUCTOR,
        ALL_PUBLIC_CON

[2019-09-22 13:30] jaikiran commented on #3917
@aloubyansky FWIW - running:
[code]
against that reproducer shows that the cdi-api:1.0 depedency is coming from:
[code]
The entire output is as follows:
[code]
So the "root" of this seems to be the following dependency:
[code]

[2019-09-22 16:25] lbernardomaia commented on #3883
Agree, but that would be a breaking change for the previous version. Is that a problem?

Removing those booleans, the annotation would be.

[code]

[2019-09-22 18:03] cescoffier commented on #2737
Closing as this has been fixed a _long_ time agon

[2019-09-22 18:03] #2737 closed

[2019-09-22 21:26] nikospara opened #4147 "Maven quarkus:dev does not recognise dependencies added through activated profile"
**Describe the bug**
When running quarkus:dev from Maven and some dependency is in an activated profile, this dependency is not picked up. On the contrary, when running the packaged `-runner.jar`, this dependency is indeed activated.

**Expected behavior**
Dependencies should be picked up, however they get activated.

**Actual behavior**
Dependencies defined in an activated Maven profile are not p

[2019-09-22 22:18] #4126 closed

[2019-09-23 05:06] jaikiran commented on #4081
Perhaps this https://github.com/quarkusio/quarkus/pull/4149 will help?

[2019-09-23 05:09] HeavyTobi commented on #4123
I can't wait because of an important project. I need at least a workaround. I tried to place an application.properties in the config directory under the workdir but it is not working also. Any alternatives?

[2019-09-23 05:14] geoand commented on #4123
You can place `application.properties` in a directory named `config` which resides in the directory where you launch the process. Would that cover your needs temporarily?

[2019-09-23 05:29] HeavyTobi commented on #4123
@geoand I already tried that... sadly doesn't work..

[2019-09-23 05:47] geoandri commented on #3251
May I give it a try if no one else is working on this?

[2019-09-23 05:48] geoand commented on #4123
@HeavyTobi doesn't work how? I have done that multiple times and it does work:

For example if I have:

[code]

and I launch the application from inside `/deployments` like so:

[code]

then the (runtime) properties defined in `config/application.properties` will override the values of the `application.properties` file that is included inside the jar.

[2019-09-23 05:55] geoand commented on #4147
@aloubyansky perhaps this is something you can take a look at?

[2019-09-23 06:25] mkouba commented on #4106
@cescoffier this issue is a result of our discussion around TCK: https://github.com/quarkusio/quarkus/pull/4083#discussion_r326006667. I believe that a spec clarification would be useful. The behavior defined by Commons Annotations shouldn't be hard to implement, well except for generics...

[2019-09-23 07:30] aloubyansky commented on #4147
Yes, this issue has been reported before. Please watch the status of #3702. I am going to close this one as a duplicate. Thanks for reporting.

[2019-09-23 08:12] jmartisk opened #4151 "Can't run devmode with application which uses a ServletBuildItem"
Happens on current master (ca11b856). To reproduce, simply add an extension that uses a `ServletBuildItem`, for example `smallrye-metrics`.

Here a list of URL mappings is wrapped into unmodifiable list https://github.com/quarkusio/quarkus/blob/ca11b856b1dc82ae3ee5e33199ed116ebdbf2700/extensions/undertow/spi/src/main/java/io/quarkus/undertow/deployment/ServletBuildItem.java#L29 but that turns it i

[2019-09-23 09:50] lordofthejars opened #4156 "Error during native compilation"
**Describe the bug**

I have created a simple hello world project, and then I compiled to native without any problem: `mvn package -Pnative -Dnative-image.docker-build=true`

Then I added next dependencies https://pastebin.com/ecDazT1v

And when running native compilation without any other modification I get the next stacktrace:
https://pastebin.com/dhsK3GBv

**Expected behavior**
Should compile i

[2019-09-23 11:01] nikospara commented on #4147
Thank you @aloubyansky , I wasn't sure it was due to the same reason!

[2019-09-23 11:20] gsmet commented on #4151
@jmartisk so, while I agree fixing this issue was necessary, I think we will need to make the Metrics extension use Vert.x instead of servlets if that's possible.

We want this extension to work even without Undertow.

/cc @stuartwdouglas

[2019-09-23 11:37] ge0ffrey opened #4157 "Helpfull error message when there is no JSON extension in the classpath and @Produces(MediaType.APPLICATION_JSON) is used"
To reproduce:
- Do getting started guide (= hello world example)
- Change @Produces(MediaType.TEXT-PLAIN) with @Produces(MediaType.APPLICATION_JSON)
- Change return type to LocalDate (or Duration or UUID)
- Browse to that url.

Output:

`Could not find MessageBodyWriter for response object of type: java.time.Duration of media type: application/json`

That's not the problem! There is no json extens

[2019-09-23 11:51] jmartisk commented on #4110
Removing the hamcrest-core override in API TCK will require a fix on the MP Metrics side: https://github.com/eclipse/microprofile-metrics/issues/443

I managed to remove the `shrinkwrap-resolver-api-maven` override and if we just exclude it (from the REST tck dependency) the test suite works because it's not needed. I'll send a PR with this in a bit. I'm not yet sure but it is possible that we mig

[2019-09-23 11:53] jmartisk commented on #4151
That makes sense I guess and I can volunteer to do that

[2019-09-23 11:58] machi1990 commented on #4157
@ge0ffrey I was thinking of emitting a warning (or throw an error) during build time if we detect the need of a json extension and there is non provided. I could give this a shot sometime this week.

Also /cc @gsmet @geoand to have their opinion on this.

[2019-09-23 12:02] geoand commented on #4157
I think a warning message during build time would be a good idea

[2019-09-23 12:31] gsmet commented on #4151
@jmartisk I will create an issue for it so that we don't forget about it.

[2019-09-23 12:32] gsmet opened #4159 "Make Metrics extension use Vert.x instead of Servlets"
Per discussion with @jmartisk .

See this PR https://github.com/quarkusio/quarkus/pull/4062 for some examples.

[2019-09-23 12:47] mkouba commented on #4114
@geoand is right. We can't build the "exlude conditions" based on runtime configuration (system properties and ENV variables). It could be useful to have a possibility to "exclude" a bean class based on the presence/absence of a certain class, ie. something like `@Exclude(ifClassNotAvailable = "org.acme.Foo")`. The downside of this approach is that it's not type-safe...

[2019-09-23 12:57] #4151 closed

[2019-09-23 13:43] gastaldi commented on #4159
That looks interesting. May I give it a try or is this already being worked on by someone else?

[2019-09-23 13:44] osmanrafiqss opened #4160 "Windows native-image Signal handling"
Running a Graal native-image build of the getting-started application on Windows fails with the following error:

`Exception in thread "main" java.lang.IllegalArgumentException: Unknown signal: HUP
        at sun.misc.Signal.<init>(Signal.java:143)
        at io.quarkus.runtime.Application.run(Application.java:185)
        at io.quarkus.runner.GeneratedMain.main(GeneratedMain.zig:34)`

The issue o

[2019-09-23 13:45] ge0ffrey commented on #4157
FWIW, the log already shows this:

[code]

[2019-09-23 13:46] jmartisk commented on #4159
I'm planning to do that, per discussion in https://github.com/quarkusio/quarkus/issues/4151 if you don't mind :) yeah it does sound like an interesting task. I suppose there must be some more extensions that still need the same

[2019-09-23 13:51] gastaldi commented on #4159
@jmartisk not at all, by all means :wink:

@gsmet can this issue be assigned to @jmartisk ?

[2019-09-23 14:17] jaikiran commented on #2176
There appear to be a couple of issues going on here.

The root cause of this issue seems to be that in the absence of that above workaround (where a `@GET` `@Produces(TEXT_PLAIN)` is added), the `io.quarkus.resteasy.server.common.deployment.ResteasyServerCommonProcessor` isn't registering some of the (MessageWriter) `Provider`(s) (one of them being `org.jboss.resteasy.plugins.providers.DefaultNumb

[2019-09-23 14:53] vsevel opened #4162 "Migrate vault client from okhttp to the quarkus rest client"
**Description**
The Vault extension uses okhttp to connect to vault. It would be much better to rely on the default quarkus jax-rs client.
This feature request is related to https://github.com/quarkusio/quarkus/pull/2897#discussion_r326106863 and https://github.com/quarkusio/quarkus/pull/2897#issuecomment-503900843.
The rest client must be usable from cdi beans (such as VaultKvService) and the vau

[2019-09-23 14:58] gsmet commented on #2176
@jaikiran nice detective work. Indeed, that's not the first time I see the issue: the root of it is that we only register the producers we use and in this very case we don't use either the JSON one or the `TextStar` one.

Is it still an issue with master? Because I added some default providers in master via this commit: https://github.com/quarkusio/quarkus/commit/7fd45c42dfaab3074cb943a5cdbb08996c

[2019-09-23 15:12] #4110 closed

[2019-09-23 15:42] jaikiran commented on #2176
Hi @gsmet, I haven't yet tried this with master. I will give it a try tomorrow.

[2019-09-23 17:01] jaikiran commented on #2176
Hi @gsmet, I quickly gave the upstream master a try with the quickstart. It still runs into the same issue and still requires that workaround. So I went ahead and borrowed your idea to register some of these commonly needed providers by default and created this PR https://github.com/quarkusio/quarkus/pull/4163. With that change, I was able to get the Kafka guide working fine without the necessity

[2019-09-23 17:37] kenfinnigan commented on #2176
Rather than registering providers that may not be needed, why not fail the deployment if there's no `@Produces` present?

My concern would be we keep adding "edge case" providers and defeat the purpose of DCE.

[2019-09-23 17:55] gsmet commented on #2176
Yeah, the `text/*` and JSON providers were added for the purpose of the error pages. We consider that they should always be there if active. We really don't want to add all the providers around.

I think adding the `text/plain` provider could make sense too... what I'm a bit unsure is if it makes sense to have something like `@Produces({MediaType.SERVER_SENT_EVENTS, MediaType.TEXT_PLAIN}) ` and ho

[2019-09-23 18:35] rkraneis commented on #3354
Is there anything new? We have similar problems using ``quarkus-amazon-lambda-resteasy`` extension (NPE in ``StreamLambdaHandler`` as ``initHandler`` is not called before ``handleRequest``).

[2019-09-23 20:04] gsmet commented on #2176
@asoldano @patriot1burke @cescoffier any chance you could help us about best practices regarding SSE and `@Produces`?

[2019-09-24 03:42] gastaldi commented on #3938
AFAIK KubernetesMockServer needs to be implemented as a JUnit 5 extension : https://stackoverflow.com/questions/51012335/how-to-replace-rule-annotation-in-junit-5

[2019-09-24 04:33] #4157 closed

[2019-09-24 04:40] geoand opened #4166 "Use smallrye config's newOptionalConverter when it lands"
Currently Smallrye Config doesn't provide a Converter for `Optional` so the `@ConfigProperties` support implements it's [own](https://github.com/quarkusio/quarkus/blob/master/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ConfigPropertiesUtil.java#L69).
However native support for `Optional` is coming in the next Smallrye Config release so this should be picked u

[2019-09-24 04:48] geoand commented on #4038
The native Quarkus support is already in `master`. However I think we will also need #3436. The reason is that we don't want to pull in a ton of code just to support this (and maybe a few other annotations)

[2019-09-24 04:49] geoand commented on #3436
@gytis we will also need something similar for #4038.

@n1hility any thoughts on how to proceed with this?

[2019-09-24 05:19] jaikiran commented on #2176
I agree. That blind addition of providers kind of defeats the purpose of doing selective additions, even if the provider is a common one.
This is such a basic use case (IMO) that I felt there should be some other way to deal with it without hacks. So last night, I looked into the internals of RestEasy a bit and I think I found a better way (spec compliant) of dealing with this. Based on that under

[2019-09-24 06:00] geoand commented on #3437
This has already been done, closing

[2019-09-24 06:00] #3437 closed

[2019-09-24 06:29] geoand commented on #4159
Does is make sense to open a similar issue for Opentracing? That one relies on servlets in the way of providing a Servlet filter.

[2019-09-24 06:32] geoand commented on #4156
@lordofthejars where you perhaps able to narrow down the set of dependencies that causes the problem?

[2019-09-24 06:45] geoand commented on #4090
@FreifeldRoyi Interesting!

Would you be able to provide a small reproducer so I can look into it and get back to you with more information?

[2019-09-24 06:49] geoand commented on #4081
This should now be closed via #4149

[2019-09-24 06:49] #4081 closed

[2019-09-24 07:08] gytis commented on #3436
@geoand yep, also for Spring Web. It's quite tedious and time consuming to find all the necessary interfaces and classes. That's why I only did Spring DI to see if this approach would work for everybody.

[2019-09-24 07:10] geoand commented on #3436
Makes sense @gytis. Let's see what @n1hility things before proceeding further.

Also we will need spring data jpa as well

[2019-09-24 10:09] lbernardomaia opened #4169 "Rest Client + Spring Di issue"
**Describe the bug**
Looks like there an issue to run the Rest Client with Spring Di.

The error can be reproduced using the rest-client project from quarkus-quickstarts.

CountriesResource:
[code]

Pom.xml
[code]

When a run `mvn verify -Pnative` I get the following log:

[code]

[2019-09-24 10:26] gsmet commented on #4169
I don't know why Spring causes this but we shouldn't have `commons-logging` in the classpath: we should use the JBoss Logging adapter.

@geoand could you have a look?

[2019-09-24 10:32] geoand commented on #4169
Hi,

I think this has already been resolved on master since I remember seeing it before. Let me check and I'll post back the details

[2019-09-24 10:42] geoand commented on #4169
I had missed spring-di!

Should be fixed in #4170.

Thanks for reporting!

[2019-09-24 10:44] limadelrey opened #4172 "quarkus.swagger-ui.path doesn't accept environment variables as its value"
Hey,

I'm using quarkus-smallrye-openapi maven dependency to take advantage of automatic OpenApi specifications and Swagger UI. In order to do that I've coded the following configurations on application.properties file:

[code]

OpenApi is working fine. However, Swagger UI is being retrieved on {{host}}/default-path (which is the default value for $PATH environment variable) when it should be retr

[2019-09-24 10:47] gsmet commented on #4172
@dmlloyd looks like we have a new one for the environment variable issue :).

[2019-09-24 11:04] geoand opened #4173 "Vert.x threads block after brief load testing"
Using `master` (specifically with commit: 6fd65a24510282d6a04af360bedc28720188aa15) I am seeing that when doing a small load testing run with [this](https://github.com/geoand/quarkus-vertx-threads-blocked) very simple reproducer project, vertx threads ending up being blocked and the application becoming unresponsive.

The threads seem to be blocked here:

[code]

I should note that this doesn't ha

[2019-09-24 11:20] gsmet commented on #4173
/cc @vietj @cescoffier @patriot1burke @stuartwdouglas

[2019-09-24 11:47] sberyozkin commented on #3092
I'm going to close it after some additional review of this idea from @stianst

[2019-09-24 11:47] #4064 closed

[2019-09-24 11:52] sberyozkin opened #4175 "Enhance Keycloak Integration tests"
**Description**
`integration-tests/keycloak` should run against a Keycloak IDP bootstrapped in a separate process/container

**Implementation ideas**
Make sure a Keycloak docker image is started before the tests are run, have the client test code working with the dynamically created tokens

[2019-09-24 11:54] sberyozkin commented on #4175
@pedroigor, @sebastienblanc Hi, if you are already aware of some template pom configuration which can get a KC IDP loaded then please comment or update the tests whenever time allows :-), cheers

[2019-09-24 13:26] dmlloyd commented on #3670
So it would be a key-value file mapping environment variable names to values that would be added to the environment of the dev process?

[2019-09-24 13:30] dmlloyd commented on #3416
Should have been fixed by #3701 if it is indeed the same as #3409.  If the bug persists, please reopen.

[2019-09-24 13:30] #3416 closed

[2019-09-24 13:31] dmlloyd commented on #2816
This could be the same issue as #4077.

[2019-09-24 13:34] mkouba opened #4177 "Validate unproxyable bean types of normal scoped producers"
https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#unproxyable

[2019-09-24 13:41] mkouba opened #4178 "ClientProxyGenerator - handle thrown exception types correctly"
Currently, we only expect a `ClassType`: https://github.com/quarkusio/quarkus/blob/0.22.0/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ClientProxyGenerator.java#L100

[2019-09-24 13:59] #3767 closed

[2019-09-24 14:05] cescoffier commented on #4173
@pmlopes wondering if we can removed the synchronized in https://github.com/vert-x3/vertx-web/blob/91d92726042f2694ac55749736d7411e8be7e0b2/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/StaticHandlerImpl.java#L277

[2019-09-24 14:07] cescoffier commented on #4173
The contention may come from this. In Quarkus we have several event loops using the handler.

[2019-09-24 14:10] johnaohara commented on #4173
I ran the reproducer locally. After the app became unresponsive, the vertx worker threads were all in a WAIT state

[code]

Looks like the worker threads are being blocked here:  https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxBlockingOutput.java#L96

[2019-09-24 14:12] kenfinnigan commented on #348
MP JWT TCK currently blocked by https://github.com/smallrye/smallrye-jwt/issues/129

[2019-09-24 14:25] pmlopes commented on #4173
I think all synchronized methods in that class are to prevent threading issues in `wrapInTCCLSwitch` as the current classloader is switched temporarily. If we synchronize only that switch, I guess we could remove all the other synchronized blocks. Then if you don't use any custom class loader, then you would never be inside a synchronized block at all.

[2019-09-24 14:28] stuartwdouglas commented on #4173
Why would a TCCL switch need to be synchronized? by definition it only involves a single thread.

[2019-09-24 14:37] gsmet commented on #4173
Btw, it will probably be a stupid question but why is `StaticHandlerImpl` involved at all? Does it have precedence over the paths handled by RESTEasy?

[2019-09-24 14:37] geoand commented on #4173
Maybe because the project contains a `META-INF/resources/index.html` file?

[2019-09-24 14:42] ebullient commented on #2450
Spring Boot 2 also scopes endpoints, placing them under an `/actuator/...` context root (which is a +1 for @rsvoboda comments above). For some of the sample apps that I make, I provide a simple (easily replaced) index.html file listing provided endpoints for exactly that reason..

I don't know how common it is to separate health/prometheus endpoints on different ports. Yes, it could be configurabl

[2019-09-24 14:47] gsmet commented on #4173
But you are only targeting the JAX-RS resource in your benchmark, aren't you?

[2019-09-24 14:49] geoand commented on #4173
Yup, the benchmark only hit the REST endpoint. Perhaps it's some internal thing, I didn't dig deeper but I certainly could

[2019-09-24 15:09] #4169 closed

[2019-09-24 16:02] lbernardomaia commented on #3670
@dmlloyd, correct!

Another example:

.env
[code]

application.properties
[code]

If I run ```mvn quarkus:dev -Denv-file="/path/.env"```,  the keys ```redapple.endpoint```, ```greenapple.endpoint``` and ```banana.endpoint``` would be replace for the correspondent values in the .env file.

[2019-09-24 16:13] #4073 closed

[2019-09-24 16:14] limadelrey commented on #4156
@lordofthejars I think that behaviour is happening because of quarkus-hibernate-orm-panache maven dependency. In fact it is a known issue (#2482). Just add a class with an `@Entity` annotation and configure your datasource on application.properties file and the error should be gone ([https://quarkus.io/guides/hibernate-orm-guide]()).

[2019-09-24 16:15] lordofthejars commented on #4156
weird, but definitely not a blocker or high priority bug.

Missatge de limadelrey <notifications@github.com> del dia dt., 24 de set.
2019 a les 18:14:

[2019-09-24 17:39] sean-scott-lr commented on #820
Hey Guys,

I was wondering where the support for grpc falls as plans for official support.  We are doing a PoC on Quarkus to determine its feasibility and grpc is a requirement ( in native mode ).

[2019-09-24 17:43] pmlopes commented on #4173
I've isolated the locks into 2 areas, TCCL switch and stats updates for filesystem tuning. If it's guaranteed that the TCCL is safe I can even drop that one, and locks are only active while the handle is tuning itself.

[2019-09-24 17:50] gastaldi commented on #1843
I can confirm that the `quarkus-artemis-jms` extension fixes the problem. Here is a sample REST endpoint illustrating how I tested it:

[code]

[2019-09-24 17:50] #1843 closed

[2019-09-24 18:35] gsmet opened #4185 "Spring native tests failing from time to time"
@geoand I copied the test results.

The NPE looks suspicious.

[code]

[2019-09-24 18:45] ronsigal commented on #2773
I've been looking into this issue again, and I have some information to add.

I've turned the example at https://github.com/masini/quarkus-rest-client-npe into a WAR, deployed it to Wildfly, and it works as expected, i.e., there is no NPE. This suggests to me that there might be some issue with CDI in Quarkus. I'm sadly ignorant about Quarkus, but I got the following comment from Bill Burke: "I'd

[2019-09-24 18:49] geoand commented on #4185
@gsmet is this still happening on PRs based off master?

After the PR you merged this should never happen. If it does fail, the message should be different.
FWIW this is what I was seeing and couldn't reproduce so I think it was CI caching a different version of the spring artifact

[2019-09-24 18:54] gsmet commented on #4185
It's a PR that has a few hours so it doesn't have your patch.

[2019-09-24 19:12] geoand commented on #4185
It would be great to have it rebased and see what happens.

[2019-09-24 19:28] rsvoboda commented on #820
@emmanuelbernard @cescoffier what's the plan for grpc ?

[2019-09-24 19:39] geoand commented on #2773
I can take a quick look tomorrow

[2019-09-24 20:02] geoand commented on #2773
I looked at this again briefly without reading the discussion and it struck as odd that `@Inject` didn't work. @mkouba I think we should add support for it

[2019-09-24 20:10] ronsigal commented on #2773
@geoand, just to be sure, by "we" you mean Quarkus?

[2019-09-24 20:10] geoand commented on #2773
@ronsigal yup :)

[2019-09-24 20:21] ronsigal commented on #2773
Cool. ;-)

[2019-09-24 20:47] geoand commented on #4173
I tried the reproducer with Vert.x 3.8.1 (what Quarkus currently uses) + the synchronized patch and I'm still seeing issues, however I think they might be different this time since I am seeing:

[code]

[2019-09-24 21:05] pmlopes commented on #4173
That's something else. A request is trying to load a file, the static handler isn't blocking anymore but the file resolver is locking trying to find the file from the classpath and copy to the cache. As the file doesn't exist, this will lock for every call.

[2019-09-24 21:06] geoand commented on #4173
I removed the stacktrace I had earlier since I think I read the profiling data incorrectly

[2019-09-24 21:07] pmlopes commented on #4173
The static handler should be at the end of the chain to avoid hitting the file system all the time.

[2019-09-24 21:07] geoand commented on #4173
I think @patriot1burke mentioned that currently it Quarkus it's the first handler

[2019-09-24 21:10] geoand commented on #4173
With patch, the application does report this:

[code]

[2019-09-24 21:18] pmlopes commented on #4173
This Trace is different can you figure out which lambda is that? That calls an execute blocking?

[2019-09-24 21:18] geoand commented on #4173
This is what the application itself reports.

The previous one I had posted if what I got from profiling the application and looking at the threads.

[2019-09-24 21:22] geoand commented on #4173
I can't really tell which lambda it is TBH. Sorry I couldn't help more. I'm calling it a night :)

[2019-09-24 21:27] geoand commented on #4173
Since I am really don't know much about Vert.x I think someone with more Quarkus + Vert.x knowledge should take over.
I hope I haven't led people down a rabbit hole...

[2019-09-24 21:34] geoand commented on #4173
Last thing for today - here is what I get from jstack with the patch applied when the application stops being able to serve requests:

[code]

[2019-09-24 21:36] geoand commented on #4173
@pmlopes the very first stack trace I added when I opened the issue may or may not have been misleading. I don't really know...

[2019-09-25 04:45] johnaohara commented on #4173
I thought I commented on this yesterday, but the worker threads being blocked at the end of the run is being caused by;

https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxBlockingOutput.java#L96

[2019-09-25 04:46] johnaohara commented on #4173
[code]
is a separate issue

[2019-09-25 04:56] jagodevreede opened #4188 "jdbc-mssql extention is missing"
On the website: https://quarkus.io/guides/datasource-guide it states that:

but  `mvn quarkus:add-extension -Dextensions=jdbc-mssql` results in:
[code]
It is also not listed on the _start coding_ page

Adding for example jdbc-h2 works. changing the dependency from h2 to mssql does work.

[2019-09-25 05:06] jaikiran commented on #4188
I think this was fixed a few days back in `master` branch https://github.com/quarkusio/quarkus/pull/4033

[2019-09-25 05:50] jagodevreede commented on #4188
Look like that will fix it, tnx!

[2019-09-25 06:38] jaikiran commented on #2219
@famod,

This is the right thing to do, except that the wrapper mojo downloads from a HTTPS URL (https://repo.maven.apache.org/maven2), so you should (even) set the `-Dhttps.proxyHost` system property into your MAVEN_OPTS. I think that should get it working. In case you want to customize few more things (like the proxy port), more system properties for Java proxy configuration can be found here ht

[2019-09-25 07:19] pmlopes commented on #4173
Ok, so this seems to tell us that the fix upstream should be backported to 3.8.2 as it "solves" the locking in vertx-web `isFileExisting`

As @geoand now doesn't see that lock but another one at `VertxBlockingOutput`

[2019-09-25 07:59] machi1990 commented on #4188
Fixed by #4033. Closing

[2019-09-25 07:59] #4188 closed

[2019-09-25 08:03] geoand commented on #4185
I haven't seen any of the latest PRs fail with this. I'll keep monitoring and close at the end of the day if no issues show up

[2019-09-25 08:04] geoand opened #4189 "KogitoDevModeIT sometimes fails"
I saw the issue [here](https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=8414&view=logs&jobId=b20e6b61-15e8-51de-c701-d87903f753af) but I also vaguely remember seeing it in the past.

[code]

[2019-09-25 08:10] mkouba commented on #2773
Well, I don't think this is a CDI/ArC issue. The beans for `JsonbObjectMapper` and `JsonbContextResolver` are there and look ok. The question is how and where is the `JsonbContextResolver` provider instance created?

I've debugged the reproducer and the provider instance is created here: https://github.com/resteasy/Resteasy/blob/master/providers/json-binding/src/main/java/org/jboss/resteasy/plugin

[2019-09-25 08:19] geoand commented on #2773
I like the idea although I admit I don't know much about the client

[2019-09-25 08:27] gsmet opened #4190 "Websocket quickstart failing"
The tests of the Websocket quickstart are failing in native mode. No exception, just that the message doesn't seem to be broadcast properly (or the test client doesn't get it for whatever reason).

I tested the native image manually and the chat app seems to work. That being said, there is another issue: once we have used the chat a bit, it's impossible to stop the application with a `^C`. I had t

[2019-09-25 08:56] loicmathieu opened #4193 "Followup on MongoDB with Panache"
**Description**
This is an umbrella issue to track some enhancements and followup works to do to the just-landed MongoDB with Panache extension (#3650).

The list of tasks are:

- [ ] 	Investiguate the support of transactions
- [ ] 	Avoid reflection when building PanacheQL queries from `io.quarkus.mongodb.panache.runtime.PanacheQlQueryBinder`
- [x] 	Implements query projection
- [x] Avoid re-creat

[2019-09-25 08:59] loicmathieu commented on #4193
@gsmet @emmanuelbernard @FroMage I will provide separate PR for each tasks listed, you can assign to me this issue.

Don't hesitate to give feedback or add missing tasks, I tried to be as exhaustif as possible regarding what we discussed on the current implementation.

[2019-09-25 09:46] FreifeldRoyi opened #4197 "Is documentation of OpenTracing UDP Sender wrong?"
As stated in the [OpenTracing guide](https://quarkus.io/guides/opentracing-guide):

But there are several closed issues that states that the UDPSender is now fixed, most notably #2304

I used
[code]

To configure the UDP tracer and it seems to work fine (well locally at least)

Am I doing something wrong or is the documentation wrong?

[2019-09-25 09:54] #4113 closed

[2019-09-25 09:58] rsvoboda opened #4198 "Stuck hibernate-orm-resteasy QS when running with Quarkus master in native mode"
Stuck hibernate-orm-resteasy QS when running with Quarkus master in native mode
App seems to be started but tests are not executed. Noticed this on Linux box and on macOS machine too.

[code]
Waited more than 2 minutes before hitting Ctrl+C

[2019-09-25 10:53] sberyozkin commented on #3164
@sebastienblanc, @emmanuelbernard @gsmet, hi, here is a proposal:
- introduce `DefaultKeycloakDeployment` which will only hold `AdapterConfig` and pass it to `QuarkusDeploymentContext` and `QuarkusKeycloakConfigResolver` instead of the default `KeycloakDeployment`
- update `QuarkusKeycloakConfigResolver` to ask `DefaultKeycloakDeployment` to `getDeployment`
- `DefaultKeycloakDeployment.getDeployme

[2019-09-25 11:18] radcortez commented on #1724
I found an interesting, somehow clean workaround:

[code]

This is using lombok @Delegate so you call the methods directly from the Wrapper. Once this is fixed, only the type needs to be changed. Alternative, a get method to the UserRepository on the inner class can be exposed and it also seems to work.

[2019-09-25 12:08] limadelrey opened #4200 "Quarkus Swagger UI behind an Ingress Controller"
Hey,

I'm using quarkus-smallrye-openapi maven dependency to take advantage of automatic OpenApi specifications and Swagger UI. In order to do that I've coded the following configurations on application.properties file:

[code]

Although both work on my local environment, when I try to deploy them on a Kubernetes cluster behind an Ingress controller my /swagger-ui endpoint doesn't work. I'm using

[2019-09-25 12:21] gsmet commented on #4200
When you say:

what do you mean exactly?

[2019-09-25 13:05] limadelrey commented on #4200
Ingress is redirecting to an error page probably because it doesn't recognise some path inside Swagger UI static files.

[2019-09-25 13:09] #4159 closed

[2019-09-25 13:16] gsmet commented on #4200
The first thing that comes to mind is that you need to point Swagger UI to `/test-service/open-api` not `/open-api`. as your browser will be the one making the request.

The issue is that this is build time config so you can't override it with a profile or a runtime override.

[2019-09-25 13:56] emmanuelbernard commented on #3164
I am not familiar with `DefaultKeycloakDeployment` and `QuarkusKeycloakConfigResolver` so I cannot comment :)

[2019-09-25 14:00] limadelrey commented on #4200
First of all, thank you for trying to help @gsmet.

In one of my previous tests I've already changed Swagger UI to `/test-service/swagger-ui` and OpenAPI to `/test-service/open-api`. The result was that Swagger UI was available and communicating with OpenAPI specification, but the "Try Out" buttons were communicating to `/api` instead of `/test-service/api` endpoints. So there's still this issue w

[2019-09-25 14:11] gsmet commented on #4200
Have you checked `quarkus.servlet.context-path`?

Because AFAICS you need everything to be moved to this `test-service` path.

On Wed, Sep 25, 2019 at 4:01 PM limadelrey <notifications@github.com> wrote:

[2019-09-25 14:36] limadelrey commented on #4200
To be honest I hadn't used it before. I've applied the following properties:

[code]

Although I haven't tried yet to deploy it on Kubernetes, I can't get it to work locally:
<img width="1568" alt="Screenshot 2019-09-25 at 15 34 24" src="https://user-images.githubusercontent.com/14318789/65610998-19b16000-dfaa-11e9-8460-3e21c80482fd.png">

[2019-09-25 15:04] FreifeldRoyi commented on #4197
Digging a bit deeper, it seems that `jaeger.agent.host/port` properties aren't initializing the `agentHostPort` field in `JaegerConfig` class, and I'm not sure where, but I think its value is always _localhost_ and that's why it worked locally.
Except for the #2304 ticket, I mentioned in the original post, that states that UDPSender is now working, I can't find any examples using UDPSender, and I

[2019-09-25 15:40] sberyozkin commented on #3164
@emmanuelbernard thanks, `DefaultKeycloakDeployment` was just an idea of how to encapsulate the runtime properties check away from `QuarkusKeycloakConfigResolver` which is used by the extension at the moment to provide the default (recorded) configuration; hoping we will make it work with @sebastienblanc :-)

[2019-09-25 16:06] emmanuelbernard commented on #4009
CC @stuartwdouglas but feel free to delegate that one

[2019-09-25 16:22] emmanuelbernard commented on #3329
Other todos:

- define a extensions.yml or otherwise to be consumed by code.quarkus.io and our maven tooling to know the list of extensions
    - for example override a label as needed, set a category etc
- create a process to generate and manually add the settings specific to extensions.yml
- define the notion of beta or experimental for an extension (label?)
- define the notion of a preferred ex

[2019-09-25 17:01] aloubyansky commented on #3329
Here is an example how the extensions.json can be generated from a BOM https://github.com/aloubyansky/quarkus/commit/c80e58e315b248af0b034fcbc1016bda1893eda2

[2019-09-25 17:28] emmanuelbernard commented on #3329
Right but this one is the per extension.json file. I'm also thinking of the extensions aggregating file.

[2019-09-25 17:29] emmanuelbernard commented on #3329
And generally how people will enlist their extension for the platform

[2019-09-25 17:33] Nunalves commented on #3084
If I use a rest client like so:
[code]

Isn't it already async and non-blocking?

[2019-09-25 17:35] kenfinnigan commented on #3084
It's async, but whether it's non-blocking depends on the underlying transport.

And at present that underlying transport is blocking

[2019-09-25 17:53] geoand commented on #4197
cc @pavolloffay @objectiser

[2019-09-25 17:54] geoand commented on #4185
I'm going to close for now since none of the PRs today failed on this. We can reopen and address if it becomes a problem again

[2019-09-25 17:54] #4185 closed

[2019-09-25 18:18] ronsigal commented on #2773
@mkouba, I think we're seeing different things. I've added a no-arg constructor to JsonbContextResolver:

    public JsonbContextResolver() {
       System.out.println(this);
       new Exception(this.toString()).printStackTrace();
    }

and I see the JsonbContextResolver created in three steps. In particular, there is a QuarkusInjectorFactory in step 3 below:

1. A JsonbContextResolver POJO is c

[2019-09-25 18:22] gastaldi commented on #4198
I tried with `mvn clean verify -Pnative -Dnative-image.docker-build=true` and haven't had any trouble. Maybe it's something in your local GraalVM?

[2019-09-25 18:35] aloubyansky commented on #3329
No, that's actually aggregating all the extensions from the bom.

[2019-09-25 18:46] rsvoboda commented on #4198
`mvn clean verify -Pnative -Dnative-image.docker-build=true` ends with following trouble because Linux targeted binary can't be run on macOS. So it doesn't help me much now :( I can try tomorrow on my Linux box.

[code]

The problem with the QS isn't that native binary can't be built. It seems that the binary starts properly, but tests are not started against binary. Like if it is waiting for some

[2019-09-25 19:15] rsvoboda commented on #4198
I was using GraalVM 19.2.0 and to be sure I tried GraalVM 19.2.0.1 too.
And it behaves the same - QS execution gets stuck, tests against native binary don't get started.

I checked master branch (Quarkus 0.22.0) and everything works well

[2019-09-25 19:18] gsmet commented on #4198
What happens if you try to start the app yourself?

If it gets stuck, can you try to launch it with strace and see if there's anything useful when it gets stuck?

[2019-09-25 19:19] gsmet commented on #4198
Also, can you try with the 0.23.0 branch?

[2019-09-25 19:28] rsvoboda commented on #4198
@gsmet ok, will do

Something from master vs. 0.22.0 comparison:

Quarkus master:
[code]
Quarkus 0.22.0
[code]

With Quarkus master there are no inserts. DB feeding doesn't happen

[2019-09-25 19:30] rsvoboda commented on #4198
hm, there is https://github.com/quarkusio/quarkus-quickstarts/commit/4717c348acbd7c466e455de6f36ee38233197371

let me rebase QS and rerun it

[2019-09-25 19:31] gsmet commented on #4198
So not having the inserts is expected, I fixed that here: https://github.com/quarkusio/quarkus-quickstarts/commit/4717c348acbd7c466e455de6f36ee38233197371 . I have an email ready for this issue, I will send it tomorrow.

[2019-09-25 19:47] rsvoboda commented on #4198
With Quarkus 0.23.0 quickstart passes

With Quarkus master quickstart is stuck. At least inserts are there ...

[2019-09-25 21:00] geoandri commented on #4172
The same configuration parameters cannot be overridden via a runner jar as well.
`java -jar -Dquarkus.swagger-ui.path=/test-path/swagger-ui target/using-openapi-swaggerui-1.0-SNAPSHOT-runner.jar` does not work.

[2019-09-25 21:08] gsmet commented on #4172
as well.

Isn't that expected? quarkus.swagger-ui.path is build time config.

On Wed, Sep 25, 2019 at 11:00 PM geoandri <notifications@github.com> wrote:

[2019-09-25 22:38] ppatz-vendavo commented on #3889
hi, I just found this issue when googling for my problem. We are not using quarkus but having same issue - with plain MongoClient and native image. We use Atlas MongoDb hosting (which uses ssl connections by default), our connection string contains host names but when trying to connect, we get the same error message talking about IP addresses - so it looks more like mongodb vs native-image issue.

[2019-09-26 00:02] brentcrammond opened #4205 "Custom ConfigSource not working in quarkus:dev mode"
I have a CustomSource that is working when run with the built jar, but does not work when run with mvnw compile quarkus:dev.

The CustomSource is a simple Property File Loader that is run at ordinal level 500, it reads the application.properties file the Working Directory.

**Expected behavior**
The internal application.properties has the quarkus.http.port set to 9090 and the external application.

[2019-09-26 02:34] gastaldi opened #4206 "quarkus-jgit: Cannot save config file 'FileBasedConfig[/project/?/.gitconfig]': java.io.IOException: Creating directories for /project/? failed"
**Describe the bug**
When a directory is cloned to a directory that does not exist using the JGit API, the following error is shown in the logs when the application runs in native mode:

[code]

The warning seems harmless, because the directory is cloned successfully.

**Expected behavior**
No stacktrace

**Actual behavior**
Stacktrace is shown in the logs. Invocation still works

**To Reproduce**

[2019-09-26 03:28] geoandri commented on #4172
Yes, you 're right. It works as expected at this case.

[2019-09-26 04:02] gastaldi commented on #4206
This only happens when the Docker build is used to run the `native-image` (which explains the `/project` directory in the error message).  I'll close this one and open a new one with a reproduceable test

[2019-09-26 04:12] gastaldi commented on #4206
Reopening to investigate why the `user.home` is stored during build time in the JGit library

[2019-09-26 05:06] cmoulliard commented on #3436
This is a great idea as proposed here which should also help to simplify to document, figure out the mapping/binding existing between Spring on Quarkus and Spring frameworks, ...

[2019-09-26 05:09] cmoulliard commented on #3436
If we follow this approach, that could be hard to maintain as it could be needed to review that for every new Spring project release. I would like to avoid that we have to calculate class needed as that what the case too for OSGI !

[2019-09-26 05:11] cmoulliard commented on #3436
Can you create a ticket/task for us @gytis in order to discuss with Legal, Naina this ethical aspect if we repackage ?

[2019-09-26 05:11] geoand commented on #3436
I don't think we would need to update for every release. The way I see it we would only update infrequently since the "API"s we use would practically never change

[2019-09-26 05:31] cmoulliard commented on #4038
Can you @geoand describe what we will support from ConfigurationProperties as Spring proposes [many features](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config) ?

[2019-09-26 05:37] geoand commented on #4038
From a user's perspective `@ConfigurationProperties` would just be used to group properties together into a single class.
The "backend" of how those properties are retrieved would of course be Quarkus specific and be bound by how Quarkus deals with properties, not how Spring does.

So the idea is to give users the familiariry they are used to - `@ConfigurationProperties` is very widely used and ve

[2019-09-26 05:47] cmoulliard opened #4209 "Maven Native docker build fails: AccessDeniedException: /project/reports"
**Describe the bug**
Graalvm experiments a file access denied when file should be created under docker mounted volume on macos -> `-v /Users/dabou/Downloads/code-with-quarkus/target:/project:z`

**Actual behavior**
See: https://gist.github.com/cmoulliard/e62057cc0749fb8117f8dcd63181ca71
[code]

There are no local permission issues to access the files of the quarkus project
[code]
**To Reproduce**

[2019-09-26 05:53] cmoulliard commented on #4038
We should take care about what we will offer and propose as this property is a SpringBoot Annotation, that Boot'users are familiar with it, it is then very important to document what we will first support then

[2019-09-26 06:01] geoand commented on #4038
Yes makes perfect sense - things should be properly documented.
As with every other Quarkus equivalent of the Spring stuff, we are aiming at porting knowledge, not providing a totally complete and drop in replacement for whatever Spring did.

[2019-09-26 06:07] mkouba commented on #2773
@ronsigal Ok, I need to double check. Anyway, pls upgrade the reproducer, ie. quarkus from 0.16.1 to 0.22.0 and `io.quarkus:quarkus-smallrye-rest-client` => `io.quarkus:quarkus-rest-client`. The MP Rest Client impl was switched from SmallRye to RESTEasy. Also some integration classes changed.

[2019-09-26 06:46] mkouba commented on #2773
@ronsigal Ok, so I've tried to add a no-arg constructor to the `JsonbContextResolver` and I can also see 3 instances created:

### 1. Instance created for RestClient - `InjectorFactoryImpl` used
[code]

### 2. Client proxy created during ArC init, `JsonbContextResolver_ClientProxy extends JsonbContextResolver`
[code]
### 3. Instance created through `QuarkusInjectorFactory` and used for server-side

[2019-09-26 06:53] gytis commented on #3436
We might only need to change it for every major Spring release. However, we will need to repackage if something related in Quarkus will change.

[2019-09-26 07:17] stuartwdouglas commented on #4009
Can you provide a reproducer? I just tested this locally (see linked PR) and it worked for me.

[2019-09-26 07:18] #4206 closed

[2019-09-26 07:43] jmartisk opened #4211 "Setting quarkus.http.test-port to a non-default value breaks tests in MP OpenAPI TCK"
This is because the `@BeforeSuite` callback (https://github.com/eclipse/microprofile-open-api/blob/1.1.2/tck/src/main/java/org/eclipse/microprofile/openapi/tck/AppTestBase.java#L48) runs too early, before the `TestHTTPResourceManager` has a chance to set the `test.url` property, so the callback picks up the one that is passed from `pom.xml`, but that one has a hardcoded port 8081

[2019-09-26 07:44] pavolloffay commented on #4197
The `localhost` is the default for UDP sender in jaeger client.

Jaeger in Quarkus can be configured in two ways - using `application.properties` via (https://github.com/quarkusio/quarkus/blob/master/extensions/jaeger/runtime/src/main/java/io/quarkus/jaeger/runtime/JaegerConfig.java#L17) or via environmental variables. The properties from properties files are set to system properties https://githu

[2019-09-26 07:57] objectiser commented on #4197
I believe the property in `applications.properties` would need to be
[code]

[2019-09-26 08:23] haraldatbmw commented on #4009
Did you test against a native image?

[2019-09-26 08:48] stuartwdouglas commented on #4009
Yes, those tests are run in native mode

[2019-09-26 09:03] sberyozkin commented on #3164
Hmm, I've just realized this specific plan will never work because of the module update

[2019-09-26 09:12] stuartwdouglas opened #4214 "Implement token propagation in the REST client"
The token should be retrieved from the `SecuredIdentity` credentials.

The `SecuredIdentity` must be propagated using MP Propagation (need a provider managing propagation)

[2019-09-26 09:13] stuartwdouglas opened #4215 "Security related quickstarts/ guide"
* One big guide containing everything
* Cover annotations
* “Concepts”
* Link to the other guides
* Extending the security layer (IDP, Handler, augmentation)
* File-based auth quickstart
* JPA-based auth quickstart
* Update the Keycloak quickstart

[2019-09-26 09:23] jmartisk commented on #4211
Options what we can do:
- Change our Arquillian adapter and introduce a new `BeforeSuite` callback that runs before the one in the TCK and set a `test.url` property there based on the value of `quarkus.http.test-port`. However, the problem is that for `test.url=0` (random port, introduced by https://github.com/quarkusio/quarkus/pull/4140/), this will not work because at this point we don't know ye

[2019-09-26 09:24] gsmet commented on #4215
If we document that, can we please document something where the passwords are properly hashed/salted? Our current documentation has the passwords in clear text and that's really not something acceptable nowadays - even if an example.

(Mentioning that because we just had a related question on Zulip)

[2019-09-26 10:40] haraldatbmw commented on #4009
I have created a project to reproduce this issue.
https://github.com/haraldatbmw/subresources-showcase

[2019-09-26 10:48] aesteve commented on #1413
Tried it with 0.23.1 seems to be working really fine in dev/jar mode!

I still have an issue building a native image (on Mac OS 10), but really not sure it's related to Scala, gradle, Graal, 0.23.1, or my laptop, or anything else actually :s

Here is the experiment: https://github.com/aesteve/quarkus-scala-gradle

[2019-09-26 11:30] abelsromero commented on #4020
In case someone comes here looking for the TLDR.
Just updated to 0.23.1 and it works perfectly with only `@Provider` annotation.

[2019-09-26 11:39] FreifeldRoyi commented on #4197
This worked.. Should I open another issue to fix documentation ?

[2019-09-26 11:42] geoand commented on #4197
@FreifeldRoyi better yet you could provide a PR to fix it :)

[2019-09-26 11:53] kenfinnigan commented on #4214
Is it a token that's come in from an external request, or one we've created internally?

If the former, then you can use header propagation in the REST Client to pass it along

[2019-09-26 11:55] kenfinnigan commented on #4211
I think changing the TCK makes the most sense.

I only added the `test.url` to the pom as it was the only way to get the TCK to pass at the time

[2019-09-26 12:06] mazegreg commented on #1893
+1
Any release planned?

[2019-09-26 12:22] machi1990 commented on #1413
This issue has been fixed by https://github.com/quarkusio/quarkus/pull/3399 and deployed in 0.23.1 version. Closing.

[2019-09-26 12:22] #1413 closed

[2019-09-26 12:26] cescoffier commented on #2176
Why can we just use the combination of `@Produces` (indicating SSE) and `@SseElementType` indicating Double?

[2019-09-26 12:37] mazegreg commented on #1893
@ggam In which file / line from which undertow version did you add this workaround? And then , how did you manage to use the recompiled lib?

[2019-09-26 12:44] #4177 closed

[2019-09-26 12:47] objectiser commented on #4197
@geoand Any idea if there are plans to auto generate config docs per extension?

[2019-09-26 12:48] #4178 closed

[2019-09-26 12:50] kenfinnigan commented on #348
@jmartisk will look at OpenTracing TCK

[2019-09-26 12:53] machi1990 commented on #4197
@objectiser yes, we have started the work - and we have a couple of PRs (e.g #3428, https://github.com/quarkusio/quarkus/pull/3809 and #3887 ) already merged for this. The latest PR on this is https://github.com/quarkusio/quarkus/pull/4050.  Some guides have already started using the generated docs, but not all (WIP).

[2019-09-26 12:55] gsmet commented on #4197
@objectiser I would say it's a good opportunity to have a look at the Jaeger extension. I'll do that this afternoon, I need some dumb tasks :).

[2019-09-26 13:05] objectiser commented on #4197
Ok thanks @machi1990 and @gsmet

[2019-09-26 13:08] gsmet opened #4218 "Upgrade to GraalVM 19.3.0 / Java 8 edition"
I created this issue to gather notes about the next GraalVM upgrade.

Per Codrut Stancu from the GraalVM team on Zulip:

Per Codrut again

Note that this means an upgrade of Netty to `4.1.43.Final`. Or another option is to port this patch https://github.com/netty/netty/pull/9631/files to Quarkus via usage of our reflection registration API but I'm not sure if we have `allowUnsafeAccess` support ri

[2019-09-26 13:25] cescoffier commented on #4215
Keycloak quickstart update: https://github.com/quarkusio/quarkus-quickstarts/pull/294

[2019-09-26 13:26] gwenneg commented on #4020
Thanks for your feedback @abelsromero!

[2019-09-26 13:41] cescoffier commented on #4209
Quarkus requires docker for mac. There are several issues with docker-machine.

[2019-09-26 13:42] Nunalves opened #4219 "Way to inject the TestResource into the test"
**Description**
I find it annoying that when using a TestResource i cannot inject its instance into the test.

I have TestResources (classes implementing `QuarkusTestResourceLifecycleManager`) that use an ephemeral port and then we have to have a static field on the test resource to know on which port it started. And if running tests in parallel, well, the static field will not work.

Something li

[2019-09-26 13:53] gsmet commented on #4219
@mkouba this comes from a discussion we had with Nuno on Zulip and I was wondering if you would have some clever ideas to be able to push the test resources to Arc (even if they are started well before ArC comes at play).

[2019-09-26 13:55] geoand commented on #3436
@gytis If you like, please go ahead and continue the work. We will most likely include the repos inside the Quarkus group with descriptive artifactIds

[2019-09-26 14:01] cescoffier commented on #4215
JWT quickstart is broken :-(

[2019-09-26 14:11] geoand commented on #2773
@mkouba I came across this one as part of my exploration in #4212

[2019-09-26 14:22] mkouba commented on #4219
Hm, it seems that `QuarkusTestResourceLifecycleManager` instances are created per test class. And the final set is build from `@QuarkusTestResource` annotations found on the classes in the test classes directory + `QuarkusTestResourceLifecycleManager` service providers.

So in theory, we could register a bean for each `QuarkusTestResourceLifecycleManager` service provider and `@QuarkusTestResource

[2019-09-26 14:32] jaikiran commented on #2176
Hi @cescoffier, the PR https://github.com/quarkusio/quarkus/pull/4167, adds that exact support. Once that's merged and released, the quickstart can be updated.

[2019-09-26 14:34] sberyozkin commented on #4215
@stuartwdouglas I'm still not sure `-vertx-` qualifier is worth it :-), one more extra problem during the migration to the users (they will have to change from `quarkus-keycloak` to `quarkus-vertx-keycloak`)

[2019-09-26 14:35] gastaldi commented on #4205
@brentcrammond that's because when you do
[code]
you are actually reading the  `application.properties` from `src/main/resources`. Try replacing with an absolute path and you'll see that your ConfigSource is correctly called.

You can also run `./mvnw compile quarkus:dev -Ddebug` and configure your IDE to remote debug your project in port 5005

[2019-09-26 14:51] geoand commented on #4205
I am going to go ahead and close as per the explanation from @gastaldi . If you think it should be reopened, feel free to do so adding more information.

Thanks

[2019-09-26 14:51] #4205 closed

[2019-09-26 14:51] mkouba commented on #4219
It turns out that a `QuarkusTestResourceLifecycleManager` can inject anything in a test instance. See `QuarkusTestResourceLifecycleManager#inject(Object)`. And so it should be pretty easy to inject self or a special object like in https://github.com/quarkusio/quarkus/blob/master/test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesMockServerTestResource.java#L

[2019-09-26 15:00] gastaldi commented on #232
I can confirm that this works in Eclipse Version: `2019-06 (4.12.0)` Build id: `20190614-1200` by following the steps described by @cescoffier in https://github.com/quarkusio/quarkus/issues/232#issue-388932524

[2019-09-26 15:02] #232 closed

[2019-09-26 15:15] cescoffier commented on #41
@mkouba isn't this done?

[2019-09-26 15:17] cescoffier commented on #589
Is it complete now?

[2019-09-26 15:18] mkouba commented on #41
I'm not sure. @manovotn could you pls verify the relevant functionalities?

[2019-09-26 15:36] loicmathieu commented on #4218
This release should also add support for Java 11 on GraalVM.
So this means we also need to add test for this combination in the CI :  Native on 11.

[2019-09-26 15:40] gsmet commented on #4218
Yeah or drop Java 8 and only test Java 11. /cc @dmlloyd

[2019-09-26 15:41] FroMage commented on #589
Well, my questions remain unanswered. AFAICT the "writing an extension guide" only mentions it by accident at https://quarkus.io/guides/extension-authors-guide#conditional-step-inclusion and doesn't explain it. At a minimum we need to document it.

[2019-09-26 15:50] dmlloyd commented on #4218
Hopefully people aren't using Java 8 for new projects :)

[2019-09-26 15:56] ggam commented on #1893
If I remember correctly I just put a security constraint on the web.xml

Let me know if it doesn't work and I'll search the test project I did it to
verify.

El jue., 26 sept. 2019 14:37, mazegreg <notifications@github.com> escribió:

[2019-09-26 15:59] loicmathieu commented on #4218
You will be very surprised ... or disapointed :)

[2019-09-26 16:01] gsmet commented on #1893
@sberyozkin could you please have a look to this one? It looks like a bug and maybe not one hard to fix and we have quite a few people asking for it.

Thanks!

[2019-09-26 16:11] aelfric opened #4224 "Possible Lombok Incompatibility"
Sorry if this is not really a Quarkus bug.  I'm a newcommer to Quarkus working on a proof of concept.  I have a project that is making some minimal use of Lombok annotations.  When running `mvn quarkus:dev`, occasionally after modifying one of the Lombok-annotated classes and trying to refresh the browser, I get a an error with the below stacktrace.

**Expected behavior**
Code recompiles successfu

[2019-09-26 16:35] geoand commented on #2773
OK, so I got this working with a quick and dirty fix. Basically all we need to do is use the `QuarkusInjectorFactory` in `RestClientRecorder` when we are setting things up.

I say that the fix is quick and dirty because I just copied stuff from `resteasy-server-common` to `rest-client` extensions.
I'll look at it again tomorrow so I can come up with a clean solution

[2019-09-26 16:36] sberyozkin opened #4226 "smallrye-jwt does not work on top of vertx"
@stuartwdouglas you've mentioned as part of the earlier PR conversation that the Undertow specific code will be gone, do you know how it can be replaced :-) ? With smallrye-jwt not depending on vertx-web it will not be able to connect with the vertx keycloak adapter in order to have the validated tokens exposed

[2019-09-26 18:08] chonton opened #4227 "Support proxy protocol"
**Describe the enhancement**
Support [proxy protocol](https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt). Undertow supports version 1 by setting [useProxyProtocol](http://undertow.io/undertow-docs/undertow-docs-2.0.0/#listeners-2) on the listener.

Interested in this enhancement, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
I suggest using

[2019-09-26 18:20] brenol opened #4228 "issue with building with --static"
**Describe the bug**
Can't build using the provided docker image with --static additionalArgument.

**Expected behavior**
Build a static binary correctly.

**Actual behavior**
No binary is built, seems to be missing gcc dependencies.

**To Reproduce**
Steps to reproduce the behavior:
1. Create simple quarkus project
2. Try to build with additionalArguments = --static
3. See it fail

**Configuratio

[2019-09-26 18:45] gastaldi commented on #722
I think this is already fixed?

[2019-09-26 19:23] dmlloyd commented on #4228
I expect this is probably happening because the base image doesn't contain static versions of `libm.a`, `libdl.a`, `libpthread.a`, etc.

[2019-09-26 19:56] dmlloyd commented on #4224
This does seem like a real Quarkus bug.  If I had to spitball some ideas, I'd say maybe inconsistent TCCL contents might be a possible culprit, or maybe an error in how we assemble the app's class loader which is probably also inconsistent with how we do it in regular mode.  Maybe it varies from run to run or something.

[2019-09-26 20:08] brentcrammond commented on #4205
Thanks I understand the problem now.

I am quite surprised that the working directory is changed when the application is run through "mvnw compile quarkus:dev" and would suggest that it should be running as one would expect in the directory that you start the mvnw in.

I suspect there are good reason for it to be run with the working directory being in target/classes, but this is not the behaviour

[2019-09-26 20:10] geoand commented on #4205
Interesting news suggestion! Do you mind copying it to a new issue?

Thanks!

[2019-09-26 20:10] brentcrammond commented on #4205
No problem will do.

[2019-09-26 20:42] brentcrammond opened #4229 "Working Directory for mvnw compile quarkus:dev"
**Description**
The current system changes the working directory when run using "mvnw compile quarkus:dev" to the target/classes directory.  This basically comes down to an unexpected behaviour.

A basic tenant I normally work to is "when I run something from a directory I expect it to be running in that directory rather than changing to another directory."

As mentioned in the bug report that I b

[2019-09-26 23:59] gastaldi commented on #4211
👍 to change the TCK.

[2019-09-27 04:51] gintsgints opened #4232 "Flyway migrations at test"
I would like to have flyway migrations run at test time. So I configure:

[code]

Flyway is running after orm database generation and gives error on empty database.

What one could do, so Flyway runs before any hibernate updates?

[2019-09-27 06:10] cescoffier commented on #4226
Smallrye JWT use code that we don't support in the new stack (HTTPAuthenticator thingy). However, I've opened a PR to depends on Undertow.

So if you really want to use SmallRye-JWT, you would need to use Undertow (it's going to be pulled anyway).

JWT support is going to be handled by the new security architecture, it won't be the SmallRye component.

[2019-09-27 06:15] cescoffier commented on #4215
@sberyozkin the trick is that it does not provide the keycloak classes anymore. So there is a change in the structure of the artifact.

[2019-09-27 07:17] cmoulliard commented on #4209
Can you then document for mac users then within the HowToGuide how they could do a native docker build please, tools they should use, ... ?

[2019-09-27 07:48] mazegreg commented on #1893
@ggam

Yes please, if you could post your project so that I can see how you arranged the files & contents, it would be grateful! I've tried many combinations and can't find a simple a-z tutorial for getting it work.

Thanks,
Grégoire

[2019-09-27 08:06] gintsgints commented on #2725
Do we consider this issue as solved?

JWT guide should be updated imho - https://quarkus.io/guides/jwt-guide to close this issue.

[2019-09-27 08:21] sberyozkin commented on #4214
@stuartwdouglas what flow are you referring to ? What about a proper association with the roadmap ideas to do with the token propagation (impersonation vs delegation) ? The automatic end to end user authentication enabled via the token propagation is an anti-pattern. @pedroigor FYI

[2019-09-27 08:22] sberyozkin commented on #4214
@stuartwdouglas it has to be coordinated with smallrye-jwt `JsonWebToken` which I thought we agreed about

[2019-09-27 08:26] sberyozkin commented on #4226
@cescoffier are you saying smallrye-jwt is not part of the new security architecture ? That sounds pretty wrong to me. @stuartwdouglas what am I missing ?

[2019-09-27 08:31] sberyozkin opened #4235 "Review a quarkus-vertx-keycloak module name"
Because it is not based on the keycloak specific adapter code any longer and it does not support Keycloak API such as KeycloakConfigResolver and it is meant to be generic (work with any 3rd party OIDC providers)

[2019-09-27 09:12] manovotn commented on #41
@cescoffier @mkouba
Well, Arc deliberately doesn't implement specialization so there's that.
Other than that, in type-level inheritance, we seem to be missing qualifier and stereotype inheritance while scope and interceptor bindings work.
Member-level inheritance seems to work fully.
I've written these tests to try that out - https://github.com/manovotn/quarkus/tree/inheritanceRules

[2019-09-27 09:51] edewit commented on #3535
I couldn't reproduce this anymore it might have been fixed my version is `0.22.0`

[2019-09-27 09:56] jaikiran commented on #4009
@haraldatbmw I used the repo you pointed to and followed the exact instructions in the README, but couldn't reproduce any error. The resource is properly displayed:

[code]
Even from browser it works fine. What exact error are you seeing? Can you paste the logs?

[2019-09-27 09:57] stuartwdouglas commented on #4214
This issue was created from the original roadmap 1.0 board following the F2F, I just went through and hit the button to turn them from notes into real issues.

The original design from the F2F was to use Credential for propagation, which is why this was written the way it was.

[2019-09-27 10:00] FroMage opened #4238 "Some integration tests don't run by default, but have no docs to explain how to run them"
I had a hard time finding how to run the `reactive-pg-client` integration test, because tests are skipped by default. Turns out I needed the `-Dtest-postgresql` flag. Some tests have a `README.md` but not most:

[code]

The following seem to have `<skip>true` in their build, so might be disabled by default too (need to check) and have no `README`:

- integration-tests/hibernate-search-elasticsearc

[2019-09-27 10:01] edewit commented on #3598
This is fixed right, I can't reproduce this

[2019-09-27 10:21] Sanne opened #4239 "High contention on @Transactional annotated methods"
The interceptor we use to implement the `@Transactional` does a lookup of the TransactionManager on each need.

Narayana implements this lookup with a synchronized method; however it should be totally fine to cache this lookup even in a constant.

[2019-09-27 10:44] sberyozkin commented on #4214
@stuartwdouglas thanks for the clarification :-). Actually, now that I think about it, it can be a good master issue for dealing with the mechanics of the token propagation in scope of the client request, since it will be up to the OIDC adapter how to prepare a token for the possible propagation (i.e, whether to use the currently validated token picked up from a header, or have this token exchange

[2019-09-27 10:49] stuartwdouglas commented on #4214
Credential is basically just the raw token (in the current impl). If something more advanced is need we might need to re-think this API. I wonder if there are cases where you would want to generate a new token for propagation with a different set of claims.

[2019-09-27 11:13] haraldatbmw commented on #4009
@jaikiran Just repeated my tests with Quarkus 0.23.1 with the same error result.

Here are some logfile snippets.

**Native Build-Call inside Docker:**

[code]

**Browser output:**
`RESTEASY003210: Could not find resource for full path: http://localhost:8080/subdir/index.html`

![quarkus-subresources](https://user-images.githubusercontent.com/49680586/65765414-7aff3d80-e128-11e9-97fe-d486a6e3bad8.

[2019-09-27 11:16] rvansa opened #4241 "100% CPU in epoll_wait"
**Describe the bug**
In some environments, using native image, all threads reading I/O can spend 100% CPU time polling `epoll_wait(..., timeout=0)`. Turns out this is an effect of `static final io.netty.util.concurrent.ScheduledFutureTask.START_TIME` being set to system-dependent `System.nanoTime()` during compilation and the NioEventLoop behaving in an unexpected way.

Note that this behaviour ca

[2019-09-27 11:22] manovotn commented on #41
FTR, [CDI spec recommends](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#type_level_inheritance) that qualifiers should not declare `@Inherited`:

so that's definitely of minor priority.

As for stereotypes, those would be nice to have feature, but probably not mandatory right away.
It would require deep recursive search through annotations because [stereotypes can declare another stereotypes]

[2019-09-27 11:27] Sanne commented on #4241
thanks @rvansa ! Pinging @stuartwdouglas as I believe he was looking as well into moving such initializations to runtime.

[2019-09-27 11:31] Sanne opened #4243 "Quartz dependency shouldn't start threads when it's not being used"
**Describe the bug**
For some reason an application I was profiling had the scheduler extension listed among its dependencies.

This was likely a mistake as there is nothing being scheduled.

**Expected behavior**
The extension should be "harmless"

**Actual behavior**
A couple of scheduling related threads are being initialized, and are running in background: stealing CPU time and memory from the

[2019-09-27 11:41] #4239 closed

[2019-09-27 11:58] jaikiran commented on #4009
Couple of interesting things:
1. You seem to be on Windows OS, which is different from what I have been testing.
2. Based on your screenshot, it looks like RestEasy is responding to this resource URL instead of being served statically? Maybe the resource URL matching is going wrong for some reason on your (Windows OS) setup? I have to look at the code later to see if any of this makes sense.

[2019-09-27 12:02] stuartwdouglas commented on #4009
This is almost certainly a windows issue. I will try and take a look when I am back home and have access to a windows machine

[2019-09-27 12:36] jaikiran commented on #4009
@stuartwdouglas, perhaps this is relevant https://github.com/quarkusio/quarkus/pull/4244?

[2019-09-27 13:04] lbernardomaia opened #4245 "Quarkus Mail + Env Variable + 0.23.1"
Hi,

There is an issue that I'm facing after upgrade to 0.23.1 version, I don't face the issue when using 0.22.0.

Basically, if I have the code below, and the env variables are empty i.e  ```MAIL_USER=```, an error is thrown when using the native image.

application.properties
[code]

log:
[code]

[2019-09-27 13:04] #2773 closed

[2019-09-27 13:08] lbernardomaia commented on #3637
An update about this issue.

The problem I mentioned with MicroProfile Restclient, it's not happening on 0.22.0 version, though the other error  ```quarkus.mailer.port=${MAIL_PORT}``` is still there.

thanks.

[2019-09-27 13:10] machi1990 commented on #4245
related to https://github.com/quarkusio/quarkus/issues/4123? @dmlloyd @gsmet

[2019-09-27 13:10] wglanzer commented on #3637
@lbernardomaia Same problem here with 0.23.1

[2019-09-27 13:19] rvansa commented on #4241
Could someone on quarkus-dev ml also ping this user who seems to suffer from the same problem?
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/quarkus-dev/jjwCQJMV434/mlujuFClAAAJ

[2019-09-27 13:51] sberyozkin commented on #3064
Hi @cescoffier, @stuartwdouglas
Here is one possible way which it might work.
1. Introduce `PrincipalProvider` spi:
[code]
2. `quarkus-smallrye-jwt` ships `JsonWebTokenProvider`:

[code]
3. Have the 'master' token validators, example, a keycloak adapter, checking for `PrincipalProvider` before using its own Principal implementation

It looks like it can work...thanks

[2019-09-27 14:01] stuartwdouglas commented on #3064
You can already do this via io.quarkus.security.identity.SecurityIdentityAugmentor

[2019-09-27 14:37] dmlloyd commented on #4245
No, it's a new problem, but working as designed: by specifying the environment variable as empty (rather than undefining it), you're explicitly saying that you want the value to be empty, which will cause a failure.  Since you're expanding the property with no default, you're also causing the property to be undefined as well.

So, first you need to change your config like this:
[code]

This says "

[2019-09-27 14:57] radcortez commented on #2835
+1

[2019-09-27 15:09] rquinio opened #4248 "Native image - ClassNotFoundException: org.conscrypt.BufferAllocator"
**Describe the bug**

When upgrading from Quarkus 0.19.0 to 0.23.1 (GraalVM 19.0.2 to 19.2.0.1) I'm getting this error at native-image compilation:

[code]

I tried to zgrep for conscrypt or org.conscrypt.BufferAllocator in target/lib, but didn't find any references in any jar.

**Expected behavior**

Should compile (was fine on Quarkus 0.19.0 + GraalVM 19.0.2).

**To Reproduce**

I don't have a r

[2019-09-27 15:53] machi1990 commented on #4245
Thanks @dmlloyd for chiming in with a good explanation.

Indeed, this is a good alternative solution since mailer configurations can be overridden at runtime.

[2019-09-27 16:01] lburgazzoli commented on #4248
This can be reproduced using

    https://github.com/lburgazzoli/apache-camel-quarkus/tree/quarkus-0.23.1/integration-tests/jdbc

[2019-09-27 16:02] rquinio opened #4249 "Maven settings-security.xml mandatory even if not used"
**Describe the bug**

After upgrading from 0.19.0 to 0.23.1, I'm getting the following stacktrace during QuarkusTest execution:

[code]

**Expected behavior**

No stacktrace, like when using standalone Maven.

**To Reproduce**

In my Maven settings.xml I have:

[code]
I'm using environment variables with an encrypted token, rather than settings-security.xml mechanism.

I guess `${}` is also matchi

[2019-09-27 16:26] #294 closed

[2019-09-27 17:15] sberyozkin commented on #3064
@stuartwdouglas this is very nice :-) I guess `smallrye-jwt` should first be updated to work with the vertx-web, but I can definitely experiment with this enhancement independently

[2019-09-27 17:55] cescoffier commented on #4226
Update: it does work now.

[2019-09-27 17:55] #4226 closed

[2019-09-27 18:03] cescoffier commented on #4248
Thanks @lburgazzoli, I'm on it.

[2019-09-27 18:08] cescoffier commented on #4248
@lburgazzoli Failed to build it:
[code]

Does that ring a bell?

[2019-09-27 19:52] sberyozkin commented on #4226
@cescoffier:+1: thank you

[2019-09-27 19:57] #3939 closed

[2019-09-27 20:06] pedroigor commented on #4214
@stuartwdouglas There are cases where you want a new token in order to invoke other services. Take the [`audience` claim](https://tools.ietf.org/html/rfc7519#section-4.1) as an example.

Another example could be related to the access scope of the token which can be different across different services even though services are dealing with the same subject.

[2019-09-27 20:08] pedroigor commented on #4175
@sberyozkin, IIRC, the integration tests for the keycloak extension is using containers to bootstrap the server during test execution. Or do you mean to something else ?

[2019-09-28 05:12] jclingan commented on #3992
BTW, I can confirm that @RequestParam requires a name attribute.

[2019-09-28 06:19] lburgazzoli commented on #4248
It does not fail for me, did you install the whole project before ? That error should have been fixed

[2019-09-28 07:22] cescoffier commented on #4248
Issue reproduced! Going to work on a fix today

[2019-09-28 09:18] gintsgints commented on #4200
Can you open test-service/open-api ?

Also why not try with default paths.
Use only one config:
[code]
Check /swagger-ui/ then.

[2019-09-28 09:23] gintsgints commented on #4215
@cescoffier In keycloak guide, write tests part is missing. Probably, best way could be start from writing tests at https://github.com/quarkusio/quarkus-quickstarts.git (using-keycloak)

[2019-09-28 09:36] julicjung commented on #3294
As far as I can tell this is fixed in in v0.23.1. When I bump the version numbers in my reproducer (linked in an earlier comment) it builds flawlessly.

[2019-09-28 11:03] gintsgints opened #4253 "Use of both configs of quarkus.keycloak keycloak.json and application.properties."
When I have application which have keycloak.config in json file for config, application.properties file seems to be ignored.

How to repeat:
* Create keycloak.config with full configuration except auth-server-url.
* add variable quarkus.keycloak.auth-server-url to application.properties with correct url.

What happens:
application complains about auth-server-url not provided.

What I expect:
appli

[2019-09-28 11:08] gintsgints commented on #4253
For now I use workaround to change keycloak.config within external environment variable:

```"auth-server-url": "http://${env.KEYCLOAK_SERVER}/auth"```

[2019-09-28 12:06] oztimpower opened #4254 "vertx caching folder cannot be created with Amazon Lambda extension"
Amazon Lambda extension requires an immutable file system.

Upon execution on AWS, vertx attempts to create the vertx cache folder.  This causes the AWS Lambda execution to fail with the stack trace below.  When run locally using sam-local (docker) it works ok.

The vertx configuration in io.quarkus.vertx.core.runtime.config.VertxConfiguration.caching is set to true by default.  For the Amazon Lam

[2019-09-28 12:24] geoand commented on #4254
@cescoffier what are the implications of disabling caching?

[2019-09-28 12:27] geoand commented on #4245
So should this be closed as invalid (working as expected)?

[2019-09-28 14:31] marcelhanser commented on #3592
I get the same error with 0.23.1 in Windows 10 and OpenJDK 11 with a fresh generated quarkus application. I just switched the version to 0.23.1:
java.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/Users/Marcel/.m2/repository/io/quarkus/quarkus-netty/0.23.1/quarkus-netty-0.23.1.jar
	at java.base/sun.nio.fs.WindowsPathParser.normalize(WindowsPathParser.java:182)
	at java.base/sun.ni

[2019-09-28 17:38] rquinio commented on #4249
Actually the error is legit, I didn't have the env variables set in local - only the CI had them since it needs to authenticate to publish.
With Maven CLI, the SecDispatcherException / FileNotFoundException is only reported when in DEBUG (-X), hence I didn't see anything.

[2019-09-28 17:38] #4249 closed

[2019-09-28 19:36] dmlloyd commented on #4245
Sure, unless someone has a good argument that the current behavior is wrong.

[2019-09-29 04:08] jaikiran commented on #4224
@aelfric Is there a project you can share, perhaps as a github repo, which helps reproduce this issue?

[2019-09-29 04:11] aelfric commented on #4224
Unfortunately, the project is closed source, but I'll see if I can make a
minimal example with a similar structure that has the same unexpected
behavior.

On Sun, Sep 29, 2019, 12:08 AM Jaikiran <notifications@github.com> wrote:

[2019-09-29 07:36] patoessy opened #4256 "Profile exception"
This is the error I keep getting.

Exception in thread "main" java.lang.ExceptionInInitializerError
	at io.quarkus.runner.GeneratedMain.main(GeneratedMain.zig:27)
Caused by: java.lang.RuntimeException: Failed to start quarkus
	at io.quarkus.runner.ApplicationImpl2.<clinit>(ApplicationImpl2.zig:147)
	... 1 more
Caused by: java.lang.NoSuchMethodError: io.quarkus.runtime.configuration.ProfileManager.

[2019-09-29 07:39] patoessy commented on #4256
quarkusDev works fine. But quarkusBuild then java -jar app.jar fails with the error

[2019-09-29 09:15] cescoffier commented on #820
We need to stabilize Http/2 first, then gRPC should be easy.

[2019-09-29 10:44] machi1990 opened #4257 "WARNING: Thread locked for more than 60000ms when launching a full build"
**Describe the bug**
When launching a full Quarkus build from master, I have this warning
[code]
**Expected behavior**
Thread to not be locked for more than the default limit `1m`
**Actual behavior**
The warning above appears over and over.

**To Reproduce**
Steps to reproduce the behavior:
1. `mvn clean install` on the current master

**Environment (please complete the following information):**

[2019-09-29 11:47] jaikiran commented on #2686
@emmanuelbernard Here's a PR for this change https://github.com/quarkusio/quarkus/pull/4259

[2019-09-29 13:53] mmusgrov opened #4260 "An extension providing Narayana Software Transactional Memory"
The Narayana open source project [provides a Software Transactional Memory implementation](https://narayana.io/docs/project/index.html#d0e16066). To simplify the use of STM in quarkus based applications an extension would be useful. In particular our STM implementation makes use of reflection and dynamic proxies which makes native mode difficult for developers and it would be nice if these can be

[2019-09-29 15:51] rgrebski opened #4262 "GCP Run: Fatal error: Util_sun_misc_Signal.ensureInitialized: CSunMiscSignal.open() failed"
**Describe the bug**
I tried to run Quarkus sample app generated by Maven on Google Cloud Run, but unfortunately I get:
Fatal error: Util_sun_misc_Signal.ensureInitialized: CSunMiscSignal.open() failed

**Expected behavior**
App runs correctly on GCP Run

**Actual behavior**
App Fails to run

**To Reproduce**
Steps to reproduce the behavior:
1. Generate quarkus project using Maven
2. Build docker

[2019-09-29 18:23] andreabreu-me opened #4264 "No ANSI colors with Gradle plugin"
Running Quarkus with Gradle does not output ANSI colors. Is there some configuration to enable it?

[2019-09-29 18:28] machi1990 commented on #2686
@sberyozkin I am assigning @jaikiran to the issue since he proposed a PR to fix it.

[2019-09-29 18:51] the-bug opened #4265 "Native build leads to HibernateException: Unable to parse order-by fragment"
**Describe the bug**
Adding a `@OrderBy` annotation to a `@OneToMany` mapping leads to a exception in Hibernate with native compilation.

**Expected behavior**
Working native compilation.

**Actual behavior**
See 'To Reproduce'

**To Reproduce**
Steps to reproduce the behavior:
1. run 'mvn io.quarkus:quarkus-maven-plugin:0.22.0:create'
1. run 'cd my-quarkus-project'
2. run './mvnw quarkus:add-exte

[2019-09-29 19:03] geoandri commented on #4059
I think the quarkus-http dependency that was introduced in 0.23.0 (https://github.com/quarkusio/quarkus/blob/0.23.0/bom/runtime/pom.xml#L27) caused the problem (https://github.com/quarkusio/quarkus-http/blob/3.0.0.Alpha5/core/src/main/java/io/undertow/server/handlers/accesslog/AccessLogHandler.java#L164).
In 0.22.0, the undertow dependency had the appropriate `parameters()` method (https://github.

[2019-09-29 19:34] andreabreu-me commented on #4264
updating to 0.23.1 resolved the issue

[2019-09-29 19:34] #4264 closed

[2019-09-29 19:42] ggam commented on #1893
@mazegreg I don't find the project but you should just need to add the following to the web.xml file:

[code]

Where /* is the pattern you want to protect and ** role means "authentication required, with no specific role".

[2019-09-29 21:00] andreabreu-me commented on #4264
also needed to add `quarkus.log.console.color=true` to properties file

[2019-09-29 21:40] andreabreu-me opened #4266 "Using kotlinx.serialization in Kotlin fails after file change"
**Describe the bug**
Using `kotlinx.serialization` to serialize an object always fails on compiling Kotlin after editing the file in development mode.

**Expected behavior**
Compilation without errors.

**Actual behavior**
Running `./gradlew quarkusDev` and making some change to `ExampleResource.kt` fails.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `$ git clone https://github.co

[2019-09-30 01:20] cristianonicolai opened #4267 "Support WebSocket sub-protocols setting for Vert.x web server"
**Description**
In order to allow using GraqhQL WebSocket subscription implementation, Quarkus needs to allow setting the Vert.X webserver WebSocket sub-protocols.
See: https://vertx.io/docs/vertx-web-graphql/java/#_apollo_websocketlink

**Implementation ideas**
Add new configuration parameter to application.properties which allows to set the sub-protocols string. Ex: quarkus.http.web-socket-sub-p

[2019-09-30 04:52] lburgazzoli opened #4270 "Enhanced conditional BuildStep"
The `BuildStep` annotation supports simple conditions `onlyIn/onlyIfNot` that one can implement using a `BooleanSupplier` but in some cases it would be nice to have support for more enhanced construct.

In my specific case I have a core extension with a `BuildStep` that should provide the default instance for a given interface and a number of extensions that can provide specialized implementations

[2019-09-30 05:40] stuartwdouglas commented on #4214
All of this info should be available from the SecurityIdentity. We probably just need some kind of config or interface to control how this is propagated.

[2019-09-30 05:52] cescoffier commented on #4254
@geoand the main impact would be when serving static files, as they are unpacked into the cache dir and read from there. In a lambda environment, serving static file is probably not used (@patriot1burke can you confirm?), so we could disable that.

Vert.x use the system `tmp` directory to create the cache directory, do it means that on AWS there is no `tmp`?

[2019-09-30 05:53] cescoffier commented on #4267
@tsegismont FYI

[2019-09-30 05:54] cescoffier commented on #4267
@tsegismont if we add a sub-protocol config would that be enough?

[2019-09-30 05:55] cescoffier commented on #4245
Agreed, I made the mailer this way actually. username and password are runtime as IMHO it's a runtime thing.

[2019-09-30 05:55] cescoffier commented on #4245
Please reopen if you disagree with the invalidity.

[2019-09-30 05:55] #4245 closed

[2019-09-30 05:58] cescoffier commented on #4248
Ok, still struggling with this one.

Some research found that @FroMage introduced the `Conscript` deletion.

What I fail to understand if how it is triggered. Having the same set of dependency, in the same order does not trigger it.

Which java version are you using?

[2019-09-30 06:43] geoand commented on #4257
@machi1990 Thanks for reporting.
Since you are using master, could you please add the sha of the commit? There are various things that are being done that might affect this so it would be great to know the exact version which you used to reproduce the problem

[2019-09-30 06:44] geoand commented on #4256
Hi,

Could you please provide the info that is requested in the bug template?

Thanks

[2019-09-30 06:45] geoand commented on #4253
@sberyozkin this one is for you perhaps? :)

[2019-09-30 06:48] stuartwdouglas opened #4272 "Ability to pass CDI managed instances into a recorder"
At the moment it is quite difficult to mix recording and CdI managed instances. It should be possible to use the RecorderContext to request a proxy for a CDI normal scoped bean or Instance that can then be passed into the recorder.

I think has the potential to simplify a lot of code, and make it much less likely to get circular dependencies with the bean container.

[2019-09-30 07:13] cescoffier commented on #4248
The `reportErrorsAtRuntime` seems to be the cause

[2019-09-30 07:32] lburgazzoli commented on #4248
Yep, removing `reportErrorsAtRuntime` seems to make the test working, that's looks weird

[2019-09-30 08:04] mkouba commented on #4272
@stuartwdouglas A simple pseudocode example would be really helpful. It has a potential to simplify the code but it could be also even more confusing for extension authors.

[2019-09-30 08:08] machi1990 commented on #4257
Thanks @geoand , I have updated the issue with the sha of the commit.

[2019-09-30 08:23] #764 closed

[2019-09-30 08:41] cescoffier commented on #764
This is actually causing #4248

[2019-09-30 08:44] cescoffier commented on #4248
working on a new set of substitutions working in both modes.

[2019-09-30 08:49] jaikiran commented on #4262
Hello @rgrebski, which version of Graal VM and Quarkus are you using?

[2019-09-30 09:03] rgrebski commented on #4262
Thx for quick response. Versions:

Quarkus: 0.23.1
GraalVM: GraalVM CE 19.1.1  (tried also with 19.2.0 and 19.2.1)

[2019-09-30 09:05] tsegismont commented on #4267
@cescoffier yes that should be enough

[2019-09-30 09:06] cescoffier commented on #4267
Ok will work on it.

[2019-09-30 09:20] cescoffier commented on #4267
@stuartwdouglas Actually, how would that work as the WebSocket is managed in quarkus-http?

[2019-09-30 09:22] geoand commented on #4266
This is basically a duplicate of #2811 because `kotlinx-serialization-runtime` is a compiler plugin which does not get applied during dev mode.

[2019-09-30 09:22] #4266 closed

[2019-09-30 09:37] mazegreg commented on #1893
Thank you @stuartwdouglas for your commit.
I've copied your code and compiled the extension resteasy on my side. Now, if I want to try it on one of my projects, would copy/pasting the ouput quarkus-resteasy-999-SNAPSHOT.jar file to my target directory be sufficient to see the pop up appear?

[2019-09-30 09:49] cescoffier commented on #4267
Actually, Stuart already commented on the PR:
https://github.com/quarkusio/quarkus/pull/4268#issuecomment-536398930

[2019-09-30 09:49] emmanuelbernard opened #4275 "Possible inconsistencies in Kafka Streams guide"
Hey @gunnarmorling

I was discussing with @mouachan and he had a hard time following the guide. In particular, `metadata.host().equals(host)` came out of nowhere and he did not get how we retrieve the host.

He looked at https://github.com/quarkusio/quarkus-quickstarts/tree/master/kafka-streams-quickstart but it looks like an entirely different code than the one in the guide.

I'm opening this to

[2019-09-30 09:56] #4248 closed

[2019-09-30 10:12] gunnarmorling commented on #4275
Ok, let's see what we can do.

The host name [is injected](https://github.com/quarkusio/quarkus-quickstarts/blob/master/kafka-streams-quickstart/aggregator/src/main/java/org/acme/quarkus/sample/kafkastreams/streams/InteractiveQueries.java#L27-L28) based on the `HOSTNAME` env var.

It is part of a key's metadata on which application node (as identified by host names) it is maintained. So when looki

[2019-09-30 10:26] hpehl commented on #820
@cescoffier Thanks for thew update. Let me know when you're done.

[2019-09-30 10:27] geoand commented on #4219
I propose this issue be closed since the mechanism that @mkouba described (seems to be that it) can be used to achieved

[2019-09-30 10:28] geoand commented on #4256
A wild guess: are you using multiple Quarkus versions?

[2019-09-30 10:31] lbernardomaia commented on #4245
Agree, thanks for the explanation @dmlloyd !

[2019-09-30 11:01] gsmet commented on #4197
@FreifeldRoyi @objectiser this PR will add the configuration documentation to the guide: https://github.com/quarkusio/quarkus/pull/4276

[2019-09-30 11:20] objectiser commented on #4197
@gsmet Thanks! Will a preview be available somewhere?

[2019-09-30 11:55] mouachan commented on #4275
Hi Gunnar,

Thanks for the explanation ! If we follow only the guide (without looking to the git repo), it’s a bit hard to understand that the hostname is injected.

Please forget this, I was looking to the wrong git repo.

Thanks a lot.

Regards,

Mourad

[2019-09-30 11:56] jaikiran commented on #2686
The PR has been merged, so I think this enhancement can now be closed.

[2019-09-30 12:01] gunnarmorling commented on #4275
hard to understand that the hostname is injected.

I see; so perhaps we should expand this part a bit then. Perhaps you could
send a PR with the clarification you have in mind?

[2019-09-30 12:54] machi1990 commented on #2686
Fixed by #4259

[2019-09-30 12:54] #2686 closed

[2019-09-30 13:11] deripas opened #4278 "RxJava Support"
How about using asynchronous Rest in a reactive style.
For example, current support `CompletionStage`:
[code]
Expected replacement:
[code]

From Spring [Reactive Types](https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html#mvc-ann-async-reactive-types)

[2019-09-30 13:13] kenfinnigan commented on #4278
I'm pretty sure RX return types are already supported with RESTEasy.

@FroMage should be able to confirm

[2019-09-30 13:26] limadelrey commented on #4200
Hi @gintsgints,

I've tried to use default paths just like you suggested by only setting up the following properties:

[code]

Now I can access both endpoints:
`/test-service/openapi`
`/test-service/swagger-ui`

However, I keep getting the same error as before:
<img width="1491" alt="Screenshot 2019-09-30 at 14 25 55" src="https://user-images.githubusercontent.com/14318789/65883099-3ffe4380-e38e-1

[2019-09-30 13:38] sberyozkin commented on #4253
@geoand Hi, yeah, I was wondering what to reply, because right now, on master, the oidc adapter code is being changed :-)

[2019-09-30 13:39] deripas commented on #4278
You can learn more about how to do this?
I have  dependency RestEasy:
[code]
And Rest controller:
[code]

Response via rest-client (as simple `toString`):
[code]

[2019-09-30 13:39] gsmet commented on #4200
Unfortunately, this is a bug in the Swagger UI extension: it doesn't
properly take into account the context path.

If you change the "/openapi" in the field at the top to
"/test-service/openapi", I'm pretty sure it will be OK.

Now, the thing is that with our new Vert.x based layer, I'm not sure how
this is handled now.

--
Guillaume

On Mon, Sep 30, 2019 at 3:26 PM limadelrey <notifications@githu

[2019-09-30 13:41] gsmet commented on #4200
@stuartwdouglas @cescoffier do we have an equivalent to the `contextPath` in the new HTTP layer?

[2019-09-30 13:50] kenfinnigan commented on #4278
Take a look at https://docs.jboss.org/resteasy/docs/4.3.1.Final/userguide/html_single/index.html#d4e2322

You would need a dependency for `resteasy-rxjava2` artifact from RESTEasy. It's already present within the Quarkus BOM (https://github.com/quarkusio/quarkus/blob/master/bom/runtime/pom.xml#L1546) so you don't need to specify a version

[2019-09-30 13:58] deripas commented on #4278
Thanks!

[2019-09-30 13:58] #4278 closed

[2019-09-30 14:37] lbernardomaia opened #4280 "Injection into tests (@QuarkusTest + @Inject +@Produces)"
Hi,

Not sure if it's a problem but I'm unable to inject a bean using @QuarkusTest because there is an error about "ambiguous dependencies" and this problem only happens when I try to run the test, the resource I created can be accessed. Am I missing something?

MessageResource:
[code]

MessageProducer:
[code]
MessageService:
[code]

Message:
[code]

MessageServiceTest:
[code]

Log error:
[code]

[2019-09-30 14:40] sberyozkin commented on #3685
Some applications like masking the errors and return 200 even if it is 403 :-).
having a setting (always report - default, block them - optional, may be no one will ever use it but having it there could be useful for running Quarkus in ultra sensitive set ups I guess)

[2019-09-30 14:46] oztimpower commented on #4254
I did lots of digging today to drill into the problem.  With a pure java implementation, it works.  However with the native-image version it doesn't.  The difference is that the native image uses "/var/tmp" as the temp folder.

I tested it manually, modifying the bootstrap shell script, creating the directories in both /tmp and /var/tmp.  I can create /tmp/vertx-cache, but I cannot create /var/tmp

[2019-09-30 14:50] sberyozkin commented on #4175
@pedroigor ignore me please, another pint on me :-), I was under impressions there were only mocked tests there. sorry

[2019-09-30 14:50] #4175 closed

[2019-09-30 14:51] oztimpower commented on #4254
I have traced the issue.  Yes /tmp is writeable for AWS Lambda, for both files and directories.

However native-image sees the java.io.tmpdir as “/var/tmp”, which is read-only.  Is this determined at compile time in native-image by the docker linux container used?

The pure-java version works fine (which means it uses /tmp for it’s java.io <http://java.io/>.tmpdir on AWS lambda).

java.io <http://

[2019-09-30 15:00] lburgazzoli commented on #4270
/cc @stuartwdouglas this is about what we talked about last week

[2019-09-30 15:02] sberyozkin opened #4281 "JAX-RS subresources do not work in the native mode"
**Describe the bug**
JAX-RS subresources are not recognized in the native mode.

**Expected behavior**
They work as expected

**Actual behavior**
An exception like the one below is thrown:
[code]
**To Reproduce**

Remove [this override](https://github.com/quarkusio/quarkus-quickstarts/blob/development/security-jwt-quickstart/src/test/java/org/acme/jwt/TokenSecuredResourceIT.java#L13) in the using-

[2019-09-30 15:33] cescoffier commented on #4254
Can you try to pass -Djava.io.tmpdir=/tmp to the native executable?

[2019-09-30 16:56] FreifeldRoyi commented on #4197
Awesome! Is it going to change the docs in the Guide section?

[2019-09-30 17:00] sberyozkin commented on #3064
Hi Stuart, @stuartwdouglas,
I've started looking at it. As agreed, [this code](https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-keycloak/runtime/src/main/java/io/quarkus/vertx/keycloak/VertxOAuth2IdentityProvider.java#L56) should not be there (with [this one](https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-keycloak/runtime/src/main/java/io/quarkus/vertx/keycloak/

[2019-09-30 17:04] oztimpower commented on #4254
That worked:
*-runner -Djava.io <http://djava.io/>.tmpdir=/tmp

However next problem, -H:EnableURLProtocols=http needs to be passed to the native-image command.  For some reason that’s not appearing in the native-image command, captured below. When I manually added the http protocol to the native-image compile command, everything worked ok, all fixed.

START RequestId: 211f3508-4af3-46ef-ab8a-73ce

[2019-09-30 17:27] machi1990 commented on #4197
@FreifeldRoyi yes, but we'll have to wait the next release for that.

right? @gsmet

[2019-09-30 17:51] sberyozkin commented on #4235
@stuartwdouglas
I've looked at the code more carefully and I understand it better why you call it `quarkus-vertx-keycloak` :-), but I do feel it would be better to make a clean break now with something like `quarkus-vertx-oidc` because otherwise we will keep sending some kind of a message that it is Keycloak based, but it won't be, given the generic nature of the Vertx adapter which can validate t

[2019-09-30 19:02] #4197 closed

[2019-09-30 19:10] #4115 closed

[2019-09-30 19:33] #3497 closed

[2019-09-30 20:17] dhartford commented on #3312
Is this still a WIP?  Just doing a check-in to see if there is something in motion (npm dev UI environment with quarkus dev backend environment).  The scenario I have is a quarkus w/ undertow, resteasy, and smallrye-openapi and using Postman not getting any of the CORS-associated headers in the response for the rest/openapi endpoint (no Access-Control-Allow-Origin header entry).

Tested quarkus 0.

[2019-09-30 23:27] #2176 closed

[2019-10-01 00:07] ricardozanini opened #4285 "Externalize hotrod-client.properties with infinispan-client"
**Description**
When deploying a quarkus native application on a Kubernetes cluster, we need a easy way to configure the HotRod Client using `hotrod-client.properties`. Right now, the extension only supports reading this configuration from classpath. On cloud environments would be impossible to have such file mapped to a `configMap`, for example.

One use case is: How do we set authentication opti

[2019-10-01 02:41] stuartwdouglas commented on #3064
The augmenter is just a CDI bean, so you just install it with an unremovable AdditionalBeanBuildItem.

You do need to be a bit careful as if there is other forms of authentication present then not every identity may have a JWT token, so you will need to verify that the credential is the correct type, or add some kind of attribute to the identity to indicate that it was created from a JWT credentia

[2019-10-01 02:57] gytis commented on #3436
@geoand I've pushed APIs needed for DI and Web modules to my org.
quarkus-spring-di-api: https://github.com/gytis/quarkus-spring-di-api
quarkus-spring-web-api: https://github.com/gytis/quarkus-spring-web-api
quarkus change commit: https://github.com/gytis/quarkus/commit/b9261fe73bf890b941f1026084903b3e9b8a5e5f

[2019-10-01 03:20] davsclaus commented on #3962
@aloubyansky is there any update on this?

[2019-10-01 03:37] jaikiran commented on #2176
I've openede a PR in the quickstarts repo to remove the previously added workaround https://github.com/quarkusio/quarkus-quickstarts/pull/298

[2019-10-01 05:45] stuartwdouglas commented on #4270
I don't know if the core build step processing can actually handle this, at the moment we handle this as you have described, with a MultiBuildItem that extensions produce, and then an aggregator step that produces the real SimpleBuildItem (providing a default if necessary).

@dmlloyd is there a way to simplify this, or would it require major changes to the build step handling?

[2019-10-01 05:54] stuartwdouglas commented on #4200
We will once https://github.com/quarkusio/quarkus/pull/4286 is merged, and it should handle all this correctly.

[2019-10-01 05:56] stuartwdouglas commented on #1893
It should, as this change does not affect any deployment time code.

[2019-10-01 05:57] stuartwdouglas commented on #1893
Actually there are likely many incompatibilities between 999-SNAPSHOT and whatever version you are using, so it likely won't work.

[2019-10-01 06:09] aloubyansky commented on #3962
Yes, IMO, we should not do this. This could work if the Quarkus and the Camel extensions were pretty much always compatible, which I found was not actually the case. Given that we won't be testing the Camel extension in the Quarkus build (to avoid circular dependencies), we won't be catching introduced incompatibilities and risk promoting incompatible versions of Quarkus and the Camel extension th

[2019-10-01 07:24] geoand commented on #3436
@gytis Great stuff!

@n1hility I don't think I can create repos in the quarkus org, could you do that or give me the karma to do so :)?

[2019-10-01 08:12] patoessy commented on #4256
Am not using 2 versions of quarkus

[2019-10-01 08:15] geoand commented on #4256
Can you then please provide the information that was requested in the ticket template?

[2019-10-01 08:19] jmartisk opened #4289 "Maven plugin's devmode doesn't take into account versions overridden through system properties or profiles"
If I run devmode with an application with a pom like this:
[code]

but I override the `quarkus.version` from the command line (as an argument to the `mvn` command), it will still spin up Quarkus 0.21.0 instead of the version that I requested (it will execute the Maven plugin of the correct version, but the Maven plugin will run the wrong version of Quarkus). The same thing happens if I add and act

[2019-10-01 08:22] patoessy commented on #4256
@geoand I found the solution, updated to version 0.22.0  and updated   enforcedPlatform('io.quarkus:quarkus-bom:0.22.0') to 0.22.0 from 0.19.0. Thanks. Took me 2 days debugging

[2019-10-01 08:25] patoessy commented on #4256
Now closing the issue, luckily am looking to write a blog post about quarkus after am through with a project am working on. Cheers

[2019-10-01 08:25] #4256 closed

[2019-10-01 08:29] geoand commented on #4256
Glad to hear you fixed it!

[2019-10-01 09:35] geoand commented on #4280
Question: It looks like this is happenin when running the tests from the IDE, correct?

Do you get the same error when running the tests from the build tool

[2019-10-01 09:41] limadelrey commented on #4200
Perfect! Thank you @gsmet, @stuartwdouglas and @gintsgints.

[2019-10-01 10:13] lbernardomaia commented on #4280
I'm getting the same error executing ```mvn verify -Pnative```. The difference is if the target folder exists or not.

Without Target folder:

[code]

With the target folder, i.e running the tests for the second time

[code]

[2019-10-01 10:20] geoand commented on #4280
Thanks for the info.

Would it be possible to have a minimum reproducer that exhibits this behavior?

[2019-10-01 10:49] sberyozkin commented on #3064
@stuartwdouglas Hi Stuart, I've been thinking more, and I'm not sure the augmentation model in the current form works for this task. If the `vertx-keycloak` module is validating the token and then parsing again to prepare a JWT principal then there is nothing that quarkus-smallrye-jwt can augment.

My understanding was there would be some intermediate model that would be passed around.

For exampl

[2019-10-01 11:31] stuartwdouglas commented on #3064
You just make the AccessToken available in the SecurityIdentity under a property name. The augmenter can then retrieve it and do whatever it wants, including any role mapping.

[2019-10-01 11:49] sberyozkin commented on #3064
@stuartwdouglas that is well thought out, cool. In this case then we'd need to have `vertx-keycloak` depending on `quarkus-smallrye-jwt` to guarantee a principal would be provided as I'd have to remove a double parsing code. I'd still need to refactor smallrye-jwt to deal with a Map when manipulating the mappings, etc but the good news you've already set the good expectations with this module, whi

[2019-10-01 12:05] manovotn opened #4292 "Arc - parameterized type that contains a wildcard type parameter is not a legal bean type"
Issue is based on a discussion (and code) in this PR - https://github.com/quarkusio/quarkus/pull/4279

According to CDI specification, namely paragraph about [Legal Bean Types](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#legal_bean_types), a param. type with wildcard is an illegal bean type.
Later on the spec says that:

Hence this isn't really an error blowing the application up, it would j

[2019-10-01 12:07] mswiderski opened #4293 "Managed Vertx instance should be closed after all Kafka resources have been closed"
**Describe the bug**
Applications that uses quarkus-smallrye-reactive-messaging-kafka experiences following stacktrace on shutdown

[code]

**Expected behavior**
graceful shutdown

**Actual behavior**
each outgoing channel configured in the application will cause the above stacktrace to be logged

**To Reproduce**
Use quarkus with reactive messaging Kafka with outgoing channel configured

**Additi

[2019-10-01 12:32] mkouba opened #4294 "Vertx web - shared BodyHandler instance"
@stuartwdouglas @cescoffier Is there a reason why we create a new `BodyHandler` for each `@Route` method?

https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-web/runtime/src/main/java/io/quarkus/vertx/web/runtime/VertxWebRecorder.java#L70-L82

If not I can modify the code to share one instance instead.

[2019-10-01 12:46] gsmet commented on #4218
Reopening, we haven't upgraded yet.

[2019-10-01 12:49] mswiderski commented on #4285
@wburns would you mind to have a look on the suggestion here?

[2019-10-01 13:27] sberyozkin commented on #2764
@yuhaibohotmail I have updated the title since @vsevel has completed #2897. Please open another issue if you'd like Spring Cloud Config be added on

[2019-10-01 13:46] lbernardomaia commented on #4280
@geoand , here is the project https://github.com/lbernardomaia/quarkus-issue-4280

[2019-10-01 13:47] geoand commented on #4280
Thanks @lbernardomaia. I'll hopefully take a look soon

[2019-10-01 14:06] gsmet commented on #4173
@geoand what's the status of this one? Is it fixed?

[2019-10-01 14:13] geoand commented on #4173
Yes, it was fixed in #4191

[2019-10-01 14:13] #4173 closed

[2019-10-01 14:19] patriot1burke commented on #3084
I was under the impression that @vietj already did a non-blocking resteasy implementation for client based on vertx.  That the work to do was get client and server using the same Vertx instance (and thus same event loop)

[2019-10-01 14:29] #4241 closed

[2019-10-01 14:47] gsmet commented on #3973
Hi Nuno,

I had a look at your issue: the problem is that the native image is built with the `src/main/java/application.properties`, not the test one, thus it tries to connect to the PostgreSQL instance.

The native image is entirely built in `prod` mode, so in your case it will be hard to do what you did.

A possibility would be to set up a PostgreSQL docker container when running the tests.

We

[2019-10-01 15:18] #4265 closed

[2019-10-01 15:30] vietj commented on #4293
The issue should actually be fixed in this project as hinted in https://github.com/vert-x3/vertx-kafka-client/issues/149#issuecomment-537091535

[2019-10-01 15:33] vietj commented on #4293
Actually this issue should be opened in Smallrye Reactive Messaging. I thought this repo was actually Smallrye's one and not Quarkus, sorry for the noise.

[2019-10-01 15:34] mswiderski commented on #4293
@vietj thanks a lot for all the details, I renamed it here and will create a new issue is smallrye reactive messaging.

[2019-10-01 15:35] vietj commented on #4293
@mswiderski sure, it if that's needed assign me the issue

[2019-10-01 15:39] dmlloyd commented on #4270
I have a couple ideas, let me get back to you.

[2019-10-01 15:53] mswiderski commented on #4293
@vietj since I can't assign issues just linking it here https://github.com/smallrye/smallrye-reactive-messaging/issues/233

[2019-10-01 16:24] dmlloyd commented on #4270
How abour #4297?

[2019-10-01 16:54] barata0 commented on #2590
Hi,

I just tested on quarkus 23.1 and it seems to be working fine.
I don´t know exaclty on which version it was fixed but thanks!

[2019-10-01 16:54] #2590 closed

[2019-10-01 16:57] mwasserschaff commented on #3294
I can confirm that this issue disappeared after upgrading to v0.23.1.

Thanks a lot!

[2019-10-01 17:03] geoand commented on #4280
I was not able to reproduce the problem using your project.

I encounter a different problem however, that was solved by annotating `MessageService` with `@Singleton` instead of `@ApplicationScoped` (since such beans must contain a no-args constructor)

[2019-10-01 19:00] seseso opened #4298 "Openapi and extended classes"
**Describe the bug**
When a resource is created which extends another class, the extended methods are not listed by openapi.

**Expected behavior**
All available methods should be listed by openapi

**Actual behavior**
Only resources from the "primary" class are listed.

**To Reproduce**
Steps to reproduce the behavior:
1. clone repo https://github.com/seseso/quarkus-openapi
2. run with quarkus:de

[2019-10-01 19:01] kenfinnigan commented on #4298
@ewittmann Does MP OpenAPI, or SmallRye, support annotations coming from parent methods?

[2019-10-01 19:25] EricWittmann commented on #4298
The spec doesn't have an opinion on this one way or the other.  The Smallrye impl does not currently support climbing up the resource class hierarchy, but I think it probably should.

[2019-10-01 20:39] kenfinnigan commented on #4298
I've opened https://github.com/smallrye/smallrye-open-api/issues/184 for this

[2019-10-01 20:57] andrejpetras opened #4301 "Add support for the configKey parameter for RegisterRestClient annotation"
**Description**
The configKey parameter is new and add in the MP 1.3

The configKey parameter description:
Associates the annotated rest client interface with this configuration key. By specifying a non-empty value, this interface can be configured more simply using the configuration key rather than the fully-qualified class name of the interface.

**Implementation ideas**
Update the handling in t

[2019-10-01 21:05] andrejpetras commented on #4301
I am going to work on it

[2019-10-01 21:22] lbernardomaia commented on #4280
It's strange that you were not able to reproduce that, I just tried in another notebook. Anyway, with the service annotated with  `@Singleton`, it works, good point. Thanks!

I'm only wondering now why this problem only happens with running tests?

I'm going to close this issue!

[2019-10-01 21:22] #4280 closed

[2019-10-01 22:23] dhonig commented on #2720
This probably isn't as hard as it seems.  Just a matter of appending the things needed to get groovy working properly on GraalVM.

[2019-10-02 00:37] #1893 closed

[2019-10-02 01:25] #1829 closed

[2019-10-02 04:55] jaikiran commented on #4262
As far as I can see, this substitution is coming directly from substratevm here https://github.com/oracle/graal/blob/vm-19.2.0.1/substratevm/src/com.oracle.svm.core.posix/src/com/oracle/svm/core/posix/SunMiscSubstitutions.java#L76. So it looks like something to be reported in that project. Having said that, I'm not an expert in this area. Maybe @dmlloyd might have more inputs?

[2019-10-02 06:31] cescoffier commented on #4294
Good catch, we should have only one.

[2019-10-02 06:32] cescoffier commented on #4294
(as you proposed yourself, I've assigned the issue to you)

[2019-10-02 06:32] cescoffier commented on #4293
Issue fixed in SmallRye Reactive Messaging. Release in progress.

[2019-10-02 07:14] maxandersen opened #4311 "Make gradle plugin available for easy/conventional gradle usage"
Today we need a lot of scaffolding in users gradle setup:

[code]

where if we published to gradle registry users would just need this:

[code]

for now it is assumed we must make the gradle plugin an actual gradle project to make this happen - need to verify that

[2019-10-02 07:42] geoand commented on #4311
I think the gradle plugin does indeed need to be a gradle project, if not for any other reason than the fact that the necessary build tool plugins that would allow publishing to the Gradle Portal only exist for gradle.

[2019-10-02 07:43] maxandersen opened #4313 "Define and create platform bound extensions.json"
Currently extension.json is in a core module (`devtools/common`) - this is read and parsed by maven/gradle/etc. tooling to provide extension selection/queriying etc.

Going forward this needs to be separated and be linked to the platform rather than core.

[2019-10-02 07:53] jussiseppala commented on #3352
So, it is impossible to run quarkus project in dev mode if it contains lambda function. Right?
How this can be solved? How can I run "mvnw compile quarkus:dev" when project contains lambda?

[2019-10-02 08:34] maxandersen opened #4315 "create tooling SPI to allow platform separation"
- remove extensions.json from core
- have a generation SPI that tooling can call to generate projects for a specific quarkus core version
- add extension will rely on having pre-bundled extension.json at build time, but go fetch latest one online.
- in the end the tooling standalone will test the SPI/metadata handling, platform/tool tests will test the actual default behavior/consistency.

[2019-10-02 08:56] Nunalves commented on #3973
Hi @gsmet,

Thanks for digging into this. That is exactly what i suspected.

We were already using a PostgreSQL docker container as a workaround. I guess the workaround will become the definitive solution.

Thanks :)

[2019-10-02 09:05] maxandersen opened #4316 "curate extensions in core"
would want to identify which plugins we from quarkus community
consider maintained (by who?), GA/alpha/beta? and/or makes sense to externalise rather than have in the core repo

[2019-10-02 09:21] maxandersen commented on #833
Since GA is now getting closer we should do this.

- add the labels, cateogories, etc. to the `quarkus-extension.properties`
- extension.json should then be generated from this file.

[2019-10-02 09:27] Heni-ghodbane commented on #3312
I have tried the last version 0.23.1 but it doesn't work: Back-end still rejects requests from a different domain, respectively my react Front-end app still receive
`Access to XMLHttpRequest at 'http://localhost:8080/' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`
Is this issue still not fixed? Is

[2019-10-02 09:28] maxandersen opened #4317 "Generate extensions.json based on `quarkus-extension.properties`"
Once we have #833 and all extensions own its own default metadata we should generate `extensions.json` based on the properties.

There seem to exist https://github.com/quarkusio/quarkus/pull/663 that does something similar - need to check if we can just use that or not.

[2019-10-02 09:32] maxandersen opened #4318 "Setup CI job to test latest core with latest platform before release"
need to have a step either on every PR or at least before release attempt that quarkus core doesn't break latest platform.

If it does - need to fix core or open issue against offending extension to then do a new platform release using later core.

[2019-10-02 09:34] maxandersen opened #4319 "Document what it takes to be added to the platform"
document in readme on https://github.com/quarkusio/quarkus-platform/ what it takes to be in platform:

current known:
- [ ] have native-image support
- [ ] have a test suite that works for both openjdk/native .
- [ ] extension.properties have labels
 - [ ] ?

[2019-10-02 09:46] maxandersen opened #4320 "Generation of extension.json should allow for overrides"
When a platform generates json it should be possible to override/add metadata:

- Categories
- Excluding extensions
- redefine its labels
- Technical vs exposed extensions

current idea:
have `<extension-name>.properties` and any property defined in here overrides what comes from the extensions own `quarkus-extension.properties`

[2019-10-02 11:11] xfh commented on #3164
Hi, in the refactoring of the keycloak extension to `vertx-keycloak` by stuartwdouglas@d3be8351584689db2102c181fec2bdaca80205e0 the KeycloakConfig was set to `BUILD_AND_RUN_TIME_FIXED`. @stuartwdouglas could this issue be fixed by setting the ConfigPhase to `RUN_TIME`?

[2019-10-02 11:15] maxandersen opened #4321 "gradle project generation does not include gradle wrapper"
**Describe the bug**
running this:

[code]

complains about missing gradle to be able to install gradle wrapper.

After installer gradle the error goes away but the project does not have `gradlew.*` files.

**Expected behavior**
`gradlew` available in the project

[2019-10-02 12:06] mazegreg opened #4324 "Add a way to disable http and have only https available"
**Description**
Add the possibility to disable HTTP, and to have only HTTPSremaining.

**Implementation ideas**
Support a parameter that could be called "quarkus.http.port.state" (and value = "enabled" by default) that could be set to "disabled" by the application.properties.
If set so, the application would not open the HTTP port (not sure where this should be implemented!).

As @stuartwdouglas s

[2019-10-02 12:36] mmusgrov commented on #4260
PR merged

[2019-10-02 12:36] #4260 closed

[2019-10-02 13:06] FroMage commented on #4125
I can do that @gsmet . You want an implementation of `HttpServletRequest` or a new interface with the useful methods?

[2019-10-02 13:07] FroMage commented on #4125
That interface is huge (https://javaee.github.io/javaee-spec/javadocs/javax/servlet/http/HttpServletRequest.html), so I'd suggest a new interface for the few missing useful methods.

[2019-10-02 13:23] stuartwdouglas commented on #4125
Can't you just inject org.jboss.resteasy.spi.HttpRequest ?

[2019-10-02 13:24] stuartwdouglas commented on #4125
Actually never mind, for some reason I thought that was a spec class and not a resteasy internal one.

[2019-10-02 13:26] stuartwdouglas commented on #4125
javax.ws.rs.core.Request was the one I was thinking of

[2019-10-02 13:27] FroMage commented on #4125
Yeah, nothing exists ATM. I think we can add it in RESTEasy and later promote it to JAX-RS, because it allows us to implement it for any RESTEasy backend. That'd be very useful. And it would work on resteasy-vertx as well as resteasy-undertow.

[2019-10-02 13:28] FroMage commented on #4125
`javax.ws.rs.core.Request` has no interesting method for this.

[2019-10-02 13:34] kenfinnigan commented on #4317
Why generate a file from a file?

For Thorntail we had the metadata for an extension in the `pom.xml` for that extension, and then we generated a file with all that information

[2019-10-02 13:35] FroMage commented on #4125
We could make it a subtype of it, though.

[2019-10-02 13:38] gsmet commented on #4125
@cescoffier changed the filter this morning to use a Vert.x object: https://github.com/quarkusio/quarkus-quickstarts/blob/development/rest-json/src/main/java/org/acme/rest/json/LoggingFilter.java#L21 .

Obviously, this is not portable so I suppose a portable solution in JAX-RS would be better in the long run but, at least for now, we are covered.

[2019-10-02 13:40] FroMage commented on #4125
So this issue is not on the table for the next milestone anymore, or still?

[2019-10-02 13:41] FroMage commented on #4125
I think it should still be done, and should be quick to implement.

[2019-10-02 13:54] the-bug commented on #4265
Thank you!

[2019-10-02 14:19] gastaldi opened #4325 "App should exit immediatelly when java.net.BindException: Address already in use is issued"
**Describe the bug**
Start a quarkus app in a port that's already used and you should see a `java.net.BindException: Address already in use`, making the app unusable

**Expected behavior**
The application should be killed and be terminated immediately

**Actual behavior**
Application is still running

**To Reproduce**
Steps to reproduce the behavior:
1. Create a quarkus app using code.quarkus.io
2

[2019-10-02 14:49] geoand commented on #4325
I am going to close this since it has already been fixed on master (I just verified it).

[2019-10-02 14:49] #4325 closed

[2019-10-02 15:07] gastaldi commented on #4325
I think this issue needs to be targeted to 0.24.0 then? Just for tracking purposes :)

[2019-10-02 15:09] geoand commented on #4325
Actually it might have even been back ported to `0.23.x`. Let me check

[2019-10-02 15:15] geoand commented on #4325
So yeah, this was already part of `0.23.0`

[2019-10-02 17:33] dmlloyd commented on #4262
The problem is that AWS doesn't allow the syscalls required by the GraalVM signals implementation.  The GraalVM signal handler in turn is a bit convoluted to account for isolates.  I wasn't able to figure out a reasonable solution though: the set of syscalls that can be made from a signal handler is quite limited.

[2019-10-02 17:43] machi1990 commented on #3886
Hi @emmanuelbernard I am assigning myself this issue as I am planning to give it a go in the coming days.

[2019-10-02 18:21] gastaldi opened #4329 "java.lang.OutOfMemoryError: Java heap space when OpenAPI is enabled and enums are used in a JAX-RS endpoint"
**Describe the bug**
An OOME is thrown when the `quarkus-smallrye-openapi` extension is used and a JAX-RS endpoint has an enum as a query parameter.
[code]

**Expected behavior**
No error

**Actual behavior**
OutOfMemoryError during build

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project from code.quarkus.io and choose the `quarkus-smallrye-openapi` extension
2. Create an enum

[2019-10-02 18:21] andrejpetras commented on #4301
@kenfinnigan could you please review the PR?

[2019-10-02 18:41] gastaldi commented on #4329
A workaround is to revert the SmallRye OpenAPI version to 1.1.3 (used in Quarkus 0.22.0). Add the following to your project:

[code]

[2019-10-02 19:52] maxandersen commented on #4317
that is what is proposed here - each extension add the metadata into the pom.xml where a plugin generates quarkus-extension.properties with the values.

That is then picked up to generate the extensions.json which will be used by the platform which  mvn/gradle/cli and code.quarkus.io will use. Later one we'll have to have some kind of registry that provide an api to look these up for things in bro

[2019-10-02 19:59] maxandersen commented on #4317
and this is similar to what https://github.com/quarkusio/quarkus/pull/663 does afaics - thus wondering what happened to that ;)

[2019-10-02 20:02] kenfinnigan commented on #4317
#663 I think is still there, but it's not getting information from anywhere at present, so it just generates a skeleton.

I guess I'm wondering why pom.xml -> quarkus-extension.properties -> extensions.json and why not skip the middle man?

[2019-10-02 20:11] maxandersen commented on #4317
because when you access a jar you don't necessarily have the pom.xml. Some artifact in the extension is where you would have this. And what if you use gradle or gawd forbid manually wrote that file :)

Idea is that quarkus-extension.properties becomes the place to declare the metadata used for registries/platforms. extension.json is just our current mechanism to "aggregate" it if that makes sense

[2019-10-02 20:13] maxandersen commented on #4317
the difference from #663 (unless I misread it) is that we don't have all the extensions in the same reactor/pom.xml to go generate from or am I missing your point ? :)

[2019-10-02 20:13] kenfinnigan commented on #4317
The original plan with the extension generator piece I wrote is that it runs as part of the build, so, therefore, has access to all the pom.xml content.

Is that no longer the case?

[2019-10-02 20:14] kenfinnigan commented on #4317
So `extension.json` is now the aggregated version?

Why not have our one, and then each extension from outside our repo generates it's own into the artifact, and we just "collate" them?

[2019-10-02 20:15] maxandersen commented on #4317
Today quarkus-camel is not part of the overall build. In future (post 1.0) we expect more and more to be outside core quarkus build.

So no -:)

[2019-10-02 20:17] maxandersen commented on #4317
extension.json as it is in core would stop to exist.  It would be part of the quarkus-platform.

using quarkus-extension.properties is the thing we would collate.

Maybe I'm missing some magic feature of extension.jsorn but why would we not just have all extensions declare the initial metadata the same way ?

There is another issue on being able to augment the "collated" result to remove and do ad

[2019-10-03 03:01] jaikiran commented on #3316
That's probably one way of doing it. But for what you are after:

where  you just want to change the default port, I think it perhaps makes sense to just not suspend the VM by default and instead make it behave like what the default debug port behaves.

@stuartwdouglas, @gsmet, this feature was introduced here https://github.com/quarkusio/quarkus/pull/523. Do you guys think it would be OK, if we c

[2019-10-03 04:27] #2269 closed

[2019-10-03 04:49] stuartwdouglas commented on #3316
I think this is ok. Most users probably don't want to suspend, as they generally won't want to debug the Quarkus boot process.

[2019-10-03 05:35] michalszynkiewicz opened #4334 "CDI security interceptor for @RolesAllowed, etc"
The source of roles is `io.quarkus.security.identity.SecurityIdentity`

[2019-10-03 07:15] jmartisk opened #4336 "Metrics extension should support metrics from CDI producers"
As described in the Metrics spec https://github.com/eclipse/microprofile-metrics/blob/2.1.0/spec/src/main/asciidoc/app-programming-model.adoc#metric
This will get us closer to passing 100 % of the TCK

[2019-10-03 07:16] FroMage commented on #4125
Done in https://github.com/resteasy/Resteasy/pull/2176 pending two design decisions.

[2019-10-03 07:17] geoand commented on #4114
@mkouba we should probably have a discussion when we have time about how to approach such conditional beans in Quarkus.

[2019-10-03 07:54] emmanuelbernard commented on #4317
Let me give you my perspective. we need a file I will call `foos` that:

- list the extensions available in the platform
- foos is specific per Quarkus Platform version
- foos-platform-version-n and foos-platform-version-m will likely have extensions in common ; corollary, one extension at one given version will live in several foos.
- let's not force an extension to re-release to update informati

[2019-10-03 07:59] geoand commented on #3592
Reopening this since we have had a few reports suggesting it's still a problem in `0.23.2`

[2019-10-03 08:01] doroshevich opened #4338 "Add support for timeouts, ssl and other %s/mp-rest/* config properties for MicroProfile RestClient"
**Description**

Would be nice to have possibility to configure rest-client(s) timeouts and key store(s) with configuration parameters in quarkus.

MP rest client have config properties for timeouts
https://download.eclipse.org/microprofile/microprofile-rest-client-1.3/microprofile-rest-client-1.3.html#_configuration_keys
[code]
and for trust/key store
https://download.eclipse.org/microprofile/mic

[2019-10-03 08:36] geoand opened #4339 "Document how an extension can customize JSON handling"
Follow up of [this](https://github.com/quarkusio/quarkus/pull/4212#pullrequestreview-296700733) discussion.

[2019-10-03 08:36] geoand commented on #4339
@loicmathieu This one is for you - I can't seen to assign it to you, but for means and purposes consider it yours :)

[2019-10-03 08:41] maxandersen commented on #4321
located the issue:

[code]

making PR for it.

[2019-10-03 09:05] FroMage commented on #3646
Looking at this.

[2019-10-03 09:09] FroMage commented on #3646
Just checked and both the error page and the 404 pages work on resteasy-only on 23.2. The security error page is resteasy-specific so it will work too. Closing.

[2019-10-03 09:09] #3646 closed

[2019-10-03 09:20] Sanne opened #4341 "Contention in Yasson"
Running a small benchmark on REST endpoints gets me contention on some internal CHM of Yasson.

This could be avoided?

[code]

[2019-10-03 10:11] Sanne opened #4343 "[Hibernate ORM caching] Timestamps region invalidated even when caching is disabled"
Benchmarking an Hibernate ORM application which has NOT enabled any 2LC caching, we have profilers resporting some minor contention on the timestamps region:

[code]

While the contention bothers me a bit, it would also be great to not do any of this work at all.

At this point I'm not sure if it's a bug in ORM or specific ot the Quarkus integration, so tracking it here first.

@galderz do you thi

[2019-10-03 10:13] sberyozkin commented on #4214
@stuartwdouglas, @pedroigor we should probably have an OIDC adapter providing such an interface implementation where it will decide, depending on its configuration, what to do with the currently available token for the propagation purposes, use the token exchange or return as is if really needed, etc

[2019-10-03 10:24] maxandersen commented on #4311
duplicate of https://github.com/quarkusio/quarkus/issues/4311

[2019-10-03 10:25] maxandersen commented on #1793
duplicate of https://github.com/quarkusio/quarkus/issues/4311 which has a bit more context of why its relevant to push.

[2019-10-03 10:25] #1793 closed

[2019-10-03 10:45] michalszynkiewicz opened #4344 "Handle non-binding fields for interceptor bindings from non-binding annotations"
`InterceptorBindingRegistrar` makes it possible to make annotations binding even if they do not have `@InterceptorBinding`.

I'd like to use it `@RolesAllowed`. The problem is this annotation requires a `value`.
An interceptor for it should be triggered regardless of the value. I'd like to have an option to specify that the `value` field is non-binding in this situation.

I have briefly discussed

[2019-10-03 10:45] michalszynkiewicz commented on #4334
probably requires: https://github.com/quarkusio/quarkus/issues/4344

[2019-10-03 10:49] lhauspie commented on #4338
I would like to work on this one...
Is it OK ?

[2019-10-03 10:49] maxandersen commented on #4317
This issue is about having quarkus-extension.properties actually added to extensions we have and then feed into extensions.json generation - for overriding/customization we have https://github.com/quarkusio/quarkus/issues/4320

Lets say what you call `foos` is 'a platform description` and currently the idea for that to be very similar to `extensions.json`

Yes - and that list is made by having a B

[2019-10-03 10:58] Sanne opened #4345 "Optimise RESTEasy for closed world"
Profling a Quarkus application it's immediatley visible that the current RESTEasy extension isn't taking advantage of the closed world assumption:

Annotation scanning and type introspection:

[code]

And more..
[code]

I suppose this implies we can improve it a lot still?

The above methods have been identified when looking for strong allocators; this implies memory consumption could be cut down

[2019-10-03 10:59] Sanne commented on #4345
@patriot1burke could you take this or assign someone?

[2019-10-03 11:08] AlexanderHofmeister commented on #4151
Just FYI, I can confirm this fix. Thanks at all! :)

[2019-10-03 11:11] #4294 closed

[2019-10-03 11:17] machi1990 commented on #4338
Hi @lhauspie this is okay and your contribution is highly welcomed. Consider the issue users. Feel free to ping us if you a helping hand on it.

[2019-10-03 11:42] stuartwdouglas opened #4347 "Add a JPA Identity Extension"
This extension would allow for an easy annotation driven approach to creating JPA entities that represent a user. An entity can be annotated with @Username and @Password (and maybe @Salt) to inform Quarkus that this entity represents a user. Quarkus will then automatically wire up authentication based on this entity.

[2019-10-03 11:45] stuartwdouglas opened #4348 "Implement Vert.x based FORM auth in the new security layer"
This allows for standard form based auth with IdentityManager implementation that support username/password auth.

State should be stored in a JWT token, however time constraints may mean that we may have to look into a simpler approach (DB store, HTTP session).

We should also provide an 'automatic' login page for a quick getting started experience.

[2019-10-03 11:49] stuartwdouglas opened #4349 "Add HTTP Permission Layer"
There should be a generic interface that can be implemented to managed HTTP path permissions, that decide if a given SecurityIdentity can access a provided path+method combo.

By default this should support:
- Servlet web.xml mappings, so even if a security constraint is defined in web.xml and the target of the request is not a Servlet the constraint still takes effect.
- application.properties ma

[2019-10-03 11:51] emmanuelbernard commented on #4317
My bad, should I copy my message there then?
I got caught off guard because you asked Guillaume about `_data/extensions.json` and its relation to this issue.

Right but I was going at it from the other side. Whatever metadata you put in a given extension release cannot assume which platform it will join and in which capacity (beta, stable, recommended etc)

The list is below.

well the list is bel

[2019-10-03 12:08] emmanuelbernard commented on #4345
I read it as RESTEasy reads the annotation on the method being call for every request without even caching anything or preparing its metadata? Is that correct?

[2019-10-03 12:27] sberyozkin commented on #3164
@xfh FYI, we are also discussing with @stuartwdouglas the idea of renaming `vertx-keycloak` to something more generic: #4235

[2019-10-03 12:35] Sanne commented on #4345
Correct, these are profiling snapshots taken at runtime: under load, after the application booted and after it completed warmup.

[2019-10-03 12:40] sberyozkin commented on #4349
@stuartwdouglas and as you suggested, lets have it pluggable so that the OIDC adapter can provide its own UMA/etc mechanism, @pedroigor FYI

[2019-10-03 12:44] dteleguin commented on #3535
I still see it on both 0.22 and 0.23, only the error is slightly different:
[code]

[2019-10-03 12:59] sberyozkin commented on #3441
@stuartwdouglas @pedroigor @cescoffier, @pmlopes FYI.
Now that the Vertx adapter is used the Quarkus CORS filter should work alongside it, while as suggested by Clement, continue to be independent.

[2019-10-03 13:06] stuartwdouglas commented on #3441
Do we need to do anything here? We already have a CORS filter, does keycloak need to be able to configure it or can this be closed.

[2019-10-03 13:28] sberyozkin commented on #3441
@stuartwdouglas I guess we just need to check Vertx adapter itself does not try to do its own CORS and that it does not start the token verification before a preflight request, @pmlopes, do you reckon some tuning is needed at the Vertx side for it ?

[2019-10-03 14:15] manovotn commented on #4344
Maybe we could reuse annotation transformer for the field somehow?
Since the added binding will be evaluated just as any other binding and if you look at the jandex class (which is what we do now) then you will see it as binding still.

[2019-10-03 14:24] mkouba opened #4355 "Safely propagate the state of InvocationContextImpl accross threads"
The object does not have to be thread-safe though. Use case - SmallRye FT has an interceptor that calls `InvocationContext#process()` on a different thread.

[2019-10-03 14:36] michalszynkiewicz commented on #4344
@manovotn what could such transformer do?  As I understand we can manipulate the annotations this way and thought of replacing e.g. `@RolesAllowed` with our interceptor-binding version that would define the roles as nonbinding. Is this what you have in mind?

[2019-10-03 15:00] emmanuelbernard opened #4357 "Rename the Migration category to Compatibility"
Let's rename the categories from Migration to Compatibility in both code.quarkus.io and /guides/.

[2019-10-03 15:33] geoand commented on #3316
I am not a fan of it, but that is probably just because I am too used to using to actually debug Quarkus.
I agree with @stuartwdouglas that is makes sense for most users

[2019-10-03 15:56] sberyozkin opened #4358 "Add more information about the recording process to the extensions guide"
**Description**
Quarkus recording mechanism is powerful but can be tricky to grasp for those who are just starting with it (including the author of this issue at a time :-) ). Specifically:
- Please add more information about some interesting cases that can be done by having an instance created by the recorder and passed between the build steps and the recorder
- Please explain that for the instan

[2019-10-03 16:08] geoand commented on #4358
@sberyozkin Feel free to add your ideas in a PR and I can help out with whatever details if you like

[2019-10-03 16:44] geoand commented on #4341
It could yes, if we generate our own serializers (which was the purpose of #3553) :)

[2019-10-03 17:00] sberyozkin commented on #4235
As discussed with @pedroigor as well, the proposal is to to rename `quarkus-vertx-keycloak` to `quarkus-vertx-oidc`; Configuration properties should have `oidc` instead of `keycloak` as well I guess. The question is, should we have it done for 0.24.0 to minimize the migration pain :-) ? If we rename it later then the users will have to deal with the major changes twice. So I feel we should do it n

[2019-10-03 18:18] maxandersen opened #4361 "document quarkus-extension.properties"
document the field names and meaning in extension writer guide.

[2019-10-03 18:22] maxandersen opened #4362 "bogus issue - for testing github webhook"
**Describe the bug**
(Describe the problem clearly and concisely.)

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help explain your problem.)

**Environmen

[2019-10-03 18:26] #4362 closed

[2019-10-03 18:27] gsmet commented on #4235
FWIW, I’m not totally happy with having vertx in the name.

People using RESTEasy will use Vert.x underneath but they won’t really be aware of it. But they are clearly the target of this extension. Will they think they can use it or not, that’s the question.

@emmanuelbernard WDYT?

[2019-10-03 18:36] emmanuelbernard commented on #4235
Same here. Let’s name it after the usage. Not the implementation.

On Thu 3 Oct 2019 at 20:27, Guillaume Smet <notifications@github.com> wrote:

[2019-10-03 19:03] michalszynkiewicz commented on #4344
This is how it may look like when if we'll add the info to `InterceptorBindingRegistrar`.
(The `Map` that is returned there is not very nice to work with, so if that would be the solution I'd like to replace it with some custom object)

[2019-10-03 19:41] dhartford commented on #2615
Recently ran into this challenge, it may be something to address on a 'feature' basis? For example, there is a CORS filter configuration, but I was looking for a response Cache-control feature to specify a pattern of files with no-cache, but couldn't find an elegant way to handle that scenario.

[2019-10-03 19:59] sberyozkin commented on #4358
I'll give a try :-)

[2019-10-03 20:56] maxandersen commented on #4317
no its fine - we'lll clean it up/duplicate as needed.

Yes - fully agree when including extension into a platform we need a mechanism to override values. But still think it make sense the extension itself can express its own defaults.

So I think might be talking about different aspects of platforms here. i.e. I'm talking about "THE Platform" we'll publish and maintain to start with - I sense you

[2019-10-03 22:11] gastaldi opened #4365 "Gradle build doesn't work if the plugin isn't in the local repository"
**Describe the bug**
When running any Gradle task, the build fails

**Expected behavior**
Gradle build should work

**Actual behavior**
It doesn't work. The following stacktrace is shown:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run code.quarkus.io with this PR: https://github.com/quarkusio/code.quarkus.io/pull/163  and generate a Gradle project
2. Unzip the generated project

[2019-10-03 22:50] maxandersen commented on #4365
Does your build.gradle have references to the quarkus gradle plugin as outlined in #4311 and https://quarkus.io/guides/gradle-tooling.html ?

If it does and still fails then #4311 is way more urgent/blocker than first thought.

[2019-10-03 23:23] stuartwdouglas commented on #2615
This is complicated now by the base layer being vert.x. We can implement basically the same thing in vert.x but application.properties is not really a great file for this as properties files do not really support the ordering that this sort of file needs.

We could do something with ordinals like

quarkus.http.handler.1=set(%{o,Cache-Control,no-cache})

But I am not really sure if I like it.

[2019-10-03 23:49] gastaldi commented on #4365
Yes, I have that in my settings.gradle file

Em Qui, 3 de out de 2019 19:50, Max Rydahl Andersen <
notifications@github.com> escreveu:

[2019-10-04 00:28] #3099 closed

[2019-10-04 01:22] gastaldi commented on #4365
It looks like for some bizarre reason,  the following content is not included in the `build.gradle` generated by code.quarkus.io (which uses the classes in the `devtools-common` module) BUT it is included when the maven plugin is used to generate the project:

[code]

The build works if I add that manually to the build.gradle.

[2019-10-04 01:23] stuartwdouglas commented on #4235
I thought our naming policy was implementation-feature (hibernate-orm,
smallrye-health etc)?

I know we went through and renamed everything a while ago so most things
follow this pattern but not everything, is there an official rule on when
an extension should not follow this pattern?

On Fri, 4 Oct. 2019, 4:36 am Emmanuel Bernard, <notifications@github.com>
wrote:

[2019-10-04 03:46] stuartwdouglas opened #4366 "HTTP features for 1.0 tracker"
This issues tracks all issues related to new HTTP for the 1.0 release.

- **deferred** #4367
- [x] #4368
- [x] #4332
- [x] #4407
- **deferred** #4455

[2019-10-04 03:48] stuartwdouglas opened #4367 "Remove 2nd Vert.x instance"
As part of the new HTTP work we ended up with two Vert.x instances due to some issues with RESTEasy doing blocking writes from an IO thread. This needs to be fixed and the 2nd instance removed for the 1.0 release.

[2019-10-04 03:49] stuartwdouglas opened #4368 "Removing locking in Vert.x router"
The Vert.X RouteImpl classes uses locking, this needs to be removed and replaced with some kind of Copy on Write strategy.

[2019-10-04 03:53] stuartwdouglas opened #4369 "Security Tracker for 1.0"
This is a tracker issue for all Security issues that should be part of 1.0.

*  (**deferred**) JPA Identity Provider (optional) #4347
- [x] FORM based auth support for simple applications (essential) #4348
- [x] CDI security interceptor for @RolesAllowed etc (essential) #4334
- [x] Unified HTTP permissions layer (essential) #4349
- [x] HashiCorp Vault: #2764 (mostly done)
- [x] Elytron JDBC Identi

[2019-10-04 07:05] manovotn commented on #4344
@michalszynkiewicz what I meant was [`AnnotationsTransformer`](https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/AnnotationsTransformer.java). If we could grant user access to transformer while adding the binding, then user could specify what fields are to be `@Nonbinding`. Or any other API that will lead to us registering an

[2019-10-04 07:33] FroMage commented on #4367
Well, for now @patriot1burke is working on it. My PR https://github.com/resteasy/Resteasy/pull/2170 is likely to be withdrawn.

[2019-10-04 07:58] maxandersen commented on #4365
did you use latest master to generate via maven ? when I use mvn master I get the same issue - but for any ordinary dependency. Have to add the above too to make it work.

But this is bad if we have to tell users to list repositories 3(!) times - 2 in build.gradle and 1  in settings.gradle.

can't be right.

[2019-10-04 08:08] FroMage commented on #4329
Has this issue been reported to the smallrye-openapi project?

[2019-10-04 08:09] FroMage commented on #4329
Ah yes: https://github.com/smallrye/smallrye-open-api/issues/185

[2019-10-04 08:18] FroMage commented on #2556
This is a bug in HV, though, no @gsmet ?

[2019-10-04 08:20] maxandersen commented on #4365
from chat:

with latest gradle the following in build.gradle is enough:

[code]

to fix this we need to update `GradleBuildFile.java` and the `.ftl` templates and the user guide.

Ultimately we shuold see if we can simplify even further if we publish the plugin to gradle registry.

[2019-10-04 09:08] emmanuelbernard opened #4371 "Make native image test use the test profile or not"
I know we had some conversations recently on the subject but I don't recall the conclusion.
It was related to the shift of hibernate's import file feature having different defaults in prod vs dev.

So let's capture what we really want here and see if we need code change and / or documentation changes before 1.0

Today @cescoffier and @agoncal got hit by IT run in prod and thus confusion.

[2019-10-04 09:16] FroMage commented on #4371
My suggestion was that if you want to test a native-image you need to build it with the test profile.

[2019-10-04 09:25] sarveshtamba opened #4372 "Platform support for quarkusio/quarkus on PowerPC64LE"
Hi,

I am trying to build/install quarkusio/quarkus on PPC64LE architecture with Red Hat Enterprise Linux 8.0, using the below commands:-
[code]

However the build/test suite hangs at the below step for quite a long time(more than a couple of hours now):-

[code]

Attached is the detailed log of the maven build step.
[quarkus_log_ppc64le.txt](https://github.com/quarkusio/quarkus/files/3689870/quar

[2019-10-04 09:32] sberyozkin commented on #4235
@stuartwdouglas We had `quarkus-keycloak` and what I've focused on in this issue is on replacing a `keycloak` bit since no keycloak-specific API has stayed and the Vertx based adapter is generic. So if we have `quarkus-oidc` then the naming pattern would stay consistent with the original `quarkus-keycloak` pattern (which was not called `quarkus-undertow-keycloak` because it was based on the Undert

[2019-10-04 09:38] stuartwdouglas commented on #4235
Can you submit a pr to do the rename?

On Fri, 4 Oct. 2019, 7:32 pm sberyozkin, <notifications@github.com> wrote:

[2019-10-04 09:39] gsmet commented on #4371
I agree on that. We need to find a workflow to do that that is Maven compatible and not too cumbersome.

Typically, with a standard Maven behavior, you would have:
[code]

[code]

That works.

Now, what I'm wondering is how we can only build the test image and run the tests (and not build the prod one) while still being in a somewhat natural Maven workflow. Is it something we want to expose to the

[2019-10-04 09:40] sberyozkin commented on #4235
@stuartwdouglas Yes, I'm focusing on the security related work from today (I only have one unrelated quarkus quickstarts issue to fix but the work has been mostly done there)

[2019-10-04 09:54] rsvoboda commented on #4371
How is ensured that test profile and prod profile are functionally the same without any chance for regression? With my super-skeptical hat on: Different bits => no guarantees.

[2019-10-04 09:56] gsmet commented on #4371
Well, you won't have more guarantees than when you use H2 to test whereas you use a PostgreSQL instance in production. There is a tradeoff for that. But the current situation makes it's very cumbersome to properly test a Java + native image application as both are using different profiles during the test phase.

[2019-10-04 11:14] stianst commented on #4235
Perhaps obvious, but as it is renamed to be more generic so should the config options. One example is to set the URL of the IdP it should be setting the URL of the discovery endpoint (with or without .well-known/openid-configuration, as that can be added if missing). So for configuring Keycloak it should be something like:

discoveryUrl=https://auth.company.com/auth/realms/myrealm

Instead of auth

[2019-10-04 11:52] cniweb commented on #4311
+1

[2019-10-04 12:04] maxandersen commented on #1655
I consider this done as relased in vscode and will be in other IDE's shortly. reopen if not :)

[2019-10-04 12:04] #1655 closed

[2019-10-04 12:15] emmanuelbernard opened #4375 "Offer a build time to optionally enlist metrics"
Like health, extensions should optionally enlist metrics.
We could use a build item pushed by the metrics extension to detect presence.
Or we could push the metrics code as a build item and the metrics extension would enable / disable them.

Needs thinking.

CC @kenfinnigan for metrics input, @gunnarmorling for usage input, @loicmathieu for health extension design input

[2019-10-04 12:25] michalszynkiewicz commented on #4334
In Thorntail, and SmallRye JWT, unannotated method of a resource that has at least one annotation on its methods may be forbidden by default (based on a switch).
Do we want it working the same in Quarkus?

In other words, should the `methodInQuestion` below be accessible for all by default or not?
[code]

CC @stuartwdouglas @sberyozkin

[2019-10-04 12:37] kenfinnigan commented on #4375
I think it's reasonable to offer a way for extensions to add "vendor" scoped metrics that might be of interest.

cc @jmartisk

[2019-10-04 12:44] gunnarmorling commented on #4375
From a Kafka Streams perspective, what I'd like to do for its extension is to provide the metrics we discussed in the [blog post here](https://quarkus.io/blog/kafka-streams-applications-with-quarkus-and-microprofile/#metrics) automatically OOTB, if we somehow detect that the metrics extension capabilities are available.

[2019-10-04 12:50] dmlloyd commented on #2615
One existing example of a case where ordering is required in an essentially unordered string-based system is the convention of using file names for configuration stages in various *nix programs.

For example, `sysctl.d` uses a convention of `<nn>-description.conf`, where `<nn>` might be a zero-padded digit sequence.  The files are sorted lexicographically.

It's important that any configuration th

[2019-10-04 13:16] #4321 closed

[2019-10-04 13:20] rafaelkloss opened #4377 "Hibernate - @ManyToOne strange behavior"
**Describe the bug**
Imagine the relationship described below:
"one" User -> "many" Message
In Message class, there is @ManyToOne(fetch = FetchType.LAZY, optional = false) User user;  annotation.
When a new Message instance are created, we need to persist the object on database with related User "id".
I find the related User using EntityManager.find(clazz, id)

**Expected behavior**
Insert the new

[2019-10-04 13:59] dteleguin commented on #3773
Fixed in 0.22.0

[2019-10-04 13:59] #3773 closed

[2019-10-04 14:09] jaikiran commented on #4372
I don't know if this platform is supported, but keeping that aside, looking at those log messages and the corresponding source code, the presence of these log messages doesn't in itself show up as a hung process. So we need to see a `jstack` output of this Maven process to see what it's waiting on. Can you generate that jstack output of this process which has been going on for hours?

[2019-10-04 15:00] geoand commented on #4377
cc @Sanne

[2019-10-04 15:23] AlexanderHofmeister commented on #3969
@dwamara I do not get your explanation about

You can also find the method  `persist` in the entity manager and even though it is implemented in the `PanacheEntityBase`. Would you mind to explain me, why merge is not implemented yet? I mean no offense, just curious.

[2019-10-04 15:44] gsmet commented on #4377
@rafaelkloss could you create a simple project to reproduce it? It would be really helpful.

[2019-10-04 15:53] halkhalil opened #4380 "quarkus:dev error on re compiling windows"
openjdk 11.0.4 2019-07-16
Apache Maven 3.6.2
OS name: "windows 10"

in quarkus:dev  when a source file is changed terminal shows
(vert.x-worker-thread-1) Changed source files detected, recompiling....
and getting stuck here, while in browser the following errors are displayed. |
Error restarting Quarkus
java.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/Users/.m2/repository/org/j

[2019-10-04 16:01] dhartford commented on #2615
From a developer-consumer point of view, I've seen enough similar ordinal-based configurations that it isn't necessarily foreign.  If do choose to go that route, just need some scenario/examples so developers can run with it.

The 'in application.properties' versus separate files will forever be a never ending debate, first functional in whatever way is quickest to get feedback :-D  (maybe underto

[2019-10-04 16:04] gsmet commented on #2615
@dhartford weren't you talking about applying the headers only for specific files? If so I wonder if implementing a Vert.x filter wouldn't be easier than providing something in the `application.properties`.

[2019-10-04 16:36] geoand commented on #4380
I am going to close this as a duplicate of #3592. Please follow that issue for updates.

Thanks

[2019-10-04 16:36] #4380 closed

[2019-10-04 16:38] gsmet commented on #4357
Done.

[2019-10-04 16:38] #4357 closed

[2019-10-04 16:49] sberyozkin commented on #3441
@stuartwdouglas I'll update the `integration-tests/oidc` after #4376 is done with a simple pre-flight call to verify the Quarkus CORS filter can work alongside it

[2019-10-04 17:06] gcollin opened #4383 "Quarkus test ignores maven settings"
My maven settings.xml contains a mirror section to use a local nexus and bypass a proxy my company is using.
`<mirrors>
	<mirror>
      <id>AdpNexus</id>
      <mirrorOf>springframework,commonsmath,central</mirrorOf>
      <name>Nexus in CRP</name>
      <url>https://nexus-adp-tools-agcs.apps.xxx/repository/maven-public</url>
  </mirrors>
`
**The sample quarkus project is building fine, but runnin

[2019-10-04 17:10] MikeEdgar commented on #4329
`smallrye-open-api` version 1.1.9 is now available on Maven Central. Please confirm that this issue is resolved by upgrading.

[2019-10-04 17:31] AlexanderHofmeister commented on #4120
Would you please mind to explain where `resourceContext` is coming from?

[2019-10-04 17:35] gsmet commented on #4120
@dfranssen sorry for the delay. Could you share a simple reproducer?

[2019-10-04 17:40] #4238 closed

[2019-10-04 17:46] machi1990 commented on #4329
I'll do the upgrade.

[2019-10-04 17:46] gsmet commented on #4383
@aloubyansky ^

[2019-10-04 18:17] gsmet commented on #2556
It's a bug in HV and we have a PR open to fix it. But let's keep that open as I need the test case handy.

[2019-10-04 18:18] gsmet commented on #2091
This was done a while ago.

[2019-10-04 18:18] #2091 closed

[2019-10-04 18:19] gastaldi commented on #4329
Fixes https://github.com/smallrye/smallrye-open-api/issues/185

[2019-10-04 18:29] paulolieuthier commented on #1904
I'm still in Java 8 (want to use GraalVM) and setting Lombok's scope to compile does not make it work. Is there a workaround?

[2019-10-04 18:59] machi1990 commented on #4329
PR #4385 opened. Thanks @MikeEdgar for the heads up on the update.

[2019-10-04 19:49] pmlopes commented on #3441
Vertx auth will not do any cors checks.
Cors is handled by the cors handler.

So it gives you flexibility to decide how it should behave. So if keycloack does it before nothing is needed on vertx side. Otherwise just add the cors handler before.

[2019-10-04 20:15] geoand commented on #4375
Could we not just have each extension register some CDI bean that adds whatever is necessary?
That would obviously require the metrics extension to take the beans into account.

[2019-10-04 20:30] kenfinnigan commented on #4375
Each extension could certainly use the `MetricRegistry` to define its metrics directly instead of using a build item. However, using a build item means we can process them via a `Recorder` so they can be done at native image generation time instead of on startup.

[2019-10-04 23:28] ricardozanini commented on #3598
I'm seeing this error on 0.22. I can't upgrade right now, but if you get here through Google, that's what saved my life for a simple demo using this thread as a reference:

application.properties:
[code]

The custom CORSFilter:
[code]

Then the `POST`  method has the required header:

[code]

The `OPTIONS` response header is correct:

[code]

If you guys fixed this in the newer versions, that's gr

[2019-10-05 09:51] AmauryOrtega commented on #4093
I get exactly the same error.

[2019-10-05 10:53] MikeEdgar commented on #2856
I believe this issue can be closed now that SmallRye supports the RESTEasy types directly.

Side note - you may wish to remove the following method overrides from `io.quarkus.smallrye.openapi.deployment.RESTEasyExtension` as they are now `@Deprecated` in SmallRye OpenAPI. They were only in the interface to support RESTEasy types and are no longer necessary.

[code]

[2019-10-05 10:54] FreifeldRoyi commented on #4090
[code]

[code]

[code]

When the `Arc.initialize()` & `Arc.shutdown()` is not called, I get the NPE I mentioned. Once I remove the comment, everything works.

It's the `QuarkusJsonbComponentInstanceCreator.getOrCreateComponent()` that calls `Arc.container()` which is not initialized

[2019-10-05 10:54] MikeEdgar commented on #2819
@ia3andy , can you re-post your example? This should be working.

[2019-10-05 11:24] sberyozkin commented on #4235
@stianst I see, missed this comment; I'd like @pedroigor to review if it is possible to collapse these two properties into a single one such that it actually works at the Vertx adapter level;

[2019-10-05 11:27] sberyozkin opened #4392 "Make quarkus-oidc properties more generic"
**Description**
Stian:
[code]

[2019-10-05 11:29] sberyozkin commented on #4235
@stianst @pedroigor @stuartwdouglas FYI, https://github.com/quarkusio/quarkus/issues/4392, I've opened a new issue to track it

[2019-10-05 11:29] #4235 closed

[2019-10-05 12:21] lburgazzoli commented on #4270
Tested and works for my case

[2019-10-05 13:01] #4270 closed

[2019-10-05 16:41] acoburn opened #4393 "NPE when using nested JUnit5 classes"
When using the `quarkus-junit5` module (Quarkus version 0.23.2) with the `@QuarkusTest` annotation, any `@Nested` JUnit5 classes consistently lead to null pointer exceptions.

The relevant portion of the stack trace is:

[code]

I can reproduce this consistently in JDK8 and JDK11, with both Gradle and Maven build environments.

A minimal example of this error can be found at https://github.com/aco

[2019-10-05 18:28] dodalovic opened #4394 "Kotlin based PanacheEntity throws runtime exception"
Described at [stackoverflow](https://stackoverflow.com/questions/58249773/kotlin-based-panacheentity-throws-runtime-exception) , as well as on [zulipchat](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/kotlin-panacheentity-issue/near/177423729)

[2019-10-05 18:36] sberyozkin commented on #3441
@pmlopes thanks for the update

[2019-10-05 18:47] sberyozkin commented on #4392
@stianst @pedroigor @stuartwdouglas, @pmlopes I've looked at the code.
Only 3 properties are used so I'd like to trim off everything else and Pedro can start adding whatever is needed back once he completes his Vertx adapter review. The properties which are used are:
`resource`, `auth-server-url` and `realm`.
We can collapse them into per Stian's suggestions into
`resource` -> `client-id` (though

[2019-10-05 19:00] pmlopes commented on #4392
Azure uses resource for something else that resembles keycloack `realm` it's a guid that identifies the application.

[2019-10-05 19:09] pmlopes commented on #4392
To clarify, vertx uses this config:

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/OAuth2ClientOptions.java

The important ones are: site (bad name I guess that represents the base url to the idp) clientId, clientSecret. The all endpoints are the path variables. Which can be either a path that is appended to site, or if it's a url it's u

[2019-10-05 19:55] kdkanishka commented on #3382
I am also experiencing the same problem in a random manner.

my datasource config.
quarkus.datasource.initial-size=1
quarkus.datasource.max-size=20

It seems to be the problem is caused by

`: java.sql.SQLException: Connection.clearWarnings cannot be called on a closed connection
`

[2019-10-05 21:02] sberyozkin commented on #4392
Hi @pmlopes, All,
I've been thinking more and I'm not sure any longer we should collapse `auth-base-url` and `realm` into `discovery-url', because some providers may not have `discovery-url` as a base url for all other endpoints. I think we just need to name `realm` optional in case some of the servers don't have that concept, and introduce the `introspection-path` from what Paulo linked to, and k

[2019-10-05 22:08] barreiro commented on #3382
Hi @kdkanishka. Do you mind trying out the latest from master ??? This should have been addressed by #4282

[2019-10-06 09:44] cescoffier opened #4396 "Runtime/Extension distinction break Maven reactor ordering"
Imagine a project with:
[code]
`app` depends on `run`.
`dep` depends on `run`.

So, Maven may build in the following order:

1.  run
2. app
3. dep

Unfortunately, that means that `app` test will fail because `dep` has not been built.

[2019-10-06 09:55] gsmet commented on #4396
IIRC dev mode won’t work very well either so that’s probably something people shouldn’t do.

[2019-10-06 10:57] kdkanishka commented on #3382
@barreiro Thanks a lot ! I'll give a try.

[2019-10-06 11:34] sberyozkin commented on #4392
I'm thinking of keeping `auth-base-url` as is, as the users won't have to change it, it is generic enough, I'll add a comment it is a base IDP URL. The other thing is that if we want to this module to do the opaque token verification issued by non-OIDC but OAuth2 only servers (to do what `quarkus-elytron-security-oauth2`) then `auth-base-url` may fit well...

[2019-10-06 11:54] sberyozkin commented on #4392
But I guess I have to drop the `realm` as implied by Stian because keeping it does not help users avoiding having to add "/realms" to the base URL anyway :-)

[2019-10-06 12:10] jaikiran commented on #4383
@gcollin, What exact command do you use when you run into that error? Could you also paste the complete exception stacktrace?

[2019-10-06 13:07] sberyozkin commented on #3441
Hi All, have to confirm and update the docs for 0.24.0 since the current Keycloak CORS doc is invalid now.

[2019-10-06 14:21] mmusgrov opened #4399 "An extension providing support for Narayana Long Running Actions (LRAs)"
[MicroProfile LRA](https://github.com/eclipse/microprofile-lra) is a specification of an API that enables loosely coupled JAX-RS services to coordinate long running activities in such a way as to guarantee a globally consistent outcome without the need to take long duration locks on data.

The project is currently at version 1.0-RC1 and we would like the candidates to be available for running with

[2019-10-06 14:23] mmusgrov opened #4400 "An extension providing a Narayana Long Running Action (LRA) participant"
This issue follows up on issue #4399

[MicroProfile LRA](https://github.com/eclipse/microprofile-lra) is a specification of an API that enables loosely coupled JAX-RS services to coordinate long running activities (LRAs) in such a way as to guarantee a globally consistent outcome without the need to take long duration locks on data.

The project is currently at version 1.0-RC1 and we would like th

[2019-10-06 15:46] danielpetisme commented on #284
How can I help? Any stuff I could do to make it happen faster?
Can't wait to see picocli+Quarkus!!!

[2019-10-06 16:21] gcollin commented on #4383
I ran
mvn -X clean test > error2.txt
and this is the resulting file.

If you search for  com.allianz.cisl.ext.agcs.jackson, which is a private package not present in maven central, you will see that maven correctly finds it in my local repo (Compile classpath line 1080), but during test it tries to download it again from central maven (lin 1806).

Hope this helps
[error2.txt](https://github.com/qu

[2019-10-06 17:49] geoand commented on #4394
The problem is essentially that the Kotlin compiler when generating an `invokeStatic` bytecode instruction is not using the entity as the target, but the `PanacheEntity`.

It looks something like:

[code]

whereas similar examples in Java have bytecode like this:

[code]

[2019-10-06 18:53] dodalovic commented on #4394
@geoand
[ordinacija-api.zip](https://github.com/quarkusio/quarkus/files/3694744/ordinacija-api.zip) contains code and `readme.md` in the projet root describing the issue.

@FroMage @emmanuelbernard FYI

[2019-10-06 21:11] emmanuelbernard commented on #4317
On 3 Oct 2019, at 22:56, Max Rydahl Andersen wrote:

Good plan to layer these over time.

[2019-10-07 06:26] jmartisk commented on #4375
If an extension needs to register a static set of metrics that is always the same, it is possible to use metric annotations directly in the extension, that's the easiest way, and the would get registered at build. But 1) this is probably not flexible enough for most cases 2) it is not possible atm to declare that these metrics should be in the `vendor` scope - we would need a custom mechanism for

[2019-10-07 06:43] geoand commented on #4375
The CDI container is also booted at static init (see [this](https://github.com/quarkusio/quarkus/blob/master/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java#L255)) so any metrics related beans would also be processed at native image generation time.

[2019-10-07 06:50] geoand commented on #4396
Maybe we need some guide about the proposed project structures?

[2019-10-07 06:58] geoand commented on #4090
@FreifeldRoyi would it possible for you to provide a minimum complete example that exhibits the behavior?
It would also be great to mention what command you are using to launch the test.

[2019-10-07 07:16] stianst commented on #4392
Without a discovery endpoint multiple URLs would have to be configured by the user, not just a auth_base_url. A base URL would only work if you know the type of the IdP and what layout it uses for URLs.

So I would go for discovery-url, but also allow specifying the URLs within directly if an IdP doesn't support the discovery endpoint. That is a fairly long list though (authorization_endpoint, tok

[2019-10-07 07:21] agoncal commented on #4396
@cescoffier correct me if I'm wrong, but you don't need the extension to compile, isn't it ? Why not having the extension in scope runtime ?

[code]

[2019-10-07 07:52] geoand commented on #4393
So after debugging a bit I saw that Arc doesn't support non-static inner classes (see [this](https://github.com/quarkusio/quarkus/blob/6bfe2b4bd5c6ab7c1e155b5bf3ef08326a15c727/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java#L553)).
So I'm not sure how `@Nested` can be supported. @manovotn @mkouba WDYT?

[2019-10-07 08:15] FroMage commented on #4394
Well that's very bad luck. Does this also happen on static calls outside of the entity class or only in the companion object?

[2019-10-07 08:21] geoand commented on #4394
It seems like one can't even do `Fruit.findAll` (where `Fruit` extends `PanacheEntity`) from Kotlin code... I wonder if that is by design or not...

[2019-10-07 08:31] FroMage commented on #4394
You mean it doesn't compile (different Kotlin syntax for static calls), or it doesn't run (due to invalid bytecode being produced by the Kotlin compiler)?

[2019-10-07 08:31] geoand commented on #4394
Doesn't compile :(

[2019-10-07 08:50] FroMage commented on #4394
Hah. Well then we're screwed. Probably an alternative solution/API has to be made especially for Kotlin. I don't know the language enough to think of something, though.

[2019-10-07 08:57] geoand commented on #4394
For now I think that using the repository approach is pretty much the only option for people wanting to stick to pure Kotlin.

[2019-10-07 09:00] csotiriou opened #4404 "Header Propagation does not work when using Asynchronous Rest Clients"
**Describe the bug**
Rest Client Header Propagation does not work when using Asynchronous Rest Clients. I have created a small sample which reproduces the problem with Quarkus 0.23.2, with both `CompletionStage` and `Single`

[Archive.zip](https://github.com/quarkusio/quarkus/files/3696314/Archive.zip)

**Expected behavior**
When using `Single` or `CompletionStage` in the REST clients' responses,

[2019-10-07 09:09] Ravisankar-Challa opened #4406 "Dynamodb: Add support for Jdk buitin HttpClient - UrlConnectionHttpClient"
Hi Team,

Please also add support for UrlConnectionHttpClient as http client for Dynamo DB as an alternative to ApacheHttpClient.

Thanks,
Ravi

[2019-10-07 09:12] manovotn commented on #4393
In Junit testing with Quarkus, the test class in a bean (see [this code](https://github.com/quarkusio/quarkus/blob/6bfe2b4bd5c6ab7c1e155b5bf3ef08326a15c727/test-framework/common/src/main/java/io/quarkus/test/common/TestInstantiator.java)).
And CDI spec doesn't like inner classes (non static), see https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#what_classes_are_beans

[2019-10-07 09:14] manovotn commented on #4393
Although I agree that we should remedy the error and make it more readable.
We could probably detect this in `QuarkusTestExtension#createTestInstance()` and throw and exception?

[2019-10-07 09:16] geoand commented on #4393
Yup, that's why I looked at Arc in the first place :)

Sounds reasoable to me

[2019-10-07 09:16] lburgazzoli opened #4407 "User Route should be called even when registered after the default route"
**Describe the bug**
Default web route is a catch all

**Expected behavior**
Routes added to vertx web router after the default route is added should not be swallowed.

**Actual behavior**
When a route is added to the vertx web router at runtime, then the route is ignored if a default route is already in place, i.e. added by quarkus-resteasy

**To Reproduce**
Steps to reproduce the behavior:
1. cl

[2019-10-07 09:20] cescoffier commented on #4407
Being a catch-all is not an issue, not being called last is more problematic as user routes appended to the router after the default route are ignored. We should set the `order` of the default route to something _high_.

[2019-10-07 09:23] manovotn commented on #4393
Ok, in that case, I'll send a PR for that later today.

[2019-10-07 09:25] FreifeldRoyi commented on #4090
You mean like a zip with all the files?

[2019-10-07 09:27] geoand commented on #4090
@FreifeldRoyi either that or some project hosted on Github. Whatever you prefer

[2019-10-07 09:28] dodalovic commented on #4394
@geoand I'd agree with you. If we go this way - we need to clearly state that in the docs.
On top - I'd volunteer to create kotlin based guides, alongside Java based ones.

Would be nice to have some organisationally distinguished Java vs Kotlin guides, IMHO

[2019-10-07 09:29] FroMage commented on #4394
For now yes, but I just tried this and it seems a viable approach:

[code]

So basically we have to make a custom entity type for Kotlin, and require that users add a `companion object : Functions<CurrentClass> {}` to their classes. This works, except you can't then have subclasses, but I guess that's an acceptable limitation.

[2019-10-07 09:29] geoand commented on #4394
@dodalovic That would be fantastic IMHO!

@emmanuelbernard WDYT about having Kotlin code in the docs as well?

[2019-10-07 09:32] geoand commented on #4394
@FroMage seems acceptable from my POV

[2019-10-07 09:34] FroMage commented on #4394
It does, but I'm not sure where this extension would live (not in the current extension because it depends on Kotlin) and who would write it.

[2019-10-07 09:34] gsmet commented on #4406
Do you have any good reason of not using the Apache HTTP client?

(Real question, I'm not familiar with Amazon DynamoDB)

/cc @marcinczeczko

[2019-10-07 09:39] geoand commented on #4394
Perhaps a new extension called quarkus-hibernate-panache-kotlin or something of that sort?

I could most likely work on it post 1.0 if we think we should have it.
Obviously if anyone wants to take it up as exercise that would be even better :)

[2019-10-07 09:43] FroMage commented on #4394
Yeah, `quarkus-hibernate-orm-panache-kotlin`.

[2019-10-07 09:44] lburgazzoli opened #4408 "Wrong HTTP code in case of resteasy + custom web router handler (404 instead of 405)"
**Describe the bug**
If we mix jax rs + custom web router handler, 404 is returned instead of 405 in case of an unsupported method.

**Expected behavior**
405 should be returned in case of a request with wrong method on an existing path.

**Actual behavior**
404 is returned instead of 405

**To Reproduce**
Steps to reproduce the behavior:
1. clone and run https://github.com/lburgazzoli/quarkus-cam

[2019-10-07 09:47] Ravisankar-Challa commented on #4406
Not suited for AWS LAMDA

[2019-10-07 09:49] gsmet commented on #4406
@marcinczeczko I let you reply on this one and see if we can do something about it?