[2020-12-23 05:41] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/439588426

[2020-12-23 05:53] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/439589439

[2020-12-23 06:53] rohit-s8 commented on #13377
I don't see anything in #13144 that talks about configuring logging for non application endpoints.

[2020-12-23 08:53] #13905 closed

[2020-12-23 08:57] #14023 closed

[2020-12-23 10:51] aldettinger opened #14034 "Deploying a native service on knative with quarkus-openshift reports OpenShiftNotAvailableException"
**Describe the bug**
quarkus-openshift seems unable to deploy a native service on knative into a crc cluster.
The exception log below is reported:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. crc start -b crc_libvirt_4.6.6.crcbundle -c 8 -m 15000
2. oc login -u kubeadmin -p *********** https://api.crc.testing:6443
3. Install OpenShift ServerLess Operator (4.6/1.11.0)
4. Create a KN

[2020-12-23 10:58] geoand commented on #14034
CC @iocanel

[2020-12-23 12:01] diogenes1oliveira commented on #12761
Yes, that's annoying. I managed to work around it because my generic is an interface and so I can just inject the mock of the concrete one.

[code]

Doesn't work as expected in tests:

[code]

It's quite annoying because it sends a wrong signal in the test code. Could I try to propose a PR?

[2020-12-23 12:06] iocanel commented on #14034
The error says pretty much that `the kubernetes-client doesn't recognize the target cluster as openshift`. (so it doesn't really have to do with knative).

Why this may happen?
Usually, due to misconfiguration of the client. Either the user is not logged in at all (though we do see that this is not the case in the provided tasks).
Other reason, may be related to client not accepting the certificat

[2020-12-23 13:53] stijnhoskens opened #14035 "Compatibility resteasy-multipart & smallrye-graphql"
**Describe the bug**
Whenever the smallrye-graphql extension is added to a project running a successfully working multipart JAX-RS resource, this resource stops working inexplicable. This even happens when no GraphQL resource is defined at all. Just adding the dependency causes problems.

**Expected behavior**
The multi part resource operates independently of the presence/absence of the GraphQL de

[2020-12-23 14:51] evacchi commented on #12486
@cristianonicolai @tiagodolphine @mariofusco can anyone please take a look?

[2020-12-23 14:53] evacchi commented on #12486
Maybe some smallrye class was refactored to a different artifact @geoand ?

[2020-12-23 15:16] geoand commented on #12486
Given the name of the class in the output I pasted above, I would say that @cescoffier would know

[2020-12-23 15:26] gsmet commented on #14035
Could you include the full stacktrace you get for reference? Thanks!

[2020-12-23 15:34] stijnhoskens commented on #14035
Sure, not sure if it is very helpful as it seems to be (silently) failing before, while mapping the uploaded file to the multipart object.
[code]

[2020-12-23 16:47] gunnarmorling commented on #11919
Just ran into this too when importing a newly generated project from code.quarkus.io into Eclipse. Would be great to have a better experience here, it surely is off-putting for new users.

[2020-12-23 17:02] stijnhoskens commented on #14035
Sure, not sure if it is very helpful as it seems to be (silently) failing before, while mapping the uploaded file to the multipart object.
[code]

[2020-12-23 17:05] sberyozkin commented on #14001
@codependent Can you confirm please it is only a problem for the static resources ? I've looked and we have the tests confirming public JAX-RS endpoints can be accessed with `quarkus-oidc` used to protect other endpoints

[2020-12-23 17:10] gsmet commented on #11919
I fixed it for 1.11: https://github.com/quarkusio/quarkus/pull/13771 . Forgot we had an issue.

[2020-12-23 17:10] #11919 closed

[2020-12-23 17:13] pkkamos commented on #11919
Good to know @gsm. Thank you!

[2020-12-23 17:18] codependent commented on #14001
@sberyozkin give me a day and I'll provide a Github repository reproducing the issue

[2020-12-23 17:32] codependent commented on #14001
In the meantime, I can give you more context about my use case. My Quarkus application is a proxy (sidecar) that captures all paths and HTTP verbs. As you can see the whole RestProxy is `@Authenticated`:

[code]

I need everything to be secured with quarkus-oidc except some configurable paths, eg `/api/public/*`. I expected that this would be enough:
[code]

However I see the contradition between

[2020-12-23 17:41] codependent commented on #14001
I'm closing the issue, it can be achieved removing the annotation and configuring everything with properties:

[code]

[code]

Thank you for having a look a it

[2020-12-23 17:41] #14001 closed

[2020-12-23 18:15] gunnarmorling commented on #11919
Nice, great to know. Thanks!

[2020-12-23 19:29] Sanne commented on #13868
Resolved by #13977

[2020-12-23 19:29] #13868 closed

[2020-12-23 20:21] sberyozkin commented on #14001
Hi @codependent Cool, thanks, that template wildcard might've been introducing some conflict as well, thanks

[2020-12-23 20:33] renegrob commented on #9316
@sberyozkin What is the scope? 2nd-Factor, passwordless, support for biometric authentication? My goal is to support all of them.

[2020-12-23 22:18] ronsigal commented on #13969
It looks like we would have to upgrade to HttpClient 5.0. I don't know yet what the implications would be, but I think it's a great idea.

[2020-12-23 23:51] nragon commented on #13993
Follow up https://github.com/quarkusio/quarkus/pull/14043

[2020-12-24 05:40] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/441717199

[2020-12-24 05:49] hantsy commented on #13915
Verified it toady, it seems no problem now. Thanks @geoand .

[2020-12-24 05:49] #13915 closed

[2020-12-24 05:57] hantsy opened #14044 "Hibernate-Reactive: Exception Session/EntityManager is closed thrown when call persist(Iterateable)"
My development environment is:

* Windows 10
* Java 11
* Quarkus 999-SNAPSHOT

The sample is hosted on my Github, [check it here](https://github.com/hantsy/quarkus-sample/tree/master/resteasy-reactive).

I have a simple `DataInitializer` like this.

[code]
When running the application, I got the following info.

[code]

It seems the **persist** caused the exceptions, there is no logging for the fu

[2020-12-24 06:02] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/441718182

[2020-12-24 06:08] cristianonicolai commented on #12486
@evacchi seems like we need to align the reactive messaging, see https://github.com/kiegroup/kogito-runtimes/pull/950 but we can only merge that once we upgrade to Quarkus master ( 1.11 ? )

[2020-12-24 06:30] holledauer opened #14045 "resteasy-reactive: When using own Content-Type for @Produces then quarkus will set 'application/json' as Content-Type header"
**Describe the bug**
When. using `@Produces` with non-standard content type with resteasy-reactive  will result in 'application/json' being set as Content-Type header instead of the requested type.

**Expected behavior**
It should set the requested content type that was requested in the Accept header.

**Actual behavior**
'application/json' is always set.

**To Reproduce**

Steps to reproduce the

[2020-12-24 06:32] geoand commented on #14045
I am pretty sure it has already been fixed in master.

Would you be willing to build master and give it a try?

Thanks

[2020-12-24 06:37] holledauer commented on #14045
Hi, I used the nightly build quarkus-resteasy-reactive-999-20201224.025011-26 for testing. https://github.com/quarkusio/quarkus/issues/14023 is already fixed there.

[2020-12-24 06:43] holledauer commented on #14045
I found another bug when trying to workaround this issue: When setting the Content-Type explicitly then the entity is serialized with toString again.

`Response.status(Response.Status.CREATED).entity(fruit).header("Content-Type", "application/vnd.quarkus.fruit-v1+json").build()`

[2020-12-24 07:47] geoand commented on #14045
Okay thanks.

I'll check it out soon

[2020-12-24 09:11] geoand commented on #14045
I opened #14046.

It does **not** fix the problem you mention in the comment - but that is more of a niche use case we can deal with later (it would be great if you opened a new issue for it).

[2020-12-24 09:17] codependent opened #14047 "Support complex wildcard path matching for authorization of web endpoints"
**Description**
According to the [documentation](https://quarkus.io/guides/security-authorization) path matching supports wildcards at the end of the path:

There is a clear limitation regarding the usage of wildcards which doesn't allow us to compose complex authorization expressions.

This use case has come across in many occasions, in which I have an API which requires an authorization config l

[2020-12-24 09:25] #13062 closed

[2020-12-24 09:25] #13973 closed

[2020-12-24 09:33] geoand commented on #14045
Actually, I pushed a second commit to that PR that fixes the problem mentioned in the comments as well

[2020-12-24 10:35] Sanne commented on #14044
hi @hantsy , many thanks for the reproducer! I'll check it out.

[2020-12-24 11:14] Sanne commented on #14044
This relates to #13868 : we have the main fixes integrated now, but I don't have a proper solution for Panache Reactive yet - this will likely need some help from team members who will only return next year.

To get your demo to work today, you could:

1. Avoid using the Panache API but use the Hibernate Reactive API
2. use the very latest Quarkus snapshot as you need some patches
3. you will also

[2020-12-24 11:23] sberyozkin commented on #14047
CC @stuartwdouglas

[2020-12-24 11:38] Sanne commented on #14044
In a nutshell, the Hibernate Reactive API (and Panache by extension) need to be used by reactive code, on the vert.x event loop.

In your case you're invoking it from a CDI event, which implies the `onStart` method is invoked on the `main` thread.

You don't have the problem with `PostResources` because it's using RESTEasy Reactive, so work is being executed on the reactive thread.

This also sugg

[2020-12-24 12:41] gsmet commented on #13667
@TheGeekPharaoh are you using the `quarkus-keycloak-admin-client` extension? Because I couldn't reproduce the issue if I use the extension but I could see how you would have this very problem if you use the underlying library directly.

@vhmolinar yeah, using the REST client like that won't work as we can't detect the media types that are used. Either use the `quarkus-keycloak-admin-client` or if

[2020-12-24 13:06] #14045 closed

[2020-12-24 13:27] philschaller commented on #13667
@gsmet Ouch...it was indeed just the wrong dependency in our case. After replacing `keycloak-admin-client` by `quarkus-keycloak-admin-client` everything works as expected. Many thanks for the hint and sorry for the noise.

[2020-12-24 17:23] gsmet commented on #12486
@cristianonicolai @evacchi I just released 1.11.0.Beta2. You can upgrade to it.

[2020-12-24 17:49] missourian55 commented on #13370
@loicmathieu Tested the new functionalities in `1.11.0.Beta1` and works great. Thank you very much.

Can we bump the version of logstash gelf to **1.14.1** from **1.14.0**? It contains important GelfTCPSender fix

[2020-12-24 18:32] gsmet commented on #13370
I added it to Dependabot here https://github.com/quarkusio/quarkus/pull/14050 to that it gets regularly updated.

[2020-12-25 01:54] jclingan opened #14051 "Spring Web @RequestHeader(Map<String,String>) throws RuntimeException"
**Describe the bug**
I'm trying to access all request headers using Spring `@RequestHeader` in the same way that `@Context HttpHeaders headers` would provide access to all request headers.

When starting the application with `mvn quarkus:dev`, I get the following exception

**Expected behavior**
A populated Map with HTTP headers, preferably a MultiValuedMap.

**Actual behavior**
Above exception.

[2020-12-25 03:07] shilei9213 opened #14052 "Why does quarkus use hibernate reactive to operate the database and the query method does not use database connection pool"
hi

I use the quarkus framework, integrate hibernate reactive, and use the panache list method to query. I find that it do not use the connection pool, but use the connection directly. As a result, the query cannot be executed after the connection is closed.

SqlClientConnection

[code]
PanacheQueryImpl

[code]

I'd like to know how to use pool when querying?

[2020-12-25 05:09] hrstoyanov commented on #14006
so what are the plans here? If this is going to be a major effort and take some time, do you have alternatives to suggest?

[2020-12-25 05:34] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/443533342

[2020-12-25 05:58] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/443534037

[2020-12-25 06:36] geoand commented on #14006
I haven't had time to look into yet unfortunately...

It should be on the top of my list when I'm back from PTO

[2020-12-25 11:45] Sanne commented on #14052
Hi, yes it uses connections. Is something not working, could you clarify what you intend to do and what is not working?

Please follow the template for reporting issues.

[2020-12-25 12:40] aadityasinha-dotcom commented on #13993
Hey @nragon !
I am looking forward to contributing but I am new to all this.
Can you please help me?

[2020-12-25 15:40] gavinking commented on #14052
Well, it obtains a connection from the pool and uses it. That's the correct usage pattern, as far as I understand.

Note that a query belongs to a certain session, and you shouldn't try to reuse it after the session it belongs to has been closed.

[2020-12-25 18:21] imranrazakhan commented on #11646
i tried all options without success at the end i did following

`mvn install:install-file -DgroupId=com.google.protobuf -DartifactId=protoc -Dversion=3.13.0 -Dclassifier=osx-x86_64 -Dpackaging=exe -Dfile=protoc-3.13.0-osx-x86_64.exe`

[2020-12-26 07:55] emiste commented on #13940
Thank you @MikeEdgar  for the clarifications

[2020-12-26 07:57] #13940 closed

[2020-12-26 18:02] tcerdaITBA opened #14056 "MutinyEmitter fails with an outbound connector configured"
**Describe the bug**
MutinyEmitter fails with `java.lang.IllegalStateException: SRMSG00027: No subscriber found for the channel price-create` when the channel ("price-create") is connected to an outbound connector instead of an in-memory method annotated with `@Incoming`. Changing `MutinyEmitter` to `Emitter` produces the expected behavior of queuing the message.

**Expected behavior**
Message sho

[2020-12-26 20:41] mahieddine commented on #5113
Unfortunately on my side i had another error when compiling to native (quarkus 1.10.5.Final), if i remove my code and the dependency it compiles without any error. I also tried to include wildfly-common but still having the same issue

building quarkus jar

[code]

[2020-12-27 12:15] DaHoC opened #14057 "Sentry integration causing Quarkus to fail at start in dev mode"
**Describe the bug**
When following the steps of the [Quarkus Sentry logging guide](https://quarkus.io/guides/logging-sentry), the application fails to start.

**Expected behavior**
Quarkus starts up normally and Sentry integration works as described in the guide and as was behavior before about Quarkus version 1.9.1.Final

**Actual behavior**
An exception is thrown, Quarkus fails to startup:

[co

[2020-12-27 12:59] bcluap opened #14058 "RESTEasy Reactive + OpenTracing - @Blocking results in heap memory leak"
Describe the bug
Heap grows constantly when running load on a simple REST endpoint with @Blocking annotation
Expected behavior
Memory should not leak
Actual behavior
Memory leaks
To Reproduce
git clone https://github.com/bcluap/quarkus-examples.git
cd quarkus-examples/resteasy-reactive
mvn -Prelease-profile clean install
cd target
java -Xmx100m -jar ./service-runner.jar

Then :
ab -c40 -t10 -n1000

[2020-12-27 14:22] geoand commented on #14058
Thanks for reporting.

I'll take a look next week when I'm back from PTO

[2020-12-27 21:09] omarkad2 opened #14059 "Unable to set connection pool max wait queue size"
**Describe the bug**
I get this stack, when I have a client program opening multiple websocket connections with my quarkus application in a short amount of time:
[code]

**Expected behavior**
Max wait queue size can be made unbounded via configuration.

**Actual behavior**
It seems that there is no configuration aiming to set the max queue size https://quarkus.io/guides/all-config

**To Reproduce*

[2020-12-28 00:08] deratzmann opened #14060 "Jakarta NoSql (JNoSql) Extension"
**Describe the extension**
Hey there.
First: thank you for your work. I like quarkus a lot.
What I am missing is an extension of "jnosql", which is a upcoming jakarta EE Standard spec for nosql databases like mongodb: https://projects.eclipse.org/projects/ee4j.nosql
I know there is an extension for some nosql clients, but especially the mongodb extension feels very rudimentary.
Jnosql is more like

[2020-12-28 05:39] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/448197787

[2020-12-28 06:01] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/448198629

[2020-12-28 08:50] holledauer opened #14061 "AWS - Support StsWebIdentityCredentials"
**Description**
When using AWS EKS the AWS credentials are [injected](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html) into the container and are normally automatically picked up by the aws client library when adding the software.amazon.awssdk:sts dependency.
Unfortunately this doesnt work with quarkus native (I guess there is reflection invo

[2020-12-28 10:56] GuntherSchrijvers commented on #14003
Indeed using the command line it works:

[INFO]
[INFO] -------------------------------------------------------
[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running org.acme.getting.started.GreetingResourceTest
2020-12-28 11:55:42,210 INFO  [io.quarkus] (main) Quarkus 1.10.5.Final on JVM started in 1.761s. Listening on: http://localhost:8081
2020-12-28 11:

[2020-12-28 10:56] #14003 closed

[2020-12-28 10:57] GuntherSchrijvers commented on #14003
As it works from the command line, this ticket can be closed.

[2020-12-28 14:00] Dufgui commented on #12924
hello, i will try yo do it. ;o)

[2020-12-28 19:53] MarcusBiel opened #14063 "java.lang.NoSuchMethodError: 'java.util.Map io.quarkus.bootstrap.model.AppModel.getPlatformProperties()'"
Using Quarkus 1.10.5.Final

together with a Main.java:

@QuarkusMain
public class Main {

    public static void main(String... args) {
        Quarkus.run(args);
    }
}

And these properties:
    <properties>
        <quarkus-plugin.version>1.10.5.Final</quarkus-plugin.version>
        <quarkus.platform.artifact-id>quarkus-bom</quarkus.platform.artifact-id>
        <quarkus.platform.group-id>io.

[2020-12-28 22:39] Dufgui commented on #1940
Hello, i see the introduction of codestart in devtools platform. So i think you can close it.

[2020-12-29 05:46] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/450128399

[2020-12-29 06:00] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/450129243

[2020-12-29 06:59] #14052 closed

[2020-12-29 08:20] holledauer opened #14065 "resteasy-reactive: When using @ServerExceptionMapper the entity is serialized with toString()"
**Describe the bug**
When using a @ServerExceptionMapper and setting the content type (e.g. `application/problem+json`) then the entity will be serialized with toString().

**Expected behavior**
The entity should be serialized with the correct serializer (json in this case)

**Actual behavior**
The entity is serialized with toString()

**To Reproduce**

[code]

[2020-12-29 08:36] MarcusBiel commented on #14063
Adjusted my pom according to the current Quarkus starter, reloaded my IDE, and MAGIC - the exception is gone.

[2020-12-29 08:36] #14063 closed

[2020-12-29 09:31] holledauer opened #14066 "Openapi: Get rid of redirection"
**Description**
When calling GET `/openapi` there is a redirection to `/q/openapi`. Is it possible to get rid of this redirection?

[2020-12-29 09:31] ferinoc opened #14067 "Guide for error handling"
**Description**
Could you please add guide for "best practices" for error handling?

I have microservice A which fetch and process data from external service B via rest client (jax rs).
Processed data are fetch by microservice C.
How should be error handled on each step ? (rest client in A, in service A, rest client in C ?)

I think best would be to go with json response in this case, something li

[2020-12-29 10:36] aomsweet opened #14068 "java.lang.OutOfMemoryError: Java heap space"
**Describe the bug**

Java: 11
Quarkus: 1.10.5.Final
Vertx: 3.9.5
Vertx-redis-client: 3.9.5

Deploy on cloud server, OutOfMemoryError will occur about every two days.
The picture is a screenshot of jvm dump.

Java command line: `nohup java -Xms2048m -Xmx2048m -XX:+HeapDumpOnOutOfMemoryError --add-opens java.base/jdk.internal.misc=ALL-UNNAMED -Dio.netty.tryReflectionSetAccessible=true -jar provider

[2020-12-29 10:37] phillip-kruger commented on #14066
@kenfinnigan

[2020-12-29 11:04] brunobat commented on #7451
This will not properly format the stack trace in exceptions. The last thing I want to do is to copy paste exceptions to a text editor to prettify them.

[2020-12-29 11:04] brunobat commented on #7451
This is a much needed feature in quarkus

[2020-12-29 11:09] madduci commented on #13996
I've managed to produce the full stacktrace again:

`
2020-12-29 11:06:56,672 INFO  [io.quarkus] (main) mycalisthenicsapp 1.0.0-SNAPSHOT native (powered by Quarkus 1.10.3.Final) started in 0.029s. Listening on: http://0.0.0.0:8080
2020-12-29 11:06:56,673 INFO  [io.quarkus] (main) Profile prod activated.
2020-12-29 11:06:56,673 INFO  [io.quarkus] (main) Installed features: [cdi, hibernate-validator

[2020-12-29 11:24] holledauer commented on #14066
The same happens with the health endpoint. When calling `/health` I'm redirected to `/q/health`. I'm using the latest snapshot version (999-SNAPSHOT)

[2020-12-29 11:31] famod commented on #14066
AFAICT, this is by design and will be noted in the 1.11 release blogpost: #13601

In that PR @kenfinnigan also notes:

[2020-12-29 11:56] holledauer commented on #14066
The setting seems to be `quarkus.http.non-application-root-path`. I changed it to `/` and I'm still redirected to `/q/openapi` /  `/q/health`. But now I get a 404 because `/q/openapi` /  `/q/health` is not available anymore

[2020-12-29 12:03] geoand commented on #14058
I did a super quick test with another hello world example and didn't see this problem...

Do you have any profiling information perhaps?
Also, I assume from the description that you didn't see the problem when `@Blocking` was not used?

[2020-12-29 12:39] bcluap commented on #14058
Correct. It only happens when using blocking annotation. I had the same
issue on a full project and then added it to the sample project and same
happened. Not sure why you cant recreate it

Not at my laptop currently so cant send more info but will try to in coming
days

On Tue, 29 Dec 2020, 14:03 Georgios Andrianakis, <notifications@github.com>
wrote:

[2020-12-29 12:48] Thul95 commented on #12168
Hi, we're also looking in to the quarkus Dynamodb extension with the DynamoDbEnhancedClient. With quarkus version 1.10.3.FINAL building the native image works but at runtime it fails. @Temdegon @abouzar @dasniko did you guys get it working in native mode?

`
java.lang.IllegalArgumentException: Failed to generate method handle.
software.amazon.awssdk.enhanced.dynamodb.internal.mapper.LambdaToMethod

[2020-12-29 13:42] gwenneg commented on #14058
@geoand I also did a super quick test 2 days ago using the reproducer, JMeter and VisualVM. There's something fishy happening in the heap related to the quarkus-smallrye-opentracing extension (lots of Jaeger-related objects that are never garbage-collected). Unfortunately I couldn't find more time to investigate this further but this information might help you identify the cause :)

[2020-12-29 13:50] geoand commented on #14058
That's interesting, thanks for the information!

[2020-12-29 17:01] dwamara opened #14069 "Possibility to add cookie when using Qute"
**Description**
We are at the moment developing a portal which uses our own internal system to generate JWT tokens for authentication, the token has to be returned in a Cookie that will then be used subsequently.
Unfortunately as of now there seems to be no mean to return a cookie when returning a TemplateInstance.

**Implementation ideas**
I don't really have a particular implementation idea but

[2020-12-29 18:28] nragon commented on #9326
Any updates on this @emmanuelbernard? (considering https://github.com/quarkusio/quarkus/issues/9264 roadmap)

[2020-12-29 18:35] nragon commented on #13993
@aadityasinha-dotcom, I've just followed CONTRIBUTING.md

[2020-12-29 19:52] mahieddine commented on #14069
Qute is a templating engine and that's it, if you want to create a cookie why not use vertx web ext ?

[2020-12-29 20:05] kenfinnigan commented on #14066
It will need two configurations:

[code]

[2020-12-29 20:44] moquinr opened #14070 "Streamline Dependencies for a Quarkus project using JPMS."
**Description**
I apologize if this issue exists elsewhere, but if it does, I haven't ran into it.  I decided to start using the JPMS for a quarkus project I am working on.  I broke out some of my code into new submodules to be used by the main Quarkus project, each having a module-info file.  The project though, is that when you try to execute the unit/integration tests for a quarkus project that

[2020-12-29 21:10] TheGeekPharaoh commented on #13667
Looks like that was my issue as well.  An errant `keycloak-admin-client` reference in my pom.xml.  Once I replaced that with `quarkus-keycloak-admin-client` everything worked.

[2020-12-29 21:10] #13667 closed

[2020-12-29 21:29] renegrob commented on #9316
@sberyozkin @pmlopes I had a look at https://github.com/vert-x3/vertx-auth/tree/master/vertx-auth-webauthn it is based on Vertx 4.0.0 while Quarkus is using Vertx 3.9.5. I don't know if it makes sense to backport Vertx WebAuthn to Verx 3.9.5 or if it is possible to upgrade Quarkus to Vertx 4.0.0.
Currently I get:
[code]

[2020-12-29 22:46] dwamara commented on #14069
@mahieddine Any pointer on how I can do that with Quarkus?

[2020-12-29 23:00] omarkad2 commented on #14059
Sorry to bother you I thought it was vertx pool of connection linked to my undertow websocket endpoint that had the problem, but I came to understand that it was vertx pool of connections of my redis clients. Closing the issue

[2020-12-29 23:00] #14059 closed

[2020-12-30 00:21] EzxD commented on #14019
Let me try to say it in other words. What he means is that instead of passing a dto (in Json) into the function the json which gets passed for example through the body automatically into the working fields. So you can create a method with public void test(String name, String lastName) instead of a method which looks like public void test(PersonDto person)

[2020-12-30 00:37] steve-hb commented on #14019
I think you misunterstood, we only use REST locally/for (integration) tests and I continued to use it as an example for an extension providing arbitary input for `Func`s. The _input_ should be, at least as an option, mapped to method parameters instead of DTOs/POJOs in order to improve readability and maintainability of the code.

Here's a little example I've in mind:

Function input (currently re

[2020-12-30 04:45] patriot1burke commented on #14019
I understand what he wants, but you would need to compile with parameter names (which would add a ton to metaspace) so funqy could reflect to find out what the parameter name was.   Such a pattern wouldn't work with Lambda though.  Maybe GCF too.

[2020-12-30 05:44] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/452068942

[2020-12-30 06:04] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/452069755

[2020-12-30 08:14] holledauer commented on #14066
I added both config options but unfortunately it didn't work. Still the same behaviour. btw I'm using `io.quarkus:quarkus-resteasy-reactive'.

[2020-12-30 10:27] holledauer commented on #14066
I just found out that the 301 redirection is cached in the browser forever. When clearing the browser cache it works.

[2020-12-30 10:27] #14066 closed

[2020-12-30 14:35] patriot1burke commented on #14019
I guess we could write an annotation processor to get parameter names, but not sure how that works with quarkus dev mode.

[2020-12-30 14:46] Dufgui commented on #12924
hello,
Properties or hashMap seems to not be parseable from command line  according to
https://github.com/eclipse/sisu.plexus/blob/master/org.eclipse.sisu.plexus/src/org/codehaus/plexus/component/configurator/converters/composite/MapConverter.java
and PropertiesConverter.

So i propose to manage this be a simple string and parse it ourself. Are you ok with this ?
@quarkusio/devtools

[2020-12-30 15:35] mahieddine commented on #14069
Yes it's super simple, you will use reactive routes https://quarkus.io/guides/reactive-routes (this nicely explains how it works)

After setting up your project, you need to add the CookieHandler to your router, you can do that somewhere in your project like this

[code]

then in your actual route, you create your cookie and attach it to the request

[code]

[2020-12-30 15:43] maxandersen commented on #12924
remember to make sure quarkuscli / codestarts can actually do this too.

[2020-12-30 16:00] dwamara commented on #14069
Thanks @mahieddine I have started reading about the reactive routes yesterday but something is bothering me, and it is exactly written again in your last post: "you create your cookie and attach it to the **_request_**" but it is not the request that is interesting for me because I have a login request and it is on successful login that the Cookie should be returned in the **_response_** because i

[2020-12-30 16:06] mahieddine commented on #14069
Sorry for the confusion i meant the context not the request ! by calling context.addCookie the cookie will be returned in the response to the client

[2020-12-30 21:42] bl4cha opened #14077 "Running DEV mode in Intellij IDEA with -s argument (custom maven settings.xml) falls back to default Maven settings.xml"
**Describe the bug**
Running the application in DEV mode via IntelliJ IDEA Quarkus Run Configuration (or simply - running it with "java" command) with configured custom maven settings.xml file, ignores this "-s" parameter and falls back to the default settings.xml.

While trying to debug this behaviour, I reached the io.quarkus.bootstrap.resolver.maven.BootstrapMavenContext#getUserSettings method,

[2020-12-30 22:15] bl4cha commented on #14077
I'm not sure what I've done, but after recreating Quarkus run configuration in Intellij, the problem disappeared (but still - the java command generated by IntelliJ seems to be the same) - now the -s argument is picked up when invoked. I'm closing the issue, but if someone is able to reproduce the problem - feel free to reopen/let me know.

[2020-12-30 22:15] #14077 closed

[2020-12-31 05:47] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/453965699

[2020-12-31 06:05] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/453966519

[2020-12-31 07:25] fiorenzino commented on #13832
@FroMage Following your suggestion, you should change:

` filter.setParameter(paramEntry.getKey(), paramEntry.getValue());`
https://github.com/quarkusio/quarkus/blob/ff0465fa4ae559bec41e7e114cc88650fe7a2277/extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.java#L350

in something like this:

[code]
For List

[2020-12-31 07:50] gorshkov-leonid commented on #10801
Hello, what is the result of this discussion?
My case is the usage of a valid URL. According to JAX-RS  URL "https://bla-bla/my-api/project%2Ffolder%2F42.txt" is enough valid and should be decoded on the server. But decoding is done prematurely before authorization, is not it?
The expected result seems to be encoded again or it should not be decoded before authorization.

[2020-12-31 07:54] gorshkov-leonid commented on #5584
Hello, what is the result of this discussion?
My case is the usage of a valid URL. According to JAX-RS URL "https://bla-bla/my-api/project%2Ffolder%2F42.txt" is enough valid and should be decoded on the server. But decoding is done prematurely before authorization, is not it?
The expected URL that is sending to Keycloak seems to be encoded again or it should not be decoded before authorization.

[2020-12-31 09:48] tamht298 opened #14081 "Update partial model"
I try to update partial model and It same as db.collection.update( { _id:...} , { $set: someObjectWithNewData } in native query mongodb. This lib supports for this?

[2020-12-31 17:51] huw0 commented on #13702
Possibly this is occurring because something else in the Quarkus build needs this pom, but never downloads the jar which can then result in this race condition since mavenLocal occurs before mavenCentral.

See: https://docs.gradle.org/current/userguide/declaring_repositories.html#sec:case-for-maven-local

Potentially just swapping the ordering of mavenCentral and mavenLocal may be enough to resolv

[2021-01-01 05:34] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/455651628

[2021-01-01 06:00] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/455652489

[2021-01-01 10:07] AbhiVaidya95 commented on #5705
Getting the following Error when using above buildpack:

 Failed to run all supply scripts: malformed buildpack does not contain a /bin dir: https://github.com/paketo-buildpacks/graalvm.git
   Exit status 225

[2021-01-01 14:22] BigFatDog commented on #8386
I had the same issue and found the solution.
Docker memory usage HAS to be configured in 2 places:
* open "Preferences -> Advanced" in your Docker Desktop and adjust max memory. Mine is 8G
* add jvm memory arg in pom.xml:
[code]

In fact the jvm args could be configured in other ways, too.

[2021-01-02 02:19] jrongs commented on #8932
still experiencing the same issue in release 1.10.5.Final.  we did find a workaround by manually define the getters and setters on entities in the inheritance hierarchy:

 @MappedSuperclass
public abstract class EntityBase extends PanacheEntityBase {
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    public Long id;

    **public Long getId() {
        return id;
    }**
}

@Entit

[2021-01-02 10:37] eduardovpessoa commented on #9476
I'm still getting this error: unable to support mongodb+srv:// in native =(

[2021-01-02 11:21] omri-shaiko commented on #10499
@kenfinnigan Thank you! We're also looking forward this in the 1.11 release.
Could we use it with open-telemetry exporters (in native mode)? In our use case we will want to export it using [datadog exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/datadogexporter)

[2021-01-02 16:44] defnull commented on #13478
Thanks a lot. Since this got merged, I think this can be closed :)

[2021-01-02 23:47] blaluc commented on #14035
Same issue :-(
[code]
as soon as you import the quarkus-smallrye-graphql dependency the form always arrive with all its properties set to null (in the example the "name" property).

[2021-01-03 15:46] voigtste opened #14087 "ThreadLocalPool (reactive) leaks connections upon Thread Scale up and down"
**Describe the bug**
The ThreadlocalPool and derived variant ThreadLocalPgPool leak connections when quarkus is scaling down threads (after idling).
Root cause is, that the thread locals are additionally kept in the threadLocalPools list in io.quarkus.reactive.datasource.runtime.ThreadLocalPool. When quarkus is scaling up worker threads under load, additional ThreadLocal instances are spawned (und

[2021-01-04 05:38] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/460314258

[2021-01-04 06:05] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/460315172

[2021-01-04 06:27] geoand commented on #14065
Thanks for reporting the problem.

I could not reproduce the issue in any of the tests I performed.
Can you please add more details or a small reproducer?

Thanks

[2021-01-04 06:48] jmartisk commented on #14035
The problem seems to be that the GraphQL extension needs to install the request body handler: https://github.com/quarkusio/quarkus/blob/1.10.5.Final/extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java#L166 but that for some reason breaks resteasy-multipart

[2021-01-04 06:49] cescoffier commented on #12486
@geoand @evacchi ChannelConfiguration is a new class introduced because of the new wiring algorithm (the thingy that binds everything altogether)

[2021-01-04 06:58] cescoffier commented on #9316
FYI Vert.x 4 has webauthn support.

[2021-01-04 07:00] cescoffier commented on #14029
It is doing a DNS lookup on the IO Thread. It should be ok, however, in some cases, the DNS server takes a bit of time to reply (records not cached yet). That's what is happening here. If the DNS lookup takes more than 2000 ms, you get this stack trace.

Does it only happen during startup? In this case, it can be safely ignored.

[2021-01-04 07:02] cescoffier commented on #1499
@insectengine yes, definitely. I did the current one at the very beginning of Quarkus. It can be improved a lot.

[2021-01-04 07:04] cescoffier commented on #13889
SmallRye Reactive Messaging properties do not start with the quarkus prefix because they are defined in the Reactive Messaging specification.

Regarding this issue, we should make the Kafka streams extension read the `kafka.bootstrap.servers` property as a fallback (if  `quarkus.kafka-streams.bootstrap-servers` is not set)

[2021-01-04 07:04] cescoffier commented on #10518
@xstefank does this include `@Startup` (startup health checks)?

[2021-01-04 07:22] ia3andy commented on #1940
Yes we can close it

[2021-01-04 07:22] #1940 closed

[2021-01-04 07:34] geniusit commented on #14029
Yes, only during startup!

[2021-01-04 07:44] jtama-op commented on #13889
Yes I get that property keys are defined by SmallRye Reactive Messaging, but couldn't we provide "translation" from `quarkus` to `SmallRye Reactive Messaging` like property names ? I mean many other extension do exactly that.

[2021-01-04 07:50] ia3andy commented on #13917
@gsmet This option is @deprecated in favor of packageName:

[code]
https://github.com/quarkusio/quarkus/blob/master/devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java#L115

When using `className` you still get the `packageName` extracted from it, but the class name part is ignored.

The reason behing is that as soon as you pick more than one extension with example code, this `cla

[2021-01-04 08:23] cescoffier commented on #13856
@rsvoboda I don't have the issue (just tried to build and run the getting started guide). For me, everything works.

[2021-01-04 08:32] geoand commented on #14051
Thanks for reporting @jclingan!

This will be a whole a lot easier to fix when we pivot the spring web compatibility to RESTEasy Reactive, so unless you really really need this soon, I'd rather wait.

[2021-01-04 08:33] geoand commented on #13862
What's the plan to tackle this one @maxandersen ?

[2021-01-04 08:44] AndreiYu opened #14089 "Unable to override config properties for Isolates running in native mode"
**Describe the bug**
The code, that relies on Isolates running in Native image is unable to catch overridden config properties (either passed as command line arguments when launching native executable or overriding properties with `QuarkusTestResourceLifecycleManager` in Native tests).
It seems Isolates use the values of properties that are effective at image build time and do not override them in

[2021-01-04 09:00] cescoffier commented on #13996
I just tried with gmail (I don't have an office 365 account) and it works in native.

The error seems related to DNS. Does it happen every time?

[2021-01-04 09:36] cescoffier commented on #13996
@madduci I've created a new quickstart (using gmail): https://github.com/quarkusio/quarkus-quickstarts/pull/739. That's how I tested it in both JVM and native.

[2021-01-04 09:44] MarcusBiel commented on #13539
Reproducer: https://github.com/MarcusBiel/quarkus-multipart-reproducer

[2021-01-04 09:44] MarcusBiel commented on #12219
Any news here? PING.

[2021-01-04 09:56] cescoffier commented on #14056
I just ran it with the latest Quarkus which give you a much better message at startup time:

[code]

You are using two emitters against the same channel, which would produce an incorrect topology as the connector does allow a single "source".

The workaround, until we add the "merge" feature in connector is to create have a method like this:

[code]

So, you end up with:

[code]

[2021-01-04 09:58] cescoffier commented on #14056
I have created https://github.com/smallrye/smallrye-reactive-messaging/issues/920 to track the _merge_ support on connectors.

[2021-01-04 09:59] cescoffier commented on #14056
Closing as it's now tracked in the upstream project.

[2021-01-04 09:59] #14056 closed

[2021-01-04 10:00] cescoffier commented on #14056
(marking it as won't fix as it won't be fixed in quarkus per se :-))

[2021-01-04 10:01] ia3andy commented on #13917
Also, it's working without `resteasy-jackson` because then you get the `resteasy` example by default..

[2021-01-04 10:13] madduci commented on #13996
@cescoffier thanks for the answer. Yes, it does happen everytime with office365, but only in native mode. In JVM it works just fine.

[2021-01-04 10:35] bcluap commented on #14058
Yes i can confirm that this is related to opentracing. Something is not
freeing spans/traces from threadlocals

On Tue, Dec 29, 2020 at 3:50 PM Georgios Andrianakis <
notifications@github.com> wrote:

[2021-01-04 10:38] geoand commented on #14058
https://github.com/quarkusio/quarkus/pull/14088 should take care of the problem

[2021-01-04 11:01] Andro999b commented on #11323
Any updates?

[2021-01-04 11:05] geoand commented on #14006
@radcortez does the new MP Config handle this case somehow?

I see that in the case of YAML like in the example @gastaldi uploaded, the value is some kind of json object that I assume can be converted into the list of objects we want, so I would like to know if there is anything that I could reuse

[2021-01-04 11:10] geoand commented on #14087
cc @Sanne @FroMage

[2021-01-04 11:11] geoand commented on #14068
Hi,

Do you have a sample of the application that exhibits this behavior?
I am afraid without a simple it will be very tough to locate the memory leak

[2021-01-04 11:22] radcortez commented on #14006
We have similar issues reported in SR Config:
https://github.com/smallrye/smallrye-config/issues/447
https://github.com/smallrye/smallrye-config/issues/436

The main issue here is that MP Config is backed by `String` key value pairs. The Converter API does not have any context information of additional keys. The conversion happens in a key/value fashion, making it very unfriendly to retrieve relat

[2021-01-04 11:28] rsvoboda commented on #13856
What version of GraalVM are you using? How did you install it - sdkman / direct download ... ?

[2021-01-04 11:29] geoand commented on #14006
I'll check it out, thanks!

[2021-01-04 11:32] xstefank commented on #10518
@cescoffier yes, but we renamed it to @Startness - https://github.com/smallrye/smallrye-health/blob/3.0.0-RC2/api/src/main/java/io/smallrye/health/api/Startness.java.

[2021-01-04 11:39] geoand commented on #14006
I see that in that example, under the covers the new ConfigMapping API is being used.
My plan is to rely on that for this use case - is that OK with you @radcortez ?
I understand it's experimental, but I since this will be far away from users, we can easily adapt on the Quarkus side of that API breaks.
WDYT?

[2021-01-04 11:56] dwamara commented on #14069
As I need to move faster than I thought with the prototype, I have decided to switch to Struts2 to solve this problem and make the frontend. I will definitely come back to this though but for the moment the issue doesn't need to stay open.
Thanks again @mahieddine for the pointer.

[2021-01-04 11:56] #14069 closed

[2021-01-04 11:59] voigtste commented on #14087
cross checked that again. If i set

quarkus.thread-pool.core-threads=32
quarkus.thread-pool.max-threads=32

which prevents thread scale up and down at all fixes the issue temporary.

But for sure, I assume this is not as it should be...

[2021-01-04 12:00] Sanne commented on #14087
Good point, thanks for reporting. Should be noted that we're actually working to ensure that all Hibernate Reactive use happens on the vertx async loop, so the scale down of the worked pool won't affect it anymore.

But I guess it's still a problem for people not using Hibernate Reactive and using the Vert.x pool directly. I wonder though if that's correct usage - we're making those changes in Hib

[2021-01-04 12:00] dmlloyd commented on #5113
You need to use version `1.5.4.Final-format-001` of `wildfly-common`.  Some dependency has probably included a different unsupported version; the correct fix would be to exclude that dependency.  Check `mvn dependency:tree` which might give a clue.

[2021-01-04 12:01] Sanne commented on #14087
@voigtste a quick workaround would be to use the very latest Hibernate Reactive, you'll have to build it from master. I hope to release a beta2 soon, maybe this week already, but in the meantime it would be great if you could check if it solves your problem.

 - https://github.com/hibernate/hibernate-reactive

[2021-01-04 12:03] Sanne commented on #14087
@FroMage , do you have suggestions about the use of the vert.x pool from within the worker pool? As discussed on zulip, it's inherently unsafe in respect to the threading model, I wonder if I should wrap the pool with an assertion, having it throw exceptions in case of misuse.

[2021-01-04 12:05] geoand commented on #14006
Hm... Actually I don't think I can use the ConfigMapping API because `SmallRyeConfig` will not have not have it configured

[2021-01-04 12:29] holledauer commented on #14065
Hi,
I finally found out where the problem is. The problem was with a external Jackson module (https://github.com/zalando/problem) that has issues when compiled natively with GraalVM. When running natively it produces only `{}` as a result.
Sorry that I was suspecting it to be the toString() issue that I had before.
I will dig deeper into the lib and try to solve it somehow.

[2021-01-04 12:29] #14065 closed

[2021-01-04 12:33] geoand commented on #14065
Cool, thanks for the information!

[2021-01-04 12:34] radcortez commented on #14006
In Quarkus any ConfigMappings are automatically added now, so it should be fine.

Anyway, the trick here is the Converter piece: https://github.com/smallrye/smallrye-config/blob/a8c0fab9b056b8205f3b4282b433f63c26f83048/sources/yaml/src/test/java/io/smallrye/config/source/yaml/YamlConfigSourceTest.java#L203-L208

A parent property `admin.users` contains the entire YAML section as a String, so you c

[2021-01-04 12:38] geoand commented on #14006
Understood, thanks.

I'll have a closer look sometime this week.

[2021-01-04 13:06] gsmet opened #14092 "Upgrade to Quarkus HTTP 3.0.17.Final"

[2021-01-04 13:10] rafaelsousa opened #14093 "Skip OIDC 'openid' scope redirect parameter"
**Description**
When trying to create an application to connect to spotify oauth2 server their server answers :

Illegal scope

Looking at the URL generated by the quarkus extension, the parameter is passed as "&scope=openid+user-read-private+user-read-email"

This "OpenID" value is passed directly in the code, as seen in the quarkus openid extension :

https://github.com/quarkusio/quarkus/blob/06

[2021-01-04 13:28] cescoffier commented on #13889
No, unfortunately, it's not that simple in this case. How reactive messaging (not smallrye, the spec) is a bit particular.

We could prepend "quarkus." to all the properties, but that would only create longer keys.

[2021-01-04 13:33] cescoffier commented on #13889
BTW, I just opened #14095 which allows Kafka Streams to be configured using `kafka.bootstrap.servers`.

[2021-01-04 13:49] pedroigor commented on #14093
Perhaps, only add the `oidc` scope if no scope was provided?

[2021-01-04 13:51] meistermeier commented on #13917
Thanks for the clarification. But the problem that `resteasy-jackson` is referred in some guides (e.g. neo4j, mongodb, restclient...) and they tell to open and edit the resource created with the `className` option, is still a problem, right?

[2021-01-04 14:04] ia3andy commented on #13917
@meistermeier right, then this is a bug indeed, sorry I missed that, we should update the guides for sure!

[2021-01-04 14:12] rafaelsousa commented on #14093
If the scope is [mandatory](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) shouldn't the extension throw an error, informing the user to provide it in .properties file?

[2021-01-04 14:13] kenfinnigan commented on #10499
@omri-shaiko For the first release it would likely only be Jaeger exporter in native mode, but we would look at others over time.

Also, CR1 for 1.11 is being cut tomorrow, so it doesn't look like the extension will be ready for then unfortunately

[2021-01-04 14:20] ia3andy commented on #13917
I am hesitating between a few solutions:
1. changing the logic so that when `className` is used (and spring-web is not selected), we automatically add the resteasy example. It would fix all the guides but would make the behavior inconsistent.
2. updating all the guides which already provide example code in the extension set to be consistent with the new example code
3. having a new `--examples=res

[2021-01-04 14:33] sberyozkin commented on #14093
Hi @pedroigor @rafaelsousa dropping it if the scopes have been provided would be a breaking change, and would also likely cause some headaches. Pedro, you are right, `openid` is required for OIDC, and since the extension is primarily targeting OIDC providers, most users who work with OIDC and need some extra scopes are already used to just adding `email`, etc, so I'd be a bit hesitant in asking th

[2021-01-04 14:37] sberyozkin commented on #14093
@pedroigor @rafaelsousa according to
https://developer.spotify.com/documentation/general/guides/authorization-guide/

ID token is not returned

so I'm not sure what are we going to do about this issue.

[2021-01-04 14:45] FroMage commented on #13832
You can check for `instanceof Object[]` but that won't work for primitives, you have to add an `instanceof char[]` etc…

But I'd like to have @Sanne's answer before we touch that.

[2021-01-04 14:49] voigtste commented on #14087
@Sanne: already tried that before (hibernate latest from repo). The pool impl is coming from the quarkus extension. So unfortunately, does not help.
Additionally, I cannot prevent, that the pool is used from the worker threads. In my sample (blueprint for larger app system) we want to use hibernate reactive together classic business logic inside CDI beans (also request scoped). On top we would lik

[2021-01-04 14:53] voigtste commented on #14087
Side note just as a constructive critic: I do not like the thread local pool approach so much. I am pretty sure, that there was reason to do that but it makes it quite complex in deployment scenarios with multiple threads. E.g. when you configure the pool size to 5, the limit will not be five, it will be 5 times the number of spawned threads. So this is error prone from the config side and on a la

[2021-01-04 15:05] gavinking commented on #13832
I mean this distinction is a pretty ancient feature of Hibernate. And it applies to `Query` also, not just to filters. And I forget what the JPA spec has to say about it. First thing to check is if and how you can do this in JPA.

[2021-01-04 15:22] FroMage commented on #14087
I guess we can ask @dmlloyd if there's a hook for thread cleanup from the pool.

But that won't help us when pooling on non-quarkus-threads. We should probably only do TL-pooling on event loop threads (provided they don't scale up/down) and Quarkus worker threads (if we can shut down the pool on scale-down).

Note that this setting was added for a benchmark that was running on the event loop, and

[2021-01-04 15:23] geoand commented on #14006
I think I have way to make something like this work.

It involves generating some intermediate classes and some configuration that will be fed to SnakeYaml in order to use it to generate a proper converter.
It will definitely have issues, but should work fine for basic cases.

[2021-01-04 15:31] rafaelsousa commented on #14093
Hi @sberyozkin, I'm going to see in spotify side about this issue and I'll be back to this thread. Thank you.

[2021-01-04 15:38] dmlloyd commented on #14087
What you'd want to do is to wrap the `Thread`'s `Runnable` so that it does the requisite cleanup before exiting in a `finally` block.  The way to do this (in our thread pool or almost any other) would be to wrap the `ThreadFactory`.

[2021-01-04 15:40] FroMage commented on #14087
OK so there's nothing in place for that, but we can add it at the Quarkus level and provide a user API for declaring such cleanup actions, thanks.

[2021-01-04 15:43] FroMage commented on #14087
@Sanne if you forced the thread-local pool default to make sure we didn't use the global pool, then perhaps we should get rid of the global pool and refuse to pool on non-event-loop threads entirely?

[2021-01-04 15:44] cescoffier commented on #13856
@rsvoboda I use jabba - so `jabba install graalvm-ce-java11@20.3.0`

[2021-01-04 15:52] gsmet commented on #9142
@Mobe91 @beikov any chance you could have a look at this failure? I plan to release CR1 on Wednesday so if we need a fix, we need it sooner rather than later.

If it's a native image problem and you can't figure it out, we can try to ping the Mandrel team.

[2021-01-04 15:53] gsmet commented on #12486
@evacchi @cristianonicolai can one of you confirm that things are under control on your side? We release Quarkus 1.11 CR1 on Wednesday.

[2021-01-04 15:57] evacchi commented on #12486
the build on kogito-runtimes master works with beta but we are figuring out another build issue https://github.com/kiegroup/kogito-runtimes/pull/956

[2021-01-04 16:15] cescoffier commented on #13996
@madduci Can you try with GraalVM CE 20.3.0.
I just tried (I don't have an account, but DNS lookup happen before authentication), and I got:

[code]

which is expected...

[2021-01-04 16:17] alukin opened #14097 "RocksDB extension proposal"
**RocksDB extension description**

It would be a very good thing for compact microservice to have the ability to save data in a simple but very fast embedded key-value store. RocksDB is a good candidate for such key-value store with on-disk persistence. RocksDB is used in many projects and well supported. It is implemented C/C++ but has supported Java API in its source repository.
Simply adding "r

[2021-01-04 16:24] ochaloup commented on #13779
This could be partially related to https://github.com/quarkusio/quarkus/issues/6654

[2021-01-04 16:50] #8221 closed

[2021-01-04 16:51] batashi commented on #7360
Hi @jd268 ,
The same issue still persists for 1.10.5. and I couldn't enter ID manually because it will not reserver the ID in 'hibernate_sequence' table.

[2021-01-04 16:56] #13954 closed

[2021-01-04 17:02] FranckDemeyer opened #14098 "OASFilter provided by extension not working"
I recently create an extension which provide openapi specification, but my base application doesn't extract it, it's the same with health openapi extension.

[code]

[2021-01-04 17:08] avdev4j commented on #12514
Hi folks,
I have tested the fix with the 1.11.0.Beta2 and I can confirm the bug is fully fixed with Maven but not with Gradle.

I have recreated two sample apps (identical to the original one) with Maven and Gradle

- Maven: https://github.com/avdev4j/quarkus-mongo-maven
- Gradle: https://github.com/avdev4j/quarkus-mongo-gradle

How to reproduce it:
- Clone the repo: `git clone git@github.com:avde

[2021-01-04 17:10] evanchooly commented on #12514
Curious.  That's pretty odd because the fix had nothing to do with maven either.  I'll take a look though.   Thanks for the update.

[2021-01-04 17:11] sberyozkin commented on #14093
Hey @pedroigor It appears that if we want to support pure OAuth2 providers doing the authorization code flow, then it should be an independent extension - as in such cases it is mainly about the Quarkus endpoints getting the user authorization to propagate the access tokens somehow, it is the mute point if SSO can be assured without the ID token. Or we can add a token state strategy AT_RT only but

[2021-01-04 17:14] avdev4j commented on #12514
I thought the same when I faced the problem with our JHipster Quarkus blueprint. I firstly thought of a problem from our implementation but I can reproduce it with a sample app... I checked the PR and as expected nothing related to Maven either.

[2021-01-04 17:14] Sanne commented on #13779
@ochaloup yes, I think it could be interesting to dedicate some days to review the Narayana bootstrap process as a whole.

I'd suggest take a baseline metric of bootstrap efficiency, and try to improve on it - both in terms of speed and (native) memory. XML parsing, Loading of XML parsers, filesystem loading and resource loading are all just implementation details of the same problem - I'm sure yo

[2021-01-04 17:30] Sanne commented on #14087
Right, within Hibernate Reactive there's assertions (since only a couple of weeks) to ensure we exclusively access the pool from the event loop. I believe that's the right call for Hibernate.

But there's potentially more users than Hibernate Reactive; for those we have three options (summarizing your and David's suggestions as well):

1. patch our worker pool executor to produce special threads o

[2021-01-04 17:32] Sanne commented on #14087
You're right; it's not going to be like that - I have some more patches locally. Sorry, I forgot about those during the break :)

[2021-01-04 17:34] gastaldi commented on #14097
Repository created in https://github.com/quarkiverse/quarkiverse-rocksdb.

Let us know if you have any questions in the Quarkus mailing list or in https://quarkusio.zulipchat.com.

Happy coding! ;)

[2021-01-04 17:34] #14097 closed

[2021-01-04 17:36] Sanne commented on #14087
I totally agree - and warned my team mates about the same concern. A better pool implementation will be needed and I am watching this closely. But also consider we'll soon (2 months?) switch to Vert.x 4, which won't need the threadlocal and changes the design a bit.

In case we still want to use a thread-local based approach, I'd want to at least improve it by implementing some scheme to honour th

[2021-01-04 17:44] loicmathieu opened #14100 "Reactive RESTEasy and property based authentication leads to IllegalStateException"
**Describe the bug**
When testing RESTEasy reactive with my existing application that uses property based authentication, it fails with `Unhandled error: java.lang.IllegalStateException: Request has already been read`.

See the full stack trace

[code]

**To Reproduce**

I didn't had time to create a reproducer, here is the list of my extensions: agroal, cdi, flyway, google-cloud-bigquery, hiberna

[2021-01-04 17:44] loicmathieu commented on #14100
/cc @geoand

[2021-01-04 17:46] loicmathieu commented on #14081
I answer to this question on the following Zullip Thread: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/How.20to.20update.20partially.20model.20with.20mongo.20panache

Is it OK for you ?

[2021-01-04 17:55] dmlloyd commented on #14087
I want to clarify that what I was suggesting was *not* to create special threads but to delegate to the "upstream" `ThreadFactory` but pass it a wrapped `Runnable`, which is essentially exactly what was asked for (i.e. a uniform way to add behavior to a thread without really caring what the thread implementation is).  Adding an API to register cleanup hooks is not necessary as long as the thread f

[2021-01-04 18:05] voigtste commented on #14087
@Sanne

Sounds good to me. Will watch and follow this

for 2. I think disallowing is not so nice. As in my case (hibernate reactive plus with panache reactive) it is more or less impossible to control the point where the framework will pickup / initialize the connection. Especially with CDI injected cases (lazy initialized by nature) it is hard to predict as soon as the application side will incor

[2021-01-04 18:07] voigtste commented on #14087
Another side question in this context: do worker threads also have per default a vertx context which will be disposed when the thread is removed and then would a "close hook" on the vertx context be called in this case? Just as an idea to place some cleanup logic for the pool...

[2021-01-04 18:15] aldettinger commented on #14034
@iocanel Many thanks for having a look.

Indeed, I don't know if there is a direct link with knative. But it's worst mentioning that I'm able to deploy the same native service when NOT using `deployment-target=knative`.

I've added `quarkus.kubernetes-client.trust-certs = true` to `application.properties`

I was thinking about a kind of transient failure to resolve the oapi url, so I've played wit

[2021-01-04 18:41] gastaldi commented on #14081
Copying the chat transcription here:

1. Load the entity, update the field and save if again via the `myEntity.update()` method
2. Use the `MyEntity.update(<updateDocument>).where(<filterDocument>)` method
https://quarkus.io/guides/mongodb-panache#most-useful-operations

If you'll want to update a single field based on its ID, with the second solution this will be something like
`Person.update("na

[2021-01-04 18:41] #14081 closed

[2021-01-04 18:44] gastaldi commented on #14022
The thread model in Zulip is something that is really good and I don't see it in GitHub Discussions, so I'm -1 to this for now.

Although I agree that GitHub Discussions would be a nice replacement to the Google Groups mailing list.

[2021-01-04 19:03] gsmet commented on #14089
I don't think we suppose Isolates for now and I'm not sure we plan to support them.

[2021-01-04 19:04] gsmet commented on #14068
@cescoffier do you know who's working on the Redis client on the Vert.x side?

[2021-01-04 19:05] gsmet commented on #14010
Not sure this is supported. @geoand does it ring a bell?

[2021-01-04 19:06] gsmet commented on #14026
Closing as it doesn't look like a Quarkus issue.

[2021-01-04 19:06] #14026 closed

[2021-01-04 19:07] gsmet commented on #14057
@ia3andy could you have a look?

[2021-01-04 19:11] gsmet commented on #14057
@ia3andy I see the Sentry extension does not depend on Jackson? Given the default client factory uses Jackson, it looks like we should add a Jackson dependency?

And if not, I don't see Jackson mentioned in the guide so it should be added there.

@DaHoC can you try to add the `quarkus-jackson` dependency to your `pom.xml` and see how it goes?

[2021-01-04 19:18] geoand commented on #14010
Yes, this is a known issue.

I suggest using a fallback, like `unset`

[2021-01-04 19:23] grottah commented on #2091
Hi, i know this is close, but i need a little help to find this implementation. I need a solution to code my own set of lambdas. i Know Quarkus has a magic support (https://quarkus.io/guides/amazon-lambda-http), but as I said before i need to tuning my own  lambdas (log, memory, etc...). The jersey is quite easy, https://aws.amazon.com/blogs/opensource/java-apis-aws-lambda/. I need the same in RES

[2021-01-04 19:52] Sanne commented on #14087
I understand, but if you do indeed use it from a context in which you don't know for sure if you're using the client from "the right thread", then you get in trouble with data races - and might not notice, especially if you are in a context in which you can't know for sure.
I can't prevent race conditions other than documenting "don't do this" but this gets tricky in such complex applications. Don

[2021-01-04 20:02] Sanne commented on #14087
@voigtste might want to play with https://github.com/quarkusio/quarkus/pull/14102

It does NOT address:

- the connection leak reported here
- nor fixes Hibernate Reactive Panache

but if you use Hibernate Reactive over its own API and without opening a Session directly, it will delegate work to the right context.
You can set `-Dorg.hibernate.reactive.common.InternalStateAssertions.ENFORCE=true` t

[2021-01-04 20:05] cescoffier commented on #14068
@gsmet @pmlopes is the maintainer of the vertx redis client.

[2021-01-04 20:26] pmlopes commented on #14068
Just by looking at the screenshot it's hard to tell the root cause. The trace seems normal because it shows where the buffers arrive from redis and are parsed `RESPParser` and thanks to `ReadableBuffer` which "glues" byte chunks together to allow the protocol parsing.

Now these chunks may remain active outside the parser as they are then given to the user, so the leak can be anywhere.

Further re

[2021-01-04 20:27] jclingan commented on #14051
This is for the [book](https://www.manning.com/books/kubernetes-native-microservices-with-quarkus-and-microprofile) Ken and I are writing. Yeah, shameless plug, LOL. I can put a NOTE in the book for now and wait for the fix.

[2021-01-04 20:29] geoand commented on #14051
Great, thanks 👍

[2021-01-04 20:53] gavinking commented on #14087
@Sanne remember this is changing somewhat in vert.x 4 and i'm not sure how that impacts this discussion.

[2021-01-04 20:55] danieloh30 commented on #13629
I just tried to retest this in 1.10.5.Final then it still doesn't work since remote-dev keep trying to trigger the entire S2I processor rather than sending changed classes when I change the code. Also, the environment variable(QUARKUS_LAUNCH_DEVMODE=true) which I set in DC manually is removed during the new S2I processor based on Openshift extension. This occurs connection failure like:

2021-01-0

[2021-01-04 21:02] Sanne commented on #14087
@gavinking right, I mentioned that some ~100 comments above :)
 - https://github.com/quarkusio/quarkus/issues/14087#issuecomment-754112051

I guess I should check what the pool does in vert.x 4, I haven't had the chance yet - I just suspect it will still need _some_ restrictions, but let's see first..

[2021-01-04 21:03] gavinking commented on #14087
ah OK, sorry, carry on 😅

[2021-01-04 21:07] Sanne commented on #14087
np, I'm glad you're watching these issues :)

[2021-01-04 21:24] danieloh30 commented on #13629
@gsmet

[2021-01-05 05:38] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/462656604

[2021-01-05 06:14] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/462657595

[2021-01-05 06:43] cescoffier opened #14105 "Allows template-based email to be rendered as a Uni instead of CompletionStage"
**Description**

Current code:

[code]

Desired code:

[code]

[2021-01-05 06:44] cescoffier commented on #14105
CC @mkouba

[2021-01-05 07:06] mkouba commented on #14105
Hm, we should probably keep the original `send()` method. If so then we should find a good name for the `Uni` version...

[2021-01-05 07:11] cescoffier commented on #13889
Fixed by #14095.

[2021-01-05 07:11] #13889 closed

[2021-01-05 08:13] hrstoyanov commented on #14022
What is the problem with thread model in GitHb discussions? Why do you need two entirely different forums - Google Groups and Zulip, when all can be done with Github discussions?

[2021-01-05 09:03] #13208 closed

[2021-01-05 09:12] ia3andy commented on #14057
I will have a look today

[2021-01-05 09:41] FroMage commented on #13988
I can confirm this bug.

[2021-01-05 09:43] geoand commented on #14100
Very interesting indeed.

If you have time to add a reproducer at some point, that would be great

[2021-01-05 09:53] DaHoC commented on #14057
Adding the dependency
[code]
to the reproducer project's pom.xml interestingly did not improve anything and results in the same error message

[2021-01-05 09:55] ia3andy commented on #14057
I think it might be a classloading issue as jackson is already a `sentry` dependency:

![image](https://user-images.githubusercontent.com/2223984/103632411-8b65b100-4f44-11eb-985c-e0a63b38b1d8.png)

[2021-01-05 09:56] ia3andy commented on #14057
@geoand any thought?

[2021-01-05 09:57] ppatierno opened #14108 "Got java.util.zip.ZipException on running mvnw quarkus:dev"
I tried to create a really simple application using code.quarkus.io including only the REST extension just for getting started.
After unzipping the file I run `./mvnw quarkus:dev` but got the following error:

[code]

The same happens if I create a Quarkus application using the VSCode plugin.
In order to have it working I had to delete the wrapper and takari library from Maven repo by running `rm

[2021-01-05 09:58] ppatierno commented on #14108
/cc @FroMage

[2021-01-05 09:58] geoand commented on #14057
I don't have any idea just by looking at it, I'll have to a have a closer look sometime this week

[2021-01-05 09:59] emmanuelbernard commented on #14108
To be clear it's not Quarkus fault but the User experience is affected. If homehow we could detect and give good error reports, we would be semi-gods (or something like that).
In Paolo's case, `rm -fR ~/.m2/repository/io/takari/ ~/.m2/wrapper/` did the trick

[2021-01-05 10:00] FranckDemeyer commented on #14098
After testing other options, it seems to depend on the `mp.openapi.scan.disable` option.
In previous versions, when `mp.openapi.scan.disable` was set to `true`, the openapi documentation provided by extensions was included, which is no longer the case.

to reproduce:
- create a new quarkus project with openapi and smallrye health extensions
- create a new OASFilter with basic informations
- set `m

[2021-01-05 10:00] jessydeclerck opened #14109 "smallrye-health extension doesn't work when a root path is set in 1.11.0.BetaX versions"
**Describe the bug**
Using quarkus 1.11.0.Beta2 version, smallrye health endpoint is not found when a root path is set
(Behaviour is the same for 1.11.0.Beta1)

**Expected behavior**
When calling http://localhost:8080/myrootpath/health should return a 200 with some health informations

**Actual behavior**
When calling http://localhost:8080/myrootpath/health a 404 Resource Not Found is returned. Mo

[2021-01-05 10:01] FroMage commented on #14108
We can test if Maven wrapper has correct checksum by adding the `-C` option after manually truncating the jar I guess.

[2021-01-05 10:13] ia3andy commented on #14057
code.quarkus.io app is using Sentry and works with `1.10.5.Final` (in production), I've tested, devmode is also failing, but built apps are working.

[2021-01-05 10:25] oztimpower commented on #14061
Any chance you could provide a minimalist project to test this?

[2021-01-05 10:40] gsmet commented on #14057
@ia3andy in any case, if it depends on Jackson, we need to add a dependency to the `quarkus-jackson` extension so that needs a fix.

But looks like even with that, we end up with a CL issue in dev mode. @geoand could it be that the logging layer is loaded parent first?

[2021-01-05 10:42] geoand commented on #14057
I am pretty sure we did have some parent first stuff because of sentry, but I don't remember exactly what

[2021-01-05 10:53] gsmet commented on #14098
/cc @phillip-kruger

[2021-01-05 10:57] madduci commented on #13996
I've tested with the newer image to build the native executable (quay.io/quarkus/centos-quarkus-maven:20.3-java11) and now the process crashes (apparently a segmentation fault) without any output.

[2021-01-05 10:58] hrstoyanov opened #14110 "Private and static methods on interface don't work with @ConfigProperties"
**Describe the bug**
Described in details [here](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Configuration.20interface.20-.20unnecessary.20restriction.3F/near/221631040)

**Expected behavior**
Config interface should not suffer from such restrictions on private static methods

**Actual behavior**
Quarkus 1.10.5.Final fails with :
[code]

**To Reproduce**
See issue description

[2021-01-05 11:01] ia3andy commented on #12924
I think it's a bit more complex that this as codestarts can also add configs and this may introduce conflicts..

Also I would call it `-DappConfig` or `-Dconfig` instead of `properties` which is too general, config can be yaml too..

[2021-01-05 11:02] jmartisk commented on #10518
Done (in the microprofile-4 branch for now, will move to master soon)

[2021-01-05 11:02] #10518 closed

[2021-01-05 11:02] jamesnetherton opened #14112 "Incorrect status code with custom Vert.x route and Quarkus RESTEasy extension is enabled"
**Describe the bug**

If you configure a custom Vert.x route like the following:

[code]

Then `POST` to the `/test` endpoint and omit the required `Content-Type` header, then the expected status code should be `415 Unsupported Media Type`. This is the behavior, except when Quarkus RESTEasy is present. In this case the status code is incorrectly returned as `404`.

**Expected behavior**

The respo

[2021-01-05 11:11] hrstoyanov commented on #14110
@geoand as you requested ..i filed this bug

[2021-01-05 11:16] geoand commented on #14110
Thanks a lot!

[2021-01-05 11:28] ia3andy commented on #14057
@geoand https://github.com/quarkusio/quarkus/blob/master/extensions/logging-sentry/runtime/pom.xml#L35

[2021-01-05 11:32] #11409 closed

[2021-01-05 11:39] hrstoyanov opened #14113 "Nested YAML structures not handled properly by @ConfigurationProperties"
**Describe the bug**
See [here](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Yet.20another.20configuration.20issue)

**Expected behavior**
As per the example given, I expected to see 3 different mssql structures

**Actual behavior**
All 3 ended up the same - like the last one

**To Reproduce**
See the description above, it has all the sample code and YAML. The isseu is observe

[2021-01-05 11:43] evacchi opened #14114 "UberJar includes Maven dependencies"
**Describe the bug**
When some specific Quarkus extensions are added to a project, the uber jar procedure emits duplicate file warning. These files do not belong to the project, and come in fact from Maven dependencies, transitive in these extensions. I could isolate to a couple of extensions, I don't know if there are more.

**Expected behavior**
None of this should occur :)

**Actual behavior**

[2021-01-05 11:43] geoand commented on #14057
I don't have time to look at this today. It will probably be end of the week, at best

[2021-01-05 11:43] gsmet commented on #14113
hey @hrstoyanov , could you please describe the issue in your description? Will be handy if users search for it in the future.

[2021-01-05 11:46] gsmet commented on #14114
@aloubyansky looks like a regression in 1.11, I also observed it in our core regression tests. Could you have a look at this in priority when you're back from PTO? Looks like something we should fix for Final.

Thanks!

[2021-01-05 12:07] beikov commented on #9142
Hey @gsmet,

sorry it is taking us so long. Last time I talked to @Mobe91 he was still in the process of println-debugging as this is a native image only issue. I'm not sure if he can manage to fix it until tomorrow, but we are working on it. I might be able to look into it at the end of the week if necessary.

How bad is it if this test fails for now in native mode?

[2021-01-05 12:11] hrstoyanov commented on #14113
Atatching a reproducible project - See the Main.java class
[issue14113.zip](https://github.com/quarkusio/quarkus/files/5770037/issue14113.zip)

[2021-01-05 12:28] holledauer commented on #14061
It is hard to provide a project because the magic is happening in the aws infrastructure. When including the software.amazon.awssdk:sts  dependency the credentials are automatically picked of from the aws infrastructure. There is normally nothing else to do in the project.

It seems that others have the same issue: https://github.com/quarkusio/quarkus/issues/6488
I will close this as duplicate.

[2021-01-05 12:28] #14061 closed

[2021-01-05 12:34] gastaldi commented on #14022
IMHO the biggest problem is that you can't discuss privately or make the conversation visible to a specific group with GH Discussions.

But it's up to discussion, it would be nice to listen to what other core members think /cc @gsmet @emmanuelbernard @maxandersen

[2021-01-05 12:47] emmanuelbernard commented on #14022
The way I read GH Discussions it would be a mix between our current Google Groups email and StackOverflow. This does not address the Zulip scope which is partial view ephemeral but rapid feedback loop converstations.

[2021-01-05 12:50] gsmet commented on #14061
@holledauer does the fix in the issue you pointed out work? e.g. https://github.com/moralesl/aws-quarkus-demo/commit/108f741c71fe84c96b8df30da8cb5bc3c5a041b1 ?

Looks like we would need an extension for STS.

/cc @marcinczeczko

[2021-01-05 13:09] holledauer commented on #14061
Yes that fixes the issue. But only if a synchronous aws client is available. For example it works when DynamoDbClient is injected, but not when DynamoDbAsyncClient is used. I guess that the sts library is using a sync client and that won't be compiled when DynamoDbAsyncClient is used.

[2021-01-05 13:13] voigtste commented on #14087
ok, will play with that and come back asap

[2021-01-05 13:13] tcerdaITBA commented on #14056
@cescoffier thank you very much for your response.

I believe the issue with the two emitters on the same channel is a different one from the one I am mentioning. If the `Emitter` is deleted and only the `MutinyEmitter` exists, and therefore only a single emitter exists for the channel, the issue I described occurs. I have updated the code and removed the `Emitter`. Basically now the code is:

[co

[2021-01-05 13:26] kenfinnigan commented on #14109
@gsmet I'm going to look into this as it should be fixed for CR1

[2021-01-05 13:33] #14058 closed

[2021-01-05 13:40] gsmet commented on #14109
OK, thanks!

[2021-01-05 13:49] zoperado commented on #13667
I understand that the keyclock lib was causing this issue for you but it is an issue for me as well and just in case this helps anyone that is what I did to make it go through
In the pom I just include
[code]

[2021-01-05 14:10] cescoffier commented on #14056
Let me have another look. I believed I tried this.

[2021-01-05 14:17] radcortez commented on #8906
I believe this is out of scope of our resolution, due to the issues with the `ServiceLoader`, JDK 8 and Windows. The recommended approach would be to use a separate module or jar that provides the custom `Provider` or `Source`.

[2021-01-05 14:17] #8906 closed

[2021-01-05 14:33] radcortez commented on #6479
I've tried the reproducer with an updated Quarkus version and it works fine. I guess this was a CL issue that was fixed in the meanwhile.

[2021-01-05 14:33] #6479 closed

[2021-01-05 14:41] rsvoboda commented on #13856
This is really strange, I tried jabba way and getting the same `Killed: 9`

[code]

Running with dtruss gives:
[code]

I checked `xcode-select --install` and command line tools are already installed

Which version of BigSur are you on?
I have `11.1 (20C69)`

[2021-01-05 15:04] ia3andy commented on #14057
I guess this is closely related: https://github.com/quarkusio/quarkus/issues/12252#issuecomment-708282472

[2021-01-05 15:09] andreasbukalski opened #14117 "Problems with Db2 reactive client when accessing a remote Db2 instance"
**Describe the bug**
It looks like the reactive access to Db2 is aborting with problems in the security/encryption area.
However, the remote Db2 instance does not use encryption. No specific Db2 libraries are used either (see POM excerpt).

Access via JDBC works without problems. The metadata provides information about which Db2 version is used.

**Expected behavior**
Timestamp information is prin

[2021-01-05 15:12] etal2 commented on #14056
I have the same issue with a single emitter. Routing it through a local channel works as a workaround but its not ideal.

[2021-01-05 15:13] radcortez commented on #1218
I believe this is now covered by SR Config 1.10.0: https://smallrye.io/docs/smallrye-config/config/config.html#locations. We don't have support for command line yet, but that can be added separately.

[2021-01-05 15:13] #1218 closed

[2021-01-05 15:15] ia3andy commented on #14057
There is a new version of Sentry `3.2.0` with major changes, I will have a look to update it as it may solve the problem..

[2021-01-05 15:35] #13539 closed

[2021-01-05 15:35] #13731 closed

[2021-01-05 15:52] cescoffier commented on #14056
I've good and bad news.

The bad news: yes, that's a bug, I was able to reproduce it with the reproducer.
The good news: it's already fixed in _master_.

[2021-01-05 15:53] cescoffier commented on #13996
Can you try with the quickstart I did, just changing it to use office365?

[2021-01-05 16:01] thomas-mc-work commented on #1218
For me it wouldn't be covered by that feature. It's limited to a static definition in the config. But the thing is that the software developer doesn't know the config file location at the time of development. It also limits the choices of the administrator to place the file somewhere else.

[2021-01-05 16:29] #5657 closed

[2021-01-05 16:29] ia3andy commented on #14057
Most recent version of Sentry seems way cleaner and without hacky init methods.

It uses "gson" instead of Jackson, I am not sure if it's good or bad..

Anyway, if misses a jul handler to let us update for now: https://github.com/getsentry/sentry-java/issues/1037

[2021-01-05 16:32] glefloch commented on #14012
I can reproduce the error. If you update your to use kotlin 1.3.72 the `kaptKotlin` task pass.
I will have a look at why this is the case.

[2021-01-05 16:39] pipinet opened #14121 "graphql pagination util support"
**Description**
Implement pagination util for easy use in graphql

**Implementation ideas**
https://graphql.org/learn/pagination/

[2021-01-05 16:40] radcortez commented on #1218
How so? The `smallrye.config.locations` configuration works like any other configuration property, so you can use it as an environment variable or use it as an argument in the `jar`.

[2021-01-05 16:41] FroMage commented on #14108
Actually it's all in the `.mvn/wrapper/MavenWrapperDownloader.java` file we distribute. This doesn't even hit `~/.m2`. We can add the checksum checking there.

@ia3andy do you know where that file originally came from?

[2021-01-05 16:43] gsmet commented on #13753
This has been done and merged AFAICS.

[2021-01-05 16:43] #13753 closed

[2021-01-05 16:43] FroMage commented on #14108
Well, no, the stack trace indicates that the wrapper was downloaded properly, since it's called. So it's _something_ else that the wrapper downloaded that didn't work.

[2021-01-05 17:06] hamburml commented on #8906
I don't agree with you.

Yes, there are workarounds - but simply saying "this is out of scope" is in my opinion an easy way of shifting responsibility away. The issue appeared after a change in the BuildMojo.java file. You even linked it in this issue. This also mean that version v1.4 and newer are not compatibel with JDK 8 on Windows anymore when building an uber-jar.

The fact that it worked in

[2021-01-05 17:17] #12938 closed

[2021-01-05 17:45] loicmathieu opened #14125 "Codestart - Allow to provide the full README for singleton"
**Description**
Singleton codestart should be able to provides the full readme as the default one contains a lot of sections that may not be needed for all use case (for example dev mode, native, ..., didn't work for Functions).

**Implementation ideas**
For singleton, if there is a provided readme, use it instead of merging it with the default one.

[2021-01-05 17:46] geoand commented on #14006
@hrstoyanov with https://github.com/quarkusio/quarkus/pull/14123 (which will hopefullt be part of `1.11.CR1`) you will get almost exactly what you described.
See https://github.com/quarkusio/quarkus/blob/0bc9f8199729d5cd7201a755424c3ed5ffa37813/extensions/config-yaml/deployment/src/test/java/io/quarkus/config/yaml/deployment/InterfaceConfigPropertiesTest.java#L82 for an example of what the support

[2021-01-05 17:47] geoand commented on #14110
This was just a garden variety bug and a fix is included in https://github.com/quarkusio/quarkus/pull/14123

[2021-01-05 17:47] loicmathieu opened #14126 "Codestart - Allow to skip dockerfile generation"
**Description**
Not all application can be packaged as a Docker container.
But codestart always generates Dockerfile.

**Implementation ideas**
Allow to skip Dockerfile generation from a codestart.yml file.

[2021-01-05 17:49] geoand commented on #14113
This had the potential to be serious, but thankfully the fix is simple and effective (and included in https://github.com/quarkusio/quarkus/pull/14123). Under the hood, things make a lot more sense now.
The problem was that we hadn't considered the fact that the same interface could be used for different method of the top-level interface.

Thanks for reporting!

[2021-01-05 18:33] loicmathieu opened #14128 "MongoDB with Panache - Field accessor rewriting not working on native"
**Describe the bug**
Field accessor rewritting lands in master a few days ago thanks to #13743

But failures on Quickstart seems to indicates that it didn't work on native images: https://github.com/quarkusio/quarkus/issues/6588#issuecomment-745129630

**Expected behavior**
Field accessor rewritting works in both JVM and native mode.

**To Reproduce**

A reproducer can easily be created by adding

[2021-01-05 19:01] radcortez commented on #8906
Ok, let see if you can move forward with it from your side. If not, I may have another trick that we can try :)

[2021-01-05 19:09] jefrog1844 opened #14130 "Qute...Co-locate templates and static resources"
**Description**
I'm working on using Qute along with Hotwired Turbo (https://turbo.hotwire.dev/) which is working very well since Qute returns HTML and that is what Turbo is designed for.  This methodology can be outstanding as long as Quarkus continues to support some type of template system if not Qute.

Turbo can submit ajax requests to resources/META-INF/resources directory without accessing a

[2021-01-05 19:14] sebthom commented on #9895
@gsmet milestone of this issue is set to 1.9.1.Final and we are now at 1.10.5.Final. Has support for activating multiple profiles already been implemented?

[2021-01-05 20:29] rsvoboda commented on #13856
I finally cracked the root cause of my problems. It's iTerm2 terminal in combination with Big Sur :/

I tried system Terminal and everything went well. The difference is that in case of iTerm2 "allow incoming connections" dialog doesn't appear and application get immediately killed.

![Screenshot 2021-01-05 at 20 59 14](https://user-images.githubusercontent.com/925259/103695383-c0055700-4f9c-11eb-

[2021-01-05 20:58] rsvoboda commented on #13856
I have filed issue in iterm2 issue tracker
 - https://gitlab.com/gnachman/iterm2/-/issues/9409

Closing this issue as root cause was identified and workaround (use Terminal application) exists.

[2021-01-05 21:10] Sanne commented on #14087
I didn't want to spend too much time on this (as I don't have much time and should really study vert.x 4 for a long term optimal solution), but since a leak isn't acceptable to me I'm sending a PR with an alternative solution.

Essentially, while it would be more complicated to immediately cleanup references on scale down, it's quite straight forward to check for zombies when we scale in the other

[2021-01-05 21:38] thomas-mc-work commented on #1218
Thank you, @radcortez !

So it's possible like this?:

    QUARKUS_SMALLRYE_CONFIG_LOCATION=/etc/my_app.properties /opt/my_app_launcher

Also, this would be very useful in the documentation.

[2021-01-05 21:44] radcortez commented on #1218
Yes, but with the environment variable `SMALLRYE_CONFIG_LOCATIONS`. I guess that we need to improve the support on the Quarkus side to have a property that does the same in the Quarkus namespace.

[2021-01-05 21:45] radcortez commented on #1218
Ah, and multiple locations need to be separated with a comma `,`.

[2021-01-05 21:52] #14006 closed

[2021-01-05 21:52] #14110 closed

[2021-01-05 21:52] #14113 closed

[2021-01-05 23:13] maxandersen commented on #14022
I agree it isn't a replacement for zulip - I do also agree it would be great to move some of the questions/traffic away from zulip; especially the user questions is IMO of better value if in stackoverflow and mail threads (like discussions would do)

For google groups I definitely could see github discussions being a contender - my only objection to it is I don't see a way for users to subscribe t

[2021-01-06 03:20] hrstoyanov commented on #14022
why don't we enable discussions and play with them? No harm.

[2021-01-06 03:23] hrstoyanov commented on #14113
Lovely!!! Will try 1.11.RC1  with #14123 as soon as it is out,  since I am stuck right now ...

[2021-01-06 03:25] pipinet opened #14137 "graphql map support"
**Description**
there are only List source batch loader in quarkus.
![image](https://user-images.githubusercontent.com/6096680/103725556-cda8f400-5011-11eb-8a9b-f6af44f9f0a6.png)

**Implementation ideas**
https://www.graphql-java.com/documentation/v15/batching/
https://github.com/graphql-java/java-dataloader/blob/master/src/main/java/org/dataloader/MappedBatchLoader.java

[2021-01-06 05:40] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/465270456

[2021-01-06 05:41] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/465270670

[2021-01-06 06:20] waerly opened #14138 "docker build native error"
I reported an error during the build：

`registry.access.redhat.com 504 Gateway Time-out`

[2021-01-06 06:21] waerly commented on #14138
dockerfile

[code]

[2021-01-06 07:28] galderz commented on #13856
That dialog is quite a 🤬 . Do you know why it appears? I wonder if it's something that only happens in corporate apple machines. Good catch btw! I've not yet upgraded to Big Sur. Was planning to do it later this month but might hold off a bit longer.

[2021-01-06 07:51] rsvoboda commented on #13856
It's related to firewall and on corporate machine I can't do much with firewall settings. @cescoffier said he was using iTerm2 too, but he doesn't have the same troubles as I have. I will keep digging, but at least I have workaround ;)

[2021-01-06 07:53] ia3andy commented on #11515
NoSuchMethod exception, it seems compat has been broken in a recent commit..

[2021-01-06 07:57] #13050 closed

[2021-01-06 07:59] ia3andy commented on #14108
@FroMage does that help?

https://github.com/quarkusio/quarkus/blob/master/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/maven-wrapper/base/.mvn/wrapper/maven-wrapper.tpl.qute.properties

and https://github.com/quarkusio/quarkus/tree/master/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/maven-wrapper/base

[2021-01-06 08:02] ia3andy commented on #14108
ah and the java downloader is there (but I think it's only used in last resort, no wget and no curl): https://github.com/quarkusio/quarkus/blob/master/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/maven-wrapper/base/.mvn/wrapper/MavenWrapperDownloader.tpl.qute.java

[2021-01-06 08:10] geoand commented on #14057
It indeed looks like the only way to make this work is to make jackson parent first - otherwise sentry (which is loaded parent-first and therefore is loaded from the system classloader) tries to load jackson and fails because Jackson is only available in the Quarkus Base Runtime Classloader.

Can you remind me why sentry was made parent first in the first place? Was it because of something with lo

[2021-01-06 08:12] geoand commented on #14128
What's the plan for this one?

[2021-01-06 08:16] #11489 closed

[2021-01-06 08:24] geoand commented on #14100
I tried a simple example using RESTEasy Reactive and `quarkus-elytron-security-properties-file` but couldn't reproduce the problem.

[2021-01-06 08:26] sberyozkin opened #14139 "BouncyCastle FIPS/JSSE test does not work in native image"
**Describe the bug**
`integration-tests/bouncycastle-fips-jsse` is only running in the JVM mode.

**Expected behavior**
Both tests pass in the native image

[2021-01-06 08:29] geoand commented on #14138
Maybe it was a transient error?

It doesn't look like Quarkus has anything to do with it here

[2021-01-06 08:34] sberyozkin opened #14140 "Investigate why LOG level may be different to the configured level in CI builds"
**Description**
`integration-tests/bouncycastle-fips-jsse` test has this configuration:
[code]
When I run this test locally both the console and file logs are reported at the trace level in JVM mode. In CI I saw a message like
`"org.bouncycastle.jsse".level is configured at the level below the required INFO, promoting it to INFO` - so I had to disable checking the log for that test.

[2021-01-06 08:39] geoand commented on #14112
I am not really sure about this to be honest...

Basically what happens when you add Quarkus RESTEasy is that RESTEasy takes over the entire handling of the request and thus 404 is returned. My guess is that you can probably get the behavior you are looking for if you set `quarkus.resteasy.path` to something other than `/`.
I would personally be in favor of keeping things the way they are, but I'd

[2021-01-06 08:43] sberyozkin opened #14141 "Support more than one custom annotation which registers MP REST Client provider"
**Description**
Now that the OIDC client PR has been merged, it is possible to register the providers with MP RestClient or even JAX-RS clients like this:
[code]

where `@A` is an extension specific annotation which indirectly registers some provider with the client.
But the following is not possible yet:
[code]

where more than one provider is registered indirectly via the custom annotations.

**

[2021-01-06 09:04] cescoffier commented on #14112
To implement the behavior you want you cannot use `consumes` as it will skip the route is the media type does not match (hoping to find another suitable route later). As @geoand explained, at some point, it just delegates to resteasy.

There are two possibilities:

1. Did you try to remove quarkus-resteasy (if your application does not use it).
2. Remove the `consumes` and handle that in the handl

[2021-01-06 09:05] #13993 closed

[2021-01-06 09:06] #13356 closed

[2021-01-06 09:09] rsvoboda commented on #13856
So I did more digging because Clement didn't see the same problem I had, iTerm2 is configured to source my `~/.bashrc`, that's not the case for Terminal.

I started with bisection of my `~/.bashrc` an the problematic line there was `export PATH=/usr/local/opt/binutils/bin:$PATH`.
So after removing that line and binutils I'm again able to use iTerm2 with native binaries.
[code]

I installed binutil

[2021-01-06 09:12] #14087 closed

[2021-01-06 09:13] #13966 closed

[2021-01-06 09:17] jamesnetherton commented on #14112
Yes, removing `quarkus-resteasy` works but it's not an ideal 'fix'.

FWIW I'm coming at this from a Camel perspective where the HTTP consumer component we use for Quarkus creates routes on the Vertx.x router. If RESTEasy is present, then it has the potential to screw things up in some scenarios.

I can experiment with handling `consumes` in the route handler and also setting an alternate `quarkus.

[2021-01-06 09:18] #14092 closed

[2021-01-06 09:22] waerly commented on #14138
@geoand
ok,I have solved this problem。thank you！

But there was a new mistake in my docker run .....

[code]

[2021-01-06 09:27] geoand commented on #14138
Cool!

Hm... That seems like a docker (or podman) bug though... Again it shouldn't be related to Quarkus

[2021-01-06 09:27] #14138 closed

[2021-01-06 09:29] FroMage commented on #14087
That's a nice fix for the moment, thanks.

[2021-01-06 09:39] VasilisAndritsoudis commented on #14141
Hello, I am willing to give it a shot, but I will need some guidance in order to complete the task quickly and efficiently.

[2021-01-06 09:42] FroMage commented on #14128
There's no reason why this would work for JVM and not native, especially if it works for ORM with Panache.

[2021-01-06 09:45] gunnarmorling opened #14145 "Failing Kafka message silently swallowed"
**Describe the bug**
I have a Kafka message handler which raises an exception. This exception is nowhere logged making it impossible to find out what's wrong.

**Expected behavior**
The exception should be shown on sysout.

**Actual behavior**
Not seeing the exception. Only after a while I see another exception about the fact that my message never was acked. But I have no way of knowing why that'd

[2021-01-06 09:46] gunnarmorling commented on #14145
CC @cescoffier

[2021-01-06 09:56] mkouba commented on #14130
Hi @jefrog1844, what exactly are you trying to achieve? Turbo is a SPA framework, right? Do you need to obtain a rendered template without a JAX-RS endpoint or a reactive route? I don't think it makes much sense to access a template source?

[2021-01-06 10:58] radcortez commented on #9895
Hi @sebthom, there is a preliminary implementation available in SR Config, which you can use: https://smallrye.io/docs/smallrye-config/config/config.html#profiles.

This is not fully integrated in Quarkus yet, but should mostly work. We were discussing some different ideas regarding multiple profiles. Please check here: https://github.com/quarkusio/quarkus/pull/12841.

I tabled it for a while due

[2021-01-06 11:03] radcortez commented on #13966
Just to add that the fix allows to use the same simple class name.

[2021-01-06 11:15] sberyozkin commented on #14141
@VasilisAndritsoudis Great, thanks. Please take your time, it does not need to be completed asap.
So here is what is supported now:
1. [RestClientBase constructor](https://github.com/quarkusio/quarkus/blob/master/extensions/rest-client/runtime/src/main/java/io/quarkus/restclient/runtime/RestClientBase.java#L55) accepts `Class<?> annotationProvider` - I think it should accept a List (or Set) of cla

[2021-01-06 11:39] VasilisAndritsoudis commented on #14141
@sberyozkin Great! I will start working first on implementing it with a list (or set), and when I am ready with that I will need some more info on how to proceed with testing.

[2021-01-06 11:39] sberyozkin commented on #13957
Hi @cemnura, OK, great, let us complete the wiremock issue first (I'll follow up with the docs) and then we'll discuss this one, cheers

[2021-01-06 11:58] zakkak commented on #13856
That's interesting. @rsvoboda is this also triggered when compiling a HelloWorld? Do you need to add `-g` (enable debug symbols generation) to trigger it?

I think we should report it to oracle/graal if it's not Quarkus/Mandrel specific.

[2021-01-06 12:12] gsmet commented on #14128
@evanchooly could you have a look at this one? Thanks!

[2021-01-06 12:19] sberyozkin commented on #10412
@cemnura Hi, Happy New Year, so we are very close to resolving this issue, one last exciting step remains :-) which is adding a code flow test. It should be easy compared to the opaque token test though some minor complexities would also be present here. On the Wiremock endpoint side we just need 2 more endpoints, I think they were discoverable in the first iteration, authorization and token endpo

[2021-01-06 12:30] rsvoboda commented on #13856
Hello World from https://www.graalvm.org/docs/getting-started/#native-images worked fine even when I had binutils, see https://github.com/quarkusio/quarkus/issues/13856#issuecomment-745266823

No need to add `-g`, just build the Quarkus binary and run it.

[2021-01-06 12:35] VasilisAndritsoudis commented on #14141
@sberyozkin Last question. Do I need to be assigned to this issue or can I continue without?

[2021-01-06 12:35] zakkak commented on #13856
Oops, sorry for not seeing this.

OK so the issue is triggered when Quarkus uses `objcopy` to strip debug symbols (even when not using `-Dquarkus.native.debug.enabled=true`) in https://github.com/quarkusio/quarkus/blob/a4f84e09ff8e83adc4ec846035dc7f53060b8527/core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java#L299

Can you try stripping a C/C++ helloworld with

[2021-01-06 12:47] rsvoboda commented on #13856
After running `objcopy --strip-debug` on Hello World binary I get Killed: 9 too

[code]

[2021-01-06 12:49] zakkak commented on #13856
OK, so it looks like an `objcopy` issue.

[2021-01-06 13:07] gsmet commented on #13478
I'm not sure this is fully fixed as the quarkus-http PR has not been merged yet: https://github.com/quarkusio/quarkus-http/pull/48

[2021-01-06 13:30] madduci commented on #13996
The quickstart works fine as I've tested it with different Quarkus versions, but I've seen there's no active usage of the ReactiveMailer, but it's just injected, which is somehow different from what in the website is shown as example.

[2021-01-06 13:30] geoand commented on #14141
@VasilisAndritsoudis I assigned it to you :)

[2021-01-06 13:42] sberyozkin commented on #14141
Cool, thanks @geoand

[2021-01-06 13:44] geoand commented on #14141
YW!

[2021-01-06 13:51] radcortez commented on #14141
Hum, I had a quick look into the current code and I couldn't find anything that validates if a custom annotation is applied to a valid provider. In the case of `OidcClientRequestFilter` it is fine, because is controlled by us, but for user defined providers we probably need that validation.

If the validation is in some obscure place, disregard this comment :)

[2021-01-06 13:55] jamesnetherton commented on #14112
Setting a custom `quarkus.resteasy.path` seems to work ok.

In practice, it's maybe not so likely that folks will mix JAX-RS services with Camel HTTP consumers, so I'm happy to close this for now given that there's an acceptable workaround.

[2021-01-06 13:55] #14112 closed

[2021-01-06 13:57] geoand commented on #14112
Great!

[2021-01-06 14:01] sberyozkin commented on #14141
@radcortez Hey Roberto, what do you mean ?

It is just a shortcut to `@RegisterProvider(MyProvider.class)` - do you mean `RestClientProcessor` in this case verifies `MyProvider.class` is a valid JAX-RS provider interface ? I haven't see it though.

[2021-01-06 14:07] phillip-kruger commented on #14098
Hi @FranckDemeyer - what we version of Quarkus are you using ? If not latest, can you check with latest ?

[2021-01-06 14:08] rsvoboda commented on #13856
So should be execution of `objcopy` avoided on macOS BigSur?

System.getProperty("os.name") and System.getProperty("os.version") give `os name: Mac OS X` and `os version: 10.16`

[2021-01-06 14:12] FranckDemeyer commented on #14098
Hi @phillip-kruger I initially start the project with version 1.9.2 and migrate to 1.10.5.

[2021-01-06 14:13] phillip-kruger commented on #14121
see https://github.com/smallrye/smallrye-graphql/issues/455 (SmallRye) and  https://github.com/eclipse/microprofile-graphql/issues/29 (MicroProfile)

[2021-01-06 14:13] zakkak commented on #13856
That would be an option. In that case we should inform users (through an error message?) that `-Dquarkus.native.debug.enabled=true` only works in combination with `-Dquarkus.native.container-build` in macOS BigSur.

[2021-01-06 14:16] phillip-kruger commented on #14098
OK thanks I'll look at this, there was an issue a while back that there can only be one filter, but that was fixed. I'll double check and get back to you.

[2021-01-06 14:19] radcortez commented on #14141
Yes, but I guess that RESTEasy will handle that validation then. I'm now wondering if this is done at build time / runtime.

[2021-01-06 14:21] phillip-kruger commented on #14137
Hi @pipinet - thanks for this. I will create a issue in smallrye for this and look at this a.s.a.p. You are also welcome to give it a go and do a PR.

[2021-01-06 14:21] fgd99 commented on #4009
Hi all,

I was facing the same issue trying to build the native image with gradle and the resources were not included.

The only workaround that I've found is to add in the build.gradle file:
[code]

I hope that could be helpful.

regards

[2021-01-06 14:22] phillip-kruger commented on #14137
https://github.com/smallrye/smallrye-graphql/issues/585

[2021-01-06 14:34] cescoffier commented on #14145
Hum,

You should see something like:

[code]

Because you use `Message`, it cannot be _nacked_ automatically (as the _nack_ may have been done already). BTW, what's the reason to use `Message` and not _payload_?

[code]

[2021-01-06 15:00] cescoffier commented on #14145
My bad, found the issue...

[2021-01-06 15:01] zhang-hongjie opened #14151 "quarkus-smallrye-reactive-messaging-amqp: permit to use the schema 'amqps'"
**Description**
quarkus-smallrye-reactive-messaging-amqp: permit to use the schema `amqps`

**Implementation ideas**

[2021-01-06 15:35] Erfankam commented on #3262
Still no progess :(. I can not disable auto scan feature in Resteasy to avoid register all @Provider annotated classes.

[2021-01-06 15:44] danieloh30 opened #14152 "Remote-Dev triggers an entire redeployment(S2I Processor) with OpenShift Extension"
**Describe the bug**
(Describe the problem clearly and concisely.)
Quarkus remote-dev always triggers an entire redeployment using the S2I processor rather than sending changed code when Quarkus application is deployed to OpenShift using OpenShift extension. This causes removing an existing environment variable(QUARKUS_LAUNCH_DEVMODE=true) in the DeploymentConfig so the remote-dev breaks. Furtherm

[2021-01-06 15:45] glandais commented on #7696
A trick is to provide a different LoggerProvider using org.jboss.logging.provider system property for unit tests. In LoggerProviders, this is the first thing that is done for getting a LoggerProvider.
In our test lib, I've added log4j-core (2.14.0) and a log4j2.xml.
Then in failsafe/surefire Maven configuration, I've added `<org.jboss.logging.provider>log4j2</org.jboss.logging.provider>` in system

[2021-01-06 15:45] danieloh30 commented on #14152
@iocanel @stuartwdouglas @geoand

[2021-01-06 15:48] Erfankam commented on #3262
Could I work on this issue? I think this could be done by using resteasy.scan and other related properties.

[2021-01-06 15:49] gunnarmorling commented on #14145
Ok, that's good. Silent swallows like this are kinda concerning :)

I need access to key and headers, too.

[2021-01-06 16:21] sberyozkin commented on #14141
@radcortez Yes - so I'd just let RestEasy do it too in this case - it will just ignore an object if it is not one of the recognized providers - but we can also easily do a pre-check for a few interfaces like `ClientRequestFilter`, MBR/MBW

[2021-01-06 16:29] cescoffier commented on #14145
@gunnarmorling PR opened: https://github.com/smallrye/smallrye-reactive-messaging/pull/921
If everything goes through, release and bump tomorrow

[2021-01-06 16:30] sberyozkin commented on #14139
`integration-tests/bouncycastle-fips` passes in the native image for me, Java11, I might've confused it with `integration-tests/bouncycastle-fips-jsse`

[2021-01-06 16:35] pcasaes commented on #9671
@jessequinn @gastaldi That line in the resteasy interceptor looks correct

[code]

In this case the headers being checked are response headers not request headers. When accepting gzip from a request the server should respond with the headers **Content-Encoding: gzip**

[2021-01-06 16:43] ia3andy opened #14154 "Regression: using inherit in quarkus.log.category fails with an exception"
**Describe the bug**
Detected on code.quarkus.io app, I get an exception using current master:
[code]

it seems to be due to that config:
[code]

@dmlloyd pointed to this commit "does not check to see whether the level is inherited": https://github.com/quarkusio/quarkus/commit/f5c4cadbc539ac5d5998988a7b639288866e3ce0

cc @galderz @gsmet

[2021-01-06 16:44] VasilisAndritsoudis commented on #14141
I have a few questions:

- Firstly where can I find an example of the usage of the RestClient with annotations (until now I have only found [this](https://quarkus.io/guides/rest-client) which to me seems like its working fine with multiple annotations).
-  Secondly I am having a hard time understanding how to start a project after building it with quarkus. The information provided [here](https://g

[2021-01-06 16:44] gunnarmorling commented on #14145
Excellent, thx for the fast turnaround!

[2021-01-06 16:51] sdehors-ibm commented on #10566
Hello,
is there any updates on this ?
I'm trying to set environment variables in the build container for my app as well and hit the same problem. Passing java props instead works with the -J-Dxxx. Still, would be good to be able to pass environment variable.

[2021-01-06 17:01] gsmet commented on #14154
@galderz I let you have a look at it? This needs to be fixed before Final so before January 12th.

[2021-01-06 17:15] galderz commented on #14154
Sure, I'll assign it to myself

[2021-01-06 19:40] gsmet commented on #14151
@cescoffier does it make sense to you or do we need more details?

[2021-01-06 19:42] gsmet commented on #14140
It might be due to the new `min-level` feature: https://github.com/quarkusio/quarkus/pull/13376 .

/cc @galderz

[2021-01-06 19:45] gsmet commented on #14105
I think it makes sense to move to `Uni` if that's how we want our APIs to be. Even if it breaks some code.

I don't think having both versions makes sense. And good luck to find a name that is not awkward :).

[2021-01-06 21:26] sberyozkin commented on #14141
@VasilisAndritsoudis No problems - take your time - have a look around for more docs, examples, etc. re your 2nd point you just need to create an Eclipse or InteeliJ workspace and start applying the proposed changes. Take a week or so to find your way around and ping us later on. Please review the linked to docs and this task description - what is proposed here (and already partially implemented)

[2021-01-06 21:27] geniusit opened #14156 "Kafka healthcheck with SASL SSL"
Hello,

I have a problem with the kafka healthcheck management.

prerequisite: `quarkus.kafka.health.enabled=true`

To make it works you MUST define a `kafka.bootstrap.servers` value.

Rather than, I prefer to config my kafka boostrap server according with a specific channel :

[code]

So I think there is no way not to duplicate the line

But even if I do it I got the following timeout error on he

[2021-01-06 22:43] sberyozkin commented on #14140
@gsmet Interesting, thanks, I'll give it a try in another PR :-)

[2021-01-06 23:31] sberyozkin commented on #14140
Specifically I'll try to re-enable checking the log in `bouncycastle-fips-jsse` (this one runs in JVM mode for now) and update the way it is checked in `bouncycastle-jsse` (runs in JVM and native modes - in JVM both client and server TLS records are checked, in native - only server as client ones were not captured - I'll try to catch the client records in the native mode too)

[2021-01-07 00:17] FranckDemeyer commented on #14098
Thanks

[2021-01-07 02:24] jefrog1844 commented on #14130
Turbo is an SPA that uses web components to issue AJAX requests to updated specific areas on the page or the entire page.  It expects HTML instead of JSON.  It uses basic tags like <turbo-frame id="messages" src="/messages”></turbo-frame> to issue AJAX requests which will replace the contents between the tags with the returned html content.

So I can place an index.html file in the resources/META-

[2021-01-07 03:02] hrstoyanov commented on #14006
@geoand thanks a lot! ... waiting for 1.11.CR1 to test it out!
Did you also expand on the [Quarkus Configuration](https://quarkus.io/guides/config) tutorial with the new capabilities, so other developers can benefit too?

[2021-01-07 05:16] geoand commented on #14006
You are welcome!

That is one thing I didn't do... I'll add some documentation today.
Good idea!

[2021-01-07 05:43] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/468016715

[2021-01-07 05:45] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/468016950

[2021-01-07 05:55] geoand commented on #14006
https://github.com/quarkusio/quarkus/pull/14158 adds some documentation

[2021-01-07 06:01] geoand commented on #14152
@iocanel sounds like we should not be triggering deployment

[2021-01-07 07:40] jmartisk commented on #14137
Could you elaborate on the use case that you would like to see here?
Is it that you want to be able to, instead of
`public List<List<Hero>> heroes(@Source List<Film> films)`
do this:
`public Map<Film, List<Hero>> heroes(@Source Set<Film> films)`
and for the films which won't have a corresponding entry in the returned map, it will be assumed that the list of heroes is empty?

[2021-01-07 08:03] imrabti opened #14159 "MongoDB Panache Reactive with Kotlin count query on a nested field crashes"
**Describe the bug**
I execute a simple count query on a nested field in a MongoDB collection with MongoDB Panache Reactive using Kotlin code looks like this `repository.count("{'configuration.priority':  :1}", priority)`.

**Expected behavior**
I should get the count result because when I use `repository.count(Document.parse("{\"configuration.priority\": ${configuration.priority}}")) ` without an

[2021-01-07 08:24] phillip-kruger commented on #14035
I am not sure how to fix this. We might need some help from the RESTEasy maintainers ? @patriot1burke can you help ?

[2021-01-07 09:34] #14057 closed

[2021-01-07 09:48] xstefank commented on #14156
This seems related to Kafka health checks. @cescoffier can you take a look?

[2021-01-07 09:57] abianche commented on #2611
@sberyozkin, @loicmathieu: hi, I have some questions about this issue.

The fact that Quarkus packages are not known in the NVD Database CPE, means that we have no knowledge on whether or not such packages have vulnerabilities?

What would be the actual process to check for vulnerabilities at the moment? I tried checking the "/extensions" part of the project, but I can't seem to find the "known" p

[2021-01-07 10:08] galderz commented on #13856
@zakkak didn't the docu already explained the platforms on which debug symbols are available? I'm unsure about informing them via a message, but I certainly would avoid using `objcopy` on mac.

[2021-01-07 10:53] metacosm commented on #13195
What would be the best way to collaborate on such a document? Create a new doc so that we can incrementally improve it? I'd be interested in helping with this effort based on my on-going extension development experience 😄

[2021-01-07 11:06] sberyozkin commented on #14140
I've started with #14163.

@galderz Hi, quick question - why does `integration-tests/oidc-client` which also has a `TRACE` enabled successfully detects `TRACE`-level logging without `min-level`, while `integration-tests/bouncycastle-fips-jsse` fails without `min-level`, something I've now also verified locally ? Can it be related to the fact that `integration-tests/oidc-client` traces the `quarkus

[2021-01-07 11:11] sberyozkin commented on #14140
@galderz `integration-tests/bouncycastle-jsse` also works without `min-level`.

I'm not sure - the documentation is clear that `min-level` allows to optimize and remove some dead code related to the trace level, but it looks non-intuitive to me, having to set `TRACE` twice. I guess no one is using this level in production

[2021-01-07 11:15] phillip-kruger commented on #14098
Hi @FranckDemeyer - I am trying to re-create the issue using my example app, but it's working fine for me (if I understand the issue correctly). I have disabled scanning (although it's working with both scanning on or off) and I have 2 extensions (logging-ui and health) that provide endpoints for the openapi schema and I have my own filter (MyOwnObject), and all three is being included. see this b

[2021-01-07 11:51] loicmathieu commented on #2611
@abianche  there is two different things.

1. Quarkus is not known in the NCD Database CPE so you may have false positive (that you need to supress)
2. Detecting CVE inside Quarkus itself (core or extension).

For Quarkus to have a CVE there should be someone to find one and report one to the NVD database (usually security researcher) so your tooling can detect it based on the NVD database. I'm no

[2021-01-07 11:55] gunnarmorling opened #14164 "mvn add-extension in sub-module shouldn't add dependencyManagement"
I call mvn add-extension for a sub-module of a Maven multi-module project. This adds a dependencyManagement block to that module's POM with the Quarkus BOM, although that's already present in the parent. This also removes the reference to the parent POM (`<relativePath>../pom.xml</relativePath>` gets removed).

[2021-01-07 12:35] zakkak commented on #13856
We currently explicitly mention installing objcopy on macOS (it was working before BigSur AFAIK)
https://github.com/quarkusio/quarkus/pull/13582/files#diff-faf7fc137fb2be585bdb0ebe4be08bb14542e8c2584c682e23c493500f0d0995R592-R595

So IMO we should change the documentation to reflect that native builds on macOS (without using the builder image) do not support debug symbols generation.  In addition

[2021-01-07 12:51] bpasson opened #14166 "quarkus-maven-plugin generates extension project with failing DevMode test."
**Describe the bug**
When using the quarkus-maven-plugin to generate a bare bones extension to build upon you get a project with generated tests of which the DevMode test fails after adjusting the pom.xml to include the needed maven-surefire-plugin configuration.

**Expected behavior**
I would expect the generated project, after adjustment of the pom for the maven-surefire-plugin to have a SUCCESS

[2021-01-07 13:07] cescoffier commented on #14156
I will have a look.
The JSON output does not seem totally consistent with what we have in reactive messaging.

In reactive messaging, you can enable/disable the health check per channel using the `health-enabled` attribute.

[2021-01-07 13:10] geniusit commented on #14156
Thank you, it's what im looking for

[2021-01-07 13:20] bpasson commented on #14166
The DevMode test class is generated with a package private modifier, which doesn't seem to work with QuarkustDevModeTest. If you make it public, the test runs fine.

[2021-01-07 13:29] FranckDemeyer commented on #14098
Hi @phillip-kruger, maybe I done something wrong, by at this point I can't see where I made a mistake, my code look (at my eyes) similar to yours.
I can't let you access the repository, instead I'll send you code snippets.

`hub-basics` is a extension I create myself (such as logging-ui in your example)

first, here is my pom.xml :
[code]
here a snippet of my application.properties:
[code]
and her

[2021-01-07 13:34] bpasson commented on #14166
I updated the generated project to a version that works, see https://github.com/bpasson/quarkus-greeting. The testcases now properly fail with the assert fail messages.

[2021-01-07 13:53] phillip-kruger commented on #14098
Ok I think I recreated the issue. If I remove all OpenAPI annotated code, that gets ignored anyway because of scan disable, I get this. I am investigating further.

[2021-01-07 14:06] phillip-kruger commented on #14098
@FranckDemeyer - as a workaround, can you try to add a file called `openapi.yml` in `src/main/resources/META-INF` and only include the version in that file:

[code]

Let me know if that works, then at least you have a workaround until I provide a PR to fix this.

[2021-01-07 14:41] FranckDemeyer commented on #14098
@phillip-kruger I still have a workaround, I use `mp.openapi.scan.exclude.packages` properties, specifying my app package :grin: , but I'll try and let you know

[2021-01-07 15:25] FranckDemeyer commented on #14098
@phillip-kruger I confirm, it works with openapi.yml file.
Thx for the tips

[2021-01-07 15:40] #14109 closed

[2021-01-07 15:45] VasilisAndritsoudis commented on #14141
@sberyozkin I am glad to hear that. In the following days I will try my best to get a grip on the project and then I can more freely proceed with the requested task.

Have a great day,
Vasilis

[2021-01-07 16:08] dufoli commented on #13195
@metacosm  ping

[2021-01-07 16:21] phillip-kruger commented on #14098
Thanks for letting me know @FranckDemeyer . I am working on a proper fix.

[2021-01-07 16:37] sberyozkin commented on #14140
@galder - oh, sorry, you've already fixed `integration-tests/bouncycastle-jsse`, thanks :-)

[2021-01-07 16:48] jtama-op commented on #14141
I guess it takes times for the doc to be updated on quarkus.io but you have now exemples to register a provider in the doc.
https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/rest-client.adoc.

I guess the idea now is to create a fake extension with a new custom annotation to register a provider, and then test that rest client with more than one custom annotation, say your dum

[2021-01-07 16:55] FroMage opened #14170 "RESTEasy Reactive: pluggable system for default-produces"
ATM we generate a default `@Produces` for endpoints returning `String` (`text/plain`) or an application class (or collection of) for `application/json`.

We could generalise this concept by making marshallers declare that they want their type to be elligible for this via an annotation, like this:

[code]

Related to https://github.com/quarkusio/quarkus/pull/14167

[2021-01-07 16:55] geoand commented on #14170
I like it

[2021-01-07 20:26] cescoffier commented on #14151
I would need a bit more detail. Connection use host/port attributes. Is it about supporting an connection url?

[2021-01-07 20:28] cemnura commented on #10412
I'm on it 👍

[2021-01-07 20:35] #14145 closed

[2021-01-07 21:11] davidmoshal opened #14172 "quarkus-config-yaml extension breaks location precedence"
Quarkus Version: 1.10.5.Final

**Describe the bug**
quarkus-config-yaml extension breaks config location precedence

**Expected behavior**

Given:

Two config files:
- ./src/resources/application.properties
- ./config/application.properties

Then:

a property in the config/applications.properties file should have higher precedence than the same property in src/resources/applications.properties

**

[2021-01-07 21:23] cemnura commented on #10412
We have a little problem unfortunately

I added the following dependencies to the pom.xml

[code]

However, this lead to a sub dependency version mismatch.

Apparently both `wiremock` and `htmlunit` use different versions of `jetty`.

[code]

[2021-01-07 22:02] PedroEsnaola opened #14174 "Create a Hibernate Reactive Example"
**Description**

I spent the last day trying to find some documentation on the integration of hibernate reactive with Quarkus, but without success

**Implementation ideas**

Maybe add Reactive Example of config and use on the hibernate / panache Hibernate guide

[2021-01-07 22:09] MB175 commented on #7156
Quarkus 1.9.2 used with Gradle still only loads the templates when doing a devBuild, if you run a normal build `java.lang.IllegalStateException: No template found` it still loads nothing.

I don't really see a fix right now how did you guys got it to work, changing to maven sadly isn't an option right now 

[2021-01-07 22:13] sberyozkin commented on #14140
I'm going to close this one now, in the native mode, `bouncycastle-jsse` can still not capture the client records, but I'm not really worried about it as the MTLS test itself passes and it is not really related I think to the `min-level`. thanks

[2021-01-07 22:13] #14140 closed

[2021-01-07 22:16] Sanne commented on #14174
There are full examples among the Quickstarts:
 - https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-reactive-quickstart
 - https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-reactive-routes-quickstart

Good idea, someone should at very least link to these from the guide. Ideally include a walk-through.

[2021-01-07 22:19] cemnura commented on #10412
Interestingly these configurations break the previous `BearerOpaqueTokenAuthorizationTest` & `BearerTokenAuthorizationTest`

[code]

Error log

[code]

[2021-01-07 22:22] cemnura commented on #10412
I got the `CodeFlowAuthorizationTest` to at least run by excluding htmlunit jetty subdependency such as

[code]

Excluding via

[code]

Lead to `htmlunit` not finding classes

[code]

[2021-01-07 22:39] sberyozkin commented on #14141
Yeah something like that though I guess it might simpler not to involve the OIDC code into it at this stage; thanks. Perhaps a single test extension which would support 2 annotations.

[2021-01-07 22:55] #14098 closed

[2021-01-07 23:14] stuartwdouglas commented on #13629
The workaround for this for now is to put the quarkus.openshift.deploy=true as a system property rather than in the config file, so it does not take effect when you run mvn quarkus:remote-dev.

[2021-01-07 23:16] stuartwdouglas commented on #14152
The workaround for this for now is to put the quarkus.openshift.deploy=true as a system property rather than in the config file, so it does not take effect when you run mvn quarkus:remote-dev.

I need to think about this a bit. The remote dev mode actually run in production mode locally, to generate new production application that mirrors the one on the server. The advantage of this is that server

[2021-01-08 05:41] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/470876143

[2021-01-08 06:11] #13988 closed

[2021-01-08 06:33] geoand commented on #14172
I could not reproduce this problem.

I generated an application with `quarkus-config-yaml` from https://code.quarkus.io/ then copied  `application.yaml` to `config/application.yaml` and changed the values.
When I built the application and then ran it with `java -jar ...` then http://localhost:8080/config/supersonic returned the configuration from `config/application.yaml`

[2021-01-08 07:28] rsvoboda commented on #13567
Quarkus 1.11 CR1 is released, it comes with GraalVM 20.3 support. Is this going to get fixed before .Final?

[2021-01-08 08:15] glefloch commented on #13982
Hi @melissasgarden,

I think there is an issue in your project configuration.
Running `./gradlew build` will try to build both `order-service` and `order-service-test` modules.

As the `order-service` module applies the `quarkus` plugin, it will tries to build it and it fails as the `order-service` module  does not depends on `order-service-test` module which contains a `Repository` implementation

[2021-01-08 08:25] jtama-op opened #14178 "quarkus-resteasy-mutiny Multi documentation"
**Describe the bug**
I think the documentation is not very cleared on the fact that using Multi as a return type for jax-rs resources will be blocking if `@Produces` annotation does not use `text/event-stream`. Depending on the Multi producer, that can result in never ending requests (thus, I think, the issue #13988)

**Expected behavior**
Documentation should be clear on the fact that Multi resso

[2021-01-08 08:26] jtama-op commented on #14178
(Why can't I add documentation label)?

[2021-01-08 08:56] cescoffier commented on #14178
I always considered this as a bug in RestEasy (accumulating the publisher). @geoand / @FroMage how does that work in resteasy reactive?

[2021-01-08 09:11] zakkak commented on #13567
@rsvoboda I think it won't.

Note that this issue is about a feature and not a bug.
The AWT related issues (resulting in the imageIO test failing) discussed in https://github.com/quarkusio/quarkus/issues/13954 should be fixed before .Final though.

[2021-01-08 09:20] FroMage commented on #13988
Hold on, was this for RESTEasy or RESTEasy Reactive? I only fixed it for the latter.

[2021-01-08 09:21] FroMage commented on #14178
I don't know why it would be blocking. I don't think it blocks. It does accumulate, but it's still async.

[2021-01-08 09:36] jtama-op commented on #14178
It blocks the client...

[2021-01-08 09:42] FroMage commented on #14178
It depends if the client is async or not. It doesn't block async clients and they get data by chunks while streaming.

And no, `SseElementType` is only if you serialise over SSE. The streaming behaviour is raw HTTP streaming.

[2021-01-08 10:11] hantsy commented on #14044
If possible to wrap my reactive codes in `DataInitializer` in a blocking block to avoid this? like the `blockingScope` in kotlin.

[2021-01-08 10:25] geoand commented on #14178
IIRC, the behavior in RESTEasy Reactive is to stream the result

[2021-01-08 10:32] FroMage commented on #14178
Indeed, since it's actually trivial to implement the "collect" use-case yourself, we didn't make the framework implement it. So you get either raw streaming (no annotation) or SSE streaming (with SSE `@Produces`).

[2021-01-08 11:18] danielpetisme opened #14182 "Propose a `JaxRsResourceBuildItem` to deploy extension based JAX-RS resources"
**Description**
I would like to develop en extension which gathers technical endpoint that should be re-usable on a set of projects (configuration exposition, metrics, thread dump, etc)

As for now, all the extension-based endpoints are supported by Vert.x Handlers (on the runtime part) and deployed via `RouteBuildItem`s (on the deployment part).

The Idea of the PR is to ease the extension develo

[2021-01-08 11:20] geoand opened #14183 "Clarify use of Multi as return type in RESTEasy Reactive"
**Description**
Currently RESTEasy Reactive always tries to "stream" a result when `Multi` is used a return type of Resource method.

This can be surprising in cases like the following:

[code]

where users expect to get a JSON array as a result, but instead end up with something like

[code]

We have the following options:

* Keep things as they are (as in `Multi` always "streams") and expect use

[2021-01-08 11:30] danielpetisme commented on #14182
After discussion with @geoand and @FroMage (feel free to complete if needed)

The objective can be achieved using `AdditionalBeanBuildItem` to register a custom JAX-RS resource.
[code]

[code]

However, the developer to keep in mind
1- Resteasy is a high-level abstraction and would work only in a Resteasy context. If the final application isn't using RESTEASY then Vert.X should be preferred becaus

[2021-01-08 11:32] StFS commented on #12941
@gsmet Hi. I just stumbled across this and I'm affected by this issue as well.

I noticed in the PR you created (#12975 which was then closed) that you said someone from the RESTEasy team needed to take it:

Were they notified of this somehow? Is this issue being continued somewhere else?

[2021-01-08 12:13] oztimpower opened #14186 "Amazon Lambda - Extensions"
Amazon Lambda added a new feature called "Extensions".
https://docs.aws.amazon.com/lambda/latest/dg/using-extensions.html

The Quarkus extension for Amazon Lambda will need to incorporate these URL calls into the native wrapper.

**Implementation ideas**

Sample go runtime, similar to the Quarkus native implementation:
https://github.com/glassechidna/serverlessish/blob/master/lambdaruntime/lambda_

[2021-01-08 12:32] sberyozkin commented on #13239
@gauravrmsc Hi - have you had a chance to look into it a bit further ? I'd like this extension added sooner or later - if you are busy with something else then it is np, just let me know

[2021-01-08 12:49] sberyozkin opened #14189 "Use X-Forwader-Prefix or other headers to set OIDC cookie path dynamically"
**Description**
@canidae has reported an issue to do with 2 unique applications, `example.com/foo` and `example.com/bar` - single domain, different contexts, having problems with the cookies targeted at `example.com/foo` with `cookie-path=/` being visible at `example.com/bar` and vice versa

**Implementation ideas**
Use `X-Forwarded-Prefix` (or indeed other header) value, using the convention such

[2021-01-08 13:22] gauravrmsc commented on #13239
@sberyozkin I want to work on this extension but this month I am a bit busy with my internship and university exams. Can I continue on this in Feb

[2021-01-08 13:55] yrodiere commented on #13273
I believe this would be solved by #7242 if we were to set `PhysicalConnectionHandlingMode` to `DELAYED_ACQUISITION_AND_RELEASE_AFTER_TRANSACTION` by default. See https://hibernate.zulipchat.com/#narrow/stream/132094-hibernate-orm-dev/topic/HHH-14326 .

There are, however, other aspects to this change, so I'll let the discussion continue on #7242.

[2021-01-08 14:18] yrodiere commented on #7242
It's been a while and this could solve other issues, so I'll try to revive this...

From my understanding, switching the `PhysicalConnectionHandlingMode` to `DELAYED_ACQUISITION_AND_RELEASE_BEFORE_TRANSACTION_COMPLETION` would solve the problem.

The only remaining concerns are:

1. Transactions started explicitly by the user (`em.getTransaction().begin()`) would not work well or would trigger war

[2021-01-08 14:23] Sanne commented on #7242
@yrodiere yes switching to `DELAYED_ACQUISITION_AND_RELEASE_BEFORE_TRANSACTION_COMPLETION` is the right plan, but we already tried and there was some problem. I don't remember the details, so it's worth trying again.. but I expect some complex debugging is needed.

[2021-01-08 14:35] patriot1burke commented on #14186
Not grokking this at the moment.  From what I read external extensions are configured outside of code.  Internal extensions are just wrapper scripts, which we already do for native deployments.  Not sure how this overlaps with Quarkus.  Can you point to an example?  Are you saying you want to be able to write external extensions using quarkus and to hook into the event processing there?

[2021-01-08 14:57] patriot1burke commented on #6940
I'm pretty sure this is configuration related, but I need to review Azure Functions as I haven't done them in a long time.

[2021-01-08 15:05] brahimk commented on #12948
Hello,

Any feedback on thie issues please?

Thanks.

[2021-01-08 15:29] geoand opened #14190 "RESTEasy Reactive Class level exception handler ignored when input is deserialized"
**Describe the bug**
In a Resource that defines class level exception mapper and depends on input de-serialization suchs as the following:

[code]

When an error occurs during de-serialization of the request, then class level exception mapper are not invoked.

**Expected behavior**
Class level exception mappers don't get ignored.

[2021-01-08 15:32] mswiderski opened #14191 "Funqy Knative events - handle the case where generic information is not provided in the function signature"
**Description**
As a follow up of allowing cloudeventoutput as function signature (https://github.com/quarkusio/quarkus/pull/14115) there is a need to handle the case where generic information is not provided in the function signature

**Implementation ideas**
CloudEventOutput already provides option to set the type but handling of this needs to be added in the Knative Funqy implementation as curr

[2021-01-08 15:49] #14166 closed

[2021-01-08 16:16] FroMage commented on #14183
Technically, we can stream json arrays too, as long as we start with `[` and separate them with `,` and end with `]`, with the `application/json` mime type: that's just raw HTTP streaming since the end result is a valid json value.

We could just do that and call it a day. Then it's up to the client to figure out if it wants to stream or not.

[2021-01-08 16:17] mutasemhidmi opened #14193 "Reactive graphql Nullpointer exception"
i have the below graphql api, note that when i'm not using reactive entity and not returning uni it works

[code]

and every time i run the application i get this error

[code]

[2021-01-08 16:38] FroMage opened #14195 "DEV Console: Add a list of endpoint page to RESTEasy Reactive extension"
We currently have a [DEV Console](https://quarkusio-quarkusio-github-io-preview-pr-815.surge.sh/guides/dev-console) for the [RESTEasy Reactive](https://quarkusio-quarkusio-github-io-preview-pr-813.surge.sh/guides/resteasy-reactive) extension with two entries:

- One that lists the REST endpoint scores
- One that points to our `/404` page to list endpoints and their parameters

But the 404 page is

[2021-01-08 16:39] glefloch commented on #9357
Currently, when using a slice, we use the following constructor which require a page:

    public SliceImpl(List<T> content, Pageable pageable, boolean hasNext) {

There is an other constructor of the `Slice` which does not require a page. If we use this one, we could avoid the count query.

WDYT @geoand ?

[2021-01-08 16:39] FroMage commented on #14195
Note that this is for @SaumyaSingh1 but I haven't figured out how to assign it to her yet. Just don't take it away from her ;)

[2021-01-08 16:40] geoand commented on #14195
@FroMage if she comments on the issue, then you can assign her :)

[2021-01-08 16:42] geoand commented on #9357
I don't remember TBH. If you try it and it works, by all means open a PR :)

Last time I checked (which was months ago), I didn't implement it properly because we didn't have this kind of fuctionality in Panache, so a count query was the only way to go.
But if you have a solution, then go for it :)

[2021-01-08 16:43] FroMage commented on #14195
Aha! Thanks!

[2021-01-08 16:44] glefloch commented on #9357
it looks like there a range query now. I will give it a try and open a PR if this works :)

[2021-01-08 16:45] geoand commented on #9357
Cool!

[2021-01-08 16:53] oztimpower commented on #14186
It’s a new bootstrapping, that executes before the function is invoked, for shared code, such as monitoring or other common code. Like a layer in a container.

[2021-01-08 16:58] vsevel opened #14196 "Invalid WARN Log level DEBUG for category 'X' set below minimum logging level INFO, promoting it to INFO"
**Describe the bug**
If I set a category to level `DEBUG`, the level is not applied, and the following warning is printed:
[code]
This is new behavior in Quarkus 11 CR1.
10.0.5 did not do this.

**Expected behavior**
Same as 10.0.5: `DEBUG` level gets applied.

**Actual behavior**
Invalid warning is printed, and `DEBUG` level is not applied.

**To Reproduce**

Steps to reproduce the behavior:
1. A

[2021-01-08 17:16] gsmet commented on #14196
You also need to set the `min-level` now.

[2021-01-08 17:22] matejvasek commented on #14191
@patriot1burke don't we wan't to enforce users to fill in the type parameter? I thought we wanted that so we could use it at [static init|compile] time to register reflection and/or generate serde (QSon)?

[2021-01-08 17:23] matejvasek commented on #14191
at worst user can do something like Output<java.lang.Object>

[2021-01-08 17:24] matejvasek commented on #14191
For instance now we are not allowing `Uni` without type parameter deliberately.

[2021-01-08 17:58] vsevel commented on #14196
yes I can see that in the documentation in master. this will be clearer when the doc is updated on the website. thanks.

[2021-01-08 17:58] #14196 closed

[2021-01-08 18:11] patriot1burke commented on #14191
What do you think?  Enforce or not?  If we enforce, then a CloudEventOutput can't be arbitrary.

[2021-01-08 18:14] patriot1burke commented on #14186
I understand that, but how does it relate to Quarkus?  I didn't see any callback APIs.

[2021-01-08 18:32] oscarfh opened #14199 "Issues trying to make my extension show in the Dev Console"
First of all, thanks for the great work that is being invested into Quarkus.
I am very excited about Dev Console (https://github.com/quarkusio/quarkus/pull/13899) therefore I wanted to make [my extension](https://github.com/quarkiverse/quarkiverse-logging-manager) support it.
Unfortunately I am not able to do so, I will report some issues I found along the way that prevented me from achieving my g

[2021-01-08 18:33] vsevel commented on #10520
apparently it will not make 1.11?

[2021-01-08 18:50] matejvasek commented on #14191
@patriot1burke is we allow arbitrary data (by not using the type parameter) user would have to use the `@Qson` annotation to manually register his DTOs  am I right?

[2021-01-08 19:32] matejvasek commented on #14191
@mswiderski don't see why we would need to have `Type javatype;` member in the `CloudEventOutput` class, sufficient runtime type info should be present in the `data` member alone, shouldn't it?

As mentioned above, if we allow returning various types, the user will have to mark those types by an annotation.
Well at least for native mode.

Code like:
[code]
will crash at runtime in native mode unle

[2021-01-08 19:39] #14190 closed

[2021-01-08 20:15] matejvasek commented on #14191
I believe this is a limitation of GraalVM, reflection must be registered during static initialization.
Beside reflection we can use generated serializers/deserializers -- Qson, again this has to be done during static initialization.

[2021-01-08 20:29] patriot1burke commented on #14191
This is an example of where javaType would be needed: CloudEvent<List<Pojo>>  It would only be needed when generics are involved.  You could do the follow to hack in Graal support:

@RegisterForReflection
public class MyListGenericType extends GenericType<List<Pojo>> {}

[2021-01-08 20:34] matejvasek commented on #14191
I think I see what you mean. If user had `CloudEvent<Pair<String,Integer>>` then `cloudEvent.data().getClass()` wouldn't return just `Pair.class` not parameterized type, but I thought this is issue only for deserialization, not serialization.

[2021-01-08 20:36] kostanjevec commented on #7451
+1

[2021-01-08 21:02] patriot1burke commented on #14191
Its the opposite.  In deserialization you have to know what your unmarshalling.

[2021-01-08 21:05] matejvasek commented on #14191
yes that what I meant by:

Here we are dealing with serialization right?

[2021-01-08 21:05] patriot1burke commented on #14191
For input, IMO, you are better off having different functions per ce-type rather than having one function that unmarshals based on ce-type.

[2021-01-08 21:06] patriot1burke commented on #14191
Yes, this javaType is for serialization.

[2021-01-08 22:08] bobbyphilip opened #14201 "Data loss after update to Quarkus 1.10.5"
I was running on Quarkus 1.9.1. I recently updated directly to 1.10.5
I started seeing some db entries get wiped out, when accessing a related table.
I have been able to reproduce it in my environment with a simple db read now.
I use postgres, panache, hibernatesearch among other extensions.

It basically boils down to something like

[code]

What happens is when I call `Book.findById(`), the data

[2021-01-09 01:00] SaumyaSingh1 commented on #14195
Hey @FroMage , you can assign me : )

[2021-01-09 07:29] kwakiutlCS opened #14202 "Resteasy-reactive fails to start with fast-jar and logging-json"
**Describe the bug**
The application fails to start, after building an image with type fast-jar, logging-json extension and the extension resteasy-reactive.

**To Reproduce**
Link to project which reproduces the issue https://github.com/kwakiutlCS/fictional-eureka
Steps to reproduce the behavior:
1. create a quickstart Installed features: [cdi, resteasy]
2. add extensions logging-json, container-i

[2021-01-09 08:34] hantsy commented on #14044
@Sanne I've tried to use the raw Hibernate Reactive to implement this, also got the exceptions in the `persist` method.

[code]
The complete codes can be found [here](https://github.com/hantsy/quarkus-sandbox/tree/master/java8-hibernate-reactive).

[2021-01-09 09:26] cescoffier commented on #13996
Under the hood the template uses the mailer.

[2021-01-09 10:22] geoand commented on #14202
https://github.com/quarkusio/quarkus/pull/14203 fixes the issue.

For the record this isn't RESTEasy Reactive specific, it also happens when RESTEasy classic was used (basically anytime `logging-json` was used with `fast-jar`)

[2021-01-09 13:11] Vinche59 opened #14204 "Keycloak Admin Client in QuarkusTest*Callback"
**Describe the bug**
First of all, I'm not really sure if it's a bug or me who does not understand how QuarkusTest Callbacks work.
I try to reset Keycloak Server environment between each of my test methods using **QuarkusTestAfterEachCallback** but as soon as I try to manipulate **org.keycloak.admin.client.Keycloak** instance inside **afterEach** Method I get an InvocationTargetException like the

[2021-01-09 15:44] mswiderski commented on #14191
Can’t we produce by default RegisterForReflectionBuildItem for both input and output types of function? That would remove the burden from users to know and remember about it and since we already check the type it should be relatively cheap to do so, wdyt?

[2021-01-09 20:06] ronsigal commented on #13969
JIRAs with tentative Fix Versions:

 * 4.6.0.Final: https://issues.redhat.com/browse/RESTEASY-2802
 * 3.15.0.Final: https://issues.redhat.com/browse/RESTEASY-2803

[2021-01-09 23:52] sshaaf opened #14206 "Docker run results in failure"
**Describe the bug**
running the jar locally works, devmode works, however after building with the default docker.jvm the container throws a stack trace. I have used the default project from code.quarkus.io to test this out.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Should be able to run the docker container.
docker run -i --rm -p 8080:8080 quarkus/quarkus-test

[2021-01-09 23:59] davidmoshal commented on #14172
That's odd, easily reproducible for me, not sure what else I can add?

[2021-01-10 14:03] essobedo commented on #3262
Here is a potential PR https://github.com/quarkusio/quarkus/pull/14207

[2021-01-10 16:08] hprange commented on #13941
@FroMage I've opened pull request #14205. It adds a warning message to the Javadoc of the `deleteAll` and `delete` with where clause methods, stating that cascade delete rules are ignored. Please, let me know if you need any changes or if I can contribute with anything else.

[2021-01-10 17:21] mahieddine opened #14209 "Route path for failure handlers not honoured"
**Describe the bug**
Let's say I have this very simple and stupid webapp with only  four reactive routes.

[code]

[code]

If i make a bad post to the "hello" route i get the 'handleHelloFailure' fired which is what i expect but if i make a bad post to the 'goodby' route i get the 'handleHelloFailure' fired instead of the 'handleGoodbyeFailure', so it seems like the failure handlers dont take into

[2021-01-10 19:38] gsmet commented on #14172
@davidmoshal please share a small reproducer.

[2021-01-10 20:39] famod commented on #14204
Have you tried `org.junit.jupiter.api.extension.AfterEachCallback` instead?

[2021-01-11 00:41] stuartwdouglas commented on #14206
I just tested this out locally and it works fine for me. Does it work if you run the app without docker?

[2021-01-11 01:16] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/476448655

[2021-01-11 02:40] Saberzun commented on #2209
so，how do you resolve this  issue？

[2021-01-11 05:52] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/476790536

[2021-01-11 05:57] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/476790280

[2021-01-11 06:34] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/476791461

[2021-01-11 06:47] cescoffier commented on #8821
@gsmet With RESTEasy Reactive, we may want to bump the priority of this one. Can you give me a hint of what needs to be done technically (and where)?

We also need to discuss what needs to be done:

1. `@Valid Uni<T>` - we need to validate the emitted `T`:
[code]
2. `@Valid Multi<T>` - we need to validate all the emitter `T`.
3. `@NotEmpty Multi<T>`- should we verify that the Multi is not empty or

[2021-01-11 06:49] geoand commented on #8593
@lburgazzoli it seems like the Camel Kubernetes extension is now failing due to the bump to Kubernetes 5.x

[2021-01-11 06:51] cescoffier commented on #5712
@geoand we should revisit this with RESTEasy Reactive. Also, we may want to improve the router model.

[2021-01-11 06:51] cescoffier commented on #9707
@rsvoboda should this one be closed?

[2021-01-11 06:54] cescoffier commented on #9741
We should document that somewhere.

[2021-01-11 06:55] cescoffier commented on #9799
This has been fixed. We are now generating unique names.

[2021-01-11 06:55] #9799 closed

[2021-01-11 06:55] cescoffier commented on #10198
@tsegismont should we consider this one closed?

[2021-01-11 06:57] cescoffier commented on #14183
+1

If someone tells me how this should be done, I will be happy to implement it (well, reuse the code I wrote for reactive routes).

[2021-01-11 06:57] geoand commented on #5712
Good idea

[2021-01-11 07:00] cescoffier commented on #7215
That has been fixed a long time ago.

[2021-01-11 07:00] #7215 closed

[2021-01-11 07:01] cescoffier commented on #8503
Reactive Messaging is exposing MicroPRofile Metrics metrics.
See https://github.com/eclipse/microprofile-reactive-messaging/issues/31.

[2021-01-11 07:01] #8503 closed

[2021-01-11 07:03] cescoffier commented on #6168
Closing it - See the https://github.com/apache/camel-quarkus/issues/1223 for details.

[2021-01-11 07:03] #6168 closed

[2021-01-11 07:04] cescoffier commented on #9540
@michalszynkiewicz I've a "bad" news for you: now it's working :-D

Should we add it back?

[2021-01-11 07:04] cescoffier commented on #9540
@gsmet shouldn't we close this one?

[2021-01-11 07:04] cescoffier commented on #2198
@FroMage should we close this issue?

[2021-01-11 07:05] cescoffier commented on #5709
Closing this epic. All the tasks have been done.

[2021-01-11 07:05] #5709 closed

[2021-01-11 07:07] #14204 closed

[2021-01-11 07:19] lburgazzoli commented on #8593
@oscerd @jamesnetherton @ppalaga

[2021-01-11 07:21] oscerd commented on #8593
Camel-Kubernetes component is still based on version 4.x on master and 3.7.x

[2021-01-11 07:23] oscerd commented on #8593
Created: https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-16013

[2021-01-11 07:42] Sgitario commented on #13941
I've commented the PR with: https://github.com/quarkusio/quarkus/pull/14205#pullrequestreview-565116397

[2021-01-11 07:52] jmartisk commented on #10520
Yeah, unfortunately it looks it will have to wait for 1.12

[2021-01-11 07:53] rsvoboda commented on #9707
I should double check, putting on my TODO list.

[2021-01-11 08:06] geoand commented on #14202
Fixes by  https://github.com/quarkusio/quarkus/pull/14203

[2021-01-11 08:06] #14202 closed

[2021-01-11 08:11] geoand commented on #14206
Worked for me as well. Do you have a reproducer project to share?

[2021-01-11 08:19] FroMage commented on #2198
Oh yes.

[2021-01-11 08:19] #2198 closed

[2021-01-11 08:20] jamesnetherton commented on #8593
Created a PR to disable the problematic tests https://github.com/quarkusio/quarkus-platform/pull/170.

[2021-01-11 08:26] geoand commented on #14209
cc @cescoffier @mkouba

[2021-01-11 08:54] tsegismont commented on #10198
@cescoffier yes, the issue has been fixed in Vert.x Sql Client 3.9.3

[2021-01-11 09:01] mkouba commented on #14209
There's a regression introduced by this commit: https://github.com/quarkusio/quarkus/commit/07a994843b482ee4f56f8f4e14676f1263182879

I'll send a PR with a fix shortly...

@mahieddine Thanks for reporting!

[2021-01-11 09:03] geoand commented on #14201
cc @Sanne

[2021-01-11 09:07] geoand commented on #14193
cc @phillip-kruger

[2021-01-11 09:09] phillip-kruger commented on #14193
Hi @mutasemhidmi - What version of Quarkus are you using ?

[2021-01-11 09:27] FroMage commented on #14183
https://github.com/quarkusio/quarkus/pull/14214 should fix this.

[2021-01-11 10:02] knutwannheden opened #14216 "Regression: Redirect for non-application root path does not consider root path correctly"
**Describe the bug**
I have an application where I have configured a non-standard root path using `quarkus.http.root-path=/foo`. As of Quarkus 1.11 which introduces the non-application root path (defaulting to `/q`) I now need to go to http://localhost:8080/foo/q/swagger-ui/ to get to the Swagger UI. This makes sense. But there is also a redirect in place for http://localhost:8080/foo/q/swagger-ui

[2021-01-11 10:09] cescoffier commented on #10198
Thanks @tsegismont

[2021-01-11 10:09] #10198 closed

[2021-01-11 10:25] knutwannheden commented on #8221
Very nice! I just tried adding an `@CacheResult` annotation to a method of an MP REST client interface and also a corresponing `@CacheInvalidateAll` annotated method. The latter doesn't work (see stacktrace below). If you think this would be a valid use case I can report a feature request for this.

[code]

[2021-01-11 10:34] mahieddine commented on #14209
Thank you @mkouba !

[2021-01-11 10:47] rsvoboda commented on #9707
I still see it, tried with Quarkus 1.10.5.Final and 1.11.0.CR1
Used `,;~!@#$%^&()` and `元気かい` as the root directory for getting-started.

`mvn test` works, `mvn quarkus:dev` does not work.

[2021-01-11 10:51] rsvoboda opened #14219 "Windows - ? instead of codestarts icons when generating project"
Running https://quarkus.io/guides/getting-started#bootstrapping-the-project on Windows 10

There are ? instead of codestarts icons when generating project, tried with cmd and poweshell

![Screenshot 2021-01-11 11 20 08](https://user-images.githubusercontent.com/925259/104171584-265a0180-5403-11eb-90c5-e09bcf763d30.png)

![Screenshot 2021-01-11 11 21 35](https://user-images.githubusercontent.com/92

[2021-01-11 11:03] ia3andy commented on #14219
@rsvoboda I believe that unicode is not by default on PowerShell, could you try what's suggested in that answer?
https://stackoverflow.com/a/49481797

If this solution works, I don't know if we should switch to bullets for Windows or keep it and let the user enable it or not?

[2021-01-11 11:04] #9540 closed

[2021-01-11 11:19] sshaaf commented on #14206
Doesnt work on my linux box. but works fine on mac.

[2021-01-11 12:02] rsvoboda commented on #14219
I tried https://stackoverflow.com/questions/57131654/using-utf-8-encoding-chcp-65001-in-command-prompt-windows-powershell-window/57134096#57134096 but without luck

A) My old Windows 10 machine without service packs installed - I don't even have that `set the system locale (language for non-Unicode programs) to UTF-8` option available
b) My wife's Windows 10 machine - settings is available, select

[2021-01-11 12:06] mpcbass opened #14220 "MQTT client re-connection issue"
I'm working on a project involving Mosquitto and Quarkus hosted by two different machines.
Apparently, whenever occurs a connection loss between the two,
Quarkus is not able to reconnect to the broker.

From what I can understand, a connection loss leads a to two different outcomes depending on what quarkus has been doing
during the network failure.

SCENARIO 1
connection drops just before quarkus

[2021-01-11 12:07] ia3andy commented on #14219
Ok, so we need a patch to use bullets on Windows systems.

[2021-01-11 12:12] #14209 closed

[2021-01-11 12:20] rsvoboda opened #14221 "Spring DI guide - ideas for enhancements"
I was playing a bit with Spring DI and Quarkus before Christmas. I took repo referenced from baeldung.com site, trimmed the code and pom.xml to use just di.spring package. After the trimming I tried to migrate source code to use quarkus-spring and then I tried to migrate tests. I have ideas for enhancements in Spring DI guide

Code is here: https://github.com/rsvoboda/tutorials/commits/experiments

[2021-01-11 12:27] loicmathieu commented on #14100
@geoand I too try to reproduce it with a simple reproducer but didn't succeed.

I try to add as many dependencies as I have on my application but it didn't triggers the issue. Something more complex must happens ...

[2021-01-11 12:37] cescoffier opened #14222 "[RESTEasy Reactive] Streaming JSON with failure"
We need to discuss the behavior when the streamed Multi emits a failure.

Imagine something like:

[code]

[2021-01-11 12:56] geoand commented on #14222
I would say just end the response :)

[2021-01-11 13:07] geoand commented on #14221
@aureamunoz would you like to take this one?

[2021-01-11 13:11] aureamunoz commented on #14221
Thank you for this! I would like but not sure to be able to take it this week because I'm working on the Dekorate talk and the deadline is next Friday so if it can wait, yes! I'll do it

[2021-01-11 13:12] geoand commented on #14221
There is no pressure on this, so feel free to do it whenever you like :)

[2021-01-11 13:13] 0x4a616e opened #14224 "Cannot build and deploy AWS Lambda with SAM (missing ApplicationImpl)"
**Describe the bug**
Disclaimer: I'm not sure if this is a bug or a feature request

I'm using `sam build` and `sam deploy` to build and deploy quarkus based AWS lambda functions.

Invoking `sam build` automatically triggers a maven build on all lambda functions and copies compiled sources to `.aws-sam/build/FunctionName`.

The problem here is that `quarkus-maven-plugin` is generating a `function.

[2021-01-11 13:33] sberyozkin commented on #13239
@gauravrmsc Sure - that sounds fine, good luck with the university work; let me know in Feb please - if you will have time to continue - this issue is not very urgent but we have some users which may benefit from it, so I'd prefer not to delay its resolution indefinitely. thanks

[2021-01-11 13:33] geoand commented on #14216
cc @phillip-kruger

[2021-01-11 13:35] phillip-kruger commented on #14216
Looking at it ....

[2021-01-11 13:49] phillip-kruger commented on #14216
@knutwannheden - if you go to a url that does not exist, eg localhost:8080/asd you should see the Not Found page, what is the URL's for the above there ?

[2021-01-11 13:52] tnmtechnologies commented on #3626
I work on functions of the 5G Core Network. It is based on HTTP/2 without or with TLS.
To my knowledge, the MicroProfile rest client is HTTP/1.1 only, and at producer side, HTTP/2 is only allowed with TLS (quarkus 1.10.5.Final).

It seems that gRPC extension works with HTTP/2 without TLS and with TLS.

It would be nice if the quarkus REST layer would allow HTTP / 2 with or without TLS.

[2021-01-11 13:58] sberyozkin commented on #12756
@haraldatbmw sorry, have to close this issue - in some cases we just can't avoid the ambiguity with the code query parameter, we've had a long discussion with @pedroigor about it.

[2021-01-11 13:58] #12756 closed

[2021-01-11 14:00] geoand commented on #14206
I tried your example @sshaaf and I couldn't reproduce the problem

[2021-01-11 14:07] sberyozkin commented on #10412
@cemnura I see, It may be to do with the fact the configuration is visible somehow across multiple Wiremock runs. The fact that the opaque bearer token request is activating it is suggesting it.
Can you try to set `hybrid` in all 3 `application.properties` file - it should dynamically select the correct authentication module.
If that does not help then we will likely need to isolate the code flow

[2021-01-11 14:13] knutwannheden commented on #14216
@phillip-kruger I would have to go to localhost:8080/foo/bar to get the Not Found page, but since I also have an `@ApplicationPath` annotation I in fact have to go to localhost:8080/foo/rest/bar to get that.

On the Not Found page the link text shows up as /foo/swagger-ui/ and the link URL matches that. But it redirects to /q/foo/swagger-ui/.

[2021-01-11 14:26] ebullient commented on #13818
I just ran into this (again), too. I remember talking to Stuart about it.. a long time ago.

I work (sometimes) on a mac. My [monster-combat](https://github.com/ebullient/monster-combat) application can act as a reproducer if you like (two quarkus applications in there).

When I'm working on linux, this sequence just works:

[code]

If I try the latter command on a mac (I assume windows would be t

[2021-01-11 14:29] geoand commented on #13818
I certainly think we can take `container-image` build into account here and make it transparent to users of `@NativeImageTest`

@WDYT @stuartwdouglas ?

[2021-01-11 14:32] ebullient commented on #13150
I think most quarkus options should be focused on developer first, and most developers will have docker on their laptops, and not buildah/podman. I'm not sure I would make this change, as it creates a tripping hazard/obstacle for devs getting started.

[2021-01-11 14:32] knutwannheden commented on #14216
I am also unsure which URL is correct. Should it be `/<root-path>/<non-application-root-path/swagger-ui` or just `/<non-application-root-path/swagger-ui`?

[2021-01-11 14:40] phillip-kruger commented on #14216
I would think `/<root-path>/<non-application-root-path/swagger-ui` - @kenfinnigan ?

[2021-01-11 14:47] knutwannheden commented on #14216
That is also what I was expecting.

As a workaround I tried setting `quarkus.http.non-application.root-path` to `/`. I was then able to access the Swagger UI using `/foo/swagger-ui`. But the Swagger UI failed to load my `swagger.json` (I have also set `quarkus.smallrye-openapi.path` to `/swagger.json`) with an error "Fetch error Not Found /swagger.json".

When I instead set `quarkus.http.non-appli

[2021-01-11 14:51] gwenneg commented on #8221
Hi @knutwannheden.

We have an integration test for @CacheInvalidateAll (see [this](https://github.com/quarkusio/quarkus/blob/master/integration-tests/cache/src/test/java/io/quarkus/it/cache/RestClientTestCase.java) and [that](https://github.com/quarkusio/quarkus/blob/master/integration-tests/cache/src/main/java/io/quarkus/it/cache/SunriseRestClient.java)), is there any significant difference betw

[2021-01-11 15:09] knutwannheden commented on #8221
I think the difference is that in my case the `@CacheInvalidateAll` annotated method has no JAX-RS annotations. Since the caching is performed client-side there is also no need for a corresponding server-side REST endpoint. I tried declaring this as a default method, but that didn't help.

I suppose the use case is a bit weird and as a workaround I can of course move the caching to a decorator obj

[2021-01-11 15:11] patriot1burke commented on #14224
We can't you "sam deploy" the function.zip generated by the build?  Why do you have to use "sam build"?

[2021-01-11 15:16] sshaaf commented on #14206
i'll close this issue. and thanks for looking into it.. I'll look further into my own environment.

[2021-01-11 15:16] #14206 closed

[2021-01-11 15:17] geoand commented on #14206
👍🏼

[2021-01-11 15:24] 0x4a616e commented on #14224
I have a couple of lambda functions using different runtimes. `sam build` builds all of them automatically and prepares the deployment data. Of course, a solution would be to create some script to manually compile all functions using their respective compilers, copy compiled sources if necessary and not use `sam build` at all. However sam build is already there and works quite well for everything

[2021-01-11 15:29] agoncal opened #14228 "Generating an .editorconfig file when generating a new project"
**Description**

When generating a project either with the Maven plugin or with code.quarkus.io, it would be great to have an `.editorconfig` file generated to. Editorconfig[1] is supported by many IDEs now. Quarkus being "opiniated" it would solve the tab vs spaces dilemna ;o)

[1] https://editorconfig.org

**Implementation ideas**

There are several configuration out there, this is the one I use

[2021-01-11 16:01] aloubyansky commented on #14114
It's brought in by the RR SPI
[code]

[2021-01-11 16:05] kenfinnigan commented on #14216
I think this is the same issue that was fixed in https://github.com/quarkusio/quarkus/pull/14133

If you're using 1.11.CR1 the fix isn't present, but it will be for 1.11

@phillip-kruger is correct as to what the appropriate path structure should be

[2021-01-11 16:10] matthyx opened #14229 "Log regression in 1.11.0.CR1 with native build and yaml configuration"
**Describe the bug**
Log level isn't set using the following snippet:
[code]
Please note this is a regression in 1.11.0.CR1 compared to 1.10.5.Final.

**Expected behavior**
Logging in DEBUG should be shown in the application output with both builds.

**Actual behavior**
Only INFO level is shown in native whereas both are with jvm build.

**To Reproduce**
I have setup a public repo (https://github.

[2021-01-11 16:10] matthyx commented on #14229
cc @vsevel

[2021-01-11 16:22] gsmet commented on #14229
Yeah, you also need to set the build time `min-level` configuration property now.

[2021-01-11 16:25] aloubyansky commented on #14114
#14231 clears the HV dependency. However, `quarkus-resteasy-reactive-spi` still depends on `quarkus-core-deployment` which makes it a deployment dependency and shouldn't be added a direct application dependency.

[2021-01-11 16:29] phillip-kruger commented on #14216
Thanks @kenfinnigan - I can not replicate the behaviour as described by @knutwannheden when using master, however, there is an issue with the opeapi path set by swagger-ui when the root path is set, that I will fix a.s.a.p.

[2021-01-11 16:33] FroMage commented on #14222
I dunno, including a json error in the middle of an array is probably Horribly Wrong™…

We can't even put stuff in a tailer HTTP header because you have to declare them in advance, and only in CHUNK.

I can't find any obvious result online about how to handle this.

[2021-01-11 16:39] beikov commented on #9142
Hey @gsmet,

@Mobe91 told me he tried very hard to reproduce this issue, same OS, GraalVM, Quarkus, code versions and uses the same commands to execute the build, but he says he can't reproduce this problem locally. Not sure what to do at this point, but could you perhaps try to reproduce the error to understand if this is related to the GH-Actions environment?

[2021-01-11 16:41] knutwannheden commented on #14216
@kenfinnigan and @phillip-kruger Thanks for looking into this!

Do you expect the fix #14133 be backported for 1.11.0.Final?

[2021-01-11 16:42] Mobe91 commented on #9142
I can't *consistently* reproduce it locally.

[2021-01-11 16:44] vsevel commented on #14229
hi @gsmet, well we did
it is happening on the native executable mode only. jvm mode works as expected.

[2021-01-11 16:47] kenfinnigan commented on #14216
It's marked for backport triage so should be

[2021-01-11 17:09] gwenneg commented on #8221
Sounds like a convincing explanation. If that's the cause, then the same failure should probably happen with any kind of interceptor
placed on a method without any JAX-RS annotation from a registered REST Client.

[2021-01-11 17:12] sberyozkin commented on #14229
Not sure if it is related but `integration-tests/bouncycastle-jsse` can not capture all the expected TLS log records in the native mode only, jvm mode is fine

[2021-01-11 17:41] Vinche59 commented on #14204
Hi,

Thank you for the quick fix. I confirm that resolves the problem for my use case.

Do you think it's possible to incorporate that commit into the upcoming 1.11 release ?
Or should I wait for the 1.12 one ?

Thanks again.

[2021-01-11 17:55] famod commented on #14204
@Vinche59 The backport label was added to the PR by @geoand so it will most likely be backported to 1.11.

[2021-01-11 17:56] vsevel opened #14233 ""Unrecognized configuration key" regression in 1.11.0.CR1"
**Describe the bug**
When running in **native** mode with 1.11.0.CR1, we get "Unrecognized configuration key" warnings on a list of properties.
those properties are all "quarkus" properties (we do not have any warnings on our applicative properties).
some of those properties come from src/main/resources/application.yml, some properties come from runtime provided "application.yml", and some propert

[2021-01-11 18:03] Vinche59 commented on #14204
@famod Oups, yeah sorry I missed that... (I only saw 1.12 milestone set by quarkus-bot).

Thanks again to all of you for your great work and support.

[2021-01-11 18:03] geoand commented on #14233
@gsmet do you know anything about this one?

[2021-01-11 18:04] geoand commented on #14204
Hey folks,

The fix will be backported to 1.11.0.Final

[2021-01-11 18:11] sbilello commented on #4803
Is there any update on this?
I have been using Spring WebFlux and I was looking for the integration to Quarkus. It looks like that I need to rewrite it with Quarkus/Vert.x and I can not reuse my existing code :(

[2021-01-11 18:37] ebullient commented on #4803
I haven't looked, as I went down the micrometer wormhole and haven't come back yet.

[2021-01-11 19:07] javadevmtl opened #14234 "Kafka Deserialization errors are hidden in debug logs."
Using Quarkus 1.9.1.Final

**Describe the bug**
It seems like deserialization are are logged as debug. Wasn't able to consume messages and couldn't figure out why until debug was enabled.

{"appTimestamp":"2021-01-11T12:35:53.924-05:00","sequence":72610,"loggerClassName":"io.smallrye.reactive.messaging.kafka.i18n.KafkaLogging_$logger","loggerName":"io.smallrye.reactive.messaging.kafka","level":"DE

[2021-01-11 19:29] mpcbass commented on #14220
A lot of time has been passed since this issue on vert.x
but it's still seems relevant

https://github.com/vert-x3/vertx-mqtt/issues/66

[2021-01-11 19:31] vvavepacket opened #14235 "Quarkus Security: @RolesAllowed crashes on class level but not on method level"
**Describe the bug**

I'm currently using `io.quarkus:quarkus-security` and implemented ContainerRequestFilter as per this guide [Custom JAX-RS SecurityContext](https://quarkus.io/guides/security-customization). I have my REST classes annotated with @RolesAllowed on the class level but every time a request comes to one of the methods, I'm getting the below error

[code]

It fails on my API method

[2021-01-11 19:36] pgoreutn commented on #14012
I have the same issue when tried to apply kapt plugin
I add the exception below

Version: 0.1.0-SNAPSHOT,  Branch: feature/create_payment_request, isCI: false

FAILURE: Build failed with an exception.

* What went wrong:
Could not create task ':kaptKotlin'.
Could not create task of type 'KaptWithoutKotlincTask'.
zip END header not found

* Try:
Run with --info or --debug option to get more log out

[2021-01-11 19:45] #13716 closed

[2021-01-11 20:46] gavinking commented on #14174
Indeed, we should even link to these from the HR docs.

[2021-01-11 21:14] aloubyansky commented on #7156
@MB175 do you have a reproducer for us to work with? Thanks.

[2021-01-11 21:38] mutasemhidmi commented on #14193
@phillip-kruger 1.9.2.Final should i upgrade ? note that when i used completionstage it worked

[2021-01-11 21:46] phillip-kruger commented on #14193
Yes, Uni support is only added in 1.10.x, please give that a try and let me know

[2021-01-11 22:41] sberyozkin commented on #14235
Also CC @stuartwdouglas @mkouba

[2021-01-11 22:55] stuartwdouglas commented on #14235
RxJava3 not having context propagation support would be the cause of this. Why are you using RxJava3 and not Mutiny?

cc @cescoffier @FroMage

[2021-01-12 01:34] maxday commented on #8974
Hello I have managed to build a distroless image :)

Here is the code :

[code]

@cescoffier What do you think about this approach ? I could document it here if you want : https://github.com/quarkusio/quarkus-images/tree/master/distroless

[2021-01-12 03:29] hhhhthegamehhhh commented on #7144
Is there any examples of how to use multi level (nested) loops? In the similar example given above, when I access the list inside list ( {#for url in item.urls} ), it throws, Loop section error in template - resolved to [io.quarkus.qute.Results$Result] which is not iterable. I am sure the object is the type of java.util.List but somehow it doesnt understand this.

One important note, this only hap

[2021-01-12 03:38] stuartwdouglas commented on #13818
My idea was that our integration tests should run on whatever the final output was:
- For a normal jar build it just starts the resulting production jar
- For a native build it runs the native application directly
- For a container build it runs the container and tests the container
- If you want to get really fancy for an OpenShift/kube build it can test the app running in the cloud

[2021-01-12 05:36] #14114 closed

[2021-01-12 05:43] geoand opened #14240 "Provide easy way to clear / repopulate a database in tests without restarting the application"
**Description**
Users often want to clear and repopulate their database before every test.
We should provide some out of the box functionality to make that easy when Hibernate and / Flyway or Liquibase are used.

**Implementation ideas**
@famod IIRC, you already had something like this?

[2021-01-12 05:59] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/479435080

[2021-01-12 06:05] matthyx commented on #14233
+1

[2021-01-12 06:08] #11323 closed

[2021-01-12 06:50] cescoffier commented on #8974
Nice @maxday! I like the idea to use another container to extract the .so files.

[2021-01-12 07:20] geoand commented on #13818
@stuartwdouglas I assume that are thinking of a new annotation right? Something like `@QuarkusIntegrationTest`?

[2021-01-12 08:10] mkouba commented on #7144
Hm, what does your template look like? Nested loops should work just fine. It's possible that your app relies on the `ReflectionValueResolver` fallback which does not work in native unless the target class is registered for reflection, e.g. via `@io.quarkus.runtime.annotations.RegisterForReflection`.

A minimal reproducer would be really helpful.

[2021-01-12 09:05] gsmet commented on #14233
Hum. This looks like a blocker. I have no idea where the issue can come from.

@vsevel could you try reverting https://github.com/quarkusio/quarkus/pull/13376 and see how it goes?

[2021-01-12 09:07] gsmet commented on #14229
/cc @galderz looks like we have issues with `min-level` in native?

Could you check the reproducer?

(I'm supposed to release 1.11 tomorrow morning so this is high priority)

[2021-01-12 09:15] gsmet commented on #14233
@vsevel @matthyx btw, Final release is planned for tomorrow morning so this is a bit time sensitive.

Building master with the PR reverted should be relatively easy by following: https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master .

[2021-01-12 09:16] gsmet commented on #14233
/cc @radcortez as it might also be a SmallRye Config regression.

[2021-01-12 09:23] gsmet commented on #14233
@vsevel could you also try without the runtime provided config file? Trying to narrow things down.

[2021-01-12 09:23] vsevel commented on #14233
@gsmet we are going to try. there might be some challenges in rebuilding master in our corporate env.

[2021-01-12 09:34] gsmet commented on #14233
@vsevel also a couple of additional questions:
- which GraalVM version are you using?
- can you try with an `application.properties` and removing the Config YAML extension?

[2021-01-12 09:37] vsevel commented on #14233
`Running Quarkus native-image plugin on GraalVM Version 20.3.0 (Java Version 11.0.9+10-jvmci-20.3-b06)`

[2021-01-12 09:48] gsmet commented on #14233
OK, so if building master is complex for you, maybe try with the 2 experiments:
- remove runtime config file
- move to properties and drop the Config Yaml extension

and let's discuss things from there.

[2021-01-12 09:50] vsevel commented on #14233
the quarkus build fails on gradle on our env. there is no knowledge on this. so it is probably not going to work out. if you can provide a debug version of quarkus we can use, that will be easier for us.

I tried moving all "quarkus" properties to the build time file (I left our applicative properties). and that did resolve the issue.
I will try to move to a properties file now.

[2021-01-12 09:59] dufoli opened #14246 "live reload broken with cxf extension"
In development mode, with live coding enabled, when I change something in source code and call any resource, server get broken with this error:

[code]

So you need to manually restart the server with mvn quarkus:dev

(Can reproduce the error on quarkus 1.10.5.Final, OpenJDK 11 + quarkiverse/cxf v. 0.2 and v.0.3)
 and same issue with :

- CXF 3.3.9
- $ java -version
- openjdk version "11.0.8" 2020

[2021-01-12 09:59] gsmet commented on #14233
@vsevel also can you iterate through the 1.11 Betas and see which one introduces the issue?

[2021-01-12 10:07] FroMage commented on #14235
We could add support for RxJava3, should we?

[2021-01-12 10:09] geoand commented on #14229
Using the supplied reproducer, I can't see the debug messages in JVM mode either

[2021-01-12 10:12] vsevel commented on #14233
I removed the runtime config entirely, and I still see the warnings. I will go through the betas. good idea.

[2021-01-12 10:13] matthyx commented on #14229
Do you mean you don't see neither "hello debut" nor "hello info" when doing the curl?

[2021-01-12 10:13] geoand commented on #14229
I only see `hello info`

[2021-01-12 10:15] matthyx commented on #14229
This is what I have in jvm mode:
[code]

[2021-01-12 10:17] matthyx commented on #14229
Do you run your jar from the `mytest` dir that contains the config?

[2021-01-12 10:20] radcortez commented on #14233
Having a look as well.

[2021-01-12 10:26] geoand commented on #14229
Ah, I didn't see that

[2021-01-12 10:32] galderz commented on #14229
I've replicated the issue, looking into it.

[2021-01-12 10:32] vsevel commented on #14233
I have the issue with Beta1. trying with beta1.

[2021-01-12 10:35] matthyx commented on #14229
Thanks folks!

[2021-01-12 10:35] geoand commented on #14233
@vsevel Stuart's fix in https://github.com/quarkusio/quarkus/pull/14247 should take care of the issue.

I tried it with another example and the problem went away.

[2021-01-12 10:49] vsevel commented on #14233
I have the issue with beta1. is it related to having a bootstrap config? if so #13498 was part of beta1. and that might explain why the vault properties were not subject to the warnings?
this is good news. if you have a published build, I could give it a try.

[2021-01-12 10:51] geoand commented on #14233
Yes, it was an issue with bootstrap config

[2021-01-12 11:04] knutwannheden commented on #8221
@gwenneg Do you think it would make sense to support the use case with methods which don't comprise the REST API in an MP REST client interface (like an `@CacheInvalidateAll` annotated method)? Otherwise I think the support for `@CacheResult` annotations in MP REST clients is rather limited: The annotation must currently be declared on another type. This asymmetry is a bit awkward.

[2021-01-12 11:20] abianche commented on #2611
Is it only me that thinks this is a critical issue? Not having Quarkus itself audited means no one can ever use this in a real productive environment, where sensitive data might be exposed. How is this argued against?

[2021-01-12 11:47] #13485 closed

[2021-01-12 11:47] #14189 closed

[2021-01-12 11:55] sberyozkin commented on #5755
Hey @pedroigor as discussed during the oidc-client PR review, I'm re-opening this issue so that we can review how to make the token-propagation case done such that the token acquires a new audience etc after the token exchange with Keycloak

[2021-01-12 11:57] sberyozkin commented on #5755
We can already re-sign the JWT token locally but if we want to preserve the token flow/transformation in the KC logs/etc then the exchange protocol would be the best indeed...

[2021-01-12 12:22] serrodcal commented on #8974
Tested and working fine!

Thanks @maxday

[2021-01-12 12:23] geoand commented on #8974
I also think the builder approach is nice 👍🏼

[2021-01-12 12:36] #10888 closed

[2021-01-12 12:37] antonwiens commented on #10888
@gsmet I closed this issue, but do you want to add a milestone to it or something else?

[2021-01-12 13:10] maxday commented on #8974
Thanks ! I'm going to create a PR for this this afternoon

[2021-01-12 13:51] danieloh30 commented on #14152
@stuartwdouglas The workaround doesn't work for me. Here is what I added properties in application.properties:

quarkus.package.type=mutable-jar
quarkus.live-reload.password=fdnlafdslna
quarkus.container-image.build=true
quarkus.kubernetes-client.trust-certs=true
quarkus.kubernetes.deployment-target=openshift
quarkus.openshift.expose=true

Then, I executed the following command to package and depl

[2021-01-12 14:05] maxandersen commented on #13617
@geoand remind what status/updates is here ? is it ready (enough) for .11 ?

[2021-01-12 14:06] geoand commented on #13617
The basic functionality is ready, but I haven't added any bindings because I want to have opinions on how best to organize the code.
Once that is done, it's just a matter of blindy creating each binding, which can be done in less than a day and added without any risk to a subsequent 1.11 release

[2021-01-12 14:29] hhhhthegamehhhh commented on #7144
Thank you very much for the response. Let me check the ReflectionValueResolver, that might be it, if it still doesn't work, I will provide sample project to reproduce the issue.

[2021-01-12 14:40] #14233 closed

[2021-01-12 14:47] gsmet opened #14253 "DEV Console - Internal Server Error when deploying to OpenShift and not logged in"
In the UI, we end up with `Internal Server Error` whereas we should have a nice error page explaining what's going wrong.

Also, this action takes time so we should probably have something to monitor progress.

Error is:
[code]

[2021-01-12 14:49] jeremyrdavis commented on #8494
@Meemaw did you find a solution that did not involve adding the @Merge annotation?

[2021-01-12 14:49] ahofmeister commented on #12873
@Sanne Any update on this? :)

[2021-01-12 14:49] geoand commented on #14253
We definitely need some better error handling.

I'll add a basic error message. As discussed with @stuartwdouglas and @FroMage when the console was being developed, we'll also want to support streaming logs back to the dev console at some point

[2021-01-12 14:54] geoand commented on #14253
Actually, are you sure you hadn't logged in?

[2021-01-12 15:05] gwenneg commented on #8221
I don't like this asymmetry either :)

I confirmed yesterday that the same exception is thrown with any kind of interceptor binding when `InvocationContext#proceed` is called during the execution of the interceptor's `@AroundInvoke`-annotated method.

This probably needs to be fixed either upstream or in the quarkus-rest-client extension code.

[2021-01-12 15:35] cescoffier commented on #9613
That was fixed already.
See https://github.com/quarkusio/quarkus-quickstarts/blob/master/kafka-panache-quickstart/src/main/java/org/acme/panache/PriceStorage.java as an example.

[2021-01-12 15:35] #9613 closed

[2021-01-12 16:14] #6940 closed

[2021-01-12 17:15] #14229 closed

[2021-01-12 17:19] maxandersen commented on #2611
@abianche quarkus is audited but I'll try catch up why quarkus is not showing up in this type of audit here as I assume it is done for other products. stay tunes.

[2021-01-12 17:31] gsmet opened #14257 "SmallRye GraphQL - NPE when accessing schema if no methods declared"
If I add the GraphQL extension and have no GraphQL service, I end up with the following error when accessing the schema:

[code]

[2021-01-12 18:12] famod commented on #14240
In my previous project we used database-native features to import/export dumps:
- H2 (which we used in most tests): https://www.h2database.com/html/commands.html#script
- PostgreSQL: https://www.postgresql.org/docs/10/sql-createdatabase.html

We triggered those via `QuarkusTestBefore/AfterEachCallback`. If interested I can try to get the permission to contribute the code (shouldn't be a problem, I

[2021-01-12 18:25] vsevel commented on #14229
well done!

[2021-01-12 18:26] vsevel commented on #14233
@stuartwdouglas well done!

[2021-01-12 18:27] sberyozkin commented on #2611
Hi All, the process has started (most Quarkus releases have already been [registered](https://nvd.nist.gov/products/cpe/search/results?namingFormat=2.3&keyword=quarkus ) by the NVD CPE team) but other high-priority issues have intervened; we will resume the effort soon.

[2021-01-12 19:15] a0shvedov commented on #9861
are there any news on this issue?

[2021-01-12 19:16] abianche commented on #2611
@sberyozkin ok, thanks for the clarification!

[2021-01-12 19:43] gsmet commented on #14257
I also got:
[code]
when going to the GraphQL UI.

Looks slightly related but it's not the same error.

[2021-01-12 19:59] maxday commented on #8974
oh I see that @matthyx is doing exactly that here https://github.com/quarkusio/quarkus-images/pull/118

[2021-01-12 20:09] radcortez commented on #14240
If there is interest, we can pull some of the stuff I have in the JUnit + Flyway Extension.

I actually wanted to have it in the Flyway project, but their test annotations are heavily tied to Spring, so I had to write new ones, more generic. This extension is not tied to Quarkus in anyway, so it works as long as you can provide the Datasource that you want to clear / repopulate.

If we make it (or

[2021-01-12 20:24] geoand commented on #14240
I'm plus one for having a Quarkus specific - more tightly integrated way of doing what your extension does

[2021-01-12 20:31] #13478 closed

[2021-01-12 20:45] acalozity opened #14259 "Object to JSON without backslashes"
Hi,

we are developing a microservice with quarkus, using microprofile with resteasy-client. All works fine.

We want to log the object (with json format) but then the output add the backslashes.

Is any way to remove the backslashes?

We are using the dependecy

		<dependency>
			<groupId>io.quarkus</groupId>
			<artifactId>quarkus-logging-json</artifactId>
		</dependency>

but when I get the log

[2021-01-12 20:51] matthyx commented on #8974
Yeah, actually it's better to take out the libs from debian as it is what they use for the distroless images. I had to shoehorn a bit my ideas into cekit.
Let's merge and enjoy!

[2021-01-12 20:54] famod commented on #14240
@radcortez I suppose as a user of such a Flyway-based reset feature I would need to write Flyway-compatible migrations?
What if I want to use Liquibase or yet another tool or home grown solution for production? Wouldn't I end up maintaining two sets of migrations/db scripts?

[2021-01-12 21:05] stuartwdouglas commented on #14152
Are you sure the URL you are pointing to is correct? You get that error if you attempt to open a session against a server that does not support remote dev.

[2021-01-12 21:09] jjangsam commented on #13161
It appears that quarkus 1.10.5.Final should have updated SSL supported vertx redis client 3.9.5. But it appears that quarkus + redis client throws CONNECTION_CLOSED error

To reproduce:
* Generate certs
* docker-compose.yml

*$ docker-compose up
*$ jbang https://gist.github.com/jjangsam/42ce4ae05a408da23177766d707a4875
*$ curl -X POST -H "Content-Type: application/json" -d '{"key":"first","value":

[2021-01-12 21:13] danieloh30 commented on #14152
Yeah, I'm pretty sure. Here is what I set the URL in the application.properties:
quarkus.live-reload.url=http://quarkus-remote-quarkus-remote.apps.cluster-boston-c079.boston-c079.sandbox1545.opentlc.com/hello-resteasy

You can access the URL now.

[2021-01-12 21:17] jjangsam commented on #13161
I do see on the redis log
`
redis_1  | 1:M 12 Jan 2021 21:16:27.956 # Error accepting a client connection: error:1408F10B:SSL routines:ssl3_get_record:wrong version number`

[2021-01-12 21:17] stuartwdouglas commented on #14152
It needs to be http://quarkus-remote-quarkus-remote.apps.cluster-boston-c079.boston-c079.sandbox1545.opentlc.com

I should make this error handling better though

[2021-01-12 21:25] stuartwdouglas commented on #14152
That particular instance might be a bit broken, because I connected a random app to it and aborted half way through the update.

[2021-01-12 21:27] mutasemhidmi commented on #14193
it worked thanks

[2021-01-12 21:27] #14193 closed

[2021-01-12 21:29] danieloh30 commented on #14152
Ok. It works now. There are 2 concerns though.
1) If I keep the following configuration when I run remote-dev, it takes a long time to connect remote server since it seems to trigger S2I deployment once again like
[code]
2) I have set QUARKUS_LAUNCH_DEVMODE=true manually in DC once after I deployed the app via OpenShift extension. Is there a way to add this in application.properties with OpenShift

[2021-01-12 21:34] jamesward commented on #11428
BTW, I discovered that if you use the Quarkus BOM, the Kotlin version gets downgraded from `1.4` to `1.3`.

[2021-01-12 21:37] stuartwdouglas commented on #14152
The linked PR should fix 1), the workaround is to make sure that the property that triggers the S2I build is not set in application.properties, only on the command line when you do the initial build.

For 2) I think you should be able to do: quarkus.kubernetes.env.vars.QUARKUS_LAUNCH_DEVMODE=true

If this works we should document it.

[2021-01-12 21:42] stuartwdouglas commented on #13818
Yes, exactly.

[2021-01-12 21:48] danieloh30 commented on #14152
1) In the meantime, I will take the workaround as well as remove the following configuration to run the remote-dev:
[code]
2) It doesn't work for me:
[code]

[2021-01-12 21:50] stuartwdouglas commented on #14222
You can't include a JSON error in the middle of a response, that would be really wrong.

IMHO the best thing to do would be to just end the response so the resulting JSON is invalid.

[2021-01-12 21:52] geoand commented on #14152
For 2, I think it needs to be:

[code]

[2021-01-12 21:53] danieloh30 commented on #14152
@geoand Should it be in application.properties or CLI?

[2021-01-12 21:54] geoand commented on #14152
It shouldn't matter

[2021-01-12 22:27] danieloh30 commented on #14152
Just redeploy but both don't work for me.

[code]

or

[code]

[2021-01-12 23:00] stuartwdouglas opened #14264 "Hibernate Reactive Schema Validation Fails"
If you set `quarkus.hibernate-orm.database.generation=validate` then the app fails to start:

[code]

[2021-01-12 23:46] #14216 closed

[2021-01-12 23:58] gsmet commented on #10888
@antonwiens done, thanks!

[2021-01-13 00:15] radcortez commented on #14240
Well, yes it is the `junit-flyway-extension` :)

Ideally, you should be using some sort of tool to handle your database schema / migrations, being Liquibase / Flyway or something else. In that case, it makes sense that the same tool is applied and used into your tests. This allows you to reuse whatever scripts you require to migrate your `prod` databases, and at the same time test these scripts.

[2021-01-13 01:36] arunav-b opened #14268 "RESTEASY002020: Unhandled asynchronous exception, sending back 500: java.lang.IllegalStateException: Found unknown codepoint: 0x1153 / 4435"
**Describe the bug**
While I am trying to fetch a record from a DB2 Table using a reactive datasource, I am getting the following exception. The exception doesn't tell me much what is causing the issue. However a similar code on the same codebase when used to query on a PostgreSQL Table using a Postgres reactive datasource, it is working fine.

[code]

**Expected behavior**
The exception doesn't t

[2021-01-13 05:05] SubhamSinghal opened #14269 "How multipart form data upload handles large file"
I am using quarkus framework for java application.I have created 2 rest apis for consuming file data.

[code]

FormData class looks like this
[code]
While both of these rest endpoint works fine for small files. But if i upload file as big as 700MB first endpoint fails with OOM issue while file upload with multipart-form succeed. Can someone explain how memory is managed in case of multipart-form u

[2021-01-13 05:54] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/481992160

[2021-01-13 05:57] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/481991126

[2021-01-13 06:02] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/481991928

[2021-01-13 06:04] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/481990900

[2021-01-13 06:20] chschroe74 opened #14270 "qute: varargs extension function is not called when exactly one parameter is given"
Let this be a qute extension function:
[code]
We can call this extension function like this:
[code]
The output should be:
[code]
Instead, the output is:
[code]
Obviously, the extension function is not found when exactly one argument is passed.

The bug lies in the method "parameterTypesMatch" of the class "io.quarkus.qute.EvaluatedParams". It first checks if the actual number of parameters is diff

[2021-01-13 07:07] cescoffier commented on #13161
@pmlopes Is SSL supported in the 3.9.5 version of the Vert.x Redis client?

[2021-01-13 07:20] geoand commented on #14152
Can you also try `quarkus.kubernetes.env.vars.quarkus-launch-devmode=value` please?

[2021-01-13 07:34] mkouba commented on #14270
I think that this should be fixed in master, specifically by this PR: https://github.com/quarkusio/quarkus/pull/14226

@chschroe74 could you pls test your app against the current master (or 1.11.0.Final which should be released within a few days).

[2021-01-13 07:36] geoand commented on #14152
@metacosm https://quarkus.io/guides/kubernetes#environment-variables still show the old style of defining env vars, can you take a look please?

[2021-01-13 07:53] #14152 closed

[2021-01-13 08:02] 362228416 opened #14271 "Redis NOAUTH Authentication required."
**Describe the bug**
(Describe the problem clearly and concisely.)

this code throw expcetion, NOAUTH Authentication required.
[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

will be ok

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

error

**To Reproduce**

Link to a small reproducer (preferably a Maven project if the issue is not

[2021-01-13 08:02] aloubyansky commented on #12486
[code]

[2021-01-13 08:05] evacchi commented on #12486
@aloubyansky just for info, has the GraalVM version changed recently or...?

[2021-01-13 08:05] geoand commented on #12486
I wonder if this is because we bumped Jackson to 2.12 on Quarkus master?

[2021-01-13 08:07] evacchi commented on #12486
possibly :thinking: we may have misaligned versions on our side then

[2021-01-13 08:12] evacchi commented on #12486
problem is, if I bump to 2.12 on master where we target Finals (or currently Beta/CR) will that break?

[2021-01-13 08:14] geoand commented on #12486
It's definitely best that for whatever you release for Quarkus 1.11, you don't use Jackson 2.12 and only bump to Jackson 2.12 for whatever you target for post Quarkus 1.11.

[2021-01-13 08:17] evacchi commented on #12486
we have already branched out the target for 1.11 (branch 1.1.x) but I'd also like to fix this error :) -- aside: in the future this CI should probably target the release branch instead of our master (?)

[2021-01-13 08:19] geoand commented on #12486
That would be nice, but do you have a branch or tag that we could use for that?
Changing the configuration of this job to track a new branch is bound to lead testing the wrong thing

[2021-01-13 08:22] evacchi commented on #12486
I was thinking to use a tag, like `candidate-release` or something -- but I am still not 100% sure because we usually backport fixes to the release branch so the tag would have to move too... using a branch, OTOH would require to update the job every single time... we were consider using a "quarkus" branch, but still, that would require to mirror the changes on the versioned branch

[2021-01-13 08:26] geoand commented on #12486
Whatever works for you, is fine for me.
As long as we have something stable that doesn't need to be changed in this job, I don't mind :)

[2021-01-13 08:26] metacosm commented on #14152
Will do.

[2021-01-13 08:33] kekbur commented on #12923
It's not a Hibernate bug. I have a minimal reproducing project here: [join-fetch-issue.zip](https://github.com/quarkusio/quarkus/files/5807356/join-fetch-issue.zip). The issue does not appear when the same query is run with the same entities and database contents using Hibernate only. See `PureHibernateBookTest.java` of the attached package.

To reproduce the issue, extract the package and run `./

[2021-01-13 08:37] rsynek commented on #11563
Reproduced locally, should be fixed by https://github.com/kiegroup/optaplanner/pull/1094.

[2021-01-13 08:49] evacchi commented on #12486
now that I think about it @geoand it could be useful if ecosystem CI also ran a job against Quarkus' ongoing release branch instead of just master. e.g. in this case it would be `1.11` ; then in this case our `1.1.x` should be green against your `1.11`

[2021-01-13 08:51] geoand opened #14273 "Kubernetes config doesn't read from API server when QUARKUS_KUBERNETES_CONFIG_ENABLED is set"
**Describe the bug**
If `QUARKUS_KUBERNETES_CONFIG_ENABLED` is set to `true` but `quarkus.kubernetes-config.enabled=false` is set in  `application.properties`, then no attempt is made to read configuration from the Kubernetes API server.

**Expected behavior**
The environment variable takes precedence over the properties file and configuration is read from the API server

**Actual behavior**
`QUAR