[2020-09-28 11:38] geoand commented on #8694
Ah right, I remember why. It need to be triggered by the ecosystem-ci run. I'll do that

[2020-09-28 11:59] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/276552961

[2020-09-28 12:04] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/276553454

[2020-09-28 12:07] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/276552641

[2020-09-28 12:30] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/276553135

[2020-09-28 13:00] geoand commented on #12269
Fixed by https://github.com/quarkusio/quarkus/pull/12278

[2020-09-28 13:00] #12269 closed

[2020-09-28 13:00] michalszynkiewicz commented on #9766
@xmlking do you still experience this issue with `1.8.1.Final`

[2020-09-28 13:25] Xwang0515 commented on #12022
Same issue happens on my Azure postgres server, 42.2.16 42.2.15 are not worked, however older version works fine.
Please let me know if there is any updates. Thx

[2020-09-28 13:29] antonwiens commented on #6327
I am getting near to creating a project for reproduction.
For me it seems related to the quarkus-rest-client. It takes in the httpasyncclient dependency which is referenced by below stacktrace. I dont have any other dependencies in the project which refer to httpasyncclient. I will try to create a simple project for sharing next.

The stacktrace related to this:
`Error: com.oracle.svm.hosted.subst

[2020-09-28 13:40] ebullient commented on #12343
Right. The micrometer org is a little mixed on their @Timed annotation.. while present in core, support for it is optional. For Spring, e.g., supporting the @Timed annotation is optional (you have to add -aop because it is aspect based).

Any http endpoint is implicitly instrumented at the http level.
I'm adding support for reactive messaging instrumentation now (which would also be automatic, and

[2020-09-28 14:36] aloubyansky opened #12376 "Dev mode is not taking into account properties defined in the POM"
If I add `quarkus.http.root-path` property to the pom.xml, build the project and launch the app, the root path of the app will reflect the configured value. However, if the app is launched in dev mode, the property configured in the POM will be ignored.

[2020-09-28 14:37] xtaixe opened #12377 "Allow injecting alternative implementation for a single test"
**Description**
We have a couple of cases where it would be really nice to be able to inject an alternative simple implementation we already have instead of going through the trouble of configuring a Mock. We want to do this for a single test though, so I think the Quarkus `@Mock` wouldn't work for us.

**Implementation ideas**
From the testing documentation it seems that `QuarkusMock.installMockF

[2020-09-28 14:37] overthetop commented on #12343
Thanks @ebullient I'm migrating some Spring boot applications to Quarkus and this is kind of blocker, because we'll lose our monitoring otherwise. Thanks for puting this task in your queue. Hopefully we could see @Timed in the next Quarkus release

[2020-09-28 14:55] survivant opened #12379 "@ConfigProperty with default value and ignoreIfNotPresent"
I have a class that will execute initialization code that is not required for junit

In my class I used

@ConfigProperty(name = "autostart-codec-disabled")
boolean autoStartDisable;

by default the value is "false"

but I want to know if I could just declare the variable only for junit ("test profile)

%test.autostart-codec-disabled=true

if the property is not present in application.properties, i

[2020-09-28 15:14] kiwiidb opened #12380 "Jackson annotations RestEasy client"
**Describe the bug**
When using Jackson annotations for request bodies, the annotations do not seem to be picked up.
[code]
-> This serializes to "testProp" instead of "test_prop"
**Expected behavior**
Jackson annotations are taken into account when serializing.

**To Reproduce**
I have made a modification to the REST-client quickstart project which reproduces my issue:

https://github.com/kiwiidb

[2020-09-28 15:40] survivant commented on #12379
I tried this (without the property in application.properties)

@ConfigProperty(name = "autostart-codec-disabled", defaultValue = "true")
Boolean autoStartDisable;

and autoStartDisable is always false

but this works
@ConfigProperty(name = "autostart-codec-disabled")
Optional<Boolean> autoStartDisable;

[2020-09-28 16:05] moralesl commented on #6488
The support for EKS IRSA can be also achieved in native mode by including the reflection configuration.
See https://github.com/moralesl/aws-quarkus-demo/commit/c72bb4d7d12cb64c66d69dd649cadd6518784456 for adding the dependencies as described by @fredmtyro and for adding support for native mode see https://github.com/moralesl/aws-quarkus-demo/commit/108f741c71fe84c96b8df30da8cb5bc3c5a041b1.

Hope t

[2020-09-28 16:35] ebullient commented on #12343
Let me see if I can put something together... (though I know there is some contention around use for @Timed.. anyway.. give me a day.. )

[2020-09-28 16:50] LeonardoBonacci commented on #11381
Spring supports it [this way](https://cloud.spring.io/spring-cloud-static/spring-cloud-kubernetes/1.0.0.M2/multi/multi__propertysource_reload.html
).

[2020-09-28 16:54] #10074 closed

[2020-09-28 16:55] Auties00 commented on #10074
Thanks :)

[2020-09-28 17:04] loicmathieu opened #12383 "Unable to build a native image with GraalVM 20.2 and debug enabled"
**Describe the bug**
I have an application using Quarkus 1.8.1, it can successfully build a native image, but when I want to build one with debug enabled it fails.

Working native image creation command:
[code]

Failing native image creation command:
[code]

Native image exception:
[code]

**Expected behavior**
Native image should be created when activating native image debug with Quarkus 1.8.1

*

[2020-09-28 19:05] DSVDiniz commented on #2102
I'm having the same issue,  but I'm using Quartz instead of the quarkus Scheduler. I've tried adding @Transactional and @ActivateRequestContext, but both didn't work.
`@ApplicationScoped
public class SchedulerComprot {
	@Inject
	Scheduler quartz;

	void onStart(@Observes StartupEvent event) throws SchedulerException {
		JobDetail jobNovos = JobBuilder.newJob(AdicionaNovoProcessoJob.class)
				.wit

[2020-09-28 19:13] OleKsimov commented on #12022
Our team has faced the same problem.
We have java 11, azure cluster, and flyway migrations for Postgres 11. Everything works fine for Quarkus 1.7.0 or 1.7.1, but flyway fails to connect to datasource when the version is 1.8.0 or 1.8.1.
We've tried to connect to remote DB and to localhost container with Postgres, everything is ok. Something wrong happens during connection to Azure.

[2020-09-28 21:33] jeffhubLR commented on #9980
Thank you very much for the thorough analysis, explanation and writeup, @danberindei . When you create the issue in the maven-compiler-plugin JIRA, would you mind posting that here so I can watch its progress?

[2020-09-28 22:07] hyper-ricardo commented on #12301
Facing the same issue with `io.quarkus:quarkus-amazon-dynamodb` and `software.amazon.awssdk:dynamodb-enhanced`.

[2020-09-28 22:39] banifou commented on #12345
Here is my reproducer project, can checkout it? https://github.com/banifou/jdbc-jackson-serialiser

[2020-09-29 00:11] stachera commented on #12380
I had a similar problem using the annotation @JsonNaming(PropertyNamingStrategy.SnakeCaseStrategy.class).

After I trying to simulate this behaviour with previous versions like 1.8.0.Final and 1.7.4.Final and the problem still happen, I've starting to see another configurations in pom.xml, when I saw that my project was configured with _quarkus-resteasy-jsonb_ lib, but without _quarkus-resteasy-ja

[2020-09-29 00:47] stuartwdouglas commented on #2102
AdicionaNovoProcessoJob is created by Quartz, not be CDI, interceptors won't work.

[2020-09-29 02:02] cristianonicolai commented on #8694
Please retrigger the build, it should be fixed by https://github.com/kiegroup/kogito-runtimes/pull/790

[2020-09-29 03:16] stuartwdouglas commented on #9634
ParentFirstArtifacts can be contributed by any extension, you can write your own extension that just has this if you really want. If this does fix the problem though we should just include it in Quarkus out of the box.

[2020-09-29 03:25] frank-dspeed commented on #9634
@stuartwdouglas it would be a big help if you could get a example working with quarkus and graaljs so that when using graalvm-ce 20.2 quarkus and graaljs do work out of the box.

I am total new to Java i just learned the internals i am coming from C, Rust, ECMAScript. I do not fully understand all parts of the class loader symantics at present but i can clear see it is a problem

and i see the rel

[2020-09-29 03:25] xmlking commented on #9766
Will try tomorrow

[2020-09-29 04:07] ebullient commented on #12343
Ok. PR attached -- it hasn't been reviewed, there will be force-pushes as I clean things up, but if you want to try something for experimentation purposes, here it is.

[2020-09-29 05:09] geoand commented on #6588
@cescoffier the jms quickstart seems to be misbehaving

[2020-09-29 05:15] jantosi commented on #12337
See PR #12386

[2020-09-29 05:22] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/277909052

[2020-09-29 05:29] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/277909661

[2020-09-29 05:34] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/277908443

[2020-09-29 05:47] jmartisk commented on #12196
Will try to get it done today

[2020-09-29 05:51] cescoffier commented on #6588
Again? Hum... at some point we may have to drop it completely.

[2020-09-29 05:57] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/277909283

[2020-09-29 05:59] cescoffier commented on #6588
Hum, it seems that the broker is no more running in native...

[2020-09-29 06:19] jmartisk commented on #12346
Will definitely need a reproducer, this is really basic functionality and we do have it covered by tests, so there must be something fishy with your application.

[2020-09-29 06:23] #12230 closed

[2020-09-29 06:28] cescoffier commented on #6588
It does not seem to be the case. I've opened https://github.com/quarkusio/quarkus-quickstarts/pull/669, but definitely not sure it will fix it. Obviously, no problems on my machine.

[2020-09-29 06:37] mkouba commented on #2102
In fact, this should work because we override the default `org.quartz.spi.JobFactory` here:
https://github.com/quarkusio/quarkus/blob/master/extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java#L429-L439

@DSVDiniz What version of quarkus do you use?

[2020-09-29 06:51] RajatKumar-git opened #12388 "Customize logging in quarkus"
Description:
In terms of json logging the i have to add some custom fields in the console logs( like logback.xml provide in springboot) , and need to remove some of them from the logs like hostname ,processId and loggerClassName.
I have used extension quarkus-logging-json which gives json format logging now but i am unable to remove those fields from the console and add my custom fields there.
Sug

[2020-09-29 07:15] kiwiidb commented on #12380
To be clear my issue is with the REST _client_. Quarkus-resteasy-jackson is for the server serialization if I understand correctly.

[2020-09-29 07:44] #12357 closed

[2020-09-29 08:28] #12345 closed

[2020-09-29 08:30] angelfretz23 commented on #8974
@serrodcal I had the same issue. I was able to solve it by using `-Dquarkus.native.container-build=true` during the packaging phase

[2020-09-29 08:47] anistor commented on #9980
#3 is fixed (worked around) by https://issues.redhat.com/browse/IPROTO-161 "Enhance generated source file up-to-date check by also ensuring the class file exists and is newer than the java file"

This is released in protostream 4.3.4.Final and @danberindei 's simple reproducer without Quarkus (https://github.com/danberindei/maven-compiler-test/tree/master) confirms the fix.  It would be great to h

[2020-09-29 08:49] havwig opened #12389 "Add support for custom formatter class for file logger"
**Description**
I'm trying to port a project to Quarkus where I have a requirement for logging JSON to file in a specific format. I tried the JSON logging extension and discovered that it doesn't support file logging (see issue #9386), but even if it did I would still need to modify the logging format (see issues #11170 and #7451).
I propose to solve this by adding the ability to set a custom form

[2020-09-29 08:57] davidcurrie commented on #8210
Not sure if there has been a regression here or something else is at play but I'm not seeing this error having moved a project up from 1.4.2 to 1.8.1 Final.

[2020-09-29 09:20] serrodcal commented on #8974
I will try it, but I think the error is related to a library is missing... Thanks Angel.

[2020-09-29 09:24] #12297 closed

[2020-09-29 09:34] kiwiidb commented on #12380
Sorry, the reproducing code works when you remove the `resteasy-jsonb` dependency. Closing this

[2020-09-29 09:34] #12380 closed

[2020-09-29 10:07] hacst commented on #10648
@aloubyansky As feared with Quarkus 1.8.1.Final my workaround is no longer possible. The "minified" pom.xml is now 389578 exceeding the limit of 384000. Do you have any other suggestions for a viable workaround?

[2020-09-29 10:22] zbendhiba commented on #12383
I have the same issue this morning

[2020-09-29 10:26] gsmet commented on #12380
Yeah, both the clients and the servers use RESTEasy. If one of them brings the JSON-B provider, it takes the precedence.

You need to use a consistent stack for both.

[2020-09-29 10:41] michalszynkiewicz opened #12392 "dev mode: grpc client doesn't work if the proto file is added before the extension is added"
**Describe the bug**
(Describe the problem clearly and concisely.)

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue.

Step

[2020-09-29 10:42] JiriOndrusek opened #12393 "Implement graphics for JAXB"
**Description**
I've implemented camel-quarkus extension for FOP (https://github.com/apache/camel-quarkus/tree/master/extensions/fop2).

I ran into following error using native-image:

	at sun.java2d.cmm.lcms.LCMS.getTagNative(LCMS.java:28)
	at sun.java2d.cmm.lcms.LCMSProfile$TagCache.getTag(LCMSProfile.java:70)
	at sun.java2d.cmm.lcms.LCMSProfile.getTag(LCMSProfile.java:51)
	at sun.java2d.cmm.lcm

[2020-09-29 10:44] sberyozkin opened #12394 "Combining OIDC introspection and userinfo calls causes Vert.x thread to block"
**Describe the bug*`

The opaque tokens require the introspection which is done inside an async Vert.x Auth handler. The same will happen if the local JWK set has no matching JWT `kid`.
If it is combined with another async userinfo call then Vert.x thread gets blocked.

[2020-09-29 10:55] aloubyansky commented on #10648
No workaround on our side at this point, unfortunately. However, I didn't forget about this issue and we are re-working the way we compose the BOM. Now there is an actual generator that puts it all together and it seems feasible to introduce fragmentation that would help this case. Which, tbh, is not something we'd probably prefer in the first place and this issue is probably the only reason to co

[2020-09-29 11:17] maxandersen commented on #10648
@hacst i'm not user of azure artifacts, but do I get it right that in your usecase here it is used as a proxy for your builds to run faster (or even just be able to build as external maven is cut-off?)

[2020-09-29 11:20] maxandersen commented on #10648
I've pinged my MS contacts on this as it sounds totally arbitrary they have a limits on pom.xml sizes as you'll have .jars even larger...lets figure out why they have that limit and if can be increased at it just feels very long trying to work around this specific limit.

[2020-09-29 11:24] asodja opened #12395 "When JWT token is expired Runtime exception is thrown"
It seems that OIDC extension throws Runtime exception if JWT token is expired.

[code]

Problem is, that `io.vertx.ext.jwt.JWT.isExpired()` always throws exception if token is expired.

Unfortunately I was not able to produce a simple reproducible, but it seems that issue is obvious and easy to fix. Issue seems to be here: https://github.com/quarkusio/quarkus/blob/a77842ef3ed94bb461a676b9398d7c156

[2020-09-29 11:25] gsmet commented on #10648
Let's make it 15 MB to be on the safe side for Quarkus 1.20 :).

On Tue, Sep 29, 2020 at 1:20 PM Max Rydahl Andersen <
notifications@github.com> wrote:

[2020-09-29 11:28] mkouba commented on #12355
Yes, so the [quarkus.qute.suffixes](https://quarkus.io/guides/qute-reference#quarkus-qute_quarkus.qute.suffixes) property is used to specify the set of suffixes used when attempting to locate a template file and suffix is not provided. In other words, if you do `@Inject TemplateInstance foo` the suffix is not known and so quarkus attempts to find `foo.qute.html`,`foo.qute.txt`,`foo.html` and `foo.

[2020-09-29 11:34] hacst commented on #10648
@aloubyansky Thanks for your effort.
@maxandersen Correct. We try to follow best practice described by MS for a cooperate setup which is to use a proxy repository for maven access through an artifact feed and prevent any direct access to upstreams (maven central). Besides the speedup you mentioned this keeps builds working if the upstream has issues, if packages are removed or if there are general

[2020-09-29 11:35] sberyozkin commented on #12395
@asodja Why do you think it is a bug ? thanks

[2020-09-29 11:38] aloubyansky commented on #10648
@hacst have you tried using `io.quarkus:quarkus-bom` instead? Are you using extensions that aren't available in it?

[2020-09-29 11:41] hacst commented on #10648
@aloubyansky I haven't. It is only 200k so would work. What is the difference to the universe bom? I only ever saw universe mentioned in documentation.

[2020-09-29 11:43] cristianonicolai commented on #8694
Seems it needs https://github.com/kiegroup/kogito-runtimes/pull/792 to be in

[2020-09-29 11:49] aloubyansky commented on #10648
quarkus-bom is limited to the extensions from the quarkus repo https://github.com/quarkusio/quarkus/tree/master/extensions which may already be more than enough for many apps. quarkus-universe-bom however is defined here https://github.com/quarkusio/quarkus-platform/blob/master/bom/pom.xml it import quarkus-bom plus external extensions such as camel, kogito, qpid, cassandra, hazelcast, debezium, e

[2020-09-29 11:56] maxandersen commented on #10648
@hacst lets see what MS contacts says - and if doesn't happen you could also split up very crudly the file with a script.

as i assume their system is fine having N smaller poms ?

[2020-09-29 11:57] velias commented on #12230
@phillip-kruger I updated to latest quarkus master with your patch, and exception is back when I run my test app in dev mode :-( But unit test I added is OK, so I'm really not sure what is going on.

[2020-09-29 11:59] phillip-kruger commented on #12230
Must be a Dev mode specific issue then. Can you test with Java -jar ?

[2020-09-29 12:05] hacst commented on #10648
@aloubyansky Interesting. It will cause some confusion to switch this to something not in the docs but it is a much saner workaround than me messing with a released pom. If we encounter specific stuff missing we should still be able to "vendor" that part somehow (should hopefully be rare). Thanks a lot for making me aware of this.

@maxandersen The limit is per pom file. We have tons of other depe

[2020-09-29 12:07] sberyozkin commented on #12395
@asodja never mind, I see what you mean :-)

[2020-09-29 12:09] DSVDiniz commented on #2102
1.8.1.Final

[2020-09-29 12:14] gastaldi commented on #12355
Right, I think the bug is that a `NullPointerException` is thrown when the template is not found in this case.

[2020-09-29 12:16] #12369 closed

[2020-09-29 12:29] cristianonicolai commented on #8694
Fix merged.

[2020-09-29 12:30] mkouba commented on #12355
My point is that the build should fail before the NPE is thrown ;-)

[2020-09-29 12:33] mkouba commented on #2102
@DSVDiniz Ok, where is the `AdicionaNovoProcessoJob` class located? Is it a part of the application (`src/main/java`) or a dependency?

[2020-09-29 12:56] velias commented on #12230
Sorry, looks like it pickled up old snapshot. I rebuilt everything with clean and it looks to be ok now

[2020-09-29 13:44] pedroigor opened #12397 "Exception Handling/Mapping When Running Quarkus Command Mode Applications"
**Description**
Currently, command mode applications are unable to handle exceptions when executing the application but only provide a `Consumer<Integer>` to perform custom logic based on the exit code.

Applications should be able to catch any exception thrown during startup/execution in order to customize behavior or just shown better messages.

**Implementation ideas**
If we could change the [Q

[2020-09-29 13:50] DSVDiniz commented on #2102
Part of the application

[2020-09-29 13:58] DSVDiniz commented on #2102
Also, as a side note, the problem only occurs with panache queries such as list(), when I'm updating/persisting entities with panache (just using the simplest way, by setting attributes and doing .persist()) everything works as normal.

[2020-09-29 14:25] mkouba commented on #2102
@DSVDiniz Is there a chance that you could try to forge a minimal reproducer project?

[2020-09-29 14:44] DSVDiniz commented on #2102
Sure, as soon as I'm done I'll post it here.

[2020-09-29 15:07] zbendhiba commented on #5244
Is there's a chance we can have this feature someday soon ?

[2020-09-29 15:12] kenfinnigan commented on #12358
I might be missing it, but where is the AMQP/RabbitMQ plugin utilized?

[2020-09-29 15:12] yanaga opened #12398 "Ability to declare Kubernetes resources requests and limits through properties"
**Description**
Kubernetes allows to specify how much resources (memory and cpu) a container needs to be executed. In addition to this, Kubernetes also allows you to enforce a limit on the amount of resources (again memory and cpu) that a container can use.

This information can be provided inside the following structure in the following yaml excerpt:
[code]

It'd be nice if the `quarkus-kubernete

[2020-09-29 15:14] ruromero commented on #8694
Please retrigger the build, PR https://github.com/kiegroup/kogito-runtimes/pull/792 is merged

[2020-09-29 15:19] geoand commented on #8694
Done

[2020-09-29 15:19] geoand commented on #12398
@iocanel we have this capability in dekorate right? So we just need to expose it here

[2020-09-29 15:20] kenfinnigan commented on #12325
Here's the PR: https://github.com/quarkusio/quarkus/pull/12326

[2020-09-29 15:35] agoncal opened #12400 "Document the Quarkus internals"
**Description**

There is a discussion on the mailing list about documentation[1]. There are several topics mentioned in this thread, and there is one about documenting the Quarkus internals. Below the last two emails:

My company's dev teams are prospecting new tools and frameworks for application development. But honestly, I can't even form an opinion about Quarkus. It's a blackbox. Help is this

[2020-09-29 15:39] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/278797420

[2020-09-29 15:43] mgonzaga1990 commented on #12358
Hi @kenfinnigan I was just trying to connect to my broken when that exception occurs.

[2020-09-29 15:44] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/278798228

[2020-09-29 15:50] kenfinnigan commented on #12358
Right, but my understanding is that RabbitMQ talks AMQP 0.9, but AMQP in Reactive Messaging talks AMQP 1.0.

The plugin you linked to, I'm not sure whether that's installed in the RabbitMQ broker or somewhere else?

Not sure if @cescoffier has thoughts

[2020-09-29 15:51] danberindei commented on #9980
@jeffhubLR the maven-compiler-plugin issue is https://issues.apache.org/jira/browse/MCOMPILER-433

[2020-09-29 15:53] mgonzaga1990 commented on #12358
I have raised this also to the rabbitmq team.. and they are lookin into it.. also they are looking on 2 options
https://github.com/rabbitmq/rabbitmq-amqp1.0/issues/102

[2020-09-29 15:53] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/278796800

[2020-09-29 16:13] miador opened #12402 "SmallRye GraphQL conflict with same enum names in different models"
**SmallRye GraphQL cannot differentiate same enum names in different models from version 1.6.0 to 1.8.1.**
We have GraphQL API for banking. We have separate models i.e `Accounts` and `Balances`. In `Accounts`  we have an enum called `Type` and we have enum with same name `Type` in `Balances`.

**The expected behavior is to see they're working fine as in previous versions.**
The quarkus version was

[2020-09-29 16:21] gsmet commented on #12402
Please create a small Maven reproducer, it's really far easier for us to reproduce issues that way.

Thanks!

[2020-09-29 16:25] maxandersen commented on #6147
@lordofthejars im still struggling the sensical in that to.get the metadata to do the build you first need to do a build :)

[2020-09-29 16:29] lordofthejars commented on #6147
well the idea is to be able to scaffold something with mvn before doing the build.

[2020-09-29 16:30] mariofusco commented on #8694
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/278797970

[2020-09-29 16:41] loicmathieu commented on #12346
Building with GraalVM 20.2 fixed the issue.
I'll close it as it's the supported version for Quarkus.

[2020-09-29 16:41] #12346 closed

[2020-09-29 16:52] phillip-kruger commented on #12402
@miador - yes a reproducer will help. As a workaround you can try and give the types unique names using the Enum annotation:
Something like:

`@Enum("AccountType")` and `@Enum("BalanceType")` (as a class level annotation on the enum)

see https://download.eclipse.org/microprofile/microprofile-graphql-1.0.2/microprofile-graphql.html#enums

[2020-09-29 17:16] #12394 closed

[2020-09-29 17:43] gdutra-cwb commented on #7359
I'm having the same problem. Still not found it a way fix it. @rsvoboda can you suggest something ?

[2020-09-29 17:50] angelfretz23 commented on #8974
@serrodcal Sorry, it was very late (2:20 am my time). I should have explained that when i used `-Dquarkus.native.container-build=true`, Docker downloaded a dependency that it didnt when I used `-Dnative-image.docker-build=true` so it might be the missing library =)

[2020-09-29 18:27] #9510 closed

[2020-09-29 18:55] serrodcal commented on #8974
Hi Angel, thanks again for your help.

The problem is still there, `./application: error while loading shared libraries: libstdc++.so.6: cannot open shared object file: No such file or directory`. Just to clarify, I get that error in a native application within a distroless container. And, as far as I know, the library is not within the docker base image.

[This](https://github.com/serrodcal/quark

[2020-09-29 18:55] mkonzal commented on #12398
Is a dedicated issue for the OpenShift extension needed?

[2020-09-29 19:30] Karm opened #12403 "Intermittent Quarkus 1.7.4 failure in quarkus-integration-test-vertx-graphql native-image generation"
**Intermittent issue, related to: https://github.com/graalvm/mandrel/issues/22**

**Describe the bug**
Quarkus integration test vertx-graphql fails to build native image.

**Expected behavior**
It builds the image and passes the test.

**Actual behavior**
[code]

**To Reproduce** :x:
Natural steps to reproduce should be as follows, although I have *failed to reproduce the issue locally*.
[code]

*

[2020-09-29 20:14] geoand commented on #12398
Nope, introducing the feature would be done generally

[2020-09-29 20:20] yanaga commented on #12398
I can see that in dekorate you can declare the information with these properties:
[code]

And for OpenShift, it's:
[code]

[2020-09-29 20:21] geoand commented on #12398
Right, so we just need to expose it to the Quarkus config system.

@iocanel do you want to take this one?

[2020-09-29 20:32] gastaldi commented on #12393
Removing the substitution isn't enough. The code would still fail with an error like:

[code]

[2020-09-29 21:32] troosan commented on #8242
Hello again, any plans to fix this issue? Or should I just not run my unit test? ;-)

[2020-09-29 23:28] stuartwdouglas commented on #8242
@aloubyansky Maybe we need our own config to allow exclusions and inclusions (although as this happens before CL creation we can't really use our existing config stuff).

I actually had a similar requirement for this with https://github.com/quarkusio/quarkus/issues/11962 which I did not complete as I ran into this issue.

[2020-09-30 00:44] stuartwdouglas commented on #12397
Originally I was thinking that this would be something like RESTEasy exception mappers, where you could create something like:

`class MyMapper implements StartExceptionMapper<SomeException>` and Quarkus would automatically discovery them.

That said maybe the BiConsumer approach is simpler and more flexible.

[2020-09-30 01:12] stuartwdouglas commented on #9634
Do you have a simple example I can play around with?

[2020-09-30 01:18] dylanenabled commented on #11428
Hey, I have a similar problem that I'm not able to work out.

I need to use kotlin 1.4 in a gradle build, but updating the plugin version does not work

[code]

- `./gradlew dependencies` still shows that `org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.3.72` is being used.

I can't see any kotlin.version flags anywhere and `-Dkotlin.version=1.4.0` doesn't seem to work.

I tried setting the stdlib to be

[2020-09-30 03:24] jw941 opened #12412 "hibernate.jdbc.use_get_generated_keys Support"
I am porting an application from WildFly and I am having trouble with hibernate not picking up my sequence names. After investigating I figured out that this was because Hibernate cannot detect use_get_generated_keys support at build time, so it now defaults to false and there is no way to set it without using persistence.xml

Thanks for your help in advance!

[2020-09-30 05:22] fmcejudo commented on #8834
Build fixed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/279808407

[2020-09-30 05:24] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/279809035

[2020-09-30 06:49] rmohta commented on #11035
@aguibert Are you testing it against Docker image of DB2? Same version as I have mentioned above?

[2020-09-30 06:50] geoandri commented on #12139
I 'd like to give it a try, if someone else hasn't started working on this.

[2020-09-30 07:05] aloubyansky commented on #8242
Unless we parse the plugin config, we need to be analyzing the original test classpath and detect which artifacts it consists of.
Can we assume the original test classloader to always be an instance of URLClassLoader? Otherwise, we'd need to fallback to processing `META-INF/maven` resources which isn't reliable given that not every Maven artifact includes that entry.

[2020-09-30 07:05] JiriOndrusek commented on #12393
@gastaldi I didn't try to remove the substitution. I can try to poke into it, to see whether it is possible to make this work ith camel-quarkus extension.

I thought, that to fix this, there would be more work (not only to remove substitution).
Would it make any sense to gust remove the substitution (if it could work)?

[2020-09-30 07:06] antoniomacri opened #12413 "ClassNotFoundException on primitive arguments with quarkus-test-security"
**Describe the bug**
If I include quarkus-test-security, a ClassNotFoundException is raised if there are test methods with arguments of primitive data types (for instance on a `@ParametrizedTest`). No need to actually use the `@TestSecurity` annotation.

**Expected behavior**
No exception is raised.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add quarkus-test-

[2020-09-30 07:36] loicmathieu commented on #12139
@geoandri feel free to work on it, I'll assign it to you.
If you are a new contributor to Quarkus, don't hesitate to ask some help on our Zulip dev channel and be sure to read the CONTRIBUTING guidelines.

[2020-09-30 09:00] manodupont opened #12416 "Quarkus / MicroProfile REST Client byte array"
Hi,

I am trying to send a byte array through REST call with microprofile rest client :

The request would need to correspond to the curl method as is

[code]
The further i went is this

[code]

A little background: Im using this to upload to GCP Storage. Good news is : I do have an entry created on GCP but with 0 bytes.

It seems like the Content-Length stays at 0.

I tried many things related to

[2020-09-30 09:01] fongie commented on #12022
Hi guys, I have the same problem (not using Quarkus though). Downgrading to 42.2.14 worked for me. I opened an issue in the postgres driver repository for this

[2020-09-30 09:03] phillip-kruger commented on #12416
Hi @manodupont - you should not need to add the microprofile-rest-client-api-1.4.1.jar. (Or at least it should be provided scope)
Do you have a reproducer ?

[2020-09-30 09:05] phillip-kruger commented on #12416
(You should only need to do

[code]

That will pull in mp rest client

[2020-09-30 09:14] manodupont commented on #12416
Mmm i mean. Yes i do! But whats the interface that will make me accomplish this ?!

See the example I gave 👍

This

[code]
is sending a request with a Content-Length: 0. Thats the further i went. So the object send seems to be null.
How do i send byte array using microprofile REST client ?

[2020-09-30 09:20] sberyozkin commented on #12413
CC @stuartwdouglas

[2020-09-30 09:21] phillip-kruger commented on #12416
Do you have a reproducer that i can clone and run ?
So it would have a REST server that accepts uploads and a client that gives your error ?

That would help :)

[2020-09-30 09:22] #12395 closed

[2020-09-30 09:38] manodupont commented on #12416
Well,, thats the problem :(

The server on the other end is Google Cloud Storage.

I know MicroProfile with quarkus for multi part data is working fine ...... but for this particular request which needs to send data binary directly like that, i just can't find a way and im pretty sure its related to this content-length.

The log for the request goes like this :
[code]

[2020-09-30 09:39] manodupont commented on #12416
You can see somethings weird with the content-length.

[2020-09-30 09:40] phillip-kruger commented on #12416
So can you not recreate it with your own server ?

[2020-09-30 09:45] manodupont commented on #12416
If i change the rest client interface method signature to
[code]
i get this error ...
[code]

[2020-09-30 09:45] stevefan1999-personal opened #12417 "Cannot build with OpenJ9 for missing BouncyCastle dependency with K8S dependency present"
**Describe the bug**
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Create arbitrary Quarkus project
2. Build with OpenJ9

**Configuration**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: Microsoft Windows [Version 10.0.19042.541]
 - Output of `java -version`:
[code]
 - Quarkus version or git rev: 1.8.1.Final
 - Build tool (ie.

[2020-09-30 09:47] manodupont commented on #12416
Well, how do you build a server with MicroProfile API waiting for a byte array. Thats the problem. I dont have any doc related to MicroProfile talking about byte array. The only things i found is related to form data part.

[2020-09-30 09:48] stevefan1999-personal commented on #12417
The problem is, even that it is stated clearly Quarkus only targets Java 11 for now, but it should build with versions beyond Java 11 just fine.

[2020-09-30 09:48] stevefan1999-personal commented on #12417
The most obvious workaround is to downgrade to OpenJDK 11 immediately, but I will lose ZGC so...I'm now stuck in a dilemma

[2020-09-30 10:01] cescoffier commented on #12077
I've opened a PR implementing the battle plan (and more)

[2020-09-30 10:55] nicolinux72 commented on #11524
Hello,

I apologize for the oversight and confirm that your substitution fixes the problem: thank you.

Will this change end in an upcoming official release? How will we be able to use it in production?

Nicola

[2020-09-30 11:04] geoand commented on #12377
Thanks for taking the time to report.

I am interested in why https://quarkus.io/guides/getting-started-testing#further-simplification-with-injectmock doesn't cover your needs.

[2020-09-30 11:05] phillip-kruger commented on #12416
Hoe does SitesApiController look like ? Is that an Quarkus app ?

[2020-09-30 11:08] gsmet commented on #11524
I don't understand why we closed this issue.

For me, the problem is important enough that:
- we include a workaround if we can;
- we open an issue in the MongoDB driver tracker and try to get them to fix it.

2/ is required to do 1/, I don't want to have a workaround forever.

[2020-09-30 11:13] phillip-kruger commented on #12416
Also look at https://quarkus.io/guides/rest-client-multipart and https://stackoverflow.com/questions/60083726/quarkus-jax-rs-service-multipart-form-upload-cannot-consume-content-type - maybe that helps

[2020-09-30 11:16] gastaldi commented on #12393
@JiriOndrusek removing the substitution is only the tip of the iceberg AFAIK.
I am not sure GraalVM supports the java.awt classes TBH.

Maybe a solution is to add substitutions in FOP to not depend on Java2D processing instead.

[2020-09-30 11:23] JiriOndrusek commented on #12393
@gastaldi Yeas I agree that this is a working solution (see https://github.com/apache/camel-quarkus/blob/master/extensions/fop/runtime/src/main/java/org/apache/camel/quarkus/component/fop/PDFRendererOptionsConfigSubstitution.java#L29)

But I was wondering if this "not implemented" part of quarkus will be implemented in future (and I wanted to show interest for this missing feature)

[2020-09-30 11:37] pedroigor commented on #12397
@stuartwdouglas Thanks, I'm going to prepare a PR.

[2020-09-30 11:44] xtaixe commented on #12377
@geoand we already have a simple implementation that covers our needs for testing (configurable, so it's per test), so I don't want a mock and having to configure it to behave the same as our implementation. I guess the behavior could also be described as the same as Quarkus' `@Mock` annotation (described as "CDI `@Alternative` mechanism" in the docs) but for a single test.

Not sure if the naming

[2020-09-30 11:50] gbdevw commented on #6014
Here is a running example of a Quarkus based application which uses the websocket API from Coinbase Pro with the Undertow websocket extension and JSR annotations :

https://github.com/gbdevw/cb-etl/tree/master/src/main/java/tech/gbdevw/colibri/coinbaseetl/coinbase/websocket

[2020-09-30 11:52] xtaixe opened #12419 "Make it easier to load additional config properties files at build time"
**Description**
We have (generated) additional config properties files that we would like to load like `application.properties`. It would be really nice o be able to load them without having to define a `ConfigSource` and doing the SPI registration, etc.

See discussion at https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Additional.20config.20properties.20at.20build.20time

**Impl

[2020-09-30 11:55] geoand commented on #12377
@xtaixe `@InjectMock` (and it's sibling, `@InjectSpy`) do work on a per test basis. The mock or spy only comes into play for the test it's injected into.
Doesn't that cover your usecase?

[2020-09-30 11:56] jmartisk opened #12420 "SmallRye GraphQL extension's metrics are broken"
The producer of vendor `MetricRegistry` is detected as unused (unless an application injects it directly, which makes no sense), but it is needed at runtime. This appears at application boot:

[code]

Unfortunately, `io.quarkus.smallrye.graphql.deployment.MetricsTest` is unable to catch this error, because the test itself injects the vendor registry, therefore it's not unused and everything works.

[2020-09-30 12:00] xtaixe commented on #12377
@geoand but I don't want a mock, I want a specific instance/class implementation.

[2020-09-30 12:07] geoand commented on #12377
OK, I see.

We don't have that, but it would not be difficult to add if someone wanted to work on it.

[2020-09-30 12:10] maxandersen opened #12422 "review and enable registry mechanism"

[2020-09-30 12:11] maxandersen opened #12423 "setup (github) template for quarkiverse ci:"
* script that can be parameterized for build
* readme with identified owner
* license
* initial command to create extension setup

[2020-09-30 12:12] maxandersen opened #12424 "setup quarkivserse artifact publishing"

[2020-09-30 12:13] aloubyansky commented on #12422
Here is my proposal https://groups.google.com/g/quarkus-dev/c/xI9N_4dMrsk

[2020-09-30 12:15] DSVDiniz commented on #2102
I found out the problem, the job class needed to be @ApplicationScoped:
[code]
If you still want the minimal reproducer project, here it is https://github.com/DSVDiniz/code-with-quarkus

[2020-09-30 12:18] mkouba commented on #2102
The scope shouldn't be necessary. I'll take a look at your reproducer. Thanks!

[2020-09-30 12:36] xtaixe commented on #12377
If there are no objections around adding this and I manage to find the time, I might try to give it a go.

[2020-09-30 12:43] mkouba commented on #2102
Ah, I can see the problem now - we only add the scope annotation automatically if the job "requires container services" - which is currently interpreted as "has `@Inject`, `@PostConstruct` or `@PreDestroy`". I think that we could easily improve this to also contain all interceptor bindings (and possibly qualifiers).

In any case, a scope annotation does never hurt ;-).

[2020-09-30 12:46] geoand commented on #12377
Yeah, I'm fine with it - it seems like a useful feature.

In order to get an understanding of how to implementa it, take a look at how `@InjectMock` is implemented. It should be simpler as you don't have to interact with Mockito nor do it need to be in separate module like `@InjectMock`.

[2020-09-30 13:05] xtaixe commented on #12377
You mean the code shouldn't go in the same place as `@InjectMock`? Where should the code live then? Will we miss reusing some of the code?

[2020-09-30 13:15] geoand commented on #12377
Well, one doesn't need mockito to do what you are looking for, so it should just go into the `quarkus-junit5`. You most likely don't need any of the mockito code (so you won't be missing much in terms of code reuse) - you just need to understand how it interacts with the test lifecyle.

[2020-09-30 13:16] #12373 closed

[2020-09-30 13:16] gastaldi commented on #12393
If GraalVM supports the Java 2D classes I don't see why it wouldn't. I think it all depends on that

[2020-09-30 13:27] gastaldi commented on #12412
Want to provide a Pull-Request supporting this feature? Unless @Sanne or @gsmet objects against it, it should be similar to https://github.com/quarkusio/quarkus/commit/f9a75ce6738d18c5713dbc7f255afd2b15342a70 AFAIK

[2020-09-30 13:34] jmartisk opened #12425 "Include the JVM GC Binder in the Micrometer extension"

[2020-09-30 13:37] JiriOndrusek commented on #12393
@gastaldi  I've found this document: https://www.graalvm.org/reference-manual/r/JavaInteroperability/#java-graphics-interoperability

From my PoV  it seems, that  graalVM supports awt. (mainly the second paragraph)
But TBH this goes beyond my understanding of quarkus/grallVM limitations ...

Is there anything I could do, to "move"  this issue closer to making it work?

[2020-09-30 13:58] #11966 closed

[2020-09-30 14:05] Sanne commented on #12412
hi @jw941 , could you list which JDBC driver you're using?

I would love to see if we can automatically infer the optimal setting, without needing to expose the property.

[2020-09-30 14:10] #12196 closed

[2020-09-30 14:11] pcasaes opened #12426 "Datadog java trace agent does not instrument jboss logging"
**Description**
The datadog trace agent can add trace/span ids to logs. To do this it instruments the MDC but only for slf4j with logback and log4j. It does not instrument the jboss logging MDC.

**Implementation ideas**
One way to get this to work would be to support swapping jboss logging with logback or log4j.

[2020-09-30 14:12] pcasaes commented on #12426
@ebullient FYI

[2020-09-30 14:14] gastaldi commented on #12393
I found that same document too yesterday, but then realized it talks about the `R` language support :)

It says that:

So I am not sure what we could do besides having a Substitution class for the parts where the Java2D Graphics API is required

[2020-09-30 14:33] ThomasSousa96 opened #12427 "EntityManager find returns entity with all null fields"
**Describe the bug**
I general this works fine, but sometimes the `entityManager.find(Foo.class, id)` returns a `Foo` instance with all null fields except the id. I don't known why this occur.

* I think that the persistence context is inconsistent. Because if I clear the context, using `entityManager.clear()` or `entityManager.detach(foo)`, the `find` method back to work fine;
* I enabled the log

[2020-09-30 14:53] #12223 closed

[2020-09-30 15:22] glefloch commented on #12376
Properties in `gradle.properties` are also ignored for dev mode. I'm having a look

[2020-09-30 15:40] glefloch opened #12429 "Dev mode is not taking into account properties defined in the gradle.properties"
Such as #12376, properties defined in `gradle.properties` are ignored by devmode.

[2020-09-30 15:50] geoand commented on #12250
Any more input on the naming of the new test callback?

[2020-09-30 16:26] aguibert commented on #11035
Yep, I am using `ibmcom/db2:11.5.0.0a`.

Does it work if you do `row.getLocalDateTime(0)`? When I did `row.getString(0)` I got `null` same as you (and this is by design for all Vertx drivers)

[2020-09-30 16:58] #12420 closed

[2020-09-30 18:21] geniusit opened #12430 "Impossible to build a quarkus project since 1.7.0-Final"
Hello everyone,

using
[code]
this maven dependency, it's no longer possible to build a project

**Expected behavior**
BUILD SUCCESSFULL

**Actual behavior**
[code]

Steps to reproduce the behavior:
1. Follow the getting started guide
2. Add the BOM camel as explained [here](https://camel.apache.org/camel-quarkus/latest/user-guide/first-steps.html)
3. Add the smallrye-reactive-messaging-camel depe

[2020-09-30 18:30] ebullient commented on #12417
/cc @DanHeidinga

[2020-09-30 18:54] #7376 closed

[2020-09-30 19:05] famod commented on #12250
`QuarkusTestPreFirstConstructCallback`?
Rather "bulky" but more specific than without the "Test" infix.
Another non-ideal suggestion: `QuarkusTestBeforeTestClassCallback` or `QuarkusTestBeforeClassCallback`.

[2020-09-30 19:06] geoand commented on #12250
I like the last suggestion a lot, thanks!

I'll make sure to carve out some time to get this done for 1.9

[2020-09-30 19:10] famod commented on #12250
"BeforeClass" has a retro feeling to it (Junit4) but since "BeforeAll" is burnt, I don't think it will get much better than this. :-)

[2020-09-30 19:17] famod commented on #12427
/cc @Sanne @gsmet

[2020-09-30 19:30] Sanne commented on #12427
It's going to be complicated to fix this without a reproducer.

Do you really have a need to detach entities? It might help me understand your context.

[2020-09-30 19:42] famod commented on #12379
I would have suggested `Optional<Boolean>` but maybe @radcortez has a better suggestion.

[2020-09-30 19:52] ThomasSousa96 commented on #12427
Hello @Sanne! I'm only using the `detach` method because was the single way that I found to retrieve the entity fields. It's a workaround.

I too did try use a named query but the query too returns a entity with null fields.

Inspecting the `Foo` instance I see that the Hibernate is using a Quarkus Caffeine Cache. There a way to disable this cache?

[2020-09-30 20:10] dmlloyd commented on #12379
Do you mean that it is putting the value in the generated default configuration, and you don't want it there?

[2020-09-30 20:31] DanHeidinga commented on #12417
@stevefan1999-personal do you know if this issue only occurs with OpenJ9?  Does it occur when using Hotspot as well?

[2020-09-30 21:43] Sanne commented on #12427
The cache will only be used if you mark your entity as `@Cacheable`. What is it that you see in the `Foo` instance exactly? The entity shouldn't have any reference to the cache.

[2020-09-30 22:18] maxandersen opened #12432 "add more people to nexus to publish"
add gastaldi
try create quarkiversebot@ to add to nexus

https://issues.sonatype.org/browse/OSSRH-60703 has details

/cc @gastaldi

[2020-09-30 22:19] maxandersen opened #12433 "Create a blog post explaining how Quarkiverse works"

[2020-09-30 22:36] VinodAnandan commented on #11247
https://github.blog/2020-09-30-code-scanning-is-now-available/

[2020-09-30 22:44] ozzioma commented on #12340
@phillip-kruger
Thanks for taking time to consider my suggestions!
I am willing to do a PR for OData support.
Been grokking Olingo's implementation for some time and finding it unwieldy, maybe it's time I tried my hands at it.

How do I start?

[2020-09-30 22:48] ThomasSousa96 commented on #12427
The entity is not annotated with `@Cacheable`. I too did try annotate with `@Cacheable(false)` but the error is the same.

## Simple test

To test I create a simple endpoint that only execute this find method. The find method returns the entity with the values field values. See the below image:

![Screenshot from 2020-09-30 19-05-52](https://user-images.githubusercontent.com/8549602/94746885-189cd

[2020-09-30 22:59] jw941 commented on #12412
Hi @Sanne

We are using org.postgresql.postgresql-42.2.9.jar

[2020-09-30 23:26] zakkak opened #12434 "TraceClassInitialization not a boolean starting from GraalVM 20.3"
**Describe the bug**

Running the redis-client integration test fails with:
[code]
when using the latest graal (see https://github.com/oracle/graal/runs/1185713989?check_suite_focus=true)

Breaking commit is https://github.com/oracle/graal/commit/8c210f7fdbba5045bfbe14b6870f98ebbff6eed7

**To Reproduce**

Get nightly build of 20.3 from https://github.com/graalvm/graalvm-ce-dev-builds/releases/

[c

[2020-09-30 23:42] mccaig opened #12435 "quarkus-micrometer does not work with quarkus-kafka-streams"
**Describe the bug**
Micrometer extension does not work with quarks-kafka-streams extension.

**Expected behavior**
Micrometer extension works with Kafka streams

**Actual behavior**
`./gradlew quarkusDev` fails with a `java.lang.LinkageError`:
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Extract [reproducer.zip](https://github.com/quarkusio/quarkus/files/5308730/reproducer.zip)
2

[2020-10-01 05:26] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/281717414

[2020-10-01 06:30] phillip-kruger commented on #12340
To write your own extension? https://quarkus.io/guides/#writing-extensions

[2020-10-01 07:14] frank-dspeed commented on #9634
@stuartwdouglas after discussion of all issues i came to the conclusion that quarkus is simply not the best fit for a project like mine as you got to many dependencys that collid with my environment.

i am running on current java and that did cause the most issues i can faster produce nativ images without quarkus i think.

i did only tryed it because i thought it could handle incremental builds fo

[2020-10-01 07:34] marcinczeczko commented on #6588
My attempt to fix KMS tests failing: quarkusio/quarkus-quickstarts#674

[2020-10-01 07:36] trickyBytes commented on #11856
Came across the same issue, would be a nice to get this into the next release.

[2020-10-01 07:48] radcortez commented on #12379
That was my suggestion on the mailing list :)

This one is weird. I don't see a reason why the first option wouldn't work. I've just tried it out and I get a `true`, unless I'm missing something.

[2020-10-01 08:15] stevefan1999-personal commented on #12417
@DanHeidinga Not sure, but I think it may not be related to Java at all, but rather the kubernetes plugin itself. I removed it and I can successfully build. But I'm not aware of any removal of security component for Java > 11?

[2020-10-01 08:43] ia3andy opened #12438 "Make sure github action codestarts works without maven/gradle wrapper"
Make sure github action codestarts works without maven/gradle wrapper

cf https://github.com/quarkusio/quarkus/pull/12322

[2020-10-01 09:21] geniusit opened #12439 "Gelf plugin improvement- Elastic server failure management"
Hello everyone,

I use the gelf plugin as described [here](https://quarkus.io/guides/centralized-log-management)

It works well! :)

However sometimes I have network interruption and my ElasticSearch server become unavailable for a while.

I got this stack trace :

[code]

Even if the elasticsearch sever is back up, I need to manually restart my application because it has been crashed...

Is it po

[2020-10-01 10:48] rolintoucour opened #12441 "Form based authentication cookie will soon be rejected"
**Describe the bug**
I register it as a bug because soon it won't work anymore.

Using the Form Based Authentication, a cookie is created, with default name "quarkus-credential". Doing so, Firefox warns:
`Cookie “quarkus-credential” will be soon rejected because it has the “SameSite” attribute set to “None” or an invalid value, without the “secure” attribute. To know more about the “SameSite“ attr

[2020-10-01 10:56] survivant commented on #12379
I think, we can close this issue.  I did some cleanup and rebuild everything and the default value works now and Optional works too.

[2020-10-01 10:56] #12379 closed

[2020-10-01 11:06] radcortez commented on #12379
Great! Thank you :)

[2020-10-01 11:15] Jpmmdf opened #12442 "Problem with unvalid certification"
**Describe the bug**
My keycloak does not have a trusted certificate, so i put de property
quarkus.oidc.tls.verification=none
Even so, he is unable to perform the request

`2020-09-30 16:02:23,997 ERROR [io.qua.application] (Quarkus Main Thread) Failed to start application (with profile dev): java.lang.RuntimeException: Could not obtain configuration from server [https://something/auth/realms/test

[2020-10-01 11:15] Postremus opened #12443 "Hibernate Validator - @Valid Object causes CNFE"
**Describe the bug**
I noticed an odd behaviour in one of my apps during dev mode.
mvn clean install runs sucessfully on the project.

`@Valid Object` causes a CNFE for javax.servlet.Filter. The project did not use servlets however.

After a bit of debugging, I found this place in the Hibernate Validator extension:
https://github.com/quarkusio/quarkus/blob/8f24c19880db64b86d1ee8c1d998ff3c6340acab/

[2020-10-01 11:58] cescoffier commented on #12111
@aloubyansky Seems that there is another Gradle issue:

[code]

(BTW, let me know if I need to ping someone else)

[2020-10-01 12:13] ebullient commented on #12435
Thanks!

[2020-10-01 12:25] mkouba commented on #8790
The more I think about `this` the less I believe there is a real use case for this implicit binding. Most of the examples we have in tests are about "readability", for example the template `{#if this.get('name') is null}OK{/}` is probably more readable than `{#if get('name') is null}OK{/}` (the context object is a map in this particular case) but both behave equally. That said, I'd like to keep it

[2020-10-01 12:36] aloubyansky commented on #12111
Running gradle IT locally after `-Dquickly` didn't reproduce the failure. I could imitate the CI run locally later tonight. FYI @glefloch
Yes, @cescoffier just fyi, @glefloch is the most active contributor to our gradle plugin and testsuite, atm.

[2020-10-01 12:37] gavinking commented on #8790
Usually the purpose of `this` is to let you access instance fields when they are hidden be locals. But from what you've just described, it sounds like here we have a behavior where ’this’ can refer to the hiding locals, and so it doesn't sound like it's actually doing its job right.

[2020-10-01 12:37] sberyozkin opened #12444 "Disabling TLS checks in Keycloak Admin API does not work"
**Describe the bug**

See #12088.

[2020-10-01 12:58] cescoffier commented on #12111
@aloubyansky in this build, it's a clean build from scratch. No -Dquickly before. It mimicks what's happening during a release.

[2020-10-01 13:00] aloubyansky commented on #12111
Simply `mvn clean install` @cescoffier? or custom repo location too?

[2020-10-01 13:04] mkouba commented on #8790
Yeah, I think that the original idea was to provide a way to reference the current object in use cases like `{#each listOfStrings}{! I want to output the iterated element !}{/each}` but since we decided to introduce `it` in the each-style loop it's not needed anymore and one can do `{#each listOfStrings}{it}{/each}`. It was probably inspired by `{{this}}` coming from handlebars and `{{.}}` coming

[2020-10-01 13:19] Postremus commented on #12443
Yeah, quarkus needs a list of all types. but a safeguard might help in case someone else has this problem.

[2020-10-01 13:33] #12425 closed

[2020-10-01 13:42] gavinking commented on #12412
I agree that this should be automatic. We shouldn't expose such legacy settings.

[2020-10-01 13:44] #12204 closed

[2020-10-01 13:46] gavinking commented on #12427
It sounds like `find()` is just returning a proxy, which is pretty normal behavior.

[2020-10-01 13:49] gavinking commented on #12427
Note also that `Hibernate.initialize()` does not initialize the fields of a proxy instance, it just loads a separate instance that the proxy will delegate to.

[2020-10-01 13:49] sawezx opened #12446 "Update documentation for "kafka" extension"
**Describe the bug**
According to documentation https://quarkus.io/guides/kafka-streams while adding extension via
`./mvnw quarkus:add-extension -Dextensions="kafka"`
This should add the following to your pom.xml:

[code]
In practice it's failed because there is:
❌ Multiple extensions matching 'kafka'

In a scenario where the user trying to add multiple extensions at once, it takes some time to fi

[2020-10-01 13:55] jefrajames opened #12447 "java.net.URL not supported in native mode"
**Describe the bug**
java.net.URL is not supported by GraalVM 20.2.0. Packaging a Quarkus native image is not possible and produces the following error:

This seems to be a GraalVM limitation/decision as described in [this issue](https://github.com/oracle/graal/issues/1721) .

Having URL data is common place. Is there any standard recommandation, workaround for Quarkus users?

**Expected behavior*

[2020-10-01 14:06] ralph089 commented on #11543
Hit the same issue.

[2020-10-01 14:13] sberyozkin commented on #12441
@rolintoucour Hopefully #12450 will fix it

[2020-10-01 14:28] ThomasSousa96 commented on #12427
Hi @gavinking, can be normal the `find` method return a proxy but it's not initialized when the `get` method is called. Example:

[code]

I not understand when you did say: "it just loads a separate instance that the proxy will delegate to.". Can you explain with more details?

[2020-10-01 14:30] gavinking commented on #12427
Well sure, it's not normal that `getName()` returns null, but I just wanted to make sure that that is what is happening here, because it's not what you wrote above. You wrote that the _fields_ were null, which might well be perfectly normal.

[2020-10-01 14:36] #11318 closed

[2020-10-01 14:43] jefrajames opened #12452 "Packaging native image fails with SmallRye GraphQL"
**Describe the bug**
When using SmallRye GraphQL, packaging a native image fails with the following error:

This error is solved with the following workaround in application.properties:

Buty I guess this not a normal situation.

**Expected behavior**

working

**Actual behavior**

failing

**To Reproduce**
This [GitHub project](https://github.com/jefrajames/demobugValidationService.git) reproduce

[2020-10-01 14:47] #12145 closed

[2020-10-01 14:48] gsmet commented on #12176
@sberyozkin I disagree, examples shouldn't be that bad.

Can't we move the file to `src/main/resources` easily? Why does it need to be in `META-INF/resources/`?

[2020-10-01 14:51] phillip-kruger commented on #12452
Thanks @jefrajames ! I am looking at it .

[2020-10-01 14:54] DanHeidinga commented on #12417
I've created an empty kotlin  quarkus project using start.quarkus.io and copied in the config from the description.  I can't reproduce the issue with that minimal setup.  Do you have a reproducer I can use to dig further?

[2020-10-01 15:11] glefloch commented on #12111
I'm wondering if integration tests should actually be run ? the workflow ignores set `-DskipITs` whereas, the gradle integration test module only respond to `-DskipTests`
So should we update the workflow to add `-DskipTests` or update the gradle integration test module to disable tests on `-DskipITs` or should we look for test failure? :D

[2020-10-01 15:14] aloubyansky commented on #12111
Yes, we should fix it.

[2020-10-01 15:18] glefloch commented on #12111
Ok looking at it.

[2020-10-01 15:23] crivera commented on #4394
Hi

I still have the same issue when I create a base class that I want all my repositories to extend from:

[code]

Error:

[code]

Any help would be great!

[2020-10-01 15:26] ebullient opened #12454 "kafka very noisy in dev mode (master)"
**Describe the bug**
This is a follow-on from #12435

While debugging that, I unzipped and ran the reproducer, and that was lovely. Immediate error, woohoo!

**Expected behavior**

Kafka starts up (maybe a few messages as things warm up). If I leave dev mode, Kafka cleans itself up.

**Actual behavior**

Constant chatter (WARN) from org.apache.kafka.client.NetworkClient on both a kafka-admin-clien

[2020-10-01 15:31] ThomasSousa96 commented on #12427
Got it! I expressed myself badly.

[2020-10-01 15:39] ge0ffrey opened #12456 "rest-data-panache: improve error message if native build can't write ID"
As discussed here:
  https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/rest-data-panache.20native.20builds.3F

If an `@Entity` is exposed via rest-data-panache, but there no setter for it's `@Id` it works fine in non-native, but it throws this error in native:

[code]

That error message should be improved. Ideally, it also fails fast in non-native mode too.

**This issue is probab

[2020-10-01 15:45] rolintoucour opened #12457 "Allow to disable redirections from Form Based Authentication"
**Description**
Using form based authentication, there are 3 pages urls that we can define:
- quarkus.http.auth.form.login-page
- quarkus.http.auth.form.error-page
- quarkus.http.auth.form.landing-page

We can also disable the redirection to landing page: `quarkus.http.auth.form.redirect-after-login`. In this case the landing page isn't used anymore (as far as I know), after a successfull login th

[2020-10-01 15:59] ge0ffrey opened #12458 "rest-data-panache: when native build has to write ID, use accessor trick or deprivitize field trick"
To avoid the stacktrace below, generate a way on entities to set the ID when the REST-data-panache PUT method is called.
Either by:

- Generating a method (accessor trick) - for example a virtual setter
- Or privatize the id field.

As discussed here:
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/rest-data-panache.20native.20builds.3F

Relates to https://github.com/quarkusio/qu

[2020-10-01 16:25] evanchooly commented on #4394
Where does `org.util.BaseRepository` come in to the picture?  There's no `create()` on the repository interfaces.

[2020-10-01 16:28] crivera commented on #4394
its

[code]

[2020-10-01 16:31] evanchooly commented on #4394
Oh, it would seem the generator for those client proxies perhaps isn't generating the right bytecode then.  I'm not sure what bit of code is responsible for generating that.  iirc, that's a general hibernate function.

[2020-10-01 16:32] gastaldi commented on #5390
@spannozzo can you open a new ticket? With a reproducer too, if possible. Thank you

[2020-10-01 16:34] sberyozkin commented on #12176
@gsmet you are welcome to update the demo, thanks

[2020-10-01 16:38] sberyozkin commented on #12176
As far as I recall it does not work for the test Generate JWT utility code which expects the private key be on the classpath

[2020-10-01 16:40] sberyozkin commented on #12176
This is an over reaction IMHO, seeing a security issues where they don't exists is not always great either.

[2020-10-01 17:05] gytis commented on #12458
I can take care of this one.

[2020-10-01 17:29] sberyozkin commented on #12176
@gsmet Guillaume,
I've looked at the demo. As I said above, this `private.key`, even though it is packaged as the main demo resource, is only meant for the tests and for generating the test tokens.
The fact that this private-key resource is publicly visible has nothing to do with the flow of the demo which is about demonstrating the verification of the signed tokens with the public key.
Trying to

[2020-10-01 17:31] #12343 closed

[2020-10-01 17:34] sberyozkin commented on #12176
@gsmet May be I'm missing something, https://github.com/quarkusio/quarkus-quickstarts/tree/development/security-jwt-quickstart has the private key in the test resources only...

[2020-10-01 17:40] sberyozkin commented on #12176
@gsmet I've inspected the runner and I do not see a private key in the packaged jar, only `META-INF/resources/public.key`. May be there is a bug in the text, let me check

[2020-10-01 17:47] #12435 closed

[2020-10-01 17:49] sberyozkin commented on #12176
It is a text bug.
OK. @ThomasSousa96 I apologize, the text guide is misleading, I should've looked at the issue description more carefully, just assumed the private key was shipped as a public resource, as I'm trying to argue above (most likely unconvincingly :-)) is that it would be irrelevant for the overall security of the demo.
That said, the private key is a test resource in the demo which wa

[2020-10-01 18:03] evanshortiss commented on #11476
Seeing a similar issue on my end Building using source-to-image via *quarkus-openshift* plugin with *registry.access.redhat.com/ubi8/openjdk-11*. The error is:

[code]

Here's my configuration and Resource:

[code]

[code]

[2020-10-01 18:07] hacst commented on #10133
@gsmet  I'm not very familiar with the constraints around this in Quarkus. Is there any chance of this fix landing as part of 1.8.2? The bump to 4.5.8 also fixes https://issues.redhat.com/browse/RESTEASY-2678 which I am also encountering.

[2020-10-01 18:15] cescoffier commented on #11476
Add:

mp.messaging.incoming.meter-events.broadcast=true

[2020-10-01 18:24] geoand commented on #10133
I don't think we'll be backporting the RESTEasy bump to the 1.8.x line.
In any case, 1.9.x isn't far off

[2020-10-01 18:25] glefloch commented on #12111
What looks suspicious is that the test tries to download the gradle in 6.5.1 while we are running gradle 6.6.1.

https://scans.gradle.com/s/7tp4q2flbf72w/tests/:test/io.quarkus.gradle.devmode.BasicJavaApplicationModuleDevModeTest/main()#1

I suspect that the test timed out because the gradle wrapper download took too much time. But I'm not able to reproduce that download.

[2020-10-01 18:34] evanshortiss commented on #11476
@cescoffier thank you! That did the trick. Is the `@Broadcast` annotation intended for a different purpose.

[2020-10-01 18:40] crivera commented on #4394
And if make the functions "open" I get:

`java.lang.IllegalStateException: This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?`

[2020-10-01 18:52] tbglazer opened #12460 "Native image build with quarkus-infinispan-client and quarkus-grpc"
**Describe the bug**
When trying to build a native image using a docker container on Windows from an application that uses quarkus-infinispan-client and quarkus-grpc the buildfails with Error: Classes that should be initialized at run time got initialized during image building: with a list netty classes.

**Expected behavior**
The build succeeds.

**Actual behavior**
The build fails with a list of

[2020-10-01 19:45] jeffhubLR commented on #9980
@anistor @danberindei
Thank you both for your work on this. I've confirmed that upgrading to protostream 4.3.4.Final corrects the problem in my minimal Quarkus reproducer.
https://github.com/jeffhubLR/quarkus-infinispan-issue

I've also verified that updating to protostream 4.3.4.Final (and going back to the current default of maven-compiler-plugin: 3.8.1) corrects the problem in our multi-module

[2020-10-01 19:47] gastaldi opened #12461 "Create a parent POM for the Quarkiverse projects"
It should be contain infrastructure setup - no build dependencies

[2020-10-01 20:07] zeldanerd24 commented on #12301
Probably related to #12460

[2020-10-01 20:37] Sanne opened #12463 "Hibernate ORM extension boot is not holding the @Startup event"
**Describe the bug**
There is no guarantee that an event listening for `@Startup` runs strictly after the Hibernate ORM bootstrap.

Clearly the intent should be that all such frameworks have completed initialization, and this gets noticeable if the application code expects - for example - the database schema to have been generated.

As reported on Zulip by @famod

[2020-10-01 21:44] #12441 closed

[2020-10-01 23:57] #9980 closed

[2020-10-02 05:36] cescoffier commented on #11476
@evanshortiss it's doing the same thing, but one is used on emitters (annotation) and one on connector (configuration attribute).

[2020-10-02 05:48] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/283648901

[2020-10-02 05:49] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/283648233

[2020-10-02 07:26] #12176 closed

[2020-10-02 07:30] OmriShiv opened #12469 "Native builds with JNI failing with java.lang.UnsatisfiedLinkError:"
**Describe the bug**
When trying to build a project with Quarkus (whether using the gradle quarkusBuild or using graal directly), the build works; however, when trying to run the project a `java.lang.UnsatisfiedLinkError` occurs. Using a minimal test with just Onnx in a single Class, the native build works.

**Expected behavior**
I expect the application not to fail when this line of code is calle

[2020-10-02 07:44] #11476 closed

[2020-10-02 07:46] cescoffier commented on #12454
I fixed it upstream (in reactive messaging) already.
I'm going to update the version in Quarkus Today.

[2020-10-02 08:07] knutwannheden opened #12471 "quarkus-hibernate-envers should add hibernate-envers to Jandex index"
**Description**
The current `quarkus-hibernate-envers` extension doesn't do very much yet. In order to be able to use Envers it would make sense if the extension were to add `hibernate-envers` to the Jandex index, so that errors like the following can be avoided, where it can't find `org.hibernate.envers.DefaultRevisionEntity` indexed:

[code]

**Implementation ideas**
Define a build step adding a

[2020-10-02 08:09] loicmathieu commented on #12439
@geniusit this is not the Elasticsearch server but the Graylog one that causes the issue (or Fluentd or Logstash depending which log aggregator you are using).

I'm suprised a transient issue on a log handler is not recoverable. What is the issue when the logging aggregator is back again ?

[2020-10-02 08:13] geniusit commented on #12439
@loicmathieu I use logstash. To me the problem is I need to kill the microservice and relaunch it...
I don't exactly know what happens on my server that causes the stacktrace....
It happens sometimes (+- 1 time a week)

[2020-10-02 08:16] loicmathieu commented on #12439
OK, but as I ask, do you have the same stacktrace when logstash is back again or is it a different one ? I understand it occurs not very often so maybe wait for the next occurence and provides feedback when it happens.

A thread dump can also be of some help to understand what's going on. But be sure that Logstash is back when you take it.

[2020-10-02 08:21] geniusit commented on #12439
I don't have any stacktrace when logstash i back again because the microservice has already crashed.
I just need to restart it.

[2020-10-02 08:22] loicmathieu opened #12472 "Only JAR dependencies are copied to the target/lib directory"
**Describe the bug**
When building an application with `mvn package` only JAR dependencies are copied to the `target/lib` directory.

If we have other kind of libraries (for example native libraries that are `.so` or `.dll`), these will not be copied.

Maybe we can relax the "only jar" check to "jar and native libraries".
Or maybe we can add some logging to it.

**Additional context**
Some backgro

[2020-10-02 08:39] marcinczeczko commented on #8982
I finally solved my issue. Sharing my findings.
Assuming my mac hostname is `MY-MAC`, the `/etc/hosts` must have following entry
[code]
For some reason I had that caused the issue.
[code]

[2020-10-02 08:39] #8982 closed

[2020-10-02 08:52] karesti commented on #9980
@jeffhubLR We are about to release 11.0.4.Final that includes this fix, we will upgrade Quarkus to that version after. Thanks!

[2020-10-02 09:08] gsmet commented on #12471
I don't think it's worth adding everything in Envers to the index but we certainly need to add these classes. Will take care of it.

[2020-10-02 09:12] loicmathieu commented on #12439
So you mean that when Logstash is not available, your application crash and never recover from it ?

@dmlloyd can an error on the logmanager crash the application ? Should it be resilient to a log handler failure ?

[2020-10-02 09:16] geniusit commented on #12439
yes that's it!

[2020-10-02 09:17] gytis commented on #12456
I'll look into this.

[2020-10-02 09:20] #12090 closed

[2020-10-02 10:11] ozzioma commented on #12340
@phillip-kruger
Thanks for the tip!

Quick one, the OData extension I'm working with uses legacy Hibernate Criteria API's, which the Hibernate team has indicated will (is) be deprecated and moved to an extensions API.
https://docs.jboss.org/hibernate/stable/orm/userguide/html_single/Hibernate_User_Guide.html#appendix-legacy-criteria

I find the Hibernate Criteria API more flexible and intuitive th

[2020-10-02 10:19] phillip-kruger commented on #12340
I am not sure.

[2020-10-02 10:37] #12463 closed

[2020-10-02 11:05] agentgonzo commented on #8140
Should this be closed as done? https://quarkus.io/guides/cache

[2020-10-02 11:33] phillip-kruger commented on #12452
I tested this (your reproducer) against (my) snapshot, and it seems like it's already fixed. Should be ok for 1.9.0. Closing here.

[2020-10-02 11:33] #12452 closed

[2020-10-02 12:23] kenfinnigan commented on #4031
Is it possible to update to 1.8.1.Final and see if the error is still present?

[2020-10-02 12:53] dmlloyd commented on #12439
Not that I know of, but there's always a chance that there is a bug that we don't know about.  `ExtHandler` is supposed to trap all exceptions - but perhaps `DelayedHandler` doesn't have the same level of protections for some reason.  I can have a look at it.

[2020-10-02 13:03] galderz commented on #11524
@nicolinux72 Glad to hear the substitution works. I'll work to send a PR for it.

@gsmet I probably close it by mistake 😊. Indeed we should open an issue in MongoDB driver tracker, I've been meaning to do that, but I first wanted to double check that the workaround worked for @nicolinux72. I'll open it shortly.

[2020-10-02 13:07] loicmathieu commented on #12439
@dmlloyd if you can have a look this could be great, thanks!

@geniusit I may have found why it broke your application, it appears that the stacktrace comes from Kafka, maybe they didn't catch the case where the logger throw an error. This seems to be Vert.x kafka streams so maybe something could also be done at this level.

[code]
@cescoffier a failure to log inside the Kafka client seems to cras

[2020-10-02 13:14] galderz commented on #11524
I've just created [JAVA-3851](https://jira.mongodb.org/browse/JAVA-3851) in MongoDB's jira.

[2020-10-02 13:18] galderz commented on #11524
Sent PR 👆

[2020-10-02 13:19] dmlloyd commented on #12439
It appears that there are several things that should be fixed.  The Gelf handler should be trapping exceptions and using the error manager, and the delayed handler should also be doing the same.  Really the `ExtHandler` implementation should have stronger protections in several places.  I'll make the requisite upstream project changes to `ExtHandler` and friends but the Gelf side is someplace else

[2020-10-02 13:31] phillip-kruger commented on #12447
@jefrajames - not sure how to fix this one. Asking on Zulip.

[2020-10-02 13:34] rinmalavi opened #12480 "Setting quarkus.http.cors.origins in application.yml"
When setting properties

    quarkus:
      http:
        cors: true
        "cors.origins": '*'

I would expect "quarkus.http.cors.origins" to be set to "*"

However

    WARN  [io.qua.config] (Quarkus Main Thread) Unrecognized configuration key "quarkus.http."cors.origins"" was provided; it will be ignored; verify that the dependency extension for this configuration is set or you did not make a

[2020-10-02 13:35] irishshagua commented on #4031
I bumped the [reproducable](https://github.com/irishshagua/quakus-exception-handler-issues/commit/1ef45e030daf207c98696c49ac17a6af9f84c0b1) to 1.8.1.Final. Test is still failing.

[2020-10-02 13:41] #12442 closed

[2020-10-02 13:42] loicmathieu commented on #12439
OK, I can send a PR to the upstream `logstash-gelf` library if you want, I already contributed to it. Ping me when you change the `ExHandler` so I can see the kind of changes that needs to be done.

[2020-10-02 13:45] Sanne commented on #12447
Just to clarify, that error doesn't mean that you can't use `URL`, it means you can't use its `handlers` field.

The code will need to be refactored a bit to avoid using the `handlers` field. Hopefully that's possible?

[2020-10-02 13:45] dmlloyd commented on #12447
It's not really clear what is causing the failure; we need to determine how that deleted field was considered reachable.

[2020-10-02 13:46] kenfinnigan commented on #4031
Taking another look at the example code and the spec, I think the issue is that the MP REST Client spec does not support exception mappers marked with `@Provider` unless `@RegisterProvider` as on the interface to explicitly register the exception mapper with the client.

Take a look at https://download.eclipse.org/microprofile/microprofile-rest-client-1.4.1/microprofile-rest-client-1.4.1.html#_res

[2020-10-02 13:49] sberyozkin commented on #12480
@rinmalavi should it be just `origins` ?

[2020-10-02 14:00] dmlloyd commented on #12439
OK will do.  It's going to amount to `try/catch` and calling `reportError` in case of a problem.  The patch is almost ready though...

[2020-10-02 14:04] rinmalavi commented on #12480
Well it works with `quarkus.http.cors.origins` in .yml as well as .properties
Not sure i undrestood "just `origins`"?
https://quarkus.io/guides/http-reference#cors-filter

[2020-10-02 14:14] dmlloyd commented on #12439
OK commit https://github.com/dmlloyd/jboss-logmanager-embedded/commit/977034710784a46ef88dae8e9a2cd07003a86161 should fix the issue.

[2020-10-02 14:20] sberyozkin commented on #12480
@rinmalavi Oh I see what is the probllem, `.cors` is overloaded (used to enable and also acts as a segment key)

May be we should have `quarkus.http.cors.enabled=true`...

[2020-10-02 14:30] #12446 closed

[2020-10-02 15:28] jaikiran commented on #12447
I looked into this a bit and what seems to be happening is that this appears to be triggering a potential bug in GraalVM. The call tree with that reproducer application (the one linked in this issue) is extremely large so it isn't easy to copy/paste here. I was however able to easily narrow this down to a simple application which when built as a `native-image` runs into this same issue. Here's the

[2020-10-02 15:38] glefloch commented on #12438
@ia3andy can you give a bit more context? I would like to help but I'm not sure what to do..

[2020-10-02 15:50] ia3andy commented on #12438
The github action needs to be configured differently depending on if the wrapper is there or not:
https://github.com/ia3andy/quarkus/blob/2f71415e86fc411be81685fae4d143544f75c9fb/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/tooling/github-action/base/.github/workflows/ci.tpl.qute.yml#L15-L21

For this, we need to add a flag indicating that the wrapper is here in the

[2020-10-02 15:51] gastaldi commented on #12480
You need to do:

[code]

See https://quarkus.io/guides/config#configuration-key-conflicts for more details.

Closing now

[2020-10-02 15:51] #12480 closed

[2020-10-02 15:57] #11552 closed

[2020-10-02 15:58] loicmathieu commented on #12439
I check the `loggin-glef` code and it seems to have `try/catch` in a lot of places so it should be safe.

[2020-10-02 16:02] ntrp opened #12483 "Spring @ConfigProperties bindings are not relaxed"
**Describe the bug**
When defining properties with kebab case and defining pojos in camel case, the properties are not binded. The preferred behavior would be like described here: [Relaxed Binding](https://docs.spring.io/spring-boot/docs/current/reference/html/spring-boot-features.html#boot-features-external-config-relaxed-binding)

**Expected behavior**
I defined a property named:
`prop.name-with

[2020-10-02 16:18] sberyozkin commented on #10104
Hi @pelletier197 and @borellda

I'm sorry it has taken me so long to fix this issue, the PR has just been opened, #12484. It is hard for me to prioritize on Tika issues at the moment.
@pelletier197 #12484 will close this issue - but I'd appreciate if you could check the fix later on against your file set, you mentioned there was another file or format which was not processed correctly - if you cou

[2020-10-02 16:31] jaikiran commented on #12447
I've opened a PR in graal repo with a potential fix for this https://github.com/oracle/graal/pull/2889. Given how URL protocols need special handling in native image[1], AFAIK, `URL.setURLStreamHandlerFactory` isn't supported at runtime anyway. So I think that PR should be OK.
I've given that change a try both against my trivial reproducer as well as the linked Quarkus application reproducer. Both

[2020-10-02 16:33] kie-ci opened #12486 "[CI] - Kogito extension + Quarkus main"
This issue will be open and closed dependent on the state of https://github.com/kiegroup/kogito-runtimes building against Quarkus master snapshot. \n If you have interest in being notified of this subscribe to the issue.

[2020-10-02 17:22] sberyozkin commented on #10104
@pelletier197, hi, I'm assuming the PDF file linked here is a test file which does not point to any concrete data ? Can you confirm it please ? I can ask in the Tika forum for a small test PDF file instead if it is problematic. CC @gastaldi

[2020-10-02 17:24] sberyozkin commented on #12480
@gastaldi super :-)

[2020-10-02 17:29] sberyozkin commented on #10104
@pelletier197 I've asked Tika guys for the alternative file just in case...

[2020-10-02 18:01] jyemin commented on #11524
@nicolinux72 when I try to parse the example document that you provided:

    {
        "_id" : "fffff124-615d-40b2-bb08-a7edd9afacd4",
        "interruzione" : false,
        "istante" : ISODate("2019-08-26T17:38:20.917+02:00")
    }

using the Java driver in OpenJDK, it fails, as the JsonReader throws `org.bson.json.JsonParseException: Invalid date format`.

Could you try using the Relaxed Exten

[2020-10-02 18:20] dmlloyd commented on #12439
It apparently doesn't have one at `biz.paluch.logging.gelf.jul.GelfLogHandler.publish(GelfLogHandler.java:135)`. 🙂

[2020-10-02 18:31] pelletier197 commented on #10104
The PDF I have here is just a simple PDF with the minimal information to reproduce.

I you want, Tika has a test folder with a lot of files they support. I would be really great if quarkus could support all those files out of the box, since I believe this test set covers a lot of their API.

Your can find this test folder at this link https://github.com/apache/tika/tree/master/tika-parsers/src/tes

[2020-10-02 19:29] geoand commented on #3374
I'm closing this as the desired extension is part of the Quarkus Platform

[2020-10-02 19:29] #3374 closed

[2020-10-02 19:32] geoand commented on #2759
This was delivered, right @FroMage @loicmathieu @gsmet ?

[2020-10-02 19:53] geoand commented on #5602
To get back to the last point, I can't agree more with @emmanuelbernard. The declarative style gives Quarkus a lot more information for doing build time processing - thus optimizing runtime behavior.
In a DSL like the one mentioned above, it would be very much harder and slower (and in some cases not possible) to do those optimizations.

[2020-10-02 20:27] lucasscharf commented on #11565
May I try handle this issue?

[2020-10-02 20:40] loicmathieu commented on #11565
@lucasscharf someone already provides a pr for it.

[2020-10-02 21:18] glefloch commented on #12438
Thanks @ia3andy. This is clear :)

[2020-10-02 23:25] pelletier197 commented on #10104
I also have the configuration file I used to support all the test cases I need to support. I could provide you with it, but it's quite enormous. There are hundreds of resources and runtime loaded classes in this config file.

[2020-10-03 06:34] #10265 closed

[2020-10-03 06:34] #11572 closed

[2020-10-03 06:34] #12454 closed

[2020-10-03 07:38] yuhaibohotmail opened #12495 "Rest Client running in native mode reported a NoSuchMethodError on windows"
**Describe the bug**
(Describe the problem clearly and concisely.)
[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue

[2020-10-03 08:21] sdaschner opened #12497 "Remote-dev with mutable jar throws connection errors"
**Describe the bug**
Since the change in how the `remote-dev` feature works (was that around `1.6`, `1.7`?), the remote dev doesn't quite work for me anymore.

Before, I've used this approach: https://blog.sebastian-daschner.com/entries/quarkus-remote-dev-in-containers

Now, I've tried the following, with `mutable-jar` and `QUARKUS_LAUNCH_DEVMODE=true` on the production side, which *basically* wor

[2020-10-03 09:53] rquinio commented on #12483
I don't think relaxed binding is possible, given properties names have to be known at build time...
The default for spring-boot extension should rather be kebab case given it's "recommended for use in .properties and .yml files" in the docs.
Maybe `quarkus.arc.config-properties-default-naming-strategy` could be used when needing to switch to camelCase/verbatim ?
The limitation of not mixing strate

[2020-10-03 09:58] ntrp commented on #12483
Fair enough about relaxed binding but then would be great letting the user decide which kind of binding to use. I don't think `quarkus.arc.config-properties-default-naming-strategy` is used in this case since the default is kebab-case and it is using the exact name of the property to bind.

[2020-10-03 10:30] geoand commented on #12483
I agree we should change to kebab case for this extension and document the
limitations.

cc @gytis

On Sat, Oct 3, 2020, 12:59 Ivan Gregurić Ortolan <notifications@github.com>
wrote:

[2020-10-03 10:33] sberyozkin commented on #10104
@pelletier197 OK, thanks, I'll then go ahead and merge the PR. Yes, I'm aware of that folder, I copied one of the files (renamed it) to `integration-tests/tika` awhile back. I agree a more exhaustive testing would help, but testing a large set as part of the regular Quarkus build may be problematic. For now I'm trying to address the issues as they are reported though I'm late on a few of them (POI

[2020-10-03 10:33] #10104 closed

[2020-10-03 13:39] dhenneke opened #12498 "Memory Leaks when using QuarkusTestProfile"
**Describe the bug**

I have a project with something like 10 test classes that each use a different [Test Profile](https://quarkus.io/guides/getting-started-testing#testing_different_profiles). There seems to be some kind of memory leak where something is not cleaned up correctly when a quarkus application was stopped after each of these classes.I am not sure if I am doing anything wrong or uncom

[2020-10-03 14:49] gastaldi opened #12499 "Create Extension Maven goal does not honor grandparent settings"
**Describe the bug**

The `<parent>` is never created when running the `create-extension` mojo with the following parameters:

[code]
**Expected behavior**
A `<parent>` in the root pom.xml with the parameters provided

**Actual behavior**
There is no `<parent>`

**To Reproduce**

Use the command above

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: F

[2020-10-03 14:53] gastaldi opened #12500 "Create Extension mojo should allow creating the project structure from the current working directory"
**Description**
The mojo creates a directory named after the provided `artifactId` to place the generated files. It would be nice if the generated files were placed directly in the directory where it was executed.

**Implementation ideas**
Add a flag to skip the generation of the directory based on the `artifactId`

[2020-10-03 19:27] michalszynkiewicz commented on #9766
@glefloch if you could take a look at this one, it would be great :)
I suspect there are the version of grpc is wrong because of some other (non-quarkus) grpc dependencies

[2020-10-03 22:55] yuhaibohotmail commented on #9460
How is this feature progressing？

[2020-10-04 06:06] glefloch commented on #9766
@michalszynkiewicz yes I will have a look

[2020-10-04 06:57] glefloch commented on #12111
There is still a gradle test failing.

https://scans.gradle.com/s/je2dk5c7ksn34

I will try to reproduce it.

[2020-10-04 14:05] Sanne commented on #12133
@dreab8 do I remember correctly that we decided to not instrument clone() ?  Let's update this ticket please

[2020-10-04 14:07] Sanne commented on #11295
Could you clarify what you're saying "No" to @FroMage ? You don't agree we should close this issue?

[2020-10-04 14:19] Sanne commented on #12004
This was solved in Hibernate ORM as HHH-14220, so will be solved in Quarkus when we upgrade: see pr #12505

Thanks again for the report!

[2020-10-04 16:54] sberyozkin commented on #6549
https://github.com/apache/poi/blob/trunk/src/java/org/apache/poi/poifs/nio/CleanerUtil.java#L180 has to be addressed, I had to add `-report-unsupported-elements-at-runtime` to bypass the problem in order to upgrade to Tika `1.24.1` - which is ok-ish since POI does not work yet in the native mode. See also https://github.com/oracle/graal/issues/2761

[2020-10-04 16:57] sberyozkin commented on #6549
@slpereira I've not having enough time to prioritize on Tika issues, however, slowly but surely some issues are being addressed. I'll pick up this issue during the next round when I'll start looking at Tika issues. Thanks

[2020-10-04 22:54] #12432 closed

[2020-10-04 22:54] maxandersen commented on #12432
@gastaldi and @quarkiversebot now have access.

[2020-10-04 22:57] maxandersen commented on #12433
i didn't manage to get this in place before my pto - put some of it in https://github.com/quarkiverse/quarkiverse/pull/5 but missing the pictures/context I wanted to add about what is the full quarkus universe, platforms and quarkus core and then link that to their "home" 3rd party, quarkiverse, "participting" quarkus repos (i.e. platform/camel/kogito) and quarkus core.

Feel free to make that hap

[2020-10-05 02:23] hantsy opened #12507 "Pick a profile config properties automatically in @TestProfile"
I updated myself to the latest Quarkus 1.8.1.Final, obviously the testing feature is improved.

I have tried to use `@TestProfile` to test my Repository against an embedded H2 database instead of the default Postgres database.

Now my working example is like this.

* Java 11
* Windows 10 64bit
* only test on jvm

The profile class is simple, try to create an H2 data source here.

[code]
And the te

[2020-10-05 04:55] gdhokamp commented on #10226
Just being curious. Are there any plans to fix this bug in the near future?

[2020-10-05 05:06] frank-dspeed commented on #10226
@gdhokamp i do not think so it is the structure of quarkus you need to code a graal-sdk extension to use that. You can how ever fix some of the problems that quarkus has via gradle as it allows better exclusion and other deep package replacements.

overall if you want to use quarkus you can only go for a own extension.

[2020-10-05 05:09] frank-dspeed commented on #10226
we should merge this issue with this https://github.com/quarkusio/quarkus/issues/9634

[2020-10-05 05:24] mariofusco commented on #8694
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/288748525

[2020-10-05 05:37] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/288747746

[2020-10-05 05:49] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/288748616

[2020-10-05 06:26] dreab8 commented on #12133
@Sanne you remember correctly, I'm going to close the thicket.

[2020-10-05 06:26] #12133 closed

[2020-10-05 07:23] mkouba commented on #12498
CC @stuartwdouglas

[2020-10-05 07:25] 38leinaD opened #12509 "Allow usage of Quarkus Gradle Plugin as a custom plugin dependency"
**Description**
It would be nice to hide some default configuration for our used quarkus version/dependecies/etc behind our own custom Gradle plugin. This is useful, because we have multiple quarkus apps managed by our team that are developed and released together; as such, we would like to be able to define the used quarkus version and some settings in a central place; i.e. a gradle plugin and no

[2020-10-05 07:41] loicmathieu commented on #12439
@dmlloyd yes, it have a try/catch exception around this line: https://github.com/mp911de/logstash-gelf/blob/b4f6617ff30d59d8180c151ed3ce68b6524a2e02/src/main/java/biz/paluch/logging/gelf/jul/GelfLogHandler.java#L128

So maybe your fix will be enought

[2020-10-05 07:44] fleigm commented on #10166
I'm still having this issue using quarkus version 1.8.1.FINAL on my ubuntu 20.04 machine.
Can sombody confirm this?

[2020-10-05 07:47] mkouba commented on #12430
I cannot reproduce the problem with `quarkus-universe-bom:1.8.1.Final` (i.e. go to https://code.quarkus.io/ and generate a project with `org.apache.camel.quarkus:camel-quarkus-smallrye-reactive-messaging`) . Could you try to upgrade your app?

CC @ppalaga

[2020-10-05 07:56] ppalaga commented on #12430
@jamesnetherton haven't we solved some reactive-messaging issues recently?

[2020-10-05 08:01] loicmathieu commented on #9956
Sorry for the delay, I propose to implement 1, we should still be able to add more functionality later if needed (like the `withOperator` that I proposed).

[2020-10-05 08:05] jamesnetherton commented on #12430
As @mkouba says, you should use the extension provided by the camel-quarkus project.

Although, there's a [bug](https://github.com/apache/camel-quarkus/issues/1851) that means you may want to wait until Quarkus 1.9.0 is released.

[2020-10-05 08:19] geoand commented on #12486
Supercedes: #8694

[2020-10-05 08:20] geoand commented on #8694
Superceded by https://github.com/quarkusio/quarkus/issues/12486

[2020-10-05 08:20] #8694 closed

[2020-10-05 08:33] #12402 closed

[2020-10-05 08:47] hacst opened #12511 "QuarkusTest and RegisterExtension create multiple instances with inconsistent state during test"
**Describe the bug**
I'm seeing some unexpected behavior with Junit 5 extensions in QuarkusTest. The extension is registered with a static field on the class annotated with QuarkusTest.
[code]
It has a before all callback that sets an internal value on the extension class instance. When executing the test I see the extension class being constructed twice (even though the field is static). Then one

[2020-10-05 08:55] hantsy opened #12512 "Test Slice like feature with @QuarkusTest"
The `@InjectMock` is great to isolate the dependencies when testing a Quarkus component.

The following is [a working example](https://github.com/hantsy/quarkus-sample/blob/master/post-service/src/test/java/com/example/PostResourceTest.java) from my Github.

[code]

But when I run this test, it will assemble all dependent CDI beans of this application in the background, if I do not run a Postgres

[2020-10-05 08:57] hacst commented on #12511
Forgot to mention that separate `@BeforeAll` and `@AfterAll` annotations actually execute in the expected context. My current workaround is use those to manually call the extension `beforeAll` and `afterAll` methods. That's not a generic solution though as usually these functions require an `ExtensionContext` not available with this workaround.

[2020-10-05 09:28] gytis commented on #12483
Makes sense. I'll fix it.

[2020-10-05 09:50] dhenneke opened #12514 "IllegalAccessError with Panache MongoDB"
**Describe the bug**
Given the following Entity class:

[code]

When I use it in the following Resource:

[code]

I get the following error:

[code]

Please note that `TestEntity` and `ExampleResource` are in different java packages.

**Expected behavior**
I can interact with the public fields of the entity from any other class. This is also what the panache documentation claims:

**Actual behavio

[2020-10-05 09:55] ge0ffrey commented on #11563
This should be green now, but it's failing with a transfer problem:
`
Error:  Failed to execute goal on project optaplanner-examples: Could not resolve dependencies for project org.optaplanner:optaplanner-examples:jar:8.0.0-SNAPSHOT: Failed to collect dependencies at org.kie.kogito:drools-decisiontables:jar:1.0.0-SNAPSHOT -> org.drools:drools-decisiontables:jar:7.43.1.Final -> org.apache.poi:poi-o

[2020-10-05 10:02] loicmathieu commented on #12514
@dhenneke can you provide a reproducer project please ?
You can attach it inside the issue or upload it somewhere.

[2020-10-05 10:06] dhenneke commented on #12514
@loicmathieu I updated the issue and added a zip-ed example project.

[2020-10-05 10:30] vsevel opened #12515 "Bump smallrye config to 1.9.1 and provide support for ConfigSourceFactory"
**Description**
smallrye config has been released as 1.9.1 with the ability to iterate over properties from previous config sources https://github.com/smallrye/smallrye-config/pull/402

this requires [ConfigSourceFactory](https://github.com/smallrye/smallrye-config/blob/1.9.1/implementation/src/main/java/io/smallrye/config/ConfigSourceFactory.java) to be supported by quarkus, instead of `ConfigSou

[2020-10-05 10:32] geoand commented on #12515
This one is really up to Roberto and David.

If they want to use this approach I can certainly update the Consul, Spring Cloud Config and Kubernetes Config extensions to use the new method.

[2020-10-05 10:41] radcortez commented on #12515
The bump is here: https://github.com/quarkusio/quarkus/pull/12501.

We can certainly provide a build step for the factory approach.

Right now, what do you think we are missing?

[2020-10-05 10:52] geniusit commented on #12430
Indeed, with https://code.quarkus.io I don't have any problem.
The reason is because I used this maven dependency :
[code]
As described : https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/camel/camel.html

Instead of the one used by [ttps://code.quarkus.io](https://code.quarkus.io)

I mean :

[code]

As described here : https://camel.apache.org/camel-quarkus/latest/refe

[2020-10-05 10:52] #12430 closed

[2020-10-05 11:40] sberyozkin commented on #10695
Hi @FroMage, @mkouba

Stephane, what do you mean ? the proposal here is to let Qute users not to specify templates in the code. May be I'm missing something :-)

[2020-10-05 11:50] sberyozkin opened #12516 "Implement Java EE MVC (JSR-371) in terms of Qute"
**Description**
This is a pretty good description, https://www.mscharhag.com/java-ee-mvc/a-detailed-look-on-mvc-controllers

**Implementation ideas**
It would be just another way for the users to access Qute templates - the Quarkus documentation can say that for example `.jsp` is not supported but only Qute templates are.
FYI. we've had a user interest in this spec in Thorntail where a reference i

[2020-10-05 11:55] vsevel commented on #12515
hell @radcortez

in an ideal ideal world the `VaultConfigSource` would be able to use an `@ApplicationScoped VaultKVSecretEngine` CDI bean, which would be initialized using the `VaultBuildTimeConfig` and `VaultRuntimeConfig` config objects assembled from previous config sources.

but short term we can continue with what we had discussed previously (and I already started implementing it in https://

[2020-10-05 12:15] marsmichelmann opened #12517 "Configuration of property followDirect for rest client"
**Description**
We are communicating with an external system via rest client. For some endpoints the system uses the redirect-feature (Responsecode 301) to forward the request to another endpoint. But this feature is disabled for the resteasy client and currently there is no option the change this via a property.

**Implementation ideas**
It seems like implementing the redirect-feature will be par

[2020-10-05 12:23] loicmathieu opened #12518 "Use Mutiny instead of RxJava in the Kafka guide"
**Description**
The Kaka guide uses RxJava to generates items in its example.
We better document Mutiny as it's our prefered reactive framework.

**Implementation ideas**
Udate the guide, the integration test and the quickstart to use Mutiny instead of RxJava.

[2020-10-05 12:25] loicmathieu opened #12519 "Use Mutiny instead of RxJava in the AMQP guide"
**Description**
The AMQP guide uses RxJava to generates items in its example.
We better document Mutiny as it's our prefered reactive framework.

**Implementation ideas**
Udate the guide, the integration test and the quickstart to use Mutiny instead of RxJava.

[2020-10-05 12:25] loicmathieu opened #12520 "Use Mutiny instead of RxJava in the Kafka Stream guide"
**Description**
The Kaka Stream guide uses RxJava to generates items in its example.
We better document Mutiny as it's our prefered reactive framework.

**Implementation ideas**
Udate the guide, the integration test and the quickstart to use Mutiny instead of RxJava.

[2020-10-05 12:27] dmlloyd commented on #12439
Hmm I see.  Then unfortunately I think I must conclude that the application isn't crashing because of these errors - and, adding the additional checks on the LogManager side will not improve matters as the exception never propagated to Kafka.  Maybe next time I will read the output a bit more carefully. :-)

Something else must be failing that is not being reported.  It might be helpful to enable

[2020-10-05 13:01] loicmathieu opened #12521 "Improving the extensions guides introduction"
### Description
The extensions guides generally follow this schema:
- Prerequisite
- Architecture (not always present)
- Solution
- Creating the maven project
- ... specific guide sections ...
- Going further

Reading the guides there is sometimes missing sections, and the "Creating the maven project" section doesn't always mention how to integrate the extension in a new project or an existing one

[2020-10-05 13:03] #12004 closed

[2020-10-05 13:07] iocanel commented on #12324
I assigned myself, as I am not an OSX user and this is possibly related to how docker on OSX works.

[2020-10-05 13:19] loicmathieu commented on #12383
/cc @galderz maybe you have an idea about this one ?

[2020-10-05 13:30] evanchooly commented on #9956
I'm not sure I understand how option 1 doesn't address multiple operations.  But that's my vote regardless.

[2020-10-05 13:36] gastaldi commented on #10166
@fleigm I don't have Ubuntu. Can you open a new issue with a reproducer? Thanks!

[2020-10-05 13:39] gastaldi opened #12522 "Implement the Create Extension mojo using Codestarts"
**Description**
It would be nice if `devtools/maven/src/main/java/io/quarkus/maven/CreateExtensionMojo.java` were implemented using Codestarts instead

**Implementation ideas**
Use Codestarts. Ping @ia3andy for help in quarkusio.zulipchat.com

[2020-10-05 14:55] xstefank opened #12525 "Quarkus REST Client extension is not enabling SSL native by default as documented"
**Describe the bug**
In the guide https://quarkus.io/guides/native-and-ssl there is a mention that quarkus-rest-client extension should automatically enable SSL in native but SSL doesn't work without explicit property `quarkus.ssl.native=true`/

**Expected behavior**
SSL works by default as documented.

**Actual behavior**
SSL doesn't work without explicit property.

**To Reproduce**

https://gith

[2020-10-05 15:15] galderz commented on #12383
Looks very similar to: https://github.com/oracle/graal/issues/2637

[2020-10-05 15:16] lucas-dclrcq commented on #12521
I'd like to work on this one if that's ok.

[2020-10-05 15:20] galderz commented on #12383
The fix didn't make it to GraalVM 20.2, but it is part of Mandrel 20.2, e.g.

[code]

[2020-10-05 15:21] galderz commented on #12383
See [Mandrel release notes](https://github.com/graalvm/mandrel/releases/tag/mandrel-20.2.0.0.Beta1) for advanced details on how you can try it bare metal on Linux.

[2020-10-05 15:25] gastaldi opened #12526 "Figure out how and where extension docs should be published. E.g. `quarkiverse.io/<project-name>/<project-version>/docs`"

[2020-10-05 15:29] loicmathieu commented on #12521
I assigned it to you.
But please, wai for one day before sarting on this one as it's a huge redesign of the guides (extracting parts to an asciidoc include) and I want to give time to people on the mailing list before.
So better to wait one or two days for feedback instead of working on something that will not be accepted.

[2020-10-05 15:37] ge0ffrey opened #12528 "NullPointerException in UnixPath.normalizeAndCheck()"
Zulip thread: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/mvn.20quarkus.3Adev.20NPE

[code]

To reproduce

[code]

[2020-10-05 15:47] webfolderio commented on #12516
Quarkus API doesn't align with Jakarta EE & Microprofile API. May be you should stick with standard container environment.

[2020-10-05 15:48] loicmathieu commented on #12383
It works using Mandrel 20.2.
It takes more heap to build the native executable but then I'm able to use gbg.
I close the issue as it's fixed in the upcomming Mandrel 20.2 and GraalVM 20.3 releases.

[2020-10-05 15:48] #12383 closed

[2020-10-05 15:50] akoufa commented on #9861
@andrejpetras What is the status of this issue ? Are you continuing working on it ?

[2020-10-05 16:07] sberyozkin commented on #12516
@webfolderio

This issue is not related to MP at all; Not sure what do you mean by the Jakarte EE alignment and the container environment.

Quarkus users working with Qute are effectively doing MVC without any considerations for the container environments, so this issue is about `wrapping` the Qute dev experience in the JAX-RS MVC spec. If this issue ever goes ahead then it will only require a sin

[2020-10-05 19:07] arthas168 commented on #11856
Have the same issue :(

[2020-10-05 19:43] michalszynkiewicz commented on #12460
The error:
[code]

[2020-10-05 20:35] crivera commented on #4394
any updates?

[2020-10-05 20:37] michalszynkiewicz commented on #12460
Ispn client brings in
[code]

[2020-10-05 20:54] vsevel commented on #12515
@geoand I was thinking the other way around for a moment ;-) I like the simplicity of what you did for the consul config.

[2020-10-05 20:56] tsfullman commented on #9671
I am hitting this as well or at least something similar when trying to return compressed JSON. I stepped through the GZIPEncodingInterceptor code and if you add the @GZIP annotation to the rest method it finds "gzip" under the Content-encoding, but still always returns json instead of encoded. I had to write my own interceptor to accomplish what I wanted. I only tested on quarkus 1.7.5.Final thoug

[2020-10-05 21:06] michalszynkiewicz commented on #12460
@cescoffier I remember seeing some discussions about trying to add support for native-epoll to quarkus native. Is this correct?
If so, should we exclude native-epoll transport from the extensions that bring it in?
IIUC, native-epoll is a faster alternative to the NIO transport, so if it is excluded, Nio should kick instead.

Here's how it's defined for ispn-hotrod-client:
https://github.com/infini

[2020-10-05 21:26] zakkak opened #12535 "Quarkus-native failure "No instances of java.awt.color.ICC_ColorSpace are allowed in the image heap as this class should be initialized at image runtime.""
**Describe the bug**
As of https://github.com/oracle/graal/commit/39d7ff72e9b02d24a333d176c9dc3166afabd6a3
Multiple integration tests fail with "No instances of java.awt.color.ICC_ColorSpace are allowed in the image heap as this class should be initialized at image runtime."

(See https://github.com/oracle/graal/runs/1196947890?check_suite_focus=true#step:17:1022)

**Expected behavior**
Integratio

[2020-10-05 21:45] zakkak commented on #12535
Adding `-Dquarkus.native.additional-build-args='--initialize-at-run-time=javax.imageio.ImageTypeSpecifier\,com.sun.imageio.plugins.jpeg.JPEG\$JCS'` makes the build succeed, but there are still test failures in `integration-tests/main` (possibly unrelated though).

`/mvnw --settings .github/mvn-settings.xml -Dnative -Dnative.surefire.skip -Dquarkus.native.additional-build-args='--trace-object-insta

[2020-10-05 21:47] alexey-anufriev commented on #12519
hey @loicmathieu,

I have created two related PRs:
https://github.com/quarkusio/quarkus/pull/12537
https://github.com/quarkusio/quarkus-quickstarts/pull/685

[2020-10-05 21:56] alexey-anufriev commented on #12518
hey @loicmathieu,

I have created two related PRs:
- https://github.com/quarkusio/quarkus/pull/12538
- https://github.com/quarkusio/quarkus-quickstarts/pull/686

[2020-10-05 22:08] #12413 closed

[2020-10-05 22:21] alexey-anufriev commented on #12520
hey @loicmathieu,

I have created a couple of PR:
- https://github.com/quarkusio/quarkus/pull/12539
- https://github.com/quarkusio/quarkus-quickstarts/pull/687

Unfortunately did not find an integration test you've mentioned.
Could you please give me the name of it?

[2020-10-05 22:43] Duduxs opened #12540 "PanacheQuery doesn't work"
**Describe the bug**
**Screenshots**

1 - https://ik.imagekit.io/27ewoxssse/firstImage_cgaiARAU1-.jpg
2 - https://ik.imagekit.io/27ewoxssse/secondImage_UEzSoX2KGBA.jpg
3 - https://ik.imagekit.io/27ewoxssse/thirdImage_55SUpr7Wbv.jpg

[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To

[2020-10-06 00:35] #7876 closed

[2020-10-06 01:49] jaikiran commented on #12495
This just got fixed in Graal VM itself https://github.com/oracle/graal/pull/2673 and should be available in their next release.

@gsmet, for issues like these, do we create a workaround in Quarkus until the time the Graal VM containing this fix is released?

[2020-10-06 03:27] hantsy commented on #12516
Mvc spec is just an addition on Jaxrs, If it is supported in Quarkus, it is great.

But for my experience, different Jaxrs implementation has different issues, I have written a simple sample to taste it.

https://github.com/hantsy/jakartaee-mvc-sample

There are some blocked issues in Open Liberty/Apache CXF to cause it failed to work.

[2020-10-06 03:28] jaikiran commented on #10682
More of a FYI, this issue got reported again in Quarkus and it is now fixed in Graal VM itself https://github.com/oracle/graal/pull/2673.

[2020-10-06 04:59] geoand commented on #6588
@DavideD the `hibernate-reactive-routes-quickstart` is failing. Can you have look please?

[2020-10-06 05:00] geoand commented on #12515
Even better for me then, I don't have to do anything :laughing:

[2020-10-06 05:49] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/290730106

[2020-10-06 05:50] iocanel commented on #9283
Currently, I see no RBAC resources generated out of the box. We just created a ServiceAccount which is ok, if not a good practise as @Ladicek mentions.

RoleBindings don't seem to be there any more.

No, it's just a build time dependency.

[2020-10-06 05:50] iocanel commented on #9283
So, what's left is to avoid creating the ServiceAccount if we don't need to.

[2020-10-06 06:06] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/290729941

[2020-10-06 06:07] dfa1 commented on #9671
As a temporary workaround I'm using the following code since June.

[code]

[2020-10-06 06:12] cescoffier commented on #12460
So far, epoll in native is not supported. @galderz is working on it and is making tremendous progress. However, still not there.

[2020-10-06 06:13] cescoffier commented on #12460
BTW, we can't exclude the dependencies as it works perfectly well in JVM mode.

[2020-10-06 06:14] Gabitchov commented on #12522
Can I help for this issue? It seems to be a good one for the hacktoberfest.

[2020-10-06 06:26] aloubyansky commented on #12522
Sure @Gabitchov, that'd be great. Just fyi, I opened this PR https://github.com/quarkusio/quarkus/pull/12536 yesterday to fix something.
@ia3andy will you be able to guide @Gabitchov?

[2020-10-06 06:43] michalszynkiewicz commented on #12460
By `we can't` you mean that we would get worse performance in JVM mode on Linux and we don't want that, right?
So I guess we want a way to stop Netty from figuring out that epoll is available when it runs in the native mode, right?

[2020-10-06 06:54] ia3andy commented on #12522
@aloubyansky @Gabitchov  that's the spirit 🥳!!

@Gabitchov ping me on zulip in the `dev>Codestarts` topic when you are ready 🚀

[2020-10-06 07:30] nicolinux72 commented on #11524
good morning @jyemin,

I think I don't understand your suggestion: in all the tests I've done, since the beginning of this case, the non-natively compiled version of the application, the one that runs on the openJDK, has always worked correctly.

You can check it yourself using the test case I sent in early September, just like I did this morning, just to be careful.

Incidentally, the collection

[2020-10-06 07:47] gunnarmorling opened #12542 "Update Strimzi container image versions"

[2020-10-06 07:50] cescoffier commented on #12460
Exactly. We still want to support the epoll native transport in JVM mode. But in native mode, we need to be sure it's not enabled. In Vert.x, I have a substitution that disables it, we may need to do the same in gRPC.

[2020-10-06 08:05] #12542 closed

[2020-10-06 08:11] loicmathieu commented on #12518
Fixed by #12538

[2020-10-06 08:11] #12518 closed

[2020-10-06 08:46] #12471 closed

[2020-10-06 08:53] #12519 closed

[2020-10-06 08:56] #11541 closed

[2020-10-06 08:59] #6389 closed

[2020-10-06 09:07] geoand opened #12544 "Introduce BeforeClass test callback"
Follows-up on: https://github.com/quarkusio/quarkus/issues/12250

[2020-10-06 09:28] #12325 closed

[2020-10-06 10:07] iocanel opened #12545 "Split KubernetesProcessor into pieces"
**Description**
Currently, the KubernetesProcessor is pretty fat and handles everything Kubernetes related including Openshift and Knative specific stuff. These should be handled by different classes that will communicate with the KubernetesProcessor via build items.

In the future, these classes should even move to their own modules. But for now a bit of cleaning up is good enough.

[2020-10-06 10:30] famod commented on #9818
I guess the situation has not changed lately and nobody worked on this, right?

PS: Coming from https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Separate.20lib.20dir.20for.20project.20deps.3F

[2020-10-06 10:32] geoand commented on #9818
Not sure, but the container-image for the fast jar might already do thia

[2020-10-06 10:39] michalszynkiewicz commented on #11646
@Milraun could you attach a small reproducer?

[2020-10-06 10:56] andrejpetras commented on #9861
@akoufa did not have time last month but I hope this weekend I can spend few hours on it.

[2020-10-06 13:00] gsmet commented on #9980
@karesti when do you plan to update Quarkus? I'm releasing 1.9.0.CR1 tomorrow morning.

[2020-10-06 13:09] oscarfh commented on #9482
I do not really get what you mean. If you have some complex application running and you have log statements using different levels, you configure your log so only the most severe messages are logged. But if you need to troubleshoot something you should be able to change the log level to get more details without any restart.

I do not see this as "not managing their development" or "horrible thing"

[2020-10-06 13:23] gastaldi commented on #9482
Related/duplicate of https://github.com/quarkusio/quarkus/issues/6083

[2020-10-06 13:24] gastaldi commented on #6083
Closing this ticket on behalf of https://github.com/quarkusio/quarkus/issues/9482, which has more comments. Thank you ;)

[2020-10-06 13:24] #6083 closed

[2020-10-06 13:29] gastaldi commented on #7480
@previousdeveloper would you be interested in moving your https://github.com/quarkus-extension/quarkus-ngrok-extension to our official community repository under the https://github.com/quarkiverse org? Here are the details (and why you should do it :): https://github.com/quarkiverse/quarkiverse/wiki

[2020-10-06 13:37] famod commented on #12511
Well, this is a known but also documented limitation:
https://quarkus.io/guides/getting-started-testing#enrichment-via-quarkustestcallback
Especially:

See also: #10623

PS: Please beware that there is no real "BeforeAll" Quarkus variant, yet. See also: #12544

So, I think we'll have to close this issue. But thanks for reporting it!

/cc @geoand

[2020-10-06 13:52] geoand commented on #12511
There will be with https://github.com/quarkusio/quarkus/pull/12549 :)

Indeed I agree

[2020-10-06 13:52] #12511 closed

[2020-10-06 13:53] geoand commented on #12511
Thanks for reporting this!

I closed it because @famod's analysis is spot on

[2020-10-06 13:57] TomasHofman commented on #12528
The whole optaplanner projects needs to be compiled first.

The Q dev mode counts on the project `target/` directories being present. In this case it tried to locate `resourcesOutputPath` for optaplanner-core, which would be `optaplanner/optaplanner-core/target/classes/`. The NPE was caused by the fact that this directory didn't exist.

However, even after compiling whole project tree, it still do

[2020-10-06 13:58] cx-lmp opened #12551 "Quarkus does not start/respond when running inside an Azure Function on Java 11"
I've generated a Quarkus Azure Functions project using the provided Maven archetype (following this guide: https://quarkus.io/guides/azure-functions-http). Everything is stock in the generated project, except I've updated the Azure Functions Maven plugin to 1.9.0 and set the following properties:
[code]
In addition, I've added a `runtime` block to the configuration of Azure Functions Maven plugin:

[2020-10-06 14:00] geoand commented on #12551
cc @patriot1burke

[2020-10-06 14:07] cx-lmp commented on #12551
FWIW, I see the same behavior if the compiler is set to build for Java 1.8 and Azure Functions runtime is set to Java 1.8, but `JAVA_HOME` is set to an installation of JDK 11.

I'm aware that Java 11 is in preview for Azure Functions, but I was able to create a working function based on Azure Functions' own Maven archetype. I was also able to modify that "vanilla" function to use the Micronaut fra

[2020-10-06 14:10] #9283 closed

[2020-10-06 14:17] wburns commented on #9980
@gsmet I will get a PR ready today.

[2020-10-06 14:23] DanHeidinga commented on #12417
Nothing I'm aware of either.

@stevefan1999-personal are you able to provide more details or a reproducer so I can investigate further?

[2020-10-06 14:33] tnmtechnologies commented on #10942
Thank you very much @ketoketo for your fix. I missed the JsonArray for the BeanAdapter.
Final source code is available in this branch https://github.com/tnmtechnologies/quarkus-quickstarts/tree/issue/enum_serialization_collections .

[2020-10-06 14:33] #10942 closed

[2020-10-06 14:51] wburns commented on #9980
https://github.com/quarkusio/quarkus/pull/12552

[2020-10-06 14:59] #12499 closed

[2020-10-06 15:14] gastaldi opened #12554 "Create Extension mojo should allow to create integration tests directory under the generated project"
**Description**
Specifying `-Dquarkus.itestParentPath=my-project/pom.xml` in the `quarkus:create-extension` mojo will generate a `my-project` module for the integration tests. It should be possible to name it `integration-tests`

**Implementation ideas**
Introduce a flag to create the `integration-tests` module in the created project, without the need to specify any path

[2020-10-06 15:21] devendra-kumar1 commented on #5811
@otcyury : Where you kept @Transactional annoation. on entity class or on interface where you extended CrudRepository.
I am facing exactly same issue while extending org.springframework.data.jpa.repository.JpaRepository

[2020-10-06 15:36] Sanne commented on #11975
Tracked upstream as https://hibernate.atlassian.net/browse/HHH-14249

[2020-10-06 15:44] aloubyansky commented on #12500
This is actually consistent with `create-project`

[2020-10-06 15:57] jyemin commented on #11524
Hi @nicolinux72, sorry for the confusion.  I'm still getting acquainted with Quarkus so I'm getting my bearings.

My misunderstanding stemmed from the sample document you provided, which does indeed use an ISODate format that the driver is not able to parse.  But now I see that the ISODate format is something different, and is actually generated by Quarkus itself, right [here](https://github.com/q

[2020-10-06 16:06] #3200 closed

[2020-10-06 16:56] sberyozkin commented on #12371
@serrodcal it is off-topic, but do you do an access token binding to the client cert check ? We've been thinking to do it for a while for quarkus-oidc bearer tokens, may be also worth trying for smallrye-jwt...

[2020-10-06 17:05] famod commented on #9818
This seems to be the `fast-jar` template for `Dockerfile`:
https://github.com/quarkusio/quarkus/blob/master/devtools/platform-descriptor-json/src/main/resources/templates/dockerfile-fast-jar.ftl

Unfortunately, the fast-jar layout does not help in case you have _multiple modules_ since those still end up in a folder (`quarkus-app/lib/main`) that also contains other "3rd-party" deps, including Quar

[2020-10-06 17:21] SlyngDK commented on #12388
You can take a look at this https://github.com/quarkiverse/quarkiverse-logging-json, just released today.

It support using both jsonb and jackson, I also working on support to configure each field.

[2020-10-06 17:27] SlyngDK commented on #7451
I have a little update on this.

I have today released a version quarkiverse-logging-json, in the new quarkiverse future place for community extensions.
https://github.com/quarkiverse/quarkiverse-logging-json

It support using both jsonb and jackson, I also working on support to configure each field.

Feedback is welcome.

[2020-10-06 17:28] SlyngDK commented on #7451
Next quarkus release will also include slf4j-jboss-logging 1.2.1.Final.

[2020-10-06 17:32] glefloch opened #12557 "Fix disabled KotlinGRPCProjectBuildTest"
**Describe the bug**
The `KotlinGRPCProjectBuildTest` fails in snapshot-ci job. The test has been disabled.

**Expected behavior**
The test should pass.

**Actual behavior**
The tests failed only on this job (https://scans.gradle.com/s/4oz72djgqmjoc/tests/:test/io.quarkus.gradle.KotlinGRPCProjectBuildTest/testBasicMultiModuleBuild()#1)

[2020-10-06 18:11] thomas-mc-work commented on #12350
Maybe an `mvn dependency:tree` would be helpful to get an idea of the root problem. But unfortunately I'm not able myself to read something useful out of the result. Couldn't someone of the @quarkusio/quarkus please have a look at it?

[2020-10-06 20:07] aloubyansky opened #12559 "Codestarts: Spring code examples aren't generated"
When creating a project, if I select, e.g.,`spring-web` as the only extension then I get a command mode example project with the spring-web extension added in the pom.xml.
If I select the resteasy and spring-web extensions then I get a project with the JAX-RS code example but no Spring Web.
That's when the codestarts are enabled. If the codestarts are disabled then selecting Spring Web will genera

[2020-10-06 20:09] geoand commented on #12559
Thanks for reporting @aloubyansky!

@ia3andy what do we need to do here to make codestarts use Spring Web instead of JAX-RS when the relevant extension is selected?

[2020-10-06 22:19] aloubyansky opened #12565 "remote-dev is not taking into account HotDeploymentWatchedFileBuildItem"
The paths configured with HotDeploymentWatchedFileBuildItem (including e.g. `application.properties`) aren't supported in remote-dev.
Here's a quick hack to add support for picking up changes to the `application.properties`:
[code]

FYI @stuartwdouglas

[2020-10-07 02:43] stuartwdouglas commented on #9818
Maybe we could put them in the app dir instead, but I am not sure if that is right either.

We already have this info in io.quarkus.bootstrap.model.AppModel#localProjectArtifacts so it should be a pretty simple change.

[2020-10-07 03:29] aosama commented on #12275
@tandraschko Hi Thomas, first thanks for your efforts to make JSF available in quarkus, hope you can look at the above, it is as simple as injecting a microprofile restclient in a viewscoped beans and then the above error happens during compile. let me know how can i help in that regards? thanks again

[2020-10-07 04:30] jw941 opened #12569 "No longer possible to have Qualifiers on default EntityManager"
We used a resource producer field to add a Qualifier to our default EntityManager that we configure using persistence.xml:

```@Produces```
@PersistenceContext
```@Unsecured```
EntityManager entityManager;

We do this so we can wrap the entity manager to enforce entity level permissions (the wrapped EntityManager has no Qualifiers).

This worked up until the support for multiple persistence units,

[2020-10-07 05:35] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/292757389

[2020-10-07 05:52] tandraschko commented on #12275
I dont know the internals that good, so someone from the quarkus guys should Check it.
Nevertheless i would provide a small reproducer application.

[2020-10-07 06:01] #12483 closed

[2020-10-07 06:17] ia3andy commented on #12559
@geoand we just need to create an example codestart for spring, should be quick..

[2020-10-07 06:18] geoand commented on #12559
:+1:

[2020-10-07 06:39] devendra-kumar1 commented on #5811
@otcyury It worked for me after putting @ Transactional annotation on LambdaHandler

[2020-10-07 06:40] geoand commented on #12559
@aureamunoz is this something you would be interested in looking into?

[2020-10-07 06:49] ia3andy commented on #12559
This is really urgent!

In order to create this codestart:
1. duplicate the resteasy-example named `spring-controller-example` with `spring` as `ref` https://github.com/quarkusio/quarkus/tree/master/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/core/examples/resteasy-example, keep it in core/examples as it is a core example.
2. replace the resources using the spring contr

[2020-10-07 06:51] aosama commented on #12275
pom was missing
        <dependency>
            <groupId>io.quarkus</groupId>
            <artifactId>quarkus-rest-client</artifactId>
        </dependency>

[2020-10-07 06:51] #12275 closed

[2020-10-07 07:02] agoncal commented on #12116
Just tested with Quarkus 1.8.2 and its ok now.

[2020-10-07 07:28] aureamunoz commented on #12559
OK, will do it

[2020-10-07 07:30] geoand commented on #12559
Great, thanks!

[2020-10-07 07:34] loicmathieu commented on #12520
Fixed by #12539 thanks @alexey-anufriev

[2020-10-07 07:34] #12520 closed

[2020-10-07 07:36] loicmathieu commented on #11565
Fixed by #12489

[2020-10-07 07:36] #11565 closed

[2020-10-07 07:36] ia3andy commented on #12559
@aureamunoz thanks! ping me on zulip if needed :)

[2020-10-07 07:45] #12565 closed

[2020-10-07 08:05] ia3andy commented on #12559
To test that it works, use/adapt this test: https://github.com/quarkusio/quarkus/blob/master/integration-tests/devtools/src/test/java/io/quarkus/devtools/codestarts/QuarkusCodestartRunIT.java#L97

[2020-10-07 08:29] alexey-anufriev commented on #3883
Is there any progress here? I would also like to switch to configuration-in-code.
I can also help with a contribution.

[2020-10-07 08:37] aloubyansky opened #12571 "remote-dev: LiveReloadConfig is not always properly initialized"
Adding and removing
[code]
to the POM of a simple REST endpoint project running in remote-dev mode may sometimes fail with
[code]

FYI @stuartwdouglas

[2020-10-07 08:38] stevefan1999-personal commented on #12417
Here's the project I generated from the Quarkus online generator (also my very first project on Quarkus lol so it's quite a rough start)
[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/5339206/code-with-quarkus.zip)

I don't want to bother uploading it to git

[2020-10-07 08:42] aloubyansky commented on #12571
Sometimes I also see
[code]

[2020-10-07 09:11] gsmet opened #12572 "GraphQL deployment schema test failing consistently on Windows"
[code]

@phillip-kruger could you have a look ASAP?

https://github.com/quarkusio/quarkus/pull/12563/checks?check_run_id=1217987464

[2020-10-07 09:14] phillip-kruger commented on #12572
Looking at it. (I do not have windows, but I am attempting a fix that we will have to wait on CI to run)

[2020-10-07 10:06] mkouba opened #12574 "Consolidate, clarify and document all Jandex indexes and build items available to extension authors"
Currently, there are several Jandex indexes available through various build items:

- `ApplicationIndexBuildItem` - index of the application root
- `CombinedIndexBuildItem` - built from archives and dependencies that contain a certain marker file (see `ApplicationArchivesBuildItem`) plus additional dependencies (`IndexDependencyBuildItem`) plus additional classes added via `AdditionalIndexedClasse

[2020-10-07 10:07] mkouba commented on #12569
CC @gsmet

[2020-10-07 10:44] gsmet commented on #12569
@jw941 any chance you could prepare a simple Maven project showing what doesn't work anymore exactly.

It could help me to compare the previous behavior with the one we have now.

[2020-10-07 10:45] gsmet commented on #12569
IIRC, I added this because the new stuff broke a test that was working before.

[2020-10-07 11:00] #11101 closed

[2020-10-07 11:00] gsmet commented on #11813
This should hopefully be fixed for 1.9.

[2020-10-07 11:00] #11813 closed

[2020-10-07 11:01] gsmet commented on #12113
Looks like this won't make 1.9.0.CR1 as it's released today. Removing the milestone.

[2020-10-07 11:09] ge0ffrey commented on #11563
Note that 7.x is still broken, blocked by this:
https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/ClassLoading.20error.20in.20hot.20deploy

[2020-10-07 11:13] famod opened #12577 "SwaggerUiProcessor leaves behind non-empty temporary directories in dev mode"
**Describe the bug**
If swagger-ui extension is active, each app start creates a `quarkus-swagger-ui_*` folder in `/tmp`, e.g. `quarkus-swagger-ui_31789176944326801422565934992530930`, containing all the webjar files:
[code]
Such folders are *not* removed when the app is terminated (even not when terminated gracefully), filling up `/tmp`.

**Expected behavior**
Nothing should be left behind after

[2020-10-07 11:15] famod commented on #12577
/cc @phillip-kruger

[2020-10-07 11:20] phillip-kruger commented on #12577
Thanks @famod .

[2020-10-07 11:21] rvansa opened #12578 "Jib: respect JAVA_OPTIONS env var in entrypoint"
**Description**
Containers created using `container-image-jib` should respect env var `JAVA_OPTIONS` set for the container.

**Implementation ideas**
"Standard" base images for Java have some sort of `run-java.sh` script that counsel `JAVA_OPTIONS` and pass these to the JVM. Jib does only use `java $(quarkus.jib.jvm-arguments) -jar quarkus-run.jar` where `quarkus.jib.jvm-arguments` is set at build

[2020-10-07 11:22] gsmet commented on #12577
We probably need a shutdown hook to remove the temp directory.

Not sure it will fix the issue for ungraceful shutdown though.

[2020-10-07 11:22] gsmet commented on #12577
Let's try to fix his one for 1.9.0.Final. It's not pretty.

[2020-10-07 12:18] #12572 closed

[2020-10-07 12:51] rvansa opened #12581 "'Live coding activated' is printed despite the password is not set."
**Describe the bug**
I didn't set `quarkus.live-reload.password` when the application was started (only when it was built) and even though the server has printed:
[code]
when trying to connect I got
[code]

**Expected behavior**
The server should print something like 'Profile dev activated. Live Coding disabled due to missing password'

**Actual behavior**
Server starts but does not use the `Remot

[2020-10-07 13:17] #12509 closed

[2020-10-07 14:17] Karm commented on #10367
@maxandersen This is resolved :smiley:

[2020-10-07 14:27] Karm commented on #8776
@galderz So...is this Quarkus one closed then? Could you close it then?

[2020-10-07 14:34] phillip-kruger commented on #12577
@famod  - still trying to recreate this, seems to work perfect on fedora:

![tmp_folder](https://user-images.githubusercontent.com/6836179/95345247-d2e38f00-08ba-11eb-94d2-f0e990719f6b.gif)

[2020-10-07 14:59] karesti commented on #9980
@gsmet thanks for the heads up and for the pr @wburns !

[2020-10-07 15:08] vsevel opened #12583 "Vault guides are missing from the website"
**Describe the bug**
Vault guides have disappeared from https://quarkus.io/guides/
They are accessible with the direct url (e.g. https://quarkus.io/guides/vault), but they are not listed in the main page.

**Expected behavior**
There should be 4 guides

[2020-10-07 15:49] gsmet commented on #12583
I think I removed them when @sberyozkin worked on having an entry point for everything security here https://quarkus.io/guides/security .

[2020-10-07 15:50] gsmet commented on #12583
But I agree it's probably not a very good idea now that we have the search engine.

[2020-10-07 15:58] antonwiens commented on #10110
@gsmet I would like to contribute this. I would also like to provide the ability to use the CachingSecurityRealm wrapper for caching the ldap results. I would make the caching (enabling it) and caching properties (maxEntries and maxAge) configurable.

[2020-10-07 15:59] serrodcal commented on #12371
Our problem is building to native, because the only way to convert to the non deprecated X509Certificate (which is needed to be able to use a library to validate the Access Token) is using the serialization. I don't know if there is other way to do that.

[2020-10-07 16:07] glefloch commented on #9766
The first time you run `./gradlew :apps:greeting-service:quarkusDev` it actually works. But the second time, I get the error `java.lang.NoSuchMethodError`.
Running `./gradlew :apps:greeting-service:quarkusDev` makes everything work again. We are missing something in `quarkusDev` start the second time

[2020-10-07 16:13] sberyozkin commented on #12583
Yes, `security.adoc` is meant to be an entry page into everything about Quarkus security.
Should the website have a Quarkus Security reference ?

[2020-10-07 16:14] yurake commented on #12324
This error has occurred both on OSX and on GitHub Actions.

[2020-10-07 16:46] dwalczuch commented on #9194
I had the same issue. Adding quarkus-undertow dependency worked for me too. Thanks!

[2020-10-07 16:58] rmarting commented on #2931
I got the same problem for my use case, so I could resolve with the following workaround:

Defined the final name in pom.xml as:

[code]

And declared the following properties in ```application.properties``` file:

[code]

That configuration allows me to build the *runner* package as ```artifactId-version.jar``` file, as I needed for my CICD pipelines.

HTH

[2020-10-07 17:07] pourfar opened #12584 "Static file download hangs when having undertow dependency and compression is enabled"
**Describe the bug**
When we try to put a static file with size larger than a threshold into 'src\main\resources\META-INF\resources' folder, and enable compression using 'quarkus.http.enable-compression=true' in application.properties file, and then try to download the static file using web browser or curl, download hangs in middle of transfer. This happens when we have a dependency on undertow.
A

[2020-10-07 17:15] famod commented on #12577
Hm, maybe there is some auto-cleanup on Fedora? Which JDK version?
How did you record you console? Might do the same.

[2020-10-07 17:17] Maicon96 commented on #6948
I have the same use case -> so +1 for the "user demand"

[2020-10-07 17:18] FcoJavierSainz opened #12585 "Error when trying to Test RestClient"
**Describe the bug**
When the annotated rest client is tried to be injected throws an exception `java.lang.IllegalArgumentException: RESTEASY003720: path param org has not been provided by the parameter map`, it happens with `@InjectMock` or without Mock using MockServer for the stubs for example

**Expected behavior**
Create the RestClienmt without trying to map the path parameter since the begin

[2020-10-07 17:19] phillip-kruger commented on #12577
I used peek (https://github.com/phw/peek)
Java: ```
openjdk version "11" 2018-09-25
OpenJDK Runtime Environment 18.9 (build 11+28)
OpenJDK 64-Bit Server VM 18.9 (build 11+28, mixed mode)
[code]

[2020-10-07 17:42] famod opened #12586 "QuarkusTest fails with "Error while reading file as JAR: ...\target\classes" in test-only module"
**Describe the bug**
In a multi-module Maven project, you might want to have test-only modules (= nothing in `src/main/java`) with `@QuarkusTest` classes (in `src/test/java`).
As of 1.8.2 this does fails with:
[code]
Adding some dummy java file to `src/main/java` works around this problem.

**Expected behavior**
Executing tests in a test-only module should work.

**Actual behavior**
Executing test

[2020-10-07 17:43] vsevel commented on #12583
we can have both the security page plus some of the specific guides.
for vault, I would include only the main one if we want to save some space on the website (i.e. vault.adoc), because in this main vault guide I make some references to the others (transit, auth and ds).

[2020-10-07 17:45] famod commented on #12586
/cc @geoand and maybe also @aloubyansky and @stuartwdouglas

[2020-10-07 17:51] aloubyansky commented on #12586
You may need to simply create an empty classes dir as a workaround.

[2020-10-07 17:54] famod commented on #12577
I'll try to run `quarkus:dev` manually on our CI server. But I guess I will be able to reproduce it there because that CentOS7 environment was the one where we spotted the problem in the first place. Only later I discovered that it also happens locally on Windows. Btw, today I deleted 4 Gigs of swagger-ui folders from my local machine. 😉

[2020-10-07 18:14] geoand commented on #12586
Yeah, I bet @aloubyansky 's solution will  work

[2020-10-07 18:25] famod commented on #12586
Ok interesting, might try that.
The irony is that with Maven this will would be more verbose than our current approach to add a `package-info.java` since Git does not track empty dirs and `target/` is usually in `.gitignore`.

But yeah, it"s a rather minor issue.

[2020-10-07 18:29] phillip-kruger commented on #12577
Manual run on your CI server is a good idea. I am also download CentOS 7 to try it out there.

[2020-10-07 18:39] belu commented on #12246
@maxandersen

A ping to 0.0.0.0 on Linux actually resolves to 127.0.0.1. Under windows this address is not pingable.

IMHO it would be more concise to show 127.0.0.1 in the console to click on. That should work locally for all operating systems.
And non-locally the 0.0.0.0 does not work for any OS :-)

[2020-10-07 18:44] maxandersen commented on #12246
I think that's what I suggest - convert 0.0.0.0 to 127.0.0.1 on console print.

Btw. 127.0.0.1 doesn't work anywhere but locally thus not sure what you mean by non-locally.

[2020-10-07 19:08] belu commented on #12246
I would print 127.0.0.1 instead of 0.0.0.0 for all operating systems. Not just for windows. That 0.0.0.0 is redirecting to 127.0.0.1 on Linux seems to be a hack.

In my comment I said that 0.0.0.0 (and not 127.0.0.1) does not work remotely. Therefore, for remote access you don't gain anything if you display 0.0.0.0 in the console (and e.g. copy it).

Conclusion: as I am forced to use Windows at wo

[2020-10-07 19:32] sberyozkin commented on #12583
Hi Vincent @vsevel and Guillaume @gsmet
What happens now, is that when I type `Quarkus Security` it immediately brings me/the users to this central security `dashboard` which is security.adoc.

So IMHO it can work if we have the website will also reference `Quarkus Security`, in fact it is already referenced. May be the description should be enhanced a bit, instead of:
[code]
have
[code]
something

[2020-10-07 19:58] famod commented on #12577
I just realized that this is more elaborate than I first thought because the SSH shell is not set up for `mvn`.

So instead I ran `watch ls -ad /tmp/quarkus-*` during a CI build and I could see folders come and go as long as tests were executed or the runner-jar was started, but when all the dev mode test stages were done, the following folders remained:
[code]

[2020-10-07 20:03] famod commented on #12577
Btw, this is how our CI is terminating the dev mode instances which *should* be equivalent to CTRL+C:
[code]
PS: `some-generated-tag` is a unique tag we pass to every process via `-DprocessTag=some-generated-tag` to kill the right process at the right time.

[2020-10-07 20:08] glefloch commented on #9766
@xmlking I can reproduce your last error but not the first one.
Looking at the error, it looks like the error comes from the generated code. Commenting the `EchoService` remove the error.
Were you able to have coroutine and grpc working together?

[2020-10-07 20:08] DanHeidinga commented on #12417
I haven't been able to reproduce the issue with that project using the latest OpenJ9 release:
[code]
Both `./gradlew quarkusDev` & `./gradlew quarkusBuild` both succeed.  Any other hints you can provide on reproducing the issue?

[2020-10-07 20:32] jclingan commented on #12585
See issue #12347. Annotate the Rest Client with @ApplicationScoped:
[code]

[This](https://youtu.be/OCPFdpvL1Q0?t=2134) explains why.

Hope this helps!

[2020-10-07 20:37] famod commented on #12577
Ha! The plot thickens: I was able to start a dev mode instance manually on CentOS7 and it does _not_ leave behind a folder after CTRL+C!
It even does _not_ do so when I use `kill -SIGINT` (or `pkill -SIGINT`).

The difference I can see now is that with the above the usual shutdown message is printed:
[code]
I cannot find this message in our regular CI logs. This leads me to the assumption that we

[2020-10-07 21:15] stewsters commented on #5633
I too have this issue on the newest versions.

[2020-10-07 21:26] famod commented on #9818
@stuartwdouglas

"right" in the sense of docker layering or do you mean something else?
What about introducing something like `lib-app` or `app-lib`?

[2020-10-07 22:22] evanchooly commented on #4394
My apologies.  My laptop had an expected and longer than promised trip to the shop so i'm a bit behind schedule.  I'm wrapping some changes over the next day or two and will hopefully have something to say then.

[2020-10-07 22:50] dekstroza commented on #1610
This seems to be happening when using Windows with WSL for development where Docker/Kubernetes is running in Windows and is used in WSL by exporting DOCKER_HOST, which is pretty common setup. Its not just using Docker on OSX.
Is there a way to build native image at all without writing my own Dockerfile with multistage build?
Definitely ruins development experience!

[2020-10-07 23:12] stuartwdouglas commented on #9818
Right in that maybe they should be their own layer. Maybe they could go into lib/app

[2020-10-07 23:22] dhoffer opened #12591 "Quarkus JPA transactions errors"
I am enabling Transactions on my Thorntail port of a JAX-RS application to Quarkus.  I'm following the guide here https://quarkus.io/guides/transaction.

I added the following to my pom.
`<dependency>
<groupId>io.quarkus</groupId>
<artifactId>quarkus-narayana-jta</artifactId>
</dependency>`

Since I want all JAX-RS paths/endpoints to be wrapped in a transaction I annotated my base JAX-RS as @Trans

[2020-10-07 23:30] drissamri opened #12592 "generated quarkus-amazon-lambda-http-archetype native build fails"
**Describe the bug**
When generating a new quarkus-amazon-lambda-http-archetype project and building the native graalvm image, it fails.

**Expected behavior**
Clean generated project compiles and build for JVM as Native

**Actual behavior**
[code]

**To Reproduce**
[code]
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: `Darwin MacBook-Pro.loc

[2020-10-07 23:47] stuartwdouglas commented on #12591
cc @Sanne

[2020-10-08 01:39] jw941 commented on #12569
Hi @gsmet

I just made an example.
https://github.com/jw941/bug12569/blob/main/src/main/java/org/acme/commandmode/EmProducer.java

It doesn't need to be work exactly the same but better to have a way to allow a qualifier to the default entity manager.

Thanks for your help!

[2020-10-08 03:52] OmriShiv commented on #12469
Maybe related to #12472 ?

[2020-10-08 05:43] geoand commented on #12578
Interesting, thanks!

Do you have an example `run-java.sh` script?

[2020-10-08 06:01] galderz commented on #11524
@jyemin That sounds good to me, though I'm not an expert on MongoDB itself. Best might be to send a PR with that fix and see if CI agrees and you can feedback from developers. Judging from git blame, it's @loicmathieu that added them to fix https://github.com/quarkusio/quarkus/commit/8b3d76af5e8f056334cc6ca39b78b90eedd8136a.

[2020-10-08 06:02] galderz commented on #11524
Actually, @loicmathieu might have just fixed something there, the use of ISODate predates that commit.

[2020-10-08 06:06] galderz commented on #11524
Though seems @loicmathieu did the original work too, see https://github.com/quarkusio/quarkus/commit/1946498698eef487ddb5a7635e4818de8c6fe105.

[2020-10-08 06:10] stuartwdouglas commented on #12581
It is still activated without the password, but you need to use rsync (or a similar tool) to sync the class files. I might print a WARN level message about this in the logs though.

[2020-10-08 06:22] overthetop opened #12594 "Quarkus Security issue in the Native Executable"
Quarkus version: 1.8.1

I have two quarkus profile configurations for our security. One for the `prod` and another for the `insecure` profile:

[code]

So what happens:
1. Set env var `QUARKUS_PROFILE="insecure"`
2. Build the native executable
3. Set env var `QUARKUS_PROFILE="prod"`
4. Run the native executable

Result:
My endpoints are not secured

Expected result:
Security setting much change de

[2020-10-08 06:39] phillip-kruger commented on #12577
No worries @famod - happy to help, we need to get to the bottom of this. I am also still looking on my side to try and recreate this. So during your build you do a mvn quarkus:dev ? From another mvn process ?? Can you give me more details on how you run the dev mode test ? That might help in recreating it. Thanks :)

[2020-10-08 07:19] mkouba commented on #12528
@ge0ffrey It looks like a depenency resolution problem, some of the dependencies are idenfitied as local modules (e.g. `optaplanner-core`) which is obviously wrong because the quickstart `pom.xml` has not parent. The [`-DnoDeps` system property](https://quarkus.io/guides/writing-extensions#multi-module-maven-projects-and-the-development-mode) solves the problem: `mvn quarkus:dev -DnoDeps`.

CC @al

[2020-10-08 07:26] mkouba opened #12597 "ArC - get rid of reflection fallback for private injection points"
Currently, we have a reflection fallback for private injection points. This is not ideal. In theory, we could get rid of the reflection fallback if we transform the original class and add a package-private synthetic "setter" method that could be used from the bean metadata class.

[code]

The downside of this approach is the cost of transformation.

NOTE: This approach is similar to what the compi

[2020-10-08 07:28] mkouba commented on #12597
@manovotn @stuartwdouglas @geoand WDYT?

[2020-10-08 07:33] loicmathieu commented on #11524
@jyemin You can open a PR so we can discuss this.

This would fix the issue for PanacheQL but not for native query as it should be valid to make such query. So this is a workaround, MongoDB still has an issue with date parsing in native.

[2020-10-08 07:36] stuartwdouglas commented on #12597
I would like to see some data on how much it would affect hot reload time, startup time, and how much memory it would save.

My gut feeling is that it is not really worth it, but without numbers I am just guessing.

[2020-10-08 07:36] geoand commented on #12597
I am pretty sure we already do this in other places, but having it here would be further reaching so it would be nice to have some figures to compare

[2020-10-08 07:52] ge0ffrey commented on #12528
Thanks for the workaround @mkouba!

[2020-10-08 07:54] ge0ffrey commented on #12528
@TomasHofman The ClassLoader issues are unrelated to this issue (although did issue made it a hell to work on the other one). Ignore the ClassLoader exception. That branch is just the easiest to reproduce.

[2020-10-08 07:54] anhldbk commented on #9510
I tried Quarkus `v1.9.0.CR1`. This issue is fully fixed. Thanks guys!

[2020-10-08 07:58] mkouba commented on #12597
@stuartwdouglas I would expect: hot reload time - slightly increase, startup time - no change, native memory - slightly decrease. But it really depends on the app. And I think it's quite tricky to measure. My original motivation was to get rid of the warnings we log for private injection fields. These warnings are probably too strict anyway because many extensions register dozen of classes for ref

[2020-10-08 08:22] ppalaga commented on #9287
This would indeed be handy in an integration test app which needs to know on which port is it running. The main problem is that the MP config property to check is different when running in JVM and native mode. For JVM it is `quarkus.http.test-port` and for native it is `quarkus.http.port`. To figure out the effective port one has to select one e.g. based on `"executable".equals(System.getProperty(

[2020-10-08 08:33] Sanne commented on #12591
Looking at the stacktrace I get the suspicion that the same EntityManager is being used by multiple threads.

I will need a reproducer if you want me to look into this.

[2020-10-08 08:40] phillip-kruger commented on #12577
@famod - I recreated it on Windows ! Let me see if I can fix that, and then we test that fix against your CI server.

[2020-10-08 08:44] loicmathieu commented on #12521
@lucas-dclrcq I talk with some other Quarkus maintainer and we fear that the PR can be huge and that it may be difficult to extracting the "creating-maven-project" section as it may be customized in a lot of different ways for each extension.

What I propose it to create a first PR that adds the missing `solution` sections on the guides that misses it. The best way to do this is open the quickstar

[2020-10-08 08:54] #12525 closed

[2020-10-08 09:09] rvansa commented on #12578
@geoand Actually the default base image `quarkus.jib.base-jvm-image` -> `fabric8/java-alpine-openjdk11-jre` contains `/deployment/run-java.sh` - this requires `JAVA_APP_JAR` env var though and does more. In my simplistic case it was enough to add

[code]

[2020-10-08 09:13] rvansa commented on #12578
Also what's the recommended way to add such custom entrypoint script? I have created a base image since I wanted to install `jq` to the image and add some additional files, but it seems that it's not possible to easily add files via `quarkus.container-image.*`

[2020-10-08 09:16] sberyozkin commented on #12594
It sounds more like a general configuration/profile issue when applied to the native mode.

I see a closed #3062 linking to #3150. It should work, hi Guillaume, can you clarify please ?

[2020-10-08 09:22] geoand commented on #12578
Right!

What you want is basically covered by https://github.com/quarkusio/quarkus/pull/10011 and https://github.com/quarkusio/quarkus/pull/10071.

We haven't documented this feature as it's basically the same as what Jib proper offers, but I am thinking that we probably should...
Would you be willing to contribute that improvement?

[2020-10-08 09:40] #12397 closed

[2020-10-08 10:08] manovotn commented on #12597
I think this is good idea.
We could cobble together a sample with X such injection points but unless that X grows into hundreds, I don't think the difference would be (reliably) measureable wrt to performance. But that's just my personal guess :)

Although overall, it wouldn't affect a user that wants to optimize (e.g. such user still shouldn't use private fields in the first place) and at the sam

[2020-10-08 10:11] famod commented on #12577
@phillip-kruger

The unfiltered truth 😉 :
[code]
I don't think any of those parameters are relevant for this specific problem.

The `qdev` profile looks as follows:
[code]
so in the end this is just `quarkus:dev` with some optimizations and project specific adjustments.

[2020-10-08 11:29] tsegismont opened #12599 "Error handling does not work with blocking event bus consumers"
**Describe the bug**
Error handling does not work with blocking event bus consumers: `@ConsumeEvent(blocking=true)`

**Expected behavior**
If the consumer body throws an exception, the sender should get a `ReplyException`.

**Actual behavior**
The exception thrown by the consumer is reported to the uncaught exception handler.

**To Reproduce**

In `MessageConsumerFailureTest`, set all `@ConsumeEve

[2020-10-08 11:32] michalszynkiewicz opened #12600 "investigate what makes jsr305 needed when grpc is used with ispn-client"

[2020-10-08 11:41] overthetop commented on #12594
@sberyozkin I've just tested my setup from above, but this time setting `-Dquarkus.profile` and the security is still **not** applied

[2020-10-08 11:58] gaetancollaud commented on #10420
My workaround so far is to use the `@RegisterForReflection` annotation like so:
[code]

I've quickly looked at the [CaffeineProcessor.java](https://github.com/quarkusio/quarkus/blob/master/extensions/caffeine/deployment/src/main/java/io/quarkus/caffeine/deployment/CaffeineProcessor.java) and I also looked a bit at what Caffeine generates.

Would it be a solution to lookup (via reflection) for all

[2020-10-08 12:08] famod commented on #12577
Ok, so two colleagues double-checked this on their Windows 10 machines and for _no_ setup dev mode was terminated gracefully:
- IntelliJ console (basically `cmd.exe`)
- ConEmu + Git-Bash
- ConEmu + plain `cmd.exe`

[2020-10-08 12:15] #10528 closed

[2020-10-08 12:30] famod commented on #9818
What about adding a flag which moves those "localProjectArtifacts" to `app`, document it and see how it goes (gathering feedback from users)?

[2020-10-08 12:56] rvansa opened #12601 "Documentation does not mention `quarkus.package.type=mutable-jar`"
**Describe the bug**
https://quarkus.io/guides/all-config#quarkus-core_quarkus.package.type does not list `mutable-jar` as an option. I thought it's effectively the same as `fast-jar` but I found that live-reload wasn't working with `fast-jar` since I missed a file:

[code]

**Expected behavior**
Please list `mutable-jar` as a valid option.

[2020-10-08 13:04] loicmathieu opened #12602 "Extract grpc-common for Quarkiverse Google Cloud Services"
**Description**
Multiple Google Cloud Services that are available as extensions inside the Quarkiverse Google Cloud Services project relies on gRPC to communicate with their backend.

The current implementation import the `quarkus-grpc` extension.
It works but it's not ideal as it has a lot of dependencies and setup a lot of un-needed gRPC related functionalities.

The idea is to create an un-list

[2020-10-08 13:06] ia3andy opened #12604 "Add a system to allow custom path and class for spring-web codestart"
**Description**
Add a system to allow custom path and class for spring-web codestart. **It should only be plugged when no other custom path codestarts (just resteasy for now) is selected.**

[2020-10-08 13:07] geoand commented on #12604
cc @aureamunoz

[2020-10-08 13:11] geoand commented on #12601
Actually, this isn't something we expect end users to use under normal circumstances.

It is documented at https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/maven-tooling.adoc#remote-development-mode

[2020-10-08 13:15] #12544 closed

[2020-10-08 13:17] ia3andy commented on #12604
@aureamunoz I will take that one and let you review it?

[2020-10-08 13:27] aureamunoz commented on #12604
Sure! Thank you!!

[2020-10-08 13:39] michalszynkiewicz commented on #12602
@loicmathieu what are the elements that the cloud services need and don't need? Do they need the client only?

[2020-10-08 13:42] DanHeidinga commented on #12417
Does the issue reproduce for you on with the test project?  I wonder if it's OS related as I'm on a mac...

[2020-10-08 14:05] loicmathieu commented on #12602
I don't remember precisely as I work on it several months ago but it should be client only yes.
Mostly graalVM related code

[2020-10-08 14:34] rvansa commented on #12601
Yes, that's where I found about the option :) However not listing a 'supported' option in reference is confusing - it appears as if the option is deprecated and the documentation you've linked is out-of-date.

[2020-10-08 14:38] geoand commented on #12601
I'll @stuartwdouglas decide what he wants to do here as he is the author of mutable-jar

[2020-10-08 14:51] machi1990 commented on #12601
If we turn [the configuration](https://github.com/quarkusio/quarkus/blob/63ff7236c4e760206c62432d985be1868ee2685a/core/deployment/src/main/java/io/quarkus/deployment/pkg/PackageConfig.java#L30) into an enum, possible values will be automatically generated in the documentation much like https://quarkus.io/guides/all-config#quarkus-scheduler_quarkus.scheduler.cron-type

[2020-10-08 14:54] geoand commented on #12601
Yeah, we could probably do that

[2020-10-08 15:10] ben-manes commented on #10420
@gaetancollaud The generated classes implement either `BoundedLocalCache` or `Node` (the cache entry).

[2020-10-08 15:41] zulq opened #12606 "Kotlin code/documentation."
**Description**
Would like to see documentation in kotlin. Right now someone have to know both Java and Kotlin. This will be useful for people coming from other languages or Kotlin being their first language and just want to use Kotlin.

**Implementation ideas**
Have a kotlin tab in the guides/code samples along side the Java version.

[2020-10-08 15:56] phillip-kruger commented on #12577
So the code use a shutdown hook to delete the folder:
https://docs.oracle.com/javase/8/docs/api/java/lang/Runtime.html#addShutdownHook-java.lang.Thread-

From the Javadoc:

I am still investigating other options

[2020-10-08 16:03] xmlking commented on #9766
`Were you able to have coroutine and grpc working together?` <--  I tried grpc + kotlin flow (i guess internally flow use coroutines) which worked.
https://github.com/xmlking/micro-apps/tree/develop/apps/account-service

[2020-10-08 16:10] famod commented on #12577
Ah, you're right. It's just not directly obvious since the hook is operating on `cached.cachedDirectory`, not directly on `tempDir`.

Well, first and foremost it would be a good improvement if Quarkus dev mode would terminate gracefully upon CTRL+C on Windows.

[2020-10-08 16:12] drissamri commented on #12592
I just got the same error on a quarkus-amazon-lambda project, so not directly related to the archetype I guess.

[2020-10-08 16:13] phillip-kruger commented on #12577
Agree. For me it's not consistent. Sometimes it actually do remove the directory. Weird.

[2020-10-08 16:14] famod commented on #12577
Do you see the shutdown message in these cases?

[2020-10-08 17:31] vsevel commented on #12583
@sberyozkin if all guides were organized that way (e.g. data, web service, ...), I would say yes.
but the website has some very focused guides (e.g. apache cassandra guide). so there is an expectation that all guides will be there.
my personal experience was that I typed "Vault" in the search box and could not find them. so I tried to find them with the browser feature, and I assumed it had been d

[2020-10-08 17:37] gsmet commented on #10420
Yeah, I just got hit by this issue too. We need to fix it.

I would say we probably need to index Caffeine in Jandex and then get the implementations.

@ben-manes I suppose there's no way to get a simple list of class names?

[2020-10-08 17:59] gastaldi opened #12607 "Introduce a mechanism to know whether it supports native or not"
With Quarkiverse, many extensions may not support Native (right away) so it would be nice to have some mechanism in place to flag in the extension metadata

[2020-10-08 17:59] ben-manes commented on #10420
See attachment for the list of generated classes. If there is a manifest format that can be included in the jar then we could add that, too.

[classes.txt](https://github.com/quarkusio/quarkus/files/5350479/classes.txt)

[2020-10-08 18:08] gsmet commented on #10420
Yeah that's a ton of classes.

Having them in a service file or something could help but I'm wondering if
there would be a way to determine which would be useful depending on the
features we are using?

On Thu, Oct 8, 2020 at 8:00 PM Ben Manes <notifications@github.com> wrote:

[2020-10-08 18:12] ben-manes commented on #10420
atm the features are listed in the javadoc, e.g. `PSAWRMS`

[code]

[2020-10-08 18:22] #12301 closed

[2020-10-08 18:22] #12460 closed

[2020-10-08 18:27] FcoJavierSainz commented on #12585
Hi @jclingan thanks for responding, I am still seeing the same error

[code]
Rest Client

[code]

Test class
[code]

[2020-10-08 18:37] phillip-kruger commented on #12577
Yes I do.

[2020-10-08 19:04] gaetancollaud commented on #10420
Instead of having a manifest or looking for children of abstract class, what about having an annotation that we could lookup ?

Exactly like the `@RegisterForReflection` of quarkus.

This way we don't tamper too much with Caffeine for this. Each generated class should just have this annotation and we could then look it up by reflection.

[2020-10-08 19:56] henrikengelbrink commented on #12347
@geoand Thank you for your answer, this is working. Changed `@RegisterRestClient` to `@RestClient`

[2020-10-08 19:56] #12347 closed

[2020-10-08 19:56] gsmet commented on #10420
Having an annotation will require to index the jar anyway. So it makes no difference from a Quarkus POV. Once it's indexed, you can ask implementations to the index.

[2020-10-08 19:59] geoand commented on #12347
Great 👌

[2020-10-08 20:12] ben-manes commented on #10420
Also, fyi, if you don't index the entire jar then you could lose the ability to change the configuration externally without deploying a new build. Quoting from above,

A feature-only build would be more brittle in this respect. That might not be too bad in any modern CI pipeline, and might be the expectation anyway given other library interactions that could have similar challenges in an AOT world

[2020-10-08 21:04] Sanne commented on #10420
Personally I'd prefer the API we discussed in previous comments - but I understand that's more work, and having it all "just work" is a good first step.

So let's index Caffeine to extract all implementations and register them; a little improvement could be for Caffeine to include the Jandex index within its jar: would you mind @ben-manes ?

Jandex supports build time indexing; I've never done thi

[2020-10-08 21:35] ben-manes commented on #10420
I'm fine with adding a Jandex and open to iterating on API improvements to be AOT friendly.

The plugin has been added and a new snapshot is being built by [CI](https://travis-ci.org/github/ben-manes/caffeine/builds). That takes ~1hr (millions of tests). If someone more knowledge than I am could verify this works as desired, or offer to include a sample project to include in my test suite (via `/e

[2020-10-08 22:13] dhoffer commented on #12591
Your reply that this is likely caused by same EntityManager being used by multiple threads made me look at the code to see how this could be possible.  I am testing calling a single JAX-RS endpoint so one would think only one thread is used here.  However I see that one task of the operations is to record some metrics regarding the endpoint usage.  The code that does this metrics uses org.eclipse.

[2020-10-09 02:59] hantsy commented on #2303
Any progress of this?

I would like to use **Typesafe** APIs such as JPA Creteria(Specification in Spring Data JPA) or QueryDSL to assemble the Query logic by pure Java codes instead of **literal** strings.

[2020-10-09 03:05] stuartwdouglas commented on #12591
In Quarkus the EntityManager is request scoped, and the request scope will
be propagated to the @Async method. Maybe you could just manually create
the EntityManager for the asynchronous bit?

Stuart

On Fri, 9 Oct 2020 at 09:13, David Hoffer <notifications@github.com> wrote:

[2020-10-09 04:00] dhoffer commented on #12591
I'm not clear...

If in Quarkus the EntityManager is request scoped and the request scope
will be propagated to the @Async method then...

1. Why does Quarkus propagate to @Aync if it can't use it there?
2. How can Quarkus make a request scoped EntityManager as a class field in
an ApplicationScoped container/object?  I'm new to CDI but I can't get my
head around these laws of Java that are violate

[2020-10-09 05:25] stuartwdouglas commented on #12601
The original intention was for it to me extensible, which is why it is not an enum, but I don't know how well that would work in practice.

[2020-10-09 05:32] cescoffier commented on #12599
Thanks @tsegismont, I will have a look.

[2020-10-09 06:57] jamesnetherton opened #12615 "LogManager FORMAT_FAILURE on application startup"
**Describe the bug**

Relates to https://github.com/apache/camel-quarkus/issues/1891.

Since upgrading to Quarkus 1.9.0.CR1, I noticed errors on some of the camel-quarkus integration tests. It seems to be related to logging. In our camel-jira integration test, there's a point where Camel is trying to log the name & value of a configuration property. It results in:

[code]

The source of the config

[2020-10-09 07:38] gsmet commented on #12615
I wonder if it could be related to https://github.com/jboss-logging/slf4j-jboss-logging/commit/1204d4301b82aeddfb0b0b3c0905f48df9c266d7 .

I will downgrade in the meantime.

/cc @jamezp

[2020-10-09 07:55] skasten commented on #12615
We experience the same problem, but with 1.8.2.Final.
The problem occurs, if a parameter in the log statement prints out JSON in the toString().
In our case, we have some Avro objects, where these object prints out it JSON serialization on the toString method.
We use SLF4J for logging. We do something like:
[code]

For my understanding, toString() on myAvroObject should be called, which returns JS

[2020-10-09 07:58] gsmet commented on #12615
@skasten I suspect downgrading slf4j-jboss-logging to 1.2.0.Final will fix your issue. It was upgraded in 1.8.2.Final.

[2020-10-09 08:01] skasten commented on #12615
@gsmet Yes, with 1.2.0.Final it works.

[2020-10-09 08:02] gsmet opened #12620 "Various Gradle issues releasing 1.9"
I add to disable various Gradle tests to release 1.9, namely:

 * some tests in the CLI module: https://github.com/quarkusio/quarkus/commit/b4551ff9f2ccd842b1f30b3b172514b3de6ae8c1
 * some tests in the Codestarts module: https://github.com/quarkusio/quarkus/commit/630a9d358ccfc1c5cf1771cad512df9960e0d18d
 * some tests in the Gradle IT: https://github.com/quarkusio/quarkus/commit/d9e4b44f747bf19bdf

[2020-10-09 08:16] gsmet commented on #12615
/cc @dmlloyd too

Interesting comment is there: https://github.com/quarkusio/quarkus/issues/12615#issuecomment-706024360 .

[2020-10-09 08:17] zeljkot commented on #8588
There is a small issue with this fix: it overrides the default tag value (version) with the "latest". So I get only "latest" and additional-tags and not x.y.z-SNAPSHOT and additional-tags. Whatever I put in container-image.tag is ignored and the "latest" is used.

Note that JIB's and GitLab's definition of an image is different: JIB's contains a version while GitLab's does not.

[2020-10-09 08:18] gsmet commented on #10420
@ben-manes is there somewhere I can get the snapshots?

[2020-10-09 08:20] geoand commented on #8588
Can you please open a new issue about this?

[2020-10-09 08:21] ben-manes commented on #10420
@gsmet The CI publishes to Sonatype's snapshot [repository](https://oss.sonatype.org/content/repositories/snapshots/com/github/ben-manes/caffeine/caffeine/) and any ad hoc commit via jitpack should work too.

[2020-10-09 08:22] gsmet commented on #10420
I will test things on Quarkus.

As for adding a unit test in Caffeine, a good example is: https://github.com/wildfly/jandex#loading-a-persisted-index .

Except you would look for `index.getAllKnownSubclasses(DotName.createSimple("com.github.benmanes.caffeine.cache.BoundedLocalCache"))` instead.

[2020-10-09 08:58] gsmet commented on #10420
@ben-manes I confirm it's all good from my side with your snapshot.

Draft PR is here: https://github.com/quarkusio/quarkus/pull/12621 .

[2020-10-09 09:16] ben-manes commented on #10420
@gsmet Thanks, added that test case. Let me know if you have any timeline for when you'd like a new release.

[2020-10-09 09:20] gsmet commented on #10420
@ben-manes The earlier, the better. I'm releasing 1.9.0.Final core artifacts on Wednesday morning early Paris time so having a release by then would be great so that this can be finally fixed. Thanks!

[2020-10-09 09:21] ben-manes commented on #10420
Sounds good, I'll release over the weekend (as late here, PST).

[2020-10-09 09:23] gsmet commented on #10420
Cool, thanks for the quick turnaround.

[2020-10-09 09:39] ineednousername opened #12625 "quarkus-elytron-security-oauth2 does not work as described in documentation"
there are two problems with the documentation found at https://quarkus.io/guides/security-oauth2

Problem1:

**Describe the bug**
open https://quarkus.io/guides/security-oauth2
go to
[code]

run

[code]

**Expected behavior**
tests and build runs fine with mvn clean install -Pnative

**Actual behavior**

[code]
Problem2:

**Describe the bug**

the documentation open https://quarkus.io/guides/secur

[2020-10-09 09:48] dinabogdan opened #12626 "EntityManager is no more injected when migrated from Quarkus 1.7.* to Quarkus 1.8.1"
I've migrated the application from Quarkus version 1.7.1.Final to Quarkus version 1.8.1.Final, without changing anything into code.

With the old version, I run the application by using `mvn compile quarkus:dev -DSKIP_PARSE_PERSISTENCE_XML` and everything worked fine. Now, running the same command I'm receiving an error regarding the initialization of EntityManager.

**Expected behavior**
Just to

[2020-10-09 09:57] gsmet commented on #12626
Could you make `AcmeProtocolFeature` `@ApplicationScoped` instead of `@Singleton`?

[2020-10-09 10:01] gsmet commented on #12584
/cc @stuartwdouglas does it ring a bell?

[2020-10-09 10:02] gsmet commented on #12585
Maybe it's a dumb question but are you compiling with `-parameters`?

[2020-10-09 10:14] gsmet commented on #12569
@jw941 is there a good reason why you're using a `persistence.xml`? Pondering my options :).

[2020-10-09 10:15] dinabogdan commented on #12626
`AcmeProtocolFeature` is a `@Provider`, not a `@Singleton`.

[2020-10-09 10:17] gsmet commented on #12583
Yeah I think we probably need to bring back the main Vault guide. @vsevel could you write a short description covering what's covered in it (including the subguides)?

[2020-10-09 10:23] dinabogdan commented on #12626
You're right. I'm having two `@Provider` classes where are injected different repositories. It seems that if I'm removing the `@Provider` and put `@ApplicationScoped` it is working fine. Still, I need those `@Provider`s. Do you know what is the root of this issue?

[2020-10-09 10:24] jw941 commented on #12569
Because of another issue https://github.com/quarkusio/quarkus/issues/12412

[2020-10-09 10:25] Auties00 commented on #12535
This does work, any idea why this is happening though?

[2020-10-09 10:35] gsmet commented on #12443
@Postremus could you check https://github.com/quarkusio/quarkus/pull/12627 ?

[2020-10-09 10:35] #12615 closed

[2020-10-09 10:39] gsmet commented on #12412
@Sanne @gavinking could we consider that one for the next 5.4 release train?

[2020-10-09 10:40] gsmet commented on #12626
What if you keep `@Provider` and just add `@ApplicationScoped`?

[2020-10-09 10:41] gsmet commented on #12626
The root of the issue is that the providers are initialized very early and the EntityManager far later in recent versions. So if you have a singleton `@Provider`, it will require the EM to be initialized early while it's not.

[2020-10-09 10:50] sberyozkin commented on #12625
@loicmathieu Hi Loic - can you please have a look, thanks

[2020-10-09 10:51] gemmellr opened #12628 "copy dependency management for bootstrap modules to quarkus-bom"
The quarkus-universe-bom can contain dependency management entries coming from extensions which override those used by the core quarkus bootstrap modules, as the core quarkus-bom may not contain dependency management entries for them while the platform quarkus-universe-bom could due to an extension doing so.

While looking into and discussing [1] an extension build failure I was seeing while tryin

[2020-10-09 10:52] dinabogdan commented on #12626
It's not working if I keep both `@Provider` and `@ApplicationScoped`.

[2020-10-09 10:56] gsmet commented on #12626
'Not working' meaning...

[2020-10-09 10:58] dinabogdan commented on #12626
Meaning, the same error as before. Sorry for the confusion.

[2020-10-09 11:15] gsmet commented on #12626
@dinabogdan could you make `NonceRepository` `@ApplicationScoped` too?

[2020-10-09 11:18] gsmet commented on #12569
Could you try something like:

[code]

[2020-10-09 11:20] dinabogdan commented on #12626
It seems to be working by making the `NonceRepository` `@ApplicationScoped`.

[2020-10-09 11:21] gsmet commented on #12626
Yeah, so basically, you need the whole chain `@Provider` -> ... -> `EntityManager` to be `@ApplicationScoped` as the `@Provider` bean is initialized very early.

[2020-10-09 11:22] aloubyansky commented on #12628
While it does make sense to go over the bootstrap dependencies and add the key ones to quarkus-bom, the classworlds dependency is an interesting case in that, the bootstrap doesn't actually use its classes at runtime except for satisfying the classloading requirements, i.e. if a class from the classworlds isn't on the classpath, the class that's actually used will fail to load. So, in this case, r

[2020-10-09 11:25] gsmet commented on #12626
And it broke because we used to initialize the EntityManager bean early too but this has changed.

[2020-10-09 11:25] #12626 closed

[2020-10-09 11:36] Auties00 opened #12629 "JWT doesn't accept a relative path for the public key location"
**Describe the bug**
According to the [Quarkus' documentation](https://quarkus.io/guides/security-jwt):

This is true when running Quarkus normally, but when it's running in Native mode relative paths are not accepted as explained by this error:
`13:32:33 ERROR [io.qu.ve.ht.ru.QuarkusErrorHandler]] (vert.x-eventloop-thread-0) HTTP Request to /favicon.ico failed, error id: 5c9fac08-4d4f-40d4-ab45-d

[2020-10-09 11:49] cescoffier commented on #2027
@jmartisk Should we close this issue as I would consider it done.

[2020-10-09 11:53] zakkak commented on #12535
It appears that:

see: https://github.com/oracle/graal/commit/39d7ff72e9b02d24a333d176c9dc3166afabd6a3#diff-16fa1354935120a447ef7e24561ec3c1R58

Now regarding how I came with the solution/work around.

If you build the `native-image` without any flags you will get the an error message asking you to use `--trace-object-instantiation` to identify the root cause.

If you add `--trace-object-instantia

[2020-10-09 12:03] gemmellr commented on #12628
Yep, as mentioned in the discussion the version didn't really make any difference to the build in the end, it worked fine once either the convergence check was disabled or I updated the env to Maven 3.6.3.

The only mentions of it in quarkus-bom are in some of the other deps excluding plexus-classworlds, its just that quarkus-bootstrap-parent does dep manage a specific 2.6.0 version for it, while

[2020-10-09 12:03] FroMage commented on #12591
Can you show us your endpoint?

[2020-10-09 12:04] sberyozkin commented on #12629
@Auties00 Hi, interesting, see this quickstart,
https://github.com/quarkusio/quarkus-quickstarts/blob/development/security-jwt-quickstart/src/main/resources/application.properties

it does work in the native mode.
What happens when only the JWT config is provided (trying to figure out if something else is indirectly affecting it)
thanks

[2020-10-09 12:23] jmartisk commented on #2027
That depends if we're fine that it only works with the Micrometer extension. But as we're planning to push that one as the 'preferred' metrics extension, then I guess it shouldn't be considered a big problem if the SmallRye extension does not support it.
If someone is willing to implement it, I think it will be welcome, but to myself the priority of working on this is extemely low, given the circu

[2020-10-09 12:23] #2027 closed

[2020-10-09 12:43] cescoffier commented on #2027
I agree, @jmartisk. Micrometer support is good enough for now.

[2020-10-09 13:04] gsmet opened #12630 "Improve OpenShift route configuration"
Notes from a Zulip discussion:

Having apparently unrelated config properties is an issue IMHO. I would rather have a `route.` config group with everything there.

Also:
- I couldn't find a way to make the route secure (and I would make it the default as it seems more sensible?)
- I think we should have route-specific annotations in the route. config group
- I had a weird error message because a r

[2020-10-09 13:04] Auties00 commented on #12629
After looking into this for an hour I noticed that my public key is in META-INF/resources/publickey.pem instead of META-INF/resources/publicKey.pem. This is akward

[2020-10-09 13:04] #12629 closed

[2020-10-09 13:04] gsmet commented on #12630
/cc @iocanel @geoand

[2020-10-09 13:06] geoand commented on #12630
+1 for moving all the relevant Route config into a dedicated root

I doubt it's worth it TBH

[2020-10-09 13:09] Meemaw commented on #7405
Any update on this cc @stuartwdouglas @FroMage ?

[2020-10-09 13:10] loicmathieu commented on #12625
Hello,

**Problem 1**: the behaviour is normal as the configuration was not done inside `application.properties`. The steps to configure the OAuth2 server are described here: https://quarkus.io/guides/security-oauth2#setting-up-application-properties I agree they should be put before in  the guide as the `generating-a-token`. Both sections must reside inside the `creating-the-maven-project` sectip

[2020-10-09 13:11] sberyozkin commented on #12629
@Auties00 Yeah - we now trim the spaces around it but fixing typos like this one can be tricky

[2020-10-09 13:13] mkouba commented on #12597
@gsmet There are people who consider private injection points a good practice and they're not going to forgive us ;-).

[2020-10-09 13:13] FcoJavierSainz commented on #12585
Hi, That error was thrown when using IntelliJ, When I added `@ApplicationScoped` the same problem from this issue https://github.com/quarkusio/quarkus/issues/9630 happened. Not sure if we can keep this issue to try to fix it.

[2020-10-09 13:22] mkouba commented on #12569
Just to explain a bit:
[code]

[2020-10-09 13:23] geoand commented on #12597
I agree that it's too harsh of a measure

[2020-10-09 14:11] famod commented on #8871
@maxandersen

Sounds like #6810. @radcortez is already working on an enhancement for sr-config: https://github.com/smallrye/smallrye-config/pull/399

[2020-10-09 14:12] mkouba commented on #11392
In theory, we could set a new security identity via `io.quarkus.security.runtime.SecurityIdentityAssociation.setIdentity(Uni<SecurityIdentity>)` for each scheduled method invocation. However, I'm not quite sure that "roles" would be enough (`SecurityIdentity` has other important attributes) and if it makes sense in the context of security. @michalszynkiewicz @sberyozkin WDYT?

[2020-10-09 14:26] overthetop commented on #12594
I guess @sberyozkin wanted to tag @gsmet :)

[2020-10-09 14:31] glefloch commented on #12620
@gsmet just to be sure I'm not missing something here, when you release a new version of quarkus, you are:
* replacing the `999-SNAPSHOT` version number by the release version number.
* running a first build without tests in a new local repo
* running integration-tests
Is there something else?
I will run the commands on my machine.

[2020-10-09 14:58] gastaldi commented on #6490
Repository created in the quarkiverse org, as per https://github.com/quarkusio/quarkus/pull/10671#issuecomment-706231300.

Closing

[2020-10-09 14:58] #6490 closed

[2020-10-09 15:00] gastaldi commented on #7480
Closing as this already exists in the repository mentioned above

[2020-10-09 15:00] #7480 closed

[2020-10-09 15:04] gastaldi commented on #1958
This extension will be developed under the quarkiverse organization. See https://github.com/quarkusio/quarkus/pull/10671#issuecomment-706231300

[2020-10-09 15:04] #1958 closed

[2020-10-09 15:06] gsmet commented on #12615
I just pushed 1.8.3.Final with the downgrade.

[2020-10-09 15:14] #4944 closed

[2020-10-09 15:16] #4400 closed

[2020-10-09 15:17] ge0ffrey opened #12632 "Do not include Twitter Bootstrap in quarkus-bom"
The quarkus-bom should not enforce `org.webjars:bootstrap:3.1.0`, because it leads to a gradle build like this:

[code]
which in turn leads to styling issues on the front end, which are hard to track down.

AFAIK, that twitter bootstrap webjar in quarkus-bom is only needed to test the quarkus-webjars-locator. It shouldn't trickle down to the quarkus users.

@Christopher-Chianelli ^^

[2020-10-09 15:18] gastaldi commented on #1669
Isn't this done yet @mkouba ?

[2020-10-09 15:26] mkouba commented on #1669
Yes, [more or less](https://quarkus.io/guides/cdi-reference#build_time_apis) ;-). I think tha we can close this issue now.

[2020-10-09 15:26] #1669 closed

[2020-10-09 15:40] jamezp commented on #12615
The reason main reason is this is caused by having abstractions over abstractions :) Since `slf4j-jboss-logging` is being used it delegates slf4j to jboss-logging which in turn delegates to jboss-logmanager. jboss-logging passes the format parameters to jboss-logmanager and it attempts to format an already formatted message. We pass the parameters though so they end up in the structured formatters

[2020-10-09 15:45] ia3andy opened #12633 "Create the Picocli Example codestart in Java & Kotlin"
**Description**
Create the Picocli Example codestart in Java & Kotlin

as part of epic: https://github.com/quarkusio/quarkus/issues/8134

### Contributing an example Codestart

- doc: https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/codestarts/README.adoc
- codestarts dir: https://github.com/quarkusio/quarkus/tree/master/devtools/platform-descriptor-json/src/main/resourc

[2020-10-09 16:02] vsevel opened #12634 "Logging an argument with a '{' leads to FORMAT_FAILURE"
**Describe the bug**
execute this in a quarkus application:
[code]

**Expected behavior**
[code]

**Actual behavior**
[code]

It sounds like the argument is interpreted itself as a pattern.

This leads to issues when libraries pass arguments that include tokens that are recognized by the `java.text.MessageFormat` as pattern reserved symbols.
Such as https://github.com/hierynomus/smbj/blob/master/s

[2020-10-09 16:05] bnjns commented on #12606
As someone who's team uses Quarkus with Kotlin this would be amazing. I'd be more than happy to help if needed :slightly_smiling_face:

[2020-10-09 16:08] gastaldi commented on #11761
Closing since this is a duplicate of #1418

[2020-10-09 16:08] #11761 closed

[2020-10-09 16:13] #1394 closed

[2020-10-09 16:16] gastaldi commented on #12634
@vsevel does this happen in Quarkus 1.8.2.Final too?

[2020-10-09 16:36] loicmathieu commented on #12625
#12635 should fix the native image issue (Problem 2).

[2020-10-09 16:58] #12443 closed

[2020-10-09 17:11] gsmet commented on #12634
I think this is a duplicate of https://github.com/quarkusio/quarkus/issues/12615 .

Can you try with the just released 1.8.3.Final?

[2020-10-09 17:29] gastaldi commented on #7700
Doesn't seem to be an issue with CI. Closing for now

[2020-10-09 17:29] #7700 closed

[2020-10-09 17:50] gastaldi commented on #10245
Fixed in 1.9.0.CR1 with 6c08bcdbe906fec6c30a68631aca59400ced9ec6

[2020-10-09 17:51] #10245 closed

[2020-10-09 17:54] #12599 closed

[2020-10-09 18:35] maschmid opened #12638 "Expose CloudEvents "Extension Context Attributes" in Funqy"
**Description**
CloudEvent interface

https://github.com/quarkusio/quarkus/blob/master/extensions/funqy/funqy-knative-events/runtime/src/main/java/io/quarkus/funqy/knative/events/CloudEvent.java

does not expose Extension Context Attributes, see

https://github.com/cloudevents/spec/blob/v1.0/spec.md#extension-context-attributes

Custom attributes may contain custom event information that affects h

[2020-10-09 19:06] vsevel commented on #12583
@gsmet the [ain vault guide](https://quarkus.io/guides/vault) has something like this:

would that work?

[2020-10-09 19:23] crivera opened #12640 "SecurityIdentityAugmentor Blocking Calls"
**Describe the bug**
Implemented the example from https://quarkus.io/guides/security-customization for a SecurityIdentityAugmentor.

I am using: ` return context.runBlocking(build(identity))`

and the build function

[code]

**Expected behavior**
user gets loaded

**Actual behavior**
 java.lang.IllegalStateException: You have attempted to perform a blocking operation on a IO thread. This is not al

[2020-10-09 20:50] sberyozkin commented on #12640
Interesting, this must be a thread from a thread pool. CC @stuartwdouglas, @gsmet

[2020-10-09 22:05] The-Nightwing commented on #12633
Hey, if someone's not working on this issue, can i work on it?

[2020-10-09 22:33] evanchooly commented on #12633
I don't see why not.  I can assign it to you.  I haven't done much with either but i'm happy to help address any kotlin issues you run in to.

[2020-10-09 22:35] The-Nightwing commented on #12633
I don't know much kotlin but i can definitely be efficient in java. From where do i start, like from which code file or docs to refer too, and what results are expected?

[2020-10-10 05:59] ia3andy commented on #12633
@jantosi, would you help @The-Nightwing do this one?

[2020-10-10 06:14] jantosi commented on #12633
@The-Nightwing :
Take a look [https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/codestarts/README.adoc](https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/codestarts/README.adoc) to get a gist of what a new codestart is like.

You want to create a new directory inside `/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus/exampl

[2020-10-10 07:26] ia3andy opened #12642 "Update the guide according to new RESTEasy Jackson codestart"
**Description**

We now have a  RESTEasy Jackson codestart:
https://github.com/quarkusio/quarkus/pull/12494

We need to update the guide for it: https://quarkus.io/guides/rest-json

This depends on: https://github.com/quarkusio/quarkus/pull/12473

[2020-10-10 08:39] inngvar opened #12643 "Native application faild to start when liquibase enabled"
**Describe the bug**
Native application failt to start when liquibase enabled

**Expected behavior**
Native application started

**Actual behavior**
Faild to start with error
`2020-10-10 11:27:37,751 ERROR [io.qua.application] (main) Failed to start application (with profile prod): java.lang.IllegalStateException: liquibase.exception.ChangeLogParseException: liquibase.exception.SetupException: liq

[2020-10-10 10:33] tbglazer opened #12644 "Error using Redis client inside gRPC server thread"
**Describe the bug**
When using redisClient.get() from a gRPC server thread the call gets fails with a vertx thread blocked error.

**Expected behavior**
The call should return.

**Actual behavior**
The call fails with thread blocked error.

**To Reproduce**
Reproduceable with the grpc-plain-text-quickstart quarkus sample project and quarkus-redis-client extension.

Steps to reproduce the behavior

[2020-10-10 11:26] xumk commented on #11921
@radcortez @vsevel
Hello, when can someone start solving this problem?

[2020-10-10 12:34] radcortez commented on #11921
Hi @xumk.

Sorry for the delay. This is not forgotten and just recently we started another discussion with some ideas here: https://github.com/quarkusio/quarkus/issues/12515

I should be able to dedicate some time next week. Cheers!

[2020-10-10 17:56] AShynkevich opened #12647 "Property quarkus.resteasy.gzip.max-input doesn't work"
**Describe the bug**
Quarkus doesn't allow to extend uploading file size limitation by property **quarkus.resteasy.gzip.max-input**. Setting the specific value the default size(10M) is still used and I get **413 Request Entity Too Large** error.

**Expected behavior**
Response 201 No content

**Actual behavior**
Response 413 Request Entity Too Large

**To Reproduce**
Link to reproducer: [GitHub](h

[2020-10-11 14:38] xstefank opened #12649 "Openshift extension doesn't work with CRC and s2i"
**Describe the bug**
Following the [Openshift guide](https://quarkus.io/guides/deploying-to-openshift) the created application in CRC cannot start. It fails with the following error:

[code]

**Expected behavior**
Following the steps in the guide leads to the successful deployment of the app.

**Actual behavior**
The startup of the app in CRC fails with the above message.

**To Reproduce**

Just f

[2020-10-11 14:45] xstefank commented on #12649
With `./mvnw clean package -Dquarkus.kubernetes.deploy=true` it deploys without issues.

[2020-10-11 20:04] drissamri commented on #8362
Not entirely belongs here, but since it's about customizing the build, is there any way to change the zip name (function.zip)? CloudFormation doesn't allow you to deploy two zips in one project if they both have the same name. (Two maven quarkus modules and one deployment for both)

[2020-10-12 01:17] oztimpower commented on #8362
Currently no, it is function.zip, the purpose being a quick start to get people started.

Can I suggest you do the file move in a Maven or Gradle task, with the appropriate dependency? There are standard tasks to do this.

[2020-10-12 05:23] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/301475236

[2020-10-12 05:40] stuartwdouglas commented on #12640
Can you paste the full stack trace?

[2020-10-12 05:41] stuartwdouglas commented on #12640
Actually I can see the problem. You are doing the blocking operation before returning the Supplier, you need to do the blocking operation inside the supplier.

[2020-10-12 05:41] #12640 closed

[2020-10-12 05:51] ben-manes commented on #10420
Released 2.8.6

[2020-10-12 06:16] geoand commented on #12649
Hi,

Can you give it a shot with Quarkus `1.8.3.Final` please?

cc @iocanel

[2020-10-12 06:36] geoand commented on #12647
cc @ronsigal @asoldano

[2020-10-12 06:41] zeljkot commented on #8588
No problem.

[2020-10-12 07:06] zeljkot opened #12651 "quarkus.container-image.image ignores tag"
**Describe the bug**

#12070 introduces `quarkus.container-image.image` property, which contains registry _and_ image name for GitLab compatibility. However, it overrides whatever is stored in `quarkus.container-image.tag` property and adds the `latest` tag. It does respect `additional-tags`.

Note that JIB's and GitLab's definition of an image is different: JIB's contains a version while GitLab's

[2020-10-12 07:11] zeljkot commented on #8588
https://github.com/quarkusio/quarkus/issues/12651

[2020-10-12 07:14] geoand commented on #12651
Thanks for opening this.

I am not exactly sure whether this should be classified as a bug or not TBH...

@Ladicek @iocanel what do you guys think about this one?

[2020-10-12 07:15] vsevel commented on #12634
@gastaldi @gsmet I confirm the problem is on 1.8.2 but not on 1.8.3

[2020-10-12 07:18] cescoffier commented on #12607
Some extensions have partial support for native. Would the flag mean 100% support, or do we need a 3 value flag (so not a flag):

* supported
* partially supported
* unsupported

[2020-10-12 07:21] mkouba commented on #11392
Actually, we could probably just support the `@javax.annotation.security.RunAs` annotation.

[2020-10-12 07:28] knutwannheden commented on #12471
I created an example project (based on Quarkus 1.8.1) with which the problem can be reproduced: https://github.com/knutwannheden/quarkus-12471. The cause was an entity class extending Envers' `DefaultRevisionEntity`. I can look into supplying a test as a PR if you like. I have verified that the problem is solved by Quarkus 1.8.2+.

[2020-10-12 07:35] cescoffier commented on #12644
You should use the reactive Redis client (`ReactiveRedisClient`). We are going to provide a way to execute blocking service implementation, but for now, they must be asynchronous and non-blocking (as is gRPC).

[2020-10-12 07:35] ia3andy commented on #12559
Closed by https://github.com/quarkusio/quarkus/pull/12579

[2020-10-12 07:35] #12559 closed

[2020-10-12 07:42] mswiderski commented on #12218
closing and wait for implementation of #12574

[2020-10-12 07:42] #12218 closed

[2020-10-12 07:49] ia3andy commented on #12334
Closed by https://github.com/quarkusio/quarkus/pull/12494

[2020-10-12 07:49] #12334 closed

[2020-10-12 07:50] ia3andy commented on #12337
Closed by #12386

[2020-10-12 07:50] #12337 closed

[2020-10-12 07:58] ia3andy commented on #11515
This build will fail until `1.9.0`: https://github.com/quarkusio/code.quarkus.io/pull/396

[2020-10-12 08:21] rvansa commented on #12023
I guess this issue can be closed, is that correct @stuartwdouglas ?

[2020-10-12 08:25] phillip-kruger commented on #12577
@gsmet @famod I have a fix for this. Basically, as discussed, there is no need for a unique folder, as the groupId/arifactId/version is unique enough. I have tested this with multiple apps running and all works fine. see #12652
Let me know what you think.

[2020-10-12 08:46] ineednousername commented on #12625
@loicmathieu

Yes for example a project that not even uses JSONB or a project that uses jackson. There it would be just confusing to add jsonb even though it is not directly used by the project, but required to add to make `quarkus-elytron-security-oauth2` work. Also you would only find out while building the native image and would be confused like I was in the beginning ;)

[2020-10-12 08:51] knutwannheden opened #12654 "Document Hibernate config property default values"
Some of the Quarkus Hibernate config properties don't have a default value and as a result the corresponding Hibernate property will not be set and retain its own default value. IMHO this makes sense, but I think it would also make sense if the default values were documented on the Quarkus side, so that developers don't need to first find the corresponding Hibernate docs. Two examples:

* [query-p

[2020-10-12 08:53] rvansa commented on #11616
So I've been able to reproduce this locally quite reliably. The triggering factor might not be TLS per se but HTTP2 negotiated when TLS is in use.
It seems that this happens when our custom `MessageBodyReader.readFrom(...)` invokes `entityStream.lines().collect(...)`. This is the stack trace:
[code]

Note that I am sending a JSON with no line at the end. What happens here is that `VertxHttpExchang

[2020-10-12 08:55] rvansa commented on #11616
@stuartwdouglas It would be great if you could check my findings above.

I've used quarkus 1.8.2, vert.x 3.9.1 and quarkus-http-vertx-backend 3.0.15 to reproduce this.

[2020-10-12 08:56] Ladicek commented on #12651
@zeljkot If you know that `CI_REGISTRY_IMAGE` never contains a tag, could you perhaps set `quarkus.container-image.image` to `${CI_REGISTRY_IMAGE}:${quarkus.application.version:latest}`? (See https://quarkus.io/guides/container-image#container-image-options for the default value of `quarkus.container-image.tag`.)

@geoand / @iocanel:
I don't know all the details, but we assume that `quarkus.contai

[2020-10-12 09:01] #12023 closed

[2020-10-12 09:10] geoand commented on #12651
Yes, thats is exactly what we do.

I think we log a warning that they are ignored

[2020-10-12 09:10] Ladicek commented on #12649
This _might_ be caused by the new `container-image-openshift` stuff and _might_ be fixed by https://github.com/quarkusio/quarkus/pull/12631.

Does the `container-image-openshift` change come with documentation changes? (Didn't check.)

[2020-10-12 09:12] geoand commented on #12649
@iocanel if it doesn't, we need some text for the wiki as well

[2020-10-12 09:23] xstefank commented on #12649
@geoand works with 1.8.3.Final.