[2022-03-30 10:55] ebullient commented on #24613
perhaps? yes. This is what needs to be revised:
https://github.com/quarkusio/quarkus/blob/1c9dbbd107f7fd20746415606418681b700ef7c3/independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/project/codegen/CreateProjectHelper.java#L79

I won't be able to get there today.

[2022-03-30 10:55] michalszynkiewicz commented on #24375
I think I did exactly this when trying out your project and it worked.
Can you update the reproducer? I would take another look

[2022-03-30 10:57] guoxunbo opened #24633 "How to get Multipart info in web request filter."
### Describe the bug

such like this.
[code]
I had try more wat to get Multipart info but not get it.[失望]
such as
1. use the `HttpServerRequest`
[code]
but i got error in starting time.
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

17

### Graal

[2022-03-30 11:20] sberyozkin commented on #22030
@maxandersen I've missed your comment, sorry.
Here is how it works in general in OIDC Code flow: after the user has authenticated both ID token and access tokens are returned. ID Token usually contains the required user info claims, but sometimes not - when a call back to the Userinfo endpoint is required.
`Github` is not even an OIDC provider, so `quarkus-oidc` tries to deal with it as if it were

[2022-03-30 11:25] lthasle commented on #24375
[rest-client-reactive-quickstart4.1.zip](https://github.com/quarkusio/quarkus/files/8379963/rest-client-reactive-quickstart4.1.zip)
@michalszynkiewicz
I have updated the reproducer, run the test ->
no Authorization header is printed in the output
I also notized that it works with CompletableFuture.supplyAsync, se code

[2022-03-30 11:31] gsmet commented on #24613
I will have a look. I need simple stuff today.

[2022-03-30 11:31] sberyozkin commented on #20911
@gsmet Apologies, going through the list and finding I've missed a few comments.

Unfortunately not; GitHub is not an OpenId Connect provider, so with the Quarkus OIDC `web-app` applications (when the user is redirected to GitHub to authenticate) we make a few workaround to treat it as if it were the OIDC provider, specifically, with the standard code flow  the signed `IdToken` and `access token`

[2022-03-30 11:48] geoand commented on #24632
I can't say I really understand what's going on. Can you please attach a sample application (with a test) that exhibits the problematic behavior?

[2022-03-30 11:51] manovotn commented on #24624
Note that this kind of generic decoration (where the delegate doesn't even know the type it's dealing with) can mostly be replaced with interception - especially for logging purposes.
If nothing else, it might be a viable workaround for you @knutwannheden

[2022-03-30 11:56] famod commented on #21248
@geoand I suppose it is: https://github.com/quarkusio/quarkus/pull/19559#issuecomment-937816176

but I haven't really followed RESTEasy development.

[2022-03-30 12:03] Sanne commented on #24629
Do you have a suggetion about what to write? N.B. it has never been an option to use JNDI for datasource configurations of Hibernate ORM in Quarkus.

I'm not inclined to include unnecessary noise in the documentation: keeping it light is a feature.

[2022-03-30 12:15] knutwannheden commented on #24624
Thanks for the workarounds. The real issue I have I am still trying to distill to a reproducer. I will then file an issue for that.

[2022-03-30 12:15] mkouba commented on #24621
Yup, that would be the next phase ;-).

[2022-03-30 12:36] edeandrea opened #24637 "Using `ReactivePanacheMongoEntity` creates `io.quarkus.bootstrap.classloading.QuarkusClassLoader` error"
### Describe the bug

Working with [mongo reactive entities with panache](https://quarkus.io/guides/mongodb-panache#reactive) I'm finding that having an entity class that extends `ReactivePanacheMongoEntity` blows up with

[code]

under certain conditions.

### Expected behavior

I would expect everything to just work fine.

### Actual behavior

When running `./mvnw clean verify` on the attached r

[2022-03-30 12:49] josephearl commented on #24607
Reopening because `@Retry` does not do what I need.

The issue I encountered that caused me to raise the issue was:

1. I have a scheduled job that runs every hour sending some events to Kafka.
2. I deployed a new version of the application on the hour.
3. The scheduled job started running on one of the instances of the old version of the application, but failed because the Kafka channel was shut

[2022-03-30 12:50] timhurkmans commented on #24630
@michalszynkiewicz it throws the same error.

[2022-03-30 12:50] loicmathieu commented on #24637
MongoDB with Panache uses an annotation processor, if you declare your own annotation processor this will exclude the panache one.

So you need to add the Panache annotation processor:

[code]

Maybe this should be documented somewhere, the following section explain that an annotation processor is used but don't tell that it must be configured manually if another one is used:https://quarkus.io/gui

[2022-03-30 12:54] loicmathieu commented on #24619
Well, it's not very easy to follow.

At build time, Quarkus will generates Java bytecode via the ASM library to override the methods comming from the PanacheBaseEntity that are annotated by the annotation `@GenerateBridgeMethod`. So the methods that are not implemented (implemented by throwing an exception) would in fact be implemented on the child entity class at build time.

For example, this cl

[2022-03-30 12:56] leotu commented on #24279
Draft PR #24636 @machi1990

Provide "Optional ConfigGroup" Described as below code snippet

[code]

[code]

[2022-03-30 13:08] ricardozanini commented on #8593
Thanks, @geoand and @aloubyansky for bringing this to our attention. @wmedvede is looking into it.

[2022-03-30 13:09] ricardozanini commented on #8593
I think it's pretty reasonable. :)

[2022-03-30 13:16] manusa commented on #24444
Bouncy Castle dependencies are optional and should only be necessary in case ECDSA keys are used. I think these might also be required for FIPS mode.

Is this property `quarkus.security.security-providers=BCJSSE` something you are adding due to this issue (on top of the BC dependencies)?

[2022-03-30 13:28] Felk opened #24639 "configure dedicated db user for database migrations: DML-only user for datasource, but DDL user for migration"
### Description

My usecase is simple in theory:
- Database migrations (using either flyway or liquibase) are run using a database user with DDL grants
- The datasource itself uses a database user _without_ DDL rights afterwards, so preferably only DML.

This is a safety measurement against theoretical situations where the application goes haywire for any reason. This includes e.g. accidentally se

[2022-03-30 13:33] dev-di commented on #9386
I am also hoping this feature could be implemented

[2022-03-30 13:35] ia3andy opened #24640 "Make Quinoa ready for public release and demo"

[2022-03-30 13:38] ia3andy commented on #24640
Sorry about the noise, just trying to fill my task board

[2022-03-30 14:04] gsmet commented on #24613
As I said, I looked into and already have a patch ready. I’m running the Maven tests locally and will create a PR later today.

[2022-03-30 14:13] heliommsfilho commented on #14682
Using the @KyriacosP workaround, thanks.

There is some way to make it work with `quarkus.hibernate-orm.database.generation=validate`?

I want to have the validation enabled, but it fails because the schema validation runs before Liquibase.

[2022-03-30 14:16] FroMage commented on #23593
I got further this time. Turns I forgot my redirect URI from the config. Now it doesn't work because the scope is set to `openid+offline.access+offline.access` when my config says:

[code]

The duplicate `offline.access` doesn't matter (though it's weird) but the `openid` scope is rejected by twitter.

[2022-03-30 14:22] FroMage commented on #23593
I can fix this manually by repeating the redirect with the proper scopes, but then I get the infamous 401 when I'm back on Quarkus after Twitter authorized me, and I still have to use a debugger because Quarkus doesn't log anything useful. This is driving me crazy BTW, we absolutely must fix this lack of logging.

[2022-03-30 14:29] Sanne commented on #24629
Ok you convinced me :)  I'll send a PR shortly.

[2022-03-30 14:30] famod commented on #19405
Coming from https://github.com/quarkusio/quarkus/pull/24546#issuecomment-1083171087, what's the state of this?

Is there any use of further maintaining scala 2 in the main repo?

[2022-03-30 14:39] Sanne commented on #16640
hi @cdmikechen  - yes I agree fixing this would be important.

Looking forward for any PRs you might have; feel free to ping me and/or @DavideD or @gavinking on PRs of either hibernate-reactive of hibernate-orm, we work on both projects and will try to prioritize these.

[2022-03-30 14:54] svinther commented on #11729
@marcpuca I don't know if it still works with latest Quarkus. Im not using it any longer as I went elsewhere

[2022-03-30 15:02] lucamolteni opened #24643 "Cannot create examples with Maven 3.8.5"
### Describe the bug

Unable to create projects using Maven 3.8.5

### Expected behavior

The example project has been created successfully

### Actual behavior

[code]

### How to Reproduce?

Install maven 3.8.5

[code]

### Output of `uname -a` or `ver`

Darwin 21.1.0 Darwin Kernel Version 21.1.0: Wed Oct 13 17:33:23 PDT 2021; root:xnu-8019.41.5~1/RELEASE_X86_64 x86_64

### Output of `java -vers

[2022-03-30 15:19] lucamolteni opened #24644 "Kubernetes Minikube extension doesn't generate the minikube.yml file while using Maven 3.8.5"
### Describe the bug

If the dependency is in a separate profile, using quarkus 2.7.5 with maven 3.8.5 does not generate the minikube.yml

Here's a link of the repoducer

https://github.com/lucamolteni/mvn385bug

### Expected behavior

See the minikube.yml file inside the target directory

### Actual behavior

No file is generated

### How to Reproduce?

Follow the step in https://github.com/lucam

[2022-03-30 15:29] geoand commented on #24644
Also cc @famod who has followed a Maven 3.8.5 issue that could be related

[2022-03-30 15:59] gsmet commented on #24613
@pjgg any chance you could check https://github.com/quarkusio/quarkus/pull/24645 fixes the problem for you?

[2022-03-30 16:00] famod commented on #24644
Yeah, that sounds *a lot* like https://issues.apache.org/jira/browse/MNG-7432
You'll have to wait for Maven 3.8.6 and/or use the followign workaround until then: https://github.com/quarkusio/quarkus/pull/24285#issuecomment-1067961676

[2022-03-30 16:19] gsmet commented on #19405
Oh one more thing: I'm perfectly fine with us taking drastic decisions and getting rid of the Scala support in codestarts. I just didn't want in the way of all the other moves I had to do so I didn't want to start a discussion about it then.

[2022-03-30 16:35] JHahnHRO opened #24646 "Async Events behave inconsistently on Exceptions"
### Describe the bug

If an event is fired (and observed) asynchronously, the returned CompletionStage behaves differently in the case of exceptions depending on the number of observers that threw exceptions. This violates the [CDI Spec, 10.5.1](https://jakarta.ee/specifications/cdi/3.0/jakarta-cdi-spec-3.0.html#async_exception).

### Expected behavior

Both test methods should be green.

### Actu

[2022-03-30 16:40] Traivor opened #24647 "Basic auth via OIDC"
### Description

It doesn't appear the OIDC extension supports Basic auth. This is supported by the Keycloak adapter and the generic OIDC adapter which is now in Wildfly.

My use case is that for testing it is way easier to type in a user/pass into swagger/Postman/whatever than constantly grabbing new tokens separately.

### Implementation ideas

_No response_

[2022-03-30 16:41] Traivor commented on #24647
I've tried combining with the elytron-security-properties-file extension and embedded users, but it seems to completely take over auth. I.e. any un-authed request gets a Basic challenge rather than redirecting to Keycloak.

[2022-03-30 16:42] patriot1burke commented on #24545
As I said before, the GC may not have run yet.  You also may not be releasing connections propertly?  I dont' know.  Hard to tell without more info.

[2022-03-30 16:52] radcortez commented on #24331
@abouhabb any chance you can provide a reproducer? Thanks!

[2022-03-30 16:59] Traivor commented on #24647
I should clarify that my app provides both REST endpoints and normal UI, so I need OIDC to do redirects on normal browser access while allowing Basic.

[2022-03-30 17:06] sberyozkin commented on #24647
@Traivor Also, I'd recommend https://quarkus.io/guides/security-openid-connect-dev-services

It will take care of getting the tokens for you and you can have Swagger UI seamlessly integrated into it

[2022-03-30 17:14] mschorsch commented on #23429
+1

[2022-03-30 17:16] famod commented on #24643
The Quarkus update to Maven 3.8.5 was [aborted](https://github.com/quarkusio/quarkus/pull/24285#issuecomment-1067942492) due to the same reason as described here: https://github.com/quarkusio/quarkus/issues/24644#issuecomment-1083325960

/cc @aloubyansky, I don't see how we can provide a better error message, given that the plugin cannot be loaded

[2022-03-30 17:28] Traivor commented on #24647
The first two options look plausible. Thanks!

The third...before I read through the whole page, do you know if it is possible to adapt this to production? I provide the swagger ui as an end user service.

[2022-03-30 17:36] sberyozkin commented on #24647
@Traivor Unfortunately `DevServices` are only available at dev-mode time.
But the first 2 options can be used in the production for sure

[2022-03-30 17:36] JHahnHRO commented on #24646
I still think this is a bug, but I have found that Weld shows the same behaviour as Arc: https://issues.redhat.com/browse/WELD-2711

[2022-03-30 17:43] rinmalavi opened #24648 "org.rocksdb:rocksdbjni:jar:6.22.1.1 used by kafka-streams:3.1.0 is not compiled for Mac Arm64"
### Describe the bug

One of deeper dependencies does not support Mac Arm64

 +- io.quarkus:quarkus-kafka-streams:jar:2.7.5.Final:compile
 |  \- org.apache.kafka:kafka-streams:jar:3.1.0:compile
 |     +- org.rocksdb:rocksdbjni:jar:6.22.1.1:compile

https://github.com/facebook/rocksdb/issues/7720

This issue is resolved

https://github.com/apache/kafka/commit/3904652b3e2dd2908ee30cff228041ce8050854

[2022-03-30 17:49] Traivor commented on #24647
Ah. Seeing reference to using an already running OIDC provider got my hopes up. Bummer.

I'll bend one of the other options to my will. Thanks for the help!

[2022-03-30 17:50] sberyozkin commented on #24647
@Traivor Np at all; We can try to optimize/improve further how multiple auth mechanims are combined - but IMHO it is the right approach for such cases

Cheers

[2022-03-30 17:51] gsmet commented on #24648
Well, that's really not something we can do anything about. It will be fixed when we upgrade Kafka.

Closing as it's really not a Quarkus issue. But thanks for providing the workaround in case someone looks for it.

[2022-03-30 17:51] #24648 closed

[2022-03-30 19:18] #24629 closed

[2022-03-30 19:19] rsvoboda commented on #24629
Thanks! PR is merged.

[2022-03-30 19:34] famod commented on #19405
@gsmet what about doing one more update for scala 2 (to 2.13.8) in Quarkus 2.9 and document in the migration guide that it will be the last one and user's will have to migrate to the quarkiverse extension?
I could do that update (CI looks ok in my fork), but I'd need to know how you tested debezium back then: https://github.com/quarkusio/quarkus/pull/10053#issuecomment-645444103

Someone would nee

[2022-03-30 19:42] michalszynkiewicz commented on #24630
interestingly, this looks a lot like https://bugs.openjdk.java.net/browse/JDK-8262095 which should be resolved in 17.0.2

[2022-03-30 19:47] mkouba commented on #24646
I think that it actually behaves as defined. If you look at the javadoc of `CompletableFuture` you can read:
[code]
So the cause is unwrapped.

I also think that the spec wording is a bit confusing. First of all, the section title is misleading: _"Handling **multiple** exceptions thrown during an asynchronous event"_ . The spec is clear that the `CompletionStage ` _"will complete exceptionally wit

[2022-03-30 19:51] michalszynkiewicz commented on #24375
@lthasle on your project, without any changes, I get the following. That is what you expect, no?
[code]

[2022-03-30 19:55] michalszynkiewicz commented on #24375
Hmm.. as your logging filter doesn't have a `@Priority`, and the headers factory is implemented with a filter itself, maybe the order of filters is not as you expect on your OS?
Can you try adding `@Priority(0)` to your filter? Or, perhaps even better, use the built in logging for rest client requests and responses?

[2022-03-30 20:08] michalszynkiewicz commented on #24630
It looks like it's going to be fixed in 17.0.3: https://github.com/openjdk/jdk17u/commit/ccb20347de5918ca6977cd470afee2398e6ff65f

[2022-03-30 20:21] michalszynkiewicz commented on #24630
I don't think there's anything we can do with it on the Quarkus side, I'll close this issue

[2022-03-30 20:21] #24630 closed

[2022-03-30 21:00] famod commented on #24644
This is now listed under known issues: https://maven.apache.org/docs/3.8.5/release-notes.html#known-issues

I'll close this because it's a thirdparty issue.

[2022-03-30 21:00] #24644 closed

[2022-03-31 01:34] gsmet commented on #17071
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkusio/quarkusio.github.io/actions/runs/2068362370

[2022-03-31 01:38] guoxunbo commented on #24619
ok.thanks. I had write some asm extention in my project. let me have a look this.
Thank's a lot.Love[抱拳]

[2022-03-31 05:28] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2069009195

[2022-03-31 06:09] jdtimmerman opened #24656 "Disabling OpenTelemetry breaks injection"
### Describe the bug

I have implemented OpenTelemetry in my application. I am also using it in some inner source library my application uses, for these libraries using OpenTelemetry is optional and dependency-wise I would like to stick to the opentelemetry-api.

To do this I `@Inject` an instance of OpenTelemetry in my beans. This works fine until I disable OpenTelemetry in my config file. The in

[2022-03-31 06:23] KerimYenidunya commented on #6590
is this issue really fixed? I can reproduce the given example by [Postremus](https://github.com/Postremus)

I am having a similar issue where connection is closed rather than returning a 413. So client gets Socket Exception: broken pipe.

[2022-03-31 06:33] lthasle commented on #24375
Thanks again for your effort
Strange! I get the same result as you with mvn.
but if I run MyTest. fail with my ide(eclipse) I don't see the Authorization header in the log.
But I see it when I run the other test: MyTest.ok

Using @Priority(0) don't do any change to the output.

"Built in logging for rest client" is new to me.
Is there a guide for this?

[2022-03-31 06:50] tobi-quarkus-coder commented on #24632
I digged deeper into this and found the following:
In resteasy "classic", there is a ContainerRequestFilter kicking in on patch requests called AbstractPatchMethodFilter which is implemented in resteasy-core.
I can't find this filter in resteasy-reactive.

[2022-03-31 07:21] ia3andy opened #24657 "[EPIC] Introduce the notion of app presets to ease generating Quarkus apps"
### Description
The goal of presets are:
- Make the growing list of Quarkus extensions easier to digest in the tooling (code.quarkus.io, CLI, ...)
- Speed up the process of creating specific apps (rest, cli, messaging, ...)

They would define a group of extensions (plus maybe some app settings) to be selected during app creation, or to be added on existing apps.

[2022-03-31 07:22] loicmathieu commented on #24619
As it's not a bug and the question was answer, I'll close this issue.
Please reopen it or ask qestion on Zulip or Github Discussion if you have more question

[2022-03-31 07:22] #24619 closed

[2022-03-31 07:25] ia3andy commented on #24502
I am assigning myself for the roadmap, it means I will make sure this gets done (not that I am going to implement it).

[2022-03-31 07:46] geoand commented on #24632
Thanks for the analysis. Indeed, we don't have that feature in RESTEasy Reactive, but we certainly welcome contributions

[2022-03-31 08:02] naah69 opened #24659 "RestClientBuilderResolver get Resolver from cdi or class"
### Description

i am developing dapr-extension.
i hope dapr-client can be adpter for rest-client.
when i view the code of  rest-client-extension.
the `BuilderResolver` was wrote in `RestClientRecorder`.
can it be configuration by cdi or class.
i just do write `BuilderResolver` and `DaprRestClientBuilder `   to complete it

<img width="741" alt="image" src="https://user-images.githubusercontent.co

[2022-03-31 08:06] mkouba commented on #24656
Well, `quarkus.opentelemetry.enabled=false` effectively disables the OpenTelemetry extension and so no CDI beans are registered. And I believe that this behavior makes sense and is expected. If you really need to inject `OpenTelemetry` and handle the case where extension is missing manually at runtime, you should try to use programmatic lookup via `javax.enterprise.inject.Instance`. I.e. `@Inject

[2022-03-31 08:08] lthasle commented on #24375
Strange ide behaviour.
Thanks for the guide, works fine with mvn, but not in my ide.
But I think we joust leave it, THANKS!

[2022-03-31 08:10] Tapaka opened #24660 "Allow reuse of containers via QuarkusTestResourceLifecycleManager or QuarkusTestResource"
### Description

Hi,

I posted a [question on SO](https://stackoverflow.com/questions/71680113/how-can-i-reuse-containers-during-integration-tests-with-quarkus?noredirect=1#comment126694045_71680113), @geoand told me it was not possible and to ask for the feature so here I am.

I'd like to be able to take advantage of the reuse feature of testcontainers through classes implementing QuarkusTestReso

[2022-03-31 08:24] mkouba commented on #24607
In that case, it's probably the right thing to do. We're not going to add anything related to the cluster mode to the `@Scheduled` annotation because it's only supported by the `quarkus-quartz` extension.

[2022-03-31 08:32] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/2069027288

[2022-03-31 08:39] machi1990 commented on #24607
I think this can be configured on per job level. I am a bit hesitant though going only this way and not having a backoff strategy and retry limits and the job might end up firing until it succeeds - potentially blocking the quartz thread.

[2022-03-31 09:23] josephearl opened #24661 "Validation annotations don't seem to work on a String body with quarkus-resteasy-jackson"
### Describe the bug

Given a resource like so:

[code]

I would expect to get a `400` when calling with a blank request body, but actually get a `201`

It works fine with `@PathParam` (get a `400` as expected with blank parameter):

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No respons

[2022-03-31 09:28] manovotn commented on #24646
So Arc appears to behave slightly differently (compared to Weld) and IMO incorrectly in that it skips aggregation under `CompletionException` when there is only one exception thrown. We should fix that.

[2022-03-31 09:52] Felk commented on #9354
Any news on this? Judging from https://github.com/hibernate/hibernate-orm/pull/3412#issuecomment-852180192 hibernate has updated to H2 version 2.x by now. Is anything blocking an upgrade to H2 2.x for Quarkus?

[2022-03-31 09:54] RuggeroDAlo commented on #24626
Is manually tagging people frowned upon? :smiley: @geoand @stuartwdouglas

[2022-03-31 09:58] geoand commented on #24626
@cescoffier any idea?

[2022-03-31 09:59] loicmathieu commented on #24660
@geoand yes, we have the issue with tests that have different profiles, Quarkus was restarted for each test and the containers also. I'm not sure it's the same issue here but having a way to specify that dev services containers are bound to the full test suite and survives application restart would be great !

[2022-03-31 09:59] JHahnHRO commented on #24646
Oh, so my Test using CompletableFuture was confusing the matter. If I rewrite them to this:
[code]

It seems that Weld makes the test cases green, but Arc still fails `testSingleFailure`

[2022-03-31 10:04] tsegismont commented on #24501
@jsmrcka most probably related to https://github.com/eclipse-vertx/vertx-sql-client/issues/1169

A fix is in preparation and we hope to be able to upgrade Vert.x to 4.2.7 in Quarkus soon after the release

[2022-03-31 10:08] gsmet commented on #9354
See https://github.com/quarkusio/quarkus/pull/24663

[2022-03-31 10:13] manovotn commented on #24646
Yep, that's what I am saying.
We'll fix it in Arc and I'll close the Weld issue.

[2022-03-31 10:16] faskan commented on #24609
Additional information: Note that it works fine with quarkus amazon rest api (quarkus-amazon-lambda-rest). I could see that the rest api implementation has an extra condition` event.getRequestContext().getIdentity() != null` that makes it work. `event.getRequestContext().getAuthorizer()` comes null for rest api as well.

[code]
I am not sure if there is something equivalent to **identity** availab

[2022-03-31 10:55] brielmayer commented on #24284
Thank you @patriot1burke, using "quarkus-amazon-lambda-rest" instead of "quarkus-amazon-lambda-http" resolved this issue!

[2022-03-31 10:58] geoand commented on #24661
I'll let @gsmet comment on this one as I he is the SME

[2022-03-31 11:07] geoand commented on #24661
FTR, `@RequestBody` comes from Spring and has absolutely no effect when using JAX-RS

[2022-03-31 11:08] geoand commented on #24659
I would first suggest looking at `quarkus-rest-client-reactive`, as that is the extension we will be focusing on going forward

[2022-03-31 11:12] josephearl commented on #24661
In this case the `@RequestBody` is from Open API (`org.eclipse.microprofile.openapi.annotations.parameters.RequestBody`), so just for documentation.

[2022-03-31 11:26] geoand commented on #24661
Ah ok, thanks

[2022-03-31 12:26] edeandrea commented on #24657
Call them recipes :) You want to bake a chocolate cake with vanilla frosting, you order that and the next day a box arrives at your door with the recipe and all the required ingredients pre-measured for you :)

[2022-03-31 12:29] JaquelineP opened #24667 "Update jackson-databind due to security issue"
### Describe the bug

The most recent version (2.7.5.Final) of the dependency io.quarkus:quarkus-smallrye-jwt contains jackson-databind (version 2.13.1). This version of jackson-databind contains CVE-2020-36518.

Here is a part of the mvn dependency:tree output:

[INFO] +- io.quarkus:quarkus-smallrye-jwt:jar:2.7.5.Final:compile
[INFO] |  +- io.smallrye:smallrye-jwt:jar:3.3.3:compile
[INFO] |  |  +

[2022-03-31 12:31] geoand commented on #24667
If dependabot does update tonight, I'll do it manually

[2022-03-31 12:32] JaquelineP commented on #24667
Okay, thanks.

[2022-03-31 12:43] fedinskiy commented on #24277
Which version of Quarkus will contain this fix? The issue still can be reproduced for 2.7.5.Final

[2022-03-31 12:55] geoand commented on #24667
NP

On Thu, Mar 31, 2022, 15:32 JaquelineP ***@***.***> wrote:

[2022-03-31 13:01] rsvoboda commented on #24277
https://github.com/quarkiverse/quarkus-config-extensions/commits/1.0.2 contains `Disable the async DNS resolver when starting the Vert.x instance` commit

[2022-03-31 13:12] gsmet commented on #24667
It already has been updated there: https://github.com/quarkusio/quarkus/pull/24554 and backported to 2.8.0.Final which will be released next week.

[2022-03-31 13:12] #24667 closed

[2022-03-31 13:14] geoand commented on #24667
Great, thanks

[2022-03-31 13:14] geoand commented on #24277
Thanks @rsvoboda. Wasn't at my machine

[2022-03-31 13:15] u6f6o commented on #19359
We decided to pin the micrometer version to 1.7.0 in the build.gradle file:
[code]
So far we did not see any issues with this approach and the cpu spikes are gone as well. Use at your own risk though :-)

[2022-03-31 13:30] manofthepeace commented on #23979
Hi I have a need in my application that would need an even more broader solution that the one proposed in the PR. I was playing it it myself but could not make it work. I would be nice if in fact any Jax-rs resource could have it's own ObjectMapper, on demand.

In my, again, special case. I have 2 rests clients, and both are from different hosts. One returns time in a long format (millis), the oth

[2022-03-31 13:47] agreedSkiing opened #24670 "Vertx-http access log rotate on file size"
### Description

Whilst doing some load testing on a clone of our production environment we noticed that our quarkus pod in our kubernetes cluster got evicted quite a lot since the access log rotates daily instead on file size. Our enviroment has a 200MiB file storage for each pod to keep log files in.

Is it possible to add an option to rotate the file on file size also?

### Implementation ideas

[2022-03-31 13:55] ia3andy opened #24671 "Make it possible to resume on 404 instead of mapping with RESTEasy classic and reactive"
### Description

In the experimental [Quinoa](https://github.com/quarkiverse/quarkus-quinoa) extension, in dev mode, I need a behavior where my Handler catches everything that isn't successfully handled by other extensions. The idea is that all those not found requests should be forwarded to a node dev server.

Currently, RESTEasy Reactive has a flag for it:
https://github.com/quarkusio/quarkus/bl

[2022-03-31 13:57] ia3andy commented on #24671
I am not sure if the issue is the same, but mentioning as it's similar: https://github.com/quarkusio/quarkus/issues/5236

[2022-03-31 14:47] u6f6o commented on #19359
@gsmet : I suppose you are interested in the cpu flame graphs, right? We have kubectl-flame in place, which under the hood uses async-profiler. There is one thing so, I can only use -itimer for the flame graphs:

Is this a problem? Which versions would you be interested in:

- quarkus 2.7.5 with micrometer 1.7.0
- quarkus 2.7.5 with micrometer 1.7.2 (I belive this is the first one that shows cpu s

[2022-03-31 14:55] gsmet commented on #19359
CPU and allocations would be great if you can get them.
Ideally closer versions of everything that exhibits a working and non-working behavior so your proposal looks good if you observe the issue with `quarkus 2.7.5 with micrometer 1.7.2`.

[2022-03-31 15:19] zhfeng opened #24675 "Could not find artifact io.quarkus:quarkus-smallrye-health-spi:jar:2.8.0.Final"
### Describe the bug

When I upgrade to quarkus 2.8.Final, the build is failing with
[code]

I just curl with https://repo.maven.apache.org/maven2/io/quarkus/quarkus-smallrye-health-spi/2.8.0.Final/quarkus-smallrye-health-spi-2.8.0.Final.jar and it returns 404.

So it might be an issue with maven central repo but can anyone check it ?

### Expected behavior

It should be success to get ```io.quark

[2022-03-31 15:22] FroMage commented on #23593
I found how to test it, apparently the code verifier must be hashed with sha-256 to get the code challenge.

But if I use https://gchq.github.io/CyberChef/#recipe=From_Base64('A-Za-z0-9-_',true)SHA2('256',64,160)From_Hex('Auto')To_Base64('A-Za-z0-9-_')&input=aXRhWUY3S0lWdE1nR25yRGFQeHQyYTU0bGlKTFc2OFM0LUE1M2xkb0VpNA I don't see `sha256(itaYF7KIVtMgGnrDaPxt2a54liJLW68S4-A53ldoEi4)` producing `Qn4o2

[2022-03-31 15:35] zhfeng commented on #24675
Thanks @Ladicek and I think so. I'm just missing this message from quarkus-dev.

[2022-03-31 15:35] #24675 closed

[2022-03-31 15:51] zhfeng commented on #24659
@naah69 @geoand so we need to register a implementation class in ```dapr-client/runtime/src/main/resources/META-INF/services/org.eclipse.microprofile.rest.client.spi.RestClientBuilderResolver``` and ```quarkus-rest-client-reactive``` could inject it in the jaxrs methods ?

[2022-03-31 15:53] insectengine commented on #24657
In the future, it would also be interesting to see a config option for users to create their own combinations.

[2022-03-31 15:53] lburgazzoli opened #24676 "kubernetes: allow to customize the container name"
### Description

As today the name of the `container` that the Kubernetes generates matches the name of the `artifactId` or the value of `quarkus.kubernetes.name` if that's set however the same value is used to set i.e. the name of the generated deployment resources.

In essence it behave as:

[code]

But in some cases, it is needed to set a specific name to a container and as today that's only po

[2022-03-31 15:53] sberyozkin commented on #23593
Thanks @FroMage, I'll have a look asap (the issue about improving the debugging experience is open so will be addressed a bit later too :-) )

[2022-03-31 16:05] argenstijn opened #24677 "OIDC client: new token on forbidden"
### Description

Would be nice if the OIDC client would support the following:

The OIDC client can be configured to perform a single retry on requests that return status code 401 (Forbidden). When the option flag: refreshTokenOnForbidden is set to true, then the client will perform a new token request retry the original request before passing the response to the user.

See https://vertx.io/docs/v

[2022-03-31 16:22] jerboaa commented on #24630
If it is [JDK-8262095](https://bugs.openjdk.java.net/browse/JDK-8262095), though, it's weird that it reproduces with `17.0.2`. The bug is fixed in `17.0.2` :-/

[2022-03-31 16:29] geoand commented on #24676
Seems reasonable to me

[2022-03-31 16:35] jerboaa commented on #24630
I cannot reproduce with `17.0.3+5` (early access currently). So it should be fixed once `17.0.3` ships in April 2022. For now you can use a build from here to verify it's fixed (worked for me): https://adoptium.net/temurin/nightly/

[2022-03-31 17:42] sberyozkin opened #24678 "Use single key OIDC JWK set if the tokens and the key have no key id and certificate thumbprint"
### Description

Providers such as https://github.com/IdentityPython/SATOSA do not return a JWK set with the keys whose properties contain `kid` or the certificate thumbprint. Tokens issued from such providers (possibly federated from interposed SAML providers) may have no `kid` or the cert thumbprint either.

`quarkus-oidc` rejects such tokens because it does find a matching key.

However if the

[2022-03-31 17:47] ivansenic commented on #2490
Would this also cover the validation of `@ConfigMapping` at the startup, as currently this is not done and I can start the application with invalid properties in the `@ConfigMapping`, which would fire the validation exception once the invalid value is first accessed?

[2022-03-31 18:01] sberyozkin commented on #24677
@argenstijn Hi, a single optional retry can be of interest - but there is a danger of a loop when doing it with 401 - 401 can be returned not because the token has expired but if it does not pass some verification check (signature, issuer, audience, etc). So the client will get a new token - will get the same  401, and the loop starts.
Besides, I don't think it is even technically possible - the r

[2022-03-31 18:28] #24646 closed

[2022-03-31 19:24] #23064 closed

[2022-03-31 20:47] manofthepeace commented on #24276
I thought I did a mistake by using Arc to get a config mapping. So I have changed this;
`MyConfig config = Arc.container().instance(MyConfig.class).get();`
to
`MyConfig config = ConfigProvider.getConfig().unwrap(SmallRyeConfig.class).getConfigMapping(MyConfig.class);`

I still get an exception albeit a little different.

Help would be appreciated. Thanks

[code]

[2022-03-31 20:49] Tibor17 commented on #24643
Hello guys.
I would like to invite you to Vote for Surefire/Failsafe Maven Plugin 3.0.0-M6.
https://lists.apache.org/thread/60j5vr86y9o24yoj4665gy1rylb7865g
Many people are asking me when we will release the final version 3.0.0. After over one decade of development, we are in the phase where we are not able to fix some issues without reworking some code internals and that's the reason why we have

[2022-03-31 21:05] Tibor17 commented on #24643
Sunday 3pm is the end of the Vote.

[2022-03-31 22:25] famod commented on #24660
@Tapaka
We are not taking about dev services, are we?
So you implement QuarkusTestResourceLifecycleManager, creating/starting a testcontainer instance _on your own_, right?

In that case I'm wondering what Quarkus could do for you?

Food for thought: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Test.20resources.20are.20re-runned.20when.20using.20test.20profiles

[2022-04-01 01:57] gsmet commented on #17071
Build fixed:
* Link to latest CI run: https://github.com/quarkusio/quarkusio.github.io/actions/runs/2074576921

[2022-04-01 02:55] aomsweet opened #24685 "Block scheduled task execution when running tests"
### Description

Hi, Now when you run the test, all scheduled task methods will be executed automatically. I wish there was a way to stop it, but now it seems impossible, or did I miss anything?

[code]

[code]

### Implementation ideas

_No response_

[2022-04-01 05:58] geoand commented on #24676
@iocanel is there a decorator that performs this update?

[2022-04-01 06:00] geoand commented on #24659
If you provide an implementation of that SPI, then the Reactive REST Client won't be used.

As I am unclear what the end goal is, can you provide some examples of what you are looking to do?

[2022-04-01 06:04] geoand commented on #24685
I think it would be very reasonable to provide a configuration switch for this. @mkouba @machi1990 WDYT?

[2022-04-01 06:41] mkouba commented on #24685
@aomsweet Did you try to disable the scheduler for the test profile, i.e. `%test.quarkus.scheduler.enabled=false`?

[2022-04-01 06:43] geoand commented on #24685
I completely missed that property myself... 🤦🏼

[2022-04-01 06:47] Postremus opened #24686 "main - Banner is not displayed"
### Describe the bug

Since #24635, the default banner is not displayed anymore on startup of quarkus on windows.

I only get the message that the banner file could not be read.

### Expected behavior

[code]

### Actual behavior

[code]

### How to Reproduce?

Download any quickstart.

Change quarkus version to 999-SNAPSHOT.
mvn quarkus:dev

No banner is displayed

### Output of `uname -a` or `ve

[2022-04-01 06:48] Postremus commented on #24686
I assigned myself since I already have an idea for a fix.

[2022-04-01 06:52] machi1990 commented on #24685
+1. The property can also be overridden using `TestProfiles`.

Additionally, the `Scheduled` has a `skipExecutionIf` predicate. One can create a `DoNotRunSchedulerInTestProfile` that leverages the `quarkus.profile` for example or some other way specific to the application of detecting if tests are running.

[2022-04-01 07:08] zhfeng commented on #24659
I think they are looking to use dapr-client to replace the quarkus rest client. @naah69 is it your idea ?

[2022-04-01 07:45] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/2075257463

[2022-04-01 08:09] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2075234794

[2022-04-01 08:41] timhurkmans commented on #24630
Thank you for looking into this.

The `17.0.3+5` beta works. I guess the JDK-8262095 / JDK-8274904 backport has just been mislabelled, as the commit is done after 17.0.2.GA.

Thank you for pointing me to [](https://bugs.openjdk.java.net/) as the url in the error message [](https://bugs.java.net/) does not find anything when searching for parts of the exception message, even though there are bug re

[2022-04-01 08:52] jerboaa commented on #24630
No, the fix is something else that must have gone into 17.0.3/18. I haven't done the analysis what it was. JDK-8262095 is in `17.0.2+1` and better. It's definitely not the bug that fixed this.

[2022-04-01 09:00] zambotn commented on #8136
Having a query language that can work agnostically, in both Mongo and RDBMS, would be very nice.

For the same reason, I'm also quite interested in the **query by example** feature (which is closer to query RDBMS in the "mongo-way"); it is a very _compact_ way to perform typed queries and it doesn't add too many lines of code. This is pretty important since the reactive way of implementing service

[2022-04-01 09:03] sberyozkin commented on #24677
Closing it because:
* OIDC client refreshes the tokens which it knows have expired before propagating them; and the tokens which will expire within the configured `quarkus.oidc-client.refresh-token-time-skew` period will also be refreshed before being propagated.
* Automatically refreshing a token on getting 401 is risky - in all but the expired token verification problems the error will not be se

[2022-04-01 09:03] #24677 closed

[2022-04-01 09:19] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2075234794

[2022-04-01 11:39] geoand commented on #22119
https://github.com/quarkusio/quarkus/pull/24687 fixes the problem

[2022-04-01 11:57] kottmann commented on #13611
I have the same issue, the S3Client can be used via @Inject as done in the example here: https://quarkiverse.github.io/quarkiverse-docs/quarkus-amazon-services/dev/amazon-s3.html

But this unfortunately doesn't work for the S3Presigner which I would like to use with the identical configuration.

[2022-04-01 12:01] Ladicek commented on #23549
I recently found why classic RESTEasy had to implement interceptors on its own. Their implementation of MP RestClient scans for the RestClient interfaces and for each, registers a synthetic bean (backed by a `java.lang.reflect.Proxy`). Since synthetic beans don't get intercepted, they just implemented interception manually. That implementation also affects instances created by `RestClientBuilder`,

[2022-04-01 12:48] dmlloyd commented on #2490
I think that would make sense. One never really wants to start up an application with an invalid configuration, since that could introduce security vulnerabilities (among other problems).

[2022-04-01 13:17] srigano opened #24694 "smallrye.mutiny.TimeoutException when trying to connect to redis in Sentinel mode"
### Describe the bug

I'm using quarkus 2.7.5.Final.
With redis client, In standalone mode, it works fine:

![image](https://user-images.githubusercontent.com/43664834/161269441-0d128e81-ce3d-4286-ad90-90a41a71ffff.png)

but in sentinel mode it doesn't work:

![image](https://user-images.githubusercontent.com/43664834/161269781-7e32d89c-33d8-444f-b3a6-000cd24f7c80.png)

i think this issue could co

[2022-04-01 13:19] metacosm opened #24695 "Native compilation issue with Apple M1"
### Describe the bug

Playing with native compilation on M1 Mac. The same Java code works fine on Intel but fails on M1 at runtime with the following error:

[code]

The code can be found at https://github.com/quarkiverse/quarkus-operator-sdk, in particular the `samples/exposedapp` operator.

### Expected behavior

Native compilation should work just as well on Intel and M1 chips… ;)
(Of course, t

[2022-04-01 13:30] michalszynkiewicz commented on #23549
Actually, I'm exploring similar ideas in the works on fault tolerant client. So maybe we'll get to support for this or something similar, but that would be a separate extension, in the quarkiverse.

[2022-04-01 13:35] geoand commented on #24695
cc @gastaldi

[2022-04-01 13:50] Ladicek commented on #23549
I assume that will again only be for CDI beans, right?

[2022-04-01 14:26] #24621 closed

[2022-04-01 14:56] #22119 closed

[2022-04-01 14:56] geoand commented on #24626
Thanks @cescoffier !

[2022-04-01 16:04] danielbobbert opened #24697 "DEV mode fails when using classified dependencies"
### Describe the bug

My project uses a maven dependency (jar) that has a <classifier>. The project compiles, tests, and executes just fine. But the Quarkus DEV mode fails to start because of an exception while assembling the project.

### Expected behavior

Quarkus DEV mode should work as expected even if some dependencies use a classifier to select the proper jar.

### Actual behavior

"mvn clea

[2022-04-01 17:20] sberyozkin commented on #23593
@FroMage

[code]

gives `Qn4o2CWmZkhjFO8YimcLkrn38K4hVTV06J2a0b8BbNM`.

This is the code used in `CodeAuthenticationMechanism`:
[code]

[2022-04-01 17:25] sberyozkin commented on #23593
@FroMage

They should be referring to `code` here, but the error can be caused because they can not match the code verifier with the code challenge, or possibly, if you were debugging, breakpoint after a redirect then some time is spent on debugging, then the POST is done, then it is possible a code has expired.

[2022-04-01 17:37] sberyozkin commented on #23593
@FroMage See https://twittercommunity.com/t/value-passed-for-the-authorization-code-was-invalid/164422, looks like the `code` has 30 secs limit, can you try again please without any breakpoints ? Can you open please a twitter community forum thread if it does not work ? (perhaps they can confirm that it is not SHA256 but plain SHA digest is expected, or may be they use URL encoder with padding ena

[2022-04-01 17:39] geoand commented on #24659
Indeed we don't have an integration point. I suppose we could add an SPI, but in all honesty, we are moving away from the `quarkus-rest-client` to `quarkus-rest-client-reactive`.
WDYT @michalszynkiewicz ?

[2022-04-01 18:20] #22567 closed

[2022-04-01 18:31] abstractj opened #24701 "Update Infinispan to 13.0.8"
### Describe the bug

The dependency present in the Infinispan version used by the Quarkus is impacted by CVE-2021-43859. The simple fix is to upgrade.

### More details

- [GitHub Commit](https://github.com/x-stream/xstream/commit/e8e88621ba1c85ac3b8620337dd672e0c0c3a846)
- [XStream Advisory](https://x-stream.github.io/CVE-2021-43859.html)
- Already updated on Keycloak https://github.com/keycloak

[2022-04-01 18:54] kdubb commented on #13611
@kottmann I added the `S3Presigner` to the AWS library a few versions ago. You should be able to inject it and it will use the same config as S3.

[2022-04-01 20:21] JOSUERV99 commented on #24284
Hi, I am in the same situation, but I need to use the HTTP version, what can I do to solve the error?

[2022-04-01 20:22] mchristiansen opened #24704 "Gradle quarkusIntTest and testNative tasks should not depend on check"
### Describe the bug

The `quarkusIntTest` and `testNative` gradle tasks add a dependency on `check`. I believe this dependency is backwards - `check` should instead depend on the `Test` tasks.

This causes a circular dependency issue with our build because we run a `jacocoCoverageVerification` task after all test tasks and `jacocoCoverageVerification` is set as a dependency of `check`.

Relevant

[2022-04-01 21:58] famod commented on #24697
@aloubyansky I think what makes this stand out is the fact that there is _no unclassified_ primary artifact.
_All_ artifacts of the respective module are classified (the reproducer has only one).

[2022-04-02 01:54] aomsweet commented on #24685
@machi1990 @mkouba @geoand  Thanks,

`%test.quarkus.scheduler.enabled=false` is ok.

Inspired by this, I created `DoNotRunSchedulerInTestProfile` and set `skipExecutionIf = DoNotRunSchedulerInTestProfile.class` on `@Scheduled`, it work fine.
[code]

[code]

[2022-04-02 01:54] #24685 closed

[2022-04-02 06:17] guoxunbo commented on #9284
@geoand  hello. I had saw this.But I don;t konw how to get multipart/form-data info in filter?

[2022-04-02 06:18] guoxunbo commented on #9284
@aguilardias do to get multipart/form-data info in filter? Can you tell me how to get these info?

[2022-04-02 06:32] guoxunbo commented on #24619
@loicmathieu ok. Thanks.how to join your zulip or Github Discussion? I have some question want to ask you for some advice.

[2022-04-02 08:04] glefloch commented on #24704
Thanks for reporting this @mchristiansen I will change dependency

[2022-04-02 08:42] maxandersen commented on #24502
updated description to try capture the different aspects.

[2022-04-02 08:47] maxandersen commented on #24657
recipes implies steps - thus albeit I like the name these are just providing the ingredients to make the cake :)

[2022-04-02 09:03] geoand commented on #24502
Thanks

[2022-04-02 15:25] kenyee commented on #16885
does this work for unit tests? I do this and it doesn't seem print the params with Quarkus 2.7.5.Final or 2.8.0.CR1:
[code]
Also tried adding it to %dev w/o luck

[2022-04-02 16:37] geoand commented on #9284
What info do you need?

[2022-04-02 20:01] Postremus opened #24712 "dev mode Startup time regression between 2.7.5.Final and 2.8.0.CR1"
### Describe the bug

I noticed a slight regression in dev mode startup time between 2.7.5.Final and 2.8.0.CR1.
A bit of testing showed cf388350609ff4b108dacd09a187523d35b6fc4c (#24398) as main contributor.

average of 3 runs:
2.8.0.CR1
mvn quarkus:dev: 2170ms
force restart (s) 532ms

2.7.5.Final
mvn quarkus:dev: 1850ms
force restart (s) 189ms

2.8.0.Final and 2.8.0.CR1 behave the same regarding d

[2022-04-02 20:02] Postremus commented on #24712
/cc @mkouba

[2022-04-03 00:53] evilezh commented on #23429
qq, any moevement with this. I want to move away from spring boot, but this little enhancment is holding back. :)

[2022-04-03 07:12] prtnv opened #24713 "Generated class with websockets codestart always has package `ilove.quark.us`"
### Describe the bug

Generated class with websockets codestart always has package `ilove.quark.us` instead of another specified package to generator

### Expected behavior

Class StartWebSocket has the specified package

### Actual behavior

Class StartWebSocket has package `ilove.quark.us`

### How to Reproduce?

1.
[code]
2.
[code]

### Output of `uname -a` or `ver`

_No response_

### Output o

[2022-04-03 08:13] cescoffier commented on #23429
There are some ongoing discussions: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Non-application.20endpoints.20on.20different.20port.

[2022-04-03 11:05] fernandobalieiro opened #24715 "Rest Client does not automatically register a Provider for sending application/x-www-form-urlencoded Media Type"
### Describe the bug

When creating a REST Client for sending application/x-www-form-urlencoded Media Type to an upstream, no providers are automatically registered.

They are automatically registered only if an annotation `@Consumes(MediaType.APPLICATION_FORM_URLENCODED)` is also present in some endpoint, in other words, if the project also serve requests, which is not always the case.

### Expec

[2022-04-03 12:19] #24701 closed

[2022-04-03 12:40] debu999 opened #24716 ""ObjectIdInput" must define one or more fields - Quarkus GraphQL - MongoDB"
### Describe the bug

Hi Team,
Can not serialize Graphql and ObjectID for Mutation . Need a fix to do conversion from ObjectId to String may be via custom Type registration.

### Expected behavior

ObjectID should be allowed as string in graphql and implicitly converted to ObjectId in the resolver method.
@AdaptToScalar(Scalar.String.class) Should do implicit conversion for ObjectIdInput creation

[2022-04-03 12:48] danielbobbert commented on #24697
I have extended the project internally so that the library produces a default artifact and a classified artifact. Still, when using the classified artifact, quarkus dev mode fails with the same stacktrace mentioned above.

[2022-04-03 12:48] cescoffier opened #24717 "smallrye-reactive-messaging-Allow metadata injection for method receiving payload"
(From https://github.com/smallrye/smallrye-reactive-messaging/issues/593)
For method receiving payload (list below), we should support the injection of message metadata:

[code]

Note that a message can be multiple metadata objects, so multiple parameters can be injected:

[code]

Also, because metadata can be missing, we should add support for `Optional`:

[code]

This would also mean that if `Op

[2022-04-03 12:48] cescoffier opened #24718 "smallrye-reactive-messaging-Feature Request: Customizing the underlying MQTT client"
(From https://github.com/smallrye/smallrye-reactive-messaging/issues/693)
Hi,

a similar feature for the mqtt like: https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2.2/amqp/amqp.html#amqp-customization would be very helpful.

At the moment I need to convert a ca.crt to a java key store to use it for the mqtt connection.
But it would be nice to have the option to use it

[2022-04-03 12:48] cescoffier opened #24719 "smallrye-reactive-messaging-MQTT - Add metadata support"
(From https://github.com/smallrye/smallrye-reactive-messaging/issues/466)
The MQTT connector should provide inbound and outbound metadata classes instead of a `MqttMessage`

[code]

[2022-04-03 12:49] cescoffier opened #24720 "smallrye-reactive-messaging-Introduce failure management bean"
(From https://github.com/smallrye/smallrye-reactive-messaging/issues/438)
The idea is to catch the processing failure of the following method shapes:

*  `X process(Y)` and  `Message<X> process(Message<Y>)`
* `CompletionStage<X> process(Y)` and `CompletionStage<Messasge<X>> process(Message<Y>)`

When a failure happens (synchronously or asynchronously), a `FailureHandler` bean is called with the fa

[2022-04-03 12:49] cescoffier opened #24721 "smallrye-mutiny-Migrate to Jakarta and MicroProfile Reactive Streams Operators 3.0"
(From https://github.com/smallrye/smallrye-mutiny/issues/891)
Migrate to Jakarta namespace, especially update to MicroProfile Reactive Streams Operators 3.0.

[code]

[2022-04-03 12:49] cescoffier opened #24722 "smallrye-mutiny-Move the website to MkDocs and adopt the Diátaxis Framework"
(From https://github.com/smallrye/smallrye-mutiny/issues/868)
See:

- https://squidfunk.github.io/mkdocs-material/
- https://diataxis.fr/

[code]

[2022-04-03 12:49] cescoffier opened #24723 "smallrye-mutiny-Use Java 11 as a baseline"
(From https://github.com/smallrye/smallrye-mutiny/issues/839)
- The Mutiny 1.x series will continue to require Java 8.
- Requiring Java 11 is considered as a major breaking change, so when we do that we will bump to the 2.x series.
- Once 2.0.0 is out we will consider supporting the final `1.x` release with important bug fixes.

[code]

[2022-04-03 12:59] gsmet commented on #24723
Hmmm, why do we need a Quarkus issue for that? If we start doing that for each upstream project, it's going to be a nightmare?

[2022-04-03 13:00] gsmet commented on #24723
Same question for all the issues you just created, really.

[2022-04-03 13:04] gsmet commented on #24712
@Postremus do you have some profiling data for before/after? The problem is not immediately obvious even with the commit.

[2022-04-03 15:29] cescoffier opened #24724 "smallrye-mutiny - Replay last N items"
(From https://github.com/smallrye/smallrye-mutiny/issues/536)
Rx has a concept of `BehaviorSubject` and `ReplayingSubject`, which are quite similar and serve a very useful purpose: pre-seed a subscriber with last known value[s] / initial value[s] at the moment of subscription. I think we could unify them under an API like this:

[code]

Calling it `replayingAtMost` to highlight that if you set 5 i

[2022-04-03 15:34] #24724 closed

[2022-04-03 16:04] cescoffier opened #24725 "List kafa.* properties in the all-config and Dev UI"
### Description

At the moment, the all-config page does not have the `kafka.` properties. We should list them, or at least some of them.

Kafka configuration is unbounded, so we cannot list everything, but the most used properties should be listed and described.

### Implementation ideas

_No response_

[2022-04-03 16:06] cescoffier commented on #24725
@ozangunalp I was thinking to list all the properties with the importance set "high" on the Kafka config, except of course serializers and deserialisers. WDYT?

* https://docs.confluent.io/platform/current/installation/configuration/consumer-configs.html
* https://docs.confluent.io/platform/current/installation/configuration/producer-configs.html

[2022-04-03 16:08] cescoffier opened #24726 "Document how to use Azure Service Hub (using the Kafka protocol)"
### Description

Add a section in the Kafka reference guide that covers configuring the application to use the Azure Service hub.

### Implementation ideas

Here is what should be added:

[code]

@agoncal Is `$ConnectionString` really `$ConnectionString` or a substituted variable?

[2022-04-03 16:10] WillSmithTE opened #24727 "Broken docs example Dockerfile"
### Description

From this guide https://quarkus.io/guides/building-native-image

The Dockerfile under "Sample Dockerfile for building with Gradle:" is broken. Line 4 is missing "gradle" so docker won't be able to build it.

### Implementation ideas

Add "gradle"

[2022-04-03 16:19] ozangunalp commented on #24726
@cescoffier no, username="$ConnectionString" is not a substituted variable.

[2022-04-03 16:25] ozangunalp commented on #24725
@cescoffier it'll be too much but I think we better include "medium" as well, connection security related configs are on medium level. There are even a couple of low ones to include like producer acks.

[2022-04-03 16:57] debu999 commented on #24716
Is there any way to make custom Scalar for any datatype to map as input and output. Scalars are good features. need the details on how to register the same for Custom objects.

[2022-04-03 17:59] Postremus commented on #24712
Flamegraphs of a quarkus:dev run:

[flamegrpahs.zip](https://github.com/quarkusio/quarkus/files/8405197/flamegrpahs.zip)

Search for "ArcProcessor\.generateResources".
2.7.5.Final: 1.54%
2.8.0.CR1: 4.42&

[2022-04-03 17:59] mschorsch opened #24728 "HttpSecurityRecorder does not honor root-path"
### Describe the bug

If the `quarkus.http.root-path` is changed, this is not taken into account when specifying `quarkus.http.auth.permission.authenticated.paths`.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

[reproducer.zip](https://github.com/quarkusio/quarkus/files/8405187/reproducer.zip)

1. http://localhost:8080/hello => User will be asked

[2022-04-03 18:24] #24704 closed

[2022-04-03 19:40] #24686 closed

[2022-04-03 22:57] phillip-kruger commented on #24716
You can map an Object to a scalar in certain cases (see https://quarkus.io/guides/smallrye-graphql#mapping-a-complex-object-to-a-scalar-type) . Note that the `@ToScalar` has changed to `@AdaptToScalar`

or you can write your own adapter, here is an example:

Usage: https://github.com/smallrye/smallrye-graphql/blob/8cd464aa017fa40f963fb76420a809e571cf0ade/server/tck/src/test/java/io/smallrye/graphq

[2022-04-03 23:02] phillip-kruger commented on #24716
Also note that adapt to scalar only work in certain cases, like if a contructer exist to be able to create the object from the scalar, or a static from string method

[2022-04-04 04:48] geoand commented on #24727
@WillSmithTE thanks for reporting!

Since you seem to already know how to fix it, by providing a Pull Request where you update https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/building-native-image.adoc?

Thanks

[2022-04-04 04:51] geoand commented on #24715
Does this work if you use `quarkus-rest-client-reactive` instead of `quarkus-rest-client`?
Asking because all our efforts are focused on the former and the latter is slowly going to be phased out

[2022-04-04 05:12] #24626 closed

[2022-04-04 06:03] cescoffier commented on #10354
@gsmet @ebullient

This issue was planned for Q1, but it seems to be mostly done. Is anything else still required?

[2022-04-04 06:04] cescoffier commented on #24502
Postponing this issue to Q2 2022 (it was planned for Q1 2022, and didn't get done in time).

[2022-04-04 06:06] cescoffier commented on #6677
I love the title of this issue (that I'm just discovering). I think we should clarify our strategy around:

1. container creation
2. kubernetes deployment (including OpenShift)

Based on this, we can decide what needs to be done for this issue.

[2022-04-04 07:01] mkouba commented on #24712
This is kind of expected. We need to wrap every construction of a _removed_ bean info with a `try-catch block` and in the reprodurer there is 82 removed beans. So the generated bytecode is more complex. From the flame graphs it seems that it's `Frame#merge()` that takes the most time. I'm not sure if we could do something about that? CC @stuartwdouglas @FroMage

[2022-04-04 07:06] mkouba commented on #24712
FTR the reproducer seems to use quarkus 1.13.1.Final in the pom ;-)

[2022-04-04 07:14] juanmbellini commented on #20891
In my case I have the issue when instantiating a record. If record is declared, but the instantiation is not called, then native-image works.

[2022-04-04 07:23] evacchi commented on #8593
@ricardozanini @wmedvede apparently something is still broken on serverless workflow

[2022-04-04 07:24] mkouba commented on #24712
So I've tried to split the bytecode that loads removed beans into larger number of smaller methods (previously 82 bens got split into 5 methods and now it's split into ~ 17 methods) and the problem with `MethodWriter#computeAllFrames()` and `Frame#merge()` seems to be gone. I'll send a draft PR so that @Postremus can verify my findings...

[2022-04-04 07:35] varun-vajpayee commented on #22684
JUST ADD @PreMatching
under @Provider annotation, this works for me
![image](https://user-images.githubusercontent.com/46713905/161495745-cb5db84f-1900-4ded-8d29-9b2d44fb2357.png)

[2022-04-04 07:36] wmedvede commented on #8593
@evacchi
This was fixed in kogito-runtimes main branch and I personally merged the fix Yesterday.
In the log I can see the old error below. Can you please let me know if the fix must be applied in some other branch?

Error:  Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.227 s <<< FAILURE! - in org.kie.kogito.quarkus.workflows.CallbackStateIT
Error:  org.kie.kogito.quarkus.workf

[2022-04-04 07:46] agoncal commented on #24726
@cescoffier username="$ConnectionString"  is really like that (I found it weird at the beginning). It's a reference to the connection string.

[2022-04-04 07:56] evacchi commented on #8593
ah that's right. we just need to ensure that the fix is in the next platform PR.

1.19 has already been released, so it is either 1.19.1 or 1.20, whichever comes first

[2022-04-04 08:03] michalszynkiewicz commented on #24659
For the classic rest client, it seems that adding an option to customize the `ClientHttpEngine` wouldn't be that difficult...

For the reactive variant, I don't think the vertx http client could be easily swapped with something else.

@naah69 , what do you gain by replacing the engine with dapper?

[2022-04-04 08:10] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2087788306

[2022-04-04 08:24] wmedvede commented on #8593
@evacchi ,   @ricardozanini
Ok, so to summarize:

1) the fix was merged into kogito main
2) kogito 1.20.x branch will be created today o tomorrow
3) so in a couple of days, depending on kogito release cicle, kogito1.20.0.Final will be released and the corresponding PR with the updates will be sent to the quarkus-platform

If you need any other action from my side guys just let me know.

[2022-04-04 09:05] NathanSchmid commented on #14927
For me the problem with this is not the startup time but the coupling that is introduced that is in contradiction to test units in isolation.
I'd like to test my service classes in independence of the communication layers (REST, kafka messaging, ...) I use to access them. Depending on the complexity of the service I decide which dependencies of my service I mock. Sometimes these are just external

[2022-04-04 09:14] mkouba commented on #22142
@xtaixe would you care to verify that the problem still exists?

[2022-04-04 09:24] kottmann commented on #13611
Thanks for implementing it @kdubb! I wasn't on the latest version (1.0.2), but with 1.0.5 it is there and just works.

[2022-04-04 09:35] evacchi commented on #21598
raising this at our next meeting

[2022-04-04 10:08] mkouba commented on #24137
We would have to introduce some kind of "expression evaluated callback" in order to implement this correcly.

Alternatively, we could bind a `@Dependent` bean to the lifecycle of a `TemplateInstance` or even to a particular rendering operation. In this case we would have to introduce a counterpart to `io.quarkus.qute.TemplateInstance.Initializer` or similar mechanism.

[2022-04-04 10:10] argenstijn commented on #24677
@[sberyozkin](https://github.com/sberyozkin)

Not totally agree.

1. Loop is not dangerous as long as you retry only oonce. Like the solution of Vert.x: https://vertx.io/docs/vertx-web-client/java/#_oauth2_security option refreshTokenOnForbidden

2. The solution quarkus.oidc.refresh-token-time-skew will only make sure it will happen less but still can happen.
For example, the token on the client c

[2022-04-04 10:12] #24463 closed

[2022-04-04 10:12] #24465 closed

[2022-04-04 10:12] #24322 closed

[2022-04-04 10:14] argenstijn commented on #24677
Ps. How can we invalidate the token once i receive a 401 (using reactive client)

[2022-04-04 10:19] xtaixe commented on #22142
@mkouba yes, still happening on `2.7.5.Final`

[2022-04-04 10:20] mkouba commented on #22962
@nian8 I will close this issue if we don't get more information. Note that the extended logging should be available in quarkus 2.8.

[2022-04-04 10:21] mkouba commented on #22142
Well, in that case we'll need more information. Would you care to create a simple reproducer app/test?

[2022-04-04 10:26] xtaixe commented on #22142
I already tried unsuccessfully at the time I raised the issue. I'll try again if I find the time, but I doubt my luck will change.

[2022-04-04 10:33] lordofthejars opened #24733 "Custom Kubernetes file is not merged"
### Describe the bug

I created a simple Quarkus application with the Kubernetes extension. The app is named todo-app.

Then I created in `src/main/kubernetes` a file named `kubernetes.yaml` with the following content:

[code]

### Expected behavior

Values merged

### Actual behavior

The resulting Kubernetes file at `target`  doesn't contain the replicas to 3 nor the labels.

I might be doing so

[2022-04-04 11:21] fernandobalieiro commented on #24715
Hello @geoand!
After the changes no errors are thrown by the client (no Exceptions),  but no values are sent to the remote.
Same scenario, registering the provider solves the issue. You can try by yourself using the branch [https://github.com/fernandobalieiro/quarkus-rest-client-form-bug/tree/client-reactive](https://github.com/fernandobalieiro/quarkus-rest-client-form-bug/tree/client-reactive):
[

[2022-04-04 11:31] #24678 closed

[2022-04-04 11:55] edeandrea commented on #23916
I think the underlying problem is that the Apicurio registry is not exposed outside of the docker network? The test class (which is not running in a container) can not access the container on the docker network.

[2022-04-04 12:15] michalszynkiewicz commented on #24715
The linked project mixes the classic variant and the reactive variant.
Can you replace its dependencies with this?
[code]

[2022-04-04 12:38] FroMage commented on #23593
I know it doesn't work without breakpoints, because I get a 401 with no info. Now, it's possible that with breakpoints it fails for a different reason, such as the timeout. You didn't explain why the CyberChef gives a different result than the OIDC code we have. Hopefully it's me who misconfigured it, but I find it suspect that I can't get the same result there as we do.

[2022-04-04 12:39] morhei opened #24736 "Annotated providers aren't registered if there is no @Consumes("*/*") or @Provider("*/*")"
### Describe the bug

Hi,

I've encountered a weird behavior (bug) concerning classes that are annoted with `@Provider`. The problem that I have is, that I want to provide my own `MessageBodyWriter` to serialize Java classes that are returned by the endpoint. However, instead of using my custom body writer some generic writer that accesses fields via reflection is used.

### Example:
Based on `res

[2022-04-04 13:18] FroMage commented on #23593
Well I can't know which error message is being swallowed if I don't debug it.

[2022-04-04 13:25] sberyozkin commented on #23593
@FroMage I see in the code that there are only 2 places where no debug messages are done,

[here](https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java#L475) and [here](https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java#L

[2022-04-04 13:31] sberyozkin commented on #23593
@FroMage Sorry, I see you are setting in in your config...

[2022-04-04 13:32] stefanwendelmann opened #24737 "Multipart temp-files on cancellation not deleted"
### Describe the bug

The User Uploads Files over a `MultipartFormDataInput`.
The Files are first saved under the `/tmp/` Folder as `*.tmp` Files.

When the User cancels the upload by reloading the Page (F5), the `*.tmp` remains in the `/tmp/` folder.

![quarkus_tmp_multipart_bug](https://user-images.githubusercontent.com/3920790/161554993-a038256c-53ef-4f98-82d0-9ef16deaa7e0.gif)

### Expected be

[2022-04-04 13:32] FroMage commented on #23593
So, if I remove the `openid` scope that required me to manually intervene and edit the redirect, and enable debug I get this:

[code]

See how not helpful this is?

[2022-04-04 13:34] FroMage commented on #23593
This is already a different error that I was getting, it seems

[2022-04-04 13:35] sberyozkin commented on #23593
@FroMage Looks like some progress, so this 403 is coming from Twitter if it is reported by OidcProviderClient

[2022-04-04 13:37] sberyozkin commented on #23593
I agree the debugging experience is poor, no doubt. Will be addressed. Can you check, where is it coming from, perhaps when trying to get UserInfo ? if yes, then it is nearly 100% a scope setup issue

[2022-04-04 13:39] sberyozkin commented on #23593
Set the only breakpoint in OidcProviderClient, getUserInfo

[2022-04-04 13:40] sberyozkin commented on #23593
@FroMage Yes, you are right, it does look like the access token Twitter gives back does not have enough permissions in it - which is a scope related problem

[2022-04-04 13:41] FroMage commented on #23593
It is the damn UserInfo, you're right, now I've added debug logging I can see it.

[2022-04-04 13:44] morhei opened #24738 "Buggy behavior with annotated provider named 'JsonSerializer' or 'GenericJsonSerializer'"
### Describe the bug

Hi,

I found a weird behavior concerning classes annotated with `@Provider`. I have two projects:

`providers-test` containing 14 classes annotated with `@Provider`, and the class `CustomMessageBodyWriter` implementing `MessageBodyWriter` and annotated with `@Produces({MediaType.APPLICATION_JSON, "application/*+json"})`.

The second project `rest-json-quickstarts` imports the

[2022-04-04 13:46] FroMage commented on #23593
Yeah, docs say I need more scopes:

[code]

And finally I'm getting further. Now it looks like the exception is in my camp. Thanks. I'll report back when I get it to work with the changes required.

[2022-04-04 13:50] sberyozkin commented on #23593
@FroMage Great stuff, so re the `oidc` scope - it must be provided for most of OIDC providers, so if adding it causes a problem then we can avoid automatically adding it if it is configured that the id token is not required since it would imply it is not an OIDC provider...

[2022-04-04 14:10] polarctos opened #24739 "Quarkus unix domain socket path no longer used but placed onto 0.0.0.0 instead"
### Describe the bug

Quarkus supports listening on a unix domain socket instead of a TCP socket for the HTTP server.
The path for the socket is no longer correctly used.

Config sample:
https://quarkus.io/guides/vertx-reference#listening-to-a-unix-domain-socket
https://quarkus.io/guides/all-config#quarkus-vertx-http_quarkus.http.domain-socket

[code]

After upgrading to Quarkus 2.7.5 the unix dom

[2022-04-04 14:32] crumohr commented on #17637
Hi @Sanne, is there still some discussion going on or are there any plans regarding the implementation of this idea of yours?

[2022-04-04 14:37] TomasHofman commented on #22293
I'm checking this out to find out what current support actually is like.

The first impression from checking the all-config guide is that there is not much consistency in naming related properties. There are all kinds of notations - `keystore.location` vs `key-store.file` vs just `key-store`.

Some extensions have different set of properties for PEM files and for binary key stores (by binary key s

[2022-04-04 14:46] GregJohnStewart opened #24740 "Can't configure Cors using YAML"
### Describe the bug

When using Yaml to configure Quarkus, it is impossible to properly configure cors.

This is due to the fact that you can either have:

[code]
or
[code]
but not
[code]

The last example breaks the parser; as the `quarkus.http.cors` value cannot be both an object and a value in the YAML spec.

I might reccommed we move the flag to enable cors to `quarkus.http.cors.enable`, allo

[2022-04-04 14:46] TomasHofman commented on #22293
What I would like to do is add PEM support to REST client extensions, I'm not sure about details yet.

[2022-04-04 14:52] GregJohnStewart commented on #24740
For those in a similar boat, you can use the following syntax to get around this issue:

[code]

I still think the config parameter should be changed though

[2022-04-04 14:55] ivansenic commented on #23618
Until this is fixed, what's the way to have integration tests with gRPC clients? Is there an alternative to mocking at the moment? I tried to find documentation on this, but could not find anything?

[2022-04-04 14:57] ivansenic commented on #17465
@tpodg Can you provide an example on how do you spin the the actual grpc server as the part of the test?

[2022-04-04 14:58] sberyozkin commented on #23593
@FroMage Sadly no, `OAuth 1.0a` is not supported. But V2 does give something else, right ? (Access to the email is on their roadmap according to https://stackoverflow.com/questions/70704711/get-email-from-twitter-oauth2).

Lets add a twitter provider configuration to `quarkus-oidc` in any case, in some integrations a user name would be sufficient

[2022-04-04 15:06] sberyozkin commented on #23593
@FroMage Once they add a scope for the email then we will update this configuration

[2022-04-04 15:20] sberyozkin commented on #24740
Hi @GregJohnStewart I think creating the migration problems for the sake of making it more YAML friendly is not worth it; I believe we have a few similar cases where `enabled` is not provided, but YAML is flexible enough to handle such cases. It is not a bug

Thanks

[2022-04-04 15:20] glefloch commented on #24740
should we introduced a `quarkus.http.cors.enabled` ?

[2022-04-04 15:22] JOSUERV99 commented on #24284
I was trying with both my own .yaml and the generated getting the same result

My own yaml:
[code]

Generated:
[code]

[2022-04-04 15:22] sberyozkin commented on #24728
@mschorsch Thanks for reporting it, it is not `quarkus-oidc` which is dealing with these paths, so let me rename the issue

[2022-04-04 15:22] JOSUERV99 commented on #24284
This is my pom.xml
[code]

[2022-04-04 15:28] sberyozkin commented on #24740
@glefloch I was just about to ask @gsmet and @stuartwdouglas :-). I don't mind, may be it is worth it, and configuring `quarkus.http.cors=true` should be deprecated. But the same should be done for `quarkus.http.auth.basic=true`. For simple cases it feels like it is an extra segment to type, `.enabled`, but I suppose it will be consistent with how other features are enabled

thanks

[2022-04-04 15:31] JOSUERV99 commented on #24284
My goal is to create an HTTP API that has a POST endpoint with '/json-transposition-tool' that handles some data, for now still getting the missing HTTP method.

Important to clarify:

I was doing some testing in local with:

sam local invoke ..... getting the same error
sam local start-api .... that works but is getting "Missing authorization token" that I don't why

[2022-04-04 15:32] glefloch commented on #23680
Does it still make sense to set `quarkus.tls.trust-all` a runtime property ?

[2022-04-04 15:36] juan-antonio-alba-db opened #24742 "Hibernate post-boot schema-validation fails with Google Spanner after upgrade to Quarkus 2.7.5"
### Describe the bug

When migrating from Quarkus version 1.13.6 to 2.7., I´m facing the following error:

[code]

After googling, I saw there was an error with the same error at https://github.com/quarkusio/quarkus/issues/23445. But the version  I´m trying to use already contains the fix. Then I started to analyse and debug it, and then I´ve found that seems there is another bug.

 so let me give

[2022-04-04 15:59] anthonydenecheau opened #24743 "2.0.0.Alpha1 : Unable to connect CloudRun to CloudSql"
### Describe the bug

I come back to an issue that I opened 2 years ago (https://github.com/quarkusio/quarkus/issues/9985) and which was delivered in the 2.0.0.Alpha1 release. I want to connect the CloudRun service to my database instance (CloudSQL)
Unfortunately, the error message has changed but the connection remains impossible.

### Expected behavior

_No response_

### Actual behavior

I get

[2022-04-04 16:31] fernandobalieiro commented on #24715
Hello @michalszynkiewicz, I did it and the result is the same as in my previous comment, no Exception is thrown, but no value is sent:
[code]

After the changes, a warning also showed up and it was necessary to add `quarkus-resteasy-reactive-jackson` dependency:
[code]

[2022-04-04 17:31] cescoffier commented on #23680
trust-all and any TLS related properties should be runtime properties.

[2022-04-04 17:31] es89247 commented on #11117
Is there any update on this?

[2022-04-04 17:34] cescoffier commented on #22293
Some part of this is also addressed in https://github.com/quarkusio/quarkus/issues/17038.
Unfortunately, I'm not making any success on that feature (for almost a year).

the main idea is to have a "registry of certs" which can be queried and populated by the various extension. That would provide a single configuration model.  Of course, PEM, JKS, and PCK12 would have built-in support.

[2022-04-04 18:07] ivansenic opened #24745 "Multiple `@LookupIfProperty` and a single `@DefaultBean` not able to resolve the bean"
### Describe the bug

I have a simple configuration like this:

[code]

However, there is no way to inject the correct bean based on the above.

Using the `@Inject CassandraTokenResolver resolver;` fails with exception like:

[code]

Using the `@Inject Instance<CassandraTokenResolver> resolver;` does work, but completely ignores the default bean if the given property does not match any of the spec

[2022-04-04 19:27] GregJohnStewart commented on #24740
I mean, at the very least we need to update the docs.... the `~:` syntax isn't a hugely known one, and otherwise you can be stuck with no way to turn cors on and configure it.

[2022-04-04 19:40] sberyozkin commented on #24740
Makes sense. As far as adding `enabled` is concerned,  lets wait for more feedback,  I think I'd prefer to keep it as it is but indeed as you suggest update the config and sec guides, but adding for the sake of consistency may also make sense,  thanks

[2022-04-04 20:14] famod commented on #24740
What about? https://quarkus.io/guides/config-yaml#configuration-key-conflicts

[2022-04-04 20:23] famod commented on #24739
From which Quarkus version did you upgrade?

[2022-04-04 20:32] GregJohnStewart commented on #24740
Ah, good point. Might want to be mentioned by the cors docs though

[2022-04-04 20:33] polarctos commented on #24739
It is working e.g. in Quarkus 2.6.2

[2022-04-04 20:37] michalszynkiewicz commented on #24715
Thanks for checking, I'll take a look at the reactive case tomorrow if nothing more urgent pops up.
Since a workaround for quarkus-rest-client exists, and as Georgios pointed out we're focusing on the former, I don't think we'll fix it in the near future. Of course PRs for it are welcome if you'd like to fix it yourself

[2022-04-04 22:54] famod commented on #24739
/cc @cescoffier

[2022-04-05 01:56] debu999 commented on #24716
Tried all three options.
`@AdaptToScalar(Scalar.String.class)`
Did not work
`@AdaptsWith(ObjectIdAdaptor.class)`
Did not work.

Is there anything for final class. ObjectId is a final class.
Both AdaptToScalar and AdaptsWith work for queries but not for mutations. Need some advise on how to make the input customizable.

[2022-04-05 01:58] debu999 commented on #24716
@phillip-kruger am i missing anything in properties to register the scalar adaptor.

[2022-04-05 02:15] phillip-kruger commented on #24716
Hi @debu999 - do you have a small app that I can look at ?

[2022-04-05 06:06] debu999 commented on #24716
@phillip-kruger Sample reproducer attached.
A very simple app with just object id in graphql mutation. The adaptor works fine with query i believe somewhere in input generation it needs to register the same as in query.
[mongo-graphql.zip](https://github.com/quarkusio/quarkus/files/8415383/mongo-graphql.zip)
.

[2022-04-05 06:10] debu999 commented on #24716
In case i comment the mutation and do the following it works fine.
i guess Input creation do not respect the adaptor.
`@Query
    public Uni<Dummy> getDummy()
    {
         Dummy d = new Dummy();
        d.id = new ObjectId();
        return Uni.createFrom().item(d);
    }`

<img width="1344" alt="Screenshot 2022-04-05 at 11 39 35 AM" src="https://user-images.githubusercontent.com/1910577/1616900

[2022-04-05 06:56] cescoffier opened #24749 "Improve Mongo support"
### Description
This epic is about improving the mongo support is Quarkus

### Analysis

- [ ] Extends / Align the reactive and imperative API
- [ ] Makes sure the back-pressure based on batch is implemented correctly
- [ ] Expose and use the new DNS SPI
- [ ] Document how to use Atlas and Atlas Serverless

[2022-04-05 07:00] cescoffier opened #24750 "Some Redis improvements"
### Description
The Redis extension needs to be more aligned with the rest of Quarkus, and also should extend its API to allow more advanced use cases.

### Analysis

- [X] Expose the complete Redis API - https://github.com/quarkusio/quarkus/pull/26268
- [X] Allow using Redis custom commands  - https://github.com/quarkusio/quarkus/pull/26268
- [X] Test and document pub/sub - https://github.com/qua

[2022-04-05 07:00] cescoffier commented on #24750
/cc @alesj

[2022-04-05 07:04] cescoffier opened #24751 "Automatic registration of ingress route for gRPC"
### Description

This issue is about exposing an OpenShift route or an ingress rule to expose a gRPC service. It will allow accessing gRPC services from outside the Kubernetes cluster.

### Implementation ideas

We can either reuse the "expose" attribute or introduce a specific gRPC attribute to expose the route.
That feature would need documentation:

- if the service is using plain/text, we shou

[2022-04-05 07:07] cescoffier commented on #20644
Somewhat related to #24751.

[2022-04-05 07:10] geoand commented on #24733
As mentioned in https://quarkus.io/guides/deploying-to-kubernetes#using-existing-resources, you need to name the file `kubernetes.yml`, not `kubernetes.yaml`

[2022-04-05 07:10] #24733 closed

[2022-04-05 07:11] cescoffier opened #24752 "Propose a Java variant of protoc"
### Description

`protoc` is a tool generating source code from `.proto` files.
This tool is implemented in C or C++, and requires to be downloaded by the user (Quarkus does that automatically), but we need the proper architecture. It is not necessarily easy to find the right one.

Also, the tool does not provide a great flexibility in how the java classes are generated (final classes and so on).

[2022-04-05 07:13] cescoffier opened #24753 "Integration of Vert.x 4.3"
### Description
This epic is about switching to Vert.x 4.3.

[2022-04-05 07:14] cescoffier commented on #24753
Of course, it requires Vert.x 4.3 to be released.

[2022-04-05 07:16] cescoffier opened #24754 "Switch to the new gRPC server provided by Vert.x"
### Description
Vert.x 4.3 is coming with a new gRPC service implementation which about using the one from gRPC Java.
There are multiple advantages to switching like:

- having a single HTTP server instead of having gRPC exposed on a different port
- no more impossible constraints to fix when trying to bump netty
- the new server is a lot more flexible which also allows integrating gRPC to pass-th

[2022-04-05 07:16] cescoffier commented on #24754
Depends on #24753

[2022-04-05 07:18] cescoffier opened #24755 "Integrate the security provider for gRPC clients"
### Description
This epic is about integrating the Quarkus security mechanism for the gRPC clients.

The overall idea is to integrate the authentication provider as it's done in the HTTP stack, but instead of using a request filter, use a gRPC interceptor. So, in the end, the code should contain a gRPC server and client interceptor. The required authentication data (token, credentials...) will be

[2022-04-05 07:30] lordofthejars commented on #24733
Well, I think this could be improved by either supporting both extensions or providing an error message.

[2022-04-05 07:31] geoand commented on #24733
That requires a change in Dekorate cc @iocanel @Sgitario

[2022-04-05 07:34] lordofthejars commented on #24733
But not the error message right?

[2022-04-05 07:35] cescoffier opened #24756 "Import Stork properties to Quarkus all configuration properties page"
### Description

Add the stork properties to the all config page and config editor (from the dev UI)

[2022-04-05 07:36] cescoffier opened #24757 "smallrye-stork - Improve service instance cache"
(From https://github.com/smallrye/smallrye-stork/issues/284)
null

[code]

[2022-04-05 07:36] cescoffier opened #24758 "smallrye-stork - Add global discovery and load balancer types"
(From https://github.com/smallrye/smallrye-stork/issues/248)
Support global defaults for discovery and load balancer types used across the application:

[code]

[code]

[2022-04-05 07:36] cescoffier opened #24759 "smallrye-stork - Add a Service registration SPI"
(From https://github.com/smallrye/smallrye-stork/issues/110)
Often, services that would use Service Discovery, would also like to register themselves to the Service Registry that is backing up the discovery.

[code]

[2022-04-05 07:37] cescoffier opened #24760 "smallrye-stork - Failover support"
(From https://github.com/smallrye/smallrye-stork/issues/232)
We had a few asks for failover support in Stork.
Currently, we stand at the position that Stork should only provide service instances and not be involved in making calls, but maybe we should revisit it?

Currently, the way to solve it is to use a failure aware load balancer, such as `least-response-time` and combine it e.g. with MicroPro

[2022-04-05 07:37] cescoffier opened #24761 "smallrye-stork - Provide an example of load balancer using "machine learning" to select the best service instance"
(From https://github.com/smallrye/smallrye-stork/issues/283)
This epic is about writing a how-to explaining how one can implement an advanced load balancer integrating machine learning to choose the best service instance.

[code]

[2022-04-05 07:37] cescoffier opened #24762 "smallrye-stork - Improve release notes generation"
(From https://github.com/smallrye/smallrye-stork/issues/285)
Extend the release process to generate release notes:

- distinguish core/load-balancer/service-discovery (and maybe prefix with the type for SD and LB)
- list the breaking changes if any
- mention dependency update is a separated list

[code]

[2022-04-05 07:44] mkouba commented on #24137
We couldn't because the lifecycle of a `TemplateInstance` is not well-defined, in the sense that there is no "destroy" phase/callback.

[2022-04-05 07:48] geoand commented on #24733
We could locate certainly print a warning in Quarkus if there are such files.
If @iocanel and @Sgitario decide to not add support for those files, then yeah, this is the way we should go.

[2022-04-05 07:53] geoand commented on #24742
Does the same happen in Quarkus `2.8.0.Final`?

[2022-04-05 07:58] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2094101907

[2022-04-05 08:00] geoand commented on #24737
Does the same problem occur when using RESTEasy Reactive?

[2022-04-05 08:08] geoand commented on #24736
Does the same behavior occur when using the `quarkus-rest-client-reactive`?
Asking because our efforts are focused on that instead of the legacy `quarkus-rest-client`

[2022-04-05 08:08] geoand commented on #24738
Does the same behavior occur when using the quarkus-rest-client-reactive?
Asking because our efforts are focused on that instead of the legacy quarkus-rest-client

[2022-04-05 08:10] aloubyansky commented on #24547
@fage88 is there a chance you could provide a reproducer for us? Thanks.

[2022-04-05 08:13] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2094101907

[2022-04-05 08:21] mkouba commented on #24745
This works as expected. First of all, `@LookupIfProperty` can only be used for [programmatic lookup via `javax.enterprise.inject.Instance`](https://quarkus.io/guides/cdi-reference#declaratively-choose-beans-that-can-be-obtained-by-programmatic-lookup). Furthermore, a [default bean](https://quarkus.io/guides/cdi-reference#default_beans) is always ignored if any other matching bean exists.

Well, bo

[2022-04-05 08:21] #24745 closed

[2022-04-05 08:26] geoand commented on #24743
cc @loicmathieu

[2022-04-05 08:28] ivansenic commented on #24745
@mkouba You did not understand me, default bean is not getting wired if none of the other bean exists. At least when using the `Instance<>` approach. I am not lazy and will post a reproducible example.

[2022-04-05 08:35] fernandobalieiro commented on #24715
Hello!
OK. Shouldn't the information regarding the provider be added to the docs at least?

I can try to fix it, I'll take a look.

[2022-04-05 08:37] mkouba commented on #24745
The problem is that those beans do exist, `@LookupIfProperty` merely filters them out during programmatic lookup.

Anyway, a reproducer would be helpful.

[2022-04-05 08:38] ivansenic commented on #24745
OK here is the reproducible example: https://github.com/ivansenic/quarkus-24745.

Hitting the `/hello` endpoint gives:

[code]

[2022-04-05 08:41] srigano commented on #24694
Hi,
Anyone ?

[2022-04-05 08:45] mkouba commented on #24745
Ok, like I wrote above - the default bean is ignored during resolution because there are two other non-default beans (`fooService()` and `barService()`). However, both of the beans are filtered out because the `some.prop` is not set. For example, if you add `some.prop=foo` to your `application.properties` the return value of `fooService()` should be injected.

[2022-04-05 08:52] fedinskiy opened #24763 "Rest client on Windows ignores properties in new format"
### Describe the bug

There is a new format of properties for Rest Client, which was added in https://github.com/quarkusio/quarkus/pull/17220. Unfortunately, when running in Windows environment, properties in this format are ignored/misread by Rest Client, which leads to the `Unable to determine the proper baseUrl/baseUri` error on start-up.

### Expected behavior

Similar properties should be pro

[2022-04-05 08:56] sberyozkin commented on #24755
You will likely need a copy of `HttpAuthenticator` adapted for GRPC, where it will get the user credentials from the GRPC payload and pass it to `IdentityProviderMechanism`

[2022-04-05 08:57] morhei commented on #24736
Using `quarkus-resteasy-reactive-jackson` instead of `quarkus-resteasy-jackson` seems to fix the issue in the example.
I would have to check if we can simply replace the dependencies without touching the code too much or are you aware of any issues concerning that?
Thanks for the help!

[2022-04-05 08:57] geoand commented on #24763
cc @TomasHofman

[2022-04-05 08:58] TomasHofman commented on #24763
I will take a look.

[2022-04-05 08:59] geoand commented on #24736
Thanks for checking!

You likely will not have to change anything other than the dependencies, but you can read https://github.com/quarkusio/quarkus/blob/2.8.0.Final/docs/src/main/asciidoc/resteasy-reactive-migration.adoc for more information.

[2022-04-05 08:59] #24736 closed

[2022-04-05 08:59] u6f6o opened #24764 "Allow us to configure dynamic query parameters in the rest client"
### Description

In certain scenarios it's not possible to know all query parameters in advance and to configure these accordingly with the `@QueryParam("verbose")` annotation. Other frameworks offer solutions for this, like annotating a map parameter with a `@RequestParam` annotation:

[code]

It would be nice if we would have an option to configure dynamic query paramters in quarkus as well. The

[2022-04-05 09:01] geoand commented on #24764
We should definitely allow this for query params and I would assume also form params and header params.

We should probably use the `@RestQuery` (and friends) annotation to mark these parameters as they don't require a name (which in this case doesn't make sense anyway).

@michalszynkiewicz does that sound good? If so, I'll pick this up.

[2022-04-05 09:02] eldimious commented on #23804
@cescoffier Hey, we are facing the same issue when we upgraded from 2.6.x to 2.7.x. Any workaround until the kafka safe  duplicated context is implemented? Thanks

[2022-04-05 09:03] juan-antonio-alba-db commented on #24742
let me check

[2022-04-05 09:09] RuggeroDAlo commented on #23804
@eldimious As far as I can tell 2.8.0.CR1 / 2.8.0.Final should implement the duplicated context handling for kafka + pure hibernate reactive (no panache).

Panache is still failing with the original error though.

[2022-04-05 09:11] ivansenic commented on #24745
But how can I achieve this simple kind of conditional dependency injection? I am sure you understand what I want. I want the `some.prop` to be optional, if it's set to `foo` or `bar` match the services, otherwise fail back to the default bean? Do you at least have some advice?

[2022-04-05 09:15] eldimious commented on #23804
@RuggeroDAlo thanks for the info. Hm weird, as we have tried 2.8.0.CR1 + io.quarkus:quarkus-hibernate-reactive and the problem remains: `The current operation requires a safe (isolated) Vert.x sub-context, but the current context hasn't been flagged as such. You can still use Hibernate Reactive, you just need to avoid using the methods which implicitly require accessing the stateful context, such

[2022-04-05 09:19] Sgitario commented on #24733
We could print a warning if some files are found in this folder, but didn't match with any deployment target (see line https://github.com/quarkusio/quarkus/blob/85e1f13d55a50f9b31a89cc00f4c779cb6390e76/extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java#L130).

However, apart from the above, I think we should allow users to use either `.

[2022-04-05 09:20] RuggeroDAlo commented on #23804
@eldimious Strange, I tried with the following code on `2.8.0.CR1` and it seems to be working:
https://github.com/RuggeroDAlo/quarkus-23736/blob/main/src/main/java/org/acme/MyReactiveMessagingApplication.java#L37
Anyway better wait for confirmation from @cescoffier , I'm simply guessing :smile:

[2022-04-05 09:24] mkouba commented on #24745
You can try to use `@LookupIfProperty(name = "some.prop", stringValue = "default", lookupIfMissing = true)}` instead of `@DefaultBean`. This way the bean should be looked up when the property `some.prop` is not specified at all.

[2022-04-05 09:24] cescoffier commented on #23804
Yes, this approach should work. Note that we have fixed the upstream issues (so Kafka records are now processed in their own duplicated context)

[2022-04-05 09:24] gsmet commented on #24743
You are going native with an external library we haven't vetted so you might encounter some issues - not all libraries are working in native out of the box.

The first issue you have is relatively simple to fix: you have to register `com.google.cloud.sql.postgres.SocketFactory` for reflection. See https://quarkus.io/guides/writing-native-applications-tips#registering-for-reflection for guidance ab

[2022-04-05 09:26] eldimious commented on #23804
Ηey thanks for your info. https://github.com/arconsis/Eshop-EDA/blob/main/v2/services/PaymentService/src/main/kotlin/com/arconsis/data/payments/PaymentsRepository.kt#L26 Our impl is a bit different as first we "simulate" a external REST call using `Uni.createFrom().item(payment).onItem().delayIt().by(Duration.ofMillis(3000))` and then we flatMap this Uni to hibernate `sessionFactory.withTransactio

[2022-04-05 09:28] ivansenic commented on #24745
Yea but with that I am not allowing anybody to extend the configuration and add it's own implementation (unless hey hook into the same property).. `@DefaultBean` is there with a reason, and that's if not other bean would be registered.

OK thanks for clarifying this for me. I have two workarounds in my mind to sort this out now.. Cheers..

[2022-04-05 09:37] gsmet commented on #24742
@yrodiere does it ring a bell? I remember us having a similar issue but not sure if it was the same?

[2022-04-05 10:32] michalszynkiewicz commented on #24764
yes, thank you! :)

[2022-04-05 10:48] mkouba commented on #24745
Exactly, but the thing is that `@LookupIfProperty` does not disable/remove a bean. Note that in Quarkus the dependencies are resolved at build time, i.e. you can't change the set of available beans at runtime. But `@LookupIfProperty` is a runtime construct that only affects programmatic lookup.

I agree that's it's not perfect, it's a trade-off implied by the nature of quarkus "groundwork".

[2022-04-05 11:08] michalszynkiewicz commented on #24715
PR to add it to the documentation would be great, thank you!

[2022-04-05 11:10] morhei commented on #24738
Took a bit longer to test:

For the tests I've used the Quarkus version `2.7.5.Final`.

### First test
* Changing `quarkus-resteasy-jackson` to `quarkus-resteasy-reactive-jackson` in project `rest-json-quickstart`
* Keeping  `quarkus-rest-client-jackson` in project `providers-test`

Does not work, however workarounds still work.

#### Second test
* Changing `quarkus-resteasy-jackson` to `quarkus-r

[2022-04-05 11:17] morhei commented on #24738
I also quickly tested an alternative of the second test, where I chganged `quarkus-rest-client-jackson` to `quarkus-resteasy-reactive-jackson` in `project providers-test` with the same result that it doesn't work.

[2022-04-05 11:30] sberyozkin commented on #24764
How about using `@UriInfo` injection in the endpoint without any query parameters in the method signature ?

[2022-04-05 11:33] Dudeplayz opened #24766 "Allow Kotlin Collections.List for @All qualifier"
### Describe the bug

I was trying to inject different implementations of the same interface at the same time. Following the docs I have done it with:

[code]

But on compilation it throws:
[code]

As I am using Kotlin, I changed the type of the list to MutableList, which works.
I think `List` is the more appropriate type following the docs: `The injected instance is an immutable list of the conte

[2022-04-05 12:00] sberyozkin commented on #24764
Never mind, sorry, forgot you are talking about the rest client

[2022-04-05 12:02] u6f6o commented on #24764
👍  Np, my first example code is a bit miss-leading, as it shows the controller method instead of the rest-client method.

[2022-04-05 12:20] sandersteenhoudt commented on #22053
Oh man, I just spent a few hours scratching my head wondering what I was doing wrong while implementing websockets.. I kept getting a 404 no matter what I tried. This is quite annoying because now I need to change my other endpoints to accommodate this...

[2022-04-05 12:39] michalszynkiewicz commented on #24715
rest-client-reactive supports sending url encoded messages as `MultivaluedMap`. So a workaround is to change the relevant piece of the code to:
[code]

[2022-04-05 12:47] Tapaka commented on #24660
Hi sorry for the delay, I'm not talking about dev services and yes I do implement QuarkusTestResourceLifecycleManager and create an instance of my own.

After a bit mot research on my side, turns out that reuse actually works with Quarkus it's just that network are not well supported with reuse of testcontainers. Your link set me in the right direction so thanks :)

[2022-04-05 12:47] #24660 closed

[2022-04-05 13:38] jian-sun opened #24769 "is there not @Priority annotation in NotFoundExceptionMapper.java quarkus-resteasy-reactive"
### Describe the bug

I found there is @Priority annotation in NotFoundExceptionMapper.java  of quarkus-resteasy
![image](https://user-images.githubusercontent.com/33311503/161765505-326ac476-6557-4c26-8bff-66716948ee12.png)
![image](https://user-images.githubusercontent.com/33311503/161765655-1a0e2885-bc4a-4c77-a289-e7c033458b31.png)

but there is not @Priority annotation in NotFoundExceptionMapp

[2022-04-05 13:42] gsmet commented on #24766
/cc @mkouba @manovotn

[2022-04-05 13:43] fabianishere opened #24770 "Transitive dependency on local module via local extension fails to build"
### Describe the bug

Hi,

We have a Quarkus application that relies on a local Quarkus extension. This extension in turn declares a dependency on another local module that only builds a WebJar (and no Java sources). Such a setup seems to confuse the build process of Quarkus right now.

### Expected behavior

The project builds successfully.

### Actual behavior

The project fails to build because

[2022-04-05 13:45] gsmet commented on #22053
Could someone affected provide a small Maven reproducer for this issue?

[2022-04-05 13:46] aloubyansky commented on #10648
I think this one should be out-of-date now. In addition, the universe BOM was deprecated in Quarkus 2.1 in favor of platform member-specific BOMs.

[2022-04-05 13:46] #10648 closed

[2022-04-05 13:49] edeandrea opened #24771 "Datasources guide doesn't mention Oracle?"
### Description

The Quarkus Datasources guide (https://quarkus.io/guides/datasource#dev-services) doesn't mention Oracle anywhere. Should it?

### Implementation ideas

_No response_

[2022-04-05 14:05] yrodiere commented on #24742
@juan-antonio-alba-db The message mentions a missing table named "RentedCars" (with a trailing "s") while your script creates a table named "RentedCar". So the table "RentedCars" is indeed missing, and if your model maps an entity to that table, then it's completely normal that you're getting that error.

Can you check that adding a trailing "s" to "RentedCar" in your SQL script solves the problem

[2022-04-05 14:22] juan-antonio-alba-db commented on #24742
Hi Yoann,
when writing the issue description, I gave different names to the tables and databases due to company privacy where I work :-), and then I added a typo when writing the table name.

The microservice is working ok with version 1.13.6, having a similar application configuration I provided. The issue appears when migrating to the new quarkus version

[2022-04-05 14:37] jerboaa commented on #24695
I was curious and was trying to reproduce on Linux aarch64. This does seem to need some additional setup. What setup does it need (I don't have a Kubernetes cluster handy)?

[code]

[2022-04-05 14:43] josephassiga opened #24773 "S2I Images CVE"
### Describe the bug

I am using Quarkus to develop Misroservices.
To deploy the application, i am using S2I to build the images. while the process is working i have some notifications with Quay for vulnerabilities.

### Expected behavior

I expect the images generated with the S2I does not include vulnerabilities.

### Actual behavior

The images contains 14 vulnerabilities :

1.  4 High vulnerab

[2022-04-05 14:51] geoand commented on #24773
cc @cescoffier @sberyozkin

[2022-04-05 15:17] galderz commented on #24695
Aside from what @jerboaa suggests, it seems you're using a GraalVM master snapshot (`GraalVM CE 22.2.0-dev`). What's the rationale behind that? Are you trying to test out the latest fixes for the upcoming M1 support (https://github.com/oracle/graal/issues/2666)?

We are aware of some issues with master related to reflection, that we're investigating separately (cc @zakkak), independent of M1 speci

[2022-04-05 15:17] gsmet commented on #24771
It mentions Oracle already a few times but not everywhere it should be. It has already been fixed by @yrodiere here: https://github.com/quarkusio/quarkus/pull/24623/files thanks to the DeLorean we recently bought.

[2022-04-05 15:18] edeandrea commented on #24771
Thanks @gsmet !

[2022-04-05 15:22] FroMage commented on #23593
See https://github.com/quarkusio/quarkus/pull/24774

[2022-04-05 15:27] TomasHofman commented on #24763
Hello @fedinskiy, to double check - I assume the test that is supposed to fail is `ClientBookResourceIT.shouldGetBookFromRestClientJson`?

[2022-04-05 15:46] #24712 closed

[2022-04-05 16:51] metacosm commented on #24695
Yes, trying native compilation on my M1 laptop.

I'm not using master, this is with 2.7.5.Final.

As mentioned in the description, the same code compiles and works just fine on an Intel architecture so my take is that this is an M1-specific issue.

[2022-04-05 16:56] metacosm commented on #24695
What processor is this targeting? The application seems to be working fine for you, at least up to that point: as this is an operator, if you're not connected to a Kubernetes cluster, this won't go past that step.

[2022-04-05 17:06] Dudeplayz commented on #24766
Ok, but what is different for the MutableList? Is this a bug in Kotlin or wanted?

[2022-04-05 17:43] famod commented on #24740
@radcortez what's your take on this? It's more of a general YAML thing so I'm not sure it should be mentioned everywhere?

[2022-04-05 17:45] gsmet commented on #24740
It's not obvious so I would say it makes sense to add a TIP.

[2022-04-05 18:13] franciscoGarrigo commented on #23739
Hello

I got this issue too, but in a differente way.  My application works fine but at some time, after consuming several messages this exceptions shows. What should i do?  Open new issue or use this for explain completely my problem?

[2022-04-05 18:36] luca-bassoricci commented on #24742
#23445

[2022-04-05 18:47] Dudeplayz commented on #24766
I have found this older ticket, stating to keep it as it is: https://youtrack.jetbrains.com/issue/KT-5792

[2022-04-05 18:55] #24643 closed

[2022-04-05 19:08] radcortez commented on #24740
I have a very easy solution for that 😈

Anyway, I think it is fine adding a TIP in the CORS docs.

[2022-04-05 19:25] #24715 closed

[2022-04-05 19:46] VanillaSpoon commented on #24727
Hey, I can jump on this if it hasn't been resolved yet :)

[2022-04-05 20:00] #24697 closed

[2022-04-05 20:50] mh03r932 commented on #24371
After upgrading to Quarkus 2.7 we also had this problem. The Code that worked on 2.6 suddenly generated
"java.time.LocalDateTime not supported" errors.

I got to work to reproduce the error from scratch in a clean Quarkus 2.7 jackson quick-start environment.
After some fiddling I managed to reproduce the problem!

In our case the auto-registration seems to be disabled if we add a custom jackson mo

[2022-04-05 21:07] mklueh commented on #22053
@gsmet wouldn't it be enough to just add a test with the changed root path to the test suite? Because it's really just that, nothing else

[2022-04-05 21:16] gsmet commented on #22053
Well, you can do that if you prefer. It can be a bit more work because of the size of the project.

[2022-04-05 21:47] sberyozkin commented on #21457
Hi @phillip-kruger @sjaakd Sorry, looks like I've badly missed commenting on this issue.

I've read through all of it and as far as I understand the reason it is still open is that an option of providing CORS headers without even the  browsers requesting them with `Origin`.

I believe Quarkus should not do it, it would not be CORS spec complaint and it is unclear what side-effects it may have.

@s

[2022-04-05 21:47] #21457 closed

[2022-04-06 01:54] guoxunbo commented on #9284
@geoand such as this. I want to get the `MultipartBody` info like `request` property in web filter.
[code]

[2022-04-06 03:05] Moicen opened #24781 "Quarkus 2.7.5 problem"
![78451649212946_ pic](https://user-images.githubusercontent.com/3773928/161887735-429eb2e1-9c86-4624-b668-52585aa50ef4.jpg)

After I upgrade my quarkus dependency from `2.7.0.Final` to `2.7.5.Final`, my project build process threw this error in above. How to fix it?

The Java version I used:

[code]

Maven build command I used:

[code]

Full error log:

[code]

[2022-04-06 04:40] jian-sun commented on #24769
@priority not @Provider
 customized NotFoundException handler does not work(ExceptionMapper)

[2022-04-06 04:59] cescoffier commented on #24773
Which s2i (builder image) is used?

[2022-04-06 05:57] juan-antonio-alba-db commented on #24742
Hi Luca, this issue was solved in 2.7.2.final version, this is happening in 2.8.0.final.

preparing example ...

[2022-04-06 06:25] loban opened #24784 "quarkus.knative.image-pull-secrets does not work"
### Describe the bug

In one's `application.ini`,
- setting `quarkus.knative.image-pull-secrets` does **NOT** add the values to the generated `knative.yml` file
- setting `quarkus.kubernetes.image-pull-secrets` DOES add the values to the generated `kubernetes.yml` file

### Expected behavior

Both `quarkus.knative.image-pull-secrets` and `quarkus.kubernetes.image-pull-secrets` should work.

### Ac

[2022-04-06 06:28] iocanel commented on #24784
Thanks for pointing this out @loban I will have a look asap.

[2022-04-06 06:35] geoand commented on #24371
Well not exactly, but you have used in the wrong way since you are using `com.fasterxml.jackson.datatype.jsr310.PackageVersion` which is the same one that `JavaTimeModule` uses.

[2022-04-06 06:37] stefanwendelmann commented on #24737
Hey @geoand , i added a branch to my reproducer repo and changed the code to RESTEasy Reactive and tested again.

https://github.com/stefanwendelmann/code-with-quarkus/tree/NMA-834-upload-temp-dateien-bei-abbruch-des-uploads-werden-nicht-geloscht

RESTEasy Reactive handles it correctly and throws a Exception on Connection closed.

[code]

Since my real API is not written in Reactive style, it woul

[2022-04-06 06:40] geoand commented on #24737
There is no good reason to not use `RESTEasy-Reactive` at this point, as RESTEasy Reactive works perfectly well with blocking endpoints as well - see [this](https://quarkus.io/blog/resteasy-reactive-faq/#is-resteasy-reactive-limited-to-using-reactive-apis) and [this](https://quarkus.io/blog/resteasy-reactive-smart-dispatch/)

I am going to close this issue as RESTEasy Reactive is what we are going

[2022-04-06 06:40] #24737 closed

[2022-04-06 06:47] geoand commented on #9284
That information is only available in an actual endpoint, not a filter

[2022-04-06 06:48] #8932 closed

[2022-04-06 07:04] mkouba commented on #24766
I don't think it's a bug in Kotlin. The point is that Kotlin's `List` is not `java.util.List` (it's read-only and does not translate 1:1 to `java.util.List`) and therefore you can't expect the `@All` qualifier to _just work_. Kotlin's `MutableList` on the other hand seems to behave like an alias for `java.util.List`.

@Ladicek and @evanchooly might have a better explanation ;-).

[2022-04-06 07:09] luca-bassoricci commented on #24742
Yes, I know. I thought it was the issue the comment I quoted was referring for.

[2022-04-06 07:26] Ladicek commented on #24766
Right. Kotlin's `List` is read-only, so it can be _and is_ covariant in its type parameter: `interface List<out E>`. Since Java/JVM only support use-site variance, usages of that type are represented in bytecode as `List<? extends Whatever>`. Which is an invalid injection point type.

On the other hand, Kotlin's `MutableList` is mutable, so it must be (and is) invariant: `interface MutableList<E>`

[2022-04-06 07:33] fedinskiy commented on #24763
@TomasHofman yes, it's ClientBookResourceIT, thank you! Bug description fixed

[2022-04-06 07:36] mkouba commented on #24766
Like relax the spec requirements for an injetion point type in this particular case? I'm not a big fan of similar things.

[2022-04-06 07:40] guoxunbo commented on #9284
Yes.I konw. Is there have any thing to gei this info? but a model.such as a map. Let me to get the `request` info.
such as spring `MultipartResolver ` and `StandMultipartResolver `

[2022-04-06 07:40] kdubb commented on #24766
I'm not sure how to achieve it but a special case for this situation would be greatly appreciated; every time I use `@All` I trip over this first haha.

[2022-04-06 07:46] Dudeplayz commented on #24766
I don't know how complex it is, but would it be possible to add a Kotlin compiler plugin, which fixes such particular places?

Also, a mention in the docs somewhere that this is a problem, would be helpful to reduce and avoid this pitfall.

[2022-04-06 07:46] geoand commented on #9284
Not really, because this information is part of the body which may not have been read yet

[2022-04-06 07:48] josephassiga commented on #24773
@cescoffier how could i get the builder image name/version ?

[2022-04-06 07:51] geoand commented on #24773
Are you configuring anything related in the Quarkus application or just using the defaults?

[2022-04-06 07:57] #24764 closed

[2022-04-06 08:25] gsmet commented on #24781
Do you have any specific logging configuration in your `application.properties`? If so, could you paste them?

[2022-04-06 08:34] Moicen commented on #24781
However I can run `mvn quarkus:dev` with our problems:

![3C39EA0C-0D67-411A-BC92-9AB3BB31B36D](https://user-images.githubusercontent.com/3773928/161927654-6e34122a-0326-420b-8945-aa84e29d4459.png)

The `mvn install -DskipTests` or `mvn package -DskipTests` always failed. Is that mean there’s bug in quarkus plugin of these phases?

[2022-04-06 08:41] jerboaa commented on #24695
@metacosm OK. It's a Linux aarch64 system. So from the sounds of it it seems to be an **aarch64 Mac specific issue**.

`/proc/cpuinfo` is:
[code]

[2022-04-06 08:58] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2100378989

[2022-04-06 09:00] geoand commented on #24738
https://github.com/quarkusio/quarkus/pull/24786 will fix the RESTEasy Reactive issue.

We won't be providing a fix for Classic RESTEasy since we are focused on RESTEasy Reactive going forward.

[2022-04-06 09:02] #23235 closed

[2022-04-06 09:13] jsmrcka opened #24788 "Reactive Oracle client - native build fails"
### Describe the bug

In an application that uses multiple reactive and JDBC clients, adding `io.quarkus:quarkus-reactive-oracle-client` + `io.quarkus:quarkus-jdbc-oracle` causes native build to fail.

[code]

This issue looks similar to https://github.com/quarkusio/quarkus/issues/19055.

### Expected behavior

Native build passes without errors.

### Actual behavior

[code]

### How to Reproduce?

[2022-04-06 09:14] jsmrcka commented on #24788
@Sanne

[2022-04-06 09:15] famod opened #24789 "Update Early Access JDK Build to 19-ea, add 18 to regular CI"
### Description

18 reached GA last month, time to move on.

Current issues:
- [x] as usual, Groovy and Gradle need updates:
  - [x] https://github.com/apache/groovy/pull/1690#issuecomment-1088622192
  - [x] https://github.com/gradle/gradle/issues/20372
  - [x] Groovy in `maven-invoker-plugin` is a bit of a mess, analyzing...
- [x] Mockito/ByteBuddy needs an update as well: https://github.com/raph

[2022-04-06 09:35] geoand commented on #24766
The best we can do without having to go to great lengths is provide an actionable error message

[2022-04-06 09:37] aloubyansky commented on #11309
I believe this is out-of-date.

[2022-04-06 09:37] #11309 closed

[2022-04-06 09:51] #9354 closed

[2022-04-06 10:04] soldev21 opened #24790 "Exception mapper not handling failed login attempts"
### Describe the bug

I want to log failed login attempt.
So I generated quarkus RESTEasy JAX-RS example from https://code.quarkus.io/
Then applied some changes shown below.

1.Added some security [configs](https://github.com/soldev21/quarkus-security-exception-mapper/blob/1644a8e6fe93f79bcb136c95a9dda90f3f4378fa/src/main/resources/application.properties#L1)
2.Added two exception mappers. [Authent

[2022-04-06 10:27] TomasHofman commented on #24763
@fedinskiy I start to think the problem is in the test setup. When I copy the `modern.properties` file into `application.properties` in the `resources/` directory, without any other changes to the code, the test passes. I'm not sure why the `classic` one works, but this looks suspicious.

[2022-04-06 10:29] cescoffier opened #24791 "Integrate JSON Schema serde"
### Description

Integrate JSON Schema serializer and deserializer for Kafka.
Initially, this work should use the Apicurio Json Schema serde but also use the Confluent alternative.

[2022-04-06 10:38] Sanne commented on #24788
I've had a quick look, it seems the Reactive Oracle Client isn't ready for native compilation. @tsegismont @cescoffier , do you have a plan or some timeline?

[2022-04-06 10:39] TomasHofman commented on #24763
And these are present in the test log:

[code]

It looks that on Windows we loose the quote (") marks in the property names. I think it happens when these properties are applied via `new RestService().withProperties("modern.properties")` call. When properties are read directly from a property file by Quarkus (i.e. when the `application.properties` file is present in the jar) it behaves correctly.

[2022-04-06 10:40] cescoffier commented on #24788
More or less. It's not a top priority for now (mostly a bandwidth issue).
I guess we can reuse lots of the work you did. We may need a few more thing, but that would be a first step.

[2022-04-06 10:46] Sanne commented on #24788
Right, at very least it should pull in the GraalVM metadata we apply in the JDBC/Oracle extension (which it's not!) - but also that's not going to be enough clearly (as this particular reproducer happens to accidentally pull in both and it still fails).

[2022-04-06 10:46] mkouba commented on #24137
I think that the current behavior makes no sense. However, the CDI rules for EL seem to be quite inefficient. Therefore, in [my proposal ](https://github.com/quarkusio/quarkus/pull/24792) `@Dependent` named beans are:
1. Shared accross all expressions for a single rendering operation,
2. Destroyed correctly after the rendering finished.

[2022-04-06 10:47] Sanne commented on #24788
I'll assign to @tsegismont to track it :) No rush and feel free to reassign as needed.

[2022-04-06 11:00] mkouba commented on #24766
Hm, kotlin classes are annotated with a special annotation, right?

[2022-04-06 11:03] Ladicek commented on #24766
Yes, Kotlin-generated classes have the `kotlin.Metadata` annotation. ArC already uses it on one place (see `SubclassGenerator`).

[2022-04-06 11:07] sberyozkin commented on #14093
@rafaelsousa FYI, it will be possible to drop it once #24774 is merged. See also https://quarkus.io/guides/security-openid-connect-web-authentication#integration-with-github-and-other-oauth2-providers.

I'll open another issue to support Spotify confuration as `quarkus.oidc.provider=spotify`

[2022-04-06 11:13] josephassiga commented on #24773
@geoand just the default

[2022-04-06 11:15] sberyozkin opened #24793 "Add Spotify OIDC provider configuration"
### Description

See https://developer.spotify.com/documentation/general/guides/authorization/code-flow/
(PKCE is also supported)

@FroMage That can be an interesting demo with Renarde, a user is authenticated via Spotify and a music is streaming via Renarde :-).

As far as this issue is concerned it would be good to have `quarkus.oidc.provider=spotify`.
It should work though with Spotify once #24

[2022-04-06 11:19] geoand commented on #24773
Mind sharing the extensions you used and the Quarkus version?

[2022-04-06 12:30] ManishJain-TomTom commented on #23471
@jkbbwr Did you find a solution to this problem? I am also facing the same issue on 2.7.5.

[2022-04-06 12:36] gsmet commented on #24781
You haven't answered my question.

[2022-04-06 12:52] FroMage commented on #24793
If I can expense a Spotify account, I might want to do this ;)

[2022-04-06 13:16] kjq opened #24796 "Kubernetes-Config breaks Kubernetes packaging using 2.8.x"
### Describe the bug

Having the `kubernetes-config` properties, secrets being `enabled: true` it looks like, breaks packaging using 2.8.x (CR or Final) and does not generate the Kubernetes manifests but 2.7.5.Final works fine.

The exception being thrown is:

[code]

The configuration that causes the error is:

[code]

If I disable secrets using `enabled: false` it works:

[code]

### Expected be

[2022-04-06 13:17] josephassiga commented on #24773
@geoand

quarkus-smallrye-fault-tolerance |   |  
-- | -- | --
quarkus-resteasy-reactive-jsonb |   |  
quarkus-openshift |   |  
quarkus-smallrye-openapi |   |  
quarkus-resteasy-reactive |   |  
quarkus-openshift-client |   |  
quarkus-hibernate-validator |   |  
quarkus-smallrye-health |   |  
quarkus-kubernetes-client |   |  
quarkus-kubernetes |   |  
quarkus-smallrye-fault-tolerance |   |  
q

[2022-04-06 13:18] geoand commented on #24796
@iocanel can you take a look? Seems like a serious breakage

[2022-04-06 13:20] geoand commented on #24773
Does the same occur with the latest Quarkus 2.7 (2.7.5) and or 2.8.0?

[2022-04-06 13:32] Moicen commented on #24781
@gsmet Here is my `application.properties`:

[code]

In addition here is my `pom.xml`:

[code]

[2022-04-06 13:34] kjq commented on #24796
I am not sure where the issue is yet.  I cannot reproduce in a clean project.  Something is knocking it out but i just copied over my config verbatim.

[2022-04-06 13:43] laurentperez opened #24797 "Enable contextPath support for SR OpenAPI Swagger UI"
### Describe the bug

Use case

- in production environment our app is served directly under root "/" path
- in staging environment our app is served behing a nginx proxy_pass using a contextpath of "/example" : nginx below
[code]

- its swagger UI openapi defaults to http://localhost/example/q/swagger-ui/
- unfortunately the "Explore" form input does not honor the contextPath, see screenshot http

[2022-04-06 13:44] iocanel commented on #24773
Given that all issues mentioned are related to the native libs present in the operating system, I think it's just a matter upgrading the default builder image.

[2022-04-06 13:45] Moicen commented on #24781
From CI you can see one task is passing but the other is failed:

![0B2AD5A8-78E4-4685-BFA7-C7689B1D0B5D](https://user-images.githubusercontent.com/3773928/161988793-bed4a410-be69-418c-adb5-128b90535d13.png)

The passed one running this command:

![5D13BACE-CDFF-4C71-816C-D1F412C15D2E](https://user-images.githubusercontent.com/3773928/161988835-ed2b4e20-ac1b-420c-b121-741ffd0a03c1.png)

And it wor

[2022-04-06 13:50] fedinskiy commented on #24763
@TomasHofman wow, thank you for the analysis!
Looks like you're right and the error is in the test framework.

[2022-04-06 13:52] kjq commented on #24796
Reproducer - it looks like the issue is when I have a "name" that requires expanded properties.  Removing the `name` or hard-coding it works.

**Steps:**
1. Unzip
2. run `mvn clean package`

[secrets.zip](https://github.com/quarkusio/quarkus/files/8427408/secrets.zip)

FYI, it is a really cobbled together reproducer so ignore the unused junk unless that is the issue.

[2022-04-06 13:52] iocanel commented on #24796
Thanks for sharing the reproducer, I will look at it asap!

[2022-04-06 13:53] geoand commented on #24763
Thanks a lot for the effort @TomasHofman

[2022-04-06 13:53] gsmet commented on #24756
If they are made proper Quarkus config, this will be automatic (the config editor needs something in the quarkus-extension.yml).

That's the way to go.

[2022-04-06 13:53] #24763 closed

[2022-04-06 13:53] kjq commented on #24796
Sorry, in my zeal to find it i sent over everything with binaries - this is thinner..

[secrets.zip](https://github.com/quarkusio/quarkus/files/8427429/secrets.zip)

[2022-04-06 13:54] gsmet commented on #24725
My opinion on this is that you should make everything you want there `quarkus.` config using our configuration framework. Then you can benefit from all this infrastructure for free.

And you can keep supporting kafka for backward compatibility and things that we don't want to map ourselves.

[2022-04-06 13:57] kjq commented on #24796
Is it the name in general with combination with the config?

- name: ${logicdrop.artifact}-${logicdrop.api} = fails
- name: aaa # ${logicdrop.artifact}-${logicdrop.api} = fails
- removed property = works

[2022-04-06 14:02] gsmet commented on #24781
My guess is the problem is here:
[code]
and you are not always passing the env variables.

My advice would be to use a default value for all the levels you define: `${SYS_LOG_LEVEL:your default}`. And same for the others.

Now we should probably handle that more gracefully. I will create a PR.

[2022-04-06 14:05] aureamunoz commented on #24756
I just asked for it to @geoand. I need to generate docs and check locally if Storks properties are there

[2022-04-06 14:06] geoand commented on #24756
That's what I answered as well 😎

[2022-04-06 14:09] gsmet commented on #24727
@VanillaSpoon please do.

[2022-04-06 14:12] kjq commented on #24796
Is the intent to keep the ability to base that name off of properties set prior?

[2022-04-06 14:21] aureamunoz commented on #24756
I've seen that the config part was missing in the corresponding quakus-extension.yml file

[2022-04-06 14:33] iocanel commented on #24796
Resources are meant to be named after the application unless explicitly specified.
Your adding a custom name falls to the 'explicitly specified category'. It seems that we have an inconsistency here.

[2022-04-06 14:59] martinffx commented on #9386
Yeah, this is proving to be huge pain point for me. All our logging is done as JSON to file picked up by filebeat on the Node and shipped to ELK.

I've tried various workarounds but I can't quite get JSON logs in a file.

https://github.com/quarkiverse/quarkus-logging-logback/issues/58

[2022-04-06 15:18] Plawn opened #24800 "Spring Data Interface Projection only works if defined in same repository as used"
### Describe the bug

When using the interface projection feature with the spring data layer, we have this error if we don't define the projection interface in the same repository as used.

[code]

### Expected behavior

We can define the interface anywhere in the project

### Actual behavior

We can only define it in the same repository as used

### How to Reproduce?

Tested with 2.7.4.Final and

[2022-04-06 15:18] fage88 commented on #24547
Hi @aloubyansky

What would you need in a "reproducer" I think you would be able to reproduce this with any Quarkus project.  Are you looking for a container running linux or something?

[2022-04-06 15:21] geoand commented on #24800
Thanks for reporting. Mind putting together a sample project that demonstrates the issue?

[2022-04-06 15:22] ChristianNavolskyi opened #24801 "JsonWebToken (OIDC) with Resteasy-Reactive fails"
### Describe the bug

When using suspend functions in Kotlin for the endpoint the `JsonWebToken` cannot be retrieved.
The same code to get data from the jwt works when the endpoint does not use suspend.

### Expected behavior

The `JsonWebToken` can be injected and used as with a blocking/non-suspending call.

### Actual behavior

When trying to access the token this exception is thrown:

[code]

[2022-04-06 15:29] fage88 commented on #24547
sure, I won't be able to get to this until after work hours, but I should be able to slap something together

[2022-04-06 15:41] edeandrea commented on #24771
https://github.com/quarkusio/quarkus/pull/24802

[2022-04-06 15:46] yrodiere commented on #24771
Or maybe the one we *will* buy?

Done!

[2022-04-06 15:51] sberyozkin commented on #24801
@geoand Can you comment please, I think we've had a few similar issues before, as far as an actual access to JWT claims is concerned it it just a map retrieval

[2022-04-06 16:16] Plawn commented on #24800
Yes, I will provide a github repository asap

[2022-04-06 16:17] #24728 closed

[2022-04-06 16:40] sberyozkin commented on #24801
@ChristianNavolskyi I see you have disabled the proactive authentication - @stuartwdouglas added a note to https://quarkus.io/guides/security-built-in-authentication#proactive-authentication, in this case accessing `JsonWebToken` becomes a blocking operation. It is what the exception trace also says. I think this issue can be closed but lets see what Georgios says tomorrow

[2022-04-06 16:40] Moicen commented on #24781
@gsmet  I set default logging level according to your suggestion:

![2E995700-F46B-4D8A-AEE4-1D3C8D578C6B](https://user-images.githubusercontent.com/3773928/162024281-191e8500-4a23-4aed-8aff-e353c5acbdd6.png)

And the build now works:

![CD6FCF48-585E-4479-82F3-1B64AB3C2135](https://user-images.githubusercontent.com/3773928/162024307-526f8caa-19f6-4785-a906-c0ddee855110.png)

![7DFA662E-55BB-4C50-

[2022-04-06 16:40] #24781 closed

[2022-04-06 19:07] #24771 closed

[2022-04-06 19:22] tsegismont commented on #24788
@Sanne yes, we should build on top of your efforts for the JDBC driver native compilation.

[2022-04-06 19:52] #24713 closed

[2022-04-06 19:59] glefloch commented on #24770
Thanks for reporting this @fabianishere, I think I have a fix for it, but I'm not able to build the extension. Do you have any other configuration ?

[2022-04-06 20:13] fabianishere commented on #24770
@glefloch Thank you, I’ll try to create a minimal reproducible example tomorrow.

[2022-04-06 20:22] #24738 closed

[2022-04-06 20:49] fabianishere commented on #24770
@glefloch https://github.com/fabianishere/quarkus-repro/commit/229bea4c3ba794a44469de6d401a7d80d2186494 should be a minimal reproducible example.

If you clone the repository and run `./gradlew build`, it should fail with the error mentioned above. If you uncomment the following in `web-api/build.gradle.kts`, the application should build successfully:

[code]

[2022-04-06 21:03] fage88 commented on #24547
Hi @aloubyansky,

I am very puzzled. I made a copy of the getting-started application and used that as my recreator, but low and behold I couldn't recreate the issue.

Then I went ahead and upgrade my project to 2.7.5.Final again and the entire CI/CD pipeline ran without any issue.

I **KNOW** this was a problem when I logged the bug, but I can't explain why it isn't anymore.

[2022-04-06 22:10] #14093 closed

[2022-04-06 22:10] #23593 closed

[2022-04-06 22:22] adjiandov opened #24810 "Panache Many-To-Many Association repository not reflected in main entities."
### Describe the bug

In order to try and keep it short I will use sample code.
I have Entity A with Id(Long) and Entity B with Id(Long), both having PanacheRepository.
They are connected with AxB association table where A.id and B.id is stored.
In order to minimise data traffic and simplify API signature I would like to be able to add/remove from the association table directly, not through one of

[2022-04-07 01:02] phillip-kruger commented on #24716
I'll have a look today and get back to you

[2022-04-07 01:46] debu999 commented on #24716
@phillip-kruger Thanks.

### Generated Graphql Schema
`new SchemaPrinter(
                  // Tweak the options accordingly
                  SchemaPrinter.Options.defaultOptions()
                          .includeScalarTypes(true)
                          .includeIntrospectionTypes(true)
            ).print(schema);`
`

"Directs the executor to include this field or fragment only when the `if`

[2022-04-07 01:49] debu999 commented on #24716
My understanding is that DummyInput is respecting the Adaptor and getting generated as expected but still we have a generic input `ObjectIdInput ` created. Not sure why.

[2022-04-07 01:51] debu999 commented on #24716
Actual Adaptor makes the type and Input generation correct
`type Dummy {
id: String
name: String
}`
`
input DummyInput {
id: String
name: String
}`

Only a additional input ObjectIdInput causes the issue.

[2022-04-07 01:58] phillip-kruger commented on #24547
Great !! let's close :)

[2022-04-07 01:58] #24547 closed

[2022-04-07 02:49] phillip-kruger commented on #24716
Ok this is a bug, ill fix a.s.a.p. For some reason the scanner still included the adapted field.

[2022-04-07 02:52] phillip-kruger commented on #24716
(the fix will be in smallrye, so I am closing here and opening an issue in SmallRye)

[2022-04-07 02:52] #24716 closed

[2022-04-07 02:54] debu999 commented on #24716
Thanks @phillip-kruger

[2022-04-07 05:25] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/2106766350

[2022-04-07 05:55] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/2106769290

[2022-04-07 05:57] cescoffier commented on #24791
This issue was not Vert.x related, but using Apicurio and Confluent JSON Schema serializer and deserializer for Kafka. It's not about a "general-purpose" JSON Schema support.

[2022-04-07 05:59] geoand commented on #24801
Great analysis @sberyozkin.

Is there any way we can include this insights in the error message?

[2022-04-07 06:02] beikov commented on #9142
The failure is the following which seems to be related to GraalVM or some wrong substitutions:
[code]

Do I have to do some kind of update for the latest Quarkus version like a H2 update?

[2022-04-07 06:26] johurul000 commented on #23681
@iocanel  should I give it a try, I am new

[2022-04-07 06:33] iocanel commented on #23681
It won't work we need this to be fixed in the client first

[2022-04-07 06:38] evacchi commented on #8593
We are starting the release today hopefully this will be fixed with the platform PR

[2022-04-07 06:49] aloubyansky commented on #8593
Looks like we are running into a Maven version incompatibility.

[2022-04-07 07:51] johurul000 commented on #23681
ok

[2022-04-07 07:52] anthonydenecheau commented on #24743
It seems to be working now. I think I misinterpreted the logs. By the way, I also added this solution to my deployment https://github.com/quarkusio/quarkus/pull/6634#issuecomment-913658851
I'm sorry I can't say more...

[2022-04-07 08:06] rsynek commented on #11563
The CI failure is related to a new H2 version; looking into it.

[2022-04-07 08:10] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2106768729

[2022-04-07 08:15] iocanel commented on #23925
The quickest fix for that would be the check if `namespace` has been detected and fallback to `default` if none has been configured.

[2022-04-07 08:18] iocanel commented on #23438
I think that this issue has been fixed since the last upgrade to dekorate 2.9.0 so this need to be closed.

[2022-04-07 08:18] #23438 closed

[2022-04-07 08:20] iocanel commented on #23020
This has been resolved by: #24449

[2022-04-07 08:21] #23020 closed

[2022-04-07 08:21] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/2106790606

[2022-04-07 08:42] nimo23 commented on #16992
I am missing a JSON Schema serde support especially for web-frontend and quarkus (backend).

[2022-04-07 08:49] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2106768729

[2022-04-07 09:10] ChristianNavolskyi commented on #24801
Thanks for pointing that out @sberyozkin.

What would be an elegant way of retrieving a `Uni<JsonWebToken>` (or alike) from the `SecurityIdentity`?

[2022-04-07 09:49] rsynek commented on #11563
https://github.com/kiegroup/optaplanner/pull/1928

[2022-04-07 09:57] mkouba commented on #24441
@michalszynkiewicz shouldn't this be closed by https://github.com/quarkusio/quarkus/pull/24420? I don't think that we should add this to the docs given the fact that the `RecorderBeanInitializedBuildItem` is deprecated.

[2022-04-07 10:01] sberyozkin commented on #24801
@geoand Stuart found it, and the error message in the stack trace says
[code]

More or less the same text is in the docs

[2022-04-07 10:01] geoand commented on #24444
IIUC, the whole problem is that Stork does not use the Kubernetes Client provided by the Kubernetes extension, correct?

[2022-04-07 10:01] #24441 closed

[2022-04-07 10:01] michalszynkiewicz commented on #24441
forgot to close it, thanks @mkouba

[2022-04-07 10:02] geoand commented on #24801
You are right, I think it's good!

[2022-04-07 10:02] #24801 closed

[2022-04-07 10:08] mkouba commented on #22116
@angelozerr What kind of format do you recommend? For example, a number prefixed with `Q`... `Q001` ?

[2022-04-07 10:14] argenstijn commented on #24677
@[sberyozkin](https://github.com/sberyozkin)

See my question above.

And i think the most important thing, what happens if the server says, this token in invalid (because of upgrade of whatever) and the client still thinks the token is OK. ... then we need to wait until the token expires...

[2022-04-07 10:14] mkouba commented on #21919
FTR there's actually another package that needs to be fixed: `io.quarkus.grpc.runtime`.

I think that we should:
1. Extract the classes from the `io.quarkus.grpc` package into the `quarkus-grpc-api` artifact.
2. Rename the `io.quarkus.grpc.runtime` package in the `quarkus-grpc-stubs` artifact to `io.quarkus.grpc.stubs`. This change should not break anything because `io.quarkus.grpc.runtime` is not

[2022-04-07 10:15] argenstijn commented on #24677
or better to create a new issue for this one?

[2022-04-07 10:15] geoand commented on #24444
Thanks for the description of the problem.

Could Stork not have an SPI that basically allows the Kubernetes Client to be set and then in Quarkus when the Kubernetes Client capability is present have the SPI implemented by pulling the Kubernetes Client from CDI?

[2022-04-07 10:23] mihaipoenaru commented on #9386
I also need this. I'm trying workarounds but nothing really does what I need it to.

[2022-04-07 10:25] michalszynkiewicz commented on #24444
It could be done via QuarkusStorkInfrastructure: https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-stork/runtime/src/main/java/io/quarkus/stork/QuarkusStorkInfrastructure.java

Right now it's only used to reuse the Quarkus Vertx instance but it's easy to change the Kube service discovery to use it for kube client as well.

How does it help? Would you want the user to add the kuber

[2022-04-07 10:27] geoand commented on #24444
Pretty much, yeah. Similarly to how we expect users to add `quarkus-kotlin` if they plan to do Kotlin.
We can also easily warn about the missing extension at build time.

[2022-04-07 11:02] enqueue commented on #18228
Related to #22724

[2022-04-07 11:02] cescoffier commented on #23804
That is expected. Your delay switches to a worker thread and so you are not on the duplicated context anymore.

[2022-04-07 11:36] angelozerr commented on #22116
I'm not a big fan with error code which means nothing 'ex : Q001'. I think it's better to have an error code which means something like we have with UndefinedObject --> https://github.com/redhat-developer/quarkus-ls/blob/master/qute.ls/com.redhat.qute.ls/src/main/java/com/redhat/qute/services/diagnostics/QuteErrorCode.java

XML parsers (like Xerces) follows this same idea.

[2022-04-07 11:43] mkouba commented on #22116
Ok, I'll try to come with something similar.

[2022-04-07 12:09] michalszynkiewicz commented on #24444
We can require adding kube client without sharing the client between the discovery and the other places. If someone adds it now, it will all work, right @aureamunoz ?

[2022-04-07 12:26] galderz commented on #24695
Right, I meant about graalvm master having issues with Quarkus master, due to changes in graalvm master itself. I'd expect those issues to also appear with Quarkus 2.7.x.

I'll keep this issue assigned to me since I'm doing M1 testing as we speak.

[2022-04-07 12:27] jkbbwr commented on #23471
Workaround is delay the schedule by a few seconds.

[2022-04-07 13:25] jsmrcka opened #24818 "resteasy-codestart and resteasy extension added when creating project with resteasy-reactive-jaxb"
### Describe the bug

Combination of `resteasy-reactive-jaxb` and `resteasy` then causes build failure:
[code]

### Expected behavior

`🚀  resteasy-reactive-codestart` should probably be picked instead of `🚀  resteasy-codestart`.
No `quarkus-resteasy` in POM.

### Actual behavior

[code]
pom.xml:
[code]

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

Linux ... 5.16.12-200.fc35.x

[2022-04-07 13:31] StFS opened #24819 "Creating a quarkus project using the maven archetype stopped working in Maven 3.8.5"
### Describe the bug

I get errors when I try creating a new Quarkus project using the Maven archetype:

[code]

### Expected behavior

The above command should create an empty Quarkus project.

### Actual behavior

When using Maven 3.8.5, this is the output that I get:

[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_

[2022-04-07 13:34] geoand commented on #24818
This sounds like one for @ia3andy.

[2022-04-07 13:51] #24137 closed

[2022-04-07 14:18] andreaTP opened #24820 "quarkus.container-image.labels doesn't work with Jib"
### Describe the bug

When using Jib (and also `s2i` and `buildpack`) to build container images the option `quarkus.container-image.labels` is ignored.

### Expected behavior

When building a container image the `labels` setting should be honored independently from the container image extension that is used.

### Actual behavior

With Jib (and other container image extensions such as "buildpack")

[2022-04-07 16:03] cescoffier commented on #24773
Looking at Quay, there is nothing reported there. So, I'm surprise.

How do you do your S2I build? And I really need to know the builder image you are using.

[2022-04-07 16:33] michalszynkiewicz commented on #24631
I see there's no easy way to differentiate collection and single value.
@phillip-kruger  I see you approved the MicroProfile REST Client PR - do you by any chance know more how is this supposed to work? ;)

[2022-04-07 17:19] sjaakd commented on #21457
I agree.

That will not be needed. The validation service reporting these CORS issues has been fixed. Thanks for your answer!

[2022-04-07 18:04] gastaldi commented on #24793
AFAIR you don't need to be a Premium user to create an OIDC app in https://developer.spotify.com/dashboard. That looks fun, I'll give it a shot 😉

[2022-04-07 19:46] famod commented on #24819
Thanks for reporting. This duplicates #24643 which has already been fixed and will be part of 2.9.0 and probably also 2.8.1 and 2.7.6.

[2022-04-07 19:46] #24819 closed

[2022-04-07 19:50] philippegoncalves opened #24825 "Quarkus vault configuration with database credentials provider not working if application.properties externalized"
### Describe the bug

Hi,

in order to decouple dev and prod configuration files, we are trying to start our Quarkus application using the config **quarkus.config.locations** when running on prod. Our prod config file contains all the vault and database information used to connect to our database and it is not known by developers. Unfortunately it looks like external configurations are loaded afte

[2022-04-07 23:50] HonoluluHenk opened #24829 "quarkus-cli plugin for asdf-vm"
### Description

It would be nice to have a quarkus plugin for [asdf-vm](https://asdf-vm.com/), a widespread tooling version manager similar to SDKMAN.

### Implementation ideas

I wrote an asdf-vm plugin to support the quarkus cli.

Currently, this is a [working POC](https://github.com/HonoluluHenk/asdf-quarkus).
I'm willing to fleshen out the missing bits to keep up with your and asdf-vms qualit

[2022-04-08 00:17] phillip-kruger commented on #24631
I did ? No idea sorry. Do you have a link to the PR ?

[2022-04-08 01:49] cdmikechen opened #24832 "Sub-optimal YAML support for Kafka config"
### Describe the bug

I use application.yaml to config quarkus, and I use kafka extension.
My application.yaml like this:
[code]

At present, it seems that quarkus cannot directly recognize kafka's config like `log.category`.

### Expected behavior

I hope the configuration of Kafka can be similar to `log.category`.
[code]
Instead of having to write like this, the readability of this writing metho

[2022-04-08 01:58] felipewind commented on #16885
Have you tried to add `%test.quarkus.log.min-level=TRACE` ?

[2022-04-08 02:58] gastaldi opened #24833 "Add Twitch OIDC Provider"
### Description

See https://dev.twitch.tv/docs/authentication/getting-tokens-oidc/#oidc-authorization-code-grant-flow

### Implementation ideas

_No response_

[2022-04-08 04:59] #24770 closed

[2022-04-08 05:27] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/2113179263

[2022-04-08 05:43] vsevel commented on #24825
hello, this may have been be already fixed by @radcortez in https://github.com/quarkusio/quarkus/pull/24673, as it looks similar to https://github.com/quarkusio/quarkus/issues/24465
please wait for 2.9 and test again your reproducer, or follow the above issue to see if it gets backported to one of the 2.8.x.
/cc @gsmet

[2022-04-08 05:58] alesj commented on #24832
So the problem is yaml format or that warning?

[2022-04-08 06:15] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/2113181841

[2022-04-08 06:42] geoand commented on #24820
https://github.com/quarkusio/quarkus/pull/24834 fixes the Jib problem.

I'll let @iocanel take care of the buildpack and s2i ones if they are applicable

[2022-04-08 06:44] geoand commented on #24825
https://github.com/quarkusio/quarkus/pull/24673 has the backport label, so it should be included in `2.8.1.Final`.

I am going to proactively close this as it does seem to be fixed already, but if it still fails when `2.8.1` is released, please comment and I'll reopen

[2022-04-08 06:44] #24825 closed

[2022-04-08 06:50] geoand commented on #24829
Also cc @gsmet

[2022-04-08 07:17] sandersteenhoudt commented on #22053
@gsmet I'll see if I can get a reproducer together. No hard promises yet though, things are a bit hectic atm...

[2022-04-08 07:23] gsmet commented on #24829
I wonder if it's something that should be integrated into JReleaser instead. A bit similar to what it does for Chocolatey and Homebrew (i.e. pushing things to a Git repository).

@aalmiray WDYT?

[2022-04-08 07:34] wfrank2509 commented on #24505
Hi ... If I could write something like

[code]

`CoroutineGreeterBase` being the generated Skeleton.

it would be really nice.

[2022-04-08 07:40] aloubyansky commented on #24257
@famod just tried your last reproducer from https://github.com/quarkusio/quarkus/issues/24257#issuecomment-1076922903. It fails with 2.7.5.Final but passes with 2.8.0.Final and the main branch.

[2022-04-08 07:47] aalmiray commented on #24829
Yes, I think adding asdf support to JReleaser would be great. @joschi has been very active by providing asdf plugins including https://github.com/joschi/asdf-jreleaser

[2022-04-08 08:05] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/2113200534

[2022-04-08 08:10] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2113181355

[2022-04-08 08:22] fazeem84 commented on #13621
I used pre matching filters to get around this issu
https://eclipse-ee4j.github.io/jersey.github.io/documentation/latest/filters-and-interceptors.html
https://www.logicbig.com/tutorials/java-ee-tutorial/jax-rs/filters-pre-matching.html

[2022-04-08 08:39] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2113181355

[2022-04-08 09:11] rsvoboda opened #24835 "Inconsistent extensions listing"
### Describe the bug

Inconsistent list of Quarkus extensions when running `mvn  quarkus:list-extensions` or `quarkus extension list -i`

Some of the entries have `✬` prefix, some do not have. Seems that Quarkus core ones have the prefix, the rest from the platform doesn't. I expect all of them to have the same prefix.

[code]

### Expected behavior

All the entries have the same prefix

### Actua

[2022-04-08 09:37] #24820 closed

[2022-04-08 09:39] antoniomacri commented on #19749
I'm also very interested in Quarkus + Kotest.

Any progress on this?
Is there anything I can do to help?
I'm no expert in Quarkus extensions or Kotest, but I'd like to help.

JUnit architecture seems fairly complex to me, so I don't know which is the correct way to integrate Quarkus and Kotest.

Two ways I can think of.

1. As far as I understand the suggested approach by @sksamuel is: rewrite `Qu

[2022-04-08 10:16] goafabric opened #24837 "Native Image JIB Builds with existing Quarkus version 2.7.3 are suddenly broken"
### Describe the bug

Existing builds, with existing Sourcecode inside Github (Actions),
with existing Version 2.7x (tested with 2.7.3 + 2.7.5) are unpexectedly broken for a couple of days now.
While previous builds had this information:
[io.quarkus.container.image.jib.deployment.JibProcessor] Starting (local) container image build for native binary using jib.

Retriggering the same build are now

[2022-04-08 10:18] geoand commented on #24837
Thanks for reporting, but with the information provided I don't see us being able to do much

[2022-04-08 10:26] goafabric commented on #24837
I honestly don't know what more information to provide ..
I can provide an github action link.
From the history you can see that the same build once worked and is now broken due to docker push now failing.
Because of the missing image.

From there you could also navigate to the github repo and its adherent branch
https://github.com/goafabric/callee-service-quarkus/actions/runs/2011590000

[2022-04-08 10:35] geoand commented on #24837
The base image is for the native build is `quay.io/quarkus/quarkus-micro-image:1.0` and seems to work properly

[2022-04-08 10:42] goafabric commented on #24837
This is NOT about the base image, but about the BUILDER Image.
And now the Base Image has other already acknolwledged problems.
https://github.com/quarkusio/quarkus/issues/23281#issuecomment-1025198521

But this has nothing todo with this issue.

[2022-04-08 10:56] geoand commented on #24837
Okay, understood.

But the builder image (`quay.io/quarkus/ubi-quarkus-native-image:21.3-java11`) also works (I just tried it)

[2022-04-08 11:04] cdmikechen commented on #24832
@alesj
Both of these. Quarkus get config is `"schema.registry.url"`, `"auto.offset.reset"`, `"key.deserializer"`, `"value.deserializer"`, so that kafka cannot recognize these variables.

[2022-04-08 11:10] goafabric commented on #24837
Ok .. and you are using the latest version of this image (according to quay it had changes 5 days ago) ?
And this is also creating an image via jib ?
Sorry for asking .. but if yes .. that would mean that something has changed inside github ..
Whatever that could be to yield to such a result.
And i don't have any intel machine to verify this locally.

![image](https://user-images.githubusercontent

[2022-04-08 11:20] geoand commented on #24837
Yes, I just ran everything locally using the latest images.

[2022-04-08 11:42] goafabric commented on #24837
Yep you are right ... could retest on an intel vm .. this works as expected ...
It's still odd .. because if the same build worked and now changes his behav. .. that something odd is going on in github here ...
Because the Jibprocessor does not get invoked here any more ....
Maybe you have an idea ?

Other than that .. you can close the issue, sorry for the inconvinience

[2022-04-08 11:44] geoand commented on #24837
Without a log, it's hard to understand what's going on.

No problem

[2022-04-08 11:44] #24837 closed

[2022-04-08 11:49] u6f6o commented on #19359
I did some more testing in the past few days. CPU allocation graphs did not show anything obvious but I found out that the cpu spikes are related to a change in [micrometers reflection-config.json](https://github.com/micrometer-metrics/micrometer/blob/v1.7.2/micrometer-core/src/main/resources/META-INF/native-image/io.micrometer/micrometer-core/reflect-config.json). This file was not present before

[2022-04-08 11:50] gsmet commented on #24837
@geoand there is a log here: https://github.com/goafabric/callee-service-quarkus/actions/runs/2011590000 but I suppose you need more details.

I still think we should try to investigate if @goafabric can provide more information because it looks extremely odd.

[2022-04-08 11:53] geoand commented on #24837
Already saw it, does not contain any useful information

[2022-04-08 11:55] goafabric commented on #24837
@gsmet thanks for your support ... thats honestly all i can provide for now ...
local builds on intel and arm still work ... existing builds in github just fail, because the jib processor does not get fired any more .. but i don't know what trigger it needs to get fired ...

so it could be everything without knowing this .. if it e.g. tries to detect an existing file .. it could be that github is

[2022-04-08 12:44] joschi commented on #24829
I think there's a misunderstanding of how asdf-vm and its plugins work.

JReleaser works with a push model: On release, it pushed out notifications to SDKMan, Twitter, other services about the release.

asdf-vm plugins work with a pull model: They usually check GitHub releases (or wherever the software in question publishes its releases) and offers the identified releases as installation candidate

[2022-04-08 12:52] MrMiyagiSan commented on #24742
@yrodiere
Hi, I have put together the reproducer you requested: https://github.com/MrMiyagiSan/hibernate-schema-validation-failure

The readme contains some information worth reading.

[2022-04-08 12:58] michalszynkiewicz commented on #24631
https://github.com/eclipse/microprofile-rest-client/pull/276

[2022-04-08 13:05] aalmiray commented on #24829
@joschi then perhaps what's needed is a way to bootstrap the plugin repository according to the distribution layouts supported by JReleaser. The JReleaser asdf publisher could check if the plugin repo exists an if its contents match generated files. If no match to any of those conditions the publisher creates/updates the repo. WDYT?

[2022-04-08 13:33] phillip-kruger commented on #24631
Maybe @andymc12 can comment ?

[2022-04-08 14:47] mickroll opened #24842 "`@OptimisticLocking(DIRTY)` leads to wrong query during delete of circular reference"
### Describe the bug

Having a circular reference between two Entities and deleting one of them with cascading enabled, the final delete query fails, if the "root"-Entity uses `@OptimisticLocking(DIRTY)`.

### Expected behavior

The following queries are generated and executed:
[code]
All query-parameters are filled with non-null, existing values.
Both deletes are successful.

### Actual behavior

[2022-04-08 15:07] yrodiere commented on #24742
@MrMiyagiSan Thanks a lot! That made the investigation much simpler.

The good news is, I reproduced the problem on my machine.

The bad news is... It seems to be a spanner-specific problem?

I debugged the code, restarting again and again, trying to get to the earliest occurrence of this problem, namely a moment where we're dealing with the `<default>` persistence unit, but the code somehow gets

[2022-04-08 15:08] ahofmeister commented on #22834
Got the same problem, but with the Emitter from smallrye-reactive-messaging-kafka

[2022-04-08 15:20] #19555 closed

[2022-04-08 15:20] FroMage commented on #24810
Thanks, would you be able to give us a reproducer project please?

[2022-04-08 15:23] mkouba commented on #12084
This should be fixed in https://github.com/quarkusio/quarkus/pull/21162, https://github.com/quarkusio/quarkus/pull/21186 and https://github.com/quarkusio/quarkus/pull/22037.

[2022-04-08 15:23] #12084 closed

[2022-04-08 16:05] alesj commented on #24832
But the other, more yaml-ish format works for you?

[2022-04-08 16:06] joschi commented on #24829
@aalmiray You could take https://github.com/asdf-vm/asdf-plugin-template as a starting point for that.

[2022-04-08 16:07] #21428 closed

[2022-04-08 16:16] sberyozkin commented on #24833
Hey @gastaldi It should already work in Quarkus, but once we confirm it we will add an option to configure it compactly, instead of using 10 properties,  I'm on PTO, will ping next to discuss the details

[2022-04-08 16:17] mschorsch commented on #21428
@geoand @mkouba Thanks

[2022-04-08 16:18] geoand commented on #21428
🎉

[2022-04-08 16:24] aalmiray commented on #24829
@joschi Thanks. Hope that's enough for distros of type BINARY, JAVA_BINARY, JLINK, NATIVE_IMAGE that also post releases to GitHub.

[2022-04-08 17:03] famod commented on #24257
@aloubyansky hum, still fails for me with 2.8.0.Final and main (on two different machines):
[code]

[2022-04-08 18:39] cescoffier commented on #24832
I think that log category is a specific case in Quarkus.
I had a long discussion about that with @ia3andy

[2022-04-08 18:39] aloubyansky commented on #24257
Right. Not sure what happened. Just tried on another laptop and it fails. Sorry.

[2022-04-08 18:53] HonoluluHenk commented on #24829
@aalmiray as mentioned before: asdf-vm needs plugins to implement a pull method, nothing needs publishing anywhere.

fyi: my [POC](https://github.com/HonoluluHenk/asdf-quarkus) is parsing [maven-metadata.xml](https://repo1.maven.org/maven2/io/quarkus/quarkus-cli/maven-metadata.xml) directly from Maven Central.
It then downloads the quarkus-cli-$version-runner.jar from there and creates a minimal w

[2022-04-08 19:00] ahofmeister commented on #7810
@cescoffier I have kind of the same problem, but in my case, I need to return the fruit (entity), which was persisted to the database. Is there any workaround?

[2022-04-08 19:06] gsmet commented on #24829
@HonoluluHenk I think you misunderstand what JReleaser can do. Typically in the case of Homebrew, it just publishes the new version to a GitHub repository.
That's the beauty of it, we would have the GH repository automatically updated as soon as we release a new version.

[2022-04-08 19:13] aalmiray commented on #24829
Odd to have the cli-runner JAR posted to Maven Central unless the intention is perhaps to allow other tools to embed it? @gsmet perhaps you can shed some light in this regard.

The cli posts a binary distribution to the quarkus release page (such as https://github.com/quarkusio/quarkus/releases/tag/2.7.5.Final) which is used by package managers (sdkman, homebrew, chocolatey). My gut feeling is tha

[2022-04-08 19:41] #24793 closed

[2022-04-08 20:20] famod commented on #24257
No worries, thanks for checking!

[2022-04-08 20:21] emattheis opened #24847 "Avoid logging certain exceptions thrown by AWS Lambda handlers"
### Description

The AWS Lambda extension currently handles exceptions thrown by `RequestHandler` implementations in a uniform manner by logging the execution failure along with the stacktrace. In some cases, however, raising an exception is the expected way to provide a negative response to the caller - e.g. https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-authentica

[2022-04-08 20:33] andymc12 commented on #24631
I think that this may be a bug.  The spec says that the query-param-style property is intended for use in query parameters that contain more than one value.  For the other cases (MULTI_PAIRS and COMMA_SEPARATED), the query parameter key is the same whether the request's query parameter has a single value or multiple values - but for ARRAY_PAIRS, it seems like the parameter key changes depending on

[2022-04-08 21:26] mklueh commented on #22053
@gsmet will the reproducer be embedded into tests or is it just to show that this issue really happens?
I mean, I could also do it, but as I've said, it's really just that one line of properties + a minor websocket class like that one already existing in the docs:

https://quarkus.io/guides/websockets

[code]

Hard to imagine why there must be an extra project created just to show it

[2022-04-08 22:07] michalszynkiewicz commented on #24631
To double check, if a query parameter is of type collection on the client interface, but it contains a single value, in your opinion Andy, we should keep the param as `param2=multiValueA`?

Thanks a lot!

[2022-04-08 23:55] ebullient commented on #24829
jbang can pull from maven (it might also pull from GH.. but I believe it prefers mvn central for some things)

[2022-04-09 00:47] andymc12 commented on #24631
I think so, but I’m not 100% sure.

On Fri, Apr 8, 2022 at 5:08 PM Michał Szynkiewicz ***@***.***>
wrote:

[2022-04-09 02:42] cdmikechen commented on #24832
@alesj
Quarkus can read config like this:
[code]
But I think the readability of this writing method is certainly not very good, especially when there are many configured variables.

[2022-04-09 02:44] cdmikechen commented on #24832
@cescoffier
So do you mean it can be supported? If this method is allowed, I can try to submit a PR to try to solve it.

[2022-04-09 04:04] herdi73 commented on #24287
@gsmet I have updated the Quarkus version and working perfectly, thanks :)

[2022-04-09 08:35] arvind-das opened #24849 "Qute : Type-safe message bundle does not work if `@MessageParam` annotation is not used"
### Describe the bug

While using the qute in type-safe mode , it causes 2 issues, this is different than provided in the documentation:

1.  The example shown [here ](https://quarkus.io/guides/qute-reference#type-safe-message-bundles) does not require the `@MessageParam` annotation and it will be picked/matched with the template value automatically. It does not happen.
2. Even after using the ann

[2022-04-09 10:38] MikeEdgar commented on #24797
@laurentperez have you tried using the `servers` section for this? This will give you two selections in SwaggerUI.

[code]
This can be set with property `mp.openapi.servers=/,/example` (or using annotations, or the filter). In combination with [`quarkus.swagger-ui.urls`](https://quarkus.io/guides/all-config#quarkus-swagger-ui_quarkus.swagger-ui.urls-urls) set to `/q/openapi,/example/q/openapi`, yo

[2022-04-09 11:30] VanillaSpoon commented on #24833
Hey :) could I take a shot at this issue?

[2022-04-09 12:05] romilpunetha opened #24851 "Items missing in client from a Multi SSE response"
### Describe the bug

I have a piece of code that gets users from user-service, which returns a multi. However, there are instances where a user object is missing from the list.

Code in user-service:
[code]

Code in client:
[code]

I have a trace that shows that the ids were being fetched from user-service using cache only (as there is no db call in the trace), and the code fails because the user

[2022-04-09 12:44] garbusa commented on #21227
Same problem exists with quarkus-liquibase

[2022-04-09 13:42] cescoffier commented on #24851
I would need a proper reproducer to understand what's going on.

[2022-04-09 16:43] romilpunetha commented on #24851
I'll try reproducing this, but it might be a little difficult because a retry works.
Moreover, I tried making the raw curl call several times and wasn't able to reproduce this.

[2022-04-09 23:32] gastaldi commented on #24849
Is your Kotlin project compiling with `--parameters` JVM flag set? I have just created a test and I couldn't reproduce the issue you described here

[2022-04-09 23:38] gastaldi commented on #24849
That would be something like this in your `build.gradle.kts` file:

[code]

[2022-04-10 12:22] #24756 closed

[2022-04-10 12:25] cescoffier commented on #24725
It can be tricky. Yes, sure, we can have "quarkus" prefix and duplicate a ton of tests as the upstream project does not know about that. Also, what about precedence and things like that?

Also, this issue was to list the most common options, not all options, as it's an infinite set.

[2022-04-10 12:30] cescoffier commented on #23618
We need to be very careful with this. The `final` is introduced by `protoc`, which means that everything using `protoc` would expect that `final`. Stripping it should be done for Quarkus only.

[2022-04-10 12:33] cescoffier commented on #7810
@ahofmeister Just:

[code]

[2022-04-10 13:44] maxandersen opened #24857 "Open browser fails on github codespaces"
Trying to open dev ui or website results in error:

[code]

Would be great if

A) print url attempted to open rather than the raw error.

B) find way to open webpage in code or the surrounding browser

[2022-04-10 15:15] romilpunetha commented on #24851
Tried the following configurations:

List size : 25

1. local server, local db : no errors.
2. local server, remote db: no errors.
3. remote server in container with 1 core, remote db: intermittent errors.
4. remote server in container with 2 cores, remote db: intermittent errors.

I'm getting errors only when I run the code in remote containers. Still trying to narrow down the issue.

[2022-04-10 16:30] lamemind-ud commented on #22834
Same here.
I'm emitting some data with `smallrye-reactive-messaging-kafka` then I want to update the DB, but I can't.

I managed to write to the database using the `Event Bus`.
And even if my code is working, it throws anyway: `javax.transaction.xa.XAException: Error trying to transactionCommit local transaction: Enlisted connection used without active transaction`

Here is some example code...
[c

[2022-04-10 16:58] arvind-das commented on #24849
My gradle file did not have the above configuration mentioned.  Added this and it works. Is it there in the docs, looks like I missed that . Closing

[2022-04-10 16:58] #24849 closed

[2022-04-10 16:58] arvind-das commented on #24849
Thanks

[2022-04-10 18:39] sberyozkin commented on #24833
Sure, it would be great

[2022-04-10 18:46] VanillaSpoon commented on #24833
Thanks @sberyozkin :)

[2022-04-10 18:47] sberyozkin commented on #21521
See #24823 about `Spotify`. @gastaldi Hi George, can you please update may be #24823 description with a few images showing the Spotify related process, when you get a chance, similarly to how Steph did it for Renarde, https://quarkiverse.github.io/quarkiverse-docs/quarkus-renarde/dev/security.html#_using_oidc_for_login, so that it can be copied and pasted into a PR which will eventually resolve th

[2022-04-10 20:25] romilpunetha commented on #24851
@cescoffier
I was able to narrow it down. There's no issue on the server side. The user-service is sending all elements as expected. One of the items is missing at the client side. This is what the server resource looks like:

user-service:
[code]

user rest client:
[code]

Tried user-client with @Produces and @RestStreamElementType as well but no luck.

The client does the following:
[code]

Is t

[2022-04-10 21:46] faskan opened #24860 "IT test fails when building native image using -Dquarkus.native.container-build=true in MacOS"
### Describe the bug

IT test fails with below error when building native image using "quarkus build --native -Dquarkus.native.container-build=true". The project is a hello world project generated using quarkus-amazon-lambda-rest-archetype with no additional changes.

[ERROR] Tests run: 4, Failures: 0, Errors: 1, Skipped: 3, Time elapsed: 2.084 s <<< FAILURE! - in com.techroots.GreetingIT
[ERROR]

[2022-04-10 21:56] romilpunetha commented on #24851
A ref on SSE:
https://dev.to/miketalbot/server-sent-events-are-still-not-production-ready-after-a-decade-a-lesson-for-me-a-warning-for-you-2gie

[2022-04-10 22:18] koalalam commented on #24044
Hi @stuartwdouglas , do you have a chance to check?

[2022-04-11 00:42] zhfeng opened #24861 "Support lambda function serialization in native image"
### Description

It could be supported once it is available in the GraalVM. see https://github.com/oracle/graal/issues/3756

### Implementation ideas

_No response_

[2022-04-11 01:06] netodevel commented on #24835
@rsvoboda, if it really is a bug I think this problem can be set to `"good first issue"`.

[2022-04-11 04:34] maxandersen commented on #24829
We use the maven central from jbang because it's more reliably available than GitHub release artifacts. No other reason as in this case we don't even resolve dependencies it's just grabbed as a single jar.

[2022-04-11 04:35] maxandersen commented on #24829
In case of asdf I agree using GitHub releases would be more consistent with other package managers.

[2022-04-11 04:39] maxandersen commented on #24829
Hosting asdf-plug-in repo makes sense imo.

Could just do like https://github.com/joschi/asdf-jbang which have GitHub action to trigger publish.

Maybe jreleaser could trigger it via webhook ?

[2022-04-11 04:49] ahofmeister commented on #21948
Same problem here, worked around like @jendib did.

[2022-04-11 05:23] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/2146411343

[2022-04-11 05:23] #24676 closed

[2022-04-11 05:37] cescoffier commented on #24851
Are you using the Reactive Rest Client or the _classic+ Rest client (depends on the extension you use).
I'm also wondering why you use an `emitOn` (even if the bug does not come from that, it looks like a bad smell).

\CC @michalszynkiewicz

[2022-04-11 06:03] geoand commented on #24835
@maxandersen @ebullient is this the expected behavior?
If so, then I'll let you close this issue

[2022-04-11 06:07] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/2146413966

[2022-04-11 06:09] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2146436005

[2022-04-11 06:16] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2146436005

[2022-04-11 06:23] maxandersen commented on #24835
It should have a star if it is in the platform referenced by the project. So it depends what the project points to ?

[2022-04-11 06:27] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2146436005

[2022-04-11 06:43] romilpunetha commented on #24851
I'm using `quarkus-resteasy-reactive-jackson`

The `emitOn` was taken from https://quarkus.io/blog/mutiny-back-pressure/ . I thought for a large stream with large sized objects serialization would be a problem hence offloaded it to the worker thread.

[2022-04-11 06:55] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2146436005

[2022-04-11 07:03] cescoffier commented on #24851
`quarkus-resteasy-reactive-jackson` it the server bit, not the rest client.

[2022-04-11 07:13] geoand commented on #24800
I was able to reproduce this and opened https://github.com/quarkusio/quarkus/pull/24865 to fix it

[2022-04-11 07:21] romilpunetha commented on #24851
My bad... its `quarkus-rest-client-reactive-jackson`

[2022-04-11 07:31] joschi commented on #24829
I'm not sure what you mean. The GitHub Actions workflow in https://github.com/joschi/asdf-jbang just makes sure that the latest JBang release didn't break anything (for example by changing the URLs of their artifacts).

Other than that the asdf-vm JBang plugin (or any other asdf-vm plugin) doesn't need any trigger for new releases since it consumes the data from GitHub releases.

https://github.co

[2022-04-11 07:31] michalszynkiewicz commented on #24851
@romilpunetha as Clement wrote, a reproducer would help a lot in fixing this/helping you.

If the problem occurs only when you run in containers maybe it's related to latency?
Have you tried reproducing it in a test, e.g. with `@RepeatedTest(100)` ?

[2022-04-11 07:42] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2146413769

[2022-04-11 07:46] ia3andy commented on #24818
This is fixed in main (and starting from 2.8 I suppose): https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-reactive/quarkus-resteasy-reactive-jaxb/runtime/src/main/resources/META-INF/quarkus-extension.yaml#L18

[2022-04-11 07:46] #24818 closed

[2022-04-11 07:55] romilpunetha commented on #24851
I'll try with the `@RepeatedTest` as suggested.

As for the latency question, the red indicator in the image attached is the `Multi<>` latency and the blue one is for `Uni<List>`. The request itself is max 25 items, so I don't think latency is an issue.

<img width="1645" alt="Screenshot 2022-04-11 at 1 23 26 PM" src="https://user-images.githubusercontent.com/47735999/162690451-857f8b39-172d-40a4-

[2022-04-11 08:01] Plawn commented on #24800
@geoand thanks ! sorry for being late to the party

[2022-04-11 08:02] geoand commented on #24800
np!

[2022-04-11 08:02] #24800 closed

[2022-04-11 08:27] argenstijn opened #24868 "Change Content type in prematch filter does not change content type when matching (reactive!)"
### Describe the bug

When you post message with a non existing content-type (application/example) and in the prematch you change it
to "application/json" i expect the matching rule should use the new content-type when matching.

Instead i get the following message:

[code]

Below the simple pre match rule

[code]

I am using the following libs:
[code]

### Expected behavior

Matching will use the

[2022-04-11 08:29] michalszynkiewicz commented on #13466
moved to https://github.com/quarkiverse/quarkus-reactive-messaging-http/issues/58

[2022-04-11 08:29] #13466 closed

[2022-04-11 08:38] ia3andy opened #24870 "Create a Github Action to generate quickstarts for Quarkiverse extensions"
### Description

Create a Github Action to generate quickstarts for Quarkiverse extensions using a Quarkus Codestart:
- This codestart can contain complex examples and multiple languages
- The action will generate the application in zip in the given set of languages and buildtools and upload it to the GitHub release page

In the future we could also imagine having a link to code.quarkus.io to gene

[2022-04-11 08:48] mkouba commented on #14130
I'm going to close this issue. There is no plan to co-locate qute templates and static resources in the near future. I think that static resources should always be placed in the `META-INF/resources` directory and accessed directly from the template, e.g. `<link href="/css/styles.css" rel="stylesheet">` for `META-INF/resources/css/styles.css`. If we permit templates in the `META-INF/resources` dire

[2022-04-11 08:48] #14130 closed

[2022-04-11 08:53] mkouba commented on #11056
I think that this idea is worth investigation but "a bit out of scope". In other words, contributions are welcome ;-). Anyone who is interested in this issue pls feel free to reopen it.

[2022-04-11 08:53] #11056 closed

[2022-04-11 09:00] #13109 closed

[2022-04-11 09:05] gsmet commented on #24870
@ia3andy https://github.com/quarkiverse/quarkus-github-action might be useful for that. I still have to more extensively test it and work on the documentation.
But if you're using it, that will be a good incentive for me :).

[2022-04-11 09:09] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2146413769

[2022-04-11 09:17] michalszynkiewicz commented on #21445
Some thoughts on how I imagine it, to kickstart the discussion.

In the first iteration, I think e should focus on protocol buffers, and v3 version of proto.

A service definition could look as follows:
[code]

message/pojo definition - here a tricky thing is the package, if we want to have a single proto file, we probably need a single package for service and messages:
[code]

CC @geoand @cescoff

[2022-04-11 09:19] loicmathieu commented on #24619
Github discussions Q&A: https://github.com/quarkusio/quarkus/discussions/categories/q-a
Zulip user stream: https://quarkusio.zulipchat.com/#narrow/stream/187030-users

[2022-04-11 09:42] mkouba commented on #21445
Hm, isn't this a bit against the core idea of gRPC which is contract-first? I do remember a similar approach in Java EE web services and IIRC the result was a bit unconvincing...

[2022-04-11 09:47] sberyozkin commented on #24833
@VanillaSpoon Np at all, thanks to @gastaldi for creating this good first issue

[2022-04-11 09:51] michalszynkiewicz commented on #21445
It is a bit, yes.
OTOH, gives a chance to get the benefits of gRPC for people who would rather start from Java.

[2022-04-11 10:08] cescoffier commented on #24752
ah yes, let me close this one.

[2022-04-11 10:08] #24752 closed

[2022-04-11 10:58] Sanne commented on #24842
hi @mickroll - thanks for the report. May I assume I can ask the Hibernate ORM team to have a look, or is there a specific reason to have reported it to Quarkus?

[2022-04-11 11:10] Sanne commented on #24742
We can try reach out to the Google team to improve the integration.

But I also happen to think that - when running in Quarkus - Hibernate ORM shouldn't pick up random `ServiceContributor` instances from the classpath; perhaps we should disable this and have an ad-hoc extension to drive such contributions explicitly; that would also allow us to have better control about which persistence units are

[2022-04-11 11:42] mkouba commented on #21445
I think that one of the big pain points is that you can't easily switch between these two approaches when needed. And it's a lot of new annotations ;-).

[2022-04-11 11:58] michalszynkiewicz commented on #21445
CC @phillip-kruger AFAIR, you were interested in this too

[2022-04-11 12:02] phillip-kruger commented on #21445
Yes!

[2022-04-11 12:05] mickroll commented on #24842
As you are asking, yes this seems hibernate-related. Please feel free to forward.

[2022-04-11 12:21] michalszynkiewicz commented on #24409
the linked library uses kotlin, would be good not to have to depend on Kotlin for this. I'll see how much work it is to create something

[2022-04-11 12:31] loicmathieu commented on #24743
We document the usage of Cloud SQL but never tested it on native, I need to test it in native. Apparently some people report it to work when adding the google-cloud-graalvm-support library, if it's all that is needed we can add it to the documentation (this library is already used by Quarkus GCP support extension).

We can also add a new extension to the existing GCP extension pack for Cloud SQL f

[2022-04-11 13:05] ebullient commented on #24835
I would almost rather strip "Quarkus Extension for " out entirely, as it takes up space and isn't particularly informative on its own.

[2022-04-11 13:18] netodevel commented on #24835
The star is really confusing whether it is a project dependency or an official extension of the quarkus.

WDYT about adding a new column with the purpose of saying if this extension is installed in the project?

Like this:

✬ quarkus-spring-security  |   Installed  | Quarkus Extension for Spring Security API

[2022-04-11 14:16] Dosexe opened #24874 "Kotlin BsonProperty Panache mapping"
### Describe the bug

When using kotlin panache library `@BsonProperty` is not working as expected.
I have a complex object with nested fields and only fields that is named fully the same as in DB mapped properly.
[code]

json inserted to MongoDb (5.0.6)
For access `ReactivePanacheMongoRepositoryBase` is used
[code]

Fields like `appData`, `stats` and `token` are mapped properly, but all fields wi

[2022-04-11 14:17] FroMage commented on #13109
Yeah, let's close it until other people want it.

[2022-04-11 14:28] edeandrea commented on #24726
Just following up - we'd also need to figure out how to use the azure event hub schema registry.

[2022-04-11 15:05] ebullient commented on #24835
ok. the star was always platform or not... but you're saying that you would then like a separate indicator for whether or not it is installed.

[2022-04-11 15:42] xstefank opened #24877 "Reactive REST client should provide value of invoked Method in the ClientRequestFilter"
### Describe the bug

As per MP REST Client spec [0], `ClientRequestContext` passed into `ClientRequestFilter` should provide a property `org.eclipse.microprofile.rest.client.invokedMethod` of value `java.lang.reflect.Method`. This works with rest-client-classic:

[code]

but doesn't in the reactive version.

[0] https://github.com/eclipse/microprofile-rest-client/blob/master/spec/src/main/asciido

[2022-04-11 15:44] xstefank commented on #24877
@michalszynkiewicz let me know if I can help. I was able to trace down the creation of REST client subclasses but I don't see the relationship from the processor to the configuration that is passed in the filter.

[2022-04-11 16:35] famod opened #24878 "`Unrecognized configuration key` warnings since 2.8.0.Final if using config property with list values in YAML"
### Describe the bug

[code]
results in a build warning in 2.8.0.Final, but not in 2.7.5.Final:
[code]

### Expected behavior

No warning, the key is valid.

### Actual behavior

`Unrecognized configuration key` warning

### How to Reproduce?

[q_build-warnings.zip](https://github.com/quarkusio/quarkus/files/8466095/q_build-warnings.zip)

`mvn clean package -DskipTests`

### Output of `uname -a` o

[2022-04-11 16:35] famod commented on #24878
/cc @radcortez

[2022-04-11 17:13] luneo7 commented on #18228
@dmlloyd when can you release a new version of the https://github.com/dmlloyd/jboss-logmanager-embedded so I can create the Quarkus Vert.x MDC Provider extension, and also update the OTEL lib to store the MDC info? Right now I am blocked waiting a release of the jboss-logmanager-embedded lib =]

[2022-04-11 17:17] dmlloyd commented on #18228
I can do a release now, however be aware that this project is on the process of being merged with the upstream `jboss-logmanager` so there is some slight risk of binary incompatibility when that is complete. This is due to this new API not existing upstream yet.

If that is okay then I'm happy to try and release it today.

[2022-04-11 17:19] luneo7 commented on #22724
When trying to solve OTEL MDC log metadata, I did the https://github.com/dmlloyd/jboss-logmanager-embedded/pull/4 PR and now I am waiting for a new version of it to be released... What I planned was to create a Quarkus Vert.x MDC Provider extension, with this extension using MDC as we normally would use works without any code change to existing MDC usage, and It would also make the OTEL feature wo

[2022-04-11 17:23] luneo7 commented on #18228
When the merge is finished, won't the new API be there? Or you mean that methods signatures and such can be changed after the merge? If that happens when updating Quarkus to use the resulting binary of the merge we will catch those changes and update the Quarkus Vert.x MDC Provider extension... I don't see any problem with that

[2022-04-11 17:25] netodevel commented on #24835
@ebullient,
Ahhhh, now I understood.
but I still think it raises doubts about the little star hahahaah.

[2022-04-11 17:38] dmlloyd commented on #18228
The API will be there, it just might move to another package or have other subtle changes necessary to resolve the divergence between the two forks.

[2022-04-11 18:04] ppalaga opened #24880 "Share the set of banned dependencies and their replacements with Quarkus ecosystem"
### Description

This follows the discussion in https://github.com/quarkusio/quarkus-platform/pull/521

Quarkus does some conscious choices when it comes to preferring some artifacts and banning the alternatives.

Jakarta spec jars are the most prominent example: Generally the jakarta spec artifacts are preferred and the obsolete alternatives coming from JBoss, Glassfish, javax and Geronimo are be

[2022-04-11 18:06] ppalaga commented on #24880
cc @aloubyansky @mjurc @tqvarnst

[2022-04-11 18:16] michalszynkiewicz commented on #24877
Found it, it should be:

[code]

and not
[code]

[2022-04-11 18:16] #24877 closed

[2022-04-11 18:31] #24631 closed

[2022-04-11 19:06] gastaldi commented on #8530
Closing as this is already done in https://github.com/michael-simons/neo4j-ogm-quarkus

[2022-04-11 19:45] renegrob commented on #22724
Important to me is that the context does not get lost along its processing chain. E.g. Vert.x request -> blocking call -> back to vert.x thread or vert.x event-loop thread -> managed thread pool - > vert.x thread or scheduler event -> blocking call -> remote call -> finish blocking call. As long as I was only dealing with reactive calls or only with blocking calls, everything was at least somehow

[2022-04-11 20:12] romilpunetha commented on #24851
Further narrowed the issue. It's not a problem with the container. It's a problem when the container is deployed in k8s + istio.

I created a container deployment locally and tried the same experiment with 100 user ids. Locally I saw no failures. I did the same test on our stage env which runs on k8s + istio and could see frequent failures.

[2022-04-11 20:45] romilpunetha commented on #24851
Did a couple of more experiments:

| client      | client env | server env  | observation
| ----------- | ----------- | ----------- | ----------- |
| curl      | local       | local  | no errors
| curl   | local        |local container | no errors
| curl   | local  | container in k8s+istio | no errors
| curl   | container in k8s+istio  |container in k8s+istio | no errors
| reactive client   | loca

[2022-04-12 05:02] romilpunetha commented on #24851
I did a wireshark capture as suggested.

In the images, you can see that the 5th attempt had one item missing.
I checked the wireshark analyze http stream for all the 5 responses and all of them had the exact same number of lines in response. So the data is present over the wire.

<img width="1569" alt="Screenshot 2022-04-12 at 10 19 57 AM" src="https://user-images.githubusercontent.com/47735999/1

[2022-04-12 05:08] vcatalano opened #24882 "Passing Custom State Data for OIDC Auth Flows"
### Description

Currently, the Quarkus OIDC extension doesn't allow developers to set custom state data as part of the `state` query parameter for the initial Authorization Request. Unfortunately, this state data is used quite frequently for passing information such as a "return to" URL or "invite code" as part of the user login flow. One work-around to this problem is to provide the "return to"

[2022-04-12 05:28] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/2152811885

[2022-04-12 05:29] romilpunetha commented on #24851
If you try the following, you should get at least one occurrence within 30 sec:

[code]
It returns the entire stream of 100 users from user-service using the resteasy reactive client.

[2022-04-12 05:53] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2152833288

[2022-04-12 05:54] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2152833288

[2022-04-12 06:11] michalszynkiewicz commented on #24851
I'll try passing through the items now...

[2022-04-12 06:12] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/2152814320

[2022-04-12 06:55] #24727 closed

[2022-04-12 07:30] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2152833288

[2022-04-12 07:32] romilpunetha commented on #24851
For the purpose of this test, I'm just passing them through and printing them on the terminal.
Even I wasn't able to reproduce the issue in the last hour using the links I shared.

[2022-04-12 07:55] romilpunetha commented on #24851
Was able to reproduce is just now.

![Uploading Screenshot 2022-04-12 at 1.25.04 PM.png…]()

[2022-04-12 08:00] iompo commented on #24537
hi @gsmet, is there anything else I can do that might help solve the issue?

[2022-04-12 08:08] beikov commented on #9142
Any idea what this could be @gsmet?

[2022-04-12 08:13] #18231 closed

[2022-04-12 08:33] pjgg opened #24885 "`quarkus.openshift.arguments` fails on OCP + native mode"
### Describe the bug

When I deploy a native application that requires custom java arguments into OCP 4.10 the container crash at creation/start time with the following error:

[code]

[code]

Appliction.properties:

[code]

Main class:
[code]

Endpoint

[code]

Works in JVM mode fails in native mode (over OCP)

### How to reproduce

Requirements:

* Java 11/ 17
* Quarkus 2.7.5.Final / 2.7.5.ER2
*

[2022-04-12 08:41] pjgg commented on #24885
DeploymentConfig (Native mode):

[code]

DeploymentConfig (JVM mode):

[code]

[2022-04-12 08:43] wizedaoMinh commented on #5751
I need this feature too. Vote up

[2022-04-12 08:45] geoand commented on #24885
Thanks a lot.

One more thing, what does the native `DeploymentConfig` look like when the no `args` are supplied?

[2022-04-12 08:53] dameng58 opened #24886 "how to disable ssl hostname verify after i configure jwt.verify.publickey.location property?"
### Describe the bug

**i set jwt.verify.publickey.location property in my properties:**

mp.jwt.verify.publickey.location=https://userservice/.well-known/jwks.json
mp.jwt.verify.issuer=TelCloud

**and i'm use quarkus-smallrye-jwt, and it's version is 2.4.1.Final**

**when i call a Service Interface,  I've had such a mistake:**

[code]

### Expected behavior

interface return 2xx

### Actual behav

[2022-04-12 08:53] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2152833288

[2022-04-12 08:54] geoand commented on #24885
Thanks a lot.

@iocanel it seems that  `args` is added to the container spec and there is no `command` (because it's based into the image I guess).
I assume that the command should be added in this case?

[2022-04-12 08:56] gwenneg commented on #23746
Sorry, I'm swamped with other subjects, I couldn't find the time to look at this one so far. Feel free to pick it up @geoand.

[2022-04-12 08:57] geoand commented on #23746
@evanchooly have you started looking into this?

[2022-04-12 09:08] geoand commented on #23265
Is this still a problem?

If so, we need @ia3andy to address it

[2022-04-12 09:08] pjgg opened #24887 "DOC:`quarkus.openshift.arguments` and `quarkus.openshift.command` doesn't have a proper description"
### Describe the bug

The provided description on [this site](https://quarkus.io/guides/deploying-to-openshift)  about `quarkus.openshift.arguments` and `quarkus.openshift.command` are poor. I guess that `quarkus.openshift.arguments` talks about the program arguments. In case of a JVM mode would be the main argument that a developer could pass to their apps, and in the case of a Native app would b

[2022-04-12 09:09] geoand commented on #23188
cc @Sgitario

[2022-04-12 09:11] #23911 closed

[2022-04-12 09:16] michalszynkiewicz commented on #24851
I see your stage server returning not enough results quite often but a simple endpoint like below returns the appropriate amount of results. This makes me think that with high probability the problem is not in the client...

[code]

[2022-04-12 09:18] ia3andy commented on #23265
if `jackson` is necessary with spring, then we should use @aloubyansky system for it no?

[2022-04-12 09:24] sberyozkin commented on #24882
@vcatalano Thanks for opening this enhancement request, can you clarify please, how would you calculate these extra parameter values if you were to implement the code flow directly in the endpoint, is the relevant information encoded in the current request URI ?

For example, do you have a flow similar to:
1. `GET /login?invitationCode=someCode`
2. The user is redirected, authenticates, redirected

[2022-04-12 09:24] argenstijn commented on #24868
Wow, that is a quick fix. Thanks :)

[2022-04-12 09:34] geoand commented on #24887
@iocanel or @Sgitario can one of you make the necessary improvements please?

[2022-04-12 09:35] geoand commented on #24837
Darn... That maven issue has caused a lot of problems... (cc @famod)

[2022-04-12 09:35] josephearl commented on #24661
🤦 I was missing the quarkus-hibernate-validator extension. It does work.

[2022-04-12 09:35] #24661 closed

[2022-04-12 09:36] geoand commented on #23265
Pretty much yeah. 1 is the most important as the generated projects are broken ATM...

[2022-04-12 09:41] #24202 closed

[2022-04-12 09:43] goafabric commented on #24837
U2

[2022-04-12 09:44] ia3andy opened #24888 "Make jackson dependency conditional in spring-web (reactive/classic)"
With this it won't be necessary to add jackson manually when using spring-web and it will be compatible with both resteasy-reactive and classic.

With this we can remove jackson from the spring-web codestart:
https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/spring-web-codestart/codestart.yml?rgh-lin

[2022-04-12 09:45] geoand commented on #24661
Thanks for the update!

[2022-04-12 09:59] romilpunetha commented on #24851
I was able to reproduce it from 2 other machines as well.

<img width="907" alt="Screenshot 2022-04-12 at 3 28 30 PM" src="https://user-images.githubusercontent.com/47735999/162934571-81837612-059e-48e8-91c5-20fcc703b815.png">

<img width="931" alt="Screenshot 2022-04-12 at 3 28 06 PM" src="https://user-images.githubusercontent.com/47735999/162934532-fa426a0b-85d1-4d31-bf49-5a5a9a39a92f.png">

[2022-04-12 10:06] michalszynkiewicz commented on #24851
This command fails, yes.
Accessing your server from an app using rest-client-reactive, with the sources I shared, works.

[2022-04-12 10:12] romilpunetha commented on #24851
Did you connect your client to user-service directly?

If yes, could you try running that in the while loop like I did and see if there are any errors? Because I've tried this call from clients in 2 different services and both failed.

[2022-04-12 10:17] anandbhaskaran commented on #21680
Thanks. It was the same for me, my grade sub-project was running a different version.

[2022-04-12 10:28] michalszynkiewicz commented on #24851
This is what I did:
[rrc-sse.zip](https://github.com/quarkusio/quarkus/files/8472062/rrc-sse.zip)

You can start the project with `mvn quarkus:dev` and call `curl localhost:8080/hello/pass-through` to have the app pass through the response from the user-service.

[2022-04-12 10:41] Sgitario commented on #23188
I think this is already working as intended. If you place your `common`manifests at `src/main/kubernetes`, the framework will use it as a base to generate the others.
Wdyt @iocanel ?

[2022-04-12 11:21] michalszynkiewicz commented on #24851
The linked zip uses Quarkus 2.7 but it works the same way with 2.8 for me

[2022-04-12 11:22] evanchooly commented on #23746
I didn't get far. I'm out this week at a conference so please take it.

[2022-04-12 11:27] #5668 closed

[2022-04-12 11:28] geoand commented on #23746
I doubt I'll have time this week, but if I do, I'll let you know

[2022-04-12 11:28] romilpunetha commented on #24851
Yes, I tried your code with 2.8 and couldn't reproduce it as well. Will try again.
If I can't, I'll have to look for what's different in my setup that could be causing the issue as it is happening across all services. I had to move to using Uni<list>.

[2022-04-12 11:58] snazy commented on #23912
@michalszynkiewicz think we can close this one too since #23927 is merged now, right?

[2022-04-12 11:58] cescoffier commented on #24694
The timeout indicate that it was not able to store the data within a 10s delay (I think that's the defailt(.
We would need a proper reproducer indicating how you ran your redis.

[2022-04-12 12:00] michalszynkiewicz commented on #23912
Yes, let's do it

[2022-04-12 12:00] #23912 closed

[2022-04-12 12:46] geoand commented on #24886
Thanks for reporting.

Does the same issue occur on the latest versions of Quarkus (`2.7.5.Final` and `2.8.0.Final`)?

[2022-04-12 12:57] j-be commented on #24878
Same here, in our case it was `quarkus.arc.exclude-types` and `quarkus.http.cors.origins`.

It seems (only smoke tested for now) to still be working correctly though, i.e. CORS still does its thing and Arc ignores the given classes just fine.

Also, we found that using multi-line comma separated strings makes the Warning disappear, so instead of

[code]

one can simply do

[code]

[2022-04-12 13:08] srigano commented on #24694
I unfortunately don't have the hand to the redis cluster.
But I can run some config commands. I'm going to do that.

[2022-04-12 13:38] sberyozkin commented on #24886
@geoand I'm pretty sure that yes, this issue will be resolved once https://github.com/smallrye/smallrye-jwt/issues/571 is resolved.

@dameng58 You can also try `quarkus-oidc`: https://quarkus.io/guides/security-openid-connect with `quarkus.tls.trust-all=true`

[2022-04-12 13:41] gsmet commented on #24878
@radcortez has this been fixed by your latest SmallRye Config upgrade? If so, we should backport it.

[2022-04-12 14:10] romilpunetha commented on #24851
I could reproduce the error in your code if I use `kubectl port-forwarding` to the same stage server instead of using the DNS.

<img width="1131" alt="Screenshot 2022-04-12 at 7 39 23 PM" src="https://user-images.githubusercontent.com/47735999/162981408-b33d4db6-300f-4bac-9b54-108c6ce946bb.png">