[2022-09-29 16:28] ivansenic opened #28303 "Quarkus requires `{` and `}` to be URL encoded in the query param"
### Describe the bug

I have hit a strange issue that Quarkus requires `{` and `}` to be URL-encoded in the query param value.. Seems that different clients choose different behavior wrt encoding those chars, and it's kind of a gray area.. There are bunch of RFCs that define different approaches, and the [WHATWG (URL) standards](https://url.spec.whatwg.org/) that specifies that for query params th

[2022-09-29 16:55] edeandrea commented on #28293
Thank you @ozangunalp . The change you made - I saw the tests all passed against 2.13.0.Final. Would that change still work on 2.12?

I guess what I'm trying to ask is if this is user error or a change that was necessary because of some other change in Quarkus?

[2022-09-29 19:14] rmanibus commented on #28301
I noticed the same thing on my project, flyway started to validate checksums in 2.13.
enabling quarkus.flyway.repair-at-start align all the checksums in the history table and allow the application to start again.
I think this only happen if a migration has been modified after it has been applied.

[2022-09-29 19:28] ozangunalp commented on #28293
It'll still work on 2.12. The error is in the user code. But indeed triggered by a fix in Reactive Messaging.

The message ack is an async action. It is better to access the Mutiny context, which is global to the pipeline, before calling the ack, in order to avoid race conditions.

[2022-09-29 19:30] edeandrea commented on #28293
Thank you for the confirmation @ozangunalp !

@gsmet I will wait until tomorrow to make sure #23612 turns back green. When it does I will go ahead and close this.

[2022-09-29 19:32] gsmet commented on #28293
@edeandrea perfect, thanks.

[2022-09-29 20:11] scrocquesel commented on #28189
@Sgitario @geoand @iocanel @stuartwdouglas If you could look at the PR description, I have some questions requiring some advice. Other than that, the PR should be working just fine.

[2022-09-29 20:21] evanchooly commented on #28217
I wish ii had seen this earlier.  I just spent the week with one of them.  I'll bug him and see what's up.

[2022-09-29 20:52] rmanibus commented on #27640
Hi @Sanne, do you have an idea about what can cause that ?

[2022-09-29 20:59] aloubyansky commented on #27841
Haven't been able to reproduce it so far. Here is what I tried:
* setup a local Nexus server running on port `8085`
* deployed Quarkus version `999-SNAPSHOT` to the local Nexus
* created a `settings.xml` with
* * local repo pointing to my project's `target/local-repo` to make sure it's cleaned with `mvn clean test`
* * configured Maven repositories to in an active by default profile for my local N

[2022-09-29 22:44] #28184 closed

[2022-09-29 23:32] kjq commented on #19452
For us, running the latest Quarkus and Kubernetes (almost) on EKS we have not seen this issue again.

[2022-09-30 02:36] eddumelendez commented on #28217
Testcontainers 1.17.4 was just released and it works with Mongo 6

[2022-09-30 05:50] dirkbolte opened #28309 "ARC interferes with Smallrye ConfigProducer"
### Describe the bug

Language: Kotlin

I want to inject a config property of a list of custom types:

[code]

While Smallrye can resolve and fill `singleType`, it fails on the list. The cause in the stack trace is:

[code]

From what I see, `WildcardTypeImpl` provides `java.util.List` as `rawType` - should it provide the upper bound of `actualTypeArgument`?

I tried mitigating it by providing an

[2022-09-30 06:13] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3156505977

[2022-09-30 06:16] dirkbolte commented on #28309
FYI: When using `@ConfigMapping`, I can get it working with solely the `MyTypeConverter`, so no List Converter:

[code]

[2022-09-30 06:17] paomian opened #28311 "Creating a Linux executable without GraalVM installed in macos"
### Describe the bug

[code]

### Expected behavior

I think it can find docker program.
I installed docker command-line.
but my docker context is in a lima instances.
[code]

### Actual behavior

_No response_

### How to Reproduce?

1. install lima
2. crete lima docker-rootful instance
3. create quarkus project
4. set `quarkus.native.remote-container-build=true quarkus.native.container-runtime=d

[2022-09-30 06:18] Sgitario commented on #28297
There are several issues here:
- From one side, the property `quarkus.kubernetes.ports.<name>.protocol` is ignored. It will be fixed in: https://github.com/quarkusio/quarkus/pull/28310
- As you stated, the protocol property in the generated Service resource is not set. It needs to be fixed in Dekorate upstream. I've reported it: https://github.com/dekorateio/dekorate/issues/1068
- Finally, the onl

[2022-09-30 06:46] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3156507834

[2022-09-30 07:23] mkouba commented on #28309
I think that the problem is caused by the fact that Kotlin translates `List<MyType>` to something like `java.util.List<? extends MyType>`, i.e. Kotlin's `List` is not `java.util.List`. And SmallRye Config does not seem to handle this kind of injection point correctly, i.e. it does not handle `WildcardType` at all.

You can try to replace the `List<MyType>` with `java.util.List<MyType>` or even `Mu

[2022-09-30 07:31] mkouba commented on #28309
CC @radcortez

[2022-09-30 07:47] dirkbolte commented on #28309
`java.util.List` works. With this, the type smallrye gets is `java.util.List<de.test.MyType>` . Went with `@ConfigMapping` for my implementation nevertheless.

Is it in the responsibility of smallrye to handle `WildcardType` or in the responsibility of `WildcardType` to act as `ParameterizedTypeImpl` like a List for this kotlin case? I personally would prefer `WildcardType` to mimic the behaviour

[2022-09-30 08:03] mkouba commented on #28309
I believe that it's the responsibility of SmallRye Config because the bytecode contains a wildcard. Note that `java.lang.reflect.WildcardType` does not even declare the `getRawType()` method.

[2022-09-30 08:03] Ladicek commented on #28309
I think it would make sense for SmallRye Config's `ConfigProducerUtil.rawTypeOf()` to consider an upper bound of a wildcard type as its "raw" type.

[2022-09-30 08:14] #27929 closed

[2022-09-30 08:22] gsmet commented on #27778
Taken care of here: https://github.com/quarkusio/quarkus/pull/28312 .

[2022-09-30 08:25] #28292 closed

[2022-09-30 08:27] gsmet opened #28313 "Fix and reenable KafkaDevServicesContinuousTesting tests"
I disabled them in https://github.com/quarkusio/quarkus/pull/28283 as all three were flaky.

[2022-09-30 08:29] #28017 closed

[2022-09-30 08:30] gsmet commented on #28313
FWIW I wonder if the problem is not the continuous testing test infrastructure.

[2022-09-30 09:00] gsmet commented on #28301
@rmanibus any chance you could write something that I could include in the migration guide?

[2022-09-30 09:26] argenstijn opened #28317 "Quarksu command mode application issue when upgrading to 2.13.0 from 2.12.3"
Hi,

When u upgrade from 2.12.3 to 2.13.0 i see the following exception

_**Picked up JAVA_TOOL_OPTIONS: -Djava.util.logging.manager=org.jboss.logmanager.LogManager
Exception in thread "main" java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at io.quarkus.launcher.QuarkusLauncher.launch(QuarkusLauncher.java:58)
	at io.quarkus.runtime.Quarkus.launchFromIDE(Quarkus.java:97)
	a

[2022-09-30 09:34] gsmet commented on #28301
https://github.com/quarkusio/quarkus/pull/28318 should fix the `ClassNotFoundException`. Thanks for the report!

[2022-09-30 09:38] gsmet commented on #28317
Are you sure you don't have different versions of Quarkus mixed up? Especially that the Quarkus Maven plugin and Quarkus dependencies version are the same?

If it is, we will need a small reproducer (i.e. a small Maven project reproducing the issue).

[2022-09-30 09:40] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3156507834

[2022-09-30 10:46] edeandrea commented on #28292
@gsmet we still should have something in the 2.13.0.Final release notes about this.

[2022-09-30 11:37] #28267 closed

[2022-09-30 13:39] HerrDerb commented on #28286
I finally found an acceptable solution for my case. I added a new `@FaultToleranceBinding` interceptor with a priority which is higher than the transactional interceptor. Inside I reuse the regular `FaultToleranceInterceptor` interceptor, only if there is also a `@Transactional` annotation on the same method (which fits my usecase for OptimisticLockException and StaleStateException)

[code]

This

[2022-09-30 13:45] arolfes opened #28322 "cache extension - cache null values is configurable"
### Description

Hello Quarkus Developers,

I would like to have the possibility to turn the caching of `null` values off.

Best Regards

### Implementation ideas

one new parameter:
[code]

In class `io.quarkus.cache.runtime.caffeine.CaffeineCacheImpl` the method replaceUniValue takes care of the new property.

[2022-09-30 13:56] #27778 closed

[2022-09-30 14:16] dezzyfreeman commented on #28297
@Sgitario

Thank you for your help. I am fairly new to Git Issues (this is my first one) so I have a clarifying question. Once a PR is merged into the main branch, is a release automatically generated? Or do the releases follow some arbitrary schedule where all merged pull requests since the last release are included?

If its the latter, is there somewhere I could find more information about when

[2022-09-30 14:29] fedinskiy opened #28324 "Hibernate validator responses with wrong Content-Type header when working in reactive mode"
### Describe the bug

I have two Resteasy Reactive endpoints, both have `@Digits` annotation from Hibernate Validator. One of the endpoint doesn't have any `@Produces` annotations, another has `@Produces(MediaType.TEXT_PLAIN)`. When querying both with invalid values, both return message with header `Content-Type=application/json`(1) and with body, which is not json(2).

When `quarkus-resteasy-reac

[2022-09-30 14:54] gsmet commented on #28324
@geoand looks more like a RESTEasy Reactive issue to me. The OP provided a reproducer above.

I think there are two issues here: the content type and the content itself, which should probably be made more readable (not sure how RESTEasy Classic handles text plain validation).

[2022-09-30 15:28] #28090 closed

[2022-09-30 15:44] radcortez commented on #28269
When building the native image, we record the lookup result in a low ordinal source to remove `application.properties` from the native image.

This usually works fine because you get the value recorded from `application.properties` (already considering that lower ordinal sources were evaluated during build time). Or, if you override it, you get the new value.

Is the provided source dynamic? Meani

[2022-09-30 15:46] radcortez commented on #28309
I'll have a look.

[2022-09-30 15:49] lorenzobenvenuti opened #28326 "Add RoutingContext to SecurityIdentity for mTLS authentication"
### Description

Hi,

I'm trying to access the current request in a `SecurityIdentityAugmentor`. Since injecting `RoutingContext` doesn't seem to work (I tried with and without `@ActivateRequestContext`), I'm wondering if `RoutingContext` can be passed in a `SecurityIdentity` attribute. I see it's already done in `OidcIdentityProvider` ([here](https://github.com/quarkusio/quarkus/blob/e19f65e535e6

[2022-09-30 15:54] quintesse commented on #16355
Correct. And I created the processor to see if I could create the model at compile time and I because we want our application to be as small as possible I didn't want to depend on any framework, that's why it was not written with Quarkus in mind. I abandoned the PoC when I found no noticeable improvement in startup time.

But the experiment's results at least suggest it's not the annotation parsin

[2022-09-30 16:30] rmanibus commented on #28301
@gsmet of course, my analysis is that after this commit: https://github.com/quarkusio/quarkus/commit/a936ad0bdf9f94df94e573da7c3a1752dea17f87 quarkus.flyway.validate-on-migrate is now activated by default.

So I would write the following in the migration guide:

 quarkus.flyway.validate-on-migrate is now enabled by default, which will cause the deployment to fail if you have modified migrations af

[2022-09-30 16:38] rmanibus commented on #28301
@gsmet also, I have a regression on 2.13.0 on my application, it is something related to request context.
I have a request scoped bean that apparently is reset during a request scoped session (at least I don't get the same instance in two different application scoped beans). It is a request context that I create myself with @ActivateRequestContext.

do you know if something changed in this release

[2022-09-30 16:44] gsmet commented on #28301
@rmanibus yes, there was a lot of work done on the contexts. I think we will really need a reproducer to understand what's going on. But first, maybe create a specific issue and explain what's going wrong.

[2022-09-30 16:45] gsmet commented on #28301
I added the entry in the migration guide, thanks @rmanibus .

I also fixed the CNFE for 2.13.1.Final so all should be good. Closing.

[2022-09-30 16:45] #28301 closed

[2022-09-30 16:45] rmanibus commented on #28301
@gsmet ok good to know, I will create the issue thanks !

[2022-09-30 16:49] sberyozkin commented on #28326
Hi @lorenzobenvenuti Sure, please do it

[2022-09-30 17:04] hbelmiro commented on #28269
@radcortez the provided source is not dynamic. This behaviour is a problem when we have a ConfigSource with ordinal > `Integer.MIN_VALUE` and < 250.

In my use case, we have this ConfigSource with ordinal = 99 and the properties end up behaving differently between JVM and native modes.

## When JVM

| ConfigSource | Ordinal | Property | Value     |
|-----------|----|---|---|
| Default ConfigSource

[2022-09-30 18:08] michalvavrik commented on #27277
Fun fact: I was able to reproduce this one every version down to 2.7.0.Final (didn't try lesser) and also with Java/mvn reproducer I created. I don't think it's important though.

[2022-09-30 20:31] OleKsimov opened #28329 "Quarkus 2.13.0: flyway migration fails to complete"
### Describe the bug

Hi guys!
I believe something is wrong with Flyway in a new Quarkus 2.13.0
In our project, there is a migration where two indices are created in the same script. This migration was working fine up until the Quarkus version is bumped from 2.11.3 to 2.13.0
After that, the migration just fails to complete and tests never end. Tests actually never start; migration somehow just han

[2022-09-30 20:41] gsmet commented on #28329
Could it be related to this note we recently added to the 2.13 migration guide: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.13#flyway ?

[2022-09-30 20:45] OleKsimov commented on #28329
It couldn't because we've got this check enabled too in a project. And in reproducer it obviously runs from scratch: it's a clear database in postgres devcontainer.

[2022-09-30 20:53] gsmet commented on #28329
OK, we will have a closer look then. Thanks for the reproducer.

[2022-09-30 23:06] michalvavrik commented on #26922
- I'm working on this as part of the https://github.com/quarkusio/quarkus/issues/5751, here you can also see an exception as RR tries to write to ended routing context, but exception is correct - it's illegal state we must fix.
- I used @marcvanR reproducer and you can workaround his issue in 2 steps
  - do not catch `UnauthorizedException`, or if you need to catch it as it's also thrown in other

[2022-09-30 23:21] ranjanashish commented on #27388
CC: @cescoffier

[2022-10-01 07:12] htl-leonding opened #28334 "[2.13.0.Final]: /q/dev UI throws an error when navigating to "Configuration" -> "Config Editor""
### Describe the bug

/q/dev UI throws an StringIndexOutOfBoundsException-error when navigating to "Configuration" -> "Config Editor"
Same behaviour like described in https://github.com/quarkusio/quarkus/issues/27345

The "Configuration" -> "Dev Services" work as expected

### Expected behavior

html page w/ config options

### Actual behavior

error message:

java.lang.StringIndexOutOfBoundsExcep

[2022-10-01 08:43] dakr0013 commented on #24258
Any updates or workarounds?

[2022-10-01 08:44] joggeli34 opened #28335 "Native awt build fails on Windows also when running with native-build-container"
### Describe the bug

Running the native build with `-Dquarkus.native.container-build=true` also fails on windows even though the native-build would be executed inside a linux docker container.

### Expected behavior

The build should work inside a linux docker container

### Actual behavior

Following error is thrown:

[code]

### How to Reproduce?

* add `io.quarkus:quarkus-awt`
* run
[code]

##

[2022-10-01 11:58] andreas-eberle commented on #24409
Could it be an option to still use wire? I mean, sure, it would add the kotlin standard library if you use quarkus-grpc then, but it would fix some issues / have some benefits that might be worth that compromise:

* enable compilation for powerpc
* it is a working library; using it would not require to implement an own library and thus reduce maintance efforts
* generate proper Kotlin code for Kot

[2022-10-01 12:00] geoand commented on #24409
We really don't want to have Kotlin as a dependency unless it's necessary.

I was initially very excited about wire, but when I saw that it has a *runtime* dependency on Kotlin the enthusiasm dampened...

[2022-10-01 12:04] andreas-eberle commented on #24409
Can you explain a bit why the Kotlin runtime dependency is so bad? Just so I can understand the situation better. Thanks!

[2022-10-01 12:05] dakr0013 commented on #24258
As I use kotlin I added a config to additionally generate kotlin classes. After that hot reloading worked with the kotlin message class. The hello service looks like this:

[code]

instead of:

[code]

I added this to my build.gradle.kts:

[code]

But using the java message class and hot reload still doesn't work. Only with the kotlin message class.

[2022-10-01 12:07] geoand commented on #24409
Because it ties us to Kotlin for absolutely no reason - that coupling can cause unexpected problems in the mid term (we've already seen those sorts of issues) and anyone who has ever dealt with scala based libraries knows that this is something to be avoided like the plague...

I am not saying that we can't have a better Kotlin specific grpc experience, what I am saying is that it makes zero sense

[2022-10-01 12:11] holly-cummins commented on #24409
+1 personal confirmation for "Kotlin should be minimised on the general path". I've seen places where the presence of Kotlin drags libraries further down the chain into being parent-first, which kicks them out of our classloaders, which makes things go weird. I don't know if there's a risk of that in this particular case, but I can see the argument for caution.

[2022-10-01 12:12] andreas-eberle commented on #24409
I see. Thanks for the explanations!

[2022-10-01 12:46] andreas-eberle commented on #24409
Just an idea: It looks like wire has at least two runtime implementations (https://github.com/square/wire/tree/master/wire-library). One for jvm and one for JS. Maybe it could be an idea to implement a pure-Java wire runtime for the Java use-case. I don't know if they would be interested in something like that, but it could allow reusing most of that project.

[2022-10-01 13:02] geoand commented on #24409
Yeah, that's one possibility, but it requires that someone set aside (potentially a lot of) extra time to do this

[2022-10-01 16:06] #27918 closed

[2022-10-01 20:02] arimeyer commented on #21574
We're also looking forward to using JPA 3 and Hibernate 6.x, which are dependent on the Jakarta EE migration.  I posted about this a few months back: https://github.com/quarkusio/quarkus/discussions/26766 .  Thanks

[2022-10-02 06:38] geoand commented on #28324
I'll have a look next week.

Thanks for the heads up

[2022-10-02 07:03] cescoffier commented on #28293
Closing - we're back to green!

[2022-10-02 07:03] #28293 closed

[2022-10-02 14:05] #27904 closed

[2022-10-03 04:57] Sgitario commented on #28297
Hi @dezzyfreeman , it's the latter. You can find more information about the release planning in https://github.com/quarkusio/quarkus/wiki/Release-Planning.

[2022-10-03 05:22] Sgitario commented on #25499
@geoand @weltonrodrigo I think this issue is gone thanks to the changes in https://github.com/quarkusio/quarkus/commit/c24179a306ba0cb0639b745a769be505532cf0e4. The new template is no longer using the user 1001 (I could reproduce this issue and after updating the Dockerfile, it works fine in OpenShift).

[2022-10-03 05:35] geoand commented on #25499
Thanks for investigating @Sgitario!

Let's close this in light of the information you mention above.

[2022-10-03 05:35] #25499 closed

[2022-10-03 05:49] geoand commented on #28277
In case the error in not sufficiently explanatory: In

[code]

you are trying to obtain an instance of `FruitsProvider` by awaiting indefinitely for a result, which is not allowed.

You'll need to refactor your code to avoid such kind of blocking.

[2022-10-03 05:49] #28277 closed

[2022-10-03 06:02] cescoffier commented on #27919
Closed by #28323

[2022-10-03 06:02] #27919 closed

[2022-10-03 06:05] cescoffier commented on #20963
I was unable to reproduce it. In the meantime, the Vert.x Redis client has been improved greatly, and Quarkus provides a new integration with Redis. Please re-open with an up-to-date and standalone reproducer if you still see the issue.

[2022-10-03 06:05] #20963 closed

[2022-10-03 06:05] cescoffier commented on #20962
I was unable to reproduce it. In the meantime, the Vert.x Redis client has been improved greatly, and Quarkus provides a new integration with Redis. Please re-open with an up-to-date and standalone reproducer if you still see the issue.

[2022-10-03 06:07] #20962 closed

[2022-10-03 06:07] cescoffier commented on #20159
Can you recheck with the last Quarkus.
The Vert.x Redis client has been improved greatly, and Quarkus provides a new integration with Redis. Please re-open with an up-to-date and standalone reproducer if you still see the issue.

[2022-10-03 06:07] #20159 closed

[2022-10-03 06:14] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3171729015

[2022-10-03 06:16] mschorsch commented on #28277
@geoand I wasn't sure so i opened this bug report. Thanks for your feedback.

[2022-10-03 06:19] geoand commented on #28277
No problem

[2022-10-03 06:27] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3171730363

[2022-10-03 07:24] geoand commented on #28324
https://github.com/quarkusio/quarkus/pull/28343 takes care of it

[2022-10-03 08:12] #27277 closed

[2022-10-03 08:36] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3171730363

[2022-10-03 08:54] loicmathieu opened #28349 "Quarkus CLI doesn't have a test command"
### Description

You can launch continuous testing only via `mvn quarkus:test` this allow TDD style developement by launching test continuously but not launching the applicaiton in dev mode.

The CLI misses this functionality, there is no `quarkus test` command.

### Implementation ideas

_No response_

[2022-10-03 09:32] samodadela opened #28350 "Reactive Messaging (RabbitMQ) - can't ack messages manually with consumer ack"
### Describe the bug

It seems that whatever I do messages get always acknowledged automatically. How can I ack a message manually?

Code:
[code]

[code]
Calling:
[code]

Produces the output:
[code]

### Expected behavior

I'd expect the following output (the ack message only after the message has been acked):

[code]

### Actual behavior

The 'message is acknowledged' block gets called before the

[2022-10-03 09:37] samodadela commented on #28350
Will do.

[2022-10-03 09:42] samodadela commented on #28350
@cescoffier [RabbitMQ Reactive Messaging, can't ack messages manually #1925 ](https://github.com/smallrye/smallrye-reactive-messaging/issues/1925)

[2022-10-03 10:06] ozangunalp commented on #28350
Wait, this seems to be normal behaviour. The emitter is pushing generating to the `generated-price` channel, which appears to be a channel connected to RabbitMQ. The custom outgoing message ack is run when the message is sent to the broker successfully.

Then your `prices` channel consumes that message, I presume, and logs "process" then incoming message ack.

[2022-10-03 10:19] michalvavrik commented on #26878
I couldn't reproduce this via UI, but CI like `xargs -I % -P 500 curl "https://localhost:8443/" < <(printf '%s\n' {1..500})` reproduces the issue. Interesting is that it only reproduces issue second time it's run. I'll have a look and let you know.

[2022-10-03 10:37] #28317 closed

[2022-10-03 10:37] argenstijn commented on #28317
Can be closed.

I update the pom but the maven intelij plugin did not update the dependency. So that was the issue.

[2022-10-03 10:37] rsvoboda commented on #28226
@gsmet @yrodiere can you pls comment on this one?

[2022-10-03 11:14] samodadela commented on #28350
So ack() can not be used to be notified that processing is done? You are saying that the broker does the ack as soon as it gets the message, so the consumer can not do it? The consumer can neither ack() nor nack()?

[2022-10-03 11:23] cescoffier commented on #28350
Ah yes, @ozangunalp is right, the emitter gets the ack when the message is acked by the broker, not when the processing succeeded.

[2022-10-03 11:28] samodadela commented on #28350
Is this a limitation of RabbitMQ?

There are settings like ` @Acknowledgment(Acknowledgment.Strategy.MANUAL)` and also `auto-acknowledgement` in application.properties... so those do nothing?

Would it make sense to log an error or warning so that the user knows it was acknowledged by the broker?

Is there a way to achieve what I intended? That is get ack after processing?

[2022-10-03 11:33] #28324 closed

[2022-10-03 11:49] samodadela commented on #28350
I guess this applies when using connectors, https://smallrye.io/smallrye-reactive-messaging/3.20.0/concepts/acknowledgement/#chain-of-acknowledgment.

[code]
(I don't quite understand the second part, though)

So what I wanted to do would work only with in-memory channels?

Please shine some light.

[2022-10-03 11:58] gsmet commented on #28226
Well, I said I wasn't too happy about it when I stumbled upon it after the fact.

But it was too late then and it's even later now so I would keep it like that (and extend the new format if something is missing).

[2022-10-03 12:12] rvansa opened #28353 "First mail executed from Vertx's ordered blocking pool gets stuck"
### Describe the bug

My application is trying to send emails from a thread in vertx's blocking pool with `ordered=true`. The first mail sent from the application get's stuck/times out when I use the reactive mailer directly with .await.atMost(...). The email is still sent (I get it) after the exception is raised.

I suspect that something in the SMTP connection handshake requires ordered executio

[2022-10-03 12:32] samodadela commented on #28350
OK, thanks. I guess I'd have to use a separate channel to send my 'ack' back to the producer.

In my opinion this behavior of is quite different from what RabbitMQ supports so that it could be documented under its own title/chapter.

Looking at https://www.rabbitmq.com/confirms.html#basics, it seems that RM does not support consumer acknowledgements but does support publisher confirmations (the ac

[2022-10-03 12:39] arunk-r commented on #13425
disabling default jdbc will help the system to focus on reactive configuration.
Here is sample configuration yml data
`quarkus.liquibase.migrate-at-start=false`
`quarkus.liquibase.change-log: db/changelog/master.xml`
`quarkus.datasource.db-kind=postgresql`
`quarkus.datasource.username=${DATASOURCE_USERNAME:user}`
`quarkus.datasource.password=${DATASOURCE_PASSWORD:pwd}`
`quarkus.datasource.jdbc= fa

[2022-10-03 12:43] derlin opened #28354 "DOCKER_CONFIG"
### Description

Support for `DOCKER_CONFIG` has been added in #27460. However, in jib, the `DOCKER_CONFIG` should point to a *directory* containing a `config.json`, while in the quarkus implementation it must point to the `config.json` file itself. This is very confusing, especially since there is no documentation. I suggest to change the quarkus jib plugin to match the behaviour of jib.

### Imp

[2022-10-03 12:44] arunk-r commented on #14682
disabling default jdbc will help the system to focus on reactive configuration and run liquibase changeset on system startup.

dependency data
`implementation("io.quarkus:quarkus-hibernate-reactive-panache")`
`implementation("io.quarkus:quarkus-liquibase")`
`implementation("io.quarkus:quarkus-reactive-pg-client")`
`implementation("io.quarkus:quarkus-jdbc-postgresql")`

configuration yml
`quarkus.l

[2022-10-03 14:05] slominskir commented on #26937
Just FYI - I'm seeing this Exception when a user attempts browser authentication using SPNEGO and their credential cache is empty (expired).   For example use kinit to repopulate the cache if empty (klist to see it) then try to login and  it works fine.   Use kdestroy and then try to reauthenticate and you'll get this Exception.

[2022-10-03 14:17] gsmet commented on #28334
@radcortez @phillip-kruger could one of you have a look to this one?

[2022-10-03 14:18] ozangunalp commented on #28350
I've not confirmed but I believe we use the `RabbitMQPublisher` feature (from https://vertx.io/docs/vertx-rabbitmq-client/java/#_reliable_message_publishing) of the underlying vertx client, which does publisher confirmations.

[2022-10-03 14:41] gsmet commented on #28329
@OleKsimov it seems to pass if I remove the `CONCURRENTLY` keyword from the index creations.

And it also passes if I downgrade Flyway to 8.5.13 (I tried 2.13 branch + Flyway 8.5.13). So if I were you, I would report the issue to the Flyway project with a minimal reproducer (that probably shouldn't use Quarkus).

[2022-10-03 14:42] gsmet commented on #28329
Also from what I can see, it's stuck on the query execution in the PostgreSQL driver so nothing specific to Quarkus I would say.

[2022-10-03 14:44] gsmet commented on #28329
For the record, this is where it is stuck:
[code]

[2022-10-03 14:50] radcortez commented on #28269
Yes, this can happen if the custom source is not removed from the native image. If the source is not dynamic, the values could be read during build time and removed. We do this to optimize the native image and not require rereading the values on the native image runtime.

Let me have a look.

[2022-10-03 14:52] OleKsimov commented on #28329
Ok, thanks for the investigation!
CONCURRENTLY keyword is quite common for Postgres databases for index creation. So I would expect some demand from Postgres customers :)

[2022-10-03 14:54] gsmet commented on #28329
Yeah, it should be supported. Not sure what they did that could have broken it.

I will close this issue. If you can't reproduce it with Flyway alone, feel free to reopen. But I really think that's a Flyway issue.

[2022-10-03 14:54] #28329 closed

[2022-10-03 15:36] ozangunalp commented on #26111
This is not quite right, because currently for incoming channel client-based health checks, we only check if we can connect to the broker, and do not check the existence of specific topics. We do that for outgoing channels.

[2022-10-03 20:37] tmulle opened #28363 "Can't use custom java.util.Date ParamConverterProvider when using Quarkus-Renarde"
### Describe the bug

I submitted an issue with that project as well and am just posting here because I thought I saw @FroMage and others in this repo as well.

This is the issue I posted: https://github.com/quarkiverse/quarkus-renarde/issues/65

It looks like Renarde's custom `java.util.Date` `ParamConverterProvider` implementation prevents the one I wrote from being used and I can't use any Date

[2022-10-03 22:34] phillip-kruger commented on #28334
I'll have a look

[2022-10-04 02:55] phillip-kruger commented on #28334
I can not recreate this on Linux. Same as with #27490. @htl-leonding can you do some more debugging to find out what value gives you the index out of bounce ?

[2022-10-04 03:24] manovotn commented on #27047
Looking at the code, we now treat `AsyncObserverExceptionHandler` as classic bean and even perform a[ validation on ambiguity](https://github.com/quarkusio/quarkus/blob/main/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcProcessor.java#L801-L816) at build time.

We could utilize `@Inject @All` and hence avoid throwing that exception but how is that useful?
I think in the rare

[2022-10-04 04:47] cleitonsodimac commented on #13649
Is there any solution?, I have the same problem

[2022-10-04 06:02] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3179600037

[2022-10-04 06:07] mkouba commented on #28115
Well, it does not behave as other `instance()` and lookup methods in general. That "filtering" got added later for one particular use case and I believe that an idiomatic solution would be to use the restricted bean types, i.e. `@Typed`.

Yes, and that was the only original added value leveraged in `io.quarkus.arc.runtime.BeanContainer.instanceFactory()` and recorders.

[2022-10-04 06:16] mkouba commented on #27047
I probably stumbled upon a use case where this was needed but I don't remember the details TBH.

I believe that it's undefined.

Let's close this issue for now and reopen/file a new one if this problem comes along.

[2022-10-04 06:16] #27047 closed

[2022-10-04 06:44] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3179601306

[2022-10-04 07:43] lorenzobenvenuti commented on #28326
It turns out that implementing this feature is harder than I thought: I didn't notice that `X509IdentityProvider` is defined in the `quarkus-security` module and it doesn't have access to `RoutingContext` and `HttpSecurityUtils`. I thought I could move attribute handling to `HttpAuthenticator` (that way `RoutingContext` will be added to `SecurityIdentity` attributes for all the HTTP-based authenti

[2022-10-04 07:57] samodadela commented on #28350
Also from the documentation:
_By default, the Reactive Messaging Message is acknowledged when the broker acknowledges the message._

... might be misleading since the default can not be changed (the broker will always ack the message)

[2022-10-04 08:10] ia3andy opened #28372 "Add codestart data option in CLI and Maven plugin"
### Description

It would be nice extension codestart to have user customizable data. This is already possible in codestarts but not yet connected in the tooling.

It would behave like this:

[code]

The `my-ext-codestart` prefix is required by the codestart system to know the data is targeting this particular codestart data (and avoid conflicts)

The default value is in the codestart.yml:
[code]

[2022-10-04 08:31] FroMage commented on #28363
I don't think this is a bug. Renarde has a date param converter for the ISO format, but if you add a `@Priority(Priorities.USER-1)` to your `ParamConverterProvider`, your provider should be used first.
Please reopen if this doesn't work.

[2022-10-04 08:31] #28363 closed

[2022-10-04 09:15] FroMage commented on #24913
This is still eating seconds on every demo, we should really improve this.

[2022-10-04 09:18] moffatn4 commented on #21739
Fyi, Application Insights offer a Java agent (public preview) to capture logs:

https://learn.microsoft.com/en-us/azure/azure-monitor/app/monitor-functions

[2022-10-04 09:18] #28108 closed

[2022-10-04 09:25] #28246 closed

[2022-10-04 10:00] lmtjalves opened #28375 "Quarkus fails when using jgitver"
### Describe the bug

Hi,

It seems that Quarkus doesn't work properly when the maven project is using the [jgitver-maven-plugin](https://github.com/jgitver/jgitver-maven-plugin) - a maven plugin to automatically define the maven project version based on git branches as tags.

Thanks.

### Expected behavior

The `./mvnw quarkus:dev` should start Quarkus in development mode, instead of failing.

##

[2022-10-04 10:07] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3179601306

[2022-10-04 10:08] brampat commented on #6506
+1 still not supported
Spock version: 2.3-groovy-3.0
JDK: 17
Quarkus: 2.11.2.Final

[2022-10-04 10:30] mkouba commented on #16355
Thanks @quintesse I'll try to do some quick tests (when I have spare cycles ;-).

[2022-10-04 10:38] gsmet commented on #28375
@lmtjalves any chance you could point to a reproducer already set up in a Git repo? That will save us some time and we will be sure we can reproduce.

[2022-10-04 11:10] lmtjalves commented on #28375
Here you have it: https://github.com/lmtjalves/quarkus-28375
Thanks @gsmet !

[2022-10-04 11:17] gsmet commented on #28375
/cc @aloubyansky probably something in your ballpark.

[2022-10-04 11:36] #28354 closed

[2022-10-04 11:50] markuseckstein commented on #27155
I'm experiencing the same issue as @HerrDerb . Unfortunately, the workaround proposed by @darraghc345 does not seem to help in my case.

[2022-10-04 12:08] edeandrea opened #28376 "Continuous testing gets messed up when stashing/unstashing changesets that have changes to tests"
### Describe the bug

When continuous testing is turned on, I notice that if I stash (or unstash) a change set that contains changes to the source code and/or test code, continuous testing gets messed up. I have to quit dev mode and re-run it in order for it to then work right again.

I recorded a video of the behavior (I couldn't attach it because it was too big, so I put it on YouTube):
https://

[2022-10-04 12:10] yrodiere opened #28377 "Log on startup with "Default CORS properties will be used, please use 'quarkus.http.cors' properties instead" without more information"
### Describe the bug

If I start a Quarkus application in production mode, with the smallrye-openapi extension enabled, I get this message on startup:

[code]

I find this confusing, as the message is not telling me what I did wrong (maybe forgot to set some properties, which ones?) nor exactly what is needed to solve it (which properties should I set, simply `quarkus.http.cors=true`? something mo

[2022-10-04 12:14] phillip-kruger commented on #28377
cc @sberyozkin

[2022-10-04 12:44] manovotn commented on #28115
I see, originally I thought that the type "filtering" was the initial reason for this method.
Ok, I can take a look at what would it take to transfer this to standard behavior.

[2022-10-04 12:52] mkouba commented on #28115
It should be fairly straightforward to modify the undertow extension but this change could break existing extensions from quarkiverse etc. Also we can't deprecate the method (because we want to keep the original functionality) which makes it more difficult.

[2022-10-04 14:14] FroMage opened #28379 "CSRF: support multipart forms as well"
### Description

https://github.com/quarkusio/quarkus/pull/27726 special-cases `APPLICATION_FORM_URLENCODED` forms, but the filter should also support multipart forms.

### Implementation ideas

_No response_

[2022-10-04 14:24] sberyozkin commented on #28377
@yrodiere Hi, I'm not sure there is anything that we should address here. Perhaps, in production, we should even do `WARN` instead since the default CORS properties allowing everything is not a good idea in production.
This message advises users to take control of setting the CORS properties when running in production.

I remember know there was a SAST Snyk failure related to these default wildcar

[2022-10-04 14:26] sberyozkin commented on #28379
Sure

[2022-10-04 14:27] rsvoboda commented on #27918
Thanks, tried the latest Quarkus main and the error message is no longer present when shutting down the app.

[2022-10-04 14:27] sberyozkin commented on #28377
Perhaps the message can be improved, do you have some proposals in mind ?

[2022-10-04 14:48] yrodiere commented on #28377
I think that's the essence of what you meant, then, and that should be in the message.

That being said, if it's such a big security risk, why aren't we setting `quarkus.http.cors` to `true` by default? You know, "secure by default"?

Also... why is this warning in the OpenAPI extension, while `quarkus.http.cors` is a property of the vert.x extension? Wouldn't CORS being disabled also be a problem

[2022-10-04 14:49] sberyozkin commented on #28377
We can't give more information as we don't know how CORS should be configured for a particular production case. But making it more informative can help, perhaps:

`Default wildcard CORS properties will be used which is not recommended in production, please use 'quarkus.http.cors' properties instead`.

Users can enable nearly the same wildcards with `quarkus.http.cors=true` only but at least it is

[2022-10-04 14:58] sberyozkin commented on #28377
@yrodiere Sure, I'd only propose replace `bad security practice` with a less scary `not recommended` :-), and would like to avoid expanding on what CORS properties are for as I guess it is known to most users. But I like the second part of your message. So may be:

`Default wildcard CORS properties will be used which is not recommended in production. Please configure the CORS filter through 'quark

[2022-10-04 15:05] sberyozkin commented on #28377
The only concern is that `https://quarkus.io/guides/http-reference#cors-filter` link can be changed during the ongoing doc refactorings...

So probably

`Default wildcard CORS properties will be used which is not recommended in production. Please configure the CORS filter through 'quarkus.http.cors.*' properties. For more information, see Quarkus HTTP CORS documentation.` ?

[2022-10-04 15:08] yrodiere commented on #28377
Ok, I'm understanding a bit more.

As someone not working with HTML/HTTP on a daily basis, I must admit it's all quite blurry to me. So maybe it's clearer to the intended audience of Quarkus.

That being said, even for the intended audience, I think it can be confusing that we mention "Default CORS properties" being used as a problem. The problem is not the defaults (which are what they are, from

[2022-10-04 15:13] yrodiere commented on #28377
Wait, if we're concerned that the documentation refactoring will lead to dead links... it will not affect *just* this message. Are we really intending to break links all over the place?

If it's just about anchors, we can definitely insert additional anchors in the documentation to make sure links don't break.

[2022-10-04 15:19] sberyozkin commented on #28377
@yrodiere Your last message seems the best.

and

I'm just not sure how the doc team will end up presenting it, it might end up in https://quarkus.io/guides/cors.

Good question. For example, with `quarkus.oidc` we do not set any CORS properties by default and recommend in the docs only to use CORS filter if CORS is required.
It just happens `smallrye-open-api` sets it by default - which was proba

[2022-10-04 15:58] knutwannheden opened #28385 "Support `StreamingOutput` or document alternative in RESTEasy Reactive"
### Description

I have seen this issue discussed in both #26473 and #15891, but it still remains unclear to me how to do the equivalent of `StreamingOutput` with RESTEasy Reactive. If `StreamingOutput` cannot be directly supported as return type for blocking endpoints, I think it would make sense if the documentation provided some clear guidance on how to do this, including how to set headers (e.

[2022-10-04 16:21] OleKsimov commented on #28329
@gsmet Just wanted to ask is there a way to set custom Flyway properties in Quarkus? There is one that fixes the mentioned behavior: [postgresqlTransactionalLock](https://flywaydb.org/documentation/configuration/parameters/postgresqlTransactionalLock)
It turned out that the problem is quite common for all Postgres users who don't use PgBouncer, but the Flyway team decided to make this configuratio

[2022-10-04 17:16] hamburml commented on #23281
Any news?

[2022-10-04 17:46] GavinRay97 opened #28387 "Devmode reload broken, NPE in `io.q.deployment.dev.ClassComparisonUtil` - "Cannot invoke "org.jboss.jandex.ClassInfo.flags()" because "old" is null""
### Describe the bug

Suddenly, the below has started happening. This is only in the last few days, and I'm not sure if I can recall any change which prompted it:

[code]

What is interesting is that this only seems to happen when launched via `./gradlew quarkusDev`
If I launch Quarkus by clicking "Start" in IntelliJ through the IDE launcher, it doesn't happen

Unfortunately, attaching a reproduce

[2022-10-04 18:15] cescoffier commented on #23281
Yes, the 2.0 is multi-archs.

[2022-10-04 18:17] #23281 closed

[2022-10-04 20:12] #28334 closed

[2022-10-04 21:17] albers commented on #23925
When minikube 1.27.0 creates a cluster, the generated kubeconfig context entry has a namespace definition:

[code]

The namespace issue might be less apparent now in the context of minikube.

[2022-10-05 05:58] geoand commented on #28387
Very weird. I don't see how `old` can be `null` here, although it would be trivial to guard against this case.

[2022-10-05 06:16] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3187467951

[2022-10-05 06:48] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3187468711

[2022-10-05 07:09] geoand commented on #24409
I just realized we already have an [issue](https://github.com/quarkusio/quarkus/issues/24505) for Kotlin support of gRPC.

[2022-10-05 07:29] geoand commented on #28385
The alternative is to use `Multi`. Now I do acknowledge that using Multi does not give you a good way to set headers...
@FroMage WDYT?

[2022-10-05 07:31] geoand commented on #28335
@Karm any idea what's going on here?

[2022-10-05 07:31] wicksim commented on #6356
Same here with H2. If I have

` @Column private UUID externalId;`,

`repository.find("externalId", externalId).firstResult();`

does not find anything.

[2022-10-05 07:33] geoand commented on #28303
Hi,

Is there any quick way I can see this in action on a Quarkus application?

[2022-10-05 07:34] yrodiere commented on #26859
I believe you need to either:

* set the target release through the Maven property `maven.compiler.release`:
[code]
* OR add a configuration section to the quarkus-maven-plugin to set the release that Quarkus should target, e.g.:
[code]

If you just set `<release>` in the `<configuration>` section of the maven-compiler-plugin, then I'm not sure Quarkus can possibly know what it needs to target, an

[2022-10-05 07:41] geoand commented on #28143
cc @jamesnetherton

[2022-10-05 07:41] geoand commented on #28143
@FroMage we should probably also add this to RESTEasy Reactive don't you think?

[2022-10-05 07:45] geoand commented on #27253
@anbonifacio did you have any luck coming up with the reproducer?

[2022-10-05 07:45] knutwannheden commented on #28385
Would the return type then be `Multi<byte[]>`? I think a concrete example in the docs would be really helpful.

[2022-10-05 07:45] geoand commented on #27318
@karesti we now have a reproducer for this (thanks @dmadunic), can you have a look?

[2022-10-05 07:49] geoand commented on #26915
@anborg any luck in providing what we asked for above?

[2022-10-05 07:50] geoand commented on #27237
I'm going to close this due to lack of feedback.

If you do manage to provide a reproducer, we'll gladly take a look.

[2022-10-05 07:50] #27237 closed

[2022-10-05 07:57] geoand commented on #28385
It really depends on what you are trying to do.

I agree. We have various tests in the codebase, but documentation would definitely help. @FroMage would you like to add something?

[2022-10-05 07:58] geoand commented on #28096
@pwlan any change you have a reproducer? It would really help in narrowing down what is going on here.

[2022-10-05 07:58] ivansenic commented on #28303
Try sending `{` as the query param value, should be as simple as that (seen on reasteasy-reactive).. You will get a straight `400` response back without even reaching the application..

[2022-10-05 08:00] geoand commented on #25236
@gaetancollaud any chance you could add a sample application we can use to debug?

[2022-10-05 08:06] Postremus commented on #28385
@knutwannheden I usually just return an inputstream for file downloads. Not sure if it helps in your situation though.
[code]

[2022-10-05 08:11] geoand commented on #28303
You can get around this by starting the application with `-Dvertx.disableURIValidation=true`.
It's totally undocumented and we usually only use it in benchmarks, but it's not going to go away.

[2022-10-05 08:11] lostiniceland commented on #26859
Setting the release also on the quarkus-plugin seems like a good solution.

[2022-10-05 08:11] #26859 closed

[2022-10-05 08:12] geoand commented on #28385
Yeah, that is one way of doing this - if you don't care about blocking that is :)

[2022-10-05 08:30] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3187468711

[2022-10-05 08:37] gsmet commented on #28335
The OS test is based on the local OS and doesn't take into account the fact that the actual OS could be a container. It needs to be adjusted.

[2022-10-05 08:52] pwlan commented on #28096
Of course
[quarkus-issue.zip](https://github.com/quarkusio/quarkus/files/9714195/quarkus-issue.zip)

Just run the tests.

[2022-10-05 08:57] geoand commented on #28096
Great, thanks!

[2022-10-05 08:59] ivansenic commented on #28303
Oh that's great.. I owe you a box of Mythos..

[2022-10-05 09:04] geoand commented on #28303
😆

[2022-10-05 09:04] geoand commented on #28303
So should we close this?

[2022-10-05 09:15] ivansenic commented on #28303
Yup, closing it..

[2022-10-05 09:15] #28303 closed

[2022-10-05 09:16] geoand commented on #28303
👍🏼

[2022-10-05 09:22] yrodiere opened #28397 "Smallrye-OpenAPI: Don't produce any CORS headers by default in production when CORS is disabled"
### Description

Currently, when Smallrye-OpenAPI is included in the application, and [CORS filters](https://quarkus.io/guides/http-reference#cors-filter) are not enabled, the endpoint returning the OpenAPI definitions will automatically add wildcard CORS headers to its responses, effectively silencing browser CORS errors without actually securing CORS.

Even though this is only for a read-only, t

[2022-10-05 10:12] knutwannheden commented on #28385
No, in our case we are dealing with a third-party library which writes to a given output stream. We then want to stream this output as the response. So with RESTEasy Classic the code looked something like this:

[code]

[2022-10-05 10:33] sberyozkin commented on #28397
I thought it could be a problem removing it as it is in the product, but if we look at removing it as fixing the security bug then it should be ok - removing it won't affect the users running and accessing Open API on the local host, and if it goes multi-domain then it is a risk that needs to be eliminated, so I think we should be fine with removing it for 2.14.0.CR1

[2022-10-05 11:01] yrodiere commented on #28397
@sberyozkin I understand your concern, that's why I was merely suggesting doing this in the next major of Quarkus.

Also yes, I agree that we could consider this a security vulnerability, in which case backwards-incompatible changes are more acceptable.

[2022-10-05 11:04] simongun opened #28398 "NoSuchMethodError with @Decorator since Quarkus 2.8"
### Describe the bug

While working correctly with Quarkus <= 2.7.x, since 2.8 and up to 2.13 a NoSuchMethodError is thrown for something that is Decorated with a Decorator implementation that is parametized.

### Expected behavior

For the provided JUnit test not to fail, and implementation class to be correctly decorated.

### Actual behavior

NoSuchMethodError in decorator.

### How to Reproduc

[2022-10-05 11:05] gsmet commented on #28398
Could you provide a reproducer? Thanks.

[2022-10-05 11:13] simongun commented on #28398
[](url)
[reproducer.zip](https://github.com/quarkusio/quarkus/files/9715087/reproducer.zip)

Simple run mvn package. You will see it reports the error. Then switch back in pom to quarkus version 2.7.6, where this will run successfully.

[2022-10-05 11:46] HerrDerb opened #28402 "QuarkusTest**Callback not executed when running QuarkusIntegrationTest"
### Describe the bug

When running a `@QuarkusIntegrationTest` the registered QuarkusTest**Callback are not executed.

Setup:

[code]

### Expected behavior

The test callback should also be executed when running integration tests.

### Actual behavior

When running a `@QuarkusIntegrationTest` the registered QuarkusTest**Callback are not executed.

### How to Reproduce?

_No response_

### Output

[2022-10-05 13:17] fedinskiy opened #28405 "RejectedExecutionException in fabric8 when checking status of amq-streams operator"
### Describe the bug

I have an application, which deploys Kafka on Openshift via amq-streams operator, checks it status, connects to it via quarkus-smallrye-reactive-messaging-kafka and when deletes it. It uses fabric8 library to check status of the operator. This works flawlessly with Quarkus 2.13.0.Final, but fails when running with 999-SNAPSHOT

### Expected behavior

The scenario should work

[2022-10-05 13:51] ricardozanini commented on #12486
@cristianonicolai @tiagodolphine the persistence integration tests are throwing a super weird exception:

[code]

Have you ever seen this before?

[2022-10-05 13:53] Sgitario commented on #28405
Can you share the Quarkus application logs as well?
I suspect the issue is in `OpenShiftClient.isCustomResourceReady`, not in Quarkus. Perhaps, it should be reported in the Fabric8 Kubernetes Client @manusa

[2022-10-05 14:09] fedinskiy commented on #28405
@Sgitario application logs for failed and successful run are here: https://gist.github.com/fedinskiy/7e9f9c6ec7ef56296c44837b2831ee28

The only meaningful difference I was able to find is difference between versions of dependencies and one new dependency:
`org.eclipse.microprofile.metrics.microprofile-metrics-api-3.0.1.jar`

[2022-10-05 14:34] albers commented on #23925
The behaviour described in this issue is not a bug but a feature, see the [Kubernetes Extension guide](https://quarkus.io/guides/deploying-to-kubernetes#namespace):

If the namespace is known, the guide recommends:

[2022-10-05 14:43] Sgitario commented on #28405
Since the application starts ok, I dont think this is caused by those new dependencies or Quarkus, but an issue either in your Quarkus QE Testing framework (something you need to change to use the new Fabric8 Kubernetes Client) or in Fabric8 Kubernetes

[2022-10-05 14:46] geoand commented on #28405
I agree with @Sgitario. My guess is that something is different in Kubernetes Client 6.x (cc @manusa)

[2022-10-05 15:12] manusa commented on #28405
It certainly doesn't look like an error caused by a change of the `microprofile-metrics-api` dependency version.

I need to clone github.com:quarkus-qe/quarkus-test-suite.git and further investigate what might be the issue. Right now I can only say that it looks like the CRD is not properly configured. We did change the behavior for non-standard/CRD APIs but I can't recall if we implemented the ch

[2022-10-05 15:14] manusa commented on #28405
BTW, is this running on a real cluster or on the Mock Server. For some reason I assumed the latter, but now I realize that might not be the case.

[2022-10-05 15:16] Karm commented on #28335
I will change ```io.quarkus.dev.console.QuarkusConsole.IS_WINDOWS``` usage to something else to as it takes into account ```nativeConfig.isContainerBuild()``` and test on Windows Podman and Windows Docker Desktop.

[2022-10-05 15:35] manusa commented on #28405
Where does this class `io.quarkus.test.bootstrap.inject.OpenShiftClient` come from? I'm not able to find it either on quarkus-test-suite or on the Quarkus project.

[2022-10-05 15:38] manusa commented on #28405
This dependency has an unaligned version of the client.

[code]

I'm not sure if this will fix the issue, but the `quarkus-test-openshift` project needs to be updated.

[2022-10-05 15:42] arpitbhardwaj commented on #28372
Let me know if i pick it up and start working on this.

[2022-10-05 15:53] stbartoli commented on #15538
In my cases i have a suuper classe mapped as @MappedSuperclass but it doesn't work. i get the error aduring the deployment.

![image](https://user-images.githubusercontent.com/66699394/194104640-d465394f-6191-4a1d-abbc-3290e2e7b9ab.png)
![image](https://user-images.githubusercontent.com/66699394/194104787-99f1da40-e88f-48c2-b93e-02fc88d6cc19.png)

I have already defined in my project( in  persiste

[2022-10-05 18:22] Sgitario commented on #28405
Many thanks @manusa ! I'm closing this issue.

[2022-10-05 18:22] #28405 closed

[2022-10-05 19:47] sgrissom-rxss commented on #17465
This seems to already work today on at least `2.11.2.Final`. Setting `quarkus.grpc.server.test-port=0` will setup a server on a random port, however unlike [VertxHttpRecorder](https://github.com/quarkusio/quarkus/blob/2.13.1.Final/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java#L1257-L1307), the `GrpcServerRecorder` does not update the system proper

[2022-10-05 20:26] GavinRay97 opened #28411 "[FR]: OpenTelemetry Auto-instrumentation for AWS SDK "Howto" guide/code example"
### Description

If possible, it'd be great to have an example of how to configure tracing for AWS SDK calls that happen in a Quarkus app.
I read the docs and searched through the Quarkus repo source code but couldn't find anything on this

Also, pulling in these libraries does not seem to do the trick:
[code]

Related Zulip convo:
- https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topi

[2022-10-05 21:21] Karm opened #28414 "Native, Podman, Windows: crun: open executable: Permission denied: OCI permission denied"
### Describe the bug

Using Dockerfile such as:

[code]

Causes `crun: open executable: Permission denied: OCI permission denied` when you try to run the image.
The reason is that the resulting Linux binary is not made executable.

A simple workaround in the Dockerfile fixes that:
[code]

I wonder whether this shouldn't be done by Quarkus itself, setting AccessMode EXECUTE on that file.... I'm gon

[2022-10-05 21:25] turing85 opened #28415 "Quarkus extension developent: allow access to all config keys at build time"
### Description

Suppose we have an extension with a nested structure (like `datasource`s), but with no compile-time fixated values, e.g.:

[code]
All those values are not compile-time fixated. I would like to be able to access all keys (not value) present at compile-time, i.e. in the example above, I want ot be able to see `named-connection-one`, `named-connection-two`, ...

### Implementation id

[2022-10-06 02:14] luketn opened #28418 "Adding quarkus-smallrye-jwt extension to Lambda Results in 404"
### Describe the bug

When working on a Java Lambda project, I added the smallrye extension for JWT validation, intending to validate a JWT header in the HTTP request headers passed from an ALB listener event.
The Lambda tests were passing until I added this extension, whereupon they started failing with a 404 error.

### Expected behavior

You can run unit tests on Lambdas after adding the quarku

[2022-10-06 04:02] bboyz269 commented on #23961
We really don't have any saying in 3rd party service implementations ...
Is there any possible point we can intercept to work around?

[2022-10-06 04:09] geoand commented on #23961
Not really

[2022-10-06 05:23] geoand commented on #28402
These indeed are not taken into account, but I am not sure if they actually should be.

WDYT @Sgitario @famod ?

[2022-10-06 05:24] Sgitario commented on #28402
I don't see any technical limitation to not execute them, so we could support this.

[2022-10-06 05:27] geoand commented on #28402
Yeah, technically we could, no question. My point is more of compatibility... We have not done this so far and if we start doing it now, we could potentially break a lot of people's tests.

[2022-10-06 05:57] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3194688547

[2022-10-06 06:33] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3194690153

[2022-10-06 06:34] mkouba commented on #28398
This looks like a duplicate of https://github.com/quarkusio/quarkus/issues/24624.

We should probably at least detect this case and report a reasonable error.

[2022-10-06 06:39] geoand commented on #28398
Indeed! I'll close as a duplicate

[2022-10-06 06:39] #28398 closed

[2022-10-06 06:40] HerrDerb commented on #28402
Most of the people will have the services file in the `test` package.  One hsould need to define a seperate one for the `integrationTest` package. This way, they would not interfere with the different tests stages, which probably defuses the risk of braking existing tests. Would that be possible?

[2022-10-06 06:43] geoand commented on #28402
That only works for Gradle :)

[2022-10-06 06:43] Postremus opened #28420 "Found unrecommended usage of private members (use package-private instead) in framework beans"
### Describe the bug

When activating debug logging for io.quarkus with the quarkus-smallrye-reactive-messaging-rabbitmq  extension present, I get following output:
[code]

These private injects should be changed to package private
https://quarkus.io/guides/cdi-reference#native-executables-and-private-members

### Expected behavior

No private injects inside quarkus framework code

### Actual beha

[2022-10-06 06:54] HerrDerb commented on #28402
Hm well then how about a quarkus test property? `quarkus.testcallbacks.enableForIntegrationTests` or something like that?

[2022-10-06 06:59] geoand commented on #28402
Yeah, we could likely introduce something like that, but it would have to be disabled by default.

[2022-10-06 07:04] HerrDerb commented on #28402
That would serve me perfect :)

[2022-10-06 07:16] geoand commented on #28402
@Sgitario WDYT?

[2022-10-06 07:21] fedinskiy opened #28421 "Resteasy Reactive doesn't support validation of output values, wrapped in Uni"
### Describe the bug

I have two Resteasy endpoints, both annotated with `@Size` for output values. One of them returns String, another returns Uni<String>. When I make them return invalid values, the String endpoint sends correct validation message, but the Uni endpoint fails with `No validator could be found for constraint`.

### Expected behavior

Output of reactive endpoints should be validate

[2022-10-06 07:38] geoand commented on #28421
Do we validate output values not wrapped in a `Uni` (cc @gsmet)?

[2022-10-06 07:49] Sgitario commented on #28402
It sounds a good idea to me as well, and it's safer way to introduce this.
But I would add this new property as part of the existing `TestConfig`, something like `quarkus.test.enable-callbacks-for-integration-tests`.

[2022-10-06 07:59] geoand commented on #28402
Yeah, definitely.

[2022-10-06 07:59] geoand commented on #28402
Would you like to look into this @Sgitario ?

[2022-10-06 08:34] fedinskiy opened #28422 "Hibernate validator returns whole stacktrace when validating"
### Describe the bug

I have two resteasy reactive endpoints. One of them uses `@Size` annotation to validate input parameter and another uses the same annotation to validate output value. When validation fails for input parameter, the endpoint returns HTTP response with status 400 and compact json with error description. When validation fails for output value, the endpoint returns HTTP response w

[2022-10-06 08:52] sberyozkin commented on #28418
@luketn I think it can't work because `quarkus-smallrye-jwt` provides `HttpAuthenticationMechanism` and brings `vertx` (HTTP) which will conflict with amazon-lambda. Also as far as I understand, JWT token is already verified in such cases, if not then have a look at https://quarkus.io/guides/amazon-lambda-http#custom-security-integration, CC @patriot1burke

[2022-10-06 08:57] yrodiere commented on #28422
This is on purpose, since validation failing on the *output* of a method is effectively an error in the application.

But yes, we should probably document this.

[2022-10-06 09:04] brunobat commented on #28411
A few questions...
Your Quarkus APP uses the AWS sdk how? Can you please give an example and the used dependencies?
Where do you see the traces? Locally? On some AWS Service?
Which specific tutorials did you follow until now?

[2022-10-06 09:05] seepine opened #28423 "Request failed: com.oracle.svm.core.jdk.UnsupportedFeatureError: SerializationConstructorAccessor class not found for declaringClass: x.x.x.AuthUser (targetConstructorClass: java.lang.Object). Usually adding x.x.x.AuthUser to serialization-config.json fixes the problem."
### Describe the bug

start the application with quarkus:dev everything is fine, but build native can not serialize `AuthUser`, i don't know whether it's the question of quarkus or redisson

### Dependencies
[code]

### Resource
[code]

### AuthUser
[code]

### ERROR log
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Outp

[2022-10-06 09:45] gsmet commented on #28421
I don't know if you do but you should :). That's how the RESTEasy Classic integration is working and I think you mimicked this behavior in RESTEasy Reactive, at least that's what the OP is saying AFAICS.

As for `Uni`, I don't know if they got some love. I'm pretty sure they will require some special treatment. I didn't do anything on that front myself, not sure if anyone did something about it.

[2022-10-06 09:48] geoand commented on #28421
I just wanted to make sure it's expected behavior, thanks

[2022-10-06 09:57] ivansenic commented on #28303
@geoand Any idea why is there a note not to disable the option in production?

https://github.com/quarkusio/quarkus/blob/e37be4694aaef028733802065212f954dc4d408d/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java#L162-L163

[2022-10-06 09:58] #28375 closed

[2022-10-06 10:00] geoand commented on #28303
Because you could end up with server side errors like https://github.com/quarkusio/quarkus/issues/10801

[2022-10-06 11:33] #28096 closed

[2022-10-06 11:36] geoand commented on #28421
This is **not** specific to RESTEasy Reactive - it's a general issue with using Hibernate Validator with a `Uni` response type.

[2022-10-06 11:41] #28377 closed

[2022-10-06 12:21] #28423 closed

[2022-10-06 12:37] samodadela opened #28425 "Reactive Messaging (RabbitMQ) - Consumers execution is sequential"
### Describe the bug

SRRM with RabbitMQ connector:
- a topic exchange bound to 3 queues
- all queues use the same routing key ("all")
- 3 consumer methods annotated with Incoming and Blocking

When sending to the exchange using the "all" routing key, I'd expect the consumers to be run concurrently. What happens is that they get called sequentially.

Reproducer attached.

[conc.zip](https://github

[2022-10-06 12:38] vsevel commented on #27266
hello any news on this?

[2022-10-06 12:39] vsevel commented on #25245
hello, do you think this is likely to be implemented at some point?

[2022-10-06 12:47] bosofelipe opened #28427 "Mongodb tracing not working properly with native build"
### Describe the bug

We are working in a quarkus project with mongo db and native build, but when enabled mongo db tracking the native compile not working, the following log error occurred.

[code]

### Expected behavior

Compile native build without errors

### Actual behavior

[code]

### How to Reproduce?

Reproducer:

1. Enable mongo db tracing in application.properties
2. Build quarkus with

[2022-10-06 13:05] geoand commented on #28427
Any chance you can attach a sample project?

[2022-10-06 13:08] samodadela opened #28428 "Reactive Messaging (RabbitMQ) - Problems restarting quarkus:dev"
### Describe the bug

While working with SMMR (RabbitMQ) I noticed various problems when restarting quarkus:dev with 's' (Force restart).
The restart results is various stack traces, this is just one of them. It causes problems when developing since you need to start quarkus:dev from scratch.

### Expected behavior

Restarting quarkus should not cause problems.

### Actual behavior

Restarting qua

[2022-10-06 13:26] aureamunoz commented on #28292
Great! thanks @edeandrea

[2022-10-06 13:40] gaetancollaud commented on #25236
The app is not open source and I anyway updated it to the latest quarkus version by know.

IMO it sounds like an config error that is intercepted wrongly (apparently by hibernate extension ?)

I can try to take a bit of time to reproduce it this week-end but I'm not sure I will succeed.

[2022-10-06 14:09] tsegismont commented on #27386
No worries, it is fine to not support pipelining. I can think of reasons why ProxySQL doesn't (shared connections).

[2022-10-06 14:13] turing85 opened #28430 "Nested required properties with dot in ConfigItem's name lead to compilation error"
### Describe the bug

If we have two configuration classes
[code]
and
[code]

The compiler will complain when an application using the extension is compiled.

### Expected behavior

No compiler error

### Actual behavior

Compilation fails with

[code]

### How to Reproduce?

Steps to reproduce the behaviour:
1. checkout https://github.com/turing85/quarkus-extension-config-bug
2. run `./mvn instal

[2022-10-06 14:15] Mugumo commented on #13023
Sadly, quarkus still doesn't work with Auth0 access tokens as a source of roles and permissions, yet it works with Spring projects.
So to date, we can authenticate using auth0 but can't do much else without adding information to the idtoken via rules which isn't recommended.

[2022-10-06 14:19] zakkak opened #28431 "Registration for reflection of non-public classes under `java.` fails silently"
### Describe the bug

When registering a non-public class under `java.` for reflection the registration fails silently. This is happening because [gizmo gets the class directly](https://github.com/quarkusio/gizmo/blob/b8d429f7c7e0f1d7312e5a479982bd33c864e544/src/main/java/io/quarkus/gizmo/BytecodeCreatorImpl.java#L363) (not through reflection):

[code]

However, `Collections.EmptyList` is `private

[2022-10-06 14:26] Sanne commented on #28431
We could revert #28219 - but as I mentioned in https://github.com/apache/camel-quarkus/issues/4148#issuecomment-1270143356 the issue only highlighted a previous issue, and that issue would still apply if someone were to use
 - io.quarkus.gizmo.BytecodeCreatorImpl#loadClass(java.lang.String)
instead of
 - io.quarkus.gizmo.BytecodeCreatorImpl#loadClassFromTCCL(java.lang.String)

So I'd rather fix gi

[2022-10-06 15:27] GavinRay97 commented on #28411
Sure, this app specifically uses the AWS SDK v2.x to make calls to AWS Athena and AWS Glue services

The dependency used is the shaded AWS SDK in this JDBC driver:
- https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html#download-the-jdbc-driver

I have `jaeger-all-in-one` set up like this:
[code]

And the following dependencies:
[code]

These ones:
- https://quarkus.io/guides/opentel

[2022-10-06 17:22] seeseemelk commented on #10716
Good point, I completely forgot about the application.properties.
I believe it does work under native, but yes, one does need to list all migration files individually.

[code]

[2022-10-06 19:00] abstractj opened #28437 "[CVE-2022-42003] A Denial of Service (DoS) vulnerability in com.fasterxml.jackson.core:jackson-databind"
### Describe the bug

Our security scanner on Keycloak reported a CVE coming from `quarkus-jackson` that might be worth to consider upgrading in the upcoming releases. Below, you can find more details.

# Overview

[com.fasterxml.jackson.core:jackson-databind](https://github.com/FasterXML/jackson-databind) is a library which contains the general-purpose data-binding functionality and tree-model fo

[2022-10-06 20:17] holly-cummins commented on #22611
@edeandrea has come up with another workaround, which is still pretty hacky, but is slightly less verbose.

In a `@BeforeEach` method, we actually know what the state is. We also have more access to the CDI context.

So we can do the state processing in `BeforeEach`:

[code]

[2022-10-06 21:02] sberyozkin commented on #28437
@abstractj
Not sure if Quarkus can depend on RCs, especially if the fix is expected to be backported.
By the way, please consider reporting such issues at security@quarkus.io in the future instead, see `New Issue/Report Security Vulnerability`, thanks

[2022-10-06 21:07] abstractj commented on #28437
@sberyozkin from my understanding https://github.com/quarkusio/quarkus/security/policy applies only to embargoed CVEs, or security vulnerabilities into the codebase, things that were not publicly disclosed yet. [CVE-2022-42003](https://nvd.nist.gov/vuln/detail/CVE-2022-42003) is public knowledge and can be detected by most of the dependency scanners.

[2022-10-06 21:13] sberyozkin commented on #28437
Sure, even if it is a public CVE, its visibility just gets increased.

[2022-10-06 21:33] ayhanap commented on #23529
To add to possible use cases. I am creating DTOs for test cases then encoding them to json with JsonObject. But because my ObjectMapperCustomizer bean not initialized my json serialization differs with normal tests and ITs. (This was pretty hard to figure out since it was nulls getting serialized causing the validation error and toString not showing json having nulls)

[2022-10-06 21:50] #27812 closed

[2022-10-07 02:18] kdubb opened #28440 "Build fails with Kotlin coroutine/suspend methods"
### Describe the bug

With latest release the build fails with this error message:
[code]

and the final cause error message is:
[code]

Notice the complaint about the `$completion` parameter in the method.

The suspend method is defined in an interface with the following signature:
[code]

An implementation class then derives from the interface and implements the methods. It builds fine in `2.13.

[2022-10-07 02:22] kdubb commented on #28440
Here is the entire stack trace, it references `EndpointIndexer.createEndpoints`.

<details>

[code]

</details>

[2022-10-07 04:18] GavinRay97 commented on #28411
Unfortunately it's private code, but I could make a small reproduction

The one catch is that it will require you to provide your own AWS keys in order for the AWS SDK calls to work
I'm happy to put one together tomorrow 👍

[2022-10-07 04:26] kdubb commented on #28350
@samodadela Are you trying to ack/nack at the destination and have that travel back through the broker to the sending client?

[2022-10-07 05:07] cristianonicolai commented on #12486
Could this be a regression or misconfiguration on our side? This class ( ClassNotFoundException: java.time.Ser ) is defined using `@RegisterForReflection` in https://github.com/kiegroup/kogito-runtimes/blob/main/quarkus/integration-tests/integration-tests-quarkus-processes-persistence/integration-tests-processes-persistence-common/src/main/java/org/kie/kogito/SerializationConfig.java#L28, and it w

[2022-10-07 05:35] geoand commented on #28440
Very interesting... I wonder if the bump to the latest Kotlin caused a regression...

Any chance you can attach a minimal sample that exhibits this problem?

[2022-10-07 05:37] kdubb commented on #28440
Yep. Just needed to record it while I finished up other things.

[2022-10-07 05:37] geoand commented on #28440
Great, thanks!

[2022-10-07 06:13] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3202412462

[2022-10-07 06:35] deblockt opened #28443 "quarkus.args not work with gradle and quarkus 2.13.0"
### Describe the bug

I try to write my own main like that:
[code]

And execute it using `quarkus cli` like that

or

### Expected behavior

The main is executed and display "1"

### Actual behavior

The main is executed and display "0"

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Darwin --- 21.5.0 Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:22 PDT 2022; root:xnu-80

[2022-10-07 06:39] geoand commented on #12486
That's weird as I don't see any changes that would have affected this

[2022-10-07 06:41] samodadela commented on #28350
That was the idea, yes.
I guess that in general this might be complicated depending on the broker, number of hops. I though that using rabbitmq and having just one hop would work.

Since currently brokers "cut" the acknowledgment chain, I would propose to make this more clear in the documentation. I've spent quite some time trying different options to get the ack through.

I guess I can simulate t

[2022-10-07 06:45] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3202414688

[2022-10-07 06:46] kdubb commented on #28350
Yeah as you've surmised this is not possible; at least with RabbitMQ.

Reply channels are not currently supported by the RabbitMQ connector. There is already an issue in the SRRM repository related to supporting reply channels. I would suggest these tickets be closed and add your use case to the existing issues regarding reply channels.

[2022-10-07 07:11] glefloch commented on #28443
Thanks for reporting this @deblockt I will have a look into it.

[2022-10-07 07:39] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3202412251

[2022-10-07 07:52] yrodiere commented on #28421
So first, that's not just a problem with Validator and `Uni`: that's a problem with reactive code and Validator not being designed to deal with reactive code (since the spec it implements, Bean Validation, only address imperative/blocking use cases). We'll have the same problem with `Multi`, `CompletableFuture`, etc.

If we start with Uni... Calling `validateReturnValue` will be problematic as Hib

[2022-10-07 08:02] famod commented on #28437
If I'm not mistaken, Quarkus is not affected _OOTB_ because it doesn't activate `UNWRAP_SINGLE_VALUE_ARRAYS`.

Can anyone confirm? @geoand maybe? Thanks!

[2022-10-07 08:03] brunobat commented on #28411
sure, no worries

[2022-10-07 08:04] geoand commented on #28437
That is indeed true @famod - we don't activate that and we don't even expose a property for users to activate it - although of course users can configure their `ObjectMapper` in any way they see fit.

[2022-10-07 08:15] yrodiere commented on #28421
Oh, an alternative would be to generate some abstract method with the same signature as the one we're validating, except the return type is `T` instead of `Uni<T>`. Then we would be able to call `validateReturnValue` passing that method as an argument.
Still a hack, though.

[2022-10-07 08:49] Sanne commented on #12486
Related to #28431

[2022-10-07 09:21] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3202414688

[2022-10-07 09:47] ThoSap commented on #25058
The guide
https://quarkus.io/guides/deploying-to-kubernetes
and
https://quarkus.io/guides/all-config
currently do not explain/list these new properties.

[2022-10-07 09:58] Sgitario commented on #20644
Yes, we need to expose these required configuration properties for secured routes.
I've just added the "good first issue" label, just in case a newcomer wants to implement this. Otherwise, I will take a look when I have the capacity.

[2022-10-07 10:13] jgrabowski opened #28446 "DI broken after update to 2.13.1 from 2.12.3"
I've noticed that my projects running on Quarkus are experiencing runtime problem when RequestScoped annotation is used on bean. It used to work properly.
Each invocation of RequestScoped bean results in exception:
`javax.enterprise.context.ContextNotActiveException: RequestScoped context was not active when trying to obtain a bean instance for a client proxy of CLASS bean`

[2022-10-07 10:20] mschorsch opened #28447 "Maven Multi-Module and Dev-Mode: Dependent class is not properly loaded"
### Describe the bug

__Disclaimer__: I'm not sure if this is a bug or a limitation of Quarkus Live Reload Mode, so I'm opening this bug report.

If a change is made in a submodule of a Maven multi-module project that does not directly affect the main module, an exception is thrown. This is because only the changed class is recompiled and reloaded and not the classes that use that class.

Explanat

[2022-10-07 11:17] samodadela commented on #28428
This seems to be connected with the Blocking annotation...

[2022-10-07 11:42] poker303 opened #28448 "Application startup problems when running tests via the @QuarkusTest annotation"
### Describe the bug

Reservation: I'm not sure if this's a bug or a work limitation of the annotation @QuarkusTest. This is our first big project on this framework, so please don't judge strictly.

My team and I write a project on Kotlin, using Quarkus as the main framework, and Gradle as the main build system. We have an application that we are currently covering with tests. The problem arises w

[2022-10-07 11:50] tsaarni commented on #28437
Hi @sberyozkin!

I personally think it would be better to deal with known vulnerabilities in open like @abstractj did by submitting this issue. Some reasons to keep CVE discussions open:

1. The purpose of CVEs is to draw attention to the vulnerabilities, so that users can evaluate the risk that they are facing.
2. Users can evaluate their risks better if they have access to discussions like this

[2022-10-07 12:00] AntonFagerberg opened #28449 "Changing content-type for Json serialization not working after upgrade"
### Describe the bug

I have a REST end-point (POST) which accepts a Json body (JsonObject from vertx-core)

[code]

I'm using [Json-API](https://jsonapi.org) and thus want to accept a custom header which is done by using the `@Consumes` header on my class:

[code]

This worked fine until migrating from Quarkus `2.8.0.Final` to `2.12.3.Final` and I guess can be caused by moving to RestEasy Reactiv

[2022-10-07 12:35] ebullient commented on #28372
Does that mean you have to know each individual codestart's requirements to make this useful? There is already a way to pass in initial configuration with existing options. This seems like something that is useful if you write codestarts frequently, but is difficult to document.

[2022-10-07 12:48] ebullient commented on #27985
Given https://github.com/quarkusio/quarkus/discussions/27983, I think I will go back and add the class name as a tag... which would allow a meter filter to stitch the full name back together.

[2022-10-07 12:53] geoand commented on #28448
Hi,

Thanks for the thorough report and for using Quarkus in general :).

The problem is that your tests are using port `8080` but Quarkus uses port `8081` in [testing](https://quarkus.io/guides/getting-started-testing#controlling-the-test-port).
Furthermore, when using Quarkus and RestAssured, you don't need to set the port as Quarkus does that [automatically](https://quarkus.io/guides/getting-st

[2022-10-07 12:53] #28448 closed

[2022-10-07 12:57] RobDTech commented on #26250
Hi, is this still being looked at please?  @brunobat

[2022-10-07 12:58] geoand commented on #28447
@aloubyansky can certainly answer this :)

[2022-10-07 12:59] geoand commented on #28446
Hi,

Would you please provide us a sample project that is exhibiting this behavior?

Thanks

[2022-10-07 13:02] sberyozkin commented on #28437
@tsaarni Hi, no one is disallowing or planning to disallow it and I'm sure users will be opening such public issues. It is better IMHO though not to draw everyone's attention to CVEs - we have a dedicated channel for taking care of such issues where Quarkus security team and Red Hat security team are listening, Red Hat team might decide to change the impact of the given CVE, etc. But it is indeed

[2022-10-07 13:29] brunobat commented on #26250
Not in the next couple of weeks, sorry @RobDTech

[2022-10-07 13:33] gmuellerinform opened #28450 "PanacheChildEntityResource"
### Description

PanacheEntityResource already provides a nice and quick way to expose entities.
It would be great to have a PanacheChildEntityResource which uses the path parameter containing the parent id, so endpoints like
/product/1/variations
are possible.
Thanks!

### Implementation ideas

_No response_

[2022-10-07 13:52] geoand commented on #28450
cc @Sgitario

[2022-10-07 13:52] sberyozkin commented on #16522
Hey @geoand, apologies, I've just discovered your comment after following on the related comments from Rostislav in QUARKUS-2389.

I think that if RestEasy Reactive could allow supporting the same style of registering OIDC Reactive client filter as the one allowed in RestEasy Classic for OIDC client reactive,

[code]
in addition to the standard

[code]

then it would indeed be a bit nicer and as @

[2022-10-07 13:54] geoand commented on #16522
Thanks @sberyozkin, I'll have a look next week.

[2022-10-07 13:59] sberyozkin commented on #16522
For example, `oidc-client-filter` registers a pair of `@OidcClientFilter` and the associated provider class name [here](https://github.com/quarkusio/quarkus/blob/main/extensions/oidc-client-filter/deployment/src/main/java/io/quarkus/oidc/client/filter/deployment/OidcClientFilterBuildStep.java#L34), and then RestEasy Classic checks the list of these build items and if a given REST Client has a matc

[2022-10-07 14:00] sberyozkin commented on #16522
@geoand Np at all, yeah, lets see if it can be done without too many problems, ping me please if you'd like me to help somehow, cheers

[2022-10-07 14:02] geoand commented on #16522
👍🏼

[2022-10-07 14:42] geoand commented on #16522
@sberyozkin can you take a look at https://github.com/quarkusio/quarkus/pull/28451?

It should cover this

[2022-10-07 14:46] u6f6o commented on #28440
I had kind of a similar issue in my project. @geoand asked me to share my reproducer here.

In order to get the exception, you'd have to execute `./gradlew clean quarkusDev`. Funnily, if you execute only `./gradlew quarkusDev` afterwards, it successfully starts up.

Here is the reproducer: https://github.com/u6f6o/suspenderino

[2022-10-07 14:47] geoand commented on #28440
Thanks a lot for this!

I'll have a look next week.

[2022-10-07 14:47] kdubb commented on #28440
Ahhh. I'm trying to make a reproducer with no luck. I'll try the clean thing.

[2022-10-07 14:48] kdubb commented on #28440
To note, that is exactly what I was doing when I encountered the issue.

[2022-10-07 14:54] kdubb commented on #28440
Yep it was the clean that was needed. For posterity here is my reproducer that generates the same error.

[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/9734918/code-with-quarkus.zip)

[2022-10-07 15:28] sberyozkin commented on #16522
Hey @geoand what a good Friday, sorry, had to step outside for a very late lunch :-)

[2022-10-07 15:29] aloubyansky commented on #28447
Yes, the `PersonResource` has to be touched to be recompiled currently. FYI @stuartwdouglas

[2022-10-07 15:29] geoand commented on #16522
No problem at all :)

[2022-10-07 15:45] kdubb commented on #28440
Adding the `quarkus-resteasy-reactive-kotlin` explicitly appears to solve the issue.

[2022-10-07 15:49] geoand commented on #28440
Yes, it does. This seems to indicate a problem with the conditional adding of extensions in `2.13.1.Final` (I also think the problem is limited to Gradle)

[2022-10-07 16:08] aloubyansky commented on #28440
It appears https://github.com/quarkusio/quarkus/commit/827f778c9ab71478b19ce230ac5a5265bfdba592 has introduced a regression and that we don't have a sufficient test coverage for this use-case.
@AdlerFleurant or @glefloch would one of you like to dig into this? Thanks!

[2022-10-07 16:33] sberyozkin opened #28452 "Move HTML unit depedency to bom/application/pom.xml"
### Description

`net.sourceforge.htmlunit:htmlunit` is currently located in `build-parent.pom` [here](https://github.com/quarkusio/quarkus/blob/main/build-parent/pom.xml#L292).
I'd like to propose to move it to `bom/application/pom.xml` as `quickstarts/security-openid-connect-web-authentication` and `quickstarts/security-openid-connect-web-authentication` use it for testing and it is also recomme

[2022-10-07 16:40] aloubyansky commented on #28452
Do we need a specific version of `net.sourceforge.htmlunit:htmlunit` or is it mostly for convenience? Also are the exclusions required in the applications for this dependency?
If there is no specific version constraint we need to be enforcing on the applications, I think we shouldn't be adding it.

[2022-10-07 17:03] sberyozkin commented on #28452
For convenience, like for for other test dependencies we have in `bom/application/pom.xml`

I don't know why these exclusions have been added

I'm not sure I follow. For example, I have realized this fragment does not work: https://quarkus.io/guides/security-openid-connect-web-authentication#integration-testing - I copied it from one of the integration tests where it does work because we have the

[2022-10-07 17:10] gsmet commented on #28452
Can't say I'm excited either. Can you check if they have frequent CVEs?

[2022-10-07 17:22] sberyozkin commented on #28452
I'm puzzled as to what the actual problem is.

https://www.cvedetails.com/product/92763/Htmlunit-Project-Htmlunit.html?vendor_id=24365.

Can we have a test scope set in the dependencyManagement section ? It is only meant to be a test scoped dependency

[2022-10-07 17:34] gsmet commented on #28372
The idea is to be able to pass some additional data for a specific extension codestart. AFAIK there's no way to do that right now.
And in the case of the GitHub Action extension, I'd like to have the ability to pass the GitHub repository where the action will be hosted.

[2022-10-07 17:57] ebullient commented on #28372
yes.. but shouldn't that be a config setting like `--app-config=whatever.github.repo=gsmet/awesomesauce`?

[2022-10-07 19:07] sberyozkin opened #28453 "CookieParam is not correctly handled by the default Resteasy Reactive converter"
### Describe the bug

If I have `@CookieParam("csrftoken") Cookie token` then `Cookie token` will have its `name` set to the value of the `csrftoken` cookie and the value will remain empty.

I'm sorry if I got it wrong, but after tracing the request and debugging the test endpoint it does look like the case.

### Expected behavior

 Given `@CookieParam("csrftoken") Cookie token`, the `Cookie` name

[2022-10-07 19:42] ebullient commented on #27247
This doesn't make any sense to me. I should be able to write unit tests against individual tests within my CLI, as well as full CLI tests within the "same run" ... I now have a case where I never even use `@QuarkusTest` explicitly, and I can't upgrade to 2.13 because my tests are broken. I think we've busted something with the user experience for building CLI here because we've decided that you ca

[2022-10-07 20:32] aloubyansky commented on #28452
To me it sounds more like a guide maintenance related issue so far. That alone shouldn't be the reason to add version constraints to the BOM. I am trying to see whether there is more to it.
RestAssured, imo, is different in that we pretty much made it our official testing API and removing it will simply break a lot of projects (which is one of the reasons removal of assertj was also taking a long

[2022-10-07 21:47] storytime opened #28454 "Rest client lambda crash"
### Describe the bug

I have a strange issue with lambda - its crashing, I found that it happens when I'm using the rest client for long requests.
40-60 sec.

### Expected behavior

Lambda should not crash.

### Actual behavior

![image](https://user-images.githubusercontent.com/2013788/194660220-1ee92966-8b39-4d9c-bf13-8b3b7088f515.png)

`00:31:04.650 INFO  (Quarkus Main Thread) - [io.quarkus] -

[2022-10-08 02:06] pwatson-ott commented on #8858
I have the same problem in the latest Quarkus builds eg 2.13.1.Final. In Quarkus 2.11.3.Final everything works fine. I believe it is because RestEasy throws an exception while sending to the client which ends up closing the SseEventSink on the server side. In Quarkus 2.13.1.Final there is no RestEasy exception so the server can't tell that the client is disconnected.

[2022-10-08 04:52] tveon commented on #28222
I've been seeing the same problem, but since I'm not sure what's causing this, I don't know how to create a reproducer. I expect that the problem is related to the environment - probably the database/Flyway state, as it eventually managed to apply the Flyway migrations and start up (and we only saw it in some environments).

FWIW our application is  pure java build with Maven, and the problem mani

[2022-10-08 08:03] paomian commented on #28311
It is ok. I make a mistake.
I add `quarkus.native.container-build` config in `application.properties` so it will be require docker when  build in  already build in docker.

[2022-10-08 08:03] #28311 closed

[2022-10-08 20:53] michalvavrik commented on #26878
I didn't manage to create standalone Vert.X reproducer. Quarkus just loads bytes and set `Buffer` to `io.vertx.core.net.PemKeyCertOptions#setCertValues`, the options are passed to Vert.X exactly once and then it's absolutely out of our reach. It's interesting when running in native, problem occurs almost immediately, but in dev mode, I have to execute curl (see prev. comment) twice. Could someone

[2022-10-08 22:42] rodrigorodrigues commented on #25632
Hi @Chanizo, did you manage to fix this?

My jwk is slightly different and couldn't find a way to make a valid call for the api always return 401 - unauthorized

jwk

	{"keys":[{"kty":"RSA","e":"AQAB","n":"XXXX"}]}

application.properties

	%consul.smallrye.jwt.verify.algorithm=HS256
	smallrye.jwt.verify.key.location=${PUBLIC_KEY_PATH:/META-INF/resources/publicKey.pem}

Exception:

	2022-10-08 23:

[2022-10-09 06:58] sag1 opened #28459 "Quarkus Mongodb Panache: How to get array from collection using query projection?"
### Describe the bug

I have a collection as below. I would like to get only countries value based on email and offers. I tried to use Query projection as described [here](https://quarkus.io/guides/mongodb-panache#query-projection)

[code]

I have created a DTO for projection as below
[code]

My query is
[code]

I am facing NullPointerException on **countryQuery.stream().map(UserCountry::getCountr

[2022-10-09 08:20] Bazalii commented on #28448
Sorry for distracting, but could you please clarify to which actual endpoint in our configuration requests should be sent? Is it http://localhost:8081/mapins ? If so, we get such response: _GraphQL Schema not generated. Make sure you have a GraphQL Endpoint. Go to https://quarkus.io/guides/microprofile-graphql to learn how_. When we exclude the path from requests for autoconfiguration we get the s

[2022-10-09 15:44] QuentinCazelles opened #28460 "@Consumes ignored for sub-resource"
### Describe the bug

I have a main resource and a nested sub-resource which I want to be able PATCH (both of them) with "application/merge-json+patch" request content.

Works for the main resource but @Consumes seems ignored in sub-resource.

Maybe a bug or maybe something I don't quite understand ...

### Expected behavior

Using my minimal-reproducer project :

`curl -i -X PATCH -H "Content-Typ

[2022-10-09 19:31] kdubb opened #28461 "Intermittent build error `ClassPathElement.getResource(String) is null`"
### Describe the bug

I am intermittently receiving a build error during `@QuarkusTest` runs in Gradle.

Noticeably they don't appear to be random but intermittent with certain tests; although I'm not sure exactly what that means. Considering the stack trace I can't imagine this is related to our code.

The issue is similar/same as #14611 but that issue is targeting a much older version and was ma

[2022-10-10 05:41] geoand commented on #28454
Thanks for the thorough report!

I tried to reproducing the issue, but when I launched `./gradlew quarkusDev`, the application would not start up properly - I got `ERROR (Quarkus Main Thread) - [io.qu.ru.Application] - Port 8080 seems to be in use by another process. Quarkus may already be running or the port is used by another application`.

Is there anything special I need to do to make your app

[2022-10-10 05:46] geoand commented on #28448
I propose having a look at https://github.com/quarkusio/quarkus-quickstarts/tree/main/microprofile-graphql-quickstart and / or https://github.com/quarkusio/quarkus-quickstarts/tree/main/microprofile-graphql-client-quickstart

[2022-10-10 05:57] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner-quickstarts/actions/runs/3217067311

[2022-10-10 06:41] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3217067513

[2022-10-10 07:24] geoand commented on #28453
https://github.com/quarkusio/quarkus/pull/28464 takes care of the issue. Seems weird that we never encountered a case of using `Cookie`  in a JAX-RS method...

[2022-10-10 08:21] storytime commented on #28454
on my mac, i usually do "killall java" for I start dev

[2022-10-10 08:40] zakkak commented on #28431
Re-opening as it depends on a new gizmo release and updating the BOM accordingly.

[2022-10-10 08:40] dhmoclex opened #28465 "CLI example from guide do not work on PowerShell on Windows"
### Describe the bug

On the guide for the [scheduler](https://quarkus.io/guides/scheduler), the command to create the example project is :

### Expected behavior

The example scheduler-quickstart project should be created.

### Actual behavior

However on PowerShell, it returns :

Adding quotes avoids this error :

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No respo

[2022-10-10 08:49] Sgitario commented on #28450
I really like this enhancement.

To elaborate on the implementation details, let's introduce this example:

[code]

At the moment, when having these two entities, Panache will expose the following endpoints:

[code]

And the idea of this feature is somehow to also expose the child entities like the resource field in the Item entity, so we can have the following additional endpoints:

[code]

The q

[2022-10-10 09:00] #27763 closed

[2022-10-10 09:01] vsevel opened #28466 "Unable to serialize java.util.Collections$SingletonSet in native mode"
### Describe the bug

I am enabling `java.util.Collections$SingletonSet` for serialization fro an extension with:
[code]

### Expected behavior

Serialization of `SingletonSet` should work.

### Actual behavior

It fails with:
[code]

### How to Reproduce?

create a new extension: `quarkus create extension myext`
In the processor, implement:
[code]

Replace `MyExtResource` with:
[code]
Execute: `m

[2022-10-10 09:33] sberyozkin commented on #28453
Yeah, interesting, I suppose it shows manually dealing with cookies is done rarely

[2022-10-10 09:34] geoand commented on #28453
Very likely!

[2022-10-10 09:37] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3217064739

[2022-10-10 10:08] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3217065597

[2022-10-10 10:10] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3217067119

[2022-10-10 10:11] #28453 closed

[2022-10-10 10:40] lorenzobenvenuti commented on #28326
Another (hack-ish) option: add this bean to the `vertx-http` module

[code]

This is an HTTP-oriented implementation of `X509IdentityProvider` that will be invoked _before_ `X509IdentityProvider` because of the highest priority.

[2022-10-10 11:05] Sgitario commented on #28450
@geoand are you ok with proceeding with the second approach?

[2022-10-10 11:10] geoand commented on #28450
Seems reasonable to me, but let's also see what @loicmathieu thinks

[2022-10-10 11:35] #28335 closed

[2022-10-10 11:35] #16522 closed

[2022-10-10 11:41] sberyozkin opened #28470 "Move `OidcClientFilter` annotation to `quarkus-oidc-client`"
### Description

As analyzed by @rsvoboda, moving from `quarkus-oidc-client-filter`  to `quarkus-oidc-client-reactive-filter` will require users changing the package name of `@OidcClientFilter` since each of these 2 extensions has its own `@OidcClientFilter` but in a different package.

It makes sense to have this annotation shared between these 2 extensions.

### Implementation ideas

Move `@Oidc

[2022-10-10 12:14] geoand commented on #28454
Same issue for me, so someone else will have to check this one

[2022-10-10 12:18] radcortez commented on #25245
Ideally if this could come from the community it would be faster :)

[2022-10-10 12:21] radcortez commented on #28427
Not related, but we need to move the Mongo Tracing integration to OpenTelemetry.

[2022-10-10 12:23] radcortez opened #28473 "Move MongoDB Client Tracing to OpenTelemetry"
### Description

The MongoDB Client Extension uses OpenTracing for Tracing. We need to move it to OpenTelemetry because CNCF has archived OpenTracing: https://www.cncf.io/blog/2022/01/31/cncf-archives-the-opentracing-project.

### Implementation ideas

_No response_

[2022-10-10 12:28] edeandrea commented on #28376
Any thoughts anyone?

[2022-10-10 12:35] FroMage opened #28474 "Can't load static resource created by extension"
### Describe the bug

In my extension, I created a static resource with:

[code]

When I try to test this:

[code]

I'm getting the following exception:

[code]

This is because those are served via a Vert.x `StaticHandler`, which accesses them via the file system, and obtains the URL to the resource via the `QuarkusClassLoader`: https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io

[2022-10-10 12:46] zakkak opened #28475 "Module support not available in GraalVM / Mandrel 21.3"
### Describe the bug

https://github.com/quarkusio/quarkus/pull/28409 adds support for modules. However, modules are not supported in GraalVM / Mandrel 21.3.

### Expected behavior

Quarkus native integration tests should pass when using 21.3.

### Actual behavior

Quarkus integartion tests fail when using 21.3. The error is:
[code]

See https://github.com/graalvm/mandrel/actions/runs/3216808337/j

[2022-10-10 12:51] iriikoad commented on #23360
Sorry for the late answer.

I see what you mean, so I tried to use a custom HttpAuthenticationMechanism that calls FormAuthenticationMechanism.

If I throw an AuthenticationFailedException in the function **authenticate**, I can see the 401 response.
But I can't manage to use the **FormAuthenticationMechanism** function to throw the AuthenticationFailedException in this function as FormAuthenticat

[2022-10-10 12:52] AntonFagerberg commented on #28449
Here you go: https://github.com/AntonFagerberg/quarkus-json-header-bug

Expectation is that this should work:
[code]

When running my project I get: `415: Unsupported Media Type`

If I change the method to be a String instead:

[code]

Then it works.

[2022-10-10 12:54] iriikoad commented on #23360
After debugging, it's in the **HttpAuthenticator**, method **sendChallenge**:
[code]

[2022-10-10 13:02] AntonFagerberg commented on #28449
I can add some more info to help with the reproducer above, this seems to be caused by changing to resteasy-reactive.
If I change this dependency `quarkus-resteasy-reactive` to `quarkus-resteasy` then I'll get this error instead:

`org.jboss.resteasy.core.NoMessageBodyWriterFoundFailure: Could not find MessageBodyWriter for response object of type: io.vertx.core.json.JsonObject of media type: appl

[2022-10-10 13:03] #28449 closed

[2022-10-10 13:11] geoand commented on #23360
@sberyozkin ^

[2022-10-10 13:42] geoand commented on #28474
I'll take a look tomorrow

[2022-10-10 13:52] #28470 closed

[2022-10-10 14:02] #28465 closed

[2022-10-10 14:25] gsmet commented on #28466
@vsevel could you provide a reproducer instead of instructions. That will be easier for us.

/cc @Karm @zakkak

[2022-10-10 14:31] gsmet commented on #28437
Well, while I agree that once a CVE is in the open, we can discuss it in the open, I'm not sure it's wise to get issues for all the CVEs that get reported out there. It will be a gigantic maintenance burden for us.

Anyway, for the time being, we will wait for a Final version of Jackson. By default, we don't use the aforementioned option so it's really to the users to decide if they are affected a

[2022-10-10 14:36] gsmet commented on #28372
It's not a config property I want. It's something that I can actually use in the templates when generating the project.

[2022-10-10 14:37] gsmet commented on #28372
@arpitbhardwaj you can have a look if you can figure out where to do this.

[2022-10-10 14:42] ebullient opened #28480 "Docs: YAML Generator changes"
Updates to the [YAML metadata generator ](https://github.com/quarkusio/quarkus/blob/main/docs/src/main/java/io/quarkus/docs/generation/YamlMetadataGenerator.java)

- [x] enforce <= 26 words in summary (eventually used for tiles on website)
- [x] define enumeration for categories, ensure each doc has category attribute
- [x] clean up warnings/errors for API-based file parsing

[2022-10-10 14:42] FroMage commented on #28385
Supporting streaming directly over the wire in a blocking way like `StreamingOutput` implies that a slow client IO will block a thread for as long as the bytes take to tranfer, locking up that thread which is an easy attack vector.

I can't think of any way to implement `OutputStream` without locking up a thread over IO. IMO the only solution is to either buffer to temp files, or in memory for sma

[2022-10-10 14:49] ebullient opened #28481 "Docs: Add Vale linter"
Bring in the vale linter for docs to help maintain docs quality / word choice / etc.

- Use testcontainers to avoid CLI install
- Add vale settings to docs directory (not project root)
- Run vale linter as part of local docs build for fast feedback (see if we can detect changed *.adoc files to reduce blast radius of messages in local builds)
- Run linter as part of PR build (only on changed *.adoc

[2022-10-10 14:49] FroMage commented on #28385
`ResteasyReactiveOutputStream` was it. But it looks to be a bit different, because it appears to support blocking. So… perhaps we actually support streaming while blocking, provided the endpoint is `@Blocking` and done in a worker thread.

If we do… from there to supporting `StreamingOutput`, it should be fairly simple. I would still prefer my suggested solution though, which would not lock a thre

[2022-10-10 14:51] FroMage commented on #28143
Well, sure. But this is related to `@BeanParam` now ;)

[2022-10-10 15:01] ebullient opened #28483 "Docs: Bring summaries from Quarkus website guide_* file into docs"
### Description

Goal: Generate all docs attributes from content in the quarkus dir.

To facilitate this, we need manually maintained information currently in th [guide data for the main branch of the website](https://github.com/quarkusio/quarkusio.github.io/blob/develop/_data/guides-main.yaml):
- Copy the `description` field into the associated *.adoc file as a `summary` attribute.
- Copy the `ca

[2022-10-10 15:03] ebullient opened #28484 "Docs/Website: Use contents of index*.yaml instead of guide*.yaml"
### Description

- Requires #28483
- Spans this repo and [quarkusio/quarkusio.github.io](https://github.com/quarkusio/quarkusio.github.io)

`docs` module quarkus project now creates two index files (one by name, and one by "type").

This includes the summary attribute that should be used when rendering tiles on the website. Related to adoption of quarkusio/quarkusio.github.io#1458

### Implementat

[2022-10-10 15:29] sberyozkin commented on #28452
OK, that is fine, thanks for the explanations, I'll update the guides

[2022-10-10 15:29] #28452 closed

[2022-10-10 15:39] kdubb opened #28485 "Incorrect log message with Jacoco extension and custom location"
### Describe the bug

When setting the Jacoco report location using `quarkus.jacoco.report-location`, the setting does indeed output the report at the provided location.

During the build it outputs the following messages, which seems incorrect considering the correct behavior.

**Note** that we are using a YAML configuration.

### Expected behavior

No unnecessary log messages is created.

### Ac

[2022-10-10 16:08] knutwannheden commented on #28385
In our case having the endpoint as blocking is not an issue. But `ResteasyReactiveOutputStream` looks like it can only be directly used by interceptors, filters, etc.

I also looked into creating a temp file, but then I couldn't figure out how to get it deleted automatically after the request finishes processing.

Please note that I would be content with a complete example in the documentation, wh

[2022-10-10 16:34] radcortez commented on #27266
I suppose that the build profile is still `prod`, correct?

Do you get the message: `The profile [X] used to build the native image is different from the runtime profile [Y]. This may lead to unexpected results.`

If this is the case, the profile-aware file will not work, because it is not recorded with the native image. The profile-aware properties work because they are listed in `getPropertyName

[2022-10-10 16:44] ebullient opened #28486 "Using QuarkusTest and QuarkusMainTest in the same package breaks in 2.13.*"
### Describe the bug

Dependabot update from 2.12.3.Final to 2.13.0.Final failed in one of my projects with an error about using `QuarkusTest` and `QuarkusMainTest` "in the same run".

This behavior change was introduced in https://github.com/quarkusio/quarkus/issues/27247

Agreed this should be doable in zulip thread: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/QuarkusTest.20a

[2022-10-10 16:48] radcortez commented on #28269
I had a look into https://github.com/hbelmiro/kogito-runtimes/blob/92c0ad8ee1dc51d11a63a49b50739699fc85f6ee/quarkus/addons/knative/eventing/runtime/src/main/java/org/kie/kogito/addons/quarkus/knative/eventing/KnativeEventingConfigSource.java and I believe there is a better way to implement the feature. Usually, calling `ConfigProvider.getConfig` may cause some issues when called from a `ConfigSour

[2022-10-10 18:20] hbelmiro commented on #23059
@geoand do you know if there's a definition for this? We're migrating the [quarkiverse/quarkus-openapi-generator](https://github.com/quarkiverse/quarkus-openapi-generator) extension to RESTEasy Reactive and this issue is impacting us.

[2022-10-10 19:12] michalvavrik opened #28489 "RESTEasy Reactive - provide way to customize response when JWT is invalid and proactive security enabled"
### Describe the bug

When application with `resteasy-reactive` and `smallrye-jwt` receives invalid token and proactive security is enabled, there is no way to customize response.

### Expected behavior

There is a way to catch `AuthenticationFailedException` and customize response.

### Actual behavior

Exception mapper/failure handler is not called.

### How to Reproduce?

Reproducer:

Steps to

[2022-10-10 19:16] vsevel commented on #25245
thanks for this honest answer @radcortez  ;)
I have thought about it. I should have more time early next year.

[2022-10-10 20:06] michalvavrik opened #28490 "Funqy Knative Events - EventAttribute is not documented"
### Description

There is not a single reference of `@EventAttribute` in documentation and JavaDoc is terse: _If there is an extra requirement to match against cloud event attributes to find the function to be triggered_ Documentation should provide a usage example and cover (among others) following:

- Can I define custom CloudEvent attribute or just standard attributes?
- Show my how I can `curl

[2022-10-10 20:45] hbelmiro commented on #28269
I'm not sure I'm following @radcortez.
You mean moving all the logic or just the logging?

[2022-10-10 20:57] michalvavrik opened #28493 "Funqy Knative Events breaks over multiple matching invokers when function name & trigger are combined"
### Describe the bug

I can set trigger (cloud event filter that triggers Funqy Knative Events function) via `io.quarkus.funqy.knative.events.CloudEventMapping#trigger`, if I don't do that, function name is used as trigger. I defined additional attribute filter with `@EventAttribute`, used function name as `trigger` and received an exception. The documentation doesn't mention `@EventAttribute` sin

[2022-10-10 21:18] vsevel commented on #28466
here it is: https://github.com/vsevel/quarkus-issue-serial-28466
execute instructions in readme
the result of the curl should be `[]` (no errors)
instead it is: `[KO: SerializationConstructorAccessor class not found for declaringClass: java.util.Collections$SingletonSet (targetConstructorClass: java.util.AbstractSet). Usually adding java.util.Collections$SingletonSet to serialization-config.json f

[2022-10-10 22:41] ebullient commented on #20625
I think this is related to https://github.com/quarkusio/quarkusio.github.io/pull/1458 as well as how we might externalize/chain together links for related articles.

You should run this idea by @insectengine ...

[2022-10-10 22:58] radcortez commented on #28473
Sure. Updated the description.

[2022-10-11 02:14] gastaldi opened #28497 "Include minimum/recommended JDK version in the platform stream descriptor"
### Description

From @rsvoboda:

Each stream can have its own specifics (e.g. default Java version) and we will have multiple streams running together for a longer time.

### Implementation ideas

Include the minimum and recommended JDK version in the platform stream (extension catalog) descriptor

[2022-10-11 05:28] geoand commented on #23059
WDYM by definition?

[2022-10-11 05:49] geoand commented on #28486
https://github.com/quarkusio/quarkus/pull/28499 should take care of the issue

[2022-10-11 05:53] rsvoboda commented on #6588
@mun711 stork kube quickstart is failing
[code]

[2022-10-11 05:54] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3224339049

[2022-10-11 06:00] geoand commented on #28460
cc @Sgitario

[2022-10-11 06:12] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3224339543

[2022-10-11 06:43] aureamunoz commented on #6588
I'll take a look

[2022-10-11 06:47] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3224341885

[2022-10-11 06:48] geoand commented on #28474
@FroMage do you have your sample code anywhere?

[2022-10-11 06:50] stuartwdouglas commented on #28385
IMHO there is no reason not to support this for @Blocking endpoints, we already have support for returning an InputStream which is just as blocking.

[2022-10-11 07:08] harpermj66 commented on #27386
4.2.7 is a version that works with Quarks 2.11.1 and is the one bundled in 2.10.1
The next one I could find was 4.3.0 which didn’t work with 2.11.1

[2022-10-11 08:00] alesj commented on #24350
Not yet.
But let me check this and get back to you.

On Wed, 27 Apr 2022 at 21:33, Knut Wannheden ***@***.***>
wrote:

[2022-10-11 08:00] Sgitario commented on #28450
__UPDATE__
I changed my mind about my suggested solution to this issue. Since the generated resources are managed by the presence of either `PanacheEntityResource` or `PanacheRepositoryResource` (see here: https://quarkus.io/guides/rest-data-panache#hr-generating-resources).
Perhaps, the best place where to configure sub resources are also using the existing annotation `@ResourceProperties`. Examp

[2022-10-11 08:04] gmuellerinform commented on #28450
Also, for multiple child resources there would be a need for such a config anyway...

[2022-10-11 08:04] marcpuca commented on #11729
Ok thanks

On Wed, 30 Mar 2022, 16:54 Steffen Vinther Sørensen, <
***@***.***> wrote:

[2022-10-11 08:43] storytime commented on #28454
@geoand

![image](https://user-images.githubusercontent.com/2013788/195042446-2fc2ac55-3b1b-452e-b3c8-3132047b525f.png)

[2022-10-11 08:43] tmulle commented on #28363
Thank You.. your suggestion seemed to work for me.

[2022-10-11 09:04] geoand commented on #28454
I am not doubting that at all, all I am saying that is that I can't look into this issue because I can't get the sample application running

[2022-10-11 09:13] geoand commented on #28454
I am sure someone else will have a look :)

[2022-10-11 09:17] #28480 closed

[2022-10-11 09:21] tsegismont commented on #27386
This should be fixed in `2.13.1.Final`. Can you have a try? Thank you

[2022-10-11 09:28] OleKsimov opened #28502 "Flyway transactional lock property"
### Description

Please consider adding new Flyway [property](https://flywaydb.org/documentation/configuration/parameters/postgresqlTransactionalLock#usage) to Quarkus configuration with default value set to "false"
A discussion about this property and issue with its current default (true) value can be found [here](https://github.com/flyway/flyway/issues/3508)

### Implementation ideas

_No respon

[2022-10-11 09:30] OleKsimov commented on #28502
This feature request is based on [this issue](https://github.com/quarkusio/quarkus/issues/28329)

[2022-10-11 09:36] FroMage commented on #28474
Not already, but I guess I could push it. You can't reproduce?

[2022-10-11 09:39] OleKsimov commented on #28502
I believe it's Flyway-specific property to choose what lock should be used: session or transactional. I would say some problems with default value (true = transactional advisory locks) appear because of Agroal connection pooling implementation.

[2022-10-11 09:41] geoand commented on #28502
Yeah, but my point is that in Flyway this property seems to be PostgreSQL specific.

[2022-10-11 09:42] geoand commented on #28474
My point is that I don't want to try to reproduce and fail :)

[2022-10-11 09:43] OleKsimov commented on #28502
Yeah, you are right, it is obviously Postgres configuration property only.

[2022-10-11 09:45] FroMage commented on #28474
Well, meet me half way :) This code should be enough, and you have to add a test for this anyway, so giving you a full project won't make your test materialise. And if it doesn't fail to reproduce, I'll give you a full project? Come to think of it, how do we even write tests for extensions?

[2022-10-11 09:48] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3224341885

[2022-10-11 09:54] geoand commented on #28474
The `deployment` module tests are usually the answer

[2022-10-11 10:19] hbelmiro commented on #23059
Will it be supported only on `File`?

[2022-10-11 10:20] geoand commented on #23059
@FroMage does your multipart PR change ^?

[2022-10-11 10:49] erik-wramner commented on #13459
If the code uses custom Jsonb adapters, the adapters work in Quarkus but not in RESTAssured in the unit tests (oddly enough). I solved that with:

[code]
where JsonbAdapters is one of my classes, which simply calls withAdapters on the config. Perhaps this can save time for someone else.

[2022-10-11 11:19] gavinking commented on #27942
Somewhat related https://github.com/quarkusio/quarkus/issues/11861

[2022-10-11 11:19] nderwin commented on #28483
@ebullient Is this simply a matter of adding, for example

[code]

to [getting-started.adoc](https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/getting-started.adoc), then rinse and repeat for the other `.adoc` files mentioned in the link above?

If so, I could put together a PR for that.  Is there a way to test that it works, or would that be covered in the larger refactoring e

[2022-10-11 11:25] ebullient commented on #28483
Yep. That's it. If you run the docs build, you can check the contents of the index files to make sure the values are present.

Building docs:
https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#building-the-documentation

[2022-10-11 11:27] harpermj66 commented on #27386
I don't know where that comment came from 4 hours ago :-)
I've already been using 2.13.1.Final and had no issues but we'll do a bit more testing.

[2022-10-11 11:36] ebullient commented on #28483
Note that some docs appear in the guide file more than once, as they are in different categories...

[2022-10-11 12:24] radcortez commented on #25245
Great. Thanks. Feel free to reach out if you need help.

[2022-10-11 12:33] radcortez commented on #28269
All the logic could be moved.

The issue with calling `ConfigProvider.getConfig` from the `ConfigSource` is that it can cause `StackoverflowErrors`. `ConfigProvider.getConfig` creates a new `Config` instance if there is none present in the current `Classloader`, including initializing the discovered `ConfigSource`. Usually, you already expect to have a `Config` in the classloader, but the user can

[2022-10-11 12:34] radcortez commented on #28485
I'll have a look.

[2022-10-11 12:44] sberyozkin commented on #28326
@lorenzobenvenuti Hi, sorry for a delay, so may be the simplest is for your application to ship such a custom provider ?

[2022-10-11 12:48] lorenzobenvenuti commented on #28326
Hi @sberyozkin yes, actually that's what we're doing right now. I was just wondering if someone else could benefit from moving this class to the framework, but probably it's a pretty unique use case (mTLS + need to access an header) and it's not worth the effort: if someone else needs something similar they can just write their own `IdentityProvider`.

Thanks,

lorenzo

[2022-10-11 12:52] radcortez commented on #28485
I cannot reproduce it. @kdubb can you please provide a reproducer? Thank you.

[2022-10-11 12:55] geoand commented on #28485
@radcortez you need to do `mvn package` (or `verify`). I tried it earlier and could verify the issue exists

[2022-10-11 13:03] radcortez commented on #28485
Hum, I did use `mvn verify`. Here is my log:

[code]

And my configuration (I've added added an unknow property):

[code]

What do you have different?

[2022-10-11 13:04] geoand commented on #28485
In your log there is:

[code]

:)

[2022-10-11 13:27] nderwin commented on #28483
Clearly, I'm doing something wrong.  Updated my fork last night, made a branch off of `main`, ran the `-DquicklyDocs` build on the project, ran the build for the `docs` project, grepped for the summary text I added to the `getting-started.adoc` file, and only see it in the `.adoc` file, nothing in the `target` directory has it.

`indexByFile.yaml` and `indexByType.yaml` both seem to be unaffected.

[2022-10-11 13:30] maxandersen commented on #28372
@gsmet I thought app config was available to codestarts ?

[2022-10-11 13:32] maxandersen commented on #28372
but -D are just system properties - shouldn't be ending up in you generated app config.

[2022-10-11 13:35] maxandersen commented on #28372
i.e.

`quarkus create app -x=my-ext -Dmy-ext-codestart.foo.bar=hello -Dmy-ext-codestart.foo.hello=andy`

should be possible to make work.

[2022-10-11 13:40] maxandersen opened #28506 "documentation.next"
Opened a few new issues:

https://github.com/quarkusio/quarkus/issues/28480: Update YAML generator (rule changes + warnings does not yet fail the build)
https://github.com/quarkusio/quarkus/issues/28481: Bring in vale linter
https://github.com/quarkusio/quarkus/issues/28483: Copy summaries from manual website guide docs into *.adoc files
https://github.com/quarkusio/quarkus/issues/28484: rsync / J

[2022-10-11 13:48] radcortez commented on #28485
No. I added that on purpose to make sure it was working. The reported property `quarkus.jacoco.report-location` does not show on the logs.

[2022-10-11 13:50] geoand commented on #28485
Ah sorry. Well, I just used the quick start we have and saw the issue there

[2022-10-11 13:58] #28242 closed

[2022-10-11 14:06] ebullient commented on #28087
This will have to wait for a little bit (we may get there). Any of the above changes listed will already be in the upstream PR, granted, in a raw format. Nightly sync puts any changes that have been merged... our PR changes (upstream) are generally finer grained, so the wording changes that you provided as an example above would be in tinier diffs in different PRs.

[2022-10-11 14:07] gsmet commented on #28372
So that could work but is there a way to access system properties from the Qute template directly? I might be missing something obvious.

[2022-10-11 14:14] gmuellerinform opened #28507 "Allow AllowedRoles in PanacheEntityResource"
### Description

PanacheEntityResource is missing  a way to allow roles in code. When using the configuration (quarkus.http.auth.) the roles are not shown in OpenAPI.

Thanks!

### Implementation ideas

_No response_

[2022-10-11 14:24] aureamunoz commented on #6588
Ok, it seems that Quarkus `2.13.1.Final` is using Stork `1.1.2` which is not aligning kubernetes client version with 6.x.
cc @gsmet @cescoffier

[2022-10-11 14:37] aureamunoz commented on #6588
Ok, it seems that Quarkus `2.13.1.Final` is using Stork `1.1.2` which is not aligning kubernetes client version with 6.x.
cc @gsmet @cescoffier

[2022-10-11 14:42] radcortez commented on #28485
I've tried with code.quarkus.io and still cannot reproduce... strange.

[2022-10-11 14:46] #28115 closed

[2022-10-11 14:50] geoand commented on #28485
Indeed, that is very weird...

[2022-10-11 14:52] gsmet commented on #28485
@kdubb please provide a reproducer. Better to avoid having Roberto chasing this thing.

[2022-10-11 15:15] bcluap opened #28509 "OpenAPI Generator : Ordering"
### Description

Our request is best explained by example. Here is our openapi definition in swagger as served by Quarkus:

https://eclipse-java-sandbox.ukheshe.rocks/eclipse-conductor/docs/#/

And the same openapi in readme.com (A very popular developer portal software)

https://developer.ukheshe.com/reference/

Our problem is that readme orders the API tags in the order they find them under the

[2022-10-11 15:18] ebullient commented on #28372
https://github.com/quarkusio/quarkus/blob/f7509ba1e11f7522730fba3ef780b67b1761ef4a/devtools/cli/src/main/java/io/quarkus/cli/create/BaseCreateCommand.java#L213 -- we do set the system properties here..

We could also set them as template values by calling this:
https://github.com/quarkusio/quarkus/blob/f7509ba1e11f7522730fba3ef780b67b1761ef4a/devtools/cli/src/main/java/io/quarkus/cli/create/BaseCr

[2022-10-11 15:21] gsmet commented on #28372
But why would we do that instead of something cleaner with the `data` thing?

[2022-10-11 15:29] pierDipi opened #28510 "`quarkus-vertx` provides non-convergent org.jboss.logging:jboss-logging-processor versions"
### Describe the bug

I've imported `quarkus-vertx` and I'm getting dependency convergence error

[code]

### Expected behavior

Both modules provide the same dependency version and the [maven-enforcer-plugin](https://maven.apache.org/enforcer/maven-enforcer-plugin/) doesn't fail when importing `quarkus-vertx`.

### Actual behavior

[code]

### How to Reproduce?

1. Import quarkus-vertx
2. Run mav

[2022-10-11 15:36] geoand commented on #28510
cc @gsmet @cescoffier

[2022-10-11 15:36] geoand commented on #28474
The easiest thing for me would be to just use your extension code instead of coming up with a new one

[2022-10-11 15:39] pierDipi opened #28511 "`quarkus-vertx` provides non-covergent org.eclipse.microprofile.config:microprofile-config-api versions"
### Describe the bug

I've imported `quarkus-vertx` and I'm getting a dependency convergence error:

[code]

### Expected behavior

`quarkus-vertx` provide the same dependency version and the [maven-enforcer-plugin](https://maven.apache.org/enforcer/maven-enforcer-plugin/) doesn't fail when importing `quarkus-vertx`.

### Actual behavior

[code]

### How to Reproduce?

1. Import quarkus-vertx
1. R

[2022-10-11 15:44] geoand commented on #28511
cc @cescoffier @gsmet @radcortez

[2022-10-11 15:48] radcortez commented on #28269
Great. Closing this, then.

[2022-10-11 15:48] #28269 closed

[2022-10-11 15:54] pierDipi opened #28512 "quarkus-vertx provides non-covergent io.smallrye.reactive:smallrye-mutiny-vertx-core versions"
### Describe the bug

I've imported quarkus-vertx and I'm getting a dependency convergence error:

[code]

### Expected behavior

quarkus-vertx provides the same dependency version and the [maven-enforcer-plugin](https://maven.apache.org/enforcer/maven-enforcer-plugin/) doesn't fail when importing quarkus-vertx.

### Actual behavior

[code]

### How to Reproduce?

1. Import quarkus-vertx
2. Run ma

[2022-10-11 15:56] pierDipi opened #28513 "quarkus-vertx provides non-covergent jakarta.transaction:jakarta.transaction-api versions"
### Describe the bug

I've imported quarkus-vertx and I'm getting a dependency convergence error:

[code]

### Expected behavior

quarkus-vertx provides the same dependency version and the [maven-enforcer-plugin](https://maven.apache.org/enforcer/maven-enforcer-plugin/) doesn't fail when importing quarkus-vertx.

### Actual behavior

[code]

### How to Reproduce?

Import quarkus-vertx
Run maven-en

[2022-10-11 15:59] pierDipi opened #28514 "quarkus-vertx provides non-covergent org.wildfly.common:wildfly-common versions"
### Describe the bug

I've imported quarkus-vertx and I'm getting a dependency convergence error:

[code]

### Expected behavior

quarkus-vertx provides the same dependency version and the [maven-enforcer-plugin](https://maven.apache.org/enforcer/maven-enforcer-plugin/) doesn't fail when importing quarkus-vertx.

### Actual behavior

[code]

### How to Reproduce?

Import quarkus-vertx
Run maven-en

[2022-10-11 16:01] pierDipi opened #28515 "quarkus-vertx provides non-covergent io.smallrye.common:smallrye-common-annotation versions"
### Describe the bug

I've imported quarkus-vertx and I'm getting a dependency convergence error:

[code]

### Expected behavior

quarkus-vertx provides the same dependency version and the [maven-enforcer-plugin](https://maven.apache.org/enforcer/maven-enforcer-plugin/) doesn't fail when importing quarkus-vertx.

### Actual behavior

[code]

### How to Reproduce?

Import quarkus-vertx
Run maven-en

[2022-10-11 16:03] pierDipi opened #28516 "quarkus-vertx provides non-covergent io.vertx:vertx-core versions"
### Describe the bug

I've imported quarkus-vertx and I'm getting a dependency convergence error:

[code]

### Expected behavior

quarkus-vertx provides the same dependency version and the [maven-enforcer-plugin](https://maven.apache.org/enforcer/maven-enforcer-plugin/) doesn't fail when importing quarkus-vertx.

### Actual behavior

[code]

### How to Reproduce?

Import quarkus-vertx
Run maven-en

[2022-10-11 16:13] cescoffier commented on #28512
Well, I believe the problem is on the other project.

[2022-10-11 16:13] gsmet commented on #28512
That's why we provide a BOM. Please use the BOM to align everything.

[2022-10-11 16:13] radcortez commented on #28415
Since we resolved the conversation in Zulip, I guess this is no longer required?

[2022-10-11 16:14] #19367 closed

[2022-10-11 16:15] geoand commented on #28512
Oh, this isn't using our BOM?

Then we should close this and all the other similar issues

[2022-10-11 16:16] MikeEdgar commented on #28509
@bcluap , I think you should be able to do this easily with an `OASFilter` like below. The idea here is that the filter will re-order the path items based on the first tag it finds for the operations beneath the path. You'll need to make it a little more sophisticated if a path may have a different tag depending on the HTTP method.

[code]

[2022-10-11 16:17] #18063 closed

[2022-10-11 16:20] pierDipi commented on #28512
I was following this guide which is not using the BOM: https://quarkus.io/guides/vertx, I will try with the BOM, maybe that guide should be updated? or perhaps clarified that importing dependencies directly without the BOM is not supported?

[2022-10-11 16:21] turing85 commented on #28415
I wouldn't say that this is "resolved". [The workaround is hacky at best](https://github.com/turing85/quarkus-artemis/blob/feature/20-add-named-connections/core/runtime/src/main/java/io/quarkus/artemis/core/runtime/ShadowRunTimeConfig.java). A proper implementation would be desirable.

[2022-10-11 16:22] radcortez commented on #28430
This has been fixed in SmallRye Config `@ConfigMapping`. This is the new recommended way to configure extensions:
https://quarkus.io/guides/writing-extensions#configuration

I'll probably won't fix this on the current mechanism, so it becomes an additional incentive to move to the new way :)

[2022-10-11 16:24] #28512 closed

[2022-10-11 16:24] #28513 closed

[2022-10-11 16:24] #28516 closed

[2022-10-11 16:24] #28515 closed

[2022-10-11 16:24] #28511 closed

[2022-10-11 16:24] #28510 closed

[2022-10-11 16:24] #28514 closed

[2022-10-11 16:25] gsmet commented on #28512
Are you sure you followed all the steps? Because the project generated by code.quarkus.io should enforce the BOM. If not we have a big issue.

[2022-10-11 16:26] pierDipi commented on #28512
I didn't generate it with code.quarkus.io

[2022-10-11 16:29] #28402 closed

[2022-10-11 16:49] #28431 closed

[2022-10-11 17:32] zakkak commented on #28466
@vsevel it looks like https://github.com/quarkusio/quarkus/issues/28431

It's fixed on `main` and the fix will land in 2.13.2.

[2022-10-11 17:58] kdubb commented on #28485
I tried reproducing it with a simple setup similar to ours (Gradle & YAML config) with no luck. I just used the quick start as well.

@geoand Can you add your reproducer?

[2022-10-11 18:01] geoand commented on #28485
All I did was use the test coverage quick start

[2022-10-11 18:18] kdubb commented on #28485
Yep. Following the coverage quick start and then changing the value to `quarkus.jacoco.report-location=target/reports/jacoco` shows the issue

[tests-with-coverage-quickstart.zip](https://github.com/quarkusio/quarkus/files/9758778/tests-with-coverage-quickstart.zip)

[2022-10-11 18:23] kdubb commented on #28440
@glefloch Anything I can do to speed this up? Holding up our update.

[2022-10-11 18:43] kdubb commented on #28485
FYI, I ran `./mvnw clean package` and this is the output that followed:

[code]

[2022-10-11 19:06] bcluap commented on #28509
Ah this is brilliant. Thank you. Works a charm:
![image](https://user-images.githubusercontent.com/26746221/195177725-a75cd168-60c9-452b-871e-4334e9bbfb4f.png)

[2022-10-11 19:18] maxandersen commented on #28372
We already use -D to pass an arbitrary keys to maven/gradle/jbang so not sure how much value it brings to add yet-another open-ended key/value command option?

[2022-10-11 20:32] glefloch commented on #28440
@kdubb not really, I found the commit that introduced the issue but not the line of code yet

[2022-10-11 22:13] segersb opened #28522 "Regression is BasicAuthHelper behavior"
### Describe the bug

When staring quarkus, a request is made to the oidc auth server token url.
The basic authorization header is different in version 2.12.3.Final versus 2.13.1.Final

### Expected behavior

The basic authorization header should remain the same.

### Actual behavior

The basic authorization header is different, for instance for credentials username/password
before Basic dXNlcm5hb

[2022-10-11 23:22] #28509 closed

[2022-10-12 01:30] nderwin commented on #28483
PR will be forthcoming, but here's a few things I noticed while working on this:

`all-config.adoc` and `all-builditems.adoc` refuse to generate the categories and summary, even though they are specified in the `.adoc` file.  I'm not sure why.

There are several files mentioned in the `guides-main.yaml` file where there are no corresponding `.adoc` file:
- amazon-dynamodb, amazon-iam, amazon-kms,

[2022-10-12 02:17] ebullient commented on #28483
I can have a look at all-config / all-builditems .. it is likely something the YAML generator is (or more likely is not) doing.

For the others, I think this is the list! =) I am fairly sure that all of the files you're looking for you will find in quarkiverse repositories.. https://github.com/quarkiverse. Handling the docs from those repos using generated metadata is also on my list. If you want

[2022-10-12 03:04] #28486 closed

[2022-10-12 03:35] vsevel commented on #28466
wonderful @zakkak - thanks for looking into it. let's close this. will reopen if necessary

[2022-10-12 03:35] #28466 closed

[2022-10-12 04:00] vsevel commented on #28466
@gsmet when do you think will `2.13.2` get produced?

[2022-10-12 04:49] #27615 closed

[2022-10-12 05:47] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3232210638

[2022-10-12 06:04] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3232211257

[2022-10-12 06:33] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3232213492

[2022-10-12 06:38] Postremus opened #28524 "resteasy-reactive-jaxb does not work nicely together with multipart/form-data FileUpload"
### Describe the bug

I have 3 resteasy-reactive resources in my project:
- one which returns application/xml
- one which consumes multipart/form-data. This uses a org.jboss.resteasy.reactive.multipart.FileUpload.
- one which returns text/plain

The text/plain one works correctly.
The multipart/form-data one also works correctly.

The application/xml one however complains about the FileUpload whic

[2022-10-12 06:41] Postremus commented on #28524
I attached an reproducer to the starting post.

[2022-10-12 06:45] geoand commented on #28507
cc @Sgitario

[2022-10-12 06:58] yrodiere commented on #25836
Looks like a duplicate of #17747, closing. Feel free to ping me if this problem is different from #17747.

[2022-10-12 06:58] #25836 closed

[2022-10-12 06:59] yrodiere commented on #17747
Also reported as #25836 by [rmanibus](https://github.com/rmanibus) with a separate reproducer and (probably) a more recent version of Quarkus:

[2022-10-12 07:49] geoand commented on #26138
This has to do with how logging is (not) configured in generated Gradle projects.

In Maven projects we make sure that JBoss Logmanager is used (by setting a system property for surefire and failsafe), but in Gradle projects we don't do this.

By adding:

[code]

logging works correctly.

@glefloch @gsmet @dmlloyd any idea why we don't do ^?

[2022-10-12 08:09] sberyozkin commented on #28522
@segersb Hi, I don't think it is a Quarkus issue, I see 2 `BasicAuthHelper`s, `org.jboss.resteasy.util.BasicAuthHelper` and `org.keycloak.util.BasicAuthHelper`, so please open the issue either in `Resteasy` or `Keycloak` projects

[2022-10-12 08:11] gsmet commented on #6588
@aureamunoz but this is about Quarkus `main` so it should use whatever Stork version is used in `main` with the Kubernetes Client used in `main`. I don't see the Quarkus version overridden.

[2022-10-12 08:17] jamesnetherton commented on #28431
@gsmet Will the fix for this get backported to 2.13? I see the issue got removed from the 2.13.2 milestone.

[2022-10-12 08:41] mkouba commented on #28353
Why do you use the reactive mailer on a vertx worker thread? I mean it would make sense to use the imperative/blocking version on a worker thread and the reactive version on the even loop (an I/O thread), i.e. in a non-blocking resource or scheduler method.

Could you please provide a simple project that would reproduce this behavior?

[2022-10-12 08:58] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3232213492

[2022-10-12 09:04] gsmet commented on #28431
Yes, it will be in 2.13.2.Final.
I had to do a 1.1.1.Final release of Gizmo specifically, that's why there was some back and forth on the milestones.

[2022-10-12 09:22] #28178 closed

[2022-10-12 09:25] sberyozkin commented on #28418
Closing it as not a bug. @luketn If you'd like to use `smallrye-jwt` to verify the token, assuming the token has not already been verified, then please use `smallrye-jwt` directly (but not quarkus-smallrye-jwt)

[2022-10-12 09:25] #28418 closed

[2022-10-12 09:30] sberyozkin commented on #27942
Hey @gastaldi, are you OK with having this possible Quarkiverse extension enabled ?

[2022-10-12 09:31] sberyozkin commented on #25732
@michalvavrik Hi Michal, did your PR fix this issue as well ?

[2022-10-12 09:51] jackovsky8 opened #28527 "Multiple classes due to QuarkusClassLoader?"
### Describe the bug

I have some Tests like:

@QuarkusTest
@MyExtension
public class {
  @BeforeEach
  public void setup() {
    Class<MyClass> c1 = MyClass.class
  }
}

public class MyExtension implements BeforeAllCallback {
    @Override
    public void beforeAll(ExtensionContext context) throws Exception {
        Class<MyClass> c2 = MyClass.class
    }
}

Actually MyClass is something like an

[2022-10-12 09:55] sberyozkin commented on #22971
@michalvavrik This issue may have been fixed as well by your PR

[2022-10-12 09:55] radtriste commented on #11433
@aloubyansky We noticed (due to networking failures) that the bootstrap is still not taking the mirror into account.
Is it on purpose ?
do we need to set the `<maven.settings>${session.request.userSettingsFile.path}</maven.settings>` for each of our testing modules/examples ?

[2022-10-12 10:03] radtriste commented on #11433
ok nevermind, seems we set it for runtimes but not for examples ...

[2022-10-12 10:06] iocanel commented on #25809
I was affectected by the issue myself. I had no way of knowing what is going on and I had to actually debug to get an idea.

Some options that could make for a better developer experience:

- If a realm is explicitly provided by the user, but failed to apply for wahtever reason, should result in an Exception.
- Provide an option that disable the log message removal. Also log a message informing th

[2022-10-12 10:08] brunobat opened #28528 "OpenTracing to OpenTelemetry migration guide"
### Description

We need a howto detailing the process and best practices around migrating Quarkus applications from OpenTracing to OpenTelemetry.

### Implementation ideas

_No response_

[2022-10-12 10:11] radtriste commented on #11433
ok I finally found an example (sorry for the spam)

**example**
https://github.com/kiegroup/kogito-examples/blob/stable/kogito-quarkus-examples/onboarding-example/onboarding-quarkus/pom.xml
surefire/failsafe configuration is taken from https://github.com/kiegroup/kogito-runtimes/blob/main/kogito-build/kogito-build-no-bom-parent/pom.xml#L355 (see also the effective pom of the example) and `maven.se

[2022-10-12 10:39] sberyozkin commented on #25809
Hi @iocanel I agree with the first point, my original thinking was, in devmode, one just continues by clicking on `Keycloak Admin` and continues dealing with realms there, importing them, etc, but the experience shows, that indeed, not failing early just causes problems.
Though thinking a bit more about it, if we see an error log message that for ex REAL json is malformed, then the user goes ahead

[2022-10-12 10:51] michalvavrik commented on #25732
@sberyozkin `AuthenticationFailedException` here is thrown by `io.quarkus.elytron.security.runtime.ElytronPasswordIdentityProvider#authenticate` that is called from `permissionCheckHandler` and it's running before RR begin processing. Here `DefaultAuthFailureHandler` is used as it would be dangerous to remove it before RR begun processing (it would go to failure handler, probably down to the `io.q

[2022-10-12 11:01] iocanel commented on #25809
Sounds good to me.

[2022-10-12 11:02] michalvavrik commented on #22971
@sberyozkin this issue covers all the cases when default auth failure handlers ends response. Let me create PR, I think there is an easy solution that covers both issues you have commented me in. I had it in my PR, but we agreed to handle it separately.

[2022-10-12 11:04] rvansa commented on #28353
@mkouba The reproducer is already attached to the report, under 'How to Reproduce'. I run the code in a transaction that involves JPA, hence the blocking/worker thread. The `ordered=true` is a different matter, it's actually a workaround for a ordering conflict in PostgreSQL that fails the transaction, so it is not strictly necessary (I plan to work on a better solution).
Initially I've used the b

[2022-10-12 11:13] cescoffier commented on #28353
It's not that simple. It only happens during the connection establishment. So it's not all calls (and not only the first one, as it depends on connection cut and keep-alive)

[2022-10-12 11:30] rvansa commented on #28353
@cescoffier Yes, though if it's unsafe to establish connection this way, given that it might be racy/out of control, invoking that should be prohibited in all cases, and in mail mock mode, too.

[2022-10-12 11:50] zakkak opened #28530 "LambdaCapturingClasses not supported in GraalVM 21.3"
### Describe the bug

https://github.com/quarkusio/quarkus/commit/b772ad2dec4c8734f2bde3dd607fa7490b5e29cf introduced `LambdaCapturingTypeBuildItem` which depends on `org.graalvm.nativeimage.impl.RuntimeSerializationSupport#registerLambdaCapturingClass` which was introduced in GraalVM 22.1.0 (https://github.com/oracle/graal/commit/b455f23b624a1af149c7d5769443a4775bedd087).

### Expected behavior

[2022-10-12 11:56] mkouba commented on #28353
Ah, sorry. I completely missed this.

I see.

@cescoffier It seems that the blocking API does not provide any form of timeout?

IIUIC the underlying vetx client is using `Vertx.executeBlocking()` with `ordered=true` as well. Would you guys mind elaborating a bit more?

[2022-10-12 11:57] dmlloyd commented on #26138
Not sure; it seems reasonable to me.

[2022-10-12 12:25] geoand commented on #28530
What do you propose we do here @zakkak?

Ignore the configured values when using GraalVM 21.3 and just log a warning?

[2022-10-12 12:46] zakkak commented on #28530
That was my first thought as well. But I think we should better fail with an error stating that the user needs to either use a newer version of GraalVM or remove the LambdaCapturingTypeBuildItem. After all, GraalVM CE 21.3 is reaching its end of life as soon as 22.3 comes out in a few days.

[2022-10-12 12:48] geoand commented on #28530
Users don't really know anything about build items, so we would have to warn them about the improper annotation usage. We should also enhance the javadoc to explain that the method of the annotation is only available since GraalVM _whatever_

[2022-10-12 12:58] FroMage commented on #28474
Well, OK, so I found how to write an extension test to have a special build step today:

[code]

Here's your reproducer ;)

[2022-10-12 13:20] gsmet commented on #25809
I created a PR for it here: https://github.com/quarkusio/quarkus/pull/28533 .

Not sure if it actually do what you expect but if you want it to be non fatal, I think it's the way to go.
If you want to switch to more fatal errors, then this PR should show you when to adjust the errors and throw exceptions.

[2022-10-12 13:27] Karm commented on #24601
It works for me these days:

* Windows 10
* Podman Windows 4.1.0

[code]

[2022-10-12 13:27] #24601 closed

[2022-10-12 14:46] FroMage commented on #28450
Well, forgive me for ruining the party, but what is the real use-case here? What benefit do we have for getting nested resources by URI over fetching them from the parent? Or is it that they're not included in the parent representation?

[2022-10-12 14:47] FroMage commented on #28453
Well, cookies work, but they're usually deserialised to `String` ;)

[2022-10-12 14:55] #25809 closed

[2022-10-12 16:31] segersb commented on #28522
@sberyozkin the change in behavior is located in the keycloak library
It switched from keycloak client 18.x in quarkus 2.12.x to keycloak client 19.x in quarkus 2.13.x

FYI this is their issue for the change:
https://github.com/keycloak/keycloak/issues/11908

We're still using keycloak 11.x, so I'm not sure how breaking 2.12 will be versus 2.13

[2022-10-12 17:39] famod opened #28541 "Regression in 2.13.2: NPE in `LocalProject` during `quarkus-maven-plugin:build` when activating `quarkus.bootstrap.workspace-discovery`"
### Describe the bug

Updating from 2.13.1 to 2.13.2 results in:
[code]

### Expected behavior

No error

### Actual behavior

Error during build

### How to Reproduce?

n/a at this point

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

17.0.4

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

_No response_

### Build tool

[2022-10-12 17:41] famod commented on #28541
@aloubyansky maybe some interference between #28419 and `quarkus.bootstrap.workspace-discovery`?

[2022-10-12 17:53] knutwannheden commented on #28385
I will have to do some more testing, but I think this may do the trick and would allow my endpoints to transparently use `StreamingOutput`:

[code]

[2022-10-12 19:02] aloubyansky commented on #28541
Thanks @famod, I believe https://github.com/quarkusio/quarkus/pull/28542 will fix it

[2022-10-12 19:50] patriot1burke opened #28544 "Map Lambda "cognito:groups" to Quarkus roles"
### Discussed in https://github.com/quarkusio/quarkus/discussions/28080

<div type='discussions-op-text'>

<sup>Originally posted by **vladaman** September 20, 2022</sup>
We have integrated AWS API Gateway HTTP API + Cognito and JWT. When we include `Bearer` keyword in Authorization header we get 401 error from Quarkus.

Returns 401 error
[code]
Response:
[code]

Following call succeeds (_note, Be

[2022-10-12 20:47] LajosPolya commented on #22433
Was this fixed in the end?

[2022-10-12 22:36] syr opened #28552 "traceId, spanId not set in logs when using quartz and opentelemetry"
### Describe the bug

I use quarkus-quartz and quarkus-opentelemetry

Have definded a custom log format like in https://quarkus.io/guides/opentelemetry#create-the-configuration

[code]

### Expected behavior

Expected that traceId etc. are filled, (this only works for rest resource), see:

[code]

### Actual behavior

But for log output in quartz scheduled method everything is empty

[code]

### H

[2022-10-13 00:26] Jonathanfdr commented on #2810
You are my Jesus!

[2022-10-13 01:11] gastaldi commented on #27942
@sberyozkin that looks really cool, I wonder if it shouldn't be a core feature or be a core extension, given that it can be useful to other extensions. WDYT @gsmet ?

[2022-10-13 03:21] kjq opened #28553 "Quarkus Maven Plugin for v2.13.2 fails with Flattened POM"
### Describe the bug

This just happened when Renovate when to pull the latest version of Quarkus and perform the build - it says it cannot resolve the `.flattened-pom.xml".

We have not had any problems with Maven or the Maven Flatten Plugin or the Quarkus Maven Plugin before.

`[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:2.13.2.Final:generate-code-tests (default) on project PR

[2022-10-13 04:54] wicksim opened #28554 "Flyway: Java-migrations picked up everywhere"
### Describe the bug

When working with Java-migrations with `quarkus-flyway`, every class in the classpath extending `org.flywaydb.core.api.migration.JavaMigration` is picked up, independent of what is configured in `quarkus.flyway.locations`.

As far as I can see, `FlywayProcessor` just searches for implementors of `JavaMigration` without considering `quarkus.flyway.locations`.

### Expected beh

[2022-10-13 04:54] #28541 closed

[2022-10-13 04:54] spike83 opened #28555 "ResteasyReactiveRequestContext.setRequestUri not supporting query parameters"
Migrating a project form resteasy to resteasy-reactive I found that `ResteasyReactiveRequestContext.setRequestUri` is not applying the query parameters.

https://github.com/quarkusio/quarkus/blob/5ff6805119c6b63a21996b3b7b58e6f181869f49/independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/core/ResteasyReactiveRequestContext.java#L469-L478

We have

[2022-10-13 05:28] geoand commented on #28555
Interesting. There doesn't seem to be workaround currently.

Do you mind attaching a sample project that we can test any potential fixes against? This will help us speed up the process of providing a fix that we can backport into some `2.13.z`  release.

Thanks

[2022-10-13 05:42] glefloch commented on #26138
That's what we do in sample test projects and what recommanded in the doc. I can add it to the gradle code start as well, I don't know why it's not the case yet

[2022-10-13 05:43] geoand commented on #28474
Where would `routes.js` be found in this test?

[2022-10-13 05:43] geoand commented on #26138
Okay thanks.

Let's add it then as logging in tests is pretty broken without it.

[2022-10-13 05:52] Sgitario commented on #28450
As far as I see it, the use case here is to individually customize the child entities' resources (sub-resources). For example, users want to secure the parent resource with the role "admin", but allow other roles like "user" to use the child's resources, so administrators can manage the parent entities and allow other issues with fewer permissions to list/add/remove/update the child entities.

@gm

[2022-10-13 05:54] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3239883214

[2022-10-13 06:04] geoand commented on #28554
@gastaldi can you please run the tests of the `flyway` module from the current `main`? They seem to be failing for me...

[2022-10-13 06:09] geoand commented on #28554
As for this issue itself, I think we first need to address https://github.com/quarkusio/quarkus/issues/21275

[2022-10-13 06:17] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3239883759

[2022-10-13 06:19] aloubyansky commented on #28553
This is a duplicate of https://github.com/quarkusio/quarkus/issues/28541, which has already been fixed in https://github.com/quarkusio/quarkus/pull/28542. Sorry about that.

[2022-10-13 06:19] #28553 closed

[2022-10-13 06:21] mkouba commented on #28552
I believe that this works as designed. You can't expect a `traceId` to be set during execution of a scheduled method that has no HTTP request associated. In fact, a scheduled method cannot have an HTTP request associated because it represents a kind of entry point in your application - there is no external event that would trigger the execution of a scheduled method.

I'm going to close this issue

[2022-10-13 06:26] yrodiere commented on #24537
Hey @iompo . Did you manage to work around this in the end? Can you confirm the problem goes away if you downgrade to Java 11.0.13? Thanks.

[2022-10-13 06:37] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3239885219

[2022-10-13 06:57] vsevel commented on #28466
I confirm the issue is fixed with `2.13.2`. thanks!

[2022-10-13 07:30] bharatnpti opened #28557 "Extend @RegisterRestClient capabilities"
### Description

**Motivation** - I want to build on top of resteasy-reactive and provide different structure of the RestClientsConfig to provide some additional capabilities

### Implementation ideas

**Current** - RestClientBuilderFactory's getInstance method throws IllegalStateException if multiple implementation of RestClientBuilderFactory is found.

**New** - Incase of multiple implementation

[2022-10-13 07:35] mkouba commented on #1525
I'm going to close this issue because ArC is aligned with [CDI 4.0 Lite](https://jakarta.ee/specifications/cdi/4.0/jakarta-cdi-spec-4.0.html#bean_archive) where `annotated` is the default and `all` is not supported at all.

[2022-10-13 07:35] #1525 closed

[2022-10-13 07:43] Sgitario commented on #28460
I took a look into this issue and the reproducer is wrong as the annotation "@Consumes" of the resource has the value "application/merge-patch+json" (type is "merge-patch" and subtype "json") and the CURL statements described in the issue description uses "application/merge-json+patch" (type is "merge-json" and subtype "patch").

Trying to reproduce the issue using the same endpoint in the root re

[2022-10-13 07:45] geoand commented on #28460
It's likely intended. You can try changing it and running the TCK, you'll likely see a host of failures :)

[2022-10-13 07:49] cescoffier commented on #6588
@aureamunoz @rsvoboda
Works for me (using `main`):

[code]

[2022-10-13 07:55] geoand commented on #28557
Can you please add some sample code showing in more detail what you are trying to do?

[2022-10-13 07:55] Karm commented on #27307
This is fixed in the contemporary 22.3-dev (e.g. 22.3.0-dev47e81a3a38f5) + Q 2.13.2. Closing.

[2022-10-13 07:58] Ladicek opened #28558 "CDI Lite compliance (CDI 4.0)"
### Description

I intend to eventually make ArC fully compliant with the CDI Lite part of CDI 4.0. This entails:

- implementing Build Compatible Extensions in ArC
- implementing an Arquillian adapter for ArC
- adding a CDI TCK runner module to ArC
- most likely adding a special mode (off by default) that enables strict spec compliance
- fixing the issues found by the TCK

This issue is a tracker

[2022-10-13 08:06] Karm commented on #26058
Hello,
You need glibc and additional libraries (in case of AWT) to be compatible between the system the binary is built and the system where it runs. It is generally O.K. to build with older, e.g. Ubuntu 18 and run with newer, e.g. CentOS 8 Stream.
It does not work to build with newer, e.g. Ubuntu 20 and run with older, e.g. CentOS 8 Stream.

What you can do is to rely on a builder image to run th

[2022-10-13 08:06] #26058 closed

[2022-10-13 08:20] Karm commented on #26286
I don't think any additional library should be added globally. Similarly with AWT dependencies, you add those in your own image when needed...

[2022-10-13 08:21] yrodiere opened #28559 "Document how to use a custom locale resolver in Hibernate Validator"
### Description

See https://stackoverflow.com/q/74051941/6692043: it seems some people need custom locale resolvers, and I couldn't find the answer in the docs, though it does seem possible (see my answer on stackoverflow).

### Implementation ideas

_No response_

[2022-10-13 08:24] mkouba commented on #1632
I'm going to close issue because we don't plan to implement the fix in in the near future.

To sum up:
* in CDI, one should never read/write a field of an injected normal scoped bean
  * it's a well known limitation of client proxies
  * we mention this in the docs: https://quarkus.io/guides/cdi#client_proxies
* we do not advocate `public` injection points due to native image constraints but we do

[2022-10-13 08:24] #1632 closed

[2022-10-13 08:27] zakkak commented on #27307
@Karm this was appearing as "fixed" in 22.2-dev as well. The issue came up after the release because of the way they packaged things. I suggest we wait for the actual release to close the issue.

[2022-10-13 08:28] manovotn commented on #18690
Closing this issue as CDI Lite TCK compatibility will be checked once Quarkus moves to EE 10 (for which there is currently nightly transformed branch).
There is a tracking issue for it, see https://github.com/quarkusio/quarkus/issues/28558

[2022-10-13 08:28] #18690 closed

[2022-10-13 08:36] Ladicek commented on #28552
Technically, a scheduled method can call other external services etc., and so tracing may make sense. As you mention, a scheduled method is an entrypoint, so it deserves a fresh new trace/span, I'd say.

[2022-10-13 09:04] mkouba commented on #28552
I see. My point was that the tracing info should not be propagated but that was probably just a misunderstanding of the problem.

[2022-10-13 09:20] brunobat commented on #28552
Tracing does make sense on Quarkus tasks. This is not just for HTTP.
It will be great to understand the outcome of each job.
This requires 2 changes, though. One thing is to instrument jobs, another one is curating the MDC context with the right data.

[2022-10-13 10:03] Karm commented on #20518
@galderz , /me eyeballing what we've got there these days:
[code]

I guess this is still pertinent?

[2022-10-13 10:09] ge0ffrey opened #28563 "The default test-port is not compatible with mvnd (Maven deamon) nor parallel maven builds"
### Description

By default, Quarkus uses `quarkus.http.test-port=8081`.
In large projects, it's common to use Maven Daemon (mvnd) or a parallel maven build to speed up the build.

These two don't work well together: when 2 quarkus modules are tested in parallel, one of them runs into a

[code]

Mvnd for Quarkus projects should work out of the box.

### Implementation ideas

One solution would be

[2022-10-13 10:14] DavideD commented on #22433
I think so. Unless you have a usecase that causing the exception again.

[2022-10-13 10:27] aureamunoz commented on #6588
Hi,

stork-k8s-quickstart (main) --> Quarkus 2.13.2.Final --> Stork 1.1.2 --> k8s-cient 5.12.x is working for me :white_check_mark:

What is **KO** for me is
stork-k8s-quickstart (development) --> Quarkus 999-SNAPSHOT --> Stork 1.3.0 --> k8s-cient 6.1.1
In this case even if k8s-client versions are aligned to 6.1.1,  from what I see the `io.fabric8:kubernetes-client-api:jar:6.1.1`is only brought up

[2022-10-13 10:33] gaetancollaud commented on #25236
I wasn't able to create a small reproducer sorry.

[2022-10-13 10:35] geoand commented on #25236
Thanks for trying and letting us know

[2022-10-13 10:57] mkouba commented on #27168
CC @gsmet

[2022-10-13 11:17] Karm commented on #20397
Hello,

### Quarkus 2.13.2.Final
Using native-image 21.3.3.0-Final Mandrel Distribution (Java Version 17.0.4+8) throws the described exception ```java.io.StreamCorruptedException: invalid type code: 00``` etc.

Using native-image 22.3.0-dev47e81a3a38f5 Mandrel Distribution (Java Version 17.0.4+8) works just fine:
[code]

I'm closing this issue. Reopen if you feel differently about it.

[2022-10-13 11:17] #20397 closed

[2022-10-13 11:37] radcortez commented on #28485
Ah, got it. Thanks for the reproducer.

You need to set the configuration in `application.properties` sitting in `test/resources` or a `application-test.properties` in `main/resources`.

If you keep the configuration in the main file, and the `jacoco` extension with `test` scope, the extension will not be available when building the main application, resulting in a warning message.

[2022-10-13 11:37] #28485 closed

[2022-10-13 11:39] fedinskiy commented on #19365
@radcortez is there a full list of functionality, which is not supported by Quarkus+spring boot properties? For example, the guide, you changed[1] only mentions Maps and not Lists.

[1] https://quarkus.io/guides/spring-boot-properties

[2022-10-13 11:50] Sgitario commented on #28460
I changed the mentioned logic and the TCK test suite worked fine (at least, locally). See my changes at https://github.com/quarkusio/quarkus/pull/28565. However, I'm not sure if this is the right fix (see the description).

[2022-10-13 12:23] michalvavrik opened #28567 "Kafka - Endpoint that returns `org.reactivestreams.Publisher` produces occasionally invalid SseEvent JSON"
### Describe the bug

We generate Kafka events (please see [here](https://github.com/quarkus-qe/quarkus-test-suite/blob/main/messaging/kafka-strimzi-avro-reactive-messaging/src/main/java/io/quarkus/ts/messaging/strimzi/kafka/reactive/KStockPriceProducer.java#L37)) in Quarkus Scheduler every second and [our test uses](https://github.com/quarkus-qe/quarkus-test-suite/blob/main/messaging/kafka-strimz

[2022-10-13 12:40] Karm commented on #22718
Closing this issue. Followup as the PR unfolds: https://github.com/quarkusio/quarkus/pull/28568

[2022-10-13 12:43] iompo commented on #24537
Hi @yrodiere, yes it works with java 11.0.13. We recompiled that jar removing the "./" entry, so we could keep our java version updated.

[2022-10-13 12:57] #24537 closed

[2022-10-13 13:00] FroMage commented on #28474
It's not found, it's generated by the extension:

[code]

[2022-10-13 13:01] geoand commented on #28474
Ah, okay, I misread that.

[2022-10-13 13:02] FroMage commented on #28474
You are on way too many issues at the same time, this tells me ;)

[2022-10-13 13:08] Sgitario commented on #28524
@Postremus, I've just linked a pull request with a fix

[2022-10-13 13:36] LajosPolya commented on #22433
I'm running into an issue where this exception is thrown when multiple calls are made to the DB either in rapid succession or concurrently (a GraphQL data fetcher fetching children entities), but I'm not sure it's something I'm not doing right. Are there docs on how to avoid this exception?

[2022-10-13 13:42] famod commented on #28563
FWIW, I have been using `quarkus.http.test-port=0` for a very long time and I have never seen it coming anywhere close to 8080.

[2022-10-13 13:50] DavideD commented on #22433
This exception happens when trying to use a session that's been closed before time.
This usually happens when some operations don't happen in the right order. For example, the session might get closed before a previous Uni using the same session has finished.

I don't think we can help without seeing some code.

[2022-10-13 13:56] FroMage commented on #23059
I don't think I touched anything related to filenames. Also, I think the file name annotation could be supported for any type, not just `File`.

[2022-10-13 14:29] #28524 closed

[2022-10-13 14:31] JungeMachAn opened #28576 "panache reactive quarkus.hibernate-orm.packages not working"
### Describe the bug

When I set quarkus.hibernate-orm.packages in my config file :

`quarkus.hibernate-orm.packages=my.custom.entities.package`

Table for entities from other package are still created in the DB at startup

### Expected behavior

Entities that are declared in packages that are not in the specified package should not be created in DB.

### Actual behavior

All entities from the pro

[2022-10-13 14:34] kdubb commented on #28485
@geoand I'm not sure this is invalid. At the very least the quick start needs to be updated.  I would say it should be noted in the main documentation as well.

[2022-10-13 14:46] y-luis-rojo commented on #17747
Similar error here, but with some different modules in a Maven multi-module project. Log of `quarkus:remote-dev -Dquarkus.live-reload.url=http://localhost:8080`:
[code]

[2022-10-13 14:51] xstefank opened #28577 "Access log logged twice if non-root path is a prefix of root path"
### Describe the bug

Original - https://github.com/smallrye/smallrye-health/issues/412#issuecomment-1272883427.

We need to distinguish cases where either of the paths is mapped to "/" (root/main router), if one is a subpath of another, or if they are totally different.

TBH, I'm thinking the best would be to log everything under "/". So the question is whether it makes sense to log for instance

[2022-10-13 15:00] FroMage commented on #28450
This doesn't ring true to me. In my experience, admins in small shops have every permission, while other users are restricted access based on ownership/permissions of the resource itself, which is never on static "roles".
Also, the permission check would be exactly just as complex for `/subresource/1` as for `/parent/1/subresources/1` so this doesn't convince me.

[2022-10-13 15:08] gastaldi commented on #28554
@geoand I ran the tests locally and they pass for me, can you paste the stacktrace?

[2022-10-13 15:20] geoand commented on #28554
Thanks for checking, there must be something wrong going on for me locally. I get:

[code]

[2022-10-13 15:26] victor-costa-avancee opened #28579 "Offer a way to configure the default transaction semantic for Narayana"
### Description

At the moment the default transaction semantic when using `QuarkusTransaction` is hardcoded to `Semantic.REQUIRE_NEW`. Allowing the semantic to be configured in application.properties would reduce the need for boilerplate code. The default transaction timeout is already configurable so am guessing this enhancement is fairly straightforward.

### Implementation ideas

Property: qua

[2022-10-13 15:30] Philipp-Borchert-ISH commented on #28502
I think this could be a blocker issue for some people running quarkus-flyway + postgres. As described in the links to flyway docs with "out of the box" flyway you can bypass this by setting a system property, however that doesn't seem to work with quarkus-flyway because there is no call to FluentConfiguration::configuration or ClassicConfiguration::configure from FlywayCreator::createFlyway.

I've

[2022-10-13 15:31] geoand commented on #28502
Yeah, I think we'll need to provide the property. Do you agree @gsmet @gastaldi ?

[2022-10-13 15:37] gsmet commented on #28502
Yup. Sounds like a good opportunity for a pull request :)

[2022-10-13 15:48] gastaldi commented on #28502
+1, this would be nice to have

[2022-10-13 15:50] gastaldi commented on #28554
That's really weird, I can't reproduce it . Maybe it's a consequence of other error? Does it still happen if you `mvn -Dquickly` the whole project with any IDEs closed?

[2022-10-13 15:51] geoand commented on #28554
Dunno, I have no idea. It happens when I try to install the extension.

[2022-10-13 15:54] JungeMachAn commented on #28576
There is no problem with starting the application. If i write the %prod it starts the database with the dev mode but creates both entities. It should create just one entity and should ignore the other one because I set the `quarkus.hibernate-orm.packages=de.teckpro.test.person`.

[2022-10-13 15:55] geoand commented on #28474
There are a few ways to deal with this:

1) The extension actually generates a file as well (that's what `excludeFromDevCL` is used for) - see [this](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Kogito.20and.20RESTEasy.20Reactive/near/267874078) discussion
2) We could make Vert.x use the `URLStreamHandler` of a URL for protocols it does not know

[2022-10-13 16:28] aaronrebak commented on #20928
I'm experiencing a similar/if not exactly the same issue when using `quarkus-jacoco`.
Again it only seem to be reproducible only on a CI pipeline that involves an agent overwriting null/empty properties within `gradle.properties` (I'm using a jenkins ecs or ec2 agent).
These are traditionally something like `repoUsername` and `repoPassword` for resolving private/mirror repositories.

It's worth re

[2022-10-13 16:41] #28420 closed

[2022-10-13 17:00] gsmet commented on #28502
My advice would be to add a `postgresql` config group then a property inside it to mimic the Flyway structure and be ready in case they add more.

[2022-10-13 17:01] aaronrebak commented on #20928
I've just done a bit more digging into what `quarkus-jacoco` does.

As part of JacocoProcessor when it's building an ApplicationModel.
https://github.com/quarkusio/quarkus/blob/2.13.2.Final/test-framework/jacoco/deployment/src/main/java/io/quarkus/jacoco/deployment/JacocoProcessor.java#L114

https://github.com/quarkusio/quarkus/blob/e249b500169b9782d12a92c713e97bc7d744442c/independent-projects/boo

[2022-10-13 17:02] davidfrickert opened #28580 "Allow configuring Jackson ObjectMapper property naming strategy"
### Description

This property is useful to deserialize snake_case JSON properties into Java camelCase POJO properties.
It doesn't seem to be configurable currently via the quarkus.jackson options.

### Implementation ideas

_No response_

[2022-10-13 17:26] Sgitario commented on #28450
On the other hand, the example I introduced was very true to me. The idea is that users, using it in one way or the other, can use this extension.

Sorry, I don't understand your point here. I was not speaking about the complexity of doing this, but that users can't do this at the moment because we're not generating "/parent/1/subresources/1".

However, I only wanted to give an example (the roles)

[2022-10-13 19:50] aaronrebak commented on #20928
I've been able to successfully reproduce the issue on my CI pipeline using the snippet of code within QuarkusGradleModelFactory used by `quarkus-jacoco`.

On this occasion, GRADLE_USER_HOME has been set to `/var/jenkins/workspace/<TEMPORARY_FOLDER>/.gradle` which can be done on jenkins through `${WORKSPACE}/.gradle`.
Within this location, there are custom gradle.properties that are needed in order

[2022-10-13 20:54] brianwyka commented on #20928
Very detailed analysis @aaronrebak .  Nice job!

[2022-10-13 20:59] gsmet commented on #20928
/cc @glefloch @aloubyansky

[2022-10-13 21:07] aloubyansky commented on #20928
@aaronrebak would you like to contribute a fix? Thanks for all the efforts debugging the issue!

[2022-10-13 21:46] rodremy opened #28583 "Quarkus / Mapstruct bean injection with CDI"
### Describe the bug

It seems that injected beans in a mapper are not available in the generated class.

[code]

[code]

[code]

### Expected behavior

I expect that the EntityReferenceMapper would be injected in the DepartmentMapper

### Actual behavior

EntityReferenceMapper not injected in DepartmentMapper

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

[2022-10-13 22:05] brunohpg commented on #28583
MapStruct can handle it. Use:

`@Mapper(componentModel = MappingConstants.ComponentModel.CDI)`

[2022-10-13 22:48] rodremy commented on #28583
Thank's for the reply, but I think I need to be more specific.

`@Mapper(componentModel = MappingConstants.ComponentModel.CDI)` is contained in `config = MappingConfiguration.class`,

`EntityReferenceMapper` is a component that need to be used by the other mapper to to fetch on db the related object by it's id while mapping dto to entity.
So I guess having it in the dedicated mapper makes more sen

[2022-10-13 23:37] brunohpg commented on #28583
I think MapStruct handle CDI as `@ApplicationScoped`, not as `@Component`.

Anyway, you can achive what you want.

For me, MapStruct is something like 'I'll use whatever you put here for you, but I don't know if it is what you want', i.e., MapStruct try link everthing (sometimes, more then we want).

You can try:

[code]

[2022-10-14 00:40] rodremy commented on #28583
Thanks for your answer, I came to the same conclusion / result to do what I wanted to do.

But I'm pretty sure that in the first place, it should have work :).
Can close the issue.

[2022-10-14 05:46] spike83 commented on #28555
Here is a minimal reproducer.
[quarkus-28555.zip](https://github.com/quarkusio/quarkus/files/9782821/quarkus-28555.zip)

[2022-10-14 05:54] geoand commented on #28580
Makes sense to me.

[2022-10-14 06:03] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3247646061

[2022-10-14 06:16] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3247646667

[2022-10-14 06:38] yrodiere commented on #28579
Not a fan of configuration properties that change the behavior of APIs so drastically, but in this case... It might be the way forward.

Let me explain: I would argue that `REQUIRES_NEW` is simply a very strange default and I would have expected simply `JOIN_EXISTING`. But that's not the kind of things we can change without breaking backwards compatibility, unfortunately.
If others agree that `JOI

[2022-10-14 06:47] yrodiere commented on #24907
FWIW, a workaround would be to configure a log filter: https://quarkus.io/guides/logging#console-log-handler
You can do it for the console (`quarkus.log.console.filter`) but also for the file logging (`quarkus.log.file.filter`).

Though we'd probably want to look into *why* this is being logged?

[2022-10-14 06:48] gmuellerinform commented on #28450
I am just  looking for an easy to use CRUD resource, which includes permissions and child management.
Currently one would need to add a custom resource for every entity with relations. Or is there already a way to get all subresources for specific parent without writing additional code?

Being able to define your Entities and spin up a complete and secure CRUD API would drastically improve product

[2022-10-14 07:12] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3247648234

[2022-10-14 07:16] Chexpir opened #28587 "java.lang.IncompatibleClassChangeError: AmazonServicesClientsProcessor does not implement the requested interface java.util.function.Predicate"
### Describe the bug

Running it on Jenkins CI, which uses a ubuntu builder image, it says:
[code]

Locally, it throws a different error:

[code]

### Expected behavior

Application to build correctly without adding guava.

### Actual behavior

It does not build.

### How to Reproduce?

During upgrade from Quarkus 2.9.2 to Quarkus 2.13.2 with the following dependencies:

[code]

### Output of `una

[2022-10-14 07:17] geoand commented on #28580
https://github.com/quarkusio/quarkus/pull/28588 takes care of it

[2022-10-14 07:17] julgus opened #28589 "JPAStreamer - Express Hibernate Queries as Standard Java Streams"
### Description

[JPAStreamer]([www.jpastreamer.org](http://www.jpastreamer.org/)) is a lightweight open-source extension for applications adhering to the JPA standard that enriches the API to support Java Stream queries. A Quarkus extension would bring these streaming capabilities to Quarkus Hibernate applications and other JPA providers, facilitating type-safe queries and thus allowing the use o

[2022-10-14 07:40] ia3andy commented on #28372
Ok, my concern using plain system properties is that we would have to find a way to filter them before passing them as data to codestarts if we don't want to have weird behaviors.

In the top level where we pass the data, we don't know how it will be consumed by codestarts.

[2022-10-14 07:43] glefloch commented on #20928
Thanks a lot for the analyse @aaronrebak, as @aloubyansky mentioned would you like to fix it, otherwise, I can do it.

[2022-10-14 07:43] gmuellerinform commented on #28450
Some ideas on the topic: https://www.moesif.com/blog/technical/api-design/REST-API-Design-Best-Practices-for-Sub-and-Nested-Resources/

[2022-10-14 07:46] ia3andy commented on #28372
IMO we should reproduce the same syntax as for config on another named option (`data` or whatever), parse it using the same code as the data and passing the map to codestart data:
https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/CodestartProjectInputBuilder.java#L46

We need a new key and setter in the CreateProject f

[2022-10-14 07:54] ia3andy commented on #28372
@arpitbhardwaj would you give it a try?

[2022-10-14 07:58] arpitbhardwaj commented on #28372
Yeah I will it a try. Currently setting up the environment.

[2022-10-14 08:22] rsynek opened #28591 "NPE in REST endpoint generated by hibernate-orm-rest-data-panache in Gradle project"
### Describe the bug

This is a regression likely introduced by https://github.com/quarkusio/quarkus/commit/827f778c9ab71478b19ce230ac5a5265bfdba592 (confirmed locally by building and using the snapshot).

In a Gradle project that uses the `quarkus-hibernate-orm-rest-data-panache`, a generated REST resource, that is supposed to add a new entity, throws an NPE:
Cannot invoke "io.quarkus.hal.HalServ

[2022-10-14 08:24] mkouba commented on #28583
@rodremy I'm glad you found the solution. But it's always better to attach a simple reproducer app that demonstrates the problem.

Also it might be more effective to [discuss the problem with MapStruct community](https://github.com/mapstruct/mapstruct/discussions) first because Quarkus has no official extension for MapStruct.

[2022-10-14 08:39] gmuellerinform opened #28593 "Add globally_quoted_identifiers_skip_column_definitions to quarkus.hibernate-orm.database"
### Description

The flag globally_quoted_identifiers_skip_column_definitions is missing. See here: https://stackoverflow.com/questions/64259356/hibernate-globally-quoted-identifiers-true-breaking-integration-tests-with-h2-in

Thanks!

### Implementation ideas

_No response_

[2022-10-14 08:45] sag1 commented on #28459
found a solution in another way

[2022-10-14 08:45] #28459 closed

[2022-10-14 08:53] yrodiere commented on #28593
Thanks for reporting, we'll have a look. I suspect @Sanne will have a strong opinion :)

Until this gets supported, feel free to force the setting through [`quarkus.hibernate-orm.unsupported-properties`](https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.unsupported-properties-full-property-key). Maybe it will work already.

[2022-10-14 08:57] fedinskiy commented on #28007
@aloubyansky I can confirm, that this works for 2.13.z, but at the same time the reproducer fails when running with current 999-SNAPSHOT(db531a327054fe7b69592c3192e023d30dd4157f at the time of writing)

[2022-10-14 09:07] vsevel commented on #20397
I confirm this is working as expected. thanks

[2022-10-14 09:10] mmusgrov commented on #28579
/cc @stuartwdouglas Do you recall your thinking process when choosing REQUIRES_NEW for the default Transaction Semantic?

[2022-10-14 09:18] aloubyansky commented on #28007
How does it fail this time?

[2022-10-14 09:29] fedinskiy commented on #28007
@aloubyansky the same error: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3248450288/jobs/5330018583

[2022-10-14 09:37] aloubyansky commented on #28007
Let's clarify the versions than.
The Quarkus main branch is currently targeting 2.14 but there hasn't been a release yet.
There this Quarkus 2.13 branch from which we release 2.13 versions.
Equivalent branches exist in the quarkus-platform project.

Which version of CEQ is being tested? If it's 2.13.X then in 2.14.X CEQ will need an adjustment to work with Quarkus 2.14.

[2022-10-14 09:57] fedinskiy commented on #28007
I presume, that "CEQ" is Camel Quarkus, ie maven libraries, with "org.apache.camel.quarkus" group.
I also presume, that CEQ version is defined by version of imported  `org.apache.camel.quarkus:camel-quarkus-bom`

Quarkus 2.13.0.Final and 2.13.2.Final works as expected with CEQ 2.13.0
Quarkus 999-SNAPSHOT(main branch, commit https://github.com/quarkusio/quarkus/commit/db531a327054fe7b69592c3192e023

[2022-10-14 10:08] aloubyansky commented on #28007
Correct, CEQ stands for Camel extensions for Quarkus.

Quarkus 2.14 isn't available neither. You could try building the CEQ main branch, similar to what is being done for Quarkus here.

[2022-10-14 10:10] syr commented on #28552
Thanks for adding the issue to the roadmap.
As a workaround I use otel-agent (via JAVA_TOOL_OPTIONS) and set the MDC fields by myself by
[code]

However get two problem:

1. no idea where to get parentId from. As far as I read it is not possible to get it manually
2. manual instrumentation by @WithSpan is not working/ignored. Can a mix of auto-instrumentation (by otel agent) and manual instrumenat

[2022-10-14 10:22] DavideD commented on #28576
Ah, I see, sorry about that.
I will have a look.

[2022-10-14 10:25] brunobat commented on #28552
1. You don't really need the parent. The SpanId and the TraceId are enough to search on Jaeger or an equivalent tool.
2. In Quarkus we don't recommend using the agent because of context propagation problems. The '@WithSpan' on a CDI bean should work with imperative code. If you can provide a reproducer it would help.

[2022-10-14 10:28] syr commented on #28552
https://github.com/syr/quartz-otel-logs/commit/4ccd464e8e216576070acfd63ff6bdf3084d1019

Without agent I don't get valid traceId, only initial values 0000000000000. So atm it's also only meant as a temp. workaround.

[2022-10-14 10:30] radcortez commented on #19365
Lists should work. Have you encountered an issue in that area?

Still, my recommendation is to use https://quarkus.io/guides/config-mappings :)

[2022-10-14 10:33] brunobat commented on #28552
We need to instrument Quartz with OpenTelemetry. Not done yet.
But if you call a CDI bean from quartz and use '@WithSpan' it should work.

[2022-10-14 10:42] syr commented on #28552
moved the method with @Span to a seperate service class in https://github.com/syr/quartz-otel-logs/commit/57aef0684ec3cd944d3067b4d245203b2b299e67 , but still the same spanId

[code]

[2022-10-14 11:00] fedinskiy commented on #19365
@radcortez "Using @ConfigurationProperties to inject lists does not work" is a name of the issue :) Reproduced with the same code.

I totally agree with recommendation, but my task is to check disabled tests, including the ones, made by my former colleague Sgitario, so I need to be sure, that this functionality either works or properly mentioned as non-working.

[2022-10-14 11:02] fedinskiy commented on #28007
So, it looks like we either need to reopen this issue, or create a new one for quarkus-platform.

Also, does all thus mean, that the same thing will happen with Quarkus 2.15 and CEQ 2.14?

[2022-10-14 11:37] #22971 closed

[2022-10-14 11:37] #25732 closed

[2022-10-14 11:37] #26314 closed

[2022-10-14 11:41] rsvoboda opened #28598 "Enhance TROUBLESHOOTING.md with pointer for native image investigation"
### Description

Enhance TROUBLESHOOTING.md with pointer for native image investigation

https://github.com/quarkusio/quarkus/blob/main/TROUBLESHOOTING.md covers just JVM mode

### Implementation ideas

Provide some hints for quick start with investigation of native binary and(/or) link https://quarkus.io/guides/native-reference.

[2022-10-14 11:42] rsvoboda commented on #28598
CC @galderz @zakkak

[2022-10-14 11:55] rsvoboda opened #28599 "Document tips for OS tuning for performance measurements"
### Description

I recently read a discussion on Zulip around performance measurements and OS tuning to limit interference.

It was pretty exciting so I went ahead and checked Quarkus documentation to learn a bit more.
But I found nothing on that topic in Quarkus guides.

Please document some tips and best practices for OS tuning for more reliable performance measurements.

### Implementation idea

[2022-10-14 12:06] aloubyansky commented on #28007
It's already open https://github.com/quarkusio/quarkus/issues/8593

Yes, as mentioned previously, it's not guaranteed to work.

[2022-10-14 12:09] aloubyansky commented on #28007
See a comment from James https://github.com/quarkusio/quarkus/issues/8593#issuecomment-1257584575

[2022-10-14 12:10] franz1981 commented on #28599
And I would add, copying the @galderz comments in the JIRA: averages probably are not the right tool for the job.
@johnaohara any proposal?
I was thinking something similar to https://github.com/openjdk/jmh/blob/99e9c19c80a0133c28f6532ef2b5776d5b8bd023/jmh-core/src/main/java/org/openjdk/jmh/util/AbstractStatistics.java#L30 with the idea of reporting score + error at a confidence interval.
And JMH

[2022-10-14 12:10] henrikcaesar opened #28600 "Improved support for Kafka consumer only and schema-registry"
### Description

I have been reading the guide https://quarkus.io/guides/kafka-schema-registry-avro and it assumes that the producer and consumer is within the same Quarkus application. Many times, (perhaps most?), the consumer lives in a separate Quarkus application. And that case is not covered by the guide.

Also, a Kafka consumer only application does not work using quarkus-confluent-registry-

[2022-10-14 12:11] #28379 closed

[2022-10-14 12:58] mfaghloumi commented on #25850
The issue is still present on 2.13.2 on my side. @NMichas Did you find any workaround ?

Regarding this, it's not really a bug, disabling validation on migration is honored, but not the validation of the [changeloglock](https://github.com/liquibase/liquibase-mongodb/blob/main/src/main/java/liquibase/ext/mongodb/lockservice/AdjustChangeLogLockCollectionStatement.java#L51) collection for example. In

[2022-10-14 13:25] NMichas commented on #25850
@mfaghloumi nope, I couldn't make it work. For now in dev, I just gave `dbAdmin` to my user, but a proper solution is needed for when this project goes to prod.

FYI, I've used Bitnami's MongoDB Helm with this:
![esthesis-iot_–_esthesis-mongodb_values_yaml__esthesis-iot_](https://user-images.githubusercontent.com/2218296/195857622-50debde7-3270-48e4-bbd4-23ff28c2b36d.png)

[2022-10-14 13:44] mfaghloumi commented on #25850
@NMichas It's a bit more complex for me to have the collMod, and as you stated it it isn't an option for production.
I would love to contribute the possibility to disable globally the validators through a configuration property. If @gsmet agrees on the fix.

[2022-10-14 13:51] brunobat commented on #28552
I think we'll need a reproducer project

[2022-10-14 14:38] glefloch commented on #28591
Thanks for reporting this @rsynek, I think the issue will be resolved with #28440

[2022-10-14 14:38] FroMage commented on #28450
OK, so what I understand here is that you don't want to expose the child resources as toplevel resources, because they only make sense as belonging to other parent resources? Like GitHub issues belonging to GitHub projects?

Now, this makes a lot of sense to me. That's a use-case that is clear and justified.

So, if you had the following entities:

[code]

Then what would the representation look l

[2022-10-14 14:44] radcortez commented on #19365
Yes, it does not work with the indexed property version, as in `foo.bar[i]`. This is specific to `@ConfigMapping`.

[2022-10-14 14:52] iriikoad opened #28602 "Keys "%test." in JAR not used when there is the file config/application.properties"
### Describe the bug

In my project I have the  folder "config" at the root of the project, with the file **application.properties** containing a key "myKey".

I want to use an application.properties **inside the JAR** with **%test.meyKey**  prefix to set a value for unit tests.

The issue is that the key in the outside file **config/application.properties** is always used for unit tests. I tried:

[2022-10-14 14:53] FroMage commented on #28474
Huh, I thought `GeneratedResourceBuildItem` would generate the file. What does it do then? And how do I generate it if not using that?

[2022-10-14 14:56] geoand commented on #28474
It does generates it in prod mode, in the other modes it's just kept "in memory" backed by the `QuarkusClassLoader`.

[2022-10-14 15:09] geoand commented on #28474
You would have to actually persist it on the disk yourself

[2022-10-14 15:13] geoand commented on #28557
Actually, `@RegisterRestClient ` is not a Quarkus annotation, but a Microprofile annotation, so we can't really do much here unfortunately.

[2022-10-14 15:13] #28557 closed

[2022-10-14 15:14] geoand commented on #28554
This stills stands, we'll need to figure out how to address it.

[2022-10-14 15:17] geoand commented on #27638
@mweber03 where you able to come up with a sample application?

[2022-10-14 15:17] #18903 closed

[2022-10-14 15:18] geoand commented on #22142
Closing as we never got a reproducer

[2022-10-14 15:18] #22142 closed

[2022-10-14 15:19] fedinskiy commented on #19365
Is this behavior described somewhere? The only mention I was able to find is "Spring Boot @ConfigurationProperties has a few limitations. For instance, Map injection is not supported. Consider using Mapping configuration to objects"[1], which doesn't mention, that there also may be problems with, for example indexed property version in Lists.

[1] https://quarkus.io/guides/spring-boot-properties

[2022-10-14 15:48] davidfrickert opened #28605 "Allow disabling Jackson ObjectMapper WRITE_DURATIONS_AS_TIMESTAMPS"
### Description

It would be nice is to disable `WRITE_DURATIONS_AS_TIMESTAMPS` using config.
Currently quarkus supports disabling `WRITE_DATES_AS_TIMESTAMPS` which is very similar.

### Implementation ideas

_No response_

[2022-10-14 15:49] davidfrickert commented on #28580
Thanks @geoand for the quick PR.
I created a similar issue for another useful property #28605.

[2022-10-14 15:50] punkratz312 commented on #28591
same over here:
![image](https://user-images.githubusercontent.com/8830888/195888485-9ef4c377-bdab-41c7-8937-945b40138126.png)
thanks for report and fix

[2022-10-14 16:06] syr commented on #28552
See link in my previous reply

[2022-10-14 16:21] Liuigi opened #28607 "MongoDb Srv connection does not work on windows"
### Describe the bug

For the windows project, when you run the application with the maven commande
 mvn compile quarkus:dev -Dquarkus.profile=local

The application failed to open a mongo connection with the SRV protocol.
"/etc/resolv.conf"

### Expected behavior

The mongodb SRV protocol should work out of the box

### Actual behavior

we have a great stack trace with NPE :

[code]

### How to R

[2022-10-14 16:32] holly-cummins commented on #28260
I agree, Sanne, we can probably offer more help in these case. I mean, we do already know it's working, which is why we disable our tests.

I wonder if we can/should do a generic solution for a not-working devcontainers? We know in our builds what tests we've disabled on M1, so we could either
- Use a build flag to both disable the tests and enable a friendly warning in the implementation
- Start

[2022-10-14 17:33] wheeOs opened #28609 "Add an exception mapper to gRPC services"
### Description

I couldn't find a way to intercept (to be more precise) an exception response which ends up as an response with `UNKNOWN `status. In my case I would like to map specific exceptions to specific status other than UNKNOWN.
Here is an exception I get, which I would like to be considered as `UNAUTHENTICATED`, but it ends up as `UNKNOWN `unfortunately:

[code]

### Implementation ideas

[2022-10-14 17:49] cescoffier commented on #28609
Can't a ServerInterceptor do this already?

[2022-10-14 17:54] LajosPolya commented on #22433
@DavideD I was able to solve my problem by using `withTransaction` on the failing query instead of `withSession`. I was trying to run two queries but the second one always failed. I am able to confirm that the second query runs within a second stream object regardless of whether I'm using `withTransaction` or `withSession`. If both queries are run on the same reactive stream then is it expected be

[2022-10-14 18:35] snowe2010 opened #28610 "AWS XRay extension doesn't send traces"
### Describe the bug

XRay traces are not mapped between nodes. This has previously been an [issue](https://github.com/quarkusio/quarkus/issues/22595). Using @patriot1burke's [xray-demo](https://github.com/patriot1burke/xray-demo) provided in that issue, you can easily deploy it and see that no xray traces are generated for the subsegments. In addition to that I have created a
[reproducer](https:/

[2022-10-14 19:15] DevPJ9 commented on #28602
Hello, @iriikoad I would like to contribute.

[2022-10-14 19:31] #28475 closed

[2022-10-14 20:11] OleKsimov opened #28612 "Kafka consumer or producer config is never logged"
### Describe the bug

Is there a way to see how Kafka producer or consumer is configured in Quarkus?
I remember that in previous versions it was possible to see it in logs. For example, properties like
`max.partition.fetch.bytes`
`max.poll.records `
In the latest version even when I set `quarkus.log.level=DEBUG` no additional information is shown about consumer/producer configs.

### Expected beha

[2022-10-14 23:13] aaronrebak commented on #20928
@glefloch @aloubyansky no problem! I meant to submit a fix today but wasn’t able to get around to it. Will do so in the next few days.

[2022-10-15 01:45] DavideD commented on #22433
`withTransaction` and `withSession` will look for an existing session in the current stream. No new session is created.
The only difference is that in one case you have a transaction and in the other you don't. I don't know what kind of queries you are running, but I suspect you are reusing the same session to run queries in parallel. And [this is not supported when using the session](https://hibe

[2022-10-15 12:06] geoand commented on #28605
I think this makes sense.

Would you be interested in contributing this? It should not be hard based on what we do for existing similar property

[2022-10-15 12:10] syr commented on #28552
I added some log output that shows that traceId and spanId from spanContext vs. MDC are not consistent
https://github.com/syr/quartz-otel-logs

logs from scheduled method (spanId in log entry is correct, but is also directly before set in MDC)
[code]

logs from service method, called by scheduled method (spanId in log entries should be different because method is annotated with @WithSpan)
[code]

[2022-10-15 12:10] davidfrickert commented on #28605
Yes that sounds like a simple task to contribute, do I need to sign any contributor agreement?
-------- Mensagem original --------
On 15/10/2022, 13:06, Georgios Andrianakis wrote:

[2022-10-15 12:21] cescoffier commented on #28612
See https://quarkus.io/guides/kafka#logging.

[2022-10-15 12:26] #28612 closed

[2022-10-15 13:12] geoand commented on #28605
Nope, just open a Pull Request when you are ready 🙂.

Obviously if you need any help, we'll here to assist

On Sat, Oct 15, 2022, 15:10 davidfrickert ***@***.***> wrote:

[2022-10-15 14:32] OleKsimov commented on #28612
@cescoffier
Why the issue was closed? There are no mentioned logs shown after these properties are set.

[2022-10-15 14:34] OleKsimov commented on #28612
My bad, thank you.

[2022-10-15 15:01] davidfrickert commented on #28605
Ok, I'll work on it then!

[2022-10-15 15:12] geoand commented on #28605
💪

[2022-10-15 16:34] #28544 closed

[2022-10-15 16:50] #27902 closed

[2022-10-15 16:56] #28555 closed

[2022-10-15 16:58] #28460 closed

[2022-10-15 17:00] #26138 closed

[2022-10-15 17:11] #28507 closed

[2022-10-15 17:14] gastaldi opened #28618 "Investigate flaky Flyway test"
There's something fishy with Flyway lately:
[code]

/cc @gastaldi if you have an idea.

_Originally posted by @gsmet in https://github.com/quarkusio/quarkus/issues/28613#issuecomment-1279727919_

[2022-10-15 22:54] brunohpg opened #28619 "Agroal Connection Leak with Panache Streaming and without @Transaction"
### Describe the bug

There's a connection leak when use hibernate stream without transaction.

The leak occur even when stream is closed.

There's no connection leak with `@Transaction`.

I started having this problem in version 2.13.2, but I don't know if it happens in older version.

### Expected behavior

The connection should be closed (return to the pool) in the end of request or at least wh