[2019-11-22 10:34] #5648 closed

[2019-11-22 10:39] Arcnor opened #5680 "Exception when directory doesn't exist with quarkus-maven-plugin"
**Describe the bug**
The `quarkus-maven-plugin` fails with an exception if it's configured with a `finalName` using a directory that doesn't exist. I think this was working in previous versions, so looks like a regression.

**To Reproduce**

In your pom.xml
[code]

Then `mvn clean package` will fail with an exception like this one:

[code]

[2019-11-22 10:39] geoand commented on #5675
If I instead change your `application.properties` to:

[code]

then `mvn clean package -Pnative` works.

[2019-11-22 10:49] gsmet commented on #5675
Just to be clear: we don't support 19.3 yet. The work is in progress.

On Fri, Nov 22, 2019 at 11:39 AM Georgios Andrianakis <
notifications@github.com> wrote:

[2019-11-22 10:54] Sanne opened #5681 "Hibernate ORM - Multitenancy support"
### Description
Hibernate ORM is able to support multi-tenancy in various ways.

Some of these imply "plugging" custom strategy implementations during the bootstrap of the ORM, and/or setting the tenant ID when the `Session` is opened.

Both aspects could see some level of automation and "just work" OOB without needing to implement such SPIs - most importantly, since Quarkus needs to control the b

[2019-11-22 10:58] loicmathieu commented on #3870
@FroMage yes, when we use range we should return a different interface: `RangeableQuery` or `Findable` the latest will be re-usable if we found more usecase (or re-usable accross Panache implementation ... of I know you're against it :) )

[2019-11-22 11:00] jaikiran commented on #5680
@gsmet, I can take a look at this, if that's OK.

[2019-11-22 11:00] Sanne opened #5682 "Support GraalVM / native image builds using the GraalVM Java 11 build"
**Description**
A follow up to #4218 which did the upgrade to GraalVM version 19.3 but focused only on the "JDK8 flavoured edition"

[2019-11-22 11:00] Sanne commented on #4218
Cool, opened #5682 then.

[2019-11-22 11:06] FroMage commented on #5681
Can you add a pointer to the docs showing how it works currently in ORM?

[2019-11-22 11:12] Arcnor commented on #5680
More info, even after creating the directory manually, looks like the jar fails to work and I get an exception stating that `Caused by: java.lang.ClassNotFoundException: io.quarkus.runtime.Application`.

When removing the `finalName` from the config, the generated JAR works properly.

[2019-11-22 11:22] gsmet commented on #5680
@jaikiran sure, I affected it to you.

[2019-11-22 11:23] Arcnor opened #5683 "quarkus-maven-plugin libDir configuration entry is being ignored"
**Describe the bug**
When configuring the `quarkus-maven-plugin` with the `libDir` setting, nothing really happens. Taking a quick look at the code, the variable is being set but nothing seems to be happening with it at all.

[2019-11-22 11:32] #1847 closed

[2019-11-22 11:33] #2409 closed

[2019-11-22 11:33] #4666 closed

[2019-11-22 11:35] ia3andy commented on #2409
The Sentry extension will soon be available :)

[2019-11-22 11:36] ia3andy commented on #2409
https://github.com/quarkusio/quarkus/issues/3985

[2019-11-22 11:37] trsantospt commented on #5681
I think this is the one (linked in [Quarkus ORM Guide](https://quarkus.io/guides/hibernate-orm#setting-up-and-configuring-hibernate-orm-with-a-persistence-xml)
https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#multitenacy

[2019-11-22 11:39] Sanne commented on #4218
I've tested it with:
[code]

and there's still other issues:

[code]

I did rebase this PR on master, not sure if that changes things.

[2019-11-22 11:40] ia3andy commented on #3166
JSON formatter is now available for console logging on master (target: 1.1.0).

[2019-11-22 11:40] ia3andy commented on #453
JSON formatter is now available for console logging on master (target: 1.1.0).

[2019-11-22 11:40] #5658 closed

[2019-11-22 11:45] jaikiran commented on #5680
PR with a fix for the `NoSuchFileException` https://github.com/quarkusio/quarkus/pull/5684

[2019-11-22 12:00] gwenneg commented on #4218
I saw that one during a test with GraalVM `master` before `19.3.0` was released. I had to force the JNI activation in Quarkus to make the test work and then completely forgot to test it again with `19.3.0`, sorry about that.

[2019-11-22 12:08] Sanne commented on #2751
Is it really a good idea to want to reuse the same `quarkus.datasource` prefix?  I'm not sold about that.

I understand that conceptually they are very close, but `Datasource` is also a specific standard Java interface which people can inject by type (interface) and name - it wouldn't work for the reactive one as it's not the same contract, and hopefully their type shouldn't be named `Datasource`

[2019-11-22 12:08] gwenneg opened #5686 "Clean NettyProcessor when `netty.version` is 4.1.43.Final or greater"
The following code was introduced in the quarkus-netty extension in #5500 as a workaround for a GraalVM 19.3.0 compatibility [issue](https://github.com/netty/netty/pull/9631):

[code]

This code should be removed as soon as the Netty dependencies are updated to 4.1.43.Final or greater.

[2019-11-22 12:09] gsmet commented on #5686
/cc @cescoffier

[2019-11-22 12:14] Sanne commented on #2751
Also, I don't think you can just steal the "quarkus.datasource` prefix and move its management responsibility into a new extension. What would you do with all Agroal specific configuration properties?

 - https://quarkus.io/guides/datasource#configuring-the-datasource

I guess many of these could be shared, but requiring the reactive pools to have all of these (and vice-versa) doesn't seem sensibl

[2019-11-22 12:28] gwenneg commented on #4218
From https://www.graalvm.org/docs/release-notes/19_3/ :

GraalVM 19.3 switched to using the JDK native code instead of manual substitutions. For GraalVM Native Image this switch to Java Native Interface (JNI) platform enabled the possibility to provide support for JDK 11 and extended support for Windows OS. It has no impact on startup time or memory footprint, and eliminates the need for shipping

[2019-11-22 12:34] gwenneg commented on #5682
@Sanne Do you plan on working on this one or can I give it a go at the end of my day?

[2019-11-22 12:36] Sanne commented on #5682
It will be at least ~5 days until I have time to open my IDE again :-/

Feel free to try! And don't hesitate to ask for help.

[2019-11-22 12:38] Sanne commented on #4218
That seems odd to have to require JNI support for all extensions - it certainly doesn't come for free?

I hope someone could at least investigate why we'd need that. @bobmcwhirter might have some clues?

[2019-11-22 12:48] gwenneg commented on #4218
Question asked in the GraalVM [native-image Slack channel](https://graalvm.slack.com/archives/CN9KSFB40/p1574426822245400).

[2019-11-22 12:52] pedroigor commented on #5640
Isn't this just a matter of pointing to a server that also exposes HTTP ? I mean, if you control the server you are free to lax security a bit in the development environment.

In general, I would say that this is more a use-case specific requirement in regards to how they deal security in their different environments. Some may also find necessary to enforce TLS to have development in sync with pro

[2019-11-22 12:54] aloubyansky commented on #5678
I just tried it to reproduce it with `org.jboss:jboss-parent` as the parent. With range `(0,36]` and it worked.

[2019-11-22 12:58] aloubyansky commented on #5678
@mejlholm do you by chance have a simple project that can be used as a reproducer? Thanks.

[2019-11-22 12:59] aloubyansky commented on #5678
What's the latest version of Quarkus that worked for you?

[2019-11-22 13:07] aloubyansky commented on #5678
Do you have a pom that satisfy the specified version constraint in your local repo?

[2019-11-22 13:09] maxandersen opened #5687 "document how to use 999-SNAPSHOT of quarkus with a universe-platform based project"
see https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/create.20cmd.20issue.20with.20new.20extension/near/181634045

[2019-11-22 13:18] jdang67 commented on #5659
07:15:01 ERROR [or.ap.ka.co.se.ss.SslFactory] (main) Modification time of key store could not be obtained: ./keystore.jks: java.nio.file.NoSuchFileException: .\keystore.jks
        at sun.nio.fs.WindowsException.translateToIOException(WindowsException.java:79)
        at sun.nio.fs.WindowsException.rethrowAsIOException(WindowsException.java:97)
        at sun.nio.fs.WindowsException.rethrowAsIOExc

[2019-11-22 13:26] mejlholm commented on #5678
I'll try to create one. The problem only seems to occur on our build environment and not locally. There shouldn't be any noticable differences, but i'll dig on our end to find out what is triggering it.

Has worked for a long time, from the earlies versions around 0.15.0 through to 0.28.1 and 1.0.0.CR1, but not in 1.0.0.CR2.

[2019-11-22 13:28] FroMage commented on #2751
Well, from a clueless user's POV, both are a source of data, and they even point to the same damn DB, just with a non-JDBC driver, which is why it's a bit hard to convince me they should be separated. The other concern about config is technical. Hopefully it doesn't get in the way of design decisions, unless it's a blocker, but I'm not sure at this point.

[2019-11-22 13:42] loicmathieu commented on #3166
I have a working prototype for a GELF logger that should be able to send logs to Graylog or Logstash. Tested with Graylog but not yet Logstash.
I'll rebase and create a draft PR in a few hours (I hope).
Native is not working (no error but logs are not sent to Graylog), I think it has something to do with static vs runtime init but I will need help to deug this :)

[2019-11-22 13:44] cescoffier commented on #5254
Did you try adding `org.apache.kafka.common.security.plain.PlainLoginModule` in the reflection list ?

[2019-11-22 13:50] cescoffier commented on #4218
I've finally made progress on the docker images. It required duplicating all our images to support both java8 and java11. They are getting built by the CI right now (but due to the number of images, it is taking lot of time).

Hopefully tonight we will get them.

So, the images are slightly different in the sense their versions explicitly say `java8` or `java11`. To it would be `19.3.0-java8`.

[2019-11-22 13:58] devisions commented on #5682
A quick run using:
- OpenJDK 11
[code]
- GraalVM 19.3.0
- Quarkus 1.0.0.CR2

[code]

[2019-11-22 14:02] dmlloyd commented on #4218
JNI is required for GraalVM 19.3.0.  We'll want to change the `enableJni` default to `true` - but don't remove it (yet).

Indeed.  But we've been looking into it.

[2019-11-22 14:12] zeldanerd24 commented on #5682
@devisions that specific issue looks like it has been fixed by #5336, but looks to be currently targeted for the `1.1.0` milestone

[2019-11-22 14:13] aloubyansky commented on #5678
Ah, an interesting detail. Is the parent pom a part of the same (multimodule) project?

[2019-11-22 14:15] gwenneg commented on #4218
Thanks @dmlloyd, I'll do that in #5358.

[2019-11-22 14:16] dmlloyd commented on #5682
As soon as we have a clean test run, we should start the process of requiring JDK 11 by printing a deprecation warning when JDK 8 is used.

[2019-11-22 14:17] #5680 closed

[2019-11-22 14:26] mejlholm commented on #5678
So after digging around, i believe that the problem is something else. If I remove the parent pom from the project and try again it still fails, but with another error

[code]

The thing is, for our build nodes the .m2 is located in /tmp/.m2, not in /home/bamboo/.m2.

This lead me back to the changelist and i notice this:

https://github.com/quarkusio/quarkus/pull/5607

and true enough, we are usi

[2019-11-22 14:32] aloubyansky commented on #5678
Ah, ok. Yes, that was based on https://maven.apache.org/docs/3.5.0/release-notes.html (search for M2_HOME). Since Quarkus requires 3.5.3 at a minimum I decided to simply go for MAVEN_HOME.

[2019-11-22 14:36] geoand commented on #5209
@tpenakov you mentioned that you saw similar behavior using the  Spring DI layer?

[2019-11-22 14:39] #5333 closed

[2019-11-22 14:40] emmanuelbernard commented on #1505
@paulrobinson why did you added it to in progress? I am not aware of anything besides some conversations in Zulip recently

[2019-11-22 14:42] emmanuelbernard commented on #4611
Do you mind adding some updates @jmartisk and @kenfinnigan especially in the context of 1.1

[2019-11-22 14:43] mejlholm commented on #5678
That sounds like a fair decision, given the direction set out by maven.

I'll setup our build agents to use MAVEN_HOME and close the issue.

[2019-11-22 14:43] #5678 closed

[2019-11-22 14:45] Karm opened #5689 "quarkus.http.auth.form.cookie-name is actually not configurable"
Due to a bug in FormAuthenticationMechanism the cookie name for FORM Authentication is not configurable and it is always the default.

[2019-11-22 14:45] emmanuelbernard commented on #5602
@geoand @asoldano @FroMage what would be your wish list for the next 6 months?

[2019-11-22 14:46] kenfinnigan commented on #4611
What kind of update are you looking for?

We're waiting on the mega config PR to be merged, which will fix a lot of the above and I have another PR waiting on the config one being merged.

Once config PR is merged we're probably less than a week from MP TCK compatibility on everything

[2019-11-22 14:46] emmanuelbernard commented on #5602
This one needs a list and likely split it into phases

[2019-11-22 14:47] Sanne commented on #4218
thanks @cescoffier - I assume the weird naming is temporary as it seems we'll want to switch to java11 as exclusive choice as soon as we consider it "mature enough"?

I'd suggest to not go overboard with solutions to handle multiple lines of docker images. We'll probably consider `java8` as default  for a little longer, then switch and be back to single images.

[2019-11-22 14:47] emmanuelbernard commented on #5603
The key conversation is identifying who can work on this (in knowledge and time) @dandreadis @n1hility @asoldano
It will decide whether we start that work now or later.

[2019-11-22 14:51] emmanuelbernard commented on #5600
Depends if @patriot1burke work is blocked by that or not to add it as work to be started now

[2019-11-22 14:53] tpenakov commented on #5209
Yes - Yesterday I've migrated one of my microservices to 1.0.0.CR1. I have a few Spring ConfigurableBeanFactory.SCOPE_PROTOTYPE beans there.
Then the microservice become very unstable. Now I am trying to destroy the Instances as @mkouba suggested, but to be honest I am not happy at all, that I have to manage the memory of the JVM application manually.
This is unexpected and unintuitive behavior an

[2019-11-22 14:54] FroMage commented on #5602
From my email:

- Add a Controller class that REST endpoints extend to:
-- opt-in to using their class name as the default @Path() annotation if not present
-- opt-in to treating public methods as @GET unless another method annotation is present
-- add utility methods such as notFoundIfNull(Object), ok(Object), validate(Object), etc…
- Add a JsonController subclass that adds @Consumes/@Produces fo

[2019-11-22 14:55] dmlloyd opened #5691 "Java 11 migration"
### Description
It is necessary for a variety of reasons to move to Java 11 as a baseline platform requirement.

### Analysis
Moving to Java 11 is a process that has to be taken in steps.  The following requirements must be met:

* Minimize user disruption by providing a smooth migration timeline
* Define a definitive time frame for ending Java 8 support

### Tasks
- [X] Provide container images f

[2019-11-22 14:55] FroMage commented on #5602
From @stuartwdouglas 's suggestion:

- Default to application/json for JAX-RS, with the option to turn this off

I think that 99% of apps will want this as the default, it would get rid of all the @Produces and @Consume annotations in this example.

- Make @Path optional on a class level, and do a sensible default based on class name

Something like:

HotelResource would be /hotel
BookingService w

[2019-11-22 14:57] FroMage commented on #5602
And of course we still have the albatrosses:

- Get rid of second vert.x instance (make resteasy support async)
- Make RESTEasy able to run on IO thread
- Move RESTEasy config/setup to build-time, get rid of run-time reflection

[2019-11-22 14:57] FroMage commented on #5602
Wait… you said 6 years, right?

[2019-11-22 15:01] geoand commented on #5602
I :100: agree with the suggestion to default to JSON.

[2019-11-22 15:02] hantsy opened #5693 "HttpServletResponse.setCharacterEncoding does not wok in Quarkus/undertow"
Quarkus: 1.0.0.CR2.

I tried to handle exceptions by writing content into response manually.  [The original post is on stackoverflow](https://stackoverflow.com/questions/58966932/httpservletresponse-set-charset-does-not-wok-in-quarkus-undertow).

Source codes: [PostExceptionHandler#handleException2](https://github.com/hantsy/quarkus-sandbox/blob/master/spring-post-service/src/main/java/com/example

[2019-11-22 15:06] paulrobinson commented on #1505
@emmanuelbernard looks like I moved it in error. Thanks for moving it back.

[2019-11-22 15:08] geoand commented on #5693
I should not that this doesn't have to do with the Spring code, the same result can be seen if one uses the following JAX-RS Resource:

[code]

[2019-11-22 15:16] FroMage commented on #5691
Is there any risk in requiring 11 wrt user libs? Are there any popular user lib that doesn't work when running on jdk > 8?

[2019-11-22 15:23] dmlloyd commented on #5691
User libs are an open-ended set, so the answer is (asymptotically) "yes" IMO.  Hopefully at the point we start printing the deprecation warning, those kinds of issues will bubble up rapidly.

[2019-11-22 15:23] dmlloyd commented on #5691
/me apologizes to any experts on set theory :)

[2019-11-22 15:26] geoand commented on #5209
@mkouba if you would like to add some more details to ##5281 I'd be glad to take a look at it

[2019-11-22 15:32] jaikiran commented on #5693
Hello @geoand, the Servlet spec dictates that once the `HttpServletResponse#getWriter()` is called, any calls to `HttpServletResponse#setCharacterEncoding()` will have no effect on the response's character encoding.

In this above example, if you switch the calls to `getWriter` and `setCharacterEncoding`, I think you should start seeing the use of `UTF-8` as the response's encoding.

There are oth

[2019-11-22 15:37] geoand commented on #5693
@jaikiran Excellent, thank you very much once again for this great piece of information!

I indeed verified it and it works. So I will go ahead and close this issue.

[2019-11-22 15:37] #5693 closed

[2019-11-22 15:40] aloubyansky opened #5695 "Tools: common Quarkus project command API"
Currently project-related commands such as create, add and list extensions are getting hold of the platform descriptor the project is based on using a global instance cached in a static variable, which was a temporary workaround to avoid major refactoring of commands before 1.0 release.

The idea behind this issue is to introduce a basic command API and a way to provide arguments and other context

[2019-11-22 16:07] gwenneg commented on #5682
@devisions @zeldanerd24 Quarkus `1.0.0.CR2` currently supports GraalVM `19.2.1` and it will stay the same in Quarkus `1.0.0.Final.` The GraalVM `19.3.0` support (which includes native image execution using JDK 11) should be introduced in Quarkus `1.1.0`.

[2019-11-22 16:09] devisions commented on #5682
@gwenneg Thanks for the feedback also. I am interested of getting the native image of a Java `11` based project. That's why I wanted to test with GraalVM `19.3.0`.
Do we have an ETA for Quarkus `1.1.0`, please?

[2019-11-22 16:12] cescoffier commented on #4218
it's been a ride... but here it is:
https://quay.io/repository/quarkus/ubi-quarkus-native-image?tab=tags

So the full name of the image is: quay.io/quarkus/ubi-quarkus-native-image:19.3.0-java8

[2019-11-22 16:13] cescoffier commented on #5691
For the record, for the container images, I have duplicated all of them to have the java8 and java 11 ones. For example https://quay.io/repository/quarkus/ubi-quarkus-native-image?tab=tags

[2019-11-22 16:15] gwenneg commented on #5682
If you want to run an early test with Quarkus `master` and GraalVM `19.3.0` (you would have to build Quarkus locally), I can ping you here when it's ready. This is a work in progress for now.

I'll let @gsmet answer the ETA question :)

[2019-11-22 16:16] dmlloyd opened #5698 "Elasticsearch hosts list should be non-optional"
**Describe the bug**
In order to get #5387 to pass, I had to make the elasticsearch configuration host list be optional.  It should not be optional though as it has a default value.  Revisit that and see if we can get tests to pass with the value being non-optional.

[2019-11-22 16:17] emmanuelbernard commented on #5448
@gsmet is that one closed?

[2019-11-22 16:17] mkouba commented on #5209
Ok, the idea behind this optimization is that if a `@Dependent` bean requires no "cleanup" (`@PreDestroy` callback/disposal method) and does not inject any other `@Dependent` bean that requires cleanup we don't have to store the instance in the `CreationalContext` (`CC.release()` is invoked when a bean is destroyed and ensures all `@Dependent` bean instances are destroyed correctly). I'm not reall

[2019-11-22 16:18] gwenneg commented on #4218
Thanks @cescoffier! I'll run the Quarkus CI with GraalVM `19.3.0-java8` in a few hours.

[2019-11-22 16:18] dmlloyd opened #5699 "Mongo client config host list should have explicit default"
**Describe the bug**
In order to get #5387 to pass, I had to change `MongoClientConfig#hosts` to be optional.  It would be better to give it an explicit default value so that it appears in documentation, and it should not be optional, so that if no host value is given (i.e. if the default value is overridden with an explicitly empty value), a validation error is automatically raised.

[2019-11-22 16:19] emmanuelbernard commented on #2509
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!searchin/quarkus-dev/graphql%7Csort:date/quarkus-dev/nySrZlQNBxo/9zK8pciNAAAJ

[2019-11-22 16:20] gdoenlen commented on #5675
@geoand The docs says that stuff can be defined at runtime via environment variables for native or jar packages. (https://quarkus.io/guides/config).  I removed that file entirely (the application doesn't have any config it needs anymore) and the packaging is still failing.

Running that generated `native-image` command manually its exit code is non-zero and it looks like in [NativeImageBuildStep](

[2019-11-22 16:20] dmlloyd opened #5700 "TikaProcessorTest should use Quarkus test framework"
**Describe the bug**
In order to get #5387 to pass, I had to add code to `TikaProcessorTest` to handle setup and tear down of the configuration.  But it would probably be better to let the Quarkus test framework code do that instead.

[2019-11-22 16:21] emmanuelbernard opened #5701 "Health support for 50% of the relevant extensions"
We have some extensions that did the integration, we need to get to a 50% coverage.

- Health: there is already three PRs covering extension health check, so soon Kafka, Neo4j, Mongo, Kafka-stream and Artemis will all have an health check.
- Metrics: there is one PR for the infrastructure plus some metrics for Agroal.

Hey @loicmathieu can you point to the relevant PRs from here?

[2019-11-22 16:24] dmlloyd opened #5702 "Reexamine how we manage config in tests"
**Description**
We should pin down our configuration lifecycle.  In getting #5387 to pass, I ran across several cases where the configuration is referenced before it is actually set up by our loader.  This included `TestResourceManager`. I've added in code to explicitly set up a temporary configuration, but we should look at other options, such as setting up the build time config object much earli

[2019-11-22 16:25] machi1990 opened #5703 "Consider Optional Config Group and Sets in config doc generation"
https://github.com/quarkusio/quarkus/pull/5387 comes with so many goodness like added support for Optional config group and Sets. The config doc generator must also improve in the same sense and must recognise these two constructs.

_Quick ideas._
- mark all config items inside a optional group as as optional
- do not display type information for Set but `list of` or `set of` ?

/cc @dmlloyd as di

[2019-11-22 16:29] dmlloyd opened #5704 "Deprecate ConfigurationError"
**Description**
The `ConfigurationError` exception class exists within the core deployment module.  However, with the introduction of improved validation, it is necessary to introduce a similar exception type into the core runtime module.  Between this fact, the fact that this class is an exception yet ends with `Error`, and the fact that it is not completely defined in terms of standard construct

[2019-11-22 16:30] loicmathieu commented on #5701
Here are the corresponding PRs, almost all are waiting feedback :)

**Health**

- Kafka, Neo4j, Mongo: #5222
- KafkaStream: #5125
- Artemis: #5052

**Metrics**

- Extension metrics infrastructure + Agroal metrics: #5272

[2019-11-22 16:35] rschlick opened #5705 "How to deploy to Cloud Foundry"
**Description**
It will be great to have an How To Deploy Quarkus on Cloud Foundry platform.

**Implementation ideas**

Maybe you can provide a special buildpack for Quarkus apps built in a native image running with GraalVM.
A java buildpack already exists: https://github.com/cloudfoundry/java-buildpack
Maybe, a quarkus buildpack or graalVM buildpack could be derivated from java-buildpack.

[2019-11-22 16:39] emmanuelbernard opened #5706 "Misc Hibernate & Persistence improvements for 1.1"
### Description

Various tasks related to improving Hibernate for 1.1

### Analysis

(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks

- [ ] Multiple datasource support
- [ ] Resolve Jackson limitations https://github.com/quarkusio/quarkus/issues/4644
- [ ] Document multi-dialect needs and how to address them
- [ ] Fix time zone support
- [ ] def

[2019-11-22 16:41] gsmet commented on #5700
@machi1990 could you have a look at that one once David's PR is in?

[2019-11-22 16:46] emmanuelbernard opened #5707 "Mutiny a.k.a Uni / Multi"
### Description

Deliver enough of the new reactive type strategy

### Context
Uni/Multi (also named Mutiny) is a new reactive programming API that has been designed around a more fluent API.
Uni/Multi provides 2 types:
* Uni for stream with 0..1 items. Uni does not implement Reactive Streams, but follow a subscription approach
* Multi for stream with 0..n items. Multi implement Reactive Streams b

[2019-11-22 16:46] emmanuelbernard commented on #5707
CC @cescoffier

[2019-11-22 16:49] ricardozanini opened #5708 "Infinispan Client is ignoring configuration environment variables"
**Describe the bug**
Unless specified in `application.properties` file, [configurations for Infinispan Client](https://quarkus.io/guides/infinispan-client#quarkus-infinispan-client_configuration) are being ignored when they are only available via environment variables.

For example, if I have an empty `application.properties` file and set `QUARKUS_INFINISPAN_CLIENT_SERVER_LIST` environment variabl

[2019-11-22 16:50] emmanuelbernard opened #5709 "Push forward reactive messaging needs"
### Description

Quarkus interest in the Reactive Messaging improvements

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks

- [x] JMS support
    - Implement, test and integrate a JMS connector for reactive messaging
    - Integrate into quarkus with Artemis connection factory
- [x] Integration with context propagation
    - Give the

[2019-11-22 16:50] emmanuelbernard commented on #5709
@cescoffier Would be good to prioritize and define as phases at some point

[2019-11-22 16:53] emmanuelbernard opened #5711 "MVP for reference guide and JavaDoc"
### Description

Someone take an aggregation approach to pieces of the guides we have now to offer CTRL+F support as well as the skeleton for a dedicated separated reference guide down the line

### Analysis

Some people really want a big reference guide. Now that we are past 1.0, we should explore the idea of a guide that select some / most extensions and condense all of the doc under one big fat

[2019-11-22 16:57] emmanuelbernard commented on #4803
@ebullient I'm not sure WebFlux is used that much. So that would be a lot of effort for something not necessarily mainstream vs asking users to embrace Quarkus/Vert.x reactive web way (which might have even more usages)

[2019-11-22 16:59] emmanuelbernard opened #5712 "Guide to help people convert Spring knowledge into Quarkus one"
You do feature X n Spring,a nd you do it with Y in Quarkus and it's equaly awesome if not better ;) Something like that.
It's really a whitepaper kind of things for users to realize how similar the models are and that converting knowledge is doable.

[2019-11-22 17:12] loicmathieu commented on #3166
ELK has been tested with the new GELF extension and works, see #5694

For EFK, Fluentd allows an input of syslog that is already supported by Quarkus, there is also a GELF input, and as GELF supports multiline this is also a good choice.

I can create a guide "Central log management: Graylog, ELK and EFK" with examples for the three solutions, just tell me wich one seems the best for Fluentd: sysl

[2019-11-22 17:16] gsmet commented on #3166
On Fri, Nov 22, 2019 at 6:12 PM Loïc Mathieu <notifications@github.com>
wrote:

I don't have a strong opinion about that but I'm pretty sure devops have,
and probably different ones.

So I would document both.

[2019-11-22 18:12] geoand commented on #5675
@gdoenlen I might have missed the command you used to build the image. Can you paste it again?

[2019-11-22 18:16] geoand commented on #5712
Cool!

cc @jclingan

[2019-11-22 18:16] tsegismont commented on #2751
We had the same conversation months ago about whether or not to share the
datasource url property as well as a few other simple common props (eg
user, password).

Yes there are standard datasource properties that are not relevant to the
reactive one, and vice-versa.
But the idea was to move shared properties in a base module (not an
extension per se) and then let each module extend them with its o

[2019-11-22 18:17] geoand commented on #5209
Thanks @mkouba. I'll try and have a look soon

[2019-11-22 18:22] ebullient commented on #4803
If a Spring developer follows the Spring way.. they will land on WebFlux. We should be able to get it working, as the snowdrop impl can put Vert.x underneath the WebFlux impl ..

[2019-11-22 18:24] machi1990 commented on #5700
@gsmet @dmlloyd sure.

[2019-11-22 18:27] zakhdar opened #5714 "Kogito with Decision table NullPointerException"
**Describe the bug**
create a project with Kogito extension add to src/main/ressources/  a simple xls decision table you will  get a  NullPointerException at compile time
`Caused by: java.lang.NullPointerException
        at org.drools.compiler.compiler.DecisionTableFactory.loadFromResource(DecisionTableFactory.java:35)`

Person POJO
[code]
Person Endpoint

[code]

kmodule.xml (in src/main/resourc

[2019-11-22 18:30] gsmet commented on #5714
/cc @mariofusco @mswiderski

[2019-11-22 18:31] kenfinnigan commented on #5709
Is the fault tolerance aspect specific to reactive messaging? It seems to be referring to just a "reactive" fault tolerance.

[2019-11-22 18:33] geoand commented on #5687
cc @aureamunoz

[2019-11-22 18:33] cescoffier commented on #4218
Yes, we can revert to single image whenever we want.

Yes, but for testing, we need both images :-)

[2019-11-22 18:38] cescoffier commented on #5709
the patterns for pure reactive and reactive messaging are different. Here it refers to reactive messaging.

[2019-11-22 18:39] kenfinnigan commented on #5709
Is there a possibility to "coalesce" on a common core between them? So we don't duplicate the whole lot?

[2019-11-22 18:51] dmlloyd commented on #5691
@cescoffier do you want to add check items to cover the container image work?  If so, please add them in the approximately correct place (chronologically).  Thanks

[2019-11-22 18:57] aj03794 commented on #5291
Question about this. If we use `@Observes StartupEvent` to define start up logic, when we run our tests, this same startup code will run - which doesn't really make a whole lot of sense when unit testing.

Is there a way to work around this without changing the entry point of the app with `quarkus.package.main-class`

[2019-11-22 19:54] cescoffier commented on #5691
@dmlloyd I have already done the container image work. So chronologically speaking it was first and checked :-)

[2019-11-22 20:24] mswiderski commented on #5714
@zakhdar could you please check if you have following dependency in you pom?

[code]

Decision tables is an optional component and thats why not included by default

[2019-11-22 20:40] dmlloyd commented on #5691
Great, that means we're already well along our way, let's add that check! :)

What about other tasks e.g. deprecating the 8 image, any future cleanup work after we drop 8, etc.?

[2019-11-22 20:54] devisions commented on #5682
@gwenneg Yes, please. Thank you.

[2019-11-22 21:30] dmlloyd opened #5715 "MP Rest Client TCK test InvokeWithJsonPProviderTest failing"
**Describe the bug**
After #5387, `InvokeWithJsonPProviderTest` and `InvokeWithJsonBProviderTest` have stopped passing.  The JSON-B test was trivially fixable by adding a config setup step (the config is read before Quarkus has a chance to establish it).  However the JSON-P test, even with a similar fix, fails with an unusual injection error:

[code]

This test has been disabled in #5387 until the

[2019-11-23 02:01] gdoenlen commented on #5675
@geoand it's just the command generated from the build step.

`C:\Users\george\desktop\graalvm-ce-windows-amd64-19.2.1\graalvm-ce-19.2.1\jre\bin\native-image.cmd -J-Dsun.nio.ch.maxUpdateArraySize=100 -J-Djava.util.logging.manager=org.jboss.logmanager.LogManager -J-Dvertx.logger-delegate-factory-class-name=io.quarkus.vertx.core.runtime.VertxLogDelegateFactory -J-Dvertx.disableDnsResolver=true -J-Di

[2019-11-23 02:23] #734 closed

[2019-11-23 02:23] #4119 closed

[2019-11-23 02:23] #4123 closed

[2019-11-23 02:23] #4172 closed

[2019-11-23 02:23] #3498 closed

[2019-11-23 02:23] #3937 closed

[2019-11-23 02:23] #4512 closed

[2019-11-23 02:23] #2816 closed

[2019-11-23 02:23] #3516 closed

[2019-11-23 02:23] #4077 closed

[2019-11-23 02:23] #1989 closed

[2019-11-23 02:23] #2760 closed

[2019-11-23 02:23] #3030 closed

[2019-11-23 02:23] #3637 closed

[2019-11-23 02:23] #1887 closed

[2019-11-23 02:23] #3888 closed

[2019-11-23 02:23] #5116 closed

[2019-11-23 02:23] #5192 closed

[2019-11-23 02:23] #390 closed

[2019-11-23 02:23] #891 closed

[2019-11-23 02:23] #3089 closed

[2019-11-23 02:23] #5484 closed

[2019-11-23 03:52] hantsy commented on #5693
@jaikiran  Thanks for your explanation. Just verified. it and got it work.

[2019-11-23 04:04] jaikiran commented on #5675
I had access to an Windows setup yesterday and I did see it silently fail with `19.2.1` and Java 8. Unfortunately, I didn't have enough time to look more into this. I'll see if I can borrow a Windows setup again sometime soon.

[2019-11-23 05:54] vsevel commented on #3937
@dmlloyd excellent - it opens up numerous opportunities

[2019-11-23 07:24] cescoffier commented on #5691
@dmlloyd yes, cleanup and reverting to single image would be required once we decide to go full steam with java 11.

[2019-11-23 07:36] cescoffier commented on #5709
Probably, but maybe for 2 or 3 patterns (on failure resume, continue...), but lots of them are very messaging specifics. Also, it is not possible to reuse MP Fault Tolerance, as it's designed with (mostly synchronous) request-reply in mind.

[2019-11-23 09:31] gsmet commented on #5116
We are now more lenient for the converters for which it makes sense.

[2019-11-23 09:35] #5689 closed

[2019-11-23 09:35] gsmet commented on #5714
@mswiderski I don't know if it will solve the issue but in any case, we shouldn't have a NPE but a proper error message.

[2019-11-23 09:38] gwenneg commented on #5608
I'll take care of this one.

[2019-11-23 09:47] vsevel commented on #5636
https://github.com/quarkusio/quarkus/pull/5717

[2019-11-23 10:49] machi1990 commented on #5608
Great @gwenneg. This will need fixes in the doc generation part too. I have opened up https://github.com/quarkusio/quarkus/pull/5719 to take care of that.

[2019-11-23 10:58] mswiderski commented on #5714
I fully agree with that. Once we have this confirmed we will improve the error handling in this case

[2019-11-23 11:06] machi1990 commented on #5300
https://github.com/quarkusio/quarkus/pull/5387 which has just been merged fixed config related issues including this one.

@jamesfalkner do you mind trying the upstream master to see if this is indeed fixed? Thanks

[2019-11-23 11:45] kenfinnigan commented on #5709
I agree with the state of the current MP FT spec, but we're in the process of developing a new implementation that is intended to be more reactive. If there are specific requirements related to that then we should feed that back to @michalszynkiewicz & @Ladicek

[2019-11-23 11:54] dboka commented on #5714
After added this dependency. No NPE and project compile fine ! Kogito extension load xlsx file right and execute all conditions.

[2019-11-23 12:15] gunnarmorling commented on #5471
@muirandy, so for OpenTracing, would it help if the extension supported a CDI producer for a `KafkaClientSupplier`? If the extension finds such bean, it could use it when creating the `KafkaStreams` instance.

Isn't the producer method for the `Topology` the place to do that? Is anything else needed?

Thanks, I'll take a look into that to be better grasp the needs.

[2019-11-23 12:24] davsclaus commented on #1610
Was hit by this today as well. Especially for mac osx users then you dont want to do a native build that ends up with a native osx binary which you cant run in k8s.

I think this is really important to have _developer joy_ with quarkus and native builds for k8s. Please prfioritize and work on this.

[2019-11-23 12:26] mswiderski commented on #5714
@dboka thanks for confirming the issue. I created Kogito Jira to track and fix it with next (0.6.0) version https://issues.jboss.org/browse/KOGITO-641

I believe this can be closed

[2019-11-23 12:47] geoand commented on #1610
cc @maxandersen

[2019-11-23 12:52] gunnarmorling commented on #5471
Btw. I think also with the latest version it should work if you just create your own `KafkaStreams` bean. You wouldn't benefit from topic being awaited and lifecycle management, but e.g. enablement of native still would be present.

[2019-11-23 13:21] davsclaus commented on #1610
Yeah I have tried various variations of
 mvn package -Pnative -Dquarkus.native.container-build=true

And
./mvnw package -Pnative -Dquarkus.native.container-runtime=docker

The error you get is some weird error about a /process folder dont exists or something. No time to provide details wife yelling :(

[2019-11-23 13:51] vsevel commented on #3279
@gsmet since https://github.com/quarkusio/quarkus/issues/3937 has been closed, may be all is needed at this point is some documentation saying that all you need to do is configure the vault extension, and use some property indirection on one of the mounted properties from the vault path:
[code]

[2019-11-23 14:30] zakhdar commented on #5714
it will be also interresting to mention this dependency in quarkus documentation

[2019-11-23 16:08] gsmet commented on #5714
That’s a good suggestion. @mswiderski could you add something to the guide? Then we can close this issue.

Thanks!

[2019-11-23 17:03] gdoenlen commented on #5675
@jaikiran Just an update, I've successfully packaged natively under WSL with 19.2.1 (19.3 still fails with other errors) so I think this is definitely a graalvm windows problem.

@geoand I did run into the null pointers you pointed out, so I guess I misread the documentation there about having config properties be available at runtime as environment variables.

[2019-11-23 17:26] geoand commented on #5675
@gdoenlen thanks for the info.

From what I understood the problem was the way your application is setup, but I don't have a Windows machine so I can't tell for sure

[2019-11-23 17:28] rhuss commented on #1610
@davsclaus I hit that too lately (e.g. in the [latest demo](https://vimeo.com/373141210/46e5b1507f) I sent around), and I switched to Kubernetes included in "Docker for Mac" which can do volume mounts to local directories. If you do this you can create the image already in the Docker daemon running Kubernetes so you save the roundtrip to the registry.

Just switch on here:

![grafik](https://user-

[2019-11-23 17:29] rhuss commented on #1610
tl;dr - If you are Mac user and want to run directly your Quarkus images without pushing to a remote registry, use "Docker for Mac"'s Kubernetes, not minikube or minishift.

[2019-11-23 18:45] #5606 closed

[2019-11-23 21:06] hartimcwildfly opened #5720 "Versions of transitive dependencies of extensions quarkus-resteasy and quarkus-jackson do not match"
The extensions io.quarkus:quarkus-resteasy and io.quarkus.quarkus-jackson
have the following transitive dependencies:

io.quarkus:quarkus-resteasy-jackson:jar:1.0.0.CR2
    +- org.jboss.resteasy:resteasy-jackson2-provider:jar:3.0.24.Final

io.quarkus:quarkus-resteasy:jar:1.0.0.CR2
    +- org.jboss.resteasy:resteasy-core:jar:4.4.1.Final

As a result of this. I get an exception when calling a rest e

[2019-11-23 21:18] #5720 closed

[2019-11-23 21:19] hartimcwildfly commented on #5720
My fault, I used a pom in which resteasy-jackson2-provider was already defined.

[2019-11-24 03:13] jaikiran commented on #5675
Thank you for verifying that. So if it succeeds against `19.2.1`, I think it's good enough and this issue can be probably closed, since Quarkus doesn't yet support `19.3` (there are a bunch of changes that are currently WIP to support that).

[2019-11-24 05:23] SetoKaiba opened #5722 "Gradle plugin doesn't support multi module project well."
**Describe the bug**
I want to use quarkus project as sub module project. But the plugin is not working well.

**Expected behavior**
It should work with multi module project.

**Actual behavior**
https://github.com/SetoKaiba/blueeyes
Here's the test multi module project.
1. It does not recognize the gradle.properties file in the root project. It will work with placing it in the sub module. I use t

[2019-11-24 05:52] idrissneumann commented on #4804
I think it's possible to start by an integration of OpenFeign into quarkus. So it will resolve this issue only on the client side. Then, maybe think about an evolution of jax-rs to be more flexible.

[2019-11-24 07:12] maxandersen commented on #5691
Can we list those variety of reasonsas I'm sure we'll have many users still for whatever reasons (good and bad) stuck on java8. Would be great to have stated explicitly why java 11 beyound "it's the newest" for them to understand the advantages/needs.

[2019-11-24 08:22] mswiderski commented on #5714
@gsmet @zakhdar created "using decision tables" section into kogito guide https://github.com/quarkusio/quarkus/pull/5725

[2019-11-24 10:59] #5636 closed

[2019-11-24 11:42] #3279 closed

[2019-11-24 12:35] Karm opened #5728 "Proposal: vertx.http.security FORM auth: Make redirect to fixed landing page after login optional"
I am beginning to learn [Vue.js](https://vuejs.org/) web app programming with [AXIOS](https://vuejs.org/v2/cookbook/using-axios-to-consume-apis.html) library to talk to my backend.

I want to programmatically do a form auth POST request (j_security_check, ``` `j_username=`+user+`&j_password=`+password``` etc.) from my web app running in user's browser to my Quarkus backend, receive a ```quarkus-cr

[2019-11-24 14:06] Sanne commented on #5608
Many thanks @gwenneg - I can use the help but take care to not take too much on your plate, that JDK11 update task is more urgent than this one :)

[2019-11-24 14:21] gdoenlen commented on #5675
There is still the issue that windows compilation just doesn't work/fails silently. But that should probably be tracked under the graal repo I guess.

[2019-11-24 14:28] aoudiamoncef commented on #5639
Hi @dmlloyd,
I studied the swagger-ui extension in order  add this feature.
We could add all available [customisations](https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/) customisations as query parameters(All tagged as Docker variables in the doc).
Could i use an existing URL builder from Apache common for example or, i should build own utility class to avoid adding extern

[2019-11-24 14:46] gdoenlen commented on #5675
For reference, packaging the default app from https://code.quarkus.io on Windows with 19.2.1 fails with the same error from native-image.cmd returning non-zero:

[code]

[2019-11-24 14:47] gsmet commented on #4568
I must admit that having some standard Yaml parser not supporting the Yaml syntax we need is a bit concerning.

So IMHO snakeyaml needs fixing to support the syntax (if it's a supported Yaml syntax) but having workarounds on our side is really something I would like to avoid.

[2019-11-24 15:03] maxandersen commented on #5267
inspiration/partial implementation: https://github.com/quarkusio/quarkus-workshops/tree/master/quarkus-workshop-super-heroes/extensions/extension-banner

[2019-11-24 15:23] KaenDagger commented on #5267
hello. I would like to take this beginner issue to work upon.

[2019-11-24 15:37] maxandersen commented on #5267
@KaenDagger sounds good - we don't assign "ownership" of issues per say - best is if you open a Pull-request with your proposal then you'll get feedback from there.

[2019-11-24 17:31] dmlloyd commented on #4568
SnakeYaml seems to work fine; the problem is really in our reading of the spec.  I think that `~` as a key is correct and supported.

[2019-11-24 17:56] geoand commented on #5602
I was about to write that I would like the ability to have an exception mapper specific for a controller, but re-reading through the list that @FroMage added, I see the proposed `@WithExceptionMapper`.

[2019-11-24 19:46] majonga88 opened #5731 "How to set correctly ssl certificate oauth2"
Hi folks,

I'm trying to use oauth2 following this guide : https://quarkus.io/guides/security-oauth2 and also https://quarkus.io/guides/native-and-ssl

In application.properties, i use for the `quarkus.oauth2.introspection-url` an **https** adress ([auth0](https://auth0.com/)).

When i execute these commands separatly :

[code]

I getting this error :

The complete stacktrace : [error-log.txt](htt

[2019-11-24 20:25] gwenneg commented on #5608
@Sanne I had the same priorities in mind, I won't treat this issue before I'm done with GraalVM 19.3.0.

[2019-11-24 23:43] gsmet commented on #5714
Let's close this issue then. Thanks!

[2019-11-24 23:43] #5714 closed

[2019-11-24 23:48] gsmet commented on #5711
I really would like us to have a look at Antora: https://docs.antora.org/antora/2.2/ .

And I think we should make it entirely different from the guides:
- the guides would be related to quickstarts
- you would have a link at the bottom of the guides to point to the appropriate section in the reference guide
- the reference guide would contain all the non-quickstart related information

Starting a

[2019-11-24 23:48] gsmet commented on #5708
@dmlloyd is it related to all the config fixes that just went in?

[2019-11-24 23:51] gsmet commented on #5683
It was removed.

[2019-11-25 00:00] Arcnor commented on #5683
As you can imagine, I was using this functionality, so can you tell me what's the alternative to what the `libDir` configuration parameter was doing?

[2019-11-25 00:03] gsmet commented on #5683
Hmmm, but it wasn't wired at all? How did you make use of it?

And what were you trying to accomplish?

[2019-11-25 00:12] tlvenn opened #5732 "Websocket is losing connection / data"
**Describe the bug**
Simply following the websocket guide with 2-3 tabs in the browser.
Very quickly after pushing some messages, the following happens on Quarkus:
![quarkus_websocket_bug](https://user-images.githubusercontent.com/3340262/69503982-b40e2f80-0f6a-11ea-8623-46d850312c22.png)

And from there, weird behaviors happen in the chat (messages are lost, etc...)
Reverting to Quarkus 0.22.0 an

[2019-11-25 01:44] aaronanderson opened #5733 "OIDC Redirect URL should be static absolute URL"
**Describe the bug**
Currently Quarkus is including the full [request path](https://github.com/quarkusio/quarkus/blob/21cd452f7efe9936cd0cbc104a8644d872d13815/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/CodeAuthenticationMechanism.java#L162) in the redirect URL. According to the OAuth 2.0 specification that OIDC is based on the redirect URL should be [absolute](https://tools.ietf

[2019-11-25 07:02] gsmet commented on #5733
/cc @sberyozkin @pedroigor @sebastienblanc

[2019-11-25 07:32] Markus-Schwer commented on #5709
@cescoffier How far is the in-memory connector? I couldn't find any open or merged PR that looks like an in-memory connector.

[2019-11-25 07:34] jmartisk commented on #5701
I'm planning to do Vert.x metrics after the basic infrastructure is merged, then possibly Reactive Messaging (where it will need to be implemented in SmallRye first) or whatever else. If there are any "preferred" extensions that should have higher priority, please speak up

[2019-11-25 07:45] jaikiran commented on #5675
It would be good to have it reported here https://github.com/oracle/graal/issues and see if they have any inputs.

[2019-11-25 07:48] jmartisk commented on #4518
I just verified that after the config update (merged) and updating the MP Metrics API to 2.2.1-RC2 (locally) the TCKs pass. I will get Metrics 2.2.1 released and send a PR.

[2019-11-25 07:53] Arcnor commented on #5683
This was working on a previous version. But I just checked the linked issue and it looks like the `lib` directory will go wherever the final build directory is, which I guess it's wherever the `finalName` config setting points to?

That will work for my usecase.

[2019-11-25 08:07] #4857 closed

[2019-11-25 08:41] loicmathieu commented on #3166
OK, I'll doo this.
I will also have a chat with my devops friends, but I fear they answer me: log to the console and let us do the rest :)

[2019-11-25 09:01] loicmathieu commented on #5701
@jmartisk

For metrics, what I would love the have is:
- metrics for the external components: database (agroal, mongdb, ...), rest client, output messages (kafka, AMQP, ...)
- metrics for the calls of the application: jax-rs calls, input messages, ...

By this I can understand who my application are calls and respond to these calls, and how the external systems I'm connected with responds.

In my

[2019-11-25 09:18] jmartisk commented on #5701
@loicmathieu I changed my mind and now agree that metrics from extensions should be disabled by default, I updated https://github.com/quarkusio/quarkus/pull/5272 with it
Btw if you are missing metrics generated for JAX-RS endpoints, there is ongoing effort in MP Metrics to standardize this (https://github.com/eclipse/microprofile-metrics/issues/293) so in this case we might want to wait how this g

[2019-11-25 09:33] maxandersen opened #5735 "doc that overrides are only available when you have set the property in application.properties"
**Describe the bug**
https://quarkus.io/guides/config does not seem to mention that to do overrides via e.g. QUARKUS_HTTP_PORT you *must* have put it in `application.properties`

we should make sure that is highlighted/documented.

[2019-11-25 09:48] machi1990 commented on #5735
I think with this PR https://github.com/quarkusio/quarkus/pull/5387 in (milestoned 1.1.0), it should be possible to override runtime properties even if they are not set in `application.properties`.
/cc @dmlloyd

[2019-11-25 10:07] computerlove commented on #2931
I have startet work setting runner as main artifact (https://github.com/computerlove/quarkus/commit/597c6766bed50abbaaa4f58c61f9fe400820d30c)
Need to make sure that all required steps in contributing requirements are met before creating a PR.

[2019-11-25 10:27] sthiessen23 opened #5739 "resteasy-jsonb and artemis-jms don't work together"
**Describe the bug**
When using the dependencies for resteasy-jsonb and artemis-jms together,  jsonb does not work anymore.

An error is thrown:
ERROR: HTTP Request to /legumes failed, error id: 5f10e2db-31d3-4c64-9caf-6d079d1b0c22-1
org.jboss.resteasy.spi.UnhandledException: javax.ws.rs.ProcessingException: RESTEASY008205: JSON Binding serialization error java.lang.NoSuchMethodError: 'javax.json.

[2019-11-25 10:29] nimo23 opened #5740 "maven task to test the compability of 3rd party libs/frameworks"
**Description**
Quarkus needs extensions to be able to use certain 3rd party libs/frameworks. How one should know beforehand if such libs/frameworks are **fully supported** (for GraalVM and HotSpot) in quarkus without needing an extension?

**Implementation ideas**
Maybe a maven taks can scan the /lib-folder for compability, e.g. mvn io.quarkus:quarkus-maven-plugin:scan-libs

[2019-11-25 10:31] gsmet commented on #5739
@middagj  any chance you could have a look at that one?

[2019-11-25 10:32] gsmet commented on #5731
@loicmathieu @sberyozkin could you answer?

[2019-11-25 10:41] loicmathieu commented on #5731
The configuration property `quarkus.oauth2.ca-cert-file` cannot be used inside a native build at the moment. There is some limitation on native for SSL/TLS.

Regaring your error, it appears that you set it, that's why the build crash.

You must follow the native guide to integrate your certificate inside your SSL truststore and be sure to remove the `quarkus.oauth2.ca-cert-file` config property.

[2019-11-25 11:03] middagj commented on #5739
Sure, no problem. This sounds like the issue I also encounter in commit cd312d32 which is part of #5052. Artemis uses a different JSON-P library which sometimes gets loaded before the one of Quarkus.

[2019-11-25 11:10] jamesnetherton opened #5741 "Re-enable SftpTest in native mode"
Fails on Jenkins due to the error below. I tired various things to work around it without success. I tried in a variety of other environments and it seems to work fine.

[code]

[2019-11-25 11:11] jamesnetherton commented on #5741
Urgh! - Sorry, wrong repo :disappointed:

[2019-11-25 11:11] #5741 closed

[2019-11-25 11:13] Arcnor commented on #5683
Unfortunately it doesn't seem to work as I expected, `finalName` will move the generated `jar` to wherever I point, but the `lib` directory stays at `target`.

Is there anything I can do to move the `lib` directory to the right place, besides doing it myself with maven trickery?

[2019-11-25 11:23] gsmet commented on #5683
IMHO, it makes sense to have the `lib` directory together with the `-runner.jar`. @Arcnor when you define a `finalName`, the `-runner.jar` is generated in the appropriate directory?

[2019-11-25 11:32] Arcnor commented on #5683
Yes, the `-runner` is in the `finalName` directory, but `lib` doesn't move with it.

[2019-11-25 11:39] gsmet commented on #5683
@jaikiran could you see if it's easily doable and if it makes sense?

What is a bit annoying is that our generated Dockerfiles won't be accurate for this kind of setup.

But I'm more and more thinking that we should generate them dynamically during the build.

[2019-11-25 11:43] sberyozkin commented on #5733
Hey Pedro @pedroigor lets talk about it when you get a chance. The 'state' cookie does not capture the request path

[2019-11-25 12:14] sberyozkin commented on #5733
@aaronanderson
This address should be a Quarkus endpoint address. But of course it can be anything as far as the request URL is concerned, example, given `/myendpoint` there could be `/myendpoint/1`, `/myendpoint/bar/foo` so indeed the adapter needs to make sure that it is only `/myendpoint` segment which is added.
The problem is, the adapter sits in front of the JAX-RS chain, so it does not know

[2019-11-25 12:24] mkouba commented on #5400
For the record - this may also break private member access in the dev/test mode.

[2019-11-25 12:30] devisions commented on #5682
Quarkus is now 1.0!!! Hooray!!! :smile:
@gsmet Don't want to put pressure, but as I want to promote this internally (vs the SpringBoot alternative), I would love to also show the native image benefits. So, as we are using Java 11, by when would you know this issue would be solved?
Thanks

[2019-11-25 12:35] gsmet commented on #5682
@devisions well, it will be solved when we will have fixed all the remaining issues :). Hopefully for 1.1.0, which is planned for mid-december but we will see.

Keep in mind that GraalVM + JDK 11 is in tech preview, as per the GraalVM team.

[2019-11-25 12:39] middagj commented on #5739
When using latest master with #5052 merged in it, and of course added the mandatory `quarkus.artemis.url` property, the tests work again.

[2019-11-25 13:08] maxandersen opened #5743 "have lint option for quarkus-extension.yaml etc."
most if not all metadata in quarkus-extension.properties are optional but in many cases we would like to error or at least put warn in build that some fields are missing. i.e. description, metadata.keywords etc.

could then have a property to turn validations on/off

[2019-11-25 13:10] jaikiran commented on #5401
This is actually a genuine issue in the `dev` mode. The `java.util.ResourceBundle#getBundle(bundleName)` states that:

[code]

In `dev` mode, we create and use a `RuntimeClassLoader` which only knows about the application classes and doesn't know of the dependency classes or even the `java.util.ResourceBundle`. As a result, the `ResourceBundle` class gets loaded by JRE's application classloader. N

[2019-11-25 13:11] jaikiran commented on #5401
By the way, @zeljkot this issue is only present in `dev` mode, IMO. Can you confirm that? You shouldn't see this issue when you do something like:

[code]

[2019-11-25 13:17] sberyozkin commented on #5728
CC @stuartwdouglas

[2019-11-25 13:24] gsmet commented on #5739
Cool, thanks for checking!

[2019-11-25 13:24] #5739 closed

[2019-11-25 13:26] gsmet commented on #5743
For Quarkus codebase itself, I think we will need a proper build error. A warning would be lost.

[2019-11-25 13:39] majonga88 commented on #5731
@loicmathieu Thank you to reply to me, i do these actions before i build the native image, i remove quarkus.oauth2.ca-cert-file on my application.properties and i add the truststore on my graalVM following these commands :

[code]

[2019-11-25 14:20] gsmet commented on #818
@dmlloyd should I close this one? Looks like the effort is now made in separate issues specific to GraalVM?

[2019-11-25 14:21] gsmet commented on #1003
I'm closing this one. We can still open a new one or reopen it if we feel it necessary.

[2019-11-25 14:21] #1003 closed

[2019-11-25 14:28] loicmathieu commented on #3870
@FroMage I updated my proposal to return a `Findable` when using the `range` method. I also review how range and page handles the offsert/limit.

You can see the changes in my improvements branch: https://github.com/quarkusio/quarkus/compare/master...loicmathieu:feat/panache-improvements

[2019-11-25 14:34] loicmathieu commented on #5731
I think there is a bug, in case you build to native and use an HTTPS endpoint, the `OAuth2IntrospectValidator` that we use under the hood expect to have an sslContext but we didn't provides one in case there is no ca-cert-file.

I re-qualify the issue as bug and will work on it.

[2019-11-25 14:35] majonga88 commented on #5731
Ok thanks a lot @loicmathieu

[2019-11-25 14:39] dodalovic opened #5744 "Render required GraalVM version in generated Dockerfile for native"
**Description**

Currently, when we generate new project, `Dockerfile` for native image looks something like:

![image](https://user-images.githubusercontent.com/6358061/69549360-71178080-0f99-11ea-9ebd-713a5b582350.png)

It may be useful if we have somewhere in comments inside this file generated required GraalVM version

Maybe this information should be present somewhere on [project generator pa

[2019-11-25 14:41] #4518 closed

[2019-11-25 14:49] gsmet commented on #5744
Thanks for your suggestion.

I'm not sure it's a very good idea because it will duplicate the information and the information will be stale when you will upgrade Quarkus.

GraalVM version is whatever version Quarkus currently recommends. If you use the Docker build, it will be automatically the correct one. Otherwise, the requirements are here https://quarkus.io/guides/building-native-image and he

[2019-11-25 14:51] dodalovic commented on #5744
@gsmet That sounds completely sane.

[2019-11-25 14:52] mkouba commented on #5665
Just to clarify - does `APIs (classes and members)` only refer to the content of the `runtime` package from the runtime module? AFAIK there is no "API" package for deployment modules and so all public classes and members (build items, util classes, etc.) from the module can be considered part of the API.

[2019-11-25 15:12] dmlloyd commented on #818
Yep this is out of date.

[2019-11-25 15:12] #818 closed

[2019-11-25 15:12] dmlloyd commented on #818
Please see #5691 for the up-to-date migration steps.

[2019-11-25 15:14] dmlloyd commented on #5665
For the purposes of this issue, it applies to all Java code in the project.  When we talk about removal policy, that's when we'll have to decide what areas of code count as public API and what areas are internal.

[2019-11-25 15:24] maxandersen commented on #5735
yes, but until that is mainstream it would be worth at least noting on the config guide.

[2019-11-25 15:27] mkouba commented on #5665
Ok, I see.

[2019-11-25 15:27] dmlloyd commented on #5735
The notes in the guide would become mainstream at the same time that the code change does, wouldn't they?

[2019-11-25 15:30] dmlloyd commented on #5708
Yes, this is something that was fixed with #5387.

[2019-11-25 15:32] Sanne opened #5747 "Parse & validate GraalVM metadata META-INF/native-image"
**Description**

I've discussed some of our needs with the GraalVM team, and they agreed this feature request would make sense:
 - https://github.com/oracle/graal/issues/1884

This issue is to track the possible enhancements we would want to have on the Quarkus side; namely:

1. disable the feature of native-image
2. load the same metadata ourselves, and pass it on to native-image
3. [optionally]

[2019-11-25 15:37] gsmet opened #5748 "MicroProfile Health quickstart is failing"
It looks related to the latest changes that were merged (https://github.com/quarkusio/quarkus/pull/4987).

@loicmathieu @jmartisk could you have a look?

It's executing:
[code]
but fails right in the Surefire tests so it's not a native specific issue.

[code]

[2019-11-25 15:47] maxandersen commented on #5735
are you saying we can't release updates to the guide before 1.1 is out ?

[2019-11-25 15:51] dmlloyd commented on #5639
Fewer dependencies is better, but other than that, I don't have an opinion.  The most important thing is that it's correct (meaning, all URL components are correctly encoded).

[2019-11-25 15:53] dmlloyd commented on #5691
In fact we never intended to support Java 8 at all.  It was a requirement for native image generation only.  The only reason that really matters is that Java 8 is extremely outdated and should really not be used for new projects, generally speaking.

[2019-11-25 15:54] dmlloyd commented on #5735
I don't know, I'm asking!

[2019-11-25 15:59] gsmet commented on #5639
Wouldn't `The swagger-config.yaml in the project root directory, if it exists, is baked into the application` be the more practical for us? We could generate it based on the configuration while building the application?

[2019-11-25 16:00] gsmet commented on #5639
Oh wait, wouldn't it work to just have the user add a `swagger-config.yaml` to the `src/main/resources/` directory?

If so, I would say let's go for it and document it properly. I don't think it's a big problem if the file is only used in dev mode but still present in the prod application.

[2019-11-25 16:11] jaikiran commented on #5683
I'll take a more detailed look.

[2019-11-25 16:22] geoand commented on #5748
I have fix for this

[2019-11-25 16:40] looorent opened #5750 "quarkus-oidc throws an OIDCException when a token does not contain the `role-claim-path``"
**Describe the bug**
In `application.properties`, we specify a custom `role-claim-path`: `quarkus.oidc.roles.role-claim-path=resource_access/your-client-id/roles`.

When testing a token using this path (but with the wrong role), everything works as expected.
When testing tokens that do not have this path, it throws an `OIDCException: No claim exists at the path resource_access/your-client-id/roles

[2019-11-25 16:46] looorent opened #5751 "Allow quarkus-oidc to customize response body of 403"
**Description**
When using quarkus-oidc, providing a wrong token (expired, wrong signature, realm, ...) returns a forbidden status, as expected. However, the response body is always empty.

In order to migrate an existing API (which already defines its own response bodies), we would require from quarkus-oidc the possibility to customize and give more information in the response body.

For example,

[2019-11-25 16:54] sberyozkin commented on #5751
This is a problem that we have to tackle somehow, the first problem is that we need to be able to launch an OIDC authentication from a pre-match JAX-RS chain so as to get the exception mappers utilized. The smaller problem would be to make `OIDCException` informative enough...
@stuartwdouglas Hi Stuart, what do you think ? The same issue was reported at the pure smallrye-jwt path, the users would

[2019-11-25 16:54] gsmet commented on #3140
This is related to https://github.com/quarkusio/quarkus/issues/5556 .

[2019-11-25 16:55] gsmet commented on #5556
We should also consider this issue: https://github.com/quarkusio/quarkus/issues/3140 .

[2019-11-25 16:55] marcinczeczko opened #5752 "Microprofile rest client - Can't inject config/beans to providers"
**Describe the bug**
Any provider added to rest client via `@Provider` annotation is unable to inject config bean or any other application scoped bean.
[code]
And example the provider impl:
[code]

**Expected behavior**
Config or application scope bean injected and not null

**Actual behavior**
Any bean injected via `@Inject` is alway null (no errors in logs during argumentation nor during runtime

[2019-11-25 16:56] sberyozkin commented on #5750
I agree about 403 in this case.

[2019-11-25 17:03] aoudiamoncef commented on #5639
@gsmet,
I thought exactly like you, after adding it to the extension, it didn't work, why ? the `swagger-config.yaml` is inject when you build the hole project, we are using only the result of the project build in our web-jars.

[2019-11-25 17:17] ricardozanini commented on #5708
Thanks @dmlloyd
I assume this went for 1.0.0?

[2019-11-25 17:23] dmlloyd commented on #5708
Correct, 1.1.0.

[2019-11-25 17:32] garrettahines1 commented on #5449
@cescoffier tried this in 1.0.0.Final and still getting the error. If I change the requestJson to be a byte[] instead of String it works.

[2019-11-25 17:50] geoand commented on #5722
Gradle support is indeed not as good as we would like but a lot of improvements, see: https://github.com/quarkusio/quarkus/issues/5101

[2019-11-25 17:54] sberyozkin commented on #5657
@stianst @sebastienblanc thanks, yes, injectable `OidcClient`would be a way to start, especially to address Stian's 1st case `A background job that is not executing in the scope of a user request`.
When we have `Invoking a service with a different token to the incoming user request`, we can make option1 work if we introduce a qualifier such as `@ServiceAccount`, similarly to the way we qualify ID

[2019-11-25 18:03] nimo23 opened #5754 "Panache: provide "final" for public entity properties"
**Description**
With Panache, we can omit getters/setters for our entities. According to quarkus docs, encapsulation is done by generating appropriate getters/setters and overwriting all field accesses located outside of the class to property access. Inside the class, field access is still used.

**Normally, Hibernate does not allow final field properties.** Maybe Panache can rewrite those "final"

[2019-11-25 18:03] sberyozkin opened #5755 "Support a token exchange protocol for OIDC 'service' applications"
**Description**
As Stian @stianst and also Pedro @pedroigor have mentioned a bearer token coming into a `service` OIDC application may need to be exchanged for it to be correctly propagated (to retain a link with the original token, not to misuse the audience, scopes, etc).

**Implementation ideas**
Provide a pluggable `TokenExchange` interface (or may be use `SecurityIdentityAugmentor`) which wou

[2019-11-25 18:04] #5748 closed

[2019-11-25 18:25] cescoffier commented on #5449
I believe it's a bug in the AMQP connector, can you open an issue in https://github.com/smallrye/smallrye-reactive-messaging/issues

[2019-11-25 18:45] garrettahines1 commented on #5449
https://github.com/smallrye/smallrye-reactive-messaging/issues/336

[2019-11-25 18:58] cristhiank opened #5756 "Hibernate ORM throws EnhancementException: Failed to enhance class <classname>"
**Describe the bug**
Hibernate enhancement process fails when a `@MappedSuperClass` has a private `@Embedded` field.

https://stackoverflow.com/questions/59032839/quarkus-hibernate-orm-throws-enhancementexception-failed-to-enhance-class-cl?noredirect=1#comment104309724_59032839

**Expected behavior**
The entity should be mapped correctly.

**Actual behavior**
Quarkus doesn't boot and throws an exc

[2019-11-25 19:35] nfau1 opened #5757 "Having some issues with multi-threading and hibernate-with-panache"
**Describe the bug**
There are two things :
- If i call in the onStart() method (the one that allows to execute code once the server launched) the findAll() method from hibernate-with-panache ORM, i got this warning :

[io.agr.pool] (main) DataSource '':Closing open connection prior to commit"
[io.agr.pool] (main) DataSource '':JDBC ressources leaked 1 ResultSet(s)and 1 Statement(s)"

- If i creat

[2019-11-25 19:36] TPX01 commented on #1658
First of all, great work @gastaldi ! 👍
Does anyone know the release timeframe for this driver? Looks like an essential one if you want to adopt it in bigger enterprises.

[2019-11-25 20:27] pedroigor commented on #5755
Another idea would be to enhance RESTeasy Client (or any other client library used by Quarkus users) to perform the exchange behind scenes when invoking some downstream service.

[2019-11-25 20:36] pedroigor commented on #5657
I also agree that a client is the best way to go. However, it is worth mentioning that spec-wise client authentication at the token endpoint does not require a refresh token to be returned. Reason being that there is no much sense about returning RT for clients acting on their own behalf (differently when they are acting on behalf of users). So refresh tokens is not a primary requirement for deali

[2019-11-25 20:49] pedroigor commented on #5657
It seems like a bad SoC if you have the same application using both approaches. An application acting as a background job has different requirements in terms of functionality, deployment, and execution if compared with another one that just handles access tokens to serve protected data.

In addition to that, you could even have background applications using long-lived access tokens that were issue

[2019-11-25 21:22] stuartwdouglas commented on #5401
I don't think there is much we can do here, you will have similar issues in servers like WildFly where modular class loading is in use.

[2019-11-25 22:28] sberyozkin commented on #5755
@pedroigor in this case we'd need to make the incoming token available to the `OidcClient` (#5657) via a context propagation. We can have both options supported, the exchanged token can be qualified at the injection point to distinguish it from the incoming token

[2019-11-25 22:37] sberyozkin commented on #5657
@pedroigor yes, the refresh token is not expected to be actually returned for the client cred, so we indeed should not worry about it. Not sure about your point of asking the users to do some existing libraries. I've opened this issue because the users are having to write their own code (example, see one such case attached)

True, I was talking about Stian's case where it is not a real background

[2019-11-25 22:50] sberyozkin commented on #5733
We can't avoid introducing a property because there could be some static resources on the URI path not overlapping with the JAX-RS path...

[2019-11-26 01:35] cnmade opened #5760 "can not run example"
command
[code]

error log
[code]

[2019-11-26 03:12] jaikiran commented on #5760
Is this using Java 13 (and Windows)? If yes, then there's a known issue with that combination https://github.com/quarkusio/quarkus/issues/5359. You can use Java 8 (or even Java 11 I guess) for now, till we come up with a fix for that on Java 13 (there are some ongoing discussions about it).

[2019-11-26 06:49] geoand commented on #5757
cc @FroMage

[2019-11-26 07:08] jglink opened #5762 "Is it possible to use XA with JMS in Quarkus?"
Is there a possibility to use the Quarkus JMS (Artemis) integration in combination with XA? I don´t find any configuration examples for it and Quarkus just uses the ActiveMQConnectionFactory and not the ActiveMQXAConnectionFactory one.

It´s just the typical use case to do some database operation (insert/update) and sending a JMS message which should be done in XA. (Of course, there are other patt

[2019-11-26 07:27] mkouba commented on #5715
I believe we can close this one. Feel free to reopen if neeeded.

[2019-11-26 07:27] #5715 closed

[2019-11-26 07:46] rquinio commented on #5668
Is this about
spring-DI way `@Inject List<MyBean>` vs CDI way @Inject javax.enterprise.inject.Instance<MyBean> ?

[2019-11-26 08:01] Sanne commented on #2751
I remember we had some similar discussion, but I don't remember agreeing on this :) Happy to re-think though.

Do you happen to have a link? Can't find it. To comment on the above suggestions: reusing the Datasource annotation would be fine I think as it would be applied on a different _type_. typesafety helps there, but not so much with validation of configuration properties.

For context, I thin

[2019-11-26 08:02] cmoulliard commented on #2277
Here is a new list of things to be improved after spending 2 days to try to create a simple Servlet Extension - https://github.com/cmoulliard/quarkus-my-ext

To Do

- [ ] Update the maven archetype to create an extension as it is outdated
- [ ] Review Guide in order to avoid to have to create the extension under the quarkus/extensions project
- [ ] Add Junit test to show how to test deployment/run

[2019-11-26 08:05] tpenakov commented on #5668
This is the code snipped that does not work in Spring DI module, bur works on Spring:
`@Autowired
List<BaseProcessor> processors;`

[2019-11-26 08:08] geoand commented on #5668
Yes, in Quarkus one can use `@Inject javax.enterprise.inject.Instance<MyBean>` while in Spring DI one can do: `@Autowired List<MyBean>`.

If possible we should provide support for the latter syntax.

[2019-11-26 08:16] #5695 closed

[2019-11-26 08:47] tsegismont commented on #2751
I found this https://github.com/quarkusio/quarkus/pull/2039#issuecomment-487906328

But there was also a thread on quarkus-dev

[2019-11-26 09:02] gsmet commented on #5762
@middagj any thoughts on this one?

We have Narayana available for XA so it should be doable.

[2019-11-26 09:02] loicmathieu commented on #5757
Be careful that when you use the stream() method, it needs to be inside a transaction boundary.
So if you use this stream inside a new Thread, you will be out of the transaction. That's why it crashes. And I think it's incorrect to do this.

For the first issue, I too saw those logs when using stream() methods since 1.0.0.CR1, I don't know why they start displaying. These messages are from Agroal.

[2019-11-26 09:03] mkouba commented on #5752
Ok, so an easy workaround is to annotate the provider class with `@Provider` but this would probably defeat the purpose of the `@RegisterProvider` annotation because the provider would be discovered and automatically registered for all rest client interfaces and even server-side resources.

Looking at the [RestClientBuilderImpl](https://github.com/resteasy/Resteasy/blob/master/resteasy-client-micr

[2019-11-26 09:10] loicmathieu commented on #5751
@sberyozkin the issue has already been discuss but not yet implemented :)

When we implements JSON representation for resteasy 404 (inside `io.quarkus.resteasy.runtime.NotFoundExceptionMapper`) and for undertow/Vet.x 500, I raise the fact that there is also exception mappers for authentification issues, but we didn't implement JSON representation for them. This was a leftover.

So we need to provi

[2019-11-26 09:10] geoand commented on #5752
+1 for me

[2019-11-26 09:11] mkouba commented on #5752
@geoand would you care to send a PR to resteasy? ;-)

[2019-11-26 09:15] geoand commented on #5752
@mkouba sure, I'll most likely get to it this week

[2019-11-26 09:20] geoand commented on #5662
@kenfinnigan have things changed on the Smallrye side with the latest big changes to configuration?

[2019-11-26 09:22] geoand commented on #5663
Support for Spring's `@Secured` annotation has been implemented by @aureamunoz.
I am working on `@PreAuthorize` and will be opening a PR within the week.

[2019-11-26 09:32] FroMage commented on #5757
Yeah, if you want to extend your transaction to other threads, you need context propagation: https://quarkus.io/guides/context-propagation

You also need to make sure the transaction is not terminated until your thread is done by returning an async type: https://quarkus.io/guides/transaction#reactive-extensions

As for the first question, I'm pretty sure you need to close the `Stream` you just cre

[2019-11-26 09:34] sberyozkin commented on #5751
@loicmathieu Hi Loic, not sure how much of that we can apply in this case, when the token has been validated and the roles extracted then yes, if 403 is reported is enforced in the JAX-RS chain we can map catch it, but in this case a user would like to catch the exceptions at the OIDC token verification time which is happening before the JAX-RS chain has started...

[2019-11-26 09:43] loicmathieu commented on #5751
@sberyozkin maybe we need more that what I propose, but what I propose must be done :)

It's hard to provide exception mappers for all possible exception generated by Quarkus.

Reading the OIDC code, I saw an `OIDCException` that directly extends `RuntimeException`. According to me it's wrong as if OIDC is down the user should be denied access to the resource so we might throw a `ForbidenException

[2019-11-26 09:46] loicmathieu commented on #5757
@FroMage the following code seems legit to me, works fine with Quarkus 0.28.1, and starts generating the Datasource logs since 1.0.0.CR1:

[code]

Both `enhancePreparedCardWithAccountInfo` and `addStatusLabel` make database queries.

[2019-11-26 09:53] geoand commented on #5756
cc @Sanne

[2019-11-26 09:53] geoand commented on #5760
Which example are we talking about?

[2019-11-26 10:02] FroMage commented on #5757
That seems legit, but another bug. Could you try to track who is creating this non-closed `ResultSet`?

[2019-11-26 10:17] marcinczeczko commented on #5752
By the way, I updated my reproducer to verify `@RegisterClientHeaders` to add `ClientHeadersFactory` to the client - and in fact it has the same issue with no beans injected.

[2019-11-26 10:22] Xendar opened #5763 "@Valid and @RolesAllowed conflict since 1.0.0.CR2"
**Describe the bug**
Adding the @Valid annotation to a parameter of a REST endpoint annotated with @RolesAllowed or @DenyAll will make the authentication to be bypassed.

**Expected behavior**
HTTP 401 should be thrown.

**Actual behavior**
The resource is executed.

**To Reproduce**
I have created a minimal reproducer for the issue with unit tests: https://github.com/Xendar/quarkus-validation-sec

[2019-11-26 10:23] nfau1 commented on #5757
Thanks !

Actually, closing the stream resolved the problem of the warning
[code]
And concerning the Thread  issue, it seems obvious that the context is different (my bad). Calling a method which is annotated by @Transactional resolve the problem.

[2019-11-26 10:25] gsmet commented on #5757
OK, looks like we can close this one, then.

Thanks!

[2019-11-26 10:25] #5757 closed

[2019-11-26 10:26] ia3andy commented on #5763
Moving this issue to Quarkus main repo as this issue is related to it.

[2019-11-26 10:45] vc-void commented on #4981
fixed in 1.0.0.CR2

[2019-11-26 10:45] #4981 closed

[2019-11-26 10:53] gsmet commented on #5752
@geoand it looks like something we would want for 1.1.0 so please ask for a RESTEasy release including that one before December 6th.

Thanks!

[2019-11-26 10:53] asoldano commented on #5584
@gsmet HTTP 500 does not look right, I agree. I would generally expect HTTP 400 too. Actually, in some cases, the special char could even be fine, for example, if used in a part of the path that corresponds to a @PathParam parameter of the resource.

[2019-11-26 10:54] asoldano commented on #5584
@gsmet having said this, this is likely not a resteasy thing

[2019-11-26 10:54] geoand commented on #5752
@gsmet Sure!

Once I finish my current task, I'll pick up this one.

[2019-11-26 10:57] vc-void commented on #5763
I can confirm this. After updating quarkus version to  ``1.0.0.Final`` I started having a lot of ClassCastExceptions due to unauthorized roles accessing endpoints that they shouldn't.

[2019-11-26 11:02] asoldano commented on #3655
https://issues.jboss.org/browse/RESTEASY-2432

[2019-11-26 11:06] ia3andy commented on #5763
@gsmet any thought?

[2019-11-26 11:10] gsmet commented on #5756
I'm not entirely sure it's a bug as it might be related to the access type. But that being said, I would expect the dirty inline checker to somehow delegate to the parent class. At least, that's what we usually do in the enhancer.

@dreab8 @davided would one of you be interested in having a look at that one?

[2019-11-26 11:28] gsmet commented on #5584
@asoldano yes, I agree, I just wanted your feedback.

@cescoffier looks like this is more of a Vert.x issue. Could you push that one to the right person? Maybe @asoldano will be able to point out how things are done in RESTEasy.

[2019-11-26 11:40] Xendar commented on #5763
This is indeed what I saw, without @Valid everything seems fine. But it would be a shame to not be able to benefit from the annotation's goodness :(

[2019-11-26 11:44] paulrobinson commented on #5663
@geoand can you add these items to the checklist?

[2019-11-26 11:48] simongun opened #5764 "REST invocation with AdmissionReview fabric8 object via jackson fails in native image"
**Describe the bug**
The attached web service using a fabric8 model object, and jackson for marshalling, works fine when invoked through a (provided) test case when running in the normal openJDK 1.8.
If compiled into a native image, no error is logged when invoked, but the code (including its own logging statements) are not executed.
Also, if we replace quarkus-resteasy-jackson with the quarkus-re

[2019-11-26 11:53] geoand commented on #5663
@paulrobinson done

[2019-11-26 11:57] paulrobinson commented on #5663
@geoand is there a GitHub issue for that work? If so, can you link it?

[2019-11-26 12:00] geoand commented on #5663
@paulrobinson we have this general one: https://github.com/quarkusio/quarkus/issues/4037 Should we make specific ones for each feature?

[2019-11-26 12:18] brunohorta82 commented on #5763
if I use any Annotation from javax.validation.* the filter https://github.com/smallrye/smallrye-jwt/blob/master/implementation/src/main/java/io/smallrye/jwt/auth/jaxrs/RolesAllowedFilter.java#L37
Not Runs
you can try with @NotNull, @Valid or @NotEmpty

[2019-11-26 12:35] stianst commented on #5755
Right now token exchange is tech preview in Keycloak and we're not sure when we'd make it fully supported. Adding support for token exchange to Quarkus is probably something we could do as part of making token exchange supported.

[2019-11-26 12:44] mkouba opened #5765 "Mark the scheduler extension as stable"
- remove the "preview" note from the guide
- update the [quarkus-extension.yaml](https://github.com/quarkusio/quarkus/blob/master/extensions/scheduler/runtime/src/main/resources/META-INF/quarkus-extension.yaml) file

[2019-11-26 12:45] nfau1 commented on #5757
@FroMage, just a last thing before closing the issue. Adding in the documentation that we need to close the Stream created with the stream() methods can be a good idea. I'm not sure this is mentioned.

[2019-11-26 13:14] d-yosh opened #5766 "Spring's @RequestMapping params and headers attributes are not supported."
**Describe the bug**

Spring's `@RequestMapping` params and headers attributes are not supported.
The same applies to the following annotations.
[code]

For Example:

[code]

**Expected behavior**
In Spring,
`/greeting?foo` -> returns "foo"
`/greeting?bar` -> returns "bar"

**Actual behavior**
In Quarkus,
`/greeting?foo` -> returns "bar"
`/greeting?bar` -> returns "bar"

**To Reproduce**
Steps to

[2019-11-26 13:15] kenfinnigan commented on #5662
changed in what sense?

the current situation is that dynamic config is still not really supported directly

[2019-11-26 13:17] paulrobinson commented on #5663
@geoand to me it looks like #4037 is a duplicate. Do you agree? If so, i could merge them together, keeping #4037 so as to preserve the conversation.

[2019-11-26 13:18] geoand commented on #5662
That answers my question :).

I was basically wondering if now have dynamic config support

[2019-11-26 13:18] geoand commented on #5663
@paulrobinson yeah, that makes perfect sense to me

[2019-11-26 13:20] paulrobinson commented on #5663
OK. Merged the content from here into #4037.

Closing this issue.

[2019-11-26 13:20] #5663 closed

[2019-11-26 13:22] kenfinnigan commented on #5662
Depending on the `ConfigSource` its possible to essentially have dynamic by using:

[code]

and calling `timeout.get()` whenever you want a value.

If the `ConfigSource` caches values, then this won't get the latest

[2019-11-26 13:24] stianst commented on #5733
+1 to static OAuth/OIDC callback endpoint. However, bear in mind that there may be multiple tabs open to the application pointing to different URLs, so simply adding app URL to a cookie isn't sufficient. The state param can be used to include a pointer to which OIDC callback it is to pick up the correct URL on the callback.

[2019-11-26 13:26] geoand commented on #5662
Great info thanks!

How about the ability to add a config source based on some property? I am thinking that for a ConfigMapConfigSource for example we need at runtime to know the Kubernete API URL.

[2019-11-26 13:27] geoand commented on #5663
Thanks @paulrobinson !

[2019-11-26 13:28] kenfinnigan commented on #5662
Do you mean enabling a `ConfigSource` based on a property, or the ability to have a property be used to construct a `ConfigSource` that uses it?

[2019-11-26 13:32] geoand commented on #5662
Closer to the latter.
Basically I am thinking that we need to be able to create a `ConfigSource` using some property (not from the same `ConfigSource`).
For example when constructing a `ConfigMapConfigSource` you would need to know the Kubernetes API server you are targetting.
I am thinking that the property which is a "dependency" for creating `ConfigMapConfigSource` for example might be in some

[2019-11-26 13:33] kenfinnigan commented on #5662
Ah ok, behavior like that is currently not defined in the spec.

However, we're going to explore an implementation to do something like that in SmallRye Config to hopefully get it in the spec

[2019-11-26 13:40] geoand commented on #5662
That's cool, thanks for the info!

I'll keep an eye out for it

[2019-11-26 13:45] FroMage commented on #3655
Thanks @asoldano

[2019-11-26 14:19] danilomagalhaes opened #5769 "Change "quarkus.hibernate-orm.datasource.default-schema" to runtime ConfigProperty"
**Describe the bug**
I'm using quarkus-hibernate-orm with oracle ojdbc. In general when using Oracle, when the schema is omitted the default schema is the username of the DataSource. Using quarkus I'm obligated to specify the "quarkus.hibernate-orm.datasource.default-schema" property becouse quarkus-hibernate don't use the username as default schema. However if I use AgroalDatasource directly the

[2019-11-26 14:22] machi1990 commented on #5769
Related to #2933
/cc @gsmet @Sanne

[2019-11-26 14:29] paulrobinson commented on #5709
@emmanuelbernard, @cescoffier: I moved the remaining items form the Reactive Messaging section of the input document for consistency. Hopefully I didn't go against the intent of this issue.

I agree with @emmanuelbernard (above). I think this issue is too big to be one Epic. I would suggest breaking it down into smaller, related/collective pieces that can be actioned in one go. Given the amount of

[2019-11-26 14:45] aguibert commented on #3538
FYI I've delivered the fix for this issue in Yasson which will be included in the next release (1.0.6)

[2019-11-26 14:53] Ladicek commented on #5709
I don't think I can 100% agree with the presentation of MP Fault Tolerance here, but I fully agree that FT in messaging is very much a different beast. As I don't know anything about MP Reactive Messaging, I don't feel qualified to judge if the same programming model (CDI interceptors, basically) could be applied.

[2019-11-26 15:06] ia3andy opened #5775 "undertow-handlers.conf not working anymore"
**Describe the bug**
I used to have it add a no-index for code quarkus staging:
`not equals(%{i,Host}, "code.quarkus.io") -> header(header=X-Robots-Tag,value=noindex)`

As you can see the header is not here anymore: https://stage.code.quarkus.io

It was working for sure (but I don't know when it stopped working)..

I've made a test with a basic Quarkus project and just a request dumper in the conf

[2019-11-26 15:08] gsmet commented on #5775
Do you use `quarkus-undertow`?

[2019-11-26 15:11] ia3andy commented on #5775
It's broken since `0.24.0`, `0.23.0` was working..

[2019-11-26 15:14] ia3andy commented on #5775
@gsmet I don't, could you be more precise=n

[2019-11-26 15:17] ia3andy commented on #5775
Ok adding the dependency fixed the problem. It was not required to add it in previous version..

[2019-11-26 15:17] #5775 closed

[2019-11-26 15:19] ia3andy commented on #5775
@gsmet thanks ;-)

[2019-11-26 15:24] gsmet commented on #5775
RESTEasy was coming with Undertow before. It’s now using Vert.x by default.

The best course of action in the long term is to rewrite that to use a Vert.x handler.

[2019-11-26 15:32] pschyma opened #5776 "Support Kotlin DSL Gradle projects when adding/listing/removing extensions"
**Describe the bug**
The `addExtension` gradle task does not honor kotlin DSL build files and creates instead empty groovy DSL build configuration files: `build.gradle` and `settings.gradle`.

**Expected behavior**
Adding an extension should create a new entry in the dependencies block of the existing `build.gradle.kts` file.

**Actual behavior**
Nothing is added to `build.gradle.kts`, but instead

[2019-11-26 17:11] pedroigor commented on #5733
@sberyozkin shall we have a property then? Would it be acceptable if we use this property to specify the redirect URI and fallback to current behavior if none is provided?

[2019-11-26 17:18] stianst commented on #5733
The approach we're using in the Keycloak adapters is not really a good approach. As mentioned here callback URL should really be a static OAuth/OIDC callback URL, not the regular app URLs.

Default behaviour should be a static URL, with perhaps different URLs for authorization code flow and RP initiated logout. Something like /oidc/login and /oidc/logout. It's probably rather unlikely that /oidc w

[2019-11-26 17:19] dreab8 commented on #5756
@gsmet it seems an issue with bytebuddy

[2019-11-26 17:33] sberyozkin commented on #5751
Hey @loicmathieu looks like you are proposing a solution for #5750 :-)

[2019-11-26 17:59] #4516 closed

[2019-11-26 17:59] SetoKaiba commented on #5722
I made a PR #5780. But I didn't test it. Because I get a lot of error when open the maven projects when solving dependencies in IDEA.

[2019-11-26 18:09] SetoKaiba commented on #5101
Hi. I'd like to know whether gradle would be with the same features that maven plugin provides. I get little support in the WildFly Swarm project before. And I contribute to it to fix some bugs as well. It's been said to be a brother project of this project. This project seems to be with less feature gradle plugin as well. So I'm curious whether the gradle plugin is just a beginning. Or it will ge

[2019-11-26 18:10] SetoKaiba commented on #5101
And I made a PR for better multi project support.

[2019-11-26 18:19] SetoKaiba commented on #5722
![image](https://user-images.githubusercontent.com/159540/69660895-4540eb80-10bc-11ea-9837-f1125f1a848c.png)
I want to test it myself. But I get a lot of errors when it resolving plugins.

[2019-11-26 18:45] acoburn opened #5781 "quarkusDev task fails with "Unable to find quarkus-gradle-plugin dependency""
**Describe the bug**

When using gradle with quarkus 1.0.0.Final, the `quarkusDev` task fails with this error:

[code]

This task worked fine with quarkus 0.28.1 and earlier. (All other tasks seem to work fine)

**To Reproduce**
Steps to reproduce the behavior:
1. In a gradle project, add this to a build.gradle script:

[code]

2. Run `./gradlew quarkusDev`

**Environment (please complete the foll

[2019-11-26 18:55] sberyozkin commented on #5733
@stianst @pedroigor Hi Stian, Pedro, I have a draft PR on the way (draft because I can't make Vertx reroute from the static redirect URL to the original one, will have to use a special `Requires Stuart` label :-) ), will CC you

[2019-11-26 19:01] pedroigor commented on #5657
I see your point. I'm just concerned about trying to provide an API that may not be enough even though we provide only the basic capabilities to automatically fetch tokens (based on client authentication). My point is more "let's get more use cases and feedback on that and try to come up with something".

As I said, you may not even have to DYI but use some library (if available, today there is li

[2019-11-26 19:15] pedroigor commented on #4448
@sberyozkin We should also be able to allow configuration to be chosen based on incoming requests (dynamically). For instance, depending on a path you may want to use Tenant A, etc ..

[2019-11-26 19:30] cadu-goncalves opened #5802 "Hashicorp Consul integration"
**Hashicorp Consul integration**
Nice to have integration with [Consul](https://www.consul.io)

[2019-11-26 21:59] nimo23 opened #5784 "quarkus starters: archetype for eclipse"
**Description**
There are no official simple quarkus starter in Eclipse.
![quarkus-archetype](https://user-images.githubusercontent.com/3045549/69675930-0735ce80-10a0-11ea-8480-fa59fdad1c55.png)
 Maven archetype:

**Implementation ideas**
Maybe archetypes can be added to a catalog (Maven Central or RedHat).

[2019-11-26 22:07] geoand commented on #5776
Currently we don't handle `build.gradle.kts` at all. It would be a nice addition.

[2019-11-26 22:13] geoand opened #5785 "Interceptors don't run for beans created by producer methods."
**Describe the bug**
I couldn't get the security interceptors to run for a bean that was produced by CDI Producer.

**Expected behavior**
Interceptors should run regardless of how the beans are created.

**To Reproduce**
In the `extensions/security/deployment` module, add the following classes to the test directory:

[code]
,
[code]

Then change `CDIAccessDefaultTest` to add:

[code]

Of course `M

[2019-11-26 22:13] geoand commented on #5785
cc @mkouba @manovotn @michalszynkiewicz

[2019-11-26 23:14] #5765 closed

[2019-11-26 23:47] stuartwdouglas commented on #5556
@cescoffier @vietj It looks like the vert.x Web access log handler is considerably more limited than the Undertow one. It would be pretty simple to wire up the vert.x one to config but I think users are likely going to want more features than it provides. I am thinking it might make sense to just port the Undertow version to our vert.x HTTP module, what do you guys think?

[2019-11-26 23:56] stuartwdouglas commented on #5291
That is a good point, but I think it is going to depend a lot on what the tests do as to if you want the startup logic to run or not. At the moment you can just manually use io.quarkus.runtime.LaunchMode#current() to decide if you want to run the logic or not.

[2019-11-27 00:42] jclingan opened #5789 "In logging guide, DEBUG should not be a valid log level"
**Describe the bug**
DEBUG is not a valid log level as shown in the [logging guide example](https://quarkus.io/guides/logging#examples). A valid log level should be shown.

In addition, the logging guide should document valid log levels: ALL, CONFIG, FINE, FINER, FINEST, INFO, OFF, SEVERE, WARNING. These should be documented in the description for each log level-related property so they also show

[2019-11-27 01:54] stuartwdouglas commented on #5751
OIDC does not depend on JAX-RS, this is a higher level API that can be applied to all HTTP implementations (Vert.x, Servlet etc).

It sounds like what this really needs is a way to modify the response in the HTTP layer, as if the token is invalid then it may never actually hit the JAX-RS layer.

[2019-11-27 02:01] dmlloyd commented on #5789
It should be valid. JBoss LogManager retrofits the Apache style levels into JUL, and our code generally uses them.

[2019-11-27 05:17] stuartwdouglas commented on #5732
I just tested this out and could not reproduce it, in either dev or native mode.

[2019-11-27 07:07] mkouba commented on #5785
Unfortunately, CDI interceptors are not associated with instances returned from the producer methods. See https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#binding_interceptor_to_bean: _"The set of interceptor bindings for a producer method is not used to associate interceptors with the return value of the producer method."_ And the reason is that we don't control the creation of the bean instance

[2019-11-27 07:10] geoand commented on #5785
Thanks for the info @mkouba

[2019-11-27 08:28] geoand commented on #5752
I opened a [PR](https://github.com/resteasy/Resteasy/pull/2232) in RESTEasy that forms part of the solution.
The other part will be to register the classes used in `@RegisterProvider` as beans.

[2019-11-27 08:50] wicksim opened #5790 "NullPointerException if `quarkus.http.ssl.cipher-suites` is missing"
**Describe the bug**
When providing a SSL-keystore, I'm getting a `NullPointerException`:

Quarkus is trying to read cipher-suites, but the config seems to be null. Documentation (https://quarkus.io/guides/all-config#quarkus-vertx-http_quarkus.http.ssl.cipher-suites) is confusing, because description says "If none is given, a reasonable default is selected", but in default value there is a "requir

[2019-11-27 08:55] geoand opened #5791 "NPE is thrown with a Spring Web Controller contains a @PostConstruct annotation"

[2019-11-27 09:29] geoand commented on #5791
This RESTEasy [PR](https://github.com/resteasy/Resteasy/pull/2233) should fix the problem.

[2019-11-27 09:33] geoand commented on #5712
cc @cmoulliard

[2019-11-27 09:53] gsmet commented on #5790
Thanks for reporting this. I think the issue is already fixed in master.

In 1.0, we have:
https://github.com/quarkusio/quarkus/blob/1.0/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java#L343

In master, we have:
https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder

[2019-11-27 10:03] gsmet commented on #5784
Thanks for starting this conversation.

We don't have archetypes for simple projects: the projects are created using a Maven command from our Quarkus Maven plugin.

You can either:
- use https://code.quarkus.io/ to generate your project and then import it in Eclipse
- use the Maven command line and import it to Eclipse
- Eclipse tooling for Quarkus is coming based on the work done for VSCode: http

[2019-11-27 10:03] #5784 closed

[2019-11-27 10:06] gsmet commented on #988
@dmlloyd I was wondering if this one had been fixed by your big config PR?

[2019-11-27 10:07] gsmet commented on #5769
Yes, I'm closing this one as a duplicate.

We really need to work on this sooner rather than later. I will talk with Sanne.

[2019-11-27 10:07] #5769 closed

[2019-11-27 10:07] gsmet commented on #5769
Thanks for reaching out, it helps us setting our priorities straight!

[2019-11-27 10:15] cescoffier commented on #5556
@pmlopes did the support for Vert.x Web. But yes, it should be straightforward.

[2019-11-27 10:21] Sanne commented on #2933
I don't think that should be the goal. There's several things that technically could be done at runtime, and yet we shouldn't.

Let's try to make a list; clearly the need expressed in #5769 is important, but many others are not and would hurt optimisation potential.

The strategy in Quarkus is that all options are build-time, unless there's a good reason to have it overridable at runtime.

[2019-11-27 10:24] debae opened #5794 "It should be possible to configure the format of logs per category"
**Description**
Right now quarkus support logging to console / file / syslog. For the moment it only support configuring a format on that level.
If an application makes use of structured logging and has some specific class that do not want to make use of that formate it is not possible.

[code]

We for example have some specific code that logs objects directly as json :
[code]

If logging is then

[2019-11-27 10:30] gsmet opened #5795 "Contact request"
Hey @volalex , @johnoliver , @jycr , @lkrzyzanek , @kilmajster , @mthmulders , @mmornati , @jarryDk , @myron-randall , @soberich ,

You don't have any email set up on your GitHub commits and I wanted to talk to you about something nice coming.

Could you contact me in private on my Red Hat email: gsmet at redhat dot com ?

Thanks!

[2019-11-27 10:31] gsmet commented on #5795
Closing the issue as we don't need it in the open list.

[2019-11-27 10:31] #5795 closed

[2019-11-27 10:35] gsmet commented on #2933
That's exactly what I was saying by "technically doable".

If it allows for some optimizations, then it's not doable as we need it in earlier steps and then should stay build time.

But all the configuration knobs that are clearly not tied to build time AND that we can define later on the Hibernate side (some of them might be needed when we build the metadata) should be runtime.

So I think we are

[2019-11-27 10:41] Sanne commented on #2933
Ok glad to hear we're on the same page. Mind you, "technically doable" is much broader so I wouldn't use the expression in this context.

For example Emmanuel just asked me to find a way to flip Dialect - I reminded him we wouldn't be able to pre-boot all of the Metadata but he needs it anyway. Clearly that's against all our optimisation principles, yet "technically doable".

[2019-11-27 10:57] gsmet commented on #2933
Agreed. I should have been more precise.

As for the dialect, I have in mind to allow all (most of) the versions of a given dialect (most of them are a pile of classes on top of the others so we get the old versions anyway if we include the latest). I don't know if it could satisfy Emmanuel's requirement.

At least, I hope we will experiment with that soon.

[2019-11-27 11:01] Sanne commented on #2933
So Emmanuel's requirement is to support multiple different DB vendors via the same native image. Requirement comes from Keycloak.

The only thing I can think of is to bake in each possible metadata, and then pick one at runtime to build the final SessionFactory. I guess we'll discuss it on its own issue soon, it's not on the top of my TODO list :)

[2019-11-27 11:03] sberyozkin commented on #5751
@stuartwdouglas Would having an our own injectable `SecurityExceptionMapper` CDI bean typed by the base exception which `ForbiddenException`/etc extend do it ?

[2019-11-27 11:05] wicksim commented on #5790
Thanks for your fast reply. I'll close this issue.

[2019-11-27 11:05] #5790 closed

[2019-11-27 11:11] geoand opened #5796 "@RestControllerAdvice that returns an object but handles errors from a void controller method does not return json"
A simple way to reproduce this error is to change the existing spring-web integration to use :

[code]

to:

[code]

in the `ExceptionThrowingController` class

[2019-11-27 11:13] fatih-erdem opened #5798 "Alpine Linux based GraalVM Docker image"
Hey, I want to use GraalVM but not the native image, just normal JIT mode.

I was searching for a Docker image for GraalVM and I saw the official one. https://hub.docker.com/r/oracle/graalvm-ce/tags

The problem is Docker image's size is about 450 MB. But for OpenJDK, I could find a Docker image based on Alpine Linux and size is around 50 MB.

Is there any plan to create the GraalVM Docker image b

[2019-11-27 11:22] mkouba commented on #5752
@geoand Thanks!

[2019-11-27 11:27] gsmet commented on #5030
@kenfinnigan do you have the spec side under control on that one?

I'm not totally sure supporting more injection points than the spec strictly requires could be seen as a problem. But if you think it is, it would be nice to get this ball moving.

Thanks!

[2019-11-27 11:33] geoand commented on #5752
@mkouba YW!

[2019-11-27 11:37] jaikiran commented on #5732
@tlvenn Just curious - which vendor and version of the browser are you using?

[2019-11-27 11:45] yuhaibohotmail commented on #5798
Please refer to this：
[](https://itaffinity.wordpress.com/2019/05/16/graal-native-images-quarkus-micronaut-helidon/)

[2019-11-27 11:58] cmoulliard commented on #5712
We have discussed with @geoand  today what we should do around to convert or migrate a Spring(Boot) application to Quarkus.

As developing a migration tool will take time, will be difficult to maintain (excepted if it becomes part of a tool such as Windup), then we need a Guide explaining :

- How to develop a Spring application on Quarkus
- What is the migration path to follow to Spring Boot to Q

[2019-11-27 12:09] qiuzhanghua opened #5799 "@PostConstruct and Kotlin init not working in @ApplicationScoped Bean"
**Describe the bug**
(Describe the problem clearly and concisely.)
I create a gradle project with vert.x, vert.x web and kotlin, and define a bean of
@ApplicationScoped named Server. [https://github.com/qiuzhanghua/code-with-quarkus](https://github.com/qiuzhanghua/code-with-quarkus)

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Server.kt should work as a TCP Server

[2019-11-27 12:15] qiuzhanghua commented on #5799
Perhaps my question is:

How do I force an application-scoped bean to instantiate at application startup?

and even I try to add @Startup, it does not work.

[2019-11-27 12:31] qiuzhanghua commented on #5799
and I try
https://stackoverflow.com/questions/3600534/how-do-i-force-an-application-scoped-bean-to-instantiate-at-application-startup
It does not work.

[2019-11-27 12:38] fatih-erdem commented on #5798
@yuhaibohotmail Unfortunately, I could only see native image related Docker images in the link. I was looking for `alpine-jre` but for GraalVM.

[2019-11-27 12:54] fatih-erdem commented on #5798
And I think I should have created this issue in the GraalVM issue tracker, not the Quarkus. I am closing. the issue. Sorry for inconvenience.

[2019-11-27 12:54] #5798 closed

[2019-11-27 12:54] berkyvz opened #5800 "Cannot override OAuth URL at run time"
**Describe the bug**
We decide to use Quarkus in cloud native application as a company but it seems there is a bug. I can not change the properties of `quarkus.oauth2`
**Expected behavior**
The oauth properties should be change in runtime without using profile.
**Actual behavior**
Github Link : https://github.com/berkyvz/quarkus-issues/tree/master/quarkus-oauth2
I have a project with quarkus 1.0.0

[2019-11-27 12:57] tlvenn commented on #5732
Firefox 70.0.1 but that should not be the culprit, we have a java desktop app which uses websocket and when we migrated the server endpoint to quarkus, the connections were not stable with the same errors.

This is when I tried the example to see if I could reproduce it and I was able to without any issue but I did that in our existing project not from a scratch one.

So I will try again from scra

[2019-11-27 13:14] dmlloyd commented on #988
Yes, it should be.

[2019-11-27 13:16] #5698 closed

[2019-11-27 13:16] #5699 closed

[2019-11-27 13:21] kenfinnigan commented on #4611
All resolved now

[2019-11-27 13:21] #4611 closed

[2019-11-27 13:54] tobad357 opened #5804 "Instructions to test gradle plugin"
**Describe the bug**
There are no instructions on how to do local development of the gradle plugin
This would be to help with #5101

**Expected behavior**
Add a README in the devtools/gradle directory that explains how to run a local copy of the plugin

**Actual behavior**
No instructions are available

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help explain your

[2019-11-27 14:03] loicmathieu commented on #5800
@berkyvz is the issue only occurs on JVM mode or is it a native only issue ?

[2019-11-27 14:06] muratkarakas commented on #5800
It is a native only issue. It works in JVM mode and dev mode

[2019-11-27 14:11] kenfinnigan commented on #5030
Was raised by someone else: https://github.com/eclipse/microprofile-rest-client/issues/234

[2019-11-27 14:20] hguerrero commented on #3904
any updates of ETA on this?

[2019-11-27 14:30] sberyozkin commented on #5800
@loicmathieu Hi Loic, looks like it is still needed to make the configuartion runtime init.
I'm starting thinking now it can be faster to fix #4416

[2019-11-27 14:31] hantsy opened #5807 "[devtools] Add Gradle Kotlin DSL as another build tool option when generating a new Quarkus projects"
Add Gradle Kotlin DSL as another build tool option, or add a **using Kotlin DSL** checkbox when Gradle is selected.

[2019-11-27 14:34] berkyvz opened #5806 "RestClient with opentracing native build error(with gradle)"
**Describe the bug**
I add  `implementation 'io.quarkus:quarkus-smallrye-opentracing'` into `build.gradle`.
I have client class with name `UserServiceClient.java`.
When I remove the client class it successfully build.

You can examine the repository: https://github.com/berkyvz/quarkus-issues/tree/master/opentracing-quickstart

__UserServiceClient.java__
[code]

**Expected behavior**
`./gradlew cle

[2019-11-27 14:38] muratkarakas commented on #5800
@sberyozkin Hi,  as I understood there are two options for oauth2 client (elytron & oidc). Which one is recommended. If oidc is recommended and it does not have this issue, we can go with it.

[2019-11-27 14:42] sberyozkin commented on #4416
@loicmathieu Hi,
Well, the JWT dependency brings an option to expose the tokens as `JsonWebToken`, even if it is an opaque token, the introspection response provides enough info to emulate it as `JsonWebToken`. We may need to make sure that if someone excludes `smallrye-jwt` dependencies then it still work. But the consistent approach toward accessing these tokens is important. In fact, non-OIDC O

[2019-11-27 14:44] marcinczeczko commented on #5030
@kenfinnigan - it was me :)

@gsmet - about this injection point. At the moment there is no clean and elegant alternative to generate headers for annotated client interface. Other things like `@ClientHeaderParam` annotation requires either interface default method or static method, so again it's not possible to inject beans. So, implementation of the client for any API that requires e.g authentica

[2019-11-27 14:48] sberyozkin commented on #5800
@muratkarakas if you use a JWT OIDC token then `quarkus-oidc` will work OOB.
But if this token is coming from a non-certified OIDC provider then `quarkus-oidc` will likely not work just yet (well, we don't have a test - so I don't know if `quarkus-oidc` will use a custom `introspection-path` property instead of trying to use an OAuth2 discovery protocol, or how it will deal with the opaque tokens)

[2019-11-27 14:56] jaikiran commented on #5359
I've proposed https://github.com/quarkusio/quarkus/pull/5808 to see if we would like to go with the approach suggested in that PR.

[2019-11-27 15:08] tpenakov opened #5809 "Keycloak with Reactive Routes Error: Request has already been read"
I've tried to run a quarkus with keyckoak policy enforcer and reactive routes (no resteasy at all). It fails with the following error:
`ERROR: HTTP Request to /fhir/test failed, error id: f92ad12f-7a15-4fc4-b1cd-7d99ab09df0d-1
java.lang.IllegalStateException: Request has already been read`
`	at io.vertx.core.http.impl.HttpServerRequestImpl.checkEnded(HttpServerRequestImpl.java:600)`
`	at io.vertx.

[2019-11-27 15:09] gsmet commented on #5806
@machi1990 any chance you could have a look to that one? I think we should first try to see if we can reproduce the issue with Maven to check if it's a global issue or something specific to Gradle (as we have some class loader issues specific to Gradle, we need to be cautious).

[2019-11-27 15:10] gsmet commented on #5809
@tpenakov any chance you could put together a small reproducer?

[2019-11-27 15:12] gsmet commented on #5804
@gastaldi would you be able to add some documentation about it? I suppose you already have done that?

[2019-11-27 15:14] gastaldi commented on #5804
I'm working on a refactor of the Gradle plugin to match Gradle standards: https://github.com/quarkusio/quarkus/pull/5761

I'll add this README to my TODO list

[2019-11-27 15:14] loicmathieu commented on #4416
@sberyozkin if the elytron-security-oauth2 integration test can works with the quarkus-oidc extension so the elytron-security-oauth2 extension can be replaced by it! You can try it :) this will definitly prove that the extension can be replaced by the OIDC one.

Then we will need to rename it if it is a general purpose OAuth2 extension and not only OIDC/JWT. Still I think that we must provides an

[2019-11-27 15:15] gsmet commented on #5799
@mkouba @manovotn  could you please have a look? It looks more like a CDI usage question than a real Kotlin-related issue.

[2019-11-27 15:19] blxbrgld opened #5810 "ComputingCache is not serializable"
Hello,

we've implemented a custom **Undertow** session manager to distibute sessions but it is failing since the **HttpSessionContext listener** tries to set **ComputingCache** as an attribute but the latter is not serializable. The exception message is the following:

`Failed to set session attribute with name io.quarkus.undertow.runtime.HttpSessionContext.contextualInstances.: java.io.NotSerial

[2019-11-27 15:23] tpenakov commented on #5809
No problem - added in bug description.

[2019-11-27 15:30] otcyury opened #5811 "AWS Lambda handler unable to use JPA repository"
Hi, does Quarkus support JPA in its AWS Lambda handler class / method? I am getting below exception using CrudRepository.

I use repository inside of Lambda handler method and I guess, at this stage, the framework is not ready to go through the request. I followed the pattern of using repository inside Rest controller, where it worked without additional measures.

ERROR [io.qu.am.la.ru.AmazonLambd

[2019-11-27 15:32] muratkarakas commented on #5806
Hi, we have tested it with maven, it seems working with maven

[2019-11-27 15:38] gwenneg commented on #3904
@hguerrero For now, we're waiting for an upstream PR merge into `smallrye-config` (https://github.com/smallrye/smallrye-config/pull/174).

[2019-11-27 15:44] famartinrh commented on #5523
Same error here, I have been investigating this and I'm unable to determine what is going on, to me it looks like CDI works different in tests.
The log error looks like this
[code]

[code]

[code]

[2019-11-27 15:56] sberyozkin commented on #5809
CC @pedroigor @stianst

[2019-11-27 15:58] sberyozkin commented on #5809
@tpenakov Can you please confirm that disabling the policy enforcer 'fixes' it ?

[2019-11-27 16:16] sberyozkin commented on #4416
@loicmathieu there s no rush but sooner or later IMHO we'd need to do something about it. I'd not rename it though from `quarkus-oidc` to something else because OIDC can be considered an instance of Oauth2. So having 2 extensions doing similar things but one with one less dependency (smallrye-jwt) seems not right to me.

The JWT thing is not that big of a problem IMHO.
I mean, yes, there are some

[2019-11-27 16:17] rkudryashov opened #5812 "Can't register application in Consul"
**Describe the bug**
It isn't possible to register Quarkus application in [Consul](https://www.consul.io/) using some of the latest Quarkus versions that I've tested (including 999-SNAPSHOT, 1.0.0.Final, RCs). I haven't data about previous versions, though in the reproducer project below, that uses `0.15.0` Quarkus version, there is other error (probably it is not needed to investigate it). It see

[2019-11-27 16:18] tpenakov commented on #5809
Hi @sberyozkin ,
You mean this:
`quarkus.keycloak.policy-enforcer.enable=false`
Right?
Now I've got NPE:
`Nov 27, 2019 6:13:40 PM io.quarkus.vertx.http.runtime.QuarkusErrorHandler handle`
`ERROR: HTTP Request to /fhir/test failed, error id: d7186528-0b82-4a0f-91ae-fe2f731f2edd-1`
`java.lang.NullPointerException`
`	at io.quarkus.keycloak.pep.KeycloakPolicyEnforcerAuthorizer.apply(KeycloakPolicyEnfo

[2019-11-27 16:31] sberyozkin commented on #4416
@loicmathieu Hi Loic, by the way, I don't think the oauth2 extension will be deleted any time soon, might get deprecated, but I will hope `quarkus-oidc` will prove adequate for your requirements in time as well :-)

[2019-11-27 16:48] sberyozkin commented on #5809
@tpenakov well, at least we'll fix several issues around it :-), thanks

[2019-11-27 16:59] #5796 closed

[2019-11-27 17:39] gsmet commented on #5687
@aureamunoz so should I close this one? I see the PR has been merged.

[2019-11-27 17:40] alfredopalhares opened #5814 "Extra modules do not run on mvn package"
**Describe the bug**
The project does not start properly when using `mvn clean package` the finished jar file does not execute the modules.
When using `mvn compile quarkus:dev` the projects starts as it supposed to do.

**Expected behavior**
The project should be containerized, and be able to run in standalone java jar file.

**Actual behavior**
The project launches it it does not run code, when r

[2019-11-27 17:49] rquinio commented on #5668
The behavior is a bit tricky since there can also be producers with return type `Collection<MyBean>` both in Spring DI and CDI already.

From my quick tests, Spring prefers injecting first the collection of matching `MyBean` beans, unless there are none - due to `@Named`, `@Qualifier` etc. -, in which case it then considers injecting any `Collection<MyBean>` bean.

CDI (Weld) only considers the `C

[2019-11-27 17:52] dmlloyd commented on #3904
I think I'll work on getting this through today.

[2019-11-27 17:54] geoand commented on #5668
@rquinio the second solution is mostlikely the way to go

[2019-11-27 18:36] geoand opened #5816 "Take controller method into account for setting content-type in @RestControllerAdvice"
Currently the generated `javax.ws.rs.ext.ExceptionMapper` set `application/json` as the content type of the response when the handler method of the `@RestControllerAdvice` returns an object.

This is fine for most cases, but there can be a case where the controller method needs to return say XML (which is specified in the `@RequestMapping`) then the generated `ExceptionMapper` should not force JSO

[2019-11-27 19:09] geoand commented on #5816
@gytis mentioned he wants to take this one

[2019-11-27 20:07] gsmet commented on #3670
@lbernardomaia could you explain why you can't use the `%dev.` profile? It seems to fit your requirements?

Or do you want to be able to override things on a per user basis? Or you even want to have several local environments?

I think we really need to understand what you're trying to do before coming with a solution.

[2019-11-27 20:46] aureamunoz commented on #5687
Yes! @gsmet, you can close it. I has been already merged.
Thank you!!

[2019-11-27 20:51] gsmet commented on #5687
Thanks for the feedback.

[2019-11-27 20:51] #5687 closed

[2019-11-27 20:52] #5763 closed

[2019-11-27 20:53] gsmet commented on #5763
We will release 1.0.1.Final tomorrow to address this issue.

Thanks for taking the time to report it with a test case.

[2019-11-27 20:58] xorye opened #5817 "Internal server error when selecting certain extensions"
**Describe the bug**
I have discovered this error in two cases:
Case 1: Select Kotlin and Quarkus Extension for Spring Web API, then click "Generate your application"
Case 2: Select Scala and Quarkus Extension for Spring Web API, then click "Generate your application"

![image](https://user-images.githubusercontent.com/20326645/69758762-63dfca80-112e-11ea-8c6b-1b35fec6f275.png)

**Expected behavio

[2019-11-27 21:03] gsmet commented on #5817
This is due to the fact that we don't have the appropriate templates:
[code]

I think this should be fixed somehow.

[2019-11-27 21:10] mejlholm commented on #3670
I also think this would be useful. Typically we create a secrets.env file in each project with local setup. This file is used to create a Kubernetes secret when testing image locally. To re-use the secrets.env file we “source” the it before starting quarkus:dev. It would be nice to be able to refer to the secrets.env file instead of contaminating the shell with the contents of the file.

[2019-11-27 21:14] Sergey80 opened #5818 "with quarkus.http.root-path set to abc the swagger-ui is not available"
**Describe the bug**

with quarkus.http.root-path set to abc the swagger-ui is not available

**Expected behavior**
showing the sawgger-ui by http://localhost:8080/abc/swagger-ui

**Actual behavior**
failing with JavaScript asset not loaded exception in the browser.

**To Reproduce**
Steps to reproduce the behavior:
1. in application.propertes - set quarkus.http.root-path to abc
2. go by http://lo

[2019-11-27 22:11] stuartwdouglas commented on #5751
Not really, there might not even be an exception, that is more of a JAX-RS concept. At the web layer it just looks at if auth it required or not. attempts to authenticate and then decides what to send.

This is complicated by the fact that the response might be sent by either JAX-RS or the Vert.x layer, so it needs some thought.

[2019-11-27 22:28] irenakezic commented on #5254
After adding a few classes in the reflection list as suggested above the problem remains. It seems to me that this native method could be problematic java.security.AccessController.getStackAccessControlContext() as it seems that password is missing in context when running a native image. Any suggestions on how to debug this further?

[2019-11-27 23:41] nimo23 opened #5819 "Could not find any META-INF/persistence.xml file in the classpath"
**Describe the bug**

I added hibernate extension in quarkus and set up database/hibernate properties by `application.properties`. However, the following info is shown in the log when starting the application:

[code]

**Expected behavior**
As `persistence.xml` is optional, the info `Could not find any META-INF/persistence.xml file in the classpath` is irritating. Should the user include this file

[2019-11-27 23:54] lbernardomaia commented on #3670
The point made by @mejlholm it's also my point. If I have an application running in a container and the only thing that my application is aware of is environment variables, I need to get these in somehow. One way to do that and keep consistency is to use the application.properties to map properties to env variables as described previously.

When I run quarkus on Dev mode, I have to set those envir

[2019-11-28 02:47] qiuzhanghua commented on #5799
I also think it is a CDI usage question.
please see:
https://github.com/qiuzhanghua/code-with-quarkus/blob/master/src/main/kotlin/com/example/MyApplicationLifecycle.kt

I try to use another method, but I don't know how to do.

[2019-11-28 04:10] jaikiran commented on #5818
Hello @Sergey80, does http://localhost:8080/swagger-ui still work though?

[2019-11-28 04:38] stuartwdouglas commented on #5818
Does it make any difference if you set the path to "/abc/" ? I am guessing there is a missing / somewhere in our integration code.

[2019-11-28 04:46] Sergey80 commented on #5818
If quarkus.http.root-path is not set then by https://localhost:8080/swagger-ui works otherwise doesn't.
As soon as tgat path has set, things start breaks. This bug, and there are others related to it. Reported before.

[2019-11-28 05:12] jaikiran commented on #5818
Which version of Quarkus is this? I haven't been able to reproduce this in a quick test against upstream master.

[2019-11-28 07:17] mkouba opened #5821 "RuntimeClassLoader.findApplicationResource() does not handle the path name correctly"
This method is used in `getResource()` and `getResourceAsStream()` but it does not convert the path name in any way and so if you use the `/` separator in the path (as defined in those methods) it fails on windows machines because it simply walks the app directories and resolves the name against them (but system-dependent separator is used).

[2019-11-28 07:19] mkouba commented on #5821
@stuartwdouglas am I right?

[2019-11-28 07:28] mkouba commented on #5799
Hi @qiuzhanghua, in quarkus your app should observe a `StartupEvent` as described in the guide: https://quarkus.io/guides/lifecycle. The difference from `@Initialized(ApplicationScoped.class)` is also described there: https://quarkus.io/guides/lifecycle#what-is-the-difference-from-initializedapplicationscoped-class-and-destroyedapplicationscoped-class.

Anything `javax.ejb` would not work.

[2019-11-28 08:14] famartinrh commented on #5811
I had a similar error playing with panache too. @otcyury try put `@Transactional` in your class, it should fix it. However I'm not sure if that's a good solution or a workaround for a bug, @Sanne may be able to clarify that.

[2019-11-28 08:33] qiuzhanghua commented on #5799
But how can I use StartupEvent to get All Singlton/ApplicationScope beans such as Vertx, and force it initialized? could you have a sample? Thanks!

[2019-11-28 08:44] mkouba commented on #5799
There is no easy way to initialize all singleton/`@ApplicationScoped` beans and in fact, you should not do this because the bean may not be designed in this way. However, you can easily initialize a specific bean like this:

[code]

[2019-11-28 08:46] muratkarakas commented on #5800
@sberyozkin thanks for your response, we are using simple token with custom auth2server(springboot based). I have tested quarkus-oidc with it  but it did not work because of compatibility issues(realm url etc..). Currently we are using quarkus profile feature as a work around solution

quarkus.oauth2.introspection-url= http://localhost:8081/auth/oauth/introspect
%prod.quarkus.oauth2.introspection-

[2019-11-28 08:56] geoand opened #5823 "Property handle pagination in Spring Data JPA custom queries"
Currently pagination does not work for Spring Data JPA methods that use a custom `@Query`.
Basically an incorrect count query is generated.
The count query should be generated using the `countQuery` method of the `@Query` annotation.
This will most likely require a small change in `PanacheQueryImpl` to accept the count query (or create a subclass in the spring-data-jpa module to that will override

[2019-11-28 09:03] Sanne commented on #5811
Right, adding `@Transactional` explicitly is a reasonable solution.

For Panache usage in a webcontext the decision was to automatically assume a transactional context, should an ORM operation be triggered withing an http request.

One could argue that we should be consistent and do the same with an AWS lambda, but to be honest I don't know enough about these and I'm not sure if it's _definitely_

[2019-11-28 09:06] irenakezic commented on #5254
My last comment was not clear enough so I would like to add the following:
1. I reproduce the issue when running a native image in a container or on my localhost so it does not seem to be docker image related.
2. I used GraalVM 19.2.1
3. This is the error I get after updating the reflections with the classes above:

[2019-11-28 09:15] manovotn commented on #5799
By design, bean initialization is lazy. In order to enforce creation, you would need to invoke any method defined on the bean (and not just the proxy). That means any bussiness logic or `toString()` like Martin says because those are always delegated to contextual instance (that's defined by CDI spec).
Otherwise, if you do have control over those beans, you can also add a noop observer for the afo

[2019-11-28 09:16] Sanne commented on #5756
Thanks @cristhiank !

@DavideD could you include this model in your new enhancement integration tests?

[2019-11-28 09:19] stuartwdouglas commented on #5821
yes, but all this is going away soon, so I don't know if it is worth spending time on it at this stage.

[2019-11-28 09:21] Sanne commented on #5756
ah sorry, my browser didn't show the previous comments until I commented. weird.

@dreab8 could you expand on what do you mean and what's the plan?

Even if it's an issue with byte buddy we need to solve it; are you still investigating?

I'm assuming it's best if you keep focusing on ORM6, feel free to create an HHH issue, document what you already discovered on it, and then ask @DavideD to help w

[2019-11-28 09:21] mkouba commented on #5821
We can keep this issue open and verify/close it once the new CL model is in place...

[2019-11-28 09:23] mkouba commented on #5821
Hm, on the other hand, it blocks my PR: https://github.com/quarkusio/quarkus/pull/5793. So if there is a quick fix I'd vote to fix it now.

[2019-11-28 09:30] machi1990 commented on #5806
@gsmet @muratkarakas @berkyvz  Indeed, with maven it works.

Here is what I observed with gradle:

When I added the `traceresolver` dependency i.e
[code]
in the `build.gradle` file, I was able to build the native executable i.e with `./gradlew buildNative -x test` command.

**build output:**
[code]

**running the executable:**
[code]

What I am unable to understand though is why the JVM mode works

[2019-11-28 09:30] geoand commented on #5823
@aureamunoz mentioned that she wants to take this issue

[2019-11-28 09:35] geoand commented on #5806
This is probably a stupid question, but where does `quarkus-smallrye-opentracing` come from? Isn't `quarkus-jaeger` the supported tracing dependency?

[2019-11-28 09:36] DavideD commented on #5756
I will have a look

[2019-11-28 09:38] jtama-op opened #5824 "Use of quarkus-agroal with GCP CloudSql"
**Description**
As of now using quarkus-agroal to connect with GCP is possible but nor documented or trivial.

**Implementation ideas**
First option is to add com.google.cloud.sql:postgres-socket-factory or com.google.cloud.sql:mysql-socket-factory to the application dependencies and configuring datasource as follow :
[code]

Second option would be to add a dedicated options such as use-cloud-sql

[2019-11-28 09:45] FroMage commented on #5811
I don't recall any such discussion, and I'm pretty sure we do not automatically add transactions when Panache is used. I'm sure it's exactly the same constraints/requirements than plain Hibernate ORM.

AFAIR, we allow transaction-less reads, and then ORM has throwing methods in its `EntityManager` facade that check for any modification-API and throws if there's no transaction.

Note that this erro

[2019-11-28 09:47] FroMage commented on #2751
You should get an error, because they have different drivers.

[2019-11-28 09:47] geoand commented on #5812
Hi,

I might have mised it, but was this working for Quarksu version?

[2019-11-28 09:51] dreab8 commented on #5756
@Sanne @DavideD here you can find a reproducer for hibernate https://github.com/dreab8/hibernate-orm/tree/quarkus_5756

[2019-11-28 09:52] gsmet commented on #5818
I know we fixed some issues in this area recently.

[2019-11-28 09:52] gsmet commented on #5819
You don't need to include it. I agree we should probably get rid of it somehow.

[2019-11-28 09:56] gsmet commented on #5824
@jtama-op would you be up for it?

It would be nice to have a guide similar to https://quarkus.io/guides/deploying-to-azure-cloud with all the possible GCP-related issues.

The sources are there: https://github.com/quarkusio/quarkus/tree/master/docs/src/main/asciidoc .

It doesn't need to be a big one, we can start to collect the solutions for the issues you solved.

[2019-11-28 10:00] gsmet commented on #5814
Does it work if you try to execute the produced jar directly i.e. outside of Docker?

[2019-11-28 10:17] qiuzhanghua commented on #5799
It works now. Thanks @manovotn. Please see https://github.com/qiuzhanghua/code-with-quarkus/blob/master/src/main/kotlin/com/example/Server.kt and https://github.com/qiuzhanghua/code-with-quarkus/blob/master/src/main/kotlin/com/example/MyApplicationLifecycle.kt .

But I don't know why kotlin init run two times.

[2019-11-28 10:23] qiuzhanghua commented on #5799
And when I build as native, kotlin init run **one** time.

Thanks anyway! @manovotn

[2019-11-28 10:23] #5799 closed

[2019-11-28 10:24] manovotn commented on #5799
What do you mean by that? Does the observer get notified twice?

[2019-11-28 10:28] norrman opened #5825 "Support Bean Discovery Exclusion"
When porting existing CDI applications to Quarkus, it would be good to have an exclusion mechanism that can prevent problematic Beans to be discovered. The exclusion mechanism could be the same as the one defined in the CDI 2.0 spec (chapter 12.4.2), or of similar functionality.

[2019-11-28 10:33] geoand commented on #5825
cc @mkouba @manovotn

[2019-11-28 10:36] mkouba commented on #5799
If I understand it correctly the kotlin init is called after the constructor. And because `Server` is `@ApplicationScoped` the constructor is invoked twice - once for client proxy and once for bean instance. This is expected behavior.

That's weird though.

[2019-11-28 10:40] sberyozkin opened #5826 "Make sure the causes of the security exceptions are included"
**Description**
Right now `ForbiddedException` and other exception classes do not accept the cause parameters.

**Implementation ideas**
See https://github.com/quarkusio/quarkus-security/issues/3 and https://github.com/quarkusio/quarkus-security/pull/4

[2019-11-28 10:47] manovotn commented on #5799
Ah you meant Kotlin init block (had to Google that since I don't use Kotlin usually).
It's really weird that it gets invoked differently in dev mode and in native though...

[2019-11-28 11:11] emmanuelbernard commented on #5712
We can do all that but the feedback we got from people exploring Quarkus was specifically to show the equivalent tech in the Quarkus ecosystem.
For example, to do metrics or health you do it this way in Spring and that way in Quarkus.
Some are fine to move as long as they are shown a path.

It's sort of a whitepaper to show the similarity and coverage we have technology wise.

Let's open a separat

[2019-11-28 11:14] geoand commented on #5712
I like the whitepaper style idea and I think it ties in nicely with what @jclingan already has

[2019-11-28 11:37] sberyozkin opened #5827 "Verify OIDC can work with IDPs which do not have a discovery endpoint"
**Description**
Right now OIDC adapter depends on the [OAuth2 discovery](https://tools.ietf.org/html/draft-ietf-oauth-discovery-10) to find out about all the endpoints OIDC adapters like Keycloak provide.

In cases when it is not possible, `introspection-path` and `jwks-path` properties are available.

But we don't know if it actually works.

**Implementation ideas**
Provide a test similar to the

[2019-11-28 11:42] sberyozkin opened #5828 "Verify OIDC 'public-key' property can be used"
**Description**
OIDC 'public-key' property is available for some simple cases. (Ideally the adapter would refresh the JWK sets). We don't have a test confirming this property is effective. If it is set then IDP should likely not be expected to be available at the time the endpoint starts.

**Implementation ideas**
Write a test, possibly avoid launching IDP.

[2019-11-28 11:42] tobad357 commented on #5804
@gastaldi when you are doing the refactor are you looking at adding [Gradle Up To Date](https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:up_to_date_checks) checks?

[2019-11-28 11:45] gastaldi commented on #5804
@tobad357 I always thought that the plugin already did that, need the check that. Have you already identified any changes that might help?

[2019-11-28 11:50] tobad357 commented on #5804
@gastaldi For me quarkusbuild I get this running with --info
[code]

[code]

And looking at the code no Outputs are registered

[2019-11-28 11:54] DavideD commented on #5756
As a workaround, if you add the `@Embedded` annotation to the getter/setter instead, it won't throw the exception.  Would this be an acceptable workaround? (I'm still not super familiar with this part of the code)

[2019-11-28 11:57] piotrgwiazda opened #5829 "Quarkus OIDC does not work with Auth0"
**Describe the bug**
Given the configuration :
[code]
On start-up Quarkus tries to access URL : `https://myauthtenant.eu.auth0.com//.well-known/openid-configuration` (see double //) which causes an exception
[code]
Alternatively, when removing trailing slash:
[code]
an error is thrown
[code]
as the issuer field in the OIDC JSON has the trailing slash
[code]

I've tried adding

[code]
with no effec

[2019-11-28 12:11] gsmet commented on #5829
/cc @sberyozkin @pedroigor

[2019-11-28 12:19] alfredopalhares commented on #5814
Hello @gsmet

No, the result is exactly the same :(

[2019-11-28 12:20] gsmet commented on #5812
@dmlloyd this looks like an issue with how we deal with profiles. Not sure if we have an easy solution though.

[2019-11-28 12:30] dreab8 commented on #5756
even declaring the field protected instead of private should work

[2019-11-28 12:39] pedroigor commented on #5829
Thanks, @gsmet. I was just about to comment :)

@sberyozkin It seems the suggestion from @piotrgwiazda makes sense.

However, I'm wondering if we should also have a `quarkus.oidc.issuer` property to specify the issuer. The reason being that there is no implicit relation between the root URL we use to fetch the discovery document and the issuer. It should work for most implementations (what may be

[2019-11-28 12:41] maxandersen opened #5832 "changed application.properties not taken into account starting devmode"
`mvn quarkus:devmode` picks up .java changes but does not pick up changes to `application.properties` for that I need to explicitly do `mvn compile quarkus:devmode`.

I would expect it to be picked up if .java changes are OR that all "compilable" source changes will be ignored by `quarkus:devmode`

[2019-11-28 12:42] pedroigor commented on #5829
@sberyozkin Sorry if I'm going to mix topics here ... But I'm also wondering whether or not we are verifying the issuer when validating tokens. I think the question applies to the token's `audience`.

[2019-11-28 12:46] gsmet commented on #5763
1.0.1.Final has been released. Thanks again for reaching out and providing the reproducer.

[2019-11-28 12:47] maxandersen opened #5833 "add-extension should allow extension to check if other extensions/configuration are needed"
**Description**
when adding hibernate panache extension you still need to add a driver extension/dependency; set application.properties and recommended to add connection pool.

Would be great if an extension could do some checks at install time (and explicitly, ie. `mvn quarkus:lint`) and print out/suggest actions to take to work out of the box.

As opposed to what happens now is that you as new u

[2019-11-28 12:49] sberyozkin commented on #5829
@pedroigor sure, I'll make sure we have an issue to get the issuer/audience/etc validated, VertxOAuth2 seems to validate the expiry, but not sure about the rest

[2019-11-28 12:51] sberyozkin commented on #5829
@pedroigor I've just read the description again and the `issuer` is definitely validated.

[2019-11-28 12:51] pedroigor commented on #5829
@sberyozkin for bearer tokens too ?

[2019-11-28 12:52] sberyozkin commented on #5829
@pedroigor don't know :-). yeah, I'll get an issue opened to confirm

[2019-11-28 13:06] sberyozkin commented on #5829
@piotrgwiazda The problem is at the VertxOauth2 level and to fix it at the Quarkus level we'll need to disable the issuer validation done at the VertxOauth2 level because it compares it directly against the issuer endpoint address and introduce our own `issuer` property (which if set will indirectly disable the Vertx validation), and while a fix at the VertxOauth2 level would be good anyway (I'll

[2019-11-28 13:09] sberyozkin commented on #4429
The discovery protocol is supported

[2019-11-28 13:09] #4429 closed

[2019-11-28 13:10] Xendar commented on #5763
Thanks Guillaume for your reactivity and the provided fix (validated from my end too)!
You're welcome (for the reproducer) :)

[2019-11-28 13:10] jaikiran commented on #5832
Hello Max,

I just gave this a try against upstream master and it works fine. I did `mvn quarkus:dev` and once it was up, I accessed a resource. Then I edited application.properties to update certain detail and then accessed the resource again. I could see the changed being picked up:

[code]
Which version of Quarkus is this and which OS?

[2019-11-28 13:25] jtama-op commented on #5824
Ok. Should I create a dedicated branch With documentation only ? Or do I add it to my master where there is also my code to modify the extension?

[2019-11-28 13:27] jaikiran commented on #5821
@mkouba I created https://github.com/quarkusio/quarkus/pull/5835. Would you be able to cherry-pick that one into your Qute extension PR and see if it helps?

[2019-11-28 13:39] mkouba commented on #5821
@jaikiran Of course! Let's see how it goes and if the CI is green we can close https://github.com/quarkusio/quarkus/pull/5835 and merge it as part of the https://github.com/quarkusio/quarkus/pull/5793. Thanks!

[2019-11-28 13:52] patriot1burke commented on #5811
I don't like the idea of lambdas getting things the user might not want.

[2019-11-28 13:57] geoand commented on #5832
@maxandersen if the changes were made to `application.properties` **before** you launched devmode they won't be picked up. That's to be expected

[2019-11-28 14:05] Sanne commented on #5811
Such as? Could you elaborate a bit?

On Thu, 28 Nov 2019, 13:52 Bill Burke, <notifications@github.com> wrote:

[2019-11-28 14:22] emmanuelbernard opened #5837 "Support GraalVM 19.3 (no JDK 11)"

[2019-11-28 14:22] Sergey80 commented on #5818
1.0.0.CR1. i see there a new version. let me try.

[2019-11-28 14:24] emmanuelbernard opened #5838 "Support GraalVM 19.3 for JDK 11 on native image"

[2019-11-28 14:25] Sergey80 commented on #5818
same with <quarkus.version>1.0.0.Final</quarkus.version>

[2019-11-28 15:10] emmanuelbernard opened #5843 "Offer type safe query validation in Quarkus"
Gavin worked on the type safe query validation of Hibernate queries. It's an annotation processor today. We want to integrate that work 1. to Panache 2. explore extension level integration

Action list

- [ ] Have a sync up conversation with the relevant persons
- [ ] Do step 1 and offer annotation processor integration documentation to get it in a Quarkus project
- [ ] Do step 2 of integrating wi

[2019-11-28 15:11] #5637 closed

[2019-11-28 15:24] jaikiran commented on #5818
Hello @Sergey80, I just tested with `1.0.0.Final` and it indeed seems to be working oddly there.

I won't be able to look more into it now, but instead of http://localhost:8080/abc/swagger-ui  can you try http://localhost:8080/abc/swagger-ui/ (notice the / at the end of the URL)? That worked for me on 1.0.0.Final.

[2019-11-28 16:19] vc-void commented on #5584
This is also happening with the "\" character.

[2019-11-28 16:22] machi1990 commented on #5837
Hi @emmanuelbernard, @gwenneg has been working on this issue https://github.com/quarkusio/quarkus/issues/4218 and he has an ongoing work on this PR https://github.com/quarkusio/quarkus/pull/5358 to support JDK8.

[2019-11-28 16:46] gwenneg commented on #5837
Thanks @machi1990!

Here's the current state of the GraalVM 19.3 support with JDK 8: I'm currently trying to work around a GraalVM bug (https://github.com/oracle/graal/issues/1883) that was reported and fixed this week. The fix will be part of GraalVM 19.3.1 which will be released in January. My idea is to include the fix into GraalVM 19.3.0 by substituting the faulty GraalVM code itself. If it wo

[2019-11-28 16:51] emmanuelbernard commented on #5837
So let me close this one and reference #4218 in the Roadmap project.
Sorry about the duplication

[2019-11-28 16:51] #5837 closed

[2019-11-28 17:12] gsmet commented on #5824
Maybe create a PR with all you have and we can discuss from there what is better?

[2019-11-28 17:55] Sergey80 commented on #5818
http://localhost:8080/swagger-ui - 404

[2019-11-28 17:56] Sergey80 commented on #5818
yes http://localhost:8080/abc/swagger-ui/ with that extra / works for me. thanks.

[2019-11-28 18:00] #4608 closed

[2019-11-28 18:13] piotrgwiazda commented on #5829
Now I think that the issuer in the JWT tokens will be there with a trailing slash as well. Validating bearer tokens and a web app might be worth checking as well.

[2019-11-28 18:22] gsmet commented on #5818
I think it would probably be better to fix it as I remember we support that for some other feature. So if we can make it work, let's make it work.

[2019-11-28 18:42] misl opened #5848 "JVM based containers lack SSL support"
**Describe the bug**
Using Vert.X based Web Clients HTTPS requests results in `NoClassDefFoundError` errors. See log below. Seems like the image is missing some required dependencies.

**Expected behavior**
Using `mvn quarkus:dev` works just fine.

**To Reproduce**
1. Build [Vert.X quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/vertx-quickstart)
2. Create Docker image
[co

[2019-11-28 18:48] nimo23 commented on #5819
A solution could be to remap log level from INFO to DEBUG.

[2019-11-28 20:16] Sergey80 commented on #5818
at least this https://github.com/quarkusio/quarkus/issues/5494 should be fixed.

[2019-11-28 20:34] Sergey80 opened #5849 "With quarkus.jaeger.reporter-log-spans=true expecting to see the logs with the spans."
**Describe the bug**
With **quarkus.jaeger.reporter-log-spans=true** I expect seeing the logs with the spans.

I do see it when I run **integration test** (@QuarkusTest), but not when I run the application itself.
and I see that for the test the **quarkus.jaeger.reporter-log-spans** the true - turns it on the false turns them / logs / spans off.

**Expected behavior**
With **quarkus.jaeger.reporte

[2019-11-28 20:53] Sergey80 commented on #5849
not the issue.

[2019-11-28 20:53] #5849 closed

[2019-11-28 20:53] Sergey80 commented on #5849
but still curious to know about this:

additionally: is there a way to add span by LOG.info(...) ?
I do not see any even when I run it from the tests.
I use org.slf4j.LoggerFactory;

[2019-11-28 21:11] Sergey80 commented on #5849
I would expect ContainerRequestContext to have them/spans inside.

[code]

But do not see any while debug.

[2019-11-28 21:43] stuartwdouglas commented on #5832
I think this is the culprit: https://github.com/quarkusio/quarkus/blob/af7c75aa52905507ba327a35fcac7cdedf322f1d/devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java#L229

Basically this checks if the initial compile was done by checking for the existance of the 'target/classes' dir and if not compiles.

This is super inconsistent, because it means that if you don't compile an empty project i

[2019-11-28 22:24] dufoli commented on #5626
just my 2 cents, git submodules is very painfull. I have used it on banshee long time ago.

[2019-11-29 00:14] qiuzhanghua commented on #5799
Yes , that's weird.
I recheck it on another computer,  "in static init" appears twice if I use *-runner.jar, "in static init" appears only once if I run native code.

Thanks anyway! @manovotn @mkouba

[2019-11-29 01:02] gastaldi opened #5855 "Warnings displayed in logs when quarkus.live-reload.url and quarkus.live-reload.password are set"
**Describe the bug**
While running the integration tests inside `integration-tests/maven`, the following warnings are displayed in the log:

[code]

**Expected behavior**
According to @stuartwdouglas:

**Actual behavior**
The warning is displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Run `mvn verify -Dnative` inside `integration-tests/maven` and you should see the warning

**Possib

[2019-11-29 01:24] gastaldi commented on #5832
Like @jaikiran in https://github.com/quarkusio/quarkus/issues/5832#issuecomment-559488994,  tried to reproduce the error Max described but failed. It works without @stuartwdouglas' patch

[2019-11-29 04:56] jaikiran commented on #5848
Is that the complete stacktrace? If not, can you please post the complete one?

[2019-11-29 06:02] tunovic commented on #4573
If `quarkus.smallrye-jwt.auth-mechanism` property isn't used anymore (https://quarkus.io/guides/security-jwt#configuration-reference), should it be removed from https://quarkus.io/guides/security-jwt guide?

[2019-11-29 07:27] mihapolak opened #5859 "Lambda native does not work if it has dependency on quarkus-resteasy"
**Describe the bug**
Following [lambda guide](https://quarkus.io/guides/amazon-lambda) works perfectly in native mode. But when adding dependency on io.quarkus:quarkus-resteasy it fails with
`java.lang.IllegalStateException: Failed to create cache dir
 at io.vertx.core.file.impl.FileResolver.setupCacheDir(FileResolver.java:332)
 at io.vertx.core.file.impl.FileResolver.<init>(FileResolver.java:87)

[2019-11-29 08:11] #5647 closed

[2019-11-29 08:12] cescoffier commented on #3112
still alive, we need a connector for JMS.

Fortunately... here is one: https://github.com/smallrye/smallrye-reactive-messaging/pull/320

[2019-11-29 08:36] cg-d opened #5860 "Cannot deserialize LocalDate in @QueryParam due to missing ParamConverterProvider"
**Describe the bug**
I'm using Jackson (via quarkus-resteasy-jackson) as `ObjectMapper` with the `KotlinModule` and the `JavaTimeModule` registered using an `ObjectMapperCustomizer`. When I have an endpoint with a `@QueryParam` of type `LocalDate` quarkus does not start.

**Expected behavior**
I expect resteasy to use the provided `ObjectMapper` to deserialize a String formated "YYYY-MM-DD" into a

[2019-11-29 08:58] debae commented on #5794
Pull request created : https://github.com/quarkusio/quarkus/pull/5861

[2019-11-29 09:23] emmanuelbernard opened #5862 "Make sure project creation enable method parameter names in the compilation"
Lots extensions will rely on that. Better put the better solution as default.

[2019-11-29 09:38] #5818 closed

[2019-11-29 09:43] FroMage commented on #5843
So, after thinking about it, I wonder if we need to do anything about it at (Quarkus) build-time, because we still rely on `javac` compiling our classes in every mode: jvm, dev, test, native. So APT has a chance to run in every case, and I'm not sure what it buys us to avoid it running to make it run later in our build phase.

[2019-11-29 09:51] angelozerr opened #5864 "Restart Quarkus application after port change from application.properties"
**Description**

I start my Quarkus application, the application runs in `8080` port (default port). I update the `application.properties` with `quarkus.http.port=9090`, it should be helpful that Quarkus application restart with the configured port. Today I need to stop the application and restart it manually.

**Implementation ideas**

quarkus-dev tracks class changed, why it could not track appl

[2019-11-29 10:05] nimo23 opened #5865 "quarkus: corrupts h2 database"
**Describe the bug**
I use h2 database provider:
[code]

I get the following error:

[code]

Even when using `drop-and-create`, quarkus throws this error. Connecting to my database with _h2 admin console_ also fails, it shows the following error (which differs from the stacktrace above):

`General error: "java.lang.IllegalStateException: Unable to read the page at position 5283703127288069 [1.4.20

[2019-11-29 10:12] emmanuelbernard commented on #5843
It really about the build and IDE setup friction. It would be optional to
have the AP. Just easier. Also as we have seen for kotlin, the fact that we
run our custom compilation phase in dev mode tends to lead to some options
not being applied on recompilation. So we need to check that this actually
works (AP feedback and dev mode).

On Fri 29 Nov 2019 at 10:43, Stéphane Épardaud <notifications@git

[2019-11-29 10:19] FroMage commented on #4404
OK I have made progress with testing this and I can say that the client does have a context, and it's properly clear of the server context at this point, which is good news because that's what it should do, but it's bad news for you because at the point where you collect the server's request headers it's already too late: they're gone.

IMO the fact that this works in the non-async version is a bu

[2019-11-29 10:29] FroMage commented on #4404
I think there's a complex problem between "we want to propagate contexts to the client's async callbacks" and "we should not confuse the server and client contexts".

We can explain the problem here:

[code]

I guess for the user it's pretty intuitive that the server context applies here, because for non-jax-rs (CDI, transaction etc) it's obvious and the same context anyway, and for jax-rs the onl

[2019-11-29 10:46] sberyozkin opened #5867 "OIDC adapter core improvements"
### Description
OIDC adapter core improvements to do with the in demand multi-tenancy feature, production ready logout support and loading JWK sets on demand to support the rotation have to be done.

### Analysis
A complete [list of the OIDC issues](https://github.com/quarkusio/quarkus/issues?q=is%3Aissue+is%3Aopen+label%3Aarea/oidc).

### Tasks
- [x] Multi-tenancy support (#4448)
- [x] Enhanced l

[2019-11-29 10:54] clementlesne commented on #5330
Maybe it's related to this issue https://github.com/quarkusio/quarkus/issues/3273. Same subject, I hope this will be solved soon.

[2019-11-29 10:55] misl commented on #5848
Complete stacktrace:
[code]

[2019-11-29 11:03] misl commented on #5848
Using the native image  has SSL related issues as well, but a different stack trace. Should I create a separate issue for that or post it here?

[2019-11-29 11:03] loicmathieu commented on #3482
@emmanuelbernard WDYT ?

[2019-11-29 11:11] emmanuelbernard commented on #3482
Yep that’s good. I think we might want something better than this hidden hint approach for query caching at some point but we can let that come.

[2019-11-29 11:14] geoand commented on #5859
cc @evanchooly

[2019-11-29 11:18] sberyozkin opened #5868 "quarkus-keycloak-authorization does not work with Keycloak 8"
**Describe the bug**
This error is reported:
[code]
Please follow #5822 for more information.

[2019-11-29 11:25] geoand commented on #5860
Thanks for the issue!

This is actually very interesting! We can and should register the module with Jackson when it's present on the user's classpath.

@gsmet @loicmathieu do you agree?

[2019-11-29 11:28] geoand commented on #5848
@cescoffier @gsmet does this ring a bell?

[2019-11-29 11:39] Kin-Z opened #5869 "additional system properties are not passed as arguments to native execution during maven verify"
**Describe the bug**
Additional system properties, which are configured inside the `<systemProperties>` attribute in the maven-failsafe-plugin part, are not passed as arguments to native execution during maven verify.
For example:

`...
<configuration>
  <systemProperties>
    <native.image.path>${project.build.directory}/${project.build.finalName}-runner</native.image.path>
    <quarkus.http.test

[2019-11-29 11:44] nimo23 opened #5870 "quarkus and classpath hell"
**Describe the bug**
Compiling the app shows the following warning:

[code]
Is this a kind of classpath-hell? I did not include these libs by myself..maybe some other 3rd party libs inlcude it? Must I really look for all my 3rd party dependencies which one integrates which conflicting lib to exclude them manually in my pom.xml?

**Expected behavior**
quarkust should not include them in the lib whi

[2019-11-29 11:48] #5653 closed

[2019-11-29 11:55] jaikiran commented on #5848
Hello @misl, the reason I asked for the stacktrace is because I haven't been able to reproduce this with the same quickstart. Given that this all runs in a container, it's odd that you are seeing this exception.

Which Java vendor and version did you use while building the application jar itself (through `mvn package`)? Are you sure it was Java 8 (the container uses Java 8 runtime)?

[2019-11-29 12:05] jaikiran commented on #5864
Unless I'm mistaken, I thought this was working as late as a few weeks back. Do you see any errors when you change the port and access some application resource?

[2019-11-29 12:08] emmanuelbernard commented on #5862
Verified.

[2019-11-29 12:08] #5862 closed

[2019-11-29 12:11] nimo23 opened #5871 "quarkus-extensions should include its jandex index"
**Describe the bug**
I start a quarkus-app with quarkus-extensions. It compiles and works, but I get this warning message:
[code]
As you can see, I guess, the listed classes came all from _quarkus-extensions_ or any 3rd party lib defined in `pom.xml`. Actually, 3rd party libs must be registered manually by `application.properties`, e.g.:

[code]

I must do this for each included library, because c

[2019-11-29 12:21] Kin-Z opened #5872 "configuration possibility for https only or https redirection"
**Description**
It would be nice if there would be a possibility to configure whether http is activated or not.
Basically I would like to configure my REST resources such that they are only available over https/ssl.
Maybe a redirection from http to https could be implemented.

**Implementation ideas**
Additional configuration properties could be implemented such as:
quarkus.http.ssl-only (boolean,

[2019-11-29 12:33] dmlloyd commented on #5870
We should automatically map these dependencies, instead of warning about them, IMO.

[2019-11-29 12:37] jaikiran commented on #5864
Looking at the code, it appears that we bind to the changed port, only if the dev mode start had failed (for whatever reason) and the application.properties is changed to use a different port. If the startup was successful and then the application.properties is changed to use a different port, then the new port isn't used.

This doesn't look like an intentional decision, but I don't have full know

[2019-11-29 12:52] dmlloyd commented on #5812
The `ConsulConfigSource` is definitely not correctly URL-encoding its parameters, which is dangerous as well as being incorrect.  I don't think that code exists in any of our code bases though, does it?

[2019-11-29 12:54] sberyozkin opened #5874 "OIDC adapter stabilization"
### Description
Users are actively experimenting with the OIDC adapter and have reported a number of bugs.

### Analysis
A complete [list of the OIDC issues](https://github.com/quarkusio/quarkus/issues?q=is%3Aissue+is%3Aopen+label%3Aarea/oidc).

### Tasks
- [x] OIDC `web-app` applications do not work with IdentityServer 4 (#6087, depends on #6526)
- [x] OIDC `web-app` applications do not work with

[2019-11-29 13:00] cescoffier commented on #5848
I'm going to try later today... Why I have the feeling it's because of certs location.

[2019-11-29 13:03] dmlloyd commented on #3670
You should already be able to supply an env var named `REDAPPLE_ENDPOINT` (mapping to uppercase and replacing `.` with `_`) and thereby override this value without having to specify it in the configuration file at all.  In 1.0 there are some restrictions to when this can happen, but in the upcoming 1.1 it should already work very uniformly.

FWIW any `application.properties` file found on the file

[2019-11-29 13:04] nimo23 opened #5875 "remap "private" members to "package-private" under the hood"
**Describe the bug**
I start the quarkus-app and following message is shown:

[code]

**Expected behavior**
quarkus should remap such `private`-members to `package-private`-members by itself (on compile) under the hood instead of forcing the user to change its code.  I guess, such `package-private`-members are only needed for _native_ compilation.

**Actual behavior**
users must change its code to

[2019-11-29 13:07] dmlloyd commented on #3670
I really feel that secrets should not directly be part of the configuration.  All it takes is one helpful tool to log all of the configuration and your private keys are on the console.

We need a separate indirection mechanism for this, i.e. a broad, formal vault/credential store mechanism.

[2019-11-29 13:16] nimo23 opened #5876 "provide qualified entityManager"
**Description**
In quarkus, we can (must) use

[code]

instead of

[code]

`@Inject EntityManager em` works, but it shows the warning:

`No bean is eligible for injection to the injection point [JSR-365 §5.2.2]`

because it is not qualified.

**Implementation ideas**
Would be nice if quarkus provides a qualified injection point of an `entityManager`. For example:

[code]

[2019-11-29 13:22] Kin-Z opened #5877 "Configure Rest Assured for https"
**Description**
It would be nice if could easily configure Rest Assured such that it uses https/ssl only.

**Implementation ideas**
Maybe an additional configuration property could be added.

[2019-11-29 13:46] pedroigor commented on #5809
@sberyozkin @tpenakov The NPE should not happen anymore in latest releases due to this fix https://github.com/quarkusio/quarkus/pull/5456.

Not sure about the route though, need to investigate.

[2019-11-29 13:49] pedroigor commented on #5277
The configuration property makes sense. I'm wondering now if that idea we discussed about having "profiles" for the different implementations make sense. Something like a `quarkus.oidc.provider=keycloak|okta|auth0` to dictate the defaults for each one.

[2019-11-29 13:54] FroMage commented on #4404
BTW, I wonder if it's not generally a super bad idea to enable header propagation by default, unless they're filtered to a minimum. Isn't that a security risk?

[2019-11-29 14:15] pilhuhn opened #5878 "Test instantiation exception with multicatch"
**Describe the bug**

I have code that uses a multi-catch , which works nicely with `mvn compile quarkus:dev`, but fails when stating Quarkus as part of a test with `@Quarkustest`

The server shows

[code]

Source is like (full code is at https://github.com/pilhuhn/custom-policies-engine/blob/test-sys-profile/src/main/java/com/redhat/cloud/custompolicies/engine/RestApi.java#L93 )

[code]

When I r

[2019-11-29 14:40] cescoffier commented on #5848
I was unable to reproduce it in JVM mode (JVM in docker with the given docker file).

I had issues in native (in Docker again):

[code]

The work-around is to use a multi-stage docker file as follows:

[code]

Basically, it copies the trust store and suncec from another similar linux image.
For now, the sunec must be in the application directory, it should not be the case, I'm investigating this p

[2019-11-29 14:49] nils-christian opened #5879 "Maven multi module project with Quarkus in dev mode not working as expected"
Hi,

I am new to Quarkus and try to use it in a Maven multi module project. My project is structured as followed:
[code]

The application module executes the quarkus-maven-plugin with build-goal. The quarkustest-backend-rest-api contains a simple REST controller and thus also a beans.xml in /src/main/resources/META-INF. The rest-api-module is references by the application module.

If I package the

[2019-11-29 14:49] misl commented on #5848
Ah, I compiling with Java 11 with source and target 8. I will retry with Java 8.

I agree multi stage will be better. As like this building can be done completely isolated from the host environment.

[2019-11-29 15:01] misl commented on #5848
Tried with Java 8, but same result:
[code]

[2019-11-29 15:04] cescoffier opened #5880 "java.library.path is computed at build time"
**Describe the bug**

So this is something that has changed "recently".
If you refer to https://quarkus.io/guides/native-and-ssl, we recommend to use:

[code]

So basically, we configure the `java.library.path` are runtime, pointing to the right directory (in my case the directory containing the sunec file)

Except that this does not work anymore. For example, if my application prints the value of

[2019-11-29 16:00] pavolloffay commented on #5471
Are we talking here about microprofile reactive messaging for kafka?

If so I dig into it some time ago. As far as I remember there was a problem with context propagation (extract the context from the message if consumer method accepts objects, link spans in a processor - sending span to a different topic than receiving):
Here are some references:
* https://github.com/smallrye/smallrye-reactive-me

[2019-11-29 16:07] sean-scott-lr opened #5882 "Quarkus hibernate validator only supports a single locale"
**Describe the bug**
I tried to write a validation exception mapper that returns validation errors in the language requested and I receive this error message:

HV000250: Uninitialized locale: es. Please register your locale as a locale to initialize when initializing your ValidatorFactory.

**Expected behavior**
I expected the validation error to be in spanish

**Actual behavior**
An error occured

[2019-11-29 16:11] pilhuhn commented on #5878
Similar, but no multicatch. Again: code runs nicely in quarkus:dev mode

[code]

[2019-11-29 16:20] pavolloffay commented on #5419
@asoldano IIRC there were problems with using default exception mapper.

E.g. we do not what to annotate span with an error for an application-specific exception which is properly handled and does not result in an error code. Other issue might be - is the default exception mapper invoked if there is an exception mapper for a specific exception?

Feel free to move this to https://github.com/opentra

[2019-11-29 17:10] aguibert commented on #3538
@gsmet go ahead and assign this issue to me please. I can use it as a ticket to upgrade Quarkus to Yasson 1.0.6 when it gets released

[2019-11-29 17:54] #5248 closed

[2019-11-29 18:01] #3520 closed

[2019-11-29 18:36] cescoffier commented on #5248
Thanks!
On 29 Nov 2019 at 18:54 +0100, Manyanda Chitimbo <notifications@github.com>, wrote:

[2019-11-29 18:40] cescoffier commented on #5848
It’s the QuickStart and docker file unchanged, right? Why am I not able to reproduce it...

On 29 Nov 2019 at 16:01 +0100, Minto <notifications@github.com>, wrote:

[2019-11-29 18:41] SetoKaiba opened #5883 "Hibernate hbm2ddl in application.properties is not working as mentioned"
**Describe the bug**
Hibernate hbm2ddl in application.properties is not working as mentioned

**Expected behavior**
[code]
This is mentioned in the documentation.
It should work with update.

**Actual behavior**
"update" not working. It would still create the tables.

**To Reproduce**
Steps to reproduce the behavior:
1. https://github.com/SetoKaiba/code-with-quarkus
2. MySQL 8.0.16
3. Windows OS.

[2019-11-29 19:06] geoand commented on #5860
@cg-d Actually when thinking about this a little more, I don't think it makes sense to use Jackson to convert a value from a non -json string.
Did this actually work for you? I mean was the object mapper actually able to convert  something like `2019-01-01` into a `LocalDate`?

[2019-11-29 19:10] lssoares opened #5885 "Abstraction layer over PanacheRepositoryBase"
**Describe the bug**
When implementing an abstraction over the PanacheRepositoryBase, I get the error when calling findById method:

org.hibernate.UnknownEntityTypeException: Unable to locate persister: org.acme.base.AbstractBaseLongEntity

**Expected behavior**
findById() should work when using an Abstraction layer, as findAll() just works.

**Actual behavior**
(Describe the actual behavior clear

[2019-11-29 19:46] loicmathieu commented on #5860
We already register the jsr310 module so it should works.
Can you try with the latest version?
Also we didn't activate the auto registration so to register an extra module you should provides an ObjectMapper customizer

[2019-11-29 19:48] geoand commented on #5860
It can't work the way it is because we don't provide a JAX-RS param converter hence my comment above

[2019-11-29 21:22] stuartwdouglas commented on #5864
It's intentional. Dev mode restart works on HTTP requests, so the server is deliberately not restarted. It would be possible to do this but it needs special handling and would be a fair bit of work to do properly, so I don't really think the extra effort is worth it.

[2019-11-29 21:22] stuartwdouglas commented on #5864
Pretty much every other property change will be picked up from application.properties, but not that one.

[2019-11-29 22:13] GregJohnStewart commented on #5289
As of today (11/29), this is still an issue in 1.0.1-FINAL

Noticing this relates to #5059

Discovered while using a blank project from code.quarkus.io, and integrating it into a project that already had the dependency check

[2019-11-29 23:15] breandan commented on #4218
Using GraalVM `19.3.0`/JDK `11.0.5`, Kotlin `1.3.61`, Gradle `6.1-20191126230035` with the Quarkus Gradle plugin `1.0.1.Final` on OS X `10.15.1`, I encountered the following error when running `./gradlew buildNative --stacktrace`:

[code]

[2019-11-30 09:46] SetoKaiba commented on #5883
It does jump into migration. But it can't get the table information. I try to set breakpoints to debug. But they're not triggered. I'm using gradle with quakusDev.

2019-11-30 17:39:01,817 WARN  [org.hib.too.sch.int.ExceptionHandlerLoggedImpl] (main) GenerationTarget encountered exception accepting command : Error executing DDL "create table user (userType varchar(31) not null, uuid varchar(255) n

[2019-11-30 09:53] SetoKaiba commented on #5883
I find that I can't debug even the normal code in quarkus project.

[2019-11-30 10:39] fabricepipart commented on #5757
Hi! That was quite unexpected to have to close the stream. Putting the stream in an auto-closable does the trick but I rather consider this as a workaround than a permanent fix. Plus it clearly appeared lately as mentioned earlier.

I wonder (but trust your judgement if you think so) if this issue should have been closed.

[2019-11-30 10:41] fabricepipart commented on #5757
Hi! That was quite unexpected to have to close the stream. Putting the stream in an auto-closable try-with-resource block does the trick but I rather consider this as a workaround than a permanent fix. Plus it clearly appeared lately as mentioned earlier.

I wonder (but trust your judgement if you think so) if this issue should have been closed.

[2019-11-30 11:52] csotiriou commented on #4404
@FroMage Just a suggestion:

As a use case, I believe that enabling header propagation by default is going to be a security risk. The reason why many use cases generally want header propagation is to support distributed logging. But enabling header propagation by default (which means all headers are propagated) will send probably some unwanted headers down the chain (possibly authentication tokens

[2019-11-30 17:37] FreifeldRoyi commented on #4712
With the new version published, do I have any way to know if a reactive stream is down or not?
@loicmathieu @cescoffier

Thnx

[2019-11-30 18:13] FreifeldRoyi commented on #3781
Still happens in 1.0.1.Final

[2019-11-30 18:22] FreifeldRoyi opened #5889 "JAX-RS requestContext in filter is not found"
When upgrading from 0.22.0 to 1.0.1 `@QuarkusTest` of a JAX-RS resource fails. A filter, assumed to inject data to the `requestContext` runs and passes the `request.setProperty(propName,propValue)` part but when the flow reaches the JAX-RS resource and fetching the property it is not found.
I checked it also with a live service and not tests and it also fails

I see that there is a compatibility i

[2019-11-30 21:08] gwenneg commented on #4218
Hi @breandan! Quarkus currently supports GraalVM `19.2.1` which is also limited to JDK 8.

We are working on the integration of GraalVM `19.3.0` (which supports JDK 8 and 11) into Quarkus as we speak and it could be part of Quarkus `1.1.0`. We reported a few issues including a blocking one to the GraalVM team so we may have to wait for GraalVM `19.3.1`, that's still unsure for now.

So for now, pl

[2019-11-30 21:34] cristhiank commented on #5756
I did some more testing and found the following:

- Adding the `@Embedded` to the getter solves the issue
- Making the field protected solves the issue only if the super-class is in the same package as the entity-class
- Making the field package private doesn't solve the issue.

I will use the getter solution as it works for us.
I believe documenting this workaround somewhere is enough for future

[2019-11-30 22:29] FreifeldRoyi commented on #5889
Changing everything to RestEasy HttpRequest solved the problem, even though I'm not sure what was the problem in the first place

[2019-11-30 23:07] uaihebert commented on #5817
hello, I was able to reproduce this problem locally.
[code]
what should be the expected behavior? to return a 422 error saying that selected framework X is not supported by langague Y? Or to create the template?

[2019-12-01 01:45] maxday opened #5890 "add SSLContext customization for MongoDB extension"
**Description**

When creating a MongoClient, we may want to specify a custom SSLContext.

**Implementation ideas**

Since the SSLContext is not a primitive type, it's not possible to specify it via configuration.
Maybe a annotation is the solution :

[code]

MyCustomSSLContext could be a class implementing a SSLContextConfig interface with only one method returning a javax.net.ssl.SSLContext.

Th

[2019-12-01 01:59] InfoSec812 opened #5891 "Allow alternative IDs for PanacheEntity POJOs"
Currently, PanacheEntity will automatically have a `Long` ID field added automatically, but sequential IDs are considered a bad practice in security circles because of the predictability. It would be useful if there were a way to have PanacheEntity to use alternate methods of generating the unique ID (e.g. UUIDs).

References:
https://www.clever-cloud.com/blog/engineering/2015/05/20/why-auto-incre

[2019-12-01 02:29] nimo23 opened #5892 "Consider LGTM (code analysis platform)"
**Description**
https://lgtm.com/ is a code analysis platform to improve code patterns and find security flaws.

For example:
https://lgtm.com/projects/g/wildfly/wildfly?mode=list

It`s free to use for open source projects and can be integrated within github. I find it interesting..maybe quarkus can benefit from it.

[2019-12-01 02:42] nimo23 commented on #5892
I guess, it`s a little like sonar..I close this issue..

[2019-12-01 02:42] #5892 closed

[2019-12-01 04:18] jaikiran commented on #5848
Just like @cescoffier, I'm a bit stumped here on how you are running into this exception in JVM mode that too in container.

The only odd(?) thing I see in your details, for building the application jar, is this:
[code]
The vendor seems odd. Do you know who/how was the JDK built? Can you maybe use a different JDK 8 from AdoptOpenJDK here and point JAVA_HOME to it and redo the whole container build

[2019-12-01 07:47] jaikiran commented on #5880
I've issued https://github.com/quarkusio/quarkus/pull/5895 to fix this.

[2019-12-01 09:47] uaihebert commented on #3856
I was checking this ticket and I came across this piece of code:
ResteasyCommonProcessor:152

[code]

I think this piece of code already does what is required. Or did I misunderstood this?

[2019-12-01 09:49] kivan-mih opened #5896 "Querydsl integration to Panache"
In Spring Data JPA I used Spring Data Querydsl(http://www.querydsl.com) plugin to allow typesafe compile-time queries and out of the box IDE autocompletion. Panache is ok, but it's not type-safe, so extending it with something like Querydsl predicates could be a good idea.

[2019-12-01 10:20] Ravisankar-Challa opened #5897 "AWS Lambda Http Response is always base64 encoded."
I have reported this *(https://github.com/quarkusio/quarkus/issues/5196) here but no one has looked in to this that is why I am reporting this as a bug.
This is a hello world example of aws lamnda http published through Amazon Api gateway. Response is base64 encoded.
https://k071rltja8.execute-api.ap-south-1.amazonaws.com/test/api/hello

Sample project is here https://github.com/Ravisankar-Challa/

[2019-12-01 10:20] machi1990 commented on #5891
@InfoSec812 instead of extending `PanacheEntity` you can alternatively extend from [PanacheEntityBase](https://github.com/quarkusio/quarkus/blob/92669f2aef11b860da23bcff50f75dd1b2c2776a/extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheEntityBase.java) and define aa custom  ID strategy.

[2019-12-01 14:14] yuhaibohotmail opened #5899 "Support autodetect-bearer-only with OIDC"
Credentials support has removed from the JavaScript adapter in Keycloak 8.0.0.
If we  set client " Access Type" with public ,Only user name and password are needed to get token：

[code]
The problem is that quarkus currently does not support  autodetect-bearer-only with Keycloak.

[2019-12-01 15:03] #5359 closed

[2019-12-01 17:24] uaihebert commented on #3833
Hello, I create a PR for this issue. Let me know what should be improved.

[2019-12-01 20:25] geoand commented on #5889
You can find more details about this in the release announcement of Quarkus 0.23 : https://quarkus.io/blog/quarkus-0-23-1-released/#new-http-layer

[2019-12-01 20:25] #5889 closed

[2019-12-02 08:43] jtama-op commented on #5824
Please check https://github.com/quarkusio/quarkus/pull/5901 as a base for discussion

[2019-12-02 09:05] DavideD commented on #5756
I've created an issue fo rthis: https://hibernate.atlassian.net/browse/HHH-13759
I'm working on it

[2019-12-02 09:10] loicmathieu commented on #5757
@fabricepipart it's a bit strange but it's needed because the stream is backed by an I/O source (it's not a stream made on a collection of rows).

Reading the JavaDoc of Stream:

[2019-12-02 09:13] loicmathieu commented on #4712
@FreifeldRoyi which new version?

KafkaStream health check is targeted for Quarkus 1.1 (released end of month).
There will also be a Kafka health check, also targeted Quarkus 1.1

[2019-12-02 09:14] maxandersen commented on #5229
yes, I'm still struggling to see the value of this but source would then just be the fully qualified name.

what are you asking for here ? an enum is a type and you can resolve types, right ?

can you please describe what is missing here for that ? I'm not sure I'm following the issue.

[2019-12-02 09:19] maxandersen commented on #5229
I was talking with Claus Ibsen on how they did configuration properties for their camel components and they actually [utilized](https://github.com/apache/camel/blob/master/examples/camel-example-main/src/main/resources/META-INF/spring-configuration-metadata.json) Springs metadata config format as [outlined here](https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-configuration-

[2019-12-02 09:43] loicmathieu commented on #5891
The Quarkus documentation about custom ID with Panache is here: https://quarkus.io/guides/hibernate-orm-panache#custom-ids

@InfoSec812 is it what you'r looking about? Can we close the issue ?

[2019-12-02 10:00] rsvoboda opened #5902 "dependabot - security - dependency_type: indirect ?"
I was looking a bit into dependabot configuration samples and noticed that security updates have often `dependency_type: indirect`.

Quarkus doesn't specify `dependency_type: indirect`.
https://github.com/quarkusio/quarkus/blob/master/.dependabot/config.yml#L7

Changed setup would be this:
[code]

@gastaldi wdyt ?

Of course not sure how wild it could be as Quarkus integrates with half of the Java

[2019-12-02 10:01] scetix opened #5903 "Persisting a modification with AttributeConverter"
I'm trying to persist changes to database in the following way:

### Entities
I have a JPA entity with JSON data type:

	@Entity
	public class TestEntity {
		@Id
		@GeneratedValue(strategy = GenerationType.IDENTITY)
		@Column(name = "id")
		private Long id;

		@NotNull
		@Convert(converter = TestConverter.class)
		@Column(name = "data", columnDefinition = "JSON")
		private TestData data;

[2019-12-02 10:03] loicmathieu commented on #5896
There is already an issue for this: #4016
You can vote for it (+1 on the issue description).

There is also a discussion about optional predicate inside of Panache (#2303) and query by specification (#3965) / example (#4015) you can vote for the one you prefere :)

I close this issue as duplicate of #4016

[2019-12-02 10:03] #5896 closed

[2019-12-02 10:05] loicmathieu commented on #5885
@Issoares can you provides your Quarkus version, the list of features you use (from the qtartup log), your entity and the complete stacktrace please ?

[2019-12-02 10:22] emmanuelbernard opened #5904 "Clean the keycloak authorization extension description"
Right know the description on code.quarkus.io is "Build parent to bring in required dependencies"
Which sucks. So let's update it to know what it does and when to include it.

Descriptions are taken from `pom.xml` description or from the `quarkus-extension.yaml`

[2019-12-02 10:25] misl commented on #5848
@cescoffier quickstart and dockerfile are unchanged, it was a fresh git clone.

@jaikiran I will give it a try with a different JDK 8

[2019-12-02 10:36] #3482 closed

[2019-12-02 10:40] loicmathieu opened #5905 "Upgrade to libthrift 0.13 to fix known CVE"
**Description**
Quarkus has a transitive dependency to libthrift 0.12 via Jaeger.

This version has two known vulnerabilites [CVE-2019-0205 ](https://nvd.nist.gov/vuln/detail/CVE-2019-0205 )and [CVE-2019-0210 ](https://nvd.nist.gov/vuln/detail/CVE-2019-0210) that are fixed in 0.13.

There is already an issue on Jaeger side: https://github.com/jaegertracing/jaeger-client-java/issues/669.

**Impleme

[2019-12-02 10:42] loicmathieu commented on #5902
Quarkus current depdendencies include a vulnerable version of libthrift (see #5905), it would be interested to see if dependabot sees it with the change.

[2019-12-02 10:45] loicmathieu commented on #5613
@yuhaibohotmail hint support just lands inside Hibernate with Panache.
Can we close this one ?

[2019-12-02 10:46] lssoares commented on #5885
@loicmathieu project was created using Quarkus website (https://code.quarkus.io/).
**Quarkus version and features current being loaded:**

mvn quarkus:dev
[INFO] Scanning for projects...
[INFO]
[INFO] ---------------------< org.acme:code-with-quarkus >---------------------
[INFO] Building code-with-quarkus 1.0.0-SNAPSHOT
[INFO] --------------------------------[ jar ]-------------------------------

[2019-12-02 10:47] lssoares commented on #5885
**The entity:**

@Entity
@Table(name = "example")
public class ExampleEntity extends AbstractBaseLongEntity {

    public String code;
}

@MappedSuperclass
public abstract class AbstractBaseLongEntity extends PanacheEntityBase {

    /**
     * The auto-generated ID field. This field is set by Hibernate ORM when this entity
     * is persisted.
     *
     * @see #persist()
     */
    @Id
    @Ge

[2019-12-02 10:48] yuhaibohotmail commented on #5613
yes,Thanks a lot!

[2019-12-02 10:48] #5613 closed

[2019-12-02 10:53] loicmathieu commented on #5905
In fact the current Jaeger version is not compatible for libthrift 0.13 so we need to wait for a fix on Jaeger side.

[2019-12-02 10:59] kivan-mih commented on #4016
https://github.com/querydsl/querydsl/issues/2459#issuecomment-555430030
As this post suggests QueryDSL is again maintained by a small team separate from the previous owner, however, the assumption that they would succeed is fragile.

Personally, my benefit from Querydsl was build-time query checking and IDE code completion. I used it as a plugin for Spring Data (example here https://www.logicbig.c

[2019-12-02 11:29] loicmathieu commented on #5885
Note that you `AbstractBaseLongEntity` is the same code as `PanacheEntity` so you can use it instead.

But I tested the same aproach and it works. The `org.hibernate.UnknownEntityTypeException: Unable to locate persister` exception is an Hibernate related exception and don't seems to have something to do with Panache. Can you share your `application.properties`file? Did you use any `persistence.xm

[2019-12-02 11:43] lssoares commented on #5885
```AbstractBaseLongEntity``` for the convenience of the example is indeed the same as ```PanacheEntity```, but unfortunately I will have to handle other legacy database tables where the PK is a String....

I don't have a ```persistence.xml```

and I don't see anything special in the application properties:
[code]

Have you had the chance to try the project I uploaded?

[2019-12-02 11:58] lssoares commented on #5885
Problem is "created" on

[code]

Then errors occurs when have a repository that extends the class above:
[code]

...But if repository you implements ```PanacheRepostitoryBase``` directly, it works correctly:
[code]

[2019-12-02 12:19] cg-d commented on #5860
@geoand "2019-01-01" is a perfectly valid JSON string. Using the JSR310 module Jackson can transform those just fine. Please take a look at the code I provided. Most JEE frameworks (e.g. Spring) will use Jackson in exactly this way.

 @loicmathieu Sorry for not providing the implementation of our `ObjectMapperCustomizer`. I thought explicitly writing that we do register the `KotlinModule` and the

[2019-12-02 12:22] loicmathieu commented on #5885
You mixed Repository and Entity implementation of Panache!
If you use the repository aproach, your entities must be regular JPA entities (not extending `PanacheEntity` nor `PanacheEntityBase`).

[2019-12-02 12:29] geoand commented on #5860
I did try your code and it unfortunately did not work which is why I asked. Basically `objectMapper.readValue` was throwing an error.
I'll try it again, but are you sure the code you added above is correct?

This is the easy part :). As soon as I can actually get Jackson to deserialize `"2019-01-01"` to a LocalDate object, the rest is pretty much a done deal :)

[2019-12-02 12:31] loicmathieu commented on #5860
@cg-d if I recall correctly, Jackson by default serialize dates as 'timestamp' so as a long.
If you want to serialize them as STring you need to disable `SerializationFeature.WRITE_DATES_AS_TIMESTAMPS` that's why I asked for your  `ObjectMapperCustomizer`.

@geoand did you try with disabling `SerializationFeature.WRITE_DATES_AS_TIMESTAMPS` this should allow Jackson so serialize/deserialze LocalDat

[2019-12-02 12:35] geoand commented on #5860
I didn't no. I'll check it out, thanks.
But ideally I need a way of convering a simple string into a LocalDate with Jackson without having to set any options for Jackson.

[2019-12-02 12:37] nimo23 opened #5906 "RESTEASY008200: JSON Binding deserialization error: No default constructor"
**Describe the bug**
I get the error described in https://github.com/quarkusio/quarkus/issues/3179.
The issue was closed as it should be resolved with quarkus 1.0 Final and its dependency yasson 1.0.5. But error is still there. I cannot add a no args constructor because the class is defined **within an external dependency (library).**

[code]

There must be a bug somewhere in Yasson, RESTEasy or Q

[2019-12-02 12:44] gsmet commented on #5906
Well, do you have a default constructor for your object?

[2019-12-02 12:47] nimo23 commented on #5906
I do not have a default constructor for that object because the object is defined by a 3rd party dependency which I cannot change. However, the same method execution works in wildfly even without a default constructor.

[2019-12-02 12:50] cg-d commented on #5860
@loicmathieu Ah, got it. We do set that feature of course :smile_cat:
[code]

[2019-12-02 12:52] #5144 closed

[2019-12-02 12:52] #5703 closed

[2019-12-02 13:01] gwenneg commented on #5682
@devisions: This issue has been closed automatically because of the merge of #5854, but the Quarkus compatibility with GraalVM `19.3.0` is still a work in progress. There's actually a GraalVM blocking issue (https://github.com/oracle/graal/pull/1893) that affects both JDK 8 and 11 editions. It could force us to wait for GraalVM `19.3.1` before `19.3` is integrated into Quarkus, but I'm looking for

[2019-12-02 13:11] maxandersen commented on #5101
@SetoKaiba goal are that they should be equivalent. Only additional task i'm aware of for maven is the "create" project but otherwise everything else should be possible with Gradle.

[2019-12-02 13:13] sean-scott-lr opened #5907 "Upgrade Jaeger dependency 0.35.2 +"
**Description**
OpenTracing 0.32.0 Added support to access the Trace and Span IDs.
https://github.com/opentracing/specification/blob/master/rfc/trace_identifiers.md

These IDs are needed in order to correlate logs to traces ( using MDC ) and to return correlation IDs to an API consumer.

Before this specification was updated, obtaining the IDs required breaking encapsulation and hacking in access

[2019-12-02 13:15] loicmathieu commented on #5860
@cg-d this is strange because adding the `JavaTimeModule` and disabling `SerializationFeature.WRITE_DATES_AS_TIMESTAMPS` allow to serialize/deserialize dates with the pattern YYYY-MM-DD into a LocalDate in Java.

Maybe this is a Jackson Kotlin issue? We have a test inside Quarkus that does this: https://github.com/quarkusio/quarkus/blob/master/integration-tests/mongodb-panache/src/test/java/io/qua

[2019-12-02 13:30] lssoares commented on #5885
@loicmathieu Thanks! you're write. I was using both....my mistake.
Changing the entity will leave me in the repository pattern

[code]

[2019-12-02 13:43] InfoSec812 commented on #5891
Dang! And I tried so hard to make sure that I looked to see if there was already an option and I didn't find it. Yes, extending `PanacheEntityBase` appears to be a good solution for me. Cheers!

[2019-12-02 13:43] #5891 closed

[2019-12-02 13:51] geoand commented on #5860
When using I do `objectMapper.readValue(value, LocalDate.class)`: with  `2019-01-01` being the value

[code]

[2019-12-02 13:52] gsmet opened #5908 "Improve Hibernate Validator localization support with RESTEasy"
We have a very low level of integration between RESTEasy and HV on the localization side.

HV supports localization, RESTEasy has support for dealing with the `Accept-Language` header (not sure how much support there is, we'll need to figure that out).

But... they are not coupled at all. Meaning you will always have the messages in the default locale.

The idea would be to take this into account

[2019-12-02 13:53] gsmet commented on #5908
@irenakezic this is the issue I was talking about on Zulip.

Feel free to ping me anytime if you have questions.

[2019-12-02 13:59] gsmet commented on #5907
@pavolloffay @objectiser could we upgrade our Jaeger dependencies? Or is it problematic?

[2019-12-02 14:01] #1368 closed

[2019-12-02 14:47] geoand commented on #5860
So basically if we know how to get passed the issue I pasted above, all the rest has been taken care of

[2019-12-02 15:15] cg-d commented on #5860
@geoand The `"` is part of the JSON. `2019-01-01` is invalid; it has to be `"2019-01-01"`. See https://www.json.org/json-en.html

[2019-12-02 15:16] geoand commented on #5860
Interesting, so that means that you expect users to input `"2019-01-01"` as query param?

[2019-12-02 15:23] cg-d commented on #5860
Otherwise it would not be JSON. ¯\_(ツ)_/¯

And of course this is done by the Web App and not manually. The following code works fine after registering the `ParamConverter`:

[code]

`NearbuyRestAssured` is just a helper class derived from `RestAssured` which provides the necessary security credentials for calling the API.

[2019-12-02 15:23] pavolloffay commented on #5907
Jaeger client in quarkus have to stay on 0.34.0 which implements OpenTracing 0.31.0 because MicroProfile-OpenTracing requires that API and unfortunately 0.32.0 contains breaking changes.

OpenTracing API in MicroProfile will be updated there is an outgoing discussion on this topic https://groups.google.com/forum/#!topic/microprofile/unYFj9EpTgM

[2019-12-02 15:24] geoand commented on #5860
I have a different idea, we can just use `objectMapper.convertValue` :wink: .
I tried it and it see to work fine, WDYT?

[2019-12-02 15:31] cg-d commented on #5860
That is no very clean. `readValue` is the intended method to parse JSON while `convertValue` actually expects an `Object`. I'd prefer using the first function but since I'm not a quarkus maintainer it's basically up to you.

[2019-12-02 15:33] geoand commented on #5860
Well TBH it doesn't make sense to me to have to expect the query string to contain quotes. Sure the converter could add them, but that doesn't feel natural.

You mentioned that Spring does this as well, do you mind point me to this feature in Spring that utilizes Jackson? I wasn't aware of it.

[2019-12-02 15:33] vietk opened #5910 "Spring-DI-extension fails when using custom stereotype in Spring @Configuration class"
Spring-DI supports custom stereotypes in bean producing method declared in a Spring Configuration class.

[code]

[code]

**Actual behavior**
When having a custom scope as described above spring-di extension fails with an error

[code]

**Expected behavior**
Spring-di extension do not fail and gently maps the custom spring stereotype to a CDI stereotype.

**To Reproduce**
Steps to reproduce the be

[2019-12-02 15:35] sean-scott-lr commented on #5907
Thats unfortunate.  In the meantime, does quarkus have an avenue to retrieve the SpanId in a manner that is "Safer" than this or that wouldnt require casting down to the implementation underlying quarkus?

[code]

[2019-12-02 15:36] cg-d commented on #5860
Spring Boot will pull the `ObjectMapper` from the class path and call `findAndRegisterModules()` on it. I would need to dig a bit... Did not actively use Spring Boot much this year since I'm occupied with a quarkus based project :grin:

[2019-12-02 15:38] cg-d commented on #5860
https://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#boot-features-json

[2019-12-02 15:38] geoand commented on #5860
Hahaha :)

Yes I know that Spring Boot auto-configures the `ObjectMapper` but I wasn't aware that it uses it for `LocalDate` parameters

[2019-12-02 15:41] cg-d commented on #5860
If you have Jackson and the module in the dependencies it will (a) register Jackson as handler for all conversion and (b) auto-register the modules. After this you can use any Java8 data types (including `ZonedDateTime` and `LocalDate`) both in `RestTemplate` as well as any `@Controller` functions.

[2019-12-02 15:43] geoand commented on #5860
OK, I'll start a demo project to see how this works but I am surprised that it depends on Jackson for such conversion

[2019-12-02 15:48] otcyury commented on #5811
Adding `@Transactional` worked for me.

I think, in Spring JPA use of Repository implicitly opens up read only transaction not requiring use of `@Transactional,` unless one needs to persist data.

Thanks

[2019-12-02 15:48] maxandersen commented on #5832
I assume you mean **after** launching devmode. changes to application.properties like http.port aren't taking any effect while running - its only seen when restarting.

but im closing this as I can't now reproduce what I saw - that when changing url driver from h2 to postgres it was not picked up without compile - trying it today it seem to work.

[2019-12-02 15:48] #5832 closed

[2019-12-02 16:00] #5269 closed

[2019-12-02 16:04] sean-scott-lr commented on #5907
@pavolloffay I posted this question on that thread:

Hi Pavol,

Can you quantify the breaking the changes?  Is the issue that the implementors of of the MP spec will have to add support for some new capabilities?

Or is it that consumers of the spec will be broken by API removal or API modifications ?

Thanks!

[2019-12-02 16:14] geoand commented on #5860
I did some digging in Spring Boot and as I suspected Jackson is not used to convert `LocalDate`. Instead the `Jsr310DateTimeFormatAnnotationFormatterFactory` creates a proper `TemporalAccessorParser` which does the conversion from String to `LocalDate`.

[2019-12-02 16:18] devisions commented on #5682
@gwenneg Great, appreciate it! Thanks a lot!

[2019-12-02 16:21] gsmet commented on #5682
I'm reopening this one. In any case, it will need documentation, tests and so on.

[2019-12-02 16:23] misl commented on #5848
Switching to Adopt OpenJDK 8 gives the same results :-(
BTW I am running on Ubuntu 19.04
[code]
Running the newly build version with debugging enabled give the following:
[code]

[2019-12-02 16:25] geoand commented on #5860
@asoldano does RESTEasy provide any OOTB handling of `LocalDate` and `LocalDateTime` as resource method parameters?

[2019-12-02 16:34] geoand commented on #5906
Can we see what `com.domain.Task` looks like?

[2019-12-02 16:38] misl commented on #5848
Is it possible to create a multi stage Dockerfile to perform the actual build (inside a container) and creating the docker jvm based docker images (also inside a container)? Like this personal/local setting should not have any impact on the actual build.

[2019-12-02 16:43] pavolloffay commented on #5907
Have a look at OpenTracing changelog https://github.com/opentracing/opentracing-java/blob/master/CHANGELOG.md or run git compare against 0.31.0 and 0.32.0 and again 0.33.0.

Yes there are breaking API changes, which requires to modify/rewrite code if they use OpenTracing API explicitly (no auto-instrumentation)

[2019-12-02 17:20] sean-scott-lr commented on #5908
@gsmet I like where you are headed with this....

One thing to add to this excellent description.  It would be nice to be able Add the "accept languages" to a context in some neutral way.

For example... I would like to read a header similar to "accept-languages" in a GRPC interceptor and poke the values into a context so that when the validation exception is thrown ( and handled in a GRPC interce

[2019-12-02 17:36] nimo23 commented on #5906
`Task` has not a no-arg constructor defined and is included as a library in my application - I cannot add a no arg constructor.

@JsonPropertyOrder({"id", "name", "date", "isEnabled"})
[code]

[2019-12-02 17:37] nimo23 commented on #5906
`Task` has not a no-arg constructor defined and is included as a library in my application - I cannot add a no arg constructor.

[code]

[2019-12-02 17:38] nimo23 commented on #5906
`Task` has not a no-arg constructor defined and is included as a library in my application - I cannot add a no arg constructor.

[code]