[2021-05-10 10:20] cescoffier commented on #17038
So basically, there are two proposals. I will try to summarize them in this comment and add pros/cons for each. Both aim to simplify and provide a cohesive experience when dealing with TLS.

Proposal A - Each extension owns the configuration

This approach is mostly a cleanup of the current situation. Each extension would continue to handle SSL/TLS. The only difference is that extensions would sha

[2021-05-10 10:29] michalszynkiewicz commented on #13656
@indalaterre could you create a small reproducer that throws this exception?

[2021-05-10 10:31] radcortez commented on #9121
Yes.

[2021-05-10 10:47] #17025 closed

[2021-05-10 10:51] geoand commented on #17105
Can you please attach a sample project that exhibits the behavior you describe?

[2021-05-10 10:57] famod commented on #17081
Note: Wrong commit was referenced in the description of this ticket, just fixed it.

[2021-05-10 11:04] lenalebt commented on #8053
Hey, did you solve this? I do have a case where I'd like to report traces back to a zipkin backend (or rather: zipkin-gcp, which integrates zipkin with the gcloud tracing backend). It already is forwarding zipkin headers, but it is trying to report to the zipkin server in the jaeger format. I'm already deep in debugging for how to work around this, but maybe you already have a solution?

[2021-05-10 11:57] #17033 closed

[2021-05-10 12:39] patriot1burke commented on #16734
@jonathanroques Oh, I'm sorry, I only double-checked that ENV-VAR in Quarkus dev mode.

[2021-05-10 12:47] jonathanroques commented on #16734
no worries, I should've read the doc properly 😅

Ok so now I get it, but it can't work the way I would've thought. The root path cannot be changed even if I'm using Quarkus profiles (because it's updated at runtime).

It's a pity because to me you should be able to bring the same unit (a jar here) to different stages to ensure that you always test the same unit through your process.

I don't think

[2021-05-10 12:56] patriot1burke commented on #16734
I think it boils down to Graal/native support as path bindings are done at static initialization.  Because of native, the config var is locked in.

[2021-05-10 13:05] jonathanroques commented on #13621
+1
It leads a blocking issue using quarkus-amazon-lamdba-http extension. See [this issue](https://github.com/quarkusio/quarkus/issues/16734)

[2021-05-10 13:23] dicolasi commented on #17058
Here an example with SpringBoot -> https://www.fatalerrors.org/a/implementation-of-two-level-cache-with-springboot-springcache-redis-caffeine.html

[2021-05-10 13:23] tassadar81 commented on #17105
@geoand here it is, from getting-started project. Just run as is it'll lead to the error, then change quarkus version to 12.2 and it'll works like a charm
[issueclasshierarchy.zip](https://github.com/quarkusio/quarkus/files/6452319/issueclasshierarchy.zip)

[2021-05-10 13:23] gastaldi commented on #13621
@jonathanroques not sure this is possible given that this information is used during build time.

This is also being discussed in https://groups.google.com/g/quarkus-dev/c/CUpvTy5zBrM/m/XLw_nI4AAgAJ

[2021-05-10 13:56] vietj commented on #16955
#16338 can be checked as it is closed

[2021-05-10 14:20] gwenneg commented on #17058
Hi @dicolasi. I would swear I answered here last week, I don't know where my comment went 😄 Sorry about that.

Remote and distributed caching were discussed when the `quarkus-cache` extension was designed almost 2 years ago (#3128, #3306, more recently #8140). At that time, it was decided to start with local caching only and distributed caching was [out of the scope](https://github.com/quarkusio/q

[2021-05-10 14:36] dicolasi commented on #17058
Thanks @gwenneg. I can see that something similar is already present for JCache -> https://dzone.com/articles/jcache-api-jsr-107-implementation-for-redis

[2021-05-10 14:40] dicolasi commented on #17058
Basically seems like https://github.com/redisson/redisson does the job.

[2021-05-10 14:50] geoand commented on #17105
I tried your attached project and it worked for me

[2021-05-10 14:58] tassadar81 commented on #17105
@geoand don't know, just tried again invoking:

http://localhost:8080/hello/greeting/roberto

and it leads to a:

2021-05-10 16:56:42,924 ERROR [io.qua.ver.htt.run.QuarkusErrorHandler] (executor-thread-1) HTTP Request to /hello/greeting/roberto failed, error id: 3faac6ff-84ee-4ed6-b774-042e357b3327-1: org.jboss.resteasy.spi.UnhandledException: java.lang.ClassCastException: class java.lang.Class ca

[2021-05-10 15:01] geoand commented on #17105
Okay, I was able to reproduce this in dev-mode only

[2021-05-10 15:02] geoand commented on #17105
@mkouba want to take a look?

[2021-05-10 15:19] geoand commented on #17105
@mkouba it seems that the problems stems from the fact that in `1.13.x` `this.getClass()` returns `org.acme.getting.started.GreetingService_Subclass` while in `1.12` it returns `org.acme.getting.started.GreetingService`

[2021-05-10 15:23] kenfinnigan commented on #9916
I changed the title to refer to OpenTelemetry, as that's the tracing approach we'd implement this idea with

[2021-05-10 15:54] kenfinnigan opened #17117 "Switch OpenTelemetry extension to use Vert.x 4 Tracing SPI"
## Description

With the switch to Vert.x 4, there is now a dedicated SPI for tracing we can hook into, as opposed to writing our own handlers. We should switch to this approach as then it's "everywhere" vs us needing to add it in more places.

## Implementation ideas

Implement SPI as defined by https://github.com/eclipse-vertx/vert.x/tree/master/src/main/java/io/vertx/core/spi/tracing

[2021-05-10 16:12] kenfinnigan opened #17118 "OpenTelemetry validation"
Validate OpenTelemetry extension works in all below situations. Any issues arising from this verification should be tracked separately from this task.

- [ ] Servers
  - [ ] RESTEasy Classic
    - [ ] JVM
    - [ ] Native
  - [ ] RESTEasy Reactive
    - [ ] JVM
    - [ ] Native
  - [ ] Vert.x HTTP
    - [ ] JVM
    - [ ] Native
  - [ ] Undertow/Servlet
    - [ ] JVM
    - [ ] Native
  - [ ] gRPC

[2021-05-10 16:17] kenfinnigan opened #17119 "Disable OpenTelemetry tracing of /q endpoints by default"
## Description

By default, we should not trace any endpoint from the `/q` path space, unless explicitly activated with config.

[2021-05-10 16:19] tsegismont commented on #16430
@cescoffier side note: in the Java snippet above, I had to use `.subscribeAsCompletionStage().get()` instead of `await()` otherwise I couldn't see anything in the console.

Are you aware of any issue we `await()` method in `2.4.0`?

[2021-05-10 16:58] cescoffier commented on #16430
No, nothing changed. CC @jponge

[2021-05-10 17:43] kenfinnigan opened #17122 "OpenTelemetry customization of propagators"
## Description

Currently the W3C propagator is hard coded into the extension.

We need to support configuration defining which propagator to use, but also allow for multiple propagators as well

[2021-05-10 17:45] kenfinnigan opened #17123 "OpenTelemetry trace sampling configuration"
## Description

Presently there is no sampling performed, all traces are captured.

We need to support configuration for sampling to allow developers to handle large request volume by sampling traces

[2021-05-10 17:48] kenfinnigan opened #17124 "Support environment variables defined by OpenTelemetry project"
## Description

As users may be coming from other implementations, or even learning about how to use OpenTelemetry from the upstream project, we need to ensure the environment variables defined by OpenTelemetry will work with the Quarkus extension.

Overriding any Quarkus configuration for the same values/meanings

[2021-05-10 21:15] Jojal opened #17130 "Keycloak absolute URL for quarkus.oidc.authorization-path property"
## Description

As a developer running keycloak in a kubernetes pod and my Quarkus application in a second pod, it would be great to have the possibility to specify the quarkus.oidc.authorization-path in an absolute way in order to override the quarkus.oidc.auth-server-url which is an internal kubernetes URL.
This case should happen only for the redirection to display the login page to the user.

[2021-05-11 02:28] gsmet commented on #17071
Build fixed:
* Link to latest CI run: https://github.com/null/actions/runs/830114906

[2021-05-11 05:09] jponge commented on #16430
@tsegismont BTW `await` is a group, you need to chain with a method to say how you want to await, like `atMost(duration)`

[2021-05-11 05:32] #16353 closed

[2021-05-11 05:40] gustdebacker-fontys opened #17135 "Panache doesn't update already persisted entity in database"
## Describe the bug
I have a Psu Entity:

`@Entity
public class Psu extends PanacheEntityBase {
    @Id
    @GeneratedValue
    public UUID uuid;

    @Column(nullable = false, length = 50)
    public String username;
    public Integer coins;
    public String firebaseRegistrationToken;

    public void setCoins(int coins){
        this.coins = coins;
    }

    public int getCoins(){
        ret

[2021-05-11 06:23] #16942 closed

[2021-05-11 06:41] gustdebacker-fontys commented on #17135
Seems like AWS RDS is the problem, I am trying some things. Will keep this updated.

[2021-05-11 06:50] ia3andy commented on #14437
My current implementation idea for this would be to have a similar field to the `app-config` to allow overriding Quarkus Codestart data https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartData.java#L18-L48

[2021-05-11 07:00] geoand commented on #17038
Thanks for the great summary @cescoffier.

Personally I am leaning towards the **first** proposal.

[2021-05-11 07:28] geoand commented on #17038
But do you really want to configure SSL in place in all cases?

I'd really like to hear Darran's insight on this

[2021-05-11 07:43] cescoffier commented on #16430
If you await it's to get a result, `await()`, will get you a `UniAwait`, not the expected result.

[2021-05-11 07:54] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/830474235

[2021-05-11 08:00] zbendhiba opened #17137 "Quarkus 2.0.0.Alpha2 : quarkus-bootstrap-maven-plugin fails in camel-quarkus project"
## Describe the bug
quarkus-bootstrap-maven-plugin is failing in CI builds. Example for kudu extension, if you run mvn test:

The maven configuration is :
[code]

The [full pom.xml file link](https://github.com/apache/camel-quarkus/blob/camel-main/extensions/kudu/runtime/pom.xml).

The CI failure is here : [camel-quarkus CI build](https://github.com/apache/camel-quarkus/runs/2549289503?check_suite

[2021-05-11 10:58] dicolasi commented on #17058
One potential solution is to have caching layer emit an event when something happens (put/delete) and have the infinispan client reacting to it.

[2021-05-11 10:58] ennishol opened #17140 "PatternSyntaxException on @Path definition with regexp"
## Describe the bug
`@Path("/{pin: [A-Z][A-Z][A-Z0-9]{9}[0-9]}")` is not parsed correctly

### Expected behavior
regexp should work

### Actual behavior
[code]

## To Reproduce
create project with quarkus-resteasy-reactive and resource:
[code]

[2021-05-11 11:01] ennishol commented on #17140
BTW, it works with quarkus-resteasy-mutiny in quarkus 1.12.0.Final

[2021-05-11 11:06] Sanne commented on #17058
That might be fine in some use cases, but the local cache will also need to receive invalidation commands from other nodes. This quickly gets very complicated to implement "automagically" as developers will always need to make some trade-off choices, which in practice leads to most production use cases to require very specific ad-hoc details.

So yes what you suggest might e a good idea for your u

[2021-05-11 11:07] Sanne commented on #17058
cc/ @karesti

[2021-05-11 11:12] dicolasi commented on #17058
@Sanne I am open to any possible solution really. I am just getting lost with this, apparently simple, use case of mine. Any help/guidance is really appreciated.

[2021-05-11 11:17] geoand commented on #14709
I was talking to @FroMage about some other stuff and he suggested this was a problem that we would need to solve before doing anything else, so I volunteered to have a look to provide a fresh pair of eyes.

_Disclaimer: I don't know much about HR, so my conclusions might be entirely mistaken._

First of all, I used the reproducer, but switched to RESTEasy Reactive in order to ensure that no thread

[2021-05-11 11:53] geoand commented on #15131
That's very interesting, thanks!

[2021-05-11 12:11] pjgg opened #17141 "Quarkus-hibernate-orm extension doesn't deal well with concurrency"
## Describe the bug

Quarkus Version: Upstream

I am using Mutiny in order to emulate concurrency over the following extension:
`io.quarkus:quarkus-jdbc-mysql`

Scenario:

[code]

As you can see in the above scenario, we are going to run two concurrent queries, that are going to be executed "at the same time" in the future:

[code]

After some iteration, an exception rises:

[code]

[2021-05-11 13:06] radcortez commented on #17038
I'm also in favour of Proposal B, but with some reservations as well.

This indeed may hurt the user experience. Lets imagine two extensions, one supports the pem file and the other one does not. We cannot really fail the build, we can add a warning for the extension that does not support the pem file, but the user may not notice it and expect it to work.

We should be able to add custom parameter

[2021-05-11 14:09] Sanne commented on #17141
hi @pjgg

For what it's worth, the Hibernate `Session` is indeed not threadsafe (by design, a single Session represents a single threaded "unit of work" and is often bound to a transaction).

With this test you're not really creating " emulate concurrency over the following extension: io.quarkus:quarkus-jdbc-mysql" as you're including Mutiny, Panache and Hibernate ORM as well as intermediate layer

[2021-05-11 14:18] Sanne commented on #17058
I would suggest using the Infinispan client? You mentioned "we would love to add a persistent caching layer using some sass solution such as memchache or redis" : that's exactly the functionality it offers. Compared to Redis, it has better scaling & clustering capabilities so we see it as the better choice.

 - https://quarkus.io/guides/infinispan-client#additional-features

@karesti @tristantarra

[2021-05-11 15:09] tlvlp opened #17145 "REST Client retry failed calls"
## Describe the bug
Using Quarkus 1.13.3.Final when I make the request fail on the other side by returning a Uni.createFrom().failure(new RuntimeException()); the client just hangs until the set amount of attempts with the preset delay happen but there is no sign of these attempts ever reaching the other service. The code at the remote endpoint only runs once.

### Expected behavior
The client mak

[2021-05-11 15:14] Shohou opened #17146 "do after transaction commit"
## Description

Thread 1 running inside a transaction creates object A and needs to launch asynchronous action (through messaging service for example) which uses object A. Doing this directly creates a race between a transaction commit in thread 1 when object A will be visible to other transactions and asynchronous action which reads object A by id in another transaction
In Spring there is
[code]

[2021-05-11 15:41] jponge commented on #16430
+ https://github.com/smallrye/smallrye-reactive-utils/pull/313

[2021-05-11 15:45] dicolasi commented on #17058
Thanks for your answer @Sanne. Ok so Infinispan client is the way to go then :)
Last question (I hope): with quarkus-cache I can very elegantly add @CacheResult for a method and the return values is stored in the local cache. I guess that with infinispan client I got to do a bit of if/then/else, or there is a nicer way to deal with cache miss/cache hit?

[2021-05-11 15:52] Sanne commented on #17058
I'm not aware of anything "nicer".. I suspect it's best you interact with the Infinispan Client directly so that you can implement the most appropriate error handling which is suitable for your application.

[2021-05-11 16:33] Felk opened #17147 "ArC fails to construct bean with self-referencing generic constraint"
ArC appears to be unable to generate beans if they have a generic parameter and a constraint referencing the generic parameter, as is common for e.g. `T extends Comparable<T>`. The issue can be reproduced as follows:

[code]

which results in the following error at build time:
[code]

with a prettyfied error message:
[code]

A few more examples:
- does _not_ work: `<T extends List<T>>`
- _does_ wo

[2021-05-11 16:47] jendib opened #17148 "Change transaction isolation level in the @Transactional annotation"
## Description

In Spring, I could change the transaction isolation level in their `@Transactional` annotation (please see https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/transaction/annotation/Transactional.html) however Quarkus is using the Java EE annotation which doesn't permit isolation level configuration.

My app is separated between read only API endpoi

[2021-05-11 18:33] samodadela opened #17150 "io.qua.boo.res.mav.BootstrapMavenContext: Unrecognised tag: 'blocked'"
## Describe the bug
When starting quarkus:dev:
[code]

### Expected behavior
No warning should be printed.

### Actual behavior
Warning is printed. App starts anyway.

## To Reproduce
[code]

### Configuration
## Environment (please complete the following information):

### Output of `uname -a` or `ver`
[code]

### Output of `java -version`
[code]

### GraalVM version (if different from Java)

###

[2021-05-11 19:22] #17137 closed

[2021-05-11 20:07] tsegismont commented on #16430
@Sgitario @pjgg can you try to run the test suite with SmallRye Reactive Utils `2.5.1`?

[2021-05-11 20:09] jponge commented on #16430
...and with https://github.com/quarkusio/quarkus/pull/17113 😉

[2021-05-11 20:10] famod commented on #17091
Ok, that's what I was suspecting. Thanks for confiming!

[2021-05-11 22:15] GeauxEric opened #17153 "MP reactive client hides response error"
## Description

In my Quarkus microservice, I am using a microprofile rest client to fetch data from other external services:
[code]
In case the API call fails, it always throws this error regardless of the actual endpoint:
[code]

That makes it very difficult to debug the failure.

By reading the source code, I found the actual implemention:
[code]
I wonder if it is possible to configure the beha

[2021-05-12 02:34] aomsweet opened #17156 "Synthetic Bean will not be destroyed"
## Describe the bug
[code]

io.spinach.quarkus.vertx.web.client.deployment.WebClientDestroyer.java

[code]

### Expected behavior
Console output `Closing web client......`

### Actual behavior
Console does not output `Closing web client......`

## To Reproduce
Can provide if needed.

### Configuration
[code]

### Screenshots
(If applicable, add screenshots to help explain your problem.)

## Enviro

[2021-05-12 05:34] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/834204835

[2021-05-12 06:18] geoand commented on #17156
cc @mkouba @manovotn

[2021-05-12 06:20] geoand commented on #17153
Can you be a little specific about what you expect to see?

Thanks

[2021-05-12 06:23] mkouba commented on #17104
I think that shutdown hooks are only executed in case of normal termination, i.e. quarkus itself will not be shut down correctly when you do `kill pid`, and thus neither class-based nor synthetic beans are destroyed correctly.

[2021-05-12 06:24] EricTing commented on #17153
Instead of this default exception message:
[code]
I wish to see the actual response in case of failure.

[2021-05-12 06:29] mkouba commented on #17147
Hi @Felk, thanks for reporting this problem. It's a known issue - see also https://github.com/wildfly/jandex/issues/88 and we can't do much until this jandex issue is resolved.

[2021-05-12 06:33] mkouba commented on #17156
Isn't this related to https://github.com/quarkusio/quarkus/issues/17104? As I wrote [in this comment](https://github.com/quarkusio/quarkus/issues/17104#issuecomment-839493615), when you do `kill pid` no beans are destroyed correctly.

@aomsweet How do you close your app?

[2021-05-12 06:36] Sgitario commented on #16430
@jponge Unfortunately, the PR https://github.com/quarkusio/quarkus/pull/17113 made no difference when running the failing test as the smallrye version was sticked at 2.3.0. Actually, we're not using the Smallrye Reactive Utils for nothing.

The good news is that if I update this line: https://github.com/quarkusio/quarkus/pull/17113/files#diff-2b7d71809e1063e0d0411cbe30d606e12b984790680195567e7b8bd

[2021-05-12 06:36] fabasoad commented on #16862
@famod Got it. Thanks! It seems I need to wait non-Alpha version to test it because I don't see `2.0.0.Alpha2` in [maven](https://mvnrepository.com/artifact/io.quarkus/quarkus-universe-bom).

[2021-05-12 06:41] geoand commented on #17153
@michalszynkiewicz I don't know if ^ is doable easily.

@EricTing have you perhaps tried the new `quarkus-rest-client-reactive`?

[2021-05-12 06:57] jponge commented on #16430
The PR does upgrade both Mutiny and Smallrye Reactive Utils.

[2021-05-12 06:58] aomsweet commented on #17156
hi. @mkouba  @geoand

Sorry, I did not introduce it clearly. The test environment is Windows wsl 2 Ubuntu 20.4. The method annotated by @PreDestroy is executed at the end of the process.

[2021-05-12 06:59] ia3andy opened #17159 "Delay when hitting "r" to enable continuous testing"
## Describe the bug
There is significant delay when hitting "r" on this project
https://github.com/ia3andy/rock-rock-rock

### Expected behavior
The output should be modified instantly to yell that the action have been received and things are getting ready to run the tests (even if in the background processing is still happening)

### Actual behavior
It's frozen

## To Reproduce

Use https://githu

[2021-05-12 07:03] ia3andy opened #17160 "Console "failed" counter is wrong using continuous testing"
## Describe the bug
"Test run failed, 5 tests were run, 1 failed, 0 were skipped. Tests took 7544ms"

While 5 did fail.

### Expected behavior
Should show 5 failed

### Actual behavior
(Describe the actual behavior clearly and concisely.)

## To Reproduce

Use https://github.com/ia3andy/rock-rock-rock and start in dev mode then hit "r".

### Quarkus version or git rev

2.0.0.Alpha2

[2021-05-12 07:05] stuartwdouglas commented on #17160
Fixed by https://github.com/quarkusio/quarkus/pull/17155

[2021-05-12 07:05] #17160 closed

[2021-05-12 07:14] Sgitario commented on #16430
I meant the `mutiny-vertx.version` version as well.

[2021-05-12 07:20] ia3andy opened #17161 "Make the continuous testing terminal status text more self explainatory"
## Description

When fixing tests, the number of tests running is reducing but we should always have the total count of tests displayed (ex with 1 test already passing on 5 tests):
[code]

I would go for something like this (in broken mode):
[code]

in normal mode:
[code]

Without skipped
[code]

[2021-05-12 07:21] ia3andy commented on #17161
Fixing this would be a huge improvement IMO

[2021-05-12 07:27] cescoffier commented on #16430
@Sgitario I think you found another bug:
smallrye-reactive-utils.version and mutiny-vertx.version are intended to be one....

[2021-05-12 07:29] geoand commented on #16737
Thanks @wtrocki

[2021-05-12 07:30] Sgitario commented on #16430
+1 Actually, if having both was not done on purpose, then I guess the linked PR https://github.com/quarkusio/quarkus/pull/17113 should address it as well.
What do you think @cescoffier @jponge ?

[2021-05-12 07:30] jponge commented on #16430
I'm looking at this, because we shouldn't have redundant properties

[2021-05-12 07:44] jponge commented on #16430
See https://github.com/quarkusio/quarkus/pull/17113/commits/a38ce98b8abccc3f64431e924e240a3e43562558

[2021-05-12 07:49] draccagni opened #17163 "The hibernate.proc.param_null_passing property cannot be defined in application.properties"
The ```hibernate.proc.param_null_passing``` property cannot be defined in application.properties. So you are oblige to define it in persistence.xml.

Would it be possible to add it among the available properties or to be able to set all the properties provided by Hibernate by preceding them with the prefix 'quarkus.hibernate-orm' instead of 'hibernate'? In this case the property would be:
[code]

[2021-05-12 07:57] manovotn commented on #17156
We even have a very similar test that asserts this behavior, see https://github.com/quarkusio/quarkus/blob/main/independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/buildextension/beans/BeanRegistrarTest.java#L96-L103
The test uses singleton but that doesn't matter, application scoped works as well.

Since your bean is application scoped, are you using that bean at least once in your a

[2021-05-12 08:15] Sgitario opened #17164 "Regression Issue: Secured endpoints are exposed when no token is provided using Keycloak-Authorization extension"
## Describe the bug
Given a secured endpoint
When we call this endpoint using a invalid token
Then it returns forbidden as expected
When we call this endpoint using a valid token
Then it returns OK as expected
**When we call this endpoint with no token
Then it returns OK when it should return 404**

We are using the next Quarkus extensions:

[code]

## To Reproduce

Steps to reproduce the behavior

[2021-05-12 08:24] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/834217304

[2021-05-12 08:25] pjgg commented on #15953
@geoand there is a new Dekorate minor release that include a patch for this issue:

https://github.com/dekorateio/dekorate/releases/tag/2.1.4

Could we upgrade Quarkus Upstream in order to include this lib version?

[2021-05-12 08:25] Felk commented on #17147
Thanks for letting me know, I'll watch that issue

[2021-05-12 08:30] geoand commented on #15953
@pjgg can you first respond to https://github.com/dekorateio/dekorate/pull/753#issuecomment-838036419 so we can be sure things are fixed?

[2021-05-12 09:02] pjgg commented on #17141
Thank you @Sanne

I agree, I have refactored the scenario using directly the DB connections given by agroal datasource, and works as expected.
Also, If each request (in the previous scenario) has his own hibernate session in an isolated thread, works as expected.

So, is true that hibernate [is not threadsafe](https://developer.atlassian.com/server/confluence/hibernate-sessions-and-transaction-man

[2021-05-12 09:03] #17141 closed

[2021-05-12 09:05] sberyozkin commented on #17130
As confirmed by @Jojal `KEYCLOAK_FRONTEND_URL` works do I'll close this issue with a small PR adding a note about `KEYCLOAK_FRONTEND_URL`

[2021-05-12 09:06] iocanel commented on #15953
He responded via google chat. We are good to go!

[2021-05-12 09:09] geoand commented on #15953
Cool!

In the future, it would be great to record such outcomes on the issue for posterity :)

[2021-05-12 09:10] geoand commented on #15953
@iocanel are you planning on opening the PR to bump dekorate?

[2021-05-12 09:13] sberyozkin commented on #17164
@Sgitario Interesting, `quarkus-keycloak-authorization` is expected to be invoked only after the authentication has completed, so if it has been invoked then it means the method is not secure - can you link me please to the test ?

[2021-05-12 09:25] sberyozkin commented on #17164
@Sgitario See [this PR](https://github.com/quarkusio/quarkus/commit/45ddbfa8636bae0fd816ab1152dc7fee2d5e332d#diff-0cca5626807a5037be81c3ce409c0c2da542efae08537d4abb9aab436f4e3753).
So `keycloak-authorization` is not an authentication mechanism - it only enforces authorization of the already available `SecurityIdentity` - so if it has been invoked without a token then most likely your test endpoint

[2021-05-12 09:34] Sgitario commented on #17164
@sberyozkin this is the resource that the test is consuming: https://github.com/Sgitario/quarkus-examples/blob/main/quarkus-keycloak-authz/src/main/java/io/quarkus/qe/UserResource.java

As you can see, no `@Authenticated` annotations are being used, however this is a change of behaviour in comparison to `1.x` Quarkus version and I think it's quite important change for users.

[2021-05-12 09:37] argenstijn opened #17168 "Null as HTTP header value results in hanging thread"
## Describe the bug

Restassured or quarkus hangs when a response header value is null.

### Expected behavior
1.  Send a response with a response header which has no value.

### Actual behavior

1. No response.

## To Reproduce

1.  Do a restassured request in a junit test method using @QuarkusTest:

` given()
    .when()
    .contentType("application/json")
    .get("hangs").andReturn();
`

2. h

[2021-05-12 09:42] gsmet commented on #17168
Please provide a simple Maven project reproducing the issue. Thanks.

[2021-05-12 09:53] sberyozkin commented on #17164
@Sgitario OK, you linked to it above :-).
It is a [test[(https://github.com/Sgitario/quarkus-examples/blob/main/quarkus-keycloak-authz/src/test/java/io/quarkus/qe/UserResourceTest.java#L71) problem - a request is made at the public resource.

I agree this change is important - but I also think it has to be `fixed` by adding a note to the migration guide - as we are still in the `2.0.0.Alpha` space

[2021-05-12 10:02] aomsweet commented on #17104
@mkouba @machi1990

You are right, I have always relied on intellij idea's debug mode test. This may be a bug in the IDE or it may be that the dynamic bytecode generated by quarkus causes the breakpoint to be invalid. When I package the application and run it through `jar -jar` everything works fine.

I am very sorry.

thanks.

[2021-05-12 10:04] aomsweet commented on #17156
@mkouba @manovotn

I have always relied on intellij idea's debug mode test. This may be a bug in the IDE or it may be that the dynamic bytecode generated by quarkus causes the breakpoint to be invalid. When I package the application and run it through `jar -jar` everything works fine.

I am very sorry.

thanks.

[2021-05-12 10:04] #17156 closed

[2021-05-12 10:05] #17104 closed

[2021-05-12 10:59] dicolasi commented on #17058
@Sanne  can you help with this? https://github.com/infinispan/infinispan-operator/issues/1040

[2021-05-12 11:01] Sgitario commented on #17164
I can confirm that adding `@Authenticated` annotation to the resources made the test worked. Therefore, as agreed with Sergey, this is a important change that needs to be noted in the migration guide.

[2021-05-12 11:04] cristian-com commented on #12936
Please have a look at the pr https://github.com/quarkusio/quarkus/pull/17170, I just marked the points where I expect to make changes.

Here some points:

- Hope to add the maven helper mentioned at https://github.com/quarkusio/quarkus/pull/12916#issuecomment-719590357
- I will add a param at the moment 'parent' (let me know a better name) that will be the relative path for the Parent POM. This wi

[2021-05-12 11:10] #16430 closed

[2021-05-12 11:10] jponge commented on #16430
Merged!

[2021-05-12 11:10] cristian-com commented on #12936
@ia3andy could you please add the cli label to the issue

[2021-05-12 11:11] sberyozkin commented on #17164
@Sgitario Thanks, I'll keep this issue open until I'll update the keycloak-authorization docs with a few clarifications (and will update the migration guide alongside it)

[2021-05-12 11:18] sberyozkin commented on #17164
@Sgitario If you'd like you can also add something like
[code]

and verify it is blocked even without `@Authenticated`

[2021-05-12 11:20] sberyozkin commented on #17164
Never mind - Authentication is a pre-requisite

[2021-05-12 11:30] sberyozkin commented on #17164
I'll check if it is consistent with the way HTTP configuration policies are enforced (ex, if the policy is `deny` what happens if the identity is anonymous ? If it is still denied then I'll update `keycloak-authorization` to block the anonymous request if the policy for a given path is enforcing)

[2021-05-12 11:31] tcollignon commented on #10682
Hi,

I have upgrade to GraalVM 21.0.0 and quarkus 1.13.3, and now I have a new error
[code]

[2021-05-12 11:34] sberyozkin commented on #9316
@renegrob Hi, yes the priority is for it t be reactive - can you please investigate the idea of having a Vert.x 4.x based WebAuthn extension ? It would be a very valuable addition to Quarkus Sec

[2021-05-12 11:39] sberyozkin commented on #9316
@renegrob

I guess we need to start from the most mainstream case which can be used as a recommended alternative to BasicAuth/FormAuth for cases where OpenId Connect providers such as Keycloak can not be used (if they can be used then they'll take care of `WebAuthn`)

[2021-05-12 12:13] indalaterre commented on #16949
Hi this is the main repository class that I'm using right now
[repo.txt](https://github.com/quarkusio/quarkus/files/6466008/repo.txt)

[2021-05-12 12:20] pmlopes commented on #9316
@sberyozkin I'm trying to create a vertx howto on webauthn the next week. The most common use case is authentication of interactive applications. It is not intended to be used on APIs (machine to machine) so it shall replace Form login screens, and it can replace OAuth2/OIDC if the only use of the IdP is to authenticate, not to perform any kind of RBAC as webauthn is not designed for such use case

[2021-05-12 12:32] tsegismont commented on #16955
#16430 can be checked as it is closed

[2021-05-12 12:46] #13807 closed

[2021-05-12 12:52] gsmet commented on #17150
This is due to using Maven 3.8. We are using some Maven libraries in Quarkus and they are not supporting a new tag introduced in Maven 3.8.

This has been resolved in the upcoming Quarkus 2.0 as we upgraded our internals to 3.8 but for 1.x, the only way to get rid of the warning is to use Maven 3.6.3.

[2021-05-12 12:52] #17150 closed

[2021-05-12 12:52] dicolasi commented on #17058
I have created a super simple hello world  client application, but I am getting this error when I try to add something to the cache:

[code]

[2021-05-12 13:04] CassioGangrel commented on #7424
Make sure the module where the RestClient is declared contains the `META-INF/beans.xm` file

[2021-05-12 14:23] #17066 closed

[2021-05-12 14:38] jamesnetherton opened #17175 "Problems loading classpath resources within QuarkusTestResource classes"
## Describe the bug
Testing camel-quarkus with Quarkus 2.0.0.Alpha2, I noticed a number of test failures that seem to be related to the loading of classpath resources.

The problems occur where we do some pre-test setup work within a `QuarkusTestResourceLifecycleManager` impl. If some third party lib attempts to load a resource from the classpath, it appears to be failing.

For example, we use `or

[2021-05-12 14:42] geoand commented on #17145
@michalszynkiewicz if you haven't started looking at this one, I can take a look tomorrow

[2021-05-12 14:59] ebullient commented on #17038
Exactly, Stuart. Once place that can deal w/ the nuances of TLS/SSL would be epic. Quarkus extensions are all about dealing with imposed constraints and mismatches (for native mode or anything else), and if that makes for better / more consistent TLS configuration and behavior (especially if it makes it easier to integrate w/ cloud native environments, secrets, vaults, .. ), that is a solid win fo

[2021-05-12 15:19] gastaldi commented on #15840
As explained by @maxandersen in https://github.com/quarkusio/quarkus/issues/15840#issuecomment-802389676, you need to add a BOM for this to work. Closing.

[2021-05-12 15:19] #15840 closed

[2021-05-12 15:33] ia3andy opened #17177 "NPE during live reload on 2.0.0.Alpha2"
## Describe the bug

It happened during a demo, I am not sure of how to reproduce:
![image](https://user-images.githubusercontent.com/2223984/118002199-b1aeb980-b347-11eb-8e5b-cb65b5e01266.png)

[2021-05-12 15:33] ia3andy commented on #17177
cc @stuartwdouglas

[2021-05-12 15:42] ia3andy opened #17178 "Clear separation between constinuous test runs in the console"
A clear separation between runs in logs would make it easier to see results from a same run.
[code]

[code]

Quarkus 2.0.0.Alpha2

[2021-05-12 15:46] sberyozkin opened #17179 "Keycloak Authorization 'policy-enforcer.lazy-load-paths=true' regression"
## Describe the bug
Guillaume @gsmet has noticed a `quickstarts/security-keycloak-authorization` has started failing with:

[code]
Adding `quarkus.keycloak.policy-enforcer.lazy-load-paths=false`, see https://github.com/quarkusio/quarkus-quickstarts/pull/858

[2021-05-12 15:51] gsmet commented on #17175
/cc @stuartwdouglas

[2021-05-12 16:34] bertrandp opened #17182 "OIDC Regression with 1.13.3.Final"
## Describe the bug
Moving from 1.12.2.Final to 1.13.3.Final broke the OIDC authentication on my application.

When I call some endpoint like this one
[code]
I get an error.

### Expected behavior
1.12.2.Final was fine.

### Actual behavior
`ERROR [io.qua.ver.htt.run.QuarkusErrorHandler] (vert.x-eventloop-thread-5) HTTP Request to /api/users/me failed, error id: f1f3370a-becd-49bf-a6b2-781e8323aa7

[2021-05-12 16:36] holledauer opened #17183 "Support gRPC micrometer metrics"
## Description

Micrometer v1.7.0 can generate metrics for gRPC. See [Link](https://github.com/micrometer-metrics/micrometer/tree/main/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/grpc)

It would be great if the gRPC extension could register the metrics automatically

[2021-05-12 17:03] sberyozkin commented on #17182
@bertrandp Can you please create a reproducer ? Looks like a timing issue (KC is not ready) - also `1.13.4.Final` should be due shortly - try it please (or try 2.0.0.alpha2)

[2021-05-12 17:36] ia3andy commented on #12936
I will have a look on monday, I am in PTO for the next 2 days ;) Cheers!

[2021-05-12 17:42] pptheberge opened #17185 "Add setAttribute to MailTemplateInstance or provide another way to set the locale"
## Description

In the Type-Safe Message Bundles documentation, it's suggested to do this for locale resolution

instance.setAttribute("locale", Locale.forLanguageTag("cs")

The MailTemplateInstance currently doesn't provide a way to set an attribute. Please provide a way to the "locale" attribute or provide a way to the locale. Otherwise, the MailTemplateInstance mechanism doesn't seem to be able

[2021-05-12 17:48] #16813 closed

[2021-05-12 17:49] #15953 closed

[2021-05-12 17:51] geoand commented on #16817
Fixed in https://github.com/quarkusio/quarkus/pull/17169

[2021-05-12 17:51] #16817 closed

[2021-05-12 17:52] cristian-com commented on #12936
Nice, enjoy 👍🏽

[2021-05-12 18:13] flynnk commented on #17020
Confirmed fixed with the 1.13.4 release.

Thanks for the extremely rapid bug fix!  :)

[2021-05-12 18:34] gsmet commented on #17177
AFAICS, it would be this line: https://github.com/quarkusio/quarkus/blob/2.0.0.Alpha2/core/deployment/src/main/java/io/quarkus/deployment/dev/RuntimeUpdatesProcessor.java#L703

[2021-05-12 19:51] renegrob commented on #9316
Yes unless for https://fidoalliance.org/specifications/download-iot-specifications/ you need user presence / verification to login. It can't be used on a request base like BasicAuth or OAuth2. But it could for instance be used to issue a JWT token.
The question is how it should be integrated in Quarkus: just as a component you can use to build your own solution or as a ready-to-go solution. I thin

[2021-05-12 20:02] #16973 closed

[2021-05-12 20:34] sberyozkin opened #17193 "Support Keycloak Authorization for OIDC 'web-app' applications"
## Description

Pedro @pedroigor proposed it awhile back, it was not quite obvious how it would work with `web-app` where ID token is a primary token. But now that the access token can be configured as a source of roles we can support it for `web-app`.

## Implementation ideas

It should work straight away - we just need to relax a check a bit - KC Authorization can not be supported only if it is

[2021-05-12 22:22] yuhaibohotmail opened #17194 "(Quarkus 2.0.0.Alpha1/Alpha2)Cannot run @QuarkusTest from IDE(idea)"
## Describe the bug
[code]

## Environment (please complete the following information):

### Output of `uname -a` or `ver`   Windows 10

### Output of `java -version`      java version "11.0.7" 2020-04-14 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.7+8-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.7+8-LTS, mixed mode)

### Quarkus version 2.0.0.Alpha1  / 2.0.0.Alpha2

[2021-05-12 22:36] yuhaibohotmail opened #17195 "(Quarkus 2.0.0.Alpha2) Cannot run @QuarkusTest with database rider"
## Describe the bug
  Cannot running @QuarkusTest with database rider  in Quarkus 2.0.0.Alpha2.
  It works in  2.0.0.Alpha1 or 1.13.

[code]
## To Reproduce
[demo3.zip](https://github.com/quarkusio/quarkus/files/6469381/demo3.zip)

### Output of `java -version`      java version "11.0.7" 2020-04-14 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.7+8-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9

[2021-05-13 00:07] rroopreddy opened #17197 "Quarkus [1.13.3.Final] Classloader issue - works in QuarkusTest and not in quarkusDev. (Can't find class)"
## Describe the bug

Quarkus [1.13.3.Final] Classloader issue - works in QuarkusTest and not in quarkusDev.

It works in test mode and not in quarkusDev mode.  Seems like the System.getClassLoader() is different **@QuarkusTest** vs **gradle quarkusDev**. Class.forName(className) is returning null for a class (JksSslEngineFactory ) specified for SSL configuration.  Tried to attach `@ApplicationScop

[2021-05-13 01:22] stuartwdouglas commented on #17175
This will work with `quarkus.test.flat-class-path=true`

The root cause here is a bug in https://github.com/gkopff/mina-ftpserver/blob/master/core/src/main/java/org/apache/ftpserver/ssl/SslConfigurationFactory.java#L297

It uses getClass().getClassLoader() rather than Thread.currentThread().getContextClassLoader().

[2021-05-13 01:22] ebullient commented on #16087
Precedence order? does this only happen if/when pom.xml or gradle.build are not found?

[2021-05-13 01:26] stuartwdouglas commented on #17038
Yea, I think a TLS extension will likely be more work for us, but the end result will be a much better experience for users.

[2021-05-13 01:27] ebullient commented on #16155
hmmm. maybe.. if there was no other output that would scroll the buffer so you would know what happened.. maybe. but I could just as easily see the default action as a one-and-done build (rather than dev).. if you are already in a quarkus project sonewhere..

[2021-05-13 02:01] stuartwdouglas commented on #17146
You can just:

@Inject
TransactionSynchronizationManager tsr;

or

@Inject
TransactionManager tm;

And use this to register a sync.

Can can also use CDI transactional observers. We really should document this better though.

[2021-05-13 02:53] stuartwdouglas commented on #17178
Fixed upstream

[2021-05-13 02:53] #17178 closed

[2021-05-13 02:53] stuartwdouglas commented on #17159
Fixed upstream

[2021-05-13 02:53] #17159 closed

[2021-05-13 02:57] stuartwdouglas commented on #17168
I just tested this out and could not reproduce.

[2021-05-13 03:04] stuartwdouglas commented on #17194
This sounds like you have outdated dependencies somewhere, you have probably not upgraded the maven plugin version, just the Quarkus version.

[2021-05-13 03:04] #17194 closed

[2021-05-13 03:05] stuartwdouglas commented on #17194
Actually if the issue is from the IDE it is likely not the maven plugin, you may just need to make sure you clean the workspace.

[2021-05-13 03:27] #16439 closed

[2021-05-13 04:45] stuartwdouglas commented on #17164
@sberyozkin this sounds like a pretty major bug. If there is a policy in effect it should not be skipped because the user in not authenticated.

[2021-05-13 05:00] stuartwdouglas commented on #17072
Add this to your library (or include a META-INF/beans.xml):

[code]

See:

[2021-05-13 05:20] zakkak commented on #17046
@sberyozkin I tried testing this with https://github.com/oracle/graal/pull/3258/commits/a0ea2cdee4a5569b686660e9c681a3454e4c02e7 reverted and
[code]
but I am getting:
[code]
while `server-keystore.jks` appears to be present
[code]
do you have any clue why it might be failing to find `server-keystore.jks`?

[2021-05-13 05:26] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/837841022

[2021-05-13 05:49] maxandersen commented on #16087
Btw. Since this issue was created jbang ended up using main.java as default fallback. So if we do this it should be looking for main.java not app.java.

[2021-05-13 05:50] maxandersen commented on #16087
And yes suggestion is to do this if nothing else present.

[2021-05-13 06:17] geoand commented on #17197
Can you attach a project that reproduces the issue please?

[2021-05-13 06:22] #17177 closed

[2021-05-13 07:13] yuhaibohotmail commented on #17194
Thanks a lot! I will try again

[2021-05-13 08:00] Shohou commented on #17146
IDE doesn't find TransactionSynchronizationManager for me and googling `TransactionSynchronizationManager quarkus` shows no relevant info

[code]
seems to be what I need
Thank you!

[2021-05-13 08:00] #17146 closed

[2021-05-13 08:07] michalszynkiewicz commented on #17145
@geoand that would be awesome :)

[2021-05-13 08:14] stuartwdouglas commented on #17146
Sorry, I meant javax.transaction.TransactionSynchronizationRegistry

[2021-05-13 08:17] geoand commented on #17145
I'll likely have a look today or tomorrow

[2021-05-13 08:34] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/837849358

[2021-05-13 08:43] vsevel commented on #16453
hi @fmarissel some work has been done on https://github.com/eclipse-vertx/vert.x/pull/3919, which may solve the issue you are reporting.
One thing you could try is upgrade to Quarkus 2.0 alpha, and upgrade vertx as well.
/cc @vietj

[2021-05-13 09:04] antoniomacri commented on #17072
Sorry, my mistake, I did try it on the real project/library but there was a classifier filtering the beans.xml.

I'll close, thanks.

[2021-05-13 09:04] #17072 closed

[2021-05-13 09:33] sberyozkin commented on #17164
@stuartwdouglas there is no policy in effect in this case - it is a no token access to a public resource with no policy around this public resource - so I've opened a linked PR to ensure a policy, if provided, is effective.
As I said above, `401` was returned not because due to some policy but simply because KC authorization was not detecting a `TokenCredential` - which is not consistent with the

[2021-05-13 09:37] sberyozkin commented on #17164
@stuartwdouglas I'm also about to add a test to that PR to verify that if a token is provided then if it is a proactive authentication then KC authz will reject the call unless the public access is allowed

[2021-05-13 09:48] sberyozkin commented on #17164
@stuartwdouglas the fact `401` was caused by a KC authorizer with anonymous requests to public resources with no policy was really a bug IMHO

[2021-05-13 10:18] geoand commented on #17145
I can reproduce this, however I don't see anything in RESTEasy Reactive or the Reactive REST Client that could be causing it.
@jponge @cescoffier I have a reproducer here: https://github.com/geoand/quarkus-quickstarts/tree/quarkus-17145/rest-client-reactive-quickstart

Mind taking a look to see if this is a Mutiny bug or just a misuse of the API?
When debugging I saw that `UniRetryAtMost#onFailure

[2021-05-13 10:55] michalszynkiewicz commented on #17145
the report doesn't mention reactive anywhere, so I'm guessing both clients suffer from it.

FYI, in Quarkus 2.0 it should be possible to use `@Retry` on methods with Mutiny result types

[2021-05-13 10:57] geoand commented on #17145
Sure, but this case seems to me like it should just work.

Also, looking at the stacktrace, it does look like OP used the reactive stack (as did I when I tested Quarkus from main)

[2021-05-13 11:32] geoand commented on #17145
After talking with @michalszynkiewicz I am wondering if this is due to the fact that at a low level, a `CompletableFuture` is used by the client to track the result of HTTP call.
Could that be the reason why `retry` doesn't seem to have the desired effect @jponge @cescoffier ?

[2021-05-13 12:51] kshpak opened #17205 "Dev UI triggers continuous testing on "R" button pressed"
## Describe the bug
Dev UI triggers continuous testing on "R" button pressed. This happens in http://localhost:8080/q/dev/
Even though this can be a feature, but while user editing field in the config
http://localhost:8080/q/dev/io.quarkus.quarkus-vertx-http/config this shouldn't trigger continuous testing

### Expected behavior
Define scope when "R" button should run tests.

### Actual behavior
(

[2021-05-13 12:51] TomasHofman commented on #15383
Hello,

I think it should be possible to configure the rest client by registering a RestClientBuilderListener in the application (things like connection TTL or pool parameters).

[code]
and create META-INF/services/org.eclipse.microprofile.rest.client.spi.RestClientBuilderListener file with the class name of the custom listener in it.

Basically all parameters available in [ResteasyClientBuilder](

[2021-05-13 12:53] tlvlp commented on #17145
according to the [REST client documentation](https://quarkus.io/guides/rest-client#async-support)

so I assume that it must have been working at some point.

[2021-05-13 12:55] sberyozkin commented on #9316
@renegrob Agreed it should be the building blocks only for now. I'll reread the texts for me to contribute better to this discussion, thanks

[2021-05-13 12:57] tlvlp commented on #17145
It seems like a handy workaround for some cases but in our case we need to be able to programmatically set the amount of retires, waiting duration, etc. with each request.

[2021-05-13 12:57] #16697 closed

[2021-05-13 13:40] vsrakesh opened #17206 "maxFramePayloadLength seems to be hardcoded when using WebSocketClient"
## Describe the bug
We are occasionally hitting an exception (shown below) caused due to the payload in a websocket frame being larger than 1280000 bytes while trying to read log messages from a websocket.
Had tried the instructions on setting max-frame-size described in https://github.com/quarkusio/quarkus/issues/7172 without much luck.

Looks like io.undertow.websockets.jsr.WebsocketConnectionBu

[2021-05-13 13:41] #17175 closed

[2021-05-13 13:41] #17195 closed

[2021-05-13 14:09] artkonr opened #17207 "Introduce exponential backoff for @Retry"
## Description

Hey team.

I think, the `@Retry` component misses exponential backoff config: subsequent requests could be retried with the delay between requests increasing exponentially. It will allow more graceful retrying against the target servers which tend to fail more frequently.

## Implementation ideas

Suggestion boils down to adding a new annotation field, such as `backoffRate` with a

[2021-05-13 14:11] argenstijn commented on #17168
A sample maven project is coming

[2021-05-13 14:56] argenstijn commented on #17168
[reproduce.zip](https://github.com/quarkusio/quarkus/files/6473299/reproduce.zip)

I could reproduce it from maven and eclipse.

The class 'ProblemCreator' set the response header

[2021-05-13 15:03] argenstijn commented on #14652
Any update?

[2021-05-13 15:47] Vinche59 commented on #17179
@sberyozkin
@pedroigor
Just also hit that NPE when trying to upgrade to Quarkus 1.13.4.Final (and Keycloak 13.0.0).

As far as I understand the problem, in Keycloak 13.0.0, *PathConfigMatcher* (see below) try to test the Id of the resource but *quarkus-keycloak-authorization* extension do not seems to set it.

[PolicyEnforcer.java](https://github.com/keycloak/keycloak/blob/13.0.0/adapters/oidc/ada

[2021-05-13 15:59] hull90 opened #17209 "getting-started-reactive deprecated code"
Beginner comment here..

the second 'transform' in the demo code of the guide is deprecated

[code]
I tried
[code]
and it seems to work as expected

[2021-05-13 16:04] mkouba commented on #17105
That's because in 1.13+ the container monitors business method invocations in the development mode by default and thus the bean instance of `GreetingService` is an intercepted subclass.

@tassadar81 You can disable the monitoring via [`quarkus.arc.dev-mode.monitoring-enabled=false`](https://quarkus.io/guides/cdi-reference#quarkus-arc_quarkus.arc.dev-mode.monitoring-enabled) but keep in mind that y

[2021-05-13 16:21] geoand commented on #17105
Thanks for the excellent information @mkouba .

So I assume we close this issue?

[2021-05-13 16:26] mkouba commented on #17105
Done ;-).

[2021-05-13 16:26] #17105 closed

[2021-05-13 17:10] pedroigor commented on #17179
@Vinche59 Not sure if a bug. The id should be set based on the resource in the server that matches the path being accessed. Could you share your `application.properties` ? And perhaps export the authorization settings via Keycloak admin console?

But yeah, we should handle that better.

[2021-05-13 17:44] rroopreddy commented on #17197
Uploaded "test-project" with instruction in "README.md"
[test-project.zip](https://github.com/quarkusio/quarkus/files/6474141/test-project.zip)

[2021-05-13 18:08] cescoffier commented on #17145
You must use a supplier of completation state when creating the uni and not a direct completion stage. Otherwise the completion stage cached the value and does not call the service again.

[2021-05-13 18:10] geoand commented on #17145
Thanks @cescoffier .

I'll fix it tomorrow according to your input

[2021-05-13 18:35] #17130 closed

[2021-05-13 19:07] EricTing commented on #17153
Yes. I recently updated to 1.13 and quarkus-rest-client-reactive effectuated.
Previously it was blocking https://github.com/quarkusio/quarkus/issues/3084

[2021-05-13 19:08] EricTing commented on #17153
Thanks, let me try it out. May come back later to this issue.

[2021-05-13 19:11] evanchooly commented on #10493
#16842 fixes this

[2021-05-13 19:11] #10493 closed

[2021-05-13 19:47] geoand commented on #17145
I gave it a shot, but now I see that when the retry is made, it is done on a Thread that does not have a TCCL set, which results in:

[code]

Does that ring a bell?

[2021-05-13 19:57] michalszynkiewicz commented on #17145
the TCCL thing, isn't it the Vertx 4 bug that the TCCL is cleared?
https://github.com/eclipse-vertx/vert.x/issues/3900

[2021-05-13 20:06] geoand commented on #17145
Good point, very likely. @cescoffier can you verify that it's the same issue?

[2021-05-13 20:54] #14022 closed

[2021-05-13 20:55] hrstoyanov opened #17213 "Qurakus Dev mode crash"
## Describe the bug
@radcortez
The JVM crashes on starting in Quarkus Dev mode. This could be due to changes in smallrye config in Quarkus 1.13.4.FInal
and is a follow up to issues: #14847
Also see [zulip chat](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Quarkus.201.2E13.2E3.2EFinal.20issue/near/237205212)

This could be due to the latest change in smallrye config (included i

[2021-05-13 21:00] pedroigor commented on #17179
Created https://issues.redhat.com/browse/KEYCLOAK-18111.

[2021-05-13 21:29] michalszynkiewicz commented on #17207
cc @Ladicek

[2021-05-14 00:26] stuartwdouglas commented on #17168
BTW @PreMatching does nothing on response headers (which was why I could not reproduce it, I thought you were talking about request headers).

[2021-05-14 00:53] stuartwdouglas opened #17217 "Keycloak Devservices"
We should add support for Keycloak devservices in 2.0, but we need to figure out exactly how this should work.

Requirements:
- It should be possible to use keycloak with zero config for dev and tests. This will have a default realm with an admin and a normal user.
- dev/test users and roles can be specified in application.properties for simple use cases
- keycloak json file can be used for a cust

[2021-05-14 00:54] stuartwdouglas commented on #17217
CC @sberyozkin @pedroigor

[2021-05-14 00:55] stuartwdouglas commented on #17145
It looks like the same issue.

[2021-05-14 05:14] phillip-kruger commented on #17205
Fixed in #17203

[2021-05-14 05:14] #17205 closed

[2021-05-14 05:27] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/841127288

[2021-05-14 05:40] stuartwdouglas commented on #17213
Did it generate a dump file that shows what the threads were doing when it crashed?

[2021-05-14 06:49] Ladicek commented on #17207
This is tracked in https://github.com/smallrye/smallrye-fault-tolerance/issues/394, where I suggest a different approach. I still think `@Retry` is overcrowded, so would add backoff strategies as additional annotations.

[2021-05-14 07:07] geoand commented on #17209
Thanks for reporting.

This has already been fixed in the `main` branch and you can see the result at: https://quarkus.io/version/main/guides/getting-started-reactive

[2021-05-14 07:07] #17209 closed

[2021-05-14 07:39] TomasHofman commented on #15383
@skasten @ambition-consulting would something like https://github.com/quarkusio/quarkus/pull/17220 help?

[2021-05-14 07:49] dtungbmw commented on #13667
but why?

[2021-05-14 08:00] ambition-consulting commented on #15383
I will implement and test today.
*--*
John-Paul Cunliffe, ambition.consulting <http://www.ambition.consulting>
*Simplicity is the soul of efficiency. (Austin Freeman)*

Dorothea-Schlegel-Straße 20
61130 Nidderau
Germany

Java+Kotlin/Spring, Actionscript/Flex, Dart+Typescript/Angular, Scala/Play
- Software Developer, Requirements Analyst, Architect and DevOops

+ 49 (0) 151 61510016
<+49%201516%201

[2021-05-14 08:11] essobedo commented on #10298
A potential PR for this https://github.com/quarkusio/quarkus/pull/17184

[2021-05-14 08:24] #14842 closed

[2021-05-14 08:25] pjgg opened #17222 "quarkus-keycloak-authorization extension allow access to a protected resource"
## Describe the bug

Quarkus Version: `2.0.0.Alpha1, 2.0.0.Alpha2`
Extension: `quarkus-keycloak-authorization`
Reproducer: over [this project](https://github.com/pjgg/quarkus-openshift-test-suite/tree/feat/upgrade_2x) you can run the following command: `mvn -B -V clean verify -fae -Dversion.quarkus=2.0.0.Alpha2 -pl app-metadata/deployment,app-metadata/runtime,common,security/keycloak-authz -Dts.au

[2021-05-14 08:27] fbuetler opened #17223 "Custom native container runtime options are overwritten"
## Describe the bug
When building a quarkus application as a native image with version 1.12.1 and above it fails due to a change in the container runtime option order. This change happened in [PR 15288](https://github.com/quarkusio/quarkus/pull/15288/files).

**Up to and with 1.12.0** custom native container runtime options were placed after default options e.g.

[code]

resulted in `docker run --

[2021-05-14 08:31] fbuetler commented on #17223
I disagree with the label `env/windows` set by the quarkus-bot. It should be `env/linux` (if this labels exists) or rather `env/graalvm-java11 `.

[2021-05-14 08:32] geoand commented on #17222
cc @sberyozkin

[2021-05-14 08:32] MarcusBiel opened #17224 "Different Logging levels / filter possibilities for RestEasy"
Our backend running on prod often gets some weird requests (Wrong http method, or http instead of https and trying to find wordpress or robots.txt and so on) from bots or wannabe-hackers.
Each time an error is logged and this polutes our logging.

I don't think it would be wise to entirely turn of logging for the relevant classes.
Best might be to log this in DEV, but not log this on PROD.

https:

[2021-05-14 08:33] geoand commented on #17224
@asoldano, @ronsigal is this something that is possible in RESTEasy?

[2021-05-14 08:38] Sgitario commented on #17222
This issue is duplicated by https://github.com/quarkusio/quarkus/issues/17164
cc @sberyozkin

[2021-05-14 08:41] Vinche59 commented on #17179
@pedroigor
Actually I just try to exclude some path from enforcement directly in application.properties:

[code]
and thus I don't have any authorization settings for that specific path in Keycloak.

I created a reproducer here : https://github.com/Vinche59/quarkus-keycloak-npe.git

* mvn -P1.13.3 clean verify -> will run with Quarkus 1.13.3.Final and Keycloak 12.0.4 and the tests will succeed

* m

[2021-05-14 08:46] Vinche59 commented on #17179
@pedroigor
Hum... disregard my last comment... I didn't see you already have implemented a fix for that ... :-)

[2021-05-14 08:47] #17222 closed

[2021-05-14 08:53] Sgitario commented on #17164
@sberyozkin to sum up, using the keycloak-authz extension, we need to explicitly define the policies for the resources which is the major change as from now on, when no explicit policies about the resources, all the resources are considered public, right? However, the behaviour we were observing is:

[code]

When it should be:

[code]

Can you confirm the above for further clarification?
Thanks in

[2021-05-14 09:02] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/841135442

[2021-05-14 09:32] sberyozkin commented on #17217
@stuartwdouglas This set of requirements looks complete for a start - we'd use a KC Admin API to prepare a default realm with users/clients/roles/etc.
- At the Quarkus level we support SPAs acquiring KC tokens and sending them to Quarkus as bearer tokens
- User authentication using the code flow

So, perhaps we can follow up with
- Have a JWT token test console - a token is requested from KC and p

[2021-05-14 10:22] pedroigor commented on #17179
@Vinche59 Thanks. There is a workaround in that issue.

[2021-05-14 10:29] Sgitario opened #17226 "Regression Issue in 1.13.4.Final: Keycloak + Authz fails to start with Null Pointer Exception"
## Describe the bug
Having a module that worked fine when using `1.13.3.Final`, now using `1.13.4.Final` fails when invoking a resource.

Quarkus Extension:

[code]

Resource:

[code]

Properties:

[code]

When running the application and invoking the `/user` resource, it fails with a null pointer exception:

[code]

Previously, the undeclared endpoints were considered secured and we didn't need t

[2021-05-14 10:30] Sgitario commented on #17226
cc @sberyozkin I see the behaviour of the Keycloak Authz is different in 1.13.4.Final and 2.x (see related issue https://github.com/quarkusio/quarkus/issues/17164).

[2021-05-14 10:33] sberyozkin commented on #17226
@Sgitario Hi, it is a duplicate, but it is good it has been independently reproduced

[2021-05-14 10:38] sberyozkin commented on #17164
Sorry, missed this last comment, let me check

[2021-05-14 10:39] loicmathieu opened #17227 "Enable the mongodb-client, mongodb-panache, mongodb-panache-kotlin and the mongodb-rest-data-panache IT on Windows"
## Description
mongodb-client, mongodb-panache, mongodb-panache-kotlin and mongodb-rest-data-panache integration tests has been disabled on Windows, may be due to issue with starting MongoDB via flapdoodle on windows.

## Implementation ideas
Re-enable them and fix the issue with sarting MongoDB somehow ...

[2021-05-14 10:44] sberyozkin commented on #17164
@Sgitario

Absolutely not.

Your test uses a public endpoint, not requiring any authentication, and no policies set up.
So the only difference is that before you were 401 with anonymous request accessing a public resource - which is wrong and not consistent with the rest of Quarkus Sec.
Now for this case to get `401` you need to set a policy - same as with HTTP policy - please see a linked test in

[2021-05-14 10:49] sberyozkin commented on #17164
@Sgitario

To sum up - if the token is provided then keycloak-authorization, with the proactive authentication will always check it - irrespective of whether the endpoint requires authentication or not.

If the token is not provided:
- if the endpoint requires authentication - then it is a not a job of KC authorization to handle it - it will blocked by quarkus-oidc or other auth mechanism
- if the

[2021-05-14 10:53] Sgitario commented on #17164
Thanks for the clarification!

[2021-05-14 10:53] Sgitario commented on #17226
@sberyozkin Which is the duplicated issue?

[2021-05-14 10:57] sberyozkin commented on #17164
Hi @Sgitario No problems at all, let me close this issue now - please reopen as soon as you have some concerns or observer it differently but I'm 99.9% confident you will confirm the above is true with your own tests - it is all tested now in `main` as well :-)

[2021-05-14 11:01] artkonr commented on #17207
Hm, good point, @Ladicek.

Just had a look at the ticket you mentioned in the smallrye tracker. I totally agree that there are already too many config items in the annotation, but IMHO, adding custom annotations may be a bit too wordy and confusing.

I myself would approach this by allowing a sort of a `RetryConfig` interface, which could have a single method like `calculateEffectiveDelay()`. `Fix

[2021-05-14 11:01] sberyozkin commented on #17226
@Sgitario Please see #17226

[2021-05-14 11:02] Sgitario commented on #17226
Thanks, closing this one then.

[2021-05-14 11:02] #17226 closed

[2021-05-14 11:08] tassadar81 commented on #17105
thanks @mkouba!

[2021-05-14 11:08] sberyozkin commented on #17226
@Sgitario thanks, see the workaround therein the description

[2021-05-14 11:21] Ladicek commented on #17207
Yea, using an interface like this was also one of the options discussed in MicroProfile Fault Tolerance. See e.g. https://github.com/eclipse/microprofile-fault-tolerance/issues/220#issuecomment-634065128

There are just too many moving parts :-)

[2021-05-14 11:22] mkouba commented on #17105
yw! :-)

[2021-05-14 11:28] pedroigor commented on #17217
@stuartwdouglas @sberyozkin The requirements look good. Some additional comments:

* Clients. The client is necessary to enable the app to access Keycloak. Depending on the `oidc` configuration, we create either a public or confidential client. Here, I think we should be able to infer both the client id and secret from the config. In the case, of multi-tenancy, the same thing but iterating over al

[2021-05-14 11:32] ctron commented on #13114
I just ran into the same issue. Is there any solution to this?

[2021-05-14 11:57] mkouba opened #17229 "gRPC - generate a Mutiny service class to simplify UX"
Currently, a gRPC service is defined as a CDI bean (annotated with `@GrpcService`) and the bean class must extend a generated implementation base class, e.g. `public class HelloService extends GreeterGrpc.GreeterImplBase {}` or the Mutiny version: `public class HelloService extends MutinyGreeterGrpc.GreeterImplBase {}`. However, it's not very clear (esp. for a beginner) which class needs to be ext

[2021-05-14 11:57] mkouba commented on #17229
CC @Ladicek

[2021-05-14 12:01] Ladicek commented on #17229
I thought about generating an interface because that would make it super straightforward to understand what you need to implement. We could then wire it with the generated superclass in some way.

(For example, if the user-written class doesn't extend anything, we could just transform its bytecode to extend the generated superclass, which should be fine, as the interface would prescribe the same m

[2021-05-14 12:09] mkouba commented on #17229
Well, if we choose option 1 - `class GreeterService implements BindableService` - then it's also very clear because you need to implement the abstract methods. Of course we could do all kinds of magic but I'd rather avoid this kind of class transformation...

[2021-05-14 12:12] Ladicek commented on #17229
There a couple of options how to wire things. Another one is, in the generated class, look up the implementation of the interface and forward method invocations to it.

What I'd be more interested in is, how to provide the best user experience :-)

[2021-05-14 12:22] mkouba commented on #17229
In my opinion, we should not try to hide everything from the user (aka "too much magic may hurt"). It should be clear 1) what class/interface to extend/implement, 2) which service methods to implement. In fact, since we control the `MutinyGrpcGenerator` we could just rename the `MutinyGreeterGrpc.GreeterImplBase` and extract it to a top-level class and be done.

[2021-05-14 12:36] artkonr commented on #17207
Thank you for the info, @Ladicek. Just wanted to clarify: the main obstacle in adopting the strategy-based approach is the expected complexity of it, correct?

Also, I think that this strategy-based approach has another benefit: options like `jitter` could be included into this config item.

[2021-05-14 13:07] Ladicek commented on #17207
Complexity, as well as a deviation from a fully declarative approach we're pursuing with annotations. (I have a programmatic API for SmallRye Fault Tolerance in mind, where this would be more natural. It hasn't been a priority, so far.)

[2021-05-14 13:10] RobinGoussey opened #17231 "Quarkus multi module projects should use the compiled source, instead of downloading it from nexus (or local .m2 folder)"
## Describe the bug
(Describe the problem clearly and concisely.)

So currently, we have a git repo, with (altered names)

- model (quarkus extension, all dao and model classes)
- service (quarkus extension, all service classes)
- http (quarkus extension, All rest endpoints)
- application
- aggregator

Currently when maven -f aggregator clean verify runs it's tests, it shows:
[code]
But all of the

[2021-05-14 13:19] artkonr commented on #17207
OK, got it, thanks a lot! Should I close this item here, since the discussion is already under way elsewhere?

[2021-05-14 13:38] Ladicek commented on #17207
I don't really mind -- feel free to leave this open, so that anyone can track this on the Quarkus level.

[2021-05-14 13:39] radcortez commented on #17213
I've tried to reproduce with the steps described, but everything worked for me. It would be great if you could provide us the dump files.

[2021-05-14 13:49] radcortez commented on #17213
Nvm, I was able to reproduce it. Let me have a better look.

[2021-05-14 13:54] antoniomacri commented on #9063
Closing, it's fixed.

[2021-05-14 13:54] #9063 closed

[2021-05-14 14:43] radcortez commented on #17213
Here is the actual issue:

[code]

It seems that `snakeyaml` is not able to parse your YAML file. Because the `Config` instance is loaded before the application (and fails) the JVM just exists. I can probably adjust the YAML reader to log the exception instead of failing all together.

A way for you to see the exception for now is to just run the application jar (don't add the yaml file in the bui

[2021-05-14 14:54] pmlopes commented on #9316
@renegrob the vert.x module already covers the 4 items:

* JS: https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-webauthn/src/main/js/vertx-auth-webauthn.js
* Registration + Login: https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/WebAuthnHandler.java
* Persistence of token data: https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth

[2021-05-14 14:58] pjgg opened #17234 "Building native images with quarkus-opentelemetry extension throw a Random/SplittableRandom initialized error at build time"
## Describe the bug
QuarkusVersion: Upstream
Extensions: quarkus-opentelemetry, quarkus-opentelemetry-exporter-jaeger
Reproducer: https://github.com/quarkus-qe/beefy-scenarios
Command: `mvn clean verify -Dnative -pl 300-quarkus-vertx-webClient -Pnative -DskipTests`

Error at native build time:

[code]

Similar issue ref: https://github.com/quarkusio/quarkus/issues/14904

If we remove open telemetr

[2021-05-14 15:32] #16988 closed

[2021-05-14 15:42] hrstoyanov commented on #17213
Thanks @radcortez !
I can see the slight misalignment in my encryption section that is causing this ... Damn YAML!
If you think you can fix Quarkus to be more vocal and show the exception, that would help!

[2021-05-14 15:43] kenfinnigan opened #17236 "Improve Agroal error message when Docker is not running"
## Description

When running the `io.quarkus.agroal.test.DevServicesH2DatasourceTestCase` test in the Agroal extension, it fails with the following error:

[code]

As I'd been changing the internals of Quarkus, I was worried I'd broken something that was causing the issue.

After trawling through Agroal code to see what it was doing, and not understanding why a JDBC URL wasn't present, I went back

[2021-05-14 15:54] radcortez commented on #17213
Yes, I'll try to figure something about it.

[2021-05-14 16:33] dhoffer opened #17237 "Quarkus has a NPE in CDI logic trying to provide a TransactionManager"
In testing with 1.13.2.Final I found that Quarkus has a NPE in its CDI logic trying to provide a TransactionManager.

[code]

[2021-05-14 16:35] hrstoyanov commented on #17213
@radcortez
The proble is that when I run the app I get no errors at all:
[code]

The silent JVM crash only happens when I use DEVMODE in my IntelliJ setup, which launches the app via Gradle:
![image](https://user-images.githubusercontent.com/5327044/118301298-bf735480-b497-11eb-8719-9f81135627c5.png)

[2021-05-14 16:38] radcortez commented on #17213
Because `-D` system properties with `java` command need to be passed before `-jar`.  Try flipping the arguments.

[2021-05-14 16:39] gastaldi commented on #17237
Please attach a reproducer project if possible

[2021-05-14 16:42] hrstoyanov commented on #17213
Aaargh .. you are right!
[code]

does show the real issue!

[2021-05-14 16:43] radcortez commented on #17213
Great!

[2021-05-14 16:44] hrstoyanov commented on #17213
Yes, I should have figured it out myself ... thanks for helping out with this, hopefully you can do something about it being more obvious why/when it fails in dev mode.

[2021-05-14 16:46] radcortez commented on #17213
Yes , I'll have a look. Sorry for the inconvenience.

[2021-05-14 16:50] ambition-consulting commented on #15383
No luck, still getting the error - but maybe less frequent:

`com.fiserv.apm.error.ProcessingException: javax.ws.rs.ProcessingException: RESTEASY004655: Unable to invoke request: java.net.SocketException: Connection reset
	at com.fiserv.apm.error.ProcessingException$Builder.build(ProcessingException.java:73)
	at com.fiserv.apm.error.ProcessingException$Builder.buildUnknownCommunication(ProcessingE

[2021-05-14 18:33] dhoffer commented on #17237
I have just learned that this error occurred during an app shutdown.  Quarkus might still want to prevent the NPE but since the app is going down anyway its not critical for us to resolve as I first thought.

[2021-05-14 19:15] aruffie commented on #5016
I confirm too, I have the bug here: https://github.com/quarkiverse/quarkus-univocity-parsers/pull/3/commits/5321516c5126adf349e9e7f060bfbf46883c6cbd   the timezone is different between my non-native test phase and the native test phase. I think the "-H:+IncludeAllTimeZones" isn't take in account

[2021-05-14 19:30] dhoffer commented on #17237
Unfortunately I don't have that.  I don't know how to recreate this in a
small simple app.  I have only seen this once in a large app.  Hopefully
the stack trace will show what was null.

On Fri, May 14, 2021 at 10:40 AM George Gastaldi ***@***.***>
wrote:

[2021-05-14 20:54] michalszynkiewicz commented on #12392
out of date

[2021-05-14 20:54] #12392 closed

[2021-05-14 21:03] alexlitovsky opened #17242 "Undertow handler for gzip compression"
## Would be great to have an Undertow handler for gzip compression.

Currently, Quarkus only supports this through RestEasy for REST endpoints.  However, there is no way to do this for servlet-based apps.

## Implementation ideas

It looks like Undertow in WildFly supports this:  https://docs.wildfly.org/22/wildscribe/subsystem/undertow/configuration/filter/gzip/index.html
Not sure if this is an e

[2021-05-14 21:08] sberyozkin commented on #17182
@bertrandp Please try `1.13.4.Final` which has been released.
My guess is that it is not a bug - just happened that for ex KC docker image has not loaded in time.
You can control it with `quarkus.oidc.connection-delay`.
Also, in `1.13.3.Final` Quarkus would start without trying to recover when even after `quarkus.oidc.connection-delay` KC is not available - but in `1.13.4.Final` it will attempt to

[2021-05-14 21:59] dhoffer opened #17244 "idle-removal-interval & max-lifetime not honored"
In testing with 1.13.2.Final we will occasionally get hundreds of these statements in the logs.

[code]

What we observe is that this causes our DB connections to spike and hit our maximum number of DB connections.

Then we get errors:
[code]

But we are convinced this is caused by the prior issue.

Also we have noted that the following datasource jdbc settings do not terminate/drop the maxed out

[2021-05-15 00:48] GeauxEric commented on #17153
Thanks for the pointer.
Adding my own `ResponseExceptionMapper` works.

Sharing my code snippet here:

[code]
Pls feel free to close this ticket.

[2021-05-15 05:37] #17153 closed

[2021-05-15 08:33] ntrp commented on #14601
Hello, amazing feature but is there any way we can upload multiple attachment with the same name? I mean an attachment list.

[2021-05-15 08:40] geoand commented on #14601
Hi,

What would thag look like on the client side? I mean what would the browser or cURL send?

[2021-05-15 11:26] sberyozkin commented on #17164
@Sgitario Hey Jose, I've decided to reopen it as it appears that some uncertainty still persists around it and I don't want to give an impression I'd just like to move on past the real issue :-). I'd like to add more clarity here and give QE more time to test/verify the above summary and challenge it.

So as we've already touched on it a few times above, the only difference you can now observe wit

[2021-05-15 14:11] ntrp commented on #14601
Well simply the same field name multiple times, like I would send multiple times the form field `attachments`. In spring webflux for example this allows to bind a Flux<FilePart> in the controller, in this case it might be List<FileUpload>.

An example curl command would be:
[code]
I can see if I can create a pull request, if anybody can point me to the right files without me having to search for t

[2021-05-15 14:19] ntrp commented on #14601
Just for extra clarity this would generate a body like this:
[code]

[2021-05-15 14:33] devauxbr commented on #16602
Hello

I have encountered the exact same issue while upgrading my WebSocket Quarkus app to 1.13+
I don't use Kotlin, but my app relies on a custom `HttpAuthenticationMechanism`. I managed to create a [minimalistic bug reproducer here](https://github.com/devauxbr/quarkus-websocket-auth)

I've been quickly digging through the new quarkus-websocket extension source code. From what I understand, the o

[2021-05-15 14:39] devauxbr commented on #16602
FWIW I think (guess would be a better phrasing) the work involved in resolving this issue might also be an opportunity to resolve this issue as well ?
https://github.com/quarkusio/quarkus/issues/13565

[2021-05-15 14:53] ntrp commented on #14601
Ok nevermind, I think I found already the answer to my question https://github.com/ntrp/quarkus/commit/18946b7cf40772a75b05a5b1a8c0f3a7f4156b0e, thanks again ^^'

[2021-05-15 15:16] geoand commented on #14601
Indeed https://github.com/quarkusio/quarkus/pull/17039 adds the ability to capture all uploaded files (docs for the `main` branch are [here](https://quarkus.io/version/main/guides/resteasy-reactive#handling-multipart-form-data)).

So essentially what you are asking for is to support:

[code]

correct?

If so, can you please open an issue?

[2021-05-15 15:30] geoand commented on #17242
cc @stuartwdouglas

[2021-05-15 15:34] ntrp opened #17246 "Multipart file upload, bind files with same field name to the specified field"
## Description

Currently in master [this](https://github.com/quarkusio/quarkus/pull/17039) commit added support for capturing multiple file uploads into a list with the caveat that the @RestForm value should not be set. In my opinion we should implement instead the possibility to set a name to group file uploads into two different fields.

## Implementation ideas

For example if I have a form poj

[2021-05-15 15:34] ntrp commented on #14601
I created this one https://github.com/quarkusio/quarkus/issues/17246

[2021-05-16 02:47] yuhaibohotmail commented on #17195
The problem has been solved in last  snapshot，but  it appears in the Continuous Testing.

[code]

[2021-05-16 06:37] essobedo commented on #9300
A potential fix for this issue https://github.com/quarkusio/quarkus/pull/17248

[2021-05-16 06:59] cescoffier commented on #17229
An interesting thing in gRPC: implementations do not have to implement all the methods.... gRPC has a specific error for this case. Now, I'm would not mind not supporting this rather odd case, or make the user explicitly throw an `UnsupportedOperationException` (which we would map to the gRPC error).

In terms of user-friendliness, I would go for an interface. First, it allows implementing multipl

[2021-05-16 07:03] cescoffier commented on #17183
Definitely something we can add. We just need to check where things need to be wired.

[2021-05-16 07:04] cescoffier commented on #17038
The important part is the ability to add features to this new extension such as ACME, revocation, and so on. Adding that Today would require changing multiple extensions. So, yes, more work, but somewhat better in the long term.

[2021-05-16 07:14] essobedo commented on #16932
After some investigation, I confirm that System properties is the worse enemy of the parallel build because of plugins like surefire that relies on the method `System.setProperties` which can erase System properties that could have been set by the Quarkus maven plugin in a middle of build.

I will try to investigate more this week to propose a PR soon

[2021-05-16 07:55] geoand commented on #17038
If we do have a single TLS extension, what would configuration look like if a user needs to configure a certificate for listening on HTTPS and also a trust store for the rest client (to call a downstream service)?

[2021-05-16 10:18] alexander-dammeier opened #17249 "Quarkus 2.0.0.Alpha2 continous testing not working with kotlin kapt plugin"
## Describe the bug
My code uses the kotlin arrow lib which can optionally use kotlin kapt. Continous testing in quarkus 2.0.0.Alpha2 does not work with kapt enabled but it works with quarkus 1.13.4.Final.

### Expected behavior
continous testing will work fine with kapt.

### Actual behavior
Continous testing fails with following error:
[code]

## To Reproduce
[A small reproducer](https://github.

[2021-05-16 13:26] MartinX3 opened #17251 "Using kotlin enums as resteasy reactive jackson params fails"
## Describe the bug
I am unable to use kotlin enums as query params with resteasy reactive jackson
I found this, but the author didn't make a bug report.
https://stackoverflow.com/questions/67063480/using-enums-as-query-params-in-resteasy-reactive-quarkus

### Expected behavior
Usable enum params like with reseasy jackson without reactive.

### Actual behavior
I am forced to use the resteasy jacks

[2021-05-16 13:52] MartinX3 commented on #4394
Dear @evanchooly
Do you have any news?
Currently I need to mix
`io.quarkus.hibernate.orm.panache.kotlin.PanacheEntityBase`
and
`io.quarkus.hibernate.orm.panache.PanacheRepositoryBase`
to get a working project.

[2021-05-16 13:53] MartinX3 commented on #5691
@gsmet
You added the 2.0 milestone
Does this mean I need to wait for 2.0? :)

[2021-05-16 14:57] MartinX3 opened #17253 "Using jvmTarget 11 and kotlin the postgreSQL usage fails"
## Describe the bug
Using the jvmTarget 11 and kotlin the query of objects from the database fails.
jvmTarget 1.8 works fine.

### Expected behavior
A list of DB objects.

### Actual behavior
Error
[code]

## To Reproduce
[quarkus-kotlin-java-11-db-error.tar.gz](https://github.com/quarkusio/quarkus/files/6489411/quarkus-kotlin-java-11-db-error.tar.gz)

Steps to reproduce the behavior:
1. Execute `

[2021-05-16 15:34] Sanne opened #17254 "FSWatchUtil should assign a good name to the threads it starts"
## Description

Apparently `FSWatchUtil` starts an `Executor`, but the threads this is spawning have name patterns like `pool-406-thread-1`.

It would be highly preferreable for all of our components to specify a good name for threads which are being started, to help with diagnostics.

[2021-05-16 16:29] cescoffier commented on #17038
I guess it would use the "named" bucket:

[code]

`my-rest-service` would match the `configKey` of the rest client.

[2021-05-16 16:56] MartinX3 opened #17255 "QuarkusTest does not work with the kotlin PanacheRepositoryBase from quarkus-hibernate-orm-panache-kotlin"
## Describe the bug
Executing the junit tests results in `Failed to initialize Arc`

### Expected behavior
Running junit tests with success (Possible if I remove @QuarkusTest)

### Actual behavior
Using @QuarkusTest kills the junit test.

## To Reproduce
[quarkus-kotlin-panache-quarkustest-error.tar.gz](https://github.com/quarkusio/quarkus/files/6489624/quarkus-kotlin-panache-quarkustest-error.tar

[2021-05-16 17:30] cescoffier opened #17256 "Hibernate Reactive / Reactive Messaging Transaction issue on constraint violation"
## Describe the bug

I have a very simple application using RestEasy Reactiv, Reactive Messaging (no connector, just plain in-memory), and Hibernate Reactive with PostgreSQL.

My application has an endpoint doing this:

[code]

Basically, it gets a `Person` and sends it to the `database` channel.

The `database` channel is read as follows:

[code]

Everything works fine until I add a constraint in

[2021-05-16 17:31] cescoffier commented on #17256
CC @tsegismont as it may be something in the PG client.

BTW, it uses Panache.

[2021-05-16 17:37] SivaTharun commented on #17254
@Sanne can i work on this issue, i see that the method `observe` with in the `FSWatchUtil` class, is instantiating a single thread executor, so one worker thread of thread pool size -1 , will be started.

what is the expectation regarding the naming conventions of the pool thread

[2021-05-16 20:08] famod commented on #17231
Thanks for reporting this.

Can you please provide a reproducer? That would speed things up a lot and would avoid misunderstandings. Thanks!

Also, can you please add:
- Quarkus version
- Maven and Java versions
- Operating system

[2021-05-16 20:40] Sanne commented on #17256
the 'MutinySession' should not be reused after an exception happened: it
should be closed.

On Sun, 16 May 2021, 18:31 Clement Escoffier, ***@***.***>
wrote:

[2021-05-16 20:58] famod commented on #16862
@fabasoad For non-Final releases you have to use `quarkus-bom` instead of `quarkus-universe-bom`: https://mvnrepository.com/artifact/io.quarkus/quarkus-bom

Having said that, you don't need to wait for Quarkus 2 to apply that `argLine` workaround I mentioned previously.

[2021-05-16 21:21] corepdk opened #17260 "Oidc extension gives 401 after approximately 30-40 seconds on public endpoint"
I have a quarkus app using the oidc/keycloak extension and it has been working fine for the past year or so.
After upgrading to 1.13.4 it suddenly starts giving me 401-unauthorized after app. 30-40 seconds after restarting the quarkus app. It does not happen when using 1.13.3, so i am pretty sure it is introduced in 1.13.4. If i downgrade to 1.13.3 it keeps working, but 1.13.4 stop working after r

[2021-05-16 21:49] sberyozkin commented on #17260
@corepdk Can you please get the `1.13.4.Final` source and rebuild it with `bom/application/pom.xml` updated to have `keycloak.version` set to `12.0.4` ?

[2021-05-16 23:21] stuartwdouglas commented on #17242
You can do:

`quarkus.http.enable-compression=true`

to enable compression globally. We need a way to enable this per request in vert.x

[2021-05-16 23:28] stuartwdouglas commented on #17038
IMHO it should be like databases, where there is a default unnamed one (one for client, one for server), and then you can specify named ones if you need more flexibility.

[2021-05-16 23:41] stuartwdouglas commented on #17237
There is not much we can do about this, if you shut down a node while work is going on you can eventually get all kinds of errors, as the framework is being torn down around your running work. It would be better if this particular error was 'container is shutting down' rather than NPE, but the end result will be the same.

[2021-05-16 23:46] stuartwdouglas commented on #17237
So I had a look, and this seems to require a very specific race, where basically we have code that looks like:
[code]
If the container is shut down after the requireRunning() call, but before the scope is returned this method may return null.

In this case we could fix it by doing the read before the check, but you will pretty much also have the potential to get these issues if you shutdown while

[2021-05-16 23:48] stuartwdouglas commented on #17237
@mkouba I don't think there is much we can do about this, what do you think?

[2021-05-17 00:15] stuartwdouglas commented on #17236
https://github.com/quarkusio/quarkus/pull/17219

[2021-05-17 01:47] gsmet commented on #17071
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/null/actions/runs/848164749

[2021-05-17 01:55] dhoffer commented on #17237
Yeah I agree that a container is being shut down error is preferred as it's
obvious what is going on then.  In this case I did not know that at first.

But this raised another question.  Should we be doing something to manage
an orderly shutdown?  Does the container have a hook we should be using
when we shut down the app?

Dave

On Sun, May 16, 2021, 5:48 PM Stuart Douglas ***@***.***>
wrote:

[2021-05-17 02:05] stuartwdouglas commented on #17237
If you set `quarkus.shutdown.timeout` Quarkus will wait for current requests to be done before initiating shutdown (up till the timeout).

At the moment this is only implemented for HTTP requests, so it won't work for message based systems. We can definitely improve this, but so far we just have not had anyone ask for it.

[2021-05-17 02:14] #973 closed

[2021-05-17 02:39] stuartwdouglas commented on #17231
Nothing we can really do here, this is just how maven works. Just run `mvn quarkus:dev` from the top level to work around it.

[2021-05-17 02:53] stuartwdouglas commented on #17197
I think this is an issue with https://github.com/datastax/cassandra-quarkus

Basically it is not using the correct ClassLoader, instead of using the TCCL it appears to be using its own ClassLoader. I think the fix may be to add a getClassLoader method to `com.datastax.oss.quarkus.runtime.internal.context.QuarkusDriverContext` that always returns the TCCL, but I don't know enough about the extensio

[2021-05-17 02:53] #17197 closed

[2021-05-17 03:35] stuartwdouglas commented on #15075
Is there any chance you are using async JAX-RS, and it is timing out?

[2021-05-17 05:19] geoand commented on #17038
I must be missing something, but if we do use a default one, how do you determine where it applies?

[2021-05-17 05:27] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/848552346

[2021-05-17 05:46] cescoffier commented on #17038
For servers, we can either use a default one + custom ones
[code]

Or we define a default name for all extensions (`http`, grpc`...).

The first approach would allow reusing configuration between servers (which would also be possible using names).

[2021-05-17 05:50] stuartwdouglas commented on #17038
It would apply everywhere that has enabled SSL and has not explicitly specified a named context.

[2021-05-17 05:52] cescoffier commented on #17256
Oh thanks!
So, basically `Panache.withTransaction()` is not really usable.

[2021-05-17 05:54] geoand commented on #17038
Ah, OK. I was missing the `enabled` part and thinking it would apply everywhere...

[2021-05-17 06:04] stuartwdouglas commented on #17217
I think we need more than one fixed use. We can't rely on the admin console for anything, as KC is restarted when Dev mode is restarted, so any changes would be lost.

[2021-05-17 06:04] cescoffier commented on #17256
I get the same behavior with:
[code]

I always get the same session object.

Also, `close` does not seem to _close_:

[code]

`isOpen` is always true. I would have expected it to be `false`.

[2021-05-17 06:42] RobinGoussey commented on #17231
Well, I created a quick reproducer here:
https://github.com/RobinGoussey/quarkus-issue--17231

Basically, all our branches run on jenkins with a mvn clean verify, just to not corrupt other builds later on the system that might use the build artifacts (x-SNAPHSOT).

This is without the application and just the extensions, but it gives the same errors.

The same happens when I use:
[code]
Is this ex

[2021-05-17 06:56] albert0815 commented on #17260
It seems we are suffering from the same issue. Happens on accessing health endpoint.

[2021-05-17 07:45] Sgitario opened #17266 "Support injection of `@ConfigMapping` in fields"
## Description
Using Smallrye Config, we can inject properties using the `@ConfigMapping` annotation into fields. Example:

[code]

Where the Server class is:

[code]

Full example in Smallrye Config in here: https://github.com/smallrye/smallrye-config/blob/main/cdi/src/test/java/io/smallrye/config/inject/ConfigMappingInjectionTest.java

When trying to do the same in Quarkus, it fails to load usin

[2021-05-17 07:52] mkouba commented on #17237
So the exception that bubbles to the user is `java.lang.RuntimeException: Error injecting javax.transaction.TransactionManager io.quarkus.narayana.jta.runtime.interceptor.TransactionalInterceptorBase.transactionManager` and the NPE is just the cause, right?

Exactly, I don't think it would help much because we'll likely hit the same problem a bit later...

@dhoffer I can see the `java.util.concurr

[2021-05-17 08:04] mkouba commented on #17266
CC @radcortez

[2021-05-17 08:08] loicmathieu commented on #17266
You don't need to use `@ConfigMapping` at the injection point but only `@Inject`.
Without it, it should works

[2021-05-17 08:09] Ladicek commented on #17229
Right. I wanted to add one more thing. When I said "the best user experience", I wasn't talking about magic (though my previous implementation suggestion definitely was "magic" -- though I acknowledged that it isn't universal, so it's basically useless, because another one needs to be devised anyway). I was talking about proper abstraction. Inheriting from an abstract class that exposes a ton of i

[2021-05-17 08:13] Sgitario commented on #17266
I've updated the description to state that the `Server` class is not annotated with `@ConfigMapping`.
The idea is to use directly the `@ConfigMapping` directly on the fields, not in the types. The same as it's done in https://github.com/smallrye/smallrye-config/blob/main/cdi/src/test/java/io/smallrye/config/inject/ConfigMappingInjectionTest.java.

[2021-05-17 08:13] liweinan commented on #15383
It's hard to say whether it's configuration problem or TCP layer issue. If the situation happen less frequently, it needs more detail analysis.  I'll reproduce it in my local env and analysis it with Wireshark. It needs some time.

[2021-05-17 08:17] DavideD commented on #17256
I'm having a look

[2021-05-17 08:22] antoniomacri commented on #15075
Hi Stuart,

I'm using async MP-REST client in the application, but it is not involved in that call (maybe we're seeing the problem on that single endpoint because is by far the most called). That resource does something like:

[code]

This is the dependency:tree:

[code]

[2021-05-17 08:22] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/848561993

[2021-05-17 08:26] bagusarianto opened #17268 "root-path resulting 404 in native application"
## Describe the bug
default root not found in native application if i set quarkus.http.root-path=/newpath, when i remove it application resolve the index.html correctly.

or when i set quarkus.http.root-path=/subpath then i access it with localhost:8080/subpath/index.html it will work. doesn't work if i access with localhost:8080/subpath (RESOURCE NOT FOUND)

this only happen when using native gra

[2021-05-17 08:27] bagusarianto commented on #17268
Not Working URL

![Screenshot from 2021-05-17 15-16-37](https://user-images.githubusercontent.com/8898784/118457907-6d932e80-b724-11eb-9aee-187261c157f1.png)

[2021-05-17 08:34] Sgitario opened #17269 "Support injection of Maps using @ConfigProperty"
## Description
In order to provide a better developer experience, it would be good to support injection of maps directly using the `@ConfigProperty` annotation. Example:

[code]

With properties:

[code]

Note that Spring currently supports this approach: https://www.baeldung.com/spring-yaml-inject-map

At the moment, there is a workaround using the `@ConfigMapping` annotation, but we need to firs

[2021-05-17 08:37] gsmet commented on #13114
@ctron without a reproducer, there's not much we can do to understand what's going on. The first thing would be to follow the instructions GraalVM gives you and use `-H:+TraceClassInitialization` to better understand what's going on.

[2021-05-17 08:48] geoand commented on #17253
@MartinX3 your code needs to use `var` instead of `val` for the field annotated with `@Version`, because that field cannot be `final`.

The thing is that Quarkus should warn you about this (or even fail the build). @Sanne @yrodiere WDYT?

[2021-05-17 08:50] bertrandp commented on #17182
@sberyozkin thanks for the quick reply.

I tried with `1.13.4.Final`, same error.

But ! Trying with a fresh Quarkus project, without many dependencies, it was working fine. Turns out the issue comes from this dependency :
[code]
I can't see why it was the cause.
Here is a reproducer if you want to take a look https://github.com/bertrandp/oidc-bug-reproducer

[2021-05-17 08:51] geoand commented on #14221
Was fixed in https://github.com/quarkusio/quarkus/pull/14514

[2021-05-17 08:51] #14221 closed

[2021-05-17 08:55] mjgkaastrupandersen opened #17271 "Qute fails to detect src/main/resources templates when running maven test"
I have tried implementing my Qute templates using `@ResourcePath` annotation but I am switching to the Type-safe templates strategy to have compile checking (which works great btw).

Maven compile reports build success but when running a maven test, my tests fail, as my template-using classes no longer is able to find the templates:

[code]

I assume that this is because, in test, Qute is looking

[2021-05-17 08:59] Sanne commented on #17244
Note, regarding " What is causing the afterCompletion warnings above and maxing out our connections?"

I hope we explained that on the list: it's the transaction reaper after a timeout.

Let's focus this issue on checking that `idle-removal-interval` and `max-lifetime` are being honoured, and what impact that might have.

[2021-05-17 08:59] Sanne commented on #17244
cc/ @barreiro

[2021-05-17 09:10] geoand commented on #17253
Yes exactly - it's easy to check in Quarkus if a field is `final` (and we actually do that in various other places) and produce an actionable error or warning message for users.
The other alternative (which is rather sneaky) is to remove the `final` modifier when we transform the entity.

[2021-05-17 09:26] Sanne commented on #17253
sure it can be done - but I'm not sure if it's super-helpful since we'll be complaining about a `final` modifier while the source code states `val` . All I'm saying is that this isn't a lot better than the error reported here, but ok we can explore this.

Needs to be done in ORM though, not in Quarkus: it's Hibernate ORM that is doing the enhancement.

[2021-05-17 09:30] geoand commented on #17253
I would assume (hope?) that most Kotlin users know the difference between `val` and `var` and could easily make the association with `final`.

Providing an actionable error message that doesn't highlight `java.lang.IllegalAccessError` would be very beneficial (as the existence of this issue I believe proves)

[2021-05-17 09:31] sberyozkin commented on #17260
The only change which [was made in 1.13.4.Final](https://github.com/quarkusio/quarkus/releases/tag/1.13.4.Final) which affects `keycloak-authorization` was an update to Keycloak 13.0.0 - I suggested a backport to fix an earlier product issue to do with `keycloak-authorization` communicating with RHSSO. It appears to be a 2nd regression though, Pedro @pedroigor, please investigate.

[2021-05-17 09:37] Sanne commented on #17253
fine, I'm opening:
- https://hibernate.atlassian.net/browse/HHH-14612

but I'm not going to jump on it :)

[2021-05-17 09:40] Sanne commented on #17254
thanks for offering help @SivaTharun !

Yes that's `observe` method is likely what needs to be patched. In terms of naming I would suggest a pattern like `FSWatchUtil-thread-1`

[2021-05-17 09:40] geoand commented on #17253
Thanks :)

[2021-05-17 09:49] Sanne commented on #17256
@FroMage ( assuming Davide or someone figures out why the Session isn't being closed) - should we maybe have

[code]
implicit as part of the `withTransaction` ? and do we need it in other places?

[2021-05-17 09:56] DavideD commented on #15668
Any kind really.
In vert.x it could be the  blocked thread check period, in other case the http request timeout.
The problem for me is that every time there is a timeout while debugging I need to first figure out which extensions is causing it, then I have to find the property for that specific extension and repeat until I've found all the properties referring to timeout for all the extensions.

M

[2021-05-17 09:57] DavideD commented on #17256
`SessionFactory#withTransaction`  should already do that

[2021-05-17 09:59] DavideD commented on #17256
I don't think `Session#withTransaction` should also close the session. It doesn't seem the right place

[2021-05-17 10:00] gsmet commented on #17237
Not saying it's easy to fix it but from a user point of view, I think it's really bad to not have a clean shutdown.

[2021-05-17 10:02] radcortez commented on #17266
Hi @Sgitario,

The linked test has `Server` annotated with `@ConfigMapping`. As far as I remember, the annotation is mandatory for the mapping classe to be discovered.

For the injection point you can either use `@Inject` or `@ConfigProperties` to override the prefix from the mapping class in the injection point.

[2021-05-17 10:04] Sanne commented on #17256
right, good point @DavideD - that was a bad idea.

I guess it just confuses me a lot that Session(s) are opened automatically - in which case I would expect such things to be taken care of as well.

I still think it's a bad idea - at least for reactive - to have the Session scope and lifecycle managed as managed beans as the boundaries of the context are not the same.

[2021-05-17 10:08] DavideD commented on #17256
Ah, I thought `getSession` was the same as `openSession`

[2021-05-17 10:10] Sanne commented on #17256
right that's the confusing part. The users "gets the Session" - but has no say about which one, and has no option to get a new one. It all depends on CDI's notion of "current Session" - but I keep having issues with this notion.

[2021-05-17 10:12] sberyozkin commented on #17217
I'd probably leave the multi-tenancy out of it for now - IMHO we can look at it once a default tenant mode is supported well.

But as Pedro said, should we just have an initial OIDC client(s) and user(s) created ? Let a user enter a 1) realm name 2) client id, secret 3) user name/roles - and we'd create it in KC, generate correct `application.properties`.

What will be created in the admin console

[2021-05-17 10:24] evisentin opened #17275 "Swagger-ui and keycloak authentication - some working examples would be most welcome"
## GUIDE - SWAGGER-UI authentication methods

It would be very useful to have a guide on how to configure (Quarkus) Swagger-UI to authenticate, some hints can be found online but none of them are really complete, and none ho them has the completeness and quality of the other items in your guides.

Some examples ( for keycloak above all ) would be very appreciated

Thank you very much

Enrico

[2021-05-17 10:40] agoncal commented on #14762
I do have the same problem now. I have a `legacy.jar` that I cannot touch (nor add any configuration file) with a few entities and POJOs that need to be mapped and queried in my app. I've tried adding a `persistence.xml` file with `<mapping-file>` targetting `orm.xm` but didn't work.

Hoping the PR will get in soon ;o) Let me know, I'm ready to test it if you need someone

[2021-05-17 10:43] mkouba commented on #17271
Hello @mjgkaastrupandersen, a minimal reproducer and some information about your environment (e.g. Quarkus version) would be really helpful.

[2021-05-17 10:54] Sgitario commented on #17266
Ok, I think I misinterpreted this annotation when being annotating a field. I thought we can get rid of the annotation in the interface, but instead is a way to override the mapping configuration in the interface.
Closing then...
Thanks @radcortez for the clarifications.

[2021-05-17 10:54] #17266 closed

[2021-05-17 10:55] Sanne commented on #14762
hi @agoncal ! Feel free to test the PR - it looks good, the reason for which it wasn't merged yet should not be a problem for you in practice.

[2021-05-17 10:58] geoand commented on #17269
cc @radcortez

[2021-05-17 11:03] hrstoyanov opened #17278 "More config issues in Quarkus 1.13.4.Final"
## Describe the bug

Consider this config setup:

[code]
and this YAML config file:

[code]

### Expected behavior
The thread pool configuration is extracted properly.

### Actual behavior
Smallrye Config will fail to pick up the thread pool attributes, will default to an empty optional.

Bizarrely, we can make this work, if we do these changes:

[code]
but this is hardly acceptable!  Note that ch

[2021-05-17 11:09] hrstoyanov commented on #17278
@radcortez

[2021-05-17 11:30] KyriacosP opened #17280 "Logging Request Entity Body with Quarkus Resteasy Reactive"
## Describe the bug
I'm trying to implement a logging filter to log the request and response to the API endpoints of my Quarkus application. I'm using Quarkus 1.13.3.Final and quarkus-resteasy-reactive. I have a problem trying to log the request body when calling a non blocking endpoint. This is the code I'm using to log the request:

[code]

### Expected behavior
Log the request body for both blo

[2021-05-17 11:38] geoand commented on #17280
I am changing this to a feature request as the JAX-RS way of reading the entire body is definitely blocking, but it does make sense to provide an alternative that will allow users to read the body in request filters

[2021-05-17 11:38] #17168 closed

[2021-05-17 11:48] sberyozkin commented on #17182
Hi @bertrandp Thanks - so this 3rd party library is affecting the ability of `quarkus-oidc` to connect to Keycloak - but this is an external impact - may be it c - all `quarkus-oidc` does it creates an HTTP request to the KC well-known config endpoint - if it fails then it will try to recover.
I don't have time to look into why that library is affecting it - but I'll keep this issue open for longe

[2021-05-17 11:55] agoncal commented on #14762
@Sanne I just gave it a try and it works!

I had the following exception:

[code]

So I had to add the following to the `application.properties`:

[code]

Works like a charm ! And best of the best, I can create a `PanacheRepositoryBase` out of this mapped POJO !

[2021-05-17 11:57] yrodiere commented on #14762
Thanks for testing @agoncal ; happy to see it works for you.

Hopefully we'll get rid of the remaining metaspace problem soon (it may be unrelated, but it's blocking the PR pending investigation). Then we'll merge the PR.

[2021-05-17 12:02] KyriacosP commented on #17280
Thank you!

[2021-05-17 12:04] geoand commented on #17280
👍🏼

[2021-05-17 12:41] DavideD commented on #17256
It seems it's a bug in Hibernate Reactive, when we close the session we don't set the boolean that decides if it's open or close. I'm going to fix it

[2021-05-17 12:52] bertrandp commented on #12928
I had the same issue once.

[2021-05-17 13:04] MartinX3 opened #17284 "Kotlin Panache Entity attribute with transient and jsonignore becomes null and ignores default value"
## Describe the bug
If I get values from the database and one attribute has
[code]
it will be checked out as null.

### Expected behavior
It should be an empty list.

### Actual behavior
The attribute value is null.
Kotlin then screams about `java.lang.NullPointerException: Parameter specified as non-null is null` if I use it somewhere, as example if I want to convert it into a dto, since the kotl

[2021-05-17 13:09] Sanne commented on #14762
that Jandex error makes me think we might want to automatically add them to the index, if we can identify the artifact

[2021-05-17 13:11] ppalaga commented on #2656
There is https://github.com/quarkusio/quarkus/pull/15380

[2021-05-17 13:17] sberyozkin commented on #17164
Note that with `keycloak-authorization`, even if `application.properties` has no policies, Keycloak itself can have them prepared in its realm. So the test which @Sgitario created was in fact indeed testing an endpoint with an enforcing policy - and `401` was a correct expectation - it has been fixed for the next `2.0.0.Alpha3` with the linked PR.

However - the important point is that, as mention

[2021-05-17 13:18] agoncal commented on #14762
That would be awesome. As a developer I don't want to know this level of details of Quarkus internals.

[2021-05-17 13:18] yrodiere commented on #14762
@Sanne Maybe. But we cannot add them to the index until we start processing the mapping files and going through the entity hierarchy. I suspect we cannot add them to the index at this point, otherwise this error message wouldn't be here in the first place?

[2021-05-17 13:19] DavideD commented on #17256
I've created a PR for Hibernate Reactive: https://github.com/hibernate/hibernate-reactive/pull/759

[2021-05-17 13:20] alexlitovsky commented on #17242
Thank you, not sure how I missed that.  That helps, but still would be better to be able to selectively apply it to certain paths and/or certain content-types.

[2021-05-17 13:22] yrodiere opened #17285 "Auto-indexing in Jandex of classes referenced from Hibernate ORM entities/embedables/XML mappings/etc."
## Description

See https://github.com/quarkusio/quarkus/issues/14762#issuecomment-842310703

When the Hibernate ORM extension encounters a class that is not in the Jandex index, we get this:

[code]

This can happen for example if a class is referenced from an XML mapping file (#16630), or if a class is indirectly referenced from an entity getter (even if the entity class itself is in the Jandex

[2021-05-17 13:22] yrodiere commented on #14762
Created #17285

[2021-05-17 13:28] sberyozkin commented on #17164
Will close this issue again since Jose has confirmed we are are in agreement. I'll update the migration guide first and then will close it. We will reopen it if there will be some more questions/uncertainties.
@Sgitario thanks for coming up with a very comprehensive test suite

[2021-05-17 13:32] evanchooly commented on #4394
@MartinX3 do you have a reproducer you could share?  all of the integration tests are passing.  When you say you have to mix `PanacheEntityBase` and `PanacheRepositoryBase`, what do you mean?  What does your entity look like?

[2021-05-17 13:33] sciack commented on #16991
I tried and can be configured, but I found something strange (sorry I cannot share the logs due to security restriction), looks like the SSL configuration is unable to find the right algorithm for the client certificate but when I create the http client works correctly. I've 2 UT that tests the connection in the two configuration, running in the same JVM.

Do you know if Quarkus ro Microprofile us

[2021-05-17 13:36] evanchooly commented on #17255
This looks like the same issue in the comments on #4394.  As I suspected, you're extending `PanacheEntityBase` *and* trying to use the repository pattern.  Drop the extension from `Quark` and just use the repository pattern and you should be set.

[2021-05-17 13:36] sberyozkin commented on #17164
Added a short note at https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.0, with the docs also updated in the earlier PR

[2021-05-17 13:37] #17164 closed

[2021-05-17 13:42] wojciechkopciewicz opened #17287 "Error injecting RestClient after upgrade to Quarkus 1.13.2"
## Describe the bug
Starting with Quarkus 1.12.2 (not seen in 1.12.1, seen in 1.13.2 and 1.13.3) we see the following error for some time after application startup:

[code]

### Expected behavior
Rest clients should be injected properly.

### Actual behavior
Looks like clients settings from application.properties are not available for some time.

## To Reproduce
Wait until periodic task runs and t

[2021-05-17 13:48] sberyozkin commented on #17275
@evisentin What are your expectations ? Do you mean you'd like `SwaggerUI` itself to authenticate to Keycloak ? Or, would you like, when accessing a Quarkus swagger-ui endpoint protected by `quarkus-oidc` to be redirected to Keycloak to authenticate ?

As far as I recall, in the latter case, there was an XHR (or Fetch CORS) issue - we discussed it with @phillip-kruger - it would require Swagger UI

[2021-05-17 13:54] evisentin commented on #17275
Hello @sberyozkin,
as I understand swagger-ui can be configured in many ways in order to have an "Authorize" button on the page and - according to the configuration - you can configure it to perform a login on Keycloak, or just enter the Bearer token, or other authentication mechanism.

I have found some examples ( the one for the Bearer Token ), as I could not have it working with Keycloak's impl

[2021-05-17 13:56] Ladicek commented on #17229
I don't know what's `BindableService`, but assuming it's nothing users have to implement, can you, instead of transformation, _generate_ a bean that would delegate to the user-provided bean, and implement this nonsense? :-) It could also catch the `UnsupportedOperationException` that @cescoffier describes above for non-implemented RPCs? Sorry if I'm making it more complex than it has to be, I didn

[2021-05-17 13:57] michaelgarde commented on #17271
@mkouba off course. My bad.
We are currently on
* Quarkus version 1.11.6.Final-redhat-00001,
* Maven 3.8.1,
* java-11-openjdk 11.0.10
Build system is running on Ubuntu in WSL2

I'll see if I can find the time to create a minimal reproducer.

[2021-05-17 14:00] phillip-kruger commented on #17275
Hi, I agree we need to document this better. In the mean time see if this can help you https://github.com/phillip-kruger/openapi-security-example

[2021-05-17 14:02] vietj commented on #16955
note the Vert.x issue related to #16453 has been merged in master and shall supposedly fix the issue

[2021-05-17 14:04] evisentin commented on #17275
Hi @phillip-kruger,
that was exactly what I was looking for
thank you very much (to all of you)

Enrico

[2021-05-17 14:11] corepdk commented on #17260
Tried upgrading my keycloak server to 13.0.0 to match the extension version and the problem persists - so same issue with quarkus 1.13.4 and keycloak server 13.0.0 (i was running 11.0.3 before). Will try to downgrade bom/application/pom.xml as suggested next.

[2021-05-17 14:16] mkouba commented on #17229
That's also an option, although a bit more difficult to implement ;-).  It could be something like:
[code]

That's OK. We should come with the best possible API so that we don't need to change it for quarkus 3.0 :D.

[2021-05-17 14:17] evanchooly commented on #17284
I think is not really a bug, per se, but how hibernate works.  perhaps @Sanne can weigh in but here's what I think is happening.  When trying to construct your data class, hibernate has values for each constructor parameter except the ignored.  So it simply fills that slot a null.  If you'd like that to default to `emptyList()`, you should move that property out of the constructor like `id` and `v

[2021-05-17 14:19] MartinX3 commented on #17255
Thank you for your response @evanchooly
I'm sorry for uploading a corrupted example project zip file.

I removed the `PanacheEntityBase`, but the issue is still preventing me from executing tests, until I remove the `@QuarkusTest` annotation.

[2021-05-17 14:23] cescoffier commented on #15668
If we can detect that the debugger is attached (and @stuartwdouglas has an idea for this), we can extend the vert.x blocker thread timeout.

[2021-05-17 14:24] #17185 closed

[2021-05-17 14:41] MartinX3 commented on #17284
But shouldn't it respect my default values?
Or the kotlin language at all which wants me to explicitly declare nullable variables?
Is there some hibernate kotlin package, which respects the kotlin null safety?

[2021-05-17 14:54] Ladicek commented on #17229
If `MutinyGreeterGrpc.GreeterImplBase` already includes an implementation of `bindService`, we would just inherit it?

I'm thinking ideally we would get rid of the `MutinyGreeterGrpc.GreeterImplBase` stuff (which we control, right?), but that would be a breaking change I guess. (Not actually get rid of it. Just generate the bean directly.)

[2021-05-17 14:58] evanchooly commented on #17284
When creating the parameter list to call the constructor on your class, it doesn't have a value for that `@Ignore`d slot, so it passes null.  Default parameter value handling is something done by the kotlin compiler and hibernate has no way to know for sure what's what.

I did a quick search `kotlin data classes hibernate` and found [this reference](https://www.baeldung.com/kotlin/jpa#compiler-plu

[2021-05-17 14:59] MartinX3 commented on #17253
Thank you, switching to `var` fixed the problem, and it's weird, that it worked with java 8. :)

But of course I would prefer to use `val` in the future, since the `version` variable is, like the ID, changed by the database and not the application developer.:D

[2021-05-17 15:04] evanchooly commented on #17253
@MartinX3 val is about reference mutability and not application semantics, though.  It simply can't be `val` because the language won't allow for it.  A `version` is, arguably, a mutable field even if your application treats it as carved in stone.  You might try declaring a private `set` for that property so that at least your application can't change it even if hibernate uses dark wizardry to do

[2021-05-17 15:05] Pedro-Henriques opened #17288 "Message field as a JSON object in logging"
Working on Quarkus 1.11.2.Final, I am trying to send logs from our application to Kibana. They go through filebeat to logstash, and then kibana.

I'm having a problem on logstash, where the "message" field in the log(JSON format) is being sent as a String instead of a JSON object. Example:
{
	"timestamp":"2021-05-17T10:31:08.826Z",
	"sequence":380,
	"loggerClassName":"org.apache.logging.log4j.spi.

[2021-05-17 15:07] geoand commented on #17253
The fact that it worked in Java 8 was likely accidental.

Like @evanchooly describes, a `val` (or `final`) field is not meant to be updated outside of the constructor, which is what happens in the case of the version field

[2021-05-17 15:07] MartinX3 commented on #17253
Ah, thank you very much. :)
Let's see what they write in the hibernate ticket. :)

[2021-05-17 15:10] pedroigor commented on #17260
@corepdk Can you please confirm that error only happens for the public endpoint? In your case, the `/api` marked as disabled?

[2021-05-17 15:12] Davide-Di-Do commented on #16914
Hi @oberstrike I've checked your code and I've noticed a couple of things, and maybe are not strictly related to your problem, but you can review them. First thing is that you are using blocking panache Postgresql into a context of reactive controller; the second point is that you are using the Active Record pattern and Repository pattern, but I think that are exclusively usable. Fill free to comm

[2021-05-17 15:18] corepdk commented on #17260
that is correct - only an issue for public endpoints. Authenticated endpoints work as before. But the issue only occur after 30-40 seconds.

[2021-05-17 15:20] MartinX3 commented on #17284
Thank you for the quick search
Sadly the noarg plugin doesn't help me in his case.

As a workaround I use now
[code]

[2021-05-17 15:22] pedroigor commented on #17260
That is due to the cache entry expiring ...

[2021-05-17 15:26] ricardozanini commented on #16401
@FroMage get back from PTO. Do you have any docs/usage examples that I can refer to start planning?

[2021-05-17 15:36] Davide-Di-Do commented on #12606
Yeah, I can help too in integrating documentation with kotlin examples

[2021-05-17 15:39] sberyozkin commented on #17260
But is there a matching policy config for this public resource with the (default) enforcing mode in the Keycloak realm ?

FYI, in 2.0.0.Alpha4 (yet to be released) if a request is anonymous then if no matching `enforcement` mode policy exists, in `application.properties` (or the realm itself), the access will be allowed

[2021-05-17 15:39] evanchooly commented on #17284
you could probably just do:

[code]
because all you care about is not having a `null` value.  if that other `listOfValues` is empty, you should be covered.  Unless you don't want both references pointing to the same (potentially) mutable empty list.

[2021-05-17 15:41] pedroigor commented on #17260
@corepdk Could you try setting the cache to never expire? See https://quarkus.io/guides/security-keycloak-authorization#quarkus-keycloak-keycloak-policy-enforcer-config_quarkus.keycloak.policy-enforcer.path-cache.lifespan. If you set `-1` you should disable cache.

[2021-05-17 15:47] alexlitovsky opened #17290 "Setting quarkus.http.enable-compression=true causes an exception to be logged as a WARN"
## Describe the bug
Setting `quarkus.http.enable-compression=true` causes an `io.netty.util.IllegalReferenceCountException` to be logged as a WARN

### Expected behavior
Should just work with no exceptions.

### Actual behavior
The response is correctly compressed, but an exception is logged:

[code]

## To Reproduce
https://bitbucket.org/alexlitovsky1/quarkus-compression-bug.git

Steps to reprodu

[2021-05-17 15:55] sberyozkin commented on #17275
So it is the 1st option - swagger UI is acting as SPA, authenticates into KC, forwards the token as a bearer token to `quarkus-oidc`, nicely demoed @phillip-kruger.

The 2nd option I referred to would be about `Swagger UI` not even showing that option that Quarkus is requiring the authentication - it would be governed by the authorization code flow protecting all the application - custom service e

[2021-05-17 16:01] sberyozkin commented on #17260
@pedroigor Hey Pedro, by the way, we can confirm that #17179 is related or not easily - `quarkus.keycloak.policy-enforcer.lazy-load-paths=false` is a workaround - so if setting would help to avoid this issue then it is 100% related, @corepdk, so please check this one as well

[2021-05-17 16:02] sberyozkin commented on #17275
CC @pedroigor

[2021-05-17 16:10] gsmet commented on #17071
The build is still failing:
* Link to latest CI run: https://github.com/quarkusio/quarkusio.github.io/actions/runs/850371942

[2021-05-17 16:11] rroopreddy commented on #17197
@stuartwdouglas I debugged a bit where the `com.datastax.oss.quarkus.runtime.internal.context.QuarkusDriverContext` is setting the class loader to `null`.  This forces `Class.forName(className)` to be called which implicitly uses `ClassLoader.getSystemClassLoader()`

Isn't the default Quarkus class loader supposed to include the dependent Jars for `Class.forName` to work properly

[2021-05-17 16:25] dhoffer commented on #17237
@mkouba Yes we already do use several ExecutorService and already have this to shut these down.  Is this not correct?

void beforeShutdown(@Observes ShutdownEvent ev) {

        sendingExecutorServices.forEach(executorService -> executorService.shutdown());
        sendingExecutorServices.clear();

        receivingExecutorServices.forEach(executorService -> executorService.shutdown());
        re

[2021-05-17 16:26] fabrii opened #17291 "Hibernate isInitialized not working properly"
## Describe the bug
Hibernate.isInitialized(proxy) function is not working properly.

### Expected behavior
Return true when the object is initialized.
Return false when the object is not initialized.

### Actual behavior
Returns true always.

## To Reproduce

Steps to reproduce the behavior:
1. Create an entitiy "a", with a OneToMany Lazy Collection.
2. logger.log(Level.INFO, "Is initialized?: "

[2021-05-17 16:27] sberyozkin opened #17292 "Support OIDC 'azp' claim verification"
## Description

OIDC [IdToken](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) may have an `authorized party` ( `azp` ) claim set.

From the spec:
`This Claim is only needed when the ID Token has a single audience value and that audience is different than the authorized party.`

[2021-05-17 16:55] #15081 closed

[2021-05-17 16:55] #14847 closed

[2021-05-17 17:32] draccagni opened #17295 "Oracle StoredProcedure call with cursor in native mode raises a NullPointerException"
Calling an Oracle StoredProcedure with cursor as out parameter raises a NullPointerException in native mode:
[code]
The reproducer (a maven project) is available at https://github.com/draccagni/quarkus-hibernate-orm-oracle.git . All the instructions are explained in the ```README.md``` file

[2021-05-17 17:58] gsmet commented on #17071
Build fixed:
* Link to latest CI run: https://github.com/quarkusio/quarkusio.github.io/actions/runs/850660347

[2021-05-17 18:23] pedroigor commented on #17217
@sberyozkin @stuartwdouglas I'm OK supporting JSON file, although we can't expect people writing their one because our schema is just insane :) But use export to get one. And that means a few additional steps before using dev services. Perhaps not the quickest way to get started on quarkus-oidc to protect an application.

That said, I would then agree with you to create roles too based on the appl

[2021-05-17 18:42] geoand commented on #17290
@jviet does this ring a bell?

[2021-05-17 18:58] michalszynkiewicz commented on #17229
So we'd create/register as a bean the `GreeterBindableService` only if user defined `Greeter`?

We could have default implementations for all interface methods, that throws `UnsupportedOperationException`, this way the users would just omit stuff they are not interested in.

[2021-05-17 19:19] #17268 closed

[2021-05-17 19:46] glefloch commented on #13318
I can't find the PR, but this has been fix by declaring those `sourceSet`

[2021-05-17 19:46] #13318 closed

[2021-05-17 19:49] corepdk commented on #17260
quarkus.keycloak.policy-enforcer.path-cache.lifespan can be used to control the issue - if i set 500ms it rejects me after 500ms - if set it to 5000ms it rejects me after 5000ms - so definitely this one has something to do with the issue. -1 seems to  fix the issue.

[2021-05-17 19:51] corepdk commented on #17260
quarkus.keycloak.policy-enforcer.lazy-load-paths=false seems to fix the issue as well.

[2021-05-17 20:23] #17021 closed

[2021-05-17 20:27] sberyozkin commented on #17260
@corepdk OK, thanks, so the workarounds are possible and we wait for KC 14.0.0.
Please also consider moving to `2.0.0.Alpha4` once it has been released

[2021-05-17 20:29] famod commented on #16806
@evanchooly I added another item to the things to revert. Please let me know if you need support with any of that, it has become rather complex to grok.

[2021-05-17 20:29] corepdk commented on #17260
Will do - thanks :-)

[2021-05-17 20:29] #17260 closed

[2021-05-17 20:36] evanchooly commented on #16806
I have all the bits mentioned in that last comment reverted.  waiting to see how CI fares, now.

[2021-05-17 20:48] famod commented on #17290
This looks _very_ similar to #14695.

[2021-05-17 20:49] famod commented on #12584
Seems like more or less the same as #14695?

[2021-05-17 21:34] asoldano commented on #17224
/cc @jamezp

[2021-05-17 22:04] Sanne commented on #17295
Interesting, this looks like a consequence of having disabled metadata loading during boot.  Thanks for reporting @draccagni !

[2021-05-17 22:35] rohit-gandhe commented on #12168
Yeah, this takes away a lot from the advantage of hot reloading!!

[2021-05-17 22:50] stuartwdouglas commented on #17197
It will work in production mode, not in dev mode. Classs.forName(String) is almost always the wrong one to use, you should use the TCCL instead.

This should be easy to fix in casandra-quarkus, it just needs to be changed to use the  TCCL.

[2021-05-17 22:57] #17251 closed

[2021-05-18 00:06] MartinX3 commented on #17251
Thank you!

Is it possible to backport it to 1.13.x?
I don't know if 2.0 is far away or how long it takes to migrate our project to it after 2.0 got released.

[2021-05-18 01:06] stuartwdouglas opened #17304 "Agroal has a thread local leak"
`io.agroal.pool.ConnectionPool#localCache` is never cleared, so when running QuarkusUnitTest and QuarkusDevModeTest this leaks the ClassLoaders, which will eventually result in an OutOfMemoryError if there are too many tests in the module.

[2021-05-18 01:07] stuartwdouglas commented on #17304
Note that just clearing the list is not enough, the we need some way to clear the TL so there threads ThreadLocalMap does not hold a reference to the ClassLoader.

[2021-05-18 01:41] stuartwdouglas commented on #17237
@gsmet it is pretty much impossible to guarantee a clean shutdown if user code is still running, graceful shutdown is the only answer for this.

Because shutdown can occur at literally any point in any runtime code path to guarantee this you would need to audit every single code path of every single library almost line by line and make sure that if a shutdown happens on a given line you end up thr

[2021-05-18 04:06] stuartwdouglas commented on #17231
You need a parent pom so that Maven knows they are all part of the same project. Maven has know way of knowing that the other folders in the repo have anything to do with the current project unless there is a parent pom that references them.

[2021-05-18 04:59] geoand commented on #17280
I was thinking about this and I actually would like to know more about the use case.
How come you need to log the request body in a request filter? What's the end result you are trying to achieve)

[2021-05-18 05:27] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/852146891

[2021-05-18 05:54] atilli opened #17307 "@Blocking annotation not working in dev mode (gRPC Service)"
Method is marked as blocking (uses Panache later) . It works when running jar with java command.

# Code
`
@Override
    @Blocking
    public Uni<RouteReply> routeTest(RouteTestRequest request) {
`

# Result in dev mode:

in dev mode however:

{
  "error": "2 UNKNOWN: java.lang.IllegalStateException - You have attempted to perform a blocking operation on a IO thread. This is not allowed, as blocki

[2021-05-18 05:55] stuartwdouglas commented on #9677
If you run with this PR: https://github.com/quarkusio/quarkus/pull/17306

And add the following to application.properties:

`quarkus.class-loading.parent-first-artifacts=au.com.dius:pact-jvm-consumer,au.com.dius:pact-jvm-consumer-java8,au.com.dius:pact-jvm-junit5,au.com.dius:pact-jvm-core-matchers,au.com.dius:pact-jvm-core-model,au.com.dius:pact-jvm-core-pact-broker,au.com.dius:pact-jvm-core-suppo

[2021-05-18 06:02] RobinGoussey commented on #17231
Weird, I thought it was the aggregators job to bundle the build, and the parent is just inherited from, but in quarkus you use the parent to determine what other projects belong together?

Or do you need both? I'm a bit confused.

[2021-05-18 06:07] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/852155163

[2021-05-18 06:12] geoand commented on #9677
Sure, it's not ideal to have this configuration in the core module, but we already do it for mockito (which no reasonable person would use outside of a test), so I think it's fine.

[2021-05-18 06:15] Postremus opened #17308 "Quarkus Mailer - support multiple replyTo Addresses"
## Description

https://github.com/quarkusio/quarkus/blob/main/extensions/mailer/runtime/src/main/java/io/quarkus/mailer/Mail.java#L20

The current Mail implementation only supports one replyTo Address. This should be enhanced to support a list of replyTo Addresses, like it is done for CC / BCC.

https://datatracker.ietf.org/doc/html/rfc5322#section-3.6.2
[code]

## Implementation ideas
None

[2021-05-18 06:15] Ladicek commented on #17229
That would certainly be an option, but wouldn't you in 99.9% of cases want to implement all of the interface's methods?

[2021-05-18 06:16] stuartwdouglas commented on #17242
We need changes to vert.x to support this, I have opened: https://github.com/eclipse-vertx/vert.x/issues/3928

[2021-05-18 06:27] stuartwdouglas commented on #17231
Ah, I did not fully look into the details, I just saw the lack of a parent and assumed they were unrelated. If you just add a parent pom

Quarkus only knows about the project structure from the POV of the project being run, in this case it has no idea about the other modules, as it does not know that maven has been run from an aggregator. If you make the aggregator the parent of the service-extens

[2021-05-18 06:32] mkouba commented on #17229
You're right, I missed this fact yesterday but realized this before I fell asleep ;-)

Yes, that would be a breaking change so -1.

[2021-05-18 06:33] mkouba commented on #17229
I wouldn't do that because as @Ladicek mentioned in most cases a user wants to implement all methods.

[2021-05-18 06:34] RobinGoussey commented on #17231
Yes, indeed it then fixes the problems, you can also separate the projects, as is the default in our company. However this is information I haven't seen anywhere in the quarkus documentation, perhaps could you look into multi module projects? Perhaps take this one with it? [#6266](https://github.com/quarkusio/quarkus/issues/6266)

[2021-05-18 06:51] geoand commented on #17307
Can you attach an example application please? I was not able to try reproduce this in a simple test

[2021-05-18 07:04] ctron commented on #13114
@gsmet I already tried that, I think I understand why it initialized that class, but I don't know why that should cause a problem. I also tried to work around this using `@TargetClass` and `@Substitute` without any success.

[code]

The code to all of that is here: https://github.com/drogue-iot/drogue-agent-opcua/

[2021-05-18 07:12] ia3andy commented on #17161
here is another suggestion based on @stuartwdouglas comments that it's hard to do the math with bigger numbers:
[code]

with bigger numbers:

[code]
I added a failing test in run 3

[2021-05-18 07:25] michalszynkiewicz commented on #17307
This should be fixed with https://github.com/quarkusio/quarkus/pull/16830

Could you try with Quarkus 2.0.0.Alpha2?

[2021-05-18 07:25] michalszynkiewicz commented on #17307
@geoand the problem was that after reload the interceptors were lost

[2021-05-18 07:38] geoand commented on #17307
Okay, I was testing main so that's why I didn't see it

[2021-05-18 08:25] Paul6552 opened #17311 "SQLException: Deferred enlistment not supported"
## Describe the bug
More already here: https://groups.google.com/g/quarkus-dev/c/gVffENNZPiU

### Expected behavior
Like 1.12.2.Final - no error

### Actual behavior
SQLException: Deferred enlistment not supported

## To Reproduce

[code]

### Configuration
[code]

quarkus version 1.13.4.Final

[2021-05-18 08:47] snazy commented on #5907
FYI libthrift (transitive dependency via quarkus-jaeger -> io.jaegertracing:jaeger-thrift:jar -> org.apache.thrift:libthrift:jar) raises an OWASP error for CVE-2020-13949 (overall score 7.5). Seems that only the recent Jaeger-Java client versions >= 1.6.0 use an unaffected libthrift version. Not sure, whether "just bumping libthrift" works around that and doesn't break anything.

[2021-05-18 08:48] dforsl commented on #15665
We're also seeing this in our apps that are exposed as AWS Lambdas, ie no dependency on eg `quarkus-resteasy`. It's making our logs pretty unreadable in the places where a rest client used, as more or less full stacktraces are logged and that it's not once per client call - but there seem to be multiple classes not found and thus causing a somewhat overwhelming amount of warning-level logging.

Ha

[2021-05-18 08:49] draccagni commented on #17295
Is there any workaround or can i hope the fix will be included in the next release?

[2021-05-18 08:54] geoand commented on #17287
I was not able to reproduce the problem. Is there anything specific we need to do @wojciechkopciewicz ?

[2021-05-18 09:19] Fabrice-ops commented on #10559
Thanks @alexsanzdev for pointing to AdoptOpenJDK. If anyone interested, you may switch to JDK 16 by modifying Alex dockerfile first line to `FROM adoptopenjdk/openjdk16:jre-16.0.1_9-ubi-minimal` .

[2021-05-18 09:21] lburgazzoli commented on #16954
@gsmet can we get someone looking at this ?

[2021-05-18 09:27] geoand commented on #17255
The current reproducer doesn't seem to be mixing `PanacheEntityBase` and `PanacheRepositoryBase`.
In the current version I only see `PanacheRepositoryBase`, yet the problem still persists

[2021-05-18 09:42] maxandersen commented on #17161
could shorten this without loosing context`;

[code]

[2021-05-18 09:47] aruffie commented on #8306
Hello, I create a small documentation update, if you want to take a look @ia3andy  https://github.com/quarkusio/quarkus/pull/17314 :-) I hope that fit what you want

[2021-05-18 09:54] sberyozkin commented on #17260
@corepdk thanks, please watch #17179

[2021-05-18 10:05] gsmet commented on #16954
https://github.com/quarkusio/quarkus/pull/17279 fixes it but... then you have a `StackOverflowError`. I'll dig a bit more.

[2021-05-18 10:10] lburgazzoli commented on #16954
No, the stack overflow I think was an issue on my side, I don't see it anymore.
Will his fix be in a 1.x release ?

[2021-05-18 10:30] TomasHofman commented on #15383
Can you share something about your Docker Swarm setup, docker version, etc? A simple reproducer apps & instructions on how to configure the swarm would be perfect, so that we can reproduce the situation locally.

I was trying to setup a simple swarm with a rest service and a rest client, but I don't think that my setup uses IPVS. My steps were:

[code]

(My rest-client app uses http://rest-endpoin

[2021-05-18 10:33] gwenneg commented on #17150
@gsmet As you may already know, Maven `3.8.1` fixed [CVE-2021-26291](https://maven.apache.org/docs/3.8.1/release-notes.html#cve-2021-26291) with the new `blocked` tag which is causing the warning. I Quarkus still exposed to that CVE (because the tag is not supported) when Maven `3.8.1` is used or not?

[2021-05-18 10:40] pmlopes commented on #9316
FYI: https://how-to.vertx.io/fido2-webauthn-howto/ the basic how-to is here

[2021-05-18 10:51] maxandersen commented on #17161
just saw the mail to quarkus-dev suggesting:

[code]

thats good - I wouldn't put the locale specific timestamp in there though ...if we do at least use 24hr clock :)

[2021-05-18 11:08] sberyozkin opened #17316 "Update Keycloak Authz guide with the typical examples of when and how to apply it"
## Description

Keycloak authorization guide already describes how a KC Authz quickstart works and also links to the KC docs which is sufficient enough - however we regularly have user queries about how to configure it and it appears the questions are quite similar, how to use HTTP verb as a scope, etc.

It would be good to have a small section say:
[code]

@pedroigor Hey Pedro, I don't think it i

[2021-05-18 11:15] MartinX3 commented on #17284
Yes, that's correct :)
Sadly IntelliJ is too smart and removes unnecessary null handling from the project code. ^^

[2021-05-18 11:22] gsmet commented on #16954
The stack overflow was this cycle:

[code]

[2021-05-18 11:23] gsmet commented on #16954
I marked #17279 for backport. Now I have no idea if we will release another 1.13.

[2021-05-18 11:29] cescoffier commented on #17307
So can we close it?

[2021-05-18 11:29] sberyozkin commented on #17217
@pedroigor Sure, makes sense. It would start without `realm.json`, definitely, but the users would be advised to save whatever they have followed up with in the KC Admin console with via an export action. But having `realm.json` would not be a pre-requisite

[2021-05-18 11:39] gsmet commented on #16954
Closing as the original issue is fixed by #17279 .

[2021-05-18 11:39] #16954 closed

[2021-05-18 11:48] ia3andy commented on #17161
@maxandersen could you write an example fo what you suggest? From what @stuartwdouglas said I think the time is important to distinguish different runs.

[2021-05-18 11:50] oberstrike commented on #16914
That would be awesome!

[2021-05-18 11:53] agoncal commented on #14762
I found something weird. `nullable=false` doesn't seem to get mapped. I have the following POJO on a separate JAR file:

[code]

When I had this `orm.xml` file to my project, `Artist` gets mapped with all the defaults:

[code]

Now, if I customize the mapping, the name of the table, name of the columns, the length of the columns do get changed, but not the nullability (`name` and `created_date` sh

[2021-05-18 11:54] liweinan commented on #15383
I put the reproducer here: https://github.com/liweinan/quarkus-pr-15383

And I can confirm that the configuration mentioned by @TomasHofman is working:

![Uploading 989F73A2-12F3-4F36-8D7E-D4301B8B43ED.png…]

![C0524221-1995-4705-B6A6-A35B23141BEE](https://user-images.githubusercontent.com/201907/118646518-dfe23c80-b812-11eb-9240-da42bf0302a9.png)

[2021-05-18 12:07] geoand commented on #17255
@evacchi @FroMage I tracked this down to being a Panache Mocking problem.
It seems like the transformation that is applied when the source is a Kotlin file breaks the `LocalVariableTable`

[2021-05-18 12:52] KyriacosP commented on #17280
Our main use case is business related, having logs for the request and response of API calls enables the support team to help customers and integrators identify issues more easily and also makes the integration between different services implemented by different teams easier.

[2021-05-18 13:01] tqvarnst opened #17320 "CLI `qs` to support native executable building using containers."
## Description
I'm currently using `qs` version 1.13.3.Final and it works great, but I'm missing a feature to build native executables in a container (to create Linux binaries).

(Describe the feature here.)
I can build a native using `qs build -n`,  but that requires a locally installed GraalVM. I actually think that it would be better to default `qs build -n` to use containers to build. This way

[2021-05-18 13:05] agoncal commented on #9464
BTW, is there a way to have `import.sql` including other SQL files ? I can't find any syntax for that, but I was hoping to be able to write something like that in my `import.sql`

[code]

That would be a first easy step to be able to execute several SQL files at startup.

[2021-05-18 13:05] geoand commented on #17280
So what kind of information do these logs contain? Just generic HTTP related info?

[2021-05-18 13:17] KyriacosP commented on #17280
They contain the endpoint, info about the caller, path and query parameters, the request body and an identifier for each request. For the response the contain the response body and the identifier.

[2021-05-18 13:37] ebullient commented on #17320
yep. this is on my list to fix for all of those reasons.

[2021-05-18 13:46] yrodiere commented on #14762
@agoncal This looks odd, though I doubt it's caused by Quarkus... Then again, looking at the ORM code, I don't see how `length` could work while `nullable` does not; they are literally handled 5 lines from each other.

Do you have a quick reproducer? If so, please open a ticket either for Quarkus or ORM, I'll try to debug it.

[2021-05-18 13:58] yrodiere commented on #17304
Note we raised the memory and metaspace allocated in JVMs spawned by surefire in #16630, so that we could get the build to pass despite leaks. Once the leaks are addressed, we should set those values back to `1500m`.
See the last commit in #16630.

[2021-05-18 13:59] silviu-negoita opened #17322 "Quarkus random ConcurrentModificationException"
## Issue
After upgrading from `1.12.2.Final` to `1.13.4.Final` a lot of **random** `java.util.ConcurrentModificationException`  are thrown when a rest API call is done. For example, it happens between FE(Angular) and BE communication, but also between micro-services(all Quarkus based). This makes local environment(dev mode) almost unusable.

**P.S. This is reproducible only on local, running the d

[2021-05-18 14:17] gsmet commented on #17288
@loicmathieu you might be able to help here.

[2021-05-18 14:21] mkouba commented on #17322
I will.

[2021-05-18 14:28] mkouba commented on #17322
@silviu-negoita what does the `com.connectis.myconnectis.adapters.web.infra.filters.AngularResourcesFilter` do? Does it have to be a normal scoped bean at all? It's not ideal, at least from the performance POV.

In the mean time, you can disable the monitoring functionality via `quarkus.arc.dev-mode.monitoring-enabled=false`.

[2021-05-18 14:32] ia3andy opened #17324 "AeshConsole exception happening randomly when killing continuous testing"
## Describe the bug

Exception happening randomly when killing continuous testing (using main):
[code]

project: https://github.com/ia3andy/rock-rock-rock

[2021-05-18 14:33] ia3andy commented on #17324
I have to kill jave when it happens

[2021-05-18 14:42] Davide-Di-Do commented on #16914
As promosed here your controller class updated
[code]
but as mentioned before the little updates do not solve the problem that seems to be deep in the context manager and how it manages the transaction manager. I've tried also with other tries:

1. tried to add this configuration quarkus.arc.unremovable-types=io.smallrye.context.jta.context.propagation.* to prevent to remove some useful bean;
2. c

[2021-05-18 14:44] yrodiere commented on #17291
Thank you for your report.

Unfortunately, I was not able to reproduce your problem with the provided information. In my tests, `Hibernate.isInitialized()` returns `false` as expected.

Please provide a minimal project reproducing the problem.

You can for example use this one as the base of your reproducer, changing whatever is necessary to reproduce your problem: https://github.com/yrodiere/quar

[2021-05-18 14:47] barreiro commented on #17304
The TL cache in Agroal should be cleared periodically, on the idle timeout check. Quarkus sets a default value of 5M for that.

[2021-05-18 14:49] radcortez commented on #17278
Fixed in https://github.com/smallrye/smallrye-config/pull/570.

[2021-05-18 14:55] agoncal commented on #14762
@yrodiere  Yes, I managed to reproduce it in a much simpler example https://github.com/agoncal/agoncal-bug-quarkus-orm

[2021-05-18 15:06] gsmet opened #17326 "ConfigMappingValidatorTest failing when deploying snapshots"
@radcortez the build deploying the snapshots failed with the following error tonight. Could you have a look?

Failing build is here if you need details: https://github.com/quarkusio/quarkus/runs/2606481261?check_suite_focus=true .

[code]

[2021-05-18 15:09] Sanne commented on #17304
@barreiro the leak is happening when the application is restarted, for example during continuous testing. Could you make sure it's also cleared on shutdown?

[2021-05-18 15:14] fabrii commented on #17291
Hi! You just need to change this line:

Containing containing = entityManager.getReference(Containing.class, id);

by

Containing containing = entityManager.find(Containing.class, id);

[2021-05-18 15:15] Sanne commented on #9464
hi @agoncal , no there isn't a way currently. Please open an HHH issue? cc/ @beikov @sebersole might like this and I suppose it wouldn't be too hard.
 - https://hibernate.atlassian.net/browse/HHH

N.B. this would only be possible in the format in which we actually parse the file (which happens to be what is being used in Quarkus)

[2021-05-18 15:17] radcortez commented on #17326
Sure.

[2021-05-18 15:18] phillip-kruger opened #17327 "WebSockets in Extensions"
## Describe the bug
From https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Dev.20UI.3A.20Log.20stream.20not.20working.20anymore

Recent version of Quarkus (seems like 1.13.3 and 2.0.Alpha*) the extensions that use WebSockets sometimes get an error (Request already read) when trying to upgrade the request to Websocket.

Example, the websocket that allows Subscriptions on GraphQL: ht

[2021-05-18 15:31] geoand commented on #17280
I can't shake the feeling that this is something that we could do ourselves and not expose.

@FroMage @stuartwdouglas WDYT?

[2021-05-18 15:32] Sanne commented on #17291
@fabrii that would invalidate the test: `find` is not allowed to return a lazily initialized object - it needs to load the real object.

[2021-05-18 15:36] FroMage commented on #16401
For the template system, you can use https://quarkus.io/guides/qute

For what our REST client interfaces look like and support: https://quarkus.io/guides/rest-client
You can also see we advertise generated models that use public fields.

And I'd like to generate either two methods per endpoint: one blocking and one reactive, or perhaps two classes per endpoint and separate them?

To illustrate, he

[2021-05-18 15:44] yrodiere commented on #17291
@Sanne I must admit I'm a bit surprised; is `find` supposed to load lazy collections? It should not return a proxy, that's for sure, but loading lazy collections as well seems a bit... too much?

[2021-05-18 15:46] Sanne commented on #17291
ah sorry sure - I was only referring to the object itself, my bad I misunderstood.

[2021-05-18 15:52] Paul6552 commented on #8391
@barthanssens Can you please explain your solution a bit more?
I have the same problem like you, I have quarkus-universe-bom in my pom.xml, but I still get the error message:

[code]

[2021-05-18 15:58] fabrii commented on #17291
From my experience using Quarkus, when using find the collections are lazy (no querys are fired to the database to load them), but the Hibernate.isInitialized returns true anyway.

[2021-05-18 16:02] radcortez commented on #17326
The issue is caused with the properties `server.login` and `server.password` added for Maven in this run. The mapping class test tries to map them because the prefix is `server`, but there are no mapping fields for them so it fails.

https://github.com/quarkusio/quarkus/pull/17329 should fix this.

[2021-05-18 16:19] loicmathieu commented on #17288
@Pedro-Henriques I guess you are using the `logging-gelf` extension ?
What you want is what is called **structured logging** where instead of logging a message as a simple String you want to send a structured (with a format) message in JSON.

`logging-gelf` didin't support this kind of logging, the use case is to send String based logs that will then be analysed by loggstach/elasticsearch for exam

[2021-05-18 16:26] TomasHofman commented on #15383
I did another experiment without docker swarm, instead I'm setting up IPVS loadbalancer manually.

Steps:

[code]

With above setup, run a Quarkus rest client app, target URL set to "http://1.2.3.4/". (I use modified Quarkus rest client quickstart: https://github.com/TomasHofman/quarkus-quickstarts/commit/5e5a2dee5bd071e1c6571a1a269e38372db7e9bd)

Results bellow.

### Case 1 - Without setting the

[2021-05-18 16:40] #17193 closed

[2021-05-18 16:49] beikov commented on #9464
The implementation would be pretty simple and I'd suggest we reuse the JPA load script property `javax.persistence.sql-load-script-source`. The method `org.hibernate.tool.schema.internal.Helper#interpretScriptSourceSetting` would only have to split the value by `File.pathSeparatorChar` and create some kind of aggregated `ScriptSourceInput`.

[2021-05-18 16:57] gsmet commented on #9464
Yeah, I think it will be far less fragile to allow defining several (ordered) files rather than implementing some sort of inclusion in the SQL parser.

@beikov I think a comma would be good enough and more in line with what we do in Quarkus. If you don't already have anything like that in ORM, I guess it would be a good choice.

[2021-05-18 16:58] yrodiere commented on #2282
Correct me if I'm wrong, but I believe the problem lies in how we're using a `Process` to run `docker` (in `io.quarkus.deployment.pkg.steps.NativeImageBuildRunner#build` and probably others). Basically we spawn a process, but we don't kill it when the JVM forcibly shuts down (i.e. when we receive SIGINT).

I think adding a JVM shutdown hook every time we spawn a new process could do the trick? E.g

[2021-05-18 17:03] yrodiere commented on #17295
I investigated this, and it seems the problem comes from the fact Hibernate ORM sometimes uses reflection to inject services in other services.
In this case, `org.hibernate.engine.jdbc.cursor.internal.StandardRefCursorSupport` contains this:

[code]

And this annotation is expected to be detected when we start Hibernate ORM. Obviously, in native mode, it won't be.

I will work on a patch soon, but

[2021-05-18 18:10] ia3andy opened #17330 "Pressing "r" when all tests are passing in broken only mode won't re-run any tests (continuous testing)"
## Description

[code]

I think pressing "r" should temporarily override the broken mode.

In broken only mode, I think we should also re-run tests (already passed) when their direct content is changed, or when adding new tests (if that's possible).

[2021-05-18 18:12] vsevel commented on #16453
https://github.com/eclipse-vertx/vert.x/pull/3919 has been merged.
once vertx 4.1 is available in quarkus, we will need to to expose the new `nonProxyHost` property in the vault runtime config, and use it in the [client](https://github.com/quarkusio/quarkus/blob/main/extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/client/MutinyVertxClientFactory.java#L21-L23)
/cc @vietj

[2021-05-18 18:43] ricardozanini commented on #16401
Hi @FroMage! Sure! I'll draft something this week and get back to you. :)

[2021-05-18 19:57] fmarissel commented on #16453
hi @vsevel sorry i wasn't available last week. I tried to upgrade to 2.0.0.Alpha2 but quarkus-universe-bom is missing and i didn't see anything about that in the migation guide :
https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.0

[2021-05-18 19:58] geoand commented on #16453
You can use `quarkus-bom` instead

[2021-05-18 20:19] #12792 closed

[2021-05-18 20:19] #17326 closed

[2021-05-18 20:50] ShahmirAhmed commented on #4125
I've followed this thread and tried the suggestions mentioned, but unfortunately to no avail. I've tried the several approaches that @k0l0ssus used that gave them UnsatisfiedResolutionExceptions with both HttpServletRequest and HttpRequest. I've used @Context annotation with HttpServletRequest to which a NullPointerException was thrown, I've also tried using

[code]

which is a little redundant wi

[2021-05-18 21:20] #16691 closed

[2021-05-18 21:33] draccagni commented on #17295
The workaround fixes the issue. Do you think that the patch will be available in the next release?

[2021-05-18 21:40] jamezp commented on #17224
I don't really see a way do this in RESTEasy itself. If a resource match is not found a `NotFoundException` must be thrown. An `ExceptionMapper` could probably be used to filter these out and not print the stack trace.

[2021-05-19 00:19] #10683 closed

[2021-05-19 01:07] stuartwdouglas commented on #17330
Adding new tests already works, but changing the test class itself is a deliberate decision. The logic is:

- In normal mode if you change a test class all its tests are run, and no other tests, so if you want this behavior just use normal mode
- If you have 10 tests in a class and you just want to debug the failing one it is super annoying to have the other 10 tests tripping your breakpoints

[2021-05-19 01:38] stuartwdouglas commented on #17324
Have you recompiled Quarkus while Quarkus was running in dev mode?

[2021-05-19 02:28] stuartwdouglas commented on #17231
@aloubyansky I am pretty sure there is nothing we can do here, but just wondering what your opinion is?

IMHO the current behavior is fine, as using parents is the standard way to create a multi module project, and no matter what we do there will always be some way of laying out a project that causes us problems.

[2021-05-19 02:48] imjuoy commented on #12941
Hi Team,
I am affected by this as well.
Can someone please provide updates on this issue? Has the rest easy team been infformd about this?

[2021-05-19 02:51] stuartwdouglas commented on #17311
I can't reproduce this with similar code. Do you have a full stack trace at least?

[2021-05-19 03:50] stuartwdouglas commented on #17285
@yrodiere do you have a test case for this? It may be as simple as: https://github.com/quarkusio/quarkus/compare/main...stuartwdouglas:jpa-computing-index?expand=1

[2021-05-19 03:51] stuartwdouglas commented on #17290
We need to upgrade Netty to get my fix for this.

[2021-05-19 05:26] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/855670568

[2021-05-19 05:56] aomsweet commented on #17088
Hi. @gwenneg   Are there any new developments?

[2021-05-19 06:00] kusumachalasani opened #17337 "No http_server_requests data in /q/metrics with micrometer enabled"
## Describe the bug
Even after the micrometer is enabled, http_server_requests data is not seen in /q/metrics.
The same behaviour is observed on openshift cluster , minikube and with docker commands.

### Expected behavior
We should be able to get  http_server_requests data

### Actual behavior
No http_server_requests data

## To Reproduce

For the TechEmpower Frameworks bechmark, I enabled microm

[2021-05-19 06:04] skasten commented on #15383
@TomasHofman thank you for the work. If it works like described in the PR, then this should be the configuration possibilities needed to avoid our initial problem. We will test the solution here and give feedback.
@ambition-consulting You configuration with a TTL of 1ns may be a little bit hard? ;-) Maybe test it with a TTL of some seconds, like Tomas.

[2021-05-19 06:24] #14762 closed

[2021-05-19 06:28] ambition-consulting commented on #15383
@skasten happy to - am redeploying now with 2 seconds and will retest.

[2021-05-19 06:36] ia3andy commented on #17330
Ok, yeah if all the tests are run, then I get it, I was thinking it was possible to only run the modified one (with a direct modification if its definition, not a dependency).

Still the main issue is still a problem right? "Pressing "r" when all tests are passing in broken only mode won't re-run any tests"

[2021-05-19 06:38] TomasHofman commented on #15383
@ambition-consulting @skasten it didn't occur to me before, but I looked into the code and the TTL value is internally converted to milliseconds. With the value of 2 ns that gives 0 ms, which means no expiry.

Please do retest with e.g. seconds and let us know :). IMO the only important thing is that the TTL should be shorter or equal to connection timeout in IPVS, which is 15 minutes by default.

[2021-05-19 06:41] yrodiere commented on #17285
@stuartwdouglas Indeed it does the trick. I created #17339. Thanks!

[2021-05-19 06:41] stuartwdouglas commented on #17330
yea, the linked PR fixes it

[2021-05-19 06:56] #17307 closed

[2021-05-19 07:08] #17249 closed

[2021-05-19 07:10] ia3andy opened #17340 "Use Aborted instead of Skipped in Continuous testing"
After looking at the junit spec, I don't understand why we use skipped instead of aborted? https://junit.org/junit5/docs/5.0.1/api/org/junit/platform/engine/TestExecutionResult.Status.html
[code]

For the general status, it seems to be:
- no aborted/failed = passed
- at least one failed = failed
- all aborted = aborted

_Originally posted by @ia3andy in https://github.com/quarkusio/quarkus/pull/17

[2021-05-19 07:12] aloubyansky commented on #17231
We can actually make this work. Stuart's right that our bootstrap fails to figure out what the top level project is. We can see the `-f module-name` but it's a relative path that we can't resolve. However, your project could be built if we add a property to the test plugins like
[code]
and make the bootstrap check it (which is literally a couple lines of code). So I'll re-open this issue.

[2021-05-19 07:13] ia3andy commented on #17324
Arggg does this really have an effect 😱 I was suspecting it..

[2021-05-19 07:14] ia3andy commented on #17324
Good catch thanks!

[2021-05-19 07:23] gwenneg commented on #17088
Hi and sorry for the delay. @radcortez Could you please have a look at this?

[2021-05-19 07:30] #17330 closed

[2021-05-19 07:33] ia3andy commented on #17340
I am waiting for you to confirm this before starting @stuartwdouglas:

Also if you look at the acceptance criteria of this issue: https://github.com/junit-team/junit5/issues/1165, this is what I suggested above.

[2021-05-19 07:44] grandmaximum commented on #11045
@artysidorenko
I tried integrating your solution into my project using **gradle** but struggles with getting it to work due to the following error:
"Caused by: io.quarkus.bootstrap.BootstrapException: Failed to determine the Maven artifact associated with the application C:/XXXXX"

Basically QuarkusBootstrap trying to set "mavenArtifactResolver" which cannot be fetched in my environment.

I traced

[2021-05-19 07:54] stefvanderwel opened #17341 "AWS Lambda returns a 400 response (bad request) when a special character is in the URL"
## Describe the bug
When Quarkus is deployed using quarkus-amazon-lambda-http or quarkus-amazon-lambda-rest, special characters are not allowed in the path params.

For example,`GET /greeting/auth0|5ddfd9cab2658c0e34e9e0fa` or `GET /greeting/auth0%7C5ddfd9cab2658c0e34e9e0fa` (urlencoded) immediately return a 400 response without any error message.

### Expected behavior
It should return the regula

[2021-05-19 07:56] jmtd commented on #10559
Red Hat have *just* released OpenJDK runtime UBI images. These are basically ubi-minimal + java-<version>-openjdk-headless RPMs:

 * `registry.access.redhat.com/ubi8/openjdk-11-runtime` (119.7 MB)
 * `registry.access.redhat.com/ubi8/openjdk-8-runtime` (106.1 MB)

[2021-05-19 07:56] silviu-negoita commented on #17322
@mkouba I will answer each question one at a time:

1. In this particular case, that filter is used to serve the FE (Angular app). I followed this official documentation from [here](https://quarkus.io/blog/quarkus-and-web-ui-development-mode/).
[code]
But this is not the only source of exception. Other filters also throw this.
2. It doesn't need. I removed @ApplicationScoped but this not fixed my

[2021-05-19 08:05] geoand commented on #12111
This fails because of Dokka:

[code]

[2021-05-19 08:06] geoand commented on #8593
@jamesnetherton seems like `quarkus-universe-integration-tests-camel-arangodb` is failing

[2021-05-19 08:18] rohit-gandhe opened #17343 "Native image build failure"
## Describe the bug
Native image build fails when using DynamoDB Enhanced Client

### Expected behavior
Build succeeds

### Actual behavior
Error: Unsupported features in 2 methods
Detailed message:
Error: Detected an instance of Random/SplittableRandom class in the image heap. Instances created during image generation have cached seed values and don't behave as expected.  To see how this object g

[2021-05-19 08:20] liweinan commented on #15383
+1 to the experiment :D Yes I feel that simplify the test situation will be helpful.

In my local env, even I set the `ttl` to `1 nanosecond` seems has no difference. Let me do more detail tests and analysis the TCP level packets with Wireshark and report my test result here.

[2021-05-19 08:28] mkouba opened #17344 "gRPC - log an error if a blocking client is used on the event loop"
Currently, if you change the JAX-RS impl from RESTEasy classic to `resteasy-reactive` in the [grpc-plain-text-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/grpc-plain-text-quickstart) and forget to add `@Blocking` to the [resource method](https://github.com/quarkusio/quarkus-quickstarts/blob/main/grpc-plain-text-quickstart/src/main/java/io/quarkus/grpc/examples/hello/Hello

[2021-05-19 08:31] jamesnetherton commented on #8593
@geoand Until there's a camel-quarkus release that can work with Quarkus 2.x, it'll keep failing. Can we disable the camel itest module from the nightly Quarkus SNAPSHOT build?

[2021-05-19 08:43] geoand commented on #8593
Yes we can, we would need an update of https://github.com/quarkusio/quarkus-platform/blob/main/.github/quarkus-ecosystem-test to exclude whatever needs to be excluded

[2021-05-19 09:06] jamesnetherton commented on #8593
PR to disable the camel itests: https://github.com/quarkusio/quarkus-platform/pull/230.

[2021-05-19 09:11] andreas-eberle commented on #16059
@geoand: I experienced the same issue. Luckily with 1.13.4 and the tipp to use the rest-client-reactive it worked for me.

Unfortunately, I wasn't able to find the `quarkus-rest-client-reactive` extension from googling before I knew its name and that it exists from this ticket. Also when I searched the [reactive guide](https://quarkus.io/guides/resteasy-reactive), I couldn't find it at first, beca

[2021-05-19 09:11] ia3andy opened #17347 "Update codestart docker image templates with ubi-java"
Maybe we should also update the codegen images and templates?
- https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/codestart.yml

- https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/dockerfiles/base/Dockerfile-layout.

[2021-05-19 09:11] gsmet commented on #17343
You probably are using GraalVM 21.1 with Quarkus 1.13.x.

The issue has been fixed here https://github.com/quarkusio/quarkus/pull/15897 but not backported to 1.13.x yet. I will do it for the next one.

In the meantime, you should use GraalVM 21.0.x as it is the version primarily supported by 1.13.x.

[2021-05-19 09:13] fmarissel commented on #16453
I upgraded to Quarkus 2.0.0.Alpha2 and vertx-core 4.1.0.Beta1 but I don't find a way to pass nonProxyHost variable to vertx web client

[2021-05-19 09:15] ia3andy commented on #17347
We should check the image size?

[2021-05-19 09:16] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/855679115

[2021-05-19 09:29] Pedro-Henriques commented on #17288
Hello @loicmathieu
Thank you for the answer, I'll take a look into that extension and solve my issue either with that extension or in logstash.

Best regards,
Pedro Henriques

[2021-05-19 09:38] yrodiere commented on #17295
The patch is ready: #17348.

It will be in the next 2.0 release if it gets merged today.

As to including it in 1.13.5, I suppose it will be, but @gsmet will get to decide; I'm not aware of all the constraints.

[2021-05-19 09:41] agoncal commented on #9464
@Sanne Done : https://hibernate.atlassian.net/browse/HHH-14618

[2021-05-19 09:57] liweinan commented on #15383
I dug the implementation a little bit and here are my findings:

![3E3DF40A-FECB-4DE3-BC45-788FB55D213C](https://user-images.githubusercontent.com/201907/118793709-707c5380-b8cb-11eb-8900-2ceeeffee1da.png)

![FB8E6DF8-A70B-4478-B583-347C98B7BFFB](https://user-images.githubusercontent.com/201907/118793724-73774400-b8cb-11eb-849c-de775673f194.png)

So from above screenshot the `connectionTTL` is cal

[2021-05-19 09:58] Roshanchandipur commented on #17254
I'm a beginner so can you suggest me how to get started.

[2021-05-19 10:00] tsegismont commented on #17327
@FroMage in Vert.x Web applications, if you want to upgrade to websocket connection in a route handler you must make sure:

- no previous route invokes `routingContext.next()` asynchronously, or
- the request is paused immediately when received and not resumed before upgrading

I discussed this briefly with @phillip-kruger and he told me there are other route handlers than his and when he gets the

[2021-05-19 10:37] TomasHofman commented on #15383
@liweinan to clarify, do you mean setting sub-millisecond TTL has no effect, meaning it's equivalent to setting TTL = 0 (which means no TTL is set)?

The expectation is that:

* not configuring TTL (or configuring sub-millisecond TTL as we now noticed) leaves the REST client vulnerable to broken connections (because the connection is discarded by IPVS load balancer after 15 minutes, but is still c

[2021-05-19 10:41] zakkak opened #17349 "[native] The upgrade of smallrye graphql to 1.2.0 breaks backwards compatibility with GraalVM/Mandrel 20.3"
## Describe the bug
The upgrade of smallrye graphql to 1.2.0 (https://github.com/quarkusio/quarkus/pull/17191) breaks backwards compatibility with GraalVM/Mandrel 20.3

### Expected behavior
Quarkus `main` should be backwards compatible with GraalVM/Mandrel 20.3.

### Actual behavior
The native compilation of the SmallRye GraphQL integration test fails with:
[code]

## To Reproduce
[code]

## Envi

[2021-05-19 10:52] mkouba commented on #17322
I suspect the `asyncSupported = true` part...

Yes, I've just verified that `@WebFilter` is registered as a custom bean defining annotation, i.e. all classes annotated with this annotation are registered as beans. `@ApplicationScoped` is indeed not the ideal scope for similar component though. `@Dependent` (default) or `@javax.inject.Singleton` would be a better match.

+1

[2021-05-19 10:59] stianst commented on #17217
We'll quickly get into a situation where users will need to configure something more than just a plain client and a user. A realm export/import is far from ideal right now, but probably the best we can do right now. It's something we need to improve in Keycloak regardless. Another option may also be to let folks configure it with code and KC admin client.

[2021-05-19 11:00] cjioh commented on #9262
Hi
Any ETA for this?

[2021-05-19 11:11] sberyozkin commented on #17217
FYI, I've started prototyping some initial code (by copying it from the Redis client and also Vault Dev Services PRs) - at the moment I'm doing it similarly to those PRs inline with `quarkus-oidc` - but I think we'd eventually need to have a dedicated `dev-services-keycloak` extension as indeed it would be 100% focused on making it optimal for the KC users with the extra dependencies required such

[2021-05-19 11:16] aloubyansky commented on #12715
@ge0ffrey I've added the available options to the end of the maven-tooling guide in this PR https://github.com/quarkusio/quarkus/pull/17351

[2021-05-19 11:23] draccagni commented on #17295
The workaround solve the issue.

[2021-05-19 11:24] phillip-kruger commented on #17349
@ybroeker f.y.i - if you have any idea please share :)

[2021-05-19 11:42] yrodiere commented on #17295
@draccagni Thank you for reporting the problem. Please don't close issues though, we will close them when fixes get merged.

[2021-05-19 11:42] #17285 closed

[2021-05-19 11:47] cescoffier commented on #9262
Oh! Missing this issue. Yes, Quarkus 2.x uses vertx 4.

[2021-05-19 11:48] #9262 closed

[2021-05-19 11:52] agoncal opened #17353 "Exposing the request object in Qute"
## Description

Qute already exposes a few built-ing objects such as the [configuration](https://quarkus.io/guides/qute-reference#config): `{config:foo}`. Sometimes, when you are in a Qute template, you need to access the root-path of the resource. With `config` you could do `{config:property('quarkus.http.host')}:{config:property('quarkus.http.port')}`.

It would be nice for Qute to expose a `req

[2021-05-19 12:19] loicmathieu commented on #17288
OK, can we close this issue or do you want to keep it open and provide feedback later on your findings ?

[2021-05-19 12:25] Pedro-Henriques commented on #17288
I believe we can close this issue, as the solution seems to be changing something on logstash side and not specifically change something on quarkus to work for my problem.
It would be great if there as an option like "appender.console.layout.objectMessageAsJsonObject" that we have on our project for Log4j2, but we will make it work :)

Thank you again for the quick assistance on my doubts!

[2021-05-19 12:29] loicmathieu commented on #17288
Closing it as the question has been answered

[2021-05-19 12:29] #17288 closed

[2021-05-19 12:31] ebullient commented on #17337
There needs to be a better reproducer for this, as I can't reproduce it using the benchmark app. When I run the application, the metrics are present as expected.
One thing I did notice in your repo is that you specify the version for the micrometer-prometheus registry extension. That line should be removed:
[code]

[2021-05-19 12:33] hivl commented on #10870
is there some progress on this issue?

[2021-05-19 12:34] geoand commented on #16059
Thank you for the input @andreas-eberle!

@michalszynkiewicz how do you feel about the proposed improvements?

[2021-05-19 12:37] vsevel commented on #16453
you would have to add the option to the vault extension in [here](https://github.com/quarkusio/quarkus/blob/main/extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/client/MutinyVertxClientFactory.java#L21-L23) and recompile a new vault extension.

here is the new [option](https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/http/HttpClientOptions.java#L1142-

[2021-05-19 12:49] marcelhanser commented on #15752
Hmm, seems like i did something wrong. Actually i just wanted to implement the caching remark

[2021-05-19 12:57] ia3andy opened #17356 "Continuous Testing onComplete called when no tests has been run"
## Describe the bug
This is maybe an edge case, but it happened in this specific situation:
project: https://github.com/ia3andy/rock-rock-rock/tree/no-test-run

1. Run in dev mode and start continuous testing "r"
2. Hit "b" to activate broken mode
3. Change the content of the @Disabled `mayWeHaveANewBand` test

In the output it's a local branch where I added a specific message for that case as a f

[2021-05-19 12:58] ebullient commented on #17337
We could try turning on debugging which would not work for a benchmark run, but should show what is going on (whether or not timers are completing): `quarkus.log.category."io.quarkus.micrometer".level=DEBUG`

[2021-05-19 13:04] MarkusKramer opened #17358 "Unable to serialize simple Kotlin data class"
I'm trying to serialize a data class. I've already simplified it to:

[code]

using
[code]
it gives me an empty JSON "{}" string.

This works in JVM mode but not in native image mode. I'm successfully serializing / deserializing objects in other places of my app.

Using Quarkus version: 1.13.4.Final, with quarkus-resteasy-jackson.

[2021-05-19 13:14] kusumachalasani commented on #17337
I did remove the version line and tried. I still see the same behaviour.
Will turn on the debug and try.

[2021-05-19 13:29] dicolasi commented on #17058
Are there going to be any updates on this? Otherwise I will close this issue.

[2021-05-19 13:47] ebullient commented on #17337
`"-Dvertx.disableMetrics=true` was present in the docker file, which disabled vertx-based metrics.

[2021-05-19 13:47] #17337 closed

[2021-05-19 14:04] andreas-eberle opened #17359 "Dev mode fails to reload classes when using reactive rest client"
## Describe the bug
We are using resteasy reactive and the reactive rest client in Quarkus 1.13.4.Final, gradle and Kotlin. Everytime the quarkus dev mode reloads the code, Quarkus is broken and we have to restart it.

We were able to break it down to a small reproducer. The problem seems to appear, when we have a POST resource that receives a DTO in the body and passes this dto to a rest client c

[2021-05-19 14:14] artkonr commented on #16991
Hey team,

Just wanted to add my voice to this. I really miss the ability to tailor the connection pooling.

For my use case I need both small connection pools (1-5 connections) and pools which can create more connections but evict them automatically after an hour or two.

Based on what I see in the logs, default size of the connection pool in REST client is 50, which is way too much. I have ~10 s

[2021-05-19 14:17] mkouba opened #17360 "gRPC - generate a convenient client bean to improve the user experience"
Currently, a static nested class can be injected, e.g. `@GrcpClient MutinyGreeterStub`. We could reuse the generated service interface introduced in https://github.com/quarkusio/quarkus/pull/17342 and allow users to inject `@GrcpClient Greeter`.

[2021-05-19 14:18] mkouba commented on #17360
CC @Ladicek ;-)

[2021-05-19 14:28] bgoggin opened #17361 "Project containing AWS Java SDK v2 and Hibernate ORM won't compile to native"
## Describe the bug
If you want to use AWS Secrets Manager, for example, and if you therefore create a project that uses both Hibernate ORM and leverages the AWS Java SDK v2 and try to do a native compile, the compilation fails with the exception:
[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.13.4.Final:build (default) on project demo: Failed to build quarkus application: io.qua

[2021-05-19 14:28] artkonr opened #17362 "Make @Fallback repeatable"
## Description

It would be really great to have `@Fallback` annotation repeatable to make code like below work:

[code]

I know it's possible to pass a custom `FallbackHandler` implementation, which would handle conditional fallbacks, but IMHO making `@Fallback` repeatable would make this a bit more declarative.

[2021-05-19 14:35] dicolasi commented on #17058
I have created my own interceptor for those who wants to use the inifnispan client.
[code]

[code]

All you need to do is annotate a method with @Cached and it works (given the fact that inifinispan server is reachable of course :))

[2021-05-19 14:39] geoand commented on #17359
What versions have you tried? `1.13.4.Final`, `2.0.0.Alpha2`, `main`?

[2021-05-19 14:40] silviu-negoita commented on #17322
@mkouba

The `async` part is needed, or i get into:

[code]

Any alternatives?

[2021-05-19 14:46] andreas-eberle commented on #17359
Only 1.13.4.Final so far.

[2021-05-19 14:46] geoand commented on #17359
I just tried Quarkus from `main` and the problem still exists.

I'll take a look soon

[2021-05-19 14:47] andreas-eberle commented on #17359
Thanks @geoand!

[2021-05-19 14:52] yrodiere commented on #17291
From what I can see, `Hibernate.isInitialized` is right: the collection *was* initialized. It shouldn't have been, though, and *that* is a bug.

I opened https://hibernate.atlassian.net/browse/HHH-14620 upstream.

[2021-05-19 14:59] radcortez commented on #17088
I'll have a look.

I believe this is a duplicate of https://github.com/quarkusio/quarkus/issues/7862

[2021-05-19 15:03] Sanne commented on #17361
I managed to reproduce this on `1.13.4` as reported, but it works fine on `main`.
Also it's not clear which component is causing it, I suspect it's not the Hibernate extension

[2021-05-19 15:05] bgoggin commented on #17361
I used the AWS SDK for Java v2 in another project without the error and Hibernate ORM was the biggest difference I was aware of between the 2 projects.

[2021-05-19 15:09] #17179 closed

[2021-05-19 15:13] Sanne commented on #17361
I've found this is caused by https://github.com/aws/aws-sdk-java-v2/pull/2368 - Quarkus main is unaffected as the AWS SDK has been fixed with that PR and upgraded in https://github.com/quarkusio/quarkus/pull/16277

@gsmet I've flagged #16277 to be considered for backport

[2021-05-19 15:13] #16969 closed

[2021-05-19 15:13] #17322 closed

[2021-05-19 15:14] Sanne commented on #17361
@bgoggin a workaround is to override the awsskdk version in your project:

[code]

[2021-05-19 15:16] Sanne commented on #17361
@gsmet so this issue was already fixed in main.. I don't remember how we flag this, should I close it?

[2021-05-19 15:20] mkouba commented on #17322
It should be fixed in the main branch.

[2021-05-19 15:28] #17308 closed

[2021-05-19 15:28] sberyozkin commented on #13817
@kdubb, Have you dealt with Vault OpenId Connect authentication ?

[2021-05-19 15:36] gsmet commented on #16453
@vsevel we merged the upgrade to Vert.x 4.1.0.Beta1 this week. Would it be good enough to prepare a PR for this?

[2021-05-19 15:39] wburns commented on #16315
The issue was that the annotation processor path was explicitly overridden and thus the protostream annotation processor was never utilized.

[2021-05-19 15:51] mkouba commented on #17237
@dhoffer You can try to use `ExecutorService.shutdownNow()` or even `ExecutorService.awaitTermination(long, TimeUnit)` (this method blocks until all tasks have completed or the timeout occurs) instead. `ExecutorService.shutdown()` does not attempt to stop all executing tasks. And the executed task would need to test whether the current thread has been interrupted...

[2021-05-19 16:42] symphony-youri opened #17367 "NPE in QuarkusModelBuilder for Gradle composite builds"
## Describe the bug

On a project using Gradle composite build, dev mode fails to start.
The project layout is the following:

- composite
  - composite-subproject
- project
  -  utilities
  -  my-artifactId

- my-artifactId depends on utilities
- utilities depends on composite-subproject
- project is including composite as a Gradle composite build

### Expected behavior
Quarkus dev mode should st

[2021-05-19 17:08] gsmet commented on #16453
I checked and unfortunately this feature is not in 4.1.0.Beta1.

I created a PR for the enhancement here https://github.com/quarkusio/quarkus/pull/17369 so that we keep track of it.

[2021-05-19 17:10] #17295 closed

[2021-05-19 17:30] SivaTharun commented on #17254
@Roshanchandipur i have already started to work on this issue and will raise a PR in a day or two.

[2021-05-19 17:42] karesti commented on #17058
For a quick overview of Infinispan https://infinispan.org/get-started/

For what it's the caching layer using the Infinispan client behind the cache abstraction, we do already do this succesfully with Spring Boot for a long time. For example a latest integration example https://github.com/karesti/protobuf-marshalling-guide/tree/main/marshalling-with-spring-boot-proto

[2021-05-19 18:27] cescoffier commented on #16453
Yes, it will be in vertx 4.1.0.CR1

[2021-05-19 18:29] rohit-gandhe commented on #17343
@gsmet Thanks for a quick response. I am using 21.0 version of GraalVM

`GraalVM Version 21.0.0.2 (Java Version 11.0.10+8-jvmci-21.0-b06)`

and 1.13.4

I got around the problem by added the `-Dquarkus.native.container-build=true` flag to the build

[2021-05-19 18:29] #17343 closed

[2021-05-19 18:59] #17229 closed

[2021-05-19 19:10] vsevel commented on #16453
@gsmet I was planning to do it as soon as it would be available.

[2021-05-19 20:36] bgoggin commented on #17361
@Sanne Hi, am I understanding correctly that just just rolling back to version of 2.16.36 of AWS SDK for Java v2 should work? I get the same error with 2.16.36.

[2021-05-19 21:03] Sanne commented on #17361
Are you sure? It worked for me, using your reproducer.

I'll try again tomorrow - it's too late for me now :)

[2021-05-19 21:11] bgoggin commented on #17361
@Sanne I see, it's a different, additional dependency. Please ignore my comment above. It compiles with this added dependency.

[2021-05-19 21:23] #17359 closed

[2021-05-19 21:56] hogmuzzle opened #17376 "SDL Directives in smallrye graphql"
Smallrye Graphql has support for SDL Directives but implementation in quarkus is not compatible with the new smallrye version.

Can you please add support for the last version of smallrye qraphql to quarkus.

[2021-05-19 22:32] artysidorenko commented on #11045
@grandmaximum the startup logic is a stripped down version of the regular `QuarkusBootstrap` workflow ([these docs](https://quarkus.io/guides/class-loading-reference) and [this class](https://github.com/quarkusio/quarkus/blob/main/independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/app/QuarkusBootstrap.java) were my inspiration). I'm on maven, but in any case looks like maven is

[2021-05-19 23:04] stuartwdouglas commented on #17324
This has happened to me enough times that I think it is worth fixing (on a 'best effort basis', depending on the changes made shutdown may still hang)

[2021-05-20 04:23] phillip-kruger commented on #17376
This will be in Quarkus 2.

[2021-05-20 04:40] stuartwdouglas commented on #11045
So there are a few issues here.
- We don't support junit-vintage-engine, so it won't really be possible to use the existing Cucumber junit stuff, at least not in the same package as @QuarkusTest
- If you can't re-use @QuarkusTest then either Cucumber will need to bootstrap Quarkus or a quarkus extension will need to bootstrap cucumber, either approach will likely result in the use of internal API'

[2021-05-20 05:00] geoand commented on #17358
Have you tried adding `@RegisterForReflection` to `BadRequestResponse`?

[2021-05-20 05:37] glefloch commented on #17367
Thanks for reporting this. I suspect that we are not using the right `project` instance as the included build is not a direct dependency of the project.
I will fix this.

[2021-05-20 05:37] #17327 closed

[2021-05-20 05:53] geoand commented on #8593
@adutra It seems like the platform tests for Cassandra are failing.

Mind taking a look please?

[2021-05-20 06:13] liweinan commented on #15383
From screenshot I can see that the `TTL=1` value is passed into `PoolingHttpClientConnectionManager`, but I'm. not sure how does it use this parameter. I need to analysis deeper and give back my findings.

The default value I see is `0`.

That's what I expected. But even I set `TTL=1` currently, my test still work: https://github.com/liweinan/quarkus-pr-15383/blob/main/src/test/java/org/acme/rest/

[2021-05-20 06:32] phillip-kruger commented on #17376
Closing here as the latest (already in main branch) will be in the next version of Quarkus.

[2021-05-20 06:32] #17376 closed

[2021-05-20 06:36] aloubyansky commented on #8593
[code]
Vert.x 4?

[2021-05-20 06:36] fabasoad commented on #16862
Cool. Didn't know that TBH. Thanks!

I can confirm that it works on `2.0.0.Alpha2` version 👍

[2021-05-20 06:55] geoand commented on #8593
Very likely

[2021-05-20 07:37] silviu-negoita commented on #17322
@mkouba thanks for fast fix!

[2021-05-20 07:40] MarkusKramer commented on #17358
Thanks, that solved my problem. However, I'm not directly returning BadRequestResponse in the Response but serialize it manually first.

[code]

 Maybe this could be added in the documentation under https://quarkus.io/guides/kotlin#kotlin-and-jackson or is this still a bug?

[2021-05-20 07:52] mkouba commented on #17322
It would be great if you could try to verify the fix ;-).

[2021-05-20 07:56] Ladicek commented on #17362
Ah, and one question to clarify the use case. How would you handle `JsonProcessingException` differently from `CircuitBreakerOpenException`? Do you actually foresee returning a different value, or would the difference be entirely in side effects (logging etc.)?

[2021-05-20 07:59] ambition-consulting commented on #15383
We have not experienced connections reset after increasing the connectionTTL to 2 minutes. The window between the minimum value of 1 millisecond and the IPVS timeout seems to work.
![image](https://user-images.githubusercontent.com/4218334/118941451-08248500-b952-11eb-8226-fbd4df452777.png)
Will let you know if this situation changes.

[2021-05-20 08:12] #17324 closed

[2021-05-20 08:17] #9677 closed

[2021-05-20 08:31] geoand commented on #17358
It's not a bug.

Unless you return the class itself from the method, there is no way for Quarkus to know what class you are using.

The documentation does mention this annotation in the jsom guide.

[2021-05-20 08:31] #17358 closed

[2021-05-20 08:35] silviu-negoita commented on #17322
@mkouba I tested with current master branch(quarkus built locally) and my issue is fixed. This fix is included in latest `1.11.7.Final`?

[2021-05-20 08:38] mkouba commented on #17322
Great!

CC @gsmet

[2021-05-20 08:57] #16792 closed

[2021-05-20 09:01] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/859238456

[2021-05-20 09:03] artkonr commented on #17362
If I was to implement this, I'd probably go for most-specific-wins. If I got your point correctly, your concern is about cases similar to this:

[code]

So since `FileNotFoundException` is more specific relatively to `IOException`, method `method2()` takes precedence; all the rest of `IOException`-ish types will be handled by `method1()`. Typically, this is what we get in `try-catch`, so such beha

[2021-05-20 09:20] asoldano commented on #12941
@liweinan , any chance you can have a brief look at this? Thanks!

[2021-05-20 09:33] TomasHofman commented on #15383
That's great news, thanks for reporting @ambition-consulting.

[2021-05-20 09:35] Ladicek commented on #17362
Indeed that is my concern. Your comparison with `try`/`catch` is unfortunately mistaken. If you have

[code]

then it's the _1st handler_ who gets to handle the exception. So `try`/`catch` is in fact a "first matching wins" kind of thing. See https://docs.oracle.com/javase/specs/jls/se16/html/jls-14.html#jls-14.20.1

[2021-05-20 09:41] Ladicek commented on #17362
I think I'm leaning towards a conservative approach. If you have

[code]

Then you could possibly add a parameter of type `Throwable` (and of no other type) to the `fallback` method, in the _last_ position:

[code]

It would be a deployment error for both with-cause and without-cause fallback methods to exist.

WDYT?

[2021-05-20 09:57] Ladicek commented on #17362
Actually that's probably wrong, because it wouldn't work with vararg parameters. Alternative option would be to put the cause parameter to the _first_ position, but that's a little ugly...

[2021-05-20 10:18] artkonr commented on #17362
Yep, true, won't compile, did not think of that. But anyway, I did not assume to draw a parallel between the exception handling in general and in the fallback methods as a part of suggestion.

Is it going to replace `applyOn` in the annotation? I actually like your approach, it will work better in handling cases, when some information is acquired from the exception. I just feel that force-upcastin

[2021-05-20 10:47] Ladicek commented on #17362
I'm drawing parallels between `@Fallback` and `try`/`catch` because multiple `@Fallback` annotations differing only in `applyOn`/`skipOn` is essentially a new syntax for `try`/`catch`. Which I'd really like to avoid :-)

And no, nothing I'd do with providing access to the causing exception would affect the `applyOn` / `skipOn` annotation attributes.

One more thing:

I believe that `@Fallback` is

[2021-05-20 10:59] liweinan commented on #15383
@TomasHofman so in the screenshot you can see I set it to 1 miilisecond:

![image](https://user-images.githubusercontent.com/201907/118967515-6460c680-b99d-11eb-944e-cf057742982e.png)

(resteasy will convert it to miilisecond and pass into apache client)

[2021-05-20 10:59] liweinan commented on #15383
@ambition-consulting cool! :D

[2021-05-20 11:41] kdubb commented on #13817
@sberyozkin No, I've only been working on secret engines. Nothing with authentication.

[2021-05-20 11:47] artkonr commented on #17362
OK, I get it now. It looks like I've been trying to use it wrong way all along, it seemed to me to be some sort of declarative syntactic sugar over conventional error handling. All objections withdrawn :) I think your proposal is a good way to proceed from here then.

Shall I leave this item here open for reference?

[2021-05-20 11:54] sberyozkin commented on #13817
I might do a draft PR for @vsevel to consider

[2021-05-20 11:54] Ladicek commented on #17362
Thanks for your patience and replies! I think I'll close this, as I don't intend to implement repeatable `@Fallback`s at all -- but if you wish, you can continue the discussion either in https://github.com/smallrye/smallrye-fault-tolerance/issues/274 or in https://github.com/eclipse/microprofile-fault-tolerance/issues/507.

[2021-05-20 11:54] #17362 closed

[2021-05-20 12:02] #17246 closed

[2021-05-20 12:04] vietj commented on #16955
eclipse-vertx/vert.x#3926 has been fixed in master and will be part of 4.1.0.CR1 release

[2021-05-20 12:28] beikov commented on #9464
I think this issue should be closed. I created a PR for this btw: https://github.com/hibernate/hibernate-orm/pull/3999

[2021-05-20 12:33] Sanne commented on #9464
We normally close an issue when it's actually fixed in Quarkus - in this case when an ORM release is made available and when the upgrade PR is merged in Quarkus.

[2021-05-20 12:56] bgoggin commented on #17361
@Sanne Yes, might as well close it, thanks.

[2021-05-20 12:56] #17361 closed

[2021-05-20 13:11] Paul6552 commented on #17311
Sure

2021-05-20 15:07:22,283 DEBUG [org.hib.SQL] (executor-thread-1) select features0_.user_id as user_id3_7_0_, features0_.id as id1_7_0_, features0_.id as id1_7_1_, features0_.beschreibung as beschrei2_7_1_, features0_.user_id as user_id3_7_1_ from public.FEATURE features0_ where features0_.user_id=?
2021-05-20 15:07:22,283 DEBUG [org.hib.eng.jdb.spi.SqlExceptionHelper] (executor-thread-1) coul

[2021-05-20 13:17] pilhuhn opened #17385 "MP RestClient calls fail if OpenTelemetry is in list of dependencies"
Auth tests fail, I see at https://github.com/RedHatInsights/notifications-backend/blob/8cbd03f2f648d68e681a0[…]/redhat/cloud/notifications/auth/rbac/RbacIdentityProvider.java a failure of `java.lang.NoClassDefFoundError: org/jboss/resteasy/client/jaxrs/internal/ClientRequestContextImpl` is thrown as result of trying to do a call via MP-RestClient.

We see this issue since switching to Quarkus-rest

[2021-05-20 13:21] gsmet commented on #17311
I think a small reproducer would be helpful here.

[2021-05-20 13:23] kenfinnigan commented on #17385
Thanks @pilhuhn

[2021-05-20 13:24] pilhuhn opened #17386 "Dev mode hot reload fails with OpenTelemetry in dependencies"
## Describe the bug

Use OpenTelemetry as dependency and use Quarkus dev mode. Make a change in a source file and see Quarkus trying to reload

### Expected behavior

Reload works

### Actual behavior

Reload fails with

[code]

(btw, it is funny to see how this tells `Caused by: java.lang.RuntimeException: Failed to start quarkus` and in the last line it pretends that the Hot replace worked, whic

[2021-05-20 13:27] kenfinnigan commented on #17386
Thanks @pilhuhn

[2021-05-20 13:30] wojciechkopciewicz commented on #17287
@geoand the problem with this issue is that I can easily reproduce it with our application, which is much more complex than the sample I provided but for some reason I cannot reproduce it with the sample code. The latter mimics the failing part of the application. I am currently trying to strip the actual application down to be able to provide a better sample.

[2021-05-20 13:57] radcortez commented on #17069
I was not able to reproduce this. I did try with with a `QuarkusDevModeTest` and tried with separate extension:

[code]

I added a property `quarkus.test.runtime.my.prop` in a `RunTimeConfigurationDefaultBuildItem`. I run in dev mode and the property was first set to `1234` and changed via `application.properties` to `5678` and it seemed to work.

Any thoughts?

[2021-05-20 14:01] radcortez commented on #17269
This needs to be implemented first in SR Config.

BTW, @Sgitario, I don't consider the `@ConfigMapping` a workaround. It is the natural extension on how to represent a configuration source or namespace from the API perspective.

[2021-05-20 14:05] machi1990 commented on #17069
Thanks for having a look at it @radcortez .

Yes, if you change the value in `application.properties` it will work. But the issue here is that, the same value being changed by giving a different value to `RunTimeConfigurationDefaultBuildItem` other than the original value on first start. That won't be take into account because on restart the first value is considered as a user supplied value while

[2021-05-20 14:21] radcortez commented on #17069
Ok, to make if I understood correctly:

You mean, that if a `RunTimeConfigurationDefaultBuildItem` is set up before running dev mode, for instance a property is set to `1234`, but I override it with `5678`, on the first dev run you get `1234`?

[2021-05-20 14:28] machi1990 commented on #17069
Yes, let me clarify further: A configuration key  is set to `1234` via `RunTimeConfigurationDefaultBuildItem` and then overridden to `5678` via `RunTimeConfigurationDefaultBuildItem`, it will remain with `1234` (at this point this is considered to be user supplied value)

[2021-05-20 14:38] oole commented on #16725
Is there any chance this fix will make it to the 1.13.x release line? I stumbled over this issue and was excited when I saw the PR, but just now saw that is was removed from the 1.13.4.final milestone.

[2021-05-20 14:45] radcortez commented on #17069
Ah you mean you have two `RunTimeConfigurationDefaultBuildItem` for the same key, where one overrides the other?

[2021-05-20 14:53] machi1990 commented on #17069
Yes, but the overriding happening on restart. This is the configuration we have for various dev services e.g a new container port was initiated, so we change the connection string for MongoDB/Redis connection .

[2021-05-20 17:47] essobedo opened #17391 "Cannot load artifacts in parent first manner in fast jar mode"
## Describe the bug

The property `quarkus.class-loading.parent-first` is not taken into account in fast jar mode such that we cannot use it to workaround LinkageError like in https://github.com/quarkusio/quarkus/issues/9300 but when the artifact cannot be excluded because it contains classes that are needed by the application.

### Expected behavior

We can force Quarkus to load classes of the ar

[2021-05-20 19:24] #10298 closed

[2021-05-20 19:48] #17367 closed

[2021-05-20 21:17] andreas-eberle opened #17397 "Reactive Rest Client should allow extracting response status from WebClientApplicationException"
## Describe the bug
When the rest client makes a call to an external service, that call can fail with a non-OK status code (e.g. 401 when a token timed out). In such a case, the reactive rest client creates a `WebClientApplicationException` (see https://github.com/quarkusio/quarkus/blob/e21b6c2ed8971be0e8f575fde7706839ed118651/independent-projects/resteasy-reactive/client/runtime/src/main/java/org

[2021-05-20 21:19] andreas-eberle commented on #17397
@geoand: you appeared in the git blame ;) Thanks for your help!

[2021-05-20 23:54] yuhaibohotmail commented on #17195
In 2.0.0.Alpha3 ,this problem has been solved with "mvn package"，but it appears in the Continuous Testing.@stuartwdouglas