[2020-01-16 09:51] iocanel opened #6580 "Openshift and Knative properties are ignored."
**Describe the bug**
Even though openshift and knative manfifests are generated, customization of those manifests is not working as expected, because properties not starting with `kubernetes` are ignored.

[2020-01-16 10:01] loicmathieu commented on #6566
OK, so the issue is that `Instant` is not translated to ISODate.

As a workaround you may be able to do (not tested)

[code]

Anyway, I'll work for a fix.
Thanks for reporting.

[2020-01-16 10:15] Rahamathulla opened #6804 "Jberet is missing in Quarkus bootstrap list"
**Description**
Jberet is missing in Quarkus bootstrap list. are they plans to add it here? is there any alternative given ?

[2020-01-16 11:57] gytis commented on #6521
Depends on https://github.com/quarkusio/quarkus/issues/3454

[2020-01-16 12:50] angelozerr opened #6584 "Add more information about yaml configuration"
It should be nice if https://quarkus.io/guides/config#yaml could add some information about:

 * how to use yaml config to configure MP REST. I mean how to write yaml configuration for mp-rest `org.acme.restclient.CountriesService/mp-rest/url = http://...` ?
 * is mapped property is supported, if yes please give us a sample.

Thanks!

[2020-01-16 13:39] sberyozkin commented on #6549
@tpenakov Thanks for starting looking into it.
How did you register `org.apache.xerces.xni.parser.XMLParserConfiguration` ?

Does updating `registerTikaProviders` with something like

[code]
?

thanks

[2020-01-16 13:59] Sanne commented on #6546
Ok let's not block this one: makes sense to have the feature, I can think about my alternative extensions mechanism another time.

[2020-01-16 14:05] gastaldi commented on #6546
Cool, can someone approve https://github.com/quarkusio/quarkus/pull/6547? :smiley:

[2020-01-16 14:09] #6546 closed

[2020-01-16 14:17] maxandersen commented on #6497
oh - what are those ?

[2020-01-16 14:19] maxandersen commented on #6497
one way could be to pass arguments like this: `--Q:propertyname=value` so kinda like a java/mvn -D style arg passing. Not as "pure" but then the rule is simple that anything started with "--Q:" is a reserved argument ?

[2020-01-16 15:17] dmlloyd commented on #6497
`-Dxx=yy`, `-Xmx..`, etc.

[2020-01-16 15:19] sberyozkin commented on #6454
@vicentini FYI, [this PR](https://github.com/quarkusio/quarkus/pull/6586) introduces `quarkus.oidc.token.principal-name` property

[2020-01-16 15:22] cescoffier opened #6587 "Kafka codec are not registered for reflection"
The extension should look at the class index and for each serializer and deserializer, register the class for reflection.

[2020-01-16 15:36] cescoffier opened #6588 "[CI] - Quickstarts Native Build + Quarkus main"
This issue reports the _current_ status of the quickstart `development` branch against Quarkus `master` build. This build verifies the native compilation and also runs the native integration-tests.

Don't close this issue manually.  This issue will be closed when the build gets fixed. It will be re-opened if it fails again later. You can subscribe to be notify of the status.

* Quickstart reposito

[2020-01-16 15:41] cescoffier commented on #6588
Build fixed with:

* Quarkus commit:
* Quickstarts commit: 4d248b57452d46395dd2216085907ef41f03c983

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-16 15:57] DanHeidinga commented on #3423
We've seen this same problem on both P & Z linux when running the Quarkus tests at AdoptOpenJDK.

There's a PR https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/109 that should address it for P but there hasn't been any discussion on it since it was opened in Oct 2019

[2020-01-16 16:16] cescoffier commented on #6588
Unfortunately, the build fails again:

* Quarkus commit: b907352fb5630ed998fa94be62193d391c15b163

* Quickstarts commit: 4d248b57452d46395dd2216085907ef41f03c983

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-16 16:17] wburns commented on #6392
Sorry, I didn't respond earlier.

The goal originally was to have this be a runtime config option for now. An example is we will want to generate a native image that runs the Infinispan server allowing a user to provide an arbitrary Infinispan config file without rebuilding.

Maybe we will need to deviate from this for the embedded extension though.

[2020-01-16 16:17] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: b907352fb5630ed998fa94be62193d391c15b163

* Quickstarts commit: 4d248b57452d46395dd2216085907ef41f03c983

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-16 16:19] wburns commented on #6392
@jmartisk Can you describe what you are trying to do with the Infinispan embedded extension here? That way we can discuss it regarding runtime or build time config.

[2020-01-16 16:28] gsmet commented on #6392
@wburns how do you expect it to work if the configuration file is not included in the native image?

Because that's the issue we have here. You can override it but as the file is not there in the native image, it doesn't work.

[2020-01-16 16:30] Postremus opened #6590 "Resteasy Vertx. does not respect max body size"
**Describe the bug**
Configuration setting "quarkus.http.limits.max-body-size" gets ignored when using resteasy vertx.
This setting should limit the max size of a request body.
However, the request does not get denied.

Using undertow, this works as expected.

**Expected behavior**
"413 Request Entity To Large" as response status code.

**Actual behavior**
"200 OK" as response. This means, that th

[2020-01-16 16:32] stefanoturri commented on #2814
+1 for having guide for multi-stage docker builds also for gradle

[2020-01-16 16:35] wburns commented on #6392
The file would be on disk. But the more I think about it I am thinking this functionality should probably be moved up higher to our server extension (that doesn't live in Quarkus).

I personally am open to however people may use the embedded extension at this point. It is really barebones and ready to be molded as we need. I just don't know if we should ignore the xml and only go the programmatic

[2020-01-16 16:58] gsmet commented on #6392
Yeah, so the problem is that we have users expecting to be able to use files in the classpath. We had one user complaining about it.

[2020-01-16 17:08] pepperbob commented on #1753
@feaster83 this hit the Axonframework issues list - would you mind having a glance at https://github.com/AxonFramework/AxonFramework/issues/1318 - maybe you could provide further useful information.

[2020-01-16 17:14] feaster83 commented on #1753
I moved to current code to its own github repo with the idea to convert it to a separate extension for Quarkus (like the Quarkus Camel extensions, but that work is not done yet. https://github.com/feaster83/quarkus-axonframework-extension

[2020-01-16 19:39] sander-su commented on #4961
No not yet, also no idea when I have time.

[2020-01-16 20:35] misl commented on #2198
I am curious what the timeline is for this one?

[2020-01-16 20:59] #6550 closed

[2020-01-16 21:16] geoand commented on #6590
cc @stuartwdouglas @cescoffier

[2020-01-17 00:25] gwenneg commented on #6483
@cescoffier Thanks for the push!

@geoand Yes, #6574 is the only PR that is meant to be merged. All other PRs were opened for testing purpose only and most of them have already been closed.

[2020-01-17 00:33] evanshortiss opened #6596 "Application using "io.quarkus.security.Authenticated" starts even if "quarkus-keycloak-authorization" is missing"
**Describe the bug**
If a rest resource is annotated with `@Authenticated` and `clean compile quarkus:dev` is run the server will start, even if the `quarkus-keycloak-authorization` plugin is missing.

It does show the following warning though:

[code]

**Expected behavior**
Fail fast. An error should probably be thrown?

**Actual behavior**
Server starts without security/auth enabled.

**To Repro

[2020-01-17 05:02] stuartwdouglas commented on #6515
I think this is part of a more general issue we have with @Context injection in constructors. At the moment ArC does not know about @Context as it is a JAX-RS annotation. Does it work if you inject directly into the field or into the JAX-RS method?

[2020-01-17 06:14] stuartwdouglas commented on #6476
Not much we can do about this other than suppress the message. It is possible that we might want to do further augmentation steps after the native image build (e.g. building and deploying docker images), so this is not restricted to native image.

[2020-01-17 06:18] stuartwdouglas commented on #6463
This is not how @Transactional works, it just starts a regular transaction that would be committed as normal. In addition this transaction is not propagated over JAX-RS calls, so even if it did roll back on the client side the server side transaction would commit as normal.

This would need a new annotation (we have talked about @TestTransaction in the past), and would require some work to automat

[2020-01-17 07:05] zeljkot commented on #6536
I had a similar problem when I rolled my own app server simulator for Thorntail tests. I simply wrapped every call to the repository with a transaction. Proxy was automatically used by Weld. It was good enough for testing.
[code]

[2020-01-17 07:10] phact opened #6598 "Failed to augment application classes when using -H:ReflectionConfigurationFiles="
**Describe the bug**

NativeImageBuildStep fails when using `-H:ReflectionConfigurationFiles=`

**Expected behavior**

But if I copy and paste the `native-image` command and run it manually, it succeeds:

[code]

**Actual behavior**

`./mvnw clean package -Pnative` throws the following error:

[code]

**Configuration**
[code]
[code]

**Environment (please complete the following information):**
 -

[2020-01-17 07:18] phact commented on #6598
Noticed this line further up in the BuildStep

[code]

It does seem like the command is somehow malformed...

[2020-01-17 07:27] #6483 closed

[2020-01-17 08:52] geoand commented on #6588
@cescoffier we need to make people aware of this issue and subscribe to it I think

[2020-01-17 09:03] mkouba opened #6600 "Simple scheduler CRON triggers do not work correctly with JDK9+"
It seems that since JDK9 the `ZonedDateTime.now()` method works with microsecond precision. This breaks our scheduling logic which expects milliseconds precision (JDK8 behavior). We need to make the extension logic more robust.

NOTE: This bug does not apply to quartz extension which is using a different mechanism to evaluate triggers.

[2020-01-17 09:34] cescoffier commented on #6588
Once the PR is merged I will send an email to the list.

[2020-01-17 10:19] geoand commented on #6598
Just so we don't try and something that might already be solved, did you try `1.1.1.Final` and/or Quarkus from `master`?

[2020-01-17 10:20] ulmtal opened #6603 "OpenID Connect code flow problem with Microsoft Active Directory Federation Services (ADFS)"
Using Microsoft Active Directory Federation Services (ADFS)  with OpenID Connect fails with error:

MSIS9631: Received invalid OAuth request. Multiple client authentication methods were attempted.

Is it possible to add useBasicAuthorizationHeader to quarkus OpenID Connect Extension Parameter,
io.quarkus.oidc.runtime.OidcConfig -> https://vertx.io/docs/apidocs/io/vertx/ext/auth/oauth2/OAuth2Client

[2020-01-17 10:25] sberyozkin commented on #6603
@ulmtal it will be fixed with the upgrade to Vert.x 3.8.5 (#6526), scheduled for the Quarkus 1.3.0 release, thanks

[2020-01-17 10:37] sberyozkin commented on #6596
@evanshortiss I'm not sure it is possible to stop the application if this extension is not available.
What happens when you try to access this resource ?

[2020-01-17 10:39] #6454 closed

[2020-01-17 10:50] maxandersen commented on #6497
ah so doing -Qxx=yy wouldn't be that far fetched ?

[2020-01-17 10:52] sberyozkin commented on #5809
@tpenakov It might be, please check now that #5959 has been fixed

[2020-01-17 10:53] sberyozkin commented on #5809
@tpenakov never mind, #5959 was fixed for `1.1.0.CR1` which you've already tried

[2020-01-17 11:06] loicmathieu commented on #6073
@michalszynkiewicz @mkouba now that #6300 has been merged, `BulkheadException` cannot occurs as FT is not more implemented using Hystrix right ?

But it still uses Semaphore, is the number of semaphore aligned with the number of worker thread so the root cause of this issue with not occurs after #6300 ?

[2020-01-17 11:35] emmanuelbernard commented on #6536
So how about this one?
How do you know that you need to `flush` or end the tx boundary?

[code]

[2020-01-17 11:36] emmanuelbernard commented on #6536
@danielpetisme so when you do "update" the mock in the test, the same mock with the same state is used when you call the service  from restassured?

[2020-01-17 11:39] sberyozkin opened #6606 "quarkus-elytron-security-ldap-integration-test fails in the native mode"
**Describe the bug**
Georgios @geoand has spotted it is not part of [the native CI build](https://github.com/quarkusio/quarkus/blob/master/ci-templates/stages.yml#L262) and fails locally when run in the native mode with:
[code]

[2020-01-17 11:40] geoand commented on #6606
@gastaldi agreed to take a look

[2020-01-17 11:41] snajfi commented on #6545
Hello. I have same problem. I made small repo with example and description. Please feel free to look.
[QuarkusBugReproduction6545](https://github.com/snajfi/QuarkusBugReproduction6545)

[2020-01-17 11:54] martinscmb commented on #5814
Thank you to @radcortez .

To solve the problem, the module's dependencies in _quarkus-root_ should be with **compile** scope for generating all target files correctly.

The issue can be closed.

[2020-01-17 11:56] tpenakov commented on #6549
@sberyozkin  - Thanks for the quick feedback.
About the service registration:
I've registered it in the similar way:
[code]
this is because of the file content on:
[code]
Should I have to update the registration on your way?

About the competing dependencies:
You were right - there is competing dependencies.
One used from kogito:
[code]

And one used from tika parsers:
[code]
I've tried to exclude

[2020-01-17 12:00] dmlloyd commented on #6497
My list was not exhaustive and I definitely didn't mean to suggest that there is some uniform syntax for Graalvm arguments (afaik there isn't).

[2020-01-17 12:04] andrejpetras opened #6607 "Configurable name for the attribute groups in the DefaultRoleDecoder."
**Description**
Make the name of the attribute groups configurable in the DefaultRoleDecoder

**Implementation ideas**
- Create a configuration parameter for the attribute groups
- Update the guides

Source code:
https://github.com/quarkusio/quarkus/blob/master/extensions/elytron-security/runtime/src/main/java/io/quarkus/elytron/security/runtime/DefaultRoleDecoder.java

[2020-01-17 12:18] sberyozkin opened #6608 "OIDC test checking the custom principal name is unstable"

[2020-01-17 12:33] andreas-eberle commented on #6561
I tried the same setup with a Java gradle Quarkus project and have the same issues. After simply importing another plain Java module into my Java Quarkus project by adding `implementation project(':plain-java-project')` to the Quarkus project's dependencies, I can run `gradlew assemble`, `gradlew :quarkus-project:buildNative` and `gradlew :quarkus-project:quarkusBuild` without an issue.  However,

[2020-01-17 12:48] loicmathieu commented on #6545
Thanks @snajfi to provides a reproducer, I was too busy (and a little too lazy ;) ) to create one yet !

[2020-01-17 13:05] jmartisk commented on #6220
Preliminary working implementation is at https://github.com/quarkusio/quarkus/commit/36505b4b4b6c2cd65f2db90d63c31b39dd3cd1a4
But let's wait until the upgrade to MP Metrics 2.3. The spec will dictate what this should look like, and most importantly, this will be based on `SimpleTimer`, a new metric type in Metrics 2.3.

[2020-01-17 13:06] rquinio commented on #6540
Maybe we would need a new "language" in swagger-codegen for mp-rest-client, similar to existing languages for JAX-RS client proxies (https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/JavaJaxRS ) ?
I think the main difference with existing JAX-RS language used via CXF/RESTEasy client would be to generate also the asynchronous return types Completi

[2020-01-17 13:37] #6590 closed

[2020-01-17 14:24] radcortez commented on #5814
Thanks!

[2020-01-17 14:29] sberyozkin commented on #6608
Martin @mkouba has helped to identify a possible issue with [SecurityidentityAssociation](https://github.com/quarkusio/quarkus/blob/master/extensions/security/runtime/src/main/java/io/quarkus/security/runtime/SecurityIdentityAssociation.java).

The way it shows itself, as exposed by the [disabled test](https://github.com/quarkusio/quarkus/pull/6610), is that `SecurityIdentity` created by [OidcIden

[2020-01-17 14:31] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: 62c47bb17712f31f90fc8fa834544b6f06ef7adb

* Quickstarts commit: 5de86089c12d09c6b059c7e311260bc31309450e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-17 14:33] marceloverdijk commented on #6458
@Sanne is this something to be considered for `1.2`?

[2020-01-17 14:35] sberyozkin commented on #6608
@stuartwdouglas Hi Stuart, what do you think, is `@Observes` needed ? Can we use ThreadLocal ?
CC @gsmet @geoand

[2020-01-17 15:22] tpenakov commented on #6549
@sberyozkin - from my previous message, please ignore the part about dependencies and about the dedicated call in order to be more productive. @geoand helps me a lot with 'productivity' setup.
@geoand - thank you for that!
About the `java.lang.NoSuchMethodException: org.apache.poi.xwpf.usermodel.XWPFSettings.<init>org.apache.poi.openxml4j.opc.PackagePart` - it is fixed now.
Next challenge is:
[cod

[2020-01-17 15:27] #5814 closed

[2020-01-17 15:40] geoand commented on #6588
Actually I'm not able to reproduce this error locally.
Is there perhaps some library we need to install on the image to make this work?

[2020-01-17 15:41] phact commented on #6598
I was under the impression that 1.1.0.CR1 is the most modern release to support `grallvm 19.3` i.e. `java 11`. Is that no longer the case?

[2020-01-17 15:43] geoand commented on #6598
Java 11 support was removed from Quarkus 1.1.0.Final indeed, but it should be back in `1.2`.
However I would really like to know if you see the problem with `1.1.1.Final` and with a java 8 if possible

[2020-01-17 15:45] emmanuelbernard commented on #6588
@geoand could it be the changes @gwenneg did on the default GraalVM version. Not sure what the build is using.

[2020-01-17 15:48] geoand commented on #6588
@emmanuelbernard it shouldn't be that because I have those changes locally as well.
CI is using 19.2.1 which is what I used

[2020-01-17 15:54] #6600 closed

[2020-01-17 16:05] geoand commented on #6588
Jenkins CI also passed the Quickstarts so there is probably something missing we need to install on the workers to make SSL work

[2020-01-17 16:08] ia3andy opened #6612 "Sometimes getting an NPE when using Startup event and vertx"
**Describe the bug**
Here is the exception I am getting:
[code]

@cescoffier has made a reproducer.

[2020-01-17 16:10] cescoffier commented on #6612
@mkouba I was able to reproduce it with:

[code]

[2020-01-17 16:11] stianst commented on #6350
Hi, this is not a bug, and is not an issue in Quarkus. Please open a feature request in the Keycloak project (https://issues.redhat.com/projects/KEYCLOAK/summary) to request support for RestEasy 4 in the Keycloak Admin Client.

[2020-01-17 16:14] geoand commented on #6588
I propose that for the time being we disable the rest-client test. Otherwise we'll get too accustomed to the CI failing

[2020-01-17 16:19] stianst commented on #6350
Created an issue in the Keycloak project. You can find it here:
https://issues.redhat.com/browse/KEYCLOAK-12285

[2020-01-17 16:21] evanshortiss commented on #6596
@sberyozkin I was able to connect to the endpoint IIRC.

[2020-01-17 16:22] gsmet commented on #6588
SSL doesn’t work when using Docker to build an image AFAIK. That’s why we don’t have any SSL test enabled on the Azure CI.

If we want to change that, we need to use plain GraalVM.

[2020-01-17 16:23] geoand commented on #6588
@gsmet Ah thanks! I'll open a PR to disable it

[2020-01-17 16:23] gsmet commented on #6588
FTR the reason is that we can’t point to the SunEc library as it’s in the Docker image.

It might be fixed with GraalVM 19.3 if everything is statically linked.

[2020-01-17 16:25] #5341 closed

[2020-01-17 16:25] #6572 closed

[2020-01-17 16:26] geoand commented on #6588
Hm.. we probably can pull it out of the image and place it one the file system. But that is something that would require some trial and error

[2020-01-17 16:28] phact commented on #6598
okay I worked around my java11 usage, bumped up the quarkus version:
[code]
and downgraded my graalvm version and I still get the error:

[code]

[2020-01-17 16:28] gsmet commented on #6588
I would rather have us downloading GraalVM.

But again I *think* this issue might be solved by 19.3. If it is, let’s not waste time.

[2020-01-17 16:35] geoand commented on #6598
OK thank you for checking

[2020-01-17 16:39] geoand commented on #6588
Here is a PR that is merged will let us know if 19.3 takes care of it or not : https://github.com/quarkusio/quarkus-quickstarts/pull/429

[2020-01-17 16:54] emmanuelbernard commented on #2198
We are exploring implementing Panache RX on top of what we call Hibernate RX. Due to the big 1.0 effort this was put to hold but has now been restarted. So stay tuned but I can't give you an estimate.

[2020-01-17 16:57] Sanne commented on #6458
I'm afraid it might be too late. Personally I'm travelling and couldn't
check this out yet, while the deadline for 1.2 is in just days..

On Fri, 17 Jan 2020, 15:33 Marcel Overdijk, <notifications@github.com>
wrote:

[2020-01-17 17:03] emmanuelbernard commented on #6439
My reserve was that "Panache" queries will be covered but not non panache ones. So if I fall back to EM APIs, I need to apply my filter. Maybe that's acceptable.

[2020-01-17 17:11] geoand commented on #6598
Just to make sure we're executing the same thing, do you mind uploading a small reproducer?

[2020-01-17 17:14] sberyozkin commented on #6350
@stianst Hi Stian, thanks, let me rename this issue a bit (we also keep opening Quarkus issues to track those in Vertx, etc)

[2020-01-17 17:26] sberyozkin commented on #6596
@evanshortiss I think this is effectively a duplicate of #5485 given that by default the access is anonymous. Can you add in properties what is doc-ed there in Step2 and see if it helps ?

[2020-01-17 17:27] fredgcosta commented on #1505
@jmartisk I am not a Jberet expert, but I am willing to help! I have more experience on Spring Batch, I recently implemented some projects using it. I will try to port them to jberet, to understand more about the differences and see if it meets all my requirements. For me, it would be a great feature to have on Quarkus.

[2020-01-17 17:29] gsmet commented on #1505
/cc @emmanuelbernard to check if this is a priority

[2020-01-17 17:48] sberyozkin commented on #6549
@tpenakov Nice, and indeed thanks to to Georgios :-)

[2020-01-17 17:49] sberyozkin commented on #6549
@tpenakov this is probably can be added with` SubstrateResourceBuildItem`

[2020-01-17 17:53] tpenakov commented on #6549
@sberyozkin ,
I've found this way:
[code]

[2020-01-17 17:53] sberyozkin commented on #6549
@tpenakov by the way, if you add an `ooxml` shortcut and use it in the configuration then it will save a ton of MBs in the native image size :-)

[2020-01-17 17:54] sberyozkin commented on #6549
@tpenakov Super, I'm learning with you along the way :-)

[2020-01-17 18:08] tpenakov commented on #6549
@sberyozkin - I've added it as `docx` shortcut, but you are right that `ooxml` is much more correct :)

[2020-01-17 18:11] sberyozkin commented on #6549
@tpenakov yes, I just saw Tim (Tika lead) referring to the whole family as `ooxml` in one of the issues.
Re `NativeImageResourceBundleBuildItem`vs `SubstrateResourceBuildItem`, I was looking at the old version of `TikaProcessor` and forgot the latter was renamed :-)

[2020-01-17 18:19] phact commented on #6598
Here you go: https://github.com/phact/cassandra-quarkus-starter

I just run `./mvnw package -Pnative`

[2020-01-17 18:22] sberyozkin commented on #6549
@tpenakov one other thing, you may want to import https://github.com/sberyozkin/quarkus/blob/master/extensions/tika/deployment/src/main/java/io/quarkus/tika/deployment/TikaParsersConfigBuildItem.java in all the step functions in dealing with OOXML and check if the list value return from a map (the key is a parser name) is not `null`. If it is `null` then a user set some shortcuts not even involvin

[2020-01-17 18:24] geoand commented on #6598
Great, thanks a lot! I'll take a look over the weekend hopefully

[2020-01-17 18:31] phact commented on #6598
That would be great. After I run `package -Pnative` goal and it fails, it creates the `target/project-1.0.0-SNAPSHOT-native-image-source-jar`.

If I cd in there and run the `native-image` command that gets logged to stdout by  `package -Pnative` it works.

The exact `native-image` command I'm running is in the readme.

[2020-01-17 18:32] tpenakov commented on #6549
@sberyozkin - ok about the OOXML.
About the PDF - do you want me to do it in the same task or will fire a separate one for it?

[2020-01-17 18:43] sberyozkin commented on #6549
@tpenakov please do it for PDF as well as well because it would make a diff for your case :-)

[2020-01-17 18:51] seseso commented on #6374
I have the same problem even on a QuarkusTest that doesn't use the Panache Repository. To be clear:
1 - I have in my project a Panache Repository class where I override the method findByIdOptional.
2 - Any "dummy" QuarkusTest that does not use this repository bean will fail with the exceptions:
Caused by: java.lang.ExceptionInInitializerError
Caused by: java.lang.RuntimeException: Failed to start

[2020-01-17 19:04] tpenakov commented on #6549
@sberyozkin - I will stop for today. Now I am fighting with this obstacle. Any ideas will be appreciated, because I have no more for today :)
[code]

[2020-01-17 19:10] sberyozkin commented on #6549
@tpenakov thanks. One thing which I would've tried is to check in the debug mode, if, when the non-native JVM mode is used, the same code path is used as in the above exception. It might be that some other resource has not been found in the native image (something similar happened when I was looking at PDF...).
Thanks for spending your time on this issue, enjoy the weekend

[2020-01-17 19:11] sberyozkin commented on #6549
@tpenakov for example, set a breakpont in `org.apache.poi.ooxml.extractor.ExtractorFactory.createExtractor` and check what is happening in the JVM mode, if it checks some resources, etc.

[2020-01-17 19:22] kenfinnigan commented on #5602
FYI, https://github.com/eclipse/microprofile-sandbox/pull/78 was posted today which might be interesting to look at for HTTP status code mapping for exceptions

[2020-01-17 19:23] tpenakov commented on #6549
@sberyozkin - I am doing the magic with the BP - I am setting it here: `XWPFDocument.java:213`
Then I am trying to dig about the classes actually used :)

Now seems that the problem is here:
`org.openxmlformats.schemas.wordprocessingml.x2006.main.CTDocumentBase`

On this row:
[code]
`schemaorg_apache_xmlbeans.system.sD023D6490046BA0250A839A9AD24C443` seems like a file for me, but I am unable to fi

[2020-01-17 19:41] phact commented on #6598
By the way (and maybe this should be a different issue) but once I get the native-image to build as described above, it blows up at runtime with:

[code]

[2020-01-17 19:41] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 373ce14d08ce4fa6075b3c6c68d5e49b4cc3936d

* Quickstarts commit: 42451e92089316c304f9514d330725a8797e77ac

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-17 19:50] christianThor commented on #6598
I also have encountered similar behavior with malformed command when I have TWO "additional build args" as shown in the `application.properties`. The docker command succeeds with only ONE build argument (either one works from the two I have put in `application.properties`). I hope this can help out.

**Environment**

- graalvm 19.2.1
- maven 3.5.4
- quarkus 1.1.1.Final

**Build Command**
`mvn clea

[2020-01-17 20:02] phact commented on #6598
:open_mouth: looks like it works if I put the additional-build-args in a single line in the config rather than multi-line

    quarkus.native.additional-build-args = -H:ResourceConfigurationFiles=resources-config.json,-H:Log=registerResource,-H:JNIConfigurationFiles=../../reflection-config/jni-config.json,-H:ReflectionConfigurationFiles=../../reflection-config/reflect-config.json

vs

[code]

[2020-01-17 20:05] christianThor commented on #6598
I can confirm @phact's suggestion worked for me too! Thank you!

[2020-01-17 20:20] geoand commented on #6598
Let me give it a quick try and see what this is all about

[2020-01-17 20:25] geoand commented on #6588
The latest failure was still with 19.2.1 and not 19.3.1 so let's see if the next run will work. If not I have a PR ready to go excluding the rest-client quickstart from CI

[2020-01-17 20:41] michalszynkiewicz commented on #6073
@loicmathieu sorry, I don't fully understand. Are you saying the issue is no longer there with #6300 merged and asking why it might be?

The new implementation does not use Hystrix, yes. But it still has a limit on the maximum number of threads used by the fault tolerance mechanisms. It defaults to 100 and can be modified in application.properties, see https://github.com/smallrye/smallrye-fault-to

[2020-01-17 20:49] geoand commented on #6598
So the problem turned to be that in your multi-line string you had trailing whitespaces - if you remove them the multi-line string config works as well.

I nonetheless opened #6614 to make things easier for users

[2020-01-17 20:51] thesteve0 opened #6615 "Make sure the PostGIS hibernate extensions work in Quarkus"
**Description**
To enable interaction with PostGIS (the spatial extension to PostgreSQL) hibernate needs extra maven plugins.
One for the JDBC driver
https://mvnrepository.com/artifact/net.postgis/postgis-jdbc
and one for the Hibernate Spatial extension (which is part of Hibernate core)
https://docs.jboss.org/hibernate/orm/5.2/userguide/html_single/Hibernate_User_Guide.html#spatial

Here is an exa

[2020-01-17 20:53] phact commented on #6598
Thank you for the responsiveness and the level of attention to UX. Makes a huge difference to have this support.

[2020-01-17 20:53] geoand commented on #6598
Thank you for the excellent error reporting and help :)

[2020-01-17 21:13] christianThor commented on #6598
Also, I think there is a limitation with arguments with respect to comma separated lists. For example, this option accepts a comma separated list of classes as per [here:](https://www.graalvm.org/docs/reference-manual/native-image/)

[code]

[2020-01-17 21:20] geoand commented on #6598
@christianThor if you run into a specific problem with it, please open a new issue.

It could very well be the case (although I haven't seen anyone report it) and if it is having a detailed issue would be nice.

Thanks

[2020-01-17 22:35] sberyozkin commented on #6549
@tpenakov Perhaps this SO page can help, https://stackoverflow.com/questions/26854838/java-lang-nosuchmethoderror-org-openxmlformats-schemas-wordprocessingml-x2006-m/26856735

But it suggests a bigger schemas.jar may be required - however it is not clear why it would be needed in the native mode and not in the JVM mode

[2020-01-17 23:37] #6598 closed

[2020-01-17 23:57] sherl0cks opened #6616 "Refactor DynamoDB Extensions to Support Generic AWS SDK"
**Describe the extension**
There is a lot of config on the httpclients in https://github.com/quarkusio/quarkus/blob/master/extensions/amazon-dynamodb/runtime/src/main/java/io/quarkus/dynamodb/runtime/DynamodbClientProducer.java that is useful beyond just dynamodb services. Quarkus in AWS Lambda is a pretty killer combo. Reducing friction here would be a big win.

Interested in this extension, plea

[2020-01-18 00:01] machi1990 commented on #6616
Hi @sherl0cks there is a PR https://github.com/quarkusio/quarkus/pull/4968 to add broader support for Amazon Services by @marcinczeczko. Is that what you are looking for?

/cc @gsmet

[2020-01-18 00:30] sherl0cks commented on #6616
@machi1990 wow, that's a biggie. Yea its the same idea. We can close this issue and I will watch that one.

[2020-01-18 00:30] #6616 closed

[2020-01-18 01:33] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: fd73233b491e6658bc2501ba8fc3096e8cbf7837

* Quickstarts commit: 42451e92089316c304f9514d330725a8797e77ac

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-18 01:52] sherl0cks opened #6618 "Kotlin Unit Tests Fail with CDI Issues on Second Run in Intellij"
**Describe the bug**
I have some test made with @QuarkusTest and CDI. After Intellij builds the project, these tests work fine on the first run. If I rerun these tests, even without code changes, they fail. Everything works normal during maven builds.

If I run a rebuild in Intellij, the test works again, but only for a single execution.

I have the `all-open` plugin set for `io.quarkus.test.junit

[2020-01-18 05:12] thesteve0 commented on #6615
This is actually a bug since there is no workaround. I tried and it doesn't work.

Here is the exception
![image](https://user-images.githubusercontent.com/1404099/72659004-bfc81200-396d-11ea-8386-202f25a273d7.png)

Here is my pom
https://github.com/molw/bird-service/blob/master/pom.xml

Here is the POJO with the line that defines location (a point field in PostGIS)
https://github.com/molw/bird-se

[2020-01-18 05:17] thesteve0 opened #6619 "Make sure PostGIS works with async data interactions"
**Description**
PostGIS (the spatial extension for PostgreSQL) requires a different driver than the standard PostgreSQL. Please make sure that there is way to use the postgis jdbc driver with the async database interactions.

Please contact me if you need more details.
Thanks

[2020-01-18 05:28] thesteve0 commented on #6615
I was wrong. I just forgot to change the hibernate dialect to PostGIS.

quarkus.hibernate-orm.dialect=org.hibernate.spatial.dialect.postgis.PostgisDialect

It works now. So the only thing I guess we need is to see if it works with Native but no rush on that

[2020-01-18 07:53] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: fd73233b491e6658bc2501ba8fc3096e8cbf7837

* Quickstarts commit: 42451e92089316c304f9514d330725a8797e77ac

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-18 08:25] gintsgints commented on #6349
I have got same error message just by declaring test class variable with entity.

[2020-01-18 08:30] geoand commented on #6588
https://github.com/quarkusio/quarkus-quickstarts/pull/430 is also needed :)

[2020-01-18 09:20] sdaschner opened #6621 "Document how to use escaped {} in Qute"
It would be helpful to document how users can print plain `{`s and `}`s without having them recognized as expressions.

Escaping them as XML Entities (`&#123;` and `&#125;`) works, but it took me a bit to figure that out, so other users might struggle with that as well. Or is there another, easier way?

And: is there a way to escape `{}` in plain text templates?

[2020-01-18 13:19] gsmet commented on #6621
/cc @mkouba

[2020-01-18 13:42] dodalovic commented on #6499
@maxandersen Just curious how far we are from this wonderful feature?
Cheers

[2020-01-18 14:52] genehi opened #6622 "log output not in log file when enabled"
**Describe the bug**
After setting quarkus.log.file.enable=true in application properties, very minimal entries are logged
The lines that are written into the log file are not shown in console, seems to be very strange filtering
Also, when setting quarkus.log.file.rotation.max-file-size=500M, logs are rotated every 8K

**Configuration**
[code]

 - Quarkus version or git rev: 1.1.1.Final

[2020-01-18 15:03] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: fd73233b491e6658bc2501ba8fc3096e8cbf7837

* Quickstarts commit: 4985db39034ff05309fc17227daaa8f8fab27e70

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-18 15:37] danielpetisme commented on #6536
I checked I can confirme is the same mock/instance (check the screenshots)
I do not know how can I check the internal state...
<img width="1680" alt="Screenshot 2020-01-18 at 4 35 14 PM" src="https://user-images.githubusercontent.com/593564/72666255-b80d7980-3a10-11ea-88a1-4f5dc9df1df4.png">
<img width="1680" alt="Screenshot 2020-01-18 at 4 35 32 PM" src="https://user-images.githubusercontent.com/

[2020-01-18 15:41] k0l0ssus commented on #6515
@stuartwdouglas thanks for responding. I haven't been able to inject SSE into a field (doesn't break startup, but the variable is null) nor a resource method (breaks startup). I was able to inject most of the other things that `@Context` provides (`UriInfo` and others like I said in the issue body). I can also confirm that `@Context` is being resolved by Arc - removing the annotation or replacing

[2020-01-18 15:53] iabughosh commented on #6321
Do you mean by adding "--enable-all-security-services" to docker file image before building or as a run argument ?

[2020-01-18 16:00] rsvoboda opened #6624 "MS SQL Server version in jpa-mssql"
jpa-mssql test are executed against MS SQL server version 2017 CU12.

https://hub.docker.com/r/microsoft/mssql-server-linux/tags only goes up to CU13 (repository is deprecated), that is the version used in https://github.com/quarkusio/quarkus/pull/6623

Should be MS SQL Server 2019 used in tests ?

We probably need to switch to https://hub.docker.com/_/microsoft-mssql-server even if we stay on 201

[2020-01-18 16:25] geoand commented on #6588
According to https://github.com/quarkusio/quarkus-quickstarts/actions the last CI run for successful, so maybe there is a bug in the report part of the script?

[2020-01-18 16:50] sbeigel commented on #5341
Great addition! But I think io.smallrye.jwt.build.impl.JwtProviderImpl (i.e. its no-args constructor) must be registered for reflection to be usable in native images:

`Caused by: io.smallrye.jwt.build.JwtException: JwtProvider io.smallrye.jwt.build.impl.JwtProviderImpl could not be instantiated: java.lang.InstantiationException: Type `io.smallrye.jwt.build.impl.JwtProviderImpl` can not be instant

[2020-01-18 18:33] sberyozkin commented on #6606
@hartimcwildfly Hi, FYI George has spent a lot of time on trying to fix it, narrowing it down to the
[code]
when running the test in the native mode.
Can you please look into it as we need to decide if the ldap extension can be marked as stable or not
Thanks.

[2020-01-18 20:59] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: fd73233b491e6658bc2501ba8fc3096e8cbf7837

* Quickstarts commit: 4985db39034ff05309fc17227daaa8f8fab27e70

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-18 21:54] marceloverdijk commented on #3870
I would also be interested in a standard `offset` / `limit` query.

[2020-01-18 22:33] remkop commented on #5656
Question about #6497 (configuring Quarkus from command line args): this is now listed as the first task in this epic, but is this a showstopper?

The Quarkus user community is very eager to get their hands on this Command Line Mode feature (and have been for [over a year](https://github.com/quarkusio/quarkus/issues/284)). Would it not make sense to focus on the minimum credible deliverable initial

[2020-01-18 22:56] marceloverdijk opened #6625 "Vladmihalcea Hibernate Types not working on Panache Entities"
It seems `com.vladmihalcea:hibernate-types-52` are not working together with Panache entities, e.g.:

[code]

This gives an error:

[code]

`com.vladmihalcea:hibernate-types-52` is doing a [`Class.forName(String)`](https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-52/src/main/java/com/vladmihalcea/hibernate/type/util/ReflectionUtils.java#L433) like `Class.forName("com.dem

[2020-01-19 00:37] nimo23 commented on #6625
You must **register** hibernate-types-52 **for reflection**.

Put this into your `application.properties`:

[code]

[2020-01-19 02:58] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 2532cfb6ce0b03918efe66d3c22240169c158e76

* Quickstarts commit: 4985db39034ff05309fc17227daaa8f8fab27e70

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-19 08:43] cescoffier commented on #6588
Failed by "capitalization"... Testing "success", value is "Success".  But the Github Actions documentation says: "The current status of the job. Possible values are success, failure, or cancelled." We should ignore the case during the test.

[2020-01-19 09:01] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 2532cfb6ce0b03918efe66d3c22240169c158e76

* Quickstarts commit: 4985db39034ff05309fc17227daaa8f8fab27e70

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-19 10:20] marceloverdijk commented on #6625
I tried that with:

[code]

bit it still gives the `Caused by: java.lang.ClassNotFoundException: com.demo.Project` unfortunately.

If needed I can provide a sample application?

[2020-01-19 11:46] nimo23 opened #6626 "java -server or java -client"
**Description**
I dont know if quarkus runs in **java client** or **java server** mode. Maybe it can be adjusted with a new property in `application.properties`, e.g. `quarkus.system.run`:

[code]

[code]

[2020-01-19 11:56] nimo23 commented on #6625
Actually, it is a mess in quarkus to look why or if a typical java library which runs in any other **java ecosystems** also runs in the **quarkus ecosystem**. It is not easy to see if a library (not typically seen as framework) needs a quarkus extension or not.

Another implicit danger/pitfall of using quarkus with any other library is that errors due to incompability between quarkus and the 3rd p

[2020-01-19 12:03] maxandersen commented on #5656
Yes @remkop, we just went through and triaged the work for this and a bunch of others. Don't get stuck on the sequence of bullet items in the epics. The important part is that we got agreement on how #6498 and #6499 will work. We are many eagerly waiting on this - have a little more patience :)

[2020-01-19 12:05] tpenakov commented on #6549
@sberyozkin - During the weekend I was able to think first before work only instead :)
In my opinion - from architecture point of view we need to have these two Apache projects as Quarkus extensions:

- [XMLBeans](https://xmlbeans.apache.org/) - technology for accessing XML by binding it to Java types
- [Apache POI](https://poi.apache.org/) - the Java API for Microsoft Documents

And then to conne

[2020-01-19 12:38] sberyozkin commented on #6549
Hi @tpenakov thanks but Tika supports thousands of formats via dozens of libraries. I'm sorry, I don't it as a scalable way to solve Tika related issues :-)

[2020-01-19 13:10] tpenakov commented on #6549
So what is your suggestion for Tika in native mode - to have a whitelist or blacklist for native format support?
We have an blackilst, but for the moment, seems that we need to have a whitelist instead only for formats that are tested and supported?

[2020-01-19 14:56] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 2532cfb6ce0b03918efe66d3c22240169c158e76

* Quickstarts commit: 4985db39034ff05309fc17227daaa8f8fab27e70

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-19 18:25] gintsgints opened #6627 "Date loose one day with JSONB"
**Describe the bug**
Controller returns object with sql.date property test with value "1966-11-04"
But returned result, REST response, contains date with one day less :
[code]

**Expected behavior**
to return same date as controller returns

**Actual behavior**
date returned is one day less

**To Reproduce**
Clone and build example repo - https://github.com/gintsgints/quarkusdateproblem

**Environ

[2020-01-19 19:36] sberyozkin commented on #6549
What do you mean ? IMHO we need to fix this issue and keep doing so for the most popular formats. native mode already works for PDF, OpenOffice, Excel (though not 100% sure which version) and hopefully many more.

[2020-01-19 20:24] antonin-arquey commented on #461
Hi, we use Cucumber for testing in my organization, but I can't get it to work with Quarkus tests. The quarkus context is never started even with the `@QuarkusTest` annotation.

We use it with SpringBoot thanks to the [spring cucumber plugin](https://github.com/cucumber/cucumber-jvm/tree/master/spring) and it works great !

Would it be possible to do something similar with Quarkus ?

[2020-01-19 20:46] remkop commented on #5656
@maxandersen Understood, and thanks for providing insight into the process!

[2020-01-19 20:52] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 2532cfb6ce0b03918efe66d3c22240169c158e76

* Quickstarts commit: 4985db39034ff05309fc17227daaa8f8fab27e70

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-19 21:01] nimo23 commented on #6625
@gsmet Can it be that a **3rd party lib or framework** which works nice in _java ecosystem_ throws errors in quarkus **while running** (due to incompabilties), for example, when a 3rd party method invokes any method/class which does not complies with the quarkus requirements (not only because it uses internally reflections)?

**How one should know beforehand if such libs/frameworks are fully suppo

[2020-01-19 21:01] geoand commented on #6588
The build is passing but unfortunately a failure is still reported to this issue

[2020-01-19 21:01] geoand commented on #6588
The build is passing but unfortunately a failure is still reported to this issue

[2020-01-19 22:09] stuartwdouglas commented on #461
It looks like Cucumber is still using JUnit 4, while we are using JUnit 5.
Did you try including junit-vintage-engine as the cucumber docs suggest?

It's likely that we will need to write some kind of plugin to allow it to
work, especially after the class loading changes that are coming in with my
class loading PR.

Stuart

On Mon, 20 Jan 2020 at 07:25, antoninarquey <notifications@github.com>
wro

[2020-01-19 22:28] hartimcwildfly commented on #6606
Hi everbody,

thanks for the Info. Honestly I don't think I have enough background info for fixing the bug. I will have a look upcoming week but chances are not very good.

[2020-01-19 22:35] hartimcwildfly opened #6628 "Add configuration converter for List<XYZ> or XYZ[]"
In some configs we use Map<String, XYZ> but we do not need the key of the map entry.
E.g. in the elytron ldap extension we have the following lines:
[code]
but using
[code]
would be sufficient.

[2020-01-19 22:38] gastaldi commented on #6606
In this case I suggest to remove the extension from the core sources in
master (and for 1.2), since we need to make sure they work in native too.

Em Dom, 19 de jan de 2020 19:28, hartimcwildfly <notifications@github.com>
escreveu:

[2020-01-19 23:47] nimo23 commented on #6346
Can someone provide an example with if I want to use the org.hibernate.cfg.ImprovedNamingStrategy (which is the strategy which makes all properties and table names in `snake_case` format) ?

Should I only use this in `application.properties` to enable it?:

`hibernate.physical_naming_strategy=org.hibernate.cfg.ImprovedNamingStrategy`

[2020-01-19 23:49] gastaldi commented on #6346
Yes, AFAIK that's what you need to do to use it

[2020-01-20 01:29] stuartwdouglas commented on #6608
Is there an example of a failure somewhere? If the wrong bean was being provided by SecurityidentityAssociation then other tests would fail as well.

[2020-01-20 03:06] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 2532cfb6ce0b03918efe66d3c22240169c158e76

* Quickstarts commit: 4985db39034ff05309fc17227daaa8f8fab27e70

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-20 04:36] stuartwdouglas commented on #6626
This is a property of the JVM itself, it can't be changed from application.properties. If you are running a production application you control the command like that is used to launch the app, so you can select which one you want. For dev mode you can control it with "-Djvm.args=-client"

[2020-01-20 04:36] #6626 closed

[2020-01-20 04:37] stuartwdouglas commented on #6618
Any chance you could test with https://github.com/quarkusio/quarkus/pull/6411 and see if this resolves it?

[2020-01-20 05:29] stuartwdouglas commented on #6587
https://github.com/quarkusio/quarkus/blob/aa601cde8e243cd48f6a10a565c93d45ddb3ff5a/extensions/kafka-client/deployment/src/main/java/io/quarkus/kafka/client/deployment/KafkaProcessor.java#L76

That is what this code is doing. Is it not working?

[2020-01-20 06:06] sciack opened #6631 "HTTP-206 when a resource is bigger than 1MB"
**Describe the bug**
If a resource in META-INF/resources is bigger than 1MB the content will be partially transferred when the app is running in native mode

**Expected behavior**
The resource will be fully transferred

**Actual behavior**
Two different behavior happen:
1. Quarkus answer with 206 and a partial file is transferred
1. The browser hang waiting for the resource

**To Reproduce**
Steps

[2020-01-20 06:39] cescoffier commented on #6587
I was also surprised but yes, if the application provides the codecs I had to register them myself like in https://github.com/cescoffier/quarkus-coffeeshop-demo/blob/master/barista-kafka/src/main/java/me/escoffier/quarkus/coffeeshop/codecs/OrderDeserializer.java#L7.

[2020-01-20 06:40] cescoffier commented on #6588
Going to add a trace in the script to check the passed status.

[2020-01-20 06:50] stuartwdouglas commented on #6587
JsonbDeserializer is not in the index, so Jandex cannot reason about it. We need to explicitly check for subclasses of JsonbDeserializer in the processor.

[2020-01-20 06:51] cescoffier commented on #6588
@geoand can you approve https://github.com/quarkusio/quarkus-quickstarts/pull/432?

[2020-01-20 06:53] cescoffier commented on #6587
It was also the case when we extended Serializer/Deserializer directly.

[2020-01-20 06:55] stuartwdouglas commented on #6587
It is using getAllKnownSubclasses rather than getAllKnownImplementors

[2020-01-20 06:56] schulzp commented on #5809
Hi, I just ran into the same issue (IllegalStateException: "Request has already been read") with a vert.x route secured by basic auth based on `quarkus-elytron-security-properties-file`.

[2020-01-20 06:57] cescoffier commented on #6587
We should add a test for this and check the various cases. I can do that Today.

[2020-01-20 06:57] geoand commented on #6588
Done

[2020-01-20 06:58] cescoffier commented on #6588
I've triggered https://github.com/quarkusio/quarkus-quickstarts/commit/dbefe831e917d7dabf3bcb2b033098ebaf45146a/checks?check_suite_id=409450089 that should display the traces.

[2020-01-20 07:01] geoand commented on #6588
Cool, thanks

[2020-01-20 07:03] stuartwdouglas commented on #6587
I think this is the fix https://github.com/quarkusio/quarkus/commit/ef43cdfffaebfeb81d88216e1f4a1410e4449213

[2020-01-20 07:08] geoand commented on #6627
@aguibert mind taking a look at this one?

[2020-01-20 07:10] geoand commented on #6606
I agree to removing this extension from the codebase for now since it doesn't work in native

[2020-01-20 07:22] geoand commented on #6539
cc @johnaohara

[2020-01-20 07:43] #2224 closed

[2020-01-20 07:45] #6396 closed

[2020-01-20 07:54] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 2532cfb6ce0b03918efe66d3c22240169c158e76

* Quickstarts commit: 4985db39034ff05309fc17227daaa8f8fab27e70

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-20 08:28] tpenakov commented on #6549
Currently I am trying to fix it to work for `docx` files.
Then I will have to fix it for `xlsx` files.
Then may be for `pptx` files ...
As you say there are many formats in a single parser, but in order to be certain that the Tika is working with given parser/format we have to write a test to ensure it.

If we have a whitelist (You are right that we probably will have to put the format there too),

[2020-01-20 08:44] #4888 closed

[2020-01-20 08:54] loicmathieu commented on #6073
@michalszynkiewicz yes, you seems to totaly understand ;)

This issue was that using @Retry ends up with BulheadException because Hystix uses Bulhead for running commands. The root cause was that Hystrix uses 10 semaphore for concurrency and that Quarkus uses 20 worker threads by default so you could ends up using all semaphores and generating this exception.

Now that FT didn't use Hystrix anymor

[2020-01-20 08:54] #6073 closed

[2020-01-20 09:00] ia3andy commented on #6417
Hello @jaikiran,

While I get that it wasn't officially supported, I think we should provide a way to achieve such a scenario properly. People wanting to use the frontend plugin to serve their webapp with Quarkus is pretty common IMHO:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/quarkus-dev/WCjhkyY5lk0/_JPE5VdHCAAJ

cc @stuartwdouglas @machi1990

[2020-01-20 09:32] loicmathieu commented on #6625
@marceloverdijk is the error occurs in JVM mode or in a native image ?

If it's inside a native image, can you try adding `@RegisterForRegflection` to your `com.demo.Project` class to be sure it is not removed during native image processing.

[2020-01-20 09:36] gsmet commented on #6625
@marceloverdijk IMHO, there is something suspicious with the type machinery loading your `Project` class via reflection.

Could you add a breakpoint and get the full stacktrace of this call?

[2020-01-20 09:42] andreas-eberle opened #6635 "Java gradle native build fails with submodules"
**Describe the bug**
I have a gradle multi-module project setup with Quarkus and Java. One module contains only Java code (called `plain-java`), the other one is a Quarkus project (`quarkus-java`), which imports the `plain-java` project.

Running `gradlew assemble` , `gradlew :quarkus-java:quarkus-dev` and `gradlew :quarkus-java:quarkusBuild` all work fine. However, the native build `:gradlew :qua

[2020-01-20 09:51] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 2532cfb6ce0b03918efe66d3c22240169c158e76

* Quickstarts commit: 4985db39034ff05309fc17227daaa8f8fab27e70

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-20 09:56] FroMage commented on #6536
We'd have to require a manual `flush()` call, but even if we had active record pattern we'd have a `save()` call, so it doesn't surprise me.

[2020-01-20 10:02] geoand commented on #6588
@cescoffier looking at the commit hashes, it seems like the periodic CI is running from the development branch.
So we need to cherry pick all your CI changes to that branch

[2020-01-20 10:11] sberyozkin opened #6636 "Document Vault Transit Engine"
**Description**
Vault Transit Engine API is now supported by the Vault extension and it would help if it were documented

@vsevel, please take care of it, would be great it were done before 1.2.0 Final

CC @lordofthejars

[2020-01-20 10:16] sberyozkin commented on #6608
Hi Stuart, @stuartwdouglas, the example is [here](https://github.com/quarkusio/quarkus/pull/6610).

[2020-01-20 10:21] sberyozkin commented on #6608
@stuartwdouglas I think [this test](https://github.com/quarkusio/quarkus/pull/6610) is failing (in CI only, not in the local build) because
[this code branch is executing](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcJsonWebTokenProducer.java#L61) while instead [this branch](https://github.com/quarkusio/quarkus/blob/master/exten

[2020-01-20 10:39] Sanne commented on #6536
So I don't think this is a sensible use case: this integration test is simulating a client "connecting" to your server application over REST.

You're triggering a REST call to _the server_, expecting to see some data which the client is preparing **but hasn't committed yet**.

So this failure is expected. You should have the test fixture performed by the server too: have it create an apple via the

[2020-01-20 10:44] Sanne commented on #6536
I removed the "bug" label from the report. I think it should be closed, but I'll leave it open in case you all want to convert this into an enhancement request to help with test fixture definitions.

Bear in mind please that to test native images, you'll need all operations to go over REST, so the ideas based on sharing of mock instances are not going in the right direction. Personally I'd explici

[2020-01-20 10:58] sberyozkin commented on #6608
Actually I know what it is

[2020-01-20 10:58] maxandersen commented on #6417
I'm just puzzled what changed since I can't grok how devmode could work before without what it does now ;)

to @ia3andy's comment then I agree we should support the usecase of serving frontend but my question is this - why can't that content be put in `src/resources`  (and then git ignored if needed) - would that work for you ?

only usecase that might be tricky is if there are some transformation

[2020-01-20 11:20] marceloverdijk commented on #6625
It is in JVM mode; haven't tried native mode yet to be honest.
I will create a sample project and also check with a breakpoint this evening. Will update this ticket then.

[2020-01-20 11:22] sberyozkin commented on #6549
Hi @tpenakov no problems, glad you are committed to fixing this issue :-)

I agree the more tests we have the better but there are too many formats and I don't know all of them and haven't time to cover even 50 with the tests. If we whitelist PDF, OpenOffice, OOXML, then we may have users opening issue to do with their format N stopped working. We don't even know if this issue is specific to your

[2020-01-20 11:30] FroMage commented on #6536
@Sanne, we're trying to figure out how to write tests that require data. You're right that I don't think we can use mocks to test native images, but that is one more reason to make sure we can inject test data via some other mechanism.

Using fixtures is one way to do it, but we currently have no support for that, and it's necessarily a static file, which is less flexible than code.

Allowing user

[2020-01-20 11:32] rsvoboda commented on #5556
We need consistent way for this no matter what engine is used in the background, adding to stabilization effort board.

[2020-01-20 11:35] jmartisk commented on #6544
I have a prototype ready, it will need changes in SmallRye Metrics to get in first, then we can upgrade it in Quarkus.

It means quite a lot of bending of the MP Metrics specification, but it seems that I managed to bend the `jvm_` metric output sufficiently so that it looks the same as in the Micrometer output. Except the `TYPE` lines which have a few differences, but I suppose that this should n

[2020-01-20 11:44] sberyozkin commented on #6549
@tpenakov I think we can come up with some documentation-level guidance, lets try to resolve this issue, and then I'll open a new doc issue and will CC to you, thanks

[2020-01-20 11:48] mkouba commented on #6608
@sberyozkin so the producer method declared on [OidcJsonWebTokenProducer](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcJsonWebTokenProducer.java#L37) should take precedence because it's declared on an enabled alternative bean (see https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#unsatisfied_and_ambig_dependencies for more infor

[2020-01-20 12:15] sbeigel opened #6641 "Panache entites are not marked as dirty after deserialization with Jackson"
**Describe the bug**
Using Jackson for JSON-Deserializiation Panache entities (w/out explicit setters) is problematic because generated getters & setters are marked "synthetic" by Quarkus and Jackson skips synthetic methods, i.e. it uses just the public fields. But that means that Hibernate's dirty tracking is bypassed and the (changed) entities are not persisted.

**Expected behavior**
Panache en

[2020-01-20 12:30] sciack commented on #6631
Just as addition, this project works perfectly fine on Linux:
Linux mirko-Inspiron-13-5378 5.3.0-26-generic #28-Ubuntu SMP Wed Dec 18 05:37:46 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
Could be something related to gcc on Mac?

[2020-01-20 12:34] sberyozkin commented on #6608
Hi @mkouba, thanks, the principal [is set here](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java#L74).
But what happens is that by the time either of those producer methods is called, [this code](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcI

[2020-01-20 12:35] Sanne commented on #6536
I understand, that's why I haven't closed it.  However I believe this should be re-opened as an enhancement proposal as soon as there's more clarify on the intent.

Well you might mean that it's not ideal, but it certainly is option and this looks sensible to me:
 - https://github.com/quarkusio/quarkus-quickstarts/blob/master/hibernate-orm-quickstart/src/test/java/org/acme/hibernate/orm/FruitsEndp

[2020-01-20 12:44] cescoffier commented on #6588
hum... ok, I've cherry-picked the commits.

[2020-01-20 12:55] gastaldi commented on #6641
I created a PR without this flag: https://github.com/quarkusio/quarkus/pull/6643 @sbeigel could you give it a try?

[2020-01-20 13:14] lucapompei opened #6645 "Failure parsing MediaType"
I encountered the following error after receiving a large number of requests (>= 5000) to handle:

"org.jboss.resteasy.spi.UnhandledException: java.lang.IllegalArgumentException: RESTEASY003340: Failure parsing MediaType string: application\json"

The bug can be reproduced by stressing the application via ApacheBenchmark.

[2020-01-20 13:15] tpenakov commented on #6549
Thank You @sberyozkin ,
I've just managed to fix it to work only for *.docx files.
It is implemented [here](https://github.com/tpenakov/quarkus/tree/github-6549-ApacheTika-native-mode).
Of course it is very raw implementation and the support for `pdf` and `ooxml` is not implemented as discussed.
I will continue to work on this task at the end of the week probably.

[2020-01-20 13:33] sberyozkin commented on #6645
@lucapompei it should be `application/json` or is it just a typo in the description ?

[2020-01-20 13:37] maxandersen commented on #6621
I bumped into this trying to use qute for .json and .java template  ...for now it seem to work as the { and } aren't on the same line so the problem might not be that big..but yeah, good to document how to work around it.

[2020-01-20 13:37] sberyozkin commented on #6608
@stuartwdouglas I wonder if a non-blocking CompletableFuture `authenticate` call might cause it, it is hard to come up with any other explanation as to why I can't reproduce it locally (Georgios tried it to) but it fails in the CI

[2020-01-20 13:43] dmlloyd commented on #6628
In general, using (sparse) arrays/lists in config in this way works out very poorly.  The user has no means to insert or remove values in higher priority configuration sources.  The configuration system can't easily probe the number of elements.

I would recommend named items for this case, like this:

[code]

This way each item can be specified, and the final list of items to use (and their order

[2020-01-20 13:46] geoand commented on #6645
cc @johnaohara

[2020-01-20 13:49] sberyozkin commented on #6549
@tpenakov this is super, thanks a milliion. It may well be that the other OOXML formats will work now in the native mode too. It is nearly there, I'd just suggest to group those 2 functions you added it into one function, may be called something like `prepareOOXmlParser` and then add `TikaParsersConfigBuildItem parserConfigItem` parameter there as well and just check if the OOXML parser key is con

[2020-01-20 13:53] mkouba commented on #6621
So currently a valid expression must start with `{` followed by a non-whitespace char that is not `{`, and the closing `}` is ignored if not inside an expression. Ie. `{  foo}`, `{{foo}}`, `foo}` are all ignored. The plan is to only support identifiers that have characters `[A-Z]`,`[a-z]`, `[0-9]` and underscore. And we should probably also support a way (independent of file format) to escape the

[2020-01-20 14:12] michalszynkiewicz opened #6650 "Reuse the runtime BOM as a source of versions for the independent projects"
**Description**
Now, the indenependent projects have versions of their dependencies defined separately.
This leads to dependency version divergence between them and the Quarkus bits.
It would be great if they could reuse the runtime BOM, or some other BOM that could be imported in both places.

**Potential problems**
- a bom would define a version for a project that imports it, it should not be a

[2020-01-20 14:23] FroMage commented on #6536
Well, the heart of the discussion is that we can't easily mock the active-record style pattern using static methods (at least using existing mocking libs), and I recommend doing unit tests with h2 and each test setting up its own test data (that's what I've been doing for years, with fixtures only being an alternative in the same category), and also as you raised, I'm not sure we can mock stuff wh

[2020-01-20 14:30] FroMage commented on #6641
Hold on, this doesn't actually seem related to the accessors very much. The problem is that we're creating a new entity and it isn't marked as dirty unless we call some accessors.

But the entity is not persisted, so it doesn't make sense that it's tracking state at this point.

I remember we already had a discussion around this @Sanne no? I can't find the previous issues though, but I was pretty

[2020-01-20 14:38] sbeigel commented on #6641
My use-case is: I load an (panache) entity from the db, then I use Jackson's readerForUpdating() to bind a JSON payload directly to this entity. I know this can be problematic from a security point of view, but if you know your payload, it's quite elegant and a big time safer :)

TBH, I think it can be important for other scenarios as well that Jackson uses the accessor methods, not the (public) f

[2020-01-20 14:38] sdaschner commented on #6621
@mkouba That is also good to know and would be super-helpful to have in the documentation.

A big +1, on the escape with `\{`, that was actually my first attempt to solve it, but doesn't work yet.

[2020-01-20 14:39] gastaldi commented on #6641
I simplified my PR to only change the acessors methods. @sbeigel can you confirm it still works for you?

[2020-01-20 14:43] sbeigel commented on #6641
Yes, it does!

[2020-01-20 14:45] dmlloyd commented on #6621
Another use case for escaping `{` and `}` is CSS/JS.  Although templating JS might be a questionable activity. :-)

[2020-01-20 14:46] aguibert commented on #6627
@geoand yep I can have a look, can you assign to me please?

[2020-01-20 14:48] geoand commented on #6627
Thanks @aguibert, I assigned it to you

[2020-01-20 14:49] gsmet commented on #6627
I suspect a time zone related issue.

[2020-01-20 14:58] lucapompei commented on #6645
As result it should be `application/json`.

I used the `@Produces(MediaType.APPLICATION_JSON)` and `@Consumes(MediaType.APPLICATION_JSON)` class annotations, then "`@POST`" and `@Path(value = EndpointConstants.PRINT)` method annotations.

[2020-01-20 14:59] kdubb opened #6652 "Document/Fix QuarkusUnitTest's public method requirement"
Junit 5 doesn't require public test methods as in previous versions and some tools (e.g. IntelliJ) default them to being package private.

`QuarkusUnitTest` uses proxying to manage its test instance and the proxy requires public methods; without them the test methods are called on the proxy itself and not on the target. Noting this in the documentation would save some people quite a bit of hand wr

[2020-01-20 15:03] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: d1b5456454370076a8ec32872f5e100f18bda0d0

* Quickstarts commit: 4985db39034ff05309fc17227daaa8f8fab27e70

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-20 15:08] rsvoboda opened #6653 "quarkus-maven-plugin:999-SNAPSHOT:create generated project is not using quarkus 999-SNAPSHOT"
`quarkus-maven-plugin:999-SNAPSHOT:create` generated project is not using quarkus 999-SNAPSHOT

It's using 1.1.1.Final atm (latest released released Quarkus version?).
https://github.com/quarkusio/quarkus-platform/blob/master/pom.xml#L49

I think we should be able to "force" version 999-SNAPSHOT for Quarkus core extensions.

I use `quarkus-maven-plugin:999-SNAPSHOT:create` generated projects to qu

[2020-01-20 15:11] gastaldi commented on #6653
You need to also specify `-DplatformArtifactId=quarkus-bom` otherwise it will use the `quarkus-universe-bom` which is built separately

[2020-01-20 15:14] rsvoboda commented on #6653
Thanks, I found it also in https://quarkus.io/guides/maven-tooling

[2020-01-20 15:15] #6653 closed

[2020-01-20 15:17] mkouba commented on #6621
Yes, especially the minified chunks of CSS/JS.

[2020-01-20 15:24] geoand commented on #6588
Are you sure? For example 52a75e0a is missing from `development`

[2020-01-20 15:33] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: d1b5456454370076a8ec32872f5e100f18bda0d0

* Quickstarts commit: 4985db39034ff05309fc17227daaa8f8fab27e70

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-20 15:37] gsmet opened #6654 "Arjuna - Avoid loading the XML classes if default config is used"
In Arjuna, when we load the default properties, we still load either Stax or SAX classes as, AFAICS, the default properties comes from a property file so I don't think we need XML classes to load anything.

I wonder if we could optimize this a bit so that we don't load any XML framework if not necessary.

That will probably require a refactoring in Arjuna.

@Sanne do you know who we could talk to

[2020-01-20 15:38] geoand commented on #6588
I just cherry-picked the last fix from `master` and pushed to `development`. I think it should fix the issue

[2020-01-20 15:38] cescoffier commented on #6588
At least we got configuration about the status in the last build: `Success`.

[2020-01-20 15:39] geoand commented on #6588
Yup, we are closing in on the problem :)

[2020-01-20 15:48] Sanne commented on #6654
Hio @gsmet ; for Narayana related suggestions I'd normally ping @tomjenkinson , @mmusgrov or @ochaloup . Assigning to Tom for triage ;)

[2020-01-20 15:49] Sanne commented on #6654
ah well I can't assign to Tom. Could we add him to the team?

[2020-01-20 16:01] aguibert commented on #6627
indeed @gsmet, unfortunately these sort of issues are fairly common when pre-java.time APIs are used

[2020-01-20 16:18] geoand commented on #6652
Thanks for reporting @kdubb.

I'm curious, why do you want to use `QuarkusUnitTest`? Is there something in the documentation that lead you to want to use it?

[2020-01-20 16:19] sean-scott-lr commented on #5015
I think the issue this fixes, also fixes an issue that I have.  I am seeing that a class that is being injected from a separate Maven module errors as an "Ambiguous bean" when we try to inject it.  It shows the exact same class twice when we run in quarkus:dev mode, but it works fine when we run the X-runner.jar .    Moving the class into the same project also fixes it.

When will this be in a bui

[2020-01-20 16:21] kdubb commented on #6652
I'm building extensions for `Mybatis` and `Hazelcast`. I was wracking my brain trying to figure out my testing failures until I noticed the proxying in the extension.

[2020-01-20 16:22] geoand commented on #6652
Thanks! I was just wanted to make sure you were indeed planning on creating an extension.

[2020-01-20 16:38] mkouba opened #6658 "Restricting bean types via @Typed should never discard java.lang.Object"
See https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#restricting_bean_types.

[2020-01-20 16:46] gsmet commented on #6658
@mkouba either it's a very located fix that can make it after CR1 or it will have to wait for 1.3.

[2020-01-20 16:53] tomjenkinson commented on #6654
@mmusgrov - does this issue relate to https://github.com/quarkusio/quarkus/pull/5283

[2020-01-20 16:55] sberyozkin commented on #6608
Hi Stuart, @stuartwdouglas, by the way, the reason the existing tests are not failing is that  [this code branch](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcJsonWebTokenProducer.java#L61) is parsing the same token which `OidcIdentityProvider` has already parsed. [This check](https://github.com/quarkusio/quarkus/blob/master/ext

[2020-01-20 17:01] gastaldi commented on #6606
I created #6659 removing the extension from the core. It should be reverted when native tests work

[2020-01-20 17:36] marceloverdijk commented on #6625
@gsmet this is the full stacktrace:

[code]

[2020-01-20 17:38] marceloverdijk commented on #6625
@gsmet as it needs PostgreSQL for the array type I cannot make a demo project with H2.
If you prefer a demo project let me know, then I will work something out.

[2020-01-20 17:46] sherl0cks commented on #6618
Sure, but it’s unclear to me exactly how to do that given the PR is not
merged and that seems like a substantial change. Can you provide a few
simple steps for me to run the test?

On Sun, Jan 19, 2020 at 21:38 Stuart Douglas <notifications@github.com>
wrote:

[2020-01-20 17:52] marceloverdijk commented on #6625
I did some manual `Class.forName(s)` while in debug mode, and it seems all project classes give a `ClassNotFoundException`. Classes from dependencies do work with `Class.forName`.
Maybe for some reason `quarkusDev` doesn't add them to the classloader?

[2020-01-20 18:03] evanshortiss commented on #6596
@sberyozkin this fails with `Caused by: io.quarkus.oidc.OIDCException: Application type [WEB_APP] not supported`

It looks like this is not yet implemented (based on a quick look in source code of quarkus), but I changed to `service` type from `web-app` and it fails fast with the error below -  👍

[code]

I would agree with this personally, but I am not a Java ecosystem person so it may be my misu

[2020-01-20 18:31] dmlloyd opened #6661 "Define & document interactions between exec phases and profiles"
**Description**
Configuration profiles apply at all phases.  However, it is possible to select a different profile at run time compared to build time.

The resultant behavior of such profile changes should be documented.

[2020-01-20 19:39] aguibert commented on #6627
@gintsgints I was able to reproduce the issue after setting my JVM timezone to `Europe/Sofia`

What's happening here is that the java.sql.Date has no timezone precision on it, but when Yasson serializes the value it attempts to convert the value to a `java.time.Instant` as an intermediary step which forces it to take into account Timezone. Yasson assumes that a java.sql.Date of `1966-11-04` (or an

[2020-01-20 19:53] johnaohara commented on #6136
Building getting started quickstart with #6574 and 19.3.1, the startup RSS is now the same as building with 19.2.1

Build Version | RSS (KB)
-- | --
RSS_REGRESSION-graalvm-ce-19.2.1 | 17216
RSS_REGRESSION-graalvm-ce-java8-19.3.0.2 | 94716
RSS_REGRESSION-graalvm-ce-java11-19.3.0.2 | 86480
RSS_REGRESSION-graalvm-ce-java11-19.3.1 | 17140
RSS_REGRESSION-graalvm-ce-java8-19.3.1 | 17232

[2020-01-20 20:16] geoand commented on #6136
@gsmet should we continue with the dual version approach or bump to 19.3.1 in light of the results that @johnaohara posted?

[2020-01-20 20:20] #6193 closed

[2020-01-20 20:24] gastaldi commented on #5554
Fixed in https://github.com/quarkusio/quarkus/commit/4a72b9c05659db8e3cbb8f940e098f38d6b44078

[2020-01-20 20:24] #5554 closed

[2020-01-20 21:07] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: 1a4e95afa61b40a7de4c6ed36edc58f1eb087bca

* Quickstarts commit: 3a36b88a860a40bfbae45b2840aff59c5cf11392

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-20 21:20] sberyozkin commented on #6606
Hi @hartimcwildfly - please investigate the native issue as the extension code looks good to us, but right now the expectations for the new extensions is that they can work in the native image, thanks

[2020-01-20 21:24] #6612 closed

[2020-01-20 21:33] gastaldi commented on #6645
Can you paste the full stacktrace? Also, are you sure that `application\json` is not sent in the request?

[2020-01-20 21:35] #6641 closed

[2020-01-20 21:48] josejulio opened #6664 "Support for empty Sort object"
**Description**

Support an empty Sort object to denote "no-sorting needed".

Currently it uses `null`, but I use the Sort object to validate the sorting passed is valid (i.e. that the app allows to sort by that column).
I can of course validate if the sort is null before trying, but would be more conveniente to just pass an "empty sort".

I tried using Sort.by() to create an empty Sort, but this

[2020-01-20 22:05] stuartwdouglas commented on #6417
So the actual error here is simple enough to fix, the deleteIfExists can be changed to some kind of deleteRecursive call. This is a real bug, as it will show up in other use cases if the user deletes a directory that was being watched.

Another problem is https://github.com/quarkusio/quarkus/commit/d81e508b6fb543724bd526c01304c28ebedc3d8f which now causes an app reload if a web resource is modifie

[2020-01-20 23:04] dmlloyd commented on #3670
Here is a clear, well-defined use case contributed by @sherl0cks, who brought this idea up in chat (please let me know if I have an error Justin!).

Use case: As a developer, I want to be able to specify an `.env` file in the working directory of my project build or execution, so that I can add "environment" variables which apply only to my local build/execution in a way which is already well-unde

[2020-01-20 23:24] danielpetisme commented on #6536
just to be sure, we're not talking only about the active-record pattern but also the repository (I know I know is not "recommended") but AFAIK both patterns fails the same way.

Do you have any insight about how people test their application? I mean Spring devs use Mocks ok, but how does the rest of the population using hibernate?

[2020-01-20 23:34] sherl0cks commented on #3670
@dmlloyd you have the right Justin. Thanks for tagging me here. As examples of how standard this is in other languages, all of the below examples have at least 2,000 github stars:

- [Node.js](https://github.com/motdotla/dotenv)
- [Ruby](https://github.com/bkeepers/dotenv)
- [Python](https://github.com/theskumar/python-dotenv)
- [Go](https://github.com/joho/godotenv)

If it's helpful, [here is the

[2020-01-20 23:34] #6587 closed

[2020-01-21 00:16] sherl0cks commented on #6618
FYI - moving the CDI config of the bean to `src/main/kotlin` from `src/test/kotlin` has temporarily solved the problem.

[2020-01-21 01:43] smlambert opened #6667 "io.quarkus.it.kafka.streams.KafkaStreamsTest.testKafkaStreams fail to locate JNI library on Z"
**Describe the bug**
When trying to run quarkus tests on zlinux architecture at the AdoptOpenJDK project, the io.quarkus.it.kafka.streams.KafkaStreamsTest.testKafkaStreams test fails to launch Quarkus due to a missing JNI library

TestInstanceFactory [io.quarkus.test.junit.QuarkusTestExtension] failed to instantiate test class [io.quarkus.it.kafka.streams.KafkaStreamsTest]: Failed to start quarkus

[2020-01-21 01:44] smlambert commented on #6538
For KafkaStreamsTest failure, raised https://github.com/quarkusio/quarkus/issues/6667

[2020-01-21 01:45] stuartwdouglas commented on #6618
What do you mean by CDI config?

[2020-01-21 02:40] GregJohnStewart opened #6668 "quarkus-config-yaml does not recognize "application.yml""
**Describe the bug**
While the plugin recognizes `application.yaml`, it does not recognize `application.yml`, and thus does not get the configuration as normally expected. (`.yml` is accepted by Spring, for instance)

**Expected behavior**
Quarkus would pick up the configuration placed in `application.yml`

**Actual behavior**
Quarkus does not pick up the configuration placed in `application.yml`

[2020-01-21 03:33] pcasaes opened #6669 "Add support for Vertx' preferNativeTransport"
**Description**
We can get significant performance boosts by enabling native transport on Vert.x
https://vertx.io/docs/vertx-core/java/#_native_transports

**Implementation ideas**
We could add a new field to `prefer-native-transport` to `VertxConfiguration`.

On `HttpConfiguration` we can add:
* so-reuseport
* tcp-quickack
* tcp-cork
* tcp-fastopen

On `HttpConfiguration` we can also configure *u

[2020-01-21 03:59] stuartwdouglas commented on #5015
It should go in early in the 1.3 cycle

[2020-01-21 06:31] #5908 closed

[2020-01-21 06:42] stuartwdouglas commented on #6608
Do we have an example of what the exception actually looks like when this fails?

[2020-01-21 07:41] johnaohara commented on #6645
@lucapompei Do you have something that reproduces this issue that we can run? Is "large number of requests (>=5000)" the total number of requests that the application starts to fail at, or is it when you start to drive load over 5000 req/sec? Do you see the same error if you use a cl tool like wrk2 or seige to drive load?

[2020-01-21 07:45] johnaohara commented on #6539
@FreifeldRoyi do you have an application that reproduces the issue that we could test? Has the payload being sent/received changed between tests on 0.22.0 and 1.1.1.Final?  Is the application now generating more logging?

[2020-01-21 07:56] galderz commented on #6321
@iabughosh To the image building process, it's parameter of `native-image` which builds native images :)

[2020-01-21 08:12] stuartwdouglas commented on #6608
I think I have a fix for this in the linked PR, lets see what CI says.

[2020-01-21 08:24] Sanne commented on #6654
BTW let's not use the legacy "Arjuna" name anymore, I'll amend the issue title.

[2020-01-21 08:42] Sanne commented on #6536
Good question. As far as I know, people will either run "fast" unit tests entirely mocking the persistence layer, or will run slower, sequential integration tests with an actual database.

Both approaches have some good reasons; IMO people should have a bit of both kinds of tests.

In short: in a given test either you use Hibernate, or you don't. I guess the main problem I see with your test above

[2020-01-21 08:48] Sanne commented on #6641
The other bug relates to default field initializers not being triggered by a Jackson optimisation of not invoking a setter for some fields when it thinks this is unnecessary, when combined with Hibernate ORM's self-dirty-tracking enhancement.  AFAIR it was reproduced without having Panache in the picture so I guess it's a different issue.

[2020-01-21 09:21] gintsgints commented on #6627
Should I create issue at yasson?

[2020-01-21 09:37] stuartwdouglas commented on #6625
Are you using Class.forName("com.demo.Project", false, Thread.currentThread().getContextClassLoader()); ?

The single argument version does not use the context class loader, so will likely not be able to load project dependencies when used by an external jar in dev mode.

[2020-01-21 09:39] sberyozkin commented on #6608
@stuartwdouglas Hi, the test I disabled would fail in CI, the test expects that `principal.getName` returning a custom principal name equal to the `email` claim but because `OidcIdentityProvider`'s customization of the `Principal` was missed in CI, the test assertion would fail, the Principal has no `principalClaim` available and the default `getName` method would be called.
Thanks for the fix, an

[2020-01-21 09:40] stuartwdouglas commented on #6625
The reason for this is because Quarkus uses a 2 layer class loading structure, to allow the application classes to be dropped on hot reload. This means that using the single argument version of Class.forName will attempt to load classes using the base class loader which cannot see the application classes.

[2020-01-21 09:56] marceloverdijk commented on #6625
The problem is when a 3th party lib is using `Class.forName(s)` (with the single argument) the application does not run?

[2020-01-21 09:56] ppalaga commented on #4602
We should perhaps recommend setting `quarkus.native.enable-all-charsets = true` in `application.properties` because it works both in Maven and Gradle.

[2020-01-21 10:00] #6417 closed

[2020-01-21 10:02] stuartwdouglas commented on #6625
It will not run if it attempts to load an application class, it can load other 3rd party classes. In general things should always use the Thread Context Class Loader, as it will work in almost all environments.

[2020-01-21 10:33] maxandersen opened #6677 "Clements s2i soapbox"
### Description
list of issues/open concerns around the s2i build approach

- [ ] _ quarkus fat jar approach not fitting well with s2i and workaround is marked [deprecated](https://github.com/quarkusio/quarkus-quickstarts/blob/master/getting-started/.s2i/environment) and issue still [open on it](url)
- [ ] _ concerns about "agent bond and all this stuff" in s2i (@cescoffier can you elaborate)
- [

[2020-01-21 10:34] maxandersen commented on #6677
s2i we don't want to use: https://github.com/fabric8io-images/s2i/blob/master/java/templates/s2i/run#L43 as it assumes spring boot inlogs etc.

[2020-01-21 10:55] gsmet opened #6678 "Optimize Vert.x startup by avoiding DNS resolver initialization"
If we do something about this, it should be done in Vert.x but I'd like the discussion to start here to be sure it's really something that should be fixed in Vert.x or if it's something we should live with.

When starting Vert.x in `io/vertx/core/http/impl/HttpServerImpl.listen`, we resolve the address in `io/vertx/core/net/impl/AsyncResolveConnectHelper.doBind` via `io/vertx/core/impl/VertxImpl.r

[2020-01-21 11:18] FroMage commented on #6641
Well, yeah, it's not related to Panache, but it's the same real underlying bug: that new unpersisted entities are not marked dirty.

[2020-01-21 11:18] marceloverdijk commented on #6625
I understand, but it means all 3th party libs using `Class.forName(s)` won't work? And try to see if these libs can change to ` Class.forName(s, false, Thread.currentThread().getContextClassLoader())`? Correct?

[2020-01-21 11:30] rsvoboda opened #6679 "KubernetesProcessor - BuildInfo - possible switch of constructor attributes"
Hi @iocanel / @geoand, I'm looking at https://github.com/quarkusio/quarkus/blob/master/extensions/kubernetes/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java#L236 and I think attributes on line 239 and 240 should be switched.

[code]

BuildInfo constructor has this signature: `public BuildInfo(String name, String version, String packaging, String buildTool, Path o

[2020-01-21 11:37] stuartwdouglas commented on #6625
yes, but that is already true of a lot of environments, it only really works properly if you have a flat classspath, or it is inside the same classloader as the classes you are loading. Most libraries will use the 3 argument version, because they need to to work correctly in environments like WildFly or OSGi.

[2020-01-21 11:41] marceloverdijk commented on #6625
OK, thanks for the explanation. I will make a PR in the `hibernate-types` project.

[2020-01-21 11:41] #6625 closed

[2020-01-21 11:47] iocanel commented on #6679
BuildInfo has two constructors. One that allows specifying different values for `classOutputDir` and `resourceDir` and one which assumes that both are the same. Currently, we use the later in quarkus.

So, yes your assumption that it works only when the two are equal is correct. We should change that.

[2020-01-21 11:49] #6658 closed

[2020-01-21 11:58] FreifeldRoyi commented on #6539
- I had a hunch that it was due to a field change so to pinpoint this issue I reverted back to the good 0.22.0 commit and deployed each commit individually. The very first commit was the 0.22.0 to 1.1.0.Final bump _with no new fields_, only the changes I mentioned in the first message. Later I got to the 1.1.1.Final commit (with new fields) and got better memory footprint but same `<2ms` latency.

[2020-01-21 12:05] johnaohara commented on #6539
@FreifeldRoyi when you refer to latency;
1. are you referring to mean latency, max latency, some centile of latency distribution?
2. is the latency you are measuring the response time from the client side requests?
3. Has CPU utilization of the application increased with 1.1.1.Final?
4. Are you running in JVM mode or native mode?

If you are seeing a difference in response times in JVM mode it cou

[2020-01-21 12:10] galderz commented on #6321
Btw, the quarkus Maven plugin, for the `native-image` goal, has a parameter called `enableAllSecurityServices` that you should be to enable to achieve the same thing.

[2020-01-21 12:13] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: 1ac29b83dcc2eaa9ba0d61b17350cd4619770d0d

* Quickstarts commit: 3a36b88a860a40bfbae45b2840aff59c5cf11392

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-21 12:33] FreifeldRoyi commented on #6539
1. All
2. It's a homebrewed ContainerRequestFilter & ContainerResponseFilter to send time metrics to StatsD
3. at 0.22.0 CPU peaked at ~9%.  Now at ~10-12%
4. JVM with OpenJDK 8 as I mentioned in the first message

[2020-01-21 13:00] gwenneg opened #6682 "Allow multiple caching annotations on a single method"
The `quarkus-cache` extension (which was just merged into `master`) currently has a limitation of one `@Cache*` annotation per method.

This means none of the following code snippets are allowed for now:

[code]

[code]

[code]

I will submit a PR that removes this limitation.

[2020-01-21 13:06] andreas-eberle commented on #6635
This SO question seems to mention the same problem but unfortunately no solution yet: https://stackoverflow.com/questions/56781972/how-to-create-a-jandex-index-in-quarkus-for-classes-in-a-external-module-for-gra

[2020-01-21 13:08] ppalaga opened #6683 "-H:+AddAllCharsets passed to native-image even though no extension requested it"
-H:+AddAllCharsets passed to native-image even though neither any extension nor user config requests it.

Thanks @lburgazzoli for spotting the symptoms.

Steps to reproduce: run any itest where `-H:+AddAllCharsets` is not expected in the native mode. quarkus-integration-test-jackson is a good example.

Expected: Either `AddAllCharsets` does not occur at all or `-H:-AddAllCharsets` occurs in the ou

[2020-01-21 13:11] ppalaga commented on #6683
BTW with the fix, the size of the native image goes down from 34552872 to 28339240 bytes which is ~5.9MB

[2020-01-21 13:25] geoand commented on #6588
The latest failure should be fixed by https://github.com/quarkusio/quarkus/pull/6681

[2020-01-21 13:31] galderz commented on #5337
I believe it was @rsvoboda. I'll try to replicate again.

[2020-01-21 13:51] sberyozkin commented on #6683
FYI, this is optional in the Tika extension too

[2020-01-21 13:52] galderz opened #6685 "Unsupported feature error loadClass(Module, String) with graal master"
I'm trying GraalVM master (commit a765907c72e0e7519a7cb85673acf643987cb860) built with `11.0.5+10-jvmci-19.3-b04-LTS` and seeing this failure:

[code]

The call analysis tree can be found [here](https://gist.github.com/galderz/a56443a2117013d8e65e572be635c96b).

I've tried to add another substitution for the same call site, so that `loadClass(Module, String)` returns null instead, but that didn't

[2020-01-21 14:14] rsvoboda opened #6687 "mvel2 dependency defined in bom but not used"
mvel2 dependency defined in bom but not used

[code]

@mariofusco Is `mvel2` dependency needed by kogito project ?

[2020-01-21 14:16] gsmet commented on #5511
@fmhwong this might be a nice issue to start with. Useful keyword: `RuntimeValue`.

[2020-01-21 14:18] gsmet commented on #4766
@irenakezic this might be a good issue for you. From what I can see, we need to expose `oauth2-redirect.html` when doing the Swagger UI magic.

Better check beforehand if it's still inaccessible as it's a pretty old issue.

[2020-01-21 14:20] gsmet commented on #3813
@fmhwong this one might be of interest too. It's the second time we have complaints about JAXP in native. We already have a JAXB extension but we might need a JAXP one.

[2020-01-21 14:20] DanHeidinga commented on #6667
This is the key thing - the JNI natives for the `librocksdbjni` library aren't available on s390.

How critical is this component to Quarkus?  Is it used by the core framework or only by test cases?

[2020-01-21 14:26] gsmet commented on #2718
@irenakezic this one might be doable now. See my last comment about adding conditions to the substitions depending on what we have in the classpath (there are a few examples in the code). It might be tricky to test though but you know Kafka so that might help :).

[2020-01-21 14:52] michael-schnell opened #6690 "Start coding / Generate your application fails with "Invalid shortId:""
1. Goto https://code.quarkus.io/
2. Press "Generate your application"
3. Error message "Invalid shortId:" appears with this page: https://code.quarkus.io/d?g=org.acme&a=code-with-quarkus&v=1.0.0-SNAPSHOT&b=MAVEN&c=org.acme.ExampleResource&s=&cn=code.quarkus.io

Downloading the ZIP is not possible.

[2020-01-21 15:11] geoand commented on #6690
@ia3andy I think this belongs in the code.quarkus.io repository?

[2020-01-21 15:41] #6683 closed

[2020-01-21 15:49] sberyozkin commented on #1710
@mkouba Hi Martin, smallrye-jwt has a `RawClaimProducer` which returns `Optional` and `quarkus-smallrye-jwt` has some code to make `Optional<JsonString>` to work. But all `RawClaimProducer` does it returns a claim value.
I'm not sure it can really work for JsonString unless the JAX-RS service scope is per-request (in JAX-RS terms).
I'd be tempted to close this issue and recommend use either `Claim

[2020-01-21 15:50] gytis commented on #3454
A quick update. I've created a controller implementor which generates GET, POST and DELETE methods (I skipped POST and PATCH for now as they're more complex) and an entity transformer which injects RESTServiceDiscovery field where needed. Here's the current comparison with master https://github.com/quarkusio/quarkus/compare/master...gytis:panache-rest.

There are a bunch of smaller things that are

[2020-01-21 16:03] JoaoCamposFrom94 opened #6695 "Ambiguous dependency: Injecting interface from another module causes integration tests to fail."
**Describe the bug**
Injecting an interface on an interceptor and implementing that interface in another maven module causes the error below. By changing that interface into a concrete class the error is gone.

[code]

**Expected behavior**
The integration test should pass.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/talkdesk-tdx/quarkus-bug-report/tree/6a5297fbe

[2020-01-21 16:22] FroMage commented on #3454
OK great news.

Looking at the code I see you said that links require `LinkResource(X.class)` for `List<X> list` but I think it was due to resteasy-links not being able to infer that from the returned collection type, which should be trivial to fix in resteasy-links while you're at it. Looking at `RESTUtils.getServiceType` I can see it's using the non-generics part of the reflection API. Damn that

[2020-01-21 16:26] geoand commented on #6695
@manovotn or @mkouba , care to take a look?

[2020-01-21 16:40] FroMage commented on #3454
Forget it, it's required, my bad memory :(

[2020-01-21 16:42] lukedipa opened #6696 "Quarkus Test fails with 'This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?'"
**Describe the bug**
Quarkus tests fail with 'This method is normally automatically overridden in subclasses: did you forget to annotate your entity with @Entity?' if I add in the same test class a method which returns an entity used in the test method.

Here are my entity and test classes:

[code]

and my test class:

[code]
As long as the createMsg method (which actually is meant to create a new

[2020-01-21 16:45] #6668 closed

[2020-01-21 16:49] mmusgrov commented on #4399
I will push an update this week

[2020-01-21 17:06] lburgazzoli commented on #3300
@gsmet it is fixed by graalvm 19.3.1, not sure if caffeine is used by other means so we can get rid of this specific test

[2020-01-21 17:10] gsmet commented on #3300
Are you aware that we have a Caffeine extension in Quarkus? I suppose all this should be taken care of by the extension and you should be safe if you use it.

[2020-01-21 17:10] #6608 closed

[2020-01-21 17:17] #6645 closed

[2020-01-21 17:20] pivovarit commented on #6652
It's not really related to the issue, but we developed the Hazelcast extension already([code](https://github.com/pivovarit/quarkus-hazelcast-client-extension)). We're doing the last round of polishing now and the PR is about to go out in a few days

[2020-01-21 17:22] kdubb commented on #6652
@pivovarit Awesome!! I've been concentrating on Mybatis so this is really great news.  Thanks!

[2020-01-21 17:27] lburgazzoli commented on #3300
I think when I've opened the issue the caffeine extension was not yet a thing or at least it id not include such tests, then we left it here as place-holder to check the fix upstream so I'm feel to close this PR as it has been fixed upstream

[2020-01-21 17:49] michael-schnell opened #6697 "Native build fails with "quarkus-logging-gelf" extension (Unsupported method sun.nio.ch.DatagramDispatcher.read0)"
**Describe the bug**
Adding the extension "quarkus-logging-gelf" makes the native build fail with " Unsupported method sun.nio.ch.DatagramDispatcher.read0(FileDescriptor, long, int) is reachable: Native method."

**Expected behavior**
Native build should be successful using "quarkus-logging-gelf" extension.

**Actual behavior**
Native build fails if "quarkus-logging-gelf" extension is added to pom

[2020-01-21 18:12] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 3398d3663dbd2e88322e5ae488505ec436e9e4a8

* Quickstarts commit: 3a36b88a860a40bfbae45b2840aff59c5cf11392

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-21 18:16] vietj commented on #6678
the code will use a quick path in the resolver, 0.0.0.0 will be resolved quickly to an `InetSocketAddress` representing this address and not actual DNS resolution will happen (i.e no network call). Then this address will be used to do a Netty bind on it.

Not sure what is the issue here, unless you want to add a specific fast path that resolves hardcode the resolution of the string `0.0.0.0` to th

[2020-01-21 18:22] marceloverdijk commented on #6625
For anyone interested the following [PR](https://github.com/vladmihalcea/hibernate-types/pull/177) is created within the `hibernate-types` repo.

[2020-01-21 18:55] gsmet commented on #6697
Looks like enabling JNI fixes the issue, I'm on it.

[2020-01-21 18:57] gsmet commented on #6697
You can work around the issue by setting `quarkus.native.enable-jni` to true at the bottom of the generated pom.xml. It should look like:
[code]

[2020-01-21 19:25] sherl0cks commented on #6618
I have an `@ApplicationScoped` bean that has a bunch of CDI producers in it, which I am referring to collectively as my CdiConfig.

[2020-01-21 19:29] gsmet commented on #6678
@vietj so... most of the bootstrap slowness is related to class loading. It's what really slows us down.

In this case, it's mostly related to the initialization of `NioDatagramChannel` and allegates. AFAICS this class is only called when initializing the DnsResolver layer (Eclipse says so but it might not be true, please correct me if incorrect).

If we don't resolve any other address later on, t

[2020-01-21 19:40] vietj commented on #6678
have you tried in Quarkus native to turn JDK DNS resolver using `vertx.disableDnsResolver` system property, this should use the JDK dns resolver which will bypass this machinery ?

[2020-01-21 19:42] gsmet commented on #6678
I'm working on optimizing the dev mode experience so in JVM mode. Is your proposal valid for JVM mode, too?

I suppose you had your reasons to implement your own DNS resolver?

[2020-01-21 19:45] cescoffier commented on #6678
@vietj In native mode the Vert.x DNS resolver is disabled by default (users can opt-in).

[2020-01-21 19:52] bluemonk3y opened #6701 "Guide for AWS Lambda HTTP yields: io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler ClassNotFoundException in SAM"
**Describe the bug**
When following the guide:
1. https://quarkus.io/guides/amazon-lambda-http I build the GreetingResource etc.
1. Run > `mvn clean install`
1. Start SAM using: `sam local start-api --template sam.jvm.yaml`
1. Navigating the browsers to: `http://127.0.0.1:3000/hello`
1. Shows class not found on the console:
[code]

**Expected behavior**
Should return the result of the get request

[2020-01-21 19:54] vietj commented on #6678
why not then disable it by default in all cases ?

[2020-01-21 19:56] gsmet commented on #6678
I can try tomorrow and see how it goes.

[2020-01-21 20:05] vietj commented on #6678
the main reason is for performance reason when an application needs to constantly perform DNS resolution (like an HTTP gateway) then blocking DNS resolution can be a bottleneck.

[2020-01-21 20:06] vietj commented on #6678
however in case of a Quarkus app, the default to use the JDK resolver might be a better one.

[2020-01-21 20:28] aguibert commented on #6627
hi @gintsgints, I've proposed a fix in Yasson, but it will be a few weeks until a new release is available since Yasson just made a release last week.

You can workaround the issue in the short-term in a couple different ways:
1. Use a more modern type in your model such as `java.time.LocalDate` (probably preferred solution)
1. Change the property type from `java.sql.Date` to `String` and use `sql

[2020-01-21 20:48] irenakezic commented on #2718
@gsmet ok thx! I will give it a try but probably not before the weekend.

[2020-01-21 20:49] irenakezic commented on #4766
@gsmet ok thx! I will give it a try but probably not before the weekend.

[2020-01-21 21:09] gsmet commented on #6678
I created https://github.com/quarkusio/quarkus/pull/6706 . Looks like we had a small bug.

[2020-01-21 21:18] #6697 closed

[2020-01-21 21:20] #2383 closed

[2020-01-21 21:23] Sanne commented on #5865
I'll close this: the problem is caused by that property, people should not use it in this way.

[2020-01-21 21:23] #5865 closed

[2020-01-21 21:28] stdunbar opened #6707 "AmazonLambdaRecorder.chooseHandlerClass needs to support RequestStreamHandler pattern"
I'm unable to get the out of the box AWS Lambda test to work if my Lambda uses the RequestStreamHandler implementation pattern.  My code:

[code]

And my application.properties has `quarkus.lambda.handler=lambdaHandler`.  At times it is easier to read the InputStream and parse what you need out of it rather than creating a POJO.  As it is I get:

[code]

Perhaps the `quarkus.lambda.handler` could

[2020-01-21 21:41] geoand commented on #6701
cc @evanchooly @patriot1burke

[2020-01-21 21:43] geoand commented on #6696
This is a duplicate of #1724

[2020-01-21 21:43] #6696 closed

[2020-01-21 21:49] gsmet commented on #6645
@lucapompei so did you find the issue?

[2020-01-22 00:05] gwenneg opened #6709 "Drop the GraalVM 19.2.1 compatibility"
Quarkus `1.2` supports both GraalVM `19.2.1` and `19.3.1`.

Now that we know https://github.com/oracle/graal/issues/1984 was fixed in GraalVM `19.3.1`, it should be OK to drop the GraalVM `19.2.1` compatibility in Quarkus `1.3`.

I'll submit a PR.

[2020-01-22 01:19] christianThor opened #6710 "Quarkus additional build args cannot handle comma separated list"
**Describe the bug**
I get a malformed command when running the quarkus plugin with the following entry in `application.properties`:

`quarkus.native.additional-build-args=--initialize-at-run-time=javax.ws.rs.Path,javax.ws.rs.GET`

**Expected behavior**
The command should execute successfully.

GraalVM supports comma separated list for the `--initialize-at-runtime` argument:

```--initialize-at-ru

[2020-01-22 03:04] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: 689b862f3eb947641de0e355071e5a6d92a19c36

* Quickstarts commit: 977da1a210701469ef6e714311d6aa7b58efd448

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-22 03:11] stuartwdouglas commented on #6652
This will be fixed by the class loader changes. JUnit 5.6 does not require a proxy any more, as it lets you directly intercept the test invocation.

[2020-01-22 06:28] himansh-23 opened #6713 "Multiple mongo connection(diferent server) with with panache mongo extenstion"
**Please use StackOverflow for questions.**

This helps the community to be able to find answers to their similar issues more easily.

[Click this link to ask on StackOverflow with the "quarkus" tag](https://stackoverflow.com/questions/ask?tags=quarkus).

[2020-01-22 06:49] cescoffier commented on #6678
Initially, it was not working in native. SubstrateVM supports it now (I added an IT).

[2020-01-22 06:50] boonyasukd commented on #3813
@gsmet
Just to give you all a bit more information, there seems to be a problem with `graalvm` itself not picking up JDK resources even when `native-image` is properly configured, and there are currently multiple ongoing issues related to this in graalvm's github. This problem seems to affect people using micronaut as well.

- [my graalvm issue (stalled)](https://github.com/oracle/graal/issues/164

[2020-01-22 07:37] lukedipa commented on #6696
Ok, thank you!

[2020-01-22 07:53] #6519 closed

[2020-01-22 08:13] geoand commented on #6713
This will happen at some point. We first need #4529 then some changes in Mongo Panache

[2020-01-22 08:13] #6713 closed

[2020-01-22 08:24] nimo23 commented on #5865
@Sanne Should not use it in this way **only in quarkus or in general**? `AUTO_SERVER=TRUE` is a valid configuration option in h2 and needed when **Automatic Mixed Mode** is needed. Then please add this limitation to quarkus documentation so users are aware of that they cannot use all the config options of h2.

[2020-01-22 08:34] geoand commented on #6710
Thanks for reporting.

This isn't a but actually since `,` is used to denote that values are members of a collection of configuration values, in your case where the `,` needs to be passed down to GraalVM, you need to escape it like so:

[code]

[2020-01-22 08:34] #6710 closed

[2020-01-22 08:56] Sanne commented on #5865
you shouldn't use it in this way **in general**. The only thing about Quarkus is that it's so fast to boot that it triggers the problem with more likelyhood, but you might still have it on other platforms too, if you have bad timing luck e.g. on a fast machine with many cores.

[2020-01-22 09:07] nimo23 commented on #5865
Interesting, I ve never faced such errors in the past for a few years in wildfly so I had good timing luck or slow machines:)

And which connection string should I use when I want to use **automatic mixed mode**. All the valid URL connections are listed in http://www.h2database.com/html/features.html under section **"Database URL Overview"**.

I use the "Automatic mixed mode"-URL:

[code]

**H2 of

[2020-01-22 09:11] gsmet commented on #6678
What was not working in native? Should we remove the specific handling of native now and let the user decide which to use if both approaches work?

[2020-01-22 09:16] Sanne commented on #5865
When you start a new process, this is generally run "in parallel" with your main code. When you do start anything, you should wait for it to be in a sane state before using it, such as "finished booting".

I don't know what's the best way to wait for H2 to have finished booting; you might want to check if it logged something like "ready", as other databases would.

In general the problem with "AUT

[2020-01-22 09:16] gsmet commented on #6710
We need a double antislash, not a single one? Should we document this in the writing native applications guide?

[2020-01-22 09:17] gsmet commented on #6687
It might be needed for dependency convergence.

[2020-01-22 09:18] gsmet commented on #6695
@stuartwdouglas could it be related to class loading?

[2020-01-22 09:18] gsmet commented on #6664
/cc @FroMage

[2020-01-22 09:18] geoand commented on #6710
Yeah, we need to the double one (I tried it and then double checked :)).

Documenting this a good idea. I'll open a PR

[2020-01-22 09:19] gsmet commented on #6667
@gunnarmorling could you answer the question above ^? Thanks!

[2020-01-22 09:20] gsmet commented on #6710
@dmlloyd just to check that it's normal we need double antislashes to escape commas? It seems a bit weird.

[2020-01-22 09:25] gytis commented on #3454
I'm not sure that will work, `PanacheEntityBase` doesn't require ID type parameter, it's the `PanacheRepositoryBase` that does. We could scan for a filed annotated with @Id, but it would make code more complex.

[2020-01-22 09:26] mkouba commented on #6695
Hm, one thing I've noticed is that you're using failsafe instead of surefire to run the test. If I change the name of the test to `ConstraintViolationExceptionMapperTest` I get a different error when running `mvn clean test`:
[code]

[2020-01-22 09:26] gytis commented on #3454
@FroMage thanks for the comments, they are very helpful.

[2020-01-22 09:27] geoand commented on #6710
Here is the PR documenting this: https://github.com/quarkusio/quarkus/pull/6715

[2020-01-22 09:33] nimo23 commented on #5865
Ok, good to know.

And these exceptions will stop quarkus to proceed instead of waiting for connection and trying to reconnect.

Would it be a good idea to have at least a property in which I can quarkus instruct **to wait with a time out.** For example,

[code]

It would work something like this

`phaser.awaitAdvanceInterruptibly(0, 200, TimeUnit.MILLISECONDS);`

This would also solve issues you

[2020-01-22 09:37] nimo23 commented on #5865
Btw, we also have "**MicroProfile Fault Tolerance"** with **Timeout** and **Retry**..maybe quarkus can make use of it when connecting to the database..and we can control this timeout and retry by quarkus properties:

[code]

[2020-01-22 09:37] cescoffier commented on #6678
I don't remember exactly, but it was unable to resolve anything. It has been fixed in the recent GraalVM versions.

I would disable the Vert.x async resolver by default. We still have issues in Kubernetes when using it. The user can opt-in if it works in his case.

[2020-01-22 09:56] Sanne commented on #5865
We already have connection timeouts, but this is manifesting as a corrupted answer; it wouldn't be wise to swallow those and try again. It needs to either be fixed by the databases (both client and server could have some improvements here).

[2020-01-22 10:01] geoand opened #6717 "[CI] - Native builds GraalVM 19.3.1 - Java 8"
This issue reports the status of the daily cron job that runs all the native tests with multiple GraalVM versions.

Don't close this issue manually. This issue will be closed when the build gets fixed. It will be re-opened if it fails again later. You can subscribe to be notify of the status.

    Build page: https://github.com/quarkusio/quarkus/actions

[2020-01-22 10:05] mkouba commented on #6695
@gsmet I don't think Quarkus supports failsafe to be used to run `@QuarkusTest` tests ^, or?

[2020-01-22 10:18] stuartwdouglas commented on #6695
This is due to the combination of failsafe + jandex plugin, see https://groups.google.com/d/msg/quarkus-dev/uE8uWciCaRA/eoihkq3_BwAJ

[2020-01-22 10:30] galderz commented on #6685
Issue does not happen with graalvm 19.3.1 (java 11), so that's good. I'll still dig further to understand what is causing this: either a fault on my side, or something a change in graalvm master that could affect us in the future.

[2020-01-22 10:33] nimo23 commented on #5865
Got it, thanks. So https://github.com/h2database/h2database/issues/2310 is the right place:)

[2020-01-22 10:49] amarkevich commented on #4841
quarkus-maven-plugin:1.1.1.Final

Docker Desktop configured to use 'C' local drive [1] and expected argument should be

1. https://docs.docker.com/docker-for-windows/ -> File sharing

[2020-01-22 10:51] FroMage commented on #3454
Oh duh, sorry, you're right. Honestly I don't remember why they differed. Perhaps we should add that type param to `PanacheEntityBase`. That would make your user code simpler, at the cost of more complex user code for non-standard ID users who extend `PanacheEntityBase`. Perhaps it's worth the change.

[2020-01-22 10:54] FroMage commented on #6664
It's not clear to me that `Sort.by()` has any obvious semantics. It doesn't really confer "no sort" to me. WDYT @emmanuelbernard ?

[2020-01-22 10:54] gunnarmorling commented on #6667
It's used by the Quarkus Kafka Streams extension (or rather, by Kafka Streams itself, which uses RocksDB as a state store). Best for now IMO would be to modify the extension so it treats RocksDB as an optional dependency, i.e. Kafka Streams could be used on Z without state stores. Limiting its capabilities of course, but better than nothing. It also might be another motivator to explore using Infi

[2020-01-22 11:02] jaikiran commented on #6631
It could be related to the browser. Is it sending "range" requests? Which browser vendor and version are you using? Can you get a screenshot of the browser's webconsole to show us what requests are made (along with the request and response headers)?

[2020-01-22 11:25] JoaoCamposFrom94 commented on #6695
Fixed that, I seems I stripped too many dependencies from the original code. I've added quarkus-resteasy-jsonb. You may git pull the latest version of the repo.

[2020-01-22 11:30] dwamara commented on #2759
Bumping this one just in case it has been forgotten, just got a client who needs to switch to quarkus from payara and this is something that will be needed.

[2020-01-22 11:45] JoaoCamposFrom94 commented on #6695
I got it fixed on the original multi-module maven project.
When I removed the jandex plugin from the library modules I got an unsatisfied exception. To fix this I removed the jandex plugin from the parent pom and moved it to each module, with the **exception of the tests**.

This way I can run unit tests and integration tests. I'll update the repository (with code and a README file) used in the bu

[2020-01-22 11:45] #6695 closed

[2020-01-22 12:05] logscape commented on #6701
this looks like an issue with SAM use of DockerMachine permission on sharing/copying files to the container for execution/mounting.

I reproduced it with the SAM HelloWorld app.
https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-getting-started-hello-world.html

You can see it mentioned here:
https://github.com/awslabs/aws-sam-cli/issues/1092

Temporary worka

[2020-01-22 12:15] haraldatbmw commented on #6136
@johnaohara I can confirm that the memory usage is in the range it was before.
I think this issue can be closed.

**Quarkus 1.2.0.CR1** with **GraalVM 19.3.1**
![quarkus-native-simple_graalvm-19 3 1](https://user-images.githubusercontent.com/49680586/72893233-da590d00-3d18-11ea-8f29-3e56740d7aa1.png)

**Quarkus 1.0.1.Final** with **GraalVM 19.2.1**
![quarkus-native-simple_graalvm-19 2 1](https://u

[2020-01-22 12:16] JoaoCamposFrom94 commented on #6695
Description and repo updated. You can find there a sample project with the error and how to fix it.

[2020-01-22 12:42] northbyte commented on #3655
@FroMage  @asoldano I assume this should be closed and fixed since https://issues.redhat.com/browse/RESTEASY-2432 was included in resteasy 4.4.2 which is now in the quarkus baseline. Correct me if I am wrong.

[2020-01-22 13:24] FroMage commented on #3655
Yes, absolutely.

[2020-01-22 13:24] #3655 closed

[2020-01-22 13:26] dmlloyd commented on #6710
You need the `\,` sequence because the value is a `List`.  Because the value is in a properties file which also uses `\`, you need to escape the original `\` with a second one.  On the command line it should be `-Dquarkus.native.additional-build-args=--initialize-at-run-time=javax.ws.rs.Path\,javax.ws.rs.GET` unless you're in a shell which interprets `\`, in which case you'd have to double it up a

[2020-01-22 13:34] gytis commented on #3454
@FroMage do you mean to inject such a field in Quarkus automatically or do you think that there is a way to not need it at all in RestEasy?

[2020-01-22 13:36] ahofmeister commented on #6255
Thank you for fixing this! :) It works with `1.2.0.CR1`

[2020-01-22 13:37] sciack commented on #6631
Hi, I tried with Firefox and Chrome on MacOs (same laptop I run the executable), right now I don't have my work laptop with me, will try it tomorrow.

[2020-01-22 13:38] geoand commented on #6255
Thank for confirming!

[2020-01-22 13:40] FroMage commented on #3454
Well, one solution is what you currently do: inject the field on behalf of the user. I suppose that's fine.

The other solution is by hooking in the serialiser since you'll have to do that anyway to convert collection/relations into links. But I think as a start your current solution is fine.

[2020-01-22 13:50] patriot1burke commented on #6701
I'll see if I can reproduce.  I didn't have a problem on my setup on Fedora.  Should we just link this in docs?

[2020-01-22 14:22] gytis commented on #3454
I'm just thinking how would it work with HAL. Because if we implement it with a field injection too, it would require to define a new class for HAL links.

[2020-01-22 14:31] FroMage commented on #3454
Yeah, we need to separate the serialising logic from the structure of `RESTServiceDiscovery` to allow for them to be serialised using the HAL format. Or turn it into an interface with two implementations: the previous one and HAL.

Or we could just drop the Atom links and switch to HAL representation if that's what everyone is using these days.

[2020-01-22 14:36] rsvoboda commented on #3834
I tried rest-client-multipart-quickstart with `-Dquarkus.version=1.1.0.Final/1.1.1.Final/1.2.0.CR1` and it worked as expected

[2020-01-22 14:36] #3834 closed

[2020-01-22 14:49] TheVidAllMayThe opened #6722 "Tests fail with constructor injection"
When injecting individual fields with the @Inject annotation the tests run fine, but when using constructor injection the tests fail with:

[code]

In order to reproduce this error I created a sample project with only a MongoPanacheEntity Pojo, a Repository and a Service. The Repository is injected in the service. The test class only has one test that uses the service to call a listAll() function

[2020-01-22 14:51] Sanne commented on #6624
little update on this: I have it a shot, hoping that it would have been something I could do in ~1h .

It turned out to become a fairly complex pandora box: there's various new features in the driver such as an optional SQL parser based on ANTLR4 (which is an optional dependency), and various pluggable security mechanisms for features like column-level encryption, some of which require an optional

[2020-01-22 15:11] FroMage commented on #3454
Nope, I've never hooked into them. That's @geoand 's alley.

[2020-01-22 15:13] geoand commented on #3454
@gytis let's talk about it tomorrow. I've been very distracted with other things so I haven't had time to look into it

[2020-01-22 15:19] geoand opened #6723 "[CI] - Native builds GraalVM 20.0.0 - Java 8"
This issue reports the status of the daily cron job that runs all the native tests with multiple GraalVM versions.

Don't close this issue manually. This issue will be closed when the build gets fixed. It will be re-opened if it fails again later. You can subscribe to be notify of the status.

Build page: https://github.com/quarkusio/quarkus/actions

[2020-01-22 15:30] cescoffier commented on #6723
Are we creating a pattern? :-)

[2020-01-22 15:30] geoand commented on #6723
It looks like it ;)

[2020-01-22 15:36] rsvoboda commented on #6624
Thanks for looking at this topic, to summarize: we are stuck with current jdbc driver version and if we want to move ahead we will need to solve this puzzle before proceeding.

My feeling is that we will see similar situations with more dependencies.

I will close https://github.com/quarkusio/quarkus/pull/6623 as we are blocked for now.

[2020-01-22 15:39] svilenvul opened #6724 "I can not update to 1.2.0.CR1 in a maven project"
**Describe the bug**

I am trying to update a project from 1.1.1.Final to 1.2.0.CR1

**Expected behavior**
Dependencies are found in Maven central.

**Actual behavior**
https://mvnrepository.com/artifact/io.quarkus/quarkus-universe-bom is not available with version 1.2.0.CR1.

[2020-01-22 15:41] gsmet commented on #6724
This is expected. We only publish the quarkus-bom for Candidate Releases, not the quarkus-universe-bom.

See the announcement here for all the details: https://groups.google.com/forum/#!topic/quarkus-dev/2jFpwMt4QaI .

[2020-01-22 15:41] #6724 closed

[2020-01-22 15:43] svilenvul commented on #6724
@gsmet, thank you!

[2020-01-22 15:44] lburgazzoli opened #6725 "SecDispatcherException: java.io.FileNotFoundException: $HOME/.m2/settings-security.xml"
**Describe the bug**

when running test for camel-quarkus on on GitHub actions I see some messages like:

    org.sonatype.plexus.components.sec.dispatcher.SecDispatcherException: java.io.FileNotFoundException: /home/runner/.m2/settings-security.xml (No such file or directory)

Which seems to have not effect but does not look very nice in a build output.

**Expected behavior**

If the exception is

[2020-01-22 15:45] Sanne commented on #6624
Indeed. There's many 3rd party dependencies for which we can't be as proactive as with the core frameworks we contribute to, so when updates will be needed it might take quite some work.

[2020-01-22 15:48] Sanne commented on #6624
Also: there's an upcoming version 8 for this driver, currently in tech preview. Might be wiser to test that one out rather than spending too much time upgrading the minor of version 7.

 - https://github.com/microsoft/mssql-jdbc/releases

[2020-01-22 15:55] Ladicek opened #6726 "Kubernetes: inconsistent handling of kubernetes.name/group/version properties"
**Describe the bug**

I'm using the `kubernetes` extension to generate Kubernetes and OpenShift resources, and find that the `kubernetes.name/group/version` configuration properties are handled wildly inconsistently.

The problem seems to be in Dekorate, but the `KubernetesProcessor` in Quarkus is also involved (it sets the `app.group` system property). I think the root cause is that the Dekorate

[2020-01-22 15:56] Ladicek commented on #6726
CC @iocanel

[2020-01-22 15:58] sixman9 commented on #5722
I don't mean to hijack this thread, the following is for information but, I was trying to add a Quarkus-based Gradle project (1.1.1 final) as a Gradle sub-project (multi-module project) and the `Plugin [id: 'io.quarkus'] was not found in any of the following sources`, when calling it or any tasks from the parent project.

According to the 'Community Plugins' section of [Gradle's PluginDependencies

[2020-01-22 16:00] rsvoboda commented on #6624
https://mvnrepository.com/artifact/com.microsoft.sqlserver/mssql-jdbc/8.1.1.jre8 brings also gson to the mix comparing with https://mvnrepository.com/artifact/com.microsoft.sqlserver/mssql-jdbc/7.4.1.jre8
And the version is `<mssql-jdbc.version>8.1.1.jre8-preview</mssql-jdbc.version>` - https://repo1.maven.org/maven2/com/microsoft/sqlserver/mssql-jdbc/8.1.1.jre8-preview/

[2020-01-22 16:02] Mulgikapsas commented on #6096
Are there any plans to introduce quarkus.http.proactive-auth propery?

@sberyozkin The "kid" header is missing from the token supplied by Prometheus but is present on the other tokens.

[2020-01-22 16:29] #5597 closed

[2020-01-22 16:36] #6678 closed

[2020-01-22 17:42] christianThor commented on #6710
glad this wasn't a bug! thanks for the help!

[2020-01-22 18:07] gsmet commented on #6561
/cc @stuartwdouglas

[2020-01-22 18:32] josejulio commented on #6664
Perhaps then, there could be a `Sort.empty()` method, and `Sort.by()` could thrown and exception when no columns are provided.
As today, `Sort.by()` does not fail when no columns are provided and if you try  to use it, the error given is not really obvious unless you print the HSQL (or PanacheSQL?).

[2020-01-22 18:49] patoessy commented on #5341
Any documentation on this?

[2020-01-22 18:53] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: 1cbf650267660b597638de0b87ef88ce384b844c

* Quickstarts commit: 977da1a210701469ef6e714311d6aa7b58efd448

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-22 20:02] tomgeorge commented on #3138
We are currently encountering this issue on github.com/eclipse/che-workspace-telemetry-client in the `backend-base` module.

[2020-01-22 20:39] geoand commented on #6726
@iocanel I assume you will be handling this one?

[2020-01-22 20:43] geoand commented on #6588
I was able to reproduce the failure with the `kafka-quickstart` locally

[2020-01-22 22:10] #6636 closed

[2020-01-23 00:55] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: d5204c6ee77a5f4c325833cb98e924711c7eed0c

* Quickstarts commit: 977da1a210701469ef6e714311d6aa7b58efd448

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-23 03:36] aaronanderson commented on #5809
I am encountering this issue in 1.2.0.CR1 with the combination of the oidc and graphql extensions. Here is my stack trace:

[code]

[2020-01-23 06:08] gintsgints commented on #6627
No problem. I can wait for now, till fix comes out. Many thanks for great project

[2020-01-23 06:59] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: d5204c6ee77a5f4c325833cb98e924711c7eed0c

* Quickstarts commit: 977da1a210701469ef6e714311d6aa7b58efd448

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-23 08:21] geoand opened #6736 "Consider creating images with prepopulated m2"
When using s2i, tekton or more generally any sort of process that builds docker images using Maven or Gradle, it usually takes a very long to populate an empty `.m2` repository the first time the image is built.
It would be nice if provide a base image that along with the build tools would contain a pre-populated `.m2` repository.
The idea is that such an image would be updated for each Quarkus ve

[2020-01-23 08:22] geoand commented on #6736
cc @cescoffier @maxandersen @tqvarnst

[2020-01-23 08:29] gsmet commented on #6736
It's a good idea. We need to be extra sure the content is safe so we should enable all the checks that we can (checksum for instance, signatures would be even better but I'm not sure if Maven does that automatically).

[2020-01-23 08:35] geoand commented on #6736
Grear point @gsmet

[2020-01-23 08:38] FroMage commented on #6664
Oh, OK, I see. So yeah, we could make `Sort.by()` throw, but I'm not sure why you want `Sort.empty()` when you can pass `null` instead?

[2020-01-23 08:52] iocanel commented on #6726
I think that we have multiple issues here.

- [ ] kubernetes properties leaking to openshift resources and vice versa.
- [ ] kubernetes.name should have priority over quarkus.application.name
- [ ] kubernetes.version should have priority over pom.version.

The first task is probably a `dekorate` issue.
The other two are possibly something we deal with in `KubernetesProcessor`.

@Ladicek: I am not

[2020-01-23 08:57] Ladicek commented on #6726
@iocanel I played with this a bit yesterday and it doesn't seem like an easy fix, due to all the mutability inside Dekorate. My current assignment is to find bugs, not fix them, so if you could take this, that would be great :-)

[2020-01-23 09:11] gunnarmorling opened #6738 "Improve reporting in case JSON cannot be handled due to missing JSONB"
I have a JAX-RS method like this:

[code]

`Measurement` should be unmarshalled from the incoming JSON payload. I had forgotten to add the `quarkus-resteasy-jsonb` dependency, though.

This resulted in the following, IMO rather confusing response:

[code]

I'd expect a more meaningful error, perhaps even exception and HTTP status 500 stating, that the request cannot be handled due to lacking unmar

[2020-01-23 09:19] maxandersen commented on #6736
maven has checksum integration builtin - you have to enable it though using `-C` or `--strict-checksums`.

that said I really don't like the idea of prepopulating images with .m2 content as it should really not be the job of the image to cache these and we would need two different ones to deal with that one would be using maven central the other should have repository.redhat.com and what about use

[2020-01-23 09:22] gsmet commented on #6736
On Thu, Jan 23, 2020 at 10:19 AM Max Rydahl Andersen <
notifications@github.com> wrote:

Yeah I know about that one. I was talking about signature checking support.
I don't know if they have something.

[2020-01-23 09:28] cmoulliard commented on #6736
Without such maven offline repo, every maven build executed within the pod will initiate a new download of the maven artifacts. Even if creating an image packaging the maven repo is not the perfect approach, that at least boosts the process to demo our technology on k8s/openshift.

[2020-01-23 09:44] maxandersen commented on #6736
I fully get that @cmoulliard  - I'm talking about that right now the resulting images keeps that state in them and that due to how maven dependency managers works and are used us "injecting" these bits into the images are breaking expectations.

If the suggestion is to have some *additional* images that adds this extra layer on top of the leaner images ...sure - but it wouldn't be recommended appr

[2020-01-23 10:04] lordofthejars opened #6739 "Fetching credentials from Vault KV v2 fails"
**Describe the bug**

I am trying to fetch credentials for DB from Vault KV v2 instead of v1.

I am executing the next Vault commands:

[code]

Then if I do  a `vault login ....` I can retrieve correctly the `secret/myapps/vault-service/db` but when I configure Quarkus to fetch the credentials to configure the datasource then I got:

[code]

If I run the same example but using the KV v1 then it wo

[2020-01-23 10:13] sberyozkin commented on #5809
Something similar has been reported before in Vertx itself, https://github.com/vert-x3/vertx-web/issues/729.
Hi Stuart @stuartwdouglas, I'm not sure if it is related to the issues you were dealing before to do with the `security` and Vertx, when combined, causing few problems ?

[2020-01-23 10:59] zeljkot opened #6740 "JWT responds with "401 Unauthorized""
**Describe the bug**
After upgrade to 1.2.0.CR1, all requests are responded with 401 Unauthorized.

**Expected behavior**
With the correct JWT token, a request should be processed.

**Actual behavior**
All requests are responded with 401 Unauthorized.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Keycloak client to map "User Client Role" to "groups" (was necessary for 1.1)
2. Usi

[2020-01-23 11:13] sberyozkin commented on #6740
@zeljkot Thanks. Unfortunately the log content was lost as part of [this PR](https://github.com/smallrye/smallrye-jwt/commit/52fb7d4b8f4d85f3b2d7cea5a8e897cfb7f4bc22#diff-5f4020e440d6d2dd7b7ff27fbe83dd25).
Can you please try to see what is being logged [here](https://github.com/quarkusio/quarkus/blob/1.1.1.Final/extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/MpJ

[2020-01-23 11:17] TheVidAllMayThe opened #6742 "When using kotlin with mongo panache, the deserializer fails unless all the constructor parameters are declared as nullable or have a default value"
The title is pretty much self explanatory. When using a kotlin class that extends PanacheMongoEntity unless the fields are declared as nullable or have default values the deserialization when doing any find operation (e.g. listAll()) fails with the following error:
[code]

Sample failing class:
[code]

Sample working class:
[code]
or:
[code]

[2020-01-23 11:18] gsmet commented on #6742
Thanks for the report! Could you create a small reproducer?

[2020-01-23 11:18] gsmet commented on #6742
/cc @loicmathieu

[2020-01-23 11:25] geoand commented on #6742
Like @gsmet says, a reproducer will go a long way to fix this. I am pretty sure I know what this is all about, but I would like to have a reproducer to make sure

[2020-01-23 11:27] geoand commented on #6736
Yeah, the idea is to have `additional` images with this, not as a replacement to anything else.

[2020-01-23 11:28] geoand commented on #6738
cc @asoldano

[2020-01-23 11:45] maxandersen commented on #305
@sebastienblanc now you got a blog out on it could you be up for updating the quarkus kubernetes guide ?

[2020-01-23 11:51] maxandersen opened #6745 "Support Kubernetes ConfigMap and Secrets as configuration/value sources"
**Description**
Is https://github.com/quarkusio/quarkus/issues/305#issuecomment-516830160 about mapping config map to a "magic destination" what we expect users to do for kubernetes deployments ?

Would it be better that quarkus-kubernetes extension or maybe a separate quarkus-kubernetes-config extension would have a configuration source that could be added in with a fairly high precedence order b

[2020-01-23 11:52] TheVidAllMayThe commented on #6742
Turns out that declaring the fields as nullables is not enough, they have to have a mandatory default value (for nullable fields should be null). I'm attaching a small example. It has three endpoints:

localhost:8080/test-fail
localhost:8080/test-work1
localhost:8080/test-work2

[kotlin-mongo-error.zip](https://github.com/quarkusio/quarkus/files/4102911/kotlin-mongo-error.zip)

[2020-01-23 11:52] zeljkot commented on #6740
With file.based token `-Dmp.jwt.verify.publickey.location=classpath:META-INF/certificate.json` i get

[code]

[2020-01-23 11:54] sebastienblanc commented on #305
@maxandersen I can but what is the good approach / best practice approach ? The on is describe in my blogpost or mounting the configMap as a file as described here https://github.com/quarkusio/quarkus/issues/305#issuecomment-516830160 ?

[2020-01-23 11:56] zeljkot commented on #6740
With HTTP `mp.jwt.verify.publickey=http://keycloak:8080/auth/realms/1/protocol/openid-connect/certs` I get

[code]

[2020-01-23 11:57] stuartwdouglas commented on #5809
In this example the request is ended because it is a GET request so there is no body.

[2020-01-23 12:08] stuartwdouglas commented on #5809
@aaronanderson can you provide a reproducer?

[2020-01-23 12:10] maxandersen commented on #6736
then I got no problem - waste MB's and cpu time away to speed up the demos :)

[2020-01-23 12:17] maxandersen commented on #305
Yeah that’s the question - I started #6745 to get *the* solution and a corresponding maili thread on the quarkus group - but until then I think it would be good to get the approaches documented. lets see what the mail thread reveals or if @dmlloyd can confirm or deny the approach described  [#305 (comment)](https://github.com/quarkusio/quarkus/issues/305#issuecomment-516830160)

As functionally th

[2020-01-23 12:21] geoand commented on #6742
OK, this isn't what I thought (I thought the problem was in native mode).
So I'll leave it to @loicmathieu but feel free to ping me if you want me to investigate

[2020-01-23 12:25] maxandersen commented on #6745
approaches being discussed for this at https://github.com/smallrye/smallrye-config/issues/215

[2020-01-23 12:56] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 860ae3adcff003c114ffd67b1a1ee7a854b2dd9d

* Quickstarts commit: 977da1a210701469ef6e714311d6aa7b58efd448

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-23 13:06] sberyozkin commented on #6740
Hi @zeljkot thanks, what is `certificate.json`, is it a 'base64-encoded' JWK key ? The only thing that have changed in `KeyLocationResolver` related to it is that an extra Base64-URL decoding try is added which was not even there in 2.0,10.
https://github.com/smallrye/smallrye-jwt/blob/2.0.12/implementation/src/main/java/io/smallrye/jwt/auth/principal/KeyLocationResolver.java

Can you please post

[2020-01-23 13:09] sberyozkin commented on #6740
@zeljkot Also, FYI, `publickey` can not point to a URL based location, it should be a PEM or JWK or JWK set, try `publickey.location`

[2020-01-23 13:15] rsvoboda commented on #6722
Something for you @mkouba ?

[2020-01-23 13:18] sberyozkin commented on #6739
Hi @lordofthejars looks like you need to set [this property](https://github.com/quarkusio/quarkus/blob/master/extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultRuntimeConfig.java#L149), can you try please ?

[2020-01-23 13:30] sberyozkin commented on #6740
@zeljkot Another question, have you changed to a different a Keycloak version recently ?

[2020-01-23 13:34] zeljkot commented on #6740
In the first example with file, I used publickey.location:
`mp.jwt.verify.publickey.location=classpath:META-INF/certificate.json`

In the second example, with URL, I used just the publickey:
`mp.jwt.verify.publickey=http://keycloak:8080/auth/realms/1/protocol/openid-connect/certs`

Keycloak version is baked-in in docker-compose; not the latest one, but the one required by the customer:
[code]

In

[2020-01-23 13:37] gastaldi commented on #6745
From the mailing list, it would be nice to have a configuration source that

a) use token at /var/run/secrets/kubernetes.io/serviceaccount/token
b) use namespace from /var/run/secrets/kubernetes.io/serviceaccount/namespace
c) read all config-maps by default, possibly use labels to filter them.

[2020-01-23 13:54] sberyozkin commented on #6740
@zeljkot sure, so somehow we need to identify the problem. The smallrye-jwt tests in Quarkus (extension specific) and MP JWT TCK tests are passing.
As I said, either paste a public certificate here if it is not a sensitive info  and I will check it or otherwise please put a breakpoint in that resolver code and check locally what exactly is happening.

[2020-01-23 14:24] mkouba commented on #6722
@TheVidAllMayThe I'm sorry but I don't see a constructor injection in your sample? For me the `gradlew clean test` fails with `com.mongodb.MongoTimeoutException at SamplePojoTest.java:16`.

[2020-01-23 14:28] geoand commented on #6745
This solution when implemented which be about much more than Kubernetes ConfigMaps. It will just make ConfigMaps retrieval very easy

[2020-01-23 14:30] TheVidAllMayThe commented on #6722
I did a field injection on SamplePojoRepository in SamplePojoService.java, but if it's changed to a constructor injection it fails. Its failing because a mongo instance should be running in localhost:27017, but I will add a mongo testcontainer so you don't have to run it localy

[2020-01-23 14:33] kenfinnigan commented on #6745
If this results in not actually needing a `ConfigSource` that reads Kube ConfigMap, or reads anything else, that's fine, we just need to know so we don't expend effort in SmallRye if it isn't needed.

@radcortez, do you have any thoughts on this?

[2020-01-23 14:40] TheVidAllMayThe commented on #6722
A mongo container should start now when you run  `./gradlew test`, so you won't get the mongo timeout. I've switched to constructor injection in SamplePojoService.java and the test fails with the exception I mentioned originally

[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/4103600/code-with-quarkus.zip)

[2020-01-23 14:45] zeljkot commented on #6740
In the end, it was misconfiguration from my side and confusing error messages from MP JWT side. Even now when I make everything work I get
[code]

I could not find it without a debugger. I understand that security frameworks are intentionally silent about problems, I just wish there is an easier way to find the issue.

What puzzles me most is that everything worked when I reverted to 1.1.

On the

[2020-01-23 14:45] #6740 closed

[2020-01-23 14:52] sberyozkin commented on #6740
Hi @zeljkot thanks a million, yeah, it was a bit tricky :-). It just logs there the options it tries, but it needs to be made less confusing, will open an issue in smallrye-jwt

[2020-01-23 14:54] radcortez commented on #6745
The discussion around smallrye/smallrye-config#215 is more related to Quarkus than SmallRye. I believe we don't need anything in SmallRye to support what Quarkus is doing, but please let us know if we are missing something.

[2020-01-23 14:55] lordofthejars commented on #6739
Ok it worked, thank you very much, my question now is: if default Vault  KV version is V2, why in Quarkus extension is v1?

[2020-01-23 14:56] gsmet opened #6746 "Tika extension doesn't like the new class loading"
@machi1990 stumbled upon an issue while working on improving a test: `java.lang.ClassCastException: io.quarkus.tika.runtime.TikaParserParameter cannot be cast to io.quarkus.tika.runtime.TikaParserParameter`.

The gist of it is that there is a class loader issue in `TikaProcessor`.

I think the issue is that ``TikaParserParameter``s are created during the deployment and pushed to `TikaParsersConfig

[2020-01-23 14:59] sberyozkin opened #6747 "OIDC confidential clients can not authenticate with form params with Vertx 3.8.5"
**Describe the bug**
A quarkus user works with the OIDC server which only accepts the form based authentication info during the token acquisition request.

**Expected behavior**
Setting `Oauth2ClientOptions.useBasicAuthorizationHeader` to `false` should result in the client id and secret posted as the form parameters,

**Actual behavior**
`Oauth2ClientOptions.isUseBasicAuthorizationHeader` is igno

[2020-01-23 15:09] sberyozkin commented on #6740
@zeljkot FYI, https://github.com/smallrye/smallrye-jwt/issues/173

[2020-01-23 15:12] zeljkot commented on #6740
I subscribed immediately :)

[2020-01-23 15:15] sberyozkin commented on #6739
@lordofthejars great, thanks for a check. I don't know, sorry. But I agree the default one should be used. Perhaps we can switch it for `1.3.0` ? Please create a PR and CC Vincent as well. We can mention it in the release notes for 1.3.0

[2020-01-23 15:23] sberyozkin commented on #6746
Hi @gsmet @machi1990 thanks a mill for identifying the problem, will look at the PR and learn :-)

[2020-01-23 15:29] mkouba commented on #6722
Hm, so a no-args constructor should be generated for an application scoped bean class that does not extend any other class, see https://quarkus.io/guides/cdi-reference#simplified-constructor-injection for more information. Obviously it does not work  in Gradle, but it seems to work in Maven. Unfortunately, I'm no gradle expert. @gastaldi do you have an idea what's going on?

A workaround (that is

[2020-01-23 15:44] aloubyansky commented on #4108
This is actually a duplicate of #3321, iiuc.

[2020-01-23 15:44] #4108 closed

[2020-01-23 15:45] TheVidAllMayThe commented on #6722
@mkouba Thank you, I can confirm that the workaround works! It also works with kotlin

[2020-01-23 15:55] sberyozkin commented on #6747
Note I don't really know if it is a regression for Quarkus or not. Before Vertx 3.8.5, the client authentication details were duplicated with `BasicAuth` and form params. It worked for all but some stricter OIDC servers (Microsoft ADFS, Okta) but I don't know if others for which it worked were depending on the basic auth or form params.

[2020-01-23 16:28] elamotte7 commented on #6105
I saw the new quarkus release this morning, but this issue is not embedded in the 1.2.0.Final.
Can you please give me some visibility on the resolution of this problem?
It's a very annoying point because with this flaw, my apis won't be safe anymore.
And we are stil using an old quakus version, 0.19.0 ...

[2020-01-23 16:29] vsevel commented on #6739
when working with kv v2, [kv-secret-engine-version](https://quarkus.io/guides/vault#quarkus-vault_quarkus.vault.kv-secret-engine-version) needs to be `2` (1 by default)

@lordofthejars I defaulted to v1 in the config because when you enable the kv secret engine with no params, you end up with a v1 kv secret engine.

for instance try this on an unsealed vault:
[code]
you should get:
[code]
now let'

[2020-01-23 16:34] josejulio commented on #6664
Thanks. is more than a nitpick i think, and will explain below my use case.

At the begining of my request, i run a process to extract some query params to build the Pager, as of now I have to use `null` if no param is specified.
But at a later point I filter the invalid columns and directly try to iterate the columns, and have to validate if is `null`.

The idea was that it could be easier to jus

[2020-01-23 16:52] FroMage commented on #6664
I think initially I thought that I saw no point in being picky about users writing `Sort.by()` and just go along with it, but forgot to support that later on when we generate the SQL. So I'm torn between being picky in `Sort.by()` or relaxed about it and allow it properly even though it doesn't scream "no sort" to me.

I guess even though there's not much use to supporting `Sort.by()` it doesn't h

[2020-01-23 16:55] josejulio commented on #6664
I'll do, thanks!

[2020-01-23 17:00] sberyozkin commented on #6739
Hi @vsevel - thanks for the informative feedback. Perhaps then a doc clarification can help, Alex @lordofthejars, would that work for you ?

[2020-01-23 17:12] gsmet commented on #6739
If v2 is the currently supported version (and not something experimental), my inclination would be to use v2, even if it requires some specific parameters.

[2020-01-23 17:19] famod commented on #5675
Same here (with `graalvm-ce-java11-19.3.1`):
[code]
[code]
Git Bash (for Windows)

[2020-01-23 17:26] aneveux opened #6751 "Kotlin Unit Tests suceed with Maven but fail in IntelliJ"
**Describe the bug**

:wave: Hello!

I've got a freshly created Quarkus project with nothing in it but the result of the project creation.
I'm following the [Getting Started](https://quarkus.io/guides/getting-started) guide, except that I created my project with Kotlin instead of Java.
Running the default generated test with mvn using `mvn test` works fine:

[code]

But when trying to run the exac

[2020-01-23 18:55] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 860ae3adcff003c114ffd67b1a1ee7a854b2dd9d

* Quickstarts commit: 32bd9d6b20e4f4306815983c09df61757628b416

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-23 20:47] vsevel commented on #6739
to summarize, right now we have:

 - `vault secrets enable kv`
   - version = 1
   - mount path = kv
 - dev mode
   - version = 2
   - mount path = secret
 - quarkus defaults
   - version = 1
   - mount path = secret

so we are talking about:
 - quarkus defaults
   - version = **2**
   - mount path = secret or kv? => I suggest keeping `secret` because that is what the examples are all showing in t

[2020-01-23 22:20] bcluap opened #6754 "Incorrect resources included in UberJar with multiple dependencies"
**Describe the bug**
If you have a pom which pulls in multiple jars (each has some rest services) as well as the Quarkus features, and each individual jar has a src/main/resources/application.properties, then the application.properties from the first dependency is put in the uberjar instead of one on the uberjar project itself

**Expected behavior**
The uberjar projects src/main/resources/applicat

[2020-01-23 22:28] rsvoboda commented on #6479
@manovotn did you apply any workaround or you just avoided this for DevConf 2020 workshop ?

[2020-01-23 22:43] rsvoboda commented on #770
@FroMage is this fixed by the big CL change commit ?

[2020-01-23 22:45] rsvoboda commented on #3046
@cescoffier can it be closed ?

[2020-01-23 23:09] rsvoboda commented on #1394
I tried to update rest-assured to 4.2.0 with @Sanne's fix but I receive `Found Banned Dependency: jakarta.xml.bind:jakarta.xml.bind-api:jar:2.3.2`

https://github.com/quarkusio/quarkus/blob/master/build-parent/pom.xml#L222

Jakarta APIs still on hold ?

[2020-01-24 00:18] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 2d2124653d5115f85fc072ef6b5a55756039c940

* Quickstarts commit: 3d3ca5cd7034348a8b433a5aab7ae0fb81807bb5

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-24 02:11] sciack commented on #6631
Attached screenshot from Firefox (with Version) and Chrome (version 79)
<img width="1920" alt="Screenshot 2020-01-24 at 10 09 15" src="https://user-images.githubusercontent.com/1496853/73039648-d43a6c00-3e91-11ea-9ac5-5be1113940e3.png">
<img width="1918" alt="Screenshot 2020-01-24 at 10 10 06" src="https://user-images.githubusercontent.com/1496853/73039651-d6042f80-3e91-11ea-88ec-1b4f698aac86.png"

[2020-01-24 03:49] mathianasj opened #6757 "Tinyint Failure with Byte"
**Describe the bug**
I have a hibernate entity that is mapped to a tiny int field, but when I try to set the field I get

java.lang.NoSuchMethodError $$_hibernate_write_identifierTypeId(B)V

**Expected behavior**
The value is set based on the input

**Actual behavior**
java.lang.NoSuchMethodError $$_hibernate_write_identifierTypeId(B)V

**To Reproduce**
Steps to reproduce the behavior:
1. Set a va

[2020-01-24 04:44] sherl0cks commented on #6618
@stuartwdouglas bump. I'm confirmed that this issue remains, and a workaround is to have the test bean with CDI annotations in `src/main` instead `src/text`. What can I do to test the change you have proposed on classloading?

[2020-01-24 04:52] stuartwdouglas commented on #6618
Change the Quarkus version to 999-SNAPSHOT. If you are using the quarkus-universe-bom you also need to change it to quarkus-bom

[2020-01-24 05:29] patoessy commented on #5341
Congratulations for this, and helping smallrye's contributors implement this feature. I want to update the guides on JWT please someone give me direction.

[2020-01-24 07:38] schulzp commented on #5809
Thanks @stuartwdouglas, technically that shouldn't make a difference since vert.x does not prevent you from sending a body. I updated my MWE to use POST, however, and *the error remains.* Originally I tried the same as @aaronanderson: using graphql via graphql-java based on vert.x + quarkus basic auth.

[2020-01-24 09:03] loicmathieu commented on #6742
@TheVidAllMayThe Kotlin data classes didn't have a default empty constructor, maybe this is where the issue comes from.

Can you try to add `@BsonCreator` to the Kotlin dataclass declaration to tell MongoDB to use the generated constructor ?
https://mongodb.github.io/mongo-java-driver/3.12/bson/pojos/#annotations

I didn't find a lot of documentation about MongoDB and Kotlin, maybe we will need so

[2020-01-24 09:26] TheVidAllMayThe commented on #6742
@loicmathieu It didn't work.

[code]
fails with:

[code]

and

[code]

fails with:
[code]

[2020-01-24 09:28] TheVidAllMayThe commented on #6742
And btw, I can confirm that the same issue happens with regular classes

[2020-01-24 09:32] canidae opened #6759 "[Solved in 1.3.0] Quarkus Scheduler doesn't log RuntimeExceptions"
**Describe the bug**
Quarkus Scheduler doesn't log RuntimeExceptions.

**Expected behavior**
RuntimeException logged.

**Actual behavior**
RuntimeException is not logged.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Quarkus project with extension "quarkus-scheduler".
2. Create a task that throws a RuntimeException, for example:
[code]
3. mvn quarkus:dev
4. Observe that exception is

[2020-01-24 09:32] Postremus opened #6760 "Resteasy standalone directory redirect missing"
**Describe the bug**
I do not get redirected from "localhost:8080/sub" to "localhost:8080/sub/" when I use resteasy standalone.
The sub folder is a static directory inside my "META-INF/resources/" directory.

**Expected behavior**
When I used quarkus-undertow, I did get redirected automaticly to "sub/". This allowed my css to get applied.

**Actual behavior**
With resteasy standalone, I do not get

[2020-01-24 09:36] loicmathieu commented on #6742
@TheVidAllMayThe the issue is with the MongoDB PojoCodec that we are using and Kotlin classes / dataclasses.

Maybe you can ask for help on the MongoDB community. It shold be reproducible without Quarkus ...

Meanwhile, you can create a codec for this class, we will automatically register it : https://quarkus.io/guides/mongodb#simplifying-mongodb-client-usage-using-bson-codec

I agree we need to d

[2020-01-24 09:39] geoand commented on #6742
I would also have to investigate to see what might be going on since I don't have any ideas off hand.

But same for me, I won't have enough spare time soon...

[2020-01-24 09:49] loicmathieu opened #6761 "QuarkusFaultToleranceOperationProvider should cache the FaultToleranceOperation"
**Description**
`QuarkusFaultToleranceOperationProvider` re-creates a new `FaultToleranceOperation` object for each request.

CPU profiling shows that creating such object can uses a significant amount of CPU, see here for details: https://groups.google.com/d/msg/quarkus-dev/2jFpwMt4QaI/edUfNagDCgAJ

Smallrye-fault-tolerance provides a CDI extension that caches the `FaultToleranceOperation` but Qu

[2020-01-24 09:58] sberyozkin commented on #6739
@vsevel thanks, makes sense IMHO

[2020-01-24 10:01] gsmet commented on #1394
I already merged the upgrade here: https://github.com/quarkusio/quarkus/pull/6704 .

The situation is a bit more complex than that because RESTEasy is using repackaged Jakarta artifacts for JAXB and JAX-RS APIs (the usual JBoss ones). For now, we decided to use that ones to avoid complexity for the users, at least until RESTEasy migrates to vanilla Jakarta artifacts.

[2020-01-24 10:07] mmusgrov commented on #4400
I am closing this issue since it is incorporated by #4399

[2020-01-24 10:45] svilenvul commented on #6612
I am getting similar exception in version 1.2.0.Final

The code that I am using is:

[code]

and the stacktrace is:

[code]

I have the feeling that there is a race condition between the registration of this bean and the https://github.com/quarkusio/quarkus/blob/47e5552eb7b914bb394ee11b700bc8ee54636660/extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java

[2020-01-24 10:53] svilenvul commented on #6612
@gastaldi , can we reopen this issue or I should create new one?

[2020-01-24 10:55] mkouba commented on #6612
Pls create a new one. I think that the problem is that `init(@Observes Router router)` is probably called before the `VertxCoreProducer` is initialized.

[2020-01-24 11:00] svilenvul commented on #6612
okay I will do so

[2020-01-24 11:11] svilenvul opened #6764 "Injected Vertx may be null if the bean also declares @Observes Router"
**Describe the bug**

We are trying to use the Vert.x extension and inject a Vert.x instance into our app.
Sometimes during application initialization we get a NPE, causing Quarkus start to fail.

**Expected behavior**
Quarkus starts every single time.

**Actual behavior**
Stacktrace:

[code]

**To Reproduce**

Run this example several times.

[code]

**Environment (please complete the following i

[2020-01-24 11:31] mkouba commented on #6764
That's probably another regression related to the problem of "two `Vertx` instances".

`io.quarkus.vertx.http.deployment.VertxHttpProcessor.finalizeRouter()` should be run after the `VertxCoreProducer` is initialized. However, currently it only depends on `InternalWebVertxBuildItem` and not the `CoreVertxBuildItem`. TBH I'm quite confused and it is not clear to me whether it should depend on `Core

[2020-01-24 11:54] rsvoboda commented on #6622
Everything works for me as expected, I don't see the behavior you are describing here.
I used quarkus generated app and tried various options.

[my-quarkus-project.zip](https://github.com/quarkusio/quarkus/files/4108228/my-quarkus-project.zip)
I tried 1.1.1.Final and also 1.2.0.Final and both are working well

[code]

One thing to check is that you log your messages using `org.jboss.logging.Logger

[2020-01-24 12:03] rsvoboda opened #6766 "System.out.println entries are not captured in quarkus.log"
`System.out.println` entries are not captured in quarkus.log
Only entries from `org.jboss.logging.Logger` are captured in quarkus.log

I checked https://quarkus.io/guides/logging but didn't find any info about `System.out.println` entries not beeing captured.

Reproducer:
build and run [my-quarkus-project.zip](https://github.com/quarkusio/quarkus/files/4108276/my-quarkus-project.zip)
[code]

In th

[2020-01-24 12:17] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 2d2124653d5115f85fc072ef6b5a55756039c940

* Quickstarts commit: 525c8efa693b7ff61e4ae23f7df3ee0a4605e93a

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-24 12:29] gsmet commented on #6766
Why would they be? `System.out` writes to the standard output not to a log file.

I don't think that it's a bug, it's expected.

[2020-01-24 12:53] loicmathieu commented on #6761
@Ladicek just see that inside `io.quarkus.smallrye.faulttolerance.runtime.SmallryeFaultToleranceRecorder` we build a `FaultToleranceOperation` for each possible bean methods (sound not very performant) and validate it if it is legitimate : https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-fault-tolerance/runtime/src/main/java/io/quarkus/smallrye/faulttolerance/runtime/SmallryeFa

[2020-01-24 12:53] michalszynkiewicz opened #6767 "Hibernate-orm depends on caffeine but hibernate-orm-deployment does not depend on caffeine-deployment"
Hibernate-orm depends on caffeine but hibernate-orm-deployment does not depend on caffeine-deployment

[2020-01-24 13:02] tpenakov commented on #6549
Hi @sberyozkin ,
After `git rebase` from master I've started to receive this exception (below). Registering the service provider `javax.xml.transform.TransformerFactory` and also registering for reflection : `org.apache.xalan.processor.TransformerFactoryImpl` and `com.sun.org.apache.xalan.internal.xsltc.trax.TransformerFactoryImpl` together with properties files: `org/apache/xalan/internal/res/XSL

[2020-01-24 13:18] sberyozkin commented on #6596
@evanshortiss thanks for trying it out. Not sure what you mean about it not being implemented, `web-app` is supported. May be there is some type/extra space in that configuration.
But in any case, do you agree that this issue can be considered a duplicate of #5485 ? May be you can comment with your example there.
Yes, I know there is some concern that enabling the security OOB can affect too many

[2020-01-24 13:27] gsmet commented on #6767
@michalszynkiewicz do you plan to fix it or should I?

[2020-01-24 13:30] Ladicek commented on #6761
@loicmathieu I don't really understand, but what you say sounds legitimate :-) CC @michalszynkiewicz @mkouba

[2020-01-24 13:31] michalszynkiewicz commented on #6767
I'll fix it, asked first on zulip if that's a real issue ;) I'll have a PR in a few minutes

[2020-01-24 13:42] mathianasj commented on #6757
I did not realize I was missing the @Entity annotation, this can be ignored.

[2020-01-24 13:42] #6757 closed

[2020-01-24 13:43] gsmet commented on #6767
Cool, thanks!

[2020-01-24 14:05] mkouba commented on #6761
1. Yes, I think that we should make `QuarkusFaultToleranceOperationProvider` a `@Singleton` and place the cache there and fill the cache from `io.quarkus.smallrye.faulttolerance.runtime.SmallryeFaultToleranceRecorder.validate()`.
2. However, this wouldn't help in case of Rest Client interfaces - those are not beans. And so we would have to modify `SmallRyeFaultToleranceProcessor.validateFaultToler

[2020-01-24 14:10] michalszynkiewicz commented on #6761
Please remember to change method names from `validate` to sth else in such case :)

[2020-01-24 14:11] michalszynkiewicz commented on #6761
otherwise it sounds good to me

[2020-01-24 14:11] rsvoboda commented on #6766
I picked bug type as it looks like a regression to me.
I comparw this behavior with WildFly / EAP which tunnels stout through jboss-logging.

On WF I see `2020-01-24 15:03:41,570 INFO  [stdout] (default task-1)  foooooo` messages logged in server log file when the endpoint uses `System.out.println`.

This could be considered as enhancement for sure.
@dmlloyd, can you share an idea what would be ne

[2020-01-24 14:19] bcluap opened #6770 "Invalid WARNING: Closing open connection prior to commit"
**Describe the bug**
Logs are showing an invalid error when doing user local transaction management and committing a transaction. Does not happen in 1.2.0.CR1 but does on 999-SNAPSHOT
2020-01-24 16:09:46,216 WARN  [io.agr.pool] (executor-thread-27) Datasource '<default>': Closing open connection prior to commit

**Expected behavior**
This should not be logged

**Actual behavior**
Logs show:
2020-0

[2020-01-24 14:19] gsmet commented on #6766
Well, I don't see that as an enhancement personally but I'll let @dmlloyd decide.

[2020-01-24 14:21] loicmathieu commented on #6761
@mkouba I have a working prototype, still needs to check for the restclient operations, I can still create them lazily (like in my first implementation) and add them to the cache later.

I just discover that `validate` load all classes and methods via reflection to check the presence of the annotation.
Inside the main integration test it tooks 300ms! I work on a prototype to use Jandex at build ti

[2020-01-24 14:31] FroMage commented on #6764
It's possible. We'd have to try it after #5593 is fixed.

[2020-01-24 14:32] FroMage commented on #770
Yeah, at the very least it clarified how things work.

[2020-01-24 14:32] #770 closed

[2020-01-24 14:47] bcluap commented on #6770
I guess this is due to https://github.com/quarkusio/quarkus/pull/6702

[2020-01-24 14:48] mkouba commented on #6761
I don't think you can move the validation to the build phase because there is a comment that MP Config must be used to read some properties at runtime: https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java#L188

That's because we validate all beans. It should b

[2020-01-24 14:55] FroMage commented on #6190
Can you retry on the current master? We've had a lot of classloader changes merged in recently which fixed a lot of issues.

[2020-01-24 15:05] loicmathieu commented on #6761
It's still at runtime, I didn't move the validation phase I only limit it to the needed classes instead of scanning all bean classes.

I limit the classes to scan to those who are annotated at class or method level with one of the FT annotations, but I didn''t add a check to `BeanInfo.hasAroundInvokeInterceptors()==true`. Is it realy needeed ? What's it purpose ?

[2020-01-24 15:06] loicmathieu commented on #6761
@mkouba it should be easier to comment on the draft PR to see what I propose :)

[2020-01-24 15:09] FroMage commented on #1724
And there's a test for it, so let's close it.

[2020-01-24 15:09] #1724 closed

[2020-01-24 15:17] mkouba commented on #6761
So in theory a FT annotation could be declared on a class that is not a bean but (1) a false positive shouldn't be a problem, (2) your approach should handle the rest client interfaces as well. I'll add some comment to your PR. It looks good BTW ;-)

[2020-01-24 15:30] #5277 closed

[2020-01-24 15:30] #6087 closed

[2020-01-24 15:30] #6526 closed

[2020-01-24 15:30] #6603 closed

[2020-01-24 15:38] cescoffier commented on #6764
Didn't I fix this last Monday in #6698 ?

[2020-01-24 15:40] mkouba commented on #6764
@cescoffier that PR is just a bunch of tests ;-)

[2020-01-24 15:55] irenakezic commented on #4766
@btsibr I tried reproducing this but the Authorize dialog seems to work fine for me.
Could you share a exact project you use to reproduce this issue?
Did you add any open api annotations to your code or do you have an openapi.yaml to share?
Thanks!

[2020-01-24 16:10] rsvoboda commented on #1632
@mkouba close then ?

[2020-01-24 16:15] nicmarti opened #6774 "Qute documentation : a closing tag for 'body' is missing"
**Describe the bug**
(Describe the problem clearly and concisely.)

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help explain your problem.)

**Environmen

[2020-01-24 16:17] rsvoboda commented on #2107
@sberyozkin NPE is not ideal message to end user, is there any progress on this ?

[2020-01-24 16:19] rsvoboda commented on #2187
Quarkus has new FT implementation, is this issue still valid ?
@Ladicek / @michalszynkiewicz / @pavolloffay

[2020-01-24 16:19] sberyozkin commented on #5809
Related Zulip thread: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Vertx.3A.20java.2Elang.2EIllegalStateException.3A.20Request.20has.20alrea.2E.2E.2E

[2020-01-24 16:22] rsvoboda commented on #2628
@Sanne / @FroMage this seems stalled, any plans ?

[2020-01-24 16:24] rsvoboda commented on #2649
@emmanuelbernard should we keep this open?

[2020-01-24 16:27] rsvoboda commented on #2815
@Sanne any update on this ?

[2020-01-24 16:30] Sanne commented on #6767
Is it a problem? We infer the deployment artifacts from the runtime artifacts

[2020-01-24 16:32] Ladicek commented on #2187
One interesting thing that I noticed in the comments here: if `maxRetries = 2`, and all invocation fails, then the method will be executed 3 times: initial attempt and up to 2 retries. But the number of invocations should definitely be constant.

[2020-01-24 16:33] FroMage commented on #2628
Not sure if there's anything to do on ORM side, but for panache and multiple datasources, we already have an issue and it depends on ORM supporting multiple entity managers.

[2020-01-24 16:43] Sanne commented on #2628
It will take a while longer to support multiple PUs.
Some shorter term options which seem fine to me:

- Should we remove support for `persistence.xml` ?
- If not, should we at least validate that transaction management has been set to JTA (require it)?

[2020-01-24 16:57] Sanne commented on #2815
It's very complex but at last week's meeting we brainstormed this. I think I know now what we should do, but will need the time to explore further.

Described as:
 - https://hibernate.atlassian.net/browse/HHH-13826

[2020-01-24 17:06] sberyozkin commented on #5809
Reproducer from @tpenakov: https://github.com/tpenakov/keycloak-with-reactive-routes-error

[2020-01-24 17:09] FroMage commented on #6261
If we didn't have the bound on `find` (and its variants) we could do:

[code]

Which is not about projections, but already goes a long way.

[2020-01-24 17:10] FroMage commented on #6261
Actually perhaps even:

[code]

Since this is not ambiguous with queries.

[2020-01-24 17:33] jonathanvila commented on #6349
This was driving me crazy .... now I see I'm not alone.
Any progress on this @geoand ?

[2020-01-24 17:34] geoand commented on #6349
This should now be fixed in master. Can you give it a try?

[2020-01-24 17:51] gsmet commented on #6770
#6702 has been merged in master recently, it's not in 1.2.0.

[2020-01-24 17:54] rsvoboda commented on #3535
who should decide ?

[2020-01-24 17:56] jonathanvila commented on #6349
I've tried with 1.1.1.Final and happens the same @geoand

[2020-01-24 18:01] gsmet commented on #6349
@jonathanvila @geoand asked to try with master, not 1.1.1.Final. Even in 1.2, this issue isn't fixed.

Try with the latest snapshots `999-SNAPSHOT` published here: https://oss.sonatype.org/content/repositories/snapshots/io/quarkus/ .

Thanks.

[2020-01-24 18:05] jonathanvila commented on #6349
Yep, I know he said master.

What I would like is to "fix" this as a "regular" user..... and with a
stable release. So from your words I see this needs to wait until be
released.

So, I will move to a workaround and remain at 1.1.1

On Fri, Jan 24, 2020 at 7:01 PM Guillaume Smet <notifications@github.com>
wrote:

[2020-01-24 18:14] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 397af972463f5d604d6254a269f58d61191e6c1f

* Quickstarts commit: eab026325359a1054e44d1681e89d6d63365c571

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-24 18:41] #6562 closed

[2020-01-24 18:50] jonathanvila commented on #1724
I have followed @radcortez approach ( thank you very much ) but it only works ( I think ) with direct injections..... let me explain.

In those tests I have injected :
* a service, that has injected repositories
* 2 repositories

Wrapper approach seems to work with the repositories but not with the service's repositories.

`@QuarkusTest
public class ClinicServiceTests {

    @Inject
    ClinicServ

[2020-01-24 19:08] #6774 closed

[2020-01-24 19:11] tsfullman commented on #4767
Getting this same error again after upgrading to 1.2.0.Final. Also occurs on 1.2.0.CR1

Last time it worked was 1.1.1.Final

[2020-01-24 19:16] jonathanvila commented on #6349
No workaround possible :( I tried the indirect injection with wrappers, but is not possible apparently due to the kind of test.

[2020-01-24 19:25] #6664 closed

[2020-01-24 19:51] geoand commented on #4767
Would you be willing to try out master? It's highly likely that it's already fixed there

[2020-01-24 20:06] GregJohnStewart commented on #6209
Bump to this issue as well, I get this when trying to add an endpoint in a new class. Commenting out the new class resolves the issue.

[2020-01-24 20:12] michalszynkiewicz commented on #6767
It is for the things I do now ;)
I can work around it, but I have been told it's a good practice to reflect the runtime dependencies in deployment dependencies. That's why I created this PR

[2020-01-24 20:18] Sanne commented on #6767
Ok sure I don't disagree on fixing it. I was just curious to know if it was "showing" as an error

[2020-01-24 20:41] stefanorg commented on #6209
I think that this error message is misleading.
I suspect that the problem is on the return type of some of your jax-rs method. I had a GET method returning `Object`, after changing the return type to `Response` the problem's resolved. Double check your rest return types.

[2020-01-24 20:44] GregJohnStewart opened #6780 "OpenApi doesn't load request/response schema on endpoints when producing/consuming objects from external library"
**Describe the bug**
OpenApi doesn't load request/response schema on endpoints when producing/consuming objects from external library. In the generated yml, simply ignores that there is a body accepted/ returned.

Note that I am using Gradle to setup my build.

[code]

In this example of my code, the schemas of both `UserRegistrationRequest` and `UserregistrationResponse` were ignored when placed

[2020-01-24 21:02] GregJohnStewart commented on #6209
I would agree with this, I am finding that if you have the objects in a library, this issue appears (and you lose openApi schema..) see my issue #6780

[2020-01-24 21:14] patoessy opened #6781 "Lacking support for "smallrye.jwt.sign.key-location" smallrye jwt private key location support."
**JWT creation failing on Quarkus 1.2.0 using new smallrye jwt generation utility**
Smallrye added a new configuration property to load private key for encryption. But in quarkus, its not been loaded.

**Expected behavior**
Load the private key specified by smallrye.jwt.sign.key-location config and be able to generate a jwt token

**Actual behavior**
An exception is thrown: io.smallrye.jwt.build.J

[2020-01-24 22:13] #6767 closed

[2020-01-24 22:21] sberyozkin commented on #6781
@patoessy thanks for giving it a try. Quick note, `iat` claim is set to the current time by default so unless you need to set something different you can omit it. Same for the `typ` header (`JWT` is default).

Do you set this property in `application.properties` ? Hmm...In the smallrye-jwt tests I provide a test configuration source. Need to think...

[2020-01-24 22:26] gsmet commented on #6780
There's a good chance you need them to be indexed by Jandex.

See https://stackoverflow.com/a/55513723/5043585 .

[2020-01-24 22:32] sberyozkin commented on #6781
For now, if you omit a `signatureAlgorithm` setter then it will work for `innerSign()` as you will end up with the `none`-signed inner JWT

[2020-01-25 00:14] evanshortiss commented on #6596
@sberyozkin the error I got seems to be [here](https://github.com/quarkusio/quarkus/blob/master/extensions/keycloak-authorization/deployment/src/main/java/io/quarkus/keycloak/pep/deployment/KeycloakPolicyEnforcerBuildStep.java#L75). It looks like it explicitly doesn't support web app types?

I agree it's a duplicate 👍

[2020-01-25 00:16] evanshortiss commented on #5485
Agree with @sberyozkin suggestion here in "Step 2". If someone annotates a resorce with "Authenticated" but does not have "quarkus-keycloak-authorization" in the `pom.xml` it should fail? See my example in #6596

[2020-01-25 00:16] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: dbc03e1f2e8b214f17db9020b6574305c6200aef

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-25 00:41] jessegduke opened #6783 "OpenID Connect Extension with PingFederate"
**Describe the bug**
Apologies if this is not a bug....
Working with OpenID Connect Extension to protect a Web Application (with Qute Template framework).
When configured for Ping Federate OpenID and trying to access a secured resource, I am getting a Status Code: `401 Unauthorized` response from Auth provider.

**Expected behavior**
Status Code: `200` from Identity Provider and able to access sec

[2020-01-25 01:04] GregJohnStewart commented on #6780
Happen to know how to accomplish the indexing with Gradle? I have researched this issue fairly heavily in the past but haven't been able to find a solution.

[2020-01-25 03:51] patoessy commented on #6781
I needed to give everything a 1st time try

On Sat, Jan 25, 2020, 01:21 sberyozkin <notifications@github.com> wrote:

[2020-01-25 05:07] cescoffier commented on #6717
Build fixed with:

* Quarkus commit: dbc03e1f2e8b214f17db9020b6574305c6200aef

* Link to build: https://github.com/quarkusio/quarkus/actions

[2020-01-25 05:16] sherl0cks opened #6785 "--initialize-at-build-time appears to be ignored | AWS XRay SDK"
**Describe the bug**
I'm trying to get the AWS XRay SDK working using [Manual Instrumentation from this doc](https://aws.amazon.com/blogs/developer/x-ray-support-for-the-aws-sdk-for-java-v2/). When doing so, I get an error during `mvn clean install -Dnative -Dquarkus.native.container-build=true
`:
[code]

Setting `--initialize-at-build-time=com.amazonaws.xray` in `quarkus.native.additional-build-a

[2020-01-25 06:06] aaronanderson commented on #5809
Here is my reproducer as well https://github.com/aaronanderson/quarkus-oidc-graphql

[2020-01-25 06:16] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: dbc03e1f2e8b214f17db9020b6574305c6200aef

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-25 07:43] patoessy commented on #6781
Make it uniform by prefixing with quarkus-  something like: [quarkus-smallrye.jwt.sign.key-location]=META-INF/resources/privateKey.pem
I'm novice but in near future I'd provide pull requests. Thanks

[2020-01-25 08:21] jonathanvila commented on #6349
@gsmet Tried with sonatype repo and I have errors on downloading artifacts :

[code]
Now I will try to clone quarkus and build it locally

[2020-01-25 08:54] sberyozkin commented on #6781
@patoessy thanks, but these are the properties which are meant to be recognized outside of Quarkus.

[2020-01-25 08:57] sberyozkin commented on #6783
@jessegduke Hi, thanks for this report, this issue has been fixed in the Quarkus master, if you can find the time and confirm it then it would be good, please get the source and rebuild it locally and retry with the SNAPSHOT, thanks

[2020-01-25 09:40] SR-Lut3t1um opened #6786 "Can't compile project using Java 14"
I downloaded a new project using the "start-coding" option on the website. After updating gradle 6 -> 6.1.1 and switching the sdk form 11->14 gradle breaks. After going back to java 13 it work's again.

Exception:
[code]

**Configuration**
[code]

**Environment:**
------------------------------------------------------------
Gradle 6.1.1
------------------------------------------------------------

[2020-01-25 09:56] jessegduke commented on #6783
@sberyozkin Thanks for the quick response.  Yes, I will try and do that this weekend.

[2020-01-25 10:06] gunnarmorling commented on #6786
Here's another issue I ran into when trying to run on Java 14:

[code]

[2020-01-25 10:13] gunnarmorling commented on #6786
The ASM issue should be fixed by upgrading to ASM 7.2 which supports Java 14. Of course the same game will begin with Java 15...

[2020-01-25 12:20] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: e1fbff7aad4e9b5061afd7833d5975fb6895e690

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-25 13:55] tpenakov commented on #6549
@sberyozkin - I've managed to fix this one by adding the xalan dependency - may be not on the righnt place, but we can discuss this later :)

The next error now is:

[code]

[2020-01-25 14:12] jessegduke commented on #6783
Downloaded master this morning and built successfully on Mac (details above).  Updated applicaiton `pom.xml` to `999-SNAPSHOT` and `quarkus-bom` (from `quarkus-universe-bom`).   At this time, I am still seeing the same error `error_description":"The client MUST NOT use more than one authentication method in each request.","error":"invalid_client"`

I see a number of quarkus application-level 302 r

[2020-01-25 15:49] genehi commented on #6622
How can that be?  Your application.properties has nothing in it but:
# Configuration file
# key = value

I see you are setting using command line properties that “should not” make a difference.  Also, I am running in K8s, can that make a difference to quarkus.
And I am using jboss.logging.
And showing me a listing of the log files does not mean the content of the log files matches what is seen by

[2020-01-25 15:53] jonathanvila opened #6787 "Overriding Panache methods leads to duplicated method error"
**Describe the bug**
I have a class implementng a PanacheRepositoryBase<T, P>

[code]

Error received
[code]

**Expected behavior**
The overrided method should take place, having only one method, not 2.

**Actual behavior**
Apparently 2 methods go to the compiled artifact

**To Reproduce**
Steps to reproduce the behavior:
1. Create a class implementing PanacheRepositoryBase<T, M>
2. Override *find

[2020-01-25 16:27] jonathanvila commented on #6349
@gsmet @geoand
Tried with master with no luck :(

This is the repository & branch : https://github.com/jonathanvila/spring-petclinic-rest/tree/quarkus

This is the command to test : mvn clean test -Dtest=ClinicServiceTests

[2020-01-25 16:39] gsmet commented on #6785
By default, Quarkus initializes everything at build time and only selected classes at runtime.

The issue you have is because `com.amazonaws.xray.emitters.DefaultEmitter` is initialized at build time during the native image compilation and you end up with a file descriptor in the heap when the memory snapshot is taken.

What you want is to initialize this one at runtime.

[2020-01-25 16:44] gsmet commented on #6622
@genehi could you give us more details about your setup and maybe provide a reproducer with what you would expect and what you have?

We need to get to the bottom of that one.

Thanks!

[2020-01-25 17:05] geoand commented on #6349
@jonathanvila I tried it and got:

[code]

I didn't really look at the code but are you sure it's due to this issue? I didn't see anything in the output indicating it

[2020-01-25 18:16] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 8b6f185556355ae13487e5132d627fe06853d31c

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-25 18:31] geoand commented on #3954
Pinging myself (@geoand) just so I can get this to the top of my email list 😎

[2020-01-25 19:43] aelfric opened #6790 "Expose Configuration for Out-of-Order Flyway Migrations"
**Description**
By default, Flyway will run all migrations in version order and throw an error if a new migration is introduced with a number lower than the last applied migration.  There is a boolean configuration option to allow Flyway to run migrations out of order.

**Implementation ideas**
Would it be possible to expose this as a configuration property in `application.properties` similar to h

[2020-01-25 20:11] geoand commented on #3954
The only way I see me being able to debug this is building Jackson locally with a bunch of `println` statements since there is no easy way to debug in native and the stacktrace doesn't provide any useful info...

[2020-01-26 00:35] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 8b6f185556355ae13487e5132d627fe06853d31c

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-26 03:37] tpenakov commented on #6549
@sberyozkin - I've added `quarkus.native.additional-build-args=--report-unsupported-elements-at-runtime` to `integration-tests/tika/src/main/resources/application.properties`
IMO - the error from above comment is related to other issue, and now I am concentrated to fix the `OOXML` to work in native mode

[2020-01-26 04:24] jaikiran commented on #6785
Hello @sherl0cks,
I can understand why you used the `--initialize-at-build-time` - the error message says this:
[code]
Unfortunately, that error message (from Graal) has a typo. It should have said `--initialize-at-run-time`. That error message has been fixed upstream in Graal https://github.com/oracle/graal/pull/1854. I don't know if it made 19.3.x release of Graal or whether it will only be in 2

[2020-01-26 04:43] cescoffier commented on #6717
Unfortunately, the build failed:

* Quarkus commit: 8b6f185556355ae13487e5132d627fe06853d31c

* Link to build: https://github.com/quarkusio/quarkus/actions

[2020-01-26 06:16] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 8b6f185556355ae13487e5132d627fe06853d31c

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-26 09:18] jonathanvila commented on #6349
Yes

This is the test class :

[code]

I added 3 asserts before the real test code in order to see the value for the injections , and the service injected is not null, but the repository injected in it appears to be null

[2020-01-26 10:32] geoand commented on #3954
The issue seems to occur only when a (data) class has `val` properties some of which have default values and some of which do not.
In that case for native to work, all values need to specified in the json object otherwise it fails

[2020-01-26 12:17] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 35ba222abd6109b98725827fc5b9ffdf289b68f4

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-26 13:14] rsvoboda commented on #475
@cescoffier something to keep open or it's ok to close it ?

[2020-01-26 13:16] nimo23 opened #6796 "quarkus orchestration"
**Describe the extension**
Something like a "quarkus-orchestration-extension" (maybe with the help of jgroups) could make a bi-directional communication through TCP (with AMQP) or HTTP (with JAX-RS) in combination with MP Fault Tolerance/Health to provide high availability/failover: if one quarkus node fails, another quarkus node can be used as a replacement. It would also allow the controlling of

[2020-01-26 13:24] cescoffier commented on #475
Going to close it.

[2020-01-26 13:24] #475 closed

[2020-01-26 13:27] rsvoboda commented on #2765
`java.util.NoSuchElementException: Required property my.empty.property not found` is a bit confusing message.

Can SRye or Quarkus detect that the property is present, but empty ?

[2020-01-26 13:30] geoand commented on #6717
The build seems to have failed with an OOM exception when build the kubernetes client integration test in native. I'll keep an eye on it and see if it happens again

[2020-01-26 13:55] rsvoboda commented on #3781
@FreifeldRoyi I can't reproduce this issue, using
[code]
log looks like this:
[code]

[2020-01-26 13:58] rsvoboda commented on #3781
For live coding mode I see just:
[code]
No mention about javax.ws.rs.core.Response in the logs

[2020-01-26 14:15] rsvoboda commented on #3856
I tried rest-json-quickstart and applied following diff:
[code]

When running `mvn clean package` I can see

2020-01-26 15:05:07,014 WARN  [io.qua.res.com.dep.ResteasyCommonProcessor] (build-6) Quarkus detected the need of REST JSON support but you have not provided the necessary JSON extension for this. You can visit https://quarkus.io/guides/rest-json for more information on how to set one.

The

[2020-01-26 14:15] rsvoboda commented on #3856
Closing. If this is not sufficient please reopen.

[2020-01-26 14:15] #3856 closed

[2020-01-26 14:16] rsvoboda commented on #3947
@stuartwdouglas / @lordofthejars did you manage to find reproducer showing the issue to both of you ?

[2020-01-26 14:49] geoand commented on #3954
The issue comes down to the fact that the `kotlin.Metadata` annotation that the Kotlin compiler adds to the class (and which is used [here](https://github.com/FasterXML/jackson-module-kotlin/blob/jackson-module-kotlin-2.10.2/src/main/kotlin/com/fasterxml/jackson/module/kotlin/KotlinModule.kt) to determine whether a class is a Kotlin class) is not present in the native image.
This is of course begs

[2020-01-26 14:55] hartimcwildfly commented on #6606
I couldn't find a way to debug the native code application and the error message is very meaningless.
Do you guys know how to debug a GraalVM/Quarkus native application?

So I could continue on searching for the bug.
For me it seems like there is some C function call of GraalVM or a linked os library.
I will try to build a native image on/for Windows and see if the same error occurs. Then we maybe

[2020-01-26 15:50] sean-scott-lr commented on #820
@hpehl Hi Harald.

I am trying to get the grpc-client extension to compile in native mode.  Can you point me to some of the issues you have had and overcome and which remain?  Currently, my native image compilation is failing with this error:
[code]

[2020-01-26 16:23] hpehl commented on #820
Native compilation for the quarkus-grpc-client extension does not work atm. I haven't looked at this in much detail yet. As soon I have time, I'll try to provide a fix though.

[2020-01-26 17:08] dmlloyd commented on #2765
There is no functional difference between empty and missing-without-default.  Perhaps a better message would be "Value not present for property x".

[2020-01-26 18:16] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 07a1cf62daa2bf40378a28e5871c79dd3d4146f2

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-26 18:43] sberyozkin commented on #6783
@jessegduke Thank you, we had an Okta user confirming the same issue was fixed for him. May be the old Qurakus is still loaded

[2020-01-26 18:49] sherl0cks commented on #6785
@jaikiran @gsmet Thanks, this is useful info. When I switch the package to initialize at runtime, I get the below. I cannot seem to find any docs on the subject. How do I handle this?
[code]

[2020-01-26 20:22] jessegduke commented on #6783
Possible.  To test that, I just removed my `~.m2/repository` and rebuilt both Quarkus MASTER and application and still experienced the same `HTTP/1.1 401` .   FWIW:  This is not critical for me, I just wanted to port an existing Spring Boot application that I use for demonstration purposes for the value of OCP, K8S, and microservice design.  No urgency on my part at all.  I just appreciate what I

[2020-01-26 21:39] sberyozkin commented on #6783
@jessegduke thanks, it is important indeed that Quarkus interoperates will all the certified OIDC servers, including Ping Identity,
My understanding all is happening here in Vertx:
https://github.com/vert-x3/vertx-auth/blob/e8634fe31ba0ef0c565b097d0cb5d9141a9cd4e5/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/flow/AbstractOAuth2Flow.java

Can you please try to put a breakpoint ther

[2020-01-26 21:57] famod commented on #4005
Sorry if being ignorant but is this going to be a server extension, a client extension or both?

[2020-01-26 22:15] marziman commented on #6764
@cescoffier hope you re fine! Could you please help us. This NPE blocks currently some of our services to run. Maybe you can double check, why your fix got lost. Many thanks.

[2020-01-26 22:25] sherl0cks commented on #6785
OK - looks like I can resolve the file by changing the `--initialize-at-run-time=com.amazonaws.xray.AWSXray` to the whole package `--initialize-at-run-time=com.amazonaws.xray`. This gets past the first issue, but now I have a commons logging issue. The solution discussed to exclude the transitives in https://quarkus.io/guides/dynamodb#configuring-dynamodb-clients does not seem to work. Thoughts?

[2020-01-26 23:13] stuartwdouglas commented on #6764
I think this line should have fixed it in master: https://github.com/quarkusio/quarkus/pull/6686/files#diff-5e1b09692896da198409c72e771d5760R118

[2020-01-26 23:31] stuartwdouglas commented on #3947
I was not able to reproduce locally.

[2020-01-27 00:16] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 07a1cf62daa2bf40378a28e5871c79dd3d4146f2

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-27 06:16] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 07a1cf62daa2bf40378a28e5871c79dd3d4146f2

* Quickstarts commit: 762a1fea80b331d2b633ce93c93ec082972f1754

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-01-27 06:32] cescoffier commented on #6764
@mkouba I was referring to this commit: https://github.com/quarkusio/quarkus/pull/6686/commits/2ffdb28d6ebe4c24dc7eb139ecfd055b32ec8659

[2020-01-27 06:45] cescoffier commented on #6747
@pmlopes @vietj any idea?

[2020-01-27 06:48] cescoffier commented on #6427
@FreifeldRoyi did you look at https://github.com/quarkusio/quarkus-quickstarts/blob/master/kafka-quickstart/src/test/java/org/acme/quarkus/sample/PriceResourceTest.java?

Also in the upcoming version of SmallRye reactive messaging, we provide an in-memory connector that simplifies these tests (and about using kafka broker)

[2020-01-27 06:49] cescoffier commented on #6404
@FreifeldRoyi Look at https://github.com/quarkusio/quarkus-quickstarts/blob/master/kafka-quickstart/src/test/java/org/acme/quarkus/sample/PriceResourceTest.java or https://github.com/quarkusio/quarkus-workshops/blob/master/quarkus-workshop-super-heroes/super-heroes/rest-fight/src/test/java/io/quarkus/workshop/superheroes/fight/FightResourceTest.java

[2020-01-27 06:50] cescoffier commented on #6321
@tsegismont can you have a look?

[2020-01-27 07:15] aaronanderson commented on #6783
For what it is worth I just built my application with 1.2.0.Final, added

[code]

to my pom.xml file, started Quarkus, accessed the application, I was redirected to Okta, and after successful authentication I was able to access my application.

[2020-01-27 07:20] lordofthejars commented on #3947
It happened to me during the demo I did in Red Hat Forum: https://github.com/lordofthejars/rp4rp/tree/master/reactive-pagination

[2020-01-27 07:47] rsvoboda commented on #2765
+1

[2020-01-27 08:18] dufoli commented on #4005
server extension

[2020-01-27 08:20] manovotn commented on #6479
@rsvoboda we avoided this

[2020-01-27 08:21] mkouba commented on #2187
I've just run the test 20x in a row with no failure. @pavolloffay is there anything special I should do to reproduce the issue?

[2020-01-27 08:22] mkouba commented on #1632
I'd rather keep this open but I'll change the labels.

[2020-01-27 08:40] mkouba commented on #6764
@stuartwdouglas and @cescoffier are right, this should be fixed in master (quarkus 1.3). @gsmet [this commit](https://github.com/quarkusio/quarkus/pull/6686/commits/2ffdb28d6ebe4c24dc7eb139ecfd055b32ec8659) should be probably backported to 1.2.

[2020-01-27 08:45] stefanorg commented on #2835
+1
we really need this

[2020-01-27 08:45] stefanorg commented on #5681
+1

[2020-01-27 08:57] pmlopes commented on #6747
The "old" behavior was a bug. The RFC states that servers should either accept the header or the form params. While the header is a required for all implementations, form is optional. The code was fixed to deprecate the flag and rely on the header when needed (client id + client secret) is provided.

This way we are spec compliant and work with the strict idp's such as "okta" and "adfs", yet the o

[2020-01-27 08:58] pmlopes commented on #6747
some extra info, the flag is now deprecated and ignored because the correct behavior is down extracted from the config. Meaning, if client id + client secret are provided then the header is used, otherwise the form version is used. So the flag is useless.

[2020-01-27 09:14] cmoulliard commented on #6736
Questions:
- What should be the parent image to be used to create this offline maven repo ? Red Hat UBI,  maven:3.6.2-jdk-8-slim, .... ?
- Do we want to adopt a common convention with the others Red Hat runtimes to specify the location of
 m2 repo within the image and how to use it with the command "maven ..." ?

[2020-01-27 09:32] mkouba commented on #3535
There was a discussion about unifying CDI and JAX-RS injection. See also https://groups.google.com/forum/#!msg/quarkus-dev/yuu1nhdgLJ8/6A03nGtmCAAJ.

I'm not quite sure. But (1) a workaround exists - use field injection, (2) if there is enough interest in the community we should raise the priority.

[2020-01-27 09:38] gsmet commented on #6785
Just exclude commons-logging and use https://search.maven.org/artifact/org.jboss.logging/commons-logging-jboss-logging/1.0.0.Final/jar instead.

[2020-01-27 09:38] svilenvul commented on #5809
I also have similar issue, but I don't have the Keycloak authentication enabled in Quarkus.  @sberyozkin pointed me here, I am not sure if I am in the correct thread. It is described here - https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Vertx.3A.20java.2Elang.2EIllegalStateException.3A.20Request.20has.20alrea.2E.2E.2E

[2020-01-27 09:40] aesteve commented on #6424
@gsmet now that @misl has created a proper reproducer, any chance you can tell us what we need to do to help? Thanks.

[2020-01-27 09:45] maxandersen opened #6799 "KUBERNETES_GROUP=wonka mvn package not taking effect if kubernetes.group set in application.properties"
while testing #5496  I noticed that `KUBERNETES_GROUP=wonka mvn package` doesn't win over `kubernetes.group=mything` in `application.properties`.

it should according to https://quarkus.io/guides/config#overriding-properties-at-runtime

[2020-01-27 09:47] cescoffier commented on #3046
We need to retry with the latest S2I:

* is the latest s2i accessible to anyone (without an account)
* is the maven version recent enough (I believe it is as it's 3.5)

[2020-01-27 09:49] iocanel commented on #6799
Just verified that myself. I will have a closer look.

[2020-01-27 10:09] pschyma opened #6800 "Java 11 Target, Hibernate and JaCoCo not working"
**Describe the bug**
Updating to Quarkus 1.2.0 in a project that uses Hibernate (Panache) and JaCoCo and setting the Java target version to 11 breaks the tests. It seems like the byte code augmentation is interfering.

**Expected behavior**
Tests are executed and a coverage report is created.

**Actual behavior**
The maven build is aborted with an error:
[code]

**To Reproduce**
Steps to reproduce

[2020-01-27 10:12] maxandersen commented on #6736
parent images - good question; I'm still battling getting any overview what the proper base images are so can't help there (yet).

if there are common conventions for it then sure - but I would assume maven repo would be in where default user in the image sees `~/.m2` to be simple ?

[2020-01-27 10:35] cmoulliard commented on #6736
We can adopt this convention.

**Remark** : This point should be discussed with OpenShift S2i Team (and also Runtimes) as a different path was defined for Java S2I image : https://github.com/fabric8io-images/s2i/blob/master/java/images/centos-java11/s2i/s2i-setup#L4

[2020-01-27 10:37] cmoulliard commented on #6736
As the layer added to contain the maven artefacts/gavs will not be supported as a product by Red Hat, then we could create such layer from the UBI image ...
**Remark** : To be also discussed with Runtimes ;-)

[2020-01-27 10:38] sberyozkin opened #6802 "OIDC goes into a redirect loop if a token request with a code grant fails"
**Describe the bug**
The users have reported that `quarkus-oidc` goes into a redirect loop if a token request with a code grant fails.

**Expected behavior**
`401` is returned.

**Actual behavior**
A user is redirected to OIDC server, authenticates, is returned back to with the `code`, Quarkus tries to acquire a token with this code, and if it fails, the user is redirected back again

[2020-01-27 10:41] loicmathieu commented on #6261
@FroMage if a query starts with `select` hibernate with Panache will use it as is so it will also needs to have a From clause ... same for your second example the current implementation will add a bad select clause.

Regarding the bound to find, if we didn't add one we will ends up using on of the two following construct for a basic typed usage (the same for your example, if you don't have a bound

[2020-01-27 10:42] sberyozkin commented on #6783
Hi @aaronanderson, thanks, I've opened #6802 to take care of the redirect loops. @jessegduke, FYI.

OK, then, I'm still keeping my fingers crossed that @jessegduke will eventually confirm that it works with Ping Identity too :-)