[2020-05-12 07:05] loicmathieu commented on #9210
@Serkan80 no, the purpose of this functionality will be to store the reference id and be able to retrieve the reference document.
So when you serialize a book, you will have the all author instead of its reference id.

[2020-05-12 07:40] tomekl007 commented on #7876
Thank you. I've verified that and the injection process is working in our cassandra-quarkus extension. Right now I have a problem with `EvenLoopGroup` closing too soon:
[code]
I will debug more but just to check:
- is the `EventLoopGroup` close delayed until all dependant beans are discarded from DI container?
- regarding converting both `EvenLoopGroup` beans to Singleton. Are you sure that it is

[2020-05-12 08:01] mkouba commented on #7876
I don't think so.

So the only difference should be that if someone injects the `EventLoopGroup` then the bean instance is created eagerly while for `@ApplicationScoped` a client proxy is injected and the bean instance is created lazily, ie. once a method is called by any "client".

Hm, interesting. I don't see a reason why a health check should cause a cycle....

[2020-05-12 08:04] tomekl007 commented on #7876
So that's a problem, isn't it? We need to assure that `EvenLoopGroups` are not closed until all dependant beans are closed. Otherwise, there could be a problem that dependant bean tries to use the `EvenLoopGroup` that was closed.

[2020-05-12 08:12] mkouba commented on #7876
Yep, but that's more a question for someone more experienced with Vertx. CC @cescoffier

[2020-05-12 08:25] #9227 closed

[2020-05-12 08:43] tomekl007 commented on #7876
If I only add this dependency:
[code]
I am getting the error with cycle.

[2020-05-12 08:46] Meemaw commented on #9232
I'm seeing something similar which looks like a same issue:

Reproducer:
[code]

If I build this into a docker image and run it it works:
[code]

[2020-05-12 08:50] #8893 closed

[2020-05-12 10:22] gytis commented on #9052
`PageRequest` and `Page` are not the same. `PageRequest` is a bean param which only stores request params. `Page` is a wrapper of an entity that the filter is looking for and uses to extract information for headers generation. Anyway, that's just a quick POC.

The question is whether we want the page headers and/or links to be generated and injected under the covers of should we provide a utility

[2020-05-12 10:22] sberyozkin commented on #9052
Hi @gytis @danielpetisme

IMHO just having a `page` concept alone is enough, the `size` can be configurable via a Quarkus property. The users do not enter manually from `1` to `20` queries, they see a page with a link to `/orders` etc :-), they click on the (collection) resource - and the application state it returns starts driving it further: this is page 1, this is the content of the page (for e

[2020-05-12 10:27] gytis commented on #9052
I think the page size could be an optional parameter with a default value configurable in an application config file. But it's not that important at the moment.

[2020-05-12 10:31] sberyozkin commented on #9052
@gytis

+1

So the user will prepare a Paging bean, right ? It will have the array with the N entries (the size is deduced from the injected configuration properties), plus 2 extra properties, next and prev page.

MessageBodyWriter or something else converts it to whatever is appropriate outside of the service code. Does it work ?

[2020-05-12 10:36] gytis commented on #9052
In my POC user prepares the `Page` object which has an entity, current page number and a number of total pages. Then a paging filter intercepts the response, creates the required headers with URLs and then forwards the original entity down the chain. The message body writer will get the actual entity, not the `Page` object.

[2020-05-12 10:38] mkouba commented on #7876
It's very likely a bug in the quarkus core (`@Consume` is processed incorrectly). I'll send a PR shortly.

[2020-05-12 10:44] danielpetisme commented on #9052
I was talking about the current Panache [`Page`](https://github.com/quarkusio/quarkus/blob/master/extensions/panache/panache-common/runtime/src/main/java/io/quarkus/panache/common/Page.java) vs a `PageRequest` containing the exact same info.
That's a super interesting  point. Panache Hibernate use the semantic `Page` to describe a page request (`Page.of(1.10)` for instance) but @gytis you use `Pag

[2020-05-12 10:46] gytis commented on #9052
We could provide some sort of mapping to Panache. But this JAX-RS pagination shouldn't be limited to Panache IMO

[2020-05-12 10:51] sberyozkin commented on #9052
+1 again :-) `Paged` (as Daniel suggests) or `Page` can be somewhere in the quarkus resteasy, Panache facing code will use, Hibernate facing code could use it, Kafka (?) facing code could use, etc, etc

[2020-05-12 10:52] danielpetisme commented on #9052
You mean being able to use pagination without Panache Hibernate ?
🤔 I already gave a though about this but JAX-RS is quite a old standard and nobody felt the need to provide a standard pagination system. If it's a generic approach why should it be hosted in the Quarkus repository ? Why not just contribute to resteasy for instance?

[2020-05-12 10:53] Serkan80 commented on #8531
what's the status of this issue ? Is someone working on it ?

[2020-05-12 11:07] gytis commented on #9052
I must have misunderstood the original intention then. From the issues description I've got an impression that it's a pagination feature for a generic JAX-RS resource.

For the extension that I've been working on we need paging only for Panache with Hibernate and Panache with Mongo. So I'm ok to limiting to that if there is no need for other data store types. But I think it might be useful feature

[2020-05-12 11:08] wgresshoff opened #9235 "Improve the documentation of @QuarkusTestResource and QuarkusTestResourceLifecycleManager"
There is pretty few discussion of @QuarkusTestResource and QuarkusTestResourceLifecycleManager in the docs.
I described a concrete usage scenario in https://groups.google.com/d/msg/quarkus-dev/YsmYuKqXkl8/isfUCD3sBwAJ (I don't want to mock the REST client but start a container with it).
The intention is not you present a solution for my problem but give some ideas what is possible.

[2020-05-12 11:15] loicmathieu commented on #9052
+1 the page can comes from reactive PR client for example.

So here, we need to be able to retrieve the page parameter (or range) then send back the link header. What is between is the responsibility of the user, we just need to be sure it is compatible with Panache.

If it's implemented only in panache-rest it can offers helper function from a `PageRequest` to a `Page` but if it's implemented onl

[2020-05-12 11:24] gytis commented on #9052
In my example I assumed that the link headers are injected under the covers by middleware. So the response filter looks for a response with an entity type `Page` and then injects the headers. It then takes the actual response entity from the `Page` object (in this case `List<Fruit>`) and forward it down the chain. So once it comes to serialisation, only the List is serialised, so no need to implem

[2020-05-12 11:38] diogocarleto commented on #8531
I’m working on this, I’ll finish this issue this week, I had some problems and wasn’t able to work on this before.

[2020-05-12 12:23] danielpetisme commented on #9052
I think we focus on how to capture query string params and propose a Quarkus "`Page(d)`" resource with the elements/totalCount/pageCount/etc. Ideally I would love a bridge between Panache REST and  Panache Hibernate but not urgent.

The serialization/link of the `Page(d)` resource is indeed tricky. As @loicmathieu said, it's very specific, and as for now we know they are easy solutions  (response

[2020-05-12 13:01] sberyozkin commented on #9135
Will be fixed with the next smallrye-jwt release

[2020-05-12 13:17] sberyozkin commented on #5211
@benneq We are getting closer to supporting the custom verification factories thanks to @andreas-eberle so if the users will have an option eventually to plugin the alternative mechanism to get `JsonWebToken` out of the header . The verification is an essential part of smallrye-jwt, providing a 1st class support for disabling the verification with a property will just get us a stream of CVEs. Lets

[2020-05-12 13:30] FroMage commented on #9036
PR at https://github.com/quarkusio/quarkus/pull/9238

[2020-05-12 13:37] FroMage opened #9239 "Kotlin ORM with Panache: annotations on fields not always visible to Hibernate"
In `Person.kt` in the integration tests, I added:

[code]

But the DB was still created with `status number` in SQL, which means Hibernate could not see that annotation.

I wonder if the annotation needs some special love for Hibernate to see it, or if it was another issue? This could be serious, or just a user type.

Could you check @evanchooly please?

[2020-05-12 13:41] #9103 closed

[2020-05-12 14:10] SetoKaiba commented on #5883
Hi. What's the update for this?

[2020-05-12 14:26] Sanne commented on #5883
Hi @SetoKaiba ,
I'm afraid we have not worked on this yet. We'll need to adapt a significant section of Hibernate ORM's bootstrap to be able to configure these correctly without accessing the database; unfortunately we had to prioritize other fixes first.

[2020-05-12 15:08] #9136 closed

[2020-05-12 16:28] tobad357 commented on #9232
For my case above, not sure about @Meemaw I'm wondering if the error could be in AppModelGradleResolver, by reading the code I'm not sure if [AppArtifactKey](https://github.com/quarkusio/quarkus/blob/d28e32e1cd6fabd62196ca3dbcfe6bfb8247fee3/devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java#L221) takes into consideration the issue where someone has the same project depende

[2020-05-12 18:07] geoand commented on #9239
@FroMage could you try something like `@field:Enumerated(...)` and see if it works?

[2020-05-12 18:23] stephenc commented on #8121
Not fixed for me on 1.4.2.Final

[2020-05-12 19:00] rodrigorodrigues opened #9242 "Unable to run docker image + jdk 11 + maven +ubuntu"
**Describe the bug**
Docker image built with `quarkus-container-image-docker` not working.

**Expected behavior**
Service should run with docker image

**Actual behavior**
Service failed when starting but works in dev mode .

**To Reproduce**
Steps to reproduce the behavior:
1. mvn clean package -Dquarkus.container-image.build=true
2. docker build -f src/main/docker/Dockerfile.jvm -t quarkus-servi

[2020-05-12 19:10] aloubyansky commented on #8121
@stephenc are you sure it is exactly the same issue? Could you please create a new one and provide as many details and instructions to reproduce as possible? A reproducer would be perfect. Thanks.

[2020-05-12 19:28] stephenc commented on #8121
Well we have `<mirrorOf>*` In our settings so it may be a different issue... and it only affects our jenkins builds...

[2020-05-12 20:11] aloubyansky commented on #8121
@stephenc please do open a new issue

[2020-05-12 21:19] sonu3706 commented on #9135
Thanks @sberyozkin

[2020-05-12 21:25] sonu3706 opened #9244 "Executing main() via maven command similar to spring boot"
**Description**
(Describe the feature here.)

Possibility of executing `main()` method in `Quarkus` via `maven` command similar to
`mvn spring-boot:run`. Which can start the application via `main()` method.

[2020-05-12 23:13] #8969 closed

[2020-05-12 23:36] cpmoore commented on #7352
I can add this issue still exists in 1.4.2.Final

[2020-05-13 01:51] jaikiran commented on #9223
Hello @rsvoboda, A temporary workaround (actually this is more than a workaround and in fact a better way) is to set the following properties in your pom.xml (which is what I did in your reproducer project) to get it working:

[code]
I see that in your attempts to get this working you set the `<source>` and `<target>` to the Maven compiler plugin configuration (and not the Quarkus Maven plugin), h

[2020-05-13 02:04] jaikiran commented on #9242
Hello @rodrigorodrigues, it looks like you are building on Java 8 and running against Java 11. There are some known issues around this in Quarkus. There's a dev mail discussion about this here https://groups.google.com/d/msgid/quarkus-dev/CAD%2BL2cxs_%3Di%2B3%2BrcP3-SiO_AcAqBdY_jAVsSzJgQYdmabfJRMQ%40mail.gmail.com

[2020-05-13 02:05] jaikiran commented on #9242
/cc @mkouba @stuartwdouglas

[2020-05-13 02:07] jaikiran commented on #9175
https://github.com/quarkusio/quarkus/pull/9170 has been merged, so closing this issue.

[2020-05-13 02:07] #9175 closed

[2020-05-13 02:54] stuartwdouglas commented on #9242
@mkouba maybe we should just ignore @Deprecated, it should not really be used by CDI code anyway, and it is just causing problems.

[2020-05-13 03:35] jaikiran commented on #8822
I've opened https://github.com/quarkusio/quarkus/pull/9246 with the potential fix.

[2020-05-13 05:17] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/103224096

[2020-05-13 05:19] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/103225007

[2020-05-13 05:28] saurabh256 commented on #2222
Is this issue fixed? I am still facing native build issues with the quarkus security-jwt-quickstart during native build. Irrespective of whether I use jwt feature or not but even if it is available in pom i get error which building in native mode.

Quarkus version as below (from pom)
[code]

GRAALVM - graalvm-ce-java11-20.0.0
OS - Mac OS -Mojave 10.14.6

Even if i try building it under docker cont

[2020-05-13 06:07] harthorst commented on #9039
@MikeEdgar - seems to be a heisenbug. Several persons including me witnessed that problem on different machines but now it's not possible to reproduce it anymore. I hope you did not spend too much time trying to reproduce this.

[2020-05-13 06:07] #9039 closed

[2020-05-13 06:08] geoand commented on #9242
We've seen similar problems IIRC with some other annotation in the past.
+1 for ignoring it

[2020-05-13 06:11] #9223 closed

[2020-05-13 06:22] geoand commented on #8694
@mariofusco I am seeing this:

[code]

We recently removed `org.testcontainers:junit-jupiter` from our BOM, so I think you need to add it to yours

[2020-05-13 06:50] jaikiran commented on #8980
I've opened https://github.com/quarkusio/quarkus/pull/9249 with the proposed change.

[2020-05-13 07:59] mkouba commented on #9242
FWIK we currently ignore `java.lang.constant.ConstantDesc` and `java.lang.constant.Constable` interfaces for the same reason.

We could ignore `@Deprecated` but I'm not a big fan of "exceptions" like this. On the other hand, I can't think of a better solution. So I'll send a PR later today...

For the record - we do create annotation literals for all injection points that resolve to a `@Dependent`

[2020-05-13 08:15] FroMage commented on #9239
Nope, same.

[2020-05-13 08:37] FroMage opened #9251 "JWT validation logs no error"
I tried to reproduce the JWT guide but inadvertantly got a space in my config:

[code]

Do you see it? Me neither. It got there while copy pasting it from https://quarkus.io/guides/security-jwt#setting-up-application-properties

As a result, no amount of fiddling on my part with passing a JWT token on my test led to anything than a 401. I lost hours assuming I generated my token wrong, and only af

[2020-05-13 08:39] FroMage commented on #9251
Is it for you @sberyozkin?

[2020-05-13 08:41] adutra commented on #9183
I fixed the issue, it was an XML formatting problem.

[2020-05-13 08:54] FroMage opened #9252 "JWT guide: rewrite token generation part"
On https://quarkus.io/guides/security-jwt#generating-a-jwt

We have a horrible main class meant to generate a token, which takes a token from a JSON file and requires we run a program to get a token which we use for testing.

The entire main class could be rewritten as:

[code]

And in the last section https://quarkus.io/guides/security-jwt#generate-jwt-tokens we describe this a bit, but we don't

[2020-05-13 08:55] FroMage commented on #9252
For @sberyozkin again?

[2020-05-13 09:51] FroMage commented on #9141
OK, I've investigated and this works if you import the extension `quarkus-smallrye-context-propagation` AND you use RESTEasy.

When using reactive routes, it appears context propagation doesn't work, and I guess it's perhaps because something is terminating the request context prematurely. Could that be the case @mkouba ?

[2020-05-13 09:52] FroMage commented on #9141
To be clear, using reactive routes, context propagation works for other contexts than the ArC request scope.

[2020-05-13 09:57] stephenc opened #9255 "Bootstrapping with a custom extension in a private maven repo"
**Describe the bug**

The bootstrap code does not actually know all the ways to find the settings.xml file and does not seem to pay attention to any mirrors or authentication configured in the settings.xml when it is found.

**Expected behavior**

Bootstraping should work when custom extensions are in a private maven repository

**Actual behavior**

1. Doesn't work when the settings.xml is in one

[2020-05-13 10:13] stephenc commented on #9255
Also investigating the code:

* `RemoteRepository.Builder.setMirroredRepositories()` is never called
* `RemoteRepository.Builder.setAuthentication()` is never called

This leads me to suspect that the bootstrap authentication is a big pile of fail for anyone in a corporate environment they have custom extensions in their corporate maven repo and where any of the following apply:

* `<mirrorOf>*</m

[2020-05-13 10:37] mkouba commented on #9141
AFAIK the request context is terminated when the route method completes. So yes, it's very likely the case.

@FroMage @cescoffier so I wonder if we shouldn't terminate the request context if a route method returns `Uni` or `Multi`? What else is needed to support the context propagation properly?

[2020-05-13 10:38] lfcortes12 opened #9257 "Generated kubernetes for Ingress does not work in GKE"
Deploying to GKE with Ingress does not work properly due to GKE is not able to identify the backend services. The issue is fixed changing the script in this way:

Generated structure:

apiVersion: "extensions/v1beta1"
kind: "Ingress"
metadata:
  labels:
    app.kubernetes.io/name: "servicename"
    app.kubernetes.io/version: "v3"
  name: "servicename"
spec:
  rules:
  - host: ""
    http:
      pa

[2020-05-13 11:05] jaikiran commented on #9070
Potentail fix https://github.com/quarkusio/quarkus/pull/9258

[2020-05-13 11:07] sberyozkin commented on #9252
Hi @FroMage
Do you mean the original `TokenUtils.generateTokenString(...)` ? Yeah, I kept it and just replaced the Nimbus and then Jose4j code inside it. I can drop TokenUtils.

FYI, you only need a `.jws()` transition to set the headers, otherwise just `builder1.sign()` will do.

There will be more properties added (for kid, token lifespan, issuer, etc) and shorcuts added, so one would just do in

[2020-05-13 11:11] sberyozkin commented on #9251
Hi @FroMage

Oh dear :-). This must be fixed :-). We'll have a look, cheers

[2020-05-13 11:19] aloubyansky commented on #9255
I'll look into this, thanks. Although, I'm not sure we should be checking `MAVEN_CONFIG`. Is this an official Maven env var? We pick up custom settings from `-s` or `--settings`.

[2020-05-13 11:25] aloubyansky commented on #9255
BTW, `settings-security.xml`, server auth (username/password and token-based), mirrors were all tested at some point. We do include tests to mirrors, proxies and custom settings, at least, in our testsuite. There could have been a regression or something still missing of course.

[2020-05-13 11:32] brundipub opened #9259 "log files rotation on boot doesn't work"
**The issue**
When the app is (re)started, then even though its configuration file contains "quarkus.log.file.rotation.rotate-on-boot=true" the log files are not rotated.
(we're using Quarkus release: 1.4.1.Final )

**Expected behavior**
As the [documentation says](https://quarkus.io/guides/logging#quarkus-log-logging-log-config_quarkus.log.handler.file.-file-handlers-.rotation.rotate-on-boot) the

[2020-05-13 11:36] jaikiran commented on #8837
I can't reproduce this.  Looks like you are on Windows and perhaps this is Windows OS specific? I don't have any Windows system at hand right now.

[2020-05-13 11:36] #6679 closed

[2020-05-13 11:38] stephenc commented on #9255
Somewhat concerning that https://github.com/quarkusio/quarkus/blob/9400a4c82fc9567cc1d3810b3f6569b6193c9beb/independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptions.java#L34-L35 only uses the "short-form" CLI arguments and doesn't check for the long form alternative: `--settings` and `--global-settings`

[2020-05-13 11:39] stephenc commented on #9255
`MAVEN_CONFIG` is an official variable, see https://github.com/apache/maven/blob/9dd4732b7425f6fdbcae1fddfa9b3e47b8f45b8d/apache-maven/src/bin/mvn#L188 (though *puts on Maven PMC hat* we may have a regression that it is not available in `mvn.cmd`)

[2020-05-13 11:40] gsmet commented on #6424
@aesteve any chance you could work on a reproducer so that we can have a look?

[2020-05-13 11:49] aloubyansky commented on #9255
That's fine. We are using Maven's CLIManager, which takes care of mapping those to their longer versions.

[2020-05-13 11:50] stephenc commented on #9255
I have noticed that our Jenkinsfile was using

[code]

I am running a trial build with
[code]

To see if you are not correctly merging the global and non-global settings

[2020-05-13 11:51] aloubyansky commented on #9255
What we check is MAVEN_CMD_LINE_ARGS and then we parse it using Maven's CLIManager. So looks like we are still covered.

[2020-05-13 11:51] stephenc commented on #9255
NOTE: scenario A I can reproduce locally in intellij

[2020-05-13 11:52] aloubyansky commented on #9255
Yes, I'm wondering whether there could also be something IDE-specific. Since we might not be able to discover IDE-internal Maven configs.

[2020-05-13 11:54] stephenc commented on #9255
Scenario A is less concerning to me as we typically run `mvn test-compile` or a further phase before running IDE tests which at least resolves the dependencies from maven...

Scenario B is blocking using the custom extension as my PR that adds it fails on the first `@QuarkusTest`

[2020-05-13 11:55] stephenc commented on #9255
Scenario A, to me, hints that you are either not picking up the authentication used by our `mirror`... or not decrypting that auth

[2020-05-13 11:56] aloubyansky commented on #9255
We aren't doing it "by-hand" though, we are doing it using Maven's `SettingsBuildingResult`.

[2020-05-13 11:57] stephenc commented on #9255
Then I have to wonder if you are just not picking up the auth for the mirror

[2020-05-13 11:57] stephenc commented on #9255
(wonders if it would help to move to zulip for faster chat?)

[2020-05-13 11:58] aloubyansky commented on #9255
Thanks for investigating this. We definitely need to figure this all out.

[2020-05-13 11:59] stephenc commented on #9255
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Issue.209255

[2020-05-13 11:59] tomekl007 commented on #7876
We have a couple more questions regarding netty event loops and integration with vertex.
You are providing two event loops, the `mainEventLoop` group, and `bossEventLoop` group.
- Could you point me to places where those event loops are configured? Hom many threads they have?
- When using quarkus with `vertx-http`, which event loop is used for processing the incoming requests and quarkus applicati

[2020-05-13 12:06] mgorniew opened #9260 "Annotations with default private Class fields can cause runtime exception"
**Describe the bug**
I'm trying to use both `ConfigProperty` and `picocli.CommandLine.Option` annotations on same field, to implement extension which will allow to parse configuration from command line parameters. Unfortunately annotation classes which have Class fields with default pointing to private Class will not work with injected fields.

For example, following class:

[code]

Will cause exc

[2020-05-13 12:27] mkouba commented on #7876
I'm not an expert in this area but see my answers below. @stuartwdouglas and @cescoffier would know better.

If Vertx extension is used, the Main group is taken from `io.vertx.core.Vertx.nettyEventLoopGroup()` and the Boss group from `io.vertx.core.impl.VertxImpl.getAcceptorEventLoopGroup()`.

Otherwise, the Main loop group has the default number of threads, which is `Math.max(1, SystemPropertyUti

[2020-05-13 12:37] cescoffier commented on #9141
Yes, it should be terminated when the Uni/Multi "terminates" (on().termination())

[2020-05-13 12:37] gsmet opened #9261 "Don't pluralize paths in Panache Rest"
Following the discussion here: https://github.com/quarkusio/quarkus/pull/9254#discussion_r424385222 , we should avoid pluralizing the entity name for the path. Plural is a complicated beast and rules differ per language. Some languages such as French have a lot of exceptions and a lot of developers develop in their native languages (at least for in-house or customer development specific to a count

[2020-05-13 12:38] gsmet commented on #9261
/cc @gytis (can't assign to you for whatever reasons)

[2020-05-13 12:45] emmanuelbernard opened #9262 "Migrate to Vert.x 4"
- [ ] review security code
- [ ] perf review
- [x] Netty integration review
- [x] update Quarkus usage of vert.x to new v4 API
- [ ] documentation
- [x] context propagation
- [x] mutiny API
- [x] Microprofile 4 integration
- [x] SmallRye Reactive Messaging update (in progress)
- [x] Quarkus HTTP update (in progress)
- [ ] Hibernate Reactive update (in progress)
- [x] RESTEasy Reactive update

[2020-05-13 12:48] emmanuelbernard opened #9263 "Better fault tolerance for Messaging"
Clement internal wish Quarkus 1.6
Require SmallRye Reactive Messaging 2.1.0

[2020-05-13 12:49] emmanuelbernard opened #9264 "Improve gRPC support"
Clement internal wish: Quarkus 1.7 / 1.8

* [x] - #9324 - Compressor support
* [ ] - #9325 - Name resolver support
* [ ] - #9326 - Load balancer support
* [x] - #9327 - hot reload on RPC request
* [x] - #9328 - hot reload on `proto` file change
* [ ] - #9329 - control flow integration

[2020-05-13 12:51] emmanuelbernard commented on #9264
@michalszynkiewicz @cescoffier let's write down what that means and what value this brings.

[2020-05-13 12:57] emmanuelbernard commented on #5843
At this stage what remains AFAI can see is:

- accept the Panache limitation to only validate queries in Repos or Entities, not elsewhere in the code
- specify the necessary `pom.xml` and `gradle` build changes to make the annotation processor happen (there was a long conversation forked off and lead by Stef).
- document it in the Hibernate ORM and with Panache guides

Follow up task:

- make sure

[2020-05-13 13:03] emmanuelbernard commented on #8163
@maxandersen @geoand should we consider this one done?

[2020-05-13 13:04] geoand commented on #9257
@iocanel I wonder if we can provide more options for customizing the Ingress

[2020-05-13 13:04] emmanuelbernard commented on #4071
So can I close this issue? Do we have a stable chain validating this?

[2020-05-13 13:05] geoand commented on #4071
+1 from me

[2020-05-13 13:07] geoand commented on #8163
@emmanuelbernard I think we should. This is pretty much what the ecosystem CI is and it's already proven useful by reporting stuff that we removed in Quarkus and broke external extensions (see https://github.com/quarkusio/quarkus/pull/9231 for example).

[2020-05-13 13:09] emmanuelbernard commented on #8192
Isn't it done @geoand ?

[2020-05-13 13:14] gytis commented on #9261
OK I'll take care of it this week

[2020-05-13 13:15] geoand commented on #8192
Not fully no. We still don't have a way to offer per-test configuration

[2020-05-13 13:17] Sanne commented on #6624
I'm unassigning myself from this one as I'm not working on it ATM.

[2020-05-13 13:27] emmanuelbernard opened #9267 "Google Function support"
Add support for newly announced Google Function. Like we do for AWS Lambda and Azure Function

[2020-05-13 13:33] #5656 closed

[2020-05-13 13:40] cescoffier commented on #9264
* Hot reload support (even when modifying the proto file)
* Compressor support
* Proper implementation of the back-pressure protocol

[2020-05-13 13:41] emmanuelbernard opened #9269 "Improve context propagation performance"
Context Propagation is used more and more but its cost is noticeable.
We need to improve it in the sort to medium term.

[2020-05-13 13:42] emmanuelbernard commented on #9269
CC @cescoffier @stuartwdouglas and @FroMage
AFAIK Clement had some ideas and work in progress.

[2020-05-13 13:48] FroMage commented on #9141
Yup, this is due to `RouteHandler`:

[code]

My advice is that you should register a handler for when the request is over:

[code]

[2020-05-13 13:51] aesteve commented on #6424
Not before one or two weeks. Unfortunately I'm really late for work, I had time to try an upgrade last week-end, but won't have bandwidth before end of april.

[2020-05-13 13:55] emmanuelbernard commented on #6027
This is done right? in 1.5 with quarkus:dev even

[2020-05-13 13:56] FroMage commented on #9141
Actually it's a little bit more complicated than this, because calling `endHandler` might override the previous handler silently. Hence why https://github.com/vert-x3/vertx-web/pull/1593 will support multiple handlers, and why @stuartwdouglas wrote https://github.com/quarkusio/quarkus/blob/4239c357540c0d19d96095ff0ebc98affe950ace/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/ru

[2020-05-13 14:00] #6499 closed

[2020-05-13 14:01] FroMage commented on #5843
Looks right, except:

Oh, you mean at build time?

[2020-05-13 14:03] FroMage commented on #9252
This doesn't appear to be useful for tests. I really dislike having a token saved on file, rather than programmatically created for the test, which is why I didn't want to see a token on disk.

[2020-05-13 14:04] FroMage commented on #9251
Thanks a lot :)

[2020-05-13 14:07] FroMage commented on #9269
My only idea in this area was to replace the N thread-locals used by every framework with a single thread-local provided by MP-CP which had room for storage for each framework.

But that requires each framework to allow external storage of their thread-local, and perhaps won't be the biggest slowdown, which seems to be due to nesting of stages that each apply context that we pile up on the stack.

[2020-05-13 14:09] FroMage commented on #9261
That sounds reasonable.

[2020-05-13 14:23] #8163 closed

[2020-05-13 14:25] #4071 closed

[2020-05-13 14:34] emmanuelbernard commented on #5962
@maxandersen find a better name

[2020-05-13 14:35] maxandersen commented on #6027
@stuartwdouglas did you have a PR for this ?

[2020-05-13 14:37] maxandersen commented on #5963
@ia3andy can you refresh this with what is done ?

i think multiple platform is the one big missing.

[2020-05-13 14:40] emmanuelbernard commented on #5963
@maxandersen change title and refresh to specify its the multi platform search
Also related to tools querying the BOM

[2020-05-13 14:41] mariofusco commented on #8694
@geoand PR sent to kogito https://github.com/kiegroup/kogito-runtimes/pull/505 thanks for having reported this.

[2020-05-13 15:01] pateni24 commented on #8226
Hello, Just checking to see if you got a chance to look into this ? Thank you!

[2020-05-13 15:15] emmanuelbernard opened #9271 "Offer quarkus:reaugment command"
The tool would take a post compiled project and reapply the augmentation phase allowing build time properties to be updated.

Allow to do quarkus micro updates (only for non binary breaking changes, meaning not needing app recompilation).

Also optionally allow further extension and dependency filtering:
- the risk is what happens when the extension is removed (by descriptor) and the core apps use

[2020-05-13 15:19] sberyozkin commented on #9252
@FroMage Yeah, well, TCK tests use some JSON resources, I suppose, any JSON is a set of claims, JWT is just that JSON, where every top level property called a claim, is signed :-). So what is on the disk is some JSON. This shortcut like `Jwt.sign("some.json")` turns that into an actual token. But indeed better can be, when dealing with the existing JSON resources, is to get them with `claims(jsonR

[2020-05-13 15:25] sberyozkin commented on #9252
@FroMage By the way, I really like your original idea of having no arg `sign()`, etc

[2020-05-13 15:26] diogocarleto opened #9272 "quarkus-mongodb-panache support for prePersist/posPersist operations"
Hi guys, hope you are doing well.

In JPA it is possible to use annotations such as` @PrePersist, @PostPersist` to execute oparations before and after the `persist/merge`.

What if we implement this on mongodb panache, I took a look and it seems pretty simple to implement.

We can use the `MongoOperations.persist`, and `MongoOperations.update` to apply a kind of interceptor scanning the entity for

[2020-05-13 15:28] FroMage commented on #8538
So this is very different to #9141 because anything async will trip the client filter. So it doesn't matter if the endpoint's returned value is a `CompletionStage` or a `Uni` because we're not even there when the async http client barfs:

[code]

What this means is that the async http client runs on an executor and invokes the client request filters on it, but since this is on a new thread, the co

[2020-05-13 15:29] gytis commented on #9261
@FroMage so what would be your suggested convention for the controller name? `People` for an entity `Person`? And then use the controller name as a base path?

[2020-05-13 15:31] FroMage commented on #9261
Yes, exactly. And IIRC @stuartwdouglas suggested something along the lines of removing any `Controller` or `Resource` postfix if there is one.

- `People` -> `people`
- `PeopleController` -> `people`
- `PeopleResource` -> `people`

[2020-05-13 15:33] FroMage commented on #9272
So, everytime I needed custom actions I just overrode the original method:

[code]

Is that not enough?

[2020-05-13 15:34] gytis commented on #9261
Yeah I like that.

[2020-05-13 15:41] FroMage commented on #8538
That could also happen for async server filters, TBH. Except in this case the async is being sorta-hidden by the usage of the client.

[2020-05-13 15:48] FroMage commented on #8538
So, presumably I could call `RestClientBuilder.executorService` with the MP-CP `ManagedExecutor` and get context propagation, except I'm really not sure where I can get my hand on a `RestClientBuilder` when the client is autogenerated.

[2020-05-13 15:48] gnodet opened #9273 "Exception java.util.ServiceConfigurationError thrown"
**Describe the bug**
In certain cases, tests throw an exception before being executed
[code]

**Expected behavior**
The test can be run.

**Actual behavior**
An exception is thrown during the test initialization.

**To Reproduce**
Test available with PR #9274

**Environment (please complete the following information):**
 - Quarkus version or git rev: `1.4.2.Final`

[2020-05-13 15:49] #9025 closed

[2020-05-13 15:52] gnodet commented on #9273
This looks similar to https://github.com/quarkusio/quarkus/issues/8210 but requires a different fix.

[2020-05-13 15:59] gnodet commented on #9273
The problem is that `io.smallrye.config.SmallRyeConfigFactory` is loaded by both the application classloader and the quarkus classloader without the quarkus classloader delegating to its parent (the application classloader).

It suppose it could be fixed by specifying a flag for the jar, but imho, it should work out of the box.

The original issue comes from `camel-quarkus`, where flags defined in

[2020-05-13 16:06] AmsterdamFilho commented on #8538
I am currently migrating some Thorntail micro services that communicate synchronously to Quarkus. Since they need to pass the token around, this is a blocker. Is there a workaround?

[2020-05-13 16:06] diogocarleto commented on #9272
Yes, I think so :), lets close this one.

Thanks @FroMage.

Best,

[2020-05-13 16:06] #9272 closed

[2020-05-13 16:41] emmanuelbernard commented on #5843
Yes, not as good but failsafe

[2020-05-13 16:51] nelsongraca commented on #2933
While I agree with @Sanne that making everytthing runtime will go against optimizations, there are some that make sense to be runtime namely:
quarkus.hibernate-orm.database.default-schema
quarkus.hibernate-orm.database.default-catalog

I'm currently planning on moving some applications from Thorntail to Quarkus, but the default-schema is not the same in the multiple environments (production, QA, e

[2020-05-13 17:01] Sanne commented on #2933
hi @nelsongraca yes I totally agree with you. Those attributes deserve to become `runtime`; however - while I didn't check these specifically - I suspect that considering how the ORM bootstrap works today, this is really not a simple change.

Could you create a separate issue for these two? I'd like to spin-off individual issues rather than collecting them all in this one.

Also, feel free to try

[2020-05-13 17:19] nelsongraca opened #9275 "Make default-schema and default-catalog runtime configurations for Hibernate"
As already discussed on #2933, some Hibernate configurations should be made runtime, this issue is the request to move quarkus.hibernate-orm.database.default-schema and quarkus.hibernate-orm.database.default-catalog to runtime.

[2020-05-13 17:22] nelsongraca commented on #2933
@Sanne Just created the issue, hopefully the information there is enough. I'm ready for an uphill battle, it may become more of a time issue, but I will try. No shame in failing.

[2020-05-13 17:36] famod commented on #9255
@stephenc

Is this an official Maven env var?

[2020-05-13 18:32] #8798 closed

[2020-05-13 18:36] cescoffier commented on #9269
My approach so far is around fusing between staged that can be fused. It reduces the amount of Uni/Multi creation and subscription (which as a consequence reduce the number of interceptions). I’ve done some tests, and it seems to work. However it’s going to take quite some time before being there. It will also be Mutiny centric, so CS and others API won’t see these benefits.

[2020-05-13 18:39] stephenc commented on #9255
No `MVN_SETTINGS` turns out to be used by the Jenkins pipeline Maven plugin to inject the value into `MAVEN_CONFIG` (which I thought I’d updated all cases of `MVN_SETTINGS` to after I found the code)

[2020-05-13 19:45] knutwannheden opened #9279 "Maven artifact cannot be downloaded while bootstrapping app"
**Describe the bug**
When running an `@QaurkusTest` annotated test the Maven resolver configured by Quarkus fails to download an artifact from our Maven repository. The remote Maven repository is hosted by GitLab and requires a security token to be provided as an HTTP header. This has been configured in Maven's `settings.xml`, but it isn't picked up by Quarkus.

**Expected behavior**
Quarkus shoul

[2020-05-13 20:17] maxandersen opened #9280 "cleaner kubernetes.yaml generation"
**Description**
while working and comparing our yaml with example yaml i noticed a few things that could make ours a bit nicer:

- [ ] don't add quotes unless needed (i.e. [MINIMIZE_QUOTES](https://www.javadoc.io/doc/com.fasterxml.jackson.dataformat/jackson-dataformat-yaml/2.7.5/com/fasterxml/jackson/dataformat/yaml/YAMLGenerator.Feature.html#MINIMIZE_QUOTES) )
- [ ] don't generate labels/annotati

[2020-05-13 20:27] famod commented on #8837
For some strange reason I cannot reproduce it myself (on Windows) with the reproducer that I linked above.
But I can reproduce it in a more complex, closed source project.

[2020-05-13 20:40] aloubyansky commented on #9279
@knutwannheden thanks for reporting the issue. It sounds like #9255, doesn't it?

[2020-05-13 20:42] michalszynkiewicz commented on #9264
What about e.g. load balancer support?

[2020-05-13 20:44] abelsromero commented on #5789
Note the plugin for Intellij & and vscode marks DEBUG as error and does show it.
![image](https://user-images.githubusercontent.com/5781153/81863278-3f0bd200-956b-11ea-89fb-9fed6ead14ea.png)

[2020-05-13 20:46] knutwannheden commented on #9279
Yes, it does. Quite the coincidence getting these both issues now. Or is it a regression in 1.4?

Also, what do you think of my analysis? Possibly easier to verify with the use case of the other issue.

[2020-05-13 20:55] Sanne commented on #6458
sorry, I missed the question. No the feature was introduced approximatley a year ago, but it needs to be enabled explicitly.

Let me share a bit of context.

While tuning is interesting, over the years Hibernate ORM has grown a massive amount of configuration properties; this is becoming not only a usability pain but also a maintenance problem as we need to test various features in combination wit

[2020-05-13 20:57] Sanne commented on #6458
For reference, this is the feature:
 - https://in.relation.to/2019/07/30/bytecode-proxy/

It's transparently enabled in Quarkus, especially as people don't need to do anything to setup bytecode enhancement of entities at build time.

[2020-05-13 21:09] aloubyansky opened #9281 "Gradle build cache is not being leveraged"
(Following a discussion on Zulip https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Quarkus.20.26.20Kubernetes.20Development.20Environment/near/197398968)
This leads to slower continuous builds.
E.g. the QuarkusBuild gradle task does not declare the output, so no follow-up task can be cached. Quarkus also does not declare any "input" files, which means that the task always runs, eve

[2020-05-13 21:11] GregJohnStewart opened #9282 "HealthCheckResponse builder does not create matching health response"
I'm trying to make my own health report entry, but am running into an issue where the builder does not seem to be actually building a health entry with the data I use to set it up:

*Code:*
[code]

*Resulting entry for DOWN in the /health endpoint:*
[code]

[2020-05-13 21:19] aloubyansky commented on #9279
I'll have to verify that. Thanks. We also started a discussion with @stephenc on zulip here https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Issue.209255, in case you want to follow.

[2020-05-13 21:27] stephenc commented on #9279
Yeah I think the analysis seems plausible. are you using `<mirrorOf>*</morrorOf>` or is this repository just an additional one?

[2020-05-13 21:28] knutwannheden commented on #9279
No mirror, just an additional repo.

[2020-05-13 21:33] stephenc commented on #9279
Well I don’t envy @aloubyansky so 🤣

[2020-05-13 21:35] maxandersen opened #9283 "control over kubernetes service account generation / kubernets-client issue"
**Description**
using https://cloud.okteto.com the deployment fails as we setup service account  instead of using `default`.

Workaround is to have `quarkus.kubernetes.service-account=default` but then we still generate a service account unnecessarily.

furthermore quarkus kubernetes docs [states](https://quarkus.io/guides/kubernetes#using-the-kubernetes-client):

"some RBAC related resources are

[2020-05-13 21:35] aloubyansky commented on #9279
I have to say, besides the actual bugs you hit, i'm intrigued by your custom Quarkus extensions. That's definitely great to hear. If you could share a bit of info about what they are about, that'd be really great. Another thing about it, we are still shaping up the build step/item apis, so knowing how it's used could actually help us keep it more stable.

[2020-05-13 21:39] aloubyansky commented on #9279
@stephenc in this specific case, you guys actually help a lot providing details and analysis. So, I'm staying positive :)

[2020-05-13 22:31] #9242 closed

[2020-05-13 22:31] aguilardias opened #9284 "Unable to find contextual data of type: io.vertx.core.http.HttpServerRequest"
i've developed a rest service, i would like to log all request calls, with theirs parameters,

i started with this
https://github.com/quarkusio/quarkus-quickstarts/blob/master/rest-json-quickstart/src/main/java/org/acme/rest/json/LoggingFilter.java

im having problems acessing formAttributes of a multipart/form request

for example, the rest service is like this
[code]
the filter
[code]
The except

[2020-05-13 22:32] stuartwdouglas commented on #6027
It was part of the main command mode stuff. I have maven support for real dev mode tacked onto https://github.com/quarkusio/quarkus/pull/9139 but more work is needed to make this work for Gradle.

[2020-05-13 22:44] #9070 closed

[2020-05-13 22:53] stuartwdouglas commented on #9141
Apparently this is coming soon in vert.x 3.9.1, so maybe just wait?

[2020-05-13 22:54] stuartwdouglas commented on #9141
Note that it still needs to be deactivated after the request, just not terminated.

[2020-05-13 22:59] stuartwdouglas commented on #9269
I have an idea around context gates, which basically replaces multiple thread locals with a single cached TL access in most cases.

I need to experiment to make sure it will work but the basic idea would be that anywhere that a context might change (e.g. transaction interceptor etc) we add a gate that clears a ThreadLocal.

When capturing a context for the first time the result is stored in this T

[2020-05-14 02:50] GregJohnStewart opened #9287 "Provide single MP Config value for getting effective HTTP port"
I have noticed that the configuration value `quarkus.http.port` is injected as `8080` during a test run, but the webserver actually starts up on `8081`. This is preventing me from properly creating urls to test against.

Log output:
[code]

I would say that `quarkus.http.port` should be accurate to the actual port being listened on.

[2020-05-14 04:04] #8822 closed

[2020-05-14 05:17] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/104293279

[2020-05-14 05:23] cescoffier commented on #9264
Yes, let me add that too.

[2020-05-14 05:34] Meemaw opened #9289 "Rest client: path param _ has not been provided by the parameter map"
**Describe the bug**

`@RestClient` doesn't seem to pass path params correctly. It crashes with the following error: `java.lang.IllegalArgumentException: RESTEASY003720: path param SessionID has not been provided by the parameter map`

This is how it is being registered: https://github.com/Meemaw/Insight/blob/re-enable-beacon-tracking-e2e-test/backend/session/session-api-contracts/src/main/java/co

[2020-05-14 05:54] mariofusco commented on #8694
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/104293569

[2020-05-14 06:48] geoand commented on #9283
@iocanel has more insight here since he is the one that added the SA and RB handling

[2020-05-14 06:53] geoand commented on #9280
* The quotes thing should be easy (I would assume) to do in Dekorate by controlling the ObjectMapper.
* The empty values should probably also be fixed in Dekorate although we could just remove them in Quarkus if necessary.

cc @iocanel

[2020-05-14 06:56] Ladicek commented on #9283
I always thought it's a good practice to create a dedicated service account for the application, instead of usign the namespace's `default` SA. Why would Okteto disallow creating a service account is beyond me.

[2020-05-14 06:58] geoand commented on #9283
Yeah, I am sure that is what @iocanel had in mind as well

[2020-05-14 07:03] iocanel commented on #9283
Let me have a look at it!

That must have been a side effect of using the `kubernetes-client` for deploying.
We need to fix that.

[2020-05-14 07:04] geoand commented on #9280
I'll take this up in Dekorate

[2020-05-14 07:13] geoand commented on #9280
https://github.com/dekorateio/dekorate/pull/509 should take care of both

[2020-05-14 07:29] geoand commented on #8593
Failure seems like a network issue:

[code]

[2020-05-14 07:37] geoand commented on #9287
`quarkus.http.test-port` is the property that gives the port that tests run on.

Furthermore, in tests you can use the `test.url` MicroProfile Config value to get the URL of the running application.

Does that solve your issue, or are you looking for something more elaborate?

[2020-05-14 07:40] geoand commented on #9289
cc @kenfinnigan @michalszynkiewicz

[2020-05-14 07:44] #9216 closed

[2020-05-14 07:58] Ladicek commented on #9289
I don't see anything obviously wrong. Given that RestClient is now part of RESTEasy, CC @asoldano

[2020-05-14 08:01] ppalaga commented on #8593
@geoand https://github.com/quarkusio/quarkus-platform/pull/69 might help

[2020-05-14 08:02] tobad357 commented on #9281
We run a monorepo.
this would be huge for us. If this works properly we could choose to only generate new docker images for services that have changed when deploying to dev

[2020-05-14 08:05] michalszynkiewicz commented on #9289
@Meemaw thank you for your report, could you create a smaller reproducer of the problem?

[2020-05-14 08:12] geoand commented on #6717
@evanchooly @FroMage we are seeing `quarkus-integration-test-hibernate-orm-panache-kotlin` fail when building a native image with Java 8.

Here is the output:

[code]

[2020-05-14 08:20] glefloch commented on #9281
@aloubyansky, I would be interested into working on this.

[2020-05-14 08:22] aloubyansky commented on #9281
Sure @glefloch go ahead :)

[2020-05-14 08:39] cescoffier commented on #9217
I got it working if both sides are exchanging JsonObject:

[code]

and:

[code]

Trying with structures now

[2020-05-14 09:02] cescoffier commented on #9217
Found the issue, working on a fix.

When encoding an object to JSON, it is passed as AMQP Data instead of AMQP Binary with the content type set as `application/json`.

[2020-05-14 09:05] quachc opened #9292 "No form based authentication with security-jpa"
**Describe the bug**
I'm trying to implement form based login with my own user database using the `security-jpa` provider.

**Expected behavior**
I expect to be able to use `/j_security_check` to `POST` my credentials and obtain a "session" cookie so I can access secured resources.

**Actual behavior**
Every call to `j_security_check` returns `404 Not Found` and every call to a secured resources r

[2020-05-14 09:09] FroMage commented on #5843
Ah, damnit. I forgot we wanted to build that :(

[2020-05-14 09:10] FroMage commented on #9141
Yup. OK let's wait.

[2020-05-14 09:26] FroMage commented on #8538
Add this bean to you application:

[code]

[2020-05-14 09:31] FroMage commented on #8538
If we fix this, we need to be careful that the client filters are not executed with the RESTEasy context from the server, but the client one, unlike the transaction/cdi contexts which should be propagated.

[2020-05-14 09:34] #8980 closed

[2020-05-14 09:36] famod commented on #6259
Update: No need to move your project, just set up a shared folder:
![grafik](https://user-images.githubusercontent.com/22860528/81918652-115c7280-95d7-11ea-9dbb-9d1b8c5082a7.png)

[2020-05-14 09:41] emmanuelbernard commented on #5843
Right but again I put it as follow up task.

[2020-05-14 09:42] gytis commented on #9052
If we could add a dependency on `quarkus-resteasy-mutiny` we could use its async context injector to inject a Panache `Page` instance directly like:

[code]

This would be directly tied to Panache but maybe that's ok at this point. And because it's an injector rather than a `@BeanParam` it can read application properties and decide on the fly from where to extract page data and what parameter name

[2020-05-14 09:48] cescoffier commented on #9217
Fixed by https://github.com/smallrye/smallrye-reactive-messaging/pull/544.

[2020-05-14 09:51] cescoffier commented on #9217
So once the fix is merged upstream, this issue would be fixed once:

* smallrye reactive messaging is released (with the fix)
* quarkus gets updated

[2020-05-14 10:08] danielpetisme commented on #9052
I like it +1

Le jeu. 14 mai 2020 à 11:43, Gytis Trikleris <notifications@github.com> a
écrit :

[2020-05-14 10:14] Adelrisk commented on #9217
Thanks for your work and the clarifying update in the documentation.

[2020-05-14 10:39] famod commented on #9259
Same in Dev-Mode, 1.4.2.Final.

[2020-05-14 11:00] gytis opened #9293 "Naming Panache REST extension"
Panache REST extensions for JAX-RS resources generation is currently named [panache-rest-hibernate-orm](https://github.com/quarkusio/quarkus/tree/master/extensions/panache/panache-rest-hibernate-orm). Shortly we would like to add a MongoDB version too.
This name format, however, is different from the the one used by the `hibernate-orm-panache-kotlin`, `hibernate-orm-panache` and others. Would it b

[2020-05-14 11:08] geoand commented on #9284
Can you please provide a reproducer for this?

[2020-05-14 11:36] jmartisk commented on #9282
I guess I'd need the whole project source, because when trying to reproduce it, I can see the expected data.

There must be something else fishy with your project, because as I noticed, the health check's name is shown as `com.gjs.taskTimekeeper.webServer.server.health.DefaultKeysHealthCheck_ClientProxy` while it should correctly be `Not using packaged keys.`, as per the code example. That did not

[2020-05-14 11:37] marceloverdijk commented on #6458
Np and thanks for the explanation @Sanne !

[2020-05-14 11:53] maxandersen opened #9294 "Registry for extensions and platforms"
**Description**
Part of #5962

Provide notion of a registry that contain list of extensions, extension-releases  and platforms + additional metadata to use when quarkus tools need to query and operate on possible list of extensions.

[2020-05-14 11:56] joan-miralles opened #9295 "Default quarkus.http.access-log.pattern "common" duplicate query_string"
With default access-log configuration, the query string is duplicated in access-log.

**To Reproduce**
Steps to reproduce the behavior:
1. GET /myapp?someparam=1
2. In access-log appears: GET /myapp?someparam=value?someparam=value

[2020-05-14 12:07] stgiaf commented on #8858
Hello Sirs,
Did you had the chance to look at the issue? Is it a bug that needs further actions from your side, or is a misuse of the functionality from my side?

[2020-05-14 12:23] #9081 closed

[2020-05-14 12:42] #9219 closed

[2020-05-14 12:43] quachc opened #9296 "elytron-security-jdbc does not use attribute-mappings"
**Describe the bug**
Role is not mapped from database to the Elytron realm

**Expected behavior**
Role should be mapped from the database to the security principal

**Actual behavior**
The configuration in `security-jdbc-quickstart` does not extract the `role` column from the database.
When debugging `io.quarkus.elytron.security.jdbc.PrincipalQueryConfig#attributeMappings` never gets populated.

*

[2020-05-14 12:46] quachc commented on #9292
Being kinda stuck with `security-jpa` I decided to check out `elytron-security-jdbc`.
I'm able to get form based login to work (`/j_security_check` is available), so my assumption that form based authentication is broken in general seems to be wrong.
Sadly, I ran into another issue: https://github.com/quarkusio/quarkus/issues/9296

[2020-05-14 12:51] Sanne commented on #2933
ok awesome that you're willing to investigate!

At high level, the problem is that we need to build the `org.hibernate.boot.Metadata` during the build phase (before runtime), and the Metadata instance will refer to a lot of internal state which represents the whole model of the application. Configuration attributes such as schema name are normally applied _before_ the Metadata is created, so it mi

[2020-05-14 13:01] aloubyansky commented on #9279
That does not appear to be enough.

[2020-05-14 13:11] aguilardias commented on #9284
Reproduce

1. `git clone https://github.com/aguilardias/quarkus-form-attributes.git`

2. start application
[code]

3. Open a new terminal and execute the following curl command (update file path):
`curl -X POST "http://localhost:8080/hello" -H "accept: text/plain" -H "Content-Type: multipart/form-data" -F "name=user name" -F "photo=@/path/to/file"`

4. Watch error
[code]

[2020-05-14 13:11] aguilardias commented on #9284
Reproducer

1. `git clone https://github.com/aguilardias/quarkus-form-attributes.git`

2. start application
[code]

3. Open a new terminal and execute the following curl command (update file path):
`curl -X POST "http://localhost:8080/hello" -H "accept: text/plain" -H "Content-Type: multipart/form-data" -F "name=user name" -F "photo=@/path/to/file"`

4. Watch error
[code]

[2020-05-14 13:24] emmanuelbernard opened #9297 "Make sure GraalVM 20.1 works for Quarkus"
We want support for Quarkus application build on GraalVM 20.1 native image

- [x] Core support for GraalVM 20.1 https://github.com/quarkusio/quarkus/pull/9486
- [x] Run extensions test with GraalVM 20.1
- [ ] Offer quarkus property to enable debug symblos (`quarkus.native.debug-symbols` ?)
- [ ] Add CI job to test `-H:+RemoveSaturatedTypeFlows` and `-H:+PrintAnalysisStatistics` as noted here oracl

[2020-05-14 13:39] sberyozkin commented on #9298
@sonu3706 I've answered the question at https://stackoverflow.com/questions/61713369/unable-to-create-instance-of-jwtclaimsbuilder-in-quarkus-application. File system based resources will work in smallrye-jwt-2.1.2 release and Quarkus 1.5.0.

[2020-05-14 13:40] jaikiran commented on #9297
While doing this, perhaps we might want to have a CI job which enables (by default) `-H:+RemoveSaturatedTypeFlows` and `-H:+PrintAnalysisStatistics` as noted here https://github.com/oracle/graal/issues/2384. The graal team on their slack channel had requested projects to enable this setting and try out building native image and report any issues. This setting apparently is to help better native im

[2020-05-14 13:40] ppalaga opened #9299 "Dev mode test gets stuck if there are no classes/resources in src/main"
I am trying to add a dev mode test to the platform https://github.com/quarkusio/quarkus-platform/pull/64 but the test gets stuck during the test app boot.

## Steps to reproduce

The easiest way to reproduce is to take some existing dev mode test from Quarkus and move it to a new Maven module. I have done it for DevModeConstraintValidationTest:

1. Checkout this branch https://github.com/ppalaga/q

[2020-05-14 13:41] johnaohara commented on #7272
This could also be useful in `quarkus:update` https://github.com/quarkusio/quarkus/issues/9149

[2020-05-14 14:00] Postremus opened #9300 "Classloader problems with jaxb and stax"
**Describe the bug**
In my code, I use Jaxb to marshal my objects to xml.

I have an stax:stax:1.2 dependency on my classpath. This causes Classloader problems. `javax.xml.namespace.QName` Is loaded by the `Quarkus Base Runtime ClassLoader`. My Application classes are loaded by `Quarkus Runtime ClassLoader`. In this case, I get an exception when trying to create a new `JAXBContext``.

If I now rem

[2020-05-14 14:11] Razsiel opened #9301 "Microprofile rest client - Can't inject config/beans to clientheaderfactory also in 1.4.2.Final"
**Describe the bug**
In issue #7531 a solution was given for injecting providers in microprofile rest client using the annotations @RegisterProvider or @RegisterClientHeaders. Unfortunately the fix doesn't seem to work for @RegisterClientHeaders and my injected beans are always null.

**Expected behavior**
A class that implements ClientHeadersFactory and used in @RegisterClientHeaders annotation s

[2020-05-14 14:24] #9094 closed

[2020-05-14 14:25] Meemaw commented on #9289
@michalszynkiewicz for some reason I have problem creating a smaller reproducer due to the problems with CDI.

I keep getting this error:
[code]

SessionResource.java
[code]

SessionResourceImpl.java
[code]

BeaconService.java
[code]

[2020-05-14 14:33] knutwannheden commented on #9279
No, unfortunately. The implementation class only works inside the Plexus DI container. Looks like Quarkus will have to roll its own. For many (all?) settings there appear to be corresponding Eclipse Aether properties which can be set. Maybe that is the way to go?

[2020-05-14 14:34] aloubyansky commented on #9279
yes, i have it working actually.

[2020-05-14 14:35] jnsfrg opened #9302 "MQTT Messages are send to the wrong callbacks using a single client-id"
**Describe the bug**
When I subscribe to multiple topics using the same client-id, incoming messages are not passed to the correct subscribed method of the incoming channel.

**Expected behavior**
Incoming Messages are passed to the subscribed methods and the connector should use the same connection when they use the same host and client-id.

**Actual behavior**
Connectors using the same client-id

[2020-05-14 14:50] ppalaga commented on #9299
Both issues named in the introductory comment can be avoided by adding a dummy class to `src/main/java`.

[2020-05-14 14:52] FroMage commented on #8538
PR https://github.com/quarkusio/quarkus/pull/9303 should fix this.

[2020-05-14 15:02] FroMage commented on #6717
This is dependent on H2, except the `hibernate-orm-panache` IT also depends on H2 and runs on native-image, so I wonder what's specific to this test that trips it up.

[2020-05-14 15:11] FroMage commented on #6717
It looks like `hibernate-orm-panache-kotlin` actually depends on `jdbc-postgres`, lemme fix that.

[2020-05-14 15:13] geoand commented on #6717
Thanks @FroMage

[2020-05-14 15:23] FroMage commented on #6717
PR at https://github.com/quarkusio/quarkus/pull/9304

[2020-05-14 15:24] #9286 closed

[2020-05-14 15:40] #2509 closed

[2020-05-14 16:02] tomekl007 commented on #7876
@mkouba
I saw on the mailing list that you are planning to release the next version of quarkus soon:
[code]
Will those two fixes:
- https://github.com/quarkusio/quarkus/pull/9213
- https://github.com/quarkusio/quarkus/pull/9234
be in that release?

[2020-05-14 16:26] Meemaw commented on #9289
I've identified the root cause for the problem. It was wrong BASE_URL: `http:session-api` while it should have been `http://session-api`.

I think we can close this as this is not a bug in Quarkus, but I still think that the error message should be better in this case and the BASE_URL like this somehow validated?

[2020-05-14 16:26] #9289 closed

[2020-05-14 16:57] murphye opened #9306 "Native Image Compilation Stack Trace Not Showing Underlying Error related to --initialize-at-run-time using Gradle"
**Describe the bug**

This is using Gradle `quarkusBuild`, but may be present in Maven as well.

I am working with a team at AWS to get their Deep Java Learning (DJL) library working in Quarkus native. I ran into a native compilation error.

Here is the strack trace from the error:
https://github.com/awslabs/djl/issues/67#issuecomment-628755945

**Expected behavior**

The stack trace should state

[2020-05-14 17:13] stu1130 commented on #9306
1. I added `--initialize-at-run-time` in the `application.properties`. I assumed it would make all of classes being initialized at runtime.
[code]
with `./gradlew build -Dquarkus.package.type=native -x test -S`
[code]
with `./gradlew build -Dquarkus.package.type=native -x test -d`
[output.log](https://github.com/quarkusio/quarkus/files/4629912/output.log)

[2020-05-14 17:17] gsmet commented on #7876
Yes, they will. Everything already merged in current master will be part of the CR1 release.

[2020-05-14 17:22] zeljkot opened #9307 "1.4 migration guide does not mention changed JDBC configuration"
Changes in datasource guide not mentioned in migration guide (".jdbc.", db-kind ):

https://github.com/quarkusio/quarkus/commit/e8b530d87521798daaa99afa2e7077b676fffa44

[2020-05-14 18:05] sonu3706 commented on #9298
@sberyozkin  Thanks for the comment

[2020-05-14 18:37] murphye commented on #9306
Just to note, having `--initialize-at-run-time` with no class list is not correct. That being said, an error show state this.

What error comes from GraalVM and is it propagated through Gradle `quarkusBuild` correctly?

[2020-05-14 18:40] cescoffier commented on #9302
Fixed by https://github.com/smallrye/smallrye-reactive-messaging/pull/545.

Once the linked PR is merged, it would require a release of Smallrye reactive messaging and the integration of this release in Quarkus.

[2020-05-14 18:52] amihaiemil opened #9308 "Documentation On Building Quarkus Core"
The [Contributing.MD](https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#building-master) has clear instructions on how to build the master branch.

However, this build takes a lot of time (10min+). From my understanding, this is because also a lot of Quarkus Extensions are being built.

It would be nice to have some documentation on how to build just the core part of Quarkus, for in

[2020-05-14 19:33] tandraschko opened #9309 "Quarkus/Undertow does not parse request parameters correctly from multipart post"
**Describe the bug**
We tried to setup a PrimeFaces FileUpload with the new MyFaces Quarkus Extension but the post is not correctly considered as postback in JSF as the underlying HttpServletRequest doesnt have any post params.
I tested it and it works fine on jetty.

**Expected behavior**
HttpSevletRequest also parses post params from the multipart request

**Actual behavior**
empty request param

[2020-05-14 19:34] ebullient commented on #7893
IMO, there is general consensus that you don’t put a quarkus (or wildfly or whatever) thing in an internet-facing role. There is always something in between (usually a caching proxy or other gateway). Restricting access to ports should be done at that layer.

If you end up using “one listener for multiple ports” .. then the “monitoring traffic vs. other traffic” notion is done anyway. You’re alway

[2020-05-14 19:40] ebullient commented on #9191
whackamole.. :-P

[2020-05-14 19:42] geoand commented on #9191
Or just a typical bug you would see in any framework / library 😎.

[2020-05-14 20:27] HonoluluHenk commented on #9049
entities (and for future use) maybe everything that's available via [MetaModel](https://docs.oracle.com/javaee/7/api/javax/persistence/metamodel/Metamodel.html)

[2020-05-14 20:35] geoand commented on #9049
@Sanne is there any way that an arbitrary piece of Quarkus code could find the entities found at build time?

Obviously it's possible, so my question is more whether we have anything like that in place

[2020-05-14 20:55] geoand commented on #4453
@machi1990 do you perhaps want any help on this?

[2020-05-14 22:02] maxandersen opened #9313 "JavaFX extension"
**Describe the extension**
As discussed on [Quarkus Insights](https://youtu.be/5UhM_W6zukg?list=PLsM3ZE5tGAVatO65JIxgskQh-OKoqM4F2&t=1041) with command mode we now can work with swing/javafx but we should have an extension to enable CDI injection in the UI eventqueues.

This one is for JavaFX and in this world [Gluon Ignite](https://gluonhq.com/labs/ignite/) seem to be the popular option.

Interes

[2020-05-14 22:07] maxandersen opened #9314 "Java Swing Extension"
**Describe the extension**
same/similar as #9313 but just for Swing.

Could not find a unified way of doing this thus it might just be something to document on how to best use Arc in Swing.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

[2020-05-14 22:10] maxandersen opened #9315 "add quarkus:run command"
Currently Quarkus dev tools allow to launch a Quarkus application in dev mode, for example:
* with `quarkus:dev` using the Quarkus Maven plugin;
* with `quarkusDev` using the Quarkus Gradle plugin;
* with `dev` command using the Quarkus CLI.

It would be useful to have equivalent commands that launch Quarkus applications in prod mode, for example:
* with `quarkus:run` using the Quarkus Maven plugi

[2020-05-14 22:10] sberyozkin opened #9316 "Web Authn Extension"
**Describe the extension**
Have been planning to open the issue for a while:
https://en.wikipedia.org/wiki/WebAuthn

I've noticed recently Vertx Auth ships the extension (cc @pmlopes) so we can have an extension which builds on top of it. And then may be recommend it as the main option when no SSO is involved

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top ri

[2020-05-14 22:13] GregJohnStewart commented on #9282
Sure, the repository is here: https://github.com/GregJohnStewart/task-timekeeper

On Quarkus `1.4.2.Final`

The latest for the quarkus work is under the "webserver-work" branch

Running the project: `./gradlew :Webserver:Server:quarkusdev`

[2020-05-14 22:14] maxandersen opened #9317 "add codeready-containers (crc) extension"
**Description**
as discussed on [list](https://groups.google.com/d/msg/quarkus-dev/fwbKpeRZp7M/1uotF_dSAQAJ) an openshift/CRC extension would be nice to handle the defaults to have container-image / deploy settings just working out of box.

from list:
[code]

[2020-05-14 22:15] famod commented on #9308
FWIW, I can bring it down to ~5 mins by adding `-T4` on a pretty dated i7-6700k.

[2020-05-14 22:18] sberyozkin commented on #8559
@stuartwdouglas Hi, this is probably not related to this issue, but I've been wondering, would it be possible somehow to get the context switching going on demand. For example, right now, we have to make the decision quite early whether to run the request on the IO thread or as blocking.
With `TenantContextResolver` we can optimize, but if a refreshing token is supported then we do it too early, a

[2020-05-14 22:23] GregJohnStewart commented on #9287
Interesting. Good to know, just that I was expecting to have `quarkus.http.port` being the source of truth on what port the server was running on, test/dev/prod.

I see why it is this way, but I would argue it makes sense to keep things consistent. I have some instances where I am creating urls to pass back to the user, using `quarkus.http.port` for the port in the url. This makes it slightly hard

[2020-05-14 23:24] jimbogithub opened #9318 "WebSocket - No Pong for Ping"
**Describe the bug**
Server (or Client) sends WebSocket Ping.  Other end should Pong automatically but does not.

This prevents proper management of slow/dead consumers etc.

**To Reproduce**
Modified websockets-quickstart attached.

[websockets-quickstart.zip](https://github.com/quarkusio/quarkus/files/4631455/websockets-quickstart.zip)

[2020-05-14 23:24] jimbogithub commented on #9318
Quark

[2020-05-15 01:05] AmsterdamFilho commented on #8538
I tested the workaround. It works.

[2020-05-15 01:27] stuartwdouglas commented on #8559
If you are on the IO thread you can switch at any point, as long as you have designed your API's to allow it.

[2020-05-15 01:47] jimbogithub commented on #7696
I'm using a temporary work-around of placing slf4j-log4j12 as a test dependency placed before other dependencies.

[2020-05-15 03:12] jimbogithub opened #9319 "No WebSocket @ServerEndpoint @OnClose event when Web Browser closes"
**Describe the bug**

WebSocket `@ServerEndpoint` `@OnClose` does not get called when the user closes their Web Browser.  See https://groups.google.com/forum/#!topic/quarkus-dev/nhW19mwWDAg for more details.

**Expected behavior**
`@OnClose` should get called so that we can clean up any resources.

**Actual behavior**
`@OnClose` does not get called, **although Session::isOpen returns false.**

**T

[2020-05-15 04:07] jpechane opened #9320 "GraalVM SDK required in for OpenJDK runs"
**Describe the bug**
When Quarkus app is executed on OpenShift then GraalVM SKD should be an optional dependency. Now it requires the presence of `ImgaeInfo` class duiring app lifecycle and logging configuration.

**Expected behavior**
GraalVM SDK should not not be mandatory when app runs on OpenJDK.

**Actual behavior**
An exception is thorow during startup when removed

{noformat}
Exception in t

[2020-05-15 04:41] geoand commented on #9287
The problem I see with that is that there isn't a way to make `quarkus.http.running-port` read-only.
I am sure that if we do add it, someone will expect to be able to set the port just by changing it

[2020-05-15 04:48] geoand commented on #9307
Actually this was a 1.3 change IIRC

[2020-05-15 05:14] stuartwdouglas commented on #9292
This will be fixed in 1.5

[2020-05-15 05:17] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/105349372

[2020-05-15 05:56] zeljkot commented on #9307
It could be, but it is not documented in any of the migration guides.

[2020-05-15 05:59] geoand commented on #9307
cc @gsmet

[2020-05-15 06:02] #9217 closed

[2020-05-15 06:03] stuartwdouglas commented on #9296
This works in tests, but not in dev mode.

[2020-05-15 06:18] cescoffier commented on #8916
When using a codec explicitly, it must be set on both side:

[code]

Another solution would be to use the default codec provided by Quarkus:

[code]

[2020-05-15 06:18] cescoffier commented on #8916
Not a bug - it's how the Vert.x event bus works.

[2020-05-15 06:23] geoand commented on #9308
I'll add a couple workflow tips I use all the time

[2020-05-15 07:07] harshmadhani commented on #9083
PR #9156 is raised for resolution of the issue

[2020-05-15 07:11] thankthemaker commented on #6954
Any progress on this? I tested it with the rest-json-quickstart from the Quarkus quickstarts (with quarkus version 1.2.0 and 1.4.1) and the NPE is still there.

[2020-05-15 07:16] jmartisk opened #9321 "Metrics integration in the SmallRye GraphQL extension"
SmallRye GraphQL includes support for MP Metrics, we just need to properly integrate it and add a few tests.

[2020-05-15 07:17] jmartisk opened #9322 "OpenTracing integration in the SmallRye GraphQL extension"
SmallRye GraphQL includes support for OpenTracing, we just need to properly integrate it and add a few tests.

[2020-05-15 07:32] skmindbit commented on #8204
I've just found this issue since I have the same problem in Quarkus 1.4.2.
In 1.3.2 I can access swagger-ui when starting in dev mode (/openapi/* and /swagger-ui/* policy enforcement disabled in .properties). With just an upgrade to Quarkus 1.4.2 and no other changes it doesn't work anymore. Root context path is not changed.

[2020-05-15 07:34] Sanne commented on #9049
We don't create the EntityManager producer when there are no entities.

I believe a way to find them is to depend on the buildItem `io.quarkus.hibernate.orm.deployment.JpaEntitiesBuildItem` - however be careful with the other phases, as while you're safe to have a list of names, the class definitions themselves might still need transformations.

[2020-05-15 07:46] Sanne commented on #9049
ah sorry it appears I misunderstood the question. You don't want to have the list at build time :)

Yes that's correct; however to have an EntityManager started requires having a datasource to be configured as well.

[2020-05-15 07:49] cescoffier opened #9325 "Add support for name resolver"

[2020-05-15 07:49] cescoffier opened #9326 "Add support for load balancers"

[2020-05-15 07:49] cescoffier opened #9329 "Proper implementation of the back pressure protocol"
Look at the gRPC backpressure protocol and provide integration for Mutiny.

[2020-05-15 07:55] loicmathieu commented on #9052
@gytis I would not add a dependency on panache-common inside resteasy.
Of course, we can have an optional one, and only provides the functionality for Panache users.
But as I said, this issue if for JAX-RS and there is a lot of valid use case where you want to provide pagination/link capabilities out of Panache.

This functionality needs to be designed to be implementation agnostic on the creation

[2020-05-15 07:55] cescoffier commented on #9264
I've added in the issue description the individual issues.

[2020-05-15 07:58] gunnarmorling commented on #9320
s/OpenShift/OpenJDK/ :)

Motivation here is to avoid having to redistribute the Graal SDK when shipping a Quarkus-based JVM application.

[2020-05-15 08:01] geoand commented on #9049
For the time being, just being able to grab the list of entities (their classed to be precise) from arbitrary code would be enough I think.
Do we have some easy way to do that?

[2020-05-15 08:05] ppalaga opened #9330 "Manage org.mongodb:bson in the BOM"
`org.mongodb:bson` is pulled transitively by several direct mongodb deps. Not managing `org.mongodb:bson` in Quarkus BOM causes dependency alignment problems in Camel Quarkus.

A PR follows.

[2020-05-15 08:06] jmartisk commented on #9282
It seems to be because your health check is throwing an exception:
[code]

In that case the health reporter does not know what data to put in, or even what the name of the health check is.
We could think whether the reported status should look differently, maybe it could automatically contain at least part of the exception stack trace.
But generally I guess you should handle that on the applicatio

[2020-05-15 08:08] ppalaga commented on #9330
Nothing to do, this was fixed after 1.4.2. Sorry for the confusion.

[2020-05-15 08:08] #9330 closed

[2020-05-15 08:17] gsmet commented on #9330
Yep, I fixed it for 1.5, it was causing all sorts of problems :).

[2020-05-15 08:18] famod commented on #9259
It seems all the logging properties just forwarded to https://github.com/dmlloyd/jboss-logmanager-embedded

So maybe this is something for @dmlloyd?

[2020-05-15 08:24] #6197 closed

[2020-05-15 08:24] cescoffier commented on #6197
Closing as we integrated a version of reactive messaging containing the fix.

[2020-05-15 08:26] cescoffier commented on #6321
Any update on this?

[2020-05-15 08:27] jmartisk commented on #9282
So it turns out that the health reporter by default includes the message of the root cause. In your case, `NullPointerException` has no message, so the data is empty.

[2020-05-15 08:28] tsegismont commented on #6321
Not yet. I have been able to setup a local db for testing. But no PR yet

Le ven. 15 mai 2020 à 10:27, Clement Escoffier <notifications@github.com> a
écrit :

[2020-05-15 08:31] gsmet commented on #6321
Wouldn't producing a `ExtensionSslNativeSupportBuildItem` be enough to solve the issue?

[2020-05-15 08:39] geoand commented on #9308
#9308 should take care of this

[2020-05-15 08:39] #9308 closed

[2020-05-15 08:44] geoand commented on #9191
@ebullient do you want to take a look at this one or should I?

[2020-05-15 08:53] rmanibus opened #9335 "Bug using a maven classifier in dev mode"
**Describe the bug**
I use a maven classifier to produce a shared jar between multiple microservices.
It seems that when runing mvn quarkus:dev, the qualifier is ignored and the full jar is used (beans outside the shared package are instantiated)

**Expected behavior**
Only the classes in the shared Jar are indexed when running mvn quarkus:dev.

**Actual behavior**
All the beans are present in the

[2020-05-15 08:54] rmanibus commented on #9335
cc @aloubyansky

[2020-05-15 08:57] amihaiemil commented on #9308
@geoand Nice, thank you!

[2020-05-15 08:58] geoand commented on #9314
I would definitely like to make it easy for people to create Desktop app with Quarkus!

I don't know however if using GraalVM native-image would be possible at all

[2020-05-15 09:06] #9178 closed

[2020-05-15 09:24] machi1990 commented on #4453
@geoand thanks for the ping, I've been a bit busy the last couple of weeks with limited time to work on this. But I have a solid base here https://github.com/machi1990/quarkus/tree/feat/vertx-redis-extension - everything is working, including native but I am just missing some documentation. Planned to allocate some time end of next week to work on this.

[2020-05-15 09:25] geoand commented on #4453
Thanks great! Let me know if you need / us to jump in anywhere :)

[2020-05-15 09:27] rsvoboda commented on #8624
@geoand how can be this issue reproduced (with older Quarkus version)?

[2020-05-15 09:29] machi1990 commented on #4453
Cool. Thanks @geoand

[2020-05-15 09:42] geoand commented on #8624
@rsvoboda the easiest way I can think of to reproduce this issue, is to take the integration test: https://github.com/quarkusio/quarkus/tree/1.3.2.Final/integration-tests/spring-cloud-config-client

and change https://github.com/quarkusio/quarkus/blob/1.3.2.Final/integration-tests/spring-cloud-config-client/src/main/resources/__files/a-bootiful-client-prod.json to some invalid JSON.

The native te

[2020-05-15 09:58] #9321 closed

[2020-05-15 10:06] rmanibus commented on #9335
will do some test here #9337

[2020-05-15 10:49] llowinge commented on #6168
@Postremus Please check this comment - https://github.com/apache/camel-quarkus/issues/1223#issuecomment-629075660 where i've described why it gave me NPE.

[2020-05-15 11:03] rsvoboda commented on #8624
Thanks!

[2020-05-15 11:10] Sanne commented on #9049
But do you need it at build time or runtime? If runtime, what do you expect to see as API?

[2020-05-15 11:14] geoand commented on #9049
In this case, the OP needs them at runtime in order to customize Jackson.

But I was also wondering if it made sense for us to know them at build so we can enable some kind of customization of Jackson ourselves if necessary.

[2020-05-15 11:19] emmanuelbernard opened #9338 "Offer Tekton task for Quarkus build (including native)"

[2020-05-15 11:19] sorin-costea commented on #5691
Probably related to log4j2 multi-release feature, I get this warning:
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
I run under Java 11 but I think you'll see it from Java 9 on.

[2020-05-15 11:19] emmanuelbernard commented on #9338
CC @maxandersen

[2020-05-15 11:27] Sanne commented on #9049
You can get them at build time easily as there are `BuildItems` which list them; this is also the contract used between Panache and ORM.

Regarding Jackson, I'd say the ideal solution is to also generate this all at build time. If that's too complicated, perhaps you can use some ArC API to see if you can get an EntityManager ?

If there is no entity manager factory, then there are no managed entit

[2020-05-15 11:27] Sanne commented on #9049
The build iteams which might be relevant are `JpaEntitiesBuildItem` and `JpaModelIndexBuildItem`

[2020-05-15 11:29] sorin-costea opened #9339 "Running JUnit tests in IDE doesn't set the LogManager"
**Describe the bug**
When running a QuarkustTest class as JUnit in Eclipse IDE, the quarkus.log.* entries set in application.properties are ignored, and logging defaults are used.

**Expected behavior**
I expect to be able to see the same configured logging settings in a Maven run as in a IDE testclass run.

**Actual behavior**
Rightclick a QuarkusTest class and select to run as JUnit. None of you

[2020-05-15 11:31] sorin-costea commented on #9339
Workaround: add
`-Djava.util.logging.manager=org.jboss.logmanager.LogManager`
to each and every run configuration - not very practical but mitigates the issue.

[2020-05-15 11:34] gsmet commented on #9339
@FroMage isn't it the same issue you were talking about yesterday on Zulip?

[2020-05-15 11:36] machi1990 commented on #9339
There is a workaround described here https://quarkus.io/guides/logging#how-to-configure-logging-for-quarkustest

[2020-05-15 11:37] maxandersen commented on #9338
you mean document an example task for quarkus or something more ?

[2020-05-15 11:38] maxandersen commented on #9338
related to #6147

[2020-05-15 11:39] maxandersen commented on #6147
maybe i'm a bit backwards here but tekton should be generated before you build your app as tekton is what drives your build.... is it not more about having tekton-ci.yml example somewhere ? or am i missing something something ?

[2020-05-15 11:42] maxandersen commented on #9339
@machi1990 that is not working around this issue - configuring maven and gradle does not influence your runs from inside eclipse (and any other ide that runs the test directly via java)

we as a minimum shuold add the workaround for such IDE's to the docs similar to how covered for gradle and maven but before doing  that I wonder if there isn't something we can do in the quarkustest extension to s

[2020-05-15 11:42] emmanuelbernard commented on #6026
We need to discuss if the CLI should have introspection capabilities and do a JBoss Forge like class creation / augmentation based on the existing user model.
This would make it non native and might be a blocker compared to the advantage of going native.

[2020-05-15 11:47] gsmet commented on #9339
Let's wait for @FroMage feedback because, if it's the same issue he was discussing yesterday, it's due to a JUnit issue.

[2020-05-15 11:51] machi1990 commented on #9339
Oops, I missed the IDE part sorry. You are very right indeed.

[2020-05-15 11:53] sorin-costea commented on #9339
I use JUnit 5 fwiw

[2020-05-15 12:03] geoand commented on #9049
Thanks @Sanne

[2020-05-15 12:03] gsmet commented on #9293
@FroMage @gytis this needs to be sorted out by Monday evening to be in CR1.

[2020-05-15 12:04] gsmet commented on #9261
any progress on this? We plan to release CR1 on Tuesday early morning Paris time so we would need that change by Monday evening.

[2020-05-15 12:09] survivant opened #9342 "Add @Patch support for RestClient"
When I try to use a PATCH method with the RestClient in none-native mode, We obtain this error

`javax.ws.rs.ProcessingException: RESTEASY004655: Unable to invoke request: java.net.ProtocolException: Invalid HTTP method: PATCH
	at org.jboss.resteasy.client.jaxrs.engines.URLConnectionEngine.invoke(URLConnectionEngine.java:63)
	at org.jboss.resteasy.client.jaxrs.internal.ClientInvocation.invoke(Clie

[2020-05-15 12:15] aloubyansky commented on #9335
This issue is about applying filtering to the classes dir. I.e. picking up a subset of all the classes in the `target/classes` instead of all of them.
In this specific case, this is expressed in the `maven-jar-plugin` configuration.
During the tests we don't see the dependency project being packaged with a classifier, so we cannot match the dependency artifact to the locally discovered project, ou

[2020-05-15 12:15] iocanel commented on #6147
I feel that just having a `tekton-ci.yml` doesn't just cut it. There is not a one size fits all thing that can be treated as a `Dockerfile` (something that its same for 99% of the users).

Why?

- Generated resources refer to git repositories etc (not biggie but...).
- Needs RBAC & Auth configuration for pushing to remote registries.
- In many cases, persistent volumes are required.
- Even the sma

[2020-05-15 12:16] aloubyansky commented on #9335
I'm not starting to work on this right now, so I unassigned myself.

[2020-05-15 12:19] rmanibus commented on #9335
As a workaround runing mvn quarkus:dev -DnoDeps is working, but dependencies must be installed in the local repo before.

[2020-05-15 12:29] gytis commented on #9261
Yeah, I have the functionality working. I had to refactor quite a bit to make it more extendable to add `path` feature and possibly others. So I thought I'd also optimise the tests which are getting a bit messy.

[2020-05-15 12:29] gytis commented on #9261
I can raise a PR today.

[2020-05-15 12:30] gytis commented on #9261
I could also change the tests separately next week. It would make things faster.

[2020-05-15 12:39] #9235 closed

[2020-05-15 12:43] #8538 closed

[2020-05-15 12:45] FroMage commented on #9339
@gsmet yup, same issue, and look what JUnit answered: https://github.com/junit-team/junit5/issues/2300

[2020-05-15 12:47] FroMage commented on #9339
So, as a workaround, how about the `QuarkusClassLoader` detects this particular JUnit class being loaded and makes sure that we pre-load our system property? Or do we only come into play after JUnit, @stuartwdouglas ?

[2020-05-15 12:48] #9036 closed

[2020-05-15 12:48] #8828 closed

[2020-05-15 12:53] geoand commented on #9339
Quarkus comes into play after JUnit 5 has started

[2020-05-15 12:54] maxandersen commented on #9339
@FroMage +1 that was kinda what I was thinking - if we can detect we are running there and monkey patch it ...would be evil :)

and if monkey patch not feasible then possibly detect the system property are wrong/missing.

[2020-05-15 13:05] ebullient commented on #9191
I’m happy to review what you’ve done this time around. My brain is full of metrics and filters and handlers and ... I might break something if I attempt do to this one at the same time. 🤪

[2020-05-15 13:06] FroMage commented on #9339
Or we turn again the JDK's `LogManager` to re-init it. But that's gonna fail in the future. We could raise the issue to the openjdk team :-/

[2020-05-15 13:08] #8923 closed

[2020-05-15 13:16] FroMage commented on #9293
Here are my comments copied here for easier reading:

Now that I read it like that, I've my doubts over the order, because originally it was supposed to be X with Panache, which means X with style.

This makes it looks like Panache is a noun and the subject instead of an adjective to make Hibernate ORM/REST stylish.

Perhaps it should be Hibernate ORM REST with Panache or RESTful Hibernate ORM wit

[2020-05-15 13:17] geoand commented on #9191
OK, I'll check it out next week and let you know

[2020-05-15 13:23] FroMage commented on #9293
So, I guess I formally propose:

- `quarkus-crud-rest-panache` for the common module: "CRUD REST with Panache"
- `quarkus-hibernate-orm-crud-rest-panache` for the "Hibernate ORM CRUD REST with Panache"
- `quarkus-mongodb-crud-rest-panache` for the "MongoDB CRUD REST with Panache"

It's a mouthful, but it's sort-of safe. It's not just CRUD because it's only the REST part of CRUD, and it's not just

[2020-05-15 13:23] FroMage commented on #9141
Vert.x 3.9.1 was released, so as soon as we upgrade in Quarkus, we can use it to fix this bug.

[2020-05-15 13:42] sorin-costea commented on #9339
The way the JUnit answer was explained, it's really an issue with JUnit way of thinking "ide schmide". Not JDK...
Can we have this working in TestNG instead? I personally don't care which unit test framework I'm using.

[2020-05-15 13:44] maxandersen commented on #9339
@sorin-costea not sure what you mean by "ide schmide" - reason we are talking about JDK is that the issue is that jdk's logging setup assumes it setup  early and only in once.

[2020-05-15 13:53] FroMage commented on #9342
We need to figure out in which cases we default to the JDK http client instead of the Apache one.

We could also try to switch to the vert.x http client while we're at it.

[2020-05-15 13:53] gytis commented on #9293
I understand the intent of keeping it explicit that it's not a general `REST` and I think it's reasonable. I'm just not a bit fan of `CRUD` in a name. How about the following options:
* `quarkus-panache-rest-data` (or `quarkus-panache-rest-data-common`)
* `quarkus-hibernate-orm-panache-rest-data`
* `quarkus-mongodb-panache-rest-data`

[2020-05-15 13:54] tsegismont commented on #6321
Guillaume, I don't know yet what an `ExtensionSslNativeSupportBuildItem`
is, but I'll look into this.

My plan was to add JksOption, PemCertOption and the likes to the reactive
postgres db config (we have such options on the eventbus config already).

Le ven. 15 mai 2020 à 10:31, Guillaume Smet <notifications@github.com> a
écrit :

[2020-05-15 13:59] akoufa commented on #8166
Hello to all. I am still experience this even after adding the dependency to `quarkus-smallrye-context-propagation` in Quarkus 1.4.1 . I tried `RequestScoped` and `ApplicationScoped` Beans and I get always the same exception `Caused by: javax.enterprise.context.ContextNotActiveException: interface javax.enterprise.context.RequestScoped` . So it is not enough to declare the dependency but we have t

[2020-05-15 14:01] FroMage commented on #9293
`rest-data` is fine by me, but let's move `-panache` to the end:

- `quarkus-panache-rest-data`
- `quarkus-hibernate-orm-rest-data-panache`
- `quarkus-mongodb-rest-data-panache`

[2020-05-15 14:05] vitor-cardoso-tdx opened #9349 "Define layout.strategy on HibernateSearchElasticsearchRecorder#contributeBackendBuildTimeProperties"
**Description**
I think that we should have the possibility to choose our custom **layout.strategy** through quarkus configuration. There are some situations that can be useful to use a custom layout like:https://docs.jboss.org/hibernate/search/6.0/reference/en-US/html_single/#backend-elasticsearch-indexlayout.

**Implementation ideas**
Something like this:
[code]
With the property:
`quarkus.hiber

[2020-05-15 14:06] gytis commented on #9293
I assume the same applies to the common module? `quarkus-rest-data-panache`?

[2020-05-15 14:09] FroMage commented on #9293
Probably.

In retrospect we should have named `quarkus-panache-common` as `quarkus-data-panache` but that ship has sailed.

`quarkus-rest-data-panache` seems better than whatever `-common`.

[2020-05-15 14:15] gytis commented on #9293
Fair enough.
I'll try to rename everything and raise a PR together with the `path` configuration change by Monday. And then I'll update the guide.

[2020-05-15 14:24] #9302 closed

[2020-05-15 14:34] FroMage commented on #8795
Fixed upstream. Now waiting for a release.

[2020-05-15 15:14] geoand commented on #9342
From the brief look I took yesterday, it seems like we default to URLConnection when SSL isn't enabled.
The questions is, is there a good reason to stay with URLConnection?

[2020-05-15 15:52] famod opened #9352 "Test dependencies leak into Dev-Mode and QuarkusTest runtime classpath"
**Describe the bug**
In a multi-module project, a test module A ends up on the runtime classpath of Dev-Mode in another module B which uses module A in **test** scope.

E.g.:
[code]
- module `test` has test support code, e.g. `SomeTestSupport.java`
- module `dist` has:
  - a **test** scope dependency to module `test`
  - contains the Quarkus `build` goal
  - tries to load the `SomeTestSupport` cla

[2020-05-15 16:00] famod commented on #9352
The `QuarkusTest` part might be debatable but ideally, the "production code" that is being invoked by the test should be isolated from the test classpath.

[2020-05-15 16:06] maxandersen commented on #6147
My concern is less about *how* its generated but *when*.

ie. kubernetes yaml gets generated during our build and then used for deployment. makes sense.

but the tekton files are to be present before the build is done ... there is a chicken and egg issue here ;)

also, I was under the high impression that for tekton we wouldn't be pushing the "raw" tekton pipeline definitons but use something more

[2020-05-15 16:09] loicmathieu commented on #9293
+1 for the naming with `rest-data` but be careful that this will be the first time we have a library with `quarkus-something-data` so people may assume it's some kind of repositrory library( think spring-data, micronaut-data). But as I said +1 ;)

@FroMage `quarkus-panache-common` can be renamed, it's an internal library.

The fact that there is some plan for a RESTEasy with Panache is interesting

[2020-05-15 16:23] famod opened #9354 "Update h2 database"
1.4.200 was released over half a year ago and another release doesn't seem so far away.
Quarkus is still on 1.4.197 which prevents us in our current project to benefit from the Postgres compatibilty enhancements and other fixes that went in after 1.4.197.

I understand that 1.4.197 is still in place due to #1522. But has there ever been an effort to try to fix that problem in h2 (GH issue/PR?)?
I

[2020-05-15 16:24] famod commented on #8331
@ge0ffrey Any update? Thanks!

Btw, I created #9354 regarding the update of h2.

[2020-05-15 16:35] famod commented on #9339
@sorin-costea

You could also add it to the respective "Installed JREs" entry in Preferences.
But yeah, this _might_ have side effects and this also proofs that Eclipse needs a templating mechanism for Junit Run Configurations...

[2020-05-15 16:40] famod commented on #9354
I forgot to add that 1.4.200 does not fix the Agoral problem: https://github.com/famod/quarkus/actions/runs/105151071

[2020-05-15 16:53] iocanel commented on #6147
It really isn't that different. Tekton yaml generated during our build and then used for deployment. The deployed pipeline can be used to trigger other in cluster builds.

I understand the concern that the in cluster build may generate another Tekton yaml, but IMHO that's not really a problem.

[2020-05-15 17:51] diogocarleto commented on #8531
@loicmathieu should we close this one? Or wait the release?

[2020-05-15 17:52] arvidvillen opened #9355 "gelf: support HTTP authentication"
**Description**
When configuring _Amazon Elasticsearch Service_ with public access and you don't want to configure IP based security it is recommended to use HTTP authentication and it would be nice if `quarkus-logging-gelf` supported that.

**Implementation ideas**
Even if its not very clear in the documentation it seems that the extension supports HTTPS by setting `quarkus.log.handler.gelf.host`

[2020-05-15 18:19] arielcarrera opened #9357 "Spring Data Jpa - Slice return type must to avoid to trigger a count query"
**Describe the bug**
When a method returns a Slice, it triggers a count query

**Expected behavior**
When a method returns a Slice, must to avoid to trigger a count query

**Actual behavior**
When a method returns a Slice, it triggers a count query

**To Reproduce**
Steps to reproduce the behavior:
1. A repository method with a Slice return type and a Pageable argument
2.
3.

**Configuration**
---

[2020-05-15 18:25] GregJohnStewart commented on #9282
Gah, a little embarrassed I didn't pick up on that. I have noticed lately that some beans aren't properly injected with `@Inject`, don't know how I missed this particular one.

Also unsure why the usage of `@Inject` seems rather flaky, wiring works fine if the injected object/ bean is made part of the constructor.

At any rate, thanks for the tip.

[2020-05-15 18:26] #9282 closed

[2020-05-15 18:33] GregJohnStewart commented on #9287
I agree, but maybe that could be desirable? Like if one wanted to force the port value in any profile.

At any rate, ideally if the documentation mentions the relationship I think it would largely be fine.

Part of me thinks that this is a thing that one can easily overthink as well.

[2020-05-15 18:43] geoand commented on #9287
Would you like to add some documentation mentioning it?

[2020-05-15 19:14] famod commented on #9287
The test-port property documented here: https://quarkus.io/guides/getting-started-testing#controlling-the-test-port

But I guess this is not sufficient?

[2020-05-15 19:19] famod commented on #9354
cc @Sanne

[2020-05-15 19:19] GregJohnStewart commented on #9287
I suppose it does, but it's really hard to know sometimes what configuration is available and how it relates to others. Of course that page does explain that particular config entry well, but I was looking for something else. Though it could just be a not knowing where to look/ lack of google fu on my end.

[2020-05-15 19:29] carlosepdsJava-zz opened #9359 "BeanValidation javax.validation.Valid"
**Describe the bug**
In the quarkus.io guide, there is the possibility to validate the annotations, according to the link: https://quarkus.io/guides/validation.

**Expected behavior**
I would like to validate using @Valid.

**Actual behavior**
It does not work.

**To Reproduce**
Steps to reproduce the behavior:
1.   Code:
[code]
**Environment:**
- Output of `java 11`:
- Quarkus version `1.4.2`.
-

[2020-05-15 19:37] Sanne commented on #9354
What do you propose we do?

A first requirement for me is that a chosen H2 version is able to pass the testsuite of Hibernate ORM. As far as I know, we're using the last released version which was able to do it.

[2020-05-15 19:40] andrebreves commented on #6810
I have a problem about polluting `application.properties` with specific `%test` properties, which is not easily resolvable with environment variables in my specific CI/CD pipeline.

How about looking for properties from `application.properties` and `application.${quarkus.profile}.properties`, where all properties defined in the latter would be automatically prepended with `%${quarkus.profile}.`?

[2020-05-15 19:48] famod commented on #9354
Makes perfect sense!

Well, I guess it should start by creating issues at https://github.com/h2database/h2database/issues, no?

[2020-05-15 20:03] carlosepdsJava-zz opened #9360 "Eclipse MicroProfile RestClient always returns Unknown error."
**Describe the bug**
Calling a restAPI endpoint, using RestClient. The error message generated by the endpoint is not returned in the API exception.

**Using postman, this is original response error:**
[code]

**Expected behavior**
The expectation is that any service called will return the error message generated by the endpoint, and not an unknown error.

**Actual behavior**
the original error me

[2020-05-15 20:17] Sanne commented on #9354
yes that's a good plan, except that I can't volunteer for it as I already have many things on my plate.

Someone would need to volunteer to try out the latest (and possibly H2 master), diagnose any problem and provide some good reports to the H2 team.  I'd certainly love to see that happen, as H2 is amazing :)

[2020-05-15 20:29] loicmathieu commented on #8531
We can close it.

[2020-05-15 20:31] Sanne opened #9361 "Allow other extensions to define Hibernate ORM configurations"
**Description**
The Keycloack team is looking to reuse the Quarkus extension to boot Hibernate ORM, but needs to configure the persistence properties in various custom ways; in particular they would like to source some selected properties from a different configuration system.

I happened to have a refactoring in process of `HibernateOrmProcessor`, which is still evolving to make it possible to fi

[2020-05-15 20:32] famod commented on #9354
I can try to support but I fear this will quickly exceed my time budget (and knowledge about Hibernate and h2).

Do we need a ticket over at https://hibernate.atlassian.net/projects/HHH/issues/ ?

[2020-05-15 20:46] maxandersen commented on #6147
@iocanel i'm missing something i'm sure but what I hear you say is that the sequence a user will do with this estup is:

[code]

What is the value to that versus:

[code]

why the meta-generation need  instead of just a basic pipeline definition - what am I missing ?

[2020-05-15 20:51] Sanne commented on #9354
That's great! No fear, if it gets complicated I understand and we'll postpone - we'll just cross fingers and hope it's not that bad.

To send a pull request to Hibernate ORM, yes you'll need a JIRA first as we require commit logs to refer to some HHH-code .  But you could try to upgrade the version locally first, and create the ticket later if you prefer.

[2020-05-15 21:05] emmanuelbernard commented on #9338
@tqvarnst ^

[2020-05-15 21:23] maxandersen commented on #9339
technically we could have eclipse quarkus tools add a 'run as quarkus junit` run config which only extra feature would to add that flag.

[2020-05-15 21:40] famod commented on #9339
That would be a nice workaround, at least for the Eclipse users. Additionally it would be great if one could define custom arguments to apply to each run config (e.g. via Preferences).

[2020-05-15 22:19] iocanel commented on #6147
What I think you are missing is that there is no teketon-ci.yml that you
apply and have every thing magically working. You are going to need to add
lot of glue(rbac, registries, pv and so on). IMHO a tool that manages those
stuff would immensely improve the experience.

On Fri, May 15, 2020, 11:46 PM Max Rydahl Andersen <notifications@github.com>
wrote:

[2020-05-15 23:45] rmetzler opened #9398 "Add prometheus client extension"
**Description**

please add https://github.com/prometheus/client_java

[2020-05-16 03:31] FatihErdem commented on #9301
I have the same issue. I'm trying to add custom headers to a client and I want to get a property inside of a class that implements ClientHeaderFactory. But until now, no luck.

[2020-05-16 05:58] maxandersen commented on #6147
Okey - yes if we are talking full on raw tekton then yes. I was with the understanding tekton in OpenShift was providing a higher Level yml option where all this low level detail is not required.

Can't see this low level tekton approach be what we want users exposed to; even if pArtial generated.

There is still a chicken and egg problem with this.

[2020-05-16 06:02] maxandersen commented on #6147
Something like this is what I thought would make more sense https://github.com/bigkevmcd/tekton-ci

https://bigkevmcd.github.io/tekton-ci/pipeline-run/conversion/2020/05/04/bootstrap-pipeline-run.html

[2020-05-16 07:21] iocanel commented on #6147
So you would point users to use an external tool, with a different
configuration mechanism that may or may not play nicely with the manifests
we generate. Why? Just to avoid the chicken egg (the in-cluster build
producing a Tekton manifest)?

On Sat, May 16, 2020, 9:02 AM Max Rydahl Andersen <notifications@github.com>
wrote:

[2020-05-16 07:32] maxandersen commented on #6147
what manifests would it not play nice well?

I'm just comparing the experience to ie. Gitlab, GitHubs, Travis, JenkinsX etc. Where the complexity is much less.

Again, I still don't grok what you use to do the first build that generate the ci resources.

[2020-05-16 07:57] maxandersen commented on #9339
Does this also affect other ides ? Idea and Netbeans uses mvn/Gradle to
execute does it not ?

On Fri, 15 May 2020 at 23:40, Falko Modler <notifications@github.com> wrote:

--
/max
https://about.me/maxandersen

[2020-05-16 08:10] tkalmar commented on #9352
When looking at the target dir while dev-mode is running i notice two things:

1. target\quarkus\bootstrap\dev-app-model.dat contains no references to the test module, target\quarkus\bootstrap\test-app-model.dat contains references to the test module
2. target\modmono-quarkus-dist-dev.jar [only classpath of dev mode] META-INF\MANIFEST.MF contains no reference to test module, META-INF\dev-mode-cont

[2020-05-16 09:21] ozkanpakdil opened #9371 "mvn quarkus:dev NoSuchFileException for the provided jks"
**Describe the bug**
While writing https://stackoverflow.com/a/61834360/175554 I needed to test SSL with quarkus. normal command run with `java -jar pathofthejar` works but when I try to run `mvn quarkus:dev` I got this exception `Caused by: java.lang.RuntimeException: Failed to start quarkus
        at io.quarkus.runner.ApplicationImpl.doStart(ApplicationImpl.zig:275)
        at io.quarkus.runtim

[2020-05-16 09:54] iocanel commented on #6147
An external tool that is unaware of the quarkus Kubernetes extension would
require manual tuning for a lot of things, including:

- Location of the Kubernetes extension generated manifests.
- Image push secrets
- Registry config

That takes a near-zero config experience (which is what I am after) out of
the equation.

Note: I am not just talking about a building pipeline, I am talking all the
way

[2020-05-16 09:57] rodrigorodrigues commented on #9242
Thank you all for your quick support, you are right @jaikiran after changing java version for `java-1.8.0-openjdk-headless` in Dockerfile.jvm is working.

[2020-05-16 10:05] lordofthejars commented on #6147
My point is tekton is hard, then let's help users in the adoption by
providing them a set of tekton tasks specific to Quarkus so we improve the
DX. Not developing an external tool or integrating with it but a native
tekton experience.

El sáb., 16 may. 2020 11:54, Ioannis Canellos <notifications@github.com>
escribió:

[2020-05-16 11:07] maxandersen commented on #6147
Pr will be good. I seriously struggle to see how a “native” Tekton is competitive with existing ci systems declarative formats.

Auto generating ci for a single quarkus project just don’t feel right.

And @lordofthejars a set of tasks means what? A call to mvn ?

[2020-05-16 11:46] lordofthejars commented on #6147
Yes, I agree that Tekton is complex but well this is what it is, from
Quarkus point of view, I think we only can simplify the experience

Missatge de Max Rydahl Andersen <notifications@github.com> del dia ds., 16
de maig 2020 a les 13:07:

[2020-05-16 12:15] maxandersen commented on #6147
Of course we want to simplify what we can here. There are though a big worry free here we create something that only work with Quarkus and is not extendable where it need to be.

I.e. as soon as your repo as a ui frontend or set of services to build how does that work here ...

The kubernetes extension allow you to go all in Quarkus or mix it up.

Here I'm seeing us hardcode generation of tekton d

[2020-05-16 12:49] rquinio commented on #6088
Indeed if an application cannot start, it's a big deal - some log feedback is definitely missing.

It may be a bit spammy since it'll log up to once per second, and if topics are being created by an operator (e.g. Strimzi) as part of the first deployment, it may take a bit of time (10s-30s). But creating new topics doesn't happen every day.

[2020-05-16 13:10] wglanzer commented on #3859
Is there any progress on this topic? I just ran into the same issue with 1.4.2.Final.

[2020-05-16 14:31] dcdh opened #9377 "add @InjectSpy feature"
**Description**
Since Quarkus 1.4 we can inject mocked beans by using the `@InjectMock` annotation.

In some condition it is very hard to use mock and spy can be enough when we only want to ensure that methods have been called.

For example I use an interceptor and I just want to ensure that the @AroundInvode has been called.

[code]
In this case I just want to know that the method `execute` has b

[2020-05-16 18:28] emmanuelbernard opened #9379 "Offer distributed second level cache for Hibernate ORM"
Thinking with Cloud Native and memory optimization in mind.

[2020-05-16 18:29] emmanuelbernard commented on #9379
@Sanne

[2020-05-17 03:46] piyushwadhwani commented on #9354
i can help testing it if someone can guide me , I am new to quarkus though

[2020-05-17 05:06] geoand commented on #9377
Seems reasonable to me

[2020-05-17 09:17] semisft commented on #8793
Windows platform, and it seems to be fixed. Thanks.

[2020-05-17 09:17] #8793 closed

[2020-05-17 11:55] #9255 closed

[2020-05-17 12:06] aloubyansky commented on #9255
@stephenc please re-open if your issue hasn't been fixed with what I've merged. Thanks!

[2020-05-17 14:14] Sanne opened #9382 "Split default implementation of TenantConnectionResolver"
**Description**
When introducing multi-tenancy support for Hibernate ORM, a default `io.quarkus.hibernate.orm.runtime.tenant.DataSourceTenantConnectionResolver` implementation was added which implements the requirements of both `SCHEMA` and `DATABASE` strategies.

A minor optimisation for dead code elimination would be to have two different implementations, and only enable the bean of the multiten

[2020-05-17 14:53] stephenc commented on #9255
Will do when I test it on monday

[2020-05-17 15:07] rquinio commented on #9339
Regarding IntelliJ I have the same issue with:

[code]

But I just googled [this](https://intellij-support.jetbrains.com/hc/en-us/community/posts/360000071780-Running-JUnit-tests-in-IDEA-does-not-respect-consume-pom-xml-configuration-of-maven-surefire-plugin), and it actually works when changing to:

[code]

i.e.  `quarkus.log.level=DEBUG` in application.properties and I see debug logs, yay !

`sy

[2020-05-17 16:11] sonu3706 opened #9383 "PanacheMongoEntity custom query not working"
Hi,
I am facing a very peculiar problem while working with the Quarkus web application with Mongo DB.

Please refer to my below code
`Service code`
[code]
`Resource code`
[code]

`Entity Code`
[code]

So whenever I make `POST` request in service I am able to get data from mongo db by this piece of code which is implemented in Entity class `UserNote.findByUserId(userId);`
which has below implementa

[2020-05-17 16:54] FatihErdem commented on #7451
This is really important for me as well. At least Quarkus can support custom field instead of providing full support to Logstash. BTW, if it had, it would be amazing.

[2020-05-17 16:59] Dhruv-Garg79 opened #9385 "java.lang.RuntimeException: Failed to initialize Arc"
**Describe the bug**
I have created a simple quarkus project from code.quarkus.io and only added RESTEasy JSON-B as additional dependency. After importing it to Intellij Idea when I try to run it using `./mvnw compile quarkus:dev`
I am getting following error:
[code]

**Expected behavior**
The quarkus project should compile successfully and expose API

**Actual behavior**
Exception is thrown

**To

[2020-05-17 17:52] fatih-erdem opened #9386 "Support JSON logging for file"
**Describe the bug**
Quarkus supports JSON logging for the console. But when it writes to the file, it writes with a normal structure. We need to write JSON to the file as well as the console.

**Actual behavior**
By default when JSON logging for the console is enabled, it writes JSON format in the console.  But when it writes to the file, it writes with a normal structure.

There is a property ca

[2020-05-17 18:02] geoand commented on #9385
From the looks of it, the Java process that runs dev mode seems to be using Java 8.
How are you managing multiple Java installations on your system?

[2020-05-17 18:29] gwenneg commented on #8166
Yes @akoufa, you have to wait for Quarkus `1.5.0` to get this issue fixed.

[2020-05-17 18:51] Dhruv-Garg79 commented on #9385
I used `update-alternatives --config java` for setting java to openJDK 11
and in Intellij Idea project structure also it is set to openJDK 11 version.

[2020-05-17 19:03] Mefffiu commented on #6166
I am don't using profiles but for me, it is still not working for: `1.4.1.Final`

[2020-05-17 19:14] geoand commented on #9385
Can you add `-X` to mvn quarkus:dev and check what `java ...` is being executed?
That should show you which Java executable is being picked up.

Perhaps you have a JAVA_HOME variable set to point to Java 8?

[2020-05-17 19:33] dwamara commented on #8166
that's a bummer. I had to comment out the annotation in a lot of places, I will have to track them all down when updating to 1.5.
Any release time/date in plan?

[2020-05-17 20:10] Sanne opened #9389 "Enable CI coverage for the Hibernate Multi-tenancy integration tests"
**Description**
We'll need to list the new integration test module `<artifactId>quarkus-integration-test-hibernate-tenancy</artifactId>` among those running with the MariaDB service enabled.

It also needs to be able to login on MariaDB using the `root` account, using password `secret`.

This is a follow-up on #8545

[2020-05-17 20:31] #5681 closed

[2020-05-18 00:56] stuartwdouglas commented on #6026
Any sort of dynamic command based support will prevent native mode from being viable (barring some kind of 'mixed mode', where we use the native process to bootstrap the CLI and do simple tasks, and delegate to a JVM for any kind of dynamic support).

[2020-05-18 01:34] jimbogithub opened #9393 "QuarkusTestExtension fails for Enums with toString overrides"
**Describe the bug**

QuarkusTestExtension is looking up Enums via toString() which may have been overridden, resulting in no match found.  It should use name() instead.

Pull Request: https://github.com/quarkusio/quarkus/pull/9391

[2020-05-18 03:48] GregJohnStewart commented on #6780
I believe this issue has been resolved. Thanks for all the hard work!

[2020-05-18 03:48] #6780 closed

[2020-05-18 04:07] jaikiran commented on #9371
Hello @ozkanpakdil, I am not really sure how relative paths (the `./keystore.jks` in this case) are supposed to work in dev mode. When Quarkus dev mode is launched, it's working directory (i.e. the value of `user.dir` system property) is the `target/` directory of Maven. Clearly the `keystore.jks` won't reside in that directory (instead it will be in `target/classes/` directory). I don't know if r

[2020-05-18 05:25] geoand commented on #8593
ActiveMQ test from Camel seems to be failing @ppalaga

[code]

[2020-05-18 05:26] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/107796867

[2020-05-18 05:44] thejusjj commented on #8966
Facing same issue with Quarkus Project ( JDBC + Hibernate ). Just a JDBC connection to create a data source. quarkus.platform.version=1.4.2.Final

[2020-05-18 06:29] yrodiere commented on #9349
That's certainly doable. Out of curiosity, what forces you to rely on this feature? Don't you have complete control over the name and aliases of your Elasticsearch indexes?

[2020-05-18 07:00] machi1990 commented on #9389
Also we should enable native testing: a quick search of the newly added https://github.com/quarkusio/quarkus/tree/master/integration-tests/hibernate-tenancy ITs did not show like it is enabled for native ITs.

[2020-05-18 07:14] loicmathieu commented on #9383
@sonu3706 I'm not sure I fully understand your issue as you said that your `findByUserId()` works in the context of a POST and not a GET ?
Also your `NoteServiceImpl.getUserNoteObject() ` is missing, can you add it ?

[2020-05-18 07:15] loicmathieu commented on #6166
@Mefffiu this isssue is about using profile and `quarkus.mongodb.database` property, you said that you are not using profile and you code is still not working ?
Maybe I don't understand but you seem to have a different issue ? If this is the case please open an other issue on Github.

[2020-05-18 07:15] arturs-cc opened #9395 "Parsing clientContext header seems to be broken in quarkus-amazon-lambda extension"
**Describe the bug**
This issue concerns two classes overriding the `startPollLoop(ShutdownContext context) `method.
Namely:

[code]

Both of them creates a AbstractLambdaPollLoop object which takes 3 arguments.
In both of those cases AbstractLambdaPollLoop is created with those arguments:
`AmazonLambdaMapperRecorder.objectMapper,
                AmazonLambdaMapperRecorder.cognitoIdReader, AmazonL

[2020-05-18 07:45] abelsromero opened #9396 "Sub-modules in same project not being indexed when using `quarkus.index-dependency.` properties"
**Describe the bug**
Projects in a Quarkus mulimodule-setup are not processed when using properties configuration.
[code]
Addind the properties shows this error when running in native mode like
[code]

**Expected behavior**
Modules should be indexed and processed to enable Quarkus features (also CDI, etc.).

**Actual behavior**
As explained  [stackoverflow.com/55513502](https://stackoverflow.com/q

[2020-05-18 07:51] danowrw opened #9397 "not a subtype on java 11 with fault-tolerance - when running on custom ForkJoinPool"
**Describe the bug**
When executing streams on custom ForkJoinPool with fault-tolerance annotation and java 11 Adopt you get below. This works on java 8 Adopt.

not a subtype
	at java.base/java.util.concurrent.ForkJoinTask.get(ForkJoinTask.java:1006)
	at org.acme.ExampleResource.notWorkingOnJava11Adopt(ExampleResource.java:36)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Nat

[2020-05-18 07:52] Dhruv-Garg79 commented on #9385
Thanks @geoand, It was actually running with java 8.
I have not set JAVA_HOME and thought `update-alternatives --config java` was enough. I tried to check places where mvnw script is trying to find JAVA_HOME, but still can't understand why this is happening.
It worked after setting JAVA_HOME to java 11.
sorry, it was my mistake.

[2020-05-18 07:52] #9385 closed

[2020-05-18 07:54] geoand commented on #9385
Thanks for checking @Dhruv-Garg79

[2020-05-18 08:05] #8251 closed

[2020-05-18 08:05] #8703 closed

[2020-05-18 08:05] #8978 closed

[2020-05-18 08:17] loicmathieu commented on #9355
@arvidvillen the `logstash-gelf` library didn't support HTTP authentication yet so I put this enhancement on ice untill it supports basic auth, then we can have a look at supporting it (and documenting the HTTP support).

[2020-05-18 08:18] geoand commented on #9397
cc @michalszynkiewicz @Ladicek

[2020-05-18 08:18] geoand commented on #9396
@aloubyansky would know best about this :)

[2020-05-18 08:24] Ladicek commented on #9397
`Caused by: java.util.ServiceConfigurationError: io.smallrye.config.SmallRyeConfigFactory: io.quarkus.runtime.configuration.QuarkusConfigFactory not a subtype`

Wonder how that could be caused by FT...

[2020-05-18 08:26] geoand commented on #9393
Fixed by #9340

[2020-05-18 08:26] #9393 closed

[2020-05-18 08:27] Ladicek commented on #9397
The reproducer has this comment:

[code]

So definitely sounds like not caused by FT.

[2020-05-18 08:28] Ladicek commented on #9397
I'll try the reproducer anyway, and perhaps it's fixed by using ConProp -- I'll report back.

[2020-05-18 08:34] Ladicek commented on #9397
Hmm, if I let the task run on an injected `ManagedExecutor`, it works fine, but if I run the task `ThreadContext.contextualRunnable`-ized on the custom FJ pool, then it fails :open_mouth:

[2020-05-18 08:34] mgorniew commented on #9309
Servlets registered `ServletBuildItem` will not respect `@MultipartConfig`. Because of that `FacesServlet` will not parse form data. I'm working on PR which will fix that.

[2020-05-18 08:37] geoand commented on #9397
So sounds like an MP - CP problem, no?

[2020-05-18 08:45] Ladicek commented on #9397
Actually, no. Turns out that the FJ pool sets the context classloader for all threads in the pool to the system classloader. This can be worked around by using a custom `ForkJoinWorkerThreadFactory` that returns a subclass of `ForkJoinWorkerThread`, which allows using a constructor that doesn't set the context  classloader. Like this:

[code]

[2020-05-18 08:48] jaikiran commented on #9397
This looks like an issue with classloading. The `ForkJoinPool` uses the system classloader (which won't have access to some the application jars). Quarkus "fixes" this issue by hacking the "common fork join" pool to set the right classloader for it https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/runner/bootstrap/ForkJoinClassLoading.java#L13. However since

[2020-05-18 08:49] #7885 closed

[2020-05-18 08:49] #9204 closed

[2020-05-18 08:51] Ladicek commented on #9397
But, if you want to use thread pools manually, I'd suggest using MP CP `ManagedExecutor`. You can configure max number of running tasks and queue size by creating your own instance using `ManagedExecutor.builder()`.

In any case, this is not a bug in Quarkus, I'd say.

[2020-05-18 08:51] jaikiran commented on #9397
@Ladicek's reply a few minutes before mine has the sample code which I think should fix this issue for the application
https://github.com/quarkusio/quarkus/issues/9397#issuecomment-630037633

[2020-05-18 08:51] geoand commented on #9397
But at the very least, we should have some piece in the documentation telling people about this?

[2020-05-18 08:55] sonu3706 commented on #9383
@loicmathieu
Adding `NoteServiceImpl.getUserNoteObject() `

[code]

[2020-05-18 09:00] Ladicek commented on #9397
I can't think of any immediately obvious place in the docs where we can put this and expect people to actually read it :-)

What I think we should do is make context classloader a propagatable item in MP CP. Because if people want to propagate the request scope, propagate current transaction, propagate security context, etc., to their thread pool tasks and use custom thread pools (such as arbitrar

[2020-05-18 09:06] Ladicek commented on #9397
Hmm, but that seems to be there already: https://github.com/eclipse/microprofile-context-propagation/blob/master/api/src/main/java/org/eclipse/microprofile/context/ThreadContext.java#L235-L247

@FroMage @manovotn Do I understand it correctly that the `Application` context in MP ConProp also includes the context classloader? Because it looks like in Quarkus, the context classloader doesn't propagat

[2020-05-18 09:09] #8916 closed

[2020-05-18 09:10] vitor-cardoso-tdx commented on #9349
Hi @yrodiere ,

So the problem is the default impl of IndexLayoutStrategy from Hibernate Search don't allow to manipulate the index /alias naming conventions.
In my context I want to apply versioning on indexes and use the "blue/green" using alias, but for this works I need to implement my custom IndexLayoutStrategy.

So quarkus right now don't allow to use both persistence.xml and application.pro

[2020-05-18 09:10] jaikiran commented on #9397
Hello @Ladicek, it's not that the context classloader doesn't propagate in Quarkus. The issue here is that the application is using an API (the `ForkJoinPool` constructor which takes just the 1 int param) which (as per its API construct) is instructed to use a `defaultForkJoinWorkerThreadFactory` which doesn't honour the current thread's context classloader. That's why switching to the multi-arg c

[2020-05-18 09:11] #9279 closed

[2020-05-18 09:12] Ladicek commented on #9397
@jaikiran I'm specifically talking about MicroProfile Context Propagation at this point. If that included propagating the context classloader (at this point, I believe it should, but in Quarkus, it doesn't), then I could easily run `ThreadContext.contextualRunnable(() -> { ... })` tasks on arbitrary thread pools, including custom FJ pool.

[2020-05-18 09:19] sleberrigaud commented on #9287
I'm facing a similar situation where I'd like to know the actual port being used by Quarkus, _before_ any request is made (so for example on `StartupEvent`). This becomes even more important when in tests (or prod) the configured port is `0` for randomization.

I couldn't find a way to access that port number at runtime. I've noticed that it's being set on `io.vertx.core.http.HttpServerOptions` bu

[2020-05-18 09:26] FroMage commented on #9397
It doesn't propagate the TCCL indeed. We've never had a use-case for it. I guess we could, but I would have to ask @stuartwdouglas his opinion about this because it may be harmful.

[2020-05-18 09:33] loicmathieu commented on #9383
@sonu3706 can you provide a reproducer somewhere as I have no idea what's going on reading the issue description.

[2020-05-18 09:43] manovotn commented on #9397
`Application` context is underspecified in MP CP. The API mentions TCCL so in theory it could/should be there, but to my knowledge there are no TCKs testing this. SR doesn't implement this because, as Stephane said, we haven't had a use case yet.

[2020-05-18 09:43] Ladicek commented on #9397
Well, here's one :-)

[2020-05-18 09:44] serrodcal opened #9401 "RESTEASY003210: Could not find resource for full path after updating to 1.4.2.Final"
**Describe the bug**
After updating my application from 1.3.2.Final to 1.4.2.Final I always get `RESTEASY003210: Could not find resource for full path: http://localhost:8080/swagger-ui` error trying to access to `http://localhost:8080/swagger-ui` resource.

**Expected behavior**
The browser should get the Swagger UI page.

**Actual behavior**
The output in DEBUG is the following:
[code]

**To Repr

[2020-05-18 09:52] manovotn commented on #9397
Yeah, definitely not against it.
I am just thinking... SR propagates everything by default, so assuming we add it there, anyone using it might be in for a surprise if they are relying in TCCL in their apps...
Alternatively, we could just add it into Quarkus for now, but I would also love to hear @stuartwdouglas opinion on that.

[2020-05-18 09:52] ppalaga opened #9403 "Import grpc-bom in quarkus-bom instead of managing individual grpc artifacts"
**Description**
Since the GRPC extension was moved to Quarkus source tree, we (Camel Quarkus) have hard time to align dependencies coming from Quarkus with the one coming from Camel. This is because Quarkus runtime BOM manages just `grpc-api` and `grpc-stub`. We'd actually need much more, nearly all listed in https://repo1.maven.org/maven2/io/grpc/grpc-bom/1.29.0/grpc-bom-1.29.0.pom

So is there a

[2020-05-18 10:12] famod commented on #9352
cc @stuartwdouglas @geoand

[2020-05-18 10:15] geoand commented on #9352
Sounds more like something for @aloubyansky

[2020-05-18 10:16] serrodcal commented on #8974
Hi again, I was trying to figure out which dependency brakes the distroless option. Finally, I found 'quarkus-smallrye-opentracing' dependency results in `./application: error while loading shared libraries: libstdc++.so.6: cannot open shared object file: No such file or directory`.

It looks like the system needs the 'libstdc++6' library (according this link -> https://askubuntu.com/questions/409

[2020-05-18 10:24] yrodiere commented on #9349
Right, but that's possible with the default layout strategy, which defines two aliases per index: `<indexName>-read` and `<indexName>-write`. You just have to make these aliases point somewhere else to implement a "blue/green" swap.

Ok, so it's just about using different naming conventions. Understood.

[2020-05-18 10:47] aloubyansky commented on #6067
I've fixed a couple of related issues that I could actually reproduce. They are
https://github.com/quarkusio/quarkus/issues/9279
https://github.com/quarkusio/quarkus/issues/9255
I believe this issue should be fixed now. Please give the upcoming 1.5.0.CR1 (planned to be released on May 19) a try. If it does not fix it in your environment, please open a new issue with a very detailed description. Th

[2020-05-18 10:47] #6067 closed

[2020-05-18 10:56] famod commented on #9352
Ok. Somehow "classloading" triggered your names in my head. 😉

[2020-05-18 11:24] gunnarmorling commented on #8909
You can prevent that by externalizing all topic names into other properties which then are referenced by `quarkus.kafka-streams.topics` and from within your topology producer. E.g. that's [what I'm doing](https://github.com/debezium/debezium-examples/blob/master/auditlog/log-enricher/src/main/resources/application.properties#L1-L7) in the Debezium audit log example.

That being said, I really like

[2020-05-18 11:40] rquinio commented on #8909
Interesting, I didn't know it was possible to reference another property via ${} ! I'm using Maven properties + filtering application.properties to avoid the duplication today.
Does it work even if the reference is overridden at runtime via environment variables for instance AUDIT_VEGETABLES_TOPIC=dbserver2.inventory.vegetable ?

[code]

But yeah, the less configuration the easier !

[2020-05-18 11:41] stuartwdouglas commented on #9352
@aloubyansky this is because our workspace discovery just discovers every module in the workspace, it does not test to see if the module is actually a dependency of the current project.

[2020-05-18 11:42] stuartwdouglas commented on #9352
Running with -DnoDeps is a temporary workaround

[2020-05-18 11:48] aloubyansky commented on #9352
I haven't yet looked into this but it doesn't sound like workspace discovery is wrong here. Sounds like a scope-related issue.

[2020-05-18 11:53] aloubyansky commented on #9232
@tobad357 i'm creating a reproducer. Could you please look at https://github.com/aloubyansky/quarkus/tree/9232/devtools/gradle/src/functionalTest/resources/inject-bean-from-test-config ? It works. How should it be adjusted to reproduce the issue? Thanks.

[2020-05-18 11:53] gunnarmorling commented on #8909
Worth trying, but yes, it'd be my expectation that it works.

[2020-05-18 11:54] aloubyansky commented on #9232
BTW, you're right about AppArtifactKey, I just need to get the reproducer right.

[2020-05-18 12:00] cescoffier commented on #7404
Fixed by https://github.com/smallrye/smallrye-reactive-messaging/pull/549.

[2020-05-18 12:01] stuartwdouglas commented on #9352
No, the project contains two modules, and the main module only has a test scoped dependency on the other module. If you remove the dependency is still leaks into this modules scope.

Basically we are assuming that everything in the active project goes in (via io.quarkus.deployment.dev.DevModeContext#additionalModules which translates into io.quarkus.bootstrap.app.QuarkusBootstrap#additionalApplica

[2020-05-18 12:24] #9191 closed

[2020-05-18 12:28] geoand commented on #9403
cc @cescoffier

[2020-05-18 12:34] aloubyansky commented on #9352
I am looking into this. BTW, I don't think the test failure is a wrong. It's on the test classpath, so it should be loadable.

[2020-05-18 12:35] stephenc commented on #9255
So I cannot build locally because `org.apache.maven.plugins:maven-compiler-plugin:3.8.0-jboss-2 or one of its dependencies could not be resolved` as my corporate mirror blocks the reop quarkus pulls its custom compiler plugin version from...

Now while I  could switch my settings.xml the version I build would then fail to be detected  once I switch back to actually test.

I suspect I'm going to ha

[2020-05-18 12:37] stuartwdouglas commented on #9352
I have a pr with a fix. I agree the test should fall, but it should not be there in Dev mode

[2020-05-18 12:40] tandraschko commented on #9309
cool! can we merge it into the next release?

[2020-05-18 12:50] gsmet commented on #9403
I created a PR after discussing with @cescoffier .

[2020-05-18 12:54] aloubyansky commented on #9255
Alright, it's supposed to be released tomorrow. Thanks for your efforts so far.

[2020-05-18 12:59] aloubyansky commented on #9352
My point was that it could have been done in DevMojo. I.e. we know the project deps in there e.g. I expect `project.getArtifacts().iterator().next().getScope()` to return the actual classifier. So when we do `localProject.getSelfWithLocalDeps()` we could check which classifier is actually used for all those local projects and filter the test-scoped ones. That way we wouldn't need to complicate it

[2020-05-18 13:01] #9298 closed

[2020-05-18 13:01] #5211 closed

[2020-05-18 13:01] #9135 closed

[2020-05-18 13:03] sonu3706 commented on #9383
@loicmathieu I will try to provide a reproducer. May be can you guide where can I put this so that you can test as I have no idea for the same

[2020-05-18 13:13] machi1990 commented on #9389
Great.

[2020-05-18 13:20] loicmathieu commented on #9383
You can add a ZIP on a comment or create a repository on Github.

[2020-05-18 13:28] gastaldi commented on #9294
Here is what I have prototyped so far: https://github.com/gastaldi/quarkus-extension-catalog

My idea is to have a GitHub Action that will generate a JSON file containing all the data resolved from the Maven repositories in the catalog when a GitHub Release is triggered. Thoughts?

[2020-05-18 13:29] gastaldi commented on #9294
Here are the model classes to transform the intermediary model in the extension catalog repository into the models understood by our plugins: https://github.com/gastaldi/quarkus-extension-catalog-service

[2020-05-18 13:31] sonu3706 commented on #9383
@loicmathieu Here is my repo for the reference
`https://github.com/sonu3706/keep_note`

[2020-05-18 13:37] sberyozkin commented on #8506
quarkus-smallrye-jwt will not need an initial configuration in Quarkus 1.5.0

[2020-05-18 14:16] aloubyansky commented on #9352
That shouldn't be happening. You mean if you comment out the dependency on `modmono-quarkus-test` in `dist/pom.xml` it'll still leak into the classpath? I just tried it, it's not ending up on the classpath.

[2020-05-18 14:28] tobad357 commented on #9232
This fails in the same way for me
[code]

Gradle Version
[code]

[2020-05-18 14:31] famod commented on #9352
Btw, in our "real" project we have something like:
[code]
`server` is where all modules come together and where the Quarkus build goal is configured.

I just reduced the setup to a minimum for the reproducer. So we do not have just a test dependency.

[2020-05-18 14:37] michael-schnell opened #9415 "Flyway with "multiple datasources" does not migrate at start"
**Describe the bug**
There are two datasources that should be be migrated on startup by Flyway, but the scripts are not executed. From the logs it can bee seen that the directories are recognized correctly by the Flyway extension, but not applied later. This has been working before (~1.3.x) and stopped working with current master source.

Example (database/mycompany)
[code]

**Expected behavior**

[2020-05-18 14:41] michael-schnell commented on #9415
@barreiro @Sanne @geoand @gsmet Any idea?

[2020-05-18 14:42] geoand commented on #9415
I'll take a look

[2020-05-18 14:44] famod commented on #9339
@rquinio Thanks for sharing these Eclipse Bugzilla links.

@maxandersen

So I guess someone has to create a [JBIDE-ticket](https://issues.redhat.com/browse/JBIDE-27233?jql=project%20%3D%20JBIDE%20AND%20component%20%3D%20quarkus%20order%20by%20key%20desc) for Eclipse?

[2020-05-18 14:47] #9349 closed

[2020-05-18 14:53] geoand commented on #9415
I am using the absolute latest Quarkus from `master`, and I see

[code]

Which suggests to me that it's working (I am not really a Flyway user so I might be missing something).
Are you seeing something else or am I missing something?

[2020-05-18 14:58] michael-schnell commented on #9415
It says "Current version of schema "public": << Empty Schema >>" and " Schema "public" is up to date. No migration necessary." which means nothing is applied. If you look at the database it has the Flyway table, but no version - Should be "V1.0.0__create_fruits.sql" for both databases. Before both scripts were picked up on startup and there was a tabel "fruits" created by the scripts in both datab

[2020-05-18 14:59] aloubyansky commented on #9232
Just tried it again. It appears to be fixed in master. It's probably related to the choice of the configuration made for the test classpath. Anyway, I'll add it as a test to our testsuite to make sure we don't break it in the future.

[2020-05-18 15:02] tobad357 commented on #9232
Great, hoping for a 1.4.3 release with it in so we can upgrade

[2020-05-18 15:03] aloubyansky commented on #9232
I'm not sure about 1.4.3 but it's gonna be in 1.5.0.CR1 planned for tomorrow, which will include other Gradle-related fixes too.

[2020-05-18 15:04] aloubyansky commented on #9232
Ok, so I am closing the issue.

[2020-05-18 15:04] #9232 closed

[2020-05-18 15:13] aloubyansky commented on #9232
@Meemaw your reproducer, btw, is still failing. So, please, open your own issue. Thanks a lot.

[2020-05-18 16:01] sorin-costea commented on #9339
In case somebody is interested, I use the workaround like this: I created a separate JRE definition in Eclipse, with only difference that it has as default VM arguments the logging manager. I use THIS as targeted runtime for Quarkus projects. It served me well, no need to define anything per run configuration anymore. But your mileage may vary, of course...

[2020-05-18 16:03] geoand commented on #9415
Turns out that this problem is rather serious.

What I am seeing is that when multiple datasources are being used, dev-mode does not populate the named datasources of `FlywayBuildTimeConfig`.

Here is a screenshot from the debugger of the non-working dev-mode:

![dev-mode](https://user-images.githubusercontent.com/4374975/82234381-0dfc1a80-993a-11ea-8205-52bdbef88871.png)

and here is the screensh

[2020-05-18 16:43] aloubyansky opened #9422 "Devmode should be recognizing compile-only and runtime-only dependencies"
Gradle supports `compileOnly` and `runtimeOnly` classpath dependencies. However, at this point our devmode support does not allow isolating `compileOnly` dependencies from the runtime classpath.
And isolate the `runtimeOnly` classpath from the compile classpath.

fyi @stuartwdouglas

[2020-05-18 16:56] famod opened #9424 "quarkus-maven-plugin: publish full documentation of all parameters"
AFAIK, the only way to see all parameters of a goal, e.g. `dev`, is to look them up in the source code, e.g. https://github.com/quarkusio/quarkus/blob/master/devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java

Ideally, a Maven plugin should have a "site" somewhere which contains all the goals and parameters, e.g.: https://www.mojohaus.org/flatten-maven-plugin/plugin-info.html

[2020-05-18 17:12] michael-schnell commented on #9415
Same when using the 'database' profile that is required for the quickstart when using a database per tenant.

Example in native mode which also does not work:
[code]

[2020-05-18 17:18] michael-schnell commented on #9389
At least I tested it manually that it works also in native mode with `mvn clean install -Dtest-mariadb -Ddocker -Dnative`  ;-)

But indeed it would be good  to have both options automated with the regular build.

[2020-05-18 17:22] rquinio commented on #9398
@rmetzler I guess the use case is for someone using  [Prometheus client API](https://github.com/prometheus/client_java/tree/master/simpleclient/src/main/java/io/prometheus/client) to be able to see their existing metrics via the Quarkus /metrics endpoint, right ?

Some thoughts:
* since Prometheus client API is not annotation-based like microprofile-metrics and it's not a 1:1 API mapping, I guess

[2020-05-18 17:27] michael-schnell commented on #9382
Sounds good. I can do it right after the other PR is done: https://github.com/quarkusio/quarkus/pull/9423

[2020-05-18 17:31] galderz commented on #8593
Please note that there might more hidden failures because there are some native tests that are not being run by CI, e.g. camel w/ jira. And no, mockito tests are not enough here. More info in https://github.com/apache/camel-quarkus/issues/1166

[2020-05-18 17:31] geoand commented on #9415
In any case, if no one beats me to it, I'll continue debugging tomorrow

[2020-05-18 17:53] cescoffier commented on #8974
Definitely! Thanks!

[2020-05-18 18:40] danielmaison commented on #9342
Got PATCH request to work by setting quarkus.ssl.native=true

If you decide to stay with URLConnection for some reason I'd love to see a config property for selecting engine.

[2020-05-18 18:46] geoand commented on #9342
I don't see why URLConnection should be the default, so let's wait for input for @kenfinnigan and @asoldano

[2020-05-18 18:53] sirAlexanderT opened #9428 "Flyway Startup Highly Impacts Quarkus Start-up Times"
**Describe the bug**
I had an app that started in approx. 0.5sec - 1 sec .. I then included flyway and the startup time went up to 2.9 secs "Even when No migration is necessary".. this is in .jvm mode. Is there a way of bringing this time down? shame as this edges closer to other frameworks start up times.

Compromises on the Quarkus speed promise and prevents adoption.

Similar to the liquibase i

[2020-05-18 19:06] Sanne commented on #9389
FWIW, we don't run native tests by default as otherwise the build takes way too long for the occasional contributor. But sure, we want this to be tested - included in native - on CI regularly.

that's what my PR is addressing.

[2020-05-18 20:17] aloubyansky commented on #8999
Given that the `application.properties` in test resources completely replaces the main one, you need to move the property to the test `application.properties`. I did this in your original reproducer and fixed the build.

[2020-05-18 20:23] aloubyansky commented on #8999
It does then break the devmode because I actually removed it from the main application.properties.. But if I add it back then it fixes quarkusDev. So it's looking consistent.
This is the relevant PR #8930
Since the behavior looks as expected to me, I am going to close this issue. Let me know in case I missed something. If you find a case where this is messed up, please open a new issue with the co

[2020-05-18 20:23] #8999 closed

[2020-05-18 21:23] aloubyansky commented on #9177
Thanks a lot for the reproducer. Bad news, looks like with master it's getting even worse
[code]

[2020-05-18 23:00] famod commented on #9354
We now have a Hibernate ticket for that: https://hibernate.atlassian.net/projects/HHH/issues/HHH-14031

@piyushwadhwani Hibernate has to update to a newer h2 version first, so there is nothing Quarkus-specific for now.

[2020-05-19 00:44] thesteve0 opened #9432 "Include just the maven dependencies needed for a quickstart"
**Description**
I love the quickstarts as simple easy ways to add functionality. This is a very minor request.
All the quickstarts assume you are starting a project from scratch so they use Maven to generate the whole project. For me I already have a project and I want to just add the functionality in the quickstart to my app. So I just want to see the maven dependencies I need to get the project.

[2020-05-19 00:46] stuartwdouglas commented on #9397
How are you going to propagate it to the FJ pool? At least on JDK 8 there are no hooks for that, which is why I have the current crappy hack, not sure if the situation has improved in 11.

[2020-05-19 00:57] stuartwdouglas commented on #9422
Maven has the same thing (provided = compileOnly, runtime=runtimeOnly).

I actually just ran into an issue caused by this with my reagument PR, we are resolving provided deps which includes graal svm, which includes a bundled old version of ASM.

If I get time today I might make an attempt at this based on your PR for the 'test dep leakage' issue.

[2020-05-19 01:00] stuartwdouglas commented on #9352
I tested it and it did leak into the CP in dev mode, even when the dep was commented out. Your PR will fix it though.

[2020-05-19 02:19] stuartwdouglas commented on #6832
This should have been fixed by https://github.com/quarkusio/quarkus/pull/8973

[2020-05-19 02:19] #6832 closed

[2020-05-19 03:11] stuartwdouglas commented on #9415
It's probably related to
https://github.com/quarkusio/quarkus/commit/86c18ff469b1fbb8b8d24daa7518932eba31fb26
,
although without this commit dev mode injection of beans does not work at
all, so you can't just revert it to check.

I think this is the same issue as
https://github.com/quarkusio/quarkus/issues/9296 .

I am going to investigate more, however this code is really complex so it
may take s

[2020-05-19 03:16] jaikiran commented on #9428
Hello @sirAlexanderT, can you try this same against 1.4.2 of Quarkus please and see if that shows any improvements?

[2020-05-19 03:33] gastaldi commented on #9401
I can confirm this is reproducible with the steps above. Also It works with `mvn quarkus:dev`

[2020-05-19 03:40] gastaldi commented on #9401
That happens because by default the swagger-ui is only included when the application is running in dev mode.

To include it everytime, you need to add the following to your `application.properties`:
[code]

[2020-05-19 03:41] gastaldi commented on #9401
This is documented here: https://quarkus.io/guides/openapi-swaggerui#use-swagger-ui-for-development

Closing as this is not a bug.

[2020-05-19 03:41] #9401 closed

[2020-05-19 03:44] jaikiran commented on #9295
I've raised https://github.com/quarkusio/quarkus/pull/9435 with a potential fix.

[2020-05-19 03:48] gastaldi commented on #9360
@radcortez could this be a RestEasy client bug?
@carlosepdsJava any chance you can create a simple reproducer project with a small test?

[2020-05-19 04:27] stuartwdouglas commented on #9415
The issue is here:
https://github.com/quarkusio/quarkus/commit/86c18ff469b1fbb8b8d24daa7518932eba31fb26#diff-7fbde848a99a6f09343b25f15981ee40R618

Something to do with the converters, but I am still looking into it.

Stuart

On Tue, 19 May 2020 at 13:11, Stuart Douglas <sdouglas@redhat.com> wrote:

[2020-05-19 04:30] aloubyansky commented on #9422
I thought about Maven and `provided` opening this issue too. It's not the same. `provided` is (mis)used for that. But what provided means is "use the dependency for compilation only, it will be provided at runtime by the environment". In that case we should be including `provided` for running the app. I am not sure the promise is the same for `compileOnly` in Gradle.

[2020-05-19 04:35] stuartwdouglas commented on #9422
I don't think we should be supplying 'provided', otherwise from the point of view of Quarkus it is the same as 'compile'.

We also use provided for artifacts that we expect substrate VM to provide, which definitely should not go into the app.

[2020-05-19 04:52] aloubyansky commented on #9422
You are right, I was just thinking the same. So, yes, we should not included `provided`.

[2020-05-19 05:22] #6088 closed

[2020-05-19 05:24] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/108904210

[2020-05-19 05:31] geoand commented on #9415
I'll look as well

[2020-05-19 05:39] mariofusco commented on #8694
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/108905143

[2020-05-19 05:39] stuartwdouglas commented on #9415
I think I have a fix https://github.com/quarkusio/quarkus/issues/9296

On Tue, 19 May 2020 at 15:31, Georgios Andrianakis <notifications@github.com>
wrote:

[2020-05-19 05:42] geoand commented on #9415
Cool, looking

[2020-05-19 06:39] ia3andy commented on #3340
This is the related codegen issue:
https://github.com/quarkusio/quarkus/issues/8178

I intend to remove the `ZipProjectWriter`  and instead provide a way to zip/unzip a project folder (when it's already generated).

[2020-05-19 06:42] geoand commented on #9428
If you could also try Quarkus from `master` (https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master), that would be great

[2020-05-19 06:43] #9403 closed

[2020-05-19 06:50] #9030 closed

[2020-05-19 07:08] agoncal commented on #7188
(cc @FroMage that's the issue I was mentioning during the podcast)

[2020-05-19 07:14] emmanuelbernard opened #9438 "Test"
**Description**
(Describe the task here.)

**Implementation ideas**
(If you have any implementation ideas, they can go here.)

[2020-05-19 07:15] #9438 closed

[2020-05-19 07:37] FroMage commented on #9397
If you're using MP-CP we can make a `ThreadContextProvider` that captures and restores the TCCL.

[2020-05-19 07:53] aesteve commented on #6424
I tried to reproduce the second issue (ftr there's already a reproducer for the original issue) [here](https://github.com/aesteve/quarkus-testresources-reproducer) but didn't even manage to, because I'm facing another bug. Tests are failing with `NoSuchFileException`.

Maybe it's because I'm on a Linux machine (was on MacOS when I faced the other issue), or maybe I'm missing some gradle conf.

if

[2020-05-19 07:57] FroMage commented on #7188
@mkouba so, why do we run ArC before the Panache enhancers? How does ArC load the bytecode to see which methods need interceptors? ClassLoader, Jandex, or using an ASM transformer?

[2020-05-19 08:01] aesteve commented on #8097
https://github.com/aesteve/quarkus-testresources-reproducer

I tried to, but faced ` NoSuchFileException`  while running the tests, so I guess something else is wrong, but can't find what. Gonna experiment with other Quarkus versions

[2020-05-19 08:02] Ladicek commented on #9397
I was only talking about using MP CP, which users must do explicitly. (I'd personally even consider removing that crappy hack, if it's only for user applications -- when users move execution to a separate thread pool, they should use ConProp.)

[2020-05-19 08:15] #6458 closed

[2020-05-19 08:22] sirAlexanderT commented on #9428
cheers @jaikiran and @geoand will do and report back

[2020-05-19 08:33] #9155 closed

[2020-05-19 08:45] radcortez commented on #9360
@carlosepdsJava already reached out to me about this. He shared the project with me and I don't think the issue is with RestEasy.

I don't have the code anymore, but as far as I remember, the Rest Client endpoint was mapped directly with a DTO, so when you get an error, the payload doesn't match the DTO. My recommendation was to map it to `Response`, check the status code and use `readEntity` with

[2020-05-19 08:45] aloubyansky opened #9445 "Ecosystem Windows CI"
That's a task and a bug. The task is to add Windows to the CI.
The bug is it will most probably fail today according to https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Adding.20extension.20to.20quarkus-platform.

[2020-05-19 08:46] geoand commented on #9445
cc @maxandersen

[2020-05-19 08:50] loicmathieu commented on #9383
There is a bug inside your `createNote()` method it never calls `userNote.persist();` so the entity is never persisted inside the database.

[2020-05-19 08:54] miron4dev commented on #9395
I guess, this issue occurs because of the wrong third argument

https://github.com/quarkusio/quarkus/blob/master/extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaRecorder.java#L143

[2020-05-19 08:54] sirAlexanderT commented on #9428
@jaikiran Quarkus version 1.4.2 is pretty much the same approx. 2.9 - 3.1 secs

[2020-05-19 08:55] sirAlexanderT commented on #9428
#

[2020-05-19 08:55] sirAlexanderT commented on #9428
oops accidentally clicked on close!

[2020-05-19 09:04] asoldano commented on #9342
I think @kenfinnigan did this, I honestly don't remembers the reason.

[2020-05-19 09:10] rsvoboda commented on #6458
@Sanne this looks pretty important, PR fixing this is component update, no test coverage on Quarkus side. I looked a bit to HHH side and found https://github.com/hibernate/hibernate-orm/commit/d96a6dc474b4764bbdd574e0d0cbd555c29941fe for test coverage.

Are there any specifics of Quarkus which would require test coverage here or it's fine to have coverage in Hibernate test-suite?

[2020-05-19 09:15] Sanne commented on #6458
I'd try to live with the Hibernate upstream tests as much as possible - there's no specific here other than Quarkus using that feature.

[2020-05-19 09:16] rsvoboda commented on #6458
Ok, thanks for confirmation

[2020-05-19 09:36] mkouba commented on #7188
@FroMage I have no idea when Panache enhancers are executed. By "run" you mean the analysis of the bean classes?

We only consider methods from the Jandex.

[2020-05-19 09:37] aldettinger opened #9446 "AvroRuntimeException thrown while serializing an Apache Avro schema from buildtime to runtime"
**Describe the bug**
An exception is thrown when Quarkus attempt to serialize an org.apache.avro.Schema instance while I would expect the instance to be serialized correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. In a processor, create a build step parsing an avro schema
2. Schema avroSchema = new Schema.Parser().parse("{\"type\":\"record\",\"name\":\"Value\",\"namespace\":\"org.ap

[2020-05-19 09:43] emmanuelbernard opened #9447 "Kafka and AMQP connector concurrency"
Quarkus 1.6
Requires SmallRye Reactive Messaging  2.1.0

[2020-05-19 09:47] emmanuelbernard opened #9448 "AsyncAPI support in Reactive Messaging"
Quarkus 1.8

Mostly about generating the descriptor at build time and extend it at runtime (with broker location)

Also see https://github.com/smallrye/smallrye-parent/issues/106

[2020-05-19 09:54] emmanuelbernard opened #9449 "Messaging - Tracing support"
Quarkus 1.x, with x > 7

[2020-05-19 09:58] #8838 closed

[2020-05-19 10:06] FroMage commented on #7188
OK, so even if we ran ArC after we're done transforming, it would not see the new methods unless we reindexed them.

Is that the best thing to do, do you think @stuartwdouglas ?

[2020-05-19 10:12] #9361 closed

[2020-05-19 10:33] ivan-sirosh commented on #2143
have the same error on gradle build

[code]

[2020-05-19 10:35] famod commented on #9354
FYI: I have started working on the update in Hibernate: https://github.com/hibernate/hibernate-orm/pull/3412

[2020-05-19 10:46] antoniomacri opened #9453 "QuarkusTestResourceLifecycleManagers override each others' props"
**Describe the bug**
If I have many implementations of QuarkusTestResourceLifecycleManager, they are all run before all tests, and as a consequence they override each others' properties.

Is this the intended behaviour?

**Expected behavior**
The QTRLM implementation annotated in each QuarkusTest should be run to set up the QuarkusTest itself.

**Actual behavior**
All the QTRLM implementations are

[2020-05-19 11:02] aloubyansky commented on #8519
This is already working in 1.4.2.Final. Thanks for reporting the issue.

[2020-05-19 11:02] #8519 closed

[2020-05-19 11:22] sirAlexanderT commented on #9428
@geoand master still has the slow flyway issue as well

[2020-05-19 11:24] geoand commented on #9428
@sirAlexanderT thanks for checking.

Do you have a reproducer project we can use to check this?

[2020-05-19 11:26] carlosepdsJava commented on #9360
opsss, it was not to close.

[2020-05-19 11:27] sberyozkin opened #9454 "OIDC CodeFlowTest has become unstable"

[2020-05-19 11:28] carlosepdsJava commented on #9360
@gastaldi
I will generate an example.

@radcortez
I'll generate an example and follow your recommendation

[2020-05-19 11:35] sberyozkin commented on #9454
@geoand @gsmettestAccessTokenInjection @n1hility Hi, will I disable 2 tests in the test suite which have failed recently ?

[2020-05-19 11:36] geoand commented on #9454
Sounds good to me

[2020-05-19 12:06] ia3andy commented on #5807
@maxandersen I think this should wait for the refactor https://github.com/quarkusio/quarkus/issues/8178 (and maybe done just after it?)

[2020-05-19 12:22] sberyozkin commented on #9454
#9455 disabled the 2 tests, lets see if it isolates the problem

[2020-05-19 12:28] geoand commented on #9453
Yes, **all** `QuarkusTestResourceLifecycleManager` classes on tests annotated with `@QuarkusTest` are run before any test.
So if you have multiple such classes define the same project, then the same properties will be ignored for one of them.

If you need to define priority, there is the `order` method on `QuarkusTestResourceLifecycleManager` that you can override.

Currently in Quarkus there isn'

[2020-05-19 12:28] #9453 closed

[2020-05-19 12:28] geoand commented on #9446
Thanks for reporting,

What is the easiest way to reproduce this?

[2020-05-19 12:40] geoand commented on #9313
Seems that JavaFX does work in native mode: https://gluonhq.com/native-windows-applications-using-gluon-substrate-javafx-and-graalvm/

[2020-05-19 12:56] antoniomacri commented on #9453
Thanks for the clarification.

But now I don't understand the purpose of annotating with QuarkusTestResource each test: it's practically the same as putting all QTR annotations on a single QuarkusTest?

[2020-05-19 12:57] geoand commented on #9453
You are welcome

Yes, it is effectively the same thing

[2020-05-19 13:08] mkouba opened #9456 "Bean verticles injecting @Singleton beans cause NPE during application shutdown"
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/NPE.20on.20during.20shutdown.20(using.20vert.2Ex.20NetServer)

[2020-05-19 13:10] emmanuelbernard opened #9457 "Implement a Quarkus extension for the Vert.x DB2 driver"
Hey @aguibert
This is to track that task. I'm adding it to 1.6 as it will have Vert.x 3.9.1

[2020-05-19 13:13] stephenc opened #9458 "quarkus:dev finds duplicate beans if a different version of the dependency is in the maven reactor"
**Describe the bug**

This was discovered while using a "local aggregator" pom to make importing a group of related projects into the IDE easier.

We have a group of related mukti-module projects: let's call them `common-lib`, `openwebbeans-app` and `quarkus-app`.

All these projects are in separate git repositories.

Some developers like to checkout each project in its own IDE window.

Others lik

[2020-05-19 13:15] emmanuelbernard commented on #9379
There is some good idea maturing in Hibernate ORM 6. At the moment consider waiting for the release. We can revisit earlier as needed.

[2020-05-19 13:32] emmanuelbernard opened #9460 "Offer Remote caching for Hibernate second level cache with limited data guarantee"
Need to think about the protobuf encoding
Lost knowledge as Galder left

[2020-05-19 13:47] geoand commented on #9445
I'm not really sure how we can do this effectively given that the job definition is not in our hands

[2020-05-19 13:59] stephenc commented on #9458
This is even more "fun" if the local aggregator doesn't have a `<module>quarkus-app</module>` then the `common-lib` two versions are *still* discovered... which indicates that the discovery of local code is even more zealous and finds a local reactor that doesn't even pull in the project that `quarkus:dev` is running

[2020-05-19 14:19] sonu3706 commented on #9383
@loicmathieu Thanks for highlighting.
Well, I have refactored the codebase you have a fresh look now.
Well, the issue still persists. As mentioned the issue is when I try to do HTTP GET.
Do let me know if anything else is required from my end.

Refactored logic :-
[code]

[2020-05-19 14:41] loicmathieu commented on #9383
@sonu3706 before I dig into this, did you check inside your database that the note is persisted ?

[2020-05-19 14:56] sonu3706 commented on #9383
@loicmathieu Yes its getting persisted

[2020-05-19 15:31] #9432 closed

[2020-05-19 15:46] lodrantl opened #9463 "Bad JSON returned from the default QuarkusErrorServlet"
**Describe the bug**
Using quarkus-undertow and quarkus-resteasy, if an exception is thrown in a JAX-RS endpoint and no ExceptionMapper catches it gets forwarded to QuarkusErrorServlet.

In case of JSON Accept header the stack does not get properly escaped there.

For example, I've encountered a stack ending with (there's a tab before ....):
`(SynchronousDispatcher.java:488)\n	... 53 more`
which p

[2020-05-19 16:09] aloubyansky commented on #9177
This is an example of a major issue in our gradle app model resolver. This wouldn't happen in an equivalent Maven project. Although, I think it's a good opportunity to review both and come up with a single principle to version alignment.
The issue is the deployment dependencies aren't properly aligned.

[2020-05-19 16:12] aloubyansky commented on #9177
Oh, once the version alignment is properly done, I'm seeing the original issue about the property not being found.

[2020-05-19 16:32] aldettinger commented on #9446
@geoand:
git clone git@github.com:aldettinger/quarkus-9446-reproducer.git
mvn clean install

Hope reproducer express could keep you satisfied :)

[2020-05-19 16:37] geoand commented on #9446
Thanks a lot @aldettinger!

[2020-05-19 17:17] rvansa opened #9464 "Multiple import.sql files"
**Description**
Currently `quarkus.hibernate-orm.sql-load-script` accepts only single file. It would be very nice to support a list of files. In my use case I want to keep `import.sql` for test data but at the same time I need to create some extra tables, register triggers etc. in both test and production setup. I don't want to keep these in both production-profile file and `import.sql`, but this

[2020-05-19 17:35] #9295 closed

[2020-05-19 17:38] rvansa commented on #9464
I have also considered using persistence.xml, but Quarkus does not allow me to use custom persistence.xml for each profile (and in production setup I can't run the auxiliary script from Quarkus as I am running it with different db role).
So it seems I just have to code running it from one of the `@ApplicationScoped` services.

[2020-05-19 17:54] famod commented on #1502
I just stumbled upon this. In my case it is `hibernate-jpamodelgen`.
Adding a `provided` dependency is less than ideal because we have many submodules (yes, we could define it in the root parent...) and `hibernate-jpamodelgen` has JaxB dependencies that I don't want to have on the compile or test (runtime) classpath.

PS: Noticed the problem because a message is printed on reload:
[code]

[2020-05-19 19:21] maxandersen commented on #9313
Yes. This issue is about having cdi injection between javafx models / controllers.

[2020-05-19 19:27] geoand commented on #9313
👍

I would love to look into it, but I dont know when I'll be able to...

[2020-05-19 19:32] geoand commented on #9313
Although it might be really easy, won't really know until / unless I look into it

[2020-05-19 19:47] geoand commented on #9463
Thanks for reporting!

Since you seem to have found your way around the code, would you care to submit a Pull Request fixing the issue?

Thanks

[2020-05-19 20:03] sberyozkin commented on #9454
I've spent all the day today trying to catch the cause of the problem. I don't think it happens inside the quarkus-oidc code but it is very hard to trace, running 500 tests in a row, JVM and native

[2020-05-19 20:16] geoand commented on #9454
500 runs, wow!!!

[2020-05-19 23:11] maxandersen commented on #9445
update our example job definition and we ask by opening issue on the projects to add the new section ?

[2020-05-20 00:31] stuartwdouglas commented on #9397
Yea, but you can't do it automatically.
The big problem is CompletionStage Async methods, which use the pool by default with no way to capture the context. Hopefully the move to Mutiny means this is no longer a problem.

[2020-05-20 01:35] stuartwdouglas commented on #7188
Isn't the underlying issue here just that ArC is not intercepting default methods? https://github.com/quarkusio/quarkus/pull/9472

[2020-05-20 01:52] jaikiran commented on #9047
I've raised https://github.com/quarkusio/quarkus/pull/9474 with a potential fix.

[2020-05-20 03:54] jaikiran commented on #9395
Hello @miron4dev, would you like to open a PR with your proposed fix?

[2020-05-20 04:40] carlosepdsJava commented on #9360
@gastaldi and @radcortez , follows address of the GIT repository of the code https://github.com/carlosepdsJava/9360.git

[2020-05-20 04:47] geoand commented on #9445
Yeah, that's probably the only why. But then we now have a problem with reporting, since the reporting code will run separately once for Windows and once for Linux.
Should we have separate Quarkus issues for Windows errors?

[2020-05-20 05:52] carlosepdsJava commented on #9359
Code: https://github.com/carlosepdsJava/9360-9359.git

[2020-05-20 05:57] #9047 closed

[2020-05-20 06:29] #5627 closed

[2020-05-20 06:29] cescoffier commented on #5627
This work has been completed.

[2020-05-20 06:35] cescoffier opened #9476 "Mongo - SRV support in native"
SRV URLs do not work in native because it uses JNDI to resolve the names.

One solution would be to replace this code using a substitution to resolve the record using a native-compatible approach.

[2020-05-20 06:37] Ladicek commented on #9397
I think my point is that user should use ConProp explicitly if they are submitting tasks to arbitrary thread pools. (It's not just TCCL, it's also CDI request context, security context, etc.)

At least for now, there's no better way.

(And it would require ConProp to propagate the TCCL, which it currently doesn't :-) )

[2020-05-20 06:54] cescoffier opened #9477 "Integrate reactive routes and Mutiny"
Better integration of reactive routes and mutiny to allow routes to return Uni/Multi.

[2020-05-20 06:58] cescoffier opened #9478 "Add Avro support to the Kafka connector"
It should already work, but we need to add a test verifying that Avro can be used.

We should verify using the Confluent registry and the Apicurio registry (and custom serde).

This feature deserves a specific section in the documentation.

Estimation: Quarkus 1.6

[2020-05-20 07:07] cescoffier opened #9479 "Vert.x 3.9.1 integration"

[2020-05-20 07:11] gsmet commented on #8966
Could one of you provide a simple Maven reproducer (or all of you as I'm not sure it's the same problem)? Because we won't get to the bottom of it otherwise.

@mklueh , your config should be:
[code]

Thanks!

[2020-05-20 07:17] gsmet commented on #9355
Has a feature request been open for `logstash-gelf`?

[2020-05-20 07:17] gsmet commented on #9386
/cc @loicmathieu

[2020-05-20 07:17] gsmet commented on #7451
/cc @loicmathieu

[2020-05-20 07:18] cescoffier opened #9480 "Integrate Vertx 3.9.2"
Including the MS SQL Driver

[2020-05-20 07:20] gsmet commented on #9287
Dunno how we can solve this but this looks like a very reasonable request.

/cc @stuartwdouglas

[2020-05-20 07:46] mkouba commented on #7188
@stuartwdouglas Nope, it's not about the default methods but about "synthetic" methods added during transformation...

[2020-05-20 07:53] FroMage commented on #9397
With MP-CP and `CompletionStage` it's indeed always manual. But if you already have to wrap your `CS` to get the Request Context, you'll get the `TCCL` for free.

Once you've wrapped (contextualised) your `CS`, even `Async` methods are contextualised, so I'm not sure what you mean. And if you're not wrapping the `CS` you don't get any context, `Async` or not, which leads to your request not workin

[2020-05-20 07:56] FroMage commented on #7188
OK, that's a very good point, because in this case all methods are defined on the superinterface. We're not introducing _new_ methods, we're just overriding them.

But perhaps what @mkouba is saying is that even if the class itself is marked as `@Transactional` it does not apply to interface methods it inherits IFF the user hasn't overriden them? The fact that we override them later via a transfor

[2020-05-20 08:09] sleberrigaud opened #9481 "Simple HTTP request fail with server error 500, when using JDK 11 HTTP client and websocket installed"
**Describe the bug**

Simple HTTP request fail with server error 500, when using JDK 11 HTTP client, and the `undertow-websockets` extension is installed.

**Expected behavior**

This should 200, as when the extension is not present.

**Actual behavior**

Sending an HTTP request using:
- the JDK 11 HTTP client (I'm using OpenJDK Runtime Environment GraalVM CE 19.3.1 (build 11.0.6+9-jvmci-19.3-b07)

[2020-05-20 08:14] geoand commented on #9287
We can certainly make a read-only version of `HttpServerOptions` a bean that users can inject. WDYT?

[2020-05-20 08:21] famod opened #9482 "Introduce extension to adjust logging for running Quarkus application"
**Describe the extension**
I am not sure whether this might be out of scope due to the strong build time focus of Quarkus, but it would come in handy to change log levels etc. for the running Quarkus application (without restarting it).

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
No suggestion at this time.

**Additio

[2020-05-20 08:52] loicmathieu commented on #9355
Yes, it is already linked in the description and apparently @arvidvillen is working on it so as soon as it's released we can un-freeze this one and implement it.

[2020-05-20 08:52] galderz commented on #8881
I don't expect this to be fixed, since the issue goes away using newer GraalVM 19.3.2, where the compiler has been updated to the latest one that might be used to compile the java classes. I'd suggest closing this.

[2020-05-20 09:00] phillip-kruger commented on #8543
From https://issues.redhat.com/browse/RESTEASY-2558:

Quarkus needs to provide a CompletionCallback to AbstractAsynchronousResponse
so it has something to hand the exception to. See lines 166-169 in
AbstractAsynchronousResponse.completionCallbacks

Looks like your addition needs to be made after line 105 in
io.quarkus.resteasy.runtime.standalone.VertxRequestHandler

`vertxRequest.getAsyncContext()

[2020-05-20 09:01] loicmathieu commented on #7451
If I understand it correctly, you want to send logs to ELK but not directly using our `logging-gelf` library but by generating JSON logs in the console that obey to the logstash format.

And you are suggesting that:

- The existing `logging-json` library didn't offer as much flexibility as needed.
- You will be willing to use Logback directly and it's Logstash encoder but this didn't work in dev m

[2020-05-20 09:02] loicmathieu commented on #9386
/cc @dmlloyd

[2020-05-20 09:14] mkouba commented on #9456
I'm going to close this issue - I wasn't able to reproduce the problem.

[2020-05-20 09:23] FroMage commented on #8543
Uh… was my fix not sufficient, then?

[2020-05-20 09:28] FroMage commented on #8543
I'll comment on the issue.

[2020-05-20 09:28] geoand commented on #9428
One thing I see that needs to be improved, is that we always need to use the build time locations instead of the letting Flyway re-discover them at runtime.

[2020-05-20 09:35] #9352 closed

[2020-05-20 09:35] #9296 closed

[2020-05-20 09:35] #9415 closed

[2020-05-20 09:44] Razsiel commented on #9301
I have found that adding `@Provider` above the class implementing `ClientHeadersFactory` seems to work, but this seems like a workaround. ([This](https://github.com/quarkusio/quarkus/issues/5752#issuecomment-558531981) comment seems to back this statement.)

[2020-05-20 09:50] mkouba commented on #7188
Aha, that's a completely different situation then. I'm sorry for confusion. In that case, Stuart's PR should work fine.

[2020-05-20 09:55] geoand commented on #9428
I opened https://github.com/flyway/flyway/issues/2822, lets see

[2020-05-20 10:08] FroMage opened #9487 "Panache: add support for interceptors in static methods"
ATM interceptors are only applied to beans, and not static methods.

Similar to what I've done for panache-mocking, we should be able to inject interceptor code in the static methods.

If you have a bean called `PersonRepository` ArC will generate a class called `PersonRepository_Subclass` which contains all intercepted methods:

[code]

I should be able to inject similar code in the static method

[2020-05-20 10:08] FroMage commented on #9487
WDYT @mkouba, should this work?

[2020-05-20 10:09] FroMage commented on #7188
OK great. Note that I've filed https://github.com/quarkusio/quarkus/issues/9487 for interception of static methods.

[2020-05-20 10:15] mkouba commented on #9487
Well, static methods are not intercepted in CDI. In fact, the interceptors spec explicitly forbids this scenario: _"An around-invoke method must not be declared as abstract, final or static."_ (2.5 Business Method Interceptors). So no, it should not work.

[2020-05-20 10:17] machi1990 commented on #9428
+1 on this.

Good idea.

[2020-05-20 10:19] miron4dev commented on #9395
It looks like the actual issue is deeper than I expected. Replacing the third argument by `AmazonLambdaMapperRecorder.clientCtxReader` helps, but doesn't solve the problem.

So, now we're getting the actual error:
[code]

Here https://github.com/quarkusio/quarkus/blob/master/extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaContext.java#L54
it tries

[2020-05-20 10:30] geoand commented on #9481
I see `io.vertx.core.http.impl.Http2ServerConnection` in the stacktrace.

Is the HTTP Client initiating an HTTP2 connection for some reason?

[2020-05-20 10:40] jaikiran commented on #9481
It appears to be because of this https://github.com/quarkusio/quarkus-http/pull/29

[2020-05-20 10:52] loicmathieu commented on #9383
I tested the two curl you give with the new version of your repository and it works.
[code]
I'm closing it as it's not a Quarkus issue.

[2020-05-20 10:53] #9383 closed

[2020-05-20 11:08] Sanne commented on #5381
Related PR #9009 was merged

[2020-05-20 11:08] #5381 closed

[2020-05-20 11:51] #9293 closed

[2020-05-20 12:10] emmanuelbernard opened #9489 "Add test for XA transaction with native image"
We have the option to enable it in the Agroal subsystem: https://quarkus.io/guides/all-config#quarkus-agroal_quarkus.datasource.jdbc.transactions

A better question would be 'do we have any tests for this' and as far as I can see the answer to that is no. It will probably work in JVM mode (or at least be quick to fix any issues), but I am guessing that no work has been done on the XA drivers for n

[2020-05-20 12:14] aloubyansky opened #9490 "Deployment BOM is not enforced on the build classpath"
Deployment (generally speaking the complete build) classpath is resolved by collecting Quarkus extensions (runtime artifacts) used in the applications and resolving their corresponding deployment artifacts with all their transitive dependencies. All the resolved deployment dependencies are then added "on top" of the application's runtime classpath and that is pretty much the build classpath of the

[2020-05-20 12:28] mkouba commented on #9456
Actually, it was a different problem - the `VertxProducer` used the `mutiny` wrapper field and this field is null if the wrapper is not injected anywhere: https://github.com/quarkusio/quarkus/blob/1.4.2.Final/extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxProducer.java#L132

[2020-05-20 12:33] rsvoboda commented on #8624
@geoand I'm wondering why is this problem with invalid json file visible just in native mode. Can you give me some hints?

[2020-05-20 12:38] rsvoboda commented on #8624
ah, for surefire run it uses message from application.properties

[2020-05-20 12:43] geoand commented on #8624
Exactly, it's just about how this particular test is setup

[2020-05-20 12:53] sberyozkin commented on #9454
Hi All, so I've continued tracing and I think I've reached the point where I have no idea what else can be done to trace it. Here is what is happening when a successful `testAccessTokenInjectionTest` is run:
[code]

So I run it in a long loop, and I have say 450 of the above blocks logged in exactly the same sequence.
And then, out of the blue, the following is reported:
[code]
with none of my err

[2020-05-20 12:54] sleberrigaud commented on #9481
@geoand well spotted, it could be that the HTTP client tries HTTP/2 by default. I had no idea TBH. That's actually what it says here: https://openjdk.java.net/groups/net/httpclient/intro.html

[2020-05-20 13:21] dmlloyd commented on #7451
I think the idea of customizing the JSON output is perfectly reasonable.  I believe the formatter code has some support for this already.

[2020-05-20 13:25] carlosepdsJava commented on #9481
@sleberrigaud , hi, I downloaded your code and did a test on my environment, and everything was ok .... you could consider updating the version of GraalVM. Or use https://adoptopenjdk.net (OpenJdk V11, JVM OpenJ9).

carlossantos@Carloss-MacBook-Pro quarkus-websocket-jdk-httpclient-bug % java -version
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment GraalVM CE 20.0.0 (build 11.0.6+9-

[2020-05-20 13:30] patriot1burke commented on #9395
Working on a fix.

[2020-05-20 13:30] michael-schnell commented on #9415
I tested with the new quickstart project again and dev mode works now fine.

Unfortunately in native mode the profile is still not picked up (Flyway is not started for migartion).

Starting with `./mvnw quarkus:dev -Dquarkus.profile=database` works:
[code]
Same in native mode with `./target/hibernate-orm-quickstart-multi-tenancy-1.0-SNAPSHOT-runner -Dquarkus.profile=database` does not show and Fly

[2020-05-20 13:31] patriot1burke commented on #9395
https://github.com/patriot1burke/quarkus/tree/lambda-clientcontext

[2020-05-20 13:34] geoand commented on #9415
The fix was indeed only for dev-mode. Can you please open a new issue for the problem you are seeing in native?

[2020-05-20 13:36] michael-schnell commented on #9415
OK

[2020-05-20 13:41] rsvoboda commented on #8624
I did some standalone experiments but didn't notice any missing logs so I went back to spring-cloud-config-client test on 1.3.2.Final tag

Did the following change and executed `mvn clean verify -Dnative`:
[code]

I think I see all the logs, @geoand what should be missing?

What I see is this:
[code]

[2020-05-20 13:43] patriot1burke commented on #9395
FYI, this doesn't work in native because Quarkus is parsing the context.  In a JVM deployment the lambda runtime is parsing the context.

[2020-05-20 13:46] aguibert commented on #9457
Will work on this once #9479 is complete

[2020-05-20 13:46] geoand commented on #8624
Can you try setting `quarkus.spring-cloud-config.fail-fast=true`? It should prevent the application from starting and suppress the output entirely in `1.3.2`

[2020-05-20 13:48] carlosepdsJava commented on #9482
I started quarkus without any log settings, changed the properties file, and it applied the log level for debug during hot deploy.

__  ____  __  _____   ___  __ ____  ______
 --/ __ \/ / / / _ | / _ \/ //_/ / / / __/
 -/ /_/ / /_/ / __ |/ , _/ ,< / /_/ /\ \
--\___\_\____/_/ |_/_/|_/_/|_|\____/___/
2020-05-20 10:30:40,272 INFO  [io.quarkus] (Quarkus Main Thread) getting-started 1.0-SNAPSHOT (power

[2020-05-20 13:48] michael-schnell opened #9493 "Using a profile in native mode makes Flyway stop to work"
**Describe the bug**
Using a profile in native mode makes Flyway stop to work.

**Expected behavior**
The scripts in "src/main/resources/database" should be used for migration on startup if `-Dquarkus.profile=database` is used in native mode.

**Actual behavior**
The scripts in "src/main/resources/database" are not applied on startup if `-Dquarkus.profile=database` is used in native mode. Same wor

[2020-05-20 13:49] michael-schnell commented on #9493
@stuartwdouglas @geoand As requested

[2020-05-20 13:50] geoand commented on #9493
Thank you

[2020-05-20 13:56] rsvoboda commented on #8624
That gives:
[code]
Quarkus doesn't start, but I still see the reason why

[2020-05-20 13:58] geoand commented on #8624
Damn it...
How about if you don't start wiremock at all for failsafe?

[2020-05-20 14:05] rsvoboda commented on #8624
[code]

[2020-05-20 14:08] geoand commented on #8624
Then I honestly don't know what to tell you because when I fixed the issue it was on the at the time current `master` (which was already way ahead of `1.3.x`).

[2020-05-20 14:12] sberyozkin commented on #9454
@stuartwdouglas Intercepting a start/end of request at  the vertx filter level gives some light, but more tracing is needed

[2020-05-20 14:17] phillip-kruger commented on #8543
@FroMage Not sure about your fix, but I can still create the issue using the error.zip attached above and master (SNAPSHOT-999)

[2020-05-20 14:18] geoand commented on #9493
Can you do me a favor and try `./mvnw package -Pnative -Dquarkus.profile=database` in addition to `./target/hibernate-orm-quickstart-multi-tenancy-1.0-SNAPSHOT-runner -Dquarkus.profile=database`?

I am almost certain it will work and TBH it's the intended behavior as the `locations` property is a **build-time** property, not a runtime property.

[2020-05-20 14:21] rsvoboda commented on #8624
Yeah, it's a bit frustrating not to be able to reproduce it :) Thanks for your ideas.

[2020-05-20 14:24] geoand commented on #8624
Sorry I couldn't help more :(

[2020-05-20 14:26] patriot1burke commented on #9395
@arturs-cc  How can I reproduce this?  Not sure how to create the ClientContext header and the Java API accepts a string.  This is the only docs I could find somehow that described the json.

https://docs.aws.amazon.com/mobileanalytics/latest/ug/PutEvents.html

[2020-05-20 14:30] sberyozkin commented on #9454
Something spooky is going on. So I was able to trace in a vertx filter a request for `index.html` returning `401` and then I rerun, test failed, but the vertx filter did not even show a request for `index.html`, this is strange.

[2020-05-20 14:32] arturs-cc commented on #9395
@patriot1burke Just passing the json string to Java API will work.
Here is an example to generate it:

`Map<String, Map<String, String>> root = new HashMap<>();
Map<String, String> custom = new HashMap<>();
custom.put("someKey", "someValue");
root.put("custom", custom);
return Base64.getEncoder().encodeToString(objectMapper.writeValueAsBytes(root)); // important to Base64 encode the string`

[2020-05-20 14:56] sberyozkin commented on #9454
Here is a tracing sequence at the CORS filter level with the successful test following by 401:
[code]

[2020-05-20 15:08] famod commented on #9482
@carlosepdsJava yes, in dev mode you can change logging levels etc. but not in "production mode".

[2020-05-20 15:09] rsvoboda commented on #8624
Looking at generated ApplicationImpl

1.3.2 based has this decompiled code inside protected final void doStart(String[] var1) { method:
[code]
Quarkus master has:
[code]

So the code is ensuring DELAYED_HANDLER is activated and if not console handler is set.
 - Shouldn't it be before `LOG.error` call?
 - any idea on different scenario which would end up with exception during the boot + not availab

[2020-05-20 15:10] aloubyansky commented on #9068
Ideally, it should simply fail to build. And even compile. The IDE should be highlighting this as a missing dependency. I think we should review our IDE launcher implementation to avoid this kind of issues. It enables not only guava but all sorts of other dependencies during development that won't be there at runtime.

[2020-05-20 15:11] michael-schnell commented on #9493
Yep, it works. I wasn't aware of that subtle difference. I'm going to write some more doc for the example to make this clear to the user.

[2020-05-20 15:11] #9493 closed

[2020-05-20 15:14] patriot1burke commented on #9395
Try my branch:

https://github.com/patriot1burke/quarkus/tree/lambda-clientcontext

Should be fixed.

[2020-05-20 15:15] geoand commented on #9493
That would be great, thanks!

[2020-05-20 15:24] geoand commented on #8624
The code is correct, because when `setHandlers` is called, all logging up to that point is flushed to the handler (the console handler in this case).

The trick is to throw an exception before logging has been setup properly... I can't think of anything other than the bootstrap configuration that definitively comes before logging.

[2020-05-20 15:43] carlosepdsJava commented on #9482
OOOOOoooooooooo, sorry!

Understand!!! but if you allow me, in production mode, you can change something, make a change to the application, in my humble, simple and disposable opinion, it is not very recommendable .... it hurts the principle of containerFirst applications, once created, no whether to change. for me and for my development, I don't think it's necessary. because if you uploaded somet

[2020-05-20 15:59] aguibert commented on #8925
Fix has been delivered in Yasson here: https://github.com/eclipse-ee4j/yasson/pull/409
It will be available in the next release

[2020-05-20 16:02] evanchooly commented on #9239
I just fired up the kotlin-panache integration tests and inspected the generated schema and `Person.status` gets mapped to a `varchar(255)` column.  How/where are you seeing this?  Now this is using the updated code to fix the panache handling of kotlin classes so maybe this got fixed for "free."

[2020-05-20 16:40] sberyozkin commented on #9454
OK, I've directed output to the text file and this 401 is somewhere earlier as it is all async:
[code]

So it is some progress I guess

[2020-05-20 16:49] FroMage commented on #9487
Well, in the general case, sure, you don't want to run interceptors on bean static methods, because you can't without instrumentation.

But here we're talking about entities, they're not beans, and we most certainly do want to allow people to run interceptors for those cases. I'm not sure the CDI spec constraint applies here.

[2020-05-20 16:55] nimo23 commented on #9482
why not? Look at other (centralized) log management, one can adjust the log level at runtime, which makes sense dependent on the use case. For example, the user can adjust its log level (bound by NDC (Nested Diagnostic Context)) as needed while the application is running..

[2020-05-20 17:11] carlosepdsJava commented on #9482
Okay, I expressed my opinion, if you arrived in production with an error, this is very wrong! When I worked supporting Java applications, I got horrible things, for example, applications in production with logging in debug mode. This is something for those who are not managing their development.

[2020-05-20 17:24] michalszynkiewicz opened #9500 "Reduce grpc verbosity"
Most of the information should be logged in `debug`, only `gRPC server started should stay on INFO`

[code]

[2020-05-20 17:37] vaswanijitesh opened #9501 "unable to delete s3 object with = in the key path using quarkus native executable with graalvm"
**Describe the bug**
Unable to delete s3 object with = in the key path using quarkus native executable with graalvm. if I use java 11 runtime for my quarkus jar deployed as a lambda, then it works successfully!

This code is using a AWS SDK V2 S3Client to delete a key from a bucket where there is a = sign in the name of a directory which is in the path of a key. For example
Bucket name: bucket
Key

[2020-05-20 17:43] miron4dev commented on #9395
@arturs-cc @patriot1burke ClientContext must contain base64-encoded data, but AWS itself is responsible for decoding.

The fix works like a charm if you remove `Base64.getDecoder().decode` because on this step you have already decoded string. https://github.com/patriot1burke/quarkus/blob/cac6b2cd1bf8d2cc9814c7f9c9f946f97a3bb653/extensions/amazon-lambda/common-runtime/src/main/java/io/quarkus/amazo

[2020-05-20 18:17] #9389 closed

[2020-05-20 18:28] patriot1burke commented on #9395
Ok, took out the base64 decode should be good.  Docs are horrible here.  Either of you know how the Cognito header is passed?  Couldn't find any info about it.

[2020-05-20 18:58] gsmet commented on #9500
Also, you have `[SSL enabled: false]` on one line and `[SSL enabled: true]` on another. There must be something wrong.

[2020-05-20 20:27] maxandersen commented on #9339
That is not a bad workaround @sorin-costea  - would you be up for documenting that in the logging guide ?

[2020-05-20 20:43] sorin-costea commented on #9339
@maxandersen sure I could make a PR to logging.adoc to add a section for IDE runs. Thing is, I only use Eclipse. I assume VSCode would need to add the workaround to settings.json (per project/workspace, good). About IntelliJ I have absolutely no idea.

[2020-05-20 21:36] maxandersen commented on #9339
lets get it started with one - then the rest will come :)

[2020-05-20 22:37] famod opened #9505 "QuarkusTest is downloading dependencies to default localRepository (ignores MAVEN_HOME/conf/settings.xml?)"
**Describe the bug**
While trying out 1.5.0.CR1, I saw duplicate downloads: First the "regular" ones by the main Maven process but then a second time when the first `@QuarkusTest` was executed.
I then renamed `~/.m2/repository` and voilà: The main Maven process does not re-download anything but the test execution does.
It seems the test execution is not picking up my settings from `MAVEN_HOME/conf

[2020-05-20 23:02] rquinio opened #9506 "quarkus-ide-launcher breaks mvn dependency:analyze"
**Describe the bug**

When using https://maven.apache.org/plugins/maven-dependency-plugin/analyze-only-mojo.html there are some issues due to the new quarkus-ide-launcher introduced in 1.4 that is shading a lot of classes from other dependencies:

[code]

It's possible to exclude the dependencies shaded by quarkus-ide-launcher from the analysis but the more you exclude the less interesting the plu

[2020-05-21 03:46] stuartwdouglas commented on #9454
In the vert.x PR today there was a random test with no relation to security that failed with a 403. I wonder if there is a race somewhere in our security layer.

[2020-05-21 04:06] jaikiran opened #9509 "Evaluate introducing "release" property to configure the --release version used by Java compilation"
Creating this so that I don't forget about it - as discussed here https://github.com/quarkusio/quarkus/pull/9245#issuecomment-627767962 the `--release` option used by Java compiler isn't currently not fully supported through the Maven Quarkus plugin. We need to evaluate what can be done to support this and whether such a support is useful.

[2020-05-21 05:03] stuartwdouglas commented on #9068
The only real option here would be to shade all the IDE launcher dependencies, although we will need to be careful about which ones to shade.

[2020-05-21 05:06] stuartwdouglas commented on #9339
This is called 'Templates' in intellij, in the same screen you edit the run configuration you can edit the JUnit template, so it applies to all runs.

[2020-05-21 05:07] jclingan opened #9510 "Error with HTTP POST using "REST Data with Panache" extension"
**Describe the bug**
HTTP POST with results in an error, but GET, PUT, and DELETE work.

**Expected behavior**
HTTP POST should add entity to H2 database.

**Actual behavior**
Error on HTTP POST:
[code]

**To Reproduce**
Reproducer [here](https://github.com/jclingan/quarkus-panache-rest).
* mvn quarkus:dev
* Run example commands in reproducer README.md

**Environment (please complete the following

[2020-05-21 05:24] stuartwdouglas commented on #9319
I think this should be fixed by https://github.com/quarkusio/quarkus-http/pull/32

[2020-05-21 05:52] tobad357 opened #9511 "ClassCastException for QuarkusTestResourceLifecycleManager across modules in gradle"
**Describe the bug**
There is a class cast exception when using a test resource from another gradle module

**Expected behavior**
We should be able to use test resources from other modules

**Actual behavior**

@aloubyansky this is based on the project inject-bean-from-test-config

Add LibraryTestResource.java in library/src/test/org.acme
[code]

In application/src/test/java/org/acme/ExampleResour

[2020-05-21 06:46] geoand commented on #9510
cc @gytis

[2020-05-21 06:52] geoand commented on #9511
@tobad357 Thanks for reporting!

Two things:

1) Have you tried with `1.4.2.Final`? If not, can you try and let us know if that version suffered the same problem
2) Do you have a small reproducer we can use?

[2020-05-21 07:10] tobad357 commented on #9511
No problems

1. Can't test as including test deps from another module doesn't work in 1.4.2.Final. It was fixed for 1.5.0.CR1

2. Please see included which is an adaptation of inject-bean-from-test-config under devtools/gradle/src/funcationalTest/resources/

Build it by doing
[code]

[inject-bean-from-test-config.zip](https://github.com/quarkusio/quarkus/files/4661025/inject-bean-from-test-config.

[2020-05-21 07:12] geoand commented on #9501
Thanks for reporting,

maybe it's because I haven't used the AWS stuff myself, but reading the description I don't see how this can reproduced.
Can you please enrich the description?

Thanks

[2020-05-21 07:14] geoand commented on #9511
You mean it works for 1.4.2.Final ?

Thanks

[2020-05-21 07:15] tobad357 commented on #9511
I don't know if it works as can't get that far due to issue #9232

[2020-05-21 07:16] mkouba commented on #9487
Ok, my point was that interceptors are in general not intended to work with static methods. I think that we could make it work but there are few challenges:
1. Interceptors are not stateless - they are dependent objects of the bean instance they intercept. We could either create new interceptors for each invocation of a static method or hold the interceptor instances in a dedicated "store".
2. The

[2020-05-21 07:17] #7188 closed

[2020-05-21 07:17] geoand commented on #9511
I see, thanks

[2020-05-21 07:25] #3533 closed

[2020-05-21 07:28] aloubyansky commented on #9511
I'll have next week.

[2020-05-21 07:31] mkouba commented on #9487
I can try to prepare a POC to see how difficult it would be...

[2020-05-21 07:33] geoand commented on #9446
I looked at this and there isn't much Quarkus can do here.
Bytecode recording doesn't work with any type under the sun and in this case it doesn't work because the `getTypes` method of `Schema` throws an exception (and Quarkus has no way to know how to skip this method).

So as I am sure you have already done, you'll have to pass the String from the processor to the recorder.

[2020-05-21 07:33] #9446 closed

[2020-05-21 08:19] arturs-cc commented on #9395
Documentation on those parts really are crap. I would search aws mobile sdk for clues. AFAIK it uses Cognito.
https://github.com/aws-amplify/aws-sdk-android

[2020-05-21 08:59] geoand commented on #9505
I just tried setting `localRepository` in my `MAVEN_HOME/conf/settings.xml`  and everything worked as expected.
I saw all the extra artifacts being downloaded from the tests go into the `localRepository` I set.

[2020-05-21 09:05] gytis commented on #9510
This line doesn't work as expected https://github.com/resteasy/Resteasy/blob/master/resteasy-links/src/main/java/org/jboss/resteasy/links/impl/AbstractLinksProvider.java#L84. It calls `Class.forName("org.acme.rest.Person")` but gets an exception.

PUT with a new entity also doesn't work.

We call this RESTEasy class to get a URL of a newly created object in order to include it in a `Location` head

[2020-05-21 09:08] geoand commented on #9510
What kind of exception do you get from that method? Seems weird to get an exception there...

[2020-05-21 09:20] gytis commented on #9510
Considering that it continues the execution it has to be `ClassNotFoundException` because it's the only one being caught by a try block.

[2020-05-21 09:21] geoand commented on #9510
Is this a dev-mode only problem? If it is, then I think I know the cause and what needs to be done to fix it (it will have to be in RESTEasy)

[2020-05-21 09:22] gytis commented on #9510
Let me try. But I guess it could be because it never came up in the integration tests.

[2020-05-21 09:23] gytis commented on #9510
Yeah it works fine with a runner jar.

[2020-05-21 09:25] geoand commented on #9510
OK, then we need a change in RESTEasy. We need to add a `getServiceType` method that will take an additional `ClassLoader` argument.
When we call that method, the CL we pass in will be the TCCL.

Obviously once that fix is in RESTEasy, we'll need to add a Quarkus DevModeTest.

Does that make sense?

[2020-05-21 09:29] gytis commented on #9510
Yeah I assumed it's a CL issue. Just wondered why didn't it show up in a regular execution mode.

[2020-05-21 09:30] geoand commented on #9510
Because in regular execution mode there is only one ClassLoader.

[2020-05-21 09:32] gytis commented on #9510
I thought that. Didn't know it's different from the application point of view in a dev mode.

[2020-05-21 09:33] gytis commented on #9510
Anyway, I'll fix it. And I've already been planing to reorganise the tests, so will add dev-mode tests at the same time.

[2020-05-21 09:34] geoand commented on #9510
Great thanks!

[2020-05-21 09:41] geoand commented on #9481
@jaikiran now that your quarkus-http PR has been merged, I assume all we need is new release to be picked up by Quarkus to fix this?

[2020-05-21 09:43] geoand commented on #9506
@aloubyansky seems related to what some folks were reporting about running from tests the IDE, no?

[2020-05-21 10:40] loicmathieu opened #9513 "Flyway didn't works using fast-jar"
**Describe the bug**
Flyway didn't work using the new fast-jar functionality.

When using the following config property
[code]

Flyway generates a WARNING :

[code]

**Expected behavior**
As with the normal Quarkus runner JAR, Flyway should find and execute the migration scripts.

**Actual behavior**
Flyway didn't find the migration files inside the classpath.
They are located inside `src/main/res

[2020-05-21 10:52] jaikiran commented on #9481
Hello @geoand, although I haven't personally tried this application against a snapshot version containing that fix, I do believe that the fix should get the user past this specific exception, once it's integrated into Quarkus.

[2020-05-21 11:08] sberyozkin commented on #9454
Hi @stuartwdouglas, All, I think I've pinpointed it, it is a favourite one of @Ladicek, sometimes the tokens are apparently issued at too early due to some clock skew, so I get a Vertx `Inactive token` - we don't log yet though :-)

[2020-05-21 11:12] aloubyansky commented on #9506
Oh, sure, https://github.com/quarkusio/quarkus/blob/master/test-framework/junit5/pom.xml#L22

[2020-05-21 11:17] aloubyansky commented on #9506
The main issue is about the ide launcher though :) @stuartwdouglas as you mentioned we should at least shade the packaged API. Do you agree?

[2020-05-21 11:38] Ladicek commented on #9454
I would expect that there would be no clock skew in these tests, as everything runs on a single machine?

[2020-05-21 11:44] sberyozkin commented on #9454
It can be just a matter of `>` vs `>=` check etc, I'm running up to 1000 tests in one go (500 in JVM, followed by native), `Inactve Token` means Vertx check comparing iat or exp has failed, HtmlUnit is involved, around 5 HTTP requests in a single test, so something is getting out of sync